[2017-03-18 00:23] jarenduan commented on #17026
@ericstj, thank you for your generous help. It works!

I've learned from your solution that remember to examine the building target of the old packages when there're something wrong.

Thanks to everyone got involved. You guys did a very good job.

[2017-03-18 00:26] karelz commented on #17026
Thanks @ericstj for guidance! I didn't follow all technical details - is there anything we could/should do in product (e.g. tooling) or in docs to make the experience better?
Or is this exceptional one off problem?

[2017-03-18 00:29] danmosemsft commented on #15339
Yes, by defining UWPCompatible and triggering off that.

[2017-03-18 00:30] Priya91 commented on #17222
@danmosemsft Yes, that seems like a reasonable change, the 10s is a guesstimate. Also note that initially it was 5, and we bumped it to 10 sec.

@Jiayili1 The timeout is [here](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.ServiceProcess.ServiceController/tests/System.ServiceProcess.ServiceController.Tests/ServiceControllerTests.cs#L25). Thanks for helpi

[2017-03-18 00:45] BruceForstall commented on #17214
We can't write a Vector3 as 16 bytes because the struct is defines as only 12 bytes in size. If it is a member of a struct, we would overwrite what follows. We can't read past 12 bytes, either, if that might cross a page boundary.

For local variables, the JIT does read/write Vector3 as 16 bytes.

[2017-03-18 00:55] karelz commented on #17236
@ericstj @weshaggard packaging bug?

[2017-03-18 01:04] Priya91 commented on #17175
Yes 👍

[2017-03-18 01:07] karelz commented on #17175
Is it ready for API review? Or do we need more investigation / discussion?

[2017-03-18 01:42] NickCraver commented on #17202
@saurabh500 I'd expect to see such functionality in another library, e.g. `System.Data.SqlClient.AzureAD`. If you're using Azure AD, you reference that package. I think this integrates well @weshaggard's option 2 above (which I agree with).

[2017-03-18 01:44] saurabh500 commented on #17202
Thanks for the feedback.

[2017-03-18 01:44] #17202 closed

[2017-03-18 02:11] #17256 closed

[2017-03-18 02:19] Happypig375 opened #17267 "Add BigDecimal and BigRational to System.Numerics"
While BigInteger is useful for really big integers, it cannot represent really big decimals.

BigRational would be useful in fractional operations (think of 1/3) while BigDecimal could represent something like the square root of 23E-234.

BigDecimal could be straight forked from the J# source (which Microsoft should have) and BigRational could also be straight forked from another pile of Microsoft

[2017-03-18 02:19] hughbe commented on #5552
Grabbing this one

[2017-03-18 02:41] tloo commented on #14946
@weshaggard we have decided not to change corefx directly. We will use some working around solution. Thanks for the following up.

[2017-03-18 02:41] #14946 closed

[2017-03-18 02:43] tannergooding commented on #17214
@BruceForstall, but there is no reason why Vector3 can't be internally implemented as a 16-byte structure so we receive the full perf benefits of doing so.

For something as simple as adding two vectors together, Vector3 is currently 1.3x slower on the perf test (and Vector2 is marginally slower from that as well).

If there is some legitimate concern that someone has taken a dependency on the fac

[2017-03-18 02:46] tannergooding commented on #17214
One such way to provide a perf increase would be to provide a set of extension methods on Vector4 that treat it as a Vector2 or Vector3. These instructions would still be backed by intrinsics, but would require the user to explicitly opt into the functionality (either by referencing an additional assembly or by importing some special namespace that includes these extension methods).

[2017-03-18 02:46] Happypig375 commented on #17267
Update: #2376 already has BigRational covered, so this issue will focus on BigDecimal.

[2017-03-18 02:52] tannergooding commented on #17214
and by `internally implemented`, I mean that today it is implemented as follows:
[code]

Changing the structure to the following would allow us to load/store as 16-bytes and still only allow the user to access the W component.
[code]

The only concern from this modification is that some user has hard-coded that the size of Vector3 is 12-bytes. However, I believe the overall perf-benefits of such a

[2017-03-18 03:19] sivarv commented on #17214
@tannergooding - The very initial implementation of Vector3 was a 16-byte struct.  When we checked with a dev from Unity GameEngine and also with XNA graphics library folks, they have strongly indicated to us that for using Vector3 it has to be exactly of 12-bytes in length.  The reason is that their libraries have a version of Vector3, that is used in interop and to facilitate adoption by these c

[2017-03-18 03:27] mellinoe commented on #17214
Many applications of `Vector3` require it to be an actual 12-byte struct (graphics programming mainly). It would essentially be unusable if it were 16-bytes in storage size. We can do optimization tricks where the difference is unobservable (and we already do some of those), but `Vector3` does fundamentally need to be 12 bytes in length.

[2017-03-18 03:29] cwe1ss commented on #16491
Seeing what's going on in https://github.com/aspnet/Hosting/pull/964 increases my concerns with this API even more. It seems like it currently does a lot of things different than what's recommended in your guideline document. Even if this (hopefully) will be resolved by the time it will get merged, I'm still wondering how other people - who are not under your supervision - should get this right in

[2017-03-18 04:17] tannergooding commented on #17214
I somewhat disagree with this statement. Native multimedia applications (including graphics programming) work completely fine with 16-byte structs (just look at the DirectXMath library, where all the functions operate on `FXMVECTOR`, which is 16-bytes).

As for existing managed frameworks (such as Unity and XNA) I would say that this is an implementation detail on their end, and was likely done to

[2017-03-18 05:04] kouvel commented on #4834
Yes, plus `TaskContinuationOptions.ExecuteSynchronously` and `TaskCreationOptions.RunContinuationsAsynchronously` can affect where a continuation runs. See calls to `ThreadPool.UnsafeQueueCustomWorkItem` and the conditions under which that happens.

It's not very clear from the information we have so far that there is an actual issue here. Closing, please reopen if you have new info that is likely

[2017-03-18 05:04] #4834 closed

[2017-03-18 06:42] danmosemsft commented on #17267
/cc @dcwuser

[2017-03-18 07:29] yizhang82 commented on #17153
@Dia6lo I gave the instruction a try on my MBP (using the MacOSX 64-bit tarball) and it worked for me. I copy/pasted some code from Mono.POSIX (and strip out some unnecessary dependency) and it just worked.

[code]

[2017-03-18 08:04] karelz commented on #5552
Assigned to you, have fun @hughbe and thanks!

[2017-03-18 08:46] doggyde commented on #17226
Thank you for you comments.

In my case it is a dev environment and the certificates are issued by the server I am talking to itself. So everything works like a charme in linux/core or win/fullframework. Later in production environment everthing will be 'trustable' and follow the chains to a ca root. It is just the win/core version, that won't call the validation callback.

[2017-03-18 08:46] davidfowl commented on #4834
@clrjunkie are you trying to make `GetContextAsync` run continuations on the IO thread?

[2017-03-18 09:43] benaadams commented on #17214
Increasing in memory struct size (vs register) would cause issues with interop on packing with arrays of them.

[2017-03-18 09:52] hughbe commented on #15850
This looks fixed. Thanks @stephentoub

[2017-03-18 09:52] #15850 closed

[2017-03-18 10:11] mikedn commented on #17214
Maybe I'm missing something but that's already the case. A `Vector3` ends up in a SSE register and most operations are as if it was a `Vector4` - you get `addps`, `mulps` and so on.

In terms of storage size, yes, it has 12 bytes and not 16. That results in rather inefficient load/stores and coupled with the lack of optimizations that can result in messy code. For example:
[code]
generates
[code]

[2017-03-18 10:18] JefStat opened #17272 "http request in docker container fails with curl error"
Near the end of converting a webapi 2 service to aspcore I've run up against a problem hosting the aspcore service in docker. The problem is that no HttpRequest are working anymore in the project. They throw the follow exception:
[code]

And they only throw this exception when running inside the docker container  `FROM microsoft/dotnet:1.0-runtime` and `FROM microsoft/dotnet:1.1.1-runtime` This ex

[2017-03-18 10:57] RehanSaeed commented on #9788
Has anyone got this working with csproj and netcoreapp1.1?

[2017-03-18 11:53] #16180 closed

[2017-03-18 12:43] #16919 closed

[2017-03-18 12:59] stephentoub commented on #17198
Hmm... this appears to be a difference between desktop and core.  This program:
[code]
on desktop prints:
[code]
but on core prints:
[code]
@yizhang82, @jkotas, is this difference by design?

[2017-03-18 13:06] ianByrne commented on #17123
I've now resolved this issue for my project by using **dotnet lambda package**. More details [here](http://stackoverflow.com/questions/42868476/aws-lambda-and-net-core-using-a-linux-runtime/42874741#42874741), if anyone else has the same problem.

[2017-03-18 14:14] manixrock opened #17273 "Generic Type Check Inlining"
When writing performance-critical code it often leads to code duplication.

Let's say we wanted to make a method that applies an effect on an image, in our case we want to apply a gray-scale and an optional invert. The code could look like this:

[code]

However if we expect the invert to be only rarely used, that code is slower than it can be because of the constant `if (invert)` check inside the

[2017-03-18 14:44] tannergooding commented on #17214
@benaadams, what interop code expects it to be 12 bytes?

The point I'm trying to make is that for both GPU and CPU, the register size of a Vector3 is 16-bytes. Because of this, both the CPU and GPU are optimized for loading and storing aligned, 16-byte chunks of memory.

The architecture design manuals specify that doing a single unaligned load/store is also preferred over doing multiple load/sto

[2017-03-18 14:53] stephentoub commented on #17272
Are you able to use curl to access the same url from inside the docker container?

[2017-03-18 15:05] mikedn commented on #17273
This is a runtime/compiler/language issue (coreclr/roslyn repositories), the framework (corefx) doesn't have much to do with this.

The .NET JIT usually does that if you use value types. As in:
[code]
When generic arguments are value types the JIT has to generate specialized code for each value type. That enables some optimization including recognizing that `typeof(invert) == typeof(True)` is alwa

[2017-03-18 15:11] clrjunkie commented on #4834
@davidfowl Yes. and as stated at the beginning of this issue it's tedious and code bloat with SynchronizationContext most of the time the next operation is also an enqueue to IOCP (e.g Database socket call) so there is no need to switch to another thread for that.. quite frankly I don't see any obvious use-case that would justify a thread switch .. Windows thread pool will release another thread i

[2017-03-18 15:13] stephentoub commented on #17198
Ah, nevermind, I realized my example was flawed.  This code:
[code]
prints out:
[code]
on core.  The issue in my first example is that Console.WriteLine is using a P/Invoke with SetLastError, and I believe the known, by-design difference in core is that SetLastError zeros out the error code when making a P/Invoke.

[2017-03-18 15:13] #17198 closed

[2017-03-18 15:21] stephentoub commented on #4834
Somehow I missed this question when it was added last year. Apologies.

You can see the implementation here.  This code determines what kind of continuation to create based on the value of ConfigureAwait's bool and the current SynchronizationContext and TaskScheduler:
https://source.dot.net/#System.Private.CoreLib/src/System/Threading/Tasks/Task.cs,2579
and if there was a captured SynchronizationC

[2017-03-18 17:19] WinCPP commented on #2751
@brianrob sorry, I was working on setting up perf sandbox for another issue... Just a few thoughts... As I understand, we are gravitating towards the resolution _"ok to break the behavior for now, only for one time, **but** let's keep the interface intact"_ Please correct if I got it wrong.

There is directed associativity `Trace` -> `TraceInternal` -> `TraceListener`. `TraceListener` pulling out

[2017-03-18 17:22] karelz opened #17275 "Migrate new convenience APIs into extension methods"
Highly used generic types (mostly Collections) pay high cost for every API (method) we add to it.

We should revisit the decisions of adding new APIs (esp. convenience APIs) directly on the type and consider moving them into extension methods instead (in future and potentially revisit those we added during 2.0 and did not publish yet).

Context: see @jkotas's comment and guidance here: https://git

[2017-03-18 17:23] karelz commented on #17275
@terrajobst @stephentoub @weshaggard @danmosemsft we should discuss it on Tuesday the latest ...

[2017-03-18 17:35] karelz commented on #17275
cc @ianhays @safern @AlexGhiondea @joperezr for Collections and Runtime areas which are potentially impacted the most in CoreFX.

[2017-03-18 17:58] danmosemsft commented on #17275
Remove -- https://github.com/dotnet/corefx/issues/15622
TryAdd https://github.com/dotnet/corefx/issues/1942 -- this one I think we were OK with the perf and code size

[2017-03-18 17:58] jkotas commented on #17275
It is not a high cost for every API. It becomes high cost once the per-API cost gets multiplied by non-trivial number of APIs. Death by thousand paper cuts sort of problem.

Also, this is not a black and white. Some new additions are fine - in particular the ones that make a significant dent in the usability of the type (e.g. new APIS on ArraySegment), but there is balance to strike.

[2017-03-18 18:15] karelz commented on #17275
Here's a proposal (for common generic classes):
* If it is primarily convenience API (usability), make it extension method, unless it would have really bad perf which we believe matters.
    * Examples: `Dictionaty<,>.GetValueOrDefault()`, `Remove`, `TryAdd`, etc.
* If it is core API for the type, add it into the type - any recent examples?
* If it is perf-sensitive API which cannot be implemented

[2017-03-18 18:21] stephentoub commented on #17275
TryAdd was convenience but also to avoid two lookups when one would suffice, in a commonly-used pattern. The latter part can't be done externally to the type.

[2017-03-18 18:24] davidfowl commented on #4834
@clrjunkie Unfortunately there's no way to guarantee that behavior unless the underlying system supports it natively and gives you ways to specify where callbacks run.

[2017-03-18 18:50] benaadams commented on #17275
Some apis get a benefit from being a member e.g. `Dictionary<TKey,TValue>.TryAdd` not doing a double check

Others just use the public interface so shouldn't loose much from being an extension
e.g.
`Span<T>.Clear()` -> `.Clear(this Span<T>)`  (though struct copy overhead?)
`Span<T>.Fill(T value)` -> `.Fill(this Span<T>, T value)`
`Array.Fill<T>(T[] array, T value)` -> `.Fill<T>(this T[] array, T v

[2017-03-18 18:59] mellinoe commented on #17214
Like I said, graphics programming. It is extremely common to send massive amounts of `Vector3`'s (think hundreds of thousands+) into GPU buffers in a very short amount of time. GPU memory and bandwidth is a limited resource, and there are very particular requirements around data size, format, and alignment when sending data to the GPU. The "physical shape" of these structures is very much a part o

[2017-03-18 19:04] terrajobst commented on #17116
I like the idea to use APIs to describe the runtime capabilities so that we can model which features a runtime implementing a specific .NET Standard version has to support so that compilers can rely on that.

the existence of an attribute application is too subtle for my taste: it's easily missed by regular diffing tools and not covered by our existing API compliance tools. We could of course fix

[2017-03-18 19:13] tarekgh commented on #17273
Issue moved to [dotnet/coreclr #10282](https://github.com/dotnet/coreclr/issues/10282) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-18 19:13] #17273 closed

[2017-03-18 19:18] benaadams commented on #17214
Serialization and deserialization of arrays of data

[2017-03-18 19:27] benaadams commented on #17214
Serialization and deserialization of arrays of data from storage

Arrays of Structures in gpu format so a Vertex passed to gpu will be
[code]

Note this interleaved data

![](https://developer.apple.com/library/content/documentation/3DDrawing/Conceptual/OpenGLES_ProgrammingGuide/Art/interleaved_vertex_data_2_2x.png)

Is still 4 byte aligned in terms of the Vertex

[2017-03-18 19:40] jkotas commented on #17116
If you want to do a light up in a library.

There are really two distinct cases to think about:
- New compiler features running into bugs in existing runtimes. It is the case of the generic attributes mentioned above. You can use them fine, as long as you do dot use the one reflection API that fails on them. I do not think it makes sense to block language features just because of you can run into

[2017-03-18 19:43] dagood commented on #16126
This part of the work is something I could do:

Adding a property to the checked-in build defs or pipeline.json and changing these instances of OverwriteOnPublish to `false`: https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=OverwriteOnPublish.

That would fail without this part of the solution, though, which I can't do quickly:

@ericstj If you can do the second part (`OfficialBuild` sound

[2017-03-18 19:54] benaadams commented on #17116
A related area is Vectors where `IsHardwareAccelerated` was the go to. However there are newer apis like `Narrow` and `Widen` which will only be hardware acclerated on newer (as yet un-merged) jits; so would also need detection.

[2017-03-18 20:11] benaadams commented on #17214
As an aside; you might not manipulate these data structures on CPU; but you'd probably expect them to work rather than having to write
[code]
But is just an example; bones etc you would likely be manipulating cpu side (though they may be an array of `Vector4`s)

[2017-03-18 20:19] svick commented on #17267
What is the point of `BigDecimal` if you already have `BigRational`? Is it different performance characteristics?

`BigDecimal` certainly couldn't represent `sqrt(23E-234)` accurately, because that is not a rational number.

[2017-03-18 21:17] tannergooding commented on #17214
@benaadams, yes. However, the loads performed here can always be 16-bytes where the 'extra' field is thrown away.

Take this sample C# code:
[code]

which generates:
[code]

and the corresponding C++ code:
[code]

which generates:
[code]

Now, I know that the total size of my array is a multiple of 16, so I'll fix my code (this isn't a very good example, since in this scenario we could just iterat

[2017-03-18 21:54] mikedn commented on #17214
That has more to do with the calling convention rather than `Vector3` being 12 bytes in size. Things aren't great in the case of `Vector4` either because it is passed via memory instead of being passed in a register. Ideally the JIT should support the vectorcall convention and all vector types should be passed via registers.

Of course, if a function has a lot of parameters you can't pass all of t

[2017-03-18 22:10] benaadams commented on #17214
@tannergooding that's why I specified the difference of memory vs register

i.e. register can be 16 bytes and operate on 16 bytes; its only when its loaded or written back to RAM (array or member variable) it needs to respect 12 bytes; and other things like SizeOf<T>/Marshal

[2017-03-19 01:52] #12678 closed

[2017-03-19 01:59] tannergooding commented on #17214
@benaadams, so it sounds like we are roughly saying the same thing, and I'm (as usual) just bad at expressing things via text 😄

[2017-03-19 02:23] tannergooding commented on #17214
@benaadams, @mikedn, @mellinoe
I think from the discussion so far, the following points can be made:
* The existing support, which is that a Vector2/Vector3 are treated as 8/12-bytes in memory, is fine (although the codegen could be improved)
	* However, when the value is passed on the stack from one method to another, passing it as 16-bytes is acceptable
		* Passing on the stack as 16-bytes is ac

[2017-03-19 05:08] mvadu opened #17278 "System.Configuration Namespace in .Net Core"
What is the suggested replacement for `System.Configuration` in .Net Core? I have an application which relies heavily on the custom configuration files. The system uses classes such as `ConfigurationElement`, `IConfigurationElementCollectionElement` .

ASP.NET Core project has a configuration system via `Microsoft.Extensions.Configuration`,  but that is not in place replacement for old `System.Con

[2017-03-19 06:15] karelz commented on #17275
Thanks @stephentoub @benaadams for pointing out that `TryAdd` belongs to category [3] and not [1]. I didn't go deeper on the examples - I probably should have. My proposal is now updated to avoid further confusion.

[2017-03-19 10:36] donatasm commented on #16025
Any workarounds up until it's fixed?

[2017-03-19 12:49] Happypig375 commented on #17267
`BigDecimal`: Irrational numbers
`BigRational`: Rational numbers
That is a difference to me.

By the way, the corefx team does not seem to like `BigRational` so they closed the issue. Why not add `BigDrcimal` if `BigRational` gets denied?

[2017-03-19 13:16] mikedn commented on #17214
@tannergooding One small observation:

AFAIR vectorcall allows structs to be passed via registers - e.g. a struct containing 3 float/double/__mm128 members can be passed via 3 xmm registers. It would probably make sense for a struct containing 3 Vector3 members to also be passed via 3 xmm registers, one for each Vector3.

[2017-03-19 13:56] WinCPP commented on #12662
@karelz I think I can work on this one as well...

[2017-03-19 14:12] davidfowl commented on #16840
@shiftylogic This needs to be implemented for `ReadOnlySpan<T>`

[2017-03-19 14:29] PhilipDaniels commented on #17068
This is a common need, I have a similar class, though the names are different. One suggestion: the Verify method should return the object being verified, because this value often gets assigned to a member variable. This enables compact statements of the form

    this.foo = NotNull(foo, nameof(foo));

[2017-03-19 15:04] jarenduan commented on #17026
@karelz, well, some old packages rely on install.ps1/init.ps1 to do some stuffs, and according to my understanding, these scripts are not supported in the new version of Nuget. I guess we should consider including these changes in the [nuget docs](https://docs.microsoft.com/zh-cn/nuget/create-packages/creating-a-package).

And speaking of tooling, we now have nuget/dotnet/msbuild all in vs2017. I

[2017-03-19 15:20] tannergooding commented on #17214
@mikedn, you are correct. Certain structs count as HVA (homogeneous vector aggregate) values.

[2017-03-19 15:25] stephentoub opened #17281 "Proposal: SocketAsyncEventArgs.SetBuffer(Memory<T>)"
See discussion here:
https://github.com/dotnet/corefx/pull/17237#issuecomment-287613725

[2017-03-19 15:27] jamesqo commented on #17068
@svick

Not everyone uses the same index/count names; some places in the framework it's `offset`, some `arrayIndex`, and some `destinationIndex`. IMO, it would be confusing if an exception was thrown with a different parameter name. We should wait to see the fate of https://github.com/dotnet/csharplang/issues/287; if that is approved, then we can receive all of the argument names for free.

Depend

[2017-03-19 15:40] JefStat commented on #17272
Yes I can access the url using curl from inside the container.

[2017-03-19 15:42] stephentoub commented on #17272
Can you share a small app demonstrating the problem, something that we could run to try to repro it?

What OS are you on?  What version of .NET Core are you using?  Any other details?

[2017-03-19 15:44] geoffkizer commented on #17281
A couple thoughts on this:

I wonder if Span<T> (or Memory<T>) is the way to do this.  That is, if there's a way a Span can tell us that its memory is pre-pinned, then we could just add overloads that take Span (which it seems like we will probably want anyway) and then have them check if the given Span is pre-pinned.  I chatted with @KrzysztofCwalina about this not too long ago; he was going to t

[2017-03-19 15:46] JefStat commented on #17272
I've been trying to create a demo app to no avail so far but I'll work on it today again.

[2017-03-19 15:47] stephentoub commented on #17272
Thanks.

[2017-03-19 16:31] davidfowl commented on #17281
`Memory<byte>` would be the way to go here once it's fleshed out. We just added `Memory<T>.Pin` which returns a `MemoryHandle<T>` https://github.com/dotnet/corefxlab/blob/91a112c619f008db7acc2e8f0a7d382889691c9b/src/System.Buffers.Primitives/System/Buffers/MemoryHandle.cs. This will pin if it needs to otherwise will return the pointer and keep the ref count up so it doesn't get disposed.

`args.Se

[2017-03-19 16:36] stephentoub commented on #17281
Since we'd want to do the Memory one anyway to work with native memory, and since I think there are other overheads to work on removing first, I suggest we just hold off until that and then add that one.

[2017-03-19 17:41] saurabh500 opened #17282 "SqlClient Named Pipes on Windows doesn't work with \\.\pipe\sql\query"
While connecting to a Named Pipe instance like \\.\pipe\sql\query using SqlClient on Windows, the connectivity fails.
This is happening because `Uri` parsing considers '.' in hostname as an invalid Uri.
This is a supported connection string data source and is particularly needed for LocalDb support in Managed SNI.
Needed for https://github.com/dotnet/corefx/issues/17166

[2017-03-19 17:42] saurabh500 opened #17283 "Named Pipes integrated authentication doesn't work"
On Windows, the integrated authentication for Named Pipes doesn't work.
This is because in Managed SNI, the tokens are being fetched only during the TCP connectivity.

This is particularly needed for LocalDB support
https://github.com/dotnet/corefx/issues/17166

[2017-03-19 19:45] saurabh500 commented on #16421
@danmosemsft Can we assume that it's safe to close this issue as well?

[2017-03-19 19:48] saurabh500 commented on #10850
This issue doesn't seem valid any more. Also there were no more hits and a lot of changes have gone into this area.

[2017-03-19 19:48] #10850 closed

[2017-03-19 19:49] saurabh500 commented on #10849
No more recurrences of this issue. This seems like an intermittent issue with DLL load, which may have been caused due to underlying changes to Core or Infra. Closing this issue as there have been no recent recurrences.

[2017-03-19 19:49] #10849 closed

[2017-03-19 19:52] saurabh500 commented on #3184
SqlClient now uses all the Interops from the Common folder except for sni.dll which shouldn't be moved to common as no other assembly has any use for it.

[2017-03-19 19:52] #3184 closed

[2017-03-19 20:07] stephentoub commented on #16421
We haven't seen it again since the relevant fixes went in. Let's close it. We can reopen if we see it again.

[2017-03-19 20:07] #16421 closed

[2017-03-19 20:10] VSadov commented on #17116
I could see how feature employing dynamic codegen (like dlr) could benefit from dynamic checks for jit bugs and such.

As a general light-up - not sure. The alternative code paths would still need to be compiled even if not used.

[2017-03-19 20:35] karelz commented on #17281
Should we fold this request into #13892? It tracks all BCL places that should start using Span & friends, once the API surface is final enough.

[2017-03-19 20:42] karelz commented on #12662
Assigned to you @WinCPP.

[2017-03-19 21:14] ViktorHofer commented on #15098
@JeremyKuhne Am I missing something or aren't there any tests yet for the Path class? I see the two tests which are flagged with this issue:
- WindowsPathWithIllegalColons (System.IO.FileSystem.Tests.File.Move.cs)
- PathWithInvalidColons_ThrowsArgumentException (System.IO.FileSystem.Tests.Directory.CreateDirectory.cs)

but I don't see any files which are testing the Path class in coreclr mscorlib

[2017-03-19 21:55] pyrocumulus commented on #17032
Same here. I pride myself in my ability to Google the heck out of error messages and knowing what to do with them. But it took me multiple hours to find out the same thing Giorgi also discovered. Although part of that time was admittedly spent on figuring out what .NET Standard actually is.

I'm just starting a new class library project and I read everywhere that .NET Standard is the target you sh

[2017-03-19 22:06] karelz commented on #17032
@pyrocumulus (and everyone else), can you please check if the docs changes @mairaw @weshaggard and @terrajobst are working on would have avoided some of the confusion you encountered? Is there more we should do?
* https://github.com/dotnet/docs/pull/1724
* https://github.com/dotnet/standard/pull/243 (this one will piggy back on final form of the one above)

[2017-03-19 22:22] pyrocumulus commented on #17032
@karelz both docs changes look very good. A lot clearer than before. As you've also said: the old table was understandable but only if you put your mind to it. These changes remove that aspect from it, they are just immediately clear.

I do also agree with @sam-wheat in https://github.com/dotnet/standard/pull/243 on putting some additional textual guidance on how to use the table. Just to be sure

[2017-03-19 22:48] bcronce opened #17286 "SpanPool"
Like the new `ArrayPool`, I could see a SpanPool being useful once/if Span becomes better supported.

And since `Spans` are structs, you could do cool stuff like a bunch of Spans could be backed by a single large Array, allowing better cache locality, assuming the Spans are larger than a cache-line and multiples of a cache-line. And reducing object counts. Shrinking the pool could also represent a

[2017-03-20 00:10] davidfowl commented on #17286
Not sure if this makes sense. Span is stack only. Take a look at System.Buffer.Primitives in corefxlab to see the current thinking here. The pool returns an OwnedMemory which can be passed around and is reference counted. You can then get spans and memory from that object needed.

[2017-03-20 00:49] NickCraver commented on #1420
@karelz The milestone label is incorrect here, this never made it into 1.0 - it's only available in 2.0+ AFAIK.

[2017-03-20 01:27] sam-wheat commented on #17032
Suggest that "runtime" or "platform" is used - but not both.  Or are they different? I am STILL confused by this!

Suggest: Various versions of the NET platforms implement different .NET Standards.

[2017-03-20 01:44] stephentoub commented on #17281
Added to https://github.com/dotnet/corefx/issues/13892

[2017-03-20 01:44] #17281 closed

[2017-03-20 01:56] karelz commented on #1420
@NickCraver you're first person ever to care about milestones in closed issues (beside me ;-)).

I bulk edited ~4K closed bugs since December. Mostly just based on issue closed date as the best approximation.
This particular issue was resolved as dupe during 1.0.0 time-frame, however the main issue #1797 was fixed only for 2.0 as you point out.
I think it boils down to interpreting milestones on i

[2017-03-20 02:11] bcronce commented on #17286
I'm not entirely sure what you mean by "stack only". The Span is a struct, but the array it points to is on the heap. I do see a lot of "ref", but they all (I think all) point back to offsets in the heap object.

What does raise some flags is the usage of "Pinnable", which is difficult to follow how it's used via GitHub. If the object actually gets pinned, it would make me question how to best use

[2017-03-20 02:24] geoffkizer commented on #13892
Stream.Read/Write[Async]
Socket.Send/Receive[Async]

[2017-03-20 02:29] Jiayili1 commented on #17222
@danmosemsft @Priya91 I will change the 10 to 30 and update the pull request link here.

[2017-03-20 02:59] Jiayili1 commented on #17222
https://github.com/dotnet/corefx/pull/17288

[2017-03-20 03:12] davidfowl commented on #17286
It means it *cannot* live on the heap. You can read more about it here https://github.com/dotnet/coreclr/issues/5851. It means you can't store it in a field of a class (as an example).

Yep, take a look a OwnedMemory, and friends https://github.com/dotnet/corefxlab/tree/master/src/System.Buffers.Primitives/System/Buffers.

[2017-03-20 04:00] davidfowl commented on #17281
@karelz I'm not a fan of uber issues like that. It's ok for overall tracking but each work item should have its own issue.

[2017-03-20 04:29] jamesqo commented on #13892
Did we also forget about the IO APIs? https://github.com/dotnet/corefx/issues/6740#issuecomment-253602220

[2017-03-20 05:10] #17222 closed

[2017-03-20 05:20] dcwuser commented on #17267
I'd love to see an extended precision floating point type added to .NET, but BigDecimal probably isn't a good candidate.

### Decimal vs Binary Floating Point
First off, as the name implies, BigDecimal is a base-10 FP type like [decimal](https://msdn.microsoft.com/en-us/library/system.decimal). Such types are an order-of-magnitude slower than analogous base-2 FP types, and are pretty much only of

[2017-03-20 06:10] davidfowl commented on #6740
Span may not really work well for some of these APIs because of the stack only nature of it (specifically the async APIs)

[2017-03-20 06:13] Jiayili1 commented on #15065
This issue is repro on build [20170318.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170318.01/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FOpenExeConfiguration1_UserLevel_PerUserRoamingAndLocal)

[2017-03-20 06:14] Jiayili1 commented on #15066
This issue is repro on [20170318.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170318.01/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FexePath_UserLevelPerRoamingAndLocal)

[2017-03-20 06:17] Jiayili1 commented on #16962
This issue is repro on build [20170318.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170318.01/workItem/System.Runtime.Tests/analysis/xunit/System.Tests.TimeZoneInfoTests~2FIsDaylightSavingTime_CatamarcaMultiYearDaylightSavings)

[2017-03-20 06:25] karelz commented on #13892
Top post updated with both @geoffkizer's and @jamesqo's links.

[2017-03-20 06:29] karelz commented on #17281
@davidfowl I agree that the separate issues are valuable to discuss specific design points. However, `Span<T>` was far from final back then (not sure where we are now) and having 10s of issues spread around was creating more confusion and distraction rather than value.
Once `Span<T>` is ready for its prime time in stable API surface (i.e. no huge changes like e.g. #16997), we can kick off / reopen

[2017-03-20 06:40] Jiayili1 commented on #16945
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_debug/134/testReport/System.Net.Sockets.Tests/SendReceiveEap/SendToRecvFrom_Datagram_UDP_loopbackAddress____1_/

[2017-03-20 06:55] Jiayili1 commented on #13298
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_release/140/testReport/System.Net.Http.Functional.Tests/HttpClientHandler_ServerCertificates_Test/NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds/

[2017-03-20 07:01] Jiayili1 commented on #16201
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_portablelinux_debug/48/testReport/System.Net.Tests/HttpWebRequestTest/GetResponseAsync_GetResponseStream_ContainsHost_remoteServer__https___corefx_net_cloudapp_net_Echo_ashx_/

[2017-03-20 07:22] davidfowl commented on #17286
@bcronce  even better https://github.com/dotnet/csharplang/pull/264/files

[2017-03-20 10:03] ObsidianPhoenix opened #17292 "DataFlow: Add ability to restrict Duplicates"
The DataFlow components are great for managing concurrency/queueing. However, they do not provide a way to ensure that items are not added more than once at a given time.

For instance, if you are using an `ActionBlock` to process files received, there is no mechanism to ensure that the file is not added a second time if it is already present (e.g. via a manual catchup process).

    class Program

[2017-03-20 10:04] karelz commented on #17278
It's back in 2.0: https://github.com/dotnet/corefx/tree/master/src/System.Configuration.ConfigurationManager

[2017-03-20 12:46] #17108 closed

[2017-03-20 12:47] #5552 closed

[2017-03-20 12:55] stephentoub commented on #17292
Thanks for the suggestion.

This could be done in a variety of ways, e.g.
[code]
and then targeting filter instead of the action block directly, or just building that filtering logic into the ActionBlock itself.  Or using a BufferBlock that has a filter on its link to the action block and that dumps everything already seen to a null target, e.g.
[code]
Etc.

I'd personally be hesitant to add a mec

[2017-03-20 13:15] stephentoub commented on #17292
I see the value in this, but it's complicated.  This information is "exposed", but only to a debugger right now.  The trouble is that by nature the blocks are manipulating these data structures concurrently with any code you might write outside the block to process them.  Exposing this would necessitate adding synchronization to ensure the data was kept consistent.

This could also be accomplished

[2017-03-20 14:40] migueldeicaza commented on #17116
I can not pinpoint exactly the problem, but the proposal generally leaves a bad taste in my mouth.

We seem to be mixing up two issues here: how should the compiler choose what code it generates, and later in the discussion we added a discussion on how this might be potentially useful at runtime.

The former problem seems to be, how should the compiler decide how to generate code.   It seems that

[2017-03-20 15:07] ObsidianPhoenix commented on #17292
Your solution with the `BufferBlocks` appears to be solve the primary problem I'm trying to solve. I can see your points on the trickiness of doing so with the concurrency.

[2017-03-20 15:58] stephentoub commented on #17292
Great.  Glad it works for you.

[2017-03-20 15:58] #17292 closed

[2017-03-20 16:03] karelz commented on #16805
@davidfowl can you please loop in right ASP.NET folks -- @ericstj mentioned to me that you guys depend on the 8 new APIs we added. I would like to understand if the above plan makes sense end-to-end also for ASP.NET.
* What will be the impact on you?
* Will you be able to depend on older package for some time?
* Will you need to cross-compile for Desktop and use the "old" workaround APIs there?

[2017-03-20 16:21] #16923 closed

[2017-03-20 16:31] weshaggard commented on #17236
@mattleibow what are you targeting? Are you targeting .NET Framework?

There is a 4.1.0.0 version of this library in the nuget package under `lib\netstandard1.3\System.Xml.ReaderWriter.dll`

[2017-03-20 16:33] ChaseFlorell opened #17299 "HttpMethod should include "PATCH" as a property"
# Latest Proposal

Expose Http `PATCH` Verb alongside [existing verbs on `HttpMethod`](https://apisof.net/catalog/System.Net.Http.HttpMethod) `GET`, `PUT`, `POST`, `DELETE`, etc. and on [`HttpClient` as Async methods](https://apisof.net/catalog/System.Net.Http.HttpClient)

[code]

# Original Proposal

## Description

As a part of Http requests, PATCH is an often used way to do a partial update of

[2017-03-20 16:48] danmosemsft commented on #17278
@mvadu are you willing to give it a try? You will need to run on 2.0. (https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md)  The package you then need to reference is https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Configuration.ConfigurationManager
If you're on ASP.NET Core, you'd need dogfooding instructions specific to that.

[2017-03-20 16:52] danmosemsft opened #17300 "Flaky test System.Diagnostics.TraceSourceTests.SwitchClassTests.PruneTest"
This test fails when a GC happens to occur after this `<<<<` line

I'm not sure what it's trying to achieve (beyond testing the GC itself) so I can't guess what the fix is.

[code]

[code]

@brianrob

[2017-03-20 16:55] stephentoub commented on #17300
I assume the test itself is trying to verify that new switches aren't rooted by something internally.  But that Assert.True is simply flawed and should be removed.

[2017-03-20 16:57] karelz commented on #9394
Thanks @bartonjs for finishing the work.
FYI: It was 8 months full-time feature for @bartonjs to finish it off. Great job!

[2017-03-20 16:59] weshaggard opened #17301 "Update dogfooding instructions"
See comments at
https://github.com/dotnet/corefx/commit/38dfde9b867a25db2d98b1fdcb86dddbd87d5928#commitcomment-21392770 from @marksmeltzer.

There are 2 issues that should be looked at.

1. Why the Microsoft.NETCore.Platforms package isn't built by default.
2. Why does setting BuildNumberMinor not update the package version

cc @ericstj

[2017-03-20 17:08] ianhays commented on #15098
@ViktorHofer There are Path tests; they live in [System.Runtime.Extensions](https://github.com/dotnet/corefx/tree/master/src/System.Runtime.Extensions/tests/System/IO). Those tests are testing the Path class that we get from mscorlib.

[2017-03-20 17:20] KrzysztofCwalina commented on #17281
One way to make it work for pre-pinned memory would be the following:
1. Make Memory.Pin call OwnedMemory.Pin, instead of BufferHandle.Create(_owner, _index)
2. Make OwnedMemory.Pin virtual. Pre-pinned memory would return cached handle without actually doing any pinning.

[2017-03-20 17:27] shmao opened #17302 "Porting Serialization Tests in NetNative Repo only to CoreFx"
Here are the list of tests that exist in NetNative repo only. We'd like to port the tests to CoreFx as we are going to remove the tests from NetNative repo soon.

[code]

/cc: @zhenlan

[2017-03-20 17:31] ericstj commented on #15339
Seems like that requires too much manual opt-out.  Any netstandard config would be treated as UWP compatible unless someone opts the project out of it.  We have a better way of doing this.  If you look at how we binplace we calculate if a current configuration is "best" for a given configuration.  We could piggy-back on that logic for enabling UWP.

[2017-03-20 17:31] ericstj commented on #15339
I'm ok with treating this as an improvement rather than anything blocking 2.x.

[2017-03-20 17:34] ericstj commented on #16126
Sure, please add pipeline changes.  LMK when they are in then I will use that property.

[2017-03-20 17:39] danmosemsft commented on #17300
@brianrob can you confirm we can just remove `Assert.True(weakSwitch.IsAlive);`?

[2017-03-20 17:40] ericstj commented on #16805
I clarified the title since we can't actually ship a facade for this since the contract name == inbox implementation name.

[2017-03-20 17:43] davidmatson opened #17304 "Provide overloads of File.Copy that support cancellation and progress"
File.Copy uses the Win32 CopyFileW/A API. There's also CopyFile2 (or CopyFileEx), which support cancellation and progress. That API should enable exposing additional overloads of File.Copy:
* `(..., CancellationToken cancellationToken);`
* `(..., IProgress<CopyFileProgressInfo> progress);`
* `(..., IProgress<CopyFileProgressInfo> progress, ICancellationToken cancellationToken);`

With something li

[2017-03-20 17:45] davidmatson commented on #17304
Suggested labels (don't think I have permissions to assign):
* area-System.IO
* enhancement

[2017-03-20 17:47] davidmatson commented on #17304
It probably makes sense to provide similar overloads for File.Move at the same time using the MoveFileWithProgress Win32 API.

[2017-03-20 17:49] bartonjs opened #17305 "DSACng does not match netfx or NIST when H < sizeof(q)"
A TODO got left in the implementation of DSACng concerning the scenario where the hash size is smaller than the Q size: https://github.com/dotnet/corefx/blob/2c32fb1c1a14a054609a6f1a94927eb4e13bdd5e/src/Common/src/System/Security/Cryptography/DSACng.SignVerify.cs#L61-L70.

The code, as it stands, produces answers when netfx does not.  And a NIST CAVP test confirms that the behavior it does do is n

[2017-03-20 17:50] ericstj commented on #17301
Because it is a pkgproj and doesn't specify any BuildConfigurations.  Thus we build it only during the '-allConfigurations' build.  I'm fine changing this but I'd need folks to let me know when they want this thing built.  I'll also need to make it aware of the [`OfficialBuild` property we're adding](https://github.com/dotnet/corefx/issues/16126#issuecomment-287569805).

I suspect that is because

[2017-03-20 17:52] davidmatson opened #17306 "Provide a File.CopyAsync method"
Related to #17304.

File.Copy currently blocks the calling thread. As mentioned in the related issue, .NET alternatives lose significant performance optimizations done within the CopyFile* APIs. It would be great if .NET had a good, general purpose, async file copy method. Doing so well (fast) probably requires a new Win32 API that support something like overlapped I/O to avoid blocking the callin

[2017-03-20 17:53] davidmatson commented on #17306
Suggested labels (don't think I have permissions to assign):
* area-System.IO
* enhancement

[2017-03-20 17:58] Priya91 commented on #17174
Verified the bug repros with .NET Core. Requires further investigation.

[2017-03-20 17:59] steveharter commented on #17305
Yes this should match desktop semantics. Thanks

[2017-03-20 18:20] AlexGhiondea commented on #16962
/cc @eerhardt

[2017-03-20 18:22] benaadams commented on #17275
Another reason for using extensions on generic types is it allows for specialisation of the methods based on type (e.g. `Span.IndexOf(this Span<T>, ...)` that also has `Span.IndexOf(this Span<byte>, ...)`)

[2017-03-20 18:24] AlexGhiondea commented on #13871
This is something we need to address. Moving to Future to help costing.

[2017-03-20 18:26] AlexGhiondea commented on #9859
@zabulus yes, I tried that but was unable to repro.

[2017-03-20 18:26] karelz commented on #17302
Just curious, are the tests applicable to CoreCLR, or are they .NET Native specific? I assume the former, but checking ...

[2017-03-20 18:29] shmao commented on #17302
Right, some of them are not applicable to CoreCLR, e.g. `*WindMdTypes` tests. We, however, need to investigate further to determine.

[2017-03-20 18:30] karelz commented on #13871
Is it Runtime specific? The left work feels like Infrastructure work.

Given that it does not impact CI and impact on devs is small-ish, I am fine with pushing it into Future.

[2017-03-20 18:30] marksmeltzer commented on #17301
The current behavior makes sense if (a) the packing isn't affected by debug/release settings and (b) the packaging is a lengthy operation. If both are true, then we just need to have a way to manually invoke the packaging build. We currently have build-native and build-managed. If there is a build-packages, or equivalent, then it is just a matter of updating the documentation.

I would be perfectl

[2017-03-20 18:34] danmosemsft commented on #12013
@joperezr is there any value in this issue now or can it be closed?

[2017-03-20 18:34] shiftylogic commented on #16492
I've tested this method with variations using up to 8 GB of memory on both 32-bit (only up to 2 GB here) and 64-bit without reproducing this bug.

Either a change since the bug was discovered has fixed it, or something else triggers this that my sample app is not doing.

[2017-03-20 18:35] svick commented on #17304
Is there a good way to implement these overloads on Unix?

[2017-03-20 18:39] AlexGhiondea commented on #13871
@karelz yes, this is infra related.

[2017-03-20 18:48] JeremyKuhne commented on #15098
This was an unfortunate oversight on my part. :( I actually updated desktop to throw NotSupported in 4.6.2 and above. Tests weren't running against the 4.6.2 TFM. We should probably update tests to make sure we're checking the TFM when running on desktop.

[2017-03-20 18:52] AlexGhiondea commented on #9788
We realize this is frustrating and we are working on figuring out a way to fix this.

[2017-03-20 19:13] #16962 closed

[2017-03-20 19:17] eerhardt commented on #16962
That build didn't have the fix from CoreCLR.

I see that build 20170318.01 was for SHA 82b5bc0a10112853f92740861f386117f499add3 of Corefx.  I navigate to https://github.com/dotnet/corefx/blob/82b5bc0a10112853f92740861f386117f499add3/dependencies.props#L31, to see what version of CoreCLR that build of CoreFX used.

I then took CoreCLR build `beta-25115-02` and mapped it to commit https://github.com

[2017-03-20 19:28] MarkPflug opened #17308 "dotnet core api documentation is a huge step backward"
It is my opinion that the high quality of the documentation provided for the .NET BCL has always been one of its strong points. Pressing F1 in Visual Studio would usually provide you with great detail about how to use an API. With VS2017 and the new .NET Core help system I feel there has been a massive step backwards in the value provided by the documentation.

Compare the old documentation for Sq

[2017-03-20 19:28] ericstj commented on #16571
What if instead of re-writing the contract assembly we always create a new assembly with only the identity information from the contract?  That way we wouldn't preserve this garbage from the desktop reference assembly.

[2017-03-20 19:31] mellinoe commented on #16571
Yes, I was assuming we were already doing something like @ericstj said. I don't think it makes sense to shoehorn this stuff into GenFacades when we could easily just build a new assembly without any problems.

[2017-03-20 19:50] davidsh commented on #17226
Thank you for the added info.

This issue is caused by a limitation in the .NET Core Http APIs. We are now building on top of native OS APIs (WinHTTP for Windows), we cannot hook into the same logic as .NET Framework. Due to this, we have this limitation where problems in the specified client certificates will cause the custom server validation callback to not be called.  This is no possible fix i

[2017-03-20 19:52] ViktorHofer commented on #15098
@ianhays thanks for pointing out!
@JeremyKuhne don't bother!

How should we continue now? Of course we need to rewrite the tests and remove the issues from it. That should be a quick fix. Where do we change the TFM for the tests?

I'm willing to fix the tests.

[2017-03-20 19:54] karelz commented on #17302
Got it, that makes sense, thanks!

[2017-03-20 19:55] karelz commented on #13871
@AlexGhiondea can you please summarize what should happen (I am not sure if I followed all details) and change the area label then? Thanks!

[2017-03-20 20:00] weshaggard commented on #16571
I don't consider it shoehorn'ing as it was how genfacades was designed. It is only a matter of clearing one more set of stuff from the Assembly model to fix this. If you switch to generating the entire assembly from scratch there will be a bunch of potential issues that crop up that will need to be tested and dealt with. We started with the contract or partial facade intentionally so we didn't hav

[2017-03-20 20:07] AlexGhiondea commented on #13871
Reading through the comments, we have 2 options:
1. do nothing -- the tests should be skipped in CI already and we do want it to run in CI

[2017-03-20 20:09] davidsh commented on #17014
The current, stable, System.Net.NetworkInformation NuGet package is this one:
https://www.nuget.org/packages/System.Net.NetworkInformation/4.3.0

The 'net46' binary in that package is a DLL with assembly version:

[code]

When using this package in a .NET Framework based solution, the use of binding redirects are REQUIRED  in order to vaoid problems.

So, adding something like this to your app.con

[2017-03-20 20:09] #17014 closed

[2017-03-20 20:10] kouvel commented on #13871
I think the request was to disable it by default when running locally so that it does not cause the same popup dialog if a postmortem debugger is set up on the machine

[2017-03-20 20:12] karelz commented on #13871
Agreed, we should ideally do something here (unless it is extra costly).
Moving to Infra area - cc @mellinoe

[2017-03-20 20:13] davidsh commented on #13922
@karelz

Can you clarify what this is and where it is documented?  I don't understand what code changes/annotations we should be making for this issue.

[2017-03-20 20:14] ericstj commented on #16571
Isn't the stuff we are using today wrong though?  The fact that this bug exists means that the cruft from the desktop assembly is being persisted rather than the meaningful stuff from the corefx build.

[2017-03-20 20:17] weshaggard commented on #16571
We already strip most things out (https://github.com/dotnet/buildtools/blob/master/src/GenFacades/GenFacades.Core/GenFacades.cs#L647) we are just missing the stripping out of the global module methods that the managed C++ compiler outputs. We haven't hit this case yet because we haven't done this generation from any managed C++ compiled assemblies until now.

[2017-03-20 20:23] JefStat commented on #17272
Sadly I've not been able to reproduce this in the end I manually recreated all my projects in VS2017 and copied in the .cs files to fix the issue.

[2017-03-20 20:24] raffaeler opened #17309 "Recognize the framework and version of an assembly with the MetadataReader"
The System.Reflection.Metadata.MetadataReader class allows me to read the metadata without loading permanently the assembly in memory.

Once I open the assembly with the MetadataReader, what is the best way to distinguish the assemblies targeting different frameworks?
- netstandard (framework neutral)
- .net framework
- .net core

And for each of those, how can I read the version (I mean for examp

[2017-03-20 20:25] ericstj commented on #16571
There are plenty of module refs in System.dll as well (from pinvokes I presume) that aren't being stripped, but I guess we didn't notice those either?

[2017-03-20 20:30] paalmoest commented on #17039
Any news on this ? @karelz @leecow

[2017-03-20 20:33] weshaggard commented on #16571
I don't see any global module level functions in our system.dll facade. Perhaps we are talking about different things. At any rate if there is other unnecessary garbage we should clean it out as well. The System.Data one came up because we end up with bogus Type/Member references in these global properties when doing analysis on facade which we don't even need so we should clean them out.

[2017-03-20 20:33] karelz commented on #17039
@saurabh500 was digging into it ...

[2017-03-20 20:37] karelz commented on #13922
It is only in early design discussions. It won't make it into 2.0.

Can we / should we obsolete this particular member the traditional way?

[2017-03-20 20:43] davidsh commented on #13922
Can we / should we obsolete this particular member the traditional way?

The "traditional way" was to simply add the annotation to both ref and implementation.  But that will potentially break serialization as noted above.

The only other thing we can try is to only deprecate it in the 'ref'.  Wes commented on that:

Adding 'obsolete' to even the 'ref' will cause compiler errors since it is a warn

[2017-03-20 20:51] danmosemsft commented on #16799
@jkotas did you plan to do this one? if not do you believe we should keep this in 2.0?

[2017-03-20 20:52] danmosemsft commented on #13345
@kouvel should this be in 2.0? Is it necessary for 2.0?

[2017-03-20 20:53] kouvel commented on #13345
It's a nice-to-have, not necessary

[2017-03-20 20:56] kouvel commented on #13345
Marked as 'bug' instead of 'enhancement' because there shouldn't be any case where RWLockSlim should be slower than RWLock, but it's not a regression

[2017-03-20 20:58] krwq commented on #16781
@tintoy @anthonylangsworth @peterwurzinger - I just edited the first post with updated list of remaining items for 2.0.0 work. I do not think there is much left here. Please let me know in here if you'd like to help with any of those items.

[2017-03-20 20:59] saurabh500 commented on #10198
SNI.dll has been fixed to allow Azure connectivity.

[2017-03-20 20:59] #10198 closed

[2017-03-20 21:02] saurabh500 commented on #16670
This should be fixed with https://github.com/dotnet/corefx/issues/16918

[2017-03-20 21:02] #16670 closed

[2017-03-20 21:06] ianhays commented on #16352
I'm closing this as it isn't something we would want to modify in CoreFX.

[2017-03-20 21:06] #16352 closed

[2017-03-20 21:11] svick commented on #17309
I think you can do this by looking at the [`TargetFrameworkAttribute`](https://msdn.microsoft.com/en-us/library/system.runtime.versioning.targetframeworkattribute(v=vs.110).aspx) of the assembly. For example, for .Net Standard 1.3, the `FrameworkName` is `.NETStandard,Version=v1.3`, while for .Net Framework 4.5, it's `.NETFramework,Version=v4.5`.

(I don't know System.Reflection.Metadata, so I can

[2017-03-20 21:13] ianhays commented on #17106
Seems reasonable. Do you have any perf results of common scenarios where checking if the value already exists in the collection will save us something?

[2017-03-20 21:14] raffaeler commented on #17309
Thank you, this is what I am doing by reading that custom attributes at Assembly level.
I was wondering if there some global flag in the metadata that can speed up the operation.

[2017-03-20 21:24] SamuelEnglard commented on #17306
I don't think new Win32 APIs would be needed, though I full admit they would make it much easier. Using the `CopyProgressRoutine` callback should be enough.

[2017-03-20 21:26] davidmatson commented on #17306
How would the method be made async without a new Win32 API? The current CopyFile* APIs all block the calling thread until the copy completes, right?

[2017-03-20 21:44] tintoy commented on #16781
Hi @krwq - today's a bit hectic, do you mind if I have a look at this later and get back to you tomorrow morning (AEST)?

[2017-03-20 21:47] SamuelEnglard commented on #17306
I thought there was a way to have them return early but on looking again seems there isn't. I very much suspect there is a way to do this, just maybe not obvious.

[2017-03-20 21:53] joperezr commented on #12013
I would base myself more on actual apicompat baselines to see what we are missing as opposed to this issue since types have moved around so stuff that needed a configuration before might not need it now or vice versa. So I guess it's fine to close for now.

[2017-03-20 21:57] TheSamsterZA commented on #9846
@davidsh @karelz This needs to be reopened and escalated as high up as possible IMO. The impact of these issues are far-reaching and costing everyone time and money.

@karelz I think it would be a good idea to collate and outline very clearly what the issues are and what the plan is in order to fix this, similar to what you did with https://github.com/dotnet/corefx/issues/11100.

[2017-03-20 22:05] mellinoe commented on #16571
https://github.com/dotnet/buildtools/pull/1401

[2017-03-20 22:33] #12013 closed

[2017-03-20 22:37] mellinoe commented on #14469
To clarify, we expect that Fedora 25 will be supported by our "Portable Linux" binaries in .NET Core 2.0. We are not going to be producing any Fedora 25-specific stuff in corefx, so I don't believe there is any particular work to be done for this here in corefx. We have an internal work item filed to ensure that we have test coverage on Fedora 25.

[2017-03-20 22:37] #14469 closed

[2017-03-20 22:44] mellinoe commented on #9917
@gkhanna79 @wtgodbe Could you give a rough estimate of the work remaining for this? (Just trying to get a sense of the time needed for current "area-Infrastructure" issues).

[2017-03-20 22:47] steveharter commented on #9543
Closing this PR. Appears to be product bug, not test bug.

[2017-03-20 22:57] anthonylangsworth commented on #16781
@krwq I am currently on holidy in Hawaii. I am typing this overlooking
waves gently caressing the the beach under a blue, cloudless sky. I want to
help but forgive me for not doing so until I get back to Austrlia.

On Mon, 20 Mar 2017, 11:45 AM Adam Friedman <notifications@github.com>
wrote:

--
Anthony Langsworth

[2017-03-20 22:58] steveharter commented on #9543
Flagging this as product bug, not test bug. Adding a Task.Delay(1) at the end of makeAndValidateRequest() appears to mask the issue and avoid the occasional exception. Perhaps there is a timing or race condition stemming from calling LoopbackServer.AcceptSocketAsync for each run (with the same server).

This can be repro'd on Windows by changing the
[code]
to
[code]
or similar large value. I've fo

[2017-03-20 23:06] saurabh500 commented on #16975
TNIR will be supported after 2.0

[2017-03-20 23:09] mellinoe commented on #14588
I'll try to tackle the things mentioned above, most likely just the top-priority stuff to get this back into buildtools. Further refactoring could be done once it is cleanly merged back into buildtools.

[2017-03-20 23:09] gkhanna79 commented on #9917
I would say a sprint.

[2017-03-20 23:11] saurabh500 commented on #16892
@FrancoisM Can you provide a repro?

[2017-03-20 23:13] saurabh500 commented on #13032
Closing as this is not a .Net Core SqlClient issue

[2017-03-20 23:13] #13032 closed

[2017-03-20 23:13] karelz commented on #16892
11 days no response, closing. Feel free to reopen if there's a repo.

[2017-03-20 23:13] #16892 closed

[2017-03-20 23:15] karelz commented on #9917
I assume OneCoreUAP has nothing to do with UWP=2.1, right?

[2017-03-20 23:16] karelz commented on #13032
@saurabh500 so where is the problem? In the app?
If it is another .NET Core component or VS, we need to route it, not close it ...

[2017-03-20 23:18] saurabh500 commented on #13032
@karelz you had already provided a path forward to report this in comments above

[2017-03-20 23:18] marksmeltzer commented on #17301
These may be non-issues. Please see the comments I added here https://github.com/dotnet/corefx/commit/38dfde9b867a25db2d98b1fdcb86dddbd87d5928#commitcomment-21392770.  Adding the "-packages" modifier to the scripts (or "-allConfgurations") fixes the issue I was having with the Microsoft.NETCore.Platforms package being outdated. So, that just needs to be added to the Dev Guide and/or the dogfooding

[2017-03-20 23:19] SamuelEnglard commented on #17306
A thought: While not great one solution would be to queue requests to the same disk (or at least volume) up on a dedicated thread similar to how timers work.

[2017-03-20 23:21] gkhanna79 commented on #9917
We will need to bring it up for that.

Thanks,
Gaurav

-------- Original message --------
From: Karel Zikmund <notifications@github.com>
Date: 3/20/17 4:16 PM (GMT-08:00)
To: dotnet/corefx <corefx@noreply.github.com>
Cc: "Gaurav Khanna (CLR)" <Gaurav.Khanna@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [dotnet/corefx] Enable CoreFX test runs on OneCoreUAP images for x86 and x64

[2017-03-20 23:29] karelz commented on #13032
Ooops, missed/misread my own comment, embarrassing :( ... Thanks @saurabh500!

[2017-03-20 23:29] karelz commented on #9917
Would it make more sense track it as 2.1 issue then?

[2017-03-20 23:36] karelz commented on #9846
@TheSamsterZA I am working on that. Overall feedback on impact is actually very useful for me to explain other team members and higher management that it matters A LOT.

I think we should not reopen this particular issue, I think this is bigger problem than just System.Net.Http. IMO we need a new general issue to track automatic bindingRedirects. I'll try to get to it in next couple of days (it's

[2017-03-20 23:38] gkhanna79 commented on #9917
Sounds good to me.

Thanks,
Gaurav

From: Karel Zikmund <notifications@github.com>
Reply-To: dotnet/corefx <reply@reply.github.com>
Date: Monday, March 20, 2017 at 4:30 PM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Gaurav Khanna <Gaurav.Khanna@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [dotnet/corefx] Enable CoreFX test runs on OneCoreUAP images for x86 and x64 (#9917

[2017-03-20 23:44] svick commented on #17308
I agree that this is currently the biggest issue with the .Net Core docs.

That being said, documentation issues belong in [the docs repo](https://github.com/dotnet/docs) and this is a known issue. For example, see https://github.com/dotnet/docs/issues/307 (created over a year ago by me).

[2017-03-20 23:44] bgever commented on #9846
@Karelz Thanks a lot. Is there any way we can help? Test cases, etc?

[2017-03-20 23:47] krwq commented on #16781
@anthonylangsworth enjoy 😉 @tintoy no worries - if you will be starting to work just let me know - I will eventually get back to those but will need to wait until I finish some other stuff I'm doing right now at work - Thank you for quick response! 😃

[2017-03-20 23:49] karelz commented on #9917
Done, BTW: @mellinoe OneNote with costing updated.

[2017-03-21 00:04] marksmeltzer opened #17316 "General performance question (comparing Nightly to 1.1)"
I've got a console app and library I'm working on that targets CoreFx 1.1 and 2.vNext (the nightly). I also target the full framework.

This app (which will be released as OSS soon) parses text documents and spits out new text documents. It hits the System.IO APIs (mostly Path.GetFullPath), System.Text APIs (mostly StringBuilder), the collection classes (mostly Dictionary<,>), and System.Text.Regu

[2017-03-21 00:05] arturl opened #17317 "WinRT WebSocket throws unhandled exception on lost connection"
The issues affects UWP implementation of `ClientWebSocket`.

When `ReceiveAsync` call is pending and the connection is lost, `System.Net.WebSockets.WinRTWebSocket.OnMessageReceived` throws an exception with HRESULT 0x80072EFE ("The connection with the server was terminated abnormally") here:
https://github.com/dotnet/corefx/blob/master/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/Win

[2017-03-21 00:07] danmosemsft commented on #17316
@marksmeltzer I'm not aware of any flags. I am definitely interested in this though.

Can you use [PerfView](https://www.microsoft.com/en-us/download/details.aspx?id=28567) to gather traces on CoreFX 2.0, and on Desktop? With a difference that size, it should be fairly easy to see where the regression(s) lie.

/cc @brianrob @vancem

[2017-03-21 00:23] jamesqo opened #17318 "[Performance] Take advantage of new array range check elimination in other collections"
See https://github.com/dotnet/coreclr/pull/9539#issuecomment-287937667; doing `if ((uint)index >= (uint)array.Length) { throw something; }` will now elide the range check for `array[index]` afterwards. Probably won't yield a huge benefit in most placecs, but the perf gains would be essentially free. We should probably do this in collections that are backed by arrays, e.g. [here](https://github.com

[2017-03-21 00:28] brianrob commented on #17316
@marksmeltzer, PerfView is the right way to go.  You'll be able to see exactly what's happening in each case.

It's definitely possible that you've run into a case where the underlying library code is different.

To my knowledge, as long as you are building release for your binaries and for the .NET core binaries, you should be good to go.

If you need any help with PerfView or interpreting result

[2017-03-21 00:28] marksmeltzer commented on #17316
@danmosemsft I'm happy to provide dumps, however I've never used PerfView before (call me new fashioned). Could you provide me a link or basic guideline on which options to set to get the data you want to see?

![image](https://cloud.githubusercontent.com/assets/19158627/24127462/093c3624-0d92-11e7-8dfd-c1495340f79b.png)

I'm guess I'm spoiled by the click-to-run profiling tools from RedGate and J

[2017-03-21 00:28] brianrob commented on #17316
cc: @DrewScoggins

[2017-03-21 00:31] brianrob commented on #17316
@marksmeltzer, You should be fine with the defaults as they are selected here.  If the app turns out not to be CPU bound, you may wish to collect Thread Time, but a default trace is a great place to start.

Also, it may be worthwhile to look at the PerfView tutorials.  There is a videos link at the top right of the main PerfView window.  The PerfView help also has a built-in tutorial that should h

[2017-03-21 00:36] karelz commented on #9846
For a starter, it would help greatly if you can check if this https://msdn.microsoft.com/en-us/library/2fc472t2(v=vs.110).aspx helps (in all cases).
If it doesn, we can start exploring how to enable it by default.

[2017-03-21 00:39] dagood commented on #16126
Here are the pipeline changes: https://github.com/dotnet/corefx/compare/master...dagood:fix-package-overlap. I tried a build of the OSX definition and it looks like it gets passed correctly.

@ericstj I think it's best if you make your changes on top of my commit and submit it as a single PR. Otherwise, I'd have to split off the `OfficialBuild=true` for a first PR, then you'd do your PR, and I'd d

[2017-03-21 00:59] #16571 closed

[2017-03-21 01:07] saurabh500 commented on #16176
@MaximBalaganskiy What kind of telemetry are you expecting here?
From what I know SqlClient doesn't emit any SQL on its own. There is a tracing mechanism on .Net Framework which is disabled by default and is usually not enabled without some registry modifications and some setup on the client machine..
I don't think this is a SqlClient issue.

Are you contrasting the usecase with .Net Desktop? If y

[2017-03-21 01:18] marksmeltzer commented on #17316
I'm updating my local tooling to latest CoreFx sources... Will try PerfView once that is completed. I'm assuming y'all want to see the results from .NET 4.6.2, CoreFx 1.1 and CoreFx 2.latest.

What is the general expectation regarding performance for .NET 4.6.2 vs. CoreFx 1.1? Should we be expecting them to be on par or are there cases where we expect CoreFx to be (noticeably) slower? I was kind o

[2017-03-21 01:21] brianrob commented on #17316
Yeah, I'm interested to see the traces.  In general, we were aiming for parity or even better in some cases.  However, there are certainly cases where things are worse.  The "why" can vary from case to case.

[2017-03-21 01:29] ahsonkhan commented on #16840
Fixed in #17297

[2017-03-21 01:29] #16840 closed

[2017-03-21 01:43] MaximBalaganskiy commented on #16176
Here is the comment which got me here
https://github.com/aspnet/EntityFramework/issues/5510#issuecomment-230902144

[2017-03-21 02:03] marksmeltzer commented on #17301
I was wrong. @ericstj was right. I just pulled down the latest changes from master and had to update my local build of CoreFx again, and ran into the same issue. I tried the following steps, but encountered the Microsoft.NETCore.Platforms error again:

[code]

The end result was that the "dotnet restore" operator still failed.

A working procedure (that I've found so far) is this:

[code]

Using t

[2017-03-21 02:29] Jiayili1 commented on #15018
This issue is repro on build [20170321.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170321.01/workItem/System.Net.Ping.Functional.Tests/analysis/xunit/System.Net.NetworkInformation.Tests.PingTest~2FSendPingAsyncWithIPAddress_AddressAsString)

[2017-03-21 02:50] davidfowl commented on #17281
@KrzysztofCwalina that's a much less leaky way to implement it than it is today. Not sure you can cache the handle unless Free was a noop in this case (today it lowers the reference count)

[2017-03-21 02:56] Jiayili1 commented on #16201
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_release/lastCompletedBuild/testReport/System.Net.Http.Functional.Tests/HttpClientHandler_SslProtocols_Test/GetAsync_SupportedSSLVersion_Succeeds_sslProtocols__Tls__url____https___www_ssllabs_com_10301____/

[2017-03-21 02:57] MaximBalaganskiy commented on #16176
I used to see the actual SQL command in dependency details in VS
![image](https://cloud.githubusercontent.com/assets/3712700/24130688/432b3f22-0e3e-11e7-9e7a-c7e87d866667.png)
and in Azure. But now I cannot even reproduce this with EF6

[2017-03-21 03:11] davidsh commented on #17317
Added information from @arturl

[code]

[2017-03-21 04:31] Hawkeyes0 opened #17324 "Can not create Raw socket on CentOS 7"
Hello everyone,
I get a problem when create a Socket object with Raw type.
My environment as follow:
* centos 7 x64
* dotnet Core 1.0.1

My code:
[code]

It work perfect on Windows, but throw a SocketException on CentOS.

The Exception:
[code]

how can I make it work?
Thx

[2017-03-21 05:18] marksmeltzer commented on #17316
Okay, the typical pattern for the console app I'm working on is a single pass. It's like a compiler. It transforms from text inputs into text outputs. On a single run, I reliably see the disparage between .NET, CoreFx 1.1 and CoreFx vLatest that I originally mentioned in the first post.

I was curious how startup costs, caching, etc., might be affecting those results. So, I added a "-samples <n>"

[2017-03-21 05:23] livarcocc opened #17325 "Using CoreClr specific types in new SDK"
_From @jaredpar on February 4, 2017 1:18_

Looking to do some experiments with `AssemblyLoadContext`.  This is a type specific to CoreClr and I'm having trouble accessing it using the new SDK format.

I have a standard project file:

[code]

I've manually verified that a NuGet reference to System.Runtime.Loader exists in Solution Explorer.  Yet references to System.Runtime.Loader do not resolve wh

[2017-03-21 05:23] livarcocc commented on #17325
_From @nguerrera on February 5, 2017 13:20_

The nuspec for Microsoft.NETCore.App has exclude="Compile" for its System.Runtime.Loader dependency, which prevents the reference being seen by users of Microsoft.NETCore.App. So this would be expected based on how the package is defined. I don't know why it is defined that way. @ericstj?

You can add a direct package reference to System.Runtime.Loader

[2017-03-21 05:23] livarcocc commented on #17325
_From @jaredpar on February 6, 2017 23:54_

@nguerrera that does seem to be the issue.  Once I added an explicit reference everything lit up as expected.

I do want to second your notion that there is no obvious way for a developer to understand that is the case.  I spent a bit of time digging through solution explorer and the lock file to try and understand the problem here.  Nothing obvious popp

[2017-03-21 05:37] davidfowl commented on #16840
👏

[2017-03-21 06:32] marksmeltzer commented on #17316
@brianrob I've got the PerfView data... Could you email me to initiate the exchange? I don't want to post it publically. I'll want to send you encrypted ZIPs. Seems Github nuked their PM feature. I can be reached by my name "mark" at the domain "livingagile [dot] com".

At first glance, it looks like a lot of the time is in the JIT phase.

On a side note, PerfView is a very cool tool. I will defin

[2017-03-21 08:01] devandanger commented on #9394
Tracking this issue through the vsts-agent install issue. Thanks for finishing this.

[2017-03-21 08:20] shimingsg opened #17327 "Flaky test System.Net.Tests.WebProxyTest.BypassOnLocal_MatchesExpected"
This test fails when a GC stress on Ubuntu 16.04 LTS:
I am not sure if it is a bug or not, open this issue to track it

  <test name="System.Net.Tests.WebProxyTest.BypassOnLocal_MatchesExpected" type="System.Net.Tests.WebProxyTest" method="BypassOnLocal_MatchesExpected" time="0" result="Fail"

        <failure exception-type="System.Net.Internals.SocketExceptionFactory+ExtendedSocketException">

[2017-03-21 09:01] peterwurzinger commented on #16781
@krwq I am currently working on my Bachelors thesis, so I won't have much time to help atm. I would like to raise my hand again when I got time to spend for corefx.

[2017-03-21 09:13] paalmoest commented on #17039
I can confirm that connection leak is stil present in the microsoft/dotnet:1.1.1-sdk  @saurabh500

[2017-03-21 09:40] jyoungyun opened #17328 "Ignore CMAKE_C_FLAGS and CXX_FLAGS settings that comes from outside CMakeLists."
[code]
These line destroy the setting that comes from outside CMakeLists silently.
It should preserve the old value like below.
[code]

Is there a reason to let existing values be ignored?
If not, it should be fixed.

[2017-03-21 09:51] aviviadi opened #17330 "Socket connection hangs on Linux when buffers aren't read fully before closing connection"
On windows 10 works perfectly. On ubuntu16 hangs every time. dotnet 1.0.0-preview2-1-003177

command to reproduce (every time) at the following links :
[code]

At first I used WebSocket and the connection hanged. Repro every time at:
https://github.com/ravendb/ravendb/commit/1990e41e4da8d3b97e4ba98714028ac27eb9f514

While thinking this is a websocket problem, I changed the code to use http request

[2017-03-21 10:16] stephentoub commented on #17330
Can you share an isolated repro that doesn't involve ravendb?  On Unix, the Websockets implementation in corefx is entirely separate from the HttpClient/HttpWebRequest, with the former implemented on Sockets and the latter on libcurl, so it's possible but unlikely there's a direct connection.

[2017-03-21 10:25] stephentoub commented on #17324
That error is coming from the OS; if it doesn't support it, there's nothing the .NET layer on top of it can do to support it.

On the same machine, what do you get if you put the following code into a file `rawsock.c`:
[code]
compile it with:
[code]
and then run it:
[code]
?

[2017-03-21 10:25] aviviadi commented on #17330
I understand the difference you mentioned, so it might be a different problem in WebSockets, although it hangs in the same point in the same scenario.

I've tried to repro outside the project with no success (also with xunit no success). So no isolated repro is available..

I did try to debug it using Visual Studio 2017 (remote ssh), and also with tcpdump. It showed clearly it sends a response whi

[2017-03-21 10:27] stephentoub commented on #17330
Thanks for trying.  How do you know it's a problem with the .NET libs rather than with the ravendb code above it?

[2017-03-21 10:30] aviviadi commented on #17330
This is simple client-server request and response.  The hang occurs when the above server's BL wants to reply to the client with a response (error string of somekind) before reading the client request body.  That's all..    If I drain the read buffers it works.    And it works with and without draining the buffer in Windows.

So I think this is narrowing the problem to Linux & Sockets (in parallel

[2017-03-21 10:30] stephentoub commented on #17327
I suspect this is either the same root cause or a related cause to https://github.com/dotnet/corefx/issues/17177.

[2017-03-21 10:37] stephentoub commented on #17330
But then it should be possible to come up with an isolated repro, right?  There are potentially many differences that could be causing an issue and that would explain the difference between it working on Windows and not working on Linux, including for example Unix-specific code in ravendb, or fundamental differences at the OS level of how sockets work.  And the fact that it repros on two completel

[2017-03-21 10:49] stephentoub commented on #17330
Ah, wait, I looked at your commit.  It's dealing with `HttpContext`.  Is that the ASP.NET HttpContext?

[2017-03-21 10:55] ViktorHofer commented on #11687
DirectoryLongerThanMaxLongPath_ThrowsPathTooLongException test (System.IO.FileSystem\tests\Directory\CreateDirectory.cs) is still annotated with Issue. Removing it an testing with both default TFM and net46 TFM succeeds.

Is there any reason why it is still marked as a failing test?

[2017-03-21 10:55] aviviadi commented on #17330
No, it is kestrel's.   Ok.. Now we are able to reproduce it without our project : https://gist.github.com/anonymous/af69718f23acf2e4eaff33ff36bf109e

The scenario is that we write from the response without reading the complete data from the request.
Setup a Kesterl app with this code and then run the client code, typically within 3 - 5 iterations, this will cause a hang.

[2017-03-21 10:56] aviviadi commented on #17330
Important to note that while this is a repro with plain requests, but we saw the exact same behavior when using web sockets as well, and I strongly suspect that this is related.

[2017-03-21 11:00] stephentoub commented on #17330
Yeah, that's what I meant by ASP.NET; sorry for confusion.

When I said that Websockets and HTTP implementations were unrelated, that was when I thought you were talking about client-side / making outbound requests.  If you're talking about server-side / accepting requests using kestrel, that's an entirely different story.

So, just to be clear, the hang is occurring for you in the server-side of

[2017-03-21 11:02] aviviadi commented on #17330
We believe that the issue is on the client side, since we can kill the Kestrel server process and on the client side, it doesn't abort, but have to wait for the full timeout, in this case, the OS already closed all sockets, so I wouldn't expect it.

In addition, tracing via tcpdump shows that the response has been sent to the client.

[2017-03-21 11:06] stephentoub commented on #17330
I see.  So to summarize:

- The client posts a request to the server.
- The server doesn't read any the request body and instead just sends a response.
- As a result, the client hangs.
- And because the client doesn't disconnect, the server doesn't disconnect / keeps the connection open and assigned to that client.

Have I understood correctly now?

What OS is the client on?  What version of libcu

[2017-03-21 11:08] ViktorHofer commented on #15098
@JeremyKuhne I can't find any failing tests. As you posted that in January. I'm currently looking through if there are any tests annotated with [Issue] which are already resolved (and already found one).

[2017-03-21 11:16] stephentoub commented on #11687
@ViktorHofer, if it's passing, great. Please feel free to submit a PR to remove the ActiveIssue; if it passes CI, we can merge it and close this issue.

[2017-03-21 11:40] stephentoub commented on #17330
@aviviadi, does this repro for you if you change the status code in the response from 333 to 200?

I think I may know what's happening.  The client starts sending the request.  As soon as the request starts to be handled by kestrel, you send back an error code 333.  When libcurl gets back that error code, it stops sending any more of the request body.  If you look at a trace output from the client

[2017-03-21 11:41] aviviadi commented on #17330
Yes you've understood correctly :)  (I never requested you to debug ravendb...)

OS : ubuntu 16.04 (kernel 4.4), curl 7.47

[2017-03-21 11:44] aviviadi commented on #17330
I tried with returning 201 and it works.  500 or other non IsSuccessfull rc doesn't

[2017-03-21 11:53] stephentoub commented on #17330
@aviviadi, from what I can see from the trace as well, it appears chunked transfer-encoding is being used, and the client isn't receiving the necessary 0-length chunk at the end.  Do you see that in your tcpdump trace?  If it's not being received, that would explain why the client is sitting there waiting.  And maybe that's not being sent because the server incurs a BadHttpRequestException excepti

[2017-03-21 12:05] aviviadi commented on #17330
This is how the last successful response looks like:
[code]

After that the server tries to send as before :
[code]
and then it gets into the above mentioned deadlock

[2017-03-21 12:11] stephentoub commented on #17330
I can't tell from that output whether the ending "0\r\n\r\n" chunk is being sent in the case that causes the hang.  Can you?

[2017-03-21 12:12] aviviadi commented on #17330
ohh you mean \0.  I thought your where looking for headers["Content-Length"] = 0

[2017-03-21 12:13] stephentoub commented on #17330
I meant, the response is using chunked transfer encoding, so the client only knows that it's received everything when it receives the terminating chunk, and at least from what I've been able to repro locally, it looks like that terminating chunk isn't being sent.  Are you seeing the same thing?

[2017-03-21 12:17] aviviadi commented on #17330
First here is the trace:
[code]

[2017-03-21 12:20] aviviadi commented on #17330
Should I look for a complete new response from server to client with Content-Length == 0 ?
I am not sure I follow

[2017-03-21 12:32] tmds commented on #3571
9x10000 calls on my linux machine (no VM):
- native gettimeofday/clock_gettime takes about 1.9ms.
- DateTime.UtcNow takes about 2.5ms.
- PInvoke clock_gettime shim (returning 100ns ticks as long) takes about 2.1ms.

[2017-03-21 12:55] aviviadi commented on #17330
if you mean the ending "0\r\n\r\n"  then it isn't there.  As we see there's 0\r\n only in the end :
[code]

[2017-03-21 13:18] stephentoub commented on #17330
@cesarbs, are there known issues in kestrel here? As a summary, here's what I'm seeing:
1. The client starts sending the request.
2. The server implementation doesn't read the request, and as in @aviviadi's example, just starts sending a response, including an error code.
3. Since the server didn't wait to read the full request body, the client is still sending it.  The client receives the respons

[2017-03-21 13:22] fujiy commented on #14323
@jamesqo are you working on it?

[2017-03-21 13:31] stephentoub commented on #17330
@aviviadi, yes.  To make it easier to see, I wrote a simple Socket-based client that just shuts down the sending connection once it receives the status line:
[code]
I also changed your repro to output data other than lots of 0s to make it easier to see what's going on:
[code]
When I run this, the end of the client output looks like:
[code]
but if I change the client repro to output the right numbe

[2017-03-21 14:05] eerhardt commented on #16962
This test is now passing again on build [20170320.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170320.01)

[2017-03-21 14:17] mattleibow commented on #17236
@weshaggard I was targeting UWP. I created a new .NET Standard library, and then took that output .dll and added it to my UWP app. I then got that runtime error.

[2017-03-21 15:38] weshaggard commented on #17236
Can you share your project.json file?

As an aside UWP doesn't yet have first class support for the "NETStandard.Library" package. Is there a reason you are trying to consume the latest System.Xml.ReaderWriter library?

[2017-03-21 15:43] mvadu commented on #17278
@danmosemsft sure, I will try it this weekend. I am using the configuration system in a classic [console app](https://github.com/AdysTech/Influxer/)

[2017-03-21 15:50] weshaggard commented on #17301
On other option you could do is to manually update your binaries after building and avoid using nuget all together. To do that all you need to do is copy the binaries from `/bin/runtime/netcoreapp*/*.dll` from your output into your published application. That should allow you do quickly iterate without needing to do a nuget restore you can just requires a copy anytime you update corefx or your app

[2017-03-21 15:59] #16272 closed

[2017-03-21 16:07] danmosemsft commented on #17300
@Jiayili1 please remove this line for us.

[2017-03-21 16:09] weshaggard commented on #16126
Do we think we need a unique property for this or just OfficialBuildId will be enough?

[2017-03-21 16:10] weshaggard commented on #16571
Thanks @mellinoe

[2017-03-21 16:11] pjmagee opened #17335 "There are no more endpoints available from the endpoint mapper"
Hi, currently running the latest .NET Core fine locally on my Windows 10 Machine. Also runs fine locally on another Windows 7 dev machine. However we're running into problems running this on a Windows Server 2012 R2 machine with a fresh .NET core installation.

Below is the stack trace problem we hit when we try to authenticate from our main website. Both sites are just running on the same Server

[2017-03-21 16:21] WinCPP commented on #12662
@stephentoub I'm still getting the warning in intellisense. Looks like the packages have not been updated...? So should I do the changes using pragma warning disable + restore, just as you have done in #16495 or, should this issue be deferred until we have the packages in...?

[code]
Also, I think I see only two places to fix in CoreFx repo. Hope I am not missing something here... Thanks.

[2017-03-21 16:22] stephentoub commented on #12662
The "obsolete" warning?  The member was added back, but it's still marked as obsolete.  So places where we use it, we'll need to use pragmas to suppress the warning.

[2017-03-21 16:26] dagood commented on #16126
My concern would be a scenario where we want to specify the version with `OfficialBuildId` but build all packages on a platform, like maybe build from source. If we do that in another way, though, and define `Official` strictly as the CoreFX-only official build, that sounds fine to me.

[2017-03-21 16:27] WinCPP commented on #12662
@stephentoub yeah the obsolete warning... ok. I thought my code base didn't have recent packages which was giving me the warnings. Will add the suppression lines. Thanks.

[2017-03-21 16:41] Jaedson33 commented on #4278
Hi, do you have any idea when this will be without any error?

[2017-03-21 16:43] davidsh commented on #14989
This problem also occurs when running System.Net.Primitives/tests/FunctionalTests against Full Framework.  I think this is an infrastructure/test runner issue.  Need to investigate.

[2017-03-21 16:45] weshaggard opened #17337 "Move corefx from OSX 10.10 to 10.12"
For 2.0 we are supporting only a min of OSX 10.12 so we need to move any references to 10.12.

- Update any CI or build machines
- Update any RID stuff in the repo

fyi @gkhanna79 @ericstj

[2017-03-21 16:48] weshaggard commented on #16126
Yes I guess that is a possibility but I would much prefer we use something other then OfficialBuildId for our build from source work as using it there would change the meaning of what it implies. If we need something to control the version number for build from source I would prefer we define another version property for that.

[2017-03-21 17:03] dagood commented on #16126
Sounds good. Created https://github.com/dotnet/corefx/compare/master...dagood:fix-package-overlap-2 to pass OfficialBuildId instead.

[2017-03-21 17:21] aviziv opened #17339 "Bug in X509Chain validation using self-signed ssl certificates on Debian"
Hi,
I'm trying to use X509Chain in order to validate a self-signed chain.
I have created a chain that consists of CA->Intermediate->Server.

In order to validate the chain I'm using the following code:

[code]

On Windows I get certsChain.ChainElements = 3 and certsChain.ChainStatus[0].Status = X509ChainStatusFlags.UntrustedRoot which is correct.

On Debian I get **certsChain.ChainElements = 1** a

[2017-03-21 17:21] arturl commented on #17317
More info - exception and partial call stack here:

[code]

[2017-03-21 17:50] terrajobst commented on #17067
We've just discussed this in great detail. There are multiple layers to this feature:

1. **Exposing the external attributes and round tripping it**. We've no concerns and we believe this is a good idea.
2. **Recording permissions when zipping up on Unix**. Seems useful, but we may want to make this opt-in or at least opt-out.
3. **Applying permission when extracting on Unix**. Seems useful, but w

[2017-03-21 18:00] jamesqo commented on #14323
@fujiy, No.

[2017-03-21 18:01] terrajobst commented on #16836
But isn't that the difference between SZArray and all other arrays? We already expose `IsSZArray` and `GetArrayRank()`. This seems to be all you need, no?

I've no problems with exposing a new API but I think if we call it `IsMultidimensionalArray` (or `IsMDArray`) it shouldn't return `true` unless the array has more than one dimension.

[2017-03-21 18:09] ianhays commented on #17067
I've split the ZipFile support to https://github.com/dotnet/corefx/issues/17342 and edited the OP to only be for the ExternalAttribute exposure.

[2017-03-21 18:09] cesarbs commented on #17330
@stephentoub

Looks like a bug in Kestrel. The exception is expected since Kestrel will consider a FIN mid-request as a connection abort. But it should have closed the connection to the client.

Will look deeper once I set up the repro on my side.

[2017-03-21 18:13] stephentoub commented on #17330
Thanks for investigating, @cesarbs.  It's possible I've analyzed something incorrectly as well, but hopefully I've not sent you on a wild goose chase :)

[2017-03-21 18:13] ianhays commented on #14519
This test issue is no longer providing any value now that we've created issues for each bug since we have far fewer System.Net test failures now. There aren't any tests marked with ActiveIssue with this bug, so I'm closing it.

[2017-03-21 18:13] #14519 closed

[2017-03-21 18:14] AtsushiKan commented on #16836
True, this is a convenience api, not a functionality hole closer. However, the same argument could be made for IsConstructedGenericType - it's "just" a composition of two other apis, but it has an expressiveness advantage (as well as a small perf advantage if the provider implements it correctly.)

It's simply more direct to say "this type belongs in set A" vs. "this type belongs in set AandB but

[2017-03-21 18:15] eerhardt commented on #17067
@terrajobst - you didn't answer the questions:

[2017-03-21 18:16] AtsushiKan commented on #16836
BTW, I'm modifying the proposal so that the body of the method is "IsArray && !IsSzArray" rather than "NotImplementedException."

Providers such as CoreRT and CoreCLR are still encouraged to override with a more performant implementation but this reduces the burden on third party providers and makes the relationships between the apis clearer.

[2017-03-21 18:22] terrajobst commented on #16567
@AtsushiKan

We don't believe we've enough information to make a call. Three questions:

* Can we change our implementation of `GetMethod(...)` to make it easier for instantiating generic methods?
* Do we need new APIs? If so, is the proposed shape good enough?
* Do we want to expose this policy at all or should the selection process be controlled by the consumer?

Feel free to sync with @karelz o

[2017-03-21 18:24] karelz commented on #17327
@shimingsg does it repro 100% for you with GCStress enabled, or only sometimes? BTW: Which GCStress?

@danmosemsft I assume we should catch it in our GCStress runs on every CoreFX test ...

[2017-03-21 18:25] terrajobst commented on #16476
Makes sense. We must have missed that in the review.

[2017-03-21 18:25] karelz commented on #16476
Should be fairly simple to do - up for grabs. Any takers?

[2017-03-21 18:26] terrajobst commented on #14088
The API was already approved and it's already added to .NET Standard and .NET Core.

[2017-03-21 18:26] #14088 closed

[2017-03-21 18:28] karelz commented on #17324
Sounds like not CoreFX problem, closing. Please let us know if you disagree.

[2017-03-21 18:28] #17324 closed

[2017-03-21 18:33] karelz commented on #17330
Are we ready to move the bug to Kestrel repo? Or is there anything left for CoreFX to track? (disclaimer: I just skimmed few last posts)

[2017-03-21 18:35] stephentoub commented on #17330
No, not until @cesarbs completes his investigation.

There's the potential for HttpClient on libcurl to set its https://curl.haxx.se/libcurl/c/CURLOPT_KEEP_SENDING_ON_ERROR.html if on a new enough version.  We need to decide if we want to do that.  I'm not sure it's a good idea, but we could discuss it.

[2017-03-21 18:37] cesarbs commented on #17330
https://github.com/aspnet/KestrelHttpServer/issues/1530#issuecomment-288177478

[2017-03-21 18:39] karelz commented on #16567
@AtsushiKan @DnlHarvey in future, please do the deeper first round of API reviews on your side (as area owners), before you pass it for API review. Please make sure you are on board with the API proposal, you can defend it and all questions for area owners are answered on the issue.
I'll be happy to provide more details offline if you think it will help. Thanks!

[2017-03-21 18:41] mattleibow commented on #17236
I was not trying to support that version particularly, I was just building this project file:
https://github.com/mono/SkiaSharp/blob/master/binding/SkiaSharp.NetStandard/SkiaSharp.NetStandard.csproj#L10

If I remove that line (line 10), then it builds against 1.6.1, which has a version ReaderWriter that is not available in a UWP app.

[2017-03-21 18:44] weshaggard commented on #17236
I see so you are building a netstandard1.3 library using the new msbuild tooling just released with VS2017 and then are you trying to consume this via a ProjectReference or are you referencing the nuget package in your UWP application?

[2017-03-21 18:49] daveaglick commented on #15570
I am having *this exact same* set of symptoms. Updated Roslyn to 2.0.0 and everything works until I try and run unit tests from the NUnit console runner at which point I get:

[code]

Verified package versions are all lined up and binding redirects are in place. My project targets 4.6.2.

[2017-03-21 18:50] danmosemsft commented on #17327
@karelz this was `COMPLUS_GCSress=3`. Of course it's not necessarily triggerd by GCStress. It could be random, or exposed by the slow execution.

Not sure what you mean by your 2nd question. We don't have regular runs and I don't think this is something that should affect just any test.

[2017-03-21 19:01] stephentoub commented on #17328
Fixed by #17329

[2017-03-21 19:01] #17328 closed

[2017-03-21 19:01] terrajobst commented on #17275
We discussed this. Conclusion:

* Let's create a list of all the convenience APIs like the `Remove` with an `out`, `GetValueOrDefault` and decided what to do with it.
* We don't want to "hack" the APIs to optimize the code gen, but practically speaking we need to keep those constraints in mind.
* In this instance, we already have an extension home (`CollectionExtensions`) and we can design most of

[2017-03-21 19:02] karelz commented on #17275
@ianhays can you please list the APIs we added in 2.0 on any collection? @weshaggard can help if needed.
Thanks!

[2017-03-21 19:26] karelz commented on #17327
Oh, I didn't realize that this issue is a result of our stress run. I thought it is external report ... can you please confirm?

[2017-03-21 19:38] danmosemsft commented on #17275
Is a principle established for API's that provide perf benefits, like TryAdd? I assume those can continue to go on the real types so long as they don't excessively bloat the code nor have a perf impact on existing API.

[2017-03-21 19:51] karelz commented on #17275
It will be case by case decisions, but high-level principles are:
1. If it is overload of existing instance method, it should be instance method
2. If the primary purpose of the API is convenience, it should be extension method
3. If the primary purpose of the API is perf and it has/will have non-trivial usage, it should be instance method
    * Note: The fact that something can be implemented fas

[2017-03-21 19:53] karelz commented on #17275
Huh, I just noticed that `TryAdd` is used as perf method: https://github.com/dotnet/corefx/pull/17201 ... I think we will be easier on that one :(

[2017-03-21 19:53] AtsushiKan opened #17345 "Need an api to determine if a Type is a "plain old non-constructed type.""
**Proposal for New API:**

[code]

**Why**

Right now, if we want to test if a type is a plain old non-constructed type (i.e. "one with a mdTypeDef metadata token"), we have to use this windy expression:

[code]

There are a few problems with this:

- It's a mouthful.
- It take 3 virtual calls
- It's not robust against future expansions of the api. Suppose a future expansion to Reflection adds mor

[2017-03-21 19:53] ericstj commented on #17325
It was defined that way initially by @weshaggard in https://github.com/dotnet/cli/commit/3ab4a30eb8433c8cd933694ea5008fe1050fdc74.

At that time I believe a group of folks decided what we wanted to be in for ref by default.  There were a few things that folks didn't want referenced by default but did need to be in shared framework (either due to impl closure or RID-specific impl) and they ended up

[2017-03-21 20:00] ericstj opened #17346 "Run package closure validation during official builds, possibly CI"
I added some validation for packages in https://github.com/dotnet/corefx/pull/17246

This is tracking additional improvements:

- [x] Switch to latest CLI and MSBuild based projects.
- [ ] Add test cases post-restore that examine the following:
    - [x] No bin-clashes
    - [ ] API compat between ref & lib.
    - [x] No type-clashes in ref.
    - [x] Verify closure
- [ ] Enable the tests to run i

[2017-03-21 20:01] ericstj commented on #17346
I've marked this as blocking because I at least want to make sure we run these tests manually before release.

[2017-03-21 20:06] mattleibow commented on #17236
I managed to get a test case: https://github.com/mattleibow/UWP-NetStandard-Test

Doesn't do much, except that ClassLibrary1 references:

[code]

and then the app (App2) references the dll:

[code]

If I reference the project, via a project reference, then it "works" but this is not what happens when my .dll is in a NuGet.

[2017-03-21 20:10] #12662 closed

[2017-03-21 20:10] stephentoub commented on #11687
Closed by #17343

[2017-03-21 20:11] danmosemsft commented on #16926
This is in progress

[2017-03-21 20:20] mattleibow commented on #17236
If I specify the lower NuGet version (v4.0.11) I get this warning:

[2017-03-21 20:21] weshaggard commented on #17325
Yes this was by design as we only wanted folks to use the APIs if they explicitly took a package reference to System.Runtime.Loader. We did the same thing for the Roslyn packages as it was a way to pull it into the shared framework but not have it referenced for compiling by default.

In .NET Core 2.0 System.Runtime.Loader is no longer excluded for compile so it can be referenced and used.

[2017-03-21 20:21] #17325 closed

[2017-03-21 20:25] tuespetre commented on #11044
@ajcvickers it does seem weird. Even though it probably makes a 💩 of a difference for my use case, I was being allocation-conscious

[2017-03-21 20:27] danmosemsft commented on #16669
Let's track with https://github.com/dotnet/corefx/issues/17133

Not everything above is there, but all the non-overrides are. We don't track overrides in our API comparisons as missing an override is not an API breaking change. It could be an implementation bug (if the override used to have some real code in it) but API diffs cannot detect that, there are plenty of cases where we intentionally got

[2017-03-21 20:27] #16669 closed

[2017-03-21 20:27] Cae2 opened #17349 "There is no more SelectSingleNode method in System.Xml?"
Hello,

Im porting one application from .net 4.5 to .net core and could not find SelectSingleNode to use with Xpath to filter my xmls. This method isnt avaiable anymore? (System.Xml 4.3.0)

thanks

[2017-03-21 20:30] danmosemsft commented on #5899
Ported to https://github.com/dotnet/docs/issues/1767

[2017-03-21 20:30] #5899 closed

[2017-03-21 20:58] #17282 closed

[2017-03-21 21:00] danmosemsft commented on #15255
In progress

[2017-03-21 21:01] safern commented on #15255
Thanks @danmosemsft

[2017-03-21 21:33] dcwuser opened #17353 "Implement SinPi and CosPi"
We should implement SinPi(x) and CosPi(x) methods in the System.Math class.

These methods are listed in section 9.1 of the [IEEE 754 spec](https://www.csee.umbc.edu/~tsimo1/CMSC455/IEEE-754-2008.pdf) as recommended functions.

The methods return sin(pi * x) and cos(pi * x). They are different from Sin(PI * x) and Cos(PI * x) because PI is a finite-precision approximation to pi, while pi in the de

[2017-03-21 21:42] tannergooding commented on #17353
@dcwuser, the only 'real' thing preventing us from putting the code here is that:
* The code is just the CRT implementation (libm on Linux, MSVCRT on Windows)
* At least on Windows, there are licensing considerations/etc

That being said, if implementing this in C/C++ would provide a very significant perf increase, the method would be exposed here: https://github.com/dotnet/coreclr/blob/master/src

[2017-03-21 21:42] #14989 closed

[2017-03-21 21:45] jairbubbles commented on #15570
@daveaglick I guess for now you just have to copy the binding redirects generated automatically for your application (look for the .config next to your output executable) and copy the content to app.config of your test assemblies.

[2017-03-21 21:56] danmosemsft commented on #16988
@sepidehMS do you see an appropriate dump there? with symbols? so Jeremy can investigate..

[2017-03-21 22:03] sepidehMS commented on #16988
@danmosemsft At the time the page didn't load and right now the oldest dump I can see is from 11/03. There is no dump related to this failure. @schaabs Is there a way to get older dumps?

[2017-03-21 22:03] ViktorHofer opened #17356 "System.Text.Encoding.GetEncoding(Int32 codepage) 850 error"
While migrating SharpZipLib pcl library to netstandard1.3 and tests to netcore2.0 I noticed an issue with a few of their tests:

[code]

This is what triggers the exception:
`System.Text.Encoding.GetEncoding(defaultCodePage);`

Default code page gets set like that:
`static int defaultCodePage = Encoding.UTF8.CodePage;`

Did we change anything with netcore regarding codesets?

Source: https://githu

[2017-03-21 22:11] schaabs commented on #16988
@sepidehMS The default display window for the dumpling site is 10 days.  You can get back to older dumps by specifying the timespan in days as the last part of the url path.

i.e.
https://dumpling.azurewebsites.net/**90**

will show you the last 90 days worth of dumps.  Obviously since more dumps are available the response time may slow.

[2017-03-21 22:11] schaabs commented on #16988
sorry the above link should be:

https://dumpling.azurewebsites.net/90

[2017-03-21 22:18] justinvp commented on #17356
Most of the code pages have been moved to a separate component (System.Text.Encoding.CodePages) for .NET Core...

The following code needs to run before Encoding.GetEncoding will be able to find them:

[code]

[2017-03-21 22:20] schaabs commented on #16988
Here's the specific dump you were looking for.

https://dumpling.azurewebsites.net/90?FAILURE_HASH=SIGSEGV_libcrypto.so.1.0.0!BN_num_bits

[2017-03-21 22:24] ViktorHofer commented on #17356
Thank you!

I guess a lot of users who are currently using code pages will hit that issue during migration. Any way to point that out inside VS or in the docs?

[2017-03-21 22:42] justinvp commented on #17356
@tarekgh says in https://github.com/dotnet/corefx/pull/16589#discussion_r103972132:

[2017-03-21 22:50] ViktorHofer commented on #17356
Thanks @justinvp! Still not sure if this should really be set by the application in this case.

[2017-03-21 22:53] justinvp commented on #17356
As an example, SerialPort's tests register a provider because there are some tests that use non-Unicode code pages, but the SerialPort library itself doesn't register one. See #15965. I would imagine the same approach could be taken with SharpZipLib. Any .NET Core app using SharpZipLib that needs non-Unicode code page support could register the CodePagesEncodingProvider at app start.

[2017-03-21 22:55] tarekgh commented on #17356
@ViktorHofer usually you can register the provider before using the encoding on question. you can register it during the app initialization path. or you can delay the registering till you need it. Also there is no harm to register the same provider more than once.

the remark section in the following link talking about what exncoding supported by default and how to register the provider.

https://

[2017-03-21 23:03] #10899 closed

[2017-03-21 23:03] #12761 closed

[2017-03-21 23:03] ViktorHofer commented on #17356
@tarekgh Thanks for the link! I also noticed that the exception states "For information on defining a custom encoding, see the documentation for the Encoding.RegisterProvider method.", that's fine.

If I understand that correctly, netcore should by default support UTF-8. Now I'm really confused because UTF-8 is used in SharpZipLib:

[code]

So there shouldn't be any need for the encoding provider

[2017-03-21 23:06] svick commented on #17349
[.Net Core 1.0 and .Net Standard 1.3 have `SelectSingleNode` as an extension method in the `System.Xml.XPath.XmlDocument` package](https://apisof.net/catalog/System.Xml.XmlDocumentXPathExtensions.SelectSingleNode(XmlNode,String)) (not sure why the page does not list .Net Standard 1.3, the extension method exists there), so you will need to add a reference to that package to use it.

[.Net Core 2.0

[2017-03-21 23:07] JonHanna commented on #16476
I'll take it. It'll make the work I did on the operators feel more completed ☺

[2017-03-21 23:07] justinvp commented on #17356
The error message you pasted above says:

Is the test setting `DefaultCodePage` to `850`?

[2017-03-21 23:10] ViktorHofer commented on #17356
You are absolutely right again. Just looked into the test cases and noticed that the DefaultCodePage gets set there to 850 manually:

[code]

Thanks for the help!

[2017-03-21 23:11] #17356 closed

[2017-03-21 23:11] tarekgh commented on #17356
https://github.com/icsharpcode/SharpZipLib/blob/master/ICSharpCode.SharpZipLib.Tests/Zip/ZipTests.cs#L2043

[2017-03-21 23:14] divega commented on #16402
@weshaggard If I understand correctly, you are saying it would be technically feasible. I believe the question is more about the value of doing anything to support portable given that the platforms mentioned in the initial post (Xamarin and UWP) have .NET Standard support.

[2017-03-21 23:15] cesarbs commented on #17330
@aviviadi: @stephentoub and I have finished investigating this issue, and here's what's happening:

1. The client (libcurl) starts sending the request.
2. Kestrel sends an error response.
3. The client sees the error response and stops sending the request (this is a libcurl behavior), but does NOT close the sending side of the connection (HTTP clients typically wait until they receive the entire r

[2017-03-21 23:17] weshaggard commented on #16402
Correct. I leave that up to you guys to decide if there is a scenario you feel needs it.

[2017-03-21 23:19] AlexGhiondea commented on #15101
@rahku could you take a look at this and figure out what we should do?

[2017-03-21 23:22] AlexGhiondea commented on #16606
@swgillespie I see a change was made in this area -- do we still need to do anything here?

[2017-03-21 23:46] shiftylogic commented on #14533
PR Submitted (#17361)

[2017-03-21 23:51] danmosemsft opened #17362 "DualModeConnect_IPAddressListToHost_Throws failed in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/4847/consoleText

[code]

[2017-03-21 23:51] AtsushiKan commented on #16836
One more thought: the bounds are not part of the Type, they're part of array instances.

So one way to think of it is that the **IsArray** subset of Types is split into two:

-    IsSZArray -  The Types that can **only** spawn one-dimensional zero-bounded arrays.
-    Is???Array - The Types where the bounds are unrestricted.

So if we can decide on a name for "???" that properly captures this conc

[2017-03-21 23:54] swgillespie commented on #16606
@AlexGhiondea I think we can close this issue for now, it should be fixed by https://github.com/dotnet/coreclr/pull/10162 and https://github.com/dotnet/coreclr/pull/10284. If it still fails, we can re-open it.

[2017-03-21 23:54] #16606 closed

[2017-03-21 23:55] danmosemsft commented on #16988
I see it -- I'm not famliar with Unix dumps, but it obviously doesn't contain PDB's. Is the dev expected to sync back to the point of the build and regenerate them? That's obviously not possible if it was a CI job like this.

What's the expected workflow?

[2017-03-21 23:57] Maoni0 commented on #16606
this was fixed by 10284. 10162 does not affect this test.

[2017-03-21 23:59] karelz commented on #16476
Great, thanks!

[2017-03-22 00:02] weshaggard commented on #17236
@srivatsn do you guys support referencing a new standard library project from a UWP project?

[2017-03-22 00:25] davidsh opened #17365 "Xunit test runner on .NET Framework doesn't work with ITestOutputHelper"
While debugging test failures when running CoreFx tests against the full .NET Framework, I discovered that exceptions are being thrown when using the ITestOutputHelper interface.

So, this example code will throw an exception on the `_output.WriteLine("Hello World")` line:

[code]

Our test build/infrastructure system currently invokes tests targetting .NET Framework like this:

This causes an exc

[2017-03-22 00:26] davidsh commented on #17365
cc: @tarekgh @safern @karelz @stephentoub

[2017-03-22 00:42] shmao opened #17366 "Add Test for Types Having Virtual Generic Property"
@mconnew found that it's currently not possible to create delegate for virtual generic method. As reflection based serialization creates setter/getter delegates for properties, we'd like to check if it would fail when serializing types having virtual an generic property. The task is to add tests for this case.

[2017-03-22 00:49] tinchou commented on #15776
cc @divega @danmosemsft

Today we discussed with @Chrisboh about the fact that some distros ship very old versions of unixodbc (such Ubuntu 14.04 with `unixodbc:2.2.14` from Nov 19, 2008).

We need at least version 2.3.1, since it's the first one that ships the `libodbc.so.2` binary. Falling back to older versions is an option, but they're very old and I think we shouldn't be targetting them.

The

[2017-03-22 01:08] bartonjs commented on #17218
@weshaggard I'm not sure how one goes about getting nightlies for testing anymore, given the current state of packaging, et al.  Do you have any advice?

[2017-03-22 01:08] JonHanna commented on #16836
It's perhaps because I think of them as "non–SZ arrays" that to me `!type.IsSZArray` seems fine, but if there's a need for it `IsMDArray` seems about as good as one can get; clear enough to those who know the distinction and just obscure enough to avoid people thinking they know what it means when they don't!

[2017-03-22 01:13] AArnott opened #17368 "File.GetLastWriteTime throws on missing files on Linux, but not Windows"
On .NET Framework and CoreCLR on Windows, I can safely call `File.GetLastWriteTime` on a file that does not exist, and I get "December 31, 1600 4:00:00 PM" returned.

But on Linux, CoreCLR throws `FileNotFoundException`.

[code]

I notice that the problem isn't in `File.GetLastWriteTime` itself, because `FileSystemInfo.get_LastWriteTimeUtc()` also is not expected to throw in this case either.

I s

[2017-03-22 01:27] ViktorHofer commented on #17133
Currently in the middle of adding the missing members and noticed a missing type: **System.ApplicationIdentity**

How to proceed?

[2017-03-22 01:30] justinvp commented on #7175
All of the existing operators that take a single `TimeSpan` call the parameter `t`, not `timeSpan`. Should we update the new operators to be consistent with the existing naming?

Note that the named operations (e.g. `Add`, `Subtract`, etc.) all use `ts` instead of `t`.

[2017-03-22 02:24] marksmeltzer commented on #17301
That makes sense. I like problems that can be solved with a script 😄

[2017-03-22 03:26] danmosemsft commented on #17368
Seems it's been that way since the start, and we even have a test to make sure

https://github.com/dotnet/corefx/blob/6451bed4d4a667d9c05a41c0843504d020d283ab/src/System.IO.FileSystem/tests/File/GetSetTimes.cs#L154

@ianhays know why?

[2017-03-22 03:29] Jiayili1 commented on #15018
This issue is repro on build [20170322.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170322.01/workItem/System.Net.Ping.Functional.Tests/analysis/xunit/System.Net.NetworkInformation.Tests.PingTest~2FSends_ReuseInstance_Hostname)

[2017-03-22 03:31] danmosemsft commented on #17349
@Cae2 if you want to try 2.0 that would be great, let us know how you find it:
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

Please close this if your q was answered.

[2017-03-22 03:44] marksmeltzer commented on #17316
@danmosemsft I sent the traces to @brianrob earlier this evening.

@brianrob, feel free to share the data internally with others at MSFT as needed.

I'll have to read up more on PerfView to see if there's a straightforward way to strip out all the data for extraneous processes to (a) make the files smaller and (b) so I wouldn't have to worry about security of the data. I don't care too much about

[2017-03-22 03:45] jackmott commented on #16835
What about use of an enum?

[code]

[2017-03-22 03:55] danmosemsft commented on #17316
@marksmeltzer sounds good. I don't think we have an "official" way -- usually OneDrive or suchlike. I'll be interested to see what Brian finds. if we can fix it, great.

[2017-03-22 04:37] mellinoe commented on #16835
The problem is that the value cannot be guaranteed to be a compile-time constant. There is no way to guarantee that in C#, except to make the constant a part of the method signature (i.e. the name of the method). Enums don't help in that regard.

[2017-03-22 04:51] danmosemsft commented on #17133
I would just stub it out (return null/ default(T)), probably in the same library. It looks like the public methods don't depend on any types we don't have.
https://referencesource.microsoft.com/#mscorlib/system/activationcontext.cs,68f4d6a9a2b38aac
@weshaggard any objection?

[2017-03-22 05:01] jackmott commented on #16835
Of course, sorry. So the C# compiler seems to have the facility to identify if something is a compile time constant or not, as evidenced by error messages on optional parameters on functions.

Are there any other motivations for semantics to constrain an input parameter to be a compile time constant? Or would that definitely be a no-go?

[2017-03-22 05:49] Jiayili1 commented on #13298
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_release/133/testReport/System.Net.Http.Functional.Tests/PostScenarioTest/PostEmptyContentUsingChunkedEncoding_Success_serverUri__https___corefx_net_cloudapp_net_Echo_ashx_/

[code]

[2017-03-22 06:02] Jiayili1 opened #17373 "System.Data.SqlClient.Tests.ExceptionTest.NamedPipeTest failed in CI"
COnfiguration: OuterLoop_Windows10_release ([build#134](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/134/consoleText))

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/134/consoleText

[code]

[2017-03-22 07:04] dend commented on #17308
@MarkPflug thank you so much for the feedback! My team and I are working on ensuring that we improve that experience. Stay tuned - we have significant improvements coming to the docs site in the .NET area shortly.

[2017-03-22 07:35] Pinox opened #17376 "Feature - ObservableCollections , Linq"
Not sure if I'm in the right forum for this suggestion.  It will be truly nice if the language team can extend the functionality of ObservableCollections to include functionality to detect when the item properties in the collection change (row change) ,  currently this does not seem possible it detects only add/ removed rows and not updated rows.

UPDATE: To be moved into separate issue:
~~Also, i

[2017-03-22 07:47] vors commented on #13447
I believe it's a root cause of https://github.com/PowerShell/PowerShell/issues/3321

Here is a smaller repro

[code]

If you run it on Unix, the correct behavior would be to get output out of `OutputHandler`.
Currently it doesn't produce any output.
It works if:

- you have only 1 process, not 2
- if you call Dispose on both of them

Note that in my example processes **are not chained**.

[2017-03-22 08:01] yaakov-h opened #17377 "FormatterServices.GetSafeUninitializedObject"
I've been Googling and reading my way through issues on this repo for nearly an hour now and cannot figure out how to call `FormatterServices.GetSafeUninitializedObject(Type)` from .NET Core.

I've tried adding a reference to every single System.Runtime.* NuGet package and I've tried targeting every single version of .NET Standard and .NET Core App 1.1 to no avail.

Is this API available in .NET C

[2017-03-22 08:05] ayende commented on #17330
@cesarbs Will sending `Connection: Close` header cause the TCP connection to be dropped?

[2017-03-22 08:12] tmds opened #17378 "IPAddress: use Span to support less allocaty IPv6"
The IPAddress class has a constructor which accepts a long and an Address property that returns a long:
[code]
This makes it possible to:
- create an IPv4 IPAddress without allocating a byte[] which isn't stored
- retrieve the IPv4 address bytes without allocating a byte[]
- change the IPv4 IPAddress

The property has been deprecated, probably because it doesn't work for IPv6.

We can support thes

[2017-03-22 08:19] davidfowl commented on #17330
@ayende yes, it will

[2017-03-22 09:30] pjmagee commented on #17335
This problem is now fixed for us. The CNG Key Isolation Windows Service wasn’t running.

[2017-03-22 09:30] #17335 closed

[2017-03-22 10:53] raffaeler commented on #17309
It looks like traditional Framework.NET assemblies does not contain TargetFrameworkAttribute.
An example is the net462 of System.Net.Ping.
Can I safely assume that a missing attribute implies netframework?
I don't like this system at all ...

[2017-03-22 12:22] #17337 closed

[2017-03-22 12:37] svick commented on #17376
What is the use case? As far as I know, the primary use case for change notifications is UI binding, and those libraries already know how to detect the changes themselves (assuming the objects implement `INotifyPropertyChanged`).

Also, if the objects do implement `INotifyPropertyChanged`, then writing a custom version of `ObservableCollection` that does this shouldn't be hard. If they don't imple

[2017-03-22 12:55] dlaptin-softheme opened #17379 "Is there an EventSourceAnalyzer analog in dotnet core?"
Or what is the recommended way to validate the correctness of EventSource instances in dotnet core projects?

[2017-03-22 12:58] stephentoub commented on #17330
@cesarbs, thanks for the help investigating, and for the fix in https://github.com/aspnet/KestrelHttpServer/issues/1537.  We also discussed whether we should use the new libcurl CURLOPT_KEEP_SENDING_ON_ERROR flag if it's available, and decided that doing so is not a good idea (e.g. continuing to send large post data even if the server has already said it's not interested, such as due to a redirect

[2017-03-22 12:58] #17330 closed

[2017-03-22 13:15] pdeliot commented on #13914
I've also facing knightmare with Systel.IO.Compression.

I've recently ported all my portable assemblies to Standard 1.1 and 1.3.
This enabling me to use them with .NET Core and Universal 8.1 (Desktop and Mobile).

It's working with w10 desktop Debug... 8.1 Desktop and Mobile... but failling with missing compression dependencies  undes Mobile Debug or any Realase :-(

Already tested many things (i

[2017-03-22 13:42] 0xd4d opened #17382 "Process.GetProcessById() is slower than Process.GetProcesses()"
According to the test below, `GetProcessById()` is twice as slow as `GetProcesses()`. I get similar results when testing .NET Framework. Seems like there's room for optimizations in `GetProcessById()`.

Version: dotnet cli version=1.0.1 (.NET Core 4.6.25009.03)

[code]

[code]

[2017-03-22 14:07] svick commented on #16835
Could including a Roslyn analyzer in the NuGet package be a solution?

That way, if you write `ShiftLeft(v, notAConstant)` in C# or VB, you get a warning in VS.

Caveats:
* Not sure what would happen in e.g. VS Code or `dotnet build`, but those could probably be improved to support analyzers, if they don't already.
* The warning won't show up in other languages, like F#.

[2017-03-22 14:13] Happypig375 commented on #17267
What about this: most people will use `Quad` for mainstream floating-point, and those ranges outside `BigDecimal` will have you covered.

[2017-03-22 14:28] bartonjs commented on #17339
This should mean that OpenSSL doesn't believe that the intermediate is a valid issuer certificate for the end-entity certificate.  If you can make the certificates available it'd be interesting to see what's going on; but for a coarse form you can see it by

[code]

Since it says "at 1 depth" that means that it completed validating the leaf/EE certificate, but failed in determining if the issuer w

[2017-03-22 14:59] Cae2 commented on #17349
@svick thank you! with that package everything went fine.

@danmosemsft I need to finish this port real quick, but will test 2.0 in another greenfield project, thanks!

[2017-03-22 14:59] #17349 closed

[2017-03-22 15:12] tannergooding commented on #17267
I think completing out the five basic formats from IEEE spec would be desirable. That is:
* binary32
* binary64
* binary128
* decimal64
* decimal128

It also directly defines:
* binary16
  * Several graphics formats use it today and it is available in some graphics hardware.
  * The x86 F16C instruction set also provides hardware support for converting between single and half-precision.
* decimal3

[2017-03-22 15:20] daflame76 commented on #984
@karelz I accepted you invitation.  Strange that I couldn't accept it on my mobile devices.  I had to use a desktop machine.

If there is any way I can help to shore up the windows implementation let me know.  I have a lot of experience with fixing the `fAbortOnError` DCB flag which caused great troubles with the original `SerialPort` library.

The .NET `SerialPort` doesn't change this flag, but s

[2017-03-22 15:33] willdean commented on #984
@daflame76 Does the fAbortOnError problem still show up in the current (.NET 4.6 - Core will be the same) implementations.  If so, will it be possible to write a test which demonstrates for the test suite?  I think it would be legit to open a port, p/invoke the flag on, close it and then try opening again, if that's what it takes.  It's going to be a Windows specific issue anyway.

I would be happ

[2017-03-22 15:40] karelz commented on #16636
This is blocking .NET Core adoption for a particular customer who contacted us offline.
@zhenlan @shmao can you please drive the end-to-end resolution in 2.0? I'll say the same in the bugs @stephentoub identified, but we will need verification after they are fixed that this end-to-end scenario improved.

[2017-03-22 15:51] karelz commented on #3815
The issue seems to be blocking #16636 (which is blocking .NET Core adoption for a customer who reached to us via CSS).
@mellinoe can you please help push it forward as part of your perf work in 2.0? See #16636 for additional link to CoreCLR (maybe there are some dupes here).

[2017-03-22 15:53] tannergooding commented on #3815
I have https://github.com/dotnet/coreclr/issues/9373, which is tracking the general perf issues with the math library on Linux.

[2017-03-22 15:55] ianhays commented on #17368
We've been getting a lot of these lately. Seems like votes in favor of revisiting the behavior. This is a duplicate of #1728, so lets move the discussion there.

I took this to a design review a while back and the sentiment was fairly strong that we should throw on Unix. I doubt that it will go any differently now, particularly since we already shipped with that behavior for 1.0. Of course if ther

[2017-03-22 15:55] #17368 closed

[2017-03-22 16:00] weshaggard commented on #17218
See https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2017-03-22 16:02] tarekgh commented on #3815
Looks to me there is no action from the library side on this one. all changes would be from the runtime side.

@karelz looks there are some tracking issues targeting fixing this issue. so I think we should close this one. I already ensured dotnet/coreclr#4847 and dotnet/coreclr#9373 are marked to v2.0.0

[2017-03-22 16:08] weshaggard commented on #17133
ApplicationIdentity isn't CAS but it does get used by some CAS API's as we have discovered. I'm fine just bringing it along for the ride and adding it in System.Security.Permissions.

[2017-03-22 16:09] steveharter commented on #13967
I believe this is a case where we have socket collision between IPV4 and IPV6 on two tests running simultaneously; same as issues #9017, #13213.

Planning to disable the tests for Linux\OSX that assume a given IPV4 port is not in use because the same port is allocated on IPV6 (and vice-versa)

[2017-03-22 16:10] SolderedMushroom commented on #17308
Agreed about remarks, but I've always found the example section of MSDN documentation to be at best useless, if not outright detrimental. Usually the samples are five times longer than they need to be and won't help you understand the actual method supposedly being documented, unless you carefully scrutinize the entire example and have foreknowledge of the several other, sometimes esoteric, functi

[2017-03-22 16:11] karelz commented on #17382
Did you get chance to profile it and identify the root cause? Do you plan to submit a PR?

Marking up-for-grabs
Complexity: medium (it's perf).

[2017-03-22 16:15] karelz commented on #17378
Span it not yet ready to be sprinkled all over BCL. We are tracking the list of TODOs in #13892.
Once it is ready, we can reopen.

[2017-03-22 16:15] #17378 closed

[2017-03-22 16:15] karelz commented on #17378
Just to clarify: I updated the top post of #13892 to list this proposal as well.

[2017-03-22 16:18] fanoI commented on #17267
There is Dec64 that could have better performances than Decimal64:
http://dec64.com/
(work on this was started on CoreFxLabs but it seems has stalled).

In general for these types to behave as real numeric values same special treatment of the one done for Decimal should be done:

1.  It should be possible to declare them without the need to parse a string (that is new literals should be defined fo

[2017-03-22 16:20] daflame76 commented on #984
It might be possible, but it needs some ugly manual manipulation of the DCB (p/invoke) to enable the fAbortOnError flag and a disconnect of the USB serial port (common with devices that offer consoles over USB serial) which is hard to do in an automated fashion (might require admin privileges to manipulate the installed USB devices).

[2017-03-22 16:21] daflame76 commented on #984
Unless we are just looking at the state of the fAbortOnError flag being left on as the test.

[2017-03-22 16:22] #3815 closed

[2017-03-22 16:22] tarekgh commented on #3815
Issue moved to [dotnet/coreclr #10390](https://github.com/dotnet/coreclr/issues/10390) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-22 16:24] weshaggard commented on #17377
I assume you are referring to FormatterServices.GetUninitializedObject. The API isn't available in .NET Core 1.x but will be available in .NET Core 2.0. see https://apisof.net/catalog/System.Runtime.Serialization.FormatterServices.GetUninitializedObject(Type).

[2017-03-22 16:24] #17377 closed

[2017-03-22 16:25] daflame76 commented on #984
As far as I can tell the error is still present in .NET 4.6, but I will need to test this manually with a device I know that triggers it.

[2017-03-22 16:25] karelz commented on #17377
It is part of upcoming 2.0:
* Here's how you check availability on various platforms: https://apisof.net/catalog/System.Runtime.Serialization.FormatterServices.GetSafeUninitializedObject(Type)
* Here's dogfooding instructions for 2.0: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2017-03-22 16:27] tmds commented on #17378
@karelz thanks

[2017-03-22 16:30] karelz commented on #17376
@Pinox please split your issue into 2 - they belong into different areas, involve different people. Let's keep this one only for the 1st part (I'll update your post).

[2017-03-22 16:31] vancem commented on #17316
@danmosemsft  Just FYI, PerfView knows how to save the data it uses in any 'Stack Viewer' to a file (called a *.PerfView.xml.zip file.    This file is much smaller than the ETL.ZIP file and only has the data in the view.

If you are concerned about anyone seeing the other processes you can do the following
- Open the CPU view (I am assuming this is what you care about)   when the view opens select

[2017-03-22 16:36] karelz commented on #17318
So what exactly should happen? Adding that if statement before every loop?

[2017-03-22 16:37] svick commented on #17308
@SolderedMushroom Well, once that part of the docs becomes open source (I'm assuming that's part of those coming "significant improvements"), you'll be able to improve them yourself.

[2017-03-22 16:46] karelz commented on #17316
Re: "official" way of sharing data.
We have a way to get data from customers via official (paid) support. 'Secret' data from OSS community is harder and undesirable, because there are legal implications on MS - without proper handshake and legal arrangement, it is border line what we can do with the data and what we can't. Not that MS engineers are trying to be malicious, but it is dangerous water

[2017-03-22 16:51] karelz commented on #17308
This issue was moved to dotnet/docs#1778

[2017-03-22 16:51] #17308 closed

[2017-03-22 16:53] karelz commented on #17301
@weshaggard if it is docs change, why Future? IMO we should track it in 2.0 ...

[2017-03-22 16:53] wapxmas commented on #7812
Also this is happens to me randomly, along with "WinHttpException: A security error" sometimes, and only if I using https protocol.

[2017-03-22 16:59] weshaggard commented on #17301
It will be a doc change and perhaps some other tweaking to the build to make it easier. I will move it 2.0 and try and get it fixed in the coming weeks.

[2017-03-22 17:00] stephentoub commented on #17382
I believe the issue is the ProcessManager.IsProcessRunning implementation on Windows.  GetProcessById is implemented to check whether the process is running and throw if it's not, and IsProcessRunning is enumerating all of the active processes in order to see if the target ID is contained, so it's effectively doing what GetProcesses() is doing, but more.  We just need a better IsProcessRunning imp

[2017-03-22 17:24] karelz commented on #3815
Thanks @tarekgh!

[2017-03-22 17:53] tmat commented on #17309
@terrajobst @weshaggard @nguerrera  to comment on TargetFrameworkAttribute

[2017-03-22 18:01] CIPop commented on #13922
@davidsh @karelz

The ObsoleteAttribute was already shipped twice (in 1.0 and 1.1) w/o any known issues so far: https://github.com/dotnet/corefx/blob/release/1.0.0/src/System.Net.Primitives/ref/System.Net.Primitives.cs#L417

That said, it's not part of the Standard for some reason: https://github.com/dotnet/standard/blob/master/netstandard/ref/System.cs#L8002

@davidsh @karelz @weshaggard I think

[2017-03-22 18:19] CIPop opened #17390 "The build command should not change sources that are tracked by git"
Only on one of my boxes I'm getting this change every time I `clean -all && sync && build`:

[code]

[2017-03-22 18:20] Pinox opened #17391 "Feature - exclude field name using code-first approach"
As requested I opened a seperate thread for this request.

In linq we can't exclude field name in the select statement. List.Select(x=> new { column1 , column2 })
using code first approach in EF it would be nice if we can say "give me all table fields except the byte[] field of 20mb. By selecting the field names in the current linq scenario changing the database (code first - adding columns) you n

[2017-03-22 18:21] danmosemsft commented on #16988
@lt72 have you been thinking about this scenario, where the build is a CI build and we need symbols from it? I assume the only solutions in such case are either (a) ?sync back to this commit and rebuild symbols (b) have dumpling upload the symbols.

@gkhanna79

[2017-03-22 18:25] schaabs commented on #16988
@danmosemsft you can upload any associated symbols when you upload the dumps using the --incpaths flag.  Any files uploaded are stored by hash so if the same file is associated with multiple dumps it will only actually be uploaded once.

[2017-03-22 18:40] marksmeltzer commented on #17316
@karelz, fair point about the legal implications of receiving files from the OSS community. I'm fine with using the method that I did use, but if there was a way that's easier, I wanted to ask. (e.g. @vancem's suggestion is a good one.)

For the record though, I am a paid Visual Studio Ultimate + MSDN (or whatever it's called nowadays) customer. 😃 So if that opens up an easier way, then maybe we'l

[2017-03-22 18:44] Pinox commented on #17376
@svick

"It will be truly nice if the language team can extend the functionality of ObservableCollections to include functionality to detect when the item properties in the collection change

What is the use case? As far as I know, the primary use case for change notifications is UI binding, and those libraries already know how to detect the changes themselves (assuming the objects implement INoti

[2017-03-22 18:54] steveharter commented on #16765
@stephentoub can you take another look at this please?

I suggest adding some diagnostics such as checking if socket.Connected == true after the ConnectAsync().

If that diagnostics shows the socket is not connected then another error value occurred within ConnectAsync as pending=true will be true only if that exact error is returned:
            bool pending = (socketError == SocketError.IOPendin

[2017-03-22 18:56] vancem commented on #17316
Generally speaking you have to be reasonably paranoid to worry about what a ETW CPU trace shows you.   It shows you the names of lots of files, and the names of lots of functions/methods/types that get executed.   It also collects WHERE your networking packets go and how big they are (including potentially URLs and remote SQL commands).   But generally speaking user data is NOT in there.    So if

[2017-03-22 18:58] weshaggard commented on #17309
TargetFrameworkAttribute is an optional pieces that is generated by some msbuild targets so it is isn't totally reliable. I know for example we don't put it on most of the corefx libraries. If it is present it is potentially usable but if it isn't present there isn't any great way to figure out what it was compiled against. You can try and look at the assembly references but that also isn't full p

[2017-03-22 19:01] weshaggard commented on #12592
When we find cases where we need to keep the attributes for at least one build configuration can we please just keep it for all configurations instead of #ifdef'ing them like we are doing in https://github.com/dotnet/corefx/pull/17262#discussion_r107455536

[2017-03-22 19:02] #14533 closed

[2017-03-22 19:03] raffaeler commented on #17309
Thanks @weshaggard .
I expected to find some flag in the metadata which could give me a hint at least on the required CLR or similar. Are you telling me that there is nothing in the metadata for this purpose?

Inf not, what is the best strategy to dynamically load plugins (which should be compatible with the currently running framework)? Simply trying to load the assembly (and see if its is null)

[2017-03-22 19:04] CIPop commented on #11910
Discussed with @davidsh offline. This bug affects .Net Framework performance only (not Core) but requires changes in the CoreFX repo which builds WinHttpHandler.

The repro involves importing _only_ the System.Net.Http.WinHttpHandler package and evaluating performance using it in conjunction with System.Net.Http.HttpClient from .Net Framework. (Can't mark up for grabs as CoreFX/NetFX OSS perf test

[2017-03-22 19:05] karelz commented on #16988
@mellinoe do we pass the arg in dumpling?

[2017-03-22 19:06] karelz commented on #13922
@CIPop don't forget that .NET Standard has much wider reach and impact than .NET Core 1.x. The fact we didn't get feedback in .NET Core 1.x is encouraging, but not sufficient argument.

[2017-03-22 19:07] svick commented on #17376
@Pinox Do your objects implement `INotifyPropertyChanged` properly? If they do, and you're using bindings correctly, the controls should update when the objects change, no need for changes to `ObservableCollection`.

[2017-03-22 19:09] mellinoe commented on #16988
I don't think we do. It shouldn't be too hard to add, we can probably point it to the folder containing the test runtime and also the folder containing the test assemblies.

[2017-03-22 19:23] CIPop commented on #13922
@karelz I agree but I still think that symmetry is required in this case. There are three choices:

1. Add Obsolete to `enum SecurityProtocolType` for Ssl2/3
2. Remove the Obsolete on the System.Net.Primitives `enum SslProtcols` Ssl2/3
3. Do nothing and break symmetry with the risk of creating some confusion (SecurityProtocolType Ssl2/3 is OK to use but SslProtocols Ssl2/3 is not).

I still think

[2017-03-22 19:23] steveharter commented on #16945
@stephentoub this test was added about three weeks ago. Any thoughts? We should probably disable it.
[code]
Also there are two Assert.True's here without any userMessage param so that should be added.

[2017-03-22 19:27] willdean commented on #984
@daflame76 The test suite is able to create errors on a port by transmitting data with, say, parity errors from a second another port and looping it back - this saves playing games with USB cables and lets us create errors at will.

It would be good to show and fix the problem using 'real' (i.e. non-USB) serial ports, as it makes it much easier to argue about improvements in SerialPort rather than

[2017-03-22 19:27] Pinox commented on #17376
Hi @svick , not sure I'm following. My listview has semantic zoom and I currently binding to a list collection. I assume your saying I should bind to a class (object) that use INotifyPropertyChanged  property on the individual fields and then bind to a List of these observable object as in MS example - https://msdn.microsoft.com/en-us/library/ms229614(v=vs.110).aspx

[2017-03-22 19:28] svick commented on #17391
Reposting my comment from https://github.com/dotnet/corefx/issues/17376:

I'm not sure this is something that makes sense in the general LINQ. On the other hand [EF Core supports explicit `Include`](https://docs.microsoft.com/en-us/ef/core/querying/related-data), so maybe it could make sense if it also supported explicit `Exclude`. In that case, it might make sense to request this feature from [EF

[2017-03-22 19:29] stephentoub commented on #16945
The test itself has actually been in the repo since 2015:
https://github.com/dotnet/corefx/commit/09932a45e3cfd470f7386d04b7aa683f30a753ac#diff-5d77ee23eb2ea596e218f9c1ef09d793R22

What changed a few weeks ago was allowing the test to work with the various Async APIs on Socket, e.g. allowing it to work with the EAP, Task, and APM methods (and the sync ones), rather than just the APM ones.  It's po

[2017-03-22 19:30] CIPop commented on #8517
The work required here is to replace all instances of [System.Net.InternalException](https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Net/InternalException.cs) with [Environment.FailFast](https://github.com/dotnet/corefx/blob/f9c54ab8d78e60ef6d5e0d0226ad45448725cc9e/src/System.Runtime.Extensions/src/System/Environment.cs#L112).

[2017-03-22 19:34] willdean opened #17396 "SerialPort: fAbortOnError not always cleared correctly when port is opened"
@daflame76 reported this in #984.

There has been a long-standing problem with SerialPort where the DCB fAbortOnError flag can get set somehow (by past problems with the port, how it gets set doesn't really matter) and is then not cleared by SerialPort when the port is opened in a .NET application.  This changes the behaviour of the port so that it doesn't work correctly with SerialPort, because i

[2017-03-22 19:41] daflame76 commented on #17396
@willdean that is exactly the issue.  Thank you for digging up the related issue.

[2017-03-22 19:41] CIPop commented on #10600
@karajas, closing this now since it's very old and I see XUnit working at this time.
Also, it sounds like a circular dependency issue: in general one shouldn't need to change production code to accommodate testing infrastructure.

[2017-03-22 19:41] #10600 closed

[2017-03-22 19:41] svick commented on #17376
You should bind to an `ObservableCollection` containing objects that implement `INotifyPropertyChanged`. I believe it should work then.

[2017-03-22 19:46] stephentoub commented on #11910
Is the issue here that WinHttpResponseStream needs to override Begin/EndRead?  If so, it does:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpResponseStream.cs#L202
https://github.com/dotnet/corefx/pull/16134

[2017-03-22 19:47] daflame76 commented on #17396
That report says we need to respect the setting if a program set it to on, which technically is correct, but the port tends to fail to close the serial port stream properly because the underlying windows file handle becomes invalid since it is closed by Windows directly.

I didn't want to pollute the main channel with this kind of detail.

It is possible that the `fAbortOnError` flag is valid in t

[2017-03-22 19:47] Pinox commented on #17376
thnks for the advise , much appeciated. Will give it a try.

[2017-03-22 19:59] srivatsn commented on #17236
Yes referencing from UWP should work.

[2017-03-22 19:59] CIPop commented on #11165
We have the following options:

1. Add a prerequisite step that must be ran elevated (admin/root).
2. Require that all tests run as administrator.
3. (1 or 2) + [Capability](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/Common/tests/System/Net/Capability.Sockets.cs) detection and "Inconclusive" test reporting.
4. Move these tests to Outerloop (I think that some

[2017-03-22 20:03] #17376 closed

[2017-03-22 20:04] mattleibow commented on #17236
The actual referencing works, but the System.Xml.ReaderWriter v4.3.0 NuGet has an assembly version that does not appear to exist in the UWP profile: "System.Xml.ReaderWriter.dll,Version=4.1.0.0"

[2017-03-22 20:04] CIPop commented on #11910
Cool! Then this should be fixed! (Will validate once we're done with our perf story.)

[2017-03-22 20:04] #11910 closed

[2017-03-22 20:08] weshaggard commented on #17309
Correct there isn't any metadata that tells you which target framework or runtime is required. There are assembly references which give some hints but doesn't really help in all cases. If you were really interested you could look a the assembly references and see if all of them with the right versions are available to be loaded but honestly I would let the assembly loader do that for you. If you w

[2017-03-22 20:09] willdean commented on #17396
I don't actually see that we need to 'respect the setting' at all - as someone else points out in that Connect report, *all* properties of a serial port are "global", and yet we don't say we have to use a particular baud rate or parity setting or timeout settings just because it's what's already set when we open the port.  It's incumbent on the application opening the port to get it configured how

[2017-03-22 20:15] davidsh commented on #5200
There are 2 aspects to this issue.  One, is about a different exception sometimes being thrown when the .ReadAsync() is cancelled.  .NET Framework appears to always throw back an `OperationCanceledException` regardless of any race condition on the cancellation token.  The current .NET Core code seems to thrown `OperationCanceledException` iff. the I/O hasn't started.  But if it has started and the

[2017-03-22 20:24] raffaeler commented on #17309
Thank you, got it.

[2017-03-22 20:24] #17309 closed

[2017-03-22 20:40] AronParker opened #17401 "BitConverter.GetBytes(long value) unaligned memory access"
As the .NET core supports architectures like ARM where unaligned memory writes can result in a fault, is the following code safe?

[code]
[Source](https://github.com/dotnet/corefx/blob/0f2870b1ece429a0cc247b97d830fd55585abf22/src/System.Runtime.Extensions/src/System/BitConverter.cs#L76-L85)

As far as I know the allocator is only guaranteed to return an address aligned on a 32 bit boundary, what i

[2017-03-22 20:44] willdean commented on #17396
I've built a test here which does the following:

1. Opens a port
2. Uses the internal method `SetDcbFlag` to set `fAbortOnError`
3. Uses `GetDcbFlag` to read `fAbortOnError` to verify it's set
4. Closes the port
5. Reopens the port
6. Uses `GetDcbFlag` to read `fAbortOnError`

With both 'real' ports and FTDI USB-serial ports using current drivers, the fAbortOnError flag does not survive the close

[2017-03-22 20:52] davidsh commented on #9023
.NET Framework also allows the HttpWebRequest and HttpClient APIs to send a request using 'TRACE' verb and a request body.  The usual response from a server is "400 Bad Request".

We will keep .NET Core matching in behavior to .NET Framework.  While the RFC might talk about expectations of the stack, it is describing the protocol behavior overall between client and server, and not necessarily the

[2017-03-22 20:59] danmosemsft commented on #17401
@janvorli

[2017-03-22 21:02] sharwell commented on #17106
@ianhays Unfortunately I do not. This issue was found via code review while I was working on the Java port of this library.

[2017-03-22 21:07] #17365 closed

[2017-03-22 21:26] WinCPP commented on #12590
@karelz @jamesqo Is this something that I can contribute in? Thanks.

[2017-03-22 21:28] danmosemsft commented on #12590
@stephentoub is such a substitution always a no-brainer, or are there caveats/measurements needed?

[2017-03-22 21:41] DashNY opened #17403 "Graphs logic"
Do you have any plans to add logic for manipulating generic graph structures? E.g. adding nodes, vertices, depth/breadth-first searches, traversal algorithms, cycle detection, etc.
Thank you.

[2017-03-22 21:54] divega commented on #16165
Met with @terrajobst and @bricelam today to discuss this. It seems that `GetSchema()` and `GetSchemaTable()` is the main reason we cannot split `DataSet` from the `System.Data.Common` implementation. New ADO.NET providers are however free to not implement `DataAdapter` and skip support for `DataSet`.

This is won't fix.

[2017-03-22 21:54] #16165 closed

[2017-03-22 22:01] janvorli commented on #17401
@BruceForstall what would JIT generate here for ARM?

[2017-03-22 22:11] ahsonkhan commented on #17286
@bcronce, @davidfowl, close this issue?

[2017-03-22 22:30] tinchou opened #17405 "System.Data.Odbc future improvements"
Now that #15646 is (about to be) merged, let's track future work here:

1. Enable tests: please see #15776 for info on the missing dependencies
1. Possible C types mismatch:
    * Per http://www.unixodbc.org/doc/ProgrammerManual/Tutorial/gloss.html the native types are not fixed-width
    * Currently everything works fine in our supported platforms, but we might end up needing a shim such as here

[2017-03-22 22:30] JimBobSquarePants commented on #5730
Hi @mellinoe

Does the closing of this issue mean that we will most likely not see the inclusion of a 3x3 matrix?

I ask because I think that an important point has been missed here. That of API consumption for the general public.

While it is possible to do the relevant calculations (Multiplication, Invert) for colorspace transforms using `Vector3` and `Matrix4x4` it's awkward to do so as you hav

[2017-03-22 22:36] danmosemsft commented on #15255
- [ ] CannotMakeMemberNonVirtual
- [ ] CannotMakeMoreVisible
- [ ] CannotMakeTypeAbstract
- [ ] CannotRemoveBaseTypeOrInterface // @ViktorHofer
- [ ] CannotSealType
- [ ] MembersMustExist // @danmosemsft
~~- [ ] TypesMustExist~~ // ignore this, non goal

[2017-03-22 22:40] steveharter commented on #4002
@geoffkizer do you plan on making the change soon? (or any one else)?

[2017-03-22 22:41] karelz commented on #13922
I didn't realize there is inconsistency already baked in.
@weshaggard I am also leaning towards (1) in .NET Standard 2.0 as well ... thoughts?

[2017-03-22 22:45] BruceForstall commented on #17401
Looks like we generate:
[code]
so, 4 byte writes, since we have 4 byte registers.

On Windows, I don't believe we fault on unaligned stores; perhaps the OS fixes it up. We do try to ensure stores are aligned as much as possible, though.

We respect the cast, so if you change the code to:
[code]
we still generate the same instructions, although the address is now unaligned.

[2017-03-22 22:49] lloydjatkinson commented on #984
Just commenting to say that I too would like to see serial support in .NET Core. The one in full .NET is  regarded as pretty buggy, and the one in Mono is regarded as so bad as to be useless.

Having serial support for .NET Core would be great for embedded devices. As a side note, there's a lot of devices out there with a USB port on. But when it's connected to a PC, due to the driver it acts 100%

[2017-03-22 22:52] mellinoe commented on #5730
There's no plans to add any types right now, especially to the set of things in System.Numerics.Vectors.

There are certainly some existing C# graphics API's which include extra things like 3x3 matrix types ([SharpDX](https://github.com/sharpdx/SharpDX/blob/master/Source/SharpDX.Mathematics/Matrix3x3.cs), [OpenTK](https://github.com/opentk/opentk/blob/develop/src/OpenTK/Math/Matrix3.cs)). But ther

[2017-03-22 22:53] davidfowl commented on #17286
Yes

[2017-03-22 22:53] #17286 closed

[2017-03-22 22:56] weshaggard commented on #13922
Even if we go with 1 we would still have to add the obsolete attribute to .NET Framework as well if we want full consistency. In doing that we do have the potential serialization risk.

That said I'm not opposed to adding the obsolete attribute to the ref in .NET Standard. If that is what you want then please file an issue on dotnet/standard repo with the information to put in the obsolete message

[2017-03-22 22:57] janvorli commented on #17401
So we don't generate strd / ldrd for 64 bit access, right? That means that the code BitConverter.GetBytes should be safe on ARM.

[2017-03-22 23:00] willdean commented on #984
@lloydjatkinson The .NET SerialPort has now been ported to .NET core and will be in 2.0, but for Windows only so far.  It's not perfect, but much of the buggy regard it's held in is actually due to craptastic USB-Serial products rather than SerialPort itself, so it's generally pretty usable.

SerialPort supports USB-Serial devices, as far as they correctly emulate the traditional UART-based serial

[2017-03-22 23:10] BruceForstall commented on #17401
Looks like we have support for emitting those instructions, but no code that uses it currently.

[2017-03-22 23:10] CIPop commented on #11874
Supporting Websocket extensions would require access to the socket-layer, effectively modifying the bytes before/after they are written to/read from the wire. Adding the proper header support or an `Extensions` property will not suffice for this feature. I would imagine a design similar to HttpClient's [HttpMessageHandler ](https://msdn.microsoft.com/en-us/library/system.net.http.httpmessagehandle

[2017-03-22 23:13] danmosemsft commented on #984
@lloydjatkinson if you want to try it out, please see https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md .. add a reference to https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.IO.Ports and let us know how it goes

[2017-03-22 23:13] JimBobSquarePants commented on #5730
@mellinoe Yeah, there are definitely a lot of different shapes out there. Most of those are extremely specialized though whereas the 3x3 matrix has more generic applications.

If one isn't to be added what would your advice be - To roll my own or use 4x4?

[2017-03-22 23:15] shawnhar commented on #5730
I would generally recommend using the 4x4.

[2017-03-22 23:16] JimBobSquarePants commented on #5730
Thanks @shawnhar I thought that would be the case.

[2017-03-22 23:16] CIPop commented on #12038
I think that's the right place to put the new API too. The API should be identical to one on HttpClient:
[code]

For the API proposal please follow https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/adding-api-guidelines.md.
If anyone picks this item, please focus on the ManagedWebSocket implementation initially.

[2017-03-22 23:21] CIPop commented on #12331
In UWP System.Net.Sockets we have a few #ifdefs to avoid build issues with an older Stream dependency.
This item is tracking the work required to take dependency on the new System.IO contract and remove the #ifdef build hacks.

[2017-03-22 23:23] CIPop commented on #15145
I agree with @davidsh. I don't see this as a rewrite but more as ensuring we're testing against the right quirks and that behavior differences are properly captured by our tests.

[2017-03-22 23:28] CIPop commented on #14560
Moved to WCF: https://github.com/dotnet/wcf/issues/1818

I believe that WCF requires `NegotiateStream` (from System.Net.Security) for this to work. NegotiateStream is not currently available on the UWP platform.

[2017-03-22 23:33] CIPop commented on #14560
My bad: didn't read the title carefully. This is actually to track NegotiateStream not WCF.

[2017-03-22 23:37] CIPop commented on #13868
Testing this would require Nego infrastructure (Active Directory, a SMTP server that understands NTLM/Kerberos, etc).

[2017-03-22 23:41] CIPop commented on #13107
We need to remove all instances where the Uri code is locking on a string and replace them with a proper lock objects.

I think this is a different, more complicated task and it shouldn't be addressed part of this issue.

[2017-03-22 23:48] CIPop commented on #12542
I agree with @geoffkizer: since all the invocations are synchronous, we need to ensure that GetResponse() will not return until all data is drained.

Testing the fix requires a local FTP server. Since we're touching this code we should properly add a [new Configuration.Ftp.cs](https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Net/Configuration.Http.cs) instead of the one-off Env

[2017-03-22 23:51] CIPop commented on #12932
@Clockwork-Muse please feel free to contribute to the multi-machine effort. I have since added deployment scripts and tested the environment on 3 VMs. See the readme at: https://github.com/dotnet/corefx/tree/master/src/Common/tests/System/Net/Prerequisites

After testing out your change, we would be able to update the public server-side as well.

[2017-03-22 23:53] CIPop commented on #13570
This should have been closed (see my last comment above).

[2017-03-22 23:53] #13570 closed

[2017-03-22 23:56] CIPop commented on #14103
We're considering larger architectural changes for WebSockets in 2.1.0 that may also address this issue.

[2017-03-23 00:00] karelz opened #17408 "Add CI leg / Helix run to test net45-net463 packages on Desktop"
We have quite a few packages (35) that ship assets on Desktop. We do not have any test coverage today:
[code]
See details in https://github.com/dotnet/corefx/pull/17262#issuecomment-288531194

[2017-03-23 00:02] weshaggard commented on #17236
@mattleibow I took a look at your repo (thinks for the minimal project repo). You are correct this isn't fully working it appears as though the package references are not flowing across the ProjectReference so the UWP application isn't merging the package graphs and so it isn't picking up the newer package for System.Xml.ReaderWriter. On top of the workaround you suggested you can also explicitly

[2017-03-23 00:02] CIPop commented on #14674
This seems to be a duplicate of #11795.
@mconnew please reopen if I missunderstood.

[2017-03-23 00:04] weshaggard opened #17410 "Request: Support for System.Security.Cryptography.RSACryptoServiceProvider or similar"
@PaulHigin commented on [Wed Mar 22 2017](https://github.com/dotnet/standard/issues/256)

Just want to make a formal request for this crypto provider or similar.  We (PowerShell) need it over multiple platforms for secure credential passing.  We also need ephemeral keys (no UI interaction), CRYPT_VERIFYCONTEXT, that is supported in native Windows API but apparently not in the .Net implementation.

[2017-03-23 00:04] weshaggard opened #17412 "Request: System.Diagnostics.Process support for CREATE_NEW_PROCESS_GROUP creation flag"
API Proposal:

[code]

Usage:
[code]

@PaulHigin commented on [Wed Mar 22 2017](https://github.com/dotnet/standard/issues/255)

The Process class currently supports StartInfo class information but no process creation flags.  We (PowerShell) need support for cross platform CREATE_NEW_PROCESS_GROUP creation flag to create processes outside the parent process group.  This is supported in Windows and

[2017-03-23 00:13] vanillajonathan commented on #11874
@CIPop Well I am not too familiar with the concept of WebSocket extensions but were experimenting to see if some protocol handler, parser or serialer/deserializer could be implemented, perhaps RPC as an extension.
I was learning WebSockets and reading the RFC and noticed that support for extensions was mentioned in the RFC but lacking in the .NET framework.

[2017-03-23 00:15] karelz commented on #13922
Good point @weshaggard. I view inconsistency between platforms a bit lighter than inconsistency inside the same platform.
Also if we change .NET Core (which we IMO should), we should be able to change also .NET Standard IMO - it is the modern common API surface.
I'd say let's do it!

[2017-03-23 00:16] ViktorHofer opened #17413 "40+ tests failing with coreclr-beta-25122-02"
Currently 40+ tests are failing with coreclr-beta-25122-02:
https://github.com/dotnet/corefx/pull/17406

Thanks to @tarekgh and @joperezr  we found out that it might be connected to https://github.com/dotnet/coreclr/pull/10372.

One of the tests which is failing (ASCIIEncodingTests.cs):

[code]

Encoding name property is calling into resources:
[code]

[2017-03-23 00:17] mellinoe commented on #16636
@deppe Are you able to run the same tests on .NET Core 1.1 and compare the results?

[2017-03-23 00:23] karelz commented on #11165
BTW: No multiple area labels please - see [triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified). Ownership gets muddy for multi-area issues (typically everyone blaming the other side), it gets double-counted in reports, etc. If it is networking specific, networking v-team will have to drive it (potentially file requests on

[2017-03-23 00:25] CIPop commented on #11795
/cc @davidsh

My understanding is that there are two proposals:

1. the one in #14674 proposes that the cookie filtering should be changed to respect the latest RFC. This has app-compat risk.
2. the one in this issue is proposing a new API surface that will accept a domain (`string`) and would have the latest RFC behavior.

I lean towards having the new API and ensuring that new versions of compon

[2017-03-23 00:25] #17133 closed

[2017-03-23 00:30] danmosemsft commented on #17413
Seems the `.` changed to an `_` in the resource name but not in the code

[code]

@ViktorHofer my coreclr repo is not building right now, if you want to give this a shot before @alexperovich comes back tomorrow.

[2017-03-23 00:32] krwq commented on #4278
@Jaedson33 every piece of software has errors :wink: Are there any particular things which doesn't work you?

[2017-03-23 00:38] CIPop commented on #13922
I'm planning as soon as build/tooling will allow me to change only the ref to ensure build-time warnings only. (In Framework we extract the refs from the assemblies automatically while in Core we have the separate ref folder.)

Moving to 2.0 and will pick-up Friday or next week. Feel free to change back to Future if further discussion ends up disagreeing.

[2017-03-23 00:46] ViktorHofer commented on #17413
Thanks @danmosemsft! I'll take the issue and submit a PR in coreclr ASAP

[2017-03-23 00:49] danmosemsft commented on #17413
To test your change (run the encoding test with your own corelib), see
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md#testing-with-private-coreclr-bits

[2017-03-23 00:53] ahsonkhan opened #17414 "Proposal: API changes to Span<T> as part of shipping story"
As part of productizing `Span<T>` for pre-release - https://github.com/dotnet/corefxlab/issues/1314 / https://github.com/dotnet/corefxlab/issues/1292 - here are the proposed changes that became visible from the use of `Span<T>` in [Kestrel](https://github.com/aspnet/KestrelHttpServer) and from design discussions of what APIs are useful versus what aren't ready to be shipped or not useful.

## Prop

[2017-03-23 01:05] Jiayili1 commented on #17300
@danmosemsft Sorry for late, I will remove it.

[2017-03-23 01:05] jkotas commented on #17414
Do we also want to turn Fill (and potentially Clear) into extension method? It has been bounced several times.

[2017-03-23 01:28] srivatsn commented on #17236
I think you can start with https://github.com/dotnet/sdk

[2017-03-23 01:44] ahsonkhan commented on #16888
Any updates on this API proposal?

[2017-03-23 01:45] ahsonkhan commented on #17414
cc @davidfowl, @jkotas, @KrzysztofCwalina, @shiftylogic, @terrajobst

[2017-03-23 01:49] ahsonkhan commented on #17414
Rationale for this from @benaadams, https://github.com/dotnet/corefxlab/issues/1314#issuecomment-286669057

[2017-03-23 01:50] jkotas commented on #16888
We need a real example that actually works. The examples at the top are not very convincing.

This API was supposed to make (this real method)[https://github.com/dotnet/corefxlab/blob/041ec3aa8281a9203c5523dd875371519114ce6a/src/System.IO.Pipelines/WritableBufferExtensions.cs#L16] easier to implement, but I do not see how.

[2017-03-23 01:51] ahsonkhan commented on #16888
@davidfowl, thoughts?

[2017-03-23 01:52] benaadams commented on #17414
Vectorizing Fill would work quite well; which would need to be done outside of coreclr

[2017-03-23 02:30] davidfowl commented on #17414
I would advise staying away from string in the short term so remove:

[code]

[2017-03-23 02:30] dhoehna commented on #15554
@danmosemsft I am trying to make TimeSpanValidatorAttribute and make the method MinValuString throw ArgumentOutOfRangeException.  I can't make a TimeSpan that is greater than Max because I get a StackOverflowError.  So, how do I use the attribute to throw that error?

[2017-03-23 02:38] ahsonkhan commented on #17078
cc @KrzysztofCwalina, @shiftylogic
Why is the CI showing low (zero) test coverage for Span.Clear?
Specifically, here it shows 0 code coverage. https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/System.Memory_SpanHelpers.htm#Djworkspacecode_coverageb14a30e5srcSystemMemorysrcSystemSpanHelpersClearcs

But we have extensive Span.Clear tests (which get discov

[2017-03-23 02:41] ahsonkhan commented on #17414
Can you expand on that? Why stay away from string?

[2017-03-23 02:44] davidfowl commented on #17414
Because we haven't done anything with strings and Span up to this point. It's all been pretty light weight and prototypy. Once we add strings to the equation, we'll need lots of other methods on `ReadOnlySpan<char>` to make it feel like a string (like all the methods that exists on String).

[2017-03-23 03:44] mairaw commented on #16813
Cool. Thanks for the tip @karelz. I'll discuss with my team if they have a preference.

[2017-03-23 04:12] jkotas commented on #17401
Right, .NET Core does not support any architectures that require strict alignment currently. There are number of issues to fix throughout to stack if it ever changes.

If you would like to portable code that is compatible with architectures that require string alignment, you can use Unsafe.Read/WriteUnaligned<T>. Here is example from a test: https://github.com/dotnet/corefx/pull/16570/files#diff-4

[2017-03-23 04:15] jkotas commented on #17413
I have submitted PR with the fix. There was also another issue in EventSource, and also tests in corefx that party on corelib internals using reflection that have changed will need to be updated (https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsManifestNegative.cs#L36)

[2017-03-23 04:55] danmosemsft commented on #15554
It looks like you have to set MaxValueString to something less than TimeSpan.MaxValue, then you can set MinValueString to something greater than MaxValueString and it will throw.

[2017-03-23 05:56] dotnet-mc-bot opened #17420 "Tests required elevated privileges are run in non-sudo environments."
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.ProcessTests/TestBasePriorityOnUnix` has failed.

System.ComponentModel.Win32Exception : Permission denied

        Stack Trace:

           at System.Diagnostics.Process.set_PriorityClassCore(ProcessPriorityClass value) in /root/corefx/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs:line 192
       at System.D

[2017-03-23 05:57] Jiayili1 commented on #17420
Closed issue: https://github.com/dotnet/corefx/issues/9424

[2017-03-23 06:06] Jiayili1 commented on #16945
Failed again on build 20170322.02: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170322.02/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveApm~2FSendToRecvFrom_Datagram_UDP(loopbackAddress:%20::1)

[2017-03-23 06:07] dotnet-mc-bot opened #17421 "Test failure: System.Net.Sockets.Tests.UdpClientTest/Ctor_IPEndPoint_CanSend"
Opened on behalf of @Jiayili1

The test `System.Net.Sockets.Tests.UdpClientTest/Ctor_IPEndPoint_CanSend` has failed.

System.Net.Sockets.SocketException : Permission denied

        Stack Trace:

           at System.Net.Sockets.Socket.UpdateStatusAfterSocketErrorAndThrowException(SocketError error, String callerName) in /root/corefx/src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs:line 527

[2017-03-23 06:11] jinqi166 commented on #6564
@zhenlan 太棒了！

[2017-03-23 06:12] Jiayili1 commented on #15395
Failed again on build 20170322.02, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170322.02/workItem/System.Runtime.Numerics.Tests/analysis/xunit/System.Numerics.Tests.divremTest~2FRunDivRemTests

[2017-03-23 06:16] dotnet-mc-bot opened #17422 "Test failure: System.Security.Cryptography.X509Certificates.Tests.X509StoreMutableTests_OSX/AddPrivateAfterPublic"
Opened on behalf of @Jiayili1

The test `System.Security.Cryptography.X509Certificates.Tests.X509StoreMutableTests_OSX/AddPrivateAfterPublic` has failed.

Interop+AppleCrypto+AppleCommonCryptoCryptographicException : write permissions error

        Stack Trace:

           at Interop.AppleCrypto.X509StoreAddCertificate(SafeKeychainItemHandle certOrIdentity, SafeKeychainHandle keychain) in /Users/

[2017-03-23 06:53] Jiayili1 commented on #15395
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_debug/141/testReport/System.Numerics.Tests/divremTest/RunDivRemTests/

[2017-03-23 07:00] Jiayili1 commented on #17373
Failed again on Windows 10, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_debug/130/testReport/System.Data.SqlClient.Tests/ExceptionTest/NamedPipeTest_dataSource____np______________pipe____sqlbad____query___/

[2017-03-23 09:10] vanillajonathan commented on #11874
Is there any argument in favor or against just to expose a `Extensions` property on the `WebSocket` class without re-architecting anything?

Then the server could at least be aware that there was a request to use an extension even if it is not able to satisfy that request.

[2017-03-23 10:06] aviziv commented on #17339
Hi,

As you thought, we had a problem with the verification, we updated the .net code.
Currently I am getting:

[code]

The return logs in debian code are:
certsChain.ChainElements.Count: 2
certsChain.ChainStatus.Length: 2
certsChain.ChainStatus: System.Security.Cryptography.X509Certificates.X509ChainStatus
certsChain.ChainStatus.Status: PartialChain
certsChain.ChainStatus: System.Security.Cryptog

[2017-03-23 10:33] aunoum commented on #9788
You can edit csproj files and add this line:
<PackageTargetFallback>$(PackageTargetFallback);dotnet5.6;portable-net45+win8</PackageTargetFallback>

The result should look like this:
<PropertyGroup>
    <TargetFramework>netcoreapp1.1</TargetFramework>
    <PackageTargetFallback>$(PackageTargetFallback);dotnet5.6;portable-net45+win8</PackageTargetFallback>
  </PropertyGroup>

This is how VS converte

[2017-03-23 12:01] delahermosa commented on #16185
No one can help? 😭

[2017-03-23 12:10] tmds commented on #16201
I think this issue may be caused by: https://bugzilla.mozilla.org/show_bug.cgi?id=1297397
The fix is in nss 3.29 and worked around in libcurl 7.50.

CC @omajid

[2017-03-23 12:27] Happypig375 commented on #17267
binary32 is float (System.Single), and binary64 is double (System.Double).
All remaining types are not implemented though.

[2017-03-23 12:31] ViktorHofer commented on #17413
@jkotas I will create an issue for it as it depends on the changes from coreclr and the auto PR merges are still failing (some tests).

[2017-03-23 12:34] StingyJack commented on #9788
@aunoum - This was never a project.json so I cant try to convert, but I only need this for the scaffolding and it seems easy enough.

[2017-03-23 12:39] ViktorHofer opened #17426 "tests in corefx that party on corelib internals using reflection that have changed will need to be updated"
As @jkotas pointed out https://github.com/dotnet/corefx/issues/17413#issuecomment-288612891, tests which are using reflection to access resource strings need to be updated. Depends on this coreclr PR: https://github.com/dotnet/coreclr/pull/10372

Example (https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestsManifestNegative.cs#L36):
[code]

[2017-03-23 12:51] ViktorHofer commented on #17426
Grep results:

[code]

[2017-03-23 13:05] bartonjs commented on #17339
I'm assuming that the "return logs" section is your output of some X509Chain information; but I'm definitely confused as to having both "Partial Chain" (I can't find the next step) and "Untrusted Root" (I found the last element, but don't trust it) in the same result.

The OpenSSL command invocation does suggest that as long as you are reading each of the certificates out of the ca-chain.cert.pem

[2017-03-23 13:18] bartonjs commented on #17422
Both debug and release failed with `Interop+AppleCrypto+AppleCommonCryptoCryptographicException : write permissions error`.  Did we have other I/O errors on the mac at the time?  Do we have any tests that make the filesystem readonly?

[2017-03-23 13:44] deppe commented on #16636
Looks similar using .NET Core 1.1:

[code]

This was run using dotnet CLI version 1.0.1 and the following csproj. Let me know if i need to tweak anything in my setup.
[code]

[2017-03-23 13:49] rstam opened #17427 "SslStream AuthenticateAsClient method is not sending SNI information to the server on OS X"
When using AuthenticateAsClient to connect to a server, SslStream does not appear to be sending the SNI information to the server.

We have observed this issue on OS X. When running on Windows the SNI information *does* appear to be sent. It is unknown to us whether the SNI information is sent when running on Linux.

[2017-03-23 13:57] mattleibow commented on #17236
@weshaggard Thanks for confirming. For now, I will just build against the older NETStandard.Library. And if I need to use a later version, I can add a netstandard dependency into my .nuspec. That should solve all issues.

[2017-03-23 14:04] dmcweeney commented on #11100
Hi, Well done all involved in resolving this. Cant say I understand all the nuts and bolts but one thing I still don't understand is why this only happened when we upgraded our solution from VS 2015 Update 3 to VS 2017. Solution in question was a set of ASP.Net Core projects targeting the .net framework 4.6. Problem was getting triggered by our use of Azure KeyVaultClient.

Thanks, Donal

[2017-03-23 14:04] fanoI commented on #17267
In some way related to the literals we need the possibility to define new from code: https://github.com/dotnet/roslyn/issues/5806 (so we can add new numeric types easily)
and const binary data that will permit easier to do the assignation without the use tricks that parse strings or worst passing "manually" the number components: https://github.com/dotnet/roslyn/issues/16095#issuecomment-269116237

[2017-03-23 14:20] stephentoub commented on #17426
I fixed this here:
https://github.com/dotnet/corefx/pull/17419/commits/a6c65a0e2a3a678648be6c0ec187e70d47d42069
but there are other test failures in some math libs preventing a successful run.

[2017-03-23 14:21] aviziv commented on #17339
Thanks for the reply,

I'll try to explain again,
I have the following files on the Debian machine:
**intermediate.cert.pem** - Contains only the intermediate certificate.
**ca.cert.pem** - Contains only the CA certificate.
**ca-chain.cert.pem** - Contains both CA and intermediate certificate in the same file.
**cert.pem** - Contains only the server certificate.

In .net I have 3 objects (X509Cert

[2017-03-23 14:32] shiftylogic commented on #17078
Until yesterday, I'm pretty sure those tests were never running against slow Span. I added netfx to the test configuration, but we might need to add more.

[2017-03-23 14:48] bartonjs commented on #17339
Without having an example certificate chain which exhibits this behavior I don't think that there's really anything else that I can do to provide assistance.  If your data cannot be shared, the best advice I can give is that you need to determine why [FindIssuer](https://github.com/dotnet/corefx/blob/3b19899963606a34e1623e0926b90fe907197ee6/src/System.Security.Cryptography.X509Certificates/src/Int

[2017-03-23 14:53] eerhardt opened #17430 "alpine RID falls back to linux RID"
In our RID fallback graph:

https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json#L571-L576

We list:

[code]

However, from what I understand, `alpine-x64` isn't compatible with our portable `linux-x64` runtime.  Thus it seems like it shouldn't be listed as a fallback option, because that will cause problems when selecting runtime assets.  If there isn't an ass

[2017-03-23 15:43] geoffkizer commented on #4002
No.

[2017-03-23 15:49] StanislavUshakov commented on #17382
As I reckon it happens because of the diferent impelemntations for GetProcessIds method which differs for local and remote machine:
[code]
For remote machine PerformanceCounters are used:
[code]
For local machine we use Interop.Kernel32.EnumProcesses:
[code]
I can change implementation for local machine to PerformanceCounters and run test/benchmarks.

[2017-03-23 15:56] karelz commented on #17382
Are there any differences in corner cases between the 2 approaches? I worry a bit about potential breaking changes.

Is the 10ms speed up worth the effort & the risk? Why does the perf matter so much in this scenario?

[2017-03-23 15:56] ViktorHofer opened #17433 "System.Globalization.Tests.IdnMappingIdnaConformanceTests.GetAscii_Invalid failing on different environment"
In my environment (European timezone, VS17, RS2 build 15063) the following test is failing (tested 2x times also with different clr packages):

[code]

It seems they are not failing for @stephentoub. Therefore it might be connected to a different environment.

[2017-03-23 16:00] #15098 closed

[2017-03-23 16:01] shiftylogic commented on #17078
FYI, if you run code coverage locally against System.Memory using the netfx framework, the numbers look much better.

![image](https://cloud.githubusercontent.com/assets/11233697/24257140/3c228cf2-0fa7-11e7-9e74-e927f0f1ce8a.png)

[2017-03-23 16:02] tarekgh commented on #16185
@lutzroeder please help with this issue.

[2017-03-23 16:06] karelz commented on #16201
Is there a way to detect the problem happen? Can we rerun the test in such case?
Or another way how to avoid hitting the bug?

Alternatives:
1. Bundle the right version of curl/nss with .NET Core -- quite nasty, lots of work and clashes with portable Linux effort.
2. Deploy fixed curl/nss on our test machines -- non-trivial work to maintain it long-term. Also, we should IMO try to test combo we of

[2017-03-23 16:08] joperezr commented on #15542
I don't really see a lot of value on making this attribute work on properties just because of the lambda getter case. I will close this issue for now, but please feel free to reopen if you come up with more examples where this would be useful.

[2017-03-23 16:08] #15542 closed

[2017-03-23 16:09] daflame76 commented on #17396
I suppose turning off `fAbortOnError` is desirable either way. The fact that some programs leave it on is probably an oversight, since it has serious port handling implications and the default state is off.

The problem with testing is that unless you physically remove the port (hot plug), or cause the device (or driver) to fail in some uncomfortable way (hardware failure), I have never had this i

[2017-03-23 16:09] tarekgh commented on #17413
Looks this is already fixed by @jkotas.

[2017-03-23 16:09] #17413 closed

[2017-03-23 16:09] stephentoub commented on #17382
It'd be better still to find a way that didn't involve having to enumerate all of the running processes at all, e.g. a way to ask Windows if a given process is running.

[2017-03-23 16:10] joperezr commented on #15486
Fixed by  #15484

[2017-03-23 16:10] ianhays commented on #17403
There's nothing on the docket, but you're more than welcome to submit an [API Proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) if you have something in mind.

[2017-03-23 16:11] #17426 closed

[2017-03-23 16:12] #17072 closed

[2017-03-23 16:23] CIPop commented on #11874
Ignoring unsupported extensions is a valid point. My argument against a new property is that when we provide any new API we should also support the feature end to end. We already have multiple instances where different platforms don't support existing Framework APIs and that is creating confusion.

/cc @stephentoub
Instead of having a property, I think the protocol libs (both ManagedWebSocket and

[2017-03-23 16:24] aviziv commented on #17339
I have created a test project with the certificates (All files are attached).
The output of application on both operation systems:
[code]

* The password to all certs is: "AviAAA"

[NewCerts.zip](https://github.com/dotnet/corefx/files/865412/NewCerts.zip)

Thanks,
Avi

[2017-03-23 16:25] davidsh commented on #17427
Not sure if this is related to #9608.  SslStream has limited supported for SNI in general and does not support SNI on the server-side (`AuthenticateAsServer`).

[2017-03-23 16:26] StanislavUshakov commented on #17373
Actually all these connection strings generate not a timeout exception but a connection exception: "A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configured to allow remote connections. (provider: Named Pipes Provider, error: 40 - Co

[2017-03-23 16:26] asperheim opened #17434 "System.Net.Internals.SocketExceptionFactory+ExtendedSocketException on ubuntu 16.4"
I am getting the System.Net.Internals.SocketExceptionFactory exception while using a console app with **AMQP.Net Lite**. It can send houndreds or sometimes thousands of messages to **Azure Servicebus** instance. But it allways fails after a while with this exception:

[code]

The system is a **Ubuntu 16.4** instance running in **Azure**.

[code]

I  have not yet tried to feed the queueclient with

[2017-03-23 16:32] tmds commented on #16201
@omajid and I can build some packages to install on the CI machines. If we no more failures, it's safe to assume we found the root cause. We'll then start the process of getting the packages updated in the distros.

[2017-03-23 16:38] jamesqo commented on #15486
@joperezr This is not fixed by that PR. That merely introduced the method, it is not being used in other test assemblies besides System.Linq yet.

[2017-03-23 16:38] 0xd4d commented on #17382
@stephentoub  Perhaps [`OpenProcess()`](https://msdn.microsoft.com/en-us/library/windows/desktop/ms684320(v=vs.85).aspx) could be used, if it fails (as it will for some processes or invalid pids), use the slower code?

[2017-03-23 16:40] StanislavUshakov commented on #17382
Or [GetExitCodeProcess](https://msdn.microsoft.com/en-us/library/ms683189(VS.85).aspx) if it is equal STILL_ACTIVE

[2017-03-23 16:41] weshaggard commented on #11165
I think @CIPop's suggestion of using a capability detection to disable skip the tests for anyone that hasn't done the prerequisite step seems like a reasonable approach.

[2017-03-23 16:41] bartonjs commented on #17339
All I needed was the public key portions.

Your intermediate certificate has the same subject and issuer name values, so it looks like it's self signed and confuses part of our loop.

Certainly the easiest thing would be to not issue your intermediate with the same subject name as the root, though this does give us an interesting test case since Windows and the OpenSSL command line both seemed to

[2017-03-23 16:42] stephentoub commented on #17382
I think this sounds like a reasonable approach.

That'd be ok, except that STILL_ACTIVE is a valid exit code.  So we could use this and then fall back to the slower code if the result is STILL_ACTIVE, but for this use case we expect this to be the common case, so it wouldn't really help.

[2017-03-23 16:51] ericstj commented on #17430
Just because one package isn't compatible doesn't mean that we should change the mapping.  It just means that package needs to override it.

Consider that if you look at any single package you might make the same argument: because Foo depends on OS library bar and bar is different between linux distros and alipine then alpine shouldn't parent to linux.

A counter argument can also be made: for my

[2017-03-23 16:52] weshaggard commented on #13922
Yes I understand this is how the .NET Framework tooling works and I don't see us funding work to change that anytime soon.

[2017-03-23 16:53] danmosemsft commented on #17177
The seg fault may be this one reported 3 weeks ago https://github.com/dotnet/corefx/issues/10764#issuecomment-283841573

[2017-03-23 16:54] karelz commented on #15395
@mellinoe did you make any progress on this one?
If it is a bad CodeGen, we might need to focus on it earlier to avoid last minute fire-drills.

[2017-03-23 16:54] willdean commented on #17396
I guess it would be safe (and probably more correct) to always clear the flag on open, even if it's only buggy drivers which don't do this normally.    It is of course unclear in my test last night whether the drivers (FTDI and MS) are clearing the flag on close or clearing it on open - if it's the former than that might account for the differences in the hot-unplug scenario.

I will have a bit of

[2017-03-23 16:56] #17236 closed

[2017-03-23 16:56] weshaggard commented on #17236
Issue moved to [dotnet/sdk #1038](https://github.com/dotnet/sdk/issues/1038) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-23 16:56] danmosemsft commented on #17422
We had these similar failures
https://github.com/dotnet/corefx/issues/17421
https://github.com/dotnet/corefx/issues/17420
BUT those were on Ubuntu also.

[2017-03-23 17:05] eerhardt commented on #17430
Maybe the question turns into, "What does the `linux` RID mean?"

1. The asset could work on some linux distros
2.  The asset will work on all linux distros
3.  The asset will work on what we consider "portable linux" distros - meaning a certain version of glibc, certain kernel version, etc.

I guess with our new portable Linux build, I was assuming `linux` meant number 3.

[2017-03-23 17:06] weshaggard commented on #17430
I also assumed it meant (3) which would cause trouble for alpine which doesn't support glibc.

[2017-03-23 17:10] shmao opened #17437 "To add netfx coverage for the IDataContractSurrogate"
To add netfx coverage for the IDataContractSurrogate so that we are confident that folks can write similar code when targeting desktop.

[2017-03-23 17:10] mongostephen commented on #17427
Just a note, on Windows, SslStream appears to pass on SNI.

[2017-03-23 17:12] bthomp2420 opened #17438 "FileSystemWatcher degenerate file rename events (In reference source)"
It appears that in a rare case where a large volume of file changes and file renames are occurring, The processing loop for an IO Completion callback to consume the directory change events can have the first part of a rename event pair at the *very end* of the buffer and then the next completion event containing the second part at the *very beginning* of the following buffer.  This results in a de

[2017-03-23 17:13] danmosemsft commented on #17433
@ViktorHofer can you break this into 2 issues? For the first one, it looks like it's looping over a bunch of data, you might want to add a line of code to log which one it's failing on. Unfortunately `Assert.Throws` does not take a message like `Assert.True` does. We try not to have tests do `Console.Write` in the passing case so you might have to modify it to use `Assert.True` instead.

[2017-03-23 17:14] danmosemsft commented on #17433
For the 2nd one, this comment suggests another adapter quirk (maybe returning -1 even when it's "up"?) explaining why it's speicifc to you.
[code]

[2017-03-23 17:16] bthomp2420 commented on #17438
This doesn't appear to be a bug in the CoreFx implementation of FileSystemWatcher but it does appear to be a bug in the .NET 4.6.1 reference source implementation.

[2017-03-23 17:22] ViktorHofer opened #17439 "System.Net.NetworkInformation.Tests.NetworkInterfaceBasicTest.BasicTest_AccessInstanceProperties_NoExceptions failing on different environment"
In my environment (European timezone, VS17, RS2 build 15063) the following test is failing (tested 2x times also with different clr packages):

[code]

It seems they are not failing for @stephentoub. Therefore it might be connected to a different environment.

[2017-03-23 17:22] StanislavUshakov commented on #17382
Unfortunately OpenProcess method uses IsProcessRunning method in ProcessManager.

[2017-03-23 17:23] vanillajonathan commented on #11874
@CIPop If by fail the handshake means closing the connection then that goes against the specification.
The specification says:

Which sounds like you can just ignore the requested extensions if you can't provide them.

I don't understand your question.

[2017-03-23 17:23] ViktorHofer commented on #17439
@danmosemsft commented:

[code]

[2017-03-23 17:24] daflame76 commented on #17396
I should be able to test it with an FTDI device since I have one sitting on my desk right now.

[2017-03-23 17:24] ViktorHofer commented on #17433
Thanks @danmosemsft. I'm investigating...

[2017-03-23 17:28] ViktorHofer commented on #17439
Thanks @danmosemsft. Hitting the issue with Marvell AVASTAR Wireless-AC Network Controller on a Surface Book. Testing now...

[2017-03-23 17:29] gkhanna79 commented on #17430
linux-x64 is actually linux-glibc-x64.

[2017-03-23 17:32] willdean commented on #17396
Cool.  I have about 5 on my desk right now, but I'm not inspired to enrage the BSOD gods by plugging and unplugging them while I'm in the middle of something else...

[2017-03-23 17:34] stephentoub commented on #17382
I don't believe @0xd4d was referring to the .NET method.  He's referring to the Win32 function:
https://github.com/dotnet/corefx/blob/c55435befeb372707558a5c441b3c64bf243948f/src/Common/src/Interop/Windows/kernel32/Interop.OpenProcess.cs#L13

[2017-03-23 17:42] mellinoe commented on #17430
Related discussion: https://github.com/dotnet/coreclr/issues/9208

We need to fix the rid graph to account for that discussion.

[2017-03-23 17:43] iSazonov commented on #17412
I should add that the issue blocks a development of remoting in PowerShell Core.

[2017-03-23 17:48] mellinoe commented on #15395
No, no progress on this one.

[2017-03-23 17:51] ViktorHofer commented on #17439
My tests are showing that the nic.Speed property returns -1 for Wi-Fi Direct Virtual Adapters (I guess as their is no speed for those without a Wi-Fi Direct connection):

[code]

I searched for properties which indicate that the NetworkInterface is virtualized but couldn't find anything.  As @danmosemsft pointed out, the quirk would be to allow -1 even when it is up.

Any thoughts?

[2017-03-23 18:00] #17199 closed

[2017-03-23 18:00] danmosemsft commented on #17072
@StanislavUshakov as requested here you are!

[2017-03-23 18:10] StanislavUshakov commented on #17072
@danmosemsft Thank you, already done!

[2017-03-23 18:26] danmosemsft commented on #17072
Great -- pick your next issue and I'll assign it!
https://github.com/dotnet/corefx/issues?q=is%3Aopen+is%3Aissue+milestone%3A2.0.0+label%3A%22up+for+grabs%22

[2017-03-23 18:32] tarekgh commented on #17433
We depend on the OS for the IDN so there could be a changes in RS2 or so. if you can get me the failing case I can try to confirm that with Windows team.

[2017-03-23 18:33] ViktorHofer commented on #17433
"corefx\src\System.Globalization.Extensions\tests\IdnMapping\Data\Unicode_6_0\IdnaTest_6.txt" line number 769 is the culprit.

This line is NOT failing for me. As the comments say, some other lines were commented out for Win8.1. Should we also just comment it out or look for the reason why entry.GetASCIIResult.Success is false but not throwing an ArgumentException when passing it to the IdnMapping

[2017-03-23 18:34] ViktorHofer commented on #17433
@tarekgh just updated the same time you did. please find the failing case in my previous respone

[2017-03-23 18:40] JaedsonBarbosa commented on #4278
It's simple: It just don't work in my UWP project 👌

[2017-03-23 18:45] danmosemsft commented on #16510
@Priya91 handle what where? if the test catches InvalidOperationException it seems it could happen from "could not connect" which presumably we want to cause the test to fail.

if you have a proposed change, vendor folk could help make it.

[2017-03-23 18:49] danmosemsft commented on #16721
@hughbe since only you can repro this, do you want to check what's coming back from `SHGetKnownFolderPath` in `Environment.Win32.cs`? Seems it's either returning empty, or returning error.

Either way, if it's some wierdness specific to the state your machine is in, there may not be much we can/should do here...

[2017-03-23 18:49] #17300 closed

[2017-03-23 18:56] geoffkizer commented on #16716
Is there an existing test for this?

[2017-03-23 18:58] karelz commented on #15761
This is not blocking 2.0. It's nice to have, but does not impact customers directly.

[2017-03-23 18:58] stephentoub commented on #16716
https://github.com/dotnet/corefx/blob/899a6d9ac28f77bef369546263af648df453c86c/src/System.Net.Sockets/tests/FunctionalTests/SendReceive.cs#L683

[2017-03-23 19:03] kenticomartinh commented on #16928
Hi guys, we had the same problem (MVC 6, Framework version 451) and found out that the problem was not disposing the response after the request was executed. The code should call .GetResponse[Async]() and then .Dispose() the response after it is not necessary anymore. If the response was not Disposed, next (typically 3rd) call kept hanging on .GetRequestStream[Async]()

Hope this is related / help

[2017-03-23 19:22] StanislavUshakov commented on #17382
Yes, I understand. I wasn't clear, I meant that we cannot use the clr wrapper.
@stephentoub Can I try to implement this - modify method IsProcessRunning for the local machine and rerun the benchmarks?

[2017-03-23 19:27] stephentoub commented on #17382
Sounds good.

[2017-03-23 19:33] mellinoe commented on #17430
@karelz Are we not officially supporting Alpine Linux in 2.0?

[2017-03-23 19:39] #17089 closed

[2017-03-23 19:44] WinCPP commented on #14486
@karelz @ahsonkhan May I work on this?

[2017-03-23 19:48] Priya91 commented on #16510
@danmosemsft The test is only run if the performance counter is enabled on the machine, the particular error reported by jan is that the performance counter registry key is corrupted on the machine, and hence we throw in code [here](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/PerformanceCounterLib.cs#L264). Hence, this is not a product bug, so

[2017-03-23 19:50] ahsonkhan commented on #14486
Go for it :)

[2017-03-23 19:55] ianhays commented on #17275
Sure thing @karelz. Here are all the APIs that are exclusive to netcoreapp2.0 added in System.Collections:

[code]

To get this list i diffed our current System.Collections ref file with the oldest one on Github, then removed API's that were present in both or that were present in the recent ref file but a part of the last netfx release (i.e. netstandard2.0 APIs).

[2017-03-23 20:23] stephentoub commented on #17434
@asperheim, would it be possible for you to catch the SocketException and share some more of the properties from it, e.g. HResult?  The "Unknown error -1" suggests that we're getting back from gethostbyname something unexpected, and I believe that should be in the HResult field.

[2017-03-23 20:56] WinCPP commented on #14486
Thanks! Working on this.

On Fri, Mar 24, 2017 at 1:20 AM, Ahson Ahmed Khan <notifications@github.com>
wrote:

[2017-03-23 21:04] safern opened #17443 "System.Threading.Tests outerloop test hangs"
The Outerloop `ReleaseReadersWhenWaitingWriterTimesOut` when running in Desktop it hangs. I left it running for more than 2 hours and attached the debugger and it never moved out from this line:

https://github.com/dotnet/corefx/blob/master/src/System.Threading/tests/ReaderWriterLockSlimTests.cs#L443

I tried to run them in netcoreapp and it takes like 20-30 seconds total.

cc: @stephentoub @alexp

[2017-03-23 21:06] tarekgh commented on #17433
I'll try to take a look and get back to you. thank you.

[2017-03-23 21:14] #16839 closed

[2017-03-23 21:16] tarekgh commented on #17433
@ViktorHofer the line 769 in the file IdnaTest_6.txt conatins

[code]

https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Globalization.Extensions/tests/IdnMapping/Data/Unicode_6_0/IdnaTest_6.txt#L769

Could you please confirm this is the line which is failing or the other line you said contains

[code]

https://github.com/dotnet/corefx/blob/bffef76f6af208e20