[2018-02-28 19:35] jnm2 commented on #27469
If I remember correctly, @masonwheeler who maintains the Boo language was looking for a pre-net46 System.Reflection.Metadata.

If I also heard correctly, the ILSpy team wants to move to S.R.Metadata but they are also targeting pre-net46.

[2018-02-28 19:35] mconnew commented on #27566
@davidsh, our test is passing when running on Windows. On the server side we are seeing the `Connection: close` arrive on the server.

[2018-02-28 19:35] stephentoub commented on #27566
Have you looked at what version of libcurl is installed on each of these systems?  My guess is it's a difference based on that, rather than something in CurlHandler, which doesn't have any distro-specific code.

I believe we have a test that verifies this, but we should double-check.  I know I recently wrote this test, which sets Connection: close:
https://github.com/dotnet/corefx/blob/master/src/

[2018-02-28 19:35] MattGal commented on #27510
@ahsonkhan I have a PR up to work around this: https://github.com/dotnet/corefx/pull/27555

Given the average build product / build test part of this build is already over 40 minutes, 60 minutes is just cutting it way too close.  If I can get an LGTM on my PR we can try again...

[2018-02-28 19:37] tmat commented on #25739
@kumpera This one? https://www.nuget.org/packages/System.Reflection.Metadata/1.6.0-preview1-26216-02

[2018-02-28 19:41] tmat commented on #27469
@jnm2 Do you run your unit test on a VM that has net35?

[2018-02-28 19:42] jnm2 commented on #27469
@tmat Yes. VSTest has an assembly specifically compiled against net35 so that it can host tests on CLR v2. NUnit's engine does the same.

[2018-02-28 19:43] mconnew commented on #27566
@stephentoub, I have no idea what is installed as this is results from the nightly test runs from the build infrastructure. Are we doing anything specific with libcurl with the Close header because if we're not, then I believe that's a bug.  There's a special curl option [`CURLOPT_FORBID_REUSE`](https://curl.haxx.se/libcurl/c/CURLOPT_FORBID_REUSE.html) which should be set before making a request t

[2018-02-28 19:45] jnm2 commented on #27469
@tmat Yes. VSTest has an executable specifically compiled against net35 so that it can host tests on CLR v2. NUnit's engine does the same.

CLR v2 and v4 install side-by-side, unlike the in-place updates that have happened since net40. But with net45 and up, even there quirking comes into play. We just got burned by net45 vs net46 quirking in the real world this month.

[2018-02-28 19:48] tmat commented on #25739
Where can I find `/Library/Frameworks/Mono.framework/Versions/5.8.0/lib/mono/4.5/mscorlib.dll`?

[2018-02-28 19:50] tmat commented on #25739
Wait a sec... you're using the wrong API. `FromMetadataStream` does not accept PE files. PE file is not a metadata stream. Use `new PEReader(stream)` to open PE files.

[2018-02-28 19:54] ahsonkhan commented on #26894
If `key` is an array, it is already read/write though.

[2018-02-28 19:56] eerhardt commented on #27486
@sdmaclea - I think it makes sense to add the Arm64 intrinsic APIs that are already implemented to the new `System.Runtime.Intrinsics.Experimental` package, even without an explicit formal review.  We will still need to complete a formal review before the APIs can be shipped/marked as 'stable', but that shouldn't block us from getting feedback on these APIs now.

/cc @terrajobst - in case he has a

[2018-02-28 19:58] AtsushiKan commented on #26894
But if the code wants to treat it as read-only, seeing `AsSpan()` in the code sends the wrong signal to the reader. It'd be annoying if I was scanning code for places that mutated the array.

[2018-02-28 20:01] ahsonkhan commented on #26894
That was brought up here as well:
https://github.com/dotnet/coreclr/pull/16521#discussion_r170261959

[2018-02-28 20:11] StefanoD commented on #27549
Sorry, my employee won't give me the time to reproduce this with .Net Core.
I didn't know where to report this and I thought the implementation of this class were the same, so I opened an issue here.

[2018-02-28 20:20] stephentoub commented on #26894
And I still believe what I wrote :smile::
https://github.com/dotnet/coreclr/pull/16521#discussion_r170261959
"I prefer the old naming. It's possible I'm just used to it, but when I see the code in this PR, with AsSpan being passed to methods that accept a ReadOnlySpan, I immediately think "this is going through a cast and it's going to cost me something" (I've not looked to see if it does cost any

[2018-02-28 20:30] KrzysztofCwalina commented on #27560
Since PipeWriter already has an async API (FlushAsync), how would this new API be implemented without causing an allocation? Would is have a different signature than FlushAsync, so we can implement two IValueTaskSources?

@stephentoub

[2018-02-28 20:32] stephentoub commented on #27560
Why does that matter?  You wouldn't be able to use FlushAsync and WaitToWriteAsync concurrently, would you?

[2018-02-28 20:33] pakrym commented on #27560
FlushAsync has result type - `FlushResult` so this API doesn't clash with it. Also I don't think we'll allow concurrently calling both

[2018-02-28 20:34] joetherod commented on #19771
LinqDataView.cs and the extension methods for AsDataView() in  DataTableExtensions.
When bringing in the LinqDataView.cs, the base class isnt in sync with my version of Dataview.cs in core.

[2018-02-28 20:37] kumpera commented on #25739
@tmat you're absolutely right. 🤦‍♂️
Would you agree this to a be a common source of confusion when using this API?
It would be great if FromMetadataStream would check for the PE signature and provide a more actionable error message.

[2018-02-28 20:38] ianhays commented on #26996
@joperezr FYI:

This is still broken on the latest VS preview.

In fact, referencing net471 as a targetframework seems pretty broken all around. I tried just targeting net471 without netcoreapp and I get ```Assets file '...project.assets.json' not found. Run a NuGet package restore to generate this file.``` This is after a full clean and deletion of all bin/obj folders.

[2018-02-28 20:39] ahsonkhan opened #27571 "Corefx package update in corefxlab results in free before malloc error during restore on OSX"
From https://github.com/dotnet/corefxlab/pull/2140
Update Cli, CoreFx, CoreSetup to preview2-008266, preview2-26228-03, preview2-26227-03, respectively

https://ci.dot.net/job/dotnet_corefxlab/job/master/job/osx10.12_debug_prtest/1613/consoleFull#7440085258bb52e59-de52-4f1c-b131-470db4c594cd

[code]

cc @danmosemsft, @livarcocc, @joshfree

[2018-02-28 20:44] danmosemsft commented on #19771
I linked to LinqDataView.cs above, AsDataView is here:
https://github.com/Microsoft/referencesource/blob/90b323fe52bec428fe4bd5f007e9ead6b265d553/System.Data.DataSetExtensions/System/Data/DataTableExtensions.cs#L258

I checked these sources for DataSetExtensions exactly match the .NET 4.7.1 sources. .NET Core sources are often different at least for formatting.

[2018-02-28 20:47] rmkerr commented on #27542
Looks like [support for AF_UNIX](https://blogs.msdn.microsoft.com/commandline/2017/12/19/af_unix-comes-to-windows/) was added in a recent Windows Insider build. I don't think that it requires Windows Subsystem for Linux, so the change will probably (someday) roll out to our test machines too.

[2018-02-28 20:48] tmat commented on #26935
Done: https://github.com/dotnet/roslyn/pull/24711

[2018-02-28 20:48] #26935 closed

[2018-02-28 20:50] stephentoub commented on #27542
Woh. Thanks, @rmkerr.

@eerhardt, this makes UnixDomainSocketEndPoint relevant to Windows!  We should see what it would take to make this work in 2.1.
cc: @karelz

[2018-02-28 20:55] masonwheeler commented on #27469
@jnm2

That's right.  The compiler currently runs against a minimum of v4.5, and I'd prefer not to have to bump the minimum dependency if possible.

[2018-02-28 20:59] masonwheeler commented on #25739
@tmat The version I was using was https://www.nuget.org/packages/Net40.Reflection.Metadata/ because it had support for pre-4.6 .NET Framework.  It appears that the official version now supports .Net Standard 1.1 (Framework 4.5, which is what I need,) but it didn't when I looked at it before.

[2018-02-28 21:03] JeremyKuhne commented on #25536
Finished via #27522.

[2018-02-28 21:03] #25536 closed

[2018-02-28 21:08] KrzysztofCwalina commented on #26894
In the method that does the cast, you have r/w array, so you need to scan anyway. Once you pass r/w/ span to a ReadOnlySpan-taking method, no need to scan anymore.

[2018-02-28 21:10] KrzysztofCwalina commented on #27560
That's what I thought, just wanted to make sure.

[2018-02-28 21:23] keeratsingh opened #27574 "System.Data.SqlClient.ManualTesting.Tests.CommandCancelTest crashes with Unhandled Exception on Linux"
System.Data.SqlClient.ManualTesting.Tests.CommandCancelTest crashes on Linux while executing the following tests:
**MultiThreadedCancel_NonAsync**
**MultiThreadedCancel_Async**

Both the tests crash in the method **ExecuteCommandCancelExpected**
The same tests pass on windows, I am creating this GitHub issue to track and fix the tests.

**Command to Reproduce:**
[code]

[code]

**Logs MultiThreade

[2018-02-28 21:35] stephentoub commented on #26349
Failed again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/016d34db60cdb441df25b055b3577ef9d7bb881d/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.Directory_GetSetTimes~2FTimesIncludeMillisecondPart

[2018-02-28 21:37] evertmulder commented on #9728
Using 2.1.300-preview1-008174 on MacOSX the issue still occurs
[code]
@stephentoub https://github.com/dotnet/corefx/tree/master/src/System.Net.Http/src/System/Net/Http/Managed

looks like it os renamed to

https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/

I was hoping in the 2.1 release....

[2018-02-28 21:41] #26219 closed

[2018-02-28 21:43] benaadams commented on #27435
A very large constant :) More data points:
[code]
If N is count of T (rather than segment count)

[code]
The `Slice(long, long)` path also does 2x `Seek` as it needs to find the start and the end

[2018-02-28 21:43] wfurt commented on #9728
It is in in 2.1 preview1 @evertmulder. But you need to enable it either via app context or via environmental variable.
export DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=true should do the trick.
From the trace, you still use default curl handler.

[2018-02-28 21:50] danmosemsft commented on #26349
There's two issues
- Was previously failing on Linux, apparently not any more.
- Windows 7 occasionally.

https://github.com/dotnet/corefx/pull/27559 enables for Linux and adds logging for Win 7.

[2018-02-28 21:52] evertmulder commented on #9728
@wfurt  is it? Executing this (or exporting leads to a stack trace including the CurlHandler...
[code]

[2018-02-28 22:07] ViktorHofer opened #27577 "Add parallel perf tests to Regex"
Relates to https://github.com/dotnet/corefx/pull/27314

As we are now using ArrayPool in a couple of places and refining our cache data structure we should add perf tests that run in parallel (each one individually).

[2018-02-28 22:15] KrzysztofCwalina commented on #26894
It's one of the things that divides people. When we had radonly prefix people (other people hopefully) complained about the the APIs being too verbose and the prefix seeming unnecessary as it is often/always implied. Now that we made the change, different group does not like it.

Also, these APIs went through several changes. The changes were designed one by one by different group (committees of p

[2018-02-28 22:26] n9 commented on #26078
@Priya91 See https://github.com/aspnet/Home/issues/2910, to get more information. Maybe check whether `_receiveBuffer` is null will be sufficient there.

[2018-02-28 22:33] joetherod commented on #19771
The code in core doesnt exist for dataextensions, so not sure what you mean. I copied over all of the classes from 4.6 and 4.7. The LinqDataView.cs has errors with it base class ctor implementation which is DataView.cs.

internal LinqDataView(
                    DataTable table,
                    Func<DataRow, bool> predicate_func,
                    Predicate<DataRow> predicate_system,

[2018-02-28 22:37] geoffkizer commented on #27550
This is getting fixed as part of the original PR (#27551) so not an issue.

[2018-02-28 22:37] #27550 closed

[2018-02-28 22:53] geoffkizer commented on #26722
Linked issue #26986 was fixed, so I believe this should be fixed now.

[2018-02-28 23:00] davidsh commented on #26722
This shouldn't be closed.  The linked issue was closed because it was a duplicate of another bug, #26722.  But the root cause of this is in WinHttpHandler and wasn't fixed.

[2018-02-28 23:01] karelz commented on #23782
@rmkerr can you please finish this work for 2.1? Thanks!

[2018-02-28 23:02] geoffkizer commented on #26722
Whoops, sorry, you're right.

[2018-02-28 23:05] wfurt commented on #9728
Sorry about that @evertmulder. It changed after preview1 cut. Please follow notes from https://blogs.msdn.microsoft.com/dotnet/2018/02/27/announcing-net-core-2-1-preview-1/

[2018-02-28 23:07] #23560 closed

[2018-02-28 23:19] danmosemsft opened #27578 "Unexpected status character: I in ProcessTests.TestGetProcesses"
https://mc.dot.net/#/user/danmosemsft/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/01337d9cc1d615c0367d1625028ac2cc95cdb34f/workItem/System.Diagnostics.Process.Tests/wilogs

[code]

ProcFsStateToThreadState needs to be updated to include "I"

it seems this was added in
https://github.com/torvalds/linux/commit/06eb61844d841d0032a9950ce7f8e783ee49c0d0

[2018-02-28 23:22] #27370 closed

[2018-02-28 23:23] geoffkizer commented on #23544
You can use collection initializer syntax to do this:

[code]

It won't work with typed header values since there's no Add method for that, but we could look at adding something like that.

[2018-02-28 23:25] danmosemsft commented on #27578
This is showing up in Fedora.26 and Ubuntu18.04 which maybe the first distros with this in their kernel.

[2018-02-28 23:27] danmosemsft opened #27580 "InstanceDataCollection_* failures in CI"
https://mc.dot.net/#/user/danmosemsft/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/01337d9cc1d615c0367d1625028ac2cc95cdb34f/workItem/System.Diagnostics.PerformanceCounter.Tests/analysis/xunit/System.Diagnostics.Tests.InstanceDataTests~2FInstanceDataCollectionCollection_Contains_Valid
Windows.10.Amd64.Open-Release-x86

all failed the same way on this particular machine/conf

[2018-02-28 23:30] danmosemsft commented on #27580
This means despite 20 retries `ReadCategory` on `PerformanceCounterCategory("Processor")` failed.
[code]

[2018-02-28 23:39] stephentoub commented on #26894
I think we made the wrong choice and should revert it, but I don't have the time to shepherd doing the right thing. It's unfortunate IMHO we're ending up here.

[2018-02-28 23:42] bartonjs commented on #10226
While this is still true for managed approach, the managed approach won't support key agreement via EnvelopedCms unless we add support for (IFC) Diffie-Hellman to .NET.

Closing this now, and we can always revisit it if there's enough demand.

[2018-02-28 23:42] #10226 closed

[2018-02-28 23:43] bartonjs commented on #10395
Some new fixed values tests were added from the managed implementation when it was being written.

[2018-02-28 23:43] #10395 closed

[2018-02-28 23:44] bartonjs commented on #10311
This test was brought in to master via #27490, and is passing.  So we seem to be good here.

[2018-02-28 23:44] #10311 closed

[2018-02-28 23:46] bartonjs commented on #10310
This is working with the new managed implementation.

[2018-02-28 23:46] #10310 closed

[2018-02-28 23:59] danmosemsft commented on #27564
On Unix we rely on http://cldr.unicode.org/ data. Is it correct there?

[2018-03-01 00:01] danmosemsft commented on #27564
That was directed to @MosheL

[2018-03-01 00:01] danmosemsft commented on #27548
@jkotas this seems codegen, do you agree?

[2018-03-01 00:12] brianrob commented on #27580
Adding @adiaaida who will be owning performance counters going forward and can take a look at this failure.

[2018-03-01 00:15] tarekgh commented on #27564
This looks a bug we need to look at.

[2018-03-01 00:17] adiaaida commented on #27580
Can you link to repro instructions for this so I can try to run it locally?

[2018-03-01 00:31] jkotas commented on #27548
This issue was moved to dotnet/coreclr#16675

[2018-03-01 00:31] #27548 closed

[2018-03-01 00:50] saurabh500 commented on #27574
@keeratsingh I found that the regression was introduced in https://github.com/dotnet/corefx/commit/cb00beea1104f58a909192b7ac868d8787526371

[2018-03-01 00:51] saurabh500 commented on #27574
It was introduced in the PR https://github.com/dotnet/corefx/pull/27187

[2018-03-01 00:52] saurabh500 commented on #27574
After reverting the change, I can execute the Manual tests without any failures in CommandCancelTests

[2018-03-01 00:53] tarekgh commented on #27336
Issue moved to [dotnet/core-sdk #12](https://github.com/dotnet/core-sdk/issues/12) via [**ZenHub**](https://www.zenhub.com/)

[2018-03-01 00:53] #27336 closed

[2018-03-01 00:56] tarekgh commented on #27506
@krwq could you please fix the test as you did in the full framework?

[2018-03-01 00:59] ygc369 commented on #26954
I like this idea.

[2018-03-01 01:15] saurabh500 opened #27587 "Removal of locks from SNITcpHandle.cs breaks EF tests"
Removal of locks in the PR https://github.com/dotnet/corefx/pull/27187 breaks EF tests with the following stack trace. To trace this failure to the lock removal I undid the changes in the PR and then just removed the locks without any allocation optimizations.
I could repro this by running EF tests on Windows with Managed SNI and on Linux as well
This could potentially be a timing issue and could

[2018-03-01 01:25] tarekgh commented on #27306
Expecting DateTime parsing to succeed with any string is the wrong assumption. the guidelines for parsing is either you pass the format pattern used with the date formatting or use invariant culture all the time for formatting and parsing. please try to fix your design according to that or handle the parsing failure when it happens.

Globalization data can change between the different OS versions.

[2018-03-01 01:25] #27306 closed

[2018-03-01 01:48] karelz commented on #26078
@n9 are you interested in submitting a PR with a fix?

[2018-03-01 01:54] wli3 opened #27588 "Investigate failling test in CLI insertion"
https://github.com/dotnet/cli/pull/8689 insertion cause a test `GivenAnInstalledPackageUninstallRollsbackWhenTransactionAborts` fails constantly in REHL 7 Jenkins machine. However, when the test is renamed, the problem is gone. There is no local repo. Also after change test directory, a [similar error](https://ci.dot.net/job/dotnet_cli/job/master/job/release_windows_nt_x64_prtest/2384/testReport/(

[2018-03-01 02:09] Priya91 commented on #26257
Is there any progress on this? Hitting this in .net core when trying to access com objects for iterating through the firewall rules on windows. There's no way to workaround this, as INetFwRules.Item(string processName), gives the first rule for the process which is not what I want to check.

[2018-03-01 02:37] danmosemsft commented on #27580
Hmm, I should have kept the jenkins link. @maririos do you know if there's a way to get from the link below to the jenkins configuration so @adiaaida can request a repro box?
https://mc.dot.net/#/user/danmosemsft/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/01337d9cc1d615c0367d1625028ac2cc95cdb34f/workItem/System.Diagnostics.PerformanceCounter.Tests/analysis/xunit/System.D

[2018-03-01 02:56] karelz commented on #27537
We do not have plans for post-2.1 yet. Which parts do you need and why (which scenarios)?

cc @danmosemsft @terrajobst

[2018-03-01 03:01] karelz commented on #27565
@dpjain which .NET Core version do you use? (2.0 vs. 2.1 Preview1)
Are you able to untangle the problem in numeric box (ASP.NET component I assume) vs. Culture/globalization APIs?

[2018-03-01 03:01] karelz commented on #27565
cc @tarekgh

[2018-03-01 03:04] karelz commented on #27588
@JeremyKuhne I think you did changes in the space recently - maybe a regression?

[2018-03-01 03:37] kouvel commented on #27056
I think the only way to do that is to create your own threads so that you can be in full control over the lifetime, especially if the initialize, use, and release of the unmanaged resource needs to all happen on one thread.

[2018-03-01 03:44] danmosemsft commented on #27537
@e0003315 the library is in the compat package that @svick linked to. It is just as supported as more popular parts of.NET Core you just have to reference the package. There are no plans to reference it by default. Does that answer your question?

[2018-03-01 04:08] stephentoub opened #27590 "Newly added System.Security.Cryptography.Rsa tests failing locally"
These tests consistently fail for me locally on my Windows machine running insiders builds:
[code]
cc: @bartonjs

[2018-03-01 04:08] davidfowl commented on #27056
@kouvel even then you can't guarantee it will run on the right thread. You need to use your own thread and use avoid using a safe handle if you want full control.

[2018-03-01 04:26] kouvel commented on #27056
Ya that's true

[2018-03-01 04:26] #27500 closed

[2018-03-01 04:34] JeremyKuhne commented on #27588
I don't see anything in the linked details that looks like an IO bug (either Path or file enumeration).

[2018-03-01 04:51] stephentoub commented on #27566
Right, that's why I was asking about the verions.

I don't believe so.  You're welcome to submit a PR.

[2018-03-01 05:25] JeremyKuhne commented on #27552
@Anipik this needs to get mirrored into CoreCLR and we need to get an updated build back into CoreFX.

@danmosemsft, this is a must for Preview 2. Hopefully we can get it done before the fork.

[2018-03-01 05:27] JeremyKuhne commented on #27552
Note that I'm OOF until 3/6 and won't likely be able to respond.

[2018-03-01 05:29] camp-007 opened #27592 "Build warnings when targeting System.* nuget packages from projects targeting .NET 4.7.1"
I have a problem with a very simple repro:

1) Using VS 2017 15.5.7 create a new project using the template "Console App (.NET Framework) targeting .net 4.7.1
2) Add a nuget package reference for the package "System.Net.Http" v4.3.3.  Use the 'packages.config' package manager format when prompted.  Several other System.* nuget package dependencies are also added.
3) Compile the project.  No build

[2018-03-01 05:30] peterhuene commented on #27588
@wli3 That Windows failure makes me think there's a race condition in the product or test that's the underlying issue; that Windows failure is when it is using a mock, in-memory "file system".  It does seem to reproduce more consistently on RHEL for some reason.  Really odd about the test name change; perhaps it's affecting the test run ordering and preventing a concurrent run with an interfering

[2018-03-01 05:36] peterhuene commented on #27588
See https://github.com/dotnet/cli/pull/8689#issuecomment-369335953 I think that's worth addressing first.

[2018-03-01 05:38] danmosemsft commented on #21037
@karelz can someone please fix or disable GetContext_InvalidRequest_DoesNotGetContext, it is inner loop and broke CI.

https://mc.dot.net/#/user/danmosemsft/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/6af813a5db1dd3deb4f56cb76f4a2efcf1c76e57/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.InvalidClientRequestTests~2FGetContext_InvalidRequest_DoesNot

[2018-03-01 05:38] #27578 closed

[2018-03-01 05:41] danmosemsft commented on #27417
@terrajobst did you review?

[2018-03-01 05:45] #26349 closed

[2018-03-01 05:47] FDUdannychen opened #27593 "Why System.Uri discards RTL/LTR chars?"
According to [the document](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/international-resource-identifier-support-in-system-uri), System.Uri supports [IRIs](https://tools.ietf.org/html/rfc3987). In my test code, System.Uri discards RTL/LTR(right-to-left/left-to-right) chars.

[code]
Am I missing anything?

[2018-03-01 05:49] danmosemsft opened #27594 "SIGSEGV in System.Security.Cryptography.Native.OpenSsl.so(CryptoNative_EnsureLibSslInitialized"
https://mc.dot.net/#/user/saurabh500/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/74636ba8ad8c32bee63361f8523b98b0ebe25839/workItem/System.Net.Http.Functional.Tests/wilogs

Ubuntu.1604.Amd64.Open:Release-x64
[code]

@bartonjs apparently this isn't consistent.

[2018-03-01 05:52] davidfowl commented on #27467
I'll take this one as part of another change I'm making.

[2018-03-01 06:01] danmosemsft commented on #27593
@rmkerr

[2018-03-01 06:02] danmosemsft commented on #27587
@benaadams didn't you check in a change to eliminate all this async stack clutter?

[2018-03-01 06:03] danmosemsft commented on #27552
@Anipik please make sure this happens.

[2018-03-01 06:04] saurabh500 commented on #27587
Closing this issue. Fixed with https://github.com/dotnet/corefx/pull/27591

[2018-03-01 06:04] #27587 closed

[2018-03-01 06:15] dpjain commented on #27565
@karelz: Version is .NET Core 2.0.

No, I cant even insert the comma in numeric textbox in Chrome while I can insert comma in Mozilla Firefox. But in firefox the textbox give invalid number error if I tried to pass: 6.452,12 euros.

[2018-03-01 06:37] danmosemsft commented on #26939
@stephentoub for the ones you didn't, was that because there were test failures? if not is it just a matter of verifying no test failures and committing, or did you analyze further?

[2018-03-01 06:38] danmosemsft commented on #26364
https://github.com/dotnet/corefx/pull/27278

[2018-03-01 06:47] danmosemsft commented on #27588
Thanks @peterhuene . Please let us know if better evidence emerges of a BCL bug.

[2018-03-01 06:52] danmosemsft commented on #27542
@JeremyKuhne FYI, in case you are interested. These are exposed via reparse points.

[2018-03-01 06:53] bartonjs commented on #27594
The only way this makes sense to me is if libcurl and our cctor were both initializing OpenSSL at the same time.  Has anything changed in the way Http wakes up CryptoInitializer?  (@wfurt ?)

[2018-03-01 06:59] danmosemsft commented on #27534
@stephentoub fwiw I try to include the distro for CI failures since once you rerun your tests that mc.dot.net link is no use. A link to the Jenkins job URL is another way to go back.

Counting the spaces in the text above 🔍 it seems it is `InlineData("         "),` that is failing. ie., it did not find a file whose name was all spaces.

The next inlinedata is a single space, it would be interestin

[2018-03-01 07:01] danmosemsft commented on #26364
If all the threads tend to use the smae regex (apparently not the case in this one) the another option is to have a single static field on the cache that is first consulted outside of the lock.

[2018-03-01 07:05] karelz commented on #27565
Does it fail in browser (JScript), or on server (ASP.NET)? What exactly fails and how? Can you create minimal repro? (just client side or just server-side)

[2018-03-01 07:08] Sunny-pu commented on #22434
failed again in CI:
failed tests:
System.Net.Security.Tests.NegotiateStreamTest/NegotiateStream_EchoServer_ClientWriteRead_Successive_Async_Success
System.Net.Security.Tests.NegotiateStreamTest/NegotiateStream_EchoServer_ClientWriteRead_Successive_Sync_Success
System.Net.Security.Tests.NegotiateStreamTest/NegotiateStream_StreamToStream_AuthToHttpTarget_Success
System.Net.Security.Tests.NegotiateSt

[2018-03-01 07:08] karelz commented on #27588
BTW: I thought it is IO related based on this:

I might be wrong of course ...

[2018-03-01 07:11] dpjain commented on #27565
It fails in client side validation. Whenever we insert the above value in numeric textbox, it throws client side validation error of invalid number({ProprtyName} must be a number).

[2018-03-01 07:11] karelz commented on #21037
@danmosemsft does it show up that often to be in the way? (14x in 6 months per my analysis ...)
This is in general important bucket (second most failing bucket) - we should look at it once 2.1 is safe.

[2018-03-01 07:21] #16767 closed

[2018-03-01 07:32] geoffkizer opened #27597 "SocketsHttpHandler: Should only do preauthentication when credentials are a CredentialCache"
Currently, when PreAuthenticate is set to true, we always send basic credentials on every request to every server.

To avoid sending credentials to servers that don't care, we should only preauthenticate when the credentials are a CredentialCache and thus known to be specific to a particular server.

I tried making this change in my ntlm PR (https://github.com/dotnet/corefx/pull/27551), but it cau

[2018-03-01 07:42] #27537 closed

[2018-03-01 07:47] e0003315 commented on #27537
@danmosemsft @karelz I am trying to use system.drawing to convert icons to byte array for .netstandard2.0 project. I was looking at System.drawing.common since it support .netstandard 2.0. But I do not want to use it since it is still in the prerelease stage.
Since it is not going to come out in the next 3 months, do you guys have any alternatives to convert icons to byte array for .net standard2.

[2018-03-01 07:54] danmosemsft commented on #27537
@e0003315 it is marked prerelease only because it will ship with 2.1 for engineering reasons. It is unlikely to get more changes before we release. Does that help?

Generally we don't recommend new code take a dependency on System.Drawing as it is a fairly legacy API. There are various 3rd party libraries that eg convert icons. I do not recall names: you could look around.

[2018-03-01 08:00] e0003315 commented on #27537
@danmosemsft  When you say that it will ship with 2.1, does that mean that it will be released with 2.1? because @svick mention that it will not be shipped with 2.1.

[2018-03-01 08:00] wfurt commented on #27594
I don't see any failure in the link

2018-03-01 06:34:09,715: INFO: proc(54): run_and_log_output: Output: === TEST EXECUTION SUMMARY ===
2018-03-01 06:34:09,728: INFO: proc(54): run_and_log_output: Output:    System.Net.Http.Functional.Tests  Total: 1125, Errors: 0, Failed: 0, Skipped: 24, Time: 7.347s
2018-03-01 06:34:09,810: INFO: proc(54): run_and_log_output: Output: ~/dotnetbuild/work/8de5c51d

[2018-03-01 08:00] danmosemsft commented on #19771
The code for DataSetExtensions is in .NET Core -- it's at https://github.com/dotnet/corefx/blob/master/src/System.Data.DataSetExtensions/src

If you copy over the code from reference source, including LinqDataView, you will hit the issue I mentioned that it requires access to internal members of the base class, and the base class is in System.Data.Common.dll. In .NET framework this was OK, because

[2018-03-01 08:03] e0003315 commented on #27537
@danmosemsft if it is, may I know the tentative release date?

[2018-03-01 08:06] wfurt commented on #27566
If you craft small repro, I can take a look @mconnew. I have both 10.12 and 10.13 for testing.

[2018-03-01 08:07] danmosemsft commented on #27537
I believe what @svick means is that it's not part of the "netcoreapp" package -- this is what you get referenced by default. By a narrow definition, that is .NET Core.

We will mark the package "stable" when we ship .NET Core 2.1. This is primarily because it is building out of the same infrastructure. It is not dependent on .NET Core 2.1 proper.

We haven't shared a release date however we did ju

[2018-03-01 08:08] danmosemsft commented on #27594
I should have pasted the Jenkins link -- the MC link is overwritten when you rerun tests..

Dumpling is still down so there is no coredump - you have to get a repro box or repro locally or possibly add logging, in general..

[2018-03-01 08:13] e0003315 commented on #27537
@danmosemsft Does that mean that tentatively, it will be officially be released with .NET Core 2.1 at the end of this cycle which is in Q2 2018 (which is in the next 3 months)??

[2018-03-01 08:16] danmosemsft commented on #27537
@e0003315 I can't say (and I personally don't know for sure) -- we try to announce ship dates publicly on the .NET Blog and the dotnet/announcements repo. Why do you ask?

[2018-03-01 08:37] e0003315 commented on #27537
@danmosemsft This way, I can plan whether I will want to wait and use System.drawing.common when it is released. If it is going to be release within the next few months, It still fits into my plan to implement it later.
But then again I am also looking into alternatives to not be dependent on system.drawings.

[2018-03-01 09:00] divega commented on #27247
@firefixmaarten FWIW, I talked to @terrajobst about this issue and he re-explained to me the way an old library that was compiled against .NET Framework (where SqlConnection used to live in System.Data.dll), should still be able to work in .NET Core (where SqlConnection was moved somewhere else).

The solution is a compatibility shim, which is basically a version of System.Data.dll that contains t

[2018-03-01 09:10] mgravell commented on #27467
Thanks @davidfowl  - otherwise I was going to try to look at this today (yesterday was ... busy)

[2018-03-01 10:24] n9 commented on #26078
Could @stephentoub or someone else confirm that adding the check is the right way to fix?

[2018-03-01 10:25] svick commented on #27417
Since you're already effectively creating a graph of platforms (where e.g. Android is a child of Linux and iOS is a child of OSX), would it make sense to introduce other parent nodes?

For example, there could be Nintendo for Switch and WiiU, or even PortableConsole for 3DS and PS Vita. Would this be useful? In other words, would it make sense for people to write code like `if (IsOSPlatform(Ninten

[2018-03-01 10:37] n9 commented on #26078
Moreover, I am using `System.Net.WebSockets.ManagedWebSocket` from `Microsoft.AspNetCore.WebSockets.dll` (v2.0.1 -- the latest version available).

There is the following comment: `// NOTE: This file is shared between CoreFX and ASP.NET.  Be very thoughtful when changing it.`

And here https://github.com/aspnet/WebSockets/tree/2.0.1/src/Microsoft.AspNetCore.WebSockets/Internal/fx is written:

Wher

[2018-03-01 11:25] #27574 closed

[2018-03-01 11:32] Anipik commented on #27552
@JeremyKuhne I guess its already in there https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/IO/PathInternal.Windows.cs#L216

[2018-03-01 12:09] stephentoub commented on #26939
There are some libraries where this causes a large number of failures. In the ones I looked at, e.g. System.Collections, the reason was obvious but fixing it (e.g. clearing stackalloc'd memory or changing the algorithm) would have required more investment (e.g. perf testing), and I wanted to focus mainly on the libs where choosing actually wasn't necessary.

In general, my approach was to flip the

[2018-03-01 12:25] #27554 closed

[2018-03-01 13:05] Lybecker opened #27603 "WinHttpHandler: Consider exposing ConnectTimeout"
In some environments, in particular in a cloud, it's useful to be able to specify a timeout for just the connection phase of an HTTP request. That way, if the server is unresponsive, we don't need to wait for the full HttpClient timeout to cancel the request, and conversely, setting a small HttpClient timeout to avoid such issues doesn't cancel an active operation taking a long time simply because

[2018-03-01 13:07] Lybecker commented on #27603
This is related to the same request for the SocketsHttpHandler #27235

[2018-03-01 13:20] Lybecker opened #27604 "HttpClientHandler: Consider exposing ConnectTimeout"
Exposing the ConnectTimeout on HttpClientHandler like suggested on SocketsHttpHandler (#27235) and WinHttpHandler (#27603). It will also make it possible to be consistent with the CurlHandler without making the CurlHandler public.

[code]

[2018-03-01 13:44] Ghyath-Serhal opened #27605 "dotnet core TransactionScope and Connection pool problems on Linux"
I have a business application that uses TransactionScope. The application runs on Windows and we are migrating it to dotnet core in order to work Linux.

I have 2 problems on **Linux** environment:
1- TransactionScope is not supported
2- The timeout period elapsed prior to obtaining a connection from the pool.  This may have occurred because all pooled connections were in use and max pool size was

[2018-03-01 14:06] airbreather commented on #26954
I do appreciate this idea, but my intuition suggests that it's a lot less useful than it seems on its face.

Thinking about when you'd need a really big buffer (like, bigger than a 4K OS page) that **could** legally fit on the stack, allocating that buffer on the stack feels like it could very often cause a page fault when trying to return to the caller.  Since we're probably talking about situati

[2018-03-01 14:17] ViktorHofer commented on #27267
Thank you all for your feedback. I will close this work item in favor of https://github.com/dotnet/corefx/issues/24145 where I'm currently drafting an API proposal for Span overloads on the existing API set.

[2018-03-01 14:17] #27267 closed

[2018-03-01 14:20] #27462 closed

[2018-03-01 14:25] stephentoub commented on #27534
According to the link, it was Fedora 26.

[2018-03-01 14:33] stephentoub commented on #27597
Because it's disabled on Windows :smile:
https://github.com/dotnet/corefx/blob/f9853fafb6e49c1c6e94f8c3130af9da4a1574a2/src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs#L163-L164

[2018-03-01 14:35] jorgebay commented on #15017
I wanted to voice our interest in seeing SASL support on a generic API (with GSSAPI support) on .NET Core, according to [rfc 4422](https://tools.ietf.org/html/rfc4422).

To create a multiplatform enterprise-friendly .NET Core application you need a SASL client.

As an example, Java has very nice API: `Sasl.createSaslClient(mechanism, ...)`, `Sasl.createSaslServer(mechanism, ...)`.

cc @csplinter

[2018-03-01 14:37] joetherod commented on #19771
@danmosemsft  I understand now. So, this cant be done by me. Can someone take care of this in the prerelease package of DataSetExtensions then?
Thanks

[2018-03-01 14:37] stephentoub commented on #27587
@saurabh500, what coreclr was being used when you got that stack trace?

[2018-03-01 14:55] benaadams commented on #27587
coreclr preview1 removes

[code]
coreclr preview2 early additionally removes
[code]
coreclr preview2 later additionally converts to its correct signiture
[code]

Was this error on netfx?

[2018-03-01 14:58] davidsh commented on #27593
This could be fixed now as a result of https://github.com/dotnet/corefx/pull/26022

[2018-03-01 15:05] stephentoub commented on #26078
This code has changed for .NET Core 2.1.  It used to be byte[] that was rented from a pool and then nulled out and returned when the websocket was disposed.  Now it's a `Memory<T>` that's either provided by the caller or allocated fresh, and it's not nulled out.  The previously mentioned issue of a NullReferenceException when using the websocket after it's been disposed/canceled should no longer b

[2018-03-01 15:12] n9 commented on #26078
So, https://github.com/aspnet/Home/issues/2910 is actually fixed in 2.1?

[2018-03-01 15:14] stephentoub commented on #26078
It's possible the same scenario manifests a different error, but that specific error should no longer be possible.  That error is complaining about dereferencing a null byte array, and there is no longer a byte array being nulled out or dereferenced.

[2018-03-01 15:28] afscrome opened #27606 "Unhelpful error when Activator.CreateInstance can't find default constructor"
When `Activator.CreateInstance` tries to create an object without a default constructor, it fails with the unhelpful error `System.MissingMethodException: No parameterless constructor defined for this object.`

It would be much more helpful if this error message contained the actual type that was failing to be constructed - e.g. `System.MissingMethodException: No parameterless constructor defined

[2018-03-01 15:32] pianoman4873 commented on #394
What if the value in the dictionary is a linked link for example of timestamps,
And when adding a key for the first time , I want to initialize the value to a list with current timestamp, and if the key already exists in the dictionary I want to append an item to the linkedlist.
How would you suggest to implement this to guarantee consistency of updates to the list ( in the scenario of having mult

[2018-03-01 15:33] csrowell commented on #20296
Yeah, this also threw our team for a loop. There's an entire Stack Overflow thread dedicated to trying to deal with it: https://stackoverflow.com/questions/10547895/how-can-i-tell-when-httpclient-has-timed-out/32230327#32230327

[2018-03-01 15:37] n9 commented on #26078
Ok, the problem, that the function is still running even if the web socket was aborted by client, might need to be solved.

[2018-03-01 15:49] DevInstinct opened #27607 "RSACryptoServiceProvider/RSAPKCS1SignatureDeformatter fail for SHA256"
I can consistently reproduce a problem when verifying a signature with the SHA256 algorithm.

I initially got an issue when trying to validate JWTs (RS256) with JwtSecurityTokenHandler's ValidateSignature. However, drilling thru the source code, I found that the problem occurs when RSAPKCS1SignatureDeformatter validates the signature with the SHA256 algorithm.

The thing is, the tokens are valid.

[2018-03-01 15:59] pianoman4873 commented on #394
Wow - really really appreciate your quick and smart reply !!  :)
Seems to be working for me as well which is even better - I did some testings now.

So basically the calls to GetOrAdd might result in several empty linked lists being added and overriden (with the same key of course  , due to lack of atomicy of the GetOrAdd as mentioned in MSDN)  , but afterwards having the list at hand , the lockin

[2018-03-01 15:59] thomaslevesque commented on #20296
I published a workaround a few days ago: https://www.thomaslevesque.com/2018/02/25/better-timeout-handling-with-httpclient/

[2018-03-01 16:01] stephentoub commented on #394
Yup.  Well, very close.  If multiple threads race to create the entry for the key, they might each end up calling CreateLinkedList(), but only one of them will actually get added to the dictionary, and then whichever one got added will be the one that they all get handed back.  Then as you say, they coordinate with each other with the lock on the specific linked list.

[2018-03-01 16:05] pianoman4873 commented on #394
Great ! Thanks a lot for the explanation ! You're awesome :)

[2018-03-01 16:24] brianrob commented on #19624
@ViktorHofer, can this be fixed for 2.1?  It looks to me like this would require changing desktop, is that right?

[2018-03-01 16:28] brianrob commented on #19071
@cwe1ss can you point at which documentation you'd like to change?
@vancem, do you have any concerns with doc updates?

[2018-03-01 16:40] csrowell commented on #20296
Awesome, thanks.

[2018-03-01 16:40] jogleasonjr commented on #26966
@welkie I noted a workaround for Visual Studio Code [here](https://github.com/Microsoft/vscode/issues/43539#issuecomment-369651904). That may work for you as well.

[2018-03-01 16:44] m7md7sien commented on #19630
As @svick said , I managed to overcome this issue by decoding the url.
`string decodedUrl = HttpUtility.UrlEncode(url);
Uri.IsWellFormedUriString(decodedUrl, UriKind.RelativeOrAbsolute)
`

[2018-03-01 16:45] pakrym commented on #27571
We see this after updating to `2.1.0-preview2-26225-03` runtime while on `2.1.300-preview2-008251` CLI.

All ASP.NET Core, OS X CI agents are failing with this error.

Moving to newer shared runtime is required to get System.IO.Piplines from corefx and we've already made a lot of reaction changes to accommodate the move.
/cc @muratg

[2018-03-01 16:50] karelz commented on #20296
Reopening as the interest is now bigger - the [StackOverflow](https://stackoverflow.com/questions/10547895/how-can-i-tell-when-httpclient-has-timed-out/32230327) thread has now 69 upvotes.

cc @dotnet/ncl

[2018-03-01 16:50] jkotas commented on #26954
Completely agree with @airbreather . Similar discussion at https://github.com/dotnet/csharplang/issues/1344

[2018-03-01 16:54] karelz commented on #26078
@n9 can you please try with 2.1 Preview1 (just released this week). If you can confirm, it does not throw NullReferenceException, we can close the issue.

Not sure what you meant by your last comment - if there are other concerns, I would suggest to file a separate bug and describe the problem. Thanks!

[2018-03-01 16:55] karelz commented on #27588
OK, so it is not clear if there is any .NET Core bug at this moment. Closing.

[2018-03-01 16:55] #27588 closed

[2018-03-01 16:56] pakrym commented on #27571
Removing new hostfxr helps.

[2018-03-01 16:56] karelz commented on #27565
That sounds like JScript validation problem - can you please file a bug on ASP.NET with a repro? That will help to get it investigated/addressed. Thanks!

Closing as it is not problem in .NET Core.

[2018-03-01 16:56] #27565 closed

[2018-03-01 16:57] pakrym commented on #27571
/cc @steveharter

[2018-03-01 17:05] steveharter commented on #27571
Does the malloc assert occur only in the deps.json failure case?

I'll try to get a local repro.

[2018-03-01 17:12] Tratcher commented on #27597
Here's one reference where HWR checks for CredentialCache before redirects: https://referencesource.microsoft.com/#System/net/System/Net/HttpWebRequest.cs,5824

I didn't find the same check for pre auth:
https://referencesource.microsoft.com/#System/net/System/Net/_BasicClient.cs,88
but it does have a policy system for deciding if it should send the credentials:
https://referencesource.microsoft.c

[2018-03-01 17:14] rmkerr commented on #27593
Yep! As David mentioned this is fixed in the latest 2.1 preview release. There's a surprising amount of ambiguity on the treatment of bidirectional control characters in the IRI spec, but we finally took a look at it and settled on the behavior of leaving them in.

Thanks for the report!

[2018-03-01 17:15] danmosemsft commented on #19771
@joetherod since it requires merging the assemblies it's not trivial work and will probably not happen for 2.1 given the low usage of this API unless it emerges that a bunch of other customers are hitting it also. Hopefully you can find a workaround.

[2018-03-01 17:16] steveharter commented on #27571
I assume the deps.json failure is not expected, and the malloc issue is secondary. Is this correct?

[2018-03-01 17:17] danmosemsft opened #27610 "Port DataTable.AsDataView extension methods"
These were in System.Data.DatasetExtensions but we did not port them because they need internal access to System.Data.Common (was System.Data)

Would probably be best to merge S.D.DSE into S.D.C with type forwards.

Usage seems very low but at least one porting customer needs it. See https://github.com/dotnet/corefx/issues/19771

[2018-03-01 17:17] danmosemsft commented on #19771
Since this issue is closed I opened https://github.com/dotnet/corefx/issues/27610 to track it. Lte's continue any conversation there.

[2018-03-01 17:22] pakrym commented on #27571
Yes

[2018-03-01 17:22] anurse commented on #27571
:eyes: This issue is causing all our macOS builds to fail. We're getting close to a standstill. Are there any tests that can prevent this from happening in the future? This repros when running **any** SDK command using the new hostfxr.

[2018-03-01 17:22] #26484 closed

[2018-03-01 17:31] muratg commented on #27571
👁

[2018-03-01 17:42] tmat opened #27611 "Add API that allows the emitter to indicate presence of localloc"
When encoding method body header the encoder needs to decide whether to emit tiny or fat header. A small method that has no locals but contains localloc instruction and has InitLocals set to true should not be encoded with tiny header since tiny header implies InitLocals is false. The presence of localloc instruction needs to be indicated by the caller of the method body encoder similarly to max s

[2018-03-01 17:44] geoffkizer opened #27612 "UseCallback_HaveCredsAndUseAuthenticatedCustomProxyAndPostToSecureServer_Success is failing on Win7"
Error is

[code]

From the loopback proxy server.

https://mc.dot.net/#/user/geoffkizer/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/1810ecb8564830d72a8b8b7404d5cf846e1a6ccb/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FUseCallback_HaveCredsAndUseAuthenticatedCustomProxyAndPostToSecureS

[2018-03-01 17:46] somm0s opened #27613 "UdpClient does not receive Broadcasts on Linux"
As the title suggest I'm currently trying to write an application that listens for udp broadcasts on the local network.

The following snippet works without problems on Windows but does not produce any results on my Fedora machine (I'm running Fedora 27 - 4.15.4-300.fc27.x86_64):
[code]
I also checked that the packets are actually received by my machine with WireShark:
![image](https://user-images

[2018-03-01 17:57] eerhardt commented on #27571
I'm surprised that all the CLI tests passed on macOS here:  https://github.com/dotnet/cli/pull/8704.  That used `2.1.0-preview2-26227-01` of the runtime.

/cc @nguerrera @livarcocc @wli3

[2018-03-01 17:59] MosheL commented on #27564
I am a new on .NET Core, so I do not know how it  managed inside, but I am looking now on their website and see  this:

http://cldr.unicode.org/development/development-process/design-proposals/hebrew-months

They are displaying Adar II  on leap year as Adar, this is wrong. On a leap year we need ti display a Adar I And Adar II.

[2018-03-01 18:01] saurabh500 commented on #27587
[code]

I have been using the EF builds to run these tests. So the CoreCLR is dependant on the version of SDK and CLI. The above is the output of `dotnet --info`

[2018-03-01 18:10] steveharter commented on #27571
On my mac, I wasn't able to repro a simple `dotnet new console` failure with that build

[2018-03-01 18:14] steveharter commented on #27571
But was able to repro by building https://github.com/aspnet/kestrelhttpserver/

[2018-03-01 18:24] joshfree commented on #27592
/cc @joperezr @JeremyKuhne

[2018-03-01 18:37] anurse commented on #27571
We're seeing the problem with hostfx build `2.1.0-preview2-26225-03` I believe. Deleting that `host/fxr` folder fixes the issue (even while still using the matching runtime) since it falls back to a previous hostfxr build.

[2018-03-01 18:41] MikeDempseyFL commented on #5982
Our event source is working fine on Windows but I am still unable to switch on the logging on Linux.
Our source is called Teradata-Data-Provider
I tried the following series of commands and it does create a set of log files but the log file is only 4K long and all except a few bytes at the start of the file is binary zeros.

lttng create teradata-trace
lttng add-context -u --type vpid
lttng add-co

[2018-03-01 19:00] tarekgh commented on #27564
the article is saying

[code]

which is matching what you are saying. I mean what is written is correct. the rest of the article is just trying to suggest how the data can be stored and then the data consumer can handle the list for leap and non-leap years.

[2018-03-01 19:13] maryamariyan commented on #27366
Closing this issue as of the submission of PR #27415

[2018-03-01 19:13] #27366 closed

[2018-03-01 19:13] maryamariyan commented on #27365
Closing this issue as of the submission of PR #27415

[2018-03-01 19:13] #27365 closed

[2018-03-01 19:14] vancem commented on #19071
Doc updates are fine.

[2018-03-01 19:17] danmosemsft opened #27618 "Investigate porting some/all of Roslyn regex parsing checker tests"
Look at https://github.com/dotnet/roslyn/pull/23984 and see whether there is test material there that would make sense to pull into CoreFX (ie., not too duplicative, easy to port, not too long to run...)

cc @CyrusNajmabadi

[2018-03-01 19:19] nattress opened #27619 "Remove workarounds when uapaot System.Private.CoreLib is updated"

[2018-03-01 19:20] wtgodbe commented on #24505
Resolved by https://github.com/dotnet/corefx/pull/27387, please re-open if the test fails again

[2018-03-01 19:20] #24505 closed

[2018-03-01 19:22] #23153 closed

[2018-03-01 19:22] #23154 closed

[2018-03-01 19:22] #26325 closed

[2018-03-01 19:22] #27293 closed

[2018-03-01 19:22] #27477 closed

[2018-03-01 19:29] wfurt commented on #27613
I did try quick repro and get same result. e.g. no messages show. I also tried to reorder operaion and no luck either. @tmds may have some more hints.

BTW packet capture gets packets before packet filer @somm0s so just be careful there. netstat -us should show proper stats.

My modified version which actually builds looks like:
[code]

[2018-03-01 19:31] mstum commented on #27192
Thanks, I'll close this for now and re-open once I wrote it up in the correct format.

[2018-03-01 19:31] #27192 closed

[2018-03-01 19:42] #26938 closed

[2018-03-01 19:45] kkokosa commented on #26954
I really like the direction of this discussion. My primary reasons for this proposal were twofold:

- with expected popularity growth of constructs like `Span<byte> span = stackalloc byte[1000]` in safe code, the actual size of the array that is safe to allocate is now quite an internal magic. More and more people may wonder what size is "safe"
- `stackalloc` is special because it may throw uncatc

[2018-03-01 19:52] brianrob commented on #20334
ETW tests are now enabled, so this should be possible.

[2018-03-01 19:52] brianrob commented on #20334
@vancem, do you want to try and resurrect your test?  Also, do you believe this should be for 2.1 or should we move it out?

[2018-03-01 19:57] svick commented on #26954
@airbreather

`EnsureSufficientExecutionStack` already has an opinion about how much stack is required to execute "average .NET Framework function". Maybe you could tell `TryEnsureSufficientExecutionStack` how many functions you need to fit on the stack after this allocation? That way, you wouldn't be encoding it yourself and any magic numbers would be hidden from you. The code could look like:

[

[2018-03-01 20:11] brianrob commented on #5982
@MikeDempseyFL the issue that you're hitting here is that LTTng doesn't know anything about specific EventSources because it does not currently allow for dynamic registration of tracepoint providers.  Thus, all EventSource events are sent to a single LTTng tracepoint called DotNETRuntime:EventSource.  When you enable this, you'll get all EventSource events - you can further filter this using COMPl

[2018-03-01 20:12] brianrob commented on #23072
@joperezr, do you have updated status on a fix for this issue?  Thanks.

[2018-03-01 20:36] somm0s commented on #27613
Huh! I did not realize that... I tested again after disabling firewalld and it works now...
So.. sorry about that

[2018-03-01 20:36] #27613 closed

[2018-03-01 20:50] AlexGhiondea opened #27625 "System.Text.StringBuilder.Insert uses a lot of memory in certain scenarios"
Ported from: https://developercommunity.visualstudio.com/content/problem/63747/systemtextstringbuilderinsert.html

Method System.Text.StringBuilder.Insert in a couple with System.Text.StringBuilder.Clear in some cases leads to very dramatic performance degradation and very high memory consumption. For the following test the StringBuilder class is absolutely unsuilable. But this case is only a simp

[2018-03-01 21:02] AlexRadch opened #27626 "System.Data.Common.Tests fails some tests in non english locale"
`System.Data.Common.Tests` fails some tests in non english locale with next log
[code]
Is it error in tests or in functions?

[2018-03-01 21:12] caesar1995 commented on #27217
This issue is the first failure report after disabling it against Win7 (#16272).

Seems it's fixed in #27360.

[2018-03-01 21:13] #27506 closed

[2018-03-01 21:17] wfurt commented on #27613
I'm glad it did work for you @somm0s . I could not get that working even with no netfilter rules but I had very little time to debug it.

[2018-03-01 21:18] #27451 closed

[2018-03-01 21:34] rmkerr commented on #25639
Closing since this test was reworked in #27583.

[2018-03-01 21:34] #25639 closed

[2018-03-01 21:35] #27607 closed

[2018-03-01 21:51] #27467 closed

[2018-03-01 21:59] #27465 closed

[2018-03-01 22:01] AlexRadch opened #27629 "System.IO.FileSystem.AccessControl.Tests fails 14 tests on my computer"
System.IO.FileSystem.AccessControl.Tests fails 14 tests on my computer with next log:
[code]

[2018-03-01 22:03] vancem commented on #20334
I don't actually have anything from back then because it never proceeded farther than the 'thinking about' how to do it.   Still it should not be hard now that everything else is in place.   I will look at this in the near future.

[2018-03-01 22:11] jimcarley commented on #27605
Ghyath-Serhal,

When you say "TransactionScope is not supported", you are referring to the fact that SqlClient does not utilize Transaction.Current, correct?

Also, I am not sure what you mean by the "connection pool problem". When you say that System.Data.SqlClient Version 4.5.0-preview1-26216-02 solved the connection pool problem, do you mean that you are no longer seeing timeouts, even when the

[2018-03-01 22:11] brianrob commented on #20334
Ok, thanks much.  I will move this to future for now.

[2018-03-01 22:42] benaadams commented on #27587
`2.1.0-preview2-26131-06` had a GC hole https://github.com/dotnet/coreclr/pull/16231; was fixed in `2.1.0-preview2-26207-11`

[2018-03-01 22:56] saurabh500 commented on #27605
What is the connection pool problem? Promotion to MSDTC is not supported by Sys.Transactions, so SqlClient cannot promote either.

Can you post a repro for the connection pool problem?

[2018-03-01 23:02] dbrownxc commented on #9234
.NET Core 2.0.  I don't know if what I'm seeing is this issue or a related issue.  I have a .Net Core app using RestSharp but I also have a set of unit tests with stripped down code.  I've reproduced the issue with both .NET Core on Windows and .NET Core on CentOs VM using microsoft/aspnetcore-build:2.0 image as a base (same Windows host) in the tests.  Issue is present in HttpClient AND WebReques

[2018-03-01 23:13] tarekgh commented on #27386
I am not sure I fully understand the problem here. but we have this nuget package for .Net Core here https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Runtime.InteropServices.RuntimeInformation

[2018-03-01 23:18] Drawaes commented on #26954
There are a couple of issues that feed into this. One is that the stack size varies widely on platforms now (for instance 2mb on windows and a default of 8mb on Ubuntu). Also I am not sure about allocating large chunks of stack until we get the "don't zero the stack". Without that its faster to pull from the array pool because zeroing a large array will cost you more and as said it will need to be

[2018-03-01 23:33] marksmeltzer commented on #27445
@stephentoub, I have some suggestions that would pair very nicely with this feature.

I would like to see the following overloads added to enable with allocation free tasks:
- public static bool ThreadPool.UnsafeQueueUserWorkItem(Action<object> callBack, object state)
- public static bool ThreadPool.UnsafeQueueUserWorkItem(Action callBack)
- public static bool ThreadPool.QueueUserWorkItem(Action<o

[2018-03-01 23:58] marksmeltzer commented on #27445
I see some similar comments above. The overloads for ThreadPool and ExecutionContext are both necessary for removing allocations on a very performance critical in my code. (Getting the new overloads on SynchronizationContext would be awesome too, honestly. 😆) The ThreadPool and ExecutionContext overloads are nice at least because it *might* be possible to tweak the internals to avoid the allocatio

[2018-03-02 00:11] stephentoub commented on #27445
This was already added, just with a generic `TState` instead of `object`.

Please feel free to open issues proposing other APIs.

[2018-03-02 00:17] danmosemsft commented on #27626
It looks like a test issue to me but @saurabh500 can confirm.

BTW, we are working to set up a non-ENU leg in our CI system.

[2018-03-02 00:18] marksmeltzer commented on #27445
Good to know! That probably hasn't bubbled up to .NET framework yet (which is what I'm compiling on at the literal moment). I'll check the code on the NET Core 2.0 platform, and see if any APIs may have been added that I'm not aware of yet.

Is the master branch on CoreFx representative of what's going into 2.1? If so, I can check there too and avoid asking for anything that's already been done si

[2018-03-02 00:20] adamsitnik opened #27636 "[Perf] XmlSerializer.Deserialize() regression between release/2.0.0 and release/2.1"
This is a follow up of https://github.com/dotnet/coreclr/issues/16627

There is a performance regression of `XmlSerializer.Deserialize(Stream)` for 2.1 compared to 2.0. For Windows it's from 10 to 30%, for Linux it's from 50% to 100%.

I did a small investigation, it looks that few calls to `system.private.xml!System.Marvin.ComputeHash(System.ReadOnlySpan<Byte>, UInt64)` are responsible for that.

[2018-03-02 00:25] jimcarley commented on #27605
It is definitely true that transaction promotion to MSDTC is not supported in .NET core. However, it is my understanding that there was a time where SqlClient did not utilize Transaction.Current, leading to the "TransactionScope is not supported" issue. I made the assumption that this is what was being referenced because Ghyath-Serhal indicated that "dotnet core 2.0 and system.Data.SqlClient Versi

[2018-03-02 00:27] stephentoub commented on #27445
No, it's in NET Core 2.1.

Yes

I would think about what you really need, craft a proposal for the APIs, and if they're all very (on the same type, or all-or-nothing in value, etc.) put them in the same issue, otherwise different issues.

[2018-03-02 00:30] stephentoub commented on #27636
If this was due to Marvin.ComputeHash calls, maybe this regression was addressed by https://github.com/dotnet/coreclr/pull/16654 and https://github.com/dotnet/coreclr/pull/16659, which are meant to address https://github.com/dotnet/corefx/issues/27485?

[2018-03-02 00:34] marksmeltzer commented on #27445
Out of curiosity, would your team take a community PR for something on that order of impact?

I wouldn't mind specing it out to get a sense of how much pain the request would be inflicting, and if it isn't much effort, I could just go ahead and finish it. (That might save someone some time regardless even if the PR isn't merged directly.)

[2018-03-02 00:36] stephentoub commented on #27445
Yes, once an API is approved.  It needs to go through the set process:
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2018-03-02 00:46] krwq commented on #26271
@Looooooka, closing this as no repro. If you got an example please paste here and reopen.

[2018-03-02 00:46] #26271 closed

[2018-03-02 00:47] krwq commented on #26237
@blowdart how long do we keep such issues open? Should we create some doc instead perhaps?

[2018-03-02 00:50] blowdart commented on #26237
Up to you lot, it's your repo. I'd leave the announcement never closed of course.

[2018-03-02 00:51] adamsitnik commented on #27636
@stephentoub it seems that you are right!

I just used BenchmarkDotNet following the instructions from: https://github.com/dotnet/corefx/pull/27164

And compared 2.0.5 vs 2.1.preview vs latest packages on MyGet (CoreCLR 4.6.26301.09, CoreFX 4.6.26228.08):

[code]
|        Method |     Job |     Toolchain | IsBaseline |      Mean |     Error |    StdDev | Scaled | ScaledSD |  Gen 0 | Allocated |
|-

[2018-03-02 00:52] CyrusNajmabadi commented on #27618
Note: my regex test were built by looking at the actual .net regex reference guide.  I figured that i should at *least* be able to handle every case that it talked about.

Also, the regex test harness i built does a lot of interesting things.  For example, it will try every substring from the left.  Then every substring from the right.  Then every mid substring.  Then it will try having the origin

[2018-03-02 00:53] krwq commented on #962
I think this is not worth to fix, closing.

[2018-03-02 00:53] #962 closed

[2018-03-02 01:31] borrrden opened #27638 "TcpClient uses Socket class which can fail in odd ways on UWP"
I am unsure what the actual cause of this is, but when I call Connect on a TcpClient that is working on an endpoint that is connected to the machine via VPN, then the underlying Socket connect call returns AccessDenied (as stated [here](https://social.msdn.microsoft.com/Forums/en-US/d9171ccf-efbc-498a-bc4d-ebe58055d3a7/uwpcannot-connect-to-private-server-socketerror-accessdenied?forum=wpdevelop)).

[2018-03-02 01:33] tmat opened #27639 "Improve ref assembly generation process"
Currently reference assembly sources are checked into the repository and generated manually. Nothing in the build system validates that the resulting reference assemblies actually match the implementation assemblies.

This is very error prone process. Especially for external contributor who doesn't know that they need to run some custom build target to regenerate the ref assembly sources. As it ha

[2018-03-02 01:34] tmat commented on #27639
@Petermarcu @weshaggard @ahsonkhan

[2018-03-02 01:37] danmosemsft commented on #27625
1. After the first Clear and Append there is one chunk with 10 chars and default 16 capacity
1. The second Append can't fit in the 16 so it chains a new chunk of 16 , now length 20 capacity 32. Last 12 chars are not used yet.
1. The third Append can fit so now length 30 capacity 32 in 2 chunks. Last 2 chars are not used yet.
1. Insert has no room in the first chunk so it prepends a new chunk of 16

[2018-03-02 01:37] Petermarcu commented on #27639
+1, this has bit me as well. :)

[2018-03-02 01:49] danmosemsft commented on #27625
@stephentoub @jkotas I assume all the above is by design?

Clearly StringBuilder is optimized for Append. Insert does not try hard to reuse space (it won't move more than 32 characters) so it's fairly easy to end up prepending a new block.

Those prepended blocks are made only as big as needed but no less than the default of 16. So Inserts of less than 16 leave slack space that will remain unused

[2018-03-02 01:51] danmosemsft commented on #27625
Also interesting is the behavior of Clear(). By policy it does not reduce capacity, which is fine, but it chooses to make one ginormous block for everything beyond the new length. Possibly that is because it does not want to walk through all the blocks resetting them, but it means Clear() immediately puts long builders into the LOH.

[2018-03-02 01:51] danmosemsft commented on #27625
@vancem

[2018-03-02 01:59] #26802 closed

[2018-03-02 02:34] davidwrighton opened #27641 "Remove workaround for using Arm64 without updating System.Reflection.Metadata"
The implementation of the actual Arm64 header detail hass been moved to System.Reflection.Metadata: #25182 but we aren't using it yet due to not updating SRM.

Remove it from Roslyn once it's available thru the version of SRM we use.

[2018-03-02 02:35] davidwrighton commented on #27641
Oops, opened this in the wrong repo.

[2018-03-02 02:35] #27641 closed

[2018-03-02 02:46] tannergooding commented on #27639
Could this be semi-automated by having Roslyn produce the ref-assembly for projects which are also implemented in CoreFX (and that aren't just shims for S.P.Corlib)?

[2018-03-02 03:36] Mirandatz commented on #17414
Please, do note remove NonPortableCast.

I just found this method and I'm using it with cryptography algorithms (converting byte arrays to ulongs or uints).
It's concise, performant enough and doesn't require me to allow unsafe code (I was using pointers before).

If anything, please give it some more love.

[2018-03-02 03:38] jkotas commented on #17414
It was not removed. It was renamed to `MemoryMarshal.Cast`

[2018-03-02 03:55] FDUdannychen commented on #27593
@danmosemsft @davidsh @rmkerr Thank you guys for your effort. Can you share when will 2.1 be released?

[2018-03-02 04:00] ahsonkhan opened #27642 "ApiCompat giving incorrect error about implementation instead of correctly pointing to the contract"
The ApiCompat error from https://github.com/dotnet/corefx/pull/27640#issuecomment-369808688 seems to be reversed.

[code]

The fix was to add `readonly` to the ref (contract). The error message indicates that the contract is marked as readonly, but the implementation is not, which is the opposite of what it should have been.

Any ideas why?
cc @ericstj, @weshaggard, @joperezr, @stephentoub

[2018-03-02 04:09] #27403 closed

[2018-03-02 04:15] stephentoub opened #27643 "Consider Socket.OSSupportsUnixDomainSockets property"
`System.Net.Socket` currently has these two properties:
[code]
In .NET Core 2.1, we've added a public EndPoint-derived type for Unix domain sockets (UnixDomainSocketEndPoint).  Unix domain sockets work across all Unixes we target, but Windows is also adding support (https://blogs.msdn.microsoft.com/commandline/2017/12/19/af_unix-comes-to-windows/), and we can support that via UnixDomainSocketEndPo

[2018-03-02 04:45] stephentoub commented on #27485
Was this fixed by https://github.com/dotnet/coreclr/pull/16654 (and maybe https://github.com/dotnet/coreclr/pull/16659)?

[2018-03-02 05:16] jkotas commented on #27639
You just need to run ApiCompat in opposite directions (swapping implementation and reference) to do what you need. As as quick hack to see how it can work, you can add this to at the end of https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/src/System.Reflection.Metadata.csproj :

[code]

[2018-03-02 05:18] jkotas commented on #27639
You should see this list of errors with the above:

[code]

[2018-03-02 05:19] steveharter commented on #27571
An update: at the root level I believe this is an issue with the way we dynamically load and invoke hostpolicy; it could be our bug or an OSX thing. More on that later.

Running https://github.com/aspnet/kestrelhttpserver/build.sh installs two version of the host/fxr and shared/Microsoft.NETCore.App:
- 2.1.0-preview2-26131-06
- 2.1.0-preview2-26225-03

I'm not sure why two versions are installed.

[2018-03-02 05:20] jkotas commented on #27639
If this works fine, we should put the target for reverse validation to https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/ApiCompat.targets and use it from there.

[2018-03-02 05:51] SimonCropp commented on #6204
looks like someone had a go already https://www.nuget.org/packages/Experimental.System.Messaging/

[2018-03-02 06:45] joelbraun commented on #11542
Found a bug in my change that took me a little while to fix, but the PR is out now. I used a local setup of Northwind to test, and it looks like everything is good to review.

[2018-03-02 06:48] AlexRadch opened #27646 "System.Diagnostics.EventLog.Tests fails 2 tests in non-English Windows"
`System.Diagnostics.EventLog.Tests` fails 2 tests in non-English Windows with next log:
[code]

I do not know how to fix these tests, because `EventLog.LogDisplayName` differs in non-English Windows.

May be test `EventLog.Log` property ? Or test that `EventLog.LogDisplayName` is not empty string?

[2018-03-02 07:15] AlexRadch opened #27647 "System.Drawing.Common.Tests fails 10 tests in non-English Windows"
System.Drawing.Common.Tests fails 10 tests in non-English Windows with next log:
[code]

On my computer `font.ToLogFont(logFont);` always set `logFont.lfCharSet` to 204.

Is it error is test or implementation?

[2018-03-02 07:27] atiato commented on #27605
Hi,
I will support as well in this as well:
Transaction scope problem (As per my understanding it is not supported but the version -dotnet core 2.1 and System.Data.SqlClient Version 4.5.0-preview2-26228-08 don't show below exception).

Time: 10:17:38.6822967 ------- Message: MSDTC on server 'GHAYATHSERHAL' is unavailable. ------- Inner Exception:  ---------- Stack Trace:    at System.Data.SqlClien

[2018-03-02 07:35] saurabh500 commented on #27605
SqlClient support TransactionScope in the 4.5.0-preview* versions. It was not supported in 4.4.0 which came out the same time as .Net Core 2.0

@atiato

TransactionScope for SqlClient is supported, but it cannot transaction promotion to MSDTC. Are you opening multiple connections in the same transaction scope in the repro that you have?

From what I understand you are not facing any problems with

[2018-03-02 07:43] atiato commented on #27605
@saurabh500
When we are using dotnet core 2.1 + System.Data.SqlClient Version 4.5.0-preview2-26228-08 , the transaction scope is fine but we are facing the pooling issue after performing a performance test.

while dotnet core 2.0 + SQL Client 4.5.0-preview1-26216-02 raise the MSDTC issue while pooling is working fine we didn't see above pooling exception.

all using same code.

if we are using sam

[2018-03-02 07:49] saurabh500 commented on #27605
@atiato Can you give me a repro for Connection Pool issue? I would like to understand this better.

If you have multiple connections being opened to the same database under the same transaction scope, that is considered a promotion and will need to us MSDTC and hence cause a failure in .Net Core.
Refer:
https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/system-transactions-integration-w

[2018-03-02 08:00] atiato commented on #27605
when using

![image](https://user-images.githubusercontent.com/652472/36888793-c9dac8d6-1dff-11e8-8a56-18f52c7d25fd.png)

I got

![image](https://user-images.githubusercontent.com/652472/36888810-dd5a7d70-1dff-11e8-82fe-b485fcc67c29.png)

the following code is used

        string connectionString = "Password=sasql1$$;Persist Security Info=True;User ID=sa;Initial Catalog=mea;Data Source=tcp:192.16

[2018-03-02 08:01] caozhiyuan opened #27648 "install 2.1 preview vs msbuild problem"
csproj has GeneratePackageOnBuild and build fail . remove it and success

[2018-03-02 08:03] saurabh500 commented on #27605
@atiato I am more interested in knowing what is going on inside
[code]

[2018-03-02 08:03] saurabh500 commented on #27605
Basically I want to see the code from System.Data.SqlClient that is being executed.

[2018-03-02 08:04] atiato commented on #27605
public void ReadData()
        {
            try
            {
                List<EmployeeWorkHour> lst = new List<EmployeeWorkHour>();

                using (SqlConnection conn = new SqlConnection(connectionString))
                {
                    using (SqlCommand cmd = new SqlCommand("SELECT TOP 50 * FROM dbo.EmployeeWorkHour WHERE PersonID = '81d8e09f-ce98-45fa-a311-ca7d7deccb7d'", co

[2018-03-02 08:06] saurabh500 commented on #27605
Do you have any Connection Pool related connection string parameters? Like Min Pool Size, Max Pool Size ?
Can you provide your connection string without the server name, uid and pwd?

[2018-03-02 08:07] atiato commented on #27605
string connectionString = "Password=sasql1$$;Persist Security Info=True;User ID=sa;Initial Catalog=mea;Data Source=tcp:192.168.0.6";

[2018-03-02 08:08] atiato commented on #27605
after 30 hits it raises the pool issue while SQL Client 4.5.0-preview1-26216-02 has no issue in that.

[2018-03-02 08:08] saurabh500 commented on #27605
Thanks for all the information. I will investigate the issue and get back to you.

[2018-03-02 08:08] saurabh500 commented on #27605
@keeratsingh can you take this up please?

[2018-03-02 08:48] ufcpp commented on #27445
[code]

[2018-03-02 09:29] AlexRadch opened #27649 "How to run single test from VS2017 IDE?"
`System.Memory.Tests` fails 516 tests on my computer from command line.
When I try to run all `System.Memory.Tests` tests from VS2017 IDE it hang up my computer.

I tried to run single test from VS2017 IDE by using next instruction https://github.com/dotnet/corefx/wiki/Build-and-run-tests#run-and-debug-single-test-in-visual-studio

I added `[Trait("MyTrait", "MyTraitValue")]` to test:
[code]

I ad

[2018-03-02 09:47] TheBoneJarmer commented on #26078
Hi, I have the same issue as well. It happens to me when I try to push out a lot of sends and receives at the same time. How can I download the preview? I would like to test this as well.

[2018-03-02 09:58] #27648 closed

[2018-03-02 11:59] stephentoub commented on #26078
You mean, for example, that you issue a receive without making sure that the previous receive had completed? That's not supported. It's only valid to have at most one send and one receive at a time.

[2018-03-02 12:27] TheBoneJarmer commented on #26078
I see, thanks. If it so happens that more receives or sends happen at the same time, could that result in an 'Aborted' error?

[2018-03-02 12:29] stephentoub commented on #26078
Yes

[2018-03-02 13:39] jnm2 commented on #27445
🤔

[2018-03-02 13:40] TheBoneJarmer commented on #26078
And what would be the best method to prevent it? I was thinking instead of async receive calls a sync receive calls but that does not exist.

[2018-03-02 14:27] MikeDempseyFL commented on #5982
Great Thanks. I now get the expected data in the log file.

The format of this file is completely different from the Windows etl files so neither PerfView nor my text converter app [which uses EventLogReader] recognizes it.

When I used perfcollect I noticed that it did a lot of post processing before it created the zip file. Is there a utility I can run to convert the output files to something th

[2018-03-02 14:37] AlexRadch opened #27652 "System.Management.Tests fails DateTime_RoundTrip test"
System.Management.Tests fails DateTime_RoundTrip test with next log:
[code]
To reproduce this fail - change time zone to `(UTC+7:00) Tomsk` in Windows (temporary).

But I did not find bug in `ManagementDateTimeConverter.ToDateTime` method.

I think that bug located in `TDateTime.ToUniversalTime()` and `TDateTime.ToUniversalTime()` methods.

For `datetime = 2002-04-08T14:18:35.9780000Z`

`TimeZone.

[2018-03-02 14:43] benaadams commented on #27590
Now Failing CI: UWP CoreCLR x64 Debug Build

Windows.10.Amd64.ClientRS2.Open-Debug-x64
 System.Security.Cryptography.Rsa.Tests.EncryptDecrypt_Array/RsaDecryptOaepWrongDataLength
[code]

https://github.com/dotnet/corefx/pull/27644
https://github.com/dotnet/corefx/pull/27650
https://github.com/dotnet/corefx/pull/27645

[2018-03-02 15:04] stephentoub commented on #26078
You have a few options:
1. Ensure it by construction, i.e. simply by how your code is arranged you serialize sends and serialize receives.
2. Use a synchronization construct like SemaphoreSlim, e.g. create one for sends and one for receives, set its count to 1, await its WaitAsync prior to an operation and release it after the operation.
3. Store the Task you get back from the previous send/receiv

[2018-03-02 15:10] benaadams opened #27653 "System.IO.Tests.DirectoryInfo Win10 UWP CI Failures"
UWP CoreCLR x64 Debug Build
Windows.10.Amd64.ClientRS2.Open-Debug-x64
[code]
[code]
[code]
[code]
#27644
#27650
#27645

[2018-03-02 15:13] ahsonkhan commented on #27653
Is this on the "UWP CoreCLR x64 Debug Build" leg only? I think the build updates (from https://github.com/dotnet/corefx/pull/27640) will resolve this issue.

[2018-03-02 15:14] benaadams commented on #27653
Yes

[2018-03-02 15:17] ahsonkhan commented on #27653
In that case, I think this can be closed, but let's wait till build goes through to confirm.

cc @JeremyKuhne, @stephentoub

[2018-03-02 15:17] benaadams opened #27655 "System.Net.Http.Functional.Tests Win10 UWP CI Failures"
UWP CoreCLR x64 Debug Build
Windows.10.Amd64.ClientRS2.Open:Debug-x64

[code]
#27644
#27650
#27645

[2018-03-02 15:33] steveharter commented on #27571
Here's some steps to verify what I'm seeing:
1) On OSX and with a `https://github.com/aspnet/kestrelhttpserver` repo
2) `export COREHOST_TRACE=1`
3) Run `build.sh 2>out1.txt`
4) Remove\rename the folder for the newer fxr at `/Users/<user>/.dotnet/fxr/2.1.0-preview2-26225-03`
5) Run `build.sh 2>out2.txt`

Diff `out1.txt` and `out2.txt`

You should see lines like this diffing:
`<< Adding runtime ass

[2018-03-02 15:36] ericstj commented on #27639
We already have the target that runs GenAPI in reverse.  Just build the src project with /t:GenerateReferenceSource added here: https://github.com/dotnet/corefx/pull/20211.  That's better even than APICompat because you don't need to manually author the source file.  We don't make it automatic because we expect folks may want to massage the output a bit, but it gets you a lot further than APICompa

[2018-03-02 15:50] totht91 commented on #2704
@springy76 I'm just shocked, why are those tokens and not events? @davidfowl

[2018-03-02 15:50] tannergooding commented on #27639
It seems fine to not have it automatic for local runs (to help with a faster inner loop), but I feel we should have a CI leg that checks this (in the same manner as we enforce formatting checks, etc)

[2018-03-02 16:04] jkotas commented on #27639
We do not want to make the regeneration automatic, but the validation can be automatic for projects that opt into it. There is a ton of similar validation done by default during the build. A little bit more won't make a difference.

[2018-03-02 16:05] tannergooding commented on #27639
Right, I was suggesting that the validation be automatic, to ensure that we never end up in an incorrect state after a PR is merged.

[2018-03-02 16:07] MikeDempseyFL commented on #5982
Having looked more closely at the data I see a major problem.
The payload for one of our events includes a byte array. [the data buffer]
On Windows the event log correctly shows the data in that buffer, but on Linux it simply shows "System.Byte[]". Apparently it is simply using ToString() which will not work for arrays.

Are there any plans to handle arrays on Linux?
If not, my only option would s

[2018-03-02 16:07] AndyAyersMS commented on #27485
Seems likely.

Would like to add a vote here for using ratios instead of percentages. Regression was 134% and improvement was 56%. Not easy to parse either side of this. Before peeking at the chart, below try and sketch what this would look like on a graph.

<details>
At least for me, 134% somehow doesn't make it sound as bad as it was, and 56% doesn't seem like it should cancel out 134%. Citing t

[2018-03-02 16:12] jkotas commented on #27639
I was commenting on the separate CI leg. I do not think separate CI leg makes sense for this. Just make it part of the full build by default.

[2018-03-02 16:14] danmosemsft commented on #27652
@tarekgh for thoughts

[2018-03-02 16:22] luvhsail commented on #9234
hi @davidsh , @seriouz . I am facing the same issue. The code given below works fine in a console app but does not work in UWP. I am not having Fall Creator's update yet, is that related?
Do you guys have some work around.

 public  string GetUsingHttpClient()
        {
            string response = string.Empty;
            try
            {
                HttpClientHandler ch = new HttpClientHa

[2018-03-02 16:26] seriouz commented on #9234
My workaround is currently having an external program compiled with dotnet fullframework 4.6 running on a windows machine working as a service for my main dotnet core application running on a linux server.

[2018-03-02 16:45] RehanSaeed commented on #21982
Tried my code with .NET Core 2.0.5 and still unable to dynamically load external assemblies that are not referenced. The problem is that `System.*` and `Microsoft.*` assemblies are scattered in the `store` or `sdk` folders under the `dotnet` installation directory. I tried writing this very hacky code to load the right assemblies at runtime but it still doesn't work:

[code]

[2018-03-02 16:52] maryamariyan commented on #27547
I believe this outerloop failure was masked by #27426. I prepared PR #27547 to fix/update this test.

This is similar to disabled tests mentioned in https://github.com/dotnet/corefx/issues/27459 and https://github.com/dotnet/corefx/issues/27460 (created 5 days ago)

[2018-03-02 16:55] weshaggard commented on #27639
We cannot automatically generate the ref's because we intentionally have implementations that are either not 1:1 with the ref or have API's that aren't intended to be exposed in the reference assembly. A reverse APICompat check may work for some libraries like SMR but it still won't work for things like System.Runtime because of the split of the implementation.

[2018-03-02 16:55] tarekgh commented on #27652
Yes, this is a limitation in TimeZone class. we encourage people to use TimeZoneInfo class instead.

please have a look at the remarks section of TimeZone docs:
https://msdn.microsoft.com/en-us/library/system.timezone(v=vs.110).aspx#Remarks

I didn't look at why the test is failed though.

[2018-03-02 17:05] tarekgh commented on #27652
I looked at the code at

https://github.com/dotnet/corefx/blob/master/src/System.Management/src/System/Management/ManagementDateTime.cs#L201

and this is definilty wrong and has to be changed to use TimeZoneInfo instead.

I marked this issue as a product bug and not a test bug.

@danmosemsft who own System.Management can take a look?

[2018-03-02 17:08] vancem commented on #27625
@danmosemsft  - behavior of 'insert' is roughly by design.  I say roughly because the design point assumes that insert is rare compared to 'Append' and  thus simplicity of implementation has value.  If we can improve its behavior with trivial increases in complexity, than that is certainly worth doing.   If it is complex, It is not clear to me at least it is the right tradeoff.    I would want som

[2018-03-02 17:16] danmosemsft commented on #27625
I agree with this. The Clear change makes sense. Insert changes would only be worthwhile if complexity was limited.

If there is no other feedback I will get the Clear changed made.

[2018-03-02 17:17] danmosemsft commented on #27625
@maryamariyan let's see whether @stephentoub or @jkotas have a concern about the Clear() change, if not you can do this.

[2018-03-02 17:18] danmosemsft commented on #27652
@pjanotti owns this class. However if it doesn't need a lot of context then @Anipik could do it. @pjanotti ?

[2018-03-02 17:20] tmat commented on #27639
Why not have it automatic for SCI and SRM?

[2018-03-02 17:21] danmosemsft commented on #27649
Does `-trait MyTrait` work? Or `-trait MyTrait=MyTraitValue`

[2018-03-02 17:21] NBaron commented on #27498
@superriva I am trying to use the package on myget in a NetStandard2 library.
I am porting from a NetFramework4.6.1 library using MEF1.
Everything looks good till I get to the use of RegistrationBuilder which is a CustomReflectionContext (System.ComponentModel.Composition.Registration).
It is apparently not present in the myget package and I would like to know how can we achieve something similar;

[2018-03-02 17:23] danmosemsft commented on #27646
@Anipik please reproduce this by changing your system locale. Then if possible find a localized name on the eventLog object that you can use instead. If that doesn't work, then verify eventLog.LogDisplayName only when culture is en-US. Same for the other test.
[code]

[2018-03-02 17:24] vancem commented on #5982
@MikeDempseyFL   First I want to confirm that you are using An EventSource and passing a byte array as one of the parameters.   Showing the code you use is useful here.

The behavior on Linux does feel like a bug (after all it works differently on Linux and Window).  But we should firm up exactly what the repro behavior is (presumably you are reading LTTng somehow.  Repro instructions would help.

[2018-03-02 17:30] weshaggard commented on #27639
While we could potentially have them be generated automatically as part of the build for the src project we would still need to have them committed to the repo because of the way we build our repo in phases. We first build all the ref projects which have P2P references to each other. Then we build the src projects which use standard References to our ref folder we built in the ref phase to get the

[2018-03-02 17:42] jemiller0 commented on #5982
Please just fix TraceSource, it is unusable the way it is now.

[2018-03-02 17:44] jkotas commented on #27625
As Vance said. No concerns.

[2018-03-02 17:47] tannergooding commented on #27639
@weshaggard, Roslyn shipped with a feature that lets all this be done in a single compilation pass.

The compiler simultaneously produces the ref and implementation assemblies and passes just the reference assemblies to any dependent projects.

[2018-03-02 17:49] tannergooding commented on #27639
I understand it wouldn't work for all assemblies, but it sounds like it should "just work" for projects like S.C.I or S.R.M.

I believe there is even options to explicitly produce just the implementation or just the reference assembly, if you still want those to be separate steps.

[2018-03-02 17:49] caesar1995 commented on #23765
No report since I enable the test on Windows 2 weeks ago.

[2018-03-02 17:49] danmosemsft commented on #27618
@CyrusNajmabadi hmm, now I look at your PR, how do you see this working? Eg., in

src/Workspaces/CSharpTest/RegularExpressions/CSharpRegexParserTests_BasicTests.cs
src/Workspaces/CSharpTest/RegularExpressions/CSharpRegexParserTests_DotnetNegativeTests.cs
src/Workspaces/CSharpTest/RegularExpressions/CSharpRegexParserTests_ReferenceTests.cs

pull out all the regexes on lines like

        public voi

[2018-03-02 17:49] tannergooding commented on #27639
See https://github.com/dotnet/roslyn/blob/b4f6481531a601ca9d9ebf8e99f6a9fcf433f132/docs/features/refout.md

[2018-03-02 17:52] jkotas commented on #27639
Right. We do not want every bit of CoreFX to be plumbed differently. It is complex enough as it is.

[2018-03-02 18:01] rmkerr commented on #9234
Reopening this as it does seem to be an issue. I'll take a look at the repros you've included later today!

[2018-03-02 18:03] pjanotti commented on #27652
I didn't look at this so if @Anipik can pick it up it will be great. BTW, this should be the same code from full Fx so it should be fixed there too (especially if @tarekgh said so 😸 ). We probably should remove/review all/(if any) other usages of TimeZoneInfo in this namespace.

[2018-03-02 18:07] tmat commented on #27639
@jkotas Maybe we don't want SCI and SRM to be on CoreFX then.

[2018-03-02 18:11] tmat commented on #27639
I'd be fine if I got a build error that says "Ref assemblies out of date: run ... command thing to regenerate ref assemblies" and I wouldn't need to manually fix up the generated file.

[2018-03-02 18:15] caesar1995 commented on #23404
The API compat page has already contains the `System.Net.*WebRequest` should not be used.

Do you mean [here](https://github.com/dotnet/docs)? As for the alternative, I'm not sure what could be. Probably [FluentFTP](https://www.nuget.org/packages/FluentFTP)? (which is also compatible with latest .net standard 2.0)

@davidsh @karelz

[2018-03-02 18:15] weshaggard commented on #27639
I believe there is even options to explicitly produce just the implementation or just the reference assembly, if you still want those to be separate steps.

It is definitely worth considering something like this where the ref projects for these libraries are just wrappers around the src projects that put them into the reference assembly only mode and can be built during the ref phase of the corefx

[2018-03-02 18:24] stephentoub commented on #27625
Sounds fine.

[2018-03-02 18:27] danmosemsft commented on #27547
As noted offline, the issue with tests getting silently skipped began back in https://github.com/dotnet/coreclr/pull/13870 apparently. So your theory the failure had always been masked is plausible.

[2018-03-02 18:36] danmosemsft commented on #27625
@maryamariyan you might also consider adding an #if DEBUG-only method on StringBuilder that can be invoked in the debugger to produce pictures like
`|0123456789......|0123456789......|0123456789012345|67890123456789..|`
That would have saved me a lot of time figuring out what was going on and I expect it to be useful in future.

[2018-03-02 18:39] weshaggard commented on #27642
It is kind of hard to see the exact changes based on that PR as it had a lot going on. Can you give a simple example of what you were seeing?

Keep in mind that "contract" is really just left and "implementation" is right in the diff so if the reference assembly was passed as the right side then you might get this error.

[2018-03-02 18:41] bartonjs commented on #27590
Looks like RSACryptoServiceProvider had a special check for this state, and threw a more friendly exception, so I'll apply that to RSACng/RSASecurityTransforms/RSAOpenSsl.

[2018-03-02 18:42] AlexRadch commented on #27646
@danmosemsft I think it not possible to reproduce this by changing locale because localized name on the `eventLog` stored in registry. And Windows will not change it after installation. So to reproduce it you should install non-English windows.

[2018-03-02 18:45] danmosemsft commented on #27646
@AlexRadch can you confirm that eventLog.Log is not localized ie it's "Application" on your box? If so we can just change to that as you suggest.ed

[2018-03-02 18:47] ahsonkhan commented on #27642
Remove the `readonly` keyword from this line:
https://github.com/dotnet/corefx/blob/master/src/System.Runtime/ref/System.Runtime.cs#L6445
[code]

Leave the `readonly` keyword in the implementation:
https://github.com/dotnet/corefx/blob/803466487e65ca23579139f2565d960404775cd9/src/Common/src/CoreLib/System/Runtime/CompilerServices/ConfiguredValueTaskAwaitable.cs#L34

Observe ApiCompat error as stat

[2018-03-02 18:47] AlexRadch commented on #27646
@danmosemsft I will try to change locale to english and then tests.

[2018-03-02 18:51] dotnet-mc-bot opened #27659 "Test failure: System.ComponentModel.Composition.CompositionExceptionTests/Message_ShouldFormatCountOfRootCausesUsingTheCurrentCulture"
Opened on behalf of @danmosemsft

The test `System.ComponentModel.Composition.CompositionExceptionTests/Message_ShouldFormatCountOfRootCausesUsingTheCurrentCulture` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.ComponentModel.Composition.CompositionExceptionTests.AssertMessage(CompositionException exception, Int32 rootCaus

[2018-03-02 18:51] MikeDempseyFL opened #27660 "EventSource: Arrays in the Event payload are not supported"
I see a major problem with the Lttng output on Linux when an array is passed to an Event using a custom EventSource.

One of the events in our EventSource includes a byte array in its payload. [a data buffer]
On Windows the event log correctly shows the data in that buffer, but on Linux it simply shows "System.Byte[]".
Apparently it is using ToString() which will not work for arrays.

I am simply

[2018-03-02 18:52] danmosemsft commented on #27659
Exception strings are not available on UWP (this is F5 so I don't know why it's not working there)

This code below will fail. Easiest thing is to return early from both of these if `PlatformDetection.IsNetNative`.

[code]

[2018-03-02 18:52] AtsushiKan commented on #27606
Possible up-for-grabs item. The fix isn't as easy as it sounds because the exception is thrown in unmanaged code. And catching the exception in managed code to add the type information isn't attractive either because the same FCall invokes the constructor and we don't want to catch exceptions if the `dontWrap` parameter is true (the whole idea behind that is you don't want to ruin the debugging ex

[2018-03-02 18:54] MikeDempseyFL commented on #5982
I opened issue #[27660](https://github.com/dotnet/corefx/issues/27660) and added the requested information to that issue.

[2018-03-02 19:00] rmkerr commented on #9234
@luvhsail authentication defaults are more strict on UWP than they are in a regular app. Can you make sure that you have enabled the correct capabilities, as described [here](https://stackoverflow.com/questions/36126305/how-to-pass-default-credentials-in-windows-authentication/36197993#36197993)?

@dbrownxc can you include network captures of the clients response to the challenge header? That and

[2018-03-02 19:18] karelz commented on #9234
@rmkerr are we tracking only UWP problem? In that case, we should create a new bug. While the symptoms are the same, the root-cause will likely be very different (I expect in the underlying stack - WinRT APIs).

[2018-03-02 19:19] #25962 closed

[2018-03-02 19:20] davidsh commented on #9234
I agree.  UWP HTTP stack uses a totally different implementation.  So, a new bug would be better.

[2018-03-02 19:21] karelz commented on #23404
We should document it in https://github.com/terrajobst/platform-compat/blob/master/docs/DE0003.md - it recommends HttpClient, which is replacement only for HttpWebRequest. We may need to add specific entries there. Feel free to check with @pjanotti

[2018-03-02 19:23] joperezr commented on #27642
These ApiCompat errors have been around for a long time, but they just don't fail the build, which most likely is a bug in our targets. I believe that what we should do is just to update the baselines for uap and uapaot

[2018-03-02 19:27] ahsonkhan commented on #27642
This specific issue/error is new and not related to uap only. Also, the error got resolved already. I just wanted to point out that the error message was incorrect, making it harder to debug the issue.

[2018-03-02 19:27] rmkerr commented on #9234
I think that the problems encountered by @dbrownxc and @seriouz are non-UWP related, and seem to match up with the original report here. The rest of this thread is a mess of different issues though, so if you think we should start a new one just to clarify things that is fine with me.

[2018-03-02 19:30] seriouz commented on #9234
Yes, @dbrownxc and i are using dotnet core. He is on version 2 and i am on version 1 but i can upgrade to dotnet core 2,  too.

[2018-03-02 19:31] karelz commented on #9234
The UWP should be separated from this bug.
The non-UWP issues - if they use Fiddler, then they are the same issue as here, and the issue can be closed. If they don't use Fiddler, then it is separate bug IMO.

[2018-03-02 19:39] dotnet-mc-bot opened #27662 "Test failure: System.IO.Tests.DirectoryInfo_GetSetTimes/TimesIncludeMillisecondPart"
Test passes on all Linux distros in CI: https://github.com/dotnet/corefx/pull/27559
Test fails on all Linux distros in official build.

Investigating whether build is exactly the same.

The test `System.IO.Tests.DirectoryInfo_GetSetTimes/TimesIncludeMillisecondPart` has failed.
[code]

[2018-03-02 19:40] brianrob commented on #5982
Thanks @MikeDempseyFL.

[2018-03-02 19:41] karelz commented on #19718
We discussed it with @bartonjs couple of weeks ago.
We came to conclusion there is nothing reasonable we can do here, except to wait for SocketsHttpHandler, which is coming in 2.1 (maybe even as default).

Anyone can give it a try with SocketsHttpHandler in 2.1 Preview1 - see [blog post](https://blogs.msdn.microsoft.com/dotnet/2018/02/27/announcing-net-core-2-1-preview-1/) with details how to turn

[2018-03-02 19:41] #19718 closed

[2018-03-02 19:41] danmosemsft commented on #27662
On all the distros, the new logging shows they are consistently zero:
[code]
This would happen if this build time check failed:
[code]

[2018-03-02 19:42] joperezr commented on #23072
I haven't had time to pick this up. Also what I was proposing wasn't really a fix for it, but instead just have it run twice before reporting failure. I'll try to get this soon.

[2018-03-02 19:44] brianrob commented on #23072
Ok thanks.  I'm going to leave this for 2.1.

[2018-03-02 19:52] jkotas commented on #27619
https://github.com/dotnet/corefx/commit/3fca26cedf6c54aabc100e69106fc7e263db7815

https://github.com/dotnet/corefx/commit/ebe14686a89d26d1d34d359f7a636d6e9a36a624

[2018-03-02 20:11] pjanotti commented on #27652
@tarekgh should we add a rule to https://github.com/dotnet/platform-compat to use TimeZoneInfo instead of TimeZone?

[2018-03-02 20:20] AlexRadch commented on #27652
@pjanotti As I read TimeZone can be used to convert times from local time to Coordinated Universal Time (UTC) or vice versa. So it used correctly here.
At `datetime = 2002-04-08T14:18:35.9780000Z` Tomsk time have offset +8 hours! And `ManagementDateTimeConverter.ToDateTime ` use 8 hours.
But datetime.ToUniversalTime() use 7 hours and this is wrong offset.
So I think bug in datetime.ToUniversalTime

[2018-03-02 20:24] karelz commented on #26775
Fedora24 is officially out, so closing. We can reopen if it happens again on other OSs.

[2018-03-02 20:24] #26775 closed

[2018-03-02 20:28] karelz commented on #27199
Looks like nothing actionable on .NET Core side, closing.

[2018-03-02 20:28] #27199 closed

[2018-03-02 21:08] AlexRadch opened #27664 "System.Memory.Tests fails 516 tests of parsing numbers"
System.Memory.Tests fails 516 tests of parsing numbers with next log
[code]
and so on...

To reproduce it. Set the decimal separator different from dot. And set thousand separator different from comma.

So bug is in test data generator that have very intricate code. And I can not find bug location. I spend about 4 hours to find bug location.

[2018-03-02 21:10] dsyme commented on #25669
See tracking language suggestion at https://github.com/fsharp/fslang-suggestions/issues/648

[2018-03-02 21:35] AlexRadch commented on #27649
@danmosemsft `-trait MyTrait=MyTraitValue` works so https://github.com/dotnet/corefx/wiki/Build-and-run-tests#run-and-debug-single-test-in-visual-studio instruction should be changed.

[2018-03-02 21:37] #27649 closed

[2018-03-02 21:41] steveharter commented on #27571
@pakrym others - are you going to ignore this issue and commit anyway?

I'm working on a fix, but need verification from other(s) before I send the PR, which will consist of adding namespaces to hostfxr. I'm shooting for end of day...

[2018-03-02 21:45] tarekgh commented on #27652
@AlexRadch

I don't think so. you missed the doc part:

[code]
Note that, 2002 can have different daylight adjustment rule than 2018

Could you clarify why you think so? can you get isolated DateTime repro demonstrate what you think?

[2018-03-02 21:48] tarekgh commented on #27652
@pjanotti

That would be a good idea.
I can expect some areas may care more about the app compatibility than correctness. but in general, no one should use TimeZone class.

[2018-03-02 21:52] marksmeltzer commented on #27445
@jnm2, My spirits at the time, at any rate.

Although this new feature isn't out yet, @stephentoub's goal of minimizing allocations along the async pipeline inspired me to take a hard look through my own code base to minimize allocations. The code I support is cross platform to older frameworks (.NET 2.0 - latest, .NET Core, Unity, NET Standard, Xamarin, Mono, and yes even Silverlight), and I also

[2018-03-02 21:55] alekkowalczyk commented on #26078
Same question here, I'm getting this exception randomly on what looks like heavier load of my websockets, how can I prevent it?

[2018-03-02 22:06] tarekgh commented on #27652
one other note, if you look at

https://www.timeanddate.com/worldclock/russia/tomsk

you'll see Tomsk doesn't have daylight saving in 2018. so the offset is UTC+7

[2018-03-02 22:11] AlexRadch commented on #27646
I changed Windows interface language to English and those tests does not fail.

[2018-03-02 22:39] Anipik commented on #27646
@AlexRadch I will make the necessary changes . Thanks for the help

[2018-03-02 22:46] pakrym commented on #27571
Commit what?

[2018-03-02 23:13] steveharter commented on #27571
Are you still blocked?

[2018-03-02 23:18] luvhsail commented on #9234
Hi @rmkerr
I changed the capabilities and now I am getting "The remote server returned an error: (500) Internal Server Error."
   at System.Net.HttpWebRequest.EndGetResponse(IAsyncResult asyncResult)
   at System.Net.WebRequest.<>c.<GetResponseAsync>b__37_2(IAsyncResult iar)
   at System.Threading.Tasks.TaskFactory`1.FromAsyncCoreLogic(IAsyncResult iar, Func`2 endFunction, Action`1 endAction, Task

[2018-03-02 23:26] Anipik commented on #27646
@AlexRadch can you tell how you changed the windows interface language ?. I tried changing the system locale as well as system display and input language but still not able to repro the bug

[2018-03-02 23:28] #27542 closed

[2018-03-02 23:39] AlexRadch commented on #27646
![screenshot_6](https://user-images.githubusercontent.com/6407980/36927066-a8a982b6-1ead-11e8-883e-38e266c551cf.png)

[2018-03-02 23:39] pakrym commented on #27571
@steveharter we added a temporary workaround that removes latest hostfxr to dotnet-install script.

[2018-03-03 00:01] rmkerr opened #27672 "NTLM authentication sometimes broken by multiple WWW-Authenticate headers"
This issue has been split off from #9234, which turned out to be a problem in the tool being used to observe network traffic. Other users saw similar results, but under different conditions and not caused by the testing tool. That issue will be tracked here to clearly separate the two issues.

The issue tracked here occurs with the following code, targeting .NET Core 2.0:
[code]
In Windows, the se

[2018-03-03 00:01] rmkerr commented on #9234
I've opened issue #27672 to track authentication issues with NTLM when fiddler is not being used. Hopefully separating it out helps us keep things clear 😄

Since the original issue here was caused by fiddler and has since been resolved, I'm going to keep this issue close. Please add any new information to the new issue.

@luvhsail A 500 response indicates that the error was on the server side. Sin

[2018-03-03 00:01] #9234 closed

[2018-03-03 00:17] okwolf commented on #22101
We're facing this issue too and it's a blocker for our .net core migration. The easiest way to check is to have this inside your test code

[code]

And you'll see that instead of referencing `C:\myapp\bin\Debug\netcoreapp2.0\myapp.dll.config` it references `C:\myapp\bin\Debug\netcoreapp2.0\testhost.dll.config`

What is the intended workaround? What about a patched release?

[2018-03-03 00:20] #26275 closed

[2018-03-03 00:29] ViktorHofer commented on #23863
Any update on this? Such a documentation would help me a lot in using OwnedMemory/Memory.

[2018-03-03 00:50] #24668 closed

[2018-03-03 00:56] ericstj commented on #27639
Optional reverse API Compat seems like a reasonable thing for a library to opt in (or opt-out) of.  I don't like build that updates source, every time I've tried to make that work I've gotten *tons* of push back or folks like @AtsushiKan who attrib -r their source tree (rightly) yell at me.

Anyone have a preference of opt-in vs opt-out?

[2018-03-03 01:04] jkotas commented on #27639
Turn it on by default if the project does not have ReferenceFromRuntime ?

[2018-03-03 01:11] realvictorprm commented on #25669
@Porges Don't use Span with F# yet, it's unsafe because no compiler checks are done. You would run into runtime errors easily if misused :(

[2018-03-03 01:41] ahsonkhan opened #27674 "[uap] CoreFx build is failing since 'RemotelyInvokable' does not contain a definition for 'LongWait'"
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1436514
[code]

cc @jkotas, @stephentoub

[2018-03-03 01:41] ahsonkhan commented on #27674
Nevermind, fixed in https://github.com/dotnet/corefx/pull/27671.

Thanks.

[2018-03-03 01:41] #27674 closed

[2018-03-03 01:46] Anipik commented on #27357
@stephentoub  @danmosemsft It was changed by @JeremyKuhne in https://github.com/dotnet/coreclr/commit/1709ce9e53590adb5d649ddf99fcddf652b2fbc4
He has mentioned the reason in the description

[2018-03-03 02:05] danmosemsft commented on #27357
@Anipik I don't see that. In that change he removed some places that throw, which is OK. However if an ArgumentException (or any of its derived types eg ArgumentNullException) is thrown, ideally it has its parameter name field set. Sometimes that isn't possible, usually because it's deep in the callstack so it doesn't have an argument name that's useful to the user. I'm guessing that the list abov

[2018-03-03 02:58] caozhiyuan opened #27675 "IsValidLocationForInlining no longer considered when running await continuations"
when up to 2.1 preview1  run app in cmd dotnet run -c release -f netcoreapp2.1
TaskCompletionSource TrySetResult  be blocked
netcoreapp2.0 is ok

[code]

[2018-03-03 03:10] benaadams commented on #27675
/cc @stephentoub

[2018-03-03 03:16] benaadams opened #27677 "System.Transactions.Local.Tests 🔥 Linux x64 Release Build"
Linux x64 Release Build
OpenSuse.423.Amd64.Open:Release-x64
System.Transactions.Local.Tests 🔥

[code]

Seen in https://github.com/dotnet/corefx/pull/27673

[2018-03-03 03:20] stephentoub commented on #27675
What's the issue? I'm not understanding.

[2018-03-03 03:29] ahsonkhan commented on #27677
cc @jimcarley, @qizhanMS, @dmetzgar

[2018-03-03 03:30] ahsonkhan commented on #27677
cc @jonfortescue

[2018-03-03 03:31] ahsonkhan commented on #27677
[code]

@dotnet/dnceng

[2018-03-03 03:46] caozhiyuan commented on #27675
@stephentoub  it's weird,
[code]
i try to write a sample repo, in netcoreapp2.0 can print 22222222  but 2.1 run in cmd TrySetResult blocked sometimes.  [https://github.com/Azure/DotNetty/blob/ec9820d74716c8a6d84954ad1f46a7eec9f20eef/src/DotNetty.Transport/Bootstrapping/AbstractBootstrap.cs#L296](url)

[2018-03-03 03:56] deedubb commented on #25717
Jumping on to say "me too" - this issue prevented me from testing ASP.NET Core 2.1.0-preview1

[2018-03-03 04:12] caozhiyuan commented on #27675
it may be not corefx issue

[2018-03-03 04:14] paulczy commented on #25717
I'm pretty sure it isn't a problem with dotnet but more with Nanoserver 1709. Generally when I fall back to windowsservercore:1709 or nanoserver:sac2016 the problem goes away. I am hoping the next Nanoserver (1803) fixes this problem. I haven't had time to test the insider previews to see if there is hope.

[2018-03-03 04:57] #25718 closed

[2018-03-03 05:07] ahsonkhan opened #27679 "Improve test coverage of DateTime ParseExact with different DateTimeStyles"
See https://github.com/dotnet/corefx/pull/27678 for context.

@joperezr, @AlexGhiondea, @stephentoub, @jkotas

[2018-03-03 06:06] tintoy opened #27680 "Custom validation of server certificate for ClientWebSocket"
Hi.

At present (i.e. 2.1 preview), it seems like the new managed code underneath `ClientWebSocket` supports client certificates but not custom validation of the server certificate. I've been building a [Kubernetes API client](https://github.com/tintoy/dotnet-kube-client), and have gotten stuck connecting to clusters with self-signed certificates (which seems to be fairly common).

Are there plans

[2018-03-03 06:59] caozhiyuan commented on #27675
![qq 20180303145734](https://user-images.githubusercontent.com/3415285/36931561-654c0e1c-1ef3-11e8-922a-c7abcdbfde30.png)
@stephentoub  when it be blocked?

[2018-03-03 07:07] jimcarley commented on #27677
It has been too long since I investigated a test failure in jenkins. It's clear that the System.Transactions.Local.Tests got hung for some reason. But I don't remember where to look to try to find the logging generated by the tests themselves..

Interestingly enough, the two previous builds had no problems in System.Transactions on Linux. Nothing in the pull request jumps out at me that would caus

[2018-03-03 07:32] ahsonkhan commented on #27677
Yep, it was likely an intermittent CI/infra issue rather than a real test failure/bug. Closing. Will re-open against core-eng if it occurs again.

[2018-03-03 07:52] #27179 closed

[2018-03-03 09:16] roji opened #27682 "Add ValueTask overloads to ADO.NET async APIs"
With https://github.com/dotnet/corefx/issues/27445 allowing elimination of allocations in asynchronously-executing async methods, we should look into adding ValueTask-returning counterparts to ADO.NET. This would potentially allow zero-allocation database access.

I'm not sure what naming should be like. Some parts of corefx are lucky in that they're introducing ValueTask overloads along with Span

[2018-03-03 09:31] divega commented on #27682
We should consider this, but since it isn’t for 2.1, moving to future.

[2018-03-03 09:33] davidfowl commented on #27682
Are any of these methods streaming? Would IAsyncEnumerable be interesting here?

[2018-03-03 09:40] divega commented on #27682
@davidfowl ‘DbDataReader.Read’ is streaming. The current API does not resemble ‘IEnumerable’ (possibly because it predates it :smile:), but the new API could use `IAsuncEnumerable` if the timing is good.

See this was mentioned on https://github.com/aspnet/DataAccessPerformance/issues/32.

[2018-03-03 10:00] roji opened #27684 "Consider making DbDataReader implement IAsyncEnumerable"
DbDataReader is used to stream rows from a database. Although it does implement IEnumerable (of DbDataRecord), that API is old and rarely-used (it's non-generic, sync-only and quite inefficient).

Consider making DbDataReader implement IAsyncEnumerable, to provide a modern and efficient API for going throw the rows. This would simply be a layer implemented on top of DbDataReader's existing async o

[2018-03-03 10:00] roji commented on #27682
DbDataReader implement IEnumerable, exposing rows as DbDataRecord. It's an old API (non-generic, sync-only), and the default implementation, which uses DbEnumerator, ]is also pretty inefficient](https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/src/System/Data/Common/DbEnumerator.cs#L53): it calls `DbDataReader.GetValues()`, which copies the row's values into an object[] (which g

[2018-03-03 10:02] davidfowl commented on #27684
/cc @MadsTorgersen @stephentoub

[2018-03-03 10:27] geoffkizer opened #27685 "SocketsHttpHandler: Add response drain timeout"
We have a byte limit for response drain, but not a time limit.  So a poorly behaved server could tie up the connection indefinitely.  We should add a time limit.

EDIT 3/6/2018 by @stephentoub.  Adding API proposal:
[code]

[2018-03-03 10:30] caozhiyuan commented on #27675
@stephentoub  https://github.com/Azure/DotNetty/blob/dev/src/DotNetty.Transport/Bootstrapping/AbstractBootstrap.cs#L232     IChannel channel = await this.InitAndRegisterAsync()  after this method 2.1 thread be loop thread (because loop thread call TaskCompletionSource TrySetResult )  but net coreapp 2.0 is work thread

[2018-03-03 11:23] kasper3 commented on #1086
Original proposal is too specific to `GetActualCasing`, which will only benefit case-insensitive file system.

If we think of what else is missing then combining it with features of UNIX `realpath` will make sense.

#### Proposal:

[code]

On case-sensitive file systems, `GetRealPath` resolves `path` if it is a symlink until the first non-symlink path is found. On case-insensitive file systems, it

[2018-03-03 11:28] autyan opened #27686 "null reference exception while using transactionScope in async method on linux"
I was developing a blog project based on asp.net core mvc and trying to deploy my project on ubuntu 16.04 LTS x86-64.

And I encountered a null reference exception while using transactionScope with dapper on inserting object to sql server.

the sql server version is :12.0.4100.1 running on a windows 2012SP1 system. and the code was running just fine on windows 10 (OS Build 17074.1002). but when i

[2018-03-03 11:32] airbreather commented on #26954
@svick looking through the code, [the rule-of-thumb used by `EnsureSufficientExecutionStack`](https://github.com/dotnet/coreclr/blob/f5a424896f0e81e2459908957742201bf1074f10/src/vm/threads.cpp#L6694-L6712) seems like it's already accounting for methods calling other methods at a "typical" rate (plus the overhead of CLR services), so I'm guessing that the implementation would be more like "return t

[2018-03-03 13:10] ViktorHofer opened #27688 "Productize OwnedArray<T>"
What are the plans for productizing OwnedArray<T>? (https://github.com/dotnet/corefxlab/blob/master/src/System.Buffers.Primitives/System/Buffers/OwnedArray.cs)

Is it expected to be included in System.Buffers in 2.1?

cc @ahsonkhan @KrzysztofCwalina

[2018-03-03 13:10] ViktorHofer commented on #27688
cc @KrzysztofCwalina

[2018-03-03 13:20] caozhiyuan commented on #27675
this is sample @stephentoub
[code]

[2018-03-03 13:21] StingyJack commented on #26222
@zhenlan @karelz - its been more than a month now. If this issue is within your program area, please reopen this. If its not, please continue relocating it to where it needs to be.

[2018-03-03 13:25] AlexRadch opened #27689 "System.Security.Cryptography.Cng.Tests fails 2 tests"
System.Security.Cryptography.Cng.Tests fails 2 tests with next log:
[code]

[2018-03-03 13:52] stephentoub commented on #27680
Thanks. Dup of https://github.com/dotnet/corefx/issues/12038.  Someone just needs to put together a proposal that can be reviewed.  Please feel free.

[2018-03-03 13:52] #27680 closed

[2018-03-03 14:03] stephentoub commented on #27675
There are various oddities in that sample, but it runs fine for me on 2.1.  When you see TrySetResult blocks, have you attached a debugger to see what's on that call stack when that happens?  TrySetResult will invoke any synchronous continuations that have registered with the Task associated with that TaskCompletionSource, so it's possible you've created some kind of deadlock where you're invoking

[2018-03-03 14:11] caozhiyuan commented on #27675
add debug breakpoint after  await ;  view thread stack , 2.1 diff with 2.0 .
.net core 2.0 ![qq 20180303184800](https://user-images.githubusercontent.com/3415285/36935201-acb85968-1f2f-11e8-8da7-a23b9b76255f.png)

.net core 2.1 ![qq 20180303185122](https://user-images.githubusercontent.com/3415285/36935204-b2128712-1f2f-11e8-918b-e572eb360560.png)

[2018-03-03 14:18] stephentoub commented on #27675
Right, so in the 2.1 view, I see on the call stack what looks like the call to TryComplete? And then there's a bunch of stuff that it's calling in other libraries due to the continuations. So something there is causing it to hang. I don't believe this is an issue with TaskCompletionSource.

Does the standalone repro you shared hang for you on 2.1? These images are obviously not from that repro.

T

[2018-03-03 15:32] jnm2 commented on #26996
I ran into this recently too.

[2018-03-03 16:04] Tratcher commented on #27685
5s? Check HttpWebRequest, is has a similar timeout.

[2018-03-03 16:30] Alois-xx commented on #27386
@tarekgh: I just wanted to ensure that the desktop .NET Frameowork contains no binding redirects regardles of the referenced version. I just have looked at .NET 4.7.1 where it brings in a System.Runtime.InteropServices.RuntimeInformation.dll with version 4.0.0.0 which contains a typeforward to mscorlib.

`
[assembly: TypeForwardedTo(typeof(RuntimeInformation))]
`

If I get a fixed version of it in

[2018-03-03 16:57] divega commented on #27684
*System.Data Triage:* Moving to future since we are not doing this in 2.1.

If the timing of the introduction of IAsyncEnumerable is right, this could be the sole way we leverage ValueTask/IValueTaskSource for streaming rows in DbDataReader. Otherwise we may want to still have a `ValueTask<bool>` alternative for ReadAsync.

We should also understand if there are inherent inefficiencies in implemen

[2018-03-03 17:31] davidfowl commented on #27445
@jkotas how do you feel about this to avoid allocations https://github.com/dotnet/corefx/issues/27445#issuecomment-369859083? Will it crash and burn somewhere or is it safe unsafe? 😄

[2018-03-03 17:52] jkotas commented on #27445
- It depends on the runtime implementation details of generics. It happens to work in .NET Core today.
- It assume that you actually want to do this to pass the delegate to some library code. It is very fragile, e.g. the library code can store the delegate as an object and then done `if (d is SendOrPostCallback) { ... }`. The general rule for these hacks is to not ever pass the incorrectly typed o

[2018-03-03 18:19] tarekgh commented on #27386
@AlexGhiondea @joperezr could you please help answering @Alois-xx question?

[2018-03-03 18:27] WinCPP commented on #25344
@clarkis117 Thanks. I am working on #24343 at this time and would like to take this up next.

[2018-03-03 18:52] marksmeltzer commented on #27445
@jkotas, good points. This fails, for instance, if a developer uses the unsafe as to masquerade an Action as a ThreadStart when creating a Thread. It fails because Thread does an `if (method is ThreadStart)` type check.

[2018-03-03 18:55] tintoy commented on #12038
@stephentoub - if I'm reading the [documentation](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/adding-api-guidelines.md) correctly, the way to proceed with a proposal is to fork the corefx repo and actually make the proposed changes so they can be reviewed and discussed? Have I got that right?

If so, I'd be willing to put my hand up to have a go at helping to move

[2018-03-03 19:00] masonwheeler commented on #24026
@AtsushiKan

Here's my use case for being "tied to the runtime's binding policy:"

I've got a compiler that uses `System.Reflection` for its external type system.  I'm trying to make it work as a VS language support plugin, but using it to analyze code under compilation breaks things because it loads the project's referenced assemblies into `devenv.exe`, and some of those references are likely to

[2018-03-03 19:41] ahsonkhan commented on #27688
Maybe in the future, but not for 2.1. OwnedMemory is an abstract class and you can implement a concrete OwnedArray yourself, if needed.

Can you please share the scenario which requires such an implementation, if you have one?

[2018-03-03 20:08] kasper3 commented on #7855
This file has since moved to: https://github.com/dotnet/corefx/blob/71275ae/src/Native/Unix/System.Native/pal_networking.c#L781-L786 (converted form c++ to c).

@Echo-8-ERA, I have used a C version of your solution in https://github.com/dotnet/corefx/pull/27692.

[2018-03-03 20:39] Meai1 commented on #26966
none of the workarounds worked for me, I had to write an extra script with the same name called 'dotnet' and the contents are:

`#!/bin/sh

TERM=xterm
set -m
exec -a mydotnet /home/pc/software/dotnet/dotnet $1 $2 `

Then make sure only this script is on the PATH, *not* the real dotnet executable so that vscode can only call this script. The exec line replaces the process in place so that everythin

[2018-03-03 20:51] kasper3 commented on #26966
Backport pull requests are in progress:

https://github.com/dotnet/corefx/pull/27614 - v2.0.0
https://github.com/dotnet/corefx/pull/27632 - v1.1.0
https://github.com/dotnet/corefx/pull/27634 - v1.0.0

@joperezr, when it will be backported to 2.0, 1.1 and 1.0 branches, how it will be shipped? Would there be a minor/patch version update and we will have to wait for a release that will be announced o

[2018-03-03 21:04] davidfowl commented on #27688
I'm interested in why you need it as well.

[2018-03-03 21:18] karelz commented on #27629
@AlexRadch can you please debug the failures? I expect they are failing only on your system / some sepcial configs, so we will need more information from you to make the issue actionable. Thanks!

[2018-03-03 21:37] karelz commented on #26222
I don't think the issue is actionable at this point. It is not clear what the problem/repro is, therefore we can't route it / help to solve.

I would suggest to post a clear step-by-step **minimal** repro steps that reproduce on any machine (incl. nuget package version number, starting with new simplest project - ideally console app, etc.). Clarify what is the current outcome of the repro vs. expe

[2018-03-03 21:43] stephentoub commented on #26967
@hoffbulldog appears to be correct; the response is using a deprecated HTTP feature for which we do not currently have support in either CurlHandler or SocketsHttpHandler.

[2018-03-03 21:44] stephentoub commented on #12038
That's not necessary; we just need a solid proposal for what the API would look like.

[2018-03-03 21:57] saurabh500 commented on #27686
@autyan This issue is a duplicate of  https://github.com/dotnet/corefx/issues/26965
and is already fixed as part of https://github.com/dotnet/corefx/pull/27523

[2018-03-03 21:57] #27686 closed

[2018-03-03 21:59] ahsonkhan commented on #27664
@AlexRadch, what was your initial comment? I think you were asking something about how to run a single test. Were you able to figure it out?

Regarding the test fails - cc @AtsushiKan

[2018-03-03 22:04] tintoy commented on #12038
Ok I'm still happy to pitch in FWIW (I can look at older proposals for guidance). Just want to check that you're ok with me making the attempt (if someone else is already working on it I wouldn't want to double up on effort is all).

[2018-03-03 22:25] kasper3 commented on #6312
This is still unresolved what it was tracking: https://github.com/dotnet/corefx/blob/57ff88bb75a0/src/Native/Unix/System.Native/pal_networking.c#L811-L829.

[2018-03-03 22:27] kasper3 commented on #6312
And removing this patch still gives error on Alpine Linux v3.6. This should be reopened. cc @janvorli, @stephentoub

[2018-03-04 00:23] ahsonkhan commented on #26768
Also, BuffersExtensions code coverage is at 70% - we need to get that coverage up. See https://github.com/dotnet/corefx/pull/27691#issuecomment-370190023

[2018-03-04 00:28] benaadams commented on #26768
Memory Coverage report https://aoa.blob.core.windows.net/aspnet/memory-coverage.zip

[2018-03-04 00:40] caozhiyuan commented on #27675
@stephentoub  change code like this  it work same as netcoreapp2.0 (
i still  can't get a standalone repro to explain it.)

[code]

[2018-03-04 02:16] AlexRadch commented on #27629
@karelz may be my windows does not support something with audit?

[2018-03-04 02:21] AlexRadch commented on #27664
@ahsonkhan Yes I asked about single test run https://github.com/dotnet/corefx/issues/27649 and I changed https://github.com/dotnet/corefx/wiki/Build-and-run-tests#run-and-debug-single-test-in-visual-studio instruction.

[2018-03-04 02:29] ahsonkhan commented on #27649
Were you able to figure out how to run a single test via the command line?

cc @davidfowl

[2018-03-04 02:33] ahsonkhan commented on #27677
Re-opening. We are seeing intermittent failures here (this one from https://github.com/dotnet/corefx/pull/27691).
https://mc.dot.net/#/user/benaadams/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/3b050cea866449d67de1b42696f19e3054d9dd68/workItem/System.Transactions.Local.Tests/wilogs

OpenSuse.423.Amd64.Open:Release-x64
[code]

@dotnet/dnceng

[2018-03-04 02:45] danmosemsft commented on #27649
Look in tools\tests.targets, it's a property named something like $(XunitMethodName) that you can pass with /p.

[2018-03-04 02:51] ahsonkhan commented on #27649
That is awesome and super useful! What is a good doc that I can add this instruction to? Should I just amend developer-guide to include this?

`msbuild /t:rebuildandtest /p:XunitMethodName=System.MemoryTests.ReadOnlyMemoryTests.ToStringChar_Empty`

[2018-03-04 02:53] danmosemsft commented on #27649
Whichever of the dev docs is most appropriate.

Note that the console now shows the Xunit commands to run to execute tests without wrapping in MSBuild. That can speed up the dev loop a bit.

[2018-03-04 02:57] ahsonkhan commented on #27649
I haven't been able to get xunit.console.netcore.exe to work for me. I will try again later.

Can we use it for running tests targeting netfx tests as well?

[2018-03-04 02:58] danmosemsft commented on #27649
Yes. The commands logged between the = signs, including the  pushd and popd should be exactly what the build runs.

________________________________
From: Ahson Khan <notifications@github.com>
Sent: Saturday, March 3, 2018 6:57:27 PM
To: dotnet/corefx
Cc: Dan Moseley; Mention
Subject: Re: [dotnet/corefx] How to run single test from VS2017 IDE? (#27649)

Note that the console now shows the Xunit co

[2018-03-04 02:59] danmosemsft commented on #27649
Yes. The commands logged between the = signs, including the  pushd and popd should be exactly what the build runs.

[2018-03-04 03:08] ahsonkhan commented on #27649
https://github.com/dotnet/corefx/wiki/Build-and-run-tests#run-and-debug-single-test-in-command-line
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md#running-a-single-test-on-the-command-line

[2018-03-04 03:52] Anipik commented on #27357
Earlier the exception getting thrown occured at this place https://github.com/dotnet/coreclr/commit/1709ce9e53590adb5d649ddf99fcddf652b2fbc4#diff-6836e42e6acde3dd212e4e6e012906ccL203
where it passes as the "path" as argument name whereas now it is returning null so exception is thrown at
https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem.DriveInfo/src/System/IO/DriveInfo.Windows

[2018-03-04 03:58] ZubyH commented on #22781
The binding redirect was the only way I could get around this issue. Really was a headache for days, glad I can get past the roadblock though.

[2018-03-04 04:34] davidfowl commented on #27560
I don't think this API is for that. There are 2 scenarios here:
1. Wait for the reader so that the producer doesn't need to write until there's somebody waiting
2. The last time the writer wrote, there was back pressure and we want to prevent any other write from even starting. This is for multi producer scenarios (we have a few today in ASP.NET) and it comes up when we wrap a Pipe in a Stream.

-

[2018-03-04 04:55] #23843 closed

[2018-03-04 06:49] yyjdelete commented on #27675
Maybe an repro. Run it with `netcoreapp2.0`, `2.1` with `Task.s_asyncDebuggingEnabled=false`(default) and `2.1` with `Task.s_asyncDebuggingEnabled=true`(default in VS);
You can see different StackTrace with 2.0 and 2.1(with false), and in 2.1 `Do something else.` will never show before press Enter.
[code]

[2018-03-04 06:51] rajurh opened #27702 "HTTP client - API error c# (A task was canceled.)"
We are calling multiple API's in foreach loop and all API are of Async call. Now in the foreach loop due to some reason 1 API call has returned internal error and we are skipping that record and progressing with other requests in for loop. When the next loop continues the first API call we are getting error with "System.Threading.Tasks.TaskCanceledException: A task was canceled" and "Aggregation e

[2018-03-04 06:59] yyjdelete commented on #27675
@stephentoub Maybe related to #14178 according the StackTrace?

[2018-03-04 07:11] atiato commented on #27605
Hi saurabh500 , were you able to reproduce the case ?

[2018-03-04 08:22] davidfowl opened #27705 "Rename PipeReader.OnWriterCompleted and PipeWriter.OnReaderCompleted"
In an early API review we agreed that OnWriterCompleted and OnReaderCompleted should be renamed to RegisterWriterCompleted and RegisterReaderCompleted since they were registering callbacks.

/cc @terrajobst @pakrym @KrzysztofCwalina @halter73

[2018-03-04 13:25] MohammadHamdyGhanem commented on #26251
@tannergooding
Is there a plan to use Span<T> with Vectors?
It can be faster then copying array elements to the Vector.
Also, the static Vector calss can use it to do operations on two arrays in slices. Ecah method in the Vector class can have another overload with two T[] params instead of Vector[T] param.
What do you think?

[2018-03-04 13:29] ghost opened #27707 "Span<T> And Vectors"
Is there a plan to use Span< T > with Vectors?
It can be faster than copying array elements to the Vector.
Also, the static Vector calss can use it to do operations on two arrays in slices. Ecah method in the Vector class can have another overload with two T[] params instead of Vector< T > param and returns T[] or Memory< T >. If Vector< T > can make use of Span<T> slices (by adding a new constuct

[2018-03-04 13:57] admin-fsoft commented on #8807
Having come from an Azure IaaS approach over to the full PaaS approach with the main goal of reducing administration overhead, this was quite a kick in the balls.

I also think it is a bit self defeating to not work on this based on up votes as surely the business case there is argument enough without us all having to ask for it (eg, MS pushes integration with Azure AD pretty hard while also telli

[2018-03-04 14:02] svick commented on #26251
Would using SIMD even make sense here? These operations allocate new arrays, and I think that for non-trivial applications, the increased time spent in GC from that will be significantly higher than the improvement from using SIMD.

Though that point would be moot if the API did not allocate arrays, probably by using `Span`s.

[2018-03-04 14:10] MohammadHamdyGhanem commented on #26251
If your code already requires doing some operations on two large arrays and get the result in a third one, the cost of creating arrays is fixed with or without SIMD, but using SIMD can save some time.
Also, There is no built in array functions in framework, it is nice to have some.

[2018-03-04 14:17] MohammadHamdyGhanem commented on #26251
W about the return value be a Memory< T > ?

[2018-03-04 15:06] stephentoub commented on #27685
It looks like HttpWebRequest defaults to 500ms.  That seems too short.

[2018-03-04 15:37] MarcoRossignoli commented on #27707
WIP https://github.com/dotnet/corefx/pull/26499

[2018-03-04 15:55] davidsh commented on #27702
You should try to reuse a single HttpClient as much as possible for multiple requests.  Without seeing the rest of your code, my guess is that your tasks are being canceled because they are timing out.  It's possible that you have a deadlock situation etc. in your code.

cc: @stephentoub

[2018-03-04 15:56] Korporal commented on #23686
@myloveCc @bartonjs @danmosemsft @Petermarcu

Actually given that these keys are often represented as PEM files, why not (in .Net Core) add a new method that accepts that format and eliminate the need to even bother with other formats?

[2018-03-04 16:18] MohammadHamdyGhanem commented on #27707
https://github.com/dotnet/corefx/issues/26251

[2018-03-04 16:59] ViktorHofer commented on #27688
I'm not dependent on this at the moment, but here's the use case. Input ReadOnlySpan<char> needs to be converted to a ReadOnlyMemory<char>. Pooling should be used to minimize allocation:

[code]

[2018-03-04 17:01] stephentoub commented on #27677
This is happening in a lot of runs.  But I've only seen it on OpenSuse.

[2018-03-04 17:06] jkotas commented on #27688
You can just directly create `Memory<T>` from array. You do not need OwnedArray intermediate in your example.

[2018-03-04 17:09] jkotas commented on #27688
And if you are looking for something that creates memory blocks with automatic pooling, we have a public `MemoryPool<T>.Shared` for that.

[2018-03-04 17:16] jkotas commented on #25344
The implementation of `[Intrinsics]` methods is duplicated in the JIT. The code in .cs files is just a fallback for cases where the JIT intrinsic expansion does not kick in (e.g. when the method is called via reflection, or on platforms where the SIMD intrinsics are not implemented yet). It means that the change of exception message has to be done in the JIT to make it actually kick in.

[2018-03-04 17:19] ViktorHofer commented on #27688
I believe I'm already using that in my example in the if clause. This only allows inputs with a max size of 1024*1024*1024 items.

Right, because I wasn't using any of the APIs of OwnedMemory<T> in my example as e.g. Retain, Pin, etc.

[2018-03-04 17:24] jkotas commented on #27688
I see.

Where is this limit hardcoded?

[2018-03-04 17:25] WinCPP commented on #25344
Is this something that I can do or is it offlimits for me...? I am be interested...

[2018-03-04 17:29] ViktorHofer commented on #27688
Gosh, I was looking at an outdated version in corefxlab: https://source.dot.net/#System.Buffers.Primitives/System/Buffers/Pooling/ArrayMemoryPool.cs,18

Since then the maxsize doubled (int.MaxSize): https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/Buffers/ArrayMemoryPool.cs#L15

[2018-03-04 17:33] AlexRadch commented on #27629
The issues are with localization of `IdentityReference`. For example on Russian Windows to get `WellKnownSidType.LocalSystemSid` you can use english string @"NT AUTHORITY\SYSTEM" or localized string @"NT AUTHORITY\СИСТЕМА".

I think `class IdentityReference` use string comparison for `operator ==` but in localized Windows the same IdentityReference can have two names. English name and localized Na

[2018-03-04 17:37] jkotas commented on #25344
It is not one liner change, but I am sure that you would be able to do it if you dive into it. There is pretty active community around the JIT intrinsics ( @4creators @CarolEidt @eerhardt @fiigii @sdmaclea @tannergooding ) that I am sure will be happy to give you guidance as necessary.

[2018-03-04 18:09] StingyJack commented on #26222
The problem is in the title. And then described a few times, in addition to it's fallout and "descendant" bugs.

Nuget PM UI can't download a package from nuget.org. This started breaking builds one day, across several codebases that hadn't been changed. I saved a copy of the package and tried to push it to our private nuget repo, and got an error (the stack trace).

Since it's WCF related I opene

[2018-03-04 18:11] StingyJack commented on #26222
*Nuget PM UI and the CLI tool that TFS build tasks use both failed to download this (and only this) package.

[2018-03-04 18:29] 4creators commented on #25344
Another piece of code to dig in is here:

https://github.com/dotnet/coreclr/blob/aaafa705f6aa930343061a0753928839b1e75bf2/src/jit/simd.cpp#L2647-L2664

What is interesting this are types of checks as above `SCK_RNGCHK_FAIL` and `SCK_ARG_EXCPN`

[2018-03-04 18:30] karelz commented on #26222
@StingyJack I can't make heads and details from your description and following comments - there is mix of several problems, incl. attempts for workaround (uploading to private nuget server), which muddy the description. It is not clear what is the primary problem and how to reproduce it (does it reproduce on new project, with which version, etc.).
As I said, in current state the issue is not actio

[2018-03-04 20:08] nockawa commented on #18481
Out of curiosity, someone knows what fixed the issue?

[2018-03-04 21:00] rajurh commented on #27702
Below is the sample code for the above issue. Where you can see I am using single httpclient and in the foreach loop if the API call is not success i.e. when error is returned I am continuing with for loop.

In the scenario where the status code is returned Internal error for one of the API and if I continue with forloop then I facing the issue "Task canceled".

Hope this helps and have sufficient

[2018-03-04 21:09] StingyJack commented on #26222
Nuget PM UI and CLI could not download a package from nuget.org. This started breaking builds on the day it was reported, across multiple codebases that hadn't been changed.

Adding attempted workarounds saves you from having to ask me to repeat something I may have already done.

Adding additional experiences with the same package that may help you to troubleshoot what the actual problem with the

[2018-03-04 21:35] bartonjs commented on #23686
PKCS1/PKCS8/EncryptedPKCS8 in DER and PEM are covered by https://github.com/dotnet/corefx/issues/20414

[2018-03-04 21:45] fuglede commented on #25779
A mathematician's nitpick on naming: A [tensor](https://en.wikipedia.org/wiki/Tensor) is only [represented by a multi-dimensional array](https://en.wikipedia.org/wiki/Tensor#As_multidimensional_arrays) (which is what this data structure represents) after a choice of basis, and its representation will depend on that choice. You wouldn't have named `System.Numerics.Matrix` `System.Numerics.LinearTra

[2018-03-05 00:35] Phidler opened #27712 "Cross Platform GUI for desktop applications?"
As one of the co-founders of a local startup, my partners and I were looking for a framework that could do it all and do it well. .NET Core very closely hit the mark but fell short in just one specific area: a cross-platform library for a Graphical User Interface.

I wasn't sure where to post this but I thought it was worth mentioning as an important feedback, my partners and I are big fans of wha

[2018-03-05 01:03] ahoefling commented on #27712
Technically you can use Xamarin.Forms and build out an app that works on Mobile, Windows Desktop, Ubuntu Desktop, MacOS and more.

Last time I checked it supports the following popular platforms:
* iOS
* Android
* UWP
* WPF
* MacOS
* GTK (ubuntu)
* Ooui.Forms (asp.net core, but it is still very experimental)
* I know there is more but these are the popular

[2018-03-05 01:45] #27416 closed

[2018-03-05 03:02] #27357 closed

[2018-03-05 03:20] davidfowl opened #27714 "IValueTaskSource doesn't work on netcoreapp2.0"
Strangely, if you reference System.Threading.Tasks.Extensions on a .NET Core 2.0 project IValueTaskSource doesn't exist. The netcoreapp2.0 folder in the nuget package has a `_._` and ValueTask gets resolved from the shared framework instead of the package (System.Threading.Tasks.Extensions is in Microsoft.NETCore.App 2.0 but an older version)

This leads to the following error when trying to use V

[2018-03-05 03:23] yyjdelete commented on #27675
Update the test code to see the StackTrace like the original case.
<details>
<summary>Test code</summary>

[code]

</details>

---

`dotnet run -f netcoreapp2.0`
<details>

[code]
</details>

---

`dotnet run -f netcoreapp2.1`(with `Task.s_asyncDebuggingEnabled=false`)
See `Loop is still alive` is blocked by `ReadLine`
<details>

[code]
</details>

---

`dotnet run -f netcoreapp2.1 arg0`(with `Tas

[2018-03-05 03:52] stephentoub commented on #27714
Wes, Eric, how do I fix this?

[2018-03-05 04:21] ahsonkhan commented on #26603
Copying conversation over from https://github.com/dotnet/coreclr/issues/5851#issuecomment-370276484
---

**From @kstewart83:**

[code]

[code]

---
**From @kstewart83:**

---
**From @davidfowl:**

[2018-03-05 04:57] AlexRadch opened #27716 "System.Security.Cryptography.Algorithms.Tests fails 2 tests locally"
System.Security.Cryptography.Algorithms.Tests fails 2 tests locally with next log:
[code]

Issue is looks like https://github.com/dotnet/corefx/issues/27590

[2018-03-05 05:05] dbrownxc commented on #27672
I am developing on Win7 using Visual Studio.  My ultimate target is a ASP.NET Core application running in Docker hosted on CentOS.  I am using .NET Core 2.0.

I am reproducing the issue with a unit test running as  .NET Core 2.0 application.  Here is my csproj

[code]

I'm running with Resharper in Visual Studio and can consistently get the issue when using NTLM as the type.

On the same machine,

[2018-03-05 05:17] dbrownxc commented on #27672
I am working on getting cleared to send the stack trace, but I do notice a difference in the failures.

When Windows fails, the test sends an ACK and receives a RST, ACK almost immediately and closes.
When Linux fails, the test sends an ACK and then sends a FIN, ACK and receives a FIN,ACK, then ACKs to close.

These results are consistently reproduceable.

[2018-03-05 05:26] danmosemsft commented on #27653
Kicked the leg in https://github.com/dotnet/corefx/pull/27645 to see.

[2018-03-05 05:41] jkotas commented on #27714
Related #25932

[2018-03-05 05:58] ericstj commented on #27714
When you made this change https://github.com/dotnet/corefx/commit/6d1671b2cfcf130b7bc6c059bb0508073426532a#diff-ef60abd9cf887b950d31edcb03b6f485 you changed the netstandard2.0 ref.  If that was your intention you need to implement that surface area on all netstandard2.0 frameworks.  Right now you're not including an implementation for NCA2.0 nor UAP, which you'll need to add if you want to ref the

[2018-03-05 06:37] Clockwork-Muse commented on #27712
Also [Avalonia](https://github.com/AvaloniaUI/Avalonia) (still in beta)

[2018-03-05 07:02] ahsonkhan commented on #27374
Failed again - https://github.com/dotnet/corefx/pull/27713#issuecomment-370291433

[2018-03-05 07:03] bartonjs commented on #27716
@AlexRadch I agree.  This looks just like a dupe.  Closing this one.

[2018-03-05 07:03] #27716 closed

[2018-03-05 07:04] ahsonkhan commented on #21037
Failed again on Fedora: Fedora.26.Amd64.Open-Release-x64 in https://github.com/dotnet/corefx/pull/27713
 System.Net.Tests.InvalidClientRequestTests/GetContext_InvalidRequest_DoesNotGetContext
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/79e54627d75ab93d5654d9803b57c9ea305cfb9f/workItem/System.Net.HttpListener.Tests/analysis/xuni

[2018-03-05 07:05] ahsonkhan opened #27717 "System.Net.Sockets.Tests - IOControl_SIOCATMARK_Windows_Success failing on Windows.7.Amd64.Open-Release-x86"
From https://github.com/dotnet/corefx/pull/27713
Windows.7.Amd64.Open-Release-x86
System.Net.Sockets.Tests.OSSupportTest/IOControl_SIOCATMARK_Windows_Success
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/79e54627d75ab93d5654d9803b57c9ea305cfb9f/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.OSSupportTes

[2018-03-05 07:09] kirsty14141 commented on #21037
Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ahson Khan <notifications@github.com>
Sent: Monday, March 5, 2018 7:04:44 AM
To: dotnet/corefx
Cc: Subscribed
Subject: Re: [dotnet/corefx] [Mac] Tests failed: System.Net.Internals.SocketExceptionFactory+ExtendedSocketException (#21037)

Failed again on Fedora: Fedora.26.Amd64.Open-Release-x64 in #27713<https://nam03.

[2018-03-05 07:58] Sunny-pu opened #27718 "Test: System.Threading.Channels.Tests.SpscUnboundedChannelPerfTests.PingPong failed with "System.OperationCanceledException""
The test: System.Threading.Channels.Tests.SpscUnboundedChannelPerfTests.PingPong (from (empty))  failed.
MESSAGE:
System.OperationCanceledException : The operation was canceled.
[code]

Details:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu16.04_debug/329/testReport/System.Threading.Channels.Tests/SpscUnboundedChannelPerfTests/PingPong/

[2018-03-05 08:11] gfoidl commented on #27712
Also see https://github.com/dotnet/designs/issues/12

[2018-03-05 08:29] Martin-Stein commented on #26847
Hi Josh,

updating to version 6.0.7. of Microsoft.NETCore.UniversalWindowsPlatform did not solve the problem.

A view minutes ago I have update the nuGet package of System.Data.SQClient to the preview version 4.5.0-preview1-26216-02.

This ends in following compiler errors:

1>C:\Users\marti\.nuget\packages\microsoft.net.native.compiler\2.0.3\tools\Microsoft.NetNative.targets(731,5): warning :

[2018-03-05 09:57] PRIMETSS commented on #13329
I assumed this was possible, and after several weeks of work, came to demo CLI console tool to client, and wanted to publish it as single .exe ... ummm seems at the moment I cant just get a single *.exe
I thought that was the point of self contined core apps?

[2018-03-05 10:24] ezra2310 opened #27719 "Table Alias name not able to get from GetSchemaTable()"
Hi All,
I have one task to get the table alias name from the sql Query. Im tried with GetSchemaTable().
  string query = "select A.id as ParentId,B.id as ChildId from Parent A,ChildB";
  sqlCnn.Open();
  sqlCmd = new SqlCommand(query, sqlCnn);
  sqlReader = sqlCmd.ExecuteReader(CommandBehavior.KeyInfo);
  DataTable schemaTable = sqlReader.GetSchemaTable();

It's not returning the table alias but i

[2018-03-05 11:40] caozhiyuan commented on #27675
@stephentoub  take a look above

[2018-03-05 12:07] svick commented on #13329
@PRIMETSS

The point of self-contained apps is that they are self-contained, that is, they don't require .Net Core to be installed on the target machine, because the app itself contains everything it needs to run.

To deploy such an app, you have to copy an entire directory of files. Having just a single file would make the deployment easier, but that's it, it's still a self-contained app even wit

[2018-03-05 12:18] stephentoub commented on #27714
My intention is that:
- the System.Threading.Tasks.Extensions.dll assembly that's a partial facade works with .NET Core 2.1.
- the System.Threading.Tasks.Extensions.dll assembly that's not a partial facade is used everywhere else.

I didn't rev any versions, didn't know I needed to.  In general in this release we haven't been changing any version numbers when we've added APIs, but maybe that's bec

[2018-03-05 12:19] stephentoub commented on #27717
cc: @rmkerr

[2018-03-05 12:40] GSPP commented on #26603
It is not generally possible to slice large files into 1GB span segments. For example, a file could contain a large stream of small serialized items. Then, it's not possible to know where to cut the file. Slicing it could lead to torn items.

So it's no longer possible to create a span and pass it to some API of the form `IEnumerable<MyItem> DeserializeStream(Span<byte> span)` because the caller c

[2018-03-05 12:53] stephentoub commented on #27675
I do not see any meaningful differences here between 2.0 and 2.1.  What is it you believe this code shows?  There are race conditions in the sample code, so different runs will produce different stack traces, regardless of whether 2.0 or 2.1 is being used, and regardless of whether that s_asyncDebuggingEnabled flag is set.

As far as I see, this has nothing to do with 2.0 vs 2.1, but rather it has

[2018-03-05 13:02] janvorli commented on #6312
@kasper3 I've looked into it today. The reason why the compiler gives the warning is not due to the compiler not knowing that the /usr/include/sys/socket.h. The problem is that the incorrect code that it warns about comes from a macro expansion. So any warnings in the header itself would be suppressed, but not warnings from expanded macros. There are various notes about this on the internet.
glibc

[2018-03-05 13:09] jnm2 commented on #26603
Wouldn't it be better for the API to be built to handle chunks and therefore work with streaming scenarios as well?

[2018-03-05 13:23] yyjdelete commented on #27675
@stephentoub Already add an `Thread.Sleep(100)` before `TrySetResult` in local code, and directly call `MainAsync` instead of `MainAsync2` for simple debug.

The call of await in netcoreapp2.1 with false(in Thread 1, no scheduler)
![await](https://user-images.githubusercontent.com/1819074/36976852-fa974ab4-20b9-11e8-840f-ecb89c0b4553.png)
The call of continue in netcoreapp2.1 with false(in Thread

[2018-03-05 13:31] GoldenCrystal commented on #26603
If I understand correctly, the problem here would be more with ````Memory<T>```` than with ````Span<T>````:

The current version of ````Memory<T>```` packs nicely into 16 bytes on x64, while ````Span<T>```` seems to have room for replacing the ````int _length```` by ````IntPtr _length```` and still fitting into 8/16 bytes.
However, increasing the ````Lenght```` property of ````Span<T>```` requires

[2018-03-05 13:36] rmsutton commented on #15640
Agreed. This is definitely an issue. The call succeeds on Windows but fails in a Linux environment. Is there a workaround for this?

[2018-03-05 13:40] stephentoub commented on #27675
I'm sorry, but I don't understand what it is you're trying to do show me. What is the exact issue you're highlighting? What do you believe is a bug here?

[2018-03-05 13:48] stephentoub opened #27721 "_preAllocatedOverlapped is null assert in Http tests"
This has been failing sporadically since my ValueTask changes. The issue is that we end up disposing a SocketAsyncEventArgs while it's in use and then hit this assert in cleanup code.
[code]

[2018-03-05 14:30] yyjdelete commented on #27675
I'm not sure whether it's an bug or expected behavior, but the behavior does changes in 2.1preview. And according the doc of `IsValidLocationForInlining` continuations shouldn't be inline if the current thread has a non-null SynchronizationContext or a non-default scheduler. (but maybe an internal behavior since no public docment for it?)

This will makes some slow usercode leak to loopThread(2.1)

[2018-03-05 14:47] caozhiyuan commented on #27675
Task.s_asyncDebuggingEnabled true go task.SetContinuationForAwait otherwise task.UnsafeSetContinuationForAwait
this 2 methods have diff logic
[code]

[2018-03-05 15:02] AntonioDrusin commented on #8807
We connect to SQL Server (not Azure) from a kubernetes cluster and would love to be able to use AD username and password instead of using SQL authentication. Manageability is key for us.

[2018-03-05 15:08] caozhiyuan commented on #27675
this commit add it
SHA-1: 9a0630152c4339324ba9ac0fa886f9fb4916e759 Avoid async method delegate allocation.
@stephentoub  should this 2 method behavior same ?

[2018-03-05 15:18] Toxantron opened #27723 "Move, Reverse, etc. on LinkedList"
Similar to #14338 we need the ability to manipulate a `LinkedList<T>`, most notably moving nodes within the collection. Another use case is to `Merge` one `LinkedList` into another one at a certain position (before / after a node). Technically the architecture of a double linked list and its nodes makes those feature quite easy to implement while offering good performance independent from list siz

[2018-03-05 15:29] jogleasonjr commented on #26966
@Meai1 have you tried this in your `tasks.json`:

    "tasks": [
     {
        "label": "build",
        "command": "dotnet build",
        "linux": {
            "command": "env TERM=rxvt-unicode-256color dotnet build"
        },
       ...
      }
    ]

Of course substitute your term of choice. If that doesn't work, you could try putting in a bogus command such as `"command": "fo0bar720"` to m

[2018-03-05 15:29] cjwainwright opened #27724 "File.ReadAllTextAsync not behaving asynchronously when called on inaccessible network files"
When accessing a file on a network share that for some reason cannot be accessed (maybe not existent), `File.ReadAllTextAsync` appears to block, rather than running asynchronously, until the file request fails. This can be reproduced with the following console app:

[code]
The result of running the above code is a regular stream of (the expected) "Error reading file" messages but they come in slow

[2018-03-05 15:41] games commented on #13309
I had same issue on my Mac, just fixed like what @CleverCoder said above, `adding the machine name to the /etc/hosts file (at least on MacOS), with 127.0.0.1 as the address.`

MacOS:
sierra
10.12.6

[2018-03-05 15:45] eerhardt commented on #27707
@MohammadHamdyGhanem - can you provide a proposal for what you are thinking by following the [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)?  I think listing usage scenarios would help this proposal.

[2018-03-05 15:50] #27571 closed

[2018-03-05 16:00] tannergooding commented on #26251
@MohammadHamdyGhanem, how would that help?

The benefit of using `Vector<T>` is that it uses SIMD (Single Instruction, Multiple Data) instructions (on supported hardware).

For loading/storing operations, having things like `Span<T>` is beneficial because it lets you read/write part way into a large array (without having to pass around the array plus the start index as separate arguments).

Howeve

[2018-03-05 16:44] luvhsail commented on #9234
Hi @rmkerr ,
Although it shows a 500 on the client, it is not reaching the API code at all. It has something to do with what the UWP framework is sending to the server. The same API is working fine when I call it from .Net Framework or Core. I will create a small solution with all three projects in it and help you reproduce it.

[2018-03-05 16:52] JustArchi opened #27730 "libcurl HttpClient incompatibility with HTTP2 protocol"
Recently I started running into issues like this one:

[code]

I'm almost 100% sure that this issue is the result of some incompatibility with recent libcurl version. I reproduced it with libcurl3 in version 7.58.0 available in Debian testing repo. Temporarily I downgraded myself back to 7.52.1 available in Debian stable and I can't reproduce the issue anymore, at least for now.

The exception its

[2018-03-05 17:04] pakrym commented on #27560
If there was backpressure writer should be awaiting `FlushAsync`. `WaitToWriteAsync` would still not support multiple awaiter so how does it have multiproducer?

Except we already have `OnReaderCompleted`

[2018-03-05 17:06] marek-safar opened #27731 "System.Memory package needs Xamarin support"
Dev 15-7 is shipping with inbox Memory/Span support on Xamarin. We need System.Memory package update to behave as inbox on all Xamarin profiles

[2018-03-05 17:07] karelz commented on #27702
Which internal error do you get?
Can you provide a full (minimal) repro? Something you can reproduce on another machine and we will be able to reproduce inhouse for further investigation?

[2018-03-05 17:10] karelz commented on #27712
Duplicate of https://github.com/dotnet/designs/issues/12

[2018-03-05 17:11] #27712 closed

[2018-03-05 17:12] buvinghausen commented on #9608
@karelz I can officially confirm we moved to .NET Core 2.1 on Sunday and today we're able to connect to the free Mongo clusters from our Linux containers.  Thank you for the clarification and anyone who lands on this page because of the Mongo documentation just know you need to run .NET Core 2.1

[2018-03-05 17:15] weshaggard commented on #27714
That isn't going to work for .NET Core 2.0 given these were moved inbox and type-forwarded into CoreLib. We cannot use an OOB for this library on .NET Core 2.0 because ValueTask is an exchange type and things will not unify correctly.

We are going to need to decide how far we want to support these APIs. Our general rule going forward is to only support them on the new platforms which for these ne

[2018-03-05 17:17] PavelStefanov commented on #27199
@karelz I don't understand. Will this be fixed in 2.1?

[2018-03-05 17:18] davidfowl commented on #27560
Think about what we do today with our streams that need to handle this. We need to await the last flush (if it happened to be asynchronous). That’s what WaitToWriteAsync should mean.

I don’t agree. Those are still resonable to implement even when there’s 1/2 of the other side. The callback fires after the IsCompleted flag is set.

[2018-03-05 17:19] ericstj commented on #27714
@weshaggard I think that happened in 2.1, not 2.0.  In 2.0 I still see this is a simple assembly with no type forwards.

Note that because you are pushing these types down into System.Runtime on NETCoreApp 2.1 this is your last chance for adding API to the netstandard2 ref for this assembly.  After 2.1 ships you won't be able to deliver new API out of band easily since all the types have been push

[2018-03-05 17:24] rmkerr commented on #9234
That would be great, thanks! When you have a repro together, you should create a new issue to track the failure you're seeing. That kind of thing does a lot to help keep things clear.

[2018-03-05 17:24] pakrym opened #27732 "Consider removing support for 0-byte flushes from pipelines"
Currently, we allow 0-byte flushes to wake up the reader.
There is not a lot of functional use for it except to try and build a side channel and different action based on empty flushes.

/cc @davidfowl @KrzysztofCwalina @Tratcher

[2018-03-05 17:28] davidfowl commented on #27732
I don’t think we should remove this until we figure out the side channel. Today we use this to implement flushes for buffered steams (connection adapter scenarios). We should just validate it before removing it

[2018-03-05 17:29] Tratcher commented on #27732
The result is that every read needs to be written in an infinate loop to grantee it gets any data.
[code]

[2018-03-05 17:29] weshaggard commented on #27714
Your correct. I was going based on my incorrect comments in https://github.com/dotnet/corefx/pull/25932. The library was inbox on .NET Core 2.0 but the types were not forwarded down yet so there is the opportunity to override the library OOB on .NET Core 2.0. After 2.1 ships though as @ericstj states you will no longer be able to change the netstandard ref.

[2018-03-05 17:32] stephentoub commented on #27714
Libraries that target netstandard20, like pipelines, channels, and ASP.NET, need this.  If we can't make these changes, then we're going to need to scrap the changes to ValueTask, effectively obsolete it, and create new types in its stead that we then use everywhere we're now using ValueTask.

The type forwards / partial facade-ness was added in 2.1 in support of being able to use ValueTask in pub

[2018-03-05 17:33] ianhays commented on #27317
Closing this as it is likely unrelated to .net core brotli compression and there hasn't been an update by the OP.

[2018-03-05 17:33] #27317 closed

[2018-03-05 17:35] weshaggard commented on #27714
Correct.

Correct.

It basically means what you stated that you will not be able to add new APIs (at least members) that can be consumed by a netstandard2.0 library.

[2018-03-05 17:38] stephentoub commented on #27714
Ok, thanks.  I'll give this a go:

Also, do we have the ability in corefx to update Configuration.props for a test library to have it run on netcoreapp2.0, not just targeting that API surface area, but actually running on that shared framework such that it would have caught this?

[2018-03-05 17:39] weshaggard commented on #27714
No we don't have this ability. We have chosen to only allow running tests on the latest versions of each of the platforms to avoid even more complexity.

[2018-03-05 17:41] pakrym commented on #27732
@davidfowl it's unreliable as side channel, depending on the timing/scheduler you might never get 0-byte read result

[2018-03-05 17:42] CyrusNajmabadi commented on #27618
I would take all the tests, and then update the call to "Test" to no longer take the "expected tree" parameter.  I would then keep the core 'Test' method that does all the input manipulation to build up all the potential strings to test.  The test would then say if it thought parsing should pass/fail.  And it would verify that if it was expected to fail, it only failed with an ArgumentException of

[2018-03-05 17:46] tarekgh commented on #27564
The fix should be in next 2.1 preview release (i.e. in preview 2). Also, can try the fix on the master branch from now.

[2018-03-05 17:46] #27564 closed

[2018-03-05 17:53] jonfortescue commented on #27677
oops. This is my fault -- left a machine up from a test run. Fixing now.

[2018-03-05 17:56] jonfortescue commented on #27677
Sorry about that! This won't be an issue anymore.

[2018-03-05 17:58] Tratcher commented on #27732
And I still need to call `_pipe.Reader.AdvanceTo(readableBuffer.End, readableBuffer.End);` when ReadAsync didn't return any data or else I get `System.InvalidOperationException : Reading is already in progress.`. There's no reason I should need to do that for an empty read.

[2018-03-05 18:03] stephentoub commented on #27677
Thanks, @jonfortescue.  Why did this only affect System.Transactions.Local.Tests?

[2018-03-05 18:04] stephentoub commented on #27677
(I will close this assuming the issue has been fixed; we can reopen if we continue to see it.)

[2018-03-05 18:04] #27677 closed

[2018-03-05 18:07] jonfortescue commented on #27677
@stephentoub I'm not totally sure, and frankly this shouldn't have affected anything at all. I was testing new setup scripts that allowed for java installation, but that shouldn't have broken anything. It looks like the initial error was actually due to an attempt to install dumpling... I'll definitely be investigating this further today.

[2018-03-05 18:08] karelz commented on #27199
@PavelStefanov what kind of fix would you expect in 2.1 beside "_In .NET Core 2.1, we suppress Expect: 100-continue unless the developer explicitly opts in to it._"?

[2018-03-05 18:09] danmosemsft commented on #27721
AGain https://mc.dot.net/#/user/jkotas/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/a5c6501fefa2926933ca78a48acc4f5c863dfa5e/workItem/System.Net.Http.Functional.Tests/wilogs

[2018-03-05 18:10] davidsh commented on #27730
cc: @stephentoub

[2018-03-05 18:16] joperezr commented on #27592
Hey @camp-007, I'm trying with the same VS you pointed out and can't seem to get a repro. Can you please provide more details on what warnings you are seeing? Also, does this repro for you when you use `<PackageReference ...` instead of packages.config?

[2018-03-05 18:16] stephentoub commented on #27730
Thanks for the report.

If it has to do with libcurl version, I think it's unlikely that it's a bug in corefx.  corefx doesn't do anything special for HTTP/2; it just asks libcurl to make the request.  What kind of fix are you suggesting corefx employ?

[2018-03-05 18:18] pakrym commented on #27560
`WaitForReaderAsync` is just as easy, in case where there is no Reader just return `Task.FromCompleted`.

[2018-03-05 18:19] pakrym commented on #27560
How is it all going to work with WaitForWrite? Are we going to allow multiple awaits? What are you going to do when it returns and you have multiple methods awaiting?

[2018-03-05 18:20] rmkerr commented on #27717
Looking into this now. The failure occurs here, right after the data has been sent to the client:
https://github.com/dotnet/corefx/blob/ae595754d5977df993c7a9e96e26af9532a3977f/src/System.Net.Sockets/tests/FunctionalTests/OSSupport.cs#L165-L167
My best guess is that it's just a timing issue, since the test assumes that the data is received instantaneously after being sent. That isn't the case in r

[2018-03-05 18:32] maksimkim commented on #27445
@stephentoub, will this work be backported to .netstandard20 (and below) and included into System.Threading.Tasks.Extensions package that contains ValueTask at the moment?

[2018-03-05 18:35] roji commented on #27445
@maksimkim see the answer in https://github.com/dotnet/corefx/issues/27445#issuecomment-368308590.

[2018-03-05 18:36] JustArchi commented on #27730
Well, that depends where the issue exactly is - I didn't do full analysis yet, neither I know corefx internals and how it makes use of libcurl as a backend. If it's purely libcurl issue and corefx code has nothing to do with it then I'd expect that you forwarded the issue where appropriate, just like how I forward it to corefx, you're the boss here 👍

I have one idea which could be beneficial for

[2018-03-05 18:57] wfurt commented on #15640
I tried simple program like this:

[code]
and it also fails on Windows 10. When I  use "127.0.0.1" it works on Linux & Windows.
Also note that gethostbyname("11.10.10.10") succeeds on my Linux system.

so the behavior seems consistent and observed differences can be in network configuration.

However many applications (at least on Linux) would take host or IP and they would function function witho

[2018-03-05 19:00] karelz commented on #27730
@JustArchi I think that we would need a repro, ideally directly against libcurl, or at least reasonable network traces, to be able to route it further to libcurl. Currently there's not much else to say beside "sometimes it fails with this error".
Also, I wonder if it may be a sign of not well-behaving HTTP/2 server (depends on when libcurl uses the error) - do you have any signs that it happens on

[2018-03-05 19:02] Anipik commented on #27646
![languageselected](https://user-images.githubusercontent.com/10516582/36993724-97541280-2063-11e8-98ed-1437fabba07e.PNG)
I changed the interface language but i am still not able to repro the bug. is there anything i am missing her ?

[2018-03-05 19:08] JustArchi commented on #27730
It's definitely possible that it could be a server-related issue, I can't deny it because the only trace I have right now is from Discord server. On the other hand it's very likely that I have only that one simply because many servers do not support HTTP/2 as of today and it might be the only one I actually establish HTTP/2 connection with.

In any case, I'll try to make some repro, although I'm a

[2018-03-05 19:09] davidfowl commented on #27560
WaitForWriteAsync would return a task.

[2018-03-05 19:23] pakrym commented on #27560
Okay, it's possible, but strange considering noting else in pipe does it.

So what would Stream.WriteAsync method look like?

[code]

[2018-03-05 19:23] ahsonkhan commented on #26452
Failed again in https://github.com/dotnet/corefx/pull/27729
Ubuntu.1604.Amd64.Open:Release-x64
https://mc.dot.net/#/user/AtsushiKan/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/42084fc0094813730ca5ab2a43d3297e508d0177/workItem/System.Net.Sockets.Tests/wilogs

[2018-03-05 19:23] ericstj commented on #27642
I found the reason.  This API Compat pass is actually doing a diff between `netstandard` references and `netcoreapp` references (note the project and line number: `shims\ApiCompat.proj(76,5)`).  Here `netstandard` is treated as the contract and `netcoreapp` is implementation.

As such the error is indeed correct.  You had readonly on the System.Threading.Tasks.Extensions netstandard ref https://gi

[2018-03-05 19:25] AtsushiKan commented on #27101
Past the cut off for api changes (especially ones that haven't even been concretely proposed yet.)

[2018-03-05 19:26] #27664 closed

[2018-03-05 19:39] wfurt commented on #9728
Did you get that working @evertmulder? (just curious)

[2018-03-05 19:48] AlexRadch commented on #27590
System.Security.Cryptography.Algorithms.Tests fails 2 tests locally also. With next log:
[code]

[2018-03-05 19:53] GrabYourPitchforks commented on #27526
Looked through the code a bit more. The current API is `Contains(this ReadOnlySpan<char> span, ReadOnlySpan<char> value, StringComparison comparison)`, i.e., substring searching. The API under proposal here is for locating individual matching elements, not substrings.

[2018-03-05 20:16] AlexRadch commented on #27646
@Anipik does you restart windows ? I do not see that Windows interface changed from English. Use language that you can read!

[2018-03-05 20:24] davidfowl commented on #27560
Yes, that doesn't change.

[2018-03-05 20:28] #27721 closed

[2018-03-05 20:31] stephentoub opened #27740 "System.Xml.XmlSchemaSet.Tests crashed on Linux in CI"
Ubuntu.1804.Amd64.Open:Release-x64
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/1d125d16b24421e74b724ab374a6083462b90fe6/workItem/System.Xml.XmlSchemaSet.Tests/wilogs
[code]

[2018-03-05 20:34] stephentoub opened #27741 "Should HttpHeaders remove newlines from values when they're parsed?"
See discussion at https://github.com/dotnet/corefx/pull/27727#discussion_r172263740.  HttpHeaders isn't removing newlines adding in header values with TryAddWithoutValidation when that value is parsed.

[2018-03-05 20:35] stephentoub commented on #27361
Failed again here:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/9306/consoleText
[code]

[2018-03-05 20:38] MohammadHamdyGhanem commented on #26251
@tannergooding
I speak about array operations sliced internally to be done by vectors. The return value is an array,  a span< T > or a memory < T >. This will shorten the code when doing operation on arrays.

[2018-03-05 20:53] mconnew commented on #27566
@wfurt, you can use the test case mentioned by @stephentoub [here](https://github.com/dotnet/corefx/issues/27566#issuecomment-369356740) as a repro. Alternatively, it's simply this code:
[code]
This presumes the issue isn't timing related. but I doubt it is as this is reproducible every time in our nightly tests.

@stephentoub, I wouldn't want to submit a PR as this looks like it affects all reque

[2018-03-05 20:56] stephentoub commented on #27566
CURLOPT_FORBID_REUSE applies to an "easy" handle, which maps 1:1 with a request.  As far as I can tell from the docs, it doesn't apply to a "multi" handle, which is 1:1 with CurlHandler and would impact all requests.

[2018-03-05 21:02] divega commented on #19771
@danmosemsft actually this issue doesn't appear to be closed. Was the intention to close it?

[2018-03-05 21:03] jonfortescue commented on #27677
@stephentoub I'm not totally sure, and frankly this shouldn't have affected anything at all. I was testing new setup scripts that allowed for java installation, but that shouldn't have broken anything. It looks like the initial error was actually due to an attempt to install dumpling... I'll definitely be investigating this further today.

[2018-03-05 21:08] KrzysztofCwalina commented on #23863
See https://github.com/dotnet/corefxlab/blob/master/docs/specs/span.md
and
https://github.com/dotnet/corefxlab/blob/master/docs/specs/memory.md

Are these missing anything in particular that you need?

[2018-03-05 21:15] MohammadHamdyGhanem commented on #26251
@tannergooding
I have a question about performance:
Suppose we have  an array with 100 integer elements, and we need to compute their average. what is the fastest way of these:
-	A traditional summation loop
-	LinQ aggregation
-	putting the array elements in 25 Vector< int >, and write a recursive loop to sum them in pairs until we end up with one vector that we use to calculate the final summatio

[2018-03-05 21:21] dbrownxc commented on #27672
Is it ok to send trace traces directly to you?

[2018-03-05 21:31] mconnew opened #27745 "Add support for SocketsHttpHandler to use provided SPN"
WCF has the requirement to use non-default SPN's when using Kerberos authentication over HTTP. The `AuthenticationHandler` class specifies the SPN in [this line of code](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs#L52). WCF needs a way to optionally specify which value is used on this line.
Ideally this woul

[2018-03-05 21:32] geoffkizer opened #27746 "Test failure: Proxy_UseSecureProxyTunnel_Success test hangs on WinHttpHandler/NetFxHandler/CurlHandler"
It was already disabled but the ActiveIssue was wrong, so I'm filing this to track.

[2018-03-05 21:34] davidsh commented on #27745
cc: @geoffkizer @karelz @stephentoub

[2018-03-05 21:35] evertmulder commented on #9728
@wfurt No, I will try again when the SocketsHttpHandler is available in a preview release.

[2018-03-05 21:38] rmkerr commented on #27672
I'll have to check if that's okay and get back to you. In the mean time though, I have some questions you might be able to answer more easily. The key question for me is about the client response to the 401.

1. Does the client make any attempt to authenticate? If so, which auth protocol is it using?
2. Is the behavior the same when you disable either NTLM or Negotiate on the server side?
3. When

[2018-03-05 21:38] Eilon opened #27747 "HTTP client - API error c# (A task was canceled.)"
_From @rajurh on March 4, 2018 6:53_

We are calling multiple API's in foreach loop and all API are of Async call. Now in the foreach loop due to some reason 1 API call has returned internal error and we are skipping that record and progressing with other requests in for loop. When the next loop continues the first API call we are getting error with "System.Threading.Tasks.TaskCanceledException: A

[2018-03-05 21:38] Eilon commented on #27747
_From @Tratcher on March 4, 2018 16:17_

I think this belongs in https://github.com/dotnet/corefx

[2018-03-05 21:40] Anipik commented on #27646
I have restarted it. some of the things are still in English like file names and stuff.
![capture9](https://user-images.githubusercontent.com/10516582/37001221-a1f59b8e-207a-11e8-9b5b-fca47bde80a2.PNG)
Yeah. This is the only other language that i can read :)

[2018-03-05 21:42] mconnew commented on #27566
I just did a quick search of recent commits and issues in the curl repo and I'm not seeing anything related to the connection close header. So this doesn't look like a simple issue.

[2018-03-05 21:42] davidsh commented on #27747
Duplicate of https://github.com/dotnet/corefx/issues/27702

[2018-03-05 21:42] #27747 closed

[2018-03-05 21:47] dbrownxc commented on #27672
1. No.  After the 401, I see an ACK, and then the server sends a RST, ACK.
2. I'll try that.
3.  I see Negotiate, but it says NTLMSSP
Server > 401 Unauthorized
Client > NTLMSSP_NEGOTIATE.
Server > NTLMSSP_CHALLENGE
Client > NTLMSSP_AUTH

[2018-03-05 21:52] AlexGhiondea commented on #27386
@Alois-xx, in 4.7.1 we have added the `System.Runtime.InteropServices.RuntimeInformation.dll` assembly in-box. This means that going forward, when running on Desktop you will use that assembly to run.

Can you try the 4.7.2 Early Access Preview and see if on that version you get the expected behavior?

[2018-03-05 22:06] geoffkizer commented on #27745
I think you are asking for the equivalent of AuthenticationManager.CustomTargetNameDictionary on SocketsHttpHandler.  Is that right?

This doesn't seem that hard to do.

[2018-03-05 22:12] geoffkizer commented on #27745
Does WCF allow arbitrary SPNs to be configured?  Or is there some limited set of things it does?

[2018-03-05 23:01] keeratsingh commented on #27605
Hi @atiato,
I have been trying to repro the issue and I am able to hit the MSDTC issue with **4.5.0-preview1-26216-02**.
As expected MSDTC issue is not seen with **4.5.0-preview2-26228-08** as mentioned above.

However, I am not able to recreate the Connection Pooling issue. Could you kindly provide a github repo with the steps to repro the issue ?
Given below is the link to the adhoc application

[2018-03-05 23:05] karelz commented on #27672
@dbrownxc is it possible to create a smaller repro on your side from which you can publish the traces (and source)?

[2018-03-05 23:09] sdmaclea opened #27750 "[Arm64] Revise Crypto HW Intrinsic argument names"
Per https://github.com/dotnet/corefx/pull/27616#discussion_r172359746 we need to revise the argument names for the Crypto HW intrinsics

Please assign to @debayang
@eerhardt FYI

[2018-03-05 23:43] stephentoub opened #27754 "Assertion in channels using pooled object"
[code]

[2018-03-05 23:43] danmosemsft commented on #19717
Past API complete for this one. It is worth pursuing I think. @JeremyKuhne would drive it along.

[2018-03-05 23:43] unsafePtr commented on #27445
I am quite confused what should be used as the default return type. So, until now, default return type was the Task. Only when the operation completes synchronously we benefited from the `ValueTask`/`ValueTask<T>`. Now this types can represents asynchronously completed operations too. Since the feature is widely provided by core API, I am assuming that the default return type for the method should

[2018-03-05 23:44] danmosemsft commented on #23874
API complete for 2.1

[2018-03-05 23:45] pjanotti commented on #25427
This is done via https://github.com/dotnet/corefx/pull/26395 and 2 other smaller complementary PRs: https://github.com/dotnet/corefx/pull/27463 and https://github.com/dotnet/corefx/pull/27573.

@rynowak this is ready to be used in 2.1

[2018-03-05 23:45] #25427 closed

[2018-03-05 23:50] stephentoub commented on #27445
We still need to formalize guidance, but I expect it'll be something like this for public API surface area:
- Task provides the most usability.
- ValueTask provides the most options for performance optimization.
- If you're writing an interface / virtual method that others will override, ValueTask is the right default choice.
- If you expect the API to be used on hit paths where allocations will m

[2018-03-05 23:50] #26396 closed

[2018-03-05 23:51] danmosemsft commented on #27504
@Anipik can you grab a Debian or Ubuntu box and loop this test to try to repro?

[2018-03-05 23:51] danmosemsft commented on #25387
Complete

[2018-03-05 23:51] #25387 closed

[2018-03-05 23:53] danmosemsft commented on #26221
Complete, excepting MEF issue tracked elsewhere

[2018-03-05 23:53] #26221 closed

[2018-03-05 23:57] danmosemsft commented on #21857
https://github.com/dotnet/corefx/issues/21920

[2018-03-05 23:58] danmosemsft commented on #21920
https://github.com/dotnet/corefx/issues/21857

[2018-03-06 00:00] rynowak commented on #25427
Cool beans! Thanks 👍

[2018-03-06 00:05] stephentoub commented on #27754
I have a fix. Just need to test it and put up a PR.

[2018-03-06 00:29] weshaggard commented on #27277
This has been disabled in master branches.

[2018-03-06 00:29] #27277 closed

[2018-03-06 00:31] weshaggard commented on #25773
@joperezr could you please take a look and see if your tooling changes will help with these issues?

[2018-03-06 00:35] weshaggard commented on #19781
I've updated to title to reflect the work then which is to keep the symbol packages for transportation and indexing of the symbols but remove the source code from them as SourceLink will be the way to get the source code.

[2018-03-06 00:38] weshaggard commented on #26305
@joperezr were you able to finish the standard and wcf repo's?

[2018-03-06 00:40] natemcmaster commented on #26796
Just for comparison...with aspnet dataprotection on Win 10 x64 with .NET Core 2.1.0-preview2-26225-03, we still get ~20% better perf calling into bcrypt.

Method                       | Iterations |         Mean |       Error |      StdDev |       Median |      Op/s |   Gen 0 |  Allocated |
---------------------------- |----------- |-------------:|------------:|------------:|-------------:|-------

[2018-03-06 00:48] kstewart83 commented on #26603
I suspect though that since `Memory<T>` is allocated on the heap, the performance impacts would be different than for say for `Span<T>`. Passing a `Memory<T>` object around shouldn't be any different, so I think the only performance impact would be in creating `Span<T>`s or maybe the fill routines?

A compelling use case I see with combining memory mapped files with `Memory<T>`/`Span<T>` is specif

[2018-03-06 00:51] weshaggard commented on #27510
@joperezr I still think the overall slow-down of the build is caused by the msbuild/toolset change you made so I'm assigning this to you to track that investigation.

[2018-03-06 01:05] JeremyKuhne commented on #19717
Yes, we should add an API for this. It isn't too difficult, hopefully we can get it in the next release.

[2018-03-06 01:13] joperezr commented on #25773
I don't think that my tooling changes will help here since the ones we have been working on will only affect when you target 4.7.1 which doesn't seem to be the case. @chester89 can I get a bit more info on your specific issue? What errors are you getting at runtime? Which binding redirect did you add? I suppose you mean System.Net.Http instead of System.Web.Http?

[2018-03-06 01:13] steveharter commented on #27571
Final update: the issue has been fixed and I verified on my mac that the latest core-setup build 2.1.0-preview2-26305-07 doesn't have this issue (i.e. I can run SDK commands without a crash\malloc error).

This issue has always existed AFAIK, but didn't trigger until non-trivial changes were made to types shared between hostfxr and hostpolicy and an attempt was made to use a hostpolicy that had th

[2018-03-06 01:14] joperezr commented on #27510
I agree, this must be related to my changes. I'm taking a look at this next.

[2018-03-06 01:20] joperezr commented on #26305
standard actually didn't really need a change, and I'm taking care of wcf now.

[2018-03-06 01:21] Anipik commented on #21111
I verified this using this
[code]
The ouput  for 'C:\demo\'  was  'C:\demo\' (5C)
and for  'C:\demo was  'C:\demo' (6F)

So closing this issue

[2018-03-06 01:23] kellypleahy commented on #19717
This was my work in progress, in case it is of use to someone:

https://github.com/kellypleahy/corefx/tree/feature/19717-path-exists

[2018-03-06 01:32] erick-thompson commented on #8807
I have a bunch of hocky scripts that I have to use to create users/logins and rotate passwords. It's a lot of fragile code that would go away with integrated security.

[2018-03-06 01:34] Anipik commented on #21111
i tested this code and it is fixed.
[code]

[2018-03-06 01:34] #21111 closed

[2018-03-06 01:35] yyjdelete commented on #27675
@stephentoub At least this is a breaking change that with different behavior compare to netfx/netcoreapp2.0, and can't be debuged in VS. And should be included in the changelog, and update the document of `IsValidLocationForInlining` to match the new behavior.

[2018-03-06 01:40] danmosemsft commented on #27740
This happened in official build also IIRC.

[2018-03-06 01:41] danmosemsft commented on #27723
Hi @Toxantron thanks for the suggestion. Can you please format your top post in the API review standard format, as described here?
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

Then an owner of this area can review your proposal.

[2018-03-06 01:43] ajcvickers commented on #22855
Discussed with @divega and decided to punt to future because:
* Doesn't look like a regression--issues exists in .NET Framework
* We should investigate to confirm that null is allowed here as opposed to only DBNull
  * If DBNull is expected, then we could still throw a better exception, but that's low-priority and a potential breaking change.

[2018-03-06 01:48] Jlalond commented on #15554
Hey Guys, I'm going to work on improving some of the unit test coverage left over after the previous improvements

[2018-03-06 01:50] joperezr commented on #26305
PR for WCF is https://github.com/dotnet/wcf/pull/2649

[2018-03-06 01:51] stephentoub commented on #27675
How?  What is the behavioral change?  Can you please be very specific and point to what is the difference?  I've yet to see a repro that I can run that highlights the difference; all of the samples that have been provided thus far exhibit the same behavior for me between 2.0 and 2.1, the only difference being race conditions that manifest on both and yield multiple behaviors but with multiple beha

[2018-03-06 02:13] caozhiyuan commented on #27675
@stephentoub
2.1 s_asyncDebuggingEnabled true or 2.0 , go https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/Tasks/Task.cs#L3272

2.1 s_asyncDebuggingEnabled  false , go
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/Tasks/Task.cs#L3283

diff is use ThreadPool or not , it looks driect invoke will cause dotnetty deadlock.
and if we add R

[2018-03-06 02:16] KrzysztofCwalina commented on #26603
Memory<T> is not allocated on the heap (necessarily). It's a struct.

[2018-03-06 02:36] stephentoub commented on #27675
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/Tasks/Task.cs#L3283

Ok, thank you, I now understand what you're getting at and why you were mentioning IsValidLocationForInlining.  It's not that IsValidLocationForInlining has changed; it hasn't.  What's changed is that we're now bypassing the IsValidLocationForInlining check, and that check is important for the scen

[2018-03-06 03:08] stephentoub commented on #27445
The feature has been merged.

[2018-03-06 03:08] #27445 closed

[2018-03-06 03:09] ViktorHofer commented on #15773
Is this still planned? It would be great if we could fine tune the shared ArrayPool via an environment variable, especially the max array size which is currently limited to 2MB.

[2018-03-06 04:24] davidfowl commented on #27714
@stephentoub are you looking at this?

[2018-03-06 04:25] stephentoub commented on #27714
https://github.com/dotnet/corefx/pull/27760/

[2018-03-06 04:45] camp-007 commented on #27592
Hi @joperezr,

The build warnings I get are:

![image](https://user-images.githubusercontent.com/19536126/37013770-7b783498-20c1-11e8-9dd4-977b37e0cf0e.png)

![image](https://user-images.githubusercontent.com/19536126/37014025-639a9f8a-20c3-11e8-8e9e-94051a28014a.png)

I just tried again on a different machine running VS 15.5.7 and got the same results using the repro steps from my original post.

[2018-03-06 05:05] mconnew commented on #27745
We allow any valid SPN or UPN to be used so we need the ability to specify a freeform value.

[2018-03-06 05:07] luvhsail opened #27761 "[UWP] Windows Auth Issue from UWP Applications"
Hi @rmkerr
As discussed I have created a sample project, you may download it from the repository path below.
The code as three projects, a WebAPI with windows Authentication and two consumers that have more or less the same code. The console application is able to make the call while the UWP gets a 500 error.

Another thing that I noted is if I remove the Authorize attribute from the API it works

[2018-03-06 05:50] geoffkizer commented on #27745
Ok, thanks.

First step here would be an API proposal.

[2018-03-06 06:36] atiato commented on #27605
Hi keeratsingh ,

use the following github to reproduce .

https://github.com/atiato/ola/tree/master/LinuxPerfomanceTest

make sure you use the correct SQL Client 4.5.0-preview2-26228-08 that causes the pooling issue  :

![image](https://user-images.githubusercontent.com/652472/37017273-b49091f6-2118-11e8-978e-de206ab6ff43.png)

Try to hit the Web API (LinuxPerformaceTest from github) with more th

[2018-03-06 07:15] PavelStefanov commented on #27199
@karelz ok, this is what I expect, thanks!

[2018-03-06 07:21] Toxantron commented on #27723
Hi @danmosemsft I was not aware of the process. Maybe it wasn't around the last time I opened an issue. Is it better now?

[2018-03-06 07:42] benaadams commented on #24093
[
![image](https://user-images.githubusercontent.com/1142958/37019662-ff95390e-20cd-11e8-8dc4-cf4b9248edd9.png)](http://www.thesaurus.com/browse/character)

If not `rune`, only other synonym of `character` that could work is perhaps `letter`?

[2018-03-06 07:44] AlexRadch commented on #27526
I do not understand the advantages of Contains over IndexOf? I do not think that Contains will be significant faster then IndexOf.

[2018-03-06 07:56] GrabYourPitchforks commented on #27526
@AlexRadch In vectorized code paths, `IndexOf` needs to back up once it has found a match so that it can figure out _where_ the match occurred. If the caller cares only that a match was found but not where the match occurred then the `Contains` method can skip this extra step. We'll confirm before we commit, but in other similar APIs this has offered measurable savings.

[2018-03-06 08:01] Sunny-pu commented on #20223
failed again in Master branch:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180306.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DnsEndPointTest~2FSocket_StaticConnectAsync_Success(type:%20Async)

[2018-03-06 08:28] chester89 commented on #25773
@joperezr System.Net.Http, yes. I'll give you detailed description in a bit

[2018-03-06 10:19] shaulbehr opened #27764 "Where is System.Web.Http?"
Hi,
I'm trying to convert an ASP.NET project from .NET Framework 4.7.1 to .NET Core 2.1 (preview).
My methodology was to rename the folder from `MyAspProj` to `MyAspProj.Old`, then in the solution I created a new .NET Core ASP.NET project called `MyAspProj`, then copied over all the files from `MyAspProj.Old`. I added a reference to `Microsoft.AspNetCore.All`, which I hoped would bring through all

[2018-03-06 10:21] 304NotModified commented on #25519
@rmkerr do you mean this will be fixed in .NET core 2.1, or earlier?

[2018-03-06 10:30] sherlock1982 opened #27765 "WebSocket file descriptor leak when server returns error"
**Description:**
WebSocket file descriptor leak when server returns error

**Environment:**
NETCore 2.0.5,
Linux x64

**How to reproduce:**
Connect to a server which constantly returns errors with Websocket.
You will see that on Linux amount of file descriptors will drastically grow with each connection attempt.

The reason is that [here](https://github.com/dotnet/corefx/blob/release/2.0.0/src/Sys

[2018-03-06 10:44] MohammadHamdyGhanem commented on #26251
I used Vectors like this (without recursion)
[code]
And did some testing.. These are the results:
Traditional For Loop: 4.5 ms
Vectors with no hardware acceleration: 33ms
Vectors with hardware acceleration: 2.5 ms
LinQ: 10ms
LinQ (AsParallel): The first call gives very bad results, but next calls takes 3.5ms in average.

Notes:
1. By default the project is configured to run on "Any CPU". Vectors a

[2018-03-06 10:49] davidfowl commented on #27764
There's a doc that describes how to convert from WebAPI to ASP.NET Core https://docs.microsoft.com/en-us/aspnet/core/migration/webapi.

[2018-03-06 10:58] arekpalinski opened #27768 "NRE from ClientWebSocket.ConnectAsync when using ClientCertificates option"
Version: 2.1.300-preview2-008302 (also checked using latest master branch)

Sample code:
[code]

throws:
[code]

According to my investigation NRE is thrown in the following line:
https://github.com/dotnet/corefx/blob/9ce903333efeb3eb5fef069f9caf868cb2309170/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs#L97

`handler.SslOptions.ClientCertificates` is `null`

[2018-03-06 11:00] AlexRadch commented on #27526
We have start offset and current offset how simple subtraction can draw back performance?

[2018-03-06 11:25] albigi commented on #22781
@karelz we are seeing a similar issue when from an empty ASP.NET WebAPI project we add the System.Composition.Runtime NuGet and implement a dummy ActionFilterAttribute from System.Web.Http.
In some way we end up referencing 2 distinct System.Net.Http (I believe one is from System.Web.Http, the other from .NETStd2 referenced in turn by System.Composition.Runtime).

The conflict appears to only get

[2018-03-06 11:45] nils2612 opened #27769 "SQL Reader Async 10 times slower than sync"
Hi,

we got a problem with the async sql reader. We can reproduce that in ef core and with the sql data reader. Its so slow, that it's not usable. I also tried 4.5.0-preview2-26225-02, but the speed tests give the same result.
Example:
**Async Sql Client**
[code]
**Result: 218ms**

**Sync Sql Client**
[code]
**Result: 28 ms**

I always tried 10 or more times to exclude warmup.

The same happens us

[2018-03-06 11:47] adamsitnik opened #27770 "BinaryFormatter has no benchmarks defined"
During my recent serializers comparison, I have discovered huge perf boost for BinaryFormatter.Serialize.

The problem is that BinaryFormatter has no benchmarks defined in CoreFX so any perf change is not tracked by `BenchView`. Our other serializers have some benchmarks [link](https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=RunSerializationPerformanceTest&type=) I think that `BinaryForma

[2018-03-06 12:16] shaulbehr commented on #27764
@davidfowl Thanks for the link, that had quite a few useful tips.
Maybe you can point me further in the right direction. We are a company with a very successful product and a user base in the hundreds of thousands We're strongly considering migrating our whole codebase to .NET Core, mostly because we're really frustrated with SignalR not working as expected, and we hear that .NET Core has finally

[2018-03-06 12:24] stephentoub opened #27771 "SystemEventsTests.CreateTimerTests.TimerElapsedSignaled test failing in CI"
This has now happened a few times...

https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/cf51308927f648c6f751dd4451c4a984744cb7b2/workItem/Microsoft.Win32.SystemEvents.Tests/analysis/xunit/Microsoft.Win32.SystemEventsTests.CreateTimerTests~2FTimerElapsedSignaled
[code]
cc: @ericstj

[2018-03-06 12:28] stephentoub commented on #26452
Failed again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/cf51308927f648c6f751dd4451c4a984744cb7b2/workItem/System.Net.Sockets.Tests/wilogs
[code]

[2018-03-06 12:45] stephentoub commented on #26452
Failed again here:
https://mc.dot.net/#/user/maryamariyan/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/49f3e892a9ae4135542902f7099da4debe6069f1/workItem/System.Net.Sockets.Tests/wilogs
[code]

[2018-03-06 12:45] #27459 closed

[2018-03-06 13:12] mlacouture opened #27773 "Type 'System.TimeZoneInfo' cannot be serialized by DCS"
Originally reported as a [VS Feedback issue](https://developercommunity.visualstudio.com/content/problem/200357/unable-to-create-web-service-reference-on-net-core.html).
Try the following code:
[code]

The following exception is thrown:

[2018-03-06 13:39] jkotas opened #27774 "Cleanup use of nuint in portable System.Memory implementation"
From https://github.com/dotnet/corefx/pull/27757#discussion_r172514619

SpanHelpers.cs is included in portable System.Memory. It does not work - files that use nuint can be used for fast Span only. They cannot be used for portable System.Memory. Portable System.Memory is not compiled bitness specific.

[2018-03-06 13:43] jkotas commented on #27774
False alarm - portable SpanHelpers.cs has its own copy.

[2018-03-06 13:43] #27774 closed

[2018-03-06 13:48] stephentoub commented on #27771
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/9353/consoleText

[2018-03-06 14:00] tannergooding commented on #24093
Letter has an even more precise meaning in unicode (and Net in general) than rune.

[2018-03-06 14:03] stephentoub commented on #27768
Thank you for the issue. Your assessment is correct.  I'll fix it now.

[2018-03-06 14:07] gingters opened #27776 "RSA incompatibility between full framework and .net core?"
I have a problem when working with RSA in .NET Full framework (4.6.2) and .net core 2. There is an existing full framework application that encrypts and decrypts files using certificates. The goal is to create a compatible .net core application that can exchange encrypted files with the existing application.

In short, an symmetrical AES key is used to encrypt the actual file data. The AES key is

[2018-03-06 14:10] JustArchi commented on #27730
Good news - I managed to write reproducible case. Bad news - I managed to reproduce it only with one specific server, but reliably.

And with that reproducible case I confirmed all my initial thoughts:
- I used standard .NET Core `HttpClient` for reproduction, without any third-party tools or libraries.
- Exception reliably pops up when sending exactly 1000th request (no clue why, but it's always

[2018-03-06 14:21] stephentoub commented on #12038
Actually, I take back what I said about using SslClientAuthenticationOptions:
1. The ClientWebSocketOptions already exposes ClientCertificates, and it'd be a bit strange to have both that and an SslOptions that also had ClientCertificates (though we could smooth over that a bit by just having the former delegate to the latter).
2. ClientWebSocket isn't necessarily tied in implementation to System.

[2018-03-06 15:04] jnm2 commented on #16010
@karelz Why has this stalled? Looks like we're waiting for [step 2](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md#steps).

[2018-03-06 15:48] Reelix opened #27778 "Proposal: Implement useful properties in WebClient"
The following proposal is intended to make WebClient easier to use.

[code]

[2018-03-06 15:52] davidsh commented on #27778
Thank you for the suggestions.  However, the `WebClient` class is considered one a legacy class for HTTP operations and we don't plan to make enhancements to it.  It is available in CoreFx for app-compat reasons for existing code.

We recommend you consider using System.Net.Http.HttpClient which is a more modern and comprehensive set of APIs .

cc: @karelz