[2018-03-28 14:38] digitalnoiz commented on #28219
I have since confirmed this is by design and is documented at [docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/data-member-order](https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/data-member-order). I had been attempting to use the DataContractSerializer for simple xml serialization and hadn't taken into account the specifications of the data members of the under

[2018-03-28 14:38] #28219 closed

[2018-03-28 14:45] oneilj commented on #28271
Yeah, that's what i ended up doing

[2018-03-28 14:54] jkotas commented on #28539
Keep open until the test is re-enabled

[2018-03-28 15:05] ericstj commented on #28333
The reports are emitted when we build packages.  We evaluate the package *as-if* it were installed in all types of frameworks and emit what would be resolved if the package were directly installed there.  These act as a debugging tool to get comprehensive view of a package's behavior across many framework/RID combinations.  For these runtime packages it's less useful since we don't design them to

[2018-03-28 15:12] tarekgh commented on #28542
Issue moved to [dotnet/cli #8920](https://github.com/dotnet/cli/issues/8920) via [**ZenHub**](https://www.zenhub.com/)

[2018-03-28 15:12] #28542 closed

[2018-03-28 15:16] #28271 closed

[2018-03-28 15:20] sdmaclea commented on #28333
Closing this because it appears to be functioning as intended

[2018-03-28 15:20] #28333 closed

[2018-03-28 15:22] #27792 closed

[2018-03-28 15:24] tdinucci commented on #4497
It seems support for varargs is currently patchy (to non-existent).  C# vararg methods are compiled however it looks like there's no way to call them.  IL which calls such a method will result in:

`
InvalidProgramException: Vararg calling convention not supported.
`

Also, see https://github.com/dotnet/standard/commit/52651e78ac329c56fb59cebf5b24174f25acb070

I take it this issue is no longer val

[2018-03-28 15:42] karelz commented on #28548
Duplicate of #22405
See https://github.com/dotnet/corefx/issues/22405#issuecomment-334282741 - it was superseded by #22355.

[2018-03-28 15:42] #28548 closed

[2018-03-28 15:46] karelz commented on #28549
I am not sure what you're suggesting. Can you please be more specific?
Are we violating the JSon RFC? https://datatracker.ietf.org/doc/rfc8259/?include_text=1

[2018-03-28 15:52] karelz commented on #25040
@luigiberrettini while it would be useful to have it, it is not the end of the day to land it in the next release. The priority of this API was not very high. When it came to our attention over last few weeks, it was already fairly late for 2.1 anyway.

[2018-03-28 15:54] cyberphone commented on #28549
No, you are not violating anything but the escaping does not match that of the current ECMAScript standard or its implementations in Browsers and Node.js

[2018-03-28 15:54] karelz commented on #28543
That sounds reasonable. @stephentoub @geoffkizer is it something you can help with? @wfurt's plate is rather full for the rest of the week :(

[2018-03-28 15:57] smasherprog commented on #28488
To repro this just set up two websites on the SAME iis instance. Do not add seperate IP addresses *This is Key* as the problem arises when accessing a FQDN that resolves to itself.
Add DNS entries for each website.
disable all authentication except windows inside IIS for each website.
Set up each app pool under a windows domain account.
In one website use httpclient to try and access any url on th

[2018-03-28 16:06] lajones commented on #28501
@ajcvickers @divega Agreed. Nothing more to add.

[2018-03-28 16:12] olmobrutall commented on #17126
I’m not able to use SqlHierarchyId because IBinarySerialize is missing.

Anybody has a solution? or it just doesn’t work yet?

[2018-03-28 16:17] kumpera commented on #27417
A bit of feedback on the WebAssembly front.

Mono will be adopting, for now, the proposed OSPlatform name -  "WEBASSEMBLY".

WebAssembly has an additional quirk that maybe makes using `OSPlaform ("WEBASSEMBLY")` not ideal. There are multiple deployment targets and those are interesting enough to be feature detectable. This includes browsers, node, electron/code and other non-web embeddings.

[2018-03-28 16:17] MisinformedDNA commented on #17905
Where are we with this? Is the OP being kept up to date with done classes or should we be going off [this comment](https://github.com/dotnet/corefx/issues/17905#issuecomment-365349091) now?

[2018-03-28 16:18] tarekgh commented on #28549
According to https://datatracker.ietf.org/doc/rfc8259/?include_text=1

[code]

So we are conforming to JSON specs.

[2018-03-28 16:24] tarekgh commented on #28546
CC @stephentoub

[2018-03-28 16:24] wfurt commented on #28501
note that I tried Outlook and unix "mail" client and both takes address with trailing '.'

[2018-03-28 16:26] karelz commented on #28549
Sounds like JSon != ECMAScript and the difference is by design ...

[2018-03-28 16:26] tarekgh commented on #28549
@cyberphone I closing this issue as we need to continue to conform to JSON spec. Let me know if you have any more questions. Thanks for reporting the issue.

[2018-03-28 16:26] #28549 closed

[2018-03-28 16:27] AtsushiKan commented on #26637
Reproability depends on configured default printer and whether the device supports requesting multiple copies.

e.g. test passes if "Microsoft Print to PDF" is the default printer but fails if "Fax" is the default printer.

Delving deeper to understand the intent of the api - whether this is something that needs testing and if so, how to make the test more adaptive.

[2018-03-28 16:27] stephentoub commented on #28546
I don't think such an interface is desirable.  If you want a heap-based representation, just use AsTask.  That's not going to allocate anything if the ValueTask actually wraps a Task under the covers, and if it doesn't, boxing it would allocate anyway.

[2018-03-28 16:31] cyberphone commented on #28549
Being incompatible with JSON.stringify() is a bit of a problem for those who want to build signature solutions using JSON.

This is how ECMAScript interprets the JSON spec with respect to "String":
https://cyberphone.github.io/doc/security/draft-rundgren-json-canonicalization-scheme.html#json.ser.string

Microsoft follows that..

[2018-03-28 16:33] AtsushiKan commented on #28100
Reassigning as right now, the investigation actionability is in ASP.NET, not CoreFx.

[2018-03-28 16:34] Tornhoof commented on #28501
K9-Mail on Android accepts it but strips the dot before sending.
Alpine accepts "test@test.local." and rewrites it to "test@test.local..test.local" and apparently postfix can handle that.

[2018-03-28 16:34] liserdarts commented on #28448
Sorry for the delay. Had a family pet emergency with a sad ending.

Anyway I created [NamedPipeServerStreamTest](https://github.com/liserdarts/NamedPipeServerStreamTest). Check out [Output.md](https://github.com/liserdarts/NamedPipeServerStreamTest/blob/master/Output.md) for the output I get on different versions.

It turns out I was wrong again about the exceptions. I wasn't actually getting an O

[2018-03-28 16:35] nockawa commented on #28546
@stephentoub makes sense, thank you. I'll take a closer look at's ValueTask's implementation.

[2018-03-28 16:35] #28546 closed

[2018-03-28 16:38] danmosemsft commented on #17905
@MisinformedDNA -- use https://github.com/dotnet/corefx/issues/17905#issuecomment-365349091 please

[2018-03-28 16:38] joperezr commented on #25916
I think that just running `dotnet exec bin\Release\yourApp.dll` is already doing the exact same thing you want so I doubt they will add an option for no-build to `dotnet run`. It is true that it is harder to repro this when calling `exec` instead of `run` but in the end, there will still be a race where if the echoing is not turned off yet while the user is typing, then echoing will still continue

[2018-03-28 16:42] tarekgh commented on #28549
From the specs you have pointed at,

[code]

It sounds to me the issue need to be avoided from the layer above the JSON parsers and not inside JSON parsers. right?

[2018-03-28 16:48] cyberphone commented on #28549
Invalid UTF is a generic JSON interoperability issue.  It is currently not solved at all.

[2018-03-28 16:54] #28326 closed

[2018-03-28 17:00] ViktorHofer commented on #24445
What was the reason that we never exposed the Capacity { get; } property here?

[2018-03-28 17:06] maryamariyan commented on #24445
@ViktorHofer I think the title here is confusing. Capacity { get; } existed. Here we wanted to be able to set the Capacity, which resulted in adding API EnsureCapacity(int capacity).

[2018-03-28 17:06] ericstj opened #28551 "Packages which suppress NETStandard.Library reference cause downgrades when installed in `netcoreapp1.0`"
This is true for both the 2.1 packages we're building now as well as the 2.0 packages we shipped prior.

This manifests as `NU1605` errors.

As an example, install System.Buffers 4.4.0 in a `netcoreapp1.0` project.

For example:
[code]

The downgrade isn't caused by the common ancestor (`NETStandard.Library`) as the warning might lead you to believe.  Instead it's occurring because of the followin

[2018-03-28 17:08] ViktorHofer commented on #24445
I don't see it exposed in the ref?

[2018-03-28 17:14] karelz commented on #24445
I think that `Capacity` getter is internal implementation detail. What value would it give to the user if it was exposed? Users can use `Count` and compute predicted capacity needed, then pass it to `EnsureCapacity` or `TrimExcess`.
If we had `Capacity` we would have to decide if it should return either the internal capacity (which can be different from last call to `EnsureCapacity`/`TrimExcess`),

[2018-03-28 17:17] tmat commented on #26621
Fixed by  #28493

[2018-03-28 17:17] #26621 closed

[2018-03-28 17:17] ViktorHofer commented on #24445
Thanks Karel, I will browse through the video later. If the argument really was that we are exposing an implementation detail than I'm fine with it. I just had a case (ok it's a test - but still) where I needed the real capacity without any modification.

[2018-03-28 17:17] maryamariyan commented on #24445
Also, EnsureCapacity doesn't guarantee to set to the argument value. What is returned is the actual Capacity value.
You can use dictionary.EnsureCapacity(0) to get the actual capacity

[2018-03-28 17:18] joperezr commented on #28539
Are you going to put up a PR enabling the test? If not I can do that for you.

[2018-03-28 17:20] ViktorHofer commented on #24445
Oh I didn't know that. Thanks! But if we already implemented it this way that means we are exposing internals. So back to my question, why not just exposing the prop?

[2018-03-28 17:20] karelz commented on #24445
Turn the question around - why to expose the prop? What is the value?

[2018-03-28 17:22] ViktorHofer commented on #24445
it gives you more control over the data structure. Not sure if it's just me but I find it weird to get to the Capacity via this hack.

[2018-03-28 17:25] mjrousos opened #28553 "Crypo transforms should truncate long initialization vectors for compatibility"
TripleDESCryptoServiceProvider expects a 24 byte key and 8 byte initialization vector.

In .NET Framework, if an IV longer than the algorithm's block size (8 bytes) was used, [it would be truncated](https://referencesource.microsoft.com/#mscorlib/system/security/cryptography/tripledescryptoserviceprovider.cs,101). In .NET Core, though, [an exception is thrown](https://github.com/dotnet/corefx/blob

[2018-03-28 17:28] danmosemsft commented on #17905
I don't know either and would have to think/experiment. Right now I'm fully engaged closing down 2.1 release so this will have to wait a bit 😺

[2018-03-28 17:29] danmosemsft commented on #24445
I suggest leave as is and see what if any feedback we get. (And whether we see lots of use of EnsureCapacity(0) )

[2018-03-28 17:33] eerhardt opened #28554 "alpine build should be built with /p:PortableBuild=true"
This issue spans both `dotnet/corefx` and `dotnet/coreclr`.

In order to support our runtime on musl-based distros that are not alpine, we should be building our runtime with `/p:PortableBuild=true`.  This will enable loading the correct libicu and libssl that are on the distro.

See
- https://github.com/dotnet/corefx/blob/master/buildpipeline/pipeline.json#L52
- https://github.com/dotnet/coreclr/

[2018-03-28 17:34] karelz commented on #28448
I would be curious in 2.1 behavior on supported OS (Windows or Linux amd64). If it is a regression on supported OS< we should look into it.

[2018-03-28 17:45] ViktorHofer commented on #28508
Adding the error code (int or enum) to the existing ArgumentException is easily doable and I don't get how this could be interpreted as a breaking change or regress something. Currently all exceptions in RegexParser.cs are invoked by a MakeException helper method. We would simply change its parameter from a string to an int/enum. The translation to the corresponding string then happens in the Make

[2018-03-28 17:49] safern commented on #28352
@filipnavara thanks for explaining and taking a look, it is really helpful to have active contributors fixing libgdiplus issues that we hit in our System.Drawing implementation :)

I guess then this issue can be closed since it is an issue in libgdiplus and dependent to an external dependency we can't really do much from corefx side.

[2018-03-28 17:49] #28352 closed

[2018-03-28 17:52] caesar1995 commented on #28065
Just want to confirm that I'm able to reserve the RedHat69 machine via repro tool and can see consistent failure with this test `HttpClientHandler_MultipleAuthenticateHeaders_PicksSupported`.

[2018-03-28 18:01] JeremyKuhne commented on #28379
It returns any potentially rented buffers to the array pool. `ToString()` internally also returns the buffer, I'll call that out. On a related note, we don't usually use these with `try ... finally` blocks as in many cases we don't expect throws to be common enough to warrant taking the performance hit of introducing the block- we're ok with not returning the buffer to the pool in those cases (whi

[2018-03-28 18:02] CyrusNajmabadi commented on #28508
Sorry... i'm not sure what problem this is trying to solve.  Could you clarify?

[2018-03-28 18:03] JeremyKuhne commented on #28379
Note that I'm exploring alternative options utilizing some of the concepts @KrzysztofCwalina brought up (with @KrzysztofCwalina). We'll circle back around with more info.

[2018-03-28 18:06] ahsonkhan opened #28556 "Test failure: System.Net.Security.Tests / ServerAsyncAuthenticate_AllClientVsIndividualServerSupportedProtocols_Success"
From https://github.com/dotnet/corefx/pull/28536

OSX.1012.Amd64.Open-x64-Debug
ServerAsyncAuthenticate_AllClientVsIndividualServerSupportedProtocols_Success

https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/ba6b4d98a37a5a76991d7f3a27320924081a7b24/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.ServerAsy

[2018-03-28 18:09] eerhardt commented on #26834
I spoke with @ericstj about these lines in the pkgproj.  We concluded that the packaging is still correct.  Even though `System.Numerics.Vectors` is inbox on the .NET Core shared framework, we still want to enable shipping new versions of this package as NuGet packages.  So the referenced packaging code allows for this to be both inbox and OOB.

[2018-03-28 18:10] liserdarts commented on #28448
Is there an easy way to install 2.1 on either? Or would I have to build it myself?

[2018-03-28 18:12] Tratcher opened #28557 "IPv6 addresses not correctly formatted in Host headers"
The new SocketsHttpHandler does not correctly format IPv6 addresses in host headers.

Repro:
[code]
Actual output:
[code]
Expected output: `Host: [::1]:5001`

Always include the brackets, even if there isn't a port.

Code: https://github.com/dotnet/corefx/blob/f14366baaa80a893e53934b98e9786dac54c136f/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs#L124
https://gith

[2018-03-28 18:16] weshaggard commented on #28538
We don't have a specific issue on this top but it is by design that we don't have a single solution for the entire repo. The repo is just too large and diverse to make that work in a reasonable way. Instead we have solutions per library which allows developers to focus on development of a given library.

In case your interested there is a large discussion at https://github.com/dotnet/corefx/issues

[2018-03-28 18:21] knocte commented on #19914
@markgibaud your workaround didn't work for me. Are you using VS2017 or VS4Mac? I'm using the latter.

[2018-03-28 18:25] #27211 closed

[2018-03-28 18:30] fdominguezcen commented on #5501
I am using the 2.1.0 preview should it be in there?

[2018-03-28 18:40] sdmaclea opened #28558 "System.Net.Mail.Tests.SmtpClientTest.Send_SpecifiedPickupDirectory path issue"
The failing test case below creates a directory in the /tmp filesystem with a hard coded name.  If the directory is owned by another user, the test will fails as shown in the log below.

[code]

[2018-03-28 18:41] kasper3 commented on #25916
`dotnet run --no-build` already exists. :)

Yeah we can check how [neovim](https://github.com/neovim/neovim) and [ncurses](https://github.com/mirror/ncurses) are handling it

[2018-03-28 18:43] wfurt commented on #27876
The problem seems to live in Negotiate stream capabilities.
After some debugging I was able to authenticate at least once with negotiate/kerberos and HttpSocketHandler.

Here is the difference as I understand it now between HttpCurlHandler and HttpSocketHandler:

-1 With curl(handler) I can use the "short" domain name foo\user. I was able to make HttpSocketHandler working only with  user@foo.net s

[2018-03-28 18:43] ViktorHofer commented on #28508
Porting your tests requires to Assert the negative ones which throw i.e.:

[code]

I want to avoid asserting on strings and I believe passing a FailureReason is a better differentiator overall.

[2018-03-28 18:54] CyrusNajmabadi commented on #28508
I'm asserting on strings *very* intentionally.  Because i want to know that i'm giving hte user the same error message that you guys are giving.  That's because i want it to seem as if they're actually running your regex parser under the covers.

This is necessary so that the IDE and runtime experience are unified.  i.e. if, at runtime, you gave a very specific error message, then during IDE time,

[2018-03-28 18:57] danmosemsft commented on #28508
XmlException is a precedent for line/column on the exception (as properties not text, so editor can jump to the place)

[2018-03-28 18:57] CyrusNajmabadi commented on #28508
Note: @danmosemsft fixed a bunch of issues i reported.  However:

1. I still don't know if hte regex library is hardened enough to use it, while passing it arbitrary user input.  For example, indexing out of bounds, stack overflows, etc.
2. I don't know if it can still use tons of memory in some scenarios (even though it was hardened for one scenario).
3. I don't know if it does anything that migh

[2018-03-28 18:58] CyrusNajmabadi commented on #28508
Right.  Though please don't do line/col as no one ever agrees on what they mean :D   Just do "position in string" as that's super well defined, and makes sense given that it's a string that is fed into the regex engine :D

Thanks!

[2018-03-28 19:02] karelz commented on #28557
Thanks @Tratcher!
@caesar1995 can you please help with it?

[2018-03-28 19:03] sdmaclea opened #28559 "System.Xml.Xsl.XslTransformApi.Tests UnauthorizedAccessException"
System.Xml.Xsl.XslTransformApi.Tests uses the hardcoded path `/tmp/XslTransformApi`

After the test has been run in an account with different privilege, the test will fail with UnauthorizedAccessException.

For example see partial log below.
[code]

[2018-03-28 19:04] karelz commented on #28448
You can use [2.1-Preview1](https://blogs.msdn.microsoft.com/dotnet/2018/02/27/announcing-net-core-2-1-preview-1/) (ideally with SocketsHttpHandler - see the env vars section for details) or [nightly builds](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md) (SocketsHttpHandler is default there).

[2018-03-28 19:59] benaadams commented on #27732
Surely resume for a zero byte Flush; don't resume for a zero byte Write, and be able to differentiate Flush and Write? 🤔

[2018-03-28 20:13] karelz commented on #27876
@wfurt what is your recommendation for 2.1? Leave things as they are and consider CurlHandler as fallback if anyone hits issues with SocketsHttpHandler?

[2018-03-28 20:22] caesar1995 commented on #28557
According to
https://tools.ietf.org/html/rfc7230#section-5.4
https://tools.ietf.org/html/rfc3986#section-3.2.2

IPv6 addresses in Host header should be enclosed in square brackets.

I will fix it.

[2018-03-28 20:35] danmosemsft commented on #27980
@KKhurin are you on track to complete this before 3/30 zbb target?

[2018-03-28 20:36] danmosemsft commented on #28398
Has this happened again?

[2018-03-28 20:38] danmosemsft commented on #24902
@ViktorHofer I see you took this one... are you planning to do this for 2.1 (ie by Friday)?

[2018-03-28 20:40] safern commented on #28398
I haven't seen it, and no one has reported it. I will try to repro it locally on my mac, if it doesn't repro, I'll close it.

[2018-03-28 20:44] safern commented on #28052
Thanks @kasper3 that is what I noticed as well. I'm assigning myself to fix this issue.

[2018-03-28 21:03] #13970 closed

[2018-03-28 21:38] mkArtakMSFT opened #28566 "Nuget Microsoft.AspNetCore.Mvc.Core detected package downgrade"
_From @mcm-ham on March 22, 2018 11:33_

I have a library project called WebApp.Auth.Sso.Abstractions with this as the csproj:
[code]
And when I run `dotnet restore` it works but when I run `dotnet restore -r win81-x64` I get this error:

[code]

_Copied from original issue: aspnet/Mvc#7527_

[2018-03-28 21:52] MarcoRossignoli commented on #28398
@safern TYVM i apologize!

[2018-03-28 22:00] danmosemsft commented on #27495
@jorive is working to get ETL with stacks that we can diff. Won't be analyzed by EOW

[2018-03-28 22:15] karelz commented on #28543
2.1 decision: If there is no proxy, cache the information to optimize in that case.

[2018-03-28 22:16] geoffkizer commented on #28557
We should probably fix this at a higher level, e.g. GetConnectionKey, and ensure that we consistently use the right hostname (i.e. including []) for the key and the pool.

[2018-03-28 22:19] janvorli commented on #28554
@eerhardt  I've found that we don't need to do anything for coreclr. We always build it as ICU version agnostic with dynamic lookup at runtime. And passing the '-portable' option would cause the build to produce linux-x64 named packages.
In corefx, the PortableBuild property also induces a portable runtime to be used for corefx tests (restored into /home/janvorli/git/corefx/bin/testhost/...). That

[2018-03-28 22:21] geoffkizer commented on #28557
I do kinda wonder why Uri.IdnHost doesn't return the [] itself.  Is there some other magic way to get Uri to give us the []?

[2018-03-28 22:35] karelz commented on #28557
@rmkerr for the Uri question

[2018-03-28 22:38] #24902 closed

[2018-03-28 22:38] #25533 closed

[2018-03-28 22:39] ViktorHofer commented on #24902
done

[2018-03-28 22:40] bartonjs commented on #28553
It depends on how much we care about preserving wrong behaviors.  While TripleDESCryptoServiceProvider has this bug AesCryptoServiceProvider doesn't: https://referencesource.microsoft.com/#System.Core/System/Security/Cryptography/AesCryptoServiceProvider.cs,233

We're intentionally not preserving all of the bugs with the RijndaelManaged implementation and the fact that it was the (more full) Rijnd

[2018-03-28 22:43] Tratcher commented on #28557
https://msdn.microsoft.com/en-us/library/system.uri.hostnametype(v=vs.110).aspx should help if you need to special case IPv6. Host should give you the brackets IPv6.

[2018-03-28 22:50] liserdarts commented on #28448
The plot thickens.

I ran the program with 2.1-Preview1 on some of the same machines. On v2.1-preview1/Debian9/Amd64 I got a SocketException and a ObjectDisposedException. On v2.1-preview1/**Win10**/Amd64 it was just one ObjectDisposedException.

I updated [Output.md](https://github.com/liserdarts/NamedPipeServerStreamTest/blob/master/Output.md) whth the exact output.

I tried every combination of

[2018-03-28 22:53] danmosemsft commented on #24902
Nice work

[2018-03-28 22:55] danmosemsft commented on #24722
@janvorli do you know?

Would be nice to close this before Friday

[2018-03-28 22:56] danmosemsft commented on #16283
@qizhanMS @jimcarley unless you have more data I suggest closing this now so we can hit zero.

[2018-03-28 23:06] janvorli commented on #24722
@danmosemsft these were issues Priya was hitting in her local testing when she was adding alpn support to sslstream. I believe the #24799 which is listed above has fixed it.

[2018-03-28 23:20] huanwu commented on #27561
@bartekkois I still cannot repro your problem. I created a wcf service like the following. I then use the connected service to generate the client code and call GetClientDetailArray from the client. The returned value is correct. Could you share with me your server side code?

[code]

[2018-03-28 23:24] #24722 closed

[2018-03-28 23:32] karelz commented on #27765
As pointed out in https://github.com/dotnet/corefx/pull/27767#issuecomment-370768157, the issue is fixed in 2.1 (you can try public [2.1 Preview1](https://blogs.msdn.microsoft.com/dotnet/2018/02/27/announcing-net-core-2-1-preview-1/) release).
Servicing fix does not meet the bar - see details here: https://github.com/dotnet/corefx/pull/27767#issuecomment-377070444

[2018-03-28 23:32] #27765 closed

[2018-03-28 23:33] yifungl commented on #17523
For those hitting this issue on VS 2017, does the issue go away if you go into the Visual Studio Installer and remove R Tools for Visual Studio?

[2018-03-28 23:36] rmkerr commented on #28557
@geoffkizer It looks like `Host` treats IPv6 addresses specially:
https://github.com/dotnet/corefx/blob/9e8d443ff78c4f0a9a6bedf7f95961cf96ceff0a/src/System.Private.Uri/src/System/Uri.cs#L903-L905
We should probably be doing the same thing with `IdnHost`.

[2018-03-28 23:44] jimcarley commented on #16283
We did not make any more progress on this. Did tests simply get turned off for Code Coverage builds? If yes, because of this?

It is somewhat interesting that it only happens for code coverage builds/runs and only in the lab (as opposed to locally). At least that is what I recall.

[2018-03-28 23:44] caesar1995 commented on #28557
We explicitly strip the [] for IPv6 address for `idnHost`

https://github.com/dotnet/corefx/blob/9e8d443ff78c4f0a9a6bedf7f95961cf96ceff0a/src/System.Private.Uri/src/System/Uri.cs#L1195-L1201

[2018-03-28 23:48] rmkerr commented on #28557
Good find. I wonder why the decision was made to do things that way.

[2018-03-28 23:49] caesar1995 commented on #28557
From MSDN: https://msdn.microsoft.com/en-us/library/system.uri.dnssafehost(v=vs.110).aspx

Probably we cannot fix it in the Uri level.

[2018-03-28 23:49] vindhyavasini1 commented on #5811
@davidsh : From you comment above, it seems that this scenario of using same HttpClientHandler with different HttpClient was kind of not tested/expected by .Net team back then.
Did you guys test that scenario after that to say that it is safe to use these two classes in this manner to avoid TCP connection exhaustion in case of heavy load?

[2018-03-29 00:15] huanwu commented on #28530
The behavior is different in full framework and dotnet core because in dotnet core, there's no data member in datacontract. That's why there's no exception in dotnet core. But also nothing get serialized.

[2018-03-29 00:32] jimcarley commented on #16283
Where would I find test results for code coverage builds? Or do those simply not exist?

The Code_Coverage_Report doesn't tell me about test results. Only what lines of code got covered. But then again, I could be looking at the wrong stuff.

[2018-03-29 00:38] wfurt commented on #28557
The help for Uri class says:
The RFC 3490 compliant International Domain Name of the host, using Punycode as appropriate. This string, after being unescaped if necessary, is safe to use for DNS resolution.

I think that should not include [] as they are not legal in DNS.

[2018-03-29 00:43] caesar1995 commented on #28557
For WinHttpHandler, we directly pass `Host` for `WinHttpConnect` instead of `idnHost`. Probably we need to do the same for SocketsHttpHandler.

https://github.com/dotnet/corefx/blob/9e8d443ff78c4f0a9a6bedf7f95961cf96ceff0a/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs#L786-L790

[2018-03-29 00:48] davidsh commented on #28557
Actually, that is a bug.  Passing in Uri.Host will potentially pass in Unicode host names to the WinHTTP API.  And that API can't accept that.  Unfortunately, we have no tests around this.

We should use Uri.IdnHost for passing into WinHTTP.

See:
https://msdn.microsoft.com/en-us/library/windows/desktop/aa384091(v=vs.85).aspx

[code]

[2018-03-29 00:56] danmosemsft opened #28574 "code coverage runs timing out"
3 hour time limit being exceeded now

eg in https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/507/consoleFull#-11168565952d31e50d-1517-49fc-92b3-2ca637122019

09:43:41  tests start
12:34:14 timeout

These two are the worst offenders

09:49:02   Starting:    System.Collections.Performance.Tests
10:41:47   Finished:    System.Collections.Performance.Tests

11:51:09   Starting

[2018-03-29 00:59] danmosemsft commented on #16283
To see more you must go up the URL to https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/
Looks like recent runs failed for other reasons https://github.com/dotnet/corefx/issues/28574
And before that a known build issue
Looking way back to the last success on Mar 1 it seems the missing coverage was due to missing PDB -- which I see on some other libraries as well.
[code]

Gi

[2018-03-29 01:00] danmosemsft commented on #28574
AFter this is done need to check that all libraries have pdb's and are getting coverage data. Eg back on the last good run some weren't eg
[code]

Not obvious why some do and some dont'.

[2018-03-29 01:02] jeinz11 commented on #24282
When will this be fixed? its a serious blocker for us :(

[2018-03-29 01:06] stephentoub commented on #28574
I believe @bartonjs had a theory on this, relating to libraries built as AnyOS, or something along those lines.

I believe it's `-notrait Benchmark=true`.

[2018-03-29 01:08] bartonjs commented on #28574
https://github.com/dotnet/buildtools/pull/1952 (fixed the issue, but isn't in corefx yet)

[2018-03-29 01:10] saurabh500 commented on #24282
This is now supported on the 4.5 preview build of SqClient available on Nuget

[2018-03-29 01:25] jimcarley commented on #16283
Interesting. In that Mar 1 run, all the SysTx tests passed. And it ran the 5 OuterLoop tests, too.

In looking at the CloneTx tests again, there are 7 that we should probably move to OuterLoop because each one takes 1.5+ seconds because they are waiting for the transaction to timeout. But we can do that later.

I agree that we can close this for now and re-open it if necessary.

Closing with this

[2018-03-29 01:25] #16283 closed

[2018-03-29 01:35] caesar1995 commented on #28557
Now I'm confused:

1. [According to MSDN](https://msdn.microsoft.com/en-us/library/system.uri.idnhost(v=vs.110).aspx): `idnHost` is DNS safe:

2. From previous comment, `[]` are not legal in DNS. So `idnHost` should not include `[]`.

If we use Uri.IdnHost for passing into WinHTTP/SocketsHttpHanlder, then...the `Host` header cannot be formatted correctly.

I think:
a) we should not change the `idn

[2018-03-29 02:33] MisinformedDNA opened #28580 "Getting build error in VS for Microsoft.CSharp"
I did a pull, a full build via the command line, and then opened Microsoft.CSharp.

Actually, I may have run build.sh and build.cmd, which is pretty much the same, right?

I opened the solution in VS and tried to build, but this is the error I am getting:

[2018-03-29 02:37] stephentoub commented on #9608
Dup of https://github.com/dotnet/corefx/issues/24553

[2018-03-29 02:37] #9608 closed

[2018-03-29 03:05] danmosemsft commented on #28574
Great, we still need -notrait Benchmark=true.

[2018-03-29 03:18] Sunny-pu commented on #28496
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug/390/testReport/System.Runtime.Serialization.Formatters.Tests/BinaryFormatterTests/Roundtrip_CrossProcess_obj____test___/

[2018-03-29 04:00] ahsonkhan opened #28584 "TestKeyAgreesRecipientIdType_RoundTrip failing in CI with WindowsCryptographicException on Win7"
From https://github.com/dotnet/corefx/pull/28582
Windows.7.Amd64.Open-x64-Debug
https://mc.dot.net/#/user/benaadams/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/55bf1b5b0f691c9d6f223c60cbeb2fc46bf746cc/workItem/System.Security.Cryptography.Pkcs.Tests/analysis/xunit/System.Security.Cryptography.Pkcs.EnvelopedCmsTests.Tests.KeyAgreeRecipientInfoTests~2FTestKeyAgreesRecipient

[2018-03-29 04:37] krwq opened #28585 "Investigate IDN mapping rules when parsing/writing server name"
SslStream Windows implementation does not map special characters when sending host name in the client hello extension and sends utf-8 characters instead.

Note: This does not affect HttpClient scenario which does IDN mapping higher up the stack, only SslStream scenario is affected.

SSL protocol recommends that host name should be send by a client. Host name should be send using one of the client

[2018-03-29 04:55] mjrousos commented on #28553
Yea, we definitely don't want bug-for-bug compatibility. This one (truncating the IV) feels pretty harmless, though, and may make NetFX -> NetCore transitions a little easier.

What do you mean that it isn't interoperable?

[2018-03-29 05:01] bartonjs commented on #28553
The bug is on TripleDESCryptoServiceProvider  (in netfx), but probably not TripleDESCng (which, for some reason, isn't on referencesource so I can't check right now), and the same data against other platforms/libraries may also fail.  Assuming that any library which accepted "too big" just reads the first block-size of inputs it would produce the same data, but once it's the wrong size there's no

[2018-03-29 05:22] pjanotti commented on #27746
On macOS High Sierra (10.13) the release version of this test is hanging too.

[2018-03-29 05:40] danmosemsft commented on #28558
@sdmaclea you mean you prevoiusly ran the test once as a different user, and that created and owned the folder?

Anyway this test should use FileCleanupTestBase's TestDirectory.

@Anipik could you please fix this? The line to change is `   _tempFolder = Path.Combine(Path.GetTempPath(), GetType().FullName, Guid.NewGuid().ToString());`

[2018-03-29 05:40] wfurt commented on #28543
BTW independent email thread mentioned network-change notifications.  Do we already have hook for that and if not, shall we consider it past 2.1?

[2018-03-29 05:43] sdmaclea commented on #28558
Yes I ran as myself, then when CI ran the test failed

[2018-03-29 05:46] danmosemsft commented on #28559
@Anipik same issue as #28558. However changing these crufty tests to derive from FileCleanupTestBase might be too much at the moment.

I suggest just changing the lines below so where it's currently using GetTempPath() + some hard coded string, it instead uses `Path.Combine(Path.GetTempPath(), GetType().Name + "_" + Path.GetRandomFileName());` which is what FileCleanupTestBase does.

[code]

[2018-03-29 06:05] jeinz11 commented on #24282
thanks @saurabh500

[2018-03-29 06:27] caesar1995 commented on #28543
In corefx, we have `NetworkChange` class, which has `NetworkAvailabilityChanged` and `NetworkAddressChanged` events. But those cannot meet all the various network change events.

In framework, we have a `RasHelper` class help to detect it, which has below states:
[code]

We should consider porting the code to corefx if we decide to do the optimization, which seems like a overhead. (The `RasHelper`

[2018-03-29 07:25] safern commented on #28574
Ok. I’ll work on that.

[2018-03-29 07:43] tmds commented on #25916
I'm looking a bit deeper into this issue, this is what I understand:
On Windows, things are not echoed until they are ReadKey/ReadLined by the application.
While on Linux, the default terminal settings will echo characters as they are typed by the user.
When a .NET Core application does a Process.Start of an application on Linux, that application should gets the default echo behavior.

For this re

[2018-03-29 08:32] xlegalles opened #28590 "ProcessStartInfo.WorkingDirectory is not working"
We have an application which starts several processes (all .NET Core 2.0 console app). We set the `ProcessStartInfo.WorkingDirectory` to ensure that the current directory is the one of the started executable but it does not work: the `GetCurrentDirectory` remains the one of the application that invokes the `Process.Start()`.
We do a `Directory.SetCurrentDirectory` in the started application as a w

[2018-03-29 08:58] xlegalles opened #28591 "DllImport and current directory"
We need to start several processes from a single application (all .NET Core 2.0 console app) using `Process.Start` and `ProcessStartInfo`. First, we found this  [issue](https://github.com/dotnet/corefx/issues/28590) about `ProcessStartInfo.WorkingDirectory` which seems to not work. Now that we use `Directory.SetCurrentDirectory` in the started application, .NET assemblies are well resolved/loaded

[2018-03-29 09:32] #27662 closed

[2018-03-29 09:47] bartekkois commented on #27561
Here is my code responsible for accessing web service:
[code]
Below are my proxy classes and response dump as it is not publicly available web service.
[Reference with response dump.zip](https://github.com/dotnet/corefx/files/1859504/Reference.with.response.dump.zip)

[2018-03-29 12:13] lashchev commented on #13329
For large and service-like apps this maybe not that important, but it is essential for command-line tools and small apps to be as simple as possible and COPY-deployment friendly.

I regularly write command line tools in .NET and having them as 1 EXE makes upgrades/deployments/packaging WAY simpler. I always pack all .config and other required files inside EXE.

Think of that single-EXE as a mini-c

[2018-03-29 12:25] janvorli commented on #28554
@eerhardt so I've found that we already build the native corefx stuff with -portable flag in our official build:

Running: /root/corefx-1529936/src/Native/build-native.sh  --RuntimeOS=alpine.3.6 --OfficialBuildId=20180328-06  x64  Release  Linux  --numproc 4  **-portable**  stripSymbols  toolSetDir=c:\tools\clr /p:PortableBuild=false /p:StabilizePackageVersion=false /p:PackageVersionStamp=

That m

[2018-03-29 13:10] 0xced opened #28594 "Proposal: new System.ComponentModel.VersionConverter class"
## Rationale and Usage

Converting between `System.Version` and `string` is currently not supported using a `System.ComponentModel.TypeConverter`. Many system types are supported out of the box (System.DateTimeOffset, System.Guid, System.TimeSpan, System.Uri etc.) so I think System.Version would be a welcome addition.

I was expecting this to work, but converting from string actually throws `NotSu

[2018-03-29 13:23] kasper3 commented on #27529
Found this huge regex to validate IPV6 https://stackoverflow.com/a/17871737, the line that deals with zone index seems interesting `fe80:(:IPV6SEG){0,4}%[0-9a-zA-Z]{1,}|  # fe80::7:8%eth0     fe80::7:8%1  (link-local IPv6 addresses with zone index)`

[2018-03-29 13:34] kasper3 commented on #25916
Would it have any impact if we are redirecting to stdin or from stdout to file? I am secretly trying to compare CoreFX with mono's implementation ([Console.cs](https://github.com/mono/mono/blob/83ed33ba2c0b70fc43fbe92404e668126aa6b0d0/mcs/class/corlib/System/Console.cs#L134-L157) & [console-unix.c](https://github.com/mono/mono/blob/83ed33ba2c0b70fc43fbe92404e668126aa6b0d0/mono/metadata/console-uni

[2018-03-29 13:45] tmds commented on #25916
I don't understand the question. If you are redirecting stdin to a file, it is no longer a terminal.

[2018-03-29 13:59] pjanotti commented on #28116
Closing this one since the test causing deadlock is now disabled and issue #27746 tracks that specific test.

[2018-03-29 13:59] #28116 closed

[2018-03-29 14:08] mogikanin opened #28597 "Build fails with System.Threading.Tasks.Extensions.4.4.0"
I attached simple sample project - just empty class library with one dependency `System.Threading.Tasks.Extensions.4.4.0`.
Build from Visual Studio works fine, but if you try to build solution via msbuild (Build.bat near solution file) then build fails.

[code]

The issue is not reproduced with  System.Threading.Tasks.Extensions.4.3.0

[ClassLibrary1.zip](https://github.com/dotnet/corefx/files/186

[2018-03-29 14:47] MisinformedDNA commented on #17905
I wrote a script to load all the CSVs and then filtered down to just the most actionable ones. I came up with 3,942 issues/opportunities.

I now intend to take a look at each of the issues and take appropriate actions. You can follow my progress and leave feedback, if you'd like, at https://github.com/MisinformedDNA/corefx/tree/drop-dead-code.

[2018-03-29 14:51] tmds commented on #25916
From what I see mono disables the echo when it initializes Console stuff: https://github.com/mono/mono/blob/d2383c037df43eae955add5981cf49fb65176b0d/mcs/class/corlib/System/TermInfoDriver.cs#L204
And it enables it when the application stops (in tty_teardown): https://github.com/mono/mono/blob/83ed33ba2c0b70fc43fbe92404e668126aa6b0d0/mono/metadata/console-unix.c#L214
So child processes won't echo o

[2018-03-29 15:41] ericstj commented on #26834
So I was running some testing and this is actually problematic because we don't currently include the facade version of System.Numerics.Vectors in the package.  As a result, when using the package we switch from using type-forwards to using the types defined in the assembly.  This will break type unification.

We can decide to either:
1. Put placeholders in the package and effectively freeze the A

[2018-03-29 15:44] kasper3 commented on #25916
Right, I was just thinking (loudly) what could break. 😄

[2018-03-29 16:13] gcadmes commented on #12038
So after reading through this thread, It's safe to assume that the new API will be available in netstandard2.1, yes?
May I ask when that might go primetime?

[2018-03-29 16:24] danmosemsft commented on #27662
Some introspection,
* I was originally building on the build machine outside of a container, so it got a newer version of cmake than the one the build actually used and so I incorrectly eliminated build from consideration
* I misread the disassembly on the test machine to appear to be copying the millisecond part correctly. Perhaps I had the wrong binary loaded when I did this.
* I should have bis

[2018-03-29 16:25] karelz commented on #28585
@krwq for the second, can you verify it manually / using other tools?

[2018-03-29 16:25] karelz commented on #28585
The first one sounds like a bug. Can you post a code snippet showing what you mean / what you observed?

[2018-03-29 16:25] danmosemsft commented on #28591
@jeffschwMSFT can someone on your team help unravel this?

[2018-03-29 16:28] danmosemsft commented on #28590
@Anipik can you please try to repro and make sure we have a test. The TestWorkingDirectoryProperty() test we do have does not appear to do anything but read back the property set. It should do GetCurrentDirectory() in the child process.

[2018-03-29 16:28] karelz commented on #28594
@safern @maryamariyan can you please take a look when you get a chance? This is for the pending PR #28516.

[2018-03-29 16:34] wfurt commented on #27529
That may be good enough for input validation @kasper3. For this to actually work, we will need to convert interface name to interface index e.g. scope.

[2018-03-29 16:42] dotnet-mc-bot opened #28602 "Error when creating nuget [packed | lib] package. System.IO.FileNotFoundException: File not found"
Opened on behalf of @jcagme

Warnings: 2
Status Message: failed

Build : Master - 20180329.06 (Product Build)
Failing configurations:
- Windows
  - PortableBuild-Checked-x86
  - PortableBuild-Checked-arm
  - PortableBuild-Release-x64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/build~2Fproduct~2F/build/20180329.06/workItem/Orch

[2018-03-29 16:46] Tratcher opened #28603 "SocketsHttpHandler not debuggable"
As I've been troubleshooting various issues with the new SocketsHttpHandler the largest barrier has been the lack of diagnostic visibility into what's going on while it processes requests.

There is a DiagnosticHandler, but it's a wrapper around SocketsHttpHandler, it doesn't give visibility into the internal operations or final output.
https://github.com/dotnet/corefx/blob/45fb8a627e727df33758029

[2018-03-29 16:54] danmosemsft commented on #17905
Nice, looking forward to seeing this @MisinformedDNA.

[2018-03-29 17:05] tarekgh commented on #28430
@maryamariyan will be able to close this issue soon?

[2018-03-29 17:05] joshfree commented on #28044
@davidfowl @muratg can you take a look at this for the 3/30 bug bounce?

[2018-03-29 17:05] rmkerr commented on #25640
This looks like it may be a product issue. By watching the network I can see that the requests are eventually being sent for both proxy enabled and proxy disabled cases:
![image](https://user-images.githubusercontent.com/4656175/38102498-4bff1270-3338-11e8-8ba5-33bcaeacf035.png)
However, I see **no traffic** over loopback. That makes me think that the proxy enabled case is not using the proxy as i

[2018-03-29 17:06] #28511 closed

[2018-03-29 17:09] kasper3 commented on #27529
@wfurt, can we parse out the full zone string and use https://github.com/dotnet/corefx/blob/6a9f579209491ae9041f208bfe34b89085c0279e/src/Native/Unix/System.Native/pal_networkstatistics.c#L428-L436 to determine if the interface exists, in c#:

<code>if(Interop.Sys.GetNativeIPInterfaceStatistics(parsedZone, out _) == -1) {</code> :-1: <code>}</code>

[2018-03-29 17:10] #28119 closed

[2018-03-29 17:10] maryamariyan commented on #28430
The PRs below address this issue.

https://github.com/dotnet/coreclr/pull/17288
https://github.com/dotnet/corefx/pull/28540
https://github.com/dotnet/coreclr/pull/17311
https://github.com/dotnet/corefx/pull/28581

[2018-03-29 17:13] muratg commented on #28044
@pakrym good to close?

[2018-03-29 17:14] wfurt commented on #27529
yes, that is something along the way. It may make sense to run it into separate pal function and the rest should be easy. if_nametoindex() should work on OSX and FreeBSD as well.

[2018-03-29 17:15] #28430 closed

[2018-03-29 17:16] wfurt commented on #25640
do you use ncap driver? Loopback on WIndows can be tricky.

[2018-03-29 17:17] #28044 closed

[2018-03-29 17:17] safern commented on #28594
@0xced thanks for the proposal. I like the idea of being able to convert from `string` to `Version` and the proposal seems very complete now. The only thing that I'm in doubt is the `ArgumentException` which I think doesn't fit much for this case. We could think a way to instead throw a `FormatException` i.e catching the `ArgumentException`.

@maryamariyan any thoughts?

[2018-03-29 17:19] krwq commented on #28585
@karelz - current version of the server works correctly with this bug because of the fallback I put in the code (see DecodeString in SniHelper). If you remove it one of the tests in SslStreamSniTest will start failing on Windows (the one with special characters) - see test data for this test:
https://github.com/dotnet/corefx/pull/28278/files#diff-dbaea2525913714cf555096c8af14a03R132

I believe cli

[2018-03-29 17:19] RussKeldorph commented on #28602
This is another instance where where `build.cmd` failed but didn't stop the job.  The real error is:
[code]
Why doesn't the machine have Python installed?

[2018-03-29 17:20] RussKeldorph commented on #28602
@dotnet/dnceng

[2018-03-29 17:21] ByronAP opened #28605 "PlatformNotSupported thrown by SystemWebProxy"
I know this is obviously intentional but is poor and should be reconsidered for alternatives such as returning a marker instead of throwing and catching an exception.

https://github.com/dotnet/corefx/blob/master/src/System.Net.Requests/src/System/Net/SystemWebProxy.cs#L50-L53

[code]

[EDIT] Fix link by @karelz

[2018-03-29 17:21] wli3 opened #28606 "Insertion of master to CLI is failing"
https://github.com/dotnet/cli/pull/8901

stack trace:
[code]

[2018-03-29 17:25] muratg commented on #27168
Had a chat with @davidfowl, we're not doing this at this time.

[2018-03-29 17:25] MattGal commented on #28602
Filed https://github.com/dotnet/core-eng/issues/3065.  I checked out a machine or two, it looks like the same issue we saw recently (Python 2.7.14 is indeed installed, simply not on the path)

[2018-03-29 17:38] ahsonkhan commented on #27740
Failed again (from https://github.com/dotnet/corefx/pull/28583):
RedHat.74.Amd64.Open-x64:Release
https://mc.dot.net/#/user/dotnet-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/33e32ffc690ac54cfa1cb3571f8d9ee7cb7600be/workItem/System.Runtime.Tests/wilogs
[code]
OSX.1013.Amd64.Open-x64:Debug
https://mc.dot.net/#/user/dotnet-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/

[2018-03-29 17:42] Alois-xx commented on #24902
@ViktorHofer, @danmosemsft , @jkotas : Awesome! The amount of dedication to arrive at the best solution is much appreciated.

[2018-03-29 17:46] MisinformedDNA commented on #17905
I found an issue with the dead code analysis, that either shows a problem or deficiency with the tool.

The report says that the following can be removed:

[code]

But these Enums are referenced elsewhere, so let's look at one possible branch:

[code]

Logic has taken me to the place where the first "If" statement is never true. But that "If" statement is a `null` check, so we'd have to assume tha

[2018-03-29 17:47] karelz commented on #28114
Progress on bugs: https://twitter.com/ziki_cz/status/979410567659118592 (last 3 days left)
Highlights:
* Great progress on 2.1 bugs and triage
    * We introduced Post-ZBB label for exceptions (currently just few bugs: [3](https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+milestone%3A2.1.0+label%3APost-ZBB) + [0](https://github.com/dotnet/coreclr/issues?utf8=%E2%9C%93&q

[2018-03-29 17:51] rmkerr commented on #23768
Based off of these two lines it seems like we're sending 22 megabytes of content along with this POST.
https://github.com/dotnet/corefx/blob/50d4e1ce620f26ec4aebe26c121a769fc8e724ab/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs#L2426-L2427
Do you think that's enough that we would plausibly be hitting the 90 second timeout?

[2018-03-29 17:54] MattGal commented on #28602
All the agents in the DotNetCore-Build pool should have Python 2.7.14 on the path now.

[2018-03-29 17:56] krwq commented on #27740
@dotnet/jit-contrib this test is failing frequently on the CI and seeing JIT couple of times on the stack.
I currently can't see anything obviously wrong with XML code which could lead to such stack.

Any chance, someone saw something similar in the past or could take a quick look and give us some pointers on what could be wrong? Any advice might be useful here.

[2018-03-29 18:11] huanwu commented on #28530
DCS doesn't support Lazy. The behavior on full framework is correct. We need apply the same on dotnet core.

[2018-03-29 18:12] erozenfeld commented on #17905
The enum values were probably inlined in msil so the tool doesn't see them. The same is true for constants. Nothing should be done for source code in these cases.

[2018-03-29 18:18] #27367 closed

[2018-03-29 18:27] danmosemsft commented on #28606
@benaadams we had a test in corefx that broke for this right?

@eerhardt when CLI pick up the runtime, has it gone through corefx first? If not, then breaks in mscorlib are not necessarily going to stopped before it goes up because we rely mostly on corefx tests for mscorlib.

[2018-03-29 18:27] mitchcapper commented on #12038
It is merged into master at this point so yes I am quite confident it should be in 2.1.   There should be a new beta of 2.1 any day now, depending when they flighted it it might  be in that beta if so I will add support quickly.   Keep in mind you would need to roll your own beta of 2.1 to use it however.    Official 2.1 release I think it slated for H1.

[2018-03-29 18:28] weshaggard commented on #28566
@mcm-ham can you directly reference System.IO.FileSystem.Primitives 4.3.0 package to workaround this issue.

@ericstj is that the best option for handling this?

[2018-03-29 18:32] safern commented on #28594
You're right, let's keep it simple and just let the constructor handle it itself.

[2018-03-29 18:35] joperezr commented on #28597
It might very well be that we use the TargetFramework property for something else in our build, so the user passing in the wrong property on the build command is not expected and breaks the build. I don't think that there is an issue here since as @tarekgh suggests, running just MSBuild on the solution works fine. For that reason, I will close the issue. Also, just for future reference, these kind

[2018-03-29 18:35] #28597 closed

[2018-03-29 18:40] BhaaLseN commented on #28257
2 questions:
1. Does this support _any_ relation between 2 paths on the same root? ie. does `C:\Temp\somefile.txt` relative-to `C:\Users\myself\Documents\test\test.exe` return `..\..\..\..\Temp\somefile.txt` (or some platform-appropriate equivalent) or does it only work if `path` is a subfolder of `relativeTo` (hoping the former, because I had to hand-roll one of those way too often)
2. How will t

[2018-03-29 18:48] pjanotti commented on #23768
I don't think so: the server is just echoing it back and we had issues with echoing in the WCF stress tests (which was fixed since we disabled this test). That said there were some differences: it repro-ed consistently for WCF but we just got intermittent hits for this one (always in CI). If I don't get a repro in some attempts from the PR and my local tries I think we should try to re-enable it a

[2018-03-29 18:48] seriouz commented on #14724
Any news on here, a half year has passed?

[2018-03-29 18:49] eerhardt commented on #28606
I think that is good practice.

The idea is that if a change got through CI, it must be good.  Or else, why did it get through CI?

[2018-03-29 18:51] caesar1995 opened #28609 "SocketsHttpHandler: Proxied IPv6 requests have incorrectly formatted host/port in request line"
On WinHttpHandler, we will append [] around the IPv6 address.
"GET http://[::1234]/ HTTP/1.1", "Proxy-Connection: Keep-Alive", "Host: [::1234]"

On SocketsHttpHandler, currently we don't:
"GET http://::1234/ HTTP/1.1", "Host: [::1234]"

Also, if we specify a port number, SocketsHttpHandler will strip that in the uri send to the proxy as well.

WinHttpHandler:
In value:  List<String> ["GET http://[

[2018-03-29 18:52] ericstj commented on #28566
This is in fact a NuGet issue: https://github.com/NuGet/Home/issues/3541

Why are you restoring with a RID for a `netstandard2.0` project?  NETStandard is not a runnable TFM, it represents portable surface area, so restoring for a specific RID doesn't really make sense.

I would just add a reference to
[code]
All of the `netstandard2.0`-supporting frameworks no longer use the lineup (runtime.json)

[2018-03-29 18:57] rmkerr commented on #25640
Thanks for the quick response.

Since that support would be a new feature, I'm going to leave this disabled on Windows. I'll open a PR to remove the active issue tag and go back to the old method for skipping the test, just to make it clear this isn't a bug.

[2018-03-29 19:01] danmosemsft commented on #28606
cc @stephentoub @jkotas for opinions

The CoreFX tests when run in CoreCLR CI are very slow - I assume they are not super-parallelized across machines as they are in CoreFX. That means in my opinion it should stay selective (also because they are not always perfectly in sync)

[2018-03-29 19:08] danmosemsft commented on #28602
I queued a new CoreCLR build.

[2018-03-29 19:11] pjanotti commented on #23768
The first issue found in the WCF stress tests was a bug in handling the response when the server was echoing back a stream, which is basically the same thing done in this test. The issue that fixed the handling of the echo response was PR #27341, at this point I am not 100% sure that this is the same issue but it seems likely.

[2018-03-29 19:12] karelz commented on #28585
Which test fails exactly? On SocketsHttpHandler or on PlatformHandler?
Let's chat about it in standup, I am confused what this is tracking and why.

[2018-03-29 19:18] ViktorHofer commented on #28496
I believe OSX and RemoteExecutor don't like each other right now.

[2018-03-29 19:18] #28496 closed

[2018-03-29 19:18] karelz commented on #23768
If you think there is decent chance that it may have been addressed, then we should re-enable the test. Or do you have other suggestion how to verify it is addressed?

[2018-03-29 19:25] davidsh commented on #25640
.NET Framework also supports app-domain wide proxy settings (which override WinINET-style settings) via an app.config file:

https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/network/defaultproxy-element-network-settings

[code]

[2018-03-29 19:29] joshfree commented on #20884
Moving to the Future milestone

[2018-03-29 19:54] 0xced commented on #28594
And what about the registration of the converter? Is `System.Version` considered an intrinsic type? The comment in [ReflectTypeDescriptionProvider.cs](https://github.com/dotnet/corefx/blob/2d7b6dc7c773f2a143aacebc08c98dd8397286af/src/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReflectTypeDescriptionProvider.cs#L98-L101) says:

I see that `System.Guid` and `System.Uri` for example

[2018-03-29 20:00] MattGal commented on #28602
Ugh my apologies, machines 100-102 were as old as the agent pool they are in, so I didn't even check them.   Give me 10 minutes and I'll patch them.

[2018-03-29 20:04] krwq commented on #27740
Thanks @AndyAyersMS, any pointers on someone who might be familiar with this code and could help?

[2018-03-29 20:04] alexkeh opened #28611 "en_us.POSIX locale environment for .NET Core on Linux"
Does .NET Core support Linux in en_us.POSIX locale environment?

Based on [this commit](https://github.com/dotnet/corefx/commit/513efd86d5fb290098d6823b7b847cf50dd01951), which adds a regression test for a bug fix and it invokes CultureInfo("en-US-POSIX"). However, my team has run into a fundamental problem running .NET Core tests in Linux with en_us.POSIX locale. We have no issue with the en_us.U

[2018-03-29 20:07] wfurt commented on #28603
"bypassing proxies on localhost" Localhost should be bypassed if asked for. There is checkbox in network setting for that. Also note there is still pending PR for improving bypass processing on Windows.

[2018-03-29 20:16] rmkerr commented on #25640
That's interesting. Are those app.config settings available to the background service accounts & NT-style services you mentioned that don't have access to the registry?

[2018-03-29 20:16] danmosemsft commented on #28606
Same on the Ubuntu run.

I would guess we have a test hole, except @stephentoub [mentioned](https://github.com/dotnet/coreclr/pull/17196/commits/c5bb5ba79653dd7da805c4868c44b0ca2479b33d#r177873626) it made tests fail for him.

[2018-03-29 20:16] AndyAyersMS commented on #27740
Likely anyone on the jit team can investigate -- @RussKeldorph FYI

Things will go a lot faster if there's a crashdump available. I can't tell from the above if that's the case. Otherwise we'll have to try recreating the problem. Speaking of which is there a repro environment?

[2018-03-29 20:19] davidsh commented on #25640
Yes.   app.config works for any .NET Framework EXE. And these same XML settings can be made to machine.config which is a machine-wide config file for .NET.

.NET Core doesn't currently support any config file mechanisms right now except for some JSON style settings file(s) for appcontext switches.

[2018-03-29 20:21] jkotas commented on #28606
Ah I forgot - you are right that this one was combined with a test hole. It was found by System.Net.Http *outerloop* tests.

[2018-03-29 20:25] tannergooding opened #28612 "Consume the new C# 7.3 constraints if/where possible"
C# 7.3 is adding support for three new constraints:
* `unmanaged`
* `Delegate`/`MulticastDelegate`
* `Enum`

There are several APIs in CoreFX/CoreCLR which are emulating these constraints via runtime checks.

If possible (since it would be a compile time breaking change), it would be nice to update these methods to use the proper constraints where appropriate.

A simple `git grep TDelegate` and `g

[2018-03-29 20:25] joperezr commented on #25773
Is this a ASP.NET Web Application project? If so, please take a look at my comment [here](https://github.com/dotnet/sdk/pull/1712#issuecomment-377314726)

[2018-03-29 20:26] bartonjs commented on #28553
Let's see how well a checklist works for this:

* DES
  * DESCryptoServiceProvider
    * [ ] Already matches netfx
    * [ ] Needs work
* TripleDES
  * TripleDESCryptoServiceProvider
    * [ ] Already matches netfx
    * [ ] Needs work
  * TripleDESCng
    * [ ] Already matches netfx
    * [ ] Needs work
* Rijndael
  * RijndaelManaged
    * [ ] Already matches netfx
    * [ ] Needs work
* AES
  *

[2018-03-29 20:28] joshfree commented on #27891
Please note that these APIs shipped long ago in .NET Core 1.0.   We shouldn't be making breaking changes to the default overload behavior.  Let's stick to docs / guidance or analyzers for existing shipped APIs.

[2018-03-29 20:30] tannergooding commented on #28612
Some examples of this are:
* `System.Linq.Expressions.Expression<TDelegate>`
* `System.Runtime.InteropServices.Marshal.GetFunctionPointerForDelegate<TDelegate>`
* `System.Security.Cryptography.Asn1.AsnReader.GetEnumeratedValue<TEnum>`
* `System.ComponentModel.Composition.Expectations.GetEnumValues<TEnum>`
* `System.Enum.Parse<TEnum>`
* etc

[2018-03-29 20:33] karelz commented on #28603
@geoffkizer yep, that is no.1 for me too. I'll have someone to take a look tomorrow the latest.
If we need any changes in this space (Fiddler or missing HTTP layer events), I consider them 2.1 blocking. We would ideally include them in Preview2 as well (to make even our lives easier when we get feedback, or need to troubleshoot something).

[2018-03-29 20:39] maririos commented on #27740
If you have the jobName and the workItemName you could run the Repro Tool passing those parameters.
i.e. `helix-repro.exe -j=<jobName> -w=<workItemName> + the access tokens`

Ping me if you need help with that

[2018-03-29 21:04] tomeks666 opened #28614 "AppDomain SetPrincipalPolicy not implemented"
corefx/src/System.Runtime.Extensions/src/System/AppDomain.cs

public void SetPrincipalPolicy(PrincipalPolicy policy) { }

This is clearly unimplemented. Maybe [ObsoleteAttribute] could be added to spare people frustration.

[2018-03-29 21:06] danmosemsft commented on #27516
I think @jorive did not get this.

This should show the changes
https://benchview/trendline?build_selector=latest&count=2000&aggregate=arithmeticMean&filterTail=one&filterVal=100&interval=INTERVAL_MIN_MAX&rtids=[957]&archids=[23]&mpids=[1292]&cfgids=[2785,2706]&testids=[61647,61602,61698]&jobid=94550&

It takes a few sec to render. Let me know if you need a hand.

DcsPerformanceTest looks like it'

[2018-03-29 21:08] danmosemsft commented on #27512
https://benchview/trendline?build_selector=latest&count=2000&aggregate=arithmeticMean&filterTail=one&filterVal=100&interval=INTERVAL_MIN_MAX&rtids=[957]&archids=[23]&mpids=[1292]&cfgids=[2785,2706]&testids=[61647,61602,61698]&jobid=94550&

should show this

![image](https://user-images.githubusercontent.com/6385855/38113692-8f589e3e-335a-11e8-8394-4c557bc78c75.png)

Note it is possible to drill in

[2018-03-29 21:08] danmosemsft commented on #27512
Based on the graph it seems Windows matches 2.0 and Linux is improved. If that is not worth understanding further you can close this issue right now.

[2018-03-29 21:09] joshfree commented on #28612
cc: @VSadov @jaredpar

[2018-03-29 21:18] maririos commented on #27740
It is not in the url. If you are in MC is:
![image](https://user-images.githubusercontent.com/9868623/38114099-f85b7a54-335b-11e8-94ee-cdcbcda74efe.png)

If you have the logs, like `/home/helixbot/dotnetbuild/work/629aff01-20b2-4a00-90f6-6d8cba36b034/Work/9f8da0be-4e92-45b6-9df6-d943d54b9094/Unzip/RunTests.sh` it is the string after the word `Work`, so in this case: `629aff01-20b2-4a00-90f6-6d8cba

[2018-03-29 22:04] weshaggard opened #28620 "CoreFx test utility depends on Microsoft.DotNet.PlatformAbstractions"
@krwq @tarekgh @eerhardt added a dependency on Microsoft.DotNet.PlatformAbstractions to CoreFx.TestUtilities in https://github.com/dotnet/corefx/pull/24531. That cause a cycle in our build-from-source efforts so we have to figure out a solution to break that cycle.

For now I'm going to break the cycle by pinning to an existing version but we cannot do that in general because it requires us to hav

[2018-03-29 22:21] ianhays commented on #28553
## Net471
[code]

## Netcoreapp
[code]

## Differences
[code]

[2018-03-29 22:32] ianhays commented on #28553
I'm strongly in favor of having the implementations of an algorithm behave as closely as possible. So in this case we should either have 3DESCng and 3DESCsp both throw or have them both trim.

[2018-03-29 22:35] rmkerr commented on #28603
SocketsHttpHandler appears to be ignoring the default proxy configuration on Windows. I've configured both WinINet and WinHttp to default to the Fiddler proxy, and set UseProxy = true on the handler. I don't see any requests I make in Fiddler, and I can examine the handler to see that internally the proxy is actually null.

From recent experience (#25640) I know that the equivalent default proxy r

[2018-03-29 22:41] #25640 closed

[2018-03-29 22:44] bartonjs commented on #28553
@ianhays Cool, your test looks like the same conclusion I was building up to.

My personal opinion is that the real bug is within TripleDESCryptoServiceProvider:netfx (and a "wrong type" one in RijndaelManaged:netfx).  But I'm willing to sigh and add the compatibility thing where TripleDESCryptoServiceProvider:corefx will make a smaller copy (when needed) when passing the IV down to the real imple

[2018-03-29 22:45] RussKeldorph commented on #27740
@erozenfeld Could you see if you can get the repro and/or a crashdump and investigate?

[2018-03-29 22:48] ahsonkhan opened #28625 "RsaDecryptPkcs1WrongDataLength failing in CI with Assert.Throws() Failure on Debian"
From https://github.com/dotnet/corefx/pull/28615
Debian.87.Amd64.Open-x64-Release
https://mc.dot.net/#/user/dotnet-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/a9913ea9b9bd68f11ca8707204b7d20a6ab98cf9/workItem/System.Security.Cryptography.Csp.Tests/analysis/xunit/System.Security.Cryptography.Rsa.Tests.EncryptDecrypt_Span~2FRsaDecryptPkcs1WrongDataLength

[code]

cc @ba

[2018-03-29 22:49] pjanotti commented on #27740
@maririos the last PR hitting it reported `Copying core file core.35277 to /tmp/coredumps/core.29500 in case you need it` is it preserved somewhere?

[2018-03-29 22:59] maririos commented on #27740
Idk about the dumps. maybe @danmosemsft or @MattGal ?

[2018-03-30 00:00] jkotas commented on #28612
I do not think we will be able to add these constrains for any existing APIs because of this. I think this issue can be closed.

[2018-03-30 00:07] karelz commented on #28609
@caesar1995 that seems rather impactful - doesn't it mean that proxies won't work with IPv6 at all? Moving to 2.1 for now ...

Also, I am concerned about missing "Proxy-Connection: Keep-Alive" header - we should file separate bug IMO - @geoffkizer @stephentoub thoughts?

[2018-03-30 00:12] tannergooding commented on #28612
@jkotas, to be clear, many of these APIs have runtime checks that validate the constraint, so while you can do something like `GetFunctionPointerForDelegate(int)` it will always throw an exception at runtime.

My thought was: Given that any code not matching the more exact constraint would always fail anyways, it may be worth doing a compat-bar check on a case-by-case basis to see if we can add th

[2018-03-30 00:12] krwq commented on #22807
Another failure:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/10721/consoleText
[code]

[2018-03-30 00:14] tannergooding commented on #28612
That is, any code not matching the constraint is either:
* Doing control flow via exception handling
or
* Has dead code that never executes

[2018-03-30 00:16] karelz commented on #28605
Covered by #26494, please upvote that issue. Thanks!

[2018-03-30 00:16] #28605 closed

[2018-03-30 00:31] danmosemsft commented on #28606
@livarcocc @wli3 The coreclr fix arrived in 26329-08 in core-setup and I started up a core-setup build which should take about 90 minutes.

[2018-03-30 00:34] MisinformedDNA opened #28630 "Test failure: System.Diagnostics.Process.Tests"
(I'm new, so maybe I'm totally missing something, but I'm following the instructions as best I can and I keep getting test errors.)

So I (successfully) ran the build, made some changes to some libraries and started experiencing some issues. I wanted to get back to a good state, so I did

Error:

"testResults.xml" does not exist in the specified location.

With build.cmd taking 8 minutes and build

[2018-03-30 00:38] jkotas commented on #28612
I do not think your list is complete. It affects generic wrappers as well:

[code]

This will not compile unless I add the Delegate constrain to my method. And then all callers of my methods have to add the Delegate constrain too. I do not see why we would inflict this pain onto people.

[2018-03-30 00:41] #28539 closed

[2018-03-30 00:44] danmosemsft commented on #28614
@tomeks666 what are you trying to achieve? I see that Thread does not read the principal off the appdomain so SetThreadPrincipal is likewise not meaningful. I don't know much about principle based policy but this part at least does not seem wired up. @jkotas is this intended? Seems partly related to CAS but also to impersonation.

[2018-03-30 01:04] weshaggard commented on #28620
See https://github.com/dotnet/corefx/commit/fa9fe16c3e099faffe99d0a3301af0fa70dbe752 for how I plan to pin it for now.

[2018-03-30 01:04] ahsonkhan opened #28631 "CI tests failing with WindowsCryptographicException on Windows10"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/a9913ea9b9bd68f11ca8707204b7d20a6ab98cf9/workItem/System.Net.Http.WinHttpHandler.Unit.Tests

Windows.10.Amd64.Open-x64-Debug
[code]

cc @davidsh, @wfurt, @karelz, @danmosemsft

[2018-03-30 01:13] JimBobSquarePants commented on #25669
I see the same in Visual Studio 15.6.4 with C# 7.2 and it's very distracting. Any updates or workarounds I can use?

[2018-03-30 01:24] eerhardt commented on #27486
Closing as this work is complete for 2.1.

[2018-03-30 01:24] #27486 closed

[2018-03-30 01:39] davidsh commented on #28631
cc: @bartonjs

This looks like a regression in the X509Certificates component.  I think it should be investigated before by that team before moving it to Future.

[2018-03-30 01:43] eerhardt commented on #28620
I would absolutely LOVE for this to happen.

However, I don't think it should go wholesale into corefx.  I think pieces of it should be removed altogether (I'm looking at you [HashCodeCombiner](https://github.com/dotnet/core-setup/blob/master/src/managed/Microsoft.DotNet.PlatformAbstractions/HashCodeCombiner.cs) and [Platform](https://github.com/dotnet/core-setup/blob/master/src/managed/Microsoft.

[2018-03-30 01:52] #19836 closed

[2018-03-30 01:56] jkotas commented on #28614
I think that this is something that could have been implemented in more compatible way.

[2018-03-30 02:09] bartonjs commented on #28631
Actually, that sounds like the hosting model for the test has changed.  But the results won't load right now, so it's hard to ask an intelligent question about what has changed.

[2018-03-30 02:53] ahsonkhan commented on #25669
@JimBobSquarePants, can you please file a new issue with your scenario (along with a csproj that repros and output from dotnet --info)?

I can take a look and provide an update or workaround. Thanks!

[2018-03-30 02:54] sidshetye commented on #23629
@Timovzl, I think we've elicited a lot of technical feedback and design requirements around the [last proposal](https://github.com/dotnet/corefx/issues/23629#issuecomment-368179118). Thoughts on implementation and release?

[2018-03-30 02:56] ahsonkhan commented on #28631
The link to MC no longer points to the test failure. I captured the stack trace while filing the issue (there were a few failing tests), but it seems like an intermittent failure.

cc @dotnet/dnceng, @MattGal

[2018-03-30 02:57] caesar1995 commented on #28609
I don't know, it unlikely doesn't work. I can do a testing on this.

[2018-03-30 03:05] vincentshow commented on #6849
You can use ProgressMessageHandler when creating httpclient as it has HttpSendProgress and HttpReceiveProgress methods to tell you current progress. Something like this:
[code]

[2018-03-30 04:22] jonfortescue commented on #28631
@ahsonkhan There's currently a Kusto outage that is affecting MC. The Kusto team is actively working to restore service and the issue should be resolved by tomorrow (Friday).

[2018-03-30 05:18] mogikanin commented on #28597
Yeah, thanks! Don't know why we used `TargetFramework` instead of `TargetFrameworkVersion`, probably it was silly typo :)

[2018-03-30 05:26] benaadams commented on #28606
@danmosemsft yeah were a couple test gaps, adding them now

[2018-03-30 06:29] Petermarcu opened #28641 "Awit use delay Windows server 2012 R2"
@a641545621 commented on [Tue Mar 27 2018](https://github.com/dotnet/core/issues/1389)

Response response =  _client.Execute(request).Result;
Response response = awit  _client.Execute(request);
When using Awit to get results, there is no problem with the Win10 system, but when using Windows Server 2012 R2, occasionally it takes more than 20 seconds or more to wait. If you use .Result directly, you

[2018-03-30 06:31] Petermarcu opened #28642 "WebRequest.DefaultWebProxy in .net core for corss platform"
@nQuantPlatforms commented on [Sat Mar 24 2018](https://github.com/dotnet/core/issues/1381)

# Issue Title

WebRequest.DefaultWebProxy in .net core for corss platform

# General
  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp2.0</TargetFramework>
  </PropertyGroup>
<PropertyGroup>
    <RuntimeIdentifiers>win10-x64;osx-x64;linux-x64;</RuntimeIdentifiers>
</Propert

[2018-03-30 08:06] hozjanmarko commented on #28504
It seems i have a long way to go :)
Could you please provide me with some hints how a could generate a valid signature? I have to consume a "wcf" service that expects this "SHA1RSA" signature(rather than using ws* secure). They provided me with the code snippet that i posted in my original post.

[2018-03-30 08:19] tmds commented on #25916
The mono implementation has the downside that interactive children won't echo.
It has the upside it is very simple to implement.
Maybe we should consider this as an option too?

[2018-03-30 10:21] qmfrederik commented on #28365
@karelz I just got stung by the exact same behavior; do you think it's possible to re-open this issue?

[2018-03-30 13:20] bartonjs commented on #28504
[code]

[2018-03-30 13:55] MarcoRossignoli commented on #28398
@safern @danmosemsft i stole a mac, i tested `System.ComponentModel.Composition.Tests` with `../../../Tools/msbuild.sh /v:m /t:rebuildandtest /p:OSGroup=OSX /p:ConfigurationGroup=Debug /p:ArchGroup=x64` i didn't get any fail.

[2018-03-30 14:17] jkotas commented on #28614
@tomeks666 We have https://github.com/dotnet/platform-compat Roslyn analyzer that emits warnings like what you are suggesting.

This API was likely left unimplemented by accident because of the API name suggests that it is related to CAS, but it really is not. We should fill in the implementation.

[2018-03-30 14:44] stephentoub commented on #25916
It has the upside it is very simple to implement.
Maybe we should consider this as an option too?

That's effectively what we originally did. We changed it due to complaints.

[2018-03-30 14:45] Joe4evr commented on #28450
But depending on the implementation, indexing into it might be the exact opposite of what you want. Great example here is the Immutable collections: In order to efficiently make changes to these collections, they are really just a linked list. Because of this, indexing into an `ImmutableArray<T>` is actually O(n) because it's gonna have to walk the list of nodes (incredibly sub-optimal), whereas t

[2018-03-30 14:55] svick commented on #28450
@Joe4evr

I think you meant `ImmutableList<T>`? `ImmutableArray<T>` is a wrapper over an array, so its indexer is O(1).

And `ImmutableList<T>` is a tree, not a linked list, so indexing into it is O(log n).

But that doesn't change your point that there are collections for which using the indexer is significantly slower than using the numerator.

[2018-03-30 14:58] Joe4evr commented on #28450
Whoops. Yeah, it's been a while since I watched that vid so the details were a bit hazy.

[2018-03-30 15:00] xlegalles commented on #28591
I tried to make a simple app to reproduce the problem and discovered that the problem was solved if all C++ dependencies (VC140) are also in the executable directories: so it may be more related to the installation of the C++ runtime than anything else. So I'm sorry and confused about that!
Although, because it worked in some situations, it was a bit confusing.

[2018-03-30 15:00] #28591 closed

[2018-03-30 15:04] #26834 closed

[2018-03-30 15:08] davidsh commented on #28642
This is basically a duplicate of https://github.com/dotnet/corefx/issues/16695

[2018-03-30 15:17] stephentoub commented on #28365
This is a regression in 2.1 from 2.0.

Simple test:
[code]

On Ubuntu 17.10 on .NET Core 2.0 I get this:
[code]
whereas just changing to use .NET Core 2.1 Preview 1 produces this:
[code]
The key difference is:
[code]
vs
[code]
cc: @Drawaes, @bartonjs

[2018-03-30 15:38] karelz commented on #28641
Do you have a small standalone repro that would demonstrate the problem?
Are you able to reproduce it on more than 1 VM / physical machine?

[2018-03-30 15:41] karelz commented on #28642
@davidsh how is it different from #26494? Is that a duplicate too?

[2018-03-30 15:41] karelz commented on #28642
Duplicate of #16695

[2018-03-30 15:41] #28642 closed

[2018-03-30 15:47] davidsh commented on #28642
Yes I would say it is essentially a duplicate of the same problem of exposing the calculated proxy for a given input destination Uri.

Most apps don't really need that directly since the HTTP stacks themselves know how to detect proxy settings and then calculate the proxy based on destination Uri (which might involve PAC file processing). But some custom apps like to know the proxy Uri separately

[2018-03-30 15:54] stephentoub commented on #28614
It shouldn't be hard to fill in an implementation, except for the WindowsPrincipal dependency, which could either be omitted, utilize reflection, or force us to push WindowsPrincipal down in the layers.

[2018-03-30 15:55] karelz commented on #27876
Triage: We decided to dig a bit more into the root-cause of 2. and 3. above. Let's find out where the difference is and come up with proposal how to address that. Then we can make the final call if we're going to attempt it in 2.1.

Given that this is larger work, came quite late (as we hit problems in environment setup), marking as Post-ZBB.

[2018-03-30 15:59] karelz commented on #28365
Late reopening - adding Post-ZBB.

[2018-03-30 16:06] stephentoub commented on #28603
The problem is that this logic is wrong:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpSystemProxy.cs#L106-L125
It gets passed a value like "http=127.0.0.1:8888;https=127.0.0.1:8888" that it's then unable to handle and ends up returning null to indicate that there isn't a proxy.  That needs to be fixed.

[2018-03-30 16:13] rmkerr commented on #28603
Thanks for taking a look! I'll go ahead and fix that parsing code.

[2018-03-30 16:31] tarekgh commented on #28641
Also, you may use Perfview tool to collect some data from the run when experiencing such delay which can help telling what could be the problem.

https://github.com/Microsoft/perfview/blob/master/documentation/Downloading.md

[2018-03-30 16:34] jkotas commented on #28614
I think it should use reflection.

[2018-03-30 16:41] Tratcher commented on #28603
FYI I found a functional alternative to Microsoft Message Analyzer for loopback traces: Wireshark + NpCap.

[2018-03-30 16:43] karelz commented on #16695
Duplicate of #26494

[2018-03-30 16:43] #16695 closed

[2018-03-30 16:46] karelz commented on #28642
OK, closed the other one as dupe as well. We should come up with unified strategy for proxies.

[2018-03-30 16:53] #28445 closed

[2018-03-30 17:07] stephentoub commented on #28138
Decision here, at least for now, is to simply remove the buffer argument.  The ManagedWebSocket implementation now just creates a small buffer for use with headers and control payloads, but actual message payloads are written directly to the caller's buffer passed to ReceiveAsync.  If subsequently we determine we need to add overloads that provide more fine-grained control here and for how sends a

[2018-03-30 17:10] Tratcher opened #28648 "Bad request created when a 401 is received after a Negotiate login"
If SocketsHttpHandler is used to login using Negotiate and a 401 is received after a successful login then an additional, invalid login request is sent and a 400 Bad Request response is received.

[code]

This loop needs to terminate if there's no auth parameter to send:
https://github.com/dotnet/corefx/blob/06aa6f0ce4cdf78985f029f218007a7d55f8965f/src/System.Net.Http/src/System/Net/Http/SocketsHt

[2018-03-30 17:12] AtsushiKan commented on #28100
This should be closed and forwarded to ASP.NET but I don't know which repo to do that in. Changing the milestone so it stops showing up a 2.1 ZBB blocker in CoreFx.

[2018-03-30 17:24] danmosemsft commented on #28100
@davidfowl where should this move to

[2018-03-30 17:30] karelz commented on #28138
Affected APIs - stripping the optional `buffer` argument:

[code]

[2018-03-30 17:33] anurse commented on #28100
HostingEnvironment is at https://github.com/aspnet/Hosting.

[2018-03-30 17:35] danmosemsft commented on #28630
Yeah quickest thing is `clean -all` (I think that is kill Roslyn process + `git clean -fdx`) and then do build.cmd then buildtests.cmd.

You can build/test in individual libraries. This is what we do after running build* from the root once. See https://github.com/dotnet/corefx/blob/8e842fa29e14694cca96c6e39a38199c55a3a02e/Documentation/project-docs/developer-guide.md#tests

When you pull, you some

[2018-03-30 17:37] danmosemsft commented on #28614
We see 4% of apps scanned for compat have calls to this method. (It seems negligible use in libraries though). However  I do not recall other reports of hitting this.

@tomeks666 does this block adoption for you? What is the impact?

[2018-03-30 17:46] safern commented on #28398
I've ran this multiple times on my mac and haven't been able to repro... also it's been a week already and we haven't had any reports of this failing again on CI. I will close it and if we see it again then we can re-open and try to use the repro tool.

[2018-03-30 17:51] davidfowl commented on #28138
Assigned you @stephentoub I've already reacted to the ASP.NET change

[2018-03-30 17:51] jbe2277 opened #28651 "System.Composition 1.1.0 is broken with .NET Native"
After upgrading my open source UWP App to the latest NuGet Package version it didn’t work anymore in Release (.NET Native) mode.
[Source version that shows this issue](https://github.com/jbe2277/waf/tree/4dc2be00863c80905896ea7f9bce5f4157a3929f/src/NewsReader)

In Debug (JIT) mode the App works correct. But when I build it in Release mode then I get a NullReferenceException during startup at this

[2018-03-30 17:54] MisinformedDNA commented on #28630
So I already had run

[code]

Would running `build-tests.cmd` out of order really cause issues?

[2018-03-30 17:56] danmosemsft commented on #28382
fixed by https://github.com/dotnet/corefx/pull/28477

[2018-03-30 17:56] #28382 closed

[2018-03-30 17:57] MarcoRossignoli commented on #28398
@safern "repro tools"?

[2018-03-30 18:03] stephentoub commented on #27496
The problem appears to be the `[MethodImpl(MethodImplOptions.NoInlining)]` that we put onto `Write(string)` at the last minute.  When I remove that, throughput on this `Write(twoCharString)` benchmark more than doubles.

[2018-03-30 18:13] MisinformedDNA commented on #28630
Also, are these instructions still valid?

From https://github.com/dotnet/corefx/wiki/Development-environment-setup-for-Windows

I tried that and then it failed earlier in the build instead of in build-tests.

[2018-03-30 18:15] weshaggard commented on #23743
@ericstj I know you did your package validation work is there more you plan to do for this issue?

[2018-03-30 18:17] winzig opened #28652 "SqlClient CryptographicException is back on High Sierra 10.13.4"
My issue today seems the same as this: https://github.com/dotnet/corefx/issues/22453

Yesterday (on High Sierra 10.13.3) my .net core 2.0 web project ran fine, connecting to SQL Server.

Last night my machine was updated to 10.13.4, and now this morning when I run the project I get this error:

[code]

Anyone else on 10.13.4 able to successfully connect to SQL Server this morning?

[2018-03-30 18:17] weshaggard commented on #26014
@leecow @terrajobst @richlander is there anything we plan to do to improve this in 2.1 release?

[2018-03-30 18:29] joperezr commented on #23743
yeah, what we talked about is that once he fixed all of the current issues with his tests, I would take them and have them run either on Official builds or on Helix daily. So that is the missing piece and it is what I'm working on now.

[2018-03-30 18:30] #27981 closed

[2018-03-30 18:37] stephentoub commented on #27496
The issue appears to be due to the inlining of string.AsSpan.  When it gets inlined into the benchmark call site, things gets faster.

If I change this:
[code]
to this:
[code]
        public override void Write(string value)
        {
            WriteSpan(value.AsSpan());
        }

        [MethodImpl(MethodImplOptions.NoInlining)] // prevent WriteSpan from bloating call sites
        private vo

[2018-03-30 18:40] stephentoub commented on #27496
@AndyAyersMS, any suggestions on this one?  I assume this ends up being related to the other issues we've seen around initialization of spans.

[2018-03-30 18:43] stephentoub commented on #28537
Failed again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/68ada12d84ac2fe26b9fe46955506525a61b8a40/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_DefaultProxyCredentials_Test~2FProxyExplicitlyProvided_DefaultCredentials_Ignored
[code]

[2018-03-30 18:48] stephentoub commented on #28631
This is failing across a variety of tests, e.g. all of the SQL tests here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/68ada12d84ac2fe26b9fe46955506525a61b8a40/workItem/System.Data.SqlClient.Tests

[2018-03-30 18:52] geleems commented on #26382
The fix https://github.com/dotnet/corefx/pull/28618 for this issue has been merged to master. Closing the issue.

[2018-03-30 18:52] #26382 closed

[2018-03-30 18:53] pjanotti commented on #27740
Clarification: the original crash regarding `System.Xml.XmlSchemaSet.Tests` with exit code 134 had its last repro on 2018-03-17T19:15:57.085. It still hits `System.Xml.XmlSchema.XmlSchemaValidatorApi.Tests` though. Some of the other crashes listed above w/ exit code 134 are for:

* System.Runtime.Tests
* System.Text.Encoding.Tests
* System.IO.FileSystem.Tests

/cc @karelz @danmosemsft

[2018-03-30 18:53] geleems commented on #27974
The fix https://github.com/dotnet/corefx/pull/28369 for this issue has been merged to master.
Closing the issue.

[2018-03-30 18:53] #27974 closed

[2018-03-30 18:56] MattGal commented on #27740
Unless a crash is close to 100% likely to repro every time, using the repro tool won't give you the dump from logs.  Automated dump uploading was handled by Dumpling previously and despite suggestions noone wanted to use the built-in upload_result script to put dumps in the results container for runs.  Not much I can do unless someone wants to invest in fixing this.  (@DrewScoggins  is dumpling go

[2018-03-30 18:57] seriouz commented on #19773
This is a must-have feature when dotnet core should be a modern, useful and competitive language!

[2018-03-30 18:57] AndyAyersMS commented on #27496
I'll have to take a look at the codegen and see what's up.

[2018-03-30 19:02] saurabh500 commented on #11958
Implemented by @joelbraun

[2018-03-30 19:02] #11958 closed

[2018-03-30 19:03] saurabh500 commented on #10706
Added in https://github.com/dotnet/corefx/pull/20883

[2018-03-30 19:04] #10706 closed

[2018-03-30 19:10] jkotas commented on #27496
I doubt there is a way to 100% match the perf characteristics of the original code in all cases without duplication. But maybe Andy can come up with something creative...

Using ForceInline as replacement for C macro tends to get you in troubles. https://github.com/dotnet/corefx/issues/28180 is another example. I am sure that we have other places where it is problematic that we do not know about y

[2018-03-30 19:16] danmosemsft commented on #27740
@anipik is signed up to do the work to bypass dumpling and upload dumps - he has just been fixing ZBB issues. If the callstack isn't sufficient, I would grab a repro box and loop the test under a debugger.

[2018-03-30 19:17] danmosemsft commented on #27740
The real fix as you say is dumpling.

[2018-03-30 19:18] danmosemsft commented on #27740
I see an email offline from @DrewScoggins that the dumpling work should be wrapped up this week.

[2018-03-30 19:20] krwq commented on #27740
@danmosemsft this week as end of today or next week?

[2018-03-30 19:21] danmosemsft commented on #27740
Today, but @DrewScoggins needs to give an update.

[2018-03-30 19:21] DrewScoggins commented on #27740
Today

[2018-03-30 19:24] DrewScoggins commented on #27740
The uploading piece I just turned back on. The viewing piece should be on later today, I am just waiting to get my CNAME so that I can get SSL on.

[2018-03-30 19:32] weshaggard commented on #23743
Can we enable them optionally at the end of the allconfiguration build leg and just enable that option in CI/official builds?

[2018-03-30 19:35] #28558 closed

[2018-03-30 19:35] #28559 closed

[2018-03-30 19:37] caesar1995 commented on #27527
Manually run the test several times through repro tool, no failure. Repro tool will quit itself during hang/completed command sometimes (at least in RedHat69), makes it hard to run the test in a loop.

Checked Kusto, no failure after 03/13 from all test sources. Likely server side issue (not properly sending response), since it's not disabled test, it could has been resolved. We can postponed to f

[2018-03-30 19:41] davidsh commented on #27527
This test uses the loopback server. So, I don't see how it could be a "server side issue".
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.SslProtocols.cs#L96

[2018-03-30 19:41] stephentoub commented on #28631
@dotnet/dnceng, has something changed in the image used for Windows.10.Amd64.Open-x86?  We're seeing this failure across lots of different tests and lots of different runs.  Maybe one or more machines got into a bad state?

[2018-03-30 19:42] karelz commented on #28138
@davidfowl do you mean that ASP.NET does not use the `buffer` arg anymore? Can you please link the PR(s) for tracking purposes? Thanks!

[2018-03-30 19:42] #27732 closed

[2018-03-30 19:43] danmosemsft commented on #28631
@safern

[2018-03-30 19:58] #27972 closed

[2018-03-30 19:59] krwq commented on #27740
@danmosemsft I'm only trying to get the repro for the JIT team here but we can leave it assigned to me until then

[2018-03-30 20:00] danmosemsft commented on #27740
Yeah that's fine...if it's not actionable today then it's not.

[2018-03-30 20:05] shaunluttin opened #28655 "ParallelEnumerable.Aggregate XML documentation appears to be incorrect."
The [summary documentation](https://github.com/dotnet/corefx/blob/a38c5000be0d4b98445ef43d642614d0e8d8f82d/src/System.Linq.Parallel/src/System/Linq/ParallelEnumerable.cs#L1655) for the `ParallelEnumerable.Aggregate` method says:

The implementation, however, delegates to the `PerformSequentialAggregation` method, which applies the accumulator function sequentially.

Unless there is something I'm m

[2018-03-30 20:06] leecow commented on #26014
I would very much like to begin producing aggregated change lists for every package as part of the build pipeline but need to discuss how this could be implemented.

[2018-03-30 20:18] danmosemsft commented on #28630
@MisinformedDNA If you don't see a message about DIA in the console, you can disregard that.

I don't know, but it is usually quicker to jsut clean build while I do something else, rather than try to rationalize what it may have done.

[2018-03-30 20:19] danmosemsft commented on #28652
@bartonjs

[2018-03-30 20:26] KKhurin commented on #27980
Fixed with https://github.com/dotnet/corefx/pull/28636

[2018-03-30 20:26] AndyAyersMS commented on #27496
SysV ABI struct passing conventions are quite different than the Windows ABI conventions, and that often leads to perf differences. And the jit is not very good yet at using the SysV rules for best perf.

Looking at windows codegen now...

[2018-03-30 20:39] MattGal commented on #28631
@stephentoub the machines used on that queue have not changed in any way since 1/22, when we moved to the Azure Gallery image "2016-Datacenter", version "2016.127.20171217" .

Machines are regularly, but not always, recycled and redeployed using identical scripts and images, but it's possible for either malformed work items to make stateful changes on machines (which could live a while before recy

[2018-03-30 20:46] weshaggard commented on #27980
@KKhurin I didn't see you update the baseline file in that PR please remove the entries in that baseline.

[2018-03-30 20:55] rmkerr commented on #28603
@stephentoub I was testing a similar implementation to the one used in .NET Framework and ran into this exception when I tested it with an https proxy:
[code]
That sure looks intentional to me, but it contradicts this comment in `HttpSystemProxy`
https://github.com/dotnet/corefx/blob/f6ff5c214bc9ad1d409913c789398be3e5546948/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpSystemProxy

[2018-03-30 20:59] kasper3 commented on #27529
I am not sure about the use-case of all the APIs that will use this implementation, but is interface name testing using system call really necessary at address parsing stage? For example, user can have list of IP addresses of other zone and just want to parse them (`bool VerifyAddressIsValid(string address)` in my code for example). However, if we use this IPv6 address with interface name in HttpC

[2018-03-30 21:09] #28553 closed

[2018-03-30 21:10] benaadams opened #28658 "NETFX x86 Release Build not running a set of tests"
Can't workout which ones, but open any recent PR and in the logs will be
[code]
So its outputting the usage rather than running

[2018-03-30 21:13] joshfree commented on #28631
apparently we don't have the blocking-clean-ci label any longer, else I would have used that instead of blocking-release.

@bartonjs can you PTAL?

[2018-03-30 21:18] danmosemsft commented on #28631
"temporary profile" suggests that the profile of the user got corrupted.

[2018-03-30 21:18] krwq commented on #24553
Fixed with https://github.com/dotnet/corefx/pull/28278

[2018-03-30 21:18] #24553 closed

[2018-03-30 21:19] karelz commented on #28543
Given this issue was discovered very close to ZBB cut off (3/29) and we couldn't finish the fix yet due to other higher priority bug fixes, marking it as Post-ZBB.

[2018-03-30 21:21] MattGal commented on #28631
@danmosemsft , Maybe.  Or the context in which the process being started got affected.  I'll be investigating shortly, it should be pretty clear if user profile is the issue as it will form a pattern on the machines running these work items.

[2018-03-30 21:21] bartonjs commented on #28631
That error is issued when creating persisted keys (aka opening a PFX) and [GetProfileType](https://msdn.microsoft.com/en-us/library/windows/desktop/bb762279(v=vs.85).aspx) reports PT_TEMPORARY (without PT_ROAMING).

Maybe there's a test somewhere that's changing the user profile mode?  Maybe it's just one bad machine?

[2018-03-30 21:21] pjanotti commented on #27740
@RussKeldorph @erozenfeld I was able to get some core dumps in my Ubuntu 16.04 VM for `System.Xml.XmlSchemaValidatorApi.Tests` let me know how to better make them available to you.

[2018-03-30 21:23] #28138 closed

[2018-03-30 21:29] karelz commented on #27527
OK, let's monitor how frequently it will fail from now on. Future milestone is ok.

[2018-03-30 21:32] danmosemsft commented on #27484
https://benchview/trendline?build_selector=latest&count=2000&aggregate=arithmeticMean&filterTail=one&filterVal=100&interval=INTERVAL_MIN_MAX&rtids=[957]&archids=[23]&mpids=[1292]&cfgids=[2785,2706]&testids=[61761,61768,61770,61771,61769,61777,61762,61775,61767,61779,61776,61766,61778,61773,61772,61765,61764,61774,61763,61786,61788,61789,61787,61795,61780,61793,61785,61797,61794,61784,61796,61791,6

[2018-03-30 21:34] danmosemsft commented on #27483
This shows the Jan 9 regression

https://benchview/trendline?build_selector=latest&count=2000&aggregate=arithmeticMean&filterTail=one&filterVal=100&interval=INTERVAL_MIN_MAX&rtids=[957]&archids=[23]&mpids=[1292]&cfgids=[2785,2706]&testids=[61761,61768,61770,61771,61769,61777,61762,61775,61767,61779,61776,61766,61778,61773,61772,61765,61764,61774,61763,61786,61788,61789,61787,61795,61780,61793,6178

[2018-03-30 21:36] danmosemsft commented on #27483
@mconnew

I don't believe @valenis has the right bracket above. This regressoin is caused by
https://github.com/dotnet/corefx/compare/b542758a665b74398ba3448b8039800f3bc139f1...dotnet:697e2b910e6cccbc1f3d58be111e309db4823ab7

which brackets only one change, this one:

 @krwq
Harden hashing in Xml NameTable (#26241)
697e2b9

[2018-03-30 21:37] stephentoub commented on #27496
Thanks, Andy.

[2018-03-30 21:39] ericstj commented on #23743
We could, but it will make those builds really long.  On my dev box with pciExpress SSD it still takes 15 minutes to run everything.  I bet they wouldn't do so well on a VM.

[2018-03-30 21:39] danmosemsft commented on #27483
Regression size is 10-30% across several XML deserialization scenarios. Not all (depends on type?) and does not show up in serialization.

[2018-03-30 21:40] MisinformedDNA commented on #28630
OK, I spun up a Win10 VM on Azure. Installed VC2017 will all necessary components and pulled the repo. Ran `build.cmd` and got:

Any ideas?

[2018-03-30 21:41] danmosemsft commented on #27483
https://github.com/dotnet/corefx/issues/27636 ? @adamsitnik

[2018-03-30 21:47] krwq commented on #27483
A little perf regression is expected because of better hashing used but 30% is slightly more than I'd have expected. @adamsitnik do you remember in what cases did you see regression and in which improvement?
I'm not sure how much further we would be able to optimize Marvin hashing.

[2018-03-30 21:48] AndyAyersMS commented on #27496
First thing that jumps out is that
[code]
is not inlined.

So calling this string conversion method and then passing the resulting span to a callee incurs some prolog overhead, as the spans returned or passed by reference require prolog zeroing. In the "fast" variant this zeroing happens in the benchmark method outside the timing loop and so doesn't impact the perf results.

In the current/slow ve

[2018-03-30 21:49] MattGal commented on #28631
After some queries, this always fails on wuw10o7mi000DSG.  I'm deleting that VM now, it shouldn't do this again. I'll review the machine's history in case there's something to be learned from it.

This problem may happen relatively often, we simply would have recycled the machine sooner if there were not so much work in the queue.

[2018-03-30 22:07] GrabYourPitchforks commented on #27824
Yes, this would be done as part of https://github.com/dotnet/docs/issues/4823. @ektrah has already provided valuable feedback on the draft at Gist, and it will be reopened for community feedback when the docs PR comes in.

[2018-03-30 22:07] #27824 closed

[2018-03-30 22:14] #28509 closed

[2018-03-30 22:15] joperezr commented on #23743
As discussed with both of you offline the plan is as follows:
 - I will plug in the tests to the `-allConfigurations` leg and send out a PR to try to see how long it would take for CI machines to run these tests.
 - If the time of the allConfigurations leg is acceptable, then we won't do anything else.
 - On the other hand, if it takes too long to run the tests, then I will add a `-SkipTests` and

[2018-03-30 22:26] Drawaes commented on #28365
I should be able to take a look tonight

[2018-03-30 22:35] karelz commented on #27740
Reopened recently, marking as Post-ZBB

[2018-03-30 22:35] pjanotti commented on #23768
No repros in 500 local runs on Windows and Ubuntu 16.04, nor on the 4 attempts on a PR trying to get a repro. I will give more tries in the PR but this should be safe to move to future.

[2018-03-30 22:42] wli3 opened #28662 "[CentOS] Failure to load Microsoft.Win32.Primitives causes restore failing frequently"
This is blocking CLI PR

https://github.com/dotnet/cli/pull/8893

https://ci.dot.net/job/dotnet_cli/job/release_2.1.3xx/job/debug_centos7.1_x64_prtest/181/testReport/(root)/(empty)/Microsoft_DotNet_New_Tests_GivenThatIWantANewAppWithSpecifiedType_TemplateRestoresAndBuildsWithoutWarnings_language___C____projectType___mvc___skipSpaWebpackSteps__False_/

[code]

Full:
[code]

[2018-03-30 22:44] karelz commented on #23768
We should try to re-enable the test then. Let's do it after integration into release/2.1 just in case (we do not want to disrupt the test results) - marking as Post-ZBB

[2018-03-30 22:44] kasper3 commented on #28658
From https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/10774/consoleText

[code]

[2018-03-30 23:01] weshaggard commented on #26014
This is more a release management thing and not really code changes so marking Post-ZBB.

[2018-03-30 23:03] weshaggard commented on #23743
Moving to Post-ZBB as all that is left is to automate the checks the code changes for the produce are believed to be done.

[2018-03-30 23:03] MattGal commented on #28631
I added some notes in the linked issue in core-eng, but I don't think there's any evidence that a test work item caused this issue.  Having never seen it before, it's hopefully just a flaky VM.

[2018-03-30 23:04] bartonjs commented on #28652
Confirmed.  Sigh.  Looking into why.

[2018-03-30 23:04] weshaggard commented on #23743
Actually @joperezr lets use https://github.com/dotnet/corefx/issues/17346 to track the automation of the work.

[2018-03-30 23:04] #23743 closed

[2018-03-30 23:05] weshaggard commented on #17346
Moving to Post-ZBB as the work left is to automate to package validation but no expected product changes.

[2018-03-30 23:16] KKhurin commented on #27980
https://github.com/dotnet/corefx/pull/28665

[2018-03-30 23:25] akoeplinger opened #28667 "NamedArgumentTests.cs in src/Microsoft.CSharp/tests doesn't reset Console.Out"
Tests in that file are setting Console.Out to a custom stream but don't reset it at the end:
https://github.com/dotnet/corefx/blob/e3694f9b8a69d21d1cb0e30412b7e52079ae69d6/src/Microsoft.CSharp/tests/NamedArgumentTests.cs#L369-L370

This results in the following output when running the tests:

[code]

Note that the `Finished:    Microsoft.CSharp.Tests` or the Test Result Summary isn't visible.

The

[2018-03-30 23:26] benaadams commented on #28658
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/10752/consoleFull
[code]

[2018-03-30 23:28] benaadams commented on #28658
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/10786/consoleFull
[code]

[2018-03-30 23:29] safern commented on #28658
Actually nobody changed it... it is a System.Diagnostics.Process test that is starting a process with the current exe which is xunit.console.exe and that output is coming from the test that is calling xunit.console.exe from a process, see:

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20180330.06/workItem/System.Di

[2018-03-30 23:30] AndyAyersMS commented on #27496
Some data from various combinations, measured locally:

StreamWriter  |  Benchmark    |   Perf  |
------------: | -----------:  | -----:  |
current       |     current   |   286   |
modded        |     current   |   161   |
current       |    noinline   |   302   |
modded        |    noinline   |   342   |

So if we update the benchmark (via a noinline wrapper) to not allow the prolog costs to esc

[2018-03-30 23:30] safern commented on #28658
Note that the tests are indeed running:

[code]

[2018-03-30 23:31] danmosemsft commented on #28630
Hmm maybe this fix helps? https://stackoverflow.com/questions/47797510/the-getreferencenearesttargetframeworktask-task-was-not-found

Seems like a VS issue.

[2018-03-30 23:34] benaadams commented on #28658
Ah, makes sense.

Should it run something different so if a test was going wrong by providing no input it would be seen in the logs more easily? Or redirect and eat the processes std output?

[2018-03-30 23:36] tarekgh commented on #28033
Thanks @giacomociti for your patience. Here is what is going on and why you see more items processed even after throwing the exception:

In your Run method:

[code]

If you look at the doc of TransformBlock.SendAsync https://msdn.microsoft.com/en-us/library/hh194681(v=vs.110).aspx it says

[code]

That means SendAsync is just posting the request to the target and this request will get processed la

[2018-03-30 23:36] #28033 closed

[2018-03-30 23:36] safern commented on #28658
We're on the transition of running NETFX tests in Helix which will cause to have separate logs per test project. However I agree that we should fix this so that we don't have a dirty console.

I just need to figure out which is the test that calling xunit.console.exe (just a little debug session).

[2018-03-30 23:45] danmosemsft commented on #28658
You can set the showprogress flag

[2018-03-30 23:45] karelz commented on #28114
We've got very close to zero 2.1 ZBB bugs today - we're down to **just 21 issues for ZBB!** (excluding exceptions and bugs filed after 3/28):

* **2.1 ZBB bugs:** **21** = [18](https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+milestone%3A2.1.0+created%3A%3C2018-03-29+-label%3APost-ZBB) + [0](https://github.com/dotnet/coreclr/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen

[2018-03-30 23:46] danmosemsft commented on #28658
this one maybe? note comment
[code]

[2018-03-30 23:46] krwq commented on #27740
Talked with @erozenfeld offline, he will investigate it today/Monday

[2018-03-30 23:46] safern commented on #28658
In NETFX doesn't work because we use the xunit's runner not our custom one. That flag was added by us

[2018-03-30 23:49] safern commented on #28658
Looks like it, because the current process is xunit.console.exe and we're calling GetCurrentProccessName()

[2018-03-30 23:50] krwq commented on #28585
@karelz, ok to move it to 2.1 with Post ZBB label?

[2018-03-30 23:56] bartonjs commented on #28652
It looks like they've made some fundamental changes to X509Chain processing in 10.13.4.

[2018-03-31 00:13] dotnet-mc-bot opened #28668 "Test failure: System.Diagnostics.Tests.ProcessTests/ProcessStart_OpenFileOnLinux_UsesSpecifiedProgram(programToOpenWith: \"nano\")"
Opened on behalf of @danmosemsft

The test `System.Diagnostics.Tests.ProcessTests/ProcessStart_OpenFileOnLinux_UsesSpecifiedProgram(programToOpenWith: \"nano\")` has failed.

System.ComponentModel.Win32Exception : No such process

        Stack Trace:

           at System.Diagnostics.Process.Kill() in /root/corefx-1541111/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs:line

[2018-03-31 00:16] danmosemsft commented on #28668
This means it got this far
[code]
At which point the PID was rejected by kill(). Note the program it opens is nano/vi so it should not exit by itself.

@tmds thoughts?

[2018-03-31 00:20] danmosemsft commented on #28668
Same on RH on 3/26.

Also on RH but today on a different build:
[code]
That is on `                    Assert.Equal(programToOpenWith, px.ProcessName);`

Both failures are consistent with the process just spontaneously quitting already. In the second case it possibly never started. But perhaps there is something else going on.

[2018-03-31 00:21] #28574 closed

[2018-03-31 00:25] #27980 closed

[2018-03-31 00:37] karelz commented on #28585
Also, issues created after 3/28 automatically don't count against ZBB, so no worries.

2.1 goal: Assess impact from customer point of view - if usage of `HttpClient` in certain scenarios regressed between 2.0 and 2.1, then we need to address that. Users should not care about how `HttpClient` is implemented (as `SocketsHttpHandler` on 2.1 vs. `WinHttpHandler`/`CurlHandler` on 2.0), it should be tra

[2018-03-31 00:58] #28052 closed

[2018-03-31 01:16] bartonjs commented on #28652
Okay, maybe less fundamental than I thought.  Apparently my test rig was in a corrupted state.

[2018-03-31 01:31] stephentoub commented on #28631
Thanks for addressing it, @MattGal.

[2018-03-31 01:49] MisinformedDNA commented on #28630
Build succeeded, tests failed.

So close.

[2018-03-31 01:58] karelz commented on #28662
@wli3 what is different in this PR? Did you update CoreFX or CoreCLR bits you're running on? Or is it just unrelated change?
Does it happen reliably? Which OS versions does it affect?

[2018-03-31 02:49] MisinformedDNA commented on #26637
The test is still failing for me.

[2018-03-31 02:50] MisinformedDNA commented on #28630
Is it normal for tests to fail? Should this just not concern me?

Ah, nevermind, it's part of a known issue: https://github.com/dotnet/corefx/issues/26637

[2018-03-31 03:04] #28658 closed

[2018-03-31 03:36] ahsonkhan commented on #27740
Failed again from https://github.com/dotnet/corefx/pull/28670
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/54951919147a4cd2fc641263b447179aa32b5f27/workItem/System.Xml.XmlSchema.XmlSchemaValidatorApi.Tests/wilogs
Centos.74.Amd64.Open-x64:Release

[code]

[2018-03-31 03:39] danmosemsft commented on #26637
@MisinformedDNA have you confirmed that the code you built includes the fix linked from this? ie https://github.com/dotnet/corefx/commit/2d7b6dc7c773f2a143aacebc08c98dd8397286af

eg if you do `git rev-list HEAD | find /i "2d7b6dc7c773f2a143aacebc08c98dd8397286af"` does it print out `2d7b6dc7c773f2a143aacebc08c98dd8397286af`

If it does not, please pull and try again.

If it does, can you find more

[2018-03-31 03:49] livarcocc commented on #28662
@karelz we don't update corefx and coreclr separately, we just pick up bits from core-setup. Our current build came out of ProdCon.

This is happening consistently on CentOS.

[2018-03-31 03:56] danmosemsft commented on #26637
Post ZBB as just reopened

[2018-03-31 03:58] danmosemsft commented on #27496
Thanks for the investigation, @AndyAyersMS .

[2018-03-31 03:58] #27496 closed

[2018-03-31 04:24] stephentoub commented on #27496
Should we make the string->span conversion AggressiveInlining?  That operation is done *a lot*.

[2018-03-31 04:34] #26142 closed

[2018-03-31 04:35] stephentoub commented on #28603
We support accessing both http and https urls over proxies, but we only support accessing the proxy itself over http.

[2018-03-31 04:38] stephentoub commented on #27740
Crashed again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/155361ca207ff26ad91a6bc7f03765367b4a2cba/workItem/System.Xml.XmlSchema.XmlSchemaValidatorApi.Tests/wilogs
[code]

[2018-03-31 04:39] stephentoub commented on #26539
Failed again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/155361ca207ff26ad91a6bc7f03765367b4a2cba/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SocketsHttpHandler_SchSendAuxRecordHttpTest~2FHttpClient_ClientUsesAuxRecord_Ok
System.Net.Http.Functional.Tests.SocketsHttpHandler_SchSendAux

[2018-03-31 04:46] stephentoub commented on #27496
I see @AndyAyersMS already opened https://github.com/dotnet/coreclr/issues/17366.  I moved it from Future to 2.1 as I think we should consider taking it for this release.

[2018-03-31 05:00] #15661 closed

[2018-03-31 05:32] karelz commented on #28482
Marking as Post-ZBB - it was moved to 2.1 after 3/28.

[2018-03-31 05:33] karelz commented on #28662
@livarcocc ProdCon uses release/2.1 branch, right?
How do we repro it then on the bits? Do you have a repro machine handy?

[2018-03-31 08:36] davidfowl commented on #28046
Is this difficult to do? I'd love to measure our broadcast performance scenario with this. We currently filed this issue https://github.com/aspnet/SignalR/issues/1796.

[2018-03-31 09:20] kasper3 commented on #28052
@safern, will this be ported back to 2.0?

[2018-03-31 09:31] akshayquest commented on #28652
@bartonjs Is the issue resolved because i am still facing the same issue mentioned by @winzig even after i have updated all my .net core libraries.

[2018-03-31 12:41] niemyjski opened #28680 "[2.1-preview1-final] - Socket related exceptions in azure with COMPlus_UseManagedHttpClientHandler=true"
cc @karelz  @stephentoub

I upgraded exceptionless to 2.1 preview 1 (tried nightlies but couldn't get it to work and filed bugs in vs report a problem) via https://github.com/exceptionless/Exceptionless/tree/feature/aspnet21 and deployed to azure using the azure site extensions for dotnet core...

I noticed that I'm getting the following exceptions even while the site is idle in test so load doesn

[2018-03-31 13:11] pjanotti commented on #27740
This is the second time that I use lldb so take this with a grain of salt :smile: but fortunately it seems similar enough to windbg+sos for me to be able to see some stuff...

According to core dumps there are two crashes happening in XmlSchemaValidatorApi tests:

https://github.com/dotnet/coreclr/blob/9496bc0546b73fdc4fdc8a176b2abd66bacf54db/src/mscorlib/shared/System/SpanHelpers.Byte.cs#L125

[c

[2018-03-31 13:14] #28482 closed

[2018-03-31 13:40] stephentoub commented on #28046
No, the iterator just needs to be rewritten manually.

Correct. Changing the GetEnumerator signature is a breaking change.

No, not for API signature changes.

[2018-03-31 14:01] stephentoub commented on #28680
This looks like #27877 which was fixed by https://github.com/dotnet/corefx/pull/27898.

[2018-03-31 14:10] danmosemsft commented on #28652
@mattgal how do we get or test boxes updated to 10.13.4? In general if they updated automatically that would be a good thing.

[2018-03-31 14:33] jkotas opened #28682 "Confusing message when block padding did not conform to the specified mode"
_From @coderfox on March 31, 2018 9:28_

With the following code:

[code]

If I comment `aes.Padding = PaddingMode.None;` (i.e. use PKCS7 padding), the program will throw:

[code]

But if I uncomment the line, the program works.

Besides, I have validated the input file with python, and it successfully decrypts.

I am using dotnet-sdk `2.1.103` on macOS `10.13.1 (17B48)`.

File `http` in `base64`

[2018-03-31 14:33] jkotas commented on #28682
_From @coderfox on March 31, 2018 9:55_

OK, I found actually the source is padded with `ISO10126`. Sorry for disturbing, but I think the exception message is quite misunderstanding, an exception with message `ciphertext padding mismatch` may be better.

[2018-03-31 15:38] MisinformedDNA commented on #26637
Yep, it's in there.

Here's the failure:

[2018-03-31 16:16] winzig commented on #28652
@bartonjs Thabks for fixing this so rapidly. What would be the best way for me to go about getting this on my system until the next release of core? Can I just clone and build this repo and drop it somewhere into my system?

[2018-03-31 16:24] karelz commented on #28680
@niemyjski thanks for providing additional info. What exactly is blocking your consumption of nightlies? Is there something we can do to help?

[2018-03-31 17:15] livarcocc commented on #28662
Yes, this is from release/2.1.

No, we don't have a repro machine handy. Our CI caught this. You can see the failing PR here: https://github.com/dotnet/cli/pull/8893.

[2018-03-31 17:44] SteveSyfuhs opened #28683 "ASN.1 Deserialize fails with SequenceOf strings"
Let me preface this with the statement that I fully understand this is an internal-only API (for now at least). Nevertheless, this is a fairly important test case.

Suppose an ASN.1 of

[code]

There are two issues here.

1. GeneralString is not actually supported. You cannot futz your way through by decorating the struct field to think it's an IA5String. I had to add a new attribute and modified

[2018-03-31 18:19] BreyerW opened #28686 "Possible bug with S.L.Expression: cannot generate assign expression for ref returning properties"
Relatively recently, ref returning properties were added to c#. I use them from time to time and i have serialization library that rely on S.L.Expression. There is problem: ref return properties have `CanWrite` set to false preventing easy generation of assign expressions!

I use 4.7.1 Desktop framework for now with future plans to move to Core.

Is this by design or overlooked? Is there some hack

[2018-03-31 19:32] bartonjs commented on #28682
Hmm, I wonder if we copied the wrong string over from netfx.  `Cryptography_InvalidPadding` and `Cryptography_InvalidPaddingMode` both say "Specified padding mode is not valid for this algorithm.".  The error people complain about on StackOverflow is usually "Padding is invalid and cannot be removed.", which (theoretically) is what `Cryptography_InvalidPadding` should say.

[2018-03-31 19:58] bartonjs commented on #28683
The problem with `GeneralString` is that it (theoretically) supports changing out the codepage as a portion of the payload.  At least, that's how I've interpreted it, because I haven't been able to really follow the series of jumps to understand what the bytes actually look like for that.  So adding it means either adding it properly, or having a surprise exception when you get a payload that actu

[2018-03-31 21:58] MisinformedDNA commented on #17905
The `System.Collections` [diff](http://tempcoverage.blob.core.windows.net/report3/System.Collections.diff.html), says that `ArrayBuilder<T>` should be removed. But when I remove it, I get an error

Uri\src\System.Private.Uri.csproj]

See https://github.com/dotnet/corefx/blob/f6a0db6b4d9fe1656eae0e1973b950fd595f8ab5/src/System.Private.Uri/src/System/Uri.cs#L872

As a public member, this line has to

[2018-03-31 22:32] hvanbakel commented on #21982
I believe this will be fixed as a result of https://github.com/dotnet/core-setup/issues/3634 only in net core 2.1 though :(. You would use the --additional-deps flag on startup.

[2018-03-31 22:56] SteveSyfuhs commented on #28683
Obviously adding it properly is preferred, but since that's a non-trivial undertaking, would it be possible to add a hook where callers can just do the dirty work? Or alternately, just a way to tell it to automatically map types from one to another? Providing an option to shoot yourself in the foot sucks, but that's at least something I'd be willing to accept. :)

I tried fiddling with the `string

[2018-03-31 23:20] pakrym opened #28689 "ArrayMemoryPool shouldn't dispose block on Unpin"
https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/Buffers/ArrayMemoryPool.ArrayMemoryPoolBuffer.cs#L110

/cc @ahsonkhan @GrabYourPitchforks

[2018-03-31 23:39] benaadams commented on #28689
Has an unnecessary loop read also

[2018-03-31 23:42] benaadams commented on #28689
https://github.com/dotnet/corefx/pull/28690

[2018-04-01 00:18] benaadams commented on #13210
[code]
in https://github.com/dotnet/corefx/pull/28688#issuecomment-377732880

[2018-04-01 00:19] #28358 closed

[2018-04-01 00:55] pjanotti commented on #27740
Ok, these latest crashes are understood and I will be testing the fix.

[2018-04-01 01:10] benaadams commented on #28689
I think its current behaviour is correct; its just written a bit strange; its disposing when count reaches 0

[2018-04-01 01:14] pakrym commented on #28689
I don't think pinning/unpinning should not have any effect on disposal at all. Block should be alive until explicitly disposed.

[2018-04-01 01:35] benaadams commented on #28689
Its probably a bit wrong anyway, Dispose shouldn't return to Pool if still pinned?

Pin
Dispose // shouldn't return to pool here
UnPin // should return to pool here as already disposed

[2018-04-01 01:45] pakrym commented on #28689
Dispose should throw if pinned, but that is just a diagnostic.

[2018-04-01 01:47] benaadams commented on #28689
https://github.com/dotnet/corefx/pull/28690#issuecomment-377735699

[2018-04-01 01:49] pakrym commented on #28689
If we don't wan't that diagnostic - yes, just implement IMemoryOwner

[2018-04-01 01:56] pjanotti commented on #27740
A quick recap to make sense of this issue:

* Initially a couple of call stacks for this seemed to indicate something related to jit
* However, that initial test crash (XmlSchemaSet.Tests) did not repro since 3/17
* Other SIGABRT crashes in tests were added to this bug, for the ones that I got repro, it was always the issue fixed by PR #28692
* This issue can potentially affect any code using the

[2018-04-01 02:02] benaadams commented on #28689
Removed ref counting in https://github.com/dotnet/corefx/pull/28690; it was overpromising for its implementation (conurrency vs disposal)

[2018-04-01 02:54] Anipik commented on #28590
@xlegalles can you supply a code snippet because i tested workigDirectory Property and its working fine

[2018-04-01 03:07] benaadams opened #28693 "ArrayMemoryPool<T> should pool ArrayMemoryPoolBuffer"
Using bounded ConcurrentQueue.Segment as per https://github.com/dotnet/corefx/pull/28638 (to have upper limit on number pooled)

Otherwise it allocates for every `Rent`; which is a bit poor for a pool

/cc @pakrym @GrabYourPitchforks @ahsonkhan @davidfowl @stephentoub

[2018-04-01 04:04] Petermarcu opened #28694 "Console ReadKey echo escapes"
@devel0 commented on [Sat Mar 31 2018](https://github.com/dotnet/core/issues/1398)

Using Console.ReadKey(true) should not echo control keys but in linux terminal I got `^[OC` echos.

## version

- **dotnet version** : 2.1.101
- **os** : ubuntu 17.10

## repro

[code]

- press "right arrow" key

### expected

- no echoes

### current behavior

- echoed `^[OC` to the console

[2018-04-01 04:12] AndyAyersMS commented on #27496
Jan made the change to inline the string to span conversion and it's been picked up by CoreFx. Master perf now looking good for both Windows & Ubuntu. Note this is the version that is timing the entire operation -- no bits are escaping from the timing loop.

![image](https://user-images.githubusercontent.com/10121823/38169763-e18587de-3527-11e8-9883-8762b00e4a57.png)

[2018-04-01 05:18] MisinformedDNA commented on #17905
I just got done removing dead code for `System.Data.Common` with `build.cmd src\System.Data.Common` completing successfully. Now up until now, I was under the impression that I only needed to work in the library that I was in and if the build and tests passed, then I was good to go. But I decided to do a full build anyway, and I'm glad I did, cause I got a slew of errors.

Here are some example er

[2018-04-01 05:19] danmosemsft commented on #17905
@anipik can you help @misinformeddna here?

[2018-04-01 05:23] GrabYourPitchforks commented on #28693
This behavior is by design. See https://gist.github.com/GrabYourPitchforks/8efb15abbd90bc5b128f64981766e834, specifically the second example under the section "Creating custom pools" for reasoning and alternatives.

[2018-04-01 05:23] #28693 closed

[2018-04-01 06:16] danmosemsft commented on #27496
Nice, good teamwork, thanks guys.

[2018-04-01 07:13] benaadams opened #28695 "OSX: System.Net.Internals.SocketExceptionFactory+ExtendedSocketException"
https://github.com/dotnet/corefx/pull/28643#issuecomment-377766657
[code]

[2018-04-01 07:14] benaadams commented on #28398
Occurred again https://github.com/dotnet/corefx/pull/28643#issuecomment-377766657

[2018-04-01 07:18] benaadams commented on #28398
https://mc.dot.net/#/user/benaadams/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/1ec79ef0959dcb61a9455e4ffef1dbcd1bc6788c/workItem/System.ComponentModel.Composition.Tests/analysis/xunit/System.ComponentModel.Composition.DirectoryCatalogTests~2FLoadedFiles_NonStaticallyReferencedAssembly

[2018-04-01 08:25] geoffkizer commented on #28648
I think what you are saying is, we should only attempt to authenticate the connection once.  Am I understanding you correctly?

[2018-04-01 08:28] MarcoRossignoli commented on #28398
@safern can i help with "repro tools" somehow?I'm curious to understand what happen, maybe some overlapped test remove [copied file](https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.Composition/tests/System/ComponentModel/Composition/Hosting/DirectoryCatalogTests.cs#L354) in tmp dir for some reason.

[2018-04-01 08:29] geoffkizer commented on #28609
It seems really weird that the port handling is screwed up for IPv6 but not IPv4.  Do we understand this?  Do we have an issue with IPv4 as well?

(The hostname handling doesn't surprise me that much...)

[2018-04-01 08:42] geoffkizer commented on #26517
Note, we can also check Uri.HostNameType to avoid the TryParse.

[2018-04-01 11:18] MohammadHamdyGhanem opened #28697 "Bug: DelimitedListTraceListener Class strange output"
I think there is something wrong with the DelimitedListTraceListener class. I used this code:
[code]
And this is what I found written in the file:

"WindowsFormsApp8.exe",Error,0,"z",,,,,,,
"WindowsFormsApp8.exe",Information,0,"w",,,,,,,

Is this right? And if it is, what does it mean? Why doesn't the write method add the delimiter, and what are those too many delimiters added by the TraceError an

[2018-04-01 11:43] Tratcher commented on #28648
That's a separate feature. This trace is all part of a single request. The negotiation requires multiple rounds trips, but it needs to stop at a specific point, not keep looping blindly. That 4th request has an invalid auth header, Negotiate with no data blob. It looks like there was an hresult overlooked when generating the blob. It should have given up and returned the prior 401 response to the

[2018-04-01 12:23] marek-safar opened #28700 "DataTable serialisation is broken between 2.1 and previous versions or .NET framework"
The fix #27286 broke DataTable serialization between the previous versions and 2.1 version netcore. It fails with the following error when deserializing data stored using the previous version on netcore 2.1.

[code]

[2018-04-01 12:28] #27740 closed

[2018-04-01 13:46] pgolebiowski commented on #7023
Why moved from 2.1.0 to future? In August, last year, @karelz said:

We currently plan to land this feature in 2.1 (with 95% confidence). See official release dates for more details about timelines.

AES-GCM support is important.

[2018-04-01 13:59] MarcoRossignoli commented on #28694
If it helps on Ubuntu 16.04 "no echoes".

[2018-04-01 14:41] bartonjs commented on #7023
@pgolebiowski Normal software schedule things: overruns, interrupts, and a bit of priority juggling.

When we started buttoning up for preview1 all of the crypto features which didn't have proposed-and-reviewed API got moved to the next version.  (Similar things happened for other areas, but I don't know how they prioritized when they hit the `[estimate of work remaining] > [time left in release]`

[2018-04-01 14:59] stephentoub commented on #28046
@davidfowl, e.g. something like this:
https://github.com/stephentoub/corefx/commit/d11bdcd0763b8913e78a237e631a8abe3c0afa68

[2018-04-01 15:06] joshfree commented on #28694
This is a duplicate of https://github.com/dotnet/corefx/issues/25916

[2018-04-01 15:06] #28694 closed

[2018-04-01 15:09] joshfree commented on #21106
related https://github.com/dotnet/corefx/issues/25916

[2018-04-01 16:49] devel0 commented on #28694
@MarcoRossignoli I suppose you tried Console.ReadKey() instead of Console.ReadKey(true) that would intercept key press; if you try to press "a" within Console.ReadKey() char you'll see echo of "a" that not supposed to be instead within ReadKey(true) in my case; I tried in Windows platform and ReadKey(true) doesn't echo chars "a" neither right arrow key, as expected but in Linux currently generate

[2018-04-01 16:59] MarcoRossignoli commented on #28694
@devel0 actually i tried both, i did it throught a test and press "a" with and without true parameter behave as expected to me on 16.04(i see "aFinish..." and "Finish..." message at the end of test).

[2018-04-01 17:10] devel0 commented on #28694
@MarcoRossignoli ok but you able to avoid echo of "a" and right arrow `^[OC` at the same time with the same program ? If I not wrong following behavior happens:
- ReadKey() : echo "a" but not echo arrow keys
- Readkey(true) : don't echo "a" but echo arrow keys
In my app I used ReadKey(true) to avoid echoing of command characters and I expecting arrow keys also gets muted while the latter not happe

[2018-04-01 17:33] caesar1995 commented on #28609
I found out setting up environment and do IPv6 multi machine testing cost me more time, and I'm blocked on this approach.

I think a better next step for me is that: testing the behavior on .NET Framework & WinHttpHandler about the port/host name handling for IPv6 and IPv4, to see if there is a difference with the SocketsHttpHandler. If Framework and WinHttpHandler behave the same, we will need to

[2018-04-01 17:51] matekm commented on #28667
if that is up for grabs, can I work on it?

[2018-04-01 17:59] caesar1995 commented on #27527
New failure with [Ubuntu.1604.Amd64.Open-x64-Debug](https://mc.dot.net/#/user/caesar1995/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/cb9f9b1a6b9ea655ae87929e913824215495480b/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_SslProtocols_Test~2FGetAsync_AllowedSSLVersion_Succeeds(acceptedProtocol:%20

[2018-04-01 18:16] MarcoRossignoli commented on #28694
@devel0 i get your point, i didn't do test in your way, i only tested "right arrow" and close program. However i'll follow discussion on other thread.

[2018-04-01 18:48] karelz commented on #28695
Duplicate of #21037

[2018-04-01 18:48] #28695 closed

[2018-04-01 18:53] karelz commented on #28700
cc @Anipik @ViktorHofer @danmosemsft

[2018-04-01 18:58] karelz commented on #7023
Re: 2.2 vs. Future - the more important reason is "People will start asking why x is in Future and not in 2.2". That means, once we create 2.2 milestone (we plan to do it tomorrow BTW), area owners should in theory do a pass through bugs and mark important ones for 2.2 to prevent confusion all around.

@joshfree @bartonjs you might want to update the Security roadmap & give everyone heads up about

[2018-04-01 19:03] karelz commented on #28662
OK, so if I want to ask someone to take a look. What do I tell them to run to get the error under debugger / play with it?

[2018-04-01 19:04] karelz commented on #28662
cc @stephentoub @geoffkizer

[2018-04-01 19:19] geoffkizer commented on #28609
It seems like you can test this with a fake proxy, same as you're doing here: https://github.com/dotnet/corefx/pull/28578#pullrequestreview-107904758

[2018-04-01 19:20] geoffkizer commented on #28609
BTW it looks to me like we're not sending the port in the IPv4 case either.  This is bad.

[2018-04-01 19:24] geoffkizer commented on #28609
In the proxy case, the Host header and the authority part of the request Uri should be the same.  We should be able to use the same code for both.

[2018-04-01 19:33] geoffkizer commented on #28609
We should add a bunch of tests here for various combinations -- DNS hostname, IPv4 hostname, IPv6 hostname, default port/non default port, secure/nonsecure.

Also interesting to check how we handle if you specify the default port explicitly, e.g. RequestUri = "http://foo.com:80/" or "https://foo.com:443/".  I believe that SocketHttpHandler will strip off the port if it's the default, which I belie

[2018-04-01 19:57] geoffkizer commented on #28648
What version of ASPNET are you using?  I'm getting the following error trying to build this code:

No overload for method 'Run' takes 1 arguments

[2018-04-01 20:04] caesar1995 opened #28703 "CurlHandler: catastrophic failure with GetAsync_SecureAndNonSecureIPBasedUri_CorrectlyFormatted test"
The test consistently cause catastrophic failure on Centos, Fedora, RedHat, and Ubuntu 1804, while passing on other distros.

It could be different CurlHandler version causing the issue. (Since Windows run is green every time).

[2018-04-01 20:07] geoffkizer commented on #28648
If you could just post a .csproj, that would be super helpful.  Whatever I'm doing, it doesn't seem to give me the right ASPNET version.

[2018-04-01 20:08] ViktorHofer commented on #28700
Thanks for reporting Stephen. It's obvious why this is failing (GetValue on a string that's not available in blobs before the change) and it seems we have a test whole as we don't have a test case in BinaryFormatterTestData therefore it doesn't roundtrip across frameworks.

[2018-04-01 20:09] MarcoRossignoli commented on #28336
To test/measure portable do do you mean compile `-framework=netfx`?

Do you mean create e new benchmark on System.Memory.Performance.Tests using this [guide](https://github.com/dotnet/corefx/blob/bbfc8856fd1556803b44be2cfa8557fb3e710393/Documentation/project-docs/performance-tests.md)?

[2018-04-01 20:24] geoffkizer commented on #28648
Nevermind, I got it working.  Was missing a using statement.

VS is crashing on me when I try to debug this.  Fun stuff.

[2018-04-01 20:58] winzig commented on #28652
Crud, appreciate the help, but looks like I'm unable to build for some reason. I'll try to figure out what I'm doing wrong, but barring that, I'm assuming I'm waiting for an official release. Do you think it will make it in for 2.0.7? And is there an ETA on that release?

[2018-04-01 20:59] caesar1995 commented on #28609
Tested on Framework, the behavior is the same as WinHttpHandler:

## IPv6 testing:

### On Framework & WinHttpHandler:
No port provided:
`In value: List<String> ["GET http://[::1234]/ HTTP/1.1", "Host: [::1234]", "Proxy-Connection: Keep-Alive"]`

With port:
`In value:  List<String> ["GET http://[::1234]:8080/ HTTP/1.1", "Host: [::1234]:8080", "Proxy-Connection: Keep-Alive"]`

### On SocketsHttpHan

[2018-04-01 21:00] caesar1995 commented on #28609
Yes, the port is not sent in IPv4 case. We should fix it.

[2018-04-01 21:01] Anipik commented on #28700
@ViktorHofer i am able to understand why it is failing on  .NET Framework but can you explain why it is failing for previous versions of .NET Core.
#27286 handles the case when the format is binary and the number of columns are non-zero. Earlier in this case it was throwing serialization exception because the dataColumn was not serializable.

[2018-04-01 21:02] geoffkizer commented on #28609
Let's fix the IPv6 handling and the port handling.  Let's file a separate issue on Proxy-Connection since that's a different issue.

[2018-04-01 21:39] Anipik commented on #17905
@MisinformedDNA You will always have to build the whole repo and run the tests for all the libraries because  its possible that one library could be dependent on other librarary directly(A using some type from B) or indirectly. (A using some type from B which using some type from C)
There is nothing in the function ```ADP.removeStringQuotes```, ```isemptyarray```, ```setTransaction```  that is jus

[2018-04-01 21:49] MisinformedDNA commented on #17905
Here's the fork I'm working on: https://github.com/MisinformedDNA/corefx/tree/clean-dead-code

[2018-04-01 22:09] geoffkizer commented on #28648
Thanks for finding this @Tratcher.

[2018-04-01 23:35] MohammadHamdyGhanem commented on #28697
Another Strange Note:
I tested the previouse code in a .net Core console app, but it didn't even create the file, and after I created the file it didn't write any thing to it!
I had to modify the code to create the file myself and then close it:
[code]

[2018-04-01 23:41] MohammadHamdyGhanem commented on #28697
@karelz
Please lable this issue as a bug too. I reported another bug in the second post.
thanks

[2018-04-02 00:54] stephentoub commented on #28703
I assume by catastrophic failure you just mean the test hangs?  All that fireball means in the mission control UI is that the test process failed, which either means it crashed or it hung.

[2018-04-02 00:58] sagardafle commented on #22956
Facing the same error when we try to do a stress test on an "GET" API that returns around 10K lines of JSON data.
Any workaround/fixes for this ?

[2018-04-02 01:01] stephentoub commented on #22956
@sagardafle, how long is the request taking?  Is it possible it's just taking a long time and changing the HttpClient.Timeout to something longer or infinite would address it?  The default is that the request will be canceled after 90 seconds, and if you're overloading your client or server or network in a stress test, it's not out of the realm of possibility that you could bump up against that li

[2018-04-02 01:06] #28648 closed

[2018-04-02 01:19] sagardafle commented on #22956
Hi @stephentoub ,

Thank you for replying. I have set the Timeout and the 'ReadWriteTimeout' to (1000 * 60 * 10) 10 minutes for the HttpWebRequest.
The request took around 2 minutes to complete and then I got the below error:
[code]

Below are the client settings:
[code]

[2018-04-02 01:21] stephentoub commented on #22956
This showing up on the call stack means you're running against the .NET Framework rather than .NET Core / corefx.

[2018-04-02 01:27] sagardafle commented on #22956
Ok, thanks for pointing that out.
Couple of questions(If you don't mind answering) as I am new to the .Net stack:
1. We have recently update our service to use Visual Studio 2017 and ASP.NET Core 2.0 , so not sure if your comment fully hold true.
2. What fix do you recommend in such case?
Thanks again.
Really appreciate.

[2018-04-02 01:34] stephentoub commented on #22956
That ConnectStream class simply doesn't exist in corefx.  If it's showing up on the stack, you're not running on .NET Core.  In .NET Core, HttpWebRequest is actually layered on top of HttpClient, so these internal types from the .NET Framework aren't there.

To start, I'd recommend switching to using HttpClient directly rather than using HttpWebRequest.  You generally want to create a single insta

[2018-04-02 02:06] stephentoub commented on #22569
Here's one way this can be done:
https://github.com/stephentoub/corefx/commit/c28e627792ae0d8a43a72a87c9ffd737401821b4

In a little benchmark like:
[code]
Execution time stays approximately the same, but allocation per GetComponents call drops from 336 bytes to 32 bytes.

[2018-04-02 02:08] stephentoub commented on #16040
See https://github.com/dotnet/corefx/issues/22569#issuecomment-377836840 and https://github.com/stephentoub/corefx/commit/c28e627792ae0d8a43a72a87c9ffd737401821b4, which also covers these code paths.

[2018-04-02 02:41] a641545621 commented on #28641
This is more difficult. He is a random occurrence and it is difficult to appear in internal programs, demos. I will try to collect more information.

[2018-04-02 02:44] a641545621 commented on #28641
This is difficult. He is a random one. I will try my best to collect more information. As far as I know, some friends have also encountered such problems.

[2018-04-02 03:33] geoffkizer commented on #22569
More generally, I think there are a bunch of allocations (and probably some CPU) from Uri that we hit in the SocketsHttpHandler path, and that could ideally be avoided.  I'm pretty sure we're allocating when we retrieve the Host/IdnHost property, right?

The typical case here (for both Host and PathAndQuery) is that we don't need to escape anything, so being able to access this stuff as ReadOnlySp

[2018-04-02 03:37] stephentoub commented on #22569
Yes, that's just a more significant change.

[2018-04-02 03:38] geoffkizer commented on #22569
I know, I'm not suggesting we do anything like that now.  I just don't want it to get lost.  I'll file a separate issue.

[2018-04-02 03:41] geoffkizer opened #28707 "Investigate perf improvements to Uri for SocketsHttpHandler usage"
For simple requests, SocketsHttpHandler ends up spending a fair amount of CPU retrieving info from Uri (e.g. Uri.IdnHost and similar).  This also causes a fair amount of allocation in some cases.

Ideally we could reduce both CPU and allocation by using ReadOnlySpan<char> to retrieve the info we need.  In common cases where no escaping/encoding is necessary, this should help significantly.

[2018-04-02 03:52] caesar1995 commented on #28703
Based on  the [execution log](https://mc.dot.net/#/user/caesar1995/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/7db9f75494d245795a018e7c76652085703488bc/workItem/System.Net.Http.Functional.Tests/wilogs) I think it's test hang. (No failure or crash logged).

[2018-04-02 04:19] caesar1995 opened #28708 "SocketsHttpHandler: Proxied IP address (IPv4 & IPv6) requests missing `Proxy-Connection: Keep-Alive` header"
Example:

WinHttpHandler & Framework:

`In value: List<String> ["GET http://321.123.456.789/ HTTP/1.1", "Proxy-Connection: Keep-Alive", "Host: 321.123.456.789"]`
`In value: List<String> ["GET http://[::1234]/ HTTP/1.1", "Host: [::1234]", "Proxy-Connection: Keep-Alive"]`

SocketsHttpHandler:

`In value: List<String> ["GET http://321.123.456.789/ HTTP/1.1", "Host: 321.123.456.789"]`
`In value: List<

[2018-04-02 04:20] caesar1995 commented on #28609
Will do.

Opened #28708 to track it.

[2018-04-02 05:30] sagardafle commented on #22956
Hi Stephen,

I tried replacing HttpWebRequest with HttpClient. I would say , it runs better but I do encounter error sometimes.

The error looks like:
[code]
 private static readonly HttpClientHandler handler = new HttpClientHandler();
		private static readonly HttpClient HttpClient = new HttpClient(handler,false)
	    {
			DefaultRequestHeaders = {
				Authorization = new AuthenticationHeaderValu

[2018-04-02 05:32] stephentoub commented on #22956
On .NET Framework, HttpClient is built on top of HttpWebRequest, so you would expect to see the same issue.  On .NET Core, it's inverted, with HttpWebRequest built on top of HttpClient.  Since it sounds like your intention is to be using core, I would see how things run with HttpClient while using .NET Core rather than .NET Framework.

[2018-04-02 05:40] caesar1995 commented on #28703
Change to `HttpClientHandler.DangerousAcceptAnyServerCertificateValidator` resolved the issue. (Related #19709)

[2018-04-02 05:40] #28703 closed

[2018-04-02 06:04] Sunny-pu opened #28709 "Test failure: System.Net.Security.Tests.ApmSslStreamSystemDefaultTest / ClientAndServer_OneUsesDefault_OtherUsesLowerProtocol_Fails"
Tests: System.Net.Security.Tests.ApmSslStreamSystemDefaultTest.ClientAndServer_OneUsesDefault_OtherUsesLowerProtocol_Fails
System.Net.Security.Tests.AsyncSslStreamSystemDefaultTest.ClientAndServer_OneUsesDefault_OtherUsesLowerProtocol_Fails
System.Net.Security.Tests.SyncSslStreamSystemDefaultTest.ClientAndServer_OneUsesDefault_OtherUsesLowerProtocol_Fails
had failed with Assert.Throws() Failure\nE

[2018-04-02 06:58] Sunny-pu commented on #24356
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/454/testReport/System.Net.Security.Tests/ServerAsyncAuthenticateTest/ServerAsyncAuthenticate_AllClientVsIndividualServerSupportedProtocols_Success_serverProtocol__Ssl3_/

[2018-04-02 07:54] pantonis opened #28711 "Getting warning with some packages when I build"
I updated my .net library to 4.7.1. It successfully builds but I get some warnings:

![image](https://user-images.githubusercontent.com/3295086/38188333-3310b3fc-3664-11e8-918a-4dca175bf574.png)

I removed the packages and reinstalled them, rebuild, but still the same warnings.

[2018-04-02 11:45] niemyjski commented on #28680
I tried to install the latest nightly sdk, global.json and the latest nightly packages and my dotnet process immediately crashed (I reported an issue).

[code]

[2018-04-02 12:26] GSPP commented on #27682
Is the allocation overhead really significant when opening a connection or executing a reader? Executing `select null` against SQL Server on the same machine over shared memory and using synchronous IO takes about 200us. This already is so much more than allocating a few objects and collecting them.

Adding ValueTask versions for reading rows and fields might be valuable.

[2018-04-02 12:37] galich commented on #7023
No worries, we have been waiting for quite some time.

@pgolebiowski we started to use openssl/libressl for linux builds and using BCryptEncrypt on Windows. Our users don't have to wait ;)

[2018-04-02 12:52] roji commented on #27682
You're right that when `OpenAsync()` returns asynchronously (i.e. a physical open or wait), the memory overhead is probably negligible. For synchronous invocations (no I/O, pooled idle connection is returned) there is no memory overhead, since `OpenAsync()` returns a non-generic task which can be cached. So I agree this has more value for `DbDataReadet.Read()`.

However, don't forget that ADO.NET

[2018-04-02 13:48] EmmaZhu opened #28713 "Directory.Exists returns false with drive's device path name"
Hi,

Code like `Directory.Exists("\\\\?\\C:\\")` always returns false, even the drive does exist. `Directory.Exists("\\\\?\\C:\\Folder\\")` can get directory's existence correct.  This behavior is different with the one in .Net Framework. Could anyone help to take a look?

[EDIT] Add proper code formatting by @karelz

[2018-04-02 14:14] AtsushiKan commented on #26637
This is a different pair of tests. Please open separate issues for those.

[2018-04-02 14:14] #26637 closed

[2018-04-02 14:21] filipnavara commented on #20884
What's best way to update the `[ActiveIssue(20884, TestPlatforms.AnyUnix)]` tests if we fix an underlying bug in libgdiplus? Should we introduce a new `ConditonalFact` like `GdiplusIsAvailable`, but with test for a specific version?

[2018-04-02 14:36] stephentoub commented on #28713
cc: @JeremyKuhne, @danmosemsft

[2018-04-02 15:18] ejsmith commented on #28680
I see multiple problems here. You have mismatched versions of sdk and package references and you also have "http://" in your package name. You need to add a nuget source to the project to access the nightly builds.

[2018-04-02 15:37] tarekgh commented on #28033
I can see it either way. if SendAsync succeeded to queue item, it would be surprising too not processing it even if there is one of the queued items caused a fault. anyway, this is the option picked by the design. thanks for reporting this.

[2018-04-02 15:42] MohammadHamdyGhanem opened #28714 "TraceSource indent bug"
TraceSource is affected by the indent set before the calling output methods for the first time. After that changing the indent doesn't affect the TraceSource output.
[code]

This is the output:

        Trace1
        Test Error: 2 : TraceSource2
    Trace2
        Test Error: 3 : TraceSource3

The only way to solve this is to creat a new instance of the TraceSource class before changing the inden

[2018-04-02 15:43] karelz commented on #28711
Are you targeting .NET Framework or .NET Standard?
Are you able to reproduce it when upgrading test project?

cc @joperezr

[2018-04-02 15:44] tarekgh commented on #28641
would be nice if you be able to get more data when this happens and if possible can repro it or collect the perf data when the problem occurs.

[2018-04-02 15:47] giacomociti commented on #28033
Processing items already queued is ok, the issue is propagating their result. Anyway I appreciate your analysis, thanks again.

[2018-04-02 15:53] tarekgh commented on #28655
@shaunluttin do you want to provide the fix?

[2018-04-02 15:54] karelz commented on #28697
@MohammadHamdyGhanem where is the bug report? I see only question and potentially feature request, which should be filed separately once clarified. I let area owners/experts to make further decisions/adjustments here.
IMO the behavior above is as designed - Write method allows you to add anything, outside of the delimiter rules as there is nothing to delimit.

[2018-04-02 16:17] MohammadHamdyGhanem commented on #28697
@karelz
So, when is a delimiter added, and what are those 8 delimiters at the end of the line?
Besides, my second post reported another bug.
Thanks

[2018-04-02 16:28] davidsh commented on #28523
On Windows, Digest auth is disabled by default. It is becoming less common as most scenarios simply use HTTPS with Basic or Negotiate auth. I suggest we wait for customer feedback.

[2018-04-02 16:34] livarcocc commented on #28662
getting a CentOS docker machine and build the CLI inside of it would be my first attempt.

[2018-04-02 16:47] danmosemsft opened #28716 "Make decimal API more complete (number of decimal digits, equality, negative zero)"
@GSPP commented on [Mon Apr 02 2018](https://github.com/dotnet/coreclr/issues/17378)

1. It is currently not possible to query the number of decimal digits in a decimal value. Note, that decimal can store trailing zeroes. 1m != 1.0m != 1.00m. There are methods to find out but they are nasty (https://stackoverflow.com/questions/13477689/find-number-of-decimal-places-in-decimal-value-regardless-of-c

[2018-04-02 16:52] danmosemsft commented on #28713
@Anipik please evaluate and put up PR if appropriate.

[2018-04-02 16:58] karelz commented on #28680
I will close the issue as it seems to be fixed in latest builds.

@niemyjski let's keep using this issue to discuss details how to use daily builds to verify it in your environment.
If we find it is not gone, we can reopen.

[2018-04-02 16:58] #28680 closed

[2018-04-02 16:58] MattGal commented on #28652
@danmosemsft I'm not sure about how to configured automated updates for OSX machines in a way that doesn't accidentally break things like OpenSSL building but I filed https://github.com/dotnet/core-eng/issues/3091 to track updating the 10.13 agents, please use this to track the update.

[2018-04-02 17:11] davidsh commented on #28708
Despite the difference, is this really causing a problem?  This header is not actually widely used.

See: https://stackoverflow.com/questions/15460819/what-is-the-difference-between-connection-and-proxy-connection-in-http-header

[2018-04-02 17:13] davidsh commented on #28708
And with HTTP/1.1 being used, the default for connections is for 'keep-alive'.  So using any request headers for 'keep-alive' ('Connection' or 'Proxy-Connection') is a waste of bytes:

https://trac.ietf.org/trac/httpbis/ticket/158

[2018-04-02 17:14] davidsh commented on #28708
cc: @geoffkizer @stephentoub

[2018-04-02 17:15] karelz commented on #28697
@MohammadHamdyGhanem from your example it looks like delimiters are added only when you use `Trace*` methods. Why 8? - That's a good question. I assume it is some fixed schema. Did you check the source code?
I missed your 2nd post - that is entirely unrelated to your original question, please file a new issue. It doesn't help to mix things together - it just creates confusion (as you can see) and

[2018-04-02 17:24] karelz commented on #28662
@livarcocc @wli3 Does it fail without the PR as well? Or only on the PR? ... the information here is a bit sparse.
Who understands the CLI build and can help us isolate the repro? Given that it is blocking you, I assume it will be easier than ramping up someone on CLI build system from scratch.

[2018-04-02 17:50] Anipik commented on #28713
I am looking into it

[2018-04-02 17:52] danmosemsft commented on #28713
@weshaggard we should get this in before the last Preview 2 merge.

[2018-04-02 17:53] danmosemsft commented on #28713
Oh, I see that's already in progress. Well, don't wait.

[2018-04-02 17:54] bartonjs opened #28719 "System.Net.Http.Functional.Tests.PlatformHandler_HttpRetryProtocolTests/GetAsync_RetryOnConnectionClosed_Success CI failure"
OSX.1013.Amd64.Open-x64-Debug

[code]

[2018-04-02 17:58] danmosemsft commented on #28662
@livarcocc is this impacting preview 2 or just master?

@safern are you available to set this up first thing today?

[2018-04-02 18:08] karelz commented on #28398
Late reopening - marking as Post-ZBB

[2018-04-02 18:09] safern commented on #28662
Yes, I don't have anything "urgent" on my plate now that we hit ZBB. Taking a look

[2018-04-02 18:11] wli3 commented on #28662
This impacting preview 2

[2018-04-02 18:11] safern commented on #28662
Agree. @livarcocc who would be the right person to help me understand the issue and have an easier repro?

This would be release/2.1.3xx branch?

[2018-04-02 18:20] MisinformedDNA opened #28721 "Two System.Drawing Test failues"
I'm at commit 54d131f4174491bc2a7f5d6e4b0b8b725d299a8f.

[2018-04-02 18:20] MisinformedDNA commented on #26637
Filed https://github.com/dotnet/corefx/issues/28721

[2018-04-02 18:23] #28689 closed

[2018-04-02 18:25] #28682 closed

[2018-04-02 18:26] #28557 closed

[2018-04-02 18:27] krwq commented on #28585
@karelz I've tested multiple scenario and HttpClient seems to work correctly (does IDN mapping higher up the stack). I've tested behaviors on .NET Core, full .NET and also compared data send by the browser.

Only people using SslStream directly are affected by this issue. Moving to future.

[2018-04-02 18:33] caesar1995 opened #28722 "WinHttp should accept Uri.IdnHost for WinHttpConnect()"
For WinHttpHandler, we directly pass `Host` for `WinHttpConnect` instead of `idnHost`. We need to change it to `Uri.IdnHost` instead. See: https://github.com/dotnet/corefx/issues/28557#issuecomment-377085162:

https://github.com/dotnet/corefx/blob/9e8d443ff78c4f0a9a6bedf7f95961cf96ceff0a/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs#L786-L790

[2018-04-02 18:34] caesar1995 commented on #28557
Opened https://github.com/dotnet/corefx/issues/28722 to track WinHttp bug.

[2018-04-02 18:40] Anipik commented on #28713
@EmmaZhu can you tell me your .net core version ? I am not able to repro your problem in 2.1 and 2.0

[2018-04-02 18:50] wtgodbe commented on #28630
@MisinformedDNA closing as duplicate of https://github.com/dotnet/corefx/issues/26637, and looks like you have https://github.com/dotnet/corefx/issues/28721 to track the bug in question. Please re-open if I've misinterpreted.

[2018-04-02 18:50] #28630 closed

[2018-04-02 18:59] danmosemsft commented on #28630
As for this

No it is not normal for tests to fail: if you clone and build and run tests they should all pass. Sometimes folks have machines that are slightly different somehow, and then we track down the problem. Or, not every test is 100% stable and again we should fix that. However unless you're planning on working on Drawing, you shouldn't be too impeded.

[2018-04-02 19:09] bartonjs commented on #28652
This was merged in for 2.0.7 with #28675.  @leecow do we have a published target release date?

[2018-04-02 19:19] vincentkam opened #28724 "SslStream with CRL checking enabled throws CryptographicException on Linux upon upgrade of server certificates"
**Overview**
A Linux application speaking to a server using SslStream will no longer be able to connect if the server upgrades its certificates such that it contains a new CRL distribution point (e.g. a different URL). After this upgrade, SslStream will throw a CryptographicException (error code 44) from Internal.Cryptography.Pal.OpenSslX509ChainProcessor.MapVerifyErrorToChainStatus.  Error code 4

[2018-04-02 19:23] karelz commented on #23768
Thanks @pjanotti! Can you please re-enable the test in that case, then close this bug? Thanks!

[2018-04-02 19:24] geoffkizer commented on #28708
I agree.

[2018-04-02 19:38] wli3 commented on #28662
The latest build from Saturday 2.1.0-preview2-26330-03 resolved the issue. Thank you!

[2018-04-02 19:38] #28662 closed

[2018-04-02 19:46] karelz commented on #28662
FYI: CI log showed a failure during restore with “Too Many Files” open which is what I would guess is causing the missing file.

https://ci.dot.net/job/dotnet_cli/job/release_2.1.3xx/job/debug_centos7.1_x64_prtest/181/consoleFull
[code]

[2018-04-02 19:46] krwq opened #28727 "Investigate disabled tests which are already fixed"
- [x] Find tests marked as ActiveIssue which are no longer active
- [x] <s>Re-enable issues</s> Send e-mails to owners/ping/reopen issue

cc: @karelz

[2018-04-02 19:51] keeratsingh commented on #27769
Moving issue out of 2.1.0, explanation below:

[2018-04-02 19:51] keeratsingh commented on #27605
Moving issue out of 2.1.0, explanation below:

[2018-04-02 20:12] safern commented on #28052
Yes, it should be included in the stable package once we ship it, that will support netcoreapp2.0

[2018-04-02 20:13] danmosemsft opened #28729 "Add CI leg for non ENU Windows"
Roslyn has successfully added such a leg based on es-ES

Please add a CI leg for corefx following this pattern: https://github.com/dotnet/roslyn/commit/b282a6486f1a7f09ceee7fcd9ed5d24d67cc4af7

It should be optional at first until we get it clean.

When in place this should avoid introducing many of the kinds of issues @AlexRadch has recently been working through

[2018-04-02 20:14] pjanotti commented on #25676
The PR #28629 with this test in loop did not hit it in Linux (it did hit in Windows but the focus here is specific to Linux). I also didn't hit the issue in 750 runs on Ubuntu 16.04 VM (without loop repetition), nor on some manual attempts with variations on concurrency and loop repetition. It is possible that this is a concurrency issue that for some reason was easier to hit in the past but so fa

[2018-04-02 20:14] danmosemsft commented on #28729
cc @jaredpar I found your commit.

[2018-04-02 20:16] danmosemsft commented on #28729
https://github.com/dotnet/roslyn/pull/25874

[2018-04-02 20:22] karelz commented on #27605
Given the impact, I don't think we can punt it post 2.1 just yet. My comment about @wfurt meant that the ask for help came too late for it to be schedule before ZBB. We should IMO keep it in 2.1 and make an honest attempt to address it. It is a bad regression, affecting functionality at all.

[2018-04-02 20:23] wfurt commented on #27605
yes, I'm still on it.

[2018-04-02 20:25] karelz commented on #28719
Duplicate of #28537

[2018-04-02 20:25] #28719 closed

[2018-04-02 20:28] bartonjs commented on #28719
Fair enough.  I didn't know if the EOFness was unique to the proxy aspect of the test or not (the failed tests in the other issue both are related to proxying)

[2018-04-02 20:32] joperezr commented on #28711
if you could provide us with a binlog then we could do some investigation. Or even better, if you have a minimal repro that would be ideal.

[2018-04-02 20:35] pjanotti commented on #25676
This was not hit via the PR (#28629) with testing it in loop, nor in 750 runs (without the loop) in my Ubuntu 16.04 VM. It did hit a issue on the same tests in Windows but Linux is the focus here. Since this bug is related to concurrency I also tried various variations on Ubuntu 16.04 VM and no with the SSL failure as described here - I did hit a different exception a few times (see below) but at

[2018-04-02 20:42] Lxiamail commented on #27983
This issue doesn't impact the public surface and functionality. However, we will like to fix it in 2.1. we can't make ZBB due to resource constrain. We like to make the fix Post-ZBB

[2018-04-02 20:45] #23150 closed

[2018-04-02 20:49] pjanotti commented on #25676
The stack above is for CurlHandler here is the similar issue for the SocketsHttpHandler (once more notice that this is not the original issue "Decrypt failed with OpenSSL error - SSL_ERROR_SSL"):

[code]

[2018-04-02 20:51] karelz commented on #25676
Thanks @pjanotti! How often did you hit the new failure? How much noise would it create?
Assuming the noise would be unacceptable, can you please look into the new error?

I'd like to re-enable the test in CI as soon as possible - it was biting us only in CI before, so I want to make sure we can some coverage of it in CI before we ship ;)

[2018-04-02 20:51] karelz commented on #25676
Marking as Post-ZBB to track the new problem.

[2018-04-02 20:52] karelz commented on #28708
OK, sounds reasonable. If we hit problems with some older/non-compliant servers or network gear, we can change it later. Let's wait for customer feedback. Closing.

[2018-04-02 20:52] #28708 closed

[2018-04-02 20:55] davidsh commented on #28708
cc: @Tratcher

[2018-04-02 20:55] pjanotti commented on #25676
In my VM with the loop repetition it seems to happen in 1 of 10 runs, if running outerloop, I never hit it in innerloop. I will start to investigate the new issue.

[2018-04-02 21:05] danmosemsft commented on #28668
AGain the 2nd issue on RH 7.4 on 4/1.

[2018-04-02 21:08] Tratcher opened #28733 "Regression: HTTPS defaults to older TLS version for Win7"
On Win7/2008R2 the new SocketsHttpHandler uses older defaults for TLS versions than the WinHttpHandler it's replacing. SocketsHttpHandler defaults to TLS 1.0 while WinHttpHandler supports TLS 1.2, 1.1, and 1.0. This is a regression for updating apps.

ASP.NET Core's Kestrel server defaults to TLS 1.1 and 1.2 so the new client can't connect to it using the default settings.

Example: Github.com as

[2018-04-02 21:31] bartonjs commented on #28683
Without figuring out how to float the disambiguator through a sequence-of/set-of, you can work around it with an implicit choice.

[code]

which is powered by

[code]

That still doesn't help you with GeneralString.  The best I can do for that without supporting it is

[code]

[code]

It's ugly, but it works.

[2018-04-02 21:34] MisinformedDNA commented on #17905
As previously stated, the dead code analysis says `ADP.RemoveStringQuotes` for `System.Data.Common` could be removed. However, since `ADP` was marked `internal`, the analyzer may have assumed that it wasn't being used outside of the assembly. I'm not sure if it looks for the `InternalsVisibleTo` attribute, but it wouldn't have mattered if it did, because it's not being used here. Instead, it is be

[2018-04-02 21:38] davidsh commented on #28733
This is interesting.  The default for any TLS/SSL protocol in .NET Core should be this [`SecurityProtocolType.SystemDefault`](https://msdn.microsoft.com/en-us/library/system.net.securityprotocoltype(v=vs.110).aspx)

which means to use OS defaults.

[2018-04-02 21:41] davidsh commented on #28733
And according to this:
https://support.microsoft.com/en-us/help/3154520/support-for-tls-system-default-versions-included-in-the-net-framework

The OS default would not include TLS 1.1 nor 1.2 for Windows 7 SP1 and Windows Server 2008 R2 SP1.

[2018-04-02 21:44] davidsh commented on #28733
So, while our best-practice coding pattern is not to hard-code any TLS version, it seems like the use of 'SystemDefault' on Windows 7/Windows Server 2008 R2 is resulting is only TLS 1.0 being part of the set and  excluding TLS 1.1, 1.2.

cc: @morganbr

[2018-04-02 21:50] TravisEz13 commented on #19110
@ViktorHofer  This is broken again in the 1709 nanoserver image

[code]

[2018-04-02 21:54] Anipik commented on #28713
@EmmaZhu the behavior you are describing happens on full framework. The fullframework directory.exists return false in case of paths with extended prefix

[2018-04-02 22:09] Anipik commented on #17905
@MisinformedDNA i talked abouth this with @danmosemsft . Another possible approach is to make ADP class partial. And then you can move this functions to these libraries.

[2018-04-02 22:16] leecow commented on #28652
Targeting 4/17 pending validation.

[2018-04-02 22:19] karelz commented on #28733
Hmm, does it mean that WinHttp on Win7 has different defaults than Schannel which we use? I assume we just tell OS APIs "use your default", right?

[2018-04-02 22:33] Tratcher commented on #28733
https://github.com/dotnet/corefx/blob/3cc6fda0c6abe76eea222c165ebdf816e83df564/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs#L928-L929

https://github.com/dotnet/corefx/blob/3cc6fda0c6abe76eea222c165ebdf816e83df564/src/Common/src/System/Net/SecurityProtocol.cs#L11

[2018-04-02 22:35] Lxiamail commented on #27786
Need further investigation what should be the right fix. Keep it in 2.1, but have to work on it in Post-ZBB.

[2018-04-02 22:39] Lxiamail commented on #27484
Need further investigation on this issue, but no resource to finish before ZBB. Keep it in 2.1, but have to work on it in Post-ZBB.

[2018-04-02 22:39] Lxiamail commented on #27483
Need further investigation, but no resource to finish before ZBB. Keep it in 2.1, but have to work on it in Post-ZBB.

[2018-04-02 22:40] davidsh commented on #28733
@Tratcher correct.  WinHTTP doesn't have any concept of using 'SystemDefault' TLS versions.

@karelz and I discussed offline.  We think the right fix for this app-compat regression in handler behavior is to do something like in SocketsHttpHandler:

[code]

[2018-04-02 22:53] danmosemsft commented on #28713
If you have set the app context flag UseLegacyPathHandling.

[2018-04-02 23:02] karelz commented on #25676
OK, we need to address it first then. We can't unleash 10% failure rate upon others.

[2018-04-02 23:18] karelz commented on #12228
Moving to Future based on offline info from @qizhanMS:

[2018-04-02 23:18] danmosemsft commented on #27124
For the stringmatch case, I tried the diff below and it made perf_regex.match a few % slower:
[code]
Still, @tarekgh it's a shame that [TextInfo.ToLower(char)](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Globalization/TextInfo.cs#L182) allocates a string (albeit 1 character string) even when the output is the same character.

[2018-04-02 23:24] stephentoub commented on #27124
I have a fix I'm perf testing.

[2018-04-02 23:31] karelz commented on #28114
We've hit ZERO 2.1 ZBB bugs! (excluding exceptions and bugs filed after 3/28):

* **2.1 ZBB bugs:** **0** = [0](https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+milestone%3A2.1.0+created%3A%3C2018-03-29+-label%3APost-ZBB) + [0](https://github.com/dotnet/coreclr/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+milestone%3A2.1.0+created%3A%3C2018-03-29+-label%3APost-ZBB) + [

[2018-04-02 23:32] #28114 closed

[2018-04-02 23:51] sunandabalu opened #28743 "Fail the build when there are errors in main tasks"
There are cases where there are errors in "main" tasks but we don't fail the build and go on causing other random/weird errors which are not as straight forward to find.

A good example is what is referenced in dotnet/corefx#28602 where build.cmd failed since Python was not installed in an agent but the build continued failing while trying to build the packages which were not there since building

[2018-04-02 23:55] SteveSyfuhs commented on #28683
I can confirm this works. I tried by adding back in the cheat attribute, and the GSChoice => ReadGeneralizedString method. I can also confirm serialize works with this, but WriteGeneralizedString is equally ugly.

[2018-04-03 00:07] danmosemsft commented on #28743
Should be easy to repro, by just renaming Python and building corefx\src\native

Seems to be from cmake itself as I don't see it in cmakelists.txt?
[code]

[2018-04-03 00:29] ColinNg commented on #25773
Targeting Framework 4.6.1, and was wondering:
Couldn't a newer NuGet package get released, with 4.2.0.0 in it?

I am confused where the latest DLLs come from. System.Net.Http 4.2.0.0 (the highest version number) comes from
`C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\net461\lib`
Yet for other libraries like `System.Security.Cryptog

[2018-04-03 02:16] EmmaZhu commented on #28713
@Anipik What do you mean about the full framework? Anyway I can fix this in my code?

[2018-04-03 02:20] stephentoub opened #28746 "SocketAsyncEventArgs ends up rooting itself until it's Dispose'd"
This issue is for both .NET Framework and .NET Core.

A SocketAsyncEventArgs ends up rooting itself in a cycle involving an async pinning handle.  When the SAEA is first used, it creates an overlapped object that in turn creates a NativeOverlapped* that creates a pinning handle, and that overlapped/pinning handle reference the SAEA, leading to a cycle where the SAEA will remain rooted until it's D

[2018-04-03 02:20] MohammadHamdyGhanem opened #28747 "DelimitedListTraceListener Constructor strange behavior"
I tested this code :
[code]
It workes in windows forms app, but in a .net Core console app, it didn't create the file, and after I manually created the file it didn't write any thing to it!
I had to modify the code to create the file myself and then close it:
[code]
This worked but gave strange results regaring the delimiters as I showed here: https://github.com/dotnet/corefx/issues/28697
It seems

[2018-04-03 02:25] EmmaZhu commented on #28713
d:\Projects\CrashTest>dotnet --version
2.1.300-preview2-008012

I don't have a config file in my project. I think UseLegacyPathHandling should use the default value.

[2018-04-03 02:43] EmmaZhu commented on #28713
@Anipik I can repo it with "<TargetFramework>netcoreapp2.1</TargetFramework>", it returns true with netcoreapp2.0.  I didn't set UseLegacyPathHandling.

[code]

[2018-04-03 03:12] Sunny-pu opened #28749 "[Regression] Test failure: System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandlerTest / GetAsync_IPv6LinkLocalAddressUri_Success"
## Types of failure

`System.Net.Http.Functional.Tests` / `SocketsHttpHandler_HttpClientHandlerTest.GetAsync_IPv6LinkLocalAddressUri_Success`

Linux:
[code]

OSX - [details](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_debug/390/testReport/System.Net.Http.Functional.Tests/SocketsHttpHandler_HttpClientHandlerTest/GetAsync_IPv6LinkLocalAddressUri_Success/
)
[code]

##

[2018-04-03 03:16] MohammadHamdyGhanem commented on #28697
I tested the DelimitedListTraceListener class with the trace source:
[code]
And I got this result:

[2018-04-03 03:28] danmosemsft commented on #28703
@caesar1995 is this what is fixed? not sure whether it contains your referenced change

https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/1757a49ea3d9101aeae462298cd03f9fca2bfc47

[code]

[2018-04-03 03:35] AlexRadch opened #28750 "Should we provide direct ReadOnlySequence constructors for MemoryManager?"
Early ReadOnlySequence has constructors to create it with OwnedMemory. Now OwnedMemory is replaced by MemoryManager and constructors was removed.

Now it is possible to create ReadOnlySequence with MemoryManager by using MemoryManager.Memory property. But it seems strange that we convert MemoryManager to ReadOnlyMemory and then ReadOnlySequence convert it back to MemoryManager by using marshaling.

[2018-04-03 03:40] benaadams opened #28751 "Remove .Length from MemoryManager<T>"
It adds no utility; and only gives scope to implementors to get `Memory` and `Length` properties out of sync.

Suggested change:
[code]

If an implementor wants to go faster than `GetSpan().Length` rather than having a choice on overriding either `Length` or `Memory` or both; it is now clear they only need to override `Memory` as there is no alternate path.

A common usage is checking `Memory.Leng

[2018-04-03 03:41] benaadams commented on #28751
cc @GrabYourPitchforks, @davidfowl, @pakrym, @davidfowl @KrzysztofCwalina

[2018-04-03 03:45] benaadams commented on #28750
Probably :)

[2018-04-03 03:56] AlexRadch opened #28752 "I suggest to add ReadOnlySequence constructor for ArraySegment"
I suggest to add ReadOnlySequence constructor for ArraySegment.

# Proposed API
[code]

[2018-04-03 04:04] benaadams commented on #28751
**tl;dr** `.Length` is already a vestigial api; and since it hasn't shipped yet, its not too late to remove it rather than carry it forward forever.

[2018-04-03 04:07] GrabYourPitchforks commented on #28751
The `Memory<T>` ctor would query `GetSpan()` when performing bounds check validation, then? Trying to think through the whole flow graph here.

[2018-04-03 04:11] benaadams commented on #28751
Is literally no behaviour change to what its doing currently:

https://github.com/dotnet/corefx/blob/f759243d724f462da0bcef54e86588f8a55352c6/src/Common/src/CoreLib/System/Buffers/MemoryManager.cs#L13-L23

i.e.
[code]
to
[code]

[2018-04-03 04:40] GrabYourPitchforks commented on #28751
No, I meant take a look at the code of the Memory(T) ctor that accepts a MemoryManager(T) as an input parameter. Would need to figure out how that'd change, but I don't think it'd be too bad.

[2018-04-03 05:01] pjanotti commented on #25676
Unfortunately I got a hit for the original issue while adding some delays to investigate the other issue and force different scheduling.

[code]

[2018-04-03 05:02] benaadams commented on #28751
Missed those 2 extra virtual calls to `.Length` 😄

Assume you trust derived `MemoryManager<T>` (e.g. for `.Length`) however you don't trust a user who manually creates a `Memory` from a `MemoryManager<T>`?

Could go for something like:
[code]
Risks a StackOverflowException if the derived `MemoryManager<T>` uses the `Memory<T>` .ctor rather than the protected `CreateMemory`; however it will always

[2018-04-03 05:05] benaadams commented on #28751
Updated

[2018-04-03 05:17] benaadams commented on #28751
Could drop the `public Memory(MemoryManager<T> manager, int start, int length)` .ctor also; as probably should not be used? (Unless it was in `MemoryMarshall`)

[code]

[2018-04-03 06:03] pantonis commented on #28711
@karelz .NET Framework.
@joperezr binlog?

[2018-04-03 06:14] Sunny-pu commented on #28206
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20180403.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_ResponseDrain_Test~2FGetAsyncWithMaxConnections_DisposeBeforeReadingToEnd_DrainsRequestsAndReusesConnection(totalSize:%20

[2018-04-03 06:29] dotnet-mc-bot opened #28755 "Test failed: System.Net.WebSockets.Client.Tests.ArraySegmentSendReceiveTest / ZeroByteReceive_CompletesWhenDataAvailable (server: ws://corefx-net.cloudapp.net/WebSocket/EchoWebSocket.ashx)"
Opened on behalf of @Sunny-pu

The test `System.Net.WebSockets.Client.Tests.ArraySegmentSendReceiveTest/ZeroByteReceive_CompletesWhenDataAvailable(server: ws://corefx-net.cloudapp.net/WebSocket/EchoWebSocket.ashx)` has failed.

System.Net.WebSockets.WebSocketException : An exception caused the WebSocket to enter the Aborted state. Please see the InnerException, if present, for more details.\r

[2018-04-03 06:38] winzig opened #28756 "Errors while trying to build master on macOS High Sierra 10.13.4"
I'm trying to `./build-native.sh -release` on the master branch of corefx on macOS High Sierra 10.13.4, and it ultimately dies after:

`[ 83%] Built target System.IO.Compression.Native-Static`

With error `make: *** [all] Error 2`.

[The full output of my build is here.](https://gist.github.com/winzig/ac1c116c761db9dc19e5a15e3a835d56)

Where it seems to go off the rails is when it's compiling pal_

[2018-04-03 06:55] kasper3 commented on #28756
The actual error is:

[code]

Doesn't make much sense as it seems like clang in XCode 9.3 is recognizing a macro "usage" as "declaration"?

[2018-04-03 06:59] kasper3 commented on #28756
@janvorli, should we turn off -Wall in CoreFX, like it was done for CoreCLR? Also clang 4,5,6 support is missing CoreFX (will try to prepare a PR for that).

[2018-04-03 07:33] dotnet-mc-bot opened #28757 "Test failure: System.IO.Tests.DirectoryInfo_EnumDir_str_str/PatternTests_DosStarOddSpace(pattern: \"*.\", sourceFiles: [\"foo. \", \"foo. \", \"foo..\", \"foo. t\"], expected: [\"foo. \", )"
Opened on behalf of @Sunny-pu

The test `System.IO.Tests.DirectoryInfo_EnumDir_str_str/PatternTests_DosStarOddSpace(pattern: \"*.\", sourceFiles: [\"foo. \", \"foo.  \", \"foo..\", \"foo. t\"], expected: [\"foo. \", )` has failed.

Assert.Equal() Failure\r
    Expected: OrderedEnumerable<String, String> [\"foo. \", \"foo.  \", \"foo..\"]\r
    Actual:   OrderedEnumerable<String, String> [\"foo..\"

[2018-04-03 08:06] dotnet-mc-bot opened #28758 "Test failure: System.Net.NetworkInformation.Tests.PingTest / SendPingAsyncWithHostAndTimeoutAndBufferAndPingOptions_Unix"
Opened on behalf of @Sunny-pu

The test `System.Net.NetworkInformation.Tests.PingTest/SendPingAsyncWithHostAndTimeoutAndBufferAndPingOptions_Unix` has failed.

Assert.Equal() Failure
    Expected: Success
    Actual:   TimedOut

        Stack Trace:

           at System.Net.NetworkInformation.Tests.PingTest.<>c__DisplayClass14_0.<SendPingAsyncWithHostAndTimeoutAndBufferAndPingOptions_Unix>b__1(Pi

[2018-04-03 08:35] bentoi opened #28759 "SafeDeleteSslContext.WriteToConnection throws System.ArgumentNullException"
Hard to reproduce but our CI tests sporadically fail with:

[code]

The dotnet process crashes after this. This occurs with a test where a client opens an SSL connection asynchronously and then closes it -- possibly while the handshake is still in progress.

The crash dump showing the stacks: [stacks.txt](https://github.com/dotnet/corefx/files/1870746/stacks.txt)

This occurs with both .NET Core R

[2018-04-03 08:46] kasper3 commented on #28756
With clang6 on Ubuntu, there are bunch of errors:

[code]

(used `(int)GetSocketEvents(events);` to continue)

[code]

(used `>=` to continue)

[code]

[2018-04-03 09:45] danmosemsft commented on #28759
@bartonjs

[2018-04-03 09:46] jrgcubano commented on #23213
@FransBouma some thoughts about how you resolve this? code example?

[2018-04-03 09:50] buddyabaddon opened #28761 "build-native.sh fails when using uname to determine arch"
In src/Native/build-native.sh, the following logic fails when the processor type info contains spaces.
[code]
```uname -p``` does not return the 'platform' as the comment seems to imply but rather the 'processor' type. While it appears some distros do return the architecture, others provide the processor type information correctly if available.

Examples:
[code]
Note that the returned data can con

[2018-04-03 09:58] FransBouma commented on #23213
@jrgcubano No real workarounds, so it's up to MS to fix this if there are types which need to be serializable. I really want to see System.Type to be serializable but until then, it's up to them.

[2018-04-03 10:19] benaadams opened #28763 "Extra test should be added for Dictionary"
This code should work
[code]

From https://github.com/dotnet/coreclr/pull/17196#issuecomment-377360621

/cc @danmosemsft Just so it doesn't fall off the radar

[2018-04-03 10:30] amb4eg opened #28764 "Is there any way to localize validation error messages when checking xml by xsd scheme?"
Is there any way to localize validation error messages  when checking xml by xsd scheme?
I could not find any information about it. In netframework this problem was solved by language packs. There is a way to overload resources  System.Private.Xml.dll  so that messages are taken from the current culture ?

[2018-04-03 10:31] buddyabaddon commented on #28761
It looks like $CPUName is later referenced to see if cross building is needed. The expectation is then that this contains the build architecture (i686, x86_64, etc). In that case, ```uname -p``` shouldn't be used at all here.

[2018-04-03 10:49] stephentoub commented on #28365
@Drawaes, any luck?

[2018-04-03 10:54] stephentoub commented on #28759
Looks like we're locking on an object that gets nulled out in Dispose:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/src/System/Net/Security/Pal.OSX/SafeDeleteSslContext.cs#L132
https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/src/System/Net/Security/Pal.OSX/SafeDeleteSslContext.cs#L118

[2018-04-03 11:14] janvorli commented on #28756
@kasper3 I have actually started to work on fixing these warnings for clang 6 some time ago, but then got distracted by higher priority work for the 2.1 release. I believe I have fixed everything except for the `if (value == UINT64_MAX || value > std::numeric_limits<rlim_t>::max())` - the change to the >= you've made is not correct. The problem is that on some 64 bit platforms, the rlim_t is 64 bi

[2018-04-03 11:32] svick commented on #28729
It probably doesn't make much of a difference, but why choose es-ES?

I think that the best culture to use is one that has the most differences from en-US. The ones that come to my mind are:

* tr-TR (Turkish), because in addition to using comma as decimal separator, it also has different rules for lower/uppercasing.
* cs-CZ (Czech), because in addition to using comma as decimal separator, it also

[2018-04-03 12:46] stephentoub commented on #28655
I actually don't think we should change this. It's an implementation detail that it's currently serialized. It'd be an issue if the docs said it was serialized and then it ran in parallel, but the opposite is fine. And if we change the docs to say sequential, we'll never be able to make it parallel in the future, as that would be a breaking change.

[2018-04-03 12:50] stephentoub commented on #28537
Again here:
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/78a4f426d6ef91aecd3da83efd8b5edb87d86667/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_DefaultProxyCredentials_Test~2FProxyExplicitlyProvided_DefaultCredentials_Ignored

It looks like the test is

[2018-04-03 12:58] MonikaMalik123 commented on #17272
Hi When I am trying to access my application in Container and while I login it threw this error "**One or more errors occurred while sending request**"  although this application works fine on Windows.
Please help me to resolve this issue.

[2018-04-03 13:19] janvorli commented on #28756
@winzig as for the OSX build issue - I've updated my xcode to 9.3 and I can repro the issue. I'm looking into it.

[2018-04-03 13:37] xlegalles commented on #28590
I try to reproduce it with a simple example and can't :( Although I'm sure that we applied the workaround in 2 applications... I have to investigate more (and next time I will do it before opening a ticket!)

[2018-04-03 13:40] bartonjs commented on #28756
@winzig System.Security.Cryptography.Native.Apple.dylib should have built successfully, though; so you're probably as far along as you need to be. :smile:

[2018-04-03 14:08] GSPP opened #28769 "Add a fast and convenient deserialization API to ADO.NET"
When using ADO.NET to read rows the deserialization cost can be very significant. This is important in scenarios where a lot of data is streamed. Here is directly executable code to demonstrate this:

[code]

This code simply deserializes a table of a few thousand rows. There are 5 int columns. The benchmark is designed to demonstrate the issue but it's not unrealistic. I also used ADO.NET best pr

[2018-04-03 14:27] jrgcubano commented on #23213
@FransBouma ok thanks! We are looking for some way that allows us to move forward without any breaking change in https://github.com/FluentNHibernate/fluent-nhibernate/issues/390

[2018-04-03 15:08] jkotas commented on #23689
@Suchiman I like your idea of enabling this optimization without requiring code changes everywhere! We can start with implementing it in ILLinker to measure the benefit and prove its usefulness, and maybe later in Roslyn. We have taken the same journey for SkipLocalsInit. The implementation in ILLinker can:

- Do escape analysis to identify all arrays that are just used as internal implementation

[2018-04-03 15:15] jaredpar commented on #28729
It was chosen for roslyn for a very critical reason: there was a VM available 😄

I agree there could be other more challenging languages for us to choose. At the time we started this though only es-ES was on hand to try. Hence we started there.

[2018-04-03 15:38] janvorli commented on #28756
Fixed by #28768

[2018-04-03 15:38] #28756 closed

[2018-04-03 15:39] karelz commented on #17272
@MonikaMalik123 try to debug it in the container / remotely, get exception call stack, check container settings, make sure you use latest .NET Core etc. That will hint you what to look at next.
Or try to create minimal repro which works on Windows and fails on Linux.

[2018-04-03 15:41] danmosemsft opened #28772 "[Desktop] Test failure: PlatformHandler_HttpClientHandlerTest/ AllowAutoRedirect_True_ValidateNewMethodUsedOnRedirection"
Failed on NETFX CI leg:
[code]

[2018-04-03 15:41] danmosemsft opened #28773 "[Desktop] Test failed: PlatformHandler_HttpClientHandler_Authentication_Test / PreAuthenticate_FirstRequestNoHeader_SecondRequestVariousStatusCodes_ThirdRequestPreauthenticates"
Failed on NETFX CI leg:
[code]

[2018-04-03 15:42] danmosemsft opened #28774 "Test failed: System.Net.Tests.HttpListenerContextTests / AcceptWebSocketAsync_InvalidSubProtocol_ThrowsArgumentException"
Failed on OSX10.12 CI leg
https://mc.dot.net/#/user/danmosemsft/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/a5b501ec67fe3962d9861ad29e761487792b9080/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpListenerContextTests~2FAcceptWebSocketAsync_InvalidSubProtocol_ThrowsArgumentException(subProtocol:%20%5C%22random%7Btext%5C%22)
[code]

[2018-04-03 15:43] danmosemsft opened #28775 "System.Net.Security.Tests.CertificateValidationClientServer/CertificateValidationClientServer_EndToEnd_Ok(useClientSelectionCallback: True) failed on OSX10.12 CI leg"
[code]

[2018-04-03 15:43] karelz commented on #28697
Which seems to be perfectly fine, no weird things happening there as far as I can see.

[2018-04-03 15:44] danmosemsft commented on #28763
@maryamariyan mind adding this?

[2018-04-03 15:45] QtRoS commented on #28764
I also need this functionaly. After spending some time on source code exploration, I would say that there is no way to easily localize these messages other than to force runtime to use localized *.resx files. But in such case all your exceptions will be localized, for example 'Object reference not set to an instance of an object' will become 'Ссылка на объект не указывает на экземпляр объекта' in

[2018-04-03 15:46] ViktorHofer commented on #19110
cc @danmosemsft

[2018-04-03 15:46] danmosemsft commented on #28743
@wtgodbe do you have any time to take a look maybe?

[2018-04-03 15:46] maryamariyan commented on #28763
@danmosemsft sure, thanks

[2018-04-03 15:48] #28655 closed

[2018-04-03 15:48] adamsitnik commented on #27483
I have investigated the perf regression for Windows here https://github.com/dotnet/corefx/issues/27636

To tell the long story short: we had a regression on Windows in the preview1 of 2.1 due to Marvin regression which was fixed by https://github.com/dotnet/coreclr/pull/16654 . Moreover https://github.com/dotnet/coreclr/pull/16659 have actually improved the perf.

However, we still have a big regr

[2018-04-03 15:48] #27483 closed

[2018-04-03 15:51] karelz commented on #25773
@ColinNg Our goal is not to release the System.Net.Http NuGet package ever again. We would even delete it / reship empty one if it wouldn't break way too many customers (we discussed these options quite a lot a year ago).
You should not need to explicitly reference `Microsoft.NET.Build.Extensions\net461\lib` directory. VS tooling should take care of that for you. You should not need explicit bindi

[2018-04-03 15:52] dotnet-mc-bot opened #28777 "[Desktop] Test failure: System.Net.WebSockets.Client.Tests.CancelTest/CloseAsync_Cancel_Success(server: wss://corefx-net.cloudapp.net/WebSocket/EchoWebSocket.ashx)"
The test `System.Net.WebSockets.Client.Tests.CancelTest/CloseAsync_Cancel_Success(server: wss://corefx-net.cloudapp.net/WebSocket/EchoWebSocket.ashx)` has failed.
[code]

[2018-04-03 15:52] danmosemsft commented on #28777
@caesar1995 I believe this is your new test?

[2018-04-03 15:53] danmosemsft commented on #28777
Note this is on NETFX not Core

[2018-04-03 15:53] benaadams commented on #28763
For background; I changed `Remove` to always increment version rather than to do it only when an item was removed which would mean that example would throw an exception about the enumerator no longer being valid (then reverted it) https://github.com/dotnet/coreclr/pull/17196#issuecomment-376003647

[2018-04-03 15:54] karelz commented on #28775
Duplicate of #21037

[2018-04-03 15:54] #28775 closed

[2018-04-03 15:58] stephentoub commented on #28777
This test has been around for years:
https://github.com/dotnet/corefx/blame/1d107ad2e499bda7de6974f83314ebfe8b38f7b5/src/System.Net.WebSockets.Client/tests/CancelTest.cs#L78

[2018-04-03 15:58] danmosemsft commented on #21037
Again https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180403.04/workItem/System.Net.Sockets.Tests/wilogs
[code]

[2018-04-03 16:00] #25983 closed

[2018-04-03 16:00] #28537 closed

[2018-04-03 16:02] armitagemderivitec commented on #25773
I have upgraded to VS2017 version 15.6.3 and I am still having issues with this. Although binding redirects are being added they refer to version 4.1.1.2 when version 4.2.0.0 is still being delivered during a build. I solved this by removing the redirects all together but this is a manual step i would like to avoid.

[2018-04-03 16:03] MohammadHamdyGhanem commented on #28697
@karelz
If this is normal, what kind of formatting is that, and who uses it to do what?
This what the docs say:

There is no sample on using this class, and I tried the methods of The Trace and TraceSource classes but thet gave the shown results, which are far from what the docs say!
So, is there any method to add "fields in a line of output" to be delimited?
Thanks.

[2018-04-03 16:04] danmosemsft commented on #28204
@wfurt do you have a few mins to try iputils as suggestesd? it would be nice to clear these daily errors

[2018-04-03 16:05] danmosemsft commented on #21857
@Anipik can you please disable this test for Alpine, using this issue #, since if we're not fixing it right now it should be disabled.

[2018-04-03 16:07] MohammadHamdyGhanem commented on #28697
By the way:
Why there are two commas between 1 and "x" in first line:
"Testsource",Information,1,,"x",,,,,,

[2018-04-03 16:08] danmosemsft commented on #28749
Actually GetAsync_IPv6LinkLocalAddressUri_Success is failing on all Unixes right now.

https://mc.dot.net/#/product/netcore/prodconmaster/source/prodcon~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180403.02/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandlerTest~2FGetAsync_IPv6LinkLocalAddressUri_Success

O

[2018-04-03 16:09] danmosemsft commented on #27124
@stephentoub 's fix does not affect ToLower(char). Perhaps stringmatch is as good as it can be right now.

[2018-04-03 16:10] stephentoub commented on #27124
That's because TextInfo.ToLower(char) already wasn't allocating :smile:

[2018-04-03 16:17] stephentoub commented on #28697
Because it supports writing out other additional pieces of information, based on https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.tracelistener.traceoutputoptions?view=netframework-4.7.1#System_Diagnostics_TraceListener_TraceOutputOptions.

Try adding:
[code]
for example after you construct the Listener and you'll see.

[2018-04-03 16:19] joperezr commented on #28711
sorry, in order to generate a binlog, from a developer command prompt, try running `msbuild yourProject.csproj /bl /t:rebuild`. This extra `/bl` argument will generate a binlog that will help us diagnose why are you seeing these errors.

[2018-04-03 16:19] danmosemsft commented on #27124
I meant in wall-clock.

[2018-04-03 16:34] jwisener commented on #25773
@karelz the VS tooling is not taking care of it, as people are reporting issues.  see this link https://github.com/dotnet/sdk/pull/1712#issuecomment-377314726 posted earlier by
@joperezr

Currently this is broken for ASP.NET webprojects. I have to set a direct reference from our ASP.NET  webproject because of all the errors and warnings, in addition the correct versions are not deployed into the a

[2018-04-03 16:36] caesar1995 commented on #28777
No. And this failure on Netfx is different than #27211 (which is on Core).

[2018-04-03 16:44] danmosemsft commented on #19110
@TravisEz13  are you saying this worked before? As based on my experiments at the top of the page, it never produced anything useful.

I am not sure why I noted "seems to be fixed" as I see the test is still disabled for Nano. We should probably keep this open to try to find another method (env vars) since clearly folks need it.

I will check with Nano folks about the API.

[2018-04-03 16:51] wfurt commented on #28749
This is loopback test:
        public static IPAddress GetIPv6LinkLocalAddress() =>
            NetworkInterface
                .GetAllNetworkInterfaces()
                .SelectMany(i => i.GetIPProperties().UnicastAddresses)
                .Select(a => a.Address)
                .Where(a => a.IsIPv6LinkLocal)
                .FirstOrDefault();
    }

[2018-04-03 16:52] IeuanWalker opened #28780 "Default Proxy issues"
# Default Proxy issues
Our organisation has a proxy and in previous versions on .NET (.net full framework), you can add the following to the web.config and the application will use your system's default proxy.

[code]
I have tried a lot of different options but just cant seem to get anything to work.

[code]

Any help would be greatly appreciated.

[2018-04-03 16:56] wfurt commented on #28780
You should not need user & password in Uri. What version of .Net and OS is failing for you?
If the request failing to authenticate or is it not going to proxy at all?

[2018-04-03 16:57] #28746 closed

[2018-04-03 16:59] davidsh commented on #28780
If you simply want to use the default system proxy and need to pass default credentials to that proxy during HTTP requests, then do this:

[code]

[2018-04-03 17:02] wfurt commented on #28204
I'll take a look @danmosemsft. It was low on priority prior ZBB.

[2018-04-03 17:06] caesar1995 commented on #28703
It's a new issue, this one throws Exception instead of crash/hang (catastrophic failure). We will need to disable the test/open a new issue, and investigate when it happens next time.

[2018-04-03 17:06] #28438 closed

[2018-04-03 17:08] tarekgh opened #28781 "Running UpdatePackageIndex Target should produce sorted results"
currently, this target doesn't sort the produced results inside the JSON file.

please look at the https://github.com/dotnet/corefx/pull/28720#issuecomment-378320967 for more info.

[2018-04-03 17:09] davidsh commented on #28780
Also, putting username and password into the Uri itself is a deprecated concept and is ignored in the HTTP stacks of .NET Framework and .NET Core.

[2018-04-03 17:09] tarekgh commented on #28781
CC @joperezr @ericstj @weshaggard

[2018-04-03 17:09] karelz commented on #28365
@rmkerr can you please take a look?

[2018-04-03 17:10] karelz commented on #28759
@rmkerr can you please take a look?

[2018-04-03 17:11] wfurt commented on #28749
This seems to be regression caused by #28578
It seems like the change changed what we store in _host.
In my local case is is is fe80::6651:6ff:fe5b:6bb6 instead of fe80::6651:6ff:fe5b:6bb%2
Note that the scope is mandatory for LLA.

cc: @caesar1995

[2018-04-03 17:14] davidsh commented on #28749
Why wasn't this caught during the PR for #28578?

[2018-04-03 17:16] joperezr commented on #28781
yeah, I had chatted with @ericstj previously about this one. The fix is a one-liner change n buildtools repo so perhaps this issue should get moved there instead.

[2018-04-03 17:17] caesar1995 commented on #28749
I have run [Outerloop] test with product change (https://github.com/dotnet/corefx/pull/28578#issuecomment-377674456, I deleted some comments like this).

I will investigate.

[2018-04-03 17:19] wfurt commented on #28761
I think CPUName=$(uname -m) should be correct. @buddyabaddon  to confirm.
It returns amd64 on FreeBSD (same -p) and x86_64 on OSX10.12 (instead of i386)

It would be interesting to know what kernel version or distro does this.

[2018-04-03 17:24] bartonjs commented on #28759
Since `SafeHandle.IsClosed` is only true when the reference count actually went to zero, the fix might be to guard the null-outs behind that value.

[code]

If !IsClosed then there's an outstanding P/Invoke to SSLRead or SSLWrite and therefore it's not safe to clean up the queues or the delegates.  Just let them get (potentially) more slowly garbage collected.

Alternatively, never null out those

[2018-04-03 17:26] stephentoub commented on #28759
I'd be inclined to keep it simple and just not null those out (still Dispose them).  It shouldn't really impact GC; in general we don't null fields out during Dispose.

[2018-04-03 17:27] winzig commented on #28756
Thanks so much guys, I can confirm latest from master is building fine here!