[2016-08-31 04:29] weshaggard commented on #11278
Yes that sounds reasonable.

[2016-08-31 04:36] jkotas opened #11284 "Move `List<T>` and `EqualityComparer/Comparer<T>` to CoreLib"

[2016-08-31 04:37] jkotas commented on #11151
Opened #11284

[2016-08-31 04:40] jkotas commented on #11284
@SedarG Could you please include these in work that you will be doing for #11222 and similar issues? Let me know if I can help.

[2016-08-31 04:45] bartdesmet opened #11286 "Review nameof / string interpolation usages in expression tree library"
* Noticed an unconditional use of string interpolation causing allocations only relevant for error cases
* Some places where string literals could be replaced by `nameof`

[2016-08-31 04:55] weshaggard commented on #11023
@ericstj?

[2016-08-31 05:06] davidsh commented on #11266
This is likely a dupe of either #9124 or #9234.

[2016-08-31 05:41] Priya91 opened #11288 "Revisit System.Diagnostics.Tests.DebugTests to test Full framework implementation."
The tests under System.Diagnostics.Tests.DebugTests in System.Diagnostics.Debug.Tests.dll are skipped for Net46 runs, as they use an internal field from System.Diagnostics.Debug implementation from .NET Core that's not available in Desktop implementation.

Desktop implementation source code is [here](https://referencesource.microsoft.com/#System/compmod/system/diagnostics/Debug.cs,632c6da37ce825df

[2016-08-31 05:50] onovotny commented on #10470
@JamesNK I know you'll hate this answer, but cross-compiling can ensure that each platform gets the most optimized version for it. With `project.json` and whatever's coming with the 1.1 tooling transitive dependencies will resolve correctly and ensure that the best version of your library wind up in the runtime dir.

[2016-08-31 06:21] MelbourneDeveloper commented on #1039
Mono? Binding Bits?

Look! Here is the code for DataView.
https://github.com/Microsoft/referencesource/blob/master/System.Data/System/Data/DataView.cs

It's all there.

[2016-08-31 06:59] FransBouma commented on #1039
Yeah, but that's against the EULA.

	The question isn't whether it's theoretically possible, but whether it's doable. 'Someone will need' yeah, that's always the case, isn't it?

	Heh, yeah that's clear ;)

	yeah, but it's not compilable on .net core because it depends on apis which aren't in .NET core at the moment.

	And even if you spent all that effort to port these too, you'll run into the is

[2016-08-31 07:14] redowl3 commented on #1039
Which (I think?) brings us back to my question of how can MSFT only support Core RTM apps on Azure when not everything has been ported?

[2016-08-31 09:50] magol opened #11291 "Proposal: Dictionary with key and value in same object"
Sometime when you create a Dictionary, the key is already in the value. It is redundant to specify the key twice, like this:

[code]

One solution is to use the abstract class [`KeyedCollection<TKey, TItem>`](https://msdn.microsoft.com/en-us/library/ms132438(v=vs.110).aspx) like this
[code]

The problem with that is that you have to create a custom class each time you use it.

My suggestion is to

[2016-08-31 09:50] GSPP commented on #11282
This could be a more general API what allows to precompile a set of strings to find. For multi-char strings this could use an algorithm such as Boyer–Moore or Aho-Corasick (or better; this is the fist name that came to mind). It could optimize the single char case with this map idea. The same idea also helps repeated searches for a single string.

I have implemented such a thing and it often comes

[2016-08-31 11:10] stephentoub commented on #11284
(Just as a housekeeping note, for cases like List and EqualityComparer where the coreclr repo already contains the source being used for coreclr and corefx contains the source being used for corert, when we add these to corert let's please delete the corresponding source from corefx.)

[2016-08-31 11:17] ayuckhulk commented on #10990
@weshaggard I see that it's fragile but currently this way is used in coreclr tests on Linux.
Also, what is the correct way to build `layout/dir.proj`? Running `../Tools/msbuild.sh` in `layout` directory produces the following error:
[code]

[2016-08-31 12:07] stephentoub commented on #9890
Add it to:
https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.CodeAnalysis/PackageFiles/PinvokeAnalyzer_OneCoreApis.txt
Then corefx will need to consume an updated buildtools.

https://github.com/dotnet/corefx/blob/master/src/Common/src/Interop/Windows/Interop.Libraries.cs

If that's the case, please do go ahead and submit a PR to use it.  It still won't work for the WinRT imple

[2016-08-31 12:22] stephentoub commented on #11260
Another hit: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/3808/consoleText

[2016-08-31 12:36] stephentoub commented on #11228
The Convert class already has an overload of ToString that takes both a number and a base, so:
```Console.WriteLine(Convert.ToString(0xBAC0, 2));```
prints out:
[code]

[2016-08-31 12:37] svick commented on #11291
Would it make sense for the proposed `KeyedDictionary` to just inherit from `KeyedCollection`? I believe the full implementation would be just:

[code]

[2016-08-31 12:40] #10801 closed

[2016-08-31 12:44] svick commented on #11282
If this is implemented, I don't think the type that holds the precompiled information should be called `ProbabilisticMap`, because that pretty much exposes implementation details by naming the algorithm used, thus more or less preventing the use of another precompilation algorithm in a future version or alternative implementation of corefx.

[2016-08-31 13:13] christianhuening opened #11292 "Cannot set udpClient.ExclusiveAddressUse = false in macOS and Linux"
I originally posted this as a comment to this closed issue: https://github.com/dotnet/corefx/issues/8552#issuecomment-243579967

Since the issue is somewhat different, I decided to open a new one.

I am implementing a Multicast application, which requires me to allow to bind multiple sockets to the same port on a machine. While working fine on windows 10 setting `udpClient.ExclusiveAddressUse = fa

[2016-08-31 14:35] magol commented on #11291
@svick That is a good solution too. :-)

[2016-08-31 15:29] Tragetaschen opened #11295 "NetworkStream.Write does not send all bytes to the socket"
I'm not (yet :-) running .NET Core on my ARM platform, but I have been running into an issue with Mono in the NetworkStream class that's part of their implementation from the shared source. I have created https://bugzilla.xamarin.com/show_bug.cgi?id=43902 and try to create awareness of an assumption in a comment that's not true.

For convenience, here is a copy of the issue:

My setup is a program

[2016-08-31 15:30] weshaggard commented on #10990
Yes I realize that and it has been broken many times and I've asked them to find a better way as well :)

Yes layout/dir.proj is also fragile but in a different way, which is that it isn't complete and only works for windows right now, I was just pointing it out as a better example to tweak to make work.

I agree with you that this is something that we should try and have so I will try to spend so

[2016-08-31 15:35] Tragetaschen opened #11296 "NetworkStream.Write does not send all bytes to the socket"
I'm not (yet :-) running .NET Core on my embedded ARM platform, but I have been running into an issue with mono where a comment in the shared source isn't true. Since the same code is used here, I thought it might be a good idea to raise awareness early. The following is a copy of https://bugzilla.xamarin.com/show_bug.cgi?id=43902 for convenience.

The `NetworkStream.Write()` function doesn't tran

[2016-08-31 16:03] stephentoub commented on #11213
But in either case, the Windows implementation "works" with these international URLs, right?  That doesn't appear to be the case here for unix... it seems pretty bad if out-of-the-box you can't access some sites.

There's a key difference, though: that affects whether you can use certain more-advanced APIs on HttpClient.  This, however, affects whether you can use HttpClient at all with various we

[2016-08-31 16:08] shaggygi commented on #11228
Oh, good.  This is nice to know!  Thx

[2016-08-31 16:19] ghost opened #11297 "S.S.P missing Token property"
As per http://referencesource.microsoft.com/#mscorlib/system/security/principal/windowsidentity.cs,ec5619fe4ea57a04, `WindowsIdentity.Token` can be defined in CoreFX as:

[code]

The current workaround for consumers is: `AccessToken.DangerousGetHandle()`.

[2016-08-31 16:49] davidsh commented on #11292
cc: @stephentoub @ericeil

[2016-08-31 16:50] dagood commented on #11098
To add a bit more detail about what this actually does: when merging `dev/api` back into `master`, there are two choices: keep `master`'s sha and build-info branch, or keep `dev/api`'s sha and build-info branch. The only feature this issue adds is that if the merger chooses to keep `dev/api`'s dependency, the next auto-upgrade will switch it back to `master`.

To clean up the inevitable merge conf

[2016-08-31 17:04] kouvel opened #11299 "Remove redundant internal type definitions that are now publically exposed elsewhere"
There are some internal type definitions under the Common directory, which are included into multiple projects. Those types are now publically exposed from System.Runtime or elsewhere. Remove the internal type definitions in favor of the public types.

This would involve retargeting any projects that were including the internal types to netstandard1.7, so that they can reference the public type.
-

[2016-08-31 17:41] bartdesmet opened #11301 "Address some oddities in IndexExpression.FindProperty and MethodCallExpression.FindMethod"
* It uses the current culture for a string comparison
* Use of some reflection APIs could be restored

[2016-08-31 18:07] ericeil commented on #11292
OSX doesn't have the SO_EXCLUSIVEADDRUSE socket option, so currently we throw if you try to set that option.

It looks like Mono [took a different approach](https://github.com/mono/mono/blob/e7ce5ea9d984620fc73ca86d0cc17dddc15c5f59/mono/metadata/socket-io.c#L2254): on systems with no SO_EXCLUSIVEADDRUSE option, they set SO_REUSEADDR the opposite way.  So:

[code]

...is translated to...

[code]

W

[2016-08-31 18:19] christianhuening commented on #11292
@ericeil : thanks for the clarification! I used mono intensively over the past 3,5 years. The reuseaddress approach worked fine so far. Also the ReuseAddress option is not exposed as property on system.net.socket in dotnet core so it wouldn't be ambivalent.

Setting the reuse option via set socket options  on dotnet core currently doesn't work however, is that intended?

Thanks for caring! Dotnet

[2016-08-31 18:27] davidsh commented on #11292
@CIPop Can you comment on this?

[2016-08-31 18:55] ericeil commented on #11292
I'm reading more about these options, which are new to me. 😄  There's a good writeup on this [on stackoverflow](http://stackoverflow.com/questions/14388706/socket-options-so-reuseaddr-and-so-reuseport-how-do-they-differ-do-they-mean-t), and more in the [Windows docs](https://msdn.microsoft.com/en-us/library/windows/desktop/cc150667(v=vs.85).aspx).

It looks to me like SO_EXCLUSIVEADDRUSE is really

[2016-08-31 18:57] ericeil commented on #11292
We just pass this through to the OS, as the native SO_REUSEADDR option.   However, see [the stackoverflow answer](http://stackoverflow.com/questions/14388706/socket-options-so-reuseaddr-and-so-reuseport-how-do-they-differ-do-they-mean-t) for the differences in the semantics of this option on Windows vs. OSX, etc.  It would be nice if we could make these options equivalent on all platforms, but I'm

[2016-08-31 18:58] stephentoub commented on #11260
Another: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/3815/

[2016-08-31 18:59] stephentoub commented on #11260
Another, this time on Linux:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/dev_api/job/centos7.1_debug_prtest/579/consoleText

[2016-08-31 18:59] joperezr opened #11303 "[dev/api] System.IO.Tests.FileStream_WriteAsync.ManyConcurrentWriteAsyncs failing in netcoreapp1.1 non-Windows runs"
cc: @stephentoub
Test run output:
[code]

[2016-08-31 19:33] #11217 closed

[2016-08-31 19:43] christianhuening commented on #11292
@ericeil  : Thanks for the stackoverflow and windows docs link! Hadn't found those before.
On a spontaneous note: Having ported my project initially from Java to C#, then from .NET Framework to Mono and now over to dotnet core (the overall process involving the three major OS platforms + virtualization) somehow puts me in the mood of "I'd like to configure it while being informed by a decent docum

[2016-08-31 20:50] joperezr opened #11306 "[dev/api] Some EnvironmentTests fail in non-Windows netcoreapp1.1 runs"
cc: @stephentoub

[code]

[2016-08-31 20:51] danmosemsft commented on #11291
If the key can be obtained from the value, then a backing Dictionary<K, V> can be wasteful if you want to completely minimize the size of the collection - it is storing a reference to both key and value. In MSBuild I modified a Hashset to take objects that implemented an interface named IKeyed in order to store objects that knew their own key:
https://github.com/Microsoft/msbuild/blob/4db2d334be6d

[2016-08-31 20:55] joperezr opened #11307 "[dev/api] Some new TimeZoneInfo tests are failing in non-Windows netcoreapp1.1 runs"
cc: @hann013 @stephentoub @danmosemsft

[code]

[2016-08-31 21:06] sepidehMS commented on #10325
@tim-xmlprime-com As mentioned in the comment, the reason this was made internal initially was because the abstract member `XmlType`  was removed, due to XmlSchema not being available. We are currently working on bringing back all System.Xml APIs, including XmlSchema, and very likely it will happen with 1.2.0.

[2016-08-31 21:07] #11161 closed

[2016-08-31 21:29] ericeil commented on #11292
Thanks for pointing out the comment about the default value; I missed that, and it's very helpful here.

I assume this was meant only to apply to Windows versions, as this was almost certainly written before this was ported to other operating systems.

[2016-08-31 21:35] #10836 closed

[2016-08-31 21:38] Tragetaschen commented on #11296
Hrmpf, Edge crashed while posting #11295, so I recreated it. Sorry for the duplicate.

[2016-08-31 21:38] #11296 closed

[2016-08-31 21:43] ericeil commented on #11292
So, here's what I propose:

`ExclusiveAddressUse`: enabling this just turns on a rule that's always enforced on OSX and Linux anyway.  So:

1. Getting the value of `ExclusiveAddressUse` on OSX/Linux should always return "true."
2. Setting `ExclusiveAddressUse = true` on OSX/Linux should do nothing.
3. Setting `ExclusiveAddressUse = false` on OSX/Linux should throw (PlatformNotSupportedException?).

[2016-08-31 21:44] anurse opened #11309 "[WebSockets] If TCP connection closed without WebSocket close, ManagedWebSocket keeps returning 0-byte frames"
**Overview:**

In some browsers and clients, it is possible to terminate the underlying TCP connection without a proper close handshake. In these cases, `ManagedWebSocket` begins interminably returning 0-byte frames from `ReceiveAsync`. This can be observed using a Safari browser, and running a SignalR sample as described here: https://github.com/aspnet/SignalR-Server/issues/202, but I've produced

[2016-08-31 22:21] swaroop-sridhar commented on #11260
I know what the problem is. The GCInfo is wrong for structs containing a single GC-reference returned in a single register. I'm working on a fix.

[2016-08-31 22:33] stephentoub commented on #11309
Thanks, @anurse.  You can see in the comment two lines later that this was intentional:
https://github.com/dotnet/corefx/blob/master/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/ManagedWebSocket.cs#L621-L622
But that was based on my understanding of what the behavior was supposed to be.  If that understanding is incorrect and we're supposed to be throwing in this case, we can of cour

[2016-08-31 22:38] stephentoub commented on #11306
@joperezr, what OS?  These fail on both Linux and macOS?

[2016-08-31 22:39] bartdesmet commented on #10520
Closing this issue; the referenced issues will track potential other optimizations.

[2016-08-31 22:39] #10520 closed

[2016-08-31 22:43] bartdesmet commented on #11097
`ExpressionQuoter` seems to be copied as well.

[2016-08-31 22:57] stephentoub commented on #11260
Thanks, @swaroop-sridhar.  The sooner the better.  I've stopped commenting on this issue with examples, but this is taking out a bunch of our CI legs in PR.

[2016-08-31 22:58] joperezr opened #11313 "[dev/api] Some Serialization tests are failing for System.Collections.Specialized netcoreapp1.1 runs"
cc: @stephentoub

[code]

[2016-08-31 23:06] Tratcher commented on #11309
It should throw if it reaches the end of the stream before it receives a Close message.

[2016-08-31 23:07] Tratcher commented on #11309
Alternatively, return a Close message instead of a Text message.

[2016-08-31 23:08] anurse commented on #11309
Yeah, the big problem is that the socket is returning an empty message under a condition that will never ever change (i.e. the underlying Stream is at the end). As a result, it just spams the caller with empty messages. Returning a close message with a status code indicating that the connection was terminated might be more appropriate (and avoids "Exceptions-as-control-flow")

[2016-08-31 23:10] stephentoub commented on #11309
That's why I asked what the existing Windows implementations do.  We should try to match that.

[2016-08-31 23:11] anurse commented on #11309
It turns out that there is a Close Status code exactly for this: 1006 (https://tools.ietf.org/html/rfc6455#section-7.4.1). Unfortunately it isn't part of the WebSocketCloseStatus enum...

I can try to look in to what existing Windows implementations do from the "client" side when this happens.

[2016-08-31 23:15] ericeil commented on #11058
Is there an ETA for getting this updated?

[2016-08-31 23:25] anurse commented on #11309
The Windows ClientWebSocket throws a WebSocketException during the receive:

[code]

[2016-08-31 23:51] joperezr opened #11315 "[dev/api] New System.Security.Cryptography.Algorithms tests are failing in netcoreapp1.1 runs"
cc: @steveharter
Looks like some new tests that you added are broken in netcoreapp1.1. I'll comment them out for now, but this issue is to track the work of readding them back when fixed.
This are the errors that I'm seeing:
[code]

[2016-09-01 00:06] joperezr commented on #11306
I saw them failing in all non-Windows for my CI, but I only ran manually on OSX. The error above is comming from my manual OSX run.

[2016-09-01 00:10] stephentoub commented on #11306
Thanks. I have a fix, but I'll wait to submit it until your change goes in so that CI will run them.

[2016-09-01 00:11] Tratcher commented on #11309
returning a 1006 Close message would be preferred

[2016-09-01 00:25] joperezr commented on #11306
Awesome! I'm expecting CI to be green now as I think I've commented out (and created issues) for all of the tests that were failing. I'll merge soon.

[2016-09-01 00:35] atrauzzi opened #11317 "Can't add `.env` for ini config"
If I use the following:
[code]

I get:

[code]

Is there anything about the fact that the file starts with a dot that gets in the way here?  Is there any reason why that should be a limitation?

[2016-09-01 00:37] shmao opened #11319 "Bump System.Xml.XmlSerializer Version before 1.2.0"
We need to bump System.Xml.XmlSerializer's version before 1.2.0 release if the version hasn't been bumped yet.

[2016-09-01 00:39] stephentoub commented on #11309
For error cases like this, I would like to match the behavior we have on desktop and the behavior we have on coreclr already on Windows.  Sounds like that's an exception.  (It also seems a bit strange to me to manufacture a close frame and pretend that's what the receive received when there wasn't actually one.)

[2016-09-01 00:42] sepidehMS opened #11320 "Restore remaining Reflection APIs (.NET Core)"
Here's a list of APIs that are still not exposed, either due to depending on a missing runtime implementation or requiring to expose types from other namespaces:

[code]
Plus `System.Reflection.StrongNameKeyPair ` type and the following from `System.Type`:
[code]

The following will also need to be restored:
[code]

[2016-09-01 00:51] joperezr opened #11321 "Fix mapping table in our documentation"
#11236 added some special target and itemgroups to dir.targets because the dotnet version that we have is not aware of the mapping between netcoreapp1.1 and netstandard1.7. Once we update the version of nuget that we use, then we should be able to remove this piece of code. This target is intended to track the work.

[2016-09-01 01:00] bartdesmet opened #11323 "Reduce some closures and allocations in LambdaCompiler"
Especially around the code dealing with `WriteBack` objects, we tend to allocate `List<WriteBack>` objects when we may not need them.

[2016-09-01 01:03] CIPop commented on #11292
I agree with the `ExclusiveAddressUse` plan on platforms that have a different default behavior.

Regarding `ReuseAddress` and a potentially new enum value `ReusePort`: these are advanced socket options that, in my mind, map directly to the OS layer's implementation. I think that developers expect different behaviors as well as different options for each platform.
I agree that if we aim at simplif

[2016-09-01 01:06] #11243 closed

[2016-09-01 01:09] davidsh commented on #11321
What is "netstandard17"?  Isn't "netstandard16" mapping to .NET Framework 4.6.3 (vNext)?

So, then, what is netstandard17 exactly?

[2016-09-01 01:12] Priya91 commented on #10839
This should be fixed.

[2016-09-01 01:12] #10839 closed

[2016-09-01 01:15] joperezr commented on #11321
No. Currently the mappings are:
- netstandard1.6 maps to netcoreapp1.0 and net462 (this is shipped)
- netstandard1.7 maps to netcoreapp1.1 and net463 (vnext)

That said, netstandard1.7 might change in the future, but that is what we are using currently in our dev/api branch

[2016-09-01 01:20] davidsh commented on #11321
The documentation here says otherwise:
https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md

Can we fix the documentation?

[2016-09-01 01:30] Priya91 opened #11324 "SortedList indexer implementation of IDictionary throws ArgumentNullException in Desktop"
`SortedList<TKey,TValue>`, `IDictionary.this[object key]` throws ArgumentException when the key is not compatible with `TKey`

On Desktop ArgumentNullException is thrown. ArgumentNullException is incorrect, as key is not null, ArgumentException is more suited. This is a behavior change, filing issue to track on what we want to do with these differences.

cc @terrajobst @weshaggard @stephentoub @da

[2016-09-01 01:36] bartdesmet opened #11325 "ILGen can use Debug.Assert in lieu of ContractUtils"
These methods are used internally; argument validation should be done much higher up. We don't need the redundant calls to `ContractUtils` methods in `Release` builds.

[2016-09-01 01:39] davidsh commented on #11321
cc: @CIPop

[2016-09-01 01:56] weshaggard commented on #11098
Wouldn't having them on 2 lines next to each other accomplish the same thing?

[2016-09-01 02:00] svick commented on #11317
`ConfigurationBuilder` is part of [aspnet/Configuration](https://github.com/aspnet/Configuration), not corefx, so I believe questions regarding it belong there.

[2016-09-01 02:44] bartdesmet opened #11327 "Consider caching some MemberInfo object that are frequently obtained"
Most notably in `LambdaCompiler` and `ILGen`, we have a bunch of places where we call reflection repeatedly and allocate `Type[]` arrays to do so, e.g.
[code]
We can use a lazy initialization pattern much like we do in the interpreter to cache instruction type instances upon first use:
[code]

[2016-09-01 02:49] bartdesmet opened #11328 "Reintroduce the use of Type.GetTypeCode in lieu of a custom implementation"
It seems this member was reintroduced in https://github.com/dotnet/corefx/pull/6815. Can we take a dependency on it again for e.g. `TypeCode System.Dynamic.Utils.TypeExtensions.GetTypeCode(this Type)` instead of using `if` checks?

[2016-09-01 02:50] bartdesmet commented on #11328
When we do so, we can consider changing some code in `ILGen` to use `switch` rather than some `if` logic, e.g. in `EmitLoadValueIndirect`.

[2016-09-01 02:58] bartdesmet commented on #9228
https://github.com/dotnet/corefx/issues/8496 occurred again on PR for https://github.com/dotnet/corefx/pull/11326

[2016-09-01 03:09] davidsh commented on #11170
i will change the [ActiveIssue] tag on the test to disable all platfoms.

[2016-09-01 03:41] benaadams commented on #11309
The behavior on desktop does some really weird things.

It throws `COMException` with at least 3 different error codes, as well as WebSocketException and a few other different things. SignalR [has handling for COMException](https://github.com/aspnet/SignalR-Server/blob/11da2b7fff889eea84607beedd7b0a562a30facd/src/Microsoft.AspNetCore.SignalR.Server/WebSockets/WebSocketHandler.cs#L210-L230) and the

[2016-09-01 03:58] benaadams commented on #11309
Also the Exception thrown on various causes (TCP connection gone, not clean close etc) happen a lot - so it is a common case of control flow via exception handling - rather than a exceptional condition. :cry:

[2016-09-01 04:10] StephenMP opened #11331 "HttpClient Returns Successful Status Code for HEAD or GET Request When the Resource Does Not Exist"
**Issue**
When issuing a HEAD or GET request using HttpClient to a Request-URI (resource) which does not exist, the client returns an OK  (200) response.

This leads to edge cases where one may be trying to retrieve data from an external API and typed the resource incorrectly leading to an OK response, but no data. It also makes testing difficult due to unexpected behaviors.

**Expected Behavior**

[2016-09-01 04:15] #11260 closed

[2016-09-01 04:45] MelbourneDeveloper commented on #1039
Of course it's doable. Most people here only need certain bits and pieces to get their code compiling. Why doesn't someone who's got some time get their bit compiling and then stick it up in a repo somewhere? Then, others can contribute as they get their bits compiling. This is better than sitting around an complaining.

Some will compile, some won't. In the majority of cases it will be a matter o

[2016-09-01 04:53] Priya91 opened #11332 "RegistyKey.CreateSubKey(string) not creating subkeys with write access by default on desktop."
.NET Core implementation, uses the `RegistryKey.IsWritable()` method to check for write access on RegistryKey. `RegistryKey.IsWritable()` depends on `RegistryKey._state` set in `RegistryKey` ctor to writable by default for system keys.

Desktop implementation uses an extra `RegistryKey.checkmode` field of type `RegistryKeyPermissionCheck` to check for write access on `RegistryKey`. This field is s

[2016-09-01 04:59] StephenMP opened #11333 "HttpClient Throws An Exception for Requests When the Resource Does Not Exist"
**Issue**
When issuing a request using HttpClient to a Request-URI (resource) which does not exist, HttpClient throws an exception and does not handle gracefully. The exception is as follows:

[code]

This leads to confusing behavior making it hard to test specific edge cases.

_NOTE_: This does NOT affect GET or HEAD as GET/HEAD requests return an OK (200) response which is documented in [Issue #

[2016-09-01 05:02] Priya91 commented on #10837
shoudl be fixed.

[2016-09-01 05:02] #10837 closed

[2016-09-01 05:02] Priya91 commented on #10831
should be fixed.

[2016-09-01 05:02] #10831 closed

[2016-09-01 05:03] Priya91 commented on #10782
should be fixed.

[2016-09-01 05:03] #10782 closed

[2016-09-01 05:03] Priya91 commented on #10774
should be fixed.

[2016-09-01 05:03] #10774 closed

[2016-09-01 05:03] Priya91 commented on #10876
should be fixed.

[2016-09-01 05:03] #10876 closed

[2016-09-01 06:12] bartdesmet opened #11335 "Test failure in Microsoft.Framework.WebEncoders.TextEncoderSettingsTests.Clear"
PR https://github.com/dotnet/corefx/pull/11329 failed with the following stack trace:
[code]
See http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/3793.

[2016-09-01 07:00] FransBouma commented on #1039
@MelbourneDeveloper I'd suggest you read this whole thread, you're trying to rehash things which have already been discussed at length here and in other threads. The TL;DR: it's not as simple as you seem to think, not by far. Don't you think we would otherwise already have implemented a workaround?

[2016-09-01 07:13] magol commented on #11291
You are right, to use a Dictionary might make the class becomes larger than necessary.

Smart solution to use `IKeyed`, but I do not really like the idea.
You must then implement `IKeyed` on all objects you want to store in `KeyedDictionary`.

Maybe we can do a combination of my and your solution? Using `Func <TValue, TKey>` to get the key, but implement a `HashSet` like you did.

[2016-09-01 08:10] christianhuening commented on #11292
1. we added ReusePort as an option and enhance the documentation to point to setsockopt for Windows/*NIX.
2. we add a new public method/property that would act as a PAL for applications that just want this scenario to work cross-plat without caring which options get set on different platforms.

Sounds like a good alternative to me! With an enhanced documentation, this should not overly confuse peo

[2016-09-01 09:12] qmfrederik commented on #11161
@ianhays Thanks!

[2016-09-01 11:16] stephentoub commented on #11309
It may not be an ideal design, but we want the behavior of the same APIs to match as best as possible across OSes. And both desktop and coreclr on Windows are already in use. You disagree with the consistency desire? Does coreclr on Windows do something different here in this case?

[2016-09-01 11:18] VitaliyMF commented on #1039
@MelbourneDeveloper , @redowl3  DataSet/DataTable/DataRow implementations are over-complicated and it is good that they are not ported to .NET Core "as is". The structure is too heavy; it implements too many functions and in overall this "monolith" component is not the best choice in every concrete case.

Instead of just asking for old DataTable in .NET Core, could anyone list the functionality/us

[2016-09-01 11:36] MihaMarkic commented on #1039
Oh, no, please, not again.

[2016-09-01 11:36] mahara commented on #1039
@MelbourneDeveloper
You talk like it is something easy to be done. Why don't you start doing what you said, and let others benefit from the work you'd done? Piece of cake, isn't it?

[2016-09-01 11:57] stephentoub commented on #11332
Just so I understand, @Priya91, we believe this is a bug in desktop rather a bug in corefx?

[2016-09-01 11:58] benaadams commented on #11309
No, consistency is good.

I'm not sure what coreclr does. I was highlighting that full framework throws a wide range of errors and it would be nice if that wasn't replicated. However, it would probably be useful to detect the reason why it was closed if necessary.

[2016-09-01 12:05] stephentoub commented on #11317
Moved to https://github.com/aspnet/Configuration/issues/505. Thanks.

[2016-09-01 12:05] #11317 closed

[2016-09-01 12:07] erikzhang commented on #9058
Is it possible that implement it on linux too?

[2016-09-01 12:09] stephentoub commented on #6702
@krytarowski, just wanted to check in.  How goes your efforts with NetBSD?  Do you want to leave this issue open?

[2016-09-01 12:11] stephentoub commented on #6742
It looks like there are other issues tracking Arch Linux progress.  I'm going to close this out for now.  Feel free to re-open if necessary.

[2016-09-01 12:11] #6742 closed

[2016-09-01 12:13] stephentoub commented on #11295
@ericeil, this issue is about Mono, but does a similar issue exist in the corefx implementation?

[2016-09-01 12:19] stephentoub commented on #11263
Issue covered by #8688. Thanks.

[2016-09-01 12:19] #11263 closed

[2016-09-01 12:21] stephentoub commented on #11268
cc: @gregg-miskelly

Gregg, is it expected that hovering over "new" in the debugger will force an allocation of the associated object and any side effects that ctor may have?  Is the expectation that the ctor would use Debugger.NotifyOfCrossThreadDependency() to prevent the execution in the debugger?

[2016-09-01 12:30] stephentoub commented on #11206
I believe what you're seeing is a difference in the newline characters between Windows and Unix.  On Unix, a newline is a single character, a '\n'.  On Windows, it's two characters, a '\r' and a '\n'.  Console.Read() blocks until it gets the next character.  So on Unix, each time you press Enter, you're getting one character which will satisfy one Read.  On Windows, each time you press Enter, you'

[2016-09-01 12:30] #11206 closed

[2016-09-01 12:32] stephentoub commented on #11199
A ctrl-C on Linux comes in as a SIGINT interrupt.  Signals interrupt syscalls (like read(…)), but we currently register our SIGINT signal handler with SA_RESTART, which means the OS will automatically restart the read after the signal, and from the caller’s perspective the read won’t wake up.  We could change that to remove the SA_RESTART and handle the restart ourselves, but there’s no great way

[2016-09-01 12:32] #11199 closed

[2016-09-01 12:34] stephentoub commented on #11183
@Angeall, thanks for the bug report, but it sounds like this is about Mono rather than about .NET Core.  It'd be better to file a bug in Xamarin's bug tracking system: https://bugzilla.xamarin.com/index.cgi. Thakns.

[2016-09-01 12:34] #11183 closed

[2016-09-01 12:37] krytarowski commented on #6702
I'm blocked by lack of functional process plugin in LLDB - it's taking time as I need to do it myself in my spare time. However I'm preempted right now, may I drop you an E-mail?

[2016-09-01 12:38] stephentoub commented on #11029
cc: @madstorgersen

[2016-09-01 12:40] stephentoub commented on #11038
Closing as resolved.  Please feel free to re-open if it's not.

[2016-09-01 12:40] #11038 closed

[2016-09-01 12:40] stephentoub commented on #11036
cc: @ericeil, @bartonjs

[2016-09-01 12:48] stephentoub commented on #10563
@maririos, who should this be assigned to instead?

[2016-09-01 12:51] stephentoub commented on #6195
@manu-silicon, are you still working on this?  If yes, we can leave it open.  If not, I'll close it for now.

[2016-09-01 12:52] stephentoub commented on #6702
Sure. stoub at microsoft

[2016-09-01 12:53] stephentoub commented on #8027
Sounds like we can close this for now.  Feel free to re-open if/when it's relevant.

[2016-09-01 12:53] #8027 closed

[2016-09-01 12:53] #8962 closed

[2016-09-01 13:07] stephentoub commented on #9889
Fixed by #11171

[2016-09-01 13:07] #9889 closed

[2016-09-01 13:11] stephentoub commented on #9058
We're not aware of any good way to do so.

[2016-09-01 13:12] atrauzzi commented on #11317
Thanks! :)

[2016-09-01 13:20] OmerRaviv commented on #5381
Is `DynamicILInfo` and `MethodBody` ever coming back? If not, what alternatives are there for someone trying to port to .NET Core and relying on these types?

[2016-09-01 13:38] manu-silicon commented on #6195
It might be related to #6769 but I should have flagged it a while back. Now I'm not so sure. I would close it.

[2016-09-01 13:38] #6195 closed

[2016-09-01 13:39] stephentoub commented on #6195
Thanks.

[2016-09-01 13:56] erikzhang commented on #9058
This is a bad news...

[2016-09-01 14:02] roji commented on #1039
@VitaliyMF please read this entire thread (as painful as that might be).

Note that since this was debated quite a bit of time has gone by, so here's a quick summary of the current state of affairs as I see it. .NET Core RTM has been released and it does include an alternate resultset metadata API which does not rely on DataTable/DataSet (#5915), addressing one of the main concerns originally rais

[2016-09-01 14:09] stephentoub opened #11339 "SendReceiveTest.SendReceive_VaryingLengthBuffers_Success failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/dev_api/job/ubuntu14.04_debug_prtest/596/consoleText

[code]

[2016-09-01 14:13] stephentoub commented on #11339
Looks like a case of the server aborting the connection unexpectedly.

[2016-09-01 14:47] dagood commented on #11058
Getting buildtools on RTM shared framework is tracked by https://github.com/dotnet/buildtools/issues/954. It's been preempted repeatedly but I got a RTM buildtools running (doing a build on Windows) yesterday afternoon. I'm aiming for a PR this morning although there might be delays in making sure it's compatible across repos/platforms.

[2016-09-01 15:08] tarekgh commented on #10989
@AtsushiKan please have a look and if you see the issue is globalization I will help with it. Thanks.

[2016-09-01 15:19] danmosemsft commented on #9933
noting above comment: @weshaggard @terrajobst Can you please assign this issue to @sjsinju

[2016-09-01 15:21] ianhays commented on #11195
Are you watching specifically on a single type of event e.g. Changed/Deleted? What kind of timeout are you using?

Some things that could potentially cause trouble:
- Modifying a file as well as the directory that is being watched
- Disabling the FSW right as an event occurs
- The Windows FSW code revolves around interop calls to the `ReadDirectoryChangesW` win32 function. If that function doesn't

[2016-09-01 15:24] Tratcher commented on #11309
The caller must handle both exceptions and close messages regardless, but which makes more sense to the user in this case. Nothing exceptional happened so why manufacture an exception? The socket was gracefully closed without a close frame and the spec says to return a close message.

[2016-09-01 15:37] weshaggard commented on #11244
We don't have any file naming convention and I'm not sure we need one. I'd be fine with people using backticks in filenames if it didn't cause any issues. Unfortunately it does cause some issues with our engineering system for producing symbol packages so we are going to block them for now.

[2016-09-01 15:37] #11244 closed

[2016-09-01 16:17] ericstj commented on #11023
@gulbanana the package would fail to install correctly if you install it into a desktop project.  I suspect the problem you're pointing out is that if you're just building a netstandard library nothing stops you from using this, correct?

The problem here is that most of these packages that have framework-specific implementations were relying on gaurdrails to block them from being used in netstand

[2016-09-01 16:20] stephentoub commented on #11309
As I've said, my priority here is consistency across OSes.  I asked what the Windows implementation was doing, and was told it was throwing an exception for this case.  Is that not true on coreclr?

If it turns out the Windows coreclr implementation is returning a close message, then this implementation should, too.

If it turns out the Windows coreclr implementation is throwing, then this impleme

[2016-09-01 16:21] jamesqo opened #11342 "Proposal: Make Stream.CopyTo virtual"
## Background

Currently for non-seekable streams, the overload of [`Stream.CopyTo`](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IO/Stream.cs#L191) that does not accept a buffer size defaults to using a 81920-length byte buffer between reads/writes. Although this is under the LOH threshold which is ~85K, it still generates substantial garbage for the GC to clean up, espec

[2016-09-01 16:22] jamesqo commented on #11342
/cc @benaadams @jkotas @stephentoub @ericeil @KrzysztofCwalina

[2016-09-01 16:25] lynxluna commented on #9171
Hi @bartonjs, Macports doesn't meddle with the `/usr` or `/usr/local`. They create a whole new and isolated rootfs consisting of their packages in `/opt/local` and add environment variables to `PATH` to prioritese `/opt/local` before `/usr`. So for example openssl is in here:

[code]
We can still access OSX installed tools by using full path.
[code]

Macports also sets all packages installed via m

[2016-09-01 16:26] gregg-miskelly commented on #11268
cc: @KevinH-MS @Pnelsonmsft

@stephentoub to be it seems like 'new \<type\>' shouldn't be evaluated by data tips. Patrick/Kevin what do you think? Should I open a Roslyn bug for that?

Yes, the NotifyOfCrossThreadDependency behavior is definitely broken here. I opened VS bug 259670 to track this.

[2016-09-01 16:38] maririos commented on #10563
Yes, once we have someone else I'll reassign it.

[2016-09-01 16:39] stephentoub commented on #11268
Sorry, just to clarify, TransactionScope is not currently using NotifyOfCrossThreadDependency.  I was asking if that is the recommended way to fix this if the VS behavior doesn't change, whether NotifyOfCrossThreadDependency should be put into such ctors.  Seems though like it'd be better to change the VS behavior rather than putting NOCTD into any ctor that may have side effects.

[2016-09-01 16:41] KevinH-MS commented on #11268
@gregg-miskelly Yeah, it seems to me like we should block evaluation of constructor calls in the DataTip language service.

[2016-09-01 16:41] VitaliyMF commented on #1039
@roji Thank you for the detailed explanation. As I know that IDbColumnSchemaGenerator was specially introduced to cover schema aspect (not very helpful in practice - for example, Microsoft.Data.Sqlite.SqliteDataReader doesn't implement this interface).

Am I understand correctly, that only reason to have DataTable in .NET Core is backward compatibility?.. Well, not everything can be easily ported

[2016-09-01 16:47] bartdesmet opened #11343 "A few System.Linq.Queryable.Tests issues on AOT"
Four test failures:

[code]

[2016-09-01 16:54] gregg-miskelly commented on #11268
@KevinH-MS we could certainly block in in the language service too, but it seems like the EE should be treating constructor calls like other non-property method calls and returning PotentialSideEffect.

[2016-09-01 16:55] bartdesmet commented on #11343
For the first two, I'm wondering whether we're running with older bits? This error was seen [here](https://dotnetjobresults.blob.core.windows.net/build-2d70131ea31f43da8a9aeedc8779543c//8da09671-6cb7-4328-b7bf-9d17338c0cfd/System.Linq.Queryable.Tests/testResults.xml?sv=2015-04-05&sr=c&sig=%2BZehEZi0mW8jhXnbGjerkNznQ72fBjb8J7hyTHt1ueo%3D&st=2016-09-01T14%3A53%3A28.0473114Z&se=2016-10-01T14%3A53%3A2

[2016-09-01 17:02] gregg-miskelly commented on #11268
I opened https://github.com/dotnet/roslyn/issues/13526 for this.

@stephentoub I don't think there is any need to use NotifyOfCrossThreadDependency unless you think for some reason people might accidentally explicitly evaluate `new TransactionScope(...)` in the watch window. The data tip case should be blocked.

[2016-09-01 17:03] mayconbeserra opened #11344 "ArgumentNullException contains an error message differently on windows and MacOS environment"
Hi there,

It seems the ArgumentNullException message is being thrown differently on Windows and MacOS.

To be honest, I don't know what it is correct, but it would be nice to have a standard.

**Environments:**

Windows 10
MacOS: 10.11.6
.NET Core: 1.0.0-preview2-003121

**Steps of reproducing:**

1. Create a class;
2. Add a collection property;
3. Create a test;
4. Call "entity.Collection.Any()"

[2016-09-01 17:05] davidsh opened #11345 "Re-enable more networking tests for innerloop"
PR #11341 moved the majority of networking tests to outerloop due to infrastructure issues. This issue will track putting back tests as we strengthen the test infrastructure to allow more networking tests to run as innerloop.

[2016-09-01 17:10] VSadov commented on #11343
Yes, looks like a failure from very old bits. UnaryPlus is certainly supported.
One theory is that the test infrastructure does not know that we are testing Linq libraries themselves and pulls them from some kind of cache.
If that is a case, perhaps there is a flag to suppress such behavior?

[2016-09-01 17:11] KevinH-MS commented on #11268
@gregg-miskelly I think that's arguably correct, but I wonder if it would get annoying in the Watch window case...

CC @cston for thoughts...

[2016-09-01 17:13] stephentoub commented on #11344
It's the same message.  The message just has a  newline in it, and newlines are different on Windows and Unix, "\r\n" on the former and "\n" on the latter.

[2016-09-01 17:13] sepidehMS commented on #11196
@matt-richardson We are currently working on bringing back all System.Xml APIs and very likely it will happen with 1.2.0. In the meantime, please use the workaround if possible.

[2016-09-01 17:22] Priya91 commented on #11332
Yeah, it's a bug in desktop..

[2016-09-01 17:28] anurse commented on #11309
Windows CoreCLR throws as well:

[code]

I'll submit a PR to change the current behavior to throw in order to solve the immediate issue. We can examine other options separately.

[2016-09-01 17:30] stephentoub commented on #11309
Sounds good. Thanks.

[2016-09-01 17:30] chadbr commented on #1039
I thought this thread was closed :)

Could someone from Microsoft simply clarify if it's on the roadmap or not?

[2016-09-01 17:54] CIPop commented on #11321
@joperezr @ericstj Please either correct above or update the documentation at https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md:
/cc @weshaggard

![image](https://cloud.githubusercontent.com/assets/8635911/18178208/49cba484-7032-11e6-88d8-28fc2dc85a91.png)

netstandard1.6 is 463
netstandard1.5 is 462 which contradicts above.

[2016-09-01 18:10] christianhuening commented on #11292
@ericeil Can you estimate when a "fix" for this scenario might be available? I am depending on this to work in order to be able to continue my project and would like to get an idea of how long it will take.

[2016-09-01 18:10] christianhuening commented on #11292
Damn hit "close and comment" mistakenly. sorry everybody.

[2016-09-01 18:17] #11216 closed

[2016-09-01 18:35] sepidehMS commented on #10530
Done by https://github.com/dotnet/corefx/pull/11099. The APIs which are still not exposed are going to be tracked by this issue now: https://github.com/dotnet/corefx/issues/11320

[2016-09-01 18:40] j0nscalet commented on #10713
@qmfrederik  @AbhitejJohn verified, fixed. Thanks so much for taking care of this so quickly. You guys are awesome!

[2016-09-01 19:03] roji commented on #1039
Are you sure about that? [It's documented on SqliteDataReader](https://docs.microsoft.com/en-us/dotnet/core/api/system.data.sqlclient.sqldatareader#System_Data_SqlClient_SqlDataReader). The Npgsql provider also implements it.

Well, it's true that originally Microsoft seemed to want to remove legacy/unwanted APIs in .NET Core. But at some point (again, see [this blog](https://blogs.msdn.microsoft.

[2016-09-01 19:23] #11344 closed

[2016-09-01 19:31] CIPop commented on #7254
@GSPP thanks for reporting!
Assigning to @himadrisarkar for triage / prioritization.

[2016-09-01 19:31] stephentoub commented on #11313
Temporarily blocked until we update the corefx packages on which we depend....

[2016-09-01 19:32] CIPop commented on #9596
@krk Thanks for reporting!

Assigning to @himadrisarkar  for triage/prioritization.

[2016-09-01 20:26] justinvp commented on #11342
API design regret: I wish I had specified this as virtual when we were adding it to .NET 4 to begin with. Luckily, in this case, changing it to virtual is a compatibile change, so this is one regret I won't have to harbor forever. Better late than never!

[2016-09-01 20:40] dasjestyr commented on #1624
I mean, if we have a class that needs to make an http call, and we want to unit test that class, then we have to be able to mock that http client. Since http client isn't interfaced, we cant inject it with a container. Instead, I have to build a wrapper (that implements an interface) for http client that accepts a message handler as an optional parameter, and then send it a fake handler and inject

[2016-09-01 21:22] weshaggard commented on #9933
We cannot because @sjsinju is not a contributor in this repo, and we can only assign issues to contributors. He has a pending invitations to be added to the Samsung group once that is accepted we can assign to him.

[2016-09-01 21:36] ianhays commented on #10398
@jhendrixMSFT did you open a separate issue for the inotify instances? Looks like we're still getting failures because of that.

[2016-09-01 21:55] davidsh commented on #11331
[code]

Can you clarify what you mean by "doesn't exist"?  For example, if the server itself (DNS) doesn't exist and a TCP connection can't be made, then no HTTP response will ever come back from the server.  You will get an exception.

If the server exists and just the pathname portion of the uri represents a resource that doesn't exist, it is up to the server to return a proper HTTP response sta

[2016-09-01 21:56] davidsh commented on #11333
"http://www.this.resource.does/not/exit"
Can you clarify what you mean by "doesn't exist"? For example, if the server itself (DNS) doesn't exist and a TCP connection can't be made, then no HTTP response will ever come back from the server. You will get an exception.

If the server exists and just the pathname portion of the uri represents a resource that doesn't exist, it is up to the server to re

[2016-09-01 21:57] jhendrixMSFT commented on #10398
@ianhays Yes it's on the mseng board, I believe @MattGal is going to fix it.

[2016-09-01 22:17] bartdesmet opened #11360 "Reintroduce the use of reflection methods in DynamicObject"
It's using `GetMember` with `OfType<MethodInfo>` to filter the members in `IsOverridden`. Also noticed that the `Bind*` methods create a closure that's only needed in a conditional branch that typically won't be taken, but that may not be a big deal because these should only be called once per dynamic call site.

[2016-09-01 22:19] davidsh commented on #8366
Mitigated with PR #11341 and future work part of issue #11345

[2016-09-01 22:19] #8366 closed

[2016-09-01 22:21] davidsh commented on #4171
Mitigated with PR #11341 and future work part of issue #11345

[2016-09-01 22:21] #4171 closed

[2016-09-01 22:22] davidsh commented on #9270
Mitigated with PR #11341 and future work part of issue #11345

[2016-09-01 22:22] #9270 closed

[2016-09-01 22:25] dagood commented on #11098
The merge conflict does technically span the two lines, but kdiff3 auto-resolves the second line to the changed `dev/api` and only makes me choose the sha to keep. So I guess it depends on whether or not the dev doing the merge is using a mergetool.

[2016-09-01 22:29] bartdesmet commented on #11360
On an unrelated note, `GetConvertedArgs` in there does something funky. It uses a `ReadOnlyCollectionBuilder<T>` of a predetermined size only to return the result as a `T[]`. It should either return a `ReadOnlyCollection<T>` (so that `Expression` factories can just use the object as-is without having to make a copy, because `ROCB<T>` returns a `TrueReadOnlyCollection<T>`) or just allocate a `T[]`

[2016-09-01 22:48] bartdesmet opened #11361 ".nuspec for System.Linq.Expressions has weird description"
Nit, but the `<description>` tag has some commonly used types in there:
[code]
It seems the listing of *some* specific subtypes of `Expression` is a bit strange; users who leverage expression trees other than through compiler support are likely very well-aware of the plethora of subtypes. If we want to specify "commonly used types" here, I think a good more concise set of types would be:
[code]
in

[2016-09-01 23:44] #10797 closed

[2016-09-01 23:45] joperezr opened #11364 "[dev/api] After doing the merge from master to dev/api, 74 System.Collections.Specialized tests fail in netcoreapp1.0"
cc: @stephentoub
They all fail with the same message, so I'm thinking that fixing them *should* be easy. I just commented out the run of these tests to unblock the merge from master. These are the errors that I see for netcoreapp1.0 (they run fine in netcoreapp1.1)
[code]

[2016-09-02 00:16] MelbourneDeveloper commented on #1039
I already did some work around this in Silverlight by simply looking at the metadata of the System.Data namespace in Visual Studio (ILDasm like functionality) - not with any use of ILSpy, or with any code from the reference source. It's not as hard as people make out.

Here's an example of production code Fill method for a DataAdapter:
[code]
Originally, @benaadams mentioned that this code was usi

[2016-09-02 00:21] MelbourneDeveloper commented on #1039
This is what I have done in the past, but it's not ideal. You will need to write a layer over the top if you are implementing for multiple database platforms.

Exactly. And, why not let the community build it?

[2016-09-02 00:30] MelbourneDeveloper commented on #1039
@VitaliyMF

On a basic level you are right. These classes are bloated and unnecessary. People should rewrite their code so as to avoid them.

That doesn't change the fact that legacy code does exist, and in order to embrace the new .NET Core technology, legacy code must be made to compile and work with the new technology. With the flick of a switch, large swathes of legacy code could be made to co

[2016-09-02 00:31] shmao opened #11367 "XmlSerializer to Support Xml_ArrayOfXmlNodeProperty in ReflectionOnly Mode"
[code]

[2016-09-02 00:34] weshaggard commented on #10530
Reopening until this gets remerged.

[2016-09-02 00:34] parjong opened #11368 "'System.IO.MemoryMappedFiles.Tests.MemoryMappedFileTests_CreateNew.TooLargeCapacity_Unix' Test Failured in ARM/Linux"
I got the following test failure report while running unittests:
[code]

It seems that the test is appropriate only for 64bit architecture:
[code]

[2016-09-02 01:24] rahku opened #11371 "Implement AssemblyLoadContext.GetAllAssemblies"

[2016-09-02 01:39] MattGal commented on #10398
@ianhays  it's on my TODO list, should get to this this week and be in regular runs next week.

[2016-09-02 02:59] weshaggard commented on #11361
@bartdesmet feel free to submit a PR with the updated description.

[2016-09-02 03:18] benaadams commented on #11342
Would overriding this method in a derived stream cause issue if used against an implementation that didn't have it as virtual? (e.g. or would the override be ignored and all be well?)

i.e. would it need harmonisation (and highlighting) at .Net Standard 1.X and implementation on derived stream behind a version `#ifdef`?

[2016-09-02 04:07] zhenlan commented on #4561
@atanasa, thanks for the suggestion. Unfortunately, CodeDom is not supported on .NET Core either (tracked by #9485).

@masaeedu thanks for sharing your scenario. I think you will need a .NET Core version of svcutil tool (instead of sgen), but it will be blocked by the issue dotnet/coreclr#1709 too.

@sei-jmattson, understood - this is all about start-up performance. Thank you for the feedback.

[2016-09-02 04:59] tmds commented on #3674
Thanks to the ManagedWebSocket aspnet/WebSockets now has the same behavior: "supports exactly one send and one receive on each WebSocket object in parallel".

[2016-09-02 08:29] hughbe commented on #8913
Your issue is that FileExtensionAttribute considers any non-string value as invalid.
An IFormFile cannot be a string, so is always invalid.
See the implementation (here)[https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/FileExtensionsAttribute.cs#L57] for more

[2016-09-02 10:17] stephentoub commented on #11364
This isn't related to serialization.  This is due to https://github.com/dotnet/corefx/pull/11219/commits/370f88f985b573a0d1b997f54c4dc31f90c5b669.
cc: @Priya91, @weshaggard

[2016-09-02 10:25] #11309 closed

[2016-09-02 11:42] droyad commented on #11266
I have run across this as well, however in my case (and the one above I believe) the server only returns no or only a single `WWW-Authenticate` header:

[code]

[code]

The error only occurs if `CredentialCache.DefaultNetworkCredentials` or CredentialCache.DefaultCredentials` is used. Custom credentials are fine.

The code to reproduce:

[code]

[2016-09-02 11:44] atanasa commented on #4561
@zhenlan My requirement is only for WCF to consume the serializer. That is have the code generated by svcutil be used by a WCF client. Should I file a separate issue for that case?

[2016-09-02 12:14] gulbanana commented on #11023
you're right, I was building a netstandard library and wanted a way to know i shouldn't use the package. for now, I've made my own library dual-tfm net452/netcoreapp1.0 and used separate implementations of assembly loading.

that history makes sense and I think the new plan is good. it will be nice to reach a world where library authors can support unanticipated future platforms by using safe-for-

[2016-09-02 12:16] stephentoub opened #11373 "FileStream needs overrides of Begin/EndXx"
@JeremyKuhne, I just noticed that #10697 didn't actually add Begin/End overrides to FileStream... it added them to FileStreamBase.  FileStreamBase isn't the base type of FileStream, but rather the base for the inner per-platform streams it wraps.  That means that if someone calls FileStream.Begin/EndXx now, they're getting the base Stream's implementation, not FileStream's, and that's going to do

[2016-09-02 12:48] max-favilli commented on #8622
@sqmgh Sorry for answering late. I have used TVP in the past, you need to define Table Types in SQL to use TVP in a store procedure as far as I remember, right?

[2016-09-02 12:58] svick opened #11374 "Update (delete?) rtm.md"
The [rtm.md](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/rtm.md) document explains what is "Road to RTM of .NET Core". It has been last updated in January.

.Net Core has been in RTM for some time now, but [some](http://stackoverflow.com/a/39283043/41071)* are interpreting that documented to mean that it's not. I think the document should be either updated (with what?)

[2016-09-02 13:16] jamesqo commented on #11342
@benaadams Hmm, I just tested using csc. **TL;DR** It just ignores the override if it's no longer virtual, there's no errors thrown.

[code]

[2016-09-02 13:45] svick commented on #1039
@MelbourneDeveloper The source code at http://referencesource.microsoft.com is released under the MS-RSL license. But the code at https://github.com/Microsoft/referencesource/ is [released under the MIT license](https://github.com/Microsoft/referencesource/blob/master/LICENSE.txt).

[2016-09-02 14:24] grahamehorner commented on #4571
DbFactories should also support the creation of the provider {Provider}Dependency object; and the {Provider}Dependency should implement a common interface IDbDependency to allow abstraction and/or generic implementations.

[2016-09-02 14:58] sqmgh commented on #8622
@max-favilli Indeed you do.
I haven't run into this as being an issue personally, but I haven't had to deal with dynamic inserts on really wide tables.
I guess if that requirement really became an issue you could dynamically make a table type for each query and drop it afterwards?

[2016-09-02 15:56] moozzyk commented on #11309
:clap:

[2016-09-02 16:23] ericstj commented on #11023
FWIW if you wanted "extra protection" you could add supports clauses to your project.json.  This will evaluate all your dependencies for the platforms you list.  This is the "gaurdrails" feature I talked about, it's not enabled by default.

In the project.json you'd add the following:
[code]

I'd still like to keep this issue open to evaluate what we want to do for these packages.

[2016-09-02 16:27] benaadams commented on #11342
Sounds ideal :+1:

[2016-09-02 16:47] masaeedu commented on #4561
@zhenlan I've already managed to clean up the output from `svcutil` to remove `System.Web` references, and the project compiled and ran correctly on .NET Core, just extremely slowly.

[2016-09-02 16:57] khellang commented on #11220
What does "api-needs-work" mean? Are you interested in a PR for this? Does it need a review first? I'd love to submit a PR, if you can walk me through the process :smile:

[2016-09-02 17:02] stephentoub commented on #11220
@terrajobst can correct me if I misapplied it; my understanding is that it essentially means "an API proposal that's still being discussed".  Some point when the owner (aka @JeremyKuhne) deems it ready for review, the label changes to api-ready-for-review.  The process is outlined here: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2016-09-02 17:06] khellang commented on #11220
@stephentoub Thanks. Yeah, I spoke too soon. Found it in the process document right after I asked 😝 I'll await @JeremyKuhne's response 😄

[2016-09-02 17:07] davidsh commented on #11218
Mitigated with PR #11341 and future work part of issue #11345

[2016-09-02 17:07] #11218 closed

[2016-09-02 17:37] kgabedell commented on #4561
@zhenlan I am in exactly the situation as @masaeedu. The performance makes it pretty much unusable at this time going against any large service.

[2016-09-02 17:43] max-favilli commented on #8622
@sqmgh You're right, I hadn't thought about doing that.

[2016-09-02 18:10] stephentoub commented on #11335
Another case:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/3846/consoleText

[2016-09-02 18:19] davidsh commented on #11266
This is interesting.  Keep in mind that default credentials don't work at all when used with Basic.  Default credentials can only be transmitted via Negotiate or NTLM schemes.

[2016-09-02 18:26] davidsh commented on #11266
I have repro'd the bug.

Basically, this exception is happening if a server asks for Basic authentication *and* the H`ttpClientHandler.Credentials` is set to default credentials.  In this combination, WinHttpHandler needs to behave as-if no credentials are set because it is not possible to transmit default creds over Basic.

[2016-09-02 18:42] #11368 closed

[2016-09-02 18:58] tarekgh opened #11381 "Some Globalization Tests failing on Unix based platforms"
[code]
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/1989/consoleFull#-43753631679fe3b83-f408-404c-b9e7-9207d232e5fc

[2016-09-02 19:15] tarekgh commented on #11381
https://github.com/dotnet/corefx/pull/11382

[2016-09-02 20:01] stephentoub commented on #11307
Fixed by #11346

[2016-09-02 20:01] #11307 closed

[2016-09-02 20:01] stephentoub commented on #11306
Fixed by #11337

[2016-09-02 20:01] #11306 closed

[2016-09-02 20:03] stephentoub commented on #10197
Fixed by #10977

[2016-09-02 20:03] #10197 closed

[2016-09-02 21:31] ericeil commented on #11292
@christianhuening, it just occurred to me that your scenario was setting ExclusiveAddressUse = *false*, which my proposal would not address (it'll still throw on Unix).

I wonder if you need to set ExclusiveAddressUse at all?  I'm guessing you really need to set just ReuseAddress=true.  You mention that this did not work for you on OSX; could that be because of the lack of SO_REUSEPORT support?

[2016-09-02 21:53] juanfranblanco commented on #10445
Any update on this?

[2016-09-02 21:58] christianhuening commented on #11292
@ericeil Yeah, that's why I think point 2 from your proposal would work for me:

Setting ReuseAdress = true is all that's needed on Windows, but does not work on OSX / Linux, So I think, yes, adding SO_REUSEPORT support would be enough.

Can I somehow try this out? Is there any way to set that option to the socket I am using?

[2016-09-02 22:08] #11361 closed

[2016-09-02 22:47] CoreyKaylor opened #11388 "System.Threading.Tasks.Dataflow more targets needed"
Currently the dataflow nuget package only targets netstandard1.1. This causes downstream challenges for those still targeting net46 for example because now the only option is to download the world which may or may not even succeed after doing so.

It would be preferable if it was similar to several of the other projects and target net452, etc. and allow for typical framework references to be used

[2016-09-02 22:50] CoreyKaylor commented on #11388
This issue has required the Marten project (link below) to work around the issue by depending on the older Microsoft.Tpl.Dataflow for net46. Without the workaround our users were unable to install Marten in a traditional csproj targeting net46.

https://github.com/JasperFx/marten/blob/master/src/Marten/project.json

[2016-09-02 22:58] droyad commented on #11266
Awesome! That means that the following is a workaround:

[code]

[2016-09-02 23:22] ericeil commented on #11292
I'm working on a PR for this now; assuming all goes well, this should be merged early next week.

In the meantime, the only way I can think of to try this would be to use reflection to get the socket's file descriptor (via private field access), and then manually p/invoke to `setsockopt`.

[2016-09-03 00:17] #11266 closed

[2016-09-03 00:28] watertree commented on #2394
@dmetzgar It is incredibly exciting to see https://github.com/dmetzgar/corewf!  From the readme, I was surprised to see that a port by the WF team did not gain much traction.  Especially given the recent Powershell port having Powershell w\Workflow that will be limited to the full framework -- Linux and Mac obviously isn't a major target, but Nano server I would imagine be hugely important for Pow

[2016-09-03 02:10] stephentoub commented on #10712
Fixed by #10795

[2016-09-03 02:10] #10712 closed

[2016-09-03 02:10] stephentoub commented on #9925
@ianhays, this can be closed now, right?

[2016-09-03 02:13] #9952 closed

[2016-09-03 02:38] int19h opened #11390 "StringBuilder should have all functionality of String"
`StringBuilder` is, essentially, just a mutable version of `String`. Consequently, it would make sense for it to have all the functionality that `String` has, with in-place mutating versions where appropriate. Right now it has a subset that doesn't seem particularly coherent - e.g. there's indexing, but no `Substring`. Some other missing members include `IndexOf`, `Contains`, `Find`, `Pad...`, `To

[2016-09-03 02:44] int19h opened #11391 "A generic API for string-like objects"
.NET is missing a convenient way to define a method that can take something "string-like" with minimal overhead. Most existing APIs just take `String`, meaning that callers need to call `ToString`, often creating full copies that are then used only to look at a few characters at the beginning. Some types that are commonly affected by this are `StringBuilder` and `Uri`.

This could be solved by ado

[2016-09-03 03:11] caserzer opened #11392 "HttpClient performance issue compare to the full framework"
I'm trying to wrapper a backend REST API to Frontend. The backend API RPS can archive about 50K  (using AB), I use the HttpClient to invoke the API , get the result and return to then client.
I can only get 1k RPS. (AB is on the same frontend machine )
Code is very simple

[code]

| Test | RPS Result |
| --- | --- |
| Direct to Backend API | 50K |
| Baseline (.net core) | 5K |
| Baseline (.net ful

[2016-09-03 03:36] davidsh commented on #11392
We are aware of performance differences between .NET Framework and .NET Core.

See #8809 for example.

[2016-09-03 08:01] MelbourneDeveloper commented on #1039
Well. Nothing to worry about then. Stop complaining and let's do it.

[2016-09-03 08:19] dmetzgar commented on #2394
@watertree Portable.Xaml and other XAML implementations with .NET Core support that I've seen so far all have a missing feature. They don't implement the x:Class="" attribute. It's unnecessary for WPF but critical for WF. A XAML workflow typically has <Activity x:Class="" as it's root node and it's needed to generate the activity class that you will use in your project.

PowerShell Workflow has a

[2016-09-03 08:36] Mike-EEE commented on #2394
Indeed, compiled Xaml (baml?) has been conspicuously absent in all of the Xaml flavors that I have seen.  I have thought about diving into this with my own spare time, but I have the feeling it will be available in some capacity soon, perhaps the next year.  Also, Xamarin's Xaml system does support this, but it is closed and not extensible/accessible at all.

True.  Ironically WF is the most compr

[2016-09-03 13:11] watertree commented on #2394
@dmetzgar Thank you for your efforts!  Just comment on XAML -- I used to have a very negative view of XAML because most files I dealt with were created with visual designer-first dialects of XAML.

That all changed when I started programming with Xamarin.Forms which has a very nice declarative C# API in addition to XAML.  There is no visual designer (only a previewer that came much later than the

[2016-09-03 23:28] bartdesmet opened #11399 "Expression<TDelegate> has a public constructor"
Unlike the .NET Framework, the constructor is public. I'm unclear why it was made public, and I can only find references from within the `System.Linq.Expressions` assembly. Should it be made `internal` again?

Note that the constructor does not perform argument validation; this is assumed to be done by the factory that calls it. As such, if one would be able to call this constructor, one could con

[2016-09-04 00:10] bartdesmet opened #11400 "Expression<TDelegate> could have a compact subtype"
In particular, when `TailCall` is set to `false` and `Name` is set to `null` (which are both common), we don't need the fields for them. Specialized subtypes are commonly used across the code base. AFAIK, the `Name` and `TailCall` options were added in the 4.0 wave, and the existing `LambdaExpression` type was maybe not considered for this type of specialization despite the addition being made to

[2016-09-04 00:18] bartdesmet opened #11401 "Avoid some allocations in LambdaCompiler"
Mostly minor things that caught my attention while working in this code, e.g. the use of `Map` and `AddFirst` helpers for allocating arrays and copying them when it can be avoided.

[2016-09-04 00:42] brantburnett commented on #10902
I had the same exception in a .Net 4.6.2 test project, which was consuming a .Net Standard 1.5 library.  The library was using System.Net.Http 4.1.0 and System.Net.Http.WinHttpHandler 4.0.0.  The problem appears to have been fixed by adding the following binding redirect to the app.config of the test project:

[code]

[2016-09-04 01:34] ianhays commented on #9925
@stephentoub yup!

[2016-09-04 01:34] #9925 closed

[2016-09-04 01:36] #8916 closed

[2016-09-04 01:46] tmat opened #11406 "Use loaded PE image in TryGetPEReader if possible"

[2016-09-04 01:46] tmat commented on #11406
@mikem8361

[2016-09-04 02:51] bartdesmet opened #11408 "LambdaCompiler has dead code for emit to MethodBuilder"
This is a remnant from `void CompileToMethod(MethodBuilder)` which was removed (*). At the very least, we can conditionally compile these things using a `FEATURE_` flag which can start off as being not set.

(*) I'm not clear why this method was removed. In fact, we tend to use it quite often (despite its limitations to emit only to static methods) in Bing, so I'd be interested in getting it back

[2016-09-04 03:04] bartdesmet opened #11409 "Fill some code coverage gaps in LambdaCompiler"
There are some notable gaps for non-trivial pieces of code. A few are listed below:

* `EmitMethodAndAlso` and `EmitMethodOrElse`
* `EmitBranchNot`, `EmitBranchLogical`, `EmitBranchAnd`, `EmitBranchOr`
* Some branching with statically determined `null` values
* Emit for hashtable switches and other code paths around emit for `Switch` expressions
* Constrained virtual calls
* Emit for `Dynamic` exp

[2016-09-04 07:07] bartdesmet opened #11411 "Unhandled convert error raised from ILGen for Coalesce expression with decimal type"
Repro:
[code]
Stack trace:
[code]
The problem seems that `IsImplicitNumericConversion` allows implicit conversions (without the use of an `op_Implicit` method) to the `decimal` type while `EmitNumericConversion` only deals with built-in `conv` IL instructions.

Given that the expression factory allows this and builds a tree with a `Conversion` lambda, it'd be a breaking change to either reject it

[2016-09-04 07:44] bartdesmet opened #11412 "Expression interpreter doesn't handle implicit numeric conversions in Coalesce nodes"
Repro:
[code]
Output:
[code]
It looks like `CompileCoalesceBinaryExpression` omits logic for the case where `Conversion` is `null` but the `Left` and `Right` types are not assignment compatible as-is. As a result, the result of running the interpreter, i.e. what's left in `frame.Data[0]`, is a boxed value of type `Int32` but the generated thunk emits an `unbox.any` instruction based on the expecte

[2016-09-04 15:45] svick commented on #11388
Are you talking about https://github.com/JasperFx/marten/issues/491#issuecomment-244147081? As far as I can tell, that issue happened, because `System.Threading.Tasks` in .Net 4.6 is a reference assembly, but not a runtime assembly, so your project.json should contain:

[code]

Or did you have another issue specifically with Dataflow?

[2016-09-04 16:09] svick commented on #11388
Also, as far as I can tell, installing `System.Threading.Tasks.Dataflow` into a .Net 4.6 project does not cause you to download packages like `System.Collections`, the dataflow package has no dependencies on .Net 4.6.

The reason why the latest version of `marten` does download those packages is because of `Remotion.Linq`.

[2016-09-04 16:39] CoreyKaylor commented on #11388
I will try to do as suggested to see if our end users get past the install problem, but I still think that because you don't find this out until users try to install your package and fail to pull down as a dependency when everything locally works fine. It seems like something could be improved to prevent that.

[2016-09-04 17:18] CoreyKaylor commented on #11388
What made matters even more confusing is that it works for everyone using coreclr / project.json even if targeting net46, but not those using traditional csproj.

[2016-09-04 20:26] bartdesmet opened #11414 "ReadOnlyCollectionBuilder<T> included in System.Linq.Expressions but not used"
Shows up as dead code when analyzing code coverage as part of #11409. It's included from the `Common` folder and shared with `System.Dynamic.Runtime`. The only reference occurs in `ToReadOnly` in `CollectionExtensions` for a type check.

If this type is not shared in / referenced from a single assembly and two copies exist, the type check will never pass if the object is passed across assembly bou

[2016-09-04 20:36] stephentoub commented on #11414
I previously started addressing this in the dev/api branch:
https://github.com/dotnet/corefx/commit/c38eff56fa84a5cfb70ea475a2945b464f234319
If memory serves, the remaining piece of work is just to address the TODO I left there to update the line in the .csproj.

[2016-09-04 21:20] bartdesmet opened #11415 "Expression.ToString quirk with Power and ExclusiveOr"
Nit, but both use the infix `^` symbol to print expressions. Note that `PowerAssign` uses `**=`, so it'd be logical for `Power` to use `**`. However, this has shipped like this since 4.0, so it'd be a breaking change to change.

Maybe the better thing to do here is to ship a proper (and extensible by `Extension` nodes) pretty printer for expressions, like I started doing over at https://github.com

[2016-09-04 21:31] bartdesmet commented on #11414
Cool! There will be some follow-up work as far as I can tell. In particular, `TrueReadOnlyCollection<T>` is still cloned in both assemblies, and `System.Dynamic.Runtime` instantiates this type in several places:
* `DynamicMetaObjectBinder`
* `CallSite`
* `CallSiteBinder`
It passes the resulting collection to expression factories, which will call `ToReadOnly`, which on its turn will type check the

[2016-09-04 23:06] bartdesmet opened #11421 "Expression.ToString for Post*Assign nodes produces unbalanced parentheses"
[code]
prints
[code]
Same for the decrement variant. Although changing this can be considered a breaking change, it's clearly a bug. These nodes are also used less than the 3.5 generation nodes, so fixing it may be acceptable.

[2016-09-04 23:33] bartdesmet commented on #11415
Cool; there's definitely a lot of overlap, so we should figure out what can be absorbed. I'll add it to the list of things in this area to track. Thanks!

[2016-09-05 00:00] benaadams commented on #6740
Return `ValueTask<int>` rather than `Task<int>` take the opportunity since the return types on the current methods can't be changed.

[2016-09-05 01:08] jamesqo commented on #6740
@benaadams These are just wrappers over the existing methods.

[2016-09-05 01:18] benaadams commented on #6740
@jamesqo `Task<int>` will convert to `ValueTask<int>` so they can still be a wrapper; however if they are virtual then derived classes can override them to return actual `ValueTask<int>`

[2016-09-05 05:56] bartdesmet opened #11426 "Some oddities in ExpressionStringBuilder"
* Unnamed labels are given the name `UnamedLabel`; this ought to be a typo unless the goal was to disambiguate from a user-supplied correctly spelled `UnnamedLabel`.
* `Goto` expressions emit no space between the keyword (`goto`, `break`, `continue`, or `return`) and the name of the label.
* `GetLabelId` and `GetParamId` are very roundabout in the way they create a unique id through a shared dicti

[2016-09-05 07:36] Angelixion commented on #8913
The how i can use the FileExtensionAttribute to check an IFormFile?, and why it says FileExtensionAttribute if it doesnt check files but strings?

[2016-09-05 07:54] hughbe commented on #8913
@Angelixion
The way that you use FileExtensionsAttribute only works on **file names** as demonstrated:
[code]

I have no idea what IFormFile is/looks like - I suggest asking on stackoverflow.com for that

[2016-09-05 09:05] droyad commented on #11266
@davidsh I tried a build of those changes, and it does not fix my scenario, when there is **no** `WWW-Authenticate` header at all.

I stepped through it and the error occurs here https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpAuthHelper.cs#L90 calling the interop code

I can't get the test project to build, so no failing unit test :/, but

[2016-09-05 09:11] droyad commented on #11266
Then again, the server does not meet https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2

[2016-09-05 11:20] droyad commented on #11266
The same error also occurs if the `WWW-Authenticate` header returns a realm that it does not recognise, which is allowed by the RFC.

[2016-09-05 11:26] weltkante commented on #11295
@Tragetaschen

You are misinterpreting the cause of the bug, Socket.Send should indeet block until it is done sending.

According to the documentation of [Socket.Send](https://msdn.microsoft.com/en-us/library/4t14718h(v=vs.110).aspx):

So either the socket is misconfigured or the socket implementation (on Mono) has a bug.

The assumption in the comment should be correct.

[2016-09-05 12:08] seesharper opened #11429 "Migrate from Portable Class Libraries to .NetStandard"
I am the author of the LightInject DI framework and I have a question regarding the .Net Platform Standard and how this is supposed to work with regards to different runtimes.

LightInject is basically cross compiled into 4 different binaries.

* Full Net 45
* Full Net 46
* .NetCore
* Portable Class Library, Profile 111

LightInject uses Reflection.Emit on all platforms except for in the PCL versi

[2016-09-05 15:44] GuardRex commented on #11429
I have an upcoming question in this area (specifically wrt the directive to use) for a new project I'm about to get into.

The .NET Platform Standard version grants access to the indicated platforms. They don't guarantee that a particular class or method will be provided on a given platform just because it exists on other platforms at the same version of the .NET Standard. You get whatever each pl

[2016-09-05 16:26] stephentoub opened #11437 "SNIMarsHandle.HandleReceiveError passes null to ReadAsyncCallback as packet"
ReadAsyncCallback then dereferences that null value.

Found by a coverity scan

[2016-09-05 16:27] seesharper commented on #11429
If that is the case, it would be rather difficult to switch from a PCL library to a .NetStandard library as PCL libraries guaranties the surface area where as .Net Standards libraries does not?

I understand the intent, but only briefly understand how this actually works. PCL's are certainly not perfect, but at least understandable :)

For someone new to .Net and the whole story around TFM's, fram

[2016-09-05 16:33] GuardRex commented on #11429
Indeed, I had a good JabbR chat with @davidfowl about it over a year ago. He assured me that it was/is well explained and that lib authors would get it ... eventually, right? :smile:

Devs have found @davidfowl's analogy doc helpful ... See if that makes more sense than the cold, hard textual explanations: https://gist.github.com/davidfowl/8939f305567e1755412d6dc0b8baf1b7

[2016-09-05 18:17] danmosemsft opened #11440 "warnings in zlib"
I'm building on Windows with CL 19.00.24213.1 in branch dev/api (although surely the same in master)
[code]

[2016-09-05 18:45] benaadams opened #11441 "ConcurrentQueue has Math.Min non-inlines"
`[FAILED: argument has side effect] Math:Min(int,int):int`

Looks to be because one of the arguments is volatile (the other is a const).

Could be solved by taking a local copy in `Segment:Low` and `Segment:High` before passing to `Math.Min`?

[code]

[code]

Related https://github.com/dotnet/coreclr/issues/7054

/cc @stephentoub

[2016-09-05 20:07] seesharper commented on #11429
I remember @davidfowl tweeted about this some time ago, but it only confirms what I have been able to extract myself from the "cold hard textual explanations" :)

The following interface perfectly explains what I don't understand.

Types such as AssemblyBuilder (Reflection.Emit) are defined in INetStandard1.0 and hence inherited down all the way to UWP suggesting compatibility where there really i

[2016-09-05 20:13] davidfowl commented on #10470
This needs to be a runtime light up API that is netstandard. The project N toolchain and the JIT can treat it as an intrinsic and eliminate it at runtime.

[2016-09-05 20:15] davidfowl commented on #11429
Unfortunately, some of the features that masquerade as netstandard are not implemented on all platforms (that's just a reality of the system). It's a bait and switch approach where you can expose a NETStandard API but the implementation can only run on certain platforms. For these sorts of gaps it would be good to add a runtime API to detect the capabilities of the system when it can't be expresse

[2016-09-05 20:49] seesharper commented on #11429
@davidfowl It might be an idea to point this out in the .Net Platform Standard document so that library developers don't make false assumptions about where their code will actually run.
As the document stands today it might lead the developer down the wrong path.

All this can become even more confusing when you suddenly encounter things that works on platforms where it should not be possible. Lam

[2016-09-05 20:51] davidfowl commented on #11429
I 1000% agree 😄

Happens all of the time.

I'd actually like to bring this up as a general discussion with DI authors. AOT and the current DI systems are at odds (most runtime code generation in general actually). But yes a conversation for another day 😄

[2016-09-05 20:57] bartdesmet opened #11444 "Increase code coverage for ExpressionStringBuilder"
Quite a blind spot in code coverage right now. Tests would help to catch possible edge cases, discover weird formatting quirks, and catch regressions in the future.

[2016-09-05 21:09] seesharper commented on #11429
When I first started out with the LightInject DI framework years ago, I decided to go with DynamicMethod and IL generation. When WinRT came along which did not support dynamic code generation through DynamicMethod, I created my own ILGenerator (#ifdef) that created the corresponding expression tree behind the scenes. In that way I could use IL Generation on all platforms. Same API surface :)

It i

[2016-09-05 21:13] davidsh commented on #11266
Doing a GET request to this endpoint:

Returns the following. And as you noted, the HTTP response violates the RFC because a 401 response MUST include a `www-authenticate` header:

[code]

As per the RFC:

The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.
...

If you wish

[2016-09-05 22:03] bartdesmet opened #11445 "Address some inefficiencies in ExpressionStringBuilder"
There are a few places where we call `Out` with the result of a string concat, resulting in intermediate string allocations. Instead, we can call `Out` multiple times, so the "concatenands" are `Append`ed to the `StringBuilder` one by one.

Some calls to `Out` have a string with a single character; we can use the overload with `char` instead.

Printing for `ListInit` calls `ToString` on each `Elem

[2016-09-05 23:15] bartdesmet commented on #11445
One more performance pitfall is the use of `ToString` on an enum. We can cover the cases explicitly instead.

[2016-09-06 01:28] mjracca commented on #10470
+1

This is a HUGE performance issue for us!

[2016-09-06 02:19] jamesqo opened #11450 "Proposal: Adding a way to convert Span to ReadOnlySpan"
Pardon me if this is implemented and I simply overlooked it, but it appears to me there is no API yet to convert from a `Span<T>` to a `ReadOnlySpan<T>` in either coreclr/corefxlab, which means that people who have one of the former and want to pass it to a function accepting the latter will have to create a copy.

We should add an API (either an instance method `AsReadOnly`, or an implicit operat

[2016-09-06 02:24] JamesNK commented on #10470
That would require knowing every platform that doesn't support compiling expressions and having a different version in the package for each of those platforms, UWP, iOS, Android, Unity

And as new platforms come out they would get the slow netstandard binary until someone explicitly adds a different version in the package.

Or we could have a simple if check. One assembly that works for now and fo

[2016-09-06 02:24] benaadams commented on #11450
Is an [implicit conversion in the corefxlabs version](https://github.com/dotnet/corefxlab/blob/master/src/System.Slices/System/ReadOnlySpan.cs#L136-L139)

[2016-09-06 02:26] benaadams commented on #11450
Looks like it is catered for https://github.com/dotnet/coreclr/issues/5857#issuecomment-243267066

[2016-09-06 02:29] jamesqo commented on #11450
Ah, ok. I was looking in `Span` for the operator. Looks like this can be closed then.

[2016-09-06 02:29] #11450 closed

[2016-09-06 03:06] jkotas commented on #10470
Agree - hardcoding the list of platforms is fragile. It does not work well for new platforms. Also, the answer can differ for given platform over time; or both interpreter-only and compiled System.Linq.Expressions can be available for some platforms.

Having an API that returns whether expressions are compiled sounds pretty reasonable.

[2016-09-06 03:10] jamesqo opened #11451 "Select, Where, etc. should return a cached result if the input enumerable is empty"
We may want to consider returning a cached result, like `Array.Empty<TSource>`, if the input enumerable is empty for certain LINQ methods. This would apply to any method that is guaranteed to have a 1:1 mapping with the input (like `Select`) or anything that needs to be smaller than the input (`Distinct`, `Where`).

[2016-09-06 04:16] droyad opened #11452 "HttpClient throws WinHttpException if the WWW-Authenticate header contains an unknown scheme"
If a webserver returns a `401` status code and a `WWW-Authenticate` header with an unknown scheme, an exception is thrown.

For example this code:

[code]

returns a header `WWW-Authenticate: Newauth realm="newauth"` which causes the following exception:

[code]

This exception is thrown before the `ICredential.GetCredential(Uri, string)` method is called, so the end user cannot specify their own

[2016-09-06 04:19] jamesqo opened #11453 "Removing Enumerable.SingleLinkedNode<T>.GetEnumerator"
To my understanding, `SingleLinkedNode<T>.GetEnumerator` is used when we have an `AppendPrependN<T>` and we want to enumerate the appended items. However, we only have access to the most recently appended item via `_appended`, so we walk the linked list of nodes `_appended` references and create a temporary array which we fill with the values in reverse. We then call `GetEnumerator` on this array

[2016-09-06 04:29] jamesqo commented on #11453
Some other possible optimizations it may be worth looking into (editing as more ideas pop into my head):

- The iterators could implement `IPartition` as well as `IIListProvider`; they are particularly well-suited for a `First()` / `Last()` optimization since we just return the prepended / appended item

[2016-09-06 04:48] bartdesmet opened #11454 "Reduction of assignment expressions yields suboptimal code"
Consider the following piece of code:
[code]
When compiled, the resulting IL looks like:
[code]
The storing into and loading from a temporary is not needed here, because the expression's result is thrown away. Although `LambdaCompiler` has tracking of `void` types during expression compilation (cf. `EmitExpressionAsVoid`) its effectiveness is restricted to plain old `Assign` nodes because other fo

[2016-09-06 04:51] jamesqo opened #11455 "IIListProvider potential optimizations + refactoring"
1. `IIListProvider` currently has a `GetCount(bool)` method, the bool parameter indicating whether we only want to get the count if it's "cheap" O(1). I just did a `grep -r 'GetCount(.*false) .` of System.Linq, and it looks like the only place it is ever called with false is [here](https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/Count.cs#L28). Since the additional bool

[2016-09-06 05:04] droyad opened #11456 "HttpClient throws an exception if the WWW-Authenticate header is missing"
If the server returns a 401 response but does not supply a `WWW-Authenticate` header (in contravention to the RFC requirement), and exception is thrown just as in #11452, and this could be a special case of an unknown scheme.

HttpClient on .NET Framework does handle this scenario but returning the 401 to the caller, so I suggest the .NET Core implementation also handles it despite the server doin

[2016-09-06 05:38] jamesqo opened #11457 "Enumerable.Average should avoid divisions for length 1 collections"
Floating point divisions, which occur whenever the / or % operators are used, have a very high latency compared to other instructions. For example in the instruction tables [here](http://www.agner.org/optimize/instruction_tables.pdf) you can see `fdiv(r)(p)` consistently have above-average latencies, reaching as much as 71 cycles for Atom processors (though they're more toned down for newer Intel

[2016-09-06 06:02] jamesqo opened #11459 "Consider being lazy in Enumerable.Reverse if the input is an IList"
The moment an iterator returned by `Enumerable.Reverse()` is called `MoveNext` on, it creates a copy of the entire enumerable in an array, and sets starts iterating from the last index in that array. While this is inevitable for lazy enumerables, it should be avoidable for `IPartition` and `IList`, since those interfaces give us random access to the underlying collection. We should consider specia

[2016-09-06 06:14] bartdesmet opened #11460 "Inspection / interception of IL generated by LambdaCompiler"
IL generated by `LambdaCompiler` and `ILGen` turns out to be quite tricky to inspect. On desktop CLR, I used to emit IL to an assembly using `CompileToMethod` for offline inspection, or use SOS to `!dumpil`. While the latter still works, it's not an option at runtime, e.g. for testing purposes. In particular, when testing code emit optimizations, we don't have a good option to assert the output.

[2016-09-06 07:12] appel1 opened #11462 "File version of DataFlow assembly changed from 4.6 to 1.0 in latest release on NuGet"
DataFlow 4.5.25 on NuGet has file version 4.6.23123.0 and DataFlow 4.6.0 has file version 1.0.24212.1. This breaks deployment using Windows Installer. Only files with a higher file version are replaced during upgrades.

https://www.nuget.org/packages/System.Threading.Tasks.Dataflow/

[2016-09-06 07:57] AqlaSolutions opened #11463 "Blocking Task.Result design flaw leads to deadlock when called from ThreadPool thread"
Run this application:

https://gist.github.com/AqlaSolutions/f8c993bfad32dc9be11703fea4e01422

It simulates network engine receiving requests and calling synchronously `IConnection.OnRequestReceived`. This method calls async method and then synchronously processes the result retrieved with Task.Result. The async method may take up to 700 ms.

Assume I can't use await, because external network engi

[2016-09-06 08:54] stalek71 commented on #11429
The issue is with whole bunch of libs relying on dynamic proxies of course (like moq and nsubstitute to name a few only :) ) I heard MS created moq.4 some time ago for internal usage, but I don't now if it succeeded or was just kind of experiment only (and worked with UWP for Win10 at all).

The only convenient workaround to the problem (with unit testing and usage of DI there) I know at the momen

[2016-09-06 09:52] aliveli186 opened #11464 "CookieContainer.Add(Cookie cookie)"
CookieContainer.Add(Cookie cookie) method is no longer accessible because it's accessibility was downgraded which causes incompatibility between other .net versions.
Is this intended or a mistake?

Other definitions (net461):
public void Add(Cookie cookie)

Existing definition (netstandard1.6):
internal void Add(Cookie cookie)

[2016-09-06 09:55] juepiezhongren commented on #5766
Xaml is the only one with the potentialilty to unify the entire client ecosystem!
Please get rid of the DirectX, please hug OpenGL,!
UWP is to run on PC, on phone, on website!
Viva Xaml!

[2016-09-06 10:05] svick commented on #11459
This sounds like a duplicate of https://github.com/dotnet/corefx/issues/4750.

[2016-09-06 10:28] zhenlan commented on #4561
@atanasa, yes, please open a separate issue to track the need for svcutil (in github.com/dotnet/wcf repo). Thanks!

@masaeedu @kgabedell, if you can share a repo, we may be able to see if there is anything else we can assist here in terms performance (cc: @mconnew).

[2016-09-06 10:54] svick commented on #11463
I don't see how this is a flaw in `Task.Result` or how could it be fixed by the framework.

If *your code* is going to block all the available `ThreadPool` threads and continuing those threads also requires some code to run on the `ThreadPool`, then of course you're going to get a deadlock.

The solution is to not block (probably by using `await`), or, if you really can't, increase the number of m

[2016-09-06 11:41] AqlaSolutions commented on #11463
@svick, again, people usually think that blocking with `.Result` is just not recommended but it won't break an app. Recently I saw a comment on SO:

But the reality is that you should never wait with `.Result` from TP threads - if one request can do it - there is a chance to have 100 requests waiting like this at same time (but may be in different code places). This problem is not obvious and not

[2016-09-06 11:44] svick commented on #11451
For general `IEnumerable<T>`, methods like `Select` only iterate the input *after* the method returns. By that time, it's too late to decide what to return.

For types like `List<T>` or `IList<T>`, you could check the `Count` before returning, but then that `Count` could change after `Select` is called, but before the result is iterated, so this would be invalid optimization.

For types that are g

[2016-09-06 12:48] jairbubbles opened #11465 "DefaultValueAttribute missing unsigned int / unsigned long constructor"
## Latest proposal
### Rationale and Usage

As has already been explained, using `DefaultValueAttribute` with one of the problematic types (unsigned integer types and `sbyte`) in C# ends up using a widening conversion and so the boxed `Value` ends up with an unexpected type. The proposal is to add constructor overloads so that the conversions don't happen and `Value` gets the expected type.

The u

[2016-09-06 13:32] stephentoub commented on #11463
+1

This has little to do with .Result... it's simply about blocking in general.  You're right that one should avoid blocking as much as possible, especially on thread pool threads, but that doesn't mean that it's a design flaw to having APIs that block, rather it means one should try to minimize the usage of APIs that block.  For example, it's not a design flaw that ManualResetEventSlim.Wait() bl

[2016-09-06 13:43] gkhanna79 commented on #11083
@ramarag Can you PTAL?

[2016-09-06 13:44] stephentoub commented on #11441
Per my comments in #11443, if this actually makes a consistently measurable throughput difference in ConcurrentQueue, we could take a fix for it, but I'd rather simply see the inliner improved to address such cases across the board.

[2016-09-06 13:52] stephentoub commented on #11455
That may be the only place it's called with a const of false, but there are a bunch of places where that Boolean is threaded through as a variable argument.

[2016-09-06 13:56] stephentoub commented on #11459
It's also observable in its behavioral change.  Previously once you started enumerating, any changes to the original would not be visible in the output; with such a change, changes in the original might show up in the output, since the copy is being removed.  Or similarly, in your list example, clearing the list once iteration had started wouldn't previously have been visible; with this change, it

[2016-09-06 13:57] stephentoub commented on #11459
Closing as a dup.

[2016-09-06 13:57] #11459 closed

[2016-09-06 14:09] gkhanna79 commented on #11157
We are working to get this differences addressed and documented. Meanwhile, have you tried AssemblyLoadContext.Default.LoadFromAssemblyPath?

[2016-09-06 14:16] gkhanna79 commented on #11141
@ramarag Can you PTAL?

[2016-09-06 14:48] jamesqo opened #11467 "More optimizations for LINQ methods"
I've been raising a lot of issues about LINQ recently, so this is sort of an umbrella issue for all of the optimizations I think could be applied.
- `Enumerable.Cast` is one of those functions that has a 1:1 mapping, so it should forego `yield` and instead implement a custom iterator class. Things like `x.Cast<Customer>().ToArray()` are very common.
- In `OfType`, if `TResult` is object or the sou

[2016-09-06 14:55] jamesqo commented on #11467
I'm going to make this an umbrella issue for all further optimizations for LINQ, since I realize I've been raising a lot of those lately :)

[2016-09-06 15:02] henkmollema commented on #4278
Is there a timeline for development of this API?

//cc @bartonjs

[2016-09-06 15:27] timdows commented on #9253
@tarekgh
Got it a couple of days ago as well, I was able to reproduce it (See attached document for the steps) on Windows Server 2016 Technical Preview 5

Note that the project is netcoreapp1.0, I could not reproduce this with the net461 framework

The error is the same:
[code]

Docker version

[code]

Docker info
[code]

[repro9253.docx](https://github.com/dotnet/corefx/files/457044/repro9253.doc

[2016-09-06 15:38] stephentoub commented on #11467
With any query processing system, there are potentially an infinite number of optimizations that can be introduced to special case this or that pattern.  Each of those optimizations adds code and complexity.  Our goal should be to optimize the important ones, based on real use cases, as all such optimizations add cost for every other use, even if it's just in increased binary size, increased JIT t

[2016-09-06 15:55] danmosemsft opened #11468 "Move master to netcoreapp1.2"
move everything in master from netcoreapp1.1 to netcoreapp1.2, because netcoreap1.1 is shipping earlier

[2016-09-06 15:55] PatrickLang commented on #9253
The Windows issue is fixed in builds after Windows Server 2016 TP5. If you reboot the host, the code should work again. I would consider it solved and close this unless the Centos issue still exists

[2016-09-06 15:58] danmosemsft opened #11469 "Merge dev/api into master"
Check this first
* are there any tests disabled in dev/api that are not disabled in master. re-enable these or open an issue.
* check packages don't have broken dependencies,
* check packages where the contract exists but the implementation is not complete yet because we are either using stubs or even worse we just have a apicompat baseline but the members don’t even exist in the implementation.

[2016-09-06 15:59] vancem commented on #11390
I agree with this basic notion that StringBuilder should be basically an 'advanced' string.    Certainly having some operations like substring and indexOf make sense.

I also have a desire to see if we can't make StringBuilder work for all the scenarios where various special-purpose strings have been invented.  This includes mutable strings, but it also includes large strings (where you want const

[2016-09-06 16:00] danmosemsft commented on #11469
Probably want to have the 1.1 branch first.

[2016-09-06 16:00] xrkolovos commented on #9868
So, Should this be open?

[2016-09-06 16:01] joperezr commented on #10804
Fixed by #11236

[2016-09-06 16:01] #10804 closed

[2016-09-06 16:02] joperezr commented on #10721
This issue is fixed after the merge from master.

[2016-09-06 16:02] #10721 closed

[2016-09-06 16:09] bartonjs commented on #4278
@henkmollema Nothing specific, no.  For the 1.2 release we're working to shrink the gap between .NET Framework and .NET Core; and that effort is currently where SignedXml is coming from.

[2016-09-06 16:11] tarekgh commented on #9253
I'll ignore this issue till someone confirm if still there still any problem.

[2016-09-06 16:21] stephentoub opened #11471 "Uri.CreateUriInfo is locking on a string"
https://github.com/dotnet/corefx/blob/ca9e2b068e75898a3b35860632b1fec01cc5af93/src/System.Private.Uri/src/System/Uri.cs#L2199-L2206
[code]
This is a scalability concern, e.g. this Uri could end up sharing the same lock as another that's locking on the same string instance, such as if the string is interned.  Now, given the rarity of this, this might be the best option, as unless there's another ob

[2016-09-06 16:24] VSadov commented on #11415
Let's change to "**"

[2016-09-06 16:38] svick commented on #11390
@vancem

Shouldn't it follow [the API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)? I. e. a "speclet" first, PR only after the API is reviewed.

[2016-09-06 16:40] benaadams commented on #11441
@stephentoub suggestion in https://github.com/dotnet/coreclr/issues/7054#issuecomment-245005684 is that it might be an incorrect restriction

Will close the code change.

[2016-09-06 16:52] sepidehMS commented on #10530
Got merged again by https://github.com/dotnet/corefx/pull/11386

[2016-09-06 16:52] #10530 closed

[2016-09-06 16:53] weshaggard commented on #11429
I agree that having our bait-and-switch libraries like Ref.Emit have a netstandard ref and only be supported on some platforms is a terrible experience for library developers without guardrails. @terrajobst @ericstj do you know what our current plans are around supporting guardrails for these type of scenarios?  We definitely need to improve our developer experience here or rethink how we are pack

[2016-09-06 16:55] Peperud opened #11473 "Rewrite benchmarksgame samples to optimize performance"
I realize this not just .NET Core issue. Or perhaps not perceived as an issue at all.
But since a lot of work is done to improve performance...
The Java binary-trees program in the computer language benchmark game is almost 4 times faster than the C# .NET Core one. Even worst for the regex-dna test, though perhaps this is more of a regex library test. I'm not taking the benchmark game for somethin

[2016-09-06 17:10] terrajobst commented on #649
We currently don't have a proposal to review, thus I've marked it as api-needs-work. We'll take a look whether someone on our side will do this.

[2016-09-06 17:11] whoisj commented on #11473
@Peperud both links results in a 404 for me, please validate the links.

[2016-09-06 17:12] benaadams commented on #11473
Links work if copy pasted, have github.com/url -> 404 if followed directly

[2016-09-06 17:14] bartdesmet commented on #11415
Sounds good, will submit PR shortly.

[2016-09-06 17:15] terrajobst commented on #692
Looks good; we should add both, the generic- and the non-generic forms so that `Parse` and `TryParse` have both versions.

[2016-09-06 17:19] terrajobst commented on #1168
@mellinoe & @CarolEidt  we should chat. It seems we need a more holistic plan for exposing more intrinsics from our library.

[2016-09-06 17:19] Petermarcu commented on #11473
@Peperud , this is definitely something that is interesting to look at. We've looked that these issues before, sometime better tuning in the C# code submitted for the test case gets the numbers better and sometimes it is something that needs to be fixed in the core implementation. Are you or anyone else interested in looking deeper at where the time is being spent and make a proposal for how to ad

[2016-09-06 17:25] terrajobst commented on #1514
The APIs look fine, however, the only way we could benefit from this work is if our implementation avoids the boxing all the way down, which would be non-trivial amount of work. Also, it's questionable without a benchmark how big the savings are, because formatting will probably cause a bunch of allocations anyway.

It might be better to leave these APIs as-is and instead use the new formatting AP

[2016-09-06 17:29] vancem commented on #11390
Yes, we will follow the API review process.

[2016-09-06 17:32] svick commented on #11471
`Uri` is immutable and I think that people often assume (correctly or not) that reading the same object from multiple threads is fine, so it makes sense to me to make `Uri` thread-safe.

And it seems `Uri` was designed to be thread-safe, since there are some `lock (_info)` in it and also some comments about multi-threading.

Maybe it would make sense to verify that `Uri` indeed is thread-safe and

[2016-09-06 17:33] terrajobst commented on #1525
The value seems to be too low to justify the work. @stephentoub estimated that it might at best save us 150 lines of code in CoreFX, which should be a good proxy for this feature (libraries). It's not that the idea is bad, but the cost-benefit ratio doesn't seem to be worth it.

[2016-09-06 17:33] #1525 closed

[2016-09-06 17:36] shmao commented on #10822
Closing the issue as NUnit has fixed the issue.

[2016-09-06 17:36] #10822 closed

[2016-09-06 17:43] terrajobst commented on #2317
The change makes sense to me. As @ericstj said above, the only concern is compat on .NET Framework which are in-place updates.

Hey @VSadov, you're the owner for Linq. Could you take a look and make a recommendation?

[2016-09-06 17:46] AlexGhiondea commented on #10973
AppContext does lock, but it should only take the lock once per app domain per switch. Once the value of the switch is retrieved, it is cached and no further locks are taken for retrieving the value.

@JeremyKuhne did you have an optimization in mind?

[2016-09-06 17:48] NickCraver commented on #1514
Remember that the benefits here are extreme because *just by recompiling*, you get them. That huge, free adoption should be factored into the effort costing. This helps all code, rather than just new code. I don't see `string.Format()` or `$""` going anywhere for a long time.

Perhaps I'm missing something though - doesn't `$""` continue to map to `string.Format` in future plans as well, or is tha

[2016-09-06 17:49] terrajobst commented on #3419
So what's the proposal then?

[2016-09-06 17:58] terrajobst commented on #3482
With out variables coming in C# 7, does this API really provide that much value? I don't say it has zero value, or it is a bad idea, but the value certainly seems to be quite low..

We could probably just expose the existing method on `Dictionary<K,V>` but adding a new type to add an extension methods seems to be a bit heavy handed for a feature that's that narrow.

[2016-09-06 17:59] nbarbettini commented on #10727
Ditto @onovotny. AFAIK there is no way to set the connection lease timeout (as suggested by that link) in .NET Core.

[2016-09-06 18:03] terrajobst commented on #4316
This looks useful. We should probably add

* `Queue<T>.TryDequeue()`
* `Stack<T>.TryPeek()`
* `Stack<T>.TryPop()`

To make things consistent.

[2016-09-06 18:09] terrajobst commented on #5552
The last API is internal, so it doesn't matter. But these overloads look fine:

[code]

[2016-09-06 18:11] terrajobst commented on #6109
@lajones since you own this API, could you make a proposal?

[2016-09-06 18:11] svick commented on #11473
What is suspicious is that there is a F# version (running on mono LLVM) that is significantly faster than any C# version (running on mono or .Net Core).

[2016-09-06 18:17] terrajobst commented on #7175
So are we concerned about overflows or not? Personally, I think floating points make the most sense.

[code]

[2016-09-06 18:18] terrajobst commented on #7175
@tarekgh, could you take a look and make a proposal and provide a recommendation on how to deal with potential loss of precision?

[2016-09-06 18:26] terrajobst commented on #8146
Looks good. We should probably just rename the parameter to make it clear that we don't do the equivalent of deleting the destination directory before extracting:

[code]

[2016-09-06 18:34] terrajobst commented on #8719
[code]

If you want operators you should file a separate issue as this type currently doesn't have any operators.

[2016-09-06 18:35] tarekgh commented on #7175
The proposal here is we adding only the operators which takes double

[code]

For the loss of precision we already have the logic in the TimeSpan. you can look at

[code]

basically we round the double number to the milliseconds and use that. I think this is the best we can do in this situation

[2016-09-06 18:37] terrajobst commented on #10981
In order to review this, we need a proposal for an API.

[2016-09-06 18:41] terrajobst commented on #11090
@jkotas, what are your thoughts? From an API perspective it seems logical to have an alternative that doesn't throw. However, the runtime(s) have to implement this method.

[2016-09-06 18:41] jamesqo commented on #11453
Whoops, I don't know what I was thinking. The nodes are singly-linked so it isn't possible to backtrack in this case, unfortunately.

[2016-09-06 18:41] #11453 closed

[2016-09-06 18:50] terrajobst commented on #11342
This looks good as proposed.  Are there other stream types that should override `CopyTo`?

[2016-09-06 19:01] jamesqo commented on #11455
@stephentoub I just grepped for not true:

[code]

It looks like all the places where it's called with a variable parameter come from other implementations of `GetCount`. (Or in the case of `OrderedEnumerable.GetCount(int, int, bool)`, that's only called by `OrderedPartition.GetCount(bool)`.)

[2016-09-06 19:12] stephentoub commented on #11473
Quick perusal suggests the tests aren't doing the same thing between the C# and Java versions.  But even if they were apples-to-apples, configuration makes a big difference.  When I run the C# version with the server GC instead of the client GC, it runs 4x faster.

[2016-09-06 19:16] stephentoub commented on #11455
Yes.  My point was that the both values are used.  If your suggestion was to eliminate the ```false``` path, then that breaks Count which needs to evaluate the count even if it's not cheap.

[2016-09-06 19:23] mellinoe commented on #11473
All of the top submissions for the binary tree game are using some sort of arena allocator or memory pool. Many of the top implementations use this [Apache memory pool](http://apr.apache.org/docs/apr/1.5/group__apr__pools.html). It's unlikely we could get a top score unless we did the same, I think. An easy way to improve the score would be to just PInvoke to the Apache library and see how much fa

[2016-09-06 19:38] timdows commented on #9253
This issue could indeed be solved by updating Windows 2016 TP5 via sconfig and rebooting
![2016-09-06 20_11_34](https://cloud.githubusercontent.com/assets/9577532/18287440/73909632-7477-11e6-8c7a-347c0216ebec.png)

[2016-09-06 19:40] danmosemsft commented on #9327
@joshfree This needs breaking out for CoreRT (albeit in this db). It would be great to start work on that.

[2016-09-06 19:50] shmao opened #11477 "[Impl] DCS/DCJS to Support new Serialization APIs Added in System.Runtime (e.g. ISerializable)"
https://github.com/dotnet/corefx/commit/90be35920b48820536b8740f64d565ded55d811e added some serialization APIs in System.Runtime. DCS/DCJS should support these APIs.
- [x] System.NonSerializedAttribute (tracked by https://github.com/dotnet/corefx/issues/13367)
- [x] System.SerializableAttribute
- [x] System.Runtime.Serialization.OptionalFieldAttribute  (tracked by https://github.com/dotnet/corefx/

[2016-09-06 19:53] AqlaSolutions commented on #11463
Developer expects blocking to perform slower but not to disable the whole app. The different is between "will be not efficient" and "block app from doing anything until restart". The first is acceptable and expected but the second is what can actually happen. It's not about choice between fast and slow but instead between working and hanging.

If you have a method which can't be used because each

[2016-09-06 19:55] jamesqo commented on #11455
@stephentoub Is it not possible to simply go down the regular slow path if we can't get the count cheaply? This is what [`ElementAt`](https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/ElementAt.cs#L26) will do if the enumerable is an `IPartition`, but found is false.

[2016-09-06 19:58] stephentoub commented on #11455
Definitely not, at least not in all cases.  It's used, for example, by Select(...).ToArray() to presize the allocated array:
https://github.com/dotnet/corefx/blob/d0dc5fc099946adc1035b34a8b1f6042eddb0c75/src/System.Linq/src/System/Linq/Select.cs#L635
You would not want doing so to have to MoveNext through each element of an enumerable just to get a count with which to presize the array.

[2016-09-06 19:59] SunnyWar commented on #11473
I suspect the binary tree code is spending most of it's time in the GC. To test this, I grabbed the c# and did a quick check. On my machine the average time was just over 15s. When I switched to the server GC the time was 6-7s.

[2016-09-06 19:59] Peperud commented on #11473
@mellinoe Not looking at any other naively compiled, not garbage collected languages. Java is the target to beat.
@stephentoub the Java and C# versions are pretty much the same (or at least were before I "polluted" the C# with naive attempt to add concurrency).
But you're absolutely right about the server GC - it does make a huge difference.

[2016-09-06 20:08] stephentoub commented on #11463
@AqlaSolutions, I don't understand the response.

Your comment suggests that ManualResetEventSlim.Wait() is a design flaw, because I can write code that does:
[code]
and block a thread pool thread forever.  The flaw here isn't in MRES.Wait(), though, it's in how I'm using it.

[2016-09-06 20:13] maliu1970 commented on #7439
Does anyone know which ftp utility can be used with .NETCore RC2?

[2016-09-06 20:14] AqlaSolutions commented on #11463
@stephentoub, `ManualResetEventSlim.Wait` has it's specific application area and in your example it's applied incorrectly. But blocking calls to `Task.Result` are expected to be applicable in usual situations. Now considering the deadlock they are *not applicable* in area where they are expected to work (not efficiently, but stable!).

[2016-09-06 20:19] jkotas commented on #11090
This would be good addition.

It is implemented it in the runtime as internal already. It just needs to be flipped from internal to public:

https://github.com/dotnet/coreclr/blob/99c0410601955552920079a7465c64e725814c2c/src/mscorlib/src/System/Runtime/CompilerServices/RuntimeHelpers.cs#L199

[2016-09-06 20:20] jamesqo commented on #11455
@stephentoub The code you linked to calls `GetCount` with `true`, and calls `EnumerableHelpers.ToArray` if the result isn't cheap.

If we cannot get the count in advance, it's likely that the iterator is backed by a non-ICollection/IIListProvider enumerable, and we'll end up calling MoveNext on each of that enumerable's elements anyway.

[2016-09-06 20:38] CoreyKaylor commented on #11388
@svick that did seem to resolve the issues for Marten failing to pull down for our users.

[2016-09-06 20:45] stephentoub commented on #11455
Exactly.  It tries to get the count; if it can it takes one path that preallocates the array and then fills it in efficiently, and if it can't it falls back to not-preallocating the array and doing a normal iteration.  If GetCount always got the count, even if it was expensive (i.e. iterating), then we'd call GetCount, do an iteration, presize the array, and then go through everything again to fil

[2016-09-06 20:59] jamesqo commented on #11455
So you're basically saying that `GetCount(false)` should *not* be used here, since it will cause 2 iterations through the array, correct?

I think I may have caused some confusion earlier. When I said

I was not suggesting that `Count` should return the actual count even if it is not cheap to get; it should still return -1, and behave like `GetCount(true)`. I was suggesting how the (only) usage of

[2016-09-06 21:12] stephentoub commented on #11463
I can't tell if we're talking past each other or if we're going to need to agree to disagree.

The purpose of Task.Wait() is to not return until the task has completed; that may involve blocking.  The purpose of Task.Result is to give you back the result of the task, which may involve waiting for the task to complete (otherwise there is no result).  If you're in a situation where you don't want to

[2016-09-06 21:37] stephentoub commented on #11455
But that slower path is slower than what implementations can do even in the fallback case.

Consider a case like DefaultIfEmpty:
https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/DefaultIfEmpty.cs
[code]
source.DefaultIfEmpty().Count() today will call GetCount(false) on the DefaultIfEmptyEnumerator, so we'll end up doing _source.Count().  Let's say the _source is a regul

[2016-09-06 21:37] stephentoub commented on #11455
But that slower path is slower than what implementations can do even in the fallback case.

Consider a case like DefaultIfEmpty:
https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/DefaultIfEmpty.cs
[code]
source.DefaultIfEmpty().Count() today will call GetCount(false) on the DefaultIfEmptyEnumerator, so we'll end up doing _source.Count().  Let's say the _source is a regul

[2016-09-06 21:37] stephentoub commented on #11455
But that slower path is slower than what implementations can do even in the fallback case.

Consider a case like DefaultIfEmpty:
https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/DefaultIfEmpty.cs
[code]
source.DefaultIfEmpty().Count() today will call GetCount(false) on the DefaultIfEmptyEnumerator, so we'll end up doing _source.Count().  Let's say the _source is a regul

[2016-09-06 21:37] stephentoub commented on #11455
But that slower path is slower than what implementations can do even in the fallback case.

Consider a case like DefaultIfEmpty:
https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/DefaultIfEmpty.cs
[code]
source.DefaultIfEmpty().Count() today will call GetCount(false) on the DefaultIfEmptyEnumerator, so we'll end up doing _source.Count().  Let's say the _source is a regul

[2016-09-06 21:37] jamesqo commented on #11342
@terrajobst `BufferStream` would be a good candidate so we can avoid double buffering. At a quick glance through this repo `DeflateStream` and `FileStream` also look like they could use this, since they have their own private buffers.

[2016-09-06 22:43] terrajobst commented on #11463
I think the argument that @AqlaSolutions is trying to make is that `await` and `async` have changed the systems enough that deadlocks happen more frequently. VS has similar problems which is why they are pumping messages when doings waits...

[2016-09-06 22:50] stephentoub commented on #11463
VS has other issues, such as needing to deal with multiple UI models and COM, and a single UI thread.

Ok. And, what is the desired change here?  My response is the same: don't use blocking APIs if you don't want to block.  I've already outlined some reasons why general pumping during Task.Wait()/Result would be a bad thing to do.  Unless there's a concrete proposal here for something to change, I

[2016-09-06 22:59] matt-richardson commented on #9868
@xrkolovos: I've logged another issue https://github.com/dotnet/corefx/issues/11196 which is still open and they've said it should happen with `1.2.0`.

[2016-09-06 23:04] SamuelEnglard commented on #8719
Creating my issue, though just to clarify: `RightShift` and `LeftShift` return a new `BitArray` leaving the original unchanged?

[2016-09-06 23:04] gafter commented on #1514
`$"..."` always maps to an invocation of `string.Format` (if the target type is `string`).

[2016-09-06 23:07] Clockwork-Muse commented on #8719
@SamuelEnglard - yes, as do the other operations.

[2016-09-06 23:09] Clockwork-Muse commented on #8719
@SamuelEnglard - no, all the operations mutate the original.

[2016-09-06 23:10] ericeil commented on #11174
Thanks for the confirmation of the correct behavior, @ThadHouse.  I think it's also correct for the `Connected` property to return true in this case.  It looks like `Connected` actually does a poll internally if there's a pending non-blocking `Connect` call, specifically so that it can return "true" once the connection is established.

[2016-09-06 23:10] #11174 closed

[2016-09-06 23:15] SamuelEnglard commented on #8719
@Clockwork-Muse so why do they return a `BitArray`?

[2016-09-06 23:22] JeremyKuhne commented on #11373
Thanks- I'll get it.

[2016-09-06 23:36] JeremyKuhne commented on #11033
@be5invis Can you clarify what you're asking for? Reserved where? Thanks!

[2016-09-06 23:41] be5invis commented on #11033
@JeremyKuhne You cannot create ANY file named them, in ANY directory, with ANY extension, on Windows. This is a limitation of the “default” win32 API, because they are mapped to device names (like, `NUL` means “Null Device”), early in 1970s. Prefixing these paths with `\\?\` will can this problem.

[2016-09-06 23:45] JeremyKuhne commented on #11220
I think it's reasonable to pursue this. Can you flesh out with usage examples and error conditions? I'll mark it for review after that.

[2016-09-06 23:55] #11445 closed

[2016-09-06 23:56] #11399 closed

[2016-09-06 23:56] #11401 closed

[2016-09-06 23:56] #11408 closed

[2016-09-06 23:56] #11411 closed

[2016-09-07 00:02] #11412 closed

[2016-09-07 00:03] #11426 closed

[2016-09-07 00:03] #11444 closed

[2016-09-07 00:13] JeremyKuhne commented on #11033
Thanks for the details!

.NET allows you to create them yourself now if you really want to as we allow you to use `\\?\` and we don't mess with the path if you do (`\\?\C:\Test\LPT1`).

I don't, however, recommend doing so. As you point out, the Win32 API will treat these differently. Most applications aren't going to have logic to allow for legacy device names used as file names. I would also be

[2016-09-07 00:16] be5invis commented on #11033
@JeremyKuhne Maybe at least .NET can limit these names in "direct occur" directly. Like, `./LPT1` -> file, `LPT` -> device.

[2016-09-07 00:23] khellang commented on #11220
You mean show some sample code calling some of these methods?

These are async counterparts to the existing sync methods, so the error conditions would be the same as those, I assume.

[2016-09-07 00:59] #11323 closed

[2016-09-07 01:01] #11327 closed

[2016-09-07 01:14] JeremyKuhne commented on #11033
Generally speaking we're trying very hard to not code specifically to internal details of Windows APIs. Even if we do get things right, doing so risks breaking on future versions of Windows. Trying to be helpful here is risky and could either break with a future Windows change or inhibit them from making a change (say, if they decided to remove or alter the way they handle legacy device names).

A

[2016-09-07 01:27] JeremyKuhne commented on #11220
@khellang, yes, sample code. Nothing super complicated, just something to help clearly illustrate the value here. And it is fine to say that we follow the error conditions in the sync methods with a callout to what we do with the CancellationToken.

[2016-09-07 01:59] #11452 closed

[2016-09-07 02:03] #11325 closed

[2016-09-07 02:03] #11301 closed

[2016-09-07 02:04] #11096 closed

[2016-09-07 02:06] #11286 closed

[2016-09-07 02:08] davidsh commented on #11456
Fixed with PR #11481.

[2016-09-07 02:08] #11456 closed

[2016-09-07 02:34] #11105 closed

[2016-09-07 02:50] bartdesmet commented on #7953
The stack probing logic has been added so the expression tree compiler can handle much deeper expression trees. I'd still like to see the expression tree that gets generated to see whether it can be constructed more optimally though.

[2016-09-07 03:05] PoppyPham commented on #2089
Really looking forward to this feature too !!

[2016-09-07 03:25] jkotas commented on #11090
@terrajobst Approved?

[2016-09-07 04:11] shcemApp opened #11494 "Access is denied when use the System.Reflection.DispathProxy"
HI

I used the System.Reflection.DispatchProxy to dynamic a Interface,when use the DispatchProxy.Create<MyInterface,MyProxy>();get the Access is denied:'MyProxy',MyProxy is extend the DispatchProxy.

[2016-09-07 05:18] Clockwork-Muse commented on #8719
@SamuelEnglard - Probably.

[2016-09-07 05:19] weshaggard commented on #11090
Approved. As with similar brand new APIs we can add them to implementation and to the .NET Core reference assemblies but not the netstandard references yet and we will also need to port to desktop.

[2016-09-07 05:22] bartdesmet opened #11495 "Add tests for DebugView on Expression"
This is the next biggest black spot for code coverage in `System.Linq.Expressions`.

[2016-09-07 06:58] petertiedemann opened #11497 "ZipArchive CreateMode tries to read Position on non-seekable Stream"
Looking at https://msdn.microsoft.com/en-us/library/hh158263(v=vs.110).aspx i find this remark:

If the mode parameter is set to Read, the stream must support reading. If the mode parameter is set to Create, the stream must support writing. If the mode parameter is set to Update, the stream must support reading, writing, and seeking.

Based on that i would conclude that using CreateMode, i should

[2016-09-07 07:04] benaadams commented on #11463
For context the author was having issues with NHibernate

@AqlaSolutions a non-blocking use of `.Result` (or `.GetAwaiter().GetResult()` which is similar but doesn't give aggregate exceptions for single tasks) would be:

[code]

[2016-09-07 08:01] tbelqdx opened #11499 "Could not load file or assembly using Microsoft.Extensions.Configuration.Json"
Hi everybody,
I'm working on a windows 10 IoT project where I want to use Microsoft.Extensions.Configuration.Json so I added it in my project.json in the dependencies:

I can deploy my solution but I have this exception:

I tried adding System.IO.FileSystem.Watcher to my dependencies in project.json but it didn't solve the problem...

It looks like this person has a similar problem:
http://stackov

[2016-09-07 11:34] svick commented on #11497
Yes, that's the core of the problem. [The MSDN documentation for `Stream.Position`](https://msdn.microsoft.com/en-us/library/system.io.stream.position(v=vs.110).aspx) says:

To me, this says that streams that don't support seeking shouldn't implement `Position`. But `ZipArchive` just assumes that any stream used with the `Create` mode does support `Position`.

Since `ZipArchive` in `Create` mode o

[2016-09-07 11:40] stephentoub commented on #11497
Totally as an aside from the main thread of discussion here, I don't think that's exactly what the docs mean, or at least not what they were intended to mean.  What I believe they intend to say is that as a consumer of a stream, you shouldn't expect Position to be implemented if !CanSeek.  As the implementer of a Stream, though, you're not required to throw NotSupportedException if !CanSeek... you

[2016-09-07 12:37] svick commented on #11494
Could you show your code that reproduces the error?

[2016-09-07 13:13] Mike-EEE commented on #8931
Nice idea, it has got my upvote.  I have added it to my [growing list of issues and discontent with TPL](https://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/9126493-improve-asynchronous-programming-model).  Although this looks to fix/address a few of them. 😎

[2016-09-07 15:20] zuckerthoben commented on #2089
I am also in desperate need for this feature!

[2016-09-07 15:32] ianhays opened #11503 "OSX Process.Start failing on non-rooted file name"
I've been seeing this issue where executing a process with a non-rooted file name causes a `System.ComponentModel.Win32Exception : No such file or directory` failure.

Trace:

[code]

The failures don't seem to have anything to do with what I'm trying to execute, since we never get further than calling proc_pidpath on the current process (`Interop.libproc.proc_pidpath(Interop.Sys.GetPid())`) in th

[2016-09-07 15:32] ianhays commented on #11503
problem circumvented in FSW by https://github.com/dotnet/corefx/pull/11349

[2016-09-07 15:33] #9009 closed

[2016-09-07 15:34] stephentoub opened #11504 "Lots of unused resource strings across corefx"
This isn't exact (there are likely both false positives and false negatives here), but a quick search across corefx shows over a thousand resource strings that are unused and could be deleted:
[code]

[2016-09-07 15:37] stephentoub commented on #11495
This might be useful:
https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Diagnostics/DebuggerAttributes.cs

You can see an example of it being used here:
https://github.com/dotnet/corefx/blob/0c5bf853e680ef401703c179ad3b065c49077929/src/Common/tests/System/Collections/DebugView.Tests.cs#L36

[2016-09-07 15:50] danmosemsft commented on #10961
@tarekgh does this duplicate other issues now, and can be closed?

[2016-09-07 15:57] tarekgh commented on #10961
@danmosemsft I am going to split this issue into more issues when I start working on supporting Linux and .Net Native. the other issues we have are tracking Windows work which I'll be able to resolve them after I finish writing the tests which I am currently doing.

[2016-09-07 16:04] ericstj commented on #10445
No fix as of yet.  Also adding @Priya91 to look at a potential lib/NETStandard1.1 implementation of RuntimeInformation that isn't platform specific.

[2016-09-07 16:29] danmosemsft commented on #11271
We need to bring back more than this as part of .net standard. Let's chat, and then please break this out.

[2016-09-07 17:20] weshaggard commented on #8133
tagged as netfx-port-consider as we need to expose RuntimeHelpers.GetUninitializedObject on desktop as well.

[2016-09-07 19:48] davidsh commented on #11504
We might want to defer this work because those strings might be used as we consider adding API surface back to the libraries.

[2016-09-07 19:50] davidsh commented on #11464
This API is present as a public API in the .NET Framework 4.x (Desktop).  It was "downgraded" (removed) as part of the original Windows Store .NET Profile that was introduced in Windows 8.0/8.1 timeframe. That trimmed down API surface was the basis for .NET Core 1.0.

We are working on adding back API surface for a future .NET Core release. This particular API will be among those that gets added b

[2016-09-07 19:51] SedarG opened #11516 "System.ComponentModel.TypeConverter package is resolving to wrong asset for netcore50aot and uap101aot)"
TargetFrameworks supported by https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.ComponentModel.TypeConverter are:
- .NETFramework 4.5
- .NETFramework 4.6.2
- .NETStandard 1.0
- .NETStandard 1.5
- MonoAndroid 1.0
- MonoTouch 1.0
- Xamarin.iOS 1.0
- Xamarin.Mac 2.0
- Xamarin.TVOS 1.0
- Xamarin.WatchOS 1.0

Restoring this package for netcore50aot or uap101aot will result in NetStandard1.

[2016-09-07 20:54] weshaggard commented on #11516
cc @ericstj
Is it just the missing RD.Xml that is the issue if so should we just include that instead of explicitly adding a netcore50aot asset?

[2016-09-07 21:06] ericstj commented on #11516
Which is the "right asset" then?  I don't see any build of this with an RD.xml.  As Wes said if you want an RD.xml just add that...  'NETStandard1.0' is correct given the set of impls currently built for this library.  Also, don't just cross-compile to add an RD.xml you can add that to any configuration of the library.

[2016-09-07 21:17] joperezr opened #11520 "[CI] OSX builds are failing sometimes on the xunit post-build steps after successful build."
I've seen this a couple of times at least already, and I'm not sure what's causing it or why is it only happening on OSX machines. A sample build with this problem is: [http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/dev_api/job/osx_release_prtest/676/](http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/dev_api/job/osx_release_prtest/676/)

Error message is:
[code]

[2016-09-07 21:17] joperezr commented on #11520
cc: @mmitche

[2016-09-07 21:19] mmitche commented on #11520
I think this is directly related to the network issues.

[2016-09-07 22:03] ianhays commented on #11440
These have been warning for a while. From the zlib Faqs:

So resolving these errors from the zlib master source is unlikely. That leaves us a few options:
- Choose to continue turning a blind eye to the warnings
- Ignore the warnings by passing ```/wd4018 /wd4311 /wd4101``` as compiler options
- Fix the warnings in our zlib/zlib-intel forks

Personally I'm a fan of option 2 above. I generally disl

[2016-09-07 22:10] bjjones commented on #11440
Thanks for the notification. Will take a look.

[2016-09-07 22:46] stephentoub commented on #11520
Yeah, we've hit this in spurts, and it seems to be bad today.  I'd previously opened https://github.com/dotnet/corefx/issues/9066 for this as well.

[2016-09-07 23:02] SedarG opened #11521 "Update System.Runtime for uap10.1 to expose AssemblyNameProxy"
This issue depends on https://github.com/dotnet/corert/issues/1811. Once the CoreRT change is in, we can update https://github.com/dotnet/corefx/blob/dev/api/src/System.Runtime/src/System.Runtime.csproj#L37 and include AssemblyNameProxy.cs back in.

[2016-09-07 23:10] SedarG commented on #11516
I don't know which one is the right asset. it could be as simple as adding RD.xml to the binary under lib/netstandard1.0, or changing the packaging such that the asset under lib/netstandard1.5, which does contain RD.xml, gets picked by NuGet restore (by possibly placing that binary also under lib/netcore50.
I have no idea which binary is the right one to pick.

[2016-09-07 23:33] ericstj commented on #11516
That would be incorrect.  NETCore50 only supports netstandard1.4, so as I mentioned, the current packaging is correct.

It sounds like you're just making a statement that the implementation requires an rd.xml whenever it's used by netnative.  In that case the issue is simply to add an RD.xml to all implementations that may be used by netnative.  In this case that'd be both of the netstandard imple

[2016-09-07 23:47] davidsh commented on #11333
cc: @stephentoub

@StephenMP Hello, can you respond back with answers to the questions I asked?  At this point, we consider this issue as by-design as per my comments above.  Thanks!

[2016-09-07 23:49] davidsh commented on #11331
cc: @stephentoub

@StephenMP Hello, can you respond back with answers to the questions I asked? At this point, we consider this issue as by-design as per my comments above. Thanks!

The other thing I want to mention is that you might be getting a 200 response back because your DNS services are intecepting DNS calls and returning 200 even though the DNS endpoint doesn't exist. This commonly occurs

[2016-09-08 00:14] davidsh commented on #6180
Closing this issue as it appears that the problem here is slow proxy discovery caused by the particular network configuration of this repro.  So, this is specific to the local network being used.

[2016-09-08 00:14] #6180 closed

[2016-09-08 00:35] 7CTech opened #11528 "No Arch Linux Runtime Support"
I'll get straight to the point.
There is no support for Arch Linux in runtime.json. This causes other issues, such as certain packages failing to restore.
Could you please look into adding this.

Error: `Can not find runtime target for framework '.NETCoreApp,Version=v1.0' compatible with one of the target runtimes: 'arch.-x64'`

This also results in an error when producing platform specific binari

[2016-09-08 00:44] morganbr commented on #9327
CreateInstanceAndUnwrap does require true AppDomain support (and possibly remoting), so I'd suggest throwing from that. SetupInformation looks very problematic as well on .NET Native (it pulls in AppDomainManagers, ApplicationTrust, and possibly other things that aren't really meaningful without multiple AppDomains and/or partial trust).

Evidence is very problematic to do correctly and can't enti

[2016-09-08 01:20] cdmihai opened #11529 "Why does Path.AltDirectorySeparatorChar return '/' on mac os and not '\'?"
Both it and `Path.DirectorySeparatorChar` return `/` on mac. Why isn't the alt separator char `\`? As far as I know macs use slashes as path separators, not back-slashes. :)

I hit this when trying to split a path via `path.Split(Path.AltDirectorySeparatorChar, Path.DirectorySeparatorChar);` so I can catch cases where the path contains both separators. While this works on Windows (where separator

[2016-09-08 01:34] JeremyKuhne commented on #9327
I've looked into Evidence as IsolatedStorage uses it for placing folders in a "known" spot. I've emulated the usage for now (getting the CodeBase (Url) and StrongName).

[2016-09-08 01:36] cdrnet commented on #11529
Since `\` is not a valid directory separator on Unix, it is not valid as *alternative* separator either. So imo it would be a bug if it would return `\`.

[2016-09-08 02:37] joperezr commented on #11520
I see, then I'll close this as a dupe of #9066

[2016-09-08 02:37] #11520 closed

[2016-09-08 03:19] #11528 closed

[2016-09-08 05:02] justinvp commented on #692
Should there be a `where TEnum : struct` constraint on the proposed `Parse<TEnum>` to match the existing `TryParse<TEnum>`?

[2016-09-08 05:03] yufeih commented on #692
Yes, I will update the PR to corert.

[2016-09-08 05:29] bartdesmet commented on #11495
Cool! I'll start by testing the textual output produced and move on to the attribute aspect of it beyond that.

[2016-09-08 06:22] magol commented on #692
It is the same issue for Enum.ToObject

[2016-09-08 09:30] jokerosky opened #11531 "Can`t add reference to System.XML"
I`ve created new solution for .net core (asp.net + class library) i need to add reference to System.XML but it fails with error, same time references to other libraries works well (for example System.Xml.Linq). I checked it on 3 different computers and got this error.

![image](https://cloud.githubusercontent.com/assets/6726130/18344350/187d0fa8-75e1-11e6-8164-bb65c6c40ffc.png)

[2016-09-08 09:35] CreateAndInject commented on #11083
What is PTAL?

[2016-09-08 09:36] joaoasrosa opened #11532 "ResourceManager don't handle binary objects"
ResourceManager don't handle binary objects.
In Visual Studio 2015 update 3 with .NET Standard 1.6, if we add a resource and then a bitmap we have errors regarding getting the object (GetObject method).
This needs API design.

[2016-09-08 09:52] benaadams commented on #11531
You need to either use the full framework System.XML and add to `frameworkAssemblies` e.g.
[code]
Or to use the corefx you need to add the specific component you require as there is no System.XML and its is more modular. See: [System.Xml packages on nuget](https://www.nuget.org/packages?q=system.xml)

So for example if you want to use XmlDocument add a reference to [System.Xml.XmlDocument 4.0.1](h

[2016-09-08 11:18] orloffm commented on #2089
Guys, could you all just add reactions to the main post?

[2016-09-08 11:49] jchannon commented on #2089
Or use the libraries that have been put on nuget by 2 separate people. Its
all OSS. If you dont like the package, send a PR

On 8 September 2016 at 12:19, Mikhail Orlov <notifications@github.com>
wrote:

[2016-09-08 13:22] h3smith commented on #2089
+1 for @jchannon Novell LDAP. It got us moving forward and took virtually no changes to our LDAP implementation. I mean you are abstracting correctly right ;)

[2016-09-08 13:49] johnkwaters commented on #2089
Yes, I ended up using @jchannon Novell LDAP too, it has worked well.

[2016-09-08 15:02] jokerosky commented on #11531
oh, @benaadams  i found out what is wrong. I have added this direct links to framework assemblies, but it have not work, because of case sensitive name. The problem is in Visual Studio 2015, which adds System.XML instead of System.Xml. so it is not dotnet issue.

Can someone from MS team add this issue to for VS guys and close this topic?

![image](https://cloud.githubusercontent.com/assets/672613

[2016-09-08 15:07] justinvp commented on #1513
@weshaggard, @terrajobst,

Should we go with @svick's optional parameter idea? If yes, that leaves us with:

[code]

A) For consistency between `string` and `char`, should we make the new single `char` overload use an optional parameter as well? e.g.:

[code]

B) If yes to A, should we also make `options` optional in the overloads with the `count` parameter? e.g.:

[code]

C) If yes to B, should w

[2016-09-08 15:15] weshaggard commented on #1513
That is a lot of options to consider. I marked this as api-ready-for-review so it will show up in our triage query again and we will review at our next review meeting (usually every Tuesday morning).

[2016-09-08 15:27] tarekgh commented on #11083
@CreateAndInject PTAL means "Please take a look"

[2016-09-08 15:53] KrzysztofCwalina commented on #11391
I am not a big fan of string abstraction (or in general abstractions for language primitives). Abstractions add complexity and performance overhead that often cannot be afforded int he very primitive types.

But I do agree that there is a problem with ToString allocations. Take a look at https://github.com/dotnet/corefxlab/wiki/System.Text.Formatting for how we are exploring to fix that.

[2016-09-08 15:59] jchannon commented on #2089
If I've not said so before, here's the branch its all on https://github.com/VQComms/CsharpLDAP/commits/coreclrPort

Works well for our requirements at the moment...

@h3smith @johnkwaters any issues feel free to raise an issue 😄

[2016-09-08 16:05] KrzysztofCwalina commented on #1514
I like the improvement in-place for the reson @NickCraver spells out. I think we should add these APIs.
The only concern I would have is that it might cause Generics instantiation explosion that runtime people are really concerned about lately. @jkotas?

[2016-09-08 16:38] jkotas commented on #1514
This should be data-driven decision. It is unclear to me whether saving extra allocations is worth it to justify the extra code in this case. String.Format will always allocate and it will always be relatively slow API. It is unclear to me whether changing it to allocate a bit less garbage at the cost of pile of extra code is going to measurable improve anything important.

[2016-09-08 16:48] benaadams commented on #1514
The trouble is string interpolation is too good a feature not to use, even for those of use that try to avoid allocations at all costs...

[2016-09-08 16:53] ericeil commented on #11058
#11387 seems to have enabled builds in Bash on Windows.

[2016-09-08 16:53] #11058 closed

[2016-09-08 16:56] jkotas commented on #1514
Agree. In the above @justinvp example, there 13 allocations. 9 of them are internal. It should be possible to eliminate all internal ones without changing the shape of the API, so that should be done first.

[2016-09-08 17:19] stephentoub commented on #11529
Exactly. There is no alternative, so we just return the same value.

[2016-09-08 17:49] ianhays commented on #10110
Looks like we don't. Closing this as a dup of #9379 / resolved partially via https://github.com/dotnet/corefx/pull/11074

[2016-09-08 17:49] #10110 closed

[2016-09-08 17:52] bartonjs commented on #10211
@Flavien I seem to have missed your reply, sorry.  Things should definitely work with a non-privileged user, but if you have a network filter in place you could have had your access to those CDPs blocked.

So, a couple of questions:
* Are you still experiencing the problem?
* If you issue a web request to `http://ss.symcb.com/ss.crl` in your failing process does it succeed?
* Have you tried runnin

[2016-09-08 17:54] ianhays commented on #6602
In #11264 I added back the managed implementation as an internal class: DeflateManagedStream.

It would be fairly easy to now add a conditionally included (whenever we're on an unknown platform) DeflateStream.cs that wraps DeflateManagedStream . That would make Compression able to run on any platform, but there's a question of how we want to test it then to prevent it getting more stale than it al

[2016-09-08 18:04] Clockwork-Muse commented on #11504
Currently, `Single()` returns `MoreThanOneMatch` ("Sequence contains more than one matching element"), even though it's called without a predicate and thus logically doesn't have a match.

Currently, `First(predicate)` et al will use `NoElements` ("Sequence contains no elements") even when the sequence has elements, but no matching ones.

Should have been removed as part of #2305, my bad.

The las

[2016-09-08 18:17] #7514 closed

[2016-09-08 18:32] ericeil commented on #10146
@mwdavisii, I'm sorry for the slow response to this issue.  Thank you for reporting it!  Before I dig in further, have you made any progress on this from your end since reporting this?

[2016-09-08 18:38] ianhays commented on #8797
The path given to the FileStream constructors is only used to create the underlying stream and the only other thing it would affect is calling the `Name` property. Is it worth adding another set of constructors just to allow setting a property that isn't functionally used anywhere? If so, would it not make more sense to just allow setting the Name?

Further, the `Name` property is only there to  `

[2016-09-08 18:56] mwdavisii commented on #10146
No worries! No, I haven't been able to get past it. I ended up writing a class wrapper to call a bash script I wrote that calls curl directly. It feels nasty, but I commented the function heavily and added a link to this issue with the hope of making it work the right way one day.

[code]

I suspect it's not a very common problem as we're consuming a vendor's old dotnet soap service (looks like ma

[2016-09-08 18:57] ianhays commented on #10501
dup of #9009

[2016-09-08 18:57] #10501 closed

[2016-09-08 18:57] ianhays commented on #10502
dup of #9009

[2016-09-08 18:57] #10502 closed

[2016-09-08 18:58] ianhays commented on #10500
dup of #9009

[2016-09-08 18:58] #10500 closed

[2016-09-08 19:01] tarekgh commented on #10513
Ass discussed offline with @shmao we are not going to support the globalization classes DCS in the current time across-plat because the scope of the work is big while this is not blocking or requested features.

[2016-09-08 19:01] #10513 closed

[2016-09-08 19:01] sepidehMS opened #11537 "Add tests for new System.Reflection APIs"
Look at https://github.com/dotnet/corefx/issues/10530 as reference for newly exposed APIs

[2016-09-08 19:02] stephentoub opened #11539 "Add optimized override of FileStream.CopyToAsync"
Regardless of mode, we should be able to improve over the base implementation by:
- Potentially reusing the FileStream's buffer (if it has one) rather than creating a separate buffer
- Avoiding some per-Read argument validation checks

When the FileStream is in sync mode, we should further be able to improve over the base implementation by:
- Avoiding queueing a work item per Read

When the FileSt

[2016-09-08 19:07] tarekgh commented on #6374
some quick update, we are working to expose CultureNotSupported exception. actually this is should be fully supported on corefx dev/api branch when running on Windows. will be fully supported on Linux soon too,
Also I want to mention we are not going to support the names zh-CHS or zh-CHT in coreclr because these are just legacy names and not conforming to the standard/CLDR.

[2016-09-08 19:27] JeremyKuhne commented on #11033
@be5invis I'm going to close this for now. If you still want to discuss the issue feel free to reopen. If you find any places where we fall over on legacy device filenames please open issues so we can investigate the plausibility of handling them.

[2016-09-08 19:27] #11033 closed

[2016-09-08 19:32] tarekgh commented on #9997
@sepidehMS SortKey should be exposed now on Windows platform but test cannot get compiled. please have a look to fix the compilation and mark the disabled test as
        [PlatformSpecific(Xunit.PlatformID.Windows)] // Non Windows is not supported yet

and then you may assign this issue back to me so I can remove the platform specific attribute when I support SortKey on Linux based platforms

[2016-09-08 20:58] #1509 closed

[2016-09-08 21:03] Priya91 commented on #3311
This feature is not specific to corefx, if required this should be implemented on [dotnet/buildtools](https://github.com/dotnet/buildtools) so it's reusable everywhere. @VSadov You could port the roslyn WorkItem attribute over to buildtools for reusing in corefx. Closing this issue.

[2016-09-08 21:03] #3311 closed

[2016-09-08 21:08] Priya91 commented on #5248
All of the Environment APIs are now available in dev/api branch, which are included in netstandard1.7.. ```Environment.SpecialFolder.UserProfile``` should be having the home directory.

[2016-09-08 21:11] #5248 closed

[2016-09-08 21:25] ianhays commented on #11087
It doesn't even compile for me:

```Could not locate compile assets for any of the frameworks .NETStandard,Version=v1.3	System.IO.Compression.Tests```

[2016-09-08 21:30] danmosemsft commented on #9688
My mistake. There are a number of members missing, or present but should be made implicitly implementations instead of explicit implementations:

[code]

[2016-09-08 21:33] karelz commented on #1127
It won't be part of corefx repo. It would be best to track it in Roslyn repo where the code lives today.
Discussed offline with @tmat, closing.

[2016-09-08 21:33] #1127 closed

[2016-09-08 21:34] ericstj commented on #11100
I happened to look at this today from another report.  /cc @ChadNedzlek

This looks like it might be due to missing security attributes on the out-of-band System.Net.Http.dll compared to the inbox System.Net.Http.dll.  Inbox version has AllowPartiallyTrustedCallers. So does the inbox System.Net.Http.WebRequest.dll.  This means everything is treated as SecurityTransparent unless annotated otherwise

[2016-09-08 21:42] AndrewKralovec opened #11541 "Post request failing on deploy"
I created a asp.net core application. When I run (`'dotnet run'`) it locally on my computer everything runs and returns fine. However, when I deployed it to my server  i had to use `dotnet run --server.urls=http://0.0.0.0:5000` so it would bind. Now all my post/get request show that they are not they are not connection. The console shows this error

[code]

Any idea how how to solve this issue. Hu

[2016-09-08 21:42] mellinoe commented on #11087
@ianhays  I see the same thing. I also now see an additional error after switching configurations a few times:

[code]

as well as
[code]
The first looks like a problem with running one of the tasks against full-MSBuild.

@karajas I think this might be more fallout from switching to pkgproj's for test references. Have you ever seen the above message? The project builds and tests fine from the comm

[2016-09-08 21:46] MitchellSternke opened #11542 "System.Data.SqlClient.SqlCredential class missing from corefx"
I realize this was already raised earlier this year: https://github.com/dotnet/corefx/issues/6948

However, it appears that SecureString has been added to corefx since that issue was closed. Would it be possible to have SqlCredential implemented and the corresponding SqlConnection/SqlConnectionStringBuilder functionality that relies upon it?

[2016-09-08 21:54] karajas commented on #11087
This message above is a result of the pkg proj conversion but the F5 from VS was still not working prior to this I believe. I think @Priya91 has had some experience debugging this, but a workaround is still using command line at the moment.

[2016-09-08 21:57] custarddog opened #11543 "Compat work for System.Drawing"
Mono has a small subset of System.Drawing (albeit not in an assembly named System.Drawing.dll) as does .NET Core. The list below are those types that Mono has and Core does not.

[code]

[2016-09-08 21:59] ianhays commented on #10487
What your code is saying is that you have a guid and want to convert it TO `typeof(Guid)`, so when you  pass a `string` as the value it understandably complains.

If you want to get a Guid from a string, you should use ConvertFrom: ```(Guid)(new GuidConverter().ConvertFrom(guidStr))```

[2016-09-08 21:59] #10487 closed

[2016-09-08 22:00] custarddog commented on #11543
Closing and reopening under correct identity :)

[2016-09-08 22:00] #11543 closed

[2016-09-08 22:03] danmosemsft opened #11545 "Compat work for System.Drawing"
Mono has a small subset of System.Drawing (albeit not in an assembly named System.Drawing.dll) as does .NET Core. The list below are those types that Mono has and Core does not.

[code]

[2016-09-08 22:18] danmosemsft opened #11548 "Compat work for System.Numerics"
Exactly one member is missing.
`
M:System.Numerics.BigInteger.CompareTo(System.Object)
`

[2016-09-08 22:26] joperezr opened #11549 "[dev/api] System.Security.Cryptography.Algorithms tests are failing due to a typeload exception on netcoreapp1.1."
cc: @weshaggard

After some initial investigation, looks like the issue is that System.Threading.Tasks is missing a type-forward to ConfiguredTaskAwaiter nested class. The assembly info now looks like:
[code]
and before, it used to look like this:
[code]

This is most likely an issue with GenFacades  and will require a buildtools update, so I'm disabling the tests from netcoreapp1.1 runs for now.

[2016-09-08 22:30] joperezr opened #11551 "[dev/api] Re-add cross compilation for uap10.1 for System.IO.IsolatedStorage"
cc: @JeremyKuhne @ericstj

IsolatedStorage was alredy being compiled for uap10.1, but that stopped working once we tried to update the package dependency versions. The reason is because not all of the dependencies of IsolatedStorage support uap10.1 yet, so for those the build was still using their netcore50 asset which is no longer compatible with some of the other dependencies that already suppor

[2016-09-09 00:30] SedarG opened #11554 "Targeting System.Runtime.Serialization.Primitives to uap10.1"

[2016-09-09 03:04] ashmind commented on #3419
@terrajobst I stand for the original proposal, but without the last overload as per @KrzysztofCwalina:
[code]

I think @Lukazoid's idea can be split into a separate ticket which can be decided on separately. Both approaches make sense, but for simple scenarios I definitely need a non-delegate approach, so delegate decision can be made after this one.

[2016-09-09 04:06] davidfowl commented on #11539
😄 I approve this message

[2016-09-09 04:24] stephentoub commented on #8809
@davidsh just pointed out to me that my example above had a silly typo in it (fixed) where I was outputting the wrong time; it would have potentially incorrectly pointed the finger at Dispose when in reality the problem could have been elsewhere.  However, after fixing my mistake, I just tried the repro again, and I'm no longer able to repro any perf problem, with either the release/1.0.0 bits or

[2016-09-09 04:31] benaadams opened #11555 "Proposal Max, Min for IComparable"
**Proposed Api**
[code]
**Questions**
* Not sure where it should live, currently there is Math.Min and Math,Max but that doesn't make sense if comparing two strings.
* Extension method?
* What assembly?

/cc @NickCraver @DamianEdwards @terrajobst

[2016-09-09 04:45] bartdesmet opened #11556 "Use TryEnsureSufficientExecutionStack in lambda compiler"
We implemented stack probing for the expression compiler (see https://github.com/dotnet/corefx/pull/11091) using `EnsureSufficientExecutionStack` but the `Try` variant was made public as part of https://github.com/dotnet/coreclr/pull/7077.

[2016-09-09 05:08] terrajobst commented on #11555
I'd say those should live on [Comparer<T>](https://apisof.net/catalog/System.Collections.Generic.Comparer%3CT%3E)

[2016-09-09 05:11] benaadams commented on #11555
But that is in `System.Collections.Generic` which also seems not the right place for a single value compare?

[2016-09-09 05:12] benaadams commented on #11555
Happy to go with it though :)

[2016-09-09 05:13] terrajobst commented on #11555
That's where comparer live because the assumpion was that comparisons are mostly done for sorting.

[2016-09-09 05:20] benaadams commented on #11555
Updated, suppose would have to be a static method then as can't have static (non-this) extension methods

[2016-09-09 05:25] #11415 closed

[2016-09-09 05:25] #11421 closed

[2016-09-09 10:36] NickCraver commented on #11555
Note this proposal already exists but didn't get much love: https://github.com/dotnet/corefx/issues/1583#issuecomment-219195181

I'd happy submit a PR but my understanding was: API review is a must first (makes sense), and no point in adding noise before that.

[2016-09-09 12:24] benaadams commented on #11555
Was hanging of `Math.`

Your suggestion on adding a new class of type `Compare` is interesting as it could be shipped in a different package with a much wider compat.

What would be the namespace for that type?

[2016-09-09 12:26] khellang commented on #11555
I think you can cut the `<T>` on the methods? You already have the `T` from the comparer, no?

[2016-09-09 12:34] benaadams commented on #11555
Yeahish; though that would make it more verbose... I'm liking @NickCraver's suggestion more something like:
[code]
So usage would be determined via argument rather than class argument e.g.
[code]

[2016-09-09 12:50] benaadams commented on #11555
Updated proposal; think it would be Net Standard 1.0 level? (.NET Framework 2.0)

[2016-09-09 12:51] benaadams commented on #11555
Question byref and ref returned result, how would that work, should it work?

[2016-09-09 12:56] nguerrera commented on #11555
IMHO, this only makes sense on Comparer<T> if it uses the comparer instance which would mean eliminating the IComparable constraint and having to use `Comparer<U>.Default.Max(u1, u2)` to route through IComparable. While more flexible (works with non default comparer), it's less discoverable and effectively drops the convenience of type inference (need to give Comparer an explicit T). And then ther

[2016-09-09 12:57] nguerrera commented on #11555
The new proposal addresses which came in while I neglected to refresh), addresses my concerns. :)

[2016-09-09 13:00] benaadams commented on #11555
Initially I saw it as a simple ternary operator implementation e.g.
[code]

[2016-09-09 13:11] nguerrera commented on #11555
One thing: the overloads that take a comparer should not constrain T.

[2016-09-09 13:17] nguerrera commented on #11555
Also, I believe the byref overloads would make this uncallable from VB.

[2016-09-09 17:13] joperezr commented on #9417
@bartonjs Looks like this won't be necessary anymore thanks to the package harvesting work that @ericstj made. So if you don't think otherwise, I'll just close this one.

[2016-09-09 17:16] bartonjs commented on #9417
There are times where it might still be required, but I agree they're the minority now.

[2016-09-09 17:16] #9417 closed

[2016-09-09 17:17] ianhays commented on #5406
closing this as a functional duplicate of #9842

[2016-09-09 17:17] #5406 closed

[2016-09-09 18:18] steveharter commented on #4813
To be clear, this work involves four areas:
1) S.S.C.Algorithms to contain portable API (private implementation taken from Cng and OpenSsl)
2) S.S.C.Cng for windows\Cng specific functionality
3) S.S.C.OpenSsl for linux\osx OpenSsl specific functionality
4) S.S.C.Csp to contain the Csp version (calls into Algorithms Cng)

[2016-09-09 18:30] karelz commented on #7861
@gafter should we move the issue to Roslyn repo?

[2016-09-09 18:43] ericeil commented on #7499
This is covered by other ongoing work.

[2016-09-09 18:43] #7499 closed

[2016-09-09 18:54] cston commented on #7861
@karelz, yes this looks like an EE bug. Please feel free to move to dotnet/roslyn.

[2016-09-09 18:54] RussellTaylor83 commented on #4813
Thank you all.

[2016-09-09 18:55] karelz commented on #11531
@terrajobst any idea how/where in VS to route it?

[2016-09-09 19:00] ericeil opened #11564 "Consider adding static Socket.Connect methods to support DNS endpoints"
See #8768 for background.

[2016-09-09 19:04] ericeil commented on #8768
I couldn't find an existing issue covering the need for static Connect methods, so I created #11564.  The existing instance methods are probably as good as they're going to get without either heroic effort or introcuding hard-to-grok behavior.  Either way, it doesn't seem worth the cost, unless we get a lot of feedback that a) the current situation is unacceptable, *and* b) adding more functional

[2016-09-09 19:05] ericeil commented on #9075
Moving to "future" as there doesn't seem to be much urgency to making this change.

[2016-09-09 19:12] brentschmaltz commented on #9996
@Tratcher can you point me to the repo code?

[2016-09-09 19:13] ianhays commented on #10054
This change was purposeful but I don't know much about the history of it. It was made in [this commit](https://github.com/dotnet/corefx/commit/42f9c2d4438ce9897c3d336ec52298afb4dc95fa) which says ```To make Console use the intended encoding in this scenario, the user will have to register CodePagesEncodingProvider or support codepage 0 in their custom provider.```

This issue is mostly a duplicate

[2016-09-09 19:15] bmanikm opened #11565 "X509Chain.ChainContext property is not available in dotnetcore."
X509Chain.ChainContext property is not available in dotnetcore.

We have some PInvoke code to check if the last element of the first simple chain contains a Microsoft root public key (CERT_CHAIN_POLICY_MICROSOFT_ROOT) using CertVerifyCertificateChainPolicy() CAPI.

How can we check whether a given X509Chain contains a Microsoft root public key in dotnetcore?
cc: @bartonjs

[2016-09-09 19:17] karelz commented on #7861
Moved to dotnet/roslyn#13714

[2016-09-09 19:17] #7861 closed

[2016-09-09 19:20] Priya91 opened #11566 "Track System.Collections.Specialized tests update to latest netstandard1.3 implementation once 1.1 ships"
related to #11544

[2016-09-09 19:24] karelz commented on #8948
@leecow any update on this? cc @terrajobst

[2016-09-09 19:35] #10397 closed

[2016-09-09 19:37] ianhays commented on #11342
resolved by @jamesqo in https://github.com/dotnet/coreclr/pull/7070

[2016-09-09 19:39] ianhays commented on #10873
resolved in https://github.com/dotnet/corefx/pull/11357

[2016-09-09 19:39] #10873 closed

[2016-09-09 19:40] jamesqo commented on #11342
@ianhays There are issues for some APIs which have been implemented but are still open, since they aren't yet exposed-- see [here](https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3Aapi-needs-exposed).

You may want to reopen the issue and label it with `api-needs-exposed`.

[2016-09-09 19:42] justinvp commented on #11342
Do we need an issue tracking making it virtual in the contract?

[2016-09-09 19:45] jamesqo commented on #11342
@justinvp IMO this issue should simply be reopened and tagged with the appropriate label, instead of creating a new one. Besides, I haven't yet submitted PRs for overriding the method in `BufferedStream` and `MemoryStream`.

[2016-09-09 19:46] ianhays commented on #11342
I was going to open a new one, but sure, we can use this one instead.

[2016-09-09 19:47] karelz commented on #6998
@Eilon recommended [`Microsoft.Extensions.Configuration`](https://github.com/aspnet/Configuration/) in the issue linked above.

[2016-09-09 19:47] #6998 closed

[2016-09-09 19:51] ianhays commented on #9812
@RehanSaeed did Steve answer your question or is there anything else you were curious about?

[2016-09-09 19:54] karelz commented on #6414
Feel free to submit PR. "up for grabs" is just a hint for people what might be easy to start with, it is not restriction on what anyone can pick up.

[2016-09-09 19:59] karelz commented on #6701
Changing the return type of the API would be a breaking change. Or do you have API proposal that would not be breaking?

[2016-09-09 20:10] karelz commented on #2869
@weshaggard is it still needed?

[2016-09-09 20:14] karelz commented on #6124
Closing, it does not look like there is anything left for corefx discussion. Work is tracked in Roslyn.

[2016-09-09 20:14] #6124 closed

[2016-09-09 20:17] stephentoub commented on #2869
I don't believe most of the above mentioned PRs/commits were ever brought back to master, but they were valid additions for approved new APIs.

[2016-09-09 20:23] joperezr commented on #11093
fixed via #11563

[2016-09-09 20:23] #11093 closed

[2016-09-09 20:24] joperezr commented on #11094
Fixed via #11563

[2016-09-09 20:24] #11094 closed

[2016-09-09 20:53] jamesqo opened #11568 "Cleanup/optimize Random, remove use of % operator"
Even formatted, the [source code for Random](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/System/Random.cs) is currently quite messy, and makes heavy use of the modulo operator by a non-power of 2 in the constructor. It looks like since what is being modulo'd is directly tied to a loop variable, we may be able to detect when it goes past 55, and if so just subtrac

[2016-09-09 21:01] ericeil opened #11570 "DriveInfo.DriveType reports "unknown" in Windows Subsystem for Linux"
Running on Ubuntu in Windows Subsystem for Linux, on rs_prerelease build 14915, DriveInfo.DriveType reports "Unknown" for both the Linux file system (`/`, `/usr`, etc.) and mounted Windows drives (`/mnt/c`, etc).  I would expect it to report "fixed" for at least the Linux file system, and preferably the mounted Windows drives as well.

The `df -T` command reports file system names for these, so ap

[2016-09-09 21:01] Tratcher commented on #9996
Repro sample branch: https://github.com/aspnet/IISIntegration/blob/tratcher/delegate/samples/DelegationSample/Startup.cs#L143

[2016-09-09 21:11] stephentoub opened #11571 "Investigate optimizing DeflateStream.CopyToAsync"
Currently it's not overridden and inherits the base implementation.  We may be able to improve on that to the point where it would be worth overriding, such as by avoiding repeatedly pinning and unpinning.

[2016-09-09 21:14] stephentoub opened #11572 "Investigate optimizing BufferedStream.CopyToAsync"
BufferedStream doesn't currently override CopyToAsync.  We should investigate doing so, as there may be opportunities for optimization.  For example, BufferedStream often contains a fairly large internal buffer, potentially larger than the one requested as an arg to CopyToAsync.  In that case, BufferedStream's internal buffer could be used instead of allocating a new one.

[2016-09-09 21:21] stephentoub opened #11573 "Investigate overriding NetworkStream.CopyToAsync"
NetworkStream doesn't override CopyToAsync, instead inheriting the base implementation that calls ReadAsync/WriteAsync in a loop.  Each ReadAsync operation in turn creates a task that wraps the internal Socket APM implementation of Receive.  Since a CopyToAsync will typically involve many receives, we should investigate overriding it to use SocketAsyncEventArgs, in order to avoid a bunch of the pe

[2016-09-09 21:43] stephentoub commented on #10054
I don't unfortunately.  @pallavit, could you shed some more light on this?

[2016-09-09 22:25] kouvel opened #11575 "Remove some threading ApiCompat baselines for uap101aot once they are implemented"
See changes to src/System.Runtime/src/ApiCompatBaseline.uap101aot.txt

[2016-09-09 22:32] adityamandaleeka commented on #10375
See https://github.com/dotnet/coreclr/issues/6283#issuecomment-246041964

[2016-09-09 22:36] BrennanConroy commented on #11195
We figured out what the issue was. We have a file being watched `configSettings.json` and use `File.WriteAllText(...)` to change it. The file watcher often triggers before the file has been fully written to and we were expecting the file to be finalized in our callbacks which causes issues.

[2016-09-09 22:45] #11554 closed

[2016-09-09 22:45] ianhays commented on #11195
Thanks for the update @BrennanConroy. So this is good to close now?

[2016-09-09 22:55] BrennanConroy commented on #11195
Should be

[2016-09-09 23:20] terrajobst commented on #8948
@aL3891

I'm in complete agreement that we've provide more details on the API additions. Personally, I'm not convinced that an announcment repo is the most effective way to communicate these broad aspects. I'd rather use our blog and encourage team members to blog more. Issues in particular are fairly terrible for communication.

[2016-09-10 00:25] joperezr commented on #10075
Fixed via #11478

[2016-09-10 00:25] #10075 closed

[2016-09-10 00:58] jamesqo opened #11578 "Consider adding something to the docs about /p:RestorePackages=false"
I just found out that you can pass in `/p:RestorePackages=false` to skip restoring packages while building a project. I don't know how I lived without this switch; previously I would wait on average about ~2m to re-build a project even for simple changes, like syntax errors. Now it takes about ~15s. We should really, really consider adding something about this to the markdown docs so less patient

[2016-09-10 01:09] jamesqo opened #11579 "Consider converting ValueTupleTests to use [Theory]"
Currently I'm trying to make some changes to the ValueTuple hashing algorithm. [This](https://github.com/dotnet/corefx/blob/master/src/System.ValueTuple/tests/ValueTupleTests.cs#L987-L996) is a huge pain since xUnit needs to stop execution on the first `Assert` failure, so then it does not tell me what the actual hashes for the other tuples were.

We should consider converting these tests to `[The

[2016-09-10 01:16] int19h opened #11580 "Expose MemberwiseClone on ValueType"
`MemberwiseClone ` is protected in `System.Object`, because it can easily break class invariants, and allowing it to be invoked from outside the class doesn't provide an avenue to enforce them.

For value types, however, that is not the case, because they can always be copied - for any value type `T`, and for any value of that type, this is valid C# code:
[code]

However, if all you have is a `Val

[2016-09-10 02:21] #11195 closed

[2016-09-10 03:31] victorhurdugaci commented on #11195
@ianhays I'm still curious, is that an expected behavior?

[2016-09-10 07:08] weshaggard commented on #2869
Agreed. We should get these merged into master and added directly to .NET Core similar to what @ericstj  is doing in https://github.com/dotnet/corefx/pull/11272.

[2016-09-10 11:00] svick commented on #11580
What is the use case for this?

[2016-09-10 11:28] int19h commented on #11580
Special-casing value types where the type cannot be obtained at compile time (via generic type parameters). Broadly speaking, this is anywhere you might need to work via Reflection, `dynamic` or other cases where you get a boxed value, but you want to special-case handling that box for value types to preserve their normal copy semantics when unboxed.

[2016-09-10 11:30] RehanSaeed commented on #9812
Yes thank you.

[2016-09-10 11:30] #9812 closed

[2016-09-10 14:10] stephentoub opened #11583 "TestKeyAgreeKeyEncryptionAlgorithm_RoundTrip failure in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/26/
[code]

[2016-09-10 14:12] stephentoub commented on #11579
For the specific example you linked to, how would you convert that to a [Theory]?  Each entry has a different number of arguments.  My expectation is that any such transformation would make the test harder to understand.

[2016-09-10 14:58] jamesqo commented on #11579
@stephentoub Whoops, you seem to be right; I had forgotten that the type of the tuple actually changes with every new parameter.

[2016-09-10 14:58] #11579 closed

[2016-09-10 15:31] #10547 closed

[2016-09-10 18:33] stephentoub opened #11584 "WindowsSearchPatternInvalid theory failing after Windows path changes"
[code]

[2016-09-10 19:19] mellinoe commented on #11578
IMO, we should just switch the default behavior to NOT restore packages (it's a waste of time in most workflows, and make it either an optional switch, or make it a manual process.

[2016-09-10 22:15] #11495 closed

[2016-09-10 22:48] jamesqo opened #11588 "Proposal: Generic overloads of Array.Copy"
## Background

There are a lot of static Array methods that have generic overloads. Take for example `Sort`, `BinarySearch`, etc. However, there are a couple of methods where a generic overload is missing, specifically `Clear`, `Copy`, and `Reverse`.

This hinders optimizations, since we cannot directly access the elements in the array from C#-- we either have to call `GetValue` and box it, or cal

[2016-09-10 22:57] jamesqo commented on #11588
@jkotas, @stephentoub, @justinvp, @terrajobst

[2016-09-11 00:06] bartdesmet opened #11590 "Expression.Quote rewriting in RuntimeOps.Quote does not preserve type"
Repro:
[code]
Output:
[code]
We'd expect the first case to print `System.Void` as well, but `RuntimeOps.Quote` rewrites the `Block` because it closes over a hoisted variable `x` and uses the `Block` factory overload that does not supply the original type of the block being quoted.

Receivers of a quoted node would not expect it to have changed typing. Modulo any captured variables, one would expec

[2016-09-11 00:27] gulbanana commented on #11155
What makes you think System.Collections.Immutable is part of the standard library?

I think it's the docs that are unclear here. Those two packages support netstandard-the-platform but are not in the "stdlib" defined by package NETStandard.Library, perhaps to keep its size down or simply because they are developed on a separate schedule.

[2016-09-11 00:29] justinvp commented on #11588
There's already an issue for `Array.Reverse<T>` (#2352) that's api-approved. Now that api-approved PRs are being merged, I'll submit a PR for it.

[2016-09-11 00:31] jamesqo commented on #11588
@justinvp Sounds awesome. I'll remove `Reverse` from this proposal then, which leaves just `Clear` and `Copy`.

[2016-09-11 00:34] gulbanana commented on #11429
linking issue #9039 as this one is addressing the same questions

[2016-09-11 01:34] jkotas commented on #11588
We have done experiments with the generic Copy and Clear methods implemented in C# in CoreRT. Compared with the low-level runtime implementation, it was slower and generated measurable code bloat.

[2016-09-11 02:01] jamesqo commented on #11588
@jkotas That's interesting. Was there a threshold at which you fell back to using the version implemented [in C++](https://github.com/dotnet/corert/blob/7dc07775b361e3021830319560071fc393f39fba/src/Native/Runtime/MiscHelpers.cpp#L513), or was the managed impl used for arrays of all sizes?

[2016-09-11 02:28] benaadams commented on #11588
I imagine the issue is the code will duplicate for every struct type of T its called with; whereas the C++ implementation is just one copy.

@justinvp talking of which, make sure you use ThrowHelper for `Array.Reverse<T>`  for that reason.

[2016-09-11 02:42] davidfowl commented on #10172
It would be a break in compat. There were a few APIs added in .netstandard 1.6 that shouldn't have been put in there. So it's a compromise since the APIs added definitely aren't in wide use. It was either that or make netstandard supper a future .NET Framework version making it useless for a while.

Cross compilation will never go away even with netstandard. You'll sometimes want to support multip

[2016-09-11 02:49] davidfowl commented on #9039
Unfortunately there's no silver bullet for this. The best we can do is try to make it more predictable. Some of the things tou mention just sound like bugs

[2016-09-11 02:55] jkotas commented on #11588
The managed impl was used for arrays of all sizes in the experiment. It is possible to save a bit in special cases. E.g. you can save multiplication and conditional branch if you know that the array `byte[]` - this saving is not much compared with cost of argument validation. And the pure C# implementation cannot do tricks like bulk write barrier that save a lot for large copies.

I guess it may b

[2016-09-11 07:22] tthiery commented on #11155
That was also my original thought. But there is a lot unclearity about it. For me .NET Platform Standard is the the `netstandard1.x`. And  the term .NET Standard Library used on many slides and docs seems to be the whole package including the "OOB" packages like Immutable collection (released in a bundle) or WCF (seems more real OOB).

@terrajobst seems to have it on his task list so I hope for a

[2016-09-11 10:42] gulbanana commented on #9039
Is it accurate to say that netstandard will be more for consuming than authoring (outside of Microsoft), and many libraries should be built for multi-TFM instead? (e.g. supporting and testing specific platforms)

[2016-09-11 12:05] stephentoub opened #11596 "Replace Contract.Requires with Debug.Assert"
We have over 600 occurrences of Contract.Requires in corefx right now.  We don't use the contract rewriter, which means we don't build with CONTRACTS_FULL, which means all of these Contract.Requires are nops, even in debug builds.  That's a lot of verification we're missing.  We should convert all of these to be Debug.Assert (with the exception of some in tests, which should be converted to use xu

[2016-09-11 12:08] stephentoub commented on #3185
Our approach here has changed since this was opened.  We now have the single HttpClientHandler, as well as the ability to specify platform-specific properties via a property bag.  Unless we get a significant number of platform-specific properties for Unix, it would be better to not introduce a new type just for those properties, so as to enable consumers to avoid forking their code.  Closing this

[2016-09-11 12:08] #3185 closed

[2016-09-11 12:11] stephentoub commented on #1198
Thanks to the efforts of multiple folks, this is now at ~84%.

[2016-09-11 13:07] stephentoub opened #11598 "Intermittent: CaseInsensitiveHashCodeProviderTests.Default_GetHashCodeCompare failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/dev_api/job/osx_debug_prtest/34/consoleText
[code]

[2016-09-11 13:15] #1914 closed

[2016-09-11 14:12] jamesqo commented on #11596
Interesting, I had assumed that Requires/Ensures were still reflected in debug builds so I skimped on changing them in mscorlib. Maybe there should be an issue opened in CoreCLR too?

[2016-09-11 14:17] jamesqo opened #11599 "Potential optimization: Using vectorization for Enumerable.Sum/Average"
Some thoughts:
- If the input is an array, e.g. `int[]` in the case of `Sum(IEnumerable<int>)`, we could use vectorization to compute the sum, and maybe avoid range checks.
- If the input is an `ICollection` but not an array, we could rent an array from `ArrayPool<int>.Shared` and then call `CopyTo` on this array, and then go ahead with using vectorization. This will undoubtedly be slower for smal

[2016-09-11 14:47] stephentoub commented on #11596
I would leave them in coreclr as-is for now.

[2016-09-11 15:06] benaadams commented on #11596
#11600 covers the `Contract.Requires` in non-test
Doesn't cover test to `Assert.` (there are some in the Immutable collections tests)
Doesn't cover `Contract.Ensures`

[2016-09-11 15:43] jamesqo commented on #11596
@stephentoub CONTRACTS_FULL is not defined in CoreCLR either, I believe. dotnet/coreclr#5454

[2016-09-11 16:15] svick opened #11601 "Type forwarding makes compiling agains runtime assemblies harder"
When compiling code using Roslyn as a library, it's fairly common to compile against framework runtime assemblies, since doing so is much easier than figuring out where reference assemblies are. For example:

[code]

If you need additional assemblies, you find some type from each assembly and use that. Specifically, using `dynamic` requires `Microsoft.CSharp` and `System.Dynamic.Runtime`, so you w

[2016-09-11 19:12] hughbe opened #11604 "System.Reflection.TypeExtensions.Tests has package restore errors on initial build"
## Steps (on clean repo with newly initalized buildtools etc.):

1) Navigate to `src/Sytem.Reflection.TypeExtensions/tests`
2) Run `msbuild /T:BuildAndTest`
## Fix

The errors seem to be as a result of System.Reflection.TypeExtensions.dll not being found (see log).
The errors go away if I do the following before my steps to reproduce:
1) Navigate to `src/Sytem.Reflection.TypeExtensions/src/redist`

[2016-09-11 19:14] tarekgh opened #11605 "Compat work for Calendars (for Linux)"
Add the implementation of the added .net standard 1.7 APIs to Linux

[2016-09-11 19:39] tarekgh opened #11606 "Compat work for CharUnuicode (for Linux)"
add the implementation of new added APIs

[2016-09-11 19:49] tarekgh opened #11608 "Compat work for collations/Sorting (for Linux)"
Add missing implementation for the newly added APIs in net standard 1.7

[2016-09-11 19:56] hughbe commented on #11604
I also need to run `msbuild` in the source directory

[2016-09-11 19:57] tarekgh opened #11609 "Compat work for Cultures (Globalization) (for Linux)"
Add missing implementation for the newly added APIs in net standard 1.7

[2016-09-11 20:05] bartdesmet commented on #11090
Is there any remaining work to be done to add this to reference assemblies? I checked yesterday and couldn't use the new API yet from System.Linq.Expressions for our StackGuard utility.

[2016-09-11 20:20] tarekgh opened #11611 "Compat work for DateTimeFormatInfo (for Linux)"
Add missing implementation for the newly added APIs in net standard 1.7

[2016-09-11 20:28] tarekgh opened #11612 "Compat work for NumberFormatInfo (for Linux)"
Add missing implementation for the newly added APIs in net standard 1.7

[2016-09-11 20:32] tarekgh opened #11613 "Compat work for RegionInfo (for Linux)"
Add missing implementation for the newly added APIs in net standard 1.7

[2016-09-11 20:36] tarekgh opened #11614 "Compat work for Sortversion (for Linux)"

[2016-09-11 20:39] jkotas commented on #11090
Yes, it needs to be exposed in reference assemblies and test added. I do not think there is a good way to do it in the master branch right now because of it would collide with the netstandard work done in dev-api. @weshaggard ?

[2016-09-11 20:44] tarekgh opened #11615 "Compat work for StringInfo class globalization APIs (for Linux)"
Add missing implementation for the newly added APIs in net standard 1.7

[2016-09-11 20:49] tarekgh opened #11616 "Compat work for TextInfo class (for Linux)"
Add missing implementation for the newly added APIs in net standard 1.7

[2016-09-11 20:57] tarekgh opened #11617 "Compat work for String class globalization APIs (for Linux)"
Add missing implementation for the newly added APIs in net standard 1.7

[2016-09-11 22:10] benaadams commented on #10854
`% buckets.Length` is tricky to remove as `buckets.Length` is always a prime number

[2016-09-11 22:27] jamesqo commented on #10854
For anyone interested, I asked a question on Programmers StackExchange about this and got a couple of answers: http://programmers.stackexchange.com/questions/330310/is-it-possible-to-implement-a-well-distributed-hash-table-without-using-the-op

[2016-09-11 23:01] stephentoub opened #11619 "Add string reason to all OuterLoop usage in tests"
Now that OuterLoopAttribute has a ctor that takes a string reason, we should update all OuterLoopAttribute usage to specify the reason the test was demoted to outer loop, e.g. makes network requests, mutates shared state on the machine, takes a long time to run, etc.  Some tests already have this in various forms, e.g. a comment next to the [OuterLoop] usage, but we should standardize on including

[2016-09-11 23:33] benaadams commented on #11596
Some of the Contracts usings and references removals are prevented by the `[Pure]` attribute. Is this still of value?

[2016-09-11 23:44] benaadams commented on #10854
Don't think you'll be able to change the number of buckets in Dictionary without both an analysis with the randomised string hashing function and a security review; there be dragons :dragon:

[2016-09-12 00:14] blowdart commented on #10854
What Ben said. We introduce a randomization into string hashing to prevent hashdos attacks in asp.net (and other sources of untrusted input). Using a cheaper hash is a security anathema - it would need careful examination because it carries a huge risk.

If you've not come across hashdos attacks before here's [the best explanation of a hashdos](http://www.anchor.com.au/blog/2012/12/how-to-explain-

[2016-09-12 00:21] tarekgh commented on #10062
https://github.com/dotnet/corefx/pull/11594

[2016-09-12 00:21] #10062 closed

[2016-09-12 00:21] tarekgh commented on #10063
https://github.com/dotnet/corefx/pull/11594

[2016-09-12 00:21] #10063 closed

[2016-09-12 00:21] tarekgh commented on #10065
https://github.com/dotnet/corefx/pull/11594

[2016-09-12 00:21] #10065 closed

[2016-09-12 00:22] tarekgh commented on #10695
Date and Time separator is now exposed on dev/api branch of corefx.

https://github.com/dotnet/corefx/pull/11594

[2016-09-12 00:22] #10695 closed

[2016-09-12 00:24] tarekgh commented on #11241
https://github.com/dotnet/corefx/pull/11594

[2016-09-12 00:24] #11241 closed

[2016-09-12 01:46] dotnet-mc-bot opened #11622 "Test failure on Ubuntu: System.IO.Tests.FileSystemWatcherTests/FileSystemWatcher_CreateManyConcurrentInstances"
Opened on behalf of @jiangzeng

The test `System.IO.Tests.FileSystemWatcherTests/FileSystemWatcher_CreateManyConcurrentInstances` has failed.

    System.OutOfMemoryException : Exception of type 'System.OutOfMemoryException' was thrown.

Stack Trace:

       at ExceptionExtensions.Unwrap(Exception ex)
    --- End of stack trace from previous location where exception was thrown ---
       at System

[2016-09-12 01:52] dotnet-mc-bot opened #11623 "Test failure: System.Net.Http.Functional.Tests.SchSendAuxRecordHttpTest/HttpClient_ClientUsesAuxRecord_Ok"
Opened on behalf of @jiangzeng

The test `System.Net.Http.Functional.Tests.SchSendAuxRecordHttpTest/HttpClient_ClientUsesAuxRecord_Ok` has failed.

[code]

Stack Trace:

[code]

Failing configurations:
- Windows.7.Amd64
  - AnyCPU-Release

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20160910.01/workItem/System.Net.Htt

[2016-09-12 02:01] dotnet-mc-bot opened #11624 "Test failure: System.Net.Security.Tests.ServerNoEncryptionTest/ServerNoEncryption_ClientNoEncryption_ConnectWithNoEncryption"
Opened on behalf of @jiangzeng

The test `System.Net.Security.Tests.ServerNoEncryptionTest/ServerNoEncryption_ClientNoEncryption_ConnectWithNoEncryption` has failed.

[code]

Stack Trace:

[code]

Failing configurations:
- OSX.1011.Amd64
  - AnyCPU-Release

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20160910.01/workI

[2016-09-12 03:03] jamesqo commented on #11588
@jkotas Awesome, that sounds like a good idea. I'll submit a pull request to CoreCLR for it when this gets marked as api-approved.

[2016-09-12 03:28] #11596 closed

[2016-09-12 04:12] gulbanana commented on #8130
oh dear. I'm glad this issue has been spotted, since it reminds me of a ton of code I've written that does stuff like "if (typeof(T) == expectedType)"..  is that a bug even on .net full?

[2016-09-12 07:21] GSPP commented on #10854
Well, hashdos protection is now there, is it not? The mod operator is not a hard obstacle to overcome when trying to cause collisions. All hash keys that I have ever seen in hash tables in .NET are quite easy to intentionally collide. So that's not much of a protection anyway.

[2016-09-12 07:33] benaadams commented on #10854
String doesn't use `String.GetHashCode` when added to a dictionary as key but uses `InternalMarvin32HashString`

[2016-09-12 07:43] PoppyPham commented on #2089
@jchannon How to kick (remove) user member out of a group in Novell LDAP.

[2016-09-12 14:10] fabiodiluca commented on #11100
ericstj is right, I have the same problem here. This is a critical issue on System.Net.Http 4.1.0 that should be repaired. I can't use this library with .net4.6.1 because it lacks consistency.

[2016-09-12 14:22] AtsushiKan commented on #8130
For Types, comparing it this way is fine – this is doc’d in MSDN and so much existing code depends on it, we’d be crazy to break it even if we wanted to.

For the other MemberInfo objects (methods, fields) – there’s no official promise that I know of but realistically, it’s hard to come up with a case where this doesn’t work in the desktop and there’s probably too much compat constraints to break

[2016-09-12 15:15] kouvel opened #11631 "Port some missing threading types/members (Timer, exceptions, sync objects, etc.)"
[code]

[2016-09-12 15:16] kouvel opened #11632 "Port some missing threading types/members (Thread, etc.)"
[code]

[2016-09-12 15:17] kouvel opened #11633 "Port some missing threading types/members (ThreadPool, etc.)"
[code]

[2016-09-12 15:18] kouvel opened #11634 "Port some missing threading types/members (ReaderWriterLock, etc.)"
[code]

[2016-09-12 15:20] kouvel opened #11635 "Port some missing threading types/members (ExecutionContext, etc.)"
[code]

[2016-09-12 15:21] kouvel opened #11636 "Port some missing threading types/members (SynchronizationContext wait, etc.)"
[code]

[2016-09-12 15:22] kouvel opened #11637 "Port some missing threading types/members (Overlapped, etc.)"
- [x] M:System.Threading.ThreadPool.BindHandle(System.IntPtr)
- [ ] M:System.Threading.ThreadPool.UnsafeQueueNativeOverlapped(System.Threading.NativeOverlapped*)
- [ ] T:System.Threading.Overlapped
- [ ] M:System.Threading.Overlapped.#ctor
- [ ] M:System.Threading.Overlapped.#ctor(System.Int32,System.Int32,System.Int32,System.IAsyncResult)
- [ ] M:System.Threading.Overlapped.#ctor(System.Int32,Sys

[2016-09-12 15:24] kouvel opened #11638 "Port some missing threading types/members (Thread abort/interrupt/suspend, etc.)"
[code]

[code]

[2016-09-12 15:40] pedro-ramirez-suarez opened #11639 "Load assemblies with nuget package dependencies"
I have been trying to dynamically load assemblies that have dependencies on nuget packages, of course the nuget packages have been restored and the proper dlls are present in the output folder.

I do this to load the assembly:
`var aName = AssemblyLoadContext.GetAssemblyName(file.FullName);`
`var library = Assembly.Load(aName);`
And then I load the types like this:
`types = library.GetTypes();`
Wh

[2016-09-12 16:37] bartonjs commented on #11565
@bmanikm The property was removed because it only makes sense on Windows and one of the focuses of .NET Core was cross-platform applicability.  You can't P/Invoke into CAPI on Linux, so what would you want your code (or this property) to do there?

Also, what's your situation where you're a C# application/library which needs something to chain to "a MS root"?  Would embedding the expected root cer

[2016-09-12 17:32] blowdart commented on #10854
What Ben said. Again. String hashcodes use a custom algorithm which isn't open.

[2016-09-12 18:17] dotnet-mc-bot opened #11643 "Test failure: System.Net.Security.Tests.ServerNoEncryptionTest/ServerNoEncryption_ClientNoEncryption_ConnectWithNoEncryption"
Opened on behalf of @karajas

The test `System.Net.Security.Tests.ServerNoEncryptionTest/ServerNoEncryption_ClientNoEncryption_ConnectWithNoEncryption` has failed.

    Assert.Throws() Failure
    Expected: typeof(System.Security.Authentication.AuthenticationException)
    Actual:   (No exception was thrown)

Stack Trace:

    --- End of stack trace from previous location where exception was throw

[2016-09-12 18:17] #11643 closed

[2016-09-12 18:24] bmanikm commented on #11565
@bartonjs We have a Windows specific feature to ensure that given X509Chain contains a Microsoft root cert. We need this functionality for Windows NanoServer. It is not possible to have a list of expected root certs as different teams in Microsoft release with different root certs and they can be changed too. Please advice how to achieve the expected functionality on Nano Server.

[2016-09-12 18:41] ericeil commented on #11623
@davidsh, this is yet another timeout in an HTTP test on Windows.  Do you want to fold this into #11345?

[2016-09-12 18:43] davidsh commented on #11623
How was this discovered?  We moved all the networking tests to [OuterLoop].  Is this an [OuterLoop] run?

[2016-09-12 18:43] bartonjs commented on #11565
Actually, it appears I'm mistaken.  We removed `ChainContext` because we were already exposing the newer `SafeHandle` property, which is the SafeHandle version of the IntPtr that ChainContext exposed.  So you should be able to still P/Invoke just fine by switching to the SafeHandle version.

[2016-09-12 19:02] GSPP commented on #10854
Is that not one more reason this is safe to do? String is safe under any indexing scheme. The security review argument is more plausible.

[2016-09-12 19:51] dluxfordhpf commented on #11100
This problem is a significant pain to deal with, and in particular makes using the Azure KeyVault client painful for my team.  The only painless alternative is to downgrade to .NET 4.5.2, which is not acceptable.

Also, the workaround listed previously is insufficient.  What we've found is you have to do the following this for it to work reliably:  disable dependency checking, downgrade System.Net

[2016-09-12 20:10] SamuelEnglard commented on #6398
@richardszalay the issue with asynchronous handling here is that once the app is here things could be really bad. While yes IO should be asynchronous I don't think it's worth the chance of abuse. If it's not a terminating issue just do the IO fire and forget style. Otherwise you should block.

[2016-09-12 20:20] benaadams commented on #10854
Removing the mod is for something faster that produces the exact same outcome is fine.

Changing the number of buckets from prime to powers of two or changing how the hashcode resolves to a bucket both alter the collision behaviour and would effect the collisions of string keys; so it would require analysis and security review.

Which due to the knock on work and cost, it would generate across tea

[2016-09-12 20:36] fabiodiluca commented on #11100
dluxfordhpf, thanks for your time explaining how you have worked this out. Redirecting to System.Net.Http 4.0 worked for me in .net4.6.1, But is still very hard to maintain (the nuget dependency). Looking forward the version that will fix this.

[2016-09-12 20:37] benaadams commented on #10854
I'm just highlighting changing it will be an uphill battle at night on sand-dunes in a hurricane; might be possible, but will be very hard. There are plenty of other areas that would benefit much more with the effort it would take.

[2016-09-12 20:40] ericeil commented on #11295
It does appear that we have the same issue in corefx.  `Socket.Send` does not guarantee that all bytes of the buffer are sent, even for blocking connection-oriented sockets.  This is because, unlike Windows, the BSD-based Sockets implementations don't make this guarantee.

We could perhaps work around this by wrapping our native `send` call in a loop, repeatedly sending until all bytes are sent.

[2016-09-12 20:56] ericeil commented on #11295
Never mind...we already have a loop around the `send` call.  I just missed it in my previous reading of the code.  So I don't think we have this bug in corefx.

[2016-09-12 20:56] #11295 closed

[2016-09-12 21:07] karajas commented on #10600
This error could not be pragma disabled, as it is an actual compile time error, this requires further restructuring of either the xunit dependencies or the System.Net.Internals namespace.

[2016-09-12 21:15] stephentoub commented on #11295
Thanks, Eric.

[2016-09-12 21:18] steveharter opened #11646 "Csp error strings missing error code parameter"
The System.Security.Cryptography.Csp project has resource strings (in Strings.resx) that are called with an error code parameter, but the string literal doesn't include the parameters identifier {0} thus any such error string won't work.

Verification against desktop clr strings should be performed, although at first look the error strings don't necessary align here. Sample case:
    DSACryptoServ

[2016-09-12 21:59] bmanikm commented on #11565
Thank you @bartonjs !

[2016-09-12 21:59] #11565 closed

[2016-09-12 22:16] danmosemsft opened #11647 "Port Uri parsing related members"
These seem to go reasonably together

[code]

[2016-09-12 22:22] danmosemsft commented on #10073
@weshaggard Wes if I understand right there is no particular urgency to this.

[2016-09-12 22:27] karelz commented on #11622
@ianhays looks like new failure on Ubuntu, can you please check it out?

[2016-09-12 22:28] karelz commented on #11623
Yes, it is outer loop run.

[2016-09-12 22:39] karelz commented on #11598
@Priya91 can you please take a look?

[2016-09-12 22:45] ericstj commented on #11100
Redirecting could cause problems if folks are using any of the new API added in System.Net.Http 4.1.0.

@ChadNedzlek had the same problem and was able to workaround it by passing in an HttpClient he created himself to the KeyVaultClient constructor.  If you don't use WebRequestHandler you'll avoid the problem.

EG:
[code]

@davidsh I think you need to put `AllowPartiallyTrustedCallers` back on Sys

[2016-09-12 22:48] #9428 closed

[2016-09-12 22:53] danmosemsft opened #11650 "Port missing ToString, CompareTo, and Clone"
These are the only ones not already tracked elsewhere or otherwise special.

[code]

[2016-09-12 23:06] karelz commented on #11599
We should get some data first -- How much it slows down small collections? Where is the breaking point? How much it can improve?

[2016-09-12 23:48] JeremyKuhne commented on #6191
Here is the final proposal (on `System.IO.Path`):

[code]