[2019-06-20 17:20] anurse commented on #38729
cc @ericstj

[2019-06-20 17:43] danmosemsft commented on #38608
[code]
vs
[code]
so what is "update-locale" ...

[2019-06-20 17:45] ericstj commented on #38729
We may want to look at anything in the WindowsDesktop pack as well to see if they are bundling any package that are missing a ref.

[2019-06-20 17:45] danmosemsft commented on #38608
`update-locale` is in `/usr/sbin/update-locale` and exists on both machines. If I run it on the "bad" machine it runs but does not seem to write `locale` though.

[2019-06-20 17:47] tarekgh commented on #38608
in my WSL, I m seeing

[code]

[2019-06-20 17:48] danmosemsft commented on #38608
That's interesting, you have a 3rd mode then.

Randomly trying relevant seeming commands:
[code]

[2019-06-20 17:49] tarekgh commented on #38608
just wondering, did you install ICU in your WSL?

[2019-06-20 17:49] CoffeeFlux commented on #38483
Ah okay, I guess I was looking at Framework documentation by accident, my bad. That should work well for Unix users, though it seems inconsistent on whether Arguments or ArgumentList takes priority depending on platform with the reverse of what I'd actually expect; Windows seems to prefer ArgumentList while Unix prefers Arguments. https://github.com/dotnet/corefx/blob/41f0787f93d6c51baf3cd90b39b6e

[2019-06-20 17:50] danmosemsft commented on #38608
Yes
[code]

[2019-06-20 17:54] ramirez44 commented on #38495
@joperezr Any suggestions for me after looking at the binlog?

[2019-06-20 17:54] Anipik commented on #38528
The issue with the lists and arrays is tracked by https://github.com/dotnet/corefx/issues/38435 so closing this one.

[2019-06-20 17:54] #38528 closed

[2019-06-20 17:54] tarekgh commented on #38608
interesting, could you double check which Ubuntu version you are using? I am just trying to understand what is the difference.

[code]

[2019-06-20 17:59] ViktorHofer commented on #38677
Yes, that's the community ask. My PR enables rules repo wide. Additional rules would be great to be enabled by the community. I'll add a list in the top post when my PR is in.

[2019-06-20 18:03] steveharter commented on #38713
Current functionality treats any `object` parameter as `JsonElement` when deserializing. The reason is that we don't know what CLR type to create, and decided as part of the design that the deserializer shouldn't "guess".

For example, a JSON string could be a DateTime but the deserializer doesn't attempt to inspect. For a "True" or "False" in JSON that is fairly unambiguous to deserialize to a Bo

[2019-06-20 18:05] davidsh commented on #38564
That is probably an acceptable workaround.

[2019-06-20 18:07] j-hicks opened #38733 "SqlConnectionStringBuilder dictionary error from multiple threads"
When access from multiple threads, the SqlConnectionStringBuilder class now throws the following error:

A change to the dictionary class was implemented a year ago that raises this error (see [issue 31186](https://github.com/dotnet/corefx/issues/31186)).

In my case, the SqlConnectionStringBuilder is created statically from configuration values, but the first connection string request may not be

[2019-06-20 18:14] Gnbrkm41 commented on #38677
Right. Thanks! I'd give it a go after the PR goes in (would be great if you could write some simple guidance as well 😛 )

[2019-06-20 18:23] davidsh commented on #34697
Thanks for the design ideas! Generally speaking, it sounds like a nice simple design that could support this scenario. In terms of it being "accepted" in CoreFx, there are two parts to it. One is an API review if a new type (i.e. S4UCredentials) is being introduced. That would need to go through our API review [process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-re

[2019-06-20 18:24] bartonjs opened #38734 "SocketsHttpHandlerTest_Http2 PostAsyncExpect100Continue_LateForbiddenResponse_Ok CI Failure"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38728~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190620.20/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2~2FPostAsyncExpect100Continue_LateForbiddenResponse_Ok

[code]

Failures on
* Ubuntu.1604.Amd64.Open-x64-Debug
* Debian.9.Amd64.Open-x64-Debug

[2019-06-20 18:24] vcsjones commented on #33278
Hm. One thing that makes this interesting is insignificant zeros. For example, these parameters work fine with OpenSSL:

[code]

However when exported again, the insignificant zeros are not included. So if we do a import / export / test in Windows and compare byte-for-byte, we end up with a scenario where Windows does not tolerate insignificant zeros, but OpenSSL does, and the behavior remains inc

[2019-06-20 18:25] #38402 closed

[2019-06-20 18:26] vixisoft opened #38735 "ExcludeFromCodeCoverageAttribute should have Justification property"
Hi,

I've wrote an issues on https://github.com/dotnet/standard/issues/1242 and I was tell to write it here!

I dont know if i need to write it back here, so tell me if it's required but everything is in the other issues!

[2019-06-20 18:27] davidsh commented on #38734
@wfurt @scalablecory @krwq

[2019-06-20 18:41] buyaa-n commented on #38490
@ahsonkhan I was not able to find simpler repro test. The core cause of this issue is similar to https://github.com/dotnet/corefx/issues/38414 except in this case its `iBackward` index is out of bounds here: https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/src/System/Text/Json/Serialization/JsonClassInfo.cs#L236 . If we avoid that with additional check `iBackward < count` we will

[2019-06-20 18:42] maryamariyan opened #38737 "[OLEDB] Text file created in US locale not readable on others as delimited file"
Found this issue while running OLEDB outerloop tests on the CI machines with Spanish locale. (Initially reported in PR https://github.com/dotnet/corefx/pull/38024)

The failure seems to be in Spanish SKU of Windows: where a text file created in US locale cannot be read on other computers as a delimited file. (For more info check [here](https://support.microsoft.com/en-us/help/173828/access-step-by

[2019-06-20 19:06] JeremyKuhne commented on #37695
Failed again:

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38702~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190620.23/workItem/System.Data.SqlClient.Tests/analysis/xunit/System.Data.SqlClient.Tests.SqlConnectionBasicTests~2FIntegratedAuthConnectionTest

[2019-06-20 19:14] NinoFloris opened #38738 "CancellationTokenSource is hard to use correctly"
`CancellationTokenSource` is hard to use correctly, especially in concurrent scenarios.

Most CancellationTokenSource methods are booby-trapped with `ThrowIfDisposed`, especially tricky with `.Token` and `.Cancel()`. As for both cases there's something to say for silently returning a None token or not Cancelling, but also something to say for being explicit about it and throwing if it happens.

Th

[2019-06-20 19:17] layomia commented on #38717
As @Gnbrkm41 pointed out, this issue is not reproducible in the current build, so I'm closing this for now.
@radek7210 , please feel free to re-open if you sync to the latest build and still get this issue - https://github.com/dotnet/core-sdk#installers-and-binaries.

[2019-06-20 19:17] #38717 closed

[2019-06-20 19:17] joperezr commented on #38729
From the ASPNETCore ref pack, I can see that System.Threading.Channels has the same problem.

[2019-06-20 19:29] bartonjs commented on #33278
Yeah, `X.Slice(X.Length - exportedX.Length).SequenceEqual(exportedX)` seems like a reasonable comparison.

[2019-06-20 19:35] maryamariyan commented on #38737
[code]

I tweaked one of the failing tests locally to just run the test with spanish locale, and I still get the test pass successfully for myself locally meanwhile the same tests was failing on the CI with following message:

[code]
[code]

[code]

Was hoping I could get a local repro this way.

[2019-06-20 19:37] MuhammadAliYousaf commented on #38716
Thanks,
Following is code which I am using, its working perfectly on MacOS but on linux when I get Certificate from the store, it does not has private key. Please let me know where I am doing mistake.

`try
            {
                string subjectName = "MyCertificate";

                X509Certificate2 certificate = null;

                using (var ecdsa = ECDsa.Create("ECDsa"))

[2019-06-20 19:37] bartonjs commented on #33278
(Er, and that any remaining bytes of X were zero)

[2019-06-20 19:54] scalablecory commented on #38738
Would you say there's an underlying difficulty with tracking the lifetime of a `CancellationTokenSource`?

Can you give some sample code where this would be useful?

[2019-06-20 20:00] Clockwork-Muse commented on #38738
...it sounds like you're disposing of your CTS too early (and possibly from multiple places).

You don't need a lock, but you do need a way to communicate that you're done with your CTS.  Often, this can be managed just by verifying that all other tasks with a direct reference to it or its token have completed (with or without error).
Things get trickier if something you call creates merged CTSs,

[2019-06-20 20:00] bartonjs commented on #38716
Oh, you're hitting https://github.com/dotnet/corefx/issues/31746.

It looks like this is an OpenSSL bug that has since been fixed.  Running substantially the same code as you put here, I get success when OpenSSL 1.1. generates the PFX, and no private key found when OpenSSL 1.0 generates it:

[code]

[2019-06-20 20:12] tarekgh commented on #38737
@maryamariyan could you try move the lines

[code]

inside the RunTest passed delegate?

[2019-06-20 20:15] danmosemsft commented on #38608
[code]

[2019-06-20 20:18] joperezr commented on #38671
Can you provide a build binlog of your project? This will not contain the code you are writing, but only the information about the build itself. That way we might be able to repro the issue you are seeing. in order to generate a binlog, run the following in a development command prompt: `msbuild yourProject.csproj /t:rebuild /bl:msbuild.binlog` which would generate a msbuild.binlog file in the cur

[2019-06-20 20:20] #33944 closed

[2019-06-20 20:26] NinoFloris commented on #38738
@scalablecory Exactly :)

@Clockwork-Muse yes during our app startup this might happen because of many different reasons and can come from any request thread while the success path is still running. Aspnet Core has similar troubles with their CTS lifetime managment for RequestAborted and has had multiple patches for it. Locking the object would merely be an atomic signal for the other code that it

[2019-06-20 20:29] mconnew commented on #34697
It seems like a simpler solution with no API changes may be possible. I'm going to summarize my understanding in case I've got something wrong. When you use SocketsHttpHandler under an impersonated identity, it fails to do the DNS lookup as the current identity is preventing it somehow (which seems odd as DNS is unauthenticated, but apparently the same happens on .NET Framework so I'm just going t

[2019-06-20 20:31] agjini commented on #33115
Hi.
We just tried to switch our micro services to DotNet core 3 preview 6 and we are unable to deserialize our immutable reference types : class with immutable properties (no setters) and only one constructor to set all properties. Json.net correctly handle these classes.
Is this an issue of the need System.Text.Json API or is this a plan to support it ?
Thanks for your responses

[2019-06-20 20:33] davidsh commented on #34697
It's possible the DNS problem is due to this issue on .NET Core #38646

[2019-06-20 20:38] joperezr commented on #38495
mm from what I can tell in the binlog, the binding redirects where correctly added to your config file. Did you try opening the file `obj\Debug\OrderSync.exe.config`?  Is there a System.Net.Http binding redirect there forcing version 4.2.0? If so, can you still repro the problem you were having originally? I would expect that when running this app, every assembly that wants a different version of

[2019-06-20 20:44] danmosemsft commented on #38608
Installed 18.04 WSL (it's side by side) on the "good" machine and it has `C.UTF-8` whereas 16.04 on this machine was `en-US.UTF8`.
[code]
So it appears that the difference is the version of Ubuntu. And also that if you don't install an explicit version, just installing "Ubuntu" from the store can give either.

[2019-06-20 20:54] bartonjs commented on #31746
Some good news: This does look to be an OpenSSL bug that is fixed in the 1.1 line.  On current builds of .NET Core 2.x OpenSSL 1.1.x can be preferentially loaded via setting the environment variable `CLR_OPENSSL_VERSION_OVERRIDE` to `1.1` (assuming you have libssl.so.1.1/libcrypto.so.1.1 in your library path)

[2019-06-20 21:05] krwq commented on #38734
@tmds I believe this might be related to the recent changes in System.Net.Socket.

I got consistent repro when I'm on latest and no repro when I revert your recent change alone:
https://github.com/dotnet/corefx/commit/3fac6ad5bc4576eb2216ccb24fbed2bf173d41f4

I'm not familiar with that code, any chance you could chime in to help determine if this is something we might be doing wrong in Http2 which

[2019-06-20 21:10] wfurt commented on #38734
good to know @krwq . PostAsyncExpect100Continue_LateForbiddenResponse_Ok is test I wrote recently and it is possible that the socket change simply uncovered something.

[2019-06-20 21:16] bartonjs commented on #35956
[OPENSSL_cleanup](https://www.openssl.org/docs/man1.1.1/man3/OPENSSL_cleanup.html) is called automatically by [atexit](http://man7.org/linux/man-pages/man3/atexit.3.html); and we don't call it from our shim.  I'd say we could make our `CryptoNative_ErrErrorStringN` just return NULL (without hitting the dead lock) in this case, but I don't see a good way to detect it.

So, I'm not sure what state w

[2019-06-20 21:42] khellang commented on #33115
@agjini See https://github.com/dotnet/corefx/issues/38569

[2019-06-20 22:00] maryamariyan commented on #38737
I moved the assertions also inside RunTest and also around the ExecuteNonQuery call shown in the above call stack. It didn't seem to produce a repro.

cc: @saurabh500

[2019-06-20 22:03] janvorli commented on #35956
No, we have stopped doing that as we had so many issues in the past attempting to do a controlled shutdown. The current state is that we leave all threads and managed code running until the OS shuts down everything.
So it seems that doing a OPENSSL_cleanup in atexit is potentially dangerous and can result in the issue we are seeing.

[2019-06-20 22:06] saurabh500 commented on #38737
@maryamariyan The changes you made above for a repro, only changes the locale for C# test `DeriveParameters_NullConnection_Throws` right ?
The error I believe should recur in case the Locale of the OS is changed to spanish. This error is coming from the OleDb layer which is simply being surfaced from OleDb provider.
Hence the OleDb driver would have to operate in the spanish locale.

[2019-06-20 22:06] saurabh500 commented on #38737
Did you change the locale of the OS as well ?

[2019-06-20 22:16] agjini commented on #33115
Thanks @khellang.
Support is planned indeed but not for the 3.0 release.
It seems to be possible to continue using Json.net with DotNet core 3 but I don't know how to do it (adding package reference is not enough). Is there a way to do that?

[2019-06-20 22:35] maryamariyan commented on #38737
I changed the region locale to (Spanish - Spain). I'll see if there's more settings I need to change to get this repro.

[2019-06-20 22:47] JeremyKuhne commented on #38734
Another hit:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38740~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190620.43/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2~2FPostAsyncExpect100Continue_LateForbiddenResponse_Ok

[2019-06-20 22:53] wpbrown commented on #34697
@mconnew So the problem with that approach is that this goes beyond the DNS resolution. The reason this is complicated even in NETFX is it's a core Windows OS issue.  In the case of S4U2Self impersonation (aka Constrained Delegation Any Protocol in AD DS UI speak), if the calling process does not have SeTcbPrivilege\*, then LogonUser API will give you a thread impersonation token with SECURITY_IMP

[2019-06-20 22:54] krwq commented on #38734
@tmds https://github.com/dotnet/corefx/commit/3fac6ad5bc4576eb2216ccb24fbed2bf173d41f4#diff-eee4543f13c4d6b0c1bd8bdb53281f7aR1875

I noticed we override this assignment 3 lines later - this seems like an issue in the code (might be unrelated to this issue)

[2019-06-20 22:59] sujayvsarma commented on #38726
That explains the organization.

Probably a whole another question, but doesn't type-forwarding (and heavily as in the case of internal .net) kind of slam on some brakes in terms of performance? Am thinking about context changes across assemblies etc.

[2019-06-20 23:56] davidfowl commented on #33115
@agjini :

[code]

[2019-06-20 23:58] mconnew commented on #34697
@wpbrown, I understand now and agree about not trying to make SocketsHttpHandler work in the face of a "hostile" identity. But I do have another suggestion for you. As this won't be going into .NET Core 3.0 but would have to wait until 3.1, there is an open issue (#36896) delayed until 3.1 which I expect will get done due to a dependency in ASP.NET Core which could enable an alternative solution.

[2019-06-21 00:33] buyaa-n commented on #38435
{
    public short MyInt16 { get; set; }
    public int MyInt32 { get; set; }
    public long MyInt64 { get; set; }
    ...
    public SampleStruct MySampleStruct { get; set; }
    public SimpleTestClass MySampleTestClass { get; set; }
    ...
}
I don't see a collection here 🤷‍♂

@JamesNK with 3 dots (...) I meant there is more properties exist, it is a big class didn't wanted to paste all as peop

[2019-06-21 00:55] buyaa-n commented on #38490
@ahsonkhan i was not able to simplify much, so at least attaching the test class

[2019-06-21 01:18] JamesNK commented on #38435
Sure, no problem. I didn't notice the file link.

[2019-06-21 01:20] JamesNK commented on #38435
I agree that Newtonsoft is the odd one out. Replacing the original object makes more sense to do by default.

In the future if you want to extend behavior to support appending then you can add it as a setting.

[2019-06-21 01:56] ahsonkhan commented on #38435
On de-serializing, if there is no property setter, why not just ignore the property all together (don't throw, don't clear, don't mutate), for all properties, which would include collections.

[2019-06-21 02:28] wizofaus commented on #35977
Well then can we request that `HttpMessageHandler.SendAsync( )` is made public so it can be more easily replaced by a mock?

[2019-06-21 02:51] Rabbit021 opened #38745 "My Service throw an this exception sometimes. I do not find any solution to solve it. anybody can help me！"
info: Microsoft.AspNetCore.Server.Kestrel[20]
      Connection id "0HLNFSN1JBVNR" request processing ended abnormally.
System.IO.FileNotFoundException: Could not find file 'Microsoft.AspNetCore.Server.Kestrel.Core.resources'.
   at System.Reflection.RuntimeAssembly.InternalGetSatelliteAssembly(String name, CultureInfo culture, Version version, Boolean throwOnFileNotFound, StackCrawlMark& stackMark

[2019-06-21 02:58] Nukepayload2 commented on #31181
I've tried `.NET Core 3.0 Preview 6` with the new VB WPF template. The lack of `MsgBox` makes me uncomfortable. Because the use of `MessageBox.Show` is tedious. If I want to popup an `Information` dialog with `MessageBox.Show`, I have to pass useless parameters `caption` and `button` too. If the dialog needs to be `TopMost` (`vbSystemModal`), it requires more redundant parameters : `caption As Str

[2019-06-21 02:58] #37709 closed

[2019-06-21 03:16] Clockwork-Muse commented on #38745
Unfortunately, this is (probably) the wrong repo.  You _might_ have more luck on [AspNetCore](https://github.com/aspnet/AspNetCore) or StackOverflow, but you need to provide way more details.
For one thing, the exception is pretty clearly stating `FileNotFoundException` - have you verified that the listed file exists?

[2019-06-21 03:52] anhuisunfei commented on #36836
@chuanjiao10  How did you fix this problem?

[2019-06-21 04:01] chuanjiao10 commented on #36836
Did not solve

[2019-06-21 04:07] #38734 closed

[2019-06-21 04:36] danmosemsft commented on #38726
Do you have evidence that Typeforwarding is impacting the perf of your app? We generally work on the assumption that it is not significant.

[2019-06-21 04:39] radek7210 commented on #38713
sounds good, I'll use the custom converter. Thanks.

[2019-06-21 05:03] sujayvsarma commented on #38726
Impact depends on what you call "significant" and what type of app you're writing. With TF, there is a [whole lot of messing](https://blogs.msdn.microsoft.com/davbr/2009/09/30/type-forwarding/) going around. Think of a scenario where like in SharePoint, you have types cached up in a database table and they are loaded at run time. How .NET works impacts all of those applications. Given that you guy

[2019-06-21 06:15] sandersaares commented on #38738
Can you outline some specific code patterns that cause the issue? I encountered the quirks of CTS behavior under concurrent load and the techniques I applied to overcome it did not require any try-catching nor would they benefit from "default to CT.None after Dispose" style behavior. Therefore, I wonder what is different in our approaches to solve it. As @Clockwork-Muse suggested, it might be that

[2019-06-21 06:49] surbhigarg92 opened #38748 "XSD Validation Errors- Missing details on xsd schema error code"
When trying to validate XML against XSD in .net core 2.2 , we are unable to get the exact schema validation error . The validation error only give details on the name of XML element which has failed the validation , not on which XSD schema validation is failed.

Below error is thrown by .net xml parser

Same validation if we run in Java below error is thrown.

There is no way to get cvc exception

[2019-06-21 07:11] agjini commented on #33115
Thanks for your help guys.
It works !
I've missed the migration guide where all is explained :

https://docs.microsoft.com/fr-fr/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio

[2019-06-21 07:41] krwq opened #38750 "Investigate bogus assignment in System.Net.Sockets"
Something I noticed investigating other issue, in one of the recent [PR](https://github.com/dotnet/corefx/pull/37486) there is an assignment which gets always overridden. Either assignment should be removed or we should return after it.

https://github.com/dotnet/corefx/commit/3fac6ad5bc4576eb2216ccb24fbed2bf173d41f4#diff-eee4543f13c4d6b0c1bd8bdb53281f7aR1875

cc: @tmds

[2019-06-21 08:10] MuhammadAliYousaf commented on #38716
That is great, it's working.
Now can you please tell me that where certificates are stored, when I add them in X509Store. Like in MacOS they become visible in Keychain, on Ubuntu where they stored?

[2019-06-21 08:30] kofifus commented on #33115
IMO json.net is half baked and making it the default (ie for signalr) which breaks existing code was premature.

[2019-06-21 08:54] AriNuer opened #38751 "Test failure: System.Drawing.Common.Tests/MonoTests.System.Drawing.Imaging.BmpCodecTest/Bitmap24bitData"
Test `MonoTests.System.Drawing.Imaging.BmpCodecTest/Bitmap24bitData` has failed.

Message :
[code]

Stack Trace :
[code]

Build: -[20190620.62](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190620.62)(Master)

Failing configurations:

- Ubuntu.1604.Arm64.Open-arm64-Release

Details:
https://mc.dot.net/#/user/dotnet-bot/pr

[2019-06-21 08:59] John0King commented on #38713
@steveharter  Json and Javascript don't have many type, but `boolean` is known one.
`System.Text.Json` should map json known'd type to clr type directly without custom converter

json | clr
|---|----|
boolean| bool
number| double
string | string
null  | null
~~undefined~~| null

[2019-06-21 09:00] mrpmorris commented on #38435
I need it to be able to deserialize properties with private setters, as long as it can do that I don't mind, but this bug won't deserialize a public property with public setter if it's an array.

[2019-06-21 09:19] Kralizek commented on #33115
On the other hand, migrating from .NET Core 2.2 to 3.0 is a major version upgrade and even if the .NET Core team isn't strictly following semantic versioning, I would expect things to break while upgrading from one version to another without explicit changes (like adding explicitly Newtonsoft's library in the pipeline)

[2019-06-21 12:01] InternetLogic commented on #32639
I'm a little confused as to whether the initial issue is fixed or won't fix?
We are experiencing the following behaviour which departs from .net4 behaviour in both netcore2.x and netcore3:
Calling SignedCMS.CheckSignature on a perfectly valid signature throws an exception for the following algorithms:
SHA256RSA (OID "1.2.840.113549.1.1.11")
SHA384RSA (OID: "1.2.840.113549.1.1.12")
SHA512RSA (OID:

[2019-06-21 12:05] MuhammadAliYousaf commented on #38716
On Linux, Certificates are stores in the following directory,
~/.dotnet/corefx/cryptography/x509stores/my

But we want to make them secure, passphrase is not enough. Is there any other way of securing? I mean on windows we have CNG, keychain on MacOS, how we can secure them on Linux?
Does linux OS provides any similar feature to secure certificates?
We mainly want to secure private keys. As you kn

[2019-06-21 12:11] vcsjones commented on #32639
@internetlogic

Should be fixed. Can you confirm you are using the latest stable version of the S.S.C.Pkcs NuGet package (4.5.2)?

Can you provide a signed CMS that reproduces the behavior?

[2019-06-21 12:36] Symbai commented on #37764
I'm closing this as it no longer happens in Preview 7.

[2019-06-21 12:36] #37764 closed

[2019-06-21 12:44] InternetLogic commented on #32639
DohI New to .NET Core and I'm using CLR! I'll raise it there

[2019-06-21 12:51] InternetLogic commented on #32639
Wasn't it fixed as of 2.1.7? In which case shouldn't it be present in the current installable framework?

[2019-06-21 13:03] vcsjones commented on #32639
The `S.S.C.Pkcs` package is a bit weird. As far as I understand, it is not an in-the-box component for `Sdk="Microsoft.NET.Sdk"` projects. You need to add a nuget package. If you are using ASP.NET Core, it's an in-the-box component.  Earlier up in the discussion:

https://github.com/dotnet/corefx/issues/32639#issuecomment-427430981

It would still be helpful to make sure you are on the right versi

[2019-06-21 13:13] davidsh commented on #38750
@stephentoub

[2019-06-21 13:15] NinoFloris commented on #38738
`CTS.Token` is fine if you read it directly and store it before handing out the CTS to any other threads that could dispose the CTS. `CTS.Cancel` however cannot make use of that same technique and is absolutely terrible for the reasons I outlined.

Again I'm not sure why my skills are immediately and repeatedly questioned, yet you can all find yourselves in the issues outlined. That our solutions

[2019-06-21 13:50] bartonjs commented on #38716
No(t that we're aware of), or we'd already be using it.  Neither Linux nor OpenSSL has a concept that's really the same as Keychain or CNG KSPs.

If what you're really after is just private key storage, in .NET Core 3.0 you can import and export keys into PKCS#8 or Encrypted PKCS#8.  e.g. `ecdsa.ExportEncryptedPkcs8PrivateKey(passphrase, encryptionOptions)` and `ecdsa.ImportEncryptedPkcs8PrivateKe

[2019-06-21 13:50] #38716 closed

[2019-06-21 14:10] vcsjones commented on #33278
For the sake of completeness, if your D, QY and QX _all_ have leading zeros, you can import them still with OpenSSL (haven't checked Windows, yet). e.g. these work:

[code]

These are 31-byte values for a p256 curve.

So it's possible that the strings imported are _smaller_ than the ones that get exported.

[2019-06-21 14:46] vcsjones commented on #33278
Heh, well, macOS will not import 31-byte points for p256, nor will it tolerate "zero padded" values. It is pickier.

[2019-06-21 14:51] sharwell commented on #38738
@NinoFloris keep in mind that an undisposed `CancellationTokenSource` will only leak resources if it was created with `CreateLinkedTokenSource` (this is not a guarantee of the API, but it holds in the current implementations). If you are having trouble with a particular CTS and it was not created in this manner, you can mitigate the problems in the short term by not disposing of it.

At a broader

[2019-06-21 14:57] bartonjs commented on #33278
The most consistent behavior, then, would be to determine the correct parameter size post-import and reject it if it was non-canonical.  (Alternatively, on macOS create a new key using the the curve identifier, memoize the resulting size (okay, yeah, currently there's only the 3 so they could be hard coded), and fix up the parameters to be canonical.)

[2019-06-21 15:01] NinoFloris commented on #38738
@sharwell thanks for that link! afaik and that's how David Fowler is preaching it if CTS's are timer based it should also be disposed to remove pressure on the timer queue.

[2019-06-21 15:28] steveharter commented on #38713
@John0King I provided the rationale previously. Automatically mapping number to double won't work for large decimals.

What are the scenarios for using system.object instead of the strong type (double, string, bool)?

[2019-06-21 15:35] tarekgh commented on #36836
It is not a problem. it is by design we use the underlying OS for the globalization data. please look at previous comment https://github.com/dotnet/corefx/issues/36836#issuecomment-483020242

You still can override the setting of any culture by overwriting the properties of CultureInfo.DateTimeFormat object.

[2019-06-21 15:44] tannergooding commented on #38206
As far as I can tell, we have followed the existing guidelines which is to update the third-party notices files in the same PR that takes on a new third-party dependency.

I checked both the history of the TPN file and did some grepping over the codebase to see if there were any comments about code being ported from third-party sources.

[2019-06-21 15:44] #38206 closed

[2019-06-21 15:46] danmosemsft commented on #38206
thanks @tannergooding

[2019-06-21 16:03] #38729 closed

[2019-06-21 16:05] joperezr commented on #33115
Closing given this is an announcement and not an issue

[2019-06-21 16:05] #33115 closed

[2019-06-21 16:09] joperezr commented on #32099
I see. @JeremyKuhne do you plan on working on this? If not and this is not critical, we can move this to Future.

[2019-06-21 16:31] davidsh commented on #38559
@Tratcher @JamesNK Can you summarize where we are on this issue? What do we need to do for .NET Core 3.0 release? Is this now a documentation issue? Or do we need to change product code/behavior?

[2019-06-21 16:33] davidsh commented on #38630
cc: @dotnet/ncl @stephentoub

This looks like another case where we need to adjust SocketsHttpHandler behavior to ignore (with logging) malformed header lines and not reject the response entirely.

[2019-06-21 16:35] bruno-garcia opened #38758 "System.Text.Json support to System.ComponentModel"
This is a follow up to [this comment](https://github.com/dotnet/corefx/issues/33115#issuecomment-502480406):

Is there a plan to support `[DataContract]`, `[DataMember]` and friends?

Today this is a way to define how types should serialize/deserialize (e.g. the field name) in a way that doesn't bring a dependency to any serialization library to the project using it.

The current `JsonNamingPolicy

[2019-06-21 16:50] scalablecory opened #38759 "HTTP2: inconsistent exception location during frame receive"
Discussion in #38736 questions if post-header exceptions during the background receive loop `Http2Connection.ProcessIncomingFramesAsync()` should bubble up during `SendAsync(HttpCompletionOption.ResponseHeadersRead)` or be held until reading `Content`.

cc @stephentoub @davidsh

[2019-06-21 16:54] #36999 closed

[2019-06-21 17:09] wtgodbe commented on #22098
Given the following, I'm going to close this issue as resolved/intentional:

- The change was made in 2.0, so is not a 3.0 regression
- We intend to support absolute file system paths as URIs
- We have a solution for users that relied on Uri not accepting absolute paths starting with "/":

- We have a set of tests for this behavior, added by https://github.com/dotnet/corefx/pull/15925/files

[2019-06-21 17:09] #22098 closed

[2019-06-21 17:36] wfurt commented on #25154
Even if cancelation is best effort, with cancelation plumbed through sockets now, should cancelation on NetworkStream.ReadAsync() just work now in 3.0 @stephentoub?

[2019-06-21 18:03] ericsampson commented on #20296
Is it possible to restart this conversation back [where there were some concrete proposals](https://github.com/dotnet/corefx/issues/20296#issuecomment-397846112) with @karelz and @davidsh ? It just feels like someone(s) that have ownership of the HttpClient API model need to make decisions about the direction to go. There was some discussion about top-level exceptions always being HttpRequestExcep

[2019-06-21 18:06] stephentoub commented on #25154
Yes

[2019-06-21 18:15] Mike-EEE commented on #38713
FWIW, using an `object`/`dynamic` property for message deserialization is a security consideration so should be handled with care:

https://www.alphabot.com/security/blog/2017/net/How-to-configure-Json.NET-to-create-a-vulnerable-web-API.html

[2019-06-21 18:20] buyaa-n commented on #38414
@ahsonkhan @steveharter @layomia it turns out this issue is not related to Struct, simplified test and  updated the issue accordingly, looks like very bad bug

[2019-06-21 18:21] Wraith2 commented on #38733
It's detecting actual contention so wouldn't it be simpler and safer to lock?

[2019-06-21 19:01] GrabYourPitchforks opened #38760 "Remove BinaryFormatter from the shared framework in .NET 5"
We've known for a long while that `BinaryFormatter` is a dangerous type and that it's responsible for many of the security vulnerabilities real-world .NET applications have seen in recent years. In .NET Core 1.x, the type was removed from the product entirely, and it was brought back in .NET Core 2.0 under the guise of "app compat".

Though as of the time of this writing there are no known types i

[2019-06-21 19:04] blowdart commented on #38760
![tenor](https://user-images.githubusercontent.com/796298/59945499-ac2aec00-941c-11e9-8d67-ca25d6868a2d.gif)

[2019-06-21 19:08] Symbai commented on #38760
BinaryFormatter has the advantage that it's incredibly fast. Faster than any other formatter, by a lot. If you consider to remove it, please consider to provide a reasonable alternative, which is fast and secure. If you do, then I don't see any reason to not agree with that, regardless whether my personal opinion counts or not.

[2019-06-21 19:15] NickCraver commented on #38760
@Symbai I think a very important thing to keep in mind here is that BinarySerializer is not fast and secure. It is fast largely because it is not secure.

[2019-06-21 19:17] GrabYourPitchforks commented on #38760
@Symbai If you're looking for something where the payload format is human-readable, check out the work taking place in this repo in the `System.Text.Json` namespace. Or if you want pure performance over human readability, you may want to check out Google's ProtoBuf project, which has C# APIs.

In the proposal I have in this issue, I do suggest that we should create a `BinaryFormatter`-compatible "

[2019-06-21 19:21] ChrisMcKee commented on #38760
Pushing it into its own package seems a reasonable compromise.

[2019-06-21 19:22] Jozkee opened #38761 "System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2/GoAwayFrame_AbortAllPendingStreams_StreamFailWithExpectedException failing in CI"
From #38566

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38566~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190619.80/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2~2FGoAwayFrame_AbortAllPendingStreams_StreamFailWithExpectedException

Message:
[code]

Stack Trace:
[code]

[2019-06-21 19:26] davidsh commented on #38761
@wfurt

[2019-06-21 20:03] tmds commented on #38750
I'll clean this up next week.

[2019-06-21 20:28] scalablecory commented on #38738
None the less, thank you for humoring the discussion. New APIs take a fair effort to bring in, and part of that is understanding what a new API solves.

@sharwell's link seems like a decent solution in the mean time.

[2019-06-21 21:00] wfurt commented on #38761
this should be fixed by #38226

[2019-06-21 21:18] miguep opened #38762 "String.Format Fatal error in Windows 7"
The following line of code results in "Fatal error. 0xC000001D"

[code]

We started observing this in build 3.0.100-preview7-012535.
build 3.0.100-preview7-012496 runs fine.

This is currently blocking all WPF test runs in Windows 7

Stack Trace:
Fatal error. 0xC000001D
   at System.Number+Grisu3.GetCachedPowerForBinaryExponentRange(Int32, Int32, In
t32 ByRef)
   at System.Number+Grisu3.TryRunShor

[2019-06-21 21:21] danmosemsft commented on #38762
@tannergooding for grisu3

[2019-06-21 21:24] danmosemsft commented on #38762
STATUS_ILLEGAL_INSTRUCTION?

[2019-06-21 21:39] davidsh commented on #37927
@martin-pes
I've been looking into this issue. I was able to build the Dockerfile and see the error you're getting.

But I don't understand why I'm getting an error. The Dockerfile contains instructions to install all 3 certificates above the client certificate. And that includes the root "Swish_TLS_RootCA.crt".

[code]

So, why is this repro still showing an error since you did install the root (

[2019-06-21 21:41] vcsjones commented on #37595
@bartonjs One way to address this is with `RSA_check_key` after importing private parameters. I did a little PoC over here [master...vcsjones:fix-37595][1] which fixes the test. Is something like that what you had in mind?

[1]: https://github.com/dotnet/corefx/compare/master...vcsjones:fix-37595?expand=1

[2019-06-21 21:47] JeremyKuhne opened #38763 "TcpReceiveSendGetsCanceledByDispose failing in CI"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38527~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190621.24/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveMemoryNativeTask~2FTcpReceiveSendGetsCanceledByDispose(receiveOrSend:%20False)

Test was just added in: #37486

[code]

[2019-06-21 21:55] mikaelnordin commented on #37927
Looking at the repo that @martin-pes [linked ](https://pescn.visualstudio.com/_git/AspNetCoreSwish?path=%2Fsrc%2FSwishClient%2FControllers%2FApiController.cs&version=GBmaster)in the inital post i can see that it has not been updated to use the root-cert for the workaround.
The cert "Swish_TLS_RootCA.crt" is actually not the root thats missing from the "Swish_Merchant_TestCertificate_1231181189.p12

[2019-06-21 21:57] wfurt opened #38765 "behavior change with Socket sending reset"
This is outcome of #37486. Even if that aimed to fix Synchronous blocking calls, it also impacts  Async operations:

let say there is simple receiver app:
[code]
and then sender using Async IO.

[code]

before the change the receiver would simply finish after hitting enter on sending side.

with the latest socket call it fails:
[code]

It seems like we send reset when we should not.

![image](http

[2019-06-21 21:58] wfurt commented on #38765
cc: @krwq

[2019-06-21 22:00] bartonjs commented on #37595
Well, sort of.  The problem is (last I checked) RSA_check_key directly checks the members of a default-engine software key.  If it's possible to change the engine used by `RSA_new` then `RSA_check_key` would fail after import.

If that is always hard-coded to be the default engine, no worries.  (And if we can determine that the engine isn't default, but we can forcibly use the software engine as a

[2019-06-21 22:01] davidsh commented on #38765
I submitted a PR (#38764) to revert PR #37486.  So, we can address this as part of the work to redo the PR in the future.

[2019-06-21 22:03] davidsh commented on #38763
We are in the process of reverting PR #37486 due to unanticipated changes to Socket async I/O behaviors.

[2019-06-21 22:12] tannergooding commented on #38762
@miguep, could you provide more context on the code that is failing. I'm not currently able to repro with the latest bits or `3.0.100-preview7-012535`

[2019-06-21 22:14] tebeco commented on #38760
is it a good idea to refer to https://github.com/benaadams/System.Ben/issues/107
for "fast and secure" binary serializer ?

Too soon ?

[2019-06-21 22:39] davidsh commented on #37927
Thanks for clarifying that.  Looking at the 3 certificates in the CA directory, I see that none of them contain the required top root "CN=Swish Root CA v2 Test" needed by the client certificate.

[code]

When I examine the client certificate itself, I see 3 certificates in the chain and the bottom one (Cert 1) has a private key.

[code]

The missing root "CN=Swish Root CA v2 Test" is indeed in the

[2019-06-21 22:43] miguep commented on #38762
@tannergooding I'm running a console .NET Core app that only executes that line of code in Main, and I hit this issue.

I'm running on a Win7 x86 Enterprise VM. I can give you access to it.

[2019-06-21 22:49] vcsjones commented on #37595
@bartonjs Yes, that is the case. Someone could do `ENGINE_set_default_RSA` in-process and the current implementation would follow that, (or maybe they are hosting the CLR in a process that already changed the default engine) if that is a valid concern.

I think we have three choices.

1. If private parameters are included, create a new `RSA` using the "build-in" engine and validate the parameters

[2019-06-21 22:49] davidsh commented on #38750
PR #37486 is being reverted due to unexpected changes in async Socket I/O behavior.

[2019-06-21 22:51] tannergooding commented on #38762
Let me see if I can repro on Win10 x86 as well. It may be something specific to the 32-bit version.

[2019-06-21 22:58] miguep commented on #38762
it does not repro on Win10 as far as we can tell, only on Win7

[2019-06-21 23:06] tannergooding commented on #38762
The delta between the given "good" build and the given "bad" build is: https://github.com/dotnet/coreclr/compare/e2b3130f...56d57afaab

[2019-06-21 23:52] pranavkm opened #38767 "Types deriving from concrete collection types aren't supported by JsonSerializer"
Consider:

[code]

This fails to serialize with the following error:

[code]

Similarly, this does not work either:

[code]

Haven't tried out other collection types, happened to run in to these two. For the first case, there is an actual MVC scenario for this: https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Core/src/SerializableError.cs. If it happens to be fairly trivial to fix this

[2019-06-21 23:53] pranavkm commented on #38767
cc @layomia

[2019-06-21 23:55] davidsh commented on #38750
We reverted PR #37486 (#38764).  So, this issue is moot as an active issue.  But it should be considered additional feedback when redoing PR #37486.

[2019-06-21 23:55] #38750 closed

[2019-06-21 23:56] davidsh commented on #22564
Reactivating since we reverted PR #37486.

[2019-06-21 23:56] davidsh commented on #26034
Reactivating since we reverted PR #37486.

[2019-06-21 23:59] davidsh commented on #38763
We reverted PR #37486 with PR #38764.  So, I'm going to close this since the problem should go away now.

[2019-06-21 23:59] #38763 closed

[2019-06-22 00:21] bartonjs commented on #37595
(1) seems like the easiest short term general solution (a temporary default-engine key to import and check, then if that passes import into the provided key).

[2019-06-22 00:29] ahsonkhan commented on #38758
We don't currently have plans to support the attributes from `System.Runtime.Serialization`

[2019-06-22 00:40] ahsonkhan commented on #38767
Also cc @steveharter

[2019-06-22 00:46] jkotas opened #38768 "System.Globalization.Tests.CurrentCultureTests tests failing on Linux amd64 checked CoreCLR"
First found in https://github.com/dotnet/coreclr/pull/25120. The tests are disabled in CoreCLR CI against this issue.

Affected tests:

System.Globalization.Tests.CurrentCultureTests.CurrentCulture_DefaultWithNoLang
System.Globalization.Tests.CurrentCultureTests.CurrentCulture_BasedOnLangEnvVar

[code]

[2019-06-22 00:56] pranavkm opened #38769 "JsonExtensionData should not use the dictionary name when serializing"
Consider:

[code]

Deserializing this works perfectly:

[code]

However, if I attempt to serialize the type, it includes the dictionary name as the property key:

[code]

While this does round-trip, the expectation is keys in `JsonExtensionData` should alongside other properties of the Poco object. Here's the same routine performed using Json.NET:

[code]

More interestingly, Json.NET does not all

[2019-06-22 00:56] pranavkm commented on #38769
cc @JamesNK

[2019-06-22 00:57] scalablecory commented on #38630
I've just tested PlatformHandler/WinHTTP, it does not allow this. Will check Framework next.

[2019-06-22 01:21] vexx32 opened #38770 "System.Net.NetworkInformation.Ping is throwing exceptions for anything but TtlExpired or Success"
So I ran into this originally while working on PowerShell's Test-Connection cmdlet. Below is a very simple C# repro of the bug:

[code]

Try it with both `netcoreapp2.1` and `netcoreapp3.0` targets with a simple `dotnet run` after adding a very basic csproj.

**netcoreapp2.1**
![image](https://user-images.githubusercontent.com/32407840/59957833-fa66dc00-946a-11e9-97bc-23e1bdc98ca9.png)

**netcorea

[2019-06-22 01:28] davidsh commented on #38770
@wfurt

[2019-06-22 01:29] JamesNK commented on #38769
This should be changed.

My point of view is the extension property itself is ignored. Only the content is serialized and deserialized.

[2019-06-22 01:38] ahsonkhan commented on #34799
Yes.

Error message `Operation on overlapped buffers not supported`?

I would throw `ArgumentException` (or maybe `InvalidOperationException`, but probably not `NotSupportedException`). The message seems fine to me.
Maybe `This operation is invalid on overlapping buffers.`

Most of the ToLower/ToUpper tests live next to the StringTests so that would probably be better.
https://github.com/dotnet/co

[2019-06-22 01:55] ahsonkhan commented on #37565
@martincostello, are you still seeing an issue on latest preview?

[2019-06-22 02:01] ahsonkhan commented on #38769
Can you make the `Extensions` dictionary private?

I am curious to see what would happen if you added `JsonIgnore` attribute on the `Extensions` dictionary along with the `JsonExtensionData`?

Similarly, what happens if a custom camel casing policy (or `JsonPropertyName` attribute) caused a property to collide with the overflow capturing dictionary that has `JsonExtensionData`

[2019-06-22 02:09] ahsonkhan commented on #38769
cc @steveharter

[2019-06-22 02:21] ahsonkhan commented on #38414
In that case, @tannergooding's PR should fix both this issue and the other one you filed: https://github.com/dotnet/corefx/pull/38704

Can you please checkout his branch and verify that his change is actually fixing both of the issues you reported?

[2019-06-22 02:23] wfurt commented on #38770
it seems like 3.0 regression so we should fix it.
I'll look why it did slip through our tests.

[2019-06-22 03:59] #38014 closed

[2019-06-22 04:17] tmds commented on #38765
What does this do on Windows?

[2019-06-22 04:28] wfurt commented on #38770
I did quick look and here is what is happening.
The Async() version treats  ALL failures as timeout in CreatePingReplyFromIcmpEchoReply() and I verified  it still does in 3.0. With  #30000 we are now on separate path where we return failures from native API.  And then we wrap them in PingException if SendPingCore() fails.

That seems like a better approach as it allows to distinguish API failures

[2019-06-22 07:26] MarcoRossignoli commented on #34799
I'll work to have a fix by monday, if something unexpected will happen I'll tell you asap.

[2019-06-22 08:07] scalablecory commented on #38630
I can't replicate this in 4.7.2 either. It gives the following error:

However, Chrome, Firefox, and Curl do allow it. I think it would be reasonable (and trivial) to allow it in `SocketsHttpHandler`. Thoughts, @davidsh @wfurt @stephentoub?

[2019-06-22 09:28] bruno-garcia commented on #38758
@ahsonkhan Is there a plan to provide an API to define an arbitrary name for a serialized property?
Not necessarily via attributes.

[2019-06-22 10:58] samsosa commented on #38760
Than maybe replace the BinaryFormatter implementation under the hood with ProtoBuf?

[2019-06-22 11:36] martincostello commented on #37565
@ahsonkhan I just tried it out with the following tweaked update to the sample above for preview 6 and got this exception:

[code]

[code]

[2019-06-22 11:48] Gnbrkm41 commented on #38689
Now even more:
[code]

[2019-06-22 12:57] vexx32 commented on #38770
@wfurt the returned exceptions from the native API are much less usable than the objects that come back from SendAsync() -- have actually switched to that pattern now and realised it was doing it differently.

Rather than throwing the native exceptions, though, shouldn't we be taking the native error codes and translating them properly and/or handling them?

One way to get appropriate error string

[2019-06-22 14:36] davidsh commented on #38630
I'm curious if the parsing will work if you add the 'UseUnsafeHeaderParsing' config item.  It affects .NET Framework HttpWebRequest stack and in theory will affect HttpClient.  You need to put this into the app.config for .NET Framework application.

[code]
https://docs.microsoft.com/en-us/dotnet/api/system.net.configuration.httpwebrequestelement.useunsafeheaderparsing?view=netframework-4.8

Howev

[2019-06-22 15:36] danmosemsft commented on #38768
I am curious why we are getting literal `\n` in cases like this in Azure DevOps. Xunit is using `Environment.NewLine` https://github.com/xunit/assert.xunit/blob/master/Sdk/Exceptions/EqualException.cs#L89 which in this case would be `\n`
In MC it appears without newlines at all
[code]
Need to dig the xunit log out.

[2019-06-22 17:43] jkotas commented on #38768
It is how Azure DevOps test result rendering works. The code that produces `\n` in this case is somewhere inside Azure DevOps infrastructure, I think.

[2019-06-22 18:08] YohDeadfall commented on #38435
@ahsonkhan Because there are cases when you have your own collection which can't be instantiated by a third party. Mostly it's because a collection needs to know about it's owner. So the best strategy here is:
* replace a collections if there is a public setter;
* add values to the collection if there is no public setter and the collection isn't read-only;
* ignore it otherwise.

[2019-06-22 18:21] jkotas opened #38785 "Remove use of InternalsVisibleTo from System.Text.Encodings.Web"

[2019-06-22 18:24] jkotas commented on #38785
https://github.com/dotnet/corefx/blob/master/src/System.Text.Encodings.Web/src/Properties/InternalsVisibleTo.cs

The proper way to prevent tree-shaker from trimming internal details is to add ILLinkTrim.xml file.

[2019-06-22 20:13] qmfrederik commented on #38481
One more: https://github.com/dotnet/corefx/pull/38774/checks?check_run_id=153693227

[2019-06-22 20:35] YohDeadfall commented on #38435
Moreover most API doesn't allow you to assign a new value to a collection property because collection isn't a value, but items in it is. So we should support this scenario and do not introduce incompatibility with other serializers.

[2019-06-22 20:53] vcsjones commented on #37595
@bartonjs I pushed up some changes at  [master...vcsjones:fix-37595][1]. This is not complete (more tests, etc), but wanted to check a few things before I continue.

1. Am I using `RENAMED_FUNCTION` correctly here?
1. Does .NET Core support FIPS builds of OpenSSL? (I assume yes). Is there any existing test mechanisms for this scenario? I suppose I could build it locally. How can I point .NET Core

[2019-06-22 21:41] ahsonkhan commented on #37565
`StringValues` is a struct that implements `IList<string>`. I don't think that is supported. It' the same issue as https://github.com/dotnet/corefx/issues/38767

cc @steveharter, @layomia

[2019-06-22 21:57] bartonjs commented on #37595
1) Looks like it.
2) Hopefully? :smile:.  I *think* RHELs are all FIPS builds, so "yes".  LD_PRELOAD should work, at least if you build non-portable (might need both LD_PRELOAD and CLR_OPENSSL_VERSION_OVERRIDE if it's portable, 1.1 is available, but you're trying to force 1.0 FIPS).
3) I like it as a detail of SetRsaParameters; that's the only time we'd really want it.

[2019-06-22 22:04] ahsonkhan commented on #38666
Since these are edits to existing docs (and are not new xml comments), I am not sure if the tool will be able to pick up the changes.

Re-opening to track fixing in the docs repo.

[2019-06-22 23:11] Gnbrkm41 commented on #38666
I can fix the docs once I finish this other PR I'm preparing...... I think. Or maybe I could prioritise this first? 😄

[2019-06-22 23:20] geoffkizer opened #38788 "HTTP2: Race with ping data handling"
Issue is here: https://github.com/dotnet/corefx/blob/28c41fff6f830b8393fd6c7661f33f96aa27f965/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs#L558

We shouldn't reference _incomingBuffer directly here, as it can change when we read more data into the buffer.

Instead, we should copy the ping data locally (it's always 8 bytes, so ulong would be appropriate) and then pa

[2019-06-22 23:41] Gnbrkm41 commented on #38666
Were all the documents for the `System.Text.Json` migrated to dotnet/dotnet-api-docs repo? `JsonEncodedText` seems relatively untouched (as in, no details are filled in). I'm not sure if I'm supposed to fill in everything manually or if the tool is able to generate the missing bits.

[2019-06-23 00:19] #38785 closed

[2019-06-23 00:33] ahsonkhan commented on #38666
Not yet, not all of them have been migrated (like JsonSerializer - https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Text.Json.Serialization/JsonSerializer.xml)

The ones that are empty will be filled in by the tool (like `JsonEncodedText`). It's the ones that have "merge conflicts" with existing text that won't be. These remarks issue falls in that category.

[2019-06-23 00:56] Gnbrkm41 commented on #38666
Right, I'll leave the empty ones for now then.

[2019-06-23 04:12] #37927 closed

[2019-06-23 04:42] joshudson commented on #38443
Ah timeskew. I'm actually on buster myself and since me posting the pull request VERSION_ID got a value. The pull request will probably not be necessary now. I'm going to leave it up because the man page for os-release says a-z are allowed in those fields.

https://manpages.debian.org/testing/systemd/os-release.5.en.html

The proposal to unify requires an API review to expose a more forgiving pars

[2019-06-23 06:03] bsagal opened #38791 "Question on SequenceReaderExtensions.TryReadMultisegment"
The SequenceReaderExtensions.TryReadMultisegment is defined as:
[code]
 What is the purpose of the `Unsafe.ReadUnaligned` would the following not be sufficient as the data is already in a variable of `T`?

[code]

(I am trying to understand what i am missing here, and hope this is the right pace to ask)

[2019-06-23 09:26] ViktorHofer commented on #38688
On a clean enlistment, a restore which takes 1-2 minutes is not an outlier. It does several things in that phase:
- Restore dotnet toolchain
- Restore arcade sdk
- Restore tools that are listed in Tools.props
- Restore depproj files in external/*
- Build depproj files in external/*
- Restore test projects

Thanks for your opinion here. That's one of our main goals. Stuff like VS Test Explorer and

[2019-06-23 10:59] paul1956 commented on #31181
The source for MsgBox is available in VB and I ported it. But there are low level functions it depends on for full functionality especially topmost. I did try to contribute it but I don’t believe it was accepted it was last year. My port did throw exception on non-windows platforms for some UI functionality because windows.forms was not yet available. I may revisit in July.

[2019-06-23 13:01] ViktorHofer commented on #38498
Note that this diagnostic data is based on a single instance whereas tests run on multiple machines as they are scaled-out. If all machines in the pool are consistent then this information is useful, otherwise it's just a hint.

[2019-06-23 17:25] ViktorHofer commented on #38751
@safern https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190623.15 shows that 42 tests are failing on `Ubuntu.1604.Arm64.Open-arm64-Release` in the rolling build. Any idea what's going on here?

[2019-06-23 18:01] ahsonkhan commented on #38791
cc @JeremyKuhne

[2019-06-23 18:16] ViktorHofer commented on #37846
@am11 do you want to give it a try and submit a PR to add the libgdiplus version logging? This would really help us diagnose a few crashes.

[2019-06-23 18:20] ViktorHofer commented on #38553
Seems like the original issue has been fixed - although I don't know why? Closing.

[2019-06-23 18:20] #38553 closed

[2019-06-23 18:24] ViktorHofer commented on #36113
Moving to future as this would be nice to have but not necessarily important for 3.0. That said I will prioritize it correctly and try to work on it as soon as other high prio items are done. I'll try to do at least a manual run asap to get some data.

[2019-06-23 18:25] ViktorHofer commented on #38768
@tarekgh can you please take a look at the two failures?

[2019-06-23 18:31] ViktorHofer commented on #38760
I'm sure you are considering partners here which are relying on BinaryFormatter in .NET Core. Keep in mind to loop them in whenever you are starting this effort.

[2019-06-23 18:34] ViktorHofer commented on #38689
@safern those are fairly simple tests, ie constructing an object and asserting notnull. Any idea how this could hang?

[2019-06-23 18:34] tarekgh commented on #38768
Pasting the used container information to try to repro it as we didn't change anything here and not clear why this started to fail now. looks we are using Centos-7 OS. will try to look at that by tomorrow.

[code]

[2019-06-23 18:39] #38667 closed

[2019-06-23 18:41] Gnbrkm41 commented on #38689
I think I could try to attach debugger to it to see what's happening. I don't know if it is caused directly by the tests or something else.

[2019-06-23 18:49] ViktorHofer commented on #16121
Closing as we don't have netstandard tests anymore.

[2019-06-23 18:49] #16121 closed

[2019-06-23 18:55] ViktorHofer commented on #20911
We are already doing this now with the dependency flow system in arcade. From the infrastructure standpoint there is nothing to do here. Closing but feel free to reopen if you disagree.

[2019-06-23 18:55] #20911 closed

[2019-06-23 18:58] ViktorHofer commented on #29778
Whoever is going to fix deserves a medal.

[2019-06-23 18:59] ViktorHofer commented on #22601
@ericstj is this still somethign we need to do? Of course not for 3.0, just want to check the status here.

[2019-06-23 19:00] ViktorHofer commented on #24452
.NET Core 1.1 reaches end-of-support in four days therefore I'm closing this issue.

[2019-06-23 19:00] #24452 closed

[2019-06-23 19:03] ViktorHofer commented on #25515
This was done with https://github.com/dotnet/corefx/commit/f23fcfde91aa15d9ea26947abc812768d571269f

[2019-06-23 19:03] #25515 closed

[2019-06-23 19:07] ViktorHofer commented on #29037
@joperezr any idea how many packages are affected here?

[2019-06-23 19:23] ViktorHofer commented on #31743
Given that netcoreapp1.1 reaches end-of-support in 4 days I will close this issue.

[2019-06-23 19:24] #31743 closed

[2019-06-23 19:25] ViktorHofer commented on #31935
Closing as dupe of https://github.com/dotnet/corefx/issues/26014

[2019-06-23 19:25] #31935 closed

[2019-06-23 19:29] ViktorHofer commented on #29224
Thanks Jan for the explanation. Meanwhile Clang 8 became available. Does anybody know if something changes meanwhile, ie better support in Arcade?

[2019-06-23 19:31] ViktorHofer commented on #33958
https://github.com/dotnet/arcade/issues/2704 will do most of the heavy-lifting here and the remaining work will be to validate that build assets are cross-gend in Release mode.

[2019-06-23 19:34] ViktorHofer commented on #32467
I think we can close this now that coreclr is using a different infrastructure to run corefx tests.

[2019-06-23 19:34] #32467 closed

[2019-06-23 19:35] ViktorHofer commented on #32768
@ericstj what is the remaining work here? Why doesn't it matter for .NET Core 3 anymore?

[2019-06-23 19:39] GrabYourPitchforks commented on #38354
Over the past few weeks I've been following up with some of the other security folks regarding "safe" escaping behavior. The default behaviors were chosen to help protect against _real_ attacks that we actually saw in the wild. For example, the `+` character is escaped to help avoid situations where an attacker can take advantage of a server that forgets to send the `charset=...` part of the `Cont

[2019-06-23 19:43] ViktorHofer commented on #34180
@Wraith2 is this still happening for you? I believe the MissingMethodException was triggered because you were using an dotnet SDK that introduced a breaking change. With 3.0 everything should be good now. Let me close that issue.

[2019-06-23 19:43] #34180 closed

[2019-06-23 19:45] ViktorHofer commented on #34254
Closing, I just updated the required versions in https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md#required-software

[2019-06-23 19:45] #34254 closed

[2019-06-23 19:47] ViktorHofer commented on #34338
The `dotnet test` and `dotnet vstest` commands will probably be merged into a single `dotnet test` command. Additionally I found out that xunit isn't happy with not generating deps.json files for the test assemblies.

[2019-06-23 19:47] Paul-Schroeder commented on #15570
What worked for me seems to be:

1. Upgrading the Algorithms version to 4.3.1:
NuGet package.config file:
<package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
<package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />

2.  Provide assembly binding redirects:
`      <dependentAssembly>
        <assemblyIdentity name

[2019-06-23 19:48] ViktorHofer commented on #34588
I would surprised if this is still happening. I will try it out and assign the issue to myself.

[2019-06-23 19:50] ViktorHofer commented on #34343
Closing because of age. I believe this was a one-off thing.

[2019-06-23 19:50] #34343 closed

[2019-06-23 19:51] ViktorHofer commented on #34591
@wtgodbe do we still want to do this given that 1.0 and 1.1 reach out-of-support in four days?

[2019-06-23 19:52] Wraith2 commented on #34180
I haven't tried in ages but I'm fine with closing it for the bug bounce, I'll open another in the future if I have problems when I try.

[2019-06-23 19:53] ViktorHofer commented on #34778
@safern @ericstj do we want to fix this for 3.0? sounds not irrelevant.

[2019-06-23 19:55] ViktorHofer commented on #34957
The remaining work here is factor out non `$(IsNetCoreApp)` assemblies from the shared framework and instead make them app-local so that they are deployed as part of the test app. cc @ericstj

[2019-06-23 19:56] Wraith2 commented on #34588
Not the same issue (this one is a runtime problem iirc) but if you're looking at sqlclient build there's a specific problem if you run the command
```build src\System.Data.SqlClient -c Release && dotnet msbuild .\src\System.Data.SqlClient\tests\ManualTests /t:RebuildAndTest``` which causes ```E:\Programming\csharp7\corefx\Directory.Build.props(412,3): error MSB4019: The imported project "E:\Progra

[2019-06-23 19:58] ViktorHofer commented on #34963
I still believe we should do nr1 (top post) but I'm not convinced that nr2 brings much value. Instead I believe we should entirely remove the version-less "netstandard" alias.

[2019-06-23 19:59] ViktorHofer commented on #34588
This sounds like a VERY old corefx build and I'm sure that doesn't happen anymore on latest master.

[2019-06-23 20:00] ViktorHofer commented on #34588
Also it hints that you didn't build from root in release mode first but as said, this is touching infra that isn't used anymore in master.

[2019-06-23 20:01] ViktorHofer commented on #35307
@tmat was that just happening on the netfx leg or on others as well?

[2019-06-23 20:09] ViktorHofer commented on #35951
kindly ping @richlander @terrajobst

[2019-06-23 20:11] KathleenDollard commented on #31181
@asadullahrifat89 I apologize that I missed this feedback item.

Have you tried this in Preview 6?

If it's not there, I would not anticipate explicitly porting a namespace marked "Internal". That namespace indicates that it is for intended for internal use. Can you share more about how your code uses this value.

[2019-06-23 20:12] ViktorHofer commented on #36395
Closing as fixed by @MattGal's blog post.

[2019-06-23 20:12] #36395 closed

[2019-06-23 20:14] Wraith2 commented on #34588
Whenever I have build problems I clean, update to get to a current master and then build all configs, debug and release. So I'm fairly sure this is current, from my recollection it coincided with you doing a bulk update of test projects a few weeks ago. It's not urgent and doesn't block dev so as I said if you're already in the tests project it'd be nice if it was fixed but don't worry about it.

[2019-06-23 20:14] KathleenDollard commented on #31181
@Nukepayload2 and @paul1956

I suggest we discuss MsgBox in [VBLang](GitHub.com/dotnet/vblang) because the question isn't just how we technically port this, but whether it's the right thing to do _inside microsoft.visualbasic.dll_. This functionality could be customized per app or organization if it was a normal function and evolve if it was in a community driven project.

@Nukepayload2, did you c

[2019-06-23 20:15] ViktorHofer commented on #36918
I'm not convinced that the native bootstrapping model in Arcade is ready for corefx and I don't see it happening anytime soon. Closing.

[2019-06-23 20:15] #36918 closed

[2019-06-23 20:22] ViktorHofer commented on #21103
Closing in favor of https://github.com/dotnet/corefx/issues/21103

[2019-06-23 20:22] #21103 closed

[2019-06-23 20:22] ViktorHofer commented on #36715
Make sure to also address feedback from https://github.com/dotnet/corefx/issues/21103

[2019-06-23 20:26] ViktorHofer commented on #38008
Closing in favor of https://github.com/dotnet/corefx/issues/38443

[2019-06-23 20:26] #38008 closed

[2019-06-23 20:46] wtgodbe commented on #34591
Nope, we can close this.

[2019-06-23 20:46] #34591 closed

[2019-06-23 20:47] ViktorHofer commented on #15936
@wtgodbe I took care of this in https://github.com/dotnet/corefx/pull/38792/commits/b1619b162b0b3116c59883368bdae87dbe31b5be, I hope you don't mind.

[2019-06-23 20:53] ViktorHofer commented on #34588
Just tried locally and it works as expected. The correct command is:

[code]

[2019-06-23 20:53] #34588 closed

[2019-06-23 20:54] ViktorHofer commented on #34588
I'm relatively sure this is already fixed in master.

[2019-06-23 20:56] ViktorHofer commented on #38768
Thanks!

[2019-06-23 21:28] Symbai opened #38798 "Hardware Acceleration for unsupported overloads"
Some methods in System.Runtime.Intrinsics.X86 don't have overloads for certain data types. For example:

[code]

While this is expected as there is no hardware instruction for them. Is there **anything** I can do as a workaround to compare, in this case, two Vector128 of data type long using Sse2? Such as reinterpreting, casting, different APIs?

[2019-06-23 21:42] #36855 closed

[2019-06-23 21:45] wfurt opened #38799 "HTTP/2: Http2_FlowControl_ClientDoesNotExceedWindows failing"
This seems to be direct outcome of  #38226
I could not reproduce it and it is possible that the test is just too sensitive.  This should be investigated.

I'll keep looking as time permits.

cc: @davidsh @scalablecory

[2019-06-23 22:08] wfurt commented on #38711
This should be fixed by #38226

[2019-06-23 22:08] #38711 closed

[2019-06-23 23:15] mairaw commented on #38666
If you want to open an issue in dotnet/dotnet-api-docs, we can track the porting of the comments. Our reflection tool can override comments.

[2019-06-23 23:19] Gnbrkm41 commented on #38666
I think it's better to let the tool do it's job... but I'll wait for how Ahson thinks.

[2019-06-24 01:40] david-driscoll commented on #38650
I just ran into this scenario when doing some testing with latest preview.  Is this something that is documented elsewhere?   If not this should be highlighted in the migration guide as a new "feature" for new applications switching to use only the new JSON serializer.  Otherwise someone might not notice the subtle change in their applications for a while.

[2019-06-24 01:42] manigandham commented on #36563
Javascript is limited to 53 bits of precision so all 64 bit integers will be truncated. We use 64-bit integer IDs and always have to use strings in JSON so that values are transmitted correctly and this is industry standard for APIs (since there's no other option).

Having the ability to both parse and write 64-bit integers as strings is necessary for those values to actually be properly serialize

[2019-06-24 02:04] VincentBu commented on #38180
Also seen in:
https://mc.dot.net/#/user/coreclr-corefx-jitstress2-jitstressregs/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcorefx~2F/20190622.1/workItem/System.Diagnostics.PerformanceCounter.Tests/analysis/xunit/System.Diagnostics.Tests.PerformanceCounterTests~2FPerformanceCounter_NextValue_ProcessorCounter

[2019-06-24 02:57] zeta1178 commented on #34879
I'm getting the same message even after switching to .Net 3.0.100-preview6-012264 and GSS-NTLMSSP package :
Unhandled Exception: System.PlatformNotSupportedException: No support for channel binding on operating systems other than Windows

I am running RHEL 7, any guidance would be appreciated. Is possible to eliminate the "Negotiate" option and just force "NTLM"

[2019-06-24 03:10] los93sol commented on #30197
Sorry to continue on a closed thread, but the discussion here seems relevant.  Looking at the source it looks like .NET Core is using a system call to recvmsg under the hood when reading from the socket.  For a raw socket it seems it is probably more desirable to leverage SO_RX_RING to minimize the number of system calls and allocations.  Is MemoryMappedFiles intended to be useful for these types

[2019-06-24 03:57] davidsh commented on #34879
Unhandled Exception: System.PlatformNotSupportedException: No support for channel binding on operating systems other than Windows

Are you sure your app is targeting .NET Core 3.0?  That string is not even present in .NET Core 3.0 releases.  It sounds like you might have installed .NET Core 3.0 Preview 6 but your app is still running .NET Core 2.x.

Can you add this line of code to your app and sh

[2019-06-24 03:57] AbhiAgarwal192 commented on #38762
@miguep  Yes even i tried reproducing it on windows 10 machine and was unable to reproduce.

[2019-06-24 04:20] buyaa-n commented on #38414
This test is merged with Active issue number so @tannergooding can pull and test in his branch

[2019-06-24 04:37] zeta1178 commented on #34879
![LinuxRHEL-dotNetCore3](https://user-images.githubusercontent.com/12519100/59992140-32f7e880-9618-11e9-894f-ad51cfe26c1f.JPG)

[2019-06-24 04:42] zeta1178 commented on #34879
I should have mentioned I am trying to use .NetCore with Powershell on RHEL AWS EC2 to create deployment packages for AWS Lambda, long story short I'm not building apps but packaging a powershell script with other files , the development testing of the powershell is taking place on the RHEL where I received the aforementioned error. This is where is got the .NetCore RHEL SDK:
https://dotnet.micros

[2019-06-24 04:44] zeta1178 commented on #34879
![LinuxRHEL-dotNetCore3-Error](https://user-images.githubusercontent.com/12519100/59992320-35a70d80-9619-11e9-9cd3-6084fad09029.JPG)

[2019-06-24 05:00] chuanjiao10 commented on #36836
it is by     **wrong**    design ,or  **wrong** depend.
Such as believe that "the earth is the center of the universe"
Chinese setting in ICU library **wrong**，We should not depend  **wrong**

**Does not affect English, only affects Chinese.**

in linux ls command，return 24h time for zh-cn.utf8 user. linux not  depend **wrong** ICU library,why .net do it?

Suggest：
at  .net core， System.Globalizat

[2019-06-24 05:06] los93sol commented on #30686
Would creating a MemoryMappedFile for a socket fall in this scenario as well?  I'm doing some stuff with AF_PACKET and raw sockets and trying to sort out how to leverage mmap with it to avoid the system call to recvmsg for each and every packet and this looks like it would be my answer without dealing with all of it on my own.

[2019-06-24 05:52] mikedn commented on #38798
If you only care about equality/inequality then yes, you can reinterpret vectors to use a different integer type. Otherwise you should be able to use `Subtract` and then `MoveMask` to extract the sign bits.

[2019-06-24 06:08] Symbai commented on #38798
Thanks, I've tried reinterpreting it as double as I thought it needs to have the same amount of 8 bytes in memory but that didn't worked in some cases. Using an integer type as you said however works fine.

I'm also checking for CompareGreaterThan and CompareLessThan. Can you show me a short code example how I can compare them then?

[2019-06-24 07:13] AriNuer opened #38801 "Test failure:System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_Cancellation_Test/GetAsync_CancelPendingRequests_DoesntCancelReadAsyncOnResponseStream(mode: CancelPendingRequests, copyToAsync: False)"
Test `System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_Cancellation_Test/GetAsync_CancelPendingRequests_DoesntCancelReadAsyncOnResponseStream(mode: CancelPendingRequests, copyToAsync: False)` has failed.

Message :
[code]
Stack Trace :
[code]
Build: -[20190623.30](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop

[2019-06-24 07:17] mikedn commented on #38798
Yes, floating point compares cannot be used in this case because floating point has various special values (NaN, negative 0 etc.).

If you're not concerned about integer overflow then `LessThan` is pretty simple: `x < y` iff `x - y < 0` and `x - y < 0` iff `signbit(x - y) = 1`. To get the sign bits:
[code]
Now it depends what do you want to do with the result. Perhaps you don't really need `MoveMa

[2019-06-24 07:29] AriNuer opened #38802 "Test failure: System.Text.Json.Serialization.Tests.CacheTests/MultipleThreads"
Test `System.Text.Json.Serialization.Tests.CacheTests/MultipleThreads` has failed.

Message :
[code]
Stack Trace :
[code]
Build: -[20190623.30](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190623.30)(Master)

Failing configurations:

- OSX.1013.Amd64.Open-x64-Release

Details:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdo

[2019-06-24 07:35] AriNuer opened #38803 "Test failure:System.Diagnostics.Tests.EventLogTests/DeleteLog"
Test `System.Diagnostics.Tests.EventLogTests/DeleteLog` has failed.

Message :
[code]
Stack Trace :
[code]
Build: -[20190623.30](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190623.30)(Master)

Failing configurations:

- Windows.10.Amd64.Client19H1.Open-x86-Release

Details:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotn

[2019-06-24 07:49] Symbai commented on #38798
I have a byte array which I iterate through and trying to find matches for a specific value, which itself can be in various data types T, such as long. Matches can be either based on equality, or bigger or smaller. To gain maximum performance I'm casting the byte array into a span of vector128<T> and then use hardware acceleration of SSE2 to compare.

But I also need to save the position of the ma

[2019-06-24 08:56] skatpgusskat opened #38806 "Support writing C# object into Utf8JsonWriter"
## Problem Senario

It's impossible to make Json Array using Utf8JsonWriter which contains multiple objects.

[code]

## What I found

`JsonSerializer` has APIs which work with Utf8JsonReader,
[code]

So we can read specific type's C# object from Utf8JsonReader.

## What I want to suggest

I suggest new API at JsonSerializer which write object into Utf8JsonWriter.

[code]

So we can write object i

[2019-06-24 10:01] AmrAlSayed0 commented on #38579
Would this API be good?
This new property should be added to the ```JsonWriterOptions``` struct.
[code]

[code]
[code]

[2019-06-24 11:24] paul1956 commented on #31181
MessageBox.Show is necessary but not sufficient. VB's Message box uses some other Windows.Forms API's/Interfaces (IVBHost, Windows.Forms.IWin32Window) that are not part of Core (last I checked). Without them MsgBox does not work correctly, I am have trouble even opening VB projects with Preview6 or creating any new ones and am out of the country for a while without time to get into more detail.

[2019-06-24 11:48] khellang commented on #38806
Duplicate of #ToUpperConversion

[2019-06-24 12:52] Nukepayload2 commented on #31181
@KathleenDollard

I initially tried to use `System.Windows.MessageBox.Show`, but I found that if I use the native win32 API (`GetActiveWindow` and `MessageBoxW`) directly, I can implement this function with shorter code.

@paul1956
`Windows.Forms.IWin32Window` is available in preview 6.

[2019-06-24 12:54] Berrysoft commented on #31181
@paul1956 It seems that you should write [`IVbHost`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualbasic.compilerservices.ivbhost?view=netframework-4.8) by yourself, because it is a part of `Microsoft.VisualBasic`.

[2019-06-24 13:16] davidsh commented on #38801
at System.Net.Http.HttpClientHandler.SendAsync(HttpRequestMessage request, CancellationToken cancellationToken) in /_/src/System.Net.Http/src/uap/System/Net/HttpClientHandler.cs:line 607

This is from the UWP test run.

[2019-06-24 13:27] davidsh commented on #34879
PowerShell Core uses .NET Core inside.  But it uses its own .NET Core binaries. And those are .NET Core 2.x binaries. So, you would have to wait until a new release of PowerShell core comes out that uses .NET Core 3.0.

[2019-06-24 13:27] #34781 closed

[2019-06-24 13:30] layomia commented on #38767
This applies to all types that implement any collection the serializer supports (list: https://github.com/dotnet/corefx/issues/36643).

Related issue: https://github.com/dotnet/corefx/issues/38521

[2019-06-24 13:45] InternetLogic commented on #32639
@vcsjones I have investigated this further I've created a test that shows the divergent behaviour. I'm using the latest NuGet S.S.C.Pkcs netcore2.2 and netcore3. The signature is created and validates on net4-net4.7.2. In netcore 2.2 and netcore3 it throws "1.2.840.113549.1.1.11 is not a known hash algorithm." CryptographicException. Here's a project - there's a .p12 in the bin/debug. I've also in

[2019-06-24 14:07] stephentoub commented on #30686
No.  This issue is specifically about CreateFromFile, which takes a file path.

[2019-06-24 14:13] vcsjones commented on #32639
@InternetLogic thanks for the report. This is a slightly different case that appears to be a duplicate of #28504.

@bartonjs the problem is at the snippet below, and would easy to add additional OIDs. I agree with the assessment of #28504 that these OIDs are technically "wrong" in so much that they are not really digest algorithm identifiers. However, if a CMS in the wild has this identifier, it i

[2019-06-24 14:31] InternetLogic commented on #28504
Incidentally the documents we are signing are PDFs and Acrobat recognises these Oids and validates the signatures. Should it not be possible to use S.S.S.Pkcs we'll probably have to use bouncy castle for validation.

[2019-06-24 14:32] InternetLogic commented on #32639
Incidentally the documents we are signing are PDFs and Acrobat recognises these Oids and validates the signatures. Should it not be possible to use S.S.S.Pkcs we'll probably have to use bouncy castle for validation.

[2019-06-24 14:42] bartonjs commented on #32639
@vcsjones I think I can accept reading the intent out of existing files, but I think I'd prefer that the signature algorithm OIDs not be considered valid when creating new signatures.  (i.e. the code in #28504 still fails, but this one succeeds).

So probably means adding `bool forVerify` (or whatever) to `GetDigestAlgorithm`.

For best chances of being fixed in 3.0, the PR needs to be merged in a

[2019-06-24 14:43] vcsjones commented on #32639
On it.

[2019-06-24 14:47] vcsjones opened #38814 "SignedCms does not handle existing CMS with signature identifiers for digest algorithm"
Forking an issue from here https://github.com/dotnet/corefx/issues/32639#issuecomment-505016345.

If there is an existing CMS that uses signature-with-digest algorithm identifiers such as
"1.2.840.113549.1.1.11" as the digest algorithm, the CMS will fail to verify. However, this works with Desktop .NET Framework.

We should accept these OIDs for verification but continue to disallow them for signi

[2019-06-24 14:48] vcsjones commented on #38814
/cc @bartonjs @InternetLogic

[2019-06-24 14:48] jkotas opened #38815 "Intermittent failure in FileSystemWatcherTests"
From https://github.com/dotnet/coreclr/pull/25351

[code]

[2019-06-24 15:46] tarekgh commented on #36836
@chuanjiao10

I am not sure why you think depending on ICU is wrong. This is a library that use the globalization data picked up from the standards (CLDR)[http://cldr.unicode.org/] which should be the closest accurate data. If you disagree with such data, you can just make your case to the CLDR or ICU and they can just fix it.

.NET trying to avoid to to deviate from the standards and forcing unif

[2019-06-24 15:52] anhuisunfei commented on #36836
[code]
@tarekgh @chuanjiao10
now we are fixed with this problem.

[2019-06-24 16:18] MattGal commented on #38498
@ViktorHofer as of this morning at least (had to take a couple rogue machines offline) all the OSX.1014.Amd64 machines should be uniformly updated to latest OpenSSL;  please ping me for any variances you see there and CC @parose1

[2019-06-24 16:20] joperezr commented on #38726
@sujayvsarma As explained above, the source for the **implementation** of the interface is located in the coreclr repo as part of System.Private.CoreLib, and also as it is explained above, the reason is that this interface is part of the closure of System.Private.CoreLib which is the lowest part of the stack of .NET Core so we needed to move it down there in order to avoid circular references. The

[2019-06-24 16:22] #38726 closed

[2019-06-24 16:30] vixisoft opened #38818 "ExcludeFromCodeCoverageAttribute should have Justification property"
Hi,

We are trying to build our Organisation Framework for DotNetCore and while we tried to test everything, some of the methods cannot be tested directly. (EF Core Wrapper mainly)

So we added the Attribute ExcludeFromCodeCoverage but we are not satisfied with the attribute.

First, it doesn't have any Justification property so it not clear for other person why this has been added. ( Missing expe

[2019-06-24 16:30] #38818 closed

[2019-06-24 16:36] tmat commented on #35307
It's specific to CoreFX

[2019-06-24 16:37] tmat commented on #35307
I'm not sure if other legs had the same problem. You can check the binlogs.

[2019-06-24 16:44] stephentoub opened #38820 "Http2_PendingSend_SendsReset Assert.NotNull failure"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38810~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190624.10/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2~2FHttp2_PendingSend_SendsReset

https://github.com/dotnet/corefx/blob/cad5159981f518f455be3528d0ee8eca2e00742a/src/System.Net.Http/tests/Funct

[2019-06-24 16:49] andy-ms opened #38821 "Proposal: Add hard limit to MemoryInfo API"
This is a proposal to add a new property to `struct GCMemoryInfo` from the coreclr repo (in `src/System.Private.CoreLib/shared/System/GCMemoryInfo.cs`).
The new property would be:

[code]

This would be the COMPLUS_GCHARDLIMIT value we got from configuration (environment variable or runtimeconfig.json);
or if a hard limit was not specified by COMPLUS_GCHARDLIMIT but the program is run in a contain

[2019-06-24 16:52] Hosch250 opened #38822 "Enum API"
Now that we have the `where T : enum` flag, would it be possible to implement a generic version of the `Enum` API?

[code]

Note that `TryParse` already uses generics, so it would make sense to update the rest of the API. Also, `GetValues` would benefit from being a typed array instead of the old non-generic `Array`.

[2019-06-24 16:53] krwq commented on #38748
@surbhigarg92 is there anything we do differently between .NET Core and full framework or older version of .NET Core?

Could you paste some example XML and schema along with expected and actual message?

[2019-06-24 16:58] joperezr commented on #38822
@Hosch250 Are you interested in submitting a formal proposal? The link provided above by @RussKeldorph should have all the info you need.

[2019-06-24 17:01] joperezr commented on #38798
cc: @tannergooding

[2019-06-24 17:01] tarekgh commented on #38745
This issue was moved to aspnet/AspNetCore#11501

[2019-06-24 17:01] #38745 closed

[2019-06-24 17:05] safern commented on #38751
I don't know what is going on here and it started failing 4 days ago on the 20th. I'll mark this as 3.0 to investigate what changed and see if there was a regression.

[2019-06-24 17:08] ahsonkhan commented on #38806
Yep. Closing.

[2019-06-24 17:08] #38806 closed

[2019-06-24 17:08] ahsonkhan commented on #38802
cc @steveharter, @JeremyKuhne

[2019-06-24 17:12] tannergooding commented on #38798
Using `MoveMask` to get the element which triggered the match and `BitOperations.LeadingZeroCount` or `BitOperations.TrailingZeroCount` (the former hardware accelerated on more computers) to get the index of that byte is likely the right thing to do here.

We do similar things in the `SpanHelpers` class.

[2019-06-24 17:14] stephentoub opened #38824 "System.Security.Cryptography.X509Certificate / System.Net.Security tests intermittently crashing on Windows"
e.g.
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38807~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190624.5/workItem/System.Net.Security.Tests/wilogs
[code]
That exit code maps to STATUS_STACK_BUFFER_OVERRUN.

cc: @davidsh, @bartonjs

[2019-06-24 17:15] stephentoub commented on #38663
Again here:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38809~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190624.7/workItem/System.Net.HttpListener.Tests/wilogs
[code]

[2019-06-24 17:17] stephentoub commented on #38824
Another, this time in System.Security.Cryptography.X509Certificates:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38808~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190624.6/workItem/System.Security.Cryptography.X509Certificates.Tests/wilogs
[code]

[2019-06-24 17:18] stephentoub commented on #38824
This also looks to be the same:
https://github.com/dotnet/corefx/pull/38779#issuecomment-504701939
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38779~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190622.10/workItem/System.Security.Cryptography.X509Certificates.Tests/wilogs

[2019-06-24 17:28] ahsonkhan commented on #35252
Stream-based async API from @scalablecory (with: https://github.com/scalablecory/system-text-json-samples/blob/5ea304ef05a86f3daab5c08f137043ed1e574ad9/json-test/JsonParser.ParseSimpleAsync.cs#L66

If the method is declared inline, the passing of "consumed" from the reader itself is relatively easy, so we could remove it from the reader state.

[2019-06-24 17:32] chuyangliu opened #38825 "Is UdpClient thread-safe?"
In my scenario, one UdpClient.ReceiveAsync() and multiple UdpClient.SendAsync() may be executed concurrently. Will this cause any race conditions?

[2019-06-24 17:40] stephentoub commented on #38824
Again here:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38819~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190624.20/workItem/System.Security.Cryptography.X509Certificates.Tests/wilogs
[code]
[code]

[2019-06-24 17:43] #38708 closed

[2019-06-24 17:44] #34426 closed

[2019-06-24 17:46] ahsonkhan commented on #38671
@dhindrik, were you able to grab the requested info?

[2019-06-24 17:48] ahsonkhan commented on #38590
@mqudsi, do you have any perf numbers or a benchmark in mind?

[2019-06-24 17:49] ahsonkhan commented on #38612
@mqudsi, is there anything else left about this issue?

[2019-06-24 17:49] ahsonkhan commented on #38591
@mqudsi, is there anything else left about this issue?

[2019-06-24 17:53] xinyanmsft opened #38827 "SocketAsyncContext memory leak"
we are seeing memory leak around SocketAsyncContext.
- Our app runs inside Linux Docker (Azure Kubernetes Service). Compilation is done with mcr.microsoft.com/dotnet/core/sdk:2.2 base image. The app runs with mcr.microsoft.com/dotnet/core/aspnet:2.2-alpine3.9 base image. We are seeing SocketAsyncContext objects are leaking 41721 instances:

00007F9F0F7096F8        126260  3030240 System.Object
000

[2019-06-24 17:56] joperezr commented on #33170
Moving to Future given that this doesn't need to happen before 3.0

[2019-06-24 18:06] #38624 closed

[2019-06-24 18:08] davidsh commented on #38827
@wfurt @stephentoub Wasn't this fixed in .NET Core 3.0?

[2019-06-24 18:13] Symbai commented on #38798
Okay thanks :+1:  I'm closing this then.

[2019-06-24 18:13] #38798 closed

[2019-06-24 18:16] mgravell commented on #38760
@samsosa just to be explicit: that isn't a realistic option. Protobuf is a powerful tool, but it has a different feature-set to `BinaryFormatter`, and there is no good way of making one pretend to be the other, in either direction. Just like `XmlSerializer`, Json.NET etc are all fundamentally serializers, but don't have he exact same feature set. If people want to use protobuf, that's fine, but th

[2019-06-24 18:18] Tornhoof commented on #38825
No it's not.
Take a look at the source.
https://github.com/dotnet/corefx/blob/eebe43224d8994b5b47bc2906c271ea6f256728b/src/System.Net.Sockets/src/System/Net/Sockets/UDPClient.cs#L18
The Buffer ist used in e.g. BeginReceive which is in turn used in ReceiveAsync.

[2019-06-24 18:19] Hosch250 commented on #38822
@joperezr Sure. I'll take a look right now.

[2019-06-24 18:21] mconnew commented on #38760
I would like to try an put a stop to the trend I'm seeing in multiple issues of ProtoBuf being the solution to all things serialization. It is not a good serialization format, and it was never designed to be one. It is designed to be a compact way to represent a limited set of features for sending an object graph to a gRPC endpoint. It has very severe limitations when trying to be used for general

[2019-06-24 18:28] chuyangliu commented on #38825
Yes it indicates multiple calls to ReceiveAsync() may not be thread-safe. But in my scenario, only one thread will call ReceiveAsync() while multiple threads may call SendAsync().

[2019-06-24 18:28] stephentoub commented on #38827
Yes:
https://github.com/dotnet/corefx/pull/38499
https://github.com/dotnet/corefx/issues/37044#issuecomment-500660152

[2019-06-24 18:31] Hosch250 commented on #38822
The `System.Enum` class implements an API that would have readability, type safety, and performance enhanced by implementing the methods with generics. Now that .NET Core supports the `Enum` filter on generic type members it should be easy to implement.

# Rational and Usage
Currently, to get the name of an enum value, you must do:

[code]

Or to get all values of an enum type, you must do:

[code

[2019-06-24 18:31] Hosch250 commented on #38822
@joperezr Does this work? Should I move it to the top of the description?

[2019-06-24 18:31] stephentoub commented on #38827
It is.  That is the fix for this in .NET Core 3.0.

However, that you are seeing this @xinyanmsft means that you're not disposing of something; this issue only prevents these objects from being finalized, but properly disposing of them in your code will prevent the issue.  For example, if you're creating HttpClient instances, make sure you're disposing of them when you're done with them (it's fine

[2019-06-24 18:32] krwq commented on #35907
I don't believe this repros anymore. I've run the same tests in a loop on few docker containers at the same time (same way as I did before) for 2 days and haven't seen a single occurrence.

I'll close this for now and leave on tests running in a loop and re-open if I see any more issues.

[2019-06-24 18:32] #35907 closed

[2019-06-24 18:33] #38827 closed

[2019-06-24 18:43] BruceForstall commented on #32467
@ViktorHofer I guess that's ok from the CI perspective, but it still seems weird/problematic from the perspective of running all tests locally on a single machine. Maybe people just don't do that.

[2019-06-24 18:43] Clockwork-Muse commented on #38825
@chuyangliu - It uses `Socket` underneath, so the proper question is "is `Socket` safe for multiple `SendAsync` calls?" (I don't know the true answer to that, unfortunately).

[2019-06-24 18:49] chuyangliu commented on #38825
Looks like Socket is thread-safe per [MSDN](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket?view=netframework-4.8#thread-safety)?

Though UdpClient is a thin wrapper for Socket, it still accesses some shared class members inside [BeginSend()](https://github.com/dotnet/corefx/blob/eebe43224d8994b5b47bc2906c271ea6f256728b/src/System.Net.Sockets/src/System/Net/Sockets/UDPClient.

[2019-06-24 18:52] stephentoub commented on #38799
Failed three more times here:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38817~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190624.2/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2~2FHttp2_FlowControl_ClientDoesNotExceedWindows
[code]

[2019-06-24 18:56] stephentoub opened #38833 "TestCheckChildProcessUserAndGroupIdsElevated failed in CI"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38817~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190624.2/workItem/System.Diagnostics.Process.Tests/wilogs
[code]
cc: @tmds

[2019-06-24 18:57] stephentoub commented on #34361
Again:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38817~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190624.2/workItem/System.IO.FileSystem.Watcher.Tests/analysis/xunit/System.IO.Tests.FileSystemWatcher_Multiple_Test~2FFileSystemWatcher_File_Create_ForceLoopRestart(useExistingWatchers:%20True)
[code]

[2019-06-24 19:00] stephentoub opened #38834 "Connection_UnderDifferentUsers_BehavesAsExpected failed in CI"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38817~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190624.2/workItem/System.IO.Pipes.Tests/wilogs
[code]

[2019-06-24 19:02] krwq commented on #38761
I haven't seen any intermittent failures here recently. Should we close this until we got another repro?

[2019-06-24 19:04] stephentoub opened #38835 "System.Text.Json failing assert crashed CI in CacheTests.MultipleThreads test"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38829~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190624.38/workItem/System.Text.Json.Tests/wilogs
[code]

Looks like that maps to https://github.com/dotnet/corefx/blob/db1ef41efc7757bc88c52f46141092611855f2b0/src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandlePropertyName.cs#L91-L94
and w

[2019-06-24 19:05] stephentoub commented on #38835
Might be the same root cause as https://github.com/dotnet/corefx/issues/38802, which was a release build.  But I'm leaving this open until it's proven it's the same.

[2019-06-24 19:06] #38761 closed

[2019-06-24 19:06] stephentoub commented on #38481
Closing in hopes it was addressed by https://github.com/dotnet/corefx/pull/38226.  If not we'll reopen.

[2019-06-24 19:06] #38481 closed

[2019-06-24 19:08] tmds commented on #38833
I've hit this one too in CI. The issue is in this code:

https://github.com/dotnet/corefx/blob/de1da50fc5f972348aba2fa40ff14e1cbadb13de/src/System.Diagnostics.Process/tests/ProcessTests.Unix.cs#L634-L644

The most likely cause is the code is running as root, without sudo.

CC @wtgodbe

[2019-06-24 19:08] layomia commented on #36643
Also supported but tracked elsewhere

`Array`
`Dictionary<string, TValue>` - https://github.com/dotnet/corefx/issues/36024, https://github.com/dotnet/corefx/issues/37077
`IDictionary<string, TValue>` - https://github.com/dotnet/corefx/issues/36024, https://github.com/dotnet/corefx/issues/37077
`IReadOnlyDictionary<string, TValue>` - https://github.com/dotnet/corefx/issues/36024, https://github.com

[2019-06-24 19:14] ahsonkhan opened #38836 "System.Net.Http.Functional.Tests failing with "Process terminated. Assertion failed." in SetParentHandle"
From https://github.com/dotnet/corefx/pull/38469

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38469~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190624.21/workItem/System.Net.Http.Functional.Tests/wilogs

Windows.81.Amd64.Open-x64:Debug
 System.Net.Http.Functional.Tests

[code]

cc @stephentoub, @wfurt, @krwq

[2019-06-24 19:16] ahsonkhan commented on #37362
Failing from https://github.com/dotnet/corefx/pull/38469:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38469~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190624.21/workItem/System.Net.NameResolution.Functional.Tests/analysis/xunit/System.Net.NameResolution.Tests.GetHostByNameTest~2FDnsObsoleteBeginEndGetHostByName_EmptyString_ReturnsHostName

RedHat.6.Amd64.Open-x6

[2019-06-24 19:16] stephentoub commented on #38836
This is from WinHttpHandler.
cc: @davidsh

[2019-06-24 19:18] ahsonkhan opened #38837 "AssociatePersistedKey_CAPIviaCNG_RSA failing with WindowsCryptographicException"
From https://github.com/dotnet/corefx/pull/38469

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38469~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190624.21/workItem/System.Security.Cryptography.X509Certificates.Tests/analysis/xunit/System.Security.Cryptography.X509Certificates.Tests.CertificateCreation.PrivateKeyAssociationTests~2FAssociatePersistedKey_CAPIviaCNG_R

[2019-06-24 19:24] ericstj commented on #32768
Because we didn't ship any custom attributes in 1.0 and 2.0, so this isn't a regression and there is no product bug driving this change.  It's more about taking a closer look at that list and making sure we've made an intentional decision about each exclusion.  For some of these @tannergooding filed some issues to have that discussion, but I don't believe that was a complete set.  I'd like to keep

[2019-06-24 19:27] Maoni0 commented on #38821
@davidfowl there you go

[2019-06-24 19:42] ericstj commented on #34963
Yeah, previously the version-less one was an indication of the one that was "safe" to use during a vertical source build.  Maybe we just say that all netstandard versions 2.0 and later should be safe to use from a source build and any of the cases where we need to restore additional packages to do so, need to be supported by reference packages.

[2019-06-24 19:51] GrabYourPitchforks commented on #38760
@mconnew Thank you for the excellent analysis! You're right - I should have been more careful with my wording in my earlier comment. I didn't intend to suggest that ProtoBuf is The One True Replacement(tm) going forward, just that it's one of many options available to developers depending on their scenarios.

I think part of the solution is that we need to convince the ecosystem that a general pur

[2019-06-24 19:53] JamesNK commented on #38391
Did this get properly fixed? RST_STREAM is not sent when I test with 3.0.100-preview7-012592 (it is possible the PR changes haven't made it into this SDK)

[2019-06-24 19:59] mconnew commented on #38760
@GrabYourPitchforks, my comment was in response to my seeing multiple places where people were suggesting using ProtoBuf for serialization. It's NOT a serialization format and I just wanted to make sure I put my thoughts out there somewhere contextually relevant.
I believe that DataContractSerializer does about the best job it's possible to do with serializing. We could do with adding some helpers

[2019-06-24 20:09] tannergooding commented on #38762
That would be great. I failed to repro locally on a Win7 x64 Enterprise VM (using the 32-bit SDK on SysWoW64). I am imaging a Win7 x86 Enterprise VM now to check that as well.

[2019-06-24 20:22] bartonjs commented on #38837
"A device attached to the system is not functioning." (ERROR_GEN_FAILURE)

[2019-06-24 20:25] bartonjs commented on #38837
(If we ended up losing data in the message (or the CAPI/CNG layer), this could have been NTE_BAD_KEYSET_PARAM (0x8009001f vs 0x1f).

[2019-06-24 20:35] bartonjs commented on #38837
I don't see anything in either CAPI or CNG that would produce that code (though I looked at 1903, not 1803), so it's unclear what went wrong.  The key handle is still open, so it shouldn't have been finalized out from under us... the "how big is this signature" call (CapiHelpers.Windows.cs:1203) succeeded, then the one for actually signing failed (1214)... so this seems like CAPI got into an inter

[2019-06-24 20:37] tarekgh commented on #38768
I looked at the issue and I have hard time to repro. But this is not related to Globalization but rather it is related to running remote execution. The whole test didn't really run but rather it is aborted.

@MattGal thankfully provided a remote to exact environment and I couldn't repro the issue by building and running the exact same failed tests. @MattGal pointed out the failure is because of

[

[2019-06-24 20:42] stephentoub commented on #37362
Dup of https://github.com/dotnet/corefx/issues/24355

[2019-06-24 20:42] #37362 closed

[2019-06-24 20:56] davidikin45 opened #38840 "DictionaryKeyPolicy only works for deserialization but not serialization"
DictionaryKeyPolicy only works for deserialization but not serialization. When serializing ValidationProblemDetails the keys aren't converting to camelCase

[2019-06-24 21:01] abelykh0 opened #38841 "System.Text.Json.Serialization.JsonSerializer should respect DataMemberAttribute.Name"
The following code outputs `{"MyDataMember":"dataMember"}`, should be `{"RENAMED":"dataMember"}`

[code]

[2019-06-24 21:03] davidsh commented on #38836
When I go back to that test failure from the link above (and verify it against the PR it referenced), the failure is in Nano and it isn't WinHttpHandler.  It is HTTP/2 related to SocketsHttpHandler.

[code]

[2019-06-24 21:06] stephentoub commented on #38836
@davidsh, maybe @ahsonkhan shared the wrong link (or more likely the tests were rerun and the results overwritten), but obviously this came from somewhere:
[code]

[2019-06-24 21:10] stephentoub commented on #38836
Ah, nevermind, the assert I added is bogus.  I'll remove it.

[2019-06-24 21:14] davidsh commented on #38836
We haven't seen this failure ever that I'm aware of in WinHttpHandler based CI runs. But it is possible that it's related to handle lifetime issues we already have (#9228). Those are issues we've chosen not to focus on since SocketsHttpHandler is the default handler now. Unless we start to see this failure occur more often, I'm setting the milestone to 'Future' on this.

[2019-06-24 21:20] stephentoub opened #38843 "XmlLicenseTransformTest.ItDecryptsLicense failed in CI"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38831~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190624.41/workItem/System.Security.Cryptography.Xml.Tests/analysis/xunit/System.Security.Cryptography.Xml.Tests.XmlLicenseTransformTest~2FItDecryptsLicense
[code]
cc: @bartonjs

[2019-06-24 21:28] mburbea commented on #38822
just a note
`var values = Enum.GetValues(typeof(MyEnum)).Cast<MyEnum>();` is not needed.
The result of `Enum.GetValues(typeof(MyEnum))` is a `MyEnum[]`, you just need to do this::
`var values = (MyEnum[])Enum.GetValues(typeof(MyEnum))`

You can also cast it to it's underlying type leading to this strange situation:
[code]

[2019-06-24 21:34] bartonjs commented on #38843
Looks like there was an unfortunate confluence of events where h-e-l-l-o ended up appearing in the base64 output.

Perhaps the "hello" can be changed to something that can't appear in base64.  Like "Hello!".

There a 1 in 2^30 chance any 5 character series in base64 says "hello"; given that there are a lot of 5 character series' (counting a 6 character string as two series of 5) in this test, hand

[2019-06-24 21:54] joshmackey opened #38846 "dotnet test on linux - Test host process crashed. Segfault?"
We have an integration test written using MSTest. It works fine in Windows but it crashes in linux with a `Test host process crashed` error.

The logs suggest a segfault: `Testhost processId: 8481 exited with exitcode: 139 error: ''` but nothing more specific can be found.

Even more interesting, is that I added a Main method to the test project and had it call the test method directly, and it com

[2019-06-24 21:54] ViktorHofer commented on #38768
This indicates that the shared framework is built with a 9.9.9 version but a 3.0.0 should be built. I'm not sure what could be causing this. To me that sounds like coreclr isn't using the right testhost, cc @BruceForstall

[2019-06-24 21:58] joperezr commented on #38822
Yeah that looks good, and yes please move it to the top of the description.

[2019-06-24 22:00] bartonjs commented on #30257
Weird.  Looks like both netfx and corefx throw ArgumentException; not sure why the test was checking for CryptographicException.  Looks like just a test bug.  (Not sure how it ever passed)

[2019-06-24 22:00] ericstj commented on #38768
Right, @BruceForstall and I chatted about this last week.  In most cases it was working because the script which launched the test was passing in the roll-forward parameter.  Why would that work for the outer test but not the remote-exec call?  Perhaps a commandline arg is missing?

Of course changing the version of the CoreCLR shared framework is likely to fix this, but it would be good to get re

[2019-06-24 22:04] ViktorHofer commented on #38768
the environment variable (https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.CoreFxTesting/build/assets/RunnerTemplate.Windows.txt#L54) should handle both scenarios, I'm not sure why this isn't working for remote-exec calls.

[2019-06-24 22:19] ericstj commented on #38768
I guess this is what did it: https://github.com/dotnet/corefx/blob/30ca4113ed07fc78060a0c9d3f95eee4fe8f8ee3/src/System.Globalization/tests/CultureInfo/CultureInfoCurrentCulture.cs#L141

[2019-06-24 22:20] ericstj commented on #38768
We could update https://github.com/dotnet/corefx/blob/30ca4113ed07fc78060a0c9d3f95eee4fe8f8ee3/src/System.Globalization/tests/CultureInfo/CultureInfoCurrentCulture.cs#L162-L174

[2019-06-24 22:23] tannergooding commented on #38762
I'm still trying to confirm (need to finish building CoreCLR to get a JITDump, etc), but I believe this is due to https://github.com/dotnet/coreclr/pull/24917.

Namely, the failing method is utilizing `Math.Ceiling` which is handled as a named intrinsic. The compiler says it is supported if `compSupports(InstructionSet_SSE41)` here: https://github.com/dotnet/coreclr/blob/master/src/jit/importer.cp

[2019-06-24 22:24] tarekgh commented on #38768
why this worked before and started to break now?

[2019-06-24 22:30] joperezr commented on #29037
I don't know from the top of my head, but it should be easy to find out how many are there, since all we need to do is to do a build.cmd -allConfigurations and then search in the package nuspecs to find all places where we have "ref/net4" as target path. That said, in order to fully fix this it won't be enough to just remove those, we will also have to find if there any other packages where we hav

[2019-06-24 22:31] ericstj commented on #38768
@ViktorHofer changed the version of the test shared framework to match the actual productversion, this helps folks like CoreCLR and Mono reuse our test assets.  It also helps run our test assets against the real product.  That's what caused this to break.

There are some other environment variables we should be careful to preserve so that the remoteExec doesn't go looking machine-wide as well.  We

[2019-06-24 22:33] tannergooding commented on #38762
The simplest and quickest fix is to probably change the check to say `compSupports(InstructionSet_SSE41) && !aot`

[2019-06-24 22:48] #38418 closed

[2019-06-24 23:17] BruceForstall commented on #38768
I have changes in progress that will update CoreCLR to use 3.0.0 instead of 9.9.9.

@ericstj Should the COMPlus_* variables also be preserved?

[2019-06-24 23:22] ericstj opened #38848 "System.Configuration.ConfigurationManger is exposing members that are missing on desktop"
Run API compat between netstandard2.0 reference and net461 and observe the following:

[code]

This means someone writing an assembly which depends on these APIs will fail with a MissingMethodException when run on desktop.

[2019-06-24 23:23] CarolEidt commented on #38762
That makes sense, and we should check to see where else the JIT might be checking for other instruction sets, outside of HW intrinsic code.

[2019-06-24 23:28] ericstj opened #38849 "System.ComponentModel.Annotations is exposing members in netstandard2.0 missing from supported frameworks"
Run API compat between netstandard2.0 reference and net461 and observe the following:
[code]
This means someone writing an assembly which depends on these APIs will fail with a MissingMethodException when run on desktop.

Fix here may be to version the assembly and only expose the new API in netstandard2.1 (or some other TFM that wouldn't be constrained by desktop compatibility).

[2019-06-24 23:41] ericstj opened #38851 "Inconsistent readonly struct System.Diagnostics.CounterSample on desktop"
https://github.com/dotnet/corefx/pull/24997 made this struct readonly, including in the nestandard2.0 reference assembly, but it is not readonly on desktop.  Is that a problem?  I don't think it should be, but I wanted to raise it as currently API Compat will flag this.

[code]

[2019-06-24 23:51] tarekgh commented on #38768
I believe we should preserve DONTNET_* and ComPlus*.

I am not sure why we clear the environment variables in the first place. I looked at the history and it doesn't say why we do that.

@BruceForstall would you apply this change to the test or want me to do it?

[2019-06-24 23:51] ericstj commented on #38851
/cc @stephentoub

[2019-06-24 23:51] ericstj opened #38853 "System.Security.AccessControl exposes ObjectSecurity.SecurityDescriptor missing on desktop"
Run API compat between netstandard2.0 reference and net461 and observe the following:

[code]

This means someone writing an assembly which depends on this APIs will fail with a MissingMethodException when run on desktop.

Related: https://github.com/dotnet/corefx/issues/34151
/cc @JeremyKuhne

[2019-06-24 23:58] stephentoub commented on #38851
It should not be a problem as long as we don't violate the readonly-ness.

[2019-06-25 00:05] BruceForstall commented on #38768
@tarekgh Please make the change.

[2019-06-25 00:07] andy-ms commented on #38821
I noticed corefx has a file GCMemoryInfo.cs that looks identical to GCMemoryInfo.cs in coreclr -- is this the result of some automated process? I am working on a change in coreclr only right now, is it automatically copied to corefx or do I have to make the change again in corefx?

[2019-06-25 00:10] Hosch250 commented on #38822
@mburbea Good points. But it's not easy to see that with intellisense--it just says the type is `Array`.

[2019-06-25 00:32] tarekgh commented on #38768
will do it.

[2019-06-25 01:21] John0King commented on #38713
@steveharter
you are right, In many scenarios , handle `JsonElement` is much easier than an unknow/dynamic object type .  it's just different than Json.Net that will break many people

[2019-06-25 01:53] stephentoub commented on #38821
The https://github.com/dotnet/corefx/tree/master/src/Common/src/CoreLib directory is a mirror of https://github.com/dotnet/coreclr/tree/master/src/System.Private.CoreLib/shared; any commits that change one result in an automated PR to the other to propagate those commits.  You can just make the changes in coreclr.

[2019-06-25 01:55] stephentoub commented on #38821
Please work with @terrajobst to get the API reviewed before putting up a PR for it.  Are you trying to get this into .NET Core 3.0?  I believe with a few exceptions all new APIs for the release are supposed to be merged by tomorrow, though my information may be slightly out of date.  You'll want to set the milestone on this issue appropriately, and if you believe the API is ready for review, label

[2019-06-25 02:02] davidfowl commented on #38821
Why not make it map to whatever hard limit the GC is using? It's never actually 0 right?

[2019-06-25 02:28] Maoni0 commented on #38821
@stephentoub I was the one who asked Andy to open a PR as this is changing an API that's added in 3.0 and we are merely adding a field. I was hoping we wouldn't need to go through an API review meeting for this and @terrajobst can let us know on this thread. but please let me know if I'm mistaken.

[2019-06-25 02:29] stephentoub commented on #38821
It's a new public property; needs to be reviewed.  Even if such a review is quick.

[2019-06-25 02:30] Maoni0 commented on #38821
but can it be done without us attending the API review meeting in person?

[2019-06-25 02:32] stephentoub commented on #38821
It can.  Things usually go more smoothly when someone in the know is there to explain it.  This is @terrajobst's domain, though, so I'll let him comment.  You might want to ping him on email.

[2019-06-25 02:35] Maoni0 commented on #38821
@davidfowl without the hardlimit config the hard limit is just the total physical memory which is already a field in the GCMemoryInfo struct:
[code]

[2019-06-25 02:39] ahsonkhan commented on #38841
Is there a particular reason why the new `JsonPropertyName` attribute won't work for your scenario?

[2019-06-25 02:39] Maoni0 commented on #38821
just pinned @terrajobst

[2019-06-25 02:40] davidfowl commented on #38821
Yea but don't make me read 2 fields. Can't we just make the value TotalAvailableMemoryBytes in the else case so i don't have to check for a 0 value?

I'm assuming this API also works when I set a percentage as well?

[2019-06-25 02:41] ahsonkhan commented on #38840
Can you share a sample repro of the issue you are seeing?

cc @steveharter, @pranavkm, @layomia

[2019-06-25 02:53] Maoni0 commented on #38821
those are 2 different fields, TotalAvailableMemoryBytes is how much total physical memory your process is allowed to use; HardLimit is how much the GC heap is allowed to use. for some folks it's useful to know the distinction so they can decide how much to give to the GC heap vs the other memory usage.

[2019-06-25 02:53] Maoni0 commented on #38821
yeh it also works when you set with percentage

[2019-06-25 02:53] chuanjiao10 commented on #36836
Aristotle is not willing to admit the wrong "the earth is the center of the universe", and perhaps wants to burn me.

[2019-06-25 02:55] ahsonkhan commented on #34799
Fixed in https://github.com/dotnet/corefx/pull/38778 / https://github.com/dotnet/corefx/pull/38782

[2019-06-25 02:55] #34799 closed

[2019-06-25 03:02] tmat opened #38858 "Frequent test failures in CI on Windows.Nano.1803.Amd64"
https://dev.azure.com/dnceng/public/_build/results?buildId=237302&view=ms.vss-test-web.build-test-results-tab&runId=5884720&resultId=459291&paneView=debug

[code]

[code]

[2019-06-25 03:05] davidfowl commented on #38821
I'm all for having 2 values but the interesting question is whether it's useful to return 0 rather than the relevant value the GC will use in absence of the specific hard limit

[2019-06-25 03:13] stephentoub opened #38859 "Dispose_ProcessingResponse_OK HTTP2 test failed in CI"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38844~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190624.72/workItem/System.Net.Http.Functional.Tests/wilogs
Fedora.29.Amd64.Open-x64:Debug
[code]

[2019-06-25 03:17] davidikin45 commented on #38840
services.Configure<JsonOptions>(options =>
{
	options.JsonSerializerOptions.PropertyNamingPolicy = JsonNamingPolicy.CamelCase;
	options.JsonSerializerOptions.DictionaryKeyPolicy = JsonNamingPolicy.CamelCase;
});

{
    "errors": {
        "Email": [
            "The Email field is not a valid e-mail address."
        ]
    },
    "type": "https://tools.ietf.org/html/rfc7231#section-6.5.1",
    "ti

[2019-06-25 03:27] danmosemsft commented on #38443
In that man page I also see `Applications should check for the former, and exclusively use its data if it exists, and only fall back to /usr/lib/os-release if it is missing.` which currently this code does not consult. I guess it is not a problem so far.

[2019-06-25 03:30] Maoni0 commented on #38821
0 just means GC heap is allowed to use up to TotalAvailableMemoryBytes. we could return either 0 or TotalAvailableMemoryBytes. I can go either way. no strong opinions there.

[2019-06-25 03:35] ahsonkhan commented on #38840
[code]

[2019-06-25 03:58] danmosemsft commented on #37739
I saw a sporadic failure on WSL where the name was wrong entirely:
[code]

[2019-06-25 04:47] davidfowl commented on #38821
Great, I suggest we we return TotalAvailableMemoryBytes instead of 0 😄

[2019-06-25 04:51] ericstj opened #38861 "System.Security.Permissions exposes types absent from desktop"
Run API compat between netstandard2.0 reference and net461 and observe the following:

[code]

This means someone writing an assembly which depends on this APIs will fail with a MissingMethodException when run on desktop.

Introduced https://github.com/dotnet/corefx/pull/17677
/cc @ViktorHofer

[2019-06-25 04:57] jlanng commented on #38821
Would be nice if the presence of this config was mentioned in any consequent OOM exceptions

[2019-06-25 04:59] #38843 closed

[2019-06-25 05:06] ericstj opened #38862 "System.Security.Principal.Windows exposes enum members missing from desktop"
The following enum values are defined as part of WellKnownSidType but are unavailable on desktop.  This will result in an ArgumentException when passing these members to the SecurityIdentifier constructor on desktop.  Typically we do not add API to netstandard references unless it is supported by all applicable implementations.

[code]

Introduced https://github.com/dotnet/corefx/pull/14611

[2019-06-25 05:15] ericstj commented on #38851
Looks like the same is true for `System.ServiceProcess.SessionChangeDescription`

[2019-06-25 05:41] JeremyKuhne commented on #38853
What can we do to address this? I expect the odds of anyone hitting this are very very slim.

[2019-06-25 05:50] BruceForstall opened #38863 "Enable Windows arm32 test builds and publishing"
I want to enable coreclr repo CI to test corefx on Windows/arm32. This requires that the corefx official build generate and publish a build of the test assets, and corefx-test-assets.xml file manifest. This should be as easy as setting "_publishTests: true" for the Windows/arm32 case in eng\pipelines\windows.yml. However, it looks like Windows/arm32 isn't tested in the official build (why? It is a

[2019-06-25 05:50] BruceForstall commented on #38863
@ViktorHofer @ericstj PTAL

[2019-06-25 06:23] JamesNK commented on #38559
@Tratcher is the person to talk to about this.

(also, I'm on holiday beginning of this week 🌴🌞)

[2019-06-25 06:29] bartonjs commented on #38862
If we did this in .NET Core 2.0, is it that we recently retroactively updated the ref to publish these for netstandard2.0, or is this already published to NuGet and removing them is now a breaking change?

[2019-06-25 06:36] mgravell commented on #38760
@mconnew I don't want to distract from the conversation about BinaryFormatter, so I don't suggest "here", but I'd love to have an offline conversation with you about what does and doesn't qualify as a "serialization format" and why; it seems we have some different ideas there, and I'd love to hear a new perspective. I'm easy to get hold of if you're willing :)

[2019-06-25 06:45] ViktorHofer commented on #38863
We currently don't run tests on arm (https://github.com/dotnet/corefx/blob/master/eng/pipelines/windows.yml#L170-L173) because IIRC the machine pool is very small and enabling it in corefx would just kill it.

Maybe we got more machines meanwhile, @MattGal should know.

[2019-06-25 07:03] ViktorHofer commented on #38861
omg, that's a bug introduced by me but those APIs already shipped. @ericstj what do you recommend to do about it at this point?

[2019-06-25 07:39] MarcoRossignoli commented on #38760
IMO would be useful for all devs have an "open" discussion/listening on it...all devs have to serialize something sometimes in career and the hide issues and choices are not so trivial.
Maybe a linked "discussion" to this issue.
Not mandatory though.

[2019-06-25 08:14] ahsonkhan commented on #38835
Failed again in https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38865~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190625.1/workItem/System.Text.Json.Tests/wilogs from https://github.com/dotnet/corefx/pull/38865

OSX.1013.Amd64.Open-x64:Debug

[code]

[2019-06-25 09:35] AriNuer opened #38871 "Test failure: System.Tests.GetCommandLineArgs/GetCommandLineArgs_Invoke_ReturnsExpected(args: [\"arg1\", \"\\\\\\\\\\\\\\\\\\\\\\\"alpha\", \"\\\\\\\"arg3\"])"
Test `System.Tests.GetCommandLineArgs/GetCommandLineArgs_Invoke_ReturnsExpected(args: [\"arg1\", \"\\\\\\\\\\\\\\\\\\\\\\\"alpha\", \"\\\\\\\"arg3\"])` has failed.

Message :
[code]

[2019-06-25 09:35] #38871 closed

[2019-06-25 09:39] AriNuer opened #38872 "Test failure: System.Tests.GetCommandLineArgs/GetCommandLineArgs_Invoke_ReturnsExpected(args: [\"arg1\", \"\\\\\\\\\\\\\\\\\\\\\\\"alpha\", \"\\\\\\\"arg3\"])"
Test `System.Tests.GetCommandLineArgs/GetCommandLineArgs_Invoke_ReturnsExpected(args: [\"arg1\", \"\\\\\\\\\\\\\\\\\\\\\\\"alpha\", \"\\\\\\\"arg3\"]) ` has failed.

Message :
[code]
Stack Trace :
[code]
Build: -[20190624.84](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190624.84)(Master)

Failing configurations:

- Wind

[2019-06-25 09:58] vermaaditya commented on #38748
@krwq - we are looking for .NET (Core & Framework).

The validation error give details on the name of XML element which has failed the validation along with the line number and position & not on which XSD schema validation has failed.

For instance in .NET, we are getting the below validation error –

`The element 'SignonRq' in namespace 'http://www.ACORD.org/standards/PC_Surety/ACORD1/xml/' has i

[2019-06-25 10:30] dhindrik commented on #38671
[msbuild.binlog.zip](https://github.com/dotnet/corefx/files/3324786/msbuild.binlog.zip)

[2019-06-25 11:55] mgravell commented on #38760
@MarcoRossignoli great idea; I've dropped a discussion [here](https://github.com/mgravell/protobuf-net/issues/530); I'd love your input there if you have the time, @mconnew

[2019-06-25 12:11] PawelGerr opened #38875 "Concurrency issue in TypeDescriptor.GetConverter(type)"
`TypeDescriptor.GetConverter(type)` returns different results when calling on multiple threads with the same type and this `type` has a custom `TypeDescriptionProvider`.

This issue is reproducible with target frameworks `netcoreapp2.2` and `net472` on window 10 x64.

## Repro
I'm calling the method on 10 threads and print the fetched type converter at the end.

### Expected output
All 10 calls re

[2019-06-25 12:32] karthickthangasamy opened #38878 "System.Text.Json option to ignore default values in serialization & deserialization"
There is no option to ignore the `DefaultValues` for the properties in `System.Text.Json`.

The `JSON.NET` contains this options to ignore default values.

https://www.newtonsoft.com/json/help/html/T_Newtonsoft_Json_DefaultValueHandling.htm

Usecase scenario:

For updating the Blazor component model, need to send the values which has only changes to component and refresh the UI, even for initial r

[2019-06-25 12:49] #38852 closed

[2019-06-25 13:12] ViktorHofer commented on #38858
I see more AppDomainTests randomly failing in CI, ie `System.Tests.AppDomainTests.Unload`

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=237626&view=ms.vss-test-web.build-test-results-tab&runId=5895846&resultId=451049&paneView=debug

[2019-06-25 13:21] ViktorHofer commented on #38858
and two other failing tests: https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38867~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190625.5/workItem/System.Runtime.Extensions.Tests

All failures happened on Nano. @MattGal this is one of the cases where a dump (on a docker instance) would be needed. Should we instead run tests manually on Nano instances somewhere?

[2019-06-25 13:24] vcsjones commented on #38858
This issue has the same exit code #38872. I ran in to similar failures over at https://github.com/dotnet/corefx/pull/38845#issuecomment-505231357. The exit code is C0000374, which I think is usually an indicator of the process having heap corruption.

[2019-06-25 13:35] ericstj commented on #38853
I think the way we normally deal with this is we only expose the API in a TFM where it can be supported.  So here that might be exposing in `netstandard2.1` or `netcoreapp2.0` instead of `netstandard2.0`.

It wouldn't be the only case where we have API in netstandard2.0 that isn't exposed in desktop (see Crypto, and [others](https://github.com/dotnet/corefx/blob/master/src/shims/ApiCompatBaseline.

[2019-06-25 13:38] ericstj commented on #38863
I would imagine we have independent decisions about build, publish, and actually run, so we should be able to satisfy @BruceForstall's request regardless, right?  That said, I agree we should make sure we run the tests ourselves, otherwise we're just making CoreCLR deal with our failures.

[2019-06-25 13:41] abelykh0 commented on #38841
We have tens of thousand lines of code and would like to replace Newtonsoft.Json with the new functionality.

[2019-06-25 13:43] ericstj commented on #38862
Looks like its been broken since this was checked in.  I've been doing a bunch of new testing and noticed it, thus this issue.

I'm guessing this is going to be hard/impossible to fix in a non-breaking way.  We should probably just accept it and doc it.

[2019-06-25 13:47] #30257 closed

[2019-06-25 13:50] steveharter commented on #37955
cc @GrabYourPitchforks @jkotas @MichalStrehovsky

[2019-06-25 14:08] jkotas commented on #37955
https://github.com/dotnet/coreclr/pull/25382/

[2019-06-25 14:25] logic01 opened #38882 "HttpClient has 20 second delay when finding proxy that does not exist."
dotnet core 2.2
HttpClientFactory
HttpClient

The HttpClient takes 20 seconds on the first request when `HttpClientHandler() { UseProxy = true }`,  the default setting, when no proxy is configured.

To resolve this we have to set `HttpClientHandler() { UseProxy = false}`.

We identified this issue during our upgrade from core 2.0 to core 2.2 and the subsequent refactor of our HttpClient usages to

[2019-06-25 14:29] stephentoub commented on #38882
cc: @davidsh

[2019-06-25 14:33] joshudson commented on #38443
I see

Mostly numeric is not numeric.

[2019-06-25 14:45] davidsh commented on #38882
This is a common problem which is dependent on the network environment. It is not something that can be controlled via .NET Core.

Is this on Windows or Linux?  I suspect Windows.  .NET Core uses a Windows API that communicates with a service "WinHttp AutoProxy Discover Service". Depending on the network configuration, discovering a proxy can be time consuming as network I/O needs to happen with W

[2019-06-25 14:46] #38814 closed

[2019-06-25 14:51] stephentoub commented on #38859
Again here:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38880~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190625.22/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2~2FDispose_ProcessingResponse_OK
[code]

[2019-06-25 14:57] logic01 commented on #38882
Additional Notes: If you allow the HttpClient to idle for 2 minutes, the default timeout, then the very next request will take 20+ seconds again and subsequent will take < 1ms.

[2019-06-25 15:40] stephentoub commented on #38858
I've disabled the tests on Nano until this can be sorted out; almost every PR was failing as a result.

[2019-06-25 15:54] joperezr commented on #36723
@GrabYourPitchforks given that you merged #38739, can this be closed now?

[2019-06-25 15:57] joperezr commented on #37378
@stephentoub do you want to keep this as 3.0? If this is just a test/infra bug, I believe it should be fine to move it to Future right? If there is a product bug then can @VSadov take a look at this today? ZBB is tomorrow at noon.

[2019-06-25 15:58] joperezr commented on #37435
I don't think this will make it to 3.0 any longer, given that it would have to be in by tomorrow, so I'm pushing to Future.

[2019-06-25 15:59] stephentoub commented on #37378
I don't know if it's a test or a product bug.  It's a new feature added in 3.0.  I suggest it stay 3.0 until it's demonstrated to be a test issue, at which point it should also be easy to fix the test.

[2019-06-25 15:59] joperezr commented on #37969
@GrabYourPitchforks this is marked as 3.0, do you still plan on working on this today?

[2019-06-25 16:01] ericstj commented on #35157
I've got validation working for this in a [private branch](https://github.com/ericstj/corefx/tree/testCompatibleLibs) but its too noisy to jam into 3.0.  I plan to file issues for anything it catches and commit it after we branch.

[2019-06-25 16:01] ViktorHofer commented on #38863
We can easily enable publishing the test archives without invoking them but we usually try to avoid that...

[2019-06-25 16:02] ericstj commented on #35156
I've got validation working for this in a [private branch](https://github.com/ericstj/corefx/tree/testCompatibleLibs) but its too noisy to jam into 3.0.  I plan to file issues in 3.0 for anything it catches and commit it after we branch.

[2019-06-25 16:02] ericstj commented on #29218
I've got validation working for this in a [private branch](https://github.com/ericstj/corefx/tree/testCompatibleLibs) but its too noisy to jam into 3.0.  I plan to file issues for anything it catches and commit it after we branch.

[2019-06-25 16:05] ericstj commented on #38858
Yes this is heap corruption.  When did it start? Can we trace back to a change in CoreFx or a CoreCLR ingestion?

[2019-06-25 16:16] ViktorHofer commented on #38858
The first time it shows up in a rolling-build in master is https://dnceng.visualstudio.com/public/_build/results?buildId=237532 but that can't be the cause.

[2019-06-25 16:17] stephentoub commented on #38858
What was the nearest coreclr ingestion prior to that?

What was the first PR it showed up in?

[2019-06-25 16:18] ericstj commented on #38858
We can look in the neighborhood of that change to find culprits.

[2019-06-25 16:22] wtgodbe commented on #38359
Looks like this can be closed (@maryamariyan please re-open if I'm misinterpreting things)

[2019-06-25 16:22] #38359 closed

[2019-06-25 16:23] wtgodbe commented on #38710
Moving this to future as it's not a regression in 3.0

[2019-06-25 16:23] krwq commented on #38748
@vermaaditya I do not believe we store error codes. We do store line and column number as well as the schema object though:

https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System/Xml/Schema/XmlSchemaException.cs#L184
https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System/Xml/Schema/XmlSchemaException.cs#L179
https://github.com/dotnet/corefx/blob/mas

[2019-06-25 16:27] wtgodbe commented on #38851
@Anipik I don't think this is a must-have for 3.0, given that ZBB is tomorrow I'm moving it to future

[2019-06-25 16:31] wtgodbe commented on #38833
Moving to future as it's a test-only bug - that said, I'll disable for now then fix it after the code merge.

[2019-06-25 16:45] vermaaditya commented on #38748
@krwq - I always see the schemaObject and SourceSchemaObject as null.

![image](https://user-images.githubusercontent.com/20763984/60116158-22b94800-9795-11e9-8b70-73e5b8bbb16b.png)

Would appreciate if you can help on how to populate those objects.

[2019-06-25 16:52] ericstj commented on #38851
FWIW this is a regression from the past release, if you fix it you need to fix it now.  The work is to just investigate wether or not the structs are actually treated as readonly on desktop.

[2019-06-25 16:53] ericstj commented on #38851
I checked both and they do behave as readonly.

[2019-06-25 16:53] #38851 closed

[2019-06-25 16:53] wtgodbe commented on #35933
The test is actually disabled: https://github.com/dotnet/corefx/pull/35949. May be the same issue as  https://github.com/dotnet/corefx/issues/38833

[2019-06-25 16:54] wtgodbe commented on #38833
Might be related: https://github.com/dotnet/corefx/issues/35933

[2019-06-25 17:04] krwq commented on #38748
@vermaaditya [per docs](https://docs.microsoft.com/en-us/dotnet/api/system.xml.schema.xmlschemaexception.sourceschemaobject?view=netframework-4.8) that means:

which might suggest a bug.

Have you tried doing something similar to this perhaps:
https://stackoverflow.com/a/7469892

[2019-06-25 17:05] ericstj commented on #38861
If we can't fix it without breaking something that's already shipped, then document the broken API.  It may make sense to chat with @terrajobst to see if we need to account for these land-mines in the analyzer that helps folks be aware of platform differences.

[2019-06-25 17:09] vcsjones commented on #38872
Duplicate of #38858.

[2019-06-25 17:14] bartonjs commented on #38821
FXDC: LGTM (@dotnet/fxdc)

[2019-06-25 17:17] stephentoub commented on #38875
The bug here is in CheckDefaultProvider.  It appears its purpose is to examine a type and add appropriate providers, and it uses a set to indicate whether a type has already been examined... but it marks the type examined at the beginning of its execution rather than at the end, such that any threads that then concurrently look up the provider for that type miss the default provider until it compl

[2019-06-25 17:19] vermaaditya commented on #38748
@krwq - Tried the solution mentioned in the link does not help.

[2019-06-25 17:27] ericstj commented on #38858
https://github.com/dotnet/corefx/pull/38782 is the nearest CoreCLR ingestion that picks up changes between 6/20 and 6/23.  Here's the diff: https://github.com/dotnet/coreclr/compare/9bd2787a9dd2aa4d2b7d4f72afebc3dbe896e896..8974a699899bdc2cc5687504e1ada606ac803e9b

[2019-06-25 17:28] hughbe opened #38886 "Clean build causes errors on mac: A fatal error was encountered. The library 'libhostpolicy.dylib' required to execute the application was not found in '/Users/hugh/Documents/GitHub/corefx/artifacts/bin/System.ComponentModel.TypeConverter.Tests/netcoreapp-Debug/'."
[code]

[2019-06-25 17:29] MattGal commented on #38863
@ViktorHofer assuming "windows arm" means 32-bit, I think we have machines; looking at windows.10.arm32.open and windows.10.arm32 queues there's actually quite a few machines with the caveat they're still running Python 2 and depending on your workflow may need to be updated.  Based off their heartbeats, virtually noone's sending them work, so worth a try.

[2019-06-25 17:29] stephentoub commented on #38858
cc: @jkotas

[2019-06-25 17:30] MattGal commented on #38858
To reiterate stuff from other threads, I think this may have started (albeit less frequently) just when moving from 1709 to 1803.  I got some debugging instructions from a team member and will check them out when I have time;  if I get a debugging setup I will share it.

[2019-06-25 17:31] hughbe commented on #38886
Feel like it used to be easier to get set up to contribute to .NET Core projects. I remember the days where things "just worked" but Arcade seems to cause loads of errors :(
cross ref https://github.com/dotnet/winforms/issues/1230

[2019-06-25 17:31] geoffkizer commented on #38820
@wfurt related to your recent changes possibly?

[2019-06-25 17:34] JeremyKuhne commented on #38659
I agree that we should be following the same sort of semantics shells do and we should dump the path we try to launch when we fail.

[2019-06-25 17:52] krwq commented on #38748
@vermaaditya do you know if this is specific to this particular error? do you get the same results on full framework?

[2019-06-25 17:52] pranavkm commented on #38840
@ahsonkhan this would be the scenario:

[code]

The expectation here is that serialization would also honor the dictionary key policy.

[2019-06-25 18:11] #38643 closed

[2019-06-25 18:25] hughbe opened #38888 "./build.sh --test has errors"
[code]

[2019-06-25 18:31] JeremyKuhne commented on #37918
Thanks for the write up. This is an interesting thought exercise, but in it's current form I don't think it would fit well in `System.IO`. If we do want to dig into this further we would need to have answers for things such as:

1. Redundancy/overlap with `FileInfo` and `DirectoryInfo`.
2. The number of allocations- this would not scale well.
3. Lack of normalization- your `FileSystemPath` would c

[2019-06-25 18:35] ahsonkhan opened #38891 "Refactor and clean up the SpanTestHelper helpers for asserting that a ref struct method throws"
See feedback from https://github.com/dotnet/corefx/pull/38865

Consider moving the helper to `AssertExtensions`

[2019-06-25 18:45] tarekgh commented on #35717
I have opened the linked PR on coreclr repo which is changing the C locale behavior which should address this issue. @wfurt could you please track retrying running the tests again after we merge the PR and have a new packages?
wfurt

[2019-06-25 19:07] ahsonkhan opened #38894 "Use the Utf8JsonReader.Get* APIs in the JsonSerializer implementation"
We added APIs to get (s)byte and (u)int16 to the `Utf8JsonReader`. The `JsonSerializer` should use them now.

https://github.com/dotnet/corefx/pull/38469

For example:
https://github.com/dotnet/corefx/blob/b2af402ee9f169be00b4be09887e6db0dba2bff1/src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterInt16.cs#L11-L17

cc @steveharter, @WinCPP

[2019-06-25 19:25] stephentoub commented on #38267
I can't repro this anymore.  Likely some of the fixes that went in in the interim addressed it.

[2019-06-25 19:31] suthrams opened #38895 "Data Adapter Batch insert not working in sql client preview 7"
Describe the bug
A clear and concise description of what the bug is.
Data Adapter Update batch operation is throwing this exception below on Core 2.1 using the 4.7 Preview 6 package of System.Data.SqlClient.
System.Data.SqlClient.SqlException: Implicit conversion from data type nvarchar to varbinary is not allowed. Use the CONVERT function to run this query.
However the same batch adapter operatio

[2019-06-25 19:46] #38565 closed

[2019-06-25 19:46] #38557 closed

[2019-06-25 19:48] ahsonkhan opened #38896 "The Utf8JsonWriter API xml documentation could be improved"
Some of the text within the xml tags of the Utf8JsonWriter APIs could be improved by re-wording them. Whatever change is made, should be applied consistently across all the API overloads.

Address some of the feedback including:
https://github.com/dotnet/corefx/pull/38864#discussion_r297200606
https://github.com/dotnet/corefx/pull/38864#discussion_r297201708
https://github.com/dotnet/corefx/pull/3

[2019-06-25 20:12] cablooshe opened #38898 "DispatchProxy does not allow for building collectible assemblies."
Currently when you create a DispatchProxy, it makes the DynamicAssembly that generates the IL an noncollectable assembly (it's hardcoded to use AssemblyBuildAccess.Run [here](https://github.com/dotnet/corefx/blob/master/src/System.Reflection.DispatchProxy/src/System/Reflection/DispatchProxyGenerator.cs#L204 )). This makes it impossible to create DispatchProxies inside collectible AssemblyLoadConte

[2019-06-25 20:22] #37955 closed

[2019-06-25 20:23] #38762 closed

[2019-06-25 20:23] tarekgh commented on #38768
I have merged the suggested change to preserve the environment variables in the test. I am not sure if there is something else need to be done by @BruceForstall or @ViktorHofer?

[2019-06-25 20:27] ViktorHofer commented on #38768
That's all. Thank you

[2019-06-25 20:27] dmytro-gokun opened #38900 "SqlClient. Weird behavior after a commit timeout."
I have a SQL Azure database and I use System.Data.SqlClient  (4.6.1) to talk to it. From time to time (sometimes several times a day, sometimes no incidents for weeks), it would produce a SqlException with Number = -2 (Timeout) during a SqlTransaction.Commit call. I assume that's happening because SQL Azure databases have mirroring set up and there is some transient network condition happening aro

[2019-06-25 20:29] Maoni0 commented on #38821
@bartonjs thanks! I presume this means it's approved

[2019-06-25 20:29] tannergooding commented on #38164
@stephentoub, have you seen this repro again anywhere. I've not been able to reproduce and I don't see it again in the mc logs.

[2019-06-25 20:34] kay3421 commented on #38895
I need assistance in putting all this in

[2019-06-25 20:34] jkotas commented on #38768
The exclusion added in https://github.com/dotnet/coreclr/pull/25120 should be deleted to verify that this actually works.

[2019-06-25 20:36] tannergooding commented on #38762
@miguep, this should be fixed in the next nightly build.

[2019-06-25 20:37] bartonjs commented on #38821
@Maoni0 I was just registering my "vote" and hoping to get a consensus swarm.  It clearly didn't happen, though :smile:.

[2019-06-25 20:44] JeremyKuhne commented on #36169
This is supported now.

[2019-06-25 20:44] #36169 closed

[2019-06-25 20:47] JeremyKuhne commented on #37725
The `JsonStringEnumConverter` supports naming policy that only changes casing. Arbitrary mapping we won't support for 3.0.

[2019-06-25 20:48] monty241 opened #38901 "Method to determine current stack size"
Our software runs on various platforms, both on framework 4.7.2 (W7..W10) as well as .NET Core 2.1 and 2.2 on Linux, Mac and Windows.

With increasing use of .NET Core on Linux, we get some errors on the restrained stack size. For instance, our Exact Online drivers require at stack size of at least close to 256 KB during initialization due to CLR issues.

I would like to add some checks to the bas

[2019-06-25 20:52] suthrams commented on #38895
What kind of assistance ?

On Jun 25, 2019, at 4:35 PM, kay3421 <notifications@github.com<mailto:notifications@github.com>> wrote:

I need assistance in putting all this in

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/dotnet/corefx/issues/38895?email_source=notifications&email_token=AAUF66EQDPYSF4RMX4MOCJDP4J6SJA5CNFS

[2019-06-25 20:55] bartonjs commented on #38824
I have this running in a loop on two computers with no repro.

* Windows Server 2012 R2 (1454 iterations as of this post)
* Windows 10 Client 1903 (19H1) (1284 iterations as of this post)

They're (theoretically) configured to hook the debugger on a non-zero exit (via gflags).  They'll stop making the room warmer at 10,000 runs.

[2019-06-25 21:01] buyaa-n commented on #38414
Verified with latest code, it is fixed

[2019-06-25 21:01] #38414 closed

[2019-06-25 21:02] tarekgh commented on #38768
talked offline with @ViktorHofer and he is going to follow up getting the updated corefx tests to coreclr and remove the test exclusion.

[2019-06-25 21:08] ahsonkhan commented on #38840
We should also verify that `PropertyNamingPolicy` is working correctly for serialization.

[2019-06-25 21:15] bhaskar-majumder opened #38903 "SystemEvents.SessionSwitch event is not getting fired in macOs mojave"
# Issue Title

`SystemEvents.SessionSwitch` event is not getting fired in macOs mojave.
`SystemEvents.SessionSwitch += new SessionSwitchEventHandler(SystemEvents_SessionSwitch);` is working fine for Windows 10 but it is not working in Mac.

# General

Trying to listen to system events like lock/unlock, user sign in/out etc. for our dotnet core application which runs on both Windows and Mac.
To ach

[2019-06-25 21:16] ahsonkhan commented on #38769
Looks like this regression occurred because of a change to resolve the other issue:
https://github.com/dotnet/corefx/pull/38306/files#diff-cf3c98b9ccd0b5614511b8adf262f8e9L41

https://github.com/dotnet/corefx/issues/38238

cc @MarcoRossignoli

[2019-06-25 21:22] ahsonkhan commented on #38668
She would verify that the ordering the attributes show up in the .NET POCO don't affect the end behavior.

[2019-06-25 21:24] wtgodbe commented on #38768
@ViktorHofer please make sure this change is done before the code merge at Noon PST tomorrow (21.5 hours from now)

[2019-06-25 21:31] GrabYourPitchforks commented on #37969
While testing this I came across an interesting behavior of Full Framework that seems like a bug.

[code]

I'll investigate a bit more to see if this is the intended behavior or if it's truly a bug in Full Framework. If it's a bug then we won't try to preserve the buggy behavior for Core.

[2019-06-25 21:35] anmenaga commented on #26494
@davidsh @karelz Is there any way today that a .Net Core application can work with HTTP using `HttpClient`/`HttpClientHandler` while respecting proxy settings in "LAN Settings, supporting WPAD and PAC files" ?
You mentioned [here](https://github.com/dotnet/corefx/issues/24574#issuecomment-358720833) that `On .NET Core, WinHttpHandler is used as the underlying stack for HttpClientHandler.`:

- in t

[2019-06-25 21:35] GrabYourPitchforks commented on #37969
@joperezr - This probably won't be in for noon tomorrow, but the PR should be ready this week (probably tomorrow afternoon). I'll email shiproom when the time comes, as this bug meets the post-6/26 criteria.

[2019-06-25 21:35] safern commented on #38751
I was trying to repro and looked at the last 4 rolling builds and it doesn't seem to be failing anymore. @ViktorHofer maybe this was a bad docker image thing, since you updated them today. Will close, please re-open if you see it happen again.

[2019-06-25 21:36] #36723 closed

[2019-06-25 21:36] ItalyPaleAle commented on #35838
Have this issue while running the RPi build of .NET Core (2.1.11) on Raspbian based on Debian 10 (which uses libicu4)

[2019-06-25 21:39] safern commented on #38875
@stephentoub given that you self-assigned this, you plan to fix this before we branch tomorrow? I want to know what is your timeframe for this in order to triage accordingly.

[2019-06-25 21:40] tarekgh opened #38904 "System.Uri escaping result is incorrect"
This issue is copied from https://devdiv.visualstudio.com/DevDiv/_workitems/edit/934651.

1. Open C# interactive window.
2. Type `new Uri("C:\\%20hello world.txt", UriKind.Absolute). AbsolutePath`.
3. The result is `C:/%2520hello%20world.txt`. [Good]
4. Then type `new Uri("C:\\%20hello world中文字符.txt", UriKind.Absolute). AbsolutePath`.
5. The result is `C:/%20hello%20world%E4%B8%AD%E6%96%87%E5%AD%9

[2019-06-25 21:45] tannergooding commented on #38164
Going to close this as I've not seen any additional hit of this issue going through mission control and there isn't enough data (no stack trace or dump) to make this actionable.

[2019-06-25 21:45] #38164 closed

[2019-06-25 21:47] safern commented on #38848
Given that this has been like this since previous releases (2.2, 2.1) I think we need to stick with it and document it. So adding the documentation label and moving to future.

[2019-06-25 21:56] WhitWaldo commented on #26561
I am similarly running into this issue. Resurrecting a program I wrote back in March (which worked fine at the time), I'm unable to create a directory on my system's desktop, on which I'm an administrator.

const string outputDir = "C:\Users\whit_\Desktop\MyDirectory";
var dirPath = Path.Combine(outputDir, $"{DateTime.Now:yyMMdd_hhmm}");
if (!Directory.Exists(dirPath)) {
  Directory.CreateDirector

[2019-06-25 22:09] Gnbrkm41 commented on #38689
So I've been trying to check `PaperSources_ReturnsExpected` test; it looks like the type constructs just fine, but the call to `printerSettings.PaperSources` take *several minutes* before it returns; maybe it's something to do with `Get_PaperSources` (and I'm assuming it's the same for other methods as well). Having a deeper look.

[2019-06-25 22:09] davidsh commented on #26494
As of .NET Core 2.1, the HTTP protocol stack used in .NET Core was changed. It no longer uses native Windows WinHTTP nor Linux 'libcurl'.  Those are considered now the 'legacy' stacks.  We have a new HTTP protocol stack called "SocketsHttpHandler".  It used by default.

See: https://devblogs.microsoft.com/dotnet/announcing-net-core-2-1/ and 'Network Performance Improvements' section.

SocketsHttpH

[2019-06-25 22:10] buyaa-n commented on #38490
The root cause of this issue is fixed with Tanner's change, so `iBackward ` index is not exceeding out of bounds anymore, so closing this issue, not sure if we want to add boundary check to avoid future failure, @ahsonkhan feel free to open it back if needed

[2019-06-25 22:10] #38490 closed

[2019-06-25 22:18] rynowak opened #38907 "Add documentation for date formats in S.T.JSON"
Filing this per @ahsonkhan request

We don't have a good document to point users at for understanding how to use dates with System.Text.Json. JSON.NET was very tolerant in the set of date formats that it would accept, and this will be a common question. There's a lot of existing code out there that works with formats other than ISO 8601.

[2019-06-25 22:19] davidsh commented on #38904
Sounds like a duplicate of other escaping issues.

@wtgodbe

[2019-06-25 22:24] mqudsi commented on #38591
@ahsonkhan thanks for the ping.

The difference is that as a developer implementing some functionality, if you are reading from a pipe or stream or anything other than a guaranteed-contiguous byte-level memory-mapped source and need to load more data, you can cheaply append to an existing `ReadOnlySequence` whereas if you were using the span version of the api instead, you can only (realistically)

[2019-06-25 22:26] mqudsi commented on #38612
Nope, I think we can close this one out. Thank you!

[2019-06-25 22:26] #38612 closed

[2019-06-25 22:27] wtgodbe commented on #38904
Looks to be a dupe of https://github.com/dotnet/corefx/issues/32301

[2019-06-25 22:27] #38904 closed

[2019-06-25 22:44] mqudsi commented on #38590
Unfortunately the type of optimizations I'm talking about are going to be somewhat machine dependent. Haswell+ has hugely improved indirection support so things like jump tables don't have as bad of a hit on newer processors; on my end this isn't worth pursuing.

[2019-06-25 22:44] #38590 closed

[2019-06-25 23:16] Gnbrkm41 commented on #38689
For PaperSources_ReturnsExpected:

The call to `printerSettings.PaperSources` continues to `Get_PaperSources()`:
https://github.com/dotnet/corefx/blob/60d8aa31a4c1ffa0e125bd7941aca171439a2f72/src/System.Drawing.Common/src/System/Drawing/Printing/PrinterSettings.Windows.cs#L1120-L1151

https://github.com/dotnet/corefx/blob/60d8aa31a4c1ffa0e125bd7941aca171439a2f72/src/System.Drawing.Common/src/Syste

[2019-06-25 23:44] terrajobst commented on #38821
Looks good as proposed.

[2019-06-26 00:50] terrajobst commented on #38647
We reviewed this today:

* Purpose: people have `Uri` in their types that want to serialize them, which we already do.
* We don't feel like we need to expose this in the reader/writer. It's also not in JSON.NET. This can be reopened if enough customer complain.

[2019-06-26 00:50] #38647 closed

[2019-06-26 00:51] terrajobst commented on #38641
We reviewed this today:

* There is an argument in favor of it, because it's a value type. In principle we could optimize parsing to be allocation free (i.e. avoid going through a string).
* It's unclear whether there is an standard encoding for time spans.
* For now, close. This can be reopened if there is enough customer evidence that this needed.

[2019-06-26 00:51] #38641 closed

[2019-06-26 00:52] terrajobst commented on #38591
Closing in favor of #35252.

[2019-06-26 00:52] #38591 closed

[2019-06-26 00:54] terrajobst commented on #38590
We also reviewed this today and think we don't want to do because it's adding a lot of complexity.

However, @ahsonkhan will change the the value `Comment` so we can do range checks instead of jump tables.

[2019-06-26 00:55] terrajobst commented on #36125
We concluded we shouldn't support it unless there is significant customer feedback.

[2019-06-26 00:55] #36125 closed

[2019-06-26 01:10] krwq commented on #34638
Moving to future since I've added as much as is currently possible and remainder was moved to Future

[2019-06-26 01:32] vcsjones commented on #37595
@bartonjs to summarize some things I learned..

* Each platform does everything a bit differently. Adding `RSA_check_key` does allow us to check the key at import time, but now it is more strict that Windows and macOS. For example, If PQ != N, Windows will happily recompute the right N from PQ. OpenSSL's check key on the other hand checks that. We could tackle this similarly as #33278. We could ha

[2019-06-26 02:24] WeihanLi commented on #22660
really needed for this

[2019-06-26 02:44] #38443 closed

[2019-06-26 02:48] stephentoub opened #38911 "Stress issues with HttpClient, Kestrel, and HTTP/2"
(I'm opening one issue right now because I don't have individual repros for each of the following issues, and it’s possible one or more are related.  We can decide if/when to break out individual issues.)

I wrote a simple stress program to exercise many concurrent requests from HttpClient against Kestrel, specifically for HTTP/2.  In doing so, I encountered a variety of failures in a very short p

[2019-06-26 02:49] danmosemsft commented on #31032
ping @cston.

[2019-06-26 02:54] danmosemsft commented on #34052
If pscp was the problem, we can close this.

[2019-06-26 02:54] #34052 closed

[2019-06-26 03:03] stephentoub commented on #38875
Been staring at it for a bit, and it doesn't look like there's a trivial fix here.  This issue has been here basically forever as far as I can tell, so while it'd be good to fix it, I think it's best not to try to rush a fix into 3.0.

[2019-06-26 03:07] safern commented on #38875
Thanks for confirming, @stephentoub

[2019-06-26 03:14] stephentoub commented on #38164
I haven't seen it again.

[2019-06-26 03:24] ahsonkhan commented on #38907
cc @layomia

[2019-06-26 03:34] danmosemsft commented on #37695
@AfsanehR this has broken CI jobs several times - is there something that can be done here?

[2019-06-26 03:37] wfurt commented on #38267
on a side note: didn't we have some environmental variables to cause more aggressive GC @stephentoub

[2019-06-26 03:42] danmosemsft commented on #38834
Fedora.29.Amd64.Open-x64:Debug

[2019-06-26 03:42] wfurt commented on #35717
sure. I'm on the road next few weeks @tarekgh but I can give it try easily when we have updated builds.

[2019-06-26 03:46] wfurt commented on #38820
I'll take a look. This is new test I added recently @geoffkizer. There was similar test I updated to avoid issues with timing.

[2019-06-26 04:01] wfurt commented on #38391
Can we tell somehow @wtgodbe ? Did you use 3.0.100-preview7-012592 from master or 3.0 branch?

[2019-06-26 04:10] jkotas commented on #22660
@WeihanLi What are the specific bits of information you need?

[2019-06-26 04:17] WeihanLi commented on #22660
Hi @jkotas , I wanna develop a monitor service, monitor the system cpu/memory/disk usage, if some usage above the level custom defined, send email or do something else to notify someone.

Currently, mainly for system memory & disk usage

[2019-06-26 04:28] jkotas commented on #22660
@WeihanLi None of the APIs listed in this issue return system cpu/memory/disk usage.

[2019-06-26 04:29] geoffkizer commented on #38911
Error 1 is strange; it could be a bogus frame from Kestrel, but it could also be we've got some problem reading frames where we're trying to read from the wrong offset or something like that.

[2019-06-26 04:32] WeihanLi commented on #22660
I came here from the issue here <https://github.com/dotnet/standard/issues/327> , should I open a new issue here?

[2019-06-26 04:45] ahsonkhan commented on #36125
To be clear, the conclusion was we wouldn't support `char` (specifically) for the reader/writer APIs. The previously approved APIs for smaller numeric types has already been checked-in by @WinCPP.

[2019-06-26 04:45] jkotas commented on #38821
The documentation for `TotalAvailableMemoryBytes` says:

[code]

Is part of this proposal to change what `TotalAvailableMemoryBytes` means? If not, I do not understand when the value returned by `TotalAvailableMemoryBytes` and `HardLimit` are going to differ - could you please shed some light on it?

[2019-06-26 04:46] davidfowl commented on #38911
This might be related to https://github.com/aspnet/AspNetCore/issues/11560 where Kestrel is currently cutting off HTTP/2 responses because of implementation differences between the `StreamPipeWriter` and the `DefaultPipeWriter`.

[2019-06-26 04:52] ahsonkhan commented on #38590
@mqudsi, also, the enum is backed by a byte and we have more than 8 enum values. Making it a flag wouldn't be feasible without also increasing the enum size to something like an int32, which does increase the struct size of anything that has TokenType as a field (for instance the `Utf8JsonReader`).

[2019-06-26 05:01] ahsonkhan commented on #38490
@buyaa-n, good point. We know that iForward is within the bounds. If iBackward is also within the bounds (and that is an invariant), we should add a Debug.Assert ther:

[2019-06-26 05:03] ahsonkhan commented on #38820
Failed again from https://github.com/dotnet/corefx/issues/38820

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38909~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190625.76/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2~2FHttp2_PendingSend_SendsReset

Centos.7.Amd64.Open-x64-Debug
 System.Net.Htt

[2019-06-26 05:25] halter73 commented on #38911
I agree with @davidfowl. This is the first issue I linked you to in our teams chat @stephentoub. At the time, I wasn't sure if you were running against our preview7 bits, but since you are, this seems like a very likely culprit.

Like @davidfowl mentions, it looks like a post-preview6 regression in Kestrel that was caused by Kestrel recently switching from using DefaultPipeWriter to using StreamPi

[2019-06-26 05:28] wfurt commented on #38911
should we re-run this with different version of asp.net or try it with IIS?

[2019-06-26 05:30] davidfowl commented on #38911
Downgrade to preview6 😄 or wait until we fix it.

[2019-06-26 05:40] geoffkizer commented on #38911
For simple cases (e.g. GET only) we can also use IIS.

I ran a version of this against local IIS (GET only, no cancellation, response = "Hello world") and ran for ~2 minutes with no errors. So that's good.

[2019-06-26 06:00] geoffkizer opened #38913 "HTTP2: STREAM_CLOSED error after request cancellation"
I found this issue by running @stephentoub's stress code from #38911 against local IIS, with the "GET w/ cancellation" operation enabled.

This results in a bunch of errors that look as follows:

[code]

I believe what's happening here is:
(1) We are cancelling the request, sending a RST_STREAM, and removing the stream from the stream dictionary before we've received the entire response
(2) The se

[2019-06-26 06:01] geoffkizer commented on #38911
We have an issue with receiving frames after cancellation that shows up if you enable the "GET w/cancellation" variation here. Filed issue #38913.

[2019-06-26 06:02] geoffkizer commented on #38913
@wfurt, why aren't cancellation tests catching this? It's not really stress related. Can you point me to the relevant tests?

[2019-06-26 06:05] geoffkizer commented on #38913
We should ensure we have tests that send additional frames after receiving a RST_STREAM from cancellation (or other error) and ensure that this doesn't cause a connection error, and that subsequent requests can succeed on the same connection.

[2019-06-26 07:04] #35528 closed

[2019-06-26 07:13] YohDeadfall commented on #38414
Should this issue be assigned to @tannergooding then?

[2019-06-26 07:24] wfurt commented on #38913
OK. I'm also working on porting some older tests to GenericLoopback but they may not cover this as HTTP/1 is quite different.

[2019-06-26 07:25] ahsonkhan commented on #38414
Sure, if you prefer. The issue is fixed either way :p

[2019-06-26 07:27] #38894 closed

[2019-06-26 07:42] geoffkizer commented on #38913
Yeah, unfortunately, cancellation is one area where things work quite differently between HTTP/1.1 and HTTP2.

[2019-06-26 07:53] kdg3737 commented on #1942
I recently had a use case for a TryAdd where I needed to update an existing value in the dictionary in case the key already existed. Thought I'd share the solution since the proposals here don't cover this:

[code]

 The TryAdd method:

[code]

The changes to the Insert method (copied from Dictionary.cs, mostly):

[code]

[2019-06-26 08:26] WeihanLi opened #38914 "Question: is there an api to get system cpu/memory/disk usage"
Is there an api to get system cpu/memory/disk usage?

[2019-06-26 08:34] azhukov87 opened #38915 "Path.GetFileName has different logic from .NET 4.8 Framework"
Hello,

I faced different behavior of Path.GetFileName in .Net core 2.2 and .Net.Framework 4.8

[code]

[2019-06-26 08:51] Gnbrkm41 commented on #38914
[Looks like you can use System.Diagnostics.PerformanceCounter](https://stackoverflow.com/q/4679962)

[2019-06-26 08:51] hughbe opened #38916 "Failing unit test locally on mac: ProcessWaitingTests.WaitForSignal"
[code]

[2019-06-26 08:52] hughbe opened #38917 "Failing unit test locally on mac: BitmapTests.GetFrameCount_NewBitmap_ReturnsZero"
[code]

[2019-06-26 08:57] WeihanLi commented on #38914
Thanks @Gnbrkm41 , but this seemed not to be acrossed platforms, I wanna use it for linux platform

[2019-06-26 09:01] geoffkizer commented on #38913
#38918 improves this, but I'm still seeing exceptions because it's possible that a request is cancelled while we are in the middle of processing a HEADER or DATA frame. That is:

(a) we successfully retrieve the http2Stream from the dictionary
(b) request is cancelled, setting its state to aborted
(c) we get a callback like OnResponseHeader, and we throw because the request is now aborted

We need

[2019-06-26 09:09] JamesNK commented on #38391
That was from master. I haven't re-tested on a newer build. I'm on holiday until Thursday.

[2019-06-26 09:15] AriNuer opened #38919 "Test failure: System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test/SetDelegate_ConnectionSucceeds(acceptedProtocol: Tls, requestOnlyThisProtocol: False)"
Test `System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test/SetDelegate_ConnectionSucceeds(acceptedProtocol: Tls, requestOnlyThisProtocol: False) ` has failed.

Message :
[code]
Stack Trace :
[code]
Build:- [20190625.93](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/

[2019-06-26 09:18] wfurt commented on #38391
Thanks @JamesNK . I'm all the road as well. I'l grab a build and I'll try to rerun posted test.

[2019-06-26 09:30] Wraith2 commented on #38900
I think this may be the same issue as https://github.com/dotnet/SqlClient/issues/84 whereby the connection is in a transaction when it is returned to the pool and the state isn't detected and resolved. There isn't a clear resolution or way to doom that specific connection so it isn't restored to the pool that i'm aware of currently but it might be worth investigating.

If you can programatically d

[2019-06-26 09:50] qmfrederik commented on #20884
I spent some time testing libgdiplus using the CoreFX test suite. I did that by building libgdiplus on Windows, and manually patching corefx code so that it would use libgdiplus.dll instead of gdiplus.dll.

I currently see about ~75% of all drawing tests passing on libgdiplus on Windows.

Here are a couple things I learned:
- There were a couple of bugs which would cause the process to crash. mono

[2019-06-26 10:29] hughbe opened #38920 "Code coverage on System.ComponentModel.TypeConverter isn't working"
[code]
![image](https://user-images.githubusercontent.com/1275900/60172927-9e52dd80-9805-11e9-8174-1bb8b10d4961.png)

[2019-06-26 10:36] MarcoRossignoli commented on #38769
Yep we discuss this update [here](https://github.com/dotnet/corefx/pull/38262#discussion_r291296312)
My first idea was emit properties with `Dictionary<string,JsonElement>` and standard dictionary for `Dictionary<string,object>` https://github.com/dotnet/corefx/pull/38306#issue-285800992 but at the end we decided to emit simple dictionary for every pairs.
Seem that alg should be more clever and "r

[2019-06-26 10:43] dmytro-gokun commented on #38900
@Wraith2 I do not think this is the same bug as https://github.com/dotnet/SqlClient/issues/84. That bug is about two different connections and this one about a connection in an invalid state being returned to the pool and then re-used while being in an invalid state which causes silent data access problems. Please read my description of the bug above. It's 100% bug which may has very  serious cons

[2019-06-26 11:39] ahsonkhan commented on #38769
This issue is primarily talking about serialization (not deserialization). On serialization, we don't want to emit the name of the dictionary property that has `[JsonExtensionData]` on it since that dictionary is only meant for capturing overflow and round-tripping.

[2019-06-26 11:54] stevejgordon opened #38922 "JsonElement - Support returning values as ReadOnlyMemory<byte>"
I've very recently begun using JsonDocument and in my scenario, it would feel really useful if I could get the value of a property via JsonElement I am returned from GetProperty() without allocating. Today it seems that I need to allocate a string to access a string value.

The scenario I'm working on is an optimised ASP.NET Core service which has a single endpoint mapped. I'm then using the BodyR

[2019-06-26 11:56] ULSTechology commented on #13532
A lack of support for distributed transactions is pretty disastrous for anyone wanting to migrate their old system onto .NET Core.

This puts an end to our hopes that we can start using Blazor - we can't rewrite our entire application to work without transactions, there's just too much of it.

[2019-06-26 11:59] popcatalin81 commented on #13532
Surely, if you can rewrite for Blazor, which is a significant rewrite anyway, you can also eliminate distributed transactions.

[2019-06-26 12:07] ULSTechology commented on #13532
Using Blazor requires a rewrite of the UI, and we can start small with that.

Rewriting large chunks of our business layer is a whole other matter. It's not an option we could even consider at the moment.

[2019-06-26 12:13] ahsonkhan commented on #38922
cc @bartonjs

[2019-06-26 12:43] ahsonkhan opened #38927 "Utf8JsonReader.BytesConsumed when skipping single line comments (multi-segment) doesn't match expectations"
As part of removing `BytesConsumed` from `JsonReaderState` (https://github.com/dotnet/corefx/issues/35252), I found that some of the tests were not doing what they were intending to do, mainly:
`SkipSingleLineCommentSingleSpanTest`
`ConsumeSingleLineCommentSingleSpanTest`
`SkipSingleLineCommentMultiSpanTest`
`ConsumeSingleLineCommentMultiSpanTest`

Once fixed (in https://github.com/dotnet/corefx/p

[2019-06-26 12:56] stephentoub commented on #38916
What OS distro and version? What command did you run (e.g. just this test project? All tests?)? Etc

[2019-06-26 12:57] stephentoub commented on #38917
What OS version?

[2019-06-26 13:01] hughbe commented on #38917
![Screenshot 2019-06-26 at 14 00 44](https://user-images.githubusercontent.com/1275900/60181751-d0bb0580-981a-11e9-9a30-6cfa0ca4d855.png)

[2019-06-26 13:01] hughbe commented on #38916
![Screenshot 2019-06-26 at 14 00 44](https://user-images.githubusercontent.com/1275900/60181765-d7497d00-981a-11e9-9a4c-73241c40d6fb.png)

Ran `./build.sh -test` from root

[2019-06-26 13:08] RobertBouillon commented on #37918
I do have some short answers to your questions, but a lot of my ire for the current implementation comes from various painful use-cases which would probably be too verbose for git comments. Also, I think the scope of such a change could be akin to the recent Span change, so there's the risk vs. reward argument we'd really need to explore as well. With Span, I think the reward justified the risk. I

[2019-06-26 13:34] MarcoRossignoli commented on #38769
@ahsonkhan some more infos, I found time to do some tests https://github.com/dotnet/corefx/compare/master...MarcoRossignoli:json_extensions and if I'm not mistaken code always emitted dic name also before that PR, I reverted the code(with `WriteExtensionData` inline) and tried to serialize <string,JsonElement> and get same result `{"Id":0,"Extensions":{"test":"world"}}`

[2019-06-26 13:36] #33982 closed

[2019-06-26 13:36] #34024 closed

[2019-06-26 13:36] #34051 closed

[2019-06-26 13:38] stephentoub opened #38931 "AV in Interop+crypt32.PFXExportCertStore"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38912~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190625.90/workItem/System.Net.Security.Tests/wilogs
[code]
cc: @bartonjs

[2019-06-26 13:42] ahsonkhan commented on #38769
That's good info. Thanks for sharing @MarcoRossignoli

@steveharter, looks like our previous assumption was incorrect.

[2019-06-26 13:44] Gnbrkm41 commented on #38267
@wfurt `COMPlus_GCStress`?

[2019-06-26 13:46] #38510 closed

[2019-06-26 13:46] #36939 closed

[2019-06-26 13:48] stephentoub commented on #38920
cc: @ViktorHofer

[2019-06-26 13:52] stephentoub commented on #38915
cc: @JeremyKuhne

[2019-06-26 13:56] stephentoub commented on #38836
Happened again here:
https://github.com/dotnet/corefx/pull/38804#issuecomment-505759528

- Catastrophic failure on Windows.7.Amd64.Open-x64 for System.Net.Http.Functional.Tests:
[code]

cc: @tmds

[2019-06-26 13:59] stephentoub commented on #38913
This same error message shows up as "Error 8" in https://github.com/dotnet/corefx/issues/38911.  I assume it's the same root cause, even though the call stack is different?

[2019-06-26 14:03] MarcoRossignoli commented on #38769
I try to help more with my thought, hope help...the problem seem that the check for `state.Current.JsonClassInfo.DataExtensionProperty` was done(before we remove it) inside `HandleDictionary` too late, [after we write start(object or array)](https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.HandleDictionary.cs#L46)
Maybe we sh

[2019-06-26 14:20] bartonjs commented on #37595
* Failing if Windows changed N makes sense (because it's not related to the public key you told everyone it was).  The other parameters aren't as inviolate, CNG Windows 7, 8(.1), and 10 TH1-RS..3? all ignore D/DP/DQ/QInv and recompute D-lambda (which is smaller than D-phi) and the smaller CRT parameters.  RS5 (and maybe 4) at least exports using D-phi instead of D-lambda, so that the keys looked m

[2019-06-26 14:23] Thanood commented on #34879
@davidsh, @karelz If you still need confirmation, I ran into a similar problem and updated our Linux server (Ubuntu 16.04 LTS) to use .Net core 3 preview.

After the update it works flawlessly. 👍

[2019-06-26 14:23] ViktorHofer commented on #38920
Everything seems right here. Can you please try it with another assembly? Does this happen on a clean build?

[2019-06-26 14:26] bartonjs commented on #38931
I don't suppose we have an inspectable dump?

[2019-06-26 14:27] stephentoub commented on #38931
You're funny.

[2019-06-26 14:28] hughbe commented on #38920
I ran this with `System.Collections.Specialized` which worked. `System.ComponentModel.TypeConverter` doesn't seem to work
[code]

[2019-06-26 14:32] #36714 closed

[2019-06-26 14:35] #35252 closed

[2019-06-26 14:37] ViktorHofer commented on #38920
Coverage measurement does't work for all assemblies, I'm not immensely surprised. I haven't yet root-caused the issue.

[2019-06-26 14:39] ViktorHofer commented on #38888
./build.sh -restore -build -buildtests -test (for a full build + test)

[2019-06-26 14:42] hughbe commented on #38888
Yup... figured that out yesterday but forgot to close this issue. Thanks for looking anyways :D

[2019-06-26 14:42] #38888 closed

[2019-06-26 14:44] ViktorHofer commented on #38886
Can you still repro this one? If yes, can you please add the /bl option and upload the binlog here?

[2019-06-26 14:48] GrabYourPitchforks commented on #38922
I feel strongly that such an API would encourage misuse. The raw bytes coming from a JSON payload are in a JSON-specific format (using JSON-specific escaping, for instance) and aren't in a format that's immediately usable by any other consumer. In the example linked to here, the application should already be further processing the data by escaping it in a manner appropriate for inclusion in a URL.

[2019-06-26 14:59] bartonjs commented on #38922
The design of JsonDocument/JsonElement is such that the underlying data encoding is never exposed to the caller.  Should future needs warrant adding a UTF-16-based JSON reader or a UTF-32-based JSON reader these could be used as internal implementation details by JsonDocument.  Once JsonElement exposes an encoding, this stops being practical.

Exposing the bytes is also difficult with plans, post-

[2019-06-26 15:01] hughbe commented on #38886
Yeah I could reproduce this in the following situation:
- Using `dotnet msbuild ...` instead of `<repo-root>/.dotnet/dotnet msbuild ...`

Guessing the first half is not a supported scenario?

What I did was uninstall .NET Core completely from my mac using the https://github.com/dotnet/cli/blob/master/scripts/obtain/uninstall/dotnet-uninstall-pkgs.sh script.

Then I'm building like: `/Users/hugh/Do

[2019-06-26 15:05] msedi commented on #28433
I would widen this request to initialize a Vector<T> with Span<T>. Currently you always have to allocate an array to feed the new instance of Vector<T> with new data.

In some scenarios where you really need performance (e.g. bilinear interpolation) you need to fill a lot of interpolation partners. Currently, first you have to load your interpolation partners in a newly allocated arrays, which you

[2019-06-26 15:10] ViktorHofer commented on #38886
Which dotnet version have you had installed? The minimum required version is 3.0.0-preview6 (https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md) - I know this points to the windows instructions, we should probably put that into a more centralized place.

[2019-06-26 15:10] ViktorHofer commented on #38886
The first half is supported if the locally installed dotnet meets the minimum requirements

[2019-06-26 15:26] stephentoub commented on #38911
Most of these failures do appear to be due to Kestrel (presumably the known regression(s) mentioned by @davidfowl and @halter73).  I just tried running with a hacked together Preview7 System.Net.Http but a Preview6 Kestrel.  Running with 200 concurrent requests on the same client, and removing the cancellation client operations from the mix (#38913), I successfully ran for several minutes without

[2019-06-26 15:28] hughbe commented on #38886
![image](https://user-images.githubusercontent.com/1275900/60193347-69f41700-982f-11e9-8b5b-5078a2fa9292.png)

I previously had 2.2.0 installed - this may have been the problem!

[2019-06-26 15:30] ViktorHofer commented on #38886
Oh right, you need at least 3.0-preview6. I'll close this issue.

[2019-06-26 15:30] #38886 closed

[2019-06-26 15:32] hughbe commented on #38886
Amazing! I was under the impression that we symlinked the relevant SDK into the /usr/local/share/dotnet folder - at least I saw that in the output. How come therefore we can't use `dotnet` like we used to be able to before arcade?

[2019-06-26 15:33] MattGal commented on #38931
@stephentoub actually we would, except for a bug;  the initial implementation of the automatic dump system hard-codes the debugger path as ""C:\Program Files (x86)\Windows Kits\10\Debuggers""... which on Spanish is actually found under  "C:\Archivos de programa (x86)" :(

I filed https://github.com/dotnet/core-eng/issues/6811 and will make the 1-liner fix today, but rolling out is blocked on Previ

[2019-06-26 15:36] Meyce opened #38939 "Can System.Threading.Channels internal types be made public?"
I've created a custom channel implementation that draws heavily from the Bounded and Unbounded Channel implementations.  I've copied some types from System.Threading.Channels for the implementation I'm working on to use such as AsyncOperations.cs and ChannelUtilities.cs.  Is there any chance these could be exposed publicly so that I don't have to maintain them?

[2019-06-26 15:41] bartonjs commented on #38444
@davidsh Debian 10 is run in the rolling builds for 3.0; these tests either should be fixed, or disabled so they don't interfere with release/3.0 hygiene.  (As release/3.0 gets closer to RTM eventually we'll make all configs also be run on PRs)

[2019-06-26 15:46] carlossanlop commented on #38915
@JeremyKuhne can provide more details on why the behavior is different. I will mark this issue as Future because there are known differences between the two implementations, which were improved in .NET Core.

[2019-06-26 15:46] ViktorHofer commented on #38886
You can use as it used to be before arcade. There was always a min version requirement, it just wasn't that important before as with 3.0.

[2019-06-26 15:47] ViktorHofer commented on #38886
Let me know if you need more help or if you think we update our docs :)

[2019-06-26 15:49] #32710 closed

[2019-06-26 15:56] iBeech opened #38941 "Process.HasExited does not return on Linux when run via reflection"
# Issue Title

Process.HasExited does not return when executing via reflection

# General

Running .NET Core 3.0 Preview 6. I have reproduced this issue on Windows / OS X / Linux.

When I execute the following method, the process executes and waits until complete, as expected:

[code]

However, when the same code is invoked via reflection, the process starts, as expected, but p.WaitForExit() never

[2019-06-26 15:58] carlossanlop commented on #38941
@steveharter, @GrabYourPitchforks @wtgodbe  the Dotnet-GitSync-Bot autotagged this issue in the System.Diagnostics area, but I'm wondering if it should be part of the System.Reflection area instead. Can you please confirm?

[2019-06-26 15:58] krwq commented on #38927
I think this might be already fixed in my PR: https://github.com/dotnet/corefx/pull/38036 - we got merge conflict with your latest changes so will need to rebase that

[2019-06-26 16:00] bartonjs commented on #38931
There's a chance that this is related to a known race condition in Windows PFX telemetry (we've previously hit it/one in PFXImportCertStore) which is fixed in RS5 (but we'd need the native callstack to see if crypt32!TlgRegisterAggregateProviderEx is involved).

https://github.com/dotnet/corefx/issues/30044#issuecomment-393935807 was the import-related one.

[2019-06-26 16:07] MattGal commented on #38931
The aforementioned fix is out for PR, not much good that it'd do you.  I also dug a bit and noted this specific test has only failed with similar error 134x in the last month, so it's certainly not recently introduced.

Out of curiousity since RS4 is still technically supported, should we have a workaround for the race condition in the platform or is that not a good idea?

[2019-06-26 16:12] wtgodbe commented on #38391
`3.0.100-preview7-012592` was built against core-sdk commit `3cea274e447d0a0934b69cde9b04ff5c0d5c28af` (I got this by opening the zip file, and navigating to `sdk/3.0.100-preview7-012592/.version`).

That version of core-sdk consumed Core-Setup commit e1d780539e85f4d8de263957715f9d08db2ceef4: https://github.com/dotnet/core-sdk/blob/3cea274e447d0a0934b69cde9b04ff5c0d5c28af/eng/Version.Details.xml#L

[2019-06-26 16:16] #38626 closed

[2019-06-26 16:26] gfraiteur opened #38944 "Portable PDB specification dot not match the implementations: Module table should not be copied"
The [Portable PDB Specification](https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/specs/PortablePdb-Metadata.md) specifies:

Microsoft implementations of the specification does not copy the Module table to the `#~` stream, but only references it. Visual Studio Code Coverage, and `dumpbin /pdbpath:verbose` do not work when a Portable PDB has the Module table in the PDB Fi

[2019-06-26 16:26] bartonjs commented on #38931
Windows' opinion (IIRC) is that since this is only hit by parallel engagement during the first call (down any path that has unique PFX-related telemetry providers) and that almost no one (other than our tests) does parallel PFX work on their first PFX interaction that it wasn't worth servicing.  Mine is that if our tests are the only thing in the world hitting it, it's not worth complicating the p

[2019-06-26 16:35] tarekgh commented on #38944
Issue moved to [dotnet/coreclr #25432](https://github.com/dotnet/coreclr/issues/25432) via [**ZenHub**](https://www.zenhub.com/)

[2019-06-26 16:37] stephentoub commented on #38939
Thanks for the interest.  We would not just publish these types as public.  They're just implementation details, with no attention paid to the general use, shape, impact, etc. of the APIs.  If there are specific APIs you believe should be added to the library publicly (regardless of whether they currently have implementations), please submit those as dedicated API proposal issues.  As currently wr

[2019-06-26 16:37] #38939 closed

[2019-06-26 16:42] hughbe commented on #38916
Can't repro when running individual tests, but can during the full test run

[2019-06-26 16:43] BrennanConroy commented on #36714
Here is the perf difference from before and after, looks good!

Method |          Input |    HubProtocol |        Mean |        Error |       StdDev |        Op/s |  Gen 0 | Allocated |
------------------- |--------------- |--------------- |------------:|-------------:|-------------:|------------:|-------:|----------:|
WriteSingleMessage |   FewArguments |           Json |  1,662.9 ns |    31.874

[2019-06-26 16:44] tannergooding commented on #28433
`Vector<T>` already has `CopyTo(System.Span<T>)`. This was added in https://github.com/dotnet/coreclr/pull/23333.

`Vector2/3/4` do not have it and I would be fine with adding them, but would like the existing proposal (or a new one given it hasn't been updated by the OP in over a year), following the `good example` @ahsonkhan listed https://github.com/dotnet/corefx/issues/28433#issuecomment-37584

[2019-06-26 16:45] tannergooding commented on #28433
Tuple deconstruction should be in its own issue and follow the good example as well @dangi12012.

[2019-06-26 16:48] Meyce commented on #38939
Thanks.  The AsyncOperations is primarily what I am after.  As you pointed out in https://devblogs.microsoft.com/dotnet/understanding-the-whys-whats-and-whens-of-valuetask/ implementation of IValueTaskSource are complex, hence my want to use something that is built and working.  The article also points to the type `ManualResetValueTaskSourceCore<TResult>`.  I haven't looked into working with this

[2019-06-26 16:48] stephentoub commented on #38941
@iBeech, can you please share a standalone repro of the problem that we can compile and run?

[2019-06-26 16:49] steveharter commented on #38550
@ahsonkhan  I'll take a look at this again based on our conversation.

[2019-06-26 16:52] msedi commented on #28433
@tannergooding: You are right, CopyTo is there, but correct me if I'm wrong there's nothing for the constructor, right? So I cannot do something like

[code]

Currently only this is possible:
[code]

which could cause pressure on the GC when doing this in a loop in x/x direction over many data points.

[2019-06-26 16:52] stephentoub commented on #38939
Please first look at `ManualResetValueTaskSourceCore<TResult>`; creating a class that implements the IValueTaskSource interface is trivial when using that type, with the interface method implementations just delegating to members of that struct, e.g.
https://github.com/dotnet/corefx/blob/637e109e7d085b8c01b5ba22521c021f8204ff12/src/Common/tests/System/Threading/Tasks/Sources/ManualResetValueTaskSo

[2019-06-26 16:53] ahsonkhan commented on #38927
I tried testing on top of your change and the issue still exists.

[2019-06-26 16:54] joperezr commented on #38671
The problem here seems to be that the System.Memory Facade that is inbox in Xamarin don't have the required typeforward in order for things to work properly. This seems to have been fixed in Xamarin already, by this PR: https://github.com/mono/mono/pull/14344
This means that in theory this will be fixed in the future versions of Xamarin. I would ask @marek-safar to get more info into which version

[2019-06-26 16:54] #38671 closed

[2019-06-26 16:56] tannergooding commented on #28433
The `Vector(Span<T>)` constructor has existed for over a year now and was added in https://github.com/dotnet/coreclr/pull/16733.

The `Vector(ReadOnlySpan<T>)` constructor was added in the https://github.com/dotnet/coreclr/pull/23333 PR I linked above.

[2019-06-26 17:00] msedi commented on #28433
@tannergooding: Thanks a lot for pointing this out. I did it today, but I looked it up again. According to the docs it only works for .NET Standard 2.1 Preview, whereas I am on .NET Standard 2.0.

[2019-06-26 17:04] benaadams commented on #28433
But you can do
[code]

[2019-06-26 17:04] iBeech commented on #38941
I’ll get something together ASAP.

    	Get Outlook for iOS

On Wed, Jun 26, 2019 at 5:49 PM +0100, "Stephen Toub" <notifications@github.com> wrote:

@iBeech, can you please share a standalone repro of the problem that we can compile and run?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-06-26 17:06] msedi commented on #28433
@benaadams 👍 This might help. I'll give it a try.

[2019-06-26 17:12] davidsh commented on #34879
After the update everything works flawlessly. 👍

Thanks for the verification!

[2019-06-26 17:18] davidsh commented on #38444
There seems be other Debian 10 TLS/SSL related failures, see #38919  I think there is some issue with OpenSsl on Debian 10 that needs further investigating.

[2019-06-26 17:19] Meyce commented on #38939
@stephentoub.  Because I am doing an implementation of Channel<T> I am interested in "internal surface area" of AsyncOperation.  My implementation has similarities with `UnboundedChannel.cs` which relies on `AsyncOperation.cs`.  When you say that `AsyncOperation<T>` will eventually be gutted and based on MRVTSC, would that implementation be public?

[2019-06-26 17:19] andy-ms commented on #38821
@jkotas Details are in the PR #25437 -- TotalAvailableMemoryBytes did *not* reflect a manually set hard limit before, so I didn't change what it means, just updated the documentation.

[2019-06-26 17:25] Anipik commented on #38903
Microsoft.win32.SystemEvents is a windows only library. So you wont be able to use any these apis or events on any other Operating System

[2019-06-26 17:27] JeremyKuhne commented on #38915
Thanks for the report! This is expected. .NET Framework incorrectly assumed that the colon was always a volume separator. What you gave are all filenames. `"test:.jpg"` is a valid filename on NTFS/ReFS. It refers to an alternate data stream on `"test"`. The default data stream name is `""` (or `"test:"` more specifically).

`Path.GetFileName()` now uses `Path.GetPathRoot()` which correctly handles

[2019-06-26 17:31] krwq opened #38948 "Json tests sensitive to git line endings normalization"
Currently many json tests will fail if files got converted to use any other line endings than LF.

It makes it a bit annoying to work with on Windows.

[2019-06-26 17:35] stephentoub commented on #38911
I spoke a bit too soon.  Again using the latest HttpClient bits (built from master this morning) but Preview6 kestrel, setting ConcurrentRequests to 10 and setting AppxContentLength to 50_000, and commenting out the cancellation actions, I started hitting the following error eventually (note I’m also now on my less powerful laptop, as my office’s power went out, so it might require larger numbers

[2019-06-26 17:36] stephentoub commented on #38911
Also hit Error 7 again:
[code]

[2019-06-26 17:37] #33058 closed

[2019-06-26 17:41] #38872 closed

[2019-06-26 17:47] karinazhou commented on #37695
Hi @danmosemsft ,
Sorry for the late reply. We have created a backlog item to work on this.

[2019-06-26 17:51] JeremyKuhne commented on #38834
https://github.com/dotnet/corefx/blob/09f4f7ed59992bc7bff6fe42bc75ef5b08c8c4e2/src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.CurrentUserOnly.netcoreapp.Unix.cs#L26

[2019-06-26 17:57] geoffkizer commented on #38911
Re error 11, where is this exception coming from?

[2019-06-26 18:04] BCSharp commented on #37969
I believe this is truly a bug in Full Framework that has already been reported (#29898) and fixed in Core 3.0.0-preview4-27615-11.

Note that the incorrect index is only happening for `GetCharCount` (or `GetChar` overloads that depend on `GetCharCount`), which underreports the index by the length of `BytesUnknown`. I agree with @slozier that it is possibly due to backtracking the input buffer poin

[2019-06-26 18:09] geoffkizer commented on #38911
Re error 11, this line looks suspect: https://github.com/dotnet/corefx/blob/f0ec881bbb7945e35e3cf6862ea309b1143659f7/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs#L1008

We're probably usually just getting lucky that there's enough space.

Seems like we could catch this sort of thing a bit better by returning a Memory<byte> from StartWriteAsync and writing into it,

[2019-06-26 18:10] geoffkizer commented on #38913
I assume so, yeah.

[2019-06-26 18:20] ericstj commented on #36577
I have some tooling for this that I'm currently manually running and will commit to master for vNext.  So far the only redundant references are not part of packages.

[2019-06-26 18:20] jkotas commented on #38821
I do not think we should be introducing this API. Instead, we should fix TotalAvailableMemoryBytes to return the amount of memory that the GC can play with.

I do not think it makes sense for GCMemoryInfo.TotalAvailableMemoryBytes to return total amount of memory on the machine that has nothing to do with the GC.

What are the use cases for each of `GCMemoryInfo.TotalAvailableMemoryBytes` and `GCM

[2019-06-26 18:34] JamesNK commented on #38769
I'll pre-empt someone bringing this up as an issue: it is valid to have duplicate names in a JSON object.

[code]
Would result in:
[code]
This is valid JSON.

Note that if you deserialize it, it won't exactly roundtrip. The extension data dictionary will be empty and the Name property will be "Extension data name!" (because it is last, and the deserializer doesn't track that a property has already

[2019-06-26 18:41] #38668 closed

[2019-06-26 18:43] ericstj commented on #30960
I scanned through all packages which are currently inbox for netcoreapp.  The following are candidates for freezing:
- Microsoft.CSharp - currently frozen version but still building the ref.  It's identical to last release, we can clean this up in vNext
- System.ComponentModel.Annotations - problem here.  API added this release to netstandard ref and package is still claiming to be inbox in netcor

[2019-06-26 18:43] hughbe opened #38951 "DateTimeOffsetConverter bug: does not actually support InstanceDescriptor"
This does work in .NET Framework!

https://referencesource.microsoft.com/#System/compmod/system/componentmodel/DateTimeOffsetConverter.cs,139

[2019-06-26 18:44] stephentoub commented on #38911
I switched over to a debug build of System.Net.Http.dll and got this:
[code]
which suggests it's coming from here:
https://github.com/dotnet/corefx/blob/797afb9194c3d69a12e838b331179043a61c9542/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs#L1023

[2019-06-26 18:49] davidfowl commented on #38911
that `_outgoingBuffer` looks alot like a `PipeWriter` (I couldn't help it)

[2019-06-26 18:53] geoffkizer commented on #38911
It does indeed! And it's only 130 lines of code :)

[2019-06-26 18:54] #34358 closed

[2019-06-26 18:55] safern commented on #38896
Already started tackling this guy. Assigning.

[2019-06-26 18:58] #33710 closed

[2019-06-26 19:36] jvandertil commented on #13696
ping @karelz

I'm willing to pick this one up, and check the other LINQ functions that accept a predicate as well (First/FirstOrDefault/Single/Any/etc.). But I need a direction to go in.

Would it be acceptable to convert `First(predicate)` in to calling `.Where(predicate).First()` instead of the current implementation, maybe as a starting point?

[2019-06-26 19:50] #33321 closed

[2019-06-26 19:50] #37931 closed

[2019-06-26 19:54] stephentoub commented on #13696
No, that would result in at least one extra allocation.

[2019-06-26 20:03] anmenaga commented on #26494
@Thanks a lot @davidsh , this is great info!
You mentioned that on .NET Core 2.1 and  .NET Core 3.0 `the default HttpClientHandler that you create (or implicitly via new HttpClient() will use SocketsHttpHandler as the implementation`, so a code like this will use `SocketsHttpHandler` internally?
[code]
What is the easiest way to verify that `SocketsHttpHandler` is being used internally and it is a

[2019-06-26 20:10] davidsh commented on #26494
You can always the debugger to step into the code. The sources should download if you've turned on Visual Studio and 'source server' etc.

You can also turn on System.Net tracing as well:
https://github.com/dotnet/corefx/blob/master/Documentation/debugging/windows-instructions.md

See 'Use PerfView'

[2019-06-26 20:17] davidfowl commented on #38911
Great minds...

[2019-06-26 20:18] skalldri opened #38958 "XmlSchema parsing of <xs:import> nodes does not work"
I've discovered a bug in the .NET Core implementation of some of the XML Schema parsing functionality. This functionality works fine in .NET Framework, but is broken in .NET Core.

The broken functionality relates to importing XSD schemas for validation. When trying to import a second XSD document into a root XSD document, .NET Core does not parse the contents of the child XSD document. This is vi

[2019-06-26 20:21] steveharter commented on #38802
Please add additional hits. The code was refactored and this may be fixed.

The regression was likely [here](https://github.com/dotnet/corefx/pull/38705/files#diff-d94322d11e50b60b48c128b06c14bf1dR69) to address this [issue](https://github.com/dotnet/corefx/issues/38528). This does a HashSet.CopyTo which on multiple threads could cause overlapping on the array.

The code was recently [refactored ]

[2019-06-26 20:28] ericstj commented on #38849
This library also exposed members missing from netcoreapp2.0:
[code]

This library needs to refactor its references, and potentially consider treating itself as out-of-box for netcoreapp if folks intend to continue to add surface area.

[2019-06-26 20:34] ericstj commented on #38849
/cc @lajones, @divega, @ajcvickers these need to be fixed for 3.0

[2019-06-26 20:35] ericstj commented on #30960
I'll use https://github.com/dotnet/corefx/issues/38849 to track the fixes to System.ComponentModel.Annotations.  This issue can track the clean-up for vNext.

[2019-06-26 20:41] walterpg opened #38960 "System.Drawing.FontConverter string parsing problem"
Hi all,

`ConvertFrom` returns a `Font` instance when the "size" component of the string is missing the "unit" specifier.  For example,

[code]
In corefx, `myFontString` is `"Courier New, 8px"`, whereas in desktop the value is `"Courier New, 11.5pt"`.  `ConvertTo` appears to be reflecting the `myFont` instance correctly in each case.

There appears to be at least these two differences with FontCon

[2019-06-26 20:42] krwq commented on #38958
@skalldri could you set XmlResolver on XmlSchemaSet (settings.Schemas)?

[2019-06-26 20:43] ajcvickers commented on #38849
@ericstj Does this mean that if we need to target .NET Standard 2.0 with this package, then we these changes need to be reverted? (I don't think that targeting a different .NET Standard is an option here.)

[2019-06-26 20:48] JeremyKuhne commented on #37351
Can't get this to repro, closing.

[2019-06-26 20:48] #37351 closed

[2019-06-26 20:51] jkotas commented on #38944
@tarekgh Both the specification and the code that reads and writes the portable PDB format lives in CoreFX repo. Thus, this issue should live in CoreFX repo as well.

[2019-06-26 20:51] jkotas commented on #38944
cc @tmat

[2019-06-26 20:57] divega commented on #38849
The package already targets multiple TFMs, so at least for the members and types must exist issues we just need to be careful to add them conditionally for new TFMs. Do you see any reason not to add new targets?

[2019-06-26 21:05] skalldri commented on #38958
That seems to have fixed it. Thanks @krwq !

Any chance this behavior will become standard in future versions of .NET Core? It's odd that this works in .NET Framework but not in .NET Core, and I can't find any documentation on the topic.