[2017-03-08 04:56] ahsonkhan commented on #14376
@noahfalk, what do you think?

[2017-03-08 05:01] richlander commented on #8201
@preetikr

[2017-03-08 05:06] fujiy commented on #14376
If it is okay I will work with @mramosMS to send a PR.

[2017-03-08 05:13] jkotas commented on #14376
[code]

Span is stack-only type. It cannot be a field of a class. If you try to run this with fast Span on current CoreCLR, you should see `TypeLoadException: A value type containing a by-ref instance field, such as Span<T>, cannot be used as the type for a class instance field.`. It will be enforced by the C# compiler as well so this won't even compile by the time we are done.

[2017-03-08 05:25] danmosemsft commented on #16841
/cc @dcwuser 's area of expertise.

[2017-03-08 05:50] danmosemsft commented on #16825
The diff, or almost all of it, is due to the implementation of System.Data,SqlXml.dll being in there. That dll contained most of the XSL implementation, as internal API exposed to System.Xml.dll.

That still leaves a ~400KB discrepancy

 2,657,952 System.XML.dll
734,416 System.Data.SqlXml.dll
======
 3,804,672 System.Private.Xml.dll

There will be some extra due to implementation changes: for exam

[2017-03-08 05:59] danmosemsft commented on #16782
@terrajobst, thoughts?
I don't believe 1.x or Mono compatibility should be the primary consideration, to me the most interesting customer scenario is what would make it most likely that my Desktop library would work reasonably on Unix or if that's not possible then throw. And "reasonably" could be any of the three.

[2017-03-08 06:01] danmosemsft commented on #16430
@Jiayili1 this test now has more logging -- next time you see it failing, please grab all relevant parts of the log and paste the link to the log here.

[2017-03-08 06:13] Jiayili1 commented on #16430
@danmosemsft OK, I got it.

[2017-03-08 06:14] noahfalk commented on #14376
The local field issue I assume is avoidable by eagerly unpacking Span in the constructor and storing a U[] of items in the field instead.

I don't recall the extent of VIL's reflection support, but presumably if that is an issue we can replace it with nested internal types that can access private fields in ByReference and Span respectively.

I'd be a little suspicious if VIL can handle the Unsafe.

[2017-03-08 06:19] #15974 closed

[2017-03-08 06:33] Jiayili1 commented on #16688
15844 is repro, failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora23_release/1290/testReport/System.Diagnostics.Tests/ProcessWaitingTests/SingleProcess_EnableRaisingEvents_CorrectExitCode_exitCode__0_/

[2017-03-08 06:42] Jiayili1 commented on #16430
Failed again on OuterLoop_Windows8.1_debug ([build#124](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug/lastCompletedBuild/testReport/))

Message:
[code]

Stack Trace:
[code]

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug/lastCompletedBuild/consoleText

[2017-03-08 07:00] saurabh500 commented on #16430
this failure is from the morning of 3/7
The test runs show TDS logs being recorded from `[3/7/2017 10:55:24 AM]`
The build timestamp is Build #124 (Mar 7, 2017 10:43:11 AM)

This run doesn't have the logging changes. They were merged during the PM of 3/7

[2017-03-08 07:00] MichalStrehovsky commented on #16769
Sounds related to custom attribute duplication seen with .NET Native in azure/autorest#1542

[2017-03-08 08:41] wapac commented on #13114
@davidsh sorry, not sure how this works if the issue is marked as closed, so just in case, I'm pinging you to let you know there is an update

[2017-03-08 09:57] fujiy commented on #14376
@jkotas, you are right, but I don't know how it is actually working in VS2017.

@noahfalk, I intend to remove reflection in final implementation. I'm using reflection because I'm testing using a type proxy declared in my Console project, so I don't need to recompile CoreClr every time.

[2017-03-08 11:01] BharatRajMeriyala commented on #16598
This is what I get on my docker machine...

$ curl --user asdf\xxxx:xxxx "http://xx.xxx.xxx.xxx/ReportSer
ver/Pages/ReportViewer.aspx?%2fXXXX_XXX%2fXXXXX&rs:Command=Render&rs:for
mat=pdf"
[1]+  Done                    curl --user asdf\xxxx:xxxx http:
//xx.xxx.xxx.xxx/ReportServer/Pages/ReportViewer.aspx?%2fXXXX_XXX%2fXXXXX

[2017-03-08 11:02] BharatRajMeriyala commented on #16598
Can you tell me how exactly I can do that?

[2017-03-08 11:29] #16662 closed

[2017-03-08 12:06] dennisdietrich commented on #16289
@danmosemsft Not really. As a (former) SDET I'm quite happy to resort to reflection (I know that changing the public API is subject to an approval process). But given your last comment and @AnthonyDGreen's statement I'll remove ```Strings.Left(String, Int32)```. Also, I already have hit this with another, (truly) public method so I still believe that this is a general issue with the resources (see

[2017-03-08 12:14] tmds commented on #16201
@Priya91 if the issue is occuring on some machines and not on others, perhaps we learn something by looking at difference in versions of the nss and curl packages on a working vs failing machine?
[code]

[2017-03-08 12:23] stephentoub commented on #13114
Reopening as a repro was provided...

[2017-03-08 12:46] stephentoub opened #16850 "Distinguish x86 and x64 build jobs"
Our Windows Debug builds appear to be x86 while the Release builds are x64, but that distinction isn't obvious: it's not called out in the job name, all of the home page badges suggest all of the builds are x64, etc.  We should fix all of this to make it clear what's being tested.
cc: @mmitche, @mellinoe, @danmosemsft

[2017-03-08 12:48] stephentoub commented on #1050
Do we believe the root issue is still around, or should we try re-enabling it?

[2017-03-08 13:48] stephentoub commented on #4071
@geoffkizer, you were recently telling me about a case where a socket address object should have been pinned but wasn't, right?  Was that on this code path?  I'm wondering if that was the cause of this, that we passed the address of an unpinned array to native, the object got moved and stomped on, and then Windows read bad data, resulting in it saying the address wasn't valid.

[2017-03-08 13:48] StingyJack commented on #1039
Lack of DataTable blocks pretty much anyone using EnterpriseLibrary.Data UpdateDataSet() for higher performance batch insertions, unless the requirement is to rewrite entire DAL to build the SQL statements manually.  We dont want to be putting DataReader dependencies in services, either.

This also prevents using TableValuedParameters,

EF has never been performant enough, and is too easy to misus

[2017-03-08 13:58] StingyJack commented on #8622
So... rewrite and retest entire DAL or wait. Going to have to wait - far too much code.

[2017-03-08 14:53] stephentoub commented on #11843
https://github.com/dotnet/corefx/issues/8361

[2017-03-08 15:15] nguerrera commented on #1050
I don't recall there being a deliberate fix. I suppose we could try re-enabling, though.

[2017-03-08 15:38] lgreenlee commented on #16761
@karelz

I am unable to break the deadlocked process with VS Code on Linux. I have tried connecting both before and after the event with no success. On Windows, VS 2017 worked but the Thread stack traces were empty. It was essentially saying that none of the code running was mine, lol. Given the fix this seems like this might have been accurate.

Thanks - I think I'm going to skip this in the inte

[2017-03-08 15:46] lgreenlee commented on #16783
Thanks - sorry dropped this all in one issue. I'll break it out and update the issue.

[2017-03-08 15:48] stephentoub commented on #10345
Updated: fails correctly on Windows and Linux, but doesn't on macOS.  Looks like it's simply an OS behavior.

[2017-03-08 15:58] #10207 closed

[2017-03-08 16:01] karelz commented on #11843
Dupe of #8361

[2017-03-08 16:23] stephentoub commented on #11843
@karelz, there's some new info in this issue though: apparently mono is generating a FormatException... at the very least, I suggest we understand why, e.g. is mono doing its own parsing?  is it using a different OS API? etc.

[2017-03-08 16:24] plnelson commented on #14376
VIL (the debugger's IL interpreter) supports most of the Reflection methods.  The only exceptions are reflection methods that get information that is not available in metadata - `Type.IsComObject` for example.  I also took a quick look at the CoreFx source for Unsafe.Sizeof and Unsafe.AsPointer.  VIL should be able to handle both of these.
The best way to test this is to save a dump of your test a

[2017-03-08 16:28] KrzysztofCwalina commented on #14376
@plnelson, what about the idea for "unpacking" the span in the ctor of the proxy? Won't this prever changes to the span data to be reflected in the debugger? i.e. how often does the debugger create a new proxy?

[2017-03-08 16:33] KrzysztofCwalina commented on #14376
@fujiy, it would be better if you used span APIs to get to the data. See this line of code for an example:
https://github.com/dotnet/corefxlab/blob/82e6bbc92641547c588c9e9d474d5b3d51d0a0c8/src/System.Text.Primitives/System/Text/Encoding/Ascii/PrimitiveEncoder_ascii.cs#L48

[2017-03-08 16:36] fujiy commented on #14376
@KrzysztofCwalina I tried, but it didn't work on VIL. I can try again with VS2017 RTM

[2017-03-08 16:40] plnelson commented on #14376
@KrzysztofCwalina, not sure what you mean by "unpacking the span".  Looks like the .ctor in the snippet is saving an array reference to a field.
For your other question, the type proxy is created every time the value is evaluated.  Essentially this means every time you step and the value is visible in one of the debugger windows.

[2017-03-08 16:42] KrzysztofCwalina commented on #14376
@plnelson, it's saying the Span, not "an array". Spans cannot be stored in fileds of reference types, so the snippet won't work. The suggestion was that instead of storing the span, the ctor would make copy of the data (basically execute the code that currently is in the Items property), and store the copied array.

[2017-03-08 16:45] #16674 closed

[2017-03-08 16:52] stephentoub commented on #3862
I suggest just leaving that one as is.

[2017-03-08 16:58] plnelson commented on #14376
@KrzysztofCwalina I see, for some reason I read array vs. span.  Why can't a span be stored in a field?  Is it because the "pointer" field of the span can potentially contain a reference to a stack location?
Anyway, having the Items property copy the data would also work.

[2017-03-08 16:58] danmosemsft commented on #16289
@dennisdietrich yes we definitely should debug this, it might be a few days (again) unless you get to it.

[2017-03-08 16:59] danmosemsft commented on #16850
This should just be an edit to netci.groovy and README.md.

[2017-03-08 17:00] fujiy commented on #14376
Maybe it work in our context. At least my DebuggerTypeProxy is working

[2017-03-08 17:08] peterwurzinger commented on #16779
I got a new update @krwq
The exception arises from the depths of `DSA.Cng`. To make it short: A lot of unsafe code, `SafeHandles`, passing byte-arrays as parameters,... I can't go any deeper than that. What gets returned from CNG-Hell is an "Wrong parameter" - error.

I tried to feed this with various parameter combinations, and this is what I found out:
1a) The original test was failing - obvious

[2017-03-08 17:25] danmosemsft opened #16856 "Failure in System.Diagnostics.Tests.ActivityTests.DiagnosticSourceStartStop"
@joperezr can you find the right owner for DiagnosticSource? This gave us a red badge this morning. This test may need some logging adding, and leave enabled.

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_release/lastCompletedBuild/consoleText

[code]

[2017-03-08 17:28] danmosemsft opened #16857 "Failure in WaitForChangedTests.Changed_Success"
@JeremyKuhne, @ianhays this gave us a red badge this morning.

Perhaps this is just the intrinsic unreliability of FSW -- maybe there's a way to make it more robust, eg., try twice?

[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu16.10_debug/lastCompletedBuild/consoleText
[code]

[2017-03-08 17:29] danmosemsft commented on #16655
@kouvel can you please take a look?

[2017-03-08 17:33] joperezr commented on #16856
Looks like this particular test was added by @lmolkova on #15103 and the reviewer was @vancem.
Other owners of DiagnosticSource seems to be @brianrob and @valenis according to the [issue guide](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md)

[2017-03-08 17:41] danmosemsft commented on #16825
Note the diff is fiddly because almost every private field got an underscore prefix.

System.Xml.Xsl.XsltOld.Keywords is also new and apparently unused. The rest of XsltOld is in the old code as well, is it used though?

[2017-03-08 17:41] danmosemsft commented on #16856
You're quite right, I missed it in issue guide.

[2017-03-08 17:42] shmao opened #16859 "DCJS Throws NullReferenceException when Using ReflectionAsBackup"
@vitek-karas found the issue,

[code]

[2017-03-08 17:45] karelz commented on #11843
Fair point, I missed that part.

[2017-03-08 17:55] lmolkova commented on #16856
It's a new check added in the test in #16821. I'll fix it

[2017-03-08 17:56] TylerBrinkley commented on #15453
@AlexGhiondea Currently, `Enum.ToObject` will accept overflow values. I'm I correct in assuming that that behavior must be preserved? In Enums.NET I throw an OverflowException in those cases.

[2017-03-08 18:11] joperezr commented on #395
@tarekgh do you think it's valuable to mark this as Api ready for review and then if it is approved then try to sort out implementation details?

[2017-03-08 18:14] tinchou opened #16860 "Building on Windows with VS 2017"
Hey guys,

Just wanted to know what the requirements are for Building CoreFX on Windows with VS 2017, and maybe suggest an update to the docs here https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md.

From a quick test, it seems that I need the `Desktop development with C++` workload, but also the `VC++ 2015.3 v140 toolset (x86,x64)` component.

I tried inst

[2017-03-08 18:15] joperezr commented on #16767
@VSadov do you want to make a formal [Api Proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) for it so that it goes to review?

[2017-03-08 18:30] tarekgh commented on #395
No, we don't have a good way to implement this at least on Windows today.

[2017-03-08 18:39] WinCPP commented on #3862
Yup.

Just for documentation purpose, [this](https://github.com/dotnet/corefx/blob/52bab6669b5cdf90161fc5d1b71c3d9a0f3854eb/src/System.Net.Security/src/System/Net/CertificateValidationPal.Windows.cs#L193) comment expresses potential to use lazy initialization, but being single-call-multi-variable initialization, it can be done only if there were EnsureExecuted or equivalent construct.

[2017-03-08 18:53] #10345 closed

[2017-03-08 18:53] #4500 closed

[2017-03-08 18:59] mellinoe commented on #16850
I'll give this a shot. Shouldn't be too hard.

[2017-03-08 19:00] Priya91 commented on #16201
@tmds It's not a case of some machines, this failure happens on redhat, centos and fedora images.. Whereas ubuntu and debian which has curl with openssl doesn't have this failure. Also note that, the test is just sending a get response to a https server on azure, no extra certs are being added. Curl is calling for checking for certs from nss datastore.

The versions of curl and nss on the affected

[2017-03-08 19:06] mikem8361 commented on #1050
Yes, there was a fix.  See above.

[2017-03-08 19:10] geoffkizer commented on #4071
#16862 is the PR for the SendTo fix.

[2017-03-08 19:11] shmao opened #16864 "DCJS_SuspensionManager Failed with ReflectionOnly on Uapaot"
[code]

[2017-03-08 19:21] mellinoe commented on #3538
This is outdated and things have moved on; going to close.

[2017-03-08 19:21] #3538 closed

[2017-03-08 19:22] #15152 closed

[2017-03-08 19:22] mikem8361 commented on #1050
Sorry, I guess my fix for #8866 has nothing to do with the original problem in what looks like the System.Reflection.Metadata portable PDB tests.

I guess the test needs to be re-enabled to see.

[2017-03-08 19:23] Priya91 commented on #13346
Closing due to lack of further information to proceed.

[2017-03-08 19:23] #13346 closed

[2017-03-08 19:28] geoffkizer commented on #16739
Apparently the equivalent on Linux is setting the IP_MTU_DISCOVER option to IP_PMTUDISC_DO.  It's not clear to me that this is *exactly* equivalent to the existing Windows behavior, though.

See https://linux.die.net/man/7/ip

[2017-03-08 19:37] sepidehMS commented on #16825
Thank you @danmosemsft. System.Xml.Xsl.XsltOld.Keywords seems to be unused as you mentioned. My guess is it might have been used before we removed CodeDom from System.Xml. The rest of XsltOld is used by System.Xml.Xsl.XslTransform.

[2017-03-08 19:41] geoffkizer commented on #12037
Avoiding repeated pinning/unpinning seems like a good thing.  What else do you think could be done here?

[2017-03-08 19:42] sepidehMS commented on #962
Yes, this dependency still exists and the tests need to be re-written so they would not just compare the XPath implementations of XDocument and XmlDocument.

[2017-03-08 19:46] mellinoe commented on #11851
This isn't happening anymore, from what I can tell.

[2017-03-08 19:46] #11851 closed

[2017-03-08 19:52] mellinoe commented on #13601
@jamesqo Still repro'ing this?

[2017-03-08 19:53] mellinoe commented on #13911
We've overhauled the test infrastructure since this, so it's no longer applicable.

[2017-03-08 19:53] #13911 closed

[2017-03-08 19:54] mellinoe commented on #13937
@karelz @danmosemsft Could you guys comment on our packaging plans going forward?

[2017-03-08 20:02] #16306 closed

[2017-03-08 20:08] mellinoe commented on #13994
@joperezr Is this tracked by any other issues?

[2017-03-08 20:09] mellinoe commented on #14028
We've updated.

[2017-03-08 20:09] #14028 closed

[2017-03-08 20:11] mellinoe commented on #14209
@PaybackMan We will need more information about this for it to be actionable. Please re-open if you have are still experiencing this problem and are able to provide more info.

[2017-03-08 20:11] #14209 closed

[2017-03-08 20:11] mellinoe commented on #14211
Lots of things have been overhauled since this was filed. Note that you do need to run `build.cmd` once from the command-line before building any projects in corefx.

[2017-03-08 20:11] #14211 closed

[2017-03-08 20:12] mellinoe commented on #14455
I don't think this is relevant anymore.

[2017-03-08 20:12] #14455 closed

[2017-03-08 20:13] mellinoe commented on #14456
`FilterToOSGroup` is no longer being used.

[2017-03-08 20:13] #14456 closed

[2017-03-08 20:14] mellinoe commented on #14457
We're doing this. https://github.com/dotnet/corefx/blob/master/build-tests.sh#L31

[2017-03-08 20:14] #14457 closed

[2017-03-08 20:15] #16859 closed

[2017-03-08 20:22] mellinoe commented on #14874
Linux Mint is supposed to be binary-compatible with Ubuntu 16.04. This should be doable by modifying the  `init-tools` logic to take that into account. e.g. if `linux.mint.18.1` is encountered, treat it the same as `ubuntu.16.04`.

[2017-03-08 20:23] mellinoe commented on #14911
@safern Tracked by anything else?

[2017-03-08 20:26] mellinoe commented on #15168
@weshaggard I'm not looking at it right now.

[2017-03-08 20:28] mellinoe commented on #15298
These build against the `netstandard` binaries now.

[2017-03-08 20:28] #15298 closed

[2017-03-08 20:32] mellinoe commented on #15408
@matekm I wonder if you have any firewall or internet policy that is kicking in here and messing up NuGet? I have Ubuntu 16.04 installed on two different machines and have used it to build corefx many times without issue. If this is still repro'ing for you, could you clean out the repository and try again?

[2017-03-08 20:38] tmds commented on #16201
I misunderstood, I thought it was working on some rhel/centos/fedora machines.

Looking at the centos packages (http://mirror.centos.org/centos/7/os/x86_64/Packages/) there seem to be newer packages available. Does `yum update` bring newer versions of these packages? Perhaps they include a fix?

[2017-03-08 20:39] mellinoe commented on #15513
@weshaggard Is there anything actionable here? It sounds like the only problem was using a machine without all of the prerequisites installed.

[2017-03-08 20:43] tarekgh commented on #14911
@mellinoe the infrastructure work is done and @safern is already going through the failing tests and tweaking them. I think you can close this one.

[2017-03-08 20:50] #14911 closed

[2017-03-08 21:03] mellinoe commented on #16739
Duplicate of https://github.com/dotnet/corefx/issues/9652

Also related: https://github.com/dotnet/corefx/issues/9350

[2017-03-08 21:03] #16739 closed

[2017-03-08 21:04] safern commented on #14911
Thanks @tarekgh @mellinoe

[2017-03-08 21:07] mellinoe commented on #16833
This one seems so straightforward that I'm just going to mark it as `api-ready-for-review`.

[2017-03-08 21:22] dcwuser commented on #16841
### IsFinite
Yes, we need this. It's useful all over the place, for example testing for "is neither NaN nor infinite" without having to make two separate calls.

### IsSigned
We need this, for example to test for negative zero. But the proposed name is confusing. Positive numbers also have a sign. "IsNegative" would be a better name. The only objection I can think of that that one might not want t

[2017-03-08 21:24] krwq commented on #16779
@peterwurzinger for running tests against full .NET: (thanks to @joperezr)
From root call:
Build.cmd -framework:netfx
Build-tests.cmd -framework:netfx

For individual project test build:
Build.cmd -framework:netfx (it is required to build the whole layout first)
Msbuild <yourtestproject>.csproj /p:TargetGroup=netfx /t:rebuildandtest

I've personally had some difficulties with the above instruction

[2017-03-08 21:37] tintoy commented on #16779
It's odd, because the phrase "the parameter is incorrect" screams `E_INVALIDARG` at me. And I wouldn't have expected to find that in corefx since it's terminology you normally only see it coming out of unmanaged implementations (i.e. ones that use `HRESULT`s).

Still, I suppose someone could have tried to port as much of the old crypto code as possible, even if some of those implementations are un

[2017-03-08 21:38] krwq commented on #16779
@tintoy @peterwurzinger it is possible that we might be using wrong implementation assembly - I've seen that before (on Linux we used Windows assembly which was causing really weird errors)

[2017-03-08 21:40] danmosemsft commented on #16825
OK @sepidehMS could you submit a quick PR to delete it..

[2017-03-08 21:41] danmosemsft commented on #13937
Question best for @weshaggard

[2017-03-08 21:45] davidfowl commented on #13681
This can be closed.

[2017-03-08 21:45] tannergooding commented on #16841
I definitely agree that `IsNegative` is better than `IsSigned` and have updated the proposal.

I agree here as well. I went with `IsNormal` for parity with what is provided in C/C++. I believe it will be more familiar to the people who will actually make use of the function and the summary of the method can easily explain the use-case here. However, I think providing both an `IsNormal` and `IsSubn

[2017-03-08 21:49] weshaggard commented on #13937
We plan on adding Fedora 25 to our support matrix, including CI/RID/Packages. We are thinking we will actually use our PortableLinux native implementations for Fedora (and other distros) in our .NET Core 2.0 release.

[2017-03-08 21:52] liquidboy commented on #5766
sigh ... just like uservoice you get people to vote for things and in the end don't do anything about it!

[2017-03-08 21:53] mellinoe commented on #13937
AFAIK, the RID's are already in here. I'm not clear on whether you are saying we are going to have fedora.25-x64 packages, specifically, or if we will support Fedora 25 via the portable linux binaries. I strongly prefer the latter and I think that was our stated goal in the past.

[2017-03-08 21:55] gkhanna79 opened #16871 "FindSystemTimeZoneById doesn't support "Eastern Standard Time" on Ubuntu"
@AlexHankins commented on [Wed Mar 08 2017](https://github.com/dotnet/coreclr/issues/10042)

Method:  System.TimeZoneInfo.FindSystemTimeZoneById

According to [Time Zone IDs (Compact 2013)](https://msdn.microsoft.com/en-us/library/gg154758.aspx), this method would accept `"Eastern Standard Time"` as a parameter.  However, on Ubuntu 16.04, this fails with `System.TimeZoneNotFoundException: The time

[2017-03-08 21:55] gkhanna79 commented on #16871
@karelz @tarekgh PTAL

[2017-03-08 21:58] tarekgh commented on #12518
@danmosemsft why you think this is 2.0.0? we already aware about the Windows and Linux differences and this is not significant and we shipped with this behavior before.

[2017-03-08 22:02] weshaggard commented on #13937
The goal will be to support Fedora 25 with the portable linux binaries and not have Fedora 25 specific packages.

[2017-03-08 22:02] tarekgh commented on #16871
#2538 and #338 already tracking such issues.

[2017-03-08 22:02] #16871 closed

[2017-03-08 22:04] weshaggard commented on #15513
Sorry I've not gotten back to this. I would like to keep test this out again and once I do that I will either update or close the issue.

[2017-03-08 22:14] mellinoe commented on #13937
Sounds great. In that case, I think this issue is more-or-less covered. There are RIDs for Fedora 25 if folks want to use them, and we have portable linux binaries building already.

[2017-03-08 22:14] #13937 closed

[2017-03-08 22:14] danmosemsft commented on #12518
I bulk edited all disabled tests to 2.0 as in general they mean that we have temporarily missing coverage (typically a test doesn't exist when it's some long term defect). In the bug bar email I asked folks to correct that if necessary. Certainly do feel free to do that.

[2017-03-08 22:15] #13681 closed

[2017-03-08 22:16] Priya91 commented on #11843
This is a platform difference on OS X, inet_aton doesn't return invalid address for single part i-address that's greater than 32 bits. Instead it returns address of 0.0.0.0. We can identify this behavior and handle the difference in the wrapper.

[code]

return,

[code]

[2017-03-08 22:26] jamesqo commented on #7580
Now that there is a dedicated [`CollectionExtensions`](https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/CollectionExtensions.cs#L7) class, maybe some of these methods (specifically eagerly-evaluated onces, like `Any()` or `First()`) would be a good candidate for putting there.

[2017-03-08 22:26] joperezr opened #16872 "Add uap configuration for System.Net.HttpListener and System.Net.Mail"
Those two assemblies are part of the closure of netstandard and are not includded today in the uap layout build. We need to add configurations for them.

 - [x] System.Net.Mail
 - [ ] System.Net.HttpListener

[2017-03-08 22:28] MichalStrehovsky commented on #16769
This is a .NET Native bug that can be worked around by disabling the shared library feature. To work around:

1. Edit the .csproj for your app and add the following property: `<UseDotNetNativeSharedAssemblyFrameworkPackage>false</UseDotNetNativeSharedAssemblyFrameworkPackage>`. This disables the [shared framework](https://blogs.msdn.microsoft.com/dotnet/2015/09/28/whats-new-for-net-and-uwp-in-win1

[2017-03-08 22:29] jamesqo commented on #7580
@ryantrem

1. No, not necessarily. You only need to program against `IEnumerable`; you *can* program against `IList` / `IReadOnlyList` if you need better perf in your codebase, but it's not required.

2. Having `IList` inherit from `IReadOnlyList` would be a breaking change for people who implement the `IList<T>` indexer explicitly via `T IList<T>.this[int index]`. They would have to change such d

[2017-03-08 22:36] #16842 closed

[2017-03-08 22:42] stephentoub commented on #16856
Fixed by #16861

[2017-03-08 22:51] weshaggard commented on #16860
I would have expected https://github.com/dotnet/corefx/pull/16710 to fix these issues.

cc @tannergooding

[2017-03-08 23:05] tannergooding commented on #16860
The docs could definitely be updated.

I haven't attempted to find the minimum set of components required, but I believe it should work if you have the following workloads
* .NET Core Cross-Platform Development
* Desktop Development with C++
 * VC++ 2015.3 v140 Toolset (x86x64) -- This might not be required
* .NET Desktop Development -- This might not be required

In any case, VS2017 only works if

[2017-03-08 23:12] haraldnagel commented on #15031
I am seeing this as well. They mentioned in aspnet/EntityFramework#7557 using the `netcoreapp1.0` workaround and routed us over here.

[2017-03-08 23:14] danmosemsft commented on #16655
I suggest we leave in 2.0 for now as this may possibly be a significant product defect.

[2017-03-08 23:26] stephentoub commented on #12037
I expect there are a bunch of allocations and other overheads we could avoid.

I just threw together a simple little program that connects two sockets, puts NetworkStreams over them, puts SslStreams over those, and then has one of those SslStreams CopyToAsync to a memory stream, and writes to the other SslStream, so that we write data to one, it gets passed to the other, which copies it to a Memor

[2017-03-08 23:30] tinchou commented on #16860
Feel free to make me a reviewer. I'll test the minimal install in my computer.

[2017-03-08 23:39] danmosemsft commented on #984
@patryk9200 you should also be able to test it by[ installing 2.0](https://github.com/dotnet/cli) and then adding a reference to the System.IO.Ports package.

Would be most interested to get your feedback.

[2017-03-08 23:40] JonHanna commented on #16566
I can take this one, but not until the weekend, so if someone else wants to jump on it in the meantime, feel free.

[2017-03-08 23:42] AronParker opened #16878 "MemoryExtensions.SequenceCompare"
# Latest Proposal
See https://github.com/dotnet/corefx/issues/16878#issuecomment-349414287

## Problem:
As of right now there is no function to efficiently compare memory. The result is that such comparisons are usually done on a byte by byte basis or even worse Enumerable.SequenceEqual, which performs really slow.

## Suggested APIs:
[code]

## Design
It would fit along nicely with other memory f

[2017-03-09 00:01] karelz commented on #16566
Assigning to you @JonHanna ...

[2017-03-09 00:08] karelz commented on #15031
I admit I don't know what the "dotnet ef ..." command does. I guess it is the CLI exe, dotnet.exe. @piotrpMSFT @eerhardt can you please help route it?

[2017-03-09 00:10] Priya91 commented on #11036
@flint-rocketdesk Ping? Are you still repro-ing this with latest .NET bits?

[2017-03-09 00:16] karelz commented on #11843
If it is documented behavior and if it is easy to do in Mac PAL, let's do it.

[2017-03-09 00:22] CIPop opened #16879 "X509Store on Unix scans only for PFX files"
Currently, the only extension supported by the code is PFX. As far as I understand, this extension is commonly used for certificates that will contain a private key on Windows. On Unix I would expect certificate extensions such as .der or .pem, similar to the ones in OpenSSL's store.

This is only an inconvenience as I've found that a .cer (base64 encoded) can be simply renamed to .pfx and placed

[2017-03-09 00:23] CIPop commented on #16879
/cc @bartonjs

[2017-03-09 00:24] karelz commented on #15740
@saurabh500 @geleems heads up that it was moved into Future. Please adjust it as appropriate (2.0).

[2017-03-09 00:27] haraldnagel commented on #15031
My guess is that it might have something to do with the Microsoft.EntityFrameworkCore.Tools.DotNet v1.0.0 CLI tooling package but I'm not sure. It might actually belong over in EF.

[2017-03-09 00:28] Priya91 commented on #8115
Closing due to lack of response.

[2017-03-09 00:28] #8115 closed

[2017-03-09 00:30] karelz commented on #15031
If it is in tooling, I assume it is part of CLI repo - we just need to identify which exe it is and that will give us the repo with its source code, which points at where to file a bug (I assume) ...

[2017-03-09 00:37] Priya91 commented on #4502
We don't have a way to specify libcurl options currently, and this would require a larger discussion on how we expose the libcurl options. Since this facility is not available on windows, exposing a new API will be specific to Unix platforms. We are not adding new APIs that are very specific to Unix for 2.0, hence pushing it out to Future.

cc @karelz

[2017-03-09 00:37] haraldnagel commented on #15031
Maybe aspnet/EntityFramework.Tools

[2017-03-09 00:39] karelz commented on #15031
I honestly have no idea ... @natemcmaster can you help route it?

[2017-03-09 00:42] #10764 closed

[2017-03-09 00:42] karelz commented on #16752
@Jiayili1 can you please file the bugs as 2.0? It will force us to review it prior shipping, also helping us to miss it by accident ... Thanks!

[2017-03-09 00:55] mellinoe commented on #16878
This may be a helpful addition, but I don't think that using `Array` in new API's is a good idea, generally speaking. More likely we would want overloads taking `T[]`, and perhaps `void*, length` ?

[2017-03-09 01:00] karelz commented on #16878
Might be a good idea for Span?

[2017-03-09 01:01] bartonjs commented on #16879
The directory isn't a considered an extensibility point.  Use `new X509Store(X509StoreName.Root, X509StoreLocation.CurrentUser)` with OpenFlags.ReadWrite.

[2017-03-09 01:01] #16879 closed

[2017-03-09 01:11] AronParker commented on #16878
True, I've chosen Array in order to make it analog to Buffer.BlockCopy(Array,int,Array,int,int) but T[] would probably be even more elegant, void* definitely. The issue with T[] is that the efficient comparison effectively only works for primitives and structs that don't redefine Equals. If you have a reference type a value type that redefines equals the efficiency of memcmp would be gone, a for l

[2017-03-09 01:11] danmosemsft commented on #16752
@Jiayili1, @karelz means when you open **or reopen** test bugs from now on, please set milestone=2.0.

[2017-03-09 01:14] Jiayili1 commented on #16752
@danmosemsft @karelz Thanks for reminding me, I got it, I will remember to set milestone=2.0 when open or reopen test bugs.

[2017-03-09 01:18] karelz commented on #16752
Thanks @Jiayili1 and sorry for not being clear.

BTW: We totally understand that mistakes happen. They always will. Sadly, I don't know where to find the latest process to check if it is just a one-off mistake or if it is a systematic gap in our process. That's why I raise up issues like these when I notice them - mainly to help identify gaps in the process and to make sure we don't miss things by

[2017-03-09 01:22] Jiayili1 commented on #15065
Failed again here: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170308.04/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FOpenExeConfiguration1_UserLevel_PerUserRoamingAndLocal

[2017-03-09 01:22] KrzysztofCwalina commented on #16840
@ahsonkhan is working on this.

[2017-03-09 01:22] Jiayili1 commented on #15066
Failed again here: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170308.04/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FexePath_UserLevelPerRoamingAndLocal

[2017-03-09 01:28] KrzysztofCwalina commented on #16840
@ahsonkhan, while you are doing th eperf work. I would also like us to consider changing the signature of CopyTo. Whenever use CopyTo on Span, I wish the method Always succeeded, copied as much as it can, and returned an int indicating how much was copied.

e.g.
[code]
... and many similar scenarios. Without such CopyTo there is lots of ceremony around making sure the source is not larger than the

[2017-03-09 01:41] AntonLapounov opened #16881 "Enable CdsSyncEtwBCLProvider for uapaot build of System.Threading"
This requires adding EventSource to System.Private.CoreLib.

[2017-03-09 01:46] akoeplinger commented on #11843
@stephentoub

We're actually using referencesource in this case: [IPAddress.cs#L307](https://github.com/mono/mono/blob/d455c0d23462d34352e4accd9953b1f487351c7f/mcs/class/referencesource/System/net/System/Net/IPAddress.cs#L307)

[2017-03-09 02:13] jamesqo commented on #16878
Only skimmed the proposal but I think `Unsafe` may be a better choice for proposing new APIs than `Buffer` as the former is not tied to the .NET Framework.

[2017-03-09 02:17] #14017 closed

[2017-03-09 02:25] tannergooding commented on #16860
Ok, so for the `Workloads` install, looks like the following is minimal:
* .NET Desktop Development
  * All Required Components
  * .NET Framework 4-4.6 Development Tools
* Desktop Development with C++
  * All Required Components
  * VC++ 2017 v141 Toolset (x86, x64)
  * Windows 8.1 SDK and UCRT SDK
  * VC++ 2015.3 v140 Toolset (x86, x64)

For `Individual Components` Install, looks like the follow

[2017-03-09 02:33] jamesqo opened #16886 "Would it be possible to get rid of collection _syncRoot fields with ConditionalWeakTable?"
More of a question really because I'm not very familiar with `ConditionalWeakTable`, but from what I understand it can store key/value entries in such a way that the entries don't have to be kept alive. It also says [on MSDN](https://msdn.microsoft.com/en-us/library/dd287757(v=vs.110).aspx#Anchor_7) that the type is thread-safe. Given that `SyncRoot` is a rarely-used property (if I remember correc

[2017-03-09 02:43] jkotas commented on #16878
All raw memory APIs should go to Span going forward. There is `static bool SequenceEqual(this ReadOnlySpan<byte> first, ReadOnlySpan<byte> second)` already. I can imagine we can have `static int SequenceCompare(this ReadOnlySpan<byte> first, ReadOnlySpan<byte> second)` too.

[2017-03-09 02:50] saurabh500 commented on #15740
I think this can be closed.

[2017-03-09 02:50] #15740 closed

[2017-03-09 03:27] tannergooding commented on #16860
Actually, looks like CoreCLR isn't working at all anymore, due to the recent build tools upgrade: https://github.com/dotnet/coreclr/commit/8f23fca0ff57c97707d4f6b5068e8044d2dcc13c

I'll send the PR out for CoreFX and will continue investigating the CoreCLR issue separately

[2017-03-09 03:37] jkotas opened #16888 "Span Copy method that copies as much as possible"
From https://github.com/dotnet/corefx/issues/16840#issuecomment-285225905

Whenever use CopyTo on Span, I wish the method Always succeeded, copied as much as it can, and returned an int indicating how much was copied.
e.g.

[code]

... and many similar scenarios. Without such CopyTo there is lots of ceremony around making sure the source is not larger than the destination.

@davidfowl, @terrajobst

[2017-03-09 03:38] jkotas commented on #16840
We should not be hijacking this issue with orthogonal API design discussion. Opened(https://github.com/dotnet/corefx/issues/16888

[2017-03-09 03:46] natemcmaster commented on #15031
"dotnet ef" lives in https://github.com/aspnet/EntityFramework.Tools. Use https://github.com/aspnet/EntityFramework for issues

[2017-03-09 03:50] AdamSpeight2008 commented on #14300
Personally I would want use to port over the legacy functionality to .net core. Let .net core be a "pure" .net implementation.

[2017-03-09 03:51] jkotas commented on #16888
I think it is a fine idea to have API like this, but I am not sure whether it should be called CopyTo - it would be different from the established CopyTo meaning.

[2017-03-09 04:01] CyrusNajmabadi commented on #14354
What about having Hash32 and Hash64 types that would internally store 4 or 8 bytes worth of data?

This seems like useful behavior.  But i could see people wanting to control this.  So perhaps there should be two ways to create the Hash, one that takes no seed (and uses a random seed) and one that allows the seed to be provided.

[2017-03-09 04:05] stephentoub commented on #11843
@cipop, @pgavlin, why did we move away from this implementation for corefx?  i.e. why didn't we keep using the managed implementation that desktop is using?
https://referencesource.microsoft.com/#System/net/System/Net/IPAddress.cs,272

[2017-03-09 04:22] CyrusNajmabadi commented on #14354
Note: Roslyn would love if this could be provided in the Fx.  We're adding a feature to spit out a GetHashCode for the user.  Currently, it generates code like:

[code]

This is not a great experience, and it exposes many ugly concepts.  We would be thrilled to have a Hash.Whatever API that we could call through instead.

Thanks!

[2017-03-09 04:35] tannergooding commented on #14354
What about MurmurHash? It is reasonably fast and has very good hashing properties. There is also two different implementations, one that spits out 32-bit hashes and another that spits out 128-bit hashes.

[2017-03-09 04:38] tannergooding commented on #14354
There is also vectorized implementations for both the 32-bit.and 128-bit formats.

[2017-03-09 05:08] mikedn commented on #16886
AFAIR @stephentoub mentioned this possibility in a comment.

Another option would be to "fix" the existing `SyncRoot` implementation to return `this` instead of a separate object. Yes, "fix" because what the code does now is unnecessary according to the [documentation](https://msdn.microsoft.com/en-us/library/system.collections.icollection.syncroot(v=vs.110).aspx):

[2017-03-09 05:10] brianrob commented on #10567
@DrewScoggins have your recent changes handled this issue?  Can you point @Clockwork-Muse to updated instructions (or update the set referenced above), as it looks like this issue also covered the fact that there were various breaks.

[2017-03-09 05:11] brianrob commented on #16881
This depends on #12652.

[2017-03-09 06:15] jmvtrinidad opened #16890 "Port cant access when raised InvalidOperationException. (The Port is closed)"
I'm trying to send AT Commands using `SerialPort` class. I'm using `SerialPort.GetPortNames()` to get all available ports. I'm trying to open a serial port for modem and getting its BaudRate through `SafeFileHandle` and `kernel32.dll` with `CreateFile` and `GetCommProperties` method. It was good until I encountered `InvalidOperationException`.  It was raised when I'm trying to read from `Read` or

[2017-03-09 06:16] karelz commented on #15031
Thanks @natemcmaster! @haraldnagel can you please post your bug there?
Sorry for the ping-pong between repos. I would normally move the bug into another repo via GitHubMover, but we hijacked different (although similar) closed issue with the discussion report, so it is not appropriate in this case ...

[2017-03-09 06:50] AlexGhiondea commented on #15453
@TylerBrinkley based on the [MSDN documentation](https://msdn.microsoft.com/en-us/library/0c3k6fft(v=vs.110).aspx) it looks like we make the call to not throw if the value overflows. You can call [IsDefined](https://msdn.microsoft.com/en-us/library/system.enum.isdefined(v=vs.110).aspx) to see if you can fit the value in the underlying type.

If we are going for a drop-in replacement, then we shoul

[2017-03-09 07:30] #16860 closed

[2017-03-09 07:48] FrancoisM opened #16892 "Slow Open Connection every 4 mintutes or so"
In this [SO post](http://stackoverflow.com/questions/42433948/azure-web-api-waiting-sql-connection-every-4-minutes-and-30-minutes), I described an anlysis where I observe that opening a connection is blocked on waiting for a long time every 4 minutes or so. However, I couldn't find out why and never got any answers either.

[2017-03-09 07:53] Jiayili1 commented on #16201
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_debug/124/testReport/System.Net.Tests/TaskWebClientTest/UploadString_Success_echoServer__https___corefx_net_cloudapp_net_Echo_ashx_/

[2017-03-09 08:00] Jiayili1 commented on #16857
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu16.10_debug/117/testReport/System.IO.Tests/WaitForChangedTests/Changed_Success/

[2017-03-09 08:35] mairaw commented on #16813
we've been assigning the bugs here to me as Documentation. Should I reopen this or do you guys prefer to move this over to https://github.com/dotnet/docs?

[2017-03-09 12:14] stephentoub commented on #16886
@mikedn's suggestion of returning `this` is certainly better/cheaper if it's a valid option for any given case.  Note that both approaches have potential downsides.  Using a CWT will make SyncRoot much slower, so while it'd help for most workloads that don't use it, it could negatively impact older code that does (there's even code in CoreLib that uses it).  Using `this` would be cheap and easy, b

[2017-03-09 12:43] stephentoub opened #16896 "Proposal: Add static ExceptionDispatchInfo.Throw(Exception)"
If you have an exception object and you want to throw it without overwriting its existing call stack and bucket information, you do:
[code]
This is unnecessary ceremony and also incurs some additional unnecessary cost (though we're on an exceptional path so the cost doesn't matter as much).  It'd be nicer if we could simply write:
[code]

I propose we add the following method:
[code]

Its visible

[2017-03-09 13:17] proff opened #16897 "unmanaged resource leak when HttpClient is not disposed"
[code]
![a001a-clip-78kb](https://cloud.githubusercontent.com/assets/991922/23751339/e9da0ecc-04e1-11e7-9a34-99aed0636545.png)
![003ed-clip-185kb](https://cloud.githubusercontent.com/assets/991922/23751446/74d90988-04e2-11e7-9323-a00ea38e6813.png)

HttpClient missing finalizer and Dispose(false) called from finalizer will do nothing

[2017-03-09 13:29] stephendrew commented on #7439
Eh? :)

Here is one potential: [CoreFTP](https://github.com/sparkeh9/CoreFTP), although i have yet to use it.

[2017-03-09 13:56] benaadams commented on #3126
The [`Segment`](https://github.com/dotnet/corefx/blob/master/src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentQueue.cs#L849-L1139) in `ConcurrentQueue<T>` is probably already quite close and high performance; but would need to overwrite rather than returning false.

No one uses non-power of two sized ring buffers do they? 😉

[2017-03-09 14:03] wildtang opened #16900 "When call build.cmd -skiptests, build stops with error PE file is already strong-name signed"
Today I pull coreclr and corefx, build them on my Win10 with VS2015u3,
The build of coreclr finished without error,
But the build of corefx failed with the following strong-name sign error like following:

[2017-03-09 14:06] wildtang commented on #16900
How can I skip the strong-name sign process when build corefx?

[2017-03-09 14:08] stephentoub commented on #16813
Thanks. Labeled as documentation and reopened.

[2017-03-09 14:30] Drawaes commented on #3126
Disruptor ... be wary it's not as fast as you might expect because it covers many different scenarios . It turns out it's a generalist ..

[2017-03-09 14:31] Drawaes commented on #3126
Are you saying you want a threadsafe circular buffer ?

[2017-03-09 14:55] davidsh commented on #16897
This is a .NET Framework issue and not .NET Core.  So, this issue should be entered into the Connect bug reporting.

But, in terms of the "leak", keep in mind that the repro code here using GC.Collect() is not actually measuring leaks.  GC.Collect() will not necessary do all garbage collection immediately. These resources will be freed eventually before the process exits.

If you really want to me

[2017-03-09 15:07] svick commented on #16886
[API Port telemetry says that `ICollection.SyncRoot` is used by 10 % of applications](https://apisof.net/catalog/System.Collections.ICollection.SyncRoot), which seems very high to me. Does this mean so many applications actually use it? Or is there some other explanation for this number (like custom collection types that *have to* implement the property, but don't actually use it)?

[2017-03-09 15:09] stephentoub commented on #16421
@saurabh500, this failed here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/123/consoleText
and you're correct, it does look like the diagnostics are completing:
[code]
but I have a new theory.  It looks like the server is creating threads, but not background threads (the default is foreground)... and a foreground thread will prevent an app from exiting, so

[2017-03-09 15:23] stephentoub commented on #16886
@terrajobst, can you comment on @svick's question?  Does any ICollection implementation trigger this to show up in the usage data?

[2017-03-09 15:28] AronParker commented on #16878
Fair enough, however I firmly believe that it is important to have comparison functions even outside of Span's, as there are many variants of memcpy but not a single one of memcmp. Nearly all modern programming languages offer a way to compare primitive arrays in a fast, efficient way without too much overhead.

While Span is amazing and it should be there aswell, I do believe there should be a wa

[2017-03-09 15:46] stephentoub commented on #13281
Again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/124/consoleText

[2017-03-09 15:50] saurabh500 commented on #16421
I will inspect the code to figure this out. Perhaps more logging in the shutdown code path of the server could be useful.

[2017-03-09 15:58] saurabh500 commented on #16421
@stephentoub can the remote executor invoke a dump when it times out? Is it a possibility?
That may give us a better idea of what was going on when Remote Executor timed out.

[2017-03-09 16:00] stephentoub commented on #16421
I have a local branch that implements effectively that, using ClrMD.  But I can't put it out for PR yet as the ClrMD NuGet package doesn't yet support use from .NET Core.  @leculver is working on that, and once that's fixed, we'll be able to do some cool stuff.

[2017-03-09 16:08] stephentoub commented on #4071
I'm going to close this under the assumption that it's fixed by #16862.  We can reopen if it turns out that wasn't the cause/fix and it happens again.

[2017-03-09 16:08] #4071 closed

[2017-03-09 16:10] saurabh500 commented on #16421
That would be great. :)

[2017-03-09 16:14] saurabh500 commented on #16421
Linking https://github.com/dotnet/corefx/pull/16906 here for reference

[2017-03-09 16:17] jkotas commented on #16878
The overhead of Span is neglible, and it is often *less* than the overhead of alternatives (passing indices manually, etc.). You can watch a case study on this topic in https://github.com/dotnet/corefxlab/pull/1278 .

[2017-03-09 16:38] AronParker commented on #16878
Alright, I didn't know that. Thanks for the quick reply! I've adjusted the API.

[2017-03-09 16:39] karelz commented on #16813
@mairaw regarding tracking here (corefx) vs. docs - it's up to you to decide what is easier for you. [Issue Mover for GitHub](https://github-issue-mover.appspot.com/) is pretty easy to use if you decide to move the bugs to docs.

[2017-03-09 16:48] danmosemsft commented on #16856
@lmolkova I think it is now failing further along

[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_release/120/consoleText

This is based on 8c777d8 which is subsequent to your fix adc6627. It's also now on line 382 in the test.

[2017-03-09 16:48] haraldnagel commented on #15031
I'll do a little more review to make sure I can't get this to work and then I'll post over there. Thanks @karelz et al. for your help!

[2017-03-09 16:51] danmosemsft commented on #16856
When you put up a new PR, please invoke Windows 7 tests explicitly as they're not on by default in CI. Eg:

@dotnet-bot test outerloop Windows 7 Debug
@dotnet-bot test outerloop Windows 7 Release

[2017-03-09 16:52] danmosemsft commented on #16856
@mmitche what would be the impact of enabling Windows 7 release by default in CI? Would it be costly in VMs? I presume it wouldn't slow down the end to end?

[2017-03-09 16:53] karelz commented on #15031
@haraldnagel I would suggest to not wait and file it there right away. It looks pretty bad from scenario perspective, so either it is known issue, or it should get attention ASAP IMO.

[2017-03-09 16:55] jaredpar commented on #16730
CC @gafter who can discuss the best pattern to use here.

[2017-03-09 16:57] karelz commented on #16881
@AntonLapounov when you file bugs you immediately work on, can you please set the labels right away? It saves time to area owners to triage them later. See [simplified triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified). I'll be happy to explain the ideas behind in person.

[2017-03-09 16:59] dmitriyse commented on #1973
[code]
Just published this contracts with injection helpers to the nuget (https://www.nuget.org/packages/ClrCoder.Collections.ReadOnlySet).
Feel free to use it and submit issues here: https://github.com/dmitriyse/ClrCoder/issues
If it will becomes a little bit popular (probably after some rounds of refining) we can suggest this improvement to the CoreFX team.

[2017-03-09 16:59] stephentoub commented on #16896
An alternate shape that achieves the same purpose would be an instance or extension method on Exception, ala what @danmosemsft suggests at https://github.com/dotnet/corefx/pull/16898#issuecomment-285411090, e.g.
[code]

[2017-03-09 17:00] stephentoub commented on #16896
cc: @gkhanna79

[2017-03-09 17:00] #14200 closed

[2017-03-09 17:07] karelz commented on #16881
@AntonLapounov when you file bugs you immediately work on, can you please set the labels right away? It saves time to area owners to triage them later. See [simplified triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified). I'll be happy to explain the ideas behind in person.

[2017-03-09 17:15] mmitche commented on #16856
@danmosemsft It might.  the Win7 VMs are actually just Win2008 server VMs.  However their startup time is much longer, maybe 2-3x 2012R2, so wait times could be much longer in certain cases.

I would wait.  As part of the new test matrix I think they may get enabled by default in another method.

[2017-03-09 17:24] vancem commented on #16856
If this is the first time this bit us, we should think carefully about just adding another kind of run.   The cure could easily be worse then the disease.   If this only happens pretty rarely (e.g. months between instances), and we have a process for detecting it before shipping, that could be fine.    I only ask that you be thoughtful about it.

[2017-03-09 17:26] danmosemsft commented on #16856
I'm happy to wait. I would only propose it at this point if it was free, which apparently it's not. (The inner loop test runs are pretty stable now, so adding another run should not be a problem from that POV)

[2017-03-09 17:39] karelz commented on #16892
@FrancoisM do you have a small repro? That would speed up investigation greatly.

[2017-03-09 17:40] JohnGalt1717 commented on #9846
Well given the scope of all of the problems and the YEAR + it has taken to this point, I think the team should take this as an abject failure and start some navel gazing so that this doesn't happen again and that there is a strategy to fix this stuff WAY faster.

[2017-03-09 17:42] maxim-reutov commented on #6920
@karelz - thanks for the update, I think those two pieces would support major part of the AddIn functionality, so it should be possible to load a set of assemblies for 1 component (AddIn) and then unload them. I think the last piece is the communication between the components. AddIn provides a pipeline - set of contracts and adapters thru which components communicate. I wonder how that would work

[2017-03-09 17:43] karelz commented on #16890
cc @willdean @JeremyKuhne

[2017-03-09 17:53] danmosemsft opened #16910 "Interpreting build of S.Linq.Expressions (for UAP) is broken"
`<IsInterpreting>` should be set in the csproj for uap/uapaot but the build is broken.

The correct fix is not obvious without some investigation so for now I'm leaving it as

[code]

[2017-03-09 17:53] willdean commented on #16890
@jmvtrinidad I'm not personally able to provide support to all Microsoft's customers who are using serial ports, but some points which might help:

* You can read the baud-rate of a serial port using the BaudRate property, you don't need to p/invoke to GetCommProperties.

* In general (this depends on the USB product's drivers), if you remove the USB cable of a usb-serial device while it's open, a

[2017-03-09 17:53] karelz commented on #6920
Overall it looks like we will need a brand new API surface (System.AddIn2) to achieve the goals of original System.AddIn.
It would be great to see such effort as independent NuGet package, it does not have to be in CoreFX repo as it does not have any direct ties to it.

Closing the issue as straightforward porting of System.AddIn to .NET Core is not actionable.

[2017-03-09 17:53] #6920 closed

[2017-03-09 17:58] Jaedson33 commented on #4278
Hi =D

[2017-03-09 18:03] karelz commented on #9846
@JohnGalt1717 I agree that we need shorter time to response on high-impactful problems. Some kind of escalation path. GitHub doesn't have anything like that built-in (beyond votes or monitoring entire repo) - note that this bug does not have any clear indication that it is high-impactful issue, unless you read all the replies, moreover it is closed!
Same goes for #11100, it was not widely understo

[2017-03-09 18:04] willdean commented on #16890
@karelz I have a suspicion this will turn out to be nothing to do with Core, and even if it is, I doubt it's going to be a bug in `SerialPort`.

Is it inevitable that the CoreCLR GitHub project will become the front door to MS developer support for everything related to .NET, or is there some plan to avoid that happening, or at least to provide some kind of triage?

[2017-03-09 18:06] JohnGalt1717 commented on #9846
As long as it's going to be dealt with so that this doesn't happen again I'm good. I'm just staring at about 7 full person-days of wasted time over the past year on this so I need to know that someone is taking this seriously and I'm not going to have to run from group to group getting them to do the right thing anymore.

[2017-03-09 18:07] CIPop commented on #16879
@bartonjs In most server situations I'd expect that the app won't have the ability to _write_ certificates, especially from the Trusted Root store. I also expect that an administrator can easily install the certificate without the help of a dev.

Regardless if the directory is meant for that purpose or not, please provide (and document) a way to manage certs w/o the need of code.

[2017-03-09 18:12] karelz commented on #16890
@willdean we do not track .NET Framework issues here. Only .NET Core.
I do first-level repo triage and assign issues to areas, I rarely have time to read details, especially if they are not super-simple and super-structured. In this case I assumed the issue is about .NET Core SerialPort, that's why I looped you in. If it's not, I or @JeremyKuhne can help close the issue and direct the question to

[2017-03-09 18:13] weshaggard opened #16912 "Inspect the files in .NET Core App and remove any unnecessary ones"
We are getting close to a preview release so we should inspect all the files in the shared framework (in particular the private netcoreapp package from corefx) and make sure there isn't anything that shouldn't be there.

Some potential candidates for removal are:
System.Security.Permissions
System.Text.Encoding.CodePages.

cc @ericstj @Petermarcu

[2017-03-09 18:14] Petermarcu commented on #16912
These are assemblies that are there and not longer used as implementations of things in netcoreapp2.0 and are also not exposed in the API surface area.

[2017-03-09 18:16] weshaggard commented on #16912
Yes anything where the ref was a placeholder in previous .NET Core applications (ex: https://github.com/weshaggard/tests/blob/master/netcoreapp/1.1.1-nca11/project.assets.json#L6840) that are also not part of the implementation closure any longer are candidates for removal.

[2017-03-09 18:16] gkhanna79 opened #16913 "dotnet core 1.1.0 and net461 now gets System.IO.FileSystem System.TypeLoadException"
@jeremyBass commented on [Thu Mar 09 2017](https://github.com/dotnet/coreclr/issues/10062)

I hope this is  the right place for this issue.  I have been betting my head on the wall on this.

I will say that I have this on [stackoverflow](http://stackoverflow.com/q/42693085/746758) as well, but believe it may be helpful to have it logged here.  I realize there are a few other issues that seem relat

[2017-03-09 18:17] gkhanna79 commented on #16913
@karelz @danmosemsft @weshaggard  PTAL

[2017-03-09 18:17] karelz commented on #9846
I am interested in details about your "7 full person-days wasted on this". That is valuable feedback and I can use it to convince others to do the right thing (set the priority). Can you write a short high-level description with estimates of the wasted time? It would be very useful for me.

If you want to help that way, I would suggest to start with shorter description first - I can ask for detail

[2017-03-09 18:22] ianhays commented on #15041
@danmosemsft huh yeah they must be enabled if we're getting failure reports now. I imagine it's from the engineering changes that modified how we chose test projects to run. In any case, you're right that there's still a good amount of debt here to run the tests and get them passing without these kinds of failures.

[2017-03-09 18:23] vancem commented on #16856
Change #16908 should fix this.

[2017-03-09 18:23] weshaggard commented on #16900
What branch are you building? It looks pretty hold as we haven't been doing the "Restoring all packages..." for a couple months in master. I would suggest you pulling the latest changes from master and doing a "clean.cmd -all" followed by a "build.cmd"

[2017-03-09 18:26] JohnGalt1717 commented on #9846
1. Because modules like System.Net.Http were not properly tested against .NET Full the same Nuget Package was used and marked as still marked as compatible with .NET Full. As a result of this, updating the package resulted in broken code.
2. Because of the delays in getting the issues fixed with these modules, every time you ran nuget (update to this module or not!) and got updates in VS.net, the

[2017-03-09 18:26] willdean commented on #16890
@karelz Thanks - it's fine at the moment, and I certainly don't want anyone struggling with something that's my fault when I haven't found out.  Like you say, I can always ignore it anyway.

[2017-03-09 18:29] shmao opened #16914 "To Remove System.Xml.XmlSerializer.Tests.settings.targets"
We'd like to remove System.Xml.XmlSerializer.Tests.settings.targets so that the XmlSerializer test projects would have the same structure as others.

As part of the issue, we would need to add ProjectReferences in System.Xml.XmlSerializer.Tests.csproj.

/cc: @zhenlan

[2017-03-09 18:31] DrewScoggins commented on #10567
Yeah, I will update the instructions referenced above.

[2017-03-09 18:31] #14255 closed

[2017-03-09 18:35] krwq commented on #16798
Moving it back to 2.0.0 milestone. @tintoy @anthonylangsworth - I think we will need to make this fix slightly faster. I've noticed that http://www.w3.org/2002/07/decrypt#XML is basically not working because of this.

[2017-03-09 18:37] bartonjs commented on #16879
@CIPop Does Windows document a way to alter the trust store without their API?  AFAIK they don't.

LocalMachine\Root is always read-only on Linux; managed by the normal OpenSSL-based-tools-process for the distro. So that's the administrator/server scenario.

CurrentUser\Root is always able to be opened as write (on Linux and Windows).

[2017-03-09 18:44] mellinoe commented on #16912
It's not exactly directly related to what this issue is probably referring to, but we should think about removing the duplicated dlls for which there are ni.dll's already. For example, we have both System.Private.CoreLib.dll and mscorlib.dll, even though their ni.dll's are there. We could save a little bit of space if we removed the former. This could also help the size of published applications,

[2017-03-09 18:47] danmosemsft commented on #15041
Can you confirm they're all enabled? If so, we can close this issue.

[2017-03-09 18:47] Petermarcu commented on #16912
Yeah, thats tracked here: https://github.com/dotnet/core-setup/issues/1484

[2017-03-09 18:48] haraldnagel commented on #15031
This was user error on my part. I was not specifying the startup project with `-s` as the `dotnet ef` instructions clearly say to. The bit in the stack trace about `Microsoft.Extensions.DependencyInjection` tipped me off. Thanks again @karelz for following up on my questions in an already-closed issue, it's greatly appreciated!

[2017-03-09 18:49] ianhays commented on #16857
I added retrying to most of the FSW tests already. This is one of a couple of tests that don't have it because they've already got long timeouts and live in Outerloop. That isn't really a perfect solution still though because the OS can still drop events and cause failures regardless of timeout length.

No reason we can't add Retries to these as well. It's not an ideal solution because it can pote

[2017-03-09 18:49] mellinoe commented on #16912
Great! Carry on, then 😄

[2017-03-09 18:54] safern opened #16916 "[NetFX compat]: EnumerableQuery<T>((IEnumerable<T>)null).GetEnumerator() difference in behavior"
The following code has a different behavior in NetFX:

[code]

If we call `GetEnumerator` on an `IQueryable<T>` instance that has a null `IEnumerable<T>` in CoreFX we would throw an `InvalidOperationException`, but in NetFX as stated in the MSDN Documentation it will not throw:

I've tried to execute the sample code I included before in a .NET 4.6.2 Console Application and it will cause an `StackO

[2017-03-09 18:58] dmetzgar commented on #16755
Duplicate of #10353

[2017-03-09 19:08] stephentoub commented on #13967
Just happened again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/4368/consoleText
[code]

[2017-03-09 19:17] #16864 closed

[2017-03-09 19:20] tofutim commented on #9846
we wasted 3 full person days on this

On Thu, Mar 9, 2017 at 10:27 AM, James Hancock <notifications@github.com>
wrote:

[2017-03-09 19:23] saurabh500 opened #16918 "SNI identity package not being built"
The SNI identity package at https://github.com/dotnet/corefx/blob/master/src/Native/pkg/runtime.native.System.Data.SqlClient.sni/runtime.native.System.Data.SqlClient.sni.pkgproj was last built on 1/13/2017 and has a version 4.4.0-beta-24913-02

This identity package doesn't reference the latest SNI runtime assemblies which are being uploaded to myget from an internal build system.
As a result, the

[2017-03-09 19:23] saurabh500 commented on #16918
Assigning to @ericstj as recommended offline by Wes and Gaurav

[2017-03-09 19:28] dhoehna commented on #15554
@mellinoe Any insight?

[2017-03-09 19:31] ianhays commented on #16782
Agreed.

Exactly. And if we determine the three to be **equally** reasonable for people porting from desktop then we should choose the option that retains the 1.X compat.

[2017-03-09 19:36] jeremyBass commented on #16913
@gkhanna79 thank you for porting it in the right spot.  Any info needed or any help to clear things up on my end I am happy to jump right on it.

[2017-03-09 19:44] ianhays commented on #15041
Well I don't know why they're failing the MC runs, but they're not running on my local machine because of [this line in the csproj](https://github.com/dotnet/corefx/blob/master/src/System.Security.AccessControl/tests/System.Security.AccessControl.Tests.csproj#L8). When I take that out, they all fail.

[2017-03-09 19:48] ianhays commented on #15041
I'm just going to take this.

[2017-03-09 19:52] danmosemsft commented on #16782
I agree with @ianhays. Unless some kind of semi consensus emerges here I guess "no change" will be the result.

[2017-03-09 19:56] Jaedson33 commented on #4278
Are there any failing tests?

[2017-03-09 19:57] mellinoe commented on #15554
I see what the problem is. These tests are compiling a private version of UrlPath into the assembly, and testing against that. This means that you aren't going to get code coverage data against the source assembly, because it isn't being used. You can get code coverage for the test assembly itself by passing `/p:CodeCoverageAssemblies=System.Configuration.ConfigurationManager.Tests`.

[2017-03-09 20:01] danmosemsft commented on #16914
I already have this in https://github.com/dotnet/corefx/pull/16704 but I didn't add any project references -- should I ? I can either revert this part or you could tell me what I should add.

[2017-03-09 20:03] karelz commented on #15031
@haraldnagel I think it is still worth filing there - I don't like experience of exceptions when you do wrong command line. It should be proper error, explaining and leading people to what to do IMO. Of course, if possible.

[2017-03-09 20:03] danmosemsft commented on #16825
@weshaggard how important is the remaining 400KB? I don't know the full picture .

[2017-03-09 20:04] karelz commented on #16916
@safern do you recommend to change .NET Core or Desktop?

[2017-03-09 20:06] karelz commented on #16755
@dmetzgar did you update the tests to point to the new issue? If not, please reopen and make the change prior to closing -- otherwise our vendors will reopen it again in next sweep.

[2017-03-09 20:08] tarekgh commented on #16916
The owner of System.Linq need to decide about that. I would say I like corefx behavior more than the desktop.

[2017-03-09 20:12] karelz commented on #13967
cc @ianhays @Priya91 @steveharter

[2017-03-09 20:12] karelz commented on #16916
OK, pushing the decision to 2.0 then ... @VSadov @OmarTawfik can you please take a look?

[2017-03-09 20:14] dmetzgar commented on #16755
@karelz no I didn't realize they made a code change
@qizhanMS could you make that change?

[2017-03-09 20:14] billwert commented on #16782
I'd like to see this through but am on vacation. Please don't close before next week.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Dan Moseley <notifications@github.com>
Sent: Thursday, March 9, 2017 9:52:15 AM
To: dotnet/corefx
Cc: Bill Wert; Mention
Subject: Re: [dotnet/corefx] FileInfo.CreationTime should throw PlatformNotSupported on platforms where it is

[2017-03-09 20:16] karelz commented on #16782
@billwert fine with me. I expected you to push back on the discussion here :)

[2017-03-09 20:18] karelz commented on #16755
@dmetzgar FYI: it's the 'disabled-test' label which tracks that. I said it also in the offline email that it may be easier just to dupe the old issue against this one ...

[2017-03-09 20:20] dhoehna commented on #15554
Hey @mellinoe, I might have been looking at the wrong report.  I didn't notice there were two.  When I run code coverage and look at the resulting index.htm file I am shown two assemblies.  System.Configuration.ConfigurationManager and System.Configuration.ConfigurationManager.tests.  Which one should I be looking at to determine code coverage?

[2017-03-09 20:21] CIPop commented on #11843
I have changed the code in the (very) early componentization stages (before .Net Core) to be compliant with OneCore.
For reasons having to do with RFC compliance, support, code unification and binary size the networking architect as well as the Winsock team recommended the new APIs (e.g. `RtlIpv4AddressToStringExW`).

[2017-03-09 20:24] mellinoe commented on #15554
Generally speaking, you want to look at the actual product assembly, which is "System.Configuration.ConfigurationManager" in this case. `UrlPath` is being compiled INTO the test assembly, because it is an internal type, so it wouldn't otherwise be visible or accessible. From one perspective, code coverage for internal types is not as interesting as for public types, because it cannot be reached ex

[2017-03-09 20:26] #16850 closed

[2017-03-09 20:26] ianhays opened #16919 "CommonSecurityDescriptor BinaryForm returning invalid output"
Several of the CommonSecurityDescriptor tests are failing by hitting a Debug statement [in the GetsddlForm code](https://github.com/dotnet/corefx/blob/master/src/System.Security.AccessControl/src/System/Security/AccessControl/SecurityDescriptor.cs#L244) that throws when the Win32 `ConvertSdToSddl` call returns an error.

These same tests pass when run against Desktop, so this is both a regression

[2017-03-09 20:27] mellinoe commented on #14093
I think everything should be working now. The OSX machines should have the necessary stuff installed now, as well.

[2017-03-09 20:27] #14093 closed

[2017-03-09 20:27] mellinoe commented on #13455
I don't think we should be seeing any more OOM's.

[2017-03-09 20:30] dhoehna commented on #15554
Yes it does make sense.  Because UrlPath is an internal class it is in the tests assembly.  If UrlPath was public, than the code coverage would show in tthe `System.Configuration.ConfigurationManager` assembly and not the tests assembly code coverage.

So, if I was testing a different internal classes, I would need to include the class in a `CodeCoverageAssemblies` parameter for msbuild?  As an ex

[2017-03-09 20:31] ianhays commented on #16919
cc: @danmosemsft @joperezr @dennisdietrich

[2017-03-09 20:32] mellinoe commented on #8230
Hey @MattGal have you been experiencing this still? I wonder if it has resolved itself in a newer version of the VNC Viewer or something like that.

[2017-03-09 20:34] dhoehna commented on #15554
Is it possible to get the code coverage to show up in System.Configuration.ConfigurationManager` for the purpose of adding the line coverage to the main assembly?

[2017-03-09 20:35] ccicchitelli commented on #9846
One day here...but I got lucky in that this thread existed so I found it when googling around for System.Net.Http. For those with similar DLL issues in other modules, they had no reference point.

[2017-03-09 20:36] stephentoub commented on #15554
Why can't we exercise UrlPath via the publicly-exposed APIs?

[2017-03-09 20:39] mellinoe commented on #15554
Indeed, you should probably focus on identifying which public codepaths exercise `UrlPath` and try to write extra tests (for those public classes) that hit it.

[2017-03-09 20:59] CIPop commented on #16879
In Windows, a system admin can manage certificates via MMC.exe or CertMgr.msc.
How would a sys-admin achieve this in Linux when using .Net Core?

[2017-03-09 21:15] Petermarcu opened #16923 "System.Diagnostics.DiagnosticSource causes a cycle"
This package recently started depending on NETStandard.Library rather than individual packages, but it can’t, because it’s referenced by NETStandard.Library itself. We need to figure out a solution here.

[2017-03-09 21:15] shmao commented on #16914
Thanks for removing the file, @danmosemsft. The project references needed to be added are shown below, (they were in `System.Xml.XmlSerializer.Tests.settings.targets`)

[code]

Can you add them into `System.Runtime.Serialization.Xml.Tests.csproj` and `ReflectionOnly\System.Runtime.Serialization.Xml.ReflectionOnly.Tests.csproj`. Thanks!

[2017-03-09 21:24] saul opened #16924 "Expression.Lambda<TDelegate> throws NRE if TDelegate is private"
See the following F# code:

[code]

The exception:
[code]

If the `MyDelegates` module is made public, the exception does not occur. The exception occurs because of [src/System/Linq/Expressions/LambdaExpression.cs#L879](https://github.com/dotnet/corefx/blob/720474a2b49f065c63697194ec098d4e6154404c/src/System.Linq.Expressions/src/System/Linq/Expressions/LambdaExpression.cs#L879).

`GetMethod("Invok

[2017-03-09 21:29] bartonjs commented on #16879
For **system** trust, they'd follow their distro's rules.  (e.g. [for Ubuntu](http://askubuntu.com/a/649463))

http://kb.kerio.com/product/kerio-connect/server-configuration/ssl-certificates/adding-trusted-root-certificates-to-the-server-1605.html gives a good overview for Windows, macOS and a couple of Linux distros.

**User** trust (which is what that directory structure is about) is:
* Windows:

[2017-03-09 21:29] safern commented on #16916
I like corefx behavior more as well, I rather have it throwing an `InvalidOperationException` than causing and `StackOverflow`.

[2017-03-09 21:33] wildtang commented on #16900
The branch I am building is release/1.1.0

[2017-03-09 21:34] Petermarcu commented on #16923
Perhaps related to this change: https://github.com/dotnet/corefx/commit/0ede35ef512ac16b5dabe8c6b7b3d7d54c1c0ddb

Last working package was on 2/22 https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Diagnostics.DiagnosticSource/4.4.0-beta-25027-01

[2017-03-09 21:35] stephentoub commented on #16156
This test no longer tries to set arbitrary environment variables.

[2017-03-09 21:35] #16156 closed

[2017-03-09 21:36] bartonjs opened #16925 "Rfc2898DeriveBytes should reuse arrays during chained HMAC invocations."
Rfc2898DeriveBytes provides an implementation for the PBKDF2 algorithm.

This algorithm does quite a lot of HMAC.ComputeHash calls, each of which marshals back and forth to native code and creates a byte\[\] to emit the answer into.

* Windows: [BCryptDeriveKeyPBKDF2](https://msdn.microsoft.com/en-us/library/windows/desktop/dd433795(v=vs.85).aspx)
* macOS: [CCKeyDerivationPBKDF](http://stackoverfl

[2017-03-09 21:39] karelz commented on #13455
@mellinoe just curious why you don't think we will see them? Did you change the tests? Or some infra changed?

[2017-03-09 21:41] #15041 closed

[2017-03-09 21:43] bartonjs commented on #15252
Since we haven't heard anything in quite a while I'm going to close this issue.  Feel free to post a followup, since that'll still send out notifications.

[2017-03-09 21:43] #15252 closed

[2017-03-09 21:44] danmosemsft opened #16926 "Try running tests that use pinning under GCStress"
As suggested in https://github.com/dotnet/corefx/pull/16922#issuecomment-285491684

There have been several bugs found through missing pinning in Crypto or Networking.

We should try running at least those tests under `set COMPLUS_GCStress=3`

It may be it's too slow -- but we could just let it run if it's merely slow.

[2017-03-09 21:47] #2667 closed

[2017-03-09 22:01] #16727 closed

[2017-03-09 22:19] karelz commented on #11843
@CIPop that should not prevent us from using the Desktop code on Linux/Mac, right?

It also raises a question if we want to have differences between platforms ... if we are going to use managed implementation on Linux/Mac, maybe we should use it also on Windows ... thoughts?

[2017-03-09 22:32] mellinoe commented on #13455
I did make some fixes, although I'm not positive that it's all fixed. I was assuming I'd get more "pings" if this kept happening, but maybe we just started ignoring them since this issue is open.

@Jiayili1 Are we still hitting these?

[2017-03-09 22:33] safern opened #16928 "[NetFX compat]: HttpWebRequest.GetRequestStreamAsync() hangs in desktop"
When creating multiple `HttpWebRequest` instances and calling `GetRequestStreamAsync()` it hangs in desktop. There is a test class that does this and when running it in desktop it just hangs forever because all the tests create an `HttpWebRequest` instance and call `GetRequestStreamAsync().GetAwaiter().GetResult()` -- [source code](https://github.com/dotnet/corefx/blob/master/src/System.Net.Reques

[2017-03-09 22:37] karelz commented on #13455
@mellinoe if you did some fixes, we can close it and wait for new occurrences to reopen the issue/file a new one - or we can wait for reply from @Jiayili1 ... up to you ;-)
Thanks! (I was truly just curious, no push back meant)

[2017-03-09 22:47] ianhays commented on #15114
Full framework throws an ArgumentOutOfRangeException also. I'm not sure why the tests are asserting otherwise.

[Reference Source](https://referencesource.microsoft.com/#mscorlib/system/console.cs,4474c08a54143211)

I also tested it on .net 4.6 and got an AOoRE.

So the work here is actually to just remove the fullnet specific test.

[2017-03-09 22:52] ianhays commented on #15114
Looks like we messed up the paramname when we did the switch to nameof in netcore, so thats why the AOoRE test was failing on desktop. Fix coming in a minute.

[2017-03-09 22:52] davidsh commented on #16928
This is .NET Framework bug (potentially).  Yet, you marked it as [NETFX compat].  We only use that marking if this was a .NET Core bug and the behavior was different than .NET Framework (Desktop).

We don't track .NET Framework (Desktop) bugs here.  Please open up a bug in the Connect portal.

[2017-03-09 22:55] safern commented on #16928
Ok, still I will be disabling the tests for Desktop.

[2017-03-09 22:59] tarekgh commented on #15114
@ianhays looks there is something messing here. please loo at
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170108.02/workItem/System.Console.Tests/analysis/xunit/WindowAndCursorProps~2FWindowWidth_WindowHeight_InvalidSize

the logs shows

[code]

[2017-03-09 23:02] tarekgh commented on #15114
also look at the source

http://index/?query=System.Console.GetBufferInfo&rightProject=mscorlib&file=system%5Cconsole.cs&line=973

it throws IOException

[2017-03-09 23:04] ianhays commented on #15114
Thanks Tarek. ```the handle is invalid``` is a different failure entirely and is not the expected result of setting WindowWidth/WindowHeight to 0.

It shouldn't be getting to that point though. It should stop at the check in [SetWindowSize](https://referencesource.microsoft.com/#mscorlib/system/console.cs,4474c08a54143211) where we check against the 0 input.

[2017-03-09 23:07] ianhays commented on #15114
I fired up a Console app with this and got an ArgumentOutOfRangeException.

I see where it's failing, but getting the `WindowHeight` shouldn't be throwing an IOException for this test. It is hiding what we're actually testing. I'm not too familiar with how we run these tests against the full framework - is the Console redirected?

[2017-03-09 23:07] tarekgh commented on #15114
from the stack looks the WindowHeight is the one throwing. so it looks the console window somehow was missed up.

[2017-03-09 23:09] CIPop commented on #11843
In general, this is a tough question:

On one hand, if we write/use our own parser, other apps using different frameworks (not .Net), running on the system or even the OS may not understand/allow that same string. This means we're making our framework incompatible with apps running on the same platform (e.g. a similar issue: this URI works fine in my browser but doesn't work in .Net Framework.)
On

[2017-03-09 23:09] ianhays commented on #15114
Yeah. The Setter calls the getter which fails from an IOException before the value being set gets a chance to hit the SetWindowSize check for valid input.

[2017-03-09 23:09] ianhays commented on #16516
We hit another one: https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/4435/testReport/junit/System.Net.Security.Tests/SchSendAuxRecordTest/SslStream_ClientAndServerUsesAuxRecord_Ok/

System.Net.Security.Tests.SchSendAuxRecordTest.SslStream_ClientAndServerUsesAuxRecord_Ok (from (empty))

MESSAGE:
System.ComponentModel.Win32Exception : The credentials supplied to the packag

[2017-03-09 23:09] tarekgh commented on #15114
as you said the console handle was invalid so the question why the handle got invalid during the test?

[2017-03-09 23:12] tarekgh commented on #15114
actually the handle should be valid. it looks what is failed in the pinvoke call

GetConsoleScreenBufferInfo

[2017-03-09 23:13] bartonjs commented on #11802
Pulling this in for 2.0 so we don't have a mismatch between legacy PrivateKey property (can do DSA) and the new Get*PrivateKey methods (can't).

[2017-03-09 23:15] steveharter commented on #16516
@ianhays have you been able to grab a test machine from Jenkins that had a failure? I would like to compare the OS version and updates against my local environment - I've been unable to repro these on local Win7 although I have all updates etc applied. Thanks

[2017-03-09 23:17] tarekgh commented on #16928
@davidsh could you please help logging the issue on connect and paste the issue link here? Thanks.

[2017-03-09 23:18] ianhays commented on #16516
Yeah, I tried to repro them on a Jenkins machine before. I just took the machine offline. I'll send you the links and login info so you can play around on it.

[2017-03-09 23:59] safern opened #16934 "[NetFX compat]: Desktop doesn't have cancellation support."
There is two tests in `System.IO.Pipes` that hang forever when running in desktop. Desktop doesn't have cancellation support and this tests are trying to cancel a Task through a `CancellationToken`.
* [Test 1](https://github.com/dotnet/corefx/blob/master/src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.Simple.cs#L526-L561)
* [Test 2](https://github.com/dotnet/corefx/blob/master/src/System.IO

[2017-03-10 00:08] CIPop commented on #16879
I like the powershell idea.
Unfortunately they don't support this just yet: https://github.com/PowerShell/PowerShell/issues/1865

[2017-03-10 00:25] jamesqo commented on #16886
@stephentoub Regarding your/@mikedn's point about using `this` instead of a CWT, I think unless a lot of legacy code is using `SyncRoot` (and @svick's findings about 10% of apps using `SyncRoot` are because of ICollection implementations), slower code is better than potentially broken code.

If that's true, shouldn't it be possible to convert those usages to lock directly on the collection?

[2017-03-10 00:31] danmosemsft commented on #16914
Those project references do not exist. Of course it was not erroring, because that targets file was not being used. Anything to do here?

[2017-03-10 00:37] stephentoub commented on #16886
My point was that a lot of code uses this stuff, including very active code bases like System.Private.CoreLib.

[2017-03-10 00:38] danmosemsft commented on #16886
The API usage data is even higher when I look at apps. In some groups it's 100%. I bet this is custom ICollections, and many of the usages in apps are a few utility libraries.

[2017-03-10 00:40] danmosemsft commented on #16926
Of course if it is slow -- tests with timeouts may fail for those -- which would need filtering out/modifying to get past

[2017-03-10 00:43] krwq commented on #4278
@Jaedson33 @anthonylangsworth @tintoy
Here is the current list of (arbitrarily) most important issues:
https://github.com/dotnet/corefx/issues?q=is%3Aopen+is%3Aissue+label%3ASystem.Security.Cryptography.Xml+label%3A%22up+for+grabs%22

[2017-03-10 00:45] jamesqo commented on #16886
Would be interesting to see if there is way to get usage data counting only the callsites and not the implementations

[2017-03-10 00:53] JeremyKuhne commented on #16782
Sorry, been out for the past week. My thinking is in line with @ianhays position.

I also agree that making creation match last modified would be a bad thing. One can look at creation == time(0) and make a decision about availability of creation time. Creation == modified requires additional logic. In addition, when code doesn't allow for no creation time I'd rather see it fall into always vs. nev

[2017-03-10 00:54] shmao commented on #16914
@danmosemsft sorry, I gave wrong project references above. I've updated them to the right ones. However, they still do not exist anymore...

We used to have those `<ProjectReference>` so that the test project could test the package built from the repo instead of testing the one downloaded from myget. But I just found that most of the `\pkg` folders had been removed, e.g. the `\pkg` folder under `S

[2017-03-10 00:56] saurabh500 opened #16940 "SqlClient manual test run in the CI"
All the SqlClient tests in Manual Tests, which can be run in the CI, should be made to do so.

More details about the tests to follow in this issue.

[2017-03-10 00:58] danmosemsft commented on #16914
I believe so. @joperezr

[2017-03-10 00:59] JeremyKuhne commented on #16857
@ianhays If there is no guarantee that the OS will produce an event it makes total sense to retry (and document). As to masking errors- thinking through what could go wrong if we've verified a happy path we might be able to suss out some more tests to mitigate (perhaps utilizing non-public reflection to poke our own state).

[2017-03-10 01:01] corivera commented on #16940
SqlNamedPipesTest could be easily automated, since it only does connection opens.

[2017-03-10 01:02] Jiayili1 commented on #13455
@mellinoe @karelz This issue doesn't occur on recent builds, I will check it on 20170309.03 if the build is finished.

[2017-03-10 01:05] joperezr commented on #16753
cc: @stephentoub (original author of the test)

[2017-03-10 01:21] joperezr commented on #16606
@swgillespie are you still working on getting this test fixed?

[2017-03-10 01:22] tintoy commented on #16780
They both look like the same comparison with the same result to me, what am I missing?

[2017-03-10 01:31] tintoy commented on #16781
Ok, I'll try to have a look at this over the weekend :)

[2017-03-10 01:39] danmosemsft opened #16944 "Consider adding PInvoke check against UWP list for tests built for UWP"
We do not run the PInvoke checker using the UWP list against tests as they do not need to go through store validation. However they do need to run in appcontainer and it's possible that they might end up using calls that do not work correctly there. It may be worth enabling the checker and baselining existing PInvokes so we think before we add any more.

Enabling this is just flipping a property i

[2017-03-10 01:40] karelz commented on #13455
@Jiayili1 thanks for confirmation! Closing. Let's reopen if it happens again.
I assume no tests are disabled against it.

[2017-03-10 01:40] #13455 closed

[2017-03-10 01:54] saurabh500 commented on #16606
Another failure at https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/4383/testReport/junit/System.Tests/GCTests/GetAllocatedBytesForCurrentThread_size__100000_/

[2017-03-10 02:13] davidsh commented on #16928
cc: @weshaggard

[2017-03-10 02:14] Jiayili1 opened #16945 "Test: System.Net.Sockets.Tests.SendReceiveEap.SendToRecvFrom_Datagram_UDP(loopbackAddress: ::1) failed in CI"
Failed test: System.Net.Sockets.Tests.SendReceiveEap.SendToRecvFrom_Datagram_UDP(loopbackAddress: ::1)
Configuration: OuterLoop_CentOS7.1_debug ([build#123](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_debug/123/testReport/))

Message:
[code]

Stack Trace:
[code]

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_debug/123/consoleText

[2017-03-10 02:14] bartonjs opened #16946 "DSA cert.PublicKey.Key throws NotSupportedException on non-Windows systems."
There was already a test, but it was marked as PlatformSpecific to Windows.

Seeing no other issue tracking this, here's a new one.

[2017-03-10 02:16] karelz commented on #16928
@davidsh so it is a dupe of the "stop shipping System.Net.Http Nuget package" #16805?

[2017-03-10 02:18] Jiayili1 commented on #13298
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_debug/123/consoleText

[code]

[2017-03-10 02:18] jkotas commented on #16944
How many PInvokes are there in the tests?

You will need to mark tests that do not work for UWP somehow. I think it should require as little ceremony as possible. Ideally, just mark the test with `[SkipOnTargetFramework(TargetFrameworkMonikers.UWP` or something similar.

If you start enabling things like PInvoke checker for tests, it will add to the ceremony required to deal with it.

[2017-03-10 02:22] vors opened #16947 "In Web Request there is no way to set the Content-Type header without Content"
## Scenario

I want to do an equivalent of
[code]
Source:
https://www.dropbox.com/developers/documentation/http/teams#team-get_info

## Problem

Currently there is no way to do it.

## Details

I need to set Content-Type header on a request without setting Content.
Currently there is no way to do it, because to setup the Content-Type, I should call `request.Content.Headers['Content-Type']`. But if

[2017-03-10 02:33] davidsh commented on #16928
No.  This is NOT a dupe.

The current System.Net.Requests package is separate from System.Net.Http.  This package needs changes to the build mechanism so the 'net46' target will be generated and needs to be full facade.  The 'netstandard' target can remain as-is with the .NET Core implementation.

[2017-03-10 02:34] Jiayili1 commented on #16856
This issue failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_debug/126/testReport/System.Diagnostics.Tests/ActivityTests/DiagnosticSourceStartStop/

Since it is closed 8 hours ago, we will check this issue no next build, if it is still repro, will reopen it.

[2017-03-10 02:34] davidsh commented on #16928
By the way, this is NOT an OOB package.  There is no System.Net.Requests package/dll on Desktop. Historically, it has been a facade in the Win 8/8.1 Store Profile.  But changed to implementation w/ NET Core.

[2017-03-10 02:35] cakoose commented on #16947
Tangent: to get your Dropbox API call to work, you should:
- Set `Content-Type: application/json`
- Put valid JSON in the request body.  The "team/get_info" call takes no parameters, so the body should contain the string "null".

[2017-03-10 02:35] madelson opened #16948 "ImmutableHashSet inconsistently accepts and rejects null values"
It is possible to create an `ImmutableHashSet<T>`  containing a null value using `ImmutableHashSet.CreateRange<T>` and `Union`. However, other methods of doing so (`Add`, `Create<T>(T)`) result in `ArgumentNullException`:

[code]

Similarly, trying to remove a null with `Remove` throws but the null can be removed using `Except`.

This seems like a bug. I think these sets should allow null as an el

[2017-03-10 02:37] danmosemsft opened #16949 "S.Linq.Expressions and S.Xml.XmlSerializer need uapaot configuration adding"
These two projects clearly are missing a uapaot configuration (on top of their uap configuration).

I noticed S.Linq.Expressions.csproj
[code]

Same in S.Xml.XmlSerializer.csproj
[code]

[2017-03-10 02:37] danmosemsft commented on #16949
https://github.com/dotnet/corefx/pull/16704#discussion_r105320214

[2017-03-10 03:10] danmosemsft commented on #16948
@AArnott

[2017-03-10 03:11] jkotas commented on #16886
Changing what SyncRoots returns for existing framework collection classes would be a potential behavior breaking change. I doubt it will fly since we care a lot about compatibility quite a bit.

Changing the implementation of SyncRoot to use ConditionalWeakTable preserves the behavior; and just changes the perf characteristics. You are basically talking about improving memory consumption a tiny bi

[2017-03-10 03:11] danmosemsft commented on #16944
OK I won't bother unless this turns out to be a problem when we try to run them.

[2017-03-10 03:11] #16944 closed

[2017-03-10 03:16] danmosemsft commented on #16896
I would vote for an instance method on Exception as this seems core, commonly needed functionality.

[2017-03-10 04:00] lmolkova commented on #16856
Fixed in #16951, tested on outerloop Windows 7 Debug and Release

[2017-03-10 04:04] vors commented on #16947
Oh, 'null' actually does the trick! Thank you for a workaround.

[2017-03-10 04:05] stephentoub opened #16953 "Unhandled exception from IPEndPointExtensions.Create in Socket tests"
[code]

[2017-03-10 04:07] #14283 closed

[2017-03-10 04:08] #9438 closed

[2017-03-10 04:23] danmosemsft opened #16956 "Dumpling downloaded over and over?"
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/4347/consoleFull#-6109453532d31e50d-1517-49fc-92b3-2ca637122019

All the way through the log I see this (only one test actually failed)
[code]

@mellinoe

[2017-03-10 04:31] syclee commented on #13504
I had a similar situation where we have an Azure App Service that we had deployed running on .NET Core runtime. A couple of days ago we realized our Application Insights was not working correctly, the dependency tracker feature of App Insights is not supported when running on .NET Core runtime. We then decided to switch our runtime to the full .NET Framework.

Our project.json was modified to run

[2017-03-10 04:51] #5606 closed

[2017-03-10 04:55] danmosemsft commented on #16422
once fixed please also change this condition in the project in 3 places
`'$(UWPCompatible)' == 'true'">` to `'$(TargetGroup)' == 'uap'`

[2017-03-10 05:02] danmosemsft opened #16958 "Failure in System.Diagnostics.Tests.ProcessTests.TestRootGetProcessById in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/4347/consoleFull#-6109453532d31e50d-1517-49fc-92b3-2ca637122019
.
[code]

XUnit creates the test fixture (class) for each test invoked. After the test completes, it disposes the class:
https://github.com/xunit/xunit/blob/master/src/xunit.execution/Sdk/Frameworks/Runners/TestInvoker.cs#L216

This test doesn't make any processes bu

[2017-03-10 05:03] #15114 closed

[2017-03-10 05:05] danmosemsft commented on #16914
Closing meantime as this is done in https://github.com/dotnet/corefx/pull/16704

[2017-03-10 05:05] #16914 closed

[2017-03-10 05:11] anthonylangsworth commented on #16798
What is the goal, @krwq ? If we cannot change the implementation, is the goal to create workarounds with what remains?

[2017-03-10 05:37] saurabh500 commented on #16129
Managed SNI is now the default Networking impl on Windows.
To toggle to Native SNI the AppContext Switch is `System.Data.SqlClient.UseLegacyNetworkingOnWindows`

[2017-03-10 05:37] #16129 closed

[2017-03-10 06:02] danmosemsft commented on #16926
Trying this on S.Net.Sockets initially. After 5 mins I got this

[code]

@stephentoub  famliiar?

[2017-03-10 06:05] Jiayili1 commented on #16670
This issue is repro on 20170310.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170310.01/workItem/System.Data.SqlClient.Tests/analysis/xunit/System.Data.SqlClient.Tests.DiagnosticTest~2FConnectionOpenAsyncTest

Message:
[code]

Stack Trace:
[code]

[2017-03-10 06:09] dotnet-mc-bot opened #16960 "Test failure: System.Data.SqlClient.Tests.ExceptionTest/ExceptionTests"
Opened on behalf of @Jiayili1

The test `System.Data.SqlClient.Tests.ExceptionTest/ExceptionTests` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.Data.SqlClient.SqlException)\r
    Actual:   typeof(System.TypeInitializationException): The type initializer for 'System.Data.SqlClient.TdsParser' threw an exception.

        Stack Trace:

           at System.Data.SqlClient.TdsPars

[2017-03-10 06:10] Jiayili1 commented on #16960
Closed issue: https://github.com/dotnet/corefx/issues/14756

[2017-03-10 06:11] saurabh500 commented on #16670
All the Diagnostics Test failed in the above execution.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170310.01/workItem/System.Data.SqlClient.Tests

There was a failure to load SNI.dll

[code]

[2017-03-10 06:12] saurabh500 commented on #16670
There is an issue I filed where the older sni.dll is being packaged for CoreFx.
https://github.com/dotnet/corefx/issues/16918

@Jiayili1 what is the Windows OS version of the machine these test is failing on?

[2017-03-10 06:20] Jiayili1 commented on #16856
This issue is repro on build 20170310.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170310.01/workItem/System.Diagnostics.DiagnosticSource.Tests/analysis/xunit/System.Diagnostics.Tests.ActivityTests~2FDiagnosticSourceStartStop

[2017-03-10 06:23] danmosemsft commented on #16926
Oh - it found https://github.com/dotnet/corefx/issues/16953. I assume you found that without stress, so maybe it's unrelated to the stress flag. I'll try again with the fix for that.

[2017-03-10 06:23] Jiayili1 commented on #16670
@saurabh500 It is failed on windows_nt.x86 and windows_nt.amd64

[2017-03-10 06:27] Jiayili1 commented on #16593
Failed again on build 20170310.01, https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170310.01/workItem/System.Memory.Tests/analysis/xunit/System.SpanTests.ReadOnlySpanTests~2FIndexOverflow

[2017-03-10 06:34] Jiayili1 commented on #16534
Failed again on build 20170310.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170310.01/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.ServerAllowNoEncryptionTest~2FServerAllowNoEncryption_ClientNoEncryption_ConnectWithNoEncryption

[2017-03-10 06:35] Jiayili1 commented on #16516
Failed again on build 20170310.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170310.01/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.SslStreamNetworkStreamTest~2FSslStream_SendReceiveOverNetworkStream_Ok

[2017-03-10 06:39] krwq commented on #16798
@anthonylangsworth we can change implementation, the only difference when changing implementation is that we need to make those changes in separate PRs and file issues for them so that we can track porting to desktop and so that the change is really easy to review during triage. I think if you've opened PR with 2 lines change which would enable your test and fix we will be able to take it, @danmos

[2017-03-10 06:39] dotnet-mc-bot opened #16961 "Test failure: System.Tests.SetEnvironmentVariable/ModifyEnvironmentVariable_AndEnumerate(target: Process)"
Opened on behalf of @Jiayili1

The test `System.Tests.SetEnvironmentVariable/ModifyEnvironmentVariable_AndEnumerate(target: Process)` has failed.

has the key we entered\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Tests.SetEnvironmentVariable.<>c__DisplayClass8_0.<ModifyEnvironmentVariable_AndEnumerate>b__0()
       at System.Tests.SetEnvironmentVariable.

[2017-03-10 06:45] dotnet-mc-bot opened #16962 "Test failure: System.Tests.TimeZoneInfoTests/IsDaylightSavingTime_CatamarcaMultiYearDaylightSavings"
Opened on behalf of @Jiayili1

The test `System.Tests.TimeZoneInfoTests/IsDaylightSavingTime_CatamarcaMultiYearDaylightSavings` has failed.

Test with the zone America/Argentina/Catamarca and date 10/1/46 4:00:00 AM failed
    Expected: True
    Actual:   False

        Stack Trace:

           at System.Tests.TimeZoneInfoTests.VerifyDST(TimeZoneInfo tz, DateTime dt, Boolean expectedDST) in /root/

[2017-03-10 06:45] danmosemsft commented on #16798
If it's a code bug -- we are not porting fixes to Desktop at the moment unless they are quite serious problems. At some future point we'll presumably go through issues labeled "netfx-port-consider" like this but it's not happening right now. So I wouldn't go to any particular effort to open lots of such issues.  We have made hundreds of fixes in Core over the last 2 years that would be port candid

[2017-03-10 06:46] Jiayili1 commented on #16962
related issue: https://github.com/dotnet/corefx/issues/10671

[2017-03-10 06:46] #16749 closed

[2017-03-10 06:52] krwq commented on #16798
@danmosemsft thank you, that's exactly what I wanted to know! @anthonylangsworth tl;dr; we can make a fix as long as we disable the test on net45

[2017-03-10 07:46] karelz commented on #16949
Would it make sense to break it out into 2 separate issues to avoid overloading Meta area?

[2017-03-10 07:47] karelz commented on #16949
Oh, never mind - I didn't notice you are already fixing it. It doesn't matter in that case.

[2017-03-10 08:06] jeremyBass commented on #16913
I just wanted to report back, I switched to just using the `net452` framework for the moment and dropped  `"Novell.Directory.Ldap.NETStandard": "2.3.6"` .  I am working on the POC for the project so dropping LDAP out for the moment is ok.   I figured I would share this news in case it helps.

**note:** I used the templates on a new project and didn't update them, only added the needed items

    {

[2017-03-10 08:15] galich commented on #9846
I'm not bothered to count how much time wasted on this, enough to say we wasted a lot more than we should have. It also taught us that NuGet updates are pain and we are more conservative now.

[2017-03-10 08:22] galich commented on #9846
@karelz actually I've got a suggestion you might want to pass to the right ears:

[code]

We've made a build, it works on our machines, we deployed it and users started to tell us that things are going wrong. After a while we received FileLoadException with poor reference that System.Net.Http.dll is of wrong version, but it took some time to figure out what platform inconsistency it was and it's n

[2017-03-10 08:30] jmvtrinidad commented on #16890
Hi @willdean , I'm currently using .Net Framework 4.0. I will recreate same scenario using .Net Core but I have a problem referencing `System.IO.Ports.SerialPort` in my .NetCoreApp 1.1.

[2017-03-10 08:36] geirsagberg commented on #13746
Another useful feature would be deconstruction of anonymous types,. Given the following common pattern for extracting projections from LINQ:

    var userNameAndId = MyContext.Users.Select(u => new { u.Id, u.Name }).First();
    var userName = userNameAndId.Name;
    var userId = userNameAndId.Is;

It would be nice to do the following:

    var (userId, userName) = MyContext.Users.Select(u => new

[2017-03-10 08:40] willdean commented on #16890
@jmvtrinidad I'm afraid you're in the wrong place for Net 4.0 support - you would probably be best going to StackOverflow for this sort of stuff.

[2017-03-10 08:43] karelz commented on #13746
@geirsagberg I don't that is something CoreFX can handle -- this sounds more like a feature of the compiler. Can you please file it there? (or check that it isn't filed or if it wasn't rejected before from some reason)

[2017-03-10 08:50] karelz commented on #16947
How common is the scenario? What would you suggest to change?

[2017-03-10 09:08] geirsagberg commented on #13746
Yup, will do!

[2017-03-10 09:16] robdmoore commented on #2575
Why aren't aliases supported? I find this to be a really useful feature since often people will have `(local)` or `.`. or `localhost` as the server in the connection string, but I prefer to install SQL Express (quicker/easier/smaller install) and then use aliases so I can work with whatever connection string is in source control in the various projects I work on. I'm a consultant so often work in

[2017-03-10 09:34] gimlichael commented on #9846
@karelz all-in-all, errors related to .NET Platform Standard, .NET Core, UAP and your colleagues constant switching between terms, concepts, standards and what not, I would give a qualified guess of at least 40 hours+.

This is in no way an attack on you as a person; I believe the path you overall has chosen with .NET Standard and Core is an excellent choice - the road for early movers has just be

[2017-03-10 10:43] cakoose commented on #16947
(I'm looking in from the outside, so please excuse me if I'm misunderstanding something.)

It looks like @vors thought the Dropbox API required a `Content-Type` without an entity body?  This isn't true -- the entity body is required.  For the API request in his example, the entity body must be the string "null", which may have caused some confusion.

In general, I don't think it makes sense to hav

[2017-03-10 11:47] Noldax opened #16967 "System.NotSupportedException when I want to load Assembly from Stream"
Hi everyone,

I would like to load a DLL file from http://localhost:8080/bin/ and instantiate classes and functions in my .Net Core application.

But when I want to get the assembly I get this exception `System.NotSupportedException: Specified method is not supported.`

Here the code :

[code]

How am I supposed to do that ?

Thanks in advance !

[2017-03-10 12:25] stephentoub commented on #16926
It was introduced by https://github.com/dotnet/corefx/pull/15141

[2017-03-10 12:32] stephentoub opened #16968 "ClientAsyncAuthenticate_MismatchProtocols_Fails test failed in CI on Windows"
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/4484/consoleText
[code]

[2017-03-10 13:13] geirsagberg commented on #13746
Created a discussion here: https://github.com/dotnet/csharplang/issues/244

[2017-03-10 14:33] qmfrederik opened #16970 "PEBuilder.WriteCoffHeader does not populate the IMAGE_FILE_HEADER TimeDateStamp field"
The [PEBuilder.WriteCoffHeader](https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/src/System/Reflection/PortableExecutable/PEBuilder.cs#L197) method does not populate the TimeDateStamp field of the IMAGE_FILE_HEADER struct.

Instead, it appears that random values are stored in this value every time a new file is generated.

I noticed this when trying to find out software

[2017-03-10 14:35] qmfrederik commented on #16970
Code compiled with the NetFX compilers does have the TimeDateStamp set to a correct value.

I can submit a PR which fixes this behavior - seems easy enough. However, before doing so, I'd like to understand whether that PR would be accepted :), if you'd be OK with using `DateTime.Now`, and whether the Roslyn compilers use this code when running on .NET Core or whether there's another copy of this c

[2017-03-10 15:16] tannergooding opened #16972 "The .editorconfig should be updated to support the code style options made available in VS2017"
Currently we have a set of code style guidelines here: https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md.

However, we don't have a good way to enforce this (aside from manual code reviews and occasionally running https://github.com/dotnet/codeformatter) when users have their VS options configured away from the defaults.

VS2017 added support for specifyi

[2017-03-10 15:38] nguerrera commented on #16970
The timestamp is patched to a correct value [here](https://github.com/dotnet/corefx/blob/ec2a6190efa743ab600317f44d757433e44e859b/src/System.Reflection.Metadata/src/System/Reflection/PortableExecutable/PEBuilder.cs#L116-L119)

The indirection through a provider is in support of deterministic (aka reproducible) builds. See http://blog.paranoidcoding.com/2016/04/05/deterministic-builds-in-roslyn.htm

[2017-03-10 15:38] #16970 closed

[2017-03-10 15:46] stephentoub commented on #2751
@karelz, the issue is well understood: @svick outlines exactly the problem.  It's primarily a question of if we want to change the existing behavior.

[2017-03-10 15:51] qmfrederik commented on #16970
@nguerrera OK - thanks for the explanation! Makes sense - `<Deterministic>false</Deterministic>` works in my case, so I'll stick with that at the moment.

[2017-03-10 15:53] stephentoub commented on #5558
@AlexGhiondea, is this actually an issue on CoreCLR?  `EqualityComparer<double>.Default` will return a `GenericEqualityComparer<double>`, which uses Equals, since that's what's available via the `IEquatable<T>` interface.

[2017-03-10 16:00] saurabh500 commented on #2575
The SQL server alias is defined on each client machine and it points to a SQL server instance. The alias information is stored in the registry on Windows. This is a OS specific dependency which can work only on Windows. As a result we decided to drop support for sql alias in core fx.

[2017-03-10 16:01] gkhanna79 opened #16973 "ConfigureAwait does nothing?"
@borrrden commented on [Thu Mar 09 2017](https://github.com/dotnet/coreclr/issues/10082)

I ran into this unusual problem when running a unit test with xUnit.  I noticed the thread before I `await`ed an `async` call and the thread when I was done were different.  Ok, I guess this makes sense after reading about `SynchronizationContext`.  However, the weird part is that things are continuing on the

[2017-03-10 16:23] KlausLoeffelmann opened #16974 "Also include 'Visual Basic 2017' in the System.ValueTuple Package description."
Visual Basic 2017 also got Tuple support.
In the description of the NuGet Package, only C#7 is mentioned.

It would be nice and helpful for the VB developers to include "Visual Basic 2017" in the description.

[2017-03-10 16:36] vors commented on #16947
I could be wrong, but in my mind the fact that `null` string body worked for dropbox API is really a **workaround**.

It intended to require no body, not "null" body, at least from [the documentation](https://www.dropbox.com/developers/documentation/http/teams#team-get_info):

In their example with `curl`, there is no "null" string-as-a-body passing.
[code]

The fact that you can pass null is real

[2017-03-10 16:41] robdmoore commented on #2575
I found that behaviour surprising to be honest. The fact it would be windows only I don't think is a problem given it's transparent to the API surface area so you won't know something is missing on non-windows environments.

--

[2017-03-10 16:42] karelz commented on #2751
@stephentoub thanks, I updated my "next step" comment.
The comment was part of triage with area owners @brianrob and @vancem. We agreed that we would take the change if it is not too risky.

[2017-03-10 16:48] divega opened #16975 "Keyword not supported: 'TransparentNetworkIPResolution'"
_From @msmolka on March 10, 2017 12:50_

I'm sharing connection string between net462 and core application.
connection string contains `TransparentNetworkIPResolution=False;'

When starting ASP NET Core app I have following error:
[code]

I'm expecting `TransparentNetworkIPResolution` is proper keyword.

### Further technical details
EF Core version: 1.1.1
Database Provider: Microsoft.EntityFramew

[2017-03-10 16:48] divega commented on #16975
_From @ErikEJ on March 10, 2017 13:42_

It is not implemented in .NET Core (yet)
https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=TransparentNetworkIPResolution
(and no related issue either)

[2017-03-10 17:08] MattGal commented on #8230
I've stopped using VNC entirely, and it certainly does seem to have various weird effects on inputs when using it, not just for corerun.  I'd be OK closing this since it doesn't seem to come up often.

[2017-03-10 17:09] #8230 closed

[2017-03-10 17:12] danmosemsft commented on #16961
@JeremyKuhne .. this one again..!

[2017-03-10 17:13] danmosemsft commented on #16962
@tarekgh

[2017-03-10 17:19] stephentoub commented on #16973
@borrrden, I'm going to close this, as I don't believe there's a bug in ConfigureAwait here.  If you're still seeing problems that you believe are due to the implementation, we can re-open this.  Thanks.

[2017-03-10 17:19] #16973 closed

[2017-03-10 17:21] karelz commented on #16947
FYI: The same property is available also on .NET Core: [HttpWebRequest.ContentType](https://apisof.net/catalog/System.Net.HttpWebRequest.ContentType)

How common is the scenario that you need to send `Content-Type` without a body?

[2017-03-10 17:22] karelz commented on #16967
Which API throws the exception? Networking or `LoadFromStream`? If it is `LoadFromStream` - does it happen with `FileStream` or `MemoryStream` as well?
Which version of .NET Core do you use?

[2017-03-10 17:24] karelz commented on #16972
@tannergooding do you want to submit a PR?

[2017-03-10 17:25] tannergooding commented on #16972
I have a lot of various fixes I am tracking right now (both for dotnet repo's I actually work on and for dotnet repo's I actively contribute to).

I might get around to this eventually, but probably not within the next week.

[2017-03-10 17:25] karelz commented on #16974
@jcouv can you please comment?

[2017-03-10 17:27] karelz commented on #16972
Sounds good, it is up for grabs - if anyone wants it, please say so.
Complexity: Low

[2017-03-10 17:44] AArnott commented on #16948
Thanks for reporting, @madelson. You bring up an interesting point on the inconsistency.

This overall problem is already tracked by #15403

[2017-03-10 17:44] #16948 closed

[2017-03-10 17:46] stephentoub commented on #14530
https://github.com/dotnet/corefx/issues/16655 is a dup of this, but that one has more discussion, so closing this one.

[2017-03-10 17:46] #14530 closed

[2017-03-10 17:47] danmosemsft commented on #16856
@lmokova Build 20170310.01 was synced to 870fbaad. (Contact me if you want to know how to figure this out. It doesn't seem to be publicly accessible data right now.)

It seems that does contain the fix from yesterday:
git rev-list 870fbaad | find /i "8a69cc3"
8a69cc3c5f4d3d640246f23e1ea0bac39d8b530e

[2017-03-10 17:47] vors commented on #16947
I have no data about how common it is.

I actually confused `System.Net.Http.HttpRequestMessage` and `System.Net.Http.HttpRequest`. `HttpRequestMessage` is used with `System.Net.Http.HttpClient` and `HttpRequestMessage` doesn't have a separate `ContentType`.

[2017-03-10 17:52] tarekgh commented on #16962
@eerhardt

[2017-03-10 17:53] stephentoub commented on #14695
@AlexGhiondea, it looks like WebClient is just used in OpenRead to download the licenseFile, but that only happens if licenseFile is non-null:
https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.TypeConverter/src/System/ComponentModel/Design/DesigntimeLicenseContext.cs#L171
and it's always null.  So is the work here just to delete all of the relevant dead code?

[2017-03-10 17:55] stephentoub commented on #14747
@kouvel, it's not clear to me from the comments: can this be closed, or if not, what's the current behavior and what's the desired behavior?

[2017-03-10 17:56] karelz commented on #16947
Yes, it looks like the newer Http APIs (`HttpClient`) don't have separate `ContentType`. Changing that would require API change. If we go that route, we should be sure it is a common scenario. I would prefer to not add new APIs because of weird corner cases which are rarely used.

[2017-03-10 17:57] karelz commented on #16968
cc @steveharter @ianhays @Priya91

[2017-03-10 17:58] stephentoub commented on #15850
@hughbe, are you still seeing a problem here?

[2017-03-10 18:04] jcouv commented on #16974
I agree. That was an oversight.
I will need to confirm the proper name for this version of VB. Is it "VB 15" or "Visual Basic 2017" or another flavor.

![image](https://cloud.githubusercontent.com/assets/12466233/23807016/e43be908-0578-11e7-9eaa-5f0a05bbd66c.png)

[2017-03-10 18:07] stephentoub commented on #16713
@benaadams, I'm going to close this.  It really seems like there's something going wrong with whatever Frankenbuild set up you've got.  We have multiple tests now for this situation, and they're all passing.  Please let us know if you've gotten to the bottom of it, if this continues to be a problem for you, etc.

[2017-03-10 18:07] #16713 closed

[2017-03-10 18:10] JeremyKuhne commented on #16961
Actually first time for this one. I'll look into it.

[2017-03-10 18:11] shmao commented on #16752
We should check the behavior of the desktop framework and see if this scenario is supported.

[2017-03-10 18:21] benaadams commented on #16713
Watching to see what nuget and csproj settings the aspnet team goes for for 2.0. Hopefully copy pasting will resolve 😁

Having a win some, loose some experience with type forwarding atm

[2017-03-10 18:22] bartonjs commented on #11802
@danmosemsft @weshaggard Since this was in-scope and out-of-scope a couple of times for netstandard2.0 I thought I'd offer up that it's currently in PR to be present for netcoreapp, and it is present in net462.  I know that those aren't the only two stakeholders; but thought I'd make the data available to you.

[2017-03-10 18:40] danmosemsft commented on #11802
I can't remember why I wrote that it wasn't in scope. opened https://github.com/dotnet/standard/issues/239

[2017-03-10 18:42] jcouv commented on #16974
It looks like this was [already fixed](https://github.com/dotnet/corefx/pull/13916) to "Provides the System.ValueTuple structs, which implement the underlying types for tuples in C# and Visual Basic."

We will be refreshing the package on nuget next week (for mono support), so I expect this will be included.
I'll resolve the issue now, as duplicate (https://github.com/dotnet/corefx/pull/13916)

[2017-03-10 18:42] #16974 closed

[2017-03-10 18:44] jcouv commented on #16974
Thanks @KlausLoeffelmann for bringing this issue up and helping make VS better :-)

[2017-03-10 19:04] kouvel commented on #14747
I have updated the title and description inline to reflect the current desired behavior.

[2017-03-10 19:10] stephentoub commented on #14747
Thanks

[2017-03-10 19:14] stephentoub opened #16981 "NonAzureNoProtocolConnectionTestOnWindows failed in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/129/consoleText
[code]

[2017-03-10 19:28] danmosemsft commented on #16981
Test is simple..

[code]

[2017-03-10 19:48] karelz commented on #7812
After re-reading the thread, it actually looks that 2 people hit it in the wild. That's concerning. I think we should look into it in 2.0.

[2017-03-10 19:50] karelz commented on #13169
Affects both OSs Linux and Windows

[2017-03-10 20:08] deepak-khopade-isdr opened #16985 "Using .resx in .NET Core 1.1.0 is not working on Linux (Ubuntu 16.04)"
Using .resx in .NET Core 1.1.0 is not working on Linux (Ubuntu 16.04) as per explained below. Have spent half of the day making it work, but seems not working on Linux.

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization

[2017-03-10 20:11] gkhanna79 commented on #16896
IMHO, adding the Rethrow method on Exception type would have the potential to confuse our users - whether to use "throw;" for rethrow or this new method, especially when rethrow semantics that exist today do maintain the stack trace.

Having the method off EDI maintains the segregation of semantics and intention.

CC @jkotas @rahku

[2017-03-10 20:13] stephentoub commented on #16655
I looked into this more.  I believe it's a test bug, and it's actually a little surprising it's not failing more often.

The runtime doesn't clear the offset state from NativeOverlappeds when they're returned to its pool, nor does Overlapped do so when it takes them out, so there's no guarantee the value of these properties will be 0 when an overlapped is constructed.  This is easily seen in a sho

[2017-03-10 20:22] stephentoub commented on #16953
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/131/consoleText

[2017-03-10 20:25] stephentoub commented on #16981
I've now re-run Outerloop Windows_NT Debug three times in https://github.com/dotnet/corefx/pull/16977, and this test has failed every time.
I'm going to disable it.  @saurabh500, could this have broken as part of https://github.com/dotnet/corefx/pull/16936?

[2017-03-10 20:30] stephentoub opened #16988 "Seg fault in System.Security.Cryptography.Xml tests"
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/4475/consoleText
[code]

[2017-03-10 20:34] #16953 closed

[2017-03-10 20:36] stephentoub commented on #16988
cc: @bartonjs, @krwq

[2017-03-10 20:38] cod7alex commented on #16972
Hi,

I am willing to help with this, looks like a good thing for first PR.

[2017-03-10 20:52] ianhays commented on #16322
cc @ericstj @mellinoe for packaging.

[2017-03-10 20:59] ianhays commented on #15120
@couven92 any update here? Were you able to determine the cause of your issues?

[2017-03-10 20:59] karelz commented on #16972
@cod7alex great, let me know when you accept the invite, so that I can assign it to you ... (assigning to myself temporarily)

[2017-03-10 21:00] #14842 closed

[2017-03-10 21:01] AtsushiKan commented on #16566
Already working on the corert half of this.

[2017-03-10 21:05] ianhays commented on #16913
Looks potentially related to https://github.com/dotnet/corefx/issues/16322.

CC: @mellinoe @ericstj

[2017-03-10 21:05] #16872 closed

[2017-03-10 21:11] #16655 closed

[2017-03-10 21:12] danmosemsft commented on #16988
We should have a dump in dumpling if that helps.

[2017-03-10 21:13] ianhays commented on #16516
FYI @steveharter the test re-enabled in https://github.com/dotnet/corefx/pull/16877 just failed [again here](https://mc.dot.net/#/product/netcore/master/source/official%7E2Fcorefx%7E2Fmaster%7E2F/type/test%7E2Ffunctional%7E2Fcli%7E2F/build/20170310.01/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.SslStreamNetworkStreamTest%7E2FSslStream_SendReceiveOverNetworkStream_Ok

[2017-03-10 21:14] danmosemsft commented on #16283
@jimcarley any luck?

[2017-03-10 21:15] cod7alex commented on #16972
@karelz accepted

[2017-03-10 21:15] joperezr commented on #16914
< Does it mean that our test project does not need to explicitly reference the assembly being tested as <ProjectReference> anymore?

Correct. We don't use myget anymore with our new infrastructure changes (at least not for anything that is built on the corefx repo itself). Which means that all tests are already referencing the live version of all assemblies by default so we don't need to specifica

[2017-03-10 21:17] ianhays commented on #16968
Tracking in https://github.com/dotnet/corefx/issues/16534. Disabling them in https://github.com/dotnet/corefx/pull/16990

[2017-03-10 21:17] #16968 closed

[2017-03-10 21:18] danmosemsft commented on #16958
Actually for this to fail two things would both have to fail, seemingly (1) the sleep not complete in less than 2x5 minutes (2) the kill not succeed or take over 5 minutes.

Whatever the reason perhaps ProcessTestBase could stop making this default process in its constructor. Then this test at least would have nothign to wait on.

[2017-03-10 21:19] danmosemsft commented on #16348
This isn't actionable as is but now we have Dumpling so hopefully we will catch another fish.

[2017-03-10 21:21] joperezr commented on #16919
related: #15041

[2017-03-10 21:25] Alois-xx opened #16991 "Make BinaryFormatter faster"
When BinaryFormatter encounters a larger object list it gets quadratic deserialization times due to the linear search in

[code]
Sample
[code]

Serialization time 2.31s
Deserialization 21.16s

This caused some unexpected "slowdowns" in production code when "real" big objects (e.g. 20 - 100 MB) object graphs are deserialized. Deserialization times of 10 minutes are not uncommon due to this. It woul

[2017-03-10 21:25] shmao commented on #16914
@joperezr sounds good! Thanks for the explanation.

/cc: @zhenlan

[2017-03-10 21:30] swgillespie commented on #16606
@joperezr Taking a look today.

[2017-03-10 21:31] jimcarley commented on #16283
Not yet.

In the dump we found that the data structures surrounding the transaction timeout processing were in an "unexpected" state, but we have not yet found how that statecould happen. We had one theory revolving around the single half-second timer we use to wake up and check to see if any transactions needed to be timed out. I hypothesized that we could get the data structures into the state i

[2017-03-10 21:46] ianhays commented on #10845
This was likely a one-off issue with the RemoteExecutorConsole app being unavailable, in-use, or otherwise inaccessible. Since it hasn't failed in this way since August, I'm closing this.

[2017-03-10 21:46] #10845 closed

[2017-03-10 21:52] karelz commented on #16972
Thanks, assigned to you ...

[2017-03-10 21:54] karelz commented on #16988
@mellinoe how do we get to the dump for this failure?

[2017-03-10 21:54] rahku commented on #12678
List of public types in corefx which are duplicate in corelib
--------------
f:\temp\System.ComponentModel.TypeConverter.dll:
Timer

f:\temp\Microsoft.CSharp.dll:
Binder

f:\temp\System.Threading.dll:
CountdownEvent

f:\temp\Microsoft.Diagnostics.Tracing.TraceEvent.dll:
SuppressUnmanagedCodeSecurityAttribute
AllowReversePInvokeCallsAttribute
EntryPointNotFoundException
ApplicationException

f:\tem

[2017-03-10 22:00] jkotas commented on #12678
They are in difference namespaces (System.Threading.Timer vs. System.Timers.Timer), so this one is by design.

Outside our control - nothing to do.

[2017-03-10 22:02] rahku commented on #12678
yeah i filtering those out...should have updated list soon

[2017-03-10 22:04] sepidehMS commented on #16988
It should be uploaded here: https://dumpling.azurewebsites.net/ (The page doesn't load for me right now)

cc: @schaabs

[2017-03-10 22:09] ianhays commented on #16401
I added some logging so we know why exactly it's failing so we can modify the test if necessary.

[2017-03-10 22:15] tarekgh commented on #16985
@deepak-khopade-isdr is this specific to asp.net or you cannot do it in general?

[2017-03-10 22:30] borrrden commented on #16973
Ok, but just to make sure I said things clearly and I understand the response, the following is expected behavior?

1) Start a unit test on thread 8 (for example)
2) await a call to the async processor (queue a `Func<T>` for execution and return a `Task` representing its status)
3) async processor (ProcessAsync method) runs `Func<T>` on thread 12 (for example) and appropriately sets the `Task` res

[2017-03-10 22:42] Priya91 commented on #9075
From @stephentoub
"The impact here is really only if the server has a delay between sending the last byte of the headers and the first byte of the body, and that delay is meaningful to the consumer of the data… typically the server won’t and typically there’s nothing different a consumer would do if it did.  So that’s relatively niche I think."

This would be low pri for 2.0, hence moving to Futur

[2017-03-10 22:45] rahku commented on #12678
List of public types in corefx which have duplicates in corelib
--------------------
f:\temp\System.Threading.dll:
CountdownEvent

f:\temp\Microsoft.Diagnostics.Tracing.TraceEvent.dll:
SuppressUnmanagedCodeSecurityAttribute
AllowReversePInvokeCallsAttribute
EntryPointNotFoundException
ApplicationException

f:\temp\System.Collections.NonGeneric.dll:
CollectionBase

f:\temp\System.Collections.dll:
S

[2017-03-10 22:46] Petermarcu opened #16992 "Should we looks for project.exe.config?"
Looks like configuration on .NET Core probes for app.dll.config and machine.config. Many people in the ecosystem have code that looks for app.exe.config. Should we include that in the list of file searches?

[2017-03-10 22:48] saurabh500 commented on #16960
This is a sni.dll load issue. This is infra related.

[2017-03-10 22:50] saurabh500 commented on #16960
[code]

[2017-03-10 22:57] Priya91 commented on #11036
Closing issue due to lack of response.

[2017-03-10 22:57] #11036 closed

[2017-03-10 22:58] borrrden commented on #16973
I've come up with a better way to approach this I think.  Instead of the hacky workaround, I should capture the current sync context and post the `tcs.SetResult` to that instead (or use a new one if `Current` is `null` which will default to the hacky workaround).  I think I understand what is going on now anyway.  Thanks for your time!

[2017-03-10 23:06] #6872 closed

[2017-03-10 23:15] Suyogya opened #16993 "System.Net.Http causes error CS0433"
When referencing System.Net.Http in .net standard library 1.6 app. I get following compile error

[code]

[2017-03-10 23:19] karelz commented on #16272
Triage from @Priya91: This is 100% reproducible. Initially this test was not intended to run on Windows, now this works on all Win8+. Could be that win7 stack platform difference, we need to understand if this test has meaning for Win7.

[2017-03-10 23:21] jkpindahbc opened #16994 "System.Data.SqlClient throws PlatformNotSupportedException on AWS Lambda"
When using Sql Data Client or EF in .Net Core 1.0 on AWS Lambda the code errors out indicating that the platform is not supported.  Is it true that I can get to Sql Server from node.js on Lambda but not C#?  Seems a bit odd.  Following is the text of the error:

`{
  "errorType": "AggregateException",
  "errorMessage": "One or more errors occurred. (The type initializer for 'System.Data.SqlClient.

[2017-03-10 23:30] stephentoub commented on #16715
We need to fix this for 2.0.  Misuse can result in invalid data getting manipulated in unsafe code.

[2017-03-10 23:47] morganbr opened #16995 "Add more testing for FormatterServices.GetUninitializedObject"
We should expand testing for GetUninitializedObject to include:
* Running precise (non-BeforeFieldInit) constructors
* Pointer types
* ByRefs
* Arrays

[2017-03-10 23:54] morganbr commented on #16692
This is checked into ProjectN TFS now. I believe that will sync over to CoreFX Sunday night or Monday morning.

[2017-03-11 00:07] Priya91 commented on #16201
@tmds So i set the curl verbose option, and i didn't see the error from the data that curl prints. Somehow the curl easy agent is storing this error. Not sure what to make of it.

cc @stephentoub

[code]

[2017-03-11 00:08] steveharter commented on #4002
See also related issue https://github.com/dotnet/corefx/issues/13967

[2017-03-11 00:09] stephentoub commented on #16991
A trivial change here that would help would simply be to increase the allowed size of the array used by the ObjectManager, e.g. here:
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Formatters/src/System/Runtime/Serialization/ObjectManager.cs#L14
change:
[code]
to:
[code]
That should make a very measurable difference in the deserialization time, at the expense of usin

[2017-03-11 00:30] JonHanna commented on #16896
I like the extension as a middle path, in that it has the convenience of @danmosemsft's idea, but only when the relevant namespace is in use (and even if an IDE did the work of adding the namespace, it should still be reasonably obvious that it did so).

[2017-03-11 00:40] stephentoub commented on #16973
It depends on a whole bunch of things.  It would depend, for example, on what SynchronizationContext is present as Current on thread 8, what TaskScheduler.Current is on thread 8, etc.  You could keep executing on thread 12 even if there was a synchronization context, if the context wasn't affinitized to a specific thread, for example, and just enforced certain rules about execution, such as only a

[2017-03-11 00:42] JonHanna commented on #16566
@AtsushiKan are you far into the corert? I'd also started on that.

[2017-03-11 00:43] stephentoub commented on #16201
@Priya91, what information are you trying to gather?  You can get all of the diagnostic info we have, including but beyond what libcurl's verbose option spits out, by setting up an EventListener, like https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Diagnostics/Tracing/ConsoleEventListener.cs, and just having it trace out every event.

[2017-03-11 00:45] AtsushiKan commented on #16566
@JonHanna  - yes, it's already in review internally and it involves some other followup changes beyond just renaming IsSzArray,

[2017-03-11 00:52] ahsonkhan opened #16997 "Should we rename Span<T> to Memory<T> and Memory<T> to something else?"
@terrajobst @KrzysztofCwalina

[2017-03-11 00:55] JonHanna commented on #16566
Cool, I'll leave that alone, so.

[2017-03-11 01:01] #11802 closed

[2017-03-11 01:01] #16946 closed

[2017-03-11 01:08] cakoose commented on #16947
According to the HTTP spec, every request may or may not have an "entity".  An entity consists of entity headers (e.g. `Content-Type`) and an entity body.  The presence of an entity is indicated by the presence of the `Content-Length` or `Transfer-Encoding` headers.

Typically, GET requests *do not* include an entity and POST requests *do* include an entity.  But that's not a hard requirement.  Fo

[2017-03-11 01:17] tintoy commented on #11802
I remember removing a reference to `GetECDSAPublicKey` in f18d31725b8fdef8534d8015139a1acabcf7799f, although I don't remember seeing any call to `GetDSAPublicKey`. Does a call to `GetDSAPublicKey` need to be added into `Utils.GetAnyPublicKey` ([src/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/Utils.cs](https://github.com/dotnet/corefx/blob/master/src/System.Security.Crypto

[2017-03-11 01:22] bartonjs commented on #11802
@tintoy Yep, which should let the DSA tests start passing :smile:

[2017-03-11 01:35] karelz commented on #16993
Do you have a small repro you could share?
@davidsh any idea? cc @weshaggard @ericstj

[2017-03-11 01:36] vors commented on #16947
I'm going to close the issue, because it's likely to be uncommon.

[2017-03-11 01:36] #16947 closed

[2017-03-11 01:36] Priya91 commented on #16201
Looking at what curl spits out from the requests passed down to it from .NET, there is no error 77 (the code responsible for ssl ca path errors) from it. All the curl requests succeed finding the CAFile with messages like below:

[code]

So I don't understand how .net is reporting this error, when it doesn't happen in curl.

[2017-03-11 01:36] danmosemsft commented on #16896
I'm curious why we can't make "throw ex;" attach the original stack (eg., in a new field on Exception) so that presumably EDI isn't needed and the "right thing just happens for free". Is that too breaking even to do in Core? Or just a big feature?

[2017-03-11 01:37] karelz commented on #16995
@morganbr are you working on it?

[2017-03-11 01:41] tintoy commented on #11802
K I can do that if you like

[2017-03-11 01:52] stephentoub commented on #16201
What do you see output from the events I mentioned? They should be fairly detailed, and you can add more.

[2017-03-11 01:56] tintoy commented on #11802
I'll have a quick look at which tests were disabled due to missing DSA support.

[2017-03-11 01:57] borrrden commented on #16973
In the above case SynchronizationContext on thread 8 was what I mentioned earlier, and TaskScheduler.Current on thread 8 was TaskScheduler.Default.

So I will rephrase:  The behavior I observed is possible, and not considered a problem?

I'm satisfied with the way it is working now that I replaced the hack above with posting back to the synchronizationcontext from the thread that called DispatchAs

[2017-03-11 01:58] tintoy commented on #16691
I could try - I'm in there right now :)

[2017-03-11 01:59] jkotas commented on #16896
There are situations where folks cache the exception and keep throwing it again and again. If `throw ex` did not reset the stacktrace to the current one, you would get memory leak (if it kept appending) or stale stacktrace (if it just kept what is there intact).

[2017-03-11 02:02] tintoy commented on #11802
Actually, the only DSA-related tests in `System.Security.Cryptography.Xml` that are marked as `Skip` seem to be failing for unrelated reasons. I'll see what's what.

[2017-03-11 02:04] ellismg commented on #16782
For what it's worth, I spent some time looking at some popular packages on NuGet.org that use CreationTime to see how they were using it.

One example is [ZipSharpLib](https://github.com/icsharpcode/SharpZipLib/blob/cef8e33b383550e3cd652106767cf3e6d4ce7c96/ICSharpCode.SharpZipLib.Shared/Zip/ZipEntryFactory.cs#L199-L205), which wants to flow the creation time of a file into the zip archive entry fo

[2017-03-11 02:07] jkotas commented on #16896
@stephentoub Could you please link some real world code where would you use this? I would think that there are two situations:

- You want to rethrow the exception from inside the catch block. In this case, `throw;` should do the right thing.
- You want to pack the exception inside the catch block, move somewhere else (e.g. different thread), and rethrow it from there. In this case, call Exception

[2017-03-11 02:17] Priya91 commented on #16201
Tried using the event tracing, and below is the output. I haven't analyzed it yet, posting it here for info.. Are the TPLEventSource lines helpful? Not sure what to read from them..

https://gist.github.com/Priya91/3a27d429340e66e6e251ef8a1f081272

[2017-03-11 02:23] morganbr commented on #16995
Not at the moment. I'm happy to have somebody else pick it up too.

[2017-03-11 02:28] karelz commented on #16995
In that case unassigning from you - see [triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified)

[2017-03-11 02:28] morganbr commented on #16991
@Alois-xx , can you please tell us more about the way you're using BinaryFormatter? I'd like to better understand the parts of deserialization performance that are important to your scenario.

[2017-03-11 02:31] krwq commented on #16691
thank you @tintoy

[2017-03-11 02:39] morganbr commented on #16825
@danmosemsft for .NET Native and CoreRT, extra dead code and resources can contribute to longer build times and binary size. The tree shaker (linker) does try to get rid of dead code, but it's cautious. It also can't remove dead resources. Deleting them at the source level is more effective.

[2017-03-11 02:47] WinCPP commented on #2751
@karelz @stephentoub am I eligible to grab this?

[2017-03-11 02:50] karelz commented on #2751
Sure, go ahead.

[2017-03-11 02:51] WinCPP commented on #2751
@karelz thank you!

[2017-03-11 02:53] tintoy commented on #16691
@krwq @anthonylangsworth @peterwurzinger - Ok, think I found the problem:

https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Security/Cryptography/DSACng.ImportExport.cs#L34

[code]

Verified that this is the issue it's hitting by modifying `DSAKeyValue.LoadXml`:

[code]

Test now fails with an inner-most exception of "Gotcha!":

[code]

[2017-03-11 02:55] tintoy commented on #16691
The broader problem is that the inner exception is getting lost / munged somewhere along the way - the actual exception message is quite informative:

[code]

I'll have a look at `Internal.Cryptography.CryptoThrowHelper` next since this seems to be where the exception message is getting borked.

[2017-03-11 02:56] anthonylangsworth commented on #16691
Looks good, @tintoy . Thanks.

[2017-03-11 02:57] anthonylangsworth commented on #16798
@krwq @danmosemsft Thanks. I'll fix it over the weekend.

[2017-03-11 02:58] eerhardt commented on #16962
What type of machine (OS and Version) did these tests fail on?

As far as I know, the TimeZone code hasn't changed and obviously the daylight rules from 1946 haven't changed either. So I assume we are running the tests on a new type of OS that has less/different tzdata than what we've been using.

[2017-03-11 03:05] tintoy commented on #16691
Nope, looks like that's not the problem. I'll keep looking.

[2017-03-11 03:10] tintoy commented on #16691
Ok, here's where the exception originates:

https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Security/Cryptography/ECCng.ImportExport.cs#L476

[2017-03-11 03:42] bartonjs opened #17001 "[dev/apple_crypto] Crypto.Xml DSA tests need to not generate keys on macOS"
macOS does not support generating DSA keys, only importing them.  So these tests will need to use a stock supply (at least on macOS).

[2017-03-11 04:04] jkotas commented on #16997
Check the discussion in the linked CoreCLR issue.

[2017-03-11 04:05] tintoy commented on #16691
Ok, after wearing my F11 key down to a nub, it looks to me like the import / export of the Counter parameter is not symmetric across import / export on `DSAKeyValue`:

Import:

[code]

Export:

[code]

[2017-03-11 04:11] tintoy commented on #16691
Yep, that's definitely it - I modified a quick-and-dirty import / export round-trip test (which was failing with this error) to simply store the counter as an integer and then it started working.

Anyone else want to guess what `ConvertIntToByteArray` is doing? :-)

[2017-03-11 04:31] sujaysarma opened #17002 "C# 6.0 - Bug in Enum.Parse"
As per this document: https://msdn.microsoft.com/en-us/library/essfb559(v=vs.110).aspx, the Enum.Parse() function is supposed to throw either an ArgumentException or an OverflowException if I try to parse in a value that is not a part of the Enum. The example in that same document however uses the Enum.IsDefined() function to make the determination instead of catching that exception. The reason is

[2017-03-11 04:32] tintoy commented on #16691
Ok - copied the converse implementation from the netfx reference source, and tested the round-tripping. Definitely works correctly now.

[2017-03-11 05:57] krwq commented on #16691
nice work @tintoy! Thanks!

[2017-03-11 07:27] Alois-xx commented on #16991
I have found in our regular .NET based product large deserialization times which did lead to strange architectural changes because the root cause was never fully understood. I have now checked .NET Core if BinaryFormatter has become better and in fact it did not. Hence my request to improve at least .NET Core and if possible backmerge it to the .NET Desktop BCL as well.

[2017-03-11 08:49] fabricefou commented on #1272
I agree with you it's better to use NewtonSoft.Json or Protobuf. And for new project that's what I'll do.
But in my team we have a lot of legacy binary serialization, so actually we can't use easily immutable collection in our legacy structures.
Make immutable collection serialization will help developer to use it in legacy project.

[2017-03-11 08:59] jmroyb opened #17008 "Missing GetTypeFromProgID in Core 1.1?"
Hi folks!

I'm building a netstandard 1.5 lib, but method .GetTypeFromProgID is missing. This code works fine in Framework 4.6.2:

`
            var t = Type.GetTypeFromProgID("VB6Interop.MyClass");         //missing GetTypeFromProgID
            var o = Activator.CreateInstance(t);
            var r = t.InvokeMember
                (
                    "MyMethod",
                    System.Refl

[2017-03-11 09:05] peterwurzinger commented on #16691
Hi there!

The assumtion, that Counter is only 1 byte long was my bad - apologies! :-(
Did that fix more issues than this single one? If I member correctly there were more issues related to DSA.

[2017-03-11 09:15] tintoy commented on #16691
It may, I haven't checked (sorry, haven't have time yet).

[2017-03-11 09:32] WinCPP commented on #2751
I think I have got the solution, but I would need to change couple of test cases too, essentially to remove code to read on the `IndentLevel` off the `TraceListener` and assert on it; while retaining the asserts that read it off the `Trace` object.

I just wanted understand the scope of the risk that we agreed to take. Essentially, fixing this would mean breaking the behavior of tracing functional

[2017-03-11 11:46] stephentoub commented on #16896
The two you mention are the most common.  But there are others, e.g.
- A large codebase that's passing around results/exceptions, e.g. using an older asynchronous pattern.  It's much easier to simply change how the exception is thrown at the end rather than trying to plumb an ExceptionDispatchInfo all the way through.  You ask for examples "except System.Net", but that's a real-world code example

[2017-03-11 12:21] mikedn commented on #17002
To be precise it is supposed to throw `ArgumentException` if

That's not the same thing as saying "a value that is not a part of the Enum". There's no such thing as a value not being part of an enum, all values of the underlying type are part of the enum but some of them have associated names.

Yes, it does throw:
[code]
[code]

I don't have an old version of .NET Framework handy to check but I do

[2017-03-11 12:37] stephentoub commented on #16201
For this investigation, no.  What's helpful are the `Microsoft-System-Net-Http-12` lines.  In the future you can pass a string like "Http" to the ConsoleEventListener ctor to filter down to just those.

This is the relevant part:
[code]
so we're calling FinishRequest (https://github.com/dotnet/corefx/blob/1543bcfce778ef9d124c638cde712ed147e826bd/src/System.Net.Http/src/System/Net/Http/Unix/CurlHan

[2017-03-11 12:40] stephentoub commented on #16973
I would need a small repro to be able to say.

[2017-03-11 12:51] WernerMairl commented on #17008
i hope for you that i'm wrong, but i think this function/feature is coming from COM/Ole directly depending and available on Windows ONLY, so probably it is not part of .Net Core (currently)

[2017-03-11 13:25] sujaysarma commented on #17002
Then this statement does not make much sense, does it? How can a value be illegal if it is in the range of the underlying (Int32) type unless it is not defined as a member of the declared enum?

From heading "Enumeration best practices" in https://msdn.microsoft.com/en-us/library/system.enum(v=vs.110).aspx.

[2017-03-11 13:43] mikedn commented on #17002
Well, as a best practice you probably don't want to use values that aren't defined. But as far as the various specifications are concerned (C# language spec, CLI spec) there's no such thing as an illegal `enum` value. For example the C# spec says the following:

Each enum type defines a distinct type; an explicit enumeration conversion (§‎6.2.2) is required to convert between an enum type and an i

[2017-03-11 13:50] tmds commented on #16201
@Priya91 have you run `yum update` to make sure the problem exists also when using the latest curl and nss packages?

[2017-03-11 14:21] NicolasDorier opened #17010 "CurlHandler exception on resource constraint environment"
The following exception happens on .NET Core runtime 1.1.1 on Ubuntu 14.04, when resources are constrained.

[code]
I am using `CopyToAsync` on a stream from a `WebResponse.GetResponseStream()` to a `MemoryStream`. I imagine something is garbage collected at the wrong time.

The `MemoryStream` at the top of the exception stack does not seems to be the same as the one passed to `CopyToAsync`. I exp

[2017-03-11 14:27] sujaysarma commented on #17002
So then it is a flaw in the specification. The reason that any developer uses an Enum in practice is to use specific values and with meaningful names. I have never seen or heard of anyone use values that are not defined in the named set (eg: in our above code examples, assigning a value of say 5 to the foo enum would be an error condition in the actual program that would use it --- In our contrive

[2017-03-11 15:02] svick commented on #17008
[That method does not exist in .Net Standard 1.x, but it will be included in the upcoming .Net Standard 2.0.](https://apisof.net/catalog/System.Type.GetTypeFromProgID(String))

[2017-03-11 15:09] madelson commented on #15403
This problem goes beyond just accepting or rejecting nulls: the current behavior allows nulls in some situations and not in others for the same collection type:

(Copied from https://github.com/dotnet/corefx/issues/16948)

It is possible to create an `ImmutableHashSet<T>`  containing a null value using `ImmutableHashSet.CreateRange<T>` and `Union`. However, other methods of doing so (`Add`, `Creat

[2017-03-11 15:09] mikedn commented on #17002
It's rare but it can happen, for example when exposing native code functionality. The native side may have a well defined set a value it accepts in certain places and the .NET side ends up using an enum to represent that set of values. As the native side evolves more values are added but it's not uncommon for the .NET side to remain behind and its enum to miss the newly added values. If you want t

[2017-03-11 15:14] sujaysarma commented on #17002
Exactly. For other data types, one would do a T.Parse() if they know it to be valid or T.TryParse() if they doubt that it would convert. These aren't possible in the case of Enum, since the values the program would consider "invalid" will be considered valid in case of the Enum. Instead, you say use the IsDefined in the case of the enum. That is a deviation from a "standard" pattern to use Parse/T

[2017-03-11 15:17] svick commented on #17002
@sujaysarma

You could argue that another design would be better, but the fact is that this is how `enum`s were specified since C# 1.0. And that behavior is not going to change, because it would break backwards compatibility.

It might be possible to create a new kind of "safe" `enum`s, but I have no idea if that would be worth it.

[2017-03-11 15:20] mikedn commented on #17002
Strictly speaking no because those values aren't invalid. It's just for reasons that are unclear to me many people assume that they are invalid. It's a disagreement between how people expect the feature to work and that the feature actually works.

Perhaps you can turn this into a feature request:

[code]

When `parseExact` is true only named values are accepted.

[2017-03-11 15:21] sujaysarma commented on #17002
Not really. You could implement it in .NET Core.

[2017-03-11 15:24] sujaysarma commented on #17002
@mikedn

I don't know how to do that here. Not a Git-fan. Could you ?

[2017-03-11 15:37] mikedn commented on #17002
@sujaysarma You don't need to do anything special, just open an issue suggesting a new API to be added. Include the method(s) signature and a few words about how it's supposed to work and why is it needed. You can look for issues having the "api-ready-for-review" label for some examples but there isn't anything magic about that.

Since there's already some discussion going on in this issue you cou

[2017-03-11 15:47] sujaysarma commented on #17002
Well, let me try to explain why we all treat it as invalid. The typical way we learn about Enums when we learn a language is that it is a set of specific named values. We never learn it as a set of names assigned to a small subset of a larger set of underlying values. For example, it is typical to give examples of Colors, Pets, etc (even that above MSDN documentation about Enums does the same). He

[2017-03-11 15:47] #17002 closed

[2017-03-11 16:28] jkotas commented on #17008
@svick is right - it will be available in .NET Core 2.0. Check https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md if you would like to try nightly .NET Core 2.0 builds.

[2017-03-11 16:28] #17008 closed

[2017-03-11 16:34] mikedn commented on #17002
Yes, C# enum is very similar to C++ enum (especially the scoped enum introduced in C++11). Some quotes from the C++ std text:

Enums are just 8/16/32/64 bit integers. It's difficult or even impossible to ensure that a 32 bit piece of memory accepts only certain bit patterns. The C# language could disallow any conversion from integers to enum (e.g. disallow `foo f = (foo)5;`) but then there are sti

[2017-03-11 17:02] jmroyb commented on #17008
Thanks folks for your quick answer

[2017-03-11 19:28] reaction1989 commented on #16770
@tarekgh why was this moved to corefx? The implementation is in coreclr, or am i wrong?

[2017-03-11 20:22] brunoklein99 commented on #13028
I am getting this exception trying to launch a single process. This is happening using Ubuntu on Windows.

[code]

Notice how this is a `System.ComponentModel.Win32Exception` even though this is Ubuntu,

[2017-03-11 22:00] stephentoub commented on #13028
That error is coming from the OS, saying it got an out of memory error, most likely when we tried to call fork.

[2017-03-11 22:05] deepak-khopade-isdr commented on #16985
Just tried with ASP.NET Web API and its not working; haven't tried in a class lib project. Any suggestions out there?

[2017-03-11 22:12] davidfowl commented on #16985
@deepak-khopade-isdr What exactly doesn't work? What error do you get?

[2017-03-11 22:16] deepak-khopade-isdr commented on #16985
No error, just returning not found. In my controller, I am trying to load the error message from .resx file and its just returning below:
[code]

Content in .resx file:
[code]

[2017-03-11 22:18] deepak-khopade-isdr commented on #16985
Have registered everything as expected in Startup.cs and have injected the `IStringLocalizer<ColorsController> localizer` in my controller and simply trying to use it like below:
`return NotFound(_localizer["GET_COLOR_404"]);`

[2017-03-11 22:32] brunoklein99 commented on #13028
@stephentoub I can confirm this doesn't happen on a Console Application, I was only able to reproduce using ASP.NET.

Steps to reproduce:

1. Create new project (`ASP.NET Core Web Application (.NET Core)`)
2. Choose Web API
3. On the `ValuesController`, change the `Get()` method as follows:
[code]
4. Access `http://<endpoint>/api/values`.

We get the unexpected behavior.

[code]

I fail to see why

[2017-03-11 22:40] deepak-khopade-isdr commented on #16985
Just FYI - when tried to see all string values under `_localizer.GetAllStrings()`, got an error below:

[code]

[2017-03-12 00:00] sam-wheat opened #17014 "System.Net.NetworkInformation manifest error"
My app references the nuget package for System.Net.NetworkInformation 4.3.0.
When I attempt a call to, say, NetworkInterface.GetIsNetworkAvailable() I get this error:

Inner Exception 1:
FileLoadException: Could not load file or assembly 'System.Net.NetworkInformation, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest def

[2017-03-12 00:40] reneherrero opened #17015 "Can't find XslTransform?"
Hi,
I see the XslTransform in the source code here: https://github.com/dotnet/corefx/blob/b1865ea0847a7a86baefe8378b772ecf0b785681/src/System.Private.Xml/src/System/Xml/Xslt/XslTransform.cs

Has this shipped?  Is it included in some NuGet?

Thanks,

[2017-03-12 01:27] jnevins-gcm commented on #8965
Your nuget package SAYS it supports .NET 4.6.2. Additionally .NET 4.6.2 is supposed to be a superset of .NET Standard 1.5...in other words, something that targets.NET Standard 1.5 should be supported by 4.6.2.

So, is your documentation on the package screwed up, is the package definition itself screwed up, or is there just more misinformation/bugs around the basic functioning of .NET Standard?

[2017-03-12 02:42] itadapter commented on #6564
Serializers are needed not only for sending things over, but even in-proc.
The binary serializers, when done properly outperform the whole native object heap altogether when it comes to storing 10s of millions of objects in-process.
See this:
https://www.infoq.com/articles/Big-Memory-Part-2

The serialization APIs are absolutely needed for sane cluster programming.
It is extremely inconvenient to

[2017-03-12 02:51] svick commented on #17015
[It will be included in .Net Core 2.0 and .Net Standard 2.0.](https://apisof.net/catalog/System.Xml.Xsl.XslTransform) If you want to try the latest prerelease version of that, follow [these instructions](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md).

[2017-03-12 03:43] geoffkizer commented on #4007
This is a feature gap between Windows and Unix.  I don't think it's particularly urgent.  But we should implement this sooner or later.

[2017-03-12 03:45] RichiCoder1 commented on #6564
@itadapter do have one nit to pick, which is that JSON.Net isn't the only serialization game in town. There's also MsgPack, Protobuf, and Microsoft's own Bond. Json isn't the only option. There is the big issue still, though, of serializing .Net objects with interesting semantics (Exception).

[2017-03-12 03:51] danmosemsft commented on #16650
@hughbe I don't know whether this area is interesting to you, but there's a lot of XML code that could use better coverage. I bet there's plenty of relevant Mono tests that would port...

[2017-03-12 04:03] itadapter commented on #6564
@RichiCoder1
Yes, of course. As seen in the charts below, i.e. JIL is the fastest JSON serilizer, however none of text-based serializers can touch,  binary ones. Protobuf is very fast at the expense of its inability to support true polymorphism and complex graphs.

All I am saying is:
* Binary Serializers are always more performant for business domain objects, especially when you have lots of nume

[2017-03-12 05:07] sujaysarma commented on #17002
Very valid points @mikedn. To be able to prevent all manner of preventing "unacceptable" values from being set would be ideal, yes. But not **necessary**. If someone wants to hack the memory to place a different value to break the system, they most likely will succeed. However, what the compiler can do, is to have structures/patterns in place to ensure that a valid high-level assignment (foo f = (

[2017-03-12 05:15] sujaysarma opened #17018 "Question -- Who owns "partial classes" ?"
Where should one file queries/issues/feedback for "partial classes" ?

[2017-03-12 05:16] WinCPP commented on #2751
On second thoughts. This effective change in trace output will be at whitespaces' level only and not at syntactic level. Hence the custom listeners / parsers should ideally be able to cope up with the format change, given that it fixes the changes.

I am issuing pull request for the changes that I have done. Please review.

[2017-03-12 06:16] karelz commented on #17014
If 4.1.0.0 assembly version is required and you have 4.1.1.0, then you need a binding redirect. Is that the case?

[2017-03-12 06:18] karelz commented on #17015
Question seems to be answered, so closing ...

cc @sepidehMS @krwq

[2017-03-12 06:18] #17015 closed

[2017-03-12 06:19] karelz commented on #17018
I guess you mean compiler feature 'partial class', so [Roslyn](https://github.com/dotnet/roslyn) is the right place.

[2017-03-12 06:19] #17018 closed

[2017-03-12 06:45] sarah17wu opened #17021 "Is there any plan or roadmap to add the .net core and .net standard to VB.NET"
Now in VS 2017, we can only create C# projects with .NET Core and .NET Standard, when the VB.NET will supported with .NET Core and .NET Standard.

[2017-03-12 09:35] qmfrederik opened #17024 "System.Drawing.SystemColors available in netcoreapp2.0 but not in netstandard2.0"
`System.Drawing.SystemColors` exists in System.Drawing.Primitives 4.1.0.0 for netcoreapp2.0 (as part of Microsoft.Netcore.App 2.0.0-beta-001737-00), but does not exist in System.Drawing or System.Drawing.Primitives for netstandard2.0

Although not a bug per se, since netcoreapp2.0 implements SystemColors, and NetFX and Mono also do, all .NET platforms implement SystemColors so it might be a candid

[2017-03-12 09:57] jarenduan opened #17026 "Binding redirect in multi-target class library."
How do i redirect the assembly binding in a multi-target class library, such as:

[code]

That can be done by app.config in traditional .Net class library. But what about a multi-target class library?

BTW, this issue comes from referencing Microsoft.Bcl.Async when I try to multi-target net40 and netstandard1.4:

[code]

And VS2017 gave the warning:

According to [Microsoft.Bcl.Async FAQ]( https:/

[2017-03-12 10:08] kimbell opened #17027 "Question: How do you calculate code coverage?"
With the release of Visual Studio 2017, my impression is that .NET Core Code Coverage isn't supported at the moment. Third party solutions such as Resharper doesn't provide a solution either.

This repo has some up for grab tasks that are related to code coverage. If someone from the community were to contribute to these tasks, how would they check that code coverage is increasing?

How has Micros

[2017-03-12 11:46] stephentoub opened #17028 "Two TimeZoneTests failed in CI"
I assume today's DST change was a factor here.
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release_prtest/4421/
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/4428/
[code]

[2017-03-12 12:15] stephentoub commented on #17027
@kimbell, thanks for your interest in contributing.  Our code coverage solution is described here:
https://github.com/dotnet/corefx/blob/master/Documentation/building/code-coverage.md#local-code-coverage-runs
We'd welcome additional tests to improve things.  The most recent report (typically run daily) is available linked from the code coverage badge on the repo's home page:
https://ci.dot.net/job

[2017-03-12 12:19] #17027 closed

[2017-03-12 12:58] #16715 closed

[2017-03-12 15:06] sam-wheat commented on #17014
No - 4.3.0 is required.  For some reason I am finding 4.1.0.

[2017-03-12 16:16] magol opened #17030 "Open FtpWebRequest for customization"
`FtpWebRequest` works great when communicating with "normal" FTP servers. But if I try to communicate with more odd FTP servers, it becomes a problem when there is not much opportunity to adjust `FtpWebRequest`.

As an example, we have at work an old FTP server with the following characteristics:
* There is no proper directory structure as it works on Unix/Dos (and therefore no root). We specifyin

[2017-03-12 16:56] sam-wheat opened #17032 "NETFramework 4.6 project can not reference project that targets NETStandard 1.4?"
According to the [compatibility matrix](https://github.com/dotnet/standard/blob/master/docs/versions.md) my NETFramework 4.6 project should be able to reference libraries up to NetStandard 1.6 - correct?  Why am I getting this error?

[code]

[2017-03-12 18:19] WinCPP commented on #15622
@karelz May I grab this?

[2017-03-12 18:32] sam-wheat commented on #17014
Here is how to reproduce the problem:
Create a library project, target netstandard 1.3.  Add a reference to System.Net.NetworkInformation as shown below.

[code]

Create a console app or test project and reference the library project:

[code]

Create a unit test:

[code]

Error:

[code]

[2017-03-12 18:49] sam-wheat commented on #17014
I should tell you that my ultimate objective is to use my library (netstandard1.3 or better) in my WPF app that targets Net46.  I created a dummy WPF app targeting Net46, referenced library as shown above and I crash with the same error.

[2017-03-12 19:20] karelz commented on #17014
System.Net.NetworkInformation 4.3.0 has assembly version 4.1.1.0. Another of your dependencies depends on older version - assembly version 4.1.0.0. You need binding redirect.

You can check out dependencies of DLLs in your app directory (use ildasm/Reflector/ILSpy/ObjectBrowser/other ways) to find out which assembly drags it in.

What is the bindingTest reference in your project?
I would love to g

[2017-03-12 19:21] karelz commented on #15622
@WinCPP assigned to you ...

[2017-03-12 19:51] trgagne commented on #16985
Same issue on Windows:

Was working fine until I switched to Visual Studio 2017 and build a new Website AspNetCore 1.1. Now it's not linking to the resources files. When I do @Localizer.GetAllStrings(), I also get error message

[2017-03-12 19:59] sam-wheat commented on #17014
No that is not the case as far as I can tell.  I did not remove the other dependencies before I pasted my lib .csproj.  Here is the corrected one:

[code]

Here is the only code in the lib project:

[code]

Please take a moment to create the two very simple projects as I have demonstrated.  I am using VS2017 released version.  If you would rather not create an xunit project than just create a WPf

[2017-03-12 20:11] sam-wheat commented on #17014
for the record here is the output of dotnet

  Version  : 1.1.0
  Build    : 928f77c4bc3f49d892459992fb6e1d5542cb5e86

[2017-03-12 21:48] sam-wheat commented on #17014
I thought I discovered a workaround by adding System.Net.Networkinformation directly to my WPF project and test projects.  My test project actually runs, but WPF crashes with the error below.
System.IO.FileSystem is already part of that project so I'm stuck here.

  HResult=0x80131040
  Message=Could not load file or assembly 'System.IO.FileSystem, Version=4.0.1.0, Culture=neutral, PublicKeyToken=

[2017-03-12 22:31] sam-wheat commented on #17014
Why is this post marked as "Future"?  What does that mean?  Am I doing something wrong?  Can I do more to troubleshoot?  Please answer my questions directly including [this one](https://github.com/dotnet/corefx/issues/17032).  I have been at this all weekend with nothing accomplished - everything I touch with VS2017 appears to be broken.  When so many things break I start to doubt myself (and I am

[2017-03-12 23:12] jamesqo commented on #14170
@karelz I'm exposing/adding tests for this along with another ArraySegment API.

[2017-03-12 23:25] karelz commented on #14170
Thanks for heads up, assigned to you.

[2017-03-12 23:45] #1942 closed

[2017-03-12 23:54] jamesqo opened #17034 "Use TryAdd throughout corefx"
Now that https://github.com/dotnet/corefx/issues/1942 has been exposed, we can replace all of the places using

[code]

with

[code]

and get better perf for free.

Not sure if there will be any issues with targeting a framework that doesn't have the API, but IIRC @weshaggard said that everything is being built against netcoreapp now so everywhere in corefx should have the API write away.

[2017-03-13 00:05] karelz commented on #17014
I am able to reproduce it.

To get unblock, just use a [bindingRedirect](https://msdn.microsoft.com/en-us/library/eftw1fys(v=vs.110).aspx) which I suggested earlier. It should be fairly straightforward.

@weshaggard, it looks like yet another example of OOB replacing Desktop :(. Can you please confirm?

[2017-03-13 00:12] davidsh commented on #16993
The error means it type is being defined in two different dlls with the same name but different versions.
https://msdn.microsoft.com/en-us/library/64wh5743.aspx

This dll, 'System.Net.Http, Version=1.5.0.0' is not part of .NET core. I don't know where it comes from.

You will need to attach a full Visual Studio solution in order to figure this out.  It is coming from an unsupported NuGet package o

[2017-03-13 00:14] davidsh commented on #17014
We have not OOB'd System.Net.NetworkInformation from the .NET Framework. That DLL does NOT exist in the .NET Framework in terms of being in the GAC.  It might be registered as a facade in some fashion but there is not implementation of an OOB for this.

[2017-03-13 00:32] deepumi commented on #9728
I am having the same issue with CentOS 7. Do I have to create an new issue?

[2017-03-13 00:56] davidsh commented on #17030
We consider FtpWebRequest one of the more legacy APIs originally from the .NET Framework.  We ported it to .NET Core to assist devs when porting their existing code to .NET Core.

As you have observed, there are limitations to the current design of FtpWebRequest.  The design pattern it uses is inherited from the WebRequest class.  If we were re-doing this feature, we would create a different type

[2017-03-13 01:12] jamesqo commented on #12509
@jkotas 👍 . I am deciding to retarget this again as a convenience-oriented API rather than a perf-oriented one, and also add bulk validation for common patterns, but I feel like I've flip flopped too many times in one proposal. I'll close this and open another one with the new shape I have in mind

[2017-03-13 01:16] bartonjs commented on #9728
@deepumi Custom handling is only supported on Linux when libcurl uses openssl as its TLS backend. Feel free to open a CentOS-specific issue, though.

[2017-03-13 01:37] Jiayili1 commented on #16962
This issue is repro on build [20170313.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170311.01/workItem/System.Runtime.Tests/analysis/xunit/System.Tests.TimeZoneInfoTests~2FIsDaylightSavingTime_CatamarcaMultiYearDaylightSavings)

[2017-03-13 01:43] jarenduan commented on #17026
I found [this](https://github.com/aspnet/Home/issues/407) saying that binding redirection is gone for it just gives warnings.

But in my case above, THIS IS NOT JUST WARNING!. It can't bind the right DLL, so that there is not "async and await" in net40, so it won't compile!.

[2017-03-13 01:48] Jiayili1 commented on #16945
This issue is repro on OuterLoop_CentOS7.1_release ([build#123](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_release/123/testReport/)), detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_release/123/testReport/System.Net.Sockets.Tests/SendReceiveEap/SendToRecvFrom_Datagram_UDP_loopbackAddress____1_/

[2017-03-13 02:21] Jiayili1 opened #17036 "Test: System.Xml.Tests.XmlConvertTests.ToTypeTests failed in CI"
Configuration: OuterLoop_Fedora24_debug ([build#115](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora24_debug/115/testReport/))

Failed test: System.Xml.Tests.XmlConvertTests.ToTypeTests

Message:
[code]

Stack trace:
[code]

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora24_debug/115/consoleText

[2017-03-13 02:31] Jiayili1 commented on #16201
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_rhel7.2_release/124/testReport/System.Net.Tests/HttpWebRequestTest/GetResponseAsync_GetResponseStream_ContainsHost_remoteServer__https___corefx_net_cloudapp_net_Echo_ashx_/

[2017-03-13 02:47] Jiayili1 commented on #16201
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_portablelinux_release/40/testReport/System.Net.Tests/SyncWebClientTest/UploadData_LargeData_Success_echoServer__https___corefx_net_cloudapp_net_Echo_ashx_/

[2017-03-13 03:09] Jiayili1 opened #17037 "System.Tests.GetEnvironmentVariable.EnumerateEnvironmentVariables failed in CI"
Configuration: OuterLoop_Windows10_release ([build#126](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/126/testReport/))

Failed test: System.Tests.GetEnvironmentVariable.EnumerateEnvironmentVariables

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/126/consoleText

Message:
[code]

Stack Trace:
[code]

[2017-03-13 03:24] apboyle opened #17039 "System.Data.SqlClient package not updated for 1.1.1 release"
PR #15431 was listed in the release notes for [.NET Core 1.1.1](https://github.com/dotnet/core/blob/master/release-notes/1.1/1.1.1.md).
However, there was no new System.Data.SqlClient package so the fix has not been released.

Will this package be updated with the next servicing release?

[2017-03-13 03:30] WinCPP commented on #15622
Thanks @karelz !!

[2017-03-13 04:07] rionmonster commented on #16770
I'll be glad to try and work on this one. I've been eager to jump into an up-for-grabs issue and this one certainly seems manageable.

[2017-03-13 09:51] Noldax commented on #16967
Thank you for your answer @karelz.

I resolve the problem by using the following code :

[code]

[2017-03-13 09:51] #16967 closed

[2017-03-13 10:11] alenjalex opened #17043 "ArgumentNullException thrown from LdapConnection.SendRequest"
I am trying to hit AD with LdapConnection.SendRequest. I am getting a null reference exception from it.

[code]

This is an intermittent issue.
The AD machine that I'm trying to connect is a Windows Server 2008 R2 Domain Controller (It is a local setup for testing purpose).
Also, the .Net Framework installed is .Net Framework 4.6.2.

I also found similar issues [here](https://github.com/Azure/azur

[2017-03-13 11:14] magol commented on #17030
I understand that you not want to make a major change of `FtpWebequest`. The question is if it is possible to make a smaller fix that make this possible.

[Matt Mitchell](http://mattmitchell.com.au/how-to-change-the-commands-ftpwebrequest-sends/) suggests to use reflection to do this. Maybe we can make this possible without reflections?

[2017-03-13 11:21] jairbubbles commented on #15570
I have the same issues when using package `Microsoft.CodeAnalysis.Csharp 2.0.0` which only targets .NET Standard 1.3. It has an indirect dependency to Crypto 4.0.3 through [common package](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Common/)

The issue is in the NUnit tests, the application runs fine. I tried to add a binding redirect in the test assembly but the test won't launch at all

[2017-03-13 11:39] stephentoub opened #17044 ""No more data is available" error in EnumerateEnvironmentVariables test"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/126/consoleText
[code]

[2017-03-13 11:41] couven92 commented on #15120
With the new SDK (version `1.0.1`) it looks like it works now...

[2017-03-13 12:54] kosak commented on #15120
Great news! Many thanks to whoever fixed this!

[2017-03-13 13:13] deepumi opened #17045 "ServerCertificateCustomValidationCallback throws PlatformNotSupportedException in CentOS.7-x64"
As @bartonjs  suggested, I am creating a new issue for CentOS. #9728

When using ServerCertificateCustomValidationCallback in .Net Core 1.0.1 CentOS 7 64 bit Azure VM, I am getting the following error

[code]

**Sample code**

[code]

[2017-03-13 14:45] marek-safar opened #17047 "System.Runtime.Numerics.Tests are not executed"
Tests in https://github.com/dotnet/corefx/tree/master/src/System.Runtime.Numerics/tests appears not to be executed as part of build tests and it looks like some of them regressed.

[2017-03-13 14:53] stephentoub commented on #17047
Which tests in which build?  I see, for example, the following in the build at https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug/1501/consoleText:
[code]

[2017-03-13 14:56] marek-safar commented on #17047
I looked at Ubuntu 16.10 build

[2017-03-13 15:01] stephentoub commented on #17047
They appear to only be running on Windows.
cc: @mellinoe, @tarekgh

[2017-03-13 15:09] AtsushiKan opened #17048 "MemberInfo.HasSameMetadataDefinitionAs should capture the logic common to all Reflection providers"
This is in support of the just approved api `HasSameMetadataDefinitionAs` in #5884

This api has a number of edge cases (constructed types and method instantiations.). These edge cases can mostly be implemented portably. Given that, it would be nice of MemberInfo itself could implement the portable portion, leaving the simplified task for the underlying Reflection provider. This would reduce the a

[2017-03-13 15:13] Suyogya commented on #16993
Thank you for the prompt reply. I looked at the references again. It looks like I was including
`Microsoft.AspNet.WebApi.Client` in the project and that was causing the issue. Thanks again.

[2017-03-13 15:13] #16993 closed

[2017-03-13 15:29] tarekgh commented on #16985
@deepak-khopade-isdr could you please move this issue to the asp.net repo instead just to get quicker responses? Thanks.

[2017-03-13 15:36] #16985 closed

[2017-03-13 15:40] karelz commented on #17014
@davidsh the assembly seems to be part of .NET Framework:
C:\Windows\Microsoft.NET\Framework\v4.0.30319\System.Net.NetworkInformation.dll

If we ship NuGet with the same assembly identity (with higher assembly version), then we OOB'ed, right? What am I missing?

[2017-03-13 15:40] tarekgh commented on #16770
The contracts of the APIs are in corefx. for issues like this one we would like to track it here to tie it to specific release. but in general we can still track this on the coreclr repo as it is not urgent to get it fix in the next release.

[2017-03-13 15:42] tarekgh commented on #16770
@rionmonster feel free to submit a PR and we'll comment on the PR. thanks for willing to help with this issue. I see you have sent email and I'll try to reply you soon.

[2017-03-13 15:43] karelz commented on #17014
That said, I think we need a good education on what to do when you hit the assembly version mismatch and direct developers to bindingRedirects. They will be always part of our lives, esp. on Desktop.

[2017-03-13 16:11] borgdylan commented on #14235
Mono has this inbox leading to the inbox copy getting picked up when compiling. All build products end up broken on .Net desktop if using valuetuple.

[2017-03-13 16:24] danmosemsft commented on #17044
https://github.com/dotnet/corefx/issues/17037

[2017-03-13 16:24] #17044 closed

[2017-03-13 16:26] danmosemsft commented on #17037
@JeremyKuhne PTAL. Different to https://github.com/dotnet/corefx/issues/16961

[2017-03-13 16:26] danmosemsft commented on #17036
@sepidehMS

[2017-03-13 16:29] dima117 commented on #984
Hi,

I need an API to interact with the FTDI device using .NET Core. I wrote the implementation of such API for Mac OS. My implementation does not have any tests now, but when I tested it manually, it worked stably. Perhaps this code will be useful when you will working on the implementation of the COM-API for MacOS.

- [native API wrapper](https://github.com/thinking-home/serial/blob/6b47f5af4ee3

[2017-03-13 16:36] karelz commented on #17048
@AtsushiKan do you plan it as protected or public method?
If it is protected, do we expect customers to inherit, or is it mostly for our own purposes (portability across CoreCLR, CoreRT, etc.)?

[2017-03-13 16:42] AtsushiKan commented on #17048
protected.

This is for customers that implement Reflection systems using Type as an abstract base type.

CoreCLR and CoreRT and keeping them in sync is certainly one (and the most immediate) use case for this.

However, third parties that implement their own Reflection subsystems (e.g. the oft-proposed TypeInfo over S.R.Metadata) would also benefit from being able to override the protected Impl()

[2017-03-13 16:42] danmosemsft commented on #17034
I found only these with a simple regex.
`if +\( *![a-zA-Z]+.ContainsKey\( *[a-zA-Z]+ *\) *\) *\n? *{ *\n? *[a-zA-Z]+.Add`

[code]

[2017-03-13 16:43] danmosemsft commented on #17034
It should be possible to use it anywhere -- our build should fail if I'm wrong. Do you want ot take a shot?

[2017-03-13 16:45] mellinoe commented on #17047
This PR made them Windows-only: https://github.com/dotnet/corefx/pull/15743/files#diff-55c3506c014b947ed9b7a9efef3039e9L6. Hopefully we can just turn them back on and there haven't been any regressions since then.

@tarekgh

[2017-03-13 16:46] karelz commented on #17030
I would be fine with minor fix contributions to legacy APIs. Of course, it would require clear non-breaking behavior, test coverage, etc.
Your comment above hints this would require a new API. That however, does not fit "minor fix" category.

[2017-03-13 16:49] karelz commented on #17048
Does anyone outside CoreFX repo truly implement their own Reflection subsystem?
If it is scoped to CoreFX repo, I would say we do not need API review ... (we can double-check in next meeting)

Of course, keep in mind that System.Reflection.Metadata targets also Desktop, so they might not be able to use the new API as it is not available everywhere. However, if it helps CoreCLR & CoreRT, let's just

[2017-03-13 16:50] #3862 closed

[2017-03-13 16:52] karelz commented on #16967
So I guess it didn't work before, because of some limitation in `Task<T>.Factory.FromAsync` - maybe the conversion can do only so much. Can you paste the callstack you got with your original code?

[2017-03-13 16:53] karelz commented on #16967
cc @stephentoub if it is something interesting from async conversions point of view ...

[2017-03-13 16:53] AtsushiKan commented on #17048
User-extensibility of Reflection types is a feature and we have prior examples such as LMR.

System.Reflection.Metadata would not be using the api - TypeInfo over SRM would likely be a new assembly (that uses System.Reflection.Metadata.)

[2017-03-13 16:54] tarekgh commented on #17047
This is not true. the old configurations were
      netstandard1.3-Windows_NT;
      netstandard;

so when compiling as netstandard,, the configuration netstandard1.3-Windows_NT was preferred over non-OS specific configuration. so we always used to compile as  netstandard1.3-Windows_NT. my change didn't really change that more than compiling with non versioned netstandard.

 +      netstandard-Win

[2017-03-13 16:54] karelz commented on #15622
We should thank **you** for contributions, not the other way around ;-)

[2017-03-13 16:55] karelz commented on #17048
Fair, thanks for background info.

[2017-03-13 16:56] karelz commented on #16985
@tarekgh FYI: It's super-easy to move issues these days, even for us: https://github-issue-mover.appspot.com/

[2017-03-13 16:59] karelz commented on #17010
@Priya91 any thoughts?

[2017-03-13 17:02] danmosemsft commented on #15622
@WinCPP not sure whether you've done this before, but the impl of Dictionary is in the coreclr repo (search for `class Dictionary`. It is necessary to make a change there and prepare a PR, and also prepare a change in this corefx repo that does two things: (1) exposes the new member in `src\System.Collections\ref\System.collections.cs` and (2) adds tests for it in `src\System.Collections\tests\Gen

[2017-03-13 17:03] deepak-khopade-isdr commented on #16985
This issue was moved to aspnet/Home#1966

[2017-03-13 17:04] deepak-khopade-isdr commented on #16985
Wow... that was super easy :) thanks @tarekgh

[2017-03-13 17:04] danmosemsft commented on #16985
@karelz you can use Zenhub also

[2017-03-13 17:04] stephentoub commented on #17045
The exception message describes the cause and the limitation and suggests the workaround:
[code]
Custom handling of certificates, e.g. ServerCertificateCustomValidationCallback, requires interaction with System.Security.Cryptography.X509Certificates, which is based on OpenSSL.  Thus if libcurl is using a different SSL backend (in your case, NSS), this functionality won't work, because the certific

[2017-03-13 17:05] AtsushiKan opened #17051 "Why do we have IsConstructedGenericType but not IsConstructedGenericMethod?"
**Proposal for New API:**

[code]

This is both for completeness (Type has **IsConstructedGenericType**) and for better expressibility when testing if a MethodBase represents a method instantation.

Right now, the only way to perform that task is through this eyesore:

[code]

This is wordy, requires two calls and requires the use of the 1.0-era **IsGenericMethod** (whose very use I consider to be

[2017-03-13 17:06] tarekgh commented on #16985
@karelz @danmosemsft aspnet repo is not listed in repos we can move to. could you try add aspnet repo there?

[2017-03-13 17:13] gyantal commented on #14638
It can be reproduced and the bug is still there in netcore1.1.
Two things you probably forgot when you tried to reproduce:
- Try it on Linux. I couldn't reproduce on Windows, but with the same code the error came every time on Linux.
- You have to force GC, because otherwise resources are not disposed at all, and you will only experience the bug after heavy computation, not immediately.

You don't

[2017-03-13 17:15] mellinoe commented on #17047
Do we actually specify `netstandard` as the build configuration for tests anywhere? As far as I know, we just specify `netcoreapp-Windows`, or `netcoreapp-Linux`, etc. When specifying `netcoreapp-Linux`, we will no longer run these tests after the change.

[2017-03-13 17:18] danmosemsft commented on #17036
Is this one of those cases where xnuit wraps something else? Asj ust above this in the log I see the real output:
[code]

It's a daylight savings time issue!

[2017-03-13 17:18] ChristophB125 opened #17052 "StringComparer not working as expected on Linux"
The following test works on Windows but not on Linux (RHEL 7.2 or Ubuntu 16.04):

Assert.AreEqual(0, StringComparer.CurrentCultureIgnoreCase.Compare("ss", "ß"));

Our Microsoft consultant Ben Gimblett has confirmed it and requested that we raise it as an issue here for follow-up.

We understand that .Net Core uses Windows's own comparison service, which is not available on Linux operating systems.

[2017-03-13 17:20] tarekgh commented on #17047
usually we build the test as netstandard if the test has nothing specific for specific platform (e.g netcoreapp, netfx or UAP). if the test doing something specific for one of these platforms we'll list this platform in the configuration.

cc @weshaggard @ericstj

[2017-03-13 17:20] ianhays commented on #15120
Glad you guys got it working. Cheers.

[2017-03-13 17:20] #15120 closed

[2017-03-13 17:22] CIPop commented on #12535
@Priya91, @karelz Is this a test issue or a missing feature?

[2017-03-13 17:22] ericstj commented on #16322
Mismatch is expected.  You need to use bindingRedirects with any of these packages.

[2017-03-13 17:24] danmosemsft commented on #17036
@tarekgh what would be the appropriate change to make this sequence safe?
1) serialize a DateTimeOffset
2) daylight savings time changes
3) deseriallize a DateTimeOffset
4) check (1) and (2) are equal.

[2017-03-13 17:26] danmosemsft commented on #17028
Not the only ones hit by this. https://github.com/dotnet/corefx/issues/17036

[2017-03-13 17:27] mellinoe commented on #16956
@mmitche Does this OSX machine have the python "requests" module installed on it?

[2017-03-13 17:28] sepidehMS commented on #17036
@danmosemsft Yes, these tests are wrapped in a single runner.

[2017-03-13 17:28] danmosemsft commented on #17028
The first one at least is wrapped in `if (!TimeZoneInfo.Local.IsAmbiguousTime(now))` which apparently wasn't sufficient.
@tarekgh

[2017-03-13 17:31] danmosemsft commented on #17024
We already have some small pieces of System.Drawing in standard including `System.Drawing.Color`. Looks like bringing `SystemColors` would not pull with it much more. Moving there for consideration.

[2017-03-13 17:32] danmosemsft commented on #17024
Issue moved to [dotnet/standard #240](https://github.com/dotnet/standard/issues/240) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-13 17:32] karelz commented on #15120
@ianhays did we change anything in CoreFX? If not, then likely CLI made some fix impacting the scenario ...

[2017-03-13 17:34] karelz commented on #17043
@alenjalex note that we track only .NET Core issues in this repo. For "big" .NET Framework bugs, please use support or Connect.
Note that DirectoryServices is not fully brought up yet in .NET Core (work in progress).

[2017-03-13 17:36] karelz commented on #17045
Closing as by design - see answer above.

[2017-03-13 17:36] #17045 closed

[2017-03-13 17:37] mmitche commented on #16956
@mellinoe Maybe not.  Will check.

[2017-03-13 17:39] karelz commented on #17034
@jamesqo while everything is built on netcoreapp, some libraries in CoreFX target earlier .NET Standard and some cross-compile to Desktop as well. Make sure you don't break those.

[2017-03-13 17:40] tarekgh commented on #17028
we could have a bug here as I am expecting this code to work. I'll try to take a look

[2017-03-13 17:41] karelz commented on #17039
@saurabh500 can you please comment? Is there any reason why we didn't ship the SqlClient package in 1.1.1?
cc @leecow

[2017-03-13 17:42] tarekgh commented on #17036
@danmosemsft using TimeZoneInfo.IsAmbiguousTime should help but I am seeing other failure using it and still failing so I'll need to take a look why the other cases are failing first.

[2017-03-13 17:43] tarekgh commented on #17052
this can be by design as we are using the OS for such features. I'll need to look first if there is anything else missing in our wrappers.

[2017-03-13 17:44] karelz commented on #12535
Looks like missing feature to me ... @Priya91 can you please confirm and mark it appropriately?

[2017-03-13 17:46] karelz commented on #16985
@tarekgh while the drop-down doesn't list it, you can type it there explicitly ... the UI could have been a bit better IMO

[2017-03-13 17:47] karelz commented on #16985
@danmosemsft I'm not using Zenhub now + it requires Chrome plugin, which is too much work/setup just to move issues ;-)

[2017-03-13 17:53] mellinoe commented on #17047
For all of our .NET Core CI jobs, at least, our specified build configuration is never `netstandard`, it is always `netcoreapp-<OS>`. For some tests, the `netstandard` configuration is chosen because it is the most applicable. Even then, a "Unix" flavor should not be picking `netstandard-Windows_NT` over `netstandard`, at least from my understanding of how things work.

[2017-03-13 18:01] saurabh500 commented on #17039
1.1.1 was supposed to have an updated Sqlclient package. That's why we made changes to the release/1.1 branch

[2017-03-13 18:04] tarekgh commented on #17047
Please differentiate between building and running. when having global build configuration like ntefx for instance and when compiling the test, if the test configuration doesn't specify netfx, we'll fallback to netstandard. then we building the test as netstandard and run it against the desktop. this applies to other platforms netcoreapp and uap too.

so if you have a test that doesn't have any spe

[2017-03-13 18:06] patryk9200 commented on #984
@danmosemsft  @willdean  Forgive me for the lack of response, I was on short vacation.
I'll Look at it tomorrow, I have to prepare devices for testing.

[2017-03-13 18:07] tarekgh commented on #16985
Zenhub is easy to install and it is easier in moving the issues too.

[2017-03-13 18:07] safern commented on #16626
As stated this is a breaking change we wouldn't like to take at this point or soon. So we are closing it for now.

[2017-03-13 18:07] #16626 closed

[2017-03-13 18:07] karelz commented on #17039
Can you confirm that the package was not published? Maybe we need to republish it? @leecow should be able to help.

[2017-03-13 18:09] deepumi commented on #17045
@stephentoub Do you have any documentation to deal the switch part.

[2017-03-13 18:16] deepumi commented on #17045
Similar issue with PowerShell #2511. This issue is still open.

[2017-03-13 18:16] nevcoBpalacio commented on #2089
Hi Everyone,

We are getting ready to start an enterprise project that requires Active Directory support as we are 100% internal to our domain. Can someone please provide status for this issue and expectations for the next core release? I apologize, but I am new to the GitHub community and do not understand yet all the various terminology and status information.

It would be great to use Active Di

[2017-03-13 18:21] safern commented on #1973
@terrajobst is it okay for compat for existing classes to implement new interfaces?

[2017-03-13 18:22] Priya91 commented on #13298
The unix ssl ca cert error is a dupe of the issue #16201. Tracing only the windows failure in this issue.

[2017-03-13 18:25] mellinoe commented on #17047
I think we should also take a look at these test projects, since they may also be need to be reconfigured to run outside of Windows:

src/System.IO.FileSystem.DriveInfo/tests/Configurations.props
src/System.Net.WebHeaderCollection/tests/Configurations.props
src/System.Security.Cryptography.Primitives/tests/Configurations.props
src/System.Text.Encoding.CodePages/tests/Configurations.props

[2017-03-13 18:26] Priya91 commented on #13906
Not able to repro locally

[2017-03-13 18:26] scalablecory commented on #1973
@safern there is precedent in `List<T>` getting `IReadOnly` added.

[2017-03-13 18:27] shmao opened #17055 "Make Sg.exe Parse Attributes Using Reflection"
Sg.exe needs to convert CustomAttributeData to actual attribute objects. We currently have to write methods for each attribute for the conversion. Sg.exe would fail to parse an attribute if we didn't add such method for that attribute type. It would be great if Sg.exe can parse attributes using reflection so that we won't have to add such method for individual attribute types anymore.

[2017-03-13 18:30] shmao opened #17056 "Improve Sg.exe's Type-Forwarding"
Sg.exe currently keeps a list for type-forwarding types from desktop assemblies to NetCore assemblies. We'd like to do the type-forwarding smartly and remove the list.

[2017-03-13 18:32] WinCPP commented on #15622
@danmosemsft thank you for the concise note. Yup, been there previously, with all the mess I could possibly do, for #16274. I also thank @stephentoub and @karelz for patiently bailing me out every time I got into a messy situation. :-)

[2017-03-13 18:36] mellinoe opened #17058 "Verify that tests projects are configured to run on all possible platforms"
I believe at the minimum, these test projects should be run on all platforms:

src/System.IO.FileSystem.DriveInfo/tests/Configurations.props
src/System.Net.WebHeaderCollection/tests/Configurations.props
src/System.Security.Cryptography.Primitives/tests/Configurations.props
src/System.Text.Encoding.CodePages/tests/Configurations.props

We should compare the test results from a Windows and Linux run

[2017-03-13 18:42] stephentoub commented on #17047
If those aren't running on unix, they absolutely need to be fixed to do so.

[2017-03-13 18:45] Priya91 commented on #12535
This can be closed now, resolved in pr #16450. Github didn't close this.

[2017-03-13 18:45] #12535 closed

[2017-03-13 18:46] mellinoe commented on #17047
#17058

I'll follow up with a PR for those projects specifically, and look into whether there are more than that.

[2017-03-13 18:46] #17047 closed

[2017-03-13 18:47] stephentoub commented on #17047
Great, thanks, Eric.

[2017-03-13 18:48] jkotas commented on #16997
This needs to finalized for 2.0. I do not think we will be able to rename it after it.

[2017-03-13 18:52] AlgorithmsAreCool commented on #16997
Perhaps:
 `Span<T>` -> `Memory<T>`
`Memory<T>` -> `MemoryRef<T>`

[2017-03-13 18:54] JeremyKuhne commented on #17037
Hmm- this one is interesting. Pulling directly from the registry in this case. Possibly no entries for the current user? Need to look up which error that message is in winerror.h.

[2017-03-13 18:59] KrzysztofCwalina commented on #16997
I don't mind renaming Span to Memory (although I don't think the value of the rename is very large or any).
I definitely don't like renaming Memory to MemoryRef. MemoryRef sounds like some plumbing magic that should be avoided.

[2017-03-13 19:06] Priya91 commented on #13281
With the last observed failure to this one, seems like the failure is happening when winhttphandler is using multiple TLS protocols and the server supports only a single protocol.

In the case when client uses multiple protocols that are not used by the server, the client handle state is not updated by the server, and it results in indefinite wait, until the default httpclient timeout happens. Thi

[2017-03-13 19:13] tarekgh commented on #17028
@stephentoub did we see these tests failing on OS's than OSX? I am asking because I couldn't repo it (at least on Windows so far)

[2017-03-13 19:17] stephentoub commented on #17028
I only saw it on macOS, but I assumed that was just a timing issue and that only the macOS legs ran in the magic window.

[2017-03-13 19:19] mellinoe commented on #17058
Here is a list of differences I've identified, by running `build.cmd/sh && build-tests.cmd/sh` and then searching for "testResults.xml" files. All of these projects only run on Windows:

[code]

(I've filtered out the four above because https://github.com/dotnet/corefx/pull/17059 will fix them).

Many of these look Windows-specific. System.Private.Uri.Functional.Tests should probably be run everyw

[2017-03-13 19:20] tarekgh commented on #17028
from the failure log the time around "2017-03-12T03:09:36.4716460-07:00" is not really special as we were already passed the daylight time switch by at least 6 or 7 hours. this is why I am wondering how I can repro this

[2017-03-13 19:20] mellinoe commented on #17058
@bartonjs Should any of the Crypto tests above run outside of Windows? I'm not sure which are Windows-specific by design.

[2017-03-13 19:21] tarekgh commented on #17028
sorry Ignore last comment I just added and removed it