[2019-11-23 01:10] danmosemsft commented on #42670
@davidsh let's get a PR and template up

[2019-11-23 01:17] nhuthan opened #42692 "Json Deserialize issue with class has "new modifier" property"
Here is simple code:
[code]
And I got an error:
[code]

[2019-11-23 01:26] davidsh commented on #38173
Correct. Linux has not implicit concept of DefaultCredentials. On Windows, DefaultCredentials is the windows account identity that you logged in as on the machine (local machine account or Active Directory). So, on Windows, it always can use that identity for either Negotiate (Kerberos) or NTLM.

Linux doesn't have the same concepts.  DefaultCredentials on Linux means to use a cached Kerberos tick

[2019-11-23 01:38] layomia commented on #40399
Sufficiently similar to https://github.com/dotnet/corefx/issues/40399 - closing as duplicate.

[2019-11-23 01:38] #40399 closed

[2019-11-23 03:13] danmosemsft commented on #42626
That's because you're reporting that debug code is too slow for production use. This is expected.

[2019-11-23 03:18] layomia commented on #37565
Closing as duplicate of https://github.com/dotnet/corefx/issues/42056. The semantics of this feature are covered in the API proposal:

[code]

[2019-11-23 03:18] #37565 closed

[2019-11-23 03:18] layomia commented on #37564
Closing as duplicate of https://github.com/dotnet/corefx/issues/42056. The semantics of this feature are covered in the API proposal:

[code]

[2019-11-23 03:18] #37564 closed

[2019-11-23 03:32] FolkCoder opened #42693 "JsonSerializer throws InvalidCastException"
Using .NET Core 3.0 or 3.1.100-preview3-014645, an `ICollection<string>` property with a private backing field assigned a custom implementation fails to serialize.

[code]

#### Error message
[code]

#### Stack trace
[code]

This was discovered while attempting to serialize a `Client` model from [IdentityServer4](https://github.com/IdentityServer/IdentityServer4/blob/master/src/Storage/src/Models/

[2019-11-23 03:40] anurse commented on #26477
@scalablecory It's not that SignalR uses it, it's that we call `EnsureSuccessStatusCode` and when it throws we have customers asking for the status code (linked issue above). We'd *prefer* it if the client threw an exception that had the status code. Putting our own exception type in is an option, but we'd prefer not to do that when it feels like this data could be exposed by corefx.

I just wante

[2019-11-23 04:00] layomia commented on #42692
Closing - duplicate of https://github.com/dotnet/corefx/issues/41338, but for deserialization.

[2019-11-23 04:00] #42692 closed

[2019-11-23 04:02] layomia commented on #41338
From @nhuthan in https://github.com/dotnet/corefx/issues/42692:

[2019-11-23 04:14] layomia commented on #42043
Duplicate of https://github.com/dotnet/corefx/issues/42001.

[2019-11-23 04:14] #42043 closed

[2019-11-23 04:16] layomia commented on #42001
From KamranShahid in https://github.com/dotnet/corefx/issues/42043:

[2019-11-23 04:21] sujayvsarma commented on #42626
@danmosemsft - I really hope you read official stuff better than you read my statements. WHERE in any of *my* statements above have I said ANYTHING about the situation being "in production" ? Is this is another example of "customer focus"?

You should know that people use Debug builds [not Release!] right until the UAT (user acceptance testing) phase of projects. It is only for pure prod perf test

[2019-11-23 04:57] danmosemsft commented on #42626
Fair enough, I didn't mean to misrepresent what you're doing. Nevertheless the point is that we dont expect much from the performance of debug builds.

[2019-11-23 07:32] layomia commented on #39031
Marking this as the issue to track polymorphic deserialization for 5.0.

[2019-11-23 07:34] layomia commented on #37787
This issue mainly discusses polymorphic deserialization - closing as duplicate of https://github.com/dotnet/corefx/issues/39031.

[2019-11-23 07:34] #37787 closed

[2019-11-23 07:36] layomia commented on #41325
Polymorphic interface deserialization will be considered as part of https://github.com/dotnet/corefx/issues/39031.

[2019-11-23 07:36] #41325 closed

[2019-11-23 08:33] layomia commented on #38154
Duplicate of https://github.com/dotnet/corefx/issues/41338.

[2019-11-23 08:33] #38154 closed

[2019-11-23 08:49] layomia commented on #38523
@steveharter #41358 has just deserialization APIs - might be good to consolidate these two issues.

[2019-11-23 09:30] layomia commented on #38841
Closing as duplicate - this falls under the ask to support types from System.Runtime.Serialization: https://github.com/dotnet/corefx/issues/38758.

[2019-11-23 09:30] #38841 closed

[2019-11-23 09:33] layomia commented on #39277
This can be achieved using the DataContractAttribute and DataMemberAttribute, if we provide support for them: https://github.com/dotnet/corefx/issues/38758. We should be careful not to provide too many (or redundant) ways to do the same thing.

[2019-11-23 09:49] layomia commented on #39416
Closing as a duplicate of https://github.com/dotnet/corefx/issues/40600 which discusses conditional igoring on a per-property basis.

[2019-11-23 09:49] #39416 closed

[2019-11-23 10:16] layomia commented on #40026
Related: https://github.com/dotnet/corefx/issues/39408

[2019-11-23 10:28] gfoidl commented on #30793
@mithunta just to make sure you're not mixing _base64_ with _base64url_ as they are similar, but different encodings (see above).

What issue do you want to have fixed?
For _base64url_ you can use something like https://www.nuget.org/packages/gfoidl.Base64/ which supports that.

[2019-11-23 10:30] gfoidl commented on #40399
@layomia you created a endless-loop :wink:
(the link points to the current issue itself)
Did you mean #38569?

[2019-11-23 10:38] buybackoff commented on #42492
Just run build.cmd from *Developer Command Prompt for VS 2019*.

[2019-11-23 10:56] layomia commented on #41102
Closing as duplicate of https://github.com/dotnet/corefx/issues/38569 which considers parameterless/custom constructor support.

We shouldn't do any unguided probing here - the constructor to use should be explicitly marked with an attribute.

[2019-11-23 10:56] #41102 closed

[2019-11-23 11:07] layomia commented on #41305
Closing as duplicate: this deals with the polymorphic deserialization feature being considered in https://github.com/dotnet/corefx/issues/39031.

For you scenario, there's currently no mechanism for the serializer to know to create an instance of `DefaultCustom` when the declared type is `ICustom`.

[2019-11-23 11:07] #41305 closed

[2019-11-23 11:08] layomia commented on #39031
From @Milkitic in #41305

[2019-11-23 11:48] layomia commented on #42208
@zehavibarak it looks like you were able to make progress with a custom converter, so I'm closing this issue. Please feel free to re-open if you still have trouble with this.

[2019-11-23 11:48] #42208 closed

[2019-11-23 11:50] layomia commented on #42410
Closing - this is a duplicate of https://github.com/dotnet/corefx/issues/38713.

[2019-11-23 11:50] #42410 closed

[2019-11-23 12:06] layomia commented on #42668
@LeonardoMS01, can you provide some more context about what you are trying to do? A code snippet showing the scenario would be great.

[2019-11-23 12:09] layomia commented on #42635
Closing - duplicate of https://github.com/dotnet/corefx/issues/38878.

[2019-11-23 12:09] #42635 closed

[2019-11-23 13:24] am11 commented on #42677
btw, what is the value of `f1.Name` and `f1.FontFamily.Name` on the machine where MS Outlook is not installed? I (unexpectedly) get `DejaVu Sans` for `f1` and `Liberation Sans` for `f3` on ubuntu 18.04 (without MS Outlook font) with netcoreapp3.0; and `f1.Equals(f2)` is `True`.

[2019-11-23 13:57] edespong commented on #42677
On Windows 10, with net48 I get

`f1.Name` = `f1.FontFamily.Name` = `"Microsoft Sans Serif"`

I tried with netcoreapp3.0 and get the same results as above. Looking at the public properties, only the `OriginalFontName` differs, with `MS Outlook` for `f1 `and `null `for `f2`.

[2019-11-23 15:44] git-net commented on #38569
support Deserialize anonymous object,too?

[2019-11-23 16:32] davidfowl commented on #33620
No, I'm explaining where the issue should be filed because it's not a corefx problem.

[2019-11-23 17:19] mithunta commented on #30793
@gfoidl - I was using built in System function - Convert.FromBase64String(data). I used the suggested solution from the post by @tracker1 by replacing the literals. I did not try this base64url package.

[2019-11-23 17:43] jnm2 commented on #42492
That's good, should have thought of that. Can this hint be included in the failure message then?

[2019-11-23 17:49] svick commented on #42626
@sujayvsarma

What is forcing you to use Debug builds in those early phases? It seems that performance is already important to you, so why can't you switch to Release builds?

[2019-11-23 17:52] cartermp commented on #42672
@njy although we have that attribute defined in FSharp.Core, it's rarely used in practice. We don't use it for F# itself.

[2019-11-23 18:15] stephentoub commented on #42670
https://github.com/dotnet/corefx/pull/42694

[2019-11-23 18:51] stephentoub commented on #22403
You mean that uses C# language rules to parse/interpret the string?  I'm not aware of one in the .NET core libraries.  You'd likely need to use Roslyn's APIs.

[2019-11-23 20:08] GrabYourPitchforks commented on #42372
Just throwing this out there for discussion...

If we were to reinvent the `SymmetricAlgorithm` class today, would we still have properties like `Key` on it? It was already mentioned earlier that the `IV` property was problematic.

In my ideal world, the API would look something like below. (Ignore for now that it violates the FDG.)

[code]

Basically, everything about how the algorithm behaves is

[2019-11-23 20:25] stephentoub commented on #42441
I highly doubt it. That's running on a different OS with a different .NET implementation.

Both of those messages come directly from the OS, so if such a failure is occurring, it's almost certainly because the DNS request to the OS is failing.

Can you come up with an isolated repro for us to test? Otherwise it's going to be difficult to determine why you're seeing this.

[2019-11-23 20:26] stephentoub commented on #42441
Can you share the results of calling ToString on whatever exception you're catching?

[2019-11-23 21:38] vcsjones commented on #42372
Probably? Keys are usually tied to some lifetime of "thing which can do encryption with the key" like a `BCRYPT_KEY_HANDLE`. Even in one-shot scenarios using the same key many times makes plenty of sense. The `IV` on the other hand has a lifetime associated with each encrypt / decrypt call.

I seem to have very different tastes from y'all on this. In my "ideal" world the mode is part of the type (

[2019-11-23 22:12] bartonjs commented on #42372
No, I wouldn't bother with letting you get it back :smile:.  Maybe an export method, definitely not a property.

I agree with @vcsjones, the mode inputs don't lend themselves to a general "encrypt/decrypt" virtual.  Looking at the current model (ignoring CreateEncryptor(key,iv)), the strawman SymmetricAlgorithm2, and what we did for GCM/CCM, the instance is "the key", and then we need to model how

[2019-11-23 22:31] mnmr opened #42695 "FirstOrDefault after OrderBy invokes predicate for every element (breaking change)"
We have a bit of code to reserve an account from an available pool, which looks like this:

`var account = accounts.OrderBy(x => x.UsageCount).FirstOrDefault(x => x.TryReserve(token));`

After porting our code from .NET Framework to .NET Core, this now invokes the predicate method for every item in the list. In practise, this code now reserves ALL accounts and then returns the first.

The problem

[2019-11-23 22:45] vcsjones commented on #42372
Sure I agree with that. I took the question to mean "is the key an attribute of the object instance or method call". I meant to say it should not be a method parameter.

[2019-11-23 23:18] GrabYourPitchforks commented on #42695
Previous discussion, for context:
https://github.com/dotnet/corefx/issues/2400
https://github.com/dotnet/corefx/pull/2401

[2019-11-23 23:35] Clockwork-Muse commented on #42626
Come to that, I'm a little surprised that QA is running against a Debug build anyways, because while (most) differences in behavior between Debug and Release would be considered bugs... it means they're not testing what's actually being distributed to users.
If any potential diagnostic information included in a Debug build is that important for QA, I'd probably just re-run failing scripts against

[2019-11-24 03:33] amdreallyfast opened #42696 "Utf8JsonWriter does not correctly format output"
Framework: .Net Core 3.0

**products.json**
Note: This is a trimmed down json file pulled from an ASP.Net tutorial.
Original: https://github.com/dotnet-presentations/ContosoCrafts/blob/master/src/wwwroot/data/products.json
[code]

**Code** (.Net Core console app)
[code]

**Output**
Note the repeat of the last (if I counted correctly) 94 characters, including the closing brace and bracket of the la

[2019-11-24 04:00] benaadams commented on #42626
With their GC support, Frozen Objects look very interesting for this purpose https://github.com/microsoft/FrozenObjects

(Video with @mjsabby and @Maoni0 explaining more about them: https://www.youtube.com/watch?v=pGUuSWWNx2Y)

[2019-11-24 05:13] Clockwork-Muse commented on #42696
[`File.OpenWrite()`](https://docs.microsoft.com/en-us/dotnet/api/system.io.file.openwrite?view=netframework-4.8#remarks
) doesn't truncate (clear) the original file, if it exists.  The characters are leftover from the original file that your program is overwriting.  If you output to a different file, it should look correct.

As to why attempting to write the indented form also has extra characters

[2019-11-24 06:08] amdreallyfast commented on #42696
I see. Thanks for the correction. I dug further into the file opening options some more. `File.OpenWrite` was the mechanism used by the tutorial and it took some time to find a working alternative.

[2019-11-24 06:29] #42696 closed

[2019-11-24 12:30] haf commented on #41897
I'm getting this exception on Mojave;

[code]

but contrary to previous comments, I'm on .Net Core 3.0 and not a preview. That said, I've upgraded the versions a couple of times so the installation is with a previously installed dev cert.

[2019-11-24 14:45] KamranShahid commented on #22660
I have done a workaround to get harware info as per Platform. For windows I have used old way of system Management classes, for Linux i have used differnt Bash commands to Get ProcessorID, Model,model version,machineid.
waiting for some support in the framework soon

[2019-11-24 16:00] bernd5 opened #42697 "Bad performance: launching processes in parallel on Win32 / Windows"
I would really like to launch multiple worker-processes in parallel with minimal blocking.
My code is heavily using async / await. Unfortunately the overall perfomance is not as good as I would expect.

For me the perfomance killer seems to be line [479 `lock (s_createProcessLock)`](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.c

[2019-11-24 16:08] korsaire commented on #42294
I can look into that.

[2019-11-24 16:20] Backhage commented on #42294
As a user I would expect an exception being thrown if I supplied a non-existing path. Creating folders is a side effect that might hide errors and lead to unexpected behavior.
Please consider changing the current exception to a DirectoryNotFoundException rather than trying to create the full path.

[2019-11-24 16:31] baruchiro commented on #22660
@KamranShahid Thank you for the workaround. I think we need to offer workarounds here, since it doesn't seem the .NET team planning to solve it soon.

In my company, we also use
 **6. "LinuxTotalMemory": "awk '/MemTotal/ {print $2}' /proc/meminfo"**

[2019-11-24 16:43] danmosemsft commented on #42294
What do other API do?

[2019-11-24 16:45] grahamehorner commented on #42294
@danmosemsft File.Create creates the folder/directory structure

[2019-11-24 19:15] korsaire commented on #42294
@Backhage I agree with that. If the API change is approved, maybe later an optional bool param can be passed to indicate whether to create a non-existing path - but IMO it's out of scope of this issue.

[2019-11-24 19:35] Uzivatel919 opened #42699 "src/Common/src/CoreLib/System/Collections/ObjectModel/ReadOnlyCollection.cs design failures"
1. Since ```ReadOnlyCollection<T>``` exposes indexer, its naming should be ```ReadOnlyList<T>``` to stuck with current approach.
2. Implementing ```ICollection<T>```, ```IList<T>```, ```IList``` is also debatable. Since .NET Core is brand new, one could have been observing more changes to collection designs:
    • Saying that ```ReadOnlyCollection<T>``` is implementing these is as well designed as

[2019-11-24 20:33] Backhage commented on #42294
@grahamehorner At least for me, using .NET Core 3.0 on Windows, File.Create(@"C:\Temp\NonExistingPath\File.tmp"); throws a DirectoryNotFoundException.

[2019-11-24 21:10] Joe4evr opened #42700 "Incorrect doc on 'Type.FullName'"
Currently, the docs for what `Type.FullName` returns says:

However, I've found that some of the conditions in which this property is documented to return `null` are false. [SharpLab shows](https://sharplab.io/#v2:C4LgTgrgdgPgAgJgIwFgBQiDM6De6AEh+iCBReaRVxSAnABQBiA9swDwCWUwAfAHQAVAHIBDALYBTAJQBuMtRoMW7OEgAM/YeOlzKCxU1aduAbQC6m0ZNnzqqpUYCCYMCICel7Tb2EAvun80dDhMYgR8ZTYBHlxbLmAJMCgRABsaADYaNXwtSXwcfA

[2019-11-24 21:23] grahamehorner commented on #42294
@Backhage interesting that differs to my experiance with .NET 2.2 and yes your correct, .NET 3.0 throws the exception as I would have expected

[2019-11-24 21:32] stephentoub commented on #42699
Thank you for sharing your concerns. But what is the purpose of this issue? This type was released publicly years ago. Whether or not one agrees with the design choices made them, such changes will not be made now, as they'd all be very breaking.

[2019-11-24 22:03] stephentoub commented on #42700
I think the issue is primarily how the sentence is being parsed, and in particular that this "an array
type, pointer type, or byref type based on a type parameter" is one phrase.

[code]

[2019-11-24 22:25] stephentoub commented on #42686
I think @GrabYourPitchforks is proposing it be made public.

[2019-11-24 22:39] tarekgh commented on #42686
Ah, somehow I had the impression that Encoding.Latin1 is already public :-) so it make sense to expose it (maybe with different name).

[2019-11-25 00:37] Uzivatel919 commented on #42699
I knew what will be the answer but still. Recently I went through these implementations finding out that such type designs are out of date.

One can say there is not direct benefit of this but this could be said to every design problem where work around exists. Design is not about direct benefits. It is about patterns, paradigms, performance, security, clarity, to-human-softness. Such read-only an

[2019-11-25 00:56] Spaceman1861 opened #42701 "System.Net.Security.SslStream breaks after upgrade 2.1 -> 3.0 (Linux only)"
Hi all!

First up, not sure if this the correct repo let me know if needs moving.

This has been discussed here(https://github.com/jstedfast/MailKit/issues/951) as well and determined that it was probably a dotnet issue.

We are hitting an issue with MailKit connecting to certain IMAP servers post upgrade to 3.0 only on the base 3.0 linux distro (debian 10). When I run locally on windows its fine.

[2019-11-25 01:00] danmosemsft commented on #42697
I do not know why that lock is _static_. It is so in the internal code back to at least 2010 after which I do not currently know how to find history.

Nit: it's only used for Windows, but it's instantiated for other platforms.

@stephentoub do you know?

[2019-11-25 01:04] danmosemsft commented on #42699
Thanks @Uzivatel919 . As @stephentoub mentions, all your suggestions seem to be breaking changes. If you'd like to propose non breaking changes (eg., additive changes) please open a new issue. I'll close this one.

[2019-11-25 01:04] #42699 closed

[2019-11-25 01:05] Uzivatel919 commented on #42699
@danmosemsft As far as I could say new typed cannot be breaking change if of course I am not missing something.

[2019-11-25 01:09] danmosemsft commented on #42699
Yes, if you propose to add a new API that is generally note a breaking change. You can do this by opening an issue specific to the change you propose. Please see
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2019-11-25 01:17] Uzivatel919 commented on #42699
I am not finding there anything about breaking changes. Also I cannot imagine how new bunch of consumer types could break any existing API but I am about to go with your decision. As I noticed some point from that page I can come back with some proposal skeletons if I will to. Perhaps I will do it later on.

[2019-11-25 01:25] danmosemsft commented on #42699
As I said " if you propose to add a new API that is generally **not** a breaking change" (although I had a typo)

You are welcome to propose new API, but please in a new issue in the format specified in the document linked.

[2019-11-25 02:27] KennyChen0909 commented on #42586
@danmosemsft @cheenamalhotra Can we have an ETA for this release?

[2019-11-25 02:49] danmosemsft commented on #42586
@KennyChen0909 which version do you run on?

Generally, it takes 6-8 weeks from the time the change is merged. Because 2.1 is being held to a high bar for changes right now, and 2.2/3.0 will soon be out of support, it may go only into 3.1 right now. That would probably be in 3.1.1. in Jan.

[2019-11-25 02:50] danmosemsft commented on #42586
@KennyChen0909 which version do you run on?

Generally, it takes 6-8 weeks from the time the change is merged. Because 2.1 is being held to a high bar for changes right now, and 2.2/3.0 will soon be out of support, it may go only into 3.1 right now. That would probably be in 3.1.1. in Jan.

[2019-11-25 03:49] mnmr opened #42702 "DateTime.ToString("MM/dd/yyyy") does not treat "/" as literal character"
If your current locale specifies a different character than "/" as a date component separator, the following line of code will emit a string using the localized separator (which it should not, at least if backwards compatibility is any concern).

`DateTime.Now.ToString("MM/dd/yyyy")` emits `11-25-2019` with .NET Core 3. However, the same line of code using .NET Framework will emit `11/25/2019`.

T

[2019-11-25 04:10] KennyChen0909 commented on #42586
@danmosemsft I'm asking regarding @johnsimons . Their application is running under .NET Core 2.2. Would like to know the ETA for a patch release. Thanks.

[2019-11-25 05:05] NickRedwood commented on #1973
I'm just responding to the lack of progress on `IReadOnlySet<T>` - this issue has already been open 4 years after all.

[2019-11-25 05:13] scalablecory commented on #26477
Thanks @anurse, that aligns with my thoughts.

[2019-11-25 06:21] TechnikEmpire opened #42703 "Sara Chipps [.NET Foundation Board Member] Behavior"
I'm wondering if the .NET Foundation can respond to the behavior of one its board members, Sara Chipps.

I'll just post links here and let the facts speak for themselves:
https://meta.stackexchange.com/questions/336526/stack-overflow-is-doing-me-ongoing-harm-its-time-to-fix-it

https://meta.stackexchange.com/questions/335173/se-inc-director-of-public-qa-retweets-bad-faith-misrepresentative-tweet

[2019-11-25 06:26] ankitbko commented on #42645
If the plan is to have events as `IAsyncEnumerable`, would it make sense to have a LINQ method `Interval<T>(this IAsyncEnumerable<T> foo, TimeSpan period)`?

[2019-11-25 07:15] Gnbrkm41 commented on #42702
https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings#dateSeparator

It is supposed to do so per the document. Have you checked if the `CultureInfo.CurrentCulture` is set to a culture that uses a forward slash for the date separator when testing the above code on .NET framework?

[2019-11-25 07:28] Uzivatel919 commented on #42699
Ah, great. Now I understand.

[2019-11-25 07:31] Gnbrkm41 commented on #42703
I do not think this is an appropriate place for such an issue. This repo focuses on development of the .NET Core BCL and issues related with it, not about .NET Foundation itself and members of the foundation.

[2019-11-25 08:27] TechnikEmpire commented on #42703
@Gnbrkm41 given that github and the .net foundation have implemented codes of conduct I think its appropriate. If an repo is being run in part by someone who is apparently antisemitic and ageist, discriminatory in way, I'd say that's an issue.

[2019-11-25 08:44] tmds opened #42704 "Stream.CloseAsync method"
I've had the need for a method which isn't available on `Stream`:

[code]

This method would allow to implement close operation that can be asynchronous and cancelled+aborted.

The two existing methods for this on `Stream` are:
[code]
`Close` is not async, and `DisposeAsync` doesn't accept a cancellation token.

Cancelling the `CloseAsync` token has abort semantics. That is, unflushed data is disc

[2019-11-25 08:45] warrior1305 opened #42705 "PropertyNameCaseInsensitive flag doesn't affect"
For now, it is unable to use Text.Json as input formatter for CamelCase'd JSON. Setting flag to true did nothing.
[code]

Also, this problem is not a very new
https://stackoverflow.com/questions/58476681/asp-net-core-3-0-system-text-json-camel-case-serialization/58476771#58476771

Version: the one that comes with AspNetCore 3.0.0

[2019-11-25 09:07] doogdeb commented on #41002
I also experience an issue when trying to serialize the following.

     public class CacheModel
     {
        public Type DtoModelType { get; set; }

        public string CacheKey { get; set; }
      }

DtoModelType is never of type CacheModel but I still get an "JsonException: A possible object cycle was detected which is not supported" error.

[2019-11-25 09:10] KamranShahid commented on #22660
Agreed @baruchiro . I have same motive to help-out others till there comes something supported in the framework

[2019-11-25 09:10] doogdeb commented on #41002
Isn't 5.0 a year away?

[2019-11-25 10:00] ChristianSchieder opened #42706 "SQLCommandBuilder.DeriveParameters() having trouble with StoredProc Parameters of Type XML"
Hi there,

we recently moved from .Net-core 2.1 to 3.0 and have experienced and issue regarding the DeriveParameters-Method when the stored procedure contains a parameter of type XML.

Here the link to some small reproduction code:
https://github.com/ChristianSchieder/SqlDataClient_TestApp

[2019-11-25 10:26] ehnap opened #42707 "Project including "System.Management" nuget can not be used by other project(dynamic load this project), because "System.Management" causes an exception: FileNotFoundException"
[TestManagementLoad.zip](https://github.com/dotnet/corefx/files/3886032/TestManagementLoad.zip)

System.Management is 4.6.0

Maybe the same question: [#39975](https://github.com/dotnet/corefx/issues/39975)

I write a demo.

- Project ManagementProxy add "System.Management" nuget and use it.
- Project TestManagementLoad loads Project ManagementProxy.

Run it. An exception occurred.

**System.Reflec

[2019-11-25 10:34] mythrz commented on #41002
No. We are currently in 3.0/3.1! Next year, around this time, .NET 5 will be released. They are gonna skip a number (the number 4) so we don't get confused with  .NET Framework 4.*

Next year, there will be one .NET to "rule us all"

[2019-11-25 10:36] doogdeb commented on #41002
I understand that, but you mention that this change is earmarked for 5.0, which I'm assuming is .Net 5.0, which is a year away.

[2019-11-25 10:54] andriysavin opened #42708 "NetFxToWinRtStreamAdapter.WriteAsync fails with ArgumentOutOfRangeException when buffer is empty"
This bug exists since .Net Framework implementation. Basically, when a WinRT stream is an adapter around a .Net `Stream` and you attempt to write an empty **native** `IBuffer` to that stream, you get an `ArgumentOutOfRangeException`. Here is an example:

[code]
This gives the following when running:

[code]
Unless I'm missing something, there is no point in not supporting empty buffer writes. Actu

[2019-11-25 11:08] andriysavin commented on #42708
In case anybody needs it, here's a workaround I created. This is just a decorator around the WinRT stream (note I use `IRandomAccessStream` here, but you can create the same for `IOutputStream`).

[code]

To use it, just wrap an IRandomAccessStream with this decorator and pass it to the writer:

`using var winRtStream = new SkipZeroLengthWritesStreamDecorator(fileStream.AsRandomAccessStream());`

[2019-11-25 11:17] slang25 opened #42709 "Question: Getting a ReadOnlySpan<byte> from a ref struct"
If I have my own `readonly ref struct` such as this:

[code]

It would be constrained to the stack and readonly, so would I be able to get a `ReadOnlySpan<byte>` to it, without any copying on the stack (or elsewhere?).

[2019-11-25 11:31] #42705 closed

[2019-11-25 12:06] njy commented on #42672
I have some doubts that this would work in a reasonably predictable/stable way and without hurting perf/user experience. Having said so, I certainly get your pov.

Just thinking out loud here, but wouldn't that include minor "new" things like new overrides of existing methods while missing things that are changed internally (impl) without a change in the method signature?

I mean, the first one (c

[2019-11-25 12:21] eiriktsarpalis commented on #42701
I can attest that trivial applications of SslStream using self-signed certificates in .NET Core/Debian 10 have worked just fine for me, so I suspect there might be something peculiar about your set-up that triggers the issue. I appreciate this might not be easy, but would you be able to share a minimal reproduction that triggers the issue.

Also, can you confirm whether the issue occurs in other o

[2019-11-25 12:39] Joe4evr commented on #42703
@TechnikEmpire You should send an e-mail to `conduct@dotnetfoundation.org`.

[2019-11-25 12:41] TechnikEmpire commented on #42703
OK thanks. I'm not really down with professional victimhood but since the .net foundation and Microsoft have made it official policy and since a board member is flagrantly trampling all over said policy, I will send an email there.

[2019-11-25 13:48] eiriktsarpalis commented on #7858
FWIW I'm getting this exception on windows nanoserver containers.

[2019-11-25 14:49] mnmr commented on #42702
You are correct, I don't know why I thought this behaved differently in .NET Framework. Sorry!

[2019-11-25 14:49] #42702 closed

[2019-11-25 15:15] stephentoub commented on #42704
I don't think such a method should be added.

If Close is provided on an IDisposable, it is expected that Close and Dispose are functionally the same. In the case of Stream, Dispose is even non-virtual and just calls Close. So I think it would be very unintuitive if there were a CloseAsync that was functionally different from DisposeAsync.

Further, we explicitly chose not to include a Cancellatio

[2019-11-25 15:15] vsadams commented on #35445
@karelz  I have a few 3.0 upgraded services and still encounter this error
![image](https://user-images.githubusercontent.com/8906247/69552464-68717b00-0f96-11ea-9c84-c424ee35e65f.png)

[2019-11-25 15:17] fuhry commented on #27006
Hey, I know this is an old issue, but we're seeing this exact same trace in a Bedrock framework based server application we are developing internally at @ZorusTech, and it doesn't look like a resolution was ever reached here.

We're working on a good minimal reproduction case and will comment on this issue with a link to the repo once it's up.

[2019-11-25 15:18] Gnbrkm41 commented on #42709
`new ReadOnlySpan<byte>(&coords, sizeof(Coords))`?

(As a sidenote, I do not think that this does not really have to be a ref struct)

[2019-11-25 16:05] tmds commented on #42704
ok, maybe Close is not a good name then.

Yes. The method I'm looking for is to implement the protocol part in a way that is cancellable.
resource cleanup should be in `DisposeAsync` and not cancellable.

[code]

[2019-11-25 16:09] jeffschwMSFT commented on #41897
What version of .NET Core are you running?

[2019-11-25 16:44] tmds commented on #42704
Another API option could be to have a boolean that disables flushing/protocol close that is implemented in `DisposeAsync`.
[code]

[2019-11-25 17:15] GrabYourPitchforks commented on #42686
I'd be fine with keeping the property name `Latin1`. The actual concrete type doesn't need to be made public IMO.

[2019-11-25 17:33] Clockwork-Muse commented on #42672
... Why would you ever want to care about the internal implementation changing (assuming the same tests pass)?  Anything that did this should explicitly include only publicly-visible API surfaces.

Overload resolution prefers methods with fewer parameters in the face of optional arguments, probably for exactly this reason, so adding a new method with optional arguments would just be "standard new"

[2019-11-25 17:37] heng-liu opened #42710 "Linux and Mac have CryptographicException with generic HResult"
The Invalid ASN and bad password have both generic HResult in netcore5.0, so we're not able to differentiate them as we did in netcore3.0.
Can you pls help us change HResult for bad password? Thanks!

[2019-11-25 17:47] njy commented on #42672
It was just an example: if that is in fact the precedence for overload resolution then just use the opposite example, like there was a 3 params method with the last one optional, now and there's also a new 2 params overload.
But again, that particular one was just an example, the first that popped up in my mind and not necessarily a real use case.
I'll try to come up with a better one.

[2019-11-25 17:54] sharwell commented on #42672
I like the idea of `[Preliminary]`. One of my older breaking changes documents used `<preliminary/>` in a documentation comment and explained it as follows (the attribute would work the same way but have a different form):

[2019-11-25 18:06] tannergooding commented on #42672
I'm not sure how this differs from or improves upon what we are already doing today.

APIs don't go into CoreFX until officially reviewed/approved. APIs in CoreFX are considered "preview" until we RTM and ship them as stable on NuGet (this is designated by `-preview`, `-alpha`, `-beta`, etc monikers).

We sometimes ship out of band packages as `.Experimental` alongside a given release. These are n

[2019-11-25 18:13] tarekgh commented on #42686
I agree we don't have to expose Latin1 class. For the naming, we need to choose the name which people more familiar with:

| MIME / IANA  |  ISO-8859-1 |
| --- | --- |
| Alias(es)  |  iso-ir-100, csISOLatin1, latin1, l1, IBM819, CP819 |

if we can have the name indicate `ISO-8859-1` that would be better I think.

[2019-11-25 18:33] layomia commented on #42668
Closing this issue. Please feel free to open another issue if you identify a proble with JsonIgnore.

[2019-11-25 18:33] #42668 closed

[2019-11-25 19:01] terrajobst commented on #42703
As @Gnbrkm41 pointed out, this repo isn't the correct place for CoC violations.

As per the [Code of Conduct](https://www.dotnetfoundation.org/code-of-conduct) please report any concerns to conduct@dotnetfoundation.org. All complaints will be reviewed and investigated in confidence and will result in a response that is deemed necessary and appropriate to the circumstances.

Therefore I am closing

[2019-11-25 19:01] #42703 closed

[2019-11-25 19:35] #39595 closed

[2019-11-25 19:37] ViktorHofer commented on #39441
The leg just timed out during the restore: https://dev.azure.com/dnceng/public/_build/results?buildId=438614&view=ms.vss-test-web.build-test-results-tab&runId=13949022&resultId=100071&paneView=attachments. As part of the CI council effort, we should find a way to avoid unnecessary restore invocations.

[2019-11-25 19:39] safern commented on #39441
I'll work on this after the live-live CI effort. @ericstj and I had some ideas, but I think the best one for now will be to implement an spare matrix.

We also thought about doing package testing per RID, rather than per package. That way we would restore the runtime assets just one, which seems a good idea as well.

[2019-11-25 19:41] SeanSnyders opened #42711 "WebSocket state set to 'Aborted' when cancelling ReceiveAsync"
OSX 10.14.6
.Net Core 2.2.102

Using `ClientWebSocket.ReceiveAsync()` with a `CancellationToken` and wanting to cancel my operation of waiting for data / receiving data.
Cancels works fine, but it also seems to set the `WebSocketState` to `Aborted` which is not fine. I still want to use my WebSocket afterwards for sending or whatnot, or even restarting the receiving process. I do not want it to ca

[2019-11-25 19:42] ViktorHofer commented on #39441
When doing this, should we also off-load the per-RID validation into the other build legs, out of the allconfigurations leg?

[2019-11-25 19:45] safern commented on #39441
We only build the `Private.CoreFX` packages (Which are going away) as part of the RID build legs and one runtime package (IO.Ports native package in Linux builds). All the OOB packages are built as part of the allconfigurations leg... so, is it worth it?

[2019-11-25 19:47] ViktorHofer commented on #39441
And I assume we can't build them as part of the main legs? I was thinking of repackaging the nuget packages from the different outputs. Not sure if that makes any sense.

[2019-11-25 19:50] safern commented on #39441
You need to build all the build configurations in order to get the package assets.

I would think of the other way around where all packages are built in the all configurations leg, where other legs publish assets and then we package them -- but then you can't do builds in parallel. You would have to move the packaging step out in order to achieve it.

[2019-11-25 19:51] ViktorHofer commented on #39441
Why?

[2019-11-25 20:49] ahsonkhan opened #42712 "{De}Serializing System.Type to JSON using JsonSerializer isn't supported and fails with cycle detection (JsonException)"
Scenario from https://github.com/dotnet/corefx/issues/41002#issuecomment-558058956 by @doogdeb

Serializing/deserializing a POCO containing a `System.Type` properties doesn't work today and fails with JsonException (A possible object cycle was detected which is not supported...). The workaround is to use a custom converter.

[code]

cc @steveharter, @layomia, @Jozkee

[2019-11-25 20:50] ahsonkhan commented on #41002
The issue you are seeing is specifically about `System.Type` support and unrelated to cycles/referenceloophandling.

I have filed an issue for this with a potential workaround using converters: https://github.com/dotnet/corefx/issues/42712
Let's move the discussion there.

[2019-11-25 20:55] GrabYourPitchforks commented on #42712
Word of warning: allowing deserialization of `Type` instances (or anything from `System.Reflection`, really) will almost certainly open a security hole in your application. It leads to the same kinds of problems that have plagued `BinaryFormatter` and similar serializers over the years, and it's one of the reasons we don't recommend using them.

Even calling `Type.GetType("some-user-provided-input

[2019-11-25 20:58] ahsonkhan commented on #42712
Agreed, which is primarily why we don't support it out-of-the-box. Thanks for pointing out the warning, will add a comment on the deserialize side.

[2019-11-25 21:00] MV10 commented on #42711
That's just how it works. In fact, you can't even cancel the token during the close handshake routine, you have to leave your receiver open so that it doesn't trash the socket while you perform a graceful shutdown. (If you've ever done low-level winsock programming, it all actually makes sense -- unfortunately, last time I checked, the behavior wasn't documented.)

You can send while you're blocki

[2019-11-25 21:07] doogdeb commented on #42712
Thanks for the workaround and the warning in regard to usage with Type.

[2019-11-25 21:34] layomia commented on #40399
@gfoidl yes, thank you!

[2019-11-25 21:38] vcsjones commented on #42372
Well, I suppose you can fix that with _moar_ types...

[code]

I'm not sure if I am serious or not, but I see your point.

Could stick it in a new `Primitives` namespace.

I think part of what I don't like about mode methods is that it forever implies that any new mode might apply to all future algorithms. Perhaps AES2 won't define any of these modes. Perhaps it'll only define GCM-SIV.

[2019-11-25 21:38] layomia commented on #38569
From @endeffects in #40399.

[2019-11-25 21:38] ahsonkhan commented on #42705
@warrior1305 - why did you close the issue? What was the issue and was it fixed? From the title/description, it's hard to discern what unexpected behavior you were seeing. Which side was not working - serialization (writing JSON) or deserialization (reading JSON)?

[2019-11-25 21:55] bartonjs commented on #42372
There is a bit of a point-in-time "things that work everywhere" (not CCM/GCM) for deciding things can go on SymmetricAlgorithm, but that was really already done by the Mode property.  The ultimate recourse is "NotSupportedException" if some future algorithm is not defined for ECB/CBC/etc modes.

But since we use SymmetricAlgorithm for block ciphers, and the block modes apply to all block ciphers,

[2019-11-25 22:01] nickcoad commented on #41002
Next year, around this time, is just another way of saying "a year away"...

[2019-11-25 22:07] vologar commented on #30166
Same issue here. Trying to connect from Azure function emulator to Azure blob storage. TCP Viewer shows the calls are attempted directly to Azure ip without any knowledge of Proxy settings. Net version woks as expected. Setting AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false) resolved the issue, but we had to spend hours to understand the root course. Has it ever been tested fr

[2019-11-25 22:08] vologar commented on #30166
Azure Functions SDK  still uses .Net Core 2.*

[2019-11-25 22:12] nofield commented on #33620
Updating the people in this thread to note that this issue is also opened in the repo @davidfowl linked above: https://github.com/Azure/azure-functions-host/issues/3903 , with a couple workarounds. If you're still having issues, I'd suggest looking / commenting there!

[2019-11-25 22:13] safern commented on #39441
because that's on the only build where we expand and build all the configurations of a project. i.e: we don't have a vertical build for netcoreapp2.0 or for netcoreapp2.1 so all the assets for those configurations would be lost if we package on whatever our verticals built.

[2019-11-25 22:14] davidsh commented on #30166
This issue was only fixed in .NET Core 3.0. It was not fixed in .NET Core 2.*. That's why you still see the problem.

When Azure Functions SDK is upgraded to .NET Core 3.x, then the problem should be resolved for you.

[2019-11-25 22:14] #30166 closed

[2019-11-25 22:20] ahsonkhan commented on #38569
From @EdiWang in https://github.com/dotnet/corefx/issues/41102:

[2019-11-25 22:25] ViktorHofer commented on #39441
That's why I mentioned "re-packaging" of nuget packages.

[2019-11-25 22:29] ahsonkhan commented on #41002
Yes, this feature is for 5.0 (i.e. master), which is planned to ship near end of next year (hence the milestone). 3.1 is already done. That said, S.T.Json also ships as a NuGet package so once the feature is done, you could consider using a preview package on 3.1 before 5.0 officially ships.

[2019-11-25 22:34] safern commented on #39441
I see. Then it doesn't make sense to me how this would work. We would have an all configurations leg and then re-package each package on the main legs? Could you be more explicit? I am missing something I guess.

[2019-11-25 23:10] StephenBonikowsky commented on #40730
Sorry for the delay in responding to this issue.

We are attempting to reproduce the issues you have described to see if we can get an idea of what might be causing the problems you are seeing.

[2019-11-25 23:17] StephenBonikowsky commented on #41094
@brianrob It sounds like we just need to add an IBC scenario to train this assembly.

Is there a process for adding IBC scenarios, does someone own that space?
We just need to know how to proceed.

Thanks.

[2019-11-25 23:33] Clockwork-Muse commented on #42672
@tannergooding - I believe the proposal is not necessarily that we'd use it here, but that it would be included here for library (and tool) writers to use it themselves.

Although my position is otherwise the same as yours, I think: "unfinal packages are subject to change at any time".

[2019-11-25 23:35] ahsonkhan commented on #42636
Which is a duplicate of https://github.com/dotnet/corefx/issues/38878

[2019-11-25 23:37] danmosemsft commented on #42707
Does it help if you make TestManagementLoad have a direct package reference too?

[2019-11-25 23:39] ViktorHofer opened #42716 "🎉🎉🎉 dotnet/runtime welcomes you 🎉🎉🎉"
We are excited to announce that we just opened the [dotnet/runtime](https://github.com/dotnet/runtime) repository for community members: https://github.com/dotnet/runtime/issues/253. Issues will be ported over early December and the master branch will be recycled soon after. Please open issues and Pull Requests in the new repository.

cc @danmosemsft

[2019-11-25 23:50] krwq commented on #42684
@bartonjs I've updated the proposal with your comments. Also the diff can be seen here:
https://gist.github.com/krwq/b5a14288769db15335ffa079eb3b34bd/revisions#diff-3b67675289ab122c2f20ce3b3e912d0c

[2019-11-26 00:11] Spaceman1861 commented on #42701
I'm not sure i can setup a repo beyond the code shared in the linked call.

Due to the issue occurring on connection to one of our customers Imap clients that I can't give credentials out for.

I will try some of the other images and report back.

To reiterate the current tested images results with:

microsoft/dotnet:2.1-runtime works.
mcr.microsoft.com/dotnet/core/aspnet:3.0 does not.

[2019-11-26 00:39] danmosemsft commented on #31676
@jkotas the omission of `System.Reflection.Emit.AssemblyBuilder System.AppDomain.DefineDynamicAssembly(System.Reflection.AssemblyName, System.Reflection.Emit.AssemblyBuilderAccess)` was encountered by a consumer of "Castle".

Can this be implemented as a simple pass through to `AssemblyBuilder.DefineDynamicAssembly(AssemblyName name, AssemblyBuilderAccess access);` ?

Looking at [referencesource](

[2019-11-26 00:45] jkotas commented on #31676
Do you mean https://github.com/castleproject ? Castle has .NET Core specific build that calls the right .NET Core API and has many other .NET Core specific tweaks. Can you use the .NET Core specific build of Castle instead?

[2019-11-26 01:18] mattw-db opened #42717 "X509Chain NotSignatureValid error on Linux with .NET Core 3.0+"
Hello,

We're having issues with X509 cert chain validation after retargeting our Linux application to netcoreapp3.0.  The chain in three deep: we have a self-signed root CA, which has signed a domain level CA, which in turn has signed a server (non-CA) cert.

When validating the chain, we're met with a X509ChainStatusFlags.NotSignatureValid error carrying a "certificate signature failure" StatusI

[2019-11-26 01:35] ufcpp commented on #42709
ralated to https://github.com/dotnet/csharplang/issues/1792 ?

[2019-11-26 01:57] ufcpp commented on #42709
FYI

[code]

[2019-11-26 04:18] sharwell commented on #42672
Without analyzer support, it's extremely easy to accidentally use a preliminary API. It's hit Roslyn users a few times. Regardless of the manner in which preliminary APIs are identified, it needs to be possible to create an analyzer that knows how to flag uses of them.

[2019-11-26 04:41] ehnap commented on #42707
@danmosemsft  Yes. If I make TestManagementLoad have a direct package reference too, I can use it normally.  But actually, maybe TestManagementLoad don't know the implementation of ManagementProxy. So I think there is no need to let TestManagementLoad have a direct package reference.

[2019-11-26 05:03] danmosemsft commented on #42707
Is nunit involved?

[2019-11-26 05:20] bartonjs commented on #42717
The other major change between 2.x and 3.0 is we now prefer loading OpenSSL 1.1.  If you have both 1.0 and 1.1 on your system you can try running with `CLR_OPENSSL_VERSION_OVERRIDE=1.0.0` (or whatever SONAME suffix your 1.0.x has) and see if the error goes away.  If so, it just means there's a more stringent check in the newer version of OpenSSL.

(Just a quick self-diagnosis comment, haven't had

[2019-11-26 05:52] scalablecory commented on #26477
Something like this might give a little more flexibility:

[code]

But I suspect that could present some usability issues with disposed responses. Need to look at implementation a bit.

Otherwise, something like this seems reasonable:

[code]

[2019-11-26 06:30] ehnap commented on #42707
@danmosemsft No. I don't use nunit.

In [#39975](https://github.com/dotnet/corefx/issues/39975#issuecomment-536237064):

He maybe meet the same problem. And without nunit, too.

[2019-11-26 10:10] njy commented on #42672
Yep, that's the general concept. Regarding the name either Preliminary, Experimental or something else would be ok, I came up with experimental and later discovered it was what already used in F# so it's probably more uniform.

[2019-11-26 10:35] gthvidsten commented on #41347
I understand the security risk for exposed JSON, but for internal handling where the JSON is _not_ exposed to the public, a `TypeNameHandling.All` would be of great help. It doesn't even have to be on by default, but you have to turn it on somewhere deep in `JsonSerializerOptions`. That way people will still have the possibility of using it, but knowingly taking the security risk (if any).

I, too

[2019-11-26 10:44] njy commented on #42672
This would be more granular, for example. I don't know if it's the right way, but I had this need in the past and thought about a way to have something available in the framework to deal with those situations, just like the [Obsolete] attribute that helped me a lot in the past.

As correctly said by @Clockwork-Muse I was not necessarily proposing the use in CoreFX itself (maybe, maybe not, it's no

[2019-11-26 11:04] njy commented on #42672
@Clockwork-Muse I thought a little bit about the analyzer approach or the likes.
Here's what it should probably do:
1. look at all the pkg deps available (also, sub deps?)
2. filter out only the ones with a preview/alpha/beta monikers
3. contact the pkg source (nuget + others) and, for every one, get a list of all the previous versions (is this possible?) to get the newest previous stable version,

[2019-11-26 11:32] huoyaoyuan commented on #42492
I have the exact situation with you that having a heavy stable and light preview.
Moreover, VS Dev PS is not compatible with PS Core, and hard to integrate with Windows Terminal (requires hard-coding the installation uid in profile). If the integration is improved, the workaround should be fair enough.

[2019-11-26 12:49] zachsaw commented on #42590
I've managed to do more testing with .net core 3.0.101 (as opposed to 3.0.100).

Running a terminal window `/bin/bash` under Rider IDE gives me the following.

[code]

It would appear that .net core 3.0.101 has a performance regression for S.T.Json.

Running under the OS terminal is still just as slow as .100 for deserialize. The OS terminal must be doing something special - the same `/bin/bash` u

[2019-11-26 13:12] shaan1337 opened #42718 "Deadlock in SocketAsyncContext.Unix.cs"
While running XUnit tests on CI (Azure Pipelines) they would almost always hang on macos but never on linux and windows. Moreover the tests would only hang in `RELEASE` builds of macos but never (as far as I remember) on `DEBUG` builds. We've tested on both .net core 3.0 and .net core 3.1-preview 3.

After attaching lldb to the process and getting a thread dump, it appears that there's a deadlock

[2019-11-26 13:12] zachsaw commented on #42590
MacOS High Sierra Apple iMac "Core i5" 3.2 27-Inch (Late 2012) https://everymac.com/systems/apple/imac/specs/imac-core-i5-3.2-27-inch-aluminum-late-2012-specs.html

All benchmarks were run in release mode, with the ones under mac on pyhsical machine

[2019-11-26 13:21] slang25 commented on #42709
Thanks @Gnbrkm41 & @ufcpp!

I should have been clearer in the question, but it was the extension method that was most helpful, and dotnet/csharplang#1792 is what I'm really battling against.

It's hard to keep the compiler happy with `ref struct`, when you can't pass the type as a generic argument, making a lot of the `MemoryMarshal` & `Unsafe` APIs unavailable.

Thanks again 😁

[2019-11-26 13:21] #42709 closed

[2019-11-26 13:29] piotrsz1234 opened #42719 "Simplifying the OrderedEnumerable.TryGetFirst method"
I've noticed, that method TryGetFirst in OrderedEnumerable, after finding the matching value, is still searching. I'd like to ask, does it has to be done like this, because some of the cases, or that could be simplifyed to simple search loop.

Sorry for bad English
Regards

[2019-11-26 13:36] stephentoub commented on #42719
It needs to be this way. The "Ordered" part of the name doesn't mean it's already ordered, but that it represents something that's expected to be. As such, to find the "first" in the resulting sorted set, we need to look at every element. This is actually an optimization: the alternative would be to sort and then get the first, which would be O(n log n) rather than O(n).

[2019-11-26 13:36] #42719 closed

[2019-11-26 14:22] devhl-labs opened #42720 "Utf8JsonWriter writes invalid JSON"
The below code shows how the serializer is failing for me.  It is giving me invalid JSON.

[code]

[2019-11-26 14:33] vcsjones commented on #42372
Okay. In that case then I will stick with my API suggestion [here][1]. I might also suggest an API for getting the ciphertext size based on padding?

[code]

[1]: https://github.com/dotnet/corefx/issues/42372#issuecomment-557583159

[2019-11-26 14:34] tmds commented on #42718
Is this the operations that are executed in step 2?

Should this be **managed** code? Who is making this call?

This is how it is meant to work: An async operation should be in the Waiting state while it waiting for an event for the file descriptor. When that event comes along, it moves to the Running state. The operation is then tried then in a non-blocking way. If doesn't receive data, it goes b

[2019-11-26 14:35] abbotware commented on #42651
@scalablecory

I posted the sample aggregation block code here:

https://github.com/abbotware/Dataflow/

You can see in program.cs that there is a chain of blocks created.  in the middle there is an aggregation block that forwards to the next block only after it received complete.  It is a simple PoC that takes int, transforms by adding 2.  The aggregation block does a sum which is forwarded upon

[2019-11-26 15:16] danmosemsft commented on #42707
Perhaps @joperezr  can help she light on these issues

[2019-11-26 15:27] bartonjs commented on #42372
`GetCipherTextLength` seems good to me. Looking at your proposal again I don't see anything virtual, where's the hook for the implementation types?

My suggestion was a per-mode method like `protected virtual bool TryTransformCbc(ReadOnlySpan<byte> source, ReadOnlySpan<byte> iv, Span<byte> destination, PaddingMode paddingMode, bool encrypt);`.  I unified Encrypt and Decrypt into one Transform just

[2019-11-26 15:39] davidsh commented on #26477
Having an HttpResponseMessage in an exception means that it will keep connections open etc.  So, then, do we add an Dispose() method to the HttpRequestException? It isn't IDisposable at all. And having a pattern where complex types are inside exceptions in very confusing.

So, I would suggest just adding the 'StatusCode'.  And it needs to be a nullable type as well.

[2019-11-26 15:54] Psuban commented on #33620
having the same issue with <PackageReference Include="System.Data.SqlClient" Version="4.7.0" /> but worked with 4.6.1

[2019-11-26 16:11] gerardog commented on #33714
Could anybody confirm if this code works on all platforms?

[code]

Thanks.-

[2019-11-26 16:44] danmosemsft commented on #33714
We'd like it to, but what happens on Unix is that if it doesn't successfully launch directly, we have to find a program to attempt to use:

https://github.com/dotnet/runtime/blob/c50eae5725623c6d7b6de0d54e1010eb6e2c17fa/src/libraries/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs#L414-L441

So that program needs to be installed

https://github.com/dotnet/runtime/blob/c50eae57256

[2019-11-26 16:54] karelz commented on #35445
@vsadams do you have ability to reproduce it and diagnose deeper?
Ideally a small transferable repro if possible ...

[2019-11-26 16:56] karelz commented on #27006
Please file a new issue and link this one if you get something actionable.

[2019-11-26 17:05] danmosemsft commented on #31676
@jkotas regardless, would it be reasonable to implement as a passthrough? No doubt there are other preexisting binaries that use it - it seems a shame to trip on it if it's simple for us to resolve.

[2019-11-26 17:06] danmosemsft commented on #31676
(I'll ask them your question though)

[2019-11-26 17:07] layomia commented on #42720
I was able to repro this: https://dotnetfiddle.net/MSphXW. I think it's a serializer bug - an issue with hooking up to your converter - rather than a writer bug.

[2019-11-26 17:28] vcsjones commented on #42372
Doh.

I separated them, only because I agree with the straight-forward remark and it is something I would expect very few developers to actually do.

[code]

Both you and @GrabYourPitchforks's `Span<T>`-destination suggestions eschew the `Try-` pattern and return an `int` instead. Is that now a better practice? What if `destination` `Span<T>` is too small?

[2019-11-26 17:31] Backhage commented on #42720
I played around with this a bit and were able to simplify the code used for repro quite a lot. It seems that I get invalid JSON as soon as I add a custom JsonConverter that calls writer.WriteString in the overrridden Write-method.

[2019-11-26 17:34] nathan-alden-sr commented on #42720
I think the mistake here is likely the developer intended `WriteStringValue` and not `WriteString`. I'm working with him offline to verify.

[2019-11-26 17:35] pie-flavor commented on #42720
@nathan-alden-sr That's definitely the fail, but maybe it's still a bug that this behavior is accepted and an exception isn't thrown?

[2019-11-26 17:36] nathan-alden-sr commented on #42720
Yeah, the bigger question is whether `Utf8JsonWriter` should be smart enough to not allow certain serializations in certain writer states. I'm surprised this went through, but I can see how maybe `System.Text.Json` is "low-level" enough to require developers to be careful of pointy edges.

[2019-11-26 17:40] #42720 closed

[2019-11-26 17:41] devhl-labs commented on #42720
Changing to WriteStringValue resolved the issue.  Thanks.

[2019-11-26 17:44] Clockwork-Muse commented on #42672
This is what I'm thinking, yes.

1. I haven't looked into it, so I don't know if analyzers get access to package/solution information (as opposed to data from a loaded and referenced dll) - most of the info from a quick look is about writing an analyzer that we include with our own package.  We don't care about internal dependencies - public transitive ones also become our dependencies, though, if

[2019-11-26 17:50] sharwell commented on #42672
@njy The approach of looking at monikers does not address cases where you want to ship a stable package with one or more APIs still marked as preliminary. It also doesn't allow the granularity to be controlled (e.g. the use of a preliminary API would force the entire assembly to be preliminary). NuGet already provides direct validation for prerelease packages at this granularity, so I don't see th

[2019-11-26 17:51] jkotas commented on #31676
My thoughts:

There are other missing APIs and features in System.Reflection.Emit beyond this one. I am not sure where adding this one member would actually move the needle on how many .NET Framework libraries work.

Adding this API to AppDomain would require folding the `System.Reflection.Emit.*` contracts into `System.Runtime.*` contracts. We have given up on layering within netcoreapp to large

[2019-11-26 17:52] mattw-db commented on #42717
Thanks for the tip, but no luck.  I get the same results on a machine with only openssl 1.0.2 installed.

[code]

[2019-11-26 18:02] bartonjs commented on #42372
It's something that can be done in addition to the Try.  If I'm a caller with a presized destination (because I used GetCiphertextLength or it's decrypt and I provided a big enough buffer) I don't ever expect false.  Rather than redundantly checking, or worse... ignoring the return, I can call the int-returning non-Try.

`throw new ArgumentException(somethingAboutBufferTooSmall, nameof(destination

[2019-11-26 18:07] scalablecory commented on #26477
Yes, that was my concern as well.

[2019-11-26 18:14] scalablecory commented on #42687
@mkArtakMSFT this looks like something for the ASP.NET Core repo. Can you please tell us why it was moved here?

Alternately, please re-open the original and close this. Thanks.

[2019-11-26 18:19] terrajobst commented on #24977
* These APIs can be simply implemented over the existing one, thanks for generics.
* However, it's not obvious that is in fact supported. Adding explicit overload that are named with the `Async` suffix would make sense
* We considered adding a cancellation token, but given callers likely have to allocate a closure anyway, this doesn't save anything and impersonation is already expensive.

[code]

[2019-11-26 18:22] BenjaminCharlton commented on #42687
@mkArtakMSFT yes your idea makes sense to me and thank you for building on my idea. Further to what you suggest about handling deserialization errors better, I see there is now a standard for APIs returning error responses that is embodied in a new .NET class called ProblemDetails.

I think it would be cool if there were methods that would try to deserialize the response as type T and, if that fai

[2019-11-26 18:30] terrajobst commented on #27643
* Some version of Windows 10 supports Unix domain sockets; having a capability API to check this without having to know the exact OS version
* Only concern is that there are more capability APIs we might have to expose in the future. It's debatable whether a Boolean properties on this type are the correct pattern, but it seems consistent with prior art and domain sockets are reasonably common.

[c

[2019-11-26 18:36] terrajobst commented on #30852
* We considered naming the property with `EstimatedCount` but that seems overkill because you never get an exact count unless you freeze the world, but that's the nature of concurrent APIs.

[code]

[2019-11-26 18:44] ygoe commented on #22660
Since there is so much possible information about each subject to get, maybe there should be separate classes for memory, processor and all the other topics. There is already `DriveInfo` that can be used on Linux as well if you initialise it with the path you're interested in. All these classes could be grouped in some "system/hardware information" namespace.

But then again, does this have to be

[2019-11-26 19:27] terrajobst commented on #42684
* The APIs cannot be resumed, thus no `OperationStatus` or `bytesConsumed` outputs
* The naming is slightly different between `DSA` and `ECDsa` but this mirrors existing conventions

[code]

[2019-11-26 19:28] layomia commented on #42720
cc @ahsonkhan

[2019-11-26 19:37] vcsjones commented on #42372
What's the advantage of taking a `ROS<byte>` for plaintext and iv as well as `byte[]` if `byte[]` is implicitly convertible to `ROS<byte>`?

[2019-11-26 19:57] terrajobst commented on #33566
* `LoadAlignedVector128Unsafe` will throw an `AccessViolationException` when optimizations are disabled when the data isn't aligned. When optimizations are on, it depends on the hardware. On newer hardware, the access will work but be slower. Older hardware will AV.

[code]

[2019-11-26 19:57] scalablecory commented on #30852
@terrajobst what was decision re: throwing VS magic number?

[2019-11-26 19:59] scalablecory commented on #42718
Thanks for the in-depth report.

[2019-11-26 20:00] ahsonkhan commented on #42684
We should consider making the out parameter (`bytesWritten`) as the last argument.

[2019-11-26 20:09] danmosemsft commented on #31676
Hmm. It's apparently high usage -- 15% of apiport users, 56% of the selected apiport users.

https://apisof.net/catalog/System.AppDomain.DefineDynamicAssembly(AssemblyName,AssemblyBuilderAccess)

Of the many other overloads, only this other one also has significant usage, and I guess it does not have an easy forward.

https://apisof.net/catalog/System.AppDomain.DefineDynamicAssembly(AssemblyName,A

[2019-11-26 20:14] jkotas commented on #31676
What do these numbers actually say? If this was a common pain-point, we would hear about this API a lot more.

[2019-11-26 20:17] danmosemsft commented on #31676
Right, that's what I find hard to explain. Maybe they all had dependencies on Castle.

I'm going to close this for now. If other folks find this and it's an issue for them, please reply here and ping me. If there's another interest we can reconsider for 5.0. (But we'll also want to use apiport to confirm this would actually enable whatever the dependency is)

[2019-11-26 20:17] #31676 closed

[2019-11-26 20:19] tmds commented on #42711
At socket level, receives can be cancelled, because you can cancel when you are waiting for some new data to come.
Sends however cannot be cancelled, because they may occur partially, and not waiting to send the remainder breaks the protocol stream.
If you look into the implementation, the Receive method is also performing some sends (ping/pong, close). These sends are also using the CancellationT

[2019-11-26 20:25] danmosemsft commented on #22660
The advantage of having your own nuget package is that you can update much more quickly, without going through the .NET team and waiting for their releases.

In my mind, the framework should contain the "enduring basics" especially ones that have a clear, efficient implementation. And for more elaborate things - it would be great to have a community package.

[2019-11-26 20:25] jkotas commented on #33566
Is the whole purpose of these APIs to generate a bit more efficient code for old hardware? Do we have any numbers about the benefits?

These API smells like over-engineering to me.

[2019-11-26 20:27] stephentoub commented on #30852
Because we're adding the CanCount property, we then throw from Count if CanCount is false.

FWIW, as I just sat down to implement this quickly, I think the {Can}Count on `ChannelWriter<T>` is strange, as what you'd really want to know on the writer is how much room is available, not how many items you could consume, which you can't on a "writer".  I'm going to skip the writer side for now and just

[2019-11-26 20:29] tannergooding commented on #33566
It's not just older hardware. It's also for ready to run and AOT code which needs to be compiled for non-vex hardware by default.

I can get more concrete numbers but it can reduce the number of instructions by up to half (as the load can be folded into the consuming instruction, rather than needing to be separate).

[2019-11-26 20:34] jkotas commented on #33566
We do not have R2R for hardware intrinsics today (except a fragile hack for CoreLib). The proper fix for the hardware intrinsics AOT problem is to compile multiple versions of the method for different types of hardware and then pick the right one at runtime.

[2019-11-26 20:47] serhatozgel commented on #39477
Hi @steveharter, I'm not sure if related to this particular issue but I noted down an issue with array deserialization here: https://github.com/dotnet/corefx/pull/39442#issuecomment-558809698

[2019-11-26 20:48] bartonjs commented on #42372
CLR languages that don't support implicit conversions; or developers who don't understand that there's an implicit conversion.

When we first started making (ReadOnly)Span-only things we found out that none of us paid attention to the fact that F# won't use implicit conversions, and we made the calling syntax really ugly.  F# now has a special rule to permit `T[] => Span<T>` and `T[] => ReadOnlySp

[2019-11-26 21:11] tmds commented on #42718
Ah, it's all in this stacktrace. The `TryCancel` is waiting for the `TryCompleteReceiveFrom`:

[code]
This occurs when the `Socket` is `Disposed` while the `SocketPal.Receive` is happening.
When the `SocketPal.Receive` returns, the handle gets released, which causes the deadlock.

[2019-11-26 21:12] vcsjones commented on #42372
As always, thank you for the detailed explanations. Given that, the proposal now looks something like this:

[code]

[2019-11-26 21:21] Marusyk commented on #41821
So, can I continue in dotnet/runtime?

[2019-11-26 21:21] ViktorHofer commented on #41821
yes :)

[2019-11-26 21:22] shutdown256 commented on #26528
I would love to see these extensions for ReadOnlySpan<T> with any generic equtable type, ignore-empty and definitely for ReadOnlySequence<T> - in my experience when working with pipes sequences are more useful than spans.

[2019-11-26 21:53] tannergooding commented on #33566
That's the same scenario, ultimately. The only difference between targeting VEX and non-VEX enabled hardware (for the 128-bit code path) is whether you use `LoadVector128` (non VEX) or `LoadAlignedVector128` (non-VEX).

In native land, the C++ compilers expose `_mm_load_ps` and `_mm_loadu_ps` (with other equivalents for integer and double types). `loadu` always does unaligned loads and will only b

[2019-11-26 22:09] Uzivatel919 opened #42729 "New API proposal; new collection interfacing, new read-only models – read-only & alter-also design pattern"
Abstract:

Recently I went through ```ReadOnlyCollection<T>``` ([1](https://referencesource.microsoft.com/#mscorlib/system/collections/objectmodel/readonlycollection.cs,aafef79f3fced6c2), [2](https://docs.microsoft.com/en-us/dotnet/api/system.collections.objectmodel.readonlycollection-1?view=netframework-4.8)) finding it [generaly failing](https://github.com/dotnet/corefx/issues/42699) by design t

[2019-11-26 22:16] saucecontrol commented on #33566
It's also worth pointing out that non-VEX doesn't necessarily mean old.  Intel's Atom line still doesn't support VEX, but it's current technology in every other respect.

[2019-11-26 22:21] SeanSnyders commented on #42711
I totally hear the comments on the underlying implementation of websockets. And that is good, but I feel the .Net classes should provide a higher level abstraction for users, especially if one supports `CancellationToken`s with the concept of `async`/`await`.
`ReceiveAsync(cancellationToken)` nowhere indicates that it will abort the socket. As the method reads, it will cancel the receive.

As a us

[2019-11-26 22:34] Uzivatel919 commented on #42699
See https://github.com/dotnet/corefx/issues/42729.

[2019-11-26 22:34] VladimirReshetnikov opened #42730 ""true to continue on the capture context; otherwise, true.""
https://github.com/dotnet/corefx/blob/e99ec129cfd594d53f4390bf97d1d736cff6f860/src/Common/src/CoreLib/System/Threading/Tasks/ValueTask.cs#L70

says "**true** to continue on the capture context; otherwise, **true**."
One of them should be **false**, right?

[2019-11-26 22:40] mconnew commented on #40730
I've tracked down the cause of the problem. The good news is there's a temporary workaround until we produce a fixed package. To work around it, you will need to modify the contents of the package. You will need to edit the file "%USERPROFILE%\.nuget\packages\microsoft.xmlserializer.generator\2.1.0\lib\netstandard2.0\dotnet-Microsoft.XmlSerializer.Generator.runtimeconfig.json" to replace the tfm a

[2019-11-26 22:42] scalablecory commented on #42730
Indeed, the latter should be `false`. Would you like to submit a PR?

[2019-11-26 22:48] jkotas commented on #33566
We are not trying to match native code 100%. We are trying to get close enough while staying true to the .NET values like simplicity and productivity. Having all `LoadAlignedVector128`, `LoadAlignedVector128Unsafe` and `LoadVector128` is anything but simple.

[2019-11-26 22:49] scalablecory commented on #42729
I think if collections were designed today, we might have similar considerations.

I think this will be your biggest hurdle. I don't feel the current system is harmful enough to warrant splitting functionality into new types.

[2019-11-26 22:53] scalablecory commented on #42688
@mkArtakMSFT `HttpClient.GetJsonAsync` is an extension method defined in the ASP repo, not part of corefx. Please re-open the original issue and close this one.

[2019-11-26 22:55] Uzivatel919 commented on #42729
I was thinking about that but forgot to mention it out there. It is fixed now.

_Since actual framework collection robustness I suppose that such new designs should come as separated bunch in dedicated namespace like System.Collections.Fine. From there they can leak out._

[2019-11-26 23:06] scalablecory commented on #42704
I think there's something here. Graceful close and abortive close (dispose) are two separate concepts. There are many protocols with a graceful close feature.

[2019-11-26 23:09] tannergooding commented on #33566
At the same time, the hardware intrinsic APIs weren't exactly designed with simplicity in mind. We are expecting users to pin their data, understand the hardware involved that they are targeting, and to write multiple code paths that do functionally the same thing but with different underlying instructions depending on the hardware they are running against.

This makes one aspect of the coding pat

[2019-11-26 23:11] AArnott commented on #42704
True. .NET's own `WebSocket` being one of them.

[2019-11-26 23:14] stephentoub commented on #42704
Yes. But it's not exposed through Stream. If "close" is the terminology used in the protocol (as it is with WebSocket) it's reasonable to expose an API on the concrete implementation of that protocol with that name (as it is with WebSocket).

[2019-11-26 23:17] saucecontrol commented on #33566
I was just writing the same thing.  I actually have this code in places to ensure I get folded loads

[code]

… which is far less simple and far less discoverable than `LoadAlignedVector128Unsafe`.  If we could only have the one pair of methods, I'd want the `LoadAlignedVector128Unsafe` behavior.  It's the current `LoadAlignedVector` that's more difficult to reason about given an understanding of

[2019-11-26 23:21] stephentoub commented on #42704
Just to be clear, my main concern is confusion between close and dispose. If we think we can come up with a way to avoid confusion, we could consider it.

cc: @bartonjs, @KrzysztofCwalina, @terrajobst

[2019-11-26 23:24] scalablecory commented on #42704
It would be mildly infuriating to have yet another similarly-sounding verb, but a `ShutdownAsync(CancellationToken)` would be nice.

[2019-11-26 23:26] scalablecory commented on #42686
I think this API would be fine.

Outside of the web (iirc HTML5 actually considers the two identical), Windows-1252 is in my experience even more common than ISO-8859-1.

[2019-11-26 23:41] droyad commented on #29555
For `BrotliStream` and likely other places that are restricted to `CompressionLevel`, you can use the work around described by @taritsyn in #39923: `new BrotliStream(dest, (CompressionLevel) level)`.

I moved from another library that implemented a `BrotliStream` and the performance got 30x worse. I did some (rought) testing and for my data (45Mb JSON file) I go the following results, a massive 38

[2019-11-26 23:42] scalablecory commented on #42711
Cancellation is technically best-effort but in general I want to see it to be observed as quickly as possible. When I/O is involved this usually means aborting the entire connection due to some state that can't feasibly be instantly rolled back (like a send). There are certainly ways to design things to be less abortive, but there might be tradeoffs in happy-path performance.

The API surface of `

[2019-11-27 00:27] danmosemsft opened #42733 "Please do not open new PR's and issues in this repo"
We have moved! All new issues and PR's now should be opened in https://github.com/dotnet/runtime.

In a little bit, all existing PR's in this repo will be closed, and all existing issues will be migrated. Meantime, new ones should go over there.

More details here.

(Pinning this so everyone sees it.)

[2019-11-27 00:32] replaysMike opened #42734 "PublishTrimmed=true issue - TypeInitializationException in System.Runtime.Serialization.Formatters"
When using PublishTrimmed=true for publishing single file applications in .net core, I get a runtime error when performing binary serialization/deserialization in System.Runtime.Serialization.Formatters library.

[code]

I also tried adding the following:
[code]
but that prevents it from publishing as it returns an error: `C:\Program Files\dotnet\sdk\3.0.100\Sdks\Microsoft.NET.Sdk\targets\Microsof

[2019-11-27 00:41] jkotas commented on #33566
Are there any cases where one would want to use `LoadAlignedVector128` instead of  `LoadAlignedVector128Unsafe`?

[2019-11-27 01:32] tarekgh commented on #42669
@arosado2895 I am closing this one but feel free to respond back and will be happy to assist you.

[2019-11-27 01:32] #42669 closed

[2019-11-27 01:34] tarekgh commented on #42730
@VladimirReshetnikov are you interested to submit a PR to fix this issue?

[2019-11-27 01:35] ahsonkhan commented on #42720
The `Utf8JsonWriter` does its own validation of state (when using the writer on its own).

So, the following will throw as expected, since you are trying to produce invalid JSON:
[code]

We had discussed whether we should keep validation on during serialization (but we couldn't guarantee 100% correctness to justify the performance hit). We enable "validation" in debug (to validate that the seriali

[2019-11-27 02:14] ahsonkhan commented on #42590
Can you just run the deserializer component of the test for .NET Core within the OS terminal and share the performance results of that (compared to running it within the IDE)?

Which component did you observe regress? Serialize or Deserialize? Or was it both?

Regarding the initial OS/environment specific (6x) regression you saw that I can't reproduce, outside of capturing a perf trace, I am not s

[2019-11-27 02:53] Dogwei opened #42736 "What is the difference between '_methodPtrAux' and '_methodPtr' in The private fields for 'System.Delegate'?"
As title.
I need this knowledge.
Please.

[2019-11-27 03:03] Dogwei commented on #42736
I seem to understand.

[2019-11-27 03:03] #42736 closed

[2019-11-27 04:31] Gnbrkm41 commented on #42733
Perhaps consider modifying the repo description/`README.md` to reflect that?

[2019-11-27 04:35] baruchiro commented on #22660
@danmosemsft I agree. I can't lead a package myself, but I'm ready to join one today.

[2019-11-27 05:17] kamaruddin-desai opened #42737 "Support for reading the windows events from the Linux host"
I was happy that when I heard the .NET Core can be used to build apps onto the across the platforms.
Specifically the Linux one. I've code snippet which reads the windows event from the windows localhost or the remote windows host. For that purpose, I've created the below issue and the code snippet that I am using can be seen here[https://github.com/dotnet/corefx/issues/40925](https://github.com/d

[2019-11-27 05:37] shaan1337 commented on #42718
@tmds

Thanks for the quick response.

Yes, I'm sorry, it's managed code

Yup, everything occurs on a single thread.

Thanks for clarifying how this part of the code works, so yes, the operation never gets a chance to go to `State.Waiting` since it's stuck in `op.TryComplete()` due to the handle being released after `SocketPal.Receive` returns as you mentioned above, and eventually `op.TryCancel()

[2019-11-27 05:42] adamsitnik commented on #42216
Yes, please!

We have merged CoreFX and CoreCLR repositories into https://github.com/dotnet/runtime, so please send your PR to the new repo

[2019-11-27 06:14] zachsawcs commented on #42590
The performance regression is definitely reproducible - I've tested it on multiple VMs and physical machines and they all exhibit the same problem.

Serialization is now *slower* by a whopping 40%!

[2019-11-27 06:37] saucecontrol commented on #33566
I can't imagine one, particularly if the Unsafe variant can be implemented so it throws in minopts.  I assume it would just emit `movaps` and never fold the load, exactly as `LoadAlignedVector128` does today?  I can see the reasoning behind wanting deterministic behavior for the .NET implementation, but I can't imagine an actual user of these APIs making the performance tradeoff to get the determi

[2019-11-27 08:20] jkotas commented on #33566
So we should just fix the `LoadAlignedVector128` to do the right thing. It does not make sense to tell everybody to change `LoadAlignedVector128` to `LoadAlignedVector128Unsafe` in their code for best result.

I do not buy the argument about deterministic behavior for alignment faults. The platform does not guarantee deterministic alignment faults. For example, accessing misaligned `double*` may t

[2019-11-27 08:36] KamranShahid opened #42738 ".net core 3.0 getting System.Threading.Tasks.TaskCanceledException: The operation was canceled."
I have .net core 3.0 web api project where i am calling my .net core 3.0 service (systemd in linux) httplistener calls.
I am getting error

[code]

My calling method is

[code]

[2019-11-27 08:43] hillin commented on #27885
Same here, using [4.6.0 on nuget](https://www.nuget.org/packages/System.IO.Ports/4.6.0).

Trying to decompile the System.IO.Ports.dll file (34 KB) copied to my app's directory revealed that it's actually a .NET Framework 4.7 assembly in which all methods in `System.IO.Ports.SerialPort` throw a `PlatformNotSupportedException`.

When dig into the nupkg, I can see the file `lib\netstandard2.0\System.

[2019-11-27 10:26] zachsaw commented on #42590
BDN results confirmed my benchmark results to accurate:

[code]

[2019-11-27 10:37] zachsaw commented on #42590
This is getting weirder: Running S.T.Json under BDN inside Rider shows no performance regression. Take away BDN and the problem occurs.

The modified code now looks like this:
[code]

[2019-11-27 11:54] KamranShahid commented on #42738
What i further observe is the url i am trying to access was in-accessible that time. it should ideally have thrown request time out exception

[2019-11-27 12:05] stephentoub commented on #42738
Dup of https://github.com/dotnet/corefx/issues/20296

[2019-11-27 12:05] #42738 closed

[2019-11-27 12:22] DaniilSokolyuk commented on #35386
Make JsonReaderHelper.Unescape() public would really help, i am serialize and deserialize strings to MemoryOwner<char> to avoid string allocations, i am get Unescape method [by reflection](
https://github.com/DaniilSokolyuk/NodeReact.NET/blob/9f9143f79642dc6e5c7829d439ee51abd5c31933/NodeReact/Jering.Javascript.NodeJS/MemoryOwnerJsonConverter.cs#L24)

[2019-11-27 12:25] hillin opened #42739 "NullRefereceException when using a JsonConverter without a parameterless constructor"
https://github.com/dotnet/corefx/blob/dfe3ab2f0205436e23b93c369ee0b2e41a4973e0/src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerOptions.Converters.cs#L208-L209

`ctor` will be `null` if `type` does not have a parameterless constructor.

[2019-11-27 12:25] KamranShahid commented on #42738
this was not happening in .net core 2.1.
Looks like i have to update my code to

[code]

[2019-11-27 12:39] stephentoub commented on #42738
Timeouts with HttpClient have always manifested as cancellation exceptions, some HttpClient uses cancellation to implement its timeout mechanism.

[2019-11-27 13:03] gfoidl commented on #42733
Also update the issue-template, so this jumps right into your face 😃
(Right now it's blank).

[2019-11-27 13:28] GSPP commented on #40666
@tamlin-mike I think your position is that either the reflection APIs should implement C# semantics cleanly or they should not suggest that they do.

I think the APIs are indeed a weird hybrid between C#/VB.NET and CLR semantics. The whole `Binder` infrastructure, for example, is a pretty weird design mistake.

It would have been the cleanest solution if the reflection APIs were implementing purel

[2019-11-27 14:10] OskarKlintrot opened #42740 "Make RegexParseException public"
I'm trying to validate a regex pattern but I can't catch `System.Text.RegularExpressions.RegexParseException` since it's `internal`.

I can solve it by using pattern matching but it feels like a bodge:
[code]

[2019-11-27 14:34] jkotas commented on #40666
Yes, the Binder infrastructure is a weird hybrid.

`Type.IsAssignableTo` that this issue is about implements `compatible-with` CLR semantics as defined in ECMA-335. I agree that the name could have been better, but the behavior is not a hybrid.

[2019-11-27 14:46] AlbertoCe commented on #42318
Hello @janvorli ,
Any news on this ?

[2019-11-27 14:59] MihaZupan commented on #33693
@luisabreu Can you still reproduce this?

[2019-11-27 15:00] #24475 closed

[2019-11-27 15:09] alnikola commented on #41406
I'm trying to reproduce this issue, but the following code properly accepts a simple GET request (navigate to ```http://localhost:36123``` in a browser) on the latest .Net Core version. Could you please tell me what type of request you try to accept? Does the below code fail on you machine?
[code]

[2019-11-27 15:38] stephentoub commented on #42740
I'm not clear on the concern. It's documented to throw an Argument exception:
[code]
and it does. You can just catch an ArgumentException.

What's the concern?

[2019-11-27 15:59] tannergooding commented on #33566
x86, however, does guarantee deterministic alignment faults and the hardware intrinsics expose hardware specific functionality. The aligned load/store operations will always raise a `#GP(0)` (General Protection) fault if the memory address is not correctly aligned (this is to 16-bytes for Vector128 and to 32-bytes for Vector256).

Thus far, we have a 1-to-1 mapping of the exposed API surface to an

[2019-11-27 16:05] jkotas commented on #33566
Throwing less exceptions is not a breaking change.

There is very little value in this explicit opt-in. Alignment bugs are like threading bugs to large degree. If you have alignment bug in your code, you often get lucky because of some other part of the code guarantees alignment.

[2019-11-27 16:41] tannergooding commented on #33566
I think the difference is that this is a hardware exception raised as the side-effect of a given instruction. It is used to ensure correctness and sometimes because not all hardware has fast unaligned loads (particularly older hardware and sometimes non-VEX enabled hardware).

I don't think I'd agree, particularly when the expectation is that users explicitly pin and check alignment first (such th

[2019-11-27 17:06] AndrewZenith commented on #41612
Absolutely insane that you can't just specify PascalCase like in Newtonsoft's.  Guess we'll just stick to Newtonsoft's unless common sense prevails.

Did you know Visual Studio by default moans at me if I use camelcase for properties in C#.  Joined up thinking this isn't.

[2019-11-27 17:40] janvorli commented on #42318
@AlbertoCe I am sorry for the delayed response. So, it is clear why the Microsoft.Data.SqlClient was loaded into the unloadable context - I have not realized it is not a shared framework assembly before. And the System.Dynamic.Runtime is actually not loaded into the context, I've said it by mistake.

Regarding the Microsoft.Data.SqlClient, the current implementation is not compatible with unloadab

[2019-11-27 18:09] eugenesmlv commented on #42582
@ahsonkhan should I open a pull request in [runtime](https://github.com/dotnet/runtime) repo?

[2019-11-27 18:30] vsadams commented on #35445
I do not. It seems to be very sporadic some days we will get 100s some days we will get 0. We can not reliably reproduce.

[2019-11-27 18:50] maryamariyan commented on #38497
looking..

[2019-11-27 19:08] maryamariyan commented on #38497
yes, your issue seems unrelated to this one. The code path for Debugger.Break (which you are hitting) does not coincide with Debug.Fail. I'll close current issue as resolved, based on the conversations prior to yours.

@simendsjo could you please open a new issue on dotnet/runtime? It would be good if you could share a small code snippet that reproduces your error.

[2019-11-27 19:08] #38497 closed

[2019-11-27 19:40] Artoria2e5 opened #42742 "New ArgumentList constructors for Process classes"
Although the ArgumentList property has been added to System.Diagnostics.ProcessStartInfo as a way to relatively safely pass command line arguments, there is no simple, one-liner way to use this interface. This proposal seeks to add such an interface wherever a constructor or static function accepts the older `string arguments` initializer.

Applies to:
* System.Diagnostics.ProcessStartInfo ("S.D.P

[2019-11-27 19:45] GrabYourPitchforks commented on #33566
The `LoadAlignedVector*` APIs are documented to map exactly to `[v]movdqa`, so as a consumer I'd certainly be surprised if the JIT ended up emitting any other instruction such as `[v]movdqu`. As we discussed yesterday I have relied on the fact that `[v]movdqa` AVs as a way to check my implementation while running under a test environment and while fuzzing. (Generally, fuzzing is meant to be run ov

[2019-11-27 19:48] jkotas commented on #33566
The configuration switches to explicitly set the different hardware support levels (e.g. `COMPlus_EnableAVX`, etc.) should do the trick, no?

[2019-11-27 20:00] danmosemsft commented on #42216
Can environment variable names or values in Linux ever be non ASCII (ie., UTF-8)? If so will this "raw pointer" approach still be OK? (eg., will it see `=` that is somehow a second or subsequent byte of a codepoint)

[2019-11-27 20:00] saucecontrol commented on #33566
It's not a question of it emitting a different instruction than you requested, it's that the load would be folded so it's not emitted at all.  So where you would have gotten a fault if `vmovdqa` were emitted, you won't because the load isn't present at all.

The real question is, if given a choice between a method that always emits `vmovdqa` and one that potentially eliminates that instruction by

[2019-11-27 20:01] vologar commented on #33620
Same issue here: "System.Data.SqlClient" Version="4.7.0". Quite disappointing. We have been evaluating .Net Core, Azure functions for a large enterprise project. Strange issues with other .Net Core-based libraries as well. Things just look too flaky for a long term commitment.

[2019-11-27 20:06] danmosemsft commented on #33620
@glennc

[2019-11-27 20:19] tannergooding commented on #33566
Which is why the original proposal exposes a new API.

As it is today, if you call `LoadAlignedVector128` you will always get codegen that will load 16-bytes from a given address and will generate a #GP(0) if that address is not also 16-byte aligned. Normally this is `movaps`/`movapd`/`movdqa` but it can also safely be folded into the consuming instruction for the non-VEX encoding. This is "safe"

[2019-11-27 20:21] tannergooding commented on #33566
By itself it won't do the trick. The behavior would be:

| COMPlus_EnableAVX | Optimizations Enabled | Result |
| -- | -- | -- |
| 0 | 0 | #GP(0) if unaligned |
| 0 | 1 | #GP(0) if unaligned |
| 1 | 0 | #GP(0) if unaligned |
| 1 | 1 | No exception raised |

[2019-11-27 20:27] tannergooding commented on #33566
This question hinges on whether you are wanting "fast code" or "strict code". If you want "fast code", then yes; there is never a reason to want the `movaps`/`movapd`/`movdqa` emitted. You need data to be aligned to get "fast" non-VEX but you still want the load to be folded to get the smaller codegen on the newer VEX encoding.

If you want "strict" code, then you would strictly want the alignment

[2019-11-27 20:28] tannergooding commented on #33566
(To clarify, I mean exposing a non-deterministic API without a deterministic equivalent).

[2019-11-27 20:30] jkotas commented on #33566
There are two different reasons why you may want do fuzzing:

1. Verifying that the implementation is functionally correct.
2. Verifying that the implementation maintains its internal invariants. This includes alignment as well as many other invariants well-written code asserts for.

You want to do both of these for different hardware support levels.

The hardware architectures out there and .NET

[2019-11-27 20:46] danmosemsft commented on #42740
`RegexParseException` contains the `RegexParseError` and the `Offset`. The ArgumentException contains these (hopefully always) only in the text of the message,.eg
[code]

I am actually not sure why it exists as we do not catch it and we do not pull off either of those values from it. We could delete it in favor of using ArgumentException directly, or make it public to expose one or both of these t

[2019-11-27 21:26] danmosemsft commented on #38497
@simendsjo note that 2.2 will go out of support in 3 weeks or so: https://github.com/dotnet/core/blob/master/microsoft-support.md

Can you please re-test with .NET Core 3.0? It is released, stable and supported and as mentioned above you will very soon need to upgrade to 3.0 or 3.1 (3.1 will release in a couple weeks or so).

[2019-11-27 21:26] kierenj commented on #35445
@vsadams are you running on an Azure App Service, as I am/was too?

[2019-11-27 21:52] CarolEidt commented on #33566
I don't have a problem with that change, and the arguments for seem much more compelling than the arguments against.

In general, we expect developers to use HW Intrinsics in scenarios where perf matters, and we expect them to have a great deal of sophistication with regard to their usage. That said, perhaps the subtleties here merit some guidance on this topic (blog post, anyone?)

[2019-11-27 22:14] danmosemsft commented on #42740
But to @stephentoub  question -- @OskarKlintrot what are you trying to achieve?

[2019-11-27 22:17] danmosemsft commented on #42737
Currently there is no plan, as you know, but we'd welcome input here from others with the same need. Perhaps thumbs up the top post or add more info about the requirements.

[2019-11-27 22:18] danmosemsft commented on #42733
I'd merge a PR to do those things 😄

[2019-11-27 22:52] rharpavat commented on #42634
Apologies for the delay in responding, I have created a small program that should reliably reproduce the issue which can be found at [https://github.com/rharpavat/dotnet-macos-cpuusage](https://github.com/rharpavat/dotnet-macos-cpuusage). Instructions to run the program are in the README.

Please let me know if there's any more information I can provide that might be helpful. Thanks!

[2019-11-27 22:56] wfurt commented on #42634
thanks. I'll give it try.

[2019-11-28 02:28] ahsonkhan commented on #42582
@eugenesmlv, yes, please.

[2019-11-28 02:35] DaRosenberg opened #42746 "InvariantCulture string comparison is inconsistent between Windows and macOS"
Verified in .NET Core 3.0 on Windows 10 1909 and macOS 10.15.1.

This expression:

[code]

Returns `-1` on Windows, but `1` on macOS.

Since the invariant culture is being used, expected result is for string comparison to behave the same.

This is a blocking issue for us, because we are building a cross-platform tool whose output goes into shared data storage, and contains sorted strings. Currentl

[2019-11-28 02:38] DaRosenberg commented on #42746
I should also mention: we think using `StringComparer.Ordinal` is not a viable workaround because, while consistent across platforms, it produces sorting that users find unintuitive.

[2019-11-28 03:04] scalablecory commented on #42746
@tarekgh

[2019-11-28 03:06] Gnbrkm41 commented on #42746
IIRC, any other comparison than Ordinal/OrdinalIgnoreCase calls into the OS for comparing strings, which Windows uses NLS (National Language Support) and macOS / Linux uses ICU (International Components for Unicode). There are some subtle differences when it comes to sorting behaviour between those two, and this seems to be one of them.

There are plans to make .NET use ICU (https://github.com/dot

[2019-11-28 05:29] danmosemsft commented on #42746
I believe @Gnbrkm41 is correct. @tarekgh can you suggest a way to achieve their scenario?

[2019-11-28 06:06] Gnbrkm41 commented on #42746
A few solutions I can think of:
* When storing the data on the storage, sort the strings using `StringComparer.Ordinal` then re-sort the string with `InvariantCulture` or `CurrentCulture` on the client side after retrieval (because if user intuitiveness matters, this should be better)
* Let the server/storage do the sorting for you and re-sort after retrieving on the client side
* Get one of the m

[2019-11-28 07:01] balaji764612 commented on #40730
Hi Mat,
 This resolved the issue. Thanks a lot for your help.

regards,
Balaji.P

On Wed, Nov 27, 2019 at 4:10 AM Matt Connew <notifications@github.com>
wrote:

[2019-11-28 08:33] poizan42 commented on #42366
I have rebased the PoC on dotnet/runtime with some improvements (especially to OnCancelReadWrite), it is here now: https://github.com/poizan42/dotnet-runtime/tree/cancelable-pipe-poc

Using the FileStreamPerformance project from https://github.com/poizan42/dotnet-TestSyncStreamCancel I find

Old

|            Method |     Mean |   Error |  StdDev |     Gen 0 | Gen 1 | Gen 2 | Allocated |
|--------

[2019-11-28 08:57] huoyaoyuan commented on #42729
The language and framework teams have considered to implement a "better" collection abstraction via new language features.
- Make mutable interface inherit immutable ones, and use default interface method for delegation. Note that moving interface member to base interface **is breaking change**.
- Use shape/type class.

Using existing syntax to provide a new series of interfaces benifits very litt

[2019-11-28 08:59] ddotlic commented on #6740
@stephentoub Let me try to convince you that the item you linked to and all the - very useful! - changes made to the .NET APIs WRT `Span` and friends (`Memory` etc.) have _almost_ nothing to do with this proposal 😉

An example: am loading bytes from a `Stream` (it's a file, but no matter) and processing them (decryption and decompression); this is a .NET Standard 2.1 class library. Am trying to mi

[2019-11-28 09:25] njy commented on #42672
Of course it is not required: my observation was that if it has been decided to use a different namespace to better mark the experimental state of the thing it was because of a need, and that need may be better covered by the proposed attribute, that would also not require a later refactoring.
But it's just a possibility to reason about of course.

[2019-11-28 09:36] njy commented on #42672
Yep I agree, as I said initially that was my point and the reason for this proposal.
The point now, methinks, is to determine if this is a scenario that we want to endorse and support or not because there are better ways to do it.
My observations based on personal experience was that people in fact do sometimes release stable packages with some experimental parts, but without the ability to clearl

[2019-11-28 10:46] Ulisse67 commented on #42216
I believe the equal sign has one 8-bit code even in UTF-8; there are two other equal signs (above= and under=) which use 2 bytes each, but I don't think is legal for specifyfing an environment variable.

Even using UTF-8 for keys would not invalidate the pointer (or strncmp()) approach, because UTF-8 is defined to be backwards compatible with zero-terminated strings, and thus all related idioms ke

[2019-11-28 11:33] DaRosenberg commented on #42746
@Gnbrkm41 Those are some really helpful suggestions, thank you!

The server/storage is Git in this case, so not much sorting to be done there... :)

I think maybe using an ICU wrapper for now would be the most feasible solution, and dropping that once .NET uses ICU internally on all platforms. We will investigate that option further.

[2019-11-28 11:33] #42746 closed

[2019-11-28 11:35] Gnbrkm41 commented on #42746
(Also just a note, new issues should be opened in [dotnet/runtime](https://github.com/dotnet/runtime) repo; it's a new repo where the source code of both the libraries and the runtime lives in)

[2019-11-28 11:37] ddotlic commented on #6740
@stephentoub Please disregard all references to `BufferSegment`: turns out it was only used as an example in @davidfowl article 😕 it's not an FX type...

[2019-11-28 12:56] GSPP commented on #40666
That is interesting to learn and makes much sense.

[2019-11-28 13:11] 3bagorion33 commented on #21942
I have same error
This is my class
[code]
which has been serialized to this code
[code]
But when I inherit this class from a dummy
[code]
I get such error
[code]

[2019-11-28 14:43] DaZombieKiller commented on #31942
Now that we have default interface implementations, would it make sense for this to be done by adding new APIs to `IDictionary`/`IReadOnlyDictionary` (among others) with default implementations that allocate and call the regular methods?

[2019-11-28 14:59] sulemanb opened #42748 "Error: GSSAPI operation failed with error - An unsupported mechanism was requested. NTLM authentication requires the GSSAPI plugin 'gss-ntlmssp'"
Hi All,

I am facing this error message when my api (dotnet core 3) tries to call another api endpoint.
I am packaging my apis as docker images on the on-prem k8s docker enterprise cluster.

My docker file is as follows:

`
#FROM microsoft/dotnet:2.2-aspnetcore-runtime-alpine AS runtime
FROM ddcdtr.bayer.cnb/microsoft/dotnet-core-aspnet:3.0 AS runtime

WORKDIR /app
# Only Metadata
#EXPOSE 80
ENV P

[2019-11-28 15:56] sulemanb commented on #42748
problem resolved!
I just noticed that i was not installing:
`RUN apt-get update && apt-get install -y --no-install-recommends gss-ntlmssp`
inside my base dotnet core "runtime" image, but sdk!

[2019-11-28 16:13] terryfu68 commented on #25102
I have used in a Lambda function,I have the same errors

[2019-11-28 19:06] davidsh commented on #42748
Glad it's working now.  The 'gss-ntlmssp' is required to be installed in order for NTLM protocol to work. That includes specific NTLM and Negotiate (when it downgrades from Kerberos to NTLM) authentication schemes.

[2019-11-28 19:06] #42748 closed

[2019-11-28 19:18] Uzivatel919 commented on #42729
Is there some reading about it like specifitation draft or some MSDN blog article?

[2019-11-28 19:51] leftmostlane commented on #39473
Yes please add this option
**options.DeserializeQuotedNumbers == true**
and allow it to deserialize to **decimal** type.
"mynum":"0.82" -> decimal type.

[2019-11-28 19:59] huoyaoyuan commented on #42729
#41409

The majority of effort is to **let old collections and old methods get them by free**. A new namespace that requires manual implementation won't be valuable.

[2019-11-29 04:14] oliverjanik opened #42749 "Include System.Linq.Async from https://github.com/dotnet/reactive into corefx"
I am very happy we have the new `IAsyncEnumerable` and some c# sugar to go with it in .net core 3.

I think it would be even better if it had batteries included just like `IEnumerable`.

👍

[2019-11-29 04:53] skang0401 commented on #33146
I have a device with a baud rate of 14400. How can I use it under Linux with system.IO.Ports

[2019-11-29 10:29] noseratio commented on #15490
@davidfowl, now have `IAsyncDisposable` and this indeed looks nice:

[code]

But I feel it is no different from:

[code]

Is there any subtle difference?

[2019-11-29 13:00] jyrkive commented on #24145
I have another use case for this proposal.

I'm writing a compiler for a simple scripting language. Provided how simple the language is, I'm planning to just use a simple regex-based tokenizer (an LL-recursive descent lexer or something would be overkill).

Now, I have exactly 25,3 MB worth of text to process. Having to create substrings for every single token means millions of allocations.

(Stil

[2019-11-29 14:15] alnikola commented on #40934
I tried reproducing this issue by adding a cookie header without Expires property to a CookieContainer, and then retrieving it, however everything worked **properly**. I was able to successfully retrieve such cookie and Expired property was false. Please, check the following code sample. It is correct that Expires is set to DateTime.MinValue in that case, but we treat this as "infinite" expiration

[2019-11-29 19:01] kevin-montrose opened #42750 "UTF7 Encoder Convert method fails to make progress on "naughty" string"
I noticed some odd behavior with UTF7's [`Encoder`](https://docs.microsoft.com/en-us/dotnet/api/system.text.encoder?view=netcore-3.0), and failing to make progress on a ["naughty" string](https://github.com/minimaxir/big-list-of-naughty-strings).

Namely, adapting the example code provided for [`Convert`](https://docs.microsoft.com/en-us/dotnet/api/system.text.encoder.convert?view=netcore-3.0) wil

[2019-11-29 19:17] kevin-montrose opened #42751 "Calling Latin1 / iso-8859-1 Encoder Convert method iteratively produces different results than Encoding GetBytes on "naughty" string"
Another bit of odd behavior with [`Encoder`](https://docs.microsoft.com/en-us/dotnet/api/system.text.encoder?view=netcore-3.0), this time with the Latin1 encoding.

For the ["naughty" string ](https://github.com/minimaxir/big-list-of-naughty-strings)`@"0️⃣ 1️⃣ 2️⃣ 3️⃣ 4️⃣ 5️⃣ 6️⃣ 7️⃣ 8️⃣ 9️⃣ 🔟"` calling `Encoding.GetBytes(...)` produces a different result than iteratively calling `Encoder.Convert(

[2019-11-29 19:36] benaadams commented on #42751
/cc @GrabYourPitchforks

[2019-11-29 22:04] Uzivatel919 commented on #42729
I went through that #41409. It really touches the same area but it just makes another bypass to existing bad designs. Beside such form of default implementation is not natural IMO and rather seems more as work around than a solution IMHO it solves nothing really specific about consumer read-only collection types sited at framework level. It just lets bad read-only interfaces be implemented by bad

[2019-11-29 23:09] 4creators commented on #17147
If one of the .NET Core goals is to support high-performance scenarios (I do not mean HPC like in `high-performance computing`) than 128-bit integrals are a must. It seems that given the pretty advanced stage of Hardware Intrinsics support in Jit there should not really be any major problems in supporting {U}Int128 at least as a part HW intrinsics work.

Obviously the ideal solution would be to ex

[2019-11-29 23:53] paulovila commented on #41002
It's complicated to depend on the newtonsoft serialisation patch because It is not being updated at the same pace as the SignalR patch, and that causes that we can’t upgrade tho the intermediate versions that you provide. 🤷‍♂️

[2019-11-30 00:40] cheenamalhotra commented on #3535
@saurabh500

Now that [AdapterUtil.cs](https://github.com/dotnet/SqlClient/blob/master/src/Microsoft.Data.SqlClient/netcore/src/Common/src/Microsoft/Data/Common/AdapterUtil.cs) is also present in Microsoft.Data.Common namespace, I think this issue can be closed?

[2019-11-30 01:17] francescocristallo commented on #41612
I have the same issue, I'm converting a Core 2.2 project to 3.0 and the APIs are called from a Javascript file that requires Pascal case for the JSON returned; would be great to have a global option in Startup.cs to specify Pascal case for all the Serializations.

[2019-11-30 02:41] huoyaoyuan commented on #42729
If we start a new series of interface from now, everyone can get perfect design very quickly.
But the ecosystem doesn't allow us to do so.

And also, it increases implementation overhead of both collection side and util method side.

Just to point out that your design is bad too. `SyncRoot` isn't well designed.

**Given the ecosystem has been this shape**, all further improvements must be somethin

[2019-11-30 03:50] #3535 closed

[2019-11-30 10:39] haf commented on #41897
@jeffschwMSFT 3.0.100

[2019-11-30 15:20] M-Boukhlouf commented on #40934
But in my case, the CookieContainer was in use by a HttpClient object. I'm sure that the cookie will be not be sent in the next request, and just after the request, it'll be shown as Expired.

[2019-11-30 16:05] tannergooding commented on #17147
The cost isn't in implementing the framework support for such APIs. The cost is in adding language support to places like C# and F#. Integer types directly play into certain language features such as "checked/unchecked" contexts and so cannot be exposed and also expose operators without language support existing simultaneously. Doing otherwise ends up being a breaking change as code .

[2019-11-30 17:42] Alword commented on #25102
An error on CentOS 7
after The type initializer for 'Gdip' threw an exception.
[code]

[2019-11-30 17:50] Uzivatel919 commented on #42729
You mean because of 2 collection bunches, right?

I see there have to be either provided the same API twice for each of collection bunches or there have to be conversions. First is okay but not natural, second is not okay. One more option would be some compiler magic allowing to use new collections in place of old – that should not be impossible, I guess.

In either way I would find that beneficia

[2019-11-30 18:24] davidfowl commented on #6740
I think a better solution would be to expose the innards of those Stream implementation as flat APIs (we've discussed this internally for a while now).

[code]

Something like the above, I haven't thought about it deeply though (it might need to be non static since zlib is stateful)

[2019-11-30 20:58] kevin-montrose commented on #42750
This should have been opened in [dotnet/runtime](https://github.com/dotnet/runtime/issues/414) apparently, closing this issue.

[2019-11-30 20:58] #42750 closed

[2019-11-30 21:01] kevin-montrose commented on #42751
This should have been opened in [dotnet/runtime](https://github.com/dotnet/runtime/issues/415) apparently, closing this issue.

[2019-11-30 21:01] #42751 closed

[2019-11-30 21:44] VladislavMorozov commented on #42631
@krwq

[code]

![image](https://user-images.githubusercontent.com/31768904/69906383-8b0af600-13d3-11ea-9fbe-a3b5b6b1556e.png)

[2019-12-01 15:04] jasantosw commented on #40730
Thank you Matt. I tried on a separate library project that targets netstandard2.1 and received the following error:

Do you have a temporary workaround for this case?

Thanks for your help.

[2019-12-01 17:57] stephentoub commented on #6740
Thanks. Almost all of the APIs proposed in this thread are addressed, in that they're all Write/Read methods that take `ArraySegment<T>`, which is effectively superceded by `Memory<T>`, and are addressed as mentioned by https://github.com/dotnet/corefx/issues/21281. The one set you're commenting on are the `MemoryStream` constructors, which actually are also mentioned by that issue (see the sectio

[2019-12-01 18:41] krwq commented on #33146
@skang0401 currently not supported. See note above about "Non-standard low baud rates" if you're interested in adding support

[2019-12-01 22:18] bruno-garcia commented on #38758
@vitidev when I raised this, if I didn't get it wrong, no attribute was resolved. The only way to change the name of the property in the resulting JSON was by inspecting the object's property name (IIRC it took a string and returned a string).
If instead it returned the Property object (reflection) we could inspect the attribute to look for the alt name.
Ideally we could register some Func<> or ty

[2019-12-02 00:50] LegoCylon commented on #15453
I'm not sure if you're interested in additional related features but I'd love to see support added to be able to enumerate values or names in the order they are defined (likely with an optional parameter on the GetNames<T> and GetValues<T> methods) since the current methods only enumerate in ascending value.

[2019-12-02 08:28] ddotlic commented on #6740
@davidfowl Of course, having a more "modern" API would be much better than struggling with the aging `Stream` (we are all well aware of its shortcomings) but the reality is that a crapload of code, including FX, _still_ works "best" (meaning most functionality provided out-of-the-box) with the `Stream`, hence my comments. It's good to know that folks inside Microsoft are aware of this (tiny) aspec

[2019-12-02 08:36] bernd5 commented on #42697
any news?

[2019-12-02 12:18] MihaZupan commented on #32615
Is this ready for implementation as-is or should it go back into discussion to consider ValueTask?
@terrajobst @stephentoub

[2019-12-02 12:27] opinionmachine commented on #41658
So for instance, let's say you are using a service for ID&V which is well known and well funded but still unable to deploy normal web service auth. This world famous service provider instead asks its clients to authenticate to their proxy on their network and then proxy the web service calls through there. Obviously, talking HTTP over the entire internet whilst submitting PII in for validation pur

[2019-12-02 13:08] alnikola commented on #40934
HttpConnection [calls GetCookieHeader method](https://github.com/dotnet/runtime/blob/6afe96cc2e950379d13a87efa1fa5a651cbce9bd/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs#L389) to attach cookies to a request if **UseCookies is set to true**. GetCookieHeader internally calls the same logic as GetCookies, thus the expiration behavior is the same, meaning coo

[2019-12-02 13:46] scalablecory commented on #40934
@M-Boukhlouf can you provide some repro code using `HttpClient` that demonstrates the issue?

[2019-12-02 14:07] davidsh commented on #32615
@terrajobst @stephentoub

Yes it is ready. The API was approved. We had a lot of internal email discussion on the places where 'ValueTask' should be used. But for APIs like these where we have an existing pattern, we should be consistent.

[2019-12-02 14:15] #39621 closed

[2019-12-02 16:14] jeffschwMSFT commented on #41897
Adding @wfurt

Thanks @haf.  What version of the runtime?  We released a preview version of 3.1 that had an issue with certificates, but fixed it within a week.  I am just double checking that it is not that version.

[2019-12-02 16:37] ManickaP commented on #41182
Functional tests of WinHttpHandler will be brought back in [339](https://github.com/dotnet/runtime/issues/339); otherwise, this is fixed.

[2019-12-02 16:37] #41182 closed

[2019-12-02 17:01] bancek commented on #33016
Would it be possible to use OpenSSL on MacOS instead of Network.framework? OpenSSL is already used for Linux so the implementation could be reused. Maybe offer an alternative build.

[2019-12-02 17:07] ViktorHofer commented on #41853
Closing as done.

[2019-12-02 17:07] #41853 closed

[2019-12-02 17:10] LeroyK opened #42752 "Allow (de)serialization of abstract types with JsonSerializer when there is a JsonConverter for that type"
# Issue Title

Allow (de)serialization of abstract types with ``JsonSerializer`` when there is a ``JsonConverter`` for that type

# General

When you try to serialize or deserialize a type that is abstract, ``System.Text.Json.JsonSerializer`` currently throws a ``NotSupportedException`` with the message:

JsonSerializer should first check if the list of JsonConverters supports the abstract type an

[2019-12-02 17:28] Symbai commented on #42752
https://github.com/dotnet/corefx/issues/42733

[2019-12-02 18:03] wfurt commented on #33016
We used to do that. But that brings another set of issues - like lack of OS integration for certificate management. That seems more important than server ALPN. If this is critical for somebody you can always run it in Linux container with openssl.

[2019-12-02 18:04] LeroyK commented on #42752
Moved to https://github.com/dotnet/runtime/issues/446

[2019-12-02 18:04] #42752 closed

[2019-12-02 18:53] bartonjs commented on #42717
Hm.  I can't get it to repro on Ubuntu 16.04 with 3.0.0 (the version pulled down by a build of corefx I did).

[code]

[code]

[code]

[2019-12-02 19:46] mattw-db commented on #42717
@bartonjs,

Thanks for testing.  I think I understand the difference between our environments, though not why it matters.

My issue goes away after deleting my certificate store directory from (~/.dotnet/corefx/cryptography/x509stores/my/)

It appears that "my" store contained a pfx with another old test cert with the same CN that the "domain-ca.cert" in my test program is adding to its X509Certif

[2019-12-02 22:30] hiteshmadan commented on #25034
@AceHack @sakno Please checkout FasterLog from here: https://github.com/microsoft/FASTER

FASTER is a really fast cross-platform embedded key-value store, and its' internal log implementation was upgraded into a public API in the last few weeks. Super impressive performance characteristics imho - try out the FasterLogSample csproj on a machine with an NVMe SSD and hopefully you'll be impressed wit

[2019-12-03 00:22] bartonjs commented on #42717
Ah.  It's probably due to the lack of an Authority Key Identifier extension in your certs, and our collection load order changing.

You have two different potential paths when using just IssuerCN->SubjectCN matching:

* server -> provided domain-ca -> provided root-ca.
* server -> store-based domain-ca (-> store-based root-ca (if it's present)).

In 2.1 we searched LM\Root, CU\Root, chainPolicy.Ex

[2019-12-03 00:23] ahsonkhan commented on #41612
@AndrewZenith, @francescocristallo - the request to allow setting "PascalCase" naming policy in the options is separate from the discussion here in this issue, which is discussing adding the capability to enable setting the json serializer options globally, once.

Can you please file a separate issue for this (in the [dotnet/runtime](https://github.com/dotnet/runtime) repo - https://github.com/dot

[2019-12-03 00:30] #30852 closed

[2019-12-03 00:35] mattw-db commented on #42717
@bartonjs, thanks a lot!  We've already got a change in the works to not reuse CNs for test/local deployments.  It's good to hear that should be sufficient.  We'll look into the Authority Key Identifier and report back on that too.

Luckily, it seems like this issue would only be applicable to our test environments where alternate chains are used, so recovering from this is not a big deal. We can

[2019-12-03 01:05] carlossanlop commented on #41657
Fixed with dotnet/runtime#317

[2019-12-03 01:05] #41657 closed

[2019-12-03 01:10] bartonjs commented on #42631
`_key._key` being null there and an ObjectDisposedException in 3.0 look like the same thing (there's now a `ThrowIfDisposed()` call before the highlighted line).

The only thing that sets `_key` (or `_key._key`) to null is calling Dispose on the ECDsa(OpenSsl) instance.  If you put a breakpoint down at line 169 you might be able to figure out where your key is getting unexpectedly disposed.

[2019-12-03 01:10] AceHack commented on #25034
@hiteshmadan This seems pretty amazing, thanks for pointing this out.

[2019-12-03 02:59] ahsonkhan commented on #41002
@paulovila - I am sorry, but I don't understand what you mean. What target framework are you using in your project?
- What do you mean by "the newtonsoft serialisation patch"?
- What do you mean by "SignalR patch"?

Let's say you have a .NET Core/Asp.Net Core 3.1 application. The built-in `System.Text.Json` library that shipped with 3.1 doesn't contain this reference handling feature. However, if

[2019-12-03 06:41] paulovila commented on #41002
@ahsonkhan the aforementioned patches are:
[code]
with that you can circumvent the circular references as follows:
[code]
Is this patch strategy the right way to go? I can see now that there has been some alignment in the nuget preview versions since I tried version 3.0.0.0.

[2019-12-03 08:42] Ellerbach commented on #33146
@skang0401 if you need this quite fast, you can use a project I've been doing before the Linux System.IO.Ports which is perfectly working for low baud rates starting at 50. Check here: https://github.com/Ellerbach/serialapp/, there is an existing Nuget as well: https://www.nuget.org/packages/NetCoreSerial/

[2019-12-03 11:32] VladislavMorozov commented on #42631
@bartonjs I updated my code. You can reproduce my bug on local machine. You just need linux docker container.

[2019-12-03 14:55] meteatamel commented on #33016
I also ran into this issue. This means that the gRPC template/sample does not work out of the box on Mac?

[2019-12-03 15:44] Tratcher commented on #33016
Correct, you'll get a specific exception to that effect.

[2019-12-03 16:16] MarcoRossignoli commented on #40962
@ahsonkhan this meta issue has got approved label but seem that a lot of related issue are ready to review...can you confirm?I'd like to work on some of those but I don't know if make sense.

[2019-12-03 18:47] p2pbsh commented on #38592
Just to bump this with something I discovered today, calls to JasonSerializer.Serialize() were working fine using UWP .NET Native against .NET Core 3.0. After updating to .NET Core 3.1 preview 3, calls to Serialize now fail with metadata exceptions.

[2019-12-03 19:10] bmart102 commented on #12987
I had a similar issue and I was able to fix just by adding "Connect Timeout=60" in the connection string.

[2019-12-03 20:59] ahsonkhan commented on #37775
Re-opening:
https://helix.dot.net/api/2019-06-17/jobs/ee25291d-b8da-41a2-a8d2-6998a971b0fa/workitems/System.Net.Mail.Functional.Tests/console

Failed on an unrelated PR: https://github.com/dotnet/runtime/pull/346

`netcoreapp-Windows_NT-Release-x86-Windows.7.Amd64.Open`
https://dev.azure.com/dnceng/public/_build/results?buildId=445065&view=ms.vss-test-web.build-test-results-tab&runId=14186300&pane

[2019-12-03 21:03] y-lobau commented on #38650
I've also lost half a day on that debugging asp.net sources. As Newtonsoft's out-of-the-box behavior covers inheritence, i consider this as a real breaking change which will definitely lead to regression after migration to 3.0. I guess the 1st best is to make a red alert in corresponding section of the article [Migrate from ASP.NET Core 2.2 to 3.0](https://docs.microsoft.com/en-us/aspnet/core/migr

[2019-12-03 21:05] danmosemsft commented on #37775
@ViktorHofer if this test happened to hang inside a `RemoteExec` then we would have stacks, dumps etc. (Due to https://github.com/dotnet/arcade/pull/2919 etc.)

Most tests don't use RemoteExec. Has there been any discussion/is anything tracking getting such information from a test run that hangs in the test execution process itself?

[2019-12-03 21:11] sanzor commented on #41102
Hello i have the same error message , and i can't deserialize even if i put a parameterless constructor !
[code]

The error trace is the following;

[2019-12-03 21:51] danmosemsft commented on #25034
@hiteshmadan you might consider a PR to add it to this.

https://github.com/microsoft/dotnet/blob/master/dotnet-developer-projects.md

[2019-12-03 22:01] buyaa-n commented on #41644
Seems this one fixed with https://github.com/dotnet/corefx/pull/40501/files

[2019-12-03 22:21] krwq commented on #42678
@304NotModified this is something we would have to investigate. Do you have your xml file somewhere permanently available? Do you perhaps have perf logs with and without line info available to compare?

Would you be interested in doing the investigation/fixes?

PS. We have merged corefx and coreclr into dotnet/runtime repo so that's where the issue should be filed (it will get moved there eventual

[2019-12-03 23:18] krwq commented on #33146
@Ellerbach I'm not seeing you using any custom dividers in your code, I wonder if we could just simply add this specific baud rate in order to get this supported (assuming it's available on all OSes)

[2019-12-04 00:19] mcatanzariti commented on #39031
Please try this library I wrote as an extension to System.Text.Json to offer polymorphism: https://github.com/dahomey-technologies/Dahomey.Json

[2019-12-04 00:45] badrishc commented on #25034
Submitted a PR as suggested, [here](https://github.com/microsoft/dotnet/pull/1146). To expand a bit, FasterLog ([docs](https://github.com/microsoft/FASTER/blob/master/docs/cs/FasterLog.md)) is a latch-free concurrent persistent log library for .NET. It supports concurrent appends, group commit, multiple persistent iterators (each of which may itself be concurrently used), random reads, and log tru

[2019-12-04 06:21] tnlthanzeel commented on #38579
is this issue solved?

[2019-12-04 06:30] MagicAndre1981 commented on #38579
no, [still open](https://github.com/dotnet/corefx/issues/41002) until .NET 5 in next year.

[2019-12-04 06:32] tnlthanzeel commented on #38579
thanks for the reply sir. is there any workaround for this?

[2019-12-04 06:38] ildoc commented on #38579
Don't use it to serialize results from EntityFramework or stick with NewtonSoft.Json until this will be closed

[2019-12-04 06:51] tnlthanzeel commented on #38579
@ildoc , thanks sir

[2019-12-04 07:52] AntonLandor commented on #42585
@ahsonkhan I made a [pull request (#436)](https://github.com/dotnet/runtime/pull/436) a couple of days ago for this issue :+1:

[2019-12-04 08:25] Ellerbach commented on #33146
Correct, those are the official baud rates.

It needs to be tested. My guess regarding the various sources is that the final check of being or not a valid baud rate is done at the driver level. So if the hardware supports any baud rate and the driver will be ok with any value, it should just support it. Historically, those baud rates are what they are because of specific oscillators used and then

[2019-12-04 08:36] paulovila commented on #38579
Sure, see my previous comment. It was not ready for netcore3.1 at the time I was looking at it, but surely they’ll align the NuGet versions accordingly

[2019-12-04 11:44] bugproof commented on #23401
I'm using Refit in WPF app. I ported it to .NET Core and HTTP requests cause major UI slowdowns/freezes. Refit uses HttpClient under the hood so this might be related... Initially, I thought it's WPF problem but after removing HTTP call it came back to normal.

[2019-12-04 12:16] mshobohm opened #42755 "FileNotFoundException with FileInfo.Length on Linux if binary filename contains a 0xDF-Byte"
Special characters in Linux filenames can confuse the FileInfo.Length property, resulting in FileNotFoundException as shown in the attached test case , see also readme.txt.

[SSharpException.zip](https://github.com/dotnet/corefx/files/3921699/SSharpException.zip)

[2019-12-04 13:19] TonyValenti commented on #41657
I'm super excited the work on this has been complete!  Do you have an ETA on a release date?

[2019-12-04 13:32] MuiBienCarlota commented on #37985
This can also be usable with the already public DoesNotReturnAttribute.

[2019-12-04 13:48] ViktorHofer commented on #36057
Here's the link to a backup: https://microsofteur-my.sharepoint.com/:u:/g/personal/vihofer_microsoft_com/EfekSugu7JJHrC5_QwEbL_QBvgBs21tAb4GUsVhRH6Zf-A?e=2jzaCd

[2019-12-04 13:49] haf commented on #41897
[code]

[2019-12-04 14:29] TechnikEmpire commented on #23401
That's because you're binding network operations to the UI thread which is something you should not ever do.

This also does not give any insight or evidence. Also try using the sockets http client handler that is exclusive to .net core but you can hardly judge if its better without a concrete performance test.

[2019-12-04 14:32] stephentoub commented on #23401
It's possible it's using it "incorrectly".  If it's creating and disposing a `new HttpClient()` instance on every access, that is going to be more expensive on .NET Core.  In .NET Framework, `HttpClient` is a thin wrapper around `HttpWebRequest`, with the connection pool managed separately, so disposing of the `HttpClient` instance won't tear down connections in the connection pool.  In .NET Core,

[2019-12-04 15:36] mshobohm commented on #42755
Registered again at https://github.com/dotnet/runtime/issues/513

[2019-12-04 15:58] jdaaboul commented on #41612
It should be a given that .net let us set default settings for the serializer, having to repeat the options everywhere or use wrapper classes is too error prone and will cost more than slight performance regressions. Newtonsoft it is until this is fixed.

[2019-12-04 16:34] tnlthanzeel commented on #38579
thanks

[2019-12-04 16:38] AndrewZenith commented on #41612
But setting PascalCase ONCE in the STATIC json serializer options is what I and everyone else moving from MVC5 to Core 2.2 then onto 3.0 will want to do.  Because we've already written the code like that (PascalCase in C#, camelCase in Javascript), have an awfully large number of classes it affects and have no intention of going round and applying another attribute to everything and hoping we got

[2019-12-04 18:34] Davilink commented on #41307
I have the same problem, had to use Newtonsoft because of that.

[2019-12-04 19:37] Wraith2 commented on #42706
@David-Engel I think this needs to move into the SqlClient repo, could you oblige?

[2019-12-04 19:43] danmosemsft commented on #42755
thanks for porting the issue. closing this one.

[2019-12-04 19:43] #42755 closed

[2019-12-04 19:48] davidjackson148 commented on #33897
I use SQLServerCe for a WPF application, currently, because it's easier to secure than SQL Lite, but unfortunately, it's holding me back to using Net.4.x. It's still the best local database by far as its easier to distribute. My application users are technical so the easier the install the better.

[2019-12-04 19:51] ErikEJ commented on #33897
@davidjackson148 but as you can see above, it is already possible to use SQL CE with .NET Core 3

[2019-12-04 20:48] wfurt commented on #41897
As @jeffschwMSFT this issues is specific to very specific binaries and use case. IO updated title to reflect it as well as I'm probably going to close it as root cause is understood and mitigation will be put in place outside of corefx.

As far as the info, there is difference between what you have vs what you target. I would suggest following steps:
- use KeyChain app to look at your certificates

[2019-12-04 22:35] wfurt commented on #42634
I don't have wifi on my Catalina machine so I used ifconfig up/down but that did not repro cpu load.
I have another machine I may be able to upgrade.
I'll let you know if I get repro.

[2019-12-05 01:04] felipepessoto commented on #33006
@terrajobst is anyone working on that? I would like to implement it

[2019-12-05 03:00] safern commented on #33006
@felipepessoto nobody yet. Please feel free to put up a PR in https://github.com/dotnet/runtime 😄

Assigning this issue to you.

[2019-12-05 04:54] Allann commented on #41002
Also affected by this issue.  Waiting for a year to be able to use EF in an API/Web app is not an option, will be in production then and a complete change in serialization methods at that stage would carry too much risk.  Therefore the only option is to user NewtonSoft and not the System.Text.Json.

I can't fin how to circumvent the CR as shown above in an Api controller since it doesn't use AddMv

[2019-12-05 05:21] skang0401 commented on #33146
@Ellerbach
I have also tested the serialapp project. Although it can be started normally, it does not seem to work properly at the baudrate I want.The result is that the custom baudrate does not take effect.
@krwq
I'm on the official operating system of the Raspberry Pi 4.I use ”cutecom” on the official Linux OS of the Raspberry Pi4. It can work normally at a baud rate of 14400.
Here is the reposi

[2019-12-05 06:48] xieofxie commented on #38966
@jkotas, hi, I met the same issue as you posted on macOS (on Windows it works fine..). Is it being fixed? Thanks~

[2019-12-05 07:47] paulovila commented on #41002
@Allann maybe take a look at this https://github.com/paulovila/UnoPlatformBravent/blob/master/src/UnoWebApiSwagger.WebApi/Startup.cs

[2019-12-05 09:07] Allann commented on #41002
@paulovila  thanks for the link, but try upgrading that to 3.1 and see how you go ;)  AddMvc is not part of the recommended templated code for a WebAPI anymore.  Instead they recommend AddControllers.
For example the `ConfigureServices` is this:
[code]

This works fine and produces an very fast and responsive RESTful service.  I have managed to get the required request working by changing the navi

[2019-12-05 11:08] MihaZupan commented on #32615
`HttpContent.ReadAsStreamAsync(CancellationToken)` is problematic.

When using `HttpClient`, it either returns the buffered content or it returns the underlying stream i.e. it's not cancelable.

This overload would only make a difference when
1. Using `HttpCompletionOption.ResponseHeadersRead`
1. Using a custom `HttpClientHandler` (one not implemented in BCL)
1. That handler returns a custom `Http

[2019-12-05 12:08] bugproof commented on #23401
@stephentoub That was it! I was creating and disposing my API client (which wraps Refit) on every access. Didn't know it makes any difference in .NET Core. Thanks a lot 😄 it works fine now just like it did before.

[2019-12-05 13:02] DaniilSokolyuk commented on #42648
@stephenlautier
Same problem when rendering on nodejs but we use [Jering.Javascript.NodeJS](https://github.com/JeringTech/Javascript.NodeJS)
I think problem in nodejs server

[2019-12-05 13:04] stephenlautier commented on #42648
@DaniilSokolyuk we get this even when we do not have any nodejs tho like the e2e scenario which i mentioned (error 1)

[2019-12-05 13:16] haf commented on #41897
Why doesn't `dotnet dev-certs https` do that? Otherwise, why doesn't it just place a certificate file in the working directory for me to trust, should I wish to? Perhaps I'm misunderstanding something again, but I don't see how it's my problem to debug, when the certificate is managed by dotnet. If you place the certificate you own its lifetime, otherwise, you'd place it next to my code and I coul

[2019-12-05 14:02] stephentoub commented on #23401
@bugproof, great, glad you got it sorted out.

[2019-12-05 15:11] bugproof opened #42756 "System.Text.Json: custom equality comparer"
newtonsoft json supports `EqualityComparer` property in serializer settings, is this option planned in System.Text.Json?

[2019-12-05 15:46] davidsh commented on #32615
Strictly speaking, the HttpContent.ReadAs* APIs has nothing to do with HttpClient. :)

It is true that in most cases HttpContent objects are obtained as a result of using HttpClient and getting an HttpResponseMessage which has a .Content property of derived type 'HttpContent'.  But HttpContent was created as a separate type because it is also an abstraction around content in general such as reques

[2019-12-05 15:55] MihaZupan commented on #32615
I agree that there could be an implementation that would benefit from the overload.

That said, I don't think `CreateContentReadStreamAsync` is the place where such an implementation should be performing a lot of work - it can always return a custom stream that does work as needed during reads.
Regardless, the API can still be added in case someone decides to do so.

If I understand you correctly,

[2019-12-05 15:59] bugproof commented on #10013
Really looking forward to seeing this. I benchmarked @tkp1n implementation and it's faster than everything else in .NET Core.

[2019-12-05 16:10] #42571 closed

[2019-12-05 16:26] davidsh commented on #32615
Yes, because third-party code that created derived types from HttpContent will not have provided an overload for the new API.

[2019-12-05 16:30] karelz commented on #39257
Triage: @wfurt is working on SslStream redesign. If we still have perf opportunity after it is done, we may reopen this issue.
Closing until then.

[2019-12-05 16:30] #39257 closed

[2019-12-05 16:32] stephentoub commented on #39257
@wfurt's changes are not affecting this.

[2019-12-05 16:34] karelz commented on #40204
Triage: Test it with the sample from Windows team.

[2019-12-05 16:37] karelz commented on #40697
Triage: We should check why it regressed recently
@wfurt please check if it reproduced in the past and if it will be impacted by your SSL changes.

[2019-12-05 16:39] karelz commented on #40830
@krwq what do you think needs to happen here as next step? Can you please help us clarify?

[2019-12-05 16:45] karelz commented on #41935
Triage: @davidsh thinks we have a bug SslSessionCache (long existing probably)

[2019-12-05 16:48] karelz commented on #41936
Duplicate of #40697

[2019-12-05 16:48] #41936 closed

[2019-12-05 16:52] karelz commented on #41946
Seems to be addressed in 3.0 and 3.1 (which is LTS - see [blog post](https://devblogs.microsoft.com/dotnet/announcing-net-core-3-1/)), let's close it unless there is strong signal that customers are running into this and cannot upgrade to 3.1.

[2019-12-05 16:52] #41946 closed

[2019-12-05 16:55] karelz commented on #41996
Duplicate of https://github.com/aspnet/AspNetCore/issues/7246

[2019-12-05 16:55] #41996 closed

[2019-12-05 16:58] karelz commented on #42178
@tmds what is the next step? Can we update some documentation or something?

Triage: This is not SslStream specific, it will be more in loader of OpenSsl

[2019-12-05 17:00] karelz commented on #42231
@Anipik did you disable the test? Is there PR to be linked? Should we mark the issue as "test-disabled"?

[2019-12-05 17:00] tkstanczak commented on #10013
[DebuggerStepThrough]
     public static string ByteArrayToHexViaLookup32Safe(byte[] bytes, bool withZeroX)
     {
         if (bytes.Length == 0)
         {
             return withZeroX ? "0x" : "";
         }

         int length = bytes.Length * 2 + (withZeroX ? 2 : 0);
         StateSmall stateToPass = new StateSmall(bytes, withZeroX);
         return string.Create(length, stateToPass, (chars

[2019-12-05 17:00] tkstanczak commented on #10013
[code]

[2019-12-05 17:01] karelz commented on #42231
Triage: It was failure in release/3.0 and 3.1 branches, we should check it out.

[2019-12-05 17:03] karelz commented on #42287
@TimLovellSmith do you have a repro (even under debugger) demonstrating that this can be really hit?
It is easy to overlook things from callers that add more guarantees and avoid problems one might think from the code.

[2019-12-05 17:03] tkstanczak commented on #10013
It is possible that the additional checks added by API conformance make it slower but have a look at the results here:
|     Method |     Mean |     Error |    StdDev | Ratio | RatioSD |  Gen 0 | Gen 1 | Gen 2 | Allocated |
|----------- |---------:|----------:|----------:|------:|--------:|-------:|------:|------:|----------:|
| SafeLookup | 17.77 ns | 0.4267 ns | 0.6517 ns |  0.51 |    0.02 | 0.0

[2019-12-05 17:57] wfurt commented on #39257
what should we do about this @stephentoub ? you suggested to close this earlier. Do you have sense how much this can help?

[2019-12-05 18:04] stephentoub commented on #39257
It's fine closing it, I just wanted to point out that this opportunity is still relevant after your changes.  I'm not sure how much it would help.  An easy way to get some sense would be to turn on the feature flags I merged in https://github.com/dotnet/coreclr/pull/26310, and run a benchmark around SslStream, to see what impact it has on allocation and throughput, if any.

[2019-12-05 18:06] krwq commented on #40830
@karelz this request is to add option to pick between server or client cipher suite preference. So possibly something like:

[code]

Having said that I do not believe this feature will add any security to any system (it will always be as good as your weakest cipher suite) but it does currently give you better rank on some websites (like mentioned above https://www.ssllabs.com/ssltest/)

[2019-12-05 18:18] krwq commented on #33146
@skang0401 unfortunately that's GPL project which we can't reference here. As mentioned above I think this can be achieved with
`serial_struct.baud_base` & `serial_struct.custom_divisor` but this will require a bit of testing to claim that we support it and I currently don't have much time to do that (leaving on paternal leave in ~1month with some vacation in between).

If you have some time doing

[2019-12-05 19:54] wfurt commented on #42634
I was able to get repro. It seems like we get stuck in endless loop in native code while trying to process routing table. From that point no further notifications are dispatched and the watching thread just eats CPU forever.

[2019-12-05 20:10] #26181 closed

[2019-12-05 20:22] danmosemsft commented on #42193
How is it going @shubhamranjan ?

[2019-12-05 20:29] danmosemsft commented on #42192
reopening for possible backport

[2019-12-05 20:44] sahilmaggu08 commented on #42634
Thanks for the quick reply @wfurt
Do you think its a quick fix or you need any more info from our side?

[2019-12-05 21:18] ngcdev commented on #36623
Hi @shvez ,
How exactly did you solve this? (I can't download your app any more)

The reason is because I'm having the same problem. I updated to .Net Core 3.1 today, coming from 2.2, and a program that was working fine is now failing.

The program uses a DLL, let's call it general.dll. This DLL uses System.Configuration.Configuration manager to read settings. The DLL is built in .Net 4.7 (it's sh

[2019-12-05 21:52] randyburden commented on #13532
We were planning to begin porting many of our current applications to .NET Core starting next week as well as start writing our new apps on .NET Core but we just ran into this issue of distributed transactions not working which feels like a deal breaker. Almost every application we write or will write in the future requires distributed transactions.

It is very odd to have experienced a platform n

[2019-12-05 21:58] JeremyKuhne commented on #40962
@MarcoRossignoli- we need to get the other issues resolved again, so we can't do those yet.

We need to revisit: #40780 and #40871.

[2019-12-05 22:05] ahsonkhan commented on #40962
FYI, that should be #40870 (**not** #40780).

[2019-12-05 22:12] wfurt commented on #38966
no. If you have repro, please share it @xieofxie .

[2019-12-05 22:39] #33170 closed

[2019-12-05 22:47] TimLovellSmith commented on #42287
@karelz I have a sampling profiler telling me that the lock contention can actually happen with .net framework, yes.

Stack:
clr.dll!Monitor.Enter (Lock)
mscorlib.ni.dll!System.Environment+ResourceHelper.GetResourceStringCode(System.Object)
clr.dll!CallDescrWorkerInternal
clr.dll!CallDescrWorkerWithHandler
clr.dll!DispatchCallSimple
clr.dll!ExecuteCodeWithGuaranteedCleanupHelper
clr.dll!Reflection

[2019-12-05 23:13] karelz commented on #41897
@wfurt 3.1 shipped already - are we considering it for servicing 3.1.x? Or just for next milestone 5.0?

[2019-12-05 23:14] karelz commented on #42670
Fixed in release/3.1 in PR #42694 and in 5.0 in PR https://github.com/dotnet/runtime/pull/211

[2019-12-05 23:14] #42670 closed

[2019-12-05 23:49] karelz commented on #42287
Oh OK, is it production app or a repro you can share?
Are you able to reproduce it on .NET Core?

[2019-12-05 23:52] karelz commented on #40830
@Tratcher how much do you want this for Kestrel?
cc @samsp-msft

[2019-12-06 00:03] tomrus88 commented on #42734
What if you use
` <TrimmerRootAssembly Include="mscorlib" />`
?

[2019-12-06 00:05] Tratcher commented on #40830
@bartonjs, @anurse can you share your notes from the crypto-board meeting about this?

[2019-12-06 01:03] chenyj796 opened #42759 "System.Threading.Channels.Channel<T>: After Complete with exception, the ReadAsync and ReadAllAsync method throws different exception"
I have some codes as below:
[code]

After run it, I get the following output:
[code]

I hope the ReadAsync also throws TestException just as ReadAllAsync does.

[2019-12-06 01:50] tarekgh commented on #42759
@stephentoub any reason we are wrapping the exception in ReadAsync

https://github.com/dotnet/runtime/blob/a6acafd32d907eecd1359317fb340bced6f92210/src/libraries/System.Threading.Channels/src/System/Threading/Channels/UnboundedChannel.cs#L91

and not wrapping it in ReadAllAsync

https://github.com/dotnet/runtime/blob/a6acafd32d907eecd1359317fb340bced6f92210/src/libraries/System.Threading.Channels/

[2019-12-06 02:01] chenyj796 commented on #42759
@tarekgh Yes, the ChannelClosedException has an inner exception point to the actual exception, however, it not always throw ChannelClosedException , sometimes maybe throw other exceptions.

[2019-12-06 02:49] danmosemsft commented on #36623
cc @ericstj anything come immediately to mind that could have caused this regression?

[2019-12-06 02:56] xieofxie commented on #38966
@wfurt It is generated by a validation in azure devops for the pr above.. I don't know how to reproduce it steadily..

[2019-12-06 03:29] zachsawcs commented on #42590
To help others repro this issue, I installed the latest macOS Mojave on a VM (VMware via workaround to support macOS). This is just out of curiosity to see if the issue occurs on a modern CPU (8th gen i7) + macOS inside a VM. Again, this was tested with `dotnet run -c Release` in the macOS terminal window.

[code]

[2019-12-06 03:47] ahsonkhan commented on #42590
Can you share your published executable? And can you split up the serialization and deserialization calls and measure them separately?

Also, did you get a chance to capture a perf trace to see where all that time was being spent?

[2019-12-06 03:54] zachsawcs commented on #42590
I did a `dotnet run -c Release` - I didn't publish it.
I'll do another run with serialization and deserialization split but I don't expect that to be different to the result already captured in a physical macOS with 3rd gen i5.

Did not do a perf trace yet. It's too big an undertaking for the time I have to take this issue further.

[2019-12-06 04:01] ahsonkhan commented on #42590
Can you please publish a standalone runnable app and share it so I can try again to run the exact bits on my Mac?

I have tried building your perf test myself on Windows/Mac physical machines and can't repro the numbers you are seeing.

[2019-12-06 04:06] zachsawcs commented on #42590
Can you try testing with it running on mojave under VMWare? I'll try to compile a standalone later when I get some time.

[2019-12-06 05:29] andrensairr commented on #11142
I stumbled on this unfortunate case when using an EF POCO against a legacy database with a non-nullable column which was mapped using `[Required(AllowEmptyStrings = true)]` because it is treated as optional in code, and to which I recently added `[EmailAddress]` to ensure any values set to it were properly validated. Needless to say it resulted in validation errors for all existing empty string va

[2019-12-06 06:28] shubhamranjan commented on #42193
Still working. Have done some minor changes. Struggling with creating a package on my  atm to benchmark it.

[2019-12-06 06:34] TimLovellSmith commented on #42287
This seems to suffice to repro the instantiation of an exception object with its localized message, which is not later thrown. On .net core.

[code]

[2019-12-06 08:11] shvez commented on #36623
@ngcdev I'm not able to answer today. In short I set correct version of system assembly in assembly.config file. It was 2.0.0, I set 4.0.2 or something like that.

But I'm affraid it was working with netcore2.1. Netcore3 was not released yet.

[2019-12-06 08:19] MarcoRossignoli commented on #40962
Ok thanks!

[2019-12-06 09:40] pi3k14 commented on #13532
@dasetser  - Wouldn't implementing WS-AtomcTransaction be the way to go. And since MSDTC supports it and WCF has an implementation of it https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/using-ws-atomictransaction this shouldn't take that much time. Those wanting distributed transactions on Unix can then get a third party solution.

[2019-12-06 09:42] freesix opened #42761 "Want to contribute to the Project but don't know where to start"
Hi,

Can I contribute to the Project?

I'd like to improve my .Net skills.

I running VS 2017.

Where do I start? do I need to clone this repo to my PC?

[2019-12-06 09:56] Rubbiroid commented on #8647
Is there any news or plans? We also need this to be able to migrate to core 3. Banks still love xsd...

[2019-12-06 10:41] DrGriff commented on #11142
I decided to write my own private NuGet library of custom validation attributes.  There's lots of info on the web for how to do this, but for example:

[code]

So to consume this, you can have `[IsEmailAddress]` or  the non-default values `[IsEmailAddress(true)]`, `[IsEmailAddress(true, 179)]`

I've omitted the actual logic in the methods, you may not agree with my implementation.

FYI: my initial

[2019-12-06 12:42] VladislavMorozov commented on #42631
Hello, somebody will be fixing this issue?

[2019-12-06 14:59] DM2489 commented on #38579
We've just had to take a decision to back out of implementing a change to System.Text.JSON purely because of this. We didn't realise it didn't have feature parity with JSON.NET until part way through implementing this, where more complexed EF core queries have child members.

[2019-12-06 15:17] aik-jahoda commented on #42622
It seems system `sync` call trigger expected events:
`fswatch -x ~/b & sleep 1 && echo 1 > ~/b/testFile && echo 2 >> ~/b/testFile && sync && echo 3 >> ~/b/testFile && sleep 1 && pkill fswatch`

You can try to add/remove `sync` command.

However, the flush calls `fsync()` which can be tricky:

Especially when you create a new file, the directory doesn't have that record unless `fsync` on the direct

[2019-12-06 15:50] TylerBrinkley commented on #32276
@ericstj I just saw that `System.Runtime.CompilerServices.Unsafe` v4.7.0 was released but it still doesn't target .NET Framework 4.5. Was that intentional? Will your change be included in the next version?

[2019-12-06 16:37] stephentoub commented on #42759
You mean not wrapping in WaitToReadAsync, right? (WaitToReadAsync is used by the base implementation of ReadAllAsync).  It's probably just an oversight and we should be wrapping it in WaitToReadAsync, too.

[2019-12-06 16:39] danmosemsft commented on #42193
Cool!

[2019-12-06 16:55] ericstj commented on #32276
Right, 4.7.0 was for the 3.1 release, but this change was made to master which is 5.0.

[2019-12-06 16:56] TylerBrinkley commented on #32276
Perfect, thank you.

[2019-12-06 17:03] ericstj commented on #36623
This could happen if you have a desktop library as you said, since the compatibility shims for System.dll that ship in .NETCore's shared framework will reference the version of the libraries (even those in the compat pack) that we build at the same time as the rest of the product.

To fix this, update your PackageReference of System.Configuration.ConfigurationManager to the latest version (4.7.0).

[2019-12-06 17:34] krwq commented on #42631
@VladislavMorozov it's already fixed in the latest version...

[2019-12-06 17:46] StephenBonikowsky commented on #8647
We haven't been able to look at this yet.
We have several items in the Serialization area that we are looking into for either 5.0 or 3.1 Servicing.

[2019-12-06 18:00] buyaa-n commented on #36404
Thank you @Thiez for reporting, we acknowledge there's an issue there, but the solutions investigated have a non-trivial performance impact on all use cases, and the issue cited has been around for a long time with very few reported issues resulting from it. So we are not going to fix it at this point. It can be revisited in the future should it be demonstrated to be a larger concern than anticipa

[2019-12-06 18:00] #36404 closed

[2019-12-06 18:45] FiniteReality commented on #40988
Coincidentally, I actually have a use case for this myself now; I have a commands library which breaks arguments into individual tokens (`hello world` is translated into `hello` and `world` for example) - a type like this would be an excellent way to avoid allocations until absolutely necessary by just passing through the raw input string and a list of indices, as well as making argument parsing e

[2019-12-06 18:47] antonfirsov commented on #26882
I can confirm, that this behavior is also reproducible on Linux and .NET Framework. If we fix the issue, we break consistency.
@karelz @stephentoub @davidsh can any of you give a suggestion how to proceed?

[2019-12-06 19:10] davidsh commented on #26882
Can we get the correct (i.e. fixed) behavior consistent across .NET Core (Windows/Linux/Mac)? That would be the priority. It's probably ok if we have dissimilar behavior on .NET Framework. We can document that difference on docs.microsoft.com.

[2019-12-06 19:13] #42199 closed

[2019-12-06 19:21] ngcdev commented on #36623
I'll give it a try and report back. Thanks

[2019-12-06 19:28] carlossanlop commented on #41657
@TonyValenti it's targeted for 5.0. You can always consume a nightly build or a preview to test these new APIs.

[2019-12-06 21:14] stephentoub commented on #15490
Potentially perf, but functionally I'd expect them to be the same.  That said, the former doesn't exist, so it's hard to say for sure.

[2019-12-06 21:22] carlossanlop commented on #29275
We made several modifications to files related to this bug, which is one of the reasons why I had to close the two PRs. I'm going to take a look at this soon again.

[2019-12-06 21:23] stephentoub commented on #33774
I've not recently audited progress here to see what's outstanding.  Basically you'd be looking for anywhere there are DllImports in product src not under the common interop folders.  Contributions are welcome :)

[2019-12-06 21:23] stephentoub commented on #41223
@Wraith2, thanks for investigating.

[2019-12-06 21:30] carlossanlop commented on #26996
Judging by the last two replies by @dejanstojanovic and @theodoreKor stating that the problem has been resolved, and the fact that there are no more additional reports since July, I will close this issue.

If this is still a problem, feel free to reopen.

[2019-12-06 21:30] #26996 closed

[2019-12-06 21:49] antonfirsov commented on #26882
@davidsh the code responsible for this doesn't seem platform specific to me, so it is easy to keep it consistent for .NET Core.

Note: `socket.RemoteEndpoint` is also left null when calling the `SocketAsyncEventArgs` overloads, while the others are altering it. It seems logical to change the behavior for both properties.

I wonder if there any guidelines (or at least precedents) for introducing be

[2019-12-06 22:05] davidsh commented on #26882
We already have places in the networking code where we have differences between .NET Core and .NET Framework. And we document them on docs.microsoft.com usually in the 'Remarks' section of our APIs.

If you plan to submit a PR for this, we'll want to mark it as potential 'Breaking Change' to remind us to document it for .NET 5. We have an existing label for that:
![image](https://user-images.githu

[2019-12-06 22:11] #24707 closed

[2019-12-06 22:11] #30150 closed

[2019-12-06 23:06] MerickOWA commented on #39314
Without this made public, I'm not sure how to add support for adding a custom JsonConverter to support writing BigInteger, which is currently missing support.

[2019-12-07 00:13] ahsonkhan commented on #38498
Re-opening as it failed again here: https://github.com/dotnet/runtime/pull/436

On `netcoreapp-OSX-Debug-x64-OSX.1013.Amd64.Open`
https://dev.azure.com/dnceng/public/_build/results?buildId=449153&view=ms.vss-test-web.build-test-results-tab&runId=14332654&paneView=debug&resultId=100000

https://helix.dot.net/api/2019-06-17/jobs/6443eafb-99d8-4a99-943d-d98e792afdc8/workitems/System.Security.Cryptogr

[2019-12-07 00:19] ViktorHofer commented on #38498
@ilyas1974 can you please check the openssl version installed on dci-mac-build-064.local? I think this regressed again.

[2019-12-07 00:31] MattGal commented on #38498
He went home, I'm looking now.

[2019-12-07 01:41] #37156 closed

[2019-12-07 03:19] wfurt commented on #42634
reopening to consider servicing

[2019-12-07 04:39] tnlthanzeel commented on #38579
so wont we be getting a fix for the self referencing loop?

[2019-12-07 12:01] Svek commented on #41307
While this isn't the most elegant solution, it does serve as a workaround until this gets sorted.

	public class StringNullableEnumConverter<T> : JsonConverter<T>
	{
		private readonly Type _underlyingType;

		public StringNullableEnumConverter()
		{
			_underlyingType = Nullable.GetUnderlyingType(typeof(T));
		}

		public override bool CanConvert(Type typeToConvert)
		{
			return typeof(T).IsAssi

[2019-12-07 14:43] schwietertj commented on #38579
@tnlthanzeel It looks like the reference loop handling will be addressed in .net 5 which is slated for Nov 2020. Check out #42001.

[2019-12-07 21:11] manandre commented on #21472
The approved API is now implemented.
@davidfowl Does it fit your initial need ? Do you expect additional changes ?

[2019-12-07 21:30] davidfowl commented on #21472
Nothing yet. I’ll give it a play next week

[2019-12-07 21:54] davidbuckleyni commented on #41714
Hi I seem to be having the same issue in asp.net core 3.1

`     List<Stock> _result = new List<Stock>();

      var uri = new Uri(string.Format(Constants.GetALlStock, string.Empty));
      var response = await _httpClient.GetAsync(uri);
       if (response.IsSuccessStatusCode)       {
                byteArray = await response.Content.ReadAsByteArrayAsync();
                var content = Encoding

[2019-12-07 23:37] danmosemsft commented on #41714
@davidbuckleyni could you please open a new issue in dotnet/runtime repo linked to this, and I will close this again? If there is a regression introduced in 3.x we will look promptly.

[2019-12-08 20:13] TonyValenti commented on #31190
@JeremyKuhne It looks like this has been implemented but isn't targeted for release until .NET 5.0 - a year from now.  Is there any chance we can get an update to the System.IO.Pipes.AccessControl library that makes this work today?

[2019-12-08 23:14] nickevansuk commented on #38878
@layomia following on from https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md, who is the owner of this suggestion? Is there anything we can we do to help move this through discussion?

[2019-12-09 05:04] dquist commented on #41612
Ran into this issue when trying to create an asp.net web API with matching .net core console client.

The default behavior of the serializer is to use `camelCase`, but the default deserialization option is `PascalCase`. Had to google around as to why .net core couldn't deserialize an object I just serialized using the same model 🤔.

Passing in the same options value across the entire application s

[2019-12-09 05:53] ahsonkhan commented on #41612
The default behavior of `System.Text.Json.JsonSerializer` is to match the same name/casing as the .NET property name (the names in the .NET POCO) **for both serialize and deserialize**:

https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonserializeroptions.propertynamingpolicy?view=netcore-3.0

Within aspnet however (which includes Mvc, SignalR, Web Api), the `JsonSerializer` is confi

[2019-12-09 05:58] Svek commented on #41307
To slightly improve the performance of the method above, we can remove the `try/catch` block with

    // for performance, parse with ignoreCase:false first.
    if (!Enum.TryParse(_underlyingType, value, ignoreCase: false, out object result) &&
        !Enum.TryParse(_underlyingType, value, ignoreCase: true, out result))
    {
        throw new JsonException($"Unable to convert \"{value}\" to Enu

[2019-12-09 07:57] #42582 closed

[2019-12-09 10:36] Gnbrkm41 commented on #42761
You're in a wrong repo. Take a look at https://github.com/dotnet/runtime/blob/master/CONTRIBUTING.md 🙂

[2019-12-09 12:54] #31051 closed

[2019-12-09 18:32] bartonjs commented on #40830
Effectively, we're going to pursue providing a .NET-specific openssl.cnf, and seed it with some opinions.

[2019-12-09 19:08] zekuny commented on #42634
Thanks for the quick fix. Is this in fix in the latest Master (5.0.x Runtime)? Can I download the installer (5.0.100-alpha1-015914) to test the fix now? Do you have an ETA for the 3.1 servicing pack?

[2019-12-09 20:05] scalablecory commented on #34868
I too would rather `Dispose` be abortive. `DisposeAsync` isn't great here either because you can't cancel it.

Can we instead add a `void Shutdown()` and `ValueTask ShutdownAsync(CancellationToken)` method that the user could call for graceful close?

Or, @davidsh, do we think misuse (not calling `Shutdown`) is enough of a problem for SMTP servers that we should force it in `Dispose`? There's some

[2019-12-09 21:52] davidsh commented on #34868
The use of the 'QUIT' protocol command is important because it notifies the server to begin the TCP close of the socket. We got tons of complaints in .NET Framework about socket connections being left in a half-closed state before we implemented sending the 'QUIT' command.

When we implemented this in .NET Framework, we didn't want to add new APIs at the time. So, we simply did it in the Dispose()

[2019-12-09 21:57] scalablecory commented on #34868
Yes, I think calling Shutdown() would be equivalent to a QUIT + Dispose(). Calling additional Send would throw an ObjectDisposedException. This is what I had in mind:

[code]

[2019-12-09 22:33] MarcoRossignoli commented on #34868
I thought that `SmtpClient` was an "obsolete" class and that add new apis wasn't "planned"
https://github.com/dotnet/platform-compat/blob/master/docs/DE0005.md
https://www.infoq.com/news/2017/04/MailKit-MimeKit-Official/
For this reason I tried to keep behaviour netfx compat.

BTW if there is new spot for improvement a better workflow could solve the issue.
Personally I'm not a great fun of `Shutd

[2019-12-09 22:42] scalablecory commented on #34868
This won't work -- design guidelines state that if Close() & Dispose() both exist, they should have identical behavior.

[2019-12-09 22:45] MarcoRossignoli commented on #34868
Actually I we decide to keep all in sync Dispose/Close will do same thing but one is explicit, right?

[2019-12-09 22:47] davidsh commented on #34868
I think we need more discussion on this to reach a clearer consensus.

With full transparency here, the marking of the SmptClient class as 'obsolete' (in the docs) happened without a full consensus of all the different platform implementations of the class. It's true that the class has languished a bit and needs some improvement to make it more modern/compatible compared with other SMTP stacks.

[2019-12-09 22:48] davidsh commented on #34868
You're suggesting we implement both plans? Do a sync 'Shutdown' in Dispose() and provide a new API as well?

[2019-12-09 22:50] MarcoRossignoli commented on #34868
Yep as suggested by Cory...old code will benefit with correct quit with zero code, new one will explicity call shutdown(or close o every other name will be chosen).

[2019-12-09 22:51] davidsh commented on #34868
What is "RSET"?

We definitely don't want to call TCP close before the 'QUIT' command is sent to the server and the server's protocol response comes back.

I'm also not a fan of doing a "fire and forget" of an async operation

[2019-12-09 22:53] MarcoRossignoli commented on #34868
Totally agree...when a type(used a lot like smtp, every app send email, first of all for simple exception log) comes from "Microsoft" is trusted.

[2019-12-09 22:55] MarcoRossignoli commented on #34868
I prefer sync blocking stuff in `Dispose()` is expected by everyone and won't break legacy code written with this in mind.

[2019-12-09 23:05] scalablecory commented on #34868
Tells SMTP server to abort the current message being sent. May not be needed here; I am not intimately familiar with SMTP :).

I'm not a fan of this either, but I'm also not a fan of Dispose doing sync I/O. My worry is that everyone using this class in an async workflow will introduce some scalability-killing synchronous I/O when they upgrade to 5.0 and `Dispose` starts doing non-trivial work.

[2019-12-09 23:07] davidsh commented on #34868
Which is why we might want to just introduce the new 'Shutdown' APIs and leave Dispose() method as-is in current .NET Core (i.e. it doesn't send the 'QUIT').  While it's will be a behavior change from .NET Framework, it will be an improvement which we can document.

[2019-12-09 23:25] MarcoRossignoli commented on #34868
This won't solve Cory concern, if we'll add shutdown and remove wrong `_transport.ReleaseConnection();` after send/sendasync legacy code will block inside `Dispose()` because in that case socket will be open.
Today a sendasync won't block because we close stream and dispose tcpclient after send and dispose it's a no-op

[Complete](https://github.com/dotnet/runtime/blob/master/src/libraries/System.

[2019-12-09 23:29] davidsh commented on #34868
I think we should separate out the desired API shape versus the correct implementation. The "wrong" `_transport.ReleaseConnection();` seems like a separate issue of concern regarding the implementation.

[2019-12-09 23:42] rharpavat commented on #42634
@wfurt : I was still able to reproduce the issue with the repro project linked above after updating to use the .NET Core 5.0.1 SDK from https://github.com/dotnet/core-sdk. I also tried updating just the runtime using the latest version from https://github.com/dotnet/runtime but the issue has persisted.

Do you know if these builds contain the fix and/or when we will be able to download a 5.x build

[2019-12-09 23:43] StephenBonikowsky commented on #41094
@brianrob @MichalStrehovsky @sergiy-k @dagood
We do need to plug this gap, can any of you point me to who I should talk to about adding an IBC scenario?

[2019-12-09 23:45] StephenBonikowsky commented on #42592
I believe the initial question has been answered, do we need to keep this issue open? Is there some other action item that came from this?

[2019-12-09 23:49] StephenBonikowsky commented on #40730
@jasantosw `netstandard2.1` isn't supported by `netcoreapp2.1`. In the workaround that @mconnew provided, change it from `netcoreapp2.1` to `netcoreapp3.0`.

See here for the support table:
https://docs.microsoft.com/en-us/dotnet/standard/net-standard

[2019-12-10 00:02] #13532 closed

[2019-12-10 00:02] StephenBonikowsky commented on #13532
Issue moved to [dotnet/runtime #715](https://github.com/dotnet/runtime/issues/715) via [**ZenHub**](https://www.zenhub.com/)

[2019-12-10 00:24] vatsan-madhavan opened #42763 "Add System.Reflection.PathAssemblyResolver support for 'retargetable' assemblies"
https://github.com/dotnet/corefx/issues/40523#issue-484261911

This was fixed in .NET 5 - https://github.com/dotnet/corefx/pull/40581.  We did not take this change into .NET Core 3.1 since the evidence was not clear at that time that this would be a big problem.

Since the release of .NET Core 3.1, several WPF customers have reported that this is a blocking problem.

- https://developercommunity.v

[2019-12-10 00:26] dagood commented on #41094
@tmat @adiaaida, sorry if this ping is incorrect, but I've seen you involved with IBC/PGO optimization data in Arcade. Can you help @StephenBonikowsky out?

[2019-12-10 00:53] wfurt commented on #42634
With recent infrastructure changes I don't know answer for your questions. But I should be able to find it eventually. For testing, what exact version of runtime do you have and what is your methodology for testing? (e.g. are you sure you test with correct assemblies)

[2019-12-10 01:01] paillave commented on #41573
the workaround works for a simple type but how can we do with a list of item that all derive from a base class?
How can I have the following example working properly?

[code]

[2019-12-10 01:47] dngur807 opened #42764 "Windows and Linux results are different when using the Process.GetCurrentProcess function."
The result of GetCurrentProcess for each os.

![image](https://user-images.githubusercontent.com/14495376/70487711-9c71a200-1b39-11ea-8d95-babf3ff2c96d.png)

![image](https://user-images.githubusercontent.com/14495376/70487725-aa272780-1b39-11ea-98b9-7d81bd4e4fa2.png)

centos7 some information is missing.

I've been told that this issue is fixed in dotnet core 3.1.
However, the issue also occurs a

[2019-12-10 01:58] adiaaida commented on #41094
I'm no longer on the perf team, but I still have context. @brianrob is the right person to speak with, but I can work with @StephenBonikowsky to help him add a new scenario. If you have a scenario that will exercise the code paths that you need to gather data for, I can show you how to add it as a scenario.

[2019-12-10 04:42] dehghani-mehdi commented on #42592
@StephenBonikowsky  I don't think so

[2019-12-10 04:43] nsmithdev commented on #22101
With dotnet 3.1 I'm having to reference `testhost.x86.dll.config`
[code]
The statement below was very helpful for verifying the config path used
[code]

[2019-12-10 05:08] #42592 closed

[2019-12-10 05:11] dehghani-mehdi opened #42765 "Why `System.Runtime.Caching` has dependency to `System.Security.Principal.Windows`?"
Why `System.Runtime.Caching` has dependency to `System.Security.Principal.Windows`?

[2019-12-10 05:16] stephentoub commented on #42765
@dehghani-mehdi, why did you open a new issue here?  https://github.com/dotnet/corefx/issues/42592 had been tracking your previous same question, and it was answered there.  You also replied to that one saying it could be closed (though your response appears to have been deleted).

[2019-12-10 05:20] dehghani-mehdi commented on #42765
Because it's not _and that was not_ a question, it's a bug (maybe I should change the title to something like `System.Runtime.Caching` should not has dependency to `System.Security.Principal.Windows`). you wrote some technical stuff there, for my as user the reason is not matter, the issue is why memory cache has dependency to some unrelated package and why I have to include some un-related dll in

[2019-12-10 05:24] stephentoub commented on #42765
Maybe it was a misunderstanding.  @StephenBonikowsky asked whether the issue needed to remain open, and you responded "no".  But maybe you were answering a different question.

I closed the issue because you commented that no issues remained.  It sounds like we had a miscommunication.

What's the bug?  Are you saying that something is breaking at runtime?  Or you just don't want this extra .dll de

[2019-12-10 05:29] stephentoub commented on #42592
Closed due to response from OP (that was since deleted) "I don't think so"

[2019-12-10 05:31] dehghani-mehdi commented on #42765
I meant the question _and the issue_ was not answered _solved._ but that comment. _for the record, the comment was: 'I don't think so'_

Yes, it seems like we had. sorry I didn't explain well.

No, everything works great

Yes, I am developer too, it is clear (at least to me) memory cache has nothing to do with `System.Security.Principal.Windows`, I'm Windows user, but the name `Windows` here is an

[2019-12-10 05:33] dehghani-mehdi commented on #42592
By that, I meant the question _and the issue_ is not answered _resolved_. sorry I didn't explain well.

[2019-12-10 07:28] tmds commented on #34868
Can someone please explain what is the importance of sending the QUIT command?
Why does a regular socket close not implicitly have QUIT semantics?

[2019-12-10 08:55] IgorMenshikov opened #42766 "Nullable with JsonSerializer"
I am migrating to .NET Core 3.1 and have a class with null-able values (decimal, DateTime) and want deserialize JSON to it. I received JSON from a client with property values as strings. Here is the sample code:

[code]

This code throws an error:

'The JSON value could not be converted to System.Nullable`1[System.Decimal].

I have tried to use a workarounf at:
https://github.com/dotnet/corefx/iss

[2019-12-10 09:27] MarcoRossignoli commented on #34868
@tmds it's per RFC https://tools.ietf.org/html/rfc5321#section-4.1.1.10 and it's the current correct behaviour of netfx version and seem that in past was a problem `We got tons of complaints in .NET Framework about socket connections being left in a half-closed state before we implemented sending the 'QUIT' command.`  https://github.com/dotnet/corefx/issues/34868#issuecomment-563456997
Well, serve

[2019-12-10 10:11] IgorMenshikov commented on #42766
duplicate of https://github.com/dotnet/runtime/issues/725

[2019-12-10 10:18] tmds commented on #34868
ok

ok. Cfr above discussion I'm also of the opinion the QUIT should be a separate method, and not in Dispose. That makes it different from netfx.

This doesn't make sense to me.

[2019-12-10 13:50] JeepNL commented on #40830
**FYI:**
(_Using Server Side Blazor with Kestrel .NET Core 3.1 LTS on Linux Ubuntu 18.04 VPS with OpenSSL 1.1.1, Let's Encrypt Certificate_)

I've implemented the sample (above) from @ChrML (which is on [Kestrel web server implementation in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-3.1#listenoptionsprotocols) as well) and I am using the

[2019-12-10 13:59] supervos commented on #15490
Wouldn't it be possible to have the `SwitchTo` to pass in your `TaskScheduler`. The return value is an async dispobable that contains the previous `TaskScheduler`.

A use case is where you have a limited access to a resource like a database connection or external API service. Together with the async disposable, you can create something like the following:

[code]

Placing the `SwitchTo` on the `Ta

[2019-12-10 14:02] Laiteux commented on #38007
5.0? wow, that definitely sucks.

[2019-12-10 15:03] bugproof opened #42767 "System.Text.Json serialization order"
Serializer puts base properties at the end. In JSON net you could create a contract resolver that let you change serialization order.

[code]

the output will be:

`{"Name":"noname","Id":1}`

instead of

`{"Id":1,"Name":"noname"}` which is more readable

[2019-12-10 15:06] #42767 closed

[2019-12-10 15:59] brentschmaltz commented on #42631
@VladislavMorozov it is the 'using' statement along with caching of SignatureProviders that is causing the issue.
IdentityModel should check if a key has been disposed before using the cached SignatureProvider.
The issue https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1302 captures this.

If we all agree, this issue could be closed.

[2019-12-10 16:01] IgorMenshikov commented on #42766
got a workaround at of https://github.com/dotnet/runtime/issues/725

[2019-12-10 16:01] #42766 closed

[2019-12-10 16:02] #42631 closed

[2019-12-10 16:31] ChrML commented on #40830
@JeepNL

Here is an updated sample that I use in my production webserver now, that avoids unneccessary allocations:

From the Program.CreateWebHostBuilder method:
[code]

A field in the Program class:
[code]

[2019-12-10 16:40] ericstj commented on #42763
@steveharter can you port fca60323d9606a90b327273d08089200ae6f527b to release/3.0 and drive through servicing process?

[2019-12-10 17:12] davidsh commented on #34868
When a client just close the TCP connection, the SMTP server doesn't know that right away. It holds the connection open on its side for a while until it decides to close "idle" connections. That could take a way.

In a graceful "close" exchange, the client will send 'QUIT' to the server. The server will then respond with 'OK' back to the client. The serve then closes the TCP connection on its side

[2019-12-10 17:16] jtreher commented on #41612
I just wanted to add a comment here that adding case-insensitivity appears to increase memory consumption and degrade performance on very large payloads.  Since there does not appear to be a way to turn off case sensitivity with Newtonsoft deserialization, I am unable to compare to that with it disabled.

My memory as reported by BenchmarkDotNet was 2.5MB deserializing this massive stream and case

[2019-12-10 17:46] StephenMolloy commented on #42765
I don't believe this is a System.Runtime.Caching bug at this point. The cache package relies on ConfigurationManager, and that is expected. The issue that remains is that System.Security.Principal.Windows does not get linked away as expected, because of System.Net.Sockets? https://github.com/dotnet/corefx/issues/42592#issuecomment-555680784

[2019-12-10 17:47] danmosemsft commented on #42764
@dngur807 what version of .NET Core is this? What does `dotnet --info` give? What about `typeof(object).Assembly.Location` ?

This should be fixed in https://github.com/dotnet/corefx/pull/42370 which was in 3.1 final builds.

[2019-12-10 18:14] danmosemsft commented on #42710
Is this a change from 3.0 to 3.1 then?

[2019-12-10 18:23] rharpavat commented on #42634
.NET runtime version: **5.0.100-alpha1-015914** (output from running `dotnet --version`)

I tested with the same test project above (https://github.com/rharpavat/dotnet-macos-cpuusage), changed the `TargetFramework` in the .csproj file to `netcoreapp5.0` from `netcoreapp3.0`.

Here's the output from running the test project using `dotnet run Program.cs`:

[code]

after which we see the `Console.Wr

[2019-12-10 18:31] terrajobst commented on #33791
This needs work:

* It's a dangerous API; the name seems OK, although we normally use the `Unsafe` prefix.
* We wonder whether instead of simple bool this should be callback that takes at least the URL or even the request message and return true whether it should be redirected or not.

[code]

[2019-12-10 18:35] davidsh commented on #33791
We already use the prefix 'Dangerous' here:
https://github.com/dotnet/runtime/blob/73eec1b1223eb5d974a3ceff2419f2dc425ae4d1/src/libraries/System.Net.Http/ref/System.Net.Http.cs#L93

[2019-12-10 18:37] terrajobst commented on #34019
Looks good as proposed.

However, we should review the API surface of all immutable types and make sure that the API surface of the builder is logically equivalent.

@GeorgeAlexandria/@safern would one of you be willing to do that?

[code]

[2019-12-10 18:43] davidsh commented on #33791
Why make this API so complicated? Is this API really more dangerous than being able to easy bypass TLS certificate verification with the `DangerousAcceptAnyServerCertificateValidator` API?

As long as this API default is 'safe' (i.e. don't do redirect from HTTPS to HTTP), then I don't see why making this API difficult to use will help developers. If we make it so complicated to use, they might as

[2019-12-10 18:48] terrajobst commented on #34144
Looks good but needs work:

* We didn't like the name `AsciiUtility`
* We felt the type should be in `System.Buffers.Text` as that's the home for low-level span-based APIs for specific encodings
* We should add other operations, such as:
    - `GetHashCode`
    - `Compare`

[code]

[2019-12-10 19:08] wfurt commented on #42634
[code]

It seems like this still has runtime from old corefx repo. That is also true for the runtime link from runtime repo ;(

Publishing to Azure is still behind repo reorg.  I was told this should be fixed by end of the week if everything goes according to plan.

[2019-12-10 19:11] rharpavat commented on #42634
Ah gotcha, thanks for the update! Is there a good way for us to check whether or not a certain version of the runtime has the updated code?

[2019-12-10 19:15] wfurt commented on #42634
not really. I use the command above to find commit hash. And then I look in one or the other repo for that hash. And then you can check if given fix was submitted before or after that change.

[2019-12-10 19:27] terrajobst commented on #35400
A couple of questions:

* Why do you need it on `MemoryStream`? Why is `ArrayBufferWriter<byte>` not sufficient for your scenarios?
* Do you actually need an `IBufferWriter<byte>` that is also a stream?
* Any objection to us creating an allocation-free method on a stream type that returns an `IBufferWriter<byte>`?

[2019-12-10 19:27] terrajobst commented on #35400
A couple of questions:

* Why do you need it on `MemoryStream`? Why is `ArrayBufferWriter<byte>` not sufficient for your scenarios?
* Do you actually need an `IBufferWriter<byte>` that is also a stream?
* Any objection to us creating an allocation-free method on a stream type that returns an `IBufferWriter<byte>`?

[2019-12-10 19:38] terrajobst commented on #35410
Seems fine. The only question is: @scalablecory mentioned that we might want to use `NetworkStream` for non-socket based streams, e.g. QUIC. What would happen then?

[2019-12-10 19:39] terrajobst commented on #35410
Seems fine. The only question is: @scalablecory mentioned that we might want to use `NetworkStream` for non-socket based streams, e.g. QUIC. What would happen then?

That's correct and we've done this in the past.

[2019-12-10 19:47] terrajobst commented on #35791
* Looks good as proposed
* Should we also add these methods for parity?
    - `ReverseEndianness(float)`
    - `ReverseEndianness(double)`

[code]

[2019-12-10 19:54] terrajobst commented on #35861
* Looks good as proposed.
* However, should we stop adding async methods as extension and just make them proper public instance methods?
* In fact we may want to hide the entire `SocketTaskExtensions` because it was only used as a bridge pack for .NET Framework.

[code]

[2019-12-10 20:38] danmosemsft commented on #33791
@bartonjs  do the guidelines suggest when to use Dangerous vs Unsafe? In my mind Dangerous means “difficult to use at all in a safe way” whereas Unsafe means more like “removes some safety checks” but that’s just what I’d assumed.

[2019-12-10 20:46] bartonjs commented on #33791
Nope.  I also don't recall a Dangerous v Unsafe discussion in the meeting; only that maybe a context-providing delegate was a good balance between "do a bunch of work to do manual redirects" and "anything's fair game".

According to apisof.net, we only have 4 Dangerouses: SafeHandle.DangerousAddRef, SafeHandle.DangerousRelease, SafeHandle.DangerousGetHandle, HttpClient.DangerousAcceptAnyServerCert

[2019-12-10 20:47] baulig commented on #42383
We cannot restart any POST requests because they're not idempotent (see [section 9.1.2 of RFC 2616](https://tools.ietf.org/html/rfc2616#section-9.1.2)).  After sending any packets to the server, there is no way of knowing whether or not it has received and acted upon them, so the only thing we can do is to abort with an error.

The remote closing the connection could in theory be detected by a rea

[2019-12-10 20:52] tmds commented on #34868
When a client closes the TCP connection, the server's pending receive call returns.
It return with a zero byte length indicates the peer closed the connection.
The recv can also return as 'ECONNRESET`/`EPIPE` for 'Connection reset by peer'.
This is as 'fast' as sending QUIT.

From the exceptions thrown, it seems the SMTP server/firewall is doing some connection tracking and doesn't like it when co

[2019-12-10 20:54] scalablecory commented on #42383
@baulig where does this impact restarting requests?

[2019-12-10 20:58] scalablecory commented on #33791
@davidsh there's a suggestion that you could do eg. `handler.RedirectValidator = e => IsTrustedIntranet(e.Hostname)` for when you're okay with redirects to specific trusted sources (maybe intranet) but want to guard against anything else.

[2019-12-10 20:59] baulig commented on #42383
Not sure - all idempotent requests (GET, HEAD, PUT and DELETE) should be restarted via that `HttpConnectionPool` loop.

I am also not really sure whether the OP was reporting a race condition (since we're speaking of a half second here) or something that would happen each time the remote closes the connection.

[2019-12-10 21:09] MarcoRossignoli commented on #34868
FYI RFC treat this specific behaviour https://tools.ietf.org/html/rfc5321#section-4.1.1.5

[code]

I think that a correct implementation should follow the specification better possible, if I had to implement a smtp server following specification probably I would treat a socket close without QUIT in a different way of a QUIT one, if only to logging perspective.

[2019-12-10 21:24] tmds commented on #34868
I'm in favor of SmtpClient being capable of doing an RFC compliant close.
My questions are to understand what breaks if it doesn't.

[2019-12-10 21:30] danmosemsft commented on #31051
Interesting behavioral question to consider when considering Span overloads. My assumption is that they would work like a substring is passed in
https://github.com/dotnet/corefx/issues/24145

[2019-12-10 21:33] stankovski commented on #36221
We have seen a similar behavior in our service. Upon further investigation we have observed that under load HttpClient was using up all available sockets. That's related to the change between netfx and netcore where in netfx HttpClient was using `ServicePointManager.DefaultConnectionLimit` to limit number of connections to an endpoint (which was 2 or 10 by default). In netcore however, the `Servic

[2019-12-10 21:44] stephentoub commented on #35410
`Socket` is already exposed, it's just protected rather than public.  I don't think we'd choose to break the protected property any more than a public one, would we?

Also, it's System.Net.**Sockets**.NetworkStream... pretty tightly connected to **Sockets** already.

@scalablecory, what did you have in mind?

[2019-12-10 21:49] jkotas commented on #35791
These do not make sense. They would produce completely bogus combination of bits that do not look anything like a valid floating point number (different from the integer overloads).

[2019-12-10 21:55] BobHein commented on #41385
This mismatch of ref vs lib DLLs should be fixed.  It was not fixed in V4.7, in that version the ref is still 4.1.0.0 and the lib is now 4.1.3.0. Unfortunately, in our case, most of our .Net Framework applications are not using PackageReference, so even if the automatic binding redirects are set, nothing is put into the output App.Config. (These applications are all referencing .Net Standard libra

[2019-12-10 21:55] MarcoRossignoli commented on #34868
After fast and simple search found some links, but no a lot, maybe @davidsh has got more info/cases
https://cr.yp.to/smtp/quit.html
https://social.msdn.microsoft.com/Forums/en-US/916333be-f6c2-442a-b89e-bc6870a31c15/smtpclient-quit-command?forum=netfxnetcom

[2019-12-10 22:05] JamesNK commented on #41621
Proposal:

[code]

One question would be what happens with code that sets the AppContext switch today? Does it default this flag automatically, or is the switch completely removed, and apps in 5.0 has to be modified to continue to run correctly. I would prefer it defaults this flag.

@karelz I'd like this in 5.0. h2c is a common use case with gRPC and setting the AppContext switch is a source of u

[2019-12-10 22:11] tmds commented on #34868
The CLOSE_WAIT issues are from when netfx SmtpClient did not have a Dispose method.
.NET Core's SmtpClient does have a Dispose method, which disposes the Socket.
That Socket Dispose is enough to avoid the TCP_CLOSE empheral port exhaustion.

[2019-12-10 22:13] scalablecory commented on #41621
We need to have a larger discussion re: prior knowledge, version upgrade/downgrade -- h2c, h3, and alt-svc.

H2C (Upgrade header) is different from prior knowledge (send the HTTP2 preface immediately, no HTTP/1 request involved). I think the 1st is important to support, the 2nd would be nice to have if it's trivial to implement but I wouldn't make it a priority.

[2019-12-10 22:24] JamesNK commented on #41621
Speaking only for myself and my requirements:

gRPC is always HTTP/2, so there is no need to negotiate. gRPC doesn't need the h2c upgrade header, and I don't believe Kestrel supports it.

[2019-12-10 22:41] Tratcher commented on #41621
I'm not aware of any implementations that support or require the upgrade header flow. The prior knowledge flow is supported by Kestrel and others, and that's the one gRPC wants.

Proposal: Elsewhere we've discussed having a min and a max http version for requests. Under the following conditions the client could assume prior knowledge:
- Min and max version are both set to Http/2
- The request sche

[2019-12-10 22:50] scalablecory commented on #41621
Another option to chew on... sentinel `Version` instance.

[code]

[2019-12-10 22:57] scalablecory commented on #41621
My ideal API would use the `HttpRequestMessage.Version` as a starting point and then allow users to ask "upgrade to whatever .NET happens to support". Explicit min/max versions have minimal utility beyond this feature:

[code]

[2019-12-10 23:03] Tratcher commented on #41621
Let's not re-hash the details of min/max version here. I only bring it up in this context as the request version is a strong indicator of prior knowledge.

Please no, sentinels are a very problematic pattern.

[2019-12-10 23:05] ejbaum commented on #25988
I still had to use @IharYakimush 's solution in dotnet core 3.  Is this because it is coded as designed and that is the solution or is there still a bug here? Without those fixes @IharYakimush highlighted, I got the app to work on my windows machine but not on my mac.

Here is my SO question before I found this thread: https://stackoverflow.com/questions/59271689/using-network-creds-in-dotnet-core

[2019-12-10 23:20] andre-ss6 commented on #41612
@jtreher can you share the code for that benchmark?

[2019-12-10 23:46] davidsh commented on #25988
The Mac has limitations. The Mac doesn't have an SPNEGO provider which is which HTTP Negotiate really requires.  SPNEGO is the official protocol specification for what the 'Negotiate' authentication scheme means. SPNEGO will try Kerberos first. If that fails then it switches to NTLM automatically. In your case, your Mac is not part of the Kerberos environment/realm, so it has to use NTLM.

Since S

[2019-12-11 00:04] jtreher commented on #41612
@andre-ss6 My payload has a lot of data in it that would need scrubbed. The benchmark is pretty simple.

[code]

[2019-12-11 00:39] Spaceman1861 commented on #42701
Just an update on this due to it being a server and certificate of a client I'm unable to give you a repro.

We will attempt to diagnose internally.

However due to the workaround working fine this has become a low priority high cost item for us.

I don't expect to see an traction any time soon.

[2019-12-11 01:46] Peperud commented on #36783
Is there a workaround for this?

[2019-12-11 01:47] baulig commented on #42383
I've just spent some time investigating this in Mono and this is not a race condition, it fails deterministically every single time.

There is a slight implementation detail in the Sockets code: even if the connection has already been closed a long time ago, it looks like Mono's implementation of `ReadAsync()` does the actual reading on the ThreadPool, and therefore always returns a Task object.

[2019-12-11 02:23] davidfowl commented on #35400
Because this API got reviewed after we added `ArrayBufferWriter<T>`.

In this context the ArrayBufferWriter might be sufficient.

I'd have to see it.

[2019-12-11 02:32] ndphuong commented on #35505
I face the same problem too, I think it is big problem of Net Core 3.0

[2019-12-11 02:53] koyote opened #42769 "System.Xaml FileNotFoundException when using XmlnsPrefix and .resx in a referenced assembly"
Hi,

When a .Net Core project references a .Net Framework project which has "XmlnsPrefix" set in AssemblyInfo, we get the following exception:

File name: 'System.Xaml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'
   at System.ModuleHandle.ResolveTypeHandleInternal(RuntimeModule module, Int32 typeToken, RuntimeTypeHandle[] typeInstantiationContext, RuntimeTypeHandle[] methodI

[2019-12-11 03:10] danmosemsft commented on #36783
@Peperud  see above https://github.com/dotnet/corefx/issues/36783#issuecomment-482780224

[2019-12-11 04:25] tannergooding commented on #35791
I believe the purpose of said APIs is to workaround limitations in other APIs. That is, not every API exposes the underlying `Span<T>`/`ReadOnlySpan<T>` and not every API exposes `Read/Write` methods that take endianness into account.

`ReverseEndianness` then lets you efficiently fixup the endianness to be a valid set of floating-point bits.

[2019-12-11 05:07] jkotas commented on #35791
You can always use the longer form: `BitConverter.Int64BitsToDouble(BinaryPrimitives.ReadInt64LittleEndian(buffer))`

Storing random bit pattern into a floating point register:
- has large performance penalty on some architectures, e.g. Intel x87 stack is known to have this problem.
- has risk of unexpected normalization that corrupts the value. (I am not sure whether the ECMA spec would allows it

[2019-12-11 08:00] ahsonkhan commented on #42585
Fixed in https://github.com/dotnet/runtime/pull/436

[2019-12-11 08:00] #42585 closed

[2019-12-11 09:15] h82258652 commented on #41629
maybe base62 is a better solution.

[2019-12-11 11:24] madelson commented on #36783
@tmds I don't think this is a workaround because I am trying to capture the standard output of process2. If I close stdout before waiting for exit, I won't get the output. If I wait for exit before closing, then the program hangs.

[2019-12-11 13:37] damageboy commented on #42437
I guess we need an AVX512 tracking issue as @GrabYourPitchforks suggested?

I understand this doesn't imply anything about actually implementing this, but we should at least have a place to be able to discuss...

[2019-12-11 13:47] damageboy commented on #22660
@danmosemsft I completely agree.
Moreover, there is already proven solution in the form of [hwloc](https://www.open-mpi.org/projects/hwloc/) which also has python and rust bindings and is supported on Linux/Windows/Mac.

It would make sense to provide cross platform bindings through hwloc and get the breadth of information it already provides from the ability to generate complete topologies includ

[2019-12-11 14:32] stephentoub commented on #42383
Yes.  We're trying to get a connection from the pool that is going to be used immediately to issue another request.  We want to test to make sure it's still open, and as you suggest we could do that with PollRead.  But we also know that we're about to issue a request, which means we're going to need to read from it.  Rather than pay for two syscalls, one to poll and one to read, we can coalesce th

[2019-12-11 14:33] paulovila commented on #41002
This is breaking the continuity of netcore 3.0 to 3.1. In order to work 3.1, I think you guys should fix the "Microsoft.AspNetCore.Mvc.NewtonsoftJson" and "Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson" nuget patches for the time being

[2019-12-11 14:56] Adam-Tg opened #42770 "Could not load file or assembly 'System.Security.Principal.Windows', manifest definition does not match the assembly reference"
Solution has compiled successfully, but when executing, the following exception gets thrown:

I installed `System.Security.Principal.Windows` package by NuGet, but the error still appears.

[This](https://stackoverflow.com/questions/51909212/could-not-load-file-or-assembly-system-security-principal-windows) does not help me.
I don't have 'Microsoft.Net.Compiler' or 'Microsoft.CodeDom.Providers.Dot

[2019-12-11 15:02] damageboy commented on #22660
I'd like to add another unfortunate data-point to this discussion.

I think that when possible, the relevant hardware information should be considered as JIT time constants to help select proper code path.

One recent and very unfortunate case I've encountered is `PDEP` on AMD systems:

https://twitter.com/trav_downs/status/1203425075896225792

To summerize: While AMD processors officially support

[2019-12-11 15:05] MarcoRossignoli commented on #31807
Are we sure about `long` or should be `ulong` the return value?In case of multisegment position is `(long)RunningIndex`+`(int)SequencePosition.GetIndex()`

[2019-12-11 15:19] #42770 closed

[2019-12-11 15:20] 2881099 opened #42771 "System.Data.Odbc 4.7.0 ERROR [IM002] [Microsoft] [ODBC driver manager]"
Error :

Success:

Only SQL Server succeeded, all other errors.

![image](https://user-images.githubusercontent.com/16286519/70633983-65e87400-1c6c-11ea-8d30-eabc2949cb4f.png)

There is no error in version 4.6.0. How can I solve it?

[2019-12-11 16:00] skironDotNet commented on #40120
updated to Core 3.1 and still not fixed

[2019-12-11 16:07] benaadams commented on #31807
long is 9223 petabytes moving to ulong doubles that to 18446 petabytes; they are both fairly big...

[2019-12-11 16:24] MarcoRossignoli commented on #31807
Yep, it's sure enough...formality when I see possible overflow.

[2019-12-11 16:34] BrennanConroy commented on #41002
What needs to be fixed with these packages? If you have found a problem in those packages please file an issue at https://github.com/aspnet/AspNetCore/issues/new/choose

[2019-12-11 17:31] baulig commented on #42383
Oh sorry, it looks like my last comment was a bit misleading; with increasing the timeout I was referring to the time between closing the connection and attempting the next request - I increased that to 5 seconds, keeping the Keep-Alive at 0.5 seconds.  The same thing happens when I add a `Console.ReadLine()` and check with `netstat` on the console that the connection has actually been closed.  So

[2019-12-11 19:39] sachinpandey122 commented on #26779
Hi all,
do we have any conclusion on this yet?
Thanks,

[2019-12-11 22:19] ygoe commented on #22660
@damageboy That sounds like very specific data for a rare use case, far from simply gathering the most basic data about the system environment, like free RAM or system-wide CPU usage. But when I glance over this issue again, it seems to go in that direction altogether.

So maybe I should ask to include just free/total RAM information and some CPU usage counters into .NET, maybe the `Environment` c

[2019-12-11 22:37] danmosemsft commented on #22660
@damageboy could you open a new issue for that (interesting, though)?

[2019-12-11 22:39] danmosemsft commented on #22660
RAM info should be already on the Process class (notwithstanding [this recent fix](https://github.com/dotnet/corefx/pull/41122))

[2019-12-11 22:51] ygoe commented on #22660
@danmosemsft Ehm, I'm talking about the system total and system free memory, not the used memory by a single process. AFAIK this information is not available up to .NET Core 2.2, probably also not in 3.1. I could not find suitable Windows API functions. There's the Linux `free` command to determine those. I'm especially interested in separate numbers for buffers/cache memory usage to determine the

[2019-12-11 23:24] layomia commented on #38878
From @SanderSade in https://github.com/dotnet/runtime/issues/681:

[2019-12-11 23:32] danmosemsft commented on #22660
@ygoe oh of course - my bad.

OK, to make this issue concrete -- I think we need a concrete API proposal
1. not too large in extent (better to use specialized package)
1. well defined - unambiguous how to implement, even in containers, etc.
1. meaningful across platforms
1. broadly useful for real scenarios

@richlander you have spent a lot of time thinking about the memory and CPU counters that t

[2019-12-11 23:40] jkotas commented on #22660
`GC.GetGCMemoryInfo` is the (container-aware) API added in 3.0 that returns memory details about memory used and available.