[2018-01-24 00:14] shravan2x opened #26556 "Handling WinHttpException / Replacing it"
I encountered this exception recently from a `WebSocket` instance:

[code]

A `WebSocket` was closed incorrectly by the server and an `AggregateException` was thrown, which wrapped a `WinHttpException`. `WinHttpException` inherits from `Win32Exception`. I'm hesitant to handle either of these in the fear that it may not work on other platforms. I could possibly parse the exception message for "The

[2018-01-24 00:18] davidsh commented on #26556
And as of this PR https://github.com/dotnet/corefx/pull/26429, the client WebSocket implementation has been changed and is no longer built on WInHttp:

So, this issue is basically a no-op now since you will never get an WinHttpExceptions anymore

[2018-01-24 00:19] #26556 closed

[2018-01-24 00:26] joshgarnett commented on #24562
@karelz we just ported over from Mono 4.8 to .NET Core 2 and are hitting this issue.  In some cases we've been able to specify the Reuse Address socket option, but we are also using HttpListener.  All it takes to hit is restarting the server.  The new process will fail to start for about a minute.

[2018-01-24 00:31] halter73 commented on #24562
@joshgarnett This should be fixed with .NET Core 2.1. If you need a workaround for now, it's pretty ugly, but [here it is](https://github.com/aspnet/KestrelHttpServer/blob/1c0cf15b119c053d8db754fd8688c50655de8ce8/src/Kestrel.Transport.Sockets/SocketTransport.cs#L166-L196). Just call `EnableRebinding(socket)` prior to `socket.Bind(...)`.

[2018-01-24 00:35] shravan2x commented on #26556
The timing is perfect!

[2018-01-24 00:36] tarekgh commented on #21395
one last note regarding

[code]

I want to have this API out the matched length of the searched characters as it is not always the length of the value span would equal the found match in the source span.

Example: imagine the source span have the characters ```A ̀ ``` and we are searching for ```Á``` with culture aware operation. index of will return the index of the match and will return the matc

[2018-01-24 00:50] joshgarnett commented on #24562
@halter73 how's that work with something like HttpListener where the underlying socket isn't exposed?

[2018-01-24 01:05] janvorli commented on #26508
Hmm, I was pretty sure I've replied to this yesterday, but the window probably get lost before I have sent it.
I am not sure I understand how defining a cmake variable using the cmakeargs automatically results in setting the compiler option. You need to have your own code in the cmake scripts to set the compiler define if the cmake variable is set, right? And then you can choose where to put it an

[2018-01-24 01:07] halter73 commented on #24562
@joshgarnett I'm not sure if there's a workaround for HttpListener. For the times you have direct access to the managed socket, you can call `EnableRebinding` on said socket and the subsequent bind will succeed even if you just disposed an HttpListener on the same port.

HttpListener might still fail to bind to a port used by a recently-disposed managed socket even if the recently-disposed socket

[2018-01-24 01:38] cartermp commented on #16011
Related info:

* `Seq.zip` functions in FSharp.Core: https://github.com/Microsoft/visualfsharp/blob/master/src/fsharp/FSharp.Core/seq.fs#L626

* `List.zip` functions: https://github.com/Microsoft/visualfsharp/blob/44fa027b308681a1b78a089e44fa1ab35ff77b41/src/fsharp/FSharp.Core/local.fs#L851
* `List.unzip` functions: https://github.com/Microsoft/visualfsharp/blob/44fa027b308681a1b78a089e44fa1ab35ff

[2018-01-24 01:45] caesar1995 commented on #26540
Actually there is a workaround, instead of calling WinHttpHandler APIs, we can get raw HTTP header and parse is by ourselves, so that we can have control over it to 1. change behavior 2. throw Exception accordingly.

[code]

I'm hesitated to take this approach because this could be a breaking change for .NET Core on Windows since 2.0. (i.e., re-write WinHttpHanlder response parsing logic based on

[2018-01-24 01:58] davidsh commented on #26540
There already was a lot of work to stabilize the response header parsing for WinHttpHandler.  I don't see any need to touch that. This particular difference in parsing behavior doesn't impact customers.  It is basically a rare set of cases with invalid whitespace data.

So, disable/change tests as needed.  But don't make any product source changes for this.

[2018-01-24 02:16] caesar1995 commented on #26540
Ok, I will submit a PR soon.

[2018-01-24 02:30] geoffkizer commented on #23394
I'm fine too.

[2018-01-24 02:41] karelz commented on #26540
Agreed with @davidsh, it does not seem to be important enough scenario to go overboard in the case ;).

[2018-01-24 02:51] karelz commented on #23394
OK, flipping back to enhancement - we will just change the default (on Core). It should be fairly straightforward to do. Anyone interested to do it?

[2018-01-24 02:56] #26455 closed

[2018-01-24 05:40] bording commented on #26488
This has been fixed by #26439.

[2018-01-24 06:26] ahsonkhan commented on #21395
Given that the proposed API can result in correctness issues, I would agree that we need the `out int matchedLength` parameter for the non-ordinal IndexOf.

Change:
[code]
To:
[code]

[2018-01-24 07:23] weitzhandler opened #26561 "Directory.CreateDirectory throwing wrong exception"
Hi,

When trying to create a new directory (or file) from my ASP.NET Core app to a location I do not necessarily have access to, I get a `FileNotFoundException` with the following message:

    Could not find file 'D:\Users\Shimmy\Documents\Visual Studio 2017\Projects\MyProject\Api\FilesVault\1afb42e2-f160-4f6d-9eab-a82ca3cbf076'.

Here's my code:

    if (!Directory.Exists(path))
    {
      try

[2018-01-24 08:29] #26451 closed

[2018-01-24 08:47] gbrhaz commented on #26446
@wfurt Yes, I believe I'm doing everything that post suggests.

This is essentially what's going on:

[code]

I can check the certificate and it has a private key, is the correct one, all that kind of stuff, but still get the previous error.

Just to clarify: the .pfx was imported into my login keychain. I looked at the documentation here:

https://github.com/dotnet/corefx/blob/master/Documentatio

[2018-01-24 09:27] wojtpl2 commented on #26337
It should be described in documentation https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo.createnowindow?view=netcore-2.0#System_Diagnostics_ProcessStartInfo_CreateNoWindow

[2018-01-24 09:28] wojtpl2 commented on #26340
It should be described in documentation https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo.createnowindow?view=netcore-2.0#System_Diagnostics_ProcessStartInfo_CreateNoWindow

[2018-01-24 15:04] powercode commented on #24145
This would really help Select-String in PowerShell. Tried to parallelize it and ran into GC death on string allocations for the inputs.

So +1

[2018-01-24 15:17] LYP951018 commented on #15329
And then we could just use `Span<T>.Sort` as implementation for `Array` and `List<T>`?

[2018-01-24 15:48] karelz commented on #26340
@wojtpl2 good idea - would you mind submitting docs change? (Edit button on that page)

[2018-01-24 16:28] pjanotti commented on #23768
The data below comes from 312 test runs in my Windows 10 box including OuterLoop but with `-parallel none` to reduce non-determinism and to avoid test deadlocks that I still need to investigate.

| # Failures | Remote | Type & Test |
| ----------:| ------ |:----------- |
| 1 | No | HttpClientHandlerTest.Dispose_DisposingHandlerCancelsActiveOperationsWithoutResponses |
| 2 | Yes | HttpClientHandler

[2018-01-24 17:06] KrzysztofCwalina commented on #21395
Then maybe we want a Ordinal overload without this out parameter?

Could we add the example to docs (remarks) of the method?

[2018-01-24 17:08] KrzysztofCwalina commented on #26451
It would be good to describe in the docs the things people need to know to use the API "safely".

[2018-01-24 17:12] sdmaclea opened #26564 "API Proposal : ARM64 AES SHA1 & SHA2-256 HW Intrinsics"
[code]

[2018-01-24 17:13] sdmaclea commented on #26564
@eerhardt @CarolEidt @RussKeldorph PTAL
@dotnet/arm64-contrib @dotnet/jit-contrib @tannergooding @4creators @fiigii FYI

[2018-01-24 17:20] wfurt commented on #26446
Can you wrap that to runable app and point me at right server @gbrhaz? It would save my troubles trying to set up a repro. From the exception it seems like you properly overcome all the other hurtles and there is some platform to work to be done.

[2018-01-24 17:33] sdmaclea commented on #26527
I change the `T*` to `void*`. This could also be `Vector64<void>*` or something like that.

[2018-01-24 17:34] alpencolt commented on #26508
@janvorli Tizen project is needed to set some global compiler and linker options (e.g. `D_FORTIFY_SOURCE=2`) for all modules included to OS, sometimes it might be list of options (`-fstack-protector-strong -D_FORTIFY_SOURCE=2` or others). This list can be different for different releases and we don't really modify CoreCL/FX sources for this purpose(it's worth case).

Better option is passing this

[2018-01-24 17:38] paulgmiller commented on #26426
Yep managed handler does it. How bad of an idea would it be to try and use the managed handler?

[2018-01-24 17:43] GrabYourPitchforks commented on #26451
@KrzysztofCwalina See the devdoc at https://github.com/dotnet/corefx/blob/83f35ef9a79b5cd1412aeaad8d2cb84e1bfe73c4/src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.xml#L211-L214. Do you think this is sufficient?

[2018-01-24 17:53] tarekgh commented on #21395
I think matchedLength would be useful even in the ordinal case too. if you write some code to do a repeated search inside the span would just work for any case (either ordinal or non-ordinal). if we have the ordinal overload, the user has to use Span.Length to perform the subsequent operation.
I don't have a strong feeling though about that :-)

here is some code sample for IndexOf

[code]

[2018-01-24 17:54] weshaggard commented on #26488
Yes this is fixed. Thanks @bording

[2018-01-24 17:54] #26488 closed

[2018-01-24 18:00] brianrob commented on #23072
@joperezr sounds great.  Let me know if you need anything for this.  I think running twice is a reasonable thing.

[2018-01-24 18:02] karelz opened #26566 "[Regression] Tests failed: System.IO.Compression.Brotli.Performance.Tests - 20min timeout on Windows"
System.IO.Compression.Brotli.Performance.Tests test suite started failing with 'fire' on Windows platforms in build 20180120.01.
Looking at a few logs it seems that xunit doesn't print anything after initial output and infra kills it after 20 min:
[code]

Note Ubuntu17.04 'fire' failures are across all tests (the image went EOL), please ignore it. The platform should be removed from our test run m

[2018-01-24 18:03] karelz commented on #26566
@ianhays can you please take a look?

[2018-01-24 18:05] rmkerr commented on #23768
I think the root cause here must be different from #26092, since that issue does not occur with ```-parallel none``` set.

[2018-01-24 18:16] stephentoub opened #26567 "ManagedHandler and SslClientAuthenticationOptions"
Currently the ManagedHandler's API is derived from the existing HttpClientHandler API, and thus has these properties related to SSL:
- ClientCertificates
- ServerCertificateCustomValidationCallback
- CheckCertificateRevocationList
- SslProtocols

But there are additional configurable features related to SSL that are supported by SslStream, e.g.
- LocalCertificateSelectionCallback
- ApplicationProt

[2018-01-24 18:17] stephentoub commented on #12038
We can use this issue for it, but the proposed API would actually need to be on ClientWebSocketOptions rather than on ClientWebSocket.  I also think it would behoove us to instead consider something like https://github.com/dotnet/corefx/issues/26567 rather than adding lots of individual properties as we find more and more areas of SslStream configuration that's desirable to be exposed.

[2018-01-24 18:19] couven92 opened #26568 "Cross-Compiling: missing sources.list.jessie for ARM"
For building a cross-compilation `rootfs` `./cross/build-rootfs.sh` will copy a `source.list` to the `/etc/apt/sources.list` file on the generated `rootfs`

If you try to invoke `./cross/build-rootfs.sh` with the `ARM` architecture for a `jessie` style distribution (like for example the Raspbian OS which is a `jessie`-like `Debian`.) like shown below the build-script cannot find the sources.list f

[2018-01-24 18:44] ianhays commented on #26566
Hmm. It's possible I added too many tests and they're just hitting the timeout limit. They do take a *very* long time on my machine. I'll see exactly how long, and shorten that if necessary to get them completing faster.

[2018-01-24 18:51] couven92 opened #26569 "Cross-compilation for ARM fails"
OS: Ubuntu Xenial 16.04.3 LTS x64
`git checkout tags/v2.0.5`

Cross-compiling for ARM using the following command-line:
[code]

The command fails during native compilation of `System.Security.Cryptography.Native` with the following error:

[code]

Installed all dependencies as described in [UNIX instructions - Prerequisites (native build)](https://github.com/dotnet/corefx/blob/master/Documentation

[2018-01-24 18:55] 4creators commented on #26564
nit: `System.Runtime.Intrinsics.arm64` should be `System.Runtime.Intrinsics.Arm64`

[2018-01-24 18:56] karelz commented on #26566
That might be the reason - successful run of Win8.1-x86 in [20180121.02](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180121.02/workItem/System.IO.Compression.Brotli.Performance.Tests/wilogs) claims 14:02 time (looking at timestamps it is 16:30) - quite close to the 20 min timeout.

[2018-01-24 18:56] 4creators commented on #26564
Why have you not included Sha3?

[2018-01-24 19:11] sdmaclea commented on #26564
@4Creators Sha512, Sha3, SM3, SM4 are all TBD.  We have an early draft of the APIs, but we were going to wait for feedback on these first.  Since they are ARM64 8.2 extensions hardware is less readily available

Here is a preview
[code]

If you want me to add to the proposal I can.

[2018-01-24 19:13] GrabYourPitchforks commented on #15329
@nietras How are things going with this? We recently forked for 2.1-preview1, but there may still be time to get this in for the next preview. If you find yourself pressed for time, no worries, let us know and we can reassign. Thanks! :)

[2018-01-24 19:23] Tratcher commented on #26326
Compare to https://msdn.microsoft.com/en-us/library/system.net.configuration.httpwebrequestelement.useunsafeheaderparsing(v=vs.110).aspx

[2018-01-24 19:27] 4creators commented on #26564
I think that it would be better to have API reviewed and accepted and than decide on implementation timing based on silicon availability. Having whole API surface presented together makes review more thorough and helps to work out any feature problems which may arise when API would be expanded later and frozen not optimal API would be already released.

[2018-01-24 19:40] nietras commented on #15329
@GrabYourPitchforks things are progressing fine. I have ported all the code, basic tests pass, but I'm still trying to iron out some perf issues after I consolidated code to have both with and without items in one code base. Before that perf was on par or even better than coreclr even for the C++ optimized types.

The code can actually be found at https://github.com/DotNetCross/Sorting/blob/span-s

[2018-01-24 19:41] ianhays commented on #26566
Yup, that's the reason. I've been running the perf tests for like an hour now and they're still chugging along.

[2018-01-24 19:45] sdmaclea commented on #26564
The crypto surface is reasonably small so I will follow this plan.

SIMD surface is pretty extensive, I was trying to prioritize things which could be implemented for 2.1 release.  I will try to publish more of the draft APIs.

[2018-01-24 19:51] sdmaclea commented on #26564
Amended OP to include all crypto extensions (except Polynomial Multiply Long.).

Please review carefully as I have not seen pseudo code which uses the Sha512, Sha3, SM3, or SM4 intrinsics.

[2018-01-24 19:52] brianrob commented on #24618
@safern sounds good.  Thanks so much for fixing this.  Looks like we can close this issue!

[2018-01-24 19:52] #24618 closed

[2018-01-24 19:54] Tratcher commented on #26331
Also related: https://msdn.microsoft.com/en-us/library/system.net.servicepointmanager.dnsrefreshtimeout(v=vs.110).aspx

[2018-01-24 20:02] CarolEidt commented on #26564
While I can see the value in that, IMO an overriding concern is to avoid burdening the review process and spending time spec'ing things that aren't going to be implemented in the immediate future.

[2018-01-24 20:18] sdmaclea commented on #26564
@CarolEidt Added comment

[code]

I can remove entire block if preferred

[2018-01-24 20:25] jkotas commented on #15329
I do not think you need to do that. It is fine to have two copies - one without and one with items.

[2018-01-24 20:27] kaykayes commented on #9171
brew install openssl did it but it stopped after upgrading to macOs High Sierra. OpenSSL libraries were not supported.
installing aspnet core 2 sorted the issue. Thanks everyone

[2018-01-24 20:28] nietras commented on #15329
@jkotas I thought it would be less maintenance and with some `typeof == typeof` tricks without perf issues. But yes I may have to revert those changes then. It just means a lot of duplicated code. It's almost 1000 lines, and it also impacts type specializations I have done.

[2018-01-24 20:34] saurabh500 commented on #26546
@stevenreddie can you provide a bit of repro code as well?

[2018-01-24 20:36] saurabh500 commented on #26546
@stevenreddie Disregard my previous comment.

[2018-01-24 20:45] ward0093 commented on #24677
ok... we are having this issue now... after we send data out via our API, the connection gets severed.

How do we solve or trap around this?

[19:52:35 DBG] Connection id "0HLB3BR492N7L" completed keep alive response.
[19:52:35 INF] Request finished in 7.6281ms 200 application/json; charset=utf-8
[19:52:35 INF] Connection id "0HLB3BR492N7L" communication error.
Microsoft.AspNetCore.Server.Kestrel.

[2018-01-24 20:54] ayende opened #26572 "SslStream.Read hangs (race condition on dispose?)"
My process sometimes seems to hang, and I was able to capture a stack trace, it ends with:

[code]

Now, the specific scenario here is that I'm trying to dispose a connection, so I called the `SslStream.Dispose` from another thread, but it seems like it either didn't take or it might have corrupted some state.

The `SslStream` is wrapping a `NetworkStream`, and that one is safe to close while it i

[2018-01-24 20:57] ayende commented on #26561
A guess only, but throwing access denied error to your code might disclose things like the existence of files that you are not allowed to see (or know exists)?

[2018-01-24 21:05] davidsh commented on #26572
It should be thread-safe to do that.  If it isn't, it is probably a bug.

[2018-01-24 21:05] davidsh commented on #26572
cc: @Priya91

[2018-01-24 21:06] joelbraun commented on #17126
@saurabh500 Sure, what would you like me to take a look at next?

[2018-01-24 21:26] janvorli commented on #26508
@alpencolt I think the best solution for this would be to pass a single cmake variable containing the compiler options and then using them in the CMakeLists.txt where you want them to take effect.
So, we could add support for that to coreclr / corefx and then you can pass whatever options you want through that without further touching the sources in the future.
So we would add a cmake variable nam

[2018-01-24 21:26] CarolEidt commented on #26564
I don't feel strongly about it, as the size is not prohibitively huge, but I think that as a general rule it's best to only spec what we think we're going to be implementing soon. However, I'm not an API designer, so I'd be curious what @eerhardt and @terrajobst have to say about it.

[2018-01-24 21:35] karelz commented on #26178
Looks like the question was answered + no activity for 16 days, closing.

[2018-01-24 21:35] #26178 closed

[2018-01-24 21:37] Priya91 commented on #26572
@ayende Can you share a repro.

[2018-01-24 21:48] ayende commented on #26572
I don't have a reliable one, I basically run a 3000+ test suite and tried to kill it, but it hang.
I broke into the debugger and realized that this is stuck waiting for a thread to complete, and this thread is busy waiting for this method.

[2018-01-24 21:52] Priya91 commented on #25988
If you change it to localhost and run both on the same machine it will not fail.

As @karelz  mentioned in the previous comment, this is by design that the handlers don't send out default credentials to non-intranet machines. This is by design.

[2018-01-24 21:52] Priya91 commented on #26572
Hmm other than reading code, there's not much action that can be taken here to figure out if there's a bug.

[2018-01-24 22:06] ayende commented on #26572
@Priya91 Assuming that this is something that I can reproduce, anything that I can provide to help?
I can probably take a memory dump, etc.
I tried writing some code to reproduce this, but wasn't able to reproduce a hang.

As an aside, I'm assuming that like NetworkStream, it is safe to concurrently call SslStream.Write and SslStream.Read?

[2018-01-24 22:29] weitzhandler commented on #26561
According to the [docs](https://msdn.microsoft.com/en-us/library/54a0at6s.aspx#Anchor_1), it should throw an `UnauthorizedAccessException`. It doesn't have to come with all the info it doesn't want me to know.

[2018-01-24 22:34] caesar1995 commented on #23027
This issue is opened based on feedback in PR #22977. It turns out the PR broke multiple outerloop tests, and is reverted in #23078.

Since PR is reverted, this issue can be closed.

[2018-01-24 22:34] #23027 closed

[2018-01-24 22:37] rmkerr commented on #25880
I spent quite a while looking into this issue, but since I haven't tracked down the solution I'll be setting it aside to get on to other work for now. Here are the basics of what I've discovered:

- The failures are all the result of a request being cancelled. I do not know whether this cancellation comes from a timeout or from some other source.
- The failures all occur when using WinHttpHandler.

[2018-01-24 22:47] caesar1995 commented on #20788
The .NET Core cross-platform development has been included in `Workloads based install` in Wiki.

Since there is no other people hitting this issue from June 2017, I will close it.

/cc: @karelz

[2018-01-24 22:47] #20788 closed

[2018-01-24 22:49] safern commented on #24517
I was able to run the tests for System.Security.Permissions against netfx by disabling the obsolete warnings and I get 34 failures out of 131 that we will want to investigate as it seems like a difference in behavior. It could be a fix in .NET Core that hasn't been ported to netfx.

[code]

[2018-01-24 22:55] sdmaclea opened #26574 "[Arm64] SIMD HW Intrinsic API scope and high level design"
Most of the intrinsics with clear and exact match to X86 have been proposed and have open issues.

This is intended as a draft design/scoping exercise for the SIMD class to help ease further API reviews.

**Naming conventions**
+ Intrinsic names will roughly follow instruction descriptions in ARMv8 ARM tables from section C3 A64 Instruction Set Overview
+ Drop adjectives ~~Floating~~, ~~Signed~~,

[2018-01-24 22:56] morganbr commented on #26451
@GrabYourPitchforks , is the API guaranteed to pin the inputs for the same array/object/span case? Otherwise a torn read could still give an undefined answer.

[2018-01-24 23:10] sdmaclea commented on #26574
@RussKeldorph & @4creators have asked for a somewhat exhaustive API so that we can get the design right.

@CarolEidt raises the legitimate issue that we should not overwhelm the API review team.

This is intended as a middle ground.  I just exhaustively surveyed the ARMv8 ARM for ARM64 SIMD class instructions.  I was specifically looking for cases where design and/or naming would be challenging or

[2018-01-24 23:11] rmkerr commented on #23504
Thanks for the great repro @avtc, that was very easy to set up. I'm able to reproduce the issue and I'll be looking into what is going on here over the next few days.

[2018-01-24 23:15] safern opened #26575 "System.Data.DataSetExtensions has MSFT key in .NET Core and ECMA in Desktop, causing identities to be different"
This type is causing to have different assembly identities in between .NET Core and NETFX, since we're stating in the OOB package that in NETFX the implementation is inbox, this breaks that support for when trying to use this type since it lives in System.Data for NETFX.

cc: @weshaggard @danmosemsft

[2018-01-24 23:16] danmosemsft commented on #24517
That assembly is all just stubs isnt it? I'm surprised any tests pass.

[2018-01-24 23:35] terrajobst commented on #26575
In what sense? Are we missing a TF?

[2018-01-24 23:38] weshaggard commented on #26575
No it isn't a missing type-forward. It is a case where we have the exact same assembly identity System.Data.DataSetExtensions in core and netfx but this type doesn't live in that assembly in netfx. In netfx it lives in System.Data.dll so it cannot live in System.Data.DataSetExtensions in core and remain compatible. We need either need to move the type or change the identity of this library to not

[2018-01-24 23:52] safern commented on #26575
I just realized that System.Data.DataSetExtensions have different PublicKey in .net core and netfx. That would make the identity not match right?

[2018-01-24 23:53] jkotas commented on #26451
@morganbr There is no risk of torn read. The GC moves all byrefs atomically.

[2018-01-25 00:06] weshaggard commented on #26575
That makes things worse as it will cause all kinds of confusion. We should fix the key or change the name.

[2018-01-25 00:13] safern commented on #26575
We haven’t published any version of this package to NuGet so any would work fine I guess. So renaming wouldn’t hurt either. Any strong preference?

[2018-01-25 00:15] jkotas commented on #23063
We should return value from the TargetFrameworkName attribute in CoreCLR, I think. It is one line change - copy the implementation from CoreRT:

[code]

[2018-01-25 00:16] weshaggard commented on #26575
Our general stance is if we don't feel we are going to evolve it then we should just keep the same identity to avoid more assembly identities in the wild.

[2018-01-25 00:19] #21829 closed

[2018-01-25 00:20] safern commented on #26575
Which it is the case here right? We don’t plan to add evolve this one? Or that is what it seems like, hasn’t have a significant change since it was ported. Then I would say try to match identities.

[2018-01-25 00:26] weshaggard commented on #26575
Yes I would say that is the case here. I suggest we fix the key and either remove or move down TypedTableBase into another assembly.

[2018-01-25 00:32] safern commented on #26575
Ok. I assigned to myself and will take care of it.

[2018-01-25 00:32] weshaggard commented on #26457
@ericstj they have never had the attribute. Do you think it is worth adding?

[2018-01-25 00:37] CIPop commented on #26144
@karelz /cc @davidsh @stephentoub @Priya91 @tameraw
it appears some of our customers are interested in SSL filtering proxies which means that we should be able to use the proxy configuration to send the traffic to another machine.
Unfortunately I don't have more details but I believe these work more or less the same as Fiddler (installing a trusted CA on the local machine).

[2018-01-25 00:37] huanwu opened #26578 "Port #26304 into 2.0 branch"
#26304

This change need be ported into 2.0 because the serialization will break once try to serialize a type belong to an assembly without location info e.g.  Assemblies are dynamically loaded into a custom AssemblyLoadContext, using the LoadFromStream method.

[2018-01-25 00:54] weitzhandler opened #26579 "Respect IReadOnlyList<T> in the BCL"
The following condition appears in many variations plenty of times throughout the BCL, especially in `System.Linq`, (From [ElementAt](https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/ElementAt.cs#L28):

[code]

But there is also `IReadOnlyList<T>` which provides the same thing and is not considered because it doesn't overlap with `IList<T>`, and the fact that random acc

[2018-01-25 01:03] karelz commented on #26144
@CIPop is that related to [3] about? Or is it something else?

[2018-01-25 01:16] karelz commented on #24133
It seems to be different failure. I will look at CI history and reopen if there is evidence it is happening more than one off.

[2018-01-25 01:16] #24133 closed

[2018-01-25 01:42] sdmaclea opened #26581 "API Proposal : API More SIMD HW Intrinsics"
[code]

[2018-01-25 01:44] sdmaclea commented on #26581
This is the next wave of SIMD instructions which I plan to implement

@CarolEidt @RussKeldorph @eerhardt PTAL
@tannergooding @4creators @fiigii @dotnet/arm64-contrib @dotnet/jit-contrib

[2018-01-25 01:51] karelz commented on #25880
It would be great to see a PerfView trace of the failure. If it's low-overhead for you to collect one, please send it to me.
Moving to Future as we don't have time to track it down for 2.1.

[2018-01-25 01:54] karelz commented on #26092
No luck in tracking it down now - see https://github.com/dotnet/corefx/issues/25880#issuecomment-360297737 for details, moving it to Future.

[2018-01-25 01:54] karelz commented on #20024
No luck in tracking it down now - see https://github.com/dotnet/corefx/issues/25880#issuecomment-360297737 for details, moving it to Future.

[2018-01-25 02:05] karelz commented on #26452
I have seen it in official daily runs as well: (see internal OneNote for additional details from the logs). Top post updated with additional 3 hits since 12/17.

[2018-01-25 02:32] madelson commented on #26201
@karelz I'm just thinking that devs who look to this class to resolve issues like the SO question I posted in my original proposal and find both Application.Xml and Text.Xml will inevitably come away confused.

If the two are equivalent, then why list both? If the two are not equivalent, then the doc comments should explain why they are not equivalent to help the user pick the right oen.

[2018-01-25 03:11] agocke commented on #16011
I've create a PR (https://github.com/dotnet/corefx/pull/26582) that adds the Zip functionality described in the issue.

One thing that I'm considering but haven't decided upon: would it be OK to return a concrete struct-iterator type instead of `IEnumerable`? It seems like forcing the IEnumerable overhead is something that many users would prefer not to do.

[2018-01-25 03:12] agocke commented on #16011
Note: I have not implemented Unzip. I don't think that API is nearly as useful and I'd prefer to decide on the new Zip API without it.

[2018-01-25 04:28] ahsonkhan opened #26584 "Add AsString() extension method to ReadOnlySpan<char>"
## Rationale
We have the ability to create a string from a ReadOnlySpan\<char\> in .NET Core (https://github.com/dotnet/corefx/blob/master/src/System.Runtime/ref/System.Runtime.cs#L2215).
[code]
However, someone using the portable System.Memory does not have the ability to convert a ReadOnlySpan\<char\> into a string.

We can resolve that by providing an extension method on ReadOnlySpan\<char\>. *

[2018-01-25 04:36] GrabYourPitchforks commented on #26584
Ahson and I talked about this earlier today. I think this is a very useful proposal. For API reviewers: is there concern about having a method very similarly named to ToString, which is known to lead to unhappiness when called on a ref struct?

[2018-01-25 04:39] agocke commented on #16011
@VSadov and @OmarTawfik you're listed as experts for System.Linq. What would you like me to do here? Just publish a PR? The Zip API from above is still accurate.

[2018-01-25 04:39] JeremyKuhne commented on #26584
One option I'd like to see is the ability to terminate at null. It is a pretty common pattern for strings to come back null terminated in fixed size buffer.  https://github.com/dotnet/corefx/blob/40cbd5636851093309b841db4d53af369b7ef1c6/src/Common/src/System/Memory/FixedBufferExtensions.cs#L14

[2018-01-25 04:40] jkotas commented on #26584
Span.ToString() will work fine once https://github.com/dotnet/corefx/pull/26467 lands.

[2018-01-25 04:42] jkotas commented on #26584
This method is redundant with String constructor that takes Span. I am wondering why we have both `AsXXX` and `XXX` constructors for a pretty much everything. Should be have just the `AsXXX` methods and drop the constructors? What's the value of redundant APIs?

[2018-01-25 04:44] jkotas commented on #26584
This is not a very good example. For this, we should have Concat overload that takes Spans.

[2018-01-25 04:58] hvanbakel commented on #11639
The issue I linked here is related, I was under the impression that using --additional-deps would 'merge' the deps and thus work. This is however not the case, and I'm not sure if it should be. @natemcmaster since you've documented some of this, would you be able to give us some insight or pointers to documentation?

[2018-01-25 05:06] GrabYourPitchforks commented on #26584
@JeremyKuhne Fear not! String instances are always null terminated regardless of how they're constructed.

[2018-01-25 05:15] JeremyKuhne commented on #26584
@GrabYourPitchforks True, but what I'm looking for is constructing them without embedded nulls. I might have a char buffer with a possibly null terminated string in it. I want to construct it to either (1) the first null char `'\0'` or (2) `.Length` if no null is present. As strange as it might seem it is pretty common in native interop scenarios.

[2018-01-25 05:17] OmarTawfik commented on #16011
@agocke we will need to prepare the API proposal first:
guide: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md
example: https://github.com/dotnet/corefx/issues/14220
Then it will go through a design review, and after approval, you can submit the PR for normal code review process.

[2018-01-25 05:24] JeremyKuhne commented on #26584
In theory we could optimize this to unwrap strings wrapped in spans as the functionality gets implemented in the various runtimes. Thinking of MSBuild using Span on desktop in particular. Is there another way to accomplish this or am I missing something that makes that impossible?

[2018-01-25 05:37] GrabYourPitchforks commented on #26584
@JeremyKuhne Ah, so something like this, but as a single helper extension method?

[code]

[2018-01-25 05:39] geoffkizer commented on #26452
We should add some asserts here to try to narrow down the problem.

[2018-01-25 05:42] JeremyKuhne commented on #26584
@GrabYourPitchforks Yes. I linked where I've already created an internal wrapper that does this in my original comment.

[2018-01-25 07:30] Sunny-pu opened #26586 "Test failure: MonoTests.System.Runtime.Caching.MemoryCacheTest / TestCacheSliding"
## History of failures

Day | Build | OS | Details
-- | -- | -- | --
1/14 | 1373384c81e62be7b9f7e75f2ba62ffabea2d269 | Win10 | Actual null
1/16 | a55fcd0822253d51c4be1bd6a24c7398476adb79 | Win10 | Actual null
1/29 | 20180129.05 | Win8.1 | Actual 42 - [link](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180129.05/workItem/Sy

[2018-01-25 07:31] karelz commented on #26452
Do you have some specific asserts in mind? We have a dump, naively I would expect that might give us a fair chance to root cause it.

[2018-01-25 07:34] karelz commented on #26201
@madelson I am not sure if it is .NET's place to provide suggestions over RFC. Documenting they are equivalent (per the linked RFC) should address any potential doubts. Most developers in my experience will use the first thing they find anyway.

[2018-01-25 08:30] benaadams commented on #26584
`AsString` doesn't sound expensive enough for an allocation from a Span (stack -> heap); it sounds more like a lightweight conversion of representation.

e.g.
[code]

`.ToString` is an expected allocation. Would it cause confusion that on Span generally it would produce a diagnostic output and on `char` it produces a interop output? (e.g. additional method as well for ToString for `{ReadOnly}Span<

[2018-01-25 10:52] artkpv commented on #21267
@AtsushiKan I'm not sure about what this issue needs next. I'm going to check those places listed at the top and related issues if some reconciliation needs to be done. Please correct me.

[2018-01-25 12:42] svick commented on #16011
@agocke

For better or worse, returning `IEnumerable<T>` is the pattern LINQ uses. What makes `Zip` special? Why should it be different?

[2018-01-25 13:09] alpencolt commented on #26508
@janvorli great! Thank you.
I will prepare PR.

[2018-01-25 13:26] Joe4evr commented on #26584
I've made my own extension method for `ReadOnlySpan<char>` and named it `Materialize()`, I think something like that might work.

[2018-01-25 14:53] AtsushiKan commented on #21267
@artkpv - That was the actually the last piece so I'm closing the issue now. Of course, if you do find any opportunities we missed earlier, feel free to go after it :-)

[2018-01-25 14:53] #21267 closed

[2018-01-25 14:55] eerhardt commented on #26433
No, I don't think this has to go through the full API review process.  It should have been included in the initial review.  I just wanted to ensure people saw this as an "API modifying" issue.

[2018-01-25 15:14] ikopylov commented on #26579
The main reason for that is the performance overhead: every additional type cast adds its own cost and the cost of cast to variant generic interface is much higher.

Corresponding issue https://github.com/dotnet/coreclr/issues/603

[2018-01-25 16:22] KrzysztofCwalina commented on #26584
I like the API, but I don't think it should be called AsString. I think "As" implies no allocation. If we could simply override ToString (for span of chars), it would be great.

[2018-01-25 16:26] stephentoub commented on #26584
We could change the {ReadOnly}Span.ToString implementation to just do the equivalent of ToString on each element (rather than what Ian's checking in, which I believe just outputs Span[Length]), with a specialized implementation for char to do it with the string ctor and thus more efficiently, but that won't address the core of this issue: supporting this out-of-band, where an override can't be use

[2018-01-25 16:49] ericstj commented on #26457
See related issue, folks have been reporting when examining the assemblies in ILSpy.  I don't think it'd hurt to add the attribute.  We have that information when we build them.

[2018-01-25 17:29] CIPop commented on #26144
@karelz That would be related to 1 or 2. We are currently trying to find out more information from our customers but I believe this would be the [Fiddler HTTPS scenario ](https://www.fiddlerbook.com/fiddler/help/httpsdecryption.asp) which, I believe, still works in .Net Framework.

[2018-01-25 17:56] #24627 closed

[2018-01-25 17:57] karelz commented on #24627
Thanks @benaadams for pushing it through!

[2018-01-25 17:58] weshaggard commented on #26457
I'm OK with adding them, but we likely need to do it custom based on our configuration system.

[2018-01-25 18:00] karelz commented on #26144
Thanks, the scenario makes sense. I am still not sure how it affects the plan laid out above. It does not seem to require https proxy support (2). Does it require some additional certificate APIs?

[2018-01-25 18:02] karelz commented on #25988
Closing per @Priya91's comment.

@FenrisWolfAtMiddleEarth if you believe there is still some issue lurking, it would help to be crystal clear and provide isolated repro with all details in a single post to avoid further confusion. Thanks!

[2018-01-25 18:14] tarekgh opened #26587 "Fix Completing BlockedWriters in BoundedChannel implementation"
In BoundedChannel class we have the internal field _blockedWriters which is a queue of waiting writers (a queue of TaskCompletionSource<T> objects). if the TCS objects are created without the option TaskCreationOptions.RunContinuationsAsynchronously, then during the BoundedChannel Completion operation ```TryComplete (Exception error)``` we need to mark all items inside _blockedWriters queue as fai

[2018-01-25 18:20] tarekgh commented on #26587
https://github.com/dotnet/corefx/pull/26570

[2018-01-25 18:27] tarekgh commented on #26587
Also, we need to fix the issues with
[code]

[2018-01-25 18:46] evil-shrike commented on #24843
@mikeh688 you said that you actively maintain it but "Latest commit b4c309f on Jan 10, 2017". Is it something I missed?

[2018-01-25 18:47] bartonjs commented on #26125
Fixed by #26152.

[2018-01-25 18:47] #26125 closed

[2018-01-25 18:49] bartonjs commented on #23738
Haven't heard anything about this in a while, and I don't see it in recent runs. Seems like it was a machine problem.

[2018-01-25 18:49] #23738 closed

[2018-01-25 18:49] lahma commented on #24627
Thank you @benaadams for having the patience and will to push forward great things that developers enjoy in their daily work!

[2018-01-25 18:53] geoffkizer commented on #26495
@stephentoub Re 100-continue -- at the very least, we should have a test for this.

Regardless, I think we are in agreement here and should just proceed to implementation.

[2018-01-25 18:59] geoffkizer commented on #26567
This makes sense, but it's slightly tricky because the managed handler wants to actually set TargetHost and (in the future, for HTTP2) ApplicationProtocols.  We need to work out the details here, e.g.: if TargetHost is already set, do we override?

[2018-01-25 19:08] huanwu commented on #26486
@tarekgh Why you add area-serialization tag? It is not related to serialization.

[2018-01-25 19:09] geoffkizer commented on #24257
The tricky part here is retrieving the TTL.  The standard DNS APIs on Windows/Linux don't seem to support this.  On Windows there's DnsQueryEx, which seems to do what we want.  On Linux, all I could find was some 3rd party DNS libraries, which is not ideal.

Ideally, TTL would be exposed via standard managed DNS APIs like Dns.GetHostEntryAsync.  It could be a new field on the IPHostEntry class.

[2018-01-25 19:10] geoffkizer commented on #24257
@wfurt Any suggestions on how to get this info on Linux?

[2018-01-25 19:14] #26154 closed

[2018-01-25 19:14] geoffkizer commented on #26326
Would be interesting to know what WinHTTP/Curl do here.

[2018-01-25 19:15] ericstj commented on #26457
Sure, TargetGroup implies the TFM that gets used, then that feeds into source file that is written for all assemblies.

[2018-01-25 19:15] huanwu commented on #24668
Already merged.

[2018-01-25 19:16] geoffkizer commented on #26331
@Tratcher What's the difference between the two?  Seems like we probably don't need both, but which is preferable for DNS TTL scenarios?

[2018-01-25 19:16] tarekgh commented on #26486
@huanwu nevermind, I have tagged this by mistake

[2018-01-25 19:17] #26224 closed

[2018-01-25 19:21] wfurt commented on #24257
I don't. I look at some of the API and come to same conclusion. Using libresolv  may be best we can get to.  https://docs.oracle.com/cd/E36784_01/html/E36873/libresolv-3lib.html (libresolv.9.dylib on OSX)
If we cannot get TTL per record, we may try to get TTL from SOA record.  That would still be better approximation than fixed time e.g. zone owner would have ability to hint validity of the record

[2018-01-25 19:29] huanwu commented on #23561
@yujayee Could you remove the <nowarn> tag from the project, build the project and summarize the warning into a list so we can triage one by one?

[2018-01-25 19:33] wfurt commented on #26326
Ive seen this once coming over the years. Yet I'm to see server sending LF only responses.
(being server is different story)

[2018-01-25 19:33] MrGadget1024 commented on #21942
@shmao This is not something to ignore, as the workaround is nonsense.  Imagine a class library with LOTS of classes, e.g. generated from a massive XSD, that all inherit from a common base class that provides common methods and/or properties that all those classes need to share.  That XmlText decorated property ONLY applies to that one class so we CANNOT just move it to the base class because all

[2018-01-25 19:37] karelz commented on #24668
It is not merged. It needs final API review.

[2018-01-25 19:38] shmao commented on #21942
cc: @huanwu @zhenlan

[2018-01-25 19:39] sdmaclea commented on #26581
This introduces more complicated intrinsic overloads.  For instance
+ `Multiply(Vector64<float>, Vector64<float>)`
+ `Multiply(Vector64<float>, float)`

This introduces some implementation complexity.  `lookupHWIntrinsic` must check Method arguments.

It may make the API less safe.

The second form represents multiply by vector element.  It could be renamed to
+ `MultiplyByElement(Vector64<float>,

[2018-01-25 19:40] geoffkizer commented on #26452
I missed the dump, sorry.  Yes, we should look at that.

[2018-01-25 19:42] Tratcher commented on #26326
I know WinINet/IE accept it by default. It's not common, but it does come up often enough that people need a workaround. Github's error page was the most recent server I've seen do it.

[2018-01-25 19:46] #4561 closed

[2018-01-25 19:47] ahsonkhan commented on #21395
We already have that, essentially, with IndexOf\<T\>
https://github.com/dotnet/corefx/blob/master/src/System.Memory/ref/System.Memory.cs#L42
[code]

[2018-01-25 19:53] huanwu commented on #24668
@mconnew Could you work on final API review and merge the changes?

[2018-01-25 19:54] MrGadget1024 commented on #21942
The work around we've been using all these years is to take out the inheritance, declare all of the classes as Partial when they have an XmlText decorated property that isn't a string (e.g. numeric types, dates, etc.), and make umpteen copies of the base class as Partial with the same names as these problem classes.  This is not fun to maintain when generated classes are regenerated, because all t

[2018-01-25 20:03] Tratcher commented on #26331
It's an artifact of the ServicePoint impelementation, you won't necessarily need both settings, but you will need to cover the end-to-end scenario.

ServicePoint internally caches DNS resolves for the given DnsRefreshTimeout. It also re-uses connections for the given ConnectionLeaseTimeout. The two are implemented separately, it doesn't drop all active connections when it does a DNS refresh, nor r

[2018-01-25 20:17] mconnew commented on #24668
@terrajobst, @karelz I've updated the [above comment](https://github.com/dotnet/corefx/issues/24668#issuecomment-356144185) with the latest api proposal from the PR #26153. Can we review this offline now?

[2018-01-25 20:18] karelz opened #26588 "[New test] CI failed: System.Net.WebSockets.WebSocketProtocol.Tests / WebSocketProtocol_CreateFromConnectedStream_Succeeds"
The test failed in CI:

[code]

## History of failures

Day | Build | OS | Details
-- | -- | -- | --
1/18 | 425dd3680cfc5b808a9b41b8d71c5a6a9c03a304 | Win10 | 16x failed
1/18 | 1956b2aa67f3f19be9a1d184215033637c8ab33c | Win10 | 2x failed
1/19 | 14f6df36f792307e6873c37dc201c98c03674504 | Win10 | 2x failed

@Priya91 is it something you would expect? Any chance the data I have is invalid?

[2018-01-25 21:12] KKhurin commented on #26586
Need to harden the test - looks like we'd occasionally get a sleep longer than 2 seconds (when asked for 100ms). One simple fix would just be to increase the SlidingExpiration beyond reasonable delays. Its unclear what this reasonable delay would be: 5 seconds? 10 seconds? This can also affect the test execution time...
Another (more robust) option is to measure the actual duration of each sleep a

[2018-01-25 21:16] stephentoub commented on #26495
Sounds good.

[2018-01-25 21:48] KrzysztofCwalina commented on #21395
Ah, makes sense.

[2018-01-25 21:56] KrzysztofCwalina commented on #26584
I think MemoryExtensions.ToString worse than calling the string constructor and passing in the span.

Is this really about OOB or rather fast/slow span.

[2018-01-25 22:03] stephentoub commented on #26584
Nevermind what I wrote about the override; I wasn't thinking clearly. Any Span implementation we ship could override it.

As for ME.ToString being worse than string ctor, the point of this issue is being able to use that functionality without needing .net core 2.1.

[2018-01-25 23:29] wfurt opened #26593 "Use system proxy configuration on macOS"
MacOS has system proxy configuration similar to Windows. To have better  integration with OS it may be handy to use this instead of relying on environment variables.

<img width="652" alt="proxy" src="https://user-images.githubusercontent.com/14356188/35417602-00a506e4-01e3-11e8-8424-f87d96bca222.png">

One different caveat is that the proxy is specific to interfaces we we would need to find activ

[2018-01-25 23:51] rmkerr commented on #23504
I've looked into what is going on with the repro, and think I've got some idea of what is happening. Here's a network capture of a "POST" that threw an exception. The values are listed in the order they are sent.

The client begins sending the POST, but notice how it doesn't send the data yet:
[code]
The server responds as soon as it has received the headers, and does not wait for the request body

[2018-01-25 23:53] #26357 closed

[2018-01-25 23:57] #26540 closed

[2018-01-25 23:57] #26542 closed

[2018-01-26 00:56] halter73 commented on #23504
@rmkerr Good observations. Kestrel will sometimes send a FIN immediately when the response completes without waiting to receive the entire request, but only if a few conditions are met.

1. The request must contain a request body.
2. The server application/middleware did not consume the entire request body itself.
3. The request was made over a non-keep-live connection. One case this happens is wh

[2018-01-26 01:01] davidsh commented on #23504
That is not going to be possible to fix in WinHttpHandler since it is built on native WinHttp.  Despite the fact that the HTTP protocol allows for response headers to arrive around the same time as the request body is being uploaded, WinHttp does not process the response headers until the request body is done uploading.  The sequence of calls to the WinHttp APIs are pretty rigid regarding this.

I

[2018-01-26 01:06] geleems opened #26594 "SqlDataReader.ReadAsync blocks same thread to execute synchronous code"
Customer reported an issue for `SqlDataReader.ReadAsync()` method actually runs synchronously, and it blocks the calling thread until data is fed from SQL Server.

Here is the detail description of the issue from the customer:

All of my setup code and the initialization of the `SqlCommand` is fairly small and does not have a performance hit if I run it on a UI thread in winforms.
However, because

[2018-01-26 02:11] weitzhandler commented on #26579
But going O(n) on a random access collection?

[2018-01-26 02:58] saurabh500 commented on #17126
@joelbraun Would you be interested in taking up SqlCredential?

[2018-01-26 03:01] saurabh500 commented on #17126
[code]
The above APIs need to be brought in. This can be done in phases, first by adding SqlCredential type and then working on the APIs which depend on the SqlCredential.
If you are interested, I could open another issue and assign to you.

[2018-01-26 04:17] joelbraun commented on #17126
@saurabh500 Sounds like a plan to me, I'll take a look at those and get started.

[2018-01-26 04:19] saurabh500 commented on #11542
cc @joelbraun This is the issue for SqlCredential type.

[2018-01-26 04:20] saurabh500 commented on #17126
@joelbraun The issue for the type SqlCredential is at https://github.com/dotnet/corefx/issues/11542

[2018-01-26 04:22] CIPop commented on #26144
@davidsh / @stephentoub may have more insight about this. (We should match NetFX/WinINet/WinHTTP's behavior.)

My current understanding is that it should simply flow the data as it would be towards a HTTP proxy and use the CONNECT verb. (Which means that the https URI checks would need to be removed.)

The user must import a debug-only Root CA. The proxy (Fiddler) will need to handle dynamic host-

[2018-01-26 04:26] joelbraun commented on #11542
Got it - I'll try to do the work in two phases as suggested. Move the type itself over, and then integrate it with the rest of the API.

[2018-01-26 06:15] wfurt opened #26599 "[ManagedHandler] digest authentication fails in some cases"
I have proxy setup with Squid proxy server requiring Digest authentication. When used with curl handler, everything works OK but request fails when managed handler is in use.

This is record of HTTP exchange:

[code]

note that the response from server does not have opaque field.
rfc7616 3.3. states:
"The value of the header field can include parameters from the
   following list:"
There does not

[2018-01-26 06:46] caesar1995 commented on #23799
It's a dup of #19994: set the cookie.Expires to 1 second, wait for 2 seconds to let it expires. Then find out the cookie not removed from CookieContainer yet, which causes the Assertion failure.

Only fails on Unix distro.

[2018-01-26 06:47] #23799 closed

[2018-01-26 12:33] k0st1x opened #26600 "PropertyDescriptor - MemberDescriptor.Attributes returns base attribute instead of ancestor's attribute"
"prop.Description" returns "A" instead of "B"
[code]

[EDIT] Add C# syntax highlighing & change code formatting by @karelz

[2018-01-26 16:14] ikopylov commented on #26579
Due to historical reasons all collections from BCL that implement ```IReadOnlyList<T>``` also implement ```IList<T>``` (even immutable ones). For the third-party libraries this is also true in most cases. As a result, in majority number of sitations it is enough to check only for ```IList<T>``` implementation.

LINQ is often used on a hot path, so an additional type check may result in regression

[2018-01-26 16:37] carbritomcm commented on #8807
Came here from SQL Operations Studio (Preview) as well and it would be very important to have AAD authorization working (in both username\password and Integrated).

[2018-01-26 16:37] jkotas commented on #11878
This was fixed by https://github.com/dotnet/platform-compat/issues/29

[2018-01-26 16:37] #11878 closed

[2018-01-26 17:09] czb182 opened #26601 "Microsoft.Management.Infrastructure vs System.Management"
This is more of a question than an issue, but wasn't sure where else to ask.

I just got starting working with WMI via C# using FullCLR.  I am consuming the Microsoft.Management.Infrastructure assembly since it was describing as being the modern version of System.Management here https://msdn.microsoft.com/en-us/library/mt703458(v=vs.85).aspx

I was trying to look into a CoreCLR version of Microsof

[2018-01-26 17:20] eerhardt commented on #25702
Did we decide on the namespace we are proposing?  I thought that decision was still up in the air.

[2018-01-26 17:29] tannergooding commented on #25702
I think it's still up. I believe System.Numerics is more appropriate (it isn't a primitive type), but the Api review will end up discussing this in either case.

I do think the OP could be updated to reflect the alternate name space suggested and to remove the IConvertible implementation.

[2018-01-26 17:35] sdmaclea opened #26602 "HW Intrinsic generics where clause"
We are currently using generics like this in the HW Intrinsic APi design.

[code]

This provides some compile time coverage of valid `T`instantiations.  We could do better.

For example
[code]

Further if we were willing to add interfaces to the primitive types we can do event better

[code]

Where we define the interfaces with composite set of primitive properties
[code]

The interfaces could be

[2018-01-26 17:37] sdmaclea commented on #26602
@eerhardt @CarolEidt @4creators @tannergooding @fiigii Proposal for comments.

[2018-01-26 17:42] GoldenCrystal opened #26603 "Memory<T> and large memory mapped files"
I'm currently experimenting with ````OwnedMemory<T>```` and ````Memory<T>```` in an existing project that I'm trying to improve, and I ran into an issue with ````OwnedMemory<T>```` and ````Memory<T>```` being limited to ````int.MaxValue````.

# Scenario

I have a relatively big (> 2GB) data file that I want to fully map in memory (i.e. a database). My API exposes methods that returns subsets of th

[2018-01-26 17:48] 4creators commented on #26602
Having numeric constraint C# is dream which has not come true for a very long time. You proposal has one major weakness, it does not allow to define operators on `IPrimitive` since interfaces do not support static types. There are several proposals in `csharplang` repo with probably most comprehensive one being [Exploration: Shapes and Extensions](https://github.com/dotnet/csharplang/issues/164) b

[2018-01-26 18:04] sdmaclea commented on #26602
I was aware language proposals existed, but would take a while to refine, approve, implement and release.

I was looking for something which could be done within the existing language semantics in the near term.

Pros:
It can be implemented now
Prevents creating large list of similar APIS, reducing maintenance burden.

Cons:
May use the empty interface smell
Long term it creates an API maintenance

[2018-01-26 18:47] tannergooding commented on #26602
I think this is better suited for eventual language support, if anything.

The Cons list is quite a bit bigger than the Pros list right now, and is attempting to fix a relatively small issue. `struct` should catch the majority of error cases, and the runtime will fail if a user attempts to use a non-primitive struct already. An analyzer would help catch these issues at compile time.

I'm also unsu

[2018-01-26 18:49] sdmaclea commented on #26602
Closing as consensus seems to be this is not a good direction.

[2018-01-26 18:49] #26602 closed

[2018-01-26 18:53] rmkerr commented on #23504
After doing a bit more research and talking to other members of the team, I'm going to go ahead and close this issue. I think that fundamentally it doesn't make sense for us to accept the response to a message that has technically failed to send. That appears the be the behavior of native WinHttp, so there is some precedent. Thank you both for the help on understanding what was happening here, and

[2018-01-26 18:53] #23504 closed

[2018-01-26 19:41] 4creators commented on #25702
@eerhardt @tannergooding OP has been updated as suggested.

[2018-01-26 19:47] ahsonkhan opened #26604 "Investigate ways to optimize Span.Fill for small buffers"
We need to reduce the overhead of calling Span and ReadOnlySpan Fill and improve its performance for small buffers so that it can be used in common scenarios.

**See additional context:**
https://github.com/dotnet/corefx/pull/26598#discussion_r164158124
https://github.com/dotnet/corefx/pull/26289#discussion_r162713305

cc @dotnet/corefxlab-contrib

[2018-01-26 20:18] joshfree commented on #21248
@vancem is this something that you're still considering for the 2.1 milestone?

[2018-01-26 20:42] davidsh commented on #26219
While this bug was originally opened on Linux platform, we recently changed ClientWebSocket on Windows platforms to use the same managed implementation (instead of using WinHttp).  So, now this bug would potentially affect all OS platforms of ClientWebSocket.

[2018-01-26 20:47] davidsh commented on #26335
So, this is still probably a .NET Framework and not .NET Core issue.  If so, this bug should be moved.

Can you please open a bug against .NET Framework here:?
https://developercommunity.visualstudio.com/spaces/61/index.html

Doing so will allow you to track the issue and have it be escalated to the team supporting .NET Framework networking components.

[2018-01-26 21:05] tannergooding commented on #25702
@eerhardt, this looks reasonable to me for the API proposal.

It should be everything required for it to be an opaque interchange type (base structure + conversion operations) and none of it should be overly complicated to implement in software.

[2018-01-26 21:34] mattpwhite opened #26606 "HttpListener sends malformed WWW-Authenticate mutual auth header"
Hope this is the right place to file this, not clear to me if .NET Framework issues are in scope for this repo.

In the [RFC](https://tools.ietf.org/html/rfc4559) for SPNEGO in HTTP, section 5 shows the expected exchange.  In the final 200 response from the server, the server sets a WWW-Authenticate header to `Negoitate base64(gssapi-data)`.  HttpListener sets this header to only `base64(gssapi-da

[2018-01-26 21:53] vancem commented on #21248
I have changed the milestone to Future.

[2018-01-26 21:54] davidsh commented on #26606
Does this repro in .NET Core?

.NET Framework issues are not tracked here.  Please open up .NET Framework issues here:

https://developercommunity.visualstudio.com/spaces/61/index.html

[2018-01-26 22:03] eerhardt commented on #25702
Marking the API as ready for review.

[2018-01-26 22:05] wtgodbe commented on #26294
I am not able to repro this locally @bodhichina, can you provide more details? Did you confirm Safari is where you expect it to be?

[2018-01-26 22:14] eerhardt commented on #25334
I guess I was under the assumption that we were going to do @tannergooding's (1.) proposal - "Just add Vector2d, Vector3d, and Vector4d types, which mirror the existing classes but use double".

If we went with the generic approach, would we support more types than just `float` and `double`?  Say `decimal` or `short`?

/cc @CarolEidt

[2018-01-26 22:17] eerhardt commented on #25334
Also, with the generic approach, would not having a fixed struct size be a problem?  (I don't know if there is - just bringing it up)

[2018-01-26 22:49] mattpwhite commented on #26606
Just threw together the repro below running on .NET Core.  The response is still malformed with HttpListener.  It is correct with HttpSysListener, there's a switch to control which one is used.  My understanding of .NET versions leaves something to be desired, but I think this is current:

[code]

I took the default ASP.NET Core blank template in VS, targeting .NET Core 2.0, deleted Startup.cs and

[2018-01-26 22:58] saurabh500 opened #26607 "Consolidate the SqlClient and Odbc connection pool code at one location"
The code for SqlClient and Odbc have duplicated the connection pool code.
This code should be consolidated in the Common folder and a single code base should exist for Connection Pool, the same way .Net framework uses it.
This reduces maintenance cost and code duplication as observed in PR https://github.com/dotnet/corefx/pull/26065

[2018-01-26 23:06] tannergooding commented on #25334
My thought on a generic approach is that the vector operations are generally valid on any type of numeric data and it might make extension to support future types easier, if that was desired.

Currently the support is `System.Single` (existing code) and `System.Double` (this proposal). However, we are looking at adding at least one other floating-point type (`System.Numerics.Half`) and could look

[2018-01-26 23:06] corivera commented on #26546
@stevenreddie This code doesn't repro for me in master when testing against an Azure SQL DB. What version of System.Data.SqlClient.dll are you using? The environment version is just a hard-coded value in Core.

[2018-01-26 23:12] stevenreddie commented on #26546
How do I go about checking that? I am running Visual Studio Community on Mac, and I let everything get updated and tested again before reporting.

[2018-01-26 23:13] davidsh commented on #26606
HttpListener is the .NET Core class similar to .NET Framework's HttpLIstener.

"HttpSysLIstener" is a new class handled in ASP.NET Core that uses http.sys underneath similar to HttpListener, but has some additional features.

[2018-01-26 23:17] dustinmoris opened #26608 "Weak ETags are missing the W/ in the response"
Hi,

I have code like this:

[code]

which generates the following ETag header in the response:

[code]

but instead it should be:

[code]

One thing which I find weird is that the [constructor of the `EntityTagHeaderValue`](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Headers/EntityTagHeaderValue.cs/#L45) requires me to pass in a quoted value (e.g. `"some-e

[2018-01-26 23:28] dustinmoris commented on #26608
Maybe it's because it's late for me today, but something else is extremely confusing...

The docs and my code both show the constructor to require a `StringSegment`: https://docs.microsoft.com/en-us/dotnet/api/microsoft.net.http.headers.entitytagheadervalue.-ctor?view=aspnetcore-2.0

However, the linked file from above doesn't... also the namespaces are different:
`Microsoft.Net.Http.Headers` vs `

[2018-01-26 23:37] corivera commented on #26546
What SqlClient package version is referenced in the csproj?

[2018-01-27 00:05] huanwu opened #26610 "Add SerializerVersionMatch when load pregenerated XmlSerializer"
Add [IsSerializerVersionMatch](http://referencesource.microsoft.com/#System.Xml/System/Xml/Serialization/Compilation.cs,199) check in SGEN to check if the serializer's parent assembly id is the same as the data assembly id.

[2018-01-27 00:22] mattpwhite commented on #26606
Yeah, that's what I gathered.  They both behave the same way (incorrectly) wrt this issue.

Yeah, it does look like a nicer implementation from what I can see (even putting aside that it does mutual auth correctly).  I'd love to be able to just drop HttpListener for HttpSysListener here, but that seems like it would completely blow up the size of my app.  I get the push to containerized services,

[2018-01-27 00:40] stevenreddie commented on #26546
The csproj file doesn't appear to have any version info for System.Data. However, in the IDE under Reference, System.Data is listed as /Library/Frameworks/Mono.framework/Versions/5.4.1/lib/mono/4.6.1-api/System.Data.dll. Also the .NET runtime seems to be Mono 5.4.1.7. Does that cover what you need?

[2018-01-27 00:53] davidsh commented on #26606
cc: @dotnet/ncl

[2018-01-27 00:59] corivera commented on #26546
Ah, okay. Mono is a completely separate framework from .NET Core.

@danmosemsft Who owns Mono?

[2018-01-27 01:06] GrabYourPitchforks opened #26611 "System.Memory project should consume shared sources for Span"
See https://github.com/dotnet/corefx/issues/25188 for context. We should make a similar change here with `Span` so that we don't have two different implementations between coreclr and corefx.

n.b. The mirroring is already taking place, but the System.Memory project doesn't reference the shared sources for `Span`.

[2018-01-27 01:08] stevenreddie commented on #26546
I had thought that .NET Core provided these components (and that .NET Core was a multi-platform fork of parts of .NET). To be clear, I installed Visual Studio Community on my Mac and simply loaded a solution that had been developed on Windows (without changing any settings).

[2018-01-27 01:27] corivera commented on #26546
Mono is a different cross-plat implementation of .NET Framework. Core & Mono implement the same APIs (as far as I know), but are separate frameworks. Visual Studio for Mac is built on top of Mono.

The Mono repo can be found here: https://github.com/mono/mono

[2018-01-27 01:36] corivera commented on #26546
If you would like to use .NET Core in Visual Studio for Mac, then here is some documentation for it: https://docs.microsoft.com/en-us/dotnet/core/tutorials/using-on-mac-vs

[2018-01-27 01:48] stevenreddie commented on #26546
Strange, I never installed Mono, only .NET Core and Visual Studio, so it's very strange to me that I'm not using .NET Core from within Visual Studio. Those are the instructions that I followed. I guess I'll repeat this issue on the Mono project.

[2018-01-27 01:50] karelz commented on #26606
Isn't HttpListener backed by http.sys on Windows core and on .NET Framework. If they both fail, then it is likely bug in http.sys, or how we set it up.
There is also managed implementation of HttpListener (used on Linux). I wonder if you hit same problem there (it may lack some authentication support).

[2018-01-27 02:26] mattpwhite commented on #26606
It is backed by http.sys, but so (obviously) is HttpSysListener in Core, and it doesn't have the problem.  Nor does the awful thing I put together in C based on some sample in the Win7 SDK that is basically the bare minimum use of the HTTP Server API to use http.sys and enable Negotiate.  My guess is it's "or how we set it up".

You can ask http.sys to give the usermode server the mutual auth data

[2018-01-27 05:51] danmosemsft commented on #26546
@corivera, @marek-safar is a contact for Mono.

[2018-01-27 10:42] khellang commented on #26608
ASP.NET Core have their own copies. See https://github.com/aspnet/Announcements/issues/244

[2018-01-27 11:31] dustinmoris commented on #26608
@khellang This is still super confusing... I feel like unless I follow every tweet and every discussion in the .NET Core repos it's extremely confusing to what all these things are. I get that they improved the class by utilizing StringSegment, but why on earth do we need to have two identical classes now in different namespaces instead of just updating one class to the new constructor type?

[2018-01-27 12:08] dustinmoris commented on #26608
Ok, nevermind... my tests where using `response.Headers.ETag.Tag` for checking whether the ETag was correct, but instead I should have used `response.Headers.ETag.ToString()`, because the `.Tag` property never contains the `W/`.

[2018-01-27 12:08] #26608 closed

[2018-01-27 12:59] yaakov-h commented on #24627
Can this please be considered for porting to .NET Framework CLR?

[2018-01-27 14:52] sdmaclea commented on #26527
@eerhardt @CarolEidt @RussKeldorph API-Ready-For-Review?

[2018-01-27 16:13] baal2000 opened #26614 "GetResponseCallback() does not translate WebException into HttpResponseMessage in GetResponseCallback()"
**Issue**
RE: [HttpClientHandler.Net46.cs GetResponseCallback()](https://github.com/dotnet/corefx/blob/c20c3172cfa8cd926c6acac435b9a72c77d655fe/src/System.Net.Http/src/System/Net/Http/HttpClientHandler.Net46.cs#L1001):

For unsuccessful http requests (for example: '404' Not Found) `HttpClientHandler.Net46` implementation behaves differently than other implementations of `HttpClientHandler`. While

[2018-01-27 17:29] davidsh commented on #26614
Do you have a small standalone repro of the behavior you are talking about?  Or did you discover this via code inspection?

Originally, HttpClientHandler.Net46.cs was a copy of the actual .NET Framework source code.  So, it is surprising that you are observing this behavior.

The code you reference is part of the .NET Framework support package in the release/2.0.0 branch which is no longer needed

[2018-01-27 17:29] davidsh commented on #26614
cc: @karelz

[2018-01-27 17:56] karelz commented on #26599
@wfurt do you plan to submit a PR?

[2018-01-27 17:57] wfurt commented on #26599
yes, I can. I'll write some test as well.

[2018-01-27 18:04] karelz commented on #26599
Great, thanks!
@Priya91 is working on protocol tests for authentication. I would recommend to sync up with her to avoid duplicated effort.

[2018-01-27 18:06] karelz commented on #24627
@yaakov-h it would help to have list of ALL required PRs which formed the improvement.
We will also have to check compatibility - the bar is much higher in .NET Framework.

Marking for consideration (disclaimer: I am currently not aware of ETA on when we will do next sweep of changes to port into .NET Framework)

[2018-01-27 18:10] baal2000 commented on #26614
@davidsh
I have been running tests of a 3-rd party library that converts unsuccessful SendAsync responses into own exceptions. This is a niche scenario, there is very little practical value in opening and resolving the issue.

Sound like the implementation is "dead end". I would not mind if you close the ticket as `will not fix` to avoid adding more bugs.

Also note that `webException.Response` co

[2018-01-27 18:10] karelz commented on #26606
@mattpwhite given your knowledge of http.sys and the fact you have a setup handy, would you be willing to debug .NET Core source code and help us find the root cause?
If we know the root cause and/or if there is PR, it would make it easier to get a fix in ...

[2018-01-27 18:38] karelz commented on #24668
@mconnew https://github.com/dotnet/corefx/issues/24668#issuecomment-351145636 asked for sample code. Do you plan to add it?
BTW: I would recommend to start email thread with Immo once it is ready.

[2018-01-27 20:40] JonHanna opened #26615 "NetFX Failing CI for System.Data.SqlClient.Tests"
E.g. https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/7466/console https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/7464/console and https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prt

[2018-01-27 21:18] atykhyy commented on #25876
The implementation of `FileShare` in [`corefx/src/Common/src/CoreLib/System/IO/FileStream.Unix.cs`](https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/IO/FileStream.Unix.cs#L71) is completely broken and does not fulfil the [promises in the documentation](https://docs.microsoft.com/en-us/dotnet/api/system.io.fileshare). The behavior you observe happens because the Unix imple

[2018-01-27 21:33] GrabYourPitchforks commented on #17135
@qmfrederik Yes, I plan on tackling this in the near future. Will remove the up-for-grabs label.

[2018-01-27 21:34] stephentoub commented on #25876
@atykhyy, how do you propose the implementation be improved?

[2018-01-27 21:35] SpaceMonkeyForever commented on #24361
Is there any workaround for this? I want to allow redirection.

[2018-01-27 21:37] atykhyy commented on #25876
Use `fcntl(2)` locks (`F_SETLK(W)`) which support read and write lock types. These are POSIX, compatibility should not be a problem. If the underlying platform or filesystem does not support locking at all, I'm afraid there is nothing else to do but crash the process, because otherwise the code in it that relies on locking semantics will be running with invalid assumptions, possibly leading to dat

[2018-01-27 21:46] stephentoub commented on #25876
That has worse problems, e.g. from the man page:
     "This interface follows the completely stupid semantics of System V and IEEE Std 1003.1-1988
     (``POSIX.1'') that require that all locks associated with a file for a given process are removed when
     any file descriptor for that file is closed by that process."
You know it's a bad sign when the man page calls the feature "stupid".

[2018-01-27 21:50] atykhyy commented on #25876
For what it's worth, Linux has "open file description `fcntl` locks" which avoid the problem with POSIX `fcntl` locks, but they have the same single writer-multiple reader semantics.

[2018-01-27 22:01] SpaceMonkeyForever commented on #24361
For anyone else reading this after being frustrated for hours, if you want to force allow redirection:

`            var request = new HttpRequestMessage(HttpMethod.Get, url);
            var httpResponseMessage = await _client.SendAsync(request, HttpCompletionOption.ResponseHeadersRead);

            // IMPORTANT
            // .NET Core does not allow redirection from HTTPs -> HTTP and won't giv

[2018-01-27 22:19] atykhyy commented on #25876
Since, as I'd mentioned above, running code that relies on Windows `FileShare` semantics on a platform that silently does not provide that level of granularity may result in data corruption, running `netcore` code using non-default `FileShare` on Windows and Unix is a bad idea. It's better to crash than to corrupt data. Restricting `netstandard`'s `FileShare` enum to the set of options common to b

[2018-01-28 03:08] SinnersSumit opened #26616 "Naming decision behind ref structs"
I am confused as to why the new stack-only structs are called `ref struct`. I understand the desire to reuse keywords, but why are they not titled `stackalloc struct` instead? They are after all objects which must never leave the stack, and I think `ref` would tend to imply the opposite. I understand that this is past the point where it can be changed, but I would still like to know why `ref struc

[2018-01-28 03:33] MhAllan opened #26617 "System.Net.WebSocket ReceiveAsync reads wrongly when buffer is smaller than whole message"
I am using websockets sending 1046 bytes using SendAsync, while the receiving is using buffer of 1024 which is 22 byte less than the whole message.

I suppose I can do a loop where first round reads 1024 byte with WebSocketReceiveResult.EndOfMessage is false, then receive 22 byte with WebSocketReceiveResult.EndOfMessage is true. but that's not what actually happens, what happens is that the first

[2018-01-28 06:20] ForNeVeR opened #26618 "Directory.Move and Directory.Delete ignore the trailing space"
[code]

Throws an exception:

[code]

Also, if I manually create `"T:\Temp\aaa "` (with space), I can't rename it with `Directory.Move` or delete with `Directory.Delete`. It ignores the space, tries to find `"T:\Temp\aaa"` (without space) and throws `System.IO.DirectoryNotFoundException`.

It seems that the core reason lies in `Path.GetFullPath`:

[code]

I'm not sure if we could ever fix `Path.Ge

[2018-01-28 06:33] ForNeVeR commented on #26618
Alright, it doesn't seem like it's a .NET bug.

Workaround is to use UNC path:

[code]

[2018-01-28 08:43] mikedn commented on #26616
Why? `ref` can't never leave the stack either.

Mainly because it all tends to revolve around `ref`. Normally you can't have a `ref` field in a struct but `Span<T>` pulled some magic strings and got one. The there was a need to create custom structs that contain `Span<T>` field and then these struct must also be confined to the stack like `Span<T>`. And having a `ref` field in a struct also has im

[2018-01-28 11:27] weitzhandler commented on #26579
So what's the point I implementing `IReadOnlyList<T>` as a gateway to random access if not always respected by the BCL?

[2018-01-28 11:46] benaadams commented on #24627
https://github.com/dotnet/coreclr/pull/14652 is already `netfx-port-consider`

Other two are https://github.com/dotnet/coreclr/pull/15781 and https://github.com/dotnet/coreclr/pull/14655

[2018-01-28 13:25] JonHanna opened #26619 "Regression in Microsoft.CSharp on accessing accessor or operator methods directly."
The following code behaves differently on netfx and corefx:

[code]

In netfx the behaviour of each line is:

1. Error with message "'string.operator ==(string, string)': cannot explicitly call operator or accessor".
2. Error with message "'string.Length.get': cannot explicitly call operator or accessor".
3. `e` is set to `'c'`.

On corefx the behaviour is:

1. Error with message "Non-invocable me

[2018-01-28 13:30] JonHanna commented on #26619
(It's curious that line 3 is explicitly allowed. At a guess it was because with issues #22500 and/or #22534 allowing it would allow those cases where C# does allow hitting a parametrised properties accessors. Now that those are fixed the closest match to standard C# behaviour would be to remove the faulty branch entirely, but that would be a breaking change).

[2018-01-28 14:29] MarekPokornyOva opened #26621 "Possibly incorrect branch distance calculation"
Type: System.Reflection.Metadata.Ecma335.ControlFlowBuilder (in https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/src/System/Reflection/Metadata/Ecma335/Encoding/ControlFlowBuilder.cs)

[code]
Do I understand correctly, this doesn't follow really written instruction (leave / leave.s) and presume a compiler uses only short instruction for short jump? What happens if the co

[2018-01-28 16:17] fanoI opened #26622 "Unsafe slower than unsafe"
I was playing with the Unsafe Nuget package (that if I'm not mistaking is part of CoreFx) and sincerely I expected to have performance characteristics in pair with unsafe but trying to convert a bool to byte shows that is slower a lot slower!

This is my test code:

[code]

These are my results:

[2018-01-28 16:37] jkotas commented on #26622
This does not repro for me with .NET Core on current master. Both loops gets optimized into;

[code]

As you can see, the value is not even read in the loop. This microbechmark does not represent what will happen if you use Unsafe in real code.

Unsafe can be slower for several reasons:
- We had to a fix a few optimization bugs in the JIT to make it generate good code for Unsafe. Older runtimes do

[2018-01-28 16:39] jkotas commented on #26621
cc @tmat

[2018-01-28 17:05] fanoI commented on #26622
I've tested this with the production version of Net Core 2.0, what values do you get with master?
What microbechmark  you would suggest to see better the differences between the unsafe and Unsafe?

[2018-01-28 18:46] madelson opened #26623 "Canceling SQL Server query with while loop hangs forever"
See StackOverflow post (https://stackoverflow.com/questions/48461567/canceling-query-with-while-loop-hangs-forever?noredirect=1#comment83955305_48461567) here for a full description of the issue.

Essentially, the issue is that for a certain query I am finding that calling `CancellationTokenSource.Cancel()` hangs indefinitely instead of canceling the query. The same query cancels instantly in SQL

[2018-01-28 19:19] jkotas commented on #26622
I have tried on .NET Core 2.0 (x64 release) and I am not seeing the problem there either.

Around 0%. The micro benchmark is sensitive to code alignment, so it varies quite a bit. Here is an example of one run (I have changed it to do more iterations).

[code]

- Do not read the value from the same spot all the time. E.g. iterate through an array.
- Do something with the value being read. E.g. com

[2018-01-28 19:26] mikedn commented on #26622
I also tried with .NET 4.7.1 and I don't see any differences either. Not even when running on x86 using JIT32.

Could you post the assembly generate for that method?

[2018-01-28 19:46] onyxmaster commented on #26335
Thanks for the advice, David, I did as you told me to: https://developercommunity.visualstudio.com/content/problem/189544/he-httpclientsendasync-throws-webexception-instead.html

Should I close this issue for now?

[2018-01-28 20:18] SinnersSumit commented on #26616
I can see the logic of that, but I was mostly thinking about this from the angle of _reference types_ being heap only, and in that context `ref struct`s being stack only is counter intuitive. Thank you for the answer.

[2018-01-28 20:18] #26616 closed

[2018-01-28 20:32] JonHanna commented on #26616
Maybe being something that further shows that `ref` is unrelated to reference types is a minor didactic benefit!

[2018-01-28 23:06] fanoI commented on #26622
This the ASM for unsafe:

``
    75:                     unsafe { j = *(byte*)(&b); }
00007FF950890A96  nop
00007FF950890A97  movzx       ecx,byte ptr [rbp+0D8h]
00007FF950890A9E  mov         dword ptr [rbp+0E4h],ecx
00007FF950890AA4  nop
``

this is for Unsafe:

``
     80:                     j = Unsafe.As<bool, byte>(ref b);
00007FF950890AFC  lea         rcx,[rbp+0D8h]
00007FF950890B03  call

[2018-01-28 23:10] gafter opened #26624 "Reference assembly missing members for KeyValuePair and ReadOnlyMemory"
@carlreinke commented on [Sat Jan 27 2018](https://github.com/dotnet/roslyn/issues/24493)

**Version Used**: Microsoft (R) Visual C# Compiler version 2.6.0.62329 (5429b35d)

**Steps to Reproduce**:

[code]

**Expected Behavior**: Show error message and fail to compile.

**Actual Behavior**: Compilation succeeds.

---

@gafter commented on [Sat Jan 27 2018](https://github.com/dotnet/roslyn/issues/2

[2018-01-28 23:17] tannergooding commented on #26624
This looks like it was already fixed in some commit: https://github.com/dotnet/corefx/blob/a3986843153e27e92c89907f58046bb37da0f9eb/src/System.Memory/ref/System.Memory.cs#L108

[2018-01-28 23:20] tannergooding commented on #26624
I don't see where the reference contract for KeyValuePair is, however. I'm probably just missing it somewhere.

[2018-01-28 23:21] jkotas commented on #26622
This non-optimized debug code. Try passing `-c Release` to the command line to get optimized code.

[2018-01-29 01:38] tannergooding commented on #26624
Reference contract for KVP is in `System.Runtime` and also looks to be correct: https://github.com/dotnet/corefx/blob/master/src/System.Runtime/ref/System.Runtime.cs#L3907

(GitHub search wouldn't find it, `git grep` did).

[2018-01-29 02:18] akoeplinger commented on #26624
FYI only files smaller than 384 KB are searchable on GitHub (https://help.github.com/articles/searching-code/#considerations-for-code-search)

[2018-01-29 04:33] tannergooding commented on #25386
I have some early numbers (for `Vector4`) when using HWIntrinsics and they look good (see https://github.com/dotnet/corefx/issues/25386#issuecomment-351258902 for branch info).

NOTES:
* The HWIntrinsic code is only using VEX encoded SSE instructions, while the JIT Intrinsic code is using AVX instructions in a couple places (such as `Dot`).
* The HWIntrinsic code doesn't have full containment supp

[2018-01-29 04:41] iSazonov commented on #13551
We see this problem in [PowerShell Core repo](https://github.com/PowerShell/PowerShell/pull/6054#issuecomment-361084027) too. It leads to the collapse of our tests and nightly builds randomly. We also see that simple queries take up to 1 second, and the redirection tests are more than 5 seconds! We use .Net Core Runtime 2.0.5 and Kestrel as test HTTP server.

[2018-01-29 06:22] GrabYourPitchforks commented on #26604
We should look at `Span<T>.Clear()` at the same time.

[2018-01-29 07:01] mikedn commented on #26616
Ah, but `ref` doesn't have anything to do with reference types except the perhaps unfortunate naming overload. A `ref` is a "managed pointer" that can point anywhere - GC heap, native memory, stack memory.

[2018-01-29 09:13] Sunny-pu commented on #23209
Following test failed again in Master branch, detail:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20180129.01/workItem/System.Data.SqlClient.Tests

The test System.Data.SqlClient.Tests/System.Data.SqlClient.Tests.DiagnosticTest has failed.
[code]

[2018-01-29 09:57] abhishkk opened #26626 "How to make ConfigurationManager to pick assembly config instead of exe.config?"
By default, ConfigurationManager.AppSettings returns config file of the application which is getting executed.
What to do for ConfigurationManager.AppSettings to return config file of assembly which is loaded in that application.

For example if Console1.exe is loading assembly1.dll, then what to for ConfigurationManager.AppSettings to return assembly1.dll.config instead of console1.exe.config?

[2018-01-29 11:05] pvasek commented on #7812
@davidsh Is there any KB for that issue? I am curious about updates for older systems.

[2018-01-29 12:01] khellang opened #26627 "Allow setting "restricted" headers using ClientWebSocket"
`ClientWebSocket` uses `ClientWebSocketOptions`, which has a `SetRequestHeader(string headerName, string headerValue)` method that allows you to set custom headers for the initial web socket request.

The problem is that this calls into `WebHeaderCollection.Set(string name, string value)`:

https://github.com/dotnet/corefx/blob/f8c403f7b05daf4b7f07d4b45ac7ee7f2372abfb/src/System.Net.WebSockets.Cli

[2018-01-29 12:24] artkpv commented on #24425
@ViktorHofer
Regarding the first part. Do I understand it right? We need to keep the cache in the way that more frequently retrieved items stay there longer. And the constructor can be called many times. And we need to get cache quickly. So, imho, adding a hash table to get an item and then move it at first place in `s_livecode` should suit. (Using only hash table doesn't give us what item to remo

[2018-01-29 12:25] ayende opened #26628 "StackOverflow in error handling under low memory conditions"
Dump for this issue is here: https://drive.google.com/a/ayende.com/file/d/1f5HYZX3Q4-obubl6C1y4xKxcP5mCTMTV/view?usp=drive_web

We are testing our software under low memory conditions and we are seeing some crashes in this regard.
Related: https://github.com/dotnet/coreclr/issues/16004

We are testing what happens when we run out of room to allocate, and how we can survive that, and we started see

[2018-01-29 12:29] khellang commented on #26627
Related SO post (with a horrible workaround): https://stackoverflow.com/questions/22635663/setting-user-agent-http-header-in-clientwebsocket
Also, the usual "closed by design" Connect issue: https://connect.microsoft.com/VisualStudio/feedback/details/840553/system-net-websockets-clientwebsocket-does-not-allow-to-set-the-http-header-user-agent

[2018-01-29 12:45] khellang commented on #26627
Even with horrible hacks like getting `ClientWebSocketOptions.RequestHeaders.InnerCollection` using reflection and adding the headers directly, it still throws because the following code also does validation:

https://github.com/dotnet/corefx/blob/f8c403f7b05daf4b7f07d4b45ac7ee7f2372abfb/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs#L115-L123

I'm running on

[2018-01-29 13:33] JonHanna opened #26630 "Microsoft.CSharp uses internal enum value instead of natural language in error message."
Given:

[code]

On netfx the resulting error message is "Using the generic method 'UserQuery.C.M<T>()' requires '1' type arguments", but on corefx it is "Using the generic SK_METHOD 'UserQuery.C.M<T>()' requires '1' type arguments". Similar things happen with other attempts to use a type of symbol (type, property, field, etc.) in an error message.

[2018-01-29 13:53] JonHanna opened #26632 "Microsoft.CSharp inconsistent errors and InternalCompilerException on invoked name matches nested class"
Given

[code]

Then the likes of:
[code]

Will all throw an exception with a message of "'Outer' does not contain a definition for 'Inner'", which isn't quite right, but is reasonable.

However, if `Outer.Inner` is used in a dynamic operation prior:

[code]

Then the above code run after this will for the `d.Inner<int>()` case have an error message of "The non-generic type 'UserQuery.Outer.Inner'

[2018-01-29 14:56] AtsushiKan commented on #26600
This is not Reflection code. `TypeDescriptor` is from `System.ComponentModel.TypeConverter.dll`.

[2018-01-29 15:17] bachratyg commented on #21833
Can this be done like the ValueTuple nuget? Separate package for older platforms, built-in for newer platforms.

[2018-01-29 15:24] #25607 closed

[2018-01-29 15:27] artkpv commented on #24425
Here is the test I'm thinking to optimize:
[code]
Runs in 7.258ms, mean time.

[2018-01-29 15:32] TylerBrinkley opened #26634 "Add a generic OrderedDictionary class"
Often times I've come across places when needing a `Dictionary` where the insertion order of the elements is important to me. Unfortunately, .NET does not currently have a generic `OrderedDictionary` class. We've had a non-generic `OrderedDictionary` class since .NET Framework 2.0 which oddly enough was when generics were added but no generic equivalent. This has forced many to roll their own solu

[2018-01-29 15:35] sharwell commented on #26634
:memo: Technically [`SortedList<TKey, TValue>`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.sortedlist-2) is an ordered dictionary.

[2018-01-29 15:40] TylerBrinkley commented on #26634
@sharwell `SortedList` and `SortedDictionary` are not hash tables but trees resulting in `O(log(n))` lookups instead of `O(1)` for `Dictionary`.

[2018-01-29 15:41] sharwell commented on #26634
Is the request here for a sorted dictionary, or for an insertion-order-preserving dictionary similar to [`LinkedHashMap<K, V>`](https://docs.oracle.com/javase/8/docs/api/java/util/LinkedHashMap.html)?

[2018-01-29 15:42] TylerBrinkley commented on #26634
Insertion-order-preserving dictionary

[2018-01-29 15:44] sharwell commented on #26634
Ah, [`OrderedDictionary.Insert`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.specialized.ordereddictionary.insert) explains a lot about the expectations here.

[2018-01-29 16:01] #23549 closed

[2018-01-29 16:08] stephentoub opened #26637 "System.Drawing.Common SetHdevmode_IntPtr_Success does not work for me locally"
[code]
From a quick look, this appears like it could be a product bug rather than a test bug, on both netfx and netcoreapp.  The Copies value is not being transferred as it's expected to be.  Either it's a product bug to be fixed, or the test's expectation that Copies gets copied is incorrect.

[2018-01-29 16:08] TylerBrinkley opened #26638 "Add an OrderedSet class"
Sometimes I've come across places when needing a `HashSet` where the insertion order of the elements is important to me. Unfortunately, .NET does not have an `OrderedSet` class even though it has a `SortedSet` which to me has less value but perhaps not to others. This has led to users rolling their own solution, typically by using a combination of a `LinkedList` and `Dictionary` field resulting in

[2018-01-29 16:08] TylerBrinkley commented on #26638
Related to #26634

[2018-01-29 16:08] TylerBrinkley commented on #26634
Related to #26638

[2018-01-29 16:15] KrzysztofCwalina commented on #26603
We will be soon adding ReadOnlyBuffer<T>. See https://github.com/dotnet/corefxlab/blob/master/src/System.Buffers.Primitives/System/Buffers/ReadOnlyBuffer.cs

We would be interested in your feedback on this type. Would it support your scenarios?

[2018-01-29 16:50] #25575 closed

[2018-01-29 16:51] ViktorHofer commented on #26472
@logiclrd to me this bug seems similar to what you fixed earlier. as you are already familiar with the code base, do you want to give a try?

[2018-01-29 16:54] ViktorHofer commented on #26472
Oh I didn't read to the end. Sorry @logiclrd for pinging you. It seems this issue first needs to be discussed before taking any action.

[2018-01-29 16:59] ViktorHofer commented on #26472
That's definitely not an option.

I agree. The necessary changes are minor and straightforward to implement. Though without binary serialization hacks we can't support roundtripping with different runtimes (as you already pointed out). This isn't the first case and I'm inclined to just make it work on .NET Core with `SerializationFormat.Binary`.

[2018-01-29 17:00] ViktorHofer commented on #26472
also cc @krwq who helped with DataTable/DataColumn binary serialization.

[2018-01-29 17:08] karelz commented on #13551
@iSazonov it is not clear if it is the same problem. Do you have a repro without PowerShell involved showing the long delays? We would be interested in looking into that.

[2018-01-29 17:21] ViktorHofer commented on #23804
Thanks, I will do the remaining work in the binary serialization test project.

[2018-01-29 17:26] karelz commented on #20177
Closing. If there is more evidence of any problems, please let us know and we can reopen if there is more info available. Thanks!

[2018-01-29 17:26] #20177 closed

[2018-01-29 17:35] stephentoub opened #26643 "Remove ValueStringBuilder.set_Length"
https://github.com/dotnet/corefx/pull/26642#discussion_r164504598
From @jkotas:

[2018-01-29 17:36] mgravell opened #26644 "Span<T> : promote NonPortableCast (or Cast, whatever the new name) from an extension method to an instance method"
Problem: methods are currently extension methods:

        public static ReadOnlySpan<TTo> NonPortableCast<TFrom, TTo>(this ReadOnlySpan<TFrom> source)
            where TFrom : struct
            where TTo : struct;
        public static Span<TTo> NonPortableCast<TFrom, TTo>(this Span<TFrom> source)
            where TFrom : struct
            where TTo : struct;

Due to limitations of generic ty

[2018-01-29 17:46] danmosemsft commented on #26472
@ViktorHofer if we're settled on #2 then I suggest you give this to @Anipik . ? He can learn about binary serializtaoin.

[2018-01-29 17:47] ViktorHofer commented on #26472
@Anipik ping me if you need help

[2018-01-29 17:55] danmosemsft commented on #26628
@davidwrighton I believe you hooked this up originally?

I don't have access to the dump yet and the stack is not clear due to missing symbols but it seems to be get stack trace -> portable PDB reader -> allocation failure -> ...  as @ayende suggests.

What expectations do we have in case of stack overflow? @janvorli ?

[2018-01-29 17:57] danmosemsft commented on #26624
Seems resolved

[2018-01-29 17:57] #26624 closed

[2018-01-29 17:59] danmosemsft commented on #26618
@JeremyKuhne why do we do GetFullPath here -- it is sprinkled all over Directory.cs for example. What does it do that the OS can't do itself? Seems like another case where we should not be owning normalization?

[2018-01-29 18:02] danmosemsft commented on #26600
.NET Framework returns "B" correctly.

@k0st1x any interest in offering a PR?

[2018-01-29 18:06] danmosemsft commented on #26561
This is wrong. In general the code tries to convert ERROR_FILE_NOT_FOUND to ERROR_PATH_NOT_FOUND etc. @Anipik can you see where this is getting thrown from.

[2018-01-29 18:08] danmosemsft commented on #26519
@loop-evgeny it would guarantee the fix gets in for 2.1.... currently it is not scheduled for that.

[2018-01-29 18:16] davidsh commented on #7812
This issue was fixed in Windows 10 releases:

This was fixed in 10.0.14393. That means it is fixed in Windows Server 2016 since the RTM release of that server SKU was build 14393. For Windows 10, it means "Windows 10 Version 1607 (Anniversary Update)" which is build 14393. See: https://en.wikipedia.org/wiki/Windows_10_version_history

I am not aware if there are KB articles directly addressing thi

[2018-01-29 18:20] bartonjs commented on #24524
Some example usage:

#### Check a SignedCms's SignerInfo for date-based compliance
[code]

#### Sign a document including a cryptographic timestamp

[code]

#### Get a cryptographic timestamp a way that SubmitRequestAsync cannot handle

[code]

#### An overly simplistic timestamp issuance authority

[code]

[2018-01-29 18:24] benaadams commented on #26644
/cc @KrzysztofCwalina

[2018-01-29 18:29] danmosemsft commented on #26628
Symbols resolved (@ayende coreclr symbols are on the public symbol server see https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/microsoft-public-symbols ie https://msdl.microsoft.com/download/symbols )

[code]

[2018-01-29 18:40] #26486 closed

[2018-01-29 18:41] ViktorHofer commented on #26361
same for me when doing a -framework:uap build.

[2018-01-29 18:48] danmosemsft commented on #26628
The dump does not seem to have an actual SO, although ReadEmbeddedPortablePdbDebugDirectoryData does appear twice.

[2018-01-29 18:52] ianhays commented on #14376
On the latest version of the VS preview this is now fixed for the fast span using its current implementation.

![image](https://user-images.githubusercontent.com/2606879/35528339-65da099a-04e2-11e8-8b93-4c181e782dbd.png)

[2018-01-29 18:52] #14376 closed

[2018-01-29 18:55] ViktorHofer commented on #26361
also happening on uapaot.

[2018-01-29 19:02] fujiy commented on #14376
After the fix been released, should we "simplify" the slow span debugger proxy version?

https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/SpanDebugView.cs

[2018-01-29 19:09] bartonjs commented on #24891
@janvorli I think on one of the copies of this issue we talked about probing for the Debian name first, since it shouldn't (hopefully) exist on any other system.  While I'm generally leery of trying the wrong thing first, it has a lower fault rate in this case; and we aren't getting rid of the curl dependency in the 2.1 release.

What are your thoughts?

[2018-01-29 19:17] #25662 closed

[2018-01-29 19:18] ahsonkhan commented on #26644
cc @ianhays

[2018-01-29 19:18] safern commented on #25762
@weitzhandler thanks for your suggestion. After thinking this through with @ianhays we think this doesn't really saves much work, from the example that you included, the one using this proposed API, seems confusing to me on how the User is being compared, also, what if u.UserName is not a primitive nor IComparable type?

We don't think this API would add much value and save much work to people, ba

[2018-01-29 19:18] #25762 closed

[2018-01-29 19:24] safern commented on #26058
After discussing this with @ianhays we think that it is not valuable adding a new API which would be a copy of an existing API but with a different implementation. First of all this would confuse costumers, second of all any one could implement this by using our interfaces. So we really think that what is suggested here is to change the implementation to have a better performance, something like p

[2018-01-29 19:24] #26058 closed

[2018-01-29 19:28] ViktorHofer commented on #24916
The following exceptions are now also failing for me locally (on Win10 RS4) only in uap configuration. I'm not sure why they aren't failing in CI/MC.

[code]

[2018-01-29 19:31] ViktorHofer commented on #24916
cc @safern maybe you know if something changed with S.R.InteropServices.*?

[2018-01-29 19:32] fanoI commented on #26622
I've selected release in Visual Studio and this the assembly generated for unsafe:

[code]
Unsafe does not do the call anymore but it not a NOP:

[code]

It seems that there is overhead caused by Visual Studio, this results are obtained doing dotnet run on "Developer Command Prompt":

The number of iterations is now 1'000'000'000.

[2018-01-29 19:33] ahsonkhan commented on #14376
Yes! Ian and I discussed this already and he plans to simplify it to just a ToArray call, similar to what Fast Span does atm.
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/SpanDebugView.cs#L26

[2018-01-29 19:47] PeterSmithRedmond commented on #26622
FWIW, for the data from JKotas, running the data through a statistics package shows that the two sets of values have a significant overlap. SW2 is smaller (median 661 instead of 720.5), but the amount of overlap is such that the difference is not statistically significant.

[2018-01-29 19:54] ViktorHofer commented on #24425
That benchmark should be good enough. I would increase N to 100k. If I'm counting right, IsMatch would return 6 times true right now (not relevant for the benchmark).

Cache needs to be:
- resizable via Regex.CacheSize
- fast for frequently used regexes (pattern + options + timeout)
- small memory footprint (I don't see a hashtable or dictionary here)
- thread safe

[2018-01-29 20:01] ViktorHofer commented on #24425
Giving it a second thought it seems your benchmark doesn't test the cache at all. The default size of the cache is 15. You are creating N (1000) different regex patterns and iterate over them. That means the cache will also miss and never hit as the pattern isn't already in the cache.

I would suggest the following parameters to test the cache:

NC = size of Cache => 15
NPU = number of unique rege

[2018-01-29 20:05] bartonjs commented on #20244
@JoshuaGarrison27 Wow, sorry this slipped under the radar for so long.

I don't think there's any central registry in .NET for claim types.  The usage for [AuthenticationInstant](http://referencesource.microsoft.com/#mscorlib/system/security/claims/ClaimTypes.cs,b5796cb742eb0df2,references), for example, doesn't show anywhere that it's referenced in an all-up list (other than the file it was decla

[2018-01-29 20:06] Priya91 commented on #26588
WebSocketProtocol is dependent on ManagedWebSockets, and it is completely managed.. so it should be the same everywhere.. @karelz Is there more information, like if this is full framework run or uwp run, or nano run. It would be nice to have a proper stack trace.

[2018-01-29 20:09] janvorli commented on #24891
I was thinking about this more in the background and I was able to figure out only three reasonable variants of a fix:
1. As you've said, try to load the 1.0.2 first
2. Add support for an env variable to enable users to override the version to fix the cases when our issue would happen. We currently have similar env var, named CLR_ICU_VERSION_OVERRIDE, for ICU libraries in coreclr. So we could name

[2018-01-29 20:18] bartonjs commented on #24891
I'd probably name it OPENSSL instead of SSL (since it's both libssl and libcrypto).  But, yeah, approach 3 seems reasonable.

I don't know if I care if the environment variable means "try this first" or "try only this".  Whatever we did for ICU is probably fine.

[2018-01-29 20:20] tarekgh opened #26650 "Proposal to remove UnbufferedChannel"
UnbufferedChannel is a special channel that has to be used carefully and if not, we can run into some problems. here is some example demonstrates the problem:

reading code:

[code]

Writing code:

[code]

That will cause the UnbufferChannel to hang because TryRead can succeed against a WriteAsync, but it can't against a WaitToWriteAsync because there wouldn't be anything to read.  And conversely

[2018-01-29 20:21] tarekgh commented on #26650
@stephentoub please add aspnet guys who can advise regarding that.

[2018-01-29 20:29] stephentoub commented on #26650
FWIW, I think that example is a bit complicated.  A simplified view of the issue is this...

The nature of an unbuffered channel is that, well, there isn't a buffer.  That means the reader and writer need to be at the channel at the exact same time, data or slot in hand, in order to coordinate.  In the case of Write/ReadAsync, that's easy: one shows up, and if the other is already there, it gives/

[2018-01-29 20:30] stephentoub commented on #26650
@anurse, does ASP.NET use Channel.CreateUnbuffered at all?  We're thinking we may want to ditch it for the initial release and only add it back if there's actually demand for it.  Or, anyone else have a strong need for it?

[2018-01-29 20:33] #26615 closed

[2018-01-29 20:33] karelz commented on #26588
It was on .NET Core runs (I don't look at the other results yet).
The stack above is all we have.

It didn't repro since then until 1/23. Moreover I don't fully trust the build # mapping to PR. I am fine closing it as Not repro at this point.

[2018-01-29 20:33] #26588 closed

[2018-01-29 20:33] glennc opened #26651 "libcurl maintains stale DNS information"
When building a HttpClientFactory in ASP.NET we did some experiments with DNS and HTTPClient. Specifically we are disposing of handlers periodically in order to avoid stale DNS, but re-using them enough to mitigate socket exhaustion problems with keeping a single client forever.

Our issue is that when using libcurl on a mac disposing the handler doesn't appear to impact DNS at all. Suggesting som

[2018-01-29 20:35] ogwh opened #26652 "http://apisof.net/ is returning HTTP 500"

[2018-01-29 20:38] janvorli commented on #24891
For ICU, the env var means "try this first", so I'd prefer using this meaning here too.

[2018-01-29 20:46] joshfree commented on #26652
Are you still seeing an issue @ogwh?

[2018-01-29 20:47] stephentoub commented on #26651
My understanding is that libcurl used to have a per-process / global cache, but that it's been deprecated, and it's no longer the default; you can opt back into it via https://curl.haxx.se/libcurl/c/CURLOPT_DNS_USE_GLOBAL_CACHE.html, which CurlHandler does not do.

According to https://curl.haxx.se/libcurl/c/CURLOPT_DNS_CACHE_TIMEOUT.html, libcurl utilizes a 60 second timeout by default on DNS ent

[2018-01-29 21:01] geoffkizer commented on #26326
I tested WinHttpHandler and CurlHandler, and they both seem to accept LF as a line terminator.  Seems like we should do the same.

[2018-01-29 21:06] BrandonClapp commented on #18406
I had the same sni.dll error. Installing System.Data.SqlClient (I installed 4.4.2) worked to fix the problem.

@geschw66 Did installing the package fix the issue for you?

[2018-01-29 21:10] fanoI commented on #26622
Yes @jkotas has better result with Unsafe respect that unsafe... I think at this point there are indeed optimizations in master that are not present in the current release.

[2018-01-29 21:10] anurse commented on #26650
No, we don't use unbuffered at all. We use unbounded (but shouldn't) and bounded only.

[2018-01-29 21:13] ogwh commented on #26652
Yep, the only thing I see on the page is the string "The page cannot be displayed because an internal server error has occurred."

Can confirm I'm still seeing a 500 response code also.

[2018-01-29 21:17] joshfree commented on #26652
It works for me in both edge and chrome.

I can repro the HTTP 500 in IE11.

[2018-01-29 21:22] stephentoub commented on #26459
(As an implementation detail, turning on Expect: 100-continue also requires us to create a timer for the operation so that we eventually send the payload if the server hasn't responded in time otherwise, so there's extra overhead related to that, too.)

[2018-01-29 21:28] ogwh commented on #26652
I've just checked Edge and it's loading there for me too but initially /very/ slowly... tried a private tab in Chrome and it works there. Looking at the HTTP headers literally the only difference is that in the private tab the "Cache-Control: max-age=0" header isn't sent. That's literally the only difference between the two requests. So perhaps a bug related to the handling of the header?

[2018-01-29 21:33] weshaggard opened #26654 "DataAnnotaions in .net core misbehaving"
@mquelcutti commented on [Fri Jan 26 2018](https://github.com/dotnet/standard/issues/632)

Hi the range for dataannotaions does not seem to work or the (0) for the display attib correctly if you put in range of 1 250 it always errors after you enter any chars. Additionally if you try to use the {0} {1} {2} the param (0) never shows the display attrib. The {0] is puling in min length and {1) max le

[2018-01-29 21:37] #26622 closed

[2018-01-29 21:39] ogwh commented on #26652
Found it!

It has something to do with the ARRAffinity cookie. Mine is set to "2a48e0f6708a66f806e63c6f5f2684db14d155e35029664053ffa3d81e438d1e".

Once I replayed the request in Fiddler but deleted the cookie I got a 302 redirect to HTTPS. I don't know what data is associated with that cookie but whatever it is, it's causing the 500 error.

So the two requests weren't quite literally identical...

[2018-01-29 21:50] #26619 closed

[2018-01-29 21:57] KrzysztofCwalina commented on #26644
I like the proposal, i.e. TryCast instance method.

[2018-01-29 21:58] Tratcher commented on #26459
@geoffkizer what API would you use to detect streamed bodies? HttpContent doesn't make that obvious.

[2018-01-29 22:02] ogwh commented on #26652
I thought maybe it was being injected by a load balancer shared across Azure sites or something equally daft and that something about it was a consequence of the earlier Azure Notebooks 500 error issue (which is open on their GH project).

But yeah, if you set the value of the cookie to that given in my previous comment you get a 500, just reproduced by editing the cookie in Chrome after having cl

[2018-01-29 22:04] ayende commented on #26628
@danmosemsft I don't get exactly what you do, but I think that I setup everything properly.
Using `WinDBG Preview`, I load the dump, then do:

[code]

And I get a stack trace with 19 `ReadEmbeddedPortablePdbDebugDirectoryData`.

Am I missing something? I also tried using `.reload`, but as I understand it, this should be the proper way to do this.

[2018-01-29 22:08] mattpwhite commented on #26606
That may be overstating things, but I'll give it a shot.

[2018-01-29 22:08] geoffkizer commented on #26459
@Tratcher Good point.  I thought this was exposed somewhere, but I appears I'm wrong.

[2018-01-29 22:09] ahsonkhan commented on #26611
cc @tarekgh

We should also make sure our exception messages (via [ThrowHelpers](https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/ThrowHelper.cs)) are the same.

cc @eerhardt

[2018-01-29 22:16] ayende opened #26657 "SslStreamInternal memory utilization"
I'm tracking some memory issues in my application and I run into the following line in when running `!fq` in the dump:

[code]

I'm using `SslStream` heavily, but over 3000 sitting in the finalization queue was surprising.

Looking at the code here: https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/src/System/Net/Security/SslStreamInternal.cs

This class has a finalizer, but it

[2018-01-29 22:16] karelz commented on #26651
@Priya91 can you please take a look?

[2018-01-29 22:18] karelz commented on #26657
cc @Priya91

[2018-01-29 22:18] Tratcher commented on #26459
TryComputeLength is about as close as it gets.

[2018-01-29 22:21] danmosemsft commented on #26628
@ayende hmm, I tested with sympath set explicitly to just that server. Perhaps it read from the cache.

What does `lmv m coreclr` show? It should show symbols loaded.

[2018-01-29 22:21] danmosemsft commented on #26628
You can also do `!sym noisy` and `.reload /f coreclr.dll`

[2018-01-29 22:26] tannergooding commented on #26618
FYI. @wli3

[2018-01-29 22:28] JeremyKuhne commented on #26618
This is by design. Win32 APIs trim trailing spaces. It's not a good idea to introduce them as many applications will fail to handle the trailing space. You can, of course do so, with device paths `\\?\` (these are _not_ UNCs btw, a UNC in this format is `\\?\UNC\server\share`).

I've written a few blog posts on Windows path formats and how normalization works if you want the nitty-gritty details.

[2018-01-29 22:28] #26618 closed

[2018-01-29 22:28] wfurt commented on #26651
we should make sure the entries are not cached by OS resolver. It would be handy if you can describe your test methodology @glennc.
BTW /etc/hosts entries do not really have TTL. It may be worth of testing with real name server.
Also note that updates to /etc/resolv.conf and nsswitch.conf typically have different refresh cycle - at least on Unix.

[2018-01-29 22:30] karelz commented on #24627
@benaadams I would prefer to have 1 issue with clear list of all contributing PRs and let's mark that one as netfx-port-consider. We do not want to end up in situation where half of the PRs make it and half won't. At least not by accident.
Is the list of the 3 merged PRs complete?

[2018-01-29 22:36] jkotas commented on #26644
Isn't this a dup of https://github.com/dotnet/corefx/issues/26465 ?

[2018-01-29 22:37] ayende opened #26659 "Expected behavior of gen 2 disposed finalizable objects"
I'm investigating high memory utilization in one of our systems, and I seeing very strange results:

[code]
The final tally is 76,869 objects in the queue. I am doing a lot to try to reuse instances, so it is not surprising that a lot of them are actually in gen 2.
What is surprising to me is that in many cases, I have memory hanging around and the only reference to it is in the finalization queue

[2018-01-29 22:44] fabricefou commented on #26058
Thanks for the answer 😀. But with this kind of thought we'd never have had the 2 distincts implementations ImmutableArray<T> and ImmutableList<T>. Both implement the same contract. I think we would never have one single implementation efficient for all use case (building and reading). Another example is the existence of SortedDictionary<Key, Value> and SortedList<Key, Value>, two distinct implemen

[2018-01-29 22:44] ayende commented on #26628
[code]

And:

[code]

[2018-01-29 22:48] danmosemsft commented on #26628
OK you do have `private pdb symbols` so I think the difference is you are using `!dumpstack` and I was using `k`. `!dumpstack` can be handy for seeing intermingled managed and native stacks but in my experience it seems to use heuristics that can go wrong and in this case `k` seemed to give a better stack.

[2018-01-29 22:49] ahsonkhan commented on #26644
This issue is talking about making the extension method into an instance method. Issue #26465 proposes another extension method.

[2018-01-29 22:51] jkotas commented on #26644
Both issues are about same method. I do not think we want two of them. Right?

[2018-01-29 22:54] #26273 closed

[2018-01-29 22:54] tarekgh commented on #26611
The span code has already enough differences between coreclr and corefx. if we need to merge it into a common file, we'll either have to add a lot of #if  in the sources which not preferred to do (CC @jkotas @weshaggard ).

I prefer to keep a separate implementation in the separate files (as we have today) and if there is pure common method implementation we can move it to a shared file.

We don't

[2018-01-29 22:55] ayende commented on #26628
Okay, that make sense.
With `k`, I'm still getting duplicate calls, which I think shouldn't be possible in the code without exception and recursion in the error handling, right?

[2018-01-29 22:55] ahsonkhan commented on #26644
Yes, agreed. We should incorporate the changes proposed here into the other one. Closing.

@ianhays, can you update the proposal please?

[2018-01-29 22:55] #26644 closed

[2018-01-29 22:55] EgorBo commented on #26623
Looks like a dead lock - EndExecuteNonQuery acquired a lock for [EndExecuteNonQueryInternal](https://github.com/dotnet/corefx/blob/767696781f2a1803c5bb003a27bd0bc885817f6f/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlCommand.cs#L1052-L1055) thus https://github.com/dotnet/corefx/blob/2b7016cf61f752200b68e1d0c9c6a8b0a93a7a19/src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStat

[2018-01-29 22:57] bartonjs commented on #21343
This was fixed back in July.

[2018-01-29 22:57] #21343 closed

[2018-01-29 22:59] jkotas commented on #26611
Sounds good to me.

[2018-01-29 23:01] #24854 closed

[2018-01-29 23:01] #26139 closed

[2018-01-29 23:01] #26295 closed

[2018-01-29 23:01] #26368 closed

[2018-01-29 23:04] ayende commented on #26659
Another note here.
Some of the objects that I would expect to be removed from the finalizer queue are holding a reference to a byte array that is 256KB, so it is on the LOH, might be related?
OTOH, the other instances are not holding LOH objects...

[2018-01-29 23:05] Priya91 commented on #26572
Yes, SslStream doesn't allow multiple simultaneous Read operations or write operations, but there is no check for read and write being simultaneous.

[2018-01-29 23:06] Priya91 commented on #26572
Have you considered the possibility that an additional Read was initiated and the code is just waiting to read data from server?

[2018-01-29 23:07] stephentoub commented on #26459
Or special-casing known content types (e.g. ByteArrayContent) and stream types (e.g. CanSeek==true), and assuming anything else is streaming.

[2018-01-29 23:09] ayende commented on #26572
Shouldn't the dispose operation kill that? I explicitly want just that, to abort the current read operation.

[2018-01-29 23:18] benaadams commented on #26572
Probably behaves better with ReadAsync

[2018-01-29 23:19] danmosemsft commented on #26628
@ayende I don't disbelieve that there's a real stack overflow issue. Just noting that in the dump you shared, it does not seem to have overflowed the stack.

[2018-01-29 23:20] benaadams commented on #24627
Yes

[2018-01-29 23:21] ayende commented on #26628
That is a bit more complex. I was able to trigger this situation when I was running with almost no memory.
At this point, I got an error, then I assume I got another error in the building of the stack trace for the error.
It is at this case that we are starting to recurse. Given that I'm in low memory, as we _start_ recursing, we don't have enough space to increase the stack, and bye.

I assume th

[2018-01-29 23:26] danmosemsft commented on #26628
Perhaps. It would be great if you can get a dump/stack that ends in a stack overflow.

[2018-01-29 23:28] ayende commented on #26628
That _is_ the dump that ended with stack overflow.
The process exited with SO error.

[2018-01-29 23:35] Priya91 commented on #26651
We do change this setting [here](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Unix/CurlHandler.EasyRequest.cs#L318)

[2018-01-29 23:39] ajcvickers commented on #26654
@mquelcutti With regards to the error message, the format string above is not correct--see `{0)` instead of `{0}`. When I correct this everything seems to work for me. That is:
* "1" validates
* "250" validates
* "0" gets correct message
* "667" gets correct message
* Any non-numeric string gets correct message.

If you are still seeing this issue after correcting the format string, then can you p

[2018-01-29 23:39] #26654 closed

[2018-01-29 23:41] karelz commented on #26651
@rynowak can you please double check that you didn't see the changes even after the 10 mins? (our timeout)

[2018-01-29 23:58] stephentoub commented on #26651
You're right, @Priya91, and I even added that code (https://github.com/dotnet/corefx/pull/7564). 😦 Sorry for misleading; need to page all this back in.

[2018-01-30 00:00] glennc commented on #26651
When does this https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Unix/CurlHandler.EasyRequest.cs#L317 come into play then? @rynowak in the linked issue seemed to indicate that even if left for a long time, longer than 10 minutes, he still saw old DNS entries.

[2018-01-30 00:01] ahsonkhan commented on #26584
Are we OK with different behaviours of ToString() on Span\<char\> vs ReadOnlySpan\<char\>?

[code]

[2018-01-30 00:02] glennc commented on #26651
@wfurt the test methodology is described in the linked wiki article. It is the same test @rynowak talked about in the linked issue.

[2018-01-30 00:03] Priya91 commented on #26651
@stephentoub This dns cache timeout is per easy request right, which means per SendAsync, so this timeout shouldn't affect other easy requests using the ame multi handle (CurlHandler). In your linked PR issue comment you mention the below. I don't understand how the timeout here influences the reported issue.

[code]

[2018-01-30 00:07] Priya91 commented on #26651
Also in the libcurl documentation page, they mention,

[code]

so if we repro the issue with a native app similar to .NET Core app environment with multi handle, and easy handles having same settings, we can confirm this bug is not in .net core.

[2018-01-30 00:16] sdmaclea commented on #26581
Looks like X86 intrinsics is using `MultiplyScalar(Vector64<float>, float)` for Arm64's
`MultiplyByElement(Vector64<float>, float)`.  I'm OK with renaming.

[2018-01-30 00:19] fiigii commented on #26581
MultiplyByElement(Vector64<float>, float). I'm OK with renaming.

X86 does not have `MultiplyScalar(Vector64<float>, float)`. `Scalar` means operating over `Vector128<T>` but only computing the first element.

[2018-01-30 00:21] darobs opened #26664 "Socket should default to InterNetworkV6 only if OSSupportsIPv6"
https://github.com/dotnet/corefx/blob/ff478ef06a053f145a784a9640a6f85d8fe560a9/src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs#L81

I am working through a customer issue for the IoT Edge, running it on an embedded ARM device without IPv6.

https://github.com/Azure/iot-edge/issues/481

The IoT Edge project uses libraries which wind up calling the `Socket(SocketType socketType, ProtocolType

[2018-01-30 00:28] Priya91 commented on #26657
Yeah makes sense, SslStreamInternal is tied to SslStream and isn't available after Sslstream is disposed.

[2018-01-30 00:58] Priya91 commented on #26572
If the underlying stream is networkstream, the read on the network stream will throw on dipose and that will get thrown from sslstream, sslstream doesn't check for dispose before read/write operations, the underlying stream behavior will throw because of disconnected connection.

[2018-01-30 01:11] safern commented on #24916
Maybe because CI/MC are running in RS3?

No that I know of. @luqunl and @shrah are the area owners, maybe they know.

[2018-01-30 01:28] terrajobst commented on #26652
I wrote apisof.net. The sites work off an in-memory representation. Since I added the new dynamic search, it seems there are cases where the site simply runs out-of-memory. Given that Azure has multiple machines serving the side, I believe the browser differences as mostly a red herring; I suspect the root cause is the combination of headers & how the load balancer decides which server to send you

[2018-01-30 02:37] safern commented on #26575
I updated the issue title, since after revisiting it I found that I miss read the ApiCatalog on where the type lived in Full Framework, they are both in System.Data.DataSetExtensions. The only thing missing is to change the key to match. I will update https://github.com/dotnet/corefx/pull/26576 to have the right placeholder configurations and to match the public key.

[2018-01-30 02:37] madelson commented on #26623
@EgorBo interesting. Any thoughts as to why this particular query triggers the condition every time whereas most queries work fine?

[2018-01-30 02:42] sebastienros opened #26669 "Process class doesn't expose some memory usage properties on Linux/MacOs"
Tried on Ubuntu in a docker image and MacOs without docker, and I get this when running a simple web app:

[code]

The values on Windows however are

[code]

Some __Peak__ values are not provided, and the list differs between windows and linux/mac.

The code to repro is here: https://github.com/sebastienros/memoryusage

PS: If I start a new `Process` dynamically, the value of `WorkingSet64` of the

[2018-01-30 02:46] pjanotti commented on #26453
In line with what @davidsh mentioned [above](https://github.com/dotnet/corefx/issues/26453#issuecomment-359050285) the redirection with non-managed handlers also fails sometimes (although less frequently than the managed one), example [here](https://github.com/dotnet/corefx/pull/26300#issuecomment-359187579). We should separate the tests according with both behaviors: one that does not close the c

[2018-01-30 04:45] ayende commented on #26572
Okay, thanks

[2018-01-30 04:45] #26572 closed

[2018-01-30 05:11] h3smith commented on #26446
If you guys are just doing dev locally and trying to build out a stack on macOS - our work around was simply to build a nginx Docker to act as a reverse proxy. The nginx container would do the client auth for us and the .NET Core solution just connects to the container.

This is **not** an optimal solution, but avoided us having to do dev on Windows (We are deploying in Ubuntu with Docker, so in t

[2018-01-30 05:35] iSazonov commented on #13551
@karelz The [repo](https://github.com/PowerShell/PowerShell/pull/6054#issuecomment-361084027) from @markekraus use:
1. the [temporary .Net Core app](https://github.com/PowerShell/PowerShell/tree/master/test/tools/WebListener) based on Kestrel
2. direct CoreFX objects to make web requests. The repo _doesn't envolve_ PowerShell engine and cmdlet in the web requests.
3. different PowerShell versions.

[2018-01-30 05:45] jkotas opened #26671 "DateTime.Now takes 1 second to execute on WSL"
Repro (windows subsystem for Linux):
- Create console app that does `Console.WriteLine(DateTime.Now)`
- Publish it
- Run it

Result: The app takes 1.5s to run. 1 second out of that is time spent inside DateTime.Now

[2018-01-30 05:50] jkotas commented on #26671
The problem is that the TimeZoneInfo implementation ends up reading all timezones on the system. There is a lot of them and when it is combined with slower I/O of WSL, it takes 1 second to do it all.

We should look into making this more efficient - e.g. read all timezones only when it is actually required; or not read them at all.

[2018-01-30 07:01] jkotas commented on #26671
This affects other Linux distributions as well, not just WSL.

[2018-01-30 07:15] sheikhjabootie commented on #18938
Try this: https://github.com/DataAction/AdoNetCore.AseClient

[2018-01-30 08:01] GrabYourPitchforks commented on #26604
I know this issue specifically deals with small buffers, but do we know the calling patterns for how these APIs are likely to be used? For example, is it likely that `Span<T>.Fill(...)` will ever be called when _T_ is a reference type (not simply a contains-references type)? Is the common use case that _T_ will be a fully blittable type?

[2018-01-30 08:12] Sunny-pu opened #26673 "System.Diagnostics.Tests.ProcessTests.TestStartWithNormalUser failed with "System.ComponentModel.Win32Exception : User with name 'dotnet-bot' was not found" in CI."
Failed tests: System.Diagnostics.Tests.ProcessTests.TestStartWithNormalUser

Details:
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug/5151/testReport/System.Diagnostics.Tests/ProcessTests/TestStartWithNormalUser/

Failed configuration: Centos7.1_debug

MESSAGE:
System.ComponentModel.Win32Exception : User with name 'dotnet-bot' was not found.

[code]

[2018-01-30 08:40] Sunny-pu opened #26675 "System.Diagnostics.Tests.ProcessTests.TestStartWithRootUser failed with "Assert.Equal() Failure\nExpected: 0\nActual: 134" in CI."
Failed tests: System.Diagnostics.Tests.ProcessTests.TestStartWithRootUserCannotElevate
                    System.Diagnostics.Tests.ProcessTests.TestStartWithRootUser

Details:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/301/testReport/
Failed configuration: Outerloop_netcoreapp_centos7.1_debug
MESSAGE:
Assert.Equal() Failure\nExpected: 0\nActual: 134

[2018-01-30 09:06] jkotas commented on #26604
I think it going to be most frequently used with spans of primitive types (byte, char, int), but it needs to work for all types.

[2018-01-30 09:21] paulius-m commented on #14615
Hello,
Please, try this code:

`
  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.3" />
  </ItemGroup>
`
Controller method:
`        public async Task<string> Index()
        {
            string result = "Success!!";
            string connString = "data source=**,35352;initial catalog=**;persist security info=False;Min Pool Size=1;user id=**; password=**;";

[2018-01-30 09:28] jvitkauskas commented on #14615
We are having this issue in production so it is critical for us. This effectively means we cannot use connection pooling in Core.

[2018-01-30 10:13] medoni opened #26676 "VBCollection - Remove key and insert before the previous non existing item"
The `VBCollection.Add` method has a bug if you pass a before key which was previously removed.

Following Code:
[code]

Output:
[code]
Source:
[VBCollectionBug.zip](https://github.com/dotnet/corefx/files/1677202/VBCollectionBug.zip)

[2018-01-30 10:14] medoni commented on #26676
[VBCollectionBug.zip](https://github.com/dotnet/corefx/files/1677201/VBCollectionBug.zip)

[2018-01-30 10:35] ayende commented on #26659
Okay, I think that I had a major misunderstanding on my part. I expected the `SuppressFinalize` to remove the object from the finalization queue, and it doesn't do that, it only set a bit that it shouldn't call the `Finalize` method.
Given that, the rest of the behavior is quite clear.

One thing that still remains a question for me is what is the expected behavior from the rest of the system.
We

[2018-01-30 11:03] markekraus commented on #13551
thanks @iSazonov

@karelz To repro the issue you can use the following project https://github.com/markekraus/SlowCoreFXRedirects

1. build and run the ASP.NET TestServer app
1. Leave TestServer running
1. build and run the SlowCoreFXRedirects .NET Core app
1. build and run the FastFrameworkRedirects >NET Frameowrk app

CoreFX:

[code]

.NET Framework:

[code]

These apps are the same exact code bu

[2018-01-30 11:11] mquelcutti commented on #26654
Hi where do I post the project to show the issue. I have recreated the first issue where by if you enter 4 chars in the comments and tab off  it errors even though its within the range. the properties seem to be working in the test project the only difference to my other project is I am using localised text from the DB using SQLlocaliser. I am going to try and reproduce this other error in another

[2018-01-30 11:40] miloush commented on #26458
I don't think I have needed 4 parameter ones so far, but several times I had to do 3 parameter ones e.g. finding the maximum resp. minimum of R, G, B.

[2018-01-30 12:17] stephentoub commented on #26651
@Priya91, when in doubt, go to the source, e.g.
https://github.com/curl/curl/blob/a5e6d6ebcb8dc00f264c89c3e5376f042c372efb/lib/multi.c#L392-L398
shows that easy handles as we're using them share a DNS cache from the multi handle.

[2018-01-30 13:00] iftahbe opened #26677 "System.Environment.GetFolderPath fails with ArgumentException"
In Ubuntu 16.04 the following console app fails in case the special folder doesn't exist (e.g. in a new Docker container) even though SpecialFolderOption.Create is specified:

[code]

Exception:
[code]

If the folder exists in advance there is no problem.
Also, this workaround works:

[code]

[2018-01-30 13:30] #24462 closed

[2018-01-30 14:48] atykhyy commented on #25876
On further consideration, it seems to be possible in Linux to imitate Windows file-level locking semantics _in cooperating .NET Core programs_, building on Linux-specific open file description locks. The key here is that one can lock byte ranges beyond the end of the file. This permits one to define "abstract" ranges to communicate granular lock information; such a scheme can even be made more or

[2018-01-30 15:15] davidsh commented on #13551
We are aware that HttpWebRequest is slow in CoreFx.  This is a side-affect of how it is implemented in CoreFx.  In .NET Core, It is a layer on top of HttpClient.  It isn't able to benefit from HttpClient TCP connection pooling logic, etc. That is because a new HttpClient is created for every new HttpWebRequest.

cc: @karelz @stephentoub

[2018-01-30 15:15] #26074 closed

[2018-01-30 15:20] stephentoub commented on #26650
Thanks, @anurse.  @tarekgh, let's go ahead and remove it for now.  We can add it back in the future if folks share a real need for it (rather than my just having added it because it's a concept that exists in related frameworks).

[2018-01-30 15:39] vaindil opened #26682 "X509Certificate2.PublicKey.Key is RSACng, not RSACryptoServiceProvider"
## [Sample solution](https://github.com/dotnet/corefx/files/1678312/EmptyCSharp.zip)

I'm on .NET Core 2.0, SDK is 2.1.4, Windows 10. I'm working to port a .NET framework library to `netcoreapp2.0` and I'm having an issue with `X509Certificate2`. [The docs say](
https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x509certificate2.publickey?view=netcore-2.0) th

[2018-01-30 15:50] artkpv commented on #24425
@ViktorHofer Thanks for answers!

About the test. Yes, it is not full, I'm changing the cache size, adding duplicates and shuffling. Also I guess we need to test on large cache size. Making it N =100k, the cache size and unique regexes - 2% of N. Not sure about real world scenario for this, probably parsing some text file.

What does it mean? I guess it's `Dictionary` and `Hashtable`. But hash tab

[2018-01-30 16:05] ajcvickers commented on #26654
@mquelcutti When you say "enter 4 chars" is your expectation that the attribute is validating the _length of the string_? If so, that's not what it does. If you put this attribute on a string property it will treat the string as a number and validate if the number is in the range. So the string "1" is valid, the string "667" is not valid, and any non-numeric string--e.g. both "Hi" and "Hello" will

[2018-01-30 16:29] mquelcutti commented on #26654
Ok sorry I miss understood what the range was for i thought it was for a min string of 1 and max o 250.
should be using MinLength Maxlength :)
But still doesn't explain the {0} parameter issue

[2018-01-30 16:43] thomaslevesque opened #26684 "Change EnsureSuccessStatusCode to not dispose response content"
Currently the `HttpResponseMessage.EnsureSuccessStatusCode` method always disposes the content of the response. The reason is explained in [a comment](https://github.com/dotnet/corefx/blob/bcc2940faeb58cc92a66c61ca404bed54a3a3bb3/src/System.Net.Http/src/System/Net/Http/HttpResponseMessage.cs#L152-L155):

[code]

However, this isn't always helpful. It's frequent for web APIs to return details about

[2018-01-30 16:55] danmosemsft opened #26685 "Remove synchronization on SecureString.Length"
Contention on this getter showed up in profiles of a cloud service that was reading the length several times in one method running on multiple threads (as one might expect for eg a password).

It doesn't need to be synchronized. From discussion with @stephentoub : removing the Synchronized/lock on Length would mean the disposed check and accessing the length would no longer be atomic, but you don’

[2018-01-30 17:00] KrzysztofCwalina commented on #26584
```Span<char>``` and ```ReadOnlySpan<char>``` should have the same behavior here.

[2018-01-30 17:10] MohammadHamdyGhanem commented on #15830
I think it will be easier to add an overloaded version for each method in the Math Class with float parameters, instead of having new MathF Class.

[2018-01-30 17:19] tannergooding commented on #15830
Commented [here](https://github.com/tannergooding) on why that is not possible.

[2018-01-30 17:22] danmosemsft commented on #25875
Can we identify at least some cases where we should probably default to `UseLargeBuffers`? Eg., if it is a UNC.

[2018-01-30 17:23] tannergooding commented on #26188
I have a good use case for this. See https://github.com/dotnet/coreclr/pull/16095#issuecomment-361634502 for better details.

Basically, we cannot fold `LoadAligned` on newer hardware because it could mask an AccessViolation that would otherwise occur.

`Assume.Aligned` would allow the JIT to perform the fold anyways (and would avoid the need for the user to maintain two versions of the algorithm,

[2018-01-30 17:36] svick commented on #15830
@tannergooding

It's worse than that, it can cause recompilation to fail (or do something entirely different). Consider e.g.:

[code]

If you recompile this with `float Math.Sqrt(float)` added, the type of `x` will change from `double` to `float`, which means the second line will [no longer compile](https://sharplab.io/#v2:C4LgbgpgTglgZgTwD4AEBMACAwgWAFADe+GJGKALBgLIAUAlMaUXqaxmAIZQYAeGAvNQ7AAFgDo

[2018-01-30 17:38] #26235 closed

[2018-01-30 17:39] markekraus commented on #13551
ah... that does appear to significantly improve the response time, from ~7000ms to ~100ms on my work PC. So it does appear to be hitting #24104.

[2018-01-30 17:42] ahsonkhan commented on #26465
From https://github.com/dotnet/corefx/issues/26644:

Consider turning it into an instance method. @mgravell, @benaadams

**Question:** The T in Span/ReadOnlySpan is not constrained to struct. What happens if I try to cast from Span\<string\> to Span\<int\>?

[code]

[2018-01-30 17:45] tarekgh commented on #26650
@stephentoub I'll remove it. do you prefer keeping the source and test files around for this channel or we just delete it and we can get it from git history if we needed it in the future?

[2018-01-30 17:48] stephentoub commented on #26650
Thanks. I'd prefer we just delete it. Code like that has a very good chance of rotting, and we can always get it from history if needed.

[2018-01-30 17:50] mgravell commented on #26465
Personally I'd be fine with a runtime NotSupportedException with a useful message. That makes perfect sense to me.

[2018-01-30 17:51] mgravell commented on #26465
Could also be persuaded to go for InvalidOperationException...

[2018-01-30 17:57] powercode commented on #24931
I have looked at the performance of `Select-String` in PowerShell. A common scenario using directory traversals, file IO with StreamReader and RegEx matching.  It is quite slow today, both in finding the files to search , reading the file content and doing the regex matching. There is a lot  of string allocations when reading each line of the file, byte arrays allocated for decoding utf8 and gener

[2018-01-30 17:57] divega commented on #21160
As per the last comment, this is something we would like to revisit when/if we build common diagnostics infrastructure for ADO.NET providers. We are not planning to do this for 2.1, so moving to backlog.

[2018-01-30 18:08] saurabh500 commented on #23984
cc @corivera

[2018-01-30 18:09] saurabh500 commented on #11683
Unable to repro

[2018-01-30 18:09] #11683 closed

[2018-01-30 18:10] #26575 closed

[2018-01-30 18:11] saurabh500 commented on #16430
These failures were due to a timeout caused by resource starvation, particularly threads while opening a connection to SqlServer. The Connection.Open() was changed by @geleems to take care of this issue.

[2018-01-30 18:11] #16430 closed

[2018-01-30 18:13] terrajobst commented on #26465
Makes sense.

[2018-01-30 18:14] saurabh500 commented on #20658
Moving to future because of lack of resources

[2018-01-30 18:14] saurabh500 commented on #20658
Alternatively if someone from the community would like to drive this, the effort would be welcome.

[2018-01-30 18:24] terrajobst commented on #26584
We should probably do both.

[2018-01-30 18:28] karelz commented on #13551
Great, so your repro is not relevant to this issue.

Is there anything else in this issue still pending investigation? Last comment https://github.com/dotnet/corefx/issues/13551#issuecomment-291632907 seems to hint there is some perf improvement in 2.0. @stephentoub @MichaelSimons @damtur do you have more details?

[2018-01-30 18:30] karelz commented on #26235
Thank you for the fix!

[2018-01-30 18:32] huanwu opened #26687 "Use Load instead of LoadFile when load pregenerated xmlserializer"
We need use Assembly.Load here https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System/Xml/Serialization/Compilation.cs#L187. LoadFile was a workaround when Load didn't work as expected.

[2018-01-30 18:35] #26599 closed

[2018-01-30 18:40] danmosemsft commented on #24931
Good suggestion. We are working on regex and file enumeration. Regarding reading the file content into strings -- perhaps Powershell should not be reading linewise. @karelz who is our Powershell contact?

[2018-01-30 18:43] karelz commented on #24931
I would suggest to start with PowerShell repo - filing perf enhancement: https://github.com/powershell
I don't have active contacts with PowerShell team, only few one time emails about a year ago.

[2018-01-30 18:57] mattpwhite commented on #26606
OK, think I found it.

`HttpListener` is explicitly writing the `WWW-Authenticate` headers in responses to clients.  It appears based on my testing that http.sys will tag mutual auth data onto an outgoing response if no `WWW-Authenticate` header is set by user mode, but if one is, it will leave it as is.  That's all fine, provided HttpListener puts the right data in the header, but it does not.  I

[2018-01-30 19:12] mattpwhite commented on #26606
FWIW, the .NET Framework version of this bug is essentially identical.

6. https://github.com/Microsoft/referencesource/blob/4fe4349175f4c5091d972a7e56ea12012f1e7170/System/net/System/Net/HttpListener.cs#L1670
1. https://github.com/Microsoft/referencesource/blob/4fe4349175f4c5091d972a7e56ea12012f1e7170/System/net/System/Net/HttpListener.cs#L1776 and https://github.com/Microsoft/referencesource/blo

[2018-01-30 19:13] danmosemsft commented on #26465
Or InvalidCastException ?

[2018-01-30 19:14] powercode commented on #24931
We cannot do much about this on the PowerShell side without the improvements in the core framework. Many of the changes you are doing are very promising, like all the work on Directory traversal/GetFiles and all the Span/low alloc things. All these will greatly benefit PowerShell.

My suggestion is actually more basic - have regex filtering of file content as a core scenario.

If that can be done

[2018-01-30 19:16] terrajobst commented on #24524
## Rfc3161TimestampRequest

- We should be consistent with accepting `Span<T>`/`ReadOnlySpan<T>` and `T[]`. However, in this case we there are instances where we know we'll allocated new memory (such as `Encode()`) and returning a more specific type is useful for the caller.
- Remove `SubmitRequestAsync` as it dependends on HttpClient
- `source` should be `responseBytes`
- `bytesRead` might be `by

[2018-01-30 19:18] danmosemsft commented on #20658
This needs a formal API proposal written up. @spudcud do you want to do this - updating your top post is clearest?
See https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2018-01-30 19:42] sebastienros commented on #26669
I managed to update the `WorkingSet64` value on Linux by creating a snapshot instance of `Process` like this:

[code]

[2018-01-30 20:16] danmosemsft commented on #24931
Powershell can do this just as efficiently, right? Over a FileStream. Of course, it may make sense for us to have an API for it -- I'd encourage you to open an issue with an API proposal if you think it is generally interesting (and especially if somehow only we can do it as fast)

[2018-01-30 20:35] danmosemsft commented on #26268
#26431 makes Process.Start use username on Unix. Seems worth keeping this issue open to continue the discussion about potentially supporting password and elevation (eg via PAM) in future. I would be interested to hear from other customers.

[2018-01-30 20:37] eerhardt commented on #26268
The other reason this issue is still open is to add a `GroupName` property to `ProcessStartInfo`.  But since that is an API change, it should go through API review.

[2018-01-30 20:42] powercode commented on #24931
Well, maybe this is just my ignorance speaking, but I haven't found a low-alloc path for matching each line in a file to a regex. I know for example that Rust uses a memory mapped file when matching, but since the RegEx class only has a `string` as input to the Match function, it is hard to avoid allocating a string for each line in every searched file.

This is where I am under the impression tha

[2018-01-30 20:45] powercode commented on #24931
To be clear, I'm not at all certain what the solution should look like, but the scenario is clear: run a regex over each line of a file content with as few allocations as possible. I did some more research here and it seems you already have a nice plan for faster directory traversal.

[2018-01-30 20:55] arunjvs commented on #26268
Thanks folks! We are evaluating `GroupName` needs, if the current implementation of defaulting to the primary group of the user `UserName` is insufficient. I will then write up a formal API proposal.

[2018-01-30 21:09] mmatras commented on #25334
Vector2, Vector3, Vector4, Matrix3x2, Matrix4x4, Plane, Quaternion are currently implemented with single precission numbers.
Theare are requests (above) and some miror implementations of System.Numerics.* can be found across Internet where double is supported.

These classes should support double precission and maybe in future more types. One of possile solution is to miror them as generics
with s

[2018-01-30 21:15] joshfree commented on #26659
Hi @ayende, I've moved your issue to the dotnet/coreclr repo (https://github.com/dotnet/coreclr/issues/16106) where the right set of folks will take a look.

[2018-01-30 21:15] #26659 closed

[2018-01-30 21:15] tannergooding commented on #25334
@eerhardt, I think the proposed API looks reasonable (it is effectively everything already exposed, but with `float` replaced with `T`).

I think the biggest debate might be whether it should be generic (for easy extension in the future, if desired) or if it should be restricted to just double.

[2018-01-30 21:16] ayende commented on #26659
Okay, thanks

[2018-01-30 21:17] tannergooding commented on #25334
@mmatras, it may also be worth considering whether conversion between `Vector2<double>` and `Vector2` should be allowed.

[2018-01-30 21:20] tarekgh commented on #24823
For debug view, I am seeing the needed info on the channel is surfaced nicely. I am pasting the image of such view from VS. it is handy to access any object related to the channel (reader, writer, sync object,...etc.)

![image](https://user-images.githubusercontent.com/10833894/35591752-e824fd96-05bf-11e8-9af4-e485d3df77f4.png)

@stephentoub let me know if you think more things should be displayed

[2018-01-30 21:20] karelz commented on #26664
That sounds like an reasonable improvement to the API behavior. Does it block the customer, or are there workarounds for them?

Should be fairly straightforward to do - anyone wants to grab it?

[2018-01-30 21:22] karelz commented on #26669
I am curious if the Peak* statistics are even available on Linux/Mac.

[2018-01-30 21:26] #23769 closed

[2018-01-30 21:26] #26434 closed

[2018-01-30 21:38] wfurt commented on #26669
I don't think there is:
man proc
see section /proc/[pid]/
That provides curent usage but not historical max.

[2018-01-30 21:41] benaadams commented on #24931
RegEx returning either `Memory<char>` or `Span<char>` for matches and match param?

/cc @KrzysztofCwalina

[2018-01-30 21:51] 4creators commented on #24931
During my `dogfooding` experiment I have faced exactly the same problem while writing simple C# script `.csx` to generate one of coreclr repo docs [clr-configuration-knobs.md](https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/clr-configuration-knobs.md). The idea was to get first hand experience with C# scripting and csi and compare to other languages like `Perl`, `Python` i

[2018-01-30 21:52] karelz commented on #26676
You can simplify the repro even more:
[code]
When you change `c` to `b` it won't throw exception. In other words, you can technically add item before "itself".

The type is not part of .NET Core - see [Collection info](https://apisof.net/catalog/Microsoft.VisualBasic.Collection), it is only part of .NET Framework. We do not track .NET Framework bugs here on GitHub - please file it on [developercom

[2018-01-30 21:52] #26676 closed

[2018-01-30 21:57] #26433 closed

[2018-01-30 22:00] MohammadHamdyGhanem commented on #15830
Got it, put there is another way:
Math.SqrtF(x) instead of MathF.Sqrt(x)
Math is a static class. This will not affect any thing.

[2018-01-30 22:13] bartonjs commented on #26682
No one should ever call cert.PublicKey.Key; you should instead use cert.GetRSAPublicKey().

That said, we might have to do something about this.  Though for the private key it's not possible.

[2018-01-30 22:29] alexbudmsft opened #26690 "Async File IO APIs mimicking Win32 OVERLAPPED"
It would be great if the .NET framework had async file APIs that closely modelled Win32 OVERLAPPED without the need for building one ourselves with Interop (e.g. https://dschenkelman.github.io/2013/10/29/asynchronous-io-in-c-io-completion-ports/)

Today, the APIs do not take an offset parameter and instead operate on the internal file position. While there are some workarounds (creating multiple F

[2018-01-30 22:30] danmosemsft commented on #12565
I think the work here is basically to bring back BinaryFormatter in ResourceReader. Since since this bug was opened, we ported it to .NET Core.
https://referencesource.microsoft.com/#mscorlib/system/resources/resourcereader.cs,107
I am not sure why int, etc would fail as stated in the top post. That path does exist.

@tarekgh @ViktorHofer does that sound like the only work? Maybe @alexperovich  yo

[2018-01-30 22:31] eerhardt commented on #26564
I agree that the proposal (the original comment) should be only the APIs that we actually want to review and are proposing to implement.

The explicit comment saying `API listed after this are currently draft quality` works fine for me though.  It calls out that "these don't need to be reviewed".

[2018-01-30 22:35] tannergooding commented on #15830
It was decided at the time to use MathF.

C# has a feature called "using statics", which allows you to do `using static System.Math; using static System.MathF;`

You can then invoke the methods via `Sqrt(value)` and overload resolution will pick the correct one (this is not breaking since it requires users to explicitly opt-in to the behavior).

[2018-01-30 22:44] vaindil commented on #26682
Good to know. I'm porting this old library and it's my first real foray into System.Security. Calling `GetRSAPublicKey()` also returns `RSACng`. I did more research and I think I opened this issue too quickly. Is it correct that `RSACng` is the specific implementation of `RSA` on Windows, and I should be abstracting from `RSA` instead for cross-platform support?

[2018-01-30 22:48] ViktorHofer commented on #12565
If my memory serves me right, we aren't using binaryformatter anywhere inside the BCL. That's intentional because of the pitfalls we already discussed various times. IMO adding BinaryFormatter back in ResourceReader isn't ideal but I don't have comprehensive knowledge about ResourceManager. Are we investing in RM / is it a straight port, or are we working on a new version of RM?
cc @stephentoub

[2018-01-30 22:48] darobs commented on #26664
Yes, I can override the default Socket creation in the libraries I'm using, so I do have a workaround I can provide for them.

[2018-01-30 22:49] huanwu commented on #18964
It is not only repro for soap encoded serialization, it actually repro for all serialization using c# codegen (set UseLegacySerializerGeneration=true in config). It failed when to compile the code [here](http://referencesource.microsoft.com/#System.Xml/System/Xml/Serialization/Compilation.cs,407) For soap type, it will always use c# generation, that's why we see the error. It doesn't repro using I

[2018-01-30 22:53] bgribaudo opened #26691 "Task Cancelled By Manually-Thrown OperationCancelledException"
According to .Net Standard's documentation for [Task.IsCancelled](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.task.iscanceled?view=netstandard-2.0#System_Threading_Tasks_Task_IsCanceled), there are three conditions when a task will report that it was cancelled. However, I'm observing cancelled tasks caused by a fourth condition. :-)

I'm trying to figure out whether what I'm

[2018-01-30 22:58] danmosemsft commented on #12565
We do use BinaryFormatter in several places in the BCL. As long as it is used for compat like this, and not finding new uses for it.

The question of course is whether this feature is interesting given our fixed set of serializable types (plus any custom types). Perhaps we have insufficient motivation.

Some relevant issues -
https://github.com/Microsoft/msbuild/issues/1352
https://github.com/Micr

[2018-01-30 23:07] bartonjs commented on #26682
@vaindil Yep.  All of the useful methods have been moved down to the base class(es) (`RSA` (or `DSA`, or `ECDsa`)) and the interop types should only be used when you need to do something with the platform.

https://github.com/dotnet/corefx/blob/master/Documentation/architecture/cross-platform-cryptography.md

[2018-01-30 23:09] vaindil commented on #26682
@bartonjs Perfect. I'm all set then, sorry about that. I'll close this out, thank you!

[2018-01-30 23:09] #26682 closed

[2018-01-30 23:16] joshfree opened #26692 "Productize System.IO.Pipelines"
Tracking issue for moving Pipelines from corefxlab to corefx for .NET Core 2.1.

https://github.com/dotnet/corefxlab/tree/master/src/System.IO.Pipelines

[2018-01-30 23:16] tarekgh commented on #26671
CC @eerhardt

[2018-01-30 23:16] danmosemsft commented on #26566
@Anipik I guess this is not true (no dumps uploaded -- no URL shown) and you are fixing?
[code]

[2018-01-30 23:17] danmosemsft commented on #26566
@ianhays do you expect to have a fix soon? It hung in several configurations in both builds today.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180130.01/workItem/System.IO.Compression.Brotli.Performance.Tests/wilogs

[2018-01-30 23:30] eerhardt commented on #26671
@jkotas - I don't have WSL set up on my machine, but can you answer a few questions?

Normally (or at least on my Ubuntu machine), `/etc/localtime` is a symlink to a zoneinfo file.  Can you `readlink /etc/localtime` and tell me the results?

I am assuming the reason it is slow is because `TryGetLocalTzFile` is trying to get the timezone ID, and it is failing to get the ID using `readlink`, so it f

[2018-01-30 23:35] jkotas commented on #26671
Right - it is not a symlink. @wfurt could you please comment on what other distros have this as a file, and not symlink?

Right. The code needs to figure out the timezone id just to make some internal implementation detail plumbing happy. Can we delay this until after somebody actually asks about the timezone id?

[2018-01-30 23:36] rmkerr commented on #9234
I'm able to repro this issue and will be looking into what's going on. Currently I'm comparing the behavior between .Net Framework and .Net Core, and it looks like things are substantially different. Once I've gotten a chance to look into it more I'll update with details on the behavior difference.

[2018-01-30 23:37] jkotas commented on #26671
BTW: It is very easy to install it. One powershell command and a few mouse clicks: https://docs.microsoft.com/en-us/windows/wsl/install-win10

[2018-01-30 23:38] Anipik commented on #26566
@danmosemsft the PR is up for showing the upload link. The dump is being uploaded but still not able to get the PID of the required hung process. I am debugging the reason for this.

[2018-01-30 23:38] tarekgh commented on #26203
@weshaggard is there anything can be done from our side?

[2018-01-30 23:39] erick-thompson commented on #8807
As more and more Azure resources support MSI, we are actively converting all possible resources to use MSI. Why? If there isn't a secret, you can't leak it.

So insofar as this issue relates to MSI support in .NET Core, it is quite important.

[2018-01-30 23:40] Anipik commented on #26566
@danmosemsft the dumps are not being uploaded because the upload website is under construction as we are adding an authentication layer on the website.

[2018-01-30 23:42] Anipik commented on #26566
The pr is up for showing the URL and I am waiting for matt`s approval for that

[2018-01-30 23:51] wfurt commented on #26671
The symlink is convenience and it does not need to exist (so as all the zones under /usr/share)
The file it self has POSIX name in it and that is all what matters for time calculations.

I would be primarily concern about embedded distros like Yocto or Alpine.

BTW The CompareTimeZoneFile() can do fstat() (cheap) first and move on if file size is different.
That can save on creating stream and rea

[2018-01-30 23:51] eerhardt commented on #26671
To fix just `DateTime.Now`, we could change

https://github.com/dotnet/coreclr/blob/7ab27c46cfca8b2a751316d82ea864267d1fcda4/src/mscorlib/shared/System/TimeZoneInfo.Unix.cs#L689

to not use the `TimeZoneInfo.Local` property, and instead mimic closer to what we do on Windows - create and cache a private local TimeZoneInfo that isn't exposed anywhere.  We could just use the hard-coded `"Local"` valu

[2018-01-30 23:53] wfurt commented on #26671
BTW FreeBSD does not have symlink

[furt@toweinfu-d11 ~]$ ls -al /etc/localtime
-r--r--r--  1 root  wheel  2819 Sep 27 08:37 /etc/localtime

OSX does
macik:~ furt$ ls -al /etc/localtime
lrwxr-xr-x  1 root  wheel  39 Nov 27 06:30 /etc/localtime -> /usr/share/zoneinfo/America/Los_Angeles

[2018-01-30 23:54] tarekgh commented on #12565
@danmosemsft I am not sure why we think this is a BinaryFormatter issue? per @alexperovich is msbuild issue https://github.com/Microsoft/msbuild/issues/1352. how did you link this to the BinaryFormatter?

[2018-01-30 23:56] wfurt commented on #26671
https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

we can possibly fall-back to Canonical name for each POSIX zone.
Zone mapping does not change much (unlike zone details)

[2018-01-30 23:58] ViktorHofer commented on #26673
cc @eerhardt

[2018-01-31 00:02] sdmaclea commented on #26564
I removed the block.
It would have to be removed before it was approved anyway.

[2018-01-31 00:06] eerhardt commented on #26673
@MattGal @mmitche - Is `dotnet-bot` not the name of the user on the machine?

[2018-01-31 00:17] baulig opened #26696 "Purpose of the HttpWebRequest.Connection property?"
I am currently porting some of the corefx tests to Mono and fixing compatibility issues in our implementation.

While doing so, I stumbled upon [HttpWebRequest.Connection](https://github.com/dotnet/corefx/blob/release/2.0.0/src/System.Net.Requests/src/System/Net/HttpWebRequest.cs#L520).  When I saw the implementation, I started to wonder what the exact purpose of this property's setter is.

You ca

[2018-01-31 00:18] roji commented on #14934
I just realized that `StateChangeEventArgs` doesn't actually reference the connection the generated it (the sender), allowing instances to simply be cached... This means that this issue isn't very important.

[2018-01-31 00:18] #14934 closed

[2018-01-31 00:20] cleverguy25 commented on #8807
Is this the right place to up-vote this?  Or is there another place like a user voice site?

[2018-01-31 00:25] karelz commented on #26696
@davidsh might know the historical answer ... I wonder if it is this way just in CoreFX, or also in .NET Framework.

[2018-01-31 00:27] wfurt commented on #26664
Do you know @darobs if this can be reproduced with just IPv6 disabled (or not configured) or do you need kernel without IPv6 support?

[2018-01-31 00:45] karelz commented on #26566
@ianhays alternatively, you can disable the tests, until the underlying problem, is addressed

[2018-01-31 00:56] MattGal commented on #26673
If it runs in helix, it's helixbot.  Is that hard coded somewhere?  Seems like the kind of thing we'd always pick up using the environment.

[2018-01-31 00:57] MattGal commented on #26673
* it's not running in Helix;  yes I'd expect it'd be dotnet-bot.

[2018-01-31 01:05] danmosemsft commented on #26292
@kouvel?

[2018-01-31 01:08] davidsh commented on #26696
Yes, See docs:
https://msdn.microsoft.com/en-us/library/system.net.httpwebrequest.connection(v=vs.110).aspx

[code]

[2018-01-31 01:08] Priya91 commented on #26566
failed in PR run #26666

[2018-01-31 01:08] Priya91 commented on #25676
failure again in PR run #26666  Linux redhat 73

[2018-01-31 01:09] davidsh commented on #26696
I don't know for sure. I would have to research this.  But we consider it a legacy property and advise developers to ignore it.

[2018-01-31 01:09] danmosemsft commented on #12565
@tarekgh I misunderstood this issue. I see it is merely tracking waiting for the MSBuild fix to Microsoft/msbuild#1352 to work around the currently missing ResXResourceReader (or consume it if it is ever ported).

It seems we need a new issue then for the fact that our ResourceReader and ResourceWriter do not support binary formatted blobs in resources. It may be that it is not very useful for the

[2018-01-31 01:12] danmosemsft commented on #20245
@karelz These broke CI on macOS 10.12 .. should they be outerloop?

https://mc.dot.net/#/user/danmosemsft/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/4f0763bf2447f7293e980b299e64e5c72748a499/workItem/System.Net.NameResolution.Pal.Tests

[2018-01-31 01:16] kouvel commented on #26292
Sorry I'll be taking a look at this soon

[2018-01-31 01:19] stephentoub commented on #24823
@tarekgh, for example, you've got a reader for in a local and you hover over it; presumably it'd be helpful if the debugger display tooltip showed you how many items were available to be read.

[2018-01-31 01:20] weshaggard commented on #26203
I don't think there is much we can do. The owner of the SerialPortStreamCore would be the one that needs to do some work to support this scenario.

[2018-01-31 01:20] #26203 closed

[2018-01-31 01:24] karelz commented on #26696
Sounds like this is mostly answered.
@baulig let us know if you need to know more details. Thanks!

[2018-01-31 01:24] #26696 closed

[2018-01-31 01:30] danmosemsft commented on #26677
Good find. This is because this hack is wrong (and apparently doesn't have a test)
https://github.com/dotnet/corefx/blob/17be4bc9b3fd9443026d2bf7d11a043b940bbcf4/src/System.Runtime.Extensions/src/System/Environment.Unix.cs#L83

instead of
[code]

it should be
[code]

Since CreateDirectory returns a DirectoryInfo, not void.

@iftahbe any interest in submitting a PR for this? Get your feet wet in th

[2018-01-31 01:30] danmosemsft commented on #26677
@weshaggard is it still problematic for S.R.Extensions to reference S.IO.FileSystem?

[2018-01-31 01:32] kouvel commented on #25162
CC @tarekgh, marking as Future for now, feel free to change

[2018-01-31 01:35] danmosemsft commented on #26652
Realistically this isn't getting rewritten soon, so I guess use an incognito/private tab?

[2018-01-31 01:35] #26652 closed

[2018-01-31 01:37] kouvel commented on #25026
CC @tarekgh

[2018-01-31 01:40] geoffkizer commented on #25676
I'm seeing this pretty regularly in CI runs on redhat.

[2018-01-31 01:41] karelz commented on #20245
I didn't see them failing enough to move them into Outerloop. If it happen again in next 3-4 weeks, let's do it.
It almost feels like the tests are sensitive to environment / machine config.

[2018-01-31 01:44] karelz commented on #25676
@Priya91 could you please look into it? It seems @Drawaes doesn't have the time ...
Thanks!

[2018-01-31 01:45] tarekgh commented on #24823
@stephentoub I got it.

[2018-01-31 01:47] stephentoub commented on #26669
Calling Refresh on the instance updates it, no?

[2018-01-31 01:49] tarekgh commented on #24823
#25026
#25162

[2018-01-31 01:53] stephentoub commented on #26677
S.IO.FileSystem references S.R.Extensions

[2018-01-31 01:55] weitzhandler commented on #25762
@safern
OK I respect your decision.
Maybe there should be a tool that provides easy conversion between comparison and equality-comparison (any comparer is potentially an equality-comparer if their comparison value is zero).

[2018-01-31 02:02] darobs commented on #26664
I was only able to reproduce this on a kernel without IPv6 support. I didn't see the issue when IPv6 was just disabled.  This is how I reproduced the problem on my Raspberry Pi:

[code]

[2018-01-31 02:25] philcarbone commented on #984
+1 Serial Port Support. We have several USB projects in the pipeline. Most of hem need to be multi-platform too. IoT, it's a thing.

[2018-01-31 02:43] MohammadHamdyGhanem commented on #15830
Still, I knew about MathF just today by accident,  and still don't t know where it is and how to add it to my project. If it were implemented as a part of the Math class, all of us would know and use it now by default.
So, where is it?

[2018-01-31 02:51] tannergooding commented on #15830
It is only available in `netcoreapp2.0` or higher.

It should be "just available" if you create a netcoreapp2.0 project.

[2018-01-31 04:18] #26685 closed

[2018-01-31 04:19] danmosemsft commented on #26677
@stephentoub that's a good reason.

[2018-01-31 05:43] danmosemsft commented on #984
@philcarbone just to be clear, you are asking for Unix support? Windows is already done.

[2018-01-31 05:52] wfurt commented on #26664
ok. I have raspberry image running under emulator. If you have any repro app, please share it, it would save me time.

[2018-01-31 06:30] #26123 closed

[2018-01-31 06:32] Thaina opened #26698 "SelectNonNull extension method"
[code]

I don't know what name it should but this extension method is convenient

[2018-01-31 06:33] Psychobilly87 commented on #984
@danmosemsft, maybe @philcarbone is asking for #18023, the Windows IoT support. Do you know anything about the W IoT support?

[2018-01-31 06:48] Thaina commented on #11029
@jnm2 It would not convenient when the type is long

`.SelectMany(x => x ?? Enumerable.Empty<SomeLongTypeName>())`

`.SelectMany(x => x ?? Enumerable.Empty<KeyValuePair<string,SomeLongTypeName>>())`

I would want to have this feature supported. Or at least having extension method `EmptyIfNull` for convenient

[code]

[2018-01-31 08:06] philcarbone commented on #984
Hi @danmosemsft and @Psychobilly87. I was asking for both Unix and Windows. I'm super excited to hear that Windows is done. Sorry, I hadn't finished reading through this entire thread yet. Thanks for the info! I am going to start using the Windows support in the next 2 weeks. Windows IoT is something we will use, but isn't time sensitive for us.

[2018-01-31 09:00] Sunny-pu commented on #23738
This issue is repro in oxs10.12_debug, detail:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug/4132/testReport/

[2018-01-31 09:20] markekraus commented on #13551
@iSazonov the tests are faster on all platforms after switching to the IP address.

[2018-01-31 10:31] GoldenCrystal commented on #26603
I took some time to look into this new type and I think I could make it work (haven't had the time to try it yet, though).
I quite like the idea of having a standardized buffer type, but I am a bit afraid about the induced complexity in a case where all memory is contiguous by design. (Especially in the case of the Seek operation)

In my current case, the file is approximately 3,5GB, so I could cr

[2018-01-31 11:31] gahebe opened #26702 "Incomplete shutdown in docker container"
This sample app below exits prematurely when stopping the docker container.

Steps to reproduce:
--------------------
1) `docker build -t shutdowntest .`
2) `docker run --rm shutdowntest`
3) After it writes "Server started" to the standard output,
   try to stop it with `docker stop [containder id]` from another command prompt.

Actual output:
-----------------
[code]

Expected output:
-----------

[2018-01-31 12:01] iftahbe commented on #26677
@danmosemsft not really, you can go ahead and fix it.

[2018-01-31 12:23] vyomdixit19 commented on #19709
Can anyone look into this also, as we are facing same issue for WebSocket, while running a dotnetcore console app on Mac Sierra (osx.10.12-x64) ?
https://github.com/ImoutoChan/websocket-sharp-core/issues/3

[2018-01-31 12:38] k0st1x commented on #26600
this issue happened because of https://github.com/dotnet/corefx/pull/8695 :(

[2018-01-31 13:05] svick commented on #24931
There is already an issue about adding `Span` support to `Regex`: https://github.com/dotnet/corefx/issues/24145.

[2018-01-31 13:11] powercode commented on #24931
To be really efficient, I think that the regex implementation have to be able to get the next char/rune/byte to match from some enumeration, that should be able to convert the raw memory of a file buffer/memory map using a selected encoding.
Otherwise I don't see how we could get rid of the allocations.

[2018-01-31 13:22] powercode commented on #24145
Just as a summary of the `Select-String` use case:
```Run the Match function on every line of a file, given an encoding.```

`ReadOnlyMemory` seems like a good start, but there needs to be some transform from the readonly memory to a enumeration of the decoded char/rune of the specified encoding.

Maybe also provide
[code]

[2018-01-31 13:34] JonHanna commented on #26696
Those are not the only two valid values. Aside from "close" which has a special meaning, the tokens in the Connection header list headers for the current hop only and which should be stripped by any proxy (though the proxy could put them right back in again, if valid and correct for the next hop). It obviously can't include headers that are specifically end-to-end, but it must include headers that

[2018-01-31 13:51] #26201 closed

[2018-01-31 13:59] bartonjs commented on #23738
@mmitche Of the last 7 runs it looks like 6 worked just fine, and one of them has no default keychain:

| Job | Machine | Happy |
|----|----|----|
| [4127](https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug/4127/) | OSX.1012.Amd64.Open-0130163239940-0 | Yes |
| [4128](https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug/4128/) | OSX.1012.Amd64.Open-0130203050235-0 | Y

[2018-01-31 15:05] jonwagner commented on #13035
Can you post an official, non-preview build on nuget?

[2018-01-31 15:46] mmitche commented on #23738
@bartonjs Filed https://github.com/dotnet/core-eng/issues/2546.  How can the default keychain be set up again?  It's been a while

[2018-01-31 15:54] bartonjs commented on #23738
No idea :smile:.  First interactive logon, maybe?  The only machines I've ever seen with the problem were in CI.

[2018-01-31 16:03] eerhardt commented on #26527
The x86 LoadVector methods are expanded out:

ex.
[code]

Same for `Sse2.Store`.

Why are we using generics and `void*` here?

[2018-01-31 16:04] #26069 closed

[2018-01-31 16:07] sdmaclea commented on #26527
Only to reduce API surface.  I am happy to change.

[2018-01-31 16:08] eerhardt commented on #26673
How do I tell if this test was running in Helix?

The user name isn't hard-coded in the test, it takes it from `Environment.UserName`.  See https://github.com/dotnet/corefx/blob/4464cceace7615502a1003bc7488f206a47c82ee/src/System.Diagnostics.Process/tests/ProcessTests.Unix.cs#L348

[2018-01-31 16:11] eerhardt commented on #26527
I would prefer the two sets of APIs be consistent, unless there is a reason/value for them to be different.

[2018-01-31 16:20] tannergooding commented on #26527
I believe in one of the discussions with @CarolEidt, it was determined that we could/should use generics if all 10 numeric types for a method are supported in a single ISA.

x86 doesn't meet this requirement in a number of places, since it generally exposes a subset in one ISA and the rest in the next iteration (e.g. `float` in Sse, and the other 9 in `Sse2`, or `float` and `double` in Avx, but th

[2018-01-31 16:22] KrzysztofCwalina commented on #26603
@pakrym, @davidfowl I think we could solve the O(log N) seek problem if ```IMemoryList<T>``` extended ```ISequence<T>```. ```ISequence<T>``` has Seek and it could be implemented as O(1) on some specialized datastructures, e.g. and array of puffers of the same size.

[2018-01-31 16:24] eerhardt commented on #26527
OK - that makes sense to me why they are different.

[2018-01-31 16:52] jnm2 commented on #11029
@Thaina go for it. It only makes sense to add to the BCL if most people have this issue. Is there evidence of that?

[2018-01-31 17:01] pjanotti commented on #23135
@geoffkizer @karelz why enforcing the RFC on the client in this case? Shouldn't we do the same as WinHttpHandler?

[2018-01-31 17:04] stephentoub commented on #26650
Addressed by #26689

[2018-01-31 17:07] stephentoub commented on #26089
Just failed again:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/20b481acdf8e4146f359dc8b388f823c22a8541b/workItem/System.IO.Compression.Tests/analysis/xunit/System.IO.Compression.DeflateStreamUnitTests~2FDispose_WithUnfinishedWriteAsync
[code]

[2018-01-31 17:14] tarekgh commented on #26650
I'll need to use this issue for porting the code to the preview branch.

[2018-01-31 17:16] stephentoub commented on #20245
Failed here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/20b481acdf8e4146f359dc8b388f823c22a8541b/workItem/System.Net.NameResolution.Pal.Tests/analysis/xunit/System.Net.NameResolution.PalTests.NameResolutionPalTests~2FGetHostByName_HostName
[code]

[2018-01-31 17:21] tmds commented on #26702
This can be reproduced outside docker by starting the application with dotnet and then sending SIGTERM: `kill SIGTERM <dotnetpid>`.

[2018-01-31 17:23] wfurt commented on #20245
Just a note, that DNS also depends on external service and may be sensitive to network outages.
As I mentioned above some test do assume that their "hostname" will resolve via DNS lookup.
That is probably automatic on  windows but it may or may not work on Unix and it may depend on dns/dhcp integration.

[2018-01-31 17:25] danmosemsft commented on #20245
OSX10.12 again. @karelz we could disable just for that?

[2018-01-31 17:28] stephentoub commented on #26702
Does it actually have anything to do with `async`?  Or instead of `server.StopAsync().Wait();` would it not behave similarly with something like:
[code]

[2018-01-31 17:34] pakrym commented on #26603
N is the number of segments. So I don't see how this has a big impact if buffers are large.

As I said before I don't like two sources of Positions (ROB and IML)

[2018-01-31 17:38] danmosemsft commented on #26677
@maryamariyan could you please fix this and add a test. As usual please make sure the test fails before your fix.

[2018-01-31 17:40] maryamariyan commented on #26677
@danmosemsft ok

[2018-01-31 18:04] danmosemsft commented on #26675
@eerhardt

[2018-01-31 18:05] danmosemsft commented on #26675
Is SUDO_USER set wrong on our Centos?

[2018-01-31 18:05] pjanotti commented on #23139
Tests were enabled by #23754 but in practice they are not running because conditions `CanTestCertificates` and `CanTestClientCertificates` are not met, at least in local runs, when looking at MC they are also skipped both for managed and unmanaged.

@dotnet/dnceng when looking for the skip reasons for this [test](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type

[2018-01-31 18:12] geoffkizer commented on #23135
Yes, we should probably do the same as WinHttpHandler here.  I assume CurlHandler does the same?

[2018-01-31 18:15] davidsh commented on #23135
We should try to match .NET Framework.  But there are some validations that are not done even in .NET Framework and we let the lower layers simply fail.

[2018-01-31 18:20] MattGal commented on #23738
047 is disabled for now.  I'll have someone investigate it by trying to run the x509 tests on it directly, and it doesn't go back into the pool until that is understood.

[2018-01-31 18:21] karelz commented on #23135
It is not just enforcing RFC, but rather making sure we produce valid format/output. For ':' we can't produce valid format. I assume other implementations (.NET Framework, WinHttpHandler/CurlHandler) will also fail in some way.
We should just capture in the tests that ManagedHandler fails in a particular way.

It is corner case, invalid scenario, so I am not too worried about it -- addressing it i

[2018-01-31 18:23] eerhardt commented on #26675
I'm not sure what the issue is.  I'm going to have to debug this...

[2018-01-31 18:24] danmosemsft commented on #26634
Would the implementation optimize for retrieval (presumably array + hashtable) or for space (presumably a tree/heap) ? Are there scenarios for both? What complexity do you hope for for lookup, Add, Remove, and ContainsKey (and ContainsValue if we have that)

It might be helpful to systematically compare

Operation | Dictionary<K,V> | SortedDictionary<K,V> | SortedList<K,V> | OrderedDictionary<K,V>

[2018-01-31 18:24] wfurt commented on #23135
could the ':' in name be encoded? I can try to set up repro case on Unix - where the system probably does not care but it may be hard to find client/server combination which will handle that. I suspect most packages will simply use first ':'

[2018-01-31 18:28] geoffkizer commented on #23135
Are you sure?  The tagged test looks like it succeeds.

If we are punting this because it's a corner case and we don't care, then fine.  But we aren't matching the behaviors of other handlers here -- winhttp, curl, netfx.  So it's a real issue.  That's why it was logged in the first place.

[2018-01-31 18:32] wfurt commented on #26675
we should try to get repro environment. Who shall set the SUDO_USER?
We may fall back  to "nobody" on Linux/OSX.

[2018-01-31 18:34] geoffkizer opened #26709 "[ManagedHandler] Should do request validation before connecting"
There is some minor request validation that we do at the beginning of HttpConnection.SendAsync.  This validation can cause us to throw NotSupportedException in some rare cases.

We should do this validation earlier in the request processing.  At this point, we've already established a connection (or pulled one from the pool), and throwing here will cause the connection to be torn down unnecessaril

[2018-01-31 18:38] geoffkizer opened #26710 "[ManagedHandler] Digest proxy auth seems to skip proxy after 407"
Code here: https://github.com/dotnet/corefx/blob/25c4a916bf1f35be1d009b679b19f7ebea535647/src/System.Net.Http/src/System/Net/Http/Managed/HttpProxyConnectionHandler.cs#L124

The key point here is we shouldn't be using _innerHandler at this point, we should be using a proxied connection, like the basic logic above does.

[2018-01-31 18:40] karelz commented on #23135
I am not sure it fails. Looking at the format I don't see how it could work though, but I am be wrong as you point out.

I would personally punt it as corner case out of 2.1 regardless if I am wrong or right :).
We should make sure we have at least some tests running (without ':') for ManagedHandler in 2.1 though.

[2018-01-31 18:41] safern commented on #13035
@jonwagner that is the plan, right now we have a preview1 on nuget. We can't publish a non-preview package right now because we have to follow the release schedule that we have for 2.1, but once we release netcoreapp 2.1 there will be a non-preview package on nuget for this guy.

[2018-01-31 18:44] jonwagner commented on #13035
It's great to hear that it's not forgotten.

Is this part of the netcore2.1 release, or netcore2.1 plus X amount of time. As much detail as possible would be appreciated, but I understand if there are a lot of moving pieces.

[2018-01-31 18:49] agocke opened #26711 "Provide more control over handle inheritance and standard in/out in System.Diagnostics.Process"
Right now it's impossible to pass your own handles (or set null handles) for a new process created with System.Diagnostics.Process. In addition, System.Diagnostics.Process always creates processes with `bInheritHandles` set to `true`. This has lead to complicated deadlocks for us in the past, where a process inherits the stdout of its parent, but the created process is a daemon, intending to live

[2018-01-31 18:54] redknightlois commented on #26188
@AndyAyersMS @CarolEidt This is an actual assumption that is proven in practice to help even on highly optimized C++ compilers: https://github.com/dotnet/coreclr/issues/6024
I for once have several use cases for this one, so if you want to code a prototype we have actual code that you can benchmark.

[2018-01-31 18:54] alpencolt commented on #26508
@janvorli `corefx/Tools/run.exe` which is called from `corefx/run.sh` doesn't keep quotes on Linux. So I call for example:
[code]
String `-DCLR_FIRST=1 -DCLR_SECOND=2` can be handled as one argument (by using `$7` or other number depending from position) in all scripts before `corefx/Tools/run.exe`. But after `-DCLR_FIRST=1 ` and `-DCLR_SECOND=2` are two different arguments (`$7` and `$8`).
Does i

[2018-01-31 18:57] joshfree commented on #23738
it should be something like

Apps Folder > Utilities > Keychain Access
-> Preferences -> General -> Reset My Default Keychain.. reboot.

[2018-01-31 19:03] jonreis commented on #20658
Not sure if this helps, but someone has implemented this.

https://github.com/voloda/AsyncDataAdapter/blob/master/AsyncDataAdapter/DataAdapter.cs

[2018-01-31 19:04] sebastienros commented on #26669
I was not aware of this method, so I'll assume it's the solution. Thank you.

[2018-01-31 19:04] #26669 closed

[2018-01-31 19:23] KrzysztofCwalina commented on #26603
If IemoryList extends ISequence, there would not be two sources of position. There would only be APIs on ISequence (Start, TryGet, Seek)

[2018-01-31 19:24] MattGal commented on #23738
Thanks Josh!  While it literally took me almost 5 minutes to find the apps folder, that worked and the X509 tests now pass on DCI-MAC-BUILD-047.  Putting it back into the pool now.

[2018-01-31 19:27] pakrym commented on #26603
What about ReadOnlyBuffer? It edits Index to put bit's into it, how would it know that `IMemoryList` does not rely on that bit? It's the same conversion as in previous IMemoryList redesign

[2018-01-31 19:32] TylerBrinkley commented on #26634
Thanks for putting that chart together. The implementation will be nearly identical to [`Dictionary<K,V>`](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Collections/Generic/Dictionary.cs) with a bucket and entries array except the entries array will be contiguous and thus ordered.

Below is the chart filled out

Operation | Dictionary<K,V> | SortedDictionary<K,V> | Sorte

[2018-01-31 19:34] danmosemsft commented on #13035
@jonwagner if it helps, the ODBC library we ship then will most likely be essentially identical to the one already on nuget. If you don't mind the preview label, you can use it now.

[2018-01-31 19:36] tarekgh commented on #26587
I am going to use this issue to port the fix to the preview branch too. I'll try to do that today.

[2018-01-31 19:39] pjanotti commented on #23135
Created a PR to separate the test cases. Making the managed handler match the behavior of the other handlers is trivial (see below). I don't know what .NET Framework does for such cases but at least in CoreFX the managed handler is the different one.

[code]

[2018-01-31 19:52] stephentoub commented on #26711
https://github.com/dotnet/corefx/issues/306

[2018-01-31 19:59] roji opened #26714 "Consider a better design for ADO.NET connection pooling"
In today's ADO.NET, connection pooling is purely an internal concern of ADO providers - no pooling API is exposed to the user in any way. It seems to be an unwritten contract that providers are supposed to pool by default, and disable pooling if the `Pooling=false` connection string parameter is used. The following is a (too lengthy) analysis of possible directions to get the conversation started.

[2018-01-31 20:16] JeremyKuhne opened #26715 "Implement Unix file enumeration extensibility"
Tracking Unix work for #25873

[2018-01-31 21:03] ahsonkhan commented on #26465
I believe the consensus from the review was that we would return false and not throw.

[2018-01-31 21:26] sharwell commented on #26634
💭 I almost prefer the indexer for this type be based on the "bias" implied by the type name. To me, `OrderedDictionary<TKey, TValue>` would bias towards dictionary, which means `this[key]` would be the only indexer. Indexed access could be achieved by calling `GetAt(index)` or by casting to `IList<TValue>` (or `IList<KeyValuePair<TKey, TValue>>`?) and using the indexer there.

[2018-01-31 21:28] MattGal commented on #23139
Thanks for pointing that out @pjanotti!  We were actually ignoring those skip results in the XML currently (I think the reason we show the page you point out was a side effect of showing XUnit failure reasons)

I filed https://github.com/dotnet/core-eng/issues/2553 to fix this.

[2018-01-31 21:36] TylerBrinkley commented on #26634
If we only have one I'd agree that the `this[key]` indexer would be the one to stay. Like you said, indexed access could still be achieved with the `GetAt(index)` method and then the `GetValue` and `SetValue` methods could be removed. I'm torn on this because a `this[index]` indexer would be very intuitive to users.

[2018-01-31 21:43] wfurt commented on #26710
I'll take a look @geoffkizer

[2018-01-31 21:49] #24986 closed

[2018-01-31 21:58] danmosemsft commented on #24931
OK, this is probably covered by #24145 then - let's continue discussion there - assuming there is an appropriate buffer to put the Span over.
cc @ViktorHofer for info as he owns regex.

@4creators if you are looking for compile time checking then this may be interesting. https://github.com/dotnet/roslyn/pull/23984

[2018-01-31 22:14] ThatDeveloper opened #26719 "FileInfo.Length returns always 0"
# FileInfo.Length return always 0

FileInfo.Length return always 0. I tried it with a MVC Web App and a console application.
FileInfo is not null and the path is correct too. I tried to stream a video but if I don't get the range I can't stream it.

- fi.Exists is true
- fi.DirectoryName is correct (on both Windows and Mac) => Tried this in several folders.

@Eilon wrote in this issue https://gith

[2018-01-31 22:16] danmosemsft commented on #26719
What is `fi.Exists`? Obviously it doesn't normally return 0 so we have to figure out what's special here.

[2018-01-31 22:17] danmosemsft commented on #26719
What if you remove the Path.Combine? Or use a full path?

[2018-01-31 22:23] ThatDeveloper commented on #26719
@danmosemsft If you look at my code sample in the issue there is fi defined. :)
I did test it with Path.Combine and with Absolute paths. Multiple times. And I also tried it with System.IO.File.OpenRead(path) and memory streams etc. etc. It is so strange. In the console application it is the same. Length is always 0.

[2018-01-31 22:37] #26650 closed

[2018-01-31 22:38] #26587 closed

[2018-01-31 22:40] joperezr opened #26720 "Test GetProcesses_InvalidMachineName_ThrowsInvalidOperationException crashes uap test run"
The InvalidOperationException thrown at test method GetProcesses_InvalidMachineName_ThrowsInvalidOperationException is currently crashing the UAP app when running the F5 tests. I did not dig deep to find out why this is, but I'm creating this issue to track the fix in order to be able to unblock the maestro auto update PRs.

cc: @stephentoub

[2018-01-31 22:59] nertim opened #26721 "HttpClient.SendAsync(request, httpcompletionoption, cancellationtoken) should be virtual."
Hello,

Similar to implementation of SendAsync(req, cancellationToken) the sendAsync(req, httpcompletion, cancellationtoken) should be also virtual. Currently we are able to override SendAsync(req, cancellationToken) with some custom code and would like to do the same for sendAsync(req, httpcompletion, cancellationtoken)

Thanks.

[2018-01-31 23:02] 4creators commented on #24931
@danmosemsft Yes, that is one side of the story. The other one is that writing regex code which comprises literals only is more efficient from developer perspective.

[2018-01-31 23:07] Tratcher opened #26722 "Need two Http requests to set cookies"
_From @tanyado on January 31, 2018 22:21_

In .NET Core, I have to send a two http requests manually – only the second post request will succeed.

    HttpClientHandler handler = new HttpClientHandler();
    handler.Credentials = new NetworkCredential(userName, userPass);

    HttpClient client = new HttpClient(handler);
    client.BaseAddress = new Uri(baseUri);

    // PROBLEM HERE:
    await cl

[2018-01-31 23:07] Tratcher commented on #26722
_From @Eilon on January 31, 2018 22:58_

Hi @tanyado , is this an issue with HttpClient or with ASP.NET Core?

cc @Tratcher in case you have any idea on this?

[2018-01-31 23:12] danmosemsft commented on #26719
Does it repro for any paths? Basically I need a way to repro it here, unless you can debug it yourself. The fact that it reproes for Mac and Windows is strange as there is not much code in common there.

[2018-01-31 23:16] geoffkizer commented on #23135
That is trivial.  But I'm not sure it's the right behavior... it will likely cause a real server to reject the auth header.

[2018-01-31 23:24] karelz commented on #26606
@caesar1995 can you please take a look?

[2018-01-31 23:29] davidsh commented on #26722
This is an issue with WinHttpHandler.  The .NET layer doesn't seem the initial 401 since it is handled at the native WinHTTP layer.  So, it doesn't seem any cookies attached to the initial 401.  Fixing this requires some changes in WinHttpHandler to get notified of 401's and be able to grab the incoming 'Set-Cookie' headers.

[2018-01-31 23:31] davidsh commented on #26721
This is by design.  This method is not meant to virtual nor overridden.

Custom code should create a new handler based on DelegatingHandler, HttpMessagerHandler. and then override the virtual SendAsync() method in the handler.

[2018-01-31 23:31] davidsh commented on #26721
This particular question came up before in a earlier GitHub issue.  I need to find that issue to link this as a duplicate.

[2018-01-31 23:32] joshfree opened #26724 "flakey SqlConnectionBasicTests failure"
Failed in windows CI legs for 2.0.x PR https://github.com/dotnet/corefx/pull/26577

https://mc.dot.net/#/user/bording/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Frelease~2F2.0.0~2F/test~2Ffunctional~2Fcli~2F/289ddbee6ef7e22451bbe841e8171167b116e76a/workItem/System.Data.SqlClient.Tests/analysis/xunit/System.Data.SqlClient.Tests.SqlConnectionBasicTests~2FConnectionTimeoutTestWithThread

[code]

cc: @saurabh500

[2018-01-31 23:32] davidsh commented on #26721
cc: @dotnet/ncl

[2018-01-31 23:34] mairaw commented on #24251
@weshaggard for .NET Core, we've only included English so far, no?

[2018-01-31 23:35] joshfree opened #26725 "[Regression] [Linux] Test failure: System.Net.Http.Functional.Tests.HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test / SetDelegate_ConnectionSucceeds"
## Types of failures

[code]

## History of failure

Day | Build | OS | Details
-- | -- | -- | --
1/31 | 20180131.01 | Ubuntu16.04 | [link](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180131.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_DangerousAcceptAllCer

[2018-01-31 23:36] #25539 closed

[2018-01-31 23:36] saurabh500 commented on #26724
@geleems You should port your test changes to release/2.0.x branch.

[2018-01-31 23:38] joshfree commented on #26725
Same failure, on RHEL, during

https://mc.dot.net/#/user/joperezr/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/332eae1f1b935565c1bf54b283cddf714fb607e0/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test~2FSetDelegate_ConnectionSucceeds(acceptedProtocol:%20Tl

[2018-01-31 23:57] rmkerr commented on #26721
I think the issue was discussed in #23812.

[2018-01-31 23:59] weshaggard commented on #24251
That is correct. We only have English.

[2018-02-01 00:03] joshfree commented on #26719
At least on windows this can happen when a write handle is open to the file in question.

[2018-02-01 00:23] karelz commented on #23812
FYI: The docs were updated in https://github.com/dotnet/docs/pull/3105

[2018-02-01 00:23] ThatDeveloper commented on #26719
How could I give you an example? Because my demo repository is over 500 mb with the sample file. @danmosemsft

[2018-02-01 00:24] karelz commented on #26721
Yep, looks like dupe, closing.
BTW: The docs were updated in https://github.com/dotnet/docs/pull/3105

[2018-02-01 00:24] #26721 closed

[2018-02-01 00:25] danmosemsft commented on #26719
So it only reproes with this one file? How large is the file?

[2018-02-01 00:55] ThatDeveloper commented on #26719
@danmosemsft I tested it with files from 80MB up to 600MB.

[2018-02-01 01:35] 1iveowl commented on #25800
Any update or work-around on this?

I'm experiencing this issue on dotnet core runtime 2.0.4 running on Raspberry Pi with Debian 9 (Stretch).

   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Net.Http.HttpClient.<FinishSendAsyncBuffered>d__58.MoveNext()
-

[2018-02-01 01:51] shravan2x commented on #25800
@1iveowl I've been trying to find a workable repro for months with no luck.

I just switched to Mono for now. It seems to work correctly.

[2018-02-01 02:03] karelz commented on #25800
@1iveowl if you have a repro, or something we can reproduce here and investigate, we would be happy to look at it as I mentioned above.
The callstack is sadly not sufficient and @shravan2x's repro/steps were insufficient for us to reproduce locally and investigate further.

[2018-02-01 02:49] benaadams commented on #18481
Looks to be fixed in 2.1; ValueTask is no longer an outlier
[code]

[2018-02-01 03:06] tannergooding commented on #26188
I'm currently focusing my available time on helping ensure the HWIntrinsics are generally ready for 2.1.

After that is done, I want to try prototyping one of these for the next release (assuming someone else doesn't first).

[2018-02-01 04:04] stephentoub opened #26729 "Lots of System.Net.Http "dribble" tests have started failing"
These tests are failing randomly on a bunch of PRs, e.g.
![image](https://user-images.githubusercontent.com/2642209/35660592-f7a82240-06da-11e8-9906-cdabf98e93a8.png)
https://mc.dot.net/#/user/caesar1995/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/811599f6d8f636fd0b43089acd4d5d4a338d8259/workItem/System.Net.Http.Functional.Tests
They look like:
[code]

[2018-02-01 04:08] stephentoub commented on #26729
@geoffkizer, it looks like these are the tests in https://github.com/dotnet/corefx/pull/26585 that were just merged earlier today?

[2018-02-01 04:19] morganbr commented on #26564
We might not want to add SHA1 extensions since we're generally trying to move folks away from it. I also wonder whether any of these should be interoperable with System.Security.Cryptography types. @bartonjs, what do you think?

[2018-02-01 04:24] geoffkizer commented on #26729
Yes.  I don't know why these didn't show up previously.

The issue here is that the client is parsing an invalid response from the server and (correctly) disconnecting before the server finishes sending (because of the dribble logic).  So, we need to eat the exception when this happens.

I'll code up the fix and submit shortly.

[2018-02-01 04:24] #26495 closed

[2018-02-01 04:27] iSazonov commented on #24104
@karelz  Many thanks for the workaround!

[2018-02-01 04:27] tannergooding commented on #26564
@morganbr, it may not be recommended for use in cryptographic scenarios, but it (and MD5) is still widely used on the web for listing the hash of a downloaded file, which may be worth taking into consideration.

[2018-02-01 04:40] mathisharp commented on #26541
[TPMKeyStore.zip](https://github.com/dotnet/corefx/files/1684190/TPMKeyStore.zip)

I have attached the sample code and the screenshot of the error.  The issue while signing the data, the specific method is SignData(byte[] data).  I have highlighted the algorithm is set to RSA instead of ECDsa. Please check and consider as high priority.

[2018-02-01 05:58] bartonjs commented on #26564
Is the scenario "we should add the intrinsics because they're there"?  If so, I don't have much of an opinion.  We'd probably need to mark the MD5 and SHA1 things here to trip the "bad crypto" warnings that the use of the existing classes would trip.

If the scenario is "and we should change the crypto classes to use them", that'd be a no, we defer to native implementations (which are probably usi

[2018-02-01 06:06] wfurt opened #26732 "Responses to 407 proxy authentication request are always sent on new connection"
I tested this with curl handler and the authentication is sent back on same connection as original request.  For managed handler the expectation would be same to save extra OS file descriptor and TCP (possibly TLS) handshake.

The setup is trivial: configure managed Handler to use proxy requiring Basic or Digest authentication and request any page. Two connections will be established to handle sin