[2016-09-23 15:19] tsolarin commented on #11882
@karelz will this involve a move of the `FileWebRequest`/`FileWebResponse` class to the `System.IO` namespace? i.e `System.IO.FileWebRequest`.

[2016-09-23 15:31] stephentoub commented on #11882
No, the namespace will not change.

It's already built on FileStream. Nothing there needs to change.

[2016-09-23 16:43] danmosemsft commented on #3633
@sepidehMS I'm closing this against #11888 because #11888 is all that remains for this to be useable. Please correct me if I'm wrong. Also, please help close any other issues about missing XML functionality if #11888 will bring it.

[2016-09-23 16:43] #3633 closed

[2016-09-23 16:57] shmao commented on #11367
This is fixed by PR #11752. Closing the issue.

[2016-09-23 16:57] #11367 closed

[2016-09-23 16:57] ericstj commented on #12001
That commit has already been undone: it was only a temporary workaround.  It did introduce some project references (which would hurt perf, but only slightly and only for the projects I touched) but those have since been removed.

One thing comes to mind, we've had a couple package updates lately: if you aren't running sync or build after picking up those updates you could be triggering a restore i

[2016-09-23 17:06] ericstj commented on #12001
I'm pulling in @hughbe's design time fix with https://github.com/dotnet/corefx/pull/12009, I'm also going to make some restore workarounds to buildtools because I suspect that design time build is running restore.

[2016-09-23 17:33] alexperovich opened #12011 "Figure out how to deal with ResourceSet/ResourceManager Hashtable dependency"
We need to expose ResourceSet.Table but this would mean exposing Hashtable from corelib.

[2016-09-23 17:35] alexperovich opened #12012 "Update mscorlib model.xml to include new System.Resources members."

[2016-09-23 17:39] SedarG opened #12013 "Tracking targeting uap101aot"
[See the discussion in #12004 for more context]

Below is the list of libraries that explicitly target netcore50aot. It's a helpful list to look out as these libs are likely going to need to target uap101aot explicitly. Note, however, that it's not **the** list of libs that we need to work on and do the changes to explicitly target uap10.1. Some of the libs in this list will not have any change so

[2016-09-23 17:40] SedarG commented on #12013
/cc @danmosemsft @dotnet/corert-contrib

[2016-09-23 17:41] Clockwork-Muse commented on #12001
No, 5c2c440 is a "good" commit for me.  It's the one(s) _after_ that cause me problems.
The process was taking 15+ minutes opening System.Linq.Parallel, even after running `sync` (which takes 40 minutes for me) or build (at least via `build-native -project=src/system.linq.parallel/system.linq.parallel.sln`).
On 5c2c440, opening projects which I haven't previously built do run a bit longer, but sti

[2016-09-23 17:50] JeremyKuhne commented on #5964
My problem is in how this impacts writing truly portable code. You can't meet the same expectations on Unix- yet people will assume so in their code. If this wasn't a synchronization mechanism I'd be less concerned.

Whether or not we implement something I'd like to see this get an [Obsolete] flag. It is screaming "subtle bugs" to me. We should be recommending *not* using this for cross-plat, imho

[2016-09-23 17:51] brockallen commented on #4278
I was on a customer call today that needs SAML2-P support on ASP.NET Core (which would be using KentorIT's implementation). This is a blocking issue for customers that want to move to ASP.NET Core. For now my customer will have to stay on Katana.

[2016-09-23 18:02] sepidehMS commented on #11196
I'm closing this as this is currently being worked on and is tracked by https://github.com/dotnet/corefx/issues/11888.

[2016-09-23 18:02] #11196 closed

[2016-09-23 18:04] sepidehMS commented on #5800
I'm closing this as it is currently being worked on and is tracked by #11888.

[2016-09-23 18:04] #5800 closed

[2016-09-23 18:06] stephentoub commented on #5964
I agree with the sentiment.  At the same time, desktop has an implementation, .NET Core on Windows has an implementation, and Mono has an implementation (using fcntl with F_SETLK): not providing one for .NET Core on Unix is also similarly bad for writing portable code.  There are also already many differences that stem from the underlying platforms that we're unable to smooth over, some even in th

[2016-09-23 18:08] sepidehMS commented on #4376
I'm closing this against https://github.com/dotnet/corefx/issues/11888 as that will bring this back. I'm currently working on https://github.com/dotnet/corefx/issues/11888.

[2016-09-23 18:08] #4376 closed

[2016-09-23 18:12] robertmclaws commented on #10752
The only thing I don't like about this is that it could conceivably raise as many events as removing them individually. The point of these new functions is to minimize the number of events raised to maximize efficiency.

I'm having a really hard time thinking of a use case where knowing the index of the removed items is necessary. If it **truly** is necessary, then it might be better to return a l

[2016-09-23 18:13] sepidehMS commented on #10325
I'm closing this as I'm currently working on https://github.com/dotnet/corefx/issues/11888, which will bring this back.

[2016-09-23 18:13] #10325 closed

[2016-09-23 18:23] JeremyKuhne commented on #5964
True, but only because we've chosen to expose this as part of the standard (as it is already in use). I get why that's necessary and realize that throwing defeats the existing code portability design goal. That said I'd love to do what we can to encourage people away from these sorts of APIs when writing new code. Do you agree with that sentiment? How do you think that is best accomplished?

Oh, a

[2016-09-23 18:34] manu-silicon commented on #5964
Since I've also expressed interest in this API, let me tell you about my use case which is covered by what you are proposing. What we want is to prevent multiple .NET applications we wrote to use the same file. Anything in this direction is more than welcome. Thanks for helping out.

[2016-09-23 18:45] steveharter commented on #12001
+1 on the slow project loading. 15 minutes or so to open projects with high CPU utilization. Opening "old" projects from an old branch from a week or so ago open fast, indicating something in the design-time build commands.

[2016-09-23 19:02] #11724 closed

[2016-09-23 19:02] Priya91 commented on #10752
If this is the intended behavior for firing remove event, then the outcome is no different than calling Remove single item on a loop based on a predicate match from user code. I don't think this should be the behavior of RemoveAll, I still propose Reset event, to differentiate this removal of non-consecutive items Or @robertmclaws idea also sounds good on returning a negative index to differentiat

[2016-09-23 19:02] thomaslevesque commented on #10752
True, but there's no way around it... The `INotifyCollectionChanged` API only supports changes to consecutive items. It might be more efficient in some cases to just raise a `Reset` event, depending on the number of items removed. In light of this dilemma, maybe including `RemoveAll` in the API isn't such a good idea after all.

It makes removing the corresponding UI items (in a ListBox, ListView

[2016-09-23 19:04] Priya91 commented on #10752
That's why Reset event, to say, the collection was dramatically change, re-parse the collection in the handler.

[2016-09-23 19:08] dagood commented on #11278
Closing. For 1.1.0, nothing is being built on TFS so this is not applicable.

[2016-09-23 19:08] #11278 closed

[2016-09-23 19:25] robertmclaws commented on #10752
If you're binding those items in XAML directly to an ObservableCollection (which really is the point to this change) then that should not be necessary. If this benefits some legacy app framework, so be it. But the change is really to support UWP and modern app development.

How so, by intent or by practice? Because of the way `NotifyCollectionChangeEventArgs` works today? If so, the reality of tha

[2016-09-23 19:41] stephentoub commented on #12001
I have the same problem. Even after doing a full clean and a full sync, it takes a very long time to open projects. Same for making changes to a project in the IDE, e.g. adding a new file can take minutes.

[2016-09-23 19:45] davidsh opened #12015 "ProxyAuth test fails on *Nix outerloop runs"
PR #11985 added a new test which is failing on *Nix (part of OuterLoop):

`System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test.UseCallback_HaveNoCredsAndUseAuthenticatedCustomProxyAndPostToSecureServer_ProxyAuthenticationRequiredStatusCode`

[code]

[2016-09-23 19:45] davidsh commented on #12015
cc: @stephentoub

[2016-09-23 19:48] thomaslevesque commented on #10752
Sorry, I didn't express myself clearly. I didn't mean that you'd have to do it yourself, but that the UI control which is bound to the collection would have to do it.

No, it can already work with ranges; that's why the `NewItems` and `OldItems` properties are collections

[2016-09-23 20:02] robertmclaws commented on #10752
We might need to dig into some of the UWP binding code and see how it handles these things. If that is the case, then "Reset" may indeed be the event that needs to be thrown. I can buit that into my custom implementation that I'm already using and see what happens.

Yes, but based on comments from earlier, I don't believe that is from work that was started but never finished. It certainly wasn't t

[2016-09-23 20:36] davidbitton commented on #984
+1. Serial is in use in the UAV sector.

[2016-09-23 20:54] shmao commented on #11056
Closing the issue. This is fixed by #11240.

[2016-09-23 20:54] #11056 closed

[2016-09-23 20:57] mconnew commented on #11073
Enum.ToString() was improved in dotnet/coreclr#6645 so it might be worth spending the effort there to improve the parsing speed too.

[2016-09-23 21:03] #10116 closed

[2016-09-23 22:06] ramarag commented on #8907
The old Resources APIs are getting added for netstandard2.0, which will solve this issue
https://github.com/dotnet/corefx/issues/11769

[2016-09-23 22:06] #8907 closed

[2016-09-23 22:06] ramarag commented on #9766
https://github.com/dotnet/corefx/issues/11769 will bring back the old resources APIs in netstandard2.0

[2016-09-23 22:06] #9766 closed

[2016-09-23 22:11] tarekgh commented on #11381
although this is a regression, I moved the issue to 1.2 as the regression scope is really small and not real breaking. it just return mangled names for CompareInfo only with the cultures having alternative sort (like de-DE_phoneb)

[2016-09-23 22:18] tarekgh commented on #10989
moved it to 1.2 as this is rare scenario to support surrogate pairs in types names

[2016-09-23 22:23] jkotas commented on #12011
This type is in corefx. Instead of adding it to CoreLib, you should load it via reflection - it is one of the strategies that we are using to deal with bad deps. Example: https://github.com/dotnet/coreclr/blob/8eec3c5ac8975734836c333187a2724d50bd9af9/src/mscorlib/src/System/Reflection/Emit/ILGenerator.cs#L1176

The type of this field is `Hashtable`. To move this into CoreLib, you would need to mov

[2016-09-23 22:38] bartonjs commented on #11036
Do you know the problems here to be unique to .NET Core?  Since the repro involves something other than a distro managed package I just want to be sure that we're not chasing a bug in any of OpenSSL, cURL, or the new http2 library.

[2016-09-23 22:42] mellinoe commented on #8585
This is done in corefx.

[2016-09-23 22:42] #8585 closed

[2016-09-23 22:50] ramarag commented on #9327
These need to be added here too:
T:System.Runtime.ExceptionServices.FirstChanceExceptionEventArgs
M:System.Runtime.ExceptionServices.FirstChanceExceptionEventArgs.#ctor(System.Exception)
P:System.Runtime.ExceptionServices.FirstChanceExceptionEventArgs.Exception
M:System.Runtime.ExceptionServices.FirstChanceExceptionEventArgs.get_Exception

[2016-09-23 22:51] alexperovich commented on #12011
The Table field is already in the sources as internal. Is BclRewriter removing it?

[2016-09-23 22:58] ericstj commented on #12001
We got to the bottom of it (thanks @danmosemsft, @alexperovich, & @weshaggard).

It turns out that design time build evaluates all items regardless of conditions, and @weshaggard added an item that, when it's condition is false, will cause MSBuild to glob the entire enlistment drive (eg: C:). https://github.com/dotnet/corefx/commit/760104f2957978c475648923f744f0b709507559

@weshaggard is picking t

[2016-09-23 23:03] weshaggard commented on #12001
PR https://github.com/dotnet/corefx/pull/12020 should tackle this issue.

[2016-09-23 23:11] tijoytom commented on #10511
https://github.com/dotnet/corefx/issues/10511

[2016-09-23 23:11] #10511 closed

[2016-09-23 23:12] tijoytom commented on #10511
https://github.com/dotnet/corefx/commit/7a22b935161f8b0e08c1c4088e44e44178b26042#diff-7a23a782f458d0508686dcf2b92c5820

[2016-09-23 23:12] karelz commented on #11622
We just hit it twice in 1.1 test pass. @ianhays please port the fix also to 1.1.

https://mc.dot.net/#/product/netcore/release~2F1.1.0/source/official~2Fcorefx~2Frelease~2F1.1.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20160923.02/workItem/System.IO.FileSystem.Watcher.Tests/analysis/xunit/System.IO.Tests.FileSystemWatcherTests~2FFileSystemWatcher_CreateManyConcurrentInstances

[2016-09-23 23:14] karelz commented on #10830
3 hits in 1.1 test pass. @mellinoe can you please port the fix to 1.1?

[2016-09-23 23:21] karelz opened #12023 "Port fix for test failure: System.Net.NetworkInformation.Tests.NetworkInterfaceBasicTest/BasicTest_AccessInstanceProperties_NoExceptions_Linux"
@mellinoe can you please port https://github.com/dotnet/corefx/pull/11863 to 1.1?

We had 2 hits in 1.1 test run:
https://mc.dot.net/#/product/netcore/release~2F1.1.0/source/official~2Fcorefx~2Frelease~2F1.1.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20160923.02/workItem/System.Net.NetworkInformation.Functional.Tests/analysis/xunit/System.Net.NetworkInformation.Tests.NetworkInterfaceBasicTest~2FBa

[2016-09-23 23:27] mellinoe commented on #10830
@karelz I don't have a fix for this one yet. The links you gave also don't seem to be the same issue (potentially; the error message is different).

[2016-09-23 23:27] stephentoub commented on #11987
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/576/consoleText
[code]

[2016-09-23 23:29] ericstj commented on #11462
This was fixed with https://github.com/dotnet/corefx/pull/10306.  I've confirmed that fix is in 1.1.

[2016-09-23 23:29] #11462 closed

[2016-09-23 23:30] ericstj commented on #11009
This is fixed.

[2016-09-23 23:30] #11009 closed

[2016-09-23 23:30] ericstj commented on #10860
Moving to 1.2 this is just cleanup.

[2016-09-23 23:33] ericstj commented on #10426
This has been fixed with https://github.com/dotnet/corefx/pull/11886.

[2016-09-23 23:33] ericstj commented on #10426
We need a similar change in master, leaving this open to track that.

[2016-09-23 23:33] stephentoub opened #12024 "SameInstanceXslTransformReader and TC_SchemaSet_AllowXmlAttributes tests failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/573/consoleText

[code]

[2016-09-23 23:34] karelz commented on #10830
Oops, my bad, sorry! I deleted the wrong info. Will file a new bug.

[2016-09-23 23:35] dotnet-mc-bot opened #12025 "Test failure: System.Numerics.Tests.cast_fromTest/RunDoubleExplicitCastFromLargeBigIntegerTests"
Opened on behalf of @karelz

The test `System.Numerics.Tests.cast_fromTest/RunDoubleExplicitCastFromLargeBigIntegerTests` has failed.

`System.OutOfMemoryException : Exception of type 'System.OutOfMemoryException' was thrown.`

Stack Trace:

[code]

Failing configurations:
- Centos.71.Amd64 - AnyCPU-Debug
- Ubuntu.1604.Amd64 - AnyCPU-Debug
- Ubuntu.1404.Amd64 - AnyCPU-Debug

https://mc.dot.net/#/p

[2016-09-23 23:41] yizhang82 commented on #10426
@ericstj @weshaggard Tijoy is working on getting this into 4.6.3 and .NET native, will we be able to change it back to netstandard 1.6?

[2016-09-23 23:50] ericstj commented on #10426
Not 1.6 but potentially a future version.  We'd need to make sure other .NET implementations can support this (eg: Xamarin).

[2016-09-24 00:06] ericstj opened #12028 "Using latest packages with NETCoreApp1.0"
We need to port some of the automatic harvesting infrastructure to 1.1, otherwise we'll ship refs with incremented assembly versions that aren't satisfied by the impls in shared framework 1.0.

Specifically:
https://github.com/dotnet/corefx/pull/11871

When doing this I need to do closure validation so that I don't cause the same ripple effect that we had in master where we put out one bad package

[2016-09-24 00:21] flint-rocketdesk commented on #11036
@bartonjs We are using HTTPS/2 for incoming traffic with NGINX on the same machines successfully and others are similarly using Java-based solutions in production, communicating with APNS via HTTPS/2.

So we cannot guarantee that the problem is unique to .NET Core--but we have not been able to locate any other platforms which exhibit the HTTPS/2 Client Certificate or related hard crash issues.  If

[2016-09-24 00:28] jkotas commented on #12011
corelib has internal version of Hashtable type that is not visible outside of corelib - BclRewriter flips the Hashtable to internal.

[2016-09-24 00:42] Priya91 commented on #11836
@DemiMarie .NET supports the non-backtracking atomic groups (?>). We can have a DFA engine in .NET Regex (been in backlog for sometime now) and allow options to chose this over the NFA, but again that doesn't prevent the regex stack overflow from happening, if the regex author is not careful with the quantifiers or unexpected input patterns.

[2016-09-24 00:55] ramarag commented on #11734
https://github.com/dotnet/corefx/pull/11930 resolves this

[2016-09-24 00:55] #11734 closed

[2016-09-24 01:16] jamesqo commented on #11990
Then we can simply have `IsReadOnly` return true. readonly-ness provides no guarantees about immutability anyway; for example, `Array.IsReadOnly` is true.

That's why the methods are being explicitly implemented. We're not expecting people to use these new additions, just adding them for the sake of implementing an interface.

IMO, `IReadOnlyCollection<T>` should simply have been 'done right' in t

[2016-09-24 01:42] stephentoub opened #12029 "Failing assert in SystemUnicastIPAddressInformation.PrefixLengthToSubnetMask"
@geoffkizer is hitting the following assert in a bunch of tests when building/running corefx tests locally on Windows:
[code]
cc: @cipop, @davidsh, @mellinoe

[2016-09-24 01:45] davidsh commented on #12029
What version of Windows is this happening on?

[2016-09-24 01:51] Priya91 commented on #8090
Investigated the desktop and .netcore implementations, we are using different win32 calls, on .netcore, we are querying only services of type ```SERVICE_WIN32```, whereas tcpip service that's queried is of type ```SERVICE_KERNEL_DRIVER```. Will fix the .NET core implmentation.

[2016-09-24 02:30] Priya91 commented on #11270
Yeah we should include this option there, although currently RegexOptions.Compiled is a no-op in .net core.

[2016-09-24 02:44] stephentoub commented on #12029
@geoffkizer, can you comment on your OS details for @davidsh? (I just pulled this from the log Geoffrey sent to me.)

[2016-09-24 02:46] #12001 closed

[2016-09-24 03:14] jamesqo opened #12032 "Would it be possible to shrink the field size of LinkedList?"
Noticed that 0e62a60 added a new field to `LinkedList`, `_siInfo`, for serialization. Since that and SyncRoot are rarely used, perhaps they can be combined into a `StrongBox<SerializationInfo>` to shrink the size of LinkedList.

[2016-09-24 03:37] jamesqo opened #12033 "Enumerable.Contains ICollection optimization should go in a different overload"
Here's the current source for `Enumerable.Contains`:

[code]

as you can see, in the comparer-less overload, it checks if the source implements ICollection first and then calls `Contains` on that collection if so. However, this is not done in the overload that doesn't accept a comparer.

We may want to consider instead checking for ref equality to `EqualityComaprer<T>.Default` in the other overloa

[2016-09-24 04:02] #11884 closed

[2016-09-24 04:18] karelz commented on #11884
@stephentoub can you please remind me what we decided about the hard API above? Do we throw, or just return nothing?
I remember you mentioned we could implement it on Linux/Mac in future by reading various known settings -- if we find a strong reason (feedback).

[2016-09-24 04:35] robertmclaws opened #12034 "Create System.Spatial types for SQL-Independent geography code"
It's been about 8 years since Spatial support was added to SQL Server. At the time, .NET was not as far along as it is today, and was not open source. The team created a SQL-dependent version of the Geography classes, which has created [situations this this at hundreds of companies](http://stackoverflow.com/questions/27343024/using-sql-server-geography-in-c-sharp-entities-without-referencing-entit

[2016-09-24 05:11] stephentoub commented on #11884
https://github.com/dotnet/corefx/blob/master/src/System.Net.WebProxy/src/System/Net/WebProxy.cs#L235

[2016-09-24 07:28] ViIvanov commented on #12033
Consider a case when we call an overload with comparer for a `HashSet<string>` initialized on the ignore-case comparer and specify a default comparer or null as a parameter. It should not call a `HashSet<>::Contains` method.

[2016-09-24 08:21] jbialobr commented on #3784
Here is a SO question related to it:
http://stackoverflow.com/questions/4606342/signing-assembly-access-is-denied

[2016-09-24 14:21] stephentoub commented on #11987
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release/137/consoleText
[code]

[2016-09-24 15:10] #9596 closed

[2016-09-24 15:53] stephentoub commented on #12033
Yes, as @Vilvanov highlights, that is not an equivalent operation, and thus not a safe optimization. We can't know if the semantics of the ICollection.Contains implementation matches that of the explicitly-provided comparer.

[2016-09-24 15:53] #12033 closed

[2016-09-24 16:35] stephentoub opened #12037 "Investigate overriding SslStream.CopyToAsync"
SslStream doesn't override CopyToAsync, instead inheriting the base implementation that calls ReadAsync/WriteAsync in a loop. There are likely some optimizations that could be done to improve efficiency, avoiding allocations, avoiding repeated pinning/unpinning, etc.

[2016-09-24 16:35] stephentoub commented on #11826
I opened https://github.com/dotnet/corefx/issues/12037

[2016-09-24 16:43] davidfowl commented on #11826
@stephentoub Thanks

[2016-09-24 18:42] BravoTango86 opened #12038 "Add support for RemoteCertificateValidationCallback with ClientWebSocket"
There is no way of overriding the validation of server certificates on an SslStream utilised by ClientWebSocket.

Could this be exposed through ClientWebSocketOptions?

_EDIT 3/5/2018 by @stephentoub. Added proposal:_
[code]

[2016-09-24 19:25] davidsh commented on #12038
cc: @CIPop @stephentoub

[2016-09-24 19:33] jamesqo commented on #12033
@stephentoub @Vilvanov I see. Is there a rationale for having `Contains(value)` and `Contains(value, null)` behave differently for such collections that use their own comparer? Should we remove the ICollection optimization altogether?

[2016-09-24 19:39] brockallen commented on #10361
Slight improvement on what @mellinoe suggested:

[code]

[2016-09-24 19:52] agocke opened #12039 "Proposal: Add Task-based Run API for System.Diagnostics.Process"
The `Exited` event API is cumbersome for 99% of the way I use processes (run external command, get output when exited). I end up writing a Task-based wrapper every time. It would be great if we could just add an API for that.

[2016-09-24 20:22] davidfowl commented on #12039
Yes! I always end up writing this.

[2016-09-24 22:03] #11858 closed

[2016-09-24 22:55] davidsh commented on #11738
Part of #11881

[2016-09-24 22:55] #11738 closed

[2016-09-25 02:49] danmosemsft commented on #11987
These three all failed with `Failed to detect InterNetwork protocol: NotInitialized`

[code]

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/596/

[code]

[2016-09-25 03:18] juepiezhongren commented on #5766
@giworking It's obvious that MS should pay attention to client development! As Satya Nadella is quoted,azule is the core and the future of MS, The strongest energy to boost azule is the entire .net ecosystem. Compared with java, client side is almost the only weapon to persuade coders and business to embrace MS's cloud(In China, .net is really at a catastrophical condition, people talk about java

[2016-09-25 04:14] weshaggard commented on #10073
We will still need to build them in corefx. There will be two sets of compat facades. One that will type-forwards to netstandard.dll and those can be in the standard repo, the other will be type-forwards to .NET Core refs and those will still need to be in corefx repo.

[2016-09-25 04:20] weshaggard commented on #9788
@mellinoe I don't know of any reason we cannot. We should probably do it as part of our 1.1 release however instead of doing it one-off, as we should not mark it stable in master.

[2016-09-25 04:26] weshaggard commented on #11516
I'm not entirely sure if this happens or not but I do think it is worth trying out.

We can do that but it requires actually doing the work in our release branch and producing a new package from there and then updating master to consume it once it is done.

[2016-09-25 14:06] jkotas commented on #467
Make sure to add tests with NaNs for the floating point overloads.

[2016-09-25 14:15] stephentoub opened #12048 "ReceiveMessageFromV6BoundToAnyV4_NotReceived failed in CI on CentOS"
[code]
[code]

[2016-09-25 14:28] danmosemsft commented on #9911
This is the same as creating the ref assy isn't it? or is there more here?

[2016-09-25 14:30] danmosemsft commented on #11274
@shmao does this still repro for you? it seems to work for me

[2016-09-25 14:34] danmosemsft commented on #1645
Assigning to @JeremyKuhne since he owns System.IO.

[2016-09-25 14:35] stephentoub opened #12050 "StringMiscTests.CasingTest test failing on Windows 7"
[code]

[2016-09-25 14:36] danmosemsft commented on #2576
This would fall out of bringing UWP up to Net Standard 2.0

[2016-09-25 14:36] stephentoub opened #12051 "CompareInfoMiscTests.SortKeyTest test failing on Windows 7"
[code]

[2016-09-25 14:37] stephentoub opened #12052 "Four DSA tests failing on Windows 7"
[code]

[2016-09-25 15:55] huoyaoyuan opened #12053 "Question: resolving NETStandard libraries to framework assemblies"
When installing the package `NETStandard.Library` into a .Net Framework project (for example net46)
- Some packages install nothing. I saw `TypeForwardedToAttribute` for binary capability.
- Some packages set a reference to assembly in GAC. This is by using `frameworkAssembly` element of nuget.
- Some packages **do install an assembly**, but it already exists in the full Framework, such as `System

[2016-09-25 17:00] dudikeleti opened #12055 "System.Reflection.Emit.DynamicILInfo"
I rely in my code on this type. Is it planned to include it? Currently in [.NET API Catalog](https://apisof.net/) it's not seem to exist in .NET Standard or .NET Core App.

Search for this in this repository does not give any hint.
- (Same issue with System.Reflection.MethodBody and Resolve methods on Module type, but I see they are include in .NET Standard 2.0)

[2016-09-25 17:13] stil commented on #9184
Are there any temporary workarounds? This issue and lack of BinaryFormatter stops me from migrating my project to .NET Core

[2016-09-25 18:18] stephentoub commented on #12033
No, it's been this way since I believe the beginning of LINQ.

I can't speak to the original design, but in one case you're explicitly passing in a value and in another you're not; seems reasonable for them to have different behaviors.

[2016-09-25 22:22] jamesqo opened #12058 "Running into "Could not locate runtime assets for any of the frameworks ..." frequently"
Frequently when I try to build a test project with `/t:BuildAndTest`, I will run into an error message saying

[code]

I have tried rebasing and running MSBuild with `/t:RebuildAndTest`, in addition to following the instructions [here](https://github.com/dotnet/corefx/issues/11204#issuecomment-243498131) and running MSBuild on the depproj file. However I still get the same error from MSBuild, and

[2016-09-25 23:26] hughbe commented on #12058
I've been getting this too recently. It went away, but Unhelpfully I have no idea what I did that fixed it. Without wanting to waste your time (takes 20/30mins), you could try restoring all packages?

[2016-09-25 23:30] MelbourneDeveloper commented on #973
I find it hard to get my head around this. Why is it then that you can take a PCL project, and switch it over to target .NET Standard?

[2016-09-25 23:42] #11088 closed

[2016-09-26 02:08] ekflame opened #12060 "where are 'Close()' and 'Handle' on System.Net.Sockets.Socket ?"
I'm porting my network class to .net core, but I can't find **Socket.Close() & Socket.Handle**. where are they? are they not necessary on .net core socket?

[2016-09-26 02:40] yufeih commented on #692
What are the steps to expose an API like this?

[2016-09-26 02:40] davidsh commented on #12060
.NET Core 1.0 did not have those System.Net.Socket APIs.

However, we did add them back:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/ref/System.Net.Sockets.cs#L182

https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/ref/System.Net.Sockets.cs#L226

They will be part of the .NET Core 1.2 release.

[2016-09-26 03:52] karelz commented on #12053
cc: @weshaggard @ericstj

[2016-09-26 04:01] karelz commented on #12055
@weshaggard @danmosemsft can you provide details here?

[2016-09-26 04:03] Inquisitorrent commented on #2576
I have a large collection of HPC libraries I've written for .NET that I'm now trying to get into portable libraries.  Not having thread means this effort is dead in the water as it's pointless to have a portable class library for desktop and core, while being incompatible with UWP.  The effort involved in translating to task would be enormous, and probably not even possible knowing how extensive a

[2016-09-26 04:03] karelz commented on #12058
@ericstj @weshaggard any idea how to troubleshoot such problems?

[2016-09-26 04:38] danmosemsft commented on #12055
We aren't planning to add Reflection.Emit to .NET Core at this time.

[2016-09-26 05:20] dudikeleti commented on #12055
@danmosemsft But there is others Reflection.Emit types that exist. DynamicMethod for example exist in System.Reflection.Emit.Lightweight assembly.

[2016-09-26 07:34] jahmai commented on #9884
Couldn't this be fixed in isolation of 1.1? This is affecting us and it seems like it'd affect a good chunk of people referencing NETStandard and System.Net.Http.Formatters together, not great to leave broken for months.

[2016-09-26 08:44] adsolutbe opened #12064 "Support for Rijndael encryption"
I need to port some existing code that uses Rijndeal encryption to .net core. Unfortunately, Rijndeal encryption (RijndaelManaged class) with a blocksize key of 256 bit is not available for .net core. Any idea's when and if this will be made available?

[2016-09-26 10:02] lextm commented on #12064
Related to #9984 so you might check that out first.

[2016-09-26 10:21] lukeamcmurray commented on #11991
@stephentoub, are you referring to the version of System.Net.Http? In our project.json we are referencing package version 4.1.0 which I assume resolves to version 1.0.0 - I'm unsure how i can try version 1.1?

[2016-09-26 10:32] JonHanna commented on #8120
The question is what work should be done? It would be simple to make them active again, as it seems to me they probably should be. It would be simple to just cut them out. But which should in fact be done?

[2016-09-26 11:59] lukeamcmurray commented on #11991
@stephentoub, are you referring to the dotnet core version? I'm not entirely sure how the corefx version fits in or how I can use 1.1?

[2016-09-26 12:05] neridonk opened #12066 "Add password to ZipArchive"
can we make that happen?

[2016-09-26 12:27] Opiumtm opened #12067 "ConcurrentDictionary performance issue"
Dictionary with plain `lock` performs about 10x faster than ConcurrentDictionary

[2016-09-26 13:20] giuseppemag opened #12068 "Cannot connect to SQL Server on OSX"
Hi, I am trying to port a web api that acts as a front-end for an SQL Server database. The web api works fine under Windows and when deployed to IIS, but gives this error when ran from within OSX and Visual Studio Core.

[code]

The ```web.config``` connection string was

[code]

which is then given to method ```UseSQLServer``` in the form:

[code]

The project compiles fine, but crashes at the fi

[2016-09-26 13:43] stephentoub commented on #12067
For what operation?  What are you testing?

ConcurrentDictionary is optimized for reading and for many parallel updates.  If your test just does serialized adds to the dictionary, yes, Dictionary will be faster than ConcurrentDictionary.

[2016-09-26 13:44] #12060 closed

[2016-09-26 13:46] Opiumtm commented on #12067
I have tested mostly serialized adds

[2016-09-26 13:59] stephentoub commented on #12067
Yes, by design I would expect Dictionary to do better in that test.  ConcurrentDictionary is implemented to provide lock-free reads, so reads are fast compared to a locked Dictionary.  It also uses striped locking, with multiple locks that each protect different buckets of the dictionary; as a result, if you have lots of threads all concurrently doing writes to the dictionary, it also performs bet

[2016-09-26 14:00] #12067 closed

[2016-09-26 14:18] SamuelEnglard commented on #973
Going to try and explain this without getting too into it.

.NET DLLs are formatted according to [ECMA-335](https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/dotnet-standards.md#ecma-335---cli) (Better known as the Common Language Infrastructure). This format is true across all platforms we call .NET; Full Framework, Core, Xamarin, Mono, Silverlight, etc.

The reason you cou

[2016-09-26 15:31] ericstj commented on #12058
That warning message indicates that the NuGetTargetMoniker specified in the csproj doesn't match the project.json.

Typically that happens when someone forgets to update one or the other, or if the direct build of the project uses a different configuration that the builds traversal.

/cc @karajas

[2016-09-26 15:33] ericstj commented on #12058
(deleted previous comment, I misread the error)
Which project are you getting this error for?

[2016-09-26 15:34] #9933 closed

[2016-09-26 15:40] karelz commented on #12064
Closing as dupe of #9984.

[2016-09-26 15:40] #12064 closed

[2016-09-26 15:41] ericstj commented on #12053
For System.IO.Compression and Http those dlls contain additional fixes over the components that ship in the .NET framework.  The teams owning those components opted to deliver updates in the nuget packages to allow folks to request and get updates  for those components at a faster cadence than the ship cycle of the .NET framework.

Other assemblies (like System.ObjectModel) that already exist in t

[2016-09-26 15:42] hughbe commented on #12058
I got this for System.Collections yesterday

[2016-09-26 15:47] ericstj commented on #12058
I suspect this is happening because folks are pulling out the old implementations from the live build and relying on harvesting for this and you haven't restored the baseline.  Next time you see it can you try:
[code]

If this works I can make a build tools change to help make this happen automatically.

[2016-09-26 15:48] onovotny opened #12070 "Sys.Runtime.Int.WindowsRuntime broken on Android"
We've been getting [reports](https://github.com/Reactive-Extensions/Rx.NET/issues/261) that the `System.Runtime.InteropServices.WindowsRuntime` package may be broken on Android.

Looking at the package, it has a blank impl for `xamarinios1` but not for the other Xamarin types. As Xamarin supports NET Standard 1.6, it's pulling in the `netstandard1.3` impl. This seems to be causing an issue on buil

[2016-09-26 16:11] ericstj commented on #12070
This should be fixed in the latest packages as of https://github.com/dotnet/corefx/commit/e586f1b2f4eca793de97361aa4b981eb966d13ec.

Can you try referencing the pre-release version of NETStandard.Library and see if you still hit the problem?

Point nuget to `https://dotnet.myget.org/F/dotnet-core/api/v3/index.json`
and reference `"NETStandard.Library": "1.6.1-preview1-24525-03"`

[2016-09-26 16:18] jhudsoncedaron opened #12072 "System.Data.SqlClient.SqlConnection does not roll back open transaction on dispose"
SQL Server version is 2014 if it matters. Trivial reproduction causes timeout unless ;pooling=false is appended to the connection string.

using System;
using System.Data;
using System.Data.SqlClient;

/*
CREATE TABLE Scratch (ID INTEGER NOT NULL);
INSERT INTO Scratch VALUES (1);
*/

namespace ConsoleApplication
{
    public class Program
    {
        public static void Main(string[] args)

[2016-09-26 16:26] stephentoub commented on #11736
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/628/consoleText
Failed again here:
[code]
cc: @tarekgh

[2016-09-26 16:26] stephentoub commented on #11987
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/628/consoleText

[2016-09-26 16:29] bartonjs commented on #12052
@steveharter I'm guessing that Windows 7 doesn't have 186-3 support.  We might need to make the default 1024 bit, or make an OS version check so it can be 2048 everywhere but 7.

(And if that's actually the case we'll probably need to backport that to NetFx; where apparently we don't run the default ctor of DSACng on Win7)

[2016-09-26 16:29] karelz commented on #8120
@VSadov do you have recommendation here?

[2016-09-26 16:43] jhudsoncedaron commented on #12072
I've been studying the problem, and even though I can intercept all instances of SqlConnection.Dispose() I'm not sure of the workaround. The connection object knows internally whether or not it can run commands but does not expose it, and even if it did, it's really hard to convince it to not go back into the connection pool.

[2016-09-26 16:52] ianhays commented on #10113
I'm not familiar with the arm linux build.

@mkborg @jkotas @prajwal-aithal may have better context here.

[2016-09-26 16:58] stephentoub commented on #11885
Now that these are stubbed out, we at least need a basic implementation for FindServicePoint and ServicePoint, e.g. returning valid ServicePoint objects from FindServicePoint, tracking them in a weak table, etc.

[2016-09-26 17:17] alexperovich commented on #12011
Okay, I will see about pulling out ResourceSet into a package.

[2016-09-26 17:24] Mike-EEE commented on #973
Nice work, @SamuelEnglard.  Looks like a nice blog post was also posted today to (hopefully) answer some questions, as well: https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/

[2016-09-26 17:24] sepidehMS opened #12074 "Remove all KeepAllProjectReferences"
Currently some projects are using KeepAllProjectReferences in their csproj. This needs to be cleaned out as it might hide some packaging issues in test passes.

[2016-09-26 17:30] hughbe opened #12075 "Error running `msbuild /T:BuildAndTest /P:Coverage=true`"
[code]

![error](https://cloud.githubusercontent.com/assets/1275900/18844920/5023f3f6-8417-11e6-900a-8222d4db4614.png)

Tools are already initialized, also happens with System.Collections.Specialized, and I haven't checked others

[2016-09-26 17:46] shmao commented on #11274
I confirm that this worked for me. Thanks, @danmosemsft .

Closing the issue.

[2016-09-26 17:46] #11274 closed

[2016-09-26 17:57] ellismg commented on #10449
This appears to be fixed now.  I ran a test job that forced a crash in the runtime and the right thing happened:

[code]

Jenkins correctly detected the above as a failure:

[code]

And correctly failed the job.

[2016-09-26 17:57] #10449 closed

[2016-09-26 18:01] #8090 closed

[2016-09-26 18:25] tarekgh commented on #11736
@stephentoub I'll take a look.

[2016-09-26 18:25] SamuelEnglard commented on #973
@Mike-EEE thanks! Wish I could have just pointed at that!

[2016-09-26 19:34] SherifRefaat opened #12078 "Orderby fails silently -- LINQ"
**Situation**:

This LINQ query will run on a DB table.

[code]

The `resultList` will contain the data 'ordered by' the standard sort algorithm for that type -- which in this case is String.

**Argument**:

1- I understand that the logic / code of `SerialNumberComparer` can not be transferred to the any SQL engine or at least it is not something that universal in all SQL engines.

2- This behavio

[2016-09-26 20:34] mellinoe commented on #157
We should be able to expose these in only .NET Core for the current time, and add them to .NET Framework later.

[2016-09-26 20:35] mellinoe commented on #930
This is still something we can consider, but it will probably require setting up some build/CI configurations especially for this, which would be a lot of effort for just a little benefit.

[2016-09-26 20:37] mellinoe commented on #1008
@MikePopoloski This is a pretty old issue, but do you still have any thoughts about how you would envision this being designed and exposed, from an API perspective?

[2016-09-26 20:37] pscho-msft opened #12079 "Don't invoke virtual property setters inside the base constructor."
This is related to the following issue which does not appear to have been fully addressed:
https://github.com/dotnet/corefx/pull/6829

We are still seeing the issue in the AuthenticatedAes class. Here is a partial call stack. Feel free to request additional information.

0000004b9864d960 00007ffce4a131e3 Security.Cryptography.AuthenticatedAesCng.set_Mode(System.Security.Cryptography.CipherMode)
00

[2016-09-26 20:38] mellinoe commented on #993
We still need a concrete proposal for this to be actionable, but @CarolEidt and I have discussed some possible options on various occasions.

[2016-09-26 20:39] mellinoe commented on #1010
I still believe this would be a useful addition, but like many of the others for `Vector<T>`, we need to come up with a concrete API proposal to make it actionable.

@mburbea I know this issue is very, very old, but let me know if you have any further thoughts about this, or concrete ideas for API additions.

[2016-09-26 20:41] mellinoe commented on #1129
@ConradMellin Do you have any further input on this issue? I think the initial idea is good, but we'd need a more concrete proposal for this to be actionable.

[2016-09-26 20:42] mellinoe commented on #1151
@tannergooding , @terrajobst We should try to get this pushed through a design review meeting; I think it's a valuable addition to be made.

[2016-09-26 20:43] karelz commented on #12075
Is it specific to Collections.NonGeneric tests?
cc: @Priya91 @ianhays

[2016-09-26 20:45] tannergooding commented on #1151
@mellinoe, just let me know what needs to be done 😄

[2016-09-26 20:46] mellinoe commented on #1605
This is still an important missing piece in our story for `Vector<T>`. We should try to come up with a minimal proposal and push it through a design review. Can anyone come up with a minimal set of API's that could cover the use cases described here?

[2016-09-26 20:50] mellinoe commented on #1617
This is an interesting idea, but I think we will need to take a holistic look at how it will work and behave with our existing stuff. Right now the entire API is designed around a `Vector<T>` being equal to a hardware register. It's unclear whether this kind of API would be implemented on top of that (and just ignore extra bits, or use multiple registers on some platforms?), or if it would be a se

[2016-09-26 20:52] mellinoe commented on #4610
@xied75 Were you still interested in bringing forward a proposal for adding this functionality?

[2016-09-26 20:54] mellinoe commented on #10772
I think the above description by @shawnhar explains why the proposed functionality won't necessarily behave as expected in all cases; I'm going to close this issue for now.

[2016-09-26 20:54] #10772 closed

[2016-09-26 20:55] steveharter commented on #12052
@bartonjs how is it possible the DSACng default ctor doesn't run on windows 7? Hack of some sort?

[2016-09-26 20:56] mellinoe commented on #10057
@d3x0r This topic's fallen inactive, so I'm going to close it for now. If you still feel strongly that there's some functionality missing here, please clarify some of the above and we can continue the discussion.

[2016-09-26 20:56] #10057 closed

[2016-09-26 21:02] hughbe commented on #12075
I also get it for System.Collections.Specialized but not System.Json for example

[2016-09-26 21:07] Priya91 commented on #12075
Am able to repro the failure on System.ComponentModel.TypeConverter as well, doesn't seem to be specific on collections.

[2016-09-26 21:16] karelz commented on #993
Dupe of #1168 which has more useful info.

[2016-09-26 21:16] #993 closed

[2016-09-26 21:21] karelz commented on #1151
Please edit the first post with final proposal. If there's agreement, @mellinoe can bring it for API review.

[2016-09-26 21:27] 304NotModified commented on #1797
So this will be netstandard2? https://twitter.com/migueldeicaza/status/780501106443055104

https://github.com/dotnet/standard/blob/master/netstandard/ref/mscorlib.cs#L5035-L5070

?

[2016-09-26 21:36] karelz commented on #5360
We need final formal API proposal.

[2016-09-26 21:43] tannergooding commented on #1151
@karelz, How specific does the 'final' proposal need to be?

There are, essentially, four separate pieces to the PR:
* Single precision functions that should exist for parity with the Double precision functions currently available (Sin, Cos, Tan, Sqrt, etc).
* Functions which don't exist for either precision formats, but should likely exist and would have common use (`SinCos`, `FMA`, etc)
* Functi

[2016-09-26 21:45] karelz commented on #4833
This is tracking the occasional test failure in CoreFX, which is cause by some problem in Runtime/OS - see https://github.com/dotnet/coreclr/issues/2266

[2016-09-26 21:49] karelz commented on #2209
Isn't it sufficient to track individual API-level features?

[2016-09-26 21:50] #11222 closed

[2016-09-26 21:50] karelz commented on #7304
We cannot reproduce the problem. If you still have problem with the latest VS+.NET Core, please reopen

[2016-09-26 21:50] #7304 closed

[2016-09-26 21:52] karelz commented on #9807
Original question seems to be answered. Feel free to open a new issue if needed ...

[2016-09-26 21:52] #9807 closed

[2016-09-26 21:54] karelz commented on #9409
Looks like dupe of #4833.

[2016-09-26 21:54] #9409 closed

[2016-09-26 22:03] #11987 closed

[2016-09-26 22:18] jamesqo opened #12083 "Consider checking for IReadOnlyCollection in Enumerable.ToArray"
It may be useful to check for `IReadOnlyCollection` in `Enumerable.ToArray` so we can presize the array before copying over the elements. Additionally, if source implements `IReadOnlyList` we can avoid the enumerator allocation and make only 1 as opposed to 2 virtual calls per iteration.

I do not think we should optimize for read-only collections in other parts of the LINQ codebase, since 1) it w

[2016-09-26 22:24] karelz commented on #526
Seems to be ready for closure, feel free to reopen if you disagree.

[2016-09-26 22:24] #526 closed

[2016-09-26 22:31] tarekgh opened #12084 "System.Net.NameResolution.Tests occasionally fails in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/647/consoleFull#126993540579fe3b83-f408-404c-b9e7-9207d232e5fc

14:48:58   Discovering: System.Net.NameResolution.Pal.Tests
14:48:58   Discovered:  System.Net.NameResolution.Functional.Tests
14:48:58   Starting:    System.Net.NameResolution.Functional.Tests
14:48:58   Discovered:  System.Net.NameResolution.Pal.T

[2016-09-26 22:32] tarekgh commented on #12084
CC @davidsh

[2016-09-26 22:33] tarekgh commented on #12084
CC @danmosemsft

[2016-09-26 22:34] davidsh commented on #12084
cc: @ericeil @stephentoub @CIPop

[2016-09-26 22:35] stephentoub commented on #12084
This should have just been fixed with https://github.com/dotnet/corefx/pull/12077.

[2016-09-26 22:36] karelz commented on #2335
Seems that it has been addressed in the linked PR. Feel free to reopen if you disagree.

[2016-09-26 22:36] ericeil commented on #12084
Yes, this was fixed with #12077.

[2016-09-26 22:36] #12084 closed

[2016-09-26 22:39] ddobric opened #12085 "Strange dependency behavior"
Hi all,

I have a library build for netstandard1.4, which corresponds to .NET 461.
Then I build a desktop console application with .NET 4.5 and added reference to named library.
All worked fine.

But, this should not work, because v4.5 should not be able to use netstandard1.4.  Previously this was not the case.
Is tat same new expected behavior?

Thanks

[2016-09-26 22:45] #11292 closed

[2016-09-26 22:46] mellinoe commented on #12085
And how are you building/running your project? NuGet would prevent you from installing such a library into your console application, but that doesn't necessarily mean that you couldn't directly reference the assembly, build against it, and deploy some facades to make it work at runtime. And if your netstandard1.4 assembly didn't happen to use anything that wasn't available in .NET 4.5, then you mi

[2016-09-26 22:52] karelz commented on #3563
Dupe of #6318

[2016-09-26 22:52] #3563 closed

[2016-09-26 22:54] davidsh opened #12088 "WebSockets.Client tests fail on UWP"
Running the innerloop System.Net.WebSockets.Client.Tests fails on UWP (netcore50). 2 of the 3 innerloop tests fail:

[code]

[2016-09-26 22:54] mellinoe commented on #1151
I think it would make sense to separate out the first bullet from the rest (a la the issue title). Not to say that the latter 3 aren't important; I think we should do those, too. It will be easier to reason about and deliver if we can focus on the first bullet by itself, though.

It's something we need to decide, but I think we can proceed with a design review if we have a couple of options to cho

[2016-09-26 22:54] davidsh commented on #12088
cc: @stephentoub

[2016-09-26 22:56] tannergooding commented on #1151
@mellinoe, thanks!

I'll work on updating the post with a 'final' proposal sometime later tonight.

[2016-09-26 22:56] karelz commented on #6414
@SunnyWar do you plan to take it on?

[2016-09-26 23:03] tarekgh commented on #11736
fixed with the linked PR.

[2016-09-26 23:03] #11736 closed

[2016-09-26 23:10] mellinoe commented on #6831
Thanks for the updates, @varocarbas ; glad to see you've gotten a working prototype up and running and looked into some alternative approaches! The new code examples do seem functional and fairly straightforward. I still think there are some conceptual and structural problems I have with the library (like the use of classes, some naming conventions, parsing, etc)., but really it is up to the devel

[2016-09-26 23:14] mellinoe commented on #2209
@redknightlois I know this is a bit of an old issue; apologies for the silence here. Given that there is some overlap with this and other issues (`popcnt`, `Vector<T> additions`, etc.), do you think it is sufficient to open more specific feature requests where applicable, and join other issues where they exist?

[2016-09-26 23:43] MelbourneDeveloper commented on #973
@SamuelEnglard

Nice explanation! Just so you know, I am posting your explanation here:
http://stackoverflow.com/questions/39050911/net-standard-net-core-pcl

I think to sum up, the situation is a lot simpler than I thought.

CLI = DLL format across the board. That's why we can open all DLLs in ILDasm
.Net Standard = standard set of APIs so that anything that implements these APIs is able to lever

[2016-09-26 23:45] ianhays commented on #3275
I'm closing this since it's been on the backlog for a year now without any discussion or movement.

Personally this seems too specific of a case for which to add a dedicated method, particularly since it's easy to add a 1 or 2 line custom method to iterate all values and yield those that are within some range.

[2016-09-26 23:45] #3275 closed

[2016-09-26 23:57] weshaggard commented on #12055
There is some basic support for Reflection.Emit in .NET Core today. We don't currently have plans to add any further support at this point, that may change in the future.

I don't know enough about the space to provide information about DynamicILInfo, but perhaps @jkotas can help suggest some other possible ways to handle that.

[2016-09-27 00:07] jkotas commented on #12055
What are you using DynamicILInfo for?

[2016-09-27 00:12] SamuelEnglard commented on #973
.Net Standard = standard set of APIs so that anything that implements these APIs is able to leverage .NET standard.

Exactly

Close. PCL actually defined how it worked. .NET Standard is just a list of APIs and what they do, kind of like Header files in C++.

[2016-09-27 00:15] akoeplinger commented on #973
One small correction: it's **CIL** (Common Intermediate Language) or just IL, not CLI.

[2016-09-27 00:15] #12050 closed

[2016-09-27 00:15] #12051 closed

[2016-09-27 00:20] SamuelEnglard commented on #973
@akoeplinger I was referencing the CLI since the DLL format is more than just CIL (of particular interest here being the binary serialization).

[2016-09-27 00:20] MelbourneDeveloper commented on #973
Can we guarantee that anything compiled for .NET Standard will run on the .NET Core runtime environment?

[2016-09-27 00:49] terrajobst commented on #11588
@jkotas' point eliminates the usefulness from a pure API perspective. That doesn't mean I'm against it, but it does mean the only use would be performance gains. So I'd leave the decisions to @jkotas.

[2016-09-27 01:01] mburbea commented on #1617
@mellinoe , I never suggested they wouldn't equal a hardware register. But my idea was to allow you to switch down to a smaller register in the case your algorithm really only works on 128 bit, or if you're input isn't a perfect multiple of 256bits, but is still workable with 128bit. (e.g. do as much as you can in 256 bits and then switch down to 128 bit).
Perhaps this can be solved with a new con

[2016-09-27 01:33] MelbourneDeveloper commented on #973
I like those odds.

[2016-09-27 02:21] adrianknight89 opened #12093 "Create corefx.vssettings file for VS 2015 & VS 15"
Can [this](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md) be updated for VS 2015 & VS 15?

[2016-09-27 02:33] SunnyWar commented on #6414
@karelz not at this time.

[2016-09-27 03:35] stephentoub commented on #11727
What assembly do we want this in?  I hadn't realized this was being ported, and I ended up doing so as part of a side project to bring System.CodeDom to corefx.  I can separate it out from that to satisfy this issue, I just need to know where to put it.

[2016-09-27 03:36] stephentoub commented on #9485
I'm working on porting System.CodeDom to corefx, though at least at first it'll be just the type model and code generator, i.e. it won't compile the resulting source into assemblies.  But that can be added subsequently, likely on top of Roslyn.

[2016-09-27 04:17] huoyaoyuan commented on #12053
Still a question: for `System.IO.Compression`, it installs just GAC assembly for .NET Framework 4.5, but an additional assembly for 4.6. The framework assembly in 4.6 should have more content than 4.5, right? So why the additional assembly is only installed in 4.6?

[2016-09-27 05:20] redknightlois commented on #2209
I have been thinking since @karelz comment. I dont know which is the proper approach. We can say that "X intrinsic", "Y intrinsic" and "Z intrisinc" is the proper way to go; but on the other hand, the lack of SIMD intrisics is what cause X, Y and Z issues. So for me it is a chicken and egg issue. I would take this as probably the parent and keeper of "supporting SIMD intrisics as a design  problem

[2016-09-27 05:42] SedarG commented on #11516
I'd rather not. None of the libs ship rd.xml like that today.

I see. It doesn't sound like too big of a win.

@Priya91, when will you be able to bring back the missing configuration

[2016-09-27 08:28] varocarbas commented on #6831
@mellinoe

If you face the analysis from an abstract, theoretically-perfect, making-sure-that-any-user-will-never-make-a-mistake perspective, you would certainly see lots of problems with my approach (e.g., many scenarios were wrong inputs are possible; although managing all the errors internally and only triggering exceptions when expressly instructed helps on this front). Additionally, bear in m

[2016-09-27 10:10] holgerleichsenring opened #12096 "Where are the autogen properties in asp.net core localizers?"
There are some questions raised due to implementation of ILocalizer interface:

It's introduced like this via Dependency Injection (from docs):

    Route("api/[controller]")]
    public class AboutController : Controller
    {
        private readonly IStringLocalizer<AboutController> _localizer;

        public AboutController(IStringLocalizer<AboutController> localizer)
        {
            _l

[2016-09-27 11:18] dudikeleti commented on #12055
@jkotas I'm using it for set the code byte array of a DynamicMethod (I'm need to convert method to DynamicMethod).

As an aside, why DynamicMethod and emit opcodes are included and the DynamicILInfo not? Is it not just more form the same capabilities? There is something special that it can't be included?
If not, it would be nice if it included.

BTW @Immo Landwerth wrote in [this post](https://blo

[2016-09-27 11:20] svick commented on #12096
`IStringLocalizer<T>` is part of [the aspnet/Localization repo](https://github.com/aspnet/Localization), not corefx, so I think any questions about it belong there.

[2016-09-27 11:42] hughbe commented on #12058
@ericstj I've tried this out with System.Collections, and the project now builds and tests without errors

[2016-09-27 11:46] xied75 commented on #4610
@mellinoe When I started this issue I was converting a Java derived C# library, and in Java there are lots of methods on BigInteger, later I gave up due to the dislike of Java's idioms. I tried to bring in the real experts like @Steppenwolfe65. Now I think the real question is Do people really think Corefx should have a rich Numerics (which includes BigInteger and many more), or rather nuget third

[2016-09-27 11:49] holgerleichsenring commented on #12096
then close the issue, will move it.

[2016-09-27 11:49] svick commented on #3275
@ianhays

The whole point of this proposal is to do it *efficiently*, taking advantage of the fact that the collections are already sorted.

For example, to retrieve *k* items starting from some value from a `SortedDictionary` with *n* items using `UpwardsFrom()` (or a similar API) would be O(log *n* + *k*).

With the one-liner you proposed, it would be O(*n*).

[2016-09-27 12:30] svick commented on #12083
Not sure that's a good idea, since iterating using the indexer could be much slower than iterating using `IEnumerator<T>`. This could happen with custom collections similar to `ImmutableList<T>` (but not `ImmutableList<T>` specifically, since that also implements `ICollection<T>` and so `ToArray()` just calls `CopyTo()`).

[2016-09-27 13:10] jkotas commented on #12055
There is no reasonable way in the currently available .NET Core RefEmit APIs to just set the IL for the method if you have it available. I agree that it would make sense to add DynamicILInfo. It is the core building block for power users - ILGenerator and friends are a convenience layer above it.

[2016-09-27 13:54] gdoron commented on #1370
Is this issue related to the fact that many times though we have pdb files on the servers, we get stacktrace of line 0?

   at Yooocan.Web.Controllers.VendorController.<MyProducts>d__16.MoveNext() in **C:\git\Yooocan\src\Yooocan.Web\Controllers\VendorController.cs:line 0**
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter

[2016-09-27 15:17] joperezr commented on #11727
I haven't started this one yet so don't know where it should go either. @weshaggard I don't see this in dotnet/standard repo yet, do we know where are we going to put it?

[2016-09-27 15:37] tannergooding commented on #1151
@mellinoe, I have updated the original post to be more succinct.

It now has:
* Rational
* Proposed API
* Example Usage
* Perf Numbers

The proposed API has been trimmed down to only provide feature-parity for the existing double-precision math functions

The perf numbers are very basic, only cover a single machine configuration, and do not have the VM layer fully implemented (that is intrinsic su

[2016-09-27 15:39] karelz commented on #2209
I think the key 'problem' here is that this is just a tracking issue without specific proposal. From that perspective it is not actionable and therefore doesn't bring much value IMO. What we need are specific API proposals which can be approved and then implemented. Makes sense? (just my view point, feel free to disagree)

[2016-09-27 15:50] redknightlois commented on #2209
@karelz while I agree, the problem (as I see it) is that this is a key thing that will spawn many design decisions that probably would require many interactions between key people in the API, JIT and CoreCLR backend fronts. I doubt as contributors we can tackle such design problem without fluid access. IMHO unless someone inside MS champion this and sit the key people in the same table, this proba

[2016-09-27 16:43] weshaggard commented on #11727
While the namespace is CodeDom it is really a text writer so we should just put it in System.IO with the other text writers.

[2016-09-27 16:54] stephentoub commented on #11727
Ok, I'll add it there.  Just need to separate it out of my project and I'll submit a PR.

[2016-09-27 17:16] terrajobst commented on #2338
The API itself seems fine. Most concurrent collections have a `Clear` method, except for `ConcurrentQueue<T>` and `ConcurrentBag<T>`. We should probably add it for both.

It's just a matter of implementing it correctly, considering that's it's collection that supports concurrent access.

@MarkusSintonen are you interested in picking this up?

[2016-09-27 17:36] ianhays commented on #9465
Remaining:

	• M:System.IO.Directory.GetLogicalDrives

	• M:System.IO.FileLoadException.GetObjectData(System.Runtime.Serialization.SerializationInfo,System.Runtime.Serialization.StreamingContext)
	• M:System.IO.FileLoadException.get_FusionLog

	• M:System.IO.FileNotFoundException.get_FusionLog

	• M:System.IO.Stream.CreateWaitHandle
	• M:System.IO.Stream.ObjectInvariant
	• M:System.IO.Stream.Synch

[2016-09-27 17:41] terrajobst commented on #11764
There is no way to make both sides compatible: either we break the source code written against the .NET Framework style APIs or we break the source code written against the contracts. However, it'also a binary breaking change.

It seems the best approach is:

* Ensure source written against and binaries compiled against .NET Framework work with .NET Standard
* Ensure binaries compiled against the

[2016-09-27 17:41] #11764 closed

[2016-09-27 17:43] tannergooding commented on #1151
Please let me know if you feel the original post should be modified further.

[2016-09-27 17:50] SamuelEnglard commented on #1151
Just realized but since the ECMA standard says that the CLR VM only has one internal floating point type (I.12.3.1) I'm not sure how portable this idea might be (since on some platforms it might really just be calling the float64 versions for example)

cc: @CarolEidt

[2016-09-27 17:52] steveharter commented on #12052
Fixed. @bartonjs considering whether the legal key sizes should also be adjusted

[2016-09-27 17:52] #12052 closed

[2016-09-27 17:56] tannergooding commented on #1151
@SamuelEnglard, Even if the target platform/architecture only has a single floating point format (say 80-bits, as was the case with the x87 FPU), the user still gets the benefit of code that is easier to write/maintain. They just won't get the performance benefit that other platforms/architectures will receive.

This is really very similar to the `System.Numerics.Vector` types, which will see a pe

[2016-09-27 18:07] terrajobst commented on #6308
@varocarbas: thanks for writing this up!

### Part 1

We just reviewed the proposal and concluded that the API seems to be fairly complicated for what it's trying to achieve: simplification of rounding and truncation. Also, with floating point there is always the possibility of losing precision; it seems much better to let the developer do the actual multiplication/division followed by calling the

[2016-09-27 18:07] #6308 closed

[2016-09-27 18:10] Mike-EEE commented on #5766
Wow, this issue is now over 100 upvotes!  Thank you so much to everyone who has shown their support.  If anyone is interested, there is a really (**really!**) great article by @terrajobst complete with his tremendous trademark developer engagement in the comments here:
https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/

(Seriously, every MSFT employee who posts a company-

[2016-09-27 18:10] SamuelEnglard commented on #1151
@tannergooding I'm not saying don't do, just more that it should be noted (just like how it is with `System.Numerics.Vector`)

[2016-09-27 18:30] kouvel opened #12102 "Port some missing types/members in S.R.InteropServices"
[code]

[2016-09-27 18:35] terrajobst commented on #1151
The methods themselves look fine and the performance improvements seem to be well worth it. Thanks a ton for that!

We discussed whether we want to introduce a separate type and if so how we should name it. Due to source compat, we can't introduce the methods on `Math`, but we considered making them static methods on `float`. We would have to do the same for the existing methods on `Math`. Ultimat

[2016-09-27 18:45] JeremyKuhne commented on #187
@terrajobst

They should not block other handle types for \\?\ strings. We already allow \\?\. No API surface change, just functional.

[2016-09-27 18:47] vcsjones opened #12103 "Unable to find native library for OpenSSL"
I had .NET Core working just fine on my Mac a few days ago. Today, it no longer works:

A few things have changed since a few days ago and today.

* I upgraded to OS X Sierra.
* Homebrew, which is how I installed the latest OpenSSL, shuffled things around. I did a `brew update`, and was greeted with this:

Homebrew no longer needs to have ownership of /usr/local."

1. I don't think I did anything

[2016-09-27 18:47] vcsjones commented on #12103
cc @bartonjs

[2016-09-27 18:50] varocarbas commented on #6308
@terrajobst  It seems that you have already done your decision and cannot say anything to change it. But I will write my impressions anyway.

**PART 1**

I guess that you mean from the user perspective (I don't feel that way, but understand your position); but just in case it was about the code, note that I wrote a very preliminary version. For example, I have been improving that code while adding

[2016-09-27 19:01] jkotas commented on #12102
`System.Runtime.InteropServices.WindowsRuntime.*` types are not in netstandard20 (https://github.com/dotnet/standard). I do not think there is anything to do for them.

cc @yizhang82

[2016-09-27 19:10] kouvel commented on #12102
I see them here:
https://github.com/dotnet/standard/blob/master/netstandard/ref/mscorlib.cs#L10219

[2016-09-27 19:17] tthiery commented on #11155
@terrajobst Just read .NET Standard 2.0. Has not changed much on my question (btw: Nice technical article... cannot agree with people complaining about complexity ... it is complex but hey, this is the .NET team blog)

[2016-09-27 19:18] jkotas commented on #12102
Yi has pending PR to scrub them https://github.com/dotnet/standard/pull/31

[2016-09-27 19:31] yizhang82 commented on #12102
@jkotas @weshaggard Is S.R.Runtime.WindowsRuntime.dll and S.R.Runtime.WindowsRuntime.UI.Xaml.dll in netstandard? My guess is that they need to go in interop extension?

[2016-09-27 19:39] tannergooding commented on #1151
Thanks. I will work on updating my PR to match the approved API.

The additional work still required in the PR will be to ensure:
* Intrinsic support is properly hooked up
* We have a full suite of tests (matching the double-precision coverage).
* We have a valid set of performance tests covering the new code

[2016-09-27 19:43] ddobric commented on #12085
I use VS and also command line (dotnet build) for build. I'm referencing assemblies directly, because currently it is not possible to add project reference to netcore libs directly from "desktop projects" (i.e.: console application, lib etc.)

So, if I understood You correctly, by using of direct references, there is no framework check, which was working previously?
I'm fine with this. Just wanted

[2016-09-27 19:45] #12096 closed

[2016-09-27 19:55] steveharter commented on #9983
FYI the list of new members
public abstract partial class HashAlgorithm : System.IDisposable, System.Security.Cryptography.ICryptoTransform
     {
+        protected internal byte[] HashValue;
+        protected int State;
+        public virtual bool CanReuseTransform { get { return default(bool); } }
+        public virtual bool CanTransformMultipleBlocks { get { return default(bool); } }
+

[2016-09-27 21:06] Priya91 commented on #11516
@Priya91, when will you be able to bring back the missing configuration

I'm working on other things today, will do tom.

[2016-09-27 21:57] mellinoe opened #12107 "kdc-setup.sh failed on Ubuntu 16.10"
In some of the outerloop runs of Ubuntu 16.10, the [setup-kdc.sh script](https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/tests/Scripts/Unix/setup-kdc.sh) is failing during `apt-get` with a 404 error. This appears to be intermittent because some runs have succeeded or at least not failed on these particular tests.

Here is an example failure log:
http://dotnet-ci.cloudapp.net/j

[2016-09-27 23:02] #11727 closed

[2016-09-27 23:21] stephentoub commented on #11598
Failed here on Ubuntu:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/703/

[2016-09-27 23:29] shmao commented on #11274
The issue probably was fixed by https://github.com/dotnet/corefx/pull/11527.

[2016-09-27 23:59] shmao commented on #11254
These APIs were added in netstandard 2.0, see https://github.com/dotnet/standard/blob/master/netstandard/ref/System.Runtime.Serialization.cs

[2016-09-28 00:01] shmao commented on #11129
The API is added in netstandard2.0, see https://github.com/dotnet/standard/blob/master/netstandard/ref/System.Xml.cs

And PR #12017 is adding the API in CoreFx. We would need to add tests for the API.

[2016-09-28 00:03] shmao commented on #10581
The API is added in netstandard2.0, see https://github.com/dotnet/standard/blob/master/netstandard/ref/System.Xml.cs

And PR #12017 is adding the API in CoreFx. We would need to add tests for the API.

[2016-09-28 00:04] shmao commented on #10580
The API is added in netstandard2.0, see https://github.com/dotnet/standard/blob/master/netstandard/ref/System.Xml.cs

And PR #12017 is adding the API in CoreFx. We would need to add tests for the API.

[2016-09-28 00:04] #11223 closed

[2016-09-28 00:07] shmao commented on #10578
The API is added in netstandard2.0, see https://github.com/dotnet/standard/blob/master/netstandard/ref/System.Xml.cs

And PR #12017 is adding the API in CoreFx. We would need to add tests for the API.

[2016-09-28 00:08] shmao commented on #10577
The API is added in netstandard2.0, see https://github.com/dotnet/standard/blob/master/netstandard/ref/System.Xml.cs

And PR #12017 is adding the API in CoreFx. We would need to add tests for the API.

[2016-09-28 00:09] shmao commented on #11129
This would be resolved by #12017.

[2016-09-28 00:09] #11129 closed

[2016-09-28 00:09] shmao commented on #10572
The API is added in netstandard2.0, see https://github.com/dotnet/standard/blob/master/netstandard/ref/System.Xml.cs

And PR #12017 is adding the API in CoreFx. We would need to add tests for the API.

[2016-09-28 00:10] shmao commented on #10575
The API is added in netstandard2.0, see https://github.com/dotnet/standard/blob/master/netstandard/ref/System.Xml.cs

And PR #12017 is adding the API in CoreFx. We would need to add tests for the API.

[2016-09-28 00:11] shmao commented on #10574
The API is added in netstandard2.0, see https://github.com/dotnet/standard/blob/master/netstandard/ref/System.Xml.cs

And PR #12017 is adding the API in CoreFx. We would need to add tests for the API.

[2016-09-28 00:12] shmao commented on #10573
The API is added in netstandard2.0, see https://github.com/dotnet/standard/blob/master/netstandard/ref/System.Xml.cs

And PR #12017 is adding the API in CoreFx. We would need to add tests for the API.

[2016-09-28 00:12] shmao commented on #10570
The API is added in netstandard2.0, see https://github.com/dotnet/standard/blob/master/netstandard/ref/System.Xml.cs

And PR #12017 is adding the API in CoreFx. We would need to add tests for the API.

[2016-09-28 00:41] jkotas commented on #12102
Correct, they are not in netstandard. I do not think there is any work we need to do for them.

[2016-09-28 01:36] pranavkm opened #12114 "Restoring Microsoft.NETCore.App 1.1.0--preview1-001069-00 produces downgrade warnings"
* Multiple versions of the same package?
[code]

* Incorrect version
[code]

[2016-09-28 01:53] int19h opened #12115 "Helpers for structural equality and comparison"
There are quite a few types that implement `IStructuralEquatable` and `IStructuralComparable` in the framework now - most notably, arrays and tuples, and hopefully more to come (collections?).

Unfortunately, using them is unnecessarily verbose, because implementations of these are usually explicit (presumably to avoid overloading `Object.Equals`). So to compare two tuples or arrays `a` and `b`, y

[2016-09-28 02:12] #11815 closed

[2016-09-28 03:12] stephentoub commented on #9485
#12117

[2016-09-28 03:13] stephentoub commented on #9873
#12117 adds System.CodeDom, but without compilation support, e.g. you can build up an object model and generate C#/VB from it, but you'll get PlatformNotSupportedException currently if you try to then compile that source or object model into an assembly.

[2016-09-28 03:37] davidsh commented on #12088
This is a problem with the UWP TestRunner not having all the string resources (error messages in this case) in the appx package for the test runner.

[2016-09-28 04:24] stephentoub commented on #8895
@jkotas, do you have an opinion here on SafeHandle swalling failures when ReleaseHandle returns false?

[2016-09-28 04:45] ericstj commented on #12114
For runtime.native.System.Security.Cryptography.OpenSsl it was missing an entry in our packageIndex for the baseline version.

For the host that's something Senthil will have to look at.  I'll open an issue in the core-setup repo.

[2016-09-28 04:50] stephentoub commented on #11991
Yes, I was.  1.1 is due out in the relatively near future.  If you want to try it out before then, you can use the preview packages from https://dotnet.myget.org/feed/dotnet-core.  I'm hopeful you'll find your issues has been addressed.

[2016-09-28 05:35] pranavkm commented on #12114
I see this warning for lots of packages. Here's two of them

[code]

[2016-09-28 05:43] ericstj commented on #12114
Hmm, those seem like NuGet being too aggressive with the downgrade warnings.  The higher version came from a lineup.  This will impact public packages and ASP.NET packages as well.

Consider a package built against RTM referencing S.R & S.C at 1.0.  We update the lineup in 1.1.  Now runtime.S.C depends on S.R 1.1 and NuGet flags that as a downgrade.  /cc @rrelyea @davidfowl

[2016-09-28 06:47] alikalfaoglu commented on #8188
We have implemented missing pieces (notification & dependency) locally in our project, shall we contribute?

[2016-09-28 07:59] davidfowl commented on #9039
Nope. The libraries we write will strive to be netstandard. When we need platform specific API then we'll consider cross compiling. All of ASP.NET will most likely be .NET Standard 2.0 without hacks.

[2016-09-28 08:48] gulbanana commented on #9039
yeah, netstandard 2.0 changes the game. quoting two sections of the blog post in particular:

Optional APIs aren’t part of .NET Standard but are available as separate NuGet packages. We try to build these as libraries targeting .NET Standard so that their implementation can be consumed from any platform, but that might not always be feasible for platform specific APIs (e.g. Windows registry).

[..

[2016-09-28 08:48] #9039 closed

[2016-09-28 09:31] CumpsD commented on #2575
Is there a plan/workaround to support them?

A library somewhere, a snippet to make it work, a roadmap?

[2016-09-28 10:12] jkotas commented on #8895
The return value from `SafeHandle.ReleaseHandle` does not seem to be very useful because of it is used just for MDA reporting on desktop and it does not capture any details about the error. I do not know why it was designed this way.

The error handling in cases like this one is done via exception handling. If there is a data loss, it should be reported via exception thrown from the place where it

[2016-09-28 10:50] zabulus commented on #8895
If it throws an exception during finalization isn't this lead to a program termination?
From MSDN docs: https://msdn.microsoft.com/en-us/library/system.object.finalize(v=vs.110).aspx#Notes

[2016-09-28 11:43] jkotas commented on #8895
Right - like any other unhandled exception.

[2016-09-28 11:45] thecodejunkie commented on #4544
Any updates on this?

[2016-09-28 12:52] milla opened #12122 "Does .Net Core has replacement for SynchronizedCollection<T> ?"
SynchronizedCollection<T> cannot be found in .net core.
Does netcore has replacement ?

Thanks, Elaine

[2016-09-28 13:15] benaadams commented on #12122
Do any of the collections in System.Collections.Concurrent meet your needs? They are much better than SynchronizedCollection https://msdn.microsoft.com/en-us/library/system.collections.concurrent.aspx

[2016-09-28 14:03] meriturva commented on #9503
Any news here? is it planed to be released on milestone 1.2.0 ? April 2017 ? I think that we need a solution now for Windows 7! What do you think?

[2016-09-28 14:19] stephentoub commented on #12039
@agocke, can you propose what you'd want the API to look like?  Are you asking for a method like:
[code]
or one like:
[code]
or both or something else?

[2016-09-28 15:09] karelz commented on #12107
@mellinoe do you know who could help with that?

[2016-09-28 15:13] jhudsoncedaron commented on #8895
@zabulus : Which is why I wrote that it should be swallowed on Dispose() but thrown on Close(). However I consider a writing file handle leaked all the way to Finalize() to be a deranged state.

[2016-09-28 15:38] ericstj commented on #12114
Fixed with #12118

[2016-09-28 15:38] #12114 closed

[2016-09-28 15:40] 4creators commented on #2576
Thread is a basic operating system primitive with significantly different properties and abstraction than Task in .NET. Even further thread is a basic concept of operating system built into silicon by Intel/AMD for x86 and ARM for their respective ISAs (except for microcontrollers). Concepts of thread context, context switching and symmetric multithreading are based on physical thread implementati

[2016-09-28 15:59] svick commented on #12078
Yes. All LINQ does is to construct an expression tree that represents your query. It's up to the LINQ provider to decide how to handle it (and whether to handle it or give up with an exception).

What ORM are you using? I think you should ask them whether this is the expected behavior.

[2016-09-28 16:37] SedarG commented on #11521
@AtsushiKan would you mind taking a look at this issue

[2016-09-28 17:00] ianhays opened #12124 "Move StreamReader and StreamWriter to CoreFX"
StreamReader/Writer should be moved out of mscorlib and into corefx. By doing so, we'll be able to add back the string constructors that take a file path without relying on coreclr's version of FileStream. For now, those should be implemented using reflection to the assembly.

Discussed in https://github.com/dotnet/corefx/pull/12101#discussion_r80815212.

Required for / forked from: https://github

[2016-09-28 17:01] ianhays commented on #11151
- [ ] System.IO (StreamReader/StreamWriter) needs access to FileStream from System.IO.FileSystem

[2016-09-28 17:14] ianhays commented on #9465
All of the remaining IO API's are in PR (https://github.com/dotnet/coreclr/pull/7385) to be exposed in CoreCLR. The final work item is to add/port tests and submit a CoreFX PR to add them the API's to the ref files.

I split StreamReader/StreamWriter ctors to their own issue.

[2016-09-28 17:16] mellinoe commented on #12107
@rahulkotecha Any thoughts on how we could improve this?

[2016-09-28 17:26] ericeil commented on #11793
[code]

[2016-09-28 17:26] ericeil commented on #11793
[code]

[2016-09-28 17:29] ericeil opened #12125 "Port remaining methods in System.Net.CookieCollection/CookieContainer/CookieException"
[code]

[2016-09-28 17:31] ericeil opened #12126 "Port remaining methods in System.Net.CredentialCache"
[code]

[2016-09-28 17:31] davidsh commented on #12125
@ericeil while you are doing this, please consider merging/removing the duplicated portions of Cookie* stuff that is located here:
https://github.com/dotnet/corefx/tree/master/src/System.Net.Http/src/netcore50/System/Net

[2016-09-28 17:33] ericeil opened #12127 "Port System.Net.EndpointPermission"
[code]

[2016-09-28 17:35] ericeil commented on #11883
[code]

[2016-09-28 17:36] ericeil opened #12128 "Port System.Net.GlobalProxySelection"
[code]

[2016-09-28 17:38] joperezr opened #12129 "Switch the default TestTFM to be netcoreapp1.1 for all tests"
Currently the default TestTFM is still netcoreapp1.0, and when you are running tests without passing `FilterToTestTFM` we will run tests for netcoreapp1.0 and netcoreapp1.1. Given that netcoreapp1.0 tests are a subset of netcoreapp1.1, it should be ok to moving all of the defaults to netcoreapp1.1 and just running those. This will involve some work on changing project.jsons supports clauses, Test

[2016-09-28 17:39] davidsh commented on #12128
This has been marked as [obsolete] already in the .NET Framework.  So, we can port it, but still need to keep it marked [obsolete]. It probably should just throw a not-supported exception.

[2016-09-28 17:40] ericeil commented on #11881
List of missing types/members:

[code]

[2016-09-28 17:46] ericstj opened #12130 "Bump minor version for MS.NETCore.Platforms and Targets"
Allow for builds out of 1.0.0 branch with unique package versions.

[2016-09-28 17:47] weshaggard commented on #12129
As this I assume you are also going to remove the fallback which also causes the netcoreapp1.0 tests to run, as that is adding a bit of duplicated test runs.

I see you are hinting at it but just so it is clear this will include updating all the Test.builds file such that their default build configuration is for TestTFMs=netcoreapp1.1 and TargetGroup=netstandard1.7?

[2016-09-28 17:51] JeremyKuhne commented on #11151
Tagging myself as IO is a big part of this

[2016-09-28 17:52] ericstj commented on #12130
NETStandard.Library has the same characteristic (it's currently 1.6.1 in 1.1 branch) but we're deciding not to bump minor nor allocate a range for a NETStandard.Library update from the 1.0 branch, because that would conflict with versioning goals for NETStandard.Librar package.  /cc @Petermarcu

[2016-09-28 17:52] ericeil opened #12131 "Port System.Net.IPAddress missing members"
[code]

[2016-09-28 17:54] ericeil opened #12132 "Port System.Net.IWebProxyScript"
[code]

[2016-09-28 17:54] ericeil commented on #12132
Not sure if this is actually used by anything in netstandard2.0.

[2016-09-28 17:55] ericeil opened #12133 "Port System.Net.NetworkAccess"
[code]

[2016-09-28 17:56] ericeil opened #12134 "Port System.Net.NetworkCredential missing members"
[code]

[2016-09-28 17:57] davidsh commented on #12132
You can port this.  But it needs to be a no-op.  We deprecated this code a while ago. It doesn't even work in .NET Framework (Desktop).  There should not be any customers really using it anyways.  There is way we can run "script" (Javascript) PAC files anymore in .NET.

[2016-09-28 17:58] ericeil opened #12135 "Port System.Net.ProtocolViolationException missing members"
[code]

[2016-09-28 17:58] ericeil opened #12136 "Port System.Net.TransportContext missing members"
[code]

[2016-09-28 17:59] ericeil opened #12137 "Port System.Net.WebClient missing members"
[code]

[2016-09-28 18:00] ericeil commented on #12137
Note that we are currently *not* deriving from `Component`.

[2016-09-28 18:01] ericeil opened #12138 "Port missing System.Net.WebException members"
[code]

[2016-09-28 18:02] ericeil opened #12139 "Port missing System.Net.WebHeaderCollection members"
Missing members *and* base class:

[code]

[2016-09-28 18:04] ericeil opened #12140 "System.Net.WebProxy should implement IWebProxy"
[code]

[2016-09-28 18:05] ericeil opened #12141 "Implement System.Net.WebRequest/WebResponse missing members and base class"
Missing members and base class:

[code]

[2016-09-28 18:05] ericeil commented on #12141
Note that it's the `set`ters that are missing from the properties.

[2016-09-28 18:06] ericeil opened #12142 "Port System.Net.WebUtility missing members"
[code]

[2016-09-28 18:06] stephentoub commented on #12137
Once @AlexGhiondea completes adding Component to corefx, I suggest that someone do a sweep through the repo making Component a base class for everything it needs to be, rather than doing it piecemeal.
cc: @danmosemsft

[2016-09-28 18:08] ericeil opened #12143 "Implement ICloneable on types in System.Net.Http.Headers"
[code]

[2016-09-28 18:10] sepidehMS opened #12144 "Clean up P2P references in Xml contracts"
There are some P2P references marked as TODO in System.Private.Xml and other Xml contracts which should be removed when new packages are generated.

[2016-09-28 18:12] sepidehMS opened #12145 "Rename System.Xml contract (currently System.Xml.ReaderWriter)"
A lot of Xml APIs are in System.Xml.ReaderWriter, is that the right place and name for them?

[2016-09-28 18:14] sepidehMS opened #12146 "Add UAP101 support for Xml contracts"
uap101 and uap101aot build configurations should be added for System.Private.Xml and other Xml contracts.

[2016-09-28 18:14] ericeil opened #12147 "Port remaining methods in System.Net.NetworkInformation"
Missing type:
[code]

Missing methods / base types:
[code]

Missing `static` class annotation:
[code]

[2016-09-28 18:18] ericeil opened #12148 "Port missing System.Net.Security methods"
[code]

[2016-09-28 18:20] ericeil commented on #11788
Also missing:
[code]

[2016-09-28 18:21] ericeil commented on #11793
[code]

[2016-09-28 18:22] ericeil opened #12150 "Port System.Net.WebSockets.WebSocketException missing members"
[code]

[2016-09-28 18:36] ericeil commented on #12126
Actually, `Add` and `Remove` are already there, but with different parameter names.  @terrajobst, do we need to match parameter names in the public contracts for netstandard2.0?

Also, `GetCredential` is actually a new API in the corefx public surface that's *not* in netstandard2.0.  Not sure if there's anything we need to do there.

[2016-09-28 18:46] ericeil commented on #12134
`GetCredential` is actually an API that's *in* CoreFx, and *not* in netstandard2.0.

[2016-09-28 18:50] kouvel commented on #12102
Sounds good, I'll close this and merge RuntimeEnvironment with another issue.

[2016-09-28 18:50] #12102 closed

[2016-09-28 18:52] kouvel commented on #11808
Added System.Runtime.InteropServices.RuntimeEnvironment to the list

[2016-09-28 19:14] sepidehMS commented on #11888
Done by https://github.com/dotnet/corefx/pull/12017

[2016-09-28 19:14] #11888 closed

[2016-09-28 19:14] sepidehMS commented on #9911
Done by https://github.com/dotnet/corefx/pull/12017

[2016-09-28 19:14] #9911 closed

[2016-09-28 20:16] ericeil commented on #12143
@davidsh mentioned offline that we may already implement ICloneable on these types internally, but we just haven't exposed this in the reference assembly.

[2016-09-28 20:18] danmosemsft opened #12154 "Add ComponentModel base classes where missing."
All these should derive from Component.

- [x] System.Timers.Timer
- [x] System.Net.WebClient
- [x] System.Net.NetworkInformation.Ping
- [x] System.ComponentModel.BackgroundWorker
- [x] System.IO.FileSystemWatcher
- [x] System.Diagnostics.Process
- [x] System.Diagnostics.ProcessModule
- [x] System.Diagnostics.ProcessThread

[2016-09-28 20:19] danmosemsft commented on #12137
Opened #12154

[2016-09-28 20:21] stephentoub commented on #12154
Interesting.  That's actually many fewer than I thought there'd be.  That's good :smile:

[2016-09-28 20:46] joperezr opened #12156 "Add tests for System.Uri and friends"
On PR #11988 we added the implementation of System.Uri and friends, but we didn't add tests. The reason for this is that we want to using Mono tests and it is still not sure on how they should be consumed. This issue is to track the work of adding them once we figure out the right process.

[2016-09-28 20:47] karelz commented on #11789
@mellinoe did you make any progress on the remaining issue?

[2016-09-28 20:47] karelz commented on #11464
@ericeil is it part of #12125?

[2016-09-28 20:49] alexperovich commented on #12011
The ResourceSet/Manager cannot be removed from corelib. I am exposing the new apis without those Hashtable fields.

[2016-09-28 21:04] #12011 closed

[2016-09-28 21:06] ericeil commented on #11464
Yes, this is part of #12125.

[2016-09-28 21:06] #11464 closed

[2016-09-28 21:31] mellinoe commented on #11789
Everything listed above is added. So we should be able to close this unless you were referring to some other remaining issue.

[2016-09-28 21:33] Priya91 commented on #10820
No repro.

[2016-09-28 21:34] Priya91 commented on #10776
No repro, fixed.

[2016-09-28 21:34] #10776 closed

[2016-09-28 21:38] joperezr commented on #12129
Yes I will remove netcoreapp1.0 tests to run by default.

Basically whenever there is a `<Project Include="<libarary>.Tests.csproj" />` line in a tests.builds file it will mean that NugetTargetMoniker should be netstandard1.7 and TestTFMs will be netcoreapp1.1. From now on, if you want a specific test project to run in netcoreapp1.0 you will need to add in on the TestTFMs property. Is that more or

[2016-09-28 21:42] #12141 closed

[2016-09-28 21:44] AlexGhiondea opened #12160 "Code cleanup for System.ComponentModel.TypeConverter"
There are a couple of clean-up items for the newly ported code inside System.ComponentModel.TypeConverter. These are captured from PR #12081
- Remove explicit base() from constructor calls
- Replace explicitly implemented properties with auto-implemented properties when possible
- Simplify members and properties with 1 lines of code to expression bodied members: protected virtual bool CanRaiseEven

[2016-09-28 21:44] Priya91 commented on #384
From the conversation, the issue has been addressed by @weshaggard and @terrajobst comments. Closing this issue.

[2016-09-28 21:44] #384 closed

[2016-09-28 21:47] ianhays commented on #7072
@kennycoc are you still working on this?

[2016-09-28 21:48] Priya91 commented on #1218
@dotnetchris Do you have a proposal for this?

[2016-09-28 21:51] ianhays commented on #6415
Closing this as the more detailed results (and looking through the code) indicate the current approach is faster. We can re-open in the future if more detailed results showing Math.Log being faster arise.

[2016-09-28 21:51] #6415 closed

[2016-09-28 21:56] Priya91 commented on #1272
SerializableAttribute is now available in .NET Core. @psmolinsky Can you come up with the PR for these changes and a proposal to be approved in api-review.

[2016-09-28 22:10] weshaggard commented on #12011
Linking to API removal issue https://github.com/dotnet/standard/issues/36.

[2016-09-28 22:23] karelz commented on #5567
It's unclear if there's any benefit from the proposed change. Closing for now, feel free to reopen when there's more data supporting the proposed change,

[2016-09-28 22:23] #5567 closed

[2016-09-28 22:26] karelz commented on #6162
@mellinoe does it sound like reasonable Math API?

[2016-09-28 22:39] mellinoe commented on #6162
@karelz This isn't really a math API, at least not in the "System.Numerics" math sense.

This seems like useful, but very niche and narrow, functionality. I also suspect that whatever we tried to include might not necessarily be universally applicable because folks would want vaguely different sorts of combination and permutation types, just based on their domain or business needs. And it's not re

[2016-09-28 22:43] karelz commented on #9838
This needs deeper investigation ... anyone, feel free to grab it

[2016-09-28 22:46] karelz commented on #9989
@jamesqo do you still plan to tackle it?

[2016-09-28 22:46] danmosemsft opened #12162 "Bring System.Runtime.InteropServices up to .NET Standard 2.0"
Below are the list of types that are either missing, changed (eg changed derivation), or have missing members vs [.NET Standard 2.0](https://github.com/dotnet/standard/tree/master/netstandard/ref)

[code]

a few members of this namespace (such as `T:System.Runtime.InteropServices.RuntimeEnvironment`) are already covered by https://github.com/dotnet/corefx/issues/11808. Check with @ramarag to make

[2016-09-28 22:52] karelz commented on #10528
@KrzysztofCwalina is it ready for API review?

[2016-09-28 23:01] #11521 closed

[2016-09-28 23:08] karelz commented on #10773
Just one of lots of UWP test failures - no point to track it in bugs at this moment, more general effort has to happen.

[2016-09-28 23:08] #10773 closed

[2016-09-28 23:09] karelz commented on #10775
Just one of lots of UWP test failures - no point to track it in bugs at this moment, more general effort has to happen.

[2016-09-28 23:09] #10775 closed

[2016-09-28 23:10] karelz commented on #10877
Just one of lots of UWP test failures - no point to track it in bugs at this moment, more general effort has to happen.

[2016-09-28 23:10] #10877 closed

[2016-09-28 23:15] karelz commented on #11441
No CoreFX work remaining.

[2016-09-28 23:15] #11441 closed

[2016-09-28 23:23] karelz commented on #11861
Looks like a valuable addition. Can anyone please submit a speclet? See [api review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md).

[2016-09-28 23:24] karelz commented on #11861
/cc: @Priya91 @ianhays

[2016-09-28 23:26] karelz commented on #12032
@Priya91 @ianhays any opinion on this one?

[2016-09-28 23:29] karelz commented on #12122
SynchronizedCollection is (full) .NET Framework 2.0 API. Concurrent collections were designed to replace it.

[2016-09-28 23:29] #12122 closed

[2016-09-29 00:00] ericstj opened #12167 "Version master"
We should bump master package versions and assembly versions post 1.1.

While doing so we should also handle #12130.

[2016-09-29 00:04] #12012 closed

[2016-09-29 00:10] tarekgh opened #12168 "Remove Normalization implementation from corefx"
we have moved the implementation to System.Private.Corelib in coreclr repo so we can now remove the implementation from corefx

[2016-09-29 00:18] karelz commented on #11789
I'll take your word that all is done :)

[2016-09-29 00:18] #11789 closed

[2016-09-29 00:23] alexperovich opened #12169 "Push System.IO.FileAccess enum into corelib"
Required by UnmanagedMemoryStream required by ResourceManager.GetString

[2016-09-29 00:23] alexperovich opened #12170 "Push System.IO.UnmanagedMemoryStream into corelib"
Required by ResourceManager.GetStream

[2016-09-29 00:40] adityapatwardhan opened #12171 "HttpClient.GetAsync fails with 302 with https if URI redirects"
The HttpClient.GetAsync fails the URI that is used is https and does a redirection. The status code returned is 302.

**Repro:**

HttpClient client = new HttpClient();
client.GetAsync("https://go.microsoft.com/fwlink/?LinkID=623861&clcid=0x409")

**The response is:**
Result                 : StatusCode: 302, ReasonPhrase: 'Moved Temporarily', Version: 1.1, Content:
                         System.

[2016-09-29 00:45] sepidehMS opened #12172 "Add actual switches for Xml Configuration properties"
Do we leave properties defined in [LocalAppContextSwitches](https://github.com/dotnet/corefx/blob/9348997920c1ba782b45adb5e8ee9754149ab1e2/src/System.Private.Xml/src/Workarounds/LocalAppContextSwitches.cs) with default values, or do we enable users to switch their values?

[2016-09-29 00:46] steveharter commented on #9986
The full list of ns2.0 members include

M:X509Certificate.#ctor(System.Byte[],System.Security.SecureString)
M:X509Certificate.#ctor(System.Byte[],System.Security.SecureString,X509KeyStorageFlags)
M:X509Certificate.#ctor(System.Runtime.Serialization.SerializationInfo,System.Runtime.Serialization.StreamingContext)
M:X509Certificate.#ctor(System.String,System.Security.SecureString)
M:X509Certificate.

[2016-09-29 00:48] jamesqo commented on #9989
@karelz Yes, although I may not be able to get around to it for a while. If that's an issue you can remove the 'grabbed by community' tag.

[2016-09-29 00:49] sepidehMS opened #12173 "Re-enable usage of AppDomain.GetAssemblies in System.Private.Xml when it comes back"
Refer to TODO in [QilXmlReader](https://github.com/dotnet/corefx/blob/25152c3eb1333087daf06b33c8706e78c958c44e/src/System.Private.Xml/src/System/Xml/Xsl/QIL/QilXmlReader.cs)

[2016-09-29 00:52] sepidehMS opened #12174 "Remove System.Security workarounds from System.Private.Xml"
Remove SecurityRuleSet and SecurityRulesAttribute from System.Private.Xml workarounds. https://github.com/dotnet/corefx/pull/12046 is bringing them back.

[2016-09-29 00:57] sepidehMS opened #12175 "Understand and remove ThisAssembly workaround from System.Private.Xml"
The usage of ThisAssembly needs to be understood and corrected if needed.

[2016-09-29 00:58] SamuelEnglard commented on #11861
I'd be happy to give a speclet a go, just need a new name 😄

[2016-09-29 00:58] shmao opened #12176 "JsonDataContract.GetGeneratedReadWriteDelegates May Throw ArgumentNullException"
JsonDataContract.GetGeneratedReadWriteDelegates may throw ArgumentNullException in NetNative.

[code]

[2016-09-29 01:00] jamesqo opened #12177 "Add a ValueList type to Common to reduce allocations"
It may be desirable to add a `ValueList<T>` type in Common to supplant usages of LowLevelList / List in hot paths. It would have exactly the same semantics as List, except it would be a mutable struct so no allocation for the list itself. Additionally, since this would be an internal type we could make other micro-optimizations e.g. `_syncRoot` field, `_version` only exists in debug (which also me

[2016-09-29 01:00] #12140 closed

[2016-09-29 01:04] karelz commented on #9989
Done. Whoever gets to it first, please ping us, so that we can mark/assign it properly. Thanks!

[2016-09-29 01:10] #9992 closed

[2016-09-29 01:22] stephentoub opened #12179 "Improve test suite for System.CodeDom"
Code coverage could be increased significantly.  And we'd ideally avoid some of the existing duplication between the C# and VB generator tests (which represent the bulk of the current testing).

[2016-09-29 01:24] stephentoub opened #12180 "Enable compilation support in System.CodeDom"
System.CodeDom in corefx provides the object model for describing code as well as code generators for both C# and VB.  But attempts to compile source code (which in desktop works by shelling out to csc.exe/vbc.exe) isn't enabled and throws PlatformNotSupportedException.  This should be fairly straightforward to build on top of Roslyn's APIs; I expect the main tricky part will be around whether we

[2016-09-29 01:30] stephentoub commented on #12171
This is by design.  Automatic redirect from https to http is disabled as a security precaution.

Windows:
https://github.com/dotnet/corefx/blob/def83b7b0745d5f6380d5f3a57c186d2260c2acf/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs#L1095

Unix:
https://github.com/dotnet/corefx/blob/ca0b35ca1173c056e4d6e1794b814beb80620fbe/src/System.Net.Http/src/System/Net/Http/Unix/CurlH

[2016-09-29 01:59] davidsh commented on #12171
Yes, this is by-design. Please let us know if you have any further questions. Thx.

[2016-09-29 01:59] #12171 closed

[2016-09-29 02:47] adityapatwardhan commented on #12171
Is there a work around? Ideally we want to use https uris.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: David Shulman <notifications@github.com>
Sent: Wednesday, September 28, 2016 7:00:03 PM
To: dotnet/corefx
Cc: Aditya Patwardhan; Author
Subject: Re: [dotnet/corefx] HttpClient.GetAsync fails with 302 with https if URI redirects (#12171)

Yes, this is by

[2016-09-29 03:09] davidsh commented on #12171
One workaround is to disable automatic redirection in HttpClient using this property:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/ref/System.Net.Http.cs#L81

Create a new HttpClient object by doing something like this:

[code]

Then, handle the redirection response yourself, parsing out the `Location` header after doing the first request. Then create a new request to the new u

[2016-09-29 04:23] jamesqo opened #12182 "Could SortedSet.InOrderTreeWalk use recursion instead of allocating?"
`SortedSet.InOrderTreeWalk` currently uses a stack on which the nodes to walk are pushed/popped: https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/SortedSet.cs#L234

It looks like it would be possible to implement this recursively instead, i.e. `InOrderTreeWalk(left); action(current); InOrderTreeWalk(right)` and eliminate the Stack allocation.

[2016-09-29 05:19] tannergooding commented on #1151
Writing the performance tests is dependent on the `System.Runtime.Extensions` contracts being updated (see dotnet/corefx#12183) ) -- I wrote the existing `System.Math` performance tests and have equivalent tests for `System.MathF` written, they just won't compile/run without the contracts update 😄

@jkotas mentioned it might be good to break apart the API additions and the intrinsic support into s

[2016-09-29 05:31] rahulkotecha commented on #12107
@mellinoe There is already some work done on skipping the negotiatestream tests in case of prereqs are not met by @kapilash. Please refer to #8117.

[2016-09-29 05:34] weshaggard opened #12184 "Xml has a dependency on System.Net.Requests"
System.Xml.ReaderWriter contract has a dependency on RequestCachePolicy (https://github.com/dotnet/corefx/blob/master/src/System.Xml.ReaderWriter/ref/System.Xml.ReaderWriter.cs#L1126)

System.Private.Xml has a dependency on requests for ReuqestCachePolicy (https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System.Private.Xml.csproj#L17).

Xml also has an XmlDownloadManager whi

[2016-09-29 05:37] StephenMP commented on #11331
It's my own proxy I wrote, so no, it's not just creating HTTP responses :) It's uses HTTP Client directly under the hood. It's inside of the proxy where I call HTTP client that I am seeing this odd behavior.

[2016-09-29 07:48] SherifRefaat commented on #12078
@svick I get that. But the point is still being that if they decided to ignore that parameter for this case, then the LINQ inheritance model or interface that instruct any implementation that override it will not be able to differentiate between a DB or In-Memory LINQ. To summarize here, if that overload of the OrderBy method is not going to 'EVER' work on DB then the idea of general LINQ interfac

[2016-09-29 09:49] varocarbas commented on #6162
@karelz  @mellinoe
If I may, I want to share some ideas with both of your (= the .NET team).

I created this issue (7 months ago! Not that bad) when my impression about open .NET was quite different to what I think now.

What I think now is that perhaps this isn't for me. Since the start, my intention was having a positive contribution by assuming that I will be dealing with other programmers thin

[2016-09-29 12:27] stephentoub commented on #12184
Seems reasonable to move it down (it was only just added to System.Net.Requests last week).  The public APIs are minimal, and any caching we may want to do in the future could still be done in System.Net.Requests.  I agree that's better than having System.Xml.* taking a dependency on System.Net.Requests.

[2016-09-29 12:32] stephentoub commented on #12182
Given that there's little risk of stack overflow due to the balancing of the tree, seems reasonable to explore and measure.  At the same time it may also be useful to separate the reverse checks out so that there's only one check/branch for reverse to go down a different path that does right;current;left instead of left;current;right.  One could also look at having the function take not only a del

[2016-09-29 13:27] davidsh commented on #12184
I'm ok with moving those to System.Net.Primitives.

[2016-09-29 14:18] jkotas commented on #12174
Everything that has to with these attributes should be deleted from System.Private.Xml. It has no affect and does not make sense on .NET Core.

[2016-09-29 14:30] SamuelEnglard commented on #6162
@varocarbas I'm not on the .NET team or a Microsoft employee but I think I can help explain a bit what's going on

They could have done that, but had they done so they would have been rejecting the original suggestion not the final one, which were very different. Also, they rejected doing most of it, not all. I suspect if you opened a new, smaller scoped issue with the stuff that they said they li

[2016-09-29 14:58] varocarbas commented on #6162
@SamuelEnglard Thanks for your post and suggestion, but I think that my message was quite self-explanatory. I wasn't blaming anyone of anything or intending to trigger any kind of change, that's why no justifications or alternatives are really required. I have plainly shared my ideas in case anyone is interested in knowing my general opinion about contributing here (information which might come ha

[2016-09-29 15:20] khellang commented on #6162
Is this true? The code is shared?

Does this mean full framework is holding .NET Core back? I thought .NET Core would be able to rev faster because it was all just NuGet packages :confused:

[2016-09-29 15:29] SamuelEnglard commented on #6162
@khellang they code is shared BUT Core is able to rev faster since release and bug fixes don't have to wait for the Full Framework. However, changes do impact it eventually. (If you see merges in the commits by the dotnet-bot from TFS those are usually the sync between the two)

[2016-09-29 15:40] piedar opened #12190 "Please provide MIT-licensed NuGet packages for MIT-licensed source code."
There are a lot of useful MIT-licensed libraries in this repository.  However, many of them are [published on NuGet](https://www.nuget.org/packages/System.Threading.Tasks.Dataflow) under a much more [restrictive license](https://www.microsoft.com/net/dotnet_library_license.htm), which forbids modifications, interferes with the GPL, and allows Microsoft to "collect information about you and your us

[2016-09-29 16:12] stephentoub opened #12192 "Investigate AuthenticationManager implementation"
This and supporting types are currently stubbed out, with members throwing not supported exceptions.  We need to investigate whether that's sufficient, whether a more robust form of stubbing is required (e.g. returning nop objects rather than throwing), or whether we need some minimally functional implementation for this legacy.

[2016-09-29 16:22] ianhays commented on #5188
I'm closing this as the Key ToString is likely adequate for most scenarios and there hasn't been any discussion in a while.

[2016-09-29 16:27] ianhays commented on #4961
Thanks for the suggestion, but from the above discussion it sounds like we won't end up taking this change. Closing.

[2016-09-29 16:27] #4961 closed

[2016-09-29 16:36] ianhays commented on #7280
Thanks @nettsundere, you're right that these are inconsistent.

We're in a somewhat unfortunate place that is the result of poor/inadequate testing of the full framework and since our current goal is compat with the full framework, these inconsistencies have to come along as well.  It's not ideal, but it's not a big enough issue to justify introducing the breaking change. I actually already fixed

[2016-09-29 16:36] #7280 closed

[2016-09-29 16:53] sepidehMS commented on #12174
Removed usage of these attributes completely as part of pull request https://github.com/dotnet/corefx/pull/12194

[2016-09-29 16:53] #12174 closed

[2016-09-29 17:33] ericstj opened #12195 "runtime.native.System.Data.SqlClient.sni in release/1.1.0 references RTM 1.0 packages"
Currently the package depends on the following in 1.1:
[code]

We need to understand if this is intentional or if folks were planning to build new versions of this component from the 1.1 codebase (presumably TFS?).

/cc @ianhays @saurabh500

[2016-09-29 17:35] ericstj commented on #12195
/cc @dagood

[2016-09-29 17:37] saurabh500 commented on #12195
@ericstj Where are you looking at these dependencies?
This is not intentional. The SqlClient package should depend on new version sni built from TFS.

[2016-09-29 17:39] ericstj commented on #12195
It looks like @dagood made this happen in https://github.com/dotnet/corefx/pull/11814, but I want to make sure that it's intentional that we're shipping the 1.0 RTM binaries for the 1.1 release.  If I look at @dagoods PRs for rel and master it seems like its intentionally doing this: in master it pulls the latest build from TFS but for release/1.1.0 its pulling the old 1.0 packages.

[2016-09-29 17:44] ericstj commented on #12195
I'm seeing something similar for System.IO.Compression.  For the AOT packages they are all hardcoded to the RTM version.

[2016-09-29 17:49] shmao opened #12196 "Reflection on XmlConvert Not Working in Net Native"
XmlSerializer's reflection based serialization uses reflection to find XmlConvert's method and invoke it. This fails in Net Native due to the metadata info of XmlConvert is reduced away.

[2016-09-29 17:51] ericstj commented on #12195
The following packages are all the ones that are not being rebuilt with 1.1 binaries.
- runtime.win10-x64-aot.runtime.native.System.IO.Compression
- runtime.win10-arm-aot.runtime.native.System.IO.Compression
- runtime.win10-x86-aot.runtime.native.System.IO.Compression
- runtime.win7-x64.runtime.native.System.Data.SqlClient.sni
- runtime.win7-x86.runtime.native.System.Data.SqlClient.sni

I've also

[2016-09-29 17:59] danmosemsft opened #12197 "Add missing System.IO.Pipes members"
These are present in [standard](https://github.com/dotnet/standard) but not in .NET Core.

[code]

[2016-09-29 18:10] danmosemsft opened #12198 "Add missing derivation from System.SystemException"
These guys should derive from SystemException but aren't. Now we have it, they should. Generally that means replacing the direct derivation from Exception.

[code]

[2016-09-29 18:22] danmosemsft opened #12199 "Implement ICloneable where missing"
The following are not implementing ICloneable but according to Net Standard 2.0 they should:

- [x] System.Array.ArrayEnumerator
- [x] System.Array.SZArrayEnumerator
- [x] System.Collections.ArrayList
- [x] System.Collections.ArrayList.ArrayListEnumerator
- [x] System.Collections.ArrayList.ArrayListEnumeratorSimple
- [x] System.Collections.ArrayList.IListWrapper.IListWrapperEnumWrapper
- [x] Syste

[2016-09-29 18:26] #11647 closed

[2016-09-29 18:27] dagood commented on #12195
The 1.0.0 source for the release/1.1.0 branch is intentional: we don't have 1.1.0 TFS builds at all, so we're continuing to ship using 1.0.0 RTM TFS packages.
/cc @gkhanna79 @weshaggard

[2016-09-29 18:42] ericstj commented on #12195
Ok, I think I understand everything here now.  I'll need to remove the runtime.win10-arm64.runtime.native.System.Data.SqlClient.sni dependency then since that would prevent us from making this package stable.

[2016-09-29 18:43] ericstj commented on #12130
Fixed with https://github.com/dotnet/corefx/pull/12152

[2016-09-29 18:43] #12130 closed

[2016-09-29 18:44] ericstj commented on #12028
Fixed with https://github.com/dotnet/corefx/issues/12076

[2016-09-29 18:44] #12028 closed

[2016-09-29 18:52] danmosemsft commented on #12198
Since @sepidehMS is freeing up. This shouldn't take too long (?)

[2016-09-29 19:00] dagood commented on #12195
Hmm, we'd decided to let it stay in an email thread about https://github.com/dotnet/corefx/issues/11805, but being unable to make the package stable sounds like new info.

[2016-09-29 19:01] zgramana commented on #12103
@vcsjones I've added notes on how to get past this here: https://github.com/dotnet/corefx/issues/9012#issuecomment-247495589

[2016-09-29 19:07] jianyunt commented on #12171
In some cases it is needed for us for the redirection, for example, fwlink.

[2016-09-29 19:08] stephentoub commented on #12171
Why are https fwlinks forwarding to http urls?

[2016-09-29 19:09] stephentoub commented on #12171
cc: @blowdart

[2016-09-29 19:12] ericstj commented on #12195
Yeah, when discussing before I thought folks were only looking at runtime.json referenced packages.  Since this one is a direct package reference, not in runtime.json, nuget would block stable -> unstable.

[2016-09-29 19:20] #11606 closed

[2016-09-29 19:20] #11615 closed

[2016-09-29 19:21] #11381 closed

[2016-09-29 19:34] ianhays commented on #9724
This is mostly a duplicate of https://github.com/dotnet/corefx/issues/7280, though with different examples.

The big push now is compat with the full framework, so it's unlikely that these exceptions will be changed as they're technically going to be breaking changes. I tried pushing through a few similar exception changes but feedback was strongly favored towards compat over consistency, so I clo

[2016-09-29 19:34] #9724 closed

[2016-09-29 19:36] blowdart commented on #12171
Because fwlinks never get updated, and folks add http links.

But yea, agree with by design.

[2016-09-29 19:52] bartonjs commented on #12103
@vcsjones https://github.com/dotnet/coreclr/blob/master/Documentation/building/osx-instructions.md#openssl

You should just need the mkdir and the first two symlinks.  If you want to build corefx on your Mac then you'll also need the other 3 symlinks.  This is a very reduced form of what `brew link` did; it's the parts we cared about (which doesn't include the reasons why they disabled it for open

[2016-09-29 19:55] zgramana opened #12203 "PlatformApis.IsWindows is evaluating true on macOS 10.12/mono 4.6.1"
### Given

Had a functioning Kestrel app. Upgraded to macOS 10.12 and mono 4.6.1. Executed `dotnet restore` and then executed `dotnet run` as usual.
### Expected

Nominal app startup
### Observed

Unhandled Exception: `System.DllNotFoundException: WS2_32.dll` (full stack trace below)
### Notes

One doesn't expect `WS2_32.dll` to be present on non-Windows systems, and there is [a guard against atte

[2016-09-29 19:57] osjoberg opened #12204 "Unexpected string in NumberFormatInfo.NumberGroupSeparator"
I am testing som basic number formatting with CultureInfo. Any culture I have tested except en-US yields weird results for NumberGroupSeparator.

      public static void Main(string[] args)
      {
          var culture = new CultureInfo("sv-SE");
          Console.WriteLine($"'{culture.NumberFormat.NumberGroupSeparator}'");
          Console.WriteLine(1000.ToString("N", culture));
      }

Expec

[2016-09-29 19:57] stephentoub opened #12205 "FileSystemWatcher_StopCalledOnBackgroundThreadDoesNotDeadlock failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/802/consoleText

[code]

[2016-09-29 20:07] stephentoub commented on #12170
We've made both bug and performance fixes to UnmanagedMemoryStream in corefx.  I don't remember if coreclr has its own internal copy of UnmanagedMemoryStream, but if it does and that's what we're switching to use, let's make sure that the improvements from corefx make their way back to it as well.

[2016-09-29 20:10] jianyunt commented on #12171
I did not know it gets redirected to http. Then agreed by design.

[2016-09-29 20:12] mburbea commented on #1010
I was thinking about it.
I think the following methods could be beneficial
[code]
Regardless, of the `T`, it should always return a long. GetBitSet will call the appropriate mask method and return the mask. Since VB code cannot use non-cls complaint types both methods would be needed.

IsZero would be great as the jit can just extract the mask and check if the bit is zero. I find IsZero a more com

[2016-09-29 20:14] alexperovich commented on #12170
I am going to diff the implementations and port the fixes. If we know specifically what the changes are that would be useful.

[2016-09-29 20:16] stephentoub commented on #12170
The history is here:
https://github.com/dotnet/corefx/commits/master/src/System.IO.UnmanagedMemoryStream/src/System/IO
but diffing is still a good idea, as @KrzysztofCwalina likely made some tweaks here and there as part of that initial porting/commit.

[2016-09-29 20:24] stephentoub commented on #11882
Fixed by https://github.com/dotnet/corefx/pull/12091

[2016-09-29 20:24] #11882 closed

[2016-09-29 20:25] stephentoub commented on #12137
#12151 fixed the missing virtuals, and #12154 coves deriving from Component, so all that remains is CachePolicy, which is in the source but commented out until corefx updates to the latest packages and WebClient can see the System.Net.Cache types added to System.Net.Requests.

[2016-09-29 20:27] #9485 closed

[2016-09-29 20:28] stephentoub commented on #9485
https://github.com/dotnet/corefx/issues/12180 tracks adding compilation support if/when needed.

[2016-09-29 20:28] stephentoub commented on #11757
HttpClient relies on libcurl for such things, so it'll respect any such environment variables that libcurl respects.

[2016-09-29 20:31] stephentoub commented on #12203
@zgramana, this issue is about using Kestrel on macOS with mono (rather than with corefx/coreclr)?  It'd be better over in the https://github.com/aspnet/kestrelhttpserver repo.

[2016-09-29 20:46] zgramana commented on #12203
It is, but after digging around, I realized that seems to be coincidence.

I found this line in both `dotnet-compile.rsp` and `dotnet-compile-csc.rsp`, which raised some hairs since I'm targeting 4.5.1 and all the references point to paths like `lib/net4[051]+/`:
[code]
Intrigued, I wrote a little test. Using this assembly, I ran this 1-line program on OS X 10.12:     ```Console.WriteLine(System.R

[2016-09-29 20:47] CIPop commented on #9503
@stephentoub I believe it's good to have an implementation of WebSockets for Win7 as long as this implementation is not replacing the WinHttp based one for Win8+.
The only downside is that the managed implementation is lacking a full implementation of the HTTP protocol required for the upgrade. To set the correct expectations: do you have a feature comparison table between the managed and WinHttp-

[2016-09-29 20:54] stephentoub commented on #9503
@ericstj, we can specialize the package in this way, right? i.e. have a build for Win7 and a different one for Win8+?

I don't, but if you list out the features, I can share which the managed does/doesn't currently support.  Some of the limitations are things it looks like the WinHTTP implementation isn't respecting anyway, e.g. we don't current pay attention to the ClientWebSocketOptions.Proxy in

[2016-09-29 21:00] hughbe commented on #9724
I thought so! Thanks Ian

[2016-09-29 21:00] stephentoub commented on #12203
This assembly has different implementation builds for Windows and Unix.  It sounds like somehow you're using the Windows build rather than the Unix one.  I assume if you modify your test to do IsOSPlatform(OSPlatform.Windows) it returns true?

[2016-09-29 21:03] zgramana commented on #12203
It does not, nor does it return true for Linux FWIW.

Something in the tooling added this reference, presumably the CLI during restore, but I'm just guessing.

[2016-09-29 21:06] sepidehMS commented on #12000
Done by https://github.com/dotnet/corefx/pull/12194

[2016-09-29 21:10] mellinoe commented on #1010
The first two overloads seem reasonable; the last I'm not sure about. It sounds like it would basically just call `GetBitMask` and then check if the `Pos`-th digit in the return value was 0? We've talked about some sort of `BitManipulation` class in the past, the last function could be implemented something like:

[code]

I'm only mentioning the above because it feels like `IsZero` is actually jus

[2016-09-29 21:10] stephentoub commented on #12203
Hmm, I wonder if you're using the reference assembly at a run time (the reference assembly has default implementations of all member bodies, so anything that returned a bool would return false).  What's the output of typeof(RuntimeInformation).GetTypeInfo().Assembly.Location?  And if you open that path in ildasm or reflector or some other disassembler, what do member bodies look like?

[2016-09-29 21:15] zgramana commented on #12203
FWIW, the OS version string was `Unix 16.0.0.0`. When I'm back at my machine I'll give it a try.

[2016-09-29 21:17] zgramana commented on #12203
It did run `monodis` and the bodies didn't look like no-ops.

[2016-09-29 21:22] stephentoub commented on #12203
Does the implementation of IsOSPlatform mention Interop.Sys.GetUnixName?  If so, can you try doing:
[code]
and share the output?

[2016-09-29 21:42] ericstj opened #12207 "Make 1.1 only reference 1.1 packages"
Currently 1.1 builds all packages against their minimum dependencies.  This was done to enable any individual package to be installed without having to install the entire set, but since we're shipping 1.1 as a full stack release this characteristic is undesired.

[2016-09-29 21:46] jamesqo commented on #12058
@ericstj Works for me too. The buildtools change would be great.

[2016-09-29 22:10] ericstj commented on #12058
I have an idea to fix it pretty simply: set ProjectJsonFile for pkgproj's to point to our baseline project.json.

[2016-09-29 22:11] zgramana commented on #12203
Okay, finally back at a terminal, and indeed the library was a reference assembly with a bunch of `ldnull`s were staring me in the face. 😮

I ran this block of code in my actual app's `Main`:
[code]
With the output:
[code]

However, I did look through the disassembly in the actual assembly copied into `bin/Debug/net451/osx.10.12-x64/` and it's definitely a Windows build, and appears identical to `

[2016-09-29 22:12] SamuelEnglard commented on #12204
What's your System culture?

[2016-09-29 22:18] stephentoub commented on #12203
@zgramana, thanks for the follow-up.

@ericstj, is this an issue with NuGet not being able to differentiate Mono from desktop?  Or something to do with it not understanding macOS Sierra?

[2016-09-29 22:19] zgramana commented on #12203
Confirmed the workaround does indeed work around the issue

#### Confirm status quo doesn't work
[code]
#### Confirm workaround does work
[code]

[2016-09-29 22:23] ericeil commented on #11598
Failed again on Ubuntu:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/811/

[2016-09-29 22:31] zgramana commented on #12203
I did a run with `COREHOST_TRACE=1 MONO_LOG_LEVEL=debug dotnet run` and it appears that the error happens when `dotnet` builds the `csc` response file, which it then passes in:
[code]

[2016-09-29 22:31] AlexGhiondea opened #12209 "Re-introduce members on Attribute"
The following members on Attribute need to be brought back:

- [ ] IsDefaultAttribute
- [ ] TypeId
- [ ] Match

[2016-09-29 22:33] #11885 closed

[2016-09-29 22:45] AlexGhiondea opened #12211 "Expose AppDomain.CurrentDomain.GetAssemblies"
The following are needed in System.ComponentModel.TypeConverter.

AppDomain.CurrentDomain.GetAssemblies
AppDomain.CurrentDomain.SetupInformation.LicenseFile

[2016-09-29 22:46] AlexGhiondea commented on #12211
AppDomain.CurrentDomain.GetAssemblies
AppDomain.CurrentDomain.SetupInformation.LicenseFile

[2016-09-29 22:50] AlexGhiondea opened #12212 "Follow-up changes for System.ComponentModel"
- [x] Once #11809 is checked in
  - [x] Make Component derive from MarshalByRefObject
- [x] Once #12209 is checked in
  - [x] Update the attributes in the ComponentModel namespace to implement those methods. As part of that change, we need to revert the change that introduced [this workaround](https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.TypeConverter/src/System/Component

[2016-09-29 23:02] CIPop opened #12213 "System.Net.SslStream new APIs for TLS Alert support"
System.Net.SslStream is not currently supporting TLS Alerts as specified by [RFC 2246](https://www.ietf.org/rfc/rfc2246.txt) sections 7.2.1: Closure alerts and 7.2.2: Error alerts.

## Proposed API
In order to support closing the TLS channel gracefully the following async API is proposed:

`public virtual System.Threading.Tasks.Task System.Net.SslStream.ShutdownAsync()`

## Details
The ShutdownAsy

[2016-09-29 23:04] CIPop commented on #12213
@terrajobst @davidsh PTAL

[2016-09-29 23:12] CIPop commented on #9503
Answering this is definitely not an easy task given the large RFCs for both HTTP/S and WebSockets. Here are a few of WinHTTPs features as well as a link to the WS RFC: https://msdn.microsoft.com/en-us/library/windows/desktop/aa382925(v=vs.85).aspx

This is correct and the expectation is set via the following issues: #5120, #2505.
If I correctly recall, the contract is also missing a few tests and

[2016-09-29 23:26] #11766 closed

[2016-09-29 23:32] iamjasonp opened #12214 "HttpClient + certificate specified throws if certificate is cloned in Linux"
Given the following setup:

* Website (in this case, IIS hosted) requires client certificates to be specified for accessing an endpoint
* .NET Core app specifies a client certificate and makes a request in the following manner

[code]

For these scenarios:

| | Find certificate from X509Store and use directly | Find certificate and clone |
|---|---|---|
| Windows | ✔ Succeeds  | ✔ Succeeds |
| Ubu

[2016-09-29 23:41] alexperovich commented on #12170
See dotnet/coreclr#7418

[2016-09-29 23:47] AlexGhiondea opened #12215 "Consider renaming/splitting System.ComponentModel.TypeConverter"
The work to port the additional ComponentModel types put all of them in the System.ComponentModel.TypeConverter assembly/contract.

Since there are more concepts in that assembly than TypeConverter we should consider either renaming this assembly/contract or split the contract into separate pieces.

Here are some of the things inside the assembly:
- TypeConverter types
- Designer support types
- H

[2016-09-29 23:49] AlexGhiondea commented on #11774
This is covered by #12081

[2016-09-29 23:49] #11774 closed

[2016-09-29 23:52] AlexGhiondea commented on #11271
@ewinnington take a look at the proposed [netstandard2.0 APIs](https://github.com/dotnet/standard) and see if they would allow you to move forward.

[2016-09-30 00:22] Priya91 commented on #11516
@SedarG Looked at bringing back netstandard1.0 configuration back to typeconverters, the subsequent files have been deleted by @alexperovich in [commit](https://github.com/dotnet/corefx/commit/93470c7590b38a509f0bcdd75ec2d7114da5f819#diff-9a99b4b8b3f8c80b4e6ba7b1490d8918) .. This is taking more work than expected.

[2016-09-30 00:44] bartonjs commented on #12214
@iamjasonp

[code]

That doesn't work on Linux.  There's not one IntPtr which contains both the public and private key; so clientCert.HasPrivateKey will be false; causing your connection to fail to bind.

X509CertificateCollection2.Find already duplicates the cert, why do you need to duplicate it again?

[2016-09-30 00:51] Priya91 commented on #7917
@Kingnaoufal @benaadams Please open a PR, when you've had time to work on the perf improvements. Closing this issue due to inactivity.

[2016-09-30 01:04] CIPop opened #12217 "Allocating parallel loop slower in core than desktop"
Certain CoreFX Task operations/scheduling appears to be slower compared to .Net Desktop for certain workloads and machine configurations.

Repro: https://github.com/CIPop/perf/tree/master/ThreadPerf/src
Instructions: https://github.com/CIPop/perf/blob/master/README.md

Initial Perfmon hot-path analysis shows important timing differences on the `TaskReplicator`, `ThreadPoolWorkQueue.Dispatch()` and

[2016-09-30 01:05] Priya91 commented on #4690
Sounds reasonable to me.

[2016-09-30 01:07] joelverhagen opened #12219 "Using Process.BeginOutputReadLine can lead to lost stdout lines"
When writing code that creates child processes and needs to capture stdout, I have found that lines of output go missing the following condition:
- lots of parallelism...
- `ProcessStartInfo.RedirectStandardOutput = true`
- `Process.OutputDataReceived += CollectLines` (that is, using the async flow)
- `Process.BeginOutputReadLine()`
- `Process.WaitForExit(int.MaxValue)`

Note that passing `-1` (in

[2016-09-30 01:08] Priya91 commented on #6318
@hermitdave Do you have a proposal for this ?

[2016-09-30 01:11] CIPop commented on #11392
At least part of the perf issues could be caused by #12217.

[2016-09-30 01:14] benaadams commented on #12217
@CIPop I have the following batch of tests which you may wish to run for comparisions: https://github.com/benaadams/ThreadPoolTaskTesting

[2016-09-30 01:16] CIPop commented on #8809
@laskoviymishka Can you still repro this issue?

Investigating performance I've found a few potential causes: #12217, #11979, #11978, #11910.
Except #1910, none of my attempts to repro showed the same behavior.

[2016-09-30 01:19] CIPop commented on #12217
Wow, I wasn't aware of that investigation. That's really cool @benaadams!
Would it be easy to compare the results with a baseline such as .Net Desktop?

[2016-09-30 01:26] benaadams commented on #12217
I assume just need to add a `net462` in the project.json?

I probably should get it to output csv or something too...

[2016-09-30 01:34] benaadams commented on #12217
Other thing to check is what happens when you bump the min threads in Core
[code]

[2016-09-30 01:37] Priya91 commented on #11291
@magol Can you come up with the proposal with a speclet following the api-review guidelines.

[2016-09-30 02:08] dotnet-mc-bot opened #12221 "Test failure: System.Xml.Tests.XsltcTestBasicFunctionality/Var2"
Opened on behalf of @jiangzeng

The test `System.Xml.Tests.XsltcTestBasicFunctionality/Var2` has failed.

    Assert.True() Failure\r
    Expected: True\r
    Actual:   False

Stack Trace:

       at System.Xml.Tests.XsltcTestBasicFunctionality.Var2(Object param0, Object param1)

Failing configurations:

- Windows.10.Amd64
  - AnyCPU-Release
  - AnyCPU-Debug
- Windows.7.Amd64
  - AnyCPU-Release

[2016-09-30 02:12] Priya91 commented on #11990
@jamesqo Implementing ICollection over Stack and Queue doesn't go well conceptually with the definition of these data structures, like defining Add and Remove over push/pop or enqueue/dequeue. Moreover the suggested improvements do not seem worth over the cost of porting these changes over to Full Framework for app compat. It's not worth micro-optimizing code, can you provide more usage data on pe

[2016-09-30 02:13] dotnet-mc-bot opened #12222 "Test failure: System.Xml.Tests.XsltcTestFile/Var1"
Opened on behalf of @jiangzeng

The test `System.Xml.Tests.XsltcTestFile/Var1` has failed.

    System.IO.FileNotFoundException : xsltc.exe

Stack Trace:

       at XmlCoreTest.Common.XsltVerificationLibrary.SearchPath(String fileName)
       at System.Xml.Tests.XsltcTestCaseBase.TryCreatePersistedTransformAssembly(String commandLine, Boolean createFromInputFile, Boolean expectedToSucceed, String

[2016-09-30 02:14] #11990 closed

[2016-09-30 02:44] Petermarcu opened #12223 "Null Reference when trying to add a cert to a store after calling dispose on the cert"
See this test fix for more details: https://github.com/dotnet/corefx/pull/12220

As part of this fix we should also consider whether we need to add a test case to cover the scenario where a cert does not have a private key in our tests.

[2016-09-30 02:47] Priya91 commented on #8661
All of the collections have DebuggerDisplay attribute on them which is what is displayed on hover over the locals, the ToString() override in Debugger will only be useful, only when calling collection.ToString() explicitly in watch, at which point you could use lambda in intermediate window to display the elements. Moreover, solving the string length issue by just showing the first few elements is

[2016-09-30 02:52] Priya91 commented on #8661
@masonwheeler Please feel free to reopen the issue if you have any new usage scenarios/data to support the proposal.

[2016-09-30 02:52] #8661 closed

[2016-09-30 02:58] Priya91 commented on #4072
@JonHanna If you're still interested in this api addition, please come up with a proposal with a speclet, as mentioned in the [api-review guidelines](https://github.com/dotnet/corefx/blob/d0dc5fc099946adc1035b34a8b1f6042eddb0c75/Documentation/project-docs/api-review-process.md)

[2016-09-30 02:58] #4072 closed

[2016-09-30 03:14] jamesqo commented on #11990
@Priya91 To address your arguments:

We don't necessarily *have* to define Add over Push or Enqueue if we don't think the semantics match-- we can just throw a `NotSupportedException` from the method. (For example, arrays implement `IList<T>` but don't support adding, so they just throw a NSE.) We're just adding these methods for the sake of implementing ICollection.

Can you please help me unders

[2016-09-30 03:44] gkhanna79 opened #12224 "Add OSX 10.12 RID support to Microsoft.NETCore.Platforms for LTS branch"

[2016-09-30 04:07] bartonjs commented on #12223
Based on http://referencesource.microsoft.com/#System/security/system/security/cryptography/cryptoapi.cs,5bbb563f5bb1034c, ArgumentNullException is actually the best match (our null Pal object is scenario-equivalent to a null safehandle).

[2016-09-30 05:13] #4316 closed

[2016-09-30 05:16] weshaggard commented on #12184
Excellent lets use this issue to track moving those down. Who would be the best person to do that?

[2016-09-30 05:45] osjoberg commented on #12204
I am running English Windows 10 with Swedish regional settings in the control panel.

CultureInfo.CurrentCulture.Name is "sv-SE"

[2016-09-30 05:49] weshaggard commented on #9873
How deep of a dependency is this? Can we break-out these APIs into extensions or something else? I would really like to break the XML(part of netstandard) dependency on CodeDom(not part of netstandard).

[2016-09-30 05:59] weshaggard commented on #12000
I've left a number of more clean-up comments in https://github.com/dotnet/corefx/pull/12194 that I think we need to follow-up on, so re-opening this issue. Feel free to close again if you already have other issues tracking those things.

[2016-09-30 06:06] weshaggard commented on #11516
@Priya91 your work will also conflict with @AlexGhiondea PR https://github.com/dotnet/corefx/pull/12081 please be sure to coordinate.

[2016-09-30 06:47] osjoberg commented on #12204
It seems to be a bigger problem than just "sv-SE" (used culture names are derived from "legacy" .NET CultureInfo.GetCultures(CultureTypes.AllCultures) / Windows 10).

        public static void Main(string[] args)
        {
            var cultureNames = new[] { "", "aa", "aa-DJ", "aa-ER", "aa-ET", "af", "af-NA", "af-ZA", "agq", "agq-CM", "ak", "ak-GH", "am", "am-ET", "ar", "ar-001", "ar-AE", "ar-

[2016-09-30 11:05] laskoviymishka commented on #8809
@CIPop i update my initial repro repository. Looks like it still reproducing (see ConsoleApp2 for latest .net core).

[2016-09-30 13:23] stephentoub opened #12228 "AsyncTransactionScopeTests.AsyncTSTest failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/821/consoleText

[code]

[2016-09-30 13:56] SamuelEnglard commented on #11898
I should be able to have a speclet for this soon based on an updated version of my gist

[2016-09-30 14:48] #11770 closed

[2016-09-30 15:04] BrannonKing commented on #574
I don't know that array-based priority queues are best. Memory allocation in .NET is really fast. We don't have the same search-small-blocks issue that the old malloc dealt with. You are welcome to use my priority queue code from here: https://github.com/BrannonKing/Kts.Astar/tree/master/Kts.AStar

[2016-09-30 15:10] hermitdave commented on #6318
@priya91 oops forgot about this one.. I'll get started asap

[2016-09-30 15:36] svick commented on #12078
I think it could work in some cases. A LINQ provider could evaluate the `comparer` parameter and compare it with a set of known comparers (like `StringComparer.Ordinal`) and generate query based on that.

I don't know if any real LINQ provider actually does that (I have checked EF Core, and that throws exception on such query). But it does work with `AsQueryable()`, so making the overload throw or

[2016-09-30 15:59] SunnyWar commented on #574
@ebickle One tiny nit on the _speclet_.  It says:

`/// Adds an object to the end of the <see cref="PriorityQueue{T}"/>.
...
public void Enqueue(T item);
`

Shouldn't it say instead, `/// Inserts object into the <see cref="PriorityQueue{T}"> by its priority.`

[2016-09-30 16:29] stephentoub commented on #11598
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_release_prtest/846/consoleText

[2016-09-30 16:39] jkotas commented on #12211
`AppDomain.CurrentDomain.SetupInformation.LicenseFile` is not coming back. You should assume that it is always null.

[2016-09-30 16:42] AlexGhiondea commented on #12211
Thanks @jkotas.

[2016-09-30 16:47] stephentoub opened #12233 "48 warnings during clean build"
All of them similar to:

[code]

[2016-09-30 16:52] karelz commented on #11622
@ianhays can you please look into it?
It seems to be consistent failure - 2 more hits: [20160330.01](https://mc.dot.net/#/product/netcore/release~2F1.1.0/source/official~2Fcorefx~2Frelease~2F1.1.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20160930.01/workItem/System.IO.FileSystem.Watcher.Tests/analysis/xunit/System.IO.Tests.FileSystemWatcherTests~2FFileSystemWatcher_CreateManyConcurrentInstances) a

[2016-09-30 16:53] stephentoub commented on #11622
@karelz, see https://github.com/dotnet/corefx/pull/11721

[2016-09-30 16:54] joelverhagen commented on #12219
I've updated the test app to support non-Windows systems (by using `echo`):
[processredirect2.zip](https://github.com/dotnet/corefx/files/503437/processredirect2.zip).

The results are the same for Windows, Linux, and Mac OS X.

[2016-09-30 16:59] dotnet-mc-bot opened #12234 "Test failure: System.IO.Tests.Directory_Delete_Tests/FileSystemWatcher_Directory_Delete_SymLink & FileSystemWatcher_File_Create_SymLink & FileSystemWatcher_File_Delete_SymLink"
Opened on behalf of @karelz

The test `System.IO.Tests.Directory_Delete_Tests/FileSystemWatcher_Directory_Delete_SymLink` has failed.

    System.ComponentModel.Win32Exception : No such file or directory

Stack Trace:

    at Interop.libproc.proc_pidpath(Int32 pid)
    at System.Diagnostics.Process.GetExePath()
    at System.Diagnostics.Process.ResolvePath(String filename)
    at System.Diagnostic

[2016-09-30 17:01] steveharter opened #12235 "Track System.Security.Cryptography.X509Certificates ns 1.6 update for 1.1.0 release"
Several tests in System.Security.Cryptography.X509Certificates.Tests require code added in 1.1.0 (to System.Security.Cryptography.X509Certificates) which has not yet pushed to ns1.6. They should be re-enabled once ns1.6 is updated with 1.1.0 bits

[2016-09-30 17:05] danmosemsft commented on #12209
@AlexGhiondea Take it ...

[2016-09-30 17:06] danmosemsft commented on #12211
@rahku is bringing back GetAssemblies as part of https://github.com/dotnet/corefx/issues/9327.

[2016-09-30 17:07] karelz commented on #12234
No failures in [20160930.02](https://mc.dot.net/#/product/netcore/release~2F1.1.0/source/official~2Fcorefx~2Frelease~2F1.1.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20160930.02/workItem/System.IO.FileSystem.Watcher.Tests) run.

[2016-09-30 17:10] dotnet-mc-bot opened #12236 "Test failure: System.Net.Tests.HttpWebRequestTest/GetResponseAsync_ResourceNotFound_ThrowsWebException"
Opened on behalf of @karelz

The test `System.Net.Tests.HttpWebRequestTest/GetResponseAsync_ResourceNotFound_ThrowsWebException` has failed.

[code]

Stack Trace:

[code]

Failing configurations:
- [1.1 - 20160930.01](https://mc.dot.net/#/product/netcore/release~2F1.1.0/source/official~2Fcorefx~2Frelease~2F1.1.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20160930.01/workItem/System.Net.Requests.Test

[2016-09-30 17:10] stephentoub commented on #12234
https://github.com/dotnet/corefx/issues/11503

[2016-09-30 17:11] karelz commented on #12236
@davidsh dupe of #11657? This one affects 1.1.0, Can you please take a look?

[2016-09-30 17:19] CIPop commented on #12217
No changes are needed: the comparison is not between Core projects but an actual .Net Desktop console app and a Core app. It doesn't output to csv, yet. Feel free to submit PRs to my branch.
The run instructions are exactly those in the README.md in the root of my enlistment: .\build.ps1 once followed by .\run.ps1 (runs the test 3 times for each).

The graph above was made by running the tests on

[2016-09-30 17:26] benaadams commented on #12217
Oh, interesting!

For my test suite I was getting degradation for HT on some of the tests vs a less powerful non-HT machine; but not for all - mostly when the actions were queued to the global queue; rather than the thread local queues.

[2016-09-30 17:26] karelz commented on #12234
@ianhays anything we can do here?

[2016-09-30 17:29] karelz commented on #12177
@Priya91 @ianhays what do you think?

[2016-09-30 17:33] karelz commented on #12190
@terrajobst @weshaggard @ericstj any thoughts here?

[2016-09-30 17:34] danmosemsft opened #12239 "add missing members of System.Xml"
These still seem to be missing

[code]

[2016-09-30 17:37] danmosemsft commented on #12239
@sepidehMS these are not in the classic system.xml assembly, but in System.runtime.serialization.xml. i guess that's why you don't have them already.

[2016-09-30 17:44] karelz commented on #12233
@ericstj @weshaggard can you advise here?

[2016-09-30 17:49] iamjasonp commented on #12214
We do a clone because we also have the ability for someone to provide us the certificate directly.

We want to avoid the case where someone provides us with the certificate and, because they think they own the certificate disposal, they dispose and cause issues when using the very

[2016-09-30 17:50] stephentoub opened #12242 "Intermittent: CaseInsensitiveComparerTests.Default_Compare_TurkishI failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/865/consoleText
[code]

[2016-09-30 17:51] benaadams opened #12243 "Add Unsafe.CopyBlockUnaligned"
That uses the `.unaligned` prefix

Has come up in https://github.com/dotnet/corefxlab/issues/848 and https://github.com/aspnet/HttpAbstractions/pull/717

/cc @jkotas

[2016-09-30 17:53] benaadams commented on #12243
It will currently work with core clr but might not with other runtimes and may not work in future https://github.com/dotnet/coreclr/pull/7198#discussion_r79028448

"cpblk assumes that both destaddr and srcaddr are aligned to the natural size of the machine (but see the unaligned. prefix instruction). The operation of the cpblk instruction can be altered by an immediately preceding volatile. or una

[2016-09-30 18:01] VSadov opened #12245 "Make Linq.Expression tests runnable with AOT and make sure they run regularly."
We had some recent test changes that would not be runnable under AOT for sure and nothing was broken. That proves that we do not run Linq.Expressions with AOT.

Also, attempts to run tests with AOT wee not very successful.

We need to make sure the tests are runnable with AOT.

That includes figuring out how to exclude scenarios that are known not AOT compatible - like usage of Reflection.Emit in

[2016-09-30 18:02] CIPop commented on #8809
I'm not able to build the server from your repo because it references rc2 which is no longer under support.
[code]

I've changed the file this way: https://gist.github.com/CIPop/1bc8b2851c0bc066f59b80d9815ab2e2 to be able to run it.

I ran two tests:

## Baseline run against IIS + ASHX:

I was able to build the client and test against an IIS + a [very simple Echo.ashx ](https://gist.github.com/CIP

[2016-09-30 18:02] bartonjs commented on #12214
The safe but somewhat hacky looking way that exists right now is

[code]

It's a bit silly looking, but will keep the private key around.  The copy constructor is coming back as part of netstandard20; and it'll do the right thing.

[2016-09-30 18:11] bartonjs commented on #11583
Since this seems to have been a one-off error and it's replaying a CAPI error code; I'm going to go ahead and close this.

[2016-09-30 18:11] #11583 closed

[2016-09-30 18:15] danmosemsft opened #12247 "Add missing members in System.Runtime.Versioning namespace"
Currently we only have FrameworkName and NonVersionableAttribute. We also need

[code]

[2016-09-30 18:18] bartonjs commented on #11297
This was fixed by https://github.com/dotnet/corefx/pull/11700

[2016-09-30 18:18] #11297 closed

[2016-09-30 18:19] KrzysztofCwalina commented on #12170
Like the change to make Read read and Write write, as opposed to the other way? :-)

[2016-09-30 18:22] iamjasonp commented on #12214
Oof, that's kinda painful, having to work around code that we expect to be fixed in netstandard2.0...

[2016-09-30 18:23] ericstj commented on #12233
Those happen when the CSProj is inconsistent with what's in the project.json.

[2016-09-30 18:25] danmosemsft commented on #11516
@SedarG, this is apparently not a minor work item and @Priya91 is busy with networking API. This may not be possible to do soon.

/cc @karelz

[2016-09-30 18:27] bartonjs commented on #11042
The original report was about the message from a file not found when opening a certificate.  While the current format of exception strings from OpenSSL error codes is different from what we have for error codes on Windows it isn't a violation of the exception guidelines.

As for making the OpenSslCryptographicException type public: Right now the Algorithms and X509Certificates libraries are trying

[2016-09-30 18:27] #11042 closed

[2016-09-30 18:37] mburbea commented on #1010
I agree but I think it somewhat generalizes a use case.  A bit manipulation class could be a nice way to expose intrinsics like BitScanForward/BitScanReverse.

As for the concern of growing vectors, there could be a few solutions.
[code]
Essentially, allow you to extract the bit mask offset from the `offset`-th slot of your type. For the current implementation, everyone could just use `ExtractBitM

[2016-09-30 18:55] #11837 closed

[2016-09-30 19:18] laskoviymishka commented on #8809
@CIPop well it does. At least for me
![image](https://cloud.githubusercontent.com/assets/2754361/19003911/ae9c2dda-875b-11e6-85ed-a5a62f393ebd.png)

I just tried on fresh machine with fresh installed latest visual studio .

[2016-09-30 19:18] karelz commented on #6162
@varocarbas Thanks for sharing your opinion. I'd like to react to a few points:

First, designing new APIs in frameworks which should survive long time is hard work. I have learned over time that discussions about APIs, what they mean, how they impact existing APIs, how they are consistent with the rest of the Framework, how they are usable and what is their value, is far away from simple. There a

[2016-09-30 19:23] karelz commented on #6162
Given that we do not have clear proposal which would gain wider agreement, I am closing the issue.

@varocarbas if you are still passionate about permutation APIs, I would suggest to create ad-on library on top of .NET Core. If it gains popularity and is found really useful by wider audience, we can eventually consider including it back into .NET Core, or just leave it as a great Math ad-on librar

[2016-09-30 19:23] #6162 closed

[2016-09-30 19:27] karelz commented on #11516
Is it part of netstandard2.0? Or what else is it needed for?

[2016-09-30 19:27] bartonjs commented on #12214
Just to be clear on this:  `new X509Certificate2(IntPtr)` won't ever work right on Linux (if you expected the private key to be available... for public-only it's fine).  `new X509Certificate2(X509Certificate)` will work correctly.

[2016-09-30 19:31] bartonjs commented on #10878
RC4 isn't available via CNG, and CNG is the only library available to UWP.  This test should either runtime detect that it's on UWP and expect the exception, or be compiled out in a special UWP-targeted version.

[2016-09-30 19:33] varocarbas commented on #6162
@karelz  Excellent reaction, thanks. Descriptive, to the point and with quick results.

My intention wasn't triggering a change of your proceedings, but I am happy if it was kind helpful to spot certain weakness. At least for me, a quicker-closing-issues attitude would be really positive: you can focus your efforts on actually relevant issues and the proposers can understand better how to propose.

[2016-09-30 19:34] bartonjs commented on #10881
Reading public keys from ECDSA certs isn't supported in UWP due to a CNG function not being on the WACK-approved list.  It's supposedly going to be present in a future update.

#8450 is tracking the real work behind this.

[2016-09-30 19:37] iamjasonp commented on #12214
Ack - good to know. I think it should be no problem for WCF to convert to the copy constructor. What were the differences between using the copy ctor and using the Handle in desktop?

[2016-09-30 19:48] bartonjs commented on #12214
I was going to say "ArgumentNullException vs NullReferenceException if the cert is null", but
http://referencesource.microsoft.com/#mscorlib/system/security/cryptography/x509certificates/x509certificate.cs,176 seems to slightly disagree, though.  The copy constructor causes the SafeHandle to finalize because neither copy is willing to accept ownership.

@morganbr: Is there any visible effect of wh

[2016-09-30 19:50] bartonjs commented on #10879
Another UWP test failing because of #8450.

[2016-09-30 20:01] CIPop commented on #8809
@laskoviymishka Since you can repro we need to collect more information:

  * What OS version are you using? What machine configuration (CPU: number of sockets, cores, logical processors; RAM)?
  * Please confirm that you're using .Net Core 1.0.0 (or 1.0.1).
  * In the example above, is there a difference between the top left and top right apps ? (Is it that one uses HttpClient and the other HttpW

[2016-09-30 20:24] bartonjs commented on #10760
This will require digging through the Win32 code and/or working with the Windows Cryptography team to find out what's going on.  Since static DH isn't really the done thing anymore it's not hyper relevant; but if it's a problem on the .NET side we should probably fix it.

(If it's a lack of Windows support, then that's just what it is...)

[2016-09-30 20:34] laskoviymishka commented on #8809
@CIPop

- I use win 10, 16gb ram i7. It pretty powerfull
- Could you please point me how i can ensure version of .net core? dotnet --version or something different?
- yes
- yes

[2016-09-30 20:40] karelz commented on #6162
Let's take the discussion there ...

[2016-09-30 20:56] danmosemsft opened #12251 "Add missing members of Delegate"
[code]

and
[code]

[2016-09-30 20:56] danmosemsft commented on #12251
Looks like just need exposing from runtime.

[2016-09-30 20:58] danmosemsft commented on #12209
Note #11862

[2016-09-30 21:05] CIPop commented on #8809
Thanks @laskoviymishka!

First take a look at what SDKs you have installed.
![image](https://cloud.githubusercontent.com/assets/8635911/19006702/d01bb8e0-8715-11e6-8b02-5f802ea974fd.png)

You should uninstall non-RTM versions at this time.

Second, change the project.json to use either 1.0.0 or 1.0.1. For the server, use https://gist.github.com/CIPop/1bc8b2851c0bc066f59b80d9815ab2e2

You already h

[2016-09-30 21:20] danmosemsft opened #12252 "CI Timeout during FileSystemWatcher tests"
This built for ~35 mins then began running tests. Test logging stops after ~10 mins. Eventually the run times out, apparently during the FileSystemWatcher tests

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/882/consoleFull#147575877179494335-f7bd-47d0-8771-8661e00c2db2

I'm not sure why it throws `System.DllNotFoundException: Unable to load DLL 'KERNEL3

[2016-09-30 21:22] danmosemsft commented on #12252
@ianhays are there any known hangs in these tests?
/cc @karelz

[2016-09-30 21:23] laskoviymishka commented on #8809
@CIPop looks like there was 2 conflicted version (one preview 2), after removing old one it become blazing fast.
![image](https://cloud.githubusercontent.com/assets/2754361/19007317/0861500a-876d-11e6-917f-96dd3d30b5c2.png)
Even so i don't see any performance degradation in compare to classic .net.
So i believe it closed.
Just from curiosity could you please point me to changeset that closed it?

[2016-09-30 21:23] #8809 closed

[2016-09-30 21:25] danmosemsft commented on #12252
Another possibility: the FSW tests were just next to start, and as an artefact of how the build is being terminated they were briefly started then quickly terminated. This is consistent with there being no message indicating they were started before the termination.

[2016-09-30 21:28] karelz commented on #6308
Closed means rejected. If you believe that parts are still valuable, I would suggest to create new issue with the proposed subset (especially if it is just 2 methods Pow&Sqrt). If there are more things you believe should be considered (I didn't get the impression), let us know.

Given Immo's comment about their non-trivial implementation, I would suggest to scout Sqrt/Pow(double) implementation an

[2016-09-30 21:30] CIPop commented on #8809
Thanks @laskoviymishka!

@davidsh or @stephentoub might be able to answer although a lot of changes were made to the implementation since RC2.

[2016-09-30 21:33] laskoviymishka commented on #8809
@CIPop may be class / classes 🎯. Anyway thanks to you too. This issue was quite noisy for me.

[2016-09-30 21:41] CIPop commented on #8809
Glad I was able to help!

The most likely component to cause the issue would be `System.Net.Http.WinHttpHandler` although, based on other discoveries made during my perf investigations, it might have been a configuration issue, a runtime issue (the incorrect version of System.Net.Http implementation might have been selected), or even a Task/ThreadPool problem (see other issues I've referenced).

[2016-09-30 21:45] danmosemsft opened #12254 "Two members missing from BinaryFormatter"
[code]

@stephentoub did you intentionally omit these two?

[2016-09-30 21:47] stephentoub commented on #12254
They rely on unavailable remoting types.  If System.Runtime.Remoting.Messaging.HeaderHandler and System.Runtime.Remoting.Messaging.IMethodCallMessage are coming back, then we can add these as well.

[2016-09-30 21:53] danmosemsft opened #12255 "Complete S.R.ConstrainedExecution namespace"
Just two missing types, both attributes.

[code]

[2016-09-30 21:56] danmosemsft commented on #9487
breaking out.

[2016-09-30 21:56] #9487 closed

[2016-09-30 21:57] danmosemsft opened #12257 "Complete System.Runtime.CompilerServices namespace"
Just a few missing attributes

[code]

[2016-09-30 22:09] danmosemsft commented on #9514
No work planned here.

[2016-09-30 22:09] #9514 closed

[2016-09-30 22:11] danmosemsft commented on #6913
This is not currently in .NET Standard 2.0. It would be an extension. It probably isn't useful to have an issue for it.

[2016-09-30 22:16] varocarbas commented on #6308
Sure. If it can be done (the case here because the `double` versions work), I can certainly do it :)

I guess that I can create a new issue for the `Pow`/`Sqrt` overloads (`decimal` because of being useful; others like `int` and `long` to avoid the referred problems with implicit conversions, as proposed in one of my last comments) + the two `decimal` versions for the constants. I will not be doin

[2016-09-30 22:16] danmosemsft opened #12258 "Complete System.Diagnostics.SymbolStore namespace"
These types are missing.

[code]

[2016-09-30 22:18] dotMorten opened #12259 "Create new PreviewAttribute that generates compiler warning for using preview/beta functionality"
We have ObsoleteAttribute to generated a compiler warning when users are using obsolete APIs.
Similarly it would be amazing to have a PreviewAttribute for functionality that is still considered "beta" and not yet finalized. This notifies the user that this API might change or not be 100% functional.
The alternative is to create special beta-namespaces  or put beta in the member names, but that wou

[2016-09-30 22:20] danmosemsft opened #12260 "Complete System.Diagnostics namespace"
These types are either missing or incomplete.

- [x] T:System.Diagnostics.CorrelationManager
- [x] T:System.Diagnostics.DebuggerStepperBoundaryAttribute
- [x] T:System.Diagnostics.DebuggerVisualizerAttribute
- [x] T:System.Diagnostics.MonitoringDescriptionAttribute
- [x] T:System.Diagnostics.Process
- [x] T:System.Diagnostics.ProcessModule
- [x] T:System.Diagnostics.ProcessModuleCollection
- [x] T

[2016-09-30 22:27] SedarG commented on #11516
It's really hard to answer this question. netstandard2.0 is ambiguity. Are you referring to it as a release target or, **_the_** netstandard 2.0?

I'm giving it a try:
(This is an AOT only failure. So answering your question in context of AOT). We are not planning to expand uap10.1 more than where it is right-now. In that regard the NS2.0 APIs exposed in the new version of this library will not be

[2016-09-30 23:33] danmosemsft commented on #11440
Warnings gone.

[2016-09-30 23:33] #11440 closed

[2016-09-30 23:51] danmosemsft commented on #5782
Closing in favor of #4571

[2016-09-30 23:51] #5782 closed

[2016-10-01 00:20] Priya91 commented on #11990
That doesn't go well with the abstraction of these types, and not a great API design.

We want to maintain API parity with .NET Core and Full Framework, so libraries can be made to target multiple app frameworks. So adding new apis to .NET Core means adding it to Full Framework.

I see the optimizations are made around Count property, and these types implement ICollection that has a ICollection.Co

[2016-10-01 00:23] #10685 closed

[2016-10-01 00:56] karelz commented on #6308
Be warned that these will get some push backs (as Immo hinted). I myself don't see their value (but I am not API expert yet).

Focus on providing data that show your algo is comparable perf-wise to cast-to-double + do-the-operation + cast-to-decimal. Otherwise it doesn't bring any value ...

[2016-10-01 01:15] #11617 closed

[2016-10-01 01:15] #11803 closed

[2016-10-01 03:00] stephentoub commented on #7623
@davidsh, this can be closed now, right?

[2016-10-01 06:49] bartdesmet opened #12270 "Tests failure in System.Net.Tests.SyncFileWebRequestTestBase.ConcurrentReadWrite_ResponseBlocksThenGetsNullStream"
[code]
see http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/893/testReport/junit/System.Net.Tests/SyncFileWebRequestTestBase/ConcurrentReadWrite_ResponseBlocksThenGetsNullStream/

[2016-10-01 08:07] varocarbas commented on #6308
If you read my answer to Immo, you would see that I was thinking like you (actually, this rejection was the only one about which I didn't complain). But later I thought about it a bit more and updated my comment with:

A method like `Math.Abs` includes all the alternatives despite being implicitly convertible among them (e.g., `double` and `int`). One of the justifications for this might be to red

[2016-10-01 08:09] varocarbas commented on #6308
@karelz

If you read my answer to Immo, you would see that I was thinking like you (actually, this rejection was the only one about which I didn't complain). But later I thought about it a bit more and updated my comment with:

A method like `Math.Abs` includes all the alternatives despite being implicitly convertible among them (e.g., `double` and `int`). One of the justifications for this might

[2016-10-01 09:05] Thaina opened #12272 "Please add TryParse and ChangeType generic to System.Convert class"
In addition to ToInt32() and all other parsing things. System.Convert should have generic parser

public static bool TryParse<T>(string s,out T v) where T : struct,IConvertible,IFormattable,IComparable<T>,IEquatable<T>
{
    return T.TryParse(s,out v);
}

public static T ChangeType<T>(object obj) where T : IConvertible
{
    T v;
    ChangeType<T>(obj,out v);
    return v;
}

public static bool Ch

[2016-10-01 10:34] stephentoub opened #12273 "System.Xml.Tests.CTransformStrStrTest.TransformStrStr9 test failed"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/925/consoleText

[code]

[2016-10-01 11:11] stephentoub commented on #12270
Fixed by https://github.com/dotnet/corefx/pull/12231

[2016-10-01 11:11] #12270 closed

[2016-10-01 11:16] #12078 closed

[2016-10-01 12:00] bartdesmet opened #12275 "Running tests from Visual Studio insists on copying old product binaries"
I'm not exactly sure on the steps to consistently repro this, but what I'm seeing is this, for the `System.Linq.Expressions` project:
- Running `msbuild` from the command line drops the privately built product binary into `bin\tests\AnyOS.AnyCPU.Debug\System.Linq.Expressions.Tests\netcoreapp1.0`
- Subsequently running the test project from Visual Studio, with the above location as the working dire

[2016-10-01 12:50] hughbe commented on #12245
You mentioned ref-emit not being supported in AOT. Once we get the AOT infrastructure up and running, I can try to convert classes created using ref-emit into IL - also would be a good opportunity for me to learn IL!

[2016-10-01 13:23] svick commented on #6308
If you do that, what is the point of introducing the overload at all? Before `Math.Sqrt(15)` worked and returned `double`. After, it would still work and still return `double`.

[2016-10-01 13:51] varocarbas commented on #6308
@svick

To avoid the problem pointed out by Immo (which BTW I missed; my bad). Currently, you have `double Math.Sqrt(double)` and some people might be using it by taking advantage from the implicit conversion capabilities (e.g., `int` to `double`). As you rightly point out, `Math.Sqrt(15)` is now working fine and some codes might be actually relying on such an approach. If the new `decimal Math.Sq

[2016-10-01 14:39] svick commented on #12259
I don't understand when would this be useful. In a NuGet-based world, you're generally in one of two situations:

* You want only stable APIs, so you use stable versions of packages. In this case, the packages wouldn't have any preview functionality, so you wouldn't get any warnings.
* You want to use preview APIs, so you use preview versions of packages. In this case, you would get preview warnin

[2016-10-01 14:44] jkotas opened #12276 "System.IO.FileSystem.Watcher.Tests.dll segfault on OSX in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/934/console

[code]

[2016-10-01 14:56] svick commented on #6308
@varocarbas That makes sense. Thanks for the explanation.

[2016-10-01 14:59] varocarbas commented on #6308
@svick You are welcome.

[2016-10-01 17:57] hughbe opened #12278 "StringBuilder.AppendLine(char)"
### Rationale
We have a `StringBuilder.AppendLine(string)` method that basically does `Append(string)` followed by `Append(Environment.NewLine)`

However, `StringBuilder`also provides `Append(char)` for performance reasons (avoids string copying, allocations etc)

I spotted this in #12277 where @bartdesmet has multiple calls of `AppendLine(string)` where `string.Length==1`

### Proposed API
[code]

[2016-10-01 18:40] karelz commented on #6308
That is actually not true. There is not a single dictator on .NET Core side. There is set of people who have lots of experience with API design and their opinion matters as subject experts. There is set of people who are slowly growing into the API design space (myself included). And of course there are members of community, who influence decisions as well (or at minimum provide initial proposals)

[2016-10-01 19:28] varocarbas commented on #6308
@karelz
First of all, thanks again for your honesty, you should convince the other lords in the presidential palace to join your attitude (LOL).

I meant "you" as plural, in the sense of the final decision makers; never doubting about your knowledge or professionalism, just highlighting the making-whatever-you-wish essence. There might be a discussion but, at the end, you will be making all the de

[2016-10-01 19:33] justinvp commented on #12278
It's certainly a micro optimization, but I do prefer calling `Append(char)` instead of `Append(string)` when `string.Length == 1`.

On the one hand, it would be nice if there was an `AppendLine(char)` to match the existing `AppendLine(string)`, which would basically just be a convenience over `Append(char).AppendLine()`.

On the other hand, there are a lot of `Append` overloads that take various t

[2016-10-01 19:36] jkotas commented on #11665
Fixed by #12268

[2016-10-01 19:36] #11665 closed

[2016-10-01 19:36] hughbe commented on #12278
I certainly wouldn't support an AppendLine for each primitive. Certainly char instinctively seems to be a good fit as it represents text.

[2016-10-01 19:44] jkotas commented on #12278
I agree. Single character lines does not seem to be worth to optimize for in StringBuilder API design. Folks who really care about this micro-optimization can always add it locally as extension method.

[2016-10-01 19:59] hughbe commented on #12278
I think you're right. I'll close this issue. If someone pushes back, we can reopen this, but that's probably unlikely

[2016-10-01 19:59] #12278 closed

[2016-10-01 20:00] #12129 closed

[2016-10-01 20:25] svick commented on #12039
Since this would be a convenience API, I think it:

* should be as convenient as possible
* doesn't need to be very efficient
* doesn't have to be able to do everything

Because of that, the API that I would like to see would be something like:

[code]

This way, it's very easy to start a process, wait for it to exit and then get its output.

My questions:

* Are there any properties of `ProcessSt

[2016-10-01 20:29] agocke commented on #12039
I like @svick's proposal. A few more arguments that could be useful: working directory, environment variables, and "standard in" text.

We have a Roslyn test helper that looks like this:

[code]

[2016-10-01 21:16] unshorn opened #12281 "HashSetEqualityComparer is not marked as Serializable"
On .NET 4.6 HashSetEqualityComparer is marked as Serializable.

https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/HashSetEqualityComparer.cs

compared to:

http://referencesource.microsoft.com/#System.Core/System/Collections/Generic/HashSetEqualityComparer.cs,b81a34218101efe7,references

Thank you.

[2016-10-01 21:57] jamesqo commented on #12177
@karelz Sorry if I made it confusing in the title, however this is not an API proposal.

[2016-10-01 22:52] jamesqo commented on #11990
@Priya91

I disagree. Types like `Array` and the immutable collections do not support adding or removing, and yet they still implement `IList<T>` and `ICollection<T>`. This is valid since `ICollection<T>.IsReadOnly` returns false, so they are allowed to simply throw NotSupportedExceptions in their Add/Remove methods.

@terrajobst [wrote a blog post](https://blogs.msdn.microsoft.com/dotnet/2013/09/

[2016-10-01 23:13] joshlang opened #12282 "HttpWebRequest internally throws 2 exceptions"
Create a .NET Core 1.0.1 console project with this line of code:
**HttpWebRequest.CreateHttp("https://www.google.ca/").GetResponseAsync().Wait();**

Execute it and examine the output window:
Exception thrown: 'System.PlatformNotSupportedException' in System.Net.Requests.dll
Exception thrown: 'System.ArgumentNullException' in System.Private.CoreLib.ni.dll

**This occurs on every call, which cannot

[2016-10-01 23:14] dotMorten commented on #12259
It's actually pretty common to release fully supported APIs that the user can rely on and expect support for, while also giving them early access to new APIs that might not be been fully completed yet.
It also reduces the number of releases you need to simultaneously manage and reduces the number of release cycles requite.

Now I get what you're saying. and that works for small nimble SDKs, but wi

[2016-10-01 23:30] jamesqo opened #12283 "Should we check source.Count every time SelectListPartitionIterator.MoveNext is called?"
Currently, we check `source.Count` every time we iterate through a `SelectListPartitionIterator`: https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/Select.cs#L713.

Presumably, this is so that if we update the `IList` in question while we are iterating the sequence returned by Skip/Take, we will still run the selector on the elements added. For example:

[code]

However,

[2016-10-02 00:02] davidsh commented on #12282
I'm fairly certain this issue is fixed in the .NET Core 1.1 branch as well as current [master].

cc: @stephentoub

[2016-10-02 00:03] davidsh commented on #12282
This is a dupe of #9578

[2016-10-02 00:20] joshlang commented on #12282
Yes, I saw #9578. The Proxy PlatformNotNullException wasn't mentioned in it, and I wasn't 100% sure it was the same ArgumentNullException, so I decided to report it.

[2016-10-02 00:24] davidsh commented on #7623
Cristian re-opened it due to this:
https://github.com/dotnet/corefx/blob/a6fc5237f0db5dc7aecf128bbb5dd7bbe570d495/src/System.Net.Http/src/netcore50/System/Net/HttpClientHandler.cs#L345

And the fact the contract is not fully enabled for netcore50.

[2016-10-02 01:04] robertmclaws opened #12286 "Expose IDictionary members on ExpandoObject"
## Scope

Make it easier to check the makeup of a particular `ExpandoObject` by exposing some of the currently private `IDictionary` members.
## Rationale

`ExpandoObject` has some great methods built in to help you get the values of the dynamic members of the object. But what if you want to check the object's definition? [According to this solution](http://stackoverflow.com/a/2839629/403765), the

[2016-10-02 02:06] svick commented on #12286
Would this affect how `ExpandoObject` behaves as `dynamic`? If it did, then the behavior of this code would change:

[code]

Admittedly, it's a fairly convoluted example and it's quite possible nobody ever wrote code like this.

[2016-10-02 03:12] robertmclaws commented on #12286
This is a good point, it is a possibility. Not sure how that would play out.

[2016-10-02 03:53] SunnyWar opened #12288 "Dispose MemoryStream"
`private static byte[] ConstructDSSPublicKeyCspBlob(byte[] encodedKeyValue, byte[] encodedParameters)` initializes a MemoryStream without disposing it and without returning it or assigning it. A quick search shows at least a dozen places in corefx that act similiarly.  If there's a reason for this, I'd like to know what it is since the documentation clearly indicates that it should be disposed. If

[2016-10-02 05:28] SunnyWar opened #12289 "Add setter to CanWrite property in MemoryStream"
In many network and database uses a MemoryStream is used to populate a stream of bytes. After the stream is filled another stream has to be created in order to return on that is read-only. The inability to set the CanWrite property in a MemoryStream object results in unnecessary allocations and inefficiencies

Rationale and Usage
-------------------------------------
In, DbDataReader.cs the GetStr

[2016-10-02 11:19] cdrnet commented on #4544
Any updates? This is still blocking existing multi-platform projects like [Math.NET Numerics](https://www.nuget.org/packages/MathNet.Numerics) from supporting .Net Standard (and Core), despite being a perfect fit for the scenario.

[2016-10-02 12:33] svick commented on #12288
What would be the point? [`MemoryStream.Dispose()`](https://github.com/dotnet/corefx/blob/0cc9db0/src/System.IO/src/System/IO/MemoryStream.cs#L147-L164) does nothing except to prevent most further operations from succeeding.

As far as I can tell, even the comment about cleaning up async resources is wrong (since [`Stream.Dispose()`](https://github.com/dotnet/coreclr/blob/6409491/src/mscorlib/src/

[2016-10-02 13:08] v-yadli commented on #8683
@qooroo How about `Interlocked.MemoryBarrier`?

[2016-10-02 14:23] jamesqo commented on #12289
Is this even possible? I think in C# if a base class has a virtual or abstract property that only has get/set, and you override it adding another accessor, you'll get an error from the compiler.

[2016-10-02 14:26] flint-rocketdesk commented on #11036
@bartonjs -- we did additional research, and I can now confirm that this hard crash issue is indeed a bug in .NET Core--and not a bug in curl/openssl/nghttp2.

Here are full repro steps, sending the notification manually via curl to demonstrate that curl+nghttp2+openssl are working properly:

Step 1: upgrade curl to support HTTP/2
1. Install a clean Ubuntu 16.04 LTS server
2. Installe.NET Core
3.

[2016-10-02 14:43] stephentoub opened #12290 "XmlSerializerNamespaces.ToArray throws InvalidCastException"
XmlSerializerNamespaces wraps an ArrayList, whose parameterless ToArray() returns an object[].  XmlSerializerNamespaces.ToArray tries to cast the resulting object[] to an XmlQualifiedName[], and blows up:
https://github.com/dotnet/corefx/blob/a8c3be08889f8b997b3129eb170b55ba211ab9a6/src/System.Private.Xml/src/System/Xml/Serialization/XmlSerializerNamespaces.cs#L77

[2016-10-02 14:50] SunnyWar commented on #12289
@jamesqo you are right. I'll modify the description to indicate the Stream must have a setter.

[2016-10-02 14:59] martinsuchan commented on #5088
Any idea when this fix will be available in VS2015? As of today when doing compiling UWP Anniversary Update project to native code, in Release mode, these warnings are still there, even in VS2015 Update 3.

[2016-10-02 15:00] SunnyWar commented on #12289
@jamesqo ah....hmmm.   So this is a problem and the way around it is to add a setter to the base class BUT,  adding the setter to Stream means that everyone in the world that has inherited from Stream will be broken. I don't see anyway to get around this.

I'm sad but I will close this proposal.

[2016-10-02 15:00] #12289 closed

[2016-10-02 15:12] SunnyWar commented on #12288
@svick I looked through the code and your are right...and it's even worse, it calls the base.Dispose inside a catch clause, which subsequently does nothing at all. So adding Dispose would just but make the code slower with no upside.

Seems to me two things need to happen in this case:
1. The documentation should be updated as most developers (the ones that actually read the docs) aren't fooled in

[2016-10-02 15:12] #12288 closed

[2016-10-02 15:16] jamesqo commented on #7580
I don't know if this has been mentioned before, but we would still have to check for the interfaces in the callee anyhow; it's very common the caller has an `IList<T>`, `IReadOnlyList<T>`, etc. but it's statically typed as an `IEnumerable<T>`. So the only thing we would be saving are a couple of typecasts.

Also IMO since the type is named `Enumerable`, it should have methods that accept/return IE

[2016-10-02 15:28] mvermef commented on #5088
Yeah saw them too but doesn't seem to be an issue, not sure on WACK yet.

[2016-10-02 15:54] tugberkugurlu commented on #9643
@tarekgh is `ToTitleCase` in today? I cannot find it even if docs are saying that it is there: https://docs.microsoft.com/en-us/dotnet/core/api/system.globalization.textinfo#System_Globalization_TextInfo_ToTitleCase_System_String_

[2016-10-02 16:10] stephentoub opened #12292 "Convert.DBNull != DBNull.Value"
System.Convert.DBNull needs to return DBNull.Value.  DBNull needs to be type-forwarded down to and exposed from System.Runtime, otherwise the two different DBNull types don't have the same type identity.  Convert.IsDBNull also fails to correctly identify DBNull.Value, and TypeCode.DBNull is missing.

cc: @weshaggard, @danmosemsft

[2016-10-02 16:33] macakmujo commented on #9788
I had problem with scaffolding in Visual Studio it looks like you need to include   "Microsoft.VisualStudio.Web.CodeGeneration.Tools": "1.0.0-preview2-final"
under dependencies and tools, it works ok now :)

{
  "userSecretsId": "aspnet-****SHIT***",

  "dependencies": {
    "Microsoft.AspNetCore.Authentication.Cookies": "1.0.0",
    "Microsoft.AspNetCore.Diagnostics": "1.0.0",
    "Microsoft.AspN

[2016-10-02 16:45] martinsuchan commented on #5088
It's only issue if you want to have build configuration that returns no errors or warnings when executed, or if you have OCD.

[2016-10-02 16:49] akoeplinger opened #12294 "Packages on nuget.org are missing Git sha / TFS ID"
It seems this regressed, e.g. [System.Collections 4.0.11](https://www.nuget.org/packages/System.Collections/4.0.11) doesn't have the Git/TFS information embedded, while [System.Collections 4.0.11-rc2-24027](https://www.nuget.org/packages/System.Collections/4.0.11-rc2-24027) did:

![image](https://cloud.githubusercontent.com/assets/1376924/19022129/edf960bc-88d0-11e6-9b2c-f96e52f0d834.png)

vs.

![

[2016-10-02 17:50] svick commented on #12204
I think this is a duplicate of https://github.com/dotnet/corefx/issues/10054.

In short, to fix this either change the encoding of the console to UTF-8 (using `chcp 65001`) or add a dependency to `System.Text.Encoding.CodePages` to your project.json and add `Encoding.RegisterProvider(CodePagesEncodingProvider.Instance);` at the start of your application.

[2016-10-02 17:58] osjoberg commented on #12204
@svick thank you, you are right, the character is non-breaking space which makes sense.

[2016-10-02 17:58] #12204 closed

[2016-10-02 21:44] 304NotModified commented on #1797
Could someone confirm this?

[2016-10-02 22:05] steveharter opened #12295 "Port additional System.Security.Cryptography.X509Certificates"
Add additional members on top of issue #9986

[code]

[2016-10-02 22:59] tarekgh commented on #9643
@tugberkugurlu yes it is there. you need to reference the latest version of System.Runtime (something like 	4.3.0-preview1-24530-04).

here is the listing of the API as part of System.Runtime:
https://github.com/dotnet/corefx/blob/master/src/System.Runtime/ref/System.Runtime.cs#L4027

please note that the implementation is currently supported on Windows and we are going to support it on Linux very

[2016-10-02 23:02] jamesqo opened #12296 "ImmutableArray.LastIndexOf(T) does not inline"
Found during testing that this method does not inline: https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.cs#L384

Bizarrely, its neighbor `LastIndexOf(T, int)` does although it intuitively appears larger. I suspect is has to do something w/ the fact `self.Length` is being accessed multiple times in the first overload.

[2016-10-02 23:35] nblumhardt commented on #10627
`SelectConstructor()` should cover this scenario:

[code]

But, as you've pointed out, it's not working here. The delegate is invoked with the list of constructors from `Logger<>`, but the returned value isn't being applied when constructors from `Logger<object>` are searched. This looks like a bug.

[2016-10-02 23:51] jamesqo opened #12298 "Consider combining ImmutableExtensions w/ EnumerableHelpers"
[ImmutableExtensions](https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableExtensions.cs) contains many similar methods to `EnumerableHelpers` in Common. We should take a look at combining the two.

**edit:** Changed the title to 'Consider...' I realized there is some code specific to System.Collections.Immutable in that file.

[2016-10-03 01:55] stephentoub commented on #12296
Why are we opening issues for whether a particular method inlines?

[2016-10-03 01:59] stephentoub commented on #12298
I don't see value here in making such a change. If it happens organically as part of other changes, fine. But there is so much additional functionality here, it would be a negative to just add that code to the other file, as then other assemblies would be including it unnecessarily.

[2016-10-03 02:03] jamesqo commented on #12296
@stephentoub Apologies, I'll close this.

[2016-10-03 02:03] #12296 closed

[2016-10-03 02:04] stephentoub commented on #12275
cc: @weshaggard, @mattgal

[2016-10-03 02:05] jamesqo commented on #12298
@stephentoub I see your point, I can close this issue.

Noted. I'll try to be more conservative opening issues from now on.

[2016-10-03 02:05] #12298 closed

[2016-10-03 02:07] stephentoub commented on #12298
Thanks :)

[2016-10-03 02:11] stephentoub commented on #12296
Thanks. It's fine to open issues about  real performance problems, and fixing particular cases of non-inlining may help solve some such problems, but whether a particular method inlines is not in and of itself a perf problem. There are good reasons the compiler doesn't just inline everything.

[2016-10-03 04:27] TMiNus commented on #10627
I already found the source of the problem for the ```SelectConstructor``` although the fix would require a little more work

[2016-10-03 10:49] tugberkugurlu commented on #9643
@tarekgh thanks, helpful to know and I will watch #11616. I guess it's still no use to me ATM because I need it to run outside of Windows (Mac and Linux) and it's still not on nuget.org :disappointed:

[2016-10-03 10:53] yfakariya commented on #9220
Should I close this issue? I'm realizing that this issue was solved but a work to split the test project is remaining.

[2016-10-03 14:18] AtsushiKan commented on #9220
Go ahead and close. The test work can be tracked separately if and when it becomes important.

[2016-10-03 15:02] karelz commented on #12235
@steveharter is it part of 1.1.0 release?

[2016-10-03 15:11] steveharter commented on #12235
Not sure yet. I am actively researching this to ensure that something didn't break unexpectedly. It wasn't discovered until my project changes caused the netcoreapp 1.0 tests to use the official 1.0 bits for testing.

[2016-10-03 15:39] bartonjs commented on #12295
* X509Certificate.PrivateKey
  * get_PrivateKey returns the same object on successive calls, so it needs to store the return value into a field.
  * set_PrivateKey should probably just throw PNSE for now.  (It only works for RSACryptoServiceProvider and DSACryptoServiceProvider on desktop; and has complex store interactions; we can make it work later, but should coordinate with Desktop).
* X509Cer

[2016-10-03 15:40] bartonjs commented on #12295
(Or X509Certificate.Import overloads can throw PNSE to get the contract defined and defer the work)

[2016-10-03 15:41] steveharter opened #12302 "Port System.Security.Cryptography.SignatureDescription"
public class SignatureDescription

Depends on CryptoConfig.CreateFromName(string)

[code]

[2016-10-03 15:44] jkotas commented on #12243
We should also add `InitBlockUnaligned` to make the surface symmetric. Looks good to me otherwise.

[2016-10-03 15:52] bartonjs commented on #10277
Closing this issue since it boils down to SignedXml having not been ported yet (#4278).

[2016-10-03 15:52] #10277 closed

[2016-10-03 15:52] karelz commented on #12294
@ericstj @weshaggard  is it expected?

[2016-10-03 16:02] karelz commented on #11036
Do you know where the time is spent during the "8 seconds stall"? Is it in curl, or in .NET Core code?
Is the crash always on the same call stack? Or does it have rather signs of memory corruption?

[2016-10-03 16:04] #692 closed

[2016-10-03 16:04] #2352 closed

[2016-10-03 16:04] #8592 closed

[2016-10-03 16:04] #10127 closed

[2016-10-03 16:04] #11090 closed

[2016-10-03 16:05] steveharter opened #12304 "Port System.Security.Cryptography.MaskGenerationMethod and PKCS1MaskGenerationMethod"
[code]

[2016-10-03 16:10] ianhays commented on #12252
Not that I've ever seen.

Looking at the link, the logs show the FSW tests finishing:
[code]

So the DLL failure is occurring after that for some reason.

[2016-10-03 16:19] steveharter commented on #9984
Full set of netstandard 2.0 apis below. As mentioned earlier, RijndaelManagedTransform may directly extend SymmetricAlgorithm

[code]

[2016-10-03 16:26] bartonjs commented on #9438
# Proposal #

Add a HashAlgorithmName parameter to each of the overloads for Rfc2898DeriveBytes constructors which take an iteration count, and add a property allowing the configured algorithm to be queried.

[code]

The reason only the "long" constructors are gaining the new parameter is to indicate that the iteration count is an important choice for this object.  When being used to validate user

[2016-10-03 16:28] bartonjs commented on #9984
@weshaggard For types like RijndaelManagedTransform which have no public constructor, do we need to define `private RijndaelManagedTransform()` in the contract to maintain that representation?  (Does our tooling already do this for us?)

[2016-10-03 16:32] bartonjs commented on #12064
@adsolutbe Rijndael will only be supported with a block size of 128 in .NET Core (the RijndaelManaged type will only compute AES).  We're not maintaining managed implementations of algorithms any longer, and neither of our native implementation providers have support for Rijndael (except when it's AES).

[2016-10-03 16:35] weshaggard commented on #9984
Yes you will need to explicitly put a private or internal constructor there or the Compiler will make a default public one. GenAPI does do that for you.

[2016-10-03 16:36] bartonjs commented on #9252
Since this affects the existing Windows implementation we may want to cherry pick this into master for 1.2.0

[2016-10-03 16:36] bartonjs commented on #9114
Having not heard about this failing again I'm going to close it as an intermittent infrastructure issue.

[2016-10-03 16:36] #9114 closed

[2016-10-03 16:40] bartonjs commented on #9984
(I think Wes just hit the wrong button...)

[2016-10-03 16:46] karelz commented on #11990
I am torn on this one. Your Immutable parallel sounds reasonable (at least to me). However, I am missing clear value of the work. You mentioned some potential wins in perf. Can you make them part of the proposal with more details? Are they on paths/patterns which are commonly used?

[2016-10-03 16:48] bartonjs commented on #9984
This is dependent upon `CryptImportPublicKeyInfoEx2`  being added to https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.CodeAnalysis/PackageFiles/PinvokeAnalyzer_UWPApis.txt. (Which is dependent upon it being added to the actual WACK list)

[2016-10-03 16:48] bartonjs commented on #8450
This is dependent upon CryptImportPublicKeyInfoEx2 being added to https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.CodeAnalysis/PackageFiles/PinvokeAnalyzer_UWPApis.txt. (Which is dependent upon it being added to the actual WACK list)

[2016-10-03 16:49] ericstj commented on #12294
The hooks were present in the package build, but the hookup was not done when CoreFx moved from TFS to VSO builds.  I've known about it for a while, but assumed it was intentional.  @markwilkie @chcosta can you comment?

[2016-10-03 16:50] #12290 closed

[2016-10-03 16:52] ericstj opened #12307 "Port NETCoreApp-specific API changes to master"
Need to port https://github.com/dotnet/corefx/commit/6b799df71ca7687286e96596d4124e43bd9d3fae to master

[2016-10-03 16:53] bartonjs commented on #7325
@karelz I don't think this is part of the netstandard2.0 effort (I only see it in "extensions", not "standard"), so this probably needs to be put on someone's schedule somewhere...

[2016-10-03 16:54] karelz commented on #2127
@kzu, assigned to you (replacing the "grabbed by community" label), as you are working on it. If you change your mind, please let us know.

[2016-10-03 16:56] #12209 closed

[2016-10-03 16:58] karelz commented on #7325
@steveharter can you help out with this one? Do we understand the work?
@zhenlan is addressing it in 1.2 sufficient?

[2016-10-03 16:58] bartonjs commented on #8491
As part of the netstandard2.0 project the legacy PrivateKey property will be returning; but it will maintain the "shared object, don't dispose" behavior of .NET Framework (though it won't return RSACryptoServiceProvider anymore, unless GetRSAPrivateKey would have).

[2016-10-03 16:59] karelz commented on #7538
@manu-silicon are you still working on the issue?

[2016-10-03 17:04] manu-silicon commented on #7538
@karelz Not at the moment, it has been a while since I build myself CoreFX and I'm unable at this point to perform a fair benchmark between the Linux and Windows build. I'm closing the issue for now.

[2016-10-03 17:04] #7538 closed

[2016-10-03 17:04] bartonjs commented on #2106
Curve25519 should be usable once #8158 is completed (since it's an ECDH-only curve); but since it doesn't have a registered OID it isn't a first-class citizen.  (It should work on Windows via a named curve using `new Oid(null, "curve25519")` since Windows does by-name lookup; but OpenSSL does by-value lookup and therefore can't discover it).

Ed25519 being a completely different algorithm will req

[2016-10-03 17:06] bartonjs commented on #3334
This is a work-in-progress on the dev/cms_unix branch; but that has a merge-blocking bug (#10621).

[2016-10-03 17:09] chcosta commented on #12294
The infrastructure is in place, but the priority on this hasn't been as high as it probably should be.  The current plan is to include a "version.txt" file in our packages instead of including the information in the package description.

https://github.com/dotnet/buildtools/pull/849/files

I'll try to get this updated in CoreFx this sprint.

[2016-10-03 17:21] jkotas opened #12309 "Reflection APIs missing in the implemementation"
See https://github.com/dotnet/corefx/pull/12187. These missing APIs were not detected by the tooling before because of the inconsistencies in the mscorlib forwarder in the CoreCLR targeting pack.

[code]

[2016-10-03 17:41] karelz commented on #12294
Do we need it for 1.1?

[2016-10-03 17:42] PinpointTownes commented on #8491
@bartonjs nice :clap:

FWIW, I really love the API convergence plan. Too bad other teams don't take it as seriously as yours (yeah IdentityModel guys, I'm looking at you...)

[2016-10-03 17:44] karelz commented on #7458
@jamesqo are you still working on it?

[2016-10-03 17:52] chcosta commented on #12294
If there are other fixes going in for 1.1, then I think that adding this will provide real value.  If no other changes are going in for 1.1, then we could just publish this information somewhere.

[2016-10-03 17:57] steveharter opened #12313 "Port System.Security.Cryptography.CipherMode.CFB and .OFB"
Add the CFB and OFB enum values to CipherMode enum. Add [BrowsableNever]. Throw NotSupportedException (or PNSE)

[code]

[2016-10-03 17:59] karelz commented on #12294
I think we will have bunch of 1.1 fixes.

[2016-10-03 18:02] karelz commented on #7166
@jamesqo the xunit PR was merged in June. What is there left in CoreFX? Or is it purely buildtools issue? (we should move it there in such case ...)

[2016-10-03 18:03] karelz commented on #6546
@krytarowski are you still working on the issue?

[2016-10-03 18:04] steveharter opened #12315 "Port AsymmetricAlgorithm.FromXmlString, ToXmlString and other missing members"
[code]

Since the ToXmlString and FromXmlString are used frequently, they will be ported and leverage the System.Xml work that was also ported.

[2016-10-03 18:05] krytarowski commented on #6546
In general yes, but not now. I need to finish LLDB for NetBSD in order to debug managed code crashes in CoreCLR.

[2016-10-03 18:12] ianhays commented on #12234
These tests are running on the 1.1.0 branch I take it? Looks like that branch doesn't have [my hack to resolve this issue](https://github.com/dotnet/corefx/pull/11349).

[2016-10-03 18:16] weshaggard commented on #12292
Yes it needs to be moved down into System.Runtime.

[2016-10-03 18:19] AlexGhiondea commented on #11271
This was fixed by #12081

[2016-10-03 18:19] #11271 closed

[2016-10-03 18:22] karelz commented on #516
@Clockwork-Muse are you still working on the issue?

[2016-10-03 18:22] weshaggard commented on #9984
LOL. Yes (That dam close and comment button is just too easy to click).

[2016-10-03 18:28] steveharter opened #12316 "Port System.Security.Cryptography.HMAC.BlockSizeValue"
Default value is 64. Must also ensure any other HMAC-derived classes including
HMACSHA1 (64)
HMACSHA256 (64)
HMACSHA384 (128)
HMACSHA512 (128)

[code]

Value should flow down to provider, and appropriate tests written for that.

[2016-10-03 18:32] karelz commented on #12234
@ianhays Yes, 1.1.0 branch. How often do you expect to show up?
If it is rare (less than 1x/month), we can leave it be. Otherwise, could you please port your hack to the branch?

[2016-10-03 18:43] karelz commented on #12079
@pscho-msft please provide a test case.

[2016-10-03 18:48] ianhays commented on #12234
This is a frequent failure. I'll port the fix to release/1.1.0

[2016-10-03 18:49] zhenlan commented on #7325
It's still a blocking issue for WCF, but if it's too late for 1.1, I think 1.2 is the best we can have. It's not a regression from 1.0.

[2016-10-03 18:49] danmosemsft commented on #12162
@ramarag Do any of these above require runtime changes? If so, we should make sure they are on your plate and leave Alex the ones that are framework changes. cc @weshaggard

[2016-10-03 18:52] CIPop opened #12319 "Implement SslAlerts for non-Windows platforms"
Tracking TLS Alert TODO items for non-Windows platforms (#11489,

1. `close_notify` implementation
2. TLS handshake implementation: please note that in order to extract the exact error during handshake, `Win32Exception.NativeErrorCode` is used (e.g. `SEC_E_ILLEGAL_MESSAGE`)

[2016-10-03 18:54] misenesi commented on #11570
Discussed with Eric offline. The issues seems to be that the DriveInfo.DriveType doesn't recognize drvfs and lxfs.

[2016-10-03 19:00] davidsh commented on #12236
switching to 1.2 release.

[2016-10-03 19:03] karelz commented on #12236
@davidsh we need it addressed in 1.1. It is causing systematic failures, which make failures review difficult. In the worst case, could we just disable it on Redhat?

[2016-10-03 19:05] #11605 closed

[2016-10-03 19:06] davidsh commented on #12236
Since it is xplat, it would be best to have @stephentoub work on this...and yes, perhaps, disable the test etc.

[2016-10-03 19:07] karelz commented on #921
@ghuntley are you still working on it?

[2016-10-03 19:33] steveharter opened #12320 "Port System.Security.Cryptography.PaddingMode.ANSIX923 and ISO10126"
Add ANSIX923 and ISO10126 for PaddingMode enum

Other classes that may need uptake:
RijndaelManagedTransform (depending on timing of this new class)
SymmetricAlgorithm
UniversalCryptoDecryptor

[code]

[2016-10-03 19:38] morganbr commented on #9438
I generally like allowing users to specify a HashAlgorithmName. However, I don't think specifying an algorithm should be directly tied to having to specify iteration count -- most people would probably just like to have a default chosen for them. I'd add that we're having a bit of a combinatorial expansion of constructors here. Would it make sense to just make the HashAlgorithm property settable?

[2016-10-03 20:04] davidsh commented on #12213
That may be true. However, what happens when a developer of `Socket` doesn't use `Socket.Shutdown(SocketShutdown.Send)`? Or a developer doesn't use `WebSocket.CloseOutputAsync`?  If they just do `Close` or `Dispose` don't they get a similar graceful close of the socket and websocket?

These APIs for Socket and WebSocket allow a developer more granular control of the sending-side. But the APIs don'

[2016-10-03 20:09] karelz commented on #12236
@ericeil can you please take a look?

[2016-10-03 20:19] hermitdave commented on #6318
Starting work on this

[2016-10-03 20:22] Kuqd commented on #11757
ok thanks the doc says that it support no_proxy.

Thank you !

[2016-10-03 20:22] #11757 closed

[2016-10-03 20:31] steveharter commented on #11118
Full ns2.0 API:

Requires late-bound creation of CSP class based on string name. Need to verify cost\current implementation

[code]

[2016-10-03 20:38] CIPop commented on #12213
/cc @bartonjs

There are cases when the `close_notify` message is not required.
For example, in my experiments, none of the browsers I've tested will send the close_notify message for HTTPS connections.

The definition shows that it is possible to close the channel without sending the alert, although the session will become unresumable:

[code]

The second aspect is the distinction between the TLS

[2016-10-03 20:49] steveharter opened #12323 "Port additional System.Security.Cryptography.RandomNumberGenerator members"
Dependency: CryptoConfig

Add the following members
[code]

[2016-10-03 20:51] VSadov commented on #12283
I think the Cont check is for a case if the list somehow got shorter while iterating - so that we would not cause OutOfRange exception.

[2016-10-03 20:55] ericeil commented on #11657
Closing this as duplicate of #12236.

[2016-10-03 20:55] #11657 closed

[2016-10-03 20:55] steveharter commented on #11117
Full ns2.0 API
[code]

[2016-10-03 20:57] ericeil commented on #12236
Additional info from #11657:

Failing configurations:

- Centos.71.Amd64
 - AnyCPU-Debug
 - AnyCPU-Release
- Redhat.72.Amd64
 - AnyCPU-Release

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20160912.01/workItem/System.Net.Requests.Tests/analysis/xunit/System.Net.Tests.HttpWebRequestTest~2FGetResponseAsync_ResourceNotFou

[2016-10-03 20:58] ianhays commented on #12182
I'd be interested to see how much space you save by removing the stack allocation in favor of recursion. My gut says it would be slower than the approach we're using because of the added overhead in method calls, but I agree it's worth investigation.

[2016-10-03 21:00] danmosemsft commented on #12239
Just realized -- @shmao @zhenlan perhaps you guys own this?

[2016-10-03 21:04] shmao commented on #12239
Yes, we own the above APIs except `T:System.Xml.Schema.Extensions`.

[2016-10-03 21:07] steveharter opened #12325 "Make ICollection members non-explicit on AsnEncodedDataCollection and OidCollection"
These ICollection members should not be implemented explicitly for ns2.0
[code]