[2016-10-03 21:07] karelz commented on #1967
@AArnott @sharwell do we have agreement here?
I would suggest to update the original post with final description and the expected impact (or lack of it) on existing customers. We can then review the change at API review for compatibility.

[2016-10-03 21:07] danmosemsft commented on #12239
@shmao OK. could you please reference an issue for yourselfs to cover porting the others, and @sepidehMS can restrict this issue to Schema.,Extensions?

[2016-10-03 21:08] ianhays commented on #12281
Hmm. I thought I removed this class. I guess we added it back for netstandard2.0.

Looks like it should be serializable.

[2016-10-03 21:11] shmao commented on #12239
@danmosemsft yes, I included the APIs in https://github.com/dotnet/corefx/issues/11254. I will port them to CoreFx. Thanks.

[2016-10-03 21:12] danmosemsft commented on #12172
@rahku these are supposed to be set by the AppContext mechanism. Is that coming back for .NET Core? If so, we should change this code. If not, then this code is fine.

[2016-10-03 21:13] ericeil commented on #5660
This this again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu14.04_debug_prtest/22/

[2016-10-03 21:13] danmosemsft commented on #12074
Talk to @joperezr for context on this.

[2016-10-03 21:15] steveharter opened #12327 "Port System.Security.Cryptography.CryptoConfig"
- Hard-code various algorithm names, cross referencing Mono
- Add Create(string) factory methods to various algorithm classes per netstandard2.0

[code]

Also these (but throw PNSE)

[code]

[2016-10-03 21:17] danmosemsft commented on #9873
@weshaggard How are you expecting extensions to work -- would XML call CodeDOM via reflection?

Either way -- I think that is out of scope for this effort, and it seems to me the right thing is for @sepidehMS to remove the reference, and #ifdef0--out the calls to CodeDOM. Do you agree?

[2016-10-03 21:18] ianhays commented on #12281
fyi: @Stephentoub @Priya91

[2016-10-03 21:18] danmosemsft commented on #12173
Pending on https://github.com/dotnet/corefx/issues/9327

[2016-10-03 21:19] jkotas commented on #12172
The AppContext APIs for these switches are there (they actually shipped even in netcoreapp1.0).

cc @AlexGhiondea

[2016-10-03 21:20] yfakariya commented on #9220
I got it.

[2016-10-03 21:20] #9220 closed

[2016-10-03 21:21] ianhays commented on #5660
It makes sense that we're hitting this limit again on Outerloop runs. If we're hitting it on innerloop then something else is wrong.

We're hitting it on Outerloop runs because the CreateManyConcurrent test is creating new watchers up to the inotify limit to verify the exception that we throw in that case. The problem is that we run tests in parallel and if another test tries to make a new FSW dur

[2016-10-03 21:25] ericeil commented on #5660
Yes, this was an Outerloop run.

[2016-10-03 21:26] danmosemsft commented on #12239
OK, great this just covers

[code]

then.

[2016-10-03 21:27] danmosemsft commented on #12257
Clearing @sepidehMS - need to chat with @VSadov

[2016-10-03 21:27] jamesqo commented on #12182
@ianhays Neither Stack.Pop or Stack.Push inline currently.

[2016-10-03 21:28] joperezr commented on #12074
This was required at least while System.Private.Xml wasn't fully exposed through contracts, if that is not the case anymore, then we can probably remove it as long as we now have the correct set of dependencies for each test project. Basically, for this to work we need to make sure that no test project has a P2P reference to a csproj.

[2016-10-03 21:45] CIPop commented on #12213
@terrajobst PTAL

[2016-10-03 21:45] jamesqo opened #12329 "xUnit console runner should not use locally built assemblies while running"
If you change a piece of code to behave incorrectly that the xUnit console runner happens to use, then instead of reporting test failures the console runner might not work correctly. For example, I once messed up `Path.Combine` so that the runner had problems finding the test assembly, so I had to mentally go through the code and see what was wrong.

Another time, I messed up `Buffer.MemoryCopy`,

[2016-10-03 21:47] #7166 closed

[2016-10-03 21:57] AlexGhiondea commented on #12172
The default value for an AppContext switch (which is ```false```) should provide the user with the latest behavior for that piece of code.

If there is no concept of old vs new then the default value of the switch should enable the common scenario and allow people to opt-in to the different scenario by using the switch.

[2016-10-03 22:12] terrajobst commented on #187
Sounds good.

[2016-10-03 22:13] Clockwork-Muse commented on #516
@karelz - yes, when I notice something new has shown up.  Other than Tasks (which I've been working on untangling the inner test framework), I believe I corrected everything that was present at the last time I was committing for this.  Since then, some new libraries, as well as use of this pattern for fail messages have shown up.

So, this tends to be an ongoing task.  You can close it if you want

[2016-10-03 22:15] ericeil opened #12331 "Consider removing netcore50 from the list of TFMs actively targeted by the System.Net.Sockets build"
See discussion here: https://github.com/dotnet/corefx/pull/12249#pullrequestreview-2423298

Should we remove the netcore50 build of System.Net.Sockets?  Should we wait until we're building for "UAP10.1," whatever/whenever that is?

[2016-10-03 22:18] #11812 closed

[2016-10-03 22:19] karelz commented on #516
CLosing per above comment. Thanks @Clockwork-Muse !

[2016-10-03 22:19] #516 closed

[2016-10-03 22:24] weshaggard commented on #11324
This doesn't really add enough value to really warrant the change from desktop so I we should just make .NET Core behave the same as .NET Framework.

[2016-10-03 22:27] weshaggard commented on #9438
We've reviewed the proposal and it seems fine.

[2016-10-03 22:36] weshaggard commented on #4690
We reviewed and like adding an API for the scenario but for consistency with other similar APIs in the framework we believe this should be `TryGetValue` instead of `TryGetItem`, please update the proposal accordingly.

[2016-10-03 22:40] davidsh commented on #12282
Can you please confirm the platform you are using?  Windows?  Linux?  Etc.  Please include your current project.json file.  Thx.

[2016-10-03 22:57] joshlang commented on #12282
Windows (win10 x64 pro)
Visual Studio 2015
.NET Core Console app

project.json:
{
  "version": "1.0.0-*",
  "buildOptions": {
    "emitEntryPoint": true
  },

  "dependencies": {
    "Microsoft.NETCore.App": {
      "type": "platform",
      "version": "1.0.1"
    }
  },

  "frameworks": {
    "netcoreapp1.0": {
      "imports": "dnxcore50"
    }
  }
}

Program.cs:
namespace ConsoleApp1
{
    publ

[2016-10-03 23:15] kzu commented on #2127
I've no idea what triggered the build failure or how to fix it, honestly :(

The source change is in an existing file, so I don't even know how it could end up missing for that BclRewriter error.

[2016-10-04 00:10] karelz commented on #2127
@Priya91 @ianhays can you help please? Or loop in experts who can ...

[2016-10-04 01:22] lzybkr opened #12336 "Console.ReadKey returns incomplete information for some key sequences on Linux"
Using PowerShell 6.0.0-alpha.10 on Ubuntu 14.04, I run
[code]
and type Ctrl-@.  I get back
[code]

I see somewhat similar results with other key presses like Ctrl-! or Ctrl-%. In some cases, `KeyChar` has the correct key, but `Modifiers` is still `0`, resulting in incorrectly assuming Ctrl was not down and e.g. inserting a `!` instead of doing whatever action `Ctrl+!` was bound to.

This issue aff

[2016-10-04 01:32] MattWhilden commented on #5088
I'm running in VS 2015 Update 3 with 5.2.2 of Microsoft.NETCore.UniversalWindowsPlatform. Can you see which versions you're running on? I'm pretty sure this is fixed at this point. If you discover otherwise, we'd love to know.

[2016-10-04 01:44] morganbr commented on #12327
Does this also imply re-adding FIPS enforcement? If so, would we try to do that cross-platform?

[2016-10-04 01:46] morganbr commented on #12323
I believe GetNonZeroBytes was omitted due to concerns about usage being insecure -- if you're asking for cryptographically secure bytes, you shouldn't be skewing their distribution. Is there a compelling reason to re-add it?

[2016-10-04 01:47] flint-rocketdesk commented on #11036
The runtime crash always occurs on the same line of code in our test app, across multiple tests and across multiple VMs and clean installations.

Unfortunately, we do not have a capture of the call stack on Linux.  If you want to provide instructions on how to capture the call stack, memory, etc., we can provide those.

[2016-10-04 01:53] morganbr commented on #12295
CreateFromSignedFile probably needs a new code path -- it reads certificates from Authenticode signed files. I have no idea what that should do cross-platform.

[2016-10-04 02:09] xgalaxy commented on #7496
I'm seeing this error.
I'm on the 1.0.0 tag of this repo building with OSX 10.11.6

[2016-10-04 02:27] morganbr commented on #12192
If we choose to stub, we should ensure it doesn't appear that it's actually succeeding at authenticating requests. My preference would be that Authenticate and PreAuthenticate throw, but if they can't, they should return null (matching their, uh unique, contract).

[2016-10-04 03:07] bartonjs commented on #7496
https://github.com/dotnet/coreclr/blob/master/Documentation/building/osx-instructions.md#openssl has updated instructions.  You'll need to symlink 3 pkgconfig files into a well-known path in order for the build to succeed.

[2016-10-04 03:09] bartonjs commented on #12295
@morganbr CreateFromSignedFile lies, really.  It just does the ctor.  https://referencesource.microsoft.com/#mscorlib/system/security/cryptography/x509certificates/x509certificate.cs,1c912b1396897f74

[2016-10-04 03:18] stephentoub commented on #12336
In general  we don't have a good way to do better than this. They're is no API similar to what Windows has for getting detailed information on the keys that were typed; we simply do our best to infer it from the escape sequences sent to the terminal.

[2016-10-04 03:19] bartonjs commented on #12295
@morganbr What bugs come up from Reset and the copy ctor?  (Reset and Dispose being the same).

It looks to me like the copy ctor causes the two instances to share the same SafeHandle object and neither of them can claim ownership therefore neither of them frees it; but it still will get Finalized.  I'm not seeing where weird things would happen.

If there are weird corner cases that'd be good to

[2016-10-04 03:40] morganbr commented on #12295
@bartonjs While it's true that CreateFromSignedFile just calls the constructor, my point was that people would likely use it with the intent of reading signing certificates from authenticode signed files, which I'm pretty sure the CoreFX implementation doesn't do.

[2016-10-04 04:56] xgalaxy commented on #7496
Those instructions say nothing about headers. Without symlinking the headers into the correct spot the build still fails.

[2016-10-04 04:58] epsitec opened #12338 "ParameterInfo.HasDefaultValue throws System.FormatException on optional DateTime parameter"
When accessing `ParameterInfo.HasDefaultValue` for a parameter of type `System.DateTime`, I
get an unexpected `System.FormatException`.

`ParameterInfo.Attributes` is correctly set to `Optional | HasDefault`.

If the parameter is of any other value type (e.g. `decimal` or some custom _struct_) the
property works as expected. There is something specific to `DateTime` in the implementation
of `Runti

[2016-10-04 05:00] epsitec commented on #12338
@sepidehMS do you think you can have a look at this issue?

I feel that [these tests](https://github.com/dotnet/corefx/blob/master/src/System.Reflection/tests/ParameterInfoTests.cs) should be updated to include also the `System.DateTime` scenario.

[2016-10-04 05:02] epsitec commented on #12338
@justinvp would you like to update the `ParameterInfoTests` in _corefx_ to cover this issue?

[2016-10-04 05:09] lzybkr commented on #12336
There are key bindings that work fine in bash but not with PSReadline, e.g. C-] is character search (a little like F3 on Windows).  C-@ is also used in bash to set a mark, then C-x,C-x to exchange the point and mark.

GNU readline understands these escape sequences, so presumably .Net core can as well.

[2016-10-04 05:28] bartonjs commented on #7496
@xgalaxy Are you on master, or a different branch?  The pkgconfig files should be all you need provided that you have https://github.com/dotnet/corefx/pull/12022 (though my PR and commit descriptions there contain a typo in that `cellar` isn't part of the real path).  If you're on a release (or feature) branch then the /usr/local/include symlink will certainly work.

[2016-10-04 06:43] xgalaxy commented on #7496
Ahh yea. I'm building from the 1.0.0 tagged release.
Thanks for your help.

[2016-10-04 07:54] #11374 closed

[2016-10-04 09:34] breyed opened #12341 "Assembly.CreateInstance undocumented"
In .NET 4.5, `Assembly.CreateInstance` returned null if the the type could not be found. Is this still true or is an exception thrown instead? Given how many changes to reflection are part of .NET Core, there's no way to know other than trial or error or looking through the source code. Both of these options do poorly for productivity. The lack of such basic information in the XML comments that dr

[2016-10-04 11:56] stephentoub commented on #12336
If you can make it work, we'd welcome a PR. This is a known limitation we shipped with (mono has a similar limitation), and this is not something we plan to revisit soon.

[2016-10-04 12:06] stephentoub commented on #12336
ps I should clarify. I haven't checked the exact combinations your talking about. If those combinations result in a unique sequence of escape codes we can reliably recognize, then fixing it should be relatively easy. My concern is they don't, and an entirely different mechanism would be needed.

[2016-10-04 13:38] janvorli commented on #11036
@flint-rocketdesk I can help you to debug this issue. First, here are the prerequisities you will need:
* lldb version 3.8 or newer and the lldb SOS plugin for that. The plugin allows to dump managed objects, stack, etc. While there is a plugin in the dotnet cli package, it is meant for lldb-3.6 and that version of lldb doesn't work well with core dumps.
* debug symbols for libcoreclr.so

To get e

[2016-10-04 15:18] karelz commented on #12341
I see [proper documentation](https://docs.microsoft.com/en-us/dotnet/core/api/system.reflection.assembly#System_Reflection_Assembly_CreateInstance_System_String_) for .NET Core, explicitly calling out null if type could not be found.
Why do you think it is missing?

[2016-10-04 15:18] #12341 closed

[2016-10-04 15:21] karelz commented on #12338
Is the described behavior from desktop .NET Framework? Or just general desire?

[2016-10-04 15:29] janvorli commented on #11036
@flint-rocketdesk maybe before you go down this long road, we might try something easier to see if that can give us the details we need. Thanks @stephentoub for suggesting that option.
So, you can try to run `dotnet run` under gdb and see the native top of the stack if any (using the `bt` command).
So you would do
`gdb --args /usr/share/dotnet/dotnet run`
and then `r` in the gdb command prompt, wa

[2016-10-04 15:43] jkotas commented on #12329
This is what tests in CoreCLR repo are for. The corefx tests assume that the basic runtime is not completely broken - I think it is a reasonable assumption to make.

[2016-10-04 15:48] bartonjs commented on #12327
@morganbr I dunno, that setting has always been weird.  Like FIPS doesn't want you doing RSA-MD5; but (AFAIK) they don't have an objection to computing the Content-MD5 header for HTTP; and we just have a big kill switch.  I think we can let people detect it ('cuz why not?) but we should leave FIPS-ness up to the native library.

@steveharter My thoughts here:
* Everything is hard coded, particular

[2016-10-04 15:53] bartonjs commented on #12316
Aes, DES, RC2, Rijndael, and TripleDES aren't HMAC algorithms...

[2016-10-04 15:55] bartonjs commented on #12304
I don't know that we want to bring that part back.  All this should be about is defining the types.

[2016-10-04 15:59] bartonjs commented on #12214
Since this was a limitation of the underlying platform (OpenSSL X509 objects don't have private key info, unlike Win32 CERT_CONTEXT) and there's a workaround; I'm closing the issue.

[2016-10-04 15:59] #12214 closed

[2016-10-04 16:04] jamesqo commented on #12329
@jkotas This also happens when you make changes to stuff in corefx. For example, I was recently changing stuff in Enumerable and I hit [this](https://github.com/dotnet/corefx/pull/12343/files#diff-d8b3be41edbd1e2e3c65380665467a2dL159) assert causing the runner to hang.

[2016-10-04 16:08] steveharter commented on #12304
Removed that comment

[2016-10-04 17:16] dotnetchris commented on #1218
@Priya91 what does that mean?

[2016-10-04 17:20] #11762 closed

[2016-10-04 18:29] terrajobst commented on #12213
The API looks good as proposed.

[2016-10-04 18:33] iamjasonp commented on #12214
Bug for copy ctor addition: https://github.com/dotnet/corefx/pull/12240

[2016-10-04 18:46] terrajobst commented on #10528
We should remove the explicit operator as it seems weird. And `Empty` should be static.

The indexer needs to perform a range check; it doesn't have to perform a null check because the range check can just use the fields (offset and count). The only case to observe a null reference is when the `ArraySegment<T>` was created by concurrent writes to a field, which we don't think warrants slowing down

[2016-10-04 18:55] ViIvanov commented on #4690
@weshaggard Thank you! Should I update my start topic with approved name of the method?

[2016-10-04 19:01] ianhays commented on #9872
These were all excluded from netstandard in https://github.com/dotnet/standard/pull/21.

Discussion in https://github.com/dotnet/standard/issues/15

Some of these APIs are still available in the windows specific [System.IO.FileSystem.AccessControl assembly](https://github.com/dotnet/corefx/tree/master/src/System.IO.FileSystem.AccessControl), but they are not a part of netstandard.

[2016-10-04 19:01] ianhays commented on #9872
cc: @weshaggard

[2016-10-04 19:09] Priya91 commented on #4690
Yes, please update the speclet, the api is tagged with api-approved, so you can put up a PR if you're willing to contribute.

[2016-10-04 19:21] ianhays commented on #12242
Looks like these tests are allowed to run in parallel. They are all setting the default culture, so it's potentially likely that we could be modifying the culture after checking `culture.Name == "tr-TR"` in this test. It's unlikely - but possible - to fail intermittently because of that.

[2016-10-04 19:22] karelz commented on #11990
We discussed it briefly in API review. We all (incl. @weshaggard @terrajobst) agreed that the semantics of ICollection on Stack/Queue with IsReadOnly=true feels like a weird workaround (the collections are not read only after all). With IsReadOnly=false, the semantics is even more weird as discussed above.
The value of few perf optimizations (for not-so-commonly-used code patterns) does not seem t

[2016-10-04 19:25] varocarbas commented on #6308
This is just to let anyone interested know that, after working on both algorithms (`decimal` overloads of `Pow `and `Sqrt` fully rebuilt without any conversion to `double`), I have decided to include them in the upcoming NumberParser (the new part of [FlexibleParser](https://github.com/varocarbas/FlexibleParser)), which I am planning to finish during the current month.

Basically, this library wil

[2016-10-04 19:28] stephentoub commented on #12242
They're setting the culture for the process or for the current thread? The former should be done out of proc via remote invoke.

[2016-10-04 19:35] danmosemsft commented on #12257
Here's the full list of members generated from .NET STandard 2.0 today. There was discussion of including the VB/C# assemblies though, but that hasn't happened yet.

[code]

[2016-10-04 19:35] danmosemsft commented on #12257
Assigning to Vladimir for now, although we haven't discussed who/how this work will be done.

[2016-10-04 19:38] ericstj commented on #12207
Fixed with #12201

[2016-10-04 19:38] #12207 closed

[2016-10-04 19:39] #11916 closed

[2016-10-04 19:47] #9991 closed

[2016-10-04 19:47] #9983 closed

[2016-10-04 19:47] #9990 closed

[2016-10-04 19:49] MichalStrehovsky commented on #5884
Microsoft.CSharp uses the `MetadataToken` workaround on platforms where it's available and does something random otherwise. This leads to different behaviors on AOT platforms where tokens are not available.

[2016-10-04 19:50] ianhays opened #12349 "Add Begin/End async operations to System.IO.Pipes"
[code]

split from https://github.com/dotnet/corefx/issues/12197

[2016-10-04 19:56] ianhays commented on #12242
The process:
[code]

[2016-10-04 19:57] terrajobst commented on #11990
@jamesqo

I don't think it makes sense for `Stack<T>` and `Queue<T>` because they are conceptually neither read-only nor collections you can add or remove from. They have a very specific contract for how data gets in and out.

Do you have any other scenarios besides copying where treating them as `ICollection`/`ICollection<T>` would be beneficial? I've used both stacks and queues quite a bit but I

[2016-10-04 19:59] ianhays commented on #12197
Not a part of netstandard2.0:
[code]

Nothing to do here (PipeStreamImpersonationWorker is a delegate that we just need to make public)
[code]

Split into a separate issue #12349:
[code]

Remaining TODO for this issue:
[code]

[2016-10-04 20:00] ianhays commented on #12197
of the remaining TODO, the main work item is to make an implementation of `RunAsClient` for Unix. The rest just need to be exposed.

Also tests, of course.

[2016-10-04 20:14] AtsushiKan opened #12350 "Add unit test for issue #7346 (custom attribute constructer crash on null array of enums)"
Just need to wait for the fix in coreclr to propagate over to corefx.

https://github.com/dotnet/coreclr/issues/7346

[2016-10-04 20:18] flint-rocketdesk commented on #11036
@janvorli Thanks for the tip on GDB.  I ran the app under GDB and did a stack dump--but bt returns with "no stack".

Here's the full output:
[snip]
Reading symbols from /usr/share/dotnet/dotnet...(no debugging symbols found)...done.
(gdb) r
Starting program: /usr/share/dotnet/dotnet run
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_d

[2016-10-04 20:23] twsouthwick opened #12352 "HttpContentMultipartExtensions in .NET Core"
The [`HttpContentMultipartExtensions`](https://msdn.microsoft.com/en-us/library/hh835439%28v=vs.108%29.aspx) were available in .NET Framework to parse multipart http responses. Is there anything similar available in .NET Core or plans to bring them to .NET Standard?

[2016-10-04 20:27] davidsh commented on #12352
Those extensions are not part of the .NET Framework itself.  Rather, they are a downloadable package authored in part by the ASP.NET team.

@danroth27 Can you comment on this?  Are the "HttpContentMultipartExtensions" library still available and will it work with .NET Core?

[2016-10-04 20:56] SedarG commented on #11284
@jkotas @weshaggard , System.Collections is currently built against System.Runtime and it consumes ISet<T> from that library. Moving List<T>, Comparer<T>, EqualityComparer<T> down to CoreLib and have S.Collections forward those to CoreLib will conflict with S.Runtime. Resolving that conflict will be significant effort and ugly. I am thinking to move those types to S.Runtime, and have S.Runtime for

[2016-10-04 21:07] weshaggard commented on #11284
Another potential option is building System.Collections against System.Private.CoreLib? If that doesn't work we can entertain the idea of moving more things down, but I would like to review the full set of types first.

[2016-10-04 21:12] janvorli commented on #11036
The no stack is reported since the app has exited without any crash. So you probably need to retry several times to get the crash - you've said it doesn't crash every time, right?

[2016-10-04 21:17] flint-rocketdesk commented on #11036
Unfortunately, this is exactly how .NET Core crashes.  It simply exits.  The SendAsync call aborts, and no further code is executed (i.e. no catch block, no finally block, no code following the try...catch block).

I'm setting up a clean Ubuntu 16.04 Desktop machine now with a debug build of .NET Core--although if coreclr isn't crashing dramatically I'm not sure if there's anything we can capture

[2016-10-04 21:24] SedarG commented on #11284
S.P.CoreLib doesn't suffice in replacing S.Runtime. `ISet<T>` is in [S.Runtime](https://github.com/dotnet/corefx/blob/master/src/System.Runtime/src/System.Runtime.csproj#L34)  and not in S.P.CoreLib. I either need to move `ISet<T>` down to S.P.CoreLib, or to S.Collections or move `List<T>`, `Comparer<T>` and `EqualityComparer<T>` to S.Runtime.

[2016-10-04 21:31] lzybkr commented on #12336
Assuming I can attempt to see the sequences easily via Console.In.Read, the keys I'm concerned about don't actually generate anything, so some investigation is necessary.  I'm not sure if it's something `stty` controls.

At any rate, I'll try and investigate further at some point, I expect some PowerShell users will want `undo` to work properly on the command line on Linux.

[2016-10-04 21:33] Priya91 commented on #1218
@dotnetchris Can you come up with an api-review speclet that describes the problem, and the proposed API changes? Like [here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)

[2016-10-04 21:35] jkotas commented on #11284
You can build against both S.P.CoreLib and S.Runtime. It allows you to keep as much stuff as possible in S.Runtime, and move the rest down. It is done in number of projects. In fact, S.Collections does it for CoreCLR today - https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System.Collections.csproj#L21. You just need to enable this path for CoreRT as well.

[2016-10-04 21:40] Priya91 commented on #2127
@kzu can you track the build failure discussion in the coreclr PR, the code reviewers there will be able to help you better.

[2016-10-04 21:42] flint-rocketdesk commented on #11036
@janvorli -- I installed a clean build of Ubuntu 16.04 Desktop and followed your full directions on building .NET Core debug from scratch.  The build completed, but we are missing "dotnet" (for "dotnet run").

A few questions:
1. You mentioned /usr/share/dotnet, but the build is in a folder within our cloned repo.  Do we need to be creating a folder /usr/share/dotnet and moving the build to that l

[2016-10-04 21:54] janvorli commented on #11036
CoreCLR and dotnet are different repositories. The dotnet comes from the CLI repo. When you build coreclr from sources, you should use .dbg files from the Products folder, not the ones from the web. And if you build a debug version, you should not have any .dbg files in there, all the debugging information is in the .so files. They are generated only for release builds. So if you build coreclr usi

[2016-10-04 21:57] janvorli commented on #11036
@flint-rocketdesk One more thing I've noticed from your GDB session log. The exit code was 0211, which is in octal and it is 137 in decimal. That means SIGKILL (signal 9). That makes me think that it could be that due to some issue between the patched curl and coreclr, the app might be eating huge amount of memory and get killed by the OOM killer. Could you try to run "top" in another terminal whi

[2016-10-04 21:58] janvorli commented on #11036
The fact that you've said that the request can take 8 seconds to run would add to that suspection.

[2016-10-04 22:49] #12156 closed

[2016-10-04 22:50] ianhays commented on #9465
Hey @hughbe, do you know if we have any basic tests for FileNotFoundException? I don't see any in System.Runtime.Tests, but oddly enough we do have DirectoryNotFoundException tests.

[2016-10-04 23:04] luqunl opened #12356 "Consider to add two new Public API in System.IO.BufferedStream"
public Stream UnderlyingStream {
         [Pure]
         get { return _stream; }
}

public Int32 BufferSize {
         [Pure]
         get { return _bufferSize; }
 }

In System.Runtime.WindowsRuntime, it need to access these two properties/fields.
 For Desktop/CoreCLR, these two properties in BufferedStream are internal but they have FriendAccessAllowed Attribute.
 For CoreRT, the wrapper in Syst

[2016-10-04 23:13] #12154 closed

[2016-10-04 23:18] breyed commented on #12341
Oooh, that is nice documentation. :-) Perhaps it's just a tooling issue. That documentation doesn't show up in Visual Studio. In VS2015, IntelliSense shows nothing. Here's what shows up if you choose "Go To Definition" on `CreateInstsance`:

[code]

Notice how `Load` has documentation, but other methods like `GetEntryAssembly` and `CreateInstance` have nothing. This is what led me to believe there

[2016-10-04 23:19] hughbe commented on #9465
@ianhays I don't see any either in System.Runtime, System.IO or common. Following a quick git grep and github search, I'd assume there aren't any

[2016-10-04 23:44] karelz commented on #12341
@terrajobst do you if .NET Core docs are supposed to show up in VS IntelliSense?
Also I wonder why the "Go To definition" comments are different from the [docs](https://docs.microsoft.com/en-us/dotnet/core/api/system.reflection.assembly#System_Reflection_Assembly_CreateInstance_System_String_) -- @weshaggard ?

[2016-10-04 23:51] stephentoub commented on #12242
Ah, then yeah, that's almost certainly the culprit :smile:

[2016-10-04 23:53] karelz commented on #12350
@AtsushiKan I unassigned it from you to reflect 'up for grabs'. If/when you work on it, please assign it to yourself. Thanks!

[2016-10-05 00:02] jlebensold commented on #12068
@giuseppemag I'm experiencing the same issue on OS X El Capitan

[2016-10-05 00:05] steveharter opened #12362 "Port System.Security.Cryptography.CspParameters.KeyPassword"
Based on SecureString; testing is non-trivial. Possibly throw PNSE in netstandard 2.0 timeframe

[2016-10-05 00:10] steveharter opened #12363 "Port System.Security.Cryptography.ECDiffieHellmanPublicKey"
Abstract class; would not be used in ns2.0 timeframe (would need class such as ECDiffieHellmanCngPublicKey to also be ported)

public abstract class ECDiffieHellmanPublicKey : IDisposable
[code]

[2016-10-05 00:13] steveharter opened #12364 "Port System.Security.Cryptography.HMACSHA384/512.ProduceLegacyHmacValues"
This enables a .NET 2.0 (pre-SP1) bug compatibility mode. Since we no longer have a managed implementation of HMAC we can't make this work in core so we will throw PNSE

System.Security.Cryptography.HMACSHA384.ProduceLegacyHmacValues
System.Security.Cryptography.HMACSHA512.ProduceLegacyHmacValues

[2016-10-05 00:15] steveharter opened #12365 "Port System.Security.Cryptography.Oid#ctor"
Add empty ctor for ns2.0 compat. (super easy)

[2016-10-05 00:18] flint-rocketdesk commented on #11036
@janvorli -- awesome, we're making progress!  My debug machine (Ubuntu Desktop w/ GUI) was running in a VM with a bit more memory than the production test machine (Ubuntu Server w/o GUI)--which is why things worked intermittently on the Desktop and not at all on the production test machine.

With more RAM (1.75GB or 3.5GB RAM, vs. the 0.75GB of the earlier tests), the app completes successfully mo

[2016-10-05 00:18] steveharter opened #12366 "Port System.Security.Cryptography.RSA.DecryptValue/EncryptValue"
Not supported in netfx either; throw NotSupportedException

[code]

[2016-10-05 00:23] steveharter opened #12367 "Port P:System.Security.Cryptography.*KeyExchangeFormatter.Rng"
Semantics tbd; either Throw PNSE (on setter) or do nothing.

[code]

[2016-10-05 00:29] steveharter opened #12368 "Port SymmetricAlgorithm FeedbackSize, FeedbackSizeValue, ValidKeySize members"
[code]
In addition ns2.0 related work on AesManaged (to wrap\proxy the method)
[code]

and non-ns2.0 work to wrap\proxy FeedbackSize on other types including:
[code]

Unless we want to throw PNSE, FeedbackSize should flow all the way to the provider, and tests should be written for those providers that support something other than 8bytes\64bits.

[2016-10-05 00:32] karelz commented on #11036
I think we will need a performance trace to find out where the time is spent -- see https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/linux-performance-tracing.md

Without a callstack where the time is spent, or where the memory is allocated, we won't be able to say much ...

[2016-10-05 00:38] steveharter opened #12369 "Port X509Certificates.PublicKey.Key and 509Certificate2.PrivateKey"
Grouping X509 key-related functionality. Also see issue #12295

[code]

[2016-10-05 00:39] steveharter commented on #12295
Moved Private key functionality to issue #12369

[2016-10-05 00:41] janvorli commented on #11036
What you can try to do is to run the app under GDB again and break in (using CTRL-C) during that 8 sec period of the first request. Then using the "bt" debugger command, we can see the stack trace that could give us some hints.

[2016-10-05 00:49] flint-rocketdesk commented on #11036
@janvorli - here is the bt stack dump, about half-way through the 8 second build-up:

[code]

[2016-10-05 00:55] flint-rocketdesk commented on #11036
@karelz -- I have attached a performance trace.  Please note that the SendAsync function actually threw an exception this trace after about 8 seconds--similar to what we were seeing in Debug mode on occasion earlier--so hopefully that doesn't throw things off.
[sampleTrace.trace.zip](https://github.com/dotnet/corefx/files/509814/sampleTrace.trace.zip)

[2016-10-05 00:56] janvorli commented on #11036
Ah, I am sorry, I've forgotten to say that we'll need to have the .dbg files in /usr/share/dotnet/shared/Microsoft.NETCore.App/1.0.0/ to see the actual libcoreclr functions. Also, we will need to find an interesting thread - you basically interrupt any random thread when you do CTRL-C, so it is not necessarily the one that is running the request. I would assume that one of them would have curl  st

[2016-10-05 00:56] flint-rocketdesk commented on #11036
@karelz -- and for good measure, here is a second performance trace.  In this execution, the first call completed after eight seconds (and 100% CPU/1.3-4.0GB RAM usage).  The second call also completed before I ended the capture.
[sampleTrace.trace.zip](https://github.com/dotnet/corefx/files/509815/sampleTrace.trace.zip)

[2016-10-05 01:13] karelz commented on #11036
@flint-rocketdesk did you get a chance to look at it in PerfView? (see [PerfView tutorials](https://channel9.msdn.com/Series/PerfView-Tutorial)) What is the hot path?

[2016-10-05 01:21] flint-rocketdesk commented on #11036
@janvorli -- is there a good way to target a specific thread with gdb "ctrl+c"?  I tried breaking in about a dozen times, but each time I get the same stack trace.

[2016-10-05 01:22] flint-rocketdesk commented on #11036
@karelz -- is there a version of PerfView for Linux?  .NET Core has a separate set of issues with HTTP/2 on Windows (off-topic for this thread)...

[2016-10-05 01:27] karelz commented on #11036
PerfView is just the analysis part - the collection happens on Linux -- see [Linux perf tracing](https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/linux-performance-tracing.md) doc. It is currently Windows only.

[2016-10-05 02:14] ramarag commented on #12162
I did a quick scan through the above list of these only  the following seem to need runtime interaction. I can take them into my list
T:System.Runtime.InteropServices.WindowsRuntime.WindowsRuntimeMetadata
E:System.Runtime.InteropServices.WindowsRuntime.WindowsRuntimeMetadata.DesignerNamespaceResolve
E:System.Runtime.InteropServices.WindowsRuntime.WindowsRuntimeMetadata.ReflectionOnlyNamespaceResol

[2016-10-05 02:15] Clockwork-Muse commented on #12329
@jkotas - There's also a couple of oddballs where you can get a class from either the runtime or corefx.
`System.Collections.BitArray`, for example, is pulled from corefx if the runtime is AOT (iirc), otherwise it pulls it from the runtime.

[2016-10-05 02:30] ramarag commented on #11862
Fixed by https://github.com/dotnet/corefx/pull/12337

[2016-10-05 02:30] #11862 closed

[2016-10-05 02:52] lemmaa commented on #9600
Fixed #9599

[2016-10-05 02:52] #9600 closed

[2016-10-05 02:52] #6191 closed

[2016-10-05 02:52] #11965 closed

[2016-10-05 03:11] jkotas commented on #12329
There are gradually getting cleaning ups, e.g. #12268 is change related to this. I do not think it is root cause for this issue - this issue will still be present even once all of these are cleaned up.

[2016-10-05 03:22] stephentoub opened #12372 "Two ComponentModel tests fail after updating dependencies"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/1099/
[code]

[2016-10-05 08:07] janvorli commented on #11036
@flint-rocketdesk I am sorrry I wasn't clear. I didn't mean that you should try to break to a different thread, but rather break in and then dump stack trace of all threads. The easiest way is using "thread apply all bt".

[2016-10-05 08:22] flint-rocketdesk commented on #11036
@janvorli -- are these the threads you're looking for (in particular...thread 2)?  All the other threads are in pthread_cond_wait.

Thread 5 (Thread 0x7ffff319b700 (LWP 22887)):
#0  0x00007ffff79c6cbd in open64 () at ../sysdeps/unix/syscall-template.S:84
#1  0x00007ffff62eff4f in ?? () from /usr/share/dotnet/shared/Microsoft.NETCore.App/1.0.0/libcoreclr.so
#2  0x00007ffff62e8a11 in ?? () from /usr

[2016-10-05 09:21] janvorli commented on #11036
Hmm, these other threads don't look interesting. Does any of the stacks that wait in the pthread_cond_wait have something else than libcoreclr.so in them? Like e.g. the curl or something else.

[2016-10-05 10:20] flint-rocketdesk commented on #11036
All of the other threads are waiting on libcoreclr.so.  Here is the full dump.

[code]

[2016-10-05 10:52] janvorli commented on #11036
Ok, so we really need the .dbg symbols files here or a debug build of coreclr to see more.

[2016-10-05 12:12] ContentsMayVary commented on #7527
Here's another repro:

class First<T> where T : First<T> { }
class Second<T> : First<T> where T : First<T> { }
class Third<T> : Second<Third<T>> { }

class Program
{
    static void Main()
    {
        dynamic x = new Third<int>();
        Print(x);
    }

    static void Print(object obj) { }
}

[2016-10-05 13:52] mstruppBE commented on #5593
@sepidehMS Just checking in here - is the ref assembly yet available for testing XSLT functionality in Net Core?  Thanks!

[2016-10-05 17:09] karelz commented on #12356
@JeremyKuhne, @ianhays  can you please check with @jkotas and @luqunl about the API and if it is ready for review?

[2016-10-05 17:11] karelz commented on #12372
@stephentoub is it consistent failure (aka regression)?

[2016-10-05 17:12] stephentoub commented on #12372
Yes. The tests are new, they passed, then changes came in around new attribute members, they failed.

[2016-10-05 17:50] lzybkr opened #12380 "ConsoleKeyInfo.GetHashCode generates identical hashes for common keys"
`ConsoleKeyInfo.GetHashCode` does not use the `_key` field when computing the hash.

It is common for `_keyChar` to have identical values for different keys - some notable examples: `F1`-`F12` and many `Ctrl+<non-letter>` sequences all generate `0` for `KeyChar`.

[2016-10-05 18:07] ianhays opened #12381 "Move TextReader/TextWriter to CoreFX"
forked from https://github.com/dotnet/corefx/pull/12346

StreamReader overrides TextReader's ReadAsyncInternal method for the uap build and for the mscorlib build. It would be nice if we could do that in the netstandard build as well, but as it is an internal method we'll need to first bring TextReader to CoreFX for netstandard.

[2016-10-05 18:16] AlexGhiondea commented on #12372
@twsouthwick this might be caused by the introduction of the IsDefaultAttribute/TypeId/Match overrides which might make the change you did a while back not work as expected.

I am going to implement the methods in all the attributes now.

[2016-10-05 18:17] steveharter commented on #12235
The tests affected are
        public static void TestKey_BrainpoolP160r1()
        public static void TestKey_ECDsabrainpool_PublicKey(byte[] curveData, byte[] notUsed)
        public static void TestECDsaPublicKey_BrainpoolP160r1_ValidatesSignature(byte[] curveData, byte[] existingSignature)
        public static void TestKey_BrainpoolP160r1()

[2016-10-05 18:22] flint-rocketdesk commented on #11036
@janvorli -- I'm building a debug build of coreclr now, an hour or so into the build now.  Do you know where I could find a link to docs showing how to run "dotnet run" under a custom build?  I know everything changed with RC2 (dnx -> dotnet), but haven't been able to locate new docs linked from the GitHub repo yet...

BTW, I learned this morning that the "100% CPU and runaway RAM" bug happens wit

[2016-10-05 18:31] #5660 closed

[2016-10-05 18:31] #11622 closed

[2016-10-05 18:36] twsouthwick commented on #12372
Perfect - that was my first guess when I saw the failures since these features were slated to come online.

[2016-10-05 18:36] janvorli commented on #11036
@flint-rocketdesk it is kind of non-standard and undocumented. I would just copy the *.so and *.dll files from the debug build to replace the existing files in /usr/share/dotnet/shared/Microsoft.NETCore.App/1.0.0 (Provided this is still the path on your new box).

[2016-10-05 18:39] karelz commented on #11622
@stephentoub @ianhays how do we get the fix into 1.1 branch? (sorry if it is newbie question)

[2016-10-05 18:42] stephentoub commented on #11622
Someone needs to create a porting PR for it that cherry-picks the commit on to that branch.

[2016-10-05 19:14] AlexGhiondea commented on #12372
Re-introducing the right overloads fixes the issues.

[2016-10-05 19:14] luqunl opened #12384 "The type name used in System.Runtime.WindowsRuntime.dll doesn't meet the corefx coding style"
The corefx coding style is to use language keywords instead of BCL types, so  Int32 ,  Int64 ,  Byte ,  String , etc. should be  int ,  long ,  byte ,  string , etc.

see src\System.Runtime.WindowsRuntime\src\System\IO\NetFxToWinRtStreamAdapter.cs,
src\System.Runtime.WindowsRuntime\src\System\IO\WindowsRuntimeStorageExtensions.cs,
src\System.Runtime.WindowsRuntime\src\System\IO\WindowsRuntimeStrea

[2016-10-05 19:18] giuseppemag commented on #12068
I ended up solving it. It was mostly an issue with permissions in the network, so nothing to do with .Net core itself.

We ended up managing to make the connection, but we still had to take an odd step. We had to specify the port and not the database instance, which is quite different behaviour from .Net core inside Windows within the same network and the same permissions.

Still, better error mes

[2016-10-05 19:18] #12068 closed

[2016-10-05 19:25] karelz commented on #11622
@ianhays can you please port it to 1.1 branch as part of this bug? (it is in 1.1 milestone after all)

[2016-10-05 19:48] ianhays commented on #11622
Yup.

[2016-10-05 19:51] AlexGhiondea opened #12386 "Remove if-defs from System.ComponentModel.TypeCoverter"
When originally porting the TC code a lot of it was if-def-ed out because not all of the types required were available.

Since we have brought back more APIs, we can go ahead and bring back that code as well.

Look for:
- [x]  FEATURE_INSTANCEDESCRIPTOR
- [x]  FEATURE_EDITORATTRIBUTE
- [x]  FEATURE_GETMETHOD_WITHTYPES
- [x]  FEATURE_ICOMPONENTCHANGESERVICE
- [x]  FEATURE_CHECKOUTEXCEPTION
- [x]  F

[2016-10-05 20:27] steveharter commented on #11315
@joperezr I no longer see these commented out tests in master; I assume those changes weren't ported from dev\api->master?

[2016-10-05 20:33] #12169 closed

[2016-10-05 20:46] morganbr opened #12388 "RSACryptoServiceProvider.KeySize setter not respected"
The RSACryptoServiceProvider.KeySize setter doesn't get respected when generating keys, or even when getting the value back through the getter. This is true on both core and full framework. This is more problematic on full framework since RSACryptoServiceProvider is returned from RSA.Create. For example:
[code]

[2016-10-05 20:47] morganbr commented on #12388
CC: @blowdart

[2016-10-05 21:01] ianhays commented on #12356
These seem fine.  It's not the first time I've seen a request to publicize _bufferSize.

 As @weshaggard said, these will need to be netcoreapp specific.

[2016-10-05 21:25] danmosemsft commented on #12254
Ah right. Those are coming back in https://github.com/dotnet/corefx/issues/11809.

[2016-10-05 21:32] danmosemsft commented on #11857
MEFn is not part of https://github.com/dotnet/standard/tree/master/netstandard/ref

[2016-10-05 21:34] danmosemsft commented on #10196
CAS is not part of .NET Standard so this can happen later eg when we create a CAS extension for .NEt Standard, or simply want to augment our CAS stubs in core.

[2016-10-05 21:35] danmosemsft commented on #10194
Removing .NET Standard label as CAS will be an extension to it. We can do this later if we want to.

[2016-10-05 21:36] danmosemsft commented on #10194
In fact, I'm going to close the issue: we can treat CAS all together later.

[2016-10-05 21:36] #10194 closed

[2016-10-05 21:38] danmosemsft commented on #11115
These are still in .NET Standard.

[2016-10-05 21:38] danmosemsft commented on #10196
In fact, I'm going to close the issue: we can treat CAS outside of Standard all together later.

[2016-10-05 21:38] #10196 closed

[2016-10-05 21:39] danmosemsft commented on #9480
ACL is now out of Standard. We can create appropriate issues when we get to the ACL extension.

[2016-10-05 21:39] #9480 closed

[2016-10-05 21:40] danmosemsft commented on #247
Clarifying title, this is a feature request for Core.

[2016-10-05 21:42] PinpointTownes commented on #12388
This is a well known limitation, described in the MSDN documentation:

https://msdn.microsoft.com/fr-fr/library/system.security.cryptography.rsacryptoserviceprovider.keysize(v=vs.110).aspx

[2016-10-05 21:44] danmosemsft commented on #9327
I see a dependency on `T:System.Security.Principal.PrincipalPolicy`. That's just an enum you'll want to add.

[2016-10-05 21:47] danmosemsft commented on #6398
`AppDomain.UnhandledException` came back with https://github.com/dotnet/corefx/pull/11275. for .NET Core 1.2. @terrajobst please close if you agree this is not necessary anymore.

[2016-10-05 21:48] danmosemsft commented on #11225
This is covered by https://github.com/dotnet/corefx/issues/11808. @kouvel please close if you agree.

[2016-10-05 21:48] tijoytom commented on #12139
@ericeil @karelz I think most of the overrides do not make much sense since the Desktop WebHeaderCollection derived from  System.Collections.Specialized.NameValueCollection. The netstandard one use the generic dictionary . I am going to leave them out ..

[2016-10-05 21:58] JeremyKuhne opened #12396 "Directory.Move doesn't throw for existing on Unix"
Discovered while testing for IsolatedStorage. Move should throw an exception if there is a file/directory in the specified destination.

[2016-10-05 21:59] danmosemsft commented on #12251
Also this goes with them
[code]

[2016-10-05 22:06] danmosemsft commented on #11808
This empty struct seems to fit best in this issue. It literally is an empty struct.

`T:System.RuntimeArgumentHandle`

[2016-10-05 22:15] danmosemsft opened #12398 "Port some missing exceptions and serialization constructors"
These guys are missing entirely

[code]

also these exceptions exist but are not serializable.

[code]

Note - for testing serialization, take a look at the mechanism in https://github.com/dotnet/corefx/commit/e66576aa8290714284848086259b6429d1ce9b54. You can probably just list the types there.

[2016-10-05 22:16] danmosemsft commented on #12398
And some exceptions that exist but with missing members

[code]

[2016-10-05 22:18] danmosemsft opened #12399 "Port ApplicationId"
[code]

[2016-10-05 22:19] niemyjski commented on #6398
On Wed, Oct 5, 2016 at 4:48 PM, Dan Moseley <notifications@github.com>
wrote:

Any idea when .NET Core 1.1 or 1.2 will be released?

Thanks
-Blake Niemyjski

[2016-10-05 22:22] danmosemsft opened #12400 "Port Attribute missing members"
These seem to be missing

[code]

[2016-10-05 22:30] danmosemsft opened #12401 "Straggler explicit implementations"
These exist but should all be implicit implementations to match standard.

[code]

[2016-10-05 22:43] ashwinkambli opened #12402 "Package Microsoft.AspNetCore.StaticFiles 1.0.0 is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0)"
I have VS 2015 Professional installed on my box. I have Core 1.0.1 SDK 1.0.0 Preview 2-003131 (x64) and the Core 1.0.1 - VS 2015 Tooling Preview 2 installed as well:
![image](https://cloud.githubusercontent.com/assets/20649904/19134205/739f1b48-8b11-11e6-9e22-7b975b4eedeb.png)

Here is my project.json file:
{
  "dependencies": {
    "Microsoft.AspNetCore.Mvc": "1.0.1",
    "Microsoft.AspNetCore.Se

[2016-10-05 22:48] mellinoe opened #12403 "Unix file timestamps only have one-second granularity"
Currently, method such as `File.GetLastWriteTime` and `FileInfo.LastWriteTime` return timestamps which are only accurate to the nearest second on Unix. On OSX, this seems to be a system-level limitation in HFS+. On most Linux filesystems, however, millisecond-level information does seem to be available, at least via `stat`. @stephentoub recommended that we could use `utimes` rather than `utime` in

[2016-10-05 22:52] danmosemsft commented on #9489
Already done.

[2016-10-05 22:52] #9489 closed

[2016-10-05 22:55] danmosemsft opened #12405 "Exception missing SerializeObjectState"
Missing

[code]

[2016-10-05 22:55] danmosemsft commented on #9483
Just serliazation stuff left.

[code]

Note - for testing serialization, take a look at the mechanism in e66576a. You can probably just list the types there.

[2016-10-05 23:50] terrajobst commented on #6398
@danmosemsft

Agreed, it's now redundant.

@niemyjski

We don't have timelines yet, but the goal is to roughly align with the Dev15 timeframe.

[2016-10-05 23:50] #6398 closed

[2016-10-05 23:50] kouvel commented on #11808
Looks like there are more members of StrongNameKeyPair that should be included in this as well. From ns2.0:

[code]

[2016-10-05 23:51] kouvel commented on #11225
Yes this should be covered by #11808, closing

[2016-10-05 23:51] #11225 closed

[2016-10-05 23:54] shmao opened #12408 "[Expose] To Add ISafeSerializationData/SafeSerializationEventArgs"
The following APIs exist in NetStandard 2.0 but are missing from NetCore. We should put them in System.Runtime where Exception lives.

T:System.Runtime.Serialization.ISafeSerializationData
T:System.Runtime.Serialization.SafeSerializationEventArgs

[2016-10-06 00:32] #10206 closed

[2016-10-06 01:24] halter73 opened #12412 "SslStream segfault when X509Certificate2 constructed"
The following program segfaults (apparently in SslStream.AuthenticateAsClientAsync), but only if the first line `new X509Certificate2("testCert.pfx", "testPassword");` is present. Feel free to to copy testCert.pfx from https://github.com/aspnet/KestrelHttpServer/tree/dev/samples/SampleApp.

This repros on windows with Microsoft.NETCore.App 1.1.0-preview1-001090-00, but not 1.0.1.

    Project Cons

[2016-10-06 01:46] davidsh commented on #12412
What operating system is this happening on?  Windows? Linux?

[2016-10-06 02:04] #12170 closed

[2016-10-06 02:56] jamesqo commented on #11990
@terrajobst

The same would seem to apply to `Array`, yet [that is marked readonly](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Array.cs#L2805-L2807).

If you mean copying as in creating another `Queue` / `Stack` out of an existing one, and not copying in general, then yes. In addition to `ToArray` which I mentioned above, things like [`ToList`](https://github.com/dotnet/

[2016-10-06 03:24] davidsh commented on #12412
@bartonjs you may want to look at this first since the trigger for this is `X509Certificate2` object.  And looking at this repro code, I don't see how this object is even used anywhere in the repro code.  So, that tells me that it is likely a finalizer issue with `x509Certificate2` object.

[2016-10-06 04:17] flint-rocketdesk commented on #11036
@janvorli -- I built a debug build of .NET Core and copied over the main .so and .dll files.  I have Ctrl+C aborted the program during the RAM escalation and have attached a new stack trace.

Does this provide any more insight?  Do I need to install symbols for any system libraries, copy over any other .so/.dll files (from one of the corefx subdirectories), etc.?
[stacktrace.txt](https://github.co

[2016-10-06 04:32] robertmclaws commented on #10752
Hope everyone's had a great week so far. So where are we at with this?

[2016-10-06 08:32] janvorli commented on #11036
We cannot tell anything from the stack since all threads area waiting. So we will need to see the managed part of the stack - those are the frames that have no binary object mentioned and more, since the GDB unwinder cannot unwind through the managed frames.
So, one way would be to follow the process of installing lldb 3.9 and building libcoreclr.so again so that it produces SOS plugin for it.
But

[2016-10-06 12:45] karelz commented on #12402
@ericstj can you please comment/route it?

[2016-10-06 12:52] flint-rocketdesk commented on #11036
@janvorli -- here is an updated stack track.  Coreclr was re-cloned and then built with FEATURE_GDBJIT set to 1.  I also executed "./clean.sh -b" before the build to be thorough.

[stacktrace.txt](https://github.com/dotnet/corefx/files/513752/stacktrace.txt)

[2016-10-06 12:57] janvorli commented on #11036
Hmm, it didn't have any effect on the stack trace, that's strange. @lucenticus, is there anything else that needs to be done to enable the FEATURE_GDBJIT to work?

[2016-10-06 13:26] lucenticus commented on #11036
@janvorli You should add `CORECLR_GDBJIT` environment variable with list of assemblies you would like to debug.
Something like this: `export CORECLR_GDBJIT=hello1.exe,hello2.exe` (see PR:https://github.com/dotnet/coreclr/pull/6956)

[2016-10-06 13:48] janvorli commented on #11036
@lucenticus Thank you. So @flint-rocketdesk, let's put all assemblies to the list and try to run it again. Provided the path to the assemblies is `/usr/share/dotnet/shared/Microsoft.NETCore.App/1.0.1/`:

``
export CORECLR_GDBJIT=$(find /usr/share/dotnet/shared/Microsoft.NETCore.App/1.0.1/ -name "*.dll" -printf "%f,")
[code]

[2016-10-06 14:10] SamuelEnglard commented on #11990
@jamesqo `Array` is read-only in that you cannot add or remove to it. Yes you can "add" and "remove" from `Stack<T>` and `Queue<T>` but "adding" and "removing" in context of them does not mean what the `ICollection<T>` interface implies.

I think the following constructors should solve issues you've shown without type-casting

[code]

[2016-10-06 15:18] ericstj commented on #12402
That should be supported.  This statement looks erroneous:
`is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Package Microsoft.AspNetCore.StaticFiles 1.0.0 supports: - net451 (.NETFramework,Version=v4.5.1) - netstandard1.3 (.NETStandard,Version=v1.3)`
netstandard1.3 is compatible with netcoreapp1.0.  /cc @emgarten

Can you check what version of the NuGet extension is installed with

[2016-10-06 15:49] #9986 closed

[2016-10-06 15:49] #12325 closed

[2016-10-06 15:49] #12363 closed

[2016-10-06 15:49] #12365 closed

[2016-10-06 15:49] #11121 closed

[2016-10-06 16:12] joperezr commented on #11315
I don't think they are commented out either... not sure what happened here.

[2016-10-06 17:31] steveharter commented on #12235
Link to PR: https://github.com/dotnet/corefx/pull/12240

@bartonjs fyi

The cause of the test failures running in netcoreapp1.0\ns1.6 was the 4.1 version of S.S.C.X509Certificate (v1.0 corefx) being used instead of 4.1.1 (v1.1) again because 4.1.1 is not yet in public nuget yet and not yet associated with ns1.6.

The older assembly version does not include the following (which the tests depend on)

[2016-10-06 17:31] #12235 closed

[2016-10-06 17:46] halter73 commented on #12412
This repros on Windows 10 and Win Server 2012 at least. Not on debian 8.2.

I don't think the issue is with `x509Certificate2` specifically. If you replace `GetStreamAsync(new Uri("https://github.com"), validateCertificate: true).Wait();` with `GC.Collect(); GC.WaitForPendingFinalizers();`, you won't see the segfault.

[2016-10-06 17:57] steveharter commented on #11315
Closing this; no tests are (were?) commented out

[2016-10-06 17:57] #11315 closed

[2016-10-06 18:07] pranavkm commented on #12412
Slightly related, on Ubuntu 14.04 and OSX, the CI test run fails with this:

[code]

[2016-10-06 18:19] muratg commented on #12412
:eyes:

[2016-10-06 18:25] #12124 closed

[2016-10-06 18:36] weshaggard commented on #9873
Before we can decide what to do we need to understand what breaks by removing this dependency. If it is isolated then we can perhaps move some of the impacted APIs from netstandard into an extension and thus can be implemented on top of netstandard and be opt-in.

[2016-10-06 18:39] deepumi opened #12421 "Proposal: Support for building query string collection in UriBuilder"
## Background

Currently UriBuilder class does not have a constructor / method to build query string parameters values.

## Proposed API

[code]

[2016-10-06 18:51] sero323 opened #12423 "Trying to bind a date to DateTime object in a model"
I am trying to POST a date like this "10/05/2016" (using ajax) to a DateTime object in a model. All the objects are binding except the DateTime objects. As you can see in the screen shot, the string value is coming through but the DateTime object is showing 01/01/0001. I'm running VS Code on my mac with the C# extensions. The crazy thing is that running the same code on Visual Studios on windows b

[2016-10-06 18:53] ashwinkambli commented on #12402
I had NuGet Package Manager 3.5.0 earlier. I re-installed that package, and now my NuGet Package manager is 3.4.4 (I don't understand how it went back one full minor version):

![image](https://cloud.githubusercontent.com/assets/20649904/19165961/b2ab69e6-8bba-11e6-9d87-fa27f42687db.png)

But, that still did not resolve the issue.

[2016-10-06 18:56] #12247 closed

[2016-10-06 19:10] mburbea opened #12425 "Proposal: Add a BitManipulation class"
I propose adding a new class to CoreFx, which will contain many common bit manipulation techniques.
Part of having a class like this is that the Jit can target these methods class for intrinsics, similar to what was done for `Vector<T>`.
While circular shift right/left were pretty common and used a usual pattern,there are so many ways to do most of these things (see this for example, most of them

[2016-10-06 19:12] svick commented on #12421
public class URIBuilder : System.UriBuilder

Are you actually suggesting to create a class that differs from `UriBuilder` only in capitalization? I don't think that's a good idea.

    public NameValueCollection QueryParameters

`NameValueCollection` only implements non-generic collection interfaces. Because of that, I don't think it should be used in new code.

[2016-10-06 19:28] #11284 closed

[2016-10-06 19:48] steveharter commented on #7325
The WindowsIdentity.* APIs exist but are not supported on Linux. Every method will throw PNSE.

@karelz is the intent to get WindowsIdentity* APIs to work on Linux?

[2016-10-06 19:50] svick commented on #12423
First, I think this question does not belong here. ASP.NET MVC model binding is implemented in [aspnet/Mvc](https://github.com/aspnet/Mvc), so that would be the best place to ask.

Now, as far as I can tell, model binding for `DateTime`, uses `DateTimeConverter`, which uses `DateTime.Parse()` with culture settings. Because those settings can vary, I think the right way is to use the culture-neutra

[2016-10-06 19:56] deepumi commented on #12421
@svick  No, I don't want to add a new class, I wanted the same functionality (method and constructor) to implement in the existing UriBuilder.

[2016-10-06 20:00] svick commented on #12425
public int IsBitSet(long value, int position);

Should this return `bool` instead of `int`?

[2016-10-06 20:09] sero323 commented on #12423
I have tried the `yyyy-MM-dd` format and even changed the date to the iso format date using `.toISOString()` which produces something like `2016-10-06T20:04:56.035Z`. I have also added the culture settings to Startup.cs like so...
[code]

[2016-10-06 20:13] ericeil commented on #12228
Again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/1268/

[2016-10-06 20:18] ericeil opened #12427 "System.Reflection.PortableExecutable.Tests.DebugDirectoryTests.EmbeddedPortablePdb_Loaded_FromStream failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/1203/testReport/junit/System.Reflection.PortableExecutable.Tests/DebugDirectoryTests/EmbeddedPortablePdb_Loaded_FromStream/

[code]

[2016-10-06 20:57] ramarag commented on #11808
For now i am striking some methods of as they depend on crypto and there is no straightforward implementations, will revisit them if they are indeed used/usefult
 public partial class StrongNameKeyPair : System.Runtime.Serialization.IDeserializationCallback, System.Runtime.Serialization.ISerializable

public StrongNameKeyPair(byte[] keyPairArray) { }
~~public StrongNameKeyPair(System.IO.FileStream

[2016-10-06 21:18] #467 closed

[2016-10-06 21:26] mellinoe commented on #12425
@nguerrera I recall you had mentioned some internal helpers that Roslyn was using that were related to this sort of functionality. Any input here?

[2016-10-06 21:31] weshaggard commented on #12162
Please make sure to compare this list against what is currently in netstandard as we have done some clean-up recently https://github.com/dotnet/standard/pull/44.

[2016-10-06 21:34] gkhanna79 commented on #12412
@bartonjs PTAL at this 1.1.0 Preview blocking issue.

CC @leecow

[2016-10-06 21:41] nguerrera commented on #12425
CountBits is the main one. Search for BitArithmetic in Roslyn and corefx. I've long wanted a nice class to hide the scariness of https://graphics.stanford.edu/~seander/bithacks.html

[2016-10-06 21:44] jamesqo commented on #12283
@VSadov Makes sense-- we would not want to throw exceptions on what were previously valid codepaths. Looks like I'll be closing this then.

[2016-10-06 21:44] #12283 closed

[2016-10-06 21:55] nguerrera commented on #12427
@tmat

[2016-10-06 22:06] kouvel commented on #11638
Should also disable code depending on ThreadAbortException under FEATURE_CORECLR and move implementation of ThreadAbortException into CoreFX.

[2016-10-06 22:13] kouvel opened #12431 "Remove temporary project references after changes to the referenced project are published"
See changes to *.csproj by kouvel

[2016-10-06 22:35] weshaggard commented on #11225
@kouvel we should make sure that what we do in #11808 actually provides a working version of StrongNameKeyPair because currently I don't think it is functional.

[2016-10-06 22:38] anurse commented on #12323
big +1 for `GetBytes(byte[], int, int)`, without it we have to allocate extra memory to hold the random value :(

[2016-10-06 22:41] karelz commented on #7325
@steveharter I don't know enough about the space to have an opinion. From the request it looks like it is needed & valuable. Do you have insight on the pros/cons here? Or the work involved?

@zhenlan what is your expectation in the space from user point of view?

[2016-10-06 22:42] stephentoub commented on #12412
Reassigning to @JohnChen0, as it looks like this may be a crossgen issue.

[2016-10-06 23:05] carusology commented on #12338
I have also run into this on .NET Core.

The `DefaultValue` and `RawDefaultValue` properties also throw the same `FormatException` when the `ParameterInfo.ParameterType` property is of type `System.DateTime`.

The only way I see to avoid it is having my reflection code step around DateTime parameters.

[code]

[2016-10-06 23:10] carusology commented on #12338
`Guid` also has issues. The `DefaultValue` property on `ParameterInfo` is null when the default value is `default(Guid)`. It doesn't throw when you access it, but it should be equivalent to `Guid.Empty`.

[2016-10-06 23:16] halter73 commented on #12412
@pranavkm I think the `System.DllNotFoundException : Unable to load DLL 'System.Security.Cryptography.Native.OpenSsl'` you're seeing on mac and linux is unrelated to the AV. It appears to be caused by a mismatch between NETStandard.Library 1.6.1-* and Microsoft.NETCore.App 1.0.0-* that currently exists in the Kestrel repo.

We'll update the Kestrel repo to depend on Microsoft.NETCore.App 1.1.0-* o

[2016-10-06 23:21] sero323 commented on #12423
Found the solution...for some reason when I declare my DateTime object in the model, it won't bind if I user DateTime?, I also tried Nullable<DateTime> and that didn't work either. but a plain DateTime object works. Interesting...

[2016-10-06 23:21] #12423 closed

[2016-10-06 23:27] dotnet-mc-bot opened #12435 "Test failure: System.IO.Tests.FileSystemWatcherTests/FileSystemWatcher_CreateManyConcurrentInstances"
Opened on behalf of @venkat-raman251

The test `System.IO.Tests.FileSystemWatcherTests/FileSystemWatcher_CreateManyConcurrentInstances` has failed.

    System.OutOfMemoryException : Exception of type 'System.OutOfMemoryException' was thrown.

Stack Trace:

       at System.IO.Tests.FileSystemWatcherTests.FileSystemWatcher_CreateManyConcurrentInstances()

Failing configurations:

- Ubuntu.1604.Amd

[2016-10-07 00:13] AArnott commented on #1967
Yes, I agree.

[2016-10-07 00:18] yizhang82 commented on #5088
Unfortunately I don't think this is fixed with 5.2.2. I'm still reproing this issue with Visual Studio 2015 Update 3 and metapackage 5.2.2 and I'm still seeing the same issue. For whatever reason we just didn't pick up the newer bits.

[2016-10-07 00:27] mburbea commented on #12425
Yes that should return bool. If this seems like something that would be liked I'd happily submit a pr for little endian architecture.

[2016-10-07 01:28] mvermef commented on #5088
Its only seen when dealing with "release" toolchain builds.

[2016-10-07 01:34] #12427 closed

[2016-10-07 02:31] stephentoub commented on #12412
As an aside, a workaround is to avoid using the crossgen'd binaries, e.g. in the project.json removing the ```"type": "platform"``` and adding the relevant runtimes:
[code]

[2016-10-07 02:52] stephentoub commented on #12435
This test was deleted in https://github.com/dotnet/corefx/pull/12397

[2016-10-07 02:52] #12435 closed

[2016-10-07 02:54] stephentoub commented on #12396
We have tests for this which run and pass on Unix, e.g.
https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/tests/Directory/Move.cs#L44-L49
How is what these tests are doing differ from the scenario you're hitting?
cc: @ianhays

[2016-10-07 02:57] stephentoub commented on #12380
This would be a trivial change. @weshaggard, do we have any compatibility concerns around changing the algorithm in GetHashCode?  I assume the answer is no, as we've taken PRs that do it elsewhere.

[2016-10-07 03:41] epsitec commented on #12338
@karelz in my case, I want this to work both on the .NET Framework and on .NET Core.

[2016-10-07 04:00] flint-rocketdesk commented on #11036
Thanks @lucenticus and @janvorli.

@janvorli I set the environment variable, rebuilt, copied the *.so and *.dll files, re-ran the test code and re-dumped the stack track.

Unfortunately the stack trace is basically identical (except for thread #s and memory locations).

Here is the exact process; what are we missing?
`$ git clone https://github.com/dotnet/coreclr.git
$ cd coreclr

$ export CORECLR

[2016-10-07 06:10] mbinette91 commented on #11670
I think the real bug here is that this works on Windows.

From the doc:

Which is the behavior displayed on Linux (though not the right exception).

In Windows code, we call GetProcessHandle which can throw InvalidOperationException on an exited process, but we call it with throwOnExited == false.

Having the same behavior on all platforms sounds important, but I'm not sure changing the Windows be

[2016-10-07 06:16] JohnChen0 commented on #12412
The issue is in the handing of generic dictionary overflow inside Ready-to-Run images. The code sometime mistake a Ready-to-Run signature blob for a regular signature blob. Since these two types of signature blobs have different formats, this can cause problems. I'm looking for a way to fix it.

[2016-10-07 07:40] hseok-oh opened #12441 "[Linux/ARM32] System.Security.Cryptography.Algorithms.Tests fail"
Environemnt: Linux / ARM32bit
CoreCLR: Release build
CoreFX: Release build, enable outerloop test

[code]

Related code
[code]

- It throws `argument exception` (not `out of memory exception`) when I modify test code to not use `Assert.Throws` for CreateDecryptor.

- Test passed when I modify test code to not call `CreateEncryptor` and test `CreateDecryptor` only.

[2016-10-07 08:07] lucenticus commented on #11036
@janvorli, @flint-rocketdesk please pay in attention that we didn't test GDB JIT interface with gdb, we use this interface with lldb only. You can try to run dotnet under lldb using following command:  `lldb /usr/share/dotnet/dotnet run`.

[2016-10-07 08:21] benaadams opened #12442 "Add QueueUserWorkItem for local threadpool queues"
`ThreadPool.QueueUserWorkItem` always queues to the global queue; however it would be good to have the option to be able to queue to the current threadpool thread's local queue when a threadpool thread queues extra work items.
## Rationale and Usage
- Reduced contention on the global queue when many threads are queuing
- Potentially hotter more local data when the queuing work item completes
- Tak

[2016-10-07 10:21] flint-rocketdesk commented on #11036
@lucenticus  -- thanks for the tip on lldb

@janvorli -- I have run the app with lldb and captured a stacktrace.  LLDB is actually quite tricky since it captures ctrl+c and does not seem to pass this onto the process as "process interrupt".

Here's the process I used:
[code]

I have attached the output.  Does this get us closer?  I know that a number of frames are missing details on a few of the t

[2016-10-07 10:28] nietras commented on #12243
I am looking at adding this. Would this be fine:
[code]
and:
[code]
any suggestions for tests?

[2016-10-07 10:31] nietras commented on #12243
And what about the `uint32 byteCount` as far as I understand Span also need `UIntPtr` version, correct?

[2016-10-07 10:51] lucenticus commented on #11036
Hm, GDB JIT interface still doesn't work,  it seems that dotnet can't find SOS.NETCore.dll (That's why you see message `Can't create delegate for 'SOS.SymbolReader.GetInfoForMethod' method - status: 0x80070002`  in your log). Could you get SOS.NETCore.dll from `bin/Product/Linux.x64.Debug` and put to the `/usr/share/dotnet/` directory?

[2016-10-07 11:07] flint-rocketdesk commented on #11036
@lucenticus -- I copied SOS.NETCore.dll to /usr/share/dotnet/.  It's also in /usr/share/dotnet/shared/Microsoft.NETCore.App/1.0.1 from the original setup.

The "Can't create delegate for 'SOS.SymbolReader...status: 0x80070002" message didn't go away.  How does lldb search for that file?

[2016-10-07 11:19] lucenticus commented on #11036
\CC: @Dmitri-Botcharnikov

[2016-10-07 11:31] Dmitri-Botcharnikov commented on #11036
@flint-rocketdesk : SOS.NETCore.dll is loaded by virtual machine, not by lldb. One possible source of the error can be dependencies of SOS.NETCore.dll itself. It requires System.IO.FileSystem, System.Runtime.InteropServices, System.Reflection.Metadata and Microsoft.NETCore.Platforms.

[2016-10-07 11:42] janvorli commented on #11036
I think that the dotnet tool builds an explicit list of assemblies to use and it is possible it doesn't include the SOS.SymbolReader.dll even if it is present in the same folder as the libcoreclr.so.

So let's step back a bit. Since you can run the app under lldb, we can actually use the libsosplugin.so. For live debugging, we don't actually need the lldb 3.8.
Can you please run your app under lld

[2016-10-07 11:57] flint-rocketdesk commented on #11036
@janvorli -- I have loaded the plugin and used clrstack -f to dump the stack trace (paused at around the 1GB RAM RES mark).  CLR stack is attached.

Regarding LLDB: the problem is that LLDB is in "stdin/stdout" mode while the app is running...so I have to use "kill -sigstop" externally to stop the app.  Ctrl+C just changes to command mode...and continuing to press Ctrl+C once I'm there doesn't see

[2016-10-07 12:31] janvorli commented on #11036
@flint-rocketdesk Thanks for the stack trace. Finally, we can see the managed frames. But this thread is only waiting for the process to exit.
Actually, from this I have just realized this is not the process of your app. The dotnet tool is a separate process that runs the "run" command in a new process and just waits for its termination. I am sorry I have not realized that before, I use dotnet rar

[2016-10-07 12:34] nietras opened #12445 "S.R.CS.Unsafe: Add IntPtr overloads to Add/Subtract or AddByteOffset/SubstractByteOffset for refs"
As discussed in https://github.com/dotnet/corefxlab/pull/796 we need to have overloads for adding/subtracting `IntPtr` from refs. A couple of different API proposals were discussed.

**A**: Add overloads with same meaning as before i.e. `elementOffset`
[code]

**B**: Add overloads with different meaning as before i.e. `byteOffset` since we using `IntPtr`
[code]

**C**: Add new methods with `ByteOf

[2016-10-07 12:45] svick commented on #12442
So, it would be the same as `TaskFactory.StartNew` with `TaskScheduler.Default`, except without the overhead of allocating a `Task`?

Also, the existing overloads of `QueueUserWorkItem` do return `bool`, but it's useless (because it will never return `false`). So maybe favor simplicity over consistency here and make the return type `void`?

[2016-10-07 13:13] flint-rocketdesk commented on #11036
@janvorli -- I ran "dotnet run" without the debugger, and grabbed the process command line.

The process command line is:
/usr/share/dotnet/dotnet exec --additionalprobingpath /home/ubuntu/.nuget/packages /home/ubuntu/testapp/bin/Debug/netcoreapp1.0/testapp.dll

I used lldb to debug this via the following command (with '--' so that lldb can parse the dotnet arguments):
`$ lldb /usr/share/dotnet/do

[2016-10-07 13:18] RussKie commented on #8491
IdentityModel APIs are messy...

[2016-10-07 13:20] janvorli commented on #11036
@flint-rocketdesk This is the right process. I have created a simple test app and confirmed that this way, I can see the real call stack. So I guess it just looked very similar, but it was not the same. Can you please let me see the stack trace?

[2016-10-07 13:22] flint-rocketdesk commented on #11036
Sure thing.  Here is the stack trace.

[clrstack.txt](https://github.com/dotnet/corefx/files/516217/clrstack.txt)

[2016-10-07 13:25] jkotas commented on #12445
What about doing both A and C?

[2016-10-07 13:27] janvorli commented on #11036
Ok, now we can see that were are running down the call chain of a call to System.Runtime.CompilerServices.TaskAwaiter.GetResult() from macapns.dll!ConsoleApplication.Program.Main. So we need to dump stacks for other threads, one of them would be doing the real job. Unfortunately lldb doesn't have the `thread apply` command, so you'll need to switch the threads one by one and run `clrstack -f`. You

[2016-10-07 13:28] nietras commented on #12445
I can live with that, but **C** does not add any new functionality, it would just be for convenience, that is to reduce typing for the users of the API, so in other words it could be viewed as superfluous.

[2016-10-07 13:42] flint-rocketdesk commented on #11036
Oh hey, awesome.  Here we go.

[clrstack.txt](https://github.com/dotnet/corefx/files/516268/clrstack.txt)

[2016-10-07 13:44] vcsjones commented on #12103
Thanks. I'm back up and running. A little birdy also told me there might be an effort underway to move away from OpenSSL on OS X and move toward CommonCrypto / Security Transforms, which would be hugely appreciated.

[2016-10-07 13:44] #12103 closed

[2016-10-07 13:50] jkotas commented on #12445
I think the redundancy is justifiable in this case. It makes significant difference in readability in the situation I needed it for:

[code]

And AddByteOffset makes the JIT work much less: inlining one method vs. inlining 3 methods and getting rid of extra multiplication. It probably works in simple cases, but there are cliffs where the optimizations would not kick in as expected for sure.

[2016-10-07 13:54] #12243 closed

[2016-10-07 13:54] nietras commented on #12445
I agree, `Subtract` is also superfluous viewed in the same light, so I am fine with adding both 👍.

Another question then, would there be any reason for adding support for `UIntPtr` also?

[2016-10-07 13:59] #12281 closed

[2016-10-07 14:03] janvorli commented on #11036
Great, so now you can see all the code the app was running at the point you've broken in. So thread 8 was waiting for some result in macapns.dll!ConsoleApplication.Program.SendNotification, thread 12 was releasing a SafeX509StoreHandle down the call chain from System.Net.Http.CurlHandler.ClientCertificateProvider.TlsClientCertCallback that was transitively called from libcurl.so.4!curl_multi_perfo

[2016-10-07 14:14] jkotas commented on #12445
If it makes a difference for the kind of code that you are writing using Unsafe, I would not be opposed to it.

[2016-10-07 14:20] nietras commented on #12445
No not really, more wondering if would be easier to add them while I was adding the others, anyway made a pull request.

[2016-10-07 14:29] flint-rocketdesk commented on #11036
Thanks @javorli. There are a lot of objects on thread 12's stack... I've attached a list.  I'm not quite sure what the best way to debug this issue is...  Is there a way to tell the duration of each call in the stack to see where the delay is?  Or to figure out why ~1.3GB of RAM memory is being consumed?

Something is getting stuck...just not sure what or where to start digging.

[dso.txt](https:/

[2016-10-07 14:46] gkhanna79 commented on #12412
@JohnChen0 When did this regress?

CC @jkotas

[2016-10-07 15:02] Tornhoof commented on #12425
This issue, at least partially, overlaps with https://github.com/dotnet/coreclr/issues/6906

[2016-10-07 15:24] stephentoub opened #12447 "RuntimeHelpersTests.FixedAddressValueTypeTest test failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/1248/consoleText
[code]

[2016-10-07 15:35] SunnyWar commented on #12425
Shouldn't the methods be declared as static?
And these have variable name conflicts and a missing comma on SetInt16.

`      public void SetBit(long value, int position, bool value);
       public void SetByte(long value, int position, byte value);
       public void SetInt16(long value, int position. short value);
       public void SetInt32(long value, int position, int value);
`

corrected
`

[2016-10-07 15:50] SedarG opened #12449 "System.Runtime.CompilerServices.IsConst is defined in both System.Runtime and S.P.CoreLib"
be96103263c9d57ce22295dd3906b96c2ae722be brings S.R.CompilerServices.IsConst to System.Runtime. However it already exists in S.P.CoreLib for AOT (see https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Runtime/CompilerServices/IsConst.cs). It's indeed defined in CoreCLR too (see https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/CompilerSer

[2016-10-07 16:18] #12058 closed

[2016-10-07 16:27] sepidehMS commented on #5593
@mstruppBE The XSLT functionality is now available in System.Xml.ReaderWriter assembly. Closing this for now.

[2016-10-07 16:27] #5593 closed

[2016-10-07 16:38] weegeekps commented on #9171
If you are a terminal newbie and want to replace your dotnet command with the command that @c-garcia posted, you can just add this alias to your .profile/.bashrc/.zshrc below.

That will prevent you from having to make a potentially dangerous link from the macports rootfs.

[2016-10-07 16:48] ericstj opened #12450 "Remove SNI workaround when we have a new TFS build"
https://github.com/dotnet/corefx/pull/12376/commits/c7ba063079560f0a6c1057a62da51a4ef53de629

We should remove this once we get a new TFS build. /cc @stephentoub

[2016-10-07 16:48] #12137 closed

[2016-10-07 16:48] stephentoub commented on #11504
Closing for now.  We can revisit once we've add back all the APIs we plan to add back.

[2016-10-07 16:48] #11504 closed

[2016-10-07 16:59] zadjii-msft opened #12452 "Virtual Terminal Parsing Issues"
As we discussed over email, some parsing of virtual terminal sequences is done incorrectly. These are sequences  that are generated on linux to represent certain keypresses, such as the arrow keys or the F1-F12 keys. They are also used for querying certain state about the terminal, such as the position of the cursor.

In general, the parsing works well enough on Ubuntu, however, it is noticeably w

[2016-10-07 17:21] mburbea commented on #12425
Yes, I fixed the error thanks @SunnyWar .
@Tornhoof ,Yes it does, for some of the intrinsics.

[2016-10-07 17:40] Tandis5 commented on #5593
@sepidehMS So I'm new to Net Core and Github, but I'm doing a project with Net Core and need the XSLT functionality.  How do I get this latest version with the XSLT functionality?  I downloaded System.Xml.ReaderWriter from NuGet (version 4.0.11) but it doesn't not have the XSL classes.

[2016-10-07 17:42] stephentoub commented on #12197
I think this should be relatively straightforward. We build on domain sockets, so we can use SO_PEERCRED or getpeereid to get the ID of the user at the other end of the pipe... we actually already do this for related purposes here:
https://github.com/dotnet/corefx/blob/2117bae3a6c9736033e6d1659821ff3a1069920b/src/Native/Unix/System.Native/pal_networking.cpp#L2714-L2733
Then we should be able to us

[2016-10-07 17:45] #12447 closed

[2016-10-07 18:08] #2942 closed

[2016-10-07 18:08] #8560 closed

[2016-10-07 18:08] #8683 closed

[2016-10-07 18:08] #9063 closed

[2016-10-07 18:16] JohnChen0 commented on #12412
The code triggering the crash existed in 1.0 RTM, though I haven't confirmed if I can get the same crash in 1.0. We now include more generic types in R2R images, and can potentially make this crash more likely.

As a quick workaround, setting the following environment variable should prevent this particular crash: `set COMPlus_ReadyToRunExcludeList=System.Security.Cryptography.X509Certificates`.

[2016-10-07 18:18] stephentoub commented on #12219
@joelverhagen, for better or worse, what you're seeing is documented design...

For Process.WaitForExit():
https://msdn.microsoft.com/en-us/library/fb4aw7b8(v=vs.110).aspx

And for Process.WaitForExit(Int32):
https://msdn.microsoft.com/en-us/library/ty0d8k56(v=vs.110).aspx

You can see here that the code explicitly does not wait for the redirected output to complete if it was passed a non-infinite

[2016-10-07 18:38] benaadams commented on #12442
What a very strange return value

[2016-10-07 18:43] ramarag commented on #12449
Is this a concrete requirement of corert, i.e. there are internal implementations of corert that use this attribute and can not reference the corefx library. If so assign this issue back to me.

Otherwise the right thing to do is to remove it from corert
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/mscorlib.shared.sources.props#L31 indicates the above file is not compiled for coreclr

[2016-10-07 18:53] svick commented on #12442
@benaadams That looks like some kind of historical artifact.

[.Net 2.0](https://msdn.microsoft.com/en-us/library/kbf0f1ct(v=vs.80).aspx):

[.Net 3.0](https://msdn.microsoft.com/en-us/library/kbf0f1ct(v=vs.85).aspx):

[.Net 3.5](https://msdn.microsoft.com/en-us/library/kbf0f1ct(v=vs.90).aspx):

[2016-10-07 19:07] benaadams commented on #12442
@svick Or more specifically in [`QueueUserWorkItemHelper`](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/ThreadPool.cs#L1659-L1696) call enqnue with the `false` parameter rather than `true`

[code]
rather than
[code]

[2016-10-07 19:07] rahku opened #12456 "Expose new apis in AppContext for netcoreapp1.1"
[code]

[2016-10-07 19:08] rahku commented on #12456
Implementation already exists in corelib.

[2016-10-07 19:09] rahku commented on #12456
Tests are present at https://github.com/rahku/corefx/tree/appContextNewApis

[2016-10-07 19:15] rahku commented on #9327
I have implemented and exposed most of the apis.
Apis remaining are
        public Assembly[] GetAssemblies() { throw null; }
        public event AssemblyLoadEventHandler AssemblyLoad { add { } remove { } }
        public event ResolveEventHandler AssemblyResolve { add { } remove { } }
        public event ResolveEventHandler TypeResolve { add { } remove { } }
        public event ResolveEventHan

[2016-10-07 20:03] jkotas commented on #12449
I agree with Rama - it should be removed from CoreLib unless there is a good reason to have it there.

[2016-10-07 20:25] mstruppBE commented on #5593
@Tandis5 I downloaded the "System.Xml.ReaderWriter": "4.4.0-beta-24607-05 version from myGet (which was last updated today) and it also doesn't have XSL classes. I'm pretty sure I'm missing something here.

[2016-10-07 20:43] #12445 closed

[2016-10-07 20:47] sepidehMS commented on #5593
@Tandis5 @mstruppBE Can you tell me how you are looking for XSL classes? I am seeing the namespace System.Xml.Xsl included in netstandard1.7 dll in the latest package (the same version @mstruppBE mentioned)

[2016-10-07 20:50] mstruppBE commented on #5593
@sepidehMS Thank you for your response.  I created a Net Core C# console application, installed the System.Xml.ReaderWriter package I referenced above and then tried to instantiate System.Xml.Xsl classes but nothing happened.  That's all I did, so I may be missing a step or two.

[2016-10-07 21:05] gkhanna79 commented on #9327
This works today as we use it across the board. See https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Loader/tests/DefaultContext/DefaultLoadContextTest.cs#L129 as an example.

[2016-10-07 21:07] ericeil opened #12459 "Add missing members in System.Net.Sockets.SocketException"
[code]

(was tracked by #11788)

[2016-10-07 21:10] ericeil opened #12460 "Add back Socket.SendFile, Begin/EndSendFile"
[code]

(Was tracked by #11788)

Additional missing APIs:
[code]

[2016-10-07 21:13] ellismg opened #12461 "Detect a better default for TestNugetRuntimeId when not set"
The logic [here](https://github.com/dotnet/corefx/blob/71de1aac5cf3e5dc87714ae0cc829e1fa98f7c5d/dir.props#L267) was reasonable when we only supported ubuntu.14.04-x64, but we support many more distros now.  For folks that invoke MSBuild.exe directly, we should have a task in buildtools that provides a better default (e.g. reads /etc/os-release and computes a RID).

[2016-10-07 21:14] ericeil opened #12462 "Add back Socket.SetIPProtectionLevel and UdpClient.AllowNatTraversal"
[code]

(Was tracked by #11788)

[2016-10-07 21:15] ericeil opened #12463 "Add back TcpListener.Create"
[code]

(was tracked by #11788)

[2016-10-07 21:16] ericeil opened #12464 "Add back SocketFlags.MaxIOVectorLength"
[code]

[2016-10-07 21:17] ericeil commented on #11788
Created separate issues to track the few remaining items.

[2016-10-07 21:17] #11788 closed

[2016-10-07 21:29] SunnyWar commented on #12425
@mburbea All the Set methods need a return value or the value as an out param.

[2016-10-07 21:57] ericstj opened #12465 "TestNuGetRuntimeId should be derived from TestTFM & machine running on"
Currently it looks like we set the TestNuGetRuntimeId in a bunch of different places for different reasons, none of which really make sense.

The purpose of a RuntimeID is to describe the platform that an application is running on.   For many target frameworks they've only been designed to accept a finite set of RIDs.

I think the right model for this would be, given a TestTFM, select from the ava

[2016-10-07 22:15] alexperovich opened #12467 "Exceptions don't properly round trip StackTrace through binary formatter occasionally."
When running tests the MissingSatelliteAssemblyException fails to round trip StackTrace. The original file line number and the round-tripped line number don't match. The System.Resources.ResourceManager tests project has the failing test.

The exception properly round trips when the VS CoreClr debugger is attached.

[2016-10-07 22:20] alexperovich opened #12469 "Replace ProjectReferences with Package references in projects affected by System.Resources changes"
- [x] System.Runtime.InteropServices
- [x] System.IO.UnmanagedMemoryStream
- [x] System.IO.FileSystem.Primitives
- [x] System.Resources.ResourceManager
- [x] System.Resources.Reader
- [x] System.ComponentModel.TypeConverter

Follow up on #12468

[2016-10-07 22:30] rahku commented on #9327
check why unhandledException test causes xunit to crash on OSX

[2016-10-07 22:36] ViIvanov commented on #4690
@Priya91, @weshaggard Should I send my PR to the `master` branch or to the `feature` branch, because I "adding API to a type that exists in the full .NET Framework"? (https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/branching-guide.md)

[2016-10-07 22:38] rahku commented on #9327
Donno how it works. I hit this exception.
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Reflection/Assembly.cs#L324
https://github.com/dotnet/coreclr/blob/master/clr.coreclr.props#L67

[2016-10-07 22:43] Priya91 commented on #4690
The PR should be towards master branch, we'll be merging future to master soon, and then we'll mark this issue with netfx-port-consider label, to add this API back to Desktop.

[2016-10-07 22:52] MitchellSternke opened #12472 "SqlConnection.Open() thrown SqlExceptions do not have an error number on OSX/Linux"
If you call Open() on a SqlConnection that errors out (for example, because of a bad hostname), the thrown SqlException will not contain an error number on Mac OSX (i.e. SqlException.Number is always 0).

I specifically noticed this with SqlException error code 53 "A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was n

[2016-10-07 23:00] Tandis5 commented on #5593
@sepidehMS Mine is an ASP.net core web service...  started with an empty project and downloaded System.Xml.ReaderWriter (version 4.0.11) from NuGet.  I've never used myGet before.  Where can I find it on there?  I tried searching for a bit but was unsuccessful.

[2016-10-07 23:27] gkhanna79 commented on #9327
That is because the AssemblyRef has a codebase associated with it. This was not supported in Phone but if we want to support it for .NET Core, it can be done via ALC.LoadFromAssemblyPath

[2016-10-07 23:44] #12196 closed

[2016-10-07 23:51] Tandis5 commented on #5593
@sepidehMS @mstruppBE Ok I got the 4.4.0 beta version from myGet, but I'm still having the same issue.  I'm assuming it has something to do with it referencing the wrong library under the package.  I changed my project.json to have "netstandard1.7" as a framework import, but that didn't change anything.  If I browse to the System.Xml.ReaderWriter in the references it appears as if that library is

[2016-10-08 02:39] karelz commented on #1967
@AArnott @ianhays can you please update the original post then and flip it to 'api-ready-for-review'?
Thanks!

[2016-10-08 02:41] karelz commented on #12235
@steveharter do we need to port it to 1.1.0 release branch?

[2016-10-08 02:44] karelz commented on #12139
@tijoytom please check with @weshaggard if they could/should be removed from netstandard2.0.
I wonder why Xamarin has them and if we shouldn't do the same. Is there any reason we switched the derived type to generic dictionary?

cc: @stephentoub

[2016-10-08 02:45] karelz commented on #12372
@AlexGhiondea is there anything left, or should we close the issue?

[2016-10-08 02:46] karelz commented on #12456
@rahku is it part of netstandard2.0 work?

[2016-10-08 02:50] karelz commented on #12452
@zadjii-msft which class is the bug in? Who discussed it with you?
For future: Please post relevant parts of offline discussion here for everyone to see.

[2016-10-08 02:56] karelz commented on #12431
@kouvel is it part of netstandard2.0 work?

[2016-10-08 03:37] kouvel commented on #12431
Yea it's a cleanup task for ns2.0 work

[2016-10-08 03:43] jkotas commented on #11809
@ramarag

- The transitive closure of MarshalByRefObject has to go into System.Runtime (https://github.com/dotnet/standard/pull/13/files), impl in corelib
- ContextBoundObject should to System.Runtime.Extensions, impl in corefx repo
- AssemblyNameProxy should be moved from System.Runtime to System.Runtime.Extensions (it belongs together with AppDomain, etc.)
- The transitive closure of IRemotingFo

[2016-10-08 03:44] jkotas commented on #11809
Let me know if any of this is not working out...

[2016-10-08 05:16] weshaggard commented on #12380
I think updating this is reasonable and shouldn't be much of a compat issue.

[2016-10-08 06:24] weshaggard commented on #5593
@Tandis5 what do you mean by adding "netstandard1.7" as a framework import? Can you show a snippet of your project.json? I believe you will actually need to change your framework to "netstandard1.7" and not import it.

[2016-10-08 06:28] weshaggard commented on #12139
The API, including the base types, should match what is in netstandard https://github.com/dotnet/standard/blob/master/netstandard/ref/System.cs#L5774.

[2016-10-08 07:05] #12380 closed

[2016-10-08 12:49] stephentoub commented on #12452
He discussed it with me.  The concern is that our console key reads sequences like the Cursor Position Response in a way that breaks if the terminal doesn't write positions atomically.  The CPR format is \ESC[row;colR.  When we go to read the row, we currently read until we get a digit, and then we parse whatever digits we have in the buffer.  This works fine on all of the systems we tested on, be

[2016-10-08 12:54] vincentshow opened #12477 "how can i use DESCryptoServiceProvider in dotnet core?"
I'm migrating a old library to dotnet core. There is a decrypt_encrypt helper class that using DESCryptoServiceProvider of .net framework4.0 as its algorithm. But I cannot find this class in dotnet core. Does anyone know how to find it? Thanks

[2016-10-08 13:05] hughbe commented on #12341
@karelz there may already be some, but any plans to let us contribute to the docs? Via GitHub perhaps?

[2016-10-08 13:22] karelz commented on #12341
Good question -- @terrajobst @weshaggard would that be technically possible?

[2016-10-08 13:32] svick commented on #12477
`DESCryptoServiceProvider` is not currently part of .Net Core. See https://github.com/dotnet/corefx/issues/11116 for an issue about adding it.

[2016-10-08 14:41] AlexGhiondea commented on #12372
Yes. The tests have not yet been re-enabled. I am waiting for the updated packages to be available.
I will finish this Monday.

[2016-10-08 20:51] prajaybasu commented on #9438
Can't there be any better name than DeriveBytes and Rfc2898DeriveBytes ?
[Maybe make it consistent with UWP ](https://msdn.microsoft.com/en-us/library/windows.security.cryptography.core.keyderivationalgorithmprovider.algorithmname.aspx)?

[2016-10-08 22:03] Petermarcu commented on #12477
Going to close this one as a duplicate of #11116 where we're tracking the work to add it.

[2016-10-08 22:03] #12477 closed

[2016-10-08 22:06] Petermarcu commented on #12461
@ellismg , is there an issue in the buildtools repo to track adding this?

[2016-10-08 22:08] Petermarcu commented on #11802
@steveharter , Dan removed the netstandard2.0 label because only things in 4.6.1 are in. Did you confirm that this was added in 4.6.1 and not 4.6.1? If not, we should remove the label.

[2016-10-08 22:49] stephentoub commented on #11995
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/1362/

[2016-10-09 00:08] stephentoub commented on #1745
We need a solution to this for Unix.  This ends up breaking higher level code, e.g. a variety of things in System.Xml around schemas, that are accustomed to passing file paths to Uri, which works on Windows and breaks on Unix.
cc: @sepidehMS, @karelz

[2016-10-09 00:09] Tandis5 commented on #5593
@weshaggard So I'm confused by the whole .net core vs .net standard and how this project.json works.  After reading some I realize now that what I was doing was wrong.  Are you saying I need to remove "netcoreapp1.0" from my "frameworks" node in the project.json and replace it with "netstandard1.7"?  When I try that I get an error during package restore that says "Microsoft.NETCORE.App 1.0.1 is no

[2016-10-09 00:26] stephentoub opened #12483 "Lots of XML tests are not being run in CI"
You can see in the log at http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug/30/consoleText , for example, that even though XML tests like System.Xml.RW.XmlSystemPathResolver.Tests get compiled, they never get executed.  At least one bug I'm aware of is not getting flagged as a result.
cc: @sepidehMS

[2016-10-09 04:36] Petermarcu commented on #12388
@bartonjs @morganbr , Is this then by design or do you want to actually enable this?

[2016-10-09 04:44] Petermarcu commented on #12402
@Eilon @emgarten , should we move this issue to where the package lives or do you want to track as a NuGet issue?

[2016-10-09 04:45] Petermarcu commented on #12396
@JeremyKuhne , this is probably more interesting for 1.2 at this point unless its a regression from 1.0.

[2016-10-09 04:47] Petermarcu commented on #12386
Adding to 1.2 since its tagged with netstandard2.0. If not for netstandard 2.0, it can go back to no milestone.

[2016-10-09 04:53] Petermarcu commented on #10936
Is this in netstandard 2.0 or a future milestone. We shouldn't have future and netstandard2.0 on any issues.

[2016-10-09 04:54] Petermarcu commented on #10579
Is this in netstandard2.0 per the label? If so, please put it in the 1.2 milestone.

[2016-10-09 04:54] Petermarcu commented on #9946
Is this in netstandard2.0 per the label? If so, please put it in the 1.2 milestone.

[2016-10-09 04:54] Petermarcu commented on #10023
Is this in netstandard2.0 per the label? If so, please put it in the 1.2 milestone.

[2016-10-09 04:55] Petermarcu commented on #9873
Is this in netstandard2.0 per the label? If so, please put it in the 1.2 milestone.

[2016-10-09 04:55] Petermarcu commented on #9483
Is this in netstandard2.0 per the label? If so, please put it in the 1.2 milestone.

[2016-10-09 07:33] ramarag commented on #11809
@jkotas  the following types are not part of closure of the above APIs. Should i put them in System.Runtime.Extensions ?
System.Runtime.Remoting.Messaging.IMethodCallMessage
System.Runtime.Remoting.Messaging.IMethodMessage
System.Runtime.Remoting.LogicalContext
System.ContextStaticAttribute
System.ContextMarshalException

[2016-10-09 08:09] jkotas commented on #11809
Sounds reasonable. Also, could you please move Header to System.Runtime.Exceptions as well? (Fix TODO at https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Formatters/src/System/TemporaryStubs.cs#L97).

[2016-10-09 13:17] stephentoub commented on #12483
Also, a bunch of the test projects are pulling in System.Private.Xml from the published packages rather than the live bits.

[2016-10-09 14:39] #10157 closed

[2016-10-09 14:41] #12381 closed

[2016-10-09 16:12] varocarbas opened #12492 "Improvements in the System.Random methods"
When relying on the `System.Random` methods, I usually expect to get unique numbers; or might prefer to only account for specific values within the input range (e.g., all the numbers from 0 to 1000 except 5, 10 and 200). That's why I am used to complement my calls to these methods with a code like this one:

[code]

This code can become a bit more complex under certain conditions to avoid too-slow

[2016-10-09 16:54] svick commented on #12492
All I can do is to be part of a discussion, including details like naming. So, feel free to ignore me to whatever degree you want.

---

I think that getting a sequence of unique numbers sounds like a relatively common requirement. But I'm not sure why would you want to exclude specific values otherwise, could you explain what the use cases for that are?

And when it comes to getting a sequence of

[2016-10-09 17:10] rnagpal opened #12494 "Unable to incrementally test .NET Core application"
I'm working on a .NET Standard 1.6 assembly and referencing it in a .NET Core 1.0 Console App via Manage Nuget packages.. under the References mode.

I've observed that as I make fixes in my assembly, I uninstall the currently referenced nuget package from the .NET Core App project and install the updated nugget package, it somehow used the old assembly/pdb as I'm unable to debug the source by put

[2016-10-09 17:20] varocarbas commented on #12492
@svick

Why would I ignore you? Have I ever done such a thing in the past? I never ignore people unless under very specific circumstances (e.g., unreasonable individuals).  I want to certainly minimise the discussion, but I guess that you know that from previous conversations with me (didn't write this in my post). I think that you misunderstood the minimising everyone's unnecessary efforts part;

[2016-10-09 17:44] #11608 closed

[2016-10-09 17:44] #11614 closed

[2016-10-09 18:21] karelz commented on #1513
What's remaining to close it?

[2016-10-09 18:42] karelz commented on #1745
Looks like it will be necessary for our netstandard2.0 work.

[2016-10-09 21:20] jamesqo commented on #12425
Very, very much +1 for this idea. Could contain other useful methods such as

[code]

to prevent people from having their own hand-rolled, inefficient implementations.

IMO, we may also want to name it something like `BitUtility` instead of `BitManipulation`. The latter feels a bit verbose, and is more prone to typos.

[2016-10-09 21:34] mburbea commented on #12425
Isn't CountBits just pop count?

[2016-10-09 22:08] jamesqo commented on #12425
@mburbea Yes, indeed. I believe the JIT does not currently generate that instruction yet though (related issue: #2209) so this might be a good entry point to expose it.

[2016-10-09 23:22] justinvp commented on #1513
Hi Karel! Long time no see 😃. I opened #12495 to expose these in netcoreapp1.1. Once that's merged, I think we can close this, assuming it doesn't need to stay open to track adding to the desktop framework and mono.

[2016-10-09 23:28] rnagpal opened #12496 "GetCurrentMethod replacement in .NetCore"
I’m having trouble converting the call to GetCurrentMethod below to .NET Core compatible syntax. Can someone help?

This is a static method in a static class.

internal static IQueryable<TResult> AsSQL<TSource, TResult>(
            this IOrderedQueryable<TSource> source,
            SqlQuerySpec querySpec)
        {
            if (querySpec == null)
            {
                throw new Argume

[2016-10-10 06:48] dasMulli commented on #12492
Assuming your list of excludes is sorted and contains no element > max / < min, you could write the following (not tested):
[code]
It's just creating a continuous virtual range of numbers and mapping it to the fragmented range. The time complexity is O(n) of `toIgnoreSorted.Length`. And you will get Random's distribution algorithm for all values, not introducing any bias (except for Random's impli

[2016-10-10 08:03] RimashMohomed opened #12501 "Build error in SUSE 11 SP3"
When i try to build in
`Linux sles11-sp3 3.0.101-0.15-default #1 SMP Wed Jan 22 15:49:03 UTC 2014 (5c01f4e) x86_64 x86_64 x86_64 GNU/Linux`

 corefx gives below error

`corefx/src/Native/Unix/System.Native/pal_io.cpp:135:37: error: use of undeclared identifier 'IN_EXCL_UNLINK'; did you mean 'PAL_IN_EXCL_UNLINK'?
static_assert(PAL_IN_EXCL_UNLINK == IN_EXCL_UNLINK, "");
^~~~~~
PAL_IN_EXCL_UNLINK
cor

[2016-10-10 08:41] varocarbas commented on #12492
@dasMulli

Too many assumptions (= you have to make sure that the input set verify them = you have to spend additional resources).

No, I couldn't. Your code has numerous mistakes, as explained below. In any case, note that I wrote a sample code to illustrate my point; this isn't even the code which I would be implementing in the proposed APIs. Additionally, this isn't a StackOverflow-like forum w

[2016-10-10 09:20] varocarbas commented on #12492
@svick

After answering to the last contribution (and quite a few past experiences, some of them with you), I think that it will be better to systematically apply the "let's call everything by its exact name, just to avoid problems".

I guess that you work for the .NET team and you are expected to somehow trigger a discussion (+ help to correct problems). I don't want to make anyone's work harder,

[2016-10-10 09:31] janvorli commented on #11036
I would try to run `sos EEHeap -gc` command to see information on memory consumed by the GC heap and also `dumpheap -stat` to dump more details. That would help us to see if the memory consumed is in the GC heap.
You can also try the following to dump malloc info:
`call (void)malloc_stats()`
`call (void)malloc_info(0, stdout)`

[2016-10-10 10:57] Jupakabra commented on #12494
You need to delete nuget package from the cache, most likely located in `<user>/.nuget/packages`.

[2016-10-10 12:44] stephentoub commented on #12492
@varocarbas, I appreciate your passion and interest, and your desire to contribute.  I want to let you know that, at least from my perspective, many of your comments come off sounding combative and insulting.  Chastising someone for providing what you believe is unsolicited advice, stating that things are happening only in one's imagination, calling someone an unreliable source, etc.  I realize th

[2016-10-10 13:11] varocarbas commented on #12492
@stephentoub

I am sorry that you see it in this way, because my only intention is making sure that the conversation doesn't derail much. Perhaps my tone is a bit hard, but there are some reasons for it; to not mention that it pursues a beneficial-to-everyone goal. In any case, I do understand that my behaviour might be some times against what you like.

No problem with a fruitful discussion. My i

[2016-10-10 13:13] stephentoub commented on #12492
Thanks, @varocarbas :smile:

[2016-10-10 13:20] DanielMcAssey commented on #984
+1

[2016-10-10 13:23] rnagpal commented on #12494
@Jupakabra Thanks! That worked!

[2016-10-10 13:23] #12494 closed

[2016-10-10 14:39] deepumi commented on #12421
@karelz  Thank you for adding the label.

Since UriBuilder class belongs to System namespace could you please add **area-System** label as well.

[2016-10-10 14:39] mburbea commented on #12425
Yeah, @jamesqo, all I was saying that the method was covered. I wouldn't be opposed to calling it something else, I went with the name because it was suggested by @mellinoe .
I think these are good additions and once we have some of these intrinsics could be implemented quite easily.
[code]

[2016-10-10 14:42] svick commented on #12492
@varocarbas

I do not. I am a non-MS contributor, just like you. (Though ask me again in two years, maybe the answer will be different by then 😄.)

My aim is not really to trigger a discussion. It's to express flaws that I perceive in proposals and to get them fixed, if others agree with my perception.

My code was meant to show that your proposed API is not sufficient for the "getting a sequence

[2016-10-10 14:56] druvisc opened #12503 "Unhandled Exception: System.IO.IOException: Too many open files"
Opening an issue here as requested from https://github.com/xunit/xunit/issues/874.

Running `dotnet test` I got this error:

[code]

[code]

[2016-10-10 15:11] varocarbas commented on #12492
Seriously? By answering so much and so quickly? (You wrote your reply to my first post around 30 mins after I wrote it!). Honestly, I thought that you were somehow related to Microsoft, perhaps not a member of the .NET team but paid by them. Sorry for the misunderstanding.

How do you expect to avoid repeating random numbers without storing the previously generated ones? Most of the `System.Random

[2016-10-10 15:12] varocarbas commented on #12492
@svick

Seriously? By answering so much and so quickly? (You wrote your reply to my first post around 30 mins after I wrote it!). Honestly, I thought that you were somehow related to Microsoft, perhaps not a member of the .NET team but paid by them. Sorry for the misunderstanding.

How do you expect to avoid repeating random numbers without storing the previously generated ones? Most of the `Syste

[2016-10-10 15:50] Petermarcu commented on #4673
@AlexGhiondea @weshaggard , Any reason we can't add this API and get the code merged into a version of netcoreapp? Looks like its approved and the PR is sitting in the coreclr repo...

[2016-10-10 15:54] #11702 closed

[2016-10-10 15:54] svick commented on #12492
I don't see why this is something that shouldn't be changed. If the goal is to make generating a specific kind of a sequence of random numbers better, then I think it's natural to do that using a method that returns a sequence, especially if doing that was more efficient.

If I accept your assumption that `Random` should always return values one by one, then a more efficient way would be to accept

[2016-10-10 15:57] weshaggard commented on #12260
I suggest this issue be split up as it has a number of different tasks. Process, Tracing, StackTrace being three of the specific areas.

[2016-10-10 15:57] jamesqo commented on #12425
@mburbea

Ah, ok, I see.

Question-- do you think it's necessary to have methods like `IsBitSet`, `GetByte`, `SetByte`, etc? I mean most people with basic knowledge of bit manipulation would know they could just write `(value & (1 << position)) != 0` instead of `IsBitSet`, `(value & 0xFF00) >> 8` instead of `GetByte(value, 1)`, etc. I think the most useful methods in this class would be the ones t

[2016-10-10 16:07] hughbe commented on #11703
Fixed in #7206

[2016-10-10 16:07] #11703 closed

[2016-10-10 16:11] svick commented on #12425
@jamesqo I think it's easier to *read* a single method call with a descriptive name than an expression with three operators and two magic constants (even if they are just 0 and 1). Especially when it comes to negation, I think it's relatively easy to confuse `(value & (1 << position)) != 0` and `(value & (1 << position)) == 0`, but you aren't likely to confuse `IsBitSet(value, position)` with `!Is

[2016-10-10 16:16] justinvp opened #12505 "Merge Future branch into Master"
New APIs were added in the Future branch a while ago. It'd be nice if the changes were merged into Master so we could make the new APIs available in netcoreapp1.1.

https://github.com/dotnet/corefx/compare/future

Some examples:
 - #1384 - Regex group should have a Name property
 - #1783 - Add ConcurrentDictionary GetOrAdd/AddOrUpdate overloads with generic arg
 - #1756 - Implement generic interfa

[2016-10-10 16:23] stephentoub commented on #12505
https://github.com/dotnet/corefx/issues/2869

[2016-10-10 16:23] varocarbas commented on #12492
@svick

Mainly because of the way in which things work around here. Improvements in existing method are quite difficult to be accepted; the more modifications, the less likely the proposal to go through. I think that my original suggestions are quite good because of covering the probable scenarios and not requiring many modifications.

I plainly emulated the most common structure for these cases (

[2016-10-10 16:27] jamesqo opened #12506 "Reduce generic exception code bloat in System.Linq"
Currently System.Linq uses this pattern to handle invalid arguments:

[code]

Where `ArgumentNull` gets inlined. This introduces significant jitted code bloat since the Linq methods are generic, so this code (which very rarely gets hit) is generated over and over again for different value types.

We should convert all of this to the form

[code]

As of dotnet/coreclr#6103 methods that are known to

[2016-10-10 16:31] terrajobst commented on #12341
@ericstj @weshaggard are we still including IntelliSense .xml files with our packages?

[2016-10-10 16:33] Eilon commented on #12402
@Petermarcu I don't think this is a problem with the package, is it?

[2016-10-10 16:34] stephentoub commented on #12506
Can you share numbers?

[2016-10-10 16:37] karelz commented on #12505
Dupe of #2869

[2016-10-10 16:37] #12505 closed

[2016-10-10 16:37] ericstj commented on #12402
I think its a NuGet issue.  NuGet is giving a bogus error.  It appears to have read the correct info from the package, but it isn't honoring the compatibility mappings between netcoreapp1.0 > netstandard1.6 ( including netstandard1.3). /cc @robrelea

[2016-10-10 16:45] ericstj commented on #12341
Yeah, but I believe we're just picking up a snapshot from TFS.

[2016-10-10 16:48] karelz commented on #12421
The area should (typically) match contract assembly (which is System.Runtime.Extensions for UriBuilder).

[2016-10-10 16:50] karelz commented on #12341
Would it make sense to pick up the live .xml files from build?

[2016-10-10 17:02] jamesqo opened #12509 "Proposal: Adding a concise API for throwing exceptions"
## Background

Argument validation is done a lot in .NET code. So much, in fact, that people almost always find that writing `throw new ArgumentNullException(...)` et al. each time is too verbose, and end up writing their own helper classes to throw exceptions. Some random examples I picked from GitHub: [Octokit.NET](https://github.com/octokit/octokit.net/blob/master/Octokit/Helpers/Ensure.cs#L16)

[2016-10-10 17:06] Eilon commented on #12402
@ericstj it's @rrelyea 😄

[2016-10-10 17:10] ericstj commented on #12341
We do for brand-new libraries that were never in desktop, but right now the live docs in source are much smaller than the authored docs (from TFS).  The authored docs have all the existing info from the types in desktop and include localization.  For most of our types where we are just exposing stuff from desktop its probably the right thing to do to pull from existing docs.  There's likely some a

[2016-10-10 17:36] tijoytom opened #12510 "Move HttpVersion to System.Net.Primitives"
HttpVersion is privately copied in `System.Net.Http` and `System.Net.Http.WinHttpHandler`. Moving it to lower-level contract will unify all these private copies.

Note: Private copy in `Common` has two additional values in it. They are not in .NET 4.6 and Xamarin, so we can't add them in public netstandard2.0 contract.

More details in: https://github.com/dotnet/corefx/pull/12347#discussion_r81843

[2016-10-10 17:38] tijoytom opened #12512 "Implement ContinueDelegate for System.Net.HttpRequest"

[2016-10-10 17:40] tijoytom opened #12513 "Replace custom date-parsing (HttpDateParse.cs) with DateTime.Parse"
Need to make sure DateTime.Parse handle all the cases HttpDateParse deal with ..

https://github.com/dotnet/corefx/pull/12347/files/7fe03ad63fbe79d791228319e16e0f1910f4d06d#diff-93d09013382d2a05606b12516b65ea11

[2016-10-10 17:50] karelz commented on #12341
I see. Unfortunately if we pick only the old docs, we won't be able to improve them (at least not in the open).
It would be great to have the ability to pick specific docs from live build -- the process would be: Migrate docs from old system + consume them from CoreFX live build + improve them in CoreFX.
Would that be technically possible? (e.g. would we lose the ability to localize docs)

cc: @ma

[2016-10-10 17:59] karelz commented on #1513
Hey Justin, good to see you here :).
Thanks for your changes. We can close it with your PR. Porting to other platforms will be taken care of by the netfx-port-consider tag.

[2016-10-10 18:02] ellismg commented on #12461
@Petermarcu No.  I was going to use this one to track it, since this was the place we did this.

[2016-10-10 18:25] #12176 closed

[2016-10-10 18:44] karelz commented on #12396
@JeremyKuhne is it a regression against 1.0? If not, please change the milestone to Future/1.2.

[2016-10-10 18:46] emgarten commented on #12402
This does look like a NuGet issue, the package framework should be compatible here. It looks like there may be other issues causing it to fail the compatibility check.

[2016-10-10 18:50] benaadams commented on #12506
@jamesqo is probably better to go throw enum helpers with a function look-up like ThrowHelper in coreclr then they can be reused as the enum is a single numeric stack load. `nameof` does a string load so is slightly larger; and not combining would mean an exception for each argument name.

So more
[code]

Standard type `throw new ArgumentNullException(nameof(source))` or an inlined throw becomes
[

[2016-10-10 19:10] karelz commented on #11572
Stephen, I assume you are working on it ... assigned to you.

[2016-10-10 19:11] stephentoub commented on #11572
https://github.com/dotnet/corefx/pull/12507

[2016-10-10 19:34] moozzyk opened #12517 "System.Security.Cryptography.Native.OpenSsl not found on Ubuntu 14.04"
A SignalR sample project fails on Linux because it cannot find System.Security.Cryptography.Native.OpenSsl. I turned on LD_DEBUG and can see that it is probing in different location but is not able to find it. SignalR uses "System.Security.Cryptography.Algorithms": "4.2.0-*" to [get a random number](https://github.com/aspnet/SignalR-Server/blob/9680e9c2c185a19604390003a6f10489d0538a56/src/Microsof

[2016-10-10 19:53] #11572 closed

[2016-10-10 20:02] stephentoub opened #12518 "Different handling of comparison options between Windows and Linux"
Repro:
[code]
On Windows this prints out 0.  On Linux it prints out -1.  Is that expected?

This difference is causing a failure in one of the SqlClient tests on Unix.

cc: @tarekgh, @ellismg, @eerhardt

[2016-10-10 20:04] eerhardt commented on #12518
@stephentoub - did this test recently start failing?  Or has it never been run x-plat before?

[2016-10-10 20:06] stephentoub commented on #12518
I *think* it simply hasn't been run x-plat before.  As part of porting DataSet/DataTable/etc. to corefx, I moved several tests from the SqlClient manual tests down to System.Data.Common (tests related to the SqlTypes that could easily be automated), and this is one of them.   I'm guessing those manual tests simply weren't run on Unix.

[2016-10-10 20:08] eerhardt commented on #12518
Check out all the differences in

https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Globalization/tests/CompareInfo/CompareInfoTests.Compare.cs

(search "Windows" in that file).

I couldn't say definitively that this is expected without digging deeply into it.  But there are plenty of differences in this area between Windows and ICU rules that I wouldn't be

[2016-10-10 20:12] ashwinkambli commented on #12402
I am glad that his has been narrowed down to NuGet. But, like I mentioned earlier, re-installing the NuGet package (to 3.4.4) did not resolve this issue. Is there anything I can do to help troubleshoot?

[2016-10-10 20:12] janvorli opened #12519 "Cannot build System.Native.so on Alpine Linux (MUSL)"
The native System.Native.so build fails on Alpine Linux with a signed to unsigned comparison warning:
[code]

[2016-10-10 20:19] mburbea commented on #12425
I'm not opposed to removing them if they're considered a hindrance to api acceptance, but I like having convience methods. None of those methods are hard to write, but like most C# developers most of my code is higher level, so I rarely twiddle bits. When I need to, I often end up googling these things, so centralizing them made sense to me.

[2016-10-10 20:30] karelz commented on #12517
@bartonjs @steveharter is it a known issue?

[2016-10-10 20:30] jimcarley commented on #11995
Stephen,

Unfortunately there is not much information in the output to help figure out why the transaction is aborting. I am guessing it is a timeout for some reason, but I am not 100% sure.

Is there a way to add tracing to tests running inside xunit? Where does the output of such tracing get written to?

Thanks.

Jim

From: Stephen Toub [mailto:notifications@github.com]
Sent: Saturday, October 8

[2016-10-10 20:33] karelz commented on #12510
@tijoytom what is the value/benefit? (please edit original text)

[2016-10-10 20:36] tijoytom commented on #12510
@karelz Please refer the link ,it has detailed discussion about why it's good to have it in S.N.Primitives.. I i don't know how to link the exact comment in a PR

[2016-10-10 20:40] ianhays commented on #7570
The work remaining on this is to propose an API for a ZLibStream class that compresses/decompresses deflate data that is wrapped in a ZLib header. The API (and implementation for that matter) for this should probably just be a copy/paste of GZipStream.

[2016-10-10 20:43] ianhays commented on #9237
closing this until we actually need it i.e. when we have more compression algorithms in Sys.IO.Compression.

[2016-10-10 20:43] #9237 closed

[2016-10-10 20:45] ianhays commented on #9704
Next step here is to provide an API suggestion to get discussion moving. LZ4 support is a reasonable suggestion and something we would benefit from having.

[2016-10-10 20:46] ianhays commented on #9709
Closing this until we need it i.e. when we have more compression classes to differentiate between.

[2016-10-10 20:46] #9709 closed

[2016-10-10 20:46] #9789 closed

[2016-10-10 20:47] ianhays commented on #9867
resolved in https://github.com/dotnet/corefx/pull/11518

[2016-10-10 20:47] #9867 closed

[2016-10-10 20:54] sepidehMS commented on #7793
Done by https://github.com/dotnet/xml/pull/63 and merged into master. Closing.

[2016-10-10 20:54] #7793 closed

[2016-10-10 20:54] ianhays commented on #11571
completed by @stephentoub in https://github.com/dotnet/corefx/commit/73c954517c9fbdea29fe1884fb143cb6ab3af4ec

[2016-10-10 20:55] redknightlois commented on #12425
@mburbea @jamesqo I write a lot of bit twiddling code and still would appreciate to be able to get a proper API I could reason about instead of having my entire codebase filled with magic constants, shifts and binary operations. Always as long as the actual code generated is as efficient (guaranteed) as the code generated using them.

[2016-10-10 20:56] stephentoub commented on #11571
@davidfowl, were there additional changes you were looking at here?

[2016-10-10 21:00] jamesqo commented on #12425
@redknightlois Hmm, ok. I guess popular vote wins since everyone seems to want those methods :smile: There is still the issue of ambiguity whether `position` starts from the msb or lsb, though.

[2016-10-10 21:14] ianhays commented on #12066
It's certainly possible to add encryption support to ZipArchives. There are a few competing standards for which encryption and accompanying header definitions, but I think the AES one used by 7-zip is one of the more popular ones. There's also basic passwords included in the zip format but iirc those are easily crackable.

The format also has some strong encryption support but it's copyrighted so

[2016-10-10 21:16] tarekgh commented on #12518
@eerhardt should knows better here but it looks to me the custom rules we have in Linux is not handling the full-width Katakana letters which can be expanded.

for example the failing string from @stephentoub sample code including 0xFF7D, 0xFF9E which are defined as

[code]

and we are comparing it to the character 30BA

[code]

which should be expanded to the letters
[code]

so we expect the stri

[2016-10-10 21:18] mburbea commented on #12425
That might be a question of endianness (as in big endian long, the msb is where the 0th bit is stored and the lsb is where the 63rd bit is stored, but in little endian it's reversed),

Intuitively, I feel its implied that its in sequential order for your hardware. e.g. `SetBit(0, 0, true)` should return the number 1 regardless of endian order.

[2016-10-10 21:27] ianhays commented on #11497
Seems reasonable to me assuming it doesn't incur any unexpected perf costs. Marked as up for grabs.

[2016-10-10 21:30] sepidehMS commented on #10322
Closing as I believe this is now fixed. Please feel free to reopen if your problem hasn't been solved.

[2016-10-10 21:30] #10322 closed

[2016-10-10 21:37] jimcarley commented on #11995
Also, for failed build/test runs, where can I find the testResults.xml file for the System.Transactions.Tests run for that build?

Jim

From: Jim Carley
Sent: Monday, October 10, 2016 1:31 PM
To: 'dotnet/corefx' <reply@reply.github.com>
Subject: RE: [dotnet/corefx] CloneTxTests.Run failed in CI (#11995)

Stephen,

Unfortunately there is not much information in the output to help figure out why the

[2016-10-10 21:39] terrajobst opened #12525 "Port xsd.exe to .NET Core"
Currently, xsd.exe is a command line tool that runs against .NET Framework. We don't have a .NET Core and thus no cross-platform version of this tool.

[2016-10-10 21:43] jimcarley commented on #11995
Never mind on my question about where to find the testResults.xml. I figured out how to find what I needed.

But I still have the question about tracing/logging from an xunit test.

Jim

From: Jim Carley
Sent: Monday, October 10, 2016 2:37 PM
To: 'dotnet/corefx' <reply@reply.github.com>
Subject: RE: [dotnet/corefx] CloneTxTests.Run failed in CI (#11995)

Also, for failed build/test runs, where can

[2016-10-10 21:45] eerhardt commented on #12518
@tarekgh - you are correct, we didn't write any custom code to handle the expansion of characters.

[2016-10-10 21:46] Priya91 opened #12526 "Capturing Identity context in async smtp call doesn't check if the credential is in cache."
This check depends on a call to an internal member in `CredentialCache` called `CredentialCache.IsDefaultInCache`, which is not available in .NETCore. Need a way to simulate this behavior.

Desktop reference [here](https://referencesource.microsoft.com/#System/net/System/Net/mail/SmtpClient.cs,627)

[2016-10-10 21:54] Priya91 opened #12529 "Authentication for System.Net.Mail does not impersonate for SystemNetworkCredential"
WindowsIdentity.Impersonate is not available in .NET Core, this is a deviation from Desktop.

Refer to desktop code [here](https://referencesource.microsoft.com/#System/net/System/Net/mail/smtpconnection.cs,481)

[2016-10-10 21:56] ramarag commented on #11809
@jkotas System.Runtime.Remoting.Messaging.Header forms part of the closure of IRemotingFormatter.
do i still it move to system.runtime.extensions from  System.Runtime.Serialization.Formatters?

[2016-10-10 21:57] deepumi commented on #12421
@karelz Thank you got it.

[2016-10-10 21:59] #6602 closed

[2016-10-10 22:00] moozzyk commented on #12517
See @halter73 comment: https://github.com/aspnet/SignalR-Server/issues/237#issuecomment-252751296

[2016-10-10 22:00] danmosemsft commented on #12525
dupe of https://github.com/dotnet/corefx/issues/8647

[2016-10-10 22:01] danmosemsft commented on #8647
Now we have CodeDOM we do want to take a look at this for 1.2. Not immediately though.

[2016-10-10 22:07] halter73 commented on #12517
Could the System.Security.Cryptography.Native.OpenSsl.so shim go into a fat package?

I think it's a really bad experience to have an app the successfully restores and builds without errors on all platforms and runs just fine on Windows, but blows up at runtime on Linux and Mac.

[2016-10-10 22:07] moozzyk commented on #12517
Ideally this kinds of conditions should be detected at design time (e.g. during restore) since they are hard to diagnose. Also, the application works just fine on Windows and Mac.

[2016-10-10 22:13] karelz commented on #2342
It should be already done, @sepidehMS can you please double-check?

[2016-10-10 22:15] tarekgh commented on #12518
@stephentoub as this no thigh priority compared to the other stuff we are doing, I would suggest to work around this issue in the test for now and we can look at fixing it in the future.

[2016-10-10 22:15] karelz commented on #2295
We need API proposal. Anyone wants to do that?

[2016-10-10 22:16] karelz commented on #1595
We need API proposal ...

[2016-10-10 22:18] jkotas commented on #11809
All `System.Runtime.Remoting.Messaging.*` should be together. You can either add all of it to `System.Runtime.Serialization.Formatters` or to `System.Runtime.Extensions`. Both options are fine with me, `System.Runtime.Extensions` options is probably slightly better.

@stephentoub @weshaggard Do you have an opinion?

[2016-10-10 22:20] karelz commented on #7172
As discussed above, we won't change it due to compat. Please file a new doc bug if you think it will help.

[2016-10-10 22:20] #7172 closed

[2016-10-10 22:25] karelz commented on #4063
@sepidehMS is the test disabled?

[2016-10-10 22:28] karelz commented on #4057
Won't fix due to Desktop compat. We can change our mind later if necessary

[2016-10-10 22:28] #4057 closed

[2016-10-10 22:28] karelz commented on #4054
Won't fix due to compatibility.

[2016-10-10 22:28] #4054 closed

[2016-10-10 22:32] karelz commented on #9873
Won't fix for now.

[2016-10-10 22:32] #9873 closed

[2016-10-10 22:33] danmosemsft commented on #9877
The problem with the checksum approach is it's flaky and opaque when they fail. There are 60-70 tests disabled with this ID.

[2016-10-10 22:38] karelz commented on #7913
@sepidehMS wasn't able reproduce it in the past. If it still repros, please reopen.

[2016-10-10 22:39] #12251 closed

[2016-10-10 22:40] karelz commented on #10305
@krwq why is it in netstandard2.0 if it does not affect CoreCLR?

[2016-10-10 22:42] karelz commented on #10023
RefEmit is out of scope now.

[2016-10-10 22:42] #10023 closed

[2016-10-10 22:42] joperezr opened #12531 "Remove P2P reference from System.Runtime.Serialization.Formatters"
As part of changing MulticastDelegate's interfaces, we needed to add a temporary P2P reference from System.Runtime.Serialization.Formatters to System.Runtime, so this should be removed once the package versions are updated.

line: https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Formatters/src/System.Runtime.Serialization.Formatters.csproj#L67-L68

[2016-10-10 22:47] #12525 closed

[2016-10-10 22:53] karelz commented on #12146
This is global problem, not XML specific.

[2016-10-10 22:53] #12146 closed

[2016-10-10 22:54] danmosemsft commented on #10688
please also see #12144 as part of this

[2016-10-10 22:56] karelz commented on #11045
@danmosemsft says it's done.

[2016-10-10 22:56] #11045 closed

[2016-10-10 23:06] justinvp commented on #12510
https://github.com/dotnet/corefx/pull/12347#discussion_r81843383

[2016-10-10 23:14] divega opened #12534 "Support System.Transactions in SqlClient for .NET Core"
Given `System.Transactions` is going to be included in 1.2 (see https://github.com/dotnet/corefx/issues/2949) the next step seems to be to bring auto-enlistment of ambient transactions and related behaviors into the .NET Core version of SqlClient.

Note that the corresponding EF Core feature (tracked at https://github.com/aspnet/EntityFramework/issues/5595) will depend on this to work with SQL Ser

[2016-10-10 23:25] justinvp commented on #12526
The commit that removed the internal `IsDefaultInCache` property is: https://github.com/dotnet/corefx/commit/7dc31aba7399e3f3ba0d92c97dc306782732ee21. It'd be relatively easy to add back, but it's internal, so the only way to call it from System.Net.Mail would be to use a hack like reflection.

In lieu of adding a new public API, there is a slower way to determine whether the default is in the cac

[2016-10-10 23:26] #9777 closed

[2016-10-10 23:34] #6892 closed

[2016-10-10 23:43] Priya91 opened #12535 "Bring Ntlm, Negotiate and Digest authentication modules to .NET Core System.Net.Mail."
`System.Net.Mail` uses the Negotiate, Ntlm and Digest authentication protocols to try validate the credentials if the server supports it. These authentication modules depend on `NTAuthentication` internal type in `System.Net.Security`. This issue is to figure out a way to port these to .NET Core, to have newer implementation not depending on Security internal types or expose necessary new APIs on

[2016-10-10 23:45] Priya91 opened #12536 "Enhance performance of System.Net.Mail by pooling open TcpClient connections."
Desktop code used ```ServicePointManager``` to provide this, since .NET Core doesn't support ```ServicePointManager```, we need a way to keep ```TcpClient``` connections open and use existing ones for same connections.

[2016-10-10 23:48] Priya91 opened #12537 ".NET Core doesn't support getting mail settings from web.config files."
Desktop Full Framework supports parsing the ```<mailSettings>``` element from web.config files which provides smtp settings by using ```System.Net.Configuration.``` This contract is not available in netstandard2.0.

This issue tracks this feature difference and requires proposals.

[2016-10-10 23:53] Priya91 opened #12538 "Add support to drop mails to IIS pickup directory if IIS is running on Windows"
Currently .NET Core throws ```NotSupportedException``` for this, since the Desktop implementation depends on COM Interop. Needs investigation whether this feature is worth having in .NET Core and if so how to implement on Windows.

[2016-10-11 00:09] ramarag commented on #11809
@jkotas @weshaggard  If MarshalByRefObject is be implemented in S.P.Corelib, should we remove
 public virtual ObjRef CreateObjRef(Type requestedType) from the standard

As ObjRef pulls in a quite a bit of cruft that inturn would need to be pulled into  S.P.Corelib ?

[2016-10-11 00:13] karelz commented on #12510
@tijoytom what is the impact if we do not do it in 1.2? It sounds like we will create unnecessary compatibility burden. Wouldn't it be more desirable to address it as part of netstandard2.0?

cc: @ericeil

[2016-10-11 00:17] davidsh commented on #12510
Isn't .NET Core 1.2 == "netstandard20" ?  That is what we have been assuming.

This should be done as part of the "add back lots of APIs" work for netstandard20.  And that activity is what is happening in the [master] branch.

[2016-10-11 00:21] karelz commented on #12510
I thought so, marking as such. @tijoytom can you please fix it? Thanks!

[2016-10-11 00:22] karelz commented on #12510
@davidsh netstandard2.0 should imply 1.2. It is the key (and largest) feature in 1.2.

[2016-10-11 00:23] justinvp commented on #2869
Is this planned for the 1.2 timeframe? If so, should it be moved to the 1.2 milestone? If not, and I want to expose some of the new APIs for 1.2, should I just manually port those individual commits from Future to Master?

[2016-10-11 00:24] karelz commented on #12531
@joperezr is it part of netsandard2.0?

[2016-10-11 00:39] jimcarley commented on #12228
Well, these builds are now gone, so I don't see how I can dig deeper.

In the first failure (osx_debug_prtest 821), it looks like the test expected Transaction.Current to be "null", but in fact it contained a Transaction object which was already disposed.

In the second failure (centos7.1_debug_prtest1268), I have no data as to what the failure might have been.

[2016-10-11 00:40] karelz commented on #2869
It will happen in 1.2, only if we have time. If you or anyone else wants to help, that would be great.

@weshaggard can you please confirm there is nothing preventing us to take ports of the changes into master? (i.e. if @justinvp or someone create the port, we can take it)

[2016-10-11 01:03] dotnet-mc-bot opened #12539 "Test failure: System.IO.IsolatedStorage.GetCreationTimeTests/GetCreationTime_GetsTime_Unix"
Opened on behalf of @jiangzeng

The test `System.IO.IsolatedStorage.GetCreationTimeTests/GetCreationTime_GetsTime_Unix` has failed.

[code]

Stack Trace:

[code]

Build : Master - 20161010.02 (Core Tests)
Failing configurations:
- Fedora.23.Amd64
  - AnyCPU-Debug
  - AnyCPU-Release

link:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~

[2016-10-11 01:15] jkotas commented on #11809
This was discussed in https://github.com/dotnet/standard/issues/7. According to https://github.com/dotnet/standard/pull/13/, it should be 5 interfaces and 1 class. Is it what you see as well?

I agree that the closure is not pretty and it feels very ad-hoc. It does not feel we are doing the right thing by including it.

@ramarag Could you please find out how many apps override MarshalByRefObject.C

[2016-10-11 04:00] stephentoub commented on #12518
Ok. Thanks.

[2016-10-11 04:01] stephentoub commented on #11809
System.Runtime.Extensions seems fine to me.  As for CreateObjRef, IIRC it's practically never overridden; if the closure it brings in is really problematic, seems justifiable to leave it out.

[2016-10-11 04:09] stephentoub commented on #12519
Fixed by https://github.com/dotnet/corefx/pull/12520

[2016-10-11 04:09] #12519 closed

[2016-10-11 04:23] weshaggard commented on #11809
Even if the usage is zero in our data-sets we decided to keep those because otherwise there would be no way to implement them on top of netstandard. If we were going to remove that member and the closure we might as well remove MarshalByRefObject itself. I would prefer we just take that small closure of interfaces and put them in System.Runtime with MarshalByRefObject.

[2016-10-11 04:26] richlander commented on #52
The README.md on that repository has been updated to reflect this request.

https://github.com/Microsoft/referencesource/blob/master/README.md

[2016-10-11 04:26] #52 closed

[2016-10-11 04:41] weshaggard commented on #5593
@Tandis5 yes netstandard1.7 isn't compatible with netcoreapp1.0/Microsoft.NETCore.App1.0.1. Unfortunately we are in the middle of a large set of changes in our master branch right now which isn't going to be easily consumed in isolation. I suspect it would require a update of all the packages as well as the tools because an updated nuget(dotnet restore) is needed to understand the new target frame

[2016-10-11 04:47] Petermarcu commented on #12539
The offset of the machine is -07:53? :)

[2016-10-11 04:48] weshaggard commented on #10936
@JeremyKuhne I would just have this return known stores, or empty. I don't think we need to worry about the full enumeration that we do on desktop.

[2016-10-11 04:50] weshaggard commented on #9946
@danmosemsft I suspect you meant System.ComponentModel.DataAnnotations and not System.ComponentModel.Composition.DataAnnotations because I don't know anything about the later. At any rate DataAnnotations is not related to MEF v1 (i.e. System.ComponentModel.Composition). Which is not part of .NET Standard 2.0 so I'm removing the label. We should still consider adding MEF v1 to .NET Core at some poi

[2016-10-11 05:13] geoffkizer opened #12542 "FtpWebRequest can throw an exception if FtpWebResponse.Close is called without draining the response stream"
This issue exists in the desktop framework as well.

Run the following code:

[code]

On occasion, depending on the file size and other factors, you'll hit an exception in Close:

_An unhandled exception of type 'System.Net.WebException' occurred in System.dll
Additional information: The remote server returned an error: (550) File unavailable (e.g., file not found, no access)._

The referenced "La

[2016-10-11 05:19] weshaggard commented on #9873
@karelz while I'm fine with not actually fixing the compilation scenario I would like to better understand the dependency better because it might end up identifying some APIs we need to remove from netstandard before it ships.

[2016-10-11 05:21] weshaggard commented on #7913
Please see https://github.com/dotnet/corefx/blob/master/Documentation/building/build-tests-against-packages.md. We really do need to fix try and fix these as this is how our official build runs the tests, if we don't fix them then we are essentially not running these as part of our official test runs.

[2016-10-11 05:27] zhenlan commented on #7325
Thanks @karelz. We are currently looking through all our usage of this API in WCF code and we think we may be able to work it around by avoiding using this API in all cases (on Linux build), so we are not blocked anymore. Back to your question, we expect the API to return network credentials on Linux. I am adding @mconnew to add any more comment of our expected behavior of this API.

[2016-10-11 05:28] Petermarcu commented on #12539
Should this test also just use `TestHelper.IsTimeCloseToNow(...)` like the one below it?

[2016-10-11 05:41] weshaggard commented on #2869
There shouldn't be anything blocking these APIs now. I suspect it will not be as simple as merging the changes to master. We will need to expose them as .NET Core app specific APIs.

[2016-10-11 06:56] wateret opened #12545 "[ARM/CI] Add arm-hardfp checks to CI"
`Linux ARM Emulator Cross` is actually arm-softfp. I think we also need one for arm-hardfp.

There is a work for this in CoreCLR too. https://github.com/dotnet/coreclr/issues/7412

/cc @sjsinju

[2016-10-11 10:12] Tandis5 commented on #5593
@weshaggard Thanks for the response.  I'm going to take a different route and avoid using XSLT for now.

[2016-10-11 12:20] prajaybasu commented on #12509
I believe CodeContracts has a somewhat similar functionality ?

[2016-10-11 13:13] d001225 opened #12546 "HttpClient BasicAuthentication Ubuntu"
Looks like on Ubuntu the BasicAuthentication is not working.

Test Code:
`private HttpClient client;`
...
`client.BaseAddress = new Uri($"http://{server}:{port}/geoserver/rest/");`
`authInfo = $"{userName}:{password}";`
`var byteArray = Encoding.Unicode.GetBytes(authInfo);`
`var auth = new AuthenticationHeaderValue("Basic", Convert.ToBase64String(byteArray));`
`client.DefaultRequestHeaders.Authori

[2016-10-11 13:25] Cologler opened #12547 "[Feature request] Low-level API for HashAlgorithm"
Here are all public API for HashAlgorithm class in .Net core:

[code]

For some reason, I cannot provide a whole input stream (only multi buffer).

[2016-10-11 14:16] eerhardt commented on #12518
I dug into this a little deeper this morning.  Here are the results I discovered:

1. There is a bug in the CLDR data that causes the last character (Prolonged Sound Mark \uFF70 and \u30FC) to sort incorrectly.  http://unicode.org/cldr/trac/ticket/9146
2. Even after removing that character, Compare still produces inconsistent results across platforms.  This is because the code isn't specifying Ign

[2016-10-11 14:23] steveharter commented on #12235
@karelz no the two links reference code that has existed for months, so it is already in 1.1.0. The issue is that 1.1.0 is not public yet (in nuget)

[2016-10-11 15:09] d001225 commented on #12546
Looks like problem is Unicode. On ubuntu it works by setting UTF8

[2016-10-11 15:09] #12546 closed

[2016-10-11 15:27] #12372 closed

[2016-10-11 15:47] danmosemsft commented on #9946
Probably... Updated title. This can track any requests for it.

[2016-10-11 15:48] jkotas commented on #11809
If you want to use esoteric features like overriding CreateObjRef, you are very unlikely to be able to just compile against netstandard because of there will be too much other stuff missing to build a complete solution.

[2016-10-11 16:00] weshaggard commented on #11809
My assumption is that the majority of the other stuff (modulo AppDomain) can be implemented on top of netstandard. I also don't think adding those few interfaces which have no real implementation actually adds much. Xamarian has already done this work also.

[2016-10-11 16:00] joperezr commented on #12531
yes, sorry I didn't add the labels

[2016-10-11 16:16] jkotas commented on #11809
I expect that we are going to be adding new methods, including virtual methods, to the core library. Since netstandard will be behind or even never have those, you won't be able to compile against netstandard to use them either. Both two cases (never used legacy, and new stuff) can be on the same plan.

I agree that it does not a disaster to add these interfaces but it is still substantial number

[2016-10-11 16:30] danmosemsft commented on #4804
Shouldn't this move to a coreclr issue

[2016-10-11 16:30] danmosemsft commented on #11221
@tarekgh @eerhardt is there a bug here or action required? If not please close.

[2016-10-11 16:49] weshaggard commented on #11809
I think that is true in lots of places when we included APIs for compat purposes in netstandard. The general approach that we are still trying to hold to in netstandard however is to keep all members for any types we are including (with few exceptions like AppDomain and Marshal). So unless we are thinking of removing MarshalByRefObject completely, which I don't think we want, I would still push to

[2016-10-11 16:52] mgallig commented on #11036
In 1.0.1 it appears I am seeing hard crashes with no exceptions thrown with HttpClient in dotnet core. More information to follow when I get my head around it.

[2016-10-11 16:56] steveharter commented on #12517
@ericstj @bartonjs question\issue on packaging the native shims. It appears the .OpenSsl package was added in August via https://github.com/dotnet/corefx/commit/45172b7136f32873ff60880ebe654a6226895542#diff-2566e1ae9c5bac4fe163bdfc4ce50b53 as part of the work to support non-OpenSsl scenarios on Apple.

Thus references to older\mismatched "Microsoft.NETCore.App" is not finding the newer .OpenSsl pa

[2016-10-11 17:00] #12234 closed

[2016-10-11 17:04] ianhays commented on #11373
resolved by @JeremyKuhne in https://github.com/dotnet/corefx/pull/11999

[2016-10-11 17:04] #11373 closed

[2016-10-11 17:04] ianhays commented on #11127
resolved by @JeremyKuhne in https://github.com/dotnet/corefx/pull/11999

[2016-10-11 17:04] #11127 closed

[2016-10-11 17:12] Tratcher opened #12549 "DeflateStream buffer reuse"
The `DeflateStream(Stream stream, CompressionLevel compressionLevel, bool leaveOpen)` constructor allocates an 8KB `byte[]` buffer for each instance. ASP.NET Core has response compression middleware that needs a new stream per response, so this memory allocation adds up very quickly.

Possible improvements:
A) Internally pooling the buffers
B) Allowing the buffer to be provided in the constructor

[2016-10-11 17:13] weshaggard commented on #12456
No

The new APIs look good. We will also need to include the handlers `UnhandledExceptionEventHandler` and `FirstChanceExceptionEventArgs` in the same contract as System.AppContext which I believe is currently System.Runtime.

[2016-10-11 17:15] ianhays commented on #1991
Closing this as we no longer use the managed Deflate implementation, so reusing OuterWindow instances is a non-issue.

[2016-10-11 17:15] #1991 closed

[2016-10-11 17:18] weshaggard commented on #12356
It is fine to expose these a public.

[2016-10-11 17:23] davidfowl commented on #12549
Related #11571
/cc @stephentoub

[2016-10-11 17:27] sepidehMS opened #12550 "Remove SystemException from Common when it's supported in UWP"
Refers to System.SystemException under src\Common\src\System

[2016-10-11 17:28] weshaggard commented on #9445
We reviewed this and don't fully understand the value of adding a TryParse method in this case. While consistency with other BCL types is somewhat interesting it is much more useful in those cases because you are potentially parsing a lot of them and so there is a performance issue. In this case performance isn't really going to be an issue because the exception cost is tiny compared to the cost o

[2016-10-11 17:29] #9445 closed

[2016-10-11 17:30] ericstj commented on #12517
We shouldn't change the implementation used for netcoreapp1.0 to depend on a shim update.  Netcoreapp1.0 restores without a RID, so it must have assets that can be satisfied by RID-specific shared framework.  @bartonjs I thought we discussed this scenario?  Perhaps we missed a case with latest packages running on netcoreapp1.0.

[2016-10-11 17:50] JeremyKuhne commented on #10936
@weshaggard I currently have it as PlatformNotSupported. There is no way to return known stores without serializing our identity types, which I didn't want to do as it would collide with desktop. I'm currently relying on the fact that desktop will serialize it's own identity for the given store- and we don't have access to those types.

[2016-10-11 17:51] stephentoub commented on #12518
Thanks, @eerhardt.

I assume you mean after both changing these options *and* fixing the CLDR data bug (or changing the test strings as you did to work around the faulty data), right?

[2016-10-11 18:02] JeremyKuhne commented on #12396
@stephentoub That test copies onto itself, which there is a specific code path for. The failure is copying over another existing directory.

I'll move it to 1.2 as we shipped this way in 1.0.

[2016-10-11 18:09] jkotas commented on #12356
I will take care of adding these.

[2016-10-11 18:11] terrajobst commented on #10752
@robertmclaws

Agreed. How about this:

* Let's exclude`RemoveAll` for now as this API has the most complicated eventing issues.
* We can then approve this suggestion and you're unblocked with adding a PR.
* We take this learning to decide what we do with `RemoveAll`
* My concern is still that we can't plumb the batching fully through

How does this sound?

[2016-10-11 18:11] #8797 closed

[2016-10-11 18:16] robertmclaws commented on #10752
@terrajobst Works for me, let's do it! :)

[2016-10-11 18:39] eerhardt commented on #12518
Correct.

[2016-10-11 19:09] JeremyKuhne commented on #12539
This one is weird. @stephentoub, @ianhays - how do we end up with this value? Does Fedora claim to support birth time?

[code]

https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.IO.FileSystem/src/System/IO/FileSystemInfo.Unix.cs#L166

[2016-10-11 19:09] steveharter commented on #4804
Sure it could be moved as the bulk of the work is in coreclr. However, it is enabled for corefx native code as well.

[2016-10-11 19:31] stephentoub opened #12556 "ThreadLocalTests.RunThreadLocalTest5_Dispose test failed"
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/1451/consoleText
[code]

[2016-10-11 19:50] kouvel commented on #11035
Edited to include some specific ApiCompat baseline files at are in the process of being added

[2016-10-11 21:03] ericstj commented on #12539
How does it ever make sense to Assert equal to default(DateTimeOffset)?

[2016-10-11 21:15] karelz commented on #1645
There's a workaround, noone proposed another solution, closing.
If anyone comes up with a proposal, feel free to reopen.

[2016-10-11 21:15] #1645 closed

[2016-10-11 21:16] karelz commented on #1571
Please create formal API proposal.

[2016-10-11 21:20] karelz commented on #1533
Looks like it would be compat issue and the benefit is rather small. There are decent workarounds (bufferSize=1). Closing, feel free to reopen if I got it wrong.

[2016-10-11 21:20] #1533 closed

[2016-10-11 21:24] karelz commented on #1086
We need formal API proposal. Anyone wants to pick it up?

[2016-10-11 21:26] karelz commented on #2022
Dupe of #312

[2016-10-11 21:26] #2022 closed

[2016-10-11 21:27] karelz commented on #312
We need API proposal on this one.

[2016-10-11 21:30] karelz commented on #187
BTW: There is somewhat-active PR from @JeremyKuhne - see #8664

[2016-10-11 21:36] karelz commented on #6517
Sounds like the conversation ended. There is no actionable work left. If anyone wants to propose API, please do so (feel free to file a new bug, or reopen this issue).

[2016-10-11 21:36] #6517 closed

[2016-10-11 21:43] unshorn opened #12560 "Contract between GetHashCode and Equals methods broken in HashSetEqualityComparer"
var comp1 = HashSet<HashSet<string>>.CreateSetComparer();
var comp2 = HashSet<string>.CreateSetComparer();
var l1 = new HashSet<HashSet<string>>(comp2);
var l2 = new HashSet<HashSet<string>>(comp2);

var set1 = new HashSet<string>() {"a"};
var set2 = new HashSet<string>() {"a"};
l1.Add(set1);
l2.Add(set2);

Console.WriteLine(comp1.Equals(l1,l2));
Console.WriteLine(comp1.GetHashCode(l1) == comp1.Ge

[2016-10-11 21:44] karelz commented on #6740
We need API proposal to be updated to slices. @jamesqo do you want to grab it?
It depends on #10528 (which has been approved).

[2016-10-11 21:45] tarekgh commented on #11221
@SerhiiS-in6k it is expected to have differences between the OS's in general. I am closing this issue but if you disagree with the default short date format we are picking on Linux then please re-open the issue. I just want to make sure it is clear we expect different formats on different OS's. Thanks.

[2016-10-11 21:45] #11221 closed

[2016-10-11 21:48] karelz commented on #7635
No response for a long time, closing. If you have proposal for the API, feel free to reopen.

[2016-10-11 21:48] #7635 closed

[2016-10-11 21:52] karelz commented on #8059
Next steps: We need implementation proposal which validates the API surface proposed above.

[2016-10-11 21:56] karelz commented on #8173
We need to think it through from source compat point of view and finalize the proposal & review it. @JeremyKuhne can you please do it?

[2016-10-11 22:12] karelz commented on #2757
Feel free to submit API proposal.

[2016-10-11 22:16] karelz commented on #3156
Related to #1086.

[2016-10-11 22:16] gautamsi commented on #52
you still miss the point, this request was to correct individual file header, most file says "Copyright (c) Microsoft Corporation.  All rights reserved" that does override the MIT status as mentioned in README

[2016-10-11 22:18] karelz commented on #3186
We need API proposal ...

[2016-10-11 22:19] karelz commented on #3188
We need API proposal

[2016-10-11 22:20] karelz commented on #3788
Seems to be done by @JeremyKuhne

[2016-10-11 22:20] #3788 closed

[2016-10-11 22:21] karelz commented on #3993
We can't change behavior due to compat. But if someone proposes new API, that should be doable.

[2016-10-11 22:22] karelz commented on #4299
We need API proposal (should be simple).

[2016-10-11 22:23] karelz commented on #4786
We need formal API proposal.

[2016-10-11 22:24] karelz commented on #10120
Related to #1086

We need API proposal

[2016-10-11 22:26] karelz commented on #9798
@JeremyKuhne says close it :)

[2016-10-11 22:26] #9798 closed

[2016-10-11 22:28] karelz commented on #9222
@ianhays says close it

[2016-10-11 22:28] #9222 closed

[2016-10-11 22:31] benaadams commented on #12560
@unshorn if you enclose the code in three back ticks  ``` and close it with the same it should show up clearer.

[2016-10-11 22:35] karelz commented on #8655
Super simple - just remove a (cetnralized) check. Any takers?

[2016-10-11 22:36] karelz commented on #8382
We need API proposal.

[2016-10-11 22:47] mairaw commented on #12341
Yes, something like that is in the works @karelz, it's just that is not on CoreFX. We've tried the solution to import the current docs as /// comments to CoreFX in the past, but unfortunately we wouldn't be able to change all source files, especially legacy code and mscorlib, so we ended up trying to find new alternatives. So, what we'll do is to migrate the docs from the old system to http://gith

[2016-10-11 22:48] karelz commented on #10894
Dupe of #10895

[2016-10-11 22:48] #10894 closed

[2016-10-11 22:49] karelz commented on #10893
Dupe of #10895

[2016-10-11 22:49] #10893 closed

[2016-10-11 22:51] karelz commented on #10875
Looks like infra issue

[2016-10-11 22:51] #10875 closed

[2016-10-11 22:51] g0t4 commented on #10445
I've had luck installing a netstandard1.1 library into a PCL with Profile111 by not installing dependencies (NETStandard.Library). Everything I need is in the Available Assemblies https://developer.xamarin.com/guides/cross-platform/advanced/available-assemblies/ ... I've also had luck so long as I don't target the entire NETStandard.Library and instead use fine-grained package refs to only what I

[2016-10-11 22:52] karelz commented on #10583
@JeremyKuhne can you please provide guidance?

[2016-10-11 22:56] alexperovich opened #12565 "ResourceManager doesn't properly support non string resources on .NET Core msbuild"
The following tests fail on Unix platforms:
- System.Resources.Tests.ResourceManagerTests.GetObject(key: \"Int\", expectedValue: 42)
- System.Resources.Tests.ResourceManagerTests.GetObject(key: \"Float\", expectedValue: 3.14159)
- System.Resources.Tests.ResourceManagerTests.GetObject(key: \"Bytes\", expectedValue: [41, 42, 43, 44, 192, ...])
- System.Resources.Tests.ResourceManagerTests.GetStream

[2016-10-11 23:07] halter73 commented on #12412
This issue appears to be resolved in Microsoft.NETCore.App 1.1.0-preview1-001100-00.

[2016-10-11 23:15] JeremyKuhne commented on #10583
I'm fine with the suggestion. Bringing the Unix implementation up to the Win32 level (we call ReplaceFile()) makes sense.

The current Unix code:
https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/UnixFileSystem.cs#L42

[2016-10-11 23:21] #12412 closed

[2016-10-11 23:25] ericstj commented on #12517
@moozzyk can you confirm this is a netcoreapp1.0 project using 1.0 shared framework with the latest packages?

[2016-10-11 23:41] moozzyk commented on #12517
[code]
but the project uses:
Microsoft.AspNetCore.SignalR.Messaging which depends on "NETStandard.Library": "1.6.1-*" (changed recently)

[2016-10-11 23:42] moozzyk commented on #12517
Here is the project: https://github.com/aspnet/SignalR-Server/tree/dev/samples/SignalRSample.Web - only Microsoft.NETCore.App version was changed to 1.1.0.

[2016-10-12 00:11] JeremyKuhne commented on #3156
#1086 should handle most people's needs.

In this case we need something similar to `DriveInfo` but available for any path. Perhaps `VolumeInfo`.  In Win32 you need to use Volume Management APIs such as [GetVolumeInformation](https://msdn.microsoft.com/en-us/library/windows/desktop/aa364993) to find the relevant file system info (which `DriveInfo` already utilizes for some of it's functionality, b

[2016-10-12 00:11] #3156 closed

[2016-10-12 00:41] #12556 closed

[2016-10-12 00:54] JeremyKuhne commented on #10120
Perhaps

[code]

Behavior:

- Throws `ArgumentNullException` for `null` or empty paths
- Throws relevant I/O exceptions if it cannot open a handle
- Follows links (does not open handles on the links themselves)
- Works with files or directories
- Works with locked files

We may also want to consider exposing this for existing `SafeFileHandle`s. Perhaps `bool SafeFileHandle.HasSameTarget(SafeFileHa

[2016-10-12 01:45] jamesqo commented on #6740
@karelz, is it possible to `Span<T>` efficiently to a `(T[] array, int offset, int count)`? If not then it may not be possible to update this proposal w/o making all of the methods virtual and performing copying by default like is done is `Encoding`, which would be rather unfortunate...

@jkotas

[2016-10-12 02:30] wateret commented on #12545
Before making changes I need to put up the rootfs image for arm-hardfp to CI server.
I am going to use [rootfs-u1404.20160607.ext4](https://dncorerepo.blob.core.windows.net/armemulator/rootfs-u1404.20160607.ext4.tar.pbz2) which is specified in https://github.com/dotnet/coreclr/issues/3805.

/cc @jashook

[2016-10-12 02:44] knocte commented on #3788
I only see the Windows impl here: https://github.com/dotnet/corefx/commit/83740922b78e5b38abc7e073e0de81863adcdfa2

Is it committed for other platforms as well?

[2016-10-12 02:49] stephentoub commented on #3788
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/System/Environment.Unix.cs#L118

[2016-10-12 03:25] knocte commented on #3788
@stephentoub thanks, I've proposed a little fix to this: https://github.com/dotnet/corefx/pull/12575

[2016-10-12 03:56] ebickle commented on #574
@SunnyWar Fixed the documentation of the Enqueue method, thank you!

[2016-10-12 04:20] binki commented on #10583
Wow, the linked current implementation is scary-looking. Mono uses `rename()` at least, so it will never partially copy a file. Mono’s only fault is that it is possible for `destination` to cease to exist if the program is halted. I’m pretty sure that most people who call `System.IO.File.ReplaceFile()` do so *because* it’s the only way that .net exposes something like POSIX’s `rename()`…

(OK, it’

[2016-10-12 04:23] sepidehMS commented on #12292
Done by https://github.com/dotnet/corefx/pull/12514

[2016-10-12 04:23] #12292 closed

[2016-10-12 04:46] #1513 closed

[2016-10-12 05:10] mareklinka commented on #9838
I took a look into the issue. The root cause seems to raise from the fact that `BitArray` uses `int`s for its internal data storage. For example, the `BitArray(int, true)` constructor will first allocate a necessary number of `int`s and then do

` m_array[i] = unchecked(((int)0xffffffff));`

So if we do `new BitArray(16, true)`, we internally end up with 32 bits all set to 1. Later in `CopyTo(int[

[2016-10-12 05:58] weshaggard commented on #11809
After chatting with Jan we decided to go with option (2) in dotnet/standard#7, see commit https://github.com/dotnet/standard/commit/80799d92215df2fa0751c4a632def7379b0c5b3d for the APIs that have been removed for netstandard and thus can be removed from this work list.

@stephentoub @jkotas in the same light do we want to do the same thing for the other types in the "remoting" namespace we include

[2016-10-12 06:34] #12356 closed

[2016-10-12 07:11] EncoderPtd commented on #12171
@davidsh

I agree.
But how should i do if i'm using `HttpWebRequest`? I can't find any property like:

(The .NetFramework has this property)

And i tried the `handler.AllowAutoRedirect = false;`   It doesn't work...and threw an Exception said:

at System.Net.HttpWebRequest.EndGetResponse(IAsyncResult asyncResult)
at System.Threading.Tasks.TaskFactory1.FromAsyncCoreLogic(IAsyncResult iar, Func2 end

[2016-10-12 07:30] ttzankov opened #12580 "High frequencey Ping trough Unix RawSockets gives false positives"
Due to the way the echor-request/echo-reposne matching is implemented using thread id in \System.Net.Ping\src\System\Net\NetworkInformation\Ping.Unix.cs  - SendIcmpEchoRequestOverRawSocket , when a program sends high number of Ping requests to the same host or group of hosts, late ICMP responses and/or responses from other pings sent from the same thread id is generating false positives. To avoid

[2016-10-12 08:58] asbjornu opened #12581 "Executing console application with a file share as working directory fails with ConfigurationErrorsException"
As reported in https://github.com/dotnet/roslyn-project-system/issues/206#issuecomment-252869071, I've encountered a problem related to working with file shares and .NET: When running a console application in an unelevated `cmd.exe` with a file share (mapped drive) as its working directory, the application blows up with the following exception:

[code]

An HTTP request is being made by the console

[2016-10-12 12:12] vincentshow commented on #11116
Is there any other solution to resolve des problem before 1.2.0? I'm migrating an old app to dotnet core which has a module that will provide encrypt strings (using des algorithm) to its sub systems. The problem is that these sub systems can't be migrated to dotnet core  by now, so i have to use des algorithm to garentee this is compatible with those sub systems. much thanks...

[2016-10-12 13:14] stephentoub commented on #12002
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/1452/

[2016-10-12 14:14] steveharter commented on #11116
Is it possible to change to TripleDES? That is available now and like DES it derives from SymmetricAlgorithm so the programming model is the same.

[2016-10-12 14:27] onyxmaster opened #12584 "NullReferenceException instead of Argument[Null]Exception in FileIOPermission constructor in 4.6.2"
Compare the [FileIOPermission in 4.6.2](https://github.com/Microsoft/referencesource/blob/1acafe20a789a55daa17aac6bb47d1b0ec04519f/mscorlib/system/security/permissions/fileiopermission.cs#L550) and [FileIOPermission in 4.6.1](https://github.com/Microsoft/referencesource/blob/e458f8df6ded689323d4bd1a2a725ad32668aaec/mscorlib/system/security/permissions/fileiopermission.cs#L543) -- they obviously ch

[2016-10-12 15:03] bartonjs commented on #12388
@Petermarcu At this point it's "by compat", since there's probably some NetFx application/library out there that is counting on the key to not change after something sets the KeySize property.  Though it is pretty annoying.

@morganbr While we could quirk it for the compat issue I'm not sure it really needs to change at this point... since we'd be adding a runtime dependency on NetFx vNext for any

[2016-10-12 15:20] stephentoub commented on #10583
The implementation was only recently added as a quick-and-dirty placeholder. Please feel free to submit a PR to put something better in place.

[2016-10-12 15:54] #12177 closed

[2016-10-12 16:07] karelz commented on #12584
@JeremyKuhne @ianhays is it worth fixing?

[2016-10-12 16:11] karelz commented on #12581
Can you provide a minimal repro?
It would help greatly if you can debug the root cause and identify which part of code doesn't handle the situation well.

[2016-10-12 16:12] stephentoub commented on #12584
@karelz, it sounds like we made a breaking change in desktop from 4.6.1 to 4.6.2.

[2016-10-12 16:13] onyxmaster commented on #12584
I met this problem when building old [ASP.NET MVC](https://github.com/ASP-NET-MVC/aspnetwebstack) -- it no longer passes tests on 4.6.2. In any case NRE vs ANE seems like it might break existing code (I linked fresh SO question in the issue).

[2016-10-12 16:13] #11728 closed

[2016-10-12 16:13] karelz commented on #12580
I think Ping was introduced by @stephentoub recently ...

[2016-10-12 16:14] stephentoub commented on #12581
@karelz, it sounds like this is in desktop, not corefx.

[2016-10-12 16:14] stephentoub commented on #12580
No, we shipped it in 1.0.  @mellinoe provided the Unix implementation.

[2016-10-12 16:24] ericstj commented on #12517
Yeah, so you're using 1.1 packages on the 1.0 shared framework.  That does explain this.

I see 3 ways to fix it:

1. Cross-compile (or redist) crypto packages for netcoreapp1.0/1.1 and keep the old name in the 1.0 IL.
2. Undo the rename, or at least fallback to the old name.
3. Make native shim package have direct dependencies on split packages instead of runtime dependencies, similar to what we

[2016-10-12 16:26] karelz commented on #12549
@ianhays can you take a look?

[2016-10-12 16:30] karelz commented on #12547
Can you please clarify what you mean? What exactly doesn't work / you would like to see added?

[2016-10-12 16:33] piedar commented on #12190
Some affected packages:

- [System.Collections.Immutable](https://www.nuget.org/packages/System.Collections.Immutable/)
- [System.Threading.Tasks.Dataflow](https://www.nuget.org/packages/System.Threading.Tasks.Dataflow/)
- [System.ValueTuple](https://www.nuget.org/packages/System.ValueTuple/)

[2016-10-12 16:34] Cologler commented on #12547
When I read a http stream (not support seek), I need to compute sha1 and md5 in same time.

I don't want to cache the stream in local.

[2016-10-12 16:43] karelz commented on #12547
Sample code would clarify it better. I am still not 100% clear on what you mean.

Guessing: If you need to pass stream content (which cannot seek) into 2 calls, you will have to cache it first. I don't see a way around that.

[2016-10-12 16:46] Petermarcu commented on #12388
How bad would it be to enable this on core and document that .NET Framework has the limitation until the point in time where we feel we can fix that?

[2016-10-12 16:47] karelz commented on #12581
@asbjornu is it on full .NET Framework? If yes, there is not much we can do here in CoreFX ...

[2016-10-12 16:53] Cologler commented on #12547
If `HashCore` and `CaptureHashCodeAndReinitialize` is public, then I can write some code like:

[code]

[Source of `HashAlgorithm`](https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/HashAlgorithm.cs).

[2016-10-12 16:57] karelz commented on #12584
That sounds unpleasant. Sadly, when these things happen, there is no easy/clear solution -- we can't fix 4.6.2, fixing future version means there is compat burden against 4.6.2, and portable libraries will have to handle both cases anyway if they want to work on 4.6.1 & 4.6.2 without cross-compiling.
Usually the best option is to leave it be (if there is simple workaround - like in this case), unl

[2016-10-12 16:57] #12584 closed

[2016-10-12 16:59] stephentoub commented on #12584
@karelz, can you provide guidance on where folks should report such issues?

[2016-10-12 17:00] danmosemsft commented on #9805
Removing NS2.0 label as we're not currently targeting NS2.0 for UWP

[2016-10-12 17:10] karelz commented on #12584
If the issue has significant impact on customers, then any way that gets to us is good/sufficient (CoreFX github, StackOverflow, Microsoft Connect, etc.).

[2016-10-12 17:11] bartonjs commented on #12517
We can't just (un)do the rename, because the whole reason the name changed was to support SxS with using more of Apple's crypto libraries (reducing the OpenSSL dependencies on macOS for 1.1, with the goal of eliminating them (aside from people explicitly requesting (e.g.) RSAOpenSsl) in 1.2).  While the rename of the S.S.C.Native library to S.S.C.Native.OpenSsl isn't strictly required, if the titl

[2016-10-12 17:11] stephentoub commented on #12584
But then we close the corefx issue because it's not relevant to corefx?  How are we tracking this issue for desktop?

[2016-10-12 17:13] asbjornu commented on #12581
@karelz: I reported it here because @davkean asked me to do it in https://github.com/dotnet/roslyn-project-system/issues/206#issuecomment-252981596. This is full .NET framework, version 4.5.2. I can of course try upgrading to .NET Core and see if that improves anything. Will it work flawlessly to have mixed 4.5.2 and .NET Core projects in the same solution?

[2016-10-12 17:21] mellinoe commented on #12580
Here's what Mono does for the ping identifier:

https://github.com/mono/mono/blob/8994ce8a09a101e7965a820ed7dc148d9685f89f/mcs/class/System/System.Net.NetworkInformation/Ping.cs#L118

[code]

[2016-10-12 17:21] bartonjs commented on #12388
On Core almost no one will ever touch an RSACryptoServiceProvider object, unless they went out of their way to make one.  (If they got their key from a certificate it is an RSACng on Windows with the exception of really old drivers for smartcards or HSMs).  That means that no one would really get into the expectation that setting KeySize on RSACryptoServiceProvider just works to then get sad on Ne

[2016-10-12 17:23] jamesqo opened #12590 "Use ArrayBuilder in more places"
I just rebased to latest master and ran grep to see some of the places we're using `List<T>` as a local variable. Here are the results I got: https://gist.github.com/jamesqo/467f10b7523380b9fca7b9e66c020e3f It would seem lots of these places, i.e. [System.Diagnostics.Process](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Linux.cs#

[2016-10-12 17:26] jamesqo opened #12591 "LowLevelStack should not be necessary in TermInfo.cs"
I noticed that there is a `LowLevelStack` class present in TermInfo.cs because, according to a comment, System.Console does not reference System.Collections: https://github.com/dotnet/corefx/blob/master/src/System.Console/src/System/TermInfo.cs#L948

Seeing that `List<T>` is being used in the same file, maybe this is no longer true and the class can be removed.

[2016-10-12 17:30] stephentoub commented on #12591
Thanks. Yes, this should be removable now.  I believe it's a holdover from the early days of getting System.Console working on Unix.

[2016-10-12 17:35] danmosemsft commented on #12483
Fixed by https://github.com/dotnet/buildtools/pull/1119  ?

[2016-10-12 17:41] jkotas commented on #2127
The API still needs to get exposed and a simple test added in corefx repo before it is usable. dotnet/corefx@67bc5d4 is an example how to do it.

[2016-10-12 17:43] danmosemsft opened #12592 "Remove [SecurityCritical] and [SecuritySafeCritical] attributes"
Security transparency will not be implemented in CoreFX, and use of these attributes can be removed throughout.

[2016-10-12 17:44] karelz commented on #12538
Doesn't work x-plat, Xamarin doesn't support it. Let's close it.
If there is need later we can reopen / create new issue.

[2016-10-12 17:44] #12538 closed

[2016-10-12 17:45] danmosemsft commented on #12592
Same applies for eg [SecurityTransparent] but I don't really see use of that.

[2016-10-12 17:45] karelz commented on #12537
.NET Core doesn't have general settings yet. Once we have it, we can re-evaluate.
This is not specific to Mail only.

[2016-10-12 17:45] #12537 closed

[2016-10-12 17:48] karelz commented on #12536
We are now focusing on compatibility. It is not clear if the perf will be so bad that the API is unusable.
Closing now. If we get more feedback later, we can re-evaluate.

[2016-10-12 17:48] #12536 closed

[2016-10-12 17:52] karelz commented on #12529
@stephentoub thinks the member will come back. We should be able to use it.
@Priya91 can you please confirm?

[2016-10-12 17:55] karelz commented on #12526
@Priya91 can you look into @justinvp's workaround?

[2016-10-12 18:16] Tornhoof commented on #12547
You could use the iterative api:
TransformBlock and TransformFinalBlock.

[2016-10-12 18:29] nietras opened #12593 "S.R.CS.Unsafe: Add `IntPtr ByteOffset<L, R>(ref L left, ref R right)`"
As discussed in https://github.com/dotnet/corefxlab/pull/796#issuecomment-253138362 add:
[code]
to the `Unsafe` class. Things to discuss for this addition:
 * Naming
 * Generic parameters, one or two? One, as this will only allow users to compute the offset between same types and, thus, limits the possibility of finding offsets that could cause alignment issues, see https://github.com/dotnet/coref

[2016-10-12 18:33] Cologler commented on #12547
Here are the api in Asp.Net core:

![picpick-20161013-023037-001](https://cloud.githubusercontent.com/assets/10906962/19322786/00ef4906-90ed-11e6-86f8-222ec9426de0.png)

@_@ !!!

[2016-10-12 18:38] Cologler commented on #12547
Seem the source is .Net Framework (not .Net core)?

[2016-10-12 18:41] Priya91 commented on #12526
I had searched desktop reference source, and this property was also used in ```HttpWebRequest```, and this gets passed to ```ContextAwareResult```. ```HttpWebRequest``` in corefx now doesn't use ```ContextAwareResult``` instead uses Task and TPL extensions. Mail surface area doesn't have any Begin,End methods, hence making SendAsync, SendMailAsync to c# ```async```, ```await```, should eliminate n

[2016-10-12 18:42] Tornhoof commented on #12547
Ah, then they already added Transform(Final)Block in the effort to get .net core api compatible to the full one, as you see in your link to the current source. So, looks like your wish will be in the version of .net core targeting .net Standard 2.0

[2016-10-12 18:54] #12547 closed

[2016-10-12 18:55] jamesqo commented on #12593
I would think we should have 1 generic parameter. Having 2 would increase the possibility someone makes an accident (which is very dangerous with this class). If someone really wants to get the distance between 2 differently-typed refs they can always convert both sides to pointers, no?

[2016-10-12 19:02] jkotas commented on #12593
I agree.

[2016-10-12 19:08] nietras commented on #12593
This requires pinning, which I don't think is good.

I think it is a unnecessary restriction, this is `Unsafe` we can do lots of very dangerous things with it and other methods, why limit this method?

I'm not sure I can give a good example for usage here but this would open up some possibilities of evaluating stack space, member layout, etc. all in a way that does not require pinning. Perhaps it

[2016-10-12 19:15] jkotas commented on #12593
It does not require pinning. It just requires you to type extra `ref Unsafe.As<..,...>( )` to make it clear that it is what you really want.

[2016-10-12 19:21] nietras commented on #12593
Was referring to "pointers", but yes it can be done via `As`, of course. I understand that getting offsets that might change alignment can cause problems, but is that reason enough to limit this methods signature and make it more cumbersome?

Anyway, I can live with the `As` it shouldn't have perf consequences as far as I can tell, and we can settle for 1 generic type if you think this is best.

[2016-10-12 19:44] jamesqo commented on #12593
Since we already have `SubtractByteOffset` and `AddByteOffset`, I think `ByteOffset` sounds like a reasonable name. We also have to think about the parameter naming though.

tagging @mikedn

[2016-10-12 20:31] Priya91 commented on #12529
Confirm what ?

[2016-10-12 20:55] karelz commented on #11793
@ericeil which contract do you plan to put it in? Can you please review it with @davidsh and @CIPop?

[2016-10-12 20:58] karelz commented on #12529
That we can use it ...

[2016-10-12 21:01] davidfowl commented on #11793
So we are doing this?

[2016-10-12 21:04] stephentoub commented on #11793
Yes

[2016-10-12 21:12] mareklinka commented on #9838
I seem to have hit a snag with the promised pull request. Apparently there are two different implementations of the `BitArray` class. One in corefx and one in coreclr. I guess that's why my tests, when run locally via MsBuild, also fail - by default, they use the `BitArray` implementation present in `System.Private.CoreLib.ni.dll`.

Since I'm rather new to this project, I'd greatly appreciate if s

[2016-10-12 22:12] Priya91 commented on #12560
This repros on desktop as well.

[2016-10-12 22:13] Clockwork-Muse commented on #9838
@mareklinka - you should be able to just open a PR for coreclr too (I did that for an earlier change to BitArray).

[2016-10-12 22:17] karelz commented on #12252
We couldn't repro. We need hang dumps -- I will create infra bug.

[2016-10-12 22:17] #12252 closed

[2016-10-12 22:19] Petermarcu commented on #12388
Is this a simple amount of work? I didn't see if there was a PR out for it...

[2016-10-12 22:21] CIPop opened #12601 "Restoring packages takes ~1hr"
The `dotnet` process is using a lot of CPU and makes build take >1hr.
There isn't a lot of network activity.

[code]

![image](https://cloud.githubusercontent.com/assets/8635911/19329781/6e030ba8-908f-11e6-9c0d-3e9253f54b99.png)

[2016-10-12 22:25] CIPop commented on #12601
Two of the threads are doing System.IO file operations using synchronous Read. Is this something that changed?

[code]

[2016-10-12 22:28] danmosemsft commented on #12257
Needs an owner on CoreFX for now. Spoke to @VSadov. His team owns only DebugInfoGenerator, IRuntimeVariables, RuleCache The second two are just missing from the ref assy. DebugInfoGenerator stuff likely needs something related to PDBs or Ref.Emit. So it is either needs to be officially cut or the underlying tech should be brought into netstandard.

[2016-10-12 22:30] karelz commented on #11658
We need to implement EncryptFile/DecryptFile using FileProtectionManager APIs.

[2016-10-12 22:33] karelz commented on #11584
The tests need to be updated to new wildcard characters - @JeremyKuhne 'broke' them in his PR when he introduced new wildcard characters (they are used in the tests as on-wildcard) .

[2016-10-12 22:34] weshaggard commented on #12601
@karajas is working on this in PR https://github.com/dotnet/corefx/pull/12345.

[2016-10-12 22:36] karelz commented on #11570
It looks like we need another case in switch statement for these 2 file systems in `DriveInfo.DriveType`.

[2016-10-12 22:39] karelz commented on #11342
@jamesqo do you plan to expose the APIs?

[2016-10-12 22:39] Priya91 commented on #12560
Requires investigation.

[2016-10-12 22:47] CIPop commented on #12601
Thanks @weshaggard!
@karajas In my case it's not 12 minutes but 1hr...

Is there any known workaround?

Here's the perfview breakdown:
[code]

Top 1 is caused by NuGet package resolver:

[code]

[2016-10-12 22:55] karelz commented on #12066
We need API proposal to move it further.

[2016-10-12 22:59] karelz commented on #11715
@ianhays says that this is reasonable solution: Have `System.IO.Compression` package take a dependency on `System.Text.Encoding.Codepages`.
Anyone wants to grab it?

[2016-10-12 23:04] karelz commented on #9838
@ianhays @Priya91 can you please help here?

[2016-10-12 23:07] ianhays commented on #12276
@karelz couldn't repro this.

[2016-10-12 23:07] #12276 closed

[2016-10-12 23:08] jamesqo commented on #11342
@karelz I'm already doing so actually, see #12598

[2016-10-12 23:20] AlexGhiondea opened #12606 "Complete System.Linq namespace"
[code]

The following are also tightly coupled to this work so moving them to this issue:

[code]

[2016-10-12 23:46] jimcarley commented on #11268
Where do I find information about "PotentialSideEffect"? Searching for that string in the repo code isn't finding anything.

[2016-10-12 23:59] karelz commented on #11342
Great, assigning to you then ...

[2016-10-13 00:03] gregg-miskelly commented on #11268
@jimcarley this isn't a CoreFX concept. This is how the C# expression compiler tells the debugger that a given expression shouldn't be evaluated in situations that are more sensitive (data tips, automatic re-evaluation of properties). Ex: here is where the C# expression compiler sets this for assignment statements -- https://github.com/dotnet/roslyn/blob/614299ff83da9959fa07131c6d0ffbc58873b6ae/sr

[2016-10-13 00:04] karelz commented on #12606
@AlexGhiondea is it for netstandard2.0?

[2016-10-13 00:04] gregg-miskelly commented on #11268
I think you can resolve this issue as external since it is tracked with roslyn#13526.

[2016-10-13 00:24] karelz commented on #12584
Tracking for Desktop makes sense only if the impact is significant. Using Microsoft Connect is best in such case -- the issue would need to have quite a few votes to pop.

[2016-10-13 00:28] #11769 closed

[2016-10-13 00:30] jimcarley commented on #11268
Okay. While I don't completely understand how PotentialSideEffect would be used in this TransactionScope scenario, it does seem to me to be external to System.Transactions. I am going to go ahead and resolve this issue.

[2016-10-13 00:31] jimcarley commented on #11268
External issue. Please see https://github.com/dotnet/roslyn/issues/13526

[2016-10-13 00:31] #11268 closed

[2016-10-13 00:32] deepumi commented on #12421
This API needs to be re-designed, Currently there is no unified API in dotnet BCL world to build a URI with QueryString and Path. (Windows, Web and Mobile got a different way to build Query string and path).

[2016-10-13 00:34] karajas commented on #12601
So from my initial perf investigation, nuget seems to download the packages in a relatively small amount of time (there is still some download contention when the download is parallelised). The main perf hit that was hitting my machine was the IO for reading/generating the project.lock.json which is part of the stack in the perfview trace.

I am planning further investigation into nuget.exe with p

[2016-10-13 00:43] CIPop commented on #12601
I've opened this because it's new behavior: I've never seen the package step taking so long before and was definitely not CPU bound.

[2016-10-13 00:50] MattGal opened #12608 "Developer instructions for OSX are out of date with respect to OpenSSL"
When following the developer instructions for OS X, I get to this step but get an error:
brew link --force openssl
Warning: Refusing to link: openssl
Linking keg-only openssl means you may end up linking against the insecure,
deprecated system OpenSSL while using the headers from Homebrew's openssl.
Instead, pass the full include/library paths to your compiler e.g.:
  -I/usr/local/opt/openssl/incl

[2016-10-13 01:11] YoungGah commented on #11542
Yes, we will bring it back since SecureString is available. As for SqlConnectionStringBuilder, it should not have any dependency on SqlCredential.

[2016-10-13 01:11] Priya91 commented on #9838
@mareklinka You can open up a PR to the Coreclr repo and get it merged, once the packages are updated in corefx with your fix, the tests should pass. The right way is to do the coreclr change first.

[2016-10-13 01:42] jkotas commented on #12593
@nietras Could you please the update the proposal at the top to have just generic arg, and maybe add a sentence that summarizes the rationale (with a link to the discussion for full context)? I would like FXDC to take a quick look at the naming.

[2016-10-13 01:47] Clockwork-Muse commented on #12601
It's been taking ~40 minutes for me for at least a couple of months.

[2016-10-13 02:14] lextm commented on #12608
The latest openssl steps can be found at https://www.microsoft.com/net/core#macos

Of course someone should correct the steps here.

[2016-10-13 03:00] vincentshow commented on #11116
Sorry, I can't change to TripleDES, because the sub systems must use des algorithm when they consuming the encrypted strings send by current app before they're migrated to dotnet core . However, as this can't be resolved in backend I try to search solutions using front techs, javascript for example. Fortunately, there is an famous library called crypto-js. Thank you, anyway

[2016-10-13 04:09] AlexGhiondea commented on #12606
@karelz yes.

[2016-10-13 04:51] mareklinka commented on #9838
I thought so, just wanted to make sure. Thanks all for the help, I'll prepare t he coreclr PR later today.

[2016-10-13 06:23] CalebMacdonaldBlack commented on #2089
Really need this!

[2016-10-13 06:35] nietras commented on #12593
@jkotas done, let me know if the changes are ok.

Can I ask what this means? :)

@jamesqo yes and parameter ordering, of course. I thought of many different possibilities of which some are:
[code]
Of these I think `IntPtr ByteOffset<T>(ref T from, ref T to);` reads the best i.e. byte offset from to. But it is also counterintuitive if one thinks of this primarily as a subtraction.

[2016-10-13 06:47] jkotas commented on #12593
Look good. Thanks.

It is the group of people reviewing the API designs (more details https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)

[2016-10-13 09:18] alastairanderson commented on #8622
Would this include the ability to read Excel (e.g. System.Data.OleDb)?
Just about to start a new project and having to use 4.6.1/2 because this hasn't been implemented (yet?). Thanks.

[2016-10-13 10:34] VitaliyMF commented on #8622
@alastairanderson for reading/writing OpenXml-based Excel files (xlsx) you may use netstandard build of EPPlus: https://www.nuget.org/packages/Shaman.EPPlus/

[2016-10-13 10:42] #11994 closed

[2016-10-13 10:42] #11780 closed

[2016-10-13 10:57] #12531 closed

[2016-10-13 13:09] fitzchak opened #12615 "Adding an unique identifier for DbConnection"
I purpose to add an unique identifier for DbConnection which will help support for tooling around the DbConnection, as the EntityFrameworkProfiler.

As of now, there is no way to associate a unique id with the connection.

The `ClientConnectionId` of [SqlConnection](https://referencesource.microsoft.com/#System.Data/System/Data/SqlClient/SqlConnection.cs,667) is not what we ask as this is not uniq

[2016-10-13 13:38] #2065 closed

[2016-10-13 13:38] #8622 closed

[2016-10-13 14:06] VitaliyMF commented on #8622
@stephentoub as I understand DataSet/DataTable stuff comes back to System.Data.Common assembly for now; does this means that if all these legacy classes are not needed, there are no possibility to exclude them? Or you are planning to extract these classes to separate assembly (say, System.Data.DataSet) ?..

[2016-10-13 14:08] stephentoub commented on #8622
I'll let @terrajobst and @weshaggard comment.

[2016-10-13 14:15] stephentoub commented on #12539
Time zone information changes over time.  If you look at http://www.timeanddate.com/time/zone/usa/los-angeles, and in the "Time zone changes for:" dropdown select 1800-1849, you'll see an offset of -7:52:58, hence the -07:53 for a DateTime before then.

Because that's the value returned if birth time isn't supported?
https://github.com/dotnet/corefx/blob/2117bae3a6c9736033e6d1659821ff3a1069920b/sr

[2016-10-13 14:16] nil4 commented on #12615
Wouldn't a [`ConditionalWeakTable<DbConnection, YourAssociatedData>`](https://msdn.microsoft.com/en-us/library/dd287757.aspx#Anchor_4) work for your use case?

[2016-10-13 14:47] #8141 closed

[2016-10-13 14:59] karelz commented on #12608
@MattGal where did you find the 'bad' instructions here?
@steveharter can you please help update the docs? (cc: @bartonjs)

[2016-10-13 15:27] terrajobst commented on #4373
This doc has been superseded with the documentation found in https://github.com/dotnet/standard.

[2016-10-13 15:27] #4373 closed

[2016-10-13 15:51] jchannon commented on #7552
Hi @tarekgh

Any news on when Windows will be able to return/handle Linux Timezone Ids?

[2016-10-13 16:01] hongdai opened #12618 "HttpClientHandler should support UseDefaultCredentials instead of No-op on *nix"
On *nix, kinit is used to obtain and cache Kerberos ticket-granting tickets. I have verified that users can use kinit to obtain a kerberos ticket and CredentialCache.DefaultNetworkCredentials will use the credential. The below code works after using kinit on the shell:

[code]

@mconnew @zhenlan

[2016-10-13 16:05] stephentoub commented on #11792
Fixed with #12416

[2016-10-13 16:05] #11792 closed

[2016-10-13 16:06] davidsh commented on #12618
cc: @stephentoub

[2016-10-13 16:06] stephentoub commented on #11881
@tijoytom, can this be closed now?

[2016-10-13 16:09] tarekgh commented on #7552
Hi @jchannon

not soon, this is planned to be done in the future as we are currently busy working on the netstandard 2.0.

[2016-10-13 16:11] jchannon commented on #7552
So post netstandard 2.0?

On 13 October 2016 at 17:10, Tarek Mahmoud Sayed <notifications@github.com>
wrote:

[2016-10-13 16:13] tarekgh commented on #7552
hopefully. this is really the feature I need to do as soon as we get a chance.

[2016-10-13 16:17] #12591 closed

[2016-10-13 16:27] jchannon commented on #7552
Yup really looking forward to it

On Thursday, 13 October 2016, Tarek Mahmoud Sayed <notifications@github.com>
wrote:

[2016-10-13 16:35] MattGal commented on #12608
@karelz, specifically it's https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/Documentation/building/unix-instructions.md#L33

I will try lextm's instructions shortly... I just am not familiar with the environment enough to follow the instructions in the brew error message.

[2016-10-13 16:54] karelz commented on #12421
Do you mean that your original proposal needs to be updated?

[2016-10-13 16:56] deepumi commented on #12421
@karelz I meant to say the existing System.UriBuilder

[2016-10-13 17:50] PinpointTownes opened #12623 "System.IdentityModel: status, governance and API convergence"
_Disclaimer:_ I'm well aware that the IdentityModel stack is managed by the Azure AD team and not by the FX team and [that related tickets should be opened elsewhere](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet). Unfortunately, it seems to be in a pretty bad state these days: the activity is terribly low for such an important stack, critical bugs are not fi

[2016-10-13 17:53] JeremyKuhne commented on #12539
Thanks for the info @stephentoub. Any ideas on how I might have ended up with one default(DateTimeOffset) not equal to another default(DateTimeOffset)?

[2016-10-13 17:56] Petermarcu commented on #12539
Are they both default(DateTimeOffset)? I thought the actual was coming from a "new" DateTimeOffset when I looked.

They are both default(DateTimeOffset), whats the value of the test?

[2016-10-13 18:03] tijoytom commented on #11881
@stephentoub  yes , we have bugs for follow up fix / missing property

[2016-10-13 18:07] ryanbrandenburg opened #12625 "ResourceManager.GetString always returns english when using netcoreapp"
This is a continuation of aspnet/Localization#293.
## Steps to reproduce
1. Clone and run [this](https://github.com/ryanbrandenburg/ResourceManagerNetCoreApp) repo app.
2. See that the value from the english resx has been returned even though the current culture is swedish.
3. Move `net451` to the top of the frameworks in project.json to run the project under `net451` instead of netcoreapp.
4. Not

[2016-10-13 18:18] stephentoub commented on #12580
https://github.com/dotnet/corefx/pull/12616

[2016-10-13 18:18] #12580 closed

[2016-10-13 18:20] #11616 closed

[2016-10-13 18:44] karelz commented on #6740
@KrzysztofCwalina will kick off much broader public discussion around design and usage of `Span<T>`, `ArraySegment`, etc. early next week. That design discussion will probably go on for a while.
Until there is consensus from that discussion we will put on hold all API additions which are likely to be impacted by the outcome of that discussion (like this one). Please stay tuned.

[2016-10-13 18:46] danmosemsft commented on #9838
@weshaggard would this potentially break existing code? what is our compat bar/process?

[2016-10-13 18:50] karelz commented on #11881
Please close it then (as assignee) and link the follow up bugs. Please mark them with netstandard2.0 and 1.2.0 milestone. Thanks!

[2016-10-13 18:52] weshaggard commented on #9838
With every change there is potential to break someone depending on the old behavior, right or wrong, but in this case I don't feel like it will be an issue to fix.

[2016-10-13 18:54] karelz commented on #9838
Agreed. We don't want to be bug-by-bug compatible. That would prevent us from almost any innovation.
However, we have to be compatible in places where there is high risk of breaking existing code and causing headaches to lots of developers. This does not seem to be the case.

[2016-10-13 18:55] JeremyKuhne commented on #12539
I'm testing to make sure the non-supported creation time platforms give back the value that they should.

[2016-10-13 18:56] danmosemsft commented on #12623
@terrajobst

[2016-10-13 18:57] danmosemsft commented on #9838
Fine.

[2016-10-13 19:02] ericstj opened #12626 "System.Collections references non-shipping targetGroup for System.Runtime"
I noticed today that System.Collections references a "netstandard1.7" targetgroup config of System.Runtime.
https://github.com/dotnet/corefx/blob/9eaf364b8ca8180bace20aab188b1efe6a55835f/src/System.Collections/src/System.Collections.csproj#L23

That's actually the default, and since S.R.builds doesn't contain a netstandard1.7 config we don't actually ship this dll.  We should remove targetgroup fr

[2016-10-13 19:03] robertmclaws commented on #9846
@terrajobst Any idea when this can be dealt with? Since it's a blocking production issue I think it probably needs to be prioritized. Thanks!

[2016-10-13 19:04] morganbr commented on #12388
@bartonjs

I'm not convinced of this given that the vast majority of existing code and samples would use RSACryptoServiceProvider. I also thinking making it work on .NET Framework (with appropriate quirking) isn't unreasonable. Keep in mind that if you're setting KeySize, you're generating a brand new key, so it won't break working with existing keys. The only scenario that would break is a progra

[2016-10-13 19:04] robertmclaws commented on #11100
@terrajobst This is a blocking production issue. Any idea when we can get a fix onto NuGet? Thanks!

[2016-10-13 19:33] robertmclaws commented on #10752
PS, I updated the speclet at the top, and deleted the speclet in the middle. I'm ready to re-open and update my PR.

[2016-10-13 19:36] benrr101 opened #12627 "Client hostname not provided when connecting with SqlClient"
Connecting to a SQL Server instance with SSMS or with the full .NET framework SqlClient library will generally include the hostname of the client. This is visible on the database when running `EXEC sp_who2`. However, in the current stable build of dotnet, the SqlClient does not provide a hostname for the client when connecting.

**Scenario:** Connecting to a SQL Server instance using SqlClient lib

[2016-10-13 20:10] danmosemsft commented on #2342
XML Schema is already done. It's not yet in an easily consumable form though.

[2016-10-13 20:19] danmosemsft commented on #12145
@weshaggard I don't think this is worth recording by itself- we need to think all up about whether we have the right set of contracts after we've done our API work.

[2016-10-13 20:19] #12145 closed

[2016-10-13 20:24] danmosemsft commented on #12000
@weshaggard Can you help me understand the problem with the dependency on CodeDOM? Isn't it okay for .NET Core's implementation of NS2.0 types to depend on non-NS2.0 types? Especially if it makes the implementation "better".

[2016-10-13 20:39] #12132 closed

[2016-10-13 20:50] danmosemsft commented on #1797
@304NotModified as you noted since these are in the standard we plan to implement them in this corefx repo. This is trackedi n https://github.com/dotnet/corefx/issues/12260

[2016-10-13 20:52] JeremyKuhne opened #12628 "Common application data isn't writable by users on Unix"
`Environment.GetFolderPath(Environment.SpecialFolder.CommonApplicationData)` currently returns `/usr/share` on non-Windows platforms, which apparently isn't generally accessible without sudo access. This is breaking for apps as on Windows the folder returned has rights for creating folders and modifying rights for non-Admin users. `/usr/local/share` seems to have the same problem.

This came up wi

[2016-10-13 21:08] jamesqo opened #12629 "Investigate benefits of optimizing Enumerable.Cast for non-generic ICollections"
Although `Enumerable.Cast` accepts a non-generic enumerable which are rare nowadays, it's used fairly often with generic enumerables in which the user knows that all of the objects are of a derived type. We should investigate to see if it is worthwhile optimizing the function for ICollections, e.g. the size of the array/list in `ToArray` / `ToList` can be predetermined.

Discussion moved from #120

[2016-10-13 21:12] jamesqo commented on #12629
@VSadov, in response to one of your questions from the other thread

Implementing IPartition could be breaking for Cast followed by Skip / ElementAt / Last, since we may skip over an item that would have thrown an exception when we attempted to cast it. For example, consider

[code]

[2016-10-13 21:42] karelz commented on #10454
What exactly is your proposal then?

BTW: .NET Standard 2.0 is focused on compat with Desktop 4.6.1 and Xamarin. New APIs which are not in those won't be part of netstandard2.0. However, new APIs can be introduced in .NET Core 1.2 (they just won't be available on all standard .NET implementations).