[2016-12-06 23:09] karelz commented on #14047
@jkotas you should come next week to API review meeting to close on this.

[2016-12-06 23:11] tarekgh commented on #14228
The test is testing the objects instances and not the contents. it happens that we have 2 different instances to objects have same values. so the test is failing although the values are same. I'll try to fix this one

[2016-12-06 23:20] tmat commented on #14219
As you said the API provided by System.Reflection.Metadata is designed to be fast and consume as little memory as possible. We agree it would be nice to build an object model on top of this low-level APIs. We think it would be desirable for such API to have the shape of System.Reflection API (Assembly, Module, Type, TypeInfo, MethodInfo, etc.) for the reader part and System.Reflection.Emit API (As

[2016-12-06 23:22] tmat commented on #14219
As @svick points out using Cecil is also an option.

[2016-12-06 23:22] karelz commented on #14234
What's the point of so many constructors? How will they be used?

Why did you use `short` everywhere instead of `long`?
The naming `short KiloBytes` vs. `double TotalKiloBytes` sounds weird. Is there any precedence to this pattern of having int vs. double differentiated with 'Total' prefix?

[2016-12-06 23:25] JonHanna commented on #14244
Is that a responsibility of `IComparer<T>` or of the caller of `Sort` (or `OrderBy` etc.). If one was going to implement an order that wasn't total (e.g. XmlSchema's rules on comparing datetimes without time zones, would doing so in an `IComaprer<T>` be disallowed?

[2016-12-06 23:29] karelz commented on #12915
Do you have examples of real-world code which needs it?

[2016-12-06 23:31] AlexGhiondea commented on #13800
@jamesqo I think this makes sense. Marking ready for review.

[2016-12-06 23:33] benaadams commented on #14234
Removed; same can be achieved, probably more usefully via chaining as can specify units e.g.

`new ByteSize(10) + ByteSize.FromKiloBytes(10).Add(ByteSize.FromMeBiBytes(10))`

As used in [`TimeSpan`](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/TimeSpan.cs#L97-L148) e.g. `Days` vs `TotalDays`

`KiloBytes` is the modulus of its unit and can only return the range `-1000` to `

[2016-12-06 23:35] AlexGhiondea commented on #13505
@svdh2 it sounds like there is nothing we need to do here. Please reactivate if that is not the case.

[2016-12-06 23:35] #13505 closed

[2016-12-06 23:36] marek-safar commented on #14235
As @jcouv wrote. It'll be included in the next release we call internally Cycle10 which does not have set date yet. We are previewing Cycle9 at the moment.

[2016-12-06 23:37] krwq commented on #14252
@Jaedson33 - I normally advice just taking a look at the tests but I can't seem to find any here. Second option is always to look at the documentation: https://msdn.microsoft.com/en-us/library/ms229745(v=vs.110).aspx

@bartonjs - Jeremy do you know where the tests for SignedXml class are?
This is giving no results: https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=SignedXml

[2016-12-06 23:39] CIPop commented on #4467
SslStream tests were intermittently failing.

The tests are not written to support multiple executions in parallel. We should write proper stress/perf tests for that purpose.
On a normal dev station this is not observed unless the machine is very busy. In CI, I've been told that it's common for the machine to be busy executing multiple requests on the same system.

See my last comment above:

Afte

[2016-12-06 23:41] karelz commented on #13834
The first option (adding overloads with `int`) would bloat to all types (`short`, `long`, etc.), right? ... That's kinda ugly.
The second option of using different names is really weird.

Overall we believe that `Math` class is pretty crowded already. We had to add `MathF` recently.
Maybe we should just wait for your library to pick up some interest (which will also validate your assumption that 2

[2016-12-06 23:43] AlexGhiondea commented on #13526
@NickCraver I have updated your initial comment to contain the proposed API. Please take a look and let me know if it looks right.

[2016-12-06 23:46] AlexGhiondea commented on #14193
Thanks @svick for the search! While it might be useful to have a parameter-less method for this, it does not look like there is a clear default that we can use for this.

[2016-12-06 23:46] #14193 closed

[2016-12-06 23:47] #13348 closed

[2016-12-06 23:49] karelz commented on #14178
Looks like the problem can be easily solved without new API.
Please let us know if you strongly disagree.

[2016-12-06 23:49] #14178 closed

[2016-12-06 23:50] AlexGhiondea commented on #12737
Regardless of how we implement this, @richlander do we want to have the API?

If we do, then we are going to need a formal API proposal for them.

[2016-12-06 23:52] AlexGhiondea commented on #13455
@mellinoe I am assigning this to you -- could you take a look?

[2016-12-06 23:53] AlexGhiondea commented on #12991
@swgillespie I am going to close this issue. If we see the test failing again we can either re-open it or file a new issue.

[2016-12-06 23:53] #12991 closed

[2016-12-06 23:54] #13901 closed

[2016-12-06 23:55] mellinoe commented on #12425
@mburbea I think that this is in a good state and should be ready for our meeting next week.

For our reviewing, I think having a real implementation for all of these methods would actually be very helpful. A big part of the benefit of these API's is that they will hide the "scariness" of complicated bit manipulation from the user. It would be good if we could see just how "scary" the code is on a

[2016-12-06 23:55] mellinoe commented on #12425
Additionally, can you update the original post with your finalized proposal, including any extra methods that were suggested that you believe are valuable?

[2016-12-06 23:56] AlexGhiondea commented on #13427
@nietras I have assigned this issue to you.

[2016-12-07 00:02] mellinoe commented on #11030
I like the concept, but I am worried that we will get really bad performance out of this. `Vector<T>` has a *functional* IL implementation using this pattern, but it is most certainly not *fast*. Part of that is because of the odd generic code style (inherited here), but it has other problems, like massive structure size, massive function length, etc. that aren't necessarily inherited here. Those

[2016-12-07 00:04] mellinoe commented on #7751
I'm going to close this because the work involved in this is over in the https://github.com/dotnet/coreclr repo, and the work can just be tracked by issue https://github.com/dotnet/coreclr/issues/4356.

[2016-12-07 00:04] #7751 closed

[2016-12-07 00:05] karelz commented on #13526
@yishaigalatzer can you please review the API proposal as well?

[2016-12-07 00:06] tannergooding commented on #12425
@mellinoe, would these methods have intrinsic support (many of these functions have CPU level instructions that are useable/preferred in some scenarios).

[2016-12-07 00:07] mellinoe commented on #12425
It's something to consider as an optimization, but I don't think it's anything we need to block the proposal or an implementation on.

[2016-12-07 00:13] bartonjs commented on #14252
SignedXml doesn't exist in .NET Core yet.  Issue #4278 tracks that work.

[2016-12-07 00:13] #14252 closed

[2016-12-07 00:13] JonHanna commented on #7175
That covers overflow and NaN inputs. Another possibility is a NaN result. That's fine for `TimeSpan.Zero / TimeSpan.Zero` but less so for `TimeSpan.Zero / 0.0`. `DivideByZeroException` would be one possible result, but I think then for consistency we should also make `new TimeSpan(1) / 0.0` throw the same instead of `OverflowException`. Alternatively it could be an `InvalidOperationException`, but

[2016-12-07 00:17] mellinoe commented on #13455
I'll need to find some time to investigate this. It would help if we could tell which test case was allocating too much, otherwise it's hard to tell what to fix.

[2016-12-07 00:31] karelz commented on #4467
What kind of failure(s)? Timeouts? Something else?

What does it mean? Do they have shared state? Or do they have hardcoded timeouts which are too short for 'busy machines'?

And that's a problem of the test having too aggressive expectations, it should have some room for busy machines / slow VMs / etc. Not unreasonably large timeouts, but still some room to accommodate for differences.
What about

[2016-12-07 00:37] bartonjs opened #14255 "Add Encoding.GetBytes(string, offset, count)"
The Encoding class has methods for encoding the middle of a `char[]`, but not for the middle of a `string`.  A caller is forced to switch to unsafe (char*)  or to re-allocate as `char[]`.

[code]

The `GetBytes(string, int, int)` method would allow for the typical "just give me a big enough array" while the `GetByteCount(string, int, int)` method would allow for ensuring that an existing buffer is

[2016-12-07 00:38] karelz commented on #14234
Oh, I entirely missed that. I though you are providing utility function to give me KBs (even if there is millions of them - that's what 'Total&asterix;' gives me). You truly want it similar to `TimeSpan`. Now the 'Total' prefix makes perfect sense.
I wonder: In `TimeSpan` one expects trouble as the base is changing (1000, vs. 60 vs. 24). I wonder if this API won't be too confusing ... (or is it ju

[2016-12-07 00:40] karelz commented on #1794
Speaking very general: Adding multiple ways of doing things is an option, however it typically pollutes the API surface and confuses developers which one to choose when. So there should be a strong reason to do something like that.
Are there other use cases beside testing? Is testing such strong scenario we need to expose this? Are there alternatives?

[2016-12-07 00:46] JonHanna commented on #14234
Such modulus properties as `TimeSpan.Hours` which can only be [-23, 23] and `DateTime.Hour` which can only be [0, 23] use `int`.

[2016-12-07 00:47] tarekgh commented on #14255
@bartonjs
we already have

        public virtual int GetBytes(String s, int charIndex, int charCount,byte[] bytes, int byteIndex)

I think this address your request here

[2016-12-07 00:49] benaadams commented on #14234
Mostly I think they are useful when custom formatting; though `ToString` should probably handle that?

Happy to remove; will comment the block in suggested api

[2016-12-07 00:52] benaadams commented on #14234
@JonHanna next you'll tell me people use `int` rather than `uint` for their loop array indexer; due to negative array sizes 😉

Updated to `int`

[2016-12-07 00:59] Priya91 commented on #14182
Have a PR open for this #14258

[2016-12-07 01:03] dbjorge commented on #14244
I would consider it reasonable to either:
* Explicitly demand a well-defined set of ordering properties as a contract of the `IComparer` interfaces
* Explicitly _disclaim_ requiring any particular ordering guarantees as an interface contract, but include an informational warning that `IComparer` use sites may require certain ordering properties (with examples).

I think either of those would be a

[2016-12-07 01:06] Jaedson33 commented on #4278
@karelz  But I don't want to wait. Why you don't fix it now?

[2016-12-07 01:08] JonHanna commented on #14244
I think the warning is a good idea.

[2016-12-07 01:11] karelz commented on #4278
@Jaedson33 see my reply above - it explains why we cannot fund it now. It is about priorities. There is a line of people who want many features/APIs now, but we do not have infinite-size team, so we have to prioritize.

If you need it really badly ASAP, you can always contribute to the code base, we will be happy to help out with guidance, code reviews and feedback.

[2016-12-07 01:13] shmao opened #14259 "To Support XmlUnknownElementAndEventHandlerTest in RelfectionOnly Mode"
The following tow tests failed in ReflectionOnly mode,

- XmlSerializerTests.XmlUnknownElementAndEventHandlerTest [FAIL]
- XmlSerializerTests.XmlUnknownNodeAndEventHandlerTest [FAIL]

To fix the issue, we need to have a look at the fix we made for the above two tests and make changes on reflection only code path accordingly.

Steps to repro the issue:

1. Remove [ActiveIssue] on the test.
2. cd in

[2016-12-07 01:15] Jaedson33 commented on #4278
Ok, so I'll wait.

[2016-12-07 01:20] shmao opened #14260 "To Support XmlSerializerTests.XmlSchemaTest in RelfectionOnly Mode"
Steps to repro the issue:

1. Remove [ActiveIssue] on the test.
2. cd into `src\System.Private.Xml\tests\XmlSerializer\ReflectionOnly`
3. `msbuild System.Xml.XmlSerializer.ReflectionOnly.Tests.csproj /t:buildandtest`

The test failed with the following error,

[code]

[2016-12-07 02:33] JonHanna commented on #3958
Since this is marked up for grabs, I'm taking that as a green light on tackling this. (I'd just remembered it and looked it up to argue it's case).

[2016-12-07 03:05] dotnet-mc-bot opened #14263 "Test failure: Tests of 'System.Collections.Concurrent.Tests.ConcurrentBagTests' failed with 'Xunit.Sdk.EqualException'"
Opened on behalf of @jiangzeng

The test `System.Collections.Concurrent.Tests.ConcurrentBagTests/AddSome_ThenInterleaveAddsAndTakes_MatchesOracle` has failed.

Assert.Equal() Failure\r
    Expected: BagOracle [0, 1]\r
    Actual:   ConcurrentBag<Int32> [1, 0]

        Stack Trace:

           at System.Collections.Concurrent.Tests.ProducerConsumerCollectionTests.AddSome_ThenInterleaveAddsAndTakes_

[2016-12-07 03:09] jiangzeng commented on #14263
Should be "test-run-desktop" issues

[2016-12-07 03:16] stephentoub commented on #14263
These are all tests I added after I rewrote ConcurrentBag.  It looks like I may have inadvertently reordered how items are output from ToArray/CopyTo/enumeration, and then written the additional tests expecting the revised ordering.  Such a reordering isn't technically a breaking change, as ConcurrentBag is explicitly unordered, but I'll look at either fixing the ordering to match desktop, or disa

[2016-12-07 03:32] mairaw commented on #14244
I own these docs so I'd be one making the updates. Just let me know who I should be working with to figure out what's the guidance we want to provide there.

[2016-12-07 04:34] dasjestyr commented on #1624
I dunno. What does the test look like?

I think the statement is a bit of a strawman. The point is to mock the dependency which is the http client. All we'd be doing is make sure that the expected methods on the interface were being called under the right conditions. Whether or not we should have chosen a lighter dependency seems to be a completely different discussion.

[2016-12-07 04:56] Priya91 commented on #6685
The requested feature is a proposal for a new syntax in Regex language rather than the Regex API in .NET. We do have ways to accomplish matching these kind of patterns with the current syntax, and the proposal is to have a simplified way. We do have a POSIX standard for regular expressions, and due to its limitation the .NET implements the Perl 5 regex syntax. This proposal would be better suited

[2016-12-07 04:57] #6685 closed

[2016-12-07 05:16] davidfowl commented on #14203
I don't agree it's a CLI issue.

[2016-12-07 05:28] Priya91 commented on #12219
@joelverhagen Using WaitForExit without timeout after the other overload should unblock you, as pointed out in the docs. Closing this issue, please reopen if further assistance needed.

[2016-12-07 05:28] #12219 closed

[2016-12-07 06:12] Priya91 commented on #11670
@mbinette91 On windows, if the pinvoke failed to get starttime, we throw Win32Exception, [here](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.cs#L866), and invalidoperationexception is thrown when the handle is invalid indicating process exit. On Linux, there is no good way to determine why the proc/stat file parsing failed, coul

[2016-12-07 06:13] #11670 closed

[2016-12-07 06:13] bartonjs commented on #14255
No, because you don't know how big the buffer needs to be without GetByteCount.  And the version that just returns a `byte[]` makes the `char[]` and `string` versions have the same shapes.

[2016-12-07 06:17] Priya91 commented on #11503
@ianhays Can you provide a smaller repro..

[2016-12-07 06:38] Priya91 commented on #10361
@gerardog Closing this issue, please reopen if the suggested methods don't work for you.

[2016-12-07 06:53] Priya91 commented on #7343
@Dmitry-Me
[code]

doesn't work? The exception thrown in case of Process exited is InvalidOperationException as documented.

[2016-12-07 07:08] Priya91 commented on #4720
@krwq Is there any work to be done here?

[2016-12-07 07:11] Priya91 commented on #3753
The current implementation works on OSX, and there's no motivation to change this. If freebsd requires support, an implementation using sysctl can be explored, currently there's no requirement for this.

[2016-12-07 07:11] #3753 closed

[2016-12-07 07:15] Priya91 commented on #2782
@radekm Is there a cross-plat way to support this scenario across Windows Onecore, LInux and OSX? If so can you provide an API proposal.

[2016-12-07 07:18] Priya91 commented on #2070
Closing this issue, given that mono implementations can be used now, and also shim work is done. Please open new issue with current data on Freebsd support if required.

[2016-12-07 07:18] #2070 closed

[2016-12-07 07:32] Priya91 commented on #1838
@KindDragon Can you provide an API proposal? A good example [here](https://github.com/dotnet/corefx/issues/271)

[2016-12-07 07:34] Priya91 commented on #1081
@giorgi Can you provide an api proposal, a good example [here](https://github.com/dotnet/corefx/issues/271)

[2016-12-07 07:36] Priya91 commented on #709
This is covered by tests now, through process times tests.

[2016-12-07 07:36] #709 closed

[2016-12-07 07:43] Priya91 commented on #14238
Yes it would be. There's an another issue filed long back on this to expose a new property to control this behavior.

This issue will be a dupe of #306

There was an api review on this long time back, it would be worth it to revisit this once again. @whoisj Feel free to drop your comments on the tagged issue.

[2016-12-07 08:01] Priya91 commented on #12180
Most of the funtionality in this library is provided through Roslyn, and roslyn is constantly evolving in that space. We don't foresee innovating in codedom, and don't think it's worth the investment here, to light these up using roslyn..

[2016-12-07 08:03] Priya91 commented on #12179
Is this fixed in the linked merged PR, should we close this?

[2016-12-07 08:13] #14182 closed

[2016-12-07 08:22] karelz commented on #12460
@geoffkizer this is last missing .NET Standard 2.0 API. Do you think you can finish it this week? Alternatively we can ask for help from @Priya91.
cc: @danmosemsft

[2016-12-07 08:29] karelz commented on #14244
@dbjorge @JonHanna can you please suggest which text to change to what? (ideally mention the diff or old & new text) Thanks!

[2016-12-07 08:53] Dmitry-Me commented on #7343
@Priya91 It sort of works but
* this doesn't look like a clear API - you have to expect a race to get motivated to write such code
* an exception introduces overhead for no good reason
* an exception can trigger a breakpoint when run under debugger for no good reason

[2016-12-07 08:58] varocarbas commented on #13834
Note that I am talking about the exponent, that it is pretty close to the `decimal` limit (28) and that the current `double` based approach plainly ignores everything after the 15th decimal position (getting so far isn't even required because some digits before that point are already wrong in most of scenarios). As said, I don't see this as a problem (although the current version is a bit too slow

[2016-12-07 08:58] varocarbas commented on #13834
@karelz

Note that I am talking about the exponent, that it is pretty close to the `decimal` limit (28) and that the current `double` based approach plainly ignores everything after the 15th decimal position (getting so far isn't even required because some digits before that point are already wrong in most of scenarios). As said, I don't see this as a problem (although the current version is a bit

[2016-12-07 09:30] damianh commented on #1624
HttpClient is the worst dependency ever. It *literally* states that the
dependee can "call the Internet". Sure y'all be mocking TCP next. Heh

On 7 Dec 2016 5:34 a.m., "Jeremy Stafford" <notifications@github.com> wrote:

Is this really unit testing? Be honest now :)

I dunno. What does the test look like?

I think the statement is a bit of a strawman. The point is to mock the
dependency which is t

[2016-12-07 10:13] JonHanna commented on #14244
Could an extra page be added describing total ordering? A concise statement linking to it would probably be clearer and with less text added to the individual pages affected.

[2016-12-07 10:39] ewinnington commented on #2394
So OmniXAMLv2, which is still in development, should support x:Class attributes (https://github.com/SuperJMN/OmniXAML/issues/12). Maybe we can use it for (Core)WF?

[2016-12-07 10:50] dmetzgar commented on #2394
@ewinnington Thanks for pointing that out!
That's definitely a big chunk of it. Also, .NET Standard 2.0 has a bunch of System.ComponentModel types used by WF. System.Transactions is already in corefx. Only thing missing is WCF ServiceHost.

[2016-12-07 12:10] svick commented on #14255
Should this wait for `Span<T>` (https://github.com/dotnet/corefx/issues/13892)? With that, the API would look something like:

[code]

And it would cover the existing use cases of `string`, `char[]`, `char[], int, int`, `char*, int` as well as the use case in question here: `string, int, int`.

[2016-12-07 12:11] stephentoub commented on #10361
Why are we closing this? Just because there's a workaround doesn't mean it's addressed. There's functionality that works in desktop and works in mono but doesn't in core: that's something to investigate further. Have we already done so?

[2016-12-07 12:24] stephentoub commented on #12179
@hughbe did a good job adding a bunch of tests.  There's still more that can be done, but the coverage level is high enough that I don't think we need an issue tracking it anymore.

[2016-12-07 12:24] #12179 closed

[2016-12-07 13:40] atanasa commented on #13364
Why is this closed? I couldn't find either of option 1 and 2 being currently implemented.

[2016-12-07 13:55] tmds commented on #14152
## Proposed API

### Proposal 1: emit event
[code]

example:

[code]

### Proposal 2: return as Key

[code]

example:

[code]

## Notes

- The rationale for triggering the event as part of the Read (both proposals) is because both the Read and the event are reasons to to update the UI.
- An explicit action (e.g. proposal 1: subscribe to event, proposal 2: set property to true) allows to avoid a pe

[2016-12-07 13:57] tipa commented on #13914
It turned out that after deleting the `bin` and `obj` folders and a complete rebuild everything works fine now. Seems like the app still used the old packages or didnt find the new one (or however that works, I don't know the details...).
Thanks for your help and sorry for bothering you!

[2016-12-07 13:57] #13914 closed

[2016-12-07 14:42] jamesqo commented on #12425
Are we still considering different names for these methods? IMO, in their current form they are kinda verbose-- for example, `BitManipulation.PopulationCount` is pretty long to type, and its meaning is not immediately obvious to non-assembly programmers. (It may not even be implemented with popcnt.) In addition, `GetInt32` / `SetInt32` and family sound a bit too Java-like.

I think we may want to

[2016-12-07 14:43] galvesribeiro commented on #2394
WCF ServiceHost can wait IMHO. Hosting model should be agnostic just like anything else in .Net Core/Asp.Net world I think...

[2016-12-07 14:47] InariTheFox commented on #2394
@galvesribeiro I agree with this, given the fact that there are plenty of other ways that WF can work in a .NET Core world, including Web API.

[2016-12-07 15:16] whoisj commented on #14238
It seems the heavens are aligning on this issue:

https://blogs.msdn.microsoft.com/oldnewthing/20161207-00/?p=94875

[2016-12-07 15:19] galvesribeiro commented on #2394
Yup. However, I agree with @dmetzgar that there are a bunch of customers that today use WCF so having it supported is a must-have but again, it can be delayed...

In fact hosting and the "design language" should be abstracted from the core runtime...

[2016-12-07 15:22] stephentoub commented on #14238
I  expect it would also break a lot of code even on core, such as apps using anonymous pipes  and expecting the handles to be inherited.

Implementing this on Unix would I expect also be tricky. The only way I'm aware of doing it would be making ~30K calls to close all file descriptors > 2, which would be expensive and potentially error prone.

I'm fine seeing an option added, but I'd be concerned

[2016-12-07 15:31] mburbea commented on #12425
IMO, C# has always been a bit more on the verbose side. I felt that was intentional as code is more often read than written. The longer names have always been explained away with the fact that most people are writing C# using an IDE which offers Intelisense.

- I am okay with renaming the class to maybe something like `BitUtility`.
- I'll rename `CircularShift*`=> `Rotate*`.
-`PopulationCount`: ho

[2016-12-07 15:58] redknightlois commented on #12425
We use ```Bits``` and ```Sparrow.Binary``` as a namespace to put all that stuff and in practice it reads quite well. https://github.com/ravendb/ravendb/blob/v4.0/src/Sparrow/Binary/Bits.cs (```Sparrow``` is our fast library name, call that ```System.Binary``` here instead).

```PopCount``` is a very well known name, the same with ```RotateLeft32```, ```RotateRight32```, ```RotateLeft64```, ```Rota

[2016-12-07 16:18] ianhays commented on #13914
No worries @tipa, glad you were able to figure it out :)

[2016-12-07 16:20] ericstj commented on #14203
@davidfowl, can you elaborate on how this is a packaging issue?  We're intentionally putting things in netcoreapp1.1/netstandard1.7 right now as a placeholder for v.Next.  If your intent is to consume packages from master then you need to have NuGet 3.5-RC or later and "netcoreapp1.1" actually means "netcoreappvNext".

If your intent is to actually target netcoreapp1.1 then you shouldn't be using

[2016-12-07 16:22] davidfowl commented on #14203
I think we made a fundamental mistake remapping netcoreapp1.1 to netstandard1.7 (for exactly this reason). What we should have done instead is keep netcoreapp1.1 and netcoreapp1.0 mapped to netstandard 1.6 and mapped netcoreapp1.2 to netstandard1.7. This would have kept everything working as is and would have allowed us to take new bits without grabbing a new CLI.

Remapping TFMs changes the resto

[2016-12-07 16:25] davidfowl commented on #14203
That's not right. We shipped `Microsoft.NETCore.App 1.1.0` which maps directly to netcoreapp1.1, it cannot mean vnext. That's netcoreapp1.2

[2016-12-07 16:36] #14263 closed

[2016-12-07 16:39] helmsb commented on #2394
We use WCF with WF but would happily switch to something like WebAPI if WF was in Core. In fact we've been going ahead and moving off of WCF to a RESTful alternative regardless. We get a TON of value out of Workflow and it's on of my favorite .NET technologies!

[2016-12-07 16:41] svick commented on #12425
I wonder if this is one of the types that is likely going to be used with `using static`. If that's the case, the length of the class name does not matter much, since it's going to appear only once per file.

[2016-12-07 16:53] ericstj commented on #14203
@davidfowl The mapping of netcoreapp1.1 to nestandard1.7 was not a change.  It was made before netcoreapp1.1 shipped and was what we intended to ship with netcoreapp1.1.

What changed was folks decided that we should stop letting netcore and desktop drive the definition of new NETStandard versions.  As a result we decided to not use the 1.1 > 1.7 mapping as part of the 1.1 release.

Meanwhile, we

[2016-12-07 16:53] tarekgh commented on #14255
@svick that make sense to wait for Span<T>.

[2016-12-07 16:56] mairaw commented on #14244
@JonHanna yes, it's possible to add a separate article explaining the concepts and then link to it from the affected pages.

[2016-12-07 17:01] karelz commented on #13364
@Priya91's change above (#13821) did option 3 - making the code shared (via Common) across assemblies (technically there are multiple copies). While not ideal, it will give us time to focus on proper solution and API shape in option 2, instead of rushing through API now or exposing API we do not want long-term in option 1.

[2016-12-07 17:04] aL3891 commented on #2394
I also think WF on core shouldn't have to depend on either xaml or wcf, just having the wf engine and object model would be super valuable. You would then run that as a middleware on asp.net core, especially with the new pipeline/non-http work that is coming to kestrel.

[2016-12-07 17:05] karelz commented on #13427
API review: We need more info about the API to make the call. @jkotas let's review it with you in the room next Tuesday -- assigned to you.

[2016-12-07 17:10] karelz commented on #8034
The design discussion is not converging here. Moreover the 200 comments are very hard to follow.
We plan to grab @jkotas next week and flush out proposal in API review next Tuesday. We will then post the proposal back here for further comments.

On a side: I suggest to close this issue and create a new one with the "blessed proposal" when we have it next week to lower the burden on following the l

[2016-12-07 17:15] karelz commented on #13834
I think that if the APIs are truly needed, then it has a chance to trigger interest, or at least alternative libraries solving similar problem will spin off. Either way, it is a good way to test the waters if the API is needed enough to justify its addition to CoreFX.

Closing per discussion above.

[2016-12-07 17:15] #13834 closed

[2016-12-07 17:16] nikitozz commented on #11270
Create a PR: https://github.com/dotnet/corefx/pull/14269

[2016-12-07 17:23] jamesqo commented on #12425
@mburbea

Verbose does not always equal more readable-- the meaning that's conveyed is what's important. `CircularShiftLeft` does not tell the reader more information than `RotateLeft`.

:smile: :tada: We should consider both `BitUtility` (in tandem with `WebUtility`) and `BitTwiddling` for the name.

IMO, I think people who don't have a background in assembly deciphering what `PopCount` means wit

[2016-12-07 17:25] jamesqo commented on #12425
@svick

I think we should make it so people don't have to add `using static` in the first place. I'm not sure what you mean by "one of the types that is likely going to be used with using static;" I rarely use it because it can be very ambiguous to the reader.

[2016-12-07 17:27] jamesqo commented on #12425
Maybe some other people would be interested in this discussion? cc @justinvp, @nietras, @JonHanna

[2016-12-07 17:29] jamesqo commented on #8034
@jcouv I am OK with it not working yet, so as long as we can follow this design when it is released.

@karelz OK :smile: I will close this proposal later when I have time, and open a new one. I agree, 200+ comments is not being very nice to my browser.

[2016-12-07 17:36] karelz commented on #13526
@yishaigalatzer is OOF, he suggested to ask @rrelyea and @emgarten from NuGet team for the API review.

[2016-12-07 17:42] vcsjones commented on #13526
@karelz @AlexGhiondea I feel pretty strongly that this APIs should also be part of the proposal. https://github.com/dotnet/corefx/issues/13526#issuecomment-260192413.

This is the same design as `BigInteger` as @NickCraver pointed out, and solves the problem where `version == symanticVersion` would not compile but `symanticVersion == version` would.

[2016-12-07 17:43] karelz commented on #14255
Chatted with @bartonjs - this one is higher priority as there is not good safe alternative. If there's plan to have `Span` for 1.2, we could wait, otherwise we might add this API.
Let's discuss the `Span` timeline and our plans in API review meeting next week (keeping 'api-ready-for-review').

[2016-12-07 17:59] tarekgh commented on #14255
I am not seeing this one is urgent to have so I believe we can just wait for Span. why we are seeing this high priority. for me it is still nice to have feature as there is different ways achieve same results.

[2016-12-07 18:00] karelz commented on #13800
FYI: Top post reformatted to match "formal API proposal" form - it is easier to read and comprehend in reviews.

[2016-12-07 18:05] bartonjs commented on #14255
If there's a concrete plan that adds Span to Encoding, this is closable.

If there's no concrete plan, this will allow already existing over-allocating code to be cleaned up.

[2016-12-07 18:06] danroth27 opened #14273 "Feedback on ClaimsPrincipal handling of arrays and complex types"
As originally reported by @nathan-alden in https://github.com/aspnet/mvc/issues/5532

Were I to use ClaimsPrincipal, I'd be forced to rely on the broken Claim class implementation that doesn't handle arrays properly and can't handle more complex types of claim values like JSON objects.

[2016-12-07 18:13] tarekgh commented on #14255
@bartonjs right, then we can wait to figure the Span in general. my point is we don't have to rush this as I am not seeing any urgency for it. cleaning up the code is nice but it is not urgent.

@svick any idea who is looking at Span<T> in general or who is following up?

[2016-12-07 18:14] danmosemsft commented on #14017
@corivera have you had a chance to look?

[2016-12-07 18:16] danmosemsft commented on #6302
@steveharter

[2016-12-07 18:19] AlexGhiondea commented on #13526
@vcsjones agreed. I updated the comment at the top with those APIs.

[2016-12-07 18:22] AlexGhiondea commented on #13774
@jamesqo as @karelz mentioned getting the underlying change in all the platforms will take a long time. I am going to close the issue for now and we can open a new one once it becomes feasible to do this.

[2016-12-07 18:22] #13774 closed

[2016-12-07 18:23] tarekgh commented on #14255
talked offline with @bartonjs and I am fine if we can take this and discuss it with the design reviewers.

[2016-12-07 18:27] weshaggard commented on #14165
Update the CLI won't fix this. I think there are two options.

1. We make sure we include the api-set forwarders in the buildtools closure when running on win7.
2. We update just the RuntimeInformation package which no longer needs the forwarders.

I would go with option (2) which is what you have a PR up for now assuming its package closure doesn't cause any other issues.

[2016-12-07 18:29] AlexGhiondea commented on #11371
@gkhanna79 @rahku is this something we are still planning to get in for 1.2?

[2016-12-07 18:29] weshaggard commented on #14137
Sounds like we should turn on design-time build logs and understand more of what is happening here as I agree we shouldn't be doing much in that step.

[2016-12-07 18:38] ianhays commented on #11503
I haven't seen this issue occur anywhere in months. My original bug was due to some errors in FSW that I resolved. closing.

[2016-12-07 18:38] #11503 closed

[2016-12-07 18:41] AlexGhiondea commented on #12492
@varocarbas thank you for your proposal.

I am not sure if we want to take the overloads that use the array of ignored values. As you pointed out in the first post, writing code that will filter out the values is trivial and would not seem to add a lot of value as an API in Core.

I do see some potential value in having the NextDecimal and NextInt64 APIs.

@terrajobst what do you think?

[2016-12-07 18:41] gkhanna79 commented on #11371
I believe this is complete (see https://github.com/dotnet/corefx/blob/277b781b6326e06716173132f68317ddc475f67d/src/System.Runtime.Extensions/src/System/AppDomain.cs#L234).

[2016-12-07 18:41] CIPop commented on #4467
@karelz It's probably simpler if you go through the issue and the PR to answer most of your questions or we have an offline discussion to clarify more.
I'll try to summarize here: SslStream was failing with timeouts (as the title suggests). This is expected in any service/application running on a machine running out of resources (CPU, RAM, I/O), as it reaches the threshold where the overall perfor

[2016-12-07 18:44] Giorgi commented on #1081
The api is very simple:

[code]

[2016-12-07 18:45] AlexGhiondea commented on #11371
@gkhanna79 I saw that, but that is about calling `GetLoadedAssemblies` where this issue is about `GetAllAssemblies`.

Maybe we are talking about the same thing and just the title of the issue needs to be updated?

[2016-12-07 18:48] AlexGhiondea commented on #13538
@svdh2 does the API that @svick pointed out work for your scenario?

[2016-12-07 18:48] gkhanna79 commented on #11371
IIRC, @rahku likely named it differently but the goal was to have an API that allows one to enumerate the loaded assemblies, which is what `GetLoadAssemblies` does.

[2016-12-07 18:49] ericstj opened #14275 "ISupportInitialize and IDesignerHost should be in System.ComponentModel.Primitives"
/cc @ianhays @weshaggard @safern

This is causing FileSystem.Watcher to bring in TypeConverter which is not a dependency we want to have.

[2016-12-07 18:50] AlexGhiondea commented on #13822
@tarekgh what do you think about having something like this? Is there already a solution for doing this?

[2016-12-07 18:55] tarekgh commented on #13822
how this is different than StringInfo.GetTextElementEnumerator?

[2016-12-07 18:55] AlexGhiondea commented on #11371
@gkhanna79 in that case we are done with this issue! 😄

[2016-12-07 18:55] #11371 closed

[2016-12-07 18:58] AlexGhiondea commented on #13795
@Opiumtm would you be interested in putting together a formal API review detailing the API and it's use cases? And the advantages over using `ICloneable` ?

[2016-12-07 18:59] nikitozz commented on #8811
While the fix is not there, is there a possible workaround that doesn't require dealing with unmanaged code?

Thank you.

[2016-12-07 19:05] AlexGhiondea commented on #13374
It sounds like while the API looks fine, the implementation would not provide any performance improvements over the current solution.

I am going to close this for now but feel free to reopen if you come up with a way to make the new method faster than the existing solution.

[2016-12-07 19:05] #13374 closed

[2016-12-07 19:10] CIPop commented on #8811
@nikitozz I thought I've fixed this in #11489.
To obtain the close_notify effect the code needs to call the new [ShutdownAsync()](https://github.com/dotnet/corefx/pull/11489/files#diff-bd768ea3857573965e853e2ce2563434R137).
See [this test](https://github.com/dotnet/corefx/pull/11489/files#diff-e63a6111d377deb7deb9ba58773477a1R61) for an example.

[2016-12-07 19:10] jkotas commented on #13795
It may be more interesting to look at this as independent tool that generates the efficient cloners to the set of types you care about, with the custom behaviors that you want. Similar to how most of the modern serializers works.

[2016-12-07 19:18] AlexGhiondea commented on #11898
I think this is an interesting idea and it might be worth pursuing.

@terrajobst what do you think?

[2016-12-07 19:19] AlexGhiondea commented on #14235
It sounds like this will be in the next release of Xamarin.

[2016-12-07 19:21] mellinoe commented on #14235
It sounds like there is packaging work to do on our end, though, right?

[2016-12-07 19:25] AlexGhiondea commented on #11391
I agree with @KrzysztofCwalina - I am not convinced we need the `IString` abstraction.

The allocations that `StringBuilder` incurs should be solved by the new `StringFormatter` class.

Feel free to reopen if you have other scenarios where this would be useful.

[2016-12-07 19:25] #11391 closed

[2016-12-07 19:26] Priya91 commented on #1081
@Giorgi The api proposal needs to be in the form of a speclet as mentioned in the link. You can edit your first comment on this issue, with the api speclet, mainly outlining on the usage scenarios to justify need of the API and the API structure like below. This will help during api review meeting to get to the necessary information quickly rather that perusing the whole issue.

Note: Path doesn't

[2016-12-07 19:27] varocarbas commented on #12492
@AlexGhiondea OK.
BTW, would you mind to remove the up-for-grabs tag? In case of accepting my proposal, I would like to take care of this implementation myself and some people might find that tag misleading.

[2016-12-07 19:27] AlexGhiondea commented on #14235
@mellinoe @ericstj @joperezr  are the placeholders that we have today enough?

[2016-12-07 19:32] Priya91 commented on #7343
This justification applies to all exceptions that are caught and have no-op, doesn't mean it's not useful in other scenarios.

Modifying the existing API is not an option for compat reasons, and I fail to grasp the reason in introducing a new API. If you can come up with some data on why exception handling is bad for your scenario with some perf numbers or other usage scenarios, then please update

[2016-12-07 19:34] Priya91 commented on #10361
Leaving the issue open as a bug for investigation.

[2016-12-07 19:38] ianhays commented on #14212
Thanks Eric.  @shrah was getting an older version.

[2016-12-07 19:38] #14212 closed

[2016-12-07 19:41] weshaggard commented on #14275
Yes TypeConverter should be a leave node library and shouldn't have any incoming dependencies from other corefx libraries. If we find any others we need to break them as well.

[2016-12-07 19:42] Priya91 commented on #13364
The immediate problem to support authentication in Mail and HttpListener was simply solved using the easiest and less time consuming solution of sharing files. I still have it in my backlog to design a server protocol independent authentication APIs that can be used more generically. Haven't had time to come up with an API proposal, it's in my backlog :)

[2016-12-07 19:43] Priya91 commented on #11270
Thanks @nikitozz will merge when CI passes.

[2016-12-07 19:50] joperezr commented on #14235
We are already calling out `$(AllXamarinFrameworks)` [here](https://github.com/dotnet/corefx/blob/master/src/System.ValueTuple/pkg/System.ValueTuple.pkgproj#L7) so I believe that should be enough on our side. @ericstj is that correct?

[2016-12-07 19:51] safern commented on #14275
Ok, sounds good. I'll take this issue.

[2016-12-07 19:53] #11270 closed

[2016-12-07 19:59] CIPop commented on #13364
Isn't [AuthenticationManager ](https://msdn.microsoft.com/en-us/library/system.net.authenticationmanager(v=vs.110).aspx) already exposing such an API?

[2016-12-07 19:59] AlexGhiondea commented on #12492
@karelz I have assigned @varocarbas the issue. Is that the right thing to do to make sure people know who is working on an up-for-grabs issue?

[2016-12-07 20:01] Priya91 commented on #13364
AuthenticationManager is tied to a WebRequest, it's not reusable, say if i am writing a new smtp server.

[2016-12-07 20:06] karelz commented on #12492
We do not have to remove the up-for-grabs - [assignee set](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#assignee) means someone is working on it.

BTW: Assigning it to someone before the API is approved is a bit premature, unless that person is driving the API design discussion, but I don't care that much :)

[2016-12-07 20:06] #14228 closed

[2016-12-07 20:07] ericstj commented on #14212
They should all be gone now.

[2016-12-07 20:10] ericstj commented on #14235
No, we'll need to put placeholders in the package.  Currently it has none and expects the PCL to apply on all those frameworks.

@marek-safar can you confirm you will be shipping a System.ValueTuple.dll facade in Xamarin?  If so then we just need to add placeholders to ensure that the PCL doesn't apply.

[2016-12-07 20:10] karelz commented on #13364
@Priya91 did you file an issue to track the new API proposal?

[2016-12-07 20:10] varocarbas commented on #12492
@AlexGhiondea @karelz  OK. I thought that up-for-grabs was just for issues whose proposer wasn't willing to take care of the implementation (none of the issues I have created so far got that tag). Sorry about the misunderstanding.

[2016-12-07 20:12] ellismg commented on #14089
@gkhanna79 can correct me if I'm wrong, but the runtime itself will continue to believe it's running on RHEL 7.2 (which is what it was built for).

The tooling would not know RHEL 7.3 was a specialized version of RHEL, you would only need this information in cases where you wanted to publish your application standalone.  In this case, you could override the tooling to pretend you were on RHEL 7.2

[2016-12-07 20:12] Priya91 commented on #13364
Not yet, need time to investigate scenarios and design a speclet.

[2016-12-07 20:14] karelz commented on #13364
Just file an issue describing the idea / purpose, without too much details (1-2 lines is enough). It will be easier to reference :)

[2016-12-07 20:18] karelz commented on #4467
Sounds good to me

Yep, and that's exactly why timeouts should not be too tight. They should expect other normal operations on the system.

That is relevant only for tests hitting Azure servers. Is that the case here -- that is vital information and the reason why we need proper write up on the failures and root-causes and not just links to GH issues where the information is scattered across large

[2016-12-07 20:24] bartonjs opened #14283 "X509Certificate2.PrivateKey should not return ECDsa"
In https://github.com/dotnet/corefx/issues/8491#issuecomment-261338229 I observed that our current (unreleased) plan to do RSA ?? DSA ?? ECDSA only works because we don't support other ECC algorithms.

An ECC cert is ambiguous for use, it can be any of (currently)
* ECDSA
* ECDH
* ECMQV

And probably (but not explicitly)
* ECIES
* EdDSA
* ECQV

If a user requests ECDSA we can give it to them (prov

[2016-12-07 20:31] bartonjs commented on #14283
(One solution to this could be to create an "ECC" object which has ExportParameters and has some mechanism of being converted to other algorithm-based instantiations.

[2016-12-07 20:35] am11 commented on #11220
Thanks in advance for the async I/O APIs! :)

This reminds me of a very insightful article by @StephenCleary: [There is no thread](http://blog.stephencleary.com/2013/11/there-is-no-thread.html) and the quote (in comments):

However, I/O does not fall in that category as under the hood, an asynchronous procedure call would be made for an I/O op (as described in the same blog).

[2016-12-07 20:37] karelz commented on #11220
@khellang just curious how's the work going. Let us know if we can help you get unblocked.

[2016-12-07 21:02] rschiefer commented on #2394
+1 for having and supporting WF engine and object model in Core.  We can work around XAML and WCF as well.

[2016-12-07 21:12] gkhanna79 commented on #14089
This is correct. Specifically, it is the host and the not the runtime (coreclr.dll).

[2016-12-07 21:17] VikSab opened #14284 "Create a X509Certificate2 from raw PEM files with Certificate and RSA Private Key"
the example is described in http://www.codeproject.com/Articles/162194/Certificates-to-DB-and-Back

byte[] certBuffer = Helpers.GetBytesFromPEM(publicCert, PemStringType.Certificate);
byte[] keyBuffer  = Helpers.GetBytesFromPEM(privateKey, PemStringType.RsaPrivateKey);

X509Certificate2 certificate = new X509Certificate2(certBuffer, password);

RSACryptoServiceProvider prov = Crypto.DecodeRsaPriva

[2016-12-07 21:40] CarolEidt opened #14286 "Vector2, Vector3 and Vector4 divide accuracy"
The divide implementation for the fixed-size vectors uses multiplication by inverse, which doesn't yield the same result as divide.
This affects the result in the test https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/Regression/JitBlue/GitHub_8220/GitHub_8220.cs, which was modified to allow a variance of ~1 ULP, but which should in theory yield the same result for the two cases.

[2016-12-07 21:50] danmosemsft commented on #13966
@bartonjs @steveharter which one of you should take a look?

[2016-12-07 21:52] verybadcat commented on #14178
The user might be doing a summation, for example, where they take a lot of powers. It could also happen in a graph, though powers in graphs are frequently not of integer type. I've attached a test case for this. The problem comes when the base is large. I don't know why BigInteger.Log(x, 2) takes so long when x is large, as you should only need to look at the number of bits and the most significan

[2016-12-07 22:07] tarekgh commented on #230
@richlander @weshaggard do we have any plan yet for this issue?

[2016-12-07 22:14] tarekgh commented on #247
@weshaggard @jkotas do you think we can bring back security attributes? looks this what requested by @kangaroo

[2016-12-07 22:21] tarekgh commented on #915
@tarekgh

[2016-12-07 22:30] #13979 closed

[2016-12-07 22:58] bartonjs commented on #14284
@VikSab I'm not sure what change you're hoping for?

[2016-12-07 23:00] jkotas commented on #247
We do not have

[2016-12-07 23:00] rowanmiller opened #14288 "OverflowException on SqlConnection.Open()"
Originally reported in the EF project by @Thaoden - https://github.com/aspnet/EntityFramework/issues/7145.

### Steps to reproduce

Create a new DbContext and ensure the database is created

    var dbOptionsBuilder = new DbContextOptionsBuilder<MyDbContext>().UseSqlServer(connectionString);
    var dbContext = new MyDbContext(dbOptionsBuilder.Options);
    dbContext.Database.EnsureCreated();

###

[2016-12-07 23:02] VikSab commented on #14284
Currently i am only able to create the
X509Certificate2 certificate - but it has no PrivateKey.

The Example in the link is able to merge the 2 certificates  (in the attachment) and produce a X509Certificate2 with both a public and private keys

[2016-12-07 23:11] jkotas commented on #247
We do not have security annotations in most of the code, and the few remaining places that still have them are not maintained and checked for consistency. We are removing them as we run into them. I do not think that they are coming back.

[2016-12-07 23:11] #247 closed

[2016-12-07 23:13] verybadcat commented on #14178
Looking at your note again -- part of what you are thinking is that it's always OK to just take the power? I'd disagree. Consider that (10^100+1)^20 might be fine, but something like (10^10000+1)^20 could hang a small device. And if it doesn't, a few more iterations of adding 1 and taking the 20th power surely would.

[2016-12-07 23:15] mburbea commented on #12425
Here is my quick and dirty implementation of the class, I can set up a PR later if this looks good. I'll update the speclet later today.
https://gist.github.com/mburbea/c9a71ac1b1a25762c38c9fee7de0ddc2

As you can see pretty much everything is full of magic constants and shift operators. Suprisingly, the Get*/Set* were actually some of the hardest to write code (curse you sign extension!). Outside

[2016-12-07 23:15] bartonjs commented on #14284
The PrivateKey property will be back in netstandard2.0 (https://github.com/dotnet/corefx/issues/12295), but it will throw on set for .NET Core.

set_PrivateKey has a large amount of nuance in .NET Framework (depending on how you use it you can end up with side effects that persist across machine reboots), and mirroring that level of nuance to platforms other than Windows is awfully tricky, which i

[2016-12-07 23:44] ericstj opened #14291 "Figure out build process for libraries with no reference assembly"
For now I binplace to the TargetingPack directory during source build, but that's not a good long term solution since it will lead folks to add simple name references rather than projectreferences that become race conditions.

Ideas proposed so far:
1. Add refs for these that we only use for NETCoreApp.
2. Build them in a separate phase between ref and src builds.
3. Make them use project referenc

[2016-12-07 23:45] Priya91 commented on #4720
We need an api proposal for this, marking it as up for grabs..

[2016-12-08 00:00] steveharter commented on #13966
Note the exception is actually from the test project (not the S.S.C.Primitives assembly); same file name for test and impl so easily mixed up.
[code]

at System.Security.Cryptography.Encryption.Tests.Asymmetric.CryptoStreamTests.IdentityTransform.TransformFinalBlock(Byte[] inputBuffer, Int32 inputOffset, Int32 inputCount) in /Users/dotnet-bot/j/workspace/dotnet_corefx/master/osx_debug_prtest/src/S

[2016-12-08 00:48] karelz commented on #14178
What kind of perf framework did you use? https://github.com/dotnet/BenchmarkDotNet

[2016-12-08 00:59] mellinoe commented on #14286
I guess that this implementation was only chosen as a micro-optimization of sorts, with the idea that using division here would generally be slower than multiplying by the inverse. It's also possible we borrowed the optimization from the XNA source code, which would have often been running on the xbox 360 where the optimization was more important (since it was more resource-constrained and had a P

[2016-12-08 01:17] jamesqo commented on #10528
@AlexRadch `ArraySegment` will not be deprecated; there is nothing wrong with it. `Span` is just a new way of doing things. Using `ArraySegment` may be necessary if you want to get back the underlying array.

@terrajobst Regarding the proposal you have above

[code]

- Should the indexer return a `ref T { get; }` instead? This would reduce copying for structs-- see https://github.com/dotnet/corecl

[2016-12-08 01:18] jamesqo commented on #10528
New proposed is

[code]

[2016-12-08 01:22] jamesqo commented on #10528
@karelz Sorry, I just noticed this has already been marked api-approved... was the above spec the final decision, or can this be reviewed again?

[2016-12-08 01:24] jiangzeng commented on #12228
Happening on build 20161207.04.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161207.04/workItem/System.Transactions.Tests/analysis/xunit/System.Transactions.Tests.AsyncTransactionScopeTests~2FAsyncTSTest

[code]

[2016-12-08 01:33] dotnet-mc-bot opened #14296 "Test failure: System.Collections.Concurrent.Tests.ConcurrentBagTests/IEnumerable_Generic_Enumerator_Current_AfterEndOfEnumerable_UndefinedBehavior(count: 0)"
Opened on behalf of @jiangzeng

The test `System.Collections.Concurrent.Tests.ConcurrentBagTests/IEnumerable_Generic_Enumerator_Current_AfterEndOfEnumerable_UndefinedBehavior(count: 0)` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.InvalidOperationException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Collections.Tests.IEnumerable_Gene

[2016-12-08 01:46] danmosemsft commented on #12460
Fixed by #14158

[2016-12-08 01:46] #12460 closed

[2016-12-08 02:36] karelz commented on #10528
There is always option to change ... changing APIs before we ship them in major release is "doable".
1. I don't have opinion on `public ref T this[int index] { get; }` - @terrajobst is it a pattern we want to consider?
2. I don't think we should replace `CopyTo` overloads with `Span` overload, because `ArraySegment` is about arrays and their segments -- so this is the place where it makes sense to

[2016-12-08 02:39] benaadams commented on #12425
Generally in .NET is ReadX and WriteX isn't it? So ReadInt32 rather than GetInt32

[2016-12-08 03:26] saurabh500 commented on #14288
@thaoden looks like you are targetting the .Net framework 461 in your application instead of .Net core.
What version of .Net framework do you have installed on the OS running the app?

[2016-12-08 03:33] tannergooding commented on #12425
I feel as though input validation on these bits defeats the purpose. If validation were to be done, I would personally want them to wrap a version that did no validation (so you would have `FastOperation` and `ValidatedOperation`, where `ValidatedOperation` does the check and then calls `FastOperation` and both APIs were publicly available).

I would also guess that big endian does not need to be

[2016-12-08 03:33] KKhurin commented on #7198
This takes less than 10 seconds to repro in WCF stress with short (~1s) Open timeouts. https://github.com/dotnet/wcf/issues/1676

[2016-12-08 03:56] jamesqo commented on #12425
@benaadams

I like your idea. Bit-twiddling is all about low-level programming, so "read" / "write" jives with me more here than "get" / "set". In addition, they sound smoother.

@mburbea

I don't think we should. This should be a low-level API that has minimal overhead compared to writing manual bit twiddling code.

Would they? I don't see any methods where a pointer is being cast to another of a

[2016-12-08 04:07] jamesqo commented on #6073
@karelz I just got cc'd from @AlexRadch's PR at https://github.com/dotnet/corefx/pull/14276. I know this is the second time I've done this today, but can the naming of this API be reconsidered?

I wholly understand and agree with adding this API. However, as a contributor to Linq, I feel rather strongly that `TryGetSingle` would be a better name. Virtually all of the `Try*` methods-- `TryGetValue`

[2016-12-08 04:13] JonHanna commented on #6073
I agree on `Add`. The ideal would be if there was an appropriate adjective to match most of the similar methods, but there isn't. The `To…` form isn't appropriate, so really `TryGet…` seems the best option here.

[2016-12-08 04:24] AlexRadch commented on #6073
@karelz I can rename these methods to `TryGet`. Is it approved?

[2016-12-08 04:25] JonHanna commented on #6073
These also make sense to include on `Queryable`.

[2016-12-08 04:37] SamuelEnglard commented on #6073
I do agree with @jamesqo point, though I think the missing "Get" is really with the original methods to start with.

[2016-12-08 04:43] JonHanna commented on #6073
Well, the descriptive quality of the adjectives makes sense on their own, but when the verb `Try` is introduced they become stranger. Or at least now that @jamesqo pointed it out they seem strange!

On the `Queryable` matter, we're keeping the parity with `SkipLast` and `TakeLast` and perhaps (still being discussed) restoring it for `Prepend` and `Append`. I think it definitely makes sense here to

[2016-12-08 04:52] AlexRadch commented on #6073
As I can see `Queryable` does not have any methods with `out` parameter. Is it possible to have such methods in `Queryable`?

[2016-12-08 05:51] verybadcat commented on #14178
None. It's just an NUnit test combined with a self-contained version of my Power function, and a #define to take the log of the base or use a constant value. 80 lines in all. I ran it in the middle of my usual test run. VS reports the time for each test.

The results are consistent with other checks I've done, showing that BigInteger.Log(x, 2) takes increasing amounts of time as x gets large, e.g.

[2016-12-08 05:59] chunseoklee opened #14298 "create nupkg of ubuntu.16.04-xxx rid on ubuntu 14.04/x64"
I am working on "Update CoreFX to generate nuget packages of CoreFX" on https://github.com/dotnet/core-setup/issues/725
With https://github.com/chunseoklee/corefx/commit/320ca7d42839a33350807ea0f18a401edcf794dc, `$ ./build-managed.sh -package` seems to produce proper nupkg of ubuntu.14.04-arm rid. However, I cannot figure out how to produce ubuntu.16.04-arm nupkg.
Is there any way to create ubuntu

[2016-12-08 06:07] mikedn commented on #14286
Yes, XNA did this. DirectX Math also does this indirectly, via the `rsqrtps` SSE instruction.

Well, `divss` is a rather expensive instruction at 11 cycles latency vs 4 for `mulss`. At the same time the overall performance of `Normalize` isn't great anyway because it uses `sqrtpd` instead of `rsqrtps` (15 cycles vs 4 cycles). So it's probably OK to remove the optimization, at least we'd get a more

[2016-12-08 06:27] bbowyersmyth opened #14299 "Microsoft.VisualBasic resource inclusion"
Just doing a `msbuild /t:clean;build` from the src\Microsoft.VisualBasic folder and the compile constant DEBUGRESOURCES doesn't get written to the bin\obj\AnyOS.AnyCPU.Debug\Microsoft.VisualBasic\defines.rsp file.

This shows as the bin\obj\AnyOS.AnyCPU.Debug\Microsoft.VisualBasic\SR.vb file being compiled without fallbacks in debug mode.

[2016-12-08 06:29] karelz commented on #6073
We already discussed `TryGetFirst` vs. `TryFirst` naming - see https://github.com/dotnet/corefx/issues/6073#issuecomment-263421263. I think it follow more pattern of having `Try` prefix before the method.

`Queryable` pair sounds ok to me - @OmarTawfik can you please confirm? (@VSadov is OOF for another week I think).

[2016-12-08 06:33] bbowyersmyth opened #14300 "Question: Microsoft.VisualBasic functions port"
I have some ex-VB assemblies that still call into some of the old legacy VB helper functions. Do you mind if I port some of that surface area to core?

Specifically:
Strings.Right
Strings.Left
Strings.Mid
Strings.Replace
DateAndTime.DateDiff
Information.IsDate
Information.IsNumeric

[2016-12-08 06:34] karelz commented on #6073
@SamuelEnglard I have to apologize - I didn't follow up on my promise of assigning the issue to you (https://github.com/dotnet/corefx/issues/6073#issuecomment-263437700). It was by accident.

@AlexRadch that's another reason why it would be great if you can please ping each issue before you grab it in future. It will be easier to organize who works on what - avoiding duplicated efforts, "stolen fe

[2016-12-08 06:50] AlexRadch commented on #6073
@karelz sorry. I did not see this comment.

[2016-12-08 06:59] mellinoe commented on #14286
I am assuming this is due to the use of `Math.Sqrt(double)`, right? Given that `MathF.Sqrt(float)` is available, we could potentially avoid that.

[2016-12-08 07:32] karelz commented on #6073
That makes two of use ;-) -- I think it is as a good motivation to ping the issue in future, before you start working on it :)

[2016-12-08 07:33] mikedn commented on #14286
`MathF.Sqrt` would give you `sqrtss` which is slightly faster (12 cycles of latency instead of 15-16) and avoids the need for float->double and double->float conversions (which aren't exactly cheap either).  I'm not sure if there's something currently that could give you `rsqrtps`, that would have to be a JIT intrinsic.

[2016-12-08 07:46] AlexRadch commented on #13746
@karelz Can I make PR for this or you works on it? You are assigned on this issue.

[2016-12-08 08:05] AlexRadch commented on #11465
@karelz I am working on PR for this.

[2016-12-08 09:05] freerider7777 commented on #2394
XAML is cool - it lets you make dynamic configuration - in one project we load xaml workflows from files and they are represented as WCF endpoints. And these XAML files are auto-generated from the registry of available services. So the wcf-services get endponts:
https://[base]/wcf/[service_id1]
https://[base]/wcf/[service_id2] ...
Would be nice to have such functionality in .Net core :)

[2016-12-08 09:11] Mike-EEE commented on #2394
Yeah as I have gotten more familiar with the land here Xaml support in WF isn't so important per se, but rather it's really getting System.Xaml ported over that is the important part.  Since [that is clearly captured](https://github.com/dotnet/corefx/issues/5766) in another -- and I am quite pleased to say quite popular (but don't let that stop you from upvoting, @freerider7777! :smile:) -- issue,

[2016-12-08 09:17] Thaoden commented on #14288
@saurabh500 Yes, I'm targeting the full .NET framework. I have (among others) .NET 4.6.1 SDK installed on my dev machine.

[2016-12-08 09:40] freerider7777 commented on #2394
@Mike-EEE I've upvoted there a long time ago!! :)

[2016-12-08 10:15] SimpleDays opened #14303 "where is "System.Runtime.Remoting.Messaging.CallContext" in dotnetcore"

[2016-12-08 10:26] JonHanna commented on #13831
Here's a concern:
What if someone was holding onto the actual box in use? Perhaps consolidating common values to save memory?
Such a use sees even differently-boxed copies of the same valuetype value as distinct.
Would such a use be plausible? If it is then the current behaviour really is as loose as any filtering of no-op changes can be.

[2016-12-08 10:58] am11 commented on #10093
👍

If we are generalizing `ObsoleteAttribute` and `LegacyAttributes` as "API status indicators / levels" as opposed to "means of obsoletion", IMO, we should also consider borrowing [ExperimentalAttribute](https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/core.experimentalattribute-class-%5Bfsharp%5D) from F# :)

Related to http://stackoverflow.com/a/16484780; the `sealed` modifier on `O

[2016-12-08 11:37] Dmitry-Me commented on #7343
@Priya91 Yes, and most of the time having an exception which is handled with a no-op is just useless. All you get is a breakpoint in debugger which you cannot do anything useful with anyway. However this part is minor. The major part is you have to first be aware of the potential race, and then craft this workaround instead of using a "get rid of this process" method. The current API displays has

[2016-12-08 12:50] jnm2 commented on #13831
I can't think of a scenario where an ExpandoObject should ever need to know whether or not value type objects are the same instance. If there _is_ consolidation of boxed values, you'd want the consolidation to have no effect on the logic of the code you use them with. Conversely if the code is aware of box identity of values, you cannot start consolidating boxes without danger of changing the beha

[2016-12-08 13:58] Umplify opened #14305 "error CS1061: 'Type' does not contain a definition for 'Assembly' and no extension method 'Assembly' accepting a first argument of type 'Type' could be found (are you missing a using directive or an assembly reference?)"
When adding a 'Resource' to an .NET Standard 1.6 Assembly in Visual Studio 2017 RC, the compiler throws an error message per the subject line. The issue is within the C# code behind generated automatically after adding the resource file.

[2016-12-08 14:13] mburbea commented on #12425
@jamesqo, `CountTrailingZeroes`/`CountLeadingZeroes` relies on bit-isolation trick that only works correctly in a little endian environment. In a big endian environment it does not isolate the correct bit.
See this comment from Kestrel where a simmilar technique was used.
https://github.com/aspnet/KestrelHttpServer/pull/1138#issuecomment-255878891

[2016-12-08 14:24] SamuelEnglard commented on #6073
@karelz it's cool. I've literally have the code sitting on my machine, just haven't had the time to "move" it to my fork to push up so no time lost on my end

We didn't really discuss it as much as close over it.

[2016-12-08 14:36] jamesqo commented on #6073
:+1:

@karelz, to give you a better sense of how I am thinking about this, it is like in English saying "try train" instead of "try catch train" or "try car" instead of "try stop car". I think it would make much more sense with a verb.

[2016-12-08 14:40] Opiumtm commented on #12007
@jnm2 `Func<T>` isn't good abstraction as it is not class type but delegate type.
One of the motivation behind this proposal is to integrate "virtual references" into C# language later, if C# design team would do it.
C# operator `?.` is a primary candidate to support "virtual references" at language level.

[2016-12-08 15:05] Opiumtm commented on #13795
@jkotas deep clone is one of the most basic things needed and it's not supported by framework.
If it would be supported by corefx, it would be possible for .NET Native for UWP team to generate optimized specialized classes for standardized deep clone. .NET Native for UWP already generate optimized classes for `DataContractSerializer` and `XmlSerializer` for example. 3rd-party tools wouldn't be sup

[2016-12-08 15:10] #13501 closed

[2016-12-08 15:16] VikSab commented on #14284
so this will be a gap from previous .net releases (or from the full version of .net) -

the current API allows for getting Private and Private keys with ECDSA and RSA methods (using extension methods GetECDsaPrivateKey and  GetRSAPrivateKey) but there is no mechanism to change these keys after creation.

Is this something that is being considered post .netcore 2.

[2016-12-08 15:19] txdv opened #14307 "Is OpenAsync really synchronous in DbConnection?"
I was looking at the [DbConnection OpenAsync](https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/src/System/Data/Common/DbConnection.cs#L122) code and realized that it is just wrapper around a blocking call which returns a finished task and is therefor not really useful in async code, because calling the task alone without awaiting already blocks it.

Is there a reason why this it

[2016-12-08 15:25] steveharter commented on #14166
Line 384 is verifying there are no forbiddenPermissions
[code]
which were supposedly just cleared via successful FChMod

[2016-12-08 15:46] EgoPingvina opened #14308 "Add CancellationToken overloads to async methods in System.Net.Sockets"
Good day. I work with `UdpClient` and have wrapper upon it.

For reading I have asynchronous method:

[code]

Where `WithCancellation` is my extension-method for early termination:

[code]

And after manual reading stop, when I call `Dispose`, `System.ObjectDisposedException` occurs. `CallStack`:
[code]

If I understood correctly, root of error in `ReceiveAsync`, in my method of stop it to be exac

[2016-12-08 15:50] steveharter commented on #13966
Assuming test bug until proven otherwise

[2016-12-08 15:55] JonHanna commented on #14307
Then it would be an asynchronous wrapper around something that is really synchronous, which isn't much more useful (and indeed quite wasteful).

[2016-12-08 15:58] i3arnon commented on #14308
I think so: [Not All Beginnings Must Have An End](http://blog.i3arnon.com/2016/06/13/idisposable-trumps-apm)

[2016-12-08 16:01] benaadams commented on #14307
Its a virtual method that is then hopefully overridden by implementer (for example in [SQLClient OpenAsync](https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnection.cs#L808-L817)); but provides an initial implementation for clients that only have Open defined (for example historic ones that were written pre-async)

[2016-12-08 16:08] jnm2 commented on #12007
@Opiumtm designing a feature that no one needs yet because you might need it later is a bad idea. We'll certainly miss the real heart of the issue and down the road have to start from scratch or just live with hacks.

[2016-12-08 16:12] jnm2 commented on #6073
Grammatically, I agree that `TryGetSingle` is best. You're not "trying to single" (single as a verb can only be used transitively) and you're not "trying a single" (the trying is being applied to the sequence, not to the result).

Also we have `TryGetValue` on dictionaries. We should stick with existing standards.

[2016-12-08 16:16] KrzysztofCwalina commented on #10528
re #1: Span's indexer is now by ref (which was decided at an API review meeting), so we already approved this new pattern. There are trade offs here, but long term the wins are large, so I think we should go with it.
re #2: The CopyTo parameter makes sense. Spans are about arrays too. The only thing I worry about is layering.
re #3: I am not a big fan of O(n) Equals methods. Also, Span<T>.Equals j

[2016-12-08 16:24] KrzysztofCwalina commented on #13746
@MadsTorgersen, the question was: why would exposing implicit cast to ValueTuple (instead of Deconstruct method) not be a way to expose deconstructability? Such cast would feel very natural on many types discussed in this thread. The Deconstruct method feels like some compiler plumbing that should not be public.

[2016-12-08 16:29] bartonjs commented on #14166
That code should be moved from an assert to an exception since we know of cases where it fails.  But the real bug is https://github.com/dotnet/corefx/issues/9293, where our images get $HOME mounted on NTFS (where chmod doesn't work)

[2016-12-08 16:29] bartonjs commented on #14166
(And to clear the test problem, Ubuntu 16.04 should be added to the list of OSes that are not "IsReliableInCI", or whatever the conditional property is for those tests)

[2016-12-08 16:33] SamuelEnglard commented on #6073
Using current spec but WIP https://github.com/SamuelEnglard/corefx/blob/TrySingle-Issue6073/src/System.Linq/src/System/Linq/Single.cs

[2016-12-08 16:39] weshaggard commented on #230
@mairaw might have more information on this front, I don't know what the current thinking is.

[2016-12-08 16:41] jkotas commented on #13795
The tools to generate pre-generated classes for `DataContractSerializer` and `XmlSerializer` are part of the .NET Native toolchain, but they are in fact independent standalone tools. They are modified versions of sgen tool that existed as standalone tool in full .NET Framework since forever.

The .NET Core tooling was always designed as pluggable: add reference to the nuget package with the tool a

[2016-12-08 16:45] benaadams opened #14310 "LowLevelConcurrentQueue not used?"
The internal LowLevelConcurrentQueue in

[corefx/src/System.Threading/src/System/Collections/Concurrent/LowLevelConcurrentQueue.cs](https://github.com/dotnet/corefx/blob/master/src/System.Threading/src/System/Collections/Concurrent/LowLevelConcurrentQueue.cs)

Doesn't appear to be used anywhere; should it be removed?

/cc @stephentoub

[2016-12-08 16:47] tarekgh commented on #230
@mairaw could you please advise what is the plan for this?

[2016-12-08 16:48] karelz commented on #14296
@stephentoub could it be related to your recent changes in the area?

[2016-12-08 16:53] karelz commented on #13746
@AlexRadch assigning to you ... I forgot to remove myself.

[2016-12-08 16:56] jamesqo commented on #13746
@karelz, @KrzysztofCwalina We may end up having to make this an extension method instead... `EditorBrowsableAttribute` is not available in mscorlib.

[2016-12-08 16:58] bartonjs commented on #14284
It is a gap we are aware of, but closing that gap is not on our radar. (You're the first person to ever ask about it).

We'd need a new API for it (which anyone can propose) and it should be decided how it would handle the following cases (all of which act differently with the current API on Windows):
* Providing the wrong key (new key's public key doesn't match the cert public key)
* Providing a

[2016-12-08 17:00] jamesqo commented on #10528
@KrzystofCwalina

We are definitely not making this an O(N) Equals. `ArraySegment` already has a strongly-typed `Equals` [here](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/ArraySegment.cs#L140), which just compares the fields. I am just proposing we implement the interface (@karelz, there are no new methods being added for this).

[2016-12-08 17:01] SamuelEnglard commented on #11861
## API

[code]

[2016-12-08 17:01] benaadams opened #14311 "System.Threading.Tasks.Dataflow.ConcurrentQueue"
System.Threading.Tasks.Dataflow [references System.Collections.Concurrent in NetStandard 1.1](https://github.com/dotnet/corefx/blob/master/src/System.Threading.Tasks.Dataflow/src/project.json#L20-L37)

Should the [Dataflow.ConcurrentQueue](https://github.com/dotnet/corefx/blob/master/src/System.Threading.Tasks.Dataflow/src/Internal/ConcurrentQueue.cs) be put behind a `#if !netstandard11` so it onl

[2016-12-08 17:02] ericstj commented on #14291
Thinking about this some more, I think we should auto-generate the reference assembly source.  That way it doesn't impose additional complexity on these simple projects while still permitting a reference assembly build.  What do you think?

[2016-12-08 17:04] stephentoub commented on #14296
Yes, this is expected.  It's to do with my comment in this PR https://github.com/dotnet/corefx/pull/14190:

GetEnumerator used to return the result of calling GetEnumerator on the generated List<T>; now it calls GetEnumerator on the generated T[]. List<T> and T[] have different implemented behaviors for the undefined situation of calling Current on an enumerator after MoveNext has returned false:

[2016-12-08 17:06] stephentoub commented on #14311
https://github.com/dotnet/corefx/blob/master/src/System.Threading.Tasks.Dataflow/src/System.Threading.Tasks.Dataflow.csproj#L52-L55

[2016-12-08 17:08] VikSab commented on #14284
However - this is a solved problem - case in point (openssl pkcs12 -in publicCert.pem -inkey privateKey.pem -export -out merged.pfx)

The current solution creates an Immutable X509Certificate2 - as its constructor only the public key

How about a constructor that creates an Immutable by giving both the public and private key, which could mimic that behaviour

I understand if you would want to clos

[2016-12-08 17:09] stephentoub commented on #14310
If it's no longer used anywhere (i.e. if you can delete the file and everything in the repo still compiles successfully), we should definitely delete it.

[2016-12-08 17:10] #14311 closed

[2016-12-08 17:10] karelz commented on #6073
What I meant we discussed it briefly in triage with @VSadov and @OmarTawfik. It was raised here (https://github.com/dotnet/corefx/issues/6073#issuecomment-183438071) by @JonHanna, but it didn't spark deeper discussion here.
Moreover, in the API review (with English native speakers), no one raised it either.

I personally believe that having the name closer to `Single` method name (BTW: was it a mi

[2016-12-08 17:10] stephentoub commented on #14300
@weshaggard, @danmosemsft, was there any discussion about including Microsoft.VisualBasic in netstandard?  Regardless, any reason we wouldn't want the full set of APIs from it available in core?

[2016-12-08 17:12] justinvp opened #14313 "TimeZoneInfo.AdjustmentRule should override Equals"
`TimeZoneInfo.AdjustmentRule` [implements `IEquatable<T>`](https://github.com/dotnet/coreclr/blob/c28e5e8ff02744dc1e1cc1fa9b2563d24e643f9b/src/mscorlib/src/System/TimeZoneInfo.cs#L4573) and [overrides `GetHashCode`](https://github.com/dotnet/coreclr/blob/c28e5e8ff02744dc1e1cc1fa9b2563d24e643f9b/src/mscorlib/src/System/TimeZoneInfo.cs#L4587) but doesn't override `Equals(object)`.

[2016-12-08 17:13] stephentoub commented on #6073
If Single were instead GetSingle and SingleOrDefault were instead GetSingleOrDefault, then TryGetSingle would make sense.  But they're not.  The Try pattern is generally to simply prefix the operation with "Try" and have it return a bool with the actual result as an out parameter, so it seems we should do that here as well.  Thus I vote for TrySingle.  e.TrySingle is no more strange than e.Single.

[2016-12-08 17:14] karelz commented on #11861
I see you chose slightly different pattern than the one on [BitArray](https://apisof.net/catalog/System.Collections.BitArray). Can you provide motivation, pros/cons?

[2016-12-08 17:22] karelz commented on #11861
cc: @ianhays

[2016-12-08 17:26] bartonjs commented on #6073
I concur with Steve.  The original mistake was having a method with no verb, but we should stick to the naming scheme of just prepending "Try".  Because the breakdown is "try that other method... return false if it would have thrown an exception had I called it".  Aka

**try** { ret = **Single()**; return true; } catch { return false; }

(And, yeah, Karel, I'm agreeing with you, too, but you menti

[2016-12-08 17:26] SamuelEnglard commented on #11861
For the most part I copied the API from `BitArray`, changes were made for:

* A struct to act more like the 'int' it is.
* Changed instance bit operator methods to operator overloads since that makes more sense with a read only type.

[2016-12-08 17:33] karelz commented on #13746
Yeah, moving those which would end up in mscorlib into extension methods sounds reasonable (@bartonjs to double check my claim).
The other option would be to move the attribute into mscorlib - @weshaggard is that an option?

[2016-12-08 17:35] danmosemsft commented on #14296
If we're not concerned about affecting users then I vote to specialize the test.

[2016-12-08 17:36] karelz commented on #14296
Agreed

[2016-12-08 17:37] CIPop commented on #14308
@EgoPingvina I believe that the ObjectDisposedException is what .Net Framework returns as well.
Wouldn't your solution change this behavior and potentially break existing applications relying on this exception?

/cc @stephentoub

[2016-12-08 17:37] danmosemsft commented on #14303
Hi @SimpleDays. Remoting is not currently supported in .NET Core. What is your scenario?

[2016-12-08 17:56] weshaggard commented on #14300
There was a discussion about it being part of netstandard and we decided to keep it on top of netstandard for now. However that doesn't mean we shouldn't include more APIs in core for it. We have to be a little careful as there are a lot of the "My" APIs in VB that require dependencies that aren't in core, but if the dependencies are present then I don't know of any reason we shouldn't include the

[2016-12-08 17:57] bartonjs commented on #14284
The behavior would still be something that needs to be worked out if the cert instance is later added to a cert store.  If not for the cert stores it'd be a relatively easy problem :smile:.

[2016-12-08 17:59] danmosemsft opened #14319 "HttpClient/CurlHandler CPU goes up after exception and does not come back"
@rvfernandes commented on [Tue Dec 06 2016](https://github.com/dotnet/coreclr/issues/8478)

I made a small router in .Net Core and noticed that some machines from one hour to the other had a cpu jump. When this happens the CPU stays high, although the application responds without problems. I have noticed that this happens when I have a large number of exceptions of type (System.Net.Http.HttpReques

[2016-12-08 17:59] danmosemsft commented on #14319
@davidsh @CIPop

[2016-12-08 18:00] tarekgh commented on #14313
@justinvp we have many cases in other classes doing the same. Equals always treated as ObjectReference equality. I am not sure if this is worth to change now as this can have inconsistency with the desktop and app compat risk.

[2016-12-08 18:00] weshaggard commented on #14291
How do you envision auto-generating them? I assume the would still need to be checked in. Do you think having a post step of the src build that automatically updates it?

[2016-12-08 18:01] davidsh commented on #14319
cc: @stephentoub This is happening on Linux

[2016-12-08 18:03] danmosemsft commented on #14299
Sounds like build issue

[2016-12-08 18:03] stephentoub commented on #14319
@rvfernandes, is it possible for you to share a repro?

[2016-12-08 18:05] stephentoub commented on #14319
@rvfernandes, can you clarify this comment as well?  Do you mean that you legitimately get a bunch of exceptions and that then seems to cause the CPU spike, or do you mean that as a result of the CPU spike you start seeing lots of exceptions?

[2016-12-08 18:05] karelz commented on #10528
@KrzysztofCwalina regarding # 2, do you mean to use rather Span overload, which means we should wait and block on Span to mature first? (and solve the layering problem of course)

@jamesqo I understand you are proposing just to implement the interface. My question is why? Anything we do should have a reason and value for developers. We should not add interfaces just because we can.
So, how will us

[2016-12-08 18:07] #14207 closed

[2016-12-08 18:12] justinvp commented on #14313
@tarekgh, I'm guessing the lack of `Equals(object)` was a mistake, but I agree, it's probably not worth the compat risk to change now. Closing.

[2016-12-08 18:12] #14313 closed

[2016-12-08 18:13] CIPop commented on #7198
Thanks @KKhurin. According to @mconnew the fix is simple:

@KKhurin could you please share your test or details on how to repro with the community?

[2016-12-08 18:15] danmosemsft opened #14320 "SemaphoreSlim can throw an ArgumentNullException during a cancel"
@rchiodo commented on [Thu Nov 17 2016](https://github.com/dotnet/coreclr/issues/8177)

I'm using a BlockingCollection<ConcurrentQueue> and a call to TryTake(out value, timeout, cancelToken) will crash with an ArgumentNullException during a cancel.

It looks to me like SemaphoreSlim is not handling cancel after it's been disposed.

The callstack of the crash is like so:

  at System.Threading.Moni

[2016-12-08 18:18] mellinoe commented on #14291
Can't we leave everything unchanged and just use P2P references to projects that don't have reference assemblies? I don't see that listed as an option.

[2016-12-08 18:21] ericstj commented on #14291
@mellinoe, do so and leave them out of the TargetingPack folder?  If you put them in the TP folder then you won't have any way to force folks to use P2P and they'll introduce race conditions.  If you leave them out of the TP folder what do you suggest for the tests?

[2016-12-08 18:27] mellinoe commented on #14291
Ok, I see what you're getting at. It's problematic if one project uses a `ProjectReference` and another uses a `Reference`, because the latter might randomly work depending on the ordering.

I'm not sure that auto-generating will really help, because I think they will still need to be checked in, in order to be built before the source project. In that case, it's not really better than putting them

[2016-12-08 18:28] mellinoe opened #14321 "[dev/eng] Native shims need to be binplaced into the runtime directory"
Since these binaries are produced outside of the MSBuild system, we need to have more logic to handle them. We need to make sure the binary paths are consistent between MSBuild and CMake, and remain so.

[2016-12-08 18:31] AlexGhiondea commented on #12007
@Opiumtm if we think this is something that the compiler team might be interested in using, then maybe we should file an issue on the Roslyn side for considering this feature.

[2016-12-08 18:36] ericstj opened #14322 "Centralize RID calcuation for build"
We have a few scenarios that need a RID during the build.
1. Test execution
2. External package resolution: what RID to use for building out runtime directory?
3. Package building:  what RID to use when packaging the binaries that were built?

Currently this logic is all duplicated and each place is a little different.  We should try to unify it and make it simple to override/specify.

/cc @weshag

[2016-12-08 18:40] ericstj commented on #14291
Set a property in the project just autogenerates the ref-cs.  That way we can build it with no overhead.  We'd only set this property in projects that are intentionally trying to be 1:1.  Incidentally the property might also be useful in the case someone wants to code up some API and auto-update the ref-cs (assuming no ifdefs).

[2016-12-08 18:41] danmosemsft opened #14323 "Reduce allocations in String.Split"
@jamesqo commented on [Mon Nov 07 2016](https://github.com/dotnet/coreclr/issues/8034)

Now that `ArrayPool` is in the coreclr repo, it may be worth trying to use `stackalloc` for the int table required by `Split` if the length of the string is small enough, otherwise using `ArrayPool<int>` to rent the tables.

I have been building [a prototype](https://github.com/dotnet/coreclr/compare/master...j

[2016-12-08 18:41] danmosemsft opened #14324 "Array.IsReadOnly should return true for empty arrays"
@DerpMcDerp commented on [Wed Aug 10 2016](https://github.com/dotnet/coreclr/issues/6692)

i.e. Array.cs should have this:

[code]

instead of this:

[code]

Note: the above change breaks code which does something like:

[code]

Which was an incorrectly specified invariant anyway.

---

@hughbe commented on [Thu Aug 11 2016](https://github.com/dotnet/coreclr/issues/6692#issuecomment-239111140)

I

[2016-12-08 18:42] danmosemsft opened #14325 "Optimization: UTF8Encoding methods can probably be made faster/refactored"
@jamesqo commented on [Tue Aug 16 2016](https://github.com/dotnet/coreclr/issues/6759)

Currently the UTF8Encoding methods are kind of a mess, and they read [ints at a time](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Text/UTF8Encoding.cs#L457-L458) rather than longs, so they're not taking full advantage of 64-bit platforms. Additionally strings have an `IsAscii()` flag [

[2016-12-08 18:46] ericstj commented on #14291
The reason I prefer this to the staged approach is that the staged approach requires upstack build goo to list out stage 2 projects.  It also bloats the package size since we'd have to have the implementation assembly duplicated in the reference folder in our uber packages.  So at least to me, that's two strikes against it.

Granted, having a ref project is more complicated, but we mitigate that w

[2016-12-08 18:58] karelz commented on #14299
Then it's Infra (@danmosemsft only one area label please ;-))

[2016-12-08 19:22] weshaggard commented on #13746
We could probably do that in .NET Core but on .NET Framework I would be a little careful. When we type-forwarded ExtensionAttribute down for example there was fallout in all sorts of random places.

The other option would be to not mark them hidden in the places where they cannot be marked hidden. In generally we try to avoid using Extension methods for types we actually own, although we make them

[2016-12-08 19:23] mellinoe commented on #14322
If we're able to use managed code, then we should just use the [core-setup PlatformAbstractions library](https://github.com/dotnet/core-setup/blob/master/src/Microsoft.DotNet.PlatformAbstractions/RuntimeEnvironment.cs#L30) to retrieve the local system's RID for most of these, at least as a default. I think they all need to be overridable, especially for our official builds. If we are doing a nativ

[2016-12-08 19:29] JonHanna opened #14327 "Code Guidelines Question: Is removing a transparent override a breaking change."
Given:

    public SomeType override SomeMethod() => base.SomeMethod();

Is it considered too breaking to remove this, and let calling code access the base directly, due to there being changes observable through reflection, or is such a removal okay?

Or coming at it another way. If it had been:

    public SomeType override SomeMethod() => DoSomethingInadvisable();

And changing to not have the o

[2016-12-08 19:47] tarekgh commented on #14299
just a comment for who is going to look at this issue:

looks we are passing the DEBUGRESOURCES defined constant as expected to

[code]

but it looks when creating the defines.rsp used with vbc.exe, it doesn't use teh property DefineConstants and instead it used FinalDefineConstants

[code]

the fix could be next to the line
[code]

add another line:

[code]

[2016-12-08 19:47] jcouv commented on #13746
@weshaggard I did a straight port from corefx. I thought it is better to have consistency across platforms.
I don't oppose making `Deconstruct` (and `ToValueTuple` probably) instance methods instead of extension methods.

[2016-12-08 19:59] jvieyra92 commented on #12503
I'm getting the same error, any update if you figured out how to fix it?

[2016-12-08 20:05] druvisc commented on #12503
@jvieyra92 No, haven't bothered at least yet as there hasn't been a need since the issue was raised. Have you tried @mellinoe's suggestion (it's also mentioned in the original thread)?

[2016-12-08 20:11] nietras commented on #12425
@jamesqo thanks for pinging me.

@mburbea This is definitely interesting and having this functionality at hand would be a great addition to .NET 👍

This got a bit long... just a warning ;)

#### Naming

##### Class Name
First, my thoughts on the class name below. Some are nitpicking for sure.

|Class Name      | Notes |
|----------------|-------|
|BitManipulation | Not fond of using "manipulation"

[2016-12-08 20:17] karelz commented on #13746
I don't think we should pollute IntelliSense with methods which are only for compilers. We have to hide them from IntelliSense. If that means extension methods, so be it ...
cc: @terrajobst

[2016-12-08 20:39] MikeInBA opened #14329 "netTcp WCF clients fail with update to 1.1"
I have an asp.net core controller that has a repo that uses a netTcp WCF client to call in to a WCF service.  I used SecurityMode.Transport and TcpClientCredentialType.Certificate.  For the client (that is hosted by the asp.net core controller), I read the certificate thumbprint out of my appsettings.json.

This setup worked fine when my Microsoft.NETCore.App version was 1.0.1, but as soon as I ch

[2016-12-08 20:53] #14310 closed

[2016-12-08 21:08] stefan-schweiger commented on #14193
@jamesqo while I think it's not a good idea to add a default separator to core, if it's to cumbersome for you personally, you could just use something like this:

[code]

[2016-12-08 21:10] danmosemsft commented on #14327
We consider adding/removing overrides to be non-breaking

https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/breaking-change-rules.md#members

[2016-12-08 21:12] JonHanna commented on #14327
Why is it I can read a document five times, and each time miss the bit I'm looking for?

Thanks.

[2016-12-08 21:12] #14327 closed

[2016-12-08 21:14] krwq commented on #4720
Here is example missing scenario for further reference:
- get all args in Main, parse first and remove it from the list
- execute another app based on those args.
Examples:
[code]
It is not simply string.Join as some of the args require escaping, quotes etc and the syntax might be different depending on OS

[2016-12-08 21:16] benaadams commented on #12425
One reason for class splits to consider is the addition of a `IsHardwareAccelerated` flag and what granularity it works over (and needs to work over)

[2016-12-08 21:16] lmolkova opened #14331 "HttpClient DiagnosticSource reporting does not notify about exceptions"
See `[System.Net.Http.HttpHandlerToFilter](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/netcore50/System/Net/HttpHandlerToFilter.cs)`
[code]

If exception is thrown while sending the request (DNS issues, timeout), nothing will be sent to diagnostic source.

[2016-12-08 21:22] davidsh commented on #14331
This is really a dupe of https://github.com/dotnet/corefx/issues/13172

[2016-12-08 21:25] jvieyra92 commented on #12503
@druvisc I've been searching for an example of how to increase the ulimit in osx 10.12.1 but haven't found a clear way of doing so.

[2016-12-08 21:36] JonHanna opened #14332 "Arity-specialised DynamicExpression impls should be used from all factories."
As per #3266 in regards to `Expression.Call()`, the overloads of `Expression.Dynamic()` and `DynamicExpression.Dynamic()` that take an `Expression[]` or `IEnumerable<Expression>` should use the derived classes specialised for particular arity when possible.

[2016-12-08 21:39] JonHanna opened #14333 "Duplication between Expression.MakeDynamic and DynamicExpression.MakeDynamic"
Different implementations since .NET 4.0 have had one or the other of these methods, but we now have Expression.MakeDynamic for netstandard1.7 and DynamicExpression.MakeDynamic for all versions. The code in these are essentially identical. The former should call into the latter.

[2016-12-08 21:43] alexperovich commented on #14095
The compiler warnings are already enabled. CA2002 enabled with #14289

[2016-12-08 21:50] #14331 closed

[2016-12-08 21:56] mburbea commented on #12425
@nietras, done sorry was a bit slacking. Included my POC.
## Naming

### Class Name
I vote for BitUtility, Bits or BitManipulation. I definitely do not like the idea of associating `unsafe` with this class. Or even declaring the class `unsafe`. I and other developers, generally avoid unsafe code when I can, and will write slower (but safer) code to avoid it. The whole point of this class is to enc

[2016-12-08 21:59] mregen commented on #14284
@VikSab  I just wrote a function to solve this problem with bouncy castle: [CertificateFactory](https://github.com/mregen/UA-.NetStandardLibrary/blob/proto_master/Stack/Opc.Ua.Core/Security/Certificates/CertificateFactory.cs). The function CreateCertificate wraps the cert and private key in a PKCS#12 store to to return a X509Certificate with PrivateKey. Maybe this helps..

[2016-12-08 22:01] bbowyersmyth commented on #14299
@tarekgh Also I think DEBUGRESOURCES and SIGNED need to be comma delimited for VB. Not sure if that plays into this at all.

[2016-12-08 22:08] jvieyra92 commented on #12503
Found this article http://blog.dekstroza.io/ulimit-shenanigans-on-osx-el-capitan/ that explains how to do it clearly. It worked :)

[2016-12-08 22:09] mellinoe commented on #12503
I think some of the answers [here on unix.stackexchange](http://unix.stackexchange.com/questions/108174/how-to-persist-ulimit-settings-in-osx-mavericks) were pretty helpful for me as well.

[2016-12-08 22:16] mellinoe opened #14334 "TypeInfo doesn't expose a parameterless constructor"
`TypeInfo` currently doesn't expose a parameterless constructor. We have several types in our reference assemblies which should be inheriting from `TypeInfo` but are unable to do so because there is no accessible constructor.

@weshaggard

[2016-12-08 22:18] mellinoe commented on #14334
See here: https://github.com/dotnet/corefx/blob/dev/eng/src/System.Reflection.Emit/ref/System.Reflection.Emit.cs#L61

[2016-12-08 22:25] tarekgh commented on #1961
looks to me the tests there are not failing and there is no any disabled test cases there. I am closing this issue and if we get any test failure later we can still fix it. @KrzysztofCwalina please reopen the issue if you think otherwise

[2016-12-08 22:25] #1961 closed

[2016-12-08 22:26] CIPop commented on #13570
Based on offline discussions I had with @stephentoub and @karelz and the team we've decided to change the design and move to a single, managed-only implementation for WebSockets.

Closing as a duplicate to #13663
Also relevant for #9503.

[2016-12-08 22:30] tarekgh commented on #14299
@bbowyersmyth that is a good point. looks this is working with C# but not VB. do you want give it a try? I mean in your local corefx\Tools\resources.targets fix the semicolon to comma and try to build again Microsoft.VisualBasic. if this fix it, you can submit PR in buildtools repo. Thanks.

[2016-12-08 22:47] danmosemsft opened #14336 "String should implement IReadOnlyList<char>"
[code]

---
---

The original proposal was to use IReadOnlyList instead of IEnumerable, but that is not possible since it would break compatibility, so the proposal is instead to just add the new interface implementation.

@stas-sultanov commented on [Mon Mar 23 2015](https://github.com/dotnet/coreclr/issues/542)

I would like to suggest to make class String to implement IReadOnlyList{char} instea

[2016-12-08 22:48] danmosemsft opened #14337 "Add String.Trim overloads that take a single char and string separator"
## Proposed API
[code]

## Motivation
Avoid unnecessary array allocations when you want to trim based on a single char.
- Similar to / consistent with recently approved #1513 `String.Split(char, ...)` and #5552 `String.Join(char, ...)`.

-------------------------------------------------

## Original discussion in CoreCLR repo

@Snesha commented on [Wed Oct 21 2015](https://github.com/dotnet/corecl

[2016-12-08 22:48] CIPop commented on #13663
Instead of compiling the code in HttpListener, we should instead move the protocol implementation into System.Net.WebSockets.

Here's the proposed plan:

- [ ] Move ManagedWebSocket from S.N.WebSocket.Client to S.N.WebSocket.
- [ ] For Win7 (#9503) and all non-Windows platforms use `CreateClientWebSocket` that will return a `ManagedWebSocket` for client-side operations. We may want to keep the cli

[2016-12-08 22:49] danmosemsft opened #14338 "Add Move method to List<T>"
@omariom commented on [Sun Jun 21 2015](https://github.com/dotnet/coreclr/issues/1165)

There  are plenty of convenience methods in generic List. But no Move method that can efficiently move an item from one position to another.
What we have to do is [RemoveAt and Insert](https://github.com/dotnet/corefx/blob/master/src/System.ObjectModel/src/System/Collections/ObjectModel/ObservableCollection.cs#

[2016-12-08 22:53] CIPop commented on #9503
I've added my idea of an implementation plan in https://github.com/dotnet/corefx/issues/13663#issuecomment-265879275. The plan can be split to handle this item (leave the code in S.N.WebSocket.Client but add an OS platform check).

Since we already have some of the testing done and most code shouldn't change, working on this item should be fairly easy (but adding extra tests is always welcomed). R

[2016-12-08 22:57] CIPop commented on #13073
Thanks @stephentoub!

[2016-12-08 23:03] stephentoub opened #14340 "`"
``

[2016-12-08 23:03] #14340 closed

[2016-12-08 23:03] CIPop commented on #11392
@caserzer One more thing to consider: do you have console-logging active for your ASP.Net application?

Closing for now: please reopen pointing us to the code used for the comparative test case including the three modes you've tested:

* Direct
* Baseline (.Net Framework / Core)
* Wrapper (.Net Framework / Core)

[2016-12-08 23:03] #11392 closed

[2016-12-08 23:05] danmosemsft commented on #14305
@karelz this is tooling, not sure where it should go

[2016-12-08 23:05] CarolEidt commented on #12425
It would be great to find a general mechanism that we could use to query, on a method-level basis, whether something is supported as an intrinsic by the JIT. We've had some discussions about this in the past, but I don't think there was a concrete proposal that could be implemented efficiently.

[2016-12-08 23:06] stephentoub opened #14341 "Concurrent_Enqueue_TryPeek_TryDequeue_AllItemsSeen failing sporadically"
Since #14254 was merged, the Concurrent_Enqueue_TryPeek_TryDequeue_AllItemsSeen test has failed a few times, but only on Unix.  The test is simple and has been very stable, so there's likely a product issue.  It looks like something is amiss with the fences, as we appear to be overwriting a value that shouldn't be.

https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_release/330/consoleT

[2016-12-08 23:14] SimpleDays commented on #14303
I need to use this class. Is there any other substitute in .Net Core? @danmosemsft

[2016-12-08 23:17] jamesqo commented on #12425
@mburbea Regarding your comment earlier

See this comment from Kestrel where a simmilar technique was used.

I didn't know what a De Bruijn sequence was earlier, so I had to spend an hour making sure I had all my facts straight before I replied to your post :smile: However, I still do not think these will have any dependence on endianness.

For example, in `CountTrailingZeroes`, `((x ^ (x - 1)) *

[2016-12-08 23:18] danmosemsft commented on #14303
@stephentoub what alternatives do we recommend to System.Runtime.Remoting?

[2016-12-08 23:24] danmosemsft opened #14344 "Improve code coverage for Microsoft.VisualBasic.dll"
There are [almost zero tests](https://github.com/dotnet/corefx/blob/master/src/Microsoft.VisualBasic/tests/StringsTests.cs) so there is [essentially zero code coverage](https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/).

[2016-12-08 23:26] danmosemsft opened #14345 "Improve code coverage for Microsoft.CSharp.dll (72%)"
There are almost [no tests](https://github.com/dotnet/corefx/blob/master/src/Microsoft.CSharp/tests/CSharpArgumentInfoTests.cs) so there is [essentially zero coverage](https://dotnetcoverage.blob.core.windows.net/cov1/report/index.htm)

[2016-12-08 23:29] benaadams commented on #14303
[AsyncLocal](https://msdn.microsoft.com/en-us/library/dn906268(v=vs.110).aspx) rather than CallContext?

Example usage differences in [AspNetCore's `HttpContextAccessor`](https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Http/HttpContextAccessor.cs) and ifdefs for frameworks

[2016-12-08 23:29] stephentoub commented on #14303
@SimpleDays, I assume you're just looking to flow data across asynchronous operations?  Assuming yes, you want ```AsyncLocal<T>```: https://msdn.microsoft.com/en-us/library/dn906268(v=vs.110).aspx

[2016-12-08 23:32] danmosemsft opened #14346 "Improve code coverage for System.Data.SqlClient (12%)"
[Report here](https://dotnetcoverage.blob.core.windows.net/cov1/report/index.htm)

[2016-12-08 23:32] danmosemsft commented on #14346
This may help? https://github.com/dotnet/corefx/pull/13665

[2016-12-08 23:33] SimpleDays commented on #14303
thx @danmosemsft  @benaadams  @stephentoub  i try to use it. :smile:

[2016-12-08 23:38] jamesqo commented on #6073
@stephentoub @bartonjs I generally think of Linq's extension methods as properties rather than methods. `First()` in my mind is not performing an action, but retrieving a trivially obtainable aspect of the enumerable. However, with `Try` the operation is no longer trivial because it can potentially fail. So my mind converts `Single` (an aspect) -> `GetSingle()` (an action) -> `TryGetSingle()` (an

[2016-12-08 23:52] stephentoub commented on #14341
The problem appears to be in ```ConcurrentQueue<T>.TryPeek```.  We incorrectly loop through the segments looking for the first that's not empty, under the idea that if there's more than one segment, all segments before the last are frozen, thus if we go through each segment in turn we can return from the first that's not empty.  The problem is that we could check segment s, see that it's empty, bu

[2016-12-09 00:03] JonHanna commented on #14345
If we can figure out what's causing #13523 we could see if my guess that it's what prevented #14019 from working, and get about 50% quickly. At least those tests would fail eventually if something breaking the areas they cover (without the coverage being noted) was merged in.

[2016-12-09 00:11] mellinoe commented on #9917
@gkhanna79 @JohnChen0 Are we still actively looking at this for 1.2.0?

[2016-12-09 00:12] gkhanna79 commented on #9917
Yes, @JohnChen0 will look into enabling this for 1.2.0.

[2016-12-09 00:12] CIPop commented on #14237
@stephentoub This is more restrictive than .Net Framework which will try to set the option and return the OS-level error.
We could make the code pass through unknown PAL codes and properly document the X-Plat risk. We may also want to add the 3 enums to the public API.

/cc @karelz @davidsh

[2016-12-09 00:13] mellinoe commented on #10113
@leemgs Do you have any more information about this? I'm not familiar with the ARM cross-build work.

[2016-12-09 00:16] mellinoe commented on #10422
I'm marking this up for grabs, although I'm not sure we should write much in the message here, other than to look in the Documentation folder for more info.

[2016-12-09 00:17] mellinoe commented on #10519
As @weshaggard mentioned, there's not a good way to do this right now, due to the way the build system is structured. We are working on an effort to overhaul large parts of the build system, and "skipping unnecessary builds" is a prime objective of the new system.

[2016-12-09 00:17] #10519 closed

[2016-12-09 00:18] CIPop commented on #3055
The code for Uri is not easy to read making this medium in complexity. This requires some investigation and adding extra testing, at least for the cases listed above.

[2016-12-09 00:18] mellinoe commented on #10563
I'm not sure it's interesting to invest in run-tests.sh anymore. Can we just close this and try to get everyone using the same build and test infrastructure?

[2016-12-09 00:19] mellinoe commented on #10856
I'm marking this up for grabs.

[2016-12-09 00:20] mellinoe commented on #10872
@maririos Is this still happening?

[2016-12-09 00:22] mellinoe commented on #12107
Failures in this script are handled more gracefully now, resulting in tests being skipped. There's probably ways to improve the robustness of this entire process, but it is not affecting other tests, at least.

[2016-12-09 00:24] mellinoe commented on #12545
Hey @wateret , is there more to be done for this issue?

[2016-12-09 00:24] karelz commented on #14305
It looks like a problem in VS 2017 RC template - not even related to .NET Core.
@Umplify can you please file it via VS feedback (Report a problem in the right top corner)? That way it will get to the right folks right away.

[2016-12-09 00:24] #14305 closed

[2016-12-09 00:25] mellinoe commented on #12626
I think this is going to be a moot point once we switch to our new build system. I'm going to close it as we probably won't bother fixing any issues like this in the old system when the new one is around the corner.

[2016-12-09 00:25] #12626 closed

[2016-12-09 00:29] karelz commented on #14299
BTW: If we confirm it is in buildtools, we should move it there (unless we do the fix right away).

[2016-12-09 00:32] CIPop commented on #2501
@davidsh, @karelz I remember this was a reliability issue: the app may crash if the callback is called and CLR unloaded the AppDomain (or otherwise collected the delegate).
This is applicable to both WinHttp and WebSockets.Client.

@jkotas could you please review the pattern?
[WinHttpWebSocketCallback](https://github.com/dotnet/corefx/blob/master/src/System.Net.WebSockets.Client/src/System/Net/Web

[2016-12-09 00:34] tarekgh commented on #14299
Issue moved to [dotnet/buildtools #1256](https://github.com/dotnet/buildtools/issues/1256) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-09 00:34] #14299 closed

[2016-12-09 00:35] tarekgh commented on #14299
Yes I moved it to buildtools repo

[2016-12-09 00:37] SamuelEnglard commented on #6073
@jamesqo all the methods we're adding `TryX` to had the potential to fail in the first place.

[2016-12-09 00:37] joperezr opened #14349 "[dev/eng] Make test projects compile against the TargetingPack + Xunit (1/3)"
Tests projects tracked by this issue are:

[code]

[2016-12-09 00:38] joperezr opened #14350 "[dev/eng] Make test projects compile against the TargetingPack + Xunit (2/3)"
Tests projects tracked by this issue are:

[code]

[2016-12-09 00:40] joperezr opened #14351 "[dev/eng] Make test projects compile against the TargetingPack + Xunit (3/3)"
Tests projects tracked by this issue are:

[code]

[2016-12-09 00:40] CIPop commented on #3205
This sounds simple according to @davidsh:

We would also need a test that passes on .Net Framework and in .Net Core.

[2016-12-09 00:43] CIPop commented on #3444
@bartonjs please add more details.

Is the .Net Framework behavior different from .Net Core on Unix?

[2016-12-09 00:43] karelz commented on #14329
Do you have a small repro (ideally without ASP.NET and WCF, just CoreFX libraries ...).

[2016-12-09 00:49] bartonjs commented on #3444
I don't know.  It might be different (that's why I said "may be" in the title).  I wrote it to only accept `*.stuff`, not `some*.stuff` (asterisk must be the first character, it must be succeeded by a period).

1) Is it different? (I don't know)
2) If it's different, does it matter? (Would a CA issue a `some*.stuff` cert?)
  * If `some*.stuff` validates differently to Windows, curl, and macOS, may

[2016-12-09 00:56] leemgs commented on #10113
@mellinoe, From my experience, the issue results from the below cases.

First, If theare were not developer package like libc-devel (e.g., gcc-multilib or glibc-devel or libc-devel)

Second, when a developemtn environment was too complex (or too was mixed) with "export LIBRARY_PATH . . . "

In case of another case, I recommend that you will try to find a reason with strace command,
target$> strace

[2016-12-09 00:59] danmosemsft opened #14352 "Improve code coverage for System.IO.FileSystem.AccessControl (0%)"
We have almost [zero test coverage](https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem.AccessControl/tests/FileSystemAclExtensionsTests.cs) so our [code coverage is essentially zero](https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/)

[2016-12-09 01:02] #10563 closed

[2016-12-09 01:02] danmosemsft commented on #14345
@JonHanna when I run code coverage locally it seems to only copy to the test bin directory the symbols for the assembly under test. So coverage of a type would only come from the tests for the assembly it is in. So a P2P to M.CSharp would not help.
That maybe should be changed, but one could argue that such indirect coverage is less valuable (less likely to verify results)

[2016-12-09 01:11] JonHanna commented on #14345
When I ran that branch locally it certainly did give coverage for M.CSharp too, but that was a single-project run now that I think of it, so maybe it's something to do with how the results are combined in the full runs. (And for that matter, maybe #13523 is related to that too).
The tests aren't totally indirect, in that they live in S.L.Expressions to test classes like e.g. `BinaryOperationBinder

[2016-12-09 01:18] tarekgh commented on #14329
@MikeInBA would be nice to attach a repro as @karelz mentioned in addition to the stack trace if possible. thank you.

[2016-12-09 01:19] jamesqo opened #14354 "Proposal: Add System.HashCode to make it easier to generate good hash codes."
# Update 6/16/17: Looking for volunteers

The API shape has been finalized. However, we're still deciding on the best hash algorithm out of [a list of candidates](https://github.com/dotnet/corefx/issues/14354#issuecomment-305028686) to use for the implementation, and we need someone to help us measure the throughput/distribution of each algorithm. If you'd like to take that role up, please leave a

[2016-12-09 01:20] jamesqo commented on #8034
@karelz I hit a snag; it turns out that the PR in question was trying to enable `ref this` returns for reference types as opposed to value types. `ref this` cannot be safely returned from structs; see [here](http://mustoverride.com/safe-to-return/) for why. So the ref-returning compromise will not work.

Anyway, I will close this issue. I have opened another issue here: https://github.com/dotnet/c

[2016-12-09 01:20] #8034 closed

[2016-12-09 01:28] benaadams commented on #8034
Should be able to return ref "this" from a value type extension method post https://github.com/dotnet/roslyn/pull/15650 though I assume C#vNext...

[2016-12-09 01:41] marek-safar commented on #14235
@ericstj yes we are going to ship this Facade in upcoming releases.

[2016-12-09 01:54] karelz commented on #2089
We worked with @tquerec and our management chains to find out the best way to unblock this work ASAP.  Unfortunately we don't have anyone free before end of January, so we will try to do our best in the meantime to unblock community contributions with just limited resources and some volunteer work from our side (@ianhays @tquerec and @karelz).

Here's what we plan to do:
@ianhays will help us kick

[2016-12-09 01:56] #14341 closed

[2016-12-09 02:47] SimpleDays commented on #14303
@benaadams @stephentoub  @danmosemsft
I use `AsyncLocal<T>` to solve the problem. thx! :smile:  :+1:
i close this issues.

[2016-12-09 02:47] #14303 closed

[2016-12-09 03:04] AlexRadch commented on #14354
Proposal: add hash randomization
[code]
`T` or `Type type` is needed to get the same randomized hash for the same type.

[2016-12-09 03:42] stephentoub commented on #14237
I'm fine with the idea of allowing other values to be set, but it's problematic because the value you want to set on a particular platform may be the same value as one of the .NET options, in which case we'll end up translating it to whatever value that .NET option maps to on that platform.  Just as an example, the original post shows trying to pass TCP_KEEPIDLE, which on Linux is 0x4, which is th

[2016-12-09 03:45] AlexRadch commented on #14354
Proposal: add support for collections
[code]

[2016-12-09 03:47] stephentoub commented on #14296
@ianhays, this test class is inheriting from another which inherits from ```IEnumerable_Generic_Tests<int>```, and it's one of those shared tests in that base type that's failing here.  Any suggestion for how to specialize just that one test for this one derived type to be skipped on NetFramework?

[2016-12-09 03:51] AlexRadch commented on #14354
I think there is no need in overloads `Combine(_field1, _field2, _field3, _field4, _field5)` because next code `HashCode.Empty.Combine(_field1).Combine(_field2).Combine(_field3).Combine(_field4).Combine(_field5);` should be optimized without calls.

[2016-12-09 04:09] jamesqo commented on #14354
@AlexRadch

Yes, that was part of my eventual plan for this proposal. I think it's important to focus on how we want the API to look like before we go about adding those methods, though.

[2016-12-09 04:13] jamesqo commented on #13696
@JonHanna You can see what I mean by some of the code I have [here.](https://github.com/dotnet/corefx/compare/master...jamesqo:more-where) I don't think I explained it succinctly in my post, but the basic idea is that 1) we can specialize for a bunch of types in `First(pred)` so we don't have to make virtual calls, and 2) we can share code between `Where(pred).First()` and `First(pred)`.

[2016-12-09 04:16] darbio opened #14356 "[AWS Linux][unsupported] X509Certificate2 fails on AWS Linux"
How do I load a X509certificate on netcore?

The code:

`var x509Certificate2 = new X509Certificate2("certificatePair.pfx");`

Fails with the following exception when run on AWS Linux:

The code calling this:

https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslPkcs12Reader.cs

[2016-12-09 04:18] dasjestyr commented on #1624
Personally, I don't think that's the right interpretation of that particular practice. **We're not trying to test the dependency, we're trying to test how our code interacts with that dependency**, thus it is not unrelated. And, quite simply, If I can't run a unit test against my code without invoking the actual dependency, then that's not testing in isolation. For example, if that unit test was r

[2016-12-09 04:50] dasjestyr commented on #1624
Basically, I think maybe our desire to mock HttpClient is in a way related to the average developer's propensity to spin up new instances of HttpClient instead of reusing them which is terrible practice. In other words, we underestimate what HttpClient is and should focus on the handler instead.

Ok, I'm sold. I no longer want the interface on HttpClient.

[2016-12-09 06:07] AlexRadch commented on #13427
Proposal: Add FillMemory methods to fill memory with one value. It is like InitMemory but not only zero.

[2016-12-09 06:21] alexpantyukhin opened #14359 "CurrentDomain.GetAssemblies() functionality."
Hi! I know that this question was already discussed (https://github.com/dotnet/corefx/issues/1784#issuecomment-184409082) but unfortunally there was no direct question how to do it or some workaround. This is very needed functionality.

[2016-12-09 06:55] bartdesmet commented on #14333
Also related: https://github.com/dotnet/corefx/issues/14077

[2016-12-09 07:03] txdv commented on #14307
@benaadams So I guess this is on the provider to be implemented?

I feel that a simple Task.Run(() => SyncVersion()) would already be better, but I guess I will just implemented one myself. The problem I see with this that I will basically implemented the same thing over multiple files.

I guess this is a non issue then and works as intended.

[2016-12-09 07:03] #14307 closed

[2016-12-09 08:00] AlexRadch commented on #14170
@karelz I am working on this. But I have questions: Should I make Reset method public? Why it is hidden in proposal on top?

[2016-12-09 08:23] michael-x commented on #14050
@karelz, any thoughts?

[2016-12-09 09:43] chadwackerman commented on #11100
For f#$@'s sake guys, fix this already. This is idiocy.

[2016-12-09 10:21] JonHanna commented on #14333
@bartdesmet was what that asks for provided by #13530, which this then follows up on, or is there more?

[2016-12-09 10:27] JonHanna commented on #14333
(There's yet more duplication within `DynamicExpression` itself too, but I want to wait on that, or else I'll either have a massive PR that does too much or a bunch of them that conflict too heavily).

[2016-12-09 11:28] EgoPingvina commented on #14308
@CIPop `UdpClient` has `ReceiveAsync` method and if overloading with 2 parameters(like I done it) will be added, I think this will not break the existing applications, but will give me and many other people convenient mechanism for interrupting the asynchronous reading

[2016-12-09 13:30] jkotas commented on #13427
@AlexRadch The methods on Unsafe class are meant to be thin minimal wrappers around one or a few IL instructions. There is no IL instruction that does what you are proposing, thus it is not a good candidate for Unsafe.

[2016-12-09 13:41] karelz commented on #14359
The API is back and will ship in 1.2: https://github.com/dotnet/corefx/blob/277b781b6326e06716173132f68317ddc475f67d/src/System.Runtime.Extensions/src/System/AppDomain.cs#L234

In the meantime, you can use AssemblyLoadContext.GetLoadedAssemblies().

[2016-12-09 13:42] #14359 closed

[2016-12-09 13:51] alexpantyukhin commented on #14359
Thanks a lot!

[2016-12-09 13:53] karelz commented on #14170
Good questions - @jamesqo @stephentoub @weshaggard can you guys advice here?

[2016-12-09 14:07] karelz commented on #14050
@sepidehMS @krwq can you please help here?

@michael-x your repro description is a bit confusing for me. It would be best to pick the simplest one (new project) and just describe steps "1-5" how to get into the bad state. Mentioning that 4.6.2 SDK is the only difference between machines where it does/does not work (assuming I understood it correctly).

[2016-12-09 14:17] stephentoub commented on #14344
The only reason there aren't exactly zero is because if there were zero, it wouldn't show up in the code coverage report at all, so I added one test to help highlight how bad we are here ;)

[2016-12-09 14:31] Giorgi commented on #1081
@Priya91  Post updated.

[2016-12-09 14:32] stephentoub commented on #14170
Dispose should be public.  Reset can be an explicit interface implementation.

[2016-12-09 14:37] MikeInBA commented on #14329
Here is a zip with a vs 2015 sln:  https://1drv.ms/u/s!ArX3JWLeEgybh6U-naphYg21dQ8k7Q

There is no stack trace after I click "Ok" on this screen: https://1drv.ms/i/s!ArX3JWLeEgybh6U_6J3VEGqYoulrBg

the Call Stack window just shows [External Code]

[2016-12-09 14:38] karelz commented on #14170
THanks @stephentoub. Spec on the top updated.

[2016-12-09 15:00] michael-x commented on #14050
A simpler set of steps to reproduce:

1. On machine A: Create a new .NET 4.6 Class Library project in Visual Studio 2015
2. On machine B: Build using MSBuild 14 --> Works
3. On machine A: Add NuGet package System.Text.Encoding.CodePages 4.3.0
4. On machine B: Build using MSBuild 14 --> Works
5. On machine A: Add NuGet package System.Xml.ReaderWriter 4.3.0
6. On machine B: Build using MSBuild 14 --

[2016-12-09 15:04] caleblloyd commented on #14237
Presently, all of the `SetSocketOption` methods in [System.Net.Sockets.Socket](https://docs.microsoft.com/en-us/dotnet/core/api/system.net.sockets.socket) take a `SocketOptionName` enum as their 2nd argument.

If arbitrary values were allowed to be set, `SetSocketOption` would probably need new overloads to provide a `uint` for the 2nd argument.  These overloads could skip translation at the PAL l

[2016-12-09 15:12] bartonjs commented on #14356
It seems like you're missing either the native shim (System.Security.Cryptography.Native.OpenSsl.so) or maybe openssl (libcrypto.so.1.0.0 and libssl.so.1.0.0).

How did you get .NET onto the machine?

[2016-12-09 15:15] stephentoub commented on #6302
Again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release_prtest/1146/consoleText

[2016-12-09 15:25] #12160 closed

[2016-12-09 15:27] justinvp opened #14365 "Remove [Obsolete] from System.TimeZone?"
.NET Core used to only expose the newer `System.TimeZoneInfo`, but recently exposed the older `System.TimeZone` (#10074).

In .NET Core, `System.TimeZone` is currently marked as `[Obsolete]` in the [corelib implementation](https://github.com/dotnet/coreclr/blob/7d17af2deeca2af47bec4fab01f8c7e23ae3f5a8/src/mscorlib/src/System/TimeZone.cs#L30-L32) (under `FEATURE_CORECLR` ifdef), [netcore ref](https

[2016-12-09 15:30] justinvp commented on #14365
cc: @danmosemsft

[2016-12-09 15:49] h82258652 opened #14368 "could not run unit test if dependency library reference System.Security.Cryptography.Algorithms"
I have a class library which target .net standard 1.3.
And I use the MD5 class to hash the string.
[code]

But when I run the unit test, it throw System.IO.FileLoadException to me.
![qq 20161209233211](https://cloud.githubusercontent.com/assets/5144550/21054665/82396f92-be69-11e6-9610-5148462aa7a5.png)
even my unit test project install System.Security.Cryptography.Algorithms package.

I upload the

[2016-12-09 16:10] ericstj commented on #14235
Ok, any other new file additions to your inbox set of assemblies with package overlap?  We can do one pass to update everything.

[2016-12-09 16:19] nguerrera opened #14369 "Move ImmutableArray<T> and interfaces it implements to System.Runtime"
These are all exchange types and should be useable anywhere on the stack.

[2016-12-09 16:37] tarekgh commented on #14365
We need to keep Obsolete because we don't want any new code to use this class and instead o use TimeZoneInfo. TimeZone is really not good choice to use and we have exposed it only because we want to cover the same service area for Xamarin. I am not seeing any problem to have this discrepancy with the desktop.

Thanks.

[2016-12-09 16:37] #14365 closed

[2016-12-09 16:42] justinvp commented on #14365
Then why isn't it marked Obsolete in the full framework? Are we obsoleting other "deprecated" APIs that are being exposed to cover Xamarin surface area?

[2016-12-09 16:46] tarekgh commented on #14365
we can consider marking it as Obsolete on the desktop. it is just not a priority item for the desktop as we don't see many new code is using it.

I don't have the list but I think it make sense to do so.

[2016-12-09 17:09] jkotas commented on #2501
I agree with this. Maybe it works, but it is not how the safe handles are meant to be used.

I do not see how this pattern can prevent unload of AppDomain. Anyway, there are no AppDomains in .NET Core so it is not something to worry about.

Keeping the delegate in `static Interop.WinHttp.WINHTTP_STATUS_CALLBACK s_StaticCallbackDelegate` is sufficient to prevent it from getting collected.

[2016-12-09 17:18] karelz commented on #14189
Note the issue is still up for grabs if anyone wants to take it.

It looks like it will be a little bit involved implementation (see attempt in dotnet/coreclr#8498)

[2016-12-09 17:27] nietras commented on #12425
@mburbea you are right! `CountBits` is not clear. `CountOnes` better, I can live with `PopulationCount`, although...

This sounds more like the target is to be safe, correct and developer friendly, rather than optimal and efficient. Perhaps both can be obtained, at least for some methods for sure, but some look like they require input validation if they are to be for the "average" .NET developer.

[2016-12-09 17:47] benaadams commented on #12425
Population count is a bit weird in a high level language as "population" likely means something different to the user; there is a domain change in language with a CPU designer.

Also it is a property of the value rather than an action; so shouldn't start with a verb?

Perhaps more `SetBitCount` and its opposite `UnsetBitCount` and maybe an extension method?

Also since popcnt and bitscan will eith

[2016-12-09 17:56] benaadams commented on #12425
Population count is a bit weird in a high level language as "population" likely means something different to the user; there is a domain change in language with a CPU designer.

Also it is a property of the value rather than an action; so shouldn't start with a verb?

Perhaps more `SetBitCount` and its opposite `UnsetBitCount` and maybe an extension method?

Also since popcnt and bitscan will eith

[2016-12-09 18:00] mburbea commented on #12425
I've updated the proposal voicing my vote for `Bits` and renaming Get/Set to Read/Write since it seems more well liked. I also changed from `IsBitSet`=>`ReadBit` to be more consistent with simmilar methods.

@jamesqo, you might be right. I've no way to test this code in a big endian environment so it may just work.

@nietras, I somewhat get the point, but `unsafe` is a rather large disincentive. I

[2016-12-09 18:05] benaadams commented on #12425
@mburbea its bigger than CPU type; its also version of Jit - i.e. there is nothing particularly in the api that means it couldn't happily be .NETStandard 1.0 - however it will only be hardware accelerated on a Jit that doesn't currently exist (so at least 4.6.3+ and Core 1.2.0+ though maybe version after...)

[2016-12-09 18:10] benaadams commented on #12425
Also to match the action name the write functions should be
[code]

[2016-12-09 18:16] mellinoe commented on #12425
[code]

I don't like these names because they imply that something is being modified, since they start with `Set` and `Unset`. I'm also not a fan of using extension methods like that; I think these should all be regular static methods.

[2016-12-09 18:17] mellinoe commented on #14369
Should it be in System.Private.CoreLib, then?

[2016-12-09 18:22] benaadams commented on #12425
Ah yes, the ambiguity of English... 😄 But it does highlight an angle I hadn't thought of as to why PopulationCount is bad; as it would be quite a weird name for a non English speaker - is a name by convention rather than clarity.
[code]
Example usage
[code]

[2016-12-09 18:23] karelz commented on #14369
@weshaggard how do you look at it from layering point of view?

[2016-12-09 18:25] joperezr commented on #14117
Should we close this issue then given that it doesn't repro any more?

[2016-12-09 18:25] karelz commented on #14368
Is it problem on .NET Framewok 4.6.2 or on .NET Core?

Note: In general we do not track .NET Framework bugs on GitHub.

[2016-12-09 18:26] karelz commented on #14368
@bartonjs have you seen it before?

[2016-12-09 18:33] bartonjs commented on #14368
Looks like the library is building against netstandard and the tests are building against 4.6.2.  The facades should take care of this.

But it's not something that I've specifically seen, no.

[2016-12-09 18:37] #14296 closed

[2016-12-09 18:57] benaadams commented on #12425
Two classes?
[code]
Usage
[code]

[code]
Usage
[code]

[2016-12-09 18:58] karelz commented on #14368
@ericstj do you know who could help with this type of feedback on VS + .NET Framework?

[2016-12-09 19:00] #12431 closed

[2016-12-09 19:00] #13073 closed

[2016-12-09 19:00] #13894 closed

[2016-12-09 19:03] joperezr commented on #11023
@ericstj is this something we still want to pursue for 1.2.0 release? If so, we need to get a list of the packages we need to switch to runnable TFMs instead of netstandard ref so that somebody can pick this one up.

[2016-12-09 19:09] joperezr commented on #14337
We would need a formal Api Proposal for in order to take this to review.

cc: @Snesha @ellismg

[2016-12-09 19:11] joperezr commented on #14337
@ellismg is this any different than #1513

[2016-12-09 19:22] joperezr commented on #14336
@KrzysztofCwalina @terrajobst This is kind of an old issue that was ported from coreclr, but do we still want to consider implementing `IReadOnlyList<char>` on `String`? I'm marking this as ready for review so that we take a further look.

[2016-12-09 19:23] joperezr commented on #14336
cc: @stas-sultanov

[2016-12-09 19:23] stephentoub commented on #9071
@mglodack, sorry for my delay in responding.  I'm not aware of any issues.

[2016-12-09 19:24] ellismg commented on #14337
This is for Trim and not Split.

[2016-12-09 19:25] joperezr commented on #14334
Marking as ready for review for @weshaggard and @terrajobst to take a look.

[2016-12-09 19:26] nietras commented on #12425
"Unsafe" doesn't mean you have to enable unsafe for the compiler. It is
nothing more than a name prefix to signify to a developer that the code you
are calling can do unexpected things if you are not aware what you are
doing. Just as the "Unsafe" class that can be used in any normal safe
context, and like e. g. `DangerousGetHandle' or similar that can be used
from normal safe context.

On Dec 9, 2

[2016-12-09 19:28] StefH opened #14374 "Why is the class HttpStatusDescription internal ?"
I was wondering why this class is made **internal** ?

Because I want to use this class to get a description from an HttpStatusCode ?

**Update + Reminder to myself**
I need this for this project : https://github.com/vtortola/WebSocketListener/blob/master/vtortola.WebSockets/Http/HttpStatusDescription.cs

[2016-12-09 19:31] mburbea commented on #12425
@benaadams, I see your point about splitting these things up and that could be interesting. That said, I think ref is kind of annoying to use and I'd prefer these methods were simple actions on values. If possible maybe we can come up with a name that somehow conveys that it takes a value and produces a new one with some modified bits.
What do you think of
[code]
So old versions of the desktop wou

[2016-12-09 19:38] benaadams commented on #12425
@mburbea need to write out the usage to get a feel, so would be
[code]
Re acceleration it would be
[code]
But the important factor is whether the Jit would eliminate the test as a constant expression and remove one of the branches?

[2016-12-09 19:51] Priya91 commented on #14117
Not sure how this state happened, even if kill signal failed, the process should exit by itself after finishing sleep of the specified time. Closing this for now.

[2016-12-09 19:51] #14117 closed

[2016-12-09 20:03] nietras commented on #12425
Just a thought are `Set`/`Unset` not a bit confusing, especially given `Set` has many meanings. Would `One`/`Zero` not be better? E.g. `CountOneBits`, `CountZeroBits`. Well, at least the verb is first, that I like 👍

Regarding hardware accelerated, would BitOps.RotateLeft then mean that all variants of input types would be accelerated or? Wouldn't there be cases where e.g. `int` would be hardware

[2016-12-09 20:04] Priya91 commented on #1081
@Giorgi The proposal looks good, you have mentioned that it's possible to implement on windows, can you also update the post on similar investigations on Linux and OSX. .NETCore supports Linux and OSX, so we want to have data on whether this API returns meaningful value on other platforms as well.

[2016-12-09 20:10] benaadams commented on #12425
[code]
😜

[2016-12-09 20:15] saurabh500 commented on #14017
@danmosemsft I am going to look into this.
Some questions:
1. Are the failures in a particular OS or the failure occurs in any OS arbitrarily?
2. Do the CI VMs/machines execute tests from multiple PRs in parallel?

Based on the output that @JonHanna  has posted, the problem seems like the port needed by the Fake Sql server is in use either by another Fake Sql Server process or by another program o

[2016-12-09 20:18] mellinoe commented on #14349
I have this done in this branch: https://github.com/mellinoe/corefx/tree/port-tests-part1

[2016-12-09 20:20] mellinoe opened #14375 "[dev/eng] RemoteExecutorConsoleApp needs to be modified to handle new test structure"
Many of our tests use the `RemoteExecutorConsoleApp`. Currently, it only works if the whole runtime is next to the test assembly, next to the runtime, next to the host, etc. We need to reconfigure how this thing works so that it works with the new directory structure that we've proposed.

[2016-12-09 20:22] #14038 closed

[2016-12-09 20:22] danmosemsft commented on #14017
unfortunately without the log I can't tell the OS. I have not seen other reports of this problem so it's possible it only occurred exactly once. We still try to take action even when there's only one instance, as otherwise the sporadic failures add up and the CI pass rate declines. In some cases that means adding logging/hardening if we can't find and fix the issue.

No, one PR at a time. And appa

[2016-12-09 20:23] weshaggard commented on #14369
Form a layering prospective these are likely fine but we actually need an API proposal for exactly what we want to move. We also have to think about what does looks like for desktop.

[2016-12-09 20:23] weshaggard commented on #14369
cc @terrajobst

[2016-12-09 20:24] saurabh500 commented on #14017
Thanks. The log above seems to point to macOS. I will work on the fix.

[2016-12-09 20:26] Priya91 commented on #7343
@Dmitry-Me If we have a new API say ```bool TryKill()```, which return true if the process was killed with a kill signal and false if not. How will you know when the API returns false, the kill didn't happen because of some OS error, or trying to kill a remote process or if the process exited by itself before kill? If you get false, you are unsure if the process is alive (in case of first 2 reason

[2016-12-09 20:33] KrzysztofCwalina opened #14376 "Span: Add debugger viewers to Span<T> and ReadOnlySpan<T>"
It's difficult to debug programs that use spans because the span items cannot be easily inspected in the debugger.

[2016-12-09 20:58] shmao opened #14378 "Area-Serialization Sprint 111"
The issue is for tracking issues to be done in sprint 111 (due by 12/30/2016).

[2016-12-09 21:06] shmao commented on #12902
This was fixed by #13891. @huanwu, can you please update the actual cost for the issue? Thanks.

[2016-12-09 21:06] #12902 closed

[2016-12-09 21:06] CIPop commented on #14308
Sorry for missing that: I definitely agree with having new APIs that use `CancellationToken`. We should consider adding new API not only for UdpClient but for all other async networking APIs that are missing it.
For Windows, I also suggest prototyping cancellation via [CancellIoEx](https://msdn.microsoft.com/en-us/library/windows/desktop/aa363792(v=vs.85).aspx) instead of just closing the handle.

[2016-12-09 21:15] JonHanna commented on #8081
I've just found that `TypeAs` can be typed as pointer and ref types, so there's at least one case that is still affected by this.

[2016-12-09 21:23] hughbe commented on #8081
Oh whoops I'm not sure I meant to close this issue. Feel free to reopen if u want

[2016-12-09 21:28] stephentoub commented on #14320
A call to CheckDisposed could potentially be added to the beginning of CancellationTokenCanceledEventHandler, but even with that it's not a guarantee that an ODE will be thrown: race conditions abound.  These checks and throwing ObjectDisposedException aren't really meant to catch all improper use after dispose, just to highlight the common cases.  To get the stack you're getting, the SemaphoreSli

[2016-12-09 21:30] stephentoub commented on #14037
@avertes, thanks for the repro.

@geoffkizer, could you take a look?

[2016-12-09 21:31] CIPop commented on #14237
Makes sense. @stephentoub would you agree with @caleblloyd's solution above?
We could document the new override as being unsafe in X-Plat settings but it would unblock scenarios requiring platform-specific Sockets configuration.

/cc @karelz @davidsh

[2016-12-09 21:33] CIPop commented on #2501
I wasn't sure either (couldn't find enough documentation at the time) but I didn't see the bug on .Net Desktop after adding this (most likely timing).

Thanks @jkotas! That actually simplifies the design a lot.

[2016-12-09 21:33] darbio commented on #14356
It's on AWS Lambda in their new C# functions. They're just using AWS Linux behind the scenes.

Not sure how they loaded .Net.

Is there a way to include the shim?

[2016-12-09 21:35] stephentoub commented on #14237
Yeah, I'd be ok with that, as long as the naming/signature made it very clear that this isn't just the equivalent to casting SocketOptionName to an int.

Another option would be to revisit the idea of having a library of P/Invokes for essentially all of POSIX, similar to Mono.Posix.  Then if you were on Unix, you could pass the Socket's Handle to the setsockopt exposed there.

Those also aren't mu

[2016-12-09 21:42] JonHanna commented on #8081
I can't due to https://github.com/isaacs/github/issues/583

[2016-12-09 21:46] rchiodo commented on #14320
Sounds fine to me.

[2016-12-09 21:51] #14320 closed

[2016-12-09 21:52] bartonjs commented on #14356
@darbio I don't know.  AWS Linux isn't a distro that we officially support (I didn't know it had dotnet available).  You might need to start with AWS if you're experiencing problems on a component they provide.

[2016-12-09 22:03] mellinoe commented on #14215
@dagood Can't we use the preview2.1 build? It is running on top of the 1.1 shared framework so I think we would need to change the tool deps.json files in buildtools. But it supports all the new distros, minus Alpine, and should have the 4.6 kernel fix. And we can just re-upload Alpine's because it's a fake bootstrap version anyways.

[2016-12-09 22:04] mellinoe commented on #14215
Oops, just realized preview2.1 was mentioned originally. I'm pretty sure the only work is literally just find/replacing the strings in those deps.json files.

[2016-12-09 22:20] krwq commented on #14050
@michael-x do you also get build errors on Machine A on Step 5?
@ericstj I'm wondering if you know about some issues similar to this? Is it possible that 4.6.2 SDK is in some way different?

[2016-12-09 22:28] #14253 closed

[2016-12-09 22:29] nietras commented on #12425
Ha yeah, so many good options 😆 I like `BitOps` for the static class name though 😉

[2016-12-09 22:33] dagood commented on #14215
Good to hear that sounds reasonable, my main concern there was other platform support or other things that may have changed between 2, 3, and 2.1. (Things like the NuGet capitalization breaking change.) I haven't had time yet to actually try it out and see.

[2016-12-09 22:36] jamesqo commented on #12425
@nietras

I personally am not so sure about `BitOps`; ops is not a full word.

[2016-12-09 22:38] alexperovich opened #14382 "Review CA2002:DoNotLockOnObjectsWithWeakIdentity errors in System.Console"
The System.Console project has many cases of locking on bad objects. Review the usages and suppress in source with justifications if the risk of deadlocks is okay.

https://github.com/dotnet/corefx/blob/master/src/System.Console/src/FxCopBaseline.cs

[2016-12-09 22:39] nietras commented on #14189
@karelz I hope to give it a shot, but again am waiting for the `Unsafe` additions. Otherwise, it seems @jkotas is ok with a functional commit, before an optimized commit.

[2016-12-09 22:46] nietras commented on #12425
@jamesqo it has precedence though, but I guess we need some input from FXDC regarding naming, otherwise I think we might just keep repeating our different suggestions. I don't like `Bits` it is too vague and too general, its short, that is good. But .NET is not about brevity but rather readability... I think the best we can do is present some options for review. Doesn't look like we will be able t

[2016-12-09 22:55] chadwackerman commented on #11100
@suprduprmn I updated and consolidated all packages and then changed this in all the app.config and web.config files:

    <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.0.0.0" />

Only then would my web app launch on Azure and be able to make https calls to Azure services that depend on System.Net.Http. YMMV but good luck.

And @terrajobst ... is there a proper place I can formally c

[2016-12-09 22:55] nietras commented on #12425
Tried to look at other precedence in .NET. All I could find easily was `BitArray`. It uses `Get`/ `Set` for getting/setting a bit in the array e.g. `public void Set(	int index,	bool value)` [link](https://msdn.microsoft.com/en-us/library/system.collections.bitarray.set(v=vs.110).aspx). I think it would be confusing to have `Set` both mean that a bit is `set` i.e. `1` and having a method that sets

[2016-12-09 23:21] nguerrera commented on #14369
To answer @mellinoe's question, after discussion with @davidwrighton, it needs to be in System.Private.CoreLib.

[2016-12-09 23:26] stephentoub commented on #14382
This is referring to locking on Console.Out, right?  If so, it's by design, so that developers can also lock on Console.Out to synchronize with the internal locking on Console.Out.  See https://github.com/dotnet/corefx/pull/2855.

[2016-12-09 23:46] alexperovich commented on #14382
Most of the cases are `lock (this)` that instance may be the Console.Out instance but I don't know. They need to be suppressed if they are by design.

[2016-12-10 00:07] h82258652 commented on #14368
@karelz I think it's on .NET Framework 4.6.2. I try to use a UWP unit test project to run, it works.

[2016-12-10 00:20] karelz commented on #14368
This repo is about .NET Core, which is different stack than UWP / .NET Framework 4.6.2.
I will close the issue here.

@ericstj can you advise where to follow up on the issue? @h82258652 you can try to report the problem via VS Feedback ("Report Problem" in the right top corner)

[2016-12-10 00:20] #14368 closed

[2016-12-10 00:21] karelz commented on #14369
@weshaggard is the target assembly sufficient for API proposal? Or do you/we need more?

[2016-12-10 00:21] h82258652 commented on #14368
@karelz thanks for response.

[2016-12-10 00:25] karelz commented on #14189
Thanks! Assigned to you.

[2016-12-10 00:27] CIPop commented on #14237
Having a platform-specific layer API sounds interesting as well - I wasn't aware of the discussions. @stephentoub is there a different issue regarding adding API similar to `Mono.Posix` that we can link to?

Meanwhile, since we all agreed on new API, I'll add the proper tags.
Adding the new overload accepting the uint shouldn't be very complicated work although it'll span across PAL, native code.

[2016-12-10 00:39] naamunds commented on #13626
@jamesqo I was unable to repro this issue.  Running `msbuild /t:RebuildAndTest src\System.Linq\tests\System.Linq.Tests.csproj` repeatedly ran tests every time for me.

From looking at the logs you linked to, it seems strange to me that it skipped RunTestsForProject.  From the top of the log, we can see that "C:\Users\james\Code\git\corefx\bin\obj\AnyOS.AnyCPU.Debug\System.Linq.Tests\System.Linq.Te

[2016-12-10 00:52] stephentoub opened #14387 "Add additional methods to ConditionalWeakTable"
```ConditionalWeakTable<T>``` is a specialized dictionary but it lacks several useful public members.  We just added AddOrUpdate in https://github.com/dotnet/corefx/issues/8429. We should also add:
[code]

[2016-12-10 01:19] terrajobst commented on #14369
@karelz

I'd like to see:

* List of affected types
* Reference Assembly
* Implementation Assembly

[2016-12-10 01:36] jnm2 commented on #14338
Both overloads would be welcome.

[2016-12-10 01:39] jahmai commented on #11100
@karelz I wouldn't want to distract the team from actually fixing the problem right now, but personally I'd love to hear a post-mortem analysis on the root cause of this issue and how it made it's way through QA. This has caused major headaches and I think transparency would earn some trust.

[2016-12-10 01:40] safern commented on #14275
IDesignerHost is bringing TypeConverter as well to FileSystem.Watcher so we should move that interface to S.CM.Primitives... will go ahead and open an issue on that

[2016-12-10 01:42] OmarTawfik commented on #14155
Agreeing with @karelz. Closing this until further news.

[2016-12-10 01:42] #14155 closed

[2016-12-10 01:43] safern opened #14390 "IDesignerHost should be in System.ComponentModel.Primitives"
/cc @weshaggard @ericstj

This is causing FileSystem.Watcher to bring in TypeConverter.

[2016-12-10 01:44] karelz commented on #11100
@jahmai Understood, I am also interested in that, but I want to focus on solution first. Then we can analyze what happened why and how to prevent such mishaps in future.

[2016-12-10 01:46] safern opened #14391 "Remove P2P references from System.ComponentModel.TypeConverter"
Once #14389 goes in the P2P references should be removed.

[2016-12-10 01:58] PureKrome commented on #11100
hugs @ ms-team

![](http://i.giphy.com/JzsG0EmHY9eKc.gif)

[2016-12-10 02:00] robertmclaws commented on #11100
Also, just so you know, between this issue, the issues around HttpClient being so poorly designed, the issues around Microsoft.Security.Owin.Jwt being broken against current dependencies, and the state of .NET Core...

It is an *incredibly* frustrating time to be a .NET developer right now. Each deployment now requires 30 minutes of checking assembly binding references so my apps don't get broken

[2016-12-10 02:14] dluxfordhpf commented on #11100
Thanks guys.  FWIW, if you need to make a breaking change, please do so.  We dislike this, but we’ve been living with the pain for several months, and now that we know you’re engaged, we can wait a couple more, even if we have to make some API changes.

David L-

David Luxford
Senior Software Engineer
Home Point Financial Corporation
1194 Oak Valley Dr Ste 80
Ann Arbor, MI 48108
Work Phone:  (734)

[2016-12-10 03:04] jnm2 commented on #14144
I assume this is referencing https://github.com/aspnet/EntityFramework/issues/3726?

Like I said there, please don't add `Expression<Func<int>>` overloads if there is any way to avoid it. It's a weird abstraction that is arbitrary and in my opinion leaky. If I understand correctly, it's possible for Entity Framework to parameterize without these it and the result would be worth it.

[2016-12-10 03:39] wateret commented on #12545
@mellinoe Yes. [LinuxARMEmulator HardFP](https://ci.dot.net/job/dotnet_corefx/job/master/job/linuxarmemulator_hardfp_cross_debug/) still fails. Probably there will be no more PRs for the issue, some work must be done on the CI machine. The work is in progress with @jashook.

[2016-12-10 03:41] AlexRadch commented on #13746
So I should NOT create deconstruction methods in these types but I can make deconstruction extensions for these types. Where I can make such extension methods?

[2016-12-10 03:44] jamesqo commented on #13746
@karelz In the PR associated with this proposal, @jkotas gave instructions on how to move `EditorBrowsableAttribute` down to CoreLib. Clearly you two seem to have differing conclusions on how to handle this-- I think you need to reach a consensus on whether 1) to use extension methods or 2) to move the type down.

[2016-12-10 04:10] jamesqo opened #14398 "Investigate queueing string references for StringBuilder"
Currently, in `StringBuilder.Append(string)` we copy all of the characters of the input string to our internal buffers. Then, we copy all of these characters again to the output string if `ToString` is called. So basically, we're copying each input string twice.

We can reduce this to 1 copy. Instead of eagerly copying the string when `Append` is called, we can queue it up into a list of string re

[2016-12-10 04:15] jamesqo commented on #14398
/cc @jkotas, @KrzysztofCwalina, @AlexGhiondea; would be interested to hear what you three think about this if you have time. Unlike the corefxlab PR, it will not just benefit strings, but all types except `char` (things like ints, objects, etc. are all `ToString`'d anyway).

[2016-12-10 04:25] justinvp commented on #14387
I don't have an opinion either way, but I seem to recall a deliberate choice to not implement any of the collection/dictionary interfaces and not treat `ConditionalWeakTable` as a "collection" when it was originally designed. I can't remember the specific details on why... Maybe because keys aren't persisted and keys/values are automatically removed.

[2016-12-10 04:35] JonHanna opened #14399 "Expression.ArrayLength doesn't protect against unreadable expressions."
A tree can be constructed which attempts to determine the length of the value of a set-only property. Attempts to compile with either compiler throws an NRE.

[2016-12-10 04:35] jamesqo commented on #14119
@bartdesmet Regarding `Flatten`, I've changed my mind over the past week. Common patterns like

[code]

are currently very hard to optimize because we do not know `l => l` will always result in an ICollection, therefore we have to do dynamic resizing during `ToArray`. With ICollection, however, we can check if the source implements `IEnumerable<ICollection<TSource>>` and if so just sum up all of t

[2016-12-10 04:37] JeremyKuhne commented on #13487
Moved

[2016-12-10 04:37] #13487 closed

[2016-12-10 05:00] chadwackerman commented on #11100
Something is off the rails here. I've been shipping C# apps for 15 years. Ironically as higher level abstractions are being shipped by Microsoft I'm spending more and more time digging deep into internals I never previously had to worry about. YOU'RE DOING IT WRONG.

I'm not smart enough to understand why reverting the trust flags on this library is a huge deal nor do I understand why I don't have

[2016-12-10 05:11] #8429 closed

[2016-12-10 06:10] #14146 closed

[2016-12-10 06:10] danmosemsft commented on #14148
fixed by https://github.com/dotnet/corefx/pull/14392

[2016-12-10 06:11] danmosemsft commented on #14147
fixed by https://github.com/dotnet/corefx/pull/14392

[2016-12-10 06:11] #14147 closed

[2016-12-10 06:23] geoffkizer commented on #13752
Anyone know more details of the Windows bug?  What exactly happens if you try to use this with UDP on a pre-Win8?

[2016-12-10 07:38] weshaggard commented on #14275
I would just go ahead and add it to this issue as well.

[2016-12-10 08:24] AlexGhiondea commented on #14398
This sounds like a very interesting idea to optimize Append! Thanks for bringing it up!

How does this work with other operations on StringBuilder? You mentioned the indexer, but what about Replace? If you do a replace you need to traverse and potentially adjust the pointers in the StringQueue (did I get that right - dont have the code in front)? I assume the same for Insert.

What kind of improve

[2016-12-10 09:29] EgoPingvina commented on #14308
@CIPop Yes, you are absolutely right.

[2016-12-10 09:58] avertes opened #14403 "CreateText always creates a new file while documentation says it creates OR opens"
At https://docs.microsoft.com/en-us/dotnet/core/api/system.io.file#System_IO_File_CreateText_System_String_
documentation says, that:
CreateText(String)
Creates or opens a file for writing UTF-8 encoded text.

However on my tests a file is always created (overwritten). I don't know whether the documentation should be updated to match practice or vice versa.

Repro code
[code]

Expected result in t

[2016-12-10 10:13] mellinoe commented on #14403
The documentation seems accurate to me. Are you interpreting "opens a file for writing" as something different than what is happening?

[2016-12-10 11:12] avertes commented on #14403
I don't think "open a file" would mean a file is overwritten.

I think create a file could mean overwrite, but if one says "create or open" then I don't see how it could be interpreted so that file is always overwritten.

[2016-12-10 11:34] JonHanna commented on #14403
We can expect the file to be empty at this point, or at least appear so as far as the calling code is concerned (i.e. the actual file might not catch up with the operations done unil a sync).

Opposed to the behaviour of `File.AppendText` which opens a file for appending.

Then the creation timestamp on the file will be changed to the current date, which does not seem to happen.

[2016-12-10 12:42] JonHanna opened #14404 "Quote Expressions should have a Type that is publicly accessible"
#13133 introduced types that specialise common cases of `LambdaExpression`.

Unfortunately the results of `Expression.Quote(lambda).Type` on such nodes will now report that specialised type, which is neither a publicly accessible type nor what existing code may have been expecting. In such cases then if e.g. an `Expression0<System.Func<int>>` is quoted the type should be reported as `Expression<Sy

[2016-12-10 14:09] JonHanna opened #14406 "Documentation and error message on ArrayLength is misleading"
If one does:

[code]

Then the error message is "Argument must be single dimensional array type", as it was prior to #4164 blocking such expressions (previously it would be accepted but error on compilation), even though the array is indeed single-dimensional. It should be something like "Argument must be single-dimensional zero-based array type".

[2016-12-10 14:41] marek-safar commented on #14235
Not at the moment but I don't know if there are other .net vNext APIs currently distributed as nugets

[2016-12-10 14:42] clarkis117 commented on #11715
@ianhays Is there preprocessor symbol for distinguishing between coreclr and full framework? I’m trying to distinguish between the CodePages package and the CP437 support in full framework.

[2016-12-10 15:02] xperiandri commented on #4234
I still have the same issue!!! On NetCoreApp 1.1
What to do to resolve this???

[2016-12-10 15:06] stephentoub opened #14409 "System.Net.Http.Tests.HttpRequestHeadersTest.IfNoneMatch_UseAddMethod_AddedValueCanBeRetrievedUsingProperty test failed in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/1302/consoleText
[code]

[2016-12-10 15:06] asinel commented on #4234
[code]

[2016-12-10 15:48] #14406 closed

[2016-12-10 15:52] tanaka-takayoshi opened #14410 "Support plan for Digit separators in corefx"
Related to the roslyn issue https://github.com/dotnet/roslyn/issues/216, do you have any plan to support Digit separators in int.Parse, Conver.ToInt32, and other methods?

[2016-12-10 16:00] tanaka-takayoshi opened #14412 "Support plan for Binary literals"
Related to the roslyn issue https://github.com/dotnet/roslyn/issues/215, do you have a plan to support Binary literals in `Convert.ToInt32("0b1011", 2)`?

As for the current corefx specification, `Convert.ToInt32` (and other similar methods) method can convert Hexadecimal string, which starts from `0x`, to integer (or other Numeric types) if `fromBase` is 16. `int.Parse` and `int.TryParse` method

[2016-12-10 17:29] HamedFathi opened #14415 "ReflectionTypeLoadException in MEF 2 (System.Composition 1.0.31)"
I wrote some codes :

**Contract : (ThePlugin.Contract.IPlugin)**

[code]
**Assembly 1 :**
[code]
**Assembly 2 :**

[code]
so I have 2 dlls and a Console application for creating instances with MEF2.

**Console :**

[code]
When I run the project I have an error :

[code]
Can anyone guide me how fix it ?

[Sample.zip](https://github.com/dotnet/corefx/files/643929/Sample.zip)

[2016-12-10 17:44] #14415 closed

[2016-12-10 19:05] shaggygi commented on #14412
@tanaka-takayoshi The following works.  I guess it would be nice to include "0b", but does something similar.

`Convert.ToInt32("1011", 2);`

[2016-12-10 20:38] JonHanna opened #14416 "Add HashSet.CreateSetComparer(comparer)"
# 1. Addition of new Method

[code]
This method will return an `IEqualityComparer<HashSet<T>>` that uses the `IEqualityComparer<T>` passed to it in comparing elements to determine equality of hash-sets.

The comparer returned will consider two sets equal iff for each element in either there is an element in the other that `comparer` considers equal to it.

Optimised paths may only be taken if they

[2016-12-10 22:09] stephentoub opened #14417 "Environment.GetEnvironmentVariables() should give back DictionaryEntry, not KeyValuePair"
A recent change regressed Environment.GetEnvironmentVariables().  Its IEnumerable enumerator is supposed to yield ```DictionaryEntry``` items, but it's now yielding ```KeyValuePair<string,string>```.

cc: @JeremyKuhne

[2016-12-10 22:34] JonHanna commented on #14244
A zeroth draft for discussion purposes:
----
A total order is a binary relation, that has the following properties:

1. If `a <= b && b <= a` then `a == b`
2. If `a <= b && b <= c` then a `<= c`
3. `a <= b || b <= a`

In other words:

1. For any two elements x and y, either we can decide that x should be sorted before y, that y can be sorted before x, or that they are equivalent in sort order.
2.

[2016-12-10 23:21] jkotas commented on #13746
We just hit the same problem for `Span<T>`. `Span<T>` lives in CoreLib, some of its methods are meant to be marked `EditorBrowsable(false)`, and changing the methods to extension methods is not an option - the methods have to be instance methods for other reasons.

[2016-12-10 23:22] jkotas commented on #13746
I think we should move `EditorBrowsableAttribute` down.

[2016-12-11 00:17] stephentoub opened #14419 "Missing LINQ tests that validate correct number of iterations, delegate invocations, etc."
We're missing LINQ tests that validate that the input source enumerables are iterated no more than once, that delegates are invoked the correct number of times, etc.

[2016-12-11 00:27] JonHanna commented on #14419
GMTA. Already on it.

[2016-12-11 00:31] stephentoub commented on #14419
:) thanks!

[2016-12-11 00:51] jamesqo commented on #14398
@AlexGhiondea

Good point, I had not thought about `Insert` and `Replace`.

- We can handle inserts by adding an extra `int` along with every string reference. This will represent the index into another array that contains the offset + count in the string that's relevant.

[code]

Although we are adding an extra `int` field along with every string reference, this should not degrade perf since thos

[2016-12-11 01:13] JonHanna commented on #14419
And I've already got https://github.com/dotnet/corefx/pull/14306/files#diff-9d474ffffa0fc3771430e6ea15377aa2R458 ready to bring into it.

[2016-12-11 02:43] JonHanna commented on #2255
There are certainly changes that have been made that are comparable (#5372, #6061). Having just come across the code with fresh eyes after not looked at it in some time, I was coming here to withdraw my scepticism, though only for the form that aborts on empty `second` rather than the form that continually checks if it can short-circuit (which adds more continual checks).

[2016-12-11 03:36] jamesqo commented on #3093
@karelz Sorry for the delayed response. I think it would be fine to have a non-params overload. On further thought it would allow us to make optimizations the compiler can't, like returning a cached enumerable based on the runtime value of the input.

In regards to naming, I vote for `Create` or `Of`. (I like `Of` better, but I admit that `Create` is more consistent with the naming conventions els

[2016-12-11 04:28] AlexRadch commented on #14170
@karelz Issue can do closed see https://github.com/dotnet/coreclr/pull/8559

[2016-12-11 04:35] jamesqo opened #14423 "[infrastructure] "GetTargetFrameworkProperties" does not exist in the project."
I have been running into the following issue very frequently over the past week or so:

[code]

Typically, I'll have no trouble running `msbuild /t:RebuildAndTest` on a project, but I will get one of these messages after the console runner finishes. ([example][1]) However, sometimes the build will simply fail (the tests won't even run) and 5 or more of these messages will pop up. The example above

[2016-12-11 04:36] jamesqo commented on #14170
@AlexRadch There have to be tests added for the new API and it has to be exposed in corefx.

[2016-12-11 13:34] avertes commented on #14403
Ok. I now see that I should be using AppendText for appending (duh). However it wouldn't hurt to say in the CreateText documentation that if opened file is non-empty, it will be truncated to 0. Then again, maybe I should have assumed that from the functions name.

I guess this issue can be closed if documentation brevity is preferred over completeness.

[2016-12-11 14:09] JonHanna commented on #14403
It might still be a good idea to flesh it out a bit more. That "open for writing" includes truncating is perhaps one of those things that seem more obvious to someone familiar with the idiom than it really is, and hence the documentation seems clearer to some than it will actually read to others.

[2016-12-11 14:27] JonHanna commented on #14419
Okay, with that PR we've got never iterating more than once tested reasonably thoroughly.

Counts of delegate invocations is a bit more complicated in both ease of measuring and differences across different cases. It's also IMO somewhere where an observable change could perhaps be justified (though having tests flag it would still be worth doing; the count increasing should pretty much rule someth

[2016-12-11 16:08] varocarbas opened #14430 "Error when running the CoreFX tests: 'The "GetTargetMachineInfo" task failed unexpectedly'."
After cloning the last CoreFX version (via Visual Studio or git) and running `build.cmd` (by also running `clean.cmd` before or not), I get various errors in the command prompt. Then, I am not able to execute some tests; not sure if all of them, but at least the ones in `System.Linq` and `Common`. Every time, I get the same error:

None of the aforementioned solutions contains a direct reference t

[2016-12-11 16:11] JonHanna commented on #14430
I think you might be suffering from the same thing as is causing #14165.

[2016-12-11 16:15] varocarbas commented on #14430
@JonHanna And what do you suggest? A collective suicide or assassination? LOL.

Thanks. I see lots of things going on there. I will take a calmed look at it at some point.

[2016-12-11 16:34] JonHanna commented on #14430
The good news is that since it seems you're being hurt by a known issue that is being looked into already, hopefully either https://github.com/dotnet/buildtools/pull/1249 or some other fix will be in soon and the problem will be solved.

[2016-12-11 16:43] varocarbas commented on #14430
@JonHanna  Sure, no problem. Actually, I have created this issue mostly to give more visibility to the this error and, eventually, help to fix it. I am not especially concerned about all this as far as I use CoreFX only eventuality (when having an idea for a new issue/PR, what happens at pretty random times).

[2016-12-11 17:41] stephentoub opened #14432 "Seg fault in X509Certificates tests"
We've been seeing a seg fault happen in the X509Certificates tests with some regular frequency of late, e.g.
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release_prtest/1220/consoleText
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/1313/consoleText
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/1311/consoleText

I realize

[2016-12-11 17:57] stephentoub commented on #14430
Thanks. Dup of https://github.com/dotnet/corefx/issues/14165.

[2016-12-11 17:57] #14430 closed

[2016-12-11 19:05] sandersaares commented on #14284
As Linux extensively uses PEM file pairs with the certificate and private key, I second the desire for such a feature. It is downright critical for cross-platform code.

I would hypothesize that the reason you do not see feature requests for this (and other cryptographic features) is that, to date, multiplatform .NET code has been few and far in between. People probably give up on their cryptograp

[2016-12-11 19:14] JonHanna commented on #14059
I think this is tolerable because:

1. The type will always do this. I think it's both more of a problem, and less of a break to change, if the same type (or public type when instances are obtained through a factory) is inconsistent with itself, since any code expecting the current behaviour is already brittle in doing so.

2. If we include arrays in the set of commonly used implementation of `ICo

[2016-12-11 19:50] stephentoub commented on #14387
I've been thinking about how to best implement the enumerator, and all of the safe implementations I've thought of necessitate having a finalizer in case Dispose isn't called.  As such, for now at least I'm removing the struct enumerator from the proposal.  We can explicitly implement ```IEnumerable<KeyValuePair<TKey,TValue>>```, such that if in the future we find a better way to implement this en

[2016-12-11 19:53] #14404 closed

[2016-12-11 19:54] #14399 closed

[2016-12-11 20:07] HamedFathi opened #14433 "How free blocked assemblies in MEF2 (System.Composition 1.0.31) in .NET Core"
I wrote some codes :
[code]
**ClassLibrary1.dll**
[code]
and a Console :
[code]
I want to use FileSystemWatcher for watching any changes in plugin's folder so I should can change/delete/rename/create any dlls.

so When I load assemblies based on above code I can not change/delete any dll in plugin's folder. (blocked assemblies)
![untitled](https://cloud.githubusercontent.com/assets/8418700/2108293

[2016-12-11 20:42] Joe4evr commented on #14433
Most likely not. There's no way to do multiple AppDomains in a single process with .NET Core because that concept exists only on Windows. If you're only going to run this on Windows machines, then target full .NET Framework as you did previously and use AppDomains to your heart's content.

[2016-12-11 21:12] HamedFathi commented on #14433
@Joe4evr , of course I try a way with loading dlls as stream (byte[]) so it works when the dll have not any dependencies but this way have 2 problems
1. Dependencies
2. Stream size and load all into memory

but this way help working with dlls without problem because no one was blocked !
[code]

[2016-12-11 21:15] Daniel-Svensson commented on #11030
@mellinoe what would be acceptable performance for code such as this?
I have compared 3 different implementations of which 2 makes sense and could be used to make a small prototype with some of the basic functions.

My first usage scenario was as a complement to Vector<T> in order to process the last few elements or to "add the finishing" to algorithms, but then it would be very beneficiary to be

[2016-12-11 23:27] darbio commented on #14356
Thanks @bartonjs - dotnet works on AWS linux.

AWS announced last week at re:invent that they officially support C# on lambda:
https://aws.amazon.com/blogs/compute/announcing-c-sharp-support-for-aws-lambda/

For context, I've asked the question at:
https://forums.aws.amazon.com/thread.jspa?messageID=755578&#755578

[2016-12-11 23:43] JonHanna commented on #14432
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/1333/

[2016-12-12 00:52] stephentoub commented on #14432
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/1338/

[2016-12-12 01:38] dotnet-mc-bot opened #14437 "Test failure: System.Net.Http.Functional.Tests.PostScenarioTest/PostLongerContentLengths_UsesChunkedSemantics(contentLength: 64512)"
Opened on behalf of @jiangzeng

The test `System.Net.Http.Functional.Tests.PostScenarioTest/PostLongerContentLengths_UsesChunkedSemantics(contentLength: 64512)` has failed.

Assert.Equal() Failure
    Expected: Byte[] [233, 69, 26, 4, 195, ...]
    Actual:   Byte[] [35, 127, 1, 68, 167, ...]

        Stack Trace:

           at System.Net.Http.Functional.Tests.TestHelper.VerifyResponseBody(String

[2016-12-12 03:17] stephentoub commented on #14437
@jiangzeng, does the build you were using include https://github.com/dotnet/corefx/pull/14434?

[2016-12-12 03:38] JonHanna opened #14439 "Lack of validation in CopyTo impls in Expressions"
The collections returned by several methods within Linq.Expressions (`Expressions` property on blocks, `Parameters` property on lambdas, `Argument` properties of invocations. method calls and dynamic expressions) fail to correctly validate `CopyTo` arguments.

At best this leads to the wrong exception being thrown. At worse if the destination array is too large for the copy the copy will be partia

[2016-12-12 06:28] jiangzeng commented on #14437
@stephentoub I think the build does not include #14434, as it's a build of yesterday. If you fixed the issue in #14434, please close this ticket.

[2016-12-12 06:41] salmankhann opened #14442 "Resolve ~ in non-windows systems in Path.GetFullPath()"
Essentially, this is the problem I'm facing

Path.GetFullPath("~/Documents/Temp");

It searches for the the path "~/Documents/Temp" relative to my project folder; but I actually need is the ~/Documents/Temp from the root not from the project path.

This is because I don't want to store all uploaded files in a folder underneath my project folder but in another folder ("possible in another drive or

[2016-12-12 07:26] AlexRadch commented on #10528
@karelz I am working on this issue

[2016-12-12 08:21] Dmitry-Me commented on #7343
@Priya91 Obviously such `TryKill()` is not of much use. It should be `KillIfStillRunning()` which can return `void` and just kills the process no matter if it exited or not and throws an exception if it cannot kill the process. It may also return `bool` to indicate whether the process has exited itself but I don't see much use in that.

[2016-12-12 08:31] jiangzeng commented on #14148
System.Xml.Tests.CNDP1_1SP1Test/var1 & System.Xml.Tests.CNDP1_1SP1Test/var2 are not happening.

Issue still happening in build 20161211.02 for test: System.Xml.Tests.CNDP1_1SP1Test/var4
[code]

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161211.02/workItem/System.Xml.Xsl.XslCompiledTransformApi.Tests/analysis/xun

[2016-12-12 09:06] AlexRadch commented on #10528
@karelz I have 3 issues with this API

1. I suggest to replace `public void CopyTo(ArraySegment<T> destination)` on `public void CopyTo(Span<T> destination)`

`public void CopyTo(Span<T> destination)` can be called with Span, Array and ArraySegment parameter. Because Array and ArraySegment have implicit conversation to Span.

`public void CopyTo(ArraySegment<T> destination)` can be called with Arr

[2016-12-12 10:12] AlexRadch commented on #10528
Span have `public bool IsEmpty{ get; }` property. Should we add such property too?

[2016-12-12 10:35] JonHanna commented on #12560
PTAL at #14416

[2016-12-12 10:43] AlexRadch commented on #10528
I creates PR https://github.com/dotnet/coreclr/pull/8593 with changes that I suggested above.

[2016-12-12 11:28] michael-x commented on #14050
@krwq no, I don't get any build errors on machine A.

I've noticed that System.Text.Encoding.CodePages.dll seems to be portable and that there is a folder

  C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETPortable

on machine A, but not on machine B. Could that be related? (I've tried installing "Microsoft .NET Portable Library Reference Assemblies 4.6" on machine B, but that

[2016-12-12 12:10] stephentoub commented on #14442
```~``` is a character recognized to have special meaning by some shells, such that the shell expands ~ to mean the current user's home directory, but it's a valid file name character like any other as far as the file system is concerned, and ```Path``` doesn't confer to it any special meaning (as is the case with other language's utilities, like C, Go, etc.).  Note that even in a shell such as ba

[2016-12-12 12:18] varocarbas opened #14443 "Faster iterator-unfriendly System.Linq methods"
Thanks to [a recent PR](https://github.com/dotnet/corefx/pull/14418),  I knew about a curious bipartition in the performance of the iterator-optimised (i.e., relying on `yield` or `Yield`) methods: what performs well in an iterating scenario (e.g., `foreach(var item in YieldMethod()){ }`) might perform bad in a returning one (e.g., `var outputCollection = YieldMethod();`) and vice versa.

In that

[2016-12-12 13:17] stephentoub commented on #14437
Ok. I believe it's addressed. Please re-open if you find otherwise.

[2016-12-12 13:17] #14437 closed

[2016-12-12 13:23] JonHanna commented on #14443
In the PR that mentioned this before, it seemed that this was in fact notably slower if one tries to actually obtain the values produced, even in the case of small collection-type inputs. Have you something to suggest otherwise?

More generally, `Enumerable` already has many cases where it take a different approach because the type of the source allows a more performant approach.

[2016-12-12 13:23] stephentoub commented on #14443
The "returning" case really isn't important to optimize for.  The only reason you call these methods is in order to iterate through and get the results: just calling the method to get the enumerable but not using it has no value.  Further, the costs involved in getting the enumerable are completely outweighed by the costs of iterating, so even if a change improves the time it takes to get the enum

[2016-12-12 13:26] varocarbas commented on #14443
@JonHanna  I thought that this point was clear. No. Getting the collection was always much quicker. The scenario you proposed of testing inside a `foreach()` was the much slower one (not always; but in some cases). Take a look at the last version of my testing code there to confirm this point.

[2016-12-12 13:36] JonHanna commented on #14443
Getting the collection is only worth doing if one is going to use it in some way. The time of doing both must be improved.

Indeed, many optimisations that were made to `Enumerable` made getting the results slower (probably the majority of the significant changes), because a slight extra cost there was paid back my a significant improvement in iteration time in at least some cases.

[2016-12-12 13:36] varocarbas commented on #14443
@stephentoub

I fully disagree with you in this point (but well; this is the reason why I didn't spend too much on this proposal, because I don't know your exact position). For example, some times I do `foreach(var item in collection.Intersect(collection2)){}` but in many other cases I just need `var ouput = collection.Intersect(collection2)`. Same thing for other methods.

Certainly not true. You

[2016-12-12 13:38] stephentoub commented on #14443
The moment you call res.First(), you're iterating through the result of the intersection.

[2016-12-12 13:39] varocarbas commented on #14443
@JonHanna

I wasn't aware about this fact until yesterday and this is the whole point of my proposal: accounting for such an improvable reality. You have the default methods delivering the best performance for both scenarios already, why not having another set performing much better for the returning one?

[2016-12-12 13:40] JonHanna commented on #14443
Which ultimately will result in iteration.

Iterates through (there are a few exceptions were we manage to skip that entirely, but the proposed change to `Intersect` isn't one of them.

Likewise.

[2016-12-12 13:41] varocarbas commented on #14443
@stephentoub Logically, it was a random example expected to be properly understood. In any case, with `First()` you are calling a different method, not iterating through the results of the first one.

[2016-12-12 13:42] JonHanna commented on #14443
`First()` **does** iterate through the results of the enumerable it is called on. (There are a few exceptions where it can do something else, but the change to `Intersect` here doesn't offer that).

[2016-12-12 13:43] stephentoub commented on #14443
You are iterating through it, you're just not doing it directly: First() is doing it.  But you're still incurring the costs of iteration, not just the "returning" cost.

Please provide a real-world example then where you call Intersect, where the cost of that call is impactful, and where you never directly or indirectly call MoveNext on the resulting enumerable.

[2016-12-12 13:46] varocarbas commented on #14443
@JonHanna @JonHanna Sorry about the bad example. ToList() is basically the same than the foreach(){} scenario, but anything else isn't. For example, add to my PR testing code `.First() ` to the generated results and confirm that the performance of the new alternative is notably better. In fact, I am observing increasing better results when coupling various Linq calls one after the other.

[2016-12-12 13:47] varocarbas commented on #14443
@JonHanna @stephentoub  Sorry about the bad example. ToList() is basically the same than the foreach(){} scenario, but anything else isn't. For example, add to my PR testing code `.First() ` to the generated results and confirm that the performance of the new alternative is notably better. In fact, I am observing increasing better results when coupling various Linq calls one after the other.

[2016-12-12 13:50] varocarbas commented on #14443
@stephentoub

But in a different way than `foreach(){}` right away. `First()` is analysing the collection, so it had been fully created and the `foreach{}` step by step advantage has already disappeared.

OK. I see that we weren't exactly on the same page. I will do some more tests to account for further scenarios and further-validate my proposal. Will be back in a while (lunch time).

[2016-12-12 13:56] JonHanna commented on #14443
`First()`'s main path (once certain possible fast paths have been ruled out) is essentially `foreach(var item in source) return item;`

[2016-12-12 14:01] cortex93 opened #14445 "System.Net.Http 4.3.0 oob conflicts with framework assembly with target net462"
Hi,

These are the steps to reproduce the issue :
- Create a classic desktop library project in 462
- Add a nuget package "Microsoft.AspNetCore.Authentication" version "1.1.0"
=> This package targets both .NETFramework4.5.1 and .NETStandard1.3 with a dependency on NETStandard.Library 1.6.1 and has a framework assembly dependency on System.Net.Http for 4.5.1
[code]
=> NETStandard.Library 1.6.1 has

[2016-12-12 14:05] varocarbas commented on #14443
@JonHanna But going through a `foreach` isn't the problem. The problem is the peculiarities (difficult to be understood/controlled other than via testing) associated with iterating right away through the collection generated via `yield`, analysing it step by step rather than as a whole. `First` takes a whole input.

As said, please, let me do some more tests addressing all your concerns (after hav

[2016-12-12 14:11] JonHanna commented on #14443
Yes, `First()` has such analysis. It's able to find faster paths for `IList<T>`, the results of `Range()`, `Repeat()`, `OrderBy()` and some examples of `Select()`. I don't see how that is applicable here.

[2016-12-12 15:42] karelz commented on #14148
@jiangzeng this bug was marked 'Fixed'. It would be best to file a new one and just link the old one in case there is useful information.
cc: @danmosemsft for opinion ...

[2016-12-12 15:57] karelz commented on #14403
Do you have suggested wording change in the docs?

cc: @mairaw

[2016-12-12 15:59] varocarbas commented on #14443
I have used the testing code in the aforementioned PR, removed the iterating alternative (`TestIterator`) and modified `TestReturnedCollection` as follows:

[code]

And I have tested all of the `System.Linq` methods by replacing `var test2 = test.First();` accordingly. Most of these methods didn't have an appreciable effect on the performance differences `Intersect`/`Intersect2` (i.e., the new met

[2016-12-12 16:00] karelz commented on #14410
No plans at this moment. Do you have a proposal?
Is the Rolsyn change done deal? Which version will it be implemented in?

[2016-12-12 16:16] InariTheFox commented on #2394
Seeing that Workflows can be created through code, would the use of a Fluent API similar to EF Core be a valid option in bringing WF Core to life? Then the serialization/deserialization for runtime could be constructed afterwards and be much easier to implement?

[2016-12-12 16:18] Mike-EEE commented on #2394
FluentAPIs... so hot right now.  Or at least, since they were incepted. 😄

[2016-12-12 16:28] InariTheFox commented on #2394
FluentAPIs, Builder Pattern, they're both the same essentially. Providing a code based way that's chainable and easy to use I believe should be a solid principle behind this.

[2016-12-12 16:29] avertes commented on #14403
I might not be the best person to suggest as I don't know the idioms, but think adding "empty" would make it very clear. "Creates or opens a file" => "Creates or opens an empty file"

[2016-12-12 16:41] karelz commented on #14369
Thinking about it more, this will have non-trivial impact on our packaging -- the type will be in Private.CorLib on .NET Core, yet it will be part of ImmutableCollection package on Desktop.
What is the value of this work?

At minimum it requires very good end-to-end proposal and thinking of the impact on ImmutableCollection NuGet package, our testing matrix and ability to ship that package (esp. o

[2016-12-12 16:50] karelz commented on #14416
The Obsolete attribute text will need better explanation IMO - ideally with link to docs that explain the problem (incl. examples).
@JonHanna can you please provide an example where today's method is wrong as 'Motivation'?

Nit: Why do you use {} instead of <> in the Obsolete attribute text?

[2016-12-12 16:52] weshaggard commented on #13746
As I mentioned I'm fine with moving it down but we need to make sure we give it the proper funding for desktop or live with the fact that these APIs aren't hidden on desktop.

[2016-12-12 16:53] karelz commented on #14445
@ericstj can you please advise here on packaging?

[2016-12-12 16:57] vancem commented on #14398
First, as a general point, I think it is very interesting to try to optimize StringBuilder.    In particular I think a more important optimization to have a 'StringBuilder.Write(Stream, Encoding) that allows you to write a StringBuilder to a stream without ever generating the intermediate string.   Then I would use that to enlighten TextWriter to use it for its Write() methods (both normal and for

[2016-12-12 17:00] jamesqo commented on #14046
@karelz, Sorry. Is there any reason accepting the contributor invitation to `dotnet` requires you to have 2-factor authentication enabled for GitHub? I have to take out my phone and enter a code every time I log in from a new computer, and I hop between a lot of different computers.

[2016-12-12 17:05] karelz commented on #14046
@jamesqo without being contributor, GitHub won't let us assign work items to you unless you created them :(

[2016-12-12 17:09] karelz commented on #13746
These APIs won't be available on Desktop until we port them to Desktop. We can move the attribute down to mscorlib as part of that work. Or did I miss any angle?

[2016-12-12 17:12] weshaggard commented on #13746
Yes we can do it as part of that work, however as I mentioned earlier there is risk to desktop with moving it down. We hit all sorts of issues when we moved ExtensionAttribute down.

[2016-12-12 17:14] karelz commented on #10528
@AlexRadch re you [1] -- you should wait on closure in the discussion first: https://github.com/dotnet/corefx/issues/10528#issuecomment-265810190

@KrzysztofCwalina can you please comment?

[2016-12-12 17:26] ericstj commented on #14445
This is a CLI bug.  Please open in the dotnet/cli repo.  I believe it is the same as https://github.com/dotnet/cli/issues/4896 so reuse that one if it looks the same.  /cc @piotrpMSFT

[2016-12-12 17:26] #14445 closed

[2016-12-12 17:28] JonHanna commented on #14416
Oh, I was thinking of the XML doc syntax, though what is the best form to use there, considering that `<>` isn't universal across .NET languages?

As a motivating example, consider:

[code]

When `(x == y) != (y == x)` bad things happen.

But at the same time:

[code]

If a user is comparing sets which all use the same comparer, then the current method works perfectly well as a means of doing so (

[2016-12-12 17:29] jamesqo commented on #14046
@karelz I understand that. However, is there any reason that to be a contributor you have to enable [2-factor authentication](https://github.com/blog/1614-two-factor-authentication) for GitHub?

![capture](https://cloud.githubusercontent.com/assets/9159214/21109310/7c77d19e-c066-11e6-88ef-183d3f366d47.PNG)

[2016-12-12 17:33] JonHanna commented on #14403
I think just adding:

After the current sentence "Creates or opens a file for writing UTF-8 encoded text." would make things clear to those who don't expect "opens for writing" to mean truncating, without being overly verbose either.

[2016-12-12 17:41] karelz commented on #14046
It's general dotnet org policy (all MS orgs / repos have the same policy). I think overall 2FA is useful -- people who switch computers often are IMO more an exception these days. (the only scenario I can imagine is students ...)

Each computer switch requires you to clone your repo locally - that takes time. Is the 2FA really that much time-consuming compared to cloning? I would guess it is just

[2016-12-12 17:41] ianhays commented on #5964
Linux is up and running, but we've got a problem with MacOS.

On OSX, attempting to lock a file region via fcntl does not work when the process already holds a lock on the file regardless of whether it is shared or exclusive. Since we always take a lock when creating a FileStream - the type of which depends on the FileShare parameter passed to the constructor - we cannot ever fcntl a file open by

[2016-12-12 17:50] karelz commented on #13746
If moving the attribute on Desktop is risky/problematic (and I can imagine that), then we can consider: Not porting the APIs, or leaving them visible in IntelliSense, or adding extension methods on Desktop.
Neither solution seems ideal, but I think they are better than the alternative of giving up the innovation also on .NET Core and other platforms.

[2016-12-12 17:52] joperezr commented on #14349
are you going to send out a PR for it? or do you want @karajas and me to work on top of your changes so that we have just one big PR for all test projects?

[2016-12-12 17:53] sepidehMS commented on #14093
This option has been added to BuildTools for Non-Windows runs now. To use, pass `/p:EnableDumpling=true` to msbuild.

[2016-12-12 17:54] sepidehMS commented on #13351
Dumpling has been added to BuildTools for Ubuntu now. To use, you should pass `/p:EnableDumpling=true` to msbuild.

[2016-12-12 17:54] #13351 closed

[2016-12-12 18:02] karelz opened #14447 "Move EditorBrowsableAttribute to Private.CorLib"
We have multiple cases where we need to hide methods in Private.CorLib from IntelliSense:
- `Deconstruct` method on `KeyValuePair<TKey,TValue>` and `DictionaryEntry` - #13746
  - We can work around by shipping the method as Extension method
- `Span<T>` methods `Equals` and `GetHashCode` - https://github.com/dotnet/coreclr/pull/8583#issuecomment-266245506
  - No workaround

There is a risk that we

[2016-12-12 18:03] karelz commented on #13746
We should discuss the plan in API review (tomorrow) - I filed #14447.
Until then, this issue is blocked.

[2016-12-12 18:07] weshaggard commented on #13746
I wouldn't consider this issue blocked I would move forward with this issue and leave off those attributes for now. For this case we can also simply put those attributes only in the reference assembly which is the only place they are truly needed.

[2016-12-12 18:08] KrzysztofCwalina commented on #10528
When I said layering, I meant: Span<T> is in System.Memory.dll, which a) is not in DotNetStandard and is not in System.Runtime.dll. ArraySegement is both in NS and S.R.dll. I think we could make it work (by adding Span<T> to these lower level libraries, but it's complicated and I think this cleanup/PR should not block on the much larger effort (to bring Span lower).

[2016-12-12 18:09] karelz commented on #13746
Fair, I updated the proposal to reflect the API changes (add them without the attribute).

[2016-12-12 18:11] weshaggard commented on #14447
These attributes are only needed in the reference assemblies and for .NET Core those are independently authored so we could just put them in the ref because EditerBrowsable lives in System.Runtime which is the lowest level ref. For desktop however they are not independently created so it would still need to be moved to mscorlib if we wanted to even use them for types in mscorlib's reference assemb

[2016-12-12 18:11] mellinoe commented on #14349
You guys are going to need some of the changes in that branch, so I will put out a PR soon.

[2016-12-12 18:15] ianhays commented on #11715
You could use [FEATURE_ZLIB](https://github.com/dotnet/corefx/blob/master/src/System.IO.Compression/src/System.IO.Compression.csproj#L15) or add your own to be more specific. If the code ends up being especially complex then I would suggest splitting the file, make the class partial, and conditionally including based on architecture e.g. `ZipArchive.net46` and `ZipArchive.Windows`.

[2016-12-12 18:16] karelz commented on #10528
Thanks @KrzysztofCwalina! That makes sense.

@AlexRadch your questions [1] and [2] are now answered -- we won't use `Span<T>`, we will go with the original proposal.
Regarding your [3], we should also stick to the original proposal. The original method makes perfect sense IMO -- you copy into array starting at index with specific count. The `List.CopyTo` overload tries to emulate segment of List I

[2016-12-12 18:17] karelz commented on #13351
@sepidehMS great! Thank you! How can people use it and find associated dumps for a failure? What is the retention policy?

[2016-12-12 18:24] remcoros commented on #14403
On msdn there's a good description in the Remarks section of CreateText:

https://msdn.microsoft.com/en-us/library/system.io.file.createtext(v=vs.110).aspx

This method is equivalent to the StreamWriter(String, Boolean) constructor overload with the append parameter set to false. If the file specified by path does not exist, it is created. If the file does exist, its contents are overwritten. Addi

[2016-12-12 18:24] jkotas commented on #14447
IMHO, there is not much to review from API addition point of view. Whether a type lives in CoreLib or System.Runtime is internal implementation detail in .NET Core...

[2016-12-12 18:29] karelz commented on #14447
@jkotas I'd like to discuss the impact on Desktop and our options ... I agree it is not quite API review :)

[2016-12-12 18:35] sepidehMS commented on #13351
@karelz As Dumpling requires Python, this option is not ON by default, to use it you should pass in /p:EnableDumpling=true when running any test project, or doing a full build. We assume the dump file will be located in the current execution directory and after locating it, Dumpling will upload the file to https://dumpling.azurewebsites.net/, currently labelling it with the name of the test projec

[2016-12-12 18:40] karelz commented on #4582
Next step: We need to take messages out from code (we need a list) and move them to resx file.
Should be straightforward.

[2016-12-12 18:43] karelz commented on #4596
We need API proposal (maybe Stream is not the right place, maybe it is).

cc: @JeremyKuhne @ianhays

[2016-12-12 18:46] karelz commented on #4611
Sorry for the XXXL delay in our answer. Could you please explain to us in more details what exactly you mean? Real-world example would be best.

[2016-12-12 18:50] karelz commented on #11083
Looks like a bug -- we intended for this to work correctly.

Next step: Get it under debugger, find out where it doesn't do the work and fix it.

[2016-12-12 18:50] huanwu commented on #12731
The test was already there #12909, #13445

[2016-12-12 18:55] karelz commented on #11532
This should be fixed in .NET Core 1.2 (as part of .NET Standard 2.0 effort - bringing parity of Framework to .NET Core).

[2016-12-12 18:55] #11532 closed

[2016-12-12 18:59] karelz commented on #11846
Seems to be resolved -- the problem was not specific to Resources, but rather ASP.NET Core usage.

[2016-12-12 18:59] #11846 closed

[2016-12-12 19:07] freerider7777 commented on #2394
Without a designer it's all useless. Of course we can code everything ourselves - all the logic, all the chains and so on (with fluent or without it). But what is cool in WF - you can visually see the flow of processing. It's the link between managers (and other 'stakeholders') and developers! Managers don't undestand the code, but these high level diagrams are understandable by all. With WF you d

[2016-12-12 19:07] AlexRadch commented on #10528
@karelz ok about [1] and [2]
[3]  segment have `offset` and `count` so if we remove index from `List.CopyTo( int index, T[] array, int arrayIndex, int count)` then why we do not remove count also.

But if we will remove `offset` and `count` than we already have such method `public void CopyTo(T[] destination, int destinationIndex);` I do not understand half removing.

I suggest do not add `public

[2016-12-12 19:19] mellinoe commented on #14433
I have a system to solve something similar (ish) in a project of mine. When I load "plugin assemblies", I copy the file to a separate (read-only) directory and load it from there. Essentially (although a bit simplified):

[code]

It sounds like you also want to support renaming, deleting, and reloading assemblies, which is probably going to be quite a bit trickier. I support reloading plugins, but

[2016-12-12 19:23] Priya91 commented on #7343
@Dmitry-Me I misunderstood the proposal, can you update the issue comment with an api speclet, u can use the example from [here](https://github.com/dotnet/corefx/issues/271). The speclet has to clearly define the purpose of the API through usage scenarios, and the behavior. Once we have the proposal we can push this through API review.

[2016-12-12 19:29] karelz commented on #12625
Next step: Should be simple to remove the code and throw the same way as on Desktop.
See hint in: https://github.com/dotnet/corefx/issues/12625#issuecomment-257447037

We still may need to introduce compat switch to support behavior of .NET Core 1.0 and 1.1.

[2016-12-12 19:30] AlexRadch commented on #13746
@karelz Thanks, I updated PR https://github.com/dotnet/coreclr/pull/8560

[2016-12-12 19:33] #12731 closed

[2016-12-12 19:55] danmosemsft commented on #13351
We do need to find a way to make it run automatically in CI/test build ... That was the motivation for the work, when i run locally I can just register a jit debugger.

[2016-12-12 19:59] danmosemsft commented on #14148
We should reopen an issue if (a) it was closed no more than a week ago and (b) the symptoms (stack, message) are the same.

In this case the message seems different so should have a new issue I think.

[2016-12-12 20:13] orosandrei commented on #2394
@freerider7777 WF definition serializing is not limited to xaml (see https://github.com/dmetzgar/corewf from @dmetzgar ). It could be implemented for JSON too.. and this would open up the possibility to integrate/fork existing projects like NodeRed http://nodered.org/ , which in many ways resembles the WF Designer features and UX (+ it would also run in a web browser, opening up new use cases for

[2016-12-12 20:47] CIPop commented on #3444
We have discussed this internally and together with the Windows Crypto team decided that the code is doing the right thing as-is.
I'll remove the code comment and submit a PR that will close this issue.

[2016-12-12 20:55] huanwu commented on #10575
It was covered by #13445

[2016-12-12 20:55] #10575 closed

[2016-12-12 20:56] CIPop commented on #3674
cc: @mariaw , @karelz

[2016-12-12 21:00] CIPop commented on #3718
@karelz I'm marking this for netstandard2.0 consideration and final decision.
The behavior is supported in Windows but not on non-Windows implementations.

[2016-12-12 21:12] dmetzgar commented on #2394
I think it's best to port WF to the .NET Standard and not just .NET Core. The WF runtime linked earlier already works on .NET Standard 1.3 (we can go lower if we drop the WriteLine activity). With the 2.0 standard coming out soon, we'll have the ability to fill in a lot of feature gaps like automatic cachemetadata, DynamicActivity, and transaction scopes. We should separate components into differe

[2016-12-12 21:22] #14148 closed

[2016-12-12 21:44] CIPop commented on #3729
I haven't seen any issues in the tests that I ran. I'll tentatively close this. We can reopen if necessary.

[2016-12-12 21:44] #3729 closed

[2016-12-12 21:46] sepidehMS commented on #13351
@danmosemsft That's true, but as you know we cannot include this in CI builds because of the Python dependency. I'm going to check the next Helix test runs to see if it automatically turns this ON there. Are you emphasizing that we need to do https://github.com/dotnet/core-eng/issues/249? At this point, I'm not sure if it makes sense to repeat the same effort for enabling Dumpling on Windows, cons