[2017-07-01 14:57] CXuesong opened #21790 "Feature Request: leaveOpen in System.Net.Http.StreamContent"
Hi, recently I'm using `StreamContent` with `HttpClient` to perform some file uploading operations. When I tried to implement the retry logic, I found out that

* The passed-in `HttpContent` contained in `HttpRequestMessage` got disposed in `HttpClient.SendAsync`.
* The underlying `Stream` in `StreamContent` [got disposed](https://github.com/dotnet/corefx/blob/6bf1e7c3032d3c24d5a41bbd880549ef4a8de

[2017-07-01 14:59] davidsh commented on #21790
This was already fixed in PR #19082.  We changed the behavior in .NET Core 2.0 to allow scenarios such as yours.

cc: @stephentoub

[2017-07-01 15:02] Drawaes commented on #21761
@nopara73 I just ran the qbit.nija using openssl's client with
openssl s_client -connect api.qbit.ninja:443 -debug -msg

I get the following chain
[code]

Then the following problem with the issuer
Verification error: unable to get local issuer certificate

Now it could be because my openssl is a bit stuffed because I have been hacking about today, but it might be that the default Root CA's are mi

[2017-07-01 15:38] #19044 closed

[2017-07-01 16:02] CXuesong commented on #21790
Thank you! If I got this right, the .NET Core 2.0 implementation of the `HttpClient` won't dispose the passed-in `HttpContent` after the request, which is great, and this do-not-dispose behavior currently only exists on .NET Core 2.0, so I can't rely on it, for now.

Still, I have a series of questions on what I should do, were I to make use of this new behavior (in the future)
* Do I have to upgr

[2017-07-01 16:49] davidsh commented on #21790
Yes.  You will need the .NET Core 2.0 version of this binary that has these changes. By the way, the packaging layouts have changed and there is no longer a separate System.Net.Http NuGet package. Instead, there is a combined Netstandard.library package with many binaries in it.  You'll need the "2.0" version of that.

See above. There is no separate System.Net.Http NuGet package anymore starting

[2017-07-01 16:52] davidsh commented on #21612
Since you are no observing the bug anymore with the .NET Core 2.0 pre-release binaries, it is possible that your issue was related to #19082 change where we no longer dispose the request body content after doing a PostAsync or SendAsync.  However, that change only affected scenarios where the same HttpContent object was being re-used. In your repro above, you are creating new content objects with

[2017-07-01 17:07] karelz commented on #21788
What is your exact VS version? Which .NET Core version do you use?
Does it happen to you on more than 1 machine? (This is very basic scenario which should just work everywhere - you might want to check if your machine is not corrupted)

[2017-07-01 17:16] jnm2 commented on #21788
Isn't this expected behavior all the way back to C# 1.0 on .NET Framework 1.0? You have to write `System.Console` because `Console` is in the class's namespace, or you have to use and alias like `using Console = System.Console;` or something.

[2017-07-01 17:17] jnm2 commented on #21788
I think that's also why the Xamarin templates cal lthe project `YourName.Droid`, not `YourName.Android`, because that would make it a pain to access anything in the `Xamarin.Adnroid` namespace.

[2017-07-01 17:18] jnm2 commented on #21788
(Guess how I found out.)

[2017-07-01 17:23] karelz commented on #21788
Oh, I didn't notice the name collision of namespaces (I guess too early in the morning).
You are right. This is by design.

[2017-07-01 17:23] #21788 closed

[2017-07-01 17:58] patelchiraggit commented on #21788
The namespace under which the Console.WriteLine is defined is not Core.Console, instead its Core.Console.CS1

Basically by design I am restricted to not to ReUse any variable or function name from Core or Core.Console , even if I am not referencing it directly.

When I use name space Core.Console.CS1, shouldn't it only check for naming duplication at Core.Console.CS1?

[2017-07-01 18:05] scionwest commented on #21530
Any updates on this @saurabh500? This would have a substantial cost affect for us when we deploy. We will have to pay for a much larger SQL server instance than necessary because of the gap in core. Either that or port our entire stack back to full framework which isn't cost effective either.

[2017-07-01 18:18] jnm2 commented on #21788
@patelchiraggit If you're inside the namespace `Core.Console.CS1`, it's sort of the same as if you had written:

[code]

[2017-07-01 18:19] jnm2 commented on #21788
Others who are more familiar with the rules like @svick and @halofour can feel free to explain this better. =)

[2017-07-01 18:37] patelchiraggit commented on #21788
Got it. Thanks.

[2017-07-01 18:45] troncomputers opened #21791 "Android Chrome Cryptographic Exception"
Hi!
I'm wondering if this is normal behavior. Sometimes we are getting Cryptographic Exception on Android Chrome. Never happend on desktop. I'm new to ASP, specialy Core.
Project is made with ASP .NET Core WebPages (Razor with seperate model class) with EntityFramework.
I'm not sure if you be able to test/check/try but here it is:
http://kasiarz.optimo365.pl

![screenshot_20170701-202439](https://

[2017-07-01 22:52] Qowy opened #21793 "HttpClient.GetAsync() causes uncatchable CryptographicException on Linux in OpenSslX509ChainProcessor.MapVerifyErrorToChainStatus"
System: Ubuntu 16.04 and Ubuntu 16.10
Dotnet release: dotnet-dev-1.0.4

apt list --installed | grep dotnet output:
[code]

apt list --installed | grep openssl output:
[code]

Repro Code:
[code]

Result Windows:
`Catched`

Result Linux:
[code]

[2017-07-01 22:57] davidsh commented on #21793
The TLS/SSLS certificate is invalid.

See: https://www.ssllabs.com/ssltest/analyze.html?d=obr03.ru

![image](https://user-images.githubusercontent.com/7684835/27765980-0cfc238e-5e76-11e7-8451-5a8a68b16116.png)

But, regardless, HttpClient is supposed to only throw an HttpRequestException at the top-level. The CryptographicException should be an inner exception.

So, the bug here is not that an exc

[2017-07-01 23:00] Qowy commented on #21793
Yes I realize this website is malformed but working on something similar to a crawler I cannot choose the websites I work with.

However isn't the even bigger issue that this terminates the execution of the program (see "Aborted (core dumped)" despite the try catch block.

[2017-07-01 23:01] davidsh commented on #21793
Yes, that is part of the bug that will be investigated.

[2017-07-01 23:02] Qowy commented on #21793
Ok thank you for looking into this, any quick and dirty workarounds that come to mind? :D (For now I simply blacklisted this domain, but there may be others)

[2017-07-01 23:06] davidsh commented on #21793
You can try changing this:

[code]

to this:

[code]

This will result in ignoring all TLS/SSL certificate errors.

[2017-07-01 23:09] davidsh commented on #21793
Additionally, this particular website (after ignoring the name mismatch on the TLS/SSL certificate has other problems.  It used a nonstandard cipher suite:

![image](https://user-images.githubusercontent.com/7684835/27766027-a18c3308-5e77-11e7-9ef8-5f59ec1245aa.png)

[2017-07-01 23:12] Qowy commented on #21793
Yes like I said there are a lot of strangely configured websites out there but that should not crash my code especially with proper exception handling :)
Your suggested workaround sadly seems to be netstandard 2.0 and this project is still on 1.6

Let's hope that this website configuration is rare enough to not cause too much further problems.

[2017-07-01 23:17] davidsh commented on #21793
The `DangerousAcceptAnyServerCertificateValidator` is part of netstandard 2.0.

However, you can define it yourself like this:

[code]

The `ServerCertificateCustomValidationCallback` property should be part of HttpClientHandler in netstandard 1.6.

[2017-07-01 23:20] Qowy commented on #21793
Ok sadly (or interestingly) this changes nothing.

[code]

This still leads to a Catched exception on Windows and the error on Linux

[2017-07-01 23:23] davidsh commented on #21793
Thank you for the extra repro instructions.

I will say that on Windows, there are still some TLS/SSL handshakes errors that can not be overriden despite the "ignore TLS/SSL certificate errors".  Low-level problems such as "unknown cipher suites" as is happening with website cannot be ignored.  At least on Windows, the exception is bubbling up and it is able to be caught in the "catch(Exception ex

[2017-07-01 23:32] Qowy commented on #21793
Ok, again thank you for your time and happy bug hunting.

Yes it seems to be pretty rare ( so far I had this error once out of about 1m domains), who knows this website may even be intentionally malicious.

Nevertheless this is potentially a serious error. Just think about an asp.net core website with image cross loading or functionality where a user provided url is even just requested once (to ch

[2017-07-01 23:45] Qowy commented on #21793
Ok just to check what I feared this actually crashes the whole kestrel process if used in an ASP.NET core project. Unless I am missing something this could be quite the DoS attack if such a project requests anything from a user supplied URL.

[2017-07-02 01:50] stephentoub commented on #21793
Have you tried .NET Core 1.1 or 2.0? I'm not at my machine to try, but looking at the code, there's a catch block that should be eating this, so I suspect some kind of exception handling issue in 1.0.
cc: @janvorli

[2017-07-02 01:55] Qowy commented on #21793
As you can see by the installed packages this with .NET Core 1.1.2

And yes the catch block not doing anything is exactly the issue.
Looking at the Exeption message the stack trace starts with
`System.Net.Http.CurlHandler.MultiAgent.WorkerBodyLoop()`

Which is maybe started by the dotnet cli? This error does not bubble up through my code at all and instead kills the whole dotnet process (as I test

[2017-07-02 02:18] karelz commented on #21791
Android Chrome should not be related to the failure as it happens on the server, right?

Please post callstacks as text (in triple tick in markdown). Pictures are very suboptimal and can't be really searched.

The issues seems to originate in `Microsoft.AspNetCore.DataProtection.KeyManagement` -- I would recommend to file the issue on asp/Home repo (or nearby) (with textual callstack please!).

[2017-07-02 02:18] #21791 closed

[2017-07-02 02:45] stephentoub commented on #21793
I was referring to this catch block:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Unix/CurlHandler.MultiAgent.cs#L316
which should be catching any exception that emerges from WorkerBodyLoop.

[2017-07-02 03:05] stephentoub commented on #21793
The stack trace is odd. I think what's happening is an exception is crossing from managed to native code, which isn't supported, and that's wreaking havoc. There should be a catch block in the verify callback that eats the error and returns failure in a supported manner.

[2017-07-02 04:19] CXuesong commented on #21790
Oh, now I see. Thank you for your explanation.

Btw, there's another problem with `System.Net.Http.FormUrlEncodedContent`, which doesn't allow the overall encoded content length be larger than 65,520 bytes (See CXuesong/WikiClientLibrary#6). Is it by design or not? If not, is it possible for me to open a PR and propose a fix on it?

[2017-07-02 04:44] los93sol commented on #18023
Interesting little development, I have two devices, one is a Serial->USB device with an FTDI chipset that I can communicate with using a custom built version of System.IO.Ports that just relaxes the COM requirement in SerialStream.  The other is a UART->USB device with a Silicon Labs chipset (it's the adafruit one).  Using that device as soon as SerialPort.Open is called the Pi reboots.  If anyone

[2017-07-02 05:08] davidsh commented on #21790
This is a known issue.  See: https://github.com/dotnet/corefx/issues/1936. Please review that issue and the discussion about it.  You can submit a PR for any issue in the repo.  Please include appropriate tests for any PRs that change code.

[2017-07-02 05:27] jahmai opened #21796 "Deadlock between HttpClientHandler and HttpWebRequest"
Classic out of order lock. This issue exists in 4.1.1.1 but not the .net Framework version (4.0.0.0).
Seems to be introduced by https://github.com/dotnet/corefx/commit/d24ddedc5edb10d4ed385a1eb8bfb2351a117cd5.
Which is related to #11100

Thread 1:

[code]

Thread 2:

[code]

[2017-07-02 05:43] jahmai commented on #17522
So is this issue considered resolved? Back in April it was a "couple more weeks". I was concerned it would turn into a "couple more months". Well. It's July.

[2017-07-02 05:50] jahmai commented on #21796
A (possible) workaround is to ensure that your ServicePoint.ConnectionLimit and ServicePointManager.DefaultConnectionLimit values are the same before using HttpClientHandler - this avoids the lock inside ServicePoint.ConnectionLimit.

[2017-07-02 06:21] los93sol commented on #18023
Dug a little deeper and while I still don't know a good way to step it, I was able to comment enough code out and keep running to isolate the crash.  It looks like in SerialStream.EventLoopRunner.WaitForCommEvent the line causing issues appears to be...

 if (Interop.Kernel32.WaitCommEvent(handle, eventsOccurredPtr, intOverlapped) == false)

Figured I'd post it now in case anyone has any info abou

[2017-07-02 06:50] davidfowl commented on #21570
`WriteAsync` and `ReadAsync` support non blocking IO just fine, the only thing we're really discussion here in a API pattern difference, basically the reactor vs proactor pattern. All async IO in .NET is via the proactor pattern and the granularity is the operation itself (write or read).

It seems like you're asking for a reactor pattern to be exposed (which is more like java's NIO implementation

[2017-07-02 06:59] roji commented on #21570
It seems like we've had this discussion [at least once before](https://github.com/davidfowl/Channels/issues/48)... Async I/O and non-blocking I/O really are two different things - the former is about attaching a callback to the completion, which in many cases will execute on another thread, while the latter is simply about reading/writing as much as possible, right now, without ever yielding the t

[2017-07-02 07:15] roji commented on #21570
Maybe the thing to make this clear, is that the Unix-style non-blocking I/O I'm talking about can be called non-blocking *synchronous* I/O, as distinct from *asynchronous* I/O, which is non-blocking by definition.

[2017-07-02 07:23] karelz commented on #17522
It is still on my personal backlog. Pretty high up now. As I said earlier:

[2017-07-02 07:34] davidfowl commented on #21570
You're exactly talking about those 2 patterns though. What happens when the I/O operation needs to block (i.e. when you get an `EWOULDBLOCK` from the non blocking socket operation). What do you poll to know if you can write/read again?

If you squint, you can imagine socket.Read/WriteAsync just completing synchronously while the operation wouldn't block and when it would, internally the socket wou

[2017-07-02 07:44] los93sol commented on #18023
I'm stumped as it looks like it's crashing when pinvoking Interop.Kernel32.WaitCommEvent.  I really don't understand why it would crash with one device and work fine with the other.  I do have a kernel dump from the device, but not sure how to use windbg to figure anything out from it.

[2017-07-02 08:05] roji commented on #21570
There may a misunderstand on my side here with regards to proactor/reactor.

The classical Unix model would be to use select ([exposed in .NET](https://msdn.microsoft.com/en-us/library/system.net.sockets.socket.select(v=vs.110).aspx)), or epoll, to wait until a socket is ready, and then non-blocking reading to exhaust data without blocking. When you get EWOULDBLOCK you go back to select. .NET curr

[2017-07-02 09:02] davidfowl commented on #21570
It's literally exactly the 2 patterns I mentioned. You want the reactor model. You're basically asking for a .NET API that literally exposes epoll/kqueue.

I don't think that's a problem, in fact it's correct. `Stream` is not an IO abstraction, it's an abstraction over streaming data, which can be from non IO sources. It doesn't belong on `Stream`, it belongs on socket.

It wouldn't be on `Stream`

[2017-07-02 09:22] NicolasDorier commented on #21761
@Drawaes it is using SNI (if you browse to https://api.qbit.ninja/ you can see a different certificate) I think openssl s_client do not support it.

[2017-07-02 09:23] roji commented on #21570
Not really, I'm asking for a .NET API that exposes read/write (or more precisely their non-blocking support). Exposing epoll/kqueue is another question.

I don't see why the fact that you can stream data from non-IO sources means that your abstraction *shouldn't* support IO-specific features. For data sources where writing always fully completes you could simply return the number of bytes the user

[2017-07-02 09:28] davidfowl commented on #21570
DeflateStream, BufferedStream, MemoryStream... The list goes on..

That seems like a 1/2 baked abstraction to me. Can you think of any example in any other framework that has a concept of a non blocking write that isn't directly related to sockets?

[2017-07-02 09:40] Drawaes commented on #21761
Problem solved then. SslStream doesn't support SNI.... it is an outstanding requested feature.

[2017-07-02 09:48] roji commented on #21570
I may be nit-picking here, but the first two are intermediate/layers on top of other streams, while MemoryStream can be viewed as accessing memory via an I/O abstraction. I'm not trying to be argumentative - just to say that Streams can be seen as an I/O streaming abstraction (maybe I'm using I/O in a more general sense than you). In any case, I don't see a reason for the abstraction to specifical

[2017-07-02 09:51] georgiosd commented on #17522
Lets hope another item doesnt take its place again.
On Sun, 2 Jul 2017 at 10:23, Karel Zikmund <notifications@github.com> wrote:

[2017-07-02 11:09] thedumbtechguy commented on #2949
Sorry to bump this, but does core 2.0 support Ambient Transactions?
It's  critical component of our architecture and this is the closest issue I could find relating to it.
Information on the internet is conflicting.

[2017-07-02 11:22] damageboy commented on #21570
I'm sorry for barging in, but I don't see an unbreakable relationship between polling and non-blocking.

One could easily argue for opportunistic I/O in unix with no need to ever poll on the application level, but rather just use the returned amount of written octets...

For example, some systems use the following internal I/O pattern when interacting with the user:

[code]

This would be a classi

[2017-07-02 12:05] roji commented on #8955
Can anybody take a look at this? It would be good to know if you guys see this somewhere on your roadmap etc.

[2017-07-02 14:31] fanoI opened #21803 "Port Winforms to CoreFX"
As the porting of System.Drawing from the Mono code is in progress what are the possibilities to have Winforms ported to CoreFX?

Not having an official supported portable GUI is the only single point in which Java is in advantage...

What do you think?

[2017-07-02 14:45] safern opened #21804 "System.Linq.Parallel.Tests crashing in UapAot when building in ret mode"
A bunch of tests are crashing when this tests are built in ret mode. If we build them in chk mode the tests run successfully.  The exception thrown that is causing them to crash is the following:

[code]

One place where I've got the debugger to break on this exception was: https://github.com/dotnet/corefx/blob/master/src/System.Linq.Parallel/src/System/Linq/Parallel/Utils/GrowingArray.cs#L27

Not

[2017-07-02 15:08] davidsh commented on #21796
Thank you for reporting this issue.  This issue you are reporting in about the .NET Framework System.Net.Http.  .NET Core uses a different HTTP stack than .NET Framework.

The commit you reference above was about us reverting the implementation in .NET Core so that when the package installs on .NET Framework, it will use the original HTTP stack in .NET Framework.  Thus, the stack traces you show a

[2017-07-02 15:44] supporterPL commented on #16649
Hi @sepidehMS ,
I'm first time contributor. I'd like to add some tests to listed classes. May I?

[2017-07-02 16:56] karelz commented on #16649
@supporterPL sure thing. I sent you Collaborator invite to the repo. Please ping us here once you accept and we will be able to assign it to you. (cc @pjanotti @danmosemsft)
Temporarily assigning to myself.

Pro tip: Disable CoreFX repo notifications. There is 300+ daily, it feels like DoS on your email server. Subscribe to just your 'mentions' notifications.

If you need help, don't hesitate to a

[2017-07-02 17:29] JonHanna opened #21807 "Groovy failing in CI for Linux x64 Release Build"
`Caused: java.lang.IllegalArgumentException: Failed to prepare archiveArtifacts step` at https://ci3.dot.net/job/dotnet_corefx/job/master/job/linux-TGroup_netcoreapp+CGroup_Release+AGroup_x64+TestOuter_false_prtest/741/console and other runs.

[2017-07-02 17:48] supporterPL commented on #16649
@karelz I've just accepted invitation.

[2017-07-02 18:52] mmv commented on #18000
Can confirm that this reproduces with any site that replies with a `301 Moved Permanently` header and a big enough content within that very same reply.

[2017-07-02 19:26] saucecontrol commented on #16835
Wouldn't the recovery option just be to use the IL implementation rather than the instrinsic?

[2017-07-02 19:52] jamesqo opened #21809 "Proposal: CallerArgumentExpressionAttribute"
## Rationale

In order to facilitate the language feature at https://github.com/dotnet/csharplang/issues/287, which has been championed and discussed in the LDM, we should add `CallerArgumentExpressionAttribute` to the framework. The LDM notes seem to approve of getting this into the framework: see [here](https://github.com/dotnet/csharplang/blob/master/meetings/2017/LDM-2017-05-16.md#callerargume

[2017-07-02 19:54] saucecontrol commented on #20714
`Sqrt(float)` is another one that would be nice to have here since `Math.Sqrt()` is only implemented for double.

[2017-07-02 19:56] jamesqo commented on #21809
cc'ing people from the csharplang threads (dotnet/csharplang#287 and dotnet/csharplang#205): @gafter, @CyrusNajmabadi, @HaloFour, @ig-sinicyn, @tannergooding, @svick, @jnm2

[2017-07-02 20:01] karelz commented on #8955
@saurabh500 @divega @corivera any opinion here? Can we at least set expectations / timeline when we will have time to look at it? Thanks!

[2017-07-02 20:24] tannergooding commented on #20714
@saucecontrol, see `System.MathF.Sqrt(float)` (only available on netcore, currently).

The `float` overloads could not be added to `System.Math` directly, since it would change the resolved overload for existing code that was recompiled. A specific example was: an existing call to `System.Math.Sqrt` where you passed in an `int` would previously resolve to `System.Math.Sqrt(double)`, but would have

[2017-07-02 20:41] saucecontrol commented on #20714
Ah, of course.  I totally forgot that was already in `MathF`.

[2017-07-02 21:10] Petermarcu opened #21810 ".NET Core should consider having the equivalent of Windows.Devices.*"
Filing based on feedback:
https://docs.microsoft.com/en-us/uwp/api/

There are lots of basic device operations from GPIO, I2C, to Bluetooth that should be really easy to do on all devices when using .NET Core.

[2017-07-02 21:45] jjvanzon commented on #21809
Cool proposal. I have made several frameworks in the past to accomplish something similar, with either less performance or more verbose notation, that might become redundant by this.

https://github.com/jjvanzon/JJ.Framework/tree/master/Framework/Exceptions
https://github.com/jjvanzon/JJ.Framework/tree/master/Framework/Testing

Those are not even the only ones!

[2017-07-02 21:50] mellinoe commented on #16835
Yes -- that is likely an order of magnitude slower.

[2017-07-02 22:19] JohnRusk commented on #18173
@stephentoub I'm also experiencing the same problem.  I can't quite see how HttpWebRequest/vis HttpClient can be the answer.  Because:

1. @seguler  and I both observe the performance difference when switching between HTTP and HTTPS - _both_ of those are using HttpWebRequest.  So the difference appears to be not whether one is using HttpWebRequest or HttpClient, but whether one is using HTTP or HT

[2017-07-02 22:23] shaggygi commented on #21810
@Petermarcu I've been hoping this will come eventually.  However, I was thinking it would be API(s) outside of CoreFx as it appears to be Windows specific.  How would this be added to work for other OSes like Raspbian and such?

[2017-07-02 22:24] AndersMad commented on #2295
Please consider making `async` methods - for custom XPath/XSLT functions doing IO etc.

[2017-07-02 22:27] shaggygi commented on #21810
@Petermarcu In addition, @tyskink was recently [asking about Windows.Devices.SerialCommunication](https://github.com/dotnet/corefx/issues/984#issuecomment-311631692).  How would serial fall into this effort?

[2017-07-02 22:30] shaggygi commented on #21810
@jeremylindsayni also has done some good work related to this topic.

https://jeremylindsayni.wordpress.com/2017/04/05/turning-gpio-pins-high-and-low-on-a-raspberry-pi-3-using-net-core-2-and-ubuntu/

[2017-07-02 22:42] Petermarcu commented on #21810
I just put this here for tracking purposes. It would be totally fine to be in another library outside of corefx. The key is that the .NET ecosystem needs this. I've been looking at @jeremylindsayni's projects. Good stuff there :)

[2017-07-02 22:43] saucecontrol commented on #16835
Right, but it would still work.  I think at some point, we have to acknowledge that Vector<T> is there to support advanced performance scenarios, and developers using it should have a basic understanding of the implementation and restrictions.

I honestly don't see how this is any worse than the current state following the addition of the Narrow/Widen/Convert methods on `Vector<T>`.  We used to kn

[2017-07-02 22:45] shaggygi commented on #21810
Yup, this would definitely be a nice feature 👍

[2017-07-02 22:47] stephentoub commented on #18173
I understand the difference you're seeing is between http and https. My point was that some of the costs associated with https are at the opening of the connection, so you're going to see higher overheads to https vs http if you make a single request per connection than if you reuse a connection for multiple requests. And since pooling is done per HttpClientHandler instance and this based on the c

[2017-07-02 23:16] JohnRusk commented on #18173
Thanks.
That makes sense, re amortization of connection set up.  I'm using the same library as @seguler and, like him, I'm not sure I can easily make a repro without that library.  However, I think my first step should probably to be to test on the current pre-release version of .NET Core 2.0 and see if that makes any difference. If it doesn't, I'll probably have to see if I can find some may to m

[2017-07-02 23:50] JohnRusk commented on #15986
@ianhays I'm having the same problem.  How can there be no bug here?  I can reproduce the following sequence of events:

1. Start app
2. Read Console.OutputEncoding.  It says its UTF-8
3. Display output. It does not come out in UTF-8, even though that was reported as the current encoding.
4. _Set_ the encoding to UTF-8.  (I.e. set it to its existing value).
5. Display output again. Now it does com

[2017-07-02 23:59] eByte23 opened #21811 "DSA-SHA1 SignedXml issues .netcore 2.0"
I have a SAMLlibrary which I am trying to piece together on .net core 2.0, however I have hit an issue it some pre-existing tests.

The tests pass fine on net461 but when using netcoreapp2.0 fail.

All the test is doing is
[code]

The xml files that is being passed in is located in the tests here:
[DSA-SHA1 Saml2Assertion_01](https://github.com/eByte23/SAMLSilly/blob/dev/2.0/tests/SAMLSilly.Tests/

[2017-07-03 01:00] svick commented on #21809
Should the `parameterName` also be exposed as a `public` property? I'm not sure how useful would that actually be (compilers are probably going to directly read the metadata, they're not going to instantiate the attribute object), but I think it's consistent with the rest of BCL. It's also consistent with [Framework Design Guidelines](https://docs.microsoft.com/en-us/dotnet/standard/design-guideli

[2017-07-03 01:55] dotnet-mc-bot opened #21813 "Test: System.ConsoleTests.Perf_Console/OpenStandardInput failed with "System.IO.IOException" Too many open files"
Opened on behalf of @Jiayili1

The test `System.ConsoleTests.Perf_Console/OpenStandardInput` has failed.

System.IO.IOException : Too many open files

        Stack Trace:

           at Interop.ThrowExceptionForIoErrno(ErrorInfo errorInfo, String path, Boolean isDirectory, Func`2 errorRewriter)
       at Interop.CheckIo[TSafeHandle](TSafeHandle handle, String path, Boolean isDirectory, Func`2 err

[2017-07-03 01:56] Jiayili1 commented on #21813
Closed issue: https://github.com/dotnet/corefx/issues/18462

[2017-07-03 01:59] Jiayili1 commented on #21429
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170703.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test~2FInvalidCertificateServers_CertificateValidationDisabled_Succeeds(url%3A%20%5C%22https%3A~2F~2Fwrong.

[2017-07-03 02:13] stephentoub commented on #18173
Thanks, that's helpful. We're also looking more into SSL performance for 2.1, so we'll be doing some investigations as part of that. I do have to say I'm surprised to hear that the https throughout on any platform was equivalent to http... generally even for steady-state throughout SSL adds some measurable overhead. Maybe there are some other factors in the workload overshadowing that.

[2017-07-03 02:43] lextm commented on #21803
Read #20325 carefully. Microsoft ported its own `System.Drawing` plus "some test cases from Mono". So your statement is incorrect.

How to port WinForms, it would be a longer story than `System.Drawing`, so whether now is the time to talk about it can be subjective. As an outsider, my opinion is that only after `System.Drawing` becomes available on every platforms (currently only Windows), WinForm

[2017-07-03 04:40] jahmai commented on #21796
[corefx21796.zip](https://github.com/dotnet/corefx/files/1118423/corefx21796.zip)

[2017-07-03 04:56] bartonjs commented on #21811
@eByte23 When you say the tests fail, I assume you mean they return false when true was expected?

[2017-07-03 05:22] eByte23 commented on #21811
@bartonjs my apologies I wasn't very clear.
These signatures should be 'Valid'. They pass validation in net 461 and other versions of FF but when running tests against netcoreapp2.0 they fail.

For example the current code I have in [this branch](https://github.com/eByte23/SAMLSilly/blob/dev/2.0/tests/SAMLSilly.Tests).

when running `dotnet test --framework netcoreapp2.0` the tests fail
when runni

[2017-07-03 05:30] JohnRusk commented on #18173
@stephentoub I have tested on 2.0.0. preview 2, and the problem still exists.   cc @seguler

Re difference between HTTP and HTTPS: in other related work, I'm testing TCP connections (no HTTP) both with and without TLS encryption.  There's a clear difference in CPU usage, but not much difference in throughput.

[2017-07-03 05:56] Jiayili1 opened #21815 ""FailFast: Expected offset 0 when decrypting" in System.Net.Security.Tests"
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170703.01/workItem/System.Net.Security.Tests/wilogs

[code]

[2017-07-03 06:00] Jiayili1 commented on #17681
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170703.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DualModeConnectionlessReceiveFrom~2FReceiveFromV4BoundToAnyV4_Success

[2017-07-03 06:19] v-haren opened #21817 "'System.Net.Http.Functional.Tests' failed in ci"
/mnt/resource/j/workspace/dotnet_corefx/master/centos7.1_debug/Tools/tests.targets(354,5): error : One or more tests failed while running tests from 'System.Net.Http.Functional.Tests' please check /mnt/resource/j/workspace/dotnet_corefx/master/centos7.1_debug/bin/Unix.AnyCPU.Debug/System.Net.Http.Functional.Tests/netcoreapp/testResults.xml for details! [/mnt/resource/j/workspace/dotnet_corefx/mast

[2017-07-03 06:36] v-haren opened #21818 "System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_ClientCertificates_Test failed with "Xunit.Sdk.ThrowsException" in CI"
failed test: System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_ClientCertificates_Test.Manual_SSLBackendNotSupported_ThrowsPlatformNotSupportedException

detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_release/95/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandler_ClientCertificates_Test/Manual_SSLBackendNotSupport

[2017-07-03 06:37] black-byte commented on #14724
Any time plans for solving this issue ?

[2017-07-03 06:43] v-haren opened #21820 "'System.ComponentModel.TypeConverter.Tests' failed in ci"
/mnt/resource/j/workspace/dotnet_corefx/master/debian8.4_release/Tools/tests.targets(354,5): error : One or more tests failed while running tests from 'System.ComponentModel.TypeConverter.Tests' please check /mnt/resource/j/workspace/dotnet_corefx/master/debian8.4_release/bin/AnyOS.AnyCPU.Release/System.ComponentModel.TypeConverter.Tests/netcoreapp/testResults.xml for details! [/mnt/resource/j/wor

[2017-07-03 06:52] v-haren opened #21821 "'System.Net.WebSockets.Client.Tests' failed in CI"
/mnt/resource/j/workspace/dotnet_corefx/master/outerloop_netcoreapp_opensuse42.1_debug/Tools/tests.targets(354,5): error : One or more tests failed while running tests from 'System.Net.WebSockets.Client.Tests' please check /mnt/resource/j/workspace/dotnet_corefx/master/outerloop_netcoreapp_opensuse42.1_debug/bin/Unix.AnyCPU.Debug/System.Net.WebSockets.Client.Tests/netstandard/testResults.xml for d

[2017-07-03 07:02] willdean commented on #18023
@los93sol The stack looks like this when you're using USB->Serial drivers:

1 .NET SerialPort - a fairly thin wrapper on Win32 the serial port API (MS / OSS)
2 Win32 serial port API - an very thin wrapper on the kernel mode driver (MS)
3 KM driver - an extremely complex kernel mode driver written by the USB chip vendor (chip vendor)

Your problem is almost certainly in '3' (hence one device and no

[2017-07-03 07:07] v-haren opened #21823 "System.IO.Tests.FileInfo_Delete failed with Xunit.Sdk.TrueException in CI"
failed test: System.IO.Tests.FileInfo_Delete.Unix_ExistingDirectory_ReadOnlyVolume

detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_debug/95/testReport/System.IO.Tests/FileInfo_Delete/Unix_ExistingDirectory_ReadOnlyVolume/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-07-03 07:12] Jiayili1 commented on #21696
This issue is still repro on build #20170703.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170703.01

[2017-07-03 07:21] v-haren commented on #20223
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_release/95/testReport/System.Net.Sockets.Tests/DnsEndPointTest/Socket_StaticConnectAsync_HostNotFound/

[2017-07-03 07:28] Jiayili1 commented on #20223
Failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170703.01/workItem/System.Net.Sockets.Tests/wilogs

[2017-07-03 07:33] v-haren commented on #21759
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/106/testReport/System.DirectoryServices.AccountManagement.Tests/PrincipalContextTests/ValidateCredentials_IncorrectUserNamePassword_ThrowsException/

[2017-07-03 07:49] hughbe commented on #21759
It's failed twice and only on Windows 7: I'd hedge my bets and say it's a Win7 issue

[2017-07-03 07:58] karelz commented on #14724
This is a large feature. AFAIK it is near the top of our CoreCLR backlog, but I don't expect investments in next few months ...

[2017-07-03 08:05] TechWatching opened #21824 "Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'"
While using the mssql extension for vscode (which uses SqlClient implementation for .Net Core), I am having an issue for querying linked servers.
See [link](https://github.com/Microsoft/vscode-mssql/issues/909)

Steps to Reproduce:

Connect to a SQL Server with "authenticationType": "Integrated"
Do a select request with a join on the table of a linked server
The following error appears : Login fai

[2017-07-03 08:27] karelz commented on #21807
@weshaggard @mellinoe can you please help assess how much it impacts CI? And route as appropriate? Thanks!

[2017-07-03 08:32] karelz commented on #21811
@krwq @bartonjs please check if it is important scenario for 2.0. Moving to 2.1 for now.

[2017-07-03 08:46] karelz commented on #21824
Can you reproduce it without VSCode extension? We need to isolate which part of the stack the bug is in.

[2017-07-03 09:08] qmfrederik commented on #20712
@mellinoe There's definitively room to do more consolidation in the Mono library, although I can't commit to much the coming weeks.

* There's still a lot of classes that can be migrated fairly easily, perhaps with tweaking some of Mono's unit test. @akoeplinger would it be possible to get an updated external/corefx submodule in Mono, as the System.Drawing sources have changed over the past weeks?

[2017-07-03 09:12] TechWatching commented on #21824
No in SSMS requests on linked servers work correctly without error. The vs code team told me that vs code extension is just relaying messages sent by SqlClient.

[2017-07-03 09:40] karelz commented on #21824
Can you please create repro outside of VS Code then?

[2017-07-03 09:44] TechWatching commented on #21824
How can I do that ?

[2017-07-03 10:02] PilgrimViis commented on #21624
@stephentoub, thanks for reply.
1. How did you know about it? Is it depends on machine where you're testing? I'm not big specialist in network programming and I can be wrong, but when I wrote code with same functionality on C it's works and didn't returned any -1's.
And by the way, where I can get full list of errors which can be returned by this call, cause in man (http://man7.org/linux/man-pages

[2017-07-03 11:17] hughbe opened #21825 "FormatException for invalid dates should show the date and format that were passed in"
Currently, we just get an error like:

This is a pain as you don't know what actually went wrong where. For example, I'm parsing a CSV file and the dates it contains are constantly changing their formats. So when something goes wrong, it's unclear and I have to catch and rethrow the exception, taking note of the date and format

[2017-07-03 11:43] shaggygi commented on #21810
I added this issue link as it is somewhat related.  https://github.com/dotnet/coreclr/issues/12159

I was wondering about UWP support using .NET Core/Standard using topics (Bluetooth, IO, etc.) mentioned here.

[2017-07-03 12:14] los93sol commented on #18023
@willdean Thank you for that information, that's pretty much what I was expecting, but being new to working at this level I wasn't sure.  I was able to get the crash dump, but WinDbg failed to load symbols so I wasn't able to get anything useful from it yet.  I'll do some more digging to try to figure that part out.  In the meantime, the only thing that leads me to believe it is not manufacturer d

[2017-07-03 12:15] axelheer commented on #21281
Not only the API of BigInteger would benefit from this, but the internal implementation should be much safer and maybe a little bit faster based on this.

* We currently use pointers to spare some index calculations (performance) and "abstract" the differences between ordinary arrays and stackalloc based stuff --> use spans instead
* We currently copy the array containing the actual number after e

[2017-07-03 12:20] stephentoub commented on #21281
Yes, thanks. There are many places Span could be used internally in implementation, to clean up code that's currently unsafe, to help avoid allocation in places where stack memory could be used instead of heap, to consolidate code paths where stack-vs-heap paths were already employed, etc.

[2017-07-03 12:36] willdean commented on #18023
@los93sol Some symbol server info which might be useful is here: https://msdn.microsoft.com/en-us/library/windows/desktop/ms681416(v=vs.85).aspx

It's not always easy to repro these sort of problems (and also partly why it's hard to write good USB->Serial drivers) because the Win32 serial API is deceptively complex, and different applications use the port in lots of different ways - there are a ba

[2017-07-03 12:36] cydhaselton commented on #21503
Copying @mellinoe and @ericstj on the above question
I'll post build-managed.log when I've bandwidth to upload it

[2017-07-03 12:50] henning-krause commented on #4991
Will this fix eventually be backported to .NET Framework 4.x? .NET up to 4.7 suffers from the same error.

[2017-07-03 12:56] mattwoberts commented on #9788
I have this issue too - I've got a .netcoreapp1.1 web project. When I add a new xunit test project, and then add a reference to my web project, I get:

`Severity	Code	Description	Project	File	Line	Suppression State
Error		Package Microsoft.Composition 1.0.27 is not compatible with netcoreapp1.1 (.NETCoreApp,Version=v1.1). Package Microsoft.Composition 1.0.27 supports: portable-net45+win8+wp8+wpa81

[2017-07-03 13:04] stephentoub commented on #21818
Already fixed

[2017-07-03 13:04] #21818 closed

[2017-07-03 13:05] stephentoub commented on #21817
Already fixed

[2017-07-03 13:05] #21817 closed

[2017-07-03 13:05] stephentoub commented on #21815
Already fixed

[2017-07-03 13:05] #21815 closed

[2017-07-03 13:06] stephentoub commented on #21821
Already fixed

[2017-07-03 13:06] #21821 closed

[2017-07-03 13:12] stephentoub commented on #21624
@PilgrimViis, can you share the C program you used?

Yes, although it's also possible there's a bug that makes it more common.

[2017-07-03 13:29] ViktorHofer commented on #19305
I just tried it and facing the same issue as Tarek. Is there an update on that matter?

[2017-07-03 14:18] akoeplinger commented on #20712
@qmfrederik yep, I'll work on updating corefx in Mono.

[2017-07-03 14:24] PilgrimViis commented on #21624
@stephentoub, of course.
[code]

[2017-07-03 15:08] bartonjs commented on #21436
So it looks like we get different crashes when the shim is *built* on 10.13 vs 10.12.  If it's built on 10.13 then only `TestResetMethod` (which has a DSA chain) segfaults; when built on 10.12 a lot more chains segfault.  Looking into what/why.

[2017-07-03 16:01] davidbraden opened #21829 "System.Diagnostics.PerformanceCounterType enum missing values"
I think System.Diagnostics.PerformanceCounterType is missing some values. I think it should also include
PrecisionSystemTimer = 541525248;
Precision100NsTimer = 542573824;
PrecisionObjectTimer = 543622400;
to match all the values from the Win32 api. This is based off https://github.com/Microsoft/referencesource/blob/4fe4349175f4c5091d972a7e56ea12012f1e7170/System/compmod/microsoft/win32/NativeMeth

[2017-07-03 16:10] danmosemsft commented on #21829
@brianrob ?

[2017-07-03 16:17] danmosemsft commented on #21825
I recently added the path to IO exceptions (https://github.com/dotnet/coreclr/commit/6ba74dc2a7194f8d6c86c3aeab572a074ef645c8) and it was useful when we investigated test failures.

I think it would be a great idea to include values in more error messages. There are many others in this format:

[code]

and many others in other forms eg

[code]

If we are incurring the cost of an exception, presuma

[2017-07-03 16:30] tarekgh commented on #19587
@krwq let's chat about that.

CC @JeremyKuhne

[2017-07-03 16:34] danmosemsft commented on #21804
@joshfree can you suggest an owner?

[2017-07-03 16:56] kevcunnane commented on #21824
@TechWatching if you can provide the T-SQL query you used this is likely the best way to provide a repro. I tried some basic versions but with no luck (see samples below). So if you can provide a better sample this will help get this addressed.

@karelz  - The MSSQL extension is simply executing this and hooking the `InfoMessage` and `StatementCompleted` events and this is a SqlClient message, hen

[2017-07-03 17:24] bartonjs commented on #21436
Aside from some string literals (the __FILE__ macro in asserts) and some addressing offsets due to the literals having different lengths the 10.12 and 10.13 binaries seem to be the same, making the crash continue to make no sense.

[2017-07-03 17:32] los93sol commented on #18023
@danmosemsft @ericstj Can either of you tell me how UWP's SerialDevice API monitors for activity?  I know SerialStream pinvokes WaitCommEvent but using this particular Adafruit adapter it causes the device to reboot so curious to see what SerialDevice is doing differently since I'm not having the issue on that API surface.

[2017-07-03 17:34] mellinoe commented on #16835
I'm in agreement with you -- the Vector API's are for advanced users, and we can only do so much hand-holding; it is ultimately up to the user to make sure they understand what they are doing.

Like I said above, and after discussing this a lot, we are leaning towards throwing an exception if a non-const value is given. I don't think that using the IL fallback path is a good idea. The JIT is able

[2017-07-03 17:34] bartonjs commented on #8450
@safern I was looking to see if this was fixed in master given the recent UWP work (and new WACK list).  But it doesn't look like X509Certificates tests are running in UWP at all.  Is that something you're aware of?

[2017-07-03 17:37] danmosemsft commented on #21823
@niustephanie @MaggieTsang @nchikanov @JeremyKuhne  RunAsSudo is failing on Ubuntu 14.04.

Looks like process started OK (as there was no NullReferenceException here) but did not complete in 3seconds. You could add more logging perhaps or try increasing the timeout and logging what it takes.
                Assert.True(process.WaitForExit(3000)); <<

[2017-07-03 17:38] danmosemsft commented on #21820
@v-haren can you please look in the log for other relevant information? eg in this case

[code]

[2017-07-03 17:39] danmosemsft commented on #21813
We've seen this before. Either need a higher ulimit, or run less in parallel, or we have a leak.
https://github.com/dotnet/corefx/issues/20226

[2017-07-03 17:40] danmosemsft commented on #8450
@joperezr for that q

[2017-07-03 17:44] #21558 closed

[2017-07-03 17:49] saucecontrol commented on #16835
Oh yeah, that makes perfect sense.  Since a non-immediate argument is never correct, throwing an exception is probably the right thing to do. I thought the hold-up was that throwing a runtime exception wasn't acceptable and that catching it at compile time wasn't possible.

[2017-07-03 17:52] axelheer opened #21832 "BigInteger goes Span"
As already mentioned within #21281 the all-new Span should bring many benefits to BigInteger.

* We currently use pointers to spare some index calculations (performance) and "abstract" the differences between ordinary arrays and stackalloc based stuff --> use spans instead
* We currently copy the array containing the actual number after every operation to trim leading zeros --> use span.slice inst

[2017-07-03 18:17] mellinoe commented on #20712
Not yet -- I will work on getting that done.

[2017-07-03 18:17] danmosemsft commented on #21122
This test is gone.

[2017-07-03 18:17] #21122 closed

[2017-07-03 18:25] danmosemsft commented on #20246
Per @karelz moving to 2.0
•	OSX only
•	Not clear it's a product bug.
•	HttpListener is compat API only (we do not plan to evolve it)
•	ASP.NET does not depend on it
•	If it is test bug, we can fix it in servicing branch.
•	If it is product bug we can service.

[2017-07-03 18:27] danmosemsft commented on #21778
@Priya91 this is the tracking issue.

[2017-07-03 18:27] bartonjs opened #21833 ".NET should expose a generalized ASN.1 reader/writer API"
A lot of features in cryptography and X.509 certificates rely on the ability to read or write ASN.1-structured data.  Not only would a good API for ASN.1 reading/writing simplify some of our existing code, it's very handy when someone wants to try adding support for something we don't have inbox, like reading a new certificate extension.

There are a couple of different aspects to the problem:

##

[2017-07-03 18:28] joperezr commented on #8450
That is a very good point, no we were not aware of it. Usually if we do this, we would log a tracking issue to re-enable those tests back, but we didn't seem to do it this time. Looks like the PR that did it was a maestro update PR, specifically looks like it was a commit made by @jkotas  https://github.com/dotnet/corefx/pull/17755/commits/4197fb68b69c1248e6be79aa8e4b08d2c92777c1

[2017-07-03 18:35] danmosemsft commented on #18023
@los93sol unfortunately we have no knowledge of how the stack works below the .NET level.

[2017-07-03 18:39] jnm2 commented on #21833
I'm interested to see what you come up with so I can compare it to my fast forward-only ASN.1 reader.

[2017-07-03 18:39] danmosemsft commented on #18048
Tracking with https://github.com/dotnet/corefx/issues/20782

[2017-07-03 18:39] #18048 closed

[2017-07-03 18:40] danmosemsft commented on #21379
@fadimounir is this on your radar?

[2017-07-03 18:44] danmosemsft commented on #20782
Windows are providing a WinRT based API. Tracked by 12392458 internally. Waiting on that.

[2017-07-03 18:45] jkotas commented on #8450
The issue opened on this was: https://github.com/dotnet/corefx/issues/17764

[2017-07-03 18:49] shaggygi commented on #18023
@los93sol @ptorr-msft might be able to help, but not sure.

[2017-07-03 18:55] jnm2 commented on #21803
I'd rather have something new than WinForms, but I could not agree more on the eventual need for a platform-agnostic desktop UI.

[2017-07-03 18:55] jnm2 commented on #21803
It's a rather obvious shortcoming.

[2017-07-03 18:58] joperezr commented on #17764
Reopening since it looks like only Cng configurations were fixed, but X509Certificates were not.

[2017-07-03 18:59] joperezr commented on #8450
Thanks for pointing it out. Looks like we have caught this once and logged that issue, but the issue was for both Cng and X509Certificates and we only fixed Cng configurations. I just reopened the issue and will fix the configurations.

[2017-07-03 19:00] richlander commented on #21803
I'm glad to see the interest. We have heard interest from others for a UI solution with .NET Core, too.

At present, we don't have any plans to build a cross-platform UI stack. We do think that .NET Core is a good base for such a project and encourage others to collaborate on that. We are focused on server apps currently and will likely add IoT apps to that next.

[2017-07-03 19:21] trzewior opened #21834 ".NET Core Created Zip Archive is corrupted"
[https://stackoverflow.com/questions/44892088/net-core-created-zip-archive-is-corrupted](url)

[2017-07-03 19:23] pentp commented on #16835
What's wrong with non-immediate shift counts? From @4creators [comment](https://github.com/dotnet/corefx/issues/16835#issuecomment-310841423) and [Intel](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=epi&cats=Shift&techs=SSE2) [documentation](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=epi&cats=Shift&techs=AVX2) it looks like all of these instructions ha

[2017-07-03 19:28] mellinoe commented on #16835
The discussion above is just about how to handle hardware instructions which require immediate operands. If there's an instruction which doesn't take an immediate operand (and there is in this case), then there is no problem. It's just something to keep in mind when looking at these sorts of things.

[2017-07-03 19:43] fanoI commented on #21803
The fact is that while Winforms could be considered obsolete it seems easy portable has been ported to Mono simply creating a wrapper of libGDI+ (the same thing is done here for System.Drawing), it exists a "try" to port Winforms to Net Core too: https://github.com/akoeplinger/mono-winforms-netcore.

But having the backing of Microsoft after this will do make things different obviously!

@richland

[2017-07-03 19:49] bachratyg commented on #21833
Pretty excited to hear this being considered. I was working on a TSP client a while back and wrote my own generic parser for it. There's naturally BouncyCastle but the API looks quite overcomplicated and alloc-heavy.

Let's just say the task is very very far from trivial and since it's usually security related there's a very low margin for error. Sometimes you may want BER+DER in the same input st

[2017-07-03 19:52] danmosemsft commented on #21156
@safern For now it looks like we won't get an enumeration API that works in UWP. It seems like we have to

1. Verify that aside from GetPortNames(), assuming CreateFile is replaced with CreateFileFromApp, serial port functionality works in a UWP (ie., works within AppContainer)
1. If it does, hard code GetPortNames() when in AppContainer, to return COM1 through COMn for some n. (For those ports th

[2017-07-03 19:53] danmosemsft commented on #21156
@JeremyKuhne @willdean for above note. We'd need someone with actual serial ports to try this -- I think this is lower than other stuff on Jeremy's priority list right now.

[2017-07-03 19:53] danmosemsft commented on #18023
Note - https://github.com/dotnet/corefx/issues/21156 covers making S.IO.Ports work in UWP/AppContainer, which has its own issues.

[2017-07-03 20:03] danmosemsft commented on #21281
@JeremyKuhne as mentioned offline, a number of these could be good projects for @MaggieTsang @niustephanie @nchikanov eg the BitConverter ones. They could separate those off and go through API review, implemtation etc.

[2017-07-03 20:11] saucecontrol commented on #16835
Yeah, I got mixed up there.  I was thinking about shuffles because that's what I'm more interested in, and they were part of the conversation.

Having thought more about it, though, I'm not sure a runtime exception would be great for those cases where an immediate is needed for the intrinsic and a variable is passed to the method.  It would be possible (however unlikely) for someone to write bad c

[2017-07-03 20:19] stephentoub commented on #21281
Let's please wait until we've completed reviewing this issue all-up.  At that point I don't believe there will be more review needed for the BitConverter APIs in particular.  Also please check with me before starting on any work for these.

[2017-07-03 20:21] stephentoub commented on #21825
I think it's ok.  Historically we had some concerns about information disclosure in exception messages, but from subsequent discussions decided we're not worried about that.

[2017-07-03 20:24] #21834 closed

[2017-07-03 20:33] krwq opened #21835 "System.Text.RegularExpressions.Tests.Match_SpecialUnicodeCharacters* is failing on UAP"
This test is failing because of combination of two windows bugs:
- setting a culture to invariant does not always happen
- turkish I should not be lowercased to i on en-US

This test is being renamed to System.Text.RegularExpressions.Tests.Match_SpecialUnicodeCharacters_Invariant
in https://github.com/dotnet/corefx/pull/21782

@tarekgh, could you provide details?

[2017-07-03 20:50] danmosemsft commented on #19591
This was due to quoting on remote executor. fixed.

[2017-07-03 20:50] #19591 closed

[2017-07-03 20:50] danmosemsft commented on #21392
Needs some owner, don't care who but Jeremy has a bunch already. @joperezr talk to @JeremyKuhne /@safern for context.

[2017-07-03 20:52] mellinoe commented on #16835
If we include a Roslyn analyzer with the library (or land a built-in compiler feature), then the user would also have to actively ignore the build-time warning/error about misusing the API. I think I'm okay with throwing a runtime error in that case.

[2017-07-03 20:52] danmosemsft commented on #21481
@yymsft is this blocking you?

[2017-07-03 21:01] danmosemsft commented on #21696
@joperezr is alreayd looking.

[2017-07-03 21:03] AlexGhiondea commented on #18452
The package has been pushed to Nuget.org.

[2017-07-03 21:04] AlexGhiondea commented on #9788
@mattwoberts could you try updating / adding a reference to Microsoft.Composition version 1.0.0.31?

[2017-07-03 21:04] bartonjs commented on #21833
Yeah, the idea is that someone should be able to, for example, look at https://tools.ietf.org/html/rfc5652#section-9.1 and quickly (and correctly) be able to write a structured reader to read the AuthenticatedData object structure.  (And, one supposes, write it as well).

While it's possible to do that with a reader-style API it's really easy to forget to check for unknown values, which could be t

[2017-07-03 21:08] Diego-Perez-Botero commented on #21786
@joperezr - are you the right person to update the Windows.winmd file in the **microsoft.dotnet.uap.testtools** package, or should I reassign this to someone else? Thanks!

[2017-07-03 21:13] joperezr commented on #21786
Yes, I am the right person, but I first need to make sure that by changing this I won't break the scenario of running the tests on a RS2 machine. Today most of four developers working for UAP 6.0 are working on RS2 OS, plus our CI test runs run on RS2 as well, so I will first verify that this change won't break that flow. If it doesn't, then I'll go ahead and do the update.

[2017-07-03 21:17] joperezr commented on #21696
talked to @ChadNedzlek about this, looks like it was a transient Azure issue, so I will close this issue since we believe this should be solve in next run. Please do reactivate if it happens again.

[2017-07-03 21:21] pjanotti commented on #20951
@weshaggard I hit the error reported by @RFBennet when running tests in my machine (it is a Win10 domain joined box). I will assign this to me (at least temporarily) while I take a deeper look.

[2017-07-03 21:28] danmosemsft commented on #11516
@zamont do you understand this issue? Is it still relevant?

[2017-07-03 21:29] danmosemsft commented on #6751
@saurabh500 can you comment? Who would own testing EF Core against UWP2.0?
Maybe this issue can be closed out.

[2017-07-03 21:47] jamesqo commented on #21809
@svick Sure, why not. I think such a property may even have a practical use for reflective code that wants to determine the parameter being referenced. (Although, that may already be possible (in a slightly less cleaner way) through [this API](https://msdn.microsoft.com/en-us/library/system.reflection.customattributedata.constructorarguments(v=vs.110).aspx) which allows you to get the ctor argumen

[2017-07-03 21:53] jamesqo commented on #21809
@karelz, I think this api is safe to mark ready-for-review. The C# team has already approved this and explicitly said we should start the process for getting this in, see [here](https://github.com/dotnet/csharplang/blob/master/meetings/2017/LDM-2017-05-16.md#callerargumentexpression). The addition of this api to corefx is what is causing them to push this feature back to 7.x, I do not think we sho

[2017-07-03 21:57] HaloFour commented on #21809
@CyrusNajmabadi

What of the other caller info attributes?

[2017-07-03 21:57] krwq commented on #21835
@tarekgh has found a workaround which we will use on our side and is already in the PR
https://github.com/dotnet/corefx/pull/21782

[2017-07-03 22:01] tarekgh commented on #21835
@krwq you may close this issue now.

[2017-07-03 22:16] danmosemsft commented on #18023
Microsoft's USB serial port driver is named usbser.sys . That should work. If you see something else, it's a 3rd party: you'd have to contact the vendor. They should have the ability to figure out the problem, but they may not support IoT use unfortunately.

[2017-07-03 22:19] danmosemsft commented on #21825
@hughbe do you have an interest in attacking some of these? As I mentioned there's a lot of places that could potentially be improved this way.

[2017-07-03 22:24] danmosemsft commented on #21813
In init-tools.sh we set ulimit to 2048 on macOS https://github.com/dotnet/corefx/blob/master/init-tools.sh#L27

I assume there's no reason we can't change this to 'unlimited' which seems to be what Linux distros have (well, my Ubuntu box)

@MattGal are you aware of other places we might set that during Helix runs?

[2017-07-03 22:24] #20303 closed

[2017-07-03 22:25] danmosemsft commented on #21813
@pjanotti if appropriate, you could modify init-tools.sh on your Mac to change it to set unlimited.

[2017-07-03 22:27] willdean commented on #18023
usbser.sys is a communication device class (CDC) driver - to the best of my knowledge none of the mainstream USB-Serial products use CDC (they predate CDC and usbser.sys has, historically, been execrable anyway.  It was apparently rewritten for Win10, so it might be better now, but I doubt it's used in this case).

A read of the release notes of the SiLab driver should bring forth a chilly pallor

[2017-07-03 22:42] saurabh500 commented on #6751
We are working  risers supporting SqlClient on UWP . EF should take a first stab at testing

[2017-07-03 22:47] #21547 closed

[2017-07-03 22:47] #21835 closed

[2017-07-03 22:55] mhsjlw commented on #9003
By the way, this doesn't just affect windows UWP apps, this is broken on macOS and Xamarin.Forms with PCL

[2017-07-03 22:57] bartonjs commented on #21436
Okay, turns out the "which machine built this dylib" was a red herring.  It's that when I built-and-ran on 10.13 I did BuildAndTest (just innerloop) and when I ran the tests copied from another machine I used the Helix commandline, which includes OuterLoop.

I've since been able to get built-on-10.13 to crash.  Yay.  Sort of.

It looks like something in 10.13 breaks when you ask to build a chain f

[2017-07-03 22:57] davidsh commented on #9003
cc: @stephentoub

[2017-07-03 23:03] bartonjs commented on #21436
`AppleCryptoNative_X509ChainGetTrustResults` felt over-exposed here.  Sharing the location of the segfault:

[code]

[2017-07-03 23:06] lextm commented on #21803
@fanoI It is not "easy". Porting apps from .NET Framework WinForms to Mono WinForms has been proved to be painful and many projects finally drop WinForms to embrace OS native UI framework (such as Xamarin.Mac). Typical WinForms apps use many P/Invoke and third party controls, which can be quite difficult to port.

WPF technically speaking can be ported to non-Windows OS, as its siblings such as XN

[2017-07-03 23:08] DavidGoll commented on #21481
(On behalf off YY who is out on vacation)
Because it affects non-ILC only, it's not blocking.

[2017-07-03 23:23] divega commented on #6751
Thanks @saurabh500 for confirming. @danmosemsft I think this can be closed since the original question has been answered. Any testing work or specific bugs that may affect the end-to-end scenario will be tracked elsewhere.

[2017-07-03 23:34] fanoI commented on #21803
Xamarin.Forms has a GUI wysiwyg designer as WPF and Winforms?

[2017-07-03 23:49] danmosemsft commented on #6751
OK!

[2017-07-03 23:49] #6751 closed

[2017-07-04 00:16] lextm commented on #21803
@fanoI Not exactly but close. It has a [previewer](https://developer.xamarin.com/guides/xamarin-forms/xaml/xaml-previewer/) now.

[2017-07-04 00:44] morganbr commented on #21744
@tijoytom, it would be particularly good to know whether the MissingMetadataException occurs during normal usage or because XUnit is reflecting on random objects.

[2017-07-04 01:14] Priya91 commented on #21761
We have the SNI feature tracked in #9608. Closing this as dupe.

[2017-07-04 01:14] #21761 closed

[2017-07-04 01:15] JonHanna opened #21842 "S.L.Expressions new array with negative length should have correct error message."
Given the expression:

[code]

We could reasonably expect the error message `"Array dimensions exceeded supported range."` or a localised equivalent. The compiler does this, but the interpreter has `"Arithmetic operation resulted in an overflow."`.

[2017-07-04 01:40] Priya91 commented on #20497
@madelson Sorry for the delay, the proposal makes sense to me. We need actual usage scenarios to consider adding an API to .NET, by that, we need code samples on how the API is intended to be used. Can you come up with an API proposal as described [here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)

[2017-07-04 02:20] yvanin commented on #16766
ERROR_NO_SYSTEM_RESOURCES (0x5AA) is thrown on Windows 8.1 when using a string of size 2,147,483,520 bytes

[2017-07-04 02:54] nopara73 commented on #21761
@Priya91 @Drawaes As I figured in my previous comment there are two issues here. While the SNI feature would solve the qbitninja issue, would it also solve the httpbin issue, too?

[2017-07-04 03:15] #21842 closed

[2017-07-04 04:27] danmosemsft opened #21845 "File locking during Drawing tests"
[code]

[2017-07-04 04:48] danmosemsft commented on #21343
Now Ubuntu 1610

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170704.01/workItem/System.Security.Cryptography.X509Certificates.Tests/analysis/xunit/System.Security.Cryptography.X509Certificates.Tests.CertificateCreation.CertificateRequestChainTests~2FCreateChain_Hybrid

[2017-07-04 04:56] danmosemsft commented on #21442
@yizhang82 could you please assign this to a dev?

[2017-07-04 04:58] danmosemsft commented on #21555
it is doing `foo.GetType()` where foo is a boolean.

[2017-07-04 05:01] danmosemsft commented on #21720
@ViktorHofer there are similar errors on Windows 10 and Fedora, in the 2.0 branch (not nesc same cause)

https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170704.01/workItem/System.Runtime.Serialization.Formatters.Tests/analysis/xunit/System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests~2FValidateAgainstBlob

[2017-07-04 05:04] danmosemsft commented on #21597
fixed

[2017-07-04 05:04] #21597 closed

[2017-07-04 05:23] #21778 closed

[2017-07-04 06:35] v-haren commented on #19344
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_debian8.4_release/96/testReport/System.Net.Http.Functional.Tests/ManagedHandler_DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledLogging/

[2017-07-04 06:54] willdean commented on #21156
@danmosemsft I have allowed all things UWP to pass me by completely, so I'm not really clear what's needed to test this - can it be tested on a Win10 machine by invoking the test suite differently?

What would be the minimum OS requirement (I have machines with various combinations of ports, but they have various versions of Windows too)

[2017-07-04 06:56] hbksagar commented on #2857
Hi @SidharthNabar, Thanks for mentioning WinHTTPhandler.

I have a requirement where I need to support ConnectTimeout and ReceiveDataTimeout on a native SDK which will be running on windows server 2008 r1 sp2 and has a support for dotnet 4.0.

As far as the [WinHTTPhandler nuget package](https://www.nuget.org/packages/System.Net.Http.WinHttpHandler/) requires dotnet 4.6. Is there anyway I could us

[2017-07-04 07:03] Jiayili1 opened #21850 "No test result generated under "System.Xml.RW.XmlWriterApi.Tests""
No test result generated under "System.Xml.RW.XmlWriterApi.Tests"
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170704.01/workItem/System.Xml.RW.XmlWriterApi.Tests/wilogs

Configuration:
Windows.10.Amd64.ClientRS3-x86
Windows.10.Arm64-arm

[code]

[2017-07-04 07:09] v-haren opened #21851 "System.Net.Sockets.Tests.DualModeConnectionlessReceiveMessageFrom.ReceiveMessageFromAsyncV6BoundToAnyV4_NotReceived failed in ci"
failed test: System.Net.Sockets.Tests.DualModeConnectionlessReceiveMessageFrom.ReceiveMessageFromAsyncV6BoundToAnyV4_NotReceived

detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_opensuse42.1_debug/97/testReport/System.Net.Sockets.Tests/DualModeConnectionlessReceiveMessageFrom/ReceiveMessageFromAsyncV6BoundToAnyV4_NotReceived/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-07-04 07:19] v-haren opened #21852 "System.Threading.Tests.MutexTests.CrossProcess_NamedMutex_ProtectedFileAccessAtomic failed with Xunit.Sdk.TrueException in ci"
failed test: System.Threading.Tests.MutexTests.CrossProcess_NamedMutex_ProtectedFileAccessAtomic

detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu16.04_debug/95/testReport/System.Threading.Tests/MutexTests/CrossProcess_NamedMutex_ProtectedFileAccessAtomic_prefix____8bef4c7fff8f4893b56954031c2e7508___/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-07-04 07:22] Jiayili1 commented on #20522
This issue is repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170704.01/workItem/System.IO.UnmanagedMemoryStream.Tests/analysis/xunit/System.IO.Tests.Uma_ReadWriteStructArray~2FUmaReadWriteStructArray_InvalidParameters

[2017-07-04 07:25] v-haren commented on #20128
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/108/testReport/System.Net.Security.Tests/LoggingTest/EventSource_EventsRaisedAsExpected/

[2017-07-04 07:27] v-haren commented on #18260
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/108/testReport/System.Net.Security.Tests/SslStreamStreamToStreamTest_BeginEnd/SslStream_StreamToStream_Successive_ClientWrite_WithZeroBytes_Success/

[2017-07-04 07:29] dotnet-mc-bot opened #21853 "Test: System.Net.WebSockets.Client.Tests.KeepAliveTest/KeepAlive_LongDelayBetweenSendReceives_Succeeds failed with "System.Net.WebSockets.WebSocketException""
Opened on behalf of @Jiayili1

The test `System.Net.WebSockets.Client.Tests.KeepAliveTest/KeepAlive_LongDelayBetweenSendReceives_Succeeds` has failed.

System.Net.WebSockets.WebSocketException : The WebSocket is in an invalid state ('Aborted') for this operation. Valid states are: 'Open, CloseSent, CloseReceived, Closed'

        Stack Trace:

           at xunit.console.netcore!<BaseAddress>+0x7e

[2017-07-04 07:55] fanoI commented on #21803
@lextm I hate to write GUI code by hand... maybe I'm strange but I'm not interested if C#/VB.Net is automatically generated rather than XAML or well JSON but I want to design the windows graphically.
All the modern .Net UI frameworks are a step back respect to Winforms too in this aspect.

Interesting analysis on the current situation in your blog post, thank you!

@richlander the "port to core" l

[2017-07-04 07:58] Jiayili1 opened #21854 "System.Net.Mail.Tests.LoggingTest.EventSource_EventsRaisedAsExpected failed"
Detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170704.01/workItem/System.Net.Mail.Functional.Tests/wilogs

Configuration:
OSX.1012.Amd64-x64

[code]

[2017-07-04 08:01] dotnet-mc-bot opened #21855 "Test: System.Net.Sockets.Tests.DualModeAcceptAsync/AcceptAsyncV6BoundToAnyV6_Success failed with "System.TimeoutException""
Opened on behalf of @Jiayili1

The test `System.Net.Sockets.Tests.DualModeAcceptAsync/AcceptAsyncV6BoundToAnyV6_Success` has failed.

System.TimeoutException : Timed out while waiting for either of client and server connections...

        Stack Trace:

           at System.Net.Sockets.Tests.DualModeAcceptAsync.DualModeConnect_AcceptAsync_Helper(IPAddress listenOn, IPAddress connectTo) in /Users/b

[2017-07-04 08:13] karelz commented on #21824
I am not sure if the above is sufficient for SqlClient team (@saurabh500?)
I would personally ask for isolated repro which does not involve VSCode. It is pain to debug large repros, it costs extra hours / days.

Typical tricks to create isolated repro is to debug through the large repro and take out the pieces which are important & sufficient to reproduce the problem. Incl. initial setup, etc. The

[2017-07-04 08:15] karelz commented on #16766
I think there is limitation of 4GB large object in GC heap. That would translate to 2G UTF16 string.

[2017-07-04 08:19] karelz commented on #21809
@AlexGhiondea @joperezr are area owners and should do first-level API review. If they are happy with it, they will be able to mark it 'api-ready-for-review'.

[2017-07-04 08:24] hughbe commented on #21825
Yeah I'd be happy to - I'm kinda busy in these final few weeks so it might have to wait till the weekend.

These are the kind of small changes that add up and make people's lives easier :)

[2017-07-04 08:50] v-haren commented on #21820
13:31:27   chmod +x /mnt/resource/j/workspace/dotnet_corefx/master/debian8.4_release/bin/testhost/netcoreapp-Linux-Release-x64//dotnet
13:31:27   /mnt/resource/j/workspace/dotnet_corefx/master/debian8.4_release/bin/testhost/netcoreapp-Linux-Release-x64//dotnet xunit.console.netcore.exe System.Composition.AttributeModel.Tests.dll  -xml testResults.xml -notrait Benchmark=true -notrait category=nonne

[2017-07-04 09:04] yvanin commented on #16766
Exactly 2GB and larger throws OutOfMemory exception in the string constructor in .NET.
Slightly less works in .NET but trips up SetEnvironmentVariable in kernel32.dll.

And it looks like other OSes would throw [ERROR_NOT_ENOUGH_MEMORY](https://github.com/dotnet/coreclr/blob/3bf3915549eaa3c475f9dd899d9a6265dcde9908/src/pal/src/misc/environ.cpp#L662-L669).

Should ERROR_NO_SYSTEM_RESOURCES and ERROR

[2017-07-04 09:48] karelz commented on #21832
cc @stephentoub

[2017-07-04 10:27] karelz commented on #21855
One occurrence only, moving to 2.1

[2017-07-04 10:27] karelz commented on #21854
One occurrence only, moving to 2.1

[2017-07-04 10:41] #20345 closed

[2017-07-04 10:44] sergiivolchkov commented on #2949
@trailheadtechnology support for ambient transactions seems to be tracked by issue https://github.com/dotnet/corefx/issues/12534, which is currently set to 2.1.0 milestone, i.e. this does not seem to be included with core 2.0.

[2017-07-04 10:47] ViktorHofer commented on #21720
Yes I'm investigating and following up on that here: https://github.com/dotnet/corefx/pull/21734

If I don't find the root cause by today I will just disable this one blob sanity check for CookieContainer. I still think it's somehow related to reflection...

[2017-07-04 11:00] ViktorHofer commented on #21720
@tarekgh we get different results when serializing a CookieContainer object which has a CompareInfo object in it on OSX. The serialized blob doesn't contain the m_name field value: https://www.diffchecker.com/wIO3OQ2U

This is the serialized object: `new System.Net.CookieContainer(10, 5, 1024);`

Any idea why this is happening?

[2017-07-04 11:11] tmds commented on #14041
Perhaps also consider a `public Socket(SafeCloseSocket)`?

On Linux, the address family, socket type and protocol can be retrieved via as `SO_DOMAIN`, `SO_PROTOCOL`, `SO_TYPE`. `SO_TYPE` is POSIX, the other two are not.
When the OS does not support retrieving the values, they can be set to the enums `Unknown` value.

[2017-07-04 11:49] stephentoub commented on #21832
If that's the only need for unsafe, you might be able to.  C# may end up supporting `stackalloc`'ing directly into a `Span`, in which case it likely would not require using `unsafe`.

[2017-07-04 11:52] stephentoub opened #21857 "Unix_NonExistentPath_ReadOnlyVolume failed in CI"
Failed on Debian 8.7 CI machine:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/be0145cb201f0154f7d5b2f878f9e495bdd29a83/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.FileInfo_Delete~2FUnix_NonExistentPath_ReadOnlyVolume
[code]

[2017-07-04 14:47] madelson commented on #20497
Thanks @Priya91 here's my attempt:

The .NET `Process` class defaults to using the `Console.OutputEncoding` and `Console.InputEncoding` properties to set the encoding for its `StandardInput`, `StandardOutput`, and `StandardError` properties.

However, sometimes this does not match the encoding that the underlying process expects, leading to issues particularly with non-ASCII characters.

To accoun

[2017-07-04 14:47] ViktorHofer commented on #20715
That's what I noticed a few days ago. E.g. a field in CompareInfo in corert had a name difference to the same field in coreclr. I guess the code should probably be aligned to match each other?

[2017-07-04 14:59] davidsh commented on #2857
Unfortunately, no.  You need to be on a more recent version of .NET Framework in order to use the WinHttpHandler.

[2017-07-04 15:52] danmosemsft commented on #21857
https://github.com/dotnet/corefx/issues/21823

@MaggieTsang

[2017-07-04 15:56] safern commented on #21804
I've forced them to be built in chk mode for the affected configurations so that we have a clean run and testResults.xml generated. This is the PR: https://github.com/dotnet/corefx/pull/21805

[2017-07-04 16:04] tmds opened #21865 "Zero byte Socket.ReceiveAsync does not complete when peer disconnects on Unix"
When there is a pending Socket.ReceiveAsync for count==0 and the peer disconnects, the Completed event does not fire.

This is caused by a workaround for macOS. When the peer disconnects, GetBytesAvailable returns 0.
https://github.com/dotnet/corefx/blob/29fb3994aa493d68bb080063287f200a3a50167d/src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs#L619-L640.

CC @stephentoub

repro:
[cod

[2017-07-04 17:17] karelz commented on #21865
@tmds which OS did you reproduce it on? Linux?
I wonder if it is the same behavior on Windows. And on .NET Framework.

[2017-07-04 17:37] tmds commented on #21865
I reproduced this on Linux. I don't expect this to reproduce on Windows.

[2017-07-04 18:44] richlander commented on #21803
@fanoI There is a chance. I think that @karelz added that label because that's the category of the work. I don't think he added it as an endorsement or the like. As I said, it isn't something we are focused on at the moment.

[2017-07-04 18:45] PilgrimViis commented on #21624
@stephentoub, looks like structure **ip_mreq_source** defined in linux slightly different then in windows.
Windows (https://msdn.microsoft.com/en-us/library/windows/desktop/ms738704(v=vs.85).aspx)
[code]
Linux (http://man7.org/linux/man-pages/man7/ip.7.html)
[code]
When I changed bytes order it's stopped work on Windows, but started work on linux.
Can we do something with it? I've only one idea -

[2017-07-04 19:20] #21845 closed

[2017-07-04 20:00] AlbertoMonteiro commented on #16994
Downgrade from 4.30. to 4.1.0 works for me too.
When I use the 4.3.0 package, the following code doest not work: `System.Runtime.InteropServices.RuntimeInformation.OSDescription` , on AWS lambda, it says that is not supported on the OS.

[2017-07-04 20:46] #19605 closed

[2017-07-04 20:48] caesar1995 commented on #20212
Fixed in #21670.

[2017-07-04 20:48] #20212 closed

[2017-07-04 21:16] zhengbli opened #21867 "Question: how to store RSA piravate keys?"
With 2.0 now the private part of `RSAParameters` cannot be serialized any more, so what is the recommended way to store the private key? Thanks!

[2017-07-05 01:07] rgottumu commented on #21718
sorry for the late reply.. I tested on various environments and finally figured out the root cause. My dev sql instance is still on Sql Server 2008 R2 (RTM). I can connect every instance that I have.

[2017-07-05 02:40] danmosemsft commented on #21443
@swgillespie , @joperezr or @safern can help get you a repro if you need it.

[2017-07-05 02:52] dotnet-mc-bot opened #21870 "Test failure: System.Linq.Expressions.Tests.ArrayBoundsTests/SingleNegativeBoundErrorMessage(useInterpreter: True)"
Opened on behalf of @danmosemsft

The test `System.Linq.Expressions.Tests.ArrayBoundsTests/SingleNegativeBoundErrorMessage(useInterpreter: True)` has failed.

Assert.Equal() Failure\r
    Expected: (null)\r
    Actual:   Arithmetic operation resulted in an overflow.

        Stack Trace:

           at System.Linq.Expressions.Tests.ArrayBoundsTests.SingleNegativeBoundErrorMessage(Boolean useInterp

[2017-07-05 03:16] justcoding121 commented on #4721
Not to Hijack this. For those who end up here and can't wait to for support for long waiting Server Name Indication (SNI) and ALPN support for SslStream we found a hack to support both. Should work cross platform, we do it by Peeking and modifying underlying network stream that SslStream uses. Published in below project.

https://github.com/justcoding121/StreamExtended

[2017-07-05 03:53] danmosemsft commented on #21867
@bartonjs

[2017-07-05 03:54] danmosemsft commented on #17764
@joperezr this can be in the UWP milestone right?

[2017-07-05 03:57] danmosemsft commented on #21276
There is still an issue disabled for this. @safern if it passes can yo uremove the attribute?
        [ActiveIssue(21276, TargetFrameworkMonikers.Uap)]

[2017-07-05 03:58] danmosemsft commented on #20522
@Jiayili1 please reactivate if it happens in 2 days.

[2017-07-05 03:58] #20522 closed

[2017-07-05 05:40] bartonjs commented on #21867
@zhengbli The private key fields of RSAParameters have always been \[NonSerialized\] (in versions of .NET which had serializers).  What were you doing before that isn't working anymore?

[2017-07-05 05:47] zhengbli commented on #21867
https://github.com/dotnet/corefx/commits/master/src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/RSAParameters.cs

The non serialization attributes were added recently. I didn't use this with non-core dotnet before. I am curious what is the recommended way to save a generated key / parameters, as i didn't find one that doesn't require serialization of the private key

[2017-07-05 05:55] v-haren commented on #14673
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/109/testReport/System.Net.Sockets.Tests/SendReceiveSync/SendRecvPollSync_TcpListener_Socket_listenAt__127_0_0_1__pollBeforeOperation__True_/

[2017-07-05 05:56] hughbe commented on #20951
Oh nice - I did run into the issue @weshaggard mentioned, but I assumed it was just because I didn't have an active directory server running!

The fix will enable plenty of new tests I think :)

[2017-07-05 06:04] dotnet-mc-bot opened #21875 "Test: System.Security.Cryptography.X509Certificates.Tests.CertTests/TestVerify failed with "Interop+AppleCrypto+AppleCommonCryptoCryptographicException : No error.""
Opened on behalf of @Jiayili1

The test `System.Security.Cryptography.X509Certificates.Tests.CertTests/TestVerify` has failed.

Interop+AppleCrypto+AppleCommonCryptoCryptographicException : No error.

        Stack Trace:

           at Internal.Cryptography.Pal.SecTrustChainPal.Execute(DateTime verificationTime, Boolean allowNetwork, OidCollection applicationPolicy, OidCollection certificatePolic

[2017-07-05 06:10] Jiayili1 commented on #21076
This test failed again: System.Security.Cryptography.X509Certificates.Tests.ChainTests/VerifyWithRevocation

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170705.01/workItem/System.Security.Cryptography.X509Certificates.Tests/analysis/xunit/System.Security.Cryptography.X509Certificates.Tests.ChainTests~2FVerifyWithR

[2017-07-05 06:12] dotnet-mc-bot opened #21876 "Test: System.Linq.Parallel.Tests.ParallelQueryCombinationTests/SequenceEqual_OperationCanceledException(operation: SelectMany-ResultSelector) failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.Linq.Parallel.Tests.ParallelQueryCombinationTests/SequenceEqual_OperationCanceledException(operation: SelectMany-ResultSelector)` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.OperationCanceledException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Linq.Parallel.Tests.AssertThrows.Eventual

[2017-07-05 06:16] Jiayili1 commented on #20522
@danmosemsft I will check this issue in recent 2 days.

[2017-07-05 06:19] tmds commented on #21865
@karelz confirming this doesn't reproduce on Windows using .NET framework. Also on Linux it doesn't reproduce using .NET Core 1.x.

[2017-07-05 06:22] Jiayili1 commented on #21720
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170705.01/workItem/System.Runtime.Serialization.Formatters.Tests/analysis/xunit/System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests~2FValidateAgainstBlobs(obj:%20AdjustmentRule%20%7B%20DateEnd%20=%201955-12-31T00:00:00.0000000,%20DateStart%20=%201900

[2017-07-05 07:23] davkean opened #21880 "Provide common Task results for "true", "false", "empty", "null", etc"
It's extremely common both in the framework itself and applications built on top of the framework to statically cache your own versions of Task<T> with common results retrieved via Task.FromResult, similar to:

[code]

Just a few examples in 5 minutes of searching, are:

[AsyncTaskCache in mscorlib](http://referencesource.microsoft.com/#mscorlib/system/runtime/compilerservices/AsyncMethodBuilder.c

[2017-07-05 07:25] bartonjs commented on #21076
@Jiayili1 This is a different problem than the one originally reported (and fixed), please open a new issue for it.

[2017-07-05 07:25] #21076 closed

[2017-07-05 07:32] bartonjs commented on #21867
True, but 1.0/1.1 didn't have any serializers, so we didn't have any serialization attributes.

We don't really have a recommended way.  It's just a per-application decision and per-application code.  I'm hoping we'll have better support for importing and exporting keys with standard file formats in the next release; so then you can decide to save it to (e.g.) an encrypted PKCS#8 file.

[2017-07-05 07:36] Jiayili1 commented on #20024
Failed on Core Tests (2.0.0) again, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170705.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ResponseStreamTest~2FReadAsStreamAsync_ValidServerResponse_Success(transferType:%20ContentLength,%20transferError:%20None)

[2017-07-05 07:50] dotnet-mc-bot opened #21881 "Test: System.Threading.Threads.Tests.ThreadTests/SleepTest failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Threading.Threads.Tests.ThreadTests/SleepTest` has failed.

Assert.True() Failure
    Expected: True
    Actual:   False

        Stack Trace:

           at System.Threading.Threads.Tests.ThreadTests.SleepTest() in /root/corefx/src/System.Threading.Thread/tests/ThreadTests.cs:line 773
Build : 2.0.0 - 20170705.01 (Core Tests)
Failing configurations:

[2017-07-05 07:50] Jiayili1 commented on #21881
Closed issue: https://github.com/dotnet/corefx/issues/20173

[2017-07-05 09:19] JonHanna commented on #21880
If they're genuinely that common (I've done this myself in libraries but I'm not sure how common the need is generally) then it might make more sense for `Task.FromResult(false)` to just return a cached singleton, unless it would also be likely that other people were depending on different calls returning different instances, similarly to how `Task.Delay(0)` returns the same cached instance as `Ta

[2017-07-05 12:21] peter-bannerflow commented on #7812
I also have this issue in production. My application using .NET Core 1.1 and is deployed as a web app in Azure. At most times, I see the `A security error occurred`-error, but I have also seen the `The buffers supplied to a function was too small`-error.

[2017-07-05 13:57] mattwoberts commented on #9788
@AlexGhiondea Nice one, that seems to have solved it for me :)

[2017-07-05 14:27] stephentoub commented on #21624
@davidsh, @cipop, it looks like there's no SetMulticastOption-equivalent for AddSourceMembership instead of AddMembership.  Is there a reason for that?  SetMulticastOption is able to smooth over the platform-specific differences here, but leaving it up to the caller to bake into their C# the native C struct data requires them to bake in the platform-specific nature of the option.

@PilgrimViis, I

[2017-07-05 15:03] PilgrimViis commented on #21624
@stephentoub, thanks for advice, but I already did it. I hope the community will find out some clever solution for this problem and I'll remove this dirty hack in future.

[2017-07-05 15:08] tmds commented on #21865
@karelz I think this should be fixed for 2.0. Not detecting peer close leads to all sorts of resource leaks.

[2017-07-05 15:12] bartonjs commented on #21435
* master fixed in PR #21737
* 2.0 fixed in PR #21736
* 1.1 fixed in PR #21631

[2017-07-05 15:12] #21435 closed

[2017-07-05 15:13] stephentoub opened #21886 "MakeTransparent_GrayscalePixelFormat_ThrowsArgumentException failed in CI on desktop"
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/793/consoleText
[code]

[2017-07-05 15:23] ericstj commented on #21781
This is now irrelevant due to https://github.com/dotnet/corefx/pull/21685

[2017-07-05 15:23] #21781 closed

[2017-07-05 15:24] vancem commented on #21829
The performance counter API is very Win32 specific, so making it more Win32 specific is not a problem, so this change is 'on the table'.

However adding these values of course does increase complexity.    Can you describe the end-to-end scenario (is this the only thing needed to unblock it).

@brianrob owns the final decision but if you can articulate a useful end-to-end scenario that just needs t

[2017-07-05 15:35] stephentoub commented on #21857
Seems to be failing fairly consistently on Debian, e.g.
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/d5a56dea4a20a3e1bdecc38b01e9ac4993a4563f/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.FileInfo_Delete~2FUnix_ExistingDirectory_ReadOnlyVolume

[2017-07-05 15:35] stephentoub commented on #21857
Closing as dup of https://github.com/dotnet/corefx/issues/21823

[2017-07-05 15:36] stephentoub commented on #21823
It seems to be failing as well fairly consistently on Debian.

[2017-07-05 15:39] stephentoub commented on #21880
When Task.FromResult was introduced, we went back and forth on whether it should always return a new task or whether it should use the same cache that async methods do, e.g. http://source.dot.net/#System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncMethodBuilder.cs,808, which covers the values being mentioned.  We could certainly revisit that decision; I don't have a strong argument fo

[2017-07-05 15:40] davidbraden commented on #21829
The issue I've seen is when using the object PerformanceCounter obtained from PerformanceCounterCategory.GetCounters() for the `LogicalDisk` category.
The CounterType property on PerformanceCounter isn't a member of the enum for some counters despite what the method signature indicates. This then causes a problem when using the enum to convert the type to a string.

[2017-07-05 15:43] stephentoub commented on #21880
true, false, and null are all included in the aforementioned async cache.  Adding empty string to that could add non-trivial overheads for when T == string.

[2017-07-05 15:55] tarekgh commented on #21720
are we running on exactly same environment? I mean I am seeing in the original serialization data en-US is used. Are we using exactly the same on OSX? could be the used culture is the Invariant which has empty string name?

[2017-07-05 15:57] ianhays commented on #15986
Hey @JohnRusk, please comment on #10054 instead, as this issue is a duplicate and the discussion is focused in #10054.

[2017-07-05 16:00] ViktorHofer commented on #21720
Yes, it's the same test which passed on Windows but failed on OSX (Darwin 16.4). I'm not 100% sure which Culture is used for the CookieContainer. Will check later.

[2017-07-05 16:01] danmosemsft commented on #21720
I saw this cookiecontainer failure on a Unix run yesterday..

[2017-07-05 16:05] joshfree commented on #21804
@VSadov could you take a look?

[2017-07-05 16:05] ViktorHofer commented on #21720
Could be. But what I'm asking Tarek here is about the missing field name value. If you saw the test falling it could be something else in the blob.

[2017-07-05 16:08] justdmitry commented on #7812
@peter-bannerflow if possible - try to switch framework from `netcoreapp1.1` to `net46`/`net461` and check if error disappear. I can't switch my app to netcore due to dependencies, but reverse switch should be ok. Let's check does this bug depend on framework :)

[2017-07-05 16:24] stephentoub commented on #21865
I agree it should ideally be fixed.  Do you have a suggestion for how? Previously ReceiveAsync with a 0 count would complete immediately on macOS, which defeats the purpose.  The referenced change made it work correctly on macOS, but introduced this issue for both Linux and macOS.  Any fix should ensure we don't regress the macOS behavior (there's already a test for it) and should address the peer

[2017-07-05 16:25] davidsh commented on #7812
As I described above, this issue is not related to .NET Core nor .NET Framework.  It is a Windows OS bug in low level SCHANNEL and deals with specific cipher suites used in TLS/SSL handshakes.

The only fix available is to upgrade the Windows OS to Windows Server 2016 or the latest Windows 10 OS.

[2017-07-05 16:27] davidsh commented on #21624
The multicast APIs were added to the .NET Framework a long time ago (about 10 -15 years ago).  At the time, the API surface added was sufficient.

If there is a desire/need to expand the API surface/features for multicast in Sockets, then we can review the proposal.  Testing multicast is difficult in the CI system and so we would want to have additional offline testing done in a controlled environ

[2017-07-05 16:32] fadimounir commented on #21379
Yes it is. I'm planning on looking into this issue this week.

[2017-07-05 16:48] gokarnm commented on #21591
Thanks @Petermarcu! Amazon Linux isn't based on a single upstream Linux distro. It has a degree of compatibility with RHEL 7, many of the packages have EL7 as their upstream.

Does each minor release version for a given Linux distro (e.g. [RHEL](https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json#L275)) needs to be listed in runtime.json in case minor versions

[2017-07-05 16:53] safern commented on #21276
Sure

[2017-07-05 16:58] safern commented on #21850
@krwq could you take a look please?

[2017-07-05 17:00] danmosemsft commented on #21720
I can't find the Unix failure now -- it was in a PR. I see SortedList failing in 2.0 now (I guess this run had the change to skip CookieContainer):

https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170705.02/workItem/System.Runtime.Serialization.Formatters.Tests/analysis/xunit/System.Runtime.Serialization.Formatters.Test

[2017-07-05 17:01] danmosemsft commented on #21720
Aha, here's the CookieContainer failure showing up in Windows 10 and in Fedora 26 (before you disabled the check, obviusly)

https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170705.01/workItem/System.Runtime.Serialization.Formatters.Tests/analysis/xunit/System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests~2

[2017-07-05 17:08] danmosemsft commented on #21881
fixed

[2017-07-05 17:08] #21881 closed

[2017-07-05 17:09] danmosemsft commented on #21875
This is known and @bartonjs is following up with Apple.

[2017-07-05 17:12] joperezr commented on #17764
oh sorry, yes it should.

[2017-07-05 17:17] joperezr commented on #21443
Will follow up offline with @swgillespie so that he can get a repro.

[2017-07-05 17:24] MattGal commented on #21813
@danmosemsft we do not intentionally modify ulimit at all in machine setup.  For our OSX machines (which were basically set up once then cloned, as they are not VMs) **_ulimit -a_** shows 256 open files and 8 MB stack size, which is lower than the init-tools setting.  I'm assuming this should be upped to at least 2K open files, so if you can provide specific guidance of requirements in a core-eng

[2017-07-05 17:55] caesar1995 commented on #18784
This issue is blocking UWP work for S.N.HttpListener.
The same tests failed in #20425 (netcore scenario) also failed in UAP mode, for the same reason: `WebHeaderCollectionType` is set to `Unknown` by default, which skip the validation part: [here](https://github.com/dotnet/corefx/blob/a82f54bd51e22ec3eb14eb5d8f572f022becb8e3/src/System.Net.WebHeaderCollection/src/System/Net/WebHeaderCollection.cs#

[2017-07-05 17:55] Petermarcu commented on #21591
If its compatible at the glibc level and has the other dependencies/versions of the dotnet package dependencies, then we can just think of it as `linux-x64` from a rid graph perspective. We're also trying not to update the runtime.json.

[2017-07-05 18:11] DavidGoll commented on #21853
@Diego-Perez-Botero is this related to your recent test changes?

[2017-07-05 18:11] jakesays commented on #18394
Sockets is hardly a replacement for remoting.

[2017-07-05 18:12] #20359 closed

[2017-07-05 18:12] danmosemsft commented on #16766
@yvanin If we're changing the limit from 32KB to 2GB it seems reasonable to me to change from ArgumentException to OutOfMemoryException. Whatever it is ideally it would be the same on all platforms. What does Mono do?

Do you have any interest in  a PR?

[2017-07-05 18:18] chaseaucoin commented on #18394
Is there more to that synopsis? Which parts "Specifically" are you interested in that you don't get from sockets? BTW, most IPC is handled via socket. Are you concerned about higher level abstractions or is it something else?

[2017-07-05 18:18] krwq commented on #21811
@eByte23 any particular reason why to choose deprecated DSA algorithm?

Automatic validating with DSA is currently not supported in netstandard. I currently do not know about the future plans. (@karelz & @bartonjs would have to comment)

For your case one way to validate would be to extract DSA key manually, i.e.:

[code]

and pass the key to the CheckSignature method. **If you simply do that it w

[2017-07-05 18:21] joshfree commented on #11516
@joperezr could you take a quick look?

[2017-07-05 18:22] safern opened #21890 "No testResults.xml generated for System.Data.*.Tests in UapAot when running in arm"
- System.Data.SqlClient.ManualTesting.Tests
- System.Data.SqlClient.Stress.Tests
- System.Data.SqlClient.Tests

These tests are crashing in arm.

@joperezr could you take a look at which tests are causing it to crash the arm machines?

cc: @saurabh500 @danmosemsft @joshfree

[2017-07-05 18:25] safern opened #21891 "ILC is failing to compile multiple test projects"
- System.CodeDom.Tests
- System.Collections.Concurrent.Tests
- System.Collections.Immutable.Tests
- System.Collections.NonGeneric.Test

@joshfree who would be the right person to take a look at this?

cc: @danmosemsft

[2017-07-05 18:25] krwq commented on #21811
@karelz we removed this capability in this PR: https://github.com/dotnet/corefx/pull/19189 - we should either close this or change milestone

[2017-07-05 18:32] danmosemsft opened #21892 "tests periodically fail with "too many open files" on macOS machines"
We periodically have tests fail on our macOS machines with `System.IO.IOException : Too many open files`

eg
https://github.com/dotnet/corefx/issues/20226
https://github.com/dotnet/corefx/issues/21813
https://github.com/dotnet/corefx/issues/12503
https://github.com/dotnet/corefx/issues/18462

According to @MattGal " For our OSX machines (which were basically set up once then cloned, as they are no

[2017-07-05 18:34] danmosemsft commented on #21813
Tracking this with a specific issue https://github.com/dotnet/corefx/issues/21892

[2017-07-05 18:34] #21813 closed

[2017-07-05 18:35] joshfree commented on #21891
@safern sync with @tijoytom offline - who investigates next depends on the error, but when in doubt please start with @tijoytom for all things ILC

[2017-07-05 18:41] Diego-Perez-Botero commented on #21853
As far as I can tell, the "detail" link doesn't contain any logs - am I missing something?

It may be that the #21600 fix has surfaced some reliability issue with this particular test. Before #21600, the UWP implementation of ClientWebSocket would continue to signal "success" on CloseAsync, even when the underlying connection was already broken (e.g., premature connection close by the remote serve

[2017-07-05 18:42] bartonjs commented on #21811
Oh, yep, we documented it.  https://github.com/dotnet/corefx/wiki/ApiCompat#signedxml-will-not-be-able-to-find-public-key-for-dsa-certificates.  Thanks for reminding me, @krwq.

@eByte23 The problem is that DSA is part of netcoreapp20, but not netstandard20.  We built the SignedXml package as a netstandard20 package, and therefore it can't knowingly talk about DSA.

.NET Framework, until recently,

[2017-07-05 18:43] #21870 closed

[2017-07-05 18:46] caesar1995 commented on #19754
We should not close this issue, because it hasn't been completely fixed.

The `UnknownHeaders_Success_Large()` test remains disabled. We should Reopen the issue, and mark it as Future.

@karelz @davidsh

[2017-07-05 18:48] danmosemsft commented on #21823
Another thing you could do is have it capture and log the console output, which may be somethning like `[sudo] password for foo` indicating that it is jammed.

[2017-07-05 19:03] karelz commented on #21811
@bartonjs can help drive the decision.

[2017-07-05 19:16] #20951 closed

[2017-07-05 19:19] sepidehMS opened #21895 "Fix issues in ProcessManager.Win32"
Issues are mentioned in https://github.com/dotnet/corefx/pull/21746.

[System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Win32.cs](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Win32.cs)

cc: @JeremyKuhne

[2017-07-05 19:33] CIPop commented on #21282
@brentschmaltz, @karelz /cc: @PeterSmithRedmond, @DavidGoll

Any updates on `WindowsIdentity` status for UWP? This is blocking UWP release.

[2017-07-05 19:56] tmds commented on #21865
@stephentoub I don't have a mac, so I can't reproduce or try to fix it, but I do have a suggestion...

For this code:
[code]
The behavior is ReceiveAsync doesn't complete until there is some data, and then Available returns 0?

According to the `kqueue` man page, the `data` field for the read event contains the number of available bytes.
If this value is correct, it can be used to distinguish betw

[2017-07-05 20:06] joperezr commented on #21890
I believe we know what the issue is already and AFAIK @saurabh500 was working on it. https://github.com/dotnet/corefx/issues/21598

Unless this is a different issue.

[2017-07-05 20:06] krwq commented on #19588
This was already fixed in https://github.com/dotnet/corefx/pull/21569

[2017-07-05 20:06] #19588 closed

[2017-07-05 20:07] stephentoub commented on #21865
The behavior of ReceiveAsync with a 0 count is supposed to be that the returned task doesn't complete until data is available.  The previous bug was that that behavior was happening on Windows and Linux, but on macOS ReceiveAsync with a 0 count was completing its task immediately, regardless of whether any data was available; most likely the macOS recv implementation special-cased 0 as a nop and r

[2017-07-05 20:09] AtsushiKan commented on #21203
Closing since question has been answered. This isn't the place to track the issue of moving ILC runs to an appcontainer.

[2017-07-05 20:09] #21203 closed

[2017-07-05 20:09] krwq commented on #19587
I'm closing this as a duplicate of https://github.com/dotnet/corefx/issues/21483 I'll assign that one to myself

[2017-07-05 20:09] #19587 closed

[2017-07-05 20:10] saurabh500 commented on #21890
This must be some other issue. ManualTests and StressTests are always skipped in the CI and the IntegratedAuth tests were never re-enabled.

[2017-07-05 20:11] danmosemsft commented on #21892
@MattGal tells me that the OSX machines that run tests have not had init-tools.sh run on, so they're using 256.

[2017-07-05 20:13] DavidGoll commented on #21853
We'll monitor and address (if necessary) for 2.1.0.

[2017-07-05 20:13] krwq commented on #21850
Talked with Santi offline, will check this again since helix seems to be running outerloop

[2017-07-05 20:15] safern commented on #21850
Thanks @krwq let me know if I can help.

[2017-07-05 20:16] stephentoub commented on #21886
Failed again here:
https://github.com/dotnet/corefx/pull/21746#issuecomment-313213909
@sepidehMS, @hughbe

[2017-07-05 20:17] joperezr commented on #11516
No. TypeConverter doesn't have it's own package any more as it is part of both of our metapackages (netcoreapp and uap). This means that the assembly that is used for UWP6.0 will always contain the rd.xml, and when people target uap10.0 (netcore50) the behavior will fall back to whatever it used to be when we shipped netcore50, which is to resolve the netstandard1.0 asset that doesn't have rd.xml.

[2017-07-05 20:18] joperezr commented on #21890
this is ILC tests, so if you just skipped them by adding an `[ActiveIssue]` that won't do the trick. The reason is that ILC tests do not support assembly loading at execution time, only at load time, so if your test assembly depends on on sni.dll, which I believe it still is, then this will crash the execution. I haven't actually tried to repro this, but I would bet that this is the problem.

[2017-07-05 20:19] safern commented on #21891
Thanks, I will sync with @tijoytom offline

[2017-07-05 20:20] yizhang82 commented on #21442
@botaberg Please take a look (I believe your ARM issue is already addressed by Tijoy adding the list of dependencies)

[2017-07-05 20:21] saurabh500 commented on #21890
For ManualTests, the skip happens when an environment variable is checked during runtime. When not found, the test is skipped. This is done via a customer Xunit attribute in our tests.

[2017-07-05 20:27] caesar1995 commented on #18188
I enabled the tests and tested on my machine. Didn't observe any failures.

I will remove the [ActiveIssue] label. We can reopen the issue if there are any failures.

@davidsh

[2017-07-05 20:34] tmds commented on #21865
Ah, I don't think kevent knows about count. So this is due to the synchronous attempt that is done before going async? So, perhaps the synchronous attempt can be skipped for count==0?

[2017-07-05 20:40] danmosemsft commented on #21392
Plan here is to inject \LOCAL\ into the paths the tests use when in appcontainer, and we'd be requiring app code to do the same: unless Windows can improve things.

[2017-07-05 20:42] danmosemsft commented on #21481
@yymsft @davidsh @DavidGoll moving to post 6.0 since this is not new and does not affect our current goals.

[2017-07-05 20:43] shmao commented on #19585
@DnlHarvey any updates on this issue?

[2017-07-05 20:45] danmosemsft commented on #20117
This is a test issue only -- it should "Just work" and if it doesn't, we likely won't have time to address it this release, but if it does, test coverage is goodness.

[2017-07-05 20:46] danmosemsft commented on #17470
dupe of https://github.com/dotnet/corefx/issues/16422

[2017-07-05 20:46] #17470 closed

[2017-07-05 20:49] danmosemsft commented on #15284
https://github.com/dotnet/corefx/issues/21025 covers the CoreFX API's. This is to do similar work for FileStream.

[2017-07-05 20:50] danmosemsft commented on #12878
Covered by https://github.com/dotnet/corefx/issues/15284

[2017-07-05 20:50] #12878 closed

[2017-07-05 21:00] bartonjs commented on #21436
Fixed by #21838 (master) and #21887 (rel/2.0)

[2017-07-05 21:00] #21436 closed

[2017-07-05 21:01] stephentoub commented on #21865
I'm not sure that would be sufficient.  After registering with kevent/epoll, we still need to check again with a "synchronous" check as to the status, as an event may have arrived before the registration.

Is there anything we can query to determine whether the peer has disconnected?  We could then just change the condition checked from "available != 0" to "available != 0 || peerDisconnected".

[2017-07-05 21:09] jamesqo opened #21898 "API Request: Debug.AssertEval"
## Background

I've been running more and more into methods lately that perform some kind of action, and return a `bool` indicating whether they succeed. From the BCL, `IEnumerator.MoveNext` or `HashSet.Add` would be examples. I don't deal with specifically those methods often, but as I've been working on a Xamarin.Android app, I've run into methods like `ISharedPreferencesEditor.Commit()`, `Activ

[2017-07-05 21:14] bbowyersmyth opened #21899 "Should ReadOnlySpan<char>.ToString() return the contents of the span?"
Trying out the new Spans for the first time and I was expecting `ReadOnlySpan<char>.ToString()` to be an easy way to do a conversion. It just returns the default type name.

I understand that `ReadOnlySpan<T>` is an array-like structure but with https://github.com/dotnet/corefx/issues/21395 coming `ReadOnlySpan<char>` is going to look string-like.

Is their any precedent to `Something<char>.ToStri

[2017-07-05 21:14] stephentoub commented on #21898
Why haven't you just added your own helper for it in your project?
[code]

[2017-07-05 21:14] yvanin commented on #16766
Mono doesn't check for the length but throws unrelated NullReferenceException when using a 2GB string in Environment.SetEnvironmentVariable.

[2017-07-05 21:15] yvanin commented on #16766
I can take this issue.
To confirm, the approach would be to remove the length check and throw System.OutOfMemoryException when last Win32 error is ERROR_NO_SYSTEM_RESOURCES or ERROR_NOT_ENOUGH_MEMORY.
Does that look right?

[2017-07-05 21:18] stephentoub commented on #21898
Also, how is this different from Trace.Assert?

[2017-07-05 21:23] karelz commented on #19754
It's getting messy what is tracked where. @caesar1995 can you please open a new bug to track the remaining part?
The main part was fixed in both 2.0 and 2.1, by moving it to Future we will lose track of that track in issues / make it hard to reason about. Thanks!

[2017-07-05 21:23] #19754 closed

[2017-07-05 21:24] omariom commented on #21899
`Span<T>` is a too low level type to override `ToString`. There could be an extension method for `ReadOnlySpan<T> ` but more practical approach would be to add another ctor to`string` which will be taking `ReadOnlySpan<T> `

[2017-07-05 21:26] tmds commented on #21865
If there is data pending at registration, it will also cause an event. It isn't necessary to check this.
Skipping the synchronous attempt should work.

recvmsg with PEEK

[2017-07-05 21:26] tijoytom commented on #21891
@safern I have opened nutc issue for this one .. all seems to fail on the same nutc issue

[2017-07-05 21:28] safern commented on #21891
thanks :)

[2017-07-05 21:34] caesar1995 opened #21902 "UnknownHeaders_Success_Large() test will hang on Windows sometimes"
Please see the discussions here: https://github.com/dotnet/corefx/issues/19754#issuecomment-301313041

The `UnknownHeaders_Success_Large()` test are still disabled [(See here)](https://github.com/dotnet/corefx/blob/cd20a23b5225a51665d202e99a2a04fbf240f749/src/System.Net.HttpListener/tests/SimpleHttpTests.cs#L128)

[2017-07-05 21:35] stephentoub commented on #21865
Not for edge triggered, right?

And that won't special-case 0 on macOS just like recv appears to special-case 0?

[2017-07-05 21:36] tannergooding commented on #21898
@stephentoub, `Trace.Assert` is filtered on `TRACE` being defined (which may be default for VS, but not necessarily for all builds or all build systems).

As for what I do (as I frequently run into similar issues with various interop code), I have an `ExceptionUtilities` and an `AssertUtilities` class that wraps logging/throwing/etc

[2017-07-05 21:41] stephentoub commented on #19754
@karelz, when asking for a replacement issue, let's please avoid closing the first issue until the replacement is created.  Otherwise it's too easy to get lost (e.g. if @caesar1995 happens to miss the notification of your comment).

(Separately, I don't really understand why we need to close this issue and create another, but I won't argue.)

[2017-07-05 21:42] stephentoub commented on #21898
If you're depending on it in your code, you can also ensure it's set.

[2017-07-05 21:43] danmosemsft commented on #20782
We are unblocked, Jeremy is going to do this.

[2017-07-05 21:45] bartonjs commented on #21875
https://bugreport.apple.com/web/?problemID=33143630 (probably only visible to me, but reported)

[2017-07-05 21:45] caesar1995 opened #21903 "GetContext_InvalidRequest_DoesNotGetContext() throws ObjectDisposedException on UAP mode"
In System.Net.HttpListener, the GetContext_InvalidRequest_DoesNotGetContext() test will crash the UAP test runner. Below are the details in dump:

[code]

After running with -nested, the nested exception has the same StackTrace.

[code]

[2017-07-05 21:46] danmosemsft commented on #21392
We discussed this please go ahead and have our tests inject \LOCAL\ into the paths when `IsUap` is true, so the tests pass. Customer code will have to do the same, we will document that.

[2017-07-05 21:48] tannergooding commented on #21898
I think the point of the proposal here is that there should be a set of Assert functions available where the call is not conditioned but that still only throws under the respective condition (DEBUG, TRACE, etc).

That being said, I think writing a wrapper class for this is trivial enough (and probably rare enough) that I'm not sure its worth being part of CoreFX.

I think that most libraries will

[2017-07-05 21:49] danmosemsft commented on #21876
Unlikely this is UWP specific, more likely some rare timing problem that happened to show up on this ARM run. Moving out of UWP milestone until proven otherwise.

[2017-07-05 21:50] danmosemsft commented on #17764
@joperezr are you taking this - if so please assign to yourself. ...

[2017-07-05 21:51] stephentoub commented on #21898
I understand the point of the proposal.  And I was pushing back on it :)

[2017-07-05 21:52] danmosemsft commented on #21156
@safern at this point, there's no setup required anymore right? Just building from the root with `build -framework:uap` then running the test with `/p:targetgroup=uap /t:buildandtest` should work.

[2017-07-05 21:52] tmds commented on #21865
Right.
I prefer EPOLLONESHOT over EPOLLET.

I mean peek with a 1 byte buffer.

[2017-07-05 21:52] #18584 closed

[2017-07-05 21:53] danmosemsft commented on #21156
Changing the milestone as serial ports is not essential to ship UWP6.0, it's a "would like"

[2017-07-05 21:53] stephentoub commented on #21902
This isn't about performance, is it?  The test hangs.

[2017-07-05 21:54] jamesqo commented on #21898
@stephentoub Thanks for the advice. I guess I could write my own wrapper for this, but it feels really weird to write `DebugExtensions.AssertEval` or even `DebugEx.AssertEval`-- too many case changes. I can accept that this will probably not get into corefx though, it's such a trivial method that exists purely for ergonomics and doesn't add any functionality. I really hope static extension methods

[2017-07-05 21:54] #21898 closed

[2017-07-05 21:54] caesar1995 commented on #21903
cc: @davidsh @DavidGoll @CIPop

[2017-07-05 21:57] safern commented on #21156
Correct. That's enough

[2017-07-05 22:02] stephentoub commented on #21865
We've talked about switching to (or at least experimenting with) EPOLLONESHOT for other reasons, but that's a significant change and likely too big to take into 2.0.

If that works, I agree using recvmsg with MSG_PEEK instead of Available is a good solution.  Do you want to give it a shot?  Our CI system will help validate it on macOS.

[2017-07-05 22:04] cesarbs commented on #4721
@justcoding121 Have you tested it end-to-end? We tried a similar approach in Kestrel thinking we could just inject the ALPN extension in the response, but that causes the TLS handshake to fail because it affects the message hashes that the client and the server compare at the end of the handshake.

[2017-07-05 22:04] caesar1995 commented on #21902
I tried to remove the [ActiveIssue] label and run the test. The test will pass on my local machine without hanging every time.

I will change the title to: ... test hangs on Windows sometimes.

[2017-07-05 22:09] stephentoub commented on #21898
[code]
?

[2017-07-05 22:10] stephentoub commented on #21902
Meaning you can't get it to ever hang?

[2017-07-05 22:12] davkean commented on #21880
I'm completely open to just make `Task.FromResult` return a cached value instead of explicit cached values. What was the concerns last time around this? The overhead of the check?

[2017-07-05 22:15] davidsh opened #21904 "User-provided SSL callback exceptions are rethrown incorrectly"
The current .NET Core code is behaving differently than .NET Framework when exceptions are thrown in a user-provided callback for the HttpClient ServerCertificateCustomValidationCallback.

In .NET Framework, any exception bubbling out of a user-provided callback is trapped, saved, and placed as an inner exception to the main HttpRequestException that is thrown.  This is the current behavior of Htt

[2017-07-05 22:15] tmds commented on #21865
I'll give it a shot.

[2017-07-05 22:15] stephentoub commented on #21865
Cool. Thanks!

[2017-07-05 22:16] bbowyersmyth commented on #21880
Checking if a string == string.Empty can just be determined with reference equality. Extra branch and field load.
Whether that provides any advantages I don't know.

[2017-07-05 22:19] davkean commented on #21880
@bbowyersmyth Reference equality would only work if I actually pass string.Empty instead of ("").

[2017-07-05 22:20] davidsh commented on #21904
cc: @stephentoub

[2017-07-05 22:26] bbowyersmyth commented on #21880
@davkean Same thing. `Console.Write(ReferenceEquals("", string.Empty));`

[2017-07-05 22:27] justcoding121 commented on #4721
@cesarbs Not really. I think I opened the bottle before the party :-) I was investigating why it failed and should be the very same reason.

[2017-07-05 22:29] caesar1995 commented on #21902
@stephentoub No, I have run it for 50 times on both netcore and uap mode, and didn't observe its hanging.

I tried to set numHeaders = 2000, still no hang.

Do I need to close this issue? Since I'm not able to repro.

[2017-07-05 22:30] benaadams commented on #21899
Handled by something around [System.Text.Primitives](https://github.com/dotnet/corefxlab/tree/master/src/System.Text.Primitives/System/Text/Encoding)?

Though not sure if outputing a `string` is in there? /cc @KrzysztofCwalina

[2017-07-05 22:31] pjanotti commented on #21892
Hi @MattGal just to be sure that we are talking about the same thing: the ulimit inside a script only has effect for the duration of the script, that's why measuring it outside the scripts doesn't show 2048. For now I am going to try to pursue the route mentioned by Dan: get a repro and more info about what is holding the files.

[2017-07-05 22:31] davkean commented on #21880
Ah, they must have changed this in JIT Blue? They weren't equal circa 4.0 timeframe (unless you were NGEN'D) - we had a bug in the BCL due to it.

[2017-07-05 22:39] leecow commented on #21597
@danmosemsft @Petermarcu - this will also be needed in 1.x?

[2017-07-05 22:41] bbowyersmyth commented on #21880
Clarification: They get turned into the same thing, CLR has length checks in the string constructors (not sure if the JIT does it as well), but it is not a guarantee on all platforms. Should be good enough if a lightweight cache check is needed seeing no caching is happening now.

[2017-07-05 22:43] stephentoub commented on #21880
How common is it to return an empty string from a `Task<string>`-returning method?  My assumption has been "not very common", but maybe I'm wrong?

[2017-07-05 22:47] safern commented on #21276
The test passes locally for me. Opening PR.

[2017-07-05 22:47] stephentoub commented on #21880
To be clear, though, this wouldn't just be for strings.  The implementation gets specialized for value types, but all reference types share the same implementation... we'd essentially be adding another branch here for every single reference type using this, just to handle the case of caching for an empty string... my assumption has been that returning empty strings are not nearly common enough to

[2017-07-05 22:48] davkean commented on #21880
Can not speak across the board, but in my project it's common enough that I'm explicitly handling it - in one scenario (open solution) we have about 100 KB of these allocated. We are a project system, so strings (and empty strings) are used as return values for certain path APIs and the returns of reading values from MSBuild properties ("empty" == not present).

[2017-07-05 22:51] leecow commented on #21793
2.0 pr https://github.com/dotnet/corefx/pull/21888

[2017-07-05 22:51] #21793 closed

[2017-07-05 22:54] danmosemsft commented on #21156
@willdean as for the OS, I think we require RS2, although it may work with RS1 if you don't run tests that do "remote execute". RS2 is the Creators Edition, it's a free upgrade.

[2017-07-05 22:54] Qowy commented on #21793
I don't know id this is the right place to ask, but will 1.0 LTS be replaced by 2.0? Otherwise because of the possible denial of service attack nature of this error on ASP.NET core websites shouldn't this also be backported for the LTS branch?

[2017-07-05 22:55] stephentoub commented on #21902
Hmm.  It's not hanging for me now, either.  But I've also upgraded to a newer Windows build since then.  Maybe it was a temporary http.sys issue.  In any event, if it doesn't repro for you and it passes CI, please feel free to re-enable it and close the issue. Thanks.

[2017-07-05 22:57] #20141 closed

[2017-07-05 23:02] corivera commented on #21530
I ran your DapperRepro tests on a VM with 1 core and 500MB of memory, connecting to a localdb instance. These are the results from one of my test runs, executing the console apps multiple times in a row:

net461 test
Total average: 3.05684050000001 ms
Total average: 0.807116800000001 ms
Total average: 0.5157157 ms
Total average: 0.5049637 ms
Total average: 0.520481100000001 ms
Total average: 0.416

[2017-07-05 23:16] scionwest commented on #21530
Hmm, I see these differences consistently on every run. I will spin up a VM in azure tonight and run the same tests and report back. I've tried this on the same machine, but with two different installs of Windows, with the same gap. Perhaps it's something specific to my machine or Windows version.

[2017-07-05 23:22] AtsushiKan commented on #20525
Now tracking as TFS 460397. Not an Encoding or framework issue afaics. Needs to be investigated by someone who knows what an EETypePtr == 0x540000 means.

[2017-07-05 23:22] #20525 closed

[2017-07-05 23:26] jnm2 commented on #21880
For non-specialized types I'm almost happier with a separate cached Task instance versus a branch.

[2017-07-05 23:32] AtsushiKan commented on #20525
Looks like TFS 460335 is already tracking this - NUTC compiler bug forcing that byte array and string to share a room.

[2017-07-05 23:35] tijoytom commented on #18942
@morganbr @AtsushiKan Now we have binaryformater is this just a case of removing the two lines ?

[2017-07-05 23:35] bbowyersmyth commented on #21899
@omariom I think it's a good idea to add the `string` ctor either way but to me the `ToString()` looks better. Closer to a `StringBuilder` than an array.

[code]
It is not critical but a nice to have.

[2017-07-05 23:37] tijoytom commented on #21682
@AtsushiKan Can you please take quick look ?
@joshfree

[2017-07-05 23:40] morganbr commented on #18942
@tijoytom only sort of. Removing those lines will effectively enable a bunch of tests. We then have to make sure those tests actually pass.

[2017-07-05 23:44] jamesqo commented on #21898
@stephentoub Good point, thank you for helping. I do prefer having `Debug.` before the method call though because I'm a lot more used to it. The solution I ended up with was introducing a custom `Debug` class in my project, and inserting

[code]

at the top of the file.

[2017-07-05 23:44] ohadschn commented on #5811
@davidsh @stephentoub what about sharing the same `HttpClientHandler` between different `HttpClient` instances with different `DefaultRequestHeaders`?

[2017-07-05 23:45] brentschmaltz commented on #21282
@CIPop what is the simplest repo?

[2017-07-05 23:49] joperezr commented on #21392
will do.

[2017-07-05 23:53] eByte23 commented on #21811
Hi guys.

@krwq I'm keeping DSA so not to break support for SamlServers that may be using that, no DSA is not saml spec but there originally where a lot of servers that used DSA.

@bartonjs DSA I can see when using netstandard2.0 so I do not understand what you mean by it cannot be access by singedxml. Also if it was not accessible it should throw NotImplemented or something not just work but retu

[2017-07-05 23:55] saurabh500 commented on #19202
@joperezr I need to change System.Private.Xml to expose an internal function for uapaot. That's why I need to change this dependency to compile System.Data.Common against System.Private.Xml.csproj

I don't think I need to change all my dependencies to implementation. I could verify it by adding
[code]
and compiling  with `msbuild /p:TargetGroup=uapaot`

However the problems arise when I use a Cond

[2017-07-05 23:55] eByte23 commented on #21811
Also do note I currently support RSA1,RSA256,RSA512. This is purely just keeping legacy support.

[2017-07-05 23:55] saurabh500 commented on #19202
The plan is to make the changes so that they are specific only to uapaot.

[2017-07-06 00:05] CIPop commented on #21282
@brentschmaltz Running the [test](https://github.com/dotnet/corefx/blob/8dd8794a65d11903cf75830f69c597109cf499d0/src/System.Net.Security/tests/FunctionalTests/NegotiateStreamStreamToStreamTest.cs#L73) in UAP (F5 Debug mode) without the platform detection branch will make the test fail:

[code]

[2017-07-06 00:13] joperezr commented on #21890
Just verified in an ARM machine that this is in fact the problem. Basically, in order for these tests to run, you can't have a reference to sni.dll, even though at runtime you won't call it. You will need to make sure that in your uapaot asset, all of the code calling into sni.dll is #ifdef'd out.

[2017-07-06 00:13] joperezr commented on #21890
![image](https://user-images.githubusercontent.com/13854455/27890041-441af386-61a5-11e7-96ef-bfe9120e569a.png)

[2017-07-06 00:18] davidsh commented on #5811
That is not recommended at all.  The handler is owned by the HttpClient once you create the HttpClient.  It is an undefined behavior to share the same handler object between separate client objects.

[2017-07-06 00:21] mellinoe commented on #20712
I've written some tests for AdjustableArrowCap ( #21911 ), and will work on some tests for CustomLineCap when I have time this week.

[2017-07-06 00:21] mellinoe commented on #20711
I've written some tests for AdjustableArrowCap ( #21911 ), and will work on some tests for CustomLineCap when I have time this week.

[2017-07-06 00:27] caesar1995 opened #21914 "Some S.N.HttpListener tests will break UWP test runner on Windows managed implementation"
`AcceptWebSocketAsync_ValidSubProtocol_Success()`, `AcceptWebSocketAsync_ValidWebSocket_SetsUpContextProperties()`, and `AcceptWebSocketAsync_AuthorizationInHeaders_ThrowsNotImplementedException()`, would throw a exception caught by runtime, and break UWP test runner.

[code]

here is the stack trace:
[code]

cc: @davidsh @DavidGoll @CIPop

[2017-07-06 00:29] bartonjs commented on #21811
Sorry, the `GetDSAPublicKey()` (extension) method for certificates isn't in netstandard20, so SignedXml can't figure out what the key is.

The behavior of SignedXml is to ignore any certificates it doesn't know about, and try the ones it does.  If it finishes without finding a public key that validated successfully then it returns false.

Yes, this is a behavioral change from .NET Framework; but i

[2017-07-06 00:31] benaadams commented on #21899
Don't think you can specifically override; or provide an extension method (as is defined instance method) for
[code]
Would have to override `Span<T>.ToString()` then `typeof(T)` to get that effect

[2017-07-06 00:33] danmosemsft commented on #21892
@pjanotti what I/we were trying to say is: the tests can run on machines on which init-tools.sh has never run: so if we do need a higher ulimit for tests, it can't be set there.

[2017-07-06 00:37] ohadschn commented on #5811
@davidsh thank you for clarifying. What would you suggest then for such a scenario (shared `HttpClient` but different request headers)? I can only think of wrapping `HttpClient` with my wrapper that translates all calls to `SendAsync` with the proper headers, but that's a lot of overloads to implement (GetAsync, DeleteAsync, `PostJsonAsync` etc)...

[2017-07-06 00:37] DavidGoll commented on #21914
This doesn't look like a stack I'd expect to see in the managed HttpListener:
- It's wininet under the covers
- Wininet is completing an asynchronous receive to a WinRT MessageWebSocket object

Perhaps an unrelated failure?

[2017-07-06 00:38] #21276 closed

[2017-07-06 00:44] tarekgh commented on #20525
Right TFS:460335 assigned to @davidwrighton and tracking this issue.

[2017-07-06 01:14] davidsh commented on #14542
Duplicate code for this exists in WinHttpHandler, SslStream and UWP HttpClientHandler.

[2017-07-06 01:16] MattGal commented on #21892
@pjanotti Ah, I did not realize this, that's useful to know.  I have a suggestion then.

We could, if detecting the right combination of stuff, declare an item group on the test project and include one or more "TestCommandLines" ITaskItems as seen here:
https://github.com/dotnet/buildtools/blob/3162466ab961d8bc851a60d24c3a80649ddc631c/src/Microsoft.DotNet.Build.Tasks/PackageFiles/tests.targets#L27

[2017-07-06 01:17] CIPop commented on #20470
@davidsh, @vancem Looks like this is a product bug.
I've tried capturing ETW using [these scripts](https://github.com/dotnet/corefx/blob/master/src/Common/tests/Scripts/Tools/net_startlog.cmd). It works in Core, UAP but it doesn't capture network traces in UAPAOT.

[2017-07-06 01:50] v-haren opened #21917 "System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_SslProtocols_Test.GetAsync_AllowedSSLVersion_Succeeds failed in CI"
failed test: System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_SslProtocols_Test.GetAsync_AllowedSSLVersion_Succeeds

detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_opensuse42.1_debug/99/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandler_SslProtocols_Test/GetAsync_AllowedSSLVersion_Succeeds_acceptedProtocol__Tls11__request

[2017-07-06 01:51] JohnRusk commented on #10054
I'm seeing a related problem, where although it is set to UTF-8, it doesn't actually work as UTF-8.   The issue can be demonstrated as follows:

1. Start app
2. Read Console.OutputEncoding. It says its UTF-8
3. Display output. It does not come out in UTF-8, even though that was reported as the current encoding.
4. Set the encoding to UTF-8. (I.e. set it to its existing value).
5. Display output ag

[2017-07-06 01:57] tarekgh commented on #10054
@JohnRusk which version of net core you are using? and which version and build of the OS you are using?

[2017-07-06 01:59] stephentoub commented on #5811
Why not? If the HttpClient is passed the handler instance along with a bool indicating the HttpClient doesn't own it, what breaks?

[2017-07-06 02:03] JohnRusk commented on #10054
@tarekgh I've repro'd it on both Windows and Ubuntu 16.04.  On Windows here's my version info:

.NET Command Line Tools (1.0.4)

Product Information:
 Version:            1.0.4
 Commit SHA-1 hash:  af1e6684fd

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\1.0.4

And on Ubuntu:

.NET Comman

[2017-07-06 02:36] tarekgh commented on #10054
@JohnRusk just to confirm, does the value of the element <TargetFramework> in your csproj is 1.1? if so could you please try 2.0 version.

https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

Couple of notes here:
- On Windows build 14393, the console Window have some problems with the UTF8 encoding. so the displayed test can be displayed wrong.
- On Linux, please

[2017-07-06 03:00] brentschmaltz commented on #21282
@CIPop a couple lines above does this assert fail?

               Assert.Equal("NTLM", clientIdentity.AuthenticationType);

[2017-07-06 03:17] sandyarmstrong opened #21918 "BinaryFormatter incompatibility regarding base class values between Desktop and Core"
Given the following serializable classes:

[code]

When serializing `FinalClass` on Desktop .NET (4.6.1) and deserializing on .NET Core 2.0
Preview 2, `FinalClass.MissingValue` will always be unset.

## Test Case

https://github.com/sandyarmstrong/BinaryFormatterSubclassTest

## Runtimes tested

* .NET Core 2.0.0-preview2-006497
* .NET 4.6.1 (MS.NET and Mono 5.2.0.179)

[2017-07-06 03:24] JohnRusk commented on #9780
@ericeil  Is there any workaround that I can apply only at the time I'm shutting down the TcpListener, or do all workarounds require me to change options _before_ it starts listening (and thereby change semantics of my app)?

If there _is_ code that can be applied only at the time of shutdown, could you share it please?  I've tried everything I can think of, without success.

cc @daviwil

[2017-07-06 03:25] scionwest commented on #21530
@corivera I see the same results as before. An average of 13ms for netcoreapp and an average of 0.6ms on net461. This is in a brand new Standard DS3 v2 Promo (4 cores, 14 GB memory) VM in Azure running Windows 10 Enterprise N, 10.0.15063 Build 15063. I installed Visual Studio 15.2 my self, rather than using the pre-installed image in Azure.

This is my install info for Visual Studio.

[2017-07-06 03:26] sandyarmstrong commented on #21918
My initial example used a custom `SerializationBinder`, but I think that part is not necessary. I'm updating to put the shared code in a .NET Standard 2.0 library.

[2017-07-06 03:45] eByte23 commented on #21811
@bartonjs Okay no worries looked through it all I see what you mean. No worries, I think I'll just drop DSA then if it becomes and issue I'll implement it manually as suggested.

Thanks.

[2017-07-06 03:45] #21811 closed

[2017-07-06 03:50] sandyarmstrong commented on #21918
I'm having some trouble getting everything to build correctly on Mac if I move the shared code to a .NET Standard 2.0 library. I'll update my test case later, when I figure that out.

Regardless, I don't believe the custom binder has any bearing on this issue.

[2017-07-06 04:36] danmosemsft commented on #21918
@ViktorHofer @morganbr

[2017-07-06 04:53] morganbr commented on #21918
@sandyarmstrong , I wonder if your desktop and .NET Core C# compilers are generating different field names for the backing field for MissingValue. You could check that with reflection (make sure to include private fields) or with ildasm.

[2017-07-06 05:00] #12545 closed

[2017-07-06 05:51] dotnet-mc-bot opened #21920 "Test: System.IO.Tests.DirectoryInfo_Delete_bool/Unix_NotFoundDirectory_ReadOnlyVolume failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.DirectoryInfo_Delete_bool/Unix_NotFoundDirectory_ReadOnlyVolume` has failed.

Assert.True() Failure
    Expected: True
    Actual:   False

        Stack Trace:

           at System.IO.Tests.FileSystemTest.RunAsSudo(String commandLine) in /root/corefx/src/System.IO.FileSystem/tests/FileSystemTest.cs:line 69
       at System.IO.Tests.FileSys

[2017-07-06 05:51] sandyarmstrong commented on #21918
@morganbr It seems to be `.field private initonly string '<MissingValue>k__BackingField'` in each case, according to `ildasm`. However, I do notice that if I change my test to use public fields instead of public properties, the bug goes away, at least on Windows (can try more combinations in the morning).

[2017-07-06 05:55] dotnet-mc-bot opened #21921 "Test: System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandlerTest/GetAsync_IPBasedUri_Success failed with "System.Net.Sockets.SocketException : No route to host""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandlerTest/GetAsync_IPBasedUri_Success(address: fe80::1%1)` has failed.

System.Net.Http.HttpRequestException : could not connect
    ---- System.Net.Sockets.SocketException : No route to host

        Stack Trace:

           at System.Net.Http.ConnectHelper.<ConnectAsync>d__0.MoveNext() in /Users/

[2017-07-06 06:03] Jiayili1 commented on #21921
This test: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170706.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandlerTest~2FGetAsync_IPBasedUri_Success(address%3A%20fe80%3A%3A20d%3A3aff%3Afef7%3Af6c1%252)

Failed with:
System.Net.Http.HttpRequestExcepti

[2017-07-06 06:17] dotnet-mc-bot opened #21922 "Test: System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_ServerCertificates_Test/UseCallback_ValidCertificate_ExpectedValuesDuringCallback failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_ServerCertificates_Test/UseCallback_ValidCertificate_ExpectedValuesDuringCallback(url: https://corefx-net.cloudapp.net/Echo.as...` has failed.

Assert.Equal() Failure
    Expected: None
    Actual:   RemoteCertificateChainErrors

        Stack Trace:

           at System.Net.Http.Functional.

[2017-07-06 06:26] v-haren opened #21923 "System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_SslProtocols_Test.GetAsync_AllowedSSLVersion_Succeeds failed in CI"
failed test: System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_SslProtocols_Test.GetAsync_AllowedSSLVersion_Succeeds

detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_opensuse42.1_debug/99/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandler_SslProtocols_Test/GetAsync_AllowedSSLVersion_Succeeds_acceptedProtocol__Tls12__request

[2017-07-06 06:28] Jiayili1 commented on #21923
This issue is repro on Core Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170706.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_SslProtocols_Test~2FGetAsync_AllowedSSLVersion_Succeeds(acceptedProtocol:%20Tls11,%20requestOn

[2017-07-06 06:29] dotnet-mc-bot opened #21924 "Test: System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_SslProtocols_Test/GetAsync_NoSpecifiedProtocol_DefaultsToTls12 failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_SslProtocols_Test/GetAsync_NoSpecifiedProtocol_DefaultsToTls12` has failed.

Assert.Equal() Failure
    Expected: Tls12
    Actual:   Tls

        Stack Trace:

           at System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test.<>c.<<GetAsync_NoSpecifiedProtocol_DefaultsToTls1

[2017-07-06 06:33] dotnet-mc-bot opened #21925 "Test: System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_SslProtocols_Test/GetAsync_UnsupportedSSLVersion_Throws failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_SslProtocols_Test/GetAsync_UnsupportedSSLVersion_Throws(name: \"SSLv3\", url: \"https://www.ssllabs.com:10300/\")` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.Net.Http.HttpRequestException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

        --- End

[2017-07-06 06:39] v-haren commented on #21921
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_opensuse42.1_debug/99/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandlerTest/GetAsync_IPBasedUri_Success_address__fe80__20d_3aff_fef7_91a5_2_/

[2017-07-06 06:40] dotnet-mc-bot opened #21926 "Test: System.Security.Cryptography.X509Certificates.Tests.ChainTests/VerifyWithRevocation failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Security.Cryptography.X509Certificates.Tests.ChainTests/VerifyWithRevocation` has failed.

Assert.Equal() Failure
    Expected: 0
    Actual:   1

        Stack Trace:

           at System.Security.Cryptography.X509Certificates.Tests.ChainTests.VerifyWithRevocation() in /Users/buildagent/agent/_work/48/s/corefx/src/System.Security.Cryptography.X509C

[2017-07-06 06:43] v-haren opened #21927 "System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_SslProtocols_Test.GetAsync_NoSpecifiedProtocol_DefaultsToTls12 failed in CI"
failed test: System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_SslProtocols_Test.GetAsync_NoSpecifiedProtocol_DefaultsToTls12

detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_opensuse42.1_debug/99/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandler_SslProtocols_Test/GetAsync_NoSpecifiedProtocol_DefaultsToTls12/

MESSAGE:
[co

[2017-07-06 06:52] dotnet-mc-bot opened #21929 "Tests under: System.Tests.Array17Tests failed with "System.ArgumentException""
Opened on behalf of @Jiayili1

The test `System.Tests.Array17Tests/CreateInstance_Type_Int_Int_Int_Invalid` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.NotSupportedException)\r
    Actual:   typeof(System.ArgumentException): The type 'System.Collections.Generic.List`1[T]' may not be used as an array element type.

        Stack Trace:

           at xunit.console.netcore!<Ba

[2017-07-06 06:53] Jiayili1 commented on #21929
Failed tests:
CreateInstance_Type_Int_Int_Int_Invalid
CreateInstance_Type_Int_Int_Invalid
CreateInstance_Type_Int_Invalid

[2017-07-06 06:59] dotnet-mc-bot opened #21931 "Tests under: System.Tests.ArrayNetcoreappTests failed with "System.InvalidOperationException""
Opened on behalf of @Jiayili1

The test `System.Tests.ArrayNetcoreappTests/CreateInstance_Type_Int_Int_Int_Invalid` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentException)\r
    Actual:   typeof(System.InvalidOperationException): InvalidOperation_ArrayCreateInstance_NotARuntimeType. For more information, visit http://go.microsoft.com/fwlink/?LinkId=623485

        Sta

[2017-07-06 07:02] v-haren commented on #21924
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_debug/98/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandler_SslProtocols_Test/GetAsync_NoSpecifiedProtocol_DefaultsToTls12/

[2017-07-06 07:03] Jiayili1 commented on #21931
Failed Tests:
CreateInstance_Type_Int_Int_Int_Invalid
CreateInstance_Type_Int_Int_Invalid
CreateInstance_Type_Int_Invalid

[2017-07-06 07:06] peter-bannerflow commented on #7812
@davidsh

I captured traffic from my application during the time of the error and I cannot find any negotiation where a 127 bit public key is used. Could the error occur for other key lengths as well?

[2017-07-06 07:17] dotnet-mc-bot opened #21932 "Test failure: System.Tests.ArrayTests/CreateInstance_NotSupportedType_ThrowsNotSupportedException(elementType: typeof(GenericClass`1))"
Opened on behalf of @Jiayili1

The test `System.Tests.ArrayTests/CreateInstance_NotSupportedType_ThrowsNotSupportedException(elementType: typeof(GenericClass`1))` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.NotSupportedException)\r
    Actual:   typeof(System.PlatformNotSupportedException): PlatformNotSupported_NoTypeHandleForOpenTypes. For more information, visit http://go.

[2017-07-06 07:17] v-haren commented on #21925
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/110/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandler_SslProtocols_Test/GetAsync_UnsupportedSSLVersion_Throws_name____SSLv3____url____https___www_ssllabs_com_10300____/

[2017-07-06 07:37] CIPop commented on #21282
No. That works the same in all cases.

[2017-07-06 07:38] Jiayili1 commented on #20390
Failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170706.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.DiagnosticsTest~2FSendAsync_ExpectedDiagnosticCancelledActivityLogging

[2017-07-06 08:28] davkean opened #21933 "Port Uri.CheckForUnicode rewrite to desktop"
Visual Studio uses Uri to verify and check paths due to some limitations in the Path APIs.

Uri.CheckForUnicode, (which appears to be have been rewritten in CoreFx to not allocate), is a cause of a [large amount of data](http://referencesource.microsoft.com/#System/net/System/UriExt.cs,258) in certain scenarios. Can we please port this rewrite to desktop?

Here's an example of a trace taken just o

[2017-07-06 11:28] kokomola commented on #10445
@okosodovictor love you nigger

[2017-07-06 11:33] TechWatching commented on #21824
I have a 2 servers A with and B. B is in the linked Servers list of A.
My request is the following :
`select top 100 * from B.B1.dbo.b with (nolock)`
where B1 is a database on server B and b is the name name

It returns the following :
`Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'. `

I first thought it was a configuration issue but the exact same request works correctly on SSMS.
I don't h

[2017-07-06 11:37] stephentoub commented on #21933
What are the cited limitations?
cc: JeremyKuhne

[2017-07-06 12:42] stephentoub commented on #21793
I wouldn't characterize this as a DoS avenue.  If a server is accepting and connecting to arbitrary, unvetted urls to fetch, such a server is already vulnerable to all sorts of issues.  And if some site the server is knowingly connecting to is somehow compromised with a maliciously-installed bad certificate, the server can simply stop connecting to it until the target site is fixed (it wouldn't be

[2017-07-06 12:53] danwalmsley opened #21934 "File System watcher Filters dont work on Linux"
So when I set:

fileSystemWatcher.NotifyFilter = NotifyFilters.FileName | NotifyFilters.LastWrite;

The created event is raised even when its a folder being created.

Im on ubuntu 17.04,

[code]

[2017-07-06 12:57] stephentoub commented on #21934
Can you please share a standalone repro?

[2017-07-06 12:58] kohner86 commented on #21796
I seem to be running into the same issue inside of the AWS Dynamo DB client.  I have a few dozen worker threads which seem to slowly lockup, all of which have stack traces which look like this:
 	[Managed to Native Transition]
 	System.dll!System.Net.ConnectionGroup.IncrementConnection()	Unknown

 	System.dll!System.Net.Connection.StartRequest(System.Net.HttpWebRequest request, bool canPollRead)	U

[2017-07-06 13:00] stephentoub commented on #21904
@davidsh, is the desired change to wrap the exception in both WinHttpHandler and CurlHandler (even though technically that's a breaking change from 1.x/2.0)?

[2017-07-06 13:22] #16856 closed

[2017-07-06 14:09] sandyarmstrong commented on #21918
@morganbr changing `BaseClass` to use an explicit backing field does not fix anything:

[code]

Same broken behavior.

[2017-07-06 14:09] karelz commented on #10445
@kokomola your comment was deleted as a violation of the [.NET Foundation Code of Conduct](https://dotnetfoundation.org/code-of-conduct) ([adopted by CoreFX repo](https://github.com/dotnet/corefx#community)) as it was insulting/derogatory. You may consider this an official warning.

[2017-07-06 14:13] davidsh commented on #21925
cc: @stephentoub

The ManagedHandler tests are failing in CI. This issue here is probably related to #7812.  These tests should only run on Windows 10 build 14393 or later.

[2017-07-06 14:14] davidsh commented on #21927
cc: @stephentoub

The ManagedHandler tests are failing in CI. This issue here is probably related to #7812.  These tests should only run on Windows 10 build 14393 or later.

[2017-07-06 14:14] stephentoub commented on #21925
Ok.  I'll disable the tests that are failing.

[2017-07-06 14:17] davidsh commented on #21904
Yes.  That raw exception that leaks from the user-provided callback needs to be surfaced as an inner exception to an HttpRequestException, like all other async exceptions on the I/O path.

[2017-07-06 14:23] davidsh commented on #21933
We will open up a bug in TFS for this about porting this.  But changes to System.Uri for .NET Framework are rarely done.  If this doesn't cause any behavior change and is only about performance, then we might be able to do it in a future .NET Framework update.

cc: @CIPop

[2017-07-06 14:31] davidsh commented on #7812
Please refer to this:
https://security.stackexchange.com/questions/104845/dhe-rsa-pubkey-length-in-tls-1-2

There were some additional bugs in the TLS/SSL handshake on Windows dealing with DHE cipher suites that did not deal with 127 bit length.  It's possible you are seeing a problem due to that.

If you see this problem on Windows Server 2016 or Windows 10 (build 14393 or later), then we would l

[2017-07-06 14:46] karelz commented on #21881
@danmosemsft was it fixed in 2.0 branch or do we need to adjust Milestone?
Can you please link the PR? Thanks!

[2017-07-06 14:50] karelz commented on #21865
Reopening to track port to release/2.0.0 branch

[2017-07-06 14:59] karelz commented on #18784
@caesar1995 Please add "disabled-test" label to the main issue which tracks the disabled test (is it this one?), thanks!

[2017-07-06 15:26] scionwest commented on #21530
@corivera I tried this on a machine at my office, connecting to both a localdb instance on the machine, as well as to a Sql Server 2012 instance in our data center. I saw the same performance gap issue with both tests (albeit with slightly different times).

[2017-07-06 16:56] joperezr commented on #19202
I believe that you have fixed this by looking at the email thread we have going on, but let me know if I can be of any help in here.

[2017-07-06 17:06] DnlHarvey commented on #19585
I have a code review in progress

[2017-07-06 17:09] Qowy commented on #21793
I was thinking along the lines of websites that offer analysis of other websites, like ssl configuration etc. But yes this use case is properly rare enough, especially for .NET core that a fix in the 2.0 release may be suficcient

[2017-07-06 17:48] shmao commented on #19833
The fix for Sg.exe is checked in.

[2017-07-06 17:48] #19833 closed

[2017-07-06 17:52] shmao opened #21941 "Area-Serialization Sprint 121"
The issue is for tracking issues to be done in sprint 121 (due by 7/27/2017)

[2017-07-06 18:06] poizan42 opened #21942 "XmlSerializer works inconsistently with XmlTextAttribute on derived classes"
For some reason XmlText only works on string properties on derived classes, while it can properly convert other types if the class is not derived. This seems weird and inconsistent.

[code]

The code above outputs:
[code]

Note that the only difference whether it succeeds or not is whether the class derives from Object or from another class.

.net Core version: 2.0.0-preview2-25407-01

NB: This is

[2017-07-06 18:07] caesar1995 commented on #21914
The problem could be related to the WebSocket (`context.AcceptWebSocketAsync(serverProtocol)`)

[code]

I will investigate it later.

[2017-07-06 18:14] saurabh500 commented on #20589
@stephentoub @danmosemsft Is EventSource supported on uapaot? Or do we need additional configuration so that event sources can be emitted?
This failure is happening because no events were emitted from System.Data.Common when these tests were run.

[2017-07-06 18:15] tijoytom commented on #20589
@saurabh500 Please work with @brianrob on this one.

[2017-07-06 18:15] caesar1995 commented on #21914
Update: Almost every test case in src\System.Net.HttpListener\tests\HttpListenerWebSocketTests.cs breaks the UWP test runner with the exactly same stack trace as I have posted above.

@davidsh

[2017-07-06 18:17] saurabh500 commented on #20589
@brianrob any advice here?

[2017-07-06 18:37] caesar1995 commented on #21903
`CloseResponseEntity_NotChunkedSentHeaders_SendsEntityWithoutModifyingContentLength()` in HttpListenerResponseTests.cs failed with same stack trace.

[2017-07-06 18:38] caesar1995 commented on #21903
`CloseResponseEntity_EmptyResponseEntity_Success()` in HttpListenerResponseTests.cs failed with same reason, `System.ObjectDisposedException`, but with different StackTrace:

[code]

[2017-07-06 18:39] #21865 closed

[2017-07-06 18:59] davidsh opened #21945 "Interactions between different UAP HttpClient SSL tests causes failures"
While working on PR #21905, I discovered some test failures on UAP. The failures occur in two different tests, but only if both tests are enabled.  Running each test separately while disabling the other makes the tests pass.

The problem is actually due to a known issue in WinRT Windows.Web.Http.HttpClient layer. The WinRT layer uses native WinInet and there are some things that WinInet caches per

[2017-07-06 19:00] danmosemsft opened #21946 "Remove use of NtQuerySystemInformation for UWP"
We can't use NtQuerySystemInformation in an app. It will fail WACK. At this point, we should stop using it in our UWP binaries. That means API that enumerates and examines arbitrary processes should be stubbed to thrown PNSE with a nice message.

Please factor the process class so that it doesn't appear in the UAP build and so you can remove it from src\System.Diagnostics.Process\src\PinvokeAnalyz

[2017-07-06 19:00] danmosemsft commented on #21946
@sepidehMS

[2017-07-06 19:46] danmosemsft opened #21949 "Http test server flaky?"
Lots of tests failed last night:

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170706.02/workItem/System.Net.Http.Functional.Tests

We have various http tests that fail on and off but this is something different. You might want to take a look to avoid lots of noise.

@davidsh @CIPop @Priya91

[2017-07-06 19:48] stephentoub commented on #21949
That link comes up empty for me.

Are you referring to the ManagedHandler tests?  Those are newly checked in and unrelated to the test server's reliability.  Separate issues were opened for the various failures.

[2017-07-06 19:49] stephentoub opened #21950 "GetAsync_IPBasedUri_Success test fails on some Unixes with ManagedHandler and link-local addresses"
e.g.
[code]

[2017-07-06 19:53] danmosemsft commented on #21949
Yes, most are that. OK fine.

[2017-07-06 19:53] #21949 closed

[2017-07-06 19:53] brianrob commented on #20470
@cipop, @davidsh, EventSource will work for UAPAOT, but is not fully working right now.  I hope to have a change in today that I suspect might help.  That's the first thing to check.  If that doesn't help, then this likely needs to be debugged.  EventSources generally don't throw by design - so the lack of events is expected behavior.

If you're interested in trying out the fix, let me know and I

[2017-07-06 20:13] caesar1995 opened #21953 "Some tests in System.Net.HttpListener HttpRequestStreamTests.cs will break UWP test runner with System.IO.IOException"
Those are sample test cases will break the test runner: `Read_NullBuffer_ThrowsArgumentNullException()`, `Read_InvalidOffset_ThrowsArgumentOutOfRangeException()`, `EndRead_NullAsyncResult_ThrowsArgumentNullException()`, .....

[code]

@davidsh @DavidGoll @CIPop

[2017-07-06 20:14] vsccarl opened #21954 "Application Manifest File does not build correctly"
In a .NET Core project, add an Application Manifest File to the project and build the solution. An error of `CS1926	Error opening Win32 manifest file c:\app1.manifest -- Could not find file 'c:\app1.manifest'.`

In .NET Framework projects, adding this file works and builds without any modification.

[2017-07-06 20:30] #20007 closed

[2017-07-06 20:31] #20014 closed

[2017-07-06 20:31] #20131 closed

[2017-07-06 20:31] #20136 closed

[2017-07-06 20:32] #20138 closed

[2017-07-06 20:32] #20139 closed

[2017-07-06 20:37] #21950 closed

[2017-07-06 20:38] #20715 closed

[2017-07-06 20:48] tijoytom commented on #21929
@AtsushiKan Seems to be a case of throwing the right exception , can you please take a look ?

[2017-07-06 21:02] karajas commented on #20997
This should be resolved now.

[2017-07-06 21:02] #20997 closed

[2017-07-06 21:42] ohadschn commented on #11224
@manigandham How? It is not disposable and the only relevant method I can see is `CloseConnectionGroup` which you can't really use as the group name is an implementation detail (currently some hash of the handler). Also, I'm not sure what would happen if you tried disposing the ServicePoint while the `HttpClient` was using it (especially concurrently).

[2017-07-06 22:22] manigandham commented on #11224
@ohadschn

.NET Core 2.0 brings back the `ServicePoint` classes and functionality: https://docs.microsoft.com/en-us/dotnet/api/system.net.servicepoint?view=netcore-2.0

You can go back to using the connection lease timeout to set a max timeframe for active connections before they get reset.

Nothing exotic about closing the connection while `HttpClient` request is in progress, it would be the same

[2017-07-06 22:24] danwalmsley commented on #21934
[code]

output is:

[code]

File handler triggered twice when its actually a folder.

[2017-07-06 22:25] davidsh commented on #11224
You can go back to using the connection lease timeout to set a max timeframe for active connections before they get reset.

Actually, it doesn't bring back the functionality completely.  The API surface came back.  But it is basically a no-op since the HTTP stacks don't use that object model.

cc: @stephentoub @geoffkizer

[2017-07-06 22:45] davidsh commented on #5811
After reviewing this some more, you are correct in that using this form of the HttpClient ctor:

[code]

will mean that the HttpClient object doesn't "own" the handler. So, in theory, you can share the same handler between HttpClient objects.

[2017-07-06 23:11] krwq commented on #19639
Duplicate of https://github.com/dotnet/corefx/issues/21483

[2017-07-06 23:11] #19639 closed

[2017-07-06 23:15] safern commented on #21555
This is caused because of ArgumentNullException.ParamName being null in ILC ret mode. So when calling Expected.ToString(), expected is null so it fails with ArgumentNullException. I already have a fix for this as it also causes the tests to not produce testResults.xml in multifile mode.

[2017-07-06 23:28] caesar1995 commented on #21953
I'm working on this issue right now. This issue is critical for making tests working on UAP mode.

The approach I used to debug the test is:

- Focusing on one test file, remove other test files from .csproj
- After investigating that test file and make sure it runs clean, remove it from .csproj (to save time) and recover other test files
- Investigating next test file. Repeat the process.

Howeve

[2017-07-06 23:29] CIPop commented on #14691
/cc @davidsh @DavidGoll
@Priya91 on Mono, HttpListener is searching for certs in a hardcoded path: https://github.com/mono/mono/blob/3f779475e3fc982e312212d5dbbd86515eddfc0c/mcs/class/System/System.Net/HttpListener.Mono.cs#L64
(also see this [Stack Overflow discussion](https://stackoverflow.com/questions/23243224/how-to-use-ssl-with-httplistener-with-an-mkbundled-mono-app)).

I couldn't find any d

[2017-07-06 23:37] remcoros opened #21961 "Unexpected KeyNotFoundException in XmlSerializerNamespaces.Namespaces"
I'm converting a project to netstandard2.0 and run into a KeyNotFoundException from the internals of XmlSerializer (full stack trace below).

I tracked it down from:

https://github.com/dotnet/corefx/blob/release/2.0.0/src/System.Private.Xml/src/System/Xml/Serialization/XmlSerializationWriter.cs#L1405

to:

https://github.com/dotnet/corefx/blob/release/2.0.0/src/System.Private.Xml/src/System/Xml/S

[2017-07-06 23:39] brianrob commented on #20589
@saurabh500, I just checked in some changes to ProjectN TFS that may address this.  Can you please try running the test again with the latest ProjectN TFS sources?

[2017-07-06 23:47] darrelmiller commented on #21568
@olviko HttpClient is an extremely lightweight class.  It does some management of cancellation tokens, some header setting and buffer draining, but other than that it passes everything on to HttpClientHandler or WebRequestHandler. In turn HttpClientHandler allows ServicePointManager to do all the connection management and HttpWebRequest does the actual request sending.

The IDisposable thing is un

[2017-07-06 23:54] darrelmiller commented on #21568
@Tratcher We tried to convince the HttpClient team years ago to make the HttpClientHandler somehow globally changeable but we were unsuccessful at the time.  I think it would open up a whole range of useful scenarios.

[2017-07-06 23:55] #17910 closed

[2017-07-06 23:58] morganbr commented on #21918
@ViktorHofer , can you please take a look? If the fields match, I'm not aware of any other expected issues.

[2017-07-07 00:08] darrelmiller commented on #21568
@davidfowl HttpClient was designed to long living for numerous reasons unrelated to connection management.  HttpClient has a BaseAddress property, a DefaultRequestHeaders collection, and a pipeline of message handlers.  Having to set these up on every request would be a waste of time and would push people to create factory classes, defeating the purpose of having HttpClient as a class.

Setting up

[2017-07-07 00:12] saurabh500 commented on #20589
@brianrob  I think I need to wait for the next build of the tools for ProjectN to consume your checkin. Is there a nightly build that can be consumed from the VS nuget feed?

[2017-07-07 00:18] CIPop commented on #20470
Changes in #21745 didn't seem to bring ETW tracing to UAPAOT.
Sounds like there are TFS changes that may need to propagate before we can actually see the difference.

[2017-07-07 00:22] #21627 closed

[2017-07-07 00:28] nchikanov opened #21963 "Intermittent Failure in ServicePointManager tests"
Intermittent failure, see details below.

System.Net.Tests.TlsSystemDefault.ServicePointManager_SecurityProtocolDefault_Ok() [failed](https://mc.dot.net/#/user/nchikanov/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/ccff43e892dac662b67327aad3d7e20625f3f2bc/workItem/System.Net.ServicePoint.Tests/analysis/xunit/System.Net.Tests.TlsSystemDefault~2FServicePointManager_SecurityP

[2017-07-07 00:30] Drawaes commented on #21568
But doesn't service point apply to every http handler? Eg max server connections is 1 property for every http handler, so in the server world, if I wanted to say "max connections to server for api x should be 5" and "max connections to server for api y should be 20" can I do that today? (It's possible I am missing something)

[2017-07-07 00:36] #21823 closed

[2017-07-07 00:50] fadimounir commented on #21379
Can anyone tell me how to repro this locally?

Here are instructions I got from Matt for a previous failure I needed to investigate:

Now what's the correlation ID for this failure?

[2017-07-07 00:50] brianrob commented on #20589
Not sure.  @joshfree, @danmosemsft?

[2017-07-07 00:51] brianrob commented on #20470
@CIPop this is expected, as #21745 is just test changes.  You need the changes in System.Private.CoreLib which went into TFS.

[2017-07-07 01:03] joshfree commented on #20589
You'll see a ProjectNTfs PR (for example https://github.com/dotnet/corefx/pull/21915) tomorrow morning

[2017-07-07 01:12] JohnRusk commented on #10054
Thanks @tarekgh.  Yes, my target framework is 1.1.

What do you mean by "On Linux, please confirm your default encoding in the system is UTF8 and not set to something else."  If you mean, "check that the initial value of Console.OutputEncoding, before I set it, really is UTF-8", than I'm fairly sure I've already done that test.

I'm afraid I don't think I'll have time to run the other tests soon,

[2017-07-07 02:10] Priya91 commented on #14691
@CIPop Yes, that's the second bullet in the description. We could re-use the dotnet crypto cert-store for this purpose, similar to mono, instead the hardcoded path here will be some custom dotnet path.

[2017-07-07 02:37] Diego-Perez-Botero commented on #21786
@joperezr - is there an ETA on the metadata update? Thanks! :)

[2017-07-07 03:59] John0King commented on #20325
what's the state of this ?   only plan to support  .net framework,mono,.net core  and leave UWP ?

[2017-07-07 04:06] rmunn opened #21967 "System.IO.FileAttributes needs Unix permissions for cross-platform compatibility"
This is a duplicate of #312 and #15201. #312 was incorrectly closed on Feb. 11, 2017, and should be reopened. If #312 somehow can't be reopened, I suggest further discussion of this problem here.

[2017-07-07 04:09] mellinoe commented on #20325
@John0King Yes, that's correct. At the moment we've not identified a good way to support UWP without essentially re-implementing the whole library.

[2017-07-07 04:28] danmosemsft commented on #21961
@zhenlan

[2017-07-07 05:01] rmunn commented on #21967
See also https://github.com/dotnet/templating/issues/1028 for relevant discussion.

[2017-07-07 06:19] v-haren commented on #21922
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_debug/110/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandler_ServerCertificates_Test/UseCallback_ValidCertificate_ExpectedValuesDuringCallback_url__https___corefx_net_cloudapp_net_Echo_ashx__checkRevocation__True_/

[2017-07-07 06:21] Jiayili1 commented on #19344
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170707.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ManagedHandler_DiagnosticsTest~2FSendAsync_ExpectedDiagnosticCancelledLogging

[2017-07-07 06:26] Jiayili1 commented on #20223
Failed again on Core Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170707.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DnsEndPointTest~2FSocket_StaticConnectAsync_HostNotFound

[2017-07-07 06:43] dotnet-mc-bot opened #21971 "Tests under: BasicEventSourceTests.TestsWrite failed with "System.Reflection.MissingMetadataException""
Opened on behalf of @Jiayili1

The test `BasicEventSourceTests.TestsWrite/Test_Write_T_EventListener` has failed.

System.Reflection.MissingMetadataException : This operation cannot be carried out because metadata for the following object was removed for performance reasons:\
    \
      <unavailable>\
    \
    No further information is available. Rebuild in debug mode for better information.\

[2017-07-07 06:59] dotnet-mc-bot opened #21973 "Test failure: System.Tests.DBNullTests/Convert_IsDBNull_ReturnsExpected"
Opened on behalf of @Jiayili1

The test `System.Tests.DBNullTests/Convert_IsDBNull_ReturnsExpected` has failed.

$BlockedFromReflection_0_ce6e468c : This object cannot be invoked because it was metadata-enabled for browsing only: 'System.DBNull.ToString()' For more information, please visit  http://go.microsoft.com/fwlink/?LinkID=616867

        Stack Trace:

           at xunit.console.netcore!<B

[2017-07-07 07:04] dotnet-mc-bot opened #21974 "Test: System.Tests.GCTests/GetAllocatedBytesForCurrentThread failed with "System.MissingMethodException""
Opened on behalf of @Jiayili1

The test `System.Tests.GCTests/GetAllocatedBytesForCurrentThread(size: 1000)` has failed.

System.MissingMethodException : Method 'GC.GetAllocatedBytesForCurrentThread()' was not included in compilation, but was referenced in GCTests.GetAllocatedBytesForCurrentThread(int). There may have been a missing assembly, or a dependency on a more recent Windows SDK release.

[2017-07-07 07:31] Petermarcu commented on #312
Seems it was unclear why this was closed. Was also referenced here https://github.com/dotnet/corefx/issues/21967

See also dotnet/templating#1028 for relevant discussion.

Going to reopen to allow for the discussion to finish.

[2017-07-07 07:33] Petermarcu commented on #21967
Closed in favor of the original.

[2017-07-07 07:33] #21967 closed

[2017-07-07 07:34] Petermarcu commented on #21954
@livarcocc @davkean which repo should this get moved to? Its not a corefx issue.

[2017-07-07 07:37] Petermarcu commented on #21718
Ok, sounds like this issue can be closed. Thanks!

[2017-07-07 07:37] #21718 closed

[2017-07-07 10:26] tmds commented on #21557
@karelz can someone take a look at this please?

[2017-07-07 10:41] JimboWei opened #21975 "Serialization test case DCS_BasicRoundtripDCRDefaultCollections failed in ReflectionOnly"
The tset case named DCS_BasicRoundtripDCRDefaultCollections failed in project System.Runtime.Serialization.Xml.ReflectionOnly.Tests.

Error message :

1. **expected**: <_arrayList z:Id="2" **z:Size="1"** xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays\">
**actual**: <_arrayList z:Id="2" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays\">

2. **expected**: <_has

[2017-07-07 11:08] jnm2 commented on #19548
I have this exact issue, but the instructions to add an app.config file confuses me because what I'm building is an MSBuild task dll. Do .configs get loaded for every dll? Thought it was an .exe thing.

[2017-07-07 11:48] ygc369 opened #21976 "Proposal: Provide API/class library to play music stored in strings, like QBasic"
QBasic has "play" command to play music which is stored in strings, why VB and C# can't?
I hope that VB and C# have the same ability to play music without a music file.
If I only have a music score and do not have any music files, I wish to write a program to play it.
I can translate the music score to strings manually, according to specific rules, just like QBasic.

[2017-07-07 12:08] karelz commented on #21557
We can put it on our backlog. It would be best to bundle it together with new developer instructions, which also need some love.

cc @ianhays @wfurt

[2017-07-07 12:21] jnm2 commented on #21976
You can already use `NAudio` or similar libraries to synthesize music. I don't think this belongs in the BCL.

[2017-07-07 12:22] svick commented on #21976
Related: https://github.com/dotnet/csharplang/issues/346, https://github.com/naudio/NAudio/issues/206.

[2017-07-07 12:24] jnm2 commented on #21976
Hmm... I've done it, a long time ago, with both MIDI and waveform generation using NAudio.

[2017-07-07 12:32] ygc369 commented on #21976
@jnm2
Could you share your code?

[2017-07-07 12:33] sharwell commented on #21976
This appears to be highly application- and platform-specific functionality. I do not believe it would be possible to implement this in a manner which applied broadly (usable to many application developers), meaning it would be more appropriate to implement as a standalone library, or even as part of the single application which uses it.

[2017-07-07 12:40] ygc369 commented on #21976
@sharwell
Why does QBasic have this function? Is it possible to port QBasic's implementation?

[2017-07-07 12:43] ygc369 commented on #21976
@sharwell
If I want to port an old QBasic program to .net platform, how could I deal with "play" command?

[2017-07-07 12:44] jnm2 commented on #21976
@ygc369 I'll put it on my todo list.

[2017-07-07 12:46] ygc369 commented on #21976
@jnm2
Thank you!

[2017-07-07 12:48] jnm2 commented on #21976
@ygc369 QBASIC was born for a time where computers only had a PC speaker and all QBASIC had to do was send a frequency and an amount of time to block. It was for games and simple notification purposes. Nowadays music is typically either MIDI (if you want to sound cheap on most systems) or actually produced and rendered ahead of time into a waveform and usually stored in Ogg Vorbis or MP3.

[2017-07-07 14:26] AtsushiKan commented on #21973
@morganbr - did the reducer changes cause this? This is the second time this week I've seen a test start failing suddenly because System.DBNull dumped its metadata.

[2017-07-07 14:26] #21932 closed

[2017-07-07 14:26] #21931 closed

[2017-07-07 14:26] #21929 closed

[2017-07-07 14:50] tmat commented on #19548
@jnm2 Unfortunately, MSBuild tasks do not currently support binding redirects, see https://github.com/Microsoft/msbuild/issues/1309.

[2017-07-07 14:59] ViktorHofer commented on #21918
@sandyarmstrong @morganbr Using an explicit backing field works for me:

[code]

Additionally, looking into the blob shows that the value is saved correctly (Ignore the qualified assembly name as I tested your code in our serialization test assembly):
[code]

[2017-07-07 15:10] ViktorHofer commented on #21918
Using an auto property:

[code]

And produces the following blob which is the same again on core and netfx:

[code]

I can't see any issue here. @sandyarmstrong maybe something else related to the unset field?

[2017-07-07 15:13] tannergooding commented on #21976
@ygc369, you would have to create a wrapper an emulate it.

QBASIC used the system speaker to do this, and the closest thing the BCL provides natively is `System.Console.Beep`. Anything outside of that does become applicable to the specific library/etc and is likely outside the scope of a language or the BCL.

The logic QBASIC used for interpreting the string, the special commands supported, and t

[2017-07-07 15:13] brianrob commented on #20589
@saurabh500, FYI, my changes got backed out of the official build last night, so they won't be in today's ProjectNTfs PR.  I need to investigate and try to re-submit.

[2017-07-07 15:13] remcoros commented on #21961
@danmosemsft I think the label should be area-System.Xml

Also, this was part of a Hashtable to Dictionary conversion by @sepidehMS here: https://github.com/dotnet/corefx/commit/517449e0f4a15ec106c64528645e90bb6434895e

Because 'Namespaces' is internal, it could be that a few other places where missed converting to use TryGetValue.

[2017-07-07 15:15] tannergooding commented on #21976
WikiBooks has a good short summary of the PLAY command and how it is interpreted: https://en.wikibooks.org/wiki/QBasic/Appendix#PLAY

[2017-07-07 15:18] sandyarmstrong commented on #21918
@ViktorHofer I don't see where your test is taking serialized output from .NET Desktop and deserializing in .NET Core, which is where the bug surfaces.

[2017-07-07 15:21] ViktorHofer commented on #21918
The serialization payload generated on netfx (.NET Desktop) and core (.NET Core) is exactly the same.

[2017-07-07 15:31] #2241 closed

[2017-07-07 15:32] sandyarmstrong commented on #21918
Thanks, I missed that. Let me try a daily build and see if I can get results like you.

[2017-07-07 15:34] KostaVlev commented on #20711
I will try to write tests and convert the old once for `GraphicsPathIterator` also. :)

[2017-07-07 15:37] ViktorHofer commented on #21918
There was an issue when it comes to serialization of parent type fields which we fixed here: https://github.com/dotnet/corefx/pull/20938 (I can't say if it was already included in preview-2)

[2017-07-07 15:38] RehanSaeed opened #21982 "Dynamically Loading .NET Core Assemblies"
I've published an ASP.NET Core project to a folder and I'm trying to dynamically load the assembly containing the ASP.NET Core `Startup` class. I then want to instantiate the `Startup` class and hand it over to the `TestHost` API, so I can start the site in memory. I've written the following code:

[code]

This works when I publish the app as a self contained application, however, I'd like to avoi

[2017-07-07 15:43] hughbe commented on #20711
Awesome. I'm busy this weekend and was this week but I'm working on tests for Graphics
Once yours and @norek's PRs are in we should be getting to a good level of coverage - lots more to be done though!

[2017-07-07 15:45] tarekgh opened #21983 "ResourceManager in .NET core does not fallback to unspecfic resource when using an unlocalized culture"
@Drapondur commented on [Thu Jul 06 2017](https://github.com/dotnet/core/issues/735)

Version: .NET Core App 1.1
OS Windows 7 (German)
Assembly System.Resources.ResourceManager, Version=4.0.0.0
from %userprofile%\.nuget\packages\system.resources.resourcemanager\4.3.0\ref\netstandard1.0\System.Resources.ResourceManager.dll

I have a simple Resource named TestRes.resx plus three culture specific res

[2017-07-07 15:47] ViktorHofer commented on #21918
It might also help if you post your base64 blob into here so I can take a look. You might use this method for it https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterHelper.cs#L274

[2017-07-07 15:56] sandyarmstrong commented on #21918
@ViktorHofer I just tested with 2.0.0-preview3-006689 on Windows and it seems fixed now. I'll verify on Mac as well.

[2017-07-07 15:57] ViktorHofer commented on #21918
Thanks for testing!! 👍 I will close this now.

[2017-07-07 15:57] #21918 closed

[2017-07-07 16:02] markrendle commented on #21976
This _has_ to be a troll account.

I mean, look at [Will win2d have any kind of 3D support?](https://github.com/Microsoft/Win2D/issues/533)? Really?

[2017-07-07 16:10] sandyarmstrong commented on #21918
Looks good on Mac, too, thanks!

[2017-07-07 16:22] jnm2 commented on #21976
@markrendle I don't think so. https://github.com/issues?utf8=%E2%9C%93&q=author%3Aygc369+

[2017-07-07 16:24] TylerBrinkley commented on #2127
Could we add a `netfx-port-consider` tag to this? I think this would be very valuable in the desktop .NET Framework.

[2017-07-07 16:26] tarekgh commented on #21983
@Drapondur This issue looks the one we already fixed in v2.0.
https://github.com/dotnet/corefx/issues/12625

IF you want to try 2.0, please follow the instructions in the  link
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

I am closing this issue now but feel free to respond back with any question or request. Thanks for reporting this issue

[2017-07-07 16:28] #21983 closed

[2017-07-07 16:32] jnm2 commented on #21976
@markrendle Nice NDC talks btw, just listened to them.

[2017-07-07 16:42] tannergooding commented on #15830
Now that .NET Standard 2.0 is closer to landing, is this something that can be revisted (as a NetStandard 2.1 API)?

CoreFX has already created a simple wrapper for `MathF` on NetStandard for internal use as it simplifies the code in a number of places (and allows it to be faster on NetCore).

My reason for wanting this comes down to the same, it simplifies code greatly for users who are going to

[2017-07-07 16:42] tarekgh commented on #10054
What I mean, try in your Linux terminal run the command "locale" and then look what is the value of the property LC_CTYPE which can tell which default encoding is used in your system.

[2017-07-07 16:46] MattGal commented on #21379
These multi-pass ARM tests are a bit special since the part you want to debug is not likely the result from the link above.  We'd like to merge things but we'd need to introduce some higher-level concept of test result grouping to do so.  That said, here's what you want:

Starting from @Jiayili1's link above, to get the correlation id I do the following:

1) Click link
2) Click "Infrastructure Exe

[2017-07-07 16:48] karelz commented on #15830
It is too early to discuss .NET Standard 2.1. Why do you think it needs to be part of .NET Standard. Isn't the wrapper a viable solution? (not pushing back, just trying to understand)

[2017-07-07 16:50] karelz commented on #2127
Sounds reasonable to me, added. Area owners/experts feel free to override my change if needed.

[2017-07-07 16:55] tannergooding commented on #15830
The current CoreFX wrapper is internal and not available for general use (currently System.Numerics.Vector is the only consumer).

I want `System.MathF` to be part of NETStandard so that I can use `System.MathF` in my code (without having to write my own wrapper) and have it work on both Desktop (where it wraps `System.Math`) and CoreCLR (where it resolves down to an FCALL).

Writing my own wrappe

[2017-07-07 17:06] sepidehMS commented on #21961
I will take a look at this soon.

[2017-07-07 17:06] #21973 closed

[2017-07-07 17:08] tannergooding commented on #15830
Additionally, a wrapper requires you to cross-compile (one for Desktop that wraps and one for CoreCLR that doesn't). This makes it difficult to consume `System.MathF` from within a `NetStandard` library itself.

If I write a NetStandard library and want to consume `System.MathF` I have to:
* Create a separate project that cross-compiles (Desktop and CoreCLR)
* Create my own wrapper for `System.Mat

[2017-07-07 17:10] swgillespie commented on #21974
This will resolve itself once https://github.com/dotnet/corert/pull/4100/commits/55abc5bf1d75837efa8b8b678825399f29b140e1 flows through to official builds.

[2017-07-07 17:36] pjanotti commented on #21786
This also blocks trying the new API mentioned in #21156.

[2017-07-07 17:57] safern opened #21986 "System.Xml.Linq.Events.Tests crash on UapAot"
This tests are crashing with following error:

[code]

I've seen this failed in several places, one of them is: https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System/Xml/Core/XmlEncodedRawTextWriter.cs#L138

Note that this only happens in ret mode, if I build the test  project in chk then this doesn't happen anymore.

cc: @tijoytom

[2017-07-07 18:00] yizhang82 commented on #21786
@joperezr Having new metadata won't break running down-level as long as RS3-aware code is properly guarded with IsApiPresent. It'd be good to validate it in a RS2 machine, of course.

[2017-07-07 18:03] safern commented on #21986
Also note that this is only happening in x86

cc: @joshfree

[2017-07-07 18:08] joperezr commented on #21720
Assinging to @ViktorHofer since he was looking into this.

[2017-07-07 18:24] stephentoub commented on #21976
Thanks for the discussion.  I'm going to close this now.

[2017-07-07 18:24] #21976 closed

[2017-07-07 18:25] saurabh500 commented on #20589
@brianrob Thank you for the update. Let us know when the changes make their way back in.

cc @ajlam @corivera
@corivera When the Brian's changes get into TFS, we need to enable this test and make sure that it passes on uapaot.

[2017-07-07 18:29] saurabh500 commented on #21890
@joperezr While I am working to get this taken care of, what change caused this issue? I believe that the tests were executing earlier with the exception of Integrated Auth tests.

[2017-07-07 18:29] saurabh500 commented on #21890
cc @corivera

[2017-07-07 18:37] joshfree commented on #21986
@AtsushiKan please take a quick look

[2017-07-07 18:38] fadimounir commented on #21379
Thanks @MattGal

[2017-07-07 18:40] joshfree commented on #21437
@corivera can you PTAL while @saurabh500 is out

[2017-07-07 18:44] saurabh500 commented on #21437
This is not a product issue but a test issue. This test should be modified for uap

[2017-07-07 18:48] brianrob commented on #21971
This is expected, as my fix for this test was backed out of last night's official build.  I'll be working on this today.

[2017-07-07 18:53] AtsushiKan commented on #21986
This is for compiler or runtime folks. The GC is doing a stack walk and seeing something in the regDisplay that it didn't expect to see:

 	mrt100_app.dll!EECodeManager::UnwindStackFrame(GCInfoHeader * pInfoHeader, REGDISPLAY * pContext) Line 797	C++
 	mrt100_app.dll!Module::UnwindStackFrame(MethodInfo * pMethodInfo, REGDISPLAY * pRegisterSet, void * * ppPreviousTransitionFrame) Line 457	C++
 	mrt

[2017-07-07 19:11] stephentoub opened #21991 "SslStream incorrectly handles SslProtocols.None on Unix"
This should run successfully on Linux, as it does on Windows.  Instead it fails with the exception:
[code]
Repro:
[code]
This is particularly problematic now that None is the default that's meant to mean "use whatever the system thinks is best".

cc: @bartonjs, @Priya91, @geoffkizer

[2017-07-07 19:13] DnlHarvey commented on #21680
FirstChanceException_Called and SetData_SameKeyMultipleTimes_ReplacesOldValue should be supported on UAPAOT. We probably just never plumbed through FirstChanceException, I'm a little surprised SetData isn't working correctly though.

[2017-07-07 19:15] krwq commented on #21680
@DnlHarvey SetData seems to be by design https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/AppContext.cs#L76 - where should I look at the FirstChanceException fix? I do not much about this code? Would it be easier if you took this bug if you got time?

[2017-07-07 19:17] stephentoub commented on #21927
This appears to be due to https://github.com/dotnet/corefx/issues/21991.

[2017-07-07 19:17] CIPop commented on #20741
We have this for Windows documented here (ETW): https://github.com/dotnet/corefx/blob/master/Documentation/debugging/windows-instructions.md

You should be able to adapt (and if you have some time document at https://github.com/dotnet/corefx/blob/master/Documentation/debugging/unix-instructions.md) the instructions here on how to collect EventSource in Unix environments:

https://github.com/dotnet

[2017-07-07 19:18] stephentoub commented on #21923
This appears to be due to https://github.com/dotnet/corefx/issues/21991.

[2017-07-07 19:18] stephentoub commented on #21917
This appears to be due to https://github.com/dotnet/corefx/issues/21991.

[2017-07-07 19:23] DnlHarvey commented on #21680
Sorry, I should have said SetData should behave the same on UAPAOT as any other target. The FirstChanceException thing won't be straightforward or intuitive. I'll take the bug.

[2017-07-07 19:24] krwq commented on #21680
@DnlHarvey thank you!

[2017-07-07 19:26] bartonjs commented on #21991
https://github.com/dotnet/corefx/blob/51926fcf3ce2195dffc84065813731477c9b36c9/src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs#L64

I don't know if we want to do "local opinionated":  `if (protocols == 0) protocols = Tls12;`  or just only call this function if protocols is non-zero.  Probably the latter, since that's "whatever OpenSSL wants".

[2017-07-07 19:30] swgillespie commented on #21443
Finally got a repro of this using the *awesome* Helix repro tool, and discovered that the cause of this issue is that the test requests only 1024 bytes of allocation room when entering the No GC region. Since the CoreRT runtime is mostly managed and allocates more than CoreCLR, this budget is not enough. I figure bumping up the budget by a few digits should work well in reducing the flakiness of t

[2017-07-07 19:35] CIPop commented on #21577
On Windows this is achievable via system-wide registry key changes: https://technet.microsoft.com/en-us/library/dn786418(v=ws.11).aspx#BKMK_SchannelTR_CipherSuites

[2017-07-07 19:36] CIPop commented on #20103
/cc @caesar1995 @davidsh @DavidGoll

[2017-07-07 19:51] morganbr commented on #21973
@AtsushiKan, I'm not aware of any reducer changes that would have caused less metadata. It's possible code somewhere else that happened to trigger metadata for DBNull changed though. Incidentally, is that exception supposed to be MissingRuntimeArtifactException? Didn't you already unblock that?

[2017-07-07 19:53] CIPop commented on #5525
@davidsh I remember a PR where you were changing this. Is it now fixed?

[2017-07-07 19:55] davidsh commented on #5525
Fixed with #21905

[2017-07-07 19:55] #5525 closed

[2017-07-07 20:01] #21727 closed

[2017-07-07 20:01] #21728 closed

[2017-07-07 20:03] CIPop commented on #17802
This may be related to:

https://technet.microsoft.com/en-us/library/hh831771.aspx#BKMK_Changes2012R2

**Management of trusted issuers for client authentication**

When authentication of the client computer is required using SSL or TLS, the server can be configured to send a list of trusted certificate issuers. This list contains the set of certificate issuers which the server will trust and is a

[2017-07-07 20:06] stephentoub commented on #21991
Yup.  I believe we decided that None means system default, and in this case OpenSSL is "system", so if None is provided, we should just avoid overriding anything and let it do what it wants.

[2017-07-07 20:22] CIPop commented on #13663
/cc @davidsh @DavidGoll @caesar1995
Talked with @Priya91 offline. The current status is:

* Core HttpListener running on Win8+ uses HTTP.SYS + websocket.dll
* Core HttpListener running on Win7 doesn't have WebSocket support
* Core HttpListener running on Unix and UWP uses the managed implementation for HTTP and managed implementation for WebSocket

[2017-07-07 20:23] #21555 closed

[2017-07-07 20:27] yizhang82 commented on #21442
@tijoytom Please resolve this your fix is checked-in.

[2017-07-07 20:34] MichalStrehovsky opened #21993 "Invalid RD.XML in System.Linq.Expression"
The embedded RD.XML in System.Linq.Expression doesn't conform to the schema and causes compilation warnings on UWP:

[code]

What we need to investigate is why there are no failing tests (a badly specified RD.XML does nothing) - is this directive needed? Do we need more tests?

Also, the RD.XML needs to be fixed or all users will see this warning in VS.

[2017-07-07 20:35] MichalStrehovsky commented on #21993
Cc @AtsushiKan

[2017-07-07 20:38] CIPop commented on #21853
@mmitche @MattGal what is "Windows.10.Amd64-arm"? Would running this on a Windows Phone be a good way to repro this?

[2017-07-07 20:47] tijoytom commented on #21442
Fix checked in to TFS, should be clean on next run

[2017-07-07 20:47] #21442 closed

[2017-07-07 20:49] AtsushiKan commented on #21973
That was MissingMetadataException. Then there was a debate about whether to do this one on one on en-masse via the toolchain. I don't remember how that particular cliffhanger resolved...

[2017-07-07 20:51] MattGal commented on #21853
@CIPop I get this is a bit confusing, what this refers to is a run where .NET Native compilation occurred, targeting ARM (32-bit Windows on ARM, specifically) on a Windows 10 Amd64 machine since the native compilation toolchain only runs on AMD64 devices, then the resulting output was put back into the WIndows.10.Arm64 queue, where they ran in WOW mode.

As for how you debug this, copying over the

[2017-07-07 21:04] AtsushiKan commented on #21993
Something's not adding up about that (aside from sounding way too draconian a policy). This was part of a change (364428426ee64cbea654cbe9890a176c298fffe5) that caused ILC Helix runs to start passing, and there was a subsequent change (cea36058acd4c1b5d24dcec7e856da089de90a45) to this same (that would be a nop if this statement were true) that also unblocked new tests.

I don't think we got tests

[2017-07-07 21:06] MichalStrehovsky commented on #21993
I should rephrase that: a badly specified RD.XML *directive* does nothing. Line 158 does nothing.

[2017-07-07 21:08] #21786 closed

[2017-07-07 21:10] AtsushiKan commented on #21993
That makes more sense. IEnumerator is pretty common - it's not too hard to believe that something else was causing that one method to be retained, thus hiding the bug.

[2017-07-07 21:13] joshfree commented on #21993
@VSadov @jaredpar

[2017-07-07 21:16] stephentoub commented on #21804
Why was this assigned to me?  Isn't this some kind of .NET Native optimization bug, rather than something specific to PLINQ?

[2017-07-07 21:17] VSadov commented on #21804
This is in TPL, which is not exactly Linq.
I think @stephentoub is the owner or might know who is.
However, since this is an Access Violation, the bug is likely to be at the AOT/Runtime level, possibly a GC hole.
Andd it is kind of disturbing that we see AVs

[2017-07-07 21:22] VSadov commented on #21804
@stephentoub - right, most likely a .Net Native optimization bug. Added you just for the triage purpose, but it seems rather bad to see AVs

@joshfree - where should this go then? I do not think we are the best equipped with investigating .Net optimization issues over here.

[2017-07-07 21:38] VSadov commented on #21993
@MichalStrehovsky @AtsushiKan  - can you take a look at https://github.com/dotnet/corefx/pull/21994 ?

Would that fix the issue?

[2017-07-07 22:01] joperezr commented on #21890
mm the only thing that changed was that we brought up ARM runs, and this only fails in ARM, which basically means that this has never really worked on ARM since this has always been a problem.

[2017-07-07 22:07] VSadov commented on #18112
RuntimeOps  primarily exists to hold helpers that are being called at run time via reflection, often from generated/interpreted code.
I think everything public in that class is needed. (otherwise it would not be public).

@vitek-karas - assuming everything public in that class is needed at run time, is there anything actionable here?

[2017-07-07 22:12] ygc369 commented on #21976
@markrendle
Not troll account absolutely.
Your words are impolite.

[2017-07-07 22:15] VSadov commented on #18112
Is this something that is needed for 6.0 or can be moved to after?

[2017-07-07 22:17] VSadov commented on #19129
@danmosemsft - since this is causing FailFast, would it be an indication that it is specific to AOT/runtime?

[2017-07-07 22:18] DnlHarvey commented on #20888
Viktor did you find anything? Most of these tests pass for me, the ones that don't have a test bug where they don't have reflection metadata for these types:
KeyCollection
KeyList
ValueCollection
ValueList

[2017-07-07 22:19] danmosemsft commented on #19129
Can be. Note that debug.fail also causes fail fast now.

[2017-07-07 22:20] safern commented on #19129
I will try to attach locally and see if it is AOT/runtime. Might be related to: https://github.com/dotnet/corefx/issues/21804

[2017-07-07 22:22] joshfree commented on #21804
@VSadov feel free to chat with @AtsushiKan or @swgillespie who can point you in the right direction.

[2017-07-07 22:24] #21731 closed

[2017-07-07 22:25] lextm opened #21995 "NullReferenceException from SocketAsyncEventArgs.InnerStartOperationReceiveMessageFrom"
I was working on a UDP library when I hit this miserable exception. Attached is the minimal project I can think of to reproduce the exception.

[SocketAsyncClose.zip](https://github.com/dotnet/corefx/files/1132479/SocketAsyncClose.zip)

Compile and run this project with no debugger attached, and you should see the exception details,
[code]
This piece of code tries to reuse `SocketAsyncEventArgs` o

[2017-07-07 22:25] vitek-karas commented on #18112
If we need all of the public members at runtime through reflection, then there's nothing we can do here - the current state is as good as it gets.
Eventually it would be nice to understand the size implications of this and if we can somehow trim it down... but that's work definitely after 6.0.

I don't think there's anything for 6.0 here - it's not a bug per se (it works), it's an improvement for

[2017-07-07 22:33] safern commented on #19129
I see:

[code]

in: https://github.com/dotnet/corefx/blob/master/src/System.Linq.Expressions/src/System/Linq/Expressions/Interpreter/LightLambda.cs#L431-L453

[2017-07-07 22:34] AtsushiKan commented on #21804
Original AV is here - looking inside the RegDisplay and finding a NULL in ebx where it was expecting something more interesting.

https://github.com/dotnet/corert/blob/96869aedb94e5a536332c4f4a6065c2b6433edd1/src/Native/Runtime/RHCodeMan.cpp#L797

High likelihood - whatever's responsible for this is also responsible for https://github.com/dotnet/corefx/issues/21986#issuecomment-313764464

same reg

[2017-07-07 22:39] VSadov commented on #18112
Moving to after6.0 - not sure if there is a lot to be gained here, but may be worth looking at.

@jaredpar - FYI

[2017-07-07 22:41] joperezr commented on #21392
I'm trying to fix this, but after doing so and re-enabling the tests, a bunch of IO.Pipes tests are hanging waiting forever to connect to a namedPipe. I'm trying to investigate this now, but I might need to grab some help from @JeremyKuhne

[2017-07-07 22:42] #21993 closed

[2017-07-07 22:42] swgillespie commented on #21804
cc @AntonLapounov - I thought the issue behind #21986 was x86 only, though.

[2017-07-07 22:44] lextm commented on #21995
The severity of this issue is high, due to
- `Socket.ReceiveMessageFromAsync` is the only async way to get the remote endpoint address, per the documentation. So, other async receive methods cannot be used instead.
- The `SocketAsyncEventArgs` served becomes wild after this exception, and cannot be reused (if reused, an `InvalidOperationException` would occur, which is used by this sample project

[2017-07-07 23:06] krwq commented on #21850
This is not reproing for me at all since I synced today (running for more than an hour in a loop already). Will leave over the weekend

[2017-07-07 23:07] morganbr commented on #20888
@DnlHarvey, as you look at the MissingMetadataExceptions, please let us know if there are patterns the tests use that analysis should pick up automatically. If you do need to add rd.xml, there's now a BinaryFormatter degree, so it would look like:
[code]

[2017-07-07 23:25] #21393 closed

[2017-07-07 23:25] brianrob commented on #20589
These went in a short while ago with a fix for the break. Keep an eye out on Monday for the ProjectNTfs PR.

________________________________
From: Saurabh Singh <notifications@github.com>
Sent: Friday, July 7, 2017 11:26:15 AM
To: dotnet/corefx
Cc: Brian Robbins; Mention
Subject: Re: [dotnet/corefx] System.Data.Common.Tests InvokeCodeThatShouldFirEvents_EnsureEventsFired test disabled. (#20589)

[2017-07-07 23:32] safern commented on #21986
Note that this tests are forced to be build as chk mode to avoid hitting this issue. So to get a local repro either passing /p:ILCBuildType=ret or delete this line: https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml.Linq/tests/events/System.Xml.Linq.Events.Tests.csproj#L6

[2017-07-07 23:49] davidsh commented on #21995
Does this repro on .NET Framework?