[2018-05-07 17:01] sshinault commented on #8645
@LandonCampbell No, we decided to upgrade to SQL Server 2008 R2 which works fine.

[2018-05-07 17:12] MohammadHamdyGhanem commented on #29537
@Clockwork-Muse
1- Use the Invarient Culture as a standard.
2- Since "1" is rejected, use current culture as you want, but only on the programmer's PC, not at the the user's PC.
What I say is to compile Parse(s) on a German Pc to Parse(s, new CultureInfo("de")) which will work exactly the same on all PCs whatever thier cultures, and German programmer still can write dates on his culture format lik

[2018-05-07 17:15] weshaggard commented on #29365
@masonwheeler just to call out you can use Reflection.Emit if you are writing .NET Core app or library you just cannot use it while writing .NET Standard library currently.

[2018-05-07 17:30] stephentoub commented on #29537
No.  I understand you'd prefer the other one be the default, but this behavior is by design and desired by many, and this will not be marked obsolete.

[2018-05-07 17:41] davidsh commented on #18864
Not useful to track this since it is current .NET Framework behavior.

[2018-05-07 17:41] #18864 closed

[2018-05-07 17:42] davidsh commented on #19001
Not useful to track this anymore.

[2018-05-07 17:42] #19001 closed

[2018-05-07 17:45] David-Engel commented on #8807
We are actively looking in to how and when we can implement this. It seems like the easy first step will be to add AccessToken to SqlConnection as @CarlosOnline mentioned and leave it to the client to obtain the token for now. Following that, we are investigating what we can do on the AAD auth side since we can't use the same underlying libraries for AAD auth that are used in .NET Framework.
David

[2018-05-07 17:53] karelz commented on #29542
The plan is to make them public, once we prove to ourselves the shape is right and they are complete and ready for public exposure. In 2.1 it is a prototype (see https://github.com/dotnet/designs/issues/11). Also see #21833 for tracking of the work.
cc @bartonjs

[2018-05-07 17:54] ChristianHaase commented on #27951
I'm sorry it took so long. I've attached a simple repro that should causes the segmentation fault on my test server. I've attached the project as a .rar to this comment.

[NETCORE_Debian9_Repro.zip](https://github.com/dotnet/corefx/files/1980901/NETCORE_Debian9_Repro.zip)

[2018-05-07 17:58] masonwheeler commented on #29365
@weshaggard are you sure?  I just checked the repo, and it appears that not only is `AssemblyBuilder.Save` not implemented yet, *it doesn't even exist at all* on Core!  (I might be wrong; I'm on my phone and GitHub's mobile interface isn't the best, but that's what it looks like.)

[2018-05-07 18:04] weshaggard commented on #29365
@masonwheeler you're correct that we don't support AssemblyBuilder.Safe in .NET Core that is being tracked by another issue https://github.com/dotnet/corefx/issues/4491.

[2018-05-07 18:05] Burnaster commented on #29538
@tarekgh 4 year digits would be a lot better from my perspective and solve my problem.

[2018-05-07 18:11] masonwheeler commented on #29365
There it is!  I thought I had seen that issue before, but searching only turned up this one. :P

But yeah.  Without the ability to *actually emit your results,* you can't really say that you can use Reflection.Emit on Core. ☹️

[2018-05-07 18:17] masonwheeler commented on #4491
The existence of cross-platform Roslyn suggests that this isn't a particularly intractable problem, at a high level at least.

Could this please be made a high priority?  The inability to use Reflection.Emit is currently my #1 blocker preventing me from migrating existing work to Core, and as such it's far more urgent, from my perspective at least, than the development of new features.

[2018-05-07 18:28] sdmaclea opened #29544 "API Proposal: Add Interlocked ops w/ explicit memoryOrder"
While trying to stabilize the thread pool for linux-arm64 during the release 2.1 effort, it became apparent that the safest thing would be to assume that existing code assumed an interlocked operation guaranteed barrier such that it guaranteed sequential consistency at least with respect to operation before and after the interlocked operations.

While this approach is likely to guarantee functiona

[2018-05-07 18:30] sdmaclea commented on #29544
@kouvel @stephentoub @CarolEidt @eerhardt @RussKeldorph @jkotas

MemoryOrder was copied from #10481

[2018-05-07 18:33] tmds commented on #27951
@ChristianHaase please try running this on your AWS machine with gdb.

[code]

gdb will break when you get a segfault.
Then use the `bt` command to get a stacktrace.

[2018-05-07 18:39] cleverguy25 commented on #8807
Anything that enables the scenario now is welcome, even if it is more work.  Get a MVP out there and then iterate to improve. Right now we are completely blocked for AAD/Sql Auth.

[2018-05-07 18:45] ChristianHaase commented on #27951
Not really giving me anything readable
![image](https://user-images.githubusercontent.com/7237574/39718768-961c1fec-5237-11e8-9c71-5412c176c19e.png)

[2018-05-07 18:47] sdmaclea commented on #29544
Created based on discussion in https://github.com/dotnet/coreclr/pull/17567#issuecomment-381341865 and surrounding

[2018-05-07 18:56] kouvel commented on #29544
C++11 atomics seem to have separate memory order in compare_exchange for success case and failure case. I think it would be good to separate them when we're being explicit about the ordering anyway.

[2018-05-07 19:01] tmds commented on #27951
@ChristianHaase maybe this gets you further: https://github.com/dotnet/core/issues/973#issuecomment-331416157

[2018-05-07 19:17] Burnaster commented on #29538
@tarekgh  As far as i understood the ICU relies on the CLDR project. I created a ticket stating my concern about the short date pattern; even though i don't see much chance for success in the near future due to the nature of the project and the unicode consortium: https://unicode.org/cldr/trac/ticket/11090

[2018-05-07 19:23] ericstj opened #29546 "MemoryMappedFile is missing CreateFromFile overload that takes MemoryMappedFileSecurity"
IIRC we did this because ACLs were cut as they didn't work well cross-plat.  We lifted ACLs up to their own assembly and then added extension methods where appropriate.

This was problematic for the MemoryMappedFile API.  At the time (pre-net46) it only had a single method that could create a MMFile from a FileStream: https://apisof.net/catalog/System.IO.MemoryMappedFiles.MemoryMappedFile.CreateFr

[2018-05-07 19:44] tarekgh commented on #29538
@Burnaster thanks. I'll try to look if we can force a 4-digit year in the short date format.

[2018-05-07 19:49] dlstucki commented on #29163
PR #29159 just formats the status code in the exception.Message string. Are users supposed to parse that string in order to find the status code? I need to convert these into different exception types: e.g. 401->AuthorizationFailedException, 404->EndpointNotFoundException, and so on. Parsing an error message string feels like a work-around.

Could we put an HttpResponseMessage with status code, re

[2018-05-07 19:53] natemcmaster opened #29547 "macOS: FileSystemWatcher.Changed sometimes raises duplicate events for a single file change"
It appears the FileSystemWatcher.Changed event may be raised multiple times per file change on macOS. This doesn't seem like correct behavior.

**Repro**

[code]
[code]

**Expected**
Output should always be `Changes = 500, events = 500`

**Actual**
Results vary per run. Here are the results of running the repro several times in a row.
![image](https://user-images.githubusercontent.com/2696087/3972

[2018-05-07 20:51] cskwrd commented on #29542
@bartonjs I don't have my code in front of me, but as I understand it the [CertificateRequest](https://msdn.microsoft.com/en-us/library/system.security.cryptography.x509certificates.certificaterequest(v=vs.110).aspx) class doesn't let me create root or intermediate CA certs.  Is that correct?

[2018-05-07 21:00] #26492 closed

[2018-05-07 21:08] weshaggard opened #29549 "Update package label to "final" for the stable prerelease builds."
https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks.Packaging/src/PackageFiles/Packaging.targets#L16 instead of excluding the build number change it to "final". That will help make sure the package version is the higher then any of the existing packages that have that build number.

We should consider renaming IncludeBuildNumberInPackageVersion to better align with th

[2018-05-07 21:12] coolcsh opened #29551 "test"
test

[2018-05-07 21:13] #29551 closed

[2018-05-07 21:27] MichalStrehovsky opened #29554 "Add test coverage for ECMA-335 corner around non-optional Lists"
Use System.Reflection.Metadata to emit the following:

* A module with exactly 0xFFFF methods
* The last type in the module has no methods

This will hit a corner case in the ECMA-335 spec where the TypeDef record for the last type should end up with a `MethodList` value of 0x10000, but per the spec, the `MethodList` column is only 2 bytes wide (because the method count fits in 2 bytes), making th

[2018-05-07 21:29] stephentoub commented on #28697
Because it leaves a column for data traced by TraceData.

[2018-05-07 21:30] #28697 closed

[2018-05-07 21:30] joperezr commented on #29523
This is by design. Xamarin wants to provide its own implementation for this assembly, which is why we put the placeholder in so that if you reference this project from Xamarin you will get the Inbox implementation provided by them instead of the .NetStandard implementation provided by the package. cc: @marek-safar

[2018-05-07 21:37] joperezr commented on #29523
You can see how we force to use the inbox version if you check the following line on the System.Memory package project.

https://github.com/dotnet/corefx/blob/ccda77cfeb25acbc738b7895cc8cd81cdaf740e2/src/System.Memory/pkg/System.Memory.pkgproj#L10

[2018-05-07 21:37] bartonjs commented on #29542
@cskwrd There's a whole set of tests around building chained certificates (a self-signed cert which asserts that it is a CA, an intermediate CA, and end-entity certificates):

https://github.com/dotnet/corefx/blob/e160ef76df64a2114addf774a05af2f995f18bca/src/System.Security.Cryptography.X509Certificates/tests/CertificateCreation/CertificateRequestChainTests.cs#L96-L201

For test purposes it should

[2018-05-07 21:48] Genbox opened #29555 "Brotli defaults to quality 11"
The newly added compression algorithm Brotli as tracked by #24826 defaults to quality 11 as seen here:
https://github.com/dotnet/corefx/blob/8f9cfa462dfc2ec5bdbbe2462693036861fb0199/src/System.IO.Compression.Brotli/src/System/IO/Compression/BrotliUtils.cs#L13

From a quick look at Brotli's code (https://github.com/google/brotli), it seems level 5 and 6 is intended for optimal ratio/speed and the B

[2018-05-07 21:50] vancem commented on #29534
I would recommend that you create an markdown file for the spec in the ngpsql repo and submit it as a pull request (and put a link to it here).  It allows us to use line level pull request to give feedback, and it becomes a permanent document afterward (write it as if you were explaining how to use it to new users).

As @divega indicated, it is better to follow the guidelines than to try to be con

[2018-05-07 21:53] Genbox commented on #29555
That being said. CompressionLevel only has 3 levels:
1. Optimal
2. Fastest
3. NoCompression

I would suggest having 4 levels:
0. NoCompression
1. Fastest
2. Optimal
3. Best

Note that I've also ordered the levels to reflect their compression ratio, which is currently not the case. If needed, I can create a separate issue for this suggestion.

[2018-05-07 22:14] MohammadHamdyGhanem commented on #29537
I agree. But the problem is that not all programmers are aware of that Parse(s) uses thier own culture!
see how much questions about that in stackoverflow:
https://www.google.com.eg/search?q=DateTime.Parse+causes+an+exception+site:stackoverflow.com&sa=X&ved=0ahUKEwikzp_5zvTaAhXCZFAKHQftDUgQrQIIMygEMAA&biw=853&bih=437&dpr=1.5
This is why I say it needs a warning.

[2018-05-07 22:30] #29517 closed

[2018-05-07 22:56] coolcsh opened #29557 "ClientWebSocket does not provide upgrade request error details"
ClientWebSocket on .NET Core does not provide the upgrade request errors in the exception details as it does on the .NET Framework.
Repro code
var client = new ClientWebSocket();
client.ConnectAsync(new Uri("wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1"), CancellationToken.None).GetAwaiter().GetResult()

[2018-05-07 22:59] coolcsh opened #29558 "ClientWebSocket does not provide upgrade request error details"
ClientWebSocket on .NET Core does not provide the upgrade request errors in the exception details as it does on the .NET Framework.
Repro code
var client = new ClientWebSocket();
client.ConnectAsync(new Uri("wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1"), CancellationToken.None).GetAwaiter().GetResult()

[2018-05-07 23:14] cskwrd commented on #29542
Wow! I spent all weekend looking for exactly that file. I guess sometimes it just takes someone hitting you on the head with it, haha! Thanks!

[2018-05-07 23:14] #29542 closed

[2018-05-07 23:22] mkArtakMSFT opened #29560 "XmlSerializerOutputFormatter can't serialize DataSets with object (sql_variant) columns"
_From @SWarnberg on May 7, 2018 14:27_

#### Bug:
The following exception is thrown when a DataSet is serialized with the **XmlSerializerOutputFormatter**, and the DataSet contains a column of type "xs:anyType".
[code]
#### Steps to reproduce or link to a repro project:

1. Create a Controller with an Action that returns a DataSet.
2. The Action must be configured to return xml. For instance by us

[2018-05-08 00:00] caesar1995 commented on #29557
Dup #29558

[2018-05-08 00:00] #29557 closed

[2018-05-08 02:03] yaakov-h opened #29562 "Get Span view of Embedded Resource"
Hi,

Would it be possible to add an API to `Assembly` that allows applications to get a `ReadOnlySpan<>` view of an embedded resource, rather than a stream?

If this has been discussed before, please just point me at that issue.

Thanks.

[2018-05-08 02:09] mitchcapper opened #29563 "Trusted People certificate store behavior change with .NET core 2.1 (no longer allows untrusted roots)"
So there is a bit of a difference.  My understanding of trusted people is that certificates placed in there should be accepted as explicitly valid no matter what.
Granted placing a certificate in the "Current User/Trusted People" store never worked with .net Core, but "System Certificates/Trusted People" worked just fine in .NET 2.0.

So in .net 2.0 ```(tsk = (new HttpClient()).GetStringAsync("htt

[2018-05-08 02:38] davidsh commented on #29563
cc: @bartonjs

[2018-05-08 02:49] sawachika-kenji commented on #22910
[root@ ~]# dotnet --version
2.0.0
centos 7

This has nothing to do with systems and programs, this is for rfc6265:

   a single header field.  The usual mechanism for folding HTTP headers
   fields (i.e., as defined in [RFC2616]) might change the semantics of
   the Set-Cookie header field because the %x2C (",") character is used
   by Set-Cookie in a way that conflicts with such folding.

[2018-05-08 03:05] davidsh commented on #29563
@bartonjs I don't think this problem is specific to HttpClient.  HttpClient just uses normal X509 APIs to validate whether a certificate is 'good' or not. Perhaps something has changed in X509 for .NET Core 2.1?

[2018-05-08 03:50] LandonCampbell opened #29564 "System.Data.SqlClient 4.4.3 and SQL Server Compatibility"
Hi, I've been struggling with the SQL server exceptions outlined in both of these previous issues, and I wanted to confirm that the solution is to upgrade from Server 2008 to _at least_ Server 2008 R2 SP3:

- https://github.com/dotnet/corefx/issues/9719
- https://github.com/dotnet/corefx/issues/6467

One of our SQL Server instances is 2008 SP3, and from it I always get "SqlException: Connection Ti

[2018-05-08 04:33] hez2010 opened #29566 "partial view bug of MVC website in .NET Core 2.1 RC1"
I use .NET Core 2.1.300-rc1 to create a new MVC web app with individual authentication, then I use identity scaffolder (visual studio -> right click my project -> add -> new scaffolded item -> identity) and specify layout file with "~/Views/Shared/_Layout.cshtml" to generate identity related code in Areas/Identity automatically.

When I try to build, the compiler warns me that I need to use \<part

[2018-05-08 04:36] mysticdotnet commented on #29526
@karelz The only exception details i have is this:
An unhandled exception of type 'System.Runtime.InteropServices.SEHException' occurred in Unknown Module. External component has thrown an exception. occurred

[2018-05-08 04:52] mitchcapper commented on #29563
I can confirm it is also an issue with websockets (and clientwebsocket).

[2018-05-08 06:12] paaland opened #29567 "SmtpClient.SendMailAsync does not adhere to subject encoding"
Sending an email with SubjectEncoding = Encoding.UTF8 does not work when using smtpClient.SendMailAsync, but using smtpClient.Send works.

`var smtpClient = new SmtpClient()
{
	Host = host,
	Port = port,
	EnableSsl = true,
	Credentials = new NetworkCredential(username, password))
};

var mailmessage = new MailMessage()
{
	IsBodyHtml = true,
	SubjectEncoding = Encoding.UTF8,
	BodyEncoding = Encodin

[2018-05-08 06:13] caesar1995 commented on #22910
Could you try using .NET Core 2.1?

Does the Set-Cookie header contains `Expires` attribute? If so, I think the issue is fixed here: #26143 for 2.1

[2018-05-08 06:31] karelz commented on #29526
@mysticdotnet what about the other questions? Is it 100% repro? Can you try to get a dump, look at the full call stack?

[2018-05-08 07:00] karelz commented on #27951
@ChristianHaase try to get symbols. Please post text instead of pictures (they are not searchable)

Just to confirm, your repro seems to contain just this:
[code]

Is that what fails for you? Did you try it on more than 1 machine/VM? Does it fail for you also on latest .NET Core 2.1 RC?
@tmds @wfurt can you please check if it segfaults for you as well?

[2018-05-08 07:03] Kalyan1989 opened #29568 "MemoryStream CopyTo method does not work over REST if the file size is more (approx. >100KB)"
Is this a Bug or Feature request?:
This is bug observed while writing REST service for downloading file to temporary location over server machine. The same code works fine on client side.

Steps to reproduce or link to a repro project:
Client code: Client.cs
[code]
Server code: Server.cs
[code]
Description of the problem:
For .xml file size of 2KB, the code works fine and temp file is getting crea

[2018-05-08 07:10] ChristianHaase commented on #27951
Yes this is the only code the project contains. Every remote http request caused the segfault. What exactly do you mean by "try to get symbols"?

[2018-05-08 07:12] kasper3 commented on #29566
this belongs to https://github.com/aspnet/razor or https://github.com/aspnet/mvc

[2018-05-08 07:17] tmds commented on #27951
@karelz the code runs fine on my system. The referenced issue has a similar stacktrace. That issue is solved by uninstalling ssl 1.0.

[2018-05-08 07:48] GalOshri opened #29569 "ClientWebSocket does not provide upgrade request error details"
ClientWebSocket on .NET Core does not provide the upgrade request errors in the exception details as it does on the .NET Framework.
Repro code
var client = new ClientWebSocket();
client.ConnectAsync(new Uri("wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1"), CancellationToken.None).GetAwaiter().GetResult();

[2018-05-08 07:49] #29569 closed

[2018-05-08 08:36] stakx opened #29570 "Reflection: ParameterInfo.DefaultValue can throw FormatException for enum parameters"
This is very similar to #26164, but it turns out the problem doesn't just occur with `System.DateTime` (now fixed) but can happen with enums, too:

[code]

[code]

(Default values for enums typically get recorded as metadata constants of the enums' underlying type. However, the use of C# `default` in a generics scenario leads to a null reference being used instead, and `MdConstant` currently can't

[2018-05-08 10:00] mysticdotnet commented on #29526
@karelz Yes it is reproducible everytime, it's a sample code from the [odata repo](https://github.com/OData/WebApi/tree/master/samples/AspNetCoreODataSample.Web)
I download WindDbg, i launch the sample outside Visual Studio and i get this output:
[output.txt](https://github.com/dotnet/corefx/files/1983344/output.txt)

[2018-05-08 11:06] stephentoub commented on #29568
Your Server.cs code isn't using MemoryStream.CopyTo... it's using firmwareFileStream.CopyTo, and firmwareFileStream is typed as `Stream`.  What is the concrete type of that stream being passed in?  Where does it come from, i.e. who's calling PostFirmwareUpdate and with what argument?  It simply sounds like it's never hitting EOF, such that the read on the stream as part of the CopyTo never complet

[2018-05-08 11:09] stephentoub commented on #29563
Presumably this is showing up via HttpClient between .NET Core 2.0 and 2.1 on Windows because of some difference between how WinHTTP worked and how SslStream/X509Certificate works?

[2018-05-08 11:14] DemoBytom commented on #23847
We're currently using this class, since `RSAParameters` is not serializable in _Core 2.0_:
[code]
To get around the serialization and deserialization of the `RSAParameters`

[code]

[2018-05-08 11:53] Kalyan1989 commented on #29568
This is my client code from where I am calling server code:
using (var memoryStream = new System.IO.MemoryStream())
            {
                using (var fileStream = new System.IO.FileStream(
                    FirmwareFilePath,
                    System.IO.FileMode.Open,
                    System.IO.FileAccess.Read))
                {
                    fileStream.CopyTo(memoryStream);

[2018-05-08 11:57] stephentoub commented on #29568
@Kalyan1989, the signatures of PostFirmwareUpdate don't match.  What is networkService here?  Presumably it's some kind of proxy that's been generated to enable remote invocation of a method in your server?  I'm not seeing a bug here yet in coreclr/corefx.

[2018-05-08 12:16] valeriob commented on #6204
Nice @SimonCropp  looks like system.messaging is not such a big effort.
I think it would be better to split the task of porting System.Messaging from the whole SOAP World.

[2018-05-08 12:32] benaadams commented on #29544
Related proposal `Atomic<T>` which has memory order https://github.com/dotnet/corefx/issues/10481

[2018-05-08 13:00] jnm2 commented on #29555
‘Optimal’ and ‘best’ sound like synonyms to me.

[2018-05-08 13:05] mihailik commented on #29544
Please do not pollute this moderately-high-level API, create a separate one (potentially in nested class).

A new overload will come up in intellisense and lead developers astray.

Cutting edge low-level gurus who DO understand differences between those options would do fine with typing few more characters.

[2018-05-08 13:32] asthana86 opened #29574 "ClientWebSocket does not provide upgrade request error details"
ClientWebSocket on .NET Core does not provide the upgrade request errors in the exception details as it does on the .NET Framework.
Repro code
var client = new ClientWebSocket();
client.ConnectAsync(new Uri("wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1"), CancellationToken.None).GetAwaiter().GetResult();

[2018-05-08 13:57] #29574 closed

[2018-05-08 14:04] davidsh commented on #29563
I'm not familiar with how "System Certificates/Trusted People" cert stores work in relation to the other "Trusted" cert stores.  I'm hoping @bartonjs can comment on this.  But perhaps the way that we can calling Windows SCHANNEL via SslStream (which client websocket and Http APIs will use) differs from how native WinHTTP calls SCHANNEL.

@mitchcapper Did "System Certificates/Trusted People" work w

[2018-05-08 14:06] svick commented on #29544
Are all of the proposed values in `MemoryOrder` actually useful? I don't actually have an opinion, I'm just asking to make sure we're not blindly copying from C++.

[2018-05-08 14:16] mitchcapper commented on #29563
@davish confirmed .net 4.7.1 behaves like .net core 2.0, "System Certificates/Trusted People" non-self signed untrusted certs work fine.

[2018-05-08 14:29] AtsushiKan commented on #29570
We went with `null` for `DateTime` (and by inference, value types in general) before, right?

Also, if you replace `typeof(AttributeTargets)` with `typeof(ArbitraryStruct)` in your example, `null` comes back today.

So we'll be consistent by returning `null` for enums too.

[2018-05-08 14:32] AtsushiKan commented on #29570
Ok, feel free to make a PR for CoreCLR. I've identified a similar issue in Project N so I'll make the fix for that concurrently. Thanks for finding this!

[2018-05-08 14:50] qmfrederik commented on #29426
Oops, looks like you need to use `DYLD_PRINT_LIBRARIES` instead:
[code]

`man dyld` lists a couple of more of variables which you can set.

[2018-05-08 14:53] asthana86 opened #29575 "ClientWebSocket does not provide upgrade request error details"
ClientWebSocket on .NET Core does not provide the upgrade request errors in the exception details as it does on the .NET Framework.
Repro code
var client = new ClientWebSocket();
client.ConnectAsync(new Uri("wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1"), CancellationToken.None).GetAwaiter().GetResult();

[2018-05-08 15:07] ChristianHaase commented on #27951
I can confirm that removing the openssl version 1.0.0 does solve the problem, as 1.0.2 already was installed. Many thanks for the support, and I apologize it took so long.

[2018-05-08 15:12] sdmaclea commented on #29544
This overload logically belongs with interlocked operations.  The arguments are already implicitly present.  This allows code to be explicit.  It documents the required ordering.  I do not believe it is polluting.

The fact that it comes up in intellisense is a good thing.  Developers should make a deliberate decision about what is intended by each Interlocked operation in terms of memory ordering

[2018-05-08 15:16] sdmaclea commented on #29544
All the orderings are useful.

[2018-05-08 15:28] sdmaclea commented on #29544
Done

[2018-05-08 15:37] jnm2 commented on #29551
For those who are curious: https://youtu.be/KAIJ3ezQb3c?t=1h8m45s

[2018-05-08 15:42] davidsh commented on #29567
I tried your repro code here:
https://pastebin.com/S5K7gwaL

But I saw no problem between .NET Framework 4.7.x, .NET Core 2.0, and .NET Core 2.1 (RC1).  All of them transmitted the Subject: field using UTF-8 encoding on the wire.

I see this in Outlook:

And this is the MIME encoding on the wire:

.NET Core 2.0

Async
[code]

Sync
[code]

.NET Core 2.1

Async
[code]

Sync
[code]

.NET Framework 4.

[2018-05-08 15:50] bartonjs commented on #29563
Maybe WinHTTP uses CERT_CHAIN_ENABLE_PEER_TRUST, which is the only thing I am finding on the TrustedPeople store.

There are a lot of tricky corner cases for trying to emulate that behavior properly.  It's definitely not a thing we have support for in chain-building options.

[2018-05-08 15:53] davidsh commented on #29563
The bug report also says this works as expected in .NET Framework which uses SslStream same as .NET Core.

So, it seems like there is something broken in .NET Core 2.1 in X509.

[2018-05-08 16:00] davidsh commented on #29567
Can you get a WireShark trace of this from the client-side and post it here (as a zipped binary)?  And please turn off TLS/SSL so that we can review the traces.  Please anonymize the repro and data by using a test account, etc.  so that you don't reveal any private credentials/info in the traces.  Thanks.

[2018-05-08 16:04] mihailik commented on #29544
That is: (a) demonstrably not true,  (b) uncooperative to the community already using the platform,  (c) show narrow focus on your specific use case, to the exclusion of platform strategic goals.

(a) the existing API has been used for 18+ years — without excessive fine-grained detail.

The original PR rationale explicitly mentions that current conservative model. That was enough for 18 years, lot

[2018-05-08 16:14] mihailik commented on #29544
Suggesting API instead:

[code]

Require people to type that extra `.Ordered` so it sits logically together with existing API, but it's impossible to stumble into hot water without looking.

[2018-05-08 16:15] davidsh commented on #28522
This is not really a bug in WinHttp.  In both SocketsHttpHandler and WinHttpHandler, the net result is that the request will end up authenticated and final 401 is returned by the HttpClient APIs.

The only difference between the two handlers is that WinHttpHandler ends up with an extra 401 round-trip. But in general, this is unavoidable due to the architecture of WinHTTP APIs.  WinHttp is not vali

[2018-05-08 16:28] qmfrederik opened #29577 "X509Chain.Build throws on macOS for certificates with an empty subject"
Calling `X509Chain.Build` with a certificate which has an empty subject will return `false` on Windows and Linux but throw a `CryptographicException` on macOS:

[code]

[2018-05-08 16:35] qmfrederik commented on #29577
This _seems_ to happen because macOS returns an error `NonEmptySubject`, which is not handled by  [MergeStatusCodes](https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.cpp#L129).

Couple of fun facts:
- This value, `NonEmptySubject`, is defined as `kSecPolicyCheckNonEmptySubject` in the [open source code for Security](https://openso

[2018-05-08 16:35] qmfrederik commented on #29577
/cc @bartonjs

[2018-05-08 16:41] adamsitnik commented on #27484
This issue is a duplicate of #27786 which was closed by @mconnew and marked as [solved](https://github.com/dotnet/corefx/issues/27786#issuecomment-385565277)

[2018-05-08 16:41] #27484 closed

[2018-05-08 17:01] bartonjs commented on #29563
According to `git diff` the only changes for Windows X.509 in 2.0 to 2.1 were

1) remove everything that said "\#if uwp"
2) Remove a redundant P/Invoke declaration
3) Rewrite a foreach loop to a for loop
4) Change a Marshal.SizeOf to an unsafe sizeof
5) Fix X509Certificate2Collection.Find(..., validOnly: true) to use the user trust rules instead of machine trust rules.

If any of those would have

[2018-05-08 17:05] blowdart opened #29578 "Microsoft Security Advisory CVE-2018-0765: .NET Core Denial Of Service Vulnerability"
# Microsoft Security Advisory CVE-2018-0765: .NET Core Denial Of Service Vulnerability

## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in .NET Core and .NET native version 2.0. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

Mi

[2018-05-08 17:08] GalOshri opened #29580 "ClientWebSocket does not provide upgrade request error details"
ClientWebSocket on .NET Core does not provide the upgrade request errors in the exception details as it does on the .NET Framework.
Repro code
var client = new ClientWebSocket();
client.ConnectAsync(new Uri("wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1"), CancellationToken.None).GetAwaiter().GetResult();

[2018-05-08 17:09] #29580 closed

[2018-05-08 17:19] sdmaclea commented on #29544
@mihailik No disrespect for your opinion was meant.  Since you stated your opinion, it was necessary to state my opposing opinion.

[2018-05-08 17:37] rmkerr commented on #28020
Though a bit convoluted, this is actually by design. The base URI is an implicit path which we generally expect _not_ to be encoded. When we detect reserved characters in an implicit path, we encode them. This property carries over to any relative URIs that we construct based off of an implicit path, which in this case causes the end of the rebuild URI to be encoded twice.

 Closing.

[2018-05-08 17:37] #28020 closed

[2018-05-08 17:40] caesar1995 commented on #28522
I think this might be the root cause for  #26722.

[2018-05-08 17:42] #29570 closed

[2018-05-08 17:43] davidsh commented on #28522
#26722 has a different root cause as I described in that issue. Fixing that would require a change in WinHttpHandler to inspect 401 responses and make cookies are parsed from them and placed into the CookieContainer in the handler.

[2018-05-08 17:56] asthana86 opened #29581 "ClientWebSocket does not provide upgrade request error details"
ClientWebSocket on .NET Core does not provide the upgrade request errors in the exception details as it does on the .NET Framework.
Repro code
var client = new ClientWebSocket();
client.ConnectAsync(new Uri("wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1"), CancellationToken.None).GetAwaiter().GetResult();

[2018-05-08 17:57] rmkerr commented on #28522
@davidsh thanks for explaining what's happening here. I agree that we should just fix the loopback server in this case.

[2018-05-08 18:01] bbarry commented on #9872
will these apis be available as one of the “Windows Desktop Packs” mentioned at BUILD for Core 3?

[2018-05-08 18:05] kouvel commented on #29544
It was probably enough because of the platforms it was running on. It seems in most cases the strongest memory order is not actually necessary.

For the API it seems to me like an overload is the natural thing to do and is also what is done elsewhere for more fine-grained control, so it's consistent. It also allows people to discover the overload and think about what they need, and there are optio

[2018-05-08 18:43] Genbox commented on #29555
@jnm2 Optimal does mean the balance between speed and ratio, but you are right that it is not intuitive to developers who are used to "minimal", "normal" and "maximum" in their compression applications. Most applications have about 5 levels:
1. Store
2. Fast
3. Normal
4. High
5. Maximum

I think it would make better sense to use those levels than the current ones. However, this issue is really abo

[2018-05-08 18:51] Genbox commented on #29555
@asthana86 could you label this with area-System.IO.Compression instead? I would also say that it should be marked as a bug as this setting prevents all use of the new algorithm.

[2018-05-08 18:52] JeremyKuhne commented on #9872
Don't know yet. Do you have a scenario where moving to the methods in System.IO.FileSystem.AccessControl is difficult or impossible?

[2018-05-08 19:00] CarolEidt commented on #29544
I agree with @kouvel that an overload is the natural thing to do. The fact that ordering has not been a necessary feature of existing APIs doesn't imply that it is not required - especially as we move to support weaker memory models and systems with increasing levels of parallelism.
I also think that having the overload *without* the ordering parameter use the conservative ordering should make it

[2018-05-08 19:04] davidsh commented on #22806
The most RFC that governs encoding multipart content for HTTP is [RFC 7578(https://tools.ietf.org/html/rfc7578).

Section 4.2 describes how the 'filename' parameter should be encoded on the wire. Non-ASCII characters should not be directly used; rather, they should be encoded in some manner:

[code]

So in your comment:

What do you consider as "garbled code"?  The encoding described by:

is not c

[2018-05-08 19:42] jnm2 commented on #29555
@Genbox

It's just as easy for me to talk about the best balance speed and ratio, versus the optimal compression ratio. 😊

[2018-05-08 20:08] sdrapkin opened #29582 "ArraySegment<T> as readonly struct"
Are there plans to convert `ArraySegment<T>` into `readonly` struct?
If not, why not?

Motivation: many scenarios use `ArraySegment<T>` extension methods, and they would benefit from not copying (ie. passing by ref without a backing variable).

[2018-05-08 20:09] weshaggard commented on #29431
This was fixed

[2018-05-08 20:09] #29431 closed

[2018-05-08 20:10] jkotas commented on #29582
It is readonly struct in .NET Core 2.1

https://github.com/dotnet/corefx/blob/master/src/System.Runtime/ref/System.Runtime.cs#L269

[2018-05-08 20:10] #29582 closed

[2018-05-08 20:13] jkotas commented on #29582
It was fixed by https://github.com/dotnet/corefx/pull/24997 and related PRs.

[2018-05-08 20:16] sdrapkin commented on #29582
@jkotas Thanks for pointing that out. It would be nice to document that change somewhere visible (ex. NetCore2.1 "what's new" MSDN blogs.

However, my question was about .NET Framework. When will `readonly struct ArraySegment<T>` be coming to .NET framework? Is it on the roadmap? Is it in .NET 4.8 that's 12 months out?

[2018-05-08 20:18] asthana86 opened #29583 "ClientWebSocket does not provide upgrade request error details"
ClientWebSocket on .NET Core does not provide the upgrade request errors in the exception details as it does on the .NET Framework.
Repro code
var client = new ClientWebSocket();
client.ConnectAsync(new Uri("wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1"), CancellationToken.None).GetAwaiter().GetResult();

[2018-05-08 20:35] natemcmaster commented on #29547
Thanks for investigating more @mikeharder. Closing for now as this doesn't appear to be a product bug.

[2018-05-08 20:35] #29547 closed

[2018-05-08 20:47] bbarry commented on #9872
We have a large application base that utilizes [SAP Adaptive Server Enterprise](https://www.sap.com/products/sybase-ase.html) (formerly Sybase) via their provided ADO.NET driver and we could potentially switch to Core for several libraries as well as future development (already have an AspNetCore MVC application targeting desktop framework). 3rd party drivers don't work properly due to certain dat

[2018-05-08 20:56] JeremyKuhne commented on #9872
@bbarry Thanks for the details! It really helps to get input like this when we're planning. Reopening for consideration- we don't have the right milestones yet, putting in Future.

Doing this would require moving the implementation into System.IO.FileSystem as explained above.

[2018-05-08 21:06] jkotas commented on #29582
This change is just one of the hundreds of performance improvements in .NET Core 2.1. The "what's new" blogs mention the most signficant improvements only. It is not practical for them to mention every single performance improvement. This change is certainly nice, but pales in comparison with many other more significant ones.

.NET Framework updates receive high-compatible targeted improvements on

[2018-05-08 21:09] paaland commented on #29567
Setting DeliveryFormat = SmtpDeliveryFormat.International on smtp client seems to have solved the problem on my computer. Does not make sense, but it did the trick:

[code]

[2018-05-08 21:35] caesar1995 commented on #24420
At some point in the future that we may change to use ManagedWebSocket for UWP apps, instead of WinRT WebSocket.

@aka-STInG Does ManagedWebSocket has the same issues?

[2018-05-08 22:04] akoeplinger opened #29585 "System.Threading.Tasks.Extensions package needs _._ placeholders for Xamarin platforms"
We're adding a facade for System.Threading.Tasks.Extensions.dll inbox so we'd like to add the placeholders for the usual Xamarin platforms to the package.

/cc @weshaggard

[2018-05-08 22:33] marcin-jedynski commented on #29147
I get something very similar with the 2.1-aspnetcore-runtime-alpine image.
Stack trace:
`/publish # dotnet findMyTutorBackend.dll
fail: findMyTutorBackend.Program[0]
      An error occurred while seeding the database.
System.InvalidOperationException: Internal connection fatal error.
   at System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStre

[2018-05-08 22:38] caesar1995 commented on #11795
From RFC 6265:

[code]

If we update the code to support RFC 6265, the cookie-domain stored should not start with a ".".

[2018-05-08 22:49] marcin-jedynski commented on #29147
I am facing probably a similar issue, it was tested and proved working with microsoft/dotnet:2.1-sdk and microsoft/aspnetcore:2 image hosted on Alpine Linux.

Today I moved to the new microsoft/dotnet:2.1-sdk-alpine and microsoft/dotnet:2.1-aspnetcore-runtime-alpine. I updated the .csproj file to target netcoreapp2.1 and changed the versions of packages to match the 2.1.0-rc1-final version.

My do

[2018-05-08 22:58] MohammadHamdyGhanem opened #29589 "Add DateTime.ParseInvariant(string) method"
# The Problem:
DateTime.Parse(string) uses CultureInfo.CurrentCulture to parse the given string. This is suitable for parsing a date written by a user in UI, but it causes a a problem when used in to parse a string date provided by the programmer himself, because he uses his own culture, and this causes an exception on other PCs with different cultures.

# Solution:
In #29537, I suggested some sol

[2018-05-08 23:00] MohammadHamdyGhanem commented on #29537
I think this https://github.com/dotnet/corefx/issues/29589 will be a proper solution.

[2018-05-08 23:09] stephentoub commented on #29589
Why would a new method be valuable here when a dev can just do:
[code]
? It doesn't add functionality, and I don't think it improves discoverability.

[2018-05-08 23:15] weshaggard commented on #29585
@akoeplinger we are in escrow mode for .NET Core 2.1 when do you guys need this?

[2018-05-08 23:25] MohammadHamdyGhanem commented on #29589
@stephentoub
1- This is the only way to fix the bad choice of making Parse(s) depend on unknown culture.
2- It is a shorcut verson of DateTime.Parse(s, CultureInfo.InvariantCulture)
3- It will appear in the auto complete list and this will inform every programmer that there is something not right about the Parse(s) method!
4- We need ParseInvariant and TryParseInvariant only. User already provide

[2018-05-08 23:40] yujayee commented on #28304
Hi @AlexRadch , are you running these tests on .NET Framework 4.6.1 or older? If so, please switch to newer versions of .NET Framework and these tests should pass.  We added an [AppContextSwitch: Switch.System.Runtime.Serialization.
DoNotUseTimeZoneInfo](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/appcontextswitchoverrides-element) to fix this issue when .N

[2018-05-09 00:15] kendfrey opened #29590 "Regex $+ replacement pattern is inconsistent when both named and numbered groups are present"
**Example code:**

[code]

**Result:** `ab`

**Expected result:** Either `aa` or `bb`

**Notes:**

The `$+` regex replacement syntax should:

- [x] If only numbered groups (including e.g. `(?<1>...)`) are present, select the group with the highest number.
- [x] If only named groups (excluding e.g. `(?<1>...)`) are present, select the group whose first appearance comes last in the regex. For exampl

[2018-05-09 00:25] stephentoub commented on #29589
I disagree it was a bad choice.

It's not much of a shortcut.  You're talking about the difference between:
[code]
and
[code]
and even if it were, the current form is already very short and easily understood.

Again, I disagree that "something is not right".  It also adds conceptual overhead.  To this day I see both `ToLower(CultureInfo)` and `ToLowerInvariant()` and have to remind myself what if

[2018-05-09 00:59] ahsonkhan opened #29593 "After Docker image update to microsoft/dotnet:2.1-sdk. Receiving System.IO.IOException: Method not found: 'System.Memory`1<!0>"
Copying issue from https://github.com/Microsoft/dotnet/issues/738

The application was running last week, and now is failing. I am attempting to buidl the docker image with the same code that was confirmed running and now I cannot get the application to serve a basic healthcheck url. Are there any issues with the published 2.1-sdk image?

Connection id "0HLDKUV7FGMOP" communication error.
System.I

[2018-05-09 01:16] ahsonkhan commented on #29593
@jdwilly2001, @anandtpatel - it is possible there are mismatch assemblies somewhere.

Can you please share the version of the ,NET Core runtimes installed (post the output of `dotnet.exe --info`)?

[2018-05-09 01:57] MohammadHamdyGhanem commented on #29589
@stephentoub
I want programming languages to be as human as possible. I don't want programers to be as robotic as possible to fit the perfect performance of the programming language. It is the job of the compiler to optimize the performance.
We have millions of classes, properties and methods and it is difficult to read docs about all of them and remember all the notes and warrnings. A good design

[2018-05-09 02:18] stephentoub commented on #27172
Both libcurl and CurlHandler are fine with such response headers.  Technically it's a bug in CurlHandler that we don't prohibit this and behave like the other handlers.  But I'm fine punting on it.  I would love to get rid of CurlHandler entirely in the near future.

[2018-05-09 02:45] itn3000 opened #29595 "running Task.WhenAll + ConcurrentQueue + Task.Yield() in netcoreapp2.1 is slower than netcoreapp2.0"
I ran the benchmark with the following cases;

1. `Task.WhenAll` and only do `await Task.Yield`
2. `Task.WhenAll` and only returns `Task.CompletedTask`
3. `Task.WhenAll` and do `await Task.Yield`, and then `ConcurrentQueue<int>.Enqueue` 10000 times.
4. `Task.WhenAll` and do `ConcurrentQueue<int>.Enqueue` 10000 times, then returns `Task.CompletedTask`

case 1,2,4 in netcoreapp2.1 are faster than or

[2018-05-09 03:08] ericstj commented on #29593
Look at the project.assets.json instead, that will give you a complete picture.  Seems to me that this app is using an old copy of MemoryPoolBlock.  Probably has a reference to the old package (or wasn’t even recompiled / published).

[2018-05-09 04:08] natemcmaster commented on #29593
We published 2.1.0-rc1 yesterday. My guess is your app is compiled against 2.1.0-preview2. To keep it working on preview2, use `microsoft/dotnet:2.1.300-preview2-sdk`. When you are ready to update to 2.1.0-rc1, you can go back to using `microsoft/dotnet:2.1-sdk`. We are not expecting any breaking changes anymore in the 2.1 release train.

[2018-05-09 05:34] #29354 closed

[2018-05-09 07:09] Sunny-pu opened #29596 "Test System.ServiceProcess.Tests.ServiceBaseTests.TestOnStartWithArgsThenStop failed with "System.AggregateException : One or more errors occurred. (Task timed out after 60000)\r\n"."
Test: System.ServiceProcess.Tests.ServiceBaseTests.TestOnStartWithArgsThenStop has failed.

MESSAGE:
System.AggregateException : One or more errors occurred. (Task timed out after 60000)\r\n---- System.TimeoutException : Task timed out after 60000
+++++++++++++++++++
STACK TRACE:
at System.Threading.Tasks.Task`1.GetResultCore(Boolean waitCompletionNotification) in E:\A\_work\5\s\src\mscorlib\src\S

[2018-05-09 07:17] bergmeister commented on #29578
Related: The .Net Core SDK 2.1.200 with this fix cannot be installed via the command line tooling on Ubuntu:
https://github.com/dotnet/cli/issues/9234

[2018-05-09 07:32] JustArchi commented on #29032
Still the same issue for `4.5.0-rc1`.

[code]

[code]

[2018-05-09 08:47] EvgenyKhaliper opened #29597 "Performance issue with HttpClient on Ubuntu 16.04"
Having singleton HttpClient as suggested impacts the performance.
Just toggle comment on New and Same client to reproduce.

Seems like a mystery to me as everyone everywhere suggests using singleton. Moreover just looking into HttpClientFactory which will be introduced in dotnet core 2.1 doesn't seem to solve the issue.

Someone has ideas ?

thanks

[code]

[EDIT] Add C# syntax highlighting by @ka

[2018-05-09 08:47] mattwarren commented on #29544
FYI, I've just come across the [RelaSharp](https://github.com/nicknash/RelaSharp) project by @nicknash which has implemented something very similar to this API, see it's [Generic Interface](https://github.com/nicknash/RelaSharp#generic-interface) (it also does *a lot* more, the whole library looks very cool!)

It may be useful to take a look at how RelaSharp has done things, to see what can be lea

[2018-05-09 08:59] mikedn commented on #29544
That library seems to be a simulator/checked, not an actual implementation of interlocked operations with specific memory ordering.

You can't quite implement these without runtime support, the existing ones are intrinsics after all. There's also the pesky case of `MemoryOrder.Consume` - that may deserve a separate discussion as it requires special JIT support.

[2018-05-09 09:18] sawachika-kenji opened #29598 "Why can't override NetworkStream.ReadAsync(Memory<byte> buffer, CancellationToken cancellationToken)"
[code]
But at base.ReadAsync method enter F12 into Stream.ReadAsync(Memory<byte> buffer, CancellationToken cancellationToken = default(CancellationToken))

I checked the source code, NetworkStream does contain "ValueTask<int> ReadAsync(Memory<byte> buffer, CancellationToken cancellationToken)"

C:\Users\admin>dotnet --version
2.1.300-rc1-008673

[2018-05-09 10:04] svick commented on #29598
Does your code behave the way you expect? If it does, then that sounds like this is an issue with how <kbd>F12</kbd> behaves in VS. If that is the case, I think [the Roslyn repo](https://github.com/dotnet/roslyn) would be a better place for this issue.

[2018-05-09 10:10] colgreen commented on #23298
I've been working in the area of PRNGs recently and looking at different methods and implementations, including System.Random, so will summarise my thoughts here while they are fresh.

## NextDouble()
The IEEE754 double precision format has 53 bits of precision (52 explicit, and one implicit) and as such is capable of representing 2^53 distinct values in the interval [0,1). Random.NextDouble() wil

[2018-05-09 10:50] hughbe commented on #29426
Here's the output:

<details>
<summary>
Stuff
</summary>
[code]
</details>

Oddly, we do get:
[code]

[2018-05-09 11:10] msmolka commented on #26302
So in which version of FULL Framework it will be working?

[2018-05-09 12:08] NitishMittalHon opened #29600 "Incorrect System.Collections.Immutable.xml generated."
I ended up opening System.Collections.Immutable.xml while trying to chase the reason behind Swagger failing to generate API docs.
Notice the \<br\> element in the below XML which I copied from System.Collections.Immutable.1.4.0. **\<br\> is not having a closing \</br\>.**
[code]
For now I have ignored all the System.* files to be considered for swagger. I thought it would still be good to fix it.

[2018-05-09 12:28] sawachika-kenji commented on #29598
supplement:
Microsoft Visual Studio Community 2017 Preview
VisualStudio.15.Preview/15.8.0-pre.1.1+27705.2000

runtimeconfig.json:
{
  "runtimeOptions": {
    "tfm": "netcoreapp2.1",
    "framework": {
      "name": "Microsoft.NETCore.App",
      "version": "2.1.0-rc1"
    }
  }
}

[2018-05-09 12:56] anandtpatel commented on #29593
@natemcmaster

Yes, I am using 2.1.0-preview2 hence i am facing this issue. after making changes suggested by you, it working.

[2018-05-09 13:09] marcin-jedynski commented on #29147
Connection string is ok, double checked that.
I have even tried to use latest packages:
* System.Data.SqlClient 4.6.0-preview3-26501-04
* System.Data.Common 4.4.0-beta-24913-02
But the outcome was the same.

[2018-05-09 14:52] hughbe commented on #29426
Okay I went through all the libraries. Turns out the problem is that the `gettext` library on brew is install by default without linking anything for compatibility reasons!

Maybe we need to run this command on the mac CI?

[2018-05-09 15:25] Lexcess commented on #27468
Hi @karelz, Appreciate the long post. We're just trying to find the fastest way to get the information you need to find and fix the issue. We were already trying to isolate the issue but @caesar1995 suggested a memory dump, and at the time that would have had to be from our production application.

On the other points you raise. Please appreciate that the process of getting a working repro on this

[2018-05-09 15:47] stephentoub commented on #29595
From a quick look, it looks like you're hitting differences in spinning behavior.

Repro:
[code]

On my machine, this results in output like:
[code]
so a 2x regression in 2.1, but note that when I increase the number of tasks from 2 to 4, I get this:
[code]
so an ~50x improvement in 2.1.

It's very difficult to say that there's an improvement or a regression in a single microbenchmark like this wh

[2018-05-09 15:52] rmkerr commented on #29597
Hey @EvgenyKhaliper, thanks for reporting this. What version of .NET Core are you targeting?

[2018-05-09 15:54] AfsanehR commented on #29147
@hpbieker Thanks for providing the information.
@marcin-jedynski @hpbieker Will update you here soon with the investigation.

[2018-05-09 15:59] stephentoub commented on #29597
I just tried your code on 2.1, using "http://bing.com" as URL, and I got:
[code]

[2018-05-09 16:52] CarolEidt commented on #29544
I think it's good to include it in `MemoryOrder`, for consistency and "future proofing", but I presume that we would go the route of the C++ compilers and implement it as `Acquire` at least for now.

[2018-05-09 16:59] Petermarcu commented on #29248
@ahsonkhan @Anipik whats the status here? We are running out of time in 2.1.

[2018-05-09 17:06] Anipik commented on #29248
@Petermarcu The changes are in testing phase.
During my last conversation with @danmosemsft we were not sure if we want to start running the new mirror for 2.1

[2018-05-09 17:11] kasper3 commented on #29575
Exact duplicate of #29558?

[2018-05-09 17:15] stephentoub commented on #29575
This issue (and the multiple copies of it) are being used/created as part of a Build demo.

[2018-05-09 17:18] jorive commented on #27495
@danmosemsft I enabled Etl traces on CoreFx repo few weeks ago. I will request the lab to reimage one machine back to the old OS, so you can do the testing.

[2018-05-09 17:19] Petermarcu commented on #29248
Are we out of sync or are we fine for 2.1? @danmosemsft

[2018-05-09 17:53] MaximLipnin opened #29607 "CryptographicAttributeObjectCollection public API breaking change"
Hello,
I need to reuse corefx System.Security.Cryptography sources in Mono. Using [API Diff tool](https://jenkins.mono-project.com/job/test-mono-pull-request-amd64/14156//Public_API_Diff/) I see some  public API breaking change in [CryptographicAttributeObjectCollection](https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Cryptographi

[2018-05-09 18:02] electricessence opened #29608 "Unexpected logic (if) behavior when including async boolean."
When debugging the following code, with `readStarted` equal to `true`, the entire `if` block is negated. (`useReadAsync` is also `true`.)
https://github.com/electricessence/Open.Database.Extensions/blob/9ece00f391d9faf6ff04817428ffc999ca6af57d/Extensions.Retrieve.cs#L187-L194
[code]

If I change the code to the following, it works correctly every time.
https://github.com/electricessence/Open.Datab

[2018-05-09 18:26] stephentoub commented on #29608
`||` has higher operator precedence than `?`, so your code:
[code]
is equivalent to:
[code]
not to:
[code]

[2018-05-09 18:26] #29608 closed

[2018-05-09 18:31] stephentoub commented on #29607
@bartonjs, was there a reason we changed these members from implicitly implementing the interface to explicitly implementing the interface?

[2018-05-09 18:33] electricessence commented on #29608
Oh wow.  I feel dumb.  Sorry to bother you with this one.
Of course that's why.

[2018-05-09 18:48] danmosemsft commented on #29248
We should be manually syncing for 2.1 release. This is essentially only relevant to Span and Path. @anipik please manually diff and confirm they are in sync.

[2018-05-09 19:01] electricessence commented on #29608
Brain teaser for the week:
[code]

[2018-05-09 19:15] voltcode commented on #26845
@mattdot check out the issue I referenced, it seems there's a new dataframe-ish abstraction called IDataView in just open sourced ML.NET library. Maybe it can be useful to you?

[2018-05-09 19:25] kasper3 commented on #26845
if there is some API shape proposal that you have in mind that would help your use-case, please do share. that will increase the chances of getting this discussion move forward.

[2018-05-09 19:29] pradm opened #29609 "[SQL Ops Studio] - Incorrect Client Process IDs passed to SQL Engine"
In relation to the Git Hub Issue filed for SQL Ops Studio https://github.com/Microsoft/sqlopsstudio/issues/1380 , As per SQL engineering teams investigation "This is an issue with SqlClient in .Net Core. SqlClient in .Net Core generates a random number for Process Id.
On .Net Framework SqlClient used kernel32.dll for this information. In .Net Core, SqlClient could use System.Diagnostics.Process to

[2018-05-09 19:32] saurabh500 commented on #29609
Devnote: SqlClient generates a random process Id at https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStaticMethods.cs#L60

SqlClient could possibly use https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.id?view=netframework-4.7.1#System_Diagnostics_Process_Id

[2018-05-09 19:37] ahsonkhan commented on #29032
The fix will require an SDK update (a package update isn't required).

The latest RTM build of the dotnet cli does not have the fix yet. https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1#built-repositories

I don't see the assembly and file versions in the Microsoft.NETCore.App.deps.json deps file (within `dotnetcli\shared\Microsoft.NETCore.App\2.1.0-rtm-2650

[2018-05-09 19:40] baulig opened #29610 "API Question regarding `SslClientAuthenticationOptions` and `SslServerAuthenticationOptions`"
I saw that you recently added two new classes [`SslClientAuthenticationOptions`](https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/src/System/Net/Security/SslClientAuthenticationOptions.cs) and [`SslServerAuthenticationOptions`](https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/src/System/Net/Security/SslServerAuthenticationOptions.cs).

These actually share q

[2018-05-09 19:54] Anipik commented on #29248
@danmosemsft they are not in sync.
https://github.com/dotnet/coreclr/commit/df6249119586492a77a17a0218760c40bd1d4caf is missing from the corefx. Rest all is good

[2018-05-09 19:55] fuglede commented on #23298
@colgreen: You're not saying anything suggesting the contrary but you may want to note that (as mentioned also [in the gist referenced above](https://gist.github.com/fuglede/772402ecc3997ada82a03ce65361781b#testing-nextint32-int32)) the fact that two runs are used to generate the full 32 bits actually appears to make the existing algorithm for `Next(Int32.MinValue, Int32.MaxValue)` much stronger,

[2018-05-09 20:00] kasper3 commented on #28620
[if former offsets the latter] maybe we can try to think it in light of the proposed API at https://github.com/dotnet/corefx/issues/27417 for public consumption when bringing over
https://github.com/dotnet/core-setup/tree/fd1dc48fad5bc32258c8c0fc885fbf4b1e32bebd/src/managed/Microsoft.DotNet.PlatformAbstractions to corefx?

[2018-05-09 20:06] Tino92 commented on #25949
I am having the same issue. Did you get any answers from Azure concerning this issue? @Roblinde

[2018-05-09 20:13] davidsh commented on #29610
There were no public APIs that we added in .NET Core 2.1 which would use a base class of `SslAuthenticationOptions`. So, that class was not made public.

You can review the API proposal/design/approval and the discussions from this issue:  #23177

[2018-05-09 20:28] troyhughes opened #29613 "GenericHeaderParser.ParseSingleEntityTag() does not allow an etag value of *"
This is the first issue I've brought up on here or GitHub in general. Please forgive (and correct) me if there are any conventions I have not followed.

I was attempting to use the Azure Storage blob client to get a blob reference along with an IfExists AccessCondition which sets my etag header to '\*'.  From what I can tell this is a supported action and would avoid an exception when calling the

[2018-05-09 20:33] colgreen commented on #23298
Yeh, superficially it makes sense to me that sampling an extra bit from one more iteration (which also moves all further samples on by one iter) would likely improve the quality of the generated randomness. If however the underlying PRNG was generating 32bits of good quality pseudo-randomness then all this would be unnecessary and we could obtain a significant performance boost.

Yeh, it just seem

[2018-05-09 20:33] safern commented on #29269
Investigating.

[2018-05-09 20:38] tdinucci commented on #29479
I'd be happy to take this one

[2018-05-09 20:40] tdinucci commented on #29478
I'd be happy to take this along with #29479

[2018-05-09 20:47] danmosemsft commented on #29248
Even though it's not built I suggest sending mail to shiproom @anipik with the usual template so we can get the ok to merge this as theres value in a consistent state.
@anipik please check the diff each day from now until we ship or you have the mirror working.

[2018-05-09 20:53] JeremyKuhne commented on #29479
@tdinucci Great! @karelz, can you get him set up so we can assign the issues?

[2018-05-09 21:12] bartonjs commented on #29607
That happened during 1.0, and I remember there was some member hiding going on then.  Most of that hiding was undone by netstandard2.0; but these types aren't part of netstandard.

So there's probably not a reason to keep them as explicit implementations.

[2018-05-09 21:43] safern commented on #29426
@hughbe do we only need to run `export DYLD_PRINT_LIBRARIES=1` to fix this problem in the OSX CI machines?

[2018-05-09 21:46] qmfrederik commented on #29426
@hughbe There's some infrastructure in System.Drawing.Common to have it pick up libgdiplus from NuGet packages. We use it to ship libgdiplus with our app on macOS.

So an option is to create a NuGet package with an updated version of libgdiplus (say, Mono master), and reference that in the uni

[2018-05-09 21:52] hughbe commented on #29426
No, sorry. The command to run to fix this problem is:

[code]

[2018-05-09 21:56] safern commented on #29426
It would work but I think it would be painful to be updating and publishing a new NuGet package every time we want to update libgdiplus for our tests. The way that we have it right now we can build libgdiplus manually and just link that in the OS and our tests will run against that version. Also the CI machines are already picking up the latest version. So if we just need to run one command to fix

[2018-05-09 21:59] safern commented on #29426
Opened an issue to have the OSX CI machines updated.

[2018-05-09 22:00] itdeepdive opened #29620 "Issue with .net core connecting to Remote Microsoft Sqlserver"
**Environment:**

**Dot.net Core Version**:  .net core 2.0.6
**Operating System:** CentOS Linux release 7.4.1708 (Core)
**Sqlserver Hosted on Windows:** Microsoft SQL Server 2017 (RTM) - 14.0.1000.169 (X64)

Same Error Exists Using Docker  **microsoft/dotnet**  2.0

**Error:**

**Application startup exception: System.Data.SqlClient.SqlException (0x80131904): A connection was successfully establish

[2018-05-09 22:29] safern commented on #1973
@TylerBrinkley thanks for adding an API Proposal in the thread. Would you mind adding rationale and use cases? So that I can mark it ready for review and let the api experts decide?

[2018-05-09 22:33] pjanotti commented on #29260
While I also doubt that it is used in a hot path it can be relevant for some services that create/destroy a high number of XmlDocument instances. I will take a look at it.

[2018-05-09 22:47] weshaggard commented on #28620
Looks like we have a few issues that are tracking similar things https://github.com/dotnet/corefx/issues/16629, https://github.com/dotnet/corefx/issues/17452,
 https://github.com/dotnet/corefx/issues/24522, https://github.com/dotnet/corefx/issues/25530, https://github.com/dotnet/corefx/issues/28132, https://github.com/dotnet/corefx/issues/23197

I hope we can tackle a number of them as part of mov

[2018-05-09 22:47] eerhardt commented on #29314
Using fwlinks isn't a very good solution here.  The previously built packages use that fwlink, so if you update it to the latest release notes, you will be updating the `2.0.0` package to point to the `2.1.0` release notes.

Also, updating a URL in our source control for each release (think 4 branches: 1.0, 1.1, 2.0, 2.1) isn't really maintainable.

What if instead, we just pointed our nuget packa

[2018-05-09 22:51] huanwu commented on #21724
We already has a bug opened for porting the fix to desktop.

[2018-05-09 22:55] kouvel commented on #29595
I think at least part of the issue is that the SpinWait usage in ConcurrentQueue is reaching the Sleep(1) threshold more easily because 2.1 does less spinning than 2.0, and the Sleep(1) delay is the main culprit for the difference in time. I think the spinning done in ConcurrentQueue (and in other similar cases) shouldn't do Sleep(1) at all because the delay is far too long. Either it should just

[2018-05-09 23:05] eerhardt commented on #29314
Another option would be to have a templated URL for release notes, and we use the build version to build the URL:

Dotnet/core/releaseNotes/$(packageId)/$(version).md

[2018-05-09 23:09] bartonjs commented on #29437
This is now fixed in 2.1, but not master.  Leaving the issue open for now.

[2018-05-09 23:17] dmarlow opened #29622 "System.Net.Http NuGet broken for .NET 4.7.2"
Hopefully this is the right place. If not, please let me know and I'll create this elsewhere.

I created a net .NET 4.7.2 class library project and tried to reference the System.Net.Http 4.3.3 NuGet package and the entire `System.Net.Http` namespace is missing. I can't reference `HttpClient`. I'm using PackageReference though I think packages.config is also broken. As soon as I change the library

[2018-05-09 23:34] steveharter commented on #29032
That PR went in and core-setup should now generate the version metadata for Microsoft.NETCore.App.deps.json deps in the next 2.1 build.

@weshaggard can we trigger a 2.1 release build to make this available asap?

[2018-05-10 00:58] kouvel commented on #29595
Yea that seems to be the problem. Since no single sleep(1) threshold is going to be good for every spinning scenario, maybe the overload of SpinWait.SpinOnce that allows setting the sleep(1) threshold should be exposed and also to allow disabling sleep(1).

[2018-05-10 01:27] kouvel opened #29623 "API proposal: Add SpinWait.SpinOnce overload to specify or disable the Sleep(1) threshold"
[`SpinWait.SpinOnce`](https://github.com/dotnet/coreclr/blob/923d432840a499b66b3377a34be8eefb4aaf4053/src/System.Private.CoreLib/shared/System/Threading/SpinWait.cs#L128) has always used a fixed threshold before which it would start to call `Thread.Sleep(1)`.

The jump in delay from spinning/`Sleep(0)` to a `Sleep(1)` is many orders in magnitude, and no single threshold will be good for every spin

[2018-05-10 01:37] #29610 closed

[2018-05-10 01:42] #29558 closed

[2018-05-10 01:42] #29575 closed

[2018-05-10 01:42] #29583 closed

[2018-05-10 02:48] Yortw commented on #10470
Hi,
I've looked at the linked issues above and as far as I can tell we're still missing an appropriate API for Json.Net to check? Or do we have it now, and if so, has Json.Net been updated?

We are still being burned heavily by this but I fear any fix is now too late for us. Our UWP code is running on (enterprise) W10M devices and so any new API likely to require an OS release we will never get (f

[2018-05-10 04:48] dmitriyse commented on #1973
@TylerBrinkley do no forget to include EqualityComparer property in the IReadOnlySet<T> interface. They are currently missed in Dictionaries ans Sets in the CoreFX, but it's an issue.

[2018-05-10 05:37] mikedn commented on #29544
@sdmaclea Don't you need `Interlocked.MemoryBarrier(MemoryOrder memoryOrder)` as well? Currently it generates `dmb ish` but I get from the ARM64 documentation that there's also `dmb ishld` that could be used for `MemoryOrder.Acquire`. There's `dmb ishst` but that doesn't seem to map to any of the existing orderings as it serialized only stores.

[2018-05-10 05:57] mikedn commented on #29544
[code]
Maybe it would be better to reverse the order of this enum's members to better suggest that `SequentiallyConsistent` is the default.

[2018-05-10 05:57] mrshridhara opened #29629 "Enumerable.Any has no check for ICollection<T>"
Similar to `Enumerable.Count()` why doesn't `Enumerbale.Any()` has no check for `ICollection<T>` instead of creating the Enumerator instance as seen below?

[code]

[code]

[2018-05-10 07:55] colgreen commented on #23298
Here's a response from Sebastiano Vigna:

https://www.reddit.com/r/programming/comments/8gx2d3/new_line_of_fast_prngs_released_by_the_author_of/dyqe1u4/

[2018-05-10 09:19] guylando commented on #25785
which version of System.IO.Compression has BrotliStream? because I could not find it @ianhays

[2018-05-10 09:29] kasper3 commented on #16629
Since #16629, #17452, #23197, #24522, #25530, #27417 and #28132 are all similar proposals if we think from the perspective of bringing over https://github.com/dotnet/core-setup/tree/fd1dc48fad5bc32258c8c0fc885fbf4b1e32bebd/src/managed/Microsoft.DotNet.PlatformAbstractions to CoreFX that was proposed in https://github.com/dotnet/corefx/issues/28620 by @weshaggard, could the area owner of S.R.I.Runt

[2018-05-10 09:39] itn3000 commented on #29595
#29623 seems to be targeted on 2.2.0,
is it difficult to fix in 2.1?

[2018-05-10 09:47] marek-safar commented on #29523
Yes, this is synchronization issue the preview package needs the preview version of Xamarin which ships the inbox version

[2018-05-10 10:02] hughbe commented on #29331
I can reproduce this and its really annoying for contributions:

[code]

[code]

[2018-05-10 10:03] hughbe commented on #29495
I can reproduce this and its really annoying for contributions:

[code]

[code]

[2018-05-10 11:01] EgorBo commented on #29629
that's is a quite popular question here - see https://github.com/dotnet/corefx/issues/23700#issuecomment-326237160

[2018-05-10 12:13] guy-lud commented on #29597
Hey @rmkerr, Thanks for your answer.
We targeted .NET Core 2.0.

We've also tried 2.1 with SocketHttpHandler and got ~37 sec for both calls

[2018-05-10 12:14] BrotherOdin opened #29633 "TransactionScope in 2.1 throwing exception only during debugging in VS2017 15.7.0 Preview 6.0"
While testing the .net core 2.1 implementation of TransactionScope I ran into the following issue.

We have a library that configures settings for DB Connections and Transaction scope (Data.Core). Other libraries call this library to execute queries using dapper.

When I execute the code without the debugger, everything runs fine. When I set a breakpoint in the unit test AND also in the method whe

[2018-05-10 12:22] hughbe opened #29634 "Microsoft.Win32.SystemEventsTests.InvokeOnEventsThreadTests.InvokeOnEventsThreadRunsAsynchronously fails on netfx"
See https://mc.dot.net/#/user/hughbe/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/7f39280d9d2224eb02e98663815699bceb4d6c29/workItem/Microsoft.Win32.SystemEvents.Tests/analysis/xunit/Microsoft.Win32.SystemEventsTests.InvokeOnEventsThreadTests~2FInvokeOnEventsThreadRunsAsynchronously

Failed on Windows.10.Amd64.ClientRS4.Open-x86-Release

[code]

[2018-05-10 12:32] BrotherOdin commented on #29633
dotnet --info

[code]

[2018-05-10 12:33] mihailik commented on #29544
People promoting these overloads and **`people who would be pained by it`** are very disconnected. @sdmaclea  while you may **not** disrespect those people intentionally, you eject their needs from consideration too easily.

For majority of the existing C# code using `Interlocked.*` — these overloads add noticeable maintenance burden. Instead pushing them into a nested avoids the risk at no extra

[2018-05-10 12:50] MarcoRossignoli commented on #29524
If i understood well here the solution is to change [NormalizeDriveName](https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem.DriveInfo/src/System/IO/DriveInfo.Unix.cs#L24) and try to looking for correct(if any) `DriveInfo`and return `DriveInfo.Name`, i'm not a linux expert but if this is not urgent i could try a PR.

[2018-05-10 13:02] stephentoub commented on #29524
I don't think we know what the right solution is, if we even want to do anything.

We try to put things in corefx unless they need to be in coreclr, which is generally only necessary if something else in coreclr relies on it or is tightly integrated with it.

[2018-05-10 13:03] dmitriyse commented on #1973
Dictionaries and Sets should report their EqualityComparers to allow correct collection cloning.
Unfortunately I forgot where this issue was discussed.

[2018-05-10 13:07] stephentoub commented on #29544
@mihailik, I hear your concerns, but I also agree with everyone who's suggested these be overloads.  It is very common in .NET for overloads to provide additional arguments that allow for someone who knows what they're doing to express more control over the behavior of the operation.  Even something as simple as `int.Parse`, for example, does this.  There's the basic `int.Parse(string)`, but if yo

[2018-05-10 13:15] MarcoRossignoli commented on #29524
ok let me know...TYVM for clarifying.

[2018-05-10 13:59] dmitriyse commented on #1973
For example if you have set with the strings and case insensitivity equality comparer, you will receive an exception on creating of a new HashSet without specifying correct EqualityComparer. There are cases when you can't know what EqualityComparer is used in the specified set.

[2018-05-10 14:00] aaron-meyers commented on #1973
It's not just cloning. I think the far more common scenario is comparing two sets -- I need to know that they both use the same comparer in order to implement an optimal comparison using Contains. I think there's an example in this thread.

That said, I'd rather have IReadOnlySet with just the Contains method than not at all. It would be nice to be able to implement Set comparison generically but

[2018-05-10 14:02] dhowe commented on #25016
Apologies if I missed it above, but is there a fix for this issue with HttpListener on OS X?

[2018-05-10 14:39] mihailik commented on #29544
@stephentoub  the difference is that incorrect `NumberFormat` is easy to notice, easy to debug, trivial to test.

Incorrect `MemoryOrder` is extremely hard to notice, test and endless torture to debug.

BTW, no attachment to specific syntax — as long as the concern is taking into account.

[2018-05-10 14:45] mihailik commented on #29544
BTW would you mind using `ArrayList.SyncRoot` as a straw man here:  suggest an improvement with new `MemoryOrder` and let's see how hard  it is to reason about it.

I put it to you, that a general C# developer will not be able to code-review such change.

[2018-05-10 14:47] stephentoub commented on #29544
It's trivial to spot in a code review or in code where it shouldn't be.  And if you want to outlaw it in a codebase, it's trivial to do so with a Roslyn analyzer.  It also takes very explicit action to use: if a developer doesn't know what it means, why would they explicitly type ", MemoryOrder.Acquire"?  And if they believe they know what it means and are desiring to use it, then it doesn't matte

[2018-05-10 15:17] kouvel commented on #29595
It can be fixed probably by having a separate implementation of SpinWait in CoreFX, there are a bunch such cases that would all need to be tested in a similar way. If I remember correctly Sleep(1) improves throughput at high contention by removing some threads from the contention, though at the cost of significantly delaying those threads. There probably will be some tradeoff but I think at least

[2018-05-10 15:37] ianhays commented on #25785
@guylando BrotliStream is in its own assembly (System.IO.Compression.Brotli.dll) that is included in framework versions of 2.1 preview1 forward.

For example, `runtime.linux-x64.Microsoft.NETCore.App.2.2.0-preview1-26508-01.nupkg` has Brotli.

[2018-05-10 15:44] jnm2 commented on #1973
I agree—the only way you can tell what types of duplicates you might find in the set (case sensitive, case insensitive, etc) is by exposing the comparer.

[2018-05-10 15:45] guylando commented on #25785
@ianhays what is the minimal nugget package to reference to get it?
because I dont reference Microsoft.NETCore.App (which from what I understand is a bundle of many packages) and instead I reference specific packages in my projects to save importing unnecessary stuff

[2018-05-10 15:46] karelz commented on #29087
@davidsh what if we detect just the specific setup failure (as mentioned above `Cannot find KDC for realm "mycompanydomain.com"`)?
That basically means the client does not have the stronger mechanism at all.

[2018-05-10 15:52] davidsh commented on #29087
That could be a risky strategy.  That means we need to look at errors (and maybe the error strings) and reason out whether it is safe to downgrade authentication schemes or not.

Perhaps "Cannot find KDC" is because the KDC (Kerberos domain controller/ticketing server) is down due to network problems or authentication errors and not because of some setup error. We should fail the authenticaion and

[2018-05-10 16:02] danmosemsft commented on #29634
@ericstj

[2018-05-10 16:05] karelz commented on #29633
Distributed transactions are not supported yet - see #16755

[2018-05-10 16:26] sdmaclea commented on #29544
Using the memory order enumeration for MemoryBarrier didn't make any sense to me, so I punted.

For `Interlocked.MemoryBarrier`, something like this makes more sense to me.
[code]

[2018-05-10 16:26] karelz commented on #29600
@weshaggard do you know where the XML file comes from? Is it generated from docs?

[2018-05-10 16:32] sdmaclea commented on #29544
`System.Threading.Volatile` needs memory ordering overloads too.

In my mind there are two options

[code]

[code]

I like the flexibility and extensibility of the first set, but not the complexity.

[2018-05-10 16:34] karelz commented on #29598
@sawachika-kenji how do you know the code runs into Stream.ReadAsync? Optimized code often shares code for same methods. Is it possible both implementations are the same and debugger points you to the other one?
Can you create a repro (without debugger) demonstrating that wrong code is called (i.e. wrong result / exception happens)?

[2018-05-10 16:35] sdmaclea commented on #29544
Perhaps an alternative would be to create several use case specific enumerations
`AtomicMemoryOrder`
`VolatileMemoryOrder` (or `ReadMemoryOrder` & `WriteMemoryOrder`)
`BarrierMemoryOrder`

This would allow the different use cases to be separated and unsupported/nonsensical cases easily detected by the compiler.

[2018-05-10 16:45] kouvel commented on #29544
For the memory order on volatile, is it just to allow preventing compiler optimizations without an actual barrier (which I think is missing currently), or is there something else?

[2018-05-10 16:47] karelz commented on #29597
@guy-lud did you try 2.1 RC? (release earlier this week)
Are you able to reproduce it on more than one machine? Are you from the same company/project as @EvgenyKhaliper? (or do we have 2 independent reports?)

Given that we cannot reproduce it & it goes against our expectations, it is suspicious and we will need more info.

[2018-05-10 16:50] bronumski commented on #26233
Facing the same issue as @jonathh21. Just migrated to core from 461 and PostAsJsonAsync is not picking up the content length and being sent as chunked which is causing a 500 error on the api it is calling. The json string itself is tiny. I have had to switch to using string content to get it working.

[2018-05-10 16:53] tarekgh opened #29637 "CI System.Security.Cryptography.Xml.Tests.Signature_ArbitraryElements.DifferentSignatureXMLNS test failure"
https://mc.dot.net/#/user/qmfrederik/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Frelease~2F2.0.0~2F/test~2Ffunctional~2Fcli~2F/c711266a748b753201fd7feb1f878a930eb579f2/workItem/System.Security.Cryptography.Xml.Tests/analysis/xunit/System.Security.Cryptography.Xml.Tests.Signature_ArbitraryElements~2FDifferentSignatureXMLNS

[code]

[2018-05-10 16:53] karelz commented on #29087
Fair, in that case we should treat it as machine configuration error. Fixing the configuration should help. Or using explicit authentication protocol as listed above: https://github.com/dotnet/corefx/issues/29087#issuecomment-382109615

@qqbuby please be warned that your "workaround" above https://github.com/dotnet/corefx/issues/29087#issuecomment-381930805 is unsupported and may break at any time

[2018-05-10 16:53] #29087 closed

[2018-05-10 16:56] weshaggard commented on #29600
Yes this comes from the docs team (cc @mairaw) but I'm almost certain this has been fixed in the doc files since the 1.4.0 package.

[2018-05-10 16:56] #29600 closed

[2018-05-10 16:59] kasper3 commented on #29597
I am seeing totally opposite result in `ubuntu:xenial` docker with `2.1.0-rc1` (added `<RuntimeFrameworkVersion>2.1.0-rc1</RuntimeFrameworkVersion>` in csproj with latest sdk):

[code]

[2018-05-10 17:02] rmkerr commented on #29597
I'd definitely expect you to see improved performance in most situations when using the new handler in 2.1. @guy-lud is it possible that the bottleneck you're seeing is on the server side?

[2018-05-10 17:07] ericstj commented on #29634
I see, we just need to multiply that guy by ExpectedEventMultiplier.
https://github.com/dotnet/corefx/blob/master/src/Microsoft.Win32.SystemEvents/tests/SystemEvents.InvokeOnEventsThread.cs#L22

Machine must be running tests sloooowly.

[2018-05-10 17:07] rmkerr commented on #28486
The actual bug here is in the test itself. When you create an explicit file URI (ie, starting with "file://"), we expect special characters to be encoded. As seen in the traces, both failures are for explicit file paths:
[code]
The actual fix here is going to be to URL encode the special characters in the relative paths.

[2018-05-10 17:27] karelz commented on #29593
Is there anything left for us to do, or can it be closed then?

[2018-05-10 17:30] rmkerr commented on #29597
@kasper3 that's definitely not the expected behavior. What server are you connecting to when you measure that?

[2018-05-10 17:36] sdmaclea commented on #29544
Let me look at teh arm64 and arm32 instruction sets and make sure my assessment above is correct.  I suspect I am wrong at least with respect to some of the newer instruction set extensions.

[2018-05-10 17:37] karelz commented on #29566
This issue was moved to aspnet/Mvc#7768

[2018-05-10 17:37] #29566 closed

[2018-05-10 17:40] ahsonkhan commented on #29593
I think it can be closed. @jdwilly2001, feel free to re-open if @natemcmaster's fix doesn't work for you.

[2018-05-10 17:40] #29593 closed

[2018-05-10 17:43] karelz commented on #29567
@paaland are you able to reproduce it on more than 1 machine?
Did you reproduce it on vanilla OS installation? (English or non-English?)

[2018-05-10 17:44] karelz commented on #29564
Which .NET Framework / .NET Core version do you use?

[2018-05-10 17:45] kasper3 commented on #29597
I used `URL = "http://bing.com"` and `<RuntimeFrameworkVersion>2.1.0-rc1</RuntimeFrameworkVersion>` in csproj.

[2018-05-10 17:49] LandonCampbell commented on #29564
@karelz I'm running my Lambdas on .NET Core 2.0

[2018-05-10 17:54] tarekgh commented on #29589
I am closing this as the framework already providing APIs covering all needed scenarios.

[2018-05-10 17:54] #29589 closed

[2018-05-10 17:54] mklement0 commented on #28944
I gave it a shot, but hit roadblocks (see below - some may require renewed discussion and sign-off).

Given my inexperience, I suggest someone more experienced take this on - @iSazonov, please feel free to take over.

---

Implementing this API requires CoreCLR (CoreLib) changes too, and I don't know how to coordinate that (even just adding a new virtual `System.Text.EncodingProvider.GetEncodings(

[2018-05-10 18:00] tarekgh commented on #28944
@mklement0 thanks for trying. we'll try to get into this at some point.

[2018-05-10 18:13] pjanotti commented on #28486
@rmkerr it isn't clear to me why it works on Windows, it seems that in this case the relative path is automatically encoded, see below (f# in net472).

[code]

[2018-05-10 18:26] huanwu commented on #28530
Need open a desktop work item and see if to support this type.

[2018-05-10 18:28] kouvel commented on #29544
For preventing compiler optimizations (maybe this should be a different review?) how about adding acquire/release versions of compiler-only barriers separately from volatile so that it doesn't have to be tied to a load/store?

[2018-05-10 18:29] karelz commented on #22098
Next steps:
* Have a set of tests
* Create proposal for changes (behavioral)

Principles:
* Windows should not break
* File path auto-detection is lower priority than http Uri scheme correct behavior (we are not IO API)
* Exactly same behavior across OSs is nice-to-have but not mandotory

[2018-05-10 18:32] Petermarcu commented on #29248
Can we close this one now? We did the manual merge?

[2018-05-10 18:36] kouvel commented on #29544
Oh right volatile also prevents tearing, maybe memory order on volatile would suffice for now

[2018-05-10 18:36] pjanotti commented on #28486
Hum interesting... on Linux it also encodes, but notice the last line "file://file:/"
[code]

[2018-05-10 18:37] PinpointTownes commented on #22098
@karelz hum, correct me if I'm wrong, but I thought the outcome of the discussion was that this change had been deliberately introduced in 2.0 to make `Uri` work with Unix file paths and that we'd basically have to live with that. Do you envision any change in 2.2?

[2018-05-10 18:41] Anipik commented on #29248
shouldnt we just move the milestone to the future as we are currently working to run the mirror for multiple branches  ?

[2018-05-10 18:45] huanwu commented on #18964
Need open a bug on desktop.

[2018-05-10 18:47] mihailik commented on #29544
@stephentoub:

How?? Can you please be more specific?

Imagine `ArrayList.SyncRoot` was optimised for better performance:

[code]

Are you seriously saying validity here is 'trivial to spot'???

17+ years of writing C# code on business side, I know barely 3 people equipped to get this fine detail right, and I wouldn't bet any one of them can do it in under 10 minutes of mental algebra.

Are there

[2018-05-10 18:47] Petermarcu commented on #29248
That would be fine too. We'd have to change the title as well then and remove the "blocking-release" tag. My goal is to get it off the radar of things blocking 2.1.

[2018-05-10 18:47] safern commented on #18964
It should already be opened. The netfx-port-consider tag should cause it to be opened automatically.

[2018-05-10 18:47] ahsonkhan commented on #29248
What about this? Or do we except no more changes now.

[2018-05-10 18:50] safern commented on #29269
Just tried bringing those KnownColors values back to release/2.0 and debugged it and it works fine. I will port the fix to release/2.0.0 -- so you guys should see this fix whenever we service a new version of netcoreapp 2.0

[2018-05-10 18:51] Anipik commented on #29248
I will be checking it regularly until the mirror is set up (Its in the pipeline)

[2018-05-10 18:54] EvgenyKhaliper commented on #29597
@karelz and @rmkerr
Sorry it took some time to get here again.

As @guy-lud said we are targeting 2.0 for now and we are from the same project.

Moreover, we are running Ubuntu 16.04 as OS not as VM or docker container.

[2018-05-10 18:54] colgreen commented on #23298
@fuglede

Indeed.

Yes I see. And thanks for the links - I will need some time to digest the info.

So at the very least I need to correct my comment. It _is_ very convenient to calc N * 1/(2^53), and it is an improvement on N * 1/(2^31) (as per System.Random).

Perhaps we should move our discussion to email, and if we get anywhere then post a summary here when we're done? (if so then go so my git

[2018-05-10 18:56] sdmaclea commented on #29544
You are suggesting this is better
[code]

It is not apparent to me how that changes the reviewers job.

[2018-05-10 18:59] ViktorHofer commented on #29590
Thanks for reporting. I'm currently on holiday and will look into it when I'm back 😊

[2018-05-10 19:06] joperezr commented on #29495
sure, taking a look now.

[2018-05-10 19:29] TylerBrinkley commented on #1973
I'm beginning to think that my proposal would not be accepted as adding all those methods to the `Dictionary<TKey, TValue>.KeyCollection` would have a significant code size cost. See this [discussion](https://github.com/dotnet/corefx/issues/17275#issuecomment-291636863) regarding adding new API to commonly instantiated generic types.

[2018-05-10 19:31] stephentoub commented on #29544
The code changes to include `MemoryOrder`.  That's easy to see.  I'm not suggesting it's easy to validate that the right ordering is being used, but it's trivial to see that an ordering is being specified, and the moment one is, that should set off alarm bells.

And I would be skeptical of any Interlocked-based code written by such developers; it's not their area of expertise, nor should it be, an

[2018-05-10 19:41] yzrmn commented on #29269
Thx, will check :)

[2018-05-10 19:54] sdmaclea commented on #29544
That was my original intention.  I will open a API review for Volatile separately.

[2018-05-10 19:55] jimcarley commented on #29633
This looks to be an issue with System.Data, based on this part of the callstack:

 at System.Transactions.TransactionInterop.GetExportCookie(Transaction transaction, Byte[] whereabouts)
   at System.Data.SqlClient.SqlInternalConnection.GetTransactionCookie(Transaction transaction, Byte[] whereAbouts)
   at System.Data.SqlClient.SqlInternalConnection.EnlistNonNull(Transaction tx)
   at System.Data.

[2018-05-10 20:05] #29607 closed

[2018-05-10 20:10] caesar1995 commented on #26983
There are still tests skipped using this issue number. Will change the test, and add comments on it.

[2018-05-10 20:18] rmkerr commented on #28486
That is interesting, and warrants more investigation.

[2018-05-10 20:26] karelz commented on #29633
cc @David-Engel @keeratsingh

[2018-05-10 20:34] rmkerr commented on #28863
Hey @MarcoRossignoli if you'd like to take this issue in two segments I'm confident that we would accept a fix to part 2 here, since that behavior is clearly a bug. Part 1 requires a little more discussion, so I think splitting the fix up would be best.

[2018-05-10 20:34] guylando commented on #25785
@ianhays Do I understand correctly that its a best practice to include Microsoft.NETCore.App instead of separate packages? Our projects are from before the existence of Microsoft.NETCore.App so I left them as is and never moved to Microsoft.NETCore.App because sounded better to leave as is.
Do you say that if I will move from separate packages to Microsoft.NETCore.App I will not see any bad impact

[2018-05-10 20:35] Petermarcu commented on #16629
@danmosemsft, can we get someone assigned to this? Iike to see a unification proposal that effectively eliminates the need for PlatformAbstractions as a second place to get runtime info.

[2018-05-10 20:38] karelz commented on #25785
@guylando you will be on supported & tested combination of packages, which makes it actually less likely for you to hit issues.

[2018-05-10 20:40] rmkerr commented on #22098
@PinpointTownes I think the plan right now is just to write a set of tests to validate that our current behavior is consistent. I wouldn't anticipate a change unless we can come up with situations where things really are broken.

[2018-05-10 20:41] benaadams commented on #20378
Is this now covered by `ReadOnlyMemory<char>` and `ReadOnlySpan<char>`?

[2018-05-10 20:42] jkotas commented on #29562
It does not need to read it. It can just map the file.

There is a ton of code out there that expects the Stream returned by GetManifestResourceStream to be UnmanagedMemoryStream, gets a pointer out of it and parties on it. I do not think we would be ever able to change this implementation detail.

I see this suggestion as a desire to make this flow more Span friendly. I agree that adding Span ret

[2018-05-10 20:46] stephentoub commented on #20378
I believe so.

[2018-05-10 20:47] guylando commented on #25785
And does Microsoft.AspNetCore.App include it also? or only Microsoft.NetCore.App?

thanks!

[2018-05-10 20:47] karelz commented on #29597
We have very different numbers from various people (all testing on Ubuntu 16.04).
How stable are the numbers? Can someone try to dump per-request statistics and dig into those? (to avoid one XXL long request to skew the numbers)

@wfurt can you please help here?

[2018-05-10 20:52] kasper3 commented on #29562
In order to have uniform API between UWP and non-UWP, does it make sense to propose `Memory<byte> MemoryMappedFile.CreateFromMemory` (in addition to `CreateFromFile`) API addition?

[2018-05-10 20:56] kasper3 commented on #29597
@karelz, the test case given in first comment is not stable as `NewClient` method intermittently thwos TaskCanceledException, therefore I wasn't able to successfully reproduce the results consecutively. That said, running in docker, running in VM, running in WSL and running on bare metal, all using Ubuntu 16.04 may have slight differences as well, but not a huge gap if we are all testing with `htt

[2018-05-10 21:00] AtsushiKan commented on #29562
Let's pursue this as a potential `UnmanagedMemoryStream` property then. (a `CreateFromMemory` should probably be tracked separately.)

Though it appears, the flow can already be simplified by a simple user extension method:

[code]

[2018-05-10 21:15] weshaggard commented on #25785
If you are targeting .NET Core then yes that is the correct thing to do. You don't actually need to reference the package directly in your application, the reference you get is controlled by the TargetFramework you are using. You will need to target netcoreapp2.1 to get these new APIs.

Microsoft.AspNetCore.App depends on Microsoft.NetCore.App so it will be part of the closure.

[2018-05-10 21:17] guylando commented on #25785
And is it possible to get Brotli if I target net461?

[2018-05-10 21:27] guylando commented on #25785
thanks for the answers!

[2018-05-10 21:32] EvgenyKhaliper commented on #29597
number of iterations: 100
same client: 23s
new client: 14s

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  18.04
 OS Platform: Linux
 RID:         ubuntu.18.04-x64
 Base Path:   /usr/share/dotnet/sdk/2.1.105/

Microsoft .NET Core Shared Framework Host
  Version  : 2.0.7
  Build    : 2d61d0b043915bc948ebf98836fefe9ba942be11

[2018-05-10 21:33] #7856 closed

[2018-05-10 21:37] caesar-chen opened #29644 "[UWP] Use managed WebSockets implementation for UWP"
The UWP version of WebSockets.Client currently uses WinRT WebSocket APIs.

We should use managed WebSockets on all Windows (including UWP), and obsolete WinRT implementation.

Related: #9503

[2018-05-10 21:38] karelz commented on #20378
Closing then

[2018-05-10 21:38] #20378 closed

[2018-05-10 21:38] caesar1995 commented on #29644
@karelz I set the Milestone to future, since we will not address it for 2.2. Is that ok?

[2018-05-10 21:39] caesar1995 commented on #24420
Opened #29644 to track changing to use ManagedWebSocket for UWP.

Closing this issue.

[2018-05-10 21:39] #24420 closed

[2018-05-10 21:40] karelz commented on #29644
Yep, that's good. Thanks!

[2018-05-10 21:48] stephentoub commented on #29597
What url were you using before? Have you tried against some server that's opened by you and stable in response performance (which a public server with many different endpoints and traffic loads won't be)?

What results do you get with 2.1?

What results do you get if you make all requests serially rather than in parallel? i.e. stop using Parallel.For?

[2018-05-10 22:00] davidsh commented on #29622
Why did you want to reference "System.Net.Http 4.3.3 NuGet package?   If you're building a .NET Framework 4.7.2 class library, then you could just add a normal Framework reference to System.Net.Http.

In most cases, we don't advise people use the separate System.Net.Http NuGet package anymore.  See #11100 and #17522.

[2018-05-10 22:02] davidsh commented on #28267
@rizwaans What version of Visual Studio are you using?  Visual Studio 2017?  And what update are you using? We recommend the latest Update 15.7 for Visual Studio 2017.

[2018-05-10 22:02] sdmaclea commented on #29544
Looking at `x86`/`x64`.  I see mentioned three fences `MFENCE`, `LFENCE`, `SFENCE`.  Looks like they correspond to `arm`/`arm64` `dmb ish`, `dmb ishld`, and `dmb ishst` respectively.

Looking at C11 & C++11 `atomic_thread_fence` looks like it accepts all memory order options, but it is noted that the implementation is more restricted than the requested ordering.  Which is consistent with my survey

[2018-05-10 22:14] joperezr commented on #29495
just tried it on my high sierra machine and couldn't get a repro either. I have definitely seen this problem in the past, but it seems like we still haven't found a consistent repro yet. @hughbe if you are able to find one, please do let us know. Also, getting a binlog of a repro would be even better 😄

[2018-05-10 22:25] baulig opened #29645 "Namespace mismatch regarding `StringBuilderCache`."
I am currently trying to add a few more CoreFX classes to Mono and stumbled upon a namespace problem with the internal `StringBuilderCache` class:

- The class is defined https://github.com/dotnet/corefx/blob/63e70fa6b1bc6b7175467e0ad16cbbf4c44f8d83/src/Common/src/System/IO/StringBuilderCache.cs#L41 here in the `System.IO` namespace.
- This file https://github.com/dotnet/corefx/blob/103639b6ff5aa6

[2018-05-10 22:31] tmds commented on #22098
Note that this is a **2.0** change, afaik there were no other issues reported and @PinpointTownes (and others who ran into this) changed their code.

[2018-05-10 22:36] rmkerr commented on #22098
Thanks for pointing us in the right direction. I might add some tests before closing this issue, but it does sound like this has been addressed.

[2018-05-10 22:46] Anipik commented on #29248
@danmosemsft the PR for this issue has been merged. Should we start using the new mirror ?

[2018-05-10 22:46] #29248 closed

[2018-05-10 22:47] danmosemsft commented on #29495
In https://github.com/dotnet/coreclr/issues/17950 it seems it requires a rebuild.

[2018-05-10 22:58] dmarlow commented on #29622
It's been a while (over a year) and I'm wondering why I referenced it myself. We actually reference NETStandard.Library 1.6 in our .NET 4.6.2 projects and it's been working fine. Maybe it was related to wanting to reference ValueTuple or some other dependency that targeted some NETStandard reference. Is there guidance somewhere that talks about this? I feel like this is all tribal knowledge filled

[2018-05-10 22:59] safern commented on #29269
After discussing this, we decided that since this is no longer an issue in 2.1, we're not planning on fixing it in 2.0 as it is not critical. Thanks for reporting the issue, though.

[2018-05-10 22:59] #29269 closed

[2018-05-10 23:11] rainersigwald opened #29648 "Ansi Color On Linux"
_From @abk-x on May 10, 2018 4:10_

Looking for some guidance on how to debug this issue. How is dotnet cli determining if Ansi support is available? (Edit: I have seen https://github.com/dotnet/cli/issues/1977, but this was a very long time ago and I believe that this was resolved)

## Steps to reproduce
1. `dotnet new console`
2. `dotnet add package Microsoft.DotNet.Cli.Utils --version 2.0.0` (t

[2018-05-10 23:11] rainersigwald commented on #29648
_From @livarcocc on May 10, 2018 16:59_

I am not 100% sure I understand the question, sorry. In any case, You can look at the Write method to see how we honor the colors: https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.Cli.Utils/AnsiConsole.cs#L100.

Also, I would not recommend using this library for this sort of thing. It was originally publish as a way to share APIs helpful in bu

[2018-05-10 23:11] rainersigwald commented on #29648
_From @abk-x on May 10, 2018 22:6_

Right, so lets remove that library from the discussion. The following:

[code]

Combined with `dotnet run`, does not produce colors at all, I am convinced it must be something to do with my environment, as I have other systems where this produces color, I am trying to work out what the cause could be :(

Edit: Just to confirm, only dotnet run and dotnet build su

[2018-05-10 23:14] rainersigwald commented on #29648
Based on discussion in https://github.com/Microsoft/msbuild/issues/3296, this sounds an awful lot like `Console.ForegroundColor` isn't working on this machine.

@abk-x, can you elaborate a bit more on your distro? AFAIK colors have worked everywhere I tried.

[2018-05-10 23:26] sdmaclea opened #29649 "API Proposal: Add memory ordering overloads to System.Threading.Volatile"
System.Threading.Volatile class currently assume all reads require Acquire semantics and all Writes require Release semantics.

In the equivalent C++ functionality we have found it necessary to an unordered equivalent operations to implement functionality optimally.

However for future proofing is seems better to add a full set of memory orderings.  The C++11 `atomic_load_explicit` & `atomic_store

[2018-05-10 23:27] sdmaclea commented on #29649
@kouvel @stephentoub @CarolEidt @eerhardt PTAL

[2018-05-10 23:40] natemcmaster commented on #24454
I just ran into this as well in 2.1.0-rc1 trying to read a PEM encoded cert/private key from separate files (cref https://github.com/dotnet/corefx/issues/20414). SSL auth and X509Certificate2.CopyWithPrivateKey work fine on macOS/Linux, but fail on Windows. Any ideas if there are workarounds available?

[2018-05-10 23:41] #29634 closed

[2018-05-10 23:48] MarcoRossignoli commented on #28863
@rmkerr sure! I'll work on it! Thank's for consideration!

[2018-05-10 23:57] gmcit commented on #17833
@mattchidley , Thanks I was able to use the  preview version with SqlDependency.

[2018-05-11 00:03] scalablecory commented on #1973
I don't think you're going to be able to put a comparer on `IReadOnlySet`.

`SortedSet` takes an `IComparer`, while `HashSet` takes an `IEqualityComparer`.

[2018-05-11 00:08] svick commented on #29622
What you're describing sounds a lot like [this known issue](https://github.com/Microsoft/dotnet/blob/master/releases/net472/KnownIssues/613745%20-%20Single-name%20references%20are%20removed%20by%20the%20SDK%20when%20targeting%204.7.2.md).

[2018-05-11 00:11] AfsanehR commented on #29147
Hello @hpbieker @marcin-jedynski

Running a sample connection inside an alpine-docker hosted on ubuntu VM:
[code]

Result after performing following commands where I am building the project inside the docker:
[code]

My csproj file looks like this:
[code]

I ran the same test with the latest image of dotnet:2.1-sdk-alpine and it was successful again:
[code]

However, when I tried to run based on t

[2018-05-11 00:44] weshaggard commented on #29365
@SergeyKhutornoy are you calling "Install-Package" in VS from the Package Manager Console? If so that correctly installs the package for me. If you are calling Install-Package from Powershell that is a different kind of package management. I actually just tried that locally and I get a different error (Install-Package : No match was found for the specified search criteria and package name 'Seleniu

[2018-05-11 00:45] davkean commented on #20378
Is there a diff that shows what APIs we ended up? I'm interested in making sure we have string-like APIs and equivalent APIs on Path.

[2018-05-11 00:48] bording commented on #29365
Unlisting this package is a mistake, and not supporting providing a .NET Standard 2.0 version is a mistake.

We're about to ship a major new version of our product, NServiceBus, and we're targeting `netstandard2.0`. We also have a dependency on System.Reflection.Emit and System.Reflection.Emit.Lightweight. I had originally intended to target .NET Framework and .NET Core separately, but a twitter c

[2018-05-11 00:55] danmosemsft commented on #29645
The KVP is mirrored from Corelib where it is using coreclr\src\mscorlib\src\System\Text\StringBuilderCache.cs which is in System.Text.

The corefx\src\Common\src\System\IO\StringBuilderCache.cs needs to be reconciled with the corelib version, then CoreFX can consume that one instead and the IO one can be deleted.

[2018-05-11 00:57] danmosemsft commented on #29590
Same in .NET Framework.

[2018-05-11 02:28] mobi12 opened #29650 "I have a problem"
On ubuntu18.04
下列软件包有未满足的依赖关系：
 dotnet-sdk-2.1.4 : 依赖: dotnet-runtime-2.0.5 但是它将不会被安装
E: 无法修正错误，因为您要求某些软件包保持现状，就是它们破坏了软件包间的依赖关系。
and if I try install dotnet-runtime
下列软件包有未满足的依赖关系：
 dotnet-runtime-2.0.5 : 依赖: libicu57 但无法安装它
                        依赖: dotnet-hostfxr-2.0.5 但是它将不会被安装
then I install libicu57
没有可用的软件包 libicu57，但是它被其它的软件包引用了。
这可能意味着这个缺失的软件包可能已被废弃，
或者只能在其他发布源中找到

[2018-05-11 02:31] davidsh commented on #19610
I tried using the emoji example above for the subject.  I sent a message from Outlook and looked at the MIME encoding.

It seems to follow the same rules as .NET Framework.

[code]

[2018-05-11 02:37] stephentoub commented on #29650
From Bing Translator:

On ubuntu18.04
The following packages have unsatisfied dependencies:
dotnet-sdk-2.1.4: Dependent: dotnet-runtime-2.0.5 But it will not be installed
E: Errors cannot be fixed because you want some packages to stay the way they are, which destroys dependencies between packages.
And if I try install Dotnet-runtime
The following packages have unsatisfied dependencies:
dotnet-run

[2018-05-11 02:52] sawachika-kenji commented on #29598
@karelz
I made the following settings and entered the .net core source code https://github.com/aspnet/Docs/issues/4155
I found that the next step in base.ReadAsync(buffer, cancellationToken) is Stream.ReadAsync(Memory buffer, CancellationToken cancellationToken = default(CancellationToken)) instead of NetworkStream.ReadAsync(Memory buffer, CancellationToken cancellationToken = default(Cancellation

[2018-05-11 02:57] sawachika-kenji commented on #29598
No example is required, the following code is an example:
[code]

[2018-05-11 03:03] sawachika-kenji commented on #29598
https://github.com/dotnet/corefx/blob/48ce3254e28f2dae2d9a5efe7dd42cfab119d287/src/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs#L748

At NetworkStream class F12 ,can't found method ReadAsync(Memory<byte> buffer, CancellationToken cancellationToken)

[2018-05-11 04:08] natemcmaster commented on #24454
Awesome, that works for now. Thanks @bartonjs!

[2018-05-11 04:50] caesar1995 opened #29651 "[Cookie] Implement RFC 6265 for Cookie"
Current Cookie implementation follows RFC 2109, which obsoleted by RFC 6265.

Per RFC 2109:

[code]

RFC 6265 is more tolerant for accepting Cookies, and removes those restrictions. Modern browsers support RFC 6265, and we should match the behavior.

Especially, there are three areas needed to be improved/changed. Path scoping, domain restriction, and other fields (for example, Version attribute,

[2018-05-11 04:52] caesar1995 commented on #19166
Tracked in #29651.

[2018-05-11 04:52] #19166 closed

[2018-05-11 04:52] caesar1995 commented on #21250
Tracked in #29651.

[2018-05-11 04:52] #21250 closed

[2018-05-11 04:52] caesar1995 commented on #27520
Tracked in #29651.

[2018-05-11 04:52] #27520 closed

[2018-05-11 04:53] caesar1995 commented on #18013
Tracked in #29651.

[2018-05-11 04:53] #18013 closed

[2018-05-11 04:54] caesar1995 commented on #14674
The developing work (implementing RFC 6265) is tracked in #29651.

[2018-05-11 04:54] #14674 closed

[2018-05-11 07:03] iSazonov commented on #28944
@mklement0 I haven't  an expirience to contribute in CoreCLR/CoreFX :confused:

I believe it will be two PRs - in CoreCLR repo and in CoreFX repo. After the first one will be merged it will be automatically replicated in Core FX repo. After that the second PR in CoreFX can be continue.

[2018-05-11 07:19] khellang commented on #29648
Is that using the code you posted above?

[code]

It's really weird if `Console.ForegroundColor = ConsoleColor.Red;` would result in `write(1, "\33[39;49m", 8)`.

[2018-05-11 07:30] khellang commented on #29648
Ah, it's probably due to the `ForegroundColor` setter calling `RefreshColors`:

https://github.com/dotnet/corefx/blob/48ce3254e28f2dae2d9a5efe7dd42cfab119d287/src/System.Console/src/System/ConsolePal.Unix.cs#L140-L144

And `RefreshColors` calling `WriteResetColorString`:

https://github.com/dotnet/corefx/blob/48ce3254e28f2dae2d9a5efe7dd42cfab119d287/src/System.Console/src/System/ConsolePal.Unix.cs

[2018-05-11 07:49] abk-x commented on #29648
Hmm! Interesting! Is there anything I can run on my system to confirm this? What does netcore expect to see within terminfo db?

[2018-05-11 07:54] abk-x commented on #29648
Interesting! TERM=xterm dotnet build
gives me colors!

[2018-05-11 07:57] khellang commented on #29648
Since it was able to figure out the reset string, I'm pretty sure it found and read a terminfo database, but it couldn't find format strings for `SetAnsiForeground` and `SetAnsiBackground`.

The logic for locating your terminfo database is as follows, where `term` is the value of your `TERM` environment variable:

https://github.com/dotnet/corefx/blob/48ce3254e28f2dae2d9a5efe7dd42cfab119d287/src/S

[2018-05-11 07:59] abk-x commented on #29648
infocmp gives me:
[code]

It is worth noting that I don't have $TERMINFO set, perhaps this is the cause.

[2018-05-11 08:05] khellang commented on #29648
I doubt it. It should still be able to find `/lib/terminfo/x/xterm-256color` based on the fallback locations listed above.

Now, the question is what's wrong with this terminfo database 🤔

It's worth noting that Debain Buster ships with ncurses 6.1, which has had issues in the past; https://github.com/dotnet/corefx/issues/26966.

I'm not really a Linux person, so I really have no idea what I'm tal

[2018-05-11 08:34] abk-x commented on #29648
Well, you gave a good analysis! I will dig into it an see if I can find a solution

[2018-05-11 08:54] dotnet-mc-bot opened #29652 "Test failure: System.Composition.Lightweight.UnitTests.CustomerReportedMetadataBug/SampleServicesCorrectlyImported"
Opened on behalf of @Sunny-pu

The test `System.Composition.Lightweight.UnitTests.CustomerReportedMetadataBug/SampleServicesCorrectlyImported` has failed.

System.Reflection.MissingMetadataException : This operation cannot be carried out because metadata for the following object was removed for performance reasons:\
    \
      <unavailable>\
    \
    No further information is available. Rebuild

[2018-05-11 09:02] dotnet-mc-bot opened #29653 "[Uri][Desktop] Test failure: System.PrivateUri.Tests.UriRelativeResolutionTest / Uri_Relative_RightToLeft"
Opened on behalf of @Sunny-pu

The test `System.PrivateUri.Tests.UriRelativeResolutionTest/Uri_Relative_RightToLeft` has failed.

Assert.Equal() Failure\r
                                  ↓ (pos 20)\r
    Expected: scheme:كل الى العالم\r
    Actual:   scheme:كل الى العالمكل الى العالم\r
                                  ↑ (pos 20)

        Stack Trace:

           at System.PrivateUri.Tests.UriRe

[2018-05-11 09:03] Sunny-pu commented on #29653
failed tests:
Uri_Relative_SimplePartialPathWithUnknownScheme_Unicode_ReturnsPartialPathWithScheme
Uri_Relative_Unicode_Glitchy
Uri_Unicode_Format_Character_Combinations_Scheme

[2018-05-11 09:28] stephentoub commented on #29598
It's because the new overrides are missing from NetworkStream in the ref assembly.

[2018-05-11 09:36] MohammadHamdyGhanem commented on #27840
@CyrusNajmabadi

I looked at the source code, which is good but doesn't cover Full Regex features. This project has been forked 96 times! Is there any easy and quick way to know which of them is the most popular and recently updated?
https://github.com/VerbalExpressions/CSharpVerbalExpressions/network/members
This is one of the Nuget community problems that makes me prefere to add this as a basic

[2018-05-11 09:52] andriysavin opened #29654 "Build errors when using Span<T> with Xamarin.Android/Mono projects"
System.Memory package claims to support Xamarin.Android as well as `netstandard`. However, all is not that straight. Consider the following scenario:  in a solution there is a Xamarin.Android project, which references a `netstandard2.0` class library project. The class library references System.Memory package, and exposes a type which has `Span<T>` in method signatures. When I'm building such a so

[2018-05-11 10:17] abk-x commented on #29648
`var ad = System.TermInfo.Database.ReadActiveDatabase()` returns the database.

`var e = new System.TerminalFormatStrings(ad);`

The following however, returns -1 https://github.com/dotnet/corefx/blob/48ce3254e28f2dae2d9a5efe7dd42cfab119d287/src/System.Console/src/System/ConsolePal.Unix.cs#L794

Which get normalized to 0, then down here, we see only printing of colors if > 0:

https://github.com/d

[2018-05-11 10:27] khellang commented on #29648
Oh, sorry, yes. On the phone, so just copy-pasted your code 😂

[2018-05-11 10:28] abk-x commented on #29648
[code]

[2018-05-11 10:33] stephentoub commented on #29648
@abk-x, could you attach a copy of your `/lib/terminfo/x/xterm-256color` file?

[2018-05-11 10:36] stephentoub commented on #29598
@weshaggard, @ericstj, can/should we augment that reverse ref tool we run as part of the build to flag places where a public non-sealed class overrides a member and that override is missing from the ref?

[2018-05-11 10:38] abk-x commented on #29648
[xt.zip](https://github.com/dotnet/corefx/files/1994966/xt.zip)

[2018-05-11 10:44] abk-x commented on #29648
fwiw there seems to be a tool named tic which will take the output of infocmp (posted before) and output the compiled terminfo db. I have just gone thru `find /lib/terminfo/ | grep color` and it looks like anything with `256` in the name (e.g. screen-256color) causes the same issue

[2018-05-11 11:03] stephentoub commented on #29648
Thanks for sharing the file, @abk-x.  I see the problem.  The fix in https://github.com/dotnet/corefx/pull/28786 was unfortunately incomplete.  I'll post a fix. cc: @joperezr

[2018-05-11 11:37] atheken commented on #19610
@davidsh The issue is in the order that the Encoded Word content gets decoded; If the mail reader combines the base64 content before converting it to UTF-8, then it'll appear correctly, then I think that is a broken implementation, or at a minimum, fairly brittle and misses some common edge cases. Each "encoded word" should be decoded separately. (It's entirely reasonable to mix non-encoded word a

[2018-05-11 11:56] stephentoub opened #29656 "{Unmanaged}MemoryStream span/memory overrides use wrong argument name"
The refs still use the `source`/`destination` name rather than `buffer`.  These were missing in the renaming sweep.

At this point I'm assuming it doesn't meet the bar for 2.1, in which case changing this would be a compat break, so either we should fix this for 2.1 or close this and live with the naming difference in the overrides.

[2018-05-11 13:15] bbarry commented on #26228
Noticed `MemoryMarshal.CreateSpan<T>(ref T reference, int length)` that appears to do what I want. With that api I think this is good to close.

[2018-05-11 13:15] #26228 closed

[2018-05-11 13:39] rudiv commented on #22324
With the push for GDPR updates on ASP.NET Core (yes I realise that's not .NET Core), it's sad that this hasn't made the cut for inclusion.

I'd say that it's almost critical in this current climate for data breaches and such, ensuring data integrity at rest and seamlessly for developers is quite key. Unless I'm mistaken there isn't particularly a suitable workaround at this time either, unless we

[2018-05-11 14:43] HowardEdidin opened #29659 "A fatal error occurred, the required library hostfxr.dll could not be found at C:\Program Files\dotnet\"
D:\>dotnet new -i Microsoft.Azure.IoT.Edge.Function
A fatal error occurred, the required library hostfxr.dll could not be found at C:\Program Files\dotnet\

D:\>dotnet new aziotedgefunction -n FilterFunction -r <your container registry address>/filterfunction
The system cannot find the file specified.

D:\>dotnet new aziotedgefunction -n FilterFunction -r hl7fhir.azurecr.io/filterfunction
A fatal

[2018-05-11 14:44] danmosemsft commented on #29654
@weshaggard?

[2018-05-11 14:45] cocowalla opened #29660 "HMAC-based Extract-and-Expand Key Derivation Function (HKDF)"
At present, `System.Security.Cryptography` has implementations of password-based key derivation functions (KDFs), specifically [PBKDF1 and PBKDF2](https://tools.ietf.org/html/rfc2898#page-9).

There is a need to also support _non_-password based KDFs that derive keys from other secrets or cryptographic key material _without_ the intentional slowing of computation that is so desirable in password-b

[2018-05-11 14:45] danmosemsft commented on #29653
@rmkerr

[2018-05-11 14:59] fedeantuna commented on #26966
for those wanting to use F5 on Visual Studio Code and not being able to, as a workaround I solved it adding "TERM=xterm" in the "args" section of the task.json:
"tasks": [
        {
            "label": "build",
            "command": "dotnet",
            "type": "process",
            "args": [
                "TERM=xterm",
                "build",
                "${workspaceFolder}/src/Georgic

[2018-05-11 15:02] #19535 closed

[2018-05-11 15:02] #24703 closed

[2018-05-11 15:02] #26236 closed

[2018-05-11 15:03] #26237 closed

[2018-05-11 15:03] #28010 closed

[2018-05-11 15:10] stephentoub opened #29661 "Code coverage: AVs in various test projects in code coverage runs"
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/
cc: @danmosemsft

[2018-05-11 15:11] bartonjs commented on #29660
@cocowalla Before adding support for a new algorithm there's an internal review process we have to go through, so no PR just yet :).

As for the API, it would probably be Span-based.

[code]

That's assuming that it even makes sense to have instances of HKDF.  Maybe it should be static methods and move the HashAlgorithmName into a parameter.

(I also got rid of salt and info having a default of nu

[2018-05-11 15:19] David-Engel commented on #29391
Batch update was not promised for 2.1. The feature/customer request which brought this code over was satisfied and the customer who requested it is happy with the functionality (they are not using batch update) so this issue does not need to delay 2.1.

[2018-05-11 15:38] jdk339 commented on #28652
I still seem be getting the same error

[code]

Here is my `.csproj` file:

[code]

This error only appeared after updating to macOS High Sierra 10.13.4.

_I knew I shouldn't have updated!_

[2018-05-11 15:39] cocowalla commented on #29660
If you want a strict implementation of the RFC, `salt` and `info` should be optional - but I don't feel too strongly about that; I'd personally always use them both, and if someone *really* wants they can just supply an empty byte arrays (or Spans!).

Not sure about `DeriveKey` though. OK, so it's a **Key** Derivation Function, but it's common to derive things like initialisation vectors too. My t

[2018-05-11 15:45] karelz commented on #29659
This issue was moved to dotnet/core-setup#4143

[2018-05-11 15:45] #29659 closed

[2018-05-11 15:45] kasper3 commented on #28652
@jdk339, you would need to update dotnet installation: https://www.microsoft.com/net/learn/get-started/macos

[2018-05-11 15:48] karelz commented on #29654
cc @marek-safar

[2018-05-11 15:57] karelz commented on #29650
This issue was moved to dotnet/core-setup#4144

[2018-05-11 15:57] #29650 closed

[2018-05-11 16:00] rmkerr commented on #29653
It looks like a few machines are running older versions of .NET framework and don't have the fixes needed for these tests. I just enabled these earlier this week, so I'll go ahead and disable them again.

[2018-05-11 16:06] weshaggard commented on #29598
This has always been a sticky issue that we have mostly brushed over because we haven't found real issues caused by it. Now we have found one. I think your suggestion is can help but it will only catch the assemblies we can run the reverse API check on which are the ones that are 1:1 with there implementation. At any rate it is worth filing an issue for (or if you are up for it submitting a PR :))

[2018-05-11 16:28] stephentoub commented on #29555
@joshfree, @ianhays, anything that needs to be done here for 2.1?

[2018-05-11 16:30] AtsushiKan commented on #4491
Not that I've heard of but EnC is not an area where I have any knowledge.

[2018-05-11 16:33] aaron-meyers commented on #1973
Good point, the comparer could be considered an implementation detail that doesn't belong on a general interface.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Cory Nelson <notifications@github.com>
Sent: Thursday, May 10, 2018 5:04:06 PM
To: dotnet/corefx
Cc: Aaron Meyers; Mention
Subject: Re: [dotnet/corefx] Please add interface IReadOnlySet and make HashSet,

[2018-05-11 16:33] mihailik commented on #29544
@stephentoub for the history of this property, and why it is implemented this way — please reach out to Brad Abrams or @KrzysztofCwalina

@sdmaclea with all the strategic approach @stephentoub  gave, there is no merit in this feature. Please refer to this paragraph:

<blockquote>
And if they really did, I'd want to see them use the simple overloads, that don't take MemoryOrder. If they specified a

[2018-05-11 16:37] stakx commented on #4491
@AtsushiKan - Thanks for the quick reply. :+1: I almost expected this to be a really arcane area, but I thought I'd give it a try and ask. I'll see what I can gather together on my own.

[2018-05-11 16:38] CyrusNajmabadi commented on #27840
That's a good thing :)  Roslyn has been forked over 2000 times! :)

What full regex features are missing?  Why not ask that project to add them, or just add them yourself?

[2018-05-11 16:43] davidsh commented on #29653
Instead of disabling the tests, just use the PlatformDetection stuff.  There is already a define for ".NET 4.7.2".  So, you can keep the test running but skip it on older .NET Framework versions.

[2018-05-11 16:47] bartonjs commented on #29660
Yep, the test vectors don't talk about a "missing" salt, they talk about an "empty" salt.  So ReadOnlySpan<byte>.Empty.

I guess it doesn't matter much.  If the type is IDisposable then it can open the hasher in the ctor and close it in Dispose, which would be better than opening it twice.

When `destination` is too short.  The main scenario is when you already have a big buffer, and you're wantin

[2018-05-11 16:54] AfsanehR commented on #29181
Hi @jakrivan I tried with maximum rows of '73840823' but I don't see it hanging. Could you try different max sizes and can you share with us at which points you see the delays happening? It could be the server is overloaded and is not signalling to the client application to release its resources so its getting timeouts.  Thanks.

[2018-05-11 16:54] sawachika-kenji commented on #29598
So is there any way I can now call NetworkStream.ReadAsync(Memory<byte> buffer, CancellationToken cancellationToken)?

[2018-05-11 16:55] stephentoub commented on #29598
Yes, just not from a derived type.

[2018-05-11 17:01] rmkerr commented on #29653
Thanks -- that's a much better solution. On it now.

[2018-05-11 17:01] safern commented on #29472
Hello @Sebbs128 thanks for reporting the issue. I was able to repro the issue when running on .netcoreapp2.0 but we fixed this in .netcoreapp2.1 -- if you move to use the latest SDK and set the `TargetFramework` in you project to netcoreapp2.1 you will not hit this issue anymore.

Just FYI this issue is caused by the same reason as: https://github.com/dotnet/corefx/issues/29269 and we decided not

[2018-05-11 17:01] #29472 closed

[2018-05-11 17:02] ianhays commented on #29555
[Google's C brotli implementation uses 11 as the default quality](https://github.com/google/brotli/blob/631fe194a196f2c8e35510c72fe6a61548cd41c9/c/include/brotli/encode.h#L60). Our C# brotli code is built on top of Google's C code, so the default compression level is the same.

11 is also the point at which you receive heavy diminishing returns from attempting to further increase the compression l

[2018-05-11 17:02] #29555 closed

[2018-05-11 17:17] JeremyKuhne commented on #29342
@pjanotti, @stephentoub

The problem here is that we have the HResults hardcoded for FileNotFoundException and a few other places without flipping on platform. Presuming we should be consistent and return the platform specific error code as we do for general IO exceptions. We wouldn't be able to map all Unix error codes to Windows codes reliably so I don't think trying to do so would be wise.

We

[2018-05-11 17:18] joperezr commented on #29523
Closing since this is by design. @jasallen feel free to reopen if you feel necessary.

[2018-05-11 17:18] #29523 closed

[2018-05-11 17:26] sdmaclea commented on #29544
There is a decade of experience that says this is critical to performance.  That is why it was incorporated into the C++11 standard.

This is a low level feature being added to allow platform/framework developers to carefully optimize  functionality.  It will be useful for many .NET Core internals including the ThreadPool, Concurrent Queues, Locking.  It is also anticipated it will be required by

[2018-05-11 17:31] MohammadHamdyGhanem commented on #27840
@CyrusNajmabadi
I already sent an issue yesterday, and waiting for reply. For example, there are no LookAhead, LookArround, Atomic, nor regex conditions. Many important const Literals are not defined.
Using this class as it is will need to add some regexes manually.

[2018-05-11 17:33] stephentoub commented on #29648
Re-opening to track a fix for the release/2.1 branch...

[2018-05-11 17:35] sdmaclea commented on #29544
@mihailik

This is not a productive exchange.  I believe our opinions are all perfectly clear.

This  is a critical feature that is needed by framework experts.

Weakly ordered systems, largely represented by ARM, are a very significant part of the worldwide market.  They are not going away.  C# needs to be competitive in those markets too.

BCL API review board can certainly see and take into acc

[2018-05-11 17:37] teo-tsirpanis commented on #12746
@colgreen, now with .NET Core 3.0 under way, we can make some changes to how the `Random` class works, while keeping it close enough to the original.

I can work on changing the algorithm to PCG, but after June 15 (I have some high school finals coming and should focus my attention over there 😰).

[2018-05-11 17:39] karelz commented on #29479
@tdinucci I just sent you collaborator invite. Once you accept, we can assign it to you - it's GH limitation (just ping me and I will do that, assigning to myself temporarily).
Pro-tip: Becoming collaborator will automatically subscribe you to all notifications on the repo (500+ daily). We recommend to flip it to "Not Watching" which will send you notifications only on issues where you are mention

[2018-05-11 17:40] scalablecory commented on #1973
There may be some value in adding a `IUnorderedSet` and `IOrderedSet` interfaces, but I wouldn't want that to derail pushing `IReadOnlySet` through.

[2018-05-11 17:41] ianhays commented on #29555
[FWIW, I agree with you about the need for a middle-ground CompressionLevel that represents the best balance between speed and compression ratio.](https://github.com/dotnet/corefx/issues/4475#issuecomment-156226465) There were enough compat concerns about adding a new enum that we decided against it.

However, that did result in us flip-flopping between [making `Optimal` for DeflateStream map to 9

[2018-05-11 17:43] stephentoub commented on #29544
@sdmaclea, I do have one JIT-related question: presumably there's no problem here in having the MemoryOrder parameters on the overloads and still having them be recognized as JIT intrinsics, right?  Certainly there would be some additional overhead if the MemoryOrder arguments were supplied in a way where the JIT couldn't see their values statically, in which case the implementation would need to

[2018-05-11 17:43] pjanotti commented on #29342
I am not so sure: HResult was a bad name choice, perhaps it should have been just Error (or something similar) but I think there is code around relying on its value to do the correct thing. While there is no way to reliably map all codes, we should consider mapping at least the typical exceptions (starting w/ the 3 listed above), otherwise becomes very hard to abstract the OS away (this is already

[2018-05-11 17:47] omariom commented on #29544
@mihailik

It is already very easy to write such code and not realize that both accesses can be reordered.
[code]
I mean it is too late to save us from intricacies of memory access ordering.

[2018-05-11 17:58] karelz commented on #4491
@stakx EnC MetaData format was never thoroughly documented (neither publicly nor internally). It was always defined just in the implementation.

[2018-05-11 18:02] David-Engel commented on #29564
@LandonCampbell SQL Server 2008 is supported with SP4. SQL Server 2008 R2 is supported with SP3.
https://support.microsoft.com/en-us/lifecycle?C2=1044
Both should work with .NET Core 2.0.

As for the occasional errors you are receiving when connecting to your 2008 SP4 instance, can you include the full stack trace? That will provide more information about when the error is occurring during the con

[2018-05-11 18:02] karelz commented on #29563
Seems like unfortunate corner-case side-effect of moving to consistent implementation between OSs (SocketsHttpHandler). It is not blocking 2.1.

[2018-05-11 18:10] LandonCampbell commented on #29564
@David-Engel Here's the full error I get from 2008 SP4. It's intermittent:

{
"errorType": "SqlException",
"errorMessage": "A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: SSL Provider, error: 31 - Encryption(ssl/tls) handshake failed)",
"stackTrace": [
"at System.Data.SqlClient.SqlInternalConnectionTds..ctor(DbConnec

[2018-05-11 18:13] bartonjs commented on #29637
@ianhays CI is still grumpy, I thought this got taken care of?

[2018-05-11 18:17] tmat commented on #4491
@stakx Curious, what do you need it for?

[2018-05-11 18:18] kouvel commented on #29595
Should be fixed in master first then maybe ported back to 2.1

[2018-05-11 18:29] jkotas commented on #29342
FWIW, fairly well debugged mapping between Unix error codes and Windows error codes (that are 1:1 with HResults) is in https://github.com/dotnet/coreclr/blob/6954cb2f716c4d46b8bcc2bb0501bede7cad2bc0/src/pal/src/file/file.cpp#L3330

[2018-05-11 18:30] CyrusNajmabadi commented on #27840
Feel free to fork and add as necessary.  It's quite possible what you are asking for could also be provided through extensions.  This is a core point of open source.  :)

[2018-05-11 18:30] tdinucci commented on #29479
:+1:

@karelz, thanks for the tip.  I've accepted invite now

[2018-05-11 18:30] jkotas commented on #29342
@marek-safar How does Mono implement `Exception.HResult` for I/O related exceptions?

[2018-05-11 18:39] kouvel commented on #29649
Would SequentiallyConsistent imply equivalent code to Interlocked? If so I'd rather omit it (and add Interlocked.Read/Write if that would be useful for other purposes).

It would be nice to order the enum members either from weakest to strongest or vice versa.

Other thoughts of mine from the other thread (alternative):
- Could consider providing compiler-only acquire, release, and acquire/release

[2018-05-11 18:41] tdinucci commented on #29479
@karelz, forgot to confirm.  My understanding is that I should be working on coreclr for this.  After I submit PR on coreclr I should wait a couple of days and then submit PR for unit tests on corefx.  Is this correct?

[2018-05-11 18:44] stakx commented on #4491
@karelz - I almost suspected so... Thanks for this info! 👍

@tmat - I have spent a lot of time with System.Reflection in the past few months, and noticed its various limitations or bugs. There are sometimes situations where you'd rather just see plain, uninterpreted metadata instead of the semi-high-level view that Reflection provides (which is neither original metadata, nor as high-level as e.g.

[2018-05-11 18:57] halter73 opened #29664 "TaskContinuationOptions.RunContinuationsAsync runs continuations inline"
I'm not sure if this is expected/known behavior, but I've found that it's fairly common for TCSs constructed with the `TaskContinuationOptions.RunContinuationsAsynchronously` option run their continuation inline anyway.

Here's a simple app that repros the issue:

[code]

Expected output:
[code]
Actual output:
[code]

This can be reproduced with RC1. @stephentoub

[2018-05-11 18:57] jkotas commented on #4491
Have you seen https://github.com/dotnet/coreclr/blob/85374ceaed177f71472cc4c23c69daf7402e5048/src/System.Private.CoreLib/src/System/Reflection/Metadata/AssemblyExtensions.cs#L25 ?

[2018-05-11 19:03] stakx commented on #4491
@jkotas - Yes, I have, and that's a really nice extension point! But it comes with some limitations: Given taht it's a `Try...` method, it may very well fail, e.g. for dynamically generated assemblies (`AssemblyBuilder`), something that today's Reflection can deal with just fine. So perhaps Reflection couldn't be built on top of that reliably.

[2018-05-11 19:10] EvgenyKhaliper commented on #29597
@stephentoub

Thanks for the reply,

- I was using a stable AWS instance with the API i'm building.
- Exactly same results with  "sdk": { "version": "2.1.300-rc1-008673" }
- Whole point is that it ( HttpClient ) did not perform well under pressure in our product, this is where all the 'check HttpClient performance' has started. So do you think I should test in sync ?
-  HTTP
- Did not see any diff

[2018-05-11 19:13] colgreen commented on #12746
@teo-tsirpanis. ok cool. Please see comments on #23298. I've already done some work on a replacement using xoshiro256**, and there appears to be some dispute/debate about the relative merits of xoshiro256** and the PCG family of generators.

[2018-05-11 19:13] sdmaclea commented on #29544
I haven't really figure it out yet, but I think that would be the intent.  I think it should be doable.

[2018-05-11 19:25] weshaggard commented on #14291
We have reference assemblies for these and we now have reverse apicompat checks to make sure they stay in-sync.

[2018-05-11 19:25] #14291 closed

[2018-05-11 19:26] weshaggard commented on #14584
Closing as these have either been cleaned up already or will be when we move to SDK style projects.

[2018-05-11 19:26] #14584 closed

[2018-05-11 19:26] weshaggard commented on #14696
Closing old issue

[2018-05-11 19:26] #14696 closed

[2018-05-11 19:39] natemcmaster commented on #25855
I ran into a need for this, too. If choosing between this and https://github.com/dotnet/corefx/issues/26234, I would prefer #26234.

Either way, I think this is a good API. It appears there is a real need for working with process trees. Process tree killing has been implemented in several places already -- in MSBuild, ASP.NET Core, and the CLI. Would be nice to have one, common version of it in co

[2018-05-11 19:56] danmosemsft commented on #25855
@joperezr perhaps you could guide this and/or https://github.com/dotnet/corefx/issues/26234 to api-ready-for-review if appropriate?

[2018-05-11 19:56] danmosemsft commented on #26234
Implementation note for Windows: https://github.com/dotnet/corefx/issues/25855#issuecomment-351116254

[2018-05-11 20:00] sdmaclea commented on #29544
Getting definitive absolute perf impact numbers is difficult.  There are several complicating factors
+ Depends on microarchitectural implementation.  A53, A57, A72, A73, A9, Falkor, Thunder X2 will all perform very differently.
+ Nature of the running code.  Memory bandwidth, ratio of order and unordered memory, frequency of barriers, number of threads

We are collarorating with ARM to create pub

[2018-05-11 20:04] cocowalla commented on #25669
I'm on VS 2017 15.7.1 and having this same problem with the latest .NET Core 2.1 RC. Strange thing is, if I set `LangVersion` to `7.2`, it goes away - if it's `latest` or `7.3`, the error comes back.

[2018-05-11 20:08] ahsonkhan commented on #25669
Can you please share the source project for the repro and I will take a look. Also, can you share the output of `donet.exe --info` please. Thanks.

[2018-05-11 20:25] sdmaclea commented on #29649
API wise Interlocked.Read() seemed functionally incomplete since it only supported 64-bit types.

We could certainly add all the relaxed volatile cases here as members of the Interlocked class.  Especially if we keep the separate enums.  Then there is logically one place to look.

[2018-05-11 20:26] sdmaclea commented on #29649
I was trying to follow the convention @mikedn suggested where the first item suggested the default.

If we move these to the Interlocked class, we can match the Interlocked class order.

[2018-05-11 20:28] weshaggard commented on #29654
Yes I do believe it is the same thing and needs to be fixed on the Xamarin side of things.

[2018-05-11 20:29] stephentoub commented on #29664
Well that's kind of terrible.  Looking...

[2018-05-11 20:31] joperezr commented on #29654
Yup same thing as @weshaggard suggests.

[2018-05-11 20:36] joperezr commented on #29499
We need a formal APIProposal along with some use cases explaining why we want this on StringBuilder and don't just use string instead. We want to be very careful and not try to make StringBuilder have the same functionality as String since they are meant to serve two different purposes.

[2018-05-11 20:39] adiaaida commented on #29495
We're seeing this in the dotnet/optimization repo, where we collect PGO data for coreclr, as well. We build coreclr twice, once with pgo instrumentation and once without as a workaround for an llvm limitation, and on the second build, we see the same issue as in dotnet/coreclr#17950.

[2018-05-11 20:40] andriysavin commented on #29654
Thanks for explaining! Maybe someone can point me where at Xamarin (Mono?) should this issue be filed then?

[2018-05-11 20:44] sdmaclea commented on #29649
Only for non-atomic reads/writes.  >32 bits on 32 bit platforms, >64 on 64 bit platforms, unaligned data??

I think it allows the minimum requirements to be expressed, and leaves it to the runtime/CPU to optimize.  This seems correct for the API

I can't think of a typical use case where I would want to allow reading or writing torn data.

[2018-05-11 20:45] stephentoub commented on #29664
Ah.  Thankfully, it's a bug in your test :)

TaskCompletionSource doesn't have a ctor that takes a TaskContinuationOptions... it has a ctor that takes a TaskCreationOptions.  And since it also has a ctor that takes an object state, rather than giving you a compiler error, it's dutifully boxing the TaskContinuationOptions and passing that in as the object state.

[2018-05-11 20:48] sdmaclea commented on #29649
Are you referring to the alternate proposal?
[code]

[2018-05-11 20:49] danmosemsft commented on #29664
Maybe we should extend the remit of https://github.com/dotnet/platform-compat to find common API-related mistakes like this...

[2018-05-11 20:50] #29664 closed

[2018-05-11 20:54] stephentoub commented on #29664
Sounds reasonable, though I'm not sure how common this particular one is... first time I've seen it.

[2018-05-11 20:57] sdmaclea commented on #29649
I think I skipped answering your specific question above.  I do not know how Interlocked.Read() is implemented on 64 bit platforms, but I would assume it maps to an read with barriers/fences, but it may not.  On x86/ARM32 the code would certainly be almost identical for the 64 bit case.

API wise, I think the interface needs to be complete wherever it is implemented.

Leaving it in Volatile seems

[2018-05-11 21:01] sdmaclea commented on #29495
When I looked briefly at the issue, it seemed the problem was that it was signing in place.  That is signing was not creating a signed file in a different place.  This seems like it breaks normal build workflow.

[2018-05-11 21:15] JeremyKuhne commented on #29479
@tdinucci Create both PRs to show that you have tested. If you haven't seen them already, instructions for consuming your own CoreCLR are here: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md#testing-with-private-coreclr-bits

You can mark the test PR as no merge pending integration of the dependent change in CoreCLR.

[2018-05-11 21:39] #29645 closed

[2018-05-11 21:41] halter73 commented on #29664
Whew! There is [one place](https://github.com/aspnet/SignalR/pull/2261) where TaskContinuationOptions was used incorrectly in SignalR. The only other incorrect usages in the github aspnet repos that I can find are in the new Kestrel tests I added yesterday.

[2018-05-11 21:42] marek-safar commented on #29654
What Xamarin version are you using? Unless it's very recent preview version it won't work. This is a preview version of the nuget which requires preview version of future Xamarin release.

[2018-05-11 21:43] halter73 commented on #29664
I found one more incorrect usage in corefx test: https://github.com/dotnet/corefx/blob/e30a7494292f3e6e66c0d152ad3240fa1f6dc766/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs#L2166

[2018-05-11 21:44] kouvel commented on #29649
Hmm I thought that there would be a difference between Interlocked.Write(Relaxed) and Volatile.Write(Relaxed), maybe that's not true. I'll look at it a bit closer and get back to you on the other items as well.

[2018-05-11 21:50] sdmaclea commented on #29649
I had conceptually mapped both to C++11 atomic_load_explicit & atomic_store_explicit

[2018-05-11 21:53] jimcarley opened #29668 "Make AsyncTransactionScopeTests more "Task" friendly with await"
The AsyncTransactionScopeTests test is having deadlocking problems, possibly due to exhaustion of thread pool resources.

[2018-05-11 21:56] jimcarley commented on #29668
#29665 has a better explanation and a description of possible fixes:

The fix is either:

Disable xunit's SynchronizationContext and parallel execution of tests, as I've done here. More of a workaround than a fix.
Ensure that nothing posts back to the SynchronizationContext.Current. That means either making sure that SynchronizationContext.Current is null, e.g. by wrapping the body of each test in

[2018-05-11 22:02] marek-safar commented on #29645
@danmosemsft @karelz @stephentoub great collaboration, I really appreciate your prompt resolution of issues like this one!

[2018-05-11 22:41] mconnew commented on #27745
Just to put some context on this, we believe this is a blocker for some scenarios running WCF services in a container. When running a service in a container, even if the host is domain joined, the container image isn't fully domain joined (things gets very murky as there's no corresponding machine account in the domain). This normally means you can't do Windows authentication to an HTTP service/we

[2018-05-11 23:06] jianyunt opened #29669 "Control characters are being echo'ed back as user inputs"
Background
------------
In PowerShell Core (pwsh) on `Linux` or Azure Cloudshell (bash-Linux), when doing demos, we are consistently getting `OC`, `OD` characters magically inserted as a part of user inputs while pressing LeftArrow or RightArrow keys.  The situation occurs even more often when the PowerShell cmdlets display verbose messages or output messages, or running background jobs.

Sample
-

[2018-05-11 23:29] #29653 closed

[2018-05-11 23:39] danmosemsft commented on #29645
@marek-safar keep sending us them!

[2018-05-11 23:49] karelz commented on #27745
OK, that makes it more needed.

The code for reference where we set SPN today:
https://github.com/dotnet/corefx/blob/158ed4d059a875e6828c176ce7ecc4a221b331e3/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs#L61

SPN is tied to authentication. Adding it per request (likely into `HttpRequestMessage`) feels weird.
Maybe we should follow `SocketsHttpHandler.Cre

[2018-05-12 00:08] davidsh commented on #27745
In .NET Framework, we have an API that allows a dev to map custom SPN's to URI:

See example: https://stackoverflow.com/questions/39740676/forcing-specific-spn-for-url-in-net

Existing API: https://docs.microsoft.com/en-us/dotnet/api/system.net.authenticationmanager.customtargetnamedictionary?view=netframework-4.7.2

Maybe we should just implement this class on .NET Core and have the HTTP handlers

[2018-05-12 00:31] danmosemsft commented on #29495
@sdmaclea you are right. The OpenSourceSign task modifies the file in place. It also has a test when it runs that the file has not been already signed. Its execution is gated by comparing the assembly timestamp against a fake file with the extension ".oss_signed" which is written after the task executes.

Modifying a file in place is not good practice for builds because it is hard to fail atomical

[2018-05-12 01:04] MohammadHamdyGhanem commented on #29499
@joperezr
Suppose you have a 10MB file containing some patterns that you need to replace, some of them has the \n symbol, so they can match strings spitted on more than one line. In this case you can't read each line in a String and then use the Regex to match and replace the patterns. Instead, you need to read the whole text into a String and apply the Regex.Replace on it several times. Since Str

[2018-05-12 01:47] ahsonkhan commented on #29032
I have verified that we no longer see any error using the latest RTM dotnet cli/sdk: [2.1.300-rtm-008833](https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1#built-repositories), with Microsoft.NETCore.App version 2.1.0-rtm-26510-03 (regardless what library package version you are referencing: 4.5.0-preview2-26406-04 or 4.5.0-rc1).

**This issue is no longer bl

[2018-05-12 02:01] jorive commented on #29277
@ahsonkhan we are currently working on decoupling benchmarks from their repos and how they are build/run, so they can be run against .NET Core and .NET Framework :)

[2018-05-12 02:37] JimBobSquarePants commented on #25669
@ahsonkhan I'm ok now, apologies for not getting back to you. Turned out it was a Resharper bug.

[2018-05-12 03:51] danmosemsft commented on #29499
@viktorhofer

[2018-05-12 04:33] jkotas commented on #4611
This is ASP.NET specific. ASP.NET Core localization is described in https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-2.1 . It is best to open issues about that in https://github.com/aspnet/Home/issues

[2018-05-12 04:33] #4611 closed

[2018-05-12 04:34] jkotas commented on #19210
This is tracked by https://github.com/dotnet/coreclr/issues/17901 now.

[2018-05-12 04:34] #19210 closed

[2018-05-12 05:46] atykhyy commented on #29365
I don't mind not being able to save dynamic assemblies so much - I can always test the logic in a .NET Framework TFM - but `DynamicMethod` is incredibly useful and very widely used to generate reflection thunks, converter delegates etc. System.Reflection.Emit.* packages have upwards of 20,000,000 downloads.

[2018-05-12 06:44] cocowalla commented on #25669
@ahsonkhan I'm using c#, not VB. I can reproduce by creating a new project from template in VS - code exactly as you specified reproduces it.

@JimBobSquarePants I'm also using R#, but I'm already on the latest version - we're you able to fix this issue?

[2018-05-12 06:47] cocowalla commented on #29660
@bartonjs, OK, your API suggestion makes more sense in the context of Spans - thanks for taking the time to elucidate.

I work with byte arrays a lot, so I can see that Span is going to be *really* useful for reducing allocations.

[2018-05-12 07:39] gfoidl commented on #29499
To me this sound like a misuse for StringBuilder. As it's name implies it is for __building__ strings, not for manipulation or loading from file.

For the given example one could read the file to a regular string. Seek per regex for the matches that should be replaced in that string, then perform the replace in a second step and build with a StringBuilder the result. So there are no unnecessary al

[2018-05-12 07:52] JimBobSquarePants commented on #25669
@cocowalla I'm fine now with Resharper 2018.1, using the System.Memory 4.5.0 RC1 though if that makes a difference.

[2018-05-12 09:36] MohammadHamdyGhanem commented on #29499
@gfoidl
There is no shame in making stringbuilder powerful. Letting most of its functions to be done by the string is not designed intentionally but resulted from the fact that SB has inefficient indexing and itteration performance bracuse it is implemented as a linked list. Vancem implemented a solution so adding more prohibited methods became possible.

[2018-05-12 11:12] MohammadHamdyGhanem commented on #29499
@gfoidl
I looked at the source code of Regex.Replace. It uses a list<string> and a stringBuilder. This means that if I had a text in a SB, I need to covert it to a string to call the Regex.Replace which will use a string builder to do a replacement and then convert it to a string!
Why don't write a version of Regex.Replace that accepts a SB directly?
Besides, a Regex.Replcae overload that accepts

[2018-05-12 12:44] marcin-jedynski commented on #29147
As a temporary workaround I managed to get it running by switching the runtime stage image from `microsoft/dotnet:2.1-aspnetcore-runtime-alpine` to one of my creation.

Dockerhub:
https://hub.docker.com/r/mjedynski/aspnetcore-paxmarked/
Source code:
https://github.com/marcin-jedynski/aspnetcore-paxmarked

It's built on top of regular `microsoft/dotnet:2.1-aspnetcore-runtime` and contains of modifi

[2018-05-12 13:40] ViktorHofer commented on #29499
I have a private PR open that entirely removes the StringBuilder use in Regex.Replace and operates on Span<char>.
I prefer adding a Span<char> overload instead of a StringBuilder one to get the most efficiency and the least heap allocation.

[2018-05-12 15:14] bording opened #29674 "runtimeGroups.props is missing some new .NET Core 2.1 RIDs"
While reading the [.NET Core 2.1 RC1 announcement](https://blogs.msdn.microsoft.com/dotnet/2018/05/07/announcing-net-core-2-1-rc-1/), I noticed that new linux distros and architectures are mentioned being supported in .NET Core 2.1.

However, when I checked the current [runtimeGroups.props](https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtimeGroups.props) file, I no

[2018-05-12 15:54] bartekkois commented on #27561
I`ve already done something similar to this before adding this as an issue as I thought it was a problem with my code or with the SOAP response format. I`ve tried to modify both SOAP response (by adding wrapping element) and proxy classes (according to https://blogs.msdn.microsoft.com/youssefm/2009/06/12/customizing-the-xml-for-collections-with-xmlserializer-and-datacontractserializer/) but none o

[2018-05-12 17:40] karelz commented on #29674
I believe Alpine is supported via musl entries. @weshaggard will know for sure.

[2018-05-12 17:41] karelz commented on #29674
cc @janvorli @eerhardt

[2018-05-12 17:43] karelz commented on #29669
Does it happen also on .NET Core 2.1? (RC was on Monday)

[2018-05-12 17:47] karelz commented on #29669
It seems related to #25916 (dupe of #28694)

[2018-05-12 17:49] karelz commented on #29622
Thanks @svick for finding the dupe. Closing - see workaround in the link issue.
If it is different issue, we can reopen and investigate.

[2018-05-12 17:49] #29622 closed

[2018-05-12 18:38] cocowalla commented on #25669
@ahsonkhan I've confirmed this is an issue with ReSharper, as suspending it removes the error message - I'll open a ticket with JetBrains instead!

[2018-05-12 19:38] Jlalond commented on #15554
@stephentoub Question for you. Trying to Test AppSettingsReader and some other of the bigger classes that read from the config xml's. I'm struggling to figure out how to create a test app config. I created an app config in the test assembly, but A. it doesn't read from it's appsettings, and B that doesn't feel like a good way to 'mock' a test app config at all. Any Idea's?

[2018-05-12 19:59] bording commented on #29674
@karelz As I've pointed out [before](https://github.com/dotnet/corefx/issues/23699), while the generic RIDs work for .NET Core itself, the RID graph is also used by NuGet to resolve package assets. When a package needs to ship distro-specific native assets, falling back to the generic RIDs makes that impossible.

I've already had one PR that's added missing RIDs for 2.1 (https://github.com/dotnet/

[2018-05-12 21:11] Genbox commented on #29555
It is not acceptable to choose the highest level as the default for a library like .NET Core. You say the use case is server-side compression, browser-based decompression and preference for smallest files, however, they are irrelevant this is just a technology and will be used for whatever by users.

From the announcement here: https://blogs.msdn.microsoft.com/dotnet/2018/05/07/announcing-net-core

[2018-05-12 21:44] davidsh commented on #28772
The test is failing here:
https://github.com/dotnet/corefx/blob/344c31c7ba9bc171bbab31167acdd279e9f6027c/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs#L777

The request seems to have been canceled.  This is all using the loopback server. It's likely that some delay is happening starting these async tasks and HttpClient cancelled the request after the default 100 seconds.

[2018-05-12 21:45] davidsh commented on #28772
We haven't seen this failure lately.  So, I'm closing this issue.

[2018-05-12 21:45] #28772 closed

[2018-05-12 21:58] danmosemsft commented on #15554
@JeremyKuhne

[2018-05-12 21:58] davidsh commented on #27000
.NET Core 2.1 RC1 has been released.  It is suitable for use in production environments.  The default HTTP stack is no longer based on Curl (for Linux). It will use the new managed implementation (SocketsHttpHandler).

See:
https://blogs.msdn.microsoft.com/dotnet/2018/05/07/announcing-net-core-2-1-rc-1/

If you use .NET Core 2.1, then your problem with client certificates should be solved. Closing

[2018-05-12 21:58] #27000 closed

[2018-05-12 22:31] kasper3 commented on #29674
Doesn't seem like a blocker for 2.1?
Alpine Linux 3.8 is not a released product, it is late (3.8 hasn't even been branched yet). 3.7 is still the latest release.

[2018-05-12 23:25] davidsh commented on #6729
In the current .NET Core 2.0/2.1 and .NET Framework (4.7+), the default TLS protocol is no longer a fixed set of versions (i.e. it is no longer "Tls10 | Tls11 | Tls12"). Instead, the default is now [SystemDefault](https://docs.microsoft.com/en-us/dotnet/api/system.net.securityprotocoltype?view=netcore-2.0#System_Net_SecurityProtocolType_SystemDefault) which will always use the best set of TLS prot

[2018-05-12 23:25] #6729 closed

[2018-05-12 23:37] davidsh commented on #26269
In terms of a possible code change we might do is for HttpResponseMessage.Content.Headers.Contains() or HttpRequestMessage.Content.Headers.Contains() to return FALSE instead of throwing the InvalidOperationException.  It would still throw the exception is one tried to add entity-body related headers to these collections.

See discussion/duplicate issue here: #18133

[2018-05-12 23:39] davidsh commented on #18133
See discussion on #26269 about why there is a separate collection for Content headers (for either HttpRequestMessage.Content or HttpResponseMessage.Content) that is separate from HttpRequestMessage.Headers and HttpResponseMessage.Headers.

In terms of where this header ('Content-Range') would be, it would be located in the HttpResponseMessage.Content.Headers collection.

In terms of this issue, a

[2018-05-12 23:55] davidsh commented on #3894
Please refer to the new place for documentation (docs.microsoft.com).

The common exceptions are documented.  For example: [HttpClient.GetStringAsync](
https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.getstringasync?view=netcore-2.0#System_Net_Http_HttpClient_GetStringAsync_System_Uri_)

If there are other classes/methods that need documentation updates, please feel free to E

[2018-05-12 23:56] #3894 closed

[2018-05-13 00:42] itdeepdive commented on #29620
@karelz This Happens all the time. I tested it through 2.1.0-rc1-final.

I get the exact same error.

Thanks
Trilok

[2018-05-13 01:57] ViktorHofer commented on #29499
public static StringBuilder StringBuilder.FromFile(string FileName);
It is more efficient to copy the file into the String Builder chunks directly than reading blocks of the file as strings then appending them to the StringBuilder.

That's what Span/Memory is for. You can avoid allocating strings by using `StreamReader.Read(Span<char>)` and pass the Span's slice to `StringBuilder.Append(ReadOnlySp

[2018-05-13 03:57] MohammadHamdyGhanem commented on #29499
@ViktorHofer

That's nice. I'm not familiar with Span yet, but I expect that the append method will read the chars from the ReadOnlySpan and copies them to the chunks (at least bbecause it is a "ReadOnly" span) .
What I want is to lood 8000 char from the file into  a char buffer, and assign this buffer directlt (by a pointer) to the internal char array that represents one of the Stringbuilder chun

[2018-05-13 08:48] pedoc commented on #8053
@mellinoe thanks,it's work for me, system: deepin 15.5

[2018-05-13 11:06] konraddysput opened #29679 "Minidump interface"
Hey,

Does Microsoft want to prepare a minidump interface for diagnostic purpose for .NET Developers on Windows/Linux/MacOS? Right now to generate minidump file, developer have to execute external .dll (for example dbghelp.dll).
[code]

I think provided code isn't a best way to generate minidump files and it only works on Windows :(

Maybe I miss something, but:
- is there any better way to genera

[2018-05-13 11:10] eiriktsarpalis commented on #29365
Please bring back a way to reference `DynamicMethod` in netstandard2.0 libraries.

[2018-05-13 11:11] konraddysput opened #29680 "Thread list"
Hey,

I try to found a way to list all available threads and stracktraces in .NET. Right now I use Microsoft.Diagnostics.Runtime library, but library supports only Windows. For diagnostic purpose its necessary to get all stack traces from all threads that application use.

Thanks a lot!

[2018-05-13 17:28] danmosemsft commented on #29680
@mikem8361 can you help?

[2018-05-13 17:28] danmosemsft commented on #29679
@mikem8361 owns created ump..

[2018-05-13 17:30] gfoidl commented on #29499
See (the excellent) [C# - All About Span: Exploring a New .NET Mainstay](https://msdn.microsoft.com/en-us/magazine/mt814808)

[2018-05-13 18:30] benaadams opened #29683 "System.IO.Pipelines.ReadResult should be readonly"
So it can be efficiently passed with `in`
[code]

/cc @davidfowl @pakrym

[2018-05-13 18:55] mikem8361 commented on #29679
There is currently no consistent way to generate a mini-dump or core dump across all of our frameworks and platforms.  On Windows, I think dbghelp.dll is the only programmatic way to generate a dump.

On Linux, the "createdump" utility (the details are in the above doc you found), is a way to configure your .NET Core environment (by setting COMPlus_DbgEnableMiniDump, etc.) before you run the .NET

[2018-05-13 19:15] konraddysput commented on #29679
@mikem8361
1. Generate minidump on Windows
Actually I use dbghelp.dll to generate minidump file. As you can see in my sample C# code I call external .dll "dbghelp.dll" to create minidump - am I wrong with anything in my code?
2. Can I open generated minidump on Linux on Visual Studio?
3. Do you plan to prepare interface for minidump files (API available in .NET)
4. Do you plan to prepare mechanism

[2018-05-13 19:28] konraddysput commented on #29680
@mikem8361 Actually I only find solution with CLRMD and tried via C++ code: https://msdn.microsoft.com/en-us/library/windows/desktop/ms686746(v=vs.85).aspx
but I failed too :(

[2018-05-13 19:29] mikem8361 commented on #29679
1. For generating a Windows mini-dump on Windows your code looks fine. This will only work on Windows.
2. No, you can not open a Windows mini-dump on Linux. VSCode doesn't currently support dumps of any kind and will never support Windows mini-dumps. On Linux, ELF core dumps are generated by the Linux OS itself (when configured) and the createdump utility I referred to. I don't know if or when VSC

[2018-05-13 19:33] mikem8361 commented on #29680
I'm assuming you tried the C++ on Windows? The API in the above link are Windows only.

Currently CLRMD is desktop/Windows only.  If we get enough interest and find the dev resources, someday it may be port to .NET Core/Linux, etc.

[2018-05-13 19:38] konraddysput commented on #29679
Sorry for bad question - #2

Actually I mean - Can I open minidump file generated on Linux on my Windows machine with Visual Studio. From your answer I see its not possible from some reason - lldb, gdb, etc

Thank you very much for your answers !

[2018-05-13 19:40] konraddysput commented on #29680
Its still better to have full support for Windows than not having thread list and stack traces for any platform. Its the reason why I share these links with you.

If you get me enough resources or some knowledge how to do this I could write a code and share with you - only I need information "how".

[2018-05-13 21:15] sputier commented on #28281
Sorry, I didn't have much time to work on it... Family first ! I'll work on it this week. Thanks for the reminder !

[2018-05-13 22:33] MohammadHamdyGhanem commented on #27840
I made many improvments to VerbalExpressions pjoject, and there is still more work to do. This is a sample code:
[code]
The generated regex is:

[2018-05-13 22:48] MohammadHamdyGhanem commented on #27840
It's possible to get rid of the extra () by this alternative code:
[code]
I implemented more than way to do the same thing, but there are slight differences. My notice about verbal expressions is they need some attention and a good understanding of regex. They easier or regex but not too much, but they make the code readable.

[2018-05-13 23:27] davidsh commented on #9543
#9543 is related to this issue.

The best way to fix this is to do the same thing as @bartonjs did for the X509 tests by using the PFXEdit tool to strip out the key friendly name from the PFX file.  This was done for the X509 tests here:
https://github.com/dotnet/corefx-testdata/commit/7d0aeccf493f2f2a8e5d8a3bf0d238f9881cff0a

I am now able to build that tool using docker and Ubuntu 14.04 (plus a

[2018-05-14 00:23] weitzhandler commented on #10752
@karelz ping

[2018-05-14 05:29] mikedn commented on #14230
The text you quote refers to sorting but you're looking for `BinarySearch` functionality. As mentioned in a previous comment, such functionality does not exist.

[2018-05-14 06:45] wfurt commented on #29597
I also try to reproduce the results and same client is little bit faster than new client.
I try that with my local system as well as AWS instance.
can you please get packet captures @EvgenyKhaliper.

[2018-05-14 07:27] Sunny-pu commented on #28953
Failed in Master branch:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180514.01/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessStartInfoTests~2FStartInfo_TextFile_ShellExecute

[2018-05-14 07:28] h82258652 commented on #8382
@ronnieoverby Great job!

[2018-05-14 08:52] jakrivan commented on #29181
Hi @AfsanehR ,

I've post full repro sample here: https://jankrivanek456274688.wordpress.com/2018/05/14/beware-of-early-breaking-from-sqldatareader-reading-over-large-dataset/ (I've tried to post it to my msdn blog, but somehow it's stuck in 'Pending' state and I don't have publish right any more).

The number of originally requested rows and then the latency between server and client are the main

[2018-05-14 08:56] pantonis commented on #28711
@joperezr Any news on this one?

[2018-05-14 09:44] stebet commented on #18114
I hate to throw out a comment on closed issues, resurrecting old discussions, but I think it's sorely needed at this point.

There is a now a [push from the Application Insights teams](https://github.com/StackExchange/StackExchange.Redis/issues/833) to start implementing `DiagnosticSource` events into popular 3rd party libraries but @NickCraver has correctly pointed out in that issue that it's not

[2018-05-14 10:17] mysticdotnet commented on #29526
@karelz I migrate the [OData project](https://github.com/OData/WebApi) to .net core 2.1-rc1-final, now i have more detailed exception:
![accessviolatonexception](https://user-images.githubusercontent.com/38808237/39991685-9cf001ec-5770-11e8-8a5e-d60f29608461.png)

[2018-05-14 10:52] AhmedElbatt commented on #22324
@MSRiganti
May I ask you if have currently any updates regarding this issue , or any kind of workaround solution ?
Thanks

[2018-05-14 10:53] crozone commented on #2704
I've also hit the need to do this, it would be nice if the framework had something built in, but at least when you implement it yourself you understand the ramifications of doing it. I'm mainly using this pattern in an async main context:

[code]

Since this this issue is still the top hit on Google , I'll leave my extension implementation here:

[code]

It's similar to the one above, but it clean

[2018-05-14 10:59] mgwalm commented on #2704
I thought you could use a continuation to achieve this?

[2018-05-14 11:11] ronnieoverby commented on #8382
@h82258652 yes, it's a .NET standard library, so core/framework support.

[2018-05-14 11:42] chiddekel opened #29685 "Crossplatform use SDL."
**App-models** -- .NET Core does not support all the .NET Framework app-models, in part because many of them are built on Windows technologies, such as WPF (built on top of DirectX). The console and ASP.NET Core app-models are supported by both .NET Core and .NET Framework.

Problem: .NET Core support for all .NET Framework app-models.

[Solution]
Resolve the problem would be a support SDL as the

[2018-05-14 12:17] iSazonov opened #29686 "FileInfo and Path.GetFullPath() don't support long paths"
[FileInfo](https://github.com/dotnet/corefx/blob/41a2120b233cc02c175f812e4e19e3f058396cb0/src/System.IO.FileSystem/src/System/IO/FileInfo.cs#L29) calls [Path.GetFullPath](https://github.com/dotnet/coreclr/blob/85374ceaed177f71472cc4c23c69daf7402e5048/src/System.Private.CoreLib/shared/System/IO/Path.Windows.cs#L55) and then [PathHelper.Normalize](https://github.com/dotnet/coreclr/blob/85374ceaed177

[2018-05-14 12:20] stephentoub commented on #29686
Is your comment based on testing or based on just looking at the code? Yes, it uses stackalloc, but that's just to start; it then grows into the heap if that length is insufficient.

[2018-05-14 12:34] MaksymProkopiv commented on #29620
We tested on .NET Core 2.0.6 and 2.1 RC with the same results:
[OK]			SQL Server 2014 - 12.0.2000.8 (X64)
[OK]			SQL Server 2014 (SP2) (KB3171021) - 12.0.5000.0 (X64)
[Exception]	SQL Server 2014 (SP2-CU8) (KB4037356) - 12.0.5557.0 (X64)
[Exception]	SQL Server 2014 (SP2-CU10-GDR) (KB4052725) - 12.0.5571.0 (X64)
[Exception]	SQL Server 2016 (SP1) (KB3182545) - 13.0.4001.0 (X64)

[2018-05-14 13:10] davidelettieri opened #29687 "WinHttpException on WebRequest"
The following snippet of code call a web service using a certificate from the user store. I got a generic security exception

with **NativeErrorCode 12175**. The same snippet works against .NET Framework 4.6.1.

Any guidance on troubleshooting this issue?

[code]

[EDIT] C# syntax highlighting by @karelz

[2018-05-14 13:13] iSazonov commented on #29686
Sorry, I skipped that ` ValueStringBuilder` can use the heap.

[2018-05-14 13:13] #29686 closed

[2018-05-14 13:16] ioanaromcea opened #29688 "TimeZoneInfo.FindSystemTimeZoneById("Asia/Tehran") on Debian GNU/Linux 9 returns null for AdjustmentRules, targeting .net core 2.0"
`TimeZoneInfo.FindSystemTimeZoneById("Asia/Tehran");` on Debian GNU/Linux 9 returns null for AdjustmentRules, targeting .net core 2.0

Bellow you can find some details ..

Tried to get TimeZoneInfo for Iran both on Windows 10 and Debian GNU/Linux 9.

executing `TimeZoneInfo.FindSystemTimeZoneById("Iran Standard Time");`  on Windows, the AdjustmentRules field of TimeZoneInfo object that I get as re

[2018-05-14 13:37] EgorBo commented on #29685
If you need SDL you can just find some C# bindings for it (e.g. https://github.com/flibitijibibo/SDL2-CS).
But I don't think it's a good idea to build UI Frameworks on top of it, it's more like a good foundation for game engines.

[2018-05-14 14:11] davidelettieri commented on #29687
I rewrote the code to use the HttpClient api as

<pre>
<code>
using (var store = new X509Store(StoreName.My, StoreLocation.CurrentUser))
{
    store.Open(OpenFlags.ReadOnly);
    var cert = store.Certificates.Find(X509FindType.FindBySerialNumber, "serial_number", false);

    var handler = new HttpClientHandler();
    handler.ClientCertificateOptions = ClientCertificateOption.Manual;
    handler.S

[2018-05-14 14:46] MohammadHamdyGhanem opened #29689 "Let Regex measure word distances"
Let Regex measure word distances
Regex is a great tool to search text. but it lakes some patterns that can be used to measure the similarity between words, like Levenshtein distance algorithm. Maybe this is not of a great important in English because different forma of the word contains some sort of shared letter sequence such as in (accura)te, in(accura)te and (accura)cy. This not always true in

[2018-05-14 15:25] xaviergxf commented on #18090
Hi, Can i use this package with vs 15.7.1? I've added the nuget packages 4.5.0-rc1 but it mixes with the one on the gac. Should this nuget package produce dll's on my bind/net471 folder?

Thanks

[2018-05-14 15:47] ianhays commented on #29637
release/2.0.0 needs https://github.com/dotnet/corefx/issues/22229 backported for this test to pass.

[2018-05-14 15:51] davidsh commented on #29687
This is probably a duplicate of #17226.

Please try out .NET Core 2.1 RC which uses a different HTTP stack (SocketHttpHandler) underneath HttpClientHandler.

See: https://blogs.msdn.microsoft.com/dotnet/2018/05/07/announcing-net-core-2-1-rc-1/

[2018-05-14 15:57] bartonjs commented on #29637
Sounds easier to turn off the test :)

[2018-05-14 16:00] ianhays commented on #29637
That's the plan :)

[2018-05-14 16:00] alexcyoung opened #29691 "CmsSigner.ComputeSignature() creates a signature with incorrect SignerInfo"
I'm currently porting over some code to .Net Core and using the recently added CmsSigner from System.Security.Cryptography.Pkcs (I'm using the 4.5.0-rc1)  The certificate I'm using has a serial number of FD319CB1514B06AF49E00522277E43C8, it also happens to be self signed cert.

Here is what I'm doing to create the signature.
[code]

After calling ComputeSignature the signedCms object created has t

[2018-05-14 16:06] karelz commented on #29689
This feels more like natural language analysis. Something that is useful, but should be built on top of BCL, not inside.
I am not convinced that RegEx is the right place for APIs like these ...

[2018-05-14 16:08] marek-safar commented on #29654
You could see that from About Visual Studio. I checked it and Android version is still missing System.Memory facade only iOS works. I was testing with 8.3 (XA) and 11.11 (XI).

[2018-05-14 16:14] karelz commented on #29685
Closing as wrappers for libraries don't need to go into CoreFX, unless it is abstracting core OS functionality
For SDL library, the linked C# wrapper seems sufficient.

BTW: Last week we have announced WPF and WinForms coming to .NET Core 3.0 for Windows-only: https://blogs.msdn.microsoft.com/dotnet/2018/05/07/net-core-3-and-support-for-windows-desktop-applications

[2018-05-14 16:14] #29685 closed

[2018-05-14 16:38] karelz commented on #29620
Do you have a repro you can share with us?
Did you try to look at network traces? (Fiddler, Wireshark)

@keeratsingh @David-Engel @AfsanehR any ideas?

[2018-05-14 16:39] jkotas commented on #29652
This should stay open - test is disabled against this issue.

[2018-05-14 16:42] chiddekel commented on #29685
This is good news - but NET Core does not support all the .NET Framework app-models, in part because many of them are built on Windows technologies, such as WPF (built on top of DirectX). SDL can be solution for Linux and Mac - WPF and WinForms implementation for dose systems.

[2018-05-14 16:59] karelz commented on #29685
If you are interested in cross-platform UI, check out various community projects, e.g. Avalonia: https://github.com/AvaloniaUI/Avalonia

[2018-05-14 17:01] mazhou-msft opened #29694 "No XML Comments for Span-like types"
There is no XML summary in Visual Studio for Span<T>, ReadOnlySpan<T>, Memory<T>, ReadOnlyMemory<T>, Memory extensions, System.Buffer.*, MemoryMarshal etc. Do we plan to add them?

[2018-05-14 17:02] jianyunt commented on #29669
@karelz, yes it's happening in the latest release. Echo'ing control keys back in linux terminal  ^[OC, may not such big problem for us, for example, bash does the similar. However losing ESC and echoing back with consolekey code like OC, OD etc. as user inputs is the problem. Currently this issue is considered as blocking for `PowerShell Azure CloudShell` GA. Please take priority for the fix. Than

[2018-05-14 17:02] karelz commented on #18090
@xaviergxf can you please file a new issue? Closed issues are not monitored.
Please post repro showing what kind of "mix" happens for you.

[2018-05-14 17:07] chiddekel commented on #29685
Great it ability to contribute:) I hope it's production ready. Thanks and have a great week!

[2018-05-14 17:08] karelz commented on #29669
@jianyunt can you please link your master tracking bug on your side? When is your GA? Is it a regression, or was it just discovered late?
cc @Petermarcu @leecow

@joperezr @ianhays any ideas for workarounds / solutions here to unblock PowerShell?

[2018-05-14 17:14] tarekgh commented on #29688
@ioanaromcea we have fixed this issue in 2.1.  Is it possible you move to 2.1 instead?

[2018-05-14 17:16] tarekgh commented on #29688
https://github.com/dotnet/coreclr/issues/17393

[2018-05-14 17:26] weshaggard commented on #29674
@bording alpine is the only new officially supported distro but there could very well be new versions that aren't in the RID graph yet. @ianhays you have been looking at a lot of our distro support lately could you have a look over the RID graph and check the versions are upto date.

2.1 is basically done so I don't expect we will take any update for 2.1 RTM but we may consider updating it in 2.1

[2018-05-14 17:26] benaadams commented on #29683
Luckily changing it isn't breaking change :)

[2018-05-14 17:39] mackcoding commented on #29087
I'm running into this issue but #29087 isn't working for me. No matter what I do CredentialCache is being ignored and it's sending anonymous.

[2018-05-14 17:42] danmosemsft commented on #29661
AV in XPath tests. Need to debug.
[code]

[2018-05-14 17:55] JeremyKuhne commented on #15554
@Jlalond here is the pattern I was using. https://github.com/dotnet/corefx/blob/master/src/System.Configuration.ConfigurationManager/tests/System/Configuration/SmokeTest.cs

[2018-05-14 18:02] wfurt commented on #29087
Any chance the server is publicly accessible? Also could you try to add gss-ntlmssp package to your system. I have not test it with SMTP but it does fix NTLM for HTTP. (this still may not fix it if we go down the kerberos path)

[2018-05-14 18:03] ViktorHofer commented on #29689
Agree with what Karel says. Building these algorithms on top of the BCL and delivering them as a nuget package makes most sense here IMO. Still thanks @MohammadHamdyGhanem for your interest in Regex 👍

[2018-05-14 18:26] joperezr commented on #29688
@tarekgh are we planning to service this fix on previous versions of .NET Core? If not, then I guess we should just close this issue as fixed.

[2018-05-14 18:28] rmkerr commented on #29087
@mackcoding you might also consider capturing network traffic and examining it to verify that the server is advertising the authentication schemes you support.

[2018-05-14 18:34] Jlalond commented on #15554
Thanks @JeremyKuhne

[2018-05-14 18:36] luqunl opened #29696 "Exception.HResult setter should be made public"
Currently The setter on Exception.HResult is protected. If customer need to set a different HResult for a specific exception, customer has to create a derived exception to override.

## Rationale and Usage

It is very common to set a different HResult for interop area due to compatibility reason --- Interop should return same HResult as the code is called/implemented by native code.

For example:

[2018-05-14 18:38] karelz commented on #29689
Closing per agreement above.

[2018-05-14 18:38] #29689 closed

[2018-05-14 18:38] MohammadHamdyGhanem commented on #29689
@karelz @ViktorHofer
I see, but using them as part of a pattern differs than using them alone.
I have an adia: can regex allow us to call a custom callback function to use as a part of the pattern? say:
`\b?<funcName(\w{2,6})>\b`
where funcName can be any name of a callback function that have the forma:
bool funcName(string);
each time the regex evaluates the suplied expression (such as \w{2,6}) s

[2018-05-14 18:40] danmosemsft commented on #29669
Marking 2.1 as potential candidate for early 2.1 servicing per shiproom discussion given impact on Powershell. @joperezr or @ianhays could one of you please investigate?

[2018-05-14 18:46] mconnew commented on #27745
@davidsh, what I like about your idea is it would allow anyone's existing code using this capability to just work as the faux HttpWebRequest just wraps SocketsHttpHandler/HttpClientHandler. It would make migration easier.

[2018-05-14 18:57] MohammadHamdyGhanem commented on #29689
@karelz

I suggested another solution that doesn't need to implement any thing in BCL.

`>  where funcName can be any name of a callback function with the form:

Please don't close issues too soon.

[2018-05-14 19:01] danmosemsft commented on #29661
FullName = "XPathTests.FunctionalTests.Location.StepsTests.StepsTest146()"

[code]

[2018-05-14 19:02] mackcoding commented on #29087
@wfurt it is a private relay server, unfortunately. I added gss-ntlmssp to my system (for those wondering, apt-get install gss-ntlmssp) and I get a new error message:

[code]
@rmkerr It supports GSSAPI and NTLM. But for whatever reason NTLM refuses to work. With a new error message I might be able to figure this out..

[2018-05-14 19:14] Jlalond commented on #15554
@JeremyKuhne So still some questions. App settings reader's default constructor references ConfigurationManager.AppSettings directly, how should I create a temporary config for ConfigurationManager to reference. I was hoping incorrectly that the using block would temporarily change the underlying app config, but I was wrong. So I'm still stuck.

[2018-05-14 19:52] danmosemsft commented on #29661
Under windbg I consistently get the AV here:

another
(28a4.3e8c): Access violation - code c0000005 (first chance)
First chance exceptions are reported before any exception handling.
This exception may be expected and handled.
OpenCover_Framework_185e8570000!OpenCover.Framework.Communication.MessageHandler.HandleGetSequencePointsMessage(IntPtr, OpenCover.Framework.Manager.IManagedCommunicationBloc

[2018-05-14 19:57] jespersh opened #29698 "Signature.LoadXml throws CryptographicException as id attribute is no longer optional"
A couple of days ago the dotnet framework security rollup started landing on machines and Signature.LoadXml started failing (https://blogs.msdn.microsoft.com/dotnet/2018/05/08/net-framework-may-2018-security-and-quality-rollup/)
To figure out what was different I took a look towards this nice place.

And stumbled upon here: https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptogra

[2018-05-14 20:01] sdmaclea commented on #29544
We drafted a quick microbenchmark to look at this.  For this worst case, the atomicAdd w/ `SequentiallyConsistent` took >2x `Relaxed` on the one platform we tested.

[2018-05-14 20:06] JeremyKuhne commented on #15554
It is no different than hitting the Configuration.AppSettings property- ConfigurationManager simply has a specific Configuration object that it creates based off of it's own path heuristics. You should be able to test everything in AppSettings off the Configuration object explicitly loaded as per the example I gave you.

[2018-05-14 20:11] natemcmaster opened #29699 "Process.WaitForExit does not always return, even if process has exited [macOS/Linux]"
It appears Process.WaitForExit does not actually complete if called from certain threads, even if the process it waits on has exited. I've only been able to reproduce this on macOS and Linux, not Windows.

**Repro**
This issue was originally reported as a bug in dotnet-watch (see https://github.com/aspnet/DotNetTools/issues/410)

I created a minimal repro here: https://gist.github.com/natemcmaster

[2018-05-14 20:17] karelz commented on #29689
I closed the issue per your original proposal to bake in word distances into RegEx.
Your new proposal arrived after I closed it. Technically speaking your new proposal is entirely different API/feature proposal from the original one, they just both share same motivation (natural language search).

Your new proposal is general extension of RegEx to call functions (not available in other implementat

[2018-05-14 20:19] tarekgh commented on #29688
@joperezr

I am waiting @ioanaromcea response here to know if this is a blocking scenario and if they can move to 2.1 instead. then we can decide. but so far, there is no plan to port the fix to 2.0

[2018-05-14 20:20] danmosemsft commented on #29661
It fails about 1/5 times.
[code]

[2018-05-14 20:33] wfurt commented on #29087
what is your mail server @mackcoding ? Exchange or something else?
If you share your code, I can give it try in my lab.

[2018-05-14 20:35] ianhays commented on #29674
The versions are good for the current state of the world.

We're missing things like raspbian because it's expected that those don't need their own specific RIDs and can use the debian ones instead. It does complicate things somewhat if you have nuget assets specifically for those flavors, though the move has been more towards making those things as portable as possible.

If the above approach is

[2018-05-14 20:39] TravisEz13 opened #29700 "System.NullReferenceException when running optimized code on linux"
# Repro

1. On macOS or Linux
1. Extract the attached files ([optimizeTest2.zip](https://github.com/dotnet/corefx/files/2002507/optimizeTest2.zip))
1. run `dotnet run -c Release`

# Expected
[code]
**note:** No exception.  I can get this by runnig `dotnet run -c Debug`

# Actual

[code]

# dotnet --info
[code]

[2018-05-14 20:40] TravisEz13 commented on #29700
[optimizeTest2.zip](https://github.com/dotnet/corefx/files/2002507/optimizeTest2.zip)

[2018-05-14 20:41] keeratsingh commented on #29193
Closing due to inactivity. Please feel free to reopen if you face the issue again.

[2018-05-14 20:41] #29193 closed

[2018-05-14 20:56] wfurt commented on #29597
I did another round of testing agains my local server - to avoid external servers and still get similar results as before. This time, the same client is almost 3x faster.
With new HttpClient, every request is new TCP connection - and that will cost you some when going to internet (or doing SSL one day). With reusing single HttpClient, I see 16 connections and all requests are multiplexed via that

[2018-05-14 21:06] mackcoding commented on #29087
I can post the code tomorrow. It's just a basic few lines. We use an internal relay server (Microsoft ESMTP). Our mail server is Office 365. It's hard for me to say since I don't manage any of it.. I'll get you some deals so you can try to replicate and hopefully fix. Appreciate the attention to this!

[2018-05-14 21:08] kouvel commented on #29649
I think we need to specify what exactly is to be expected of each of the orderings, especially since compiler-only barriers are also involved. My take on this:

- Volatile.Read(Relaxed)
  - Compiler-only acquire barrier after the load (loads and stores following this load cannot be reordered to before this load)
  - Hardware barrier: none
  - `ldr`
- Volatile.Read(Acquire)
  - Same compiler barrie

[2018-05-14 21:43] keeratsingh commented on #29564
@LandonCampbell Could you try and check if the issue still exists with [.NET Core 2.1 RC](https://www.microsoft.com/net/download/dotnet-core/runtime-2.1.0-rc1) ?

If it does Could you also kindly share the following:
- Output of command `dotnet --info`.
- Connection string being used to connect to the server.
- `csproj` file that is being used by the project.

[2018-05-14 21:48] bartonjs commented on #29691
Correction, it _is_ an encoding problem.  Apparently I was looking at the encoded serial number of the certificate (unsurprisingly: had the value of the encoded serial number of the certificate) instead of the IssuerAndSerialNumber value, which does have the leading 0x00.

[2018-05-14 21:54] #29598 closed

[2018-05-14 21:55] alexcyoung commented on #29691
I wasn't aware the serial number was invalid although it was created by makecert.

I should add that the same certificate and code combination works in 4.5 without issue.

Appreciate you looking into this.

[2018-05-14 22:14] karelz commented on #29689
The first part was already rejected. It might be best just to take the 2nd part into separate issue and provide more details about it there (the idea is still very raw).

[2018-05-14 22:42] krwq commented on #10396
Closing this as we currently do not have a good way to load DH pfx (won't work on Windows)

[2018-05-14 22:42] #10396 closed

[2018-05-14 23:43] danmosemsft commented on #29689
@MohammadHamdyGhanem thank you for your various recent API suggestions. You may have found we are rather picky! Allow me to share some thoughts.

As you know the cost of an API is not just its implementation but also support and maintenance for a long time, cognitive load, opportunity cost, cost of porting, and other costs. So it has to be more than just a good idea. In the C# language they have s

[2018-05-14 23:59] karelz commented on #29694
XML summaries are populated from docs. I don't think the APIs are documented yet :(
cc @mairaw @weshaggard

[2018-05-15 00:02] karelz commented on #29698
cc @krwq @bartonjs @AlexGhiondea

[2018-05-15 00:09] karelz commented on #29700
@janvorli can you help route it?

[2018-05-15 00:25] mairaw commented on #29694
No, they're not yet. We do have the Span and friends on our priority list for 2.1. Others will depend on resources, so they might come later. We have a lot of scenarios to cover for 2.1 and just 3 writers to work on it.

[2018-05-15 01:25] LandonCampbell commented on #29564
@keeratsingh I don't have the AWS Lambda environment set up locally, so it would be difficult for me to test. I'm running everything in the AWS environment, which I doubt they will be updating anytime soon. Is there something else I could try?

[2018-05-15 01:26] ahsonkhan commented on #29694
Awesome. I am assuming we will be leveraging the  existing XML comments in source to generate these docs.

[2018-05-15 02:26] stephentoub commented on #29700
Are you sure the interop is correct?  It's typically not a good idea to use a type you don't own (`struct tm` in this case) in such an interop signature, as its size can and will often vary across systems.  Case in point, you've defined your managed `UnixTm` type to be 36 bytes, but on my Linux system, `sizeof(struct tm)` is 56.

[2018-05-15 03:00] stephentoub commented on #29699
Does this repro on 2.0?

I have a suspicion that this is due to changes @tmds made in 2.1.  In 2.1, WaitForExit is going to depend on handling SIGCHLD, but your code is effectively creating a deadlock due to that.  The ctrl-C handler will be invoked from the signal handling thread, it synchronously cancels the token which synchronously completes the exited task which synchronously runs the continu

[2018-05-15 03:02] Teeeeew commented on #29699
On May 14, 2018 11:01 PM, "Stephen Toub" <notifications@github.com> wrote:

Does this repro on 2.0?

I have a suspicion that this is due to changes @tmds
<https://github.com/tmds> made in 2.1. In 2.1, WaitForExit is going to
depend on handling SIGCHLD, but your code is effectively creating a
deadlock due to that. The ctrl-C handler will be invoked from the signal
handling thread, it synchronously

[2018-05-15 03:44] natemcmaster commented on #29699
No, it doesn't repro on netcoreapp2.0. And yes, using TaskCreationOptions.RunContinuationsAsynchronously appears to be another way to solve the issue.

[2018-05-15 03:53] MohammadHamdyGhanem commented on #29689
@danmosemsft
Thanks for your concern. I'm aware of your policy, and you are free to take whatever decisions about my suggestions. I only have some ideas and no knowledge about their popularity or how many others will need them, so I just share them here, and hope for the best. I gain great benefits from the discussions, and get more info about some NuGets or future features in progress, so I hope

[2018-05-15 04:00] ghost opened #29703 "[HttpClient] SSL Idn decode failure"
The following produces an exception:

[code]

Stacktrace:
[code]
## Additional Info
[code]

[EDIT] Add C# syntax highlighting by @karelz

[2018-05-15 04:14] Thaina opened #29704 "Linq.Except with Func parameter (aka Where not)"
When we have write complex logic in Linq and want it to inverse selection easily

[code]

Sometimes most of the logic need to be false. So it more clean to have inverse `Where` clause

I think `Except` would do. While currently it accept another enumerable as parameter. If it overload to accept func it would be useful

[code]

Even a short logic could be optimized

[code]

[2018-05-15 05:07] abk-x commented on #29703
It appears to be in the actual Globalization code, the following also reproduces the error:
[code]

[2018-05-15 05:17] abk-x commented on #29703
Does this need to be moved to dotnet/coreclr ?

[2018-05-15 05:26] abk-x commented on #29703
On second thoughts, shouldnt .GetAscii only be called by HttpClient if the string starts with `xn--` or contains unicode glyphs?

[2018-05-15 05:37] danmosemsft commented on #29495
See PR for discussion of better solution

[2018-05-15 05:39] danmosemsft commented on #29314
I think the root release note page is sufficient. We do not need anything fancy especially right now. Assuming you agree @ahsonkhan would you mind offering A PR?

[2018-05-15 05:40] danmosemsft commented on #29314
This seems to me to late for 2.1 though. Servicing.

[2018-05-15 06:07] abk-x commented on #29703
The workaround for this particular case is to replace `---` with "." (this is what a nslookup reveals). This sucks because it kills certificate verification, so we need to hamper verification for this call.

[2018-05-15 06:32] MaximLipnin opened #29706 "No Parameters property for AlgorithmIdentifier type"
Hi corefx team,

I just wonder why [AlgorithmIdentifier ](https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/AlgorithmIdentifier.cs)type doesn't have `Parameters ` property in current implementation.
Previously it had [this one](https://msdn.microsoft.com/en-us/library/system.security.cryptography.pkcs.algorithmidentifier.parame

[2018-05-15 06:34] danielcrenna commented on #29365
How do we use DynamicMethod in .NET Core now that it is unlisted as a package?

[2018-05-15 06:42] xaviergxf opened #29707 "System.DirectoryServices nuget package not shipped in output folder"
Hi,

 Can i use the nuget package System.DirectoryServices with vs 15.7.1? I've added the nuget packages 4.5.0-rc1 but it mixes with the one on the gac and in the output folder(bin/debug) no System.DirectoryServices.dll is created. Should this nuget package produce dll's on my bin/Debug/net471 folder?

This is related to issue #18090

Thanks

[2018-05-15 06:50] tmds commented on #29699
That is indeed the root cause. I did not see that one coming :disappointed:
WaitForExit can't complete if OnCancelKeyPress is blocked.

[code]

[2018-05-15 07:01] MaximLipnin opened #29708 "Make ICollection members non-explicit on CmsRecipientCollection"
Hi corefx team,

`CmsRecipientCollection` type has [explicit implementation](https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/CmsRecipientCollection.cs#L115-L129) for ICollection members.
Shouldn't they be made non-explicit?

Thanks!

[2018-05-15 07:14] MaximLipnin opened #29710 "Outdated comment about where PkcsPal's "s_instance" is declared"
Hi corefx team,

The [comment](https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Pkcs/src/Internal/Cryptography/PkcsPal.cs#L100-L102)  in PkcsPal needs to be updated with:

- Pal\Windows\PkcsPal.Windows.cs
- Pal\AnyOS\PkcsPal.AnyOS.cs

Thanks!

[2018-05-15 07:45] iSazonov commented on #29700
@stephentoub Thanks!  Could you please link a sample code from CoreFX/CoreCLR?

[2018-05-15 07:55] ioanaromcea commented on #29688
@tarekgh is there any docker image that supports 2.1 version? Cause that would be our limitation in upgrading from 2.0 to 2.1

[2018-05-15 08:30] davidelettieri commented on #29687
I updated .NET Core to 2.1 RC

I'm still having issues but the exception is different now. As in #17226 the ServerCertificateCustomValidationCallback is not called.

<pre>
Unhandled Exception: System.Net.Http.HttpRequestException: The SSL connection could not be established, see inner exception. ---> System.Security.Authentication.AuthenticationException: Authentication failed, see inner exception

[2018-05-15 08:32] iSazonov commented on #29700
And if understand correctly we have to compile the interop library for every platform?

[2018-05-15 08:33] mairaw commented on #29694
When they're present, for sure @ahsonkhan!

[2018-05-15 08:39] alexcyoung commented on #29691
Hi @bartonjs so looking at the fix, it's got the 2.2.0 milestone. Does this mean there's not chance of it making the 2.1 release? If so can you recommend a workaround I can use for this?

[2018-05-15 08:55] l0nley opened #29711 "DTLS support for UDP client"
Hi!
I am looking for DTLS implementation for .NET.
It looks like this is not supported yet? Do you have any plans to support it?

[2018-05-15 09:21] matteofabbri opened #29712 "System.Management.ManagementDateTimeConverter fail parsing on DateTime.MinValue"
The conversion from DateTime to Dmtf works fine even with DateTime.MinValue but if we parse the value back ( in my case "00010101000000.000000+060") it raise:

System.ArgumentOutOfRangeException: 'The added or subtracted value results in an un-representable DateTime.'

Step to reproduce the bug:

            var date = ManagementDateTimeConverter.ToDmtfDateTime(DateTime.MinValue);
            var

[2018-05-15 10:25] bazzilic opened #29714 "SqlClient returns columns with UNIQUE index even if not selected"
### Steps to Reproduce
1. Create table `T` with columns `a` and `b`
3. Create a `UNIQUE` index on column `a`
2. Run a query `SELECT b FROM T` using `ExecuteReader` from `System.Data.SqlClient`

### Expected Results
Returned `SqlDataReader` only has one column, which is `b`

### Actual Results
Returned `SqlDataReader` has 2 columns: `b` and `a`

### Remarks
The issue is present on both .NET Core 1.

[2018-05-15 10:40] svick opened #29715 "Why is DynamicMethod.DefineParameter not exposed?"
I was trying to run [the `DynamicMethod` example on docs.MS](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.dynamicmethod?view=netcore-2.0#examples) on .Net Core 2.x, but it failed with:

This is consistent with API reference, [which says that `DynamicMethod.DefineParameter` does not exist on .Net Core](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.dynamicm

[2018-05-15 10:48] svick commented on #29365
@danielcrenna You don't need the package to use `DynamicMethod` on .Net Core, since it's built-in. You only needed the package to use it on .Net Standard.

[2018-05-15 11:05] Thaina commented on #16742
I just realize that we could avoid some confusion is to enforce some first element such as

[code]

This way the `items.Append(new[] { 0,1,2 })` is invalid

So unless the coder intentionally put `items.Append(0,1,new[] { 2,3,4 })` the natural way we need to write code is `items.Append(0,1,2,3,4)`

[2018-05-15 11:47] marek-safar commented on #29342
@jkotas we try to map them where we found a reasonable match. See https://github.com/mono/mono/blob/85181dc80842e18c787795ba583aaa9cdd208d62/mono/metadata/w32error-unix.c#L38

[2018-05-15 12:50] stephentoub commented on #29700
Sure, for example a UTimeBuf defined here:
https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Native/pal_time.h#L13-L17
used in an exported function here:
https://github.com/dotnet/corefx/blob/33b44346378ba0caebb1ab96ab015e4098868c16/src/Native/Unix/System.Native/pal_time.h#L24
that's implemented here:
https://github.com/dotnet/corefx/blob/33b44346378ba0caebb1ab96ab015e4098868c16/

[2018-05-15 12:50] #29700 closed

[2018-05-15 13:58] jkotas commented on #29342
If we can still change at this point, I think we should try to map the platform specific error code to HResult as well. To be more compatible with Mono and to be more compatible across platforms. The current state where HResult is sometimes HResult and sometimes platform specific error code is confusing.

[2018-05-15 13:59] eerhardt commented on #29314
Since we are using fwlinks today, we could just change the existing fwlink to point to `https://github.com/dotnet/core/tree/master/release-notes`

[2018-05-15 14:47] davidsh commented on #29687
What is the server that you are connecting to?  It looks like the server is sending back bad TLS protocol or perhaps the client certificate you are using is corrupted and this is corrupting the protocol as well.

Does this repro if you don't use client certificates?

If order to debug this, we would need a repro that we could run ourselves.  Collecting Wireshark traces would also be useful.

[2018-05-15 14:55] JustArchi opened #29716 "HttpClient doesn't work with certain https servers with SocketHttpHandler (.NET Core 2.1+)"
Repro: [HttpClientBug.zip](https://github.com/dotnet/corefx/files/2005461/HttpClientBug.zip)

I reproduced this one on Linux and I didn't have much luck on Windows.

Run repro with `dotnet run`. After a default timeout which is around 60 seconds, you'll get:

[code]

Doing the same by forcing older curl handler:

[code]

Please note that this issue is specific and not reproducible with just any `h