[2017-10-28 00:10] #24894 closed

[2017-10-28 00:28] chuckb commented on #24142
So I looked into this crash and it appears to be caused by this commit:
https://github.com/dotnet/corefx/commit/4c5a4efb652236a41ee701f1ee268e361b793489#diff-79239bb9a51ce78e8baaadc3a6f2f503

It appears like the public interface for the System.Buffers.MemoryHandle class is being changed, which if so, will certainly cause a breaking change to the service bus API.

I guess I will wait a bit longer f

[2017-10-28 01:24] ahsonkhan commented on #24839
Given https://github.com/dotnet/corefx/pull/24911, @KrzysztofCwalina, can you please collapse the `T` versions and the `byte` versions and flip the label to ready for review?

[2017-10-28 01:35] ahsonkhan commented on #24296
@Drawaes, can you please update the original post with the namespace specified?

Don't we still get the type inference regardless of whether it lives in `System` or `System.Runtime.InteropServices`?

Do we need the Create methods? For the original concern about error matching, isn't DangerousCreate sufficient?

[2017-10-28 01:46] ahsonkhan commented on #24103
@nietras, any thoughts or updates for this API proposal (fix the TODOs)?

I would consider @ektrah's idea which removes the need of a Contains method:
[code]

[2017-10-28 01:56] ahsonkhan commented on #18750
Closing this in favor of https://github.com/dotnet/corefx/issues/24103

Let's finalize the proposed API there and push it to review :)

[2017-10-28 01:56] #18750 closed

[2017-10-28 01:56] ahsonkhan commented on #17793
Closing this in favor of https://github.com/dotnet/corefx/issues/24103

Let's finalize the proposed API there and push it to review :)

[2017-10-28 01:56] #17793 closed

[2017-10-28 02:01] ahsonkhan commented on #24343
@KrzysztofCwalina, is the proposal ready for review?

[2017-10-28 02:07] Drawaes commented on #24296
Is system.runtime.interopservices a class I am nesting these in or a namespace?

[2017-10-28 02:15] Drawaes commented on #24296
Does that look better?
1. We have the namespace moved to `System.Runtime.InteropServices`
1. We get type Inference
1. Dropped the Create methods, not sure why there were still there as you are correct the DangerousCreate seems to cover all of issues I had.

:shipit:

[2017-10-28 02:18] ahsonkhan commented on #24296
Do the argument names have to be different than what we use in the Span constructor or can we continue to use index/length?

[2017-10-28 02:22] Drawaes commented on #24296
you are correct Sir they should match the Span names, as it doesn't matter what they are called for my purpose now, and .. consistency

I fixed it

[2017-10-28 02:28] ahsonkhan commented on #24296
Sorry for the mistake. I meant start/length.
- index -> start?
- buffer -> array?

https://github.com/dotnet/corefx/blob/master/src/System.Memory/ref/System.Memory.cs#L46
[code]

[2017-10-28 02:31] Drawaes commented on #24296
No problem, I was being lazy and didn't check as well 🤣

[2017-10-28 05:45] danmosemsft commented on #24892
@stukselbax that would be a breaking change in behavior: it would change the value returned by the property, potentially breaking existing code. I don't think we can do more than change the message.

[2017-10-28 06:19] #24928 closed

[2017-10-28 06:22] danmosemsft commented on #24901
I'm going to close feel free to reopen if needed.

[2017-10-28 06:22] #24901 closed

[2017-10-28 06:39] romangrewal commented on #23972
Hello, I can try to work on this issue.

[2017-10-28 06:43] Entroper commented on #24716
To be clear, that setting in the .csproj file goes under a property group.  For example:

    <PropertyGroup>
      <_HasReferenceToSystemRuntime>true</_HasReferenceToSystemRuntime>
      <ApplicationIcon>WarMECH.ico</ApplicationIcon>
    </PropertyGroup>

[2017-10-28 07:50] WinCPP commented on #16646
@sepidehkh @danmosemsft I am working on importing XPathNavigator tests from mono to CoreFx repo as discussed in the above thread. I have used `.\src\System.Private.Xml\tests\XPath\XPathDocument` as template to add new project for `XPathNavigatorTests`. I am facing build issues with the tests...

When I change to the directory `src\System.Private.Xml\tests\XPath\XPathDocument`, say for example, and

[2017-10-28 08:33] benaadams commented on #24296
Question would be, should the existing Span overload
[code]
Also move to `System.Runtime.InteropServices` and use an `internal` .ctor? `T` is specified by `ref T objectData`

[2017-10-28 09:33] unicomp21 commented on #24860
I think creating that example might flush a couple issues.

On Fri, Oct 27, 2017 at 5:43 AM, John Davis <jdavis@pcprogramming.com>
wrote:

[2017-10-28 09:35] Drawaes commented on #24296
Seems reasonable, the only query would be around shipping status and back compat.

[2017-10-28 09:37] benaadams commented on #24296
Question for the api reviewers :)

[2017-10-28 09:52] Drawaes commented on #24296
Above our pay grades... :lol:

[2017-10-28 10:27] satano commented on #17905
Continuing with the rest: `System.Private.*`, `System.Runtime.*` and `System.Security.*`.

[2017-10-28 11:43] nietras commented on #24103
@ektrah thanks for the feedback and answering questions :)

They cannot be greater than `int.MaxValue` since `Span<T>` is limited to `int Length`. Note also that this is **`element`** offset.

If a user knows the spans come from the same memory segment this could have utility, but it is an edge case, and I agree. It makes the API/implementation more straightforward too by removing this case.

I th

[2017-10-28 14:05] razzemans commented on #24421
@davidfowl @halter73 We had another occurrence, this time the culprit seemed to be the Console logging:

![blocking_logging](https://user-images.githubusercontent.com/1167518/32135082-4d6ccfdc-bbf9-11e7-8c7e-f58269bf1c69.png)

Now it could quite be that we could leave out the Console Logging, but I'm rather surprised this is apparently blocking? Any thoughts? This happened during the night, there

[2017-10-28 14:24] stukselbax commented on #24892
It was a try. The main point is to show **NativeErrorCode** when **ToString** method is called.

[2017-10-28 16:33] chuckb commented on #23974
I attempted to run a test on another issue against master and ran into a perhaps unanticipated consequence to this change.  Please see: https://github.com/dotnet/corefx/issues/24142

[2017-10-28 16:54] danmosemsft commented on #24892
Would you like to offer a PR?

[2017-10-28 16:57] CarlosOnline commented on #24488
I have removed the hint path for System.DirectoryServices.  **Bug still repros.**
[code]
https://github.com/CarlosOnline/DotNetCore2DirectoryServicesBug

[2017-10-28 17:02] chuckb commented on #24142
Further digging into this crash, I am linking traffic that seems to be swirling around what I am seeing:

https://github.com/dotnet/coreclr/pull/14604
https://github.com/dotnet/coreclr/issues/14581

[2017-10-28 17:06] jonathanfishbein1 commented on #17278
I can't reference System.Configuration.ConfigurationManager on open System.Configuration.Assemblies any ideas on what I'm doing wrong?

[2017-10-28 17:52] jkotas commented on #24142
@chuckb You need to update build of `Microsoft.Azure.ServiceBus` to one built against latest CoreFX. Where are you getting `Microsoft.Azure.ServiceBus` from?

[2017-10-28 18:04] jkotas opened #24938 "[Binary serialization] Dictionary<string,string> does not roundtrip with full .NET Framework"
Run this on .NET Core:

[code]

Then run this on .NET Framework:

[code]

Result: Deserialization on .NET Framework fails with:

[code]

[2017-10-28 18:06] jkotas commented on #24938
We seem to have a hole in testing methodology if something this basic slipped through.

[2017-10-28 18:06] chuckb commented on #24142
I am just getting version 2.0.0 of the lib, which is tagged as the latest release.  I will look to see what master is pointing to and either move to that version, or see if I can download the lib and build it locally.

[2017-10-28 18:21] chuckb commented on #24142
Microsoft.Azure.ServiceBus depends on Microsoft.Azure.Amqp, so I presume that one would need to be rebuilt too...

[2017-10-28 18:50] karelz commented on #24794
#24663 loos like direct dupe, should we close it as such? Or we tracking different kind of problems?

[2017-10-28 18:52] jkotas commented on #24142
Actually, the exception may be comming from some other component. ServiceBus is on the stack because of it caught and rethrown the original exception. Can you run it under debugger and  see where the exception is thrown from originally?

[2017-10-28 18:57] karelz commented on #24788
@AlexGhiondea here's example of API where we would expose `ValueTuple` from BCL, which would not work well on Framework for light-up scenarios.

[2017-10-28 19:06] chuckb commented on #24142
Here is the complete stack trace:

[code]

[2017-10-28 19:46] karelz commented on #8123
@brunolins16 I sent you collaborator invite, so that we can assign the issue to you. Ping me once you accept the invitation and I will assign the issue to you. Assigning to myself temporarily.
Note: Being collaborator will automatically make you watch the entire repo (500+ notifications per day). I would recommend to change it to "Not Watching" to get only mentions.

[2017-10-28 19:54] karelz commented on #20903
@divega ping?

[2017-10-28 20:15] jnm2 commented on #24591
I'm excited about this, even though it's small. I've run into this multiple times and felt there was no good reason the APIs were missing.

[2017-10-28 20:19] jkotas commented on #24142
It is wrapping the original exception in such a way that the stacktrace of the original exception is lost, unfortunately.

[2017-10-28 20:20] jkotas commented on #24142
It would help to stop at this line in the debugger and look at `exception.StackTrace`.

[2017-10-28 20:26] karelz commented on #24468
Seems to be answered and tracked by #24909. Closing.

[2017-10-28 20:26] #24468 closed

[2017-10-28 20:51] jnm2 commented on #24892
It would have made so much sense to reflect the error code in HResult, but another problem with changing that now is that people will no longer realize that they still need this special case to keep their code from breaking on older platform versions:

[code]

[2017-10-28 21:09] chuckb commented on #24142
Yeah, I'm using vscode on mac.  All was debugging fine, but once I moved up to the master branch of dotnet core, now vscode says symbols cannot be loaded for any of my projects, even though the PDBs are in the debug directory.  So my breakpoints are not working.  Roadblock at every turn.

[2017-10-28 21:14] chuckb commented on #24142
And so it is... https://github.com/OmniSharp/omnisharp-vscode/issues/1796

[2017-10-28 23:20] darrenstarr opened #24940 "Assistance with making first pull request"
I have implemented RIPE160 hashing as documented in the .NET 4.7.1 API reference by porting Antoon Bosselaers's C implementation to C#. As with most security algorithms, it is a bit messy, however I've tested it quite thoroughly.

Is there anyone here who would like to hand-hold me while performing my first pull request? SSH.NET does not compile with .NET Core from the development branch because o

[2017-10-29 00:05] chuckb commented on #24142
Happen to know how to set a breakpoint in lldb for a c# class?

[2017-10-29 01:20] LHCGreg opened #24941 "Segfault when calling Dispose() on a socket asynchronously accepting connections in AssemblyLoadContext.Default.Unloading"
Operating system: Debian Stretch
Tested with both dotnet-runtime-2.0.0 debian package and git master (coreclr SHA 67a66156d0307b49522a13618522d289268bc1f9 and corefx SHA 389d7ee0630e71ff868b4d9ebcdcf8111d5acee3)

Reproduction code: https://gist.github.com/LHCGreg/e2e044ae28f6cb5f786de742378c66ed

Reproduction steps:

[code]

Output:

[code]

A stack trace from lldb:

[code]

The segfault only occu

[2017-10-29 02:56] jkotas commented on #24142
sos bpmd command : https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md

You can also try to this - it will print all exceptions as they are getting thrown:

[code]

[2017-10-29 05:57] jkotas commented on #24940
cc @bartonjs

[2017-10-29 06:00] jkotas commented on #24941
Crash in EventPipeEventProvider
cc @brianrob

[2017-10-29 12:33] stukselbax commented on #24892
@danmosemsft I would like to introduce this kind of breaking change, because it reflect the true value of error. We can preserve the value of **NativeErrorCode**, but we should pass the kind of **HResultFromWin32Error** to the base class. Thus we don't need to duplicate the **ToString()** method of base class, or introduce parameterized version of it. I think that developer should work differently

[2017-10-29 12:41] romanryasne2 opened #24942 "Memory leak when HttpClient.GetByteArrayAsync() is used"
There is no this problem with memory when using HttpClient.GetStreamAsync() and getting byte array manually.

After research of source code I've found HttpClient.GetByteArrayAsyncCore() and here some code from this method:

[code]

As you can see _buffer_ is not disposed after the method returned. May it is a reason of memory leak?

To continue a theme of used memory I run this small program targe

[2017-10-29 13:13] jnm2 commented on #24892
If you were to do this, you should put a noticeable warning in the XML documentation for HResult` that if you are making a decision about the kind of error– such as what logic to use when IOException is due to`ERROR_PATH_NOT_FOUND`– you should try casting to `Win32Exception` and using `NativeErrorCode ` first. Otherwise your logic will be screwed on current and older BCLs.

[2017-10-29 13:33] LYP951018 commented on #23005
With my [proposal](https://github.com/dotnet/corefx/issues/24788) and deconstruction, we could write:

[code]

That should be sufficient.

[2017-10-29 14:32] chuckb commented on #24142
Debugging-instructions.md are fairly useless for actually using lldb to accomplish anything.  There are a few posts here and there that enabled me to figure out how to use it.  But as you can see, lldb can't load managed symbols either.  Arg!

[code]

[2017-10-29 14:54] chuckb commented on #24142
I did use your helpful exception interceptor code.  The transcript is pretty long, but at the beginning, it produced this:

[code]

[2017-10-29 15:14] davidsh commented on #24942
cc: @stephentoub

[2017-10-29 15:22] danmosemsft commented on #24892
CC @stephentoub for his opinion.

What I think of as Win32 error codes are not HRESULTs. They are the relatively small numbers many API return to indicate file not found, etc. So I do not think the behavior is accidental.

(Of course there are many API in Win32 that do return HRESULT and hopefully they don't pass it to the Win32Exception constructor.)

I do not think the compatibility reviewers wo

[2017-10-29 15:22] chuckb commented on #24142
What I do not understand is that when I review the code for SslStreamPal, I can see the code changes renaming MemoryHandle.PinnedPointer to Pointer.   I obviously have the version of MemoryHandle down which affected the renaming.  But I obviously DON'T have the version of SslStreamPal down calling the newly renamed property.  See line 140.

 https://github.com/dotnet/corefx/blob/debf4bcaf4cd8e200c

[2017-10-29 15:46] whoisj commented on #24093
IMO a language (and it's libraries) needs to choose either full, abbreviated names, or go whole hog on the abbreviations (like C with strcmp, memcpy, etc.)

[2017-10-29 16:31] Joe4evr commented on #24093
That would be a breaking change for fairly obvious reasons.

[2017-10-29 18:01] chuckb commented on #24142
4.1.1.0 is the current assembly version for System.Net.Security (in master).  Microsoft.Azure.Ampq is referencing version 4.0.0 for targetframework netstandard1.3.

I am assuming if I bring down Ampq and target netstandard2.1 with a conditional itemgroup of package references being incremented in corefx master, it would work?

[2017-10-29 20:20] krwq commented on #16646
@WinCPP have you build repo from the git root directory first (build.cmd)? I've seen multiple projects having that layout and they worked correctly

[2017-10-29 21:44] stephentoub commented on #24480
Your comments keep focusing on SocketAsyncEngine, but isn't it really that it's just waiting for data that hasn't been provided to the app yet by the OS?

[2017-10-29 21:46] bartonjs commented on #24940
We intentionally cut RIPEMD160 from .NET Core.  If I understand correctly, SSH is designed to allow for algorithm capability negotiation, and a version of SSH.NET built on .NET Standard (or explicitly against .NET Core) would need to simply not support RIPEMD160.  (Or SSH.NET can build it in, or depend on a 3rd party library, et cetera).

[2017-10-29 21:50] LHCGreg opened #24943 "Calling Dispose() on a socket inside a synchronous Accept() on Linux hangs"
Operation System: Debian Stretch
Tested with git master (coreclr SHA 67a66156d0307b49522a13618522d289268bc1f9 and corefx SHA 389d7ee)

Reproduction code: https://gist.github.com/LHCGreg/a8a144da68d59f225a4b2c4bd1cbd05d

This program takes three arguments. First argument is 'async' or 'sync' for whether to call Accept() or AcceptAsync(). Second argument is 'shutdown' to try to stop listening socket

[2017-10-29 21:53] jkotas commented on #24142
The problem is that `2.1.0-preview1-25825-07` Microsoft.NETCore.App package is bad. It contains mismatched bits: the CoreCLR build in it has the renamed property, but the CoreFX build in it does not have the renamed property yet.

[2017-10-29 22:15] jkotas commented on #24142
There is no good package that has the fix you are looking for - all packages with the fix you are looking for have this problem. Could you please wait for the next Microsoft.NETCore.App to show up? It should have this problem fixed. Sorry for all the trouble.

[2017-10-29 22:27] chuckb commented on #24142
Sure.  Such is life on the bleeding edge...

[2017-10-29 22:27] benaadams commented on #24796
Superseded by discussion at https://github.com/dotnet/roslyn/issues/22857

[2017-10-29 22:27] #24796 closed

[2017-10-29 22:53] darrenstarr commented on #24940
I understand it was cut intentionally, but just as MD5 and SHA-1 are needed for compatibility with older systems, RIPEMD160 is a common component for packet authentication in SSH for compatibility with older devices.

I don’t wish to start internal debates over the politics of security concerns, but just as .NET generates warnings (or errors) for using know to be insecure hashes like MD5 and SHA-1

[2017-10-29 22:58] stephentoub commented on #24794
@karelz, that depends on how you want to respond to the question "Can you please use a version number in the file name of System.Native.so (eg. System.Native.2.0.0.so) to avoid conflicts like this?"

[2017-10-30 01:54] weitzhandler commented on #24156
@ianhays
Hence this proposal.

[2017-10-30 02:10] jkotas opened #24946 "Expose RuntimeWrappedException constructor"
High-fidelity interpreters need to create RuntimeWrappedException. There is no public constructor for RuntimeWrappedException today.

# Proposed API
[code]

# Details
The constructor is public in the CoreLib implementation already. It is used by our own `System.Linq.Expression` interpreter (see #24945). This issue is about exposing it in the contract so that 3rd party libraries have access to it a

[2017-10-30 02:42] Jiayili1 commented on #23960
The following test failed with same issue: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171030.01/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpListenerResponseHeadersTests~2FAppendHeader_NullOrEmptyName_ThrowsArgumentNullException(name:%20%5C%22%5C%22)

The test `System.Net.Tests.HttpListenerR

[2017-10-30 02:51] Jiayili1 commented on #21037
Test:  System.Net.Sockets.Tests.SendReceiveApm/SendRecv_Stream_TCP_AlternateBufferAndBufferList failed with same issue, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171030.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveApm~2FSendRecv_Stream_TCP_AlternateBufferAndBufferList(l

[2017-10-30 03:45] gafter commented on #16730
I suggest adding
[code]

[2017-10-30 03:59] whoisj commented on #24093
My comments was mostly tongue and cheek, and hopeful. A 16-bit type for character was a mistake from the start.

[2017-10-30 05:20] danmosemsft commented on #24938
Indeed.

[2017-10-30 06:06] Jiayili1 commented on #24874
failed again in Master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171030.01/workItem/System.Diagnostics.EventLog.Tests/analysis/xunit/System.Diagnostics.Tests.EventLogEntryCollectionTests~2FCheckingEntryInEquality

[2017-10-30 06:11] Jiayili1 commented on #19223
This issue is repo in master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171030.01/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.SafeServiceControllerTests~2FGetServices

[2017-10-30 06:17] davidfowl commented on #24421
The console logger does block if the processing loop falls behind. Are you logging everything? What log filters do you have enabled?

Side note: This bug seems unrelated to the actual title. It would be more useful if there were more specific issues filed in the appropriate places

[2017-10-30 06:26] dotnet-mc-bot opened #24947 "Test: System.Net.Http.Functional.Tests.HttpClientHandlerTest/SendAsync_GetWithInvalidHostHeader_ThrowsException failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandlerTest/SendAsync_GetWithInvalidHostHeader_ThrowsException` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.Net.Http.HttpRequestException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

        --- End of stack trace from previous location where exception was thrown ---

[2017-10-30 06:29] dotnet-mc-bot opened #24948 "Tests under: System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests failed with "System.Runtime.Serialization.SerializationException""
Opened on behalf of @Jiayili1

The test `System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests/RoundtripManyObjectsInOneStream` has failed.

System.Runtime.Serialization.SerializationException : Type 'System.Diagnostics.Tracing.EventSourceException' in Assembly 'System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' is not marked as serializable.

[2017-10-30 06:30] Jiayili1 commented on #24948
Failed tests:
RoundtripManyObjectsInOneStream
ValidateAgainstBlobs
ValidateBasicObjectsRoundtrip

[2017-10-30 06:55] dotnet-mc-bot opened #24949 "Test: System.Threading.Channels.Tests.AsyncMultiReaderUnboundedChannelTests/ValidateDebuggerAttributes failed with "System.InvalidOperationException""
Opened on behalf of @Jiayili1

The test `System.Threading.Channels.Tests.AsyncMultiReaderUnboundedChannelTests/ValidateDebuggerAttributes` has failed.

System.InvalidOperationException : Expected one DebuggerDisplayAttribute on EETypeRva:0x00063A00.

        Stack Trace:

           at System.Diagnostics.DebuggerAttributes.ValidateDebuggerDisplayReferences(Object obj) in E:\A\_work\1598\s\corefx\s

[2017-10-30 06:56] dotnet-mc-bot opened #24950 "Test: System.Threading.Channels.Tests.AsyncSingleReaderUnboundedChannelTests/ValidateInternalDebuggerAttributes failed with "System.NullReferenceException""
Opened on behalf of @Jiayili1

The test `System.Threading.Channels.Tests.AsyncSingleReaderUnboundedChannelTests/ValidateInternalDebuggerAttributes` has failed.

System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

           at System.Threading.Channels.Tests.SingleReaderUnboundedChannelTests.ValidateInternalDebuggerAttributes() in E:\A\_work

[2017-10-30 07:32] Jiayili1 commented on #20223
Following test: System.Net.Sockets.Tests.DnsEndPointTest.Socket_StaticConnectAsync_Success failed with same issue, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_portablelinux_debug/215/testReport/System.Net.Sockets.Tests/DnsEndPointTest/Socket_StaticConnectAsync_Success_type__APM_/

[2017-10-30 08:29] razzemans commented on #24421
Sorry about the title, but I already had many issues open and didn't want to create many more.

This is our current logging config:

[code]

For one application we have the following in the Startup:

[code]

Again though, at the time the issue started it was the middle of the night so there was practically no load on our platform. I've not seen this specific issue before even when there is more lo

[2017-10-30 08:30] razzemans commented on #24421
If you want me to start a new issue for this case, please let me know, I will.

[2017-10-30 08:36] SCKlausZ commented on #24918
@zhenlan Thank you for your reply. I have fetched the source for the wcf repo (and the aspnet/mvc). It doesn't make any difference.
![debugsourcefiles](https://user-images.githubusercontent.com/33118160/32161400-ad57b134-bd55-11e7-923c-1bbf87255d49.png)

[2017-10-30 08:44] SCKlausZ commented on #24918
@danmosemsft Thank you for your reply. VS2017 is able to find the symbols - they are not missing. In the Modules window, I can see that they are loaded from ...\.nuget\packages\... - so they must be distributed with the nuget package.
![modules](https://user-images.githubusercontent.com/33118160/32161726-e99ca64e-bd56-11e7-9c8f-895799d90f12.png)

[2017-10-30 08:57] wizofaus opened #24951 "SqlClient doesn't support "always encrypt" (column encryption setting=enabled)"
SqlClient from .NET 4.6+ supports SQL Server 2016's "always encrypted" option using the connection string option "column encryption setting=enabled". This allows application code to transparently read/write data from columns such that it is automatically encrypted before sending to the database server, in such a way that it cannot be decrypted from other systems without access to the relevant keys

[2017-10-30 09:02] magol commented on #24575
I see `isUnsigned` as a double negation. `isUnsigned=false` is for me the same as `is not signed=false`.
I suggest to change it to `isSigned`.

[code]

[2017-10-30 09:53] CornedBee commented on #24770
It would mean allocation of a temporary KeyValuePair object just to call that method.

[2017-10-30 11:03] stefan-schweiger commented on #19914
@RF77 @marek-safar is there any reason why this issue is not viewable anymore on the xamarin bugzilla?

[2017-10-30 11:19] svick commented on #23005
Regarding `Join`: Is joining several collections on the same key actually that common? What are the use cases?

And I think that LINQ query syntax already handles that case decently:

[code]

---

Regarding `Cross`: That's a special case of `SelectMany`; the example can be written using that as: `bools.SelectMany(b => ints, (b, i) => (b, i))`. What's the advantage of `Cross` over `SelectMany`?

[2017-10-30 11:32] Thaina commented on #23005
@LYP951018 I think that would make it iterate collection too many times. While multiple variable `Zip` will iterate all collection once for each of it

@svick I don't use LINQ syntax so I want the equivalence functionality in LINQ extension method

And it would be the same reason as above. Nesting multiple of it with SelectMany result in repetition of iteration. I wish it should have multi variabl

[2017-10-30 11:43] svick commented on #23005
@Thaina Can't you use `ToList()` to make sure the collections are iterated only once? The methods you propose would very likely have to do the same thing internally.

[2017-10-30 11:53] Thaina commented on #23005
@svick Sorry I was misunderstand. It not really make repeat iteration

Still it make a code become complicate.
Instead of `var (x,y,z) in a.Cross(b,c)` it will become
`var (x,(y,z)) in a.SelectMany((itemA) => b,(itemA,itemB) => (itemA,itemB)).SelectMany((pair) => c,( (itemA,itemB),itemC) => (itemA,itemB,itemC))`

[2017-10-30 12:10] rohan-buchner opened #24952 "System.Net.Http.CurlException: SSL connect error"
I have an n-tier dynamic-ish application that currently builds its elastic indexes I'm app startup, while this was ok to get things going, I'd prefer to have a small CLI application/util that I can later re-use in some scripts and or run ad hoc if i need to do things like, creating a new instance, seeding mock data etc.

When I use the exact same code that worked in my dotnetcore web apps startup,

[2017-10-30 12:11] fredericDelaporte opened #24953 "System.Data.Odbc support of SQL Server datetime2, time, date, datetimeoffset types"
According to [ODBC documentation](https://docs.microsoft.com/en-us/sql/relational-databases/native-client-odbc-date-time/data-type-support-for-odbc-date-and-time-improvements), ODBC supports the SQL 2008+ types like `datetime2`, `date`, `time` and `datetimeoffset`.

But it seems impossible to use them with `System.Data.Odbc` available on MyGet since #13035, excepted `Date`. They look unsupported b

[2017-10-30 12:15] RF77 commented on #19914
Seems to be only visible for specific users, but I've no idea why. Currently the bug is in status confirmed, but without any target milestone. I think @marek-safar  has more information.

[2017-10-30 12:23] SCKlausZ opened #24954 "When calling web service in parallel: "The server returned an invalid or unrecognized response""
Visual Studio 15.3.4
.net core 2.0.0
dotnet-svcutil 0.5.0.0
System.ServiceModel.Http NuGet package 4.4.0

I have created a console app calling a 3rd party web service, using dotnet-svcutil to generate the client.

When I call the server asynchronously in parallel I sometimes get an
    HttpRequestException: An error occurred while sending the request.
with an inner exception:
    WinHttpException

[2017-10-30 13:02] agc93 commented on #3188
@karelz any news on whether this is likely to make it to 2.1? Lack of signal handling is a bit of a pain working with .NET Core daemons in mixed environments :confounded:

[2017-10-30 13:35] #22610 closed

[2017-10-30 14:33] dlech commented on #3188
I though the verdict was that using Mono.Posix was the solution for Unix-specific stuff. https://www.nuget.org/packages/Mono.Posix.NETStandard/1.0.0-beta3

[2017-10-30 15:03] maxtoroq commented on #2295
FYI, I've created a [list of XML libraries, frameworks and tools for .NET](https://github.com/maxtoroq/dotnet-xml)

[2017-10-30 15:06] m1nkeh commented on #8807
does me giving this issue the thumbs-up count as a "vote" ?

[2017-10-30 15:22] stephentoub commented on #24942
No, it doesn't actually need to be disposed.

Do you have a repro for that?  The code you shared is for GetStreamAsync.  What is the "leak" you're observing?

[2017-10-30 15:29] stephen-lim commented on #2295
@maxtoroq Thanks for sharing. Exselt is likely dead because it's been kept in Beta since 2013. I tried contacting them several times and they never replied. XmlPrime is probably out of reach for many because their redistribution license is around USD $6000 per annum. As of now, none of them in the list have announced .NET Core compatibility or have a clear path to do so.

[2017-10-30 15:35] ViktorHofer commented on #24938
Looking now...

Just a note, Dictionary<,> and Hashtable are definitely not trivial types as their serialization path differs on the generic input, the ctor overload, ... We are currently testing Dictionary<,> with a few different generic types. We thought this should cover all paths but it seems Dictionary<string,string> is again specialized.

[2017-10-30 15:39] stephentoub commented on #24892
I'd simply override ToString on Win32Exception and format the data there however we see fit, essentially a tweaked copy of what the base ExternalException class does in its ToString.

[2017-10-30 16:01] danmosemsft commented on #17278
@jonathanfishbein1 have you added a reference to the System.Configuration.ConfigurationManager package?

[2017-10-30 16:03] stephentoub commented on #23141
That would seem to be due to your changes then.  It's currently passing on .NET Core.

[2017-10-30 16:04] stephentoub commented on #23141
Sure, but I'm not sure how you'll be successful at this presently, given that the underlying sockets don't yet have actual support for cancellation enabled.  What is the solution you're attempting?

[2017-10-30 16:06] danmosemsft commented on #3188
@agc93 have you tried Mono.Posix? Is it sufficient?

[2017-10-30 16:08] danmosemsft commented on #24938
This suggests not many people are using binary serialization yet...

[2017-10-30 16:11] karelz commented on #3188
@eerhardt @danmosemsft what is the latest plan & status here?

[2017-10-30 16:11] danmosemsft commented on #24948
@ViktorHofer maybe this was added after you ran the AOT tests
[code]

[2017-10-30 16:12] karelz commented on #24794
That is more a solution discussion than problem description - we can have that discussion easily on the main issue.
Closing as duplicate of #24663.

[2017-10-30 16:12] #24794 closed

[2017-10-30 16:13] nverwer commented on #2295
In the beginning of 2016, Exselt was still alive. I used it and spoke with its creator, Abel Braaksma at [XML Prague](http://www.xmlprague.cz/day3-2016/). However, I think that the lack of (paid) interest has lowered its priority for Abel. Exselt was used in a workshop at XML Prague, and I thought it was pretty good.

[2017-10-30 16:13] ViktorHofer commented on #24948
I fixed that last Thursday. It guess it just needs one more day to ingest into corefx. I expected that :)

[2017-10-30 16:13] ianhays commented on #24156
The breaks are still there, though. The breaks come from introducing a new parent interface to HashSet; whether that is ICountable from #23578 or ICollection doesn't matter all that much.

[2017-10-30 16:14] ViktorHofer commented on #24948
https://github.com/dotnet/corert/commit/10b0019e51edab2c658b5dff09a8386005cffcbf

[2017-10-30 16:15] stephentoub commented on #24938
Across runtimes.

[2017-10-30 16:16] danmosemsft commented on #24948
Ah yes...

[2017-10-30 16:16] #24948 closed

[2017-10-30 16:19] tjaart commented on #3188
Do you know where can I find some example code on using Mono.Posix.NETStandard @dlech ?

[2017-10-30 16:25] wfurt commented on #24480
I have some theories about TCP interaction @stephentoub but I want to do little bit more testing.
I have local repro now and I may try to simplify it without any SQL code.

Just for the record:
[10/27/17, 3:26:35 PM] Gene Lee: Test 0 -- Time Elapsed for Selecting 150000 Rows: 1673 ms
[10/27/17, 3:27:32 PM] Gene Lee: this is for local
[10/27/17, 3:27:35 PM] Gene Lee: Test 0 -- Time Elapsed for Sele

[2017-10-30 16:26] danmosemsft commented on #24918
@SCKlausZ I would try using privately built bits, see if those symbols work better.

[2017-10-30 16:30] weshaggard commented on #24488
@CarlosOnline You need to also install 'System.DirectoryServices.AccountManagement` which is another package that matches the file-not-found error you are seeing.

@CarlosOnline I'm curious why is it that you are trying to write a .NET 4.5.1 class library and consume it from your .NET Core web application? Can you not write a .NET Core or .NET Standard class library?

[2017-10-30 16:31] eerhardt commented on #3188
@tjaart - are you looking for any sample code?  Or specifically signal handling?

For signal handling, you have 2 options:

1. Use Stdlib.SetSignalAction - to set which action should be performed when the signal is raised.  The options are either the default (SIG_DFL), error (SIG_ERR), or ignore (SIG_IGN) handlers.
1. Use UnixSignal to respond to a raised signal:

[code]

Note that it blocks the t

[2017-10-30 16:52] twsouthwick commented on #24822
Yeah, this request is to make it work out of the box with mono (good to know this is a different issue than the one I linked to). If this fix looks good, I can create a PR

[2017-10-30 16:56] #24950 closed

[2017-10-30 17:06] stephentoub commented on #24943
This is the same as https://github.com/dotnet/corefx/issues/20954, and https://github.com/dotnet/corefx/issues/24677.  The native behavior of closing a socket file descriptor while it's being used in a synchronous/blocking accept/connect/send/recv/etc. call is undefined on Linux, and often results in a hang.  There's little we can do about that higher up.

[2017-10-30 17:07] davidsh commented on #24954
A HEAD request should return an HTTP response that has headers but no body.  If you are getting a response body in the HEAD request, as you indicated above, then the server is violating the RFC.  That is probably why you are getting the exception.

[2017-10-30 17:43] ianhays commented on #24445
Similar to https://github.com/dotnet/corefx/issues/23954.

[2017-10-30 17:44] SCKlausZ commented on #24954
@davidsh Thanks for the swift reply. I'll pass the message along to the vendor of the web service, and see if they will change the way they handle the HEAD request.
For now I'll switch to using .net framework instead of .net core.

[2017-10-30 17:47] davidsh commented on #24954
https://tools.ietf.org/html/rfc7231#section-4.3.2

   send a message body in the response (i.e., the response terminates at
   the end of the header section)....

[2017-10-30 17:48] davidsh commented on #24954
cc: @stephentoub @geoffkizer @karelz

[2017-10-30 18:01] geleems commented on #24480
I just meant @wfurt was able to repro the issue (delay) on his machine. Sorry for confusion.

[2017-10-30 18:04] steveharter commented on #24090
An update: this is being actively worked on.

**Roll-forward cases:**
- Also applies when using `--fx-version` to specify the framework version
- The highest assembly version wins (whether app or fx)
- If a tie, the app wins

**Non roll-forward cases:**
- The app version always wins
-- If version is too low, there will likely be an assembly load exception later during coreclr initialization or run

[2017-10-30 18:09] davidsh commented on #24954
For now I'll switch to using .net framework instead of .net core.

From your comment, this appears to be a behavior differences compared w/ .NET Framework.

In .NET Framework, it appears that the response body (which is incorrectly sent by the server) is ignored.  But then that leaves the open, idle, connection unusable for re-use.  .NET Framework routines tests idle connections to make sure they

[2017-10-30 18:55] Petermarcu commented on #24090
Should we allow different app models or apps to state whether they want to have the highest version win even in the non-rollforward case? This may

[2017-10-30 19:02] #23151 closed

[2017-10-30 19:06] karelz commented on #24954
This is something we should have opportunity to relax in ManagedHandler to be compatible with .NET Framework even for "non-compliant servers".

From WinHttpHandler point of view it seems to be by design and there's nothing we can do.

[2017-10-30 19:07] weitzhandler commented on #24156
Then implement it (or a different 'countable' interface) explicitly.
Goal is to mutualize the `Count` property with some other collection types.

On Oct 30, 2017 6:14 PM, "Ian Hays" <notifications@github.com> wrote:

The breaks are still there, though. The breaks come from introducing a new
parent interface to HashSet; whether that is ICountable from #23578
<https://github.com/dotnet/corefx/issues

[2017-10-30 19:45] danmosemsft opened #24960 "Symbols publishing broken"
I do not know why (apparently) this assembly does not have a PDB. Could symbols publishing have previously ignored this? @vancem it may be best to change this to a warning until the issue is solved.

https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1096440

fyi @Anipik

[code]

[2017-10-30 19:49] danmosemsft opened #24961 "Invoke_Instance_And_Static_Method_Win32_Process failed"
This is on regular Windows 8.1 (well, Server 2012)

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171030.02/workItem/System.Management.Tests/analysis/xunit/System.Management.Tests.ManagementObjectTests~2FInvoke_Instance_And_Static_Method_Win32_Process

Seems notepad did not get terminated. Is the WMI "Terminate" asynchronou

[2017-10-30 19:58] pjanotti commented on #24961
Terminate should be synchronous... another possibility is that the same process Id was reused then the call to Get did not throw the expected exception. I will see what we can do to make the test more reliable.

[2017-10-30 20:09] twsouthwick opened #24963 "File URI cannot be parsed with @ sign"
The DocumentFormat.OpenXml library uses System.IO.Packaging to open office related documents. A user posted an issue where one of the package relationships uses a legacy URI format that fails to be parsed. This document opens fine in PowerPoint and would like to be able to open it with the .NET library. The URI in question has the form:

[code]

[2017-10-30 20:10] davidsh commented on #24963
Does this work .NET Framework?

[2017-10-30 20:12] twsouthwick commented on #24963
No. This fails to parse on both .NET Framework and .NET Core.

[2017-10-30 20:15] twsouthwick commented on #24963
Here's a repro:

[code]

And the error:

[code]

[2017-10-30 20:15] vancem commented on #24960
I think @dagood  and I are already fixing this.   See https://github.com/dotnet/buildtools/issues/1739 for why these dont' have a debug directory and  https://github.com/dotnet/buildtools/pull/1771 for a work-around until we fix 1739

[2017-10-30 20:31] dlech commented on #3188
Don't know of any examples. I've just used the documentation as a guide.

http://docs.go-mono.com/index.aspx?link=N:Mono.Unix

[2017-10-30 20:33] kasper3 commented on #9503
Please issue a managed websocket package for Windows Server 2008 R2 and one for Windows 7.
Can it be made available in 2.1 time frame?

[2017-10-30 20:42] weshaggard commented on #24090
Why would the app win? That seems like the wrong direction and likely to still cause issue for anything in the shared framework that depends on this library.

I cannot remember but is roll-forward across minor versions on by default?

Why would the re-target there app to a newer runtime in this case? It seems like they would need to update their app-local dependency to at least match what the runt

[2017-10-30 20:53] eerhardt commented on #24090
This matches the policy of the "non roll-forward" case.  If all other things are equal - the app wins.  This allows for more flexible patching and allows the developer to decide exactly which assembly they want to load.  This is purposefully opposed to the .NET Framework policy where the GAC wins.

[2017-10-30 21:26] weshaggard commented on #24090
There is a high likelihood that we stop changing assembly versions for other reasons and in that world we are asking for trouble if the application wins ties. Perhaps if we also consider file version as well then I could be OK with ties going to the application.

[2017-10-30 21:33] MikeDempseyFL commented on #24829
I'm no expert on tracing but I am currently trying to figure out how to turn on network tracing for sockets - replacing the app.config entries for system.diagnostics with whatever is required to have the same effect in .NET Core.

While looking into this I found that TextWriterTraceListener did not seem to work as expected, but by using DefaultTraceListner I could write the output I expected.

In

[2017-10-30 21:36] ajcvickers opened #24966 "Connections from the pool are not reused when using async methods in parallel"
Moved from https://github.com/aspnet/EntityFrameworkCore/issues/10169 reported by @wertzui

Whem I'm using async methods (like `FirstOrDefaultAsync`) to get a result from the Database inside a `Parallel.For`, the connections are not correctly reused from the connection pool.

The connections will rise to the configured `Max Pool Size` and after some time (around 1-2 minutes on my machine using loc

[2017-10-30 21:37] ajcvickers commented on #24966
I investigated the repro code (linked above) and EF is correctly closing the connections, but it looks like they don't make it back into the pool. This seems like a SQLClient issue.

[2017-10-30 21:38] ViktorHofer commented on #24938
Desktop uses `GenericEqualityComparer<,>`, Core uses `NonRandomizedStringEqualityComparer`:

https://www.diffchecker.com/ZySHrK9V

[2017-10-30 21:39] steveharter commented on #24090
I will re-word my comment. They need to pull the newer version of the fx assembly however they got it to begin with (or source code if they got it that way) because that newer version (or higher) is likely going to be required by other assemblies in the fx at runtime by coreclr. So I meant "re-target" to a newer app local assembly.

[2017-10-30 21:43] danmosemsft commented on #24938
Note that when there have been 100 collisions, if it's using NRSEC, Dictionary changes to the default string comparer. Your tests will never encounter that transition. (See https://github.com/dotnet/corefx/pull/24779). However you should be covering that case so long as we have a test for the default comparer if passed in explicitly.

[2017-10-30 21:48] steveharter commented on #24090
The intent was to avoid silent failures \ mistakes during the development cycle. For the non-roll forward case, if an assembly is dropped in app local and it isn't loaded (because it has a lower version than the fx assembly) then we end up "silently" ignoring their assembly meaning whatever fixes \changes they assumed in their app local copy won't be used.

If we can get an error in some other way

[2017-10-30 21:48] jemiller0 commented on #24829
Do you know if that applies to all instances of TraceSource? If yes, then, maybe it would be possible to use. Otherwise, you need the configuration file because chances are you have many instances of TraceSource and configuring them programmatically isn't feasible.

[2017-10-30 21:56] ViktorHofer commented on #24938
I think the `NonRandomizedStringEqualityComparer` was never meant to be serialized. We introduced code (probably an optimization) which uses it instead of the `GenericEqualityComparer<string>`. I have a potential fix for it which replaces the NRSEC with a GEC<string> in the GetObjectData method.

Drawback: Core --> Core serialization probably looses the optimization.

@jkotas is my assumption corr

[2017-10-30 21:58] weshaggard commented on #24090
I don't like the silent failure mode in either case so that seems like we should figure out a story to enable developers understand what is happening.

[2017-10-30 22:08] jkotas commented on #24938
I think so.

We are losing similar optimizations in other cases (e.g. the enum compared optimizations are lost). I think it is ok to lose the comparer optimization in this case too.

[2017-10-30 22:52] MikeDempseyFL commented on #24829
In my own test I simply used
    **Trace.Listeners.Add()**
rather than creating my own source so the issue is generic from that point of view.

[2017-10-30 23:21] krispenner commented on #23422
Hi,  I don't think I understand the proposed work around.  Both a WebClient and HttpWebRequest fail to follow a 301 Redirect.

Yahoo is giving the same redirect scenario as mentioned above:

This all worked fine for over a year in .NET 4.6.1 but after moving the class library to .NET Standard 2.0 and running within .NET Core 2.0 both options blow up with a WebException.  If I code in the new redir

[2017-10-30 23:34] jcdickinson commented on #14354
@terrajobst - I'm a bit late to the party (sorry), but can't we change the return type of the Add method?

[code]

The params code is clearly there for scenarios where you have multiple fields, e.g.

[code]

However, exactly the same thing can be achieved like this, albeit with one less wasteful array allocation:

[code]

Note that types can also be mixed. This could obviously be done by *not* cal

[2017-10-31 00:31] CarlosOnline commented on #24488
There is no package System.DirectoryServices.AccountManagement

Last time I tried Install-package failed.

Why:
1 - I am building intranet websites.

2 - I am upgrading dotnet 1.0 project to 2.0.

3 - The new spa frameworks all work with dotnet 2.0 via dotnet new.

On Oct 30, 2017 9:31 AM, "Wes Haggard" <notifications@github.com> wrote:

@CarlosOnline <https://github.com/carlosonline> You need to

[2017-10-31 01:36] ahsonkhan commented on #24103
I have updated the original post with the method rename (Contains -> Within) and parameter rename (elementOffset -> elementIndex).

If you get a chance, please update (or remove) the TODOs and remove the WIP. Marking API ready for review.

I will solicit additional feedback (if any) during API review.

[2017-10-31 01:42] jamesqo commented on #14354
@jcdickinson

We already discussed that in the old proposal, and it was rejected.

We are not adding any params overloads? Do a Ctrl+F for "params" on this webpage, and you'll see that your comment is the only place where that word pops up.

I believe that was also discussed somewhere above...

[2017-10-31 01:45] davidsh commented on #24963
Can you point to the relevant RFC for URI's that describe this "legacy" format?  Since both .NET Framework and .NET Core don't support this format, we need to understand more about it.  Most of the URI RFC's we support are in RFC 3986, 3987 (IRIs).

[2017-10-31 02:19] jcdickinson commented on #14354
@jamesqo thanks for the explanation.

I meant `AddRange`, but I guess I there won't be any traction on this.

[2017-10-31 02:41] CarlosOnline commented on #24488
Here is the output from **Install-Package System.DirectoryServices.AccountManagement** into the dotnet core 2.0 project.

In addition the installs from https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.DirectoryServices.AccountManagement also do not work.

[code]

**Install-Package System.DirectoryServices.AccountManagement -Version 4.5.0-preview2-25707-02 -Source https://dotnet.myget

[2017-10-31 02:54] EdiWang commented on #24754
Hi, @danmosemsft

I tried serveral other Apps, the problem is totally fixed! Thank you and the team for your hard work! I think we can close this issue.

[2017-10-31 03:20] danmosemsft commented on #24961
Yes, that could be it. If the PID still exists, you can check the start time of the process has changed.

[2017-10-31 03:33] danmosemsft commented on #24754
Thanks for the update @EdiWang I'm just sorry it broke in the first place. We're trying to figure out why it didn't show up in testing.

[2017-10-31 03:33] #24754 closed

[2017-10-31 03:35] LHCGreg commented on #24943
I see. Sounds like a good reason to stick with async sockets.

[2017-10-31 03:35] #24943 closed

[2017-10-31 03:52] danmosemsft commented on #24445
@davkean do you always want to increase? or ever want to trim?

[2017-10-31 06:18] safern commented on #24488
You would need to change your dependency in your csproj to `System.DirectoryServices` to match the same version or higher than `System.DirectoryServices.AccountManagement`.

Better would be to just remove your dependency to `System.DirectoryServices` in your csproj (remove [this](https://github.com/CarlosOnline/DotNetCore2DirectoryServicesBug/blob/master/spa/spa.csproj#L12)) and add the dependency

[2017-10-31 06:33] chucklu opened #24968 "init-tools.cmd hangs when running out of disk space"
After open the cmd file,I just get the following info.
Installing dotnet cli...

I have checked the log file

[2017-10-31 06:44] Jiayili1 commented on #22434
failed again in Master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171031.01/workItem/System.Net.Security.Tests

[2017-10-31 06:45] Jiayili1 commented on #23098
failed again in Master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171031.01/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.NegotiateStreamTest~2FNegotiateStream_StreamToStream_KerberosAuthDefaultCredentials_Success

[2017-10-31 06:49] dotnet-mc-bot opened #24969 "Test: System.Net.WebSockets.Client.Tests.CancelTest/ConnectAsync_Cancel_ThrowsWebSocketExceptionWithMessage failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.Net.WebSockets.Client.Tests.CancelTest/ConnectAsync_Cancel_ThrowsWebSocketExceptionWithMessage(server: ws://corefx-net.cloudapp.net/WebSocket/EchoWebSocket.ashx)` has failed.

Assert.Throws() Failure
    Expected: typeof(System.Net.WebSockets.WebSocketException)
    Actual:   (No exception was thrown)

        Stack Trace:

        --- End of stack t

[2017-10-31 06:51] Jiayili1 commented on #24912
still failed in master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171031.01/workItem/System.Management.Tests/analysis/xunit/System.Management.Tests.ManagementObjectTests~2FInvoke_Instance_And_Static_Method_Win32_Process

[2017-10-31 07:16] chucklu commented on #24968
Never mind, I have received a system info, I have run out of my disk space.

[2017-10-31 07:18] chucklu commented on #24968
Is it possible for you to check the disk space in script？And echo the error info about the lack of disk space

[2017-10-31 07:23] Jiayili1 commented on #24961
same issue: https://github.com/dotnet/corefx/issues/24912

[2017-10-31 08:34] hanxinimm opened #24970 "StackExchange.Redis.StrongName, Version=1.2.4.0"
The type 'ConnectionMultiplexer' exists in both 'StackExchange.Redis.StrongName, Version=1.2.4.0, Culture=neutral, PublicKeyToken=c219ff1ca8c2ce46' and 'StackExchange.Redis, Version=1.2.6.0, Culture=neutral, PublicKeyToken=null'	Hunter.Authorization.ApiCommandServer

![image](https://user-images.githubusercontent.com/13499426/32214320-66e0c128-be59-11e7-8b7b-656c0ae00ea2.png)

[2017-10-31 08:41] JimboWei opened #24971 "Use Rss20FeedFormatter to deserialize and then serialize cause node docs in Rss feed got missing"
Rss feeds file with node **docs** using `rss20ItemFormatter.ReadFrom()` to Deserialize and then using  `Rss20FeedFormatter.WriteTo()` to serialize , the node <docs> will disappear in result file.
rss feed file :
[code]
Result file :
[code]

I try to **fix the Bug** adding some code after [this line](https://github.com/dotnet/corefx/blob/master/src/System.ServiceModel.Syndication/src/System/Service

[2017-10-31 08:54] SCKlausZ commented on #24918
@danmosemsft OK, I'll build them myself.

[2017-10-31 09:06] Jiayili1 commented on #24768
failed again in 2.0.0 branch, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20171030.01/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.SimpleHttpTests~2FUnknownHeaders_Success(numHeaders:%20100)

[2017-10-31 09:09] Jiayili1 commented on #12228
This test failed in 2.0.0 branch, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20171030.01/workItem/System.Transactions.Local.Tests/analysis/xunit/System.Transactions.Tests.AsyncTransactionScopeTests~2FAsyncTSTest(variation:%2012)

[2017-10-31 09:10] wfurt commented on #24480
I think the key part is fact that the client side sets buffer size to 8000 @stephentoub
(that can probably be traced to Packet Size=xXX @sdb-dev mentioned)

Now since lo on Linux has MTU 65000, single large packet can fill up buffer and causing TCP window to shrink to 0 as there is no space left to receive more data. In captures I look at, TCP segment size is actually 8064 - 8000 bytes of data and

[2017-10-31 09:10] Jiayili1 commented on #22091
failed again in 2.0.0 branch, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20171030.01/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.IO.Tests.PathTests~2FGetFullPath_Windows_83Paths

[2017-10-31 09:11] Jiayili1 commented on #22092
failed again in 2.0.0 branch, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20171030.01/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.IO.Tests.PathTests~2FGetInvalidFileNameChars_OtherCharsValid

[2017-10-31 09:11] Jiayili1 commented on #22093
failed again in 2.0.0 branch, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20171030.01/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.EnvironmentTests~2FGetSystemDirectory

[2017-10-31 10:53] nietras commented on #24103
@ahsonkhan I have revised the proposal and added new cases and checks to remove the last edge cases. Didn't have time to add more examples, hope this is good enough for review.

[2017-10-31 11:42] svick commented on #14354
@jcdickinson `AddRange` was in the original proposal, but it's not in the current version. It was rejected by API review (see https://github.com/dotnet/corefx/issues/14354#issuecomment-308190321 by @terrajobst):

[2017-10-31 12:26] poizan42 commented on #24963
That looks more like a UNC path naively prefixed with "file:///" than any sort of valid URI. Maybe OpenXML should do its own parsing if it need to support that?

[2017-10-31 12:52] pjanotti commented on #24912
Actually I misdiagnosed this first round: what seems more likely is that the process Id is getting recycled fast enough. I will add some code to ensure that doesn't happen.

[2017-10-31 13:53] MikeDempseyFL commented on #5982
How can we turn on Network Tracing for the System.Net.Sockets.Socket class?
This was previously done using entries in app.config, with help from an entry in machine.config.
In **DiagnosticsConfiguration** I see it is still using **ConfigurationManager.GetSection("system.diagnostics")** but I can't figure out how to get the required information into the Configuration for it to use.
Are there any do

[2017-10-31 14:15] davidsh commented on #5982
In .NET Core, the network tracing is completely different. It is based on ETW.  It is not turned on via an config file.

See:
https://github.com/dotnet/corefx/blob/master/Documentation/debugging/windows-instructions.md

[2017-10-31 15:06] #24938 closed

[2017-10-31 15:42] galvesribeiro commented on #13309
Is there any progress on this issue? I'm getting it here  as well...

[2017-10-31 15:48] khyperia opened #24973 "Closing NamedPipeServerStream does not cancel WaitForConnection on Linux"
As far as I can tell, there is _no_ way to cancel a WaitForConnection call on Linux.

Repro code: https://github.com/khyperia/UnixDomainSocketTest/blob/81d792a083da340a28795054665390c7a7417ef9/Program.cs#L52-L81 - run with `dotnet run closeserver`

Expected behavior, and actual behavior on Windows:

[code]

Actual behavior on Linux:

[code]

Related: https://github.com/dotnet/corefx/pull/24798

(w

[2017-10-31 16:00] stephentoub commented on #24973
Using the synchronous WaitForConnection does a synchronous `accept` on the underlying socket; closing a socket file descriptor while in use in a synchronous/blocking `accept`/`connect`/`recv`/`send` has undefined behavior in BSD Sockets, and typically hangs on Linux.

WaitForConnectionAsync, however, takes a CancellationToken.  If you want to be able to cancel the operation, you should use that ra

[2017-10-31 16:16] stephentoub commented on #24973
That said, https://github.com/dotnet/corefx/pull/24798 might mitigate this for you, anyway, as it itself uses AcceptAsync() instead of Accept for WaitForConnection().

[2017-10-31 16:16] danmosemsft commented on #24918
@SCKlausZ to consume self built bits, this may be helpful:
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

Also I notice you have VS 15.3. I would try updating to the latest (15.4 or a subsequent preview) to see if it resolves the symbols issu.e

[2017-10-31 16:21] iremolmezses opened #24974 "ITestOutputHelper throws exception incorrectly claiming "There is no currently active test""
When running all tests that use ITestOutputHelper together, an InvalidOperationException is thrown by xunit as shown below.

![image](https://user-images.githubusercontent.com/20420478/32235360-8f07d212-be5f-11e7-9546-c8514b33c0be.png)

Strangely, when these tests are run separately, they are passing with expected logs.

Any idea why it’s claiming that there is no active test as call stack clearly

[2017-10-31 16:22] iremolmezses commented on #24974
Sorry, filed in wrong project.

[2017-10-31 16:22] #24974 closed

[2017-10-31 16:29] jcdickinson commented on #14354
@svick - that's what I get for working late, read the two proposals the wrong way round :). Thanks!

[2017-10-31 16:30] khyperia commented on #24973
Fantastic, thanks for the advice. Turns out that us using `WaitForConnection` (non-async) was just legacy from when that API was not available, and we've since upgraded.

[2017-10-31 17:10] terrajobst commented on #22412
This is now tracked as part of other work item.

[2017-10-31 17:10] #22412 closed

[2017-10-31 17:36] danmosemsft commented on #24968
@chucklu would you like to offer a PR?

[2017-10-31 17:46] terrajobst commented on #23862
We don't want to add the bulk methods. We believe it could become a performance trap and it invites having to keep `Span<T>` and `Memory<T>` in sync.

[code]

We should probably rename `SpanExtensions` to `MemoryExtensions`.

[2017-10-31 18:17] saurabh500 commented on #8807
We are working with the SQL Security team for a AAD auth solution which can work cross platform for .Net Core and which can have a decoupled design for SqlClient in .Net core so that the users who are not using AAD Auth don't need a dependency on all the AAD dependency.
For AAD Auth on Windows, the design was very tightly coupled with a dependency on an additional DLL written in Native Code which

[2017-10-31 18:18] benaadams commented on #24103
`out int relativeByteOffset`?

[2017-10-31 18:21] terrajobst commented on #24103
We seem to believe `Overlaps` seems like a good addition (having both overloads), but it looks like `Within` is redundant/not any faster.

[code]

[2017-10-31 18:21] benaadams commented on #24103
`out int byteOffset`? then copes with misaligned

`CompareTo` uses

Value | Meaning
-- | --
Less than zero | This instance precedes obj in the sort order.
Zero  | This instance occurs in the same position in the sort order as obj.
Greater than zero | This instance follows obj in the sort order.

[2017-10-31 18:31] ektrah commented on #24103
Should there also be overloads for Span\<T\> as the first parameter?

[code]

Otherwise you have to cast every Span\<T\> to ReadOnlySpan\<T\> first:

[code]

[2017-10-31 18:36] terrajobst commented on #23879
We just decided to rename this type. Reason being that *memory* is the over arching name for this feature.

[code]

[2017-10-31 18:37] Tratcher opened #24977 "Add asynchronous overload of WindowsIdentity.RunImpersonated"
https://github.com/dotnet/corefx/issues/9996#issuecomment-307870746
https://github.com/aspnet/Home/issues/1805#issuecomment-339442334

ASP.NET Core is getting many requests for users that want to impersonate the authenticated user of the request and perform actions on their behalf. The main problem is that many of these actions are asynchronous, such as database access, but RunImpersonated is sync

[2017-10-31 18:39] danmosemsft commented on #19110
It seems to be fixed on IoT and latest nano.
https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20171030.01/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.EnvironmentTests~2FGetSystemDirectory

[2017-10-31 18:40] Tratcher commented on #9996
Filed https://github.com/dotnet/corefx/issues/24977 for async impersonation.

[2017-10-31 18:42] danmosemsft commented on #12228
@qizhanMS @jimcarley where would I expect to see the logging? The XML just has
[code]

https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20171030.01/workItem/System.Transactions.Local.Tests/wilogs

This is not a high impact failure but if you added logging it would make sense to use it if we can find it..

[2017-10-31 18:44] terrajobst commented on #24296
We went back and forth, but it seems we're in agreement that these can be useful. We shouldn't expose static types `Span` and `Memory` in `InteropServices`. Instead, we should add them to the new [`MemoryMarshal` type](https://github.com/dotnet/corefx/issues/23879#issuecomment-340861229).

[2017-10-31 18:45] weshaggard opened #24978 "We should point to the release/2.0.0 version of standard"
We are not planning to ship a new stable version of the NETStandard.Library package in the 2.1 timeframe so we need to stick with what is currently shipping from the release/2.0.0 branch in standard repo.

[2017-10-31 18:46] weshaggard commented on #24978
Need to do this in the other core branches as well (coreclr, core-setup, source-build).

[2017-10-31 18:58] stephentoub commented on #24977
Note that ExecutionContext in .NET Core does not flow impersonation.  The requested functionality could hopefully be achieved with an AsyncLocal and a valueChangedHandler that took care of impersonating and reverting the impersonation, but it would need to be prototyped.
cc: @kouvel

[2017-10-31 19:06] nietras commented on #24103
@ektrah `Span` implicitly converts to `ReadOnlySpan`
[code]

@terrajobst fair enough. Guess we´ll have to prove that wrong if not 😉 Shall I update the proposal to show only `Overlaps` has been approved? I also want to add that alignment exception is only thrown if there is overlap **and** misalignment.

@benaadams cast to `Span<byte>` then check. I believe the current API shape fits most users exp

[2017-10-31 19:08] ektrah commented on #24103
@nietras  Yes, except if you use extension method syntax.

[2017-10-31 19:12] nietras commented on #24103
@ektrah yeah I updated my comment two seconds after that realizing that. My
mistake. I think it would be good to add these overloads too, otherwise
they become too cumbersome.

On Oct 31, 2017 8:08 PM, "ektrah" <notifications@github.com> wrote:

[2017-10-31 19:48] ahsonkhan commented on #24564
@terrajobst, marking this one as approved as per the API review today (that got cut off).

[2017-10-31 19:55] dalesmithii opened #24981 "ent singleton"

[2017-10-31 19:55] ahsonkhan commented on #24103
@mgravell, FYI

[2017-10-31 19:56] CalArabshahi commented on #5982
To my knowledge ETW is a Windows only technology. Is there a way to turn on Network Tracing (i.e. Socket Tracing) on Linux and macOS? preferably using external configuration settings similar to
[.NET Framework Network Tracing](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/how-to-configure-network-tracing)

[2017-10-31 19:58] davidsh commented on #5982
There is no "config file" mechanism in .NET Core.

On .NET Core, tracing is done with .NET EventSource.  On Windows, this translates to Windows ETW.  On Linux, it translates to something else.

@stephentoub can assist further with how to enable Linux tracing for networking.

[2017-10-31 20:01] twsouthwick commented on #24963
@poizan42 may be right. Looks like this is a WebDAV path expressed as a UNC path (see https://en.wikipedia.org/wiki/Path_(computing)) with `file:///` prepended. Office seems to be able to handle it, but I can't find any documentation for what the format is.

[2017-10-31 20:01] vancem commented on #5982
On Linux EventSource data goes to Lttng.  There is a script called 'PerfCollect' that wraps this

See
https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/linux-performance-tracing.md

For detailed instructions.

@brianrob

[2017-10-31 20:13] karelz commented on #13309
@galvesribeiro it was closed as "not reproducible" based on the comments above. If you have repro, which repros everywhere or if you have a fix, please let us know.

[2017-10-31 20:16] ahsonkhan commented on #22412
For reference, here is the enum now:
https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/Buffers/OperationStatus.cs#L11

[code]

Are we happy with the field names as is?

[2017-10-31 20:18] galvesribeiro commented on #13309
@karelz I noticed that it happens on my office network but not on my home one.

It looks like the OSX DNS can't resolve by itself its own hostname so it rely on the DNS configured to it.

![image](https://user-images.githubusercontent.com/4714040/32246868-889be578-be67-11e7-88e4-75acd8349f76.png)

If the hostname DNS can't be resolved by the DNS server (the wifi router in this case) then we have a

[2017-10-31 20:27] craigajohnson commented on #19773
AssemblyLoadContext is convenient and fast. However, the inability to unload a context causes enormous problems for plug-in scenarios. Orphaned contexts reside in memory until the process is dumped.

It's disappointing this didn't make it for 2.0. Is there an issue somewhere that is being tracked (or is THIS the issue)?

@terrajobst any ideas on progress here?

[2017-10-31 21:12] danmosemsft commented on #13309
"Device not configured" is what strerror gives for ENXIO, which is what we are supplying it for the HostNotFound case:
[code]
I see in some configurations ENXIO produces "No such device or address" which probably why it was used for HostNotFound. Perhaps that changed in recent versions of macOS? It could use EHOSTUNREACH (something like "No route to host") but of course that's not the same - the h

[2017-10-31 21:25] jcdickinson commented on #14354
@gimpf I went ahead an [polyfilled the proposal with xxHash32](https://github.com/k2workflow/Clay/blob/master/src/SourceCode.Clay/HashCode.cs). Feel free to grab that implementation.

[2017-10-31 22:19] stephentoub opened #24985 "Operations on default(Memory<T>) throw argument null exceptions"
e.g.
[code]
throws an `ArgumentNullException`, due to the implementation passing `null` to `ArraySegment`'s ctor.  How do I know whether I can use `_buffer` or not?  Should `TryGetArray` in this case return `false`?  What about accessing `_buffer.Span`... it similarly throws, but should it just return an empty span?  Or do we need a new property on it that tells me whether it's valid for use with

[2017-10-31 22:28] marek-safar commented on #19914
@RF77 it should be visible to anyone now

[2017-10-31 22:30] KrzysztofCwalina commented on #24985
It would be nice if default memory would be equivalent to empty memory. I wonder what the perf implication of this would be.

[2017-10-31 22:33] geleems commented on #24480
@stephentoub @wfurt @davidsh
In Linux, it seems default MTU for localhost is 1500, and 65536 for remote.
If local MTU is smaller than or equal to client buffer size, we don't see any slowness.
But the local MTU is larger than the buffer size, we see perf drawback.
***I am wondering if this slowness is normal in network socket when buffer size is smaller then MTU.***

[2017-10-31 22:40] danmosemsft commented on #24981
@dalesmithii was this opened inadvertently?

[2017-10-31 22:40] #24981 closed

[2017-10-31 22:41] danmosemsft commented on #24973
This seems resolved then..

[2017-10-31 22:41] #24973 closed

[2017-10-31 22:45] danmosemsft commented on #13309
I'll reactivate this for that suggestion.

[2017-10-31 23:00] galvesribeiro commented on #13309
![image](https://user-images.githubusercontent.com/4714040/32252820-8506e73e-be7e-11e7-9b44-d705019920f5.png)

[2017-10-31 23:08] AtsushiKan opened #24986 "UTF8Parser parsing integers with 'N' format not implemented."
Left-over debt from productizing Utf8Parser.

Some questions need to be resolved (be compatible with .NET or actually insist that you know, commas appear only every third digit?)

This affects at least 8 overloads (U/Int8/16/32/64).

[2017-10-31 23:09] AtsushiKan opened #24987 "UTF8Parser parsing TimeSpan not implemented."
Left over debt from productizing Utf8Parser.

Left undone for time reasons.

[2017-10-31 23:12] dalesmithii commented on #24981
@danmosemsft It was, apologies. Not sure how that happened.

[2017-11-01 01:36] #24912 closed

[2017-11-01 03:07] h0useRus commented on #17299
Is any plans to introduce HttpMethod.Patch in 2.1 ?

[2017-11-01 03:34] stephentoub commented on #24985
Yes, making it so that `Empty` as `public static Memory<T> Empty => default;` would "just work" would be the ideal, and mirrors `Span`'s implementation.

I don't think we can ship `Memory<T>` in its current state, where operations like `TryGetArray` on `default` fail; `TryGetArray` on `default` should return false.  Similar issues exist for the `Span` property; on a default `Memory<T>`, it should

[2017-11-01 03:54] ahsonkhan commented on #24985
Can you please expand on this? How would that work?

[2017-11-01 04:09] stephentoub commented on #24985
The various methods like `TryGetArray` would need to check whether `_arrayOrOwnedMemory` was null, e.g. the current code in TryGetArray:
[code]
would change to:
[code]
Then `Memory<T>.Empty.Equals(default)` would be true, `Empty.Length` would continue to return `0`, you could call methods like `TryGetArray` and access properties like `Span` on `Empty`/`default`, etc.  It's actually strange to me t

[2017-11-01 04:23] saurabh500 commented on #8807
Also what kind of auth satisfy your requirements more? Fedauth username and password or integrated auth?

[2017-11-01 04:49] anthonywanted opened #24990 "TcpClient bug in branch release/1.1.0 (Unix)"
https://github.com/dotnet/corefx/blob/release/1.1.0/src/System.Net.Sockets/src/System/Net/Sockets/TCPClient.Unix.cs
and
https://github.com/dotnet/corefx/blob/release/1.1.0/src/System.Net.Sockets/src/System/Net/Sockets/TCPClient.cs

ConnectAsync(string, int) will call ConnectAsyncCore(host, port);
ConnectAsync(IPAddress[], int) will call ConnectAsyncCore(IPAddress[], int);
ConnectAsync(IPAddress, i

[2017-11-01 06:27] Jiayili1 commented on #22996
Following test failed with same issue, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171101.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandlerTest~2FSendAsync_GetWithValidHostHeader_Success(withPort:%20True)

The test `System.Net.Http.Functional.Tests.HttpC

[2017-11-01 06:31] dotnet-mc-bot opened #24993 "Test: System.ServiceProcess.Tests.ServiceBaseTests/TestOnExecuteCustomCommand failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.ServiceProcess.Tests.ServiceBaseTests/TestOnExecuteCustomCommand` has failed.
[code]
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171101.01/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.ServiceBaseTests~2FTestOnExecu

[2017-11-01 08:11] madrianr commented on #24977
Is it true that we cannot expect such a feature in a short period of time?
can you give us a timeframe?

robert

[2017-11-01 09:15] m1nkeh commented on #8807
hi @saurabh500 , my requirement is AAD that differs from the log on to my machine (i think this is fedauth ye?) the reason for this is that i work with many clients, and need to log in to multiple Azure AD instances from time to time... so this is my primary requirement.

Regarding platform, i would say that Windows would satisfy my requirement very well, however i am contemplating moving over to

[2017-11-01 10:33] PKGeorgiev commented on #2089
Will System.DS port be compatible with RODC servers (Read-Only Domain Controllers)?

[2017-11-01 12:47] stephentoub opened #24994 "Multi-server System.IO.Pipes tests hanging on OSX"

[2017-11-01 12:50] devsko commented on #24346
Does this mean the intrinsics will be only available in netcorapp? It would be great to use them also in WPF or UWP.
(Sorry, I am still confused about what this standard/shared/common stuff really means)

[2017-11-01 12:52] stephentoub commented on #24874
Failed again here:
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/0a16ce865e5921d9c9351bf912f0293b4a3a80fe/workItem/System.Diagnostics.EventLog.Tests/analysis/xunit/System.Diagnostics.Tests.EventLogEntryCollectionTests~2FCheckingEntryEqualityAndIndex
[code]

[2017-11-01 12:54] stephentoub commented on #24990
@anthonywanted, can you share a repro?  Are you concerned that a PlatformNotSupportedException is being thrown, or are you concerned about the message in the PNSE?

[2017-11-01 14:43] anthonywanted commented on #24990
Once I call client.Client, ConnectAsync(string, int) will throw a PNSE, even though I pass a ip string
So easy to reproduce the bug

TcpClient client = new TcpClient();
client.Client.NoDelay = true;
client.ConnectAsync(“127.0.0.1”,80); //Throw PNSE

Changing client.Client.NoDelay to NoDelay, everything works fine

The reason is what I said above.

[2017-11-01 14:54] rgbattersby commented on #8807
OSX support would be very well received in my business.

[2017-11-01 15:32] pjanotti commented on #24961
Related merge, #24975, should have fixed this (assuming that the diagnostic of pid re-use was right).

[2017-11-01 15:50] stephentoub commented on #24900
https://github.com/dotnet/corefx/pull/24997
https://github.com/dotnet/coreclr/pull/14789
https://github.com/dotnet/corert/pull/4855

[2017-11-01 15:53] stephentoub commented on #24900
I went through and annotated types where the fields were already readonly, plus a few types like nullable, but someone who's interested can do a follow-up sweep through types to fix up field annotations and then add the type-level annotation... presumably Decimal would be on that list.  DateTimeOffset can't in its current implementation be made readonly, as one of the fields is written to from out

[2017-11-01 15:54] lambdageek opened #24998 "Enhance System.Type.FullName to return non-null for open generic types."
Consider

[code]

Currently `typeof (Bar<>).BaseType.FullName` returns `null`, as documented here https://docs.microsoft.com/en-us/dotnet/api/system.type.fullname?view=netcore-2.0#System_Type_FullName):

I propose that instead `Type.FullName` is changed on .NET Core, .NET Framework and Xamarin to return a sensible string representation of open generic types.  For the example above, for example, a

[2017-11-01 16:03] weshaggard commented on #24978
coreclr doesn't consume standard.
corefx PR https://github.com/dotnet/corefx/pull/24999
core-setup PR https://github.com/dotnet/core-setup/pull/3380
versions PR https://github.com/dotnet/versions/pull/200

[2017-11-01 16:05] weshaggard commented on #24346
@devsko that is correct. This will only be available initially for netcoreapp, and then we will decide if we should port it to .NET Framework.

[2017-11-01 16:05] #24346 closed

[2017-11-01 16:08] danmosemsft commented on #24900
@jaredpar why can the compiler not treat a struct with all readonly fields as if it was marked readonly? (At least for optimizations - I guess the marker also has value in flagging any changes to make fields writeable)

Analogous to static or abstract on all members implying it on the type.

[2017-11-01 16:27] danmosemsft commented on #24993
Need a local repro. I see it may have written to Debug.WriteLine.

[2017-11-01 16:57] brentschmaltz commented on #24977
@Tratcher @stephentoub @madrianr are we discussing Integrated Windows Auth (IWA) ?

[2017-11-01 17:06] Tratcher commented on #24977
Primarily Kerberos for the delegation capabilities.

[2017-11-01 17:10] brentschmaltz commented on #24977
@Tratcher in other runtimes, we set the thread identity and ran the entire call graph under that identity. Then when exiting that call, we reverted the threads identity.
Don't know if that model works in core.

[2017-11-01 17:15] Tratcher commented on #24977
How did that flow to the async actions?

[2017-11-01 18:29] terrajobst commented on #16352
@rkeithhill

Might be reasonable. Please file a separate issue for that.

[2017-11-01 19:36] stephentoub commented on #24900
@danmosemsft, the compiler doesn't necessarily know about the fields.  For example, when writing code against `DateTime`, you're compiling against the `DateTime` from ref assembly, at which point there are no fields.

[2017-11-01 19:39] karelz commented on #24755
@Anipik is master fully fixed by PR #24855?

[2017-11-01 19:45] #24670 closed

[2017-11-01 19:47] YohDeadfall commented on #24900
@stephentoub I think that @danmosemsft asking about a bit different thing. The compiler can mark a struct as readonly if all its fields are readonly when compiling that struct. So the following `ReadOnlyStruct` struct's implementations are equivalent.

[code]

[2017-11-01 19:53] sharwell commented on #24900
@VSadov I'm not understanding the benefits such a change would have on the C# language. Unlike `ValueTuple<T>` (and related), the `Nullable<T>` type exposes no writable properties and no fields. The API itself mandates purity without regard to the definition of the type itself.

[2017-11-01 20:06] brentschmaltz commented on #24977
@Tratcher within a process (or appdomain) the new thread has the identity associated with the thread that spawned it. Cross thread or appdomain requires serializing. Cross process shouldn't be used because the NTTOKEN is just a handle and the values are only unique within a process. A windowsIdentity hydrated could point a different user. Very unlikely as the handle would have to be a handle to an

[2017-11-01 20:09] stephentoub commented on #24900
That's the second part of what I wrote:

If the readonly-ness is implict, then it becomes a breaking change to remove readonly from a field when every other field is also readonly, as someone could have taken a dependency on it even though it wasn't intended to be a publicly visible fact.  This would also wreak havoc on ref assemblies, where every struct could be marked readonly implicitly due to

[2017-11-01 20:24] AtsushiKan commented on #24987
Never mind, found the time.

[2017-11-01 20:24] #24987 closed

[2017-11-01 20:27] AtsushiKan commented on #24998
`Type.FullName` is designed to round-trip with strings passed to `Type.GetType(String)`. That's why types that embed generic type parameter return null. There's no string you can pass to `Type.GetType(String)` that will retrieve a generic type parameter. `ToString()` is what you want to use when you need something that's human-descriptive.

[2017-11-01 20:29] karelz commented on #24970
It does not seem to be related to CoreFX repo, but rather to StackExchange.Redis. Please ask the question on their repo/forum/SO.

[2017-11-01 20:29] #24970 closed

[2017-11-01 20:30] karelz commented on #24994
@stephentoub do you have any details / pointers? Are those older tests? New tests?

[2017-11-01 20:32] karelz commented on #22412
Where is the main API approval issue? I can't find it ...

[2017-11-01 20:48] lambdageek commented on #24998
`Type.GetType(String)` doesn't roundtrip with `Type.FullName` - at best `Type.AssemblyQualifiedName` may roundtrip - but of course maybe you got the type from a reflection-only assembly in which case the best you can really say is that `Type.ReflectionOnlyGetType(String)` may roundtrip with `Type.AssemblyQualifiedName`.

In short: I don't know what `Type.FullName` is for, but it's certainly not fo

[2017-11-01 20:51] stephentoub commented on #24994
They're new: https://github.com/dotnet/corefx/pull/24995

[2017-11-01 20:53] Tratcher commented on #24977
And threadpool threads? That's where most of this code runs.

[2017-11-01 21:04] philippweidhas opened #25002 "How to build CoreFX for x86 Linux"
Hallo there im looking for a guide or a way to build the CoreFX project for an x86 Linux based Project.
I have already sucessfully build coreclr for x86 following these  [CoreCLR build guide](https://github.com/dotnet/coreclr/issues/13192#issuecomment-320188913).
Now i need something like that for CoreFX,
Im thankful for help.

Greetings from Germany

Philipp

[EDIT] Fix link by @karelz

[2017-11-01 21:20] stephentoub commented on #24994
It's the MultipleWaitingClients_ServerServesOneAtATime test I added; it's buggy.  I'll fix it.

[2017-11-01 21:33] brianrob commented on #24941
@LHCGreg, just to confirm, is this deterministic?

[2017-11-01 21:42] weshaggard commented on #24978
Done

[2017-11-01 21:42] #24978 closed

[2017-11-01 21:44] grant-d opened #25005 "System.Json bugs and perf issues"
We're using `System.Json` quite extensively and have run into a couple of issues. Some looks like design (inconsistency) issues, some may be code bugs.

1. **Possible design bug**: Inconsistent handling of `null` array members:
  This works as expected:
[code]
  This alternative pattern `throws` inside `Add` due to an explicit `null` guard:
[code]
  I see that the units support this behavior, but

[2017-11-01 21:51] brianrob commented on #24618
We now have an initial mirror in place, but there are some things that will need to be fixed.  @safern is going to look at this next week.

[2017-11-01 22:04] AtsushiKan commented on #24998
It round-trips for types defined in the current assembly or the core assembly, as well as round-tripping with Assembly.GetType(string).

(And yes, `AssemblyQualifiedName` roundtrips as well (it's a concatenation of the assembly name and the `FullName` string.))

[2017-11-01 22:15] davkean commented on #24445
I can see cases where we might want to trim for long lived dictionaries that end up becoming read-only, but for the most part we only wanted increases only.

[2017-11-01 22:16] Anipik commented on #24690
@danmosemsft should I close this issue now ?

[2017-11-01 22:16] lambdageek commented on #24998
Hm. Well fair enough.

[2017-11-01 22:16] #24998 closed

[2017-11-01 22:36] danmosemsft commented on #25005
@grant-d we ported System.Json  to make it possible to port existing code that already uses it. If you can, we  recommend using a different, higher performance Json serialization library like Newtonsoft.JSON. Is that an option?

[2017-11-01 22:37] danmosemsft commented on #25005
We would consider PR's though if they have minimal risk of breaking other users.

[2017-11-01 22:40] grant-d commented on #25005
I personally don't consider Newtonsoft to be higher-performance as it is reflection and string heavy. I have had better performance results from `System.Json` ever since it landed in `corefxlab`; it is much closer to the wire.

[2017-11-01 22:50] LHCGreg commented on #24941
@brianrob : The segfault reliably occurs 100% of the time for me under the conditions described. In particular, it only occurs when the socket is disposed from an AssemblyLoadContext.Default.Unloading handler. Happy to produce any more info or logging or debugging you need if you're not able to reproduce.

[2017-11-01 22:58] shmao commented on #24265
The fix for UWP toolchain had been checked in.

[2017-11-01 22:58] #24265 closed

[2017-11-01 23:20] Drawaes commented on #24866
This is fixed by #24883

[2017-11-01 23:20] #24866 closed

[2017-11-01 23:20] shmao commented on #20910
@arpit-nagar I'm closing the issue. Please feel free to re-open this if you're still having the issue.

[2017-11-01 23:20] #20910 closed

[2017-11-01 23:24] Drawaes commented on #23879
@stephentoub are you adding this class? I am happy to do it for #24296 now if you want, unless you have started?

If you haven't and want me to add it, shall I put it in the System.Memory solution along side the rest of the Span/Memory code ?

[2017-11-01 23:28] grant-d commented on #25005
Newtonsoft comparative benchmarks added (using `JToken.DeepClone`/`DeepEquals`)
I am not sure whether the allocs on my code are coming from, will investigate

[2017-11-01 23:37] shmao commented on #19727
@huanwu can you please try passing the specific generic type via the new `SerializationType` parameter and see if it works?

[2017-11-01 23:38] shmao commented on #19721
We don't see any user case of using XmlSerializer with recursive collections. Closing the issue.

[2017-11-01 23:38] #19721 closed

[2017-11-01 23:39] #19720 closed

[2017-11-01 23:45] shmao commented on #13766
@huanwu did https://github.com/dotnet/corefx/pull/18761 fix this issue?

[2017-11-01 23:47] shmao commented on #10593
I added test project for this. Closing the issue.

[2017-11-01 23:47] #10593 closed

[2017-11-01 23:50] shmao commented on #10591
We ported quite a few tests from full framework and didn't see any issue related to this.

[2017-11-01 23:50] #10591 closed

[2017-11-01 23:51] rianjs opened #25008 "Should Directory.GetDirectories (and related methods) take a StringComparison overload?"
This matters less on Windows, but it's more significant on platforms where case-sensitive filesystems are more common.

[2017-11-01 23:54] shmao commented on #10589
XmlSchemaObject is available in Net Standard 2.0. We should consider to make reflection based serialization to support the serialization of the type.

[2017-11-01 23:57] grant-d commented on #25005
Benchmark comparing `Newtonsoft.Linq.JObject.Parse` to `System.Json.JsonValue.Parse`:
(Roughly equal in performance)

[code]

[2017-11-01 23:58] grant-d commented on #25005
Benchmark comparing `Newtonsoft.Linq.JObject.ToString to System.Json.JsonValue.ToString:
(Roughly equal in performance)
[code]

[2017-11-02 00:10] shmao commented on #1440
We ported many tests from full framework to corefx. The current test coverage for System.Runtime.Serialization.* is 84%.

[2017-11-02 00:10] #1440 closed

[2017-11-02 00:10] #21187 closed

[2017-11-02 03:11] WinCPP commented on #16646
@krwq I did a rebase with dotnet/master, cleaned and did a .\build.cmd, just to ensure everything is built. But still the tests failed as I mentioned in previous comment i.e. by executing `msbuild /t:RebuildAndTest" in the folder `src\System.Private.Xml\tests\XPath\XPathDocument`

I found that executing `.\build.cmd src\System.Private.Xml\tests` at the root of the CoreFx repo worked and so did `.\

[2017-11-02 03:12] ahsonkhan commented on #24985
How will checking for null on various Memory\<T\> methods lead to Memory\<T\>.Empty == default?

Memory\<T\>.Empty => array = T[0]
default(Memory\<T\>) => array = null

[2017-11-02 03:43] #24994 closed

[2017-11-02 04:03] stephentoub commented on #24985
Checking for null wouldn't lead to that; changing `Empty` to be `public static Memory<T> Empty => default;` would lead to that, and that would be an acceptable implementation once all of the operations can be called on `default(Memory<T>)` safely.  It's also faster, in that you don't need to read a generic static field when accessing it, nor do we force `Array.Empty<T>()` generic instantiations fo

[2017-11-02 04:10] stephentoub commented on #23879
Not currently on my TODO list; feel free to grab it.  But note that when we add it we should also remove the existing DangerousTryGetArray method.  Also, @terrajobst/@KrzysztofCwalina, what did we decide about the other existing dangerous methods like `DangerousGetPinnableReference()`.... are they moving here, too?

It should be exposed from System.Memory, but implementation-wise we'll actually ne

[2017-11-02 04:57] Ark-kun opened #25011 "[API] Array and List have BinarySearch, but SortedList does not. This seems illogical."
Binary search should be performed on an ordered list of items.
Thus it's a natural operation for SortedList and not so natural for Array or List as they may be non-ordered causing BinarySearch to return incorrect answer.

BCL should either add BinarySearch to SortedList or better yet make am extension method for IList<T>.

[2017-11-02 07:42] Sunny-pu commented on #22814
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/209/testReport/System.Net.Sockets.Tests/SendReceiveSync/Receive0ByteReturns_WhenPeerDisconnects/

[2017-11-02 08:47] hubuk opened #25012 "Facades, PermissionSets and RedistList are missing from Microsoft.TargetingPack.NETFramework.* nuget packages."
I really don't know if these packages are still in use but I cannot find any other nuget packages closer to the .NET Framework developer packs than these. My use-case is to build CPS projects targeting net* TFMs on a Windows machine without Visual Studio and on \*NIX systems without mono. Referencing a single nuget with an assistance of `<FrameworkPathOverride>` makes this a simple task. As far as

[2017-11-02 10:05] turabek commented on #2394
We have a Solution based on WF. We are creating a steps of activities using WF and this workflow will be delivered to all subscribers and they will process the actions based on WF. We love WF to much. supporting cross-platform is our company direction. We are very interested to have WF on .NET CORE.

[2017-11-02 10:21] ewinnington commented on #2394
There is [CoreWF](https://github.com/dmetzgar/corewf) which is the code of Workflow Foundation partially ported to .net core. You can use Workflow foundation cross platform **now**. You just cannot use XAML based workflows at this time.

I have a branch where I've worked on adding support for [Dynamic Activity on top of Net Standard 2.0](https://github.com/ewinnington/corewf).

The XAML parsing pr

[2017-11-02 10:30] turabek commented on #2394
Thank you for your reply.
it was very useful appreciate it.

On 2 Nov 2017 18:22, "Eric Winnington" <notifications@github.com> wrote:

[2017-11-02 12:46] jnm2 commented on #25011
See https://github.com/dotnet/corefx/issues/4697

[2017-11-02 12:54] jnm2 commented on #24445
I have a couple use cases for trimming to create a long-lived read-only master copy which is repeatedly cloned so that items can be removed.

[2017-11-02 13:26] spelltwister commented on #15570
Installing 4.3 of algorithms into my 4.6.2 asp.net web app had the problem until I added binding redirects.  I have a standard 1.3 lib that implements some hashing that the asp.net web app uses.

      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0

[2017-11-02 13:51] sharwell commented on #25011
`SortedList<TKey, TValue>` does not implement `IList<T>`. This leads to some interesting side effects. The most interesting of these is due to the fact duplicate keys are not allowed in this type. Therefore, `BinarySearch` ends up exposed as [`SortedList<TKey, TValue>.IndexOfKey`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.sortedlist-2.indexofkey).

I have an API propos

[2017-11-02 14:29] stephentoub commented on #24690
Is the problem fixed, or the test just disabled? If the problem is fixed, you can close the issue. If the test is just disabled, the issue should remain open to track providing a real fix.

[2017-11-02 14:35] #24969 closed

[2017-11-02 15:10] Ark-kun commented on #25011
This is not the case unfortunately. I looked at the sources and fooled myself for a second too.
The reason IndexOfKey is **not** BinarySearch is that it always returns -1 when the element is not found while BinarySearch returns the "complemented" index where that element would end up if inserted.

So IndexOfKey is BinarySearch with half of the useful properties stripped.
http://referencesource.mic

[2017-11-02 15:28] KrzysztofCwalina commented on #23879
Yeah, we should move DangerousGetPinnableReference. DangerousGetPinnableReference won't be used for language supported fixed syntax. We will need another method for it. The reason is that language syntax will need null ref when fixing empty spans. DangerousGetPinnableReference does not return null ref for empty spans. We cannot change DangerousGetPinnableReference to return a null ref as it has pe

[2017-11-02 15:28] abdevnet commented on #25002
I'm interested in this too.

[2017-11-02 15:34] rwatjen commented on #16176
This seems to still not work with ASP.NET Core 2.0 and Entity Framework Core 2.0. The Azure Application Insights team points here (the link that @MaximBalaganskiy has posted). It would be great if someone could take on the issue and either solve it or make it very clear in the Application Insights documentation that this does not actually work for Core.

[2017-11-02 15:52] shiitake commented on #21429
I'm having the same error using the microsoft/dotnet:2.0.0-runtime and microsoft/dotnet:2.0.0-sdk images.  I'm running this in Docker for Windows (17.09.0-ce-win33 13620)

Is there any sort of known workaround?

[2017-11-02 16:02] Anipik commented on #24755
Yah master fully fixes the candidate

[2017-11-02 16:05] karelz commented on #25005
@grant-d I would recommend to break down your issue into separate bug reports. If you have PRs for some, we can definitely consider them (assuming compat impact is reasonable).

[2017-11-02 16:05] Anipik commented on #24690
no the problem is fixed and tests are enabled again

[2017-11-02 16:12] karelz commented on #24755
@Anipik fully fixed by just the PR #24855?

[2017-11-02 16:20] #24690 closed

[2017-11-02 16:41] jkotas commented on #23879
We should also rename it as part of the move. Pinnable does not make sense if it is not going to be used for pinning. And Dangerous can be omitted too because of methods under `System.Runtime.InteropServices` are dangerous by convention.

So what about:

[code]

[2017-11-02 16:46] shmao opened #25015 "Area-Serialization Sprint 126"
The issue is for tracking issues to be done in sprint 126 (due by 11/10/2017)

[2017-11-02 16:50] shmao commented on #1199
Closing the issue as we've ported many tests for XmlSerializer from full framework to corefx.

[2017-11-02 16:50] #1199 closed

[2017-11-02 16:51] karelz commented on #14354
@jcdickinson thanks for grabbing the issue. I sent you Collaborator invite, let me know when you accept and I will be able to assign this issue to you (assigning to myself in the mean time).

Pro-tip: Once you accept, GitHub will automatically sign you up for all notifications from the repo (500+ per day), I would recommend to change it to just "Not Watching" which will send you all your mentions

[2017-11-02 16:53] tylerl0706 opened #25016 "Stopping HttpListener doesn't free up address in use for some time on macOS (System.Net.HttpListenerException: Address already in use)"
I'm receiving the following error:

[code]

I am writing an http server using HttpListener (I need to use HttpListener) and I run into this exception after starting and stoping and starting the server.

Here is my (watered down) library:
[code]
I've also tried this with `listener.Close()`

And the file I'm using to verify this behavior is:
[code]

I noticed there was [this issue](https://github.co

[2017-11-02 16:54] tylerl0706 commented on #25016
This issue does not repro on Windows with .NET Framework.

[2017-11-02 16:56] ektrah commented on #23879
There was already some confusion (can't find the issue# right now) if the reference was pinned or not (some people assumed it was). Maybe `MemoryMarshal.GetUnpinnedReference()`?

Btw, I'm currently using `DangerousGetPinnableReference` *a lot* with p/invoke (which, as far as I know, pins the reference):

[code]

[2017-11-02 17:04] krwq commented on #16646
@WinCPP, try passing also full csproj name to msbuild, other things you can try is to use Developer Command Prompt and try msbuilding from there (looking at the paths I think you might be using Powershell but I might be wrong). Also could you share the error or full log you are seeing?

[2017-11-02 17:45] stephentoub commented on #23879
I like GetReference.  I don't think we need to say anything about pinned or unpinned.  Unpinned is also potentially misleading, in that it could actually be pinned due to something elsewhere, that pinning just has nothing to do with this action.

[2017-11-02 17:51] karelz commented on #24368
Test added in PR #24706.

@davidsh what is the next step?
We accepted the "failing" test in #24706. Are we ready to make progress on a fix in PR #24369? Or is more discussion needed?

[2017-11-02 18:15] saurabh500 commented on #8807
Thanks @m1nkeh  and @rgbattersby

@m1nken Yes, I am talking about FedAuth which is used to authenticate to Azure SQL using your domain account.
I want to know if you folks actively use `AAD Integrated Auth` or is it `AAD Username and password` in your connection string? Or is it a good mix of both?

[2017-11-02 18:19] m1nkeh commented on #8807
AAD Username and Password, yes.

[2017-11-02 18:24] grant-d opened #25018 "System.Json: JsonArray does not handle null consistently"
Inconsistent handling of `null` array members:

This works as expected:
[code]
This alternative pattern `throws` inside `Add` due to an explicit `null` guard:
[code]
I see that the units support this behavior, but it seems to be an inconsistent design.
Adding a `null` member to an array should be acceptable?

_See original issue summary [here](https://github.com/dotnet/corefx/issues/25005), @karel

[2017-11-02 18:24] grant-d opened #25019 "System.Json: JsonPrimitive.JsonType returns incorrect value"
`JsonType` derivation on `JsonPrimitive` seems faulty:
[code]

I am fairly certain that `Guid` should not return `JsonType == Number`

This case does not appear to be covered by any units, so it may be that the issue was never picked up.

The nested conditionals here may be iffy: [JsonPrimitive.cs](https://github.com/dotnet/corefx/blob/master/src/System.Json/src/System/Json/JsonPrimitive.cs#L118-L

[2017-11-02 18:24] grant-d opened #25020 "System.Json: JsonPrimitive.ToString() throws unexpectedly"
The following throws; I would expect to return the `Guid` in `string` form. Note that this is _not_ one of the expected errors that are explicitly `thrown` for some types (see notes on stack trace).

I see that the units support this behavior, but it seems to be an inconsistent design.

[code]

_See original issue summary [here](https://github.com/dotnet/corefx/issues/25005), @karelz suggested I s

[2017-11-02 18:24] grant-d opened #25021 "System.Json: JsonValue.Equals() is expensive"
Comparing two `JsonValue` instances for equality is a common operation. The current idiom is expensive compared to the alternatives. The provided prototype shows a micro-bench result of **2-3x** improvement.

# Rationale and Usage
The straight-forward way to compare two `JsonValue` instances is to `ToString()` them both and then use a `StringComparer.Ordinal` comparer. But this is unnecessarily ex

[2017-11-02 18:25] grant-d opened #25022 "System.Json: Clone() is expensive"
Cloning a `JsonValue` instance is expensive compared to the alternatives.
Add new `Clone` method to `JsonValue` that operates efficiently in terms of memory/GC.
The provided prototype shows a micro-bench result of **2-3x** improvement.

# Rationale and Usage
There is no existing `Clone` method on `JsonValue`, but it's not an uncommon operation. The workaround is to roundtrip the value via `ToStrin

[2017-11-02 18:25] WinCPP commented on #16646
@krwq, I am using developer command prompt... I just truncated the path to keep only the relevant bits...

The entire command with complete prompt is as follows.

[code]
The entire output is as follows. Please note that testResults.xml is not generated although the end of the log below asks us to check that... So please ignore that...

[code]

[2017-11-02 18:25] grant-d commented on #25005
No problem @karelz , I will close this issue and have opened new individual ones:

https://github.com/dotnet/corefx/issues/25018
https://github.com/dotnet/corefx/issues/25019
https://github.com/dotnet/corefx/issues/25020
https://github.com/dotnet/corefx/issues/25021
https://github.com/dotnet/corefx/issues/25022

[2017-11-02 18:25] #25005 closed

[2017-11-02 18:46] #2077 closed

[2017-11-02 18:46] grant-d opened #25023 "System.Collections: Dictionary.Empty<K, V>()"
Concrete implementations of `IDictionary<K, V>` and `IReadOnlyDictionary<K, V>` do not provide `Empty` singletons, per those for `Array.Empty` and `Enumerable.Empty`.
This proposal would permit the same idiom to be available for `Dictionary`.

# Rationale and Usage

This is a nice-to-have, but helps in environments where resources are constrained. The current idiom is to create a `new Dictionary<K

[2017-11-02 18:58] grant-d commented on #25022
Some background regarding `System.Json` vs `Newtonsoft`:

Benchmark comparing `Newtonsoft.Linq.JObject.Parse` to `System.Json.JsonValue.Parse`:
(Roughly equal in performance but `System.Json` is _significantly_ better on `GC`)

[code]

Benchmark comparing `Newtonsoft.Linq.JObject.ToString` to `System.Json.JsonValue.ToString`:
(Roughly equal in performance and `GC`
[code]

[2017-11-02 19:02] grant-d commented on #25021
Benchmark comparing `Newtonsoft.Linq.JObject.ToString` to `System.Json.JsonValue.ToString`:
(Roughly equal in performance and `GC`)
[code]

[2017-11-02 19:14] crackedcornjimmy commented on #23605
In the Package Manager Console, I ran the following:

Install-Package System.DirectoryServices.AccountManagement -Version 4.5.0-preview1-25813-01 -Source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json

I got the error:

Unable to find package 'System.DirectoryServices.AccountManagement'

Am I doing something wrong?

[2017-11-02 19:26] akuckartz commented on #2077
Why was this closed?

[2017-11-02 19:33] karelz commented on #25005
Great, thanks!
@tarekgh can you please look at them one by one and asses which PRs we would take vs. not?

[2017-11-02 19:38] karelz commented on #2077
I don't know why @shmao closed it, but by looking at the issue I have to agree, because for one year no one was interested in coming ahead with a proposal. I don't see much value in keeping API ideas opened for more than 6 months when there is nothing concrete.

[2017-11-02 19:42] WinCPP commented on #16646
Between, since `msbuild` from the \test\XPath\XPathNavigator (last one is new folder, not yet committed) gives above mentioned error, I am not sure how to generate coverage report. I tried `build-tests -coverage` (as per the documentation) but that turned out to be full run; too much of time; so cancelled it. I am looking for some way to run coverage report just for the .\src\System.Private.Xml fo

[2017-11-02 19:42] MichalStrehovsky commented on #24064
This wouldn't be a big issue for .NET Native if the feature in #23664 got implemented the way @weitzhandler originally had it (look for the interface and reflect on the interface) - you just make the interface reflectable in the RD.XML that S.CM.Annotations ships with and things predictably work.

Changing the implementation to `PropertyInfo property = value.GetType().GetRuntimeProperty("Count");`

[2017-11-02 20:00] eerhardt opened #25024 "System.Memory doesn't work on UWP"
Create a new blank UWP app.
Add System.Memory Version="4.5.0-preview1-25831-01" nuget package.

Write some code
[code]
Build.

This doesn't compile, saying there is no "Span" type.

Now add a reference to the latest UWP package:

[code]

which has the ref type for Span.

Build.

You get an error:

[code]

/cc @ahsonkhan @KrzysztofCwalina

[2017-11-02 20:14] weshaggard commented on #25012
These packages are currently intended to only be used by our build infrastructure. They aren't supported for general use. That said we realize there is a gap here and what you ask for is something we need and there issues like https://github.com/dotnet/corefx/issues/3934 which have requested them but we just haven't ever got enough support to fund that work properly. However I think this is defini

[2017-11-02 20:17] ajcvickers commented on #24064
@MichalStrehovsky The intention was not to always find the ICollection<T>.Count, which is ambiguous anyway because there can be multiple implementations of the same interface, but to instead pattern match for any property named Count. There was a full discussion of this and of what would happen in all the cases in one of the PRs around this. So I believe the behavior works as designed on non nativ

[2017-11-02 20:19] danmosemsft commented on #16766
@yvanin missed this. If you're still interested -- yes I think so.

[2017-11-02 20:23] karelz opened #25025 "Networking - SocketsHttpHandler Epic"

[2017-11-02 20:36] JanEggers opened #25026 "[suggestion] add api to read/write multiple values from System.Threading.Channels"
right now im using buffered channel and the overhead of locking is currently limiting throughput. i limit the buffer to 10000 items and most of the time the buffer is full so i i guess i could read more than one item at a time to improve.

[2017-11-02 20:43] eerhardt commented on #25024
Note that when using the Fall Creators update, the System.Memory assets for the `uap10.0.15138` TFM will get used.  The ref assembly in `.nuget\packages\system.memory\4.5.0-preview1-25831-01\ref\uap10.0.15138\System.Memory.dll` has a TypeForwardTo for Span and ReadOnlySpan to System.Runtime.dll.  But for `UniversalWindowsPlatform` version `6.0.1`, Span and ReadOnlySpan don't exist in that version

[2017-11-02 20:45] krwq opened #25027 "Some Xml tests projects do not run tests with /t:BuildAndTest"
Issue found here: https://github.com/dotnet/corefx/issues/16646#issuecomment-341535914
I have confirmed this on my box and found that the issue is that many tests folders are missing Configuration.props

cc: @WinCPP

I'll send PR with the fix shortly. @WinCPP to unblock yourself you can add Configuration.props next to the csproj with content

[code]

[2017-11-02 20:47] krwq commented on #16646
@WinCPP I was able to repro - I'll send PR shortly with the fix - currently testing locally (see the issue for workaround)

[2017-11-02 21:57] rgbattersby commented on #8807
Ideally both, to support users who generally belong to other AD environments such as contractors etc and our own employees.

[2017-11-02 22:14] krwq opened #25029 "System.Diagnostics.Tracing.Tests: BasicEventSourceTests.TestEventCounter: Test_Write_Metric_EventListener"
Failed on Ubuntu 16.04.

`Unhandled Exception of Type BasicEventSourceTests.EventTestHarness+EventTestHarnessException`

https://mc.dot.net/#/user/krwq/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/12f35b6c1d977d376e10916e883c49c8ffa8fbc4/workItem/System.Diagnostics.Tracing.Tests/analysis/xunit/BasicEventSourceTests.TestEventCounter~2FTest_Write_Metric_EventListener

<detai

[2017-11-02 22:46] danmosemsft commented on #25023
@grant-d your API proposals are welcome, but could you please format them into sections as suggested in example linked from https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md?
The standard format greatly helps the review process.

[2017-11-02 22:52] Drawaes commented on #24296
Started a PR in coreclr #14833

[2017-11-02 22:52] Drawaes commented on #23879
Started a WIP PR to add this, just a shell to ensure that approach is correct and everyone is 😎  #14833

[2017-11-02 23:06] davidsh commented on #24368
PR #24369 will have outerloop tests run first.  Then I think it will be ready to merge.

[2017-11-02 23:09] #25027 closed

[2017-11-02 23:17] jkotas commented on #24296
I do not think these APIs are good addition.

- Memory is "slow" type. We are losing security and gaining nothing by having a constructor that omits bounds checks.
- I am ok with having the low level constructor for Span, but it should be just DangerousCreate moved from the Span type to MemoryMarshal. I do not think we should have convenience constructors to make shipping the bounds check easy.

[2017-11-02 23:24] Drawaes commented on #24296
The reason mainly is

Most of the stream types run the validation checks already. I couldn't remove these checks when updating to take memory from an array (or span for that matter) because it would change the exception message for the field that fails, making it a breaking change. That means there are plenty of times that instead of the 5 checks (null, index < length & index > 0 using overflow fo

[2017-11-02 23:25] krwq commented on #16646
@WinCPP if you rebase it should work now - please let me know if you encounter any problems

[2017-11-02 23:29] ahsonkhan commented on #24296
Would having these methods as internal only solve both concerns?

[2017-11-02 23:42] jkotas commented on #24296
`Memory(T[], int, int)` has these precondinditions:

[code]

So I see 3 extra checks - they will be like 7 well predicted instructions. They should cost nothing compared to other overhead associated with `Memory<T>`.

Could you please share an example of realworld code that shows the problem?

[2017-11-02 23:43] grant-d commented on #25023
No problem - let me know if this update is suitable

[2017-11-03 00:14] VSadov commented on #24900
@sharwell  when compiler reduces code that involves `Nullable` to method calls it makes assumption that members like `HasValue` do not mutate the struct or have any sideeffects watsoever. That allows many optimizations where calls are moved forward/backward in time WRT other such calls, dropped when unnecessary, or introduced to reduce conditional branching, etc.

As particular example compiler ma

[2017-11-03 00:23] PeterSmithRedmond commented on #25016
Without being a macOs network expert, my first thought is that you are running into TIME_WAIT and MSL issues.  [This](https://stackoverflow.com/questions/337115/setting-time-wait-tcp) is a good StackOverflow discussion of what they mean.

When you close a connection, the OS waits "a while" for any stray packets that might have been delayed on the network to either arrive (and be thrown out) or to

[2017-11-03 00:27] VSadov commented on #24900
@sharwell - basically I do not want to say anywhere in C# or in IL verification spec "and Nullable is considered to be a readonly struct". - Let's just make it so and not introduce any special cases.

[2017-11-03 00:37] omariom commented on #24296
[This is how it looks on .NET Framework x86](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxNMAfAAgBgARYCMA3ALABQWAzAQEx4DCeFA3hXhwTVgCx4CyACgCWAOxgBtALp4ICBBACeSPGJh5YcmCrV4ANnFEBzGAAsAlM3Kc8bazc7CAZnkFyFivAF4veUQFc9PXN2BzCzBAB7AHc/OFiAQQQjfzBDGAA5QL0AUQAPAGM4AAcYYUjRQQAiKvMyclCw51dBfzVzTQR1AD5XNvFzdyUAOgAZQxNTPAwMPvaDYzM8Xtb2t3kR8cWpgFoNGC1zEPswmwiYuMTk1PSsoPyi0vLKmrrGvABfCg+gA===)

[2017-11-03 00:49] grant-d commented on #25005
Thanks @danmosemsft , I didn't realize this was a port, I thought it was brand-new. Which is why I have been surprised regarding its semantics and performance.
I have submitted the issues anyway, but might look at migrating to `Newtonsoft`.

[2017-11-03 00:52] jkotas commented on #24296
I meant to e.g. have some measurement that shows how much faster a read world Stream Read method will get if it has this special constructor. (Also, this is not what the code will look like because of it is written using non-inlineable ThrowHelper.)

For better or worse, the framework APIs are designed with explicit argument checks. Yes, these argument checks add extra code everywhere. But the exe

[2017-11-03 00:57] ahsonkhan commented on #24296
https://youtu.be/bHwCPVNQLwo?t=1h16m53s

[2017-11-03 01:05] grant-d commented on #25018
@danmosemsft, @karelz, I am going to cut short my losses and move to a different json lib.
I don't want to waste your or my time on fixing this - it requires a complete overhaul in some places.
I did not realize it was a port, so expected it to be well-designed and performant.

Feel free to open again if you want to fix the issues anyway.

[2017-11-03 01:05] #25018 closed

[2017-11-03 01:05] grant-d commented on #25019
@danmosemsft, @karelz, I am going to cut short my losses and move to a different json lib.
I don't want to waste your or my time on fixing this - it requires a complete overhaul in some places.
I did not realize it was a port, so expected it to be well-designed and performant.

Feel free to open again if you want to fix the issues anyway.

[2017-11-03 01:05] #25019 closed

[2017-11-03 01:06] grant-d commented on #25021
@danmosemsft, @karelz, I am going to cut short my losses and move to a different json lib.
I don't want to waste your or my time on fixing this - it requires a complete overhaul in some places.
I did not realize it was a port, so expected it to be well-designed and performant.

Feel free to open again if you want to fix the issues anyway.

[2017-11-03 01:06] #25021 closed

[2017-11-03 01:06] grant-d commented on #25020
@danmosemsft, @karelz, I am going to cut short my losses and move to a different json lib.
I don't want to waste your or my time on fixing this - it requires a complete overhaul in some places.
I did not realize it was a port, so expected it to be well-designed and performant.

Feel free to open again if you want to fix the issues anyway.

[2017-11-03 01:06] #25020 closed

[2017-11-03 01:06] grant-d commented on #25022
@danmosemsft, @karelz, I am going to cut short my losses and move to a different json lib.
I don't want to waste your or my time on fixing this - it requires a complete overhaul in some places.
I did not realize it was a port, so expected it to be well-designed and performant.

Feel free to open again if you want to fix the issues anyway.

[2017-11-03 01:06] #25022 closed

[2017-11-03 01:10] omariom commented on #24296
@jkotas
I meant to illustrate that the comparison, as you said, is a few instructions with a couple of well predicted branches.

[code]

[2017-11-03 01:42] Jiayili1 commented on #24509
Following two tests failed with same issue:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171103.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ManagedHandler_DiagnosticsTest~2FSendAsync_ExpectedDiagnosticCancelledActivityLogging
https://mc.dot.net/#/product/netcore/master/sourc

[2017-11-03 02:03] dotnet-mc-bot opened #25033 "Test: System.Net.Security.Tests.SslStreamAlpnTests/SslStream_StreamToStream_Alpn_Success failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Net.Security.Tests.SslStreamAlpnTests/SslStream_StreamToStream_Alpn_Success(clientProtocols: [http/1.1, h2], serverProtocols: [h2], expected: h2)` has failed.

Assert.Equal() Failure
    Expected: h2
    Actual:   (null)

        Stack Trace:

           at System.Net.Security.Tests.SslStreamAlpnTests.SslStream_StreamToStream_Alpn_Success(List`1 clie

[2017-11-03 02:05] Jiayili1 commented on #24114
still failing in master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171103.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SocketOptionNameTest~2FMulticastInterface_Set_AnyInterface_Succeeds

[2017-11-03 02:43] Jiayili1 commented on #25033
This issue also repro in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/215/testReport/System.Net.Security.Tests/SslStreamAlpnTests/SslStream_StreamToStream_Alpn_Success_clientProtocols___http_1_1__h2___serverProtocols___h2___expected__h2_/

[2017-11-03 02:50] AceHack opened #25034 "Please support a modern very high performance version of System.IO.Log"
I'm looking for an very high performance version Algorithms for Recovery and Isolation Exploiting Semantics (ARIES) like .net standard/core namspace.  It does not need to be exactly ARIES but would need to be sufficent to be the start of a number of different data oriented projects that choose .NET.  I would use this and I think others would use this to start a new eco system of databases, no sql,

[2017-11-03 02:53] morganbr commented on #14354
@jcdickinson , I'm definitely interested in ways to avoid annoying repetition (though I have no idea how folks would feel about initializer syntax). I seem to recall that there were two problems with fluent :
1. The perf issue you noted
2. The return value from fluent methods is a copy of the struct. It's too easy to accidentally end up losing input doing things like:
[code]

Since the proposal on

[2017-11-03 02:56] tylerl0706 commented on #25016
I appreciate this. However, I'm wondering how frameworks like Node.js Express.js and ASP.NET Core are handing this. I'm able to stop and start their webservers without any issue. Why does it work for those but not HttpListener on .NET Core?

[2017-11-03 02:59] stephentoub commented on #25016
Presumably this is https://github.com/dotnet/corefx/issues/24562 / https://github.com/dotnet/corefx/pull/24809
cc: @tmds

[2017-11-03 03:05] HelloKitty commented on #2471
While technically this isn't an issue, the response provided is no longer correct. It has been moved here: https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Collections/Generic/List.cs

[2017-11-03 03:34] #24368 closed

[2017-11-03 04:21] stephentoub commented on #25026
In the past I've considered adding base virtuals like:
[code]
and then overriding them on derived channel reader/writers where the implementation could do something more efficient.

Is that what you had in mind, or something else?

With regards to the locking itself, we should actually be able to get rid of some of that locking and use more lock-free approaches in various situations.  I just haven

[2017-11-03 04:38] AceHack commented on #25034
Basically what I'm looking for is the best Write Ahead Log (WAL) possible on a cross platform language.

[2017-11-03 05:28] jamesqo commented on #14354
@karelz I believe @gimpf already grabbed this issue beforehand. Since he has more familiarity with the implementation, please assign this issue to @gimpf instead.

[2017-11-03 05:44] rkeithhill opened #25036 "Implement an async version of the blocking System.Console.ReadKey"
In the PowerShell extension for Visual Studio Code, we have an async REPL loop where we'd love to be able to `await Console.ReadKeyAsync()` rather than blocking on `Console.ReadKey()`.

The current implementation is problematic because we need cancellation support.  We have tried to work around the blocking ReadKey() call by using KeyAvailable() but there is a known issue with KeyAvailable() causi

[2017-11-03 06:27] Jiayili1 opened #25037 "System.IO.MemoryMappedFiles.Tests.CrossProcessTests.DataShared failed in CI"
Failed test: System.IO.MemoryMappedFiles.Tests.CrossProcessTests.DataShared

Configuration: osx10.12_release

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release/3498/testReport/System.IO.MemoryMappedFiles.Tests/CrossProcessTests/DataShared/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-11-03 06:34] JanEggers commented on #25026
thx for the info.

if there will be a lockfree version/option later on ill just wait for that. i copied over the source and  added a read method. it just gave 10% perf boost so i have to optimize the consumer of the channel after all to get better throughput...

here is what i did:

[code]

that could be optimized if Dequeue had a method to get multiple items.

[2017-11-03 09:09] aalmada commented on #23879
@ektrah I agree that the name is confusing. I'm now using _Span_ on _PInvokes_ and I'm not sure if I should use _fixed_ or not.
The name _DangerousGetPinnableReference_  indicates that I should but what if the allocation was done using stackalloc or Marshal.AllocHGlobal? It's unnecessary.
In this repository I find [code that uses _fixed_](https://github.com/dotnet/corefx/blob/ef3a1293c31cc9bdeafcc

[2017-11-03 10:26] seanshpark commented on #25002
Hello, like as the one mentioned as CoreCLR, almost the same

Install packages described at https://github.com/dotnet/corefx/blob/master/Documentation/building/unix-instructions.md#user-content-linux

And get the source, then prepare RootFS for x86,
[code]
And build
[code]
Also read https://github.com/dotnet/corefx/blob/master/Documentation/building/cross-building.md for cross building (the docume

[2017-11-03 11:57] jkotas opened #25039 "Add validation of contract/implementation consistency for readonly structs, parameters and returns"
readonliness is part of the contract. We need to add validation for this to our contract tooling to ensure consistency between reference assembly and implementation.

From @weshaggard : It should be easy enough to add for anyone that wants to verify it. The code lives in Microsoft.Cci.Extensions in Buildtools.

https://github.com/dotnet/coreclr/pull/14789#issuecomment-341579931

[2017-11-03 12:51] stephentoub commented on #25036
How would ReadKeyAsync be implemented? It wouldn't just be blocking a different thread?

[2017-11-03 12:53] GoldenCrystal opened #25040 "Implement portable support for TCP_KEEPCNT, TCP_KEEPIDLE and TCP_KEEPINTVL socket options"
Allow for configuring TCP Keepalive in a portable manner.

# Rationale

TCP Keepalive is an optional feature of TCP that is implemented in most widely used OSes and the feature can already be enabled in .NET by using `SocketOptionName.KeepAlive`.
However, it is not possible, as of now, to set the various keepalive options using a standard .NET API.

Most platforms, more than simply allowing TCP ke

[2017-11-03 13:32] jkotas commented on #24296
I have listened to the discussion.

My take is that if we are worried about redunant checks, we should tech the JIT to eliminate them. The JIT does elimate some of the duplicate checks already actuall, e.g. null checks. For example, the code for this method:

[code]

Is this:

[code]

Notice that there are two null checks: one in my method and other one in the ReadOnlySpan implementation itself. H

[2017-11-03 13:38] stephentoub commented on #24874
Failed again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/0582579451b6d6c5701f9fa2a407b060a03e8925/workItem/System.Diagnostics.EventLog.Tests/analysis/xunit/System.Diagnostics.Tests.EventLogEntryCollectionTests~2FCheckingEntryInEquality
[code]

[2017-11-03 13:42] Drawaes commented on #24296
If the nulls are already removed and there is scope to look at either removal via the JIT then I would be good with removing the API review. It's been through the review process though so others would need to make the final choice.

How about this, I will do some measurements in an  end to end scenario, if the measurements are in the margin of error we could remove It? If they aren't then there is

[2017-11-03 13:48] FransBouma commented on #20903
I must say, @divega, @karelz , this starts to get ridiculous. I have (actually had) a window of time to implement this, but instead of pushing the last small changes through, it still keeps dragging on like no-one is actually interested to get this done.

Why? Wasn't there any time in the past 22 days at the watercooler to talk about this proposal?

[2017-11-03 13:48] #24900 closed

[2017-11-03 13:54] saharM commented on #24483
@danmosemsft @weshaggard my class library is a .NET Standard 2.0 library.

[2017-11-03 14:00] jkotas commented on #24296
@Drawaes Sounds good. Thanks!

[2017-11-03 14:13] JonHanna commented on #17905
@karelz

#18162

[2017-11-03 15:49] akuckartz commented on #2077
Why can't issues be kept open until they are resolved?

[2017-11-03 16:05] danmosemsft commented on #24874
Again
https://mc.dot.net/#/user/KKhurin/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/05e96931232ee754fe1438edecaec45e1aecbdfa/workItem/System.Diagnostics.EventLog.Tests/analysis/xunit/System.Diagnostics.Tests.EventLogEntryCollectionTests~2FCheckingEntryEqualityAndIndex

[2017-11-03 16:06] danmosemsft commented on #24874
Was CheckingEntryEqualityAndIndex

[2017-11-03 16:07] danmosemsft commented on #25023
cool, as for any issue, if you don't get a response from area owner in a few days, you can ping them: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md

[2017-11-03 16:17] fgreinacher opened #25043 "Simpler pattern for array rent/return"
Currently it seems like the safe way to use an array from an `ArrayPool<T>` is something like this:

[code]

Why not make it a bit easier and offer some convenience layer on top of the current API?

[code]

If the thing returned by this new Rent method is a struct I don't think it'll have any relevant impact on performance/allocations.

Is it worth writing an formal API proposal for this?

[2017-11-03 16:58] karelz commented on #25021
`System.Json` is a Json parser predating Json.NET. AFAIK its key value is that you don't need external dependency - some enterprise customers don't like non-Microsoft dependencies, it is also useful for libraries to not drag in other libraries for just.
There is no active development in the library. However, we would take low-risk changes to it if they help.

Our general recommendation for Json pa

[2017-11-03 17:05] karelz commented on #2077
@akuckartz because we would drown in them.
Do you file all wishes for all your projects into your backlogs? Even those you know are not realistic in next year or two and are not in high demand? What is the point to have them filed? What if the requirements change, or there is something else fulfilling the role? Maintaining opened issues is cost and it makes focus more challenging, so if there is l

[2017-11-03 17:17] wfurt commented on #24114
It will keep failing @Jiayili1 until the linked issue is fixed.

[2017-11-03 17:22] krwq opened #25046 "Port back improvements made to PlatformDetection related to version detection"
Changes: https://github.com/dotnet/corefx/pull/24340/files
This is already in PR: https://github.com/dotnet/corefx/pull/24531

[2017-11-03 17:28] akuckartz commented on #2077
Closed but unresolved issues can realistically only be found if they are tagged so that they can be differentiated from those which are resolved.

[2017-11-03 17:34] pjanotti commented on #24961
This is still happening, reopening.

[2017-11-03 17:35] pjanotti commented on #24961
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171103.09/workItem/System.Management.Tests/analysis/xunit/System.Management.Tests.ManagementObjectTests~2FInvoke_Instance_And_Static_Method_Win32_Process

[2017-11-03 17:50] tarekgh commented on #20669
@WinCPP I have installed LDS and tried it. what you need to do is use the configuration

[code]

note that, the user and password should be your machine user account which installed LDS.  Also, the domain value "o=dotnetfoundation" should be the DN you used to create a partition when installing LDS. AuthenticationTypes has to be Secure.

After that, you'll be able to bind to LDS but some tests wil

[2017-11-03 18:49] Clockwork-Muse commented on #25043
...I'd be **extremely** cautious about an API like that: the actual item being disposed isn't the real resource being released, which is an independent reference.  I suspect you'd get _more_ leaks that way, not less.  You'd have to get the item from whatever was returned from `Rent` (and probably pass that down, instead of the raw array).

This would  prevent swapping out buffers as well, since ch

[2017-11-03 18:57] weshaggard commented on #25039
We essentially just need to add the logic to support the readonly keyword and then our compat tools will validate it correctly. The logic should be added in here https://github.com/dotnet/buildtools/blob/master/src/Microsoft.Cci.Extensions/Writers/CSharp/CSDeclarationWriter.Types.cs#L147.

[2017-11-03 18:59] kasper3 opened #25050 "How to use System.Net.Http 4.3.3 with .NET 4.6.0"
Took a unit test from https://github.com/dotnet/corefx/pull/19082 that fixed the issue of reusing content.

UnitTest1.cs:

[code]

mytest.csproj:

[code]

Then ran:
[code]

Result (throws second iteration):

[code]

that means it's using old assembly (first output line: System.Net.Http version is: 4.1.1.2)

Then replaced:

[code]

with:

[code]

restored and ran xunit command again

Result:

[code

[2017-11-03 19:06] davidsh commented on #25050
That change about "no longer disposing HttpRequestMessage.Content" was only done for .NET Core.  That change is not in .NET Framework.  So, running this test on .NET Framework will fail as you observed.

[2017-11-03 19:14] kasper3 commented on #25050
Does that mean:

A: using System.Net.Http 4.3.0 from nuget on .NET Framework 4.6.0 will not hit that code path in HttpClient

or

B: there is no way to run System.Net.Http 4.3.0 on NET Framework 4.6.0, it will always pick old one form GAC

Looking at the code changes i would assume it would be `B`

[2017-11-03 19:21] davidsh commented on #22187
This is fixed now in Windows 10 Version 1709 (Build 16299).

[2017-11-03 19:29] davidsh commented on #25050
It's actually more complicated than that.

Starting with .NET Framework 4.7.1, we will always prefer to use the inbox System.Net.Http.dll (GAC'd version) and not any OOB (out-of-band) System.Net.Http.dll anymore from NuGet package.  Due to various issues described in #17522, we no longer build OOB assemblies for System.Net.Http.dll.  As of .NET 4.7.1, the API surface for System.Net.Http.dll matche

[2017-11-03 19:51] fgreinacher commented on #25043
Understood - but is the situation really different when using `Rent`/`Return` directly?

[2017-11-03 20:03] kasper3 commented on #25050
Thanks for the explanation davidsh. Much appreciated.

[2017-11-03 20:03] #25050 closed

[2017-11-03 20:25] BogdanovKirill commented on #16598
Same issue in AWS + Cluster + Windows spot instance + Docker. My solution is to manually set Authorization header in HttpWebRequest.

            HttpWebRequest request = WebRequest.CreateHttp(snapshotUri);
            request.Method = WebRequestMethods.Http.Get;
            request.KeepAlive = false;
            request.PreAuthenticate = false;
            request.UseDefaultCredentials = false;

[2017-11-03 20:46] karelz commented on #2077
@akuckartz true - if you look at the labels, there are some combos which indicate the issue has been closed without fixing (e.g. api-needs-work).
If there is interest and someone wants to push this particular idea forward to something actionable, or if we have few people voting it up, we can reopen it (or we can create a new tracking issue).

[2017-11-03 20:50] mbearup commented on #21429
I'm hitting this same error. Do we at least know if it's restricted to Docker or a specific version of CURL?

[2017-11-03 21:04] karelz commented on #25034
Your request seems to be reasonable building component for database-like systems. However, it does not seem to fit the scope of CoreFX/BCL and would be IMO better served as independent library.

In general we consider extending CoreFX with APIs which:
1. Extend existing APIs/libraries
2. Expose low-level runtime capabilities (e.g. Threading)
3. Would be used or exposed by other BCL/CoreFX librarie

[2017-11-03 21:19] krwq opened #25053 "Add Xunit trait to Xsl tests depending on presence of Xsltc.exe"
This is motivated by https://github.com/dotnet/coreclr/issues/14810 - since tests depending on presence of xsltc.exe are problematic in nature the presence of trait is useful for this issue and also for future so that disabling them is easier

[2017-11-03 21:53] grant-d commented on #25021
Awesome, thanks @karelz, that's exactly what I was looking for. I will take a look at the latter.

[2017-11-03 21:55] svick opened #25056 "Process.WaitForExit should validate the range of its input"
`Process.WaitForExit(int)` does not validate its parameter `milliseconds`, but passes it on:

https://github.com/dotnet/corefx/blob/1100d8faa87656f447bfe8944686d13e7b3af5e9/src/System.Diagnostics.Process/src/System/Diagnostics/Process.cs#L1287-L1295

On Windows, it's then passed onto `WaitHandle.WaitOne(int)`:

https://github.com/dotnet/corefx/blob/1fc008a7e174345826e658672b74aa449fb3573f/src/Syst

[2017-11-03 22:26] divega commented on #20903
@karelz here is the summarized/cleaned up proposal. Very little has changed (see below). I will go ahead and mark this as api-ready-for-review. Feel free to update the initial post:

[code]
## Name and description arguments

We are also seeking feedback on whether we should add overloads for the name and description parameters. These are not commonly used. As per my previous comment:

## Changes s

[2017-11-03 22:42] shmao opened #25058 "AtomFeedPositiveTest_WsFeedIcon Failed"
Test `System.ServiceModel.Syndication.Tests.BasicScenarioTests.AtomFeedPositiveTest_WsFeedIcon` failed.

The expected <icon> element is,

[code]

The actual <icon> is,

[code]

The behavior, however, is the same as the full framework's.

[2017-11-03 22:43] shmao commented on #25058
@JimboWei can you take a look at this issue? I tried the test on desktop and I got the same behavior.

[2017-11-03 22:44] AceHack commented on #25034
There are a few reasons I think this belongs to CoreFX/BCL instead of a library.
1) It was part of BCL of full .NET framework on windows (This is not a very good reason)
2) It requires low level below FileStream access to things like overlapped unbuffered IO, I/O completion ports or maybe just the native win32 apis for CLFS (Common Log File System) and on Linux would require below filestream acces

[2017-11-03 23:03] danmosemsft commented on #25033
This means that server's SslStream.NegotiatedApplicationProtocol is null even though apparently the AuthenticateAsClientAsync and AuthenticateAsServerAsync tasks both completed (if they had timed out an assert would have fired). @stephentoub should DoHandshakeWithOptions be checking that the tasks completed succcessfully?

[2017-11-03 23:04] #25053 closed

[2017-11-03 23:11] Fedorus opened #25060 "Compability of GZipStream between core and framework"
I`ve tried to port popular library for http requests called xNet and faced interesing issue. Library compiled for standart 2.0 works fine when it`s used in Windows Console project and falls with errow when used in Core Console Project (both test projects in my repo).
Problem appiers when you try to download http content coded with gzip. Problem located to this line:
https://github.com/Fedorus/xNet

[2017-11-04 00:03] stephentoub commented on #25033
It is.  Task.WaitAll will throw an exception if the tasks given to it complete within the timeout and at least one of them didn't complete successfully.

[2017-11-04 00:17] danmosemsft commented on #25033
Ah, I missed that. OK, I will leave this to a networking person to figure out.

[2017-11-04 00:29] danmosemsft commented on #25037
@stephentoub do you have ideas what could cause the remote process to fail with SIGQUIT? It's not tests in any particular library. I believe it's generally OSX. Perhaps there's some logging we can add.

[2017-11-04 00:29] danmosemsft commented on #25008
@JeremyKuhne as he's lookign at these enumeration API.

[2017-11-04 00:48] krwq commented on #25046
Closed with https://github.com/dotnet/corefx/pull/24531

[2017-11-04 00:48] #25046 closed

[2017-11-04 01:09] Clockwork-Muse commented on #25043
Sure - with the normal ’Rent’/’Return’ you have one item to manage.  The current proposal has two, one of which is _implicitly_ (not obviously) disposed.  That's a recipe for disaster at some point.  You'd be better off with a combined object instead.

The "switch out buffer" bit is only partially an issue - it's probably not a good idea normally, just because you might lose track of a buffer some

[2017-11-04 07:40] WinCPP commented on #16646
Thanks @krwq! msbuild works now and I am able to generate coverage report as well.

[2017-11-04 08:19] clee842 commented on #22184
@Unvilon
Removing Trusted Connection=True; fixed the Kerberos problem for me too :)
Thanks!

[2017-11-04 14:21] AceHack commented on #25034
Here is some example low level code that would likely be used on windows.  This is not a full WAL or ARIES yet but I image it would use a lot of the same constructs.

[code]

[code]

[code]

[2017-11-04 15:01] algot commented on #10054
I use .Net Core 2.0 but it doesn't have definition for `CodePagesEncodingProvider` to use workaround suggested before:
Encoding.RegisterProvider(CodePagesEncodingProvider.Instance);

I tried to use `using System.Text.Encoding.CodePages;` but it also is absent in Encoding.

[2017-11-04 15:10] saeedmsdi opened #25062 "How can I send some requests from authenticated proxy server ?"
Hi,

I have an application wants to send some of outbound requests from an authenticated proxy server.
I have `schema` `host` `port` `username` and `password` of my proxy server.

I have 2 problem:

1. how can I implement for specific outbound addresses not all.
2.  how can send this requests from proxy server!

I just find [this](http://josephwoodward.co.uk/2016/07/proxying-http-requests-asp-net-

[2017-11-04 16:12] AceHack commented on #25036
This could go hand in hand with the new async main introduced in C# 7.1.  Not knowing enough here but could this not be implimented using an i/o completion port or something similar (I know it would need to be different on linux)

Thanks.

[2017-11-04 16:21] WinCPP commented on #16646
@danmosemsft @krwq While importing tests from the mono project (discussion above), I have encountered a problem with regards to `XPathNavigatorReader.LocalName` (please refer to the code [here](https://github.com/dotnet/corefx/blob/63e70fa6b1bc6b7175467e0ad16cbbf4c44f8d83/src/System.Private.Xml/src/System/Xml/XPath/XPathNavigatorReader.cs#L213-L225)).

I am not sure if I am seeing an anomaly with

[2017-11-04 16:26] AceHack commented on #25026
lockfree and/or waitfree implementation would be great.  Also bulk/multiple items operation would also be very great.

[2017-11-04 16:47] AceHack commented on #24931
Please add File I/O to this list as well.  Would include things like SSD, HDD, Sequential Access, Random Access, Async, Sync, Parallel/Overlapped, Small Size, Large Size, Unbuffered (Hardware, OS, App), Buffered, etc...  I really wish there was similar benchmark like TechEmpower for all these file access patterns.

http://fsbench.filesystems.org/

[2017-11-04 17:28] tuespetre commented on #5360
@karelz with regard to @CarolEidt’s thoughts on a performance-friendly API design, here’s an example of what I would like to use:

[code]

The idea is that instead of padding at the end it would pad at the beginning. So `ReadFirst` takes the remainder `var rem = arr.Length % Vector<T>.Count`, skips the first`Vector<T>.Count - rem` places in the register, and fills `rem` places from `arr`. It also

[2017-11-04 18:09] #22187 closed

[2017-11-04 18:23] WinCPP commented on #20669
@tarekgh Thank you. I will try this out to have the local setup working with LDS. After that I am interested in fixing the test classes to make it work with LDS and AD Server as you mentioned above.

[2017-11-04 18:27] krwq commented on #16646
@WinCPP, if you believe there is something wrong with the implementation please create a new issue and write the details what is expected and what you get (or point to a failing test case) and we can have conversation over there if there are any doubts

[2017-11-04 20:06] karelz commented on #5360
@eerhardt @ViktorHofer can you please take a look?

[2017-11-04 20:12] JeremyKuhne commented on #25008
Currently we do case sensitive on Unix and insensitive on Mac/Windows. The future plan is to allow providing custom filters. See #18922 for a related request. If there are other matching scenarios you're interested in please share them as well.

[2017-11-04 20:58] YohDeadfall commented on #5360
I think it would be better to use `ReadOnlySpan<T>` because it can be built from an array or native memory, Also the start position and the length can be specified when making it for an array. Or at least we should support `ReadOnlySpan<T>` too.
[code]
[code]
Another way is to have an enumerator:
[code]
[code]

[2017-11-04 21:31] benaadams commented on #5360
ReadEnumerator would need to be a ref struct (stack only) and couldn't implement IEnumerator<T> or it couldn't have a Span field

[2017-11-04 22:04] YohDeadfall commented on #5360
Oh, thanks. Fixed. Also added lost `GetEnumerator`.

[2017-11-04 22:12] karelz commented on #25062
I am not sure what exactly you're asking for.
If you need to make HTTP requests, use `HttpClient` class. If it doesn't work as it should, please ask specific question, ideally with repro.
If you have questions regarding HTTP server (Kestrel, ASP.NET), please ask on https://github.com/aspnet

[2017-11-04 22:12] #25062 closed

[2017-11-04 22:21] tuespetre commented on #5360
I think you meant `public Vector<T> Current`, too.

But 👏 👏 I like the enumerator idea! I’m not up to speed with `Span` and stackonly structs so I had no idea that was an option. Very cool

[2017-11-04 23:06] karelz commented on #25034
Here's my view on your reasons to add the library into CoreFX:

1. System.IO.Log was part of .NET Framework
    * This is a good argument for porting the code over "as is", but it does not require making the code very high-performance implementation. If there is enough upvotes, we can definitely consider bringing it into future versions of .NET Framework Compatibility Pack - see #24909.
2. It requ

[2017-11-05 06:14] schemburkar opened #25063 "Build breaks when targetting UWP SDK 16299 (DotNet core) along with Microsoft advertising"
The UWP app build in Release mode breaks when targeting the latest UWP SDK that uses dotnet core toolchain along with Microsoft advertising sdk.

Environment:
Visual Studio 2017 (15.4.1)
UWP SDK 16299
Microsoft Advertising SDK 10.0.7
UWP App project ( Target Version 10.0.16299.0, Min Version 10.0.16299.0)
Microsoft.NETCore.UniversalWindowsPlatform  6.0.1
NetStandard 2.0.0

Error Details:
1>  Task

[2017-11-05 18:37] couven92 commented on #10054
@algot you also need to add a package reference to the `System.Text.Encoding.CodePages` package.

[2017-11-05 19:43] #24638 closed

[2017-11-05 19:53] saurabh500 commented on #24871
Closed with https://github.com/dotnet/corefx/pull/24655

[2017-11-05 19:53] #24871 closed

[2017-11-05 20:21] wizofaus commented on #24951
The meat of the logic to support this appears to be in:
https://github.com/Microsoft/referencesource/blob/master/System.Data/System/Data/SqlClient/TdsParser.cs

If it doesn't look like it's too much work to copy the relevant bits of code into the dotnet corefx source I don't mind doing so, though so far I haven't been able to get it to build (getting errors trying to download required packages etc

[2017-11-05 22:34] Daniel15 opened #25064 "X509Certificate2: Unclear error message when permission denied to file"
If the user running an ASP.NET Core app on Linux does not have permission to access the PFX file, this confusing error message is thrown:
[code]

[2017-11-05 23:37] Const-me opened #25066 "ARM/Linux: unable to cancel async read of /dev/input/input0 file"
I’m using System.IO.FileStream to read touch screen events. More specifically, I have an endless loop that calls `await stream.ReadAsync(…)` API on that file.

It works OK and I’m getting my touch events (well, almost, because no multi-touch, but I don’t think .NET is responsible for that).

I’m having problems implementing graceful shutdown.

I’ve tried closing and disposing the stream, I.ve trie

[2017-11-06 01:07] JonHanna opened #25067 "NullReferenceException on unary operators on nullable enums in Microsoft.CSharp"
Given:

[code]

The invocation of `targ` will throw a `NullReferenceException`.

The immediate problem is it hitting a path that assumes it is dealing with an `AggregateType` when it is dealing with a `NullableType`, but it seems a bit more than just a spot fix there will be needed to make it handle the combination of both lifting and between enumerable types and their underlying types.

Code usin

[2017-11-06 01:13] JonHanna commented on #25067
Use with `ExpressionType.Increment` and `ExpressionType.Decrement` (the other two valid unary operators for such types) seems to work according to deduced rather than compile-time type, so it gives the correct result above, but throws a RBE for null as the value passed to the delegate.

[2017-11-06 04:51] Porges commented on #23068
I was just bitten by this, using `ConcurrentBag` as an object pool with an object that knows how to return itself means that the pool can never be GC'd. As a workaround I've had to replace the object pool reference with a `WeakReference<ConcurrentBag<typeof(this)>>`.

`ConcurrentBag` having `IDisposable` would be much more honest!

[2017-11-06 05:23] bgrainger commented on #9245
When developing [MySqlConnector](https://github.com/mysql-net/MySqlConnector), I didn't check the SqlClient behaviour first, but just assumed that throwing `OperationCanceledException` (and transitioning the `Task` returned from `ExecuteXAsync` to the `Canceled` state) was the right thing to do. (At the moment, I plan to keep this behaviour instead of changing it to match SqlClient and Npgsql.)

T

[2017-11-06 05:47] bgrainger commented on #3688
MySQL has a similar problem/opportunity.

There is a [text protocol](http://web.archive.org/web/20170404224551/https://dev.mysql.com/doc/internals/en/text-protocol.html) that allows multiple commands to be sent, and returns multiple result sets. However, it doesn't support parameter binding, prepared statements, and transmits all data types in a textual format. Then there is a [binary protocol](ht

[2017-11-06 06:15] jamesqo commented on #14354
@terrajobst One kind of last-minute API request for this. Since we marked `GetHashCode` obsolete, we're implicitly telling the user that `HashCode`s are not values meant to be compared, despite being structs which are typically immutable/comparable. In that case, should we mark `Equals` obsolete too?

[code]

I think something similar was done with `Span`.

[2017-11-06 06:35] Sunny-pu commented on #20024
failed again in Master branch:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171106.02/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandlerTest~2FPostAsync_CallMethod_StreamContent(remoteServer:%20http:~2F~2Fcorefx-net.cloudapp.net~2FVerifyUpload.ashx,%20content:%20Stre

[2017-11-06 06:48] Sunny-pu commented on #19705
failed again in master branch:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171106.02/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.SslStreamStreamToStreamTest_Async~2FSslStream_StreamToStream_WriteAsync_ReadAsync_Pending_Success

[2017-11-06 07:03] dotnet-mc-bot opened #25069 "Test failure: System.Diagnostics.Tests.EventLogEntryCollectionTests/CheckingEntryEqualityAndIndex"
Opened on behalf of @Sunny-pu

The test `System.Diagnostics.Tests.EventLogEntryCollectionTests/CheckingEntryEqualityAndIndex` has failed.

Assert.Equal() Failure\r
    Expected: 1\r
    Actual:   0

        Stack Trace:

           at System.Diagnostics.Tests.Helpers.WaitForEventLog(EventLog eventLog, Int32 entriesExpected) in E:\A\_work\1586\s\corefx\src\System.Diagnostics.EventLog\tests\Helpers.

[2017-11-06 07:42] mikkeljohnsen commented on #9245
@bgrainger Yes it is the logical thing to do. The SqlClient is doing it wrong and should change it ASAP.

I think Npgsql should follow your lead and do the right thing.

[2017-11-06 07:59] Sunny-pu commented on #24537
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release/lastCompletedBuild/testReport/System.ComponentModel.Tests/AsyncOperationFinalizerTests/Finalizer_OperationNotCompleted_CompletesOperation/

[2017-11-06 08:03] cscer commented on #24280
@karelz @tarekgh @svick

sorry for the late reply.

yes, it's working fine on the full .Net Framework.

I tried to write a project to reproduce the problem, but did not succeed.

I think there are still a number of bugs in netcore or there are differences with the full framework, and vs2017 is not stable enough.

I've stopped migrating this project to Netstandard and reused net461.

May be the sam

[2017-11-06 08:34] bertdev opened #25070 "When I try to build the corefx in my local with VS2017 enterprise, it always point to community."
![image](https://user-images.githubusercontent.com/33082483/32431896-4087655c-c310-11e7-90f2-b265f5938287.png)

Actually I have installed an enterprise version of VS2017.

[2017-11-06 08:46] roji commented on #3688
@bgrainger that's interesting, the MySQL protocol situation seems to be exactly identical to [PostgreSQL's protocol situation](https://www.postgresql.org/docs/current/static/protocol-overview.html#protocol-message-concepts)... originally there was only a simple protocol which support multiple statements in the same protocol message, but no parameters, prepared statements or binary data representat

[2017-11-06 08:56] roji commented on #9245
As this hasn't even received a comment in such a long time, I'll go ahead and change Npgsql's behavior for 3.3.

I really do hope Microsoft improves their attitude towards database access and ADO.NET, it's quite frustrating for things to receive zero attention at all - Entity Framework is important but so is raw SQL access (@divega maybe you can help push again)

[2017-11-06 08:58] Sunny-pu commented on #23121
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/l304/testReport/System.Net.Sockets.Tests/DualModeConnectionlessReceiveMessageFrom/ReceiveMessageFromAsyncV4BoundToAnyV4_Success/

[2017-11-06 09:12] Sunny-pu commented on #19701
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_release/209/testReport/System.Net.Http.WinHttpHandlerFunctional.Tests/ServerCertificateTest/NoCallback_ValidCertificate_CallbackNotCalled/

[2017-11-06 10:58] Joe4evr commented on #14354
If that's accepted, then I think...
1. I'd consider using `should not`, or `may not` instead of `cannot` in the Obsolete message.
2. Provided the Exception stays, I would put the same string in its message, just in case the method gets called through a cast or open generic.

[2017-11-06 11:09] JimboWei commented on #25058
@shmao I have tested the issue, got different result with yours:

**coreFx actual** is,  `<icon>http://example.com/icon.jpg</icon>`
**full framework's actual** is, `<icon xmlns="http://www.w3.org/2005/Atom">http://example.com/icon.jpg</icon>`

In coreFx the element `<icon>` is a property of class `SyndicationFeed`
In full framework's the element `<icon>` is an item of `SyndicationFeed.ElementExten

[2017-11-06 13:33] kchanlee opened #25072 "Client cert auth doesn't work in HttpClientHandler"
We have a Nginx server that lives behind a Barracuda Web Application Firewall. We configure the firewall to only allow request with specific client cert. I am writing code leveraging on `HttpClient` to access Nginx.

With the following .Net Core 2.0 code, I always get `System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.Http.WinHttpException: A securi

[2017-11-06 13:57] stephentoub commented on #24874
Failed again here:
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/354af156af0a279d8fc1000885eee19f94ef06fc/workItem/System.Diagnostics.EventLog.Tests/analysis/xunit/System.Diagnostics.Tests.EventLogEntryCollectionTests~2FCheckingEntryInEquality
[code]

[2017-11-06 14:08] bgribaudo commented on #3688
There's actually a MS SQL Server use case for this feature request, as well.

With SQL Server and ADO.Net, as has already been pointed out, it's currently possible to build a single command consisting of multiple SQL statements.

However, the same doesn't hold true for stored procedures: It's currently not possible to invoke multiple stored procedures using a single `CommandType = CommandType.Stor

[2017-11-06 14:11] jamesqo commented on #14354
@Joe4evr Fine with me; I've updated the comment. It may also be beneficial to include the same message in the `GetHashCode` exception too, then:

[code]

[2017-11-06 15:53] AtsushiKan opened #25077 "Utf8Formatter.TryFormat(Double/Single) allocates a String."
As it's a thin wrapper around the classic BCL api. The algorithm is extremely complex and we don't have a C# version and porting the C++ from CoreCLR would be time-consuming and it's not clear whether the engineering result would be to our pleasing. For now, this overload is more for completeness than a cloud need so for now, this issue is for tracking.

[2017-11-06 15:53] karelz commented on #24280
Sadly, without a repro it is not actionable for us.
Let's wait to see if more people hit similar problems. Hopefully one of them can share a repro for us to investigate. Closing for now. Thanks!

[2017-11-06 15:53] #24280 closed

[2017-11-06 16:02] tuespetre commented on #5360
I've played around with @YohDeadfall's idea as well as my own but I can't seem to find a solution that has super nice performance. In fact, I see a substantial hit to performance using the enumerator approach, while with the `ReadFirst`/`ReadNext` approach, I also found that it is too inflexible when needing to perform vector operations involving multiple arrays simultaneously (for example, a triv

[2017-11-06 16:20] YohDeadfall commented on #5360
Could you show the performance test results and the used data? I want to play with it myself.

[2017-11-06 17:00] Moreno-Borsalino commented on #25063
Same problem here with the same configuration but on another file:
error : ILT1307: Assemblies 'E:\DevProjects\VisualStudio11\PasswordSyncFluent3\obj\x86\Release\ilc\in\WinMetadata\Microsoft.Services.Store.Engagement.winmd' and 'C:\Users\Moreno\.nuget\packages\microsoft.services.store.engagement\10.1706.16001\SDK\Windows Kits\10\ExtensionSDKs\Microsoft.Services.Store.Engagement\10.0\References\Com

[2017-11-06 17:10] bungeemonkee commented on #21689
This is closed but doesn't seem to actually be fixed in SDK 2.0.2. The PR makes it seem like it is actually in 2.0.3 which is as yet unreleased. Is this correct? Is there a release date for SDK 2.0.3?

Thanks!

[2017-11-06 17:10] Petermarcu opened #25079 "Improve Enumerable.SingleOrDefault(predicate) Logic"
@seanfisher commented on [Sun Nov 05 2017](https://github.com/dotnet/core/issues/1061)

# Improve Enumerable.SingleOrDefault logic

This improves performance for the case where more than one element is found that matches the predicate, especially in large data sets.

# General

Hi, I ran across the [reference source for Enumerable.cs](https://github.com/Microsoft/referencesource/blob/b31308b03e8bd

[2017-11-06 17:11] Petermarcu commented on #25079
@AlexGhiondea can you track down which issue or PR we should mark for consideration for porting to .NET Framework to address this?

[2017-11-06 17:29] shmao commented on #25058
@JimboWei Sorry I didn't make it clear. Yes, the test `AtomFeedPositiveTest_WsFeedIcon` is being added by PR #25059. After that PR, corefx would have the same behavior of full framework's, i.e. corefx's actual would be ,

[code]

And that would fail the test, which means the full framework's behavior fails the test. So I wondered if the test is as expected.

Yes, the element <icon> currently,  bef

[2017-11-06 17:31] JonHanna commented on #25079
This was done in #2350 which is already marked netfx-port-consider.

Some moving around having happened since, the current code can be found https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/Single.cs#L132

[2017-11-06 17:36] davidsh commented on #25072
Looking at the code you have I don't see anything in particular that points to a problem.

In order to help further, we would need a real repro of some kind using the real certificates and server endpoint.  Or perhaps you can get detailed WireShark and other traces.  There is something going on with the TLS/SSL handshake (which is why you get the "security error").  But only more detailed logs wil

[2017-11-06 17:40] JonHanna commented on #25079
Incidentally, all of the changes in that PR have observable differences beyond just performance, in that the change to whether the entire sequence is examined or not could be potentially breaking if someone depended on side-effects in predicates or other delegates earlier in the chain (which is poor practice, but that is far from meaning nobody did so), which is why that PR was split off from some

[2017-11-06 17:48] karelz commented on #21689
Yeah, I think it slipped into 2.0.3. @leecow do we have public ETAs on servicing releases? Namely 2.0.3?

[2017-11-06 18:17] danmosemsft commented on #25069
@Anipik try increasing the retries and/or backing off with increasing delays.

[2017-11-06 18:25] shmao opened #25080 "3 Syndication Tests Fail"
The following tests failed after we reset the code base of syndication by using the full framework implementation.

[code]

[2017-11-06 18:33] Const-me opened #25081 "ARM/Linux: NetworkChange.NetworkAddressChanged crashes"
Here's a program:
[code]
Here's the output when I unplug Ethernet cable from the device:
[code]

[2017-11-06 18:53] danmosemsft opened #25082 "Run tests on non-en-US culture"
Right now our CI and official runs all use en-US. When contributors run tests locally on a machine with different culture settings, they sometimes get failures - which we fix, but it would be nice to prevent this upstream especially as sometimes they are product bugs.

[2017-11-06 18:55] danmosemsft commented on #25082
This hole came up when discussing Xamarin testing overlap, in the context of having the same behavior on specific cultures. Our tests generally don't verify what culture specific behavior is, but just that culture specific behavior occurs. We rely on the OS/ICU to determine this behavior. Xamarin has a hybrid approach.

[2017-11-06 18:57] danmosemsft opened #25083 "Promote netcoreapp tests to netstandard as possible"
Tests that run only against .NET Standard surface area should run in the netstandard configuration so they can be reused against other netstandard implementations. It is likely that we currently have some tests running in the netcoreapp configuration that could be run in netstandard. We should do a pass through in order to beef up our netstandard coverage.

[2017-11-06 19:02] danmosemsft opened #25084 "Share .NET Standard test bed"
We already have good tools to ensure that .NET Standard implementations fulfil the .NET Standard API surface area. We should now also share tests in order to minimize functional differences. In CoreFX we have a attempted to separate out tests for .NET Standard. In discussion with @marek-safar and @luhenry of Xamarin it likely makes sense to make this test bed reuseable so we can run it against Xam

[2017-11-06 19:26] stephentoub opened #25085 "Add String support to ReadOnlyMemory<char>"
Today `ReadOnlySpan<char>` can reference a `System.String` (via `AsReadOnlySpan()`), but `ReadOnlyMemory<char>` can't.  We should fix that so that `ReadOnlyMemory<char>` can be used as a way to slice strings where the slices can live on the heap.

To me that means:
1. Allowing `ReadOnlyMemory<T>` to wrap a `string` in addition to wrapping a `T[]` and an `OwnedMemory<T>`.  This will mean an extra t

[2017-11-06 19:50] Const-me commented on #25081
Fortunately, the workaround was relatively simple. Basically, I’ve copy-pasted what’s in src\Native\Unix\System.Native\pal_networkchange.cpp into my own C++ shared library, applying minor fixes for better API (e.g. there’s no need to native calls each loop iteration, the complete loop is fine running in C++, the task occupies the whole thread anyway). Don’t forget TaskCreationOptions.LongRunning w

[2017-11-06 20:01] ahsonkhan commented on #24839
[code]

[2017-11-06 20:01] terrajobst commented on #25085
Adding a few more folks that asked for `StringSegment` before

@davidfowl @davkean

[2017-11-06 20:32] danmosemsft commented on #24874
@Anipik as noted in the other issue I think sadly the first thing to try is more retries and/or backoffs on the delays. I suggest making it try for 30 seconds or something super large like that.

[2017-11-06 21:14] vancem commented on #23068
There is another solution that I did not list above that I wanted to include (because I think it is better than the other two.

SOLUTION3: Reimplement ThreadLocal so that it owns the array of thread-specific object references.

Today ThreadLocal is implemented by having each Thread have an array of pointers.  A THredLocal is an index into these arrays.   (thus a ThreadLocal owns one slot in each o

[2017-11-06 21:17] danmosemsft commented on #25063
@tijoytom this seems an issue with the SDK or toolchain. Where is the right place to get help with that?

[2017-11-06 21:37] TylerBrinkley commented on #24449
If it's alright with @adriangodong I'd like to take this on, though I'm unsure of how to get the coreclr changes merged to the corert repo as @tarekgh has mentioned.

[2017-11-06 21:58] tarekgh commented on #24449
@TylerBrinkley when you change anything in coreclr repo under the shared folder (e.g. https://github.com/dotnet/coreclr/tree/master/src/mscorlib/shared/System) it'll get automatically open a PR in corert repo to mirror the changes. so basically no other work need to be done more than ensuring the changes are merged and the packages (of coreclr and corert) are built and referenced in corefx. we can

[2017-11-06 21:59] tarekgh commented on #24449
CC @safern who monitor the change monitoring between coreclr and corert

[2017-11-06 22:10] huanwu commented on #19727
It works if you pass the generic type via the serialization type the new feature in #24491.

e.g.
For the generic type:
[code]

You can specify the generic type like:
[code]

[2017-11-06 22:18] kouvel commented on #23068
For solution 3, the managed Thread object in CoreCLR must be finalized before the ID is reused. So how about an event that ThreadLocal<T> can register with to clean up values for ID, which would be raised in the Thread finalizer?

[2017-11-06 22:21] kouvel commented on #23068
Probably would have to use a weak reference to the ThreadLocal object so that the thread does not keep it alive

[2017-11-06 22:31] benaadams commented on #23068
What data structure is TLS? i.e. what is mapping from `[ThreadStatic] var` => `location`?

Could it just be a managed `Dictionary` on `Thread`; then it doesn't even need to use `ManagedThreadID` or is that naive?

[2017-11-06 22:37] #22937 closed

[2017-11-06 22:42] benaadams commented on #23068
Ah, wouldn't help with lifetime of ThreadLocal though

[2017-11-06 22:46] jkotas commented on #23068
Such structure will have a lot of false sharing. I think there is a pretty good chance that if you switch to this structure and run ConcurrentBag parallel microbenchmarks on it, they will regress quite a bit.

[2017-11-06 22:53] stephentoub commented on #19223
Failed again here:
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/45a0c3ba3c11462c680ee83e6b3bf6e810449fc4/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.SafeServiceControllerTests~2FGetServices

[2017-11-06 23:10] benaadams commented on #23068
Specifically for `ConcurrentBag` rather than `ThreadLocal` in general could wrap any self references in a `WeakReference`?

[code]

[2017-11-06 23:12] KrzysztofCwalina commented on #24839
I updated the APIs at the  top of this issue.

[2017-11-06 23:13] NonStatic2014 opened #25088 "Socket.Listen() does not support UNIX Domain Socket"
According to https://github.com/dotnet/corefx/issues/10981, I copied the implementation from corefx/src/System.Net.Sockets/tests/FunctionalTests/UnixDomainSocketTest.cs  and use it locally like below. (I'm using dotnet core 2.0.0 on Ubuntu)

[code]

The exception is something like below:

[code]

Is there any solution or workaround to let dotnet core build a domain socket server in Linux? Thanks!

[2017-11-06 23:39] vancem commented on #23068
@benaadams   - If I understand your suggestion properly, it works fine is direct self-reference (that is the value in the current dictionary is a ConcurrentDictionary, however the normal scenario is that the T is some other object that through a  chain of references happens to point indirectly at the original concurrent dictionary.

@jkotas  - I am assuming you are referring to cache line sharing.

[2017-11-06 23:42] mj1856 opened #25089 "Add methods for getting the current time in a specific time zone"
We presently have `DateTime.Now` and `DateTimeOffset.Now` for getting the current time in the computer's local time zone.  We also have `DateTime.UtcNow` and `DateTimeOffset.UtcNow` for getting the current time in UTC.  However, we don't have a property or method to get the time in a *specific* time zone.  To achieve that, one currently has to first get the UTC time, then get a specific time zone

[2017-11-06 23:47] benaadams commented on #23068
ThreadLocal isn't particularly beneficial over a regular heap object in this scenario; as there would be no contention.

We use `ThreadLocal` to record high speed metrics without contention - then take the hit on less frequent aggregates - so it would effect our use considerably.

Something like
[code]

[2017-11-06 23:57] danmosemsft commented on #25064
@bartonjs have we considered trying to add our own messages for any OpenSsl error codes ? It looks like some of the messages that it gives us are not very readable. It seems this one is an [expected message](https://github.com/openssl/openssl/issues/774#issuecomment-190970613).

[2017-11-06 23:58] vancem commented on #23068
It certainly is nice if all the data associated with a thread is together.   We should probably see how bad the ConditionalWeakHandle solution is.     Maybe we can optimize the primitive (and maybe advanced user) case to not use them in that case.

[2017-11-07 00:10] benaadams commented on #23068
Sounds good. Making the `ThreadLocal` larger (e.g. WeakRef field + strong ref field, switch on `typeof(T) ==`) wouldn't be an issue as its a function of the number of threads; and if you had a enough threads to cause allocation issues; well it would be dwarfed by the thread stacks and there would be other much bigger issues 😁

[2017-11-07 00:11] bartonjs commented on #25064
Our current position is that we do not want to be in the way of interpreting error codes, either from Windows or from OpenSSL (or from Security.framework).

Certainly, user feedback can help us decide that we want to get into a new position... but our current position is "considered, and rejected".

[2017-11-07 00:11] benaadams commented on #23068
Or something like `!RuntimeHelpers.IsReferenceOrContainsReferences<T>`

[2017-11-07 00:13] vancem commented on #23068
Yes, sounds promising...

[2017-11-07 00:59] huanwu commented on #19722
When to generate the code for the following two types

[code]

When to import the second type, in the code https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System/Xml/Serialization/XmlReflectionImporter.cs#L713, it will return the mapping for the first type because their type name is same. The fix is to add one more key "fullname" to the NameTable class. The fix is same as t

[2017-11-07 01:02] andremacdowell commented on #21429
Same error here, dotnet core 2.0 app in a rheal container trying to upload a file to Minio using the Amazon.S3 nuget.

[2017-11-07 01:07] karelz commented on #25079
Our breaking change bar is much higher on .NET Framework. In general the value has to outweight the risk of breaking application(s). It takes just one broken popular applications to make many customers very unhappy.

[2017-11-07 01:07] danmosemsft commented on #25081
So `GetAllNetworkInterfaces()` is returning one or more null entries? Any chance you could debug it a bit to see where that's coming from? Perhaps we just need to drop any nulls that the OS is giving us.

[2017-11-07 01:08] danmosemsft commented on #25070
@bertdev did you try doing repair on your VS installation? (Did you have Community before?)

[2017-11-07 01:09] karelz commented on #25070
@weshaggard is it known problem?

[2017-11-07 01:10] karelz commented on #25079
I marked it for considering (netfx-port-consider). Now we can close it here as it does not apply to CoreFX anymore.

[2017-11-07 01:10] #25079 closed

[2017-11-07 01:14] karelz commented on #25063
netnativehelp@microsoft.com is the right place to file bugs against .NET Native tooling. Closing here ...

[2017-11-07 01:14] #25063 closed

[2017-11-07 01:17] weshaggard commented on #25070
It isn't a known problem. I might also suggest you do a clean build as the CMake generated files might be outdated based on your current VS isntalles.

[2017-11-07 01:18] danmosemsft commented on #25064
It might be worth asking OpenSSL whether they could make their messages more readable, but I'm guessing they're happy with it.

[2017-11-07 01:19] Const-me commented on #25081
That's not what's happening here.

There’s no my code anywhere in the exception stack trace. It’s all deep inside .NET framework code.

The way NetworkAddressChanged event is implemented in .NET framework, it creates a socket of type [AF_NETLINK](http://man7.org/linux/man-pages/man7/netlink.7.html), reads it in the endless loop using blocking `recvmsg` API and parses the result. This all happens o

[2017-11-07 01:20] Daniel15 commented on #25064
That is unfortunate... How is anyone supposed to know that "error:2006D002:BIO routines:BIO_new_file:system lib" means "access denied"? It also introduces inconsistency across platforms, in that certificate-related exceptions on Windows are totally different than on other languages ;(

[2017-11-07 01:22] shmao commented on #25058
@JimboWei I've merged PR #25059. You can fetch the latest master and you should be able to repro the test failure by removing the [ActiveIssue] from test `AtomFeedPositiveTest_WsFeedIcon`.

[2017-11-07 01:22] danmosemsft commented on #13309
@stephentoub on High Sierra ENXIO gives "Device not configured" apparently instead of "No such device or address". Would it be reasonable for us to use our own string for this error code, possibly on macOS only?

[2017-11-07 01:37] Const-me commented on #25081
I can’t debug .NET on that system, I’ve installed the framework from a binary package.

But based on the source code, I think it’s the s_availabilityTimer field that’s null.

It’s set to non-null when NetworkAvailabilityChanged event is subscribed, and I don’t do that, I’m only subscribing to NetworkAddressChanged. However, OnSocketEvent method calls s_availabilityTimer.Change().

You should proba

[2017-11-07 01:39] schemburkar commented on #25063
@karelz I can't send an email to netnativehelp@microsoft.com, postmaster delivery failed. The email is Microsoft internal only. Can you loop them in for me with the details?

[2017-11-07 01:56] bertdev commented on #25070
Thanks guys. I will try to fix based on your comments. And will update progress later.

[2017-11-07 02:06] TylerBrinkley commented on #24449
You can unassign me as @adriangodong already submitted a PR for the coreclr changes, he just never linked it back to this proposal.

[2017-11-07 02:13] bertdev commented on #25070
My local env have community before and later when company apply the license of enterprise, I installed an enterprise version again. Now I am trying to clean my local env first, then install enterprise again to see what happened.

[2017-11-07 02:57] stephentoub commented on #13309
Is there a better errno value we could map to instead?  EADDRNOTAVAIL?  EHOSTUNREACH?

[2017-11-07 04:55] roji opened #25093 "ADO.NET APIs force needless Task allocations"
The ADO.NET API added async methods (e.g. `DbDataReader.ReadAsync()`, `DbDataReader.NextResultAsync()`) before ValueTask existed. Unfortunately this means that these methods return Task instances, which are heap-allocated, although in many (most?) cases the ADO.NET driver will already have the next row or resultset cached in its internal buffer (this is the case for Npgsql).

Ideally new API metho

[2017-11-07 05:13] stephentoub commented on #25088
You specified SocketType.Dgram.  The error you're getting isn't coming from .NET, it's coming from the OS, saying it doesn't support that configuration.  Did you try SocketType.Stream instead of SocketType.Dgram?

[2017-11-07 05:22] stephentoub commented on #25088
e.g. this C program works on my Ubuntu 17.10 VM:
[code]
and prints out "done", whereas changing that `SOCK_STREAM` to `SOCK_DGRAM` results in it printing out "listen: Operation not supported".

[2017-11-07 05:29] danmosemsft opened #25094 "Proposal: String.Contains(char)"
## Rationale and Usage

Finding a character in a string is a fairly common primitive operation. Unfortunately we lead users to the pit of failure because `mystring.Contains(char)` will bind to the Linq version, which can easily be 20x slower than `mystring.IndexOf(char) != -1`. By adding these to string, the next recompile will give a performance improvement.

## Proposed API

[code]

the implemen

[2017-11-07 05:57] kchanlee commented on #25072
Hello, here are packets captured by Wireshark [packets.zip](https://github.com/dotnet/corefx/files/1448828/packets.zip). (My Wireshark didn't capture packets from my computer to server...)

And I find something more interesting. I add the following .Net Core code, then add a break point inside the callback and start **debug**ging, it works. But if I debug without this break point or run without de

[2017-11-07 05:59] stephentoub commented on #25094
Why is this needed?  Is it purely for Ordinal and OrdinalIgnoreCase?

Does such an IndexOf overload exist that takes a char and a StringComparison?

[2017-11-07 06:05] danmosemsft commented on #25094
Yes

Oops, no. I added it to the proposal. But I don't this comparison is too important, it could be set aside.

[2017-11-07 06:38] kirsty14141 commented on #17601
`removed videoed
`

[2017-11-07 08:29] elscript commented on #18506
Hello, guys! So, where is the issue right now? We still get the C:\WINDOWS\system32\ for Directory.GetCurrentDirectory()

[2017-11-07 08:52] benaadams commented on #25093
As they are `boolean` returns you can use cached `true`/`false` tasks and only go `async` when you need more data; something like:
[code]

[2017-11-07 10:58] roji commented on #25093
@benaadams of course, silly of me to have forgotten this. In fact, unless I'm mistaken an async method that returns `Task<bool>` implicitly returns a cached instance rather than instantiating. Thanks.

[2017-11-07 10:58] #25093 closed

[2017-11-07 11:02] benaadams commented on #25093
You'll still pay the cost of the `async` statemachine; so may be better to split into two methods (as above) for a Task returning sync version that requires no extra data, and then have it call the async version when you need to get more data

[2017-11-07 11:19] JimboWei commented on #25058
@shmao I have fixed this issue in PR #24972.
It is because I used `XmlWriter ` instead of `XmlDictionaryWriter `, then got different result.

Current full framework and coreFx can get same result:
`XmlWriter `will get `<icon xmlns="http://www.w3.org/2005/Atom">http://example.com/icon.jpg</icon>`
`XmlDictionaryWriter `will get `<icon>http://example.com/icon.jpg</icon>`

[2017-11-07 12:13] jnm2 commented on #25094
Just yesterday I had a use case for `String.Contains(char)` and I thought for sure we already had this but it was [`String.Contains(string, StringComparison)`](https://github.com/dotnet/corefx/issues/20846) I was thinking of. +1.

[2017-11-07 13:56] vector623 commented on #24480
Not sure if this pertains to the same issue, but I noticed very slow SqlClient performance when running sql inserts in a VirtualBox VM on my desktop (i5, 8GB ram) against a stand alone SQL Server installation.
I had this problem on VirtualBox when inserting with ADO, BulkCopy and Dapper.  When I deployed to a production VMWare instance, there was a HUGE improvement in performance.

BTW, I am inser

[2017-11-07 14:12] tannergooding commented on #25094
If the LINQ version is so much worse, is there room for a targeted optimization to improve/special case It?

[2017-11-07 14:48] stephentoub commented on #25085
For API review for items 2 and 3 above:
[code]
Alternative forms of TryGetString to consider instead?
[code]

[2017-11-07 15:02] qmfrederik commented on #23731
@Priya91 I just hit the same issue on a Linux box.

I see there's no milestone set for this issue, so not sure whether it's something that's being actively worked on. Is there a workaround or a fix we can try?

[2017-11-07 15:20] danmosemsft commented on #25094
https://github.com/dotnet/corefx/pull/25097

[2017-11-07 15:22] danmosemsft commented on #25064
@daniel15 is there a list of common such errors you can find, e.g. In the OpenSSL sources? Also is their numeric code stable?

[2017-11-07 15:31] tannergooding commented on #25094
even beyond that, why not
[code]

IIRC, `typeof(T) == typeof(...)` is treated as a constant by the JIT, so doing something like the above might be worthwhile for `string` itself.

[2017-11-07 15:36] brianrob commented on #24941
Thanks @LHCGreg.  I was able to reproduce this with a stock .NET Core 2.0 build and your repro.  I'll dig in further and report back.

[2017-11-07 15:40] prashantchoudhary opened #25099 "Webpack failure on dot net core 2 gives wrong message."
DotNet Core 2.0 with Angular 5
If angular is updated to angular 5 and ngtools is not latest, then following error comes during runtime.
Error: Version of @angular/compiler-cli needs to be 2.3.1 or greater.
Current version is "5.0.0".

Error message is clearly misleading.

[2017-11-07 15:47] stephentoub commented on #25094
TSource would be char, not string. It could do "if (typeof(TSource) == typeof(char))" and then within  that would need to do a cast/type check on the source instance to see if it was a string. That will add some overhead when TSource==char and the source isn't a string, so the question would be whether such overhead is measurable and worthwhile to optimize for the string case.

[2017-11-07 16:13] qmfrederik opened #25102 "System.Drawing on CentOS: Unable to load DLL 'libdl'"
Any code which uses System.Drawing fails on CentOS 7.4 with the following exception:

[code]

This is because by default `libdl.so` doesn't exist on CentOS whereas `libdl.so.2` does exist.

As a workaround you can symlink `/lib64/libdl.so.2` to `/lib64/libdl.so`.

[code]

Program.cs:
[code]

Project file:
[code]

[2017-11-07 16:14] qmfrederik commented on #25102
/cc @safern
Related to #24538

[2017-11-07 16:43] karelz commented on #25063
Alias updated to the external one (dotnetnative@microsoft.com) - see [.NET Native help](https://blogs.msdn.microsoft.com/dotnet/2014/05/21/net-native-deep-dive-help-i-hit-a-missingmetadataexception/).

My apologies, I copied the wrong alias from some MSDN forum post I found :(

[2017-11-07 16:55] karelz commented on #18506
@elscript the upstack components should have the bug reported now, assuming the VS bug was reported ...

[2017-11-07 17:02] Joe4evr commented on #25085
Not a fan of those alternative suggestions for `TryGetString()`; I think every method whose name starts with `Try` should return a `bool`.

[2017-11-07 17:03] stephentoub commented on #25085
Those alternatives were more about the shape; the name could be different.

[2017-11-07 17:15] wfurt commented on #24480
You can always try to pass large packet size paramater @vector623 as suggested above.
If the problem is small socket buffer you should see improvement.
If you don't, the problem is probably something else.

[2017-11-07 17:15] joshfree opened #25105 "Productize System.Collections.Sequences"
Tracking item for [System.Collections.Sequences](https://github.com/dotnet/corefxlab/tree/master/src/System.Collections.Sequences)

Related #24174

[2017-11-07 17:19] Clockwork-Muse commented on #25089
Not against this, but... possibility this strengthens the impression `DateTime`/`Offset` will respect the zone?

[2017-11-07 17:51] shmao commented on #25058
@JimboWei sounds good. Thanks for root causing the issue. Just to confirm, is `XmlDictionaryWriter` the one that we used in our exiting desktop tests?

[2017-11-07 18:10] NonStatic2014 commented on #25088
Thank you Stephen! I tried with STREAM + IP protocol and it worked. For IPC, which protocol would be the best one if I'm using SOCK_STREAM and the data between processes will be up to 10KB?

[2017-11-07 18:13] karelz commented on #20256
Please mark it api-ready-for-review when it is unblocked and ready.

[2017-11-07 18:15] terrajobst commented on #24946
Looks good as proposed.

[2017-11-07 18:30] terrajobst commented on #24854
Looks good as proposed. `MemoryExtensions` doesn't exist yet but `SpanExtensions` will be renamed to it.

[2017-11-07 18:57] terrajobst commented on #25085
Based on the discussion with @stephentoub we concluded that we should merge the two types:

[code]

[2017-11-07 18:59] saurabh500 commented on #24480
@vector623 Are you seeing the slow down on Windows VM or a Linux VM?

[2017-11-07 18:59] mj1856 commented on #25089
It wouldn't change anything about the data types themselves, so I don't think so.  Also, I think if the Intellisense that pops up when one starts typing `DateTime.Now` offers `NowInTimeZone` should at least get that developer thinking about the time zone.

For example, in ASP.Net applications, all too often I find folks seem to think that `DateTime.Now` should return their user's local time, in th

[2017-11-07 19:02] vector623 commented on #24480
I saw the slowdown in a Linux guest VM (virtualbox, debian 9) that was running on a Windows 7 host.

[2017-11-07 19:05] terrajobst commented on #24839
Looks good as proposed

[2017-11-07 19:11] vector623 commented on #24480
@wfurt Packet size was the same in both my windows bare metal installation and my linux guest vm (8000)

[2017-11-07 19:19] BinaryPatrick opened #25107 "System.DirectoryServices.AccountManagement.SetPassword throws non-descriptive errors --4.5.0-preview1-25906-03"
When using `System.DirectoryServices.AccountManagement 4.5.0-preview1-25906-03`, both SetPassword and ChangePassword throw PrincipalOperationException when the password does not meet complexity requirements in AD. Both methods have documentation stating they should throw System.DirectoryServices.AccountManagement.PasswordException instead.

This error seems to appear for most issues, including inv

[2017-11-07 19:20] danmosemsft commented on #25094
I believe this is ready for review.

[2017-11-07 19:26] wfurt commented on #24480
That was not the point @vector623 For problem reported by @geleems increasing packet size fixed the problem. That may be specific to loopback interface where MTU is large and 8000 buffer is too small. With the VM in place, it is hard to know if any of the bottlenecks are coming from that layer.
You can always do packet capture and check if you see the TCP windows size shrinking to 0.

[2017-11-07 19:32] roji commented on #25093
Yep, Npgsql has this pattern in some performance-critical paths (if data is cached return that, otherwise call an async method to load).

[2017-11-07 20:05] terrajobst commented on #20903
Looks good with some minor tweaks:

[code]

[2017-11-07 20:11] Priya91 commented on #23731
This is related to #24553, when sslstream supports sni, this is easy to fix.

[2017-11-07 20:16] Priya91 commented on #23731
We can make this work by default on client, just like the windows behavior, and shelf the api-proposal for server side. On the client side sslstream, this doesn't require any new apis, but will require an implementation change.

[2017-11-07 20:30] leecow commented on #21689
On track to have it out in the next week or so.

[2017-11-07 21:11] danmosemsft commented on #24848
@Foda I updated the title if you don't mind, in order to track this work for us for RS4.

[2017-11-07 21:15] danmosemsft commented on #24848
Marking blocking-release to make certain this doesn't get lost.

[2017-11-07 21:20] sevaa commented on #9234
Same issue here. The response headers go:

WWW-Authenticate: Bearer
WWW-Authenticate: Basic realm="http://tfsserver:8080/tfs"
WWW-Authenticate: NTLM

**The WinHTTP-based client fails to send the current Windows credentials, instead fails with error 401.**

The server is TFS 2017u2. The client is a WSH Javascript, which goes:

[code]

[2017-11-07 21:32] mj1856 opened #25110 "Add methods for manipulating date and time with respect to a particular time zone"
There currently is not an easy way to manipulate date and time values with respect to a particular time zone.  For example, the US went through a DST transition recently.  Using methods such as `AddDays` and similar do not reflect that correctly - even on the `DateTimeOffset` versions.

I suggest adding the following:

## Proposed API
[code]

## Example Usage
[code]

Note that in this context, `Ad

[2017-11-07 21:34] FransBouma commented on #20903
The label change means it can be implemented? :) Will see if I can wrap it up this week, otherwise next week.

[2017-11-07 21:36] danmosemsft commented on #25102
The interop code tries [various variations](https://github.com/dotnet/coreclr/blob/master/src/vm/dllimport.cpp#L6183) but .so.2 is not one of them. Perhaps it should be @stephentoub ?

[2017-11-07 21:39] qmfrederik commented on #25102
One way to fix this could be to add `dlopen` and `dlsym` to System.Native, so that resolving `dlopen` and `dlsym` becomes a native code problem instead of a managed code problem.

It would fix the `libdl.so` vs `libdl.so.2` problem, as well as the FreeBSD problem where `dlopen` lives in another library alltogether.

I could probably create a PR for that, let me know if this is the way you want to

[2017-11-07 21:53] danmosemsft commented on #25110
I don't know much about DateTimeOffset etc so I'll leave informed comment to others. Notwithstanding that I"m having trouble understanding what it means to add an hour with respect to a timezone. As I understand it DateTimeOffset stores a DateTime plus an offset. What does it mean in real terms to add an hour to that passing a different offset (in the form of a time zone)? Is it modifying the offs

[2017-11-07 21:55] Clockwork-Muse commented on #25110
....at this point, would it be better to propose a `DateTimeZoned` type?

How would you get ambiguous results?  Granted, `DateTime` doesn't have an offset, but isn't there an internal flag that says "is in DST"?

[2017-11-07 22:00] Clockwork-Muse commented on #25110
@danmosemsft -
Presumably passing in an invalid offset (one that would not be in effect at the given time in that timezone) would be an exception.
In general, adding an hour with a timezone would update the offset, though, yes (which is why my question about a `DateTimeZoned`).  The current problem is that it's difficult to do date/time math with the current API, taking the zone into account.

[2017-11-07 22:01] mj1856 commented on #25110
@danmosemsft - Say, for example, that you were in Seattle last weekend, on Sunday November 5th at 1:30 AM in Pacific Daylight Time (UTC-7).  Adding an hour *should* result in 1:30 AM Pacific Standard Time (UTC-8).  In our current API, we have awareness of offset, but not time zone.  So, you end up at 2:30 AM UTC-7, which isn't valid in Pacific time on that date.

[2017-11-07 22:08] mj1856 commented on #25110
@Clockwork-Muse - We've talked about a type like that before, and decided it opens more problems than it's worth.  For example, such a type can't implement `IComparable` consistently across all operations.  (Noda Time's `ZonedDateTime` type has this problem.)

One can get ambiguous results by adding a year, month, or day.  For example, does `2017-11-04T01:00:00-07:00` + 1 day with respect to US Pa

[2017-11-07 22:09] mj1856 commented on #25110
... only for `DateTimeKind.Local`, and only with respect to the local time zone.  It doesn't help here.

[2017-11-07 22:11] mj1856 commented on #25110
That's up for discussion.  I think it would be equally valid to accept it and normalize it to the time zone given. Since it's a `DateTimeOffset`, it's unambiguous as to what point in time is being given.

[2017-11-07 22:44] rrelyea opened #25111 "NetCore package description commit hash could use some explanation?"
Microsoft.NETCore.App has the following description in its nuspec:
    <description>A set of .NET API's that are included in the default .NET Core application model.
e8b8861ac7faf042c87a5c2f9f2d04c98b69f28d
When using NuGet 3.x this package requires at least version 3.4.</description>

I just got a question asking if this was a NuGet.org or NuGet client bug...

Perhaps changing that to something l

[2017-11-07 22:48] stephentoub commented on #24854
I opened https://github.com/dotnet/csharplang/issues/1085 for `foreach` support for `Span<T>` from the language side of things.  We still need to decide if we want to add `GetEnumerator` instance method to `Span<T>` and `ReadOnlySpan<T>`.

[2017-11-07 22:49] divega commented on #20903
@FransBouma yes it means that. Thanks!

[2017-11-07 22:52] karelz commented on #20903
Great! Reassigned to you @FransBouma. If you don't have time, or change your mind, just let us know ;).

@FransBouma based on your reply I assume you are ok with the final shape of the API and you don't have any must-have feedback we should discuss prior to implementation. Is that correct assumption?

[2017-11-07 22:56] davidsh commented on #25072
Can you provide the binary WireShark captures?  The text files can't be easily parsed.

Can you also provide more information about the application, the server URI that you are connecting to and the client certificate you're using?  There still isn't enough information in this issue to figure out the problem.

[2017-11-07 23:14] krwq commented on #24913
@harshjain2, currently the solutions which should workaround your problem are:
- update ClassLibrary1 to use netstandard2.0
- do not use System.Xml.XPath.XmlDocument's extension methods in ClassLibrary1

Problem is caused by ClassLibrary1 depending on System.Xml.XPath.XmlDocument which does not ship in netstandard2.0 and does not provide type forwards (S.X.XPath.XmlDocument implements extension me

[2017-11-07 23:14] #24913 closed

[2017-11-07 23:22] brianrob commented on #24941
@LHCGreg, I'm not able to reproduce this with the latest CoreCLR bits from master, but I can reproduce this with the 2.0.0.  Here's the stack:

[code]

I think that this was fixed by https://github.com/dotnet/coreclr/commit/42309c858a742e2ec93c34fa4392a9a097d3d816.

I also tried syncing to https://github.com/dotnet/coreclr/commit/67a66156d0307b49522a13618522d289268bc1f9 which you referenced above,

[2017-11-07 23:26] terrajobst commented on #25094
Yes, but the method is typed as `IEnumerable<T>` which means it's always a reference type and is thus shared. If the the method were `where T: IEnumerable<T>` then it would allow the JIT to special case it.

[2017-11-07 23:37] #24607 closed

[2017-11-08 00:04] karelz commented on #25107
@BinaryPatrick what is the behavior on .NET Framework?

[2017-11-08 00:07] karelz commented on #25099
@prashantchoudhary how is it related to .NET Core? Is it problem of managed code or JS?

[2017-11-08 00:17] krwq commented on #3133
I think it is ok to close this issue:
- currently many projects are converted to directly use Xunit
- projects which are not 100% Xunit use constructs which makes it quite a bit of work to convert them to directly use Xunit but they are currently "plugged in" to Xunit in such a way that Xunit understands custom Xml test framework (it shows which test case has failed and reports numbers of test cas

[2017-11-08 00:17] #3133 closed

[2017-11-08 00:47] karelz commented on #24946
FYI: The API review discussion was recorded - see https://youtu.be/HnKmLJcEM74?t=83 (3 min duration)

[2017-11-08 00:49] karelz commented on #24854
FYI: The API review discussion was recorded - see https://youtu.be/HnKmLJcEM74?t=391 (13 min duration)

[2017-11-08 00:50] karelz commented on #25085
FYI: The API review discussion was recorded - see https://youtu.be/HnKmLJcEM74?t=1163 (28 min duration)

[2017-11-08 00:51] karelz commented on #24839
FYI: Another round of API review discussion was recorded - see https://youtu.be/HnKmLJcEM74?t=2840 (20 min duration)

[2017-11-08 00:52] karelz commented on #20903
FYI: The API review discussion was recorded - see https://youtu.be/HnKmLJcEM74?t=4047 (48 min duration)

[2017-11-08 00:56] Petermarcu opened #25114 "Consider writing analyzers to steer people towards "Try" variants of API's instead of using exceptions for control flow."

[2017-11-08 01:02] Petermarcu opened #25115 "Unsupported raw socket programming"
@jakubaleksanderpolkowski commented on [Thu Nov 02 2017](https://github.com/dotnet/core/issues/1059)

# Unsupported raw socket programming

# Unable to create new raw socket using .net core and C# on armhf hardware under linux

As above i can't create raw socket in any way.
It seems like .net core does not support raw socket programming yet.

Hardware: Raspberry Pi3
CPU: armhf
OS: Raspbian
Runtime

[2017-11-08 01:02] Petermarcu opened #25116 "ObfuscationAttribute and ObfuscateAssemblyAttribute have wrong definitions in System.Runtime assembly"
@hrumhurum commented on [Mon Oct 30 2017](https://github.com/dotnet/core/issues/1054)

# System.Runtime assembly provides wrong definitions of obfuscation attributes

_System.Reflection.ObfuscationAttribute_ and _System.Reflection.ObfuscateAssemblyAttribute_ are defined without _AttributeUsage_ declarations. This breaks the expected attribute usage semantics.

# General

.NET Core version: 2.0
OS

[2017-11-08 01:19] kchanlee commented on #25072
@davidsh I may not upload my client certificate in the public space. May I send it to you by email? Or is there any other private way to send my certificate?

[2017-11-08 01:37] Petermarcu opened #25117 "FileSystemWatcher events raise more than once"
This issue was filed here and has some more detailed discussions there.

https://github.com/Microsoft/dotnet/issues/347

We should see if it repro's on .NET Core and then figure out if we need a fix or if there is an existing fix we can port to .NET Framework.

[2017-11-08 01:39] danmosemsft commented on #13309
As above, EHOSTUNREACH is misleading as it means that we have an IP address, which we don't.
EADDRNOTAVAIL seems to be for cases where the server is overloaded with connections but maybe its message is reasonable. @galvesribeiro any interest in replacing ENXIO with EADDRNOTAVAIL  in src\Common\src\System\Net\Sockets\SocketErrorPal.Unix.c and letting us know what message you get ?

[2017-11-08 02:30] toorajhelmi commented on #15640
This is definitely a .net core issue. I can make a connection to a URL using HttpClient and setting the  base address to the URL. But if I use a TcpClient and use the same URL I get this error. Looks like the implementation of Dns.GetHostEntry in Mac is different than HttpClient and not working.

[2017-11-08 02:56] danmosemsft commented on #25116
@hrumhurum are you interested in offering a PR?

[2017-11-08 04:18] LHCGreg commented on #24941
@brianrob I'm so sorry! It turns out I forgot to remove the packaged 2.0 from my test VM and my testing was still using that with `dotnet`. I removed the package and ran the test using `corerun` from the local build and verified that it no longer segfaults. Thanks for looking into this.