[2017-11-28 20:41] stephentoub commented on #25548
Stepped through to see where things went awry, then looked at the history to see how we ended up with code mutating the original string like that.  You can see my description of why the change broke it here: https://github.com/dotnet/corefx/pull/25560#issue-277530565.

[2017-11-28 21:05] svick commented on #25548
@rmkerr In that case, shouldn't `new Uri("C(B:G", UriKind.Relative)` also throw that exception?

`C(B` is not a valid scheme, so the justification of being "mistaken for a scheme name" doesn't really apply. But, if I understand it correctly, the RFC syntax for relative URIs forbids colons in the first segment altogether. The derivation would go `relative-ref` → `relative-part` → `path-noscheme` →

[2017-11-28 21:06] wfurt commented on #24008
fixed by #25552

[2017-11-28 21:06] #24008 closed

[2017-11-28 21:09] karelz commented on #25548
It's a breaking change in .NET Core 2.0, we should back port it to 2.0.x servicing branch.
@stephentoub do you want help from @rmkerr or do you plan to do it yourself?

[2017-11-28 21:10] stephentoub commented on #25548
I'd be happy for someone else to do it :)

[2017-11-28 21:13] karelz commented on #25548
@rmkerr let me know offline if you need details about the servicing process.

[2017-11-28 21:23] rmkerr commented on #25548
@svick Yes, I think you're right about that. My best guess is that our implementation just tests if the first segment is a valid scheme and throws an exception if that's the case. Since the ( means the first segment would not be a valid scheme, it accepts it as a valid relative URI. I don't know if it's an issue we should be concerned about though. Since C(B:G is unambiguously not a scheme, I thin

[2017-11-28 21:23] mattiasw2 commented on #23686
It only flags it during runtime by throwing the not supported exception. There is no warning in compile time. Just downloaded latest Visual Studio Core and netcore2.0

[2017-11-28 21:31] shravan2x opened #25561 "Unsealing HttpRequestHeaders and HttpResponseHeaders"
The built-in [HttpRequestHeaders](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Headers/HttpRequestHeaders.cs) and [HttpResponseHeaders](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Headers/HttpResponseHeaders.cs) types contain properties for many HTTP headers like `ExpectContinue`, `Host` and so on.

It would be useful

[2017-11-28 21:38] davidsh commented on #25561
There are no plans to unseal these types.  The types are meant to return strongly objects and thus need "parsers" associated with them.  That is why we discourage extensibility on these objects by sealing the classes.

For some headers like 'Set-Cookie' response headers, we have seen some requests for that.  In particular, some folks wanted that to return strongly typed objects such as an array of

[2017-11-28 21:43] philippgille commented on #24823
@joshfree: Your link to System.Threading.Tasks.Channels is broken (404)

[2017-11-28 21:43] weshaggard commented on #9503
We should try and get this work done for 2.1 and repackage the IL only version for win7.

[2017-11-28 21:50] #25517 closed

[2017-11-28 21:52] VSadov commented on #24854
We tried the same route with ImmutableArray - add an adapter class and ToEnumerable method (or was it AsList ? ) - we did not like boxing of ImmutableArray.
Anyways people despised that so we ended up with IEnumerable anyways.

[2017-11-28 21:52] danmosemsft commented on #23686
@mattiasw2 the platform-compat tool I linked to has to be installed into VS. As you see in the screenshots https://github.com/dotnet/platform-compat if it works correctly it will then flag issues at compile time.

[2017-11-28 21:53] shravan2x commented on #25561
My primary use-case here is again per-request cookie management. I have upvoted the associated proposal.

However, I still feel it very restrictive of the library that users cannot neatly set up support for custom HTTP headers (ones that aren't common enough to be added to .NET Core itself).

I understand, but even with extensibility, users could set up their own parsers for new fields. For exampl

[2017-11-28 21:58] #18854 closed

[2017-11-28 21:59] davidsh commented on #25561
Freel free to prototype your ideas in CoreFxLab.  That is a place where such things can be done, iterated on, and eventually ported back to CoreFx after being finalized.

[2017-11-28 22:01] #25527 closed

[2017-11-28 22:06] #24575 closed

[2017-11-28 22:08] karelz commented on #25548
Reopening to track 2.0.x servicing port

[2017-11-28 22:08] ViktorHofer commented on #24517
Just a reminder for myself: https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Formatters/tests/System.Runtime.Serialization.Formatters.Tests.csproj#L34

[2017-11-28 22:23] mj1856 commented on #25089
Sure. To reiterate the reasons previously discussed for not making a `System.ZonedDateTime` type:

- Like `DateTimeOffset`, a `ZonedDateTime` has two aspects - the instant along the universal timeline, and the local time representation at that instant.  However, it also has a reference to a time zone, which makes it difficult to implement `IComparable` for reliable sorting.

  For example, how doe

[2017-11-28 22:44] tarekgh commented on #25089
@mj1856 that is enough concerns :-)

how do you feel to have the requested functionality to be on TZI instead of DateTime/Offset? As I mentioned, I am trying to avoid bloating the DateTime with the TZI functionality while DateTime calculations itself doesn't really care about the TZ. in other words, I want to have the guidelines as if you need to do anything that is TZ related, do it in TZI.

[2017-11-28 23:17] mj1856 commented on #25089
Sure, they could land there, but I'm not sure that they would be as discoverable.  There's a real benefit to the Intellisense factor.

Also, we already *do* time zone related things, just only for the local time zone and UTC. ;)

Would you feel better about them landing as extension methods?  If so, what class would be appropriate to place them in?

[2017-11-28 23:24] tarekgh commented on #25089
Why do you think it will be discoverable in DateTime and not in TZI? If I am thinking to get the time now in any time zone, I would look at the TZI (as logical thinking).

Right but this is already a problem and we don't want to make it bigger. When people see TZ related functionality they feel DateTime/Offset is handling the TZ calculation which is not true.

I don't think extension methods to Da

[2017-11-29 00:04] mj1856 commented on #25089
By discoverable, I mean that there is a very strong habit for one to type `DateTime.Now` and never think about time zones.  Moreso, there's a tendency for one to think that time zone is somehow handled automagically in the way that culture is - especially in web applications.  See [here](https://stackoverflow.com/q/33839556/634824), [here](https://stackoverflow.com/q/19241815/634824) and [here](ht

[2017-11-29 00:05] #25156 closed

[2017-11-29 00:21] bendono commented on #25452
Understood. Thank you all for reviewing it.

[2017-11-29 00:21] steveharter commented on #24090
@eerhardt @jkotas here's our offline meeting notes.

We discussed three classes of scenarios and approaches to each.

The three scenarios:
1) Framework should win. This is the current scenario as described in this issue's repro steps (assembly added to framework package is newer than the app's)
2) App should win. The app wants to bring in a newer OOB assembly like System.Collections.Immutable
3) U

[2017-11-29 00:25] danmosemsft commented on #25456
@EmmaZhu we might not be able to look for a bit. If this is impacting you, perhaps you could debug some?

[2017-11-29 00:33] tarekgh commented on #25089
That is exactly my point. I want to get people not to think DateTime is handling TZ. Adding the suggested APIs to DateTime will make people think more this is the case.

Although I agree with you on the discoverability now,  I am seeing TimeZoneInfo.Now make a lot of sense. If someone asks how I can get the time Now on any time zone, the answer would be, call Now property on the TZ object. This is

[2017-11-29 00:35] huanwu commented on #24914
@Sojaner, it is too risky to make the change. The existing customer might already work around this problem. It will break their workaround if making this change.

[2017-11-29 00:36] Clockwork-Muse commented on #25089
In Java you can go from `Instant` to `LocalDateTime` (and back) directly, assuming you have a zone.  Don't know if that means more people are skipping it.  Personally, I'd probably try to get a `Zoned` as soon as possible, and hold onto it as long as I can, instead of a `Local` (and having to pass around an associated zone), and just ignoring the zone for most formatting situations.

Contrast that

[2017-11-29 00:37] jkotas commented on #25533
GetPrime takes 0.1s milliseconds on my machine for numbers near Int32.MaxInt. It is nothing compared to allocating and filling in gigabytes of memory that will follow call to this method and that is going to take seconds.

[2017-11-29 00:40] karelz commented on #25561
Let's close this issue for now. When there is a solid proposal / experiment aligned with current API design, we can reopen it and reconsider.

[2017-11-29 00:40] #25561 closed

[2017-11-29 00:51] danmosemsft commented on #25554
Works fine locally.

[2017-11-29 01:07] #25531 closed

[2017-11-29 01:24] #25450 closed

[2017-11-29 01:27] mj1856 commented on #25089
@tarekgh - so, if I'm understanding correctly, you'd prefer:

## Proposed API
[code]

## Example Usage
[code]

I suppose I'm ok with this.  It's simpler, for sure.  It may not help with the Intellisense angle, but at least it's easy to talk about.

Any thoughts about making it a method like `.GetCurrentTime()`?  I have heard feedback about how `.Now`/`.UtcNow` should have been methods since their

[2017-11-29 01:38] tarekgh commented on #25089
I am fine either way, even I prefer the property. you may list this as an alternative option in the proposal and let the design committee advise about that.

[2017-11-29 01:44] mj1856 commented on #25089
Updated the issue summary at the top with the changes.  Thanks.

[2017-11-29 01:47] tarekgh commented on #25089
Thanks @mj1856

@joperezr please have a look and let's know if you have any feedback. otherwise, you may mark this as ready for design review.

[2017-11-29 01:52] mj1856 commented on #25110
So, based on outcome from #25089 discussion, I think this API proposal also needs modification to move to the `TimeZoneInfo` class.  However, I'm not sure that the current names would make sense in that context.  Any suggestions?

[code]

@tarekgh?

[2017-11-29 02:03] tarekgh commented on #25110
@mj1856 how strongly you feel about these APIs as needed now? I am asking because we can think more if we can expose this to another new type (I understand you don't like ZonedDateTime), We just need to think about that more and look how this will fit with the future plans (as you know we have some more work to do with time zones in general).

[2017-11-29 03:10] ahsonkhan commented on #25499
I don't know if we can convert the exception to something more explanatory, if we leave the SpanDebugView as is.

If we explicitly throw a meaningful exception in the SpanDebugView then we would have to revert that when the VS debugger catches up.

cc @plnelson

Calling ToArray calls the JIT intrinsics and that is resulting in the debugger view error.
https://github.com/dotnet/coreclr/blob/master/

[2017-11-29 03:20] stephentoub commented on #25456
I believe this was already fixed for 2.1.
https://github.com/dotnet/corefx/pull/21339

I compiled this with `gcc -o test test.c`:
[code]

Then I ran this app using 2.0:
[code]
and got:
[code]
but with bits from master, got:
[code]

[2017-11-29 03:22] #25456 closed

[2017-11-29 03:35] carlreinke commented on #24685
cc: @JeremyKuhne

[2017-11-29 03:55] wsnell commented on #9503
Yes please do. Also full support for duplex contracts using websockets too.

[2017-11-29 04:19] TechnikEmpire commented on #9503
@weshaggard good call. Somebody give this guy a promotion.

[2017-11-29 04:53] JeremyKuhne commented on #24685
@carlreinke Sorry, missed this one. Can you please separate the canonical path API into a different issue? It will be hard to track the discussion otherwise. Both topics are of interest and I'll comment in detail once it is broken out.

[2017-11-29 05:50] carlreinke opened #25569 "Proposed API for symbolic links"
# Rationale

The ability to interact with symbolic links in .NET is currently limited to determining that a file is `ReparsePoint`.  This proposed API provides the ability to identify and read symbolic links, resolve symbolic links in paths.

# Proposed API
[code]

# Details
The path returned from `GetSymbolicLinkTargetPath(string)`/`SymbolicLinkTargetPath` will be returned exactly as it is stored

[2017-11-29 05:53] zl-cn opened #25570 "performance of Socket.Select on windows"
System: windows 10
Platform: .net core 2.0
under .net core 2.0 calling Socket.Select caused high cpu usage.
but under .net 4.6 it's ok.
simple code:

`
while(true)
{
     Socket.Select(checkRead, checkWrite, checkError, 0);
     if (checkError.Count == 0 && checkWrite.Count == 0 && checkRead.Count == 0)
     {
             Thread.Sleep(10);
             continue;
      }
}
`

[2017-11-29 05:54] carlreinke commented on #24685
@JeremyKuhne Done.

[2017-11-29 06:29] jkotas opened #25572 ".net core 2.0 calling Socket.Select caused high cpu usage."
_From @zl-cn on November 29, 2017 5:54_

System: windows 10
Platform: .net core 2.0
under .net core 2.0 calling Socket.Select caused high cpu usage.
but under .net 4.6 it's ok.
simple code:

while(true) { Socket.Select(checkRead, checkWrite, checkError, 0); if (checkError.Count == 0 && checkWrite.Count == 0 && checkRead.Count == 0) { Thread.Sleep(10); continue; } }

_Copied from original issue: do

[2017-11-29 06:35] Sunny-pu commented on #21037
Test:System.Net.Sockets.Tests.DualModeConnectToDnsEndPoint/DualModeConnect_DnsEndPointToHost_Helper(listenOn: ::1, dualModeServer: False) failed with same issue, detail:

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171129.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DualModeConnectToDnsEndP

[2017-11-29 06:40] Sunny-pu commented on #20307
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171129.01/workItem/System.Net.WebClient.Tests/analysis/xunit/System.Net.Tests.SyncWebClientTest~2FUploadData_LargeData_Success(echoServer:%20https:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

[2017-11-29 06:42] ryanelian commented on #23542
Will OleDB be provided under the [Windows Compatibility Pack](https://blogs.msdn.microsoft.com/dotnet/2017/11/16/announcing-the-windows-compatibility-pack-for-net-core/)?

[2017-11-29 09:23] Sunny-pu commented on #24114
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_fedora24_release/lastCompletedBuild/testReport/System.Net.Sockets.Tests/SocketOptionNameTest/MulticastInterface_Set_AnyInterface_Succeeds/

[2017-11-29 10:06] JonHanna commented on #14354
@gimpf do you have the code you benchmarked available and/or would you be able to quickly see how the SpookilySharp nuget package fairs. I'm looking to dust that project off after a couple of year's stagnation and I'm curious to see how it stands up.

[2017-11-29 10:37] ms0713 commented on #25467
@stephentoub  I m using FIONREAD (1074030207), optionInvalue as null and optionOutValue as byte[].
So it goes as **Socket.IOCOntrol(FIONREAD, null, byte[])**;

[2017-11-29 11:19] beyon commented on #25519
Seems like the issue in my original context was actually forward slashes in the path ( C:/Users/Björn/.nuget/packages/fable.elmish.react/1.0.0/fable/Fable.Elmish.React.fsproj ) explaining the different call stacks.

XDocument.Load will work with absolute paths containing umlauts, just not relative ones.

[code]
Output:
[code]

[2017-11-29 11:36] beyon commented on #25519
To clarify, original problem was a path with forward slash in drive portion in non URI path which I guess is just not valid?

[2017-11-29 11:45] cbruen1 commented on #18452
Adding a reference to Microsoft.CodeAnalysis.CSharp.Workspaces solved it for me. I didn't need to add a reference to Microsoft.Composition 1.0.0.31 - should I?

[2017-11-29 12:21] stephentoub commented on #25467
Can you instead use Socket.Available?

[2017-11-29 12:29] stephentoub commented on #25570
Can you share the full (but small) program to repro what you're seeing? In the snippet you shared, that's going to be an infinite polling loop if any of the sockets are already signaled (such that we don't Sleep), and you'd expect it to consume an entire CPU.

[2017-11-29 13:00] stephentoub commented on #25572
The code you shared is expected to result in high CPU usage, and does on .NET 4.6.  If, for example, `checkRead` in your example contains a socket with data available on it, that loop will spin, as each call to Socket.Select will immediately return to say data is available and the subsequent if block won't Sleep because `checkRead.Count > 0`.  You can see this code pegs a CPU, on both .NET 4.6 and

[2017-11-29 13:01] stephentoub commented on #25570
Closing as dup of https://github.com/dotnet/corefx/issues/25572

[2017-11-29 13:01] #25570 closed

[2017-11-29 13:12] devandanger commented on #18449
I was more recently affected this, working with the vendor on their side to see if they can correct the logic to better conform with the RFS standard.  Currently getting the error on their side 'Unable to extract version number from content type'.

Curious what the process of fixing this and it making it into the mono repo is.  Any links which can better explain that flow would be great.  Thanks!

[2017-11-29 14:40] wekempf commented on #17068
I think everyone has a version of this, so having an "official" one to use would certainly be nice. In my own, I use [MethodImpl(MethodImplOptions.AggressiveInlining)] for performance. Also, as constructive feedback, I think the naming here is poor. Verify sounds like a generic assertion class (plus, it's a verb and the FDG tells us classes should be nouns). I can see people using Verify.InRange(.

[2017-11-29 15:09] DaveRandom opened #25574 "SslStream RemoteCertificateValidationCallback cannot access protocol/cipher info"
The `RemoteCertificateValidationCallback` is [documented](https://msdn.microsoft.com/en-us/library/ms145057(v=vs.110).aspx?f=255&mspperror=-2147217396#Anchor_2) as being able to access these values and potentially choose to reject the connection based on them:

Currently this doesn't work, because attempting to access them [throws an `InvalidOperationException`](https://github.com/dotnet/corefx/bl

[2017-11-29 15:28] zeiphon commented on #24421
@razzemans any update on whether this solved your issue?

[2017-11-29 15:32] jamesqo commented on #14354
@JonHanna He posted it here: https://github.com/gimpf/Haschisch.Kastriert

[2017-11-29 15:35] jamesqo commented on #17068
@wekempf Concerning the naming, do you think calling the class `Require` or `Requires` would be more acceptable? e.g. `Require.NotNull`, `Requires.NotNull`

[2017-11-29 15:36] DaveRandom commented on #24588
The cipher list supplied should be some form of ordered collection to indicate preference (`IReadOnlyList<T>` I guess?).

Additionally, I'm not sure if this is relevant to .net's underlying implementation but just in case:

OpenSSL, when running as a server, by default uses the client's cipher list order of preference. It has the [`SSL_OP_CIPHER_SERVER_PREFERENCE`](https://www.openssl.org/docs/man

[2017-11-29 15:38] benaadams commented on #17068
It would likely need to be something like NuGet "source" package when used; rather than a built in to runtime as assembly, so the tests will inline across assembly boundaries when compiled AoT/R2R

[2017-11-29 16:42] karelz commented on #25519
We are now mixing 2 distinct issues - forward slashes (likely unsupported - it would be good to check it on .NET Framework) and umlau in Uri. We should separate those 2 issues.

The test case for umlau in Uri should be isolated to just Uri, without Xml. Also, we do not need all test cases as they seem to be very similar - one should be enough with comment other characters suffer from the same prob

[2017-11-29 17:03] ViktorHofer opened #25575 "DataTable serialization incorrectly depends on the Current Culture's Number Format Info"
Ported manually from here https://github.com/Microsoft/dotnet/issues/471 (Zenhub doesn't allow moving issues between organizations)

@logiclrd commented on Sep 1:

We have a client reporting problems with our application because they have configured the Windows Region & Language settings to use the string "()" as the negative sign for number formatting. This seems to be traceable back to the fact

[2017-11-29 17:47] davidsh commented on #25574
Can you please provide a small repro that demonstrates the problem?

[2017-11-29 17:57] davidsh commented on #24802
The updated packages went live today:

https://www.nuget.org/packages/System.Net.WebSockets.Client/4.0.2
https://www.nuget.org/packages/System.Net.WebSockets.Client/4.3.2

The 4.0.2 package is based on the release/1.0.x servicing branch.  The 4.3.2 package is based on the release/1.1.x servicing branch.  In terms of UWP payload, they are identical.  Please fix the package based on what your app is

[2017-11-29 17:58] #24802 closed

[2017-11-29 17:59] razzemans commented on #24421
@zeiphon you struggling with the same thing?

I am carefully optimistic that the Razor view sync / async was indeed the cause of our problems and that it is now fixed. I won't pop open the champagne quite yet as we usually only run into this issue during peak load (which is once a month), and we've only experienced peak load since our fix once, so it can be a coincidence.

This doesn't fix the log

[2017-11-29 18:10] mj1856 commented on #25089
After thinking this through some more, I'm not *completely* opposed to a `ZonedDateTime` type.  @tarekgh, @joperezr  I'll discuss with you both offline.

[2017-11-29 18:25] mj1856 commented on #25110
I do think they are needed.  Perhaps the naming strangeness here does reflect the need for a `ZonedDateTime` type.  Let's discuss offline.

[2017-11-29 18:39] alx9r commented on #25574
As far as I understand [`System.Net.Security.RemoteCertificateValidationCallback`](https://docs.microsoft.com/en-us/dotnet/api/system.net.security.remotecertificatevalidationcallback?view=netcore-2.0) doesn't provide access to the key exchange, cipher, or data integrity algorithms used during SSL/TLS handshake.  I have been able access to the x.509 certificate chain using `RemoteCertificateValidat

[2017-11-29 18:53] beyon commented on #25519
I forgot one important test related to my original issue, testing forward slashes also without umlauts.

And yes, all forward slashes (even for drive part) works with no umlauts but not with:
[code]
Relevant output:
[code]

[2017-11-29 19:01] beyon commented on #25519
Same code + folder setup  output with .Net Framework 4.6.1 Console Application:
[code]

[2017-11-29 19:05] wekempf commented on #17068
@jamesqo For someone familiar with contracts, probably. For the "masses", I honestly don't know. There are two hard things in programming....

@benaadams For the inline suggestion, probably, yes. There's several of these already available in NuGet, like https://www.nuget.org/packages/netfx-Guard/. I use source links in my projects for this very reason. Provided as part of the BCL, this obviously w

[2017-11-29 19:07] beyon commented on #25519
Do I need to provide stripped down tests (System.IO/System.Uri) or can someone else take it from here?

[2017-11-29 19:12] rmkerr commented on #25519
Thanks for narrowing down the issue with those detailed repros. There are currently a lot of problems with how we handle Unicode characters in System.Uri. Some time within the next month or so I'm going to be making an effort to address those, and that alone should resolve at least some of the problems you're having here.

[2017-11-29 19:42] danmosemsft commented on #25575
This reproduces on full .NET Framework as well:
[code]

This repo is for issues specific to .NET Core. @logiclrd what we typically recommend for .NET Framework issues is to open a support ticket through the usual channels. That would be better than the more ad-hoc Github issue system. Does that work?

[2017-11-29 19:54] wekempf commented on #17068
And I have egg on my face. Been a while since I worked this out, but inlining doesn't effect the stack trace in the exception message.

[2017-11-29 20:03] karelz commented on #25519
@beyon please file separate issue for the forward slash case. Given that it passes on .NET Framework, we should look into that as well. Having a System.IO-based repro would be great.
If you can post here a System.Uri repro, that would be also helpful.

[2017-11-29 20:05] JeremyKuhne commented on #24685
Thanks for your work here!

We need to call out explicit usage cases to make sure we've got the design right. What problem is this intended to solve?

For this API in particular it is super important we're as detailed as possible. A problematic API, for example, is `Path.IsPathRooted()`. Many took this to mean "not relative", which it isn't. (I introduced `Path.IsPathFullyQualified()` to deal with

[2017-11-29 20:11] msisterna commented on #25529
I wanted to ask you if this kind of change applies to both .net core and .net fx.
Thank you.

[2017-11-29 20:33] logiclrd commented on #25575
I have no idea what those channels are. Can you point me in the right direction? Thanks!

[2017-11-29 20:33] karelz commented on #25555
Closing as dupe of #12180

[2017-11-29 20:33] #25555 closed

[2017-11-29 20:34] logiclrd commented on #25575
Note that this issue was originally reported in the `Microsoft/dotnet` repo, which is described as "the official home of .NET on GitHub", and not .NET Core-specific. The issue got moved from there to here today. There is a link to the original report at the top of the description of this issue.

[2017-11-29 20:37] davidsh commented on #25574
So, are you saying that the documentation is wrong since the code itself doesn't match the documentation?

If so, then we have 2 things to consider here.  One is to fix the current documentation.  And, second, consider an ehancement or API change to address the feature request?

Or, am I missing something?  If so, please post a code sample of how you are calling these APIs so we can get more clari

[2017-11-29 20:46] Diablofan commented on #24175
Paging @geleems, any updates on this?

[2017-11-29 20:52] Drawaes commented on #25574
The API in theory allows it, so no change there. Its a behaviour change, and it should be possible to get these details at this point (Client Hello + Server Hello is already done and ciphers are already selected before the cert will be sent). I can take a look at a PR if you want (hopefully over the weekend).

[2017-11-29 20:54] danmosemsft commented on #25575
@logiclrd yes, maybe we shouldn't have moved it. :)

First thing -- @saurabh500 is this issue famliiar to you, is there a workaround you know of?

[2017-11-29 21:11] danmosemsft opened #25580 "DatasetExtensions is not in the compat pack"
Nor on Nuget. It looks like it was overlooked. We need to grab a signed version and put it up on Nuget. Also add to the pack authoring, but we don't need to republish the whole pack for this.

@safern

[2017-11-29 21:28] pepone opened #25581 "SslStream using intermediate CA certificates"
The SslStream class on Linux doesn't use the user personal certificate store to build the certificate chain

I have create a simple client server test to reproduce the issue https://github.com/pepone/netstreamtest

[2017-11-29 21:34] morganbr commented on #14354
@JonHanna, I'd be interested to hear how your testing goes so we can start thinking about what would be useful in a general-purpose non-cryptographic hashing API.

[2017-11-29 21:41] ViktorHofer commented on #25529
We marked it as "netfx-port-consider" which means that we consider porting it to the full framework. But before even planning to do that we need the change in corefx.

[2017-11-29 21:41] JeremyKuhne commented on #25569
Adding support for symbolic links is particularly important now that Windows has changed the default permissions for creating them. (In the Fall Creator's Update you no longer need to be elevated to create them)

[MSDN Symbolic Links](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365680(v=vs.85).aspx)

One of my concerns is how we introduce support for junctions, mounts, or possibly M

[2017-11-29 21:47] saurabh500 commented on #25575
I am not aware of this issue and don't know of a workaround right now. This will need further investigation

[2017-11-29 21:57] custarddog opened #25582 "Make DateTIme.Now as efficient as DateTime.UtcNow"
@vancem commented on [Tue Sep 05 2017](https://github.com/dotnet/coreclr/issues/13789)

I thought we fixed this but I just checked and we have not, so I am logging an issue.

DateTime.Now is over 10X SLOWER than DateTime.UtcNow.
I ran the the trivial program below
[code]
while profiling with [PerfView](https://github.com/Microsoft/perfview)  to get the following data

Name | Inc % | Inc
-- | -- |

[2017-11-29 21:59] danmosemsft commented on #25582
We should do some investigation to see whether we can do this without making DateTime.Now less reliable. As @tarekgh points out, it already relies on cached data, is there more that can be safely cached?

[2017-11-29 22:03] tarekgh commented on #25582
@vancem idea mentioned above should work to make it more performant. Just need to be careful we'll not regress any functionality.

[2017-11-29 22:32] zeldafreak commented on #23578
I, too, wish there was a go-to means for recognizing a collection as opposed to an iterable, whether that be an interface (`ICountable`, `IReadOnlyCollection`, `IHasCount` etc.) or something else. The prevalence of `IEnumerable` makes it a perfect lowest common denominator for something you iterate over. There's currently no lowest common denominator for a collection-- instead, there are 3 differe

[2017-11-29 22:45] stephentoub commented on #22611
Fixed by https://github.com/dotnet/corefx/pull/24846

[2017-11-29 22:45] #22611 closed

[2017-11-29 22:57] shmao opened #25585 "Move New Syndication APIs to NetCore Specific Ref Assembly"

[2017-11-29 23:00] ViktorHofer commented on #25533
Test code:
[code]

[code]
 |             Method |     Mean |    Error |    StdDev |     Gen 0 |     Gen 1 |     Gen 2 | Allocated |
 |------------------- |---------:|---------:|----------:|----------:|----------:|----------:|----------:|
 | HashSet_PrimePlus1 | 1.020 ms | 1.527 ms | 0.0863 ms | 1000.0000 | 1000.0000 | 1000.0000 | 164.78 MB |

[code]
|             Method |     Mean |      Error |

[2017-11-29 23:21] vancem commented on #25533
Did you try fairly large swatch of numbers (e.g. the top 1GB probing every 10K numbers  for 100K probes looking for the max?  You definitely could be 'lucky' at any particular number because the next prime 'happens' to be close.

If we find that it is uniformly small enough, then I am OK with switching to that.   Note that I would argue, however that we should uniformly compute the prime (thus dro

[2017-11-29 23:21] ViktorHofer commented on #25575
As it also repros on Core I believed it belongs here. IF we submit a fix to adjust the behavior, we could just mark it with the "netfx-port-consider" label.

[2017-11-29 23:32] PeterSmithRedmond commented on #25582
I just checked the documentation which says:
The Now property is frequently used to measure performance. However, because of its low resolution, it is not suitable for use as a benchmarking tool. A better alternative is to use the **Stopwatch** class.

Certainly there's not even a hint that this API is slower than the UtcNow value.  Those of us who have been programming for a while remember that t

[2017-11-29 23:34] ViktorHofer commented on #25533
[code]

[code]
|                 Method |     Mean |    Error |   StdDev | Allocated |
|----------------------- |---------:|---------:|---------:|----------:|
| HashSet_PrimeRandomMax | 55.94 us | 20.86 us | 1.178 us |       0 B |

[2017-11-29 23:37] tarekgh commented on #25582
This will make me wonder how the chip knows when to start/end the daylight?

[2017-11-29 23:43] Clockwork-Muse commented on #25582
No, currently we tell them to avoid `DateTime.Now` because it's almost certainly _the wrong thing_.  Any efficiencies are side effects.

The Now property is frequently used to measure performance. However, because of its low resolution, it is not suitable for use as a benchmarking tool. A better alternative is to use the Stopwatch class.

Except **resolution is not speed**.  That particular gem is

[2017-11-29 23:49] huanwu commented on #13766
@shmao #18761 solve the first one. We probably can close this issue.

[2017-11-29 23:58] peturingi commented on #15661
I found this issue when searching for a solution to this very problem. Turns out, I as well is trying to communicate with a legacy system.

[2017-11-29 23:58] wfurt commented on #24114
This is because of firewall rules.
It seems like the fix @MattGal for for helix is not applied to jenkins.

Here is complete snapshot from repro machine.

# Completed on Wed Nov 29 15:52:18 2017
# Generated by iptables-save v1.4.21 on Wed Nov 29 15:52:18 2017
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [100581:13587258]
:FORWARD_IN_ZONES - [0:0]
:FORWARD_IN_ZONES_SOURCE - [0:0

[2017-11-30 00:14] shravan2x opened #25588 "System.IO.FileNotFoundException: Could not load file or assembly 'System.Net.Http, Version=4.1.1.0"
I recently created a .NET Core 2.0 library that multitargeted `net46`. It included this in the .csproj file:

[code]

I referenced this library is a .NET Framework 4.7 console app and get this exception:
[code]

I didn't see any warnings in the error list, but I decided to check the build log and found a conflict.

This is what I see in the detailed build log:
[code]

My `App.config` includes a re

[2017-11-30 00:14] #25483 closed

[2017-11-30 00:18] alx9r commented on #25574
By "the API" do you mean [`System.Net.Security.RemoteCertificateValidationCallback`](https://docs.microsoft.com/en-us/dotnet/api/system.net.security.remotecertificatevalidationcallback?view=netcore-2.0)?  The only typed parameters to that callback I see are [`X509Certificate`](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x509certificate?view=netcore-2.0

[2017-11-30 00:19] karelz commented on #25581
@Priya91 can you please take a look at this one? It seems to be difference between Windows and Linux.
cc @wfurt

[2017-11-30 00:20] vancem commented on #25533
The data above is certainly encouraging, but it only has 10 samples so is not really telling us 'worse case' like what we want.   It is not hard to use Stopwatch to do a more thorough test.    If this is kept below 0.1 msec I am happy enough.

We should insure that everyone on  #6203 is mentioned on this issue so they get to chime in with their concerns.

As I mentioned, I am for simplicity, which

[2017-11-30 00:33] ViktorHofer commented on #25533
Thanks Vance, you are right, I forgot to adjust the config. This sample should now be representative.

[code]
|                 Method |     Mean |    Error |   StdDev | Allocated |
|----------------------- |---------:|---------:|---------:|----------:|
| HashSet_PrimeRandomMax | 57.47 us | 1.126 us | 1.157 us |       0 B |

cc @SunnyWar @JonHanna @stephentoub @weshaggard

[2017-11-30 00:39] karelz commented on #25588
System.Net.Http.dll 4.1.1.0 shipped in nuget package System.Net.Http 4.3.0. It caused a problem on .NET Framework - see #11100 for details.
We shipped updated package System.Net.Http 4.3.1 which passes through to the underlying platform on .NET Framework (with assembly version 4.0.0.0).
I assume something in your app is referencing older nuget package with higher assembly version. You need a bindi

[2017-11-30 00:50] Priya91 commented on #25581
@pepone Reiterating to see if i understood you correctly, in this piece of code,

[code]

You care saying when you added the custom ```ExtraStore``` value of ```new X509Certificate2("cacert1.der")```, it doesn't use this while building the chain for ```new X509Certificate2(certificate)```? If that's the case, this is not a bug with SslStream, but X509Certificates.

cc @bartonjs

[2017-11-30 00:51] #24853 closed

[2017-11-30 01:00] shmao commented on #13766
Sounds good. Closing the issue.

[2017-11-30 01:00] #13766 closed

[2017-11-30 01:02] bartonjs commented on #25581
@pepone Does everything work as you expect if you import the intermediate certificate into the CurrentUser\CertificateAuthority store instead of CurrentUser\My on Linux?

[2017-11-30 01:14] Drawaes commented on #25574
Sender should be the SslStream, you should be able to cast and get at the properties, and I believe the OP's complaint was that you can't use the properties because they throw at this point in the handshake, which should be avoidable (as all the info is available, but it will depend on the underlying API, I am pretty sure I can get at them for OpenSsl, less sure for SSPI and for OSX/SecureChannel

[2017-11-30 01:24] shravan2x commented on #25588
@karelz The issue is that I do not use System.Net.Http 4.3.0 anywhere. My multi target for `netstandard2.0` uses version 4.3.3 and the reference for `net46` directly uses an assembly reference `<Reference Include="System.Net.Http" />`.

Also, the project that uses the library already has the binding redirect you mentioned.
[code]

[2017-11-30 01:28] #25588 closed

[2017-11-30 01:43] huanwu opened #25591 "Assembly.Load doesn't work for ASP.NET Core Web Application assembly targeting at net461"
Repro Step:
1. Create a ASP.NET Core Web Application targeting at net461.
2. Create a console app targeting netcoreapp2.0.
3. Use Assembly.Load to load the asp.net core app assembly created in step#1. I will get the FileLoadException "Could not load file or assembly ...". Is it expected?

[2017-11-30 01:44] #25190 closed

[2017-11-30 02:00] #25067 closed

[2017-11-30 03:39] #25223 closed

[2017-11-30 03:47] mafav commented on #18649
same issue as @dougajmcdonald

[2017-11-30 03:57] #24424 closed

[2017-11-30 04:23] maurocolella commented on #25517
Thank you for your help. Last question: how can I correctly match builds of `corefx`, `coreclr`, and ensure the proper `core-setup` version?

[2017-11-30 04:38] ViktorHofer commented on #25591
I believe you should be able to reference net461 assemblies from netcoreapp2.0. The other way around it definitely wouldn't work. Can you please provide some more details? Full error message, .NET Core Shared Framework and Host version (dotnet --info).

[2017-11-30 04:42] ViktorHofer commented on #24473
@rajurh sorry not responding. Could you provide a minimal sample, with the least amount of code, probably in a console application? Thanks a lot!

[2017-11-30 04:43] wfurt commented on #25517
there is no easy answer to that. unfortunately. There be separate project to build .net from sources. Also there is bootstrap script to take released .net runtime, find proper code and rebuild it for given platform. Most of the time, if you take drop from same time, it will probably work.

[2017-11-30 04:45] maurocolella commented on #25517
Ok. Again thank you.

On Nov 30, 2017 12:43, "Tomas Weinfurt" <notifications@github.com> wrote:

[2017-11-30 04:47] ViktorHofer commented on #21188
Unassigning and putting up-for-grabs label on it as we haven't heart back from @Vertygo for a while.

Since I created the issue we expanded the serialization set and now support exception types again. ping me for an updated list.

[2017-11-30 04:48] ViktorHofer commented on #19235
Closing as I can't see any action on this item for now.

[2017-11-30 04:48] #19235 closed

[2017-11-30 04:58] stephentoub commented on #22398
@Drawaes, is this completed now?

[2017-11-30 05:05] carlreinke commented on #24685
Sure!  Fire up WSL and give it a try. :)

[code]

[2017-11-30 05:31] carlreinke commented on #25569
As far as I know, symbolic links are the only link type that is available on all platforms that .NET Core targets, which makes them more useful than other link types.  I don't see a lot of value in supporting other link types, but perhaps I'm just being short-sighted.

Windows differentiates between file and directory symbolic links, so you can't just have `Path.CreateSymbolicLink(string, string)`

[2017-11-30 05:41] JeremyKuhne commented on #25569
I'm not expecting creation to become a priority, but identifying Junctions is important (over all the other reparse points, those two need special treatment when enumerating).

I didn't even realize that. Is that case useful to support?

I would think "link to" makes more sense. Creating a FileInfo for the target seems backwards from the way I'd expect people to come at this.

[2017-11-30 05:54] JeremyKuhne commented on #24685
Hmm- I need to set aside some time to fully understand this behavior. Windows claims to have implemented it's symbolic links just like Unix, I can't wrap my head around how this would manifest in Win32. To be honest, though, given the prior need for elevation my usage of symlinks has been pretty basic. :)

[2017-11-30 05:56] carlreinke commented on #25569
If I'm creating an arbitrary directory structure with some links in it, I wouldn't want to have to figure out what order I need to create the file and directories in order to make it work.  Unzipping a .zip file with symbolic links in it, for example.

Maybe I'm confused.  I would expect that:
- `File.CreateSymbolicLink(string, string)` would return a `FileInfo` for the symbolic link file that was

[2017-11-30 06:41] dotnet-mc-bot opened #25595 "Test failure: Microsoft.Internal.GenerationServicesTests/EnumType"
Opened on behalf of @Sunny-pu

The test `Microsoft.Internal.GenerationServicesTests/EnumType` has failed.

System.MissingMethodException : Method 'DynamicMethod..ctor(string, Type, Type[])' from assembly 'System.Reflection.Emit.Lightweight' was not included in compilation, but was referenced in GenerationServicesTests.CreateValueGenerator(T). There may have been a missing assembly, or a dependency

[2017-11-30 06:51] dotnet-mc-bot opened #25596 "Test failure: System.ComponentModel.Composition.AdaptingCollectionTests/TestDyamicallyFilteringImports"
Opened on behalf of @Sunny-pu

The test `System.ComponentModel.Composition.AdaptingCollectionTests/TestDyamicallyFilteringImports` has failed.

System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

           at System.ComponentModel.Composition.ExportServices.CreateStronglyTypedLazyFactory(Type exportType, Type metadataViewType) in E:\A\_work

[2017-11-30 07:12] dotnet-mc-bot opened #25597 "Test failure: System.ComponentModel.Composition.CatalogFilteringTests/FilteredCatalog_ScopeB"
Opened on behalf of @Sunny-pu

The test `System.ComponentModel.Composition.CatalogFilteringTests/FilteredCatalog_ScopeB` has failed.

System.InvalidOperationException : There is no metadata token available for the given member.

        Stack Trace:

           at System.Reflection.Runtime.TypeInfos.RuntimeNoMetadataNamedTypeInfo.get_MetadataToken() in f:\dd\ndp\fxcore\CoreRT\src\System.Private.Re

[2017-11-30 07:23] dotnet-mc-bot opened #25598 "Test failure: System.ComponentModel.Composition.CompositionErrorIdTests/CompositionErrorIdsAreInSyncWithErrorIds"
Opened on behalf of @Sunny-pu

The test `System.ComponentModel.Composition.CompositionErrorIdTests/CompositionErrorIdsAreInSyncWithErrorIds` has failed.

Assert.Equal() Failure\r
    Expected: Unknown\r
    Actual:   (null)

        Stack Trace:

           at System.UnitTesting.ExtendedAssert.EnumsContainSameValuesCore<System.ComponentModel.Composition.ErrorId, System.ComponentModel.Composition.C

[2017-11-30 07:36] dotnet-mc-bot opened #25599 "Test failure: System.ComponentModel.Composition.Diagnostics.CompositionTraceIdTests/CompositionTraceIdsAreInSyncWithTraceIds"
Opened on behalf of @Sunny-pu

The test `System.ComponentModel.Composition.Diagnostics.CompositionTraceIdTests/CompositionTraceIdsAreInSyncWithTraceIds` has failed.

Assert.Equal() Failure\r
    Expected: Rejection_DefinitionRejected\r
    Actual:   (null)

        Stack Trace:

           at System.UnitTesting.ExtendedAssert.EnumsContainSameValuesCore<System.ComponentModel.Composition.Diagnostics

[2017-11-30 07:41] #25599 closed

[2017-11-30 08:01] Drawaes commented on #22398
Yes, the public API overrides are done for both read and write. Of course there is always more internal work to be done but that is not being tracked by this issue :)

[2017-11-30 08:13] dotnet-mc-bot opened #25600 "Test failure: System.ComponentModel.Composition.Hosting.FilteredCatalogTransitiveClosureTests/IncludeDependenciesChainWithCycles"
Opened on behalf of @Sunny-pu

The test `System.ComponentModel.Composition.Hosting.FilteredCatalogTransitiveClosureTests/IncludeDependenciesChainWithCycles` has failed.

System.Reflection.MissingMetadataException : This operation cannot be carried out because metadata for the following object was removed for performance reasons:\
    \
      EETypeRva:0x000331C0\
    \
    No further information i

[2017-11-30 08:20] dotnet-mc-bot opened #25601 "Test failure: System.ComponentModel.Composition.ImportEngineTests/PreviewImports_ReleaseImports_ShouldNotBlockChanges"
Opened on behalf of @Sunny-pu

The test `System.ComponentModel.Composition.ImportEngineTests/PreviewImports_ReleaseImports_ShouldNotBlockChanges` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ComponentModel.Composition.ChangeRejectedException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: source

        Stack Trace:

[2017-11-30 08:32] dotnet-mc-bot opened #25602 "Test failure: System.ComponentModel.Composition.MetadataViewProviderTests/GetMetadataView_AbstractClassWithConstructor_ShouldThrowMemberAccessException"
Opened on behalf of @Sunny-pu

The test `System.ComponentModel.Composition.MetadataViewProviderTests/GetMetadataView_AbstractClassWithConstructor_ShouldThrowMemberAccessException` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.MemberAccessException)\r
    Actual:   typeof(System.ComponentModel.Composition.CompositionContractMismatchException): Unable to create an instance of th

[2017-11-30 08:46] DaveRandom commented on #25574
Trivial example of the sort of thing I was trying to do:

[code]

I'd rather this was fixed as it would be a poor-man's work around until #24588 is resolved, but if it's not practical then the docs should be updated to reflect the true behaviour.

[2017-11-30 08:59] DaveRandom commented on #25574
@Drawaes I just did a quick test using OpenSSL 1.0.2 on RHEL, and certainly with that recipe [`SSL_get_current_cipher()`](https://wiki.openssl.org/index.php/Manual:SSL_get_current_cipher(3)) works as expected during the [`SSL_CTX_set_cert_verify_callback()`](https://wiki.openssl.org/index.php/Manual:SSL_CTX_set_cert_verify_callback(3)) (which I assume is what the underlying implementation is based

[2017-11-30 08:59] pepone commented on #25581
@Priya91 I saying that the client should have receive the intermediate certificate but it only gets the server certificate. I updated the sample to allow running client and server on different machines, I run the server on a Windows machine and a separate macOS run the client in this case the client received chain is 2 indicating that the server send the intermediate certificate as this certificat

[2017-11-30 13:33] #22398 closed

[2017-11-30 13:41] ohadschn opened #25603 "Add Run(Func<Task>) overload to TaskFactory"
Could be convenient and more consistent with [`Task`](https://msdn.microsoft.com/en-us/library/system.threading.tasks.task.run%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396).

[2017-11-30 13:48] jozefizso commented on #25171
Please note that installing NuGet VSIX v3.6.0 for VS 2015 will not solve this. Visual Studio 2015 will need another update to know about .NET Standard otherwise the build will fail.

This is not feasible to require all developers in team to install two packages just because of a breaking change in NuGet package. And also admins must upgrade all the build machines otherwise CI will break.

[2017-11-30 13:50] jozefizso commented on #25171
Dataflow 4.7 works even without latest nuget... I really don't understand why you need latest nuget to work with 4.8 package and the package itself is not marked to require particular nuget.exe

[2017-11-30 14:13] benaadams commented on #25603
There is a [`Task.Run(Func<Task>)`](https://msdn.microsoft.com/en-us/library/hh160382(v=vs.110).aspx) method?

[2017-11-30 14:48] ohadschn commented on #25603
Yes, I'm talking about adding `TaskFactory.Run(Func<Task>)`

[2017-11-30 15:01] avantidesaigit commented on #24488
doesnt work for me yet on netcoreapp2.0

[2017-11-30 15:11] svick opened #25605 "Dispose should not throw PlatformNotSupportedException even when the type is not supported"
As reported by @ayende in [a blog post](https://ayende.com/blog/180641/if-you-have-a-finalizer-watch-your-ctor?Key=e518b670-167f-4582-afaa-0e201896bd4f), some types throw `PlatformNotSupportedException` from `Dispose(bool disposing)` on platforms that are not supported. This is problematic, because:

1. The big issue: The finalizer of a base class of some of those types (like `Component`) calls `D

[2017-11-30 15:16] davidsh commented on #25605
cc: @terrajobst

I agree that Dispose() should be a no-op instead of throwing an exception in those cases.

[2017-11-30 15:24] stephentoub commented on #25603
To what benefit? Task.Run had very specific semantics that would carry over. It targets the default scheduler. It uses the default options. Etc. The whole point of Task factory is to change such defaults, which Run then wouldn't respect.

[2017-11-30 15:42] #25193 closed

[2017-11-30 15:46] ohadschn commented on #25603
I was thinking mostly about the convenience of avoiding the call to `Unwrap()` (since `StartNew(Func<Task>)` returns `Task<Task>`)...

[2017-11-30 15:47] JonHanna commented on #25605
Conceptually also, I don't think "creating this object is supported on this platform, but cleaning it up after not doing anything with it is not" makes a lot of sense.

[2017-11-30 16:10] stephentoub commented on #25603
Sure, that makes sense.  The difficulty is, as I noted, it could be more confusing to have a Run method, as its semantics would either match Task's but ignore TaskFactory's settings, or it would end up having different semantics from Task.  And there's already a `TaskFactory.StartNew(Func<T>)` method, which if you give it a `Func<Task>` will have `T == Task` and thus will return a `Task<Task>`, so

[2017-11-30 16:12] stephentoub commented on #25605
The non-Windows build is auto-generated with these PNSEs:
https://github.com/dotnet/corefx/blob/master/src/System.IO.Ports/src/System.IO.Ports.csproj#L8
I think it'd be reasonable to change the generator to simply not throw from void-returning instance methods.

[2017-11-30 16:14] svick commented on #25605
@JonHanna That's not the case here. Creating the object is not supported, which means that e.g. `new SerialPort()` throws an exception and you don't get your hands on the object. But the partially constructed object still exists and so the runtime still calls its finalizer after it's GCed.

This also means what the design guidelines say is not really relevant, since the user will not be able to ca

[2017-11-30 16:16] JonHanna commented on #25605
Ah. That also makes @stephentoub's idea sound then, since there's no way to get an object and hence have a silent failure on e.g. `SerialPort.Open()`.

[2017-11-30 16:21] stephentoub commented on #25605
Right ;)

That said, it looks like @safern recently changed the code to explicitly throw from finalizers:
https://github.com/dotnet/buildtools/pull/1746
@safern, am I understanding correctly?  That would need to be changed, too.

[2017-11-30 16:38] svick commented on #25605
Actually, I think there is one legitimate* way to get that object: create a class that inherits from the unsupported type and `override` its `Dispose()`. E.g.:

[code]

This currently crashes because of the call to `Open()`:

[code]

It can be argued that this *should* crash, because the user code tried to perform an unsupported operation in a finalizer and that the user should have made sure to n

[2017-11-30 17:07] karelz commented on #25605
I think we should keep throwing from all void-returning methods (e.g. `Initialize`), I don't see value in `Open` not throwing - moreover the default values for out args might be as well unexpected under normal circumstances.

We should IMO just not throw from `Dispose()` and `Dispose(bool)` - which probably means to have their 'default' implementations (call base / the other Dispose).

[2017-11-30 17:09] davidsh commented on #25605
Dispose should never throw so we should definitely fix that.

[2017-11-30 17:12] tapmantwo opened #25607 "System.IO.Compression compatability issues"
Hi,

I have a project, using 4.6.1 with the new project format, which creates nuget packages (the idea being we will eventually change to target .NETStandard 2.0).

I have another project, which is using 4.6.1 with the traditional xml project format, which consumes that package.  This project uses System.IO.Compression.ZipFile to extract the contents of uploaded zips.  This is where the problems s

[2017-11-30 17:24] ViktorHofer commented on #25033
Happened today again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171130.03/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.SslStreamAlpnTests~2FSslStream_StreamToStream_Alpn_NonMatchingProtocols_Fail

[2017-11-30 17:34] safern commented on #25605
dotnet/buildtools#1746
@safern, am I understanding correctly? That would need to be changed, too.

Yes, if we don't want to throw from Dispose we should revert my change and add NoWarn to the projects that are generating a turd assembly with an empty finalizer, because that is why we add the throw in the finalizer

[2017-11-30 17:44] safern commented on #18649
Assigned to me, so that I take a look this week. Thanks for reporting it, it seems like a missing facade.

[2017-11-30 17:45] shmao commented on #25299
This was fixed by https://github.com/dotnet/corefx/pull/25309.

[2017-11-30 17:45] #25299 closed

[2017-11-30 17:47] davidsh commented on #25574
In terms of behavior, this matches .NET Framework as well.

So, changing this would be an enhancement to SslStream.

[2017-11-30 17:48] shmao commented on #25298
According to @imcarolwang

[OperationContract, XmlSerializerFormat(Style = OperationFormatStyle.Rpc, Use = OperationFormatUse.Literal)]

[2017-11-30 17:50] shmao opened #25608 "To Support Optional Rss Elements"
We'd like to enable Syndication to support optional Rss elements.

[2017-11-30 17:50] ViktorHofer commented on #23262
@michael-hawker thanks for the suggestion! I will look into and will comment as soon as I fully reviewed it.

[2017-11-30 17:51] nrusitska opened #25609 "ConcurrentDictionary GetOrAdd value factory is not thread safe"
When using GetOrAdd with a Value Factory, the execution of the factory is not thread safe and may be called multiple times.

Being called from multiple threads, this method first tries to find a present value (threadsafe),
then executes the value factory (unsafe) and finally inserts the value (safe again).
If the execution of the value factory takes longer, it's quite likely that is will be called

[2017-11-30 17:53] ajcvickers commented on #25128
@karelz @danmosemsft I don't think there is anything to do here from the area owner perspective. If the assembly resources are localized as part of a wider effort, then this would just start working. Beyond that I don't think we will do anything special to make this happen. Is there a general issue tracking this localization--#2713 seems to be specifically about Microsoft.CSharp.

[2017-11-30 17:57] ViktorHofer commented on #21305
We currently don't have any plans for supporting POSIX character classes in Regex. I will keep the issue open and monitor if there is more demand for it.

@Liturgist do you want to give it a try? You could always implement it by yourself and submit a PR.

[2017-11-30 17:59] stephentoub commented on #25609
It is thread-safe, and yes, the value factory may be called multiple times.  It's required that the delegate provided be able to be invoked concurrently with itself; if that's not the case, that's a bug in the usage rather than in the implementation of the dictionary.   We explicitly do not want to take a lock here.

[2017-11-30 18:00] karelz commented on #25128
@ajcvickers There is no plan for BCL-wide localization. Most texts don't need it as they are not exposed to end-customers (e.g. exception texts, etc.).
System.ComponentModel.Annotations and Microsoft.CSharp are likely the only exceptions to that rule.

If you think it is valuable scenario for developers to enable localization of Annotations, then we should start the discussion how to make it happe

[2017-11-30 18:01] benaadams commented on #25609
The Value Factory is provided by the caller. Whether or not that is thread-safe (or needs to be) is up to the caller and controlled by them.

[2017-11-30 18:04] ajcvickers commented on #25128
Thanks @karelz. I agree with not localizing in general--I'm very happy that we have got there. However, maybe data annotations is special since these messages are intended for customers. I will talk to @divega about it.

[2017-11-30 18:05] #21427 closed

[2017-11-30 18:15] saurabh500 commented on #25469
SqlConnection was never designed to be inherited from and cannot be changed to be not `sealed`
I agree with @jnm2 that composition should be used to accomplish the behavior that is desired.
This allows better separation of boundaries and better diagnosis of runtime problems as well.

[2017-11-30 18:15] #25469 closed

[2017-11-30 18:17] saurabh500 commented on #24608
Closing due to inactivity. Please ping in case there is more information.

[2017-11-30 18:17] #24608 closed

[2017-11-30 18:18] saurabh500 commented on #24282
Fixed with https://github.com/dotnet/corefx/pull/22059

[2017-11-30 18:18] #24282 closed

[2017-11-30 18:19] saurabh500 commented on #24206
Ping @kishoretvk Are you using Linux ?

[2017-11-30 18:19] saurabh500 commented on #24022
@mnusr Can you post a repro for this?

[2017-11-30 18:28] MattGal commented on #24114
Discussed with @wfurt offline, and filed https://github.com/dotnet/core-eng/issues/2186 for this.

[2017-11-30 18:34] wfurt commented on #24114
thanks @MattGal

[2017-11-30 18:48] shmao opened #25610 "Area-Serialization Sprint 128"
The issue is for tracking issues to be done in sprint 128 (due by 12/21/2017)

[2017-11-30 19:01] Priya91 commented on #25581
@pepone The bug is on Linux or MacOS? We have different codepaths for both. On Linux, when using Sslstream as server we do add the CA list from the ```LocalMachine``` and ```CurrentUser``` stores. What is the exact path where you have installed your intermediate certificate on your server Linux machine? Can you check if that location is same as values of ```StoreLocation.LocalMachine``` and ```Sto

[2017-11-30 20:16] danmosemsft commented on #25605
Or just put in a no op line of code.

[2017-11-30 20:17] JeremyKuhne opened #25613 "Unix file enumerator isn't thread safe"
New test in #25426 uncovered this.

[code]

[2017-11-30 20:29] stephentoub commented on #25613
It doesn't need to be; thread safety isn't a requirement of an enumerator.  In fact, it's impossible to have an enumerator that can be correctly accessed by multiple threads, because there's no way for the implementation to make the separate MoveNext/Current calls asynchronous.  If you access such enumerators from multiple threads, you're likely to get exceptions, including null refs.  What we nee

[2017-11-30 20:32] #25609 closed

[2017-11-30 20:32] JeremyKuhne commented on #25613
Windows never fails. Weird results, but it never throws- shouldn't we meet the same bar here? @jkotas, any thoughts?

[2017-11-30 20:33] stephentoub commented on #25613
That's not necessary.  Tons of instance methods across the framework through strange exceptions if the methods are used incorrectly.

[2017-11-30 20:40] jkotas commented on #25613
There is no problem to fix here. I have said a similar thing as Stephen in https://github.com/dotnet/corefx/pull/25426#issuecomment-348070627 :

Race condition in (safe) C# can manifest as odd managed exception, but it should not ever turn into (exploitable) buffer overrun.

Clean System.NullReferenceException is not a memory corruption.

[2017-11-30 20:40] JeremyKuhne commented on #25613
So what should I check or allow?

[2017-11-30 20:41] ohadschn commented on #25603
Well I don't think anyone would expect `mySpecialTaskFactory.Run` to use the default scheduler :) So I think having different semantics from `Task` is a given, and personally I'm OK with it (that's just me of course).

Another possibility would be to invent a new name, like `TaskFactory.StartAsyncNew` or `TaskFactory.StartUnwrapped` or... well, you know what they say about naming things.

[2017-11-30 20:42] jkotas commented on #25613
You should allow any clean exceptions to be thrown. But the test should not tear down the process (it is what happens in .NET Core unconditionally on memory corruptions).

[2017-11-30 20:44] JeremyKuhne commented on #25613
So you're suggesting I `try {} catch {}` around the entire thing? Note that I did find other issues with handle recycling on this test.

[2017-11-30 20:46] pepone commented on #25581
Hi @Priya91  I did a bit more testing and seems that the problem is on the Linux client not correctly building the keychain.

Windows Server | MacOS client the client keychain length is 2
Linux Server | MacOS client the client keychain length is 2
Linux Server | Linux client the client keychain length is 1

[2017-11-30 20:47] wtgodbe commented on #25236
@adiaaida any updates on the status of this?

[2017-11-30 20:48] jkotas commented on #25613
`try {} catch {}` would be my baseline solution.

Making it more fine grained is fine too e.g. flagging specific exceptions that can be only triggered by handle recycling bug as failures is fine.

[2017-11-30 20:50] wtgodbe commented on #24874
@stephentoub what should be done with this issue now that the test is disabled?

[2017-11-30 20:50] stephentoub commented on #24874
It should remain open until the issue is fixed.

[2017-11-30 20:51] JeremyKuhne commented on #25613
Ok, thanks.

[2017-11-30 20:53] stephentoub commented on #25572
I'm going to close this, as there doesn't appear to be an actual problem here. @zl-cn, if you believe otherwise, please re-open and provide more details. Thanks.

[2017-11-30 20:53] #25572 closed

[2017-11-30 20:54] stephentoub commented on #3689
I don't think this has failed more than six months.  Closing for now.

[2017-11-30 20:54] #3689 closed

[2017-11-30 20:56] stephentoub commented on #4883
Seems to be fixed.

[2017-11-30 20:56] #4883 closed

[2017-11-30 20:56] stephentoub commented on #5598
This issue isn't particularly actionable, as it's very broad.  We will continue to use ArrayPool in more places as opportunities present themselves.

[2017-11-30 20:56] #5598 closed

[2017-11-30 20:58] davidsh commented on #24819
There isn't any possible fix to this except to disable the use of WinHttp's auto-redirect functijnality.  That would impact performance of WinHttpHandler if we have to manually read the redirect response and then submit a new request.

I agree that the behavior is different from .NET Framework.  Perhaps, if/when the ManagedHandler comes online, we can then have its behavior match .NET Framework.

[2017-11-30 20:58] #24819 closed

[2017-11-30 20:58] PeterSmithRedmond commented on #18207
Does switching to Await help?

[2017-11-30 20:59] davidsh commented on #24774
In terms of documentation updates, please take a look at docs.microsoft.com and feel free to submit a PR and/or click the "Edit" link on the documentation topic you want changed.

[2017-11-30 20:59] #24774 closed

[2017-11-30 21:01] Drawaes commented on #25574
By enhancement... I am unsure of the process here, does that require an API review etc?

[2017-11-30 21:02] davidsh commented on #24139
Closing for lack of info to diagnose problem.

[2017-11-30 21:02] #24139 closed

[2017-11-30 21:05] stephentoub commented on #16602
I believe this issue was addressed.  We can re-open if it happens again.

[2017-11-30 21:05] #16602 closed

[2017-11-30 21:06] stephentoub commented on #15615
I now get errors like this:
[code]

[2017-11-30 21:06] Jivko1212 opened #25614 "system.valuetuple in .nuget conflicts with system.valuetuple in Microsoft.NET.Build.Extensions."
I have a solution that mixes .net standard and .net framework projects. I encountered the following error:

`10>  Encountered conflict between 'Reference:C:\Users\Zhivko\.nuget\packages\system.valuetuple\4.4.0\ref\net47\System.ValueTuple.dll' and 'Reference:C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\\net47\ref\System.ValueTuple.d

[2017-11-30 21:07] stephentoub commented on #17099
It's better now, at 66.9% line coverage.  Would still benefit from being much higher.

[2017-11-30 21:07] Drawaes commented on #25429
consistently or just a one off?

[2017-11-30 21:09] stephentoub commented on #21186
This was a desktop-specific failure with a fix already in corefx, and the test in question no longer exists. Closing.

[2017-11-30 21:09] #21186 closed

[2017-11-30 21:09] rmkerr commented on #25429
Just a one off.

[2017-11-30 21:10] stephentoub commented on #23879
AsMemory was already implemented/added.

[2017-11-30 21:10] #23879 closed

[2017-11-30 21:10] stephentoub commented on #24366
This has been fixed.

[2017-11-30 21:10] #24366 closed

[2017-11-30 21:15] PeterSmithRedmond commented on #20294
Recommend close.  I agree with CIPop; it's hard to come up with a customer scenario for changing the content-length64 value from code at all.

[2017-11-30 21:20] PeterSmithRedmond commented on #20439
IMHO, this is a test bug -- we're reusing a port.  Naturally the client has no way to know that the server essentially went away and came back.

[2017-11-30 21:20] ahsonkhan commented on #23879
What about TryGetArray?

[code]

[2017-11-30 21:22] davidsh commented on #24942
Closing due to not enough information to diagnose.

[2017-11-30 21:22] #24942 closed

[2017-11-30 21:23] stephentoub commented on #20439
Right, but that happens in the real world, too; servers close stale connections, and if ClientWebSocket end up reusing such a connection and then fails as a result, isn't that a problem?

[2017-11-30 21:24] stephentoub commented on #23879
I thought someone created a separate issue for that.  If not, can you open one? Thanks!

[2017-11-30 21:28] davidsh commented on #20439
Marking as "bug" and not "test-bug" until this is investigated.

[2017-11-30 21:31] davidsh commented on #24363
Unfortunately, the Connection: Keep-Alive is something that is "owned" by WinHTTP and hence WinHttpHandler.  There is no workaround to change how the casing of this works.

[2017-11-30 21:31] #24363 closed

[2017-11-30 21:35] davidsh commented on #22172
The `HttpContext` class is part of ASP.NET and not in .NET Core. This issue should be moved there.

[2017-11-30 21:36] davidsh commented on #22172
@glenster75

We're closing this here.  If this is still a problem, please open an issue in ASP.NET repo.  Thx.
https://github.com/aspnet/home

[2017-11-30 21:36] #22172 closed

[2017-11-30 21:38] ahsonkhan opened #25615 "Move DangerousTryGetArray from a ReadOnlyMemory to MemoryMarshal"
Leftover from the approved API proposal: https://github.com/dotnet/corefx/issues/23879#issuecomment-333306452

Rename the DangerousTryGetArray instance method on ReadOnlyMemory to TryGetArray and move it to the MemoryMarshal class.

[code]

cc @KrzysztofCwalina, @stephentoub

[2017-11-30 21:39] davidsh commented on #24482
We also need to see if this coding pattern above works or not on .NET Framework.  Not sure what the HTTP RFC's say about MultiPart content using Unicode filenames.

[2017-11-30 21:41] ahsonkhan commented on #21832
It supports this now.
https://github.com/dotnet/corefxlab/blob/master/docs/specs/span.md
[code]

[2017-11-30 21:41] karelz commented on #18408
Looks like we couldn't reproduce the issue. Closing for now. Feel free to reopen with additional info.

[2017-11-30 21:41] #18408 closed

[2017-11-30 21:42] davidsh commented on #24486
Closing since we have no repro of this problem.  Please let us know if it still occurs with .NET Core 2.0.  Thx.

[2017-11-30 21:42] #24486 closed

[2017-11-30 21:44] remcoros opened #25616 "Suppress compiler warnings from XmlSerializer.Generator"
When using the new XmlSerializer.Generator, there is a lot of warnings like:

    warning CS0219: The variable 'tmp' is assigned but its value is never used
    warning CS0219: The variable 'a_2' is assigned but its value is never used

see: https://ci.appveyor.com/project/ublsharp/ublsharp/build/108

Looking at the msbuild targets here https://github.com/dotnet/corefx/blob/master/src/Microsoft.Xm

[2017-11-30 21:44] shmao commented on #22853
@DamirLisak as you encountered the issue on the desktop framework, any fixes in .Net Core won't help. I wondered if you can work around the issue by moving the unlock logic from `Dispose` to the enumerator's `MoveNext()` method and exit the lock if `MoveNext` returns False.

[2017-11-30 21:50] davidsh commented on #24182
Closing this issue for now due to lack of repro information.

[2017-11-30 21:50] #24182 closed

[2017-11-30 21:54] davidsh commented on #23332
Yes, this is a change in behavior from .NET 4.6.1.  However, as of .NET 4.7, using SslProtocols.None (which implies using the most secure system defaults) is the new default behavior in .NET Framework.

This was a breaking change documented.

[2017-11-30 21:54] #23332 closed

[2017-11-30 21:55] karelz commented on #25614
@terrajobst @AlexGhiondea @weshaggard is it a known problem?

[2017-11-30 21:59] davidsh commented on #20747
Needs investigation.

[2017-11-30 22:05] wtgodbe commented on #25157
@danmosemsft do you have any status on the error logging for this issue?

[2017-11-30 22:11] karelz commented on #25206
@Priya91 is working on it for 2.1.

[2017-11-30 22:11] wtgodbe commented on #1081
@Giorgi @Priya91 @stephentoub do we still plan on taking this change/was a PR ever put up for this issue? Would like to get closure one way or another.

[2017-11-30 22:12] wtgodbe commented on #1838
Closing as abandoned, feel free to re-open if you plan on working on it.

[2017-11-30 22:12] #1838 closed

[2017-11-30 22:13] karelz commented on #24767
@Priya91 thinks this is fixed, please reference the bug / PR which did that and let's close it.
@wfurt can check history of test failure.

[2017-11-30 22:13] stephentoub commented on #1081
The API is still marked "api-needs-work", which suggests additional follow-up is necessary before it can be re-reviewed.  And the milestone is set as future, which suggests there's no rush here.  What kind of closure are you looking for, and why?

[2017-11-30 22:13] #15731 closed

[2017-11-30 22:19] wfurt commented on #24767
Last failure at 11/12. It was failing quite often before that. We should re-open if this happens again. closing for now.

[2017-11-30 22:19] #24767 closed

[2017-11-30 22:19] ViktorHofer commented on #9294
@danmosemsft do you believe this is still necessary?

[2017-11-30 22:21] karelz commented on #24588
@Priya91 @wfurt what do you think about the API proposal? Is it ready for API review?

[2017-11-30 22:22] karelz commented on #24553
@Priya91 is the API ready for review?

[2017-11-30 22:22] KKhurin opened #25617 "Provide a method to query memory status on Linux and OSX"
This could be similar to [Interop.GlobalMemoryStatusEx.cs](https://github.com/dotnet/corefx/blob/master/src/Common/src/Interop/Windows/kernel32/Interop.GlobalMemoryStatusEx.cs) and provide information similar to the one in MEMORYSTATUSEX. While the memory management is different on Windows and other platforms and this functionality is arguably low level, it still could be useful in a range of user

[2017-11-30 22:25] #25602 closed

[2017-11-30 22:26] #25600 closed

[2017-11-30 22:26] Giorgi commented on #1081
@wtgodbe I haven't sent a PR because the suggested api was [rejected](https://github.com/dotnet/corefx/issues/1081#issuecomment-273277103) but I can't think of a better api for getting process path.

I think it would be very intuitive to have a `Path` property for accessing process path instead of using `MainModule.FileName` and it would also work in cases when accessing `MainModule` throws an exc

[2017-11-30 22:26] #25596 closed

[2017-11-30 22:26] #25597 closed

[2017-11-30 22:26] #25601 closed

[2017-11-30 22:26] #25598 closed

[2017-11-30 22:26] karelz commented on #24407
We should do this in 2.1 as we were changing code in the area.
Estimation: 0.5 day work

@Drawaes are you interested in adding the tests?

[2017-11-30 22:28] karelz commented on #24356
BTW: Last failure was on 11/3

[2017-11-30 22:32] karelz commented on #23938
@Priya91 thinks this is in crypto APIs, not in SslStream.

[2017-11-30 22:36] karelz commented on #22515
Is it still a problem on High Sierra final release? @bartonjs do you know if Apple got chance to fix it?

[2017-11-30 22:40] karelz commented on #21577
Duplicate of #24588 ... closing.

[2017-11-30 22:40] MattGal commented on #20747
Couple Points:

- Today in official runs of rel/2.0.0 we're only using Centos 7.3.  We have machine pools and work queues for 7.1, can add this if desired.
- From this log:
https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20171121.02/workItem/System.Net.Sockets.Tests/wilogs  ... the test is passing without hang in the most

[2017-11-30 22:41] PeterSmithRedmond commented on #21624
If the underlying structures are different on Linux than they are on Windows, then the only good solution is to make our own object (like we make for the LingerOption or MulticastOption) and then do the conversion ourselves. At the same time, we should compare each of the Linux and Windows structures and find all of the differences.

The obvious class would be something like
[code]

[2017-11-30 22:41] karelz commented on #21285
Closing as it doesn't track any product/test issue. List of sign off criterias can be tracked externally.

[2017-11-30 22:41] #21285 closed

[2017-11-30 22:47] Drawaes commented on #24407
As said in the linked issue (this is the way I would see it having to work, but if someone knows different then I can implement it but as I see it now I am not sure its practical for me to do it).

[2017-11-30 22:49] bartonjs commented on #22515
https://github.com/dotnet/corefx/pull/23058 says it was fixed before High Sierra RTM

[2017-11-30 22:49] #22515 closed

[2017-11-30 22:49] karelz commented on #20550
Seems to be gone. Please reopen if it happens/happened after June.

[2017-11-30 22:49] #20550 closed

[2017-11-30 22:54] wfurt commented on #20311
The ssl will need trusted CAs. Do you have that in your container @chrismcv
Could you possibly isolate this to simple repro app?

[2017-11-30 22:57] karelz commented on #17802
Agreed, looks like by design. Closing.

[2017-11-30 22:57] #17802 closed

[2017-11-30 23:02] wtgodbe commented on #23496
I have been able to successfully run the example project with a 2.0 & 2.1 CLI, so I am closing this as resolved. @ValMenn feel free to re-open if I've misinterpreted something.

[2017-11-30 23:04] wtgodbe commented on #1081
I will leave this open then, if you or someone else can come up with a proposal that addresses @terrajobst concerns then feel free to do so.

[2017-11-30 23:06] karelz commented on #5211
Duplicate of #25206
It is happening.

[2017-11-30 23:06] #5211 closed

[2017-11-30 23:23] karelz commented on #23938
I think matching Windows 10 is reasonable. @Priya91 @wfurt thoughts?
@ayende if you want to submit the PR, please go ahead. Thanks!

[2017-11-30 23:31] rmkerr commented on #22479
This looks really interesting, especially since it appears to be non-deterministic. My initial attempts to repro have been unsuccessful, but I'll continue looking in to it. @jodavis do you have any more details on when this issue occurs? And approximately how often are you running into this issue?

[2017-11-30 23:34] saurabh500 opened #25619 "SqlCommand ExecuteNonQuery port"
Port the following APIs from .Net Framework to .Net Core.
M:System.Data.SqlClient.SqlCommand.BeginExecuteNonQuery
M:System.Data.SqlClient.SqlCommand.BeginExecuteNonQuery(System.AsyncCallback,System.Object)

M:System.Data.SqlClient.SqlCommand.EndExecuteNonQuery(System.IAsyncResult)

[2017-11-30 23:35] CESARDELATORRE opened #25620 "Possible Critical Bug/Issue with SqlConnection in .NET Core 2.0 when running on Linux or Linux Containers and having multiple concurrent users like in a Load Test"
POSSIBLE ISSUE/BUG
When load testing with not many concurrent users (just like 20, 50 or more concurrent users)  we've found a Possible Critical Bug/Issue with SqlConnection in .NET Core 2.0 when running on Linux or Linux Containers.
We might be missing something, but I don't see it.
This is happening only when running SqlClient in .NET Core 2.0 on Linux or Linux-containers.
When running on Window

[2017-11-30 23:35] geleems commented on #24175
@Diablofan can you put "tcp:" in front of the ip adress, and try again?

[2017-11-30 23:36] danmosemsft commented on #25157
Oops, missed this one. It looks like all DllImport for libproc is done in private methods in one file: src\Common\src\Interop\OSX\Interop.libproc.cs . That means it's feasible to put try/catch around each of the 7 callers in that file.

If there were more entry points, we might want to take the approach that System.Common.Drawing did for libgdiplus, which is to get the handle to the library in one

[2017-11-30 23:44] jkotas commented on #25157
What is the error message you are going add there for libproc? How different is it going to be from Unable to load DLL 'libproc' that you get today?

They have done this for different reason.

[2017-11-30 23:45] danmosemsft commented on #9294
I don't see the need given we have serialization. Maybe close and see whether we get feedback.

[2017-11-30 23:48] saurabh500 commented on #25620
@CESARDELATORRE Do you know at what User capacity does the application break down?

[2017-11-30 23:49] #9294 closed

[2017-11-30 23:51] jkotas commented on #25157
Everybody agreed that the solution used by System.Common.Drawing is not particularly great, and that we need something else (https://github.com/dotnet/coreclr/issues/14968). I am trying to see whether that something else overlaps with what you are trying to do here.

[2017-11-30 23:54] saurabh500 commented on #25619
cc @LotharOfTheHillPeople

[2017-11-30 23:58] JeremyKuhne commented on #25539
This change is pretty straight-forward. We'll need to clean up internal "index of" helpers and have existing APIs call these new public methods. Tests will need to be added.

[2017-11-30 23:59] CESARDELATORRE commented on #25620
Just with around 15 concurrent Http users (configured with the VS LoadTest project ) the application is breaking down after 1 minute or so.
On the other hand, the Max Pool Size at the connection string is configured to 400, which should be high enough.
Looks like connections are not being disposed/free after they are used?
I say this because even after stopping the Load Test, with just a single us

[2017-12-01 00:08] danmosemsft commented on #25157
I assumed we had an idea what what caused this and what the user could do to fix the problem. For example for ODBC, we changed the message to ask them to install unixODBC of a certain minimum version)
I agree if we don't know this, catch/throw does not add value...

[2017-12-01 00:19] wfurt commented on #21921
Last failure was in June. Back then OSX 10.3 was in early beta stage.
Please reopen if this happens again.

[2017-12-01 00:19] #21921 closed

[2017-12-01 00:21] JeremyKuhne commented on #25535
API review wanted to match the initial proposed order (path, basePath). This one needs good test coverage, particularly on Windows specific paths:

- Base device paths: `\\?\` & `\\.\`
    - these should **only** be recognized if they are in their canonical format, we have existing helpers for identifying
    - these are **only** valid for the base path, if the `path` is in this format it must, by

[2017-12-01 00:29] eerhardt commented on #23496
This is a breaking change in our Process APIs - triple quotes no longer work and they did before. The reason the initial repro no longer repros the issue is because MSBuild changes Exec to work around the problem. See my repo listed above for the repro of this issue with triple quotes.

[2017-12-01 00:35] geleems commented on #24480
Changing local MTU cannot be a resolution because it can affect every applications running locally in customer's machine.

@wfurt suggested me to remove the code part that sets buffer size to use Linux default packet size, and I removed this code part for testing:
https://github.com/dotnet/corefx/blob/bb05af4abec320bbd8f982a94361ed69ec4dbd78/src/System.Data.SqlClient/src/System/Data/SqlClient/TdsP

[2017-12-01 00:40] huanwu commented on #25591
@ViktorHofer
The error information is:
System.IO.FileLoadException
  HResult=0x80131621
  Message=Could not load file or assembly 'WebApplication5, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'.

The output from dotnet --info is:
.NET Command Line Tools (2.1.1-preview-007165)

Product Information:
 Version:            2.1.1-preview-007165
 Commit SHA-1 hash:  a4d1a8e0bb

Runtime Environme

[2017-12-01 00:41] wfurt commented on #24480
Thanks for the update @geleems Should we close this issue now?

[2017-12-01 00:43] gorsand commented on #24480
Big thanks to all the investigators. As for me, the autor of the issue, - I turned to Go programming and will never, never, never ever deal with C#/Windows stack unless a gun pointed at my head.But that was a really great investigation. Than you guys, great job.-- Andrew3:36, 1 декабря 2017 г., Gene Lee <notifications@github.com>:Changing local MTU cannot be a resolution because it can affect ever

[2017-12-01 00:55] sebastienros commented on #19836
This https://github.com/dotnet/corefx/issues/24480 is probably the cause of the initial issue and we should look into it and hopefully revert the LogRunning flag. /cc @geleems

[2017-12-01 01:00] wfurt commented on #21924
It did not failed since 2017-07-07. Closing now. Please reopen if this ever fails again.

[2017-12-01 01:00] #21924 closed

[2017-12-01 01:09] wfurt commented on #19701
It did not failed sine June. The non-managed failures were tracked here https://github.com/dotnet/corefx/issues/13281
Please re-open if this fails again.

[2017-12-01 01:22] #25585 closed

[2017-12-01 01:29] tarekgh commented on #24488
@safern could you please have a look. I believe we tested the compatibility pack so would be nice if you can share a project sample. Thanks.

[2017-12-01 01:31] safern commented on #24488
Yes I will, I just haven't had a chance today because of the next release, definitely will take a look tomorrow :)

[2017-12-01 01:50] imcarolwang commented on #25298
@shmao ,  after more testing, I found the comment is not always true for all cases , I am confused about the mixed using scenario, maybe knowing the default `Style `and `Use `  value if not specifying any would help diagnose issue but still the test result is confusing.

[2017-12-01 02:06] geleems commented on #24480
The fix has been merged to main branch. Closing the issue.

[2017-12-01 02:06] #24480 closed

[2017-12-01 02:14] ViktorHofer commented on #25303
updated for review format

[2017-12-01 02:15] Priya91 commented on #24767
this was fixed by #25345

[2017-12-01 02:17] Priya91 commented on #24407
We already have echo servers setup, could this functionality be added to the echo servers @davidsh ?

[2017-12-01 02:17] Priya91 commented on #18260
This should have been fixed by #25345 Reopen if fails again.

[2017-12-01 02:17] #18260 closed

[2017-12-01 02:26] Priya91 commented on #23938
@ayende Do you know what scenarios will be broken if this change is made? Matching windows 10 behavior seems reasonable, given that this was added to maintain consistency with windows in the first place. Would you like to submit a PR to remove this?

[2017-12-01 02:31] Priya91 commented on #24588
Does schannel, openssl and securetransport provide knobs to allow this configuration? Is CipherSuite just a string? How does one structure this data?

[2017-12-01 02:46] stephentoub commented on #22479
Uri uses a lot of unsafe code.  If there is a problem here, my guess would be that there's a bug in that unsafe code, walking off the end of some memory somewhere, such that it's non-deterministic because it's based on what data exists in the arbitrary memory being looked at.  Just a guess.

[2017-12-01 02:47] udlose commented on #25303
@ViktorHofer why the need for

This seems to imply the current implementation is not amenable to refactoring? Can you explain?

[2017-12-01 02:57] Priya91 commented on #24553
@Drawaes

Why is the chain information useful? How would the handshake use this information from the sni?

@Tratcher @PeterSmithRedmond Regarding providing the client ALPN list, as far as I researched neither schannel nor openssl has any server-side apis that gives the list of protocols sent by client. This information may be obtained by hacking the apis during the alpn phase of the handshake, whi

[2017-12-01 03:49] lakeman opened #25627 "DbConnectionPool.CleanupCallback with short lived windows impersonation tokens causes kestrel process to crash"
Add the following reproducer to an empty dotnet core 2 project and wait for the timer DbConnectionPool.CleanupCallback to fire.
Since the WindowsIdentity token that was being impersonated has now been closed, an ObjectDisposedException will be thrown while attempting to run the timer in the captured execution context.
This causes ExecutionContext.OnContextChanged to call FailFast and crash the pro

[2017-12-01 03:50] lakeman commented on #25477
I've found the source of the timer crashing my process and raised #25627 with a short reproducer.

[2017-12-01 04:12] mattzink commented on #21577
@karelz This defect is about adding protocol selection to `HttpClient`. https://github.com/dotnet/corefx/issues/24588 is about adding it to `SSLStream`, which may be a prerequisite to getting it into `HttpClient`, but I don't think obviates the need for this issue.

[2017-12-01 04:49] danmosemsft commented on #24480
@gorsand thanks for the original report. Just curious whether you can say more about your preference for Go? What could we do better?

[2017-12-01 05:01] AlexGhiondea commented on #25614
@Jivko1212 do you have a repro solution that you can share?

[2017-12-01 05:23] gorsand commented on #24480
Well, in this exact case the non-open code is the problem. I could have pre-investigated the issue and probably would have come up with some more precise hints or even with a merge request. However, in my case I could only keep guessing what happens. However, the Core2.0 runtime is a big, a great step forward. Linux developers thus can apply their skills in C# world which itself opens great opport

[2017-12-01 05:29] benaadams commented on #25627
Looks like DbConnectionPool queues a timer for [CleanupCallback in Startup](https://github.com/dotnet/corefx/blob/6de0d9478326f4e76016a59193b646508540e75a/src/System.Data.SqlClient/src/System/Data/ProviderBase/DbConnectionPool.cs#L1545-L1552)

The timer will [capture the ExecutionContext](https://github.com/dotnet/coreclr/blob/b9affb49f79ed8319923c2f5b07b4aeeb04efe36/src/mscorlib/src/System/Thread

[2017-12-01 05:42] lakeman commented on #25627
I'm also wondering if WindowsIdentity.RunImpersonated should put a wrapper class into the AsyncLocal, so it can ignore impersonation for any task that escapes the lifetime of the original call.

[2017-12-01 06:00] danmosemsft commented on #24480
@gorsand thank you for the detailed feedback. Have fun with Go, and perhaps give C# and .NET Core another look in the future. We would value use and contributions.

[2017-12-01 07:36] imcarolwang commented on #25298
Apply different `XmlSerializerFormatAttribute Style ` (`Rpc `or `Document`) and `Use ` (`Encoded `or `Literal`) for different operations explicitly:

1. All Rpc+Encoded : work
2. 	All Rpc+Literal : work
3. 	All Doc+Literal : work
4. 	Rpc+Literal <-> Doc+Literal : work
5. 	Rpc+Encoded <-> Rpc+Literal : not work
6. 	Rpc+Encoded <-> Doc+Literal : not work

[2017-12-01 07:56] shravan2x opened #25629 "HttpCompletionOption.ResponseHeadersRead behavior with AllowAutoRedirect=true"
This is a question regarding the behavior of `HttpCompletionOption.ResponseHeadersRead` when `AllowAutoRedirect` is set to true. When a redirect occurs, which of the following behaviors takes place?

1. The completion option is only respected for the first request (i.e. it is "best-effort"; since a redirect took place, we cannot respect the completion option. So we read the response body and then

[2017-12-01 08:10] Sunny-pu commented on #24807
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_release/260/testReport/System.Net.Mail.Tests/LoggingTest/EventSource_EventsRaisedAsExpected/

[2017-12-01 08:30] lakeman commented on #24977
ExecutionContext in dotnet core does seem to flow Impersonation (#25627). ExecutionContext also does not have an explicit lifetime, while token handle's do.

Instead of adding a RunImpersonatedAsync method, I'd like to propose an alternative api;

    public IDisposable BeginImpersonation(SafeAccessTokenHandle token)

Which would internally still use an AsyncLocal & ExecutionContext to flow the im

[2017-12-01 08:57] mihaj commented on #23678
Hmm, I am trying to use Open CV library (Emgu.CV.World.dll) in .NET Core 2 MVC project:

`Could not load file or assembly 'Emgu.CV.World, Version=3.3.0.2824, Culture=neutral, PublicKeyToken=null'. The system cannot find the file specified.`

If I add the Nuget, there is a ZedGraph DLL which needs the full .NET framework :(. The workaround above does not work for me.

[2017-12-01 09:01] pepone opened #25631 "Cannot import PKCS12 certificates on OS X"
[code]

This program fails in OS X with the following exception

[code]

The same program works fine with Linux and Windows, The test certificate can be download from
https://github.com/zeroc-ice/ice/raw/3.7/csharp/test/IceSSL/certs/s_rsa_cai1.p12

[EDIT] Add C# syntax highlighting by @karelz

[2017-12-01 09:15] hickford commented on #294
The link is dead. Where should I look? @terrajobst

[2017-12-01 09:22] hickford commented on #294
A question about API review process described at https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

If a proposal is approved, in which frameworks would the API be implemented? .NET Core? .NET Framework? Both (.NET Standard)?

[2017-12-01 10:21] lil-Toady commented on #24430
Just a note for whoever resolves this:
`NetworkStream.ReadAsync(byte[], int, int, CancellationToken)`
is missing CancellationToken argument to underlying Socket.ReceiveAsync, yet it is present in
`NetworkStream.ReadAsync(Memory<byte>, CancellationToken)`

[2017-12-01 10:57] beyon opened #25632 "Failing code with forward slashes as path separators with paths containing umlauts"
As mentioned in this issue( https://github.com/dotnet/corefx/issues/25519 ) there is a problem for me with paths using forward slashes as path separators and umlauts (probably all characters outside the 0000-007F range?). Found using System.Xml.Linq.XDocument.Load(), can't reproduce with just System.IO.Path.GetFullPath() so my guess is the path gets malformed somewhere along the call stack between

[2017-12-01 11:44] wekempf commented on #17068
So, I've had time to think about it. We already have Debug and Trace, so the concern about strictly following the FDG with regards to using verbs for class names is probably not a concern here. So Require is probably an "OK" name. However, I still believe Argument to be superior.

[code]

I like the fact that with Argument as the name the assertions read exactly the same as the exceptions they thr

[2017-12-01 11:52] omariom commented on #25569
How  does PowerShell handle links?

[2017-12-01 12:17] JonHanna commented on #17068
While these verification methods are handy (I use similar often myself), there is something to be said about the benefit of a throw within a method for static analysis.

[code]

Changing `ErrorContext.Error` in Microsoft.CSharp from throwing to returning an exception to throw made quite a few chunks of code not only more clearly unreachable, but demonstrably unreachable so the compiler would compl

[2017-12-01 12:45] gorsand commented on #24480
Thank you again for the great job done. Now I can remove the workaround in the code for Linux case and use the common way of loading sql.-- Andrew9:01, 1 декабря 2017 г., Dan Moseley <notifications@github.com>:@gorsand thank you for the detailed feedback. Have fun with Go, and perhaps give C# and .NET Core another look in the future. We would value use and contributions.

—You are receiving this b

[2017-12-01 12:48] Jivko1212 commented on #25614
I managed to repro. It has to do with the ServiceStack.Text.Core package (latest version 1.0.44:
1. Create new net standard library
2. Reference ServiceStack.Text.Core in the library
3. Create a new style csproj net framework 471 project (alternatively create an old style project with <RestoreProjectStyle>PackageReference</RestoreProjectStyle> tag).
4. Reference the std lib from the the net 471 pr

[2017-12-01 13:10] #24914 closed

[2017-12-01 13:41] #25375 closed

[2017-12-01 13:42] tmds commented on #24281
Implemented in https://github.com/dotnet/corefx/pull/25219

[2017-12-01 13:42] #24281 closed

[2017-12-01 13:58] maurocolella opened #25633 "dotnet publish on FreeBSD"
This is more of a question. I apologize in advance if this is not the proper place to ask for a clarification.

I was able to compile the runtime for FreeBSD, by following the instructions at:
https://github.com/dotnet/corefx/wiki/Building-.NET-Core--2.x-on-FreeBSD

I have applications that need to be `dotnet run` from the SDK. If I `dotnet publish` those applications on a Windows host, barring so

[2017-12-01 14:17] jkotas opened #25634 "ConsoleColor.White isn't white on macosx"
_From @equiman on December 1, 2017 13:25_

I'm working in a console project in dotnet core.
But white color on mac is represented as lighter gray and not as white color.

Example img: https://ibb.co/kKoXPb
1) is background color in terminal by default.
2) is `Console.BackgroundColor = ConsoleColor.White; ` but is represented as lighter gray.

I'm using default terminal application on macos.

$> do

[2017-12-01 14:28] jkotas commented on #19994
Failed again in https://github.com/dotnet/corefx/pull/25628

[2017-12-01 14:30] JonHanna commented on #17068
One possibility for the above is to return the argument.

[code]

Then we could do:
[code]
Or even the concision (YMMV on the value of concision, as always) of
[code]

Annoyingly, I'm unclear what `NotNull` would do with a value-type `T` and how the `?` of `Nullable<T>` will work or not with the `T` of C#8 nullable reference types. Ideally I'd like to be able to use this with a generic type that c

[2017-12-01 14:34] JonHanna commented on #17068
Returning the argument would also allow chaining if done as extensions: `value.VerifyNotNull().VerifyNotEmpty()`

[2017-12-01 14:48] PhilipDaniels commented on #17068
Strongly support returning the argument, my own extensions do this. Results in fewer lines of code being required, which is always good (less vertical space needed).

[2017-12-01 15:16] steevcoco commented on #11857
I've got a basic CompositionContainer feature set working with AssemblyCatalog and DirectoryCatalog in a NetStandard 2.0 project ... So that's great for me here!

[2017-12-01 15:19] JonHanna commented on #17068
From @wekempf:

There's a downside to this, when one considers the effect of pulling in the extra code into the method for an exceptional case.

Perhaps the best balance might be something like:

[code]

Then only the check gets inlined, which is the part we'd like to get past quickly, but not the throw if it happens.

I recall one of the corefx team saying something on this that had been on the b

[2017-12-01 15:42] benaadams commented on #17068
Don't want to no-inline the throw; gives the jit the wrong signals - better as a non-returning method; and the exception create as a non-inline (for older runtimes)

Want to inline the check; so the Jit can elide checks (e.g. if var is guaranteed not null or range is predefined then that whole chunk can be removed); also because its always run.

@mikedn introduced non-returning methods to the Jit

[2017-12-01 16:42] karelz commented on #25633
`dotnet run` should work even without SDK. Once it is fully working on FreeBSD, you should be able to run with it apps published on other hosts.
cc @wfurt

[2017-12-01 16:45] vancem commented on #24807
I am assuming that this is a non-deterministic (and rare) error.  Please correct me if I am wrong.

Looking at the error detail
[code]
This seems to be some sort loader issue with libhostfxr.dylib  which I am guessing is something to do with the test host.

We probably need to bring in some expertise with this DLL and how it is deployed.   It seems to have little to do with the actual code being t

[2017-12-01 16:45] karelz commented on #25632
Hidden in the repro text is the fact it passes on .NET 4.6.1 - compat issue between Core and Desktop.

[2017-12-01 17:17] mikedn commented on #17068
The pattern existed before, it was used as a code size optimization. I just changed the JIT to handle it properly. It's likely that older JITs did not inline such methods and that's how the pattern appeared. Granted, not inlining without also propagating "no return" information can cause CQ issues but probably nobody noticed that in the past.

Something like this was mentioned before, I think. The

[2017-12-01 17:18] weshaggard commented on #12180
I would be very reluctant to take the dependency directly in the System.CodeDom library itself because there is a decent chance that we may be required to pull that library into the shared framework because of other .NET Framework API compat issues and it would be a shame to pull in all of Roslyn because of that.

My suggestion would be to try and build a library on top of System.CodeDom that hook

[2017-12-01 17:28] qmfrederik commented on #5120
Is this supposed to work in the latest nightly builds?

I tried using the ClientWebSocket with the latest nightly build (the debugger tells me I'm on veresion `4.06.25929.2` of `System.Net.WebSockets.Client.dll`, with timestamp `11/29/2017 2:23 PM` which was loaded from `C:\Program Files\dotnet\shared\Microsoft.NETCore.App\2.1.0-preview1-25929-02\System.Net.WebSockets.Client.dll`). This is on Wind

[2017-12-01 17:32] davidsh commented on #5120
ClientWebSocketOptions is not fully implemented yet.  So, it is expected that the code above doesn't work.

[2017-12-01 17:34] stephentoub commented on #5120
(If you want to give it a try on Linux, though, I'd expect/hope with the nightly it should work there.)

[2017-12-01 17:36] weshaggard commented on #25171
I still don't believe you need the latest nuget to get this package to work, my expectation is you just might get more dependencies. @jozefizso can you share what will actually break?

[2017-12-01 17:36] qmfrederik commented on #5120
Sure, I can give Linux a try. Is there any way to force the client to use the managed implementation on Windows?

[2017-12-01 17:38] davidsh commented on #25629
First, `HttpCompletionOption.ResponseHeadersRead` has nothing to do with whether or not connections get reused or not during HTTP request/response processing.  That option simply means when the async HttpClientHandler.SendAsync() method will complete.  If ResponseHeadersRead is specified, then it will complete when the headers are read but it will NOT read nor buffer in the response body content.

[2017-12-01 17:41] karelz commented on #21577
I see, it was incorrectly labeled (both area and issue type) and the title isn't super clear. Reopening.
We need official API proposal next.

[2017-12-01 17:42] stephentoub commented on #5120
If you overwrite the System.Net.WebSockets.Client.dll you have with the Unix one from the package, that *should* "just work", though you'll want to make a backup of the original just in case :)

[2017-12-01 17:43] davidsh commented on #24407
Not simply.  The current "echo" server for most of CoreFx is http://corefx-net.cloudapp.net.  That server does support TLS/SSL but it doesn't request any client certificates.  It is based on an Azure Cloud Service and isn't easy to change that configuration.

I did add another Azure test server endpoint specifically for testing client certificates being sent to a server.

See:
https://github.com/d

[2017-12-01 17:44] jnm2 commented on #17068
I'm using this helper in argument validation as a non-exception-throwing cast:

[code]

Direct cast would require catching and rethrowing as ArgumentException with param name. Safe cast would misinterpret mismatching types as `null`.

[2017-12-01 17:45] SunnyWar commented on #25533
The original algorithm would always use the predefined values regardless of what you initialized it to, unless it feel outside a very large size at the time: 7199369. Only in this case would it compute the nearest prime.  The problem with this approach is that as the table expands there are many more and expansive IsPrime calcuations. The change in #6203 was to expand the table so that no computat

[2017-12-01 17:51] davidsh commented on #23938
We should very careful before changing this.

The default behavior in SCHANNEL for Windows Server 2008 R2 and later was changed to not send TRUSTED_ISSUERS lists by default.  This was done because frequently such lists are huge and they overflow the packet size limitations of TLS.

See:
https://technet.microsoft.com/en-us/library/dn786429(v=ws.11).aspx

[2017-12-01 18:00] ViktorHofer commented on #11836
Why isn't Stack Exchange using timeouts on their regex expressions to avoid unwanted computations?

[2017-12-01 18:03] danmosemsft commented on #25381
@eerhardt is 3 dev days a reasonable time to do a good job of this?

[2017-12-01 18:04] devsko opened #25635 "BufferBlock.OutputAvailableAsync does not set CancellationToken when canceled"
When I await BufferBlock<T>.OutputAvailableAsync(token) and the token gets canceled a TaskCanceledException is thrown with a CancellationToken set to CancellationToken.None.
I think this is because OutputAvailableAsyncTarget<T>.CancelAndUnlink() calls thisTarget.TrySetCanceled() without the token as parameter.

[2017-12-01 18:05] omajid commented on #25381
I can help out with implementing this. But I don't know if there was consensus on how this should be fixed.

[2017-12-01 18:06] ViktorHofer commented on #11473
We made some improvements in .NET Core and in the benchmarks to be at least on par with Java - in most cases we are faster. This is thanks to community contributions that optimized the benchmarks and also @tannergooding who introduced Vector in the Mandelbrot benchmark.

We are trying to improve certain scenarios drastically, e.g. Regex where we are clearly lacking behind competition.

[2017-12-01 18:08] bartonjs commented on #25631
When importing a PFX that you are adding to a cert store you should assert `X509KeyStorageFlags.PersistKeySet`, otherwise (on Windows) the private key should get deleted during a cleanup step.

PersistKeySet will cause the PFX to already import into login.keychain on macOS, so the store Add should be redundant there.

Otherwise, for your example to work you need to import with Exportable; since on

[2017-12-01 18:26] stephentoub commented on #25635
Yes.  The library was written before the `TrySetCanceled(CancellationToken)` method was available.

[2017-12-01 18:28] wfurt commented on #25633
There is not a simple answer @maurocolella
Simple assemblies should just run e.g. "dotnet mycool.dll"

In Theory you should be able o publish on windows (or Linux) for other platforms with "-r XXX" However your sdk may not have a clue about FreeBSD RID. You may also run to problems while fetching NuGet packages - currently there are not any for FreeBSD as far as I know.  corefx is still missing fe

[2017-12-01 18:41] danmosemsft commented on #25381
Actually I think this is suffiicently tracked by the CLI and docs tasks.

[2017-12-01 18:41] #25381 closed

[2017-12-01 18:42] danmosemsft commented on #25381
@omajid your help would be welcome - perhaps you can nudge the other issues?

[2017-12-01 18:55] wtgodbe commented on #23496
@eerhardt so was https://github.com/dotnet/corefx/pull/21339/files the breaking change?

[2017-12-01 19:00] pepone commented on #25631
@bartonjs  `X509KeyStorageFlags.PersistKeySet` solves my main issue, as that imports the certificate including the certificate chain to the login keychain.

it is still a bit unfortunate that such a simple program cannot work cross platform, I think it should have just import the certificates without the private key.

[2017-12-01 19:01] shravan2x commented on #25629
I didn't know that; Is it possible to change this from code without hacks like reflection?

Also, how do timeouts work with regard to redirects? Are they per-request or for all of them?

[2017-12-01 19:04] davidsh commented on #25629
If you use WinHttpHandler directly, you can change the value of 'MaxResponseDrainSize' property.  But the current default of 64KB is usually fine.

In terms of "timeouts", there is an overall HttpClient timeout that governs the whole request/response.  There are also internal TCP level timeouts for making connections but those are not controllable.

It is very rare that controlling any of those lo

[2017-12-01 19:07] shravan2x commented on #25629
Sorry, I happened to update my comment while you were answering.

So if I understand correctly, if a request has `AllowRedirects` set to `true` and it redirects 8 times, the total time `SendAsync` might take is `8*Timeout`?

[2017-12-01 19:09] davidsh commented on #25629
No.  HttpClient.Timeout is for the whole thing regardless of how many auto redirects are being processed.

[2017-12-01 19:11] shravan2x commented on #25629
I see. My last question is - how does MaxResponseDrainSize work when the transfer-encoding is chunked?

[2017-12-01 19:17] davidsh commented on #25629
Does it read up to 64KB and then terminate the connection?

The answers to those questions vary depending on the platforms (Windows vs. Linux) and also different versions of Windows.  I don't have any crisp answers to tell you about that.  On .NET Core and Windows, the .NET layer of HTTP is built on top of native Windows APIs (WinHTTP for non-UWP apps and WinINet for UWP apps).  The details you as

[2017-12-01 19:20] bartonjs commented on #25631
That causes a different set of simple program to not work, one where a PFX is opened and used to sign or decrypt data, then discarded.

Since adding certs to stores seems more rare than using a key from a PFX, that's where the "macOS doesn't treat these the same, how do we handle it?" worked out.

[2017-12-01 19:20] #25631 closed

[2017-12-01 19:24] wtgodbe commented on #6589
Closing as abandoned

[2017-12-01 19:24] #6589 closed

[2017-12-01 19:26] wtgodbe commented on #7875
@weshaggard does this issue still have any traction, or should I close as abandoned?

[2017-12-01 19:29] pepone commented on #25631
Note that test still produce the same error with this falg set

That is right, the most common case here is that you will be using the key.

[2017-12-01 19:31] weshaggard commented on #7875
I think this is still worth investigating.

[2017-12-01 19:38] Diablofan commented on #24175
Just tried it, same error as before.

[2017-12-01 19:45] shravan2x commented on #25629
That's fine, I was just curious anyway. Thanks for the answers!

[2017-12-01 19:45] #25629 closed

[2017-12-01 19:54] vancem commented on #25533
@SunnyWar do we have a scenario with perf data that shows that the prime calculation is ever a problem?     It seems to me that the 'worse case' that is realistic would be to set the size to the last size in the static table and then keep adding elements (which will cause growth each time the table gets full).

However it is my strong suspicion that the prime calculation will always be small in co

[2017-12-01 20:26] qmfrederik commented on #5120
@stephentoub I gave it a try on Linux; right now I'm getting SSL certification errors: "The remote certificate is invalid according to the validation procedure".

I have a `X509Certificate2` which represents certificate of the CA issuing the SSL certificates for the server, but I haven't been able to figure out yet how to let the ClientWebSocket know to either trust that CA or let me do the valida

[2017-12-01 20:28] wtgodbe commented on #24357
@stephentoub do you have any suggestions for how to test a fix for this?

[2017-12-01 20:30] stephentoub commented on #5120
I'm not aware of that.  @weshaggard, do you know what @qmfrederik is referring to here?  We should not be doing anything special to say that the assembly is somehow Linux-specific... it's not.

ClientWebSocket here is just using SslStream, which on Windows should be using standard validation mechanisms.  @bartonjs, can you help?

[2017-12-01 20:36] omajid commented on #25381
Yup, I will continue nudging it until I see some movement. I just dont know when that will be.

[2017-12-01 20:36] Drawaes commented on #24407
When you hit that server it does a normal negotiation. When you do an http request to that path it then triggers a renegotiation with a cert request.

I confirmed it by just hand writing the HTTP request and using openssl s_client with message logging ;)

[2017-12-01 20:37] qmfrederik commented on #5120
@stephentoub @weshaggard For example, the WinPE header of contains `System.Net.WebSockets.Client.dll` which I got from `dotnet-sdk-latest-linux-x64.tar.gz` contains the value 0xFD1D in the architecture field (offset 0x84); for other assemblies that appears to be 0x8664.

[2017-12-01 20:39] qmfrederik commented on #5120
@stephentoub @bartonjs Regarding the SSL validation (I'm trying on Linux ATM), it looks like #12038 is related.

[2017-12-01 20:39] davidsh commented on #24407
Ok.  Thanks for confirming.  So, you should be able to write some interesting tests for SslStream against that endpoint.  Make sure to mark those tests as outerloop.

[2017-12-01 20:40] stephentoub commented on #24357
If nothing else, the repro shared in the initial post, e.g.
[code]
should fail, throwing an exception as it does on netfx:
[code]
On .NET Core on Windows today, though, it successfully prints out the names of all of the processes on the local machine. We should be able to validate that we get such errors in a unit test, including in CI.

To my knowledge, we don't currently have infrastructure in C

[2017-12-01 20:44] Drawaes commented on #23938
That shouldn't break TLS and if it does something is wrong with the implementation. There are "max fragment sizes" but a message (eg handshake message) should be able to be broken into any number of these

   records carrying data in chunks of 2^14 bytes or less.  Client
   message boundaries are not preserved in the record layer (i.e.,
   multiple client messages of the same ContentType MAY be co

[2017-12-01 20:47] Drawaes commented on #24407
I hope you are referring to the "royal you".

[2017-12-01 20:54] danmosemsft commented on #11836
@NickCraver you may have some thoughts to share?

[2017-12-01 20:58] krwq commented on #25632
@beyon It seems to me that the Uri which is causing a failure is one of the Uris inside the Xml itself and not the path to the xml file (search for external dtds inside your doc).
Could you test Uri code with that? (or share the xml doc)

I believe the narrowed down scenario will be something along the lines of:
[code]

[2017-12-01 20:58] Drawaes commented on #24553
I agree with the two observations and have made that change.

For the chains, how does one normally get a chain into an X509 cert, there are two ways I know of, load it from a "store" or load it from a PFX, is there another way? You can load a DER but it doesn't have the chain right?

I am worried that in a "dynamic" situation it will be hard to construct a chain on the fly say on Linux. If there

[2017-12-01 20:59] weshaggard commented on #5120
For IL only assemblies we shouldn't be marking them as OS or architecture specific (I think the default is prefer32bit) so I would expect them to work just fine between linux and windows. In fact we build all our IL assemblies on windows. However if you are taking the binaries out of the runtime zips then those are native ngen'ed binaries and will not work on the other platform as you point out.

[2017-12-01 21:04] qmfrederik commented on #5120
@weshaggard OK - that makes sense. Where should I find the NuGet package? I tried https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Net.WebSockets.Client but it looks that hasn't been updated since January.

[2017-12-01 21:05] qmfrederik commented on #5120
@stephentoub Adding my CA to the list of trusted CA's on Linux got me this gem:

[code]

[2017-12-01 21:06] davidsh commented on #5120
Go to NuGet.org:
https://www.nuget.org/packages/System.Net.WebSockets.Client/4.3.2

[2017-12-01 21:12] stephentoub commented on #5120
Hmm, that error is coming from here:
https://github.com/dotnet/corefx/blob/baf2128a7cdf4a7638be1e86a6fc18651f3945d3/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs#L183
It's possible the validation condition there is wrong.

[2017-12-01 21:13] qmfrederik commented on #5120
@davidsh Hmm, looks like that package is built off https://github.com/dotnet/corefx/commits/1503bfaac164addc2821b41193d2c54512d49e37 which doesn't seem to include #24288 though

[2017-12-01 21:22] davidsh commented on #5120
The NuGet.org package is from the official release, 1.1 which was the last release that had a separate System.Net.WebSockets.Client NuGet package.

If you want daily feeds from MYGET.ORG, then your previous link would have been correct. However, we no longer build a separate System.Net.WebSockets.Client NuGet package.  The new model starting with .NET Core 2.0 actually is for mega-packages.  That

[2017-12-01 21:32] beyon commented on #25632
Oh, sorry I forgot contents of test.xml since this issue was spun off my other.

The contents of test.xml is the same for both paths and is just:
[code]
I'm confident it's just the path used and not the contents of the xml file both from this test setup and from the scenario where I first ran into the issue.

[2017-12-01 21:33] danmosemsft opened #25636 "Span/Memory Epic"
Groups all remaining work for Span and Memory for 2.1

[2017-12-01 21:33] danmosemsft commented on #25636
Related to https://github.com/dotnet/coreclr/issues/5851 in CoreCLR

[2017-12-01 21:36] geleems commented on #24480
Workaround without this fix is putting `;packet size=4096` in connection string.
This will make SqlClient to avoid packet size change in the middle of workflow, that causes the issue.

[2017-12-01 21:37] danmosemsft commented on #24826
Cost from @ianhays

[2017-12-01 21:43] weshaggard commented on #5120
As of 2.0 we ship this library in the Microsoft.NETCore.App packages which also contain ngen'ed binaries. However we do have our private corefx package https://dotnet.myget.org/F/dotnet-core/api/v2/package/runtime.linux-x64.Microsoft.Private.CoreFx.NETCoreApp/4.5.0-preview1-26001-02 which should contain the IL file for this. Give that a try.

As an aside @davidsh this fact is going to make fixing

[2017-12-01 21:43] SunnyWar commented on #25533
@vancem  > do we have a scenario with perf data that shows that the prime calculation is ever a problem?

I don't know of any, Consider the looking at this also from the flip-side. If the prime calculation does not significantly affect the performance is there any reason to add it? And what's with the magic maximum number in the old prime table? If you are going to discuss perf data, what to propo

[2017-12-01 21:43] weshaggard commented on #9503
@stephentoub @davidsh is there any reason we cannot just use the IL only implementation on all platforms? That will make fixing this a lot easier.

[2017-12-01 21:46] stephentoub commented on #9503
Personally I'd be happy with that.
cc: @geoffkizer

[2017-12-01 21:46] adiaaida commented on #25236
I've been looking at the results for this test, and I think the change to disable parallelism (#25401) fixed this issue. It hasn't failed since.

[2017-12-01 21:47] krwq commented on #25632
@beyon this is passing on my box with your file inside a folder with umlaut character.

This part of the stack you have added:
[code]

says that xml parser saw an external entity in the xml file and failed when trying to process it.

Could you possibly attach your project with the repro? i.e. you could create xml file with the umlaut path on the fly.

[2017-12-01 21:47] davidsh commented on #9503
The "pure managed" implementation of WebSockets.Client is missing features compared to the current Windows implementation (which uses native WinHTTP).  So, it is not ready to be used as the replacement.  Also, the UWP version of WebSockets.Client currently uses WinRT WebSocket APIs.  So, we can't just remove those implementations yet since the managed one is not at feature parity.

[2017-12-01 21:48] wtgodbe commented on #25236
Great! I'll close this then, if it gets hit again the issue can be re-opened.

[2017-12-01 21:48] #25236 closed

[2017-12-01 21:48] stephentoub commented on #9503
@davidsh, which features specifically?

[2017-12-01 21:49] davidsh commented on #9503
proxy and HTTP authentication for starters.

[2017-12-01 21:53] stephentoub commented on #9503
I don't see the Windows implementation accessing the relevant members of ClientWebSocketOptions... can you point me to where that's happening? i.e. where is it accessing Credentials/_credentials or Proxy/_proxy?

[2017-12-01 21:54] janvorli opened #25638 "Alpine Linux hierarchy chain is incorrect"
In https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtimeGroups.props, the alpine linux has incorrect parent "any" instead of "unix".

[2017-12-01 21:54] wsnell commented on #9503
Honestly I don’t care if some features are missing (that is better than nothing).  Let’s simply add support for Win7 as a managed code and by checking platform, upgrade to a system provided solution on win8+, etc.  This is much better than not all that great third party solutions that also have licensing issues for many people.
Thanks
-Wes

From: David Shulman [mailto:notifications@github.com]
Sen

[2017-12-01 21:57] weshaggard commented on #9503
Given that in 2.0 this ships in the shared framework instead of an individual library package it will be tricky to have a win7 and win10 specific implementation because we only produce one shared framework for windows which is the portable win one. I don't think we want to complicate everything else consuming the .NET Core shared framework on windows to not start shipping 2 just for this library s

[2017-12-01 21:59] davidsh commented on #9503
It might not be using it right now since we have the other issue with ClientWebSocketOptions not being implemented.  But adding that code would simply use the built-in mechanisms for proxy and HTTP auth for the Windows platforms.

I suppose in the scheme of things it might not matter.  If someone wants to do an experiment with removing the WinHTTP version for Windows and simply using the managed W

[2017-12-01 22:00] davidsh commented on #9503
Ship a win7 and win10 specific .NET Core shared framework.
Start shipping the library package again.
Use the same IL only implementation on all windows .NET Core platforms (we can still have a different one for UWP).
Ship one library on windows and do runtime detection to chose the right implementation
I don't think we want option (1) and option (2) will have various complications and folks will h

[2017-12-01 22:01] weshaggard commented on #15615
Actually scratch that I think the issue there is you cannot build the native assets for linux on a windows machine and the package projects are trying to find the native assets. We would need to disable that part of the package build to get a clean build.

[2017-12-01 22:04] stephentoub commented on #9503
FWIW, that's a very easy experiment to do.  The src .csproj contains this:
[code]
By changing it to:
[code]
and rebuilding, then running the tests, I get:
[code]
Those two failures are due to this assert:
https://github.com/dotnet/corefx/blob/9a2e5d8f0e7f816f983bce75f5bba22811df4994/src/System.Net.WebSockets.Client/tests/SendReceiveTest.cs#L477
which is validating a WinHTTP error code, so obviousl

[2017-12-01 22:10] ayende commented on #23938
@karelz I can send the PR, yes, will be here soon

[2017-12-01 22:10] mattzink commented on #21577
The API proposal would depend very much on the final API that's used in SSLStream, so I'll hold off until that is settled.

[2017-12-01 22:11] beyon commented on #25632
I can see what I can do when I get the time.

Still same code, paths, xml  different results same machine .Net core vs. .Net framework.
Seems very strange that the xml parser would pick up an external entity with the given xml (unless it's trying to pick up some default dtd from somewhere in the sytem when non is provided?)

[2017-12-01 22:11] davidsh commented on #9503
Ok.  Well, then it looks like the fix for this issue is to simply dump the WinHTTP version and use the managed WebSockets.Client implementation everywhere except UWP.  Then as we add features for supporting ClientWebSocketOptions, we'll need to add platform-specific code to handle HTTP auth (at least for the hard stuff like Negotiate and NTLM) and proxy detection logic.

I'm not opposed to you doi

[2017-12-01 22:11] Drawaes commented on #24588
OpenSsl for sure, SChannel... pretty sure, secure transport no idea.

There is no single "RFC" for cipher strings which is a bit of a pain. But there is an IANA registry which tends to follow a single pattern (for the most part).

https://tools.ietf.org/html/rfc5246#appendix-D.3

https://www.iana.org/assignments/tls-parameters/tls-parameters.xhtml

[2017-12-01 22:11] stephentoub opened #25639 "IOControl_SIOCATMARK_Success test not working on macOS/Windows"
The new IOControl_SIOCATMARK_Success is failing on macOS.  Needs investigation to understand whether it's a test issue (e.g. a subtle behavioral difference between unix implementations) or something deeper.

[2017-12-01 22:15] stephentoub commented on #15615
Thanks, Wes.

[2017-12-01 22:22] wfurt opened #25640 "[ManagedHandler] ProxySetViaEnvironmentVariable_DefaultProxyCredentialsUsed test disabled"
This may not be specific to ManagedHandler. We are disabling them for now to reduce noise for 2.1.

ProxySetViaEnvironmentVariable_DefaultProxyCredentialsUsed:
failing sometimes on Windows (this used to be Unix test only)

12 failures so far in November.

[2017-12-01 22:49] stephentoub commented on #24977
It doesn't, at least not explicitly, i.e. there's no SecurityContext stored on the ExecutionContext as there is in netfx.  But (and I didn't realize this was already done, hence my earlier comment), it appears it's trying to simulate it using AsyncLocal, similar to what I suggested earlier:
https://github.com/dotnet/corefx/blob/9a2e5d8f0e7f816f983bce75f5bba22811df4994/src/System.Security.Principal

[2017-12-01 22:54] Priya91 commented on #24553
@Drawaes Currently we only take a server certificate from the user for sslstream as server, and the underlying stacks collect the chains from the respective stores. In case of openssl, it has it's own store, on windows everything is there in a single location. Do any of these native stacks provide knobs to also configure the cert chain? My question is by having the sni return chain information, wh

[2017-12-01 23:03] stephentoub commented on #25443
I'd need to think about it in more depth, but on the surface it seems reasonable.

[2017-12-01 23:03] danmosemsft commented on #24823
I am going to nominally estimate 15 given the data above of 1 week for perf, plus code review, stress testing, applying feedback and some other dialable items. Feel free to change.

[2017-12-01 23:05] beyon commented on #25632
Do you mean something like this?

[code]
This still fails for the umlaut path for me (```XDocument.Load( fileWithUmlautPath)```)

[2017-12-01 23:11] danmosemsft commented on #14529
https://github.com/dotnet/corefx/pull/25169

[2017-12-01 23:13] danmosemsft commented on #25378
I'm going to estimate quite large as I imagine there will be many failures to go through and understand.

[2017-12-01 23:16] danmosemsft commented on #25380
I'm going to timebox this at 10 days for starts.

[2017-12-01 23:18] danmosemsft commented on #3253
Per discussion with @ianhays a conservative estimate for all this is 5 weeks, if it was forward only that would be less time.

[2017-12-01 23:19] danmosemsft commented on #24745
Need to talk to @GrabYourPitchforks

[2017-12-01 23:20] qmfrederik commented on #5120
@stephentoub Yes, I think that validation condition needs tweaking. At least in my case, `subprotocolEnumerableValues` contained one empty string.

Changing the condition to:
[code]

worked for me.

In other news, I got the managed implementation to work on Windows - thanks all who helped me, greatly appreciated! I'll keep you posted.

[2017-12-01 23:25] stephentoub commented on #5120
Excellent.

[2017-12-01 23:25] danmosemsft commented on #7023
@bartonjs estimates 4 weeks remaining

[2017-12-01 23:26] danmosemsft commented on #16364
@bartonjs estimates 3 days remaining

[2017-12-01 23:26] danmosemsft commented on #20414
@bartonjs estimates 1 week remaining

[2017-12-01 23:26] danmosemsft commented on #22068
@bartonjs estimates 1 week remaining

[2017-12-01 23:26] danmosemsft commented on #3334
@bartonjs estimates 4 weeks remaining

[2017-12-01 23:26] danmosemsft commented on #8158
@bartonjs estimates 2 weeks remaining

[2017-12-01 23:26] danmosemsft commented on #24524
@bartonjs estimates 3 weeks remaining

[2017-12-01 23:26] danmosemsft commented on #14197
@bartonjs estimates 1 week remaining

[2017-12-01 23:26] danmosemsft commented on #21833
@bartonjs estimates 1 week remaining

[2017-12-01 23:32] danmosemsft commented on #25384
@jnm2 @KSYMEK @iamcarbon since you thumbed this up, any of you interested in sketching out what the shape of this might be?  If it's new API, a proposal following the [API review process ](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) perhaps?
Note we don't yet have the ability to ship something out of CoreFX that depends on Mono.Posix. So it would

[2017-12-01 23:34] wsnell commented on #9503
I was actually proposing #4.

From: Wes Haggard [mailto:notifications@github.com]
Sent: Friday, December 01, 2017 1:58 PM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Wesley Snell <wsnell@qti.qualcomm.com>; Comment <comment@noreply.github.com>
Subject: Re: [dotnet/corefx] Use managed WebSockets implementation on Windows 7? (#9503)

Given that in 2.0 this ships in the shared framework instead

[2017-12-01 23:41] Drawaes commented on #24553
OpenSsl has
'''
int SSL_CTX_set0_chain(SSL_CTX *ctx, STACK_OF(X509) *sk);
'''

[2017-12-01 23:49] krwq opened #25647 "Position in the input stream is always end after decompression"
On desktop when you run decompression the position in the input stream is a first position after compressed data aligned to the input buffer while on Core we always read stream until the end.

Problem is in here: https://github.com/dotnet/corefx/blob/master/src/System.IO.Compression/src/System/IO/Compression/DeflateZLib/Inflater.cs#L42

We should not be checking for `AvailIn == 0` and `AvailOut ==

[2017-12-01 23:53] Priya91 commented on #24588
I just looked at the online msdn documentation for Schannel, they provide a list of cipher strings and the priority order that the schannel cipher provider picks by default for each windows OS Version, but I couldn't get data on how it's can be configured. @davidsh Can you look into this?

For openssl, there's an api called, ```SSL_CTX_set_cipher_list``` which just takes in a control string, and h

[2017-12-01 23:57] ahsonkhan commented on #25249
SignalR does not currently depend on this. Moving the issue to future  and removing it from the parent epic.

[2017-12-01 23:58] danmosemsft commented on #25121
@joshfree would you like someone on my team to have a quick look in case this is easy?

[2017-12-01 23:59] danmosemsft commented on #25384
cc @eerhardt since he originally identified this need.

[2017-12-02 00:10] bartonjs commented on #24588
I'm a fan of being fairly transparent, given that standard identifiers exist.

https://github.com/dotnet/corefx/blob/1f30ed083ecb9a09bc8c3bbc28f19c13c020a36c/src/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.Ssl.cs#L46

That's "their name from an RFC, and their value from that RFC".  Maybe it would need to be prettied up / whittled down; but it seems good to me.  Then th

[2017-12-02 00:10] Priya91 commented on #24553
Ok sounds good, can you also confirm how it works with Schannel and SecureTransport..

[2017-12-02 00:19] Drawaes commented on #24588
Yeah I would go with an enum list, and then you can also give a platform not supported error quickly :)

Another note, TLS isn't all 4 part

TLS_RSA_WITH_AES_256_GCM_SHA384
TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384

So even TLS ones are sometimes "Key Exchange"_"Cert Key Type"_"Bulk Cipher"_"Hash"
and other times there is no key exchange (if it matches the cert key type).

In a word, its messy so an e

[2017-12-02 00:32] davidsh commented on #24588
SCHANNEL uses registry keys primarily to set this.  And it can be done via Windows Group Policy.

https://docs.microsoft.com/en-us/windows-server/security/tls/tls-registry-settings

https://docs.microsoft.com/en-us/windows-server/security/tls/manage-tls#configuring-tls-cipher-suite-order

I'm not sure there is a way to do it via APIs in SCHANNEL.  But you could ask Andrei offline about this.

[2017-12-02 00:32] aluanhaddad commented on #24447
Seems like something that would warrant discussion at the programming language level as well. It sounds rather like Scala's implicits, a vaguely first-class notion of ambient context.

[2017-12-02 00:33] davidsh commented on #25289
Re-opening for porting to release/2.0.x branch.

[2017-12-02 00:34] davidsh commented on #25289
@rmkerr Please submit a PR and associated shiproom email for a release/2.0.0 port of this fix.

[2017-12-02 00:38] danmosemsft commented on #11473
@Peperud @benaadams any interest in taking this further? It looks like we're ahead of Java in all scenarios now except Regex-redux (which @ViktorHofer is tackling) and k-nucleotide. This is with 2.0.3 not with latest bits. I am not sure what k-nucleotide needs to improve it.

We have obtained a machine that is a replica of the old Kentsfield hardware that the benchmark game uses. It has dramatical

[2017-12-02 00:39] tannergooding commented on #23519
I have the initial PR up (https://github.com/dotnet/coreclr/pull/15341) and left some notes on some potential issues with the existing APIs that have already been added (from https://github.com/dotnet/corefx/issues/22940)

[2017-12-02 00:40] ahsonkhan opened #25648 "Remove use of Unsafe in the UTF-8 formatter"
Just like the parsers, the formatters should not be using unsafe code.
[This](https://github.com/dotnet/corefx/pull/25424) PR removes the use of unsafe code from the default integer formatter. We need to remove it from all the places.
See https://github.com/dotnet/corefx/pull/25424#discussion_r152992177 for more context.

cc @KrzysztofCwalina, @jkotas, @AtsushiKan, @morganbr, @GrabYourPitchforks

[2017-12-02 01:04] ianhays commented on #24826
# Design

- [X] Design the API for the non-allocating API
- [X] Design the API for BrotliStream
- [ ] Get final approval from LCA and add any required attributions
- [ ] Submit issue against CoreFX with API proposal for BrotliStream and Brotli

# Unit Testing

- [X] Abstract out the DeflateStream/GZipStream unit tests to be usable for any compression algorithm+
- [X] Add tests for any missing code

[2017-12-02 01:08] NickCraver commented on #11836
We have for many years in our web tier, but this isn't the default .NET behavior and these happening were in a section of code that doesn't respect the `web.config` setting (e.g. `defaultRegexMatchTimeout="00:00:20"`). I gave feedback on making this easier for developers, but ultimately others didn't agree: https://github.com/dotnet/corefx/issues/15173

In my opinion the lack of a intuitive way to

[2017-12-02 01:13] safern commented on #24488
Hey @CarlosOnline  and @avantidesaigit [here is a sample project](https://github.com/safern/directoryservicessample) that contains a .NET Framework Library that uses System.DirectoryServices.AccountManagement and a .NET Core 2.0 App that has a project reference to the .NET Framework Library and calls the API that uses AccountManagement.

The .NET Core 2.0 App needs to have the `PackageReference` t

[2017-12-02 01:17] benaadams commented on #11473
[code]

Wonder if there is any scope to crossgen and move the Jit timing out of the run time; or if R2R would hurt perf?

[2017-12-02 01:24] Drawaes commented on #24588
So SChannel is murky, with really really old documentation but it looks like there are ALG_ID's (you can build a specific allowed cipher suite from the flags)

[code]

They are in WinCrypt.h

Next in SCHANNEL when you make the SCHANNEL_CRED at the start you can specify an array of these with the fields

[code]

So I believe it is possible, but as you say you have internal people that can help (and

[2017-12-02 02:02] maurocolella commented on #25633
I am very interested @wfurt. Long story made short, these applications run tasks related to blockchain. A growing trend, hence increasing security requirements as well. With all respect due to solutions like `Docker`, I am a huge believer in FreeBSD's jail system.

[2017-12-02 02:08] danmosemsft commented on #25632
Does this simply have the same cause as  #25519  mentioned? Would be surprising if there was a bug in Uri and in Xml.

[2017-12-02 02:10] iamcarbon commented on #25384
Perhaps something like:

[code]

[2017-12-02 02:40] John0King commented on #21568
Current `HttpClient` might  bad for concurrent , it use `lock` before sending the request , and the reason is that it's instance behaviour `.BaseAddress` and `.DefaultRequestHeader` is not thread safe for static behaviour .   I don't think an instance act like static is good .

and for the solution :  use an static instance .   the problem is  there no way to share the instance across various pack

[2017-12-02 07:27] jkotas opened #25650 "We need a cross-platform way to detect key-down state"
_From @masonwheeler on July 1, 2015 14:48_

Right now, if you want to answer the question "Is <insert key here> on the keyboard currently down?", you do it with a PInvoke call to `GetAsyncKeyState`.  Problem is, that will only work for winapi-based platforms.  There should be a cross-platform solution for this, and ISTM it's low-level enough that it belongs in CoreCLR and not CoreFX.  Feel free to

[2017-12-02 07:27] jkotas commented on #25650
_From @OtherCrashOverride on July 2, 2015 0:5_

Actually, it doesn't belong in either.

While on the surface it may seem trivial, you have to take into consideration the design of a console.  A console is associated with a character device.  A character device, as its name implies, reads and writes characters.  These characters may source from keyboard, but they may also source from a file and out

[2017-12-02 07:27] jkotas commented on #25650
_From @masonwheeler on July 2, 2015 2:0_

@OtherCrashOverride  You seem to be misunderstanding what I'm looking for, especially if you're bringing up SDL.  I know what SDL has to offer--I'm a contributor to the project, in fact--and it looks like you're talking about _text input_ and _events_ and all sorts of complicated stuff along those lines.  You're right; that belongs elsewhere, most likely i

[2017-12-02 07:27] jkotas commented on #25650
_From @OtherCrashOverride on July 2, 2015 2:21_

I don't believe I have misunderstood the request: Provide an API call for 'IsKeyPressed'.  The verboseness of my response was intended to add more than just "no, this does not belong".  I was attempting to illustrate that character devices do not provide the service requested.  The Windowing or other Session environment does.  Even on a Linux plain

[2017-12-02 07:27] jkotas commented on #25650
_From @OtherCrashOverride on July 2, 2015 2:36_

Trying to find a better way to communicate this...

While this API would always work on Windows.  It may or may not work on OSX, Linux and FreeBSD.  The reason being is that a 'command prompt' may not be driven by a keyboard.  In cases such as SSH, the terminal does not send keyup/keydown events.  Things like KeyRepeat rate are set at the client, no

[2017-12-02 07:27] jkotas commented on #25650
_From @davidfowl on July 2, 2015 2:49_

Doesn't seem like a coreclr thing.

[2017-12-02 07:27] jkotas commented on #25650
_From @masonwheeler on July 2, 2015 10:55_

@OtherCrashOverride How is this any different from the current state of things on Windows systems, which could just as easily be a server running over Telnet or RDP?  If there's no physical input available, then you return `false`.

[2017-12-02 07:27] jkotas commented on #25650
_From @OtherCrashOverride on July 2, 2015 15:27_

I think the expectation here is that since there is a single API call on Windows, there is a single API call on all other platforms.  The point I have been trying to make is that with Linux, this is not the case.

http://stackoverflow.com/questions/7645058/linux-analog-to-windows-getasynckeystate

The proposed fgetc_unocked would result in polling

[2017-12-02 08:52] jkotas opened #25651 "Enable Resgen to be .NET Core API surface compliant"
_From @gkhanna79 on November 10, 2015 21:31_

Resgen, today, emits code that assumes Desktop API surface. For .NET Core based applications, it needs to be compliant with .NET Core API surface.

_Copied from original issue: dotnet/coreclr#2007_

[2017-12-02 08:52] jkotas commented on #25651
_From @gkhanna79 on January 13, 2016 0:44_

This will be done by https://github.com/dotnet/cli/issues/819.

[2017-12-02 08:52] jkotas commented on #25651
Moved wrong issue.

[2017-12-02 08:52] #25651 closed

[2017-12-02 08:53] jkotas opened #25652 "System.Diagnostics.Process.GetProcesses and System.Diagnostics.ProcessModule"
_From @diamondes3 on August 11, 2017 18:47_

I'm creating a program that needs to get a list of currently executing processes in memory and take action to kill a given process, if it's a different instance of the same (currently executing program) that has become hung for some reason; where I have a criteria based on start time to declare a given process as being hung.  This logic is being develop

[2017-12-02 08:53] jkotas commented on #25652
_From @benaadams on August 11, 2017 21:40_

Maybe add to: https://github.com/dotnet/core-setup/issues/2007

[2017-12-02 08:53] jkotas commented on #25652
_From @diamondes3 on August 11, 2017 22:0_

That'd be fine. It's a bit of an add on to #2007 if you try to solve the
module issue.

If you solve the issue in #2007, I think that would suffice for what I'm
describing, unless you find there is some logic issue within the code that
is exposing the attributes of the modules.

On Fri, Aug 11, 2017 at 16:40 Ben Adams <notifications@github.com> wrote:

[2017-12-02 08:55] jkotas commented on #25652
Dup of https://github.com/dotnet/corefx/issues/23972 ?

[2017-12-02 10:00] ebekker commented on #21833
Awesome!  Reader only or does that also include serialization?

[2017-12-02 10:59] Drawaes commented on #24553
I know nothing about osx, and if I get time I will look through the windows sdk, but again the documentation on MSDN for that is subpar... (like really old)

[2017-12-02 11:08] Drawaes commented on #24553
Here you go looks like OSX can take a single certificate or a chain with the "main" certificate being the first item in the array if you are sending a chain, it seems to imply that it will lookup the "store" only if the chain isn't provided (I assume that is the way its used today)

https://developer.apple.com/documentation/security/1392400-sslsetcertificate

[2017-12-02 11:23] Drawaes commented on #24553
SChannel seems to take an array of certs as well, but it appears that each is a "separate" end certificate and its not for the "chain", but I can't be 100% sure.

But then the way you load the certificate into the temporary store, I would image you need to load the chain inbehind them. So it won't be as pretty as OSX or OpenSSL but it should be doable

[2017-12-02 12:59] masonwheeler commented on #25650
@jkotas This really isn't a `System.Console` request.  If you want to do console input, that's already got plenty of APIs for it.  What I'm looking for is *keyboard state*; the intended use case is for gaming.

[2017-12-02 13:20] stephentoub commented on #25336
This is almost done.  What remains is to change its `string format` parameter to `ReadOnlySpan<char> format` once https://github.com/dotnet/corefx/pull/25538 is merged.

[2017-12-02 14:21] svick opened #25653 "XmlReader.Read with Async settings should not throw AggregateException"
Consider the following code:

[code]

Assuming the file `a` doesn't exist, this code is expected to throw `FileNotFoundException`. .Net Core 1.x does exactly that. But .Net Core 2.x and .Net Framework 4.x don't, they throw the exception wrapped in `AggreagteException`:

[code]

I think that `XmlReader.Read()` should not throw `AggregateException`, even though `Async` is set in the settings.

The c

[2017-12-02 14:23] svick commented on #25632
I can reproduce this. In my case, the file doesn't actually exist, so this can't possibly be related to its contents. Interestingly, on .Net Core 2.1 Preview, the exception message is more informative:

[code]

[2017-12-02 14:32] stephentoub commented on #25653
Yup

[2017-12-02 14:49] DaveRandom commented on #24588
There are typically 2 things that people want to do, in my experience;

1) Specify a set of cipher suites in priority order, where every property for each cipher suite is specified explicitly, and there is a specific priority order
2) Disallow/require certain values for individual properties

OpenSSL's cipher string format allows for both of these things and a combination of the two - specifying p

[2017-12-02 15:12] magol opened #25654 "Overload to String.Replace that can take multiple strings to replace"
Sometime I want to replace multiple texts from a string, and the code become something like this:

[code]

Of course, I can use `Regex `for such situations, but it feels a bit unnecessarily complicated for such a common case.

I suggest to create an overload to String.Replace with following signature:

[code]

Whit this, I can rerwite the example to following:
[code]

[2017-12-02 15:55] jkotas commented on #25650
`System.Console` has stuff related to keyboard, e.g. `ConsoleKey` enum, `Console.NumberLock`. If this belongs anywhere in CoreCLR/CoreFX repos, it is `area-System.Console`.

[2017-12-02 16:19] stephentoub commented on #23485
Fixed by https://github.com/dotnet/corefx/pull/25646

[2017-12-02 16:20] #23485 closed

[2017-12-02 16:32] JonHanna commented on #25654
It's worth noting that the most obvious regex based solution does not have the same behaviour.

[code]

Though I think the second is what I would expect from such an API; that it replaces each occurrence in the original string, rather than it replaces them in the order given. I'd be interested in what others would expect from the signature alone.

[2017-12-02 17:26] jnm2 commented on #25654
I would most definitely not expect an iterative result which allows one replacement to affect another.

[2017-12-02 17:27] Drawaes commented on #24588
So you basically described something similar to what I have in my demo managed TLS implementation at

https://github.com/Drawaes/Leto/blob/master/src/Leto/CipherSuites/CipherSuite.cs

[2017-12-02 17:39] karelz commented on #25653
@svick do you want to submit PR?

[2017-12-02 17:43] JonHanna commented on #25654
If we had the non-iterative version, would we gain much from having it? Both versions can be done in one line, so it isn't removing much of a coding burden, but constructing the regex is a bit heavy (though cacheable if in a hot path). http://webglimpse.net/pubs/TR94-17.pdf looks promising if there's sufficient need.

[2017-12-02 17:47] jnm2 commented on #25654
I've been doing the regex-escape-join version, thinking it would be hard to beat performance-wise when compiled. I don't know. I write a helper method for it but do I need to?

[2017-12-02 18:02] bartonjs commented on #21833
@ebekker The "one week remaining" is for the reader+writer and the serializer+deserializer; all as internal API only.  For becoming public it looks like:

* Be able to read BER tags.  That's easy, right? Just one byte and a bitmask.
  * Nah, ~80 lines of code and ~160 lines of test.
* BER lengths
  * Another 150 loc.
* Foreach tag in the universal class
  * Write tests for it
    * Would you belie

[2017-12-02 18:02] jnm2 commented on #25653
Corefx should consume an analyzer that flags all uses of `Task.Wait`. 😈

[2017-12-02 19:02] Giorgi commented on #1081
@wtgodbe As @Priya91 has said in her comment addressing @terrajobst concerns isn't possible without introducing breaking change so I don't think there is any other way.

[2017-12-02 19:17] weitzhandler opened #25655 "Please add RememberMe to NetworkCredentials"
### Suggestion

Would be nice to have a `RemeberMe` property in the `NetworkCredentials` class, to make it easier to use as a standard username and password DTO unit.

### Proposed API

Add a `bool` or `bool?` property named `RememberMe` to the `NetworkCredential` class, to make it easier to attach this piece of info with the request.

### Motive

In the client side it will make it easier to use t

[2017-12-02 19:43] akoeplinger commented on #24826
@ianhays so does this mean you decided on using a native brotli lib instead of a managed implementation?

[2017-12-02 19:48] FSou1 commented on #25495
I suspect that an issue in these lines of code:
https://github.com/dotnet/corefx/blob/03c7617170661e1312f6ae414225ef72ea792170/src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/Validator.cs#L432-L440
The variable `results` could be null and in this case I propose to skip a loop with adding `if(results != null)` condition.

If it's a proper way from your point of view

[2017-12-02 19:49] jeremyVignelles commented on #25267
Hi,
I have exactly the same issue on .net framework 4.7.
After digging a little with dotPeek, I found that the code executed in `GetArchitecture` was not the same code as present in this repository.

The parameter `int dwOemId` is taken as input. By debugging, I see `0` in case of X86 and `9` in case of X64.
Then, the code runs `ushort num = (ushort)(dwOemId >> 16);`, which turns my 9 into a 0, ca

[2017-12-02 19:50] karelz commented on #25654
It seems that the key motivation for the API is convenience, not performance.
I am not sure if it is so common case to justify adding a new API. The for-cycle seems to be reasonable workaround/solution.

[2017-12-02 19:54] karelz commented on #25655
What should it do? Your PR exposes just a field for RW. Why cannot be stored outside of the
Please do not submit PRs for new APIs, until they are approved. Also, please fill the [formal API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) first with API shape, example, motivation, etc.

[2017-12-02 20:07] JonHanna commented on #25655
I don't think such a field belongs there.

A network credential identifies an agent and offers proof that they are who they claim to be, which preferences don't fit naturally *in* though they sometimes do fit *beside* that.

Indeed the whole point of "remember me" is to not need to use the credentials.

[2017-12-02 20:08] weitzhandler commented on #25655
I merely requested this for convenience, so we can use the `NetworkCredential` as a general credentials DTO.

[2017-12-02 20:27] JonHanna commented on #25655
I don't see why the handling of "is this someone I know" would care whether someone wants to later bypass that. I don't see why the credential needn't be opaque to the handling of setting that if they are use a different authentication (how ever the "remembering" is implemented) scheme next time.

I'm not sure what type would be best for this either. `TimeSpan` seems reasonable (`Zero` for don't r

[2017-12-02 20:46] JonHanna opened #25657 "Should performance tests be included in coverage reports?"
Currently they are, but I can see some downsides.

1. Running in debug with the overhead of coverage being tracked doesn't give a good performance test (lack of optimisations aside, it could be measuring the time of a debug-only "validate all items in collection" method).
2. They can be among the more long-running tests (System.Memory.Performance.Tests took over 23 minutes today) and the coverage

[2017-12-02 21:52] stephentoub commented on #25657
Aren't they only run in Outerloop with a single iteration, rather than hundreds as is done when they're actually used for perf?

And that's because of the perf tests?

[2017-12-02 22:14] JonHanna commented on #25657
TIL. That definitely reduces that part of my scepticism. I'm still wondering about the value of coverage from performance tests combined with coverage from correctness tests.

[2017-12-02 22:18] akoeplinger commented on #25378
When you say "CoreFX netstandard tests" which ones do you mean?

[2017-12-02 23:25] stephentoub commented on #25657
a) Do you have evidence that the perf tests make any measurable impact on what shows as covered vs not?

b) Tests that don't assert anything can still have value, in that they demonstrate that code that's expected to run successfully does so.

[2017-12-02 23:26] JonHanna commented on #25657
b) has convinced me.

[2017-12-02 23:26] #25657 closed

[2017-12-03 00:39] juepiezhongren opened #25659 "Please consider ReusableTask and ReusableValueTask"
What makes reference type important is its reusability, but Task as a reference type is not designed to be reused.
Considering REST Api or RPC, the most frequent functions are to be called millions of times from Internet requests, if task or valueTask would be able to be reused, the time for heap allocation or stack initialization(deep copy does cost time) could be saved at somewhat degree.
Reusab

[2017-12-03 01:03] svick commented on #25659
1. The common wisdom is that a remote request takes a fairly long time, so adding to that the time required for GC of the `Task` will not affect the overall performance much. Are you sure a reusable `Task` would help you? If you have data showing that, could you share it?
2. You can write your own reusable awaitable, [Stephen Toub has an article describing how to do that](https://blogs.msdn.micros

[2017-12-03 01:22] juepiezhongren commented on #25659
@svick, it's not about task's death(GC),it's about its birth, allocating consumes resources. The hint is out of golang's goroutine vs .net's task comparison, where goroutine is reusable and bring some benefits.

[2017-12-03 01:36] svick commented on #25659
Sure, but do you have anything showing it's a significant amount of resources? Everything consumes resources, and almost everything could consume less resources. The question is, what do you have to pay for that, in terms of programmer time, code complexity, increased API surface and tradeoffs?

Can you describe and ideally quantify what benefits are those?

As for Go's channels, .Net types that a

[2017-12-03 01:45] 4creators commented on #25654
IMO it would be extremely useful to have multisearch algo implemented and available in several string functions: IndexOf, Contains, Replace. I have had implemented many times code which needed fast string matching functionality and string functions matching has benn always beating compiled regex on desktop.

[2017-12-03 02:23] danmosemsft commented on #25384
Thanks @iamcarbon that's a start, I'm assuming there's more needed. For example I'm looking at the [Python interface](https://www.python.org/dev/peps/pep-3143) and it has API for setting current directory, user/group ID, signal handling, input/output streams, ...
I have not written a Unix daemon so which is why community collaboration on the interface is welcome here.

[2017-12-03 03:28] tannergooding commented on #25380
One such issue: https://github.com/dotnet/coreclr/issues/9373

[2017-12-03 08:04] davidfowl commented on #15687
Updated with a more thorough proposal

[2017-12-03 08:13] weitzhandler commented on #10752
@karelz
I've started working on a [PR](https://github.com/dotnet/corefx/compare/master...weitzhandler:observable-range-collection) in the past, I'm unable to run the tests, the methods I added to the `ObservableCollections` class are not discovered by the tests project, I can't build the project.
What am I missing?

[2017-12-03 08:21] FSou1 commented on #25335
I think it's closed.

[2017-12-03 09:34] FSou1 commented on #21825
Probably it's a good candidate to start:
[code]
I propose to extend it with the parsed value: `String '{0}' was not recognized as a valid DateTime`.

1. Have you got any concerns about backward compatibility based on exceptions messages?
2. Are there any unit tests with `DateTime.ParseExact` coverage?

[2017-12-03 10:38] Thaina commented on #25480
@JonHanna Thanks for your information

Pardon me again but I would like to know that, which version that the expression tree was implemented the interpreter route?. Because the API to select interpreter was there at 4.7.1 but it seem the interpreter actually there before that

[2017-12-03 12:10] pasikarkkainen commented on #24843
I don't think those ports of the Novell LDAP c# .NET library are included in the Linux distros or macOS.

So the library would have to be added/included to .NET Core, so that it can be then utilized for Linux/macOS port of System.DirectoryServices.Protocols. Is that possible?

To answer the "Is that the only option out there? Is that the best option? Why?" -part.. the better alternative would be i

[2017-12-03 12:53] deni35 opened #25660 "Overload to Regex.Escape with RegexOptions.IgnorePatternWhitespace option"
By default Regex treats space character as literal i.e. it doesn't use RegexOptions.IgnorePatternWhitespace.
But Regex.Escape escapes space characters as if I use RegexOptions.IgnorePatternWhitespace. And there is no way to change it.

[2017-12-03 13:03] JonHanna commented on #25480
@Thaina it predates corefx, but originally you just got one or the other depending on whether the framework version was going to have IL generation or not. I **think** it started with a version of Silverlight, but am not remotely sure of that. Hopefully someone who was there for the closed-source part of the history will know.

[2017-12-03 14:05] stephentoub opened #25661 "ALPN tests failing on RedHat"
https://mc.dot.net/#/user/Drawaes/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/5e70fee9f1339db71f723caac7a85d55346c9a09/workItem/System.Net.Security.Tests/wilogs
[code]

[2017-12-03 14:08] stephentoub commented on #21825
No, tweaking exception messages is fine.

Yes:
https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/DateTimeTests.cs
https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/DateTimeTests.netcoreapp.cs

[2017-12-03 14:13] Thaina commented on #25480
@JonHanna Now I was arguing with unity people that, should unity latest version (support dotnet 3.5 and 4.6 experimental) can use `Expression.Compile` with the interpreter on AoT platform such as iOS and WebGL

On those platform they use AoT engine such as IL2CPP so it cannot do ILGeneration for sure. But will it just use interpreter is what I concern

[2017-12-03 14:38] gimpf commented on #14354
@morganbr Where would be an appropriate forum to discuss such an API? I expect that such an API would consist of more than just the lowest common denominator, and maybe a good API will also need an improved JIT w.r.t. handling of larger structs. Discussing all that might be better done in a separate issue...

[2017-12-03 14:43] stephentoub opened #25662 "Several System.Drawing.Common tests fail locally deterministically"
Maybe because I actually have a printer attached, or the specifics of the printer I have attached?  Regardless I should be able to run the tests locally and cleanly.
[code]

[2017-12-03 14:44] JonHanna opened #25663 "Soundness feedback requested: Increasing cache success in S.L.Expressions"
Expressions contains a `CanCache(Type)` method that reports on the safety of caching a delegate or information about a method based on whether the type is a mscrolib type that (if generic) has only mscorlib type parameters.

The netfx version allows not just mscorlib types to be considered safe, but also those in System.Core where the cache lives. While there aren't as many types in corefx's S.L.E

[2017-12-03 14:45] stephentoub opened #25664 "Several System.DirectoryServices tests fail locally and deterministically"
I get these failures deterministically when I run the System.DirectoryServices tests locally:
[code]
It prevents me from getting a clean build-tests run.

[2017-12-03 14:52] JonHanna commented on #25480
No better way to tell than just trying it! (Or dynamic, which uses expressions as it's first phase, then compile to get something it can run)

[2017-12-03 14:54] Thaina commented on #25480
@JonHanna I wish I could. Unfortunately I have no iOS device on my own. So I try to find as much information as I could to convince unity people to test it for me

[2017-12-03 15:32] jkotas commented on #25663
Would it be better to introduce a IsCollectible property on a Type instead, and use it here?

[2017-12-03 15:59] Giorgi commented on #1081
@terrajobst @mellinoe @stephentoub What if we add an extension method in Windows Compatibility Pack ?

[2017-12-03 16:57] AndyAyersMS commented on #25380
There are several more of these in CoreCLR. Let me know if you want them listed here or whether we're going to do similar tracking over there.

[2017-12-03 17:07] stephentoub opened #25665 "Many tests failing after path validation updates"
Search for `[ActiveIssue(25665)]` in the tests.

[2017-12-03 17:45] theunrepentantgeek commented on #25605
Adding a finalizer - of any kind - changes the way the GC treats the object.

Microsoft's own .NET programming guidelines *strongly recommend* not using finalizers unless really necessary. They also warn about the dangers of exception leakage from finalizers, the deleterious effects these will have, and that finalizers should never *ever* leak an exception.

Instead of generating an empty finalize

[2017-12-03 18:03] AceHack commented on #12034
Just like @suryapratap said, please don't forget coordinate system projections/transformations, there are many different spatial references identified by SRIDs that one would want to convert between.  Also when talking about anything spatial please look to the giants out there in this problem space and try to learn from them (Including their mistakes).  Like [ESRI ArgGIS .NET SDK](https://develope

[2017-12-03 18:15] AceHack commented on #12034
I would also like to point out that 3-dimensional spatial data is becoming (already) very important, especially in the industry I work in, Smart Cities and Smart Grid around Skyscrapers and Smart Buildings.  Really 4 dimensions given all the sensor measurements have a time element as well.  2D was okay for the technology of the past but with Hololens, Windows Mixed Reality, and all the User Interf

[2017-12-03 18:28] JonHanna commented on #25663
@jkotas I don't know how feasible the implementation of that would be, though it could likely bring many real-world uses of dynamic from near-zero up to 100%.

I'd still be interested in attempting the above in the meantime, since if my reasoning is correct then it would still be safe for S.L.Expressions to cache types from itself even if it had been loaded in a way that made its types collectible

[2017-12-03 18:33] JonHanna commented on #25663
(Also, if we could have `IsCollectible` and if `typeof(NonCollectibleGeneric<CollectibleTypeArgument).IsCollectible` was false, it would make the code easier. It's existence might also lead to it being discovered by people who would realise they should have used it to remove a memory leak they aren't aware they have. (Related: I'm not entirely easy with the way Microsoft.CSharp caches types it see

[2017-12-03 20:42] jamesqo opened #25666 "[Discussion] General purpose non-cryptographic hashing API for .NET"
Context from https://github.com/dotnet/corefx/issues/14354#issuecomment-348003785:

/cc @gimpf, @morganbr, @JonHanna

[2017-12-03 20:43] jamesqo commented on #14354
@gimpf Opened one for you. #25666

[2017-12-03 20:47] jamesqo commented on #21809
@karelz I don't think it makes sense to mark this as blocked. The compiler team has said that they are waiting on the type to be added before they will discuss it further... it's like an issue deadlock.

[2017-12-03 20:56] jamesqo commented on #17068
@jnm2 I personally find a direct cast to be enough; it throws an exception for you and gives you info about the object type/cast type. It doesn't give you the parameter name, but in most cases that info isn't necessary to determine where the error occurred, in my experience.

@JonHanna You make a good point about static analysis. The solution is to let the compiler specially recognize these valida

[2017-12-03 21:49] jnm2 commented on #17068
I prefer ArgumentException, whether it's a NRE, IndexOutOfRangeException, or InvalidCastException, or anything else. I just see it helpfulness in the same category as using my turn signal. But beyond that, there are actually cases where no exception should be thrown at all.

[2017-12-03 23:15] JonHanna commented on #25666
TBH, I cloned it, tried to publish, got MSB4062, said to myself "I'm probably building with the wrong version of dotnet and/or msbuild, I'll figure it out this weekend" and then forgot all about it :(

In terms of an API, the feedback I've gotten on SpookilySharp has mostly been people who liked it but didn't like the license (I changed it to MIT this weekend, but it had been EUPL for a long time)

[2017-12-03 23:21] JonHanna commented on #17068
We can't force non-nullability back on API users since it's opt-in and not supported by all languages (or language versions, for that matter). Indeed one could say if someone wants a non-null string they shouldn't be throwing on null strings in the first place.

In the case where null might be passed (because it's part of the public API) but is wrong, and hence will throw, we want to start with a

[2017-12-04 00:14] tarekgh commented on #25638
CC @weshaggard

who should look at this issue?

[2017-12-04 01:32] JonHanna commented on #25663
Looking at the history of the implementation, it had been in src/Common which would make the way netfx identified the assembly by looking for that of `typeof(Expression)` no longer valid, and I think that may be why it was dropped. I'm going to go ahead and make a PR, though I'll keep this open for a while in case anyone does see a danger.

[2017-12-04 01:51] mj1856 commented on #25110
After meeting with @tarekgh, we've decided to close this for now.  We will discuss this scenario as part of a larger effort, which may or may not involve a ZonedDateTime type.

[2017-12-04 01:51] #25110 closed

[2017-12-04 01:51] mj1856 commented on #25089
After meeting with @tarekgh, we've decided to close this for now.  We will discuss this scenario as part of a larger effort, which may or may not involve a ZonedDateTime type.

[2017-12-04 01:51] #25089 closed

[2017-12-04 01:53] gafter commented on #21809
I expect the compiler team to add the relevant language feature in the next release (minor or major) following the addition of this supporting attribute.

/cc @jcouv

[2017-12-04 02:25] withinoneyear commented on #11224
I wonder if it is still a problem in .net core 2.0? Do we still need to worry about the DNS update?

[2017-12-04 03:09] JonHanna commented on #25663
Scratch that. I looked into how one would implement such an `IsCollectible` and I can see how to get to it through reflection today. Thanks @jkotas

[2017-12-04 03:09] #25663 closed

[2017-12-04 03:11] KallDrexx commented on #11224
My understanding is that it isn't an issue with Dns itself, just that `HttpClient` will try to re-use existing connections (to prevent socket exhaustion), and thus even when DNS changes you are still connecting to the old server because you are going over the previous connection.

[2017-12-04 03:47] xenocons opened #25669 "[System.Memory] Embedded Reference Types compiler bug"
Code that was previously working (on 4.5.0-preview2-25707-02 , which seems to have disappeared!?) breaks on the latest preview: 4.5.0-preview1-26002-01, this is breaking deployment of new CI infrastructure as the working package is not obtainable. I have tried to hunt down the the issue, but it is beyond my understanding.

#### Repro steps

1. dotnet new console

2. dotnet add package System.Memor

[2017-12-04 03:58] benaadams commented on #25669
If you add to .csproj
[code]
e.g.
[code]
Does it fix it?

[2017-12-04 04:01] xenocons commented on #25669
hi @benaadams , it seems only 7.1 is available on my machine: `CSC : error CS1617: Invalid option '7.2' for /langversion; must be ISO-1, ISO-2, Default, Latest or a valid version in range 1 to 7.1.`

[2017-12-04 04:03] jkotas commented on #25669
cc @VSadov

[2017-12-04 04:07] xenocons commented on #25669
I went back to a version close to the preview2 version that I can no longer find, and I struck gold with `dotnet add package System.Memory -v 4.5.0-preview1-25730-02  -s https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json`, which seems to raise the obsolete message as a warning instead of an error (but now I am scared this will also get removed from the feed).

If someone confirmed fixed o

[2017-12-04 04:07] jkotas commented on #25663
Note that System.Linq.Expressions has direct access to CoreLib. It means that you can use CoreLib APIs that are not exposed in public contracts (yet). It is preferable to do it that way instead of private reflection.

[2017-12-04 04:11] JonHanna commented on #25663
@jkotas but `RuntimeType` is still internal, so

[code]

Gives the error I'd expect. Are you saying there's a way around that?

[2017-12-04 04:13] JonHanna opened #25671 "Add MemberInfo.IsCollectible & Assembly.IsCollectible"
We may wish to treat a collectible assembly or member info differently to a non-collectible. Most obviously, we might want to avoid caching a collectible type or method for a long time and preventing that possible collection. (`Type` has an `IsCollectible` method, but it is not exposed.)

Proposed API:

[code]

Note that collectibility of assemblies is not the only factor on collectibility of memb

[2017-12-04 04:40] xenocons commented on #25669
Update: I installed the latest Net Compilers using NuGet (or so I think, the versioning is jumbled)

[code]

[2017-12-04 04:56] withinoneyear commented on #11224
@KallDrexx , so it means it will still have issues for blue-green deployment?

[2017-12-04 06:39] jkotas commented on #25671
cc @AtsushiKan

[2017-12-04 07:13] hungquach commented on #25290
I've just found another way to remove `charset ` from `content-type `

[code]

[2017-12-04 07:16] scegg opened #25672 "Issue with Workaround: Missing compiler required member 'Microsoft.CSharp.RuntimeBinder.Binder.InvokeMember'"
Hi all.

Today, while I'm using Roslyn to compile some code under netcoreapp 2, I got such an error:
Missing compiler required member 'Microsoft.CSharp.RuntimeBinder.Binder.InvokeMember'

If you google this, it will point you to add Microsoft.CSharp as reference while calling Roslyn method. But sadly, it's done in my project.

After several hour digging and testing, I found the problem and solutio

[2017-12-04 07:36] tmds commented on #20731
I don't think there are any more actions for this in corefx.

I've created an issue in source-build to have a CI build that runs on an unknown RID: https://github.com/dotnet/source-build/issues/297.

[2017-12-04 07:36] #20731 closed

[2017-12-04 07:36] tmds commented on #6770
I don't think there are any more actions for this in corefx.

I've created an issue in source-build to have a CI build that runs on an unknown RID: https://github.com/dotnet/source-build/issues/297.

[2017-12-04 07:36] #6770 closed

[2017-12-04 07:40] juepiezhongren opened #25673 "Why ValueTask is much slower than Task?"
With code below, Task consumed 1433 ms while ValueTask consumed 3363 ms........
This is almost absurd.......
[code]

[2017-12-04 07:48] juepiezhongren commented on #25659
@svick ,consider the code below, which cost 15 seconds, where eache Task.Delay delayed 14 ms more than 1. That's too much, bro. If there is a ResuableTask.Delay, it is possible that only some thread switch delay could be added.
[code]

[2017-12-04 08:30] Sunny-pu commented on #23388
failed again in master:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171204.01/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.ServiceBaseTests~2FTestOnContinueBeforePause

[2017-12-04 08:33] willdean commented on #25659
@juepiezhongren `Task.Delay(1)` taking more than 1ms (e.g. 15ms) is nothing to do with processing overhead in the framework - it's just an effect of Windows scheduling granularity.  If you could travel back in time and run it on a single-core Win2000 machine it would take ~10ms, and if you really pushed back to Win98 then it would probably take 55ms.

As a rule of thumb, if you're looking for the

[2017-12-04 08:39] juepiezhongren commented on #25659
@willdean ，i do compare Task.Delay with thread.Sleep, while later cost around 5ms. So, not just system's business.

[2017-12-04 08:42] dotnet-mc-bot opened #25674 "Test failure: System.IO.Tests.DirectoryInfo_EnumerateFiles_str_str/SearchPatternByExtension"
Opened on behalf of @Sunny-pu

The test `System.IO.Tests.DirectoryInfo_EnumerateFiles_str_str/SearchPatternByExtension` has failed.

Assert.Equal() Failure\r
    Expected: 2\r
    Actual:   0

        Stack Trace:

           at System.IO.Tests.Directory_GetFileSystemEntries_str_str.SearchPatternByExtension() in E:\A\_work\965\s\corefx\src\System.IO.FileSystem\tests\Directory\GetFileSystemEntries_

[2017-12-04 08:52] mikedn commented on #25659
No, you do not. You are comparing the system timer resolution with the system's thread sleep resolution. It happens so that at least on Windows sleep can sometimes offer better resolution that timers.

[2017-12-04 08:53] dotnet-mc-bot opened #25675 "Test failure: System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests/RoundtripManyObjectsInOneStream"
Opened on behalf of @Sunny-pu

The test `System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests/RoundtripManyObjectsInOneStream` has failed.

System.Runtime.Serialization.SerializationException : The constructor to deserialize an object of type 'System.ComponentModel.Composition.CompositionContractMismatchException' was not found.\r
    ---- System.Runtime.Serialization.SerializationEx

[2017-12-04 08:54] Sunny-pu commented on #25675
Failed tests:
RoundtripManyObjectsInOneStream
ValidateAgainstBlobs
ValidateBasicObjectsRoundtrip

[2017-12-04 09:37] Sunny-pu commented on #21855
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/lastCompletedBuild/testReport/System.Net.Sockets.Tests/DualModeAcceptAsync/AcceptAsyncV4BoundToSpecificV4_Success/

[2017-12-04 10:58] MarcoRossignoli commented on #23748
@satano i'm waiting for System.Drawing, now i take System.IO.FileSystem.AccessControl.

[2017-12-04 12:24] stephentoub commented on #25673
Those aren't milliseconds, those are ticks, which are much, much smaller than milliseconds.

You're not timing what you think you're timing, e.g. you're including the time for the first invocation of each, which is going to incur more JIT'ing time for the ValueTask code paths.

Try something like this instead:
[code]
I get results like:
[code]

[2017-12-04 12:24] #25673 closed

[2017-12-04 12:24] kuhlschrank commented on #11639
I'm still having trouble with exactly the same scenario that @pedro-ramirez-suarez initially described. I use the same code.

My (executing) ASP.NET Core MVC assembly (assembly **A)** will load (at runtime) an assembly (assembly **B**) that references a nuget package (package **C**). A does NEITHER reference B NOR C.
I (dotnet) publish assembly A and assembly B and copy the contents of assembly B'

[2017-12-04 12:28] stephentoub opened #25676 "[Regression] Test failed: System.Net.Http.Functional.Tests.HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test / SetDelegate_ConnectionSucceeds"
## Types of failures

[code]

## History of failures

Lots of failures in CI:
* 12/2-12/18 - 58 failures (avg 3+/day) - see https://github.com/dotnet/corefx/issues/25676#issuecomment-353659053 for details on first failures on 12/2
* 12/19-1/5 - 44 failures (avg 2.5/day)
* 1/6-1/14 - 44 failures (avg 5/day)

Day | Build | OS | Details
--- | --- | --- | ---
1/3 | 20180103.03 | Fedora25 | [ManagedHan

[2017-12-04 12:34] omariom commented on #25673
This is my version:
[code]
Output:
[code]

[2017-12-04 12:35] omariom commented on #25673
Ah.. @stephentoub  already answered :)

[2017-12-04 13:22] MarcoRossignoli opened #25677 ""Don't directly throw Exception" System.IO.FileSystem.AccessControl"
Hi @JeremyKuhne, @pjanotti, i'm working on this #23748. I did some change on exception type [here](https://github.com/dotnet/corefx/compare/master...MarcoRossignoli:issue_23748_Filesystem), what do you think?

[2017-12-04 15:09] eerhardt commented on #23678
@mihaj - which NuGet package are you using?

[2017-12-04 15:26] eerhardt commented on #23496
Yes

[2017-12-04 15:41] bradphelan commented on #25334
We needed double as we need the precision for a CAD application so we wrote a port of System.Numerics.Vectors. Mostly just VIM macros replacing float with double everywhere. No SIMD support however.

https://github.com/Weingartner/System.Numerics.DoubleVectors
https://www.nuget.org/packages/System.DoubleNumerics/

[2017-12-04 15:52] mihaj commented on #23678
@eerhardt I am attaching a Emgu.CV.World.dll to the project. There is no Emgu Nuget (to my knowledge) that works with NET Core 2, that's why I tried with the DLL.

[2017-12-04 15:54] eerhardt commented on #23678
Oh, I was mislead by this comment:

Since you aren't using a NuGet package, you will need to add `<Reference` items in your .csproj for each assembly that `Emgu.CV.World.dll` references.

[2017-12-04 16:28] ajcvickers commented on #25495
@FSou1 Yes, that looks reasonable. It would be great if you could send a PR for this. Please also add a test.

[2017-12-04 16:31] genifycom commented on #12060
Well that is completely useless!

That means it is not possible to create a DotNet Core 1.0 application on AWS lambda that uses sockets since it is impossible to close them!

DotNet Core 1.0 is an LTS version and need to be fixed!

[2017-12-04 16:45] tmds commented on #25384
The 'regular' way a daemon starts is a process that does a (double) 'fork' and exits. The daemon itself is a child.
The parent process termination signals to the init process that it is 'ready'. That is, if it exposing some service, that service can be accessed (e.g. socket will be listening when the parent terminates).

If your system uses systemd, then you can get a long way already. systemd sup

[2017-12-04 16:46] karelz commented on #21809
@gafter if you can confirm the API shape fits Roslyn needs, we can unblock the API addition in 2.1.

[2017-12-04 16:50] JonHanna commented on #12060
@genifycom you can `Dispose()` it.

[2017-12-04 16:50] ianhays commented on #24826
Yes, though that does not preclude the eventual inclusion of a manged fallback. The primary drivers behind going the native route were:
- lower time to completion
- performance
- easier to update and take new fixes from google/brotli
- the hardest/most time consuming components of getting the native parts packaged are mostly already done because of zlib

I reasoned that because of the comparativel

[2017-12-04 17:04] karelz commented on #25672
Does the failure happen when you compiler your project?
How do you compile it? From command line or from Visual Studio?

[2017-12-04 17:07] karelz commented on #25676
@stephentoub it is ManagedHandler test. Do you know if it affects non-ManagedHandler tests as well?

[2017-12-04 17:08] scegg commented on #25672
Calling Roslyn Emit method, passing source code and references

[2017-12-04 17:09] karelz commented on #25677
@MarcoRossignoli if you don't have specific question, maybe creating a PR would be best way to get feedback? (given it is small change) ... If it is just sample of larger changes, then it makes sense to check first ...

[2017-12-04 17:10] karelz commented on #25672
It sounds like a question specific for Roslyn repo - can you move it there please?

[2017-12-04 17:11] genifycom commented on #12060
So this will clean up all the resources?

[2017-12-04 17:12] stephentoub commented on #25676
The issue is unrelated to ManagedHandler.

[2017-12-04 17:22] Drawaes commented on #25676
The issue is occurring because the Curl implementation and SslStream's use of OpenSsl seem to be interacting. They both share all data structures, which is horrible but is what it is ....

[2017-12-04 17:22] svick commented on #25653
@karelz Yes, I just did: https://github.com/dotnet/corefx/pull/25681.

[2017-12-04 17:27] karelz commented on #25653
@jnm2 is it something you would like to create PR for? ;)

[2017-12-04 17:30] danmosemsft commented on #25653
Sounds like this diverges from 4.x behavior. Is that acceptable?

[2017-12-04 17:33] #25337 closed

[2017-12-04 17:33] ebekker commented on #21833
Wow, thanks for the update.

[2017-12-04 17:35] danmosemsft commented on #25675
@ViktorHofer the deserialization constructor is there - is this a reflection issue -- if so we don't seem to include all our exceptions in rd.xml files (presumably with Serialize="true") so how does this work for them?

@maryamariyan

[2017-12-04 17:36] danmosemsft commented on #25664
@tarekgh

[2017-12-04 17:37] stephentoub commented on #25653
The netfx behavior is arguably a bug, if for no other reason than Read shouldn't throw a different exception type based on whether Async == false or true.  My suggestion is it be fixed in netfx as well (under quirk if necessary), and assuming we're ok with that change, fix it in core, too.

[2017-12-04 17:39] jcagme opened #25682 "'Implicit conversion loses integer precision' error"
Of the last 5 builds, 4 have failed with the following:

Links to these:

https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1190370
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1191223
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1191695
https://devdiv.visualstudio.com/DefaultCollection/Dev

[2017-12-04 17:44] JonHanna commented on #12060
Yup. `Close()` wraps some possible event stuff around using `Dipose()` for the actual socket closing anyway.

[2017-12-04 17:45] weshaggard commented on #25682
@stephentoub looks like it is caused by your recent changes.

[2017-12-04 17:47] weshaggard commented on #25682
Looks related to PR https://github.com/dotnet/corefx/pull/25579

[2017-12-04 17:47] stephentoub commented on #25682
Are we using a different compiler in those builds?  This is compiling just fine in PRs and rolling builds from master.

[2017-12-04 17:49] karelz commented on #24843
@pasikarkkainen we could make it external pre-req the same way we depend on OpenSsl and libcurl today.

[2017-12-04 17:53] weshaggard commented on #25682
That is a question for @dotnet/dnceng

[2017-12-04 17:54] janvorli commented on #25638
@tarekgh, I am going to fix it since it turned out it prevents a related fix in core-setup (https://www.github.com/dotnet/core-setup/issues/3483) from working.

[2017-12-04 17:59] markwilkie commented on #25682
There is a bit of a "mix" right now between dev15 and dev14  as we're moving to 2017.  @mmitche - what's the right way to determine which VSTS machines are which?

[2017-12-04 18:00] stephentoub commented on #25682
This is on Unix, though.

[2017-12-04 18:02] mmitche commented on #25682
Only 2015 should be in use for the official builds.  On Unix, the same docker containers should be being using in PR/Official.   This warrants investigation

[2017-12-04 18:04] markwilkie commented on #25682
@stephentoub - sigh....read this too fast.  I've not heard that we've updated compilers on those images recently.  But clearly, to your point - something is different.  @JohnTortugo - can you take a look please?

[2017-12-04 18:08] karelz commented on #18159
How is the proposal affected by [Nullable reference types in C#](https://blogs.msdn.microsoft.com/dotnet/2017/11/15/nullable-reference-types-in-csharp/) feature?

[2017-12-04 18:13] JohnTortugo commented on #25682
@markwilkie Sure, will do!

[2017-12-04 18:13] ViktorHofer commented on #25675
Argh right, I missed adding the assembly to .rd.xml. Thanks

[2017-12-04 18:14] cbuxbaum commented on #17412
Hi, I am looking to be able to set the flag CREATE_BREAKAWAY_FROM_JOB when I create the Process.  I need this so the Native Host when called from Firefox Native Messaging can spawn a Windows program that will continue to run after the Native Messaging Host ends:
 From the Firefox documentation:

On Windows, the browser puts the native application's process into a Job object, and kills the job. If

[2017-12-04 18:15] danmosemsft commented on #17126
Here's an updated list - some of them have been ported since. I just looked for "Sql":

### missing types (System.Data.Sql*)
[code]

### missing members
[code]

@saurabh500 is currently doing 2.1 planning so we should have more detail soon.

[2017-12-04 18:18] ViktorHofer commented on #25674
cc @JeremyKuhne

[2017-12-04 18:20] FSou1 commented on #25495
Great, I'll do it

[2017-12-04 18:23] sebastienros opened #25684 "build.cmd fails when only VS pre-release is installed"
On this line

https://github.com/dotnet/corefx/blob/master/run.cmd#L24

I only have VS2017 15.6 which is pre-release. `vswhere.exe` fails to list it as it now requires the `-prerelease` flag to list these versions. It then falls back to VS14 and fails to build binary assets.

[2017-12-04 18:25] MarcoRossignoli commented on #25677
ok @karelz i did this also for other part of issue(SqlClient), but i understand the point, thank you for your advice!

[2017-12-04 18:34] karelz commented on #25684
We could pass the `-prerelease` flag always, or we could do another call with `-prerelease` when the first call without it fails to find any VS.
@weshaggard any preference?

@sebastienros would you be willing to test the change locally & submit a PR once we decide on the approach?

[2017-12-04 18:44] DavidArno commented on #18159
@karelz,

I'd say "quite heavily". If the feature works well, then `T?` can be used as a `Maybe<T>` in most cases. The only limitation been that eg:
[code]
would result in a NRE, rather than `null`. But 90% of a maybe type functionality is usable in 90% of cases...

[2017-12-04 18:48] karelz commented on #17412
@cbuxbaum this is closed issue. If you think such API is necessary, please file a new formal [API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md).
Please consider also cross-platform implementation and behavior on Linux/Mac.

[2017-12-04 18:49] weshaggard commented on #25684
We have already started passing "-prerelease" to this in the coreclr repo and we can do the same in corefx. @sebastienros would you mind putting together a PR for this?

[2017-12-04 18:53] pjanotti commented on #25677
Hi @MarcoRossignoli  - yeah, it is easier to comment on PRs. One feedback: exception messages should be in the proper resx file (src\System.IO.FileSystem.AccessControl\src\Resources\Strings.resx). In general adding some more precise messages for the ones missing one is desirable. At first sight `InvalidOperationException` doesn't see the proper one for those other cases, although I see that it is

[2017-12-04 18:59] #25373 closed

[2017-12-04 19:10] safern commented on #25335
Fixed in: https://github.com/dotnet/coreclr/pull/15349

[2017-12-04 19:10] #25335 closed

[2017-12-04 19:10] wtgodbe commented on #23496
@Priya91 can you comment on the reason for https://github.com/dotnet/corefx/pull/21339/files#diff-015aad2514de8320cbfe19ed2b8ee9a7R511 ? I believe this block is what is causing the issue

[2017-12-04 19:13] jnm2 commented on #25653
Absolutely! But it'd probably actually get done this time 2018 by the time I get to the end of of the list of PRs that people have asked me to do, so... not unless I'm already doing other corefx PRs.

[2017-12-04 19:14] safern commented on #25011
@Ark-kun thanks for your suggestion, could you please do a formal API-Proposal so that @ianhays and me take a look and make a decision if it is good enough to send it to review?

Here is an example of an API proposal: https://github.com/dotnet/corefx/issues/24445

[2017-12-04 19:18] Priya91 commented on #23496
The linked PR has the reason for making that change, the previous arg parsing code had a bug with not parsing the empty arguments correctly, and this logic was also unified with the argument parsing logic across .net stacks, the uwp corert also has the same logic.

[2017-12-04 19:19] safern commented on #24408
@ianhays and I think that it is too specific to add it to .NET Core and that it would actually confuse people more than help them. Since this could be added as an extension method we think it is not worth adding this "very specific" to one scenario API.

[2017-12-04 19:21] safern commented on #24365
@stephentoub should we mark this one as ready for review?

[2017-12-04 19:21] stephentoub commented on #23496
@eerhardt, is this a break from netfx?  From Mono?  From .NET Core 2.0?

[2017-12-04 19:23] eerhardt commented on #23496
It for sure was a break from .NET Core 2.0, since the same MSBuild code ran just fine on netcoreapp2.0.  I didn't test it on other .net stacks.

[2017-12-04 19:24] stephentoub commented on #23496
I ask because this goes to whether this is fixing a bug that shipped in .NET Core 2.0, bringing it more in line with the other implementations, or whether this is actually causing divergence from other implementations.

[2017-12-04 19:31] sebastienros commented on #25684
I tried it locally and it works. Creating a PR now.

[2017-12-04 19:33] wtgodbe commented on #25069
@danmosemsft @Anipik it looks like this test has failed at least once since your change, mind taking another look?

[2017-12-04 19:36] cbuxbaum commented on #17412
Hi, Thanks.

Under FireFox Native Messaging, the behavior I mention is only an issue with SendNativeMessage.   There is an alternative, ConnectNative, that establishes a Port to the running Native Host until the window is closed or Port is disconnected.  Therefore, the Windows executable called from System.Diagnostics.Process.Start() remains running until the Host is shut down.

So I have what I n

[2017-12-04 19:37] eerhardt commented on #23496
The scenario (since it isn't obvious from the repro code) is triple-quoting arguments in ProcessStartInfo:

https://github.com/Microsoft/msbuild/commit/ec997c5c7e555d0105e76b3102c3657ed227334c#diff-9995af5b148b699fc79ad7e2cc972ea2R560

This string eventually gets passed into `commandLine` in `new ProcessStartInfo(pathToTool, commandLine)` where `pathToTool` is `/bin/sh`.

Why the triple-quotes are

[2017-12-04 19:48] danmosemsft commented on #25069
@Anipik I suggest making tests run serially as I did for perf counters in 6f08f5a12a4723a15efbbd7ba9bc0bcc929c41a6. I would not be surprised if that fixes it.

See how long the tests take to run when you do this. If it's more than 10-15 sec then mark the slowest classes as [OuterLoop]. You can look in the testresults.xml to see how long each one takes.

[2017-12-04 19:49] RussellHaley opened #25690 "CoreFX downloads cli every build"
Hi, is there a way to prevent the system from downloading the cli tools every time I build? I'm trying to build on a laptop using a hotspot and it seems unnecessary to download a binary tool every time.

[2017-12-04 19:49] joshfree commented on #25121
@danmosemsft yes, if you wouldn't mind;

/cc @ahsonkhan @KrzysztofCwalina as FYI

[2017-12-04 19:49] danmosemsft commented on #25675
Ah, I missed that the whole type was in the rd.xml. Fine.

[2017-12-04 20:59] danmosemsft commented on #25121
I put up a PR.

[2017-12-04 21:04] ahsonkhan commented on #25669
Install this compiler package (notice .NETCore, not .NET):
Microsoft.NETCore.Compilers - 2.6.0-beta3-62316-02
https://dotnet.myget.org/feed/roslyn/package/nuget/Microsoft.NETCore.Compilers/2.6.0-beta3-62316-02

With this compiler, you will have support for LangVersion 7.2, although that shouldn't be necessary if you are only using 7.0 language features.

Also, you should be using the latest System

[2017-12-04 21:30] pepone opened #25699 "IP_MULTICAST_IF not correctly handle on Linux and macOS"
setsockopt with IP_MULTICAST_IF value should be a struct in_addr

See https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Native/pal_networking.c#L2172

This is call from https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs#L1135

So far seems to me we are just passing an interface index as an integer when linux setsockopt exp

[2017-12-04 21:32] davidsh commented on #25699
cc: @wfurt

[2017-12-04 21:35] markwilkie commented on #25682
Thanks @stephentoub - is this a work around and there's still a mis-matched compiler issue going on?

[2017-12-04 21:37] stephentoub commented on #25682
It's a workaround for what could be a valid compiler error, but it doesn't reproduce in PR / master builds from the repo.  So there's still an investigation that should be done to understand why it breaks in one place but not the other.

[2017-12-04 21:38] jcdickinson commented on #13890
Has this stalled? I might pick this up.

This isn't very idiotmatic right now - the nomenclature and patterns deviate quite strongly from what you'd expect in .Net. Some suggestions:

[code]

[2017-12-04 21:38] markwilkie commented on #25682
Thanks for unblocking the builds @stephentoub.  @JohnTortugo, please continue your investigation as to why there's a mis-match.  @chcosta can help where needed.

[2017-12-04 21:42] #25675 closed

[2017-12-04 21:43] wekempf commented on #17068
"Chaining" is problematic. The example given of ```value.VerifyNotNull().VerifyNotEmpty()``` requires these verifiers to be extension methods that work on all types. I find that repugnant, to be honest. It pollutes IntelliSense. There is a solution to this, which I use in my [Testify](https://github.com/wekempf/testify) unit testing library. The above can be coded as ```Argument.Verify(value).NotN

[2017-12-04 21:48] ViktorHofer commented on #25533
As Jan mentioned several times before, the cost of the prime number calculation is nothing compared to allocating and filling the array. @SunnyWar what is your assumption based on?

[2017-12-04 22:05] #24564 closed

[2017-12-04 22:10] #24103 closed

[2017-12-04 22:10] ahsonkhan commented on #24103
@nietras, feel free to revisit this if it turns out we need Within.

[2017-12-04 22:11] #24840 closed

[2017-12-04 22:12] stephentoub commented on #23760
Failed again here:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/5931/consoleText

[2017-12-04 22:13] terrajobst commented on #12180
I like @stephentoub's suggestion and suggested something similar to @weshaggard.

@Priya91

It's not about innovating, it's about how much of the existing code we can make work as-is. Asking folks to change their code to compile with Roslyn isn't straight forward. Asking folks to install the package because we do the work via reflection is reasonable. We could even be more helpful but making sure

[2017-12-04 22:16] xenocons commented on #25669
@ahsonkhan I can confirm when using that beta compiler (2.6.0-beta3-62316-02) that the code compiles as expected. This is a bit problematic given that System.Memory is now locked into a specific language and compiler version (which means ill have to remove it as a dependency).

Is there any option for having a System.Memory that works with netstandard? The latest version that is listed on nuget is

[2017-12-04 22:21] wtgodbe commented on #23496
Looking at https://github.com/dotnet/corefx/pull/21339/files#diff-015aad2514de8320cbfe19ed2b8ee9a7R511, it looks to me like an arg that looks like `"""argument"""` will be converted to `""argument""` (triple quotes become double quotes). This would explain a break for an argument with a triple quote, as `"""argument"""` would wind up being treated as 2 args instead of 1. I don't see the same logic

[2017-12-04 22:34] cartermp commented on #25669
@ahsonkhan Does this prevent F# from using `System.Memory` now?

[2017-12-04 22:36] ahsonkhan commented on #25669
As long as your code isn't using any of the new language features (like ref readonly/etc) then you don't need to bump your language version to use System.Memory.

The compiler update is there to ensure correct usage of Span and catch programming errors at compile time instead of the program crashing at runtime.

What version of the dotnet cli are you using to compile your project? If you use the l

[2017-12-04 22:36] GrabYourPitchforks opened #25701 "(Incorrectly opened - please ignore.)"

[2017-12-04 22:37] #25701 closed

[2017-12-04 22:50] xenocons commented on #25669
@ahsonkhan it is a hard to debug this one. I am using dotnet cli 2.0.3.

As a bit more info, I found that the following is broken:

[code]

However, the following works:
[code]
Note, as above, the bug does not manifest on compiler version 2.6.0-beta3-62316-02 only  2.3.1.61919 (57c81319)

[2017-12-04 22:53] #25069 closed

[2017-12-04 22:58] FSou1 commented on #25495
Looks like NETFX x86 Release Build — was failed but i'm not pretty sure if my changes are the root cause.

Let me know if I have to fix it.

[2017-12-04 23:13] joshfree commented on #25024
@joperezr could you help take a quick look at the package authoring?

[2017-12-04 23:19] ahsonkhan commented on #25669
Any reason why you can't update to newer preview dotnet cli?
https://github.com/dotnet/cli#installers-and-binaries

[2017-12-04 23:20] xenocons commented on #25669
Hi @ahsonkhan, I am doing so now (sorry slow internet!)

[2017-12-04 23:21] karelz commented on #17427
Seems to have impact on MongoDB client driver, moving to 2.1

[2017-12-04 23:23] GrabYourPitchforks commented on #2217
Given that (a) this is a violation of the UTF-8 specification, (b) there has been little demand for this feature aside from domain-specific use cases, (c) this issue has existed for multiple years without action, and (d) alternatives exist via use of private implementation encoding routines, I'm closing this as won't fix.

[2017-12-04 23:23] #2217 closed

[2017-12-04 23:25] Priya91 commented on #23496
Hmm both are doing the same, https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Runtime/CommandLine.Windows.cs#L162

The corert one also treats a quote inside quotes and emits a quote character. In fact the code says """argument""" will become "argument".

[2017-12-04 23:28] xenocons commented on #25669
I have hit https://github.com/aspnet/MetaPackages/issues/231, so this might take longer than expected

[2017-12-04 23:34] VSadov commented on #25669
Compiler should complain regrdless of explicit type or `var`. It seems like a bug, but also could be long-standing behavior that is maintained for compatibility reasons.

Most uses of obsolete type should result in errors/warnings.

[2017-12-04 23:39] 4creators opened #25702 "API Proposal: Add System.Half 16 bit floating point number conforming to IEEE 754:2008 binary16"
This proposal introduce System.Half numeric structure conforming to IEEE 754:2008 binary16 specification and defines it mainly as a interchange format used at interface between managed code and external code capable of handling binary16 arithmetic operations. It can be extended to support full binary16 arithmetic when required coreclr runtime support will be available. Additional extension of func

[2017-12-04 23:46] xenocons commented on #25669
@ahsonkhan I can confirm that with `.NET Command Line Tools (2.2.0-preview1-007622)` and "System.Memory" Version="4.5.0-preview1-26002-01" that the error no longer occurs. Happy to close this ticket as the original issue is solved.

@VSadov I agree, it is a bit confusing.

Can someone point me in the right direction to convert code that previously used constructs like `Dictionary<int, ReadOnlySpan

[2017-12-04 23:48] ahsonkhan commented on #14376
From @KrzysztofCwalina

From @ahsonkhan

If we explicitly throw a meaningful exception in the SpanDebugView then we would have to revert that when the VS debugger catches up.
Calling ToArray calls the JIT intrinsics and that is resulting in the debugger view error.
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/ReadOnlySpan.cs#L316
[code]

cc @caslan