[2016-05-03 19:28] SamuelEnglard commented on #8238
[code]
This should do it

[2016-05-03 19:45] davidsh commented on #8237
cc: @CIPop @himadrisarkar

[2016-05-03 19:46] bartonjs commented on #8186
In order to support ephemeral keys we need to support checking to see if it *has* an ephemeral key.

The property CERT_KEY_PROV_HANDLE_PROP_ID emits an HCRYPTPROV for a CAPI ephemeral key.  CERT_NCRYPT_KEY_HANDLE_PROP_ID emits an NCRYPT_KEY_HANDLE for a CNG key.

If we wire those up to HasPrivateKey and Get*PrivateKey (cloning/up-reffing the handles, of course) it seems like everything'll just wor

[2016-05-03 19:49] psibernetic commented on #4367
Is netstandard ready to target in VS 2015 u2? The doc says to check here for status, but lists TBD.

[2016-05-03 19:57] AtsushiKan commented on #8186
Getting the key handle isn’t the tough part. CryptAcquireCertificatePrivateKey() already does that in one step (and tells us whether got a CAPI or NCrypt handle.)

The cloning part is the tough part. The underlying crypto key handles don’t have refcounts so we can’t count on it staying around after the cert context is freed. So we have to export/re-import (assuming the key will let us), which is a

[2016-05-03 20:15] stephentoub commented on #8235
Thanks, @mikeharder. I put up a fix at https://github.com/dotnet/corefx/pull/8249 which should hopefully address your problem (it fixes my local repro, e.g. I was able to use a url with HttpClient like http://[fe80::123:1234:1234:1234%eth0]:12345 successfully).  If you can try it out locally, that'd be great... you can build just this component by cd'ing into corefx/src/System.Net.Http/src and doi

[2016-05-03 20:59] ianhays commented on #7264
@bartonjs resolved this in https://github.com/dotnet/corefx/pull/8010.

I tested it locally to be sure (ran it in a loop ~100 times) and saw no failures.

[2016-05-03 20:59] #7264 closed

[2016-05-03 20:59] ianhays commented on #7177
@bartonjs resolved this in https://github.com/dotnet/corefx/pull/8010.

I tested it locally to be sure (ran it in a loop ~100 times) and saw no failures.

[2016-05-03 20:59] #7177 closed

[2016-05-03 21:04] ianhays commented on #7187
I'm going to close this. The RTM deadline is coming up and there hasn't been any recent discussion in here that would justify changing the current behavior.

[2016-05-03 21:04] #7187 closed

[2016-05-03 21:17] redknightlois commented on #2209
Generalized ```HorizontalMin```/```HorizontalMax``` is another operation that is currently quite difficult to achieve with the limited support through high-level abstractions.

[2016-05-03 21:24] atrauzzi commented on #8234
I've moved to 16.04, I always keep pace.  But if this policy means 16.10 won't be supported, I'll definitely be frustrated (as will others most likely).
Generally, it's tough to say.  Every release is going to have different influences.  This current one for example, I'm hearing some rumblings about shifts in AMD's proprietary driver support.  Wouldn't be surprised if some people hang back due to

[2016-05-03 21:28] ellismg commented on #8234
Thanks that's helpful.

[2016-05-03 21:32] ianhays commented on #7570
The purpose of #6602 is to provide a fallback implementation where a native compression library (e.g. zlib) doesn't exist. That issue actually shouldn't interfere with this one since any new API could be PlatformNotSupported in the managed implementation if it came to that.

You are correct. Switching to native zlib increased our compression bechmarks by something like ~30% in cases where more tha

[2016-05-03 21:34] CIPop commented on #5755
I agree with getting this done by RTM. I've moved it when it wasn't clear that events were missing.

[2016-05-03 21:51] Priya91 commented on #6241
failed here:
[code]

[2016-05-03 21:54] mikeharder commented on #8235
@stephentoub: How do I get a recent RC3 build?  I am currently using the latest RC2 build from https://github.com/dotnet/cli.

[2016-05-03 21:56] CIPop commented on #8171
LGTM (with one request to have a comment added that clearly marks the CoreFX/Desktop behavior difference).

regarding the netfx-port-consider:

I agree with @davidsh: it's less likely for an application to have taken a dependency on setting a certain value to null. Still, this requires app-compat council approval before getting ported back to Desktop.

[2016-05-03 21:57] CIPop commented on #8171
Added the LGTM to the wrong conversation...

[2016-05-03 22:04] ericstj commented on #8185
@dagood if it wasn't clear you can go ahead with your suggested fix.

[2016-05-03 22:04] davidsh commented on #8171
FWIW, applications that might have passed in null to the constructor will end up with a Cookie object in an inconsistent state and it will fail later on.

We will evaluate this bug for porting to Desktop via the 'netfx-port-consider' process.

[2016-05-03 22:04] CIPop commented on #8237
/cc @joshfree @terrajobst

@xied75, I like the idea of having a .Net library that exposes SSH client/server/SFTP.
I don't think that CoreFX would be a good fit for such a library given that it's not necessarily a generic protocol. Why not have it as a separate project that gets downloaded from NuGet instead?

Have you considered porting any of the following to CoreFX :
https://sshnet.codeplex.com/

[2016-05-03 22:11] hughbe commented on #8171
Could the community at some point have some clarification as to the 'netfx-port-consider' process (not immensely important but good stuff to know)

[2016-05-03 22:29] MattGal commented on #8230
It's definitely more than one.  I hit it with various System.Collections tests... but I can't say which all cause it.

[2016-05-03 22:29] ianhays commented on #7685
That's makes sense though, right? From Path's perspective, ```/bar.txt``` <i>is</i> a rooted path just like ```/foo/``` or ```/``` are. It's functioning as the docs define the behavior.

This is also how Windows does it and ```/```  is barely a root prefix there (cc: @JeremyKuhne ). The example in the OP fails on .NET 4.6.2 as well as Windows core.

[2016-05-03 23:03] mellinoe commented on #8230
I think this is a problem with the VNC viewer. I don't get a repro of this when I'm running things locally but I was able to see the problem on the machine that you shared with me (through VNC Viewer). I see some reports on google of people complaining of similar issues, I wonder if this is a bug in the viewer somehow? Anyone more familiar with this tool than I am?

[2016-05-03 23:04] davidsh commented on #8171
Basically, the label:
![image](https://cloud.githubusercontent.com/assets/7684835/15000982/a64d2d2a-1148-11e6-97c0-f7fc8511f163.png)

just helps with our internal process by opening up a related bug in our internal database for .NET Framework.  Then we study the potential source changes with a large review team and decide if it carries app-compat risk before accepting the change into .NET Framewor

[2016-05-03 23:09] mellinoe commented on #8239
:+1:

[2016-05-04 01:53] Priya91 commented on #7824
this failed again here

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/811/

[2016-05-04 04:55] JeremyKuhne commented on #7685
One way to look at the current logic is a coalescing of `cd` commands. From that perspective it _kind of_ makes sense. That said I've never been fond of the root checking- particularly in the case of the starting separator. It ends up being a gotcha- I don't think most people intuit that Combine will do anything other than make sure there is a single separator between them. It isn't called `.Navig

[2016-05-04 04:57] SamuelEnglard opened #8258 "How to access values from project.json in code"
I don't want to be writing the values multiple times. Is there a way to access them? It can be something that's compile time.

[2016-05-04 06:20] davidfowl commented on #8258
What are you looking for? You can use JSON.NET if you want a JSON reader and writer.

[2016-05-04 06:21] davidfowl commented on #8239
This work should include splitting the dependency between Platforms and Targets.

[2016-05-04 08:19] gprossliner opened #8259 "Make System.Net.Http nuget package compatible with a "Portable Class Library" Project"
When trying to install the System.Net.Http nuget package from nuget.org into a "Portable Class Library Project", the following message is displayed, and the operation is canceled:

"Could not install package 'System.Net.Http 4.0.0'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile78', but the package does not contain any assembly referen

[2016-05-04 08:45] tmds commented on #6807
I've settled on using @stephentoub's [reflection hack](https://github.com/dotnet/corefx/pull/6833). It limits portability, but in my specific case that's fine.

If the Handle issue isn't considered for the System.Net.Socket 4.1.0 contract used for netstandard 1.3-5, does that mean that when it gets added in 4.1.1 for netstandard 1.6, access to this feature in a platform generic way will be limited

[2016-05-04 09:05] JonHanna commented on #8154
Had it happen again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_release_prtest/669/

[2016-05-04 09:09] tmds opened #8260 "Use latest rc2 corefx"
I'd like to use some features which are on the rc2 branch but which are not yet on my machine.
Is it possible to configure project.json+NuGet.conf to use the 'latest' rc2 build?

[2016-05-04 09:16] tmds commented on #8043
@yizhang82 Am I right when concluding the overload shouldn't be deprecated? Instead, the generic version is recommended when it can be used.

[2016-05-04 09:29] shrutigarg commented on #3717
since ntlm is now supported , do we still need this issue as active?

[2016-05-04 10:21] henkmollema opened #8262 "TypeDescriptor APIs"
Hi there,

I was wondering what the status of the `TypeDescriptor` API is. Currently I am using `TypeDescriptor.AddAttributes()` but unfortunately this is not available on .NET Core. Is there any equivalent available or a timeline when this API will be ported?

Thanks in advance.

[2016-05-04 10:54] svick commented on #8262
I think this is duplicate of #6573.

[2016-05-04 11:10] henkmollema commented on #8262
Ah yes, thanks.

It also seems that the APIs are already ported according to this open PR: https://github.com/dotnet/corefx/pull/8093.

[2016-05-04 11:25] SamuelEnglard commented on #8258
Looking for a "framework" way to it. If JSON.NET is answer I'll go way

[2016-05-04 12:13] kapilash opened #8263 "Fix gssapi header configuration work to pick heimdal libraries"
Today, on Unix platforms, the [native layer of NegotiateStream](https://github.com/dotnet/corefx/blob/master/src/Native/System.Net.Security.Native/pal_gssapi.cpp#L9) class looks for the presence of either ```Gss.h``` or some mit-krb5 specific headers.
This approach works for OSX and Linux. OSX has ```Gss.h``` built-in and most flavors of linux have mit-krb5 headers available.

This is a problem fo

[2016-05-04 12:15] kapilash commented on #8263
cc: @stephentoub

[2016-05-04 13:08] manu-silicon commented on #7538
@joperezr  Sorry I missed your comment last week. I'll try again later this week.

[2016-05-04 13:46] steveharter opened #8264 "Remove bcrypt exceptions from Algorithms.dll once buildtools is updated"
Remove the bcrypt exceptions once we get a version of buildtools with dotnet/buildtools#691.

[2016-05-04 13:57] davidsh commented on #8259
cc: @ericstj @stephentoub

[2016-05-04 14:29] ianhays commented on #8154
This is resolved in #8231

[2016-05-04 15:24] ianhays commented on #7685
When I was first starting out with C# I was constantly annoyed with Path functions doing validation I didn't want them to (e.g. throwing PathTooLongExceptions on paths I made that had lots of ```../../```). I eventually just starting doing ```str1 + "/" + str2 + "/"```, ignoring Path.Combine entirely. I"m not crazy about the behavior but it is technically correct so I'm going to to relabel the iss

[2016-05-04 15:33] dagood commented on #8185
I'm not seeing this, but maybe I'm looking at a different situation... this project.json `dotnet restore`s fine for me:
[code]
and also with `dnxcore50`, `netstandardapp1.3`, etc. When are you saying we need the runtimes for restore to pass compat checks? As a build/test error it makes sense to me (since if I understand the frameworks correctly we generally will run the non-netstandard ones) but n

[2016-05-04 15:47] ericstj commented on #8185
For desktop it won't be a problem since we make sure all packages can resolve desktop without a RID.  The problem would be for something like DNXCore50, NETCoreApp, or NETCore50.  I'd expect gaurdrails to complain about a missing implementation if we don't provide a RID for these and reference any split package.

[2016-05-04 15:48] xied75 commented on #8237
@CIPop It might be arguable to include this inside corefx or outside, but according to [wikipedia](https://en.wikipedia.org/wiki/Secure_Shell):

So to say it is not a generic protocol is very Microsoft Style. (Apparently corefx does include SSL though).

And this https://sshnet.codeplex.com/ is now https://github.com/sshnet/SSH.NET, they moved house recently.

Sharpssh is a port from Java JSch, I

[2016-05-04 15:57] redknightlois commented on #5360
Probably off-topic, but there is no reason why a developer should be able to code a ```HalfVector<T>``` by himself. That is probably the most important limitation of the ```Vector<T>``` class as the default go-to solution for SIMD.

I have been doing some coding on optimizing some routines for the last few weeks and time and time again I hit the same wall. While with some effort I was able to get

[2016-05-04 16:23] svick commented on #8260
I think what you need is:

1. Have [the dotnet-core MyGet feed](https://dotnet.myget.org/gallery/dotnet-core) configured in NuGet.Config either locally or globally. `dotnet new` used to do this automatically, but [doesn't anymore](https://github.com/dotnet/cli/pull/2319).
2. Reference the latest version of the packages from your `project.json`. Right now, for `Microsoft.NETCore.App`, that's `1.0.0

[2016-05-04 16:34] ericstj commented on #8259
This is something that's already been fixed if you are using the RC3 packages.

Try using System.Net.Http 4.1.0-rc3-24104-00 from https://dotnet.myget.org/F/dotnet-core/api/v3/index.json.

If you still repro the issue let us know and I'll reopen this.

[2016-05-04 16:34] #8259 closed

[2016-05-04 16:35] davidsh commented on #6807
To clarify about contract revisions, System.Net.Sockets 4.1.* is the pending contract which will RTM. When we add new APIs to a contract, we increase the minor version number, so the new contract would be 4.2.* and not 4.1.1.

At this point, it is hard to say whether System.Net.Sockets 4.2.* will have to move to netstandard1.6 or not. That will get investigated post RTM.

[2016-05-04 16:42] ericstj commented on #8185
Yep, looking at @Priya91's PR none of the project.json's were targeting concrete TFMs that require a RID to pass the gaurdrails check so this is an OK change.  If we were to try and to it across all SRC projects we'd hit issues for projects that cross-compile for concrete TFMs.

[2016-05-04 16:44] #3717 closed

[2016-05-04 17:08] #8171 closed

[2016-05-04 17:10] AtsushiKan commented on #8141
To summarize, the desktop CLR **DebuggableAttribute** class has a **DebuggingFlags** property that retrieves the debugging mode passed to the **DebuggableAttribute** constructor.

[code]
In Core, the **DebuggingFlags** property has been taken out.

The ask is to add it back (or to have an explanation - any specific reason not to have this?)

Use case: Reflection code browsing over metadata can mor

[2016-05-04 17:11] ericstj commented on #8258
This should be asked in the NuGet repo: https://github.com/nuget/home.

I believe https://github.com/NuGet/NuGet.Client/tree/dev/src/NuGet.Core/NuGet.ProjectModel is the model that NuGet uses (which uses JSON.NET)

[2016-05-04 17:11] #8258 closed

[2016-05-04 17:32] mellinoe opened #8274 "System.Net.Http.Functional.Tests.PostScenarioTest.PostUsingChunkedEncoding_Success failed in CI"
Happened in a Windows Debug PR test.

See: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/796/

[2016-05-04 17:41] #7921 closed

[2016-05-04 17:42] joshfree commented on #8274
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/796/testReport/junit/System.Net.Http.Functional.Tests/PostScenarioTest/PostUsingChunkedEncoding_Success_serverUri__http___corefx_net_cloudapp_net_Echo_ashx_/
[code]

[2016-05-04 17:42] ericeil commented on #7921
I agree.  I've updated the comment in the test code to refer to #8242, and closed this issue.  Thanks for the help with this!

[2016-05-04 18:00] ericeil commented on #7833
Moving this out of this release for now; as things currently stand, it's not feasible to implement this for 1.0.  If EventCounter becomes available in NetStandard 1.3, we can reconsider.

[2016-05-04 18:07] #8185 closed

[2016-05-04 18:19] Priya91 opened #8280 "Install cmake on Win10 images in CI"
We started building native libs on windows with clrcompression.dll.

[2016-05-04 18:20] CIPop commented on #8237
@xied75 Thanks for the updated links!

I completely agree that SSH is widespread and a popular protocol.
My argument was that SSH ("Secure Shell") is very specific in what it does: it allows remote command execution. In Windows, the equivalent to SSH would be WinRM. I'm comparing SSH with other protocols that the stack is implementing which are more generic in their applications: SSL/Kerberos for

[2016-05-04 19:08] Priya91 commented on #7294
This is fixed in #8252

[2016-05-04 19:08] #7294 closed

[2016-05-04 19:34] joshfree opened #8288 "[.NET Framework] Console.CancelKeyPress fails to hook Ctrl+C on subsequent registrations"
Moved from https://github.com/dotnet/coreclr/issues/892

The Console.CancelKeyPress event handler code doesn't call ControlCHooker.Hook in the follow sequence of events:

[code]

It looks like a fairly trivial issue in the event registration/unregistration implementation:

[code]

[2016-05-04 19:34] joshfree commented on #8288
The work remaining is to backport this to .NET 4.6.x

[2016-05-04 19:42] tarekgh commented on #4587
@pranavkm I cannot reproduce this issue. could you please try it and let me know if you still see the problem?

[2016-05-04 20:03] Priya91 commented on #8280
This is now added.

[2016-05-04 20:03] #8280 closed

[2016-05-04 20:07] hughbe commented on #8242
Just a quick update: I filed a bug report over at the ICU project for `GetUnicode("xn--\u1234pck")` and its been accepted. This is an example of where ICU doesn't follow the IDNA spec.

@ellismg if you find any other places ICU doesn't follow the spec in your digging, I can file a bug and get it fixed for future ICU versions.

Here's the bug http://bugs.icu-project.org/trac/ticket/12523

[2016-05-04 20:17] steveharter commented on #7688
I'll flip to properties. Note, however, that means you can no longer do this:
    var ecp = new ECParameters();
    ecp.Curve.A = null;

You will get "cannot modify the return value of ECParameters.Curve because it is not a variable" because Curve is a property returning a struct, which has value (not object) semantics.

Instead you will have to do this:
    var ecp = new ECParameters();
    var c

[2016-05-04 20:22] bartonjs commented on #7688
Eh, we originally defended the fields as "that's what RSAParameters and DSAParameters do", and since we've already merged, let's just leave it.  Otherwise "make the struct fields be fields, and the reference fields be properties" would be my vote, followed by "make everything properties"

[2016-05-04 20:30] TehWardy commented on #5939
I could do with some help here. my project.json looks like this ...

[code]
For some reason I get the exception "System.Net.Sockets 4.1.0-beta-23516 is not compatible with .NETPlatform,Version=v5.0."

Could someone tell me what I did wrong?

[2016-05-04 20:55] davidsh commented on #5939
I recommend you wait until RC2 goes live later this month.  There have been a lot of changes in the packages and tooling (dnxcore50 isn't valid anymore for example).

Short summary:  It doesn't work properly with the 'beta' packages.  You didn't do anything wrong.

[2016-05-04 21:01] TehWardy commented on #5939
Ah cool, I think I have it working, i changed the ref to the sockets assembly to ...
`"System.Net.Sockets": "4.0.0"`
That appears to have fixed it.

I'm just refactoring the code from what is basically the current documented version of an async socket client.
Sorta liking it so far but im only in to the receive loop :)

[2016-05-04 21:06] tmds commented on #8260
@svick works fine! thanks

[2016-05-04 21:06] #8260 closed

[2016-05-04 21:19] tarekgh commented on #5463
@eerhardt I am not seeing test disabled because #846 looks this already fixed. could you confirm if we can close this issue?

[2016-05-04 21:23] eerhardt commented on #5463
I removed all references to #846 when I logged these issues.

The tests that need to be investigated are marked with this current issue - #5463.

[2016-05-04 21:26] CIPop opened #8291 "Win7 CoreFX build/testing failing: "Unable to load DLL""
I've followed the instructions at https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md on a Windows 7 machine.

I'm getting the following error when running the `.\build` command:

[code]

[msbuild.log.txt](https://github.com/dotnet/corefx/files/249606/msbuild.log.txt)

[2016-05-04 21:33] CIPop commented on #8291
Potentially related: https://github.com/dotnet/coreclr/issues/4366

[2016-05-04 21:42] steveharter commented on #7688
Although the merge has it as fields, I just changed the current code out for review (which is the implementation for cng and openssl) https://github.com/dotnet/corefx/pull/6789 to have the conversion from fields to properties. Not a big deal to change back.

[2016-05-04 22:02] #8048 closed

[2016-05-04 22:03] joperezr commented on #8048
This change will make it to corefx as soon as buildtools is updated.

[2016-05-04 22:04] weshaggard commented on #8291
I wonder what is different with your setup from our CI? http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_win7_debug/

There appear to be 2 test failures there but not all the failures as you are seeing.

[2016-05-04 22:05] weshaggard commented on #8291
@Priya91 the errors look related to the GetTargetMachineInfo task. Didn't we have some other similar issue there before?

[2016-05-04 22:08] steveharter commented on #8264
Closed as resolved by #8283

[2016-05-04 22:08] #8264 closed

[2016-05-04 22:25] tmds opened #8297 "LinuxNetworkInterface Id and Description implementation"
Currently NetworkInterface Id and Description throw PlatformNotSupportedException on Linux.
I'd like to propose the following:
Id returns _name
Description returns _name

The linux kernel does not grantee a network interface will have the same name after reboot but it can be done by using [udev](http://www.debianhelp.co.uk/udev.htm) or [systemd](https://www.freedesktop.org/wiki/Software/systemd/Pr

[2016-05-04 22:50] #8214 closed

[2016-05-04 23:16] mellinoe commented on #8297
This seems like an okay compromise to me. @CIPop What are the "ID" and "Description" properties usually used for on Windows? Is it just things like display, diagnostics, statistics, etc.? It would be unfortunate that we can't guarantee the same network interface will return the same Name all the time, though.

Is there any way to get better information for "Description"? Windows returns fairly use

[2016-05-05 01:29] #7805 closed

[2016-05-05 01:50] CIPop commented on #8291
@weshaggard @Priya91 Let me know if you need access to the VM.

[2016-05-05 01:53] ellismg opened #8307 "Cross building much slower with new universal runner infrastructure."
As part of adopting the universal runners, we need to copy the entire packages folder from the builder machines to the test executor machines when we have to build managed code on Linux but test it on windows.

Previously, the amount of data we needed to copy was on the order of 130 MB (this was the entire "bin" folder, de-duplicated in a zip file, via Packer).

After the changes to also include t

[2016-05-05 01:54] ellismg commented on #8307
/cc @MattGal @weshaggard

I noticed this because today the CI system was taking a very long time to archive the artifacts.  The time spent copying this to and from machines slows down CI time.

[2016-05-05 01:55] liquidboy commented on #2089
Any update on LDAP support in CoreCLR ?

[2016-05-05 02:14] weshaggard commented on #8307
I think anything we can do to improve the size here is goodness all around.

What does the size look like if you filter it to just .dll/.exe files in the packages folder?

[2016-05-05 03:28] SamuelEnglard commented on #8130
I was dealing with this today! Needed a way to uniquely identify/compare `MethodInfo`s. What I decided t do was to use their `ToString()` since it returns the full signature of the method, including defining object. Technically doesn't include assembly but that could be easily fixed.

[2016-05-05 04:53] yizhang82 commented on #7804
We are working on a scoped version of this in #4796.

[2016-05-05 04:55] tmds commented on #8297
On Windows, the Id is a GUID which remains the same after each reboot. So it can be used as a persistent identifier. The Description is a useful one. The Name can be changed by the user in the Network Settings.

Looking at one real example: Wireshark has in it's capture interfaces dialog two columns: Device and Description where it puts the Name and Description respectively. On Linux the name is l

[2016-05-05 04:59] tmds commented on #8297
My personal preference is not to do string.Empty on Description, since Description will likely end up in a GUI and it isn't of much use if it shows nothing.

[2016-05-05 05:16] ellismg commented on #8307
The pre-compressed size ends up dropping from 1.7GB to 417 MB.  I do not expect we would realize much gain from compression, but who knows.

The above filtering is too aggressive however, since it also takes away test assets we have in NuGet packages and filters out all of the Linux and OSX run-times, which we will need in some cases (including .so's and files with no extension brings the count up

[2016-05-05 05:19] yizhang82 commented on #8043
@tmds Thanks. Your deserialization example is very interesting and makes sense. I tend to agree that the overload shouldn't have been deprecated. We are considering un-deprecating this in the future. And yes, using the generic overload is recommended over the non-generic one.

[2016-05-05 05:30] ellismg commented on #8307
If you're interested (and also a good place for me to store this interesting power-shell snippet)

[code]

Obviously, the XML will compress well.

[2016-05-05 06:37] Mike-EEE commented on #8130
Yes strings are definitely a good fallback for the current paradigm, but I was under the impression that they are slow?  To me, it would be ideal that every `MemberInfo` has a `Guid` and that `Guid` is the same for that `MemberInfo` regardless of the thread it is on.  But that's just me. :smile:

[2016-05-05 10:04] jchannon opened #8311 "Any plans to include NetworkAvailabilityChanged"
We use this event off `NetworkChange`, Portability Analyzer says NetworkChange is available but not that event. Any plans to bring this in for 1.0.0?

[2016-05-05 10:09] AlainBorletHote commented on #1942
Please be efficient and implement the 4 methods alltogether:

- TryAdd
- GetOrAdd
- AddOrUpdate
- TryUpdate

[2016-05-05 13:35] OperatorOverload commented on #8146
I've taken a first pass at this by adding an additional signature to allow the user to specify that an overwrite should be allowed.  In some discussions on Gitter, somebody else suggested maybe it should be a new signature to the effect of "ExtractToDirectoryAndOverwrite".. I'm happy to retool using that approach if it's preferred.

Test cases also included, commit is here operatoroverload@e1ac492

[2016-05-05 14:08] davidsh commented on #8311
cc: @CIPop @himadrisarkar

[2016-05-05 14:45] kapilash commented on #7031
#8118 fixed the open items in this issue - namely:

*1*. [One to one mapping with native calls and Interop.*.cs files](https://github.com/dotnet/corefx/pull/6469#discussion_r56656680)

*5*. [A compile time constant for the size of OID lengths](https://github.com/dotnet/corefx/pull/6469#discussion_r56660671)

Closing this issue.

[2016-05-05 14:45] #7031 closed

[2016-05-05 15:38] weshaggard commented on #8307
The XML will compress well but it is probably the set of files that isn't needed for our testing purposes as it is mostly intellisense files. So it might be worth filtering those and nupkg files out.

[2016-05-05 16:35] #7437 closed

[2016-05-05 16:50] onovotny opened #8315 "Consider adding System.Linq.Expressions into Standard Library"
Currently System.Linq.Expressions is not included in the .NETStandard.Library.

While it's true that some cases might fallback to interpretation, there does seem to be an implementation that works everywhere. Even Xamarin.iOS had a solution to this (might be interpretation as well).

[2016-05-05 17:12] chcosta commented on #6798
I don't believe this is a real issue.  We can re-open if I am mistaken.

[2016-05-05 17:12] #6798 closed

[2016-05-05 17:39] CIPop commented on #8311
Thanks for noticing and reporting this @jchannon!

@SidharthNabar @himadrisarkar @davidsh Do you have any background on why we didn't add this to the contract surface initially?

Looking at the code I see that we might have the code already: the entry point is in [this file for Windows ](https://github.com/dotnet/corefx/blob/d0dc5fc099946adc1035b34a8b1f6042eddb0c75/src/System.Net.NetworkInformatio

[2016-05-05 17:42] ericeil commented on #8195
The test reserves an IPv4 port (and listens on it), and then tries to connect to an IPv6 endpoint with the same port number, expecting it to fail.  If another test (or another process) happens to be listening on that IPv6 port, then we'll successfully connect, and the test will fail.

[2016-05-05 17:44] ericeil commented on #8195
To do this right, we'd need to reserve an IPv4 *and* IPv6 port with the same port number, but only listen on the IPv4 port.  I'm not sure that's actually possible.

[2016-05-05 17:46] davidsh commented on #8311
It wasn't added to the original .NET Store Profile contract.  And that is because it wasn't possible to implement it on UWP (netcore50) which  uses the WinRT networking APis.  I will forward you info offline.

[2016-05-05 17:47] ericeil commented on #8195
Maybe we should simply remove this test, and all similar tests, as they aren't guaranteed to work; what's worse, they actually *interfere* with other tests.  But this has only occurred once so far, so it's probably not a huge priority.  I'll push this out to 1.1.

[2016-05-05 17:53] jchannon commented on #8311
So is that confirmation that it's not making it into 1.0.0?

On Thursday, 5 May 2016, David Shulman <notifications@github.com> wrote:

[2016-05-05 17:58] davidsh commented on #8311
Yes. However, we will consider it post RTM for a future contract if we determine that it can be implemented in a reliable manner.

[2016-05-05 18:00] jchannon commented on #8311
Hmmm. This might be problem for our systems. Thanks for the info.

On Thursday, 5 May 2016, David Shulman <notifications@github.com> wrote:

[2016-05-05 18:42] Priya91 commented on #8291
@CIPop What's the version of buildtools and dotnet cli?

[2016-05-05 18:44] AtsushiKan commented on #2583
Closed inadvertently.

Suggested fix is to rebuild the PFX's without the embedded key name so Windows is forced to gen up a random GUID name each time.

[2016-05-05 18:45] Priya91 commented on #8291
cli should be greater than or equal to 1.0.0-rc2-002547

[2016-05-05 19:15] AtsushiKan opened #8320 "Every time System.Net.Security\tests\FunctionalTests runs, some disk space gets eaten up permanently."
Every time System.Net.Security\tests\FunctionalTests runs, some disk space gets eaten up permanently. (That means every time people type "build" at the root.)

To observe:
[code]

This is because the test loads up and imports certificates from PFX files.

https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/tests/FunctionalTests/TestConfiguration.cs#L58

 Each time you call "new X5

[2016-05-05 19:27] tmat commented on #5217
Implemented by https://github.com/dotnet/corefx/pull/8316

[2016-05-05 19:30] tmat commented on #1665
Implemented in ManagedPEBuilder: https://github.com/dotnet/corefx/pull/8316

[2016-05-05 19:30] tmat commented on #1665
I'd add that the PE header padding is _not_ included in the hash, but the padding of each section _is_.

[2016-05-05 19:36] davidsh commented on #8311
Moving to post-RTM

[2016-05-05 20:24] davidsh commented on #7522
We have determined that this is a Windows OS level bug that we plan to fix in the next release of Windows 10.

In the meantime, using a `CancellationTokenSource` pattern will allow the `Stream.ReadAsync` to be cancelled correctly.

[code]

[2016-05-05 20:28] chcosta commented on #8104
We don't build sni in the corefx repo, which leads to the problem mentioned in this issue.  We are working to enable a solution.  In the meantime, @saurabh500 , if you believe there is a gap in test coverage here for RTM, please let me know.  Otherwise, I'll change the Milestone assigned for this issue.

[2016-05-05 20:30] chcosta commented on #8067
@JonHanna

[2016-05-05 20:32] CIPop commented on #8291
@Priya91 I've ran the following and now build passed! Thanks!

[code]

Got one failure in System.Net.Security that I'll be investigating.

[2016-05-05 20:32] #8291 closed

[2016-05-05 20:35] chcosta commented on #7927
@weshaggard , do we intend to move the System.Composition.* packaging into corefx?

[2016-05-05 20:37] saurabh500 commented on #8104
@chcosta as long as the Sql Client tests in the Functional folder are being executed, I am good with the triage to a later milestone.

[2016-05-05 20:49] DanAtkinson commented on #8146
Hi @operatoroverload, Thanks for doing that so quickly.

I've got to say that I hate the idea of calling it `ExtractToDirectoryAndOverwrite`. It seems to be against the general principles of the framework of using overloads rather than creating new methods for functionality that makes sense as being part of the base method from the beginning. Similarly, there is only one `CreateFromDirectory` meth

[2016-05-05 20:54] #7550 closed

[2016-05-05 20:54] #7551 closed

[2016-05-05 21:11] ianhays commented on #6408
I like leaving Interop at the call site of <i>methods</i>, but I don't love it for flags and enums that are defined in Interop files.

[2016-05-05 21:15] SGuyGe commented on #8238
Does this also happen on desktop .NET?

[2016-05-05 21:16] #8029 closed

[2016-05-05 21:51] MattGal opened #8324 "Two PLINQ tests consistently fail on 6 core HT Xeon machine"
I have a particular machine with a 6 core (Hyperthreaded to 12) CPU Xeon processor.   On this machine both in Windows and an ubuntu VM, I see the following two tests always fail in System.Linq.Parallel tests:

      <test name="System.Linq.Parallel.Tests.SelectSelectManyTests.Select_OrderablePartitionerWithOutOfOrderInputs_AsOrdered_CorrectOrder(keysOrderedInEachPartition: False, keysNormalized: T

[2016-05-05 22:09] lt72 commented on #7335
This does not make the bar for RTM as it is mostly a cosmetic issue about how error is presented, given that ETW would not be able to handle such amount of data anyway.

[2016-05-05 22:14] davmason commented on #4867
This has been addressed by one of the other fixes in the last 4 months, now the scenario is working.

[2016-05-05 22:14] #4867 closed

[2016-05-05 22:39] CIPop opened #8330 "Uri known issues"
- [ ]  Uri should not throw ArgumentOutOfRangeException for unknown schemes.
- [ ]  Normailzation should produce the same result for escaped/unescaped URIs
- [ ]  Canonical IPv6 is still performed for unknown schemes.

[2016-05-05 23:40] joshfree commented on #8324
@AlfredoMS can you please look into this PLINQ issue?

[2016-05-05 23:46] rrelyea opened #8336 "netcore .nupkgs have minclientversion=3.4 -- which will never be able to work in VS2013"
checked a few .nuspec files in yesterday's (i think) build of rc2
packages\System.Runtime\4.1.0-rc2-24027\System.Runtime.nuspec
uses a minClientVersion:
`  <metadata minClientVersion="3.4">`

NuGet is working on a v2.12 version of NuGet to work in VS 2013, which will not be able to support these packages unless minClientVersion is removed.

/cc: @ericstj @yishaigalatzer

[2016-05-06 00:13] tonyPendolino commented on #6826
This API was implemented using a mailto protocol launch, so there are some inherent limitations to lengths because of the standard. I'm looking at switching off of that implementation for our Anniversary Update. I'll try to update when we have a firm plan.

[2016-05-06 00:17] CIPop opened #8337 "Centos tests are failing with "Permission denied":"
*NIX tests are failing with "Permission denied":

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/932/
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/929/

[code]

[2016-05-06 00:42] OperatorOverload commented on #8146
The reason given in Gitter was that "Personally, I dislike Boolean parameters, especially because Booleans in general represent derived information".

It was clearly just a personal preference, but just bringing up the discussion since agreement on the API seemed to be the next step and that seemed like another reasonable suggestion.  I prefer the current implementation (hence why I implemented th

[2016-05-06 01:01] JonHanna commented on #8067
@chcosta I must admit I'm not entirely clear on how the package references work, but if I'm not completely off the mark then this public type should be visible, that not being so is a bug, and the change in #8339 will make it so.
But as I say, this is something where I don't even know basics that I probably should know, so maybe I'm barking up the wrong tree.

[2016-05-06 01:06] weshaggard commented on #7927
I don't know of any plans to remove the packaging for it.

[2016-05-06 01:23] ellismg commented on #8337
I am fixing this.  The problem is due to some bad CoreCLR CI definition updates.

[2016-05-06 01:29] AtsushiKan commented on #7908
Err... there's something in the build pipeline for this that's depending the environment variable **%BuildTestsAgainstPackages%** rather than the msbuild property **$(BuildTestsAgainstPackages)**.

If I build like this, I get the build errors (because the build pipeline isn't passing the Cng contract as a reference to csc)

`msbuild -t:clean;build;test -p:Configuration=Windows_Debug -p:BuildTestsA

[2016-05-06 01:34] bartonjs commented on #7908
I really wish Josh (or github) would tell me when he reassigns things away.

The failure on this is that we have tests for AesCng/TripleDesCng, but they're not in-contract.  I'm waiting for Steve Harter's ECDsa changes so we don't have to bump it twice.

[2016-05-06 02:09] AoifeB commented on #5939
using the prerelease after seeing this, but the usual TcpClient client = new TcpClient.Client("192.0.0.0",PORT); is not working? no overloads available? What's going on there?

[2016-05-06 02:22] davidsh commented on #5939
`TcpClient` class is in the 4.1.* System.Net.Sockets package.

Please attach a full repro of your issue including project.json.  Thx.

[2016-05-06 02:24] ellismg commented on #8337
Fixed by dotnet/coreclr#4821.  Please retry any failed legs and let me know if you continue to see this.

[2016-05-06 02:27] AlfredoMS commented on #8324
I'll stop by your office tomorrow morning

[2016-05-06 02:38] AoifeB commented on #5939
Hey - sorry struggling with the port of a project with all these changes.
project.json is below.
***********************************************************************************
{
  "dependencies": {
    "DBreeze": "1.74.0",
    "M2Mqtt": "4.3.0",
    "Microsoft.NETCore.UniversalWindowsPlatform": "5.0.0",
    "Newtonsoft.Json": "8.0.3",
    "protobuf-net": "2.0.0.668",
    "System.Net.Sockets":

[2016-05-06 02:54] ericstj commented on #8336
We can make them work in nuget 2 once we have a version that supports all new monikers.

[2016-05-06 02:56] yishaigalatzer commented on #8336
We have one in flight, shouldn't the packages going live support it? How would we validate in the wild with this block in place at RC2 time?

[2016-05-06 03:11] ericstj commented on #8336
Share bits and I'll try it out and lower the minClientVersion.  I don't suppose there's a chance that you'll support minClientVersion="2.12,3.4"?  Otherwise we'll get folks asking why these packages don't work with NuGet 3.3.

[2016-05-06 03:14] yishaigalatzer commented on #8336
There is no way to go back in time and make old versions understand it

[2016-05-06 03:15] yishaigalatzer commented on #8336
Bits will be ready in a couple of days. But note that this will be similar to a packages.config scenario in 3.4.4 we don't plan on porting PJ down

[2016-05-06 03:22] ericstj commented on #8336
Yeah, we've done some work to support packages.config in 3.4 so we should work in packages.config on 2.12..  I was hoping there was some syntax, like 2.12,3.4 that both 2.11 and 3.3 would reject but 3.4 and 2.12 would accept (suppose the old clients would treat parsing error as not supported).

[2016-05-06 03:26] yishaigalatzer commented on #8336
We weren't that smart when the feature was first developed.

[2016-05-06 03:28] AoifeB commented on #5939
Note: Have managed to get around this by using the Addressfamily approach, apologies - I assumed that the same connection approach could be used in the latest system.net.sockets nuget but after examining the metadata file, you can only use the Addressfamily;

public TcpClient();
public TcpClient(AddressFamily family);

not the previous

public TcpClient();
public TcpClient(IPEndPoint localEP);
pub

[2016-05-06 03:29] davidsh commented on #5939
This is the beta package.  You need to try to out either the RC3 (current dev feed) packages on the MYGET feed.  The beta package had problems with UWP target.

https://dotnet.myget.org/gallery/dotnet-core

or wait until later next week when RC2 publishes to NuGet.Org

But I will say that the property 'Client' on the `TcpClient` object is not part of the 4.1 contract.  While it is on .NET Framewor

[2016-05-06 03:30] ericstj commented on #8336
What about us producing a package with minClientVersion=2.12 and minClientVersion3=3.4 and then the v2 feeds serve up the package unmodified, but the v3 feeds rewrite the package to use the higher minClientVersion?

[2016-05-06 03:32] yishaigalatzer commented on #8336
And then it breaks on all the public servers AND fails after you put it in the local folder. Agree we need to find something creative but I don't have a clean way to do it

[2016-05-06 03:48] ericstj commented on #8336
Id really like you to think about how to represent the comstaint better.  We already get a ton of folks reporting issues where nuget isn't checkin min version; I suspect many more once we have to lie and say 2.12...

[2016-05-06 03:55] TorbenJ opened #8341 "Unable to build under Windows 10 x64"
Today I tried to build this repository but unfortunately it didn't succeed.
I got several "Permission denied" errors while running the tests so I tried running them in an elevated cmd. I also noticed several test failures so I copied every line from the build log that indicates a warning or an error into a gist.
Apart from that the build process gets stuck after the test summary of System.Net.Sock

[2016-05-06 04:07] CIPop commented on #8337
That was fast!
Thanks @ellismg!

[2016-05-06 04:07] #8337 closed

[2016-05-06 04:33] ellismg commented on #8341
Is it possible to attach the full msbuild.log file to this issue?

A bunch of folks on the team use Windows 10 x64.  I'm not sure if there's something specific about this SKU however.  A complete log could be helpful.

[2016-05-06 04:50] SamuelEnglard commented on #8238
@SGuyGe Can reproduce in Desktop .NET 2.0 through 4.6.2

[2016-05-06 05:30] stephentoub commented on #8324
I know what the problem is.  It's a test bug.  I'll fix it.

[2016-05-06 05:54] cdrnet commented on #8336
Seems the issue here is that the constraint is scoped at the client, while it should really be scoped at the NuGet package format.

[2016-05-06 06:48] stephentoub opened #8346 "IdnMappingGetAsciiTests.GetAscii failing on Unix in CI"
This is consistently failing on OpenSUSE 13.2 and Ubuntu 16.04, e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/opensuse13.2_debug_tst/248/consoleText
[code]
cc: @tarekgh, @hughbe

[2016-05-06 06:56] hughbe commented on #8346
Seems like Ubuntu 16.04 has different behaviour than 14.04 - we could delete this test if it's complicated, or include PlatformDetection

[2016-05-06 06:59] Sinishin commented on #4631
Many thanks, @PeteX.

  I was able to adapt ASP.NET HelloMVC project to connect to PostgreSQL using Npgsql 3.1.0-alpha6 on Ubuntu 14.04.2 LTS. Just replaced System.Native.so with your version of the file in "~/.dnx/runtimes/~/.dnx/runtimes/dnx-coreclr-linux-x64.1.0.0-rc1-update2/bin". Didn't have to add the dependencies you mentioned, though. The problem I was facing is described in a [separate is

[2016-05-06 07:13] manu-silicon commented on #7538
I checked this and here is the results. To compile from scratch it took 19 minutes (almost 3 times faster), an incremental compilation without changes took 12min30s (including 2 minutes to restore all packages).

So there have been some improvements :+1: but looks like there are still a few issues during the build. First it still compile the Tests assemblies, is this expected? Second when it tries

[2016-05-06 07:49] yishaigalatzer commented on #8336
The constraint is just a dumb "big hammer". It's very unfortunate, we will have to build something more intelligent like browser feature detection but then will have to retrofit all the old clients which isn't possible.

We could think of something else going forward beyond 3.5 and 2.12. Something like: requires: [" feature1", "feature2"]  that wouldnt say what client supports, unless we build a s

[2016-05-06 08:42] DanAtkinson commented on #8146
Thanks. I understand their point but disagree with the reasoning given that boolean overloads are par for the course and are standard in many languages. Similarly, one could also argue the same about enums like [`CompressionLevel`](https://msdn.microsoft.com/en-us/library/system.io.compression.compressionlevel(v=vs.110).aspx).

Anyway, thank you for implementing it. I haven't looked at the source

[2016-05-06 11:06] TorbenJ commented on #8341
[msbuild.log](https://github.com/dotnet/corefx/files/252021/msbuild.log.txt)

[2016-05-06 13:35] AtsushiKan commented on #7908
Oh right – I actually remember seeing those two classes missing from the contract a few days ago, but naturally, I didn’t write it down and I couldn’t get back to that exact error message because of the build pipeline issues I noted (or maybe the instructions in the issue are just inadequate.)

So do you want the bug back? It sounds like it’s already on your to-do list as soon the ECDSA stuff come

[2016-05-06 14:22] svick commented on #5939
@AoifeB

This: `TcpClient client = new TcpClient.Client("192.0.0.0",PORT);` can't possibly work, on .Net Core or .Net Framework. I think you meant: `TcpClient client = new TcpClient("192.0.0.0",PORT);`.

[2016-05-06 14:40] marcusien opened #8348 "Implement MEF DirectoryCatalog"
Hi,

Really need to got back the feature of MEF to get all dlls from a directory via DirectoryCatalog.
Is there something done in that way ?

Thank you

[2016-05-06 15:38] tarekgh commented on #8346
CC @ellismg

[2016-05-06 15:43] mellinoe commented on #7538
It depends on how you ran the build, but yeah, it is expected. You can do some filtering so that some subsets are built and everything else is skipped, but by default (i.e. `build.sh` or `msbuild build.proj`), everything will get built including test assemblies. Test assemblies should get skipped if they aren't applicable to your platform, but that's a small minority of them.

Please do, it looks

[2016-05-06 15:50] mellinoe commented on #8341
It looks like almost everything succeeded except one test project, which is most likely just due to flaky tests, but may be due to a real issue. Could you try doing the following and let us know what happens?

[code]

That will re-run only the System.Net.Sockets tests that failed.

[2016-05-06 15:54] tarekgh commented on #8346
looks they have fixed the behavior mentioned in https://github.com/dotnet/corefx/issues/8242

[code]

[2016-05-06 16:02] hughbe commented on #8346
I assume they've already fixed it but we use an old ICU on 14.04

[2016-05-06 16:48] weshaggard commented on #7436
@ianhays Unless I missed it it doesn't look like your PR https://github.com/dotnet/corefx/pull/7840 fixed the ARM issue. We still need to address that.

[2016-05-06 16:50] chcosta commented on #8067
Your assessment sounds correct to me.

[2016-05-06 16:53] ianhays commented on #7436
No you're right, it did not change the RID for ARM. I'll push a quick fix for that.

[2016-05-06 17:22] khdang commented on #7781
Agree I'm closing this now.

[2016-05-06 17:22] #7781 closed

[2016-05-06 17:37] brian-white opened #8353 "Consider adding UnixTime support to DateTime and DateTimeOffset"
One of the big reasons to use dotnetcore is to be able to run on Linux.  Please consider adding functions to output datetime to epoch format which is the standard on Linux environments.  These suggestions may be a little off but they seem to make sense to me.

Add a UnixTime DateTimeKind enum value
https://msdn.microsoft.com/en-us/library/shx7s921(v=vs.110).aspx

DateTimeOffset can output in unix

[2016-05-06 18:06] ellismg opened #8355 "Unix Pipes temp directory creation has ACL issues for multi users."
When the pipes code creates the temporary directory (/tmp/.dotnet/corefx) it will create the directories with 700 permissions if they are missing.

Once this is done, no other user can use this name.

This breaks cases where you run dotnet apps as two different users (a common case would be you run one app as root and then another as your local user.  If the root one runs first, you can no longer

[2016-05-06 18:06] ellismg commented on #8355
/cc @stephentoub

[2016-05-06 18:10] CIPop opened #8356 "Assertion in TryPreprocessIPv6Address within the *NIX IPAddressPAL"
Repro test: System.PrivateUri.Tests.UriIpHostTest.UriIPv6Host_BadAddresses_AllFail()

From http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/823/testReport/junit/System.PrivateUri.Tests/UriIpHostTest/UriIPv6Host_BadAddresses_AllFail/

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/823/

[code]

[2016-05-06 18:13] CIPop commented on #8330
Assigning this to @himadrisarkar.
My recommendation is to triage each of these issues individually.

[2016-05-06 18:16] stephentoub commented on #8355
@ellismg, is this with rc2 or with later?

[2016-05-06 18:17] ianhays commented on #8108
I've got a prototype for this but am unsure how to test the thing. It looks like I could test it out of UWP fairly well through ```msbuild /t:buildandtest /p:TargetGroup=netcore50 /p:PackageTargetFramework=netcore50``` but the multiplexing always chooses the Win32 functions.

Any tips on how to test WinRT functionality before I submit my PR?

[2016-05-06 18:19] tarekgh commented on #8353
I don't think this is good idea. DateTimeKind is already confusing, adding UnixTime to it will increase this confusion. also if we added UnixTime, what this means, it is UTC time or local time? we recommend to use DateTimeOffset if you want to avoid the confusion of DateTimeKind.

I'll look at the rest of your suggestions but I would like to see what exactly the scenario that you are running to ca

[2016-05-06 18:29] Priya91 commented on #3311
@VSadov As @mmitche suggested, have you checked out if ActiveIssue attribute works for this?

[2016-05-06 18:32] Priya91 commented on #8101
This issue will be revisited after API port effort.

[2016-05-06 18:35] stephentoub opened #8358 "Expose Stream.Begin/EndRead/Write in System.IO contract"
We really want devs to use Stream.Read/WriteAsync, but not having these Begin/End methods exposed breaks portability scenarios, e.g. where a stream in the full framework wraps another stream (e.g. SslStream) and the wrapper's async implementation wraps the Begin/End methods on the underlying Stream.  Without these Begin/End members in the contract, it's impossible for a portable Stream implementat

[2016-05-06 18:40] ellismg commented on #8355
@stephentoub I was using master for my testing.  I can look at RC2 if you'd like.

[2016-05-06 18:42] stephentoub commented on #8355
Hmm, ok, I'll take a look.  I haven't look at the code in a little while, but I thought this was already addressed.  Just so I know, was this on a clean machine, or is it possible these directories existed from previous versions being used?

[2016-05-06 18:43] ianhays commented on #8146
:+1: for the overload, though I vaguely recall a discussion recently where we decided it's better to have a separate function than to have an optional/default parameter.

I agree that a new function name is unnecessary.

[2016-05-06 18:49] ellismg commented on #8355
The way I tested this was to start by deleting all of .dotnet in /tmp.  Then I built and ran the System.IO.Pipes tests as root using sudo (on a clean enlistment).  They all passed.  The as root I git cleaned my clone and then as my local user built and ran the tests again.  They hit this issue.

[2016-05-06 18:49] OperatorOverload commented on #8146
Happy to rework to a separate function if that's preferable, would be easy to do, just trying to learn the preferred style approach

[2016-05-06 18:50] AtsushiKan commented on #2583
Assigning to you so you can try out your new pfx debagger tool.

[2016-05-06 18:55] brian-white commented on #8353
That's the problem - there are hundreds of sets of code people have written all other the net solving 'how do you convert to unix time in .net'.  I've found a couple different implementations of functions for it in my company's codebase, along with inline calls like - new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc)).TotalSeconds.  Google that string and you get 354,000 results :)
htt

[2016-05-06 19:02] twsouthwick commented on #8050
Not yet - dev/typedescriptor has yet to be merged.

[2016-05-06 19:03] twsouthwick opened #8359 "Remove non-generic collections from System.ComponentModel.TypeConverter"

[2016-05-06 19:05] tarekgh commented on #8346
This  should be fixed by the linked PR

[2016-05-06 19:05] #8346 closed

[2016-05-06 19:15] tarekgh commented on #8353
@brian-white thanks for your quick response. my point was to avoid playing with the DateTimeKind but we can provide some helpers to easily create Unix DateTime. Something like DateTime.LinuxEpoch, GetLinuxDateTime(int64)...etc.

so I am not objecting the idea of the support but I am objecting to miss up with DateTimeKind :-)

[2016-05-06 19:18] ianhays commented on #8146
# Problem

via @DanAtkinson:

Currently ExtractToDirectory is only useful if the target directory is virginal (eg clean or contains files which are not in the zip being extracted). If you're performing an extraction over an existing directory however, then the functionality is extremely limited because you will encounter the following example exception:

Exception calling "ExtractToDirectory" with

[2016-05-06 19:23] brian-white commented on #8353
That's fine with me.  I had specific suggestions but my real goal is just that there is some 'official' way of doing the conversion to avoid people copy/pasting code from stackoverflow to solve it.

I'm curious... what would be the behavior of DateTimeKind.Local in c# on linux where local is actually unix time?  Would it behave like UTC in that case?

[2016-05-06 19:28] ericstj commented on #8108
Internally we would run the tests using either the pictures or documents folder as the root and from an appx process.  Not sure corefx has the test infra to set up appx.  You can use tof and enable the enumeration tests for WinRT.

[2016-05-06 19:33] svick commented on #8315
Why do you think it's a problem that it's not included? When you need it, you can just specify it in `project.json`. And since I believe it's relatively rare to need it directly, not including it makes sense to me, since it means people who don't need it don't need to download it.

[2016-05-06 19:40] OperatorOverload commented on #8146
Here's the version that matches the proposed implementation which maintains the existing function signature and adds a new function with the additional boolean parameter

OperatorOverload@9e28192ea4ed9839c240f5cf0880406d5df4e41a

[2016-05-06 20:00] CIPop opened #8360 "IPAddress.ToString behavior difference: IPv6-mapped addresses format as regular IPv6 addresses"
From
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/823/testReport/junit/System.PrivateUri.Tests/UriIpHostTest/UriIPv6Host_EmbeddedIPv4_Success/

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/823/

[code]

[2016-05-06 20:04] CIPop opened #8361 "IPAddress.Parse behavior difference: failure to reject many bad IP address strings."
System.PrivateUri.Tests.UriIpHostTest.UriIPv4Host_BadAddresses_AllFail

From:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/823/testReport/junit/System.PrivateUri.Tests/UriIpHostTest/UriIPv4Host_BadAddresses_AllFail/
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/823/

[code]

[2016-05-06 21:17] tarekgh commented on #8353
The behavior on Linux will be as the behavior on Windows. I mean it wil be the time on the locale time zone of the system. fo rexample, if you call DateTime.Now, we get the system time in UTC and then convert it to the local time using the system time zone setting.

[2016-05-06 21:49] CIPop opened #8362 "IPAddress.TryParse behavior difference: dotted octal"
In OSX _only_ there are 3 tests failing for the dotted octal IP format:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/867/

- [ ] UriIPv4Host_DottedOctalExtraLeadingZeros_Success

[code]

- [ ] UriIPv4Host_PartialOctal_Success

[code]

- [ ] UriIPv4Host_DottedOctal_Success

[code]

[2016-05-06 22:02] #8324 closed

[2016-05-06 22:26] ericstj commented on #8336
So for the short term we'll set it at 2.12 and add some note to the package description that we need 3.4 for folks on NuGet 3.

[2016-05-06 23:22] TorbenJ commented on #8341
I ran this but nothing special happened and msbuild succeeds without any errors or warnings.

The full output:
[https://gist.github.com/TorbenJ/b677929f4689a61548be402e3396d0e6](url)

[2016-05-06 23:46] joperezr commented on #7538
Thanks for checking Manu, so then does it make sense to close this issue and open one for the chmod error?

[2016-05-07 00:23] CIPop opened #8366 "System.Net.Http.Functional.Tests RevokedCertificate 2 tests fail"
Failures on Ubuntu:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/854/
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/854/

Failures on Centos:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_tst_prtest/861/consoleFull#6262143651f1a4601-6aec-4fd5-b678-78d4389fd5e8

[code]

[code]

[2016-05-07 00:24] VSadov commented on #3311
As I understand ActiveIssue is used to indicate a currently open bug that affects the test. Correct me if I am wrong.

What we'd like here is a way to refer to bugs/workitems that had effect on a given testcase in the past.

That way you do not need to put a lot of explanation in the testcase - the bug typically already has all the context on what breaks, how and what justifies fixing it and so on

[2016-05-07 00:25] CIPop opened #8367 "Several tests "Aborted" on CentOS"
From : http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_debug_tst_prtest/858/consoleFull#6262143651f1a4601-6aec-4fd5-b678-78d4389fd5e8

[code]

[2016-05-07 00:34] ellismg commented on #8367
@MattGal, have you seen this "aborted" thing before?

[2016-05-07 01:19] davidsh opened #8369 "Building CoreFx on Windows requires both MsBuild 12.0 and 14.0 tools installed"
The instructions for setting up a machine to build CoreFx are not precise and can lead to problems building.  The instructions right now say:
https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md

“Visual Studio 2015 is required.”

However, that is not sufficient using the default settings of Visual Studio 2015 install.

The default settings will only install

[2016-05-07 01:19] davidsh commented on #8369
cc: @ellismg @weshaggard @stephentoub @CIPop

[2016-05-07 01:35] JeffCyr opened #8371 "Dns.GetHostAddressesAsync is blocking a ThreadPool thread"
The implementation of Dns.GetHostAddressesAsync is just a wrapper around the blocking implementation and is queued on the ThreadPool.

https://github.com/dotnet/corefx/blob/1baa9ad06a466a5d6399e1e0a7a7a02564ab51b0/src/System.Net.NameResolution/src/System/Net/DNS.cs#L274

This can lead to a ThreadPool starvation when there are many concurrent calls of GetHostAddressAsync in an environment where the

[2016-05-07 01:53] davidsh commented on #8371
cc: @CIPop

[2016-05-07 02:44] stephentoub commented on #8367
Looks like a seg fault.

[2016-05-07 03:37] Priya91 commented on #3311
@VSadov Yeah, that's correct, ActiveIssue applies only for disabling tests linked to an open issue. But how common is the scenario you mention? This will be valid only till the bug is kept in the database. If it was indeed important to preserve some information in code, that will be useful forever, then i think it is best to comment it near the code, instead of having a dependency over an external

[2016-05-07 03:42] benaadams commented on #8358
Related full framework blocked stack trace

![](http://aoa.blob.core.windows.net/aspnet/sslstream-async-issue.png)

[2016-05-07 05:21] stephentoub commented on #8366
Failures on Windows:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/979/consoleText

This wasn't specific to any particular OS.  I think the site this was talking to was just down briefly.  It'd be great to find a way to test this instead with a local loopback server.

[2016-05-07 05:22] #8355 closed

[2016-05-07 07:15] #8113 closed

[2016-05-07 10:30] hughbe commented on #507
@ianhays has this been fixed by your work in the System.Collections.Tests common test helpers? If not, what remains?

[2016-05-07 11:58] benaadams commented on #5044
@roji I think that's a bug, see https://github.com/dotnet/corefx/issues/8371

[2016-05-07 12:34] AoifeB commented on #5939
Yep  my mistake, that was just a typo in the original query - the code itself has the correct call.
cheers,
----- Original Message -----
From: Petr Onderka <notifications@github.com>
To: dotnet/corefx <corefx@noreply.github.com>
Cc: AoifeB <aoife.breathnach@imdexlimited.com>, Mention <mention@noreply.github.com>
Sent: Fri, 06 May 2016 22:23:05 +0800 (WST)
Subject: Re: [dotnet/corefx] Can't locate

[2016-05-07 13:37] GSPP commented on #8173
There already is a `StreamWriter(string, bool)` overload where the bool does something entirely different than `bool leaveOpen`. It means `append`.

The constructor system for this class is a bit messed up. These mistakes were made in the 1.0 days. Option 3 seems best because it does not add more confusing overloads.

Should the "default" buffer size be specified by `0` or by `-1`? Not sure. Maybe

[2016-05-07 13:48] GSPP opened #8376 "Reduce the minimum buffer size required by the StreamWriter class"
`StreamWriter` forces its `bufferSize` constructor parameter to be at least `128`. There is no workaround. This seems unnecessarily limiting. `bufferSize = 128` actually consumes about `256+(128*3)` bytes of memory with UTF8 (I checked this using the debugger). This is a significant amount of memory per instance.

If the user really wants a smaller size, maybe knowing something about the data dist

[2016-05-07 13:54] GSPP commented on #8130
If the decision is to not guarantee reference equality it would be useful to intentionally break it. That way developers will at least find the bug during testing.

This could be done like this: `if (coinToss(probability: 1e-3)) dontUseCache = true;`.

This piece of code has many problems but maybe something better can be found that at least alerts the developer who is mistakenly relying on this.

[2016-05-07 13:56] ianhays commented on #507
Thanks @hughbe, I didn't see this issue but it sounds like I resolved it already with  https://github.com/dotnet/corefx/pull/5764.

@eatdrinksleepcode check out the test files at https://github.com/dotnet/corefx/tree/master/src/Common/tests/System/Collections. Absolutely feel free to add tests if you see gaps in the generic collections tests there :) My goal in adding them was to create a set of i

[2016-05-07 14:01] Mike-EEE commented on #8130
That is a good idea as well @GSPP.  From my take, to me (and others) it seems/feels like the type system _should_ be static/cached per app domain.  It is natural to expect (or assume, as what has gotten us into this issue to begin with :smile: ) that each type object is indeed the one representation for that object (or "semantically equal" as @AtsushiKan much more elegantly/efficiently put it!).

[2016-05-07 14:01] hughbe commented on #507
Ah good to know. Should this be closed then?

[2016-05-07 14:07] GSPP commented on #8130
Some code enumerates all types and all members of all loaded assemblies. It does that once to find a few important items that it cares about. If the cache was as proposed this would leave a bug amount of waste forever.

Or, all cache contents must be held through weak references. But they are (I think) costly. Also, the GC would then regularly kill the cache contents. Weak ref based caches are bad

[2016-05-07 14:11] Mike-EEE commented on #8130
well that is a good point.  Right now all of those members and types are indeed kept in memory.  There is no way currently of releasing those members from memory after they are loaded, correct?  So we might me able to improve upon that as well.  So... `MemberInfo.Guid` or `MemberInfo.GetHashCode` override then. :smile:

[2016-05-07 14:15] GSPP commented on #8130
Since it was not mentioned before: I think all of these classes should have their equality operators overloaded. That way a lot of now broken code starts to become correct after a recompile. I can't come up with any potential code that would be broken by that. This would mitigate some compatibility concerns as well.

[2016-05-07 14:25] ianhays commented on #507
Yeah probably. I'll go ahead and close it and @eatdrinksleepcode can comment/re-open if he had something else in mind.

[2016-05-07 14:25] #507 closed

[2016-05-07 14:57] davidsh commented on #8366
This is really hard to test with a loopback server because revocation checking requires that the certificate be trusted in the first place and that is hard to do with fake servers.

I was thinking, though, of moving these tests to our own Azure test endpoint which would be more stable than a 3rd party server.

[2016-05-07 16:21] svick commented on #8173
@GSPP I think that `bufferSize: 0` could be confused for something like "don't use any buffer". On the other hand, it would feel weird if valid values were -1 and 1..`int.MaxValue` (with a hole at 0).

`FileStream` doesn't have a special value for default, but [its default buffer size is documented](http://dotnet.github.io/api/System.IO.FileStream.html#System_IO_FileStream__ctor_System_String_Syst

[2016-05-07 19:18] aL3891 commented on #5286
This is now resolved by #7966, thank you @mellinoe !

[2016-05-07 19:18] #5286 closed

[2016-05-07 19:35] davidfowl commented on #4571
I don't have a stake in this, I'm mostly asking questions to learn more.

How would this work on .NET Core. There is no global configuration system, or GAC. I'm just not connecting the dots here. The API proposed is a glorified dictionary. Is the argument that it's a dictionary in the System.Data namespace so everyone will use it?

[2016-05-07 20:05] FransBouma commented on #4571
The current API in .NET full is a glorified datatable ;) anything that can provide me at runtime with an instance of the factory for an ADO.NET provider works. DataTable isn't suitable for core, a dictionary can work fine too. It's not a complicated system: you have a unique name and it resolves through the API to a type that's instantiated and the instance is used to create objects on the fly for

[2016-05-07 20:42] svick commented on #8376
Why? I can see it mattering for .Net Framework, where you want, say, `bufferSize: 1` used incorrectly to keep being reasonably fast. But for .Net Core, I don't think the compatibility bar should be that high, especially since I don't think this is going to be a common issue.

The increasing buffer solution might work, but I don't think it would be right to double after every exhaustion: I think th

[2016-05-07 20:52] svick commented on #8376
Also, since what I think you actually want is to avoid allocations, maybe some way to make `StreamWriter` work with `System.Buffers` could help? (But [it can't be used directly](https://github.com/dotnet/corefx/issues/5598#issuecomment-173726925).)

[2016-05-07 21:06] simonpapworth6742 commented on #6564
Just to say that we have improved our front end server responsiveness by 30%, reduced from 12 cores at max load to 2 cores at max load, decreased the redis cache size from 1.7Gb to 350Mb overall reduced our Azure hosting by 20% (bit more really)

You guessed it BinaryFormatter!

Were using netdatacontractserializer

I came here looking for answers to .Net 4.6.1 being so much slower with BinaryForm

[2016-05-07 21:20] GSPP commented on #8173
Right, I was concerned about the "hole" but I was not able to express that.

`FileStream` has a similar design error. Some constructors require you to specify a buffer size even if you don't want to do that. I always hit that issue when I want to pass `FileOptions.SequentialScan`. If I'm not making use of buffering I always pass in `1` which is ugly. `0` is not allowed, alas.

Could we make the bu

[2016-05-07 21:26] GSPP commented on #8376
That's the concern. Maybe we could increase to 128 immediately on the first exhaustion. This would cause only one "false" allocation in the bad case.

I think the exponentially increasing buffer size in quite a useful behavior, even if the user does not specify any size. It's like `List<T>` and it's an amazingly effective heuristic in practice.

While that is true I believe that the only long-term

[2016-05-07 23:09] bartonjs commented on #2583
Okay, I've written two tools, and am reasonably sure they both work.
Tool 1) Using OpenSsl, read the PFX, remove the one attribute (private key friendly name), repack the PFX.
Tool 2) Using Crypt32, read the PFX with PKCS12_NO_PERSIST_KEY, re-export the PFX (which now doesn't have the private key friendly name attribute).

The OpenSsl way means that any data that was part of the original export is

[2016-05-07 23:40] bartonjs opened #8379 "Evaluate the impact of changing to CryptProtectData in SecureString"
https://github.com/dotnet/corefx/pull/8372 is resurrecting a CoreFx implementation of SecureString.

The desktop version uses CryptProtectMemory at the SAME_PROCESS scope.
The current corefx version uses CryptProtectData, which is a SAME_USER scope.

There are two compatibility changes to consider:
1) CoreFx effectively allows a SecureString to now be marshalled into another process (though there

[2016-05-08 00:43] svick commented on #8173
I *think* so, I can't think of any situation where it would break compatibility. And it's not a bad idea, assuming this will become the accepted way for optional value type parameters going forward.

[2016-05-08 02:42] ThadHouse opened #8380 "Add way to receive RemoteEndPoint from TcpClient"
I'm working on porting one of my networking libraries to .NET Core, and some of the changes made to sockets and TcpClient have made some information impossible to get. I was using a derived version of NetworkStream, however with the removal of the Client property, I could not create that anymore. I can work without that, but with neither NetworkStream or TcpClient providing the RemoteEndPoint of t

[2016-05-08 03:46] davidsh commented on #8380
cc: @CIPop @himadrisarkar

[2016-05-08 04:00] Mike-EEE commented on #5766
Got some great discussion going in the comments of this post:
https://blogs.msdn.microsoft.com/dotnet/2016/05/06/net-core-rc2-improvements-schedule-and-roadmap/

Basically JSON vs Xaml for the new project system that appears to be underway for Visual Studio (hooray!).  Feel free to join in. :)  So glad to see that this is getting another look.

[2016-05-08 07:39] hughbe opened #8381 "Using locally build mscorlib in test project bin makes CoreRun.exe crash"
Some libraries (for some reason still unknown to me) are contained in mscorlib, such as System.Text.Encoding, System.Runtime etc.
I wanted to run a coverage report for these projects, so @stephentoub suggested the following.

2. Build coreclr locally in debug.
3. Copy the debug binaries (e.g. mscorlib.dll, coreclr.dll, mscorlib.pdb, etc.) from the coreclr build to that dnxcore50 folder, overwritin

[2016-05-08 07:57] davidfowl opened #8382 "Add async overloads to BinaryReader"
Because I'd love to use it to read things, asynchronously from the network.

[2016-05-08 09:35] roji commented on #8371
@JeffCyr, you're right that if Windows and Linux provide real async DNS options, these should be used to implement Dns.GetHostAddressesAsync.

However, how would that fix thread pool starvation? A real async API would also execute its callback in a threadpool thread, leading to starvation in cases where there are many concurrent calls, slow DNS and a pool without many threads (e.g. ramp-up time).

[2016-05-08 09:36] roji commented on #5044
@benaadams see my comment https://github.com/dotnet/corefx/issues/8371#issuecomment-217705749: the risk of threadpool starvation seems like a general problem with async, not a specific problem with how DNS resolution works - that's the point I'm trying to make here (unless I'm missing something).

[2016-05-08 09:57] GSPP commented on #8371
The callbacks have almost no work to do. They basically need to execute the user-provided callback and update some state (maybe complete a task). Whereas the IO might run for 100ms the callbacks run for 0.001ms and are purely CPU work.

[2016-05-08 10:00] roji commented on #8371
@GSPP how do you know that the callbacks have almost no work to do? The user-provided callback my be anything at all, including some lengthy operation, computational or otherwise?

[2016-05-08 10:03] GSPP commented on #8371
That's not the frameworks problem. If users want non-blocking IO they should not execute `Sleep(1000)` in their callbacks. The framework *enables* non-blocking IO for non-incompetent callers.

[2016-05-08 10:43] svick commented on #8371
@roji I don't understand why you think proper async calls make thread pool starvation a problem, where it's not a problem for sync calls.

If you make those calls from thread pool threads, then using async clearly decreases thread pool pressure.

If you make those calls from many non-thread pool threads, then you can use `TaskScheduler` or `SynchronizationContext` to execute your long callbacks ba

[2016-05-08 10:51] roji commented on #8371
I never anything here was the framework's problem... Rereading the original post I agree that the current framework implementation of shoving a blocking I/O operation to the pool is highly problematic.

@gspp and @svick I admit I'm continuing the discussion in #5044 - this isn't really relevant to this issue. @svick, the point is a sync blocking operation has the (small!) advantage of not relying

[2016-05-08 12:14] GSPP commented on #5044
The starvation issue should always be worse with sync IO running on pool threads as it is with async completion callbacks posted to the TP.

It is true that "pathologically" bad cases can happen due to scheduling etc. but the way to avoid *all* of those systematically is to not overload the TP.

In a pure async IO workload the only way the pool can be overloaded is when the CPU becomes saturated.

[2016-05-08 13:08] roji commented on #5044
@GSPP we more or less agree...

About dropping synchronous IO methods, see https://github.com/dotnet/corefx/pull/4868 where I complain about the removal of `SslStream.AuthenticateAsClient()`. But closer to our subject, netstandard1_3 drops the sync `Dns.GetHostAddresses()` - you have to use `Dns.GetHostAddressesAsync()` (which ironically isn't async as in #8371!!). So there's seems to be a "let's

[2016-05-08 13:38] jasonwilliams200OK commented on #5766
@Mike-EEE, also have a look at this roadmap: https://github.com/dotnet/roslyn-project-system/blob/master/docs/Roadmap.md. The new Roslyn powered project system is going to be .. precious.

[2016-05-08 13:45] GSPP commented on #2454
[Apparently, WCF has a bug caused by TPL reentrancy.](http://stackoverflow.com/questions/37087103/wcf-client-hangs-on-any-operation-after-awaiting-async-operation-in-console-appl)

In the following code the await continuation is inlined causing reentrancy in WCF:

    var s = new MyWcfClient();
    await s.LockUserAsync(id); //Continuation inlined
    s.IsUserLocked(id); //Deadlocks inside of WCF

[2016-05-08 13:47] Mike-EEE commented on #5766
whoa... crazy that I am just hearing about this now.  this must be what Scott Hunter was referring to in the aforementioned blog post for more information forthcoming in a future post.  Good to see.  Roslyn power grows.  Although, I would feel more comfortable seeing a few issues for Xaml-serialized project definitions. :wink:

[2016-05-08 13:49] GSPP commented on #5044
Maybe you should open a ticket dedicated to that request. This one is a discussion about many things. Make a formal request to continue to provide synchronous methods except in special cases.

Fyi, starting with .NET 4.6 (I think) the ADO.NET query methods are internally async and the sync methods are sync-over-async. Not sure if that was a good choice. Might be an OK engineering trade-off. On the

[2016-05-08 13:52] roji commented on #5044
@GSPP this is exactly what this issue is for (#5044)... But nobody from Microsoft seems to be taking it seriously.

Thanks for mentioning about .NET 4.6, I didn't know that! Can you point to any issue/PR where this is discussed? Any idea what's the status with CoreCLR?

[2016-05-08 13:52] roji commented on #5044
Also, why do you say async isn't useful for database calls? It's I/O like any other, why not make your webapp be more scalable by not blocking a thread while waiting for a database response?

[2016-05-08 14:00] GSPP commented on #5044
If threads are not scarce the scalability gains are zero.

DB calls are quick, almost by construction. If they are slow then the database is overloaded. The DB becomes overloaded far quicker than the web app loses its ability to provision threads.

In reporting workloads queries take a long time but there are few of them at the same time.

The number of threads consumed is equal to (latency * freq

[2016-05-08 14:04] roji commented on #5044
@GSPP interesting argument. Although nowadays databases are sometimes far away geographically (e.g.another datacenter) so a lot of the latency could be network rather than database load. But I understand the general argument.

[2016-05-08 14:21] jasonwilliams200OK commented on #5766
See the readme of that repo: https://github.com/dotnet/roslyn-project-system#welcome-to-the-roslyn-c-and-visual-basic-project-system (and the link to VS MSDN blog), it seems like we would be able to replace various components using MEF, which would make it possible to insert an additional serializer to parse project definition written in XAML. Personally, I have grown to prefer JSON over XAML/XML

[2016-05-08 14:23] benaadams commented on #5044
The async "cost" is between 120ns and 10ns https://github.com/ljw1004/roslyn/blob/features/async-return/docs/specs/feature%20-%20arbitrary%20async%20returns.md

A blocking sync call is a syscall to thread de-schedule and then a reschedule when complete, not sure of latencies

[2016-05-08 14:26] roji commented on #5044
@benaadams in most cases there's also a memory allocation cost for the Task being returned (in some cases you can return cached instances but not always).

[2016-05-08 14:26] GSPP commented on #5044
@benaadams the descheduling happens with async as well iff there is not another TP item to work on. Unless the CPU is *very* loaded (like 90%+) the chance is very high that there is none.

Async improves throughput at very high CPU loads indeed. At lower loads it increases CPU consumption. Don't generally think of async as a way to save CPU.

Also it *enables* high levels of IO parallelism that ot

[2016-05-08 14:28] roji commented on #5044
Oh interesting, I didn't know about ValueTask!

[2016-05-08 16:18] JeffCyr commented on #5044
Here's my thoughts on the matter.

There is a valid point brought by @roji, in large and complex applications, the .Net ThreadPool is often misused by doing synchronous IO in it. This makes relying on the ThreadPool risky.

However, the root cause of the ThreadPool being misused is because the synchronous IO methods exists in the first place. If all IO methods were asynchronous, then it would be e

[2016-05-08 16:29] Mike-EEE commented on #5766
SECURITY!  REMOVE THIS MAN!!!  Ahem, I mean... :)

I'm all for taking the best of both worlds.  @SuperJMN and @Grokys might speak more to this, but I believe efforts are being made in OmniXaml to make it less verbose and chatty.

My problem w/ JSON isn't w/ JSON per se, but its design approach which also was the basis of .NET configuration (which I assume it was carried over from), and that is, th

[2016-05-08 16:34] GSPP commented on #5044
@JeffCyr your argumentation should discuss the downsides of async as well. If there were none everyone would agree.

[2016-05-08 16:52] roji commented on #5044
@JeffCyr I/O isn't the only reason for a method to block. In another words, even if you get rid of all the sync I/O methods, users can still start some intense computational task and block a thread.

And like @JeffCyr says, there are downsides to async, e.g. async methods usually imply increased heap allocations (because of Task instances). All I'm saying is leave the choice up to the programmer.

[2016-05-08 16:53] clrjunkie commented on #5044
@roji
Let me give you a friendly advice:

Drop it until you can show a compelling business scenario for including I/O API’s that are not *Task based*.

Async API’s have one and only one technical goal: reduce the amount of context switches that would otherwise occur due to large amount of running threads servicing submission and completion of I/O request.

What’s “large” is highly subjective and s

[2016-05-08 16:57] clrjunkie commented on #5044
and stack size (implied)

[2016-05-08 17:13] roji commented on #5044
@clrjunkie,

This is a discussion about programming technicalities, I'm not sure what "a compelling business scenario" would consist of here, but I'll sum up again some disadvantages of async:

* Considerably more complicated programming model because of the thread switching - programmers have to be careful with the synchronization context, possibilities of deadlock. The "business" scenario of syn

[2016-05-08 17:20] benaadams commented on #5044
I assuming is referring to a Thread min size 1MB and Task min size 80 Bytes; also N tasks to the O/S can be 1 thread, but N threads is N threads so less work context switching and management for the O/S?

[2016-05-08 17:26] clrjunkie commented on #5044
@roji

Prove it. Do you see the Internet/forums flooded with questions about this.

So what?

For who?

No, because I didn't include a $ nor an enterprise customer/scenario.

 makes more sense.

Don't think so.

See @benaadams  response

[2016-05-08 17:43] roji commented on #5044
Uhh, I'm a bit lost now but I'll try to answer these in good faith.

One issue that seems to bite people all the time is [blocking on async](http://blog.stephencleary.com/2012/07/dont-block-on-async-code.html). I'm not going to start finding popularity metrics to prove to you that this is a serious issue, but are you seriously claiming there's no added complexity because of SynchronizationContext,

[2016-05-08 18:06] benaadams commented on #8371
Assuming you are not blocking in the threadpool threads (e.g. paused thread not executing anything) and only calling other async methods for pauses, then it should be fairly hard to starve it without maxing CPU before hand.

However if you are going to block in the continuation then you can fire it off to a thread:

```await Task.Factory.StartNew( ... , TaskCreationOptions.LongRunning);```

@roji

[2016-05-08 18:10] roji commented on #8371
@benaadams you're probably right about this specific case. My more general point (in #5044) is that I don't necessarily want to possible TP starvation state to determine when my callback runs (regardless of what it's going to do).

[2016-05-08 18:22] benaadams commented on #8371
@roji this is a slightly trolly response, so apologies but you could add to `Main`
[code]
for dnx based coreclr set the environment variable
[code]
and for dotnet cli add to [yourappname].runtimeconfig.json
[code]

[2016-05-08 18:25] roji commented on #8371
@benaadams that's not trolly at all :) I've recommended this in some cases. But having to do this kind of thing does demonstrate this one problematic aspect of async.

Again, I'm not saying async is bad or problematic in itself, just that there are situations where sync might make more sense. That's all. In other words, don't remove sync APIs.

[2016-05-08 19:09] bartonjs commented on #8366
Either way, since they require an off-box connection OuterLoop might be prudent.

[2016-05-08 19:27] davidsh commented on #8366
Most of our HTTP tests are end-to-end and require "off-box" connections.  I don't think we want to move all of those HTTP tests to [OuterLoop] as we will miss important regressions in our code.

I do think we need to stop using 3rd party servers whose reliability is questionable.

[2016-05-08 19:30] ellismg commented on #8381
In a perfect world, the implementation factoring would match 1:1 with the contract factoring.  In that world, mscorlib.dll would not exist at all.  The CoreRT get's closer to this idealized world, since we started that project after coming up with the contract factoring, but mscorlib.dll grew up in a world where we didn't have such factoring.  Because of this, there are both implementation depende

[2016-05-08 20:21] ellismg commented on #8242
Nice!

[2016-05-08 20:30] hughbe commented on #8381
I only get coverage numbers when I delete mscorlib.ni.dll. I'm not sure what that file does - any ideas?

[2016-05-08 20:49] ellismg commented on #8381
It's the [native image](https://github.com/dotnet/coreclr/blob/ebb839f3218a9410f76f4595574155304c5e101e/Documentation/building/crossgen.md) for mscorlib.dll.  I thought we were now able to profile against the native image, but apparently that is not the case.

I have suspicions as to what the problem is, but I have to run for a bit before I can confirm.i  In the mean time, could you update your ba

[2016-05-08 21:21] JeffCyr commented on #5044
I get an impression that this discussion won`t come to an agreement, but here it is for the sake of the argument:

This can be mitigated by spawning the long computational task with LongRunning option. But to be fair, from experience almost every ThreadPool starvation I debugged were caused by blocking IO and not cpu bound tasks.

Have you measured the impact of this "increased" heap allocations?

[2016-05-08 21:47] roji commented on #5044
@JeffCyr I agree we're probably not going to agree. For what it's worth some comments on what you say specifically.

Sure this kind of problem can be mitigated - whether it's computational or sync I/O. The point is that the problem is there, programmers have to deal with them, it's a complication in the programming model which you don't have in sync. Whether it's a huge problem or not is another i

[2016-05-08 22:03] jasonwilliams200OK commented on #5766
I think if you consider [DataContract] and [DataMember] attributes, then the .NET framework (on BCL level) is aiding JSON and other data serailizers. However, there is no native/lowlevel JavaScript object literals <-> C# POCO transition support by compiler as JSON to JavaScript (and many other langs) or CSON to CoffeeScript. However, unlike XML with all its XPATH XQUERY XSLT ties, JSON has the con

[2016-05-08 23:06] joshfree commented on #5068
Moving this issue to the CoreCLR repo --  https://github.com/dotnet/coreclr/issues/4854

[2016-05-08 23:06] #5068 closed

[2016-05-08 23:36] manu-silicon opened #8385 "Skipping build of test assemblies when "skiptests" is specified"
On Unix, one can specify the `skiptests` command line option to `build.sh`. However, it still compiles all the test assemblies and increases the overall compile time. Shouldn't the build of test assemblies be actually skipped too?

[2016-05-08 23:37] manu-silicon opened #8386 "chmod errors when building on Linux"
When building on Linux, I'm getting a lot of those messages. Luckily they do not cause the build to break. It would be nice however to not have those:

[code]

[2016-05-08 23:38] manu-silicon commented on #7538
I've posted issues #8385 and #8386

[2016-05-08 23:39] manu-silicon commented on #7538
@joperezr I'd like to keep this open as it is still slower than Windows. I'm going to redo the benchmarks using the a machine that has dual boot so that timing are accurate.

[2016-05-08 23:40] manu-silicon commented on #8386
Forgot to say that I used `skiptests` in the argument of `build.sh`. I haven't checked if those messages disappear if `skiptests` is dropped.

[2016-05-08 23:58] tmat commented on #931
@stephentoub Where do I find the current coverage numbers? Is there a table online listing the current coverage for each CoreFX assembly?

[2016-05-09 00:03] stephentoub commented on #931
Here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/

You can also generate this locally just for the individual assembly by doing:
msbuild /t:rebuildandtest /p:Coverage:true
from the project's tests directory. The result will be available in bin\tests\coverage\index.htm.

[2016-05-09 00:43] davidsh commented on #8091
@ericstj Based on latest plan, library code will remain as-is and p/invoke to api-sets.  That means that this particular bug isn't actionable via changing any WinHttpHandler code/package. So, assigning to you for now since this is a tooling/sdk install issue.

[2016-05-09 00:47] davidsh commented on #5045
Closing this now since issue was addressed except for "localhost" use which is a winhttp limitation regarding using default creds for loopback connections.

[2016-05-09 00:47] #5045 closed

[2016-05-09 00:49] davidsh commented on #4479
Closing this issue since it is part of #7623.

[2016-05-09 00:49] #4479 closed

[2016-05-09 00:51] davidsh commented on #4476
Closing this issue since it is part of #7623.

[2016-05-09 00:51] #4476 closed

[2016-05-09 00:58] davidsh commented on #7522
The Windows 10 OS bug has been fixed and the fix will roll out as part of the next release of Windows later this year.  Closing out this issue.

[2016-05-09 00:58] #7522 closed

[2016-05-09 01:00] davidsh commented on #8274
This is probably due to an Azure network hiccup timing out the tests. Nothing actionable with this issue right now. We can re-open it if it continue to be a problem.

[2016-05-09 01:00] #8274 closed

[2016-05-09 01:16] manu-silicon commented on #8386
Just remembered that on CoreRT, I reported a similar issue dotnet/corert#1194. I'm not sure if they are related but it is worth checking.

[2016-05-09 07:06] Mike-EEE commented on #5766
Sounds like a class definition as schema. :) :) :)

Haha well to be sure, _any_ object is already JSON-friendly.  JSON is great for doing what it is intended to do: notate object definitions in a concise, human-readable way.  And there is no doubt that JSON.net does a great job of meeting this objective.  When you get into describing _applications_ then we start getting into the area where this co

[2016-05-09 07:38] gprossliner commented on #8259
Thank you! It works. Can you tell me when this package will be available on nuget.org?

[2016-05-09 08:04] JeffCyr commented on #5044
I was referring to the one thread per request model, in this case yes the overhead of creating/destroying thread and keeping the stack size in memory will be greater than the "heap pressure" caused by async.

If you are talking about a single threaded application doing blocking IO, then I doubt it's an application with high CPU performance requirement, it's more about an API experience.

I don't s

[2016-05-09 08:12] roji commented on #5044
If you are talking about a single threaded application doing blocking IO, then I doubt it's an application with high CPU performance requirement, it's more about an API experience.

Why on earth can't a single-threaded application with block I/O have high CPU performance requirements? And my application can have multiple threads which I manage manually as I see fit...

So what? nodejs is primarily

[2016-05-09 08:13] roji commented on #5044
@JeffCyr, are you an employee of Microsoft in some way, stating that "Microsoft/.Net Foundation won't change their mind about this decision now"?

[2016-05-09 08:26] JeffCyr commented on #5044
I am not, I might have overstated this last affirmation, this is speculation on my part.

[2016-05-09 11:05] JonHanna commented on #8067
Great. I don't know how to confirm that it fixes your issue though.

[2016-05-09 12:07] aL3891 commented on #5044
Is the question here really about sync vs async though? isn't it more about the weight of the Tpl/threadpool model? I do think Gc pressure and thread/thread pool starvation are very valid concerns, but I would prefer a more flexible solution that would allow me to write a single thread, synchronous version (using manualresetevent or whatever) if I wanted too, but also to do something else like my

[2016-05-09 13:59] davidsh commented on #8259
I believe these fixes are already in RC2 packages which should be pushed out to NuGet.org next week.

[2016-05-09 14:22] stephentoub opened #8389 "PostSyncBlockingContentUsingChunkedEncoding_Success failed on Windows in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug/247/consoleText
[code]

[2016-05-09 14:24] stephentoub opened #8390 "divremTest.RunDivRemTests failed on OSX in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_osx_debug/29/consoleText
[code]

[2016-05-09 14:29] gkhanna79 commented on #8200
@ramarag PTAL at this today and update the thread.

[2016-05-09 14:43] micbil commented on #7522
Thank you David for the update and for the assistance.

Michael

-------- Original message --------
From: David Shulman <notifications@github.com>
Date: 5/8/16 5:59 PM (GMT-08:00)
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Michael Bilodeau <micbil@microsoft.com>, Manual <manual@noreply.github.com>
Subject: Re: [dotnet/corefx] HttpResponseMessage.Dispose does not cancel an ongoing call to Re

[2016-05-09 14:55] AtsushiKan commented on #2583
One question: does that mean that PFX’s that used to request a CNG key now opens with CAPI keys.

The Pkcs tests are mostly built with CNG Pfx’s except the one that says “Capi”. I don’t think it’s a big problem if those PFX’s revert to CAPI (the tests should still pass), but it is going against the original intent and may bite us in the future if we need to write a test that’s testing a CNG/CAPI-s

[2016-05-09 14:58] stephentoub commented on #7812
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/1026/consoleText

[2016-05-09 15:17] ianhays commented on #7745
I'm closing this for now as I don't have any plans to expose the Crc32 helper in System.IO.Compression and the discussion has digressed. Feel free to submit an API suggestion for a public CRC32 API following the [API Review process guidelines](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md).

[2016-05-09 15:17] #7745 closed

[2016-05-09 15:17] bartonjs commented on #2583
Whether the key opens with CAPI or CNG is a separate attribute in the PFX.  That's part of why I'm going with the libcrypto approach, it leaves all other metadata intact.

[2016-05-09 15:19] AtsushiKan commented on #2583
Cool.

[2016-05-09 15:48] roncain opened #8392 "Clean.cmd and .sh should offer an option to prevent user prompt on failures"
When Clean.cmd or .sh fail to unlink a file during the 'git clean -xdf' phase, they prompt "Should I try again?"  This is fatal for an automated environment like CI and will require manual intervention.

Clean should offer an option that prevents prompts.  Possible solution is:
- Optionally 'set GIT_ASK_YESNO=false' in clean.cmd

I would prefer this prompt suppression should be the default.  Inter

[2016-05-09 16:04] hughbe commented on #8381
Okay: you're correct - deleting the files first in the batch script does indeed fix the problem for other test projects. However, I'm not hitting errors when running `msbuild /T:BuildAndTest` for the specific assembly either!

[2016-05-09 16:09] hughbe commented on #8381
Also btw I edited my previous post pretty much right as you answered it, could you take a look at that too (mainly r.e. the time difference between running tests)

[2016-05-09 16:25] chcosta commented on #6059
@ericstj , can we remove this now?

[2016-05-09 16:28] joshfree opened #8393 "Several EnvelopedCms test failures on Windows 7 and Windows 8.1"
**Windows 7**

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_win7_release/lastCompletedBuild/testReport/System.Security.Cryptography.Pkcs.EnvelopedCmsTests.Tests/StateTests/PostDecrypt_Encode/

Stacktrace
MESSAGE:
Internal.Cryptography.CryptoThrowHelper+WindowsCryptographicException : Cannot find the certificate and private key for decryption
+++++++++++++++++++
STACK TR

[2016-05-09 16:32] AtsushiKan commented on #8393
Looks like same intermittent errors that have been plaguing the X509CertificateTests. I believe you were already planning on using your PFX-fixer tool to de-bag the PFX's so here's another test case for you.

[2016-05-09 16:35] joshfree commented on #6241
moving up to 1.0.0-rtm

[2016-05-09 16:37] chcosta commented on #7927
We don't have packages for these projects, only source.  If / when we create packages for these in the future, then we will need to update this.  Moving the milestone for this issue to Future.

[2016-05-09 16:38] bartonjs commented on #8393
Yep, certainly sounds like it.  I've got three PFX blobs that somehow are generating an invalid MAC on repack (gen_mac, set_mac, verify_mac fails), once that's done there'll be a PR in testdata, then one here.

[2016-05-09 16:49] maririos commented on #8070
@bdenison99 I repro it in a win7 machine. I don't know why it is failing in this configuration though. Could you open a different issue with this error information?
Thanks!

[2016-05-09 16:50] bartonjs commented on #8393
(turns out, hard-coding `size_t passlen = 5;` is a good way to make non-5-character MACs poorly generate)

[2016-05-09 16:55] ianhays commented on #7685
I've got a closed-out PR up (https://github.com/dotnet/corefx/pull/8319) with this implementation if we decide to change it in the future, but for RTM at least we should leave it as is.

[2016-05-09 16:55] #7685 closed

[2016-05-09 16:55] joshfree opened #8396 "Windows 8.1 outerloop release - System.Diagnostics.Tests.ProcessStartInfoTests.TestUserCredentialsPropertiesOnWindows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release/lastCompletedBuild/testReport/System.Diagnostics.Tests/ProcessStartInfoTests/TestUserCredentialsPropertiesOnWindows/

Stacktrace
MESSAGE:
System.InvalidOperationException : No process is associated with this object.
+++++++++++++++++++
STACK TRACE:
at System.Diagnostics.Process.EnsureState(State state) in D

[2016-05-09 16:57] joshfree commented on #4466
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release/lastCompletedBuild/testReport/System.Diagnostics.Tests/ProcessStartInfoTests/TestUserCredentialsPropertiesOnWindows/

Stacktrace
MESSAGE:
System.InvalidOperationException : No process is associated with this object.
+++++++++++++++++++
STACK TRACE:
at System.Diagnostics.Process.EnsureState(State state) in D

[2016-05-09 16:57] joshfree commented on #8396
resolving as duplicate of https://github.com/dotnet/corefx/issues/4466

[2016-05-09 16:57] #8396 closed

[2016-05-09 17:01] joshfree commented on #3334
Related https://github.com/dotnet/corefx/issues/7830 -- Add Support for EnvelopedCms (API Review)

[2016-05-09 17:05] joshfree commented on #8393
Related https://github.com/dotnet/corefx/issues/2885

[2016-05-09 17:07] mellinoe commented on #8341
My assumption is that you just hit a few flaky tests, and they succeeded after re-trying them. Unfortunately, we have a few flaky tests that will fail every so often, even with a clean build. If you hit consistent issues, please re-open this. In the meantime, I'm going to close this out.

[2016-05-09 17:07] #8341 closed

[2016-05-09 17:19] mellinoe commented on #7821
Have you considered what I suggested about having the caller pass in the necessary information? Unfortunately, I'm not familiar with how the ASP.NET component works, so I can't really speak to what they are doing there.

[2016-05-09 17:20] mellinoe commented on #8230
I'm not sure this is actionable right now, so I'm moving it to future.

[2016-05-09 17:23] VSadov commented on #3311
Losing bug databases would be unfortunate, but it is, hopefully, not a very common occurrence nowdays.

In the past when switching databases, some readonly/cached version of old database would be kept  around. It is often possible with some digging find bugs as old as year 2000 even though we did switch bug databases several times.

The possibility of losing bug databases does not in my view negat

[2016-05-09 17:40] stephentoub commented on #7812
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/1025/consoleText

[2016-05-09 17:46] mellinoe commented on #6831
There's still a lot of problems with this sort of "stringly-typed" API, in my opinion. Here's a few off the top of my head:

* It's not user friendly. It's really hard to figure out what valid things to pass in are, and it's very easy to pass in the wrong thing. You even make a mention of "fixing eventual misspellings". We shouldn't be doing (or need to be doing) anything like that in this sort of

[2016-05-09 17:54] mellinoe commented on #825
There's nothing actionable here.

[2016-05-09 17:54] #825 closed

[2016-05-09 17:55] SamuelEnglard commented on #6831
I think this could be handled in much the way JSON is now, JSON.NET isn't part of the framework but it's pretty much the way to JSON work in .NET. I think there should be a "sanctioned" third party, existing framework. Maybe https://github.com/JohanLarsson/Gu.Units is that, maybe not.

[2016-05-09 17:58] stephentoub commented on #7812
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/998/

[2016-05-09 18:01] mellinoe commented on #3741
We decided to go a different route with this. You should be able to use the `Unsafe.Read(void*)` method in the System.Runtime.CompilerServices.Unsafe package for this purpose. That package is also useful for a variety of other low-level pointer-based Vector manipulations. I'm going to close this issue now; please re-open or file a new issue if you think there is something that is not addressed by

[2016-05-09 18:01] #3741 closed

[2016-05-09 18:04] cdmihai opened #8398 "Alternative for Assembly.Location / bring back Assembly.Location"
Getting the location of a loaded assembly is a core feature of the Assembly class. Now that the Assembly.Location property is only available in .net standard 1.5, how can code targeting lower platform versions retrieve the path where an assembly got loaded from?

Alternatively, can Assembly.Location be brought back? According to msdn it was there since 1.1: https://msdn.microsoft.com/en-us/library

[2016-05-09 18:05] benaadams commented on #3741
@mellinoe working like a charm https://github.com/aspnet/KestrelHttpServer/pull/811 and https://github.com/aspnet/KestrelHttpServer/pull/812

[2016-05-09 18:07] ericstj commented on #8398
/cc @weshaggard it was only added to the reflection contract in the 4.1.0.0 surface area of System.Reflection.  Currently that surface area is only available starting NETStandard1.5 because UWP doesn't support it.

That means that desktop suffers because it could be supported by older versions of desktop but UWP holds it back.

@weshaggard do you think we could come up with some way to support 4.1

[2016-05-09 18:12] stephentoub commented on #7812
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/1021/consoleText

[2016-05-09 18:14] cdmihai commented on #8398
If UWP is the only one not supporting this, doesn't it make sense to downgrade the .netstandard version that UWP supports (.netstandard1.0, or create some version in the [0,1) range to signify seriously deprecated platforms), rather than breaking everyone else?

Then, UWP can upgrade to newer .netstandard versions at its own pace, rather than bringing all the other platforms down.

[2016-05-09 18:16] varocarbas commented on #6831
@mellinoe Note that my main motivation since the very first moment was creating an ideal-to-me approach that's why I don't share your concerns.

More specifically:

It can be as user-friendly as required. And my intention has always making it extremely user-friendly. What I meant with mispellings, was accounting for likely inputs. For example: for meters, allowing "m", "m.", "meter", "metre", "met

[2016-05-09 18:18] ianhays commented on #8382
To clarify, you mean every write/read method yes? So if you create a BinaryReader/Writer around a stream you can call `binary.WriteAsync(sbyte value)` instead of being forced into the synchronous ```binary.Write(sbyte value)```?

To do that we'd need to call the underlying stream's ```WriteAsync(byte[], int, int)``` instead of `Write(byte[], int, int)`. We'd also probably want to lock the buffer u

[2016-05-09 18:23] damageboy commented on #5044
Hi All, I just found this thread and my blood pressure is already starting to rise

I see that in #4868, @roji was told by @CIPop that:

Later in that thread he was asked to open a separate issue, which he did here, where from what I can tell, I can mostly see different opinions about .NET TP/GC/async/sync being exchanged.

As far as I'm concerned, if @CIPop is not messing with us, he's basically

[2016-05-09 18:30] ericstj commented on #6059
Yep, so long as you don't get any validation errors.  It looks like the need for this was fixed with https://github.com/dotnet/corefx/commit/5fed5907e9d92683a7de98de90457f303315122a.

[2016-05-09 19:16] JeffCyr commented on #5044
@damageboy The Stream abstraction is not IO bound, e.g. MemoryStream, so I don't think Stream.Read/Write will go away.

[2016-05-09 19:28] ianhays commented on #8376
Wouldn't that be somewhat odd to increase the size like that though? We'd still be disallowing sizes lower than 128, we'd just be be doing it in a more hidden way (waiting for a write that won't fit the small buffer).

I don't know that the added complexity and the slowdown of the ```bufferSize=1``` case are justified by allowing buffers lower than 128. If not for the compat concerns (i.e. if we w

[2016-05-09 19:31] damageboy commented on #5044
`<cynical>`
@JeffCyr ah, wonderful, so by induction I can do SslStream over MemoryStream, so SslStream is not I/O bound as well, thanks for clearing that up, so I assume that MS is already in the process of adding SslStream sync support, thanks @CIPop !,
Case closed?
`</cynical>`

No offense @JeffCyr, but I would like to hear some response from someone in MS that can actually speak about their ent

[2016-05-09 19:39] damageboy commented on #5044
@JeffCyr btw, you did, in passing, make me think of a coming trend in I/O HW systems, where I/O is actually becoming so fast, that the O/S is increasingly becoming a bottleneck when it comes to I/O performance.

More and more, we are seeing new low-latency I/O components, be it network cards that support user-space (e.g. non-blocking) networking, memory-mapped non-volatile storage (here's a recent

[2016-05-09 19:50] benaadams commented on #8376
Overload to pass a buffer in?

[2016-05-09 20:03] GSPP commented on #5044
Yes, this would be a bad policy. It is important to understand how much trouble async APIs are causing. Stack Overflow is full of C# questions where someone had an async problem. The Roslyn commit logs regularly have bugs caused by async programming patterns.

Async is very costly in terms of developer time! It is a complicated trade-off and across the board rules such as "always use X" are not po

[2016-05-09 20:06] roji commented on #5044
@damageboy and @GSPP thank you for your voices in this, I agree 100%.

[2016-05-09 20:11] #1165 closed

[2016-05-09 20:11] #1657 closed

[2016-05-09 20:11] #2011 closed

[2016-05-09 20:11] #2684 closed

[2016-05-09 20:11] #3215 closed

[2016-05-09 20:11] #3630 closed

[2016-05-09 20:11] #4916 closed

[2016-05-09 20:11] #5306 closed

[2016-05-09 20:11] #6226 closed

[2016-05-09 20:11] #6241 closed

[2016-05-09 20:11] #6732 closed

[2016-05-09 20:11] #7002 closed

[2016-05-09 20:11] #8023 closed

[2016-05-09 20:11] #8024 closed

[2016-05-09 20:20] bdenison99 opened #8404 "Can't build on Windows 7"
Could this be caused by my running a build on Windows 7?
I see the following in the output, and not long after I get lots of errors:

C:\Users\bdenison\git_workspace\net_core\Tools\packageresolve.targets(78,5): warning : Your project.json doesn't have a runtimes section. You should add '"runtimes": { "win7-x64":
{ } }' to your project.json and then re-run NuGet restore. [C:\Users\bdenison\git_work

[2016-05-09 20:20] bdenison99 commented on #8070
Done!

[2016-05-09 20:36] CIPop commented on #8369
This doesn't work with VS Community 2015, at least on Win7.

[2016-05-09 20:44] ellismg commented on #8404
This may be the same as https://github.com/dotnet/corefx/issues/8291.  A fix went in recently to master.  What SHA is your HEAD at?

[2016-05-09 21:20] CIPop commented on #8380
@ThadHouse Thanks for reporting this. As far as I can tell, this is a duplicate of #6107.

None of the Async methods should have been removed from Socket. Can you please add an example of method that you're missing? We've actually added new Task-based (await/async) new methods to Socket.

[2016-05-09 21:20] #8380 closed

[2016-05-09 21:20] ianhays opened #8410 "FileSystemWatcher Test failure: FileSystemWatcher_File_Create_DeepDirectoryStructure"
Creating a file in a nested directory does not always send a Created event on some Linux distros. This results in the ```FileSystemWatcher_File_Create_DeepDirectoryStructure``` test failing intermittently.

[2016-05-09 21:35] ThadHouse commented on #8380
I was previously using BeginConnect and EndConnect to provide timeout functionality during a socket connect. Those methods have been marked as internal, so they cannot be used anymore. Also, in Master, System.Net.Sockets does not have any Task async methods added. Are those in another branch? Also, would those async methods be backported to the old .NET Framework? Without those being added, or Beg

[2016-05-09 21:38] aL3891 commented on #5044
I understand that you're frustrated, but you should know that in my experience the teams generally do not engage in discussions where people call them names (I lurk quite a bit on the dnf repos).

If you want them to engage in a discussion you have to give them more than _you've just got nodejs envy and we've done it like this for 40 years_. Remember that the whole idea with .net core is to trim t

[2016-05-09 21:42] bdenison99 commented on #8404
acd7df39cff151135f8504dc5ea7bcf98c47d1e6

[2016-05-09 21:43] bdenison99 commented on #8404
It's at "**acd7df39cff151135f8504dc5ea7bcf98c47d1e6**"

[2016-05-09 21:43] CIPop commented on #8371
@JeffCyr Thanks for reporting this. I agree that we should provide true async wrappers where the OS provides the support for such implementations.

Unfortunately there are probably other APIs in the same situation so we should probably revisit the implementations and search for other cases.

@roji @benaadams While I like the brainstorming regarding sync vs async, I think it would be more useful to

[2016-05-09 21:47] roji commented on #8371
@CIPop you're absolutely right, sorry for hijacking this. For the record I totally agree that the framework should provide truly async DNS where that's possible, regardless of the discussion in #5044. Will be looking forward to see your answer there.

[2016-05-09 21:47] joshfree commented on #8108
@ianhays @bartonjs has been living in the UWP world for the last few days and can probably assist with setting up an environment for manual testing.

[2016-05-09 21:55] weshaggard commented on #8398
There is no good way to bring the 4.1.0.0 surface area to UWP and we cannot just move UWP down as that will give an inaccurate representation of what it contains. The entire point of netstandardx.y is to support portable libraries on the different platforms and it was computed based on what the currently have.

@cdmihai why can you not use netstandard1.5?

[2016-05-09 22:02] mellinoe commented on #6831
I think that right now, the proposal is too broad to be actionable. Some of the points we are discussing are hard to agree upon if we don't have real implementations to compare. I still contend that this string-based, class-based approach will be slow because of unnecessary string-based type-checking and excessive GC allocations, but it's hard to prove that without any (usable) implementation to p

[2016-05-09 22:06] #7547 closed

[2016-05-09 22:10] joshfree commented on #5660
@ianhays can you take a look since you're already working on FSW related test issues?

[2016-05-09 22:18] ianhays commented on #5660
In https://github.com/dotnet/corefx/pull/8231 I added code to guard against failing when a test hits the inotify limit, so the FSW tests should be fine. It's still possible to hit the limit but it's significantly less likely now, especially in an innerloop run.

I'm closing this as (presumably) resolved for now.

[2016-05-09 22:18] cdmihai commented on #8398
MSBuild is targetting .netstandard1.3 because tasks written against MSBuild's APIs need to run on both full framework (>= net46) and .net core.

[2016-05-09 22:20] damageboy commented on #5044
@aL3891 I do understand your point, but the parent issue / discussion was "opened" / reported back in December 16th, 2015, since then it was addressed ONCE, by a microsoftie, without really stating the global plans for async/sync I/O APIs after clearly stating, "oh yeah, we're basically dropping sync", here it is again, read it, and imagine you're me, reading this out of the blue, 3 hours ago:

Th

[2016-05-09 22:21] CIPop commented on #8369
@davidsh and I talked offline and he recommended as alternative installing
https://www.microsoft.com/en-us/download/details.aspx?id=40760

I've verified this works on Win7.

[2016-05-09 22:21] ellismg commented on #8404
@Priya91 Can you please take a look?

[2016-05-09 22:24] varocarbas commented on #6831
OK. I will go ahead and create a comprehensive enough first version for the proposed string-based approach. After finishing it, I will come back here and we will see what can be done with it.

In any case and as said, I am currently a bit too busy and that's why cannot spend too much time on this. Although I will start right away and have it ready ASAP.

[2016-05-09 22:29] tarekgh commented on #5463
cleaned up the test after investigating the cases. all cases are differences between Windows and ICU collation. the linked PR is the test clean up change.

[2016-05-09 22:29] #5463 closed

[2016-05-09 22:34] bdenison99 commented on #8404
I've just updated my local repo with the last 4 checkins.  SHA is now at b9cdde3843b410ac6696513113a40743c39f2fb2 and has significantly fewer errors, but still fails to build cleanly.  It's down to 7 errors / 29 warnings.

[2016-05-09 22:47] CIPop opened #8414 "SslStream/NegotiateStream should throw InvalidCredentialException when the authentication fails and cannot be retried"
According to MSDN: https://msdn.microsoft.com/en-us/library/system.security.authentication.invalidcredentialexception(v=vs.110).aspx

At the moment SslStream is throwing only `AuthenticationException`.

[2016-05-09 22:49] CIPop commented on #8414
/cc @himadrisarkar @davidsh

[2016-05-09 22:58] Priya91 commented on #8404
Yes, this should be fixed. Can you do this and try again..

[code]

[2016-05-09 23:03] CIPop commented on #8380
@ThadHouse The Begin/End methods have just been added back to the contracts: see #8378.

The Task based APIs should be available in the latest builds and in the master branch: https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/ref/System.Net.Sockets.cs#L392
If your application is using CoreFX and targetting .Net Desktop within project.json you should also be able to reference the

[2016-05-09 23:08] CIPop commented on #3895
Marking with NetFX port consider to track the port of Task-based Socket APIs to Desktop.

[2016-05-09 23:09] CIPop commented on #8380
Marked #3895 accordingly.

[2016-05-09 23:09] saurabh500 commented on #4646
DbDataRecord and DbEnumerator have been added to System.Data.Common for RTM.

[2016-05-09 23:09] #4646 closed

[2016-05-09 23:13] saurabh500 commented on #6709
We will be keeping the DataTable class the way desktop has it.
If anyone needs to subclass DataTable for any back compat reasons, they can do so.

[2016-05-09 23:13] #6709 closed

[2016-05-09 23:14] ThadHouse commented on #8380
Those are the Begin and End methods for streams. Is there a separate PR for the Socket BeginConnect and EndConnect methods?

[2016-05-09 23:18] aL3891 commented on #5044
Hey, as you say i'm just an outsider, as we all are, and i'm just guessing. As I said i think you and everyone else should speak their mind, imo a frank discussion is always better than no discussion, but that's me. I've had the most luck pinging various people on the team or raising new, more specific issues. Right now it covers at least three things:

* *Sync apis vs async when it comes to perfo

[2016-05-09 23:18] justinvp commented on #6709
Does this mean you'll be changing `DataTable` to have a public constructor in the contract and implementation? Right now, I don't think you can't subclass it from another assembly because the constructor is internal.

[2016-05-09 23:19] saurabh500 commented on #6802
@FritzHerbers Have you tried this with .Net CLI with the newer bits?

[2016-05-09 23:24] CIPop commented on #8380
@ThadHouse You're right. See the comments from the same PR: The answer was that all Begin/End APIs will be added back.
I don't think that PR is out yet.

[2016-05-09 23:31] #6580 closed

[2016-05-09 23:32] aL3891 commented on #3741
New approach looks great imo!

[2016-05-09 23:32] saurabh500 commented on #6709
I forgot about that. `DataTable` cannot be sub-classed because of the internal constructor.
I want to leave it as is. It's there for the completion of interfaces.

[2016-05-09 23:41] ericstj commented on #8398
@cdmihai I think a better way to handle that will be to make a reference assembly that targets 1.3, your surface area doesn't have a 1.3 dependency.  Then you can make your netstandard implementation target ns1.5 but the desktop implementation is provided by the MSBuild assemblies in either the desktop framework / OOB msbuild.  /cc @dsplaisted

[2016-05-10 00:15] CIPop commented on #3144
Given #8358, we should keep the Begin/End tests as they are now.

[2016-05-10 00:15] #3144 closed

[2016-05-10 00:17] CIPop commented on #5755
It's unlikely we can get to this in time for RTM.

[2016-05-10 00:26] bartonjs commented on #8108
@ianhays What I did:

* Get a machine with Win10 (it's sort of required)
* VS2015 Update 2, if you're doing new setup install the Universal Windows App Development Tools (including the Windows 10 SDK)
* Create a new project: Blank App (Universal Windows)
* Optional: Learn XAML
* Write your code
* Run it on the local computer (Debug|X86)
* Decide it's happy
* Borrow a Win10 phone from the hardware

[2016-05-10 00:30] #7821 closed

[2016-05-10 00:31] Priya91 commented on #8101
Closing this, as it will be a breaking change with rc2. This API Change was proposed to change the behavior of the API to provide a better OS Version scenario for runtime decisions. Since we are still debating about bringing back the old Environment.OSVersion we will first explore to support it cross plat, and if still there is a need, will come up with a new proposal for xplat Operating system ve

[2016-05-10 00:31] #8101 closed

[2016-05-10 01:34] ellismg commented on #8381
So here's one of the things that's going on.  When we produce the test layouts, to save disk space we use hard linking so that the version of `coreclr.dll` (and all other assemblies) point at the version in the packages directory.  Edits to any one of the copies are reflected everywhere.  We you were doing the copy before, because of the hard link, the contents of all the `coreclr.dlls` were getti

[2016-05-10 01:39] ellismg commented on #8385
This is similar to how we do things on windows (passing `/p:SkipTests=true` still causes the tests to be built, it just doesn't execute them).

[2016-05-10 02:18] #6283 closed

[2016-05-10 02:29] cartermp commented on #6518
Closing this as we're taking a different approach to docs.

[2016-05-10 02:29] #6518 closed

[2016-05-10 02:46] #2583 closed

[2016-05-10 02:46] #2885 closed

[2016-05-10 02:46] #8393 closed

[2016-05-10 03:20] billwert opened #8422 "Nullref while deserializing on many threads with DataContractJsonSerializer"
Updating the packages used for serialization seems to have introduced a crash.

Repro:
1) dotnet new
2) replace program.cs with [this](https://gist.github.com/billwert/183050efed9a3ff9856dda9cd58be86c#file-program-cs)
3) Add these to your project.json:
    "System.Runtime.Serialization.Json": "4.0.2-rc3-24109-00",
    "System.Runtime.Serialization.Primitives": "4.1.1-rc3-24109-00"
4) dotnet restor

[2016-05-10 05:33] roji commented on #5044
@aL3891 IMHO we should not really be discussing sync vs async performance, or the ease of use of async methods - these are huge and complicated subjects. The point of this thread as far as I'm concerned is whether sync APIs which already exist in .NET Framework should be removed in corefx, and to a lesser extent (but still important), whether new classes in corefx should continue to provide both s

[2016-05-10 05:53] richlander commented on #5044
Hi! We're in the process of revisiting some API decisions with CoreFX (more coming on that soon). There are two distinct goals:

- Make it easier for developers to adopt .NET Core.
- Enable developers writing the code they want (e.g. generic and non-generic collections, sync and async APIs). No enforced policy from 98052, just helpful guidance.

[2016-05-10 06:16] hughbe commented on #8381
Thanks for the diagnosis - seems like a pretty esoteric problem!
Ill see what happens if I copy the release build of coreclr and run the test project in release mode

[2016-05-10 09:30] tmds commented on #8297
@mellinoe can we conclude on the proper values to return from Id and Description. Do we need feedback from some other people?

So proposal:
Id returns `_name`
Description returns `$"'{_name}' interface"`

@joshfree It should not be much work to implement. Would it be possible to get this in rc2? I need this feature for a library and it would be great if I could use the rc2 release.

[2016-05-10 09:54] roji commented on #5044
Thanks for the info @richlander, looking forwad to hearing more details.

Somewhat ironically I'd drop non-generic collections as I can't see any advantage they offer (apart from backwards compatibility)...

[2016-05-10 10:39] stephentoub opened #8423 "PublicKeyTests.TestKey_RSA failed in CI on Ubuntu 14.04"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release/254/consoleText

[code]

[2016-05-10 10:59] TorbenJ opened #8425 "System.Security.SecureString.Tests fails using Ubuntu 14.04.3 LTS"
I noticed one error when building the corefx repository.
The repository was freshly cloned to ensure it wasn't fixed in the meantime.

An extract of the `msbuild.log` file (hopefully) indicating the issue.
[https://gist.github.com/TorbenJ/40e4fe407d18976bb0d881a606f4a048](url)

I tried to build using `./build.sh` and another time using `./build.sh Linux` with the same results.

[2016-05-10 11:13] stephentoub opened #8426 "PostNonRewindableContentUsingAuth_PreAuthenticate_Success failed on Windows in CI"
"The handle is invalid" error.

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/1074/consoleText
[code]

[2016-05-10 11:19] stephentoub commented on #8425
Thanks, @TorbenJ.  The log shows that for some reason it's using the Windows build of SecureString on Linux rather than using the Unix build on Linux.

[2016-05-10 11:26] stephentoub commented on #8422
This code is not thread-safe:
https://github.com/dotnet/corefx/blob/master/src/System.Private.DataContractSerialization/src/System/Runtime/Serialization/XmlFormatReaderGenerator.cs#L875-L879
yet it appears to be accessible from multiple threads concurrently.

[2016-05-10 14:19] #8211 closed

[2016-05-10 14:19] stephentoub commented on #8211
Ok, thanks for the discussion.

[2016-05-10 14:20] stephentoub commented on #5868
Moving to 1.1 to add back along with other members of Debugger.

[2016-05-10 14:54] #8379 closed

[2016-05-10 15:06] #8235 closed

[2016-05-10 15:47] stephentoub commented on #8181
I'm fairly certain the issue here is that it's binding to the wrong libcurl implementation.  The box on which the native binaries are being built has both packages installed, and the log shows:
[code]
Further, the OpenSSL implementation supports non-blocking connects, which is what allows them to be timed out, and which is why using a different backend is causing this test to fail.  Seems like we

[2016-05-10 15:53] benaadams opened #8429 "Addition ConditionalWeakTable.AddOrUpdate"
From https://github.com/dotnet/coreclr/issues/4545

Or indexer setter?

At the moment you need to do

[code]

Would be nicer if you could just do

[code]

or

[code]

[2016-05-10 15:57] stephentoub commented on #8181
Actually, hmm, I take part of that back.  That libcurl.so on the build machine is a symlink to the right one...

[2016-05-10 16:28] stephentoub commented on #8181
Looks like I was entirely wrong.  The right libcurl is being used while running the tests...

[2016-05-10 16:39] weshaggard opened #8430 "Enable ApiCompat for CoreFX builds"
@venkat-raman251 setup ApiCompat and did some initial clean runs but ever enabled it in the corefx builds. We need to enable by adding RunApiCompat=true (see https://github.com/weshaggard/corefx/commit/f208510f7720116c139f7fedbb89bbf31ebcc184), but before turning it on we have to clean-up the existing issues that have occurred since then.

[2016-05-10 16:46] bdenison99 commented on #8404
I have no untracked changes.  Attached is the build log from this morning, after pulling all changes made since yesterday.
[bart_build.txt](https://github.com/dotnet/corefx/files/257678/bart_build.txt)

[2016-05-10 16:51] joshfree commented on #8297
@tmds sorry; it's not possible to get new changes into the corefx /release/1.0.0-rc2 branch at this point.

[2016-05-10 17:14] mellinoe commented on #8297
I'd like to get the opinions of some of the guys on our networking team. @CIPop , @davidsh Any opinions here? My impression is that `Description` does not necessarily need to return any particular string, so the proposed value would be fine. It seems like the fact that `ID` does not return a consistent value across reboots could be problematic.

[2016-05-10 17:24] mgravell commented on #4646
Much obliged.
On 10 May 2016 12:10 am, "Saurabh Singh" <notifications@github.com> wrote:

[2016-05-10 17:32] tijoytom commented on #7804
@yizhang82
cc @weshaggard  @stephentoub
Does the below API names sound reasonable?  I know you named them StringToAllocatedMemoryUTF8 , but StringToCoTaskMemUTF8 sounds consistent with what we have now for ANSI and UniCode(aka UTF16).

unsafe public static String PtrToStringUTF8(IntPtr ptr)
unsafe public static String PtrToStringUTF8(IntPtr ptr,int len)
unsafe public static IntPtr StringToCoTaskMe

[2016-05-10 17:37] AndyAyersMS commented on #4864
Any progress on this?

[2016-05-10 18:30] richlander commented on #5044
That would be my point 1 above.

The presence of non-generic collections, for example, doesn't remove any of the value of .NET Core. For customers that want to re-use code that relies on ArrayList, they can. They are free to move that code to use List&lt;T&gt; when they feel that's a benefit to them.

[2016-05-10 19:14] khdang commented on #8422
Something is wrong with my machines. When I ran ```dotnet run``` I see this:
[code]

[2016-05-10 19:55] markwilkie commented on #5733
Davis has been making great progress on symbols overall, as well as x-plat is specifics.  @dagood, could you update the issue w/ the latest for x-plat symbols please?

[2016-05-10 20:13] SamuelEnglard commented on #8429
I vote for `AddOrUpdate`, it's more inline with the idea behind `ConditionalWeakTable`

[2016-05-10 20:16] weshaggard commented on #8369
I can build successfully with just VS2015 and msbuild 14. I do believe we do require at least VS 2015 Update 1 now however. I don't know of any reason why you would need msbuild 12.

[2016-05-10 20:19] ericeil commented on #8362
It looks like what's actually inconsistent is `IPAddress.TryParse`.  On Windows, both Uri and IPAddress parse these strings as octal.  For example, if I run this program:

[code]
...The output is:

[code]

On OSX, the `Uri` behavior is consistent with what I see on Windows, but `IPAddress.TryParse` seems to be treating these as decimal, not octal, resulting in the erroneous address "235.73.31.33".

[2016-05-10 20:19] ericeil commented on #8362
a...hence the test failure, since it's comparing the Uri result with the IPAddress result.

[2016-05-10 20:23] weshaggard commented on #8398
As @ericstj suggests if you want to do that you need to create a reference assembly different from your implementation or you need to build multiple times. Once for .NET Framework in net46 folder and once for .NET Core in netcoreapp1.0 folder. There isn't any other way to get access APIs we are wanting and the targets you want.

[2016-05-10 20:23] #8398 closed

[2016-05-10 20:28] dagood commented on #5733
Sure. This is new terminology for me, though... the categories I've known so far are managed symbols, Windows native symbols, and xplat (non-Windows) native symbols. A few questions:
* Would it be fair to call these "xplat managed symbols"?
* Is there a good place to read up on what portable pdbs are for?
* Do we create portable pdbs on non-Windows platforms or everywhere?

[2016-05-10 20:31] rainersigwald commented on #8398
@jaredpar You wanted this too--does this address your concerns?

[2016-05-10 20:33] davidsh commented on #8369
That is only true if you build everything from the root with "build".

However, if you go into a specific project, say `\CoreFx\src\System.Net.Http\src` and then do:

`msbuild /t:rebuild`

it will use the wrong compiler.  You will also see warning messages about "Can't find MsBuild 12.0".

[2016-05-10 20:52] Priya91 commented on #8404
The build is not reporting the GetTargetMachineInfo errors from the log, but there are some test failures. Looks like you're unblocked now. Is there any other concern?

[2016-05-10 20:54] CIPop opened #8435 "System.Net.Sockets\tests\PerformanceTests is not building on Windows"
Running `msbuild /t:rebuild,test` on Windows will result in:

[code]

Specifying `/property:Configuration=Windows_Debug` (or `Linux_*`/`OSX_` works as expected).

/cc @davidsh @himadrisarkar @ericeil

[2016-05-10 20:55] tmds commented on #8297
@mellinoe Indeed the ID should be consistent across reboots. This grantee could be provided by an external manager like udev or systemd. If the implementation is done in corefx, the systemd way may be a good one, see [PredictableNetworkInterfaceNames](https://www.freedesktop.org/wiki/Software/systemd/PredictableNetworkInterfaceNames/). (Note: systemd has a LGPL license.)

[2016-05-10 21:23] Priya91 opened #8436 "FileSystemWatcher Test failure: File_NotifyFilter_Security, File_NotifyFilter_Size"
[code]
[code]

[2016-05-10 21:24] Priya91 commented on #8436
@ianhays Can you take a look?

[2016-05-10 21:29] Priya91 opened #8437 "CertificateValidationClientServer_EndToEnd_Ok if failing on Windows7"
[code]

Has been failing consistently in past 3 builds.

[2016-05-10 21:34] ericstj commented on #7702
I have a handle on why this isn't working.  RAR isn't seeing the conflicts between inbox and OOB assemblies so it isn't generating redirects.  I put together a package with an assembly that references every inbox contract in order to force the conflicts.

I have a prototype package that fixes this:
https://github.com/ericstj/corefx/commit/dc4758d813aed317d2acc7f90fb51ae6a82c98e3
https://www.myget.

[2016-05-10 21:35] Priya91 commented on #8437
@CIPop Can you please help triage this bug. Thanks!

[2016-05-10 21:50] #8320 closed

[2016-05-10 21:58] CIPop commented on #8437
Thanks @Priya91!

@Priya91 Do you have information that this was passing before the last 3 builds? (Unfortunately we just got our on-prem test system up and running a few days ago in Win7 because of #8369.)

@stephentoub Could this be related to the latest test enhancements that use the local HTTP server?

[code]

[2016-05-10 22:00] stephentoub commented on #8437
No, I just merged that about five minutes ago.

[2016-05-10 22:01] ianhays commented on #8436
Sure, thanks for the heads up! I haven't seen these failures before. Are they from the same run?

[2016-05-10 22:03] Priya91 commented on #8436
Yeah these are from Windows 7..

[2016-05-10 22:09] Priya91 commented on #8437
It is failing from [Build #23 (May 4, 2016 11:16:57 AM)] (http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_win7_debug/23/)

Could have been from earlier as well, and masked by buildtools failure before this build.

[2016-05-10 22:16] ianhays commented on #8436
Did they fail in the same test pass on the same machine? Do you have a link to the job by any chance?

And do we run tests on win7 only in Outerloop?

I'm trying to determine if the failure is consistent or intermittent.

[2016-05-10 22:21] Priya91 commented on #8436
yeah.. from same test pass on same machine, the test link is [here]
(http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_win7_debug/30/)

Yes, Win7 tests are only run in Outerloop , run once daily.

[2016-05-10 22:23] ayende commented on #5044
I agree with @damageboy
Async I/O is all well and good, but miss a _single_ ConfigureAwait(false) and suddenly you have a deadlock in your code when it is run in ASP.Net, or WPF app.

Another _major_ issue with async I/O is that they are not debuggable.
Let us assume that I've a sync system, and a request is taking a lot of time. If I'm using sync I/O, I can take a proc dump, look at the threads,

[2016-05-10 22:26] weshaggard commented on #5733
https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/specs/PortablePdb-Metadata.md

Portable PDB's are a new x-plat compatible type of symbols that don't require Windows COM support. They are primarily used for x-plat but could also be used on windows as well. At this point they are still more limited in support so on windows we still use the existing PDB format but I expect

[2016-05-10 22:28] bdenison99 commented on #8404
I think it looks a lot better.  I'll work on some of the code projects later and see if there is another issue.  Feel free to close this issue, since I can always open another one later if I run into additional problems.

[2016-05-10 22:29] ayende commented on #5044
Oh, and what is even more fun, you can't do an `await` inside a constructor, which means that in some cases, you really don't have a choice but to block.

But there is no really good way to actually do blocking that is out of the box, works across the board and doesn't incur its own set of challenges.

See also: http://journal.stuffwithstuff.com/2015/02/01/what-color-is-your-function/

[2016-05-10 22:30] Priya91 commented on #8404
Okie, thanks!

[2016-05-10 22:30] #8404 closed

[2016-05-10 22:39] saurabh500 commented on #5848
We have fixed this as a part of the #4646 fix.

[2016-05-10 22:39] #5848 closed

[2016-05-10 22:50] nathanaeljones commented on #5921
I celebrate a common image class. I feel it may be premature to establish a generic codec interface before we catalogue codec implementations themselves. **Could the codec framework proposal be split into a separate issue, perhaps?** The two overlap in terms of color profile and metadata support, but the former is relatively standardized and the latter is orthogonal and should not be stored with b

[2016-05-10 23:15] CIPop opened #8439 "System.IO.Tests.WaitForChangedTests.Created_Success(changeType: Created) [FAIL]"
From: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_debug_tst_prtest/965/consoleFull#-21371504001f1a4601-6aec-4fd5-b678-78d4389fd5e8

Failed on  Innerloop CentOS7.1 Debug Build and Test:

[code]

[2016-05-10 23:36] brentarias opened #8440 "HttpClient Unstable on CoreCLR"
I've been using HttpClient in my ASP.NET Core application, running on the (full) `clr` runtime.  It works great.  However, when I  `dnvm use` to switch to `coreclr` runtime, then I've found that HttpClient invocations fail.  At first this seems like this is a Kestrel issue, but please read my post through to learn my workaround.  The workaround suggests this is an issue with HttpClient itself.

To

[2016-05-10 23:39] khdang commented on #8422
Somehow I ran the repro code as a unit test in corefx multiple times and it didn't repro.

[2016-05-10 23:56] jaredpar commented on #8398
@rainersigwald my main concern is the ability to have a netstandard 1.3 API assembly for MSBulid that can be used for both MSBuild Desktop and MSBuild Core.  That way a single Task implementation can be used in all of the places MSBuild will be run.  This is relevant to the tasks for C#, VB, F#, NuGet, code generation, etc ...

If this solution allows for that then it will meet our scenario.

IMHO

[2016-05-10 23:57] dagood commented on #5733
Ah, thanks. When would a Portable PDB be published, then? If I understand correctly, managed code can be built on any platform, and we currently build them on Windows. Are we planning on publishing managed libraries from another platform?

[2016-05-11 00:21] manu-silicon commented on #8385
I assumed this was not available on windows because the batch script does not provide this has an option like you have for CoreCLR.

In any case, I would change this issue to not build the tests if `skiptests` is set. It feels like it would be a huge saving in compile time. As I mentioned in #7538 a rebuild when you do not change anything is taking quite a bit of time when it should be close to ju

[2016-05-11 00:34] joshfree commented on #8223
@vancem is this something that you're actually working on for RTM?

[2016-05-11 01:03] yizhang82 commented on #7804
@tijoytom Please note that these are the new names we defined for PInvokeMarshal class where the naming is consistent and use AllocatedMemory (instead of CoTaskMem, to avoid windows-ness).

[2016-05-11 01:06] SamuelEnglard commented on #5921
It's not if .NET Core will be more popular than Windows but how popular with .NET Core be on none Windows systems

[2016-05-11 01:21] ramarag commented on #7783
This is a CLI issue, the CLI is not placing the resources of all the locales from the FluentValidation nuget package into the execution directory. Thus ResourceManager defaults to the default locale embedded with in FluentValidation.dll

@schellap  can you link the appropriate tracking bug from dotnet/cli and close this issue ?

[2016-05-11 01:48] nathanaeljones commented on #5921
@SamuelEnglard My point is that third-party codecs to any given codec framework are not particularly abundant. Maybe we should not build one into .NET Core this early.

[2016-05-11 01:51] phillip-haydon commented on #5921
I personally don't think imaging should be built into core. The vast majority of users of core will never need imaging. If MS want to supply a base library for imaging separate build on top of Core, that 3rd parties consume for their own libraries as a dependency. I'm all for that. But it makes no sense to be in Core for me.

my 2c

[2016-05-11 02:08] ramarag commented on #7783
closing it here and tracking in dotnet/cli https://github.com/dotnet/cli/issues/2983

[2016-05-11 02:08] #7783 closed

[2016-05-11 02:20] ellismg opened #8444 "System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test.GetAsync_AllowedSSLVersion_Succeeds(acceptedProtocol: Tls) failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/994/testReport/junit/System.Net.Http.Functional.Tests/HttpClientHandler_SslProtocols_Test/GetAsync_AllowedSSLVersion_Succeeds_acceptedProtocol__Tls_/

[code]

This was talking to the loopback server.

[2016-05-11 02:25] SamuelEnglard commented on #5921
@nathanaeljones That I agree with.

@phillip-haydon Remember that core isn't a monolith anymore, just because somethings in core doesn't mean your app has to have it in it

[2016-05-11 05:05] whoisj commented on #7804
Any chance we can call a duck a "duck" and change `Unicode` to `Utf16`? I'd even settle for `Ucs2` at this point.

[2016-05-11 05:31] yizhang82 commented on #7804
@whoisj Unfortunately changing existing API contract is a breaking change. We can change the Unicode names in the new PInvokeMarshal class APIs, but the CharSet enum is going to be problematic. I think we can slowly introduce new API and enum with better names and slowly deprecate the old ones (LPWstr is another such example).

[2016-05-11 08:38] bendono commented on #7804
@yizhang82 What about leaving `Unicode` and adding `Utf16`, with both having the same value of 3?

[2016-05-11 09:37] fubar-coder commented on #3633
Related to #2342?

[2016-05-11 09:57] masonwheeler commented on #7804
@bendono That was my thought too.  Or possibly even marking `Unicode` as `[Obsolete]`.  (Can you do that with enum values?)

[2016-05-11 11:02] roji commented on #4741
+1 on the importance of this.

One thought for a new API would be to have a class hierarchy, where OS-specific version fields would become accessible if the user downcasts an abstract base class (which could be similar to .NET Framework's current OperatingClass).

This would allow cleanly exposing things like kernel versions, distribution names and versions on Linux, vs. things like service packs

[2016-05-11 11:25] JeffCyr commented on #5044
@ayende

Let us assume that I've a sync system, and a request is taking a lot of time. If I'm using sync I/O, I can take a proc dump, look at the threads, and say "oh, I see that it is stuck in ResolveDnsAddress or some such", and I know exactly where to look.

I know that VS has some stuff that suppose to help with this, but it doesn't help for production, and it doesn't come near what we need to

[2016-05-11 11:36] roji commented on #5044
@JeffCyr,

That's really going to depend on your app, but in any case consider the following. If you're just thinking about that one async call, then maybe one Task on the heap seems reasonable. But any serious program is going to have a whole bunch of methods calling each other. When you're doing async, each one of those stack layers is costing a Task on the heap.

Another case that is somewhat m

[2016-05-11 11:44] stephentoub commented on #4466
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug/27/

[2016-05-11 13:36] xperiandri opened #8449 "Why ImmutableList throws ArgumentOutOfRange instead of IndexOutOfRange on insertion"
Why `ImmutableList<T>` throws `ArgumentOutOfRangeException` instead of `IndexOutOfRangeException` when index out of allowed range is passed to `Insert` method?

[2016-05-11 14:00] davidsh commented on #8440
@brentarias Thank you for the detailed write-up of the issue you're having.  There have been many changes to the codebase since the beta/pre-release packages were published to NuGet.org. It's very possible that the issue you're having is already fixed in our latest packages. We will be publishing updated pre-release packages (RC2) to NuGet.org sometime within the next week or so.

Is it possible f

[2016-05-11 14:01] #8176 closed

[2016-05-11 14:09] bartonjs opened #8450 "X509Certificate2.GetECDsaPublicKey fails on UWP"
https://github.com/dotnet/corefx/blob/d0dc5fc099946adc1035b34a8b1f6042eddb0c75/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Windows/X509Pal.PublicKey.cs

[code]

[2016-05-11 14:17] bartonjs commented on #7657
Verification was performed against RC1, because it was easier to get working in VS.

TripleDES not working was tracked via #4845 (and fixed just after RC1).
GetECDsaPublicKey does not work, reported as #8450.  Ephemeral ECDSA works, as does GetECDsaPrivateKey, but getting the ECDSA public key from a certificate doesn't.

[2016-05-11 14:17] #7657 closed

[2016-05-11 14:43] stephentoub commented on #8425
@TorbenJ, are you still hitting this?  I know you just opened this a day ago, but that was also just after we added the source for this project, and a few things have changed since, so I'm wondering if the issue might be gone.  I've been unable to reproduce it locally, and it's not reproducing in our CI system.

[2016-05-11 14:58] GSPP commented on #5044
`Task`-based async is really nasty and infectious. The two things that Go improved with over C are Garbage Collection and Green Threads for IO. It would be so nice if the CLR was 99.99% synchronous but on green threads.

It would be very rare to need to use async IO. You would only need async IO if even green threads were to expensive. That should be in the range of >100000 connected sockets or mo

[2016-05-11 15:00] bartonjs commented on #7657
https://github.com/bartonjs/SampleProjects/tree/5caf242d625bf11e6e21ea8ade5cc0636e71745b/CryptRunner, for the curious

[2016-05-11 15:06] joperezr commented on #8385
@manu-silicon There are some new changes coming in from the new dev workflow which I'm not 100% sure but I believe that they will basically separate the product and test build. @maririos has been working on those changes, so she might have a bit more info to share about them.

[2016-05-11 15:10] joperezr commented on #8369
@davidsh did you run init-tools.cmd before trying to build individual projects? I don't have msbuild 12 and I can't repro this.

[2016-05-11 15:14] whoisj commented on #7804
I guess I do not understand why the enumeration value cannot be overloaded for "correctness" and "back compat". Something along the lines of:

[code]

[2016-05-11 15:16] joperezr commented on #5733
I'm not sure if I understood your question correctly, but essentially yes we do publish managed libraries from all platforms. The problem with this issue is that currently the portable PDBs that we generate x-plat are invalid and therefore can't be used to debug. The reason for it, is that since after building each library (and it's portable PDB) we run a tool in buildtools called GenFacades that

[2016-05-11 15:47] yizhang82 commented on #7804
@whoisj @masonwheeler Thanks for your suggestions. Yes, this is exactly what I was thinking as well (introduce new API and deprecate old ones). In the CharSet case, the potential concern is deprecating would introduce warnings in existing code and will break them if they have warningaserror, for something common as CharSet.Unicode. It is something a simple search/replace could fix, but still poten

[2016-05-11 15:53] gkhanna79 commented on #8200
Based upon @ramarag investigation, this appears to be broken for XProj scenarios. @barrytang I am assigning this to you for rerouting as applicable.

[2016-05-11 15:57] AtsushiKan commented on #7779
Simplified the repro a bit. This repros on both desktop and Core - any crypto algorithm that does this delayed depadding is likely to object to CryptoStream.Dispose() thinking he can call FlushFinalBlock() prematurely.

[code]

[2016-05-11 15:59] mj1856 commented on #8353
Agreed about `DateTimeKind`.  Leave it alone.  Besides, it wouldn't be possible to add another kind, as we only have two bits to store it in the `DateTime` structure, and there are already four possible values (the three in the enumeration, and [the fourth "hidden" kind](http://referencesource.microsoft.com/#mscorlib/system/datetime.cs,40)).

We actually already do have `FromUnixTimeMilliseconds`

[2016-05-11 16:00] jeffschwMSFT opened #8453 "System.Runtime.Loader depends on Net462"
Of all the Microsoft.NETCore.App dependencies only 1 requires something higher than Net46 and that package is System.Runtime.Loader.  Why?

The reason I ran into this was trying to cross compile a .NET console app between core and net46.  To do this I need to target at least 4.6.2, but only for 1 package.

It would be nice to know if that is a hard dependency, a nice to have, or a dependency that

[2016-05-11 16:01] dagood commented on #5733
Ah, thanks, I think I see my confusion now: there's a gap between the TFS build and the build pipeline that I hadn't seen yet. The TFS build does collect managed artifacts from xplat to use for managed runtime dlls, but the build pipeline just builds all the managed stuff on Windows. (In fact, xplat managed builds aren't even run by the build pipeline--only natives.) Since I've been working on the

[2016-05-11 16:03] AArnott commented on #8449
Thanks for raising this, @xperiandri. We do strive for our exceptions to make sense, and be consistent across the Framework.

`ImmutableList<T>` is designed to be quite similar to `List<T>`. In particular, `List<T>.Insert` also throws `ArgumentOutOfRangeException` in the equivalent circumstance:

[code]

Note that the exception message mentions "index", but the exception type is actually an `Argum

[2016-05-11 16:03] #8449 closed

[2016-05-11 16:06] vancem commented on #8223
I am looking at this, because I do want EventCounters to be used where the are appropriate, and there is no reason they can't work on 1.3.   I will look at it this week in a time-boxed fashion and either resolve or postpone the issue.

[2016-05-11 16:20] whoisj commented on #7804
@yizhang82 as a customer who would be impacted by such a change in the way you describe, I appreciate your concern.

I propose the following resolution:

 1. Add `UTF16 = 3` to the enumeration, and pubically state that `Unicode` will be deprecated in the future.
 2. In the follow up release to NetFx 4.7 / 5 / 7, whatever it'll be named, add the `[Obsolete]` decorator. to the `Unicode` value.
 3. S

[2016-05-11 16:34] weshaggard commented on #5733
We were planning to do that originally but we had to change direction on that when we decided to put all these assets into the same package (aka FAT packages). So we are building all the managed assemblies as part of the same windows build right now and only building native binaries on the specific x-plat builds.

Thinking about a little more I don't think there is anything more left to do with th

[2016-05-11 16:34] #5733 closed

[2016-05-11 16:35] LorenzGardner commented on #1006
Any update on inclusion of the the namesapce? I 'm guessing it won't make RC2 at this point.

[2016-05-11 16:38] GuardRex commented on #1006
Correct ... it won't. I did put my **extremely hacky barely prototype** Email package up. It works well with Gmail servers. It's at least the basis of something that might tide some folks over to MailKit being updated for RC2 or the release of a new `System.Net.Mail` ... https://github.com/GuardRex/Email

[2016-05-11 16:40] weshaggard commented on #5733
@joperezr correct me if I'm wrong but the genfacades issues is tracked by a different issue correct?

[2016-05-11 16:44] SamuelEnglard opened #8454 "API difference between ref assembly and actuall assembly"
`System.Reflection.ParameterInfo` defines a protected constructor in mscorlib, but in the ref assembly `System.Reflection` it does not. This prevents me from inheriting from it. While I suspect this is the very reason this is done...

1. Why change the API contract?
2. Why block me from inheriting (even more so only by ref assembly)?

[2016-05-11 16:46] maririos commented on #8385
@manu-silicon if you want to avoid building the tests you could pass `/p:BuildTests=false` in both build.cmd and build.sh.
There are some scenarios where we want to build but not execute the tests so for now we have both properties for the different behaviors.
As @joperezr mentioned, I'm working on a change that involves the exposure of the properties we have and when to use them, so in the future

[2016-05-11 16:52] mj1856 commented on #3571
That is interesting, because that method actually has a separate fast-path for Windows, so you would think the Unix version would be slower.  It may be worth testing to see if disabling the fast-path helps.  Perhaps it's not so fast anymore.

`DateTime.UtcNow` calls `GetSystemTimeAsFileTime`, which is native to Win32.  We're emulating that for Linux using `gettimeofday`.  [I think that's here](htt

[2016-05-11 16:56] masonwheeler commented on #7804
@yizhang82

But isn't that the whole point of warningaserror, declaring that they *want* their code to break if even something minor enough to be considered an error ends up being off about their codebase, including future changes?

[2016-05-11 17:01] SGuyGe commented on #8133
We need FormatterServices.GetUninitializedObject for sure. For Exception.set_StackTrace, I don't think that alone would fulfill our need to serialize Exception types. There're more members that we need to set, e.g. Exception.Message, Exception.InnerException. And there're even more members in the derived Exceptions, e.g. ArgumentException.ParamName. If we want to go this route, then we'll need to

[2016-05-11 17:24] AtsushiKan commented on #8454
This is already being tracked by this issue.

https://github.com/dotnet/corefx/issues/4997

The TLDR version is "We'd like to enable user-inheritance of Reflection types some day but it's a lot more complicated than exposing a constructor."

[2016-05-11 17:24] #8454 closed

[2016-05-11 18:04] #5831 closed

[2016-05-11 18:04] mfe- commented on #5766
UWP XAML has fewer features in comparison to the classic .NET WPF XAML. One of the features I miss most are TypeConverters.

I tried to create my own TypeConverter as suggested here https://msdn.microsoft.com/en-us/library/bb546926(v=vs.90).aspx (the article is for WPF TypeConverters)

In UWP I get with [this](https://gist.github.com/mfe-/8416ffc2bf5c41a83a06a0bd71ad31c4#file-car-cs) “Unknown type

[2016-05-11 18:12] xperiandri commented on #8449
Looks not so obvious but with that description have sense.
Thanks.

[2016-05-11 18:23] awcullen opened #8455 "RSACertificateExtensions.GetRSAPrivateKey() fails on UWP"
Since 4.2.0-rc3-24105-00, in UWP, calling RSACertificateExtensions.GetRSAPrivateKey() results in:

System.TypeLoadException occurred
  Message=Could not load type 'System.Security.Cryptography.ECDsa' from assembly 'System.Security.Cryptography.Algorithms, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.
  Source=System.Security.Cryptography.X509Certificates

I see in the package

[2016-05-11 18:29] joperezr commented on #5733
Looks like we never actually logged an issue for that problem. We used to have this one #5825 but that one was only to test if the portable PDBs could be used for debugging, so I closed it once the investigation was done but I didn't log a new one for fixing GenFacades. I'll do that now in BuildTools repo, since I think it makes more sense to have the issue logged there.

[2016-05-11 19:05] khdang commented on #8422
I still cannot repro the issue.
The callstack suggests ```s_typeHasDefaultConstructorMap``` is null at the index operation. However it should be accessed before this index operation without any issue by the same thread. In addition, it is a private readonly and should be initialized before the below code is executed. So I'm not sure how this could happen.
[code]

[2016-05-11 19:08] khdang commented on #8422
@shmao @SGuyGe can you help give it a try to see if it's repro?

[2016-05-11 19:10] stephentoub commented on #8422
@khdang, I believe the issue is a race condition.  It's not that s_typeHasDefaultConstructorMap is null, it's that inside of the dictionary it's hitting a null reference exception.  If the code I highlighted can be invoked from multiple threads concurrently, it's possible for two threads to be trying to modify the dictionary concurrently, or one reading from it as another is modifying it, and Dict

[2016-05-11 19:12] m4nd1cm4rk0 opened #8457 "System.Collections.Generic.List problem"
I have a problem with Contains method in List.cs
Contains will return true even if object that i'am searching for doesn't exist in the List.
I don't know is this something that should work in that way or it is a bug.

       `static void Main(string[] args)
        {
            List<object> Array = new List<object>();
            Employee e1 = new Employee();
            Employee e2 = null;

[2016-05-11 19:14] billwert commented on #8422
Debugging this on my machine, the crash happens here: https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/Dictionary.cs#L345

Looking up the function a bit, you can see that the first time someone calls Insert it will call initialize: https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/Dictionary.cs#L310

[2016-05-11 19:15] svick commented on #8457
The value of `e2` is `null` and your list does indeed contain `null`. So this looks like the correct behavior to me.

[2016-05-11 19:17] m4nd1cm4rk0 commented on #8457
Yeah, but i want to find e2 object that doesn't exist in the List.

[2016-05-11 19:17] m4nd1cm4rk0 commented on #8457
`public bool Contains(T item)
        {
            if ((Object)item == null)
            {
                for (int i = 0; i < _size; i++)
                    if ((Object)_items[i] == null)
                        return true;
                return false;
            }
            else
            {
                EqualityComparer<T> c = EqualityComparer<T>.Default;
                for (int i =

[2016-05-11 19:18] m4nd1cm4rk0 commented on #8457
I want to find specific object, but instead Contains returns True even if specific object doesn't found in the List.

[2016-05-11 19:19] svick commented on #8457
There is no `e2` object, `e2` is a variable whose value is `null`.

[2016-05-11 19:23] m4nd1cm4rk0 commented on #8457
Ok, but than it should return false? Right?
I know that Contains method search for null object in the List. but seems wrong to search null object and return true even if that specific object doesn't exist in that List.

[2016-05-11 19:31] mikeharder opened #8458 "IPAddresses returned from System.Net.NetworkInformation are missing ScopeID on OSX and Linux"
**Repro Steps**
1. Run the following code, and compare the results to ipconfig/ifconfig:

[code]

**Windows**
.NET Core
[code]

ipconfig /all
[code]

**OS X**
.NET Core
[code]

ifconfig
[code]

**Linux**
.NET Core
[code]

ifconfig
[code]

[2016-05-11 19:43] dagood commented on #5733
I see, thanks for going through the reasoning, Wes. I've only exercised the feeds from Windows so it's possible the symbol servers handle the portable PDBs incorrectly. I subscribed to https://github.com/dotnet/buildtools/issues/705 and I'm thinking that as part of finishing off that work we can make sure portable PDBs behave the same after being put through symbol servers.

[2016-05-11 19:53] davidsh commented on #8458
cc: @ericeil @stephentoub

[2016-05-11 20:00] mellinoe commented on #8458
I believe we just need to store the scopeID on [line 82 of UnixNetworkInterface.cs](https://github.com/dotnet/corefx/blob/d0dc5fc099946adc1035b34a8b1f6042eddb0c75/src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/UnixNetworkInterface.cs#L82). We already have the scope ID there.

[2016-05-11 20:03] CIPop commented on #8369
@joperezr Please contact me offline for a very simple repro on either an Azure or a vanilla deployment of Win7/Win10.

Repro steps:

1. Install Visual Studio Community
- Install CMake
- Install GitHub's Desktop client
- Restart
- Start the GitHub client (installs Git tools)
- Start PoshGit using the desktop icon that GitHub's client installed
- git clone https://github.com/dotnet/corefx.git
- .\bu

[2016-05-11 20:03] davidsh commented on #7623
@stephentoub Yes.  I added the property to the proposed API.  This property is similar to HttpRequestMessage.Properties.

[2016-05-11 20:22] mellinoe commented on #8457
It shouldn't return false. It isn't very common, but you might want to store a `null` value in your List, and `Contains()` should return whether or not `null` is in the list. Are you suggesting that it should always return "false" if you pass in `null`?

[2016-05-11 20:27] m4nd1cm4rk0 commented on #8457
Maybe

[2016-05-11 20:35] davidsh commented on #8297
I agree that this can vary between implementations but it would nice to get the strings as close as possible across the implementations.

The ID should be consistent.

[2016-05-11 21:09] stephentoub commented on #8389
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/1141/

[2016-05-11 21:26] ramarag commented on #4399
@Belorus can you attach a repro and steps so that there are no misunderstanding ?

[2016-05-11 21:33] roji opened #8464 "Issues with Socket.GetSocketOption for errors on Linux"
It seems I've stumbled on some behavior issues with Socket.GetSocketOption. In Npgsql I use a pretty standard pattern for non-blocking socket connect:

[code]

The code above is supposed to fail with a ConnectionRefused since nobody's listening at 44444.

On Linux/mono, as well as on Windows/coreclr and Windows/net451 the output of this code is ConnectionRefused from both GetSocketOption invocatio

[2016-05-11 21:35] davidsh commented on #8464
cc: @ericeil

[2016-05-11 21:38] tmds commented on #8297
@mellinoe @davidfowl @CIPop I think we all agree that the ID should be consistent. The real question is: who is responsible for making it consistent across reboots?

In my opinion the network interface name is good enough, rationale:
* It is a common practice to use the name in configuration files which are expected to remain the same across reboots. (e.g. firewall rules, routing, ...)
* On most s

[2016-05-11 21:39] ramarag commented on #4399
@Belorus  and can you also share the resx and PCL

[2016-05-11 21:46] Priya91 commented on #7939
This is dependent on the next release of nano server. Moving this to future milestone.

[2016-05-11 21:48] stephentoub commented on #8464
It looks like we're missing a translation between error value spaces.  111 is the value of ECONNREFUSED on Linux.

[2016-05-11 21:49] khdang commented on #8422
That makes sense. I didn't realize the exception was from dictionary. I'll fix this by using ConcurentDictionary instead.

[2016-05-11 21:50] roji commented on #8464
The error also seems to be cleared when GetSocketOption is called, resulting in the second GetSocketOption reporting success...

[2016-05-11 21:51] stephentoub commented on #8464
That seems to match the docs, which state:
[code]
That also matches the defined behavior for SO_ERROR:
[code]
Given the MSDN state it should clear, if it's not doing so on Windows, that would seem like a bug on Windows. @davidsh?

[2016-05-11 21:54] Priya91 commented on #7939
This is now available: https://blogs.technet.microsoft.com/nanoserver/2016/04/27/nano-server-tp5-iaas-image-in-the-azure-gallery/

[2016-05-11 21:55] roji commented on #8464
@stephentoub you're right, the Linux [man page](http://linux.die.net/man/7/socket) states this as well (see SO_ERROR). Curious that both mono on Linux and .NET Framework don't do this.

[2016-05-11 22:00] shmao commented on #8422
The Dictionary was used as a perf optimization. It may be worth to compare the performance of using ConcurentDictionary v.s. not using dictionary at all. We can then decide whether we need this optimization.

[2016-05-11 22:00] davidsh commented on #8464
cc: @CIPop

Could be a bug in Windows implementation for System.Net.Sockets.  Curious if the bug occurs in .NET Framework Desktop.  Sounds like we need a specific test for this.

[2016-05-11 22:07] mellinoe commented on #8297
Thanks, that is good information. If there is precedent for persisting the ID, then that alleviates some of my concern. When using it from a .NET Application, though, there may be an extra expectation that the value always be consistent, but I'm not familiar enough with how people are using this property in practice. The fact that most systems (and newer ones) all have consistent names is reassuri

[2016-05-11 22:09] #6373 closed

[2016-05-11 22:24] ericeil commented on #8362
On OSX and Linux, `IPAddress.Parse` uses `getaddrinfo` to parse the string.  This is spec'd to only work for decimal, but seems to do more than that on both platforms.  On Linux, I guess it works well for both hex and octal.  On OSX, hex seems to work, but octal only *sometimes* works.  After some experimentation, I think what's going on is that `getaddrinfo` on OSX tries to parse the address as d

[2016-05-11 22:24] ericeil commented on #8362
Likely what we'll need to do, to get parity with Windows here, is implement our own parser in IPAddress.

[2016-05-11 22:34] stephentoub commented on #8362
Ouch, but it makes sense.

[2016-05-11 22:36] #8458 closed

[2016-05-11 22:54] CIPop commented on #8464
Ran the test on .Net 4.6.1 and 3.5 on TH2:

[code]

Since the behavior has already been shipped on so many platforms, we may only be able to change the documentation at this point.

[2016-05-11 23:17] stephentoub commented on #8464
I'm about to post a fix for the Unix portion of this (the error translation), but we would have to go out of our way to explicitly store the last error and ensure we're using the "right" last one in order to appropriately not clear it.  It's not obvious to me that we could get that "right".  So I think we should have the implementation on Unix match getsockopt and the current documentation, and ha

[2016-05-11 23:24] CIPop commented on #8362
Before doing so we should understand if there is any usage on OSX and octal IPv4 addresses.
Based on lessons learned with System.Uri and custom parsers, I recommend just documenting the behavior by having a few tests, specific for OSX, that validate the above description (i.e. octal works for 0300 but not for 0255).

[2016-05-11 23:31] ericeil commented on #8464
I agree; this would require maintaining the "pending socket error" value across all native socket calls, exactly the way Windows does, whatever that is.  This may not be possible, and even if it *is*, it's going to be very fragile.

I think implementing this as documented, and mentioning it in the "platform differences" notes, sounds like a fine solution.

[2016-05-12 00:04] manu-silicon commented on #8385
@maririos Thanks. I'll try this.

[2016-05-12 02:33] stephentoub commented on #6388
This just failed again:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/1162/consoleText
[code]

[2016-05-12 02:50] stephentoub opened #8472 "Unhandled exception from SslStream in CI"
I'm not sure what test this is from, but it's from something in System.Net.Security.Tests
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_tst_prtest/1004/consoleText
[code]

[2016-05-12 03:20] davidsh commented on #8472
cc: @CIPop

I saw this fail today on Windows on my dev box.  If you run the System.Net.Security tests several times, it will fail once or twice with this error.  I don't remember which test but I'll try again to find it.

[2016-05-12 03:23] davidsh commented on #8472
Not sure which test because this failure blows up in a threadpool thread.  I suspect this is a test bug but we'll need to investigate to be sure.  Since I saw this on Windows, I will remove the X-Plat tag.

[2016-05-12 03:35] bartonjs commented on #8455
Could you share your whole project.json so I can try to get into the same state?

[2016-05-12 03:36] stephentoub commented on #8472
Actually, I have an inkling of what's going on here.  I believe my change to add Begin/EndRead/Write to the contract changed how some test code was binding, preferring to bind to instance methods instead of extension methods in the tests, thereby changing some code to use Read/Write asynchronously vs using Read/Write.  I'll see what I can do to fix it.

[2016-05-12 03:39] joperezr commented on #8385
@manu-silicon If that works for you, can you let us know so we can close the issue? Thanks!

[2016-05-12 03:57] tmds commented on #8297
The info you get from `lshw `comes from matching pci ids to descriptions stored on the filesystem typically at `/usr/share/misc/pci.ids`, `/usr/share/hwdata/pci.ids`, ...

[2016-05-12 04:52] davmason commented on #4864
Do you need TraceEvent for something? I haven't done any work towards this, but others may have.

@vancem may know more.

[2016-05-12 06:06] #8457 closed

[2016-05-12 06:23] TorbenJ commented on #8425
@stephentoub I tried to build it using a fresh Ubuntu 14.04 VM (and a fresh clone of the repo) following the [Steps to Build on Ubuntu](https://github.com/dotnet/corefx/blob/master/Documentation/building/unix-instructions.md#steps-to-build-on-ubuntu).
Still the same issue that it tries to load `oleaut32.dll`.

[2016-05-12 06:59] MarinAtanasov commented on #1784
Any update on Assembly.GetReferencedAssemblies ?
This is something that I really need.

[2016-05-12 07:31] #8385 closed

[2016-05-12 08:06] brentarias commented on #8440
Which of the following should I use?

 * https://www.myget.org/F/aspnetcirelease/api/v3/index.json
 * https://www.myget.org/F/aspnetvnext/api/v3/index.json

Both offer RC2 versions of System.Net.Http.  I think I need to select an RC2 version that is still compatible with the `dnx` run-time (e.g. December-ish release).  I say this because, if I understand correctly, "latest" RC2 (1.0.0-rc2-20221) c

[2016-05-12 09:45] TorbenJ commented on #8425
So I rebuilt the project using the desktop version of 16.04 LTS and there are no more errors reported. Only ~100 warnings stating one should add `win7-x64` or `ubuntu.16.04-x64` to project.json and re-run NuGet restore. So I guess it's somehow related to the server image I used.

[2016-05-12 09:49] xied75 commented on #6771
I guess there was a misunderstanding between you two. I feel @clrjunkie meant _You should know **your people**_, but @stephentoub read it like _You should know **your .NET**_

Probably better for the .net community that everyone check their words and remove anything typed not in a good mood, so that we still have a chance to send Java to the museum.

[2016-05-12 11:43] hardcodet opened #8475 "Boolean expressions evaluated wrong within async method"
Have a look at this method that has two identical if statements:

        public async Task Foo()
        {
            int x = 199 + 1;
            if (x == 500)
            {
                throw new AggregateException("WTF");
            }

            await Task.FromResult(1);

            int y = 199 + 1;
            if (y == 500)
            {
                throw new AggregateException("W

[2016-05-12 11:44] svick commented on #8440
@brentarias ASP.NET core has [a page explaining their MyGet feeds](https://github.com/aspnet/Home/wiki/NuGet-feeds).

[2016-05-12 12:45] Toxantron commented on #7594
@KrzysztofCwalina I am aware of the usual workflow and that API suggestions need approval. Are there any comments on this? Otherwise I would prepare a PR against the `future` branch in the next days.

[2016-05-12 12:55] awcullen commented on #8455
My library that is calling GetRSAPrivateKey has
[code]

[2016-05-12 13:10] awcullen commented on #8455
I found in ".nuget\packages\System.Security.Cryptography.Algorithms\4.2.0-rc3-24111-00\ref\netstandard1.4\"
"System.Security.Cryptography.Algorithms.dll" has the ECDsa type.
So it compiles.
But there is no "\lib\netstandard1.4\" or "\runtimes\win\lib\netstandard1.4\" so it fails at runtime.

Thanks

[2016-05-12 14:32] svick commented on #8475
I don't see any exception being actually thrown in your repro project. But when I step through the method in VS debugger in Debug mode, the second `throw` line looks like it's active. That would mean it's just a debugging issue, not actually incorrect code being executed. Is that what you see?

To me this looks like it might be a bug in the PDB file: there is code to execute after the skipped `thr

[2016-05-12 15:08] hardcodet commented on #8475
Not sure this is just a PDB issue - I discovered it because my unit tests were failing. I assume the error doesn't surface at runtime because it's just thrown on another thread (with await messing up).
Anyway, I'll post it into Roslyn - thanks for the pointer!

[2016-05-12 15:12] hardcodet commented on #8475
Issue opened on Rosly board:
https://github.com/dotnet/roslyn/issues/11267

Feel free to close here if you don't want to follow.

[2016-05-12 15:47] ericstj commented on #8455
So `netstandard1.4` isn't a *runnable* TFM.  It's an abstract/portable TFM that represents the surface area of many app models / concrete TFMs.  The concrete TFM here you'd be using would be from the UWP application referencing this, which should use
[code]

Here is an examples of a project that works fine for me with UWP and the latest Algorithms:
[code]

[2016-05-12 15:59] bartonjs commented on #8455
Okay, after chatting with Eric some more we figured it out.  The ECDsa class got excluded from the netcore50 library during a recent change; and so that's causing this error.  I've reproed it locally with Eric's project.json and my test app.

[2016-05-12 16:01] weshaggard commented on #1784
@MarinAtanasov that API is exposed in our latest contracts https://github.com/dotnet/corefx/blob/master/src/System.Reflection/ref/System.Reflection.cs#L48.

[2016-05-12 16:01] awcullen commented on #8455
Awesome. Thanks guys.

[2016-05-12 16:05] vancem commented on #4864
I looked into this a few months ago.   At the time I knew next to nothing about getting things built on CoreCLR, which slowed the investigation, but what I did learn suggested that it was straightforward but not trivial (there are missing APIs that you have to work around).    At the time I wanted to wait for CoreCLR build tools to mature (I did not want to be on the bleeding edge).

Sadly we are

[2016-05-12 16:42] clrjunkie commented on #6771
@xied75 You understood me correctly. It didn't even cross my mind that such wording could be interpreted differently and I apologize for that. I didn't mean to say "You should know your .NET".
I believe in fierce scrutiny backed by sound reasoning but never for the sake of degrading anyone or hurl insults as not only I think it's unprofessional but also such approach doesn't help move forward anyt

[2016-05-12 16:55] natemcmaster opened #8478 "Add a WinRT rid"
Can we add a RID for platforms that support WinRT native APIs?

**Our scenario:**

_Our package:_
[code]

For UWP apps, this causes problems (see https://github.com/aspnet/Microsoft.Data.Sqlite/issues/245) because NuGet tries to add the win7 native asset (win32) and this does not pass the Windows App Cert Kit which does not allow calls to win32 APIs.

_Our workaround:_
We use an MSBuild script to

[2016-05-12 17:01] tijoytom commented on #7804
@yizhang82
unsafe public static String PtrToStringUTF8(IntPtr ptr,int len)

Realized that the semantics of this method (ie for ANSI and UTF16)  usually 'len' parameter  is the length in number of characters , now for UTF8 the user won't know the number of character pointed to by ptr. Now even if the user somehow find the number of chars , we still need to get the nubmer of bytes to do the actual c

[2016-05-12 17:24] ericstj commented on #8478
If we wanted to do that it'd require a template change in Visual Studio as well as a msbuild targets change in NuGet in addition to adding the RID to the RID graph.  /cc @Pilchie @jasonmalinowski

Can you workaround this by putting the native library under runtimes/{rid}/lib/uap10.0.  Lib and native under runtimes aren't treated any different by msbuild based projects.

[2016-05-12 17:29] natemcmaster commented on #8478
Does nuget support this folder structure for native assets? `runtimes/{rid}/native/{tfm}/` I didn't see this in https://docs.nuget.org/create/uwp-create#native-light-up

[2016-05-12 17:30] brentarias commented on #8440
I have now re-tested HttpClient with the following:

 * runtime: rc1-update2 coreclr
 * "System.Net.Http": "4.0.1-rc2-23826"

The problem I documented still occurs as of those versions.  I cannot test anything later than that without having to re-instrument my entire solution for the rc2 runtime.

[2016-05-12 17:32] weshaggard opened #8479 "Enable checksumalgorithm:SHA256 for managed code."
see https://github.com/dotnet/roslyn/issues/10451

We will need to generate an rsp file for this for now because it isn't exposed in the csc build task.

[2016-05-12 17:32] ericeil commented on #8362
I agree that if the only issue was a failure to parse octal, I'd want to see how much usage that gets before making big changes here.  But I think the bigger issue is that the native parsers on Unix are overly permissive of "bad" address strings; failure to fail in these cases could lead to all sorts of very bad behavior in code that relies on the validation we currently provide on Windows.

I als

[2016-05-12 17:34] ericstj commented on #8478
No, but as I mentioned lib and native are treated the same for UWP projects.  They just give you some flexibility of having different asset types.

[2016-05-12 17:37] natemcmaster commented on #8478
True for now, but I'm not sure I can rely on that always being true in future version of msbuild.

[2016-05-12 17:38] emgarten commented on #8478
Native is the TFM, so it doesn't support a TFM after it. The paths are ``runtimes/{rid}/native/`` and ``runtimes/{rid}/lib/{tfm}/``

[2016-05-12 17:39] tarekgh commented on #8353
I agree with @mj1856 regarding we need to promote DateTimeOffset and avoid using DateTime in such scenarios.

@brian-white looks the concerned scenarios already addressed by using DateTimeOffset. do you think there is any missing scenario need to be addressed here considering asking people to use DateTimeOffset?

[2016-05-12 17:49] natemcmaster commented on #8478
Ok, workaround possibilities aside, is adding a WinRT rid something we can consider adding?

[2016-05-12 17:51] chcosta opened #8482 "System.Net.Http surface area on Linux"
When compiling the System.Net.Http.Functional tests with projectreferences converted to package dependencies, the build breaks due to differing surface area.

I'm testing a temporary fix to opt system.net.http.functional tests out of the projectreference-> package dependency conversion, but these failures should be investigated so that we can reimplement to compile against packages instead of impl

[2016-05-12 18:09] ericstj commented on #8478
That's more of a request for VS and Windows folks since the complicated / breaking changes are on the templates side and targets side.  I personally don't see a lot of value in doing this since the TFM is sufficient to qualify here.  If we started having multiple different TFMs/AppModels with the same APPX bit requirement then it might make sense to add a distinct RID heirarchy.

[2016-05-12 18:11] natemcmaster commented on #8478
cc @davidfowl

[2016-05-12 18:20] natemcmaster commented on #8478
So would it be better to add support for `runtimes/{rid}/native/{tfm}/` to NuGet?

From discussion with @emgarten, at the moment `runtimes/{rid}/native/` adds native assets to all TFMs, (e.g. Win32 ends up in WinRT output), but if we moved native libraries to `runtime/{rid}/lib/{tfm}` then p/invoke stops working with `dotnet run` because it only probes `runtimes/{rid}/native` for native assets.

[2016-05-12 18:24] emgarten commented on #8478
From NuGet's point of view native dlls can exist in ``runtimes/{rid}/lib/{tfm}`` the native folder is a used to add an assembly in *addition to* the lib folder.

@ericstj @davidfowl is there a requirement that native dlls be under the native folder? It would be nice to clarify on how this should work and how build should handle this.

[2016-05-12 18:27] ericstj commented on #8478
That might be a reasonable alternative.  If the dependencies is indeed on WinRT surface you're better off with a TFM/TxM because WinRT has a more granular continuous version that represents the API surface and that's encoded in the TFM.  I don't think we want to be in the business of shipping new RIDs everytime Windows rev's windows.winmd, and having folks rewrite their project.jsons.

DotNET run

[2016-05-12 18:36] whoisj commented on #7804
@tijoytom not every uft8 block is null terminated. Many use-cases will need the `len` value to be the number of utf8 bytes, but absolutely not the count of characters or code points in the block.

[2016-05-12 18:45] yizhang82 commented on #7804
@tijoytom The len here is not count of characters. It is byte len. Our Documentation on PtrToStringAnsi is incorrect. Let's change the name of PtrToStringUTF8 to be PtrToStringUTF8ByteLen

[2016-05-12 18:50] stephentoub commented on #7804
Wouldn't it be better to instead change the name of the parameter from ```len``` to ```byteLength``` or something like that?

[2016-05-12 18:53] stephentoub commented on #8425
Interesting.  @ellismg, @eerhardt, @ericstj, could this be related to RID detection, such that we're incorrectly determining what system we're on when using the "server" edition?

[2016-05-12 18:58] ellismg commented on #8425
Server shouldn't matter, but I'll take a look @TorbenJ, did you just use the ISO from Ubuntu's site or spin up and Azure VM or something else?

[2016-05-12 19:06] TorbenJ commented on #8425
@ellismg I used an Amazon AWS VM. Haven't tried Azure so far.

[2016-05-12 19:07] stephentoub commented on #8482
For 1.0, we're in the final stages of adding some properties to HttpClientHandler:
https://github.com/dotnet/corefx/issues/7623

In advance of that, we implemented most of the additional members exposed on WinHttpHandler in CurlHandler, expecting that the new surface area would be a subset of that.  Those are the members you're seeing here.

Once https://github.com/dotnet/corefx/issues/7623 is add

[2016-05-12 20:02] steveharter opened #8487 "Implement Create methods for better cross-plat Crypto"
During the API review of #7688 it was decided that to enable better cross-plat authoring we should have Create() methods on the following crypto base classes:
 ECDsa: Create(), Create(ECCurve), Create(ECParameters)
 RSA: Create(), Create(int), Create(RSAParameters)

This enables creation of the classes without having to special-case for Cng or OpenSsl platforms.

Implementation includes refactorin

[2016-05-12 20:02] steveharter commented on #8487
@bartonjs

[2016-05-12 20:13] gkhanna79 commented on #8479
CoreCLR native binary issue is https://github.com/dotnet/coreclr/issues/4938

[2016-05-12 20:41] schellap commented on #8478
@ericstj the host relies on the package relative asset path specified in the `app.deps.json` which comes from `project.lock.json`, the host **doesn't** by itself enforce any path rules. The RID information for the asset also comes from the deps file.

Example:
[code]

@natemcmaster do you have a repro of:

The host however expects TFM be resolved before `publish`, example: `runtimes/{rid}/native/n

[2016-05-12 20:44] schellap commented on #8478
Here is the sample which contains `libuv` in this pattern:
https://gist.github.com/schellap/547edf55982a9c826891a96d64c5233d

[2016-05-12 21:07] AtsushiKan commented on #3534
Well it was nice while it lasted - https://github.com/dotnet/corefx/commit/4367ec4c791928c6b2f994e9602dbc75aea7934d undid this.

@joperezr : could you either change the paths in $(CommonPath) (and $(SourceDir)) to use backslashes, or if necessary, define a $(PathSeparator) variable depending on the $(OSEnvironment) property?

[2016-05-12 21:24] natemcmaster commented on #8478
@schellap on windows, if sqlite3.dll is in "runtimes/rid/lib/tfm", the lock file produces
[code]
This means the deps file gets `"assetType": "runtime"` as well, so p/invoke doesn't find the native library.
[code]

Should this be a bug on CLI?  Seems to me this expected behavior since dll files in "runtimes/win7-x64/lib/netstandard1.0/" are expected to be managed.

[2016-05-12 21:25] #8464 closed

[2016-05-12 21:34] schellap commented on #8478
@anurse could you confirm that CLI uses the asset sub-path to actually detect runtime/native assetType?

[2016-05-12 21:36] natemcmaster commented on #8478
If I manually change project.lock.json to assetType native, p/invoke finds sqlite3.dll just fine.

[code]

[2016-05-12 21:41] schellap commented on #8478
The problem is NuGet treats it as a managed library even though it is a native binary because it lives in `lib`

[2016-05-12 21:48] emgarten commented on #8478
I wouldn't say NuGet is treating it as anything here. AssetType just refers to the lock file section it would be under if this were in a runtime target graph. The actual type of the assembly could be anything based on how the ``/lib`` folder worked before there was a ``/native`` and ``/runtimes`` folder.

If it is the case that package authors need to separate out native vs managed assemblies when

[2016-05-12 21:49] bartonjs commented on #8487
(I say "consider", but I mean "we're making a contract change, we need to do this in net463, too" :smile:)

[2016-05-12 21:57] #2383 closed

[2016-05-12 21:57] #8455 closed

[2016-05-12 22:04] tijoytom commented on #7804
Yes, changed it to byteLen

[2016-05-12 22:04] bartonjs opened #8489 "Bring back protected fields for SymmetricAlgorithm"
[code]

There's also `protected int FeedbackSizeValue`; but right now FeedbackSize is out-of-contract; so I'm not sure what the best plan is there.

This would be merged back into the existing contract and implementation before RTM, no package version bump.

[2016-05-12 22:08] bartonjs opened #8490 "Bring back protected fields for AsymmetricAlgorithm"
[code]

This would be merged back into the existing contract and implementation before RTM, no package version bump.

[2016-05-12 23:12] PinpointTownes opened #8491 "Consider bringing back X509Certificate2.PublicKey.Key and X509Certificate2.PrivateKey"
A while ago, it was decided to remove these properties from the public contract to encourage people to use the strongly typed extensions: https://github.com/dotnet/corefx/issues/2449#issuecomment-129042445.

Though the motivation seems legitimate, this approach leads to very weird code in practice, specially in framework classes that don't need to deal with the concrete algorithm instance, as it t

[2016-05-13 00:14] #7579 closed

[2016-05-13 00:30] bartonjs commented on #8491
When we were building .NET 4.6 there was a compatibility concern about the PrivateKey property returning anything other than RSACryptoServiceProvider or DSACryptoServiceProvider; and so they don't.  (Too much code assumes it can just blindly cast it over to RSACSP, and we're actually trying to remove all callers of these properties in netfx, since they don't work with CNG-keyed certificates.)

I n

[2016-05-13 00:40] bartonjs commented on #8423
I really wish we could get heapdumps on things like this.  I've tried ~1 million reruns of this test locally and can't get it to fail.  Maybe I can beef it up with some things like bouncing between threads, and an occasional block on Finalization.

[2016-05-13 01:19] PinpointTownes commented on #8491
Ideally, it shouldn't be bound to a particular algorithm as it's just a reference to a key.

IdentityModel itself only supports RSA certificates ATM when it comes to sign or verify, but developers using IdentityModel may want to implement a custom signature provider to support other algorithms. Without being able to retrieve the concrete algorithm instance from `X509SecurityKey` (due to `GetRSAPri

[2016-05-13 01:31] xoofx commented on #8307
The inefficiency of zip dealing with almost duplicate data (doesn't span compression across archive entries) and poor compression model (deflate/inflate) has been hurting a lot NuGet packaging... and we can see that it is getting worse with its broader adoption into the build...

Compressing a package folders with all packages with 7Z (with LZMA) will go down to 10% compression ratio, while with z

[2016-05-13 01:46] bartonjs commented on #8491
No, the first CNG certificate support (which is why those were added) came in .NET 4.6. (I could say the dread word "reflection" here)

And, also: net451 is out of support, net452 is the oldest still-supported version in the v4 family: https://blogs.msdn.microsoft.com/dotnet/2015/12/09/support-ending-for-the-net-framework-4-4-5-and-4-5-1/.  That doesn't really help here, but I thought I'd point it

[2016-05-13 02:00] PinpointTownes commented on #8491
Unfortunately, IdentityModel needs to target `net451` as it's the minimal TFM used by ASP.NET Core, so reflection would be the only option (but that's another topic :smile:)

Thanks for the list, it's really interesting :clap:

Since re-introducing these properties in .NET Core and changing the concrete implementations they return on .NET Desktop to avoid breaking existing code making casts is not

[2016-05-13 02:01] sergiy-k commented on #8453
/cc @gkhanna79

[2016-05-13 02:09] bartonjs commented on #8491
I realized I had neglected this part and was working on a reply that said something very much like:

I, personally, don't find a lot of value in this; and in some ways it is a net46 anti-goal (because it requires consumers to cast, and we've already seen a propensity to cast too far).  But, I acknowledge that is very idealist of me.  But, I can acknowledge that middleware has a place, and if all y

[2016-05-13 02:22] PinpointTownes commented on #8491
I promise :trollface:

In a perfect world, the platform-specific OpenSSL/CNG/CSP packages shouldn't be referenced at all from user code, which would "de facto" prevent the "abuse of casts" you're mentioning.

In the same world, we'd just have to deal with the base classes (`RSA`, `ECDsa`, `DSA`). We're not really living in an ideal world, but the upcoming `RSA.Create(RSAParameters)` and  `ECDsa.Ex

[2016-05-13 03:43] gkhanna79 commented on #8479
@weshaggard @joperezr Native binary support for Sha256 checksum has been committed. Can you please add support for mscorlib (aka core lib) when you get to managed binary support for the same?

[2016-05-13 06:13] ellismg commented on #8425
Interestingly enough, it looks like we are hitting this in CI, but it is not causing jobs to fail?!

See failures in [Ubuntu 14.04](http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/1067/consoleFull) and [OSX](http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/1079/consoleFull).  You'll want to search for "api".

[code]

[2016-05-13 07:25] ellismg commented on #8425
I believe that #8494 will address this issue.  It is very troubling to me that we were not seeing things fail the same way in CI as @TorbenJ was.

[2016-05-13 07:42] ellismg opened #8495 "Test crashes cross plat don't trigger CI failures in MSBuild"
While investigating https://github.com/dotnet/corefx/issues/8425, I noticed a case where a test project was failing in CI, but the build was not being marked as an error.  The best way to reproduce it may be to just revert the change I'm going to merge to fix this issue and run a CI job or local build.

I'm not yet sure where the problems lies.  Is the universal runner not flowing the correct exit

[2016-05-13 10:38] stephentoub commented on #8495
I don't think we ported https://github.com/dotnet/corefx/pull/7676 to RC2, and the issue was reported by MSBuild in https://github.com/dotnet/corefx/issues/7658.  If this has to do with an exit code not being reported correctly, maybe that's the cause?

[2016-05-13 10:45] stephentoub opened #8496 "PostLongerContentLengths_UsesChunkedSemantics failed in CI on Windows"
"The handle is invalid"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug/304/consoleText
[code]

[2016-05-13 11:12] #8124 closed

[2016-05-13 11:32] #8263 closed

[2016-05-13 11:49] stephentoub commented on #8358
https://github.com/dotnet/corefx/pull/8486

[2016-05-13 11:49] #8358 closed

[2016-05-13 11:51] stephentoub commented on #8475
Closing as this was moved to the Roslyn repo.

[2016-05-13 11:51] #8475 closed

[2016-05-13 11:56] tstringer opened #8498 "SqlClient diagnostics Before event should record timestamp"
The following [logging of the before event for SqlClient diagnostics](https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlClientDiagnosticListenerExtensions.cs#L27-L32) should include a timestamp member.  This would be as simple as adding `Timestamp = Stopwatch.GetTimestamp()` to the anonymous type passed into `DiagnosticListener.Write()`.

Please as

[2016-05-13 11:57] stephentoub commented on #8472
This will be fixed once we update to newer packages.

[2016-05-13 12:08] stephentoub commented on #8498
@vancem, what's the recommended approach here?  I'd have thought the infrastructure should be responsible for metadata like timestamps on events, rather than every event itself needing to store such data?

[2016-05-13 12:15] tstringer commented on #8498
Thanks for the quick response, @stephentoub!  Looping @avanderhoorn into the conversation as well!

[2016-05-13 13:28] ericstj commented on #8478
That's OK, the CLI host isn't going to work for "net40" apps, it's for Core apps, right?

[2016-05-13 13:44] #8478 closed

[2016-05-13 14:03] #8181 closed

[2016-05-13 14:04] #8425 closed

[2016-05-13 14:50] darrelmiller commented on #7864
@JonHanna Usually it is the media type registration document that defines what parameters are allowed.  In the application/atom+xml the [registration](http://www.iana.org/assignments/media-types/application/atom+xml) refers explicitly back RFC3023 for the rules, as you stated.

Interestingly, the .net stack loves adding charset onto `application/json` but in that case charset is not defined by the

[2016-05-13 15:35] natemcmaster commented on #8478
Thanks @ericstj

[2016-05-13 15:40] weshaggard commented on #8479
@joperezr we also need to enable it for the native binaries that we are building in corefx.

[2016-05-13 15:50] avanderhoorn commented on #8498
The idea of providing the `timestamp` is so that all consumers are working from the same data set when showing timings/durations/etc. Imagine that the your looking at IntelliTrace and it says the command took 19.78ms, then Glimpse says that the time was 20.34ms and then some other tool said it took 21.01ms... It would be a little off putting to need to rationalize why the timings are different. He

[2016-05-13 15:51] ellismg commented on #8495
I should be able to test your hunch today with a custom tool runtime build.

[2016-05-13 15:55] tarekgh commented on #8353
I am closing this issue but please feel free to re-open if you have any follow up related issue. thanks.

[2016-05-13 15:55] #8353 closed

[2016-05-13 15:55] vancem commented on #8498
Generally speaking, yes, the expectation is that the logging in infrastructure should be doing that part which it can do uniformly, and the timestamp is certainly something that the logging infrastructure can do.   This is particularly true for Timestamp since it is very easy for different code to have different notions of time (is it ticks, nanoseconds, 100ns, seconds as a double?, where is the s

[2016-05-13 16:02] #6010 closed

[2016-05-13 16:04] stephentoub commented on #8498
I wasn't arguing against having a timestamp... I was suggesting that it shouldn't be the job of the code logging the event to store a timestamp, but rather the EventSource or DiagnosticSource infrastructure can/should be doing that for every event, regardless of what additional information is logged.

This seems to align with Vance's feedback as well, if I'm interpreting it correctly.

[2016-05-13 16:07] tarekgh commented on #4587
To conclude this issue and clarify the expected behavior:

- When doing linguistic collation operations, it is expected you'll see different behavior when running on Linux than Windows. the reason is net core is just calling the OS for such operations.

- For this specific case when search for "\n" in a string has "\r\n", this one of the differences between Windows and Linux. ICU collation will tr

[2016-05-13 16:07] #4587 closed

[2016-05-13 16:16] joperezr commented on #8495
Even if we haven't ported that change, I added a condition in dotnet/buildtools#628 that should workaround this issue, so I'm not sure as to why this would fail. I'm not sure where to find the log you are investigating, but are we not longer using [tests.targets](https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/tests.targets) to run the tests?

[2016-05-13 16:19] joperezr commented on #3534
yeah I can add a PathSeparator and use it in those two variables.

[2016-05-13 16:27] stephentoub opened #8501 "Seg fault in System.Linq.Expressions tests on CentOS in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_tst_prtest/1042/consoleText
[code]
cc: @sergiy-k, @janvorli... I have no idea if this stemmed from CoreCLR or CoreFx, but System.Linq.Expressions is itself pure IL.