[2017-06-09 17:56] sharwell commented on #20875
@tannergooding They have no dependency on VS, but they do depend on using Roslyn (1.3+) as the compiler. If you are using C# 7 features, a handful of rules would need to be disabled while we finish updating it.

[2017-06-09 17:57] JeremyKuhne commented on #19717
@kellypleahy Did you just want to work on the new API? Or did you want to fix the existing ones as well? I'm going to create a new issue for the existing improvements, that might be the right way to get started / familiar with the code.

[2017-06-09 18:00] tannergooding commented on #20875
Ah, I forget that NuGet analyzers "just work" (I'm used to just using the built-in IDE analyzers lately).

[2017-06-09 18:03] karelz commented on #20869
What about CoreFX? My understanding was that CoreFX uses old C# compiler.

[2017-06-09 18:09] chcosta commented on #20869
Yes, CoreFx uses the compiler from BuildTools.  I was intending to align BuildTools with CLI.  If there's a desire to move to RTM compiler, then we should update CLI as well.

[2017-06-09 18:10] #20418 closed

[2017-06-09 18:13] JeremyKuhne opened #20876 "Directory and file exists methods could be more efficient"
Related to #19717

Exists methods have a try-catch for error cases and they normalize, which is not necessary (at least on Windows). As all error cases return false, we can remove most of this overhead.

https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/File.cs#L181-L210

The only pre-emptive check we might want to keep from GetFullPath is to return false if the p

[2017-06-09 18:24] ellismg commented on #20869
@livarcocc and @jaredpar would know for certain, but I expect that the compiler that is shipped in VS 15.3 would be the same one that is inserted in the final 2.0 CLI.  Note that there is no RTM compiler yet, the version CLI is consuming is what @jaredpar asked me to use when I updated the CLI a few weeks ago.

Personally, I'd like buildtools to just align on what CLI uses (and long term use the C

[2017-06-09 18:30] kellypleahy commented on #20876
OK... Now I'm massively confused.  The reason I got started on this was #19717 which started from another issue https://github.com/dotnet/corefx/pull/19716#discussion_r116282222 which started because checking that file exists || directory exists is inefficient.  However, looking at this code, it seems to return true for `File.Exists` when that "file" is a directory.

`FileSystem.FileExists` does n

[2017-06-09 18:33] kellypleahy commented on #20876
Hmm... maybe that comment is just wrong here: https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/File.cs#L176-L177

[2017-06-09 18:34] JeremyKuhne commented on #20876
Sorry :)

Shouldn't.

Looks like it. :)

[2017-06-09 18:39] kellypleahy commented on #20876
OK... walking back from the ledge now.  Let's see...  so.

Are you saying you recommend `File.Exists` and `Directory.Exists` directly use `FileSystem.Current.FileExists` and `FileSystem.Current.DirectoryExists` as those generally do the right thing and seem like they don't throw exceptions?  I forgot, they do seem to require a full path though, right, or is that not generally true?  I was wonderin

[2017-06-09 18:41] kellypleahy commented on #20875
OK cool. so is there a nice one-liner for running these locally on the command line on linux within the repo?  I guess that's what I'm asking for (windows too).

[2017-06-09 18:47] JeremyKuhne commented on #20876
This is related to the other (#19717) in that checking for existence period isn't efficient. You have to check twice (#19717) when you don't care if the existing path is a file or directory, which is a pretty common scenario.

Underlying that scenario is this one- if you do care if it is a file or directory, the existing methods do way more work than they need to, notably in Windows. We pre-normal

[2017-06-09 18:57] #20636 closed

[2017-06-09 19:17] kellypleahy commented on #20876
I'd be happy to tackle this one.  questions...

It seems like the "common" function I want is something like a (not yet existing) `FileSystemEntryType FileSystemEntry.Lookup(string path)` with
[code]
that doesn't ever throw on anything but rather just returns false if you don't have privileges to see it, for instance.  It also seems like we'd want to use this in CoreCLR for the (not yet existing)

[2017-06-09 19:17] vitek-karas commented on #18292
Waiting on getting the latest CoreFx bits into .NET Native toolchain to validate. But right now it seems we don't need the directive at all (there are no AppCompat failures due to this anymore).

[2017-06-09 19:24] NavnathKale commented on #20660
Thanks for the update. I have resolved issue to set Referer by invoking private method SetSpecialHeader.  Still figuring out solution for AutomaticDecompression, seems that gets passed to handler. Let me know if there is workaround using reflaction.

[2017-06-09 19:57] JeremyKuhne commented on #20876
I've always been conflicted about how to represent the concept in a way that is easy to understand. `CanNotDetermine` or perhaps both `NotFound` and `AccessDenied`? In my old team I actually needed to know whether it was a rights issue so we could request the information from a higher-privilege process- it might be nice to have that available for a future API (perhaps the `Path.Exists`, even!).

T

[2017-06-09 20:04] CIPop commented on #20795
@karelz I suggest starting by looking at the [history](https://github.com/dotnet/corefx/commits/62e18e428a91293bda14ba287849f51a1f38bc51/src/System.Web.HttpUtility/System.Web.HttpUtility.sln) for this component.

[2017-06-09 20:11] mellinoe commented on #20712
@fanoI Please file a separate issue if you would like to discuss Winforms. I would like to keep the discussion here focused on the work needed for System.Drawing.

[2017-06-09 20:16] mellinoe commented on #20712
I have a WIP version of the mono code compiling for netcoreapp-Unix in this branch:

https://github.com/mellinoe/corefx/tree/system.drawing.unix

I'll try to note some issues as I encounter them.

* Mono source code has `[MonoTODO]`, etc. littered around it; we probably don't want to persist this into our assemblies, but we should come to a consensus on what is appropriate here.
* Mono ships some

[2017-06-09 20:39] karelz commented on #20400
Reopening to track port to release/2.0.0

[2017-06-09 21:03] mstaessen opened #20880 "DirectoryInfo/FileInfo don't expand ~ on macOS"
Using '~' in paths is not correctly translated.

*Expected*: \~/Downloads translates to FullPath /Users/\<username\>/Downloads
*Actual*: \<current directory\>/\~/Downloads

Not sure if this is intentional and whether there is an API to do so. `Environment.ExpandEnvironmentVariables` does not work either.

[2017-06-09 21:10] stephentoub commented on #20880
https://github.com/dotnet/corefx/issues/5016

[2017-06-09 21:16] mstaessen commented on #20880
Seems reasonable.

[2017-06-09 21:16] #20880 closed

[2017-06-09 22:55] mellinoe opened #20884 "Fix Behavior Differences in Unix System.Drawing.Common"
This is a tracking issue to mark failing tests against. I will fill this out with more details as I understand them.

[2017-06-09 23:36] danmosemsft commented on #20874
@ericstj is this your area

[2017-06-09 23:42] ericstj commented on #20874
I believe this belongs in http://github.com/dotnet/project-system.

[2017-06-09 23:54] safern opened #20888 "System.Collections.Tests fail with Serialization issue in UAPAOT and UAP"
There are two different tests failing here:

### [EqualityComparer_SerializationRoundtrip](https://github.com/dotnet/corefx/blob/master/src/System.Collections/tests/Generic/Comparers/EqualityComparer.Generic.Serialization.Tests.cs#L16-L29)

This test is failing for all the Test class that inherit from this base class:

[code]

The failing error is:

[code]

### [IGenericSharedAPI_SerializeDeserial

[2017-06-10 00:18] safern commented on #20888
Other tests failing with this issue:

* [System.Collections.Tests.Dictionary_Tests.CopyConstructorInt32Comparer](https://github.com/dotnet/corefx/blob/master/src/System.Collections/tests/Generic/Dictionary/Dictionary.Tests.cs#L201-L204)
* [System.Collections.Tests.Dictionary_Tests.CopyConstructorStringComparer](https://github.com/dotnet/corefx/blob/master/src/System.Collections/tests/Generic/Dicti

[2017-06-10 00:31] huanwu opened #20892 "Remove XmlSchemaProviderAttribute.cs from Microsoft.XmlSerializer.Generator"
Remove Https://github.com/dotnet/corefx/blob/master/src/Microsoft.XmlSerializer.Generator/src/Microsoft.XmlSerializer.Generator.csproj#L111

https://github.com/dotnet/corefx/blob/master/src/Microsoft.XmlSerializer.Generator/src/Microsoft.XmlSerializer.Generator.csproj#L132

https://github.com/dotnet/corefx/blob/master/src/Microsoft.XmlSerializer.Generator/src/Microsoft.XmlSerializer.Generator.cspr

[2017-06-10 01:04] hughbe commented on #20884
What's the compat story for unix and GdI? Are we looking for 1-1 compat even with bugs and edge cases?

[2017-06-10 01:04] mehdico commented on #5766
My dream is using android xml ui writings style for desktop apps with dot net core! yes, really!!

[2017-06-10 01:18] mellinoe commented on #20884
I think it will probably be unreasonable to try to achieve "pixel perfect", 100% identical behavior for most of the library. I think we will need to be more lenient for edge case behavior and bugs in GDI+, but we can examine them case-by-case. I think once we get more tests online, behavior differences will become obvious. From what I've seen running your Icon tests on the Unix implementation, the

[2017-06-10 01:24] akoeplinger commented on #20884
I agree we'll have to try and see which edge-cases we run into and pixel perfect matching in all cases shouldn't be a goal (at least initially).

[2017-06-10 01:46] fujiy commented on #20331
It worked on PerfView.

How can I collect EventCounters using TraceEventSession?

Thanks.

[2017-06-10 01:52] fujiy commented on #20331
About the admin privileges. Perfmon requires me to be admin to create the definition, what is ok for most people. ETW required me to be admin to collect the data?

[2017-06-10 02:04] hughbe commented on #20884
At least from looking at Icon.cs, a bunch of edge cases will be in exception types, disposal of objects and argument validation. This can be fixed by creating a PAL layer between the two implementations by starting to consolidate common code (preferring Windows where applicable)

[2017-06-10 02:42] #20302 closed

[2017-06-10 03:11] pgolebiowski commented on #574
@karelz OK, will do it, stay tuned! :smile:

[2017-06-10 04:43] danmosemsft opened #20893 "Test failure: System.Net.Sockets.Tests.DualModeConnectAsync / DualModeConnectAsync_Static_DnsEndPointToHost_Helper"
## Types of failures

[code]

## History of failures

Day | Build | OS
-- | -- | --
2017/9/14 | 20170914.01 | OSX10.12
2017/10/29 | 20171029.01 | OSX10.12
2017/12/11 | 20171211.05 | Fedora25
3/31 | 20180331.05 | OSX10.12

# Original report

https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release_prtest/4505/consoleFull#18036880242d31e50d-1517-49fc-92b3-2ca637122019

[code]

[2017-06-10 04:48] danmosemsft commented on #18907
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170610.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveUdpClient~2FSendToRecvFromAsync_Datagram_UDP_UdpClient(loopbackAddress:%20127.0.0.1)

@karelz @wfurt perhaps there is some logging that can be added, or this test diasbled.

[2017-06-10 04:49] #20874 closed

[2017-06-10 04:49] danmosemsft commented on #20874
Issue moved to [dotnet/project-system #2420](https://github.com/dotnet/project-system/issues/2420) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-10 05:03] mellinoe commented on #20884
@hughbe Yep, that was what I thought as well. I'm hopeful that a lot of the exception behavior can be unified in that way.

Another good thing about Icon.cs is that it seems to be 90% managed code. There seem to be functional problems with some of the tests (lots of icons returning the wrong Width and Height), but that should be fixable from the C# code.

[2017-06-10 05:58] Joe4evr commented on #18159
Well, joke's on them, because if they do the compiler will warn those developers *every single time* they want to dereference them without a check and they'll only have themselves to blame.

Also, I seriously doubt that devs that would use `T?` so irresponsibly are in the top percent of NuGet packages used, so the likelyhood of pulling in an API designed like that is almost non-existent.

[2017-06-10 07:26] hughbe opened #20897 "[porting] System.Drawing.Common uses its own InvalidEnumArgumentException, breaking tests"
The following test passes with netfx:

[code]

[2017-06-10 07:27] hughbe commented on #20897
I have a fix, it requires adding a reference to `System.ComponentModel.TypeConverter`

[2017-06-10 07:30] kellypleahy commented on #20876
@JeremyKuhne I've taken the first steps in addressing this one.  Can you have a look over the commit referenced above (kellypleahy/corefx@1a3842c) and see if this is along the lines you were thinking?  My general philosophy was to pass through all errors that were easily captured from the underlying system (for free) to the caller as enum values.  The enum values that are consistent between the tw

[2017-06-10 07:30] kellypleahy commented on #20876
also,... might be good to assign this one to me so nobody else grabs it ;)

[2017-06-10 08:22] pgolebiowski commented on #574
Alright. As far as I can tell, an interface or a heap will not pass the API review. As such I would like to propose a slightly different solution, forgetting about the quaternary heap for example. The data structure below is different in a few ways than what we can find in [Python](https://docs.python.org/3/library/heapq.html), [Java](https://docs.oracle.com/javase/8/docs/api/java/util/PriorityQue

[2017-06-10 09:15] mellinoe commented on #20897
This was on my list of TODO's. I think we should move `InvalidEnumArgumentException` into a lower-level contract. There shouldn't be too much of a problem with that, I think.

[2017-06-10 09:22] pgolebiowski commented on #18159
* I agree with @svick completely. What he wrote [here](https://github.com/dotnet/corefx/issues/18159#issuecomment-295984261) and [here](https://github.com/dotnet/corefx/issues/18159#issuecomment-294481254) should be enough to end this discussion.
* I absolutely love the concept, but am totally against adding it through a class like you propose it. The only reasonable option for this to really succ

[2017-06-10 09:40] pgolebiowski commented on #2252
@karelz

* I'm not pushing anything, but it's been a while since then. :smile:
* How does the process of closing issues look like? Is there anything formalized for scenarios where the proposal is rejected by Microsoft and community + there is no one willing to disagree anymore?
* I know someone might still come and disagree, it's been just only 7 weeks. Just wondering when we can take some action.

[2017-06-10 09:50] pgolebiowski commented on #574
BTW, it is not the "final final" proposal. The section with _open questions_ needs to be resolved (I need your opinion [and of API reviewers if possible]). Though in ~93% it's what I feel like proposing, given the constraints.

[2017-06-10 10:06] cedroid09 opened #20899 "Add Environment.UserName() equivalent to dotnet core"
Hello,

I've been trying to find a way to get the current session user using dot net core 1.1 in a console project but in vain. Microsoft docs doesn't contain any information about this or it's me missing something.

Is this possible in dot net core?

[2017-06-10 10:20] pgolebiowski commented on #17403
* Although `up-for-grabs` means _Small sections of work which we believe are well scoped._, I think this is pretty ambiguous (potentially huge) and the scope needs to be defined.
* This is pretty advanced and it will not be used that often as for example a priority queue https://github.com/dotnet/corefx/issues/574, where we didn't want to even have an interface to make a common core for extension.

[2017-06-10 12:04] hughbe commented on #20897
I've tried it in #20898 - could it be as simple?

[2017-06-10 16:19] davidsh commented on #20795
This is really a dupe of #11811 but we will use this issue for tracking.

[2017-06-10 16:20] davidsh commented on #11811
Tracking now in issue #20795.

[2017-06-10 16:20] #11811 closed

[2017-06-10 16:31] davidsh commented on #5014
We should not change the behavior of these public APIs to returns something different. So, "header should be changed to strip out the quotes and return the string in the canonical form recommended by the RFC" is something that can break app-compat.

However, we can, possibly, be more permissible in what we parse from the wire. So, instead of throwing an error because of a quoted-string, we could a

[2017-06-10 16:35] yizhang82 commented on #19731
After PR https://github.com/dotnet/coreclr/pull/11865, exception error message is now:

[code]

[2017-06-10 16:35] #19731 closed

[2017-06-10 16:38] coderb commented on #9768
How about allow for a pluggable proxy transport underneath the HttpWebRequest/Response?

In other words, allow the user application to register a proxy scheme and have an API for implementing it.  Socks protocol is extremely simple but I understand you not wanting to explicitly support it.  This would allow others to get by with a "good enough" internal implementation.

[2017-06-10 17:02] karelz commented on #18907
It would really help us to see list of all failures over last few weeks, so that we can prioritize which of them are the most impactful and how badly they affect our test runs ... @danmosemsft is it something we could ask vendors to help us with for Networking area?

[2017-06-10 17:25] karelz commented on #19731
@yizhang82 the PR is only in master, hence in 2.1. Please either reopen this issue to track porting into rel/2.0.0 branch, or change milestone of this issue appropriately to 2.1. Thanks!

[2017-06-10 17:43] kellypleahy commented on #5014
OK.  I guess that means the fix must be made in the usage of this header, not the header parser itself.  That's a shame because it means everyone else in the world that encounters this on some weird server that is sending it that way will also have to do the same double-check.  I was hoping to avoid that 'virus' of 💩

That said, if we're really sure we can't change the behavior of this, I guess th

[2017-06-10 17:46] karelz commented on #20795
@CIPop

I don't scale to dig into every single small thing and I bet we will have to jump into TFS history - that's why I delegate. Can you please identify the right people for me?

[2017-06-10 17:50] kellypleahy commented on #19717
@karelz Thanks for the comments about testing.  Another possible recommendation (tell me if I should file an issue).  You said...

It would be really nice if there were a way to run targeted tests in your CI pool for when we are working on a PR.  For instance, being able to just push to our local branch before we create the PR and ask something to run tests for specific assembly on that branch (so

[2017-06-10 17:53] karelz commented on #19717
@kellypleahy did you check the dotnet-bot? I think it has capabilities like that today. (use "@dotnet-bot help" to get full list of commands, options, etc.)

[2017-06-10 17:54] karelz commented on #19717
BTW: I plan to have link to the static dotnet-bot docs also in our docs -- I just didn't find it yet 😮
Here's the intent: https://github.com/dotnet/corefx/wiki/Contributions#small-change

[2017-06-10 18:01] karelz commented on #20331
AFAIK ETW collection requires admin :(

[2017-06-10 18:04] kellypleahy commented on #19717
@karelz where should I do that?  I assume doing it in the issue isn't recommended, or will it just PM me the info?  I just want to make sure before I do that I don't spam anyone :D

[2017-06-10 18:07] karelz commented on #20876
Your wish was granted 😆, it's now assigned to you. (BTW: Thanks for your help!)

Re: Testing - I don't think we have abilities to switch users in test runs. It is very corner-case scenario and our infra was focused on mainline scenarios so far.
I let @JeremyKuhne advice how best to go from here. Maybe having manually-run tests with special runner / prep step (which would create dirs on another acc

[2017-06-10 18:10] spacerobotTR commented on #2089
So is this something that will be in core 2.0? I'm a little confused as to the status of it.

[2017-06-10 18:15] karelz commented on #2252
We do not have any process on closing issues. It is brewing in the back of my mind for last few weeks. I plan to review all API suggestions and close those we do not plan to take, more aggressively (yet in a polite way) -- I think it is healthy communication to the community which APIs we might consider and which we are convinced are not good fit for CoreFX repo. It may spark interesting discussio

[2017-06-10 18:22] karelz commented on #17403
Agreed. We used `api-needs-work` + `up-for-grabs` in a way to express "we do not plan to make the API proposal". It was my idea. It was a bad idea in retrospective.
It is on my list to clean up during June/July and change the triage rules a bit. Also brewing in my head for last few weeks.
I plan to resolve it together with plan for updates to `simple' / `up-for-grabs' meanings -- there are 3 categ

[2017-06-10 18:25] karelz commented on #17403
Regarding this particular issue. I strongly believe it is way beyond the scope of CoreFX. It would be definitely great to have great graph library for .NET, but it does not belong into CoreFX. It might be a decent fit for CoreFXExtensions repo with PowerCollections, etc.
The best outcome would be if there was community driven effort for such libraries, as .NET team won't scale to govern all of suc

[2017-06-10 18:44] cshung commented on #20331
Some time ago I wrote a PerfView extension that allow visualizing the EventCounter data, hope it helps.
https://github.com/Microsoft/perfview/pull/146

[2017-06-10 18:46] karelz opened #20902 "APIs out of scope in CoreFX - 'CoreFXExtensions' repo?"
Over time we have identified bunch of useful APIs, which we think don't belong into CoreFX repo, because they are more advanced, or just don't fit.
Here's the list to keep track of them with common explanation & list which can be reused later if/when we (or community) creates something like CoreFXExtensions

* PowerCollections - Originally created by Wintellect for .NET team. Placed on [CodePlex](

[2017-06-10 18:49] karelz commented on #17403
OK, I created the uber-"out of scope" issue now. It will be easier. Graphs are tracked in #20902.
If someone wants to argue that it should be in scope, let's continue the discussion here.

Closing for now, until there is strong (multiple contributors) push back against the "out of scope" decision.

[2017-06-10 18:49] #17403 closed

[2017-06-10 18:52] karelz commented on #19717
People do it regularly in PRs - e.g. https://github.com/dotnet/corefx/pull/20819#issuecomment-307166111.
I don't like the spam either, but until we have static link to the dotnet-bot help source code linked from decent documentation for contributors, that's the best we have and you should feel encouraged to use it.

[2017-06-10 18:56] karelz commented on #19717
BTW: I updated the [docs](https://github.com/dotnet/corefx/wiki/Contributions) to: "@dotnet-bot docs - use command "@dotnet-bot help" in PRs, or [search some older one](https://github.com/dotnet/corefx/pulls?utf8=%E2%9C%93&q=is%3Apr%20%22%40dotnet-bot%20help%22%20)"

[2017-06-10 19:09] mikedn commented on #20902
For graphs someone should probably take QuickGraph from CodePlex and make it work well on .NET Core (I assume it doesn't, it wasn't updated for quite some time). Though it's questionable if this has anything to do with corefx or corefxextensions.

[2017-06-10 19:20] yizhang82 commented on #19731
This is a simple fix for better exception and not needed in 2.0. Moved to 2.0.0

[2017-06-10 20:25] stephentoub commented on #19767
Another:
https://ci.dot.net/job/dotnet_corefx/job/release_1.0.0/job/osx_release_prtest/272/

[2017-06-10 20:34] divega opened #20903 "Additional API for DbProviderFactories in .NET Core"
# Latest Proposal

Copied from latest API approval: https://github.com/dotnet/corefx/issues/20903#issuecomment-342605350

[code]

# Original proposal

Issue #4571 is about porting the existing surface of `DbProviderFactories` into .NET Core. This new issue is specifically about new API that needs to be added in .NET Core that does not (yet) exist in .NET Framework. `DbProviderFactories` on .NET Fr

[2017-06-10 20:46] stephentoub commented on #14903
@davidfowl, how do you feel about:
[code]
?

[2017-06-10 20:54] daveaglick commented on #17403
FWIW, Microsoft actually already has a good graph library called MSAGL (formerly GLEE): https://github.com/Microsoft/automatic-graph-layout

It's geared partly towards visualization and layout, but the underlying structures are quite good and could be extended for various traversal and other algorithms. Worth a check to see if it meets your requirements (don't be put off by the emphasis on WPF - e

[2017-06-10 21:07] sharwell commented on #14903
@stephentoub Dispose pattern is already so widely misunderstood, I can't see anything but problems coming from a `Dispose(bool)` signature. I agree with @jnm2 that any solution which accommodates `using` statements without the overhead of extra allocation is preferable to a solution which does not allow such usage. Within those bounds I don't believe I have a particular preference.

[2017-06-10 21:10] stephentoub commented on #14903
And I don't believe this is a common enough need to add any overhead to the existing code paths.  Do you see a solution that meets that?  That's why I'm suggesting a separate one-off method; for the 5% case where this is needed, people can use a try/finally, if it's even in a finally... often usage is such that disposal is in an entirely separate method.

[2017-06-10 21:16] jnm2 commented on #14903
@stephentoub If you add `DisposeWithoutWaiting()`, I will certainly write a `WaitForCallbacksToComplete(false)` method to wrap the registration with a struct that calls `DisposeWithoutWaiting` when it is disposed, if you don't include such an API on `CancellationTokenRegistration`.

[2017-06-10 21:17] stephentoub commented on #14903
And you're of course welcome to do that.

[2017-06-10 21:21] jnm2 commented on #14903
Seems like that would suit everyone then. What exactly is it you don't like about having just a `WaitForCallbacksToComplete(false)` API? Is it the extra bool in the wrapper struct? If so, what about `WithoutWaiting()` with a wrapper struct that unconditionally calls `.DisposeWithoutWaiting()`? That should get inlined completely away, right?

[2017-06-10 21:29] FransBouma commented on #20903
My advice would be: keep the overloads and not just 1 method as having just 1 method will be more cumbersome to use. In general having overloads gives a bit of a maintenance burden, however the class they're part of is pretty much complete in functionality, as in: I don't think this class will ever get more functionality so the overloads won't have a necessity to change over time with new features

[2017-06-10 21:31] stephentoub commented on #14903
Yes, or more generally, the need for either a different public registration struct type or bloating the size of CancellationTokenRegistration (or one of the heap-allocated objects it references).  Keep in mind, it's not just "a bool"... the types involved here are already "full" with regards to alignment, so an additional bool will actually increase the size of the CancellationTokenRegistration by

[2017-06-10 21:33] davidfowl commented on #14903
IMO DisposeWithoutWaiting is fine because in situations like this, I'm almost *never* in a using. It's always some other method doing the disposal.

[2017-06-10 21:33] stephentoub commented on #14903
Exactly

[2017-06-10 23:51] bendono commented on #574
@pgolebiowski : Why not just close the issue then? Without an interface, this class is close to useless. The only place that I could use it is in private implementations. At which point I can just create (or re-use) my own priority queue when needed. I cannot expose a public API in my code with this type in the signature as it will break as soon as I need to swap it out for another implementation.

[2017-06-11 00:21] pgolebiowski commented on #574
@bendono
Well, Microsoft has the final word here, not a few people commenting on the thread. And we know that:

This is shared by @karelz, Software Engineer Manager, and @terrajobst, Program Manager and the owner of this repository + some API reviewers.

Although I obviously like the approach with interfaces, as clearly stated in the previous posts, I can see it is pretty tough given we don't have

[2017-06-11 01:12] bendono commented on #574
@pgolebiowski Of course it is Microsoft's decision. But it is better to present an API that you want to use that meets your needs. If it is rejected, then so be it. I just don't see the need to compromise the proposal.

I apologize if you interpreted my comments as blaming you. That was certainly not my intention.

[2017-06-11 01:21] JamesNK commented on #20776
In full .NET framework Exceptions are deserialized using the ISerializable constructor. That isn't available in .NET Core.

The only way I can think of deserializing information is forcing the serializer to use `ctor(string, Exception)` to create the object on types that inherit from Exception. Is there a better way?

[2017-06-11 01:27] JamesNK commented on #20776
Another option might be to set the private `_message` and `_innerException` fields. Would there be issues with this on .NET Core? Although if there is no ISerializable in .NET Core with `Exception` then those fields might be `readonly`... might that cause problems?

[2017-06-11 01:30] JamesNK commented on #20776
Could we temporarily reopen this issue while we discuss approaches to deserializing Exceptions with .NET Core?

[2017-06-11 02:31] SamuelEnglard commented on #574
@pgolebiowski why not use `KeyValuePair<TKey,TValue>` for the handle?

[2017-06-11 08:53] pgolebiowski commented on #574
@SamuelEnglard

* Well, the `PriorityQueueHandle` is in fact _**pairing heap node**_. It exposes two properties -- `TKey Key` and `TValue Value`. However, it has much more logic inside, which is just internal. Please refer to [my implementation of this](https://github.com/pgolebiowski/algo-kit/blob/master/src/AlgoKit/Collections/Heaps/PairingHeapNode.cs). It contains for example also pointers to o

[2017-06-11 09:31] davidfowl commented on #20787
I hadn't thought about it past what I filed (like the inner workings of cancellation tokens and sources).

What if we started from the premise that the combined token was just an aggregate token? In the scenario you describe, equality of both the combined token and individual tokens would work because Equals on the aggregate was really just a check to see if any of the tokens backing it were equal

[2017-06-11 13:25] karelz commented on #17403
Thanks @daveaglick, note & link added to the top post of #20902.

[2017-06-11 13:31] karelz commented on #20903
@divega @saurabh500 @corivera can you please review it on Monday from API experts point of view (make a decision on 1 method vs. more), then add a note and mark it for API review (on Tue morning) by relabeling to api-ready-for-review? Thanks!

[2017-06-11 13:33] karelz commented on #20899
It is back in 2.0: https://apisof.net/catalog/System.Environment.UserName

[2017-06-11 13:33] #20899 closed

[2017-06-11 13:38] karelz commented on #20875
Let's not forget that coding style should be mainly consistent with current file / component - see second paragraph: https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md
Having a 'checker' for new files, won't hurt. AFAIK we already had code reformatting tool - is that the dotnet/codeformatter?

[2017-06-11 13:45] karelz commented on #20846
Sounds reasonable to me as convenience API (note: 2000+ votes on StackOverflow), here's the formal API spec:
[code]

[2017-06-11 13:55] cedroid09 commented on #20899
Right thanks.

[2017-06-11 13:56] karelz commented on #20871
There is no port to Linux yet - see #2089 for details.
Also note that only `System.DirectoryServices.Protocol` is easy to port to Linux, the other namespaces are very difficult (if not impossible) to port due to their dependencies on Windows components. The Windows components would have to be reimplemented from scratch on Linux.

cc @tquerec @jay98014

[2017-06-11 13:56] #20871 closed

[2017-06-11 14:08] karelz commented on #2089
No, it won't be part of .NET Core 2.0, however, at Build conference we promised availability of the package during Summer. The (Windows) package should be available on top of .NET Core 2.0, around the time .NET Core 2.0 ships.
We are currently working on making the packages available as preview in master branch (#18090) and working on test assets in parallel (#20669).

[2017-06-11 14:40] MartinJohns commented on #2089
Will we get compilation errors when we target the shared runtime or a non-Windows runtime? Or will we end up with the `PlatformNotSupported`-trap?

From: Karel Zikmund<mailto:notifications@github.com>
Sent: Sonntag, 11. Juni 2017 16:08
To: dotnet/corefx<mailto:corefx@noreply.github.com>
Cc: Martin Johns<mailto:martin.johns@live.de>; Manual<mailto:manual@noreply.github.com>
Subject: Re: [dotnet/cor

[2017-06-11 14:50] svick commented on #20787
@davidfowl Do I understand it correctly that you want `ct1 == oce.CancellationToken` and `cts.Token == oce.CancellationToken` to be `true`, but `ct1 == cts.Token` to be `false`? Because that breaks the requirement that equality has to be transitive.

If anything, I think this would have to be some new API.

[2017-06-11 14:56] davidfowl commented on #20787
@svick good point. I'm not sure what the API would look like though.

[2017-06-11 14:57] karelz commented on #2089
It will be standalone package without any non-Windows assets. Compilation should break. @ericstj can confirm.

[2017-06-11 14:57] karelz commented on #20776
Agreed. Let's reopen to flush out the plan fully.

[2017-06-11 15:21] karelz commented on #20841
What situation would this be true? Has it ever happen? If not, let's not even mention it in the docs (keep them simple), until it becomes a problem/real request.

[2017-06-11 15:36] karelz commented on #20753
@tijoytom no, I did not notice the title. I don't scale to read everything - that's the confusion. That's why we have lightweight process ([triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified)) which we expect everyone to follow more or less. Makes sense? Happy to explain motivation in person if it is not clear yet.
The rul

[2017-06-11 15:43] karelz commented on #19212
The API is part of 2.0, fixing the milestone to 2.0.0. (@jkotas can you please double check?)

[2017-06-11 16:42] svick commented on #20776
It seems to me that this is already fixed in 2.0:

[code]

[2017-06-11 16:50] divega commented on #20903
@karelz I  have setup something for this week.

[2017-06-11 16:53] sharwell commented on #14903
@stephentoub I think you misread what I wrote. One solution which would meet the conditions I described is a solution which allows a user to write their own extension method which returns a `struct` wrapping the cancellation registration for the purpose of calling `DisposeWithoutWaiting` at the end of a `using` statement.

[2017-06-11 16:55] sharwell commented on #20841
This is true for all pull requests I send as part of my current employment.

[2017-06-11 18:27] stephentoub commented on #14903
Ah, I misunderstood what you were saying was your min bar. In that case, sounds like we're in agreement.

[2017-06-11 18:32] karelz commented on #20841
Is that a common practice on GitHub? It seems to me like a very thin line to distinguish.

[2017-06-11 18:40] davidfowl commented on #20787
Actually, there's no reason why ct1 and cts.Token can't be equal in this scheme. I think they would be actually.

[2017-06-11 19:04] arpit-nagar opened #20910 "Not able to install System.Runtime.Serialization.Json and System.Runtime.Serialization.Xml both in a project"
I have visual studio 17. My project is targeting net461 and netstandard1.6
I want to use System.Runtime.Serialization.Json and System.Runtime.Serialization.Xml. but I am facing issues.

Steps to reproduce:
1. Install nuget System.Runtime.Serialization.Xml - 4.3.0
2. Now install nuget System.Runtime.Serialization.Json - 4.3.0

But when I am trying step 2 it uninstall  System.Runtime.Serialization.X

[2017-06-11 19:55] mellinoe commented on #20897
We don't want System.Drawing.Common to reference TypeConverter itself -- eventually we may want the opposite dependency, actually. The TypeConverters in System.Drawing have all been removed for now, but if we add them back they will go into System.ComponentModel.TypeConverter. We did the same for System.Drawing.Primitives.

Moving `InvalidEnumArgumentException` into something that both libraries c

[2017-06-11 19:58] NickCraver commented on #19970
I'd love to test this without crazy feeds in play with our main libraries - is there any chance of a newer preview of [System.Data.SqlClient](https://www.nuget.org/packages/System.Data.SqlClient/) can make its way to NuGet?

Related: I've never been more supporting of an alpha/beta channel on NuGet itself with support in the `.csproj` than while testing `netstandard2.0` :)

[2017-06-11 19:58] svick commented on #20787
@davidfowl That still doesn't solve the transitivity issue, it just moves it around, since now `ct1 == cts.Token` and `ct2 == cts.Token` are `true`, but `ct1 == ct2` is `false`.

[2017-06-11 20:08] karelz opened #20911 "Publish regular alpha versions of vNext product"
Goal: Provide great experience for early adopters to consume our vNext product.

We should have regular (monthly-ish) alpha releases of vNext product. The idea is that every month we would publish last good build of tools, libraries, runtime, etc. that work "well" together. If something go south, we can delist it.

Motivation: Consuming myget daily feed is painful -- too many builds, changing too

[2017-06-11 20:09] karelz commented on #19970
I think Preview2 should be out soon. That's the best non-myget option now.

BTW: I already kicked off internal technical discussion about having regular-ish monthly preview releases on NuGet or on myget in special feed 2 weeks ago - I just created #20911 to track that discussion.

[2017-06-11 20:15] 8to5Developer commented on #15808
@karelz, I just accepted the invitation. Thanks for the link to the docs.

[2017-06-11 20:27] jkotas commented on #19212
Correct.

[2017-06-11 20:37] tannergooding commented on #20841
@karelz, My GitHub account is setup with two e-mails (my Microsoft work address and my Personal address). I have notifications related to my job route to my work address and other notifications (related to personal interests) routed to my personal e-mail.

Additionally, I have my work computer and personal computer configured separately. This helps identify things that I am doing as part of my job

[2017-06-11 20:46] karelz commented on #20841
Good reason, thanks for explanation. From that perspective it makes sense.

Re: Tracking down regressions ... such subtle regressions are pretty rare (one per half a year, maybe once per month top). It is IMO not worth introducing more process/limitations to address such a rare event. Just my 2 cents.

[2017-06-11 21:52] maike9 commented on #8188
This is a roadblock to moving to .net core for me too.

[2017-06-11 22:22] mikes-gh commented on #20871
In this case it is LDAP and DNS that can provide this info.  Shouldn't be impossible.

https://patternbuffer.wordpress.com/2007/12/13/finding-your-active-directory-site-and-domain-controllers/

[2017-06-11 23:28] #20156 closed

[2017-06-11 23:31] davidfowl commented on #20787
We need another method then.

[code]

[2017-06-11 23:38] stephentoub commented on #20787
If this is really important, I was going to suggest something similar:
[code]
I'd have to double-check, but if we had that call a virtual method on CancellationTokenSource that simply returned Equals, I expect we could override it on the Linked_CancellationTokenSource-derived types and have them consult the registrations they store, fishing out the registrations the associated CTS and thus CT, and

[2017-06-12 00:17] davidfowl commented on #20787
This is the piece of code that caused me to file this issue:

https://github.com/aspnet/SignalR/blob/12917ef0e99f26939e2226ea8968b71020f0cba3/src/Microsoft.AspNetCore.Sockets.Http/Transports/LongPollingTransport.cs#L62-L87

I originally just tried comparing tokens but it didn't work so ended up with this.

https://github.com/aspnet/SignalR/blob/12917ef0e99f26939e2226ea8968b71020f0cba3/src/Microsof

[2017-06-12 00:54] hughbe commented on #20897
Understood. What about System.ComponentModel.Primitives?

[2017-06-12 02:19] saurabh500 commented on #8188
What is your scenario fire query notification?

[2017-06-12 03:10] seanshpark commented on #13464
I've added some message to
`public static void BypassOnLocal_MatchesExpected(Uri destination, bool isLocal)`
like
[code]
and got fail with 255.255.255.255
[code]

Anyone know about this?

[2017-06-12 05:26] seanshpark commented on #13464
@Priya91, can you please share your status or rewrite plan?

[2017-06-12 05:51] karelz commented on #20871
Can it implement the entire class? Entire namespace?
Implementing just a few methods and throwing for the rest is something many people would like to avoid ...

[2017-06-12 06:38] karelz commented on #20558
@ianhays what is the next step? You did +1 above, does it mean you like the idea? Do we need API proposal? Or is it ready for API review? (Disclaimer: I just skimmed through it)

[2017-06-12 06:40] v-haren commented on #19767
failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/82/consoleFull#-7738886783554902-aff0-4799-9e92-0ada24ce2a06

[2017-06-12 06:43] karelz commented on #13773
It is in Future milestone, so no promise when it will be addressed.
It is marked up-for-grabs, if you want to help, I can clear step [1] above. Just let me know.

[2017-06-12 06:49] Jiayili1 commented on #20246
Failed again, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170612.01/workItem/System.Net.HttpListener.Tests

[2017-06-12 07:09] Jiayili1 commented on #20519
This issue is repro on UWP F5 tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170612.01/workItem/System.Composition.Tests/analysis/xunit/System.Composition.Lightweight.UnitTests.MetadataViewGenerationTests~2FAConcreteTypeWithUnsupportedConstructorsCannotBeUsedAsAMetadataView

[2017-06-12 07:15] dotnet-mc-bot opened #20916 "Test: System.Composition.UnitTests.SharingTest/BoundaryExposedBoundaryButNoneImported failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Composition.UnitTests.SharingTest/BoundaryExposedBoundaryButNoneImported` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Composition.UnitTests.SharingTest.BoundaryExposedBoundaryButNoneImported()
Build : Master - 20170612.01 (UWP F5 Tests)
Failing configurations:
- Windows.10.

[2017-06-12 07:20] dotnet-mc-bot opened #20917 "Tests under: "System.Configuration.ConfigurationManager.Tests" failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `MonoTests.System.Configuration.CommaDelimitedStringCollectionConverterTest/ConvertTo_TypeError` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.String.FormatHelper(IFormatP

[2017-06-12 07:28] dotnet-mc-bot opened #20918 "Tests under: System.Data.Common.Tests failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Data.Tests.Common.DataAdapterTest/FillLoadOption_Invalid` has failed.

System.ArgumentNullException : Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.String.FormatHelper(IFormatProvider provider, String format, ParamsArray args)
       at System.String.Format(String format, Object arg0, Object arg1)

[2017-06-12 07:38] dotnet-mc-bot opened #20919 "Test: System.Diagnostics.TraceSourceTests.DefaultTraceListenerClassTests/Fail_LogFileDirectoryNotFound failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.TraceSourceTests.DefaultTraceListenerClassTests/Fail_LogFileDirectoryNotFound` has failed.

System.ArgumentNullException : Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.String.FormatHelper(IFormatProvider provider, String format, ParamsArray args)
       at System.String.Format(String forma

[2017-06-12 07:38] adamhathcock commented on #20558
I can put together a new API based on what I've done.  It would be very similar to SharpCompress.

[2017-06-12 07:39] dotnet-mc-bot opened #20920 "Test: System.Diagnostics.TraceSourceTests.TraceClassTests/TraceTest02 failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.TraceSourceTests.TraceClassTests/TraceTest02` has failed.

Assert.Equal() Failure\r
                                       ? (pos 88)\r
    Expected: ···be indented.\\r\
          Fail: This failure is reported with a det···\r
    Actual:   ···be indented.\\r\
           This failure is reported with a detailed···\r

[2017-06-12 07:42] dotnet-mc-bot opened #20921 "Tests under: System.Drawing.Primitives.Tests.ColorTests failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Drawing.Primitives.Tests.ColorTests/FromArgb_InvalidAlpha(alpha: -1)` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.String.FormatHelper(IFormatProvider provider, S

[2017-06-12 07:46] dotnet-mc-bot opened #20922 "Tests under: System.IO.Compression.Tests.zip_InvalidParametersAndStrangeFiles failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.IO.Compression.Tests.zip_InvalidParametersAndStrangeFiles/ZipArchiveEntry_InvalidUpdate(zipname: \"LZMA.zip\")` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.IO.InvalidDataException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System

[2017-06-12 07:48] dotnet-mc-bot opened #20923 "Test: System.IO.Compression.Tests.ZipFileTest_Invalid/UnsupportedCompressionRoutine(zipName: \"LZMA.zip\", throwsOnOpen: True) failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.IO.Compression.Tests.ZipFileTest_Invalid/UnsupportedCompressionRoutine(zipName: \"LZMA.zip\", throwsOnOpen: True)` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.IO.InvalidDataException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at Sys

[2017-06-12 07:50] dotnet-mc-bot opened #20924 "Tests under: System.IO.FileSystem.DriveInfoTests.DriveInfoWindowsTests failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.IO.FileSystem.DriveInfoTests.DriveInfoWindowsTests/GetVolumeLabel_Returns_CorrectLabel` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.UnauthorizedAccessException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.String.FormatHelper

[2017-06-12 07:54] dotnet-mc-bot opened #20925 "Tests under: System.Dynamic.Tests.DynamicObjectTests failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Dynamic.Tests.DynamicObjectTests/ConvertBuiltInExplicit` has failed.

System.ArgumentNullException : Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.String.FormatHelper(IFormatProvider provider, String format, ParamsArray args)
       at System.String.Format(String format, Object[] args)
       at System

[2017-06-12 07:59] dotnet-mc-bot opened #20926 "Tests under: System.Net.Http.Tests.AuthenticationHeaderValueTest failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Tests.AuthenticationHeaderValueTest/Add_BadValues_Throws` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.FormatException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.String.FormatHelper(IFormatProvider provider, String

[2017-06-12 08:05] mikes-gh commented on #20871
Good point I was too focused on one method I needed.  Need to look at the bigger picture.

[2017-06-12 10:55] hughbe opened #20932 "[netfx compat] CompareAttribute throws InvalidOperationException for multi-cased properties"
The following code example passes with netfx:
[code]

In netcoreapp, this throws an InvalidOperationException:
[code]

[2017-06-12 12:53] svick commented on #20558
1. Is a new writer API necessary? AFAIK, `ZipArchive` already supports writing to non-seekable streams on .Net Core (https://github.com/dotnet/corefx/issues/11497).
2. For reading, I think the API should return an `IEnumerable<T>`. That way, the user can use a `foreach` and they don't have to manually call something like `MoveNext` in a `while` loop. (Some LINQ methods also become a possibility.)

[2017-06-12 13:00] adamhathcock commented on #20558
1) You're right, this probably isn't strictly necessary.  It would be the inverse of a proposed `Reader` API and it would have a generic writing implementation while the current one is specific to Zip and could probably not apply in a generic case.  If a generic API isn't desired then this could possibly be dropped.
2) I've gone back and forth if I wanted to do it that way.  The reason why I haven

[2017-06-12 13:13] stephentoub commented on #20787
Thanks for the context, @davidfowl.

To be clear, I'm not against adding APIs like this, but I want to make sure they're actually going to be valuable enough before we collectively do so.  Hence the discussion and my questions.

Looking at your example, would it actually be better with the proposed API?  Right now you have:
[code]
and presumably you're suggesting you'd actually want:
[code]
right?

[2017-06-12 14:00] vanillajonathan commented on #6535
This is also issue when inheriting from `HttpMessageHandler` and passing it in the constructor to the `HttpClient`. Then the `SendAsync` method declared in the `HttpMessageHandler` does not get called when calling the `GetAsync` method on the `HttpClient` instance.

[2017-06-12 14:01] sbraswell commented on #9234
@davidsh After some more diligent troubleshooting we've not been able to prove that we're having the same issue as described here. Sorry for the distraction :(

What we've learned is that using the Windows.Net.Http namespace or the System.Net.Http namespace in our UWP app causes the same behavior. My assumption that order of the WWW-Authenticate headers mattered was incorrect. We've determined tha

[2017-06-12 14:23] AtsushiKan commented on #20841
I think GitHub needs to support specifying which email-identity you want to open a PR as. That way, the PR author can control what email addy "Squash and Merge" inserts into the commit and not be stuck with the primary email-addy associated with the GitHub account. I don't think identity tracking can be done reliably otherwise - the reality is that "Squash and Merge" exists, many people already us

[2017-06-12 15:22] mmitche commented on #19767
@v-haren Ooh, non-windows.

For now i'm going to add this to the retry logic.

[2017-06-12 15:33] tarekgh commented on #20902
@karelz I am not sure if such issues is actionable. I would suggest to have a doc in corefx having such information and if anyone want to bring any library to corefx or corefxextensions should open a separate issue for such request. the document can have the information about the requirements for what can goes to corefx and what can go to corefxextensions. having issue like this will be very hard

[2017-06-12 15:36] tarekgh commented on #20690
https://github.com/dotnet/corefx/issues/16441

[2017-06-12 15:41] tarekgh commented on #20690
@preetikr @richlander why the repo https://github.com/Microsoft/referencesource not allowing creating issues there? can we change that so the related issues can be opened there?

[2017-06-12 15:44] danmosemsft commented on #20910
@weshaggard is this a case where we don't support installing these individually?

[2017-06-12 15:49] tarekgh commented on #20776
@svick is right, the ISerializable is added there

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Exception.cs#L32

@eric-davis let's know if there is anything not working with v2.0. Thanks.

[2017-06-12 15:49] #20776 closed

[2017-06-12 15:52] davidsh commented on #20926
This is due to the broken ResourceManager proble

cc: @safern @danmosemsft @karelz

[2017-06-12 15:53] davidsh commented on #20926
cc: @tijoytom

[2017-06-12 15:58] danmosemsft commented on #20817
May have missed the change. Please reopen if it happens again.

[2017-06-12 15:58] #20817 closed

[2017-06-12 16:02] svick commented on #20558
Then maybe the API should return a type that can be used in a `foreach`, but does not implement `IEnumerable<T>`. Though that could be confusing to someone who sees the API for the first time.

[2017-06-12 16:10] #20841 closed

[2017-06-12 16:35] darkengines opened #20940 "Missing System.Configuration assembly"
# csproj

[code]

# Issue
This line:

`NotificationHubClient = NotificationHubClient.CreateClientFromConnectionString(options.Value.ConnectionString, options.Value.HubPath);`

Throws:

Did I miss something?
No build error / warning.

[2017-06-12 16:39] davidsh commented on #9234
Windows 8/8.1 Store Apps used the full .NET Framework.  That HTTP stack did not have a requirement that the service be considered "Inrranet".  Windows 10 Store Apps (UWP) use the .NET Core stack and not full .NET Framework. And in particular, System.Net.Http for .NET Core on UWP uses the WinRT WIndows.Web.Http APIs.

The underlying Windows.Web.Http APIs use an HTTP stack that requires the endpoint

[2017-06-12 16:54] karelz commented on #20902
@tarekgh this is master issue to dupe others against. I will manage the discussion here. It is IMO better to have a place for discussion than one-way doc info where no one can ask. This is the forming start of the overall "what belongs where" doc. If you are worried about this approach, let's chat.

[2017-06-12 17:06] sbraswell commented on #9234
Thanks for clarifying the distinction and giving context for the behavior change. I'll share this information with the rest of my team. I really appreciate your help. We'll take these changes into consideration as we move forward with our solution development. Thanks again!

[2017-06-12 17:07] davidsh commented on #20926
Caused by https://github.com/dotnet/coreclr/pull/12179

But now that PR was merged and so this issue should be fixed now.

[2017-06-12 17:07] #20926 closed

[2017-06-12 17:19] weshaggard commented on #20910
@danmosemsft Not that wouldn't be the case here.

@arpit-nagar that certainly doesn't look correct. You say you have a net461 and netstandard1.6 project that do you mean by that? Are you using a new project with TargetFrameworks set to both of those or are they two different projects?

[2017-06-12 17:28] tarekgh commented on #20902
My worries is regarding the discussions will be related to different libraries. For example, we should have a separate issue for PowerCollections to decide about this library. if we use this issue to discuss all proposed libraries that will be very messy and not focused.

[2017-06-12 17:37] tannergooding commented on #20902
I agree. I think it would be useful to have an explicit tag to label discussions with (`Possible-CoreFXExtension`).

This would allow users to clearly see that the issue is not going to get merged into CoreFX, but it seems like a reasonable thing that could exist in the other library `CoreFXExtensions`.

The issue can then be closed and moved to the CoreFXExtensions repo. Users can continue discus

[2017-06-12 17:41] karelz commented on #20902
@tarekgh see my original top-post:

In general I am against creating new labels. It just creates mess based on my experience, unless there is strong driving force behind it.
I would prefer to keep the discussion on specific issues (linked from here), maybe even closed. And keep the list of all such areas here.
We can announce info about if/when CoreFXExtensions (or something similar) is coming on

[2017-06-12 17:50] tarekgh commented on #20902
why we need to track these differently than any other requests like introducing a new APIs or porting some existing APIs?

[2017-06-12 18:07] Tratcher commented on #9996
@jruckert That impersonation middleware doesn't actually work, please take it down.

You're using the overload `T RunImpersonated<T>(SafeAccessTokenHandle safeAccessTokenHandle, Func<T> func)`. The T you're returning is the Task for the async action. The problem is that the impersonation is revoked when RunImpersonated exits, which may be before your Task completes.

To really make this work the C

[2017-06-12 18:07] CIPop commented on #20795
@karelz From the history link above, the component was ported by @alexperovich.
I think @Tratcher (ASP.Net) may have more background on this component.

[2017-06-12 18:13] ericstj commented on #20940
@weshaggard added that recently post preview1.  See https://github.com/dotnet/corefx/commit/e933ffe48451a5549b76d03a3ff6023a08be1cfa.

[2017-06-12 18:15] Tratcher commented on #20795
WebUtility dates back to .NET 4.0 when they were splitting .NET into the client vs server installer profiles. Someone decided they could support X% more apps on client profile if they pulled that subset of methods out of HttpUtility/System.Web.dll/server profile into something in System.dll/client profile. They were intentional duplicates.

[2017-06-12 18:17] ericstj commented on #20940
@darkengines you can try the following:
[code]
And make sure you have https://dotnet.myget.org/F/dotnet-core/api/v3/index.json registered as a feed.

[2017-06-12 18:24] karelz commented on #20902
Because they don't belong into CoreFX - that's information we're communicating by closing the issues. And there's no better place to track the list / announcement about the next steps in the space.

[2017-06-12 18:52] tmds commented on #20628
@karelz @davidsh @CIPop who can take a look at this?

[2017-06-12 18:55] ianhays commented on #20558
I've gone back-and-forth about this myself. I opened https://github.com/dotnet/corefx/issues/9709 to track my thoughts long-term on a way to centralize our compression algorithms somehow. It's clear that as we continue adding more compression types to corefx it's going to become trickier and tricker to integrate them smoothly and expose them to devs of all skill levels without being overwhelming o

[2017-06-12 18:58] ianhays commented on #20558
https://github.com/dotnet/corefx/issues/9237 is also somewhat related, though less so.

[2017-06-12 19:02] tmds commented on #20626
@karelz per https://github.com/dotnet/corefx/pull/20561#issuecomment-305516089, can we set this to 2.0 milestone?

[2017-06-12 19:06] karelz commented on #20628
@Priya91 is back :) ... @Priya91 can you please help out here?

[2017-06-12 19:07] karelz commented on #20626
@sepidehMS @krwq should drive these decisions ... I am not fully up to speed here

[2017-06-12 20:00] ianhays commented on #20558
I do like the idea. My main concern is that I really want to do our compression expansion **right**. There are a ton of questions around design and usability that I want answered well before we take *anything* like this issue, #9237, or #9709. Adding something like [LZMA](https://github.com/dotnet/corefx/issues/9657) is easy because we can model it after DeflateStream/GZipStream with a similar API

[2017-06-12 20:14] weshaggard commented on #20827
With current VS tools the most we can do from the commandline is to build the solution file with the default configuration. There isn't any good way to change the configurations or call other targets like BuildAndTest on all the projects in the solution, as they all cannot support that target. I do think it is worth considering some wrapper scripts/commands but it is pretty low priority in my mind

[2017-06-12 20:16] weshaggard commented on #20627
We need to be careful here because we might be able to get away with marking tests to be excluded on Nano, but we don't have a story in our packages to state that we don't support these on Nano. There is no target framework or runtime specific to Nano so we might want to consider actually doing something in the code to detect and fallback to something else, if possible.

[2017-06-12 20:19] weshaggard commented on #20869
Agreed. So long as we can get away with it and we can move it along fast enough to shim shim features together.

[2017-06-12 20:23] AlexGhiondea commented on #6857
@jswolf19 sorry for the delayed response.

I think using reflection in the tests to clean-up internal state between calls should be fine. I don't think that is the best way to do it in general, but it should be ok in this case.

Thanks for working on this!

[2017-06-12 20:26] weshaggard commented on #2089
You will not get compilation errors they will be runtime "PlatformNotSupported" exceptions.

[2017-06-12 20:27] chcosta opened #20942 "Unused code, incompatible with Roslyn > 2.0.0 rc"
Roslyn made a breaking change sometime between rc and beta2, which flags unused fields(https://github.com/dotnet/roslyn/pull/14628/files) and events as warnings.

CoreFx will be unable to update to a newer version of Roslyn until these warnings are fixed / suppressed.

[code]

/cc @weshaggard @ellismg

[2017-06-12 20:30] AtsushiKan commented on #6857
There isn't always a good way to write a regression test for every bug (non-deterministic bugs especially so) and I think we can live without a test for this one rather than a test that invades the internals like that. (Note that this won't work at all if PlatformDetection.IsNetNative is true since that platform uses a completely different implementation of Reflection.)

[2017-06-12 20:30] weshaggard commented on #20942
Why can't we add this to the nowarn list?

[2017-06-12 20:31] karelz commented on #20558
OK, what is the next step? (you coming back with larger design?) What is rough ETA?

[2017-06-12 20:34] chcosta commented on #20942
That's a viable option (suppress).  I'm going through the repo's now to see if there are any crazy issues building on desktop / Linux with upgrading to the newer Roslyn.  I wanted to track these as I go so that when I actually get buildtools updated and then go through and update each of the repo's, i'm not investigating again (or perhaps somebody has already fixed these, but probably not).

[2017-06-12 20:39] norek commented on #20711
How about testing `PageSettings` class? In mono's test i found comment:
[code]
I dont know what to do with this.

[2017-06-12 20:44] ianhays commented on #20558
Continue discussing design choices in this issue, #9709, and #9237. Wait for other people to be interested and comment/vote on these threads with their opinion.

Whenever we reach quorum and have a sizable mass of users requesting the feature. It's not something that we're hurting for *right now* or that a lot of customers are asking for, so I don't feel comfortable assigning an ETA for it.

[2017-06-12 20:56] eflorespalma opened #20944 "Accent and Special Characters"
I have a problem with this code

[code]

And when render the output show me this text Â¿CÃ³mo estas?

[2017-06-12 21:07] weshaggard commented on #20875
I personally think it is better to have a script/cmd to run the formatting tool as opposed to a checker. Who needs a checker when you can just fix it :)

[2017-06-12 21:17] tarekgh opened #20948 "Process start tests are not running for UAP"
System.Diagnostics.Process.Tests is doing remote invoke to create another process and execute some code remotely. This is not going to work in UAP F5 scenario without some changes. In UAP we are going to handle the remote invoking by activating the runner Appx as background task and not by creating a process. The test need either to be permanently disabled for UAP scenario or has to be re-written

[2017-06-12 21:37] RFBennet opened #20951 "Unable to dogfood corefx"
I'm new to .NET and .NET Core, but am eager to test out DirectoryServices in the 2.x daily builds. However, I can't seem to get things to work. I've read through a large variety of docs, and am unable to figure out what's wrong. Are the instructions on this page accurate?

https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

I can get coreclr to build locally, and

[2017-06-12 21:44] sharwell commented on #20875
@weshaggard What if the checker *also* can fix it?

[2017-06-12 21:46] tannergooding commented on #20875
CoreCLR uses the clang-formatter (IIRC) and it generates a patch you can download from the failed job. It's really useful.

[2017-06-12 21:46] danmosemsft commented on #20948
We are enabling Process.Start in this version, so we will need to test it somehow.

[2017-06-12 21:46] mellinoe commented on #20711
@norek We certainly don't have any printers attached to the machines that run our CI tests, if that is what you are alluding to. You can just keep that check in the test code. Are you asking about something else?

[2017-06-12 21:46] tannergooding commented on #20875
You can also run it locally and pre-apply if you don't want to waste precious Jenkins resources

[2017-06-12 21:46] weshaggard commented on #20875
That is fine as well but I would much prefer we not duplicate rules in multiple locations and in the case of formatting I prefer auto-fixing over giving someone a warning/error about it.

[2017-06-12 21:47] kellypleahy commented on #20827
Can I ask a different question?  `./build.sh -tests -project=src/System.IO.FileSystem` (for example) should build and run tests for just `System.IO.FileSystem` at least it seems so from the doc on `build.sh -?`.  However, that doesn't seem to run tests.  Do you agree that it should, and if so, can it be fixed to work on linux too?  It doesn't seem to work at least when I was trying it last.  cc @k

[2017-06-12 21:49] tarekgh commented on #20948
Right. will need to update the tests to make it work on UAP.

[2017-06-12 21:51] karelz commented on #2089
Yeah, it's the old - do we block people using it from .NET Standard libraries, or do we turn compile-time errors into PlatformNotSupported exceptions? ... Luckily there is a middle ground: [ApiCompat](https://github.com/dotnet/corefx/wiki/ApiCompat) tooling will tell you ahead of time you're using something which is not everywhere.

[2017-06-12 21:52] danmosemsft commented on #20627
@weshaggard put another way, you mean "we should have some tests that verify that Nano product behavior is reasonable". I agree, but that may be doable with just a few Nano specific tests.

[2017-06-12 22:07] karelz commented on #574
My questions on the design (disclaimer: these questions & clarifications, no hard push backs (yet)):
1. Do we really need `PriorityQueueHandle`? What if we just expect unique values in the queue?
    * Motivation: It seems rather involved concept. If we have it, I would like to understand why we need it? How is it helping? Or is it just specific implementation detail leaking into the API surface?

[2017-06-12 22:15] weshaggard commented on #20827
`-project=src/System.IO.FileSystem` is not a project it is a directory which essentially calls build on the sln file in that directory. That will give you the unwanted issues of calling msbuild on the solution as mentioned above.

Currently our root build.sh/cmd scripts don't work well for individual projects, that is something we could add support for however.

[2017-06-12 22:20] mellinoe commented on #20711
@hughbe Could you post something here as you start adding tests for individual components? It would be good to have a list of "in-progress" work so that we know what's being covered.

[2017-06-12 22:22] weshaggard commented on #20951
I think the issue you are seeing is that we don't currently build a nuget package for our DirectoryServices library. So to consume that you will need to build corefx and then do a direct binary reference to it from the `bin/runtime/netcoreapp-Windows_NT-Debug-x64` directory.

[2017-06-12 22:47] karelz commented on #20944
Can you provide small repro which compiles? Which .NET Core version do you use? Did you try latest? (2.0 Preview 1)

[2017-06-12 22:51] kellypleahy commented on #20875
Yeah, autofixing was definitely what I was hoping for, but obviously only when appropriate (i.e. for things we've touched).  Either way, there will obviously be some manual intervention, I was just hoping to not spam the reviewers with a bunch of bad formatting nitpicks when unnecessary (and not very valuable).

[2017-06-12 22:51] karelz commented on #20932
Is it new code in 2.0?
What is the impact on 2.0 release @lajones @ajcvickers @divega? (I guess low)

[2017-06-12 22:55] kellypleahy commented on #20827
@weshaggard thanks.  I guess I didn't notice what was really happening under the hood.  What I really wanted was a way to "build/test" the *project* for a single folder (family of projects) meaning the tests & the main project.  I suppose it's not too much trouble to run build.sh twice (once for the tests and once for the main project), but it seems like it would be a pretty common workflow to be

[2017-06-12 23:09] Priya91 commented on #20246
@mellinoe Can you share the repro that you used for this..

[2017-06-12 23:18] ianhays commented on #574
Seems like things have settled down enough for me to throw in my 2 cents.... I like the interface, personally. It abstracts the implementation details away from the API (and the core functionality described by that API) in a way that in my opinion simplifies the structure and enables the most usability.

What I don't have as strong of an opinion on is whether we do the interface at the same time a

[2017-06-12 23:18] Priya91 commented on #20628
Sure, looking at this now.

[2017-06-12 23:19] #20808 closed

[2017-06-12 23:25] pgolebiowski commented on #574
Thank you for the input, @karelz and @ianhays!

### Allowing duplicates

No, we don't need that. The priority queue API proposed above is quite powerful and very flexible. It is based on an assumption that **elements and priorities could be duplicated**. Because of that assumption, having a handle is necessary to be able to remove or update the correct node. However, if we put a restriction that e

[2017-06-12 23:31] tarekgh commented on #20948
cc @safern

[2017-06-12 23:38] pgolebiowski commented on #574
### Comparable elements

If we add another assumption: that elements have to be comparable, then the API is even simpler. But again, it is less flexible.

#### Pros

* No need for `IComparer`.
* No need for the selector.
* One `Enqueue` and `Update` method.

#### Cons

* We cannot have element and priority as separate objects. Users need to provide a new wrapper-class if they have it in that forma

[2017-06-12 23:46] shmao commented on #20481
This fix for Sg.exe was checked in.

[2017-06-12 23:47] JeremyKuhne commented on #20876
It is a good start. Some more outstanding stuff (to make sure they're in your todo list):

1. `FillAttributeInfo`: Remove `tryagain`. We should only ever make a single attempt at `Interop.Kernel32.GetFileAttributesEx`, no reason to use `FindFirstFile`.
2. Remove the try/catch in File/Directory exists as there should never be an exception after (1)
3. Remove the normalization (`Path.GetFullPath()`)

[2017-06-12 23:50] #5884 closed

[2017-06-12 23:52] kellypleahy commented on #20876
OK cool.  How do I "mark it as WIP"?  Do I just put [WIP] in the PR title?

[2017-06-12 23:53] JeremyKuhne commented on #20876
yep

[2017-06-12 23:54] danmosemsft commented on #20803
Again.
https://mc.dot.net/#/user/danmosemsft/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/a7fbb6b0b2c9e1fe9e91c09f2ba1e39d051ad041/workItem/System.Drawing.Primitives.Tests/analysis/xunit/System.Drawing.Primitives.Tests.ColorTests~2FGetHashCode(name1:%20%5C%22AliceBlue%5C%22,%20name2:%20%5C%22AliceBlue%5C%22)

@mellinoe surely this isn't some wierd code gen issue is it? I'm

[2017-06-13 00:05] jnm2 commented on #3093
Not my first choice but I wouldn't object either.

[2017-06-13 00:10] safern commented on #574
I also like the interface approach because it is more flexible and gives more usages, but I also agree with @karelz and @ianhays that we should wait until the new class API is used and we get feedback until we actually ship the interface and then we are stocked with that version and can't change it without breaking customers that already used it.

Also about comparers I think it follows the other

[2017-06-13 00:22] hughbe commented on #20932
I don't think so. It's been like this since porting. The reason why the code is different is because netfx uses TypeDescriptor which isn't (or wasn't) available in core.
This is an edge case that, while nice to fix, is fairly impactless

[2017-06-13 00:24] karelz commented on #574
OK, I am convinced about comparer, it makes sense and it is consistent.
I am still torn on selector - IMO we should try to go without it - let's split it into 2 variants.

[code]

**Open questions:**
1. Class name `PriorityQueue` vs. `Heap`
2. Introduce `IHeap` and constructor overload? (Should we wait for later?)
3. Introduce `IPriorityQueue`? (Should we wait for later - `IDictionary` example)
4.

[2017-06-13 00:35] caleblloyd opened #20954 "TCP Socket.Dispose does not abort Connect on Linux in NetStandard2.0"
Consider the following code that implements a timeout on a TCP `Connect` call:

[code]

If this TCP socket connects to an address that does not respond, we expect the socket to get shutdown when the Cancellation Token fires with `cancellationToken.Register(() => tcpClient?.Client?.Dispose())`

- `NETSTANDARD2.0` Linux Ubuntu 14.04 x64: **does not work, times out after ~2 minutes (OS default?)**
-

[2017-06-13 00:40] karelz commented on #20932
Makes sense, thanks @hughbe!

[2017-06-13 00:46] Priya91 commented on #20628
@tmds From the [rfc8089](https://tools.ietf.org/html/rfc8089#appendix-E.4), it specifies the backslashes can be converted to forward slashes if known with reasonable certainty that the backslashes are used as path separators. And since this code is a direct port from Desktop, this behavior is default to cater to Windows.

So as you say, for Unix posix type paths only, the behavior can be changed t

[2017-06-13 00:47] karelz commented on #574
Fixed `Peek` and `Dequeue` tuple field name to `priority` (thanks @pgolebiowski for pointing it out).
Top-post updated with latest proposal above.

I second @safern's comment - Thanks a lot to @pgolebiowski for driving it forward!

[2017-06-13 00:56] karelz commented on #20628
Thanks @Priya91 can you please create the change? Maybe we should run it by shiproom for bar check ... the bar is quite high now :(

[2017-06-13 00:59] pgolebiowski commented on #574
I think we could have one more here:

6. Limit ourselves to unique elements only (don't allow duplicates).

[2017-06-13 01:05] karelz commented on #574
Good point, captured as 'Assumptions' in top post, rather than open question. The opposite would uglyfy the API quite a bit.

Should we return `bool` from`Remove`? And also the priority as `out priority` arg?

[2017-06-13 01:08] karelz commented on #574
Similar to `Contains` - I bet someone will want the priority out of it. We might want to add an overload.

[2017-06-13 02:04] Jiayili1 opened #20955 "Desktop: System.Tests.GCExtendedTests.GCNotificationTests failed with "Xunit.Sdk.AllException""
Failed test: System.Tests.GCExtendedTests.GCNotificationTests

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/84/consoleText

[code]

[2017-06-13 02:15] Jiayili1 commented on #19344
Failed again on Core Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170613.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.DiagnosticsTest~2FSendAsync_ExpectedDiagnosticCancelledLogging

[2017-06-13 02:17] Jiayili1 commented on #20955
This issue is also repro on Core Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170613.01/workItem/System.Runtime.Tests/analysis/xunit/System.Tests.GCExtendedTests~2FGCNotificationTests(approach:%20False,%20timeout:%20-1)

[2017-06-13 02:44] terrajobst commented on #20690
We’ve disabled filing issues on referencesource because folks never reported infrastructure issues but bugs against .NET Framework, which we didn’t want, so we disabled it.

[2017-06-13 02:47] mellinoe commented on #20246
@Priya91 There are several tests that hang. It repros on your laptop every time, just doing a regular run of the test project by itself.

[2017-06-13 04:49] danmosemsft commented on #20955
Thanks @Jiayili1 , I fixed it: https://github.com/dotnet/corefx/pull/20953

[2017-06-13 04:49] #20955 closed

[2017-06-13 05:26] davidfowl commented on #10470
Are we going to get this API anytime soon?

[2017-06-13 06:06] seanshpark commented on #13464
I'v found what's related with this failure.
[code]
1) need host name in `/etc/hostname` file (most have this), for example if it's `mylinuxbox`
[code]
2) need localhost and host name with IP in `/etc/hosts` file
[code]
my device didn't have `192.168.0.2 mylinuxbox` line.

[2017-06-13 06:09] norek commented on #20711
@mellinoe yup, this is what I meant. Thanks

[2017-06-13 06:23] tmds commented on #20626
@sepidehMS @krwq PR is reviewed. I think this is 2.0 bugfix. What should happen now?

[2017-06-13 06:26] seanshpark opened #20965 "System.Net.Http.Functional.Tests.HttpClientHandlerTest Fail on ARM/Linux"
I get this error with release/2.0.0 and master branch running with RPi3/Ubuntu16.04
[code]
works with x64/Linux.

I get some timeout related answers when I search `A task was canceled` message, but doesn't seem to be the timeout issue for this case.

Could someone help me what `Dispose_DisposingHandlerCancelsActiveOperationsWithoutResponses` is trying to test and what may be the problem? Could it

[2017-06-13 06:34] krwq commented on #20626
@tmds I'm still not convinced we should differ on how we parse uris in XML vs rest of the framework

[2017-06-13 06:48] dotnet-mc-bot opened #20966 "Tests under: System.Net.Http.WinHttpHandlerUnitTests.WinHttpHandlerTest failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.WinHttpHandlerUnitTests.WinHttpHandlerTest/MaxAutomaticRedirections_SetNegativeValue_ThrowsArgumentOutOfRangeException` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentOutOfRangeException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

        Stack Trace:

[2017-06-13 06:56] tmds commented on #20626
@krwq This makes code like `XmlReader.Create(fullPath)` work cross-platform. Do you see downsides?

[2017-06-13 06:59] dotnet-mc-bot opened #20967 "Test: System.Net.Mail.Tests.LoggingTest/EventSource_ExistsWithCorrectId failed with "System.Resources.MissingManifestResourceException""
Opened on behalf of @Jiayili1

The test `System.Net.Mail.Tests.LoggingTest/EventSource_ExistsWithCorrectId` has failed.

System.Resources.MissingManifestResourceException : Unable to load resources for resource file \"FxResources.System.Net.Mail.SR\" in package \"5cd54353-3ed7-4a6e-a72f-db349f28867c\".

        Stack Trace:

           at System.Resources.ResourceManager.GetString(String name, Cul

[2017-06-13 07:05] dotnet-mc-bot opened #20969 "Tests under: System.Net.Mail.Tests.MailAddressTest failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Net.Mail.Tests.MailAddressTest/Address_NoClosingQuote` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.FormatException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.String.FormatHelper(IFormatProvider provider, String format, Par

[2017-06-13 07:06] Jose-CF commented on #16322
Any updates other than hack manually the binding redirects ... ?

[2017-06-13 07:10] dotnet-mc-bot opened #20970 "Tests under: System.Net.Mail.Tests.MailAddressParserTest failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Net.Mail.Tests.MailAddressParserTest/ParseAddress_WithHangingAngleBracket_ShouldThrow` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.FormatException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.String.FormatHelper(IFormatProvi

[2017-06-13 07:14] dotnet-mc-bot opened #20972 "Test: System.Net.Tests.ServicePointManagerTest/InvalidArguments_Throw failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Net.Tests.ServicePointManagerTest/InvalidArguments_Throw` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.NotSupportedException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.String.FormatHelper(IFormatProvider provider, String fo

[2017-06-13 07:23] dotnet-mc-bot opened #20973 "Tests under: System.Net.WebSockets.Tests.WebSocketTests failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Net.WebSockets.Tests.WebSocketTests/CreateClientBuffer_InvalidReceiveValues(size: -1)` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentOutOfRangeException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.String.FormatHelper(

[2017-06-13 07:29] adamhathcock commented on #20558
Here's a rough Reader API based on what I've done with SharpCompress and making the Reader itself be `IEnumerable`  might not quite be correct.

[code]

Can expand out to the show the generic Archive API too.

[2017-06-13 07:31] tmds commented on #20628
@Priya91

The RFC states:

   replacing all backslashes "\" with slashes "/" if it can be
   determined with reasonable certainty that the backslashes are
   intended as path separators.

This assumption is reasonable on Windows.

What doesn't make sense is the conversion of percent encoded backslashes to forward slashes. Unfortunately, this is what the Uri class is doing.
e.g. `new Uri(@"file:///

[2017-06-13 07:56] bencyoung opened #20974 "net462 library unable to use project reference to netstandard2 library"
I have a netstandard2 library that has an interface that inherits from IReadOnlyDictionary<string, string>

[code]

In the same solution I have a new csproj style project that targets net462. This then implements that library:

[code]

However I get the error:

CS0012	The type 'IReadOnlyDictionary<,>' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstanda

[2017-06-13 08:04] dotnet-mc-bot opened #20975 "Test: System.Resources.Tests.ResourceManagerTests/GetObject failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Resources.Tests.ResourceManagerTests/GetObject(key: \"Bytes\", expectedValue: [41, 42, 43, 44, 192, ...])` has failed.

System.ArgumentNullException : Value cannot be null.

        Stack Trace:

           at System.Threading.Monitor.Enter(Object obj)
       at System.Resources.ResourceManager.InternalGetResourceSet(CultureInfo requestedCulture, Boo

[2017-06-13 08:05] dotnet-mc-bot opened #20976 "Test: System.Resources.Tests.ResourceManagerTests/GetString_Basic failed with "System.Resources.MissingManifestResourceException""
Opened on behalf of @Jiayili1

The test `System.Resources.Tests.ResourceManagerTests/GetString_Basic(key: \"Empty\", expectedValue: \"\")` has failed.

System.Resources.MissingManifestResourceException : Unable to load resources for resource file \"System.Resources.Tests.Resources.TestResx\" in package \"5cd54353-3ed7-4a6e-a72f-db349f28867c\".

        Stack Trace:

           at System.Resources.

[2017-06-13 08:16] dotnet-mc-bot opened #20977 "Test failure: System.IO.CreateSafeFileHandleTests/FromStorageFile_SurfaceIOException"
Opened on behalf of @Jiayili1

The test `System.IO.CreateSafeFileHandleTests/FromStorageFile_SurfaceIOException` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.IO.IOException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.String.FormatHelper(IFormatProvider provider, String fo

[2017-06-13 08:18] dotnet-mc-bot opened #20978 "Test: System.Security.Cryptography.Csp.Tests.CspParametersTests/SetFlags_ValidatesInput failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Security.Cryptography.Csp.Tests.CspParametersTests/SetFlags_ValidatesInput` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.String.FormatHelper(IFormatProvider provi

[2017-06-13 08:19] darkengines commented on #20940
Passed !
Thank you.

[2017-06-13 08:20] dotnet-mc-bot opened #20979 "Test: System.Security.Cryptography.Pkcs.EnvelopedCmsTests.Tests.EdgeCasesTests/CryptographicAttributeObjectMismatch failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Security.Cryptography.Pkcs.EnvelopedCmsTests.Tests.EdgeCasesTests/CryptographicAttributeObjectMismatch` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.InvalidOperationException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.Strin

[2017-06-13 08:25] dotnet-mc-bot opened #20980 "Test: System.Security.Cryptography.Xml.Tests.EncryptedXmlTest/DecryptData_CipherReference_InvalidUri failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Security.Cryptography.Xml.Tests.EncryptedXmlTest/DecryptData_CipherReference_InvalidUri` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.Security.Cryptography.CryptographicException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.S

[2017-06-13 08:26] Jiayili1 commented on #20980
Closed Issue: https://github.com/dotnet/corefx/issues/19272

[2017-06-13 08:29] darkengines opened #20981 "Method not found - Microsoft.Extensions.Caching.Memory.MemoryCacheOptions.set_CompactOnMemoryPressure(Boolean)"
# csproj

[code]
I have https://dotnet.myget.org/F/dotnet-core/api/v3/index.json registered as a Nuget feed.

# Issue
This line:

`EngineFactory.CreatePhysical(Path.Combine(HostingEnvironment.ContentRootPath, @"Mailing\Templates"))`

(RazorLight template engine creation https://github.com/toddams/RazorLight)
Known issue : https://github.com/toddams/RazorLight/issues/69

Throws:

Can you do somethi

[2017-06-13 08:33] hughbe opened #20982 "GetAssignableTypes in System.Composition.TypedParts will always throw an ArgumentNullException"
The following code is present in [TypeInspector.cs](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Composition.TypedParts/src/System/Composition/TypedParts/Discovery/TypeInspector.cs#L212-L223)

[code]

Notice that `b.BaseType.GetTypeInfo();` will always throw an ArgumentNullException in the end.

What the loop should actually do is `b.BaseType?.GetTypeIn

[2017-06-13 08:34] hughbe commented on #20982
Following test case is an example:
[code]

[2017-06-13 10:09] VisualMelon commented on #574
I remain of the opinion (though I'm yet to voice it) that Heap would imply an implementation, and would duly support calling this `PriorityQueue`. (I'd even support then a proposal for a slimmer `Heap` class which does allow duplicate elements, and doesn't allow updating, etc. but I don't expect that to happen).

`KeyValuePair<TPriority, TElement>` most certainly should not be used, as duplicate p

[2017-06-13 10:46] pieceofsummer opened #20985 "Incorrect Process.WorkingSet64 value on Linux?"
Consider the following test program:

[code]
and corresponding csproj:
[code]

Now I'm comparing outputs on OS X and Linux platforms:

OS X:
[code]

Linux:
[code]

Working set value of 6kB seems dubious, and my guess is `Process.WorkingSet64` on Linux returns value in kilobytes instead of bytes.

[2017-06-13 11:50] pgolebiowski commented on #574
I'm with you on tuples.

* I see a similarity with the indexer within a `Dictionary`. There, when you do `dictionary["something"] = 5` then it gets updated if `"something"` was a key there previously. If it wasn't there, it just gets added.
* However, the `Enqueue` method is analogical for me to the `Add` method in the dictionary. Which means it should throw an exception.
* Taking the above points

[2017-06-13 11:58] bencyoung commented on #20974
Hmm, I could make the errors go away by explicitly adding an assembly reference to C:\Program Files\dotnet\shared\Microsoft.NETCore.App\2.0.0-preview1-002111-00\netstandard.dll which seems wrong!

[2017-06-13 12:02] bencyoung commented on #20974
For reference the project file looks like

[code]

[2017-06-13 12:26] tmds commented on #20731
@weshaggard do you know why there is a PortableBuild condition?

[2017-06-13 13:01] eflorespalma commented on #20944
I´m not using the version 2.0, but when i return the same text from a mvc controller, it works fine, The problem is only when I do it from the startup class.
`{
  "dependencies": {
    "Microsoft.NETCore.App": {
      "version": "1.0.1",
      "type": "platform"
    },
    "Microsoft.AspNetCore.Diagnostics": "1.0.0",
    "Microsoft.Extensions.Configuration.FileExtensions": "1.1.2",
    "Microsoft.

[2017-06-13 13:06] VisualMelon commented on #574
@pgolebiowski

I agree wholly with adding a `TryUpdate`, and `Update` throwing makes sense to me. I was thinking more along the lines of `ISet` with regard to `Enqueue` (rather than `IDictionary`). Throwing would make sense also, I must have missed that point, but I do think the return `bool` conveys the 'setness' of the type. Perhaps a `TryEnqueue` would be in order also (with `Add` throwing)? A

[2017-06-13 13:37] lextm commented on #20974
https://www.nuget.org/packages/NETStandard.Library.NETFramework/

You should add a reference to this.

[2017-06-13 13:44] bencyoung commented on #20974
Ah great thanks. Is that documented anywhere?

[2017-06-13 13:44] #20974 closed

[2017-06-13 13:47] stephentoub commented on #20985
Very close... it was actually returning pages rather than bytes.  It was fixed here:
https://github.com/dotnet/corefx/pull/13424

Thanks for reporting it.

[2017-06-13 13:47] #20985 closed

[2017-06-13 14:09] davidsh commented on #20973
ResourceManager issue already fixed.

[2017-06-13 14:09] #20973 closed

[2017-06-13 14:09] svick commented on #20558
@ianhays

Would it then make sense to design (and implement) an initial version of the whole compression expansion in corefxlab? That way, all the related APIs can be designed together and easily inform each other.

[2017-06-13 14:10] davidsh commented on #20970
ResourceManager issue already fixed.

[2017-06-13 14:10] #20970 closed

[2017-06-13 14:10] davidsh commented on #20969
ResourceManager issue already fixed.

[2017-06-13 14:10] #20969 closed

[2017-06-13 14:10] davidsh commented on #20967
ResourceManager issue already fixed.****

[2017-06-13 14:10] #20967 closed

[2017-06-13 14:11] davidsh commented on #20966
ResourceManager issue already fixed.

[2017-06-13 14:11] #20966 closed

[2017-06-13 14:12] gperrego commented on #9996
@Tratcher do you know if there is a planned solution for this?  Doesn't seem like you are comfortable wih how to solve the problem but maybe its on someone else's radar?

Then I would ask if it is possibly set for a 2.0 release?  I know thats a lot to ask but unfortunately moved forward with a solution believing this is possible and changing the approach at this point in time would be rather expen

[2017-06-13 14:13] gperrego commented on #9996
@CIPop  Can you please reopen this issue.

Thank you,
Greg

[2017-06-13 14:21] adamhathcock commented on #20558
Putting it wholesale together as a real thing in corefxlab makes sense.  Evolving the API might be too slow.

[2017-06-13 14:28] rafael-caldeira opened #20990 "System.Reflection.Emit.ILGeneration fails to install on a vanilla UWP app"
I'm trying to use WampSharp that uses ILGeneration as a dependency, but the whole thing fails to install because System.Reflection.Emit.ILGeneration, reported to Code-Sharp/WampSharp#195. The error can be reproduced installing only ILGeneration in a vanilla UWP app (output bellow).

I'm using VS 2015 Professional, on Windows 10 Anniversary build 1607

<details>
[code]
</details>

[2017-06-13 14:30] pieceofsummer commented on #20985
@stephentoub any info on when the fixed version will be released? It was like 7 months since the PR.

[2017-06-13 14:32] RSFalcon7 commented on #20990
Code-Sharp/WampSharp#195

[2017-06-13 14:37] ebickle commented on #574
I've been doing a bit of work looking through open source .NET codebases to see real world examples of how priority queues are used. The tricky problem is filtering out any student projects and training source code.

**Usage 1: Roslyn Notification Service**
[https://github.com/dotnet/roslyn/](https://github.com/dotnet/roslyn/blob/175c1605927859bc3cfcd4a84b720b27c4054ba9/src/EditorFeatures/Core/Imp

[2017-06-13 14:41] stephentoub commented on #20985
It's in .NET Core 2.0.  A preview of 2.0 was already released:
https://blogs.msdn.microsoft.com/dotnet/2017/05/10/announcing-net-core-2-0-preview-1/
The official roadmap with approximate dates is here:
https://github.com/dotnet/core/blob/master/roadmap.md#ship-dates

[2017-06-13 14:43] ebickle commented on #574
On a separate note, there's been some discussion around unique elements, removing explicit elements, and determine whether a specific element exists.

Queues, as a data structure, generally support Enqueuing and Dequeuing. If we head down the path of providing other set/list-like operations, I wonder whether we're actually designing a different data structure altogether - something akin to a sorte

[2017-06-13 15:08] stephentoub commented on #20803
If the order of items returned by GetProperties isn't deterministic?

[2017-06-13 15:31] pgolebiowski commented on #574
@ebickle

I appreciate your effort in going through other repositories and checking how the priority queue functionality was delivered there. However, IMO this discussion would benefit from providing **specific design proposals**. This thread is already hard to follow and telling a lengthy story without any conclusions makes it even harder.

* What is the conclusion? Proposal?
* It is very far fro

[2017-06-13 15:42] tarekgh commented on #20690
@terrajobst would you enable creating issues in this repo?

[2017-06-13 15:51] tarekgh commented on #20944
@eflorespalma

Where you render the output? do you render it to the console? or you see it in VS? please clarify. Also could you dump the character ordinal value before rendering it? I am trying to know where the problem is. Thanks.

[2017-06-13 15:57] tarekgh commented on #20976
@safern is this is the same issue you are trying to fix with the resources?

[2017-06-13 16:03] danmosemsft commented on #20981
This seeems to belong in https://github.com/aspnet/Caching did you try there?

[2017-06-13 16:05] danmosemsft commented on #20990
@RSFalcon7 reflection emit is not currently supported on UWP apps. It is necessary for libraries to use some other mechanism, for example precompilation or interpreting. Did this somehow work previously? Is there an alternative library?

[2017-06-13 16:07] hardhub commented on #13746
Guys, please explain which version of .Net Core and .Net Framework support Deconstruct method?
I just tried with net47 and it says it does not have deconstruction methods.

It looks that even netstandard 2.0 does not have Deconstruct methods in KeyValuePair:
https://raw.githubusercontent.com/dotnet/standard/master/docs/versions/netstandard2.0_ref.md

[code]

[2017-06-13 16:09] karelz commented on #574
Great discussion. @ebickle's research is extremely useful IMO!
@ebickle do you have conclusion on [2] lucene.net - does our latest proposal fit the usages or not? (I hope I didn't miss it in your detailed description)

It looks like we need `Try*` variants from above + `IsEmpty` + `TryPeek`/`TryDequeue` + `EnqueueOrUpdate`? Thoughts?
[code]

[2017-06-13 16:13] karelz commented on #13746
Deconstruct methods are only in .NET Core 2.0. They are not in any .NET Framework at this moment, or in lower versions of .NET Core (1.0 and 1.1).

[2017-06-13 16:14] vancem commented on #20331
The 'EnableProvider' command has an argument of type 'TraceEventOptions, which has a 'AddArgument(key, value), which you can use to pass key value pairs.   Thus

[code]
Should do it.

Yes, (there is request in the OS to fix this, but that is how it is today).

On .NET Core we are building a way to collect this information without using ETW (needed for Linux), and it does not require admin privs  @

[2017-06-13 16:21] terrajobst commented on #20690
I've submitted a PR to add the issue template. Once merged, I'll re-enable issues (https://github.com/Microsoft/referencesource/pull/27).

[2017-06-13 16:24] krwq commented on #20626
@tmds Uri not working cross-platform as well, Uri behaving differently than Xml

[2017-06-13 16:25] hardhub commented on #13746
Thanks Karel

In this case I will have to temporarily workaround it with extensions method:

[code]

[2017-06-13 16:26] ericstj commented on #16322
@Jose-CF if you're still seeing issues with the automatic generated bindingRedirects in MSBuild it'd be good to file that issue in the MSBuild repository.

[2017-06-13 16:27] karelz commented on #13746
Sounds like a good workaround.

[2017-06-13 16:27] eflorespalma commented on #20944
Its a web application... and it renders to localhost web page.... I dont have more code.. thats all. I used this for a demo.

[2017-06-13 16:30] pgolebiowski commented on #574
@karelz

Yes, exactly.

If we want to return statuses everywhere, then everywhere. For this particular method, I think it should be true if either operation succeeded (`Enqueue` or `Update`).

For the rest -- I simply agree :smile: Just one question -- why `ref` instead of `out`? I'm not sure.

[2017-06-13 16:31] karelz commented on #20944
For web apps you can ask on https://github.com/aspnet/Home. For isolated repro in console app, this is the right place - is such case, please post full repro we can compile locally, otherwise we can't make much progress.

[2017-06-13 16:33] darkl commented on #20990
@danmosemsft, WampSharp targeted to Windows UWP does not require Reflection.Emit. The installation works fine on Visual Studio 2017. Do you have any idea why it fails on Visual Studio 2015?

Elad

[2017-06-13 16:34] karelz commented on #574
It would always return true, that's not a good idea. We should use `void` in such case IMO. Otherwise people will be confused and will check return value and add useless never-to-be-executed code. (Unless I missed something)

ref vs. out agreed, I debated it myself. I don't have strong opinion / enough experience to make decision myself. We can ask API reviewers / wait for more comments.

[2017-06-13 16:34] mellinoe commented on #20940
@darkengines Let us know if you hit any other issues.

[2017-06-13 16:34] #20940 closed

[2017-06-13 16:35] RFBennet commented on #20951
I've tried adding the assembly (which looks like it got added just fine when I check the project's "bin" folder), and a range of other ideas. All without success.

I also tried this bit of code:
https://msdn.microsoft.com/en-us/library/87tye19w(v=vs.110).aspx

and for that, and many other attempts, I get this as an error message:
Unhandled Exception: System.InvalidCastException: Unable to cast COM

[2017-06-13 16:39] tarekgh commented on #20944
@eflorespalma I have moved the issue to aspnet repo https://github.com/aspnet/Home/issues/2058 so you can follow up there and I am closing the issue here.

It'll be nice if you can provide there a complete sample project reproing the issue as you are seeing. Thanks.

[2017-06-13 16:39] #20944 closed

[2017-06-13 16:40] krwq commented on #20626
@tmds, wait a sec - I though all affected APIs were taking baseUri and not fullPath - for fullPath we should fix it, for baseUri I'm voting for not fixing

[2017-06-13 16:40] pgolebiowski commented on #574
You are right, my bad. Sorry.

Maybe I am missing something, but I find it pretty simple. If we use `ref`, we are basically saying that `Peek` and `Dequeue` want to use somehow the `TElement` and `TPriority` passed to it (I mean *read* those fields). Which isn't really the case -- our methods are supposed to only assign values to those variables (and they are in fact required to do so by the compi

[2017-06-13 16:42] karelz commented on #574
Top-post updated with my `Try*` APIs
Added 2 open questions:
* [6] Is `Peek` and `Dequeue` throwing useful at all?
* [7] `TryPeek` and `TryDequeue` - should use `ref` or `out` args?

[2017-06-13 16:42] danmosemsft commented on #20990
@weshaggard am I correct that System.Reflection.Emit.ILGeneration does not work on UWP?
In which case @darkl the question would be why WampSharp depends on it - would need the Nuget restore output for that.

[2017-06-13 16:46] darkl commented on #20990
It doesn't depend on it. NuGet output log (from Visual Studio 2017) attached.

Maybe its an issue with some version of Visual Studio 2015?

[2017-06-13 16:46] jswolf19 commented on #6857
@AlexGhiondea No worries. I can finally build again without dotnet crashing ^_^ I imagine things are busy.

Taking into account @AtsushiKan's advice, I'd still like to add a non-deterministic test, unless no test at all is preferred. I seem to be able to trigger the race condition fairly consistently even with just two tasks on my machine if I'm running only the Composition tests, so I'll see if i

[2017-06-13 16:48] karelz commented on #574
ref vs. out - You are right. I was optimizing for avoiding of initialization in case we return false. That was stupid & blindsided from me - premature optimization. I'll change it to out and remove the question.

[2017-06-13 16:50] AtsushiKan commented on #6857
Sounds good. If it's too time-consuming, it might have to be marked [Outerloop] but other than that, testing by stressing the code paths sounds reasonable to me.

[2017-06-13 16:58] safern commented on #20976
Yes it is related to the same issue. With the temp workaround that was consumed into corefx yesterday this test didn't fail anymore: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170613.02/workItem/System.Resources.ResourceManager.Tests

[2017-06-13 16:58] #20976 closed

[2017-06-13 17:17] karelz commented on #9996
I would suggest to create a new bug. It is confusing for me to understand what is the ask here.
.NET Core 2.0 is basically done, unless it is something super-super important, blocking major scenarios, it won't get it.
If it is super-important, I would expect clear description what's missing, why and why we cannot workaround.

[2017-06-13 17:19] dantraMSFT opened #20994 "CoreFX is more restrictive parsing if-match header values than the equivalent with the FullCLR."
One of our customers, nmbradford, is moving to PowerShell 6 from Windows PowerShell and has hit an incompatibility between CoreFX and FullCLR's handling of if-match header values.

For example, the following Works on Windows PowerShell:
[code]

On PowerShell 6 with the CoreFx, the same results in a FormatException thrown by `System.Net.Http.Headers.HttpHeaderParser.ParseValue`.

His expectation is

[2017-06-13 17:23] VisualMelon commented on #574
6: I might be missing something, but if not throwing an exception, what should `Peek` or `Dequeue` do if the queue is empty? I suppose this starts to beg the question as to whether the data structure should accept `null` (I'd prefer not, but no firm opinion). Even if we allow `null`, Value Types have no `null` (`default` certainly doesn't count), so `Peek` and `Dequeue` have no way to convey a mea

[2017-06-13 17:29] terrajobst commented on #14354
Decisions

* We should remove all `AddRange` methods because the scenario is unclear. Array's are somewhat unlikely to show up very often. And once larger arrays are involved, the question is whether the computation should be cached. Seeing the for loop on the calling side makes it clear that you need to think about that.
* We also don't want to add `IEnumerable` overloads to `AddRange` because th

[2017-06-13 17:46] pgolebiowski commented on #574
True.

How? Well, the `out` parameters are for the `TryPeek` and `TryDequeue` methods. The ones that throw an exception are `Peek` and `Dequeue`.

I might be wrong, but to my knowledge, the Dijkstra's algorithm makes use of the `DecreaseKey` operation. See for example [this](https://courses.csail.mit.edu/6.006/fall11/lectures/lecture16.pdf). Whether this is efficient or not is a different aspect.

[2017-06-13 17:47] danmosemsft commented on #20990
What happens when you do restore on the command line?

I think I need @weshaggard help at ts point.

[2017-06-13 17:53] ianhays commented on #20558
That is probably the best idea. We can design the large structure in corefxlab, then move small pieces to corefx one-by-one with their own justification so that we can actually get them through API review.

I like that too. Your rough API is pretty similar to what I had in mind.

A couple suggestions:
- ReaderOptions should include an option to specify the `ArchiveType` explicitly.
- ArchiveType.G

[2017-06-13 17:54] ianhays commented on #20558
It should be possible to combine this with the concept of a compression algorithm interface a la https://github.com/dotnet/corefx/issues/9709.

[2017-06-13 17:55] weshaggard commented on #20990
It is correct System.Reflection.Emit.IlGeneration is not supported in UWP. That is because .NET Native is an AOT (Ahead of Time) compiler which doesn't support dynamic code gen at runtime.

[2017-06-13 18:04] VisualMelon commented on #574
Sorry, yes, I see the issue with `out` params now, misreading things again. And it seems that a variant of Dijkstra's (a name which seems to be applied rather more broadly than I believed...) can be implemented perhaps more efficiently (if you're queue already contains the Elements, presumably there is benefit for repeatable searches) with updateable priorities. That's what I get for using long wo

[2017-06-13 18:08] Priya91 commented on #20628
On ubuntu, with latest master bits.

[2017-06-13 18:11] karelz commented on #14354
**Next steps:** The issue is up-for-grabs -- **to implement the API we need with several candidate algorithms** as experiments -- see https://github.com/dotnet/corefx/issues/14354#issuecomment-305028686 for list, so that we can decide which algorithm to take (based on throughput and distribution measurements, likely different answer per CPU architecture).

Complexity: Large

If anyone is intereste

[2017-06-13 18:12] weshaggard commented on #18090
We should avoid just using ".Core" suffix as that is not a pattern we want to use for these namings. We generally try to name them based on the contents of the library. @ericstj while your suggestions seem reasonable I think we need some input from the owner of these to provide some feedback to ensure they align with the technology they provide.

[2017-06-13 18:16] joer33304 commented on #2394
Guess Flow is the answer to growing Zapier ? I do not see how it would replace WWF in any way.

[2017-06-13 18:21] ericstj commented on #18090
Is there any objection to just putting them in place temporarily so that we can build the packages and let folks try them out?  @jay98014 what do you think?

[2017-06-13 18:22] weshaggard commented on #20827
@kellypleahy I agree we should definitely make building individual projects easier, including all the projects in for a given library. I re-titled this issue to reflect that and we can use this issue to track doing that. Is this task something you might be interested in trying to tackle?

[2017-06-13 18:26] karelz commented on #574
API review discussion:
* We will need to have a proper design meeting (2h) to discuss all the pros/cons, the 30min we invested today was not enough to get to consensus / close on open questions.
    * We will likely invite most invested community members - @pgolebiowski , anyone else?

Here are key raw notes:
* Experiment - we should do experiment (in CoreFxLabs), release it as pre-release NuGet p

[2017-06-13 18:28] weshaggard commented on #20731
The PortableBuild condition is now the default for our builds but some runtimes like Tizen will set PortableBuild=false and build RID specific package instead of using one of or portable RIDs.

[2017-06-13 18:34] dancgr commented on #20990
I was able to install WampSharp in my UWP app using the Nuget CLI (version 4.1.0.2450) as suggested by @danmosemsft.

It looks like there is a problem with Visual Studio 2015 built-in Nuget or the way it handles the WampSharp installation. According to the Nuget website, Visual Studio 2015 comes with an older version of Nuget than Visual Studio 2017. Maybe that's why it works with the latter.

I w

[2017-06-13 18:36] svick commented on #574
The latest proposal looks pretty good to me. My opinions/questions:

1. If `Peek` and `Dequeue` used `out` parameters for `priority`, then they could also have overloads that don't return priority at all, which I think would simplify common usage. Though priority can also be ignored using a discard, which makes this less important.
2. I don't like that the selector version is distinguished by usin

[2017-06-13 18:40] darkl commented on #20990
@dancgr in your case it did not install the UWP version. Castle.Core (which depends on Reflection.Emit) isn't present in WampSharp UWP targeted. Compare with my Visual Studio 2015 installation log.

Elad

[2017-06-13 18:41] kellypleahy commented on #20827
@weshaggard I'm currently working on another PR, but I'll think about this one while I'm doing it and maybe I can help with this one afterwards...

[2017-06-13 18:42] weshaggard commented on #20951
FYI @karelz

I know @hughbe is working on tests for these libraries, have you hit similar issues @hughbe?

[2017-06-13 18:49] mellinoe opened #20997 "Helix-based CI runs are not flagging test failures"
Example: https://ci3.dot.net/job/dotnet_corefx/job/master/job/portable-windows-Config_Debug+OuterLoop_false_prtest/773/

This job is labeled a success, but there are many test failures if you look deeper into the results.

@MattGal @karajas @weshaggard

[2017-06-13 18:50] mellinoe opened #20998 "ColorTranslator tests are failing"
Unfortunately, these failures were not flagged by our CI runs, although they did fail there. See #20997.

The main issue seems to be that the version of KnownColorTable.cs used in System.Drawing.Primitives does not have the new functionality that the duplicated version in System.Drawing.Common does. We should just unify / share that source code between the two projects.

@hughbe . This will probab

[2017-06-13 18:54] tmds commented on #20731
I wonder if the condition is needed in the external folder. Do you know? Otherwise I can do a PR and see what platforms complain.

[2017-06-13 18:55] MattGal commented on #20997
@mellinoe  I see there's a bug here that @mmitche's code doesn't make sure that all Work items execute successfully  (one of the work items failed in each run, will check that out) but I don't see any Xunit failures, can you clarify?

Runs:
https://helix.dot.net/api/2017-04-14/aggregate/jobs?groupBy=job.name&maxResultSets=1&filter.name=e73c84e2-b906-482f-aed2-61f82252ff04
https://helix.dot.net/api

[2017-06-13 18:57] svick commented on #574
@karelz

I think this would mean that internally, priority would have to be something like a pair of `(priority, version)`, where `version` is incremented for every addition. I think that would significantly bloat memory usage of the priority queue, especially considering that the `version` would likely have to be 64 bits. I'm not sure that would be worth it.

Depending on the implementation, `Upd

[2017-06-13 19:06] tijoytom opened #21000 "System.Configuration.ConfigurationManager uap-aot test fails with cannot load assembly System"

[2017-06-13 19:10] dancgr commented on #20990
@darkl Yes! I have just realized that. I have the wrong target...
I can't use the CLI with the VS project, I have to use the PS version from inside VS. I will wait and see if @RSFalcon7 has any success with VS 2017 version.
I will try to update the Nuget version from VS 2015 and see if it helps somehow.

[2017-06-13 19:15] danmosemsft commented on #20994
@dantraMSFT thanks for the report. Is this using .NET Core 2.0 preview 1 or an earlier version, or ..?

[2017-06-13 19:19] danmosemsft commented on #20803
@stephentoub ah - doh, yes. @mellinoe could you please fix this, as it's inner loop so it fails in CI.

[2017-06-13 19:23] adamhathcock commented on #20558
Makes sense to explicitly try an ArchiveType.

That's a way to go.  Explicitly identify Tar archives with a matching single file compression.

Can do.

IEntry is used with IArchive.  Just want to reuse the object among both the forward-only API and random access API.

Only one of the extensions is for IReader.  The others are for IReaderEntry.  I guess it's not explicit as they're all in the same

[2017-06-13 20:01] stephentoub commented on #20803
I'll fix it.

[2017-06-13 20:02] tijoytom opened #21004 "System.Configuration.ConfigurationManagerNullComparerThrows test fails in uapaot."
UAP AOT  do not throw the expected ArgumentNullException.

[2017-06-13 20:16] weshaggard commented on #20731
I do expect it is needed, particularly for the runtime.depproj which restores the runtime we do our tests runs against. If we didn't honor it I would expect the tizen test runs to fail as an example, but feel free to play around with it.

[2017-06-13 20:19] tmds commented on #20626
@krwq these api's take a `string` which has in it's name `uri`. If you set this to a full path on Windows, the reader can resolve other files.  I'm proposing the same behavior on Unix. I don't see any downsides. Do you?

[2017-06-13 20:21] davidsh opened #21008 "[UWP] DummyTcpServer not working in TLS/SSL in System.Net.Security tests"
I noticed that this test in System.Net.Security, TransportContextTest.cs, hangs at the `AuthenticateAsClientAsync` call but only in UAP test run and not UAPAOT test run.

[code]
If I don't use the DummyTcpServer but instead just connect to "corefx-net.cloudapp.net:443" then it works fine. So I think the problem is specific to using a loopback TLS/SSL server within the UAP tests which use app-conta

[2017-06-13 20:22] davidsh commented on #21008
cc: @safern @CIPop @caesar1995

[2017-06-13 20:28] tmds commented on #20628
You misread my comment. `%5C` is a backslash. So it is strange `new Uri(@"file:///one%5Ctwo").LocalPath` turns it into a forward slash.

[2017-06-13 20:46] Priya91 commented on #20628
@tmds I did understand it correctly, what I meant was it's not a new bug, it's the same case that '\' is converted to '/'. The '\' being percent-encoded doesn't protect it from the conversion rule.

[2017-06-13 21:00] karelz commented on #20951
Sadly, no. The only thing we know is that it builds. The rest is TBD.

[2017-06-13 21:06] #20803 closed

[2017-06-13 21:14] tmds commented on #20628
FWIW: the RFC section that allows converting backward slashes to forward slashes only applies to unencoded slashes.

[2017-06-13 21:15] lajones commented on #20859
@Jiayili1 - can you please leave the milestone blank so we can triage it? Also was this a NETFramework failure or a NETCore failure?

[2017-06-13 21:16] lajones commented on #20859
Never mind - I see from the labels it's UWP NET Core.

[2017-06-13 21:16] lajones commented on #20858
@Jiayili1 - for next time - can you please leave the milestone blank so we can triage it?

[2017-06-13 21:26] stephentoub commented on #20954
I'm not sure there's much we can do about this.  The synchronous Connect method just uses the OS' `connect` function and is subject to the behaviors of that implementation.  On Linux, the behavior of closing a socket file descriptor while being used by `connect` is undefined, and on many systems it won't have the cancellation semantics you're hoping for.  You can see that with a simple C repro:
[c

[2017-06-13 21:27] tmds commented on #20628
@Priya91 The LocalPath should not contain the encoded backslash (output you observed), since this will give issues, e.g when passed as an argument to File.Open.

[2017-06-13 21:36] mellinoe opened #21011 "Understand disallowed PInvoke in SYstem.Drawing.Primitives"
System.Drawing.Primitives uses `user32.dll!GetSysColor`, which seems to be disallowed in OneCore. Our Windows Nano runs do not fail, but we should still understand whether we need to avoid calling this function on Windows Nano. If we can't call the function, we should simply fall back to the cross-platform implementation, which has a hard-coded color table.

[2017-06-13 21:49] RSFalcon7 commented on #20990
So, when I download the Windows x86 command line and install on the project dir the version installed includes Castle.Core 3.3.1, which apparently isn't the UWP version.

If I update the VS2015 nuget the error is exactly the same reported before. Visual Studio 2017 worked out of the box, but I would really appreciate if I could keep everything on vs 2015.

[2017-06-13 21:51] norek commented on #20711
@hughbe Can you tell me what is this?
`public static IEnumerable<(int, Color)> SystemColors_TestData()` in `ColorTranslatorTests.cs`
build is passing, but VS highlight this syntax. I see this syntax for first time ;o

second: In my machine after pull your changes, I have failing your tests for example:
do you have idea why? clean, build on root completed.

[code]

[2017-06-13 21:55] mellinoe commented on #20711
Those are `ValueTuple`s, a new C#7 feature. You will need VS 2017 to edit that, I believe...

[2017-06-13 21:58] mellinoe commented on #20711
@norek As for the test failure: what language settings does your computer use? We might be assuming that English is used, and number parsing could fail with other culture settings.

[2017-06-13 22:07] norek commented on #20711
@mellinoe oh my god...of course you are right, VS17 is answer in this case.
And in second case... you are right too. Its written in fail message!
I work on polish settings.

That was easy... I dont know what is happening to me this night! Thanks alot.

[2017-06-13 22:08] Priya91 commented on #20628
That's for the case when file scheme is not used.

[2017-06-13 22:09] mellinoe commented on #20711
@norek Yep, the tests fail if your computer's language is Polish. This also happens on .NET Framework:

[code]

We should override the current culture in the tests that check this stuff.

[2017-06-13 22:10] hughbe commented on #20711
If it's not pressing I can do this by tomorrow

[2017-06-13 22:18] mellinoe commented on #20711
I have a fix here: https://github.com/dotnet/corefx/pull/21016

[2017-06-13 22:21] mellinoe commented on #20711
@norek No problem. I have seen enough problems exactly like this that I've come to expect it 😄

[2017-06-13 22:23] danmosemsft opened #21017 "Scan for libraries with no ref in the ref package and no incoming dependencies in the runtime package"
@ericstj pointed out it would be useful to improve our build to detect such things, by comparing the runtime and designtime dependency graphs. They can exist as a legacy of an earlier runtime dependency

Example: System.Security.AccessControl is in this category for UAP. corefx\bin\packages\Debug\reports\runtime.win10-x64.Microsoft.Private.CoreFx.UAP-runtime.dgml shows no incoming nodes for it (in

[2017-06-13 22:25] weshaggard commented on #20827
I was thinking about this a little and I think I have a reasonable way to do this. I will try to put together a PR in the next few days.

[2017-06-13 22:30] caesar1995 opened #21018 "Socket multicast will hang in UAP mode with any interfaces"
The receiveTask will hang forever in UAP run: https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs#L131, no matter what interface is set for MulticastOption.

[2017-06-13 23:00] lajones commented on #20859
Note: This one looks like something about the UWP build is not picking up the definition of `SR.RangeAttribute_ValidationError` - which is validly defined in the `Strings.resx` file for non-UWP builds.

[2017-06-13 23:00] ebickle commented on #574
@pgolebiowski
Completely agree we need to stay focused on proposals here; I made the original API proposal and original post. Back in January @karelz asked for some specific usage examples; that opened up a much broader question regarding the specific need and usage of a PriorityQueue API. I had my own PriorityQueue implementation and used it in a few projects and felt something similar would be u

[2017-06-13 23:01] lajones commented on #20858
Note: As for #20859, this one looks like something about the UWP build is not picking up the definition of `SR.RangeAttribute_ValidationError` - which is validly defined in the `Strings.resx` file for non-UWP builds.

[2017-06-13 23:11] caleblloyd commented on #20954
Is there any way to pass receive timeout to the socket in C#? We could detect Linux and set:

`setsockopt (SO_RCVTIMEO)`

[2017-06-13 23:25] danmosemsft commented on #21011
It seems it's an extension API set that "may" be available on Nano. I'm not sure what that means and we'd have to check with the experts.

[2017-06-13 23:28] karelz commented on #9996
We had a discussion with @Tratcher and @CIPop.
The key problem is that setting up the repro is extremely involved (you need your own DomainController and 2 additional machines on the network). We do not know in which component the bug is yet. We will have to debug that once we have the setup.

@Tratcher is trying to resurrect his setup from last year, let's see how it goes.

[2017-06-13 23:36] safern commented on #20888
### [EqualityComparer_SerializationRoundtrip](https://github.com/dotnet/corefx/blob/master/src/System.Collections/tests/Generic/Comparers/EqualityComparer.Generic.Serialization.Tests.cs#L16-L29) test fails in UAP as well with error:

[code]

[2017-06-13 23:47] Chrisboh opened #21022 "Remove UWP (ILC & F5) and Desktop test runs on release/2.0.0 corefx runs"
@MattGal commented on [Thu Jun 08 2017](https://github.com/dotnet/core-eng/issues/904)

Per @danmosemsft we don't actually use or pay attention to test results coming from the release/2.0.0 corefx branch.   Disabling these runs, especially the ILC ones, will save huge amounts of time in test execution.

This should just be a quick PR to the build pipelines folder but will require a ship room email

[2017-06-13 23:48] mellinoe commented on #20998
Fixed.

[2017-06-13 23:48] #20998 closed

[2017-06-13 23:52] danmosemsft opened #21023 "System.Security.AccessControl should not need a UAP configuration"
After pending PR this will no longer be in UAP package, so this configuration is harmless, still need to remove UAP configuration and add this to project
[code]
then remove the pinvoke baseline for that library.

Essentially: https://github.com/dotnet/corefx/compare/master...danmosemsft:cleanup.accesscontrol?expand=1

[2017-06-13 23:54] danmosemsft opened #21024 "Factor out RtlGetVersion for UWP"
UWP does not use RtlGetVersion. Pull RtlGetVersion call out into non-UWP code in System.Runtime.InteropServices.RuntimeInformation then the pinvoke baseline can be removed.

[2017-06-13 23:55] danmosemsft opened #21025 "Change UWP calls to CreateFile etc to use brokered API (eg CreateFile2)"
These libraries need to change to CreateFile2 in their UAP configurations, and delete their pinvoke baseline file.

System.IO.Pipes
System.IO.Ports
System.IO.FileSystem.Watcher
~~System.Diagnostics.FileVersionInfo~~

[2017-06-14 00:02] danmosemsft opened #21026 "Change MMF to use FromApp API's"
Change System.IO.MemoryMappedFiles to have a uap configuration that uses the FromApp versions of these API's then delete the pinvoke baseline file there.
[code]

[2017-06-14 00:02] danmosemsft commented on #21026
@joperezr fyi

[2017-06-14 00:07] lmolkova opened #21027 "SerializationException resolving Activity in cross-AppDomain call on NET 4.5"
With extended testing we identified another serialization issue with Activity on 4.5.

If an application has Activity stored in the logical call context and makes a call to another AppDomain that do not have DiagnosticSource assembly loaded, it causes SerializationException when Activity type is attempted to resolve because DiagnosticSource assembly is not found.

This issue potentially affects Az

[2017-06-14 00:09] hughbe commented on #20897
Actually got fixed in #20914

[2017-06-14 00:09] #20897 closed

[2017-06-14 00:09] hughbe commented on #20866
Fixed in #21007

[2017-06-14 00:09] #20866 closed

[2017-06-14 00:20] JeremyKuhne commented on #21026
This was sort of obfuscated, but it is already done: https://github.com/dotnet/corefx/commit/68949506e38203500c768fd2debbff73c0304b26

[2017-06-14 00:20] #21026 closed

[2017-06-14 00:23] Carbenium commented on #15017
@Priya91 Do you already have a rough time frame for an implementation? I think this API would help a lot of people to get Kerberos authentication going.
Unfortunately I haven't come across any library which could be used on Linux in the meantime.

[2017-06-14 00:59] benaadams commented on #574
Questions:

[code]
Why no duplicates?

[code]
If these methods are desirable, have them as extension methods?

[code]
Should throw; buy why no Try variant, also extension methods?

Struct based enumerator?

[2017-06-14 01:01] stephentoub commented on #20954
Yes, Socket.ReceiveTimeout:
https://msdn.microsoft.com/en-us/library/system.net.sockets.socket.receivetimeout(v=vs.110).aspx

[2017-06-14 01:17] v-haren commented on #20223
failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_opensuse42.1_release/76/testReport/System.Net.Sockets.Tests/DnsEndPointTest/Socket_StaticConnectAsync_HostNotFound/

[2017-06-14 01:17] dopare opened #21030 "TransactionScope does not rollback changes after exception"
I was testing `TransactionScope` in .NET Core 2.0 console app and find out that it does not rollback changes even if there is an exception.

My test [application](https://github.com/dopare/SqlClientTest/blob/master/SqlClientTest/Program.cs) for repro.

Part of source code using `TransactionScope`

[code]

Console Output:
[code]

[2017-06-14 01:35] karelz commented on #15017
@Carbenium the milestone is Future, so there is no timeframe currently.

[2017-06-14 01:38] karelz commented on #574
@benaadams originally suggested to avoid the ugly handle type. Latest update from API review reverts that.

We should not add methods as extension methods when we can add them on the type. Extension methods are backup if we can't add them on the type (e.g. it is interface, or we want to deliver it to .NET Framework faster).

[2017-06-14 01:45] caleblloyd commented on #20954
Thanks, we will add this in our library code. Would you like the issue closed or should it stay open for tracking purposes?

[2017-06-14 01:45] benaadams commented on #574
Dupes: If you have multiple entries that are the same you only need to update one? Then they become different?

Throwing methods: basically are wrappers and they will be?
[code]
Though its control flow via exceptions?

[2017-06-14 01:59] karelz commented on #574
@benaadams check my reply with API review notes: https://github.com/dotnet/corefx/issues/574#issuecomment-308206064
* We want to **enable duplicates** (similar to other collections):
    * Get rid of `Update` - user can `Remove` and then `Enqueue` item back with different priority.
    * `Remove` should remove just 1st found item (as `List` does).

Not sure what you mean. It seems like a pretty co

[2017-06-14 02:02] mconnew commented on #8673
@stephentoub, if I remember a previous discussion it's on by default on unix. The way to not use it is to not provide the header, but you can't add a negative header to HttpHeaders 😄 while means it can't be turned off on unix. So while the header is always emitted on unix, I wouldn't say the feature is "supported" in that it can be controlled.

[2017-06-14 02:04] mconnew commented on #8673
@davidsh, the fact that the default is incorrect on the full framework doesn't change the fact that it should be supported when needed.

[2017-06-14 02:05] mconnew commented on #14674
Doesn't work on Desktop. I can't tell you how common it is, but it was a Microsoft public service that I was communicating with that had the OAuth cookie which was dropped so we are in the situation where a Microsoft networking stack doesn't work with a Microsoft service.

[2017-06-14 02:06] davidsh commented on #8673
I don't think I ever said that the default is "incorrect on the full framework".  I simply commented that on .NET Framework, then default is TRUE.  And for many years, developers had problems with that because servers at the time didn't support it correctly.  And there were many articles written about how to set the default to FALSE.

[2017-06-14 02:11] mconnew commented on #7198
@CIPop, I think @KKhurin provided the details. Call ConnectAsync with a short timeout. Do this with a lot of connections at once (it is a stress test so should be implied) over and over again and eventually (10 seconds but could be a large number of connects) you'll get a connection hit this issue. It's also very easy to reason why this happens and sufficient call stack has been provided to unders

[2017-06-14 02:18] karelz commented on #14674
Makes sense. Let's keep it in Future, until we get more information on the impact.

The fact the 'affected' service was Microsoft service does not change things too much. If it was something large and impactful (inside MS or outside), we would consider it / work with the service owners to adjust it or work around the limitation. At this moment I don't know which service it is and if the owners con

[2017-06-14 02:20] lextm commented on #20974
So far I think the only documentation is the GitHub issues, such as #18246 and its related items.

[2017-06-14 02:25] stephentoub commented on #8673
Sure it can, just set `requestMessage.Headers.ExpectContinue = false;`:
https://github.com/dotnet/corefx/blob/fdb309f1421d4006c609097fd4b48443d3b1ad18/src/System.Net.Http/src/System/Net/Http/Unix/CurlHandler.EasyRequest.cs#L734-L740

[2017-06-14 02:28] stephentoub commented on #20954
Thanks, @caleblloyd.  I don't think there's any action to be taken here, so we can close it.

[2017-06-14 02:28] #20954 closed

[2017-06-14 02:33] benaadams commented on #574
If you just have TryX methods
* if you care about the result; you check it
* if you don't care about the result you don't check it

No exception involvement; but the name encourages you to make a decision to throw away the return.

If you have non-Try exception throwing methods
* if you care about the result; you either have to pre-check or use a try/catch to detect
* if you don't care about the r

[2017-06-14 04:02] tmds commented on #20628
Yes, it would cause bugs if the LocalPath contains percent encoded characters.

When I run the code with the released 2.0.0-preview1 the LocalPath has no encoded characters. I tried using the latest (Microsoft.NETCore.App 2.1.0-preview1-25413-05). Still the app outputs `/one/two, /one\two`. I can not reproduce the percent encoded backslash in LocalPath.

[2017-06-14 04:03] danmosemsft commented on #20441
@saurabh500 it broke again in CI --
https://mc.dot.net/#/user/caesar1995/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/30193fbeb605e0a97347b38589f57bf522fab40e/workItem/System.Data.SqlClient.Tests/wilogs

[log uploaded here](https://github.com/dotnet/corefx/files/1073483/output.txt)

attached above. Can you please take a look? Hopefully we can knock this one on the head.

[2017-06-14 04:07] danmosemsft commented on #21026
@JeremyKuhne aha, yes, it was just still including them in the project file. Fixing in my pr.

[2017-06-14 04:28] Petermarcu commented on #10470
@weshaggard , This is along the same lines as the "capabilities" api we've talked about in the past. Can you share your thoughts?

[2017-06-14 06:00] dotnet-mc-bot opened #21034 "Test: System.Net.Http.Functional.Tests.HttpClientHandlerTest/PostAsync_CallMethod_StreamContent failed with System.Net.Http.WinHttpException : The handle is invalid"
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandlerTest/PostAsync_CallMethod_StreamContent(remoteServer: https://corefx-net.cloudapp.net/VerifyUpload.ashx, content: StreamContentWithSyncAsyncCo...` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.\r
    ---- System.Net.Http.WinHttpException : The handle is inval

[2017-06-14 06:01] Jiayili1 commented on #20246
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170614.01/workItem/System.Net.HttpListener.Tests/wilogs

[2017-06-14 06:03] Jiayili1 commented on #19285
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170614.01/workItem/System.Net.Sockets.Tests/wilogs

[2017-06-14 06:05] Jiayili1 opened #21035 "System.Runtime.Serialization.Formatters.Tests sometimes hang in ret on Win7"
No test result generated under "System.Runtime.Serialization.Formatters.Tests "

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170614.01/workItem/System.Runtime.Serialization.Formatters.Tests/wilogs

[code]

[2017-06-14 06:10] Jiayili1 commented on #20888
This issue is also repro on UWP F5 Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170614.01/workItem/System.Collections.Tests/analysis/xunit/System.Collections.Generic.Tests.BadlyBehavingComparableComparersTests~2FEqualityComparer_SerializationRoundtrip

[2017-06-14 06:26] morganbr commented on #20888
@ViktorHofer , any guesses on the UWP F5 failure? That's not related to the original MissingMetadataException.

[2017-06-14 07:20] dotnet-mc-bot opened #21037 "Test: System.Net.Sockets.Tests.SendPacketsAsync/NullElement_Ignored failed with "System.Net.Internals.SocketExceptionFactory+ExtendedSocketException""
Opened on behalf of @Jiayili1

The test `System.Net.Sockets.Tests.SendPacketsAsync/NullElement_Ignored(type: Async)` has failed.

System.Net.Internals.SocketExceptionFactory+ExtendedSocketException : Operation timed out [::1]:50751

        Stack Trace:

           at System.Net.Sockets.Socket.DoConnect(EndPoint endPointSnapshot, SocketAddress socketAddress) in /Users/buildagent/agent/_work/25/s/c

[2017-06-14 07:26] wateret opened #21038 "[ARM/Tizen] System.Globalization.Tests Failure"
[code]

[2017-06-14 07:30] wateret commented on #21038
The test fails with the below `return` statement. `NumberFormatInfoData.UrINNumberGroupSizes()` returns `[3, 2]`(expected value) while the actual value is `[3]`.

In `System.Globalization/tests/NumberFormatInfo/NumberFormatInfoNumberGroupSizes.cs`

[code]

In `System.Globalization/tests/NumberFormatInfo/NumberFormatInfoData.cs`

[code]

There was a similar issue: #20217 and the solution #20218.

[2017-06-14 08:48] pgolebiowski commented on #574
### Stability

* Stability does not come for free. This comes with an overhead in performance and in memory. For an ordinary usage, the stability in priority queues is not important.
* We expose an `IComparer`. If the customer wants to have stability, they can easily add it themselves. It would be easy to build `StablePriorityQueue` on top of our implementation — using the ordinary approach with s

[2017-06-14 08:53] v-haren opened #21042 "System.ComponentModel.Tests.CategoryAttributeTests.Ctor_Category failed in CI"
failed test: System.ComponentModel.Tests.CategoryAttributeTests.Ctor_Category

detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_rhel7.2_release/77/testReport/System.ComponentModel.Tests/CategoryAttributeTests/Ctor_Category_category____Default____expectedIsDefaultAttribute__True_/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-06-14 09:11] VisualMelon commented on #574
@pgolebiowski
That all seems very sane. Would you mind clarifying, in the `Delivering IQueue then` section, are you suggesting `T : IComparable<T>` for the "one generic type" as an alternative to the selector given the allowance of duplicate elements?

I would support having the two separate types.

I don't understand the rationale behind using `object` as the handle type: is this just to avoid cr

[2017-06-14 09:21] VisualMelon commented on #574
If debugability trumps memory overhead, the handle type could even include information about which queue it belongs to (would have to become Generic, which would further the type safety of the interface), providing useful exceptions along the lines of ("Handle supplied was created by a different Queue"), or whether it has already been consumed ("Element referenced by Handle has already been remove

[2017-06-14 10:00] hughbe commented on #21042
Fixed in #21041

[2017-06-14 10:00] pgolebiowski commented on #574
@VisualMelon

Sorry for not making this clear.

* I meant delivering `PriorityQueue<T>`, with no constraint on the `T`.
* It would still make use of an `IComparer<T>`.
* If it happens that the `T` is already comparable, then simply `Comparer<T>.Default` would be assumed (and you can call the default constructor of the priority queue with no arguments).
* The selector had a different purpose — to b

[2017-06-14 10:28] pgolebiowski commented on #574
@karelz @safern @ianhays @terrajobst @bendono @svick @alexey-dvortsov @SamuelEnglard @xied75  and others -- do you think such an approach would make sense (as described in [this](https://github.com/dotnet/corefx/issues/574#issuecomment-308366414) and [this](https://github.com/dotnet/corefx/issues/574#issuecomment-308384901) post)? Would it satisfy all of your expectations and needs?

[2017-06-14 11:51] SamuelEnglard commented on #574
I think the idea of creating two class makes a lot of sense and solves a lot of issues. Only though I have is that it might make sense for `PriorityQueue<T>` to use the `Heap<T>` internally and just "hide" it's advanced functionality.

[2017-06-14 13:00] Carbenium commented on #15017
Thanks for the answer.
Is there any chance you might consider this for 2.1?
GSSAPI, which this API would expose (?), is basically the only authentication method that does not have any decent .NET support.

Just as an example the people from [MailKit](https://github.com/jstedfast/MailKit) would probably be interested in this feature, since it's the only method missing from their list.
I guess even

[2017-06-14 13:14] Goobae commented on #10445
Followed @okosodovictor advice, still could not install sqlite-net-pcl vs 2017.

[2017-06-14 13:15] pgolebiowski commented on #574
So basically...

## IQueue<T>

[code]

### Notes

* In `System.Collections.Generic`.
* Idea: we could also add methods for removing elements here (`Remove` and `TryRemove`). It is not in `Queue<T>` though. But it's not necessary.

## PriorityQueue<T>

[code]

### Notes

* In `System.Collections.Generic`.
* If the `IComparer<T>` is not delivered, `Comparer<T>.Default` is summoned.
* It is stable.
*

[2017-06-14 14:13] ebickle commented on #574
Agree with the IQueue<T> proposal. I was going to pitch the same thing today, it feels like the right level of abstraction to have at the interface level. "An interface to a data structure that can have items added to it and ordered items removed from it."

* The spec for IQueue<T> looks good.

* Consider adding "int Count { get; }" to IQueue<T> so that it's clear Count is desired regardless of wh

[2017-06-14 14:38] jmroyb opened #21045 "Could not load file or assembly 'System.Runtime, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
Hi folks,

My console app (FW 4.7) raises this exception:

"An unhandled exception of type 'System.IO.FileNotFoundException' occurred in Unknown Module.

Could not load file or assembly 'System.Runtime, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies."

app.config:

`  <dependentAssembly>
    <assemblyIdentity name="System.Runtime" publicKeyToken="b03f

[2017-06-14 14:43] benaadams commented on #574
They are [System/Collections/Generic/Queue.cs#L253-L295](https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/Queue.cs#L253-L295)

On the other hand Queue doesn't have
[code]

[2017-06-14 14:49] pgolebiowski commented on #574
OK. Will modify it.

[They have been added to Queue](https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/Queue.cs) (and `Stack` as well).

This one was added by @karelz, I just copied it. I like it though, might be considered in the API review :)

I think `Remove` and `TryRemove` is consistent with other methods like that (`Try*`).

It's a valid point

[2017-06-14 14:52] stephentoub commented on #574
FWIW, `bool IsEmpty { get; }` is something I wish we'd added to `IProducerConsumerCollection<T>`, and I've regretted it not being there on multiple occasions since.  Without it, wrappers often need to do the equivalent of `Count != 0`, which for some collections is significantly less efficient to implement, in particular on most of the concurrent collections.

[2017-06-14 15:07] jmroyb commented on #21045
Seems Update-Package -reinstall solves my issue.

I do not understand why I have to run it every time I add nuget references ....

[2017-06-14 15:07] #21045 closed

[2017-06-14 15:10] karelz commented on #15017
We have a long list of high-value work items in Networking for 2.1 already. Unless there is strong evidence of business need (more votes, ask from important partners, like MailKit, etc.), it will likely not fit into 2.1.

[2017-06-14 15:13] john7doe opened #21047 "don't ask end users to link to openssl"
In step 1 here https://www.microsoft.com/net/core#macos, you ask the end users to symlink openssl dylibs. Instead use dydl's rpath support and do this at build time:

[code]

And why do I need to download and run a visual installer to get a cli? I would love to be able to do: `brew install dotnetcore`

[2017-06-14 15:33] svick commented on #20683
@nagarajDeveloper How would that be achieved? I can see several options, none of which sounds reasonable to me:

* Move `System.Linq.Enumerable` to `System.Collections` (or is it `System.Collections.Generic`?). This would be a major breaking change, so it's not going to happen.
* Add a new class `System.Collections.Enumerable`, in addition to `System.Linq.Enumerable`. I think this would cause ambi

[2017-06-14 15:35] #21027 closed

[2017-06-14 15:41] ericstj commented on #21017
We have something close to this.  For any library that is implementation only we must explicitly declare it:
https://github.com/dotnet/corefx/blob/e933ffe48451a5549b76d03a3ff6023a08be1cfa/pkg/Microsoft.Private.CoreFx.NETCoreApp/Microsoft.Private.CoreFx.NETCoreApp.pkgproj#L35-L51

We don't however do further validation to see if the implementation assembly has no incoming dependencies, however we c

[2017-06-14 15:44] Mpdreamz commented on #14612
Can we reopen this? it would be awesome if `CurlHandler` exposed this for `HTTP1/1` requests.

[2017-06-14 15:45] #20574 closed

[2017-06-14 15:48] AtsushiKan commented on #19895
Just waiting now for Project N to consume the corefx package that includes HasMetadataDefinition so it stops reflection-blocking it.

[2017-06-14 16:00] tuespetre commented on #18589
I don't find this proposal to be valuable for the following reasons:

- If https://github.com/dotnet/corefx/issues/3093 is decided on, the motivation for this proposal becomes obsolete -- you could write `sequence.Except(Yield(item))` or similar, which would then be a 'standard' way across all operators to use a single item with a sequence without having to `new` up an array.
- If you want the equ

[2017-06-14 16:06] danmosemsft commented on #21047
@bartonjs

[2017-06-14 16:10] weshaggard commented on #10470
Yes this is a specific instance of a capability API which I think is best solved with the suggestions provided by @VSadov and @JonHanna in this issue by exposing an API directly in System.Linq.Expressions.

It needs a formal API proposal and the owner @VSadov to drive it through the process. Given this will be a new API it will only initially be added to netcoreapp and uap, as it cannot be added t

[2017-06-14 16:10] danmosemsft commented on #21035
@ViktorHofer seems the tests hung on one OS. Not very actionable at the moment.

[2017-06-14 16:10] ebickle commented on #574
@pgolebiowski How do you feel about the idea of creating a github repository to host the current API contracts and an .md file or two containing the design rationale. Once that stabalizes, it can be used as a place to build out the initial implementation before doing a PR up to CoreFxLabs when ready?

[2017-06-14 16:11] danmosemsft commented on #20688
@JeremyKuhne I guess we can close this now?

[2017-06-14 16:11] danmosemsft commented on #20456
@JeremyKuhne I guess we can close this

[2017-06-14 16:12] danmosemsft commented on #20388
@JeremyKuhne can you figure this out? I'm not comfortable shipping 2.0 with this test disabled, both because we might miss a regression, and because we'll be servicing 2.0 for a while.

[2017-06-14 16:13] daxian-dbw commented on #20456
Thanks for the fix! Where can I find the documentation about this behavior on both Windows and Unix?

[2017-06-14 16:13] danmosemsft commented on #9975
@mmitche is this done? if not do you plan to? it's in the 2.0 milestone.

[2017-06-14 16:17] bartonjs commented on #21047
We chose to not include either the Homebrew or MacPorts default paths because they're defaults instead of fixed values; and we don't want to add probing to a path that you may or may not even expect to exist.

The manual instructions specify symlinks over install_name_tool because symlinks are a once-ever step, and install_name_tool has to be repeated for each patch-build you download.

In .NET Co

[2017-06-14 16:17] #21047 closed

[2017-06-14 16:26] karelz commented on #574
@svick

Agreed. Let's add them.

Good question. What would you propose? `IEnumerable<TElement> Elements { get; }`?

I think we can avoid that by considering `Update` as logical `Remove`+`Enqueue`. We would add items always to the end of same-priority items (basically consider comparer result 0 as -1). IMO that should work.

--------------------------------------------------------------------------

[2017-06-14 16:48] karelz commented on #574
Re: Latest proposal from @pgolebiowski - https://github.com/dotnet/corefx/issues/574#issuecomment-308427321

Would they make sense to be added to `Queue<T>`? (@ebickle agrees) If yes, we should bundle the addition as well.
Let's add it in the interface and call out they are questionable / need `Queue<T>` addition as well.
Same for `IsEmpty` -- whatever needs `Queue<T>` and `Stack<T>` additions, le

[2017-06-14 16:52] RSFalcon7 commented on #20990
I also tried installing from the packet manager UI, the result was the same:

[code]

We really would appreciate if it works on VS2015, so we don't need to maintain 2 VS licences or migrate our entire code base.

[2017-06-14 16:54] karelz commented on #14612
@Mpdreamz what exactly should happen? Is there curl API we can call to get/set the flag? Or is there more to it?

[2017-06-14 16:54] #21038 closed

[2017-06-14 16:55] davidsh commented on #21034
Dupe of #9228.

[2017-06-14 16:55] #21034 closed

[2017-06-14 17:30] alrz opened #21052 "Please provide ref indexer for collection builder types"
For example `ImmutableArray<T>.Builder`.

Note: https://github.com/dotnet/csharplang/issues/476 could make this a lot cleaner.

Also related: https://github.com/dotnet/csharplang/issues/461

[2017-06-14 17:31] bazzilic opened #21053 "BigInteger should have a less strictly typed constructor"
`BigInteger` should have a `public BigInteger(IList<byte>)` constructor instead of the existing `public BigInteger(Byte[])` constructor.

### Rationale
First, asking for an interface instead of a specific type seems more in line with the ideology of the language. Second, there are situations when this would have been more convenient.

As an example, we are implementing some public key cryptosystem

[2017-06-14 17:36] svick commented on #574
@karelz

Yeah, either that or a property returning some kind of `ElementsCollection` is probably the best option. Especially since it's similar to `Dictionary<K, V>.Values`.

That's not how heaps work, there is no "end of same-priority items". Items with the same priority can be spread all over the heap (unless they're close to being the current minimum).

Or, put another way, to maintain stabilit

[2017-06-14 17:36] dantraMSFT commented on #20994
@danmosemsft: I can repro this with 2.0.0-preview2-006388.

[2017-06-14 17:38] Pzixel commented on #15245
It's labeled as 2.0, but #13050 is still inactive. So I think it worth to reopen this.

[2017-06-14 17:40] jamesqo commented on #18589
I don't think this proposal is worthwhile anymore-- taking an item is much less flexible rather than taking a predicate to decide what to filter out (i.e. `Where`). I can close this. Thanks @tuespetre for reminding me.

[2017-06-14 17:40] #18589 closed

[2017-06-14 17:54] svick commented on #21053
Is `ArraySegment<byte>` actually the only type you're interested in? In that case, adding a `Span<byte>` overload might be a better choice than `IList<byte>`, since you can easily convert `ArraySegment<byte>` to `Span<byte>` (and especially considering it would be more efficient). In that case, this would become part of https://github.com/dotnet/corefx/issues/13892.

It's the other way around: add

[2017-06-14 17:56] JeremyKuhne commented on #20456
I've got a change in process to update the docs to describe the current behavior. https://github.com/dotnet/docs/pull/2209  I've been busy getting the fixes through, I should hopefully get it finished shortly.

[2017-06-14 17:56] #20456 closed

[2017-06-14 17:59] benaadams commented on #574
I don't think `Remove` should be added to `IQueue<T>`; and I'd even suggest `Contains` is dodgy; it limits the usefulness of the interface and what types of Queue it can be used for unless you start also throwing NotSupportedExceptions. i.e. what is the scope?

Is it just for vanilla queues, message queues, distributed queues, ServiceBus queues, Azure Storage Queues, ServiceFabric Reliable​Queues

[2017-06-14 18:08] karelz commented on #574
Fair point. I was thinking about it as binary search tree. Gotta brush my d.s. basics I guess :)
Well, either we implement it with different d.s. (array, binary search tree (or whatever the official name is) - @stephentoub has ideas/suggestions), or we settle for random order. I don't think maintaining `version` or `age` field is worth the guarantee of stability.

[2017-06-14 18:09] Priya91 commented on #20994
@dantraMSFT Please provide a short repro with .NET Core APIs.

[2017-06-14 18:11] Priya91 commented on #20965
@karelz Is Arm/Linux a supported scenario?

[2017-06-14 18:16] mellinoe commented on #21053
Alternatively, we could consider just adding adding another `byte[]` overload, with additional `startIndex` and `count` parameters. I don't know how often we use `ArraySegment` as an exchange type; using "array-start-length" seems to be a more common pattern.

[2017-06-14 18:17] JeremyKuhne commented on #20388
@danmosemsft I can look. We do have the test that uses shell execute with the app name. I presume there is something with the machines that doesn't have the file association in a known state. Fair warning- this will probably take a while to investigate.

[2017-06-14 18:21] mellinoe commented on #21053
For an addition like this, that shouldn't be a problem. But keep in mind: it will take a lot longer for us to ship the addition in .NET Framework than it will for us to ship it in .NET Core.

[2017-06-14 18:23] weshaggard commented on #20990
@emgarten @rrelyea does this sound like a familiar issue with nuget?

[2017-06-14 18:26] qizhanMS commented on #12534
Does SqlClient support some functionality such as EnlistTransaction for System.Transactions on .net core? There is a user reporting not able to use SqlConnection with System.Transactions on .net core. Please share current status and plan for supporting System.Transactions in SqlClient on .net core.

[2017-06-14 18:28] saurabh500 commented on #12534
The development of the feature is underway. Right now we don't support EnlistTransaction or any API related to System.Transactions in SqlClient.

[2017-06-14 18:36] jamesqo opened #21055 "Proposal: Specialize IA.Builder.ToImmutableArray, IHS.Builder.ToImmutableHashSet"
A while ago I was working on a project and whenever I wanted an `ImmutableArray` I would just call `ToImmutableArray()` on the enumerable. I got so used to doing this, in fact, that I did it for `ImmutableArray.Builder`s without realizing there was a `ToImmutable()` method for a long time.

## Update 8/13/17

Instead of making the new facades instance methods, they will be extension methods. Ratio

[2017-06-14 18:45] JeremyKuhne commented on #20388
Note that we need to update the UAP exclusion in any case. They shouldn't be skipped for UAP, just the title verification should be modified.

[2017-06-14 18:50] danmosemsft commented on #20388
@JeremyKuhne as it's only a sporadic failure, you could reenable for outerloop with some dumping of appropriate registry keys, then leave it until it fails again.

[2017-06-14 18:58] caesar1995 opened #21057 "Socket SelectTest.Poll_NotReady() fail in ILC mode due to metadata removed for performance reason"
System.Net.Sockets tests run fine in F5 ('uap') mode. But in ILC ('uap-aot') mode they are failing.  It seems that the metadata the test needs to look up has been removed:

[code]

We get failures like this:

Is this an expected problem from the UWP test runner in ILC mode? Or we need to fix this?

cc: @davidsh

[2017-06-14 19:07] AArnott commented on #21055
I agree calling `ToImmutable()` is preferable in these cases. But I don't recall just how impactful it is. We *could* do type checks in the `ToImmutableArray()` extension method to make it basically equivalent (if we don't already, I don't recall).
Another option is to define some analyzers that catch this and other common mistakes that only analyzers can catch (like calling `ImmutableList.Add` bu

[2017-06-14 19:20] davidsh commented on #21057
cc: @tarekgh @safern

[2017-06-14 19:36] tarekgh commented on #21057
CC @joperezr

I think this need to be fixed in the ILC toolchain

[2017-06-14 19:45] Tratcher commented on #9996
Good news, I've gotten this to work now for ASP.NET Core 1.1 and 2.0 preview1 (and ASP.NET 4.5 as a baseline). Setting up Kerberos for IIS was the hard part. Here are the highlights:
- 3 machines on a private network all joined to the same domain.
  - 1. a domain controller + back-end web server
  - 2. a middle tier web server
  - 3. a client machine
- On the domain controller go into active direc

[2017-06-14 20:00] #21042 closed

[2017-06-14 20:04] tijoytom commented on #19249
Verify that VSO have an equivalent bug

[2017-06-14 20:04] Priya91 commented on #20965
@seanshpark The reported error doesn't have much information to provide help further, task canceled just means the operation might have timed out. Requires debugging for further investigation.

[2017-06-14 20:07] tmat commented on #21057
System.Net.Sockets is more appropriate are than System.Reflection.Metadata.

[2017-06-14 20:23] davidfowl commented on #10470
You can't cross compile for CoreRT.

[2017-06-14 20:25] jamesqo commented on #21055
It seems silly to have to optimize for this when the usage is so easy to fix. And no, it's not equivalent to `ToImmutable()` yet-- we check for `ImmutableArray<T>`, then `IImmutableArray`, then we go down [this branch](https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray.cs#L127) and check for some well-known types like `List

[2017-06-14 20:41] weshaggard commented on #10470
Why not? Lets not derail this issue but it is my understanding corert would be represented with its own RID. See https://github.com/dotnet/corefx/pull/14142.

[2017-06-14 20:41] tmds commented on #20626
@karelz @krwq @sepidehMS @stephentoub there are no outstanding actions for me on the issue and related PR. We need reach a decision whether this change will be included and in what version.

[2017-06-14 20:42] AArnott commented on #21055
If you tested it where the collection library was in your solution, you should be aware that the `[EditorBrowsable(Never)]` attribute doesn't hide items from completion lists when the API is reachable within a project or project reference. Only assembly references seem to honor that attribute.

Why emit a warning though? If we're going to define the method, why not just have it call `ToImmutable()

[2017-06-14 20:47] Petermarcu commented on #10470
We don't want upstack libraries that wouldn't have to cross compile to have to cross compile just for this do we?

[2017-06-14 20:52] weshaggard commented on #10470
Ideally no, but if they need to optimize for a the corert platform specifically then they would have too. For this case assuming they target netcoreapp and we expose this new API there they wouldn't need to cross-compile for corert, they could just have a netcoreapp asset and do the runtime detection based on this new API.

[2017-06-14 20:54] jkotas commented on #10470
The standard way to avoid cross compilation in these cases is to do light-up using reflection. Look for the (capability) API and use it if it exists. Otherwise, use a fallback logic that is not as good.

[2017-06-14 20:54] tarekgh commented on #20726
This should be fixed now and not getting System.IO.IOException anymore

[2017-06-14 20:54] #20726 closed

[2017-06-14 21:20] jamesqo commented on #21055
@AArnott It's for the purpose of consistency-- it's confusing when the same thing is done in multiple ways.

[2017-06-14 21:25] smitpatel opened #21060 "NewExpression without constructor for certain system type"
[code]
In the `NewExpression` created for `new DateTime()` the `Constuctor` property is null. Looking at the source of `NewExpression`, it does not seem to be possible to define a `NewExpression` without ctor (even need to pass the default parameterless one). So the Expression tree created looks incorrect.

Instead of `new DateTime` if `new Post` is used then property has default ctor. So this see

[2017-06-14 21:50] sepidehMS commented on #20626
Since this resolves a behavior inconsistency between Windows and Unix where a string fullpath uri is passed to XmlReader, I believe we should take it for 2.0. Otherwise, existing code might break when ported from Windows to Unix. @danmosemsft what is the bar for 2.0 port?
cc: @krwq

[2017-06-14 21:53] saurabh500 commented on #21030
@dopare are you using Preview1 bits of SqlClient?
Transactions nested in Transaction Scope is not supported in SqlClient.
We changed Sqlclient so that an exception is thrown when an attempt to enroll a connectoin into System.Transaction.

[2017-06-14 21:57] svick commented on #21060
`DateTime` does not actually have a parameterless constructor, so there is no `ConstructorInfo` that could be returned from the `Constructor` property. When you write `new DateTime()`, it's the same as if you wrote `default(DateTime)`, i.e. the `struct` is zero-initialized.

And if you manually call `Expression.New(typeof(DateTime))`, you also get a `NewExpression` with `null` `Constructor`.

So I

[2017-06-14 22:00] ianhays commented on #20558
Yeah. It's not ideal though.

I see, thanks.

To me it seems like a lot of distinct interfaces and classes to protect the programmer from themselves. I'd personally much rather use one interface/class like how ZipArchive can either read or write depending on the stream passed to it.

[2017-06-14 22:00] jnm2 commented on #21055
Yes.

[2017-06-14 22:27] danmosemsft commented on #20626
The bar is that we would likely service the product to take the change. (As well as risk level is acceptably low). As a rule of thumb I would also assume that if the change broke something, we might have to ship that way.

@JeremyKuhne since this is analogous to paths, what's your opinion? + @davidsh for URI

[2017-06-14 22:33] caesar1995 opened #21062 "ILC mode will clear out ParamName for ArgumentNullException"
System.Net.Sockets NullArgs_Throw() test runs fine in netcore/netfx/uap mode. But in ILC ('uap-aot') mode it is failing.  It seems that the ParamName field has been optimized away:

[code]

Here is the implementation for SendPacketsAsync:

[code]

https://docs.microsoft.com/en-us/dotnet/api/system.argumentnullexception.-ctor?view=netcore-1.1#System_ArgumentNullException__ctor_System_String_
No mat

[2017-06-14 22:40] caesar1995 commented on #21062
Because of this problem, the NullList_Throws() fails as well:

[code]

[2017-06-14 22:41] AtsushiKan commented on #21062
This is by design.
The recommended remedy is to user AssertExtensions.Throws<>() to test ParamNames. It will test the paramname on non-uapaot platforms and ignore it on uapaot.

[2017-06-14 22:44] caesar1995 commented on #21062
@AtsushiKan Thank you! I will fix those test cases.

[2017-06-14 22:45] JeremyKuhne commented on #20626
I do think we should take it for 2.0, but we should isolate the change to the Unix build and not do a runtime check.

[2017-06-14 22:56] joperezr commented on #21057
Two ways of fixing this:
- Have an rd.xml that makes sure that types/members are not optimized out (similar to what I did in PR #20995)
- See if @morganbr 's work and improvements in reflection will fix this on the ILCToolchain.

[2017-06-14 23:13] dopare commented on #21030
What is currently supported with `TransactionScope` ?

[2017-06-14 23:28] danmosemsft commented on #20626
I support that. @stephentoub are you comfortable wiht the change? If you sign off, let's merge it and prepare a 2.0 change.

If shiproom rejects it for 2.0 we might want ot pull it from master.

[2017-06-14 23:38] joperezr opened #21066 "Change S.Threading.Overlapped tests that test on OS-invalid handles to use SafeHandle-invalid handles instead"
The tests: `BindHandle_ClosedSyncHandleAsHandle_ThrowsArgumentException` and `BindHandle_ClosedAsyncHandleAsHandle_ThrowsArgumentException` are failing in uap because it looks like they are expecting that `handle.CloseWithoutDisposing` should mark the property `handle.isClosed` to true, and it doesn't. Tests look more or less like:
[code]
Inside, BinHandle method, we do a check and throw ArgumentE

[2017-06-14 23:48] seanshpark commented on #20965
@karelz , @Priya91 , Thank you :)
OK, I'll trace inside of CoreFX/CoreCLR and find out the cause.

[2017-06-15 00:22] pgolebiowski commented on #574
Please have a look at [this document](https://github.com/pgolebiowski/corefxlab/blob/pgolebiowski/priority-queue/docs/specs/priority-queue.md).

I got rid of the selector altogether. It is necessary only if we want to have one unified `PriorityQueue<T, U>`. If we have two classes -- well, a comparer is enough.

---

Please let me know if you find anything worth adding / changing / removing.

[2017-06-15 00:25] danmosemsft commented on #21024
fixed

[2017-06-15 00:25] #21024 closed

[2017-06-15 00:27] danmosemsft commented on #21022
@Chrisboh is this something @MattGal is planning to do like for 1.0?

[2017-06-15 00:41] danmosemsft commented on #20981
Please try there...

[2017-06-15 00:41] #20981 closed

[2017-06-15 00:45] ebickle commented on #574
@pgolebiowski

Document looks good. Starting to feel like a solid solution I'd expect to see in the .NET core libraries :)

* Should add a nested Enumerator class. Not sure if the situation has changed, but years ago having the child structure avoided a garbage collector allocation caused by boxing the result of GetEnumerator(). See https://github.com/dotnet/coreclr/issues/1579 for example.
`
publ

[2017-06-15 00:57] smitpatel commented on #21060
Thanks for explanation. It make sense why certain new operators wouldn't have ctor info. (bit strange regardless)

With regards of `Expression.New(typeof(DateTime))` it seems to have exact type of `NewValueTypeExpression` derived from `NewExpression` but internal type.

Are we saying that NewExpression.Constructor property can be nullable? We just wanted to clarify that, if this is by design or a

[2017-06-15 00:58] AArnott commented on #21055
But we have instance methods that match extension methods names all over the place for purposes of specialization. `ImmutableArray<T>` is *full* of them. I would think `ToImmutableArray()` is just another one of those examples.

[2017-06-15 01:07] jnm2 commented on #574
I agree with `bool Remove(T element)` and no `TryRemove`. Cf. https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/CollectionExtensions.cs#L41

[2017-06-15 01:22] shmao commented on #20481
We need to verify the test with the latest UWP toolchain and remove the `[ActiveIssue]` from the test.

[2017-06-15 01:25] Jiayili1 commented on #20858
@lajones ok, I will leave the milestone blank.

[2017-06-15 01:58] karelz commented on #21055
Obsolete is too big hammer in general - I would suggest to use this https://github.com/dotnet/corefx/wiki/ApiCompat instead.

[2017-06-15 01:59] #21062 closed

[2017-06-15 02:01] Jiayili1 commented on #20246
This issue is repro on Core Tests (2.0.0), detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170615.01/workItem/System.Net.HttpListener.Tests/wilogs

[2017-06-15 02:01] karelz commented on #21023
@danmosemsft should it be up-for-grabs?

[2017-06-15 02:08] karelz commented on #20982
How are System.ComponentModel (this bug) and SystemComposition (the PR) related?

[2017-06-15 02:10] joshfree commented on #21057
@joperezr please complete the rd.xml change and create a future bug for @morganbr.  @morganbr 's work will come in later and we'll need this test running sooner.

[2017-06-15 02:16] hughbe commented on #20982
Sorry - a typo. I mean System.Composition.TypedParts

[2017-06-15 02:17] karelz commented on #574
@pgolebiowski thanks for putting it into a document. Can you please submit PR? Tag @ianhays @safern they will be able to merge the PRs.
We can then use CoreFxLab issues for further discussions about particular design points - it should be easier than this mega-issue (I just kicked off email to create area-PriorityQueue there).

[2017-06-15 02:18] morganbr commented on #21057
If this is something about XUnit theories, the analysis changes won't affect it. Go ahead with rd.xml.

[2017-06-15 02:24] YongseopKim opened #21075 "System.Net.Security.Tests failed on armel"
System.Net.Security.Tests failed on armel

failed tcs are in tests/FunctionalTests/NegotiateStreamTestForUnix.cs
[code]

There are two thrown exceptions:
[code]

it's because of below code.
[code]

Current rootfs of armel doesn't have `sudo`.

[code]

This needs to care about a situation where there is no `sudo`.

[2017-06-15 02:35] joshfree commented on #20600
@AtsushiKan PTAL

[2017-06-15 02:36] joshfree commented on #20590
/cc @zhenlan

[2017-06-15 02:36] joshfree commented on #20589
@saurabh500 PTAL

[2017-06-15 02:37] joshfree commented on #20588
/cc @ianhays

[2017-06-15 02:39] joshfree commented on #20525
@AtsushiKan PTAL

[2017-06-15 02:45] #19897 closed

[2017-06-15 02:50] dotnet-mc-bot opened #21076 "Test: System.Security.Cryptography.X509Certificates.Tests.ChainTests/VerifyWithRevocation failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Security.Cryptography.X509Certificates.Tests.ChainTests/VerifyWithRevocation` has failed.

Online Chain Built Validly within 3 tries
    Expected: True
    Actual:   False

        Stack Trace:

           at System.Security.Cryptography.X509Certificates.Tests.ChainTests.VerifyWithRevocation() in /root/corefx/src/System.Security.Cryptography.X509Cert

[2017-06-15 02:52] Jiayili1 commented on #21076
Closed Issue: https://github.com/dotnet/corefx/issues/14536

[2017-06-15 02:54] Jiayili1 commented on #20858
@lajones do you mean I need to leave the milestone for all the new issues or just for UWP F5 issues?

[2017-06-15 03:05] YongseopKim commented on #21075
cc\ @hseok-oh

[2017-06-15 03:47] saurabh500 commented on #21030
Right now nothing is supported in TrabsactionScope. We are looking at releasing support post 2.0. the engineering effort is underway

[2017-06-15 03:49] danmosemsft commented on #21076
@bartonjs

[code]

[2017-06-15 03:57] hughbe opened #21078 "Can't Ctrl-C out of Installing dotnet cli in Windows command prompt hangs"
Normally I can press Ctrl-C and quit the currently exectuting task in the WIndows command prompt.

However, things seem to jam up and hang if I press control C when installing the dotnet cli.

This is a pain because my slow internet takes upwards of 1 hour to download the CLI, and I also often get errors like these and can't quit the build...

[code]

[2017-06-15 04:01] hughbe opened #21079 "StackTrace/StackFrame don't have a file name or position in .NET Core on Windows, but do with .NET Core on Unix and .NET Framework"
The following example is a test that passes with netfx, passes with netcoreapp on Unix, but not with netcoreapp on Windows.

[code]

[2017-06-15 04:05] karelz commented on #21079
That's weird. @joperezr is it on purpose?

[2017-06-15 04:07] karelz commented on #21078
@weshaggard @mellinoe any idea how to route it? This is significantly impacting contributor workflow :(

[2017-06-15 04:07] danmosemsft commented on #21066
This is failing even after fixing it to write to a valid path?

[2017-06-15 04:08] hughbe commented on #21079
This seems like a recent regression. I actually noticed it before writing tests in #21040 (they fail because of this bug), because test failures no longer have line numbers or file info in them

I thought it was just a tooling thing, but looks like a bug, and a pretty bad one at that.

[2017-06-15 04:10] danmosemsft commented on #20975
fixed now

[2017-06-15 04:10] #20975 closed

[2017-06-15 04:10] danmosemsft commented on #20782
Discussion of a new Windows API..

[2017-06-15 04:13] danmosemsft commented on #20541
@AtsushiKan I do'nt think there is anything particular to UWP here. Although we should do this pass, I'm going to move out of that milestone as I don't think it's required to ship it. Tests should catch anything UWP specific. Let me know if I'm wrong.

[2017-06-15 04:15] danmosemsft commented on #20297
This is fixed now we gave hte right capability to execute code to the runner.

[2017-06-15 04:15] #20297 closed

[2017-06-15 04:16] danmosemsft commented on #20287
Fixed - probably by remote executor work

[2017-06-15 04:17] danmosemsft commented on #20204
This is optional for UWP. Do this work last.

[2017-06-15 04:21] danmosemsft commented on #20085
@tarekgh it's setting `CultureInfo.CurrentCulture` to Turkish but perhaps that's not getting "applied". Is this a symptom of the culture behavior you were describing to me? Although if that were the case I would expect many more tests to fail.

[2017-06-15 04:22] danmosemsft commented on #20086
Fine now.

[2017-06-15 04:23] danmosemsft commented on #20077
Guessing the same cause as https://github.com/dotnet/corefx/issues/20086

[2017-06-15 04:25] danmosemsft commented on #19590
This is expected in app container, the test needs adjustment for UAP

[2017-06-15 04:26] danmosemsft commented on #18940
We need to decide whether we will do this. I will take a guess that we will not do this for ZBb.

[2017-06-15 04:28] danmosemsft commented on #20365
@AntonLapounov @AtsushiKan is getOverlappedFromnative implemented now?

[2017-06-15 04:47] davidfowl commented on #10470
Perfect! What do we look for? This new API that's going to be added?

[2017-06-15 05:03] Petermarcu commented on #10470
@weshaggard do we have an issue tracking an API to detect whether the capability to emit IL is available or not?

[2017-06-15 05:25] danmosemsft commented on #19044
@AArnott is this something you're still looking at? do you need any pointers?

[2017-06-15 05:26] danmosemsft commented on #18940
dupe https://github.com/dotnet/corefx/issues/18760

[2017-06-15 05:27] livarcocc opened #21081 "Need options for System information"
_From @vnd-edu on June 15, 2017 5:21_

## Steps to reproduce
I am migrating Asp.net web application in .net core. i am not getting any api to find system information.

## Expected  behavior
in .net application i used System.management api to run query and get the all information.

## Actual behavior
how to get system information like processor id , system installed date and time?
Please help me ou

[2017-06-15 05:27] danmosemsft commented on #18760
@tijoytom @joshfree I'm not seeing this happening before ZBB given the lack of infrastructure commitment and consensus on whether we should do it. We clearly should do at least some targeted testing, which may not be automated. LMK if you have concerns.

[2017-06-15 05:29] bazzilic commented on #21053
@svick : Am I right in understanding that `Span<>` is only available in .NET Core? Then this feature won't be portable back to the .NET Framework.

@mellinoe : Yes, the framework seems to be leaning towards the array-offset-count paradigm but I feel that this is not how it is supposed to be. We have classes that take care of array slicing, such as `Span` and `ArraySegment`; we have interfaces that

[2017-06-15 05:30] danmosemsft commented on #19871
@ViktorHofer as far as I can see this doesn't track anything specifically? we ar etracking individual issues .

[2017-06-15 05:30] #19871 closed

[2017-06-15 05:32] danmosemsft commented on #19210
@joshfree should project N resourcemanager go to @morganbr ?

[2017-06-15 05:33] danmosemsft commented on #19585
@morganbr maybe this is done already in which case @shmao or you should remove the ActiveIssue for this one and close it.

[2017-06-15 05:33] karelz commented on #21079
That looks suspicious, @joperezr can you please take a look for 2.0 into it? (or route it ASAP) Thanks!
cc @danmosemsft

[2017-06-15 05:34] danmosemsft commented on #21079
@noahfalk ?

[2017-06-15 05:37] danmosemsft commented on #19587
Still failing.

[2017-06-15 05:39] danmosemsft commented on #19588
Still failing.

[2017-06-15 05:41] danmosemsft commented on #20299
@Jiayili1 is this passing now? please close if so.

[2017-06-15 05:58] karelz commented on #21081
System.Management namespace is tracked in #14762. Closing as dupe.

We may have a few APIs in System.Runtime.RuntimeInfo and in Process, but probably not what you need.

[2017-06-15 05:58] #21081 closed

[2017-06-15 06:03] joperezr commented on #21066
Yes. I haven't checked yet why does this work in netcoreapp, but I believe this might be a bug in the test, not product code.

[2017-06-15 06:34] Jiayili1 commented on #20299
@danmosemsft This issue is still repro on build 20170615.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170615.01/workItem/System.IO.Pipes.AccessControl.Tests/analysis/xunit/System.IO.Pipes.Tests.NamedPipeTest_AclExtensions~2FGetAccessControl_ConnectedStream

[2017-06-15 06:35] dima117 commented on #18012
Mono's Posix Library now ported to .NET Core is available.
https://www.nuget.org/packages/Mono.Posix.NETStandard
It seems, now there is an opportunity to port code from the Mono project to .NET Core
https://github.com/mono/mono/tree/master/mcs/class/System/System.IO.Ports

[2017-06-15 06:40] Jiayili1 commented on #19964
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170615.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FNoCallback_RevokedCertificate_NoRevocationChecking_Succeeds

[2017-06-15 06:43] Jiayili1 commented on #21076
This is also repro on Core Tests(Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170615.01/workItem/System.Security.Cryptography.X509Certificates.Tests/analysis/xunit/System.Security.Cryptography.X509Certificates.Tests.ChainTests~2FVerifyWithRevocation

[2017-06-15 06:49] Jiayili1 commented on #20077
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170615.01/workItem/System.Collections.NonGeneric.Tests/analysis/xunit/System.Collections.Tests.CaseInsensitiveHashCodeProviderTests~2FDefault_Compare_TurkishI

[2017-06-15 07:04] darkengines commented on #20981
Ok. Thanks for the advice.

[2017-06-15 07:16] adamhathcock commented on #20558
Then we don't need it!  Can already match based on headers.

It's not about protecting, it's about guiding.  People often say they like the SharpCompress API better than others because its more explicit.  I'm definitely against combining the forward-only and random access scenarios.  The use-cases have very different ways they need to be handled and forcing the APIs together feels unnatural.  Know

[2017-06-15 07:19] tmds commented on #20628
@Priya91 is proposing to extend the PR so backslashes are preserved also for file uris that have a hostname.
e.g. `file://hostname/folder\path` would change the AbsoluteUri from `file://hostname/folder/path` to `file://hostname/folder%5Cpath`.
This seems fine. However, to convert a file uri back into a string the host system can understand (e.g. to pass to `File.Open`), one uses the `LocalPath`.
A

[2017-06-15 07:39] emgarten commented on #20990
I'm seeing the same behavior with VS 2015 and VS 2017, and likewise nuget.exe 3.5.0 and nuget.exe 4.1.0, all four fail with the same errors.

Using *Microsoft.NETCore.UniversalWindowsPlatform 5.1.0* the errors occur, but when updating to *5.2.2* they go away, this is probably what you are seeing as the difference between VS versions.

#### WampSharp's impact on the dependency graph

*WampSharp* is

[2017-06-15 07:51] v-haren commented on #21042
failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/78/testReport/System.Security.Cryptography.X509Certificates.Tests/ChainTests/VerifyWithRevocation/

[2017-06-15 07:52] v-haren commented on #21076
failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/78/testReport/System.Security.Cryptography.X509Certificates.Tests/ChainTests/VerifyWithRevocation/

[2017-06-15 07:58] v-haren commented on #19767
failed again here:https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_debug/87/consoleFull#-7738886783554902-aff0-4799-9e92-0ada24ce2a06

[2017-06-15 08:11] tmds commented on #20628
I'd not extend the PR (even not for localhost) and maintain the Unc semantics.
I don't expect there to be code that does `"file://somehost/" + Path.GetFullPath(...)` since that is treated as a Unc uri and would not work.
Where as the case handled by the PR `"file://" + Path.GetFullPath(...)` is a local file path already.

[2017-06-15 08:12] v-haren commented on #19964
failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_portablelinux_debug/79/testReport/System.Net.Http.Functional.Tests/HttpClientHandler_ServerCertificates_Test/NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds/

[2017-06-15 08:21] darkl commented on #20990
Should I downgrade WampSharp's dependencies in order to resolve the problem?

Thanks
Elad

[2017-06-15 08:24] v-haren commented on #7812
failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/75/testReport/System.Net.Http.Functional.Tests/HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test/InvalidCertificateServers_CertificateValidationDisabled_Succeeds_url____https___expired_badssl_com____/

[2017-06-15 08:26] qmfrederik commented on #20558
Some archive types are designed to be read forward-only (such as CPIO or tar archives). On the other hand, zip archives have a central directory at the end of the file, so you can have a very efficient random access API for zip archives, too.

[2017-06-15 08:32] adamhathcock commented on #20558
Trust me, I know.  I've been dealing and creating SharpCompress for almost a decade.

For random access APIs (Archive):  If there is no central directory, then you scan the file.  If the sizes of the entries are known, then you can just seek to headers and it's not a big deal.

Zip is the only format that really does have a central directory.  7Zip has funky stuff (and I hate it ) and everything e

[2017-06-15 08:47] filipw commented on #7812
does anyone know when this will be applied to Azure Web Apps?
@davidsh do you know if there is a specific Windows 10 / Windows Server 2016 build number that we could relate the presence of the fix to?

[2017-06-15 09:26] ViktorHofer commented on #21035
Eagerly waiting for todays results :)

[2017-06-15 09:30] Jiayili1 commented on #21035
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170615.01/workItem/System.Runtime.Serialization.Formatters.Tests/wilogs

[2017-06-15 10:23] hughbe commented on #21079
This issue gets even weirder. I only occurs in Debug mode on Windows, not Release

[2017-06-15 11:25] darkl commented on #20990
Or maybe the right solution is to add a dependency for Microsoft.NETCore.UniversalWindowsPlatform version 5.2.2, as this is the version WampSharp is targeted to?

Elad

[2017-06-15 12:57] SamuelEnglard commented on #574
Please put a link to the CoreFxLab pull request here?

[2017-06-15 13:25] stephentoub commented on #21079
cc: @mikem8361

[2017-06-15 13:56] dopare commented on #21030
So `TransactionScope` is in .NET Core for just compiling, isn't it ?

[2017-06-15 14:16] davidsh commented on #7812
@davidsh do you know if there is a specific Windows 10 / Windows Server 2016 build number that we could relate the presence of the fix to?

In terms of which Windows 10 / Windows Server 2016 build numbers have the fix:

This was fixed in 10.0.14393.  That means it is fixed in Windows Server 2016 since the RTM release of that server SKU was build 14393.  For Windows 10, it means "Windows 10 Creator

[2017-06-15 14:19] davidsh commented on #21075
Fixed by #21077.

[2017-06-15 14:19] #21075 closed

[2017-06-15 14:25] stephentoub commented on #20626
Yes.  Left a few comments on the PR, but generally it looks good.

[2017-06-15 14:30] filipw commented on #7812
@davidsh thanks David, much appreciated! 👍

[2017-06-15 15:07] hughbe opened #21088 "Utils.AddObject for incompatible types throws ArgumentNullException for missing string resource"
Example test code fails with ArgumentNullException in .NET Core. Neftx throws InvalidCastException:
[code]

Stack trace:
[code]

[2017-06-15 15:10] bartonjs commented on #21076
Since pretty much everything failed it seems rather likely that the CRL Distribution Point was offline.

Since this test is being too noisy it's time to nerf it.

I wish that I could throw a TestSkippedException so it wouldn't show as success, but last I checked xunit didn't support anything like that.

[2017-06-15 15:11] mmitche commented on #19767
@v-haren We committed the retry logic just after this failure.  Let me know if you see it again.

[2017-06-15 15:21] gkhanna79 commented on #20303
@kouvel  should be able to help look into this for UWP scenarios. @joshfree @danmosemsft What are the steps to repro these failures tha @kouvel can use?

[2017-06-15 15:38] tarekgh commented on #19587
@danmosemsft why you expected this should start to succeed without any change?

[2017-06-15 15:45] danmosemsft commented on #19587
@tarekgh I didn't, I just am checking for ones that aren't failing any more, and I marked this so I know i checked.

[2017-06-15 15:48] ViktorHofer commented on #21035
cc @danmosemsft

[2017-06-15 15:48] danmosemsft commented on #21088
I think this is a bug... :)

[2017-06-15 15:49] danmosemsft commented on #21078
Does Ctrl-Break work? Usually that's not ignorable, wheras Ctrl-C relies on the app handling it.

[2017-06-15 15:50] danmosemsft commented on #21076
@bartonjs could you please throw up a PR to do that? You could change it to a manual test I see ther are some
[code]

[2017-06-15 15:52] danmosemsft commented on #18293
@joperezr could you please do this and then remove the pinvoke baselining for it?

[2017-06-15 15:59] weshaggard commented on #10470
No and there aren't currently any plans to do that as @jkotas called out there isn't a great way to answer that question. The API to look for would be whatever API we add for this issue.

[2017-06-15 16:00] davidfowl commented on #10470
@VSadov can we take this to the next level?

[2017-06-15 16:05] joperezr commented on #18293
sure, will take care of it.

[2017-06-15 16:06] ThatsCloseEnough commented on #16337
@danmosemsft  I'd be willing to write some unit tests, however what is the convention on testing internal classes?
For example i would like to test BigIntegerStorage which is a internal class. Normally i would add internalsvisible to the other project, is this allowed?

[2017-06-15 16:06] tarekgh commented on #20690
closing the issue here as I moved it to https://github.com/Microsoft/referencesource/issues/28

[2017-06-15 16:06] #20690 closed

[2017-06-15 16:15] tarekgh commented on #20835
This should be fixed as soon as we get the new coreclr package to corefx. closing it from now to just see how likely we can hit same failure before getting the fix here.

[2017-06-15 16:15] #20835 closed

[2017-06-15 16:20] danmosemsft commented on #20303
@kouvel I think it's just
[code]

[2017-06-15 16:22] danmosemsft commented on #16337
@ThatsCloseEnough we try to avoid it. Generally our public API is a reasonable unit testing surface. There are a few instances of it. Can you test via the public API?

[2017-06-15 16:23] davidsh commented on #20626
In terms of the proposed System.Uri changes, as long as they are scoped to just *NIx based parsing changees for filepaths, then the risk is low.  The RFCs for Uri are not very crisp on file-based paths in general, even for Windows.

[2017-06-15 16:36] tijoytom commented on #18760
@joshfree @danmosemsft I am not too worried about testing in app-container , we have app-compact runs . Once the CoreFX automatic ingestion to DotNet Native comes oneline , we can enable Top 50 app run as part of validation and it should cover the app-container part.

[2017-06-15 16:36] lajones commented on #20858
@Jiayili1 All new issues please. We triage the issues weekly and we look for new issues by looking for those with no milestone.

[2017-06-15 16:42] #16692 closed

[2017-06-15 16:43] lajones commented on #20858
Note: see also comments re `resx` vs `resw` in #6830.

[2017-06-15 16:44] lajones commented on #20859
Note: see also comments re `resx` vs `resw` in #6830.

[2017-06-15 16:48] shmao commented on #20478
@morganbr can you please help re-assign the issue? The root cause of the test failures is that reflection is blocked on System types.

[2017-06-15 16:52] shmao commented on #19585
@danmosemsft this is not done yet. [`System.Exception`](https://github.com/dotnet/corert/blob/master/src/Runtime.Base/src/System/Exception.cs) is still not marked with `[Serializable]`.

[2017-06-15 17:00] shmao opened #21091 "Serialization Tests for Exceptions Failed on Uapaot"
Serialization tests for exceptions failed on uapaot due to #19585. This issue is for serialization team to track the issue..

[2017-06-15 17:02] shmao opened #21092 "Serialization Tests for System Types are Skipped on Uapaot"
Serialization tests for System types  failed on uapaot due to https://github.com/dotnet/corefx/issues/20478. This issue is for serialization team to track the issue..

[2017-06-15 17:05] tarekgh opened #21093 "Port async-aware CultureInfo property from CoreCLR."
@AtsushiKan commented on [Wed May 31 2017](https://github.com/dotnet/corert/issues/3747)

The following two tests are ActiveIssued onthis:

System.Globalization.Tests
-method  System.Globalization.Tests.CultureInfoAsync.TestCurrentCulturesAsync
-method System.Globalization.Tests.CultureInfoAsync.TestCurrentCulturesWithAwait

---

@AtsushiKan commented on [Thu Jun 15 2017](https://github.com/dotnet

[2017-06-15 17:09] AtsushiKan commented on #21093
No, this is specific to AOT (i.e. the corert CoreLib, not the CoreCLR CoreLib.) The tests for AOT are still running as normal console exe's (not AppX) so the failure is general. (And at the time I opened this issue, it was clear that CoreCLR had implemented async-friendly CultureInfo and the feature hadn't been merged into the CoreRT counterpart. So I assume this is a genuine WIP.)

The same test

[2017-06-15 17:18] tarekgh commented on #21093
ok, I'll close it again and activate the TFS

[2017-06-15 17:18] #21093 closed

[2017-06-15 17:22] joperezr commented on #15339
mm I'm not sure what's left here, shouldn't it be done already? (done as in we are checking pinvoke on all assemblies and have baselined the errors.)

[2017-06-15 17:23] shmao commented on #19585
@danmosemsft I thought the Exception used by UWP is from corert, not coreclr, no?

[2017-06-15 17:27] danmosemsft commented on #19110
Likely have to use Environment variables - they cover all the major ones: documents, appdata, etc.

[2017-06-15 17:33] ericstj commented on #15339
All those baselines become noise and it makes it so no-one pays attention to the failures.  We can determine the right place to run based on other data that's already available: consider that we already know when something is actually part of UAP based on the binplacing logic.

[2017-06-15 17:44] Priya91 commented on #20628
Just thinking about it holistically, I would expect the backslashes to not be converted to forwardslashes in unix file uri's path component, since the backslash is a valid char for filenames on Unix, contrary to Windows. And since UNC is a windows concept, I wouldn't put a lot of weight for using that reason to justify not fixing the bug for cases where the file uri's localpath will output an UNC

[2017-06-15 17:47] caesar1995 commented on #21057
I will work on completing the rd.xml

[2017-06-15 17:49] joshfree commented on #20353
@brianrob another ETW issue

[2017-06-15 17:56] joshfree commented on #20351
@tarekgh @danmosemsft is this the same remoteexecuter issue you were working on?

[2017-06-15 17:57] tarekgh commented on #18052
@joperezr as this is System.Runtime, I have un-assigned myself and assigned it to you. please let me know if I should look at this one

[2017-06-15 17:58] danmosemsft commented on #18293
To be explicit: we need to replace all use of RtlNtStatusToDosError in the tree not just for lsalogonuser.

[2017-06-15 18:01] tijoytom commented on #13121
@sepidehMS
Which  external path is it trying to resolve? is this something that we can avoid?

[2017-06-15 18:02] norek commented on #20711
In PrinterUnitConvert.cs -> method UnitsPerDisplay is this line of code:
[code]
I know that for backward compatibility it shouldn't be converted to Exception but i think we can just remove this Debug.Fail. Otherwise we cannot test this block. What do you think?

[2017-06-15 18:02] tijoytom commented on #18654
@MattGal Is this an infrastructure issue?

[2017-06-15 18:04] tijoytom commented on #18220
@joperezr If we can figure out the reson why it's hanging we can get it to the right owner. Not clear if it's infrastructure or a real framework issue

[2017-06-15 18:07] daxian-dbw opened #21095 "[.NET Core 2.0.0-preview2-25407-01][Regression] ResourceManager.GetString(string) throw System.IO.FileNotFoundException"
Summary
----------

PowerShell Core recently moved to .NET Core `2.0.0-preview2-25407-01` with .NET Core SDK `2.0.0-preview2-006388`. Then we found a regression in this .NET Core version -- the call to `ResourceManager.GetString(string)`, which worked fine on .NET Core `2.0.0-preview1-002106-00`, starts to throw `System.IO.FileNotFoundException`.

Impact
--------
This is a blocking issue for us. I

[2017-06-15 18:09] tijoytom commented on #17933
@Jiayili1 Can please break this down to multiple issues , now it says the exception is from different test execution. Right now i am not sure if this comes from Serialization test or not?

[2017-06-15 18:09] emgarten commented on #20990
I wouldn't expect WampSharp to change here.

[2017-06-15 18:11] tijoytom commented on #16769
This is fixed "VSO 392708"

[2017-06-15 18:11] #16769 closed

[2017-06-15 18:11] shmao commented on #20480
This is fixed.

[2017-06-15 18:11] #20480 closed

[2017-06-15 18:11] iricigor opened #21096 "Windows TrimEndChars not aligned with NTFS"
In `corefx/src/System.IO.FileSystem/src/System/IO/PathHelpers.Windows.cs` we have definition

`internal static readonly char[] TrimEndChars = { (char)0x9, (char)0xA, (char)0xB, (char)0xC, (char)0xD, (char)0x20, (char)0x85, (char)0xA0 };`

This is not fully aligned with underlying file system. For example 0xA0 is allowed as end char on NTFS. This can cause problems, as described [here](https://gith

[2017-06-15 18:12] tijoytom commented on #17480
@MichalStrehovsky is this fixed? If not , can we open a TFS issue and clsoe this one?

[2017-06-15 18:12] joshfree commented on #19639
@tarekgh @danmosemsft RemoteExecutorTestBase

[2017-06-15 18:14] shmao opened #21097 "Area-Serialization Sprint 120"
The issue is for tracking issues to be done in sprint 120 (due by 7/6/2017)

[2017-06-15 18:14] tijoytom commented on #17450
@joperezr Do we know why it do Debug.Assert , if we can find that the right person can be engaged.

[2017-06-15 18:16] tijoytom commented on #17922
@danmosemsft Are we interested in System.Console test for UWP ? Can it be moved to post ZBB ?

[2017-06-15 18:19] tijoytom commented on #17924
Post ZBB?

[2017-06-15 18:29] danmosemsft commented on #18760
Let's leave this one unassigned as it's not planned. I'll move to Future.

[2017-06-15 18:29] AntonLapounov commented on #18058
Fixed in ProjectN 25407 build.

[2017-06-15 18:32] MichalStrehovsky commented on #17480
I fixed it at the BCL side, runtime side, and CoreRT compiler side. NUTC/binder would be @davidwrighton area.

[2017-06-15 18:33] tarekgh commented on #17921
assigning to @safern as the owner of ComponentModel

[2017-06-15 18:34] JeremyKuhne commented on #20204
There isn't a way to get the process for what we just launched, so this will be a little weird to implement / test. We should only attempt to use this API if UseShellExecute was requested.

https://docs.microsoft.com/en-us/uwp/api/windows.system.launcher

[2017-06-15 18:35] ViktorHofer commented on #20888
I will look into it after I've finished my work today

[2017-06-15 18:35] tarekgh commented on #17932
This should be fixed now.

[2017-06-15 18:35] #17932 closed

[2017-06-15 18:40] JeremyKuhne commented on #20388
@danmosemsft  This test was already OuterLoop

[2017-06-15 18:41] danmosemsft commented on #20388
Ah you're right.

[2017-06-15 18:41] tarekgh commented on #20351
@joperezr let me now if the issue is related to remote execution so I can take this issue back

[2017-06-15 18:42] danmosemsft commented on #17922
For RS3, we will have console support only for console handles (interprocess communication). Nothing to do with the "cmd.exe black box". This test needs to be disabled for UAP.

[2017-06-15 18:46] MattGal commented on #18654
I'm not sure why we're just now looking @ failures from 5/2, but from reading [the log](http://dotnetjobresults.blob.core.windows.net/build-7642540f01df4859a4f9644c853e2b43/Windows.10.Amd64/System.IO.Ports.Tests/output.log?sv=2014-02-14&ss=2017-06-15T18%3A42%3A16Z&se=2018-03-31T18%3A42%3A08Z&sp=r&sr=b&sig=I2d8hYRVUz4i2X6uk7LAkPsQUSmMT%2BFobdkNUFesZco%3D), this just looks like an activation issue (

[2017-06-15 18:48] danmosemsft commented on #18654
@safern is this issue still relevant?

[2017-06-15 18:49] MattGal commented on #18654
Well it timed out today, definitely worth figuring that out unless we're going to not run the test in UAP F5 any more.

[2017-06-15 18:51] danmosemsft commented on #17924
We care about redirection. Some of these tests likely need to work.

[2017-06-15 18:53] danmosemsft commented on #20204
I agree

[2017-06-15 18:57] morganbr commented on #20478
@shmao , are they reflection blocked (reflection appears to work, but returns fake answers) or just not given metadata? I wouldn't expect those to be blocked. If they're just missing metadata, your test needs an rd.xml file.