[2019-07-15 16:30] #38911 closed

[2019-07-15 16:46] pranavkm opened #39483 "Add an API to perform streaming transcoding"
System.Text.Json specifically supports UTF8 inputs and outputs. MVC needs to support arbitrary user configured encoding schemes. To support this in a performant way, MVC has transcoding `Stream` implementations that minimally buffer inputs and outputs to the serializer.

Most of the work in these implementations is to perform state management when calling `Utf8.FromUtf16` \ `Encoders` * `Decoders`

[2019-07-15 16:46] pranavkm commented on #39483
/cc @GrabYourPitchforks

[2019-07-15 16:47] theimowski opened #39484 ".Net Core 3 preview 6 PublishTrimmed errors when using Microsoft.Management.Infrastructure package"
[code]

1. `dotnet new console`
2. `dotnet add package Microsoft.Management.Infrastructure --version 1.0.0`
3. `dotnet publish --framework netcoreapp3.0 --runtime win10-x64 /p:PublishTrimmed=true`

Errors with Microsoft.NET.ILLink.targets(87,5): error MSB6006: "dotnet" exited with code 134.

[code]

[2019-07-15 16:49] stephentoub commented on #29779
This issue seems to imply that test is disabled, but it's not, and it's failing across Unix in CI:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39471~2Fmerge/test~2Ffunctional~2Fcli~2Fouterloop~2F/20190715.3/workItem/System.Security.Cryptography.X509Certificates.Tests/analysis/xunit/System.Security.Cryptography.X509Certificates.Tests.CertTests~2FTestVerify
![image](htt

[2019-07-15 16:54] davidsh commented on #37997
@wfurt @tmds @stephentoub Can one of you please submit a PR with proposed fixes for this (i.e. different enum values, etc.)?  We'd like something concrete to discuss with shiproom.

[2019-07-15 16:55] scalablecory opened #39486 "HTTP2: Race to abort"
Here we call `AbortStreams` with an exception that may not be the one captured in `_abortException`.

https://github.com/dotnet/corefx/blob/bbbcac59ac07f344ce4e257ef182a90c429d2b58/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs#L1275-L1282

[2019-07-15 17:08] danrozenberg commented on #20296
For what it is worth, I also find `TaskCanceledException` being thrown on timeouts to be confusing.

[2019-07-15 17:08] bartonjs commented on #29779
@stephentoub It's disabled for macOS only.

The debian 9 failure, at least, is that after succeeding on the leaf cert and the intermediate it failed the root:

X509Certificate2.Verify error: MicrosoftDotComRootBytes, RevocationStatusUnknown, unable to get certificate CRL

Either Windows didn't have trouble getting it, or we're wrong on Linux for checking for the root CRL under ExcludeRoot when the

[2019-07-15 17:11] stephentoub commented on #29779
Thanks.  Disabling it in https://github.com/dotnet/corefx/pull/39488.

[2019-07-15 17:12] #39470 closed

[2019-07-15 17:12] #39420 closed

[2019-07-15 17:12] #39427 closed

[2019-07-15 17:14] stephentoub commented on #38834
This continues to fail on Fedora, e.g.
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39471~2Fmerge/test~2Ffunctional~2Fcli~2Fouterloop~2F/20190715.3/workItem/System.IO.Pipes.Tests/wilogs

I'm going to disable it to remove the noise, but we should figure out what's going on here.  It's concerning that we should be deeming something unauthorized and aren't.

[2019-07-15 17:16] #39139 closed

[2019-07-15 17:23] wtgodbe opened #39489 "[5.0] Versioning in the 5.0 universe"
With CoreFx moving to 5.0 branding, we have an opportunity to unify our various versioning schemes. Meaning that `ProductVersion`, `FileVersion`, `AssemblyVersion`, and `PackageVersion`s can likely all be bumped to something in the `5` band. We should come up with a plan for what this will look like so we can get into a good state before we start shipping packages to customers.

CC @ericstj @lecul

[2019-07-15 17:26] krwq commented on #39486
I'm wondering if we should call it at all - presumably we've already called it if _abortException is not null

[2019-07-15 17:29] davidfowl commented on #38911
Any sever side issues pop up?

[2019-07-15 17:30] stephentoub commented on #38911
Hard to say: the "read already in progress" failure happens frequently and could be hiding other issues.

[2019-07-15 17:31] davidsh commented on #39486
@geoffkizer @stephentoub

[2019-07-15 17:31] krwq commented on #39464
@chenxuuu interesting, I'd expect disposing and re-creating it to solve this. Are you sure you didn't skip `port = new SerialPort();` after Dispose when you've tried it 2 weeks ago? Could you also try Disposing `port.BaseStream` before disposing `port` and see if that makes any difference?

[2019-07-15 17:36] NiklasANCO commented on #39475
The server is publicly available, Certificate should be trusted (DigiCert) also installed the root certifcate on the Raspberry PI, Even if it was not trusted i would expect it to throw some sort of exception instead of just never returning from the call to AuthenticateAsClient.

I developed and tested the application on Win10, but no success on the pi, after adding Console.WriteLine statements all

[2019-07-15 17:37] #39175 closed

[2019-07-15 17:54] watfordgnf commented on #39434
I've been away from OS X programming for some time (and my MBP is too old to run .NET Core), but would `proc_bsdinfo.pbi_start_tvsec` be a good start? `Interop.libproc.GetProcessInfoById` already has a call which retrieves it within `proc_taskallinfo.pbsd`. https://github.com/dotnet/corefx/blob/f7539b726c4bc2385b7f49e5751c1cff2f2c7368/src/Common/src/Interop/OSX/Interop.libproc.cs#L310-L323

Untest

[2019-07-15 18:09] NickCraver commented on #39473
I'm trying to unwrap all that (thanks for the workaround!) - is that saying we'd never consider adding it to the base serializer and it'd only ever live as an extension point? I'm finding the lack of this to be a very common pain point, so I'm wondering what the bar is for inclusion if so.

[2019-07-15 18:18] bartonjs commented on #39473
@NickCraver I think it's just "there's a whole lot of policy here, and we would need to completely spec it out, and we're trying to be feature complete 30 days ago... so this isn't required for v1 (.NET Core 3.0)"

* Is there an option to say if deserializing should be strict vs coercive? (Personally, I hate coercive APIs, so I would always want it in "this data better conform to schema" mode)
* I

[2019-07-15 18:20] davidsh commented on #39475
@krwq Can you help with this one?

[2019-07-15 18:22] NickCraver commented on #39473
Totally understand, I was mostly curious about where the bar is and if moving to this was a good from a future standpoint (or we shouldn't try to move certain code sections to it). That list helps a lot - I agree this can't be just tossed in.

Thanks for the quick reply!

[2019-07-15 18:25] GrabYourPitchforks commented on #39410
@GSPP Saying that you want to persist raw JSON to a database makes me want to fast-track the work to escape best-fit mapping characters like `″ (U+2033)`. :)

[2019-07-15 18:30] stephentoub commented on #39081
Continues to take out outerloop runs, e.g.
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39474~2Fmerge/test~2Ffunctional~2Fcli~2Fouterloop~2F/20190715.4/workItem/System.Text.Json.Tests/wilogs
[code]

[2019-07-15 18:32] stephentoub opened #39492 "SendToRecvFromAsync_Datagram_UDP_UdpClient failed in CI"
[code]
cc: @wfurt

[2019-07-15 18:33] joperezr commented on #39374
@stephentoub do you plan on re-enabling today, or do you want me to take care of it?

[2019-07-15 18:34] stephentoub commented on #39374
I was hoping @andy-ms would as part of validating his fix.

[2019-07-15 18:37] krwq commented on #39410
@GrabYourPitchforks is there also a plan to let user customize it (i.e. make some stuff virtual to allow override; not necessarily right now but we should think about what will happen in the future when designing API)?

[2019-07-15 18:37] davidsh commented on #39492
Is this failure from a regular Win10 or UWP run?  It's hard to tell from this issue without the original CI link.

[2019-07-15 18:41] stephentoub commented on #39492
Forgot to paste the link:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39474~2Fmerge/test~2Ffunctional~2Fcli~2Fouterloop~2F//workItem/System.Net.Sockets.Tests

Looks like UWP:
[code]

[2019-07-15 18:49] krwq commented on #39475
@davidsh yes, will see what I can do.

@NiklasANCO does the same happen when you create the other endpoint with .NET?

could you try instead using:

`AuthenticateAsClientAsync` + `SslClientAuthenticationOptions.RemoteCertificateValidationCallback`?

I'll see if I can repro on my box once I'm done with the other issue.

[2019-07-15 18:52] #36538 closed

[2019-07-15 18:57] henkesteen commented on #37815
Hello everyone!

I did a fresh reinstall of Solus a couple of days ago, install VSCode and Live Share, it still didn't work....

After installing the Solus system development tools, it worked.
`sudo eopkg it -c system.devel`

@Arno500 can you please try that and confirm, as I'm not 100% sure that it is the solution.

[2019-07-15 18:58] steveharter commented on #39373
This is a duplicate of #38668

This was fixed in https://github.com/dotnet/corefx/pull/38935

[2019-07-15 18:58] #39373 closed

[2019-07-15 19:01] steveharter commented on #39081
We need to get a dump or call stack on the next hit.

[2019-07-15 19:02] stephentoub commented on #39081
This one just occurred... do we have a dump from it?

If not, what are we going to do differently to enable getting a dump from the next one?

[2019-07-15 19:15] dh1dm commented on #38426
Ok, that's true, thanks for info.

[2019-07-15 19:23] stephentoub opened #39497 ""GroupsTurkish" RegEx test failing sporadically in CI"
This test has been failing sporadically in CI, e.g.
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39491~2Fmerge/test~2Ffunctional~2Fcli~2F~2F/20190715.42/workItem/System.Text.RegularExpressions.Tests/analysis/xunit/System.Text.RegularExpressions.Tests.RegexGroupTests~2FGroupsTurkish
[code]
cc: @ViktorHofer

[2019-07-15 19:36] johnduhart commented on #39431
I opened a PR which fixes the symptoms of this specific issue, but it's probably worth considering if the [type check in EventSource](https://github.com/dotnet/corefx/blob/34765c5934c4b2f45853d323f4c87617cd2f3158/src/Common/src/CoreLib/System/Diagnostics/Tracing/EventSource.cs#L2070) should be loosened to support interfaces.

[2019-07-15 19:39] JeremyKuhne commented on #36124
Failed again on Windows [here](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39468~2Fmerge/test~2Ffunctional~2Fcli~2F~2F/20190715.39/workItem/System.Security.Cryptography.X509Certificates.Tests/analysis/xunit/System.Security.Cryptography.X509Certificates.Tests.DynamicChainTests~2FBuildInvalidSignatureTwice(endEntityErrors:%20NoError,%20intermediateErrors:%20NotSignature

[2019-07-15 19:40] carlossanlop commented on #38834
I ran the unit test multiple times in a loop inside a Fedora Docker container, and it didn't fail.
I'm reading through the code to understand what could be causing the intermittent failure.

[2019-07-15 19:42] #39307 closed

[2019-07-15 19:42] #39248 closed

[2019-07-15 19:49] wfurt commented on #35652
I think we have plenty tests for (a). This is area actively worked on and #39019 will bring over more old tests.

(b) should be covered by SendAsync_ConcurentSendReceive_Fail.

(c) had weakest coverage with partial coverage.    #39471 add more fixes and tests in this area. I'm not sure if we need more, but we can clone or update Http2_PendingSend_SendsReset() to Dispose stream instead of canceling

[2019-07-15 19:53] ericstj commented on #39290
This appears to be a bug in System.Drawing.Common.  https://github.com/dotnet/corefx/blob/ace61287bee166a3777f5b3832295902a58ca79a/src/System.Drawing.Common/src/System/Drawing/Graphics.Unix.cs#L760

Under GC stress a GC can happen while this method is executing and collect the Graphics object, disposing NativeGraphics.  I believe this requires a HandleRef on the NativeGraphics like is used elsewhe

[2019-07-15 19:57] ahsonkhan opened #39500 "Add more tests that write various large sizes of JSON using JsonSerializer.Serialize(Async)"
From https://github.com/dotnet/corefx/pull/39417#issuecomment-510919567

We should add more tests to verify that serializing (outputting) large JSON works as expected. It would be good to add test sizes around 4, 8, 12, 16k (particularly 12/16k as they are currently special sizes for SerializeAsync), and also some larger payloads above 85k. It would also be good to add tests where depth changes at

[2019-07-15 19:58] layomia commented on #39065
@ADIX7 I just tried your sample with the lastest build of corefx. https://github.com/dotnet/core-sdk#installers-and-binaries. It works as expected: the dictionary has null values where expected.
Support for this was added in https://github.com/dotnet/corefx/issues/39065.

I'm closing this - please fill free to re-open if you still have any issues.

[2019-07-15 19:58] #39065 closed

[2019-07-15 20:06] GrabYourPitchforks commented on #39410
@krwq There are already virtual methods on the `TextEncoder` and `JavaScriptEncoder` types that allow full customization. That's how our unit tests work today.

The API as introduced in 1.0 was not really intended for people to subclass easily given the API surface as it exists today. I wanted to introduce the break in the 3.0 timeframe (see https://github.com/dotnet/corefx/issues/33509) to make i

[2019-07-15 20:07] wfurt commented on #35652
I think we have enough coverage as well as some active work in this area. If found more missing parts, we should open more specific issue.

cc: @stephentoub

[2019-07-15 20:07] #35652 closed

[2019-07-15 20:08] devhl-labs opened #39502 "System.Text.Json Issue with System.Reflection.Emit.Lightweight"
When trying to use System.Text.Json v4.6.0-preview8.19365.3 I get the following error:

Could not load file or assembly 'Systrem.Reflection.Emit.Lightweight, Version=4.1.0.0

I don't see that version number in nuget.  What can I do to get the latest Text.Json working?

[2019-07-15 20:09] bartonjs commented on #36124
@JeremyKuhne Your callstack is #37994, not this.

[2019-07-15 20:09] #36124 closed

[2019-07-15 20:14] steveharter commented on #39445
Unless I hear otherwise, @GrabYourPitchforks I assume you will perform the implementation including modifying System.Text.Json. cc @ericstj

[2019-07-15 20:15] steveharter commented on #39445
cc @ahsonkhan

[2019-07-15 20:17] #39467 closed

[2019-07-15 20:19] stephentoub commented on #38559
3.0 part was completed.  Moving to Future.

[2019-07-15 20:31] GrabYourPitchforks commented on #39445
@steveharter Yes, this work is already in-progress at https://github.com/dotnet/corefx/pull/39494. Could use your eyes on it if you can spare some time. :)

[2019-07-15 20:34] David-Engel commented on #37692
@divega It appears that SqlStringTest was deleted by @stephentoub in October of 2016:
https://github.com/dotnet/corefx/commit/7888677b3c53596085c2fa53860d9a0519eeecfd#diff-f95f8aafcd3cd8a0d21dae095f440501

[2019-07-15 20:36] stephentoub commented on #37692
@David-Engel, that PR added it, copying it from Mono; it didn't delete it.  SqlStringTest is still in the repo:
https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/tests/System/Data/SqlTypes/SqlStringTest.cs

[2019-07-15 20:58] JennyLawrance opened #39505 "SystemNative_ForkAndExecProcess can potentially hang forever"
We are seeing an issue in our environment where the code to Process.Start never returns back.
Reviewing the code in this function: SystemNative_ForkAndExecProcess, the waitpid in case of failure can also be called after the child process has called into execve. If the child process then gets stuck due to some reason (let's say a kernel bug), then the parent process also gets stuck, as per the wait

[2019-07-15 20:59] ericstj commented on #39439
We've done a few of these recently.  System.Numerics.Tensors, Microsoft.IO.Redist, Microsoft.Diagnostics.Tracing.EventSource.Redist.  I'm not aware of any issues that fell out of one-off releases of these but others can chime in if they think this is a bad idea.

[2019-07-15 21:10] LaterStart commented on #13532
I want to vote up for this feature at least for databases on single SQL server instance.

I have case where I would like to enclose two different database commits into single system transaction. For example I have two records which are related and may depend on each other while being in separated databases. (Sort of micro-service architecture).

[2019-07-15 21:12] jkotas commented on #39439
None of these are duplicating the inbox APIs with the same identity. They have independent identity and just happens to be sharing some sources with .NET Core.

I am talking about System.ValueTuple and similar packages we have done in the past.

[2019-07-15 21:17] #39486 closed

[2019-07-15 21:21] stephentoub commented on #39505
Is the issue in your environment due to a kernel bug?

[2019-07-15 21:24] stephentoub commented on #39484
cc: @sbomer

[2019-07-15 21:45] JennyLawrance commented on #39505
The trigger is a kernel bug in CIFS. When we were in Mono, we didn't see the case where the thread which launches the process to get stuck. In .NET core, the thread which launches the process gets stuck completely. [Again, we don't have call stacks to prove this 100% yet, but looking at all the traces we have so far, that is our best guess]. We are waiting more repro cases to get more data.  What

[2019-07-15 21:46] ericstj commented on #39439
In this case we aren't shipping the same identity, these are different assembly identities, does that mitigate your concern?  Are you worried we'll need to change this API before we ship it?

[2019-07-15 21:47] stephentoub commented on #39505
cc: @tmds

[2019-07-15 21:49] David-Engel commented on #37692
@stephentoub No wonder I couldn't find it. I was looking for it in System.Data.SqlClient. I haven't heard anything about it failing but we don't run the System.Data.Common tests regularly.

[2019-07-15 22:00] #39374 closed

[2019-07-15 22:02] stephentoub commented on #39389
Failed again here:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39504~2Fmerge/test~2Ffunctional~2Fcli~2F~2F/20190715.58/workItem/System.Diagnostics.EventLog.Tests/analysis/xunit/System.Diagnostics.Tests.EventLogTests~2FGetEventLogEntriesTest

[2019-07-15 22:07] jkotas commented on #39439
`Microsoft.Bcl.AsyncInterfaces` & `Microsoft.Bcl.HashCode` packages contain netcoreapp3.0 / netstandard2.1 assets. If we mark them stable before netcoreapp3.0 / netstandard2.1 is marked stable, we would end up with stable part depending on not yet stable part.

[2019-07-15 22:21] Anipik opened #39509 "HttpStress app generating query strings explicitly rejected by Kestrel default limits"
[code]

All the inputs are valid uris as otherwise the system throws uri is too long exception.

[code]

Another exception thrown was
[code]

On http1.1 sometimes the assertion fails  but it never throws a httpException. The returned value in these cases is an empty string

[code]

cc @stephentoub

[2019-07-15 22:26] ericstj commented on #39439
Not literally depending on it in a way that would break anything, but yes they would depend on the location and surface area that we eventually ship.  That would prevent us from moving the types or changing the API.  My understanding is that @terrajobst was agreeing not to do that.

[2019-07-15 22:27] Anipik commented on #39509
Input command ```dotnet run -n 10 -maxContentLength 7000 -http 2.0 -ops 3 -numParameters 1```

Another Different exception being thrown
[code]

[2019-07-15 22:33] Anipik commented on #39509
I am not sure if there is any length constraint on the size of the get query parameter but the test starts failing on 2.0 after 8100 characters and starts returning an empty string on 1.1

[2019-07-15 22:38] Anipik commented on #39509
Another case of ```Destination is too short```

[code]

[2019-07-15 22:43] Anipik commented on #39509
Another different exception ```dotnet run -n 10 -maxContentLength 400 -http 2.0 -ops 3 -numParameters 100```

[code]

General excpetion thrown is this
[code]

[2019-07-15 22:48] eiriktsarpalis commented on #38911
I just came across this error:
[code]

Also lots of manifestations of error 9.

[2019-07-15 22:50] Anipik opened #39511 "HTTP2: Exceptions being thrown while posting multiform Data"
[code]

[code]
cc @stephentoub @danmosemsft

[2019-07-15 23:00] Anipik opened #39512 "HTTP2: 'FRAME_SIZE_ERROR' being thrown with content with more multi parts or the server just getting hang"
Command
[code]

The server or the client just hangs after sending first set of requests
[code]
whereas in 1.1

[code]

The following exception also gets thrown sometimes in 2.0
[code]

cc @stephentoub @danmosemsft

[2019-07-15 23:02] cheenamalhotra commented on #37692
As commented above by @Wraith2 , the issue is not happening anymore.
Also confirmed with @David-Engel the issue can now be closed.

[2019-07-15 23:02] #37692 closed

[2019-07-15 23:03] Anipik commented on #39512
Another exception getting thrown
Command dotnet run -n 10 -maxContentLength 4000 -http 2.0 -ops 7 -numParameters 200

[code]

[2019-07-15 23:06] Anipik commented on #39512
Another Different exception
[code]

[2019-07-15 23:10] stephentoub commented on #39509
@anipik, the HttpStress app runs with whatever SDK you have installed, not what's in the repo, and the output shows you're running with 3.0.0-preview7-27902-19.  That's not particularly recent.  Can you please uninstall your SDK and install a new one from https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-win-x64.exe.  At least some of the call stacks you're sharing look l

[2019-07-15 23:10] jkotalik commented on #38911
error 9 should be address by either https://github.com/aspnet/AspNetCore/pull/12204 or https://github.com/dotnet/corefx/pull/39228 (whatever is merged first).

[2019-07-15 23:10] GrabYourPitchforks commented on #39483
For context, I spoke with Pranav about this a few days ago. The Framework currently has a static method `System.Text.Encoding.Convert` that can perform `byte[] <-> byte[]` transcoding, but it's a one-shot method that maintains no internal state. It assumes that the input is complete and self-consistent, which means that it can't be used in scenarios like ASP.NET's where they're reading over a `Str

[2019-07-15 23:12] Marusyk commented on #39308
What about this code
https://github.com/dotnet/corefx/blob/b75421a0035bf3a44e1f68447255470d57074dbb/src/Microsoft.Win32.SystemEvents/src/Microsoft/Win32/SystemEvents.cs#L41-L44

Should I add lock for that?

[2019-07-15 23:17] Anipik commented on #39509
I updated the sdk and the call stack changed to

[code]

[code]

[2019-07-15 23:19] stephentoub commented on #39509
Have you tried adding -aspnetlog to see if these failures end up being correlated with failures on the server side?  If the server is abruptly closing a connection due to some exception it hits, that's not something we can do much about on the client, and we'd expect an error like this.

[2019-07-15 23:23] Marusyk opened #39514 "Are there any reasons why the System.Web.HttpUtility is sealed class?"
HttpUtility is sealed class and contains only static methods
https://github.com/dotnet/corefx/blob/b75421a0035bf3a44e1f68447255470d57074dbb/src/System.Web.HttpUtility/src/System/Web/HttpUtility.cs#L41

Can it be changed to static class?

[2019-07-15 23:24] Anipik commented on #39512
closing this issue as it no longer repros with latest sdk

[2019-07-15 23:24] #39512 closed

[2019-07-15 23:29] krwq commented on #39475
I've tried running following test on my Raspberry PI (Raspbian) and everything is working.

Server code:

[code]

Client

[code]

and both client and server seem to be working correctly and do not hang.

@NiklasANCO could you try running above on your arm32?

[2019-07-15 23:30] krwq commented on #39475
Marking as Future since I don't believe this is a product issue but will leave it open until we finish troubleshooting

[2019-07-15 23:32] #39389 closed

[2019-07-15 23:34] davidsh commented on #39475
@krwq

What happens if you remove this code from your repro:

[code]

The bug was originally behaving that way.  The use of the ServicePointManager class in the original repro was a no-op. So, I'm wondering whether we still have a product bug that results in a hang instead of getting a valid exception due to the server certificate not being trusted by the client?

[2019-07-15 23:37] AArnott opened #39515 "DefaultTraceListener should not hold lock while displaying UI"
In .NET Framework, `Debug.Fail` pops a modal assertion failure dialog box that holds a static lock object in the System.Diagnostics tracing system for the duration of the dialog's lifetime.
Because this lock is also acquired for every traced message, other threads get blocked while the modal dialog is displayed.
This can quickly devolve into deadlocks. For .NET Framework this bug was Won't Fixed b

[2019-07-15 23:43] krwq commented on #39475
@davidsh looks correct

server:

[code]

client

[code]

This line does not have any effect (still seeing error with it)

[code]

[2019-07-15 23:44] krwq commented on #39475
I was testing this with:

https://download.visualstudio.microsoft.com/download/pr/72ce4d40-9063-4a2e-a962-0bf2574f75d1/5463bb92cff4f9c76935838d1efbc757/dotnet-sdk-3.0.100-preview6-012264-linux-x64.tar.gz

[2019-07-15 23:46] cheenamalhotra commented on #37608
Hi @yyjdelete @lefig

Have you tried with **.NET Core SDK Version: 3.0.100-preview6-012264**.
This issue seems to occur with older SDKs (preview5) but not with the newer one. Maybe it was fixed with some other changes in SDK.

Please confirm so we will close the issue.

[2019-07-15 23:46] krwq commented on #39475
@NiklasANCO could you do the test I pasted above and also share:

`dotnet --info` from the machine where you run or publish (if using `dotnet run` on ARM then this dotnet, if using `dotnet publish -r linux-arm` then dotnet which was publishing)

[2019-07-15 23:55] geoffkizer commented on #39509
I'm not clear on what this test is actually doing. You say "passing long get parameters"; what does this mean? How long?

If the resulting Uri is really big -- like around 16K or more -- we may be getting into the path where we need to send a CONTINUATION frame, and possibly we have an issue here since this is rare. Or possibly ASP.NET has an issue here.

[2019-07-15 23:59] geoffkizer commented on #39509
Would be interesting to run this against IIS (or something else) to see if we can repro without ASP.NET. I'm guessing this is easy to do, assuming it's a GET with a fixed path.

[2019-07-16 00:00] #34638 closed

[2019-07-16 00:00] stephentoub commented on #39509
Example url:
[code]
This is `Var0=` followed by 8155 characters.  8154 works, 8155 results in failure.

[2019-07-16 00:01] Anipik commented on #39509
So the error gets reproduced when the uri size is greater than 8100 chars. It could be done with just one parameter or with multiple params

[2019-07-16 00:03] stephentoub commented on #39509
My guess is we're hitting this:
https://github.com/aspnet/AspNetCore/blob/7b56439ca1cbc384f1e9648f4ae983d3b39119d8/src/Servers/Kestrel/Core/src/KestrelServerLimits.cs#L21

[2019-07-16 00:05] Anipik commented on #39509
just a note https 1.1 just returns an empty string

[2019-07-16 00:07] stephentoub commented on #39509
Based on what I wrote above (that url length maps exactly to the kestrel limit I linked to), I don't think there's a client bug here.  I think it's dutifully sending what was requested, and kestrel has explicit limits set that block it.

I just spoke with @jkotalik, and he found https://github.com/aspnet/AspNetCore/blob/81b757afcc15c02fc89f35f47cc96a148b09648f/src/Servers/Kestrel/Core/src/Internal

[2019-07-16 00:10] davidsh commented on #39514
It is sealed because the type already existed in .NET Framework:
https://docs.microsoft.com/en-us/dotnet/api/system.web.httputility?view=netframework-4.8

Changing this would be an API change and could break existing app. What is the motivation for wanting to change it?

[2019-07-16 00:21] cheenamalhotra commented on #37695
Hi @stephentoub @danmosemsft

Are there any specifications available for the failing tests as mentioned by @karinazhou ?

[2019-07-16 00:25] cheenamalhotra commented on #37915
Hi @natemcmaster

Do you have a repro available by any chance or basic steps to reproduce the issue? Also does this still occur with .NET Core SDK 3.0 latest build or preview6 version?

[2019-07-16 00:26] JamesNK commented on #39410
Escaping every non-ASCII character by default won't be good for apps that deal non-latin languages. The size of their JSON will increase by many multiples.

[2019-07-16 00:33] Pilchie commented on #37915
@natemcmaster isn't around right now, but tagging @ajcvickers

[2019-07-16 00:33] danmosemsft commented on #38689
Do you happen to know whether this happened before you updated your Windows build? It may be a bug in the insiders build. Seems we are passing `PD_RETURNDEFAULT` to `PrintDlg` - I don't know the API but if that doesnt return immediately it seems beyond our control.

@JeremyKuhne

[2019-07-16 00:35] JamesNK commented on #39410
My point of view: escaping every unicode character isn't a good user experience. For non-English developers it is a very bad experience (JSON is much bigger, completely unreadable).

It sounds like something people can fix in 3.0 with their own encoder, but the library shouldn't require people do work to get a sensible default experience. It should come out of the box.

[2019-07-16 00:37] danmosemsft commented on #37695
@cheenamalhotra is there a timeout that can be increased as suggested by @Wraith2 above? Often we find test machines can get overloaded and something that might happen very quickly on our own machines ends up timing out. Perhaps 30 seconds might be better than 5?

[2019-07-16 00:38] nbarbettini commented on #26684
@karlzf Confirmed, .NET Core 2.2 still disposes the `Content` property.

For some reason the activity log above doesn't show that it was re-assigned to the 3.0 milestone, but the "Milestone" field at the top of the page shows 3.0.

[2019-07-16 00:41] davidsh commented on #26684
This fix is only in the .NET Core 3.0 branch.

[2019-07-16 00:42] stephentoub commented on #39509
Just to confirm, changing the app to set both `ko.Limits.Http2.MaxRequestHeaderFieldSize` and `ko.Limits.MaxRequestLineSize` to a much larger value makes the errors go away.  So this is a bug in the stress app rather than in HttpClient.

[2019-07-16 00:47] danmosemsft commented on #37695
Looks like this specific one is rarely failing, 4 times in 2 months:
[code]
However if there is an overly short timeout it is worth increasing it.

[2019-07-16 00:50] Anipik opened #39518 "HTTP2: Exception getting thrown when client writing speed is faster than server reading speed."
Command ```dotnet run -n 8 -maxContentLength 100 -http 2.0 -ops 8 -clientMaxBufferSize 8 -serverBufferSize 2```

client operation added in https://github.com/dotnet/corefx/pull/39507

[code]

cc @stephentoub @danmosemsft

[2019-07-16 01:03] stephentoub commented on #39518
@anipik, this exception just means that the server closed the connection while it was waiting for the next frame.  You will need to gather more data to make this actionable.  Did another exception occur?  Did the server hit an error (e.g. is any additional data output from `-aspnetlog`)?  What does a client trace show (e.g. `-trace`)?

[2019-07-16 01:10] Anipik commented on #39518
enabling ```-aspnetlog``` added this extra info
[code]

All the failures were same

[2019-07-16 01:15] stephentoub commented on #39515
Apparently it's not happening for 3.0:
https://github.com/dotnet/coreclr/issues/20973#issuecomment-511621308
cc: @jkotas

[2019-07-16 01:15] #39515 closed

[2019-07-16 01:16] Anipik commented on #39518
@stephentoub  i have the trace file but i am not able to understand it properly

[code]

[2019-07-16 01:50] igormcoelho opened #39519 "Bigger coverage on BigInteger class"
I've been trying to reproduce behavior of C# BigInteger class on C++/Python/JavaScript, and it would be helpful if more tests were available.
For example, I couldn't find any tests with negative divisions and mods, and found most of the tests on text documentation (rather than on corefx repo).
My reference is here: https://github.com/dotnet/corefx/tree/master/src/System.Runtime.Numerics/tests/BigI

[2019-07-16 01:55] JeremyKuhne commented on #38689
@Gnbrkm41 What printers do you have installed/available? If it isn't a fast ring problem overall, first suspect for me would be a driver or possibly access to a remote printer. I definitely don't see this problem - the whole set of System.Drawing.Common tests runs in < 5 seconds for me.

[2019-07-16 01:55] danmosemsft commented on #39519
Perhaps you'd like to offer more tests, then we can all share? 🙂

[2019-07-16 02:03] yyjdelete commented on #37608
@cheenamalhotra
Verified this is not happen with preview6 for me.

[2019-07-16 02:11] stephentoub commented on #39511
The abort here is being caused by https://github.com/aspnet/AspNetCore/issues/11804, in particular the "Reading is already in progress."  You can see that these exceptions happen on the client in response to the server encountering that error (turn on `-aspnetlog`).

Even when that happens, we really shouldn't be propagating an ObjectDisposedException like this to the caller.  I just tried with th

[2019-07-16 02:17] #37608 closed

[2019-07-16 02:20] stephentoub commented on #39511
Those object disposed exceptions are coming from here:
https://github.com/dotnet/corefx/blob/8973a72af9e3a2837d18e73041e2c8090d6871d1/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/CreditManager.cs#L123
triggered by this call stack:
[code]
so the operation is being aborted, but because it's currently waiting for credit, it's ending up with an ObjectDisposedException.

@geoffkizer, @krw

[2019-07-16 02:25] chenxuuu commented on #39464
dosen't work😕

my new code and logs:

[code]

[code]

[2019-07-16 03:25] stephentoub commented on #35652
This issue was closed, but there's still a TODO for it in the code:
https://github.com/dotnet/corefx/blob/8b5eb8d9fb7857e5b40e763287f8f8832c15af31/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs#L728
@geoffkizer, are your other work items covering addressing that?

[2019-07-16 03:31] geoffkizer commented on #35652
Working on it.

[2019-07-16 03:37] GrabYourPitchforks commented on #39410
It shouldn't be. If you're using ASP.NET and you inspect the response, these characters shouldn't be escaped. Additionally, per our earlier conversation with the SDL team, if you're using UTF-16 encodings (e.g., you call `JsonSerializer.ToString(some_input)`), it's also fine to keep CJK characters unescaped. (This isn't the behavior today, but I'm working with the SDL team to get this marked as ac

[2019-07-16 03:37] krwq commented on #39511
@stephentoub it feels to me we should not throw ObjectDisposed while calling Abort - Abort tries to get rid of the connection but it's already dead so there is nothing here which should throw I think (perhaps exception set by Abort)

[2019-07-16 03:41] stephentoub commented on #39518
@Anipik, this is a bug in your PR.  Consider what happens when `clientBufferSize` gets randomly assigned 0.

[2019-07-16 03:41] #39518 closed

[2019-07-16 03:44] stephentoub commented on #39509
(I'm marking this as 3.0 as it needs to be fixed asap in order to not hold up using the stress app in general to find other issues.)

[2019-07-16 03:46] Anipik commented on #39509
i will try to put up a pr for this tomorrow :)

[2019-07-16 03:47] stephentoub commented on #39511
The exception isn't propagating to the caller of Abort; it's being stored into each of the waiters currently waiting on the CreditManager for credit.  #39520 changes it to instead pass to those waiters the _abortException that's causing things to get torn down, so that this at least doesn't look like a bug and provides some meaningful information.  Subsequently we can see if we can do better as pa

[2019-07-16 03:53] JeremyKuhne commented on #38548
[Again](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39468~2Fmerge/test~2Ffunctional~2Fcli~2F~2F/20190715.81/workItem/System.Diagnostics.EventLog.Tests/analysis/xunit/System.Diagnostics.Tests.EventLogTraceListenerTests~2FWriteTest)

[code]

[2019-07-16 03:58] danmosemsft commented on #38548
Always Win7.

[2019-07-16 04:02] nglpg commented on #34244
Hi @karelz @uyquoc ,
Do you have any samples on the cookie container implementation? We have the similar situation where we get a token first and then we add this token as cookie to the next request. Single threaded calls are going fine but when multi threaded we get the below error is thrown from the await base.SendAsync(message, cancellationToken) line of code in the DelegatingHandler implementa

[2019-07-16 04:58] danmosemsft commented on #39386
Hmm, this isn't working for me. Same in both `VisualStudio.16.Preview/16.2.0-pre.2.0+29006.145` and `VisualStudio.16.Preview/16.2.0-pre.3.0+29021.104`.
After `build -restore -build -buildtests` from the root I did `C:\git\corefx>build -vs System.Diagnostics.EventLog` then selected the `WriteLines` test in Test Explorer and chose Run Selected. It did a build but apparently didn't run the test. So I

[2019-07-16 05:16] noahfalk commented on #39431
Thanks for such a nice writeup of the issue and the PR @johnduhart 👍 I'm trying to find someone who can dig into this a little more deeply from our end.

A couple of questions:
1) Do you have a repro case that generates the bad perf? I suspect we can reverse engineer one from your description of the issue, but its always nice if we can make sure we are reproducing the same situation you've got. Th

[2019-07-16 05:51] davidfowl commented on #38362
I'm going to make these virtual for now with a noop. There's no real replacement for the events so the obsolete message has to say something like "These will be removed in a future release" without a suggestion on the replacement. Is that kewl?

[2019-07-16 05:59] steveharter opened #39523 "Add Encode(ReadOnlySpan<char>) method to TextEncoder for performance"
With the recent [custom encoder work](https://github.com/dotnet/corefx/issues/37192), it was found that the existing `System.Text.Encodings.Web.TextEncoder` class does not have an overload of an "Encode" method taking a `ReadOnlySpan<char>`. The causes a perf hit because the callers (System.Text.Json's writer and serializer) must convert utf16->utf8 (in order to call EncodeUtf8)->utf16.

Proposed

[2019-07-16 06:22] Turnerj opened #39525 "Slower performance with multidimensional array vs array-of-arrays"
I'm working on [a benchmark for some text edit comparisons](https://github.com/Turnerj/TextDifferenceBenchmarking) and had noticed something strange when looking at micro-optimisations of the code.

The baseline creation of the array-of-arrays ([file](https://github.com/Turnerj/TextDifferenceBenchmarking/blob/master/TextDifferenceBenchmarking/DiffEngines/DmitryBychenko.cs)):
[code]

The multidimen

[2019-07-16 06:29] ADIX7 commented on #39065
Thank you! I'll check this in preview 8!

[2019-07-16 06:41] Turnerj commented on #39525
I will also note that I replicated this in .NET Framework as well with about the same values.

[2019-07-16 06:57] #38548 closed

[2019-07-16 07:13] Turnerj commented on #39525
So I didn't know this originally but apparently it might be well known that [multidimensional arrays are slower than jagged arrays](https://stackoverflow.com/a/597729/1676444).

[2019-07-16 07:47] newpost commented on #22660
when support get hardware infomation across OS?

[2019-07-16 07:50] luisabreu commented on #33693
Just to confirm that this bug hasn't been solved yet...

[2019-07-16 08:46] NiklasANCO commented on #39475
@krwq
I found the issue, it was network related,
The PI was on a separate network and there was a firewall interfering.
The TCP connection to the server was established but the client never receives a response to the client hello.

Apparently SslStream will just wait forever in this scenario, i tried confirming the same behavior on windows so it's not specific to linux-arm.
also .Net Framework 4.6

[2019-07-16 08:51] Arno500 commented on #37815
For some reason, it worked ! I think this may be related to openssl-devel or libgpg-error-devel. This is still a problem with the "basic" version of OpenSSL...

[2019-07-16 09:10] Marusyk commented on #39514
Ok, I see.
But it doesn't make any sense to create and use an instance of `HttpUtility `. So, I hope that this shouldn't  break existing apps.

Just working on a similar task  https://github.com/dotnet/corefx/issues/39308

[2019-07-16 10:23] VitaliiIsaenko commented on #461
Wow, I am very surprised that it came down to the discussion about the NEED of the method. Declaring that the method is not important because someone "worked on many projects and implemented many libraries and didn't have a need" can be considered as a valid argument :D
I'm surprised, but okay, let everyone reimplement the bicycle themselves! So much fun!

[2019-07-16 11:07] #39511 closed

[2019-07-16 12:08] atifaziz opened #39527 "HttpWebResponse returns different "Set-Cookie" header value than under .NET Framework"
Under .NET Framework, [`HttpWebResponse.Headers`](https://docs.microsoft.com/en-us/dotnet/api/system.net.httpwebresponse.headers) can deliver the `Set-Cookie` header value as _multiple values_, where each value represents one cookie. `HttpWebResponse.Headers` is a [`WebHeaderCollection`](https://docs.microsoft.com/en-us/dotnet/api/system.net.webheadercollection) and invoking [`GetValues("Set-Cooki

[2019-07-16 12:13] stephentoub commented on #39527
cc: @davidsh

[2019-07-16 12:20] atifaziz commented on #39527
Cross-referencing #33122 since it also seems to be related to differences in handling of cookies between .NET Core and .NET Framework when using `HttpWebRequest`/`HttpWebResponse` API family.

[2019-07-16 12:21] stephentoub commented on #39525
Thanks. But yes, this has always been the case. Code that needs high performance is generally written to prefer jagged.

[2019-07-16 12:21] #39525 closed

[2019-07-16 12:53] #38658 closed

[2019-07-16 13:18] danielmeza opened #39529 "System.Composition.Import only work on public members"

[2019-07-16 13:39] bjthomson commented on #16101
@karelz ,@danmosemsft Glad to see this has been done, when will we be seeing it in a new release?

[2019-07-16 13:53] johnduhart commented on #39431
@noahfalk It's possible this issue has existed in previous releases, the code path in question hasn't changed significantly in 3.0. I'll try to get a minimum repro together with both 2.2 and 3.0 versions to compare.

[2019-07-16 13:55] wfurt commented on #37997
1) I think key decision is if we want to support SocketAddress of arbitrary protocols e.g. `SocketAddress((AddressFamily)12345)`. That can make life easier for anybody looking for early support of new protocol and matches Windows and Framework behavior (tested on 4.7).
If we say yes here, then we assume users know what they doing and we can IMHO simply marshal given value to sa_family. That seems

[2019-07-16 13:55] johnduhart commented on #39431
CallTree view for the flamegraph in the OP:
![image](https://user-images.githubusercontent.com/113642/61300398-e1bebd00-a7af-11e9-874d-30897c196e8e.png)

[2019-07-16 13:59] Turnerj commented on #39525
With jagged and multidimensional arrays being very similar in terms of usage (though jagged allowing arrays of different sizes at each level) and multidimensional arrays being a language feature, is it worthwhile trying to improve the performance of multidimensional arrays? Could the compiler internally treat multidimensional internally as jagged?

Otherwise with their similarities and multidimens

[2019-07-16 14:17] nick2893 opened #39533 "Process.windows.cs CreatePipe() comment"
This file:

corefx/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.cs

Contains the comments:

                // Duplicate the parent handle to be non-inheritable so that the child process
                // doesn't have access. This is done for correctness sake, exact reason is unclear.
                // One potential theory is that child process can do something brain dea

[2019-07-16 14:18] danmosemsft commented on #16101
@bjthomson you can get it in 3.0 previews right now, or wait for final release a little later in the year.

[2019-07-16 14:20] danmosemsft commented on #39533
@nick2893 thanks for the suggestion, if you think the comment can be improved feel free to throw up a PR.

[2019-07-16 14:24] danmosemsft commented on #33693
@luisabreu any interest in debugging this a bit?

[2019-07-16 14:25] Gnbrkm41 commented on #38689
No idea. I've been using Insider build for a while.

I used to have a driver for [HP Deskjet 1050](https://support.hp.com/kr-ko/drivers/selfservice/HP-Deskjet-1050-All-in-One-Printer-series---J4/4027462/model/4027464), which I removed since I've ran the test last time. Can't reproduce it now... not sure if it's because of the driver or simply upgrading to latest fast ring fixed it.

[2019-07-16 14:40] steveharter commented on #39502
@realdevhl what platform are you on?

[2019-07-16 14:44] stephentoub commented on #29560
@AfsanehR, this is still marked 3.0.  Is it really intended for 3.0?

[2019-07-16 14:50] bjthomson commented on #16101
Thanks @danmosemsft , but our solution is already in pieces on the floor due to various breaking changes, OpenID connect etc.
I was just investigating .net standard to see if we should start using it for general libraries. I've just spent 2 days discovering MetadataTypeAttribute doesn't exist, nor CloudConfigurationManager, so not quite there yet.
Without MetadataType, how would we attach metadata

[2019-07-16 14:52] AArnott commented on #38362
Whoa. Without these callbacks how can someone who has a PipeReader know when no more data will be forthcoming? Is `PipeReader.ReadAsync`'s `ReadResult.IsCompleted` the only way?

[2019-07-16 15:02] usr-sse2 opened #39534 "Equals method on deserialized objects is called too early"
In this code example `Equals` method is called too early, when `Values` dictionary is not yet deserialized (it is empty), so the unequal objects are considered equal, and an `ArgumentException` happens. `[OnDeserialized]` method, omitted in this example, is also called before the actual deserialization of inner dictionary.

[code]

[2019-07-16 15:12] davidfowl commented on #38362
Right, only the consumer can know (which can be problematic I agree). The reasoning for doing this is:

- Both callbacks don't have a way to remove subscriptions
- PipeWriter.OnReaderCompleted only make sense for `Pipe`
- PipeReader.OnWriterCompleted can be implemented but there's no writer, it's inappropriately named.

[2019-07-16 15:17] ajcvickers commented on #37915
@Pilchie I doubt we will be able to reproduce this now. We moved all the ASP.NET tests to SQLite to reduce flakiness introduced by SQL Server, and I don't believe that the EF tests ever hit this. However, given our conversation yesterday, maybe we should unpin the SQLClient version we depend on and see if anything breaks. I will bring it up in the build sync this afternoon. /cc @dougbu

[2019-07-16 15:18] steveharter commented on #39397
@buyaa-n per @GrabYourPitchforks "System.Text.Encoding.Web performs U+FFFD replacement because that's what the normal UTF-16 Encode API does, so the symmetry is nice. If you have a need to introduce an overload that fails on ill-formed data feel free, but the default overload should be to perform silent replacement like the UTF-16 version does."

[2019-07-16 15:21] steveharter commented on #39397
@ahsonkhan I assume `JsonWriterOptions.SkipValidation` should have no effect on whether the replacement character is used or not.

[2019-07-16 15:29] AArnott commented on #38362
I'm hitting this now in trying to remove my own uses of this API. I have a method that allows reading from a `Stream` via `PipeReader`. It's implemented by creating a `Pipe` and reading from the stream and writing to the `Pipe.Writer` in a loop. The loop exits when either the stream ends or `Pipe.Reader` quits listening (which we determine via `Pipe.Writer.OnReaderCompleted`).

What should I do in

[2019-07-16 15:32] AArnott commented on #38362
My scenario above becomes more interesting when combined with the other API which allows *writing* to a Stream with `PipeWriter`. The two combined can be accessed via my `Stream.UsePipe()` extension method. Once someone calls that, today they can just complete the reader and writer and we detect that via these deprecated callbacks and we call `Stream.Dispose()`. Without the deprecated APIs, we'll

[2019-07-16 15:36] stephentoub commented on #39509
Going to fix this now to unblock the app.

[2019-07-16 15:38] mgravell commented on #38362
@AArnott  talking to @davidfowl  about that offline, the way he's suggested I try it is by decorating the exposed reader/writer, and having my extra handling in the `public override void Complete(...)`

[2019-07-16 15:41] usr-sse2 commented on #39534
This is not specific to .NET Core, happens on Mono and .NET Framework too.

[2019-07-16 15:46] danmosemsft commented on #37695
[code]

[2019-07-16 15:57] mgravell commented on #38362
seems viable - there's my experimental commit ^^^

[2019-07-16 16:00] realdevhl commented on #39502
Vs 19 preview

[2019-07-16 16:29] #37192 closed

[2019-07-16 16:38] cheenamalhotra commented on #37695
Thanks @danmosemsft

We can surely update the timeout in the test and see if it fails again.

[2019-07-16 16:53] GrabYourPitchforks commented on #39445
TBH I'm somewhat questioning the value of bullet (4), since if the caller went out of their way to provide a custom bitmap and that bitmap didn't include `/`, they probably had a specific reason for not wanting it to appear in the output. So `\u002F` would be more appropriate than `\/` in this case.

[2019-07-16 16:55] AArnott opened #39536 "PipeReader.ReadAsync never completes after cancellation when stepping in debugger with visible Locals window"
It seems that the debugger inspecting properties on the PipeReader causes the PipeReader to enter a bad state leading to hangs. Consider this example:

[code]

When run in a .NET Core 2.2 console application without stepping, this completes successfully.
When stepping in the debugger with no visible watch/locals/auto window this also completes successfully.
**But** when stepping in the debugger wi

[2019-07-16 16:56] ericstj opened #39537 "[3.0 servicing] Determine what we do to improve package harvesting story for 3.0"
See https://github.com/dotnet/arcade/issues/2929

We need to decide how much of this we tool for 3.0 servicing.

[2019-07-16 17:03] atifaziz commented on #39527
I think this is [fairly covered](https://github.com/weblinq/WebLinq/blob/483f1c8915472b75f6c78543113262cdc8bbd46f/eg/Program.cs) so closing this for now. Going forward, more specific issues should be opened for examples of features still uncovered.

[2019-07-16 17:04] atifaziz commented on #39527
Re-opening due to accidental close of the wrong issue. Sorry.

[2019-07-16 17:04] #39509 closed

[2019-07-16 17:05] steveharter commented on #39397
@buyaa-n I am assigning this back to you to close or modify the tests. The tests should be written to assume the replacement character. With the implementation of https://github.com/dotnet/corefx/pull/39524 complete, System.Text.Json no longer does it's own escaping except for trivial ascii scenarios - instead it calls `System.Text.Encoding.Web.JavaScriptEncoder` to do that.

It is still possible

[2019-07-16 17:08] adamsitnik opened #39538 "Performance regression: DateTime.UtcNow and DateTimeOffset.UtcNow 2.5x slower"
`DateTime.UtcNow` and `DateTimeOffset.UtcNow` are 2.5x slower compared to 2.2

[code]

Repro

[code]

[code]

|                Type |    Method |     Toolchain |     Mean |
|-------------------- |---------- |-------------- |---------:|
|       Perf_DateTime | GetUtcNow | netcoreapp2.2 | 25.12 ns |
|       Perf_DateTime | GetUtcNow | netcoreapp3.0 | 70.91 ns |
|                     |           |

[2019-07-16 17:16] adamsitnik opened #39539 "Performance regression: float.ToString(format) 20% to 3x slower"
After the changes introduced to numbers formatting the vast majority of the operations is faster. However, this is not true for `float.ToString(format)`which is 20% to 3x slower.

https://github.com/dotnet/performance/blob/1b4c089465cde5d8a6454a2e53b37f662f3964b0/src/benchmarks/micro/corefx/System.Runtime/Perf.Single.cs#L42-L45

Repro

[code]

[code]

|             Method |     Toolchain |

[2019-07-16 17:18] ericstj commented on #38354
@GrabYourPitchforks do you have an update on this?

[2019-07-16 17:22] stephentoub commented on #39536
Taking a quick look, I'm guessing the problem here is `ValueTask<T>.Result`, it getting evaluated by the Locals window prior to the await, and that invalidating the underlying IValueTaskSource for the await.  Or something like that.

[2019-07-16 17:23] EgorBo commented on #39538
I guess it's a cost of https://github.com/dotnet/coreclr/pull/21420 (leap seconds support)

[2019-07-16 17:23] adamsitnik opened #39540 "Performance regression: new BitArray(bool[]) 2x slower"
`new BitArray(bool[])` is 2x slower compared to 2.2

https://github.com/dotnet/performance/blob/ce894eec66c6f83b227db37f9833b2116ba54c48/src/benchmarks/micro/corefx/System.Collections/Perf.BitArray.cs#L38-L42

Repro

[code]

[code]
|                Method |     Toolchain | Size |       Mean | Ratio | Allocated Memory/Op |
|---------------------- |-------------- |----- |-----------:|------:|-------

[2019-07-16 17:24] buyaa-n commented on #39397
From previous comments I understood that U+FFFD replacement is valid and either it should replace or throw. The reason i kept it open is because Utf8JsonWriter is throwing in this case but JsonElement writer replacing, assuming they should behave same. Anyways if you guys thinking its fine am closing it

[2019-07-16 17:24] #39397 closed

[2019-07-16 17:24] tannergooding commented on #39539
I had already gone over this with @billwert over an e-mail. For reference:

[code]

[2019-07-16 17:26] AArnott commented on #39536
That makes sense. Also while investigating this I got an odd exception around concurrent reading even though the code only had one readasync method and it had only executed once. I suspect this too was because a debugger locals window was open and caused the PipeReader to think there were multiple calls.

[2019-07-16 17:35] #38362 closed

[2019-07-16 17:40] ericstj commented on #39445
@GrabYourPitchforks what info do you need to help make a decision here?  Are there any other cases where we use the six-character string when `JavaScriptEscapingBehavior.RelaxedJsonEscaping` is specified?  If there's precedent I imagine we can include it with that.  If not then we should probably have a good reason for the difference.

[2019-07-16 17:50] safern commented on #38689
😄 -- weird intermittent issues, the good thing is it doesn't repro anymore after those changes. Will then close this issue.

[2019-07-16 17:50] #38689 closed

[2019-07-16 17:53] steveharter commented on #39502
Is this a .NET Core or .NET Framework project? And the project type? Thanks

[2019-07-16 17:53] adamsitnik commented on #39540
/cc @billwert @DrewScoggins

[2019-07-16 17:53] adamsitnik commented on #39538
/cc @billwert @DrewScoggins

[2019-07-16 17:55] krwq commented on #39475
@NiklasANCO did you try passing CancellationToken to AuthenticateAsClientAsync (i.e. https://docs.microsoft.com/en-us/dotnet/api/system.threading.cancellationtokensource.-ctor?view=netframework-4.8#System_Threading_CancellationTokenSource__ctor_System_TimeSpan_ takes timeout and then you can get Token using https://docs.microsoft.com/en-us/dotnet/api/system.threading.cancellationtokensource.token?

[2019-07-16 18:04] terrajobst commented on #39410
After some discussion, we see a few issues:

* The enum approach doesn't seem to be scalable. It would need to be a flags-based enum, otherwise it's hard to add more orthogonal options later.
* If we don't care for this to be extensible, the easiest option is to offer an overload or a new static property that returns an instance that escapes fewer characters.
* The point of the encoders is to prot

[2019-07-16 18:08] 0xd4d opened #39542 "System.Reflection.Emit & System.Reflection.Emit.Lightweight 4.6.0 depend on System.Reflection.Emit.ILGeneration 4.3.0 but should be 4.6.0"
[System.Reflection.Emit 4.6.0-preview6.19303.8](https://www.nuget.org/packages/System.Reflection.Emit/4.6.0-preview6.19303.8) and [System.Reflection.Emit.Lightweight 4.6.0-preview6.19303.8](https://www.nuget.org/packages/System.Reflection.Emit.Lightweight/4.6.0-preview6.19303.8) both depend on `System.Reflection.Emit.ILGeneration (>= 4.3.0)` but this should be `System.Reflection.Emit.ILGeneration

[2019-07-16 18:11] stephentoub commented on #39538
It is.  You can see this pretty clearly by just setting s_systemSupportsLeapSeconds to false.

On my machine it ends up being true:

|                  Method |     Toolchain |     Mean |     Error |    StdDev | Ratio |
|------------------------ |-------------- |---------:|----------:|----------:|------:|
| GetDateTimeOffsetUtcNow | netcoreapp2.1 | 32.22 ns | 0.1057 ns | 0.0989 ns |  1.00 |
| GetD

[2019-07-16 18:14] danmosemsft commented on #39538
Might be worth seeing whether we can reduce the cost though, if that wasn't already done at the time.

[2019-07-16 18:23] stephentoub commented on #39539
@tannergooding, how does that map to these results in the above chart?

|             Method |     Toolchain |         value | format |       Mean | Ratio | Allocated Memory/Op |
|------------------- |-------------- |-------------- |------- |-----------:|------:|--------------------:|
| ToStringWithFormat | netcoreapp2.2 |         12345 |      G |   146.6 ns |  1.00 |                40 B |
| ToStr

[2019-07-16 18:23] terrajobst commented on #36133
Why do we need this API at all? It seems the existing APIs would cover this, no?

[code]

Like this:

[code]

What would `GetRawArrayData()` do differently?

[2019-07-16 18:31] GrabYourPitchforks commented on #36133
One potential pattern that would fail by bouncing through `Span<T>`:

[code]

The implicit conversion from `object[]` to `Span<object>` in order to call the existing `GetReference<object>(Span<object>)` overload would fail at runtime due to the check at https://github.com/dotnet/coreclr/blob/7f1dd83ddb159e2469b85145f228fa60ab3682e2/src/System.Private.CoreLib/shared/System/Span.Fast.cs#L52-L53

Per

[2019-07-16 18:31] terrajobst commented on #35434
Generally this seems like a reasonable API. The only sticking point is that it seems undefined and only DirectX exposes this operation for `Vector2` and `Vector4`. This may be odd, but doesn't seem to be a blocker to us.

[2019-07-16 18:36] GrabYourPitchforks commented on #36133
@MichalStrehovsky We were having trouble in API review justifying this new API given the existence of the methods Immo called out. Can you help clarify some of the scenarios?

[2019-07-16 18:41] realdevhl commented on #39502
Its a class library.  I did it in standard and then core to see if it
carried over.

On Tue, Jul 16, 2019, 13:54 Steve Harter <notifications@github.com> wrote:

[2019-07-16 18:41] cheenamalhotra commented on #29560
Hi @stephentoub

I'm taking over this issue and will submit the PR soon.

[2019-07-16 18:45] terrajobst commented on #38585
We'd like to see some sample code that not only illustrates how the API is being used but also how they code gen differs.

Related. @GrabYourPitchforks suggested that we should look into making the JIT smarter. @tannergooding said that the analysis for overlapping fields (where is this used) would be expensive. Would be good to validate this with JIT folks.

[2019-07-16 18:48] stephentoub commented on #39540
This was changed by @ahsonkhan in https://github.com/dotnet/corefx/pull/33367, and his benchmarks there showed benefit:
![image](https://user-images.githubusercontent.com/2642209/61320328-345f9f80-a7d7-11e9-8835-81f2c93ddfc8.png)
so he should comment.

@adamsitnik, I also can't repro your results:

|                Method |     Toolchain | Size |     Mean |    Error |   StdDev |   Median |      Mi

[2019-07-16 18:52] terrajobst commented on #17745
This is a good point. The same problem would also exist for this piece of code:

[code]

So I suggest we add these two:

[code]

[2019-07-16 18:52] adamsitnik commented on #39540
@stephentoub what is your hardware? could you share the output of `dotnet run -c Release -f netcoreapp3.0 -- --info` (`--info` is a BDN command)

[2019-07-16 18:54] stephentoub commented on #39540
[code]

[2019-07-16 18:54] danmosemsft commented on #17745
Ouch, I'm surprised this didn't come up before.

[2019-07-16 18:55] adamsitnik commented on #39540
The regression is similar on my MacBook:

[code]
|                  Method | Size |         Mean |       Error |     StdDev |       Median |          Min |          Max | Gen 0/1k Op | Gen 1/1k Op | Gen 2/1k Op | Allocated Memory/Op |
|------------------------ |----- |-------------:|------------:|-----------:|-------------:|-------------:|-------------:|------------:|------------:|------------:|--

[2019-07-16 18:57] terrajobst commented on #17745
So after discussion we think it's not worth it. It's been 20 years and this isn't a widespread enough problem.

[2019-07-16 18:57] #17745 closed

[2019-07-16 18:57] adamsitnik commented on #39540
But not on my Ubuntu VMs...

[code]
|                  Method | Size |         Mean |       Error |      StdDev |       Median |          Min |          Max | Gen 0/1k Op | Gen 1/1k Op | Gen 2/1k Op | Allocated Memory/Op |
|------------------------ |----- |-------------:|------------:|------------:|-------------:|-------------:|-------------:|------------:|------------:|------------:|-------------

[2019-07-16 18:59] #39067 closed

[2019-07-16 19:09] brandondahler opened #39544 "HttpClient ignores TransferEncodingChunked = false if content doesn't specify content length"
# Problem
When using `HttpClient`, even when `TransferEncodingChunked` is explicitly set to `false`, the underlying `HttpMessageHandler`s will force chunked content submission if the content does not explicitly define its Content-Length header.

This coupled with the default behavior changing from non-chunked to chunked from .Net Framework to .Net Core can result in a significantly harder barrier

[2019-07-16 19:20] geoffkizer opened #39545 "HTTP2: Two remote server tests occasionally timing out in CI"
These are tests I'm modifying to run with HTTP2 in https://github.com/dotnet/corefx/pull/39343 but disabling for now.

Sometimes in CI, these tests timeout. Likely they are just running really slowly in CI and increasing the timeout would make them more reliable. We should investigate and confirm and change the timeout as appropriate.

PostAsync_RedirectWith307_LargePayload
PostRewindableContentUs

[2019-07-16 19:22] brandondahler commented on #39544
Upon looking a little farther, this also means that you technically cannot use `HttpContent` that does not define an explicit Content-Length header if you use HTTP 1.0 -- you will necessarily get an exception where you wouldn't have gotten one in .NET Framework.

https://github.com/dotnet/corefx/blob/063e38c7bc66e076fdcc7521e4c69650baae9427/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandle

[2019-07-16 19:28] #39536 closed

[2019-07-16 19:30] davidsh commented on #39544
@stephentoub @geoffkizer

[2019-07-16 19:36] ahsonkhan commented on #39502
@realdevhl, can you please share a sample repro with your csproj itself?

cc @joperezr

[2019-07-16 19:39] davidfowl commented on #39536
Man I ran into this and didn't even know it 😄

[2019-07-16 19:41] stephentoub commented on #39536
I'm actually surprised to hear it didn't repro on .NET Core 2.2.

[2019-07-16 19:41] geoffkizer commented on #39544
It's not clear to me whether this is actually an issue in practice or not. I haven't seen any previous reports on it. If it's actually affecting customer scenarios, we could look at buffering as you suggest.

[2019-07-16 20:30] jcouv commented on #36222
Note: the compiler is going to ship with a very slightly different API than last discussed (see https://github.com/dotnet/roslyn/issues/36604). The field is an array instead of a ReadOnlySpan and it is named `NullableFlags`.

[2019-07-16 20:32] davidsh commented on #30760
Fix for release/2.1 checked in with PR #39341

[2019-07-16 20:32] #30760 closed

[2019-07-16 20:33] davidsh commented on #34033
Fix for release/2.1 checked in with PR #39456

[2019-07-16 20:33] #34033 closed

[2019-07-16 20:41] carlossanlop commented on #38834
Ran it again in a loop. It passed 1300 times, didn't fail once.
Santi suggested I try to imitate the CI environment as much as possible. I have an Ubuntu VM, and will create the Fedora docker container inside it, then run the test.

[2019-07-16 20:46] wtgodbe commented on #39489
Once we update AssemblyVersions, we'll need to add mappings into `packageIndex.json` for them.

[2019-07-16 20:51] steveharter commented on #39081
I will attempt to repro this locally on one of the platforms that failed (Alpine, Ubuntu).

The repro tool wasn't working as of a few hours ago and now history seems to be down (i.e. the links above don't show any information).

@ViktorHofer any notes or thoughts on getting a repro? Is the repro tool supposed to be working? Sometimes the CI machines appear capture the crash dumps but not lately?

[2019-07-16 21:15] #38896 closed

[2019-07-16 21:19] ericstj commented on #38907
We should create a topic document that summarizes the algorithm here:
https://github.com/dotnet/corefx/blob/6cd505d9aaabe656707766dee22e9aec0404568f/src/System.Text.Json/src/System/Text/Json/JsonHelpers.Date.cs#L88-L423

And how this relates to https://github.com/dotnet/docs/blob/ef122199e3f0a37761974e4de5ed9fcd36cd7cbe/docs/standard/base-types/standard-date-and-time-format-strings.md

This probab

[2019-07-16 21:31] kumarongithub commented on #32081
Does this also impact dotnetstandard specifically 2.0

[2019-07-16 21:45] ericstj commented on #39502
.NETStandard doesn't apply to "loading", please let us know what target framework and version you are running this code on.  I'm guessing you didn't reference System.Text.Json package in the application itself.  The System.Text.Json package depends on other packages which will carry framework specific implementation assemblies.

[2019-07-16 21:48] nglpg commented on #30691
Hi @stephentoub

Is this issue solved? We are facing the same error. This happens with multiple threads. Works fine with single thread. Any help will be highly appreciated.
Thanks

Unhandled Exception Occurred.: An existing connection was forcibly closed by the remote host    at System.Net.Http.HttpConnection.SendAsyncCore(HttpRequestMessage request, CancellationToken cancellationToken)     at Sys

[2019-07-16 21:49] stephentoub commented on #30691
Can you share a repro?

[2019-07-16 21:53] nglpg commented on #30691
We have an API in .netcore 2.2 that is talking to an internal API (.netcore 2.2). Single requests are working fine but when sending multiple requests through our automation using multiple threads it fails with this error. Is this what you are looking for?

[2019-07-16 21:54] stephentoub commented on #30691
No, I was actually looking for code that I could run to see the issue.  What you describe is very unlikely to be the same underlying problem as this issue.

[2019-07-16 21:56] ahsonkhan commented on #38907
The other component of documentation is the workaround for working with non-ISO dates (which involves creating a custom JsonConverter). Including such samples would be quite helpful (particularly in the [porting guide](https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/porting_guide/README.md)), and I vaguely recall @JeremyKuhne had written something up about custom converters to al

[2019-07-16 21:58] nglpg commented on #30691
I will work on it and get back to you. How do i give the code to you?

[2019-07-16 22:09] #39178 closed

[2019-07-16 22:12] RobinsonWM opened #39552 "[HttpListener][Windows] HttpListener Start()/Stop()/Start()/BeginGetContext() causes ObjectDisposedException"
The code below always causes an exception on Windows.  I am using .NET Core 2.2.
[code]
[code]

The documentation states that it is valid to call `.Stop()` followed by `.Start()`, so I don't believe we would expect this code to throw: https://docs.microsoft.com/en-us/dotnet/api/system.net.httplistener.stop?view=netcore-2.2#remarks

I noticed this problem when porting an application from .NET Frame

[2019-07-16 22:17] mfow opened #39554 "System.Text.Json double quotes"
System.Text.Json serializes strings that contain quotes using `\u0022` notation, rather than double quotes.

System.Text.Json: `{"foo":"this string has a \u0022 quote in the middle."}`
Double quotes: `{"foo": "this string has a "" quote in the middle."}`
Escaped quote: `{"foo": "this string has a \" quote in the middle."}`

`            using (var strm = new MemoryStream())
            {

[2019-07-16 22:24] stephentoub opened #39555 "Expose CancellationTokenSource.CreateLinkedTokenSource(CancellationToken)"
We currently have two `CreateLinkedTokenSource` overloads:
[code]

However, a fairly common scenario with `CreateLinkedTokenSource` is to use it to accept an externally provided token while also being able to cancel for internal reasons.  In such a case, you want to call:
[code]
This works, but it binds to the `params` overload.  To workaround that array allocation, if developers even realize they

[2019-07-16 22:28] stephentoub commented on #30691
You can post it here.  Hopefully you can create a standalone repro that highlights what you're seeing and is generally shareable.

[2019-07-16 22:37] marek-safar commented on #35319
@ericst I am not sure I follow, if we exclude Xamarin TFMs the netstandard2.0 version will be used. I think that's what we have elsewhere how would we get to Xamarin compatible version without explicit TFMs anyway?

[2019-07-16 22:46] jkotas commented on #38585
Example of code that can use this - from https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Decimal.DecCalc.cs#L994:

[code]

This would become:

[code]

[2019-07-16 22:51] cheenamalhotra commented on #15566
Hi @weshaggard

Following up on the issue, does it still needs a fix?
If yes, can you give me details of its impact as of now.

Since we are moving to Microsoft.Data.SqlClient, I'm wondering if this necessarily needs a fix on System.Data.SqlClient namespace.

[2019-07-16 23:03] mjsabby commented on #33706
@MichalStrehovsky We can get this in S.P.C first right? This and also GetObjectSize and HasReferences.

[2019-07-16 23:04] ericstj commented on #35319
The NETStandard2.0 version **is already being used** for xamarin, but its not a functional implementation, it throws.  https://github.com/dotnet/corefx/blob/1acaa2017cfc64ef1aabcf3b19d0e097af692616/src/System.Runtime.Caching/src/System.Runtime.Caching.csproj#L8

Again, you get compatible version my making this a functional version (option 1), or removing all xamarin assets from the package and hav

[2019-07-16 23:13] karelz commented on #32003
1.1 is out of support as of 2019/6/27 - https://github.com/dotnet/core/blob/master/microsoft-support.md#out-of-support-net-core-releases

[2019-07-16 23:13] #32003 closed

[2019-07-16 23:13] karelz commented on #31984
.NET Core 1.0 is out of support as of 2019/6/27 - https://github.com/dotnet/core/blob/master/microsoft-support.md#out-of-support-net-core-releases

[2019-07-16 23:13] #31984 closed

[2019-07-16 23:14] karelz commented on #32011
.NET Core 1.0 is out of support as of 2019/6/27 - https://github.com/dotnet/core/blob/master/microsoft-support.md#out-of-support-net-core-releases

[2019-07-16 23:14] #32011 closed

[2019-07-16 23:18] #39410 closed

[2019-07-16 23:40] danmosemsft commented on #1942
@kdg3737 would SlimDictionary work for you? ([code](https://github.com/dotnet/corefxlab/blob/master/src/Microsoft.Experimental.Collections/Microsoft/Collections/Extensions/DictionarySlim.cs), [package](https://www.nuget.org/packages/Microsoft.Experimental.Collections/))

[2019-07-16 23:40] danmosemsft commented on #1942
BTW, I recommend that you open a new issue if you want to discuss, typically posts on closed issues are overlooked.

[2019-07-16 23:58] danmosemsft commented on #39552
Do you get the same result on .NET Core 3.0 (eg Preview 6)

[2019-07-17 00:13] vcsjones commented on #39554
Hello, this looks like a duplicate of https://github.com/dotnet/corefx/issues/38576#issuecomment-502957010, which was addressed by #39524.

[2019-07-17 00:24] stephentoub commented on #38834
Are you running with sudo?

[2019-07-17 00:35] jkotas commented on #36133
This is low-level API to enable micro-optimizations in performance sensitive code. You are right that one can get the same functionality by combining existing APIs, but not with the same performance characteristics.

This API is equivalent of `MemoryMarshal.GetReference(Span<T> span)` for arrays. `MemoryMarshal.GetReference` was not required API for functionality either (you can get same functiona

[2019-07-17 01:27] ahsonkhan commented on #39554
How so? I would be interested to see how such default escaping policies causes breaks in existing code, primarily for my education.

Closing as duplicate. The default behavior will remain as is. However, as @vcsjones mentioned, there is a workaround where the user can pass in a custom `JavascriptEncoder` to the serializer (and writer) to control the escaping behavior of certain character.

Also, w

[2019-07-17 01:27] #39554 closed

[2019-07-17 02:34] ahsonkhan commented on #39554
cc @steveharter, @GrabYourPitchforks - fyi

[2019-07-17 04:12] carlossanlop commented on #38834
Yes it was root. It's the default user in the Fedora Docker container, I didn't modify its configuration.
Was I supposed to use a normal user?

[2019-07-17 05:17] hez2010 opened #39564 "Add UnderScoreCase support for System.Text.Json"
Can you add UnderScoreCase in System.Text.Json?
This naming policy is also common used.

[2019-07-17 05:49] mjsabby commented on #36133
I think we can expose two APIs instead, which actually will be beneficial for Frozen Objects anyway. `RuntimeHelpers.GetObjectSize` with something like `RuntimeHelpers.EmptyArrayObjectSize`, or `RuntimeHelpers.GetNumberOfComponents` which returns 0 for empty array/string and for objects that aren't either of those.

[2019-07-17 06:01] chenxuuu commented on #39464
need I mail a device for testing?

[2019-07-17 06:27] jkotas commented on #36133
I do not think we want to make the super low-level APIs like these public.

[2019-07-17 07:03] jkotas commented on #36133
Anything that talks about managed object size super low-level. It implies what the layout of managed objects and makes changing it hard or impossible.

`RuntimeHelpers.OffsetToStringData` is one place where similar super low-level detail got exposed, and in turn prevented us from experimenting (easily) with alternative string layouts.

It should be a non-goal for your frozen object experiment to r

[2019-07-17 08:06] NiklasANCO commented on #39475
@krwq The cancellation token does'nt have any effect, it still keeps running forever.

The TcpClient timeouts doesn't work either if the timeout occurs after the call AuthenticateAsClientAsync, however if the TcpClient already timed out before making the call to AuthenticateAsClientAsync an exception is thrown.

[2019-07-17 08:09] krwq commented on #39464
@chenxuuu, I don't think that will be necessary

[2019-07-17 08:25] MichalStrehovsky commented on #36133
My scenarios mostly revolved around non-variable-size objects in the version of this API that is not limited to arrays (#33706).

[2019-07-17 08:28] MichalStrehovsky commented on #33706
Yes, exposing this as a private API on `RuntimeHelpers` for frozen objects serializer should work. It feels like a better place for it than JitHelpers.

[2019-07-17 08:38] NiklasANCO commented on #39475
@krwq Correction, The cancellation token does not work on Core 2.2
It works on 3.0 Preview 6 👍

[2019-07-17 08:43] krwq commented on #39475
@NiklasANCO glad it works on preview. Are you ok with closing this issue or do you think there is something left here?

[2019-07-17 08:46] NiklasANCO commented on #39475
@krwq
It's fine to close the issue

[2019-07-17 08:49] krwq commented on #39475
Thanks for trying stuff out @NiklasANCO!

[2019-07-17 08:49] #39475 closed

[2019-07-17 08:59] NMSAzulX opened #39565 "Question: Has dynamic and emit execution performance been improved?"
Today, I benchmark dynamic, emit, orgin, and reflect. I was surprised to find that their performance had been greatly improved. My last test results showed that there was still a big performance gap between native and dynamic invocations. I've been looking at the dynamic performance of. Net Core, and I haven't seen any of this in the relevant articles. My question is whether these test results are

[2019-07-17 09:27] krwq commented on #39364
Is this possibly related to https://github.com/dotnet/corefx/pull/37294 - I have already expressed my concerns about it:
https://github.com/dotnet/corefx/pull/37294#discussion_r279883256

Perhaps we should add ProcessPath now?
cc: @tmds

[2019-07-17 09:46] MrM40 commented on #35222
Any change this will be fixed?
Until now I've been able to work around this issue, but now I have a command that require an argument containing single quotes:
'
virsh qemu-agent-command _VMName_ '{"execute":"guest-ping"}'
`
It's a json string that has to be surrounded with quotes.

[2019-07-17 09:56] mattwarren commented on #39565
It'll be easier for people to comment on this issue if you post the full code to your benchmarks, either paste them into the issue or link to a gist or similar.

[2019-07-17 10:28] NMSAzulX commented on #39565
@mattwarren  OK . I have upload the code.  https://github.com/NMSAzulX/BechmarkReflector

[2019-07-17 10:30] NMSAzulX commented on #39565
Here is the major code.
[code]

[2019-07-17 11:29] iress-ac commented on #33060
@danmosemsft @pakrym Can we get this issue re-opened? The original issue was not about how verbose the error is, but as @eightvans said, the fact that if you configure event logging via the provided `.AddEventLog()` extension method, you would expect that to just work instead of misconfiguring the registry settings to point to a dll that doesn't exist.

The problem being that if in my Program.cs I

[2019-07-17 11:38] stephentoub commented on #38834
I'm wondering if these failures may be happening in cases where execution happens in an unexpected way, due to an infrastructure glitch or otherwise.

[2019-07-17 12:00] iSazonov commented on #27456
MatchType.Predicate looks as redundant - in any case we need a parameter for the predicate so the parameter could replace MatchType parameter like:
[code]

[2019-07-17 12:23] christophedemey opened #39566 "Question : ValueTask or warning because of not using await"
Hi

I have an interface from an external library which i have to adhere by.
It looks like this :
[code]
I only have synchronous code that is required in this block.
Is it better make the function async and just return the result :
[code]
Which warns me :
**This async method lacks 'await' operators and will run synchronously. Consider using the 'await' operator to await non-blocking API calls, or '

[2019-07-17 12:47] benaadams commented on #39439
Any reason they are `Microsoft.Bcl.` rather than `System.`?

[2019-07-17 13:00] Wraith2 commented on #39566
I would choose option 3. Your code isn't doing any async work so there is no benefit to using a compiler generated state machine. ValueTask is not relevant to this use case. You may want to check the cancellation token to throw an exception or return an appropriate value.

[2019-07-17 13:00] brandondahler commented on #39544
I can't say I necessarily _know_ that is a problem in practice or not, but I'd be willing to make an open source contribution to resolve it if you're interested.  I was originally forwarded aspnet/AspNetWebStack#232 by a coworker thinking their problem was related (it wasn't), but I was interested in understanding why `DefaultRequestHeaders.TransferEncodingChunked = false` didn't work for @chkeita

[2019-07-17 13:26] RobinsonWM commented on #39552
Yes, I just tried `3.0.100-preview6-012264` and got the same result as .NET Core 2.2.

[2019-07-17 13:35] kdg3737 commented on #1942
That's a nice trick with the ref returns Dan! But it has an issue, how do you distinguish between a missing key and one that is in the DictionarySlim but has a default value? Look at this test:

[code]
Also where are the indexers?

[2019-07-17 13:45] stephentoub commented on #39566
What @Wraith2 said.

Your second approach with `ValueTask` is just adding unnecessary cost and complexity, solely to confuse the compiler's analysis in order to avoid the warning, but it logically has the same condition the compiler is trying to flag: you've got an async method and you're always completing synchronously.

I'd recommend either just suppressing the warning, or not using `async` in t

[2019-07-17 13:45] #39566 closed

[2019-07-17 13:49] christophedemey commented on #39566
Thanks for the info! :)

[2019-07-17 14:16] watfordgnf commented on #39434
@mdolan92869 I've put up a branch which attempts a fix if you can test (my MBP cannot run .NET Core).

@jpfreyen it looks like the Linux code falls back on UtcNow if it can't read the boot time from `/proc/stat`. It would be nice if `/proc/{pid}/psinfo` was available on *nix, as its start time is relative to the epoch rather than ticks since boot.

[2019-07-17 14:50] realdevhl commented on #39502
[my repo](https://github.com/realdevhl/CocApi)

I have a library in Core 3.0 and the same library in Standard 2.1.    I have added using System.Text.Json in the libraries.  When I run Deserialize it gives me the error in either library.

[2019-07-17 15:13] stephentoub opened #39569 "PrivateKeyAssociationTests.AssociatePersistedKey_CNG_RSA failed in CI with "Unknown error""
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39567~2Fmerge/test~2Ffunctional~2Fcli~2F~2F/20190717.4/workItem/System.Security.Cryptography.X509Certificates.Tests/analysis/xunit/System.Security.Cryptography.X509Certificates.Tests.CertificateCreation.PrivateKeyAssociationTests~2FAssociatePersistedKey_CNG_RSA
[code]

[2019-07-17 15:28] tmds commented on #39364
execve takes a separate pathname and argv array:
[code]
`argv[0]` typically matches with the final part of the `pathname`. e.g. `pathname=/bin/sh, argv[0]=sh`.
`ProcessName` gets derived from `pathname` (`/proc/xxx/stat`) and then we use `argv[0]` and `argv[1]` (`/proc/xxx/cmdline`) to support longer names.

In this case you want to check the `argv[0]`, that one is `-pwsh` while `pathname` is `pws

[2019-07-17 15:48] #22564 closed

[2019-07-17 15:48] #26034 closed

[2019-07-17 16:04] danmosemsft commented on #1942
@kdg3737 as you point out, `GetOrAddValueRef` does not provide a way to know whether it added the value or not (although you can figure it out if the value is not default). If you need to know this, you must use `TryGetValue` or `ContainsKey`.

There are no indexers because they are purely convenience members and this is "slim". There is value in keeping a generic type small because its code is ge

[2019-07-17 16:11] anucii opened #39570 "[Bug] System.Linq.IQueryable SelectMany provokes a System.NullReferenceException at evaluation"
Hi,

I had the following issue when trying to flatten a nested IEnumerable instance using an lambda expression. I could avoid this issue by using a function instead (hence using the Linq.Enumerable version of SelectMany).
Some indications:
- products are my base objects, which are related to other database entities like Suppliers
- context is my connection context to my database.
- I checked by al

[2019-07-17 16:19] jpfreyen commented on #39434
@watforgnf I would agree, pbi_start_tvsec/pbi_start_tvusec would be a good place to start for macOS.

And @watfordgnf do you mean /proc/{pid}/stat instead of /proc/stat?

[2019-07-17 17:07] krwq commented on #39364
@tmds I believe until we got 2 APIs it's actually more useful to get argv[0] since you can write additional logic to get it yourself while getting actual argv[0] with current solution requires native call as in above workaround.

I agree there should eventually be helper function to get user friendly name (that would be useful even for `dotnet run` where you most likely don't want to see dotnet pa

[2019-07-17 17:14] karelz commented on #37997
@davidsh @stephentoub can you please help decide which option is best for 3.0 vs. Future?
Thanks!

[2019-07-17 17:15] karelz commented on #38444
@krwq do you have time to help with this one please?

[2019-07-17 17:29] watfordgnf commented on #39434
It pulls `starttime` from `/proc/{pid}/stat`, which is in ticks since boot. Boot time is then pulled from `/proc/stat`. It falls back to adding `starttime` to `DateTime.UtcNow` in the event `/proc/stat` parsing fails (for whatever reason).

[2019-07-17 17:38] watfordgnf commented on #39434
I've opened draft PR #39572 to discuss a possible implementation.

[2019-07-17 17:43] karinazhou commented on #37695
Hi @danmosemsft ,
The connect timeout has been increased to 30s as suggested. Please feel free to let us know if the issue is still happening.
Thanks!

[2019-07-17 17:47] krwq commented on #38444
I'm not particularly concerned about these test failures where one side is allowed to speak <= Tls1.1 and the other is allowed to speak Tls1.3 (default). Opting into TLS 1.3 adds a lot of restrictions on what ciphersuites can be used and only TLS1.3 and some TLS1.2 cipher suites match those critieria.

For tests which use default/TLS1.3 and other side TLS1.0/1.1 we should instead of passing defaul

[2019-07-17 17:48] micampbell commented on #35434
I'm unclear what you mean by "undefined".

Also - with the change in flag - should I produce a pull-request? or is this unnecessary?

[2019-07-17 17:50] davidsh commented on #38444
So, you consider this a test bug and not a real product related scenario that customers would do?

If so, can we fix the test to be better and more realistic of the scenarios we should be testing?

[2019-07-17 17:51] danmosemsft commented on #37695
thanks @karinazhou

[2019-07-17 17:51] #37695 closed

[2019-07-17 17:57] krwq commented on #38444
@davidsh correct, this does not look like product bug but rather improper usage (or rather - update your client/server scenario).

TLS 1.3 made a breaking change of making stuff more secure and trusting less stuff which means that client/server using TLS 1.3 by default will not trust anything which doesn't speak at least TLS 1.2.

Having said that, it is a realistic scenario that you might want to

[2019-07-17 18:00] davidsh commented on #38444
@krwq Can you make a PR to fix this?  And after than prep one for release/3.0?

[2019-07-17 18:02] krwq commented on #38444
@davidsh I can make one but I'll need a Dockerfile, docker image or some vm for testing on that specific configuration

[2019-07-17 18:04] davidsh commented on #38444
@wfurt or @wtgodbe can help point to the right Docker image.

[2019-07-17 18:17] kdg3737 commented on #1942
That makes sense for your 'slim' Dictionary, but the topic here is about the regular Dictionary which as-still-is requires a double lookup for a contains-add. The smallest devices we run .net/mono on have 4GB ram these days so it's unlikely we'd ever need or want this 'slim' variant, even with hundreds of different jitted Dictionary types. I'm way more interested in saving CPU cycles (and developm

[2019-07-17 18:22] tannergooding commented on #35434
If you would like to submit a PR adding the functionality, that would be greatly appreciated 😄

[2019-07-17 18:23] tannergooding commented on #35434
It was raised that a cross product vectors in non 3 or 7 dimensional space is "technically" not defined and the algorithm for 2/4 dimensions is realistically just a simplification/optimization on the higher dimensioned versions.

That is, 3-dimensions is:
[code]

If you assume a 2-dimensional vector has 0 for the e2 component, you end up with:
[code]

Which simplifies to the following, so you only

[2019-07-17 18:25] danmosemsft commented on #1942
@kdg3737 I see, I was confused because your example was `DictionarySlim`. I think if this scenario is important to you, I would open a new issue in this repo to trigger further discussion.

Because of the "code bloat" mentioned in my comment above, we're careful about adding more code into Dictionary, but we can talk about it.

[2019-07-17 18:57] tmds commented on #37997
I would prefer this as a separate API that makes explicit the passed value is the raw value, e.g. accept an `int` and not an `AddressFamily`.

That has been implicitly the case so far. The values match Windows AF_ constants.

`SocketAddress` is the OS specific representation of an `EndPoint`.

[2019-07-17 19:04] ericstj commented on #39502
Your repo built and the program ran successfully for me.  I noticed a bunch of unnecessary references which can be removed, but I couldn't reproduce the ref.emit issue even after removing all these.
[code]

What SDK version are you using?  Can you shared dotnet --info?

[2019-07-17 19:11] tmds commented on #39364
The current implementation of `ProcessName` helps users identify the correct process. There are no issues reported for this.
The login shell is the niche use-case so I'd rather have the additional logic there, than change what `ProcessName` is returning now.

[2019-07-17 19:16] devhl-labs commented on #39502
[code]

[2019-07-17 19:25] devhl-labs commented on #39502
This only happens when using the latest version from https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json

[2019-07-17 19:32] krwq commented on #38444
I'm actually considering to make this scenario always fail when TLS 1.3 is available (basically restrict OpenSSL further meaning that if your openssl can support TLS 1.3 then SslProtocols.None would imply TLS 1.2 or TLS 1.3 rather than different result depending on OpenSSL's build (i.e. with my latest OpenSSL 1.1.1c this test is passing where I don't think it should). cc: @bartonjs

I'm a bit torn

[2019-07-17 19:40] wfurt commented on #38444
we should also make sure Tls1.0 and Tls1.1 works when explicitly configured.

[2019-07-17 19:59] bartonjs commented on #38444
The unspecfied protocols should be the OS/library defaults.  They can be changed in config.  We shouldn't interfere.

[2019-07-17 20:01] ericstj commented on #39502
I see, this is happening because you're mixing/matching builds.  You're using the preview8 Json package on the preview6 shared framework.  It's broken because https://github.com/dotnet/corefx/commit/ab58ff6e649852b85fdb99b15992a2fa3a7d8834#diff-17b8c81ffa387b6afeb9ca0d9b67fd1bR4 bumped the version of Ref.Emit since API was added.

Most of the time this is OK, but when we move types or bump assembl

[2019-07-17 20:02] #39502 closed

[2019-07-17 20:06] krwq commented on #38444
fair enough, will update the tests

[2019-07-17 20:28] stephentoub opened #39575 "Assert failure in _buffersize_buffersize_buffersize_cmd event pipe test"
https://mc.dot.net/#/user/coreclr-ci/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fpull~2F25752~2Fmerge/test~2Ffunctional~2Fcli~2F/20190717.21/workItem/PayloadGroup0/analysis/xunit/tracing_eventpipe._buffersize_buffersize_buffersize_~2F_buffersize_buffersize_buffersize_cmd
[code]

[2019-07-17 22:09] krwq commented on #38444
hmm, seems there is some product bug here on top of test issues. This mostly matches with what @wfurt wrote above, I'll investigate further.

I've already tried clearing security options, added all known legacy flags to ssl options but it still won't connect when forcing TLS 1.0 when s_client does.

[2019-07-17 22:14] janvorli commented on #38053
I was able to repro this issue on my Raspberry Pi 3 with the coreclr from June 27 reliably. However, with the coreclr from the latest master, it no longer repros, so it seems it was fixed. I am closing this issue.

[2019-07-17 22:14] #38053 closed

[2019-07-17 22:18] krwq commented on #38444
Ok I think I know what's wrong. We currently set protocols using SSL_CTX_set_options explicitly but there is also orthogonal way to set that (orthogonal: they end up combining restrictions).

We need to clear that when doing explicit set:

[code]

I will send a PR after I finish investigating remaining test (there were more than 50 failing tests when I started)

[2019-07-17 23:07] ericstj commented on #39542
@joperezr can you double check that we set the baselineversion for this in the packageIndex?

[2019-07-17 23:37] wtgodbe opened #39580 "Remove System.Private.Corelib from IgnoredReference list in 3.0 package testing"
Once we get a new `Microsoft.NETCore.App` package that has built against 5.0 CoreClr, we can stop ignoring System.Private.Corelib in package testing for `netcoreapp3.0`.

See https://github.com/dotnet/corefx/pull/39567/files#diff-2b742453e0298de8be359c65572f0886R23

See https://github.com/dotnet/corefx/pull/39567#issuecomment-512597034 for context

[2019-07-17 23:49] danmosemsft commented on #36652
Would this attribute be in the binary you deploy with your app (ie ship to customers)? That seems undesirable. Perhaps you would conditionally define it so it didn't?

[2019-07-18 00:37] cheenamalhotra commented on #38895
Hi @suthrams

I'm trying to run the repro code you provided and I'm getting an `System.IndexOutOfRangeException: 'Index was outside the bounds of the array.'` error. Is that the same error you're reporting here or something else?

[2019-07-18 01:51] AriNuer opened #39581 "Test failure : System.Net.Tests.HttpWebRequestTest/PreAuthenticate_SetAndGetBooleanResponse_ValuesMatch(remoteServer: http://corefx-net-http11.azurewebsites.net/Echo.ashx)"
Test `System.Net.Tests.HttpWebRequestTest/PreAuthenticate_SetAndGetBooleanResponse_ValuesMatch(remoteServer: http://corefx-net-http11.azurewebsites.net/Echo.ashx) ` has failed.

Message :
[code]
Stack Trace :
[code]
Build: -[20190717.35](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F~2F/20190717.35)(Master)

Failing configuration:

- Wi

[2019-07-18 01:59] JamesNK opened #39582 "HTTP2: Hang when writing sending large data to completed request"
Writing large data to the request stream (Http2WriteStream retrieved from SerializeToStreamAsync) will hang if the server has finished. I would have expected Stream.WriteAsync to error.

Repro:
1. `git clone https://github.com/JamesNK/grpc-dotnet.git`
2. `git checkout jamesnk/unimplemented-duplexstream`
3. `dotnet test test\FunctionalTests --filter Name~DuplexStream_SendToUnimplementedMethod_Hang`

[2019-07-18 02:07] stephentoub commented on #39582
Isn't that the bug here?

[2019-07-18 02:15] JamesNK commented on #39582
Does a server always have to read the client request to prevent the client from hanging?

In this scenario the client has called the wrong location and the server sends them a simple status - HEADERS - saying so, followed by RST_STREAM (NO_ERROR)

[2019-07-18 02:19] JamesNK commented on #39582
1. Client sends request headers (plus some data straight away)
2. Client sends more data
3. Server responds with response headers and stream reset

![image](https://user-images.githubusercontent.com/303201/61424216-e7aace80-a966-11e9-84a1-9ed23f20e535.png)

[2019-07-18 02:26] JamesNK commented on #39582
https://github.com/dotnet/corefx/issues/39458

Same issue?

[2019-07-18 02:41] davidsh commented on #39581
There are currently Azure infrastructure issues with DNS right now.  It is affecting network traffic in CI.  So, this is a transient error.

[2019-07-18 08:45] karelz commented on #38444
Wow, impressive turnaround time, thank you @krwq!

[2019-07-18 09:30] gfoidl opened #39583 "FromBase64Transform.InputBlockSize = 1 instead of 4"
https://github.com/dotnet/corefx/blob/ba2d62a24ea8574f40c43cd27cc384f079958a0c/src/System.Security.Cryptography.Encoding/src/System/Security/Cryptography/Base64Transforms.cs#L127

For base64 decoding 4 input bytes are transformed / decoded to 3 output bytes.
https://github.com/dotnet/corefx/blob/ba2d62a24ea8574f40c43cd27cc384f079958a0c/src/System.Security.Cryptography.Encoding/src/System/Security/

[2019-07-18 10:40] stephentoub commented on #39582
Yes, if the issue is that the client isn't respecting RST_STREAM while sending the request body, that's the same issue.

[2019-07-18 10:40] #39582 closed

[2019-07-18 11:00] JamesNK commented on #39458
See https://github.com/dotnet/corefx/issues/39582 for a hang caused by this issue in gRPC.

[2019-07-18 11:08] JamesNK opened #39586 "HTTP2: Hang when sending multiple requests from a HttpClient"
I'm not sure what the cause of this hang is, it appears to happen at HttpClient.SendAsync when the client has made at least one previous call.

Repro:
1. `git clone https://github.com/JamesNK/grpc-dotnet.git`
2. `git checkout jamesnk/hang-multiple-calls`
3. `dotnet test test\FunctionalTests --filter Name~DuplexStream_SendToUnimplementedMethodAfterResponseReceived_Hang`

Logic in the test is like:

[2019-07-18 11:14] JamesNK commented on #39586
The network traffic in Wireshark is **weird**

In this example the third call hung.

![image](https://user-images.githubusercontent.com/303201/61453145-80fed280-a9b1-11e9-9623-097ff5410ff5.png)

1. Client sends RST_STREAM to the server.
2. Client sends an empty DATA to the server after RST_STREAM.
3. Client sends request HEADERS and RST_STREAM (CANCEL) to the server at the same time.

[2019-07-18 13:06] stephentoub commented on #39586
There are currently several RST_STREAM/dispose/cancel related issues that @geoffkizer is revamping the implementation to fix:
https://github.com/dotnet/corefx/issues/39461
https://github.com/dotnet/corefx/issues/39460
https://github.com/dotnet/corefx/issues/39459
https://github.com/dotnet/corefx/issues/39458
https://github.com/dotnet/corefx/issues/39404

My guess is that this is a duplicate of one

[2019-07-18 13:17] stephentoub commented on #30644
This was fixed for 3.0.  AppDomain.MonitoringTotalAllocatedMemorySize works, just delegating to the new GC.GetTotalAllocatedBytes method.

[2019-07-18 13:17] #30644 closed

[2019-07-18 13:25] stephentoub commented on #933
I'm closing this due to age and the numbers here are very stale.  We should revisit where code coverage is most impactful to improve.

[2019-07-18 13:25] #933 closed

[2019-07-18 13:29] eiriktsarpalis commented on #39545
Would you be able to point to examples of failing builds? I'm going through the outerloop build history but haven't been able to find failing instances (presumably because they have been skipped since the beginning of time?). [Example 1](https://dev.azure.com/dnceng/public/_build/results?buildId=230241&view=ms.vss-test-web.build-test-results-tab&runId=5703398&resultId=267809&paneView=history) or [

[2019-07-18 13:31] eiriktsarpalis commented on #39545
I think it's probably this failing pr build: https://dev.azure.com/dnceng/public/_build/results?buildId=265300&view=ms.vss-test-web.build-test-results-tab&runId=7206096&resultId=100021

[2019-07-18 13:32] stephentoub commented on #14419
Not worth proactively adding more testing here.

[2019-07-18 13:32] #14419 closed

[2019-07-18 13:42] stephentoub commented on #18424
Determined in https://github.com/dotnet/corefx/pull/19818 that the current tests are ok.

[2019-07-18 13:42] #18424 closed

[2019-07-18 13:46] stephentoub commented on #22891
We will continue to rely on Rx for this.  If you're working with observables, you're using it anyway.

[2019-07-18 13:46] #22891 closed

[2019-07-18 13:46] danielmeza commented on #35559
@ajcvickers  We are open to make pull request to do this feature? or it need to be discussed first?

[2019-07-18 13:46] stephentoub commented on #23796
netfx-specific test issue.

[2019-07-18 13:46] #23796 closed

[2019-07-18 13:48] stephentoub commented on #27065
Closing as "won't fix", as this is a minor behavioral difference in a corner case in a deprecated component only used when a particular environment variable is set.

[2019-07-18 13:48] #27065 closed

[2019-07-18 13:50] stephentoub commented on #27066
A lots changed since this was opened.  Closing for now.  If we observe a real issue here, we can re-open.

[2019-07-18 13:50] #27066 closed

[2019-07-18 13:54] stephentoub commented on #23159
We no longer run these tests on netfx.

[2019-07-18 13:54] #23159 closed

[2019-07-18 13:55] #35309 closed

[2019-07-18 13:59] stephentoub commented on #37415
Since we think a recent fix could have impacted this, closing until we see it again.

[2019-07-18 13:59] #37415 closed

[2019-07-18 14:00] #39136 closed

[2019-07-18 14:12] M05pr1mty commented on #24790
Is there any movement on this please? Specifically interested in  1. Run WMI queries across a network from an app running on Linux, Thanks!

[2019-07-18 14:18] #38990 closed

[2019-07-18 14:42] chrisnas opened #39592 "weird version of downloaded runtime when building aspnet core repo"
I've cloned the aspnetcore repo
![image](https://user-images.githubusercontent.com/10163781/61466443-357d0200-a97a-11e9-9c10-a1a4c746fbe8.png)
and tried to rebuild it on Windows with build.cmd

During the .NET Core runtime installation process, I see **preview8** versions downloaded while the preview 7 is not even available yet
- SDK: 3.0.100-preview6-012264
- runtime: 3.0.0-preview8-27914-06

[co

[2019-07-18 14:45] davidsh commented on #39592
The master branch is already on "preview 8" level because the code has forked into the release/3.0 branch.  The release/3.0 branch is at "preview 7" level.  We expect .NET Core 3.0 Preview 7 to formally release to the public soon.

[2019-07-18 14:52] benaadams opened #39593 "CI not running for PRs"
CI is currently not running for PRs and don't show up in checks:

![image](https://user-images.githubusercontent.com/1142958/61467434-82a9a580-a973-11e9-8bca-e164baf793bc.png)

Examples https://github.com/dotnet/corefx/pull/39560 https://github.com/dotnet/corefx/pull/39574 https://github.com/dotnet/corefx/pull/39584 https://github.com/dotnet/corefx/pull/39585 https://github.com/dotnet/corefx/pull/

[2019-07-18 15:02] bartonjs commented on #39583
Once visible changes are being made, perhaps it also makes sense to set CanTransformMultipleBlocks to true, which means CryptoStream will pass it as much data as it has available (up to the block size) on each TransformBlock call (though that means it'll almost never use the stackalloc buffers).

[2019-07-18 15:07] karelz commented on #39592
@wtgodbe @ViktorHofer @safern can you please take a look?

[2019-07-18 15:12] ViktorHofer commented on #39592
What's the issue here? I can't see any errors in the log.

[2019-07-18 15:26] ViktorHofer opened #39595 "Remove coverlet.console dev feed"
Tracking issue to remove the coverlet dev feed that is introduced with https://github.com/dotnet/corefx/pull/39596 as soon as a new stable version is pushed to nuget.org.

[2019-07-18 15:30] stephentoub commented on #39593
@dotnet/dncenghot, CI isn't running for coreclr or corefx.

[2019-07-18 15:34] stephentoub commented on #29890
If we haven't done this in a year, it's obviously not important to track anymore.

[2019-07-18 15:34] #29890 closed

[2019-07-18 15:36] stephentoub commented on #39592
This looks fine to me. As David said, our dev branches pull builds based on other repo's dev branches, which are generally newer than what's been released.

[2019-07-18 15:37] #39592 closed

[2019-07-18 15:40] stephentoub commented on #27084
We appreciate the suggestion, but we have no plans to do this. It's better handled by async enumerables, and if the task-based approach is really desired, it could be done just as well by any community-provided library.

[2019-07-18 15:40] #27084 closed

[2019-07-18 15:41] MattGal commented on #39593
Self-assigned before realizing it was a corefx, not core-eng issue :)  I'm looking into it either way;  seems to be related to yesterday's massive outage.

[2019-07-18 15:42] stephentoub commented on #14729
@vsadov, should we close this at this point?

[2019-07-18 15:44] stephentoub commented on #19698
Agreed. This goes against the general approach we've tried to maintain with LINQ.

[2019-07-18 15:44] #19698 closed

[2019-07-18 15:44] stephentoub commented on #21260
We no longer run ILC variants.

[2019-07-18 15:44] #21260 closed

[2019-07-18 15:49] MattGal commented on #39593
This should be unblocked (close / reopen your PRs to be certain).

Root cause : The GitHub app for AzDO pipelines seems to have been flipped to only work for the Nuget BuildTasks repo.  This might be related to the outage, or human error; we're following up to figure out why but please check and confirm you are unblocked.

[2019-07-18 15:53] benaadams commented on #39593
Seems to be working; thank you

[2019-07-18 15:53] #39593 closed

[2019-07-18 15:54] danmosemsft commented on #39565
cc @jkotas may know.

[2019-07-18 15:55] danmosemsft commented on #39565
@NMSAzulX  Benchmark.NET should be generating a markdown file for you that can be pasted into the Github issue. Easier to read and search than a screenshot. 😸

[2019-07-18 16:23] chrisnas commented on #39592
When switching to release/3.0-preview7 branch, the preview7 version of the runtime is downloaded
Got it.

[2019-07-18 16:38] gfoidl commented on #39583
I can look at this point, and see if it is benefitial.

But it will still be non-allocating, as the buffers will be rented from the array pool.

---

So this means I can submit a PR to address these points?

[2019-07-18 16:49] bartonjs commented on #39583
Yep.

@ericstj This would be a "user visible runtime change" in 5.0... I thought you had made a tag that we can apply to the issues/PRs so we can make sure they all get documented... but I don't see one.  Am I not clever enough at my name guessing, or have we just not made it yet?

[2019-07-18 17:07] VSadov commented on #14729
Yes. I think the question was settled at:
- we do run selectors/predicates as a part of aggregating queries. Ex: `.Count` runs all the preceding selectors on all elements.
- GetCount(bool onlyIfCheap) is used only for sizing of internal buffers, not for skipping sideeffects.
- we draw the line at operators that do not imply a particular implementation - Ex: `OrderBy`, `GroupBy` can elide/reorder/d

[2019-07-18 17:08] #14729 closed

[2019-07-18 17:30] VladimirKhvostov opened #39601 "CryptoConfig.CreateFromName in dotnet core is about 4.5 times slower than the same method in .NET Framework"
CryptoConfig.CreateFromName in the dotnet core is about 4.5 times slower than the same method in .NET

I wrote a simple app:
[code]
My desktop machine has i7-7820X CPU.
Here are results:

|Number of threads |  .NET 4.8 (time in ms) |  .NET core 3.0.0-preview8-27917-01 (time in ms)|NET core 3.0.0 + fix (time in ms) PR #39600|
|--|--|--|--|
|1|380|81|103|
|2|460|101|120|
|4|490|120|130|
|8|790-980|2

[2019-07-18 17:44] LokiMidgard opened #39602 "[Uri] Uri does no accept mailto protcoll with multiple recipients"
Trying to create following Uri `new Uri("mailto:test1@test.de,test1@test.de")` will result in an Exception `System.UriFormatException: 'Invalid URI: The hostname could not be parsed.'`.

If I understand RFC 6068 correctly, You should be able to splitt multiple addresses with a `,`

[code]

[2019-07-18 17:46] krwq opened #39603 "Transport packages should not be signed"
Per discussion here https://github.com/dotnet/corefx/pull/36022#discussion_r265347843
we should not sign symbol and *.Private.* packages as it adds some observable amount of time to the overall signing time (few minutes?) - we currently do it in parallel with testing so overall time might be similar.

Related code:
https://github.com/dotnet/corefx/blob/master/eng/Signing.props#L13

cc: @mmitche

[2019-07-18 17:53] mmitche commented on #39603
Thanks

[2019-07-18 18:08] vcsjones commented on #39601
/cc @bartonjs

[2019-07-18 18:10] blowdart commented on #39603
Are these files distributed? Or are they thrown away at some point?

[2019-07-18 18:17] blowdart commented on #39603
Also @GrabYourPitchforks

[2019-07-18 18:19] ericstj commented on #39583
It's 'breaking-change', and should be put on the PR if it is breaking in its merged form.

[2019-07-18 18:21] #39271 closed

[2019-07-18 18:23] jpfreyen commented on #39434
Thanks for the fix @watfordgnf; I can't help test, my work environment is totally not setup to build .NETCore code changes and try them.

[2019-07-18 18:23] stephentoub commented on #39381
Failed again here:
https://github.com/dotnet/corefx/pull/39587/checks?check_run_id=172037393

[2019-07-18 18:23] #16041 closed

[2019-07-18 18:25] mmitche commented on #39603
@blowdart Those aren't, they are pulled apart and their internals are repackaged. They never make it to nuget.org,  So the binaries inside should be signed, but we don't need to sign the packages themselves.

[2019-07-18 18:26] blowdart commented on #39603
Ah so the innards remain signed? This is just something to shuttle things arounds?

[2019-07-18 18:27] safern commented on #39603
They are consumed by core-setup... also, most of the contents in those packages, are crossgen'd by core-setup before re-packaging and are signed again in core-setup, so we're double signing some pieces. (I believe the runtime assemblies are the one crossgen'd, but not the ref assemblies).

cc: @dagood @ericstj

[2019-07-18 18:28] blowdart commented on #39603
Ok I shall wind down then :)

[2019-07-18 18:29] mmitche commented on #39603
Right. The goal is just to get a minimal set of signed files, because signing is a big part of the build right now (adds about an hour to the build time, taking more time than it takes to actually build the code)

[2019-07-18 18:30] blowdart commented on #39603
Well of course signing is slow, that's how you know it's secure ;)

[2019-07-18 18:35] jkotas commented on #39565
The `dynamic` keyword runs a lot of code underneath, and so you will see improvements it its performance as the core capabilities (e.g. code quality or more primitive framework APIs) are improved.

Also, some of your benchmarks above are dominated by object allocation performance. They are not really testing `dynamic` or `Reflection.Emit`.

[2019-07-18 18:35] #39565 closed

[2019-07-18 19:27] ehasis commented on #31181
#39574

[2019-07-18 19:59] joperezr commented on #39542
I sent out a PR for this. I have tested that both packages now produce the expected package dependency.

[2019-07-18 20:00] KathleenDollard commented on #31181
@ehasis It looks like you are correct that this has gotten out of date. I'm on vacation until July 28, and I think @cston and @danmosemsft are tied up won't have time to cross check this list. If you see any that have been ported, please feel free to add a comment here, and we will update the list when we can.

Sorry.

[2019-07-18 20:10] mmitche commented on #39603
@blowdart Oh, that makes so much sense.  Now I know how to implement certificate verification.

[code]

[2019-07-18 21:46] stephentoub commented on #37095
This is a very specific API.  I've no doubt it would be useful in a limited set of scenarios, but I don't think it warrants being added to Enumerable itself, where we want to expose only the broadest and most impactful set of extensions.  It can be achieved with the existing set of LINQ methods, and a dedicated implementation can easily be added as an extension method in any of the myriad of LINQ

[2019-07-18 21:50] geoffkizer commented on #39545
Yeah, that's one of the runs I saw. There was at least one other run on that PR (before I disabled the tests) that failed both as well.

[2019-07-18 21:53] geoffkizer commented on #39586
Yep, it's very likely related to those issues. The trace you posted is pretty weird, but we have some weird coordination issues here. I'm hopeful this will get addressed as part of the overall fix here.

[2019-07-18 21:55] stephentoub commented on #13909
I actually do think it's a fair substitute.  The goal of `Enumerable` isn't to provide every possible extension method, but rather to provide the most useful and impactful set of methods that enable the most common scenarios and that can be composed to implement others.

The three examples motivating this provided were:
[code]
That can be accomplished today with Enumerable today with:
[code]
New A

[2019-07-18 21:59] eiriktsarpalis commented on #39545
FWIW that failure is targeting the platform handler.

[2019-07-18 21:59] stephentoub commented on #14119
I'd like to question the premise here.  In Ix there is an existing popular library, available from NuGet, for free, that already enables any developer using .NET to get this functionality.  What's the benefit of copying that functionality into Enumerable?  I would much rather spend such efforts removing whatever roadblocks exist for folks to partake in the NuGet ecosystem.

[2019-07-18 22:11] stephentoub commented on #26698
Why is this not just:
[code]
?

[2019-07-18 22:13] stephentoub commented on #20563
While it could be nice to catch such user errors, I don't see how it would be done in LINQ without adding considerable cost to correct code.  And as @svick highlights, an infinite loop should be fairly easy to debug.  Thanks for the suggestion.

[2019-07-18 22:13] #20563 closed

[2019-07-18 22:35] stephentoub commented on #24773
Closing as dup of https://github.com/dotnet/corefx/issues/26579

[2019-07-18 22:35] #24773 closed

[2019-07-18 22:35] stephentoub commented on #17629
Closing as dup of https://github.com/dotnet/corefx/issues/26579

[2019-07-18 22:35] #17629 closed

[2019-07-18 22:44] stephentoub commented on #36955
I'm not sure what you mean.  LINQ has been almost entirely rewritten in .NET Core over the last few years, and has received attention and optimizations in almost if not every .NET Core release.  There also have been new APIs added, such as TakeLast, SkipLast, Append, and Prepend.

The vast majority of such requests are incredibly specialized.  There is cost to both the implementers and consumers o

[2019-07-18 22:44] #36955 closed

[2019-07-18 22:44] stephentoub commented on #35054
Closing as dup of https://github.com/dotnet/corefx/issues/35054.

[2019-07-18 22:44] #35054 closed

[2019-07-18 22:45] #29560 closed

[2019-07-18 22:50] stephentoub commented on #32878
Thank you for the suggestion, but we're not going to proceed with this.  While the existing naming may not be to everyone's liking, this suggestion and variations of it are all accomplishable with Any, All, !Any, and !All.  The benefit to adding additional method that exist just to provide different names doesn't outweigh the costs, both to the implementers/maintainers of that functionality and to

[2019-07-18 22:50] #32878 closed

[2019-07-18 22:52] stephentoub commented on #17094
Thank you for the suggestion, but for the reasons I previously highlighted, we're not going to proceed with this proposal.

[2019-07-18 22:52] #17094 closed

[2019-07-18 22:56] stephentoub commented on #18755
Everything here is behaving by design.  Tasks need to be able to propagate exceptions to wherever that Task is later awaited, which means the exceptions must be caught and stored, and then it's only when we can be sure that the Task will never have its exception observed that we can raise the unobserved event... and the only way we can know that is when the object becomes collectible from the GC's

[2019-07-18 22:56] #18755 closed

[2019-07-18 22:57] stephentoub commented on #25659
ManualResetValueTaskSourceCore is shipping in .NET Core 3.0.

[2019-07-18 22:57] #25659 closed

[2019-07-18 23:07] joperezr commented on #39542
Closed via #39605

[2019-07-18 23:07] #39542 closed

[2019-07-18 23:10] jnm2 commented on #26698
@stephentoub @Thaina seemed particularly interested in the unwrapping of nullable values (second overload).

[2019-07-18 23:32] joperezr commented on #39537
My plan here would be to basically do two things:

- [ ] For 3.0, I would add a test on the all configurations leg that will go and ensure that for every package that has harvested assets, we will make sure that the package version we used to harvest is the latest of that era. For example, if we are harvesting package 4.5.1, the test will make sure that we haven't shipped a 4.5.x where x is greate

[2019-07-18 23:48] geoffkizer commented on #39545
Interesting. That would seem to point to the issue being either (a) CI slowness or (b) remote server slowness, as opposed to a product issue, since it seems to happen with different handlers.

[2019-07-18 23:55] geoffkizer commented on #35309
Do we have an issue to track pooling of Http2Stream objects? Seems like we should at least consider this for the future.

[2019-07-19 00:10] geoffkizer commented on #39544
If you want to submit a PR, you're welcome to. Contributions are definitely appreciated.

Before getting too far with the actual code change, though, we should agree on the desired behavior. How are you proposing this should work?

[2019-07-19 00:16] wtgodbe opened #39611 "Improve protocol for Experimental packages"
Right now, we have 2 experimental packages in CoreFx - https://github.com/dotnet/corefx/tree/master/src/System.Utf8String.Experimental and https://github.com/dotnet/corefx/tree/master/src/System.Runtime.Intrinsics.Experimental. Both block themselves from shipping stable by setting `BlockStable=true`: https://github.com/dotnet/corefx/blob/182bed51dec709b3b1b56a4f435e0727e5dea110/src/System.Runtime.

[2019-07-19 00:18] geoffkizer commented on #39544
Looking at your "possible solutions" from the original post:

(1) seems reasonable to me. I assume you are also proposing something re HTTP/1.0 here. Specifically, that in the 1.0 case, we never implicitly set TE for you, and thus if you don't have a Content-Length then we will end up in this new case where we buffer.

This would result in two changes in behavior, as I can see it:
(a) If you use H

[2019-07-19 00:19] geoffkizer commented on #39544
BTW, for doing the actual buffering, we should be able to just use HttpContent.LoadIntoBufferAsync, I believe.

[2019-07-19 00:21] safern commented on #39611
I think this pieces should get all together once we improve the docs and ApiCompat layout generation by using the Microsoft.NETCore.App package as the source of truth for the docs. I’ve been currently generating those drops manually and I missed that these where there. Will consider for P8 to avoid having them show up in the docs.

[2019-07-19 00:52] ahsonkhan commented on #39611
Also adding area owners, @tannergooding, @GrabYourPitchforks

[2019-07-19 01:05] NMSAzulX commented on #39565
@jkotas  @danmosemsft Thank you!   :)
And @jkotas Is there any official code for dynamic performance testing? I want to learn it.

[2019-07-19 01:07] stephentoub commented on #39545
I put it in a loop.  In < 100 iterations for each of a PlatformHandler, SocketsHttpHandler 1.1, and SocketsHttpHandler 2.0 test, I got hangs, e.g. taking greater than 10 minutes.  They're all stuck trying to write to the network, which suggests that the connection is full because the server has simply stopped reading.  @davidsh, where's the code for the endpoint these talk to?

[2019-07-19 01:15] jkotas commented on #39565
https://github.com/dotnet/performance repo has all our performance microbenchmarks. I do not see any microbenchmarks for `dynamic` keyword there. If you would like to contribute some, PRs are welcomed.

[2019-07-19 01:22] NMSAzulX commented on #39565
@jkotas Thanks. OK.

[2019-07-19 01:56] Thaina commented on #26698
@stephentoub It obviously shorter and reduce number of delegates

[2019-07-19 02:06] bartdesmet commented on #14119
I'm totally for growing the ecosystem and ironing out any wrinkles that may hinder adoption of libraries through NuGet.

One of the motivating issues for opening this was the conflict introduced by TakeLast and SkipLast in Ix where the same extension method ended up being provided in .NET, thus having to add #if in Ix to create different build flavors to resolve the ambiguity for users of those op

[2019-07-19 02:06] ahsonkhan commented on #39540
The initial change was relatively straightforward, and as @stephentoub mentioned, my perf runs showed a benefit (granted, I only ran on windows-x64).

Looks like the regression showed up on windows, but @stephentoub couldn't repro it. I can try to run the benchmark locally myself to verify. @adamsitnik - you noticed the regression on OSX as well (but not on Ubuntu). I don't know what to make of th

[2019-07-19 02:57] ahsonkhan commented on #39540
[code]
|                Method | Size |     Mean |    Error |   StdDev |   Median |      Min |      Max | Gen 0/1k Op | Gen 1/1k Op | Gen 2/1k Op | Allocated Memory/Op |
|---------------------- |----- |---------:|---------:|---------:|---------:|---------:|---------:|------------:|------------:|------------:|--------------------:|
| BitArrayBoolArrayCtor |  512 | 667.8 ns | 19.54 ns | 22.51 ns | 6

[2019-07-19 03:29] stephentoub commented on #26698
Yes, that's true for any LINQ usage of multiple operators; you could always create a new operator that represented the combination. I'm not seeing why this particular combination is so valuable and generally in need by many developers that it would warrant a dedicated method.

[2019-07-19 03:35] stephentoub commented on #39570
cc: @divega, presumably this should be moved to the EF repo?

[2019-07-19 03:41] Thaina commented on #26698
@stephentoub Because I think this is most common logic. To select something and also filtering at the same time. Without the need to pollute code with `.Where(n => n != null)` everywhere we could just indicate that we don't need `null`

[2019-07-19 05:35] divega commented on #39570
_This issue was moved to https://github.com/aspnet/EntityFrameworkCore/issues/16665_

[2019-07-19 05:35] #39570 closed

[2019-07-19 06:05] LokiMidgard opened #39614 "System.Diagnostic.Process.Start(...) does not Support mailto: protocoll"
Porting a .Net Framework App to .Net Core 3.0, I was not able to invoke the default mail client with the `mailto:` protocoll using `System.Diagnostics.Process.Start(...)`.

.Net Core `3.0.100-preview5-011568`
Windows 10 1809
Outlook 2016

Sampe code to reproduce

[code]

The Exception that occures: `System.ComponentModel.Win32Exception: 'Das System kann die angegebene Datei nicht finden.'` (Transl

[2019-07-19 08:07] PRIMETSS commented on #35722
Hit this problem today and spent a bit of time on it and here are some quick info I found that might help?
Really want to see this resolved, as like someone has mentioned before, COM port #'s can change when devices are hot swapped, so with no real way of enumerating COMPort # it will cause some issue using Serial Devices.

[code]
Needed to get COM port # of a USB LORA radio module that emulates a

[2019-07-19 09:11] mattwarren commented on #39565
@NMSAzulX It's not code, but you might also want to have a read of [Microbenchmark Design Guidelines](https://github.com/dotnet/performance/blob/master/docs/microbenchmark-design-guidelines.md) that @adamsitnik just published.

[2019-07-19 10:26] wrathofodin opened #39615 "HttpCompletionOption.ResponseHeadersRead is causing deadlock in .NET Framework"
This bug is not present in CoreFX (which is good news).

This is only present when using the full .NET Framework (as it's not using CoreFX)

Run this code using any .NET Framework version (I used 4.8) and then run it using .NET Core.
[code]

Related issue: https://github.com/reactiveui/refit/issues/449

Possible location:

https://github.com/microsoft/referencesource/blob/aaca53b025f41ab638466b1ef

[2019-07-19 10:38] zeroskyx opened #39616 "API proposal: add IEnumerable<byte> overload to System.IO.File.WriteAllBytesAsync API"
Greetings,

the current API for `System.IO.WriteAllBytesAsync` **only supports byte[]** as an input.

This **prevents the usage of other buffer formats** such as `ImmutableArray<>`.

It would be great if we had an **additional overload** with `IEnumerable<byte>` for both the Async and the Sync version of write all bytes, just as `System.IO.WriteAllTextAsync` does.

[2019-07-19 10:46] earlbread opened #39617 "Socket.Select doesn't work as expected on macOS"
On macOS, `Socket.Select` method doesn't work as expected. In .NET Framework, it works as expected.

[code]

## Expected result:
The following output is written to stdout:
[code]

## Actual result:
The following output is written to stdout:
[code]

## Dotnet Info
[code]

[2019-07-19 11:19] Tornhoof commented on #39616
I imagine one of the problems with that API would be that you'd need to still enumerate the bytes to write them in a block or write each byte individually and that would be slow.

Your best bet for ``ImmutableArray<byte>`` is probably ``ImmutableArray<byte>.AsMemory()`` and ``FileStream.WriteAsync(ReadOnlyMemory<Byte>, CancellationToken)``.

[2019-07-19 12:06] Symbai commented on #39614
In .NET Core the useshellexecute is set to false while in .NET Framework it's set to true. This is an undocumented breaking change. When porting .NET Framework to .NET Core you have to explicitly use ProcessStartInfo

`System.Diagnostics.Process.Start(new ProcessStartInfo(mailto) { UseShellExecute = true });`

[2019-07-19 12:29] stephentoub commented on #39614
https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo.useshellexecute

"The default is true on .NET Framework apps and false on .NET Core apps."

[2019-07-19 12:35] ViktorHofer commented on #39611
As @safern mentioned the docs part is currently a manual progress. What is the action-item here? Do you want to consolidate how we mark packages as non-public?

[2019-07-19 12:37] atifaziz opened #39618 "HttpWebRequest sends URI fragment, unlike on .NET Framework"
If a `HttpWebRequest` is created with a URL containing a [fragment identifier](https://en.wikipedia.org/wiki/Fragment_identifier) then the code behaves (i.e. compatibility bug) differently on .NET Core than on .NET Framework.

On .NET Framework, the fragment identifier is clipped and never sent to the server in the HTTP request; On .NET Core, it is. Some web servers, like IIS, reject a URL with a

[2019-07-19 12:54] GSPP commented on #39313
A related issue is that the timer callback can be invoked after the timer has been stopped. Also, when you stop a timer you sometimes like to be able to wait until the last callback invocation has completed. This helps with resource cleanup and deterministic execution.

Starting a new one-shot timer repeatedly leads to drift. Especially when the callback takes some time to run, the effective frequ

[2019-07-19 13:20] stephentoub commented on #39313
Timer already supports that. Either use Dispose that takes a WaitHandle, which it will set when all work has quiesced, or in .NET Core 3.0 use and await DisposeAsync.

[2019-07-19 13:58] wrohit100 commented on #24843
Hi,

I've a rather strange scenario. I've been able to use Novell library from AWS - Fargate (ECS) using Net Core 2.1. My LDAP server is also on AWS within the same region.

But the ldap connection session setup - takes exactly 100 seconds every single time.

code snippet -
_connection = new LdapConnection()  {SecureSocketLayer = true            };
_connection.UserDefinedServerCertValidationDelega

[2019-07-19 14:02] stephentoub commented on #39615
This is a bug in your repro: you're not disposing of the HttpResponseMessage that's returned from SendAsync.

With ResponseHeadersRead, you're telling HttpClient not to read the response body, that you are taking on that responsibility.  As such, it's giving you back an HttpResponseMessage with a response Stream that still has data to be read and that references a still open connection.  You need

[2019-07-19 14:03] #39615 closed

[2019-07-19 14:05] stephentoub commented on #39618
Thanks.  Can you try on .NET Core 3.0?  I expect this was fixed by https://github.com/dotnet/corefx/pull/32574.

[2019-07-19 14:08] #37352 closed

[2019-07-19 14:10] markusschaber commented on #24843
It might be timeout while trying to fetch certificate revocation lists, or such...

[2019-07-19 14:19] ckarras commented on #30691
I also had this issue and was working on code to reproduce it, but I realized it can be reproduced fairly trivially by setting HttpClient.Timeout to an extremely low value and sending a HTTPS POST to a IIS Express server running the default ASP.Net Core project template. However that might be a "false positive", in my case there was really a timeout and the problem would be that the error message

[2019-07-19 14:28] ckarras commented on #30691
Correction: Not exactly almost the default ASP.Net Core project template, it needs to be modified to add a POST operation, and in that operation wait some delay (higher than the client's timeout) before returning a response.

[2019-07-19 14:43] nglpg commented on #30691
Thanks @ckarras .
@stephentoub We created a repro but the error is not happening in that but clearly we are seeing it in our API. Any ideas? I'm gonna try the timeout that ckarras has mentioned.

[2019-07-19 14:58] wrohit100 commented on #24843
That's the thing. It doesn't time out.

After 100 seconds, the connection is actually successfully setup, and I can bind, query, authenticate , do the usual stuff.

[2019-07-19 15:14] atifaziz commented on #39618
@stephentoub After making the following changes to [the attached demo](https://github.com/dotnet/corefx/files/3411028/UrlFragmentBug.zip):

[code]

Then running with `.\run.cmd http://localhost:8080/#foo` produced the following output:

[code]

The fragment identifier doesn't cause an error so I can confirm that the bug fix seems to be in .NET Core 3.0. Does this mean it will eventually find its w

[2019-07-19 15:51] Symbai commented on #39614
Undocumented in terms of "not mentioned in the 'how to port your framework app to dot net core'" blog posts. In terms of "no red banner in the Process.Start docs". The sentence you quote is not highlighted and only exists in the docs of UseShellExecute.

So yes, its documented. But also yes that it's pretty much unclear for most .NET Framework developers when porting their apps until they experien

[2019-07-19 16:01] wtgodbe commented on #39611
Yes, and to use the same logic for the ApiCatalog drop generation process (though presumably once this logic lives in core-sdk, we'll just be picking up `M.NC.App` & the compat back, so we shouldn't have to worry about it at that point)

[2019-07-19 16:08] wrathofodin commented on #39615
Damn, you're right. It works with dispose. So that was the problem.

[2019-07-19 16:08] safern commented on #39611
Why not converge this with the issue wrt updating the infrastructure of producing the APICatalog and docs drop, instead of having a new issue.

[2019-07-19 16:19] wtgodbe commented on #39611
We can consolidate this to just removing the compilation workaround for `UTF8String` (and perhaps consolidating the logic for defining Experimental types), since the APICatalog stuff will live in core-sdk and is sort of orthogonal to the CoreFx work

[2019-07-19 16:41] ericstj commented on #39537
Indeed, maybe even to avoid having to specify the version of the package to harvest from we just change how we compute that version.  Instead of latest-stable we compute latest-stable of the last minor version.

Thinking more about the test: how will the test function when we are sim-shipping out of multiple internal branches and haven't yet published to nuget.org.  What do we do to keep ourselves

[2019-07-19 16:50] wrathofodin commented on #39615
But does it mean that ResponseContentRead automatically disposes the underlying stream used in HttpContent? Or is dispose also needed when using ResponseContentRead?

[2019-07-19 17:07] gfoidl commented on #39583
`ToBase64Transform` could also be improved so that more than 3 bytes could be allowed, hence better perf with `CryptoStream` when `CanTransformMultipleBlocks = true` (but need to look deeper at it).
Is it worth to make a PR for this? (I would do this in a different PR than https://github.com/dotnet/corefx/pull/39599, as I assume that quite a lot of the code in this class needs to be changed.)

[2019-07-19 17:40] wpbrown opened #39621 "SocketsHttpHandler Improperly Pools Negotiate Connections when using Default Credentials"
Negotiate scheme connections are [stateful](https://www.chromium.org/spdy/spdy-authentication#TOC-Stateful-Authentication). The actual TCP connection remains authenticated across requests.

This is not a problem when a specific credential is supplied because the credential can not be changed after the first use of the handler. However with `Credentials = CredentialCache.DefaultCredentials`, the cr

[2019-07-19 17:51] anurse opened #39622 "API Proposal: Regex.TryMatch"
I find myself doing this a lot with `Regex`es:

[code]

I think this could be made a little more ergonomic through a new method on Regex, TryMatch. With such a method, this code could become:

[code]

Yes, it's only a small change (one line), but it feels more _ergonomic_ to me. Before `out var` support in C#, this would've been just as clumsy as the current model, but now that we have `out var` t

[2019-07-19 18:03] abelykh0 opened #39623 "StringComparer.InvariantCultureIgnoreCase gives different results in Windows and Linux"
`StringComparer.InvariantCultureIgnoreCase` gives different results in Windows and Linux.

The example below returns 2 distinct values under Windows, and 3 under Linux. Using 3.0.100-preview6-012264.

[code]

[2019-07-19 18:11] Anipik opened #39624 "HTTP2: The Request stream either getting reset or closed during the post deplex operation"
Exceptions being thrown

// Client error
[code]

// server error
[code]

// Trace file output
[code]

command ``` dotnet run -n 3 -maxContentLength 1000 -http 2.0 -ops 7 ```

I ran it on the master branch and it error doesn't repro with 1.1

cc @stephentoub @eiriktsarpalis

[2019-07-19 18:14] Clockwork-Muse commented on #39623
See #29930 (and specifically [@tarekgh 's comment](https://github.com/dotnet/corefx/issues/29330#issuecomment-384718448)).  This is going to be "by design".

[2019-07-19 18:16] stephentoub commented on #39624
This is likely just part of all the issues @geoffkizer is addressing.

[2019-07-19 18:20] abelykh0 commented on #39623
Should be 29330, not 29930, please edit

[2019-07-19 18:26] tarekgh commented on #39623
@Clockwork-Muse is correct. we depend on the underlying OS collation behavior as the comment https://github.com/dotnet/corefx/issues/29330#issuecomment-384718448 explain.

And yes it is duplicate of the issue #29330.

[2019-07-19 18:26] #39623 closed

[2019-07-19 18:36] Anipik commented on #39511
@stephentoub This error occured again. I am using the lastest preview8 sdk

[code]

// aspnetlog

[code]

Do we need to make a similar change here as well ? https://github.com/dotnet/corefx/blob/3c71b23c676c3538b33f4ae653cf6f85de77e44d/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/CreditManager.cs#L48

[2019-07-19 18:44] Liphi opened #39626 "System.ArgumentOutOfRangeException is thrown by System.Diagnostics.TraceSource.TraceEvent"
Hi, this issue happens sporadically. Can expert share some light? Is there some known issue like concurrency?

                   foreach (KeyValuePair<string, Endpoint> publicEndpoint in publicEndpoints.Entry)
                    {
                        if (publicEndpoint.Value.IPAddress == null
                            || publicEndpoint.Value.Region == null
                            || pu

[2019-07-19 18:49] buyaa-n commented on #39500
@ahsonkhan @ericstj @steveharter @layomia please take a look test I've created and please give some feedback for improvement https://github.com/buyaa-n/corefx/pull/3/files

[2019-07-19 19:14] josalem commented on #39431
Echoing @noahfalk, thanks for the detailed write-up @johnduhart!  I read through the code and I think you're correct, the type check in EventSource will always fail since all the calls to `WriteEvent` in `DiagnosticSourceEventSource` use `IEnumerable<...>` as the parameter and the type-check in `EventSource` doesn't account for interfaces.  That being said, when I read the blurb at the top of `Eve

[2019-07-19 19:28] doboczyakos commented on #26233
Are there any solutions for this bug? The PostAsJsonAsync extension method is still setting Content-length to 0 in .NET Core 2.1 with any versions of System.Net.Http and System.Net.Http.Formatting.
Is there any bug opened for this? Are you willing to do anything?

[2019-07-19 19:33] doboczyakos commented on #26233
Is this the new way of managing proactively the known bugs?

[2019-07-19 19:34] ahsonkhan commented on #39611
On thing we should get clarity on is what does the csproj/pkgproj look like for the experimental/preview/non-shipping packages. We have two instances currently and they are not consistent.
`Utf8String` uses `BlockStable` and conditionally includes the files on `IsPrerelease`.
`Instrinsics` only uses `BlockStable`.

Why is that? What is the recommended pattern?

[2019-07-19 19:38] doboczyakos opened #39627 "PostAsJsonAsync extension method sets Content-Length to 0 in .NET Core 2.1 with any versions of System.Net.Http and System.Net.Http.Formatting."
var response = await _client.PostAsJsonAsync(requestUri, value, cancellationToken);

Request object is null on the server side because content length is set to 0.
I've tried the newest versions of System.Net.Http and System.Net.Http.Formatting and the issue is the same.
It works if I replace this with the following:
var objectContent = new ObjectContent<TRequest>(value, new System.Net.Http.Formatt

[2019-07-19 19:44] stephentoub commented on #39627
@dougbu, should this issue be moved to https://github.com/aspnet/AspNetWebStack?

[2019-07-19 19:50] stephentoub commented on #39626
What is the value of `Trace.UseGlobalLock`?  Is there some code somewhere setting it to `false`?

[2019-07-19 19:54] Liphi commented on #39626
yeah, I see it is set as false. Is it the root cause?

        public DiagnosticsTrace()
        {
            // From MSDN: http://msdn.microsoft.com/en-us/library/system.diagnostics.trace.usegloballock%28v=vs.110%29.aspx
            // The global lock is always used if the trace listener is not thread safe,
            // regardless of the value of UseGlobalLock. The IsThreadSafe property is use

[2019-07-19 19:59] stephentoub commented on #39626
Most likely.  The stack is highlighting a failure that suggests code is accessing the underlying StreamWriter concurrently, which it shouldn't.

[2019-07-19 20:07] vcsjones opened #39628 "RSASSA-PSS certificates do not work with RSACertificateExtensions.GetRSAPublicKey"
If a certificate has a key algorithm of RSASSA-PSS (1.2.840.113549.1.1.10) then `RSACertificateExtensions.GetRSAPublicKey` will return null.

Example certificate:

<pre>
-----BEGIN CERTIFICATE-----
MIIDyzCCAoKgAwIBAgIUTPlMx/cRPgsXnfHOd78XAfzUgeEwPgYJKoZIhvcNAQEK
MDGgDTALBglghkgBZQMEAgGhGjAYBgkqhkiG9w0BAQgwCwYJYIZIAWUDBAIBogQC
AgDeMEUxCzAJBgNVBAYTAlVTMREwDwYDVQQIDAhWaXJnaW5pYTETMBEGA1UEBwwK
QWxleGF

[2019-07-19 20:07] vcsjones commented on #39628
/cc @bartonjs

[2019-07-19 20:08] Liphi commented on #39626
Thx. May i know the drawback if we set it as true? Perf penalty?

[2019-07-19 20:12] stephentoub commented on #39626
The default is `true`.  It causes a shared lock to be taken each time you trace.  In contrast, if it's false, then a lock is taken on each listener instance that gets written to if that listener's IsThreadSafe is false (also the default).

My guess is that somewhere in your code, two different trace listeners around the same StreamWriter.  As such, with UseGlobalLock as false, a lock is being take

[2019-07-19 20:12] #39626 closed

[2019-07-19 20:15] vcsjones commented on #39628
Ah, this is Linux. Not sure about Windows. Will check there later.

[2019-07-19 20:20] mairaw opened #39629 "Inconsistent param name for SequencePosition"
While reviewing a docs PR for adding the docs for SequencePosition (https://github.com/dotnet/dotnet-api-docs/pull/2683), I've noticed that some of the naming is not consistent.

In some cases, the object param is called object, other times obj. Can't they be consistent?
https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/SequencePosition.cs#L22
https://github.com/dotnet/core

[2019-07-19 20:23] Thealexbarney commented on #39274
Since the performance impact is nowhere near negligible, what would making the feature opt-in look like?

[2019-07-19 20:39] danmosemsft commented on #39629
This API already shipped I think, and parameter name changes are binary (reflection) and source (named parameter) breaking changes so I suspect we would not want to change it now.

[2019-07-19 20:55] bartonjs commented on #39628
Presumably just an OID needs to be added to an if?

[2019-07-19 20:56] Anipik opened #39630 "HTTP2: Post method with ExpectAndContinue hangs after a first bunch of requests"
The Post ExpectContinue task is getting hanged when the cancellation rate is not zero.

I was not able to get any helpful info from the trace or aspnetlog. After some time it just throws an exception and hangs again.  The exception thrown is

[code]

When cancelation rate is zero it works perfectly fine.

cc @stephentoub @eiriktsarpalis

[2019-07-19 21:05] stephentoub commented on #39630
Anything to do with cancellation ends up being impacted by the various bugs @geoffkizer is fixing.  It's possible this is different, it's possible it's the same.  We really need his work to land (very soon, right @geoffkizer ? :wink: ) before any such issues can be evaluated.

[2019-07-19 21:10] wli3 opened #39631 "Support of comments in jsondocument"
We hope to have an easy(er) way to perverse comments while editing json file. Maybe in jsondocument. We strongly believe config file should have comment support. However, since the file will also be edit by machine, we need a way to preserve the comments. Today, only the lowest level API supports reading comments, but that would be too complicated for our scenario. The code is [here](https://githu

[2019-07-19 21:11] wli3 commented on #39631
@ahsonkhan in the end we find it is still too hard to convert to use the lower level API. We hope to add that feature in higher level API

[2019-07-19 21:12] wli3 commented on #39631
See related discussion https://github.com/dotnet/cli/issues/11952

[2019-07-19 21:17] wli3 commented on #39631
original discussion https://github.com/dotnet/cli/issues/11952

[2019-07-19 21:18] JeremyKuhne commented on #39274
Probably adding another flag to EnumerationOptions. At least that is what I would propose as a starting point.

[2019-07-19 21:28] ahsonkhan commented on #39631
cc @bartonjs, @joperezr, @kasiabulat - something to consider, particularly for the modifiable dom (enable support for `JsonCommentHandling.Allow` within JsonDocument).

[2019-07-19 21:30] ahsonkhan commented on #39631
@wli3, can you elaborate on what was the difficult part, particularly for your scenario, just so I have a better sense of where others might struggle with as well?

[2019-07-19 21:34] nguerrera commented on #39631
I haven't figured out yet if this is easy with NewtonSoft.Json either.

I tried this, but it didn't work:

[code]

It prints like this with the comment gone:

[code]

Is there an easy way that I've missed? I'm not very familiar with either API.

[2019-07-19 21:42] wli3 commented on #39631
The code to [deserialize](https://github.com/dotnet/cli/blob/master/src/dotnet/ToolManifest/ToolManifestEditor.cs#L142) is 100 lines already. And we are using jsonDocument, a higher level API already. For our use case, if by the time of the change, deserializer is available, it could be done by several lines. To do the same thing using jsontoken level would be even more work than "necessary". We n

[2019-07-19 21:47] ahsonkhan commented on #39631
I don't understand what you mean by this. We have a deserializer.

`JsonSerializer.Deserialize(...)`
https://github.com/dotnet/corefx/blob/7431e4938c461f6e24cf3122c0b9ca4eb27e4dde/src/System.Text.Json/ref/System.Text.Json.cs#L184-L202

[2019-07-19 21:48] ahsonkhan commented on #39631
I am not too sure. Looking at the docs for `JsonLoadSettings`/`CommentHandling.Load`, I would have thought that would retain the comment. @JamesNK would know more about Newtonsoft.Json.

[2019-07-19 21:49] bartonjs commented on #39631
`JsonElement`/`JsonDocument` would have an exceedingly difficult time representing comments.  While an array iterator could easily indicate that there was a comment value (and either decide that the indexer skips them or doesn't), the object iterator returns JsonProperty values, and a comment cannot be sensibly modelled under that type.

But perhaps they could be modelled under the loose node thou

[2019-07-19 21:51] wli3 commented on #39631
That would also work for us

The conversion work is done several month ago. Although my point is, we should not use even lower level API for our rather simple scenario (until comments).

[2019-07-19 21:54] nguerrera commented on #39631
Mutable DOM is what I have in mind. This is a solved problem for xml. Bloody fashion.

[2019-07-19 21:58] JamesNK commented on #39631
Newtonsoft.Json doesn't perfectly preserve and round-trip a JSON document. IMO System.Text.Json should not either.

There is all kinds of stuff that gets lost:
* Comments
* The exact encoding of text
* Whitespace

[2019-07-19 22:08] nguerrera commented on #39631
(This isn't going to be productive, but I can't let it go unsaid.  T me, this means JSON is a poor choice for the tools manifest. `dotnet add package` preserves comments in csproj just fine. It is totally reasonable to expect parity for the command to add a package to a project as the command to add a local tool to a repo. Documents that can be edited with a mix of human and machine and have comme

[2019-07-19 22:28] tobbyioa commented on #33643
I had this problem for some time and tried all sorts to no avail. However, I discovered the version showing for Version 4.5.0 in the library reference properties is 4.2.1.0. When I changed the version to 4.4.1 via NuGet, the version in the properties changed to 4.2.0.0. This fixed it for me and was able to load the Swagger UI. I hope you will find this helpful.

[2019-07-19 22:37] mairaw commented on #39629
Yep, it was shipped in 2.1. Closing then.

[2019-07-19 22:37] #39629 closed

[2019-07-19 22:47] JamesNK commented on #39631
There is no reason you can't parse JSON and preserve all information about whitespace and comments, then modify the document. Visual Studio does it, I assume with its own JSON library.

The needs of runtime JSON parsing and designtime JSON parsing are different.

[2019-07-19 22:50] nguerrera commented on #39631
I agree there's no reason in theory, but in practice we have a readily available stack for XML .NET that does this, but no such parity for JSON. We can't really go shopping for yet another JSON library for this or roll our own. Hence this request.

[2019-07-19 22:55] dougbu commented on #39627
@stephentoub looks like it. Doing&hellip;

[2019-07-19 22:57] dougbu commented on #39627
Oh well, I can't transfer out of dotnet/x and into aspnet/y. @stephentoub please do the needful.

[2019-07-19 22:57] JamesNK commented on #39631
What I think you're going to have to do to preserve comments (speaking only for myself and not the JSON team 😄):

1. Continue to use Utf8JsonReader. Accept that you will lose information about whitespace
2. Read into your own JSON DOM. Comments don't fit into the name/value world of JSON objects, you need a DOM that is more like a tree (hello XML). You can then modify the DOM to insert/remove JSON

[2019-07-19 23:03] bartonjs commented on #39631
Amusingly, we had the same conclusion while doodling on a whiteboard why comments are hard to preserve in the model.  (Mainly because XML says comments exist, and how to deal with them, and JSON says comments don't exist, so there's no spec to look to for what a right answer is).

[2019-07-19 23:59] marklio opened #39634 "HTTP2: Http2Connection.SendHeadersAsync doesn't pass its cancellation token to StartWriteAsync"
I experienced this as a hang under load on the client during gRPC stress. I wanted to get this filed before the weekend while I still had the state saved. It looks like this is just an oversight. I'll circle back with a PR.

This is likely to block continued reliability testing in this area.

[2019-07-20 00:40] NMSAzulX commented on #39565
@mattwarren  Thanks very much! :)

[2019-07-20 00:51] stephentoub commented on #39627
@dougbu, I can't either; the transfer support only works within an org.

@doboczyakos, can you please re-open the issue at https://github.com/aspnet/AspNetWebStack? Thanks.

[2019-07-20 00:51] #39627 closed

[2019-07-20 00:53] stephentoub commented on #39618
Probably not, but @karelz can comment.

Glad it addressed the issue for you.  Thanks for confirming.

[2019-07-20 01:09] #35022 closed

[2019-07-20 02:20] danmosemsft commented on #39622
@bartonjs is this a valid use of the Try pattern? It's not avoiding an exception.

[2019-07-20 04:24] JamesNK opened #39639 "HTTP2: HttpClient fails streaming large amount of data with server flow control"
Repro:
1. `git clone https://github.com/JamesNK/grpc-dotnet.git`
2. `git checkout jamesnk/client-stream-backpressure-test`
3. `dotnet test test\FunctionalTests --filter Name~ClientStream_SendLargeFileBatchedAndRecieveLargeFileBatched_Success`

Logic in the test is like:
1. Client streams 1 GB of data in 64 KB chunks to the server as fast as it can
2. Server reads chunks with 10 ms delay

The clien

[2019-07-20 04:25] JamesNK commented on #39639
![image](https://user-images.githubusercontent.com/303201/61573934-f9c57200-ab0a-11e9-85cc-6308b1e73fdc.png)

[2019-07-20 04:59] davidfowl opened #39640 "Use ArrayPool.Shared instead of a heap array as fallback in PipeWriter implementations"
The array pool already handles cases where the requested buffer is too big we can just pass in the requested size and it'll either return a heap buffer or an array pooled buffer (even if that buffer is bigger than the pool being used by the PipeWriter itself).

[2019-07-20 05:00] bartonjs commented on #39622
It's definitely not the Try-Parse pattern, since the non-Try version isn't throwing in the case where this version returns false.  It structurally looks like it, and that might be a disadvantage.

Since `IsMatch` is static, perhaps these Match variant methods could/should be `HasMatch`?

[code]

[2019-07-20 05:34] danmosemsft commented on #39622
@viktorhofer

[2019-07-20 06:14] Turnerj opened #39641 "Marshal.SizeOf<char>() is one byte, not two, by default"
I couldn't find documentation on this whether it is actually intended though when you marshal a `char` (or a `struct` with a `char` in it), it is very easy to cause heap corruption when then allocating memory to it.

I believe the issue comes from the difference between the size of a `char` and the value that `Marshal.SizeOf<char>()` returns. According to [MSDN](https://docs.microsoft.com/en-us/do

[2019-07-20 06:36] mikedn commented on #39641
The big question is what you are trying to `Marshal.SizeOf` for, the sample code you show has nothing to do with marshaling. You may be looking for `sizeof(char)` or `Unsafe.SizeOf<char>()`.

As for why `Marshal.SizeOf` returns a certain value, that's basically because it tries to accommodate the OS the program runs on. On Linux/macOS that's normal because they use UTF-8 so their `char` is 1 byte.

[2019-07-20 06:54] Turnerj commented on #39641
I'm pretty new to dealing with unmanaged memory but I'm pretty sure `Marshal.AllocHGlobal(totalSize)` is literally doing marshaling - let me know if that is wrong though. I'll be honest, I don't know if this is the best way to work out the size of the allocation I want or not, just what I found for my own searching.

That sample code is based [this code](https://github.com/Turnerj/TextDifferenceBe

[2019-07-20 07:03] Turnerj commented on #39641
Oh, I think I get what you mean now and I think you're right - I'm actually wanting `Unsafe.SizeOf<char>()` and not `Marshal.SizeOf<char>()`.

[2019-07-20 07:06] Turnerj commented on #39641
Yep, entirely just my misunderstanding of how to get the `SizeOf` I am actually wanting.

[2019-07-20 07:06] #39641 closed

[2019-07-20 07:17] mikedn commented on #39641
No, it just a native block of memory of the specified size. It ended up on the `Marshal` class probably because it was thought that if you're doing marshaling you may need to allocate native memory. But then the framework didn't offer any other to allocate native memory so `AllocHGlobal` is used for things other than marshaling.

Basically `Marshal.SizeOf` is intended to be used with certain other

[2019-07-20 08:15] Turnerj commented on #39641
Thanks for the detailed explanation!

That was going to be my next question! Kinda funny but makes sense at the same time.

[2019-07-20 08:39] lastlink commented on #26310
@joshudson could you add some documentation to you library, is it possible to edit file attributes such as author.

[2019-07-20 08:50] lastlink opened #39642 "No support for file extended attributes metadata"
## Problem
Should be an api for setting a files extended attributes such as created and author.

[2019-07-20 11:43] Wraith2 commented on #39642
Why? What is the common use case? Which platforms support extended metadata and do they do so in similar ways?

[2019-07-20 14:56] moleszek opened #39672 "Process.Start and File.Open not working"
Hi, I don't know if I set this issue in the correct place ;) but I have a problem with .net Core 3.0.
When I try to open file or start process I get an error:

[code]

**How to reproduce:**
Create those functions in .net Core 3.0 preview:
[code]
[code]

**Version**
3.0.100-preview6-012264

[2019-07-20 16:40] gregkalapos opened #39645 "StackTrace.GetFrames(true) - GetFileLineNumber() tests"
In case you create an instance of StackTrace with `fNeedFileInfo: true`, it will try to deliver you things like file name, line number, column number. - I focus here on line number.

E.g.:

[code]

There are many known scenarios when `GetFileLineNumber()` will return `0` despite the `StackTrace(true)` - e.g. there are no `.pdb`s present, or [portable pdbs pre .NET Framework 4.7.1](https://github.c

[2019-07-20 17:09] geoffkizer commented on #39634
Are you actually hitting issues with this? In general, the writer lock shouldn't be held for long. The only case in which it might be held for a long time is if the underlying socket send buffer is full, which is probably indicative of more serious problems, likely on the server side.

I do think we should fix this, just trying to understand the urgency. Also, there's a related known issue with ca

[2019-07-20 17:54] marklio commented on #39634
Yes. I'm happy to share the dump with you on Monday. Below is !dumpasync -stacks output to give you an idea what's going on. In the "long" async stack, we're waiting on the lock and the Available cancellation token would break us out of that wait had it been passed. This particular dump also reveals that SendRstStreamAsync also calls StartWriteAsync without a CancellationToken and has what looks l

[2019-07-20 18:00] geoffkizer commented on #39634
Thanks for the info.

The interesting question here is why the lock isn't getting released. Since you killed the server, it doesn't sound like it's a server/send buffer issue. Most likely we are hitting some error and neglecting to release the lock somewhere, which is really bad.

@stephentoub suggestions on how to track this down?

[2019-07-20 18:08] geoffkizer commented on #39634
One thing I noticed and fixed in my current PR is that we're not releasing the writer lock correctly when we think the connection is disposed: https://github.com/dotnet/corefx/blob/3c71b23c676c3538b33f4ae653cf6f85de77e44d/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs#L809

It's possible you could be hitting this, though I'm not clear why we would have gotten in to t

[2019-07-20 18:16] geoffkizer commented on #39634
This is not a problem. The SendRstStreamAsync calls are not awaited and won't block request completion. Basically, this means we have a bunch of RST_STREAM frames queued up to send.

[2019-07-20 19:16] lastlink commented on #39642
Well nodejs has an npm module that will let you do it. https://www.npmjs.com/package/ffmetadata
rust has a few libraries such as https://github.com/Stebalien/xattr as well as https://docs.rs/rexiv2/0.7.0/rexiv2/.
From what I could tell on windows you can do it with bat or powershell, but not on a mac or linux using c#.

[2019-07-20 20:37] Wraith2 commented on #39642
Those three libraries do very different things. The only one that is filesystem extended attributes Is xattr, the other two use format specific metadata libraries/capabilities. Windows has extended attribute capability but they're almost never used, they may be used more on other platforms but I think it's still quite rare.

There would need to be a compelling use case for them to be included in t

[2019-07-20 21:09] Zenexer commented on #35054
@stephentoub, this isn’t a duplicate of #32878, and it shouldn’t be part of any milestone. The OP is very specifically requesting an IsEmpty method that guarantees the IEnumerable can be reused. This stems from a misunderstanding of how IEnumerable works and how various extension methods work. It is not the same as the None extension requested in #32878.

[2019-07-20 21:59] Zenexer commented on #39642
@Wraith2 xattrs are pretty important in the Linux world, although they’re not often used directly by end users. Some examples:

1. SELinux—this is pretty common, and interfacing with these attributes may be necessary for an application to install or run properly
2. Windows-compatible ACLs, particularly when dealing with network shares (SMB/CIFS)—they’re not just for Windows compatibility, but they

[2019-07-20 22:32] paul1956 commented on #31181
@KathleenDollard  I have a reasonable implementation of MsgBox with interactive tests as a NuGet package or as part of "Interaction.vb" how do you recommend it gets published? The NuGet version is not Multi-Language.

[2019-07-20 23:05] lastlink commented on #39642
Ok this discussion was helpful, I guess meta is directly related to the file type such as an mp3, pdf, or epub.

[2019-07-20 23:05] #39642 closed

[2019-07-21 00:47] #39634 closed

[2019-07-21 00:57] stephentoub commented on #39381
Again here:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39584~2Fmerge/test~2Ffunctional~2Fcli~2F~2F/20190720.5/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Printing.Tests.PrintDocumentTests~2FDefaultPageSettings_Null_ReturnsExpected

[2019-07-21 01:30] stephentoub commented on #39639
Have you changed HttpClient's default Timeout to something other than 100 seconds?  If the server is reading 1GB of data in 64K chunks, at the rate of one 64K chunk every 10ms, it's going to take the server at least 163 seconds to read the whole thing.

[2019-07-21 01:35] #39618 closed

[2019-07-21 01:57] cheenamalhotra commented on #23435
Issue recently fixed in PR #39559.

[2019-07-21 01:57] #23435 closed

[2019-07-21 05:10] Zenexer commented on #39555
Our team would be using this quite a bit. We’ve gotten used to doing it manually, but this would make some rather confusing snippets of code much clearer. I’ve even made at least one ASP.NET fix proposal that would benefit from this change.

[2019-07-21 07:26] dodyg opened #39648 "Utf8JsonWriter throws `System.InvalidOperationException: Cannot advance past the end of the buffer, which has a size of 256.`"
### Describe the bug
Using `Utf8JsonWriter` in `3.0.100-preview6-012264` writing to `HttpResponse.Body` throws `System.InvalidOperationException: Cannot advance past the end of the buffer, which has a size of 256.`

### To Reproduce
[code]

### Screenshots
![flush-async3](https://user-images.githubusercontent.com/1761249/61588260-7b171600-ab98-11e9-8fcc-d1f16f3275b0.png)

[2019-07-21 07:39] benaadams commented on #39648
Is caused by Dispose calling Flush (regardless of whether you have already called FlushAsync)

You'd need to use the async Disposable (add await before the using in C#8/preview)

[code]

Or be explicit and change using to try+finally for pre-C#8

[code]

[2019-07-21 07:43] dodyg commented on #39648
Same result

![flush-async-5](https://user-images.githubusercontent.com/1761249/61588445-e8787600-ab9b-11e9-8fc8-a2b556bf46af.png)

[2019-07-21 07:47] benaadams commented on #39648
Seems strange for a Stream with Utf8JsonWriter to max out at 256 bytes cc @ahsonkhan

[2019-07-21 09:35] JamesNK commented on #39639
Yeah it's the timeout. Thanks.

[2019-07-21 09:35] #39639 closed

[2019-07-21 10:09] ViktorHofer opened #39649 "xunit warnings: Non-serializable data"
We are currently hiding thousands of warnings that indicate that our test data is not serializable. See https://github.com/aspnet/SignalR/issues/1649 for more details.

Switching from xunit.console to `dotnet test/vstest` displays those warnings by default. I think we should at least investigate if the warnings are valid and consider fixing them.

Test branch with dotnet vstest for local validatio

[2019-07-21 10:12] ViktorHofer opened #39650 "xunit warnings: Skipping test case with duplicate ID"
We are currently hiding thousands of warnings which indicate duplicate test data in Theories that are ignored.

Switching from xunit.console to dotnet test/vstest displays those warnings by default. I think we should at least investigate if the warnings are valid and consider fixing them / removing the duplicate theory data.

Test branch with dotnet vstest for local validation: https://github.com/

[2019-07-21 10:33] ViktorHofer commented on #39649
XUnit unfortunately doesn't support test case serialization which means you need to implement `IXunitSerializable` to make that work: https://github.com/xunit/xunit/issues/429#issuecomment-108187109

This is really unfortunate and I'm surprised that there isn't a solution for that yet. Maybe just switching off the diagnostics warnings (if possible) is easier... The downside, you won't be able to d

[2019-07-21 11:22] ViktorHofer commented on #39649
Submitted https://github.com/dotnet/arcade/pull/3334

[2019-07-21 11:51] davidsh commented on #39617
@wfurt @tmds

[2019-07-21 12:52] ViktorHofer commented on #39649
What aspnet did was to just ignore those warnings... I'm not exactly sure how we should proceed here. This is a feature omission in xunit and should be fixed there but I don't think this will happen anytime soon. When switching to dotnet vstest those warnings will shop up and can only be turned off by also turning-off diagnostic messages which are needed for diagnosing long-running tests.

cc @ste

[2019-07-21 15:18] jnm2 opened #39652 "BrotliDecoder variables are being used in tests without initialization because it has no fields in the ref assembly"
Pointed out by @AlgorithmsAreCool

https://github.com/dotnet/corefx/blob/9bb93a61365db848aaf914b5dfb8d6684df3335e/src/System.IO.Compression.Brotli/ref/System.IO.Compression.Brotli.cs#L10-L15

Occurrences of missing initialization include:

https://github.com/dotnet/corefx/blob/9bb93a61365db848aaf914b5dfb8d6684df3335e/src/System.IO.Compression.Brotli/tests/BrotliEncoderTests.cs#L70-L71

https://git

[2019-07-21 15:21] jnm2 commented on #39652
/cc @weshaggard

[2019-07-21 15:23] KathleenDollard commented on #31181
@paul1956 Is it a direct port or a better implementation?

[2019-07-21 17:57] stephentoub commented on #39648
I think what you're witnessing is actually a secondary error; there's an earlier exception occurring, leaving things in a bad state, and then the disposal is trying to flush, and incurring a second exception.

The first exception is because theUtf8JsonWriter is trying to synchronously write to the response stream, and by default ASP.NET Core doesn't allow that.  Try adding:
[code]
to the body of y

[2019-07-21 18:28] stephentoub commented on #39652
This begs the question where else might we still have incorrect refs missing fields.

[2019-07-21 18:35] stephentoub commented on #39649
We use a bunch of types in theories that will never be serializable.  I don't see xunit being able to address that fully.

We can't suppress individual warning types?  That's the feature I'd want from xunit if it doesn't already exist, ala being able to suppress C# compiler warning X but not Y.

[2019-07-21 18:36] stephentoub commented on #39650
Isn't this a dup of https://github.com/dotnet/corefx/issues/39649?

[2019-07-21 18:44] bartonjs commented on #39652
I thought we regenerated all the ref.cs files recently using the tool?

[2019-07-21 18:50] stephentoub commented on #39652
I think @ahsonkhan had started doing so, but it never got merged.

[2019-07-21 19:00] stephentoub opened #39654 "BrotliEncoder.GetMaxCompressedLength uses wrong parameter name in ref vs src"
`BrotliEncoder` has this in the ref:
[code]
but this in the src:
[code]
It was shipped with the "inputSize" parameter like that in the reference assembly and docs in previous releases, so it's technically a breaking change to rename it, and I don't know what name was actually approved in API review.  The implementation does argument validation on the argument, and will throw an argument exception

[2019-07-21 22:12] #39386 closed

[2019-07-21 22:16] davidfowl commented on #39386
ASP.NET has a `startvs.cmd` that lives in every solution folder that starts vs in the "right mode".  e.g. https://github.com/aspnet/AspNetCore/blob/master/src/Http/startvs.cmd

[2019-07-21 23:12] paul1956 commented on #31181
A direct port, it is fairly trivial not sure how you would make it better and still be compatible. The only mystery is who sets IVBHost. I created the interface in Compiler Services according to the reference source, created the property VBHost as IVVHost but nothing ever calls Set and that is true of the reference source as well. Without Set being called MsgBox works and passes all the same tests

[2019-07-22 02:28] AriNuer commented on #39380
Test `Microsoft.VisualBasic.Tests.FinancialTests/DDB_Default ` failed with similar failure:

Message :
[code]
Stack Trace :
[code]

Details:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F~2F/20190721.5/workItem/Microsoft.VisualBasic.Core.Tests/analysis/xunit/Microsoft.VisualBasic.Tests.FinancialTests~2FDDB_Default

[2019-07-22 03:49] Gnbrkm41 commented on #39650
some of them might be analyzer bug:
https://github.com/xunit/xunit/issues/1877

though, there are some *actual* duplicates :upside_down_face:, so I think it might be worth checking.

[2019-07-22 04:23] richlander opened #39655 "Enable Utf8JsonReader to read json from stream"
Basically, implement analogue of [JsonTextReader(TextReader)](https://www.newtonsoft.com/json/help/html/M_Newtonsoft_Json_JsonTextReader__ctor.htm).

My scenario is reading the result of: `docker inspect [image]` (which produces a json document), either called via Process.Start() or piped in via standard input. Both scenarios result in TextReader objects. I’d like to see either a new constructor t

[2019-07-22 05:51] scalablecory opened #39656 "HTTP2: dynamic table error when insert index wraps"
Once `DynamicTable` has wrapped its insert index, the indexer will start throwing exceptions with high indexes:

https://github.com/dotnet/corefx/blob/347412c9a917c71a744d8e20b090da90aa558a79/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/DynamicTable.cs#L28-L39

[2019-07-22 06:08] davidfowl commented on #39655
Maybe but not really since it's a ref struct, you'd need to make sure all of the data was in the stream before you parse, which kinda defeats the purpose of a Stream. We'd need to make the reader a class so that you could store the stream as a field or we'd need some new class that used the reader and a stream together (like the JsonSerializer).

Why not use the JsonSerializer directly into a Json

[2019-07-22 06:42] ViktorHofer commented on #39386
Right, I spoke with Nate about it and adapted it so that we don't have to copy the scripts over to all places.

[2019-07-22 06:52] ViktorHofer commented on #39650
This isn't a dup, see issue title. This is about duplicate inline/member data.

Right, there are definitely duplicates but I don't know yet if some of those are false positives. Nevertheless, they need to be fixed or silenced before we can switch to VSTest.

[2019-07-22 06:56] ViktorHofer commented on #39649
Unfortunately not. Currently it's either all diagnostics or none. I'm not sure if contributions are accepted at the moment given the staleness of the repo. The last official release was 9+ months ago.

[2019-07-22 08:56] doboczyakos commented on #39627
Thanks for the very proactive cooperation. Is it really just my interest to have a bug reported?
I've created https://github.com/aspnet/AspNetWebStack/issues/252

[2019-07-22 09:04] markusschaber commented on #24843
It might be a timeout for some non-critical background operation - like reverse DNS resolution (resolve IP to host name) for server access logs - if it fails, the IP instead of the host name is logged. Most probably on the server side.
Or the timeout for an IPv4/IPv6 fallback to the other protocol, if the network host name resolves both kinds of addresses, but the host is not reachable using V6, a

[2019-07-22 09:15] Kool-Koder opened #39657 "A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: TCP Provider, error: 35 - An internal exception was caught) Kali Linux 2019.2"
I have a project running inside Kali Linux. The project works in both visual studio 2019 as well as in Windows 10. I am using .NET Core 2.2. I am hitting the error as shown below, but it runs well in Windows. Not too sure if this is a bug. Thank you very much.

`A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: TCP Prov

[2019-07-22 10:13] chenxuuu commented on #39464
need I do some other tests?

[2019-07-22 10:58] GSPP opened #39658 "Low overhead hashing"
In some scenarios, it is necessary to hash small amounts of data with very high frequency. This happens for example in authentication scenarios. Another case is processing of blockchain data. Transactions are fairly small pieces of data that must be hashed at a high rate.

The existing framework APIs have fairly high per-hash overhead. I benchmarked this on .NET Core 2.2:

    public class HashOve

[2019-07-22 11:13] chenyj796 opened #39659 "Window.ShowDialog sometimes blocks several seconds when there is a task frequently update UI"
I have a Window to display high frequency market data.
I use Dispatcher.InvokeAsync(... , DispatcherPriority.Background) to update the UI.
Sometimes if I click some button to show a dialog window, it will block the whole application with serveral seconds.

[2019-07-22 11:15] ehasis commented on #31181
@danmosemsft what tool did you used to generate that diff that you linked on this issue?

[2019-07-22 13:09] KathleenDollard commented on #31181
@paul1956 Visual Basic.NET WinForms specific stuff will be post 3.0, @cston can look at your port then.

In the meantime, it would be great if people could get it, so you authoring a NuGet package seems a good idea.

[2019-07-22 13:19] stephentoub commented on #39659
Hi @chenyj796, it sounds like your issue is with WPF?  Can you close this issue and open it in https://github.com/dotnet/wpf instead?  Thanks.

[2019-07-22 13:57] stephentoub commented on #39656
@scalablecory, do we end up using the dynamic table at all today?  We disable that functionality, right?  If I'm remembering correctly, makes me wonder why we're carrying around the code for a disabled feature.

Regarding exceptions, what should it be doing instead? i.e. what does the HTTP2 protocol say should happen when we exceed 2^31 dynamic headers?

[2019-07-22 14:04] stephentoub commented on #31088
The LINQ tests now target netcoreapp only.

[2019-07-22 14:04] #31088 closed

[2019-07-22 14:09] Wraith2 commented on #39658
Are you looking to make existing crypto hashes faster or for a different hashing scheme which is more suited to different use cases?

[2019-07-22 14:14] stephentoub commented on #3106
I'm going to close this.  If there's an optimization to be made, we'd welcome a PR (including details on what gets faster, what gets slower, and for what real-world scenarios the perf improvement is meaningful), but in general we don't need issues tracking hypothetical optimizations, and the issue has been open now for over two years with no progress.  Thanks.

[2019-07-22 14:14] #3106 closed

[2019-07-22 14:18] stephentoub commented on #31351
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:18] #31351 closed

[2019-07-22 14:18] stephentoub commented on #30985
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:18] #30985 closed

[2019-07-22 14:18] stephentoub commented on #29141
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:18] #29141 closed

[2019-07-22 14:18] stephentoub commented on #29140
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:18] #29140 closed

[2019-07-22 14:18] stephentoub commented on #29018
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:18] #29018 closed

[2019-07-22 14:18] stephentoub commented on #29017
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:18] #29017 closed

[2019-07-22 14:18] stephentoub commented on #26512
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:18] #26512 closed

[2019-07-22 14:18] stephentoub commented on #25745
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:18] #25745 closed

[2019-07-22 14:18] stephentoub commented on #25712
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:18] #25712 closed

[2019-07-22 14:18] stephentoub commented on #25595
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:18] #25595 closed

[2019-07-22 14:18] stephentoub commented on #25405
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:18] #25405 closed

[2019-07-22 14:18] stephentoub commented on #25364
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:19] stephentoub commented on #25263
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:19] #25263 closed

[2019-07-22 14:19] stephentoub commented on #24358
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:19] #24358 closed

[2019-07-22 14:19] stephentoub commented on #24137
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:19] #24137 closed

[2019-07-22 14:19] stephentoub commented on #24065
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:19] #24065 closed

[2019-07-22 14:19] stephentoub commented on #23725
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:19] #23725 closed

[2019-07-22 14:19] stephentoub commented on #23546
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:19] #23546 closed

[2019-07-22 14:19] stephentoub commented on #23499
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:19] #23499 closed

[2019-07-22 14:19] stephentoub commented on #23433
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:19] #23433 closed

[2019-07-22 14:19] stephentoub commented on #23364
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:19] #23364 closed

[2019-07-22 14:19] stephentoub commented on #23073
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:19] #23073 closed

[2019-07-22 14:19] stephentoub commented on #22773
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:19] #22773 closed

[2019-07-22 14:19] stephentoub commented on #22627
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:19] #22627 closed

[2019-07-22 14:19] stephentoub commented on #22506
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:19] #22506 closed

[2019-07-22 14:19] stephentoub commented on #21553
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:19] #21553 closed

[2019-07-22 14:19] stephentoub commented on #20766
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:19] #20766 closed

[2019-07-22 14:19] stephentoub commented on #20717
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:19] #20717 closed

[2019-07-22 14:20] stephentoub commented on #20656
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:20] #20656 closed

[2019-07-22 14:20] stephentoub commented on #19249
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:20] #19249 closed

[2019-07-22 14:20] stephentoub commented on #21217
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:20] #21217 closed

[2019-07-22 14:21] stephentoub commented on #21346
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:21] #21346 closed

[2019-07-22 14:21] stephentoub commented on #22791
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:21] #22791 closed

[2019-07-22 14:22] stephentoub commented on #20387
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:22] #20387 closed

[2019-07-22 14:22] stephentoub commented on #18220
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:22] #18220 closed

[2019-07-22 14:23] stephentoub commented on #21214
We no longer run tests on a `uapaot` configuration.

[2019-07-22 14:23] #21214 closed

[2019-07-22 14:23] vcsjones commented on #39658
This seems to be a similar suggestion to your issue over at #9369. I think that proposal should make it somewhat of a goal to address the performance issues.

I think some of the suggestions at the linked issue is a good place to start.

The response I have received to this question is that .NET Core has a policy of not shipping cryptographic functionality in-the-box. All cryptographic primitives

[2019-07-22 14:30] stephentoub commented on #28773
We no longer run these tests on netfx.

[2019-07-22 14:30] #28773 closed

[2019-07-22 14:31] stephentoub commented on #28311
No update in a year, and no tests disabled against this.  Closing.

[2019-07-22 14:31] #28311 closed

[2019-07-22 14:32] stephentoub commented on #27771
Replaced by https://github.com/dotnet/corefx/issues/29166

[2019-07-22 14:32] #27771 closed

[2019-07-22 14:33] stephentoub commented on #22808
We no longer run these tests on netfx.

[2019-07-22 14:33] #22808 closed

[2019-07-22 14:33] stephentoub commented on #22807
We no longer run these tests on netfx.

[2019-07-22 14:33] #22807 closed

[2019-07-22 14:33] johnduhart commented on #39431
@josalem If we want to go down the route of Fixing the `EventSource` to be less restrictive towards interfaces, I'm happy to take the approach.

I'm going to try and work on a minimal repro of the issue in the next few days so we can confirm a fix.

[2019-07-22 14:34] stephentoub commented on #19619
We no longer run these tests on netfx.

[2019-07-22 14:34] #19619 closed

[2019-07-22 14:36] stephentoub commented on #19038
These tests no long run on netfx.

[2019-07-22 14:36] #19038 closed

[2019-07-22 14:37] stephentoub commented on #18711
These tests no longer run on netfx.

[2019-07-22 14:37] #18711 closed

[2019-07-22 14:38] stephentoub commented on #18308
These tests no longer run on netfx.

[2019-07-22 14:38] #18308 closed

[2019-07-22 14:40] stephentoub commented on #2898
Closing, as the details are now very out-of-date.  We welcome further clean-up in this area, but this issue isn't tracking it well.

[2019-07-22 14:40] #2898 closed

[2019-07-22 14:41] stephentoub commented on #6707
@terrajobst, what should happen with this issue?

[2019-07-22 14:42] stephentoub commented on #6706
@terrajobst, what should happen with this issue?

[2019-07-22 14:42] stephentoub commented on #5453
@ericstj, should this issue be closed?

[2019-07-22 14:43] stephentoub commented on #5315
NET_NATIVE no longer shows up anywhere in corefx.

[2019-07-22 14:43] #5315 closed

[2019-07-22 14:45] stephentoub commented on #4608
I'm going to close this discussion as it hasn't seen progress in 3.5 years.  As was discussed earlier on the thread, we can consider adding ToString-overrides on a case-by-case basis.  Thanks.

[2019-07-22 14:45] #4608 closed

[2019-07-22 14:45] stephentoub commented on #3189
This hasn't had much interest since we opened it for discussion almost four years ago.  Closing.

[2019-07-22 14:45] #3189 closed

[2019-07-22 14:46] stephentoub commented on #3172
Closing due to staleness. Thanks.

[2019-07-22 14:46] #3172 closed

[2019-07-22 14:50] stephentoub commented on #17866
This is over two years old now and is out-of-date, so I'm going to close it.  Please open a new issue with updated details if desired.

[2019-07-22 14:50] #17866 closed

[2019-07-22 14:51] #17478 closed

[2019-07-22 14:52] stephentoub commented on #17107
@ViktorHofer, should this be closed, or if not, what's still needed?

[2019-07-22 14:52] stephentoub commented on #16696
@danmosemsft, is this still relevant?

[2019-07-22 14:53] stephentoub commented on #16236
We no longer run netfx tests other than for libraries where we have a netfx implementation.

[2019-07-22 14:53] #16236 closed

[2019-07-22 14:53] stephentoub commented on #16229
This is now stale.  Lots of stuff has moved around, been deleted, consolidated, etc.

[2019-07-22 14:53] #16229 closed

[2019-07-22 14:54] stephentoub commented on #16185
Closing, as it hasn't received a response in over two years, and the topic isn't actually relevant to this repo.

[2019-07-22 14:54] #16185 closed

[2019-07-22 14:55] #15954 closed

[2019-07-22 14:56] RobertBouillon opened #39663 "Add IEnumerable<T>.ToArray(int) overload to optimize performance"
LINQ's default `ToArray()` is great for rapid-development, but sometimes you know the size of the desired array and you don't need `ToArray()` to spend CPU time figuring it out. By supplying the desired array size, you can bypass a lot of superfluous code in the default `ToArray()` designed to intelligently determine the size of the new array.

[code]

Prototype:
[code]

[2019-07-22 14:59] anurse commented on #39622
I don't know that `Try` is always to avoid exceptions. For example, `ChannelReader.TryRead` returning `false` does **not** indicate that `ReadAsync` would have thrown, it just tells the caller that they need to call `WaitToReadAsync` to wait for an item to appear or for the channel to signal that it's closed.

I've always internalized `Try` patterns as being ways to indicate "failure" rather than

[2019-07-22 15:02] danmosemsft commented on #16696
Don't know. @joperezr can we close?

[2019-07-22 15:06] EgorBo commented on #39663
See https://github.com/dotnet/corefx/issues/2926

[2019-07-22 15:20] stephentoub commented on #8515
@karelz, you wrote:
[code]
Presumably then this can be closed?

[2019-07-22 15:20] #11098 closed

[2019-07-22 15:21] #12861 closed

[2019-07-22 15:23] stephentoub commented on #23395
Fixed.

[2019-07-22 15:23] #23395 closed

[2019-07-22 15:26] stephentoub commented on #26845
Closing, as work is actively proceeding in https://github.com/dotnet/corefxlab/tree/master/src/Microsoft.Data.
cc: @eerhardt, @pgovind

[2019-07-22 15:26] #26845 closed

[2019-07-22 15:29] #30177 closed

[2019-07-22 15:30] stephentoub commented on #33222
Closing given announced direction with .NET 5.  Thanks.

[2019-07-22 15:30] #33222 closed

[2019-07-22 15:32] #33364 closed

[2019-07-22 15:33] stephentoub commented on #36605
@danmosemsft, looks like a dup of your own issue: https://github.com/dotnet/corefx/issues/20122 :wink:  I'll just close that one.

[2019-07-22 15:33] #20122 closed

[2019-07-22 15:33] stephentoub commented on #20122
Replaced by #36605.

[2019-07-22 15:35] stephentoub commented on #37649
e.g. in 2.1: https://github.com/dotnet/corefx/commit/19d4b1163d8a03dd90ff5fd1785eea6305112545

[2019-07-22 15:35] #37649 closed

[2019-07-22 15:35] #37650 closed

[2019-07-22 15:35] #37651 closed

[2019-07-22 15:36] #34427 closed

[2019-07-22 15:36] #34428 closed

[2019-07-22 15:46] #25951 closed

[2019-07-22 15:46] #25837 closed

[2019-07-22 15:47] #25719 closed

[2019-07-22 15:47] stephentoub commented on #25386
@danmosemsft, what is this issue tracking at this point?  Someone doing an investigation across all of our code to find places where this would be useful?  Or can this be closed?

[2019-07-22 15:48] stephentoub commented on #25083
@ViktorHofer, is this issue still relevant?

[2019-07-22 15:50] bartonjs commented on #39622
I hadn't noticed that `IsMatch` was already both static and instance.  If the type has already gone down that road then IsMatch seems reasonable.

In this case, with it being a `public bool TrySomething(string, out T)` it really looks a lot like the Try-Parse pattern, which I recommend avoiding because the semantics aren't really the same.

[2019-07-22 15:59] stephentoub commented on #22929
Multiple books have been written on writing high-performance C# code, and many factors are considered when reviewing PRs.  I'm skeptical we could do it justice or produce something particularly meaningful with only a small document.  As this has now been open and unaddressed for several years, I'm going to close it.  Thanks for the suggestion.

[2019-07-22 15:59] #22929 closed

[2019-07-22 16:06] anurse commented on #39622
Fair point about the pattern, as I said, not something I'm super worried about.

For clarity, I'll update the original issue content with the new proposal (and include a note about the change).

[2019-07-22 16:13] stephentoub commented on #39663
Are you noticing measurable performance impact?  In the example you highlight, for example, there shouldn't be any, as the output array will be constructed with the underlying array's length:
https://source.dot.net/#System.Linq/System/Linq/Select.SpeedOpt.cs,74

I'm going to close this as a dup of #2926, as this API was already proposed, discussed, and decided against.  Thanks for the suggestion,

[2019-07-22 16:13] #39663 closed

[2019-07-22 16:15] scalablecory commented on #39656
We can't send dynamic headers today but we do receive them.

This isn't about integer overflow, which shouldn't happen with current implementation, but about wrapping of `_insertIndex` back to 0 when we insert new entries:

[code]

This is expected behavior (`_buffer` is a ring buffer), but the indexer doesn't handle it properly as you'll get `_buffer[1 - index - 1]` where `index` can be in the 10

[2019-07-22 16:19] stephentoub commented on #39656
Don't we disable it in https://github.com/dotnet/corefx/blob/98db7d16ba21886901efbce6ea7b7e2b4ccec23c/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs#L137-L141?  Is that insufficient?

[2019-07-22 16:20] bartonjs commented on #39654
The API review (https://github.com/dotnet/corefx/issues/25785) brought in `public static int GetMaximumCompressedSize(int inputSize) { throw null; }` and exited with `public static int GetMaxCompressedLength(int length);`, looks like the ref only caught half of that change.

Given that changing the src is less breaking than the ref, I'd make the src match the ref (and update the exception as well)

[2019-07-22 16:21] stephentoub commented on #39656
That said, if we actually do support receiving dynamic headers, but we're not properly handling a large-ish number of them, that's something we should fix for 3.0 rather than 5.0.

[2019-07-22 16:24] scalablecory commented on #39656
Ah! Yes, it looks like we do disable them, so 3.0 is safe here. Thanks for finding that.

[2019-07-22 16:26] bartonjs commented on #39658
HashAlgorithm.TryComputeHash (span-writing) would remove the array copy.

[2019-07-22 16:28] ViktorHofer commented on #25083
No this isn't necessary anymore. Thanks.

[2019-07-22 16:28] #25083 closed

[2019-07-22 16:30] ViktorHofer commented on #17107
Unix coverage runs are working now. This can be closed. We have other issues that are tracking adding a AzDO run.

[2019-07-22 16:30] #17107 closed

[2019-07-22 16:30] #15411 closed

[2019-07-22 16:30] scalablecory opened #39666 "HTTP2: dynamic table size update is unchecked for 1-byte sizes"
In our HPACK decoder, for single-byte dynamic table size updates we are not checking against `_maxDynamicTableSize`:

https://github.com/dotnet/corefx/blob/98db7d16ba21886901efbce6ea7b7e2b4ccec23c/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackDecoder.cs#L215-L219

We do check it with multi-byte sizes:

https://github.com/dotnet/corefx/blob/98db7d16ba21886901efbce6ea7b7e2b4c

[2019-07-22 16:30] Blackbaud-PaulCrowder commented on #31749
Just chiming in to say I was having problems establishing a connection to a local SignalR application running on my Mac from a `SharedWorker`, and running `dotnet dev-certs https --clean` followed by `dotnet dev-certs https --trust` fixed the problem.

[2019-07-22 16:32] #39652 closed

[2019-07-22 16:36] #39659 closed

[2019-07-22 16:38] stephentoub commented on #38533
Closing as a dup of https://github.com/dotnet/corefx/issues/31336. Thanks.

[2019-07-22 16:38] #38533 closed

[2019-07-22 16:38] bartonjs commented on #39655
A ref struct can hold a normal reference just fine, so it could theoretically work.  IMO it would be bad, though, because the ValueSpan (or ValueSequence) properties would be returning Spans to buffers the user never owned, making their lifetime ambiguous (at best).

Certainly we could make a Stream-based wrapper to do the buffer management, which inverts the flow:

[code]

But that seems awkward.

[2019-07-22 16:40] stephentoub commented on #39655
But it can't have async operations.

[2019-07-22 16:41] danmosemsft commented on #25386
Let's separately track any individual opportunities we see.

[2019-07-22 16:41] #25386 closed

[2019-07-22 16:48] bartonjs commented on #39514
It doesn't look like `HttpUtility` declares a private ctor, so making it `static` would technically be a breaking change.

Since there are no instance methods, it shouldn't really be a thing people were doing; but there's not really an argument for making the change other than tidiness.  (It would prevent creating a new method as non-static, but testing should really catch that.)

[2019-07-22 16:51] richlander commented on #39655
I'd be happy w/o the wrapper (avoiding lifetime and async challenges), and for the ability to provide the json reader with document lines, one at a time. Ideally (for my scenario), I could give the reader an `IEnumerable<Span<Byte>>` but that isn't possible for other reasons.

[2019-07-22 17:11] #39514 closed

[2019-07-22 17:19] krwq commented on #39464
@chenxuuu what kind of serial port are you using? (i.e. usb/uart/physical com port). It would be interesting to inspect the process with i.e. Process Explorer and see what kind of file handles are open while this is happening - we are very likely not disposing something in the code.

[2019-07-22 17:29] twsouthwick commented on #29531
@JeremyKuhne I don't envision the context being that important. In .NET 4.5 Uri started throwing exceptions on malformed Uris instead of just passing them through. As people start moving to .NET Core, they'll hit this more and more on office documents in DocumentFormat.OpenXml that used to work. This allows them to either sanitize the entry, or potentially subclass Uri to hold the original and als

[2019-07-22 17:32] stephentoub commented on #39153
Just hit this again.
[code]

[2019-07-22 17:33] Anipik opened #39670 "Port System.Diagnostics.Eventing namespace to .Net Core"
We ported System.Diagnostics.Eventlog(2.1) and System.Diagnostics.Eventing.Reader(3.0) but we
missed types in System.Diagnostics.Eventing

The three types are
[code]

I am not sure if we missed it by chance or these were not ported on purpose.
Currently eventing apis can only be used to read the logs and not write it. You will have to use eventlog to write it.
These types\apis provide an another w

[2019-07-22 17:40] ericstj commented on #5453
Let's close it, we're tracking this as part of the 5.0 epic issue and plan to address it there.

[2019-07-22 17:40] #5453 closed

[2019-07-22 17:52] rgl commented on #17107
@ViktorHofer can you please update us in how that is working now? this ended up being coverlet?

[2019-07-22 17:55] carlossanlop commented on #38966
Seems to be infrastructure related. Moving to 5.0.

[2019-07-22 17:55] ericstj commented on #39670
I believe the distinction is writing vs reading.  I believe EventProvider is the writing side, and an EventProviderTraceListener is a bridge type that connects the tracing system to an event writer.  You may want to look into what the required registration / installation story is for these to work.  If its purely managed code on top of PInvokes its probably OK to bring back in one of the nuget pac

[2019-07-22 17:56] carlossanlop commented on #38834
Didn't hit it. Moving it to 5.0. Seems to be infrastructure related.

[2019-07-22 18:00] ehasis commented on #14344
I'm planing to contribute with this issue, but for some reason the there is no coverage (0 classes) for this assembly (actually Microsoft.VisualBasic.Core.dll). Any help in how to make code coverage show for this assembly?

[2019-07-22 18:02] ViktorHofer commented on #17107
This is documented here: https://github.com/dotnet/corefx/blob/master/Documentation/building/code-coverage.md#local-code-coverage-runs

It is using coverlet and ReportGenerator repo tools for code coverage measurement and to generate an HTML report. Feel free to ping me for additional questions.

[2019-07-22 18:06] #37892 closed

[2019-07-22 18:11] marklio commented on #39634
Just wanted to point out that this seems to be triggered in a cancellation scenario. Killing the server happened hours after the hang.

[2019-07-22 18:21] danmosemsft commented on #14344
@ehasis did you try https://github.com/dotnet/corefx/blob/master/Documentation/building/code-coverage.md#local-code-coverage-runs

[2019-07-22 18:28] rgl commented on #17107
@ViktorHofer I did see that page, but since this issue still said it was experimental, I was in doubt if that page was the final version. Now I known its really using coverlet. Thank you for the explanation!

BTW, will this end up in dotnet core 3?

[2019-07-22 18:29] joperezr commented on #16696
I don't think this is much of a concern since as Eric mentioned, we would catch if we are missing implementations for runtimes we should work on if we were shipping the library in question. Today, we have a few experimental libraries in corefx which don't really ship, and I think in general it is good to just do a quick check to make sure that everything not shipping but building in corefx is ther

[2019-07-22 18:35] stephentoub commented on #39672
What language are you using?  That's not C#, Visual Basic, or F#.

[2019-07-22 18:37] ViktorHofer commented on #17107
Will what end-up in .NET Core 3?

[2019-07-22 18:48] omajid opened #39673 "Add cgroup v2 support to .NET Core"
The Linux kernel includes a feature called "cgroup" (or "cgroups"). This allows managing - specially limiting - resources (cpu, memory, etc) for a collection of processes. This is one of the underlying technology pieces used by projects like docker, podman, kubernetes and systemd to limit various resources for processes.

The first version of cgroup has a number of design issues and a redesign, cg

[2019-07-22 18:56] ahsonkhan commented on #39652
I had added this as part of https://github.com/dotnet/corefx/pull/35474, particularly https://github.com/dotnet/corefx/pull/35474/commits/1534ca918cb69fda62039663b2c5282785c3b03f and https://github.com/dotnet/corefx/pull/35474/commits/455029a468573492c22ff276bc0fe0d00f6ca52c, but that change was too disruptive to review/merge.

That PR had a bunch of changes based on generating the ref from source

[2019-07-22 18:57] stephentoub commented on #39652
@ahsonkhan, were there any other changes that involved adding dummy fields that weren't merged?

[2019-07-22 19:01] ehasis commented on #14344
@danmosemsft yes, I tried that. I also tried test with coverage on the entire repository, the report showed for all the other assemblies, except the VisualBasic one.

[2019-07-22 19:06] ahsonkhan commented on #39652
This was the commit that generated the ref from source assemblies (rather than just normalizing the refs): https://github.com/dotnet/corefx/pull/35474/commits/1534ca918cb69fda62039663b2c5282785c3b03f

I called out the Brotli one (https://github.com/dotnet/corefx/pull/35474#discussion_r258747557), and there were some other "dummy" field changes, but I don't think many hit the definite assignment bu

[2019-07-22 19:08] stephentoub commented on #39652
There's a reason though why both the value type and reference type fields are needed.  If there's no `object` field but the actual type does contain a reference type, the C# compiler will for example enable the type to be used where there's an `unmanaged` constraint, even though it shouldn't.

[2019-07-22 19:09] vcsjones commented on #39628
Well, a few places.

Getting `GetRSAPublicKey` working is as straight forward as you suspected, but it breaks `GetRSAPrivateKey` (which used to return null). Seeing what it would take to fix, but the error is

<details>
<summary><code>Interop+Crypto+OpenSslCryptographicException : error:0607907F:digital envelope routines:EVP_PKEY_get0_RSA:expecting an rsa key</summary></code>
<pre>
Stack Trace:
/c

[2019-07-22 19:10] ahsonkhan commented on #39652
Ah, I see. I hadn't considered other scenarios where these fields are used by the compiler. Good point.
We would then need to fix it in a bunch of places (~10).

[2019-07-22 19:10] stephentoub commented on #39652
Any where an int, object, or generic field were added need to be fixed.  They each serve different purposes.

[2019-07-22 19:11] stephentoub commented on #39652
@ahsonkhan, can you please open a 3.0 issue with the list, or just submit a PR that fixes them?

[2019-07-22 19:12] ahsonkhan commented on #39652
Yep, will do.

[2019-07-22 19:13] danmosemsft commented on #14344
@viktorhofer is VB supposed to work? I would expect the tools to not be aware of the language used.

[2019-07-22 19:16] danmosemsft commented on #16696
@ericstj feel free to retain or close as you prefer

[2019-07-22 19:23] vcsjones commented on #39672
I think the problem though is, that in .NET Core is a [change of behavior][1] in `UseShellExecute` and it needs to explicitly be set to true. The C# equiviant of this would be something like:

[code]

[1]: https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo.useshellexecute?view=netcore-3.0#System_Diagnostics_ProcessStartInfo_UseShellExecute