[2017-08-29 02:48] dotnet-mc-bot opened #23630 "Test: System.IO.Pipes.Tests.AnonymousPipeTest_Specific/Linux_BufferSizeRoundtrips failed with "System.PlatformNotSupportedException""
Opened on behalf of @Jiayili1

The test `System.IO.Pipes.Tests.AnonymousPipeTest_Specific/Linux_BufferSizeRoundtrips` has failed.

System.PlatformNotSupportedException : Operation is not supported on this platform.

        Stack Trace:

           at System.IO.Pipes.PipeStream.GetPipeBufferSize() in /root/corefx-954865/src/System.IO.Pipes/src/System/IO/Pipes/PipeStream.Unix.cs:line 396
       at

[2017-08-29 02:53] dotnet-mc-bot opened #23631 "Native shim dependencies not correctly setup for running tests on Redhat69"
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.CancellationTest/GetAsync_ResponseContentRead_CancelUsingTimeoutOrToken_TaskCanceledQuickly(useTimeout: False, startResponseBody: False)` has failed.

System.TypeInitializationException : The type initializer for 'System.Net.Http.CurlHandler' threw an exception.
    ---- System.TypeInitializationException : The type initiali

[2017-08-29 02:59] Jiayili1 commented on #23209
failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170829.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.DiagnosticsTest~2FSendAsync_ExpectedDiagnosticCancelledActivityLogging

The test `System.Net.Http.Functional.Tests.DiagnosticsTest/SendAsync_ExpectedDiagnosticCancel

[2017-08-29 03:09] sdrapkin commented on #23629
Quick-to-judge feedback on the proposed API (trying to be helpful):

- `Span<T>` is not in [NetStandard2](https://raw.githubusercontent.com/dotnet/standard/master/docs/versions/netstandard2.0_ref.md).
- "Nonce" is very implementation-specific - ie. smells of GCM. However, even GCM docs (ex. NIST SP800-38D) refer to it as "IV", which - in case of GCM - happens to be a nonce. However, in case of oth

[2017-08-29 03:12] safern commented on #21886
Again in master:

https://github.com/dotnet/corefx/pull/23611

will disable for now.

[2017-08-29 03:21] Drawaes commented on #23629
The nonce/IV naming issue was something I was undecided about, happy with a change to IV so will change.

As for Get methods returning something, this avoids any allocations. There could be an overload Get() that returns something. Maybe it requires a naming change, but I am pretty married to the idea that the whole API needs to be basically allocation free.

As for streams etc, I am not overly bo

[2017-08-29 03:41] Jiayili1 commented on #23631
hundreds of tests failed with this issue: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170829.01/workItem/System.Net.Http.Functional.Tests

[2017-08-29 03:43] mellinoe commented on #23586
Thanks, that looks like yesterday's build. So that would narrow down the commit range a little bit.

[2017-08-29 03:50] davidsh commented on #23631
-------- System.TypeInitializationException : The type initializer for 'HttpInitializer' threw an exception.
------------ System.DllNotFoundException : Unable to load DLL 'System.Net.Http.Native': The specified module or one of its dependencies could not be found.

This is a build problem.

cc: @danmosemsft @karelz

[2017-08-29 04:12] danmosemsft commented on #23608
Yes, I think this can be closed as dupe.

[2017-08-29 04:29] karelz commented on #23631
Looks like incomplete installation ... does it happen repeatedly?

[2017-08-29 04:32] #23600 closed

[2017-08-29 04:41] karelz commented on #19717
@JeremyKuhne @danmosemsft which API shape is the final for API review? The top post is a bit vague ...

[2017-08-29 04:45] sadeqhatami commented on #23604
@jrmitch120 yes, i defined Invoke,

[2017-08-29 04:48] sadeqhatami commented on #23604
[according to this link](https://blogs.msdn.microsoft.com/dotnet/2017/05/12/announcing-ef-core-2-0-preview-1/)
i use ```
.UseDefaultServiceProvider(options =>
            options.ValidateScopes = false)
[code]

[2017-08-29 05:14] bartonjs commented on #23629
* Class, or interface?
* How, if at all, do the current SymmetricAlgorithm classes interact with this?
* How would this be used for persisted keys, like TripleDESCng and AesCng can do?
* Many of these Spans seem like they could be ReadOnlySpan.

[2017-08-29 05:15] morganbr commented on #23629
@Drawaes thanks for getting the ball rolling on this API. A few thoughts:
1. Tag generation and verification is a very important part of this API since misuse of tags can defeat the whole purpose. If possible, I'd like to see tags built into the initialize and finish operations to ensure they can't be accidentally ignored. That likely implies that encrypt and decrypt shouldn't use the same initial

[2017-08-29 05:22] jrmitch120 commented on #23604
Can you post the code to your `UseFillDataServiceMiddleware`?

[2017-08-29 05:31] CarolEidt commented on #23586
@mellinoe @stephentoub can you help me figure out what coreclr commit range that corresponds to?

[2017-08-29 05:44] danmosemsft commented on #23630
Exclude test for RHEL69
[code]

[2017-08-29 05:52] sadeqhatami commented on #23604
@jrmitch120
[code]

[2017-08-29 05:56] danmosemsft commented on #23584
@NightOwl888 thank you for the detailed report. To be able to serialize/deserialize types with BinaryFormatter they need to be marked as [Serializable] and also any deserialization constructors and ISerializable implementatoins in the hierarchy must work or at least not throw. As you have discovered, in .NET Core 2.0 we support binary serialization on a limited set of types. The complete list is [

[2017-08-29 05:56] danmosemsft commented on #23584
also cc @stephentoub for my suggestion above.

[2017-08-29 05:58] danmosemsft commented on #19119
Updated: **list of types we ended up scaling back to is here:** https://docs.microsoft.com/en-us/dotnet/standard/serialization/binary-serialization#binary-serialization-in-net-core

[2017-08-29 06:01] danmosemsft commented on #23584
I don't think we would go this way (support types with uninitialized state) because it leads us directly towards one of the worst issues with binary serialization: bad state.

 What I think we would want to do is increase the number of exception types we support serializing. In your case @NightOwl888 do you have a distinct list of such types?

[2017-08-29 06:03] Jiayili1 commented on #23631
This issue is also repro under System.Net.HttpListener.Tests
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170829.01/workItem/System.Net.HttpListener.Tests

[2017-08-29 06:07] jrmitch120 commented on #23604
You should move non-singleton dependencies to the invoke method.  Also, make the method async and await the _next.Invoke.

[code]

[2017-08-29 06:08] Jiayili1 commented on #19994
Test: System.Net.Primitives.Unit.Tests.CookieContainerTest/Add_ReachedMaxCountWithExpiredCookies_Added
 failed with same issue, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170829.01/workItem/System.Net.Primitives.UnitTests.Tests/analysis/xunit/System.Net.Primitives.Unit.Tests.CookieContainerTest~2FAdd_ReachedMaxCo

[2017-08-29 06:09] Jiayili1 commented on #22434
Still repro in Master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170829.01/workItem/System.Net.Security.Tests

[2017-08-29 06:13] Jiayili1 commented on #23631
This issue is also repro under: System.Security.Cryptography.X509Certificates.Tests

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170829.01/workItem/System.Security.Cryptography.X509Certificates.Tests

[2017-08-29 06:34] Jiayili1 commented on #23102
This test failed with same issue: System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandlerTest.GetAsync_ServerNeedsAuthAndNoCredential_StatusCodeUnauthorized

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/153/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandlerTest/GetAsync_ServerNeedsAuthAndNoCredential_StatusCode

[2017-08-29 06:56] Jiayili1 commented on #23099
failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_release/147/testReport/System.Net.Sockets.Tests/ConnectSyncForceNonBlocking/Connect_MultipleIPAddresses_Success_listenAt__127_0_0_1_/

[2017-08-29 07:03] weitzhandler commented on #23583
@karelz
What's really the use case of `Repeat`?

[2017-08-29 07:04] weitzhandler commented on #23461
OK so the verdict is to currently only support `ICollection<T>` and `ICollection`, is that right?

[2017-08-29 07:06] weitzhandler commented on #23461
@divega
OK so the verdict is to currently only add support for `ICollection<T>` is that right? I agree that covers most common collections indeed.

[2017-08-29 07:29] weitzhandler commented on #23578
@karelz
So we can achieve this:

<pre><code>
object GetUnknownCollection() =>
  new List<string>();

int GetCountIfCheap(object obj)
{
  if(obj is ICollection collection) return collection.Count;

  <b>//so we can achieve the following line without reflection:</b>
  if(obj is ICollection&lt;T&gt; collectionT) return collectionT.Count;
  return -1;
}
</code></pre>

So the above `GetCountIfCheap` me

[2017-08-29 07:33] weitzhandler commented on #23578
@karelz
Currently, getting the `Count` property for a generic `ICollection` of unknown type is only possible with reflection:

[code]

If we branch out the `Count` property (which really has nothing to do with the collection type in first place), we'll be able to achieve the above by:

[code]

[2017-08-29 07:34] DaveSlinn commented on #23311
@bartonjs Thanks very much, I will take your advice and go with option 3 (extra kudos for updating the sample with that approach).

[2017-08-29 08:20] weitzhandler commented on #23578
Additionally, if I understand right, `ICollection` signifies the ability to modify a collection. Whether it's countable or not, has nothing to do to whether it's editable.

[2017-08-29 08:33] aelij commented on #1272
@bp74 I just published a very similar [library](https://github.com/aelij/ImmutableCollections.Serialization). Main difference is that you don't have to configure the serializer (which sometimes isn't possible). And it would work with any serializer that supports standard .NET collections.

[2017-08-29 08:40] khellang commented on #23578
That's no problem. You'd just implement the interface explicitly:

[code]

[2017-08-29 08:41] fubar-coder commented on #7804
How would I implement a "UTF8" only on non-Windows platforms?

[2017-08-29 08:47] fubar-coder commented on #23627
The bing translator provides a slightly better translation:

My Mac system version is 11.6 Install SDK appears reminder: can only be installed after 10.12 version what is this?

IOW: He tries to install on macOS 11.6 and the installer complains that it can only be installed on 10.12 or later.

[2017-08-29 08:54] weitzhandler commented on #23578
@khellang in fact, `T[]`, `string` and other types actually do this.

[2017-08-29 08:56] Drawaes commented on #23629
@bartonjs
1. Class, as has often been seen in the BCL with an interface you can't expand it later without breaking everything. An interface is like a puppy for life...  unless default interface methods can be considered as a solution to that problem.
Also a sealed class from a abstract type is actually faster (as of now) because the jitt can devirtualise the methods now ... So it's basically free.

[2017-08-29 09:04] Drawaes commented on #23629
@morganbr no problem... I just want to see it happen more than anything ;)

1. Can you give a code snippet on how you see that working? Not sure it does but code always brings clarity
2. It's unfortunate but you really have to spit out the blocks early. With hmac and hashing you don't but you don't have interim data just the state. So in this case you would have to buffer an unknown amount of data

[2017-08-29 09:07] JonHanna commented on #23582
@karelz where? The desktop code line you link to calls the overload that takes an encoding, that in turn does some null checks, strips off any initial `?` and constructs a `HttpValueCollection`. That ctor calls `FillFromString` which has logic much as on corefx but without the HTML decoding. (There's URL decoding in both, which is another thing, and certainly correct).

[2017-08-29 09:23] NightOwl888 commented on #23584
@danmosemsft

It looks like the complete list we would/will need are:

[code]

[2017-08-29 09:52] joseph-newton opened #23639 "IPAddress.Parse incorrectly parsing invalid IPv6 addresses"
Prior to upgrading to .NET Core 2.0, this would throw a FormatException (note the extra character in the final hextet):

    IPAddress.Parse("3fff:ffff:ffff:ffff:ffff:ffff:ffff:abcde");

Following the upgrade, the code above parses as if the first character were not there i.e as equivalent to:

    IPAddress.Parse("3fff:ffff:ffff:ffff:ffff:ffff:ffff:bcde");

Additional characters in any of the fir

[2017-08-29 11:00] madelson commented on #23570
@karelz yes linking to a page like in the NuSpec release notes (so that you can easily find it from NuGet.org) would be a good start.

Ideally, the release notes bring you to a page that is a bit more curated in the sense that it highlights the most impactful changes.

It is also nice to be able to scroll through the notes from several versions.

Essentially, the use-case is that in considering up

[2017-08-29 11:31] weitzhandler commented on #10752
[Here](https://gist.github.com/weitzhandler/65ac9113e31d12e697cb58cd92601091)'s my implementation, hopefully it gives some ideas. It's optimized for re-usage of items, and raising lesser `Reset` events.

[2017-08-29 11:36] TSlivede commented on #23592
For performance reasons it might be better to update the other private member variable not on assignment, but to generate the complementing representation only if the specific get-accessor is called.

This way, the conversion is only performed if necessary.

[2017-08-29 11:56] NightOwl888 commented on #23587
Unfortunately, I don't know enough about the implications of changing the test to meet this "new" set of expectations are to make a constructive argument against it, just that usually we change the software to make the tests pass, not the other way around.

All I can say for certain is that this test was written on 2013-01-23 by someone who knows more about the way the software works than I do and

[2017-08-29 11:59] jnm2 commented on #23587
My guess would be, he only added delta where he was forced to at the time. If that's the case, he would have added delta in every case if he was targeting .NET Standard 2.0.

[2017-08-29 12:48] ramusbucket commented on #21267
ok, I'm starting on this...

[2017-08-29 13:05] madmunsterdaddy commented on #23306
I've read so many of these threads now and still don't understand what the correct solution is.

Had .NET 4.6.1 projects working fine in VS 2017 15.2, upgraded to 15.3 and suddenly I'm getting the **Could not load file or assembly 'System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.** error at ru

[2017-08-29 13:24] mazong1123 opened #23641 "CI Failure: error: libunwind.so.8: cannot open shared object file: No such file or directory"
The `Linux x64 Release Build` CI failed when I ran this PR: https://github.com/dotnet/corefx/pull/23596

[code]

Full log can be found at https://mc.dot.net/#/user/mazong1123/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/edb0e549ee2d27b9496f4d09731171a38ff6cb29/workItem/Microsoft.CSharp.Tests/wilogs

Seems like an environment issue.

[2017-08-29 13:32] NightOwl888 commented on #23578
I am going to have to retract this statement. There already is a `IReadOnlyCollection<T>` type that is effectively the same thing as the `ICountableEnumerable<T>` type I envisioned, being a covariant alternative to `ICollection<T>`.

As for the `ICollection` vs `ICollection<T>` vs `IReadOnlyCollection<T>` issue, I agree there is a gap here. It would be nice if there were a way to work with any col

[2017-08-29 13:32] bartonjs commented on #23311
Reopening so it's tracked as a 2.0.x porting item.

[2017-08-29 13:47] bartonjs commented on #23629
The problem would be that container formats like EnvelopedCms (or EncryptedXml) may need to work with 3DES-CBC, AES-CBC, etc.  Someone wanting to decrypt something encrypted with ECIES/AES-256-CBC-PKCS7/HMAC-SHA-2-256 probably wouldn't feel that they're doing old and crufty things.

If it's only supposed to be for AE, then that should be reflected somewhere in the name.  Right now it's generic "ci

[2017-08-29 13:53] weitzhandler commented on #23578
@NightOwl888

Yes, but `IReadOnlyCollection` means something else in it's essence, and as you said for yourself, arrays, and other common collection types don't implement it.

What I am after is a centralized interface that tells that any collection (`IEnumerable`) has a known size without having to iterate it.

[2017-08-29 13:58] Drawaes commented on #23629
:) I was merely pointing out that it's not my subject area or of much interest to me so I am willing to defer to you and the community on this topic I haven't thought through the implications for this.

[2017-08-29 14:05] stephentoub opened #23642 "Replace span-based optional arguments with fixed overloads"
When I outlined what span-based {Try}Parse methods I thought we should have on primitive types (int, long, etc.), I tried to keep the list of overloads short by using optional parameters.  For example, Int32 has these string-based Parse methods:
[code]
and I suggested (and we agreed on and we now have) adding just one span-based one to cover them all:
[code]
For the most part, that’s seemed to wor

[2017-08-29 14:07] Drawaes commented on #23629
As a side bar on the naming... Imust a tough one however
Openssl = cipher
Ruby = cipher
Go = cipher package with ducktyped interfaces for AEAD etc
Java = cipher

Now I am all for being different but... there is a trend.

[2017-08-29 14:16] ahumeniy opened #23643 "Wrong text encoding on console apps"
I have a console app made in dotnet core which, among other things, receive text input using Console.ReadLine. This works fine except when entering words using non english characters (áéíóúñ) I can write such text without problem using Console.WriteLine and debugging I can see the text received have the usual marker for invalid character.

This is happening in dotnet core 1.1.0

[2017-08-29 14:38] mscrivo commented on #23229
@ericstj Since applying the workaround to all csproj files, no one on our team has gotten the error.  Hopefully optimistic that fixed it.  If it comes back again, I'll let you know.

[2017-08-29 15:10] svick commented on #23578
@weitzhandler `T[]` does implement `IReadOnlyCollection<T>`. What common collection types do you think don't implement it?

[2017-08-29 15:16] tarekgh commented on #23604
This issue was moved to aspnet/DependencyInjection#578

[2017-08-29 15:16] #23604 closed

[2017-08-29 15:19] tarekgh commented on #23627
Issue moved to [dotnet/sdk #1549](https://github.com/dotnet/sdk/issues/1549) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-29 15:19] #23627 closed

[2017-08-29 15:29] tarekgh commented on #23628
It would be better to change the conditions there to test the ICU version instead of the OS distro. The challenge here is to know what ICU version on every platform :-( but we can just check the ICU data itself and know which version has the old data and when ICU updated the data.

CC @krwq

[2017-08-29 15:32] TSlivede commented on #4720
I beleave https://github.com/dotnet/corefx/issues/23592 is closely related. It's not about `UseShellExecute` but about avoiding to quote arguments and instead passing a list of arguments directly.

Regarding `UseShellExecute`:
I think, use shell execute should not call anything in the terminal - that's not what "[shell](https://en.wikipedia.org/wiki/Shell_(computing))" means - most desktop compute

[2017-08-29 15:41] TSlivede commented on #19956
Just my vote for

From my comment at https://github.com/dotnet/corefx/issues/4720#issuecomment-325702122

	using System;
	using System.Diagnostics;

	public class MainClass{
		public static int Main(string[] args){
			ProcessStartInfo startInfo = new ProcessStartInfo(args[0]);
			startInfo.UseShellExecute=true;
			Process.Start(startInfo);
			startInfo.UseShellExecute=false;
			Process.Start(start

[2017-08-29 15:47] Jimmy062006 commented on #23449
@danmosemsft I wanted to use it on a status command in the app I'm writing.

I then found out it worked fine in Windows but not Linux. So yes :)

[2017-08-29 15:51] TSlivede commented on #4720
From https://github.com/dotnet/corefx/issues/4720#issuecomment-161130544 :

As I mentioned, I don't think, that's what `UseShellExecute` is about. However maybe a new property could be added to `ProcessStartInfo`? (maybe `ProcessStartInfo.OpenInTerminal` ?). If it is set to true, the new process is launched within a terminal on linux and something like [create new console](https://msdn.microsoft.c

[2017-08-29 16:00] Mardoxx opened #23645 "Runtime error with [OnDeserialized] in netstandard2.0 library running in framework461 project"
1. Create new Project
1. Create net461 app (A)
1. Create netstandard2.0 class library with the below code (B)
1. Reference (B) in (A)
1. Try and compile

[code]

Runtime error of:

------

N.B. this works fine if (B) targets net461

[2017-08-29 16:01] karelz commented on #23627
FYI:
I assume that refers to 10.11.6 - El Captain macOS version: http://apple.wikia.com/wiki/OS_X_10.11.6

That macOS version is sadly not supported - we need 10.12 at minimum due to dependencies on new crypto APIs in macOS -- it is dupe of #23389

[2017-08-29 16:05] mtf30rob opened #23646 "System.ServiceModel.BasicHttpBinding throwing InvalidOperationException in dotnet core 2.0"
I am getting an invalid operation exception calling an external web service when setting the proxy settings on the BasicHttpBinding class. The error is:

When using a non-null Proxy, the WindowsProxyUsePolicy property must be set to WindowsProxyUsePolicy.UseCustomProxy. (Source: System.Net.Http.WinHttpHandler)

My code:
[code]

Removing these two lines (so it uses the machines default proxy settin

[2017-08-29 16:05] mmitche opened #23647 "Build failure: Apparent multithreaded build issue"
@dotnet-mc-bot commented on [Tue Aug 29 2017](https://github.com/dotnet/core-eng/issues/1627)

Opened on behalf of @mmitche

Warnings: 0
Status Message: failed

Build : Master - 20170829.02 (Product Build)
Failing configurations:
- Windows
  - uap-Debug-x86
  - uap-Debug-arm
  - uap-Release-x86
  - uap-Release-x64
  - uap-Release-arm
[Mission Control Build Info](https://mc.dot.net/#/product/netcor

[2017-08-29 16:05] karelz commented on #23574
@davidsh can you please run it by AppCompat?
We should also get 2.0.x approval, then we can check it into 2.1. If we don't get 2.0.x servicing approval ...

[2017-08-29 16:07] karelz commented on #23582
I guess I mixed it up with the URL decoding then.

[2017-08-29 16:08] karelz commented on #23582
@davidsh can you please run it by AppCompat?
We should also get 2.0.x approval, then we can check it into 2.1. If we don't get 2.0.x servicing approval then it is questionable if we want to fix it in 2.1 IMO.

[2017-08-29 16:09] TSlivede commented on #4720
Maybe this should be closed as duplicate of https://github.com/dotnet/corefx/issues/19956 or https://github.com/dotnet/corefx/issues/23592

[2017-08-29 16:12] JonHanna commented on #23582
*phew* (was a bit worried it was right in front of my eyes and I was somehow not seeing it, because it wouldn't be the first time that ever happened).

[2017-08-29 16:14] ericstj commented on #23614
Still being hit, despite my workaround.  I found another test referencing src that could be triggering it.  FYI @tarekgh root cause is https://github.com/dotnet/corefx/issues/23618 that caused this regression.

[2017-08-29 16:17] ericstj commented on #23614
This commit brought back the regression.  https://github.com/dotnet/corefx/pull/23612

It renamed a CSProj and that CSProj had a projectreference to src from a test.

[2017-08-29 16:19] 4creators commented on #23587
IMO it would be helpful if .NET docs introducing floating point math would contain short theoretical introduction to numerical analysis with scope consisting of (i) representation of reals in computers, (ii) nature of reals representation errors and their magnitude, (iii) calculation with floats, (iv) how errors accumulate during calculations with floats, (iv) stability of numerical algorithms, (v

[2017-08-29 16:28] karelz commented on #23582
OK, doing compat discussion here: @ericstj @stephentoub @terrajobst @Petermarcu @danmosemsft  @weshaggard -- this looks like potentially impactful breaking change we introduced in 2.0 against Desktop.

The API is new in .NET Core 2.0: https://apisof.net/catalog/System.Web.HttpUtility.ParseQueryString(String)
It is part of .NET Framework 2.0+ and also part of .NET Standard 2.0.
Telemetry shows 2.25

[2017-08-29 16:31] karelz commented on #23574
OK, doing compat discussion here: @ericstj @stephentoub @terrajobst @Petermarcu @danmosemsft  @weshaggard -- this is breaking change we introduced in 2.0 against Desktop, related to #23582.

The API is new in .NET Core 2.0: https://apisof.net/catalog/System.Web.HttpUtility.ParseQueryString(String)
It is part of .NET Framework 2.0+ and also part of .NET Standard 2.0.
Telemetry shows 2.25% usage fro

[2017-08-29 16:32] ViktorHofer commented on #23415
@JamesKN I talked offline with @stephentoub and it seems you are right.

// Stephen:

The MSDN docs even allude to this, though don’t explicitly state it as concretely as I did:
https://msdn.microsoft.com/en-us/library/system.runtime.serialization.iserializable(v=vs.110).aspx
“Any class that might be serialized must be marked with the SerializableAttribute. If a class needs to control its serializ

[2017-08-29 16:37] danmosemsft commented on #23582
I would fix it in servicing.

[2017-08-29 16:37] ericstj commented on #23647
This is a dup of #23614 / #23618.

[2017-08-29 16:37] #23647 closed

[2017-08-29 16:39] tarekgh commented on #23614
@ericstj is this blocking issue now? I mean should we give it a high priority? or you have work around till we fix it?

[2017-08-29 16:39] danmosemsft commented on #23449
Does anyone on this thread want to take a shot at implementation? If so I will assign you the issue!

[2017-08-29 16:41] ericstj commented on #23614
I'm playing wack-a-mole with the workarounds.  I would consider this blocking.  It has other side-effects just on incremental build of the src projects that I expect folks will start noticing.  Please fix the root-cause issue #23618.

[2017-08-29 16:42] karelz commented on #23578
While I understand the technical value on the caller side, I am still not sure how common such code is which needs to know the `Count` out of `IEnumerable` (if available). IMO it is usable mostly/only in Linq.
Adding new interface just to make Linq code easier, maybe a bit faster (would be nice to see the numbers) seems like overkill to me.

Or are there other real-world usages where this would pr

[2017-08-29 16:47] ViktorHofer commented on #23584
I agree, we should definitely avoid putting object in an unitialized state as this could also introduce security issues.

I'm not convinced this is the right approach. If we make more and more exception again serializable we end up at the same spot we were before. I think we should first clarify what @NightOwl888 intends to do with the exception "across application boundaries" and maybe give sugge

[2017-08-29 16:49] ericstj commented on #21356
Hit this again: https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/2736/consoleFull.

I believe the test should be disabled on desktop since it doesn't have your fix.  Either that or fix the test.

[2017-08-29 16:51] danmosemsft commented on #23584
Well, those all either have no fields or string fields (leaving aside Exception which we already support) so compared to some of the other types, they are easy. I dug up our thinking where we originally decided on just Exception and AggregateException and the thinking was mainly that we didn't have a clear place to draw the line. Maybe that is still true.

[2017-08-29 16:53] karelz commented on #10752
Unassigning @robertmclaws and marking it up-for-grabs as it looks like no one is working on it.
Next step: Submit PR.

[2017-08-29 16:58] danmosemsft commented on #23630
@weshaggard do you have a machine handy to see what's in /etc/os-release.

[2017-08-29 17:10] #23616 closed

[2017-08-29 17:11] wfurt commented on #23132
Do we have better list of what needs to be done @stephentoub ?
I can probably make the failing tests pass but I'm not sure if that is enough.

I look at the code and RFC and as minimum it seems like we should throw exception if anybody wants to use chunking & 1.0. There is no Keep-Alive and multiple requests over same socket. Host: is optional (yet request may include it IMHO) There are some other

[2017-08-29 17:17] ViktorHofer commented on #23584
Marking _simple exceptions_ that don't store additional or complex data as serializable would definitely work BUT for me the serialization story for Exceptions was the clearest of all:

_We don't support serialization of any "framework" exception besides the ones that are needed to build custom serializable ones._

[2017-08-29 17:21] mellinoe opened #23650 "CopyFromScreen_ValidRange_AffectsGraphics failed in netfx CI"
[code]

I believe these tests are invalid, given that they are failing against the .NET Framework. We should give them some scrutiny, and potentially remove them.

[2017-08-29 17:22] terrajobst commented on #14903
We just discussed this. It seems to be a general issue with synchronous `Dispose`. If we had an asynchronous `Dispose`, we'd probably like something more along the lines of:

[code]

@stephentoub offered to write up a proposal for discussion with LDM on async dispose.

[2017-08-29 17:24] justinvp commented on #23642
+1 I'm glad you opened this, as I've found the order difference jarring as well when switching between string-based and span-based TryParse. Thanks!

[2017-08-29 17:32] mellinoe commented on #22019
@ViktorHofer Is this still happening for you?

[2017-08-29 17:34] sharwell commented on #14903
@terrajobst It wouldn't happen to look anything like dotnet/roslyn#114, would it? :wink:

[2017-08-29 17:36] ViktorHofer commented on #22019
[code]

[2017-08-29 17:37] terrajobst commented on #15173
We decided that we don't want a static API on `Regex` as this design would allow the default to change over the lifetime of the app. Rather, we'd like the value to be init only, akin to what `AppDomain.SetData` enforces today. Thus, we'll make the `SetData` API work and not expose the API.

[2017-08-29 17:38] ericstj commented on #22791
Hit again:
[code]

@vancem did you happen to make some fix to the desktop implementation to address this?  Since Diagnostics.Tracing is part of netstandard we're no longer building it in master with #23611 so its possible that the test failure is real and we need to disable this test for desktop.

[2017-08-29 17:44] ViktorHofer commented on #23645
I will look into this. I haven't yet fully understand what is happening here.

My guess is that the OnDeserialized attribute of .NET Standard 2.0 and .NET 4.6.1 doesn't match (type-forward).

cc @ericstj for type forwarding from netstandard2.0 to net461

[2017-08-29 17:51] danmosemsft commented on #23650
@mellinoe @safern can one of you please go ahead and dsiable these also? It's breaking CI --

https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/2738/consoleText

[2017-08-29 17:52] joshfree commented on #23407
Milestone = UWP6.1

[2017-08-29 17:52] Mardoxx commented on #23645
Thanks!

I have no clue whatsoever, but this was my (uneducated) guess. It's looking
for the wrong `StreamingContext` class.

May be worth noting that there are no external libraries referenced. The
netstandard2.0 csproj has just the directive to set the target framework.

On 29 Aug 2017 6:44 pm, "Viktor Hofer" <notifications@github.com> wrote:

I will look into this. I haven't yet fully understan

[2017-08-29 17:56] mellinoe commented on #22019
@ViktorHofer Could you quickly test whether they also fail against `netfx`? Just as a sanity check.

[2017-08-29 17:56] weshaggard commented on #23628
RHEL6 doesn't have an /etc/os-release it uses a different file see https://github.com/dotnet/corefx/blob/master/init-tools.sh#L40.

[2017-08-29 17:59] mellinoe commented on #22019
It seems like using a hardcoded `16` font size is probably invalid here. That value is most likely dependent on some other system state and not a constant. That would explain why your system hits failures here but other folks don't.

[2017-08-29 18:17] vancem commented on #22791
@ericstj - I dont' know of desktop fixes that would explain the failure above (Brian may know of something but I doubt it).

I have merged #23553, which may help diagnose the problem (although perhaps only marginally).   Please do report further failures (It clearly has not effected some CI jobs (for example the ones I ran for #23553) so some idea of the frequency of failure would be useful to kno

[2017-08-29 18:20] ericstj commented on #23645
What version of the tooling are you using?  In this case I would expect application A to get a netstandard.dll in its output directory that should redirect StreamingContext from netstandard.dll to mscorlib.  This requires the VS 2017 15.3 update in order to work correctly.  /cc @weshaggard

[2017-08-29 18:33] Mardoxx commented on #23645
@ericstj VS 2017 15.3.2. Just seen there is 15.3.3, I shall update and report back.

Need any further info?

[2017-08-29 18:33] ViktorHofer commented on #23645
We are right now chatting offline and working on it. Thanks Mardoxx.

[2017-08-29 18:34] weshaggard commented on #23645
It sounds like you are hitting a known issue https://github.com/dotnet/standard/issues/300. There is a bug in the .NET Framework that needs to be fixed to address this.

[2017-08-29 18:37] terrajobst commented on #16567
This

[code]

should be

[code]

We should also rename `genericArity` to `genericParameterCount`:

[code]

We should also expose a query API that identifies the new positional generic method parameters. We propose to go with some more foundational concept that could equally apply to references to generic type parameters. In the spec above @AtsushiKan used the term signature type. So we settled on:

[2017-08-29 18:41] terrajobst commented on #17232
We should align this with the attribute we approved earlier, which is named `IsByRefLikeAttribute`. Since the proposal matches that, it's approved as proposed.

[2017-08-29 18:41] NightOwl888 commented on #23584
We are following your lead on this. Basically, we are doing this to be a "good citizen" to allow exceptions to be serialized for our framework. But if this is no longer considered a best practice, we can leave this feature out in .NET Standard 2.0 as we did in .NET Standard 1.5.

On the other hand, if the plan is to bring this back at some point, we want to ensure that we have only 1 .NET Standard

[2017-08-29 18:55] terrajobst commented on #22866
Looks good, the only suggestion is rename `PassExceptions` to `DoNotWrapExceptions`. The rationale being that specifying `~PassExceptions` could be read as catch-all.

[code]

[2017-08-29 18:56] Mardoxx commented on #23645
Wow, thanks -- very quick! May close this if you like.

Any idea on ETA?

[2017-08-29 19:00] JonHanna commented on #22866
That has nice didactic qualities too: Seeing `DoNotWrapExceptions` immediately teaches people that exceptions get wrapped!

[2017-08-29 19:01] terrajobst commented on #20497
Looks good as proposed.

[2017-08-29 19:01] ViktorHofer commented on #23645
cc @danmosemsft

[2017-08-29 19:03] ViktorHofer commented on #23645
@Mardoxx we maybe have a workaround for it. I will link to it later.

[2017-08-29 19:12] weitzhandler commented on #10752
Ok. I'm willing to implement this, and I'd like to include a few changes that I found very important and performance impacting on the UI thread.
The real time consumer is resetting the collection or not re-using existing items is, which is why:

  - Avoid `Reset` events whenever possible
  - Safe-check before raising events or notify properties, and avoid doing so if unnecessary, for example calli

[2017-08-29 19:13] weitzhandler commented on #10752
@karelz, thanks.
Ok. I'm willing to implement this, and I'd like to include a few changes that I found very important and performance impacting on the UI thread.
The real time consumer is resetting the collection or not re-using existing items is, which is why:

  - Avoid `Reset` events whenever possible
  - Safe-check before raising events or notify properties, and avoid doing so if unnecessary,

[2017-08-29 19:14] divega commented on #23461
That seems right.

[2017-08-29 19:29] robertmclaws commented on #10752
@karelz, I had an implementation ready to go... I was waiting on comments.

[2017-08-29 19:34] karelz commented on #10752
@robertmclaws it wasn't clear if it was just a prototype, or the real thing.
If it is the real thing, I would suggest to create a PR out of it. Assigning back to you ...

[2017-08-29 19:36] mmaguigan commented on #8158
Not to go too far back in time, but I want to address the comment made about telemetry data indicating no one has used ECDiffieHellman. The odds are, anyone who would use such a thing, would never allow telemetry. You're dealing with a part of the community that is naturally very averse to things like telemetry, and speaking on behalf of my customers - telemetry is always disabled unless it slips

[2017-08-29 19:36] robertmclaws commented on #10752
@karelz Gotcha. If you look at the conversation here: https://github.com/robertmclaws/coreclr/commit/841672090c9245ab961bf25cb682833ef599c358 there was a pretty in-depth discussion about breakage, which was part of the reason this was not implemented yet, and why we didn't go down the route @weitzhandler suggested. We were iterating on how to handle subclasses in a non-breaking way, and then I thi

[2017-08-29 19:39] ericstj commented on #22791
To get an understanding of what fixes were made to that *will not* be in the desktop tracing dll, you can compare master and release/2.0.0:

https://github.com/dotnet/corefx/commits/release/2.0.0/src/System.Diagnostics.Tracing/src
https://github.com/dotnet/corefx/commits/master/src/System.Diagnostics.Tracing/src

I see lots of changes that touch EventCounter.

So your desktop tests are effectively

[2017-08-29 19:40] karelz commented on #10752
Sounds good! I bet @weitzhandler will be happy to code review it as well.
PRs in general get more attention in code reviews, so it will be a good thing. If there are still open design/breaking-changes questions, I would suggest to raise them and address them before creating the PR.

[2017-08-29 19:42] weitzhandler commented on #10752
@robertmclaws

What are you talking about? Don't remember ever suggesting anything, except for putting in a prototypish gist to take ideas from.

[2017-08-29 19:47] karelz commented on #23570
Not sure what you mean by NuSpec.

Based on what you expect, I think that a link to https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0.0.md would be appropriate solution - all the info (incl. list of commits) is there. Or do you expect more than that?

[2017-08-29 19:59] danmosemsft commented on #23570
@karelz the content shown in the nuget/myget page for our packages is partly generated from the .nuspec file in the package.

Eg., on https://www.nuget.org/packages/Microsoft.NETCore.App/ the text `A set of .NET API's that are included in the default .NET Core application model.
e8b8861ac7faf042c87a5c2f9f2d04c98b69f28d
When using NuGet 3.x this package requires at least version 3.4.` is from the .

[2017-08-29 20:02] ericstj commented on #22791
Here's the latest, with your additional logging.  https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/2745/consoleText

[code]

[2017-08-29 20:23] weitzhandler commented on #10752
@karelz
I think in the `ObservableCollection<T>` range support will anyway require overriding the range methods if we choose to add them to `Collection<T>`, what I mean to say is that we can implement the `ObservableRangeCollection<T>` range methods separately. Though I agree we'd better off starting with overriding appropriate range methods rather than adding them later to `Collection<T>`. Sorry

[2017-08-29 20:26] danmosemsft commented on #22578
@Jiayili1 fixed?

[2017-08-29 20:27] AtsushiKan opened #23654 "Blocking: Package restore failing with nuget errors."
As of this morning, any attempt to "sync -p" (master branch, synced to current bits, "git clean -xdf" done), aborts with this set of error messages (which seems to me like they should be warnings.)

[code]

Syncing back to commits that I knew worked yesterday and retrying just produces other nuget errors.

This looks like something changed nuget configuration on my box althought I thought corefx w

[2017-08-29 20:29] JamesNK commented on #23415
So the issue is Json.NET is checking that a type implements ISerializable but not also checking for the SerialiazableAttribute?

[2017-08-29 20:34] ViktorHofer commented on #23415
Correct :)

[2017-08-29 20:42] AtsushiKan commented on #22866
Next steps: will add the enum value to `BindingFlags` in the code so both CoreCLR and CoreRT use the same (numerical) value. Then we open separate issues for implementation on CoreRT and CoreCLR. (Latter can be up for grabs.)

[2017-08-29 21:04] Drawaes commented on #23177
Okay well, even though @Tratcher is thinking how I was at the start, I got my hopes up for a future actual fix and now aren't sure it's the correct direction.

However I am going to depart from general internet behaviour and capitulate as there seems to be solid support for that design. So here is what I think to move things along

@Priya91 if you agree as it looks like you are doing the implemena

[2017-08-29 21:08] danmosemsft commented on #23406
@ahsonkhan I've assigned this to you if you don't mind. If you don't think you can get to it next week, let me know.
@jkotas are you suggesting that coverage is missing in general, or just observing the tests aren't on yet for uap?

[2017-08-29 21:10] Drawaes commented on #23629
I have made a few changes, I will change naming if a better name is decided upon.

[2017-08-29 21:19] karelz commented on #22866
Marking as up-for-grabs.
Complexity wise: medium (see next steps in previous comment from @AtsushiKan)

[2017-08-29 21:20] ahsonkhan opened #23656 "Using latest System.Memory package with netcoreapp2.0 fails due to S.N.V depenedency"
If we bump up the version of the packages we reference in corefxlab to: 4.5.0-preview2-25628-01
https://github.com/dotnet/corefxlab/blob/master/tools/dependencies.props#L6-L8

..\.nuget\packages\microsoft.netcore.app\2.0.0\ref\netcoreapp2.0\System.Numerics.Vectors.dll
has version ver 4:1:3:0

But the latest System.Memory depends on 4.1.4
.assembly extern System.Numerics.Vectors
{
  .publickeytoken

[2017-08-29 21:29] ericstj commented on #23654
@weshaggard didn't you mention there was some behavior in the host where it was choosing a machine-wide SDK even when run from a private copy?  /cc @Petermarcu @eerhardt

I agree those look like they should be warnings.  At the very least we should clean them up. I filed https://github.com/dotnet/buildtools/issues/1655 to fix that.

Now I'm trying to understand what's making those appear to you as

[2017-08-29 21:33] eerhardt commented on #23654
@AtsushiKan - can you run `c:\dd\CoreFx\Tools/dotnetcli/dotnet.exe --info` from the `c:\dd\CoreFx\external\test-runtime` working directory and list the output?

[2017-08-29 21:37] ericstj commented on #23656
Which System.Memory are you using?

[2017-08-29 21:37] AtsushiKan commented on #23654
[code]

(Note: This was probably triggered by my cloning the aspnet/Kestrel yesterday as its build script installs/upgrades stuff in under %USERPROFILE%\.dotnet.)

[2017-08-29 21:40] weitzhandler opened #23657 "Unable to build the repo on my machine"
Hi, I followed [these](https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md) directions, but when I'm building it fails.

## My setup

- Windows 10.0.15063 Build 15063 x64 Home edition
- VS 2017 (15.3.3) Community edition (only IDE)
  - Workloads:
![image](https://user-images.githubusercontent.com/2716316/29845753-bb02a0e6-8d1c-11e7-9025-06af8acda619.png)
  -

[2017-08-29 21:40] eerhardt commented on #23654
Yes, you are hitting a change we had temporarily in the `dotnet.exe` host.  It was backed out for the official 2.0 release.

Delete the folder `C:\Users\atsushik\.dotnet\x64\sdk` and try again.

[2017-08-29 21:45] danmosemsft commented on #23657
@weitzhandler what is your setup? What version of VS do you have, and what version of the developer prompt do you have?

One of your errors is `C:\Users\Shimmy\Source\Repos\corefx\Tools\net46\roslyn\build\Microsoft.Net.Compilers.props(11,5): error : Microsoft.Net.Compilers is only supported on MSBuild v14.0 and above ` which makes me wonder if you have an old VS or you are not opening the develope

[2017-08-29 21:46] AtsushiKan commented on #23654
After renaming the sdk folder, `.\sync -p` now runs to completion. (The warnings are gone too.)

[2017-08-29 21:47] AtsushiKan commented on #23654
For further clarification:

- Is there a more offical way to uninstall that bad preview version of dotnet.exe than deleting the sdk folder?

- Is it expected that this external event should break the corefx build?

[2017-08-29 21:48] weitzhandler commented on #23657
@danmosemsft I accidentally hit 'Post' while still editing my issue...
Anyway, I only have VS 2017 15.3.3.

[2017-08-29 21:50] MaggieTsang commented on #22356
@stephentoub Should the existing `NextBytes(byte[])` also call `Next()`? Otherwise, if you derive the class `NextBytes(Span<byte>)` and `NextBytes(byte[])` won't give identity results if you override `Next()`.

[2017-08-29 21:53] stephentoub commented on #22356
We shouldn't change the existing `NextBytes(byte[])`, as that could be a breaking change (it will now be impacted by a virtual it wasn't previously impacted by), and it could have a performance impact (each byte would then incur an extra virtual method call instead of a non-virtual call).

[2017-08-29 21:53] eerhardt commented on #23654
For more information on this behavior -

Here are the PRs that put the initial changes in 2.0.0
https://github.com/dotnet/core-setup/pull/1241
https://github.com/dotnet/core-setup/pull/1568

And here's the change that took out the `%USERPROFILE%` lookup out later in 2.0.0
https://github.com/dotnet/core-setup/pull/2627.

No.  Just deleting the folder manually is the only way.

No, it isn't expected

[2017-08-29 21:57] AtsushiKan commented on #23654
Ok, thanks.

[2017-08-29 21:57] #23654 closed

[2017-08-29 21:58] weitzhandler commented on #23657
@danmosemsft I accidentally hit 'Post' while still editing my issue...
Please see my updated post.

[2017-08-29 21:58] Priya91 commented on #23177
I have also gotten alpn working for Linux, and used a basic options bag for the api surface area, I can change this after the api is approved. In the meantime, here's the [commit](https://github.com/Priya91/corefx-1/commit/76548ccc68134de74a60bf3da3a2c166811936fa) with the alpn changes on Linux, the alpn test works, but some other tests are failing, investigating those.

[2017-08-29 22:01] ahsonkhan commented on #23656
System.Memory 4.5.0-preview2-25628-01 from myget (https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Memory)
What do you mean by path?

[2017-08-29 22:03] danmosemsft commented on #23657
@weitzhandler what do you get when you do `where msbuild` in your prompt? This is what I get:

[code]

[2017-08-29 22:08] weitzhandler commented on #23657
[code]

[2017-08-29 22:08] weitzhandler commented on #23657
I only get

[code]

[2017-08-29 22:09] danmosemsft commented on #23657
does `C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\MSBuild.exe` exist?

if so what do you get when you do `set PATH` ?

[2017-08-29 22:09] weitzhandler commented on #23657
Gonna add it to the path now, 1 sec

[2017-08-29 22:10] Spacefish commented on #23340
Sorry for the ticket.. it was my fault..
i used the provider without a key being loaded, as i used a XML to load the key which is not supported on .NET Core, works like a charm now!

[2017-08-29 22:10] Drawaes commented on #23177
Okay @Tratcher if you are happy with the general API in that commit I can distill out and update the first comment in the issue and we can move on?

[2017-08-29 22:19] ericstj commented on #23656
Looked at this in the latest package and I understand the issue.  Its the consequence of moving things inbox in netcoreapp2.0, representing that as a placeholder (so as not to trigger conflict resolution) then versioning the assembly post 2.0.   This means that new netstandard2.0 assemblies that use the inbox assembly will get a reference to the newer version, but won't get that newer version in a

[2017-08-29 22:20] danmosemsft commented on #23657
The developer prompt should have added it. Are you opening the developer prompt, or just a command window? You should see something like this when you open it
[code]

[2017-08-29 22:23] Tratcher commented on #23177
By all means

[2017-08-29 22:24] weitzhandler commented on #23657
It's working now.
Thanks for your help Dan!

[2017-08-29 22:25] SteveL-MSFT opened #23660 "Segmentation fault on arm32 (raspberry-pi3)"
After building powershell with runtime linux-arm, it runs until it hits a second ManualResetEvent::WaitOne() call and results in SegFault.  Stack trace from gdb:

[code]

[2017-08-29 22:25] weitzhandler commented on #23657
Is it possible to debug it in VS 2017?

[2017-08-29 22:29] jkotas commented on #23406
From above: These tests are very likely uncover bugs that will be hard to track down otherwise (e.g. #23073).

We are getting some indirect coverage as Span is getting used in more and more places in corefx. However, it would be much more productive to debug uapaot-specific Span bugs in targeted Span tests than in the more complex tests that happen to exercise Span indirectly.

[2017-08-29 22:30] danmosemsft commented on #23657
@weitzhandler just to be clear, if you manually edited the path, rather than getting it from the developer prompt, you will likely have other issues further along.

For debugging you can see https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md

If the instructions need clarifying/improving, a PR to do that would be most welcome.

[2017-08-29 22:31] ericstj opened #23661 "BasicEventSourceTests.TestEventCounter.Test_Write_Metric_EventListener fails on NetFx when running on netstandard support libs."
Sync to eade3b36725c8d463a40589ff749af5bb0cab8f4

build -targetGroup:netfx
cd src\System.Diagnostics.Tracing\tests
msbuild /p:TargetGroup=netfx /t:BuildAndTest

Expect: pass
Actual: failure with following
[code]

I suspect that this is due to the test expecting behavior post fixes made in master after the release/2.0.0 fork.  Any fixes made to the netfx build here were actually dead-ends since we

[2017-08-29 22:32] danmosemsft commented on #23657
Ah I see the issue!

https://github.com/dotnet/corefx/commit/244efc5332bc55c96873c242ed520e85a04e0e03

[2017-08-29 22:32] danmosemsft commented on #23660
@janvorli

[2017-08-29 22:35] weitzhandler commented on #23657
Thank you Dan, that was it.

[2017-08-29 22:37] ericstj commented on #23656
Here's the set of packages impacted by this problem:
[code]

For some we're already hardcoding the assembly version.  As a temporary fix, I'm going to dial back the assembly version for those that just became inbox in netcoreapp2.0 until we decide the right long term fix.

[2017-08-29 22:46] ViktorHofer commented on #23584
Binary serialization itself isn't considered as a good practice anymore as the security concerns overweight...

Consider the serialization support in .NET Core 2.0 "finished". We might add a few types if customer demand is strong but more or less we should be settled.

[2017-08-29 22:58] #23618 closed

[2017-08-29 23:00] ericstj commented on #23656
The more I think about this the more I think that removing the placeholders is the only thing that will work long term.

Consider cases like Immutable.Collections: we can't freeze the API just because it shipped inbox in NETCoreApp2.0.  Forcing API additions to go in a TFM that's not compatible with netcoreapp2.0 is a non-starter.

Freezing assembly versions will only work where things build an un

[2017-08-29 23:00] weitzhandler commented on #23657
Please also take care of fd33901fe77a946889d11ea4677699534f4d8e5c

[2017-08-29 23:02] weitzhandler commented on #23657
@danmosemsft
The tests are not discovered, what am I missing?

[2017-08-29 23:08] karelz commented on #14903
FYI: The API review was recorded - see https://youtu.be/VppFZYG-9cA?t=152 (10 min duration)

[2017-08-29 23:08] karelz commented on #15173
FYI: The API review was recorded - see https://youtu.be/VppFZYG-9cA?t=789 (14 min)

[2017-08-29 23:09] karelz commented on #16567
FYI: The API review was recorded if you're interested - see https://youtu.be/VppFZYG-9cA?t=1685 (1h - yeah, it's loooong discussion)

[2017-08-29 23:10] karelz commented on #17232
FYI: The API review discussion was recorded - see https://youtu.be/VppFZYG-9cA?t=5306

[2017-08-29 23:10] karelz commented on #22866
FYI: The API review discussion was recorded - see https://youtu.be/VppFZYG-9cA?t=5527 (duration: 14 min)

[2017-08-29 23:11] karelz commented on #20497
FYI: The API review discussion was recorded - see https://youtu.be/VppFZYG-9cA?t=6428 (5 min duration)

[2017-08-29 23:13] weitzhandler commented on #23461
See PR #23664.

[2017-08-29 23:17] JonHanna opened #23665 "What should be done about byref-like types in Microsoft.CSharp"
Now that we have an API for detecting them consistently.

The netfx handling of a set number of types, like typed references, gives us a model, and perhaps we should follow it, but perhaps not. (Will follow up with more details on that later, but opening this now before I forget).

[2017-08-29 23:25] karelz commented on #23660
This issue was moved to dotnet/coreclr#13667

[2017-08-29 23:25] #23660 closed

[2017-08-29 23:28] karelz commented on #23656
Is it something we should address in 2.0.x servicing?

[2017-08-30 00:03] #17232 closed

[2017-08-30 00:06] MattGal opened #23667 "Add support for OpenSuse 42.2 in .NET CoreFx 1.1.0"
This issue tracks ensuring that your team has considered how to handle OpenSuse 42.2 builds in your .NET Core 1.1.0 repositories.

Since .NET Core 1.1 is an LTS release, per @leecow we need to support OpenSUSE 42.2 with it.  Unfortunately, when 1.1 release branches were snapped, 42.1 was the used version.  It turns out there was not even a RID (runtime identifier) that matches this build (In the 1

[2017-08-30 00:13] karelz commented on #20177
@wfurt @janvorli can you please look at the issue?

@tcorrin when you hit the issue again, please upload another dump. Having more dumps usually helps.
Can you please also verify that this happened on 2 different machines (or at least VMs)?

[2017-08-30 00:17] weitzhandler commented on #23578
@NightOwl888 The problem with `IReadOnlyCollection<T>` is again, it's generic, and I'm looking for a non generic interface that should expose `Count` and should be common to `ICollection<T>` and `ICollection`.

@karelz it could be a bit faster, and it could be *n* times faster depending on the collection size. I bump into this scenario every day. Given an `IEnumerable` that can be either `ICollect

[2017-08-30 00:35] bartonjs commented on #23340
Glad you got it worked out :smile:

[2017-08-30 00:36] jefffhaynes opened #23671 "WindowsRuntimeBufferExtensions.ToArray incorrectly checks Capacity"
The following code will throw an ArgumentException:

[code]

WindowsRuntimeBufferExtensions.ToArray checks the buffer capacity as a precondition, which isn't used in the method.  Obviously the expected behavior would be to return an array of length zero.

I also can't find a unit test for this case.

[2017-08-30 00:40] madmunsterdaddy commented on #23306
I'm still just confused on why a machine with 4.6.1 Framework installed can't load this System.Net.Http 4.2.0.0? I have zero idea what to do at this point?

[2017-08-30 00:45] caozhiyuan opened #23672 "Unix Socket Client Send WouldBlock Server Receive Data Error"
[code]

https://github.com/caozhiyuan/DotNetty/tree/dev/examples/SocketAsyncClient

https://github.com/caozhiyuan/DotNetty/tree/dev/examples/SocketAsyncServer

![qq 20170830084137](https://user-images.githubusercontent.com/3415285/29850341-72317066-8d5f-11e7-9727-90cd239e0db0.png)

[EDIT] Add C# syntax highlighting by @karelz

[2017-08-30 00:56] kietbahuynh commented on #16598
Any updates on this?

I'm having the same issue. Have tried the workaround suggested by @argoLein but no luck.

[2017-08-30 01:01] caozhiyuan commented on #23672
Server in Windows  and Client in Ubuntu

[2017-08-30 01:04] Jiayili1 commented on #22578
@danmosemsft This issue is not repro in build 20170829.02, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170829.02

[2017-08-30 01:11] joshfree commented on #23407
this fix will be in Preview 2

[2017-08-30 01:11] #23407 closed

[2017-08-30 01:12] safern commented on #23407
I still need to reenable to build the tests in ret mode. Will open a PR later

[2017-08-30 01:16] #21356 closed

[2017-08-30 01:28] jamesqo commented on #23461
For completeness' sake, should `IReadOnlyCollection<T>` be supported too? It also has a `Count` property but is independent of `ICollection` or `ICollection<T>`.

[2017-08-30 01:51] morganbr commented on #23629
When I started trying to answer questions, I realized the API is already missing encryption/decryption differentiation, so in your example, it doesn't know whether to encrypt or decrypt data. Getting that put in might add some clarity.

I could imagine a couple ways that the API could enforce proper tag usage (based on the assumption that this is an AEAD API, not just symmetric encryption since we

[2017-08-30 02:16] weitzhandler commented on #23461
@jamesqo Pity `ICollection<T>` doesn't inherit from `IReadOnlyCollection<T>`. See #23578 for the complete discussion on this painful `Count` property.

[2017-08-30 02:27] weitzhandler commented on #10752
OK I'm unable to discover the tests in my environment, but I thought I'll share it anyway: 960eddb92e7b291fc61885ddcc54f9d094ed72d5.

[2017-08-30 02:30] sdrapkin commented on #23629
Some thoughts & API ideas:
[code]

[2017-08-30 02:31] jnm2 commented on #22356
I'm curious, why is it written as `(byte)(Next() & 0xFF)` instead of `(byte)Next()`?

[2017-08-30 02:33] danmosemsft commented on #23586
@CarolEidt here is the quickest way I have found to get the CoreCLR commit range from a CoreFX update job like https://github.com/dotnet/corefx/pull/23563 in this case.

The issues were noted just after `Update CoreClr, CoreFx, CoreSetup, External to preview2-25627-01,...`. (Because the bot force pushes, we can't see earlier CI results in the PR so I'm going by the comments.) That gives us `previe

[2017-08-30 02:38] morganbr commented on #23629
@sdrapkin , thanks for contributing thoughts. Where should tags go in your API? Are they implicitly part of the ciphertext? If so, that implies a protocol that some algorithms don't actually have. I'd like to understand what protocols people might care about to see whether implicit tag placement is acceptable or if it needs to be carried separately.

[2017-08-30 02:38] Drawaes commented on #23629
@morganbr I noticed the encrypt/decrypt issue as well but hadn't had time tonight to fix so glad for your design. I prefer the methods over the class as it allows better aggressive recycling (buffers for keys and IV's can add up).

As for a check before the dispose. It's not possible to tell the end of an operation unfortunately.

@sdrapkin interfaces I would say are a no go due to the version pro

[2017-08-30 02:58] sdrapkin commented on #23629
@morganbr Tags are part of ciphertext. This is modelled after [CAESAR API](https://competitions.cr.yp.to/caesar-call.html) (which includes AES-GCM).

@Drawaes I've used interfaces to illustrate thoughts only - I'm perfectly ok with static methods/classes. Span<T> does not exist. I don't care about what may or may not be coming - it is not in NetStandard2, and it is not in the normal .NET that seri

[2017-08-30 04:20] ericstj commented on #23656
Not a servicing issue, per-se but something we need to be cognizant of should we service one of these packages.  We need to decide what to do for 2.1.

[2017-08-30 04:21] danmosemsft commented on #23588
Seems the latest release of NRefactory is 6.0.0 beta 1 (https://www.nuget.org/packages/ICSharpCode.NRefactory/6.0.0-beta1) ... if you see it work with binaries from that package, we could ask ReportGenerator folk to consider upgrading their dependency.

[2017-08-30 04:23] stephentoub commented on #23588
I tried that before I tried compiling from source... failed miserably.

[2017-08-30 04:26] danmosemsft commented on #23671
@jefffhaynes I think you're right. Would you like to submit a PR maybe?

[2017-08-30 04:34] jefffhaynes commented on #23671
Sure.  I'll take a stab at it tomorrow

________________________________
From: Dan Moseley <notifications@github.com>
Sent: Wednesday, August 30, 2017 12:27:30 AM
To: dotnet/corefx
Cc: Jeff Haynes; Mention
Subject: Re: [dotnet/corefx] WindowsRuntimeBufferExtensions.ToArray incorrectly checks Capacity (#23671)

@jefffhaynes<https://github.com/jefffhaynes> I think you're right. Would you like to sub

[2017-08-30 04:38] NickGerleman opened #23676 "CurlHandler Does Not Respect MaxConnectionsPerServer Property"
Setting MaxConnectionsPerServer on an HttpClientHandler doesn't do anything on Unix systems. The property is propagated to CurlHandler which [stores it as an instance variable](https://github.com/dotnet/corefx/blob/a26de495ffa390a9d6b3a0d0f338e9d9f97ad5fe/src/System.Net.Http/src/System/Net/Http/Unix/CurlHandler.cs#L371) but doesn't ever use it. This seems like an oversight since [documentation for

[2017-08-30 04:45] danmosemsft commented on #23639
@joseph-newton what version do you have that this works on? It fails for me on 1.1.1-servicing-005133 also. At a glance the code has not changed.

[2017-08-30 04:45] NickGerleman commented on #23676
It looks like there is already piping to set related flags [in CurlHandler.MultiAgent.cs](https://github.com/dotnet/corefx/blob/a27929935d2782cdc3e7be21653e8c4530274c6f/src/System.Net.Http/src/System/Net/Http/Unix/CurlHandler.MultiAgent.cs#L232).

[2017-08-30 04:50] mazong1123 commented on #23641
Seems like current CI fixed this issue. Closing.

[2017-08-30 04:50] #23641 closed

[2017-08-30 04:50] argoLein commented on #16598
Hi , my Solution with the credentialcache works only inside a Linux based docker Container. if i want to start outside of a Container i have to remove the credentialcache. I made a simple switch with a OS ENV var.

[2017-08-30 04:53] stephentoub commented on #23676
It's used here:
https://github.com/dotnet/corefx/blob/a27929935d2782cdc3e7be21653e8c4530274c6f/src/System.Net.Http/src/System/Net/Http/Unix/CurlHandler.MultiAgent.cs#L261

[2017-08-30 05:07] jkotas commented on #23586
dotnet/coreclr#13245 is the bad change. I am reliably reproducing the failure with the change, and not reproducing it without the change, with `COMPlus_GCStress=1`. Reverting in https://github.com/dotnet/coreclr/pull/13682

[2017-08-30 05:34] NickGerleman commented on #23676
My apologies, I only looked in the file where the property existed and forgot to look for partial classes.

[2017-08-30 05:34] #23676 closed

[2017-08-30 05:39] jkotas commented on #23586
cc @pgavlin

[2017-08-30 05:57] Jiayili1 commented on #22719
This issue failed again in Master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170830.01/workItem/System.Data.SqlClient.Tests/analysis/xunit/System.Data.SqlClient.Tests.AmbientTransactionFailureTest~2FTestSqlException(connectAction:%20Action%601%20%7B%20Method%20=%20Void%20%3C.cctor%3Eb__13_0(System.String)

[2017-08-30 05:57] kietbahuynh commented on #16598
@argoLein Thanks for your comment

I think I have the same setup as yours except that I'm using dotnet core 2.0.

I'm able to use NetworkCredentials just fine outside of docker. However, once inside docker, I keep having 401 error.

I've tried your suggestion and then call the code below but doesn't seem to work
`var result = client.GetStringAsync(requestUrl).Result;`

A bit more information about

[2017-08-30 06:15] Jiayili1 commented on #23037
failed again in Master branch: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170830.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandlerTest~2FSendAsync_RequestVersion20_ResponseVersion20IfHttp2Supported(server:%20https:~2F~2Fhttp2.akamai.com~2F)

[2017-08-30 06:20] Jiayili1 commented on #23535
failed again in master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170830.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DualModeConnectionlessReceiveFrom~2FReceiveFromV6BoundToSpecificV6_Success

The test `System.Net.Sockets.Tests.DualModeConnectionlessReceiveFrom/ReceiveFrom

[2017-08-30 06:27] Jiayili1 commented on #23429
failed again in master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170830.01/workItem/System.Net.WebSockets.Client.Tests/analysis/xunit/System.Net.WebSockets.Client.Tests.SendReceiveTest~2FSendReceive_ConnectionClosedPrematurely_ReceiveAsyncFailsAndWebSocketStateUpdated

[2017-08-30 06:31] Jiayili1 commented on #23473
failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170830.01/workItem/System.IO.FileSystem.Tests

[2017-08-30 06:33] Li-ReDBox commented on #23605
Same issue with targeting netcoreapp2.0.

[2017-08-30 06:37] dotnet-mc-bot opened #23677 "Test: System.Collections.Generic.Tests.ComparerTests/NullableOfIComparableComparisonsShouldTryToCallLeftHandCompareToFirst failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Collections.Generic.Tests.ComparerTests/NullableOfIComparableComparisonsShouldTryToCallLeftHandCompareToFirst` has failed.

Assert.Equal() Failure\r
    Expected: 0\r
    Actual:   1

        Stack Trace:

           at System.Collections.Generic.Tests.ComparerTests.NullableOfIComparableComparisonsShouldTryToCallLeftHandCompareToFirst() in E:\A\_work

[2017-08-30 06:40] Jiayili1 commented on #23097
failed again in master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170830.01/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessStartInfoTests~2FStartInfo_TextFile_ShellExecute

[2017-08-30 07:00] Jiayili1 commented on #23279
This issue is still repro: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170829.01

[2017-08-30 07:02] Jiayili1 commented on #21425
This issue is repro in 2.0.0 branch, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170829.01/workItem/System.Globalization.Tests/analysis/xunit/System.Globalization.Tests.NumberFormatInfoCurrencyNegativePattern~2FCurrencyNegativePattern_Get(locale:%20%5C%22fa-IR%5C%22)

[2017-08-30 07:03] Jiayili1 commented on #21426
This issue is repro in 2.0.0 branch, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170829.01/workItem/System.Globalization.Tests/analysis/xunit/System.Globalization.Tests.RegionInfoPropertyTests~2FMiscTest(lcid:%201037,%20geoId:%20117,%20currencyEnglishName:%20%5C%22Israeli%20New%20Shekel%5C%22,%20alternativeC

[2017-08-30 07:04] Jiayili1 commented on #22091
failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170829.01/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.IO.Tests.PathTests~2FGetFullPath_Windows_83Paths

[2017-08-30 07:05] Jiayili1 commented on #22093
failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170829.01/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.EnvironmentTests~2FGetSystemDirectory

[2017-08-30 07:07] troncomputers opened #23678 "Load custom assembly to ASP .NET Core 2.0 project"
_From @troncomputers on August 29, 2017 9:26_

Hi!
I'm trying to load custom assembly (nip24Library.dll). This is the C# API for finding companies by VAT Number in Poland.
[code]
VS added for me this entry to .csproj file
[code]
It looks like the web app doesn't know where this file is. How can I solve this problem?

_Copied from original issue: aspnet/Home#2171_

[2017-08-30 07:07] troncomputers commented on #23678
_From @Tratcher on August 29, 2017 17:23_

You should move this to https://github.com/dotnet/corefx.

[2017-08-30 07:38] Jiayili1 opened #23679 "System.Net.Http.Functional.Tests.ManagedHandler_DiagnosticsTest.SendAsync_ExpectedDiagnosticCancelledLogging failed with "Timed out after 60000ms""
Failed test: System.Net.Http.Functional.Tests.ManagedHandler_DiagnosticsTest.SendAsync_ExpectedDiagnosticCancelledLogging

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-08-30 07:54] joseph-newton commented on #23639
The expected (FormatException throwing) behavior occurs with version 1.1.2 build c7e321e6ef7272cebfbfebe37fbb47cb023a6270.

[2017-08-30 08:08] Sc0tTyXL commented on #22781
We ran into this problem on Monday, apparently one of the packages we used added some standard2.0 stuff to our csproj. It took us the whole day to find the root cause of the issue and was only able to solve the issue after reading this issue and #9846 as there was no other info flying around.

Why would you want to move packages back into the GAC? This means that if one of our dev machines is not

[2017-08-30 08:51] jchannon commented on #20177
Correct, this was 2 different machines

On 30 August 2017 at 01:14, Karel Zikmund <notifications@github.com> wrote:

[2017-08-30 09:22] twDuke commented on #18406
Using dapper 1.50.2, which has a dependency on SqlClient 4.1, caused this issue. Explicitly installing SqlClient 4.4 indeed solved the issue.

[2017-08-30 10:06] Mardoxx commented on #1272
`[Serializable]` `Immutable*` would be great.

At the moment I've got the following dirty workaround, e.g. with `ImmutableDictionary<,>`

[code]

This works by having an internal state which is `[Serializable]`, and then lazy creates the `Immutable`. Works when you don't have any control over the `IFormatter` to notify it of your `ISerializationSurrogate`s.

Kinda sucks though, because it's storin

[2017-08-30 10:47] davidfowl commented on #14903
YESSSS it'll also fix our stream problems

[2017-08-30 10:54] gulbanana opened #23680 "LINQ bug: ConcatNIterator.LazyToArray() produces incorrect results"
Here's a repro: https://github.com/gulbanana/repro-corefx-concat-toarray
[code]

The problem occurs when using Concat multiple times and then calling ToArray().
[code]

This program should print "A B C", but it instead prints "A B A". I believe the problem is in the specialised implementation of concatenation for 3+-enumerables-of-collections. I ran into it in an actual project (an IEnumerable<Bas

[2017-08-30 11:16] caozhiyuan commented on #23672
when send  wouldblock,it has sent some bytes
![qq 20170830191527](https://user-images.githubusercontent.com/3415285/29869937-a694f2d0-8db7-11e7-8010-9be80baac365.png)

[2017-08-30 11:35] stephentoub commented on #23680
cc: @jamesqo, @vsadov, @jonhanna

[2017-08-30 11:38] #23516 closed

[2017-08-30 12:00] Jimmy062006 commented on #23449
I decided to look at the /proc/pid/status file of one of my dotnet process's and now am a little confused by the numbers

[code]
  PID User     Command                         Swap      USS      PSS      RSS
16301 opux     /home/opux/dotnet/dotnet Op        0    44520    50352    72144
[code]

[2017-08-30 12:30] stephentoub commented on #23590
Something to be considered.  But in the meantime, this is of course possible to implement on one's own, in just a few lines:
[code]
or even:
[code]

[2017-08-30 12:49] JonHanna commented on #23680
It does seem to be in `LazyToArray()`.

Variant:

[code]

Perhaps relevant that the objects added are not `ICollection<T>` for the collection `T` of the result, but are `ICollection<T>` for a more derived type.

[2017-08-30 12:51] stephentoub commented on #22356
It could be :smile:

[2017-08-30 12:58] NightOwl888 commented on #23578
As someone who has recent experience dealing with custom .NET collection types and the challenges surrounding them, let me see if I can offer up a solution that would work not just for the Count property, but for better APIs around collections in general.

The main issue here is not that we are lacking an interface, it is that we are lacking any kind of relationship between the interfaces to make

[2017-08-30 13:02] geoffkizer commented on #23177
I don't believe we should do (2).  It's a half-step at best towards a full options bag approach.

I've been supportive of exploring the options bag approach, but it's been literally weeks that we've been going around on this and it hasn't converged.  At this point I don't think it's worth continuing to pursue.

I think we should simply do 1, add a ctor overload.

@Tratcher, you've implied that (1)

[2017-08-30 13:04] jnm2 commented on #22356
😄 I was curious what the other overload was doing...

https://github.com/dotnet/coreclr/blob/4d9f5e3a0bc2b01c99337d68a8c90fc77b3182bd/src/mscorlib/shared/System/Random.cs#L263-L271

[2017-08-30 13:07] jnm2 commented on #22356
😄 I was curious what [NextBytes(byte[]) was doing](https://github.com/dotnet/coreclr/blob/4d9f5e3a0bc2b01c99337d68a8c90fc77b3182bd/src/mscorlib/shared/System/Random.cs#L263-L271)... now I wish I hadn't looked...

[code]

[2017-08-30 13:12] stephentoub commented on #22356
I basically just copied NextBytes for my example (changing the `% 256` to `& 0xFF`.

But, yeah, that's unnecessarily complex.  And because the JIT doesn't know that InternalSample() returns a non-negative value, the resulting asm is going to be worse than it needs to be.

[2017-08-30 13:13] geoffkizer commented on #23177
Here's the full writeup forapproach (1).  If there's anything incorrect here, please let me know.

ALPN:

[code]

Support for disabling renegotiation:

[code]

[2017-08-30 13:14] mtf30rob commented on #23646
After a bit more testing removing the binder1.UseDefaultWebProxy = false line fixes the issue when targeting netcoreapp2.0. However it breaks when targeting net461 with the following error:

You cannot specify an explicit Proxy Address as well as UseDefaultWebProxy=true in your HTTP Transport Binding Element.

[2017-08-30 13:21] JonHanna commented on #23680
In the above, after `builder.ToArray()` the contents of the array are A, null, A , C, D. It seems the final copy within that operation is wrong. Then the B gets correctly put where it should be.

[2017-08-30 13:22] mscrivo commented on #23306
@madmunsterdaddy It's strange I know. What I did was remove the nuget package references and remove the references in the projects and update the binding redirects to point to 4.2.0.0 that fixes everything with no warnings whatsoever.

The problem is that when you try upgrading a nuget package that has dependencies on those old netstandard system.* nuget packages, those broken references come back

[2017-08-30 13:45] madmunsterdaddy commented on #23306
Thanks @mscrivo, my issue seems to be more at runtime when PCs that have .NET 4.6.1 can't load the 4.2.0.0 version of that assembly?

[2017-08-30 13:48] Drawaes commented on #23629
I will take a deeper look athe CAESAR API that is useful.

As for Span, it is shipping around the 2.1 time frame I believe which is hopefully the same time the first implementation of this API would ship (or at least the earliest possible time it could).

If you take a look at the current prerelease nuget package it supports down to .net standard 1.0 and there is no plans to change that on release

[2017-08-30 13:54] mscrivo commented on #23306
Are they not getting copied to your bin folder?  I see them in mine

[2017-08-30 13:57] Drawaes commented on #23629
The problem I see with that API above is it will be a disaster for performance on any "chunked" data. Say for instance network traffic, if a single authenticated block is split over multiple reads from an existing stream I need to buffer it all into a single [insert data structure] and encrypt/decrypt all at once. The defeats all attempts to do any kind of zero copy on that data.

Networking frame

[2017-08-30 14:10] svick commented on #23578
@NightOwl888

Why do you need to work with non-generic interfaces in the first place? Is it because of some legacy API?

There is [`Collection<​T>`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.objectmodel.collection-1?view=netframework-4.7), which exists exactly for this purpose and has `virtual` members.

I think you should open a separate proposal for that, it's far out of sco

[2017-08-30 14:18] bartonjs commented on #23629
A couple of things have occurred to me.

* The current proposal calls TagSize an out value (well, a get-only-property).  But for both GCM and CCM it's an input to encryption (and derivable from decryption since you've supplied the actual tag).
* The proposal assumes that input and output can happen at the same time, and piecemeal.
  * IIRC CCM can't do streaming encryption (the length of the plain

[2017-08-30 14:26] mrgleba opened #23681 "Inconsistent certificate handling between Linux and Windows"
The following code yields different results on Linux and Windows (STARTTLS in SMTP)

On Windows the cert is handled correctly and the cert subj is printed to stdout.
On Linux (Fedora 26, Debian 9) cert is null in the CertificateValidationCallback (null if printed to stdout)

[code]

[EDIT] Add C# syntax highlighting by @karelz

[2017-08-30 14:31] Drawaes commented on #23629
True tag size would need to be variable. Agreed.

If we just look at encryption for now, to simplify the use case. You are correct that some ciphers will return nothing, less or more. There is a general question around what happens if you don't provide a big enough buffer as well. On the new TextEncoding interfaces using span there was a suggestion around having the return type an enum to define i

[2017-08-30 14:38] tuespetre commented on #10525
Updated:

- Renamed `Uri` property to `Target`
- Used `IList<T>` instead of `ICollection<T>`
- Added a constructor that accepts a `Uri` target

[code]

[2017-08-30 14:51] sdrapkin commented on #23629
@Drawaes re. chunked streams and buffering limits:
You have to pick your battles. You won't be able to create a unifying API aligned with every singe nice-to-have goal in the AE world - and there are many such goals. Ex. there is a decent chunked AEAD streaming in [Inferno](http://securitydriven.net/inferno/), but it's not a standard by any stretch, and such a standard does not exist. At a higher

[2017-08-30 15:03] Tratcher commented on #23177
Let's finish this in offline.

[2017-08-30 15:29] mellinoe commented on #23650
This one also failed in a PR of mine, also in netfx: CopyFromScreen_OutOfRange_DoesNotAffectGraphics

We should probably disable all of these CopyFromScreen tests.

[2017-08-30 15:31] Nagarian commented on #14412
Hi, I think this issue must be relative to coreclr project because when I investigate I've found that code which check the hex format reside on this file : https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Number.cs
I am wrong ?

NB : I'm looking for an easy issue to resolve for my first contribution if you have some suggestions.

[2017-08-30 15:50] NightOwl888 commented on #23578
For one, to implement the aforementioned deep equality checking so it works on existing platform collection types. I have no control over what type of collections that a user might utilize in a generic type and since I opted to save time and only support nested generic collection types (without support for non-generic collections), there are gaps in my implementation.

But in a nutshell, I am runn

[2017-08-30 15:55] karelz commented on #20177
@jchannon just to be super clear - 2 different physical machines, or 2 different VMs?

[2017-08-30 15:57] jchannon commented on #20177
2 different customers so 2 different machines and 2 different VMs :)

On 30 August 2017 at 16:56, Karel Zikmund <notifications@github.com> wrote:

[2017-08-30 15:59] karelz commented on #22781
@Sc0tTyXL if your problem is related to #23306, please move your post there (incl. delete this one).
When we mix up issues together (like in this issue), it lowers the chance of follow up and resolution as things get messy and hard to separate ...

[2017-08-30 15:59] sdrapkin commented on #23629
[RFC 5116](https://tools.ietf.org/html/rfc5116) might also be of interest.

[2017-08-30 16:08] Kesmy commented on #17522
This just broke a project I'm working on, again, and took quite a lot of searching to find, again. Where's the postmortem?

[2017-08-30 16:09] #23587 closed

[2017-08-30 16:12] ijsgaus commented on #23229
After applying workaround to each project in solution work when build all web projects. When build any library project override System.* assemblies in bin folder of all web project in the solution and error BadImageFormatException on random System.* assembly

[2017-08-30 16:23] madmunsterdaddy commented on #23306
Hmmm, they are, but do I need to deploy them now all of the sudden with my installer? This project doesn't reference any netstandard projects. I used to just have a assembly reference to System.Net.Http from GAC, now it keeps trying to redirect elsewhere. Seems like this just got wonky as of the 15.3 update.

[2017-08-30 16:27] mscrivo commented on #23306
@madmunsterdaddy yeah my guess is that you have to deploy them, or you force it to use the version in .NET Framework (4.0.0.0 I believe?) via binding redirect, not sure how well that will work though.

[2017-08-30 16:35] madmunsterdaddy commented on #23306
Thanks @mscrivo! Seems kind of goofy that this happened. But I guess I'll just deploy because it makes the most sense.

[2017-08-30 16:44] mscrivo commented on #23306
@madmunsterdaddy np, another thing you could try is installing the .net core 2.0 runtime with your installer, that might provide all the right dlls and would prevent you from manually having to figure out which ones to include/exclude.  Have not tried it though and I have no idea what the correct solution is here.  For us, we just deploy everything that ends up in the bin folders, but ours is a we

[2017-08-30 16:44] danmosemsft commented on #23657
@joperezr any ideas? I tend to run tests on the command line.

[2017-08-30 16:48] mellinoe commented on #23657
@weitzhandler The test explorer window is not supported, if that is what you are referring to. You can set the test project as the "VS Startup Project" and debug it that way, or you can run tests on the command line.

[2017-08-30 16:49] madmunsterdaddy commented on #23306
Hmm... that would be interesting. But Core moves at a different pace than standard and might lead to problems later? Some official guidance on this would be nice. I think I'll just have to deploy System.* from my bin now. It's not huge, just a few MB. Thanks for your help!

[2017-08-30 16:55] WinCPP commented on #22408
@stephentoub I'm working on this along with #22406 ...

[2017-08-30 16:55] WinCPP commented on #22409
@stephentoub I'm working on this along with #22406 ...

[2017-08-30 16:55] WinCPP commented on #22410
@stephentoub I'm working on this along with #22406 ...

[2017-08-30 16:55] WinCPP commented on #22411
@stephentoub I'm working on this along with #22406 ...

[2017-08-30 16:57] wfurt commented on #20177
ok @karelz , I'll take a look at the dumps. Curl_resolv_timeout() is interesting. It seems like are are already on some error path - and that may be reason why it is hard to reproduce as standalone app.

[2017-08-30 16:59] janvorli commented on #20177
@wfurt please ping me if you need any help with loading the dumps.

[2017-08-30 17:12] AtsushiKan commented on #16567
Starting implementation. Should be a week or three...

- [ ] Implement on Project N
- [ ] Wait a few days until the shared bits propagate to CoreCLR
- [ ] Implement the CoreCLR-specific parts
- [ ] Add tests in corefx and expose in contract.

[2017-08-30 17:12] jamesqo commented on #23680
@JonHanna You already seem to know the ins and outs of this issue. Since I'm working on a personal project right now, I'd be happy to let you handle it. Otherwise (since this is a bug, and I introduced it) I'll submit a PR within a few days.

[2017-08-30 17:15] jamesqo commented on #23680
@JonHanna If this happens in any other places like ToList(), please be sure those functions are fixed too.

[2017-08-30 17:19] karelz commented on #23645
Given that it does not affect .NET Core, let's move the discussion into the dupe https://github.com/dotnet/standard/issues/300

[2017-08-30 17:19] #23645 closed

[2017-08-30 17:19] tannergooding commented on #23587
This would be nice, but at the same time I feel its something you should learn in your introductory course to the language (or even in the introductory course to computer programming as a whole). IEEE floating-point math is prominent enough that anyone who learns to program should get a run down of them, especially if you are going to be learning C/C++, C#, Java, etc.

There are hundreds, if not t

[2017-08-30 17:22] karelz commented on #23646
Any chance to get a repro for Networking without WCF magic? cc @mconnew

[2017-08-30 17:23] danmosemsft commented on #22979
Unix and Mac have line numbers for both test and product eg https://github.com/dotnet/corefx/issues/23631 https://github.com/dotnet/corefx/issues/23630

Windows has line numbers for just tests eg https://github.com/dotnet/corefx/issues/23679  https://github.com/dotnet/corefx/issues/23548 but sometimes neither https://github.com/dotnet/corefx/issues/23548

[2017-08-30 17:25] karelz commented on #23657
@weitzhandler please check also steps linked form our main page - they are located on our wiki (for now).
In particular, check https://github.com/dotnet/corefx/wiki/Build-and-run-tests#build-run-and-debug-tests-using-visual-studio

[2017-08-30 17:25] #23657 closed

[2017-08-30 17:25] karelz commented on #23657
Also, please do not reuse the same issue for 2 different reports ... it gets messy.

[2017-08-30 17:28] karelz commented on #23678
Do you have a minimal repro?
Did you try to load the DLL into Console app? Does that work?

[2017-08-30 17:31] karelz commented on #23680
This looks pretty bad - I wonder what is the impact of this bug. Which kind of scenarios is it going to show up?
@VSadov @OmarTawfik can you please dig into it as a priority? If it is impactful, we may need to fix it in 2.0 servicing.

[2017-08-30 17:34] KrzysztofCwalina commented on #12644
If we add this API, I would prefer the new parameter to be last. i.e.
public static ArrayPool<T> Create(int maxArrayLength, int maxArraysPerBucket, int minArrayLength);

[2017-08-30 17:41] karelz commented on #12644
Unassigned @xoofx and marked again as up-for-grabs - anyone interested?

[2017-08-30 17:43] JonHanna commented on #23680
@jamesqo I'm phone-access only for a few hours at least, but I'll take a look if you haven't found it by then

[2017-08-30 17:43] danmosemsft commented on #12644
@JeremyKuhne fyi a possible intern project.

[2017-08-30 17:43] danmosemsft commented on #12644
public static ArrayPool Create(int maxArrayLength, int maxArraysPerBucket, int minArrayLength);

I agree, I think this was an oversight during API review. We should not reorder the paramters.

[2017-08-30 17:44] karelz commented on #22318
BTW: The issue above was for full .NET Framework - we should not track such bugs on GitHub as it is unrelated to CoreFX source code.

[2017-08-30 18:00] gulbanana commented on #23680
My scenario is part of an ORM - assembling a list of "operations" all subclassing a common base. Since triggering the bug requires all of concat(), toarray() and multiple-subtypes, it probably isn't common. It was very disconcerting though, seeing the knock-on effects when 1+1+1 was no longer equal to 3 :)

[2017-08-30 18:03] tarekgh commented on #23678
@troncomputers How nip24Library.dll is built?

CC @weshaggard @ericstj

[2017-08-30 18:11] danmosemsft commented on #23605
Can confirm this is trivially reproed. Line numbers:
[code]

This request
[code]

is giving back an empty result from ldap_get_dn. I am not famliar with the code so I don't know yet what is supposed to happen.

[2017-08-30 18:16] danmosemsft commented on #23605
@tquerec @jay98014 do you have any pointers? I could set up the same repro on desktop to see what it does there, but you know far more about this than I do (zero)

[2017-08-30 18:18] danmosemsft commented on #23605
How to get debugging - build corefx in the normal way. Create project thus, replacing paths to the corefx output path:
[code]

Paste this line into main
[code]

Hit F5.

[2017-08-30 18:18] danmosemsft commented on #22979
@joperezr is going to look at this.

[2017-08-30 18:18] mrgleba commented on #23681
Some more info:
 - both win and linux running core 2.0

Curiously enough when I try to establish a SSL stream with the same host port 465 (SMTPS) (no STARTTLS this time - we go to SSL right at the start) everything is ok on both win and linux.
The cert is the same in both cases (587 STARTTLS & 465 TLS).

[2017-08-30 18:19] danmosemsft opened #23686 "Rsa ToXmlString is not supported on .NET Core 2.0"
@myloveCc commented on [Sun Aug 20 2017](https://github.com/dotnet/core/issues/874)

# rsa.ToXmlString(true) is not supported on .NET Core 2.0

[code]

---

@bartonjs commented on [Mon Aug 21 2017](https://github.com/dotnet/core/issues/874#issuecomment-323742850)

Yep.  In .NET Framework networking, XML, and cryptography all live in one library (mscorlib).  In .NET Core they're in three separate l

[2017-08-30 18:25] danmosemsft commented on #23686
@bartonjs I wonder if we should put implementations in a separate library, that could depend on both Crypto and XML? Otherwise everyone has to write/paste similar code.

[2017-08-30 18:25] danmosemsft commented on #23686
These ToXmlSTring/FromXmlSTring methods do seem to have significant usage..

[2017-08-30 18:26] NightOwl888 commented on #23587
Actually, rather than spending time recycling the floating point number documents, which last time I looked were completely adequate to explain how it works, it would make more sense to write a short blog post explaining why the implementation has changed since the last version. This issue is not about calling the math into question (which I concur is well within tolerance), but about a change in

[2017-08-30 18:44] weitzhandler commented on #23578
I'm on mobile not able to text much.
Anyway I'm quite happy with how the collection system works.
I would appreciate if `List<T>` and  `Dictionary<TKey, TValue>` can become virtual indeed, but for that I'll suggest opening a new issue.
I'm here only to request the count property to be extracted and implemented by all known size collections regardless of type.

[2017-08-30 18:59] KrzysztofCwalina commented on #22412
I have used this enums in some contexts that were not transformations, e.g. in a routine that copies data from one buffer to another. Because of that, the currently proposed name is BufferOperationStatus, or even OperationStatus

[2017-08-30 18:59] pgavlin commented on #23586
@jkotas what was the exact scenario under which you were reproducing this? I am able to reproduce this without `GCStress` on OS X. Were you doing something different?

[2017-08-30 19:13] ahsonkhan commented on #23656
I am not sure how to do that exactly. Can you provide additional pointers?

We can do that: https://github.com/dotnet/corefxlab/pull/1736
However, shouldn't we be able to create a netcore 2.0 app, reference system.memory and have the APIs like SequenceEqual (that rely on vectors) still work?

[2017-08-30 19:14] jkotas commented on #23586
It does reproduce without `GCStress` too on both Windows and Unix, but it was not reliable repro for me.

[2017-08-30 19:20] JuanZamudioGBM opened #23688 "SymmetricAlgorithm and CryptoStream.Write throws ArgumentException with DES and RC2"
Hi, I'm trying to port an class library to .net core 2.0, I have a class that uses SymmetricAlgorithm that Ciphers and deciphers some strings and files, in my unit tests when the Algorithm is DES or RC2 and try to decipher (cipher works OK ) the method CryptoStream.Write throws an argument exception with the message : "Offset and length were out of bounds for the array or count is greater than the

[2017-08-30 19:50] mellinoe commented on #23587
@NightOwl888 You have a good point, and we should message these changes more clearly. We have compiled a list of compatibility-affecting changes that have been made to the product [here](https://github.com/dotnet/corefx/wiki/ApiCompat), but I don't think a lot of folks are going to scour through that whole document.

@karelz @danmosemsft Were we planning on creating a blog or announcement of some

[2017-08-30 19:51] mellinoe commented on #23587
Here are the compatibility notes for System.Numerics:

https://github.com/dotnet/corefx/wiki/ApiCompat#systemnumerics

[2017-08-30 19:59] OmarTawfik commented on #23680
Looking into it.

[2017-08-30 20:00] tannergooding commented on #23587
@mellinoe, it's probably worth both:
* Documenting that there was known "breaks" in `Sin`, `Cos`, and `Tan` that occurred in netcoreapp1.1
* Documenting that these functions are dependent on the underlying C Runtime and can potentially differ between Operating System (Mac, Linux, Windows, etc) and between architectures (ARM, x86, x64, etc)
* Documenting that, because of the C Runtime dependency, t

[2017-08-30 20:02] mjp41 opened #23689 "Invariant Arrays"
# Rationale and Proposed Usage

.NET arrays are covariant.  These leads to many complexities in the implementation of the runtime for dealing with checking if assignments to the array are valid.  For example,
[code]
The assignment labelled `//B` must check if the `a` allows `string`s to be stored in it. If the initialisation, had been:
[code]
this would raise an exception at `//B`.

There are clev

[2017-08-30 20:30] jkotas commented on #19928
Why does writing your own PE parsing code require opening the file twice?

[2017-08-30 20:32] ahsonkhan commented on #22412
Given the naming feedback:

Should the enum be named BufferOperationResult or OperationResult instead?

[2017-08-30 20:36] karelz commented on #23587
@mellinoe yes, it is described at the top of the wiki page ;) -- the content will be transferred into the ApiCompat tool. @pjanotti is actually actively working on it now.

[2017-08-30 20:49] JonHanna commented on #23680
In LargeArrayBuilder.cs changing `for (; count > 0; row++, column = 0)` to `for (; count > 0; row++)` fixes this and doesn't introduce another test failure, but that assignment to `column` is presumably there for a reason. @jamesqo ?

[2017-08-30 20:49] KooKiz commented on #12644
I don't mind taking care of it, though it would mostly be copy&pasting from @xoofx's pull request (has it looks pretty good) + test coverage. If @JeremyKuhne or anybody else has special interest for it, I don't mind leaving it either.

But that means putting the "min" parameter after the "max". Looks error-prone to me.

[2017-08-30 20:50] JonHanna commented on #23680
On the other hand, with it in the `+=` to it within the loop is pointless. Is there a case where this should be set to zero?

[2017-08-30 20:51] bartonjs commented on #23686
This is an understood limitation in .NET Core (and on the PNSE warning list, etc).  If we continue getting feedback once the PNSE warning tooling is readily available we can look into doing trickery with lightweight XML parsers.

To restate the problem: Networking, XML, and Crypto ended up in a circular dependency in mscorlib.  The factoring that we've done in Core makes it not possible to do this

[2017-08-30 20:52] danmosemsft commented on #23686
@bartonjs, I was referring to shipping extension methods like those above. I don't believe that would cause a circular dependency.

[2017-08-30 20:56] ericstj commented on #23656
Here's a hack to directly reference the netstandard2 version of vectors from package, its only a *workaround* until this issue is fixed.
[code]

Yeah, we'll fix the bug, that's why this issue remains open and I am discussing *solutions*.  I was just giving you *workarounds*.

[2017-08-30 20:58] bartonjs commented on #23686
@danmosemsft Yeah, I noticed the usage comment but missed the previous one.

I don't know if the problem is that people want
* to use XML serialization specifically (which could be solved by a separate package)
* a compact serialization for keys-without-certificates, in which case https://github.com/dotnet/corefx/issues/20414 is the better solution (more standardized),
* existing code/samples to w

[2017-08-30 20:58] danmosemsft commented on #12644
@terrajobst can you please comment on the ordering of min and max? Typically min comes before max, but also typically new parameters go on the end, not the middle:
[code]

[2017-08-30 21:01] danmosemsft commented on #19928
@AtsushiKan do you support this proposal? If so please add api-ready-for-review label.

[2017-08-30 21:04] OmarTawfik commented on #23680
@JonHanna the root cause is `ConcatNIterator.LazyToArray()`. It is calling `builder.ReserveOrAdd()` which in turn calls `EnumerableHelpers.TryGetCount()` which tests `source is ICollection collection`.
The problem with this specific bug is how the lists are defined (List<object> vs List<A> or List<C>).
The second one (B) fails the check because `source is ICollection<T> collection` is using `T=obj

[2017-08-30 21:08] JonHanna commented on #23680
Yeah, not finding the count should be sub-optimal, but still correct, and if it did get the count there'd still be cases that mixed cases that could and couldn't get it.

[2017-08-30 21:12] AtsushiKan commented on #19928
A couple of questions:

- You're only suppressing the PE-not-a-managed-assembly exception, not any other exception, right?

- Do we need a bool/out signature for this? We could use a null AssemblyName as a sentinel.

- I'd like to see that proposed implementation.

[2017-08-30 21:15] OmarTawfik commented on #23680
That's the root cause:
[code]

This pattern (I'm finding it in a few spots) is not using `SparseArrayBuilder` correctly when deconstructing it. I'm looking into refactoring that.

[2017-08-30 21:22] weshaggard commented on #22713
@joperezr doesn't this also need to be fixed in master? Currently we are referencing the older version instead of the live version.

[2017-08-30 21:23] ericstj commented on #19928
It should throw for things like a null path, malformed path, a non-existent file, sharing violation when reading the file.  If its successfully able to open the file then I'd expect it to not throw.

Returning null as sentinel seems reasonable.  Ultimately this one seems like an FxDC nit.

I didn't have the proposed implementation.  Perhaps its over in CoreCLR repo?

[2017-08-30 21:26] AtsushiKan commented on #19928
Ok, marked api-ready-for-review. Not implying I'm signing up for the implementation :-)

[2017-08-30 21:41] mellinoe opened #23690 "CentOS CI test machines need "liberation-serif-fonts" package installed"
This package contains some fonts that are used by the System.Drawing.Common implementation. Other distros seem to bundle these fonts in elsewhere, because we only see test failures on CentOS.

[2017-08-30 21:42] KrzysztofCwalina commented on #12644
I think switching the order of an int parameter is at least equally error prone.

From our design guidelines:
https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/member-overloading

X AVOID being inconsistent in the ordering of parameters in overloaded members. Parameters with the same name should appear in the same position in all overloads.

[2017-08-30 21:44] KrzysztofCwalina commented on #22412
I named it Status because I thought it implies current state of an ongoing operation (multiple calls to the method). Result to me implies more the final state.
But it might be splitting hair, and so I would be ok with either postfix

[2017-08-30 21:55] Kosat commented on #23689
As Jon Skeet rightfully concluded:

People just don't write code like `object [] a =` in their projects.
From an idealistic perspective it can be done, but from a practical standpoint the value of this change goes to zero. Unlike `Spans`, which introduction boosts performance in so many places in *corefx*, this invariant array wrappers may be only beneficial for some obscure legacy collections and

[2017-08-30 21:58] wfurt commented on #20177
Hello @tcorrin . I'm trying to setup environment identical to yours, so I can properly resolve symbols.
I have Centos 7.3.1611 but even if I try to update to latest I get curl-7.29.0-35.el7.centos.x86_64 (openssl-devel-1.0.1e-60.el7_3.1)
How did you get your curl 7.50.1 on the system?

Also can you give me output of dotnet --info ?
Getting all versions exactly right is critical for getting more us

[2017-08-30 22:07] arangas commented on #23306
I really appreciate NuGet and the hard work by the team. Unfortunately I've had numerous issues with it over the years and this one I couldn't get past, specifically the issue described by @madmunsterdaddy. I've spent too much time on NuGet problems and this was the last straw for me.

I've now converted my solution consisting of 20 projects over to Paket and followed the guide to `convert-from-nu

[2017-08-30 22:10] KooKiz commented on #12644
I did a cursory search on CoreFX to find similar min/max overloads, surprisingly it's a very rare situation. Still, I could find `Random.Next`:

[code]

[2017-08-30 22:19] karelz commented on #23680
@OmarTawfik beside having a fix (which is awesome btw), I would love to know what is the impact of this bug -- which scenarios will be impacted? How common they are? How hard it will be for affected developers to root cause it? (likely pretty hard)

[2017-08-30 22:25] huanwu opened #23691 "Need set the SGEN package version to the real version"

[2017-08-30 22:28] rowanG077 commented on #23250
Are you at least open to this? Because if you guys are I will take a look myself on implementing it.

[2017-08-30 22:39] mjp41 commented on #23689
@Kosat thanks for the comment. This proposal is not about code that uses `object [] a`. The runtime has checks that impact every array assignment of a reference type as it must check the types are compatible.  Most code will never fail these checks, but they are required because the type system does not rule out covariant subtyping of arrays.

For example, you can see some checks for coreclr here:

[2017-08-30 22:53] OmarTawfik commented on #23680
This pattern is used from `ToArray()` of sequences from `SelectMany()`, `Concat()`, `Prepend()`, and `Append()`, although I didn't reproduce the behavior in the others yet. The issue happens when you have collections of different types; they are constructed using `SparseArrayBuilder` incorrectly. I'm not sure how common that scenario is.

[2017-08-30 23:02] mellinoe commented on #23690
Once this package is installed, I will close this issue and re-enable the test case.

[2017-08-30 23:14] weitzhandler commented on #23657
@karelz
I allowed myself doing it since this issue was closed anyway. Nevertheless thanks a lot Karel!

[2017-08-30 23:16] karelz commented on #23306
@arangas I understand your frustration.
However, I want to make clear one thing: **This is not NuGet problem**, the problem is much bigger, a combo across multiple components in the tooling - I just got 30min intro into all the pieces and history that contribute to the (unfortunate) current state.
Packet will have the same problem once it starts to honor netstandard compatibility mappings which sa

[2017-08-30 23:31] OmarTawfik commented on #23680
@jamesqo basically, `SparseArrayBuilder.CopyTo()` has a bug. When it hits a marker , it advances `arrayIndex`, `copied`, and `count` (to skip the empty region covered by the marker). However, it doesn't modify `position`, so invalid items get copied.  I don't think `LargeArrayBuilder` even exposes that.

Since `SparseArrayBuilder` is only used in `ToArray()` scenarios, is there a benefit from usin

[2017-08-30 23:42] morganbr commented on #23629
@Drawaes , interesting that you bring up TLS. I would argue that SSLStream (were it to use this API) must not return any unauthenticated results to an application since the application won't have any way to defend itself.

[2017-08-30 23:53] davidsh commented on #23679
cc: @stephentoub
ManagedHandler

[2017-08-31 00:00] mellinoe commented on #20884
#StringFormat

SetDigitSubstitution does not work for some inputs on libgdiplus.

[2017-08-31 00:14] tarekgh commented on #21425
2.0 branch is currently locked, we cannot fix this issue in the current time.

[2017-08-31 00:15] tarekgh commented on #21426
2.0 branch is currently locked, we cannot fix this issue in the current time.

[2017-08-31 00:23] janvorli commented on #6770
@sec are you interested in helping to make the whole .NET Core build on FreeBSD? I've just given it a try today, coreclr native binaries build ok, corefx native binaries on the contrary don't build due to some differences in networking interfaces and gssapi.
Before attempting to build the bootstrap cli, we need to have both corefx and coreclr native parts building.

[2017-08-31 00:26] bgever commented on #17522
In our case we've seen it because of two problems:

1. When the *host project* imports the Entity Framework package (EntityFramework 6.1.3), which is needed for EF related App.config sections. I believe that package pulls in an older version of Newtonsoft.Json which has a framework dependency on System.Runtime.Serialization.Primitives ([related?](https://github.com/aspnet/Mvc/issues/3946)). That f

[2017-08-31 00:40] OmarTawfik commented on #23680
Spent some time investigating other possibilities. The following is a repro for `Concat().ToArray()`:

[code]
And this is for `SelectMany().ToArray()`:

[code]

I didn't find a possible path for `Append().ToArray()` or `Prepend().ToArray()`. The problem can happen because of two reasons:

1. In the original bug reported: The list `new List<object> { new B() })` skipped an erroneous check in `Enume

[2017-08-31 00:54] JonHanna commented on #23680
On part one of that, the case of an enumerable having a count or length property through non-generic `ICollection` or for a different element type, but not `ICollection<T>` for the relevant `T` was considered but it was decided as likely rare enough that the cost of checking wouldn't be justified by the benefit, and I'm inclined to still agree.

Of course the second issue which is not merely slowe

[2017-08-31 01:24] danmosemsft commented on #23639
Ah yes - I was mistaken in the version I was using.

[2017-08-31 02:07] Drawaes commented on #23629
Sure, but that is SSLStreams problem. I have prototyped this exact thing (managed TLS at the protocol level calling out to CNG and OpenSSL for the crypto bits) on top of pipelines. The logic was pretty simple, encrypted data comes in, decrypt the buffer in place, attach to the out bound and repeat until you get to the tag. At the tag call finished...

 If it throws close the pipeline. If it doesn'

[2017-08-31 02:20] BravoTango86 commented on #8158
This is holding us back somewhat as it's making securing push notifications as per https://tools.ietf.org/html/draft-ietf-webpush-encryption-08 (https://developers.google.com/web/updates/2016/03/web-push-encryption, Firefox, etc) a pain.

[2017-08-31 02:35] Drawaes commented on #23629
OpenSsl's crypt, and CNG have this same method Update,Update, Finish. Finish can ouput the tag as discussed. Updates must be in block size (for CNG) and for OpenSsl it does minimal buffering to get to a block size.

As they are primitives, I am not sure we would expect higher level functionality from them. If we were designing a "user" level API rather than primitives to construct those I would th

[2017-08-31 03:04] wfurt commented on #20177
BTW I was thinking about it more @jchannon  and I'm wondering if you could set up identical VM for investigation. If you have any code used in attempt to reproduce I would like to see it as well.
That may give me clue what the app is trying to do and how it is structured.

[2017-08-31 03:14] davidfowl commented on #23590
@stephentoub the problem with extension methods is that they need to exist somewhere. Fundamental API choices are made thinking about these kinds of tradeoffs (should an API expose Task or CT or both?). If there's a pattern you want to recommend to people it would need to come with these extension methods which is messy sometimes.

[2017-08-31 03:24] bording opened #23699 "Generic linux-x64 RID for supported distros prevents shipping native dependencies in package"
I have a NuGet [package](https://github.com/libgit2/libgit2sharp.nativebinaries) that needs to ship a native library via the `runtimes/<RID>/native` mechanism, and I need to vary the library by linux distro due to the dependencies it has, OpenSSL being the primary one.

I want to be able to run on all of the supported linux distros listed [here](https://github.com/dotnet/core/blob/master/release-n

[2017-08-31 03:24] v-haren commented on #23037
failed again here, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170831.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FUseCallback_NotSecureConnection_CallbackNotCalled

[2017-08-31 03:56] #23586 closed

[2017-08-31 03:56] jamesqo commented on #23680
Hi everyone, I'm on mobile rn so I can't really write a lot. I see you guys are fretting over this and the code I wrote isn't the most straightforward to fix, so I will take a look asap and submit a fix when I'm around a computer. Thanks.

[2017-08-31 04:00] davidsh commented on #20024
An interesting data point about these test failures is that all of them all failing only on one of the 3 different inline datas for the theory:

[code]

[2017-08-31 04:14] weitzhandler commented on #23578
@svick

There are many cases, and I often bump into them. One is when you need to store a collection of `ICollection<T>` where T is of various types. Every generic type, when it needs to be worked on in a batched manner has to become non-generic, or else it has to be done via reflection. Also whenever `T` isn't supposed to be known, we'll want to use the common non-generic methods before going the

[2017-08-31 04:52] weitzhandler commented on #23578
@NightOwl888 @karelz @divega @svick @jnm2 @khellang
I've updated the OP (#23578).

[2017-08-31 05:06] weitzhandler opened #23700 "Optimize Enumerable.Any"
Hi,

Currently, the `Enumerable.Any` creates an iterator and attempts to iterate once to obtain the result.
Wouldn't it be faster (if we have a heavy resource collection) to first attempt getting the collection size if available?

Current code:

[code]

Proposed code:
[code]

Here's a sloppy test case:
[code]

Results:
[code]

As you can see, **iteration is always way more expensive**.

Related: h

[2017-08-31 05:38] v-haren commented on #22850
failed again here, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170831.01/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpListenerRequestTests~2FIsWebSocketRequest_GetProperty_ReturnsExpected(webSocketString:%20%5C%22Connection:%20Connection%5C%5Cr%5C%5CnUpgrade:%20%5C%22,%20expected:%20F

[2017-08-31 05:39] weitzhandler commented on #23578
@NightOwl888 @karelz @divega @svick @jnm2 @khellang
Really this post belongs on the coreclr repo. [Migrated](/dotnet/coreclr/issues/13716).

[2017-08-31 06:00] v-haren commented on #20307
failed again here, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170831.01/workItem/System.Net.WebClient.Tests/analysis/xunit/System.Net.Tests.SyncWebClientTest~2FUploadString_Success(echoServer:%20https:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

[2017-08-31 06:42] kietbahuynh commented on #16598
@argoLein Just ignore my previous comment. It works now.

For anyone who's having the same problem, the key here is use "NTLM" authentication type and it has to authenticate using base URL.

[2017-08-31 07:03] jnm2 commented on #23700
Performance measurements > intuition.

[2017-08-31 07:12] svick commented on #23578
@weitzhandler

It does not, [all API proposals for .Net Core belong to this repo](https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/IssuesFeedbackEngagement.md):

That applies even for proposals whose implementation is going to be in the CoreCLR repo.

[2017-08-31 07:20] troncomputers commented on #23678
@karelz Works fine with workaround with Visual Studio
@tarekgh I don't know how. You can download it from here:
[nip24Library](https://nip24.pl/pobierz-biblioteki-wtyczki-pluginy-api-vat-vies-gus-ceidg/)
PS. "Pobierz" means "Download" ;)
As far as I know I'd use this workaround:
[code]
and in Startup.cs
[code]
It's working now when I launch app from Visual Studio, not working after publish and ope

[2017-08-31 07:20] dotnet-mc-bot opened #23702 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandler_DefaultProxyCredentials_Test / ProxyExplicitlyProvided_DefaultCredentials_Ignored"
Opened on behalf of @v-haren

The test `System.Net.Http.Functional.Tests.HttpClientHandler_DefaultProxyCredentials_Test/ProxyExplicitlyProvided_DefaultCredentials_Ignored` has failed.

[code]
Build : Master - 20170831.01 (Full Framework Tests)
Failing configurations:
- Windows.10.Amd64-x64
  - Debug
- Windows.10.Amd64-x86
  - Debug

[2017-08-31 07:53] khellang commented on #23700
I could swear I've seen @JonHanna add this optimization at some point...

[2017-08-31 08:05] weitzhandler commented on #23700
@jnm2

Agree. I've updated my issue, although as not as thorough it would have to be but at least I threw in some code.

[2017-08-31 08:07] onematchfox commented on #23436
@ericstj, sorry to come back to this again. Followed your advice and enabled diagnostic logging for publishing and I'm afraid I still don't see the same error as the one in the issue you linked. All conflict resolution seems to "pass" - i.e. a winner is selected. There are no instances of the text "Could not determine a winner" and I also don't even see an "encountered conflict" message relating t

[2017-08-31 08:14] caozhiyuan opened #23703 "How To Debug Corefx Code in Ubuntu VS Code"

[2017-08-31 08:17] v-haren commented on #17681
failed again in ci: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/151/testReport/System.Net.Sockets.Tests/DualModeConnectionlessReceiveMessageFrom/ReceiveMessageFromV4BoundToSpecificMappedV4_Success/

[2017-08-31 08:22] mtf30rob commented on #23646
I would say it is less magic and more cheating! I am working with a client’s codebase so would be unable to provide the exact example but have created a simple mockup here:
https://github.com/mtf30rob/BasicHttpBindingSample

The steps I have taken are:
1.	Create a service reference in a full framework project.
2.	Manually copy the Reference.cs to a dot net standard 2.0 dll
3.	Reference the dot net

[2017-08-31 08:27] svick commented on #23700
How much does the performance decrease for types that aren't `ICollection`s, like `yield return` enumerables?

[2017-08-31 08:40] weitzhandler commented on #23700
@svick added another case per your request.

[2017-08-31 09:07] philip-reed commented on #23229
@ericstj Does it matter where abouts in the project file you put the work around?

`<Target Name="RemoveNetFxForceConflicts" BeforeTargets="BuiltProjectOutputGroupDependencies">
  <ItemGroup>
    <ReferencePath Remove="@(ReferencePath)" Condition="'%(FileName)' == 'netfx.force.conflicts'" />
  </ItemGroup>
</Target>`

[2017-08-31 09:08] JonHanna commented on #23700
You may remember me discussing investigations of it when someone else suggested it while I was doing similar types of optimisations.

All of this class of optimisation adds cost to the case where the optimisation isn't available, since we spend a small amount of time testing if we can take the optimal path, and then find we cannot. In most of these cases that's worth it because the gain, when we c

[2017-08-31 09:11] JonHanna commented on #23700
[code]

According to this, it's slower to run some code than to do two attempted casts and then run the exact same code. I think it's reasonable to have some scepticism here.

[2017-08-31 09:11] jchannon commented on #20177
Hi. We can give you a VM as our customer has it or we can give you a VM without our apps on it.  Whatever is easiest for you. The way we get curl 7.50.1 is to build from source. The issue is I don't think its going to be case of run our apps and it falls over. We have 100+ customers with our software and only 2 have found a segfault.

[2017-08-31 09:21] weitzhandler commented on #23700
@JonHanna

Yeah, so I was wondering, what could be the explanation to that?

[2017-08-31 09:26] jamesqo commented on #23680
I should be able to submit a fix tmrw for this. Thanks for all of the preliminary investigation @JonHanna and @OmarTawfik

[2017-08-31 09:30] JonHanna commented on #23700
It's certainly intriguing. I wonder if the branch prediction is benefiting the same data hitting it repeatedly more in the count-using case than the other. That would be annoying because it wouldn't be as likely to benefit real cases (I'll happily take a weird counter-intuitive performance benefit if I've reason it would actually still hold in real cases).

I also note that there's not false case

[2017-08-31 09:35] svick commented on #23700
@weitzhandler Microbenchmarks are prone to various issues. Instead of trying to figure out if your code suffers from one of those, I think it would be simpler to use BenchmarkDotNet. It's fairly easy to use and makes sure you're measuring what you want to measure.

[2017-08-31 09:37] weitzhandler commented on #23700
The benchmark is surely false.

I switched the cases (put iterate after count in the loop), and here are the results:

[code]

[2017-08-31 09:49] Drawaes commented on #23629
Wrong button

[2017-08-31 09:52] ezeasharma commented on #14978
I upgraded to 2.0 and still seeing this issue for SqlServer 12 database with MultiSubnetFailover.

[2017-08-31 09:53] ezeasharma commented on #14978
Hi - I upgraded to .netcore 2.0 and still seeing this issue with SqlServer 12 database with MultiSubnetFailover.

[2017-08-31 09:53] Drawaes commented on #23040
@Porges This should have been fixed by the above PR that is now merged. There is a buffer sized for your current request/chunk size so it should never allocate (other than to fill the ArrayPool). The code to make the new allocated buffer is still in the PAL but should never be needed. I have a PR prepared just waiting for some other PR's to clear that removes that now defunct code.

Cheers
Tim

[2017-08-31 09:55] weitzhandler commented on #23700
@svick
I was wrong. It was the microbenchmarks indeed.

Changing to:

[code]

resulted in:

[code]

I'm closing this issue then, because the performance is subjective.
At least it's here for further reference.

[2017-08-31 09:55] #23700 closed

[2017-08-31 10:15] Vertygo commented on #21188
Yes, I would like to give a shot. Is it ok to hardcode list of approved seriazable classes and later on add it to some kind of config or such?

[2017-08-31 10:22] sec commented on #6770
@janvorli Yes I would like to help (what's in my power and time). I don't know much about cmake, but I've managed to compile CoreFX native on FreeBSD  (I used release/2.0.0 branch). I'm interested in running .net core apps on bsd (develop/compile I can do on supported OS).

Command I used:
src/Native/build-native.sh freebsd x64 debug

Here are the changes I done to make it work - https://gist.gith

[2017-08-31 10:33] alexangas commented on #23306
OK thanks for that clarification @karelz, I appreciate your time! I'll definitely keep monitoring this issue and keep an eye on both technologies.

[2017-08-31 10:35] ViktorHofer commented on #21188
You could either hardcode it for now and we change it later when it's working or you already put the list of types (I can send you the actual one, this is only the public one for the docs without internal types) into a textfile and accept is as an argument in the analyzer. We will most likely include the type file in corefx and then invoke your analyzer with a msbuild target.

[2017-08-31 10:44] weitzhandler commented on #10752
https://github.com/dotnet/corefx/compare/master...weitzhandler:observable-range-collection
I'm gonna create tests for the methods I've added over the next week.

[2017-08-31 10:51] Drol commented on #23229
@philip-reed no it doesn't matter as far as I know. But I am not 100% sure.

[2017-08-31 10:53] Drol commented on #23229
Our team have the same problem as @ijsgaus. Really annoying. For now I've told them to just delete obj and bin folders again...

[2017-08-31 11:10] weitzhandler commented on #10752
@karelz
I think in the `ObservableCollection<T>` range support will anyway require overriding the range methods if we choose to add them to `Collection<T>`, what I mean to say is that we can implement the `ObservableRangeCollection<T>` range methods separately. Though I agree we'd better off starting with overriding appropriate range methods rather than adding them later to `Collection<T>`. Shame

[2017-08-31 11:54] daniloro opened #23704 "12r"

[2017-08-31 12:22] #23703 closed

[2017-08-31 12:49] iboxdb commented on #22011
Has replaced with Lock(),  thanks!

[2017-08-31 12:49] #22011 closed

[2017-08-31 13:05] ViktorHofer commented on #21188
Please use this file: https://gist.github.com/ViktorHofer/2da00443c8284c93f0aea5402c11238e

It contains all serializables types with the reflectable layout.

[2017-08-31 13:07] Vertygo commented on #21188
Great, I will go straight for input file instead of hardcoding it.

[2017-08-31 13:09] ViktorHofer commented on #21188
And an example of what I meant with msbuild target which then invokes something from the build tools: https://github.com/dotnet/corefx/blob/master/src/shims/ApiCompat.proj

In your case you don't need most of it. Just one target, and a property for the location of the serializables.txt file. These two files would go into corefx and the analyser into buildtools.

For the right location in corefx I

[2017-08-31 13:10] ViktorHofer commented on #21188
Thanks for your help 👍

[2017-08-31 13:18] JonHanna commented on #23700
Incidentally, where did you get that "current code" from. That looks quite a bit out of date.

[2017-08-31 13:22] jnm2 commented on #23700
Current code for reference:

https://github.com/dotnet/corefx/blob/53ab4f27097da80a3a358389fbda3393f4fbcc7c/src/System.Linq/src/System/Linq/AnyAll.cs#L11-L22

[2017-08-31 13:35] ericstj commented on #23436
The log doesn't actually include the publish target in it, this looks like only the output for build.  We do two passes of conflict resolution, one during build and another during publish.  You can ensure you're looking at a publish log by finding `_HandlePublishFileConflicts` in the log.

The reason why your build log is not showing the conflict for S.R.E is that you appear to be referencing it t

[2017-08-31 13:40] onematchfox commented on #23436
Thanks again @ericstj! I just wanted to make sure it was the same issue. Am happy to workaround by publishing via "dotnet publish" for the time being but will also try your additional suggestion.

[2017-08-31 14:31] Kosat commented on #23689
Thank you for the explanation, but with current implementation of JIT_Stelem_Ref, which you reffered to, when we've got an exact match between types (e.g. class A in line 5)
[code]

when it comes to type checking, we only pay for comparing the array element type with the type of the rvalue

[code]

In our case they match so we directly processed to writing bits into array. That's pretty much all i

[2017-08-31 15:09] maxerokh opened #23706 "The StackOverflow exception is raised if C# code contains a generic object that nests a hierarchy of generic types"
I created the following simple console application where the problem is reproduced:

[code]

After running the program, I got the StackOverflowException. The exception occurs only when I send a dynamic type object to the SomeMethod. If I send a non-dynamic type object, no error occurs.

[EDIT] Add C# syntax highlight by @karelz

[2017-08-31 15:11] JonHanna commented on #23706
This looks like it might be a duplicate of #7527, or at least have a similar cause.

[2017-08-31 15:28] tannergooding opened #23707 "System.Console should support "Indentation Levels""
# Rationale

It is often desired to print text that is properly indented to make it easy to read. However, in order to track indentation across method calls you have to either implement some wrapper class or pass the indentation level around.

As such, `System.Console` should be extended to natively support indentation levels in a similar manner to `Sytem.Diagnostics.Debug`

# Proposal

`System.Co

[2017-08-31 15:41] stephentoub commented on #23639
It looks like I inadvertently broke that case in https://github.com/dotnet/corefx/commit/187c7c0066e6f9312562ae730ebb75da336274ae as part of fixing other cases.  I'll submit a fix for it.

[2017-08-31 15:42] sergiyd opened #23708 "Add T4 support"
There is no any code generation solution except of Razor, but it's coupled with web context.
Add T4 support for code generation.

[2017-08-31 15:45] karelz commented on #10752
@weitzhandler if you think the API as approved above is insufficient, please make sure you provide enough clear evidence to others. If that's the case (and @robertmclaws agrees with your conclusions), we would have to take it first to a new round of API review.

[2017-08-31 15:47] karelz commented on #23306
@alexangas sure thing.
IMO the best thing right now (for you) would be to work (in parallel) with @ericstj to point you to the known workarounds - they depend on the scenario you're in as there are several scenarios broken in slightly different ways with different workarounds. ... just my 2 cents

[2017-08-31 15:50] karelz commented on #14978
@ezeasharma it would be best to file a new issue, describing symptoms and troubleshooting attempted, etc.
This issue is closed, and likely not actively monitored.

[2017-08-31 15:54] AtsushiKan commented on #23707
Isn't this more of a TextWriter functionality than Console functionality?

[2017-08-31 15:54] karelz commented on #20177
@jchannon what motivated you to build curl from source? Is there any reason why you don't use 'default' versions available (and I think recommended by our install steps)?

[2017-08-31 15:55] #23704 closed

[2017-08-31 15:57] alexangas commented on #23306
Thank you @karelz ... To summarise my issue for @ericstj - it is a similar message to [this comment](https://github.com/dotnet/corefx/issues/23306#issuecomment-325657346) except I receive it at compile time and the solution will not build. I tried to change all of my projects to .NET 4.6.2 and used NuGet to reinstall all of the packages. Unfortunately it made no difference. I also tried using the

[2017-08-31 16:00] karelz commented on #23678
@troncomputers what does it mean? Console app? Please provide more details on what works.
Note that if this is ASP.NET specific, this is not the right repo and we might need to reopen the one in ASP.NET repo. By creating small repro, you will help us identify which components is causing troubles.

[2017-08-31 16:04] jchannon commented on #20177
I can't remember why that version now I'm afraid. As far as I know there are no curl version recommendations but could be wrong

[2017-08-31 16:08] karelz commented on #22011
@JeremyKuhne @pjanotti should we add it to ApiCompat? (I missed @jnm2 reply when on vacation in July)

[2017-08-31 16:09] jnm2 commented on #23707
I don't think Console or even the Out writer is the right level of abstraction for this. I've gone down this path and seen it go horribly wrong when you start doing async stuff. I'd prefer a context object wrapping the out writer– pretty much what you started out by saying you didn't want.

[2017-08-31 16:09] Clockwork-Muse commented on #23700
`Write($"\riteration: {i:########}/{max:########}{new string(' ', 20)}");`
This is almost certainly distorting your results in the updated version, since you're doing it _every single iteration_, irrespective of any other problems.  Try to do nothing except the operation under consideration in performance tests.

[2017-08-31 16:17] svick commented on #23706
Previously reported at https://github.com/dotnet/roslyn/issues/21843.

[2017-08-31 16:18] jnm2 commented on #23700
I can't say enough good things about BenchmarkDotNet. You gotta try it out!

[2017-08-31 16:18] tannergooding commented on #23707
@AtsushiKan, yes, it is probably better to expose directly on something like `TextWriter` and make it easy to consume from `System.Console`.

@jnm2, This is (honestly) the simplest design I came up with. Yes, there are many things that could go wrong with `async` stuff (especially if you are not exclusively using `WriteLine`), and there is likely a better design to support that.

However, this (at

[2017-08-31 16:19] karelz commented on #23040
Closing the issue as fixed per @Drawaes's comment above.
cc @geoffkizer

[2017-08-31 16:19] #23040 closed

[2017-08-31 16:22] jnm2 commented on #23707
I don't mind it being supported by the framework, but people should start out using the correct abstraction or the minute they have more than one thread in play, they'll have to tear it all out and write their own indentation context “wrapper.”

[2017-08-31 16:25] stephentoub commented on #23707
Why is the existing IndentedTextWriter insufficient?
[code]

[2017-08-31 16:27] jnm2 commented on #23707
I didn't know it existed, but the fact that it's in `System.​Code​Dom.​Compiler` leads you to think it's somehow coupled to compilation in a way that didn't allow you to put it in a more generic namespace.

[2017-08-31 16:28] stephentoub commented on #23707
The namespace is poor.  I don't believe that's a good enough reason to duplicate the functionality elsewhere, though.

[2017-08-31 16:31] davidsh commented on #23646
This error is BY-DESIGN.

It sounds like WCF is calling WinHttpHandler incorrectly.

[2017-08-31 16:33] tannergooding commented on #23707
@stephentoub, would it be unreasonable to have:

[code]

[2017-08-31 16:33] jnm2 commented on #23707
Could the wrapper support `using (indentedWriter.Indentation())` or something similar so that we don't leave try/finally everywhere?

[2017-08-31 16:33] wfurt commented on #20177
if I get VM with the app, can I run it @jchannon . If so that would be great.
If I can reproduce the crash I'm positive we can solve this.

The dotnet was built agains stock libcurl. Using different version may or may not be problem.
As minimum, I'll need debug version if your custom build - or at least configuration script so we can produce identical version.

[2017-08-31 16:34] karelz commented on #23688
@bartonjs potentially a compat issue?

[2017-08-31 16:34] jnm2 commented on #23707
This is not the first time I've wished for robust type forwarding to a new name and namespace and not just to a new assembly.

[2017-08-31 16:36] karelz commented on #23699
@janvorli can you please comment. cc @weshaggard

[2017-08-31 16:36] #20009 closed

[2017-08-31 16:37] jnm2 commented on #23707
@tannergooding That's https://github.com/dotnet/csharplang/issues/410 if you want to do somethign about it 😍

[2017-08-31 16:38] mjp41 commented on #23689
This does not need to be disabled.  It is perfectly valid to perform the assignment unchecked, if you do not allow covariant array subtyping.  With invariant arrays, it is not that every element is of that precise type. it is that every view of this as an array thinks it is the same type of array. Covariant subtyping on arrays is generally a bad idea, but is very useful if you don't have generics.

[2017-08-31 16:38] bartonjs commented on #23688
@JuanZamudioGBM are your RC2 and DES instances RC2CryptoServiceProvider and DESCryptoServiceProvider, or are they from RC2.Create() and DES.Create()?  I think this is a duplicate of #23311 (which is now fixed in master)

[2017-08-31 16:39] stephentoub commented on #23707
Even in different namespaces we try hard to avoid using the same type names, as it then causes problems if you import both namespaces.

My $.02, I also don't think it's worthwhile to do this just for discovery purposes.

[2017-08-31 16:39] tannergooding commented on #23707
@jnm2, yeah, I want assembly level aliases for a lot of reasons (really useful for Interop code as well).

I'm pretty sure something like that exists (kind-of) at the UWP layer (I know there is mappings from `IIterable<T>` to `IEnumerable<T>`, for example).

If only it were general purpose.

[2017-08-31 16:42] jnm2 commented on #23707
If only you knew some folks...

[2017-08-31 16:43] davidsh commented on #2505
Closing this issue since PinnableBufferCache is now being replaced with Span<T> and other higher performance choices.

[2017-08-31 16:43] #2505 closed

[2017-08-31 16:43] tannergooding commented on #23707
I may eat lunch with half the compiler team every day, but it doesn't mean I can convince them to implement something ahead of whatever schedule or priorities they already have (especially not without it going through LDM, which takes forever) ;)

[2017-08-31 16:45] jnm2 commented on #23707
Yeah, I figured. And you'd have to get the CLR folks on board too 😁

[2017-08-31 16:45] danmosemsft commented on #23707
One aspect to consider that perhaps makes indenting a more direct concern of the console is the width of the console. You probably want wrapped text to indent as well. To do that you have to respect the width of the console. Also when it changes, you probably want at least new writes to continue to indent correctly. I could see this being implemented as a wrapper of Console, but probably not in th

[2017-08-31 16:46] tannergooding commented on #23707
So, maybe another idea for `CoreFX Extensions` (if that ever becomes a thing). Do we have a label to track such things?

[2017-08-31 16:46] karelz commented on #23706
Yes, it looks like variant of #7527 - closing as dupe.

BTW: The only difference is in the constraint on `Second<T>`=`BuilderBaseEx<T>` here it is `where T : Second<T>`, while in #7527 it is `where T : First<T>`.
I don't think it is significant different.

@maxerokh please in future, do not file identical issues in multiple repos (here and in Roslyn) - it makes multiple teams/people look at the is

[2017-08-31 16:46] #23706 closed

[2017-08-31 16:48] danmosemsft commented on #23707
We do not. @karelz maybe `area-possibleextensions` ?

[2017-08-31 16:49] Jenan commented on #23605
@danmosemsft I have used this setting for now:

[code]

[code]

But I get absolutely same `System.NullReferenceException`.

Thank you for any points.

[2017-08-31 16:49] jnm2 commented on #23707
People's console windows reflow the text and there is no way to write a blocking resize handler. The only reasonable way to do this that I can find is to act like msbuild and check the width when the process starts and pretend it never changes.

[2017-08-31 16:53] karelz commented on #7527
There is duplicate report in #23706 with variant of the same bug: `Second<T>`=`BuilderBaseEx<T>`, but the constraint is slightly (and likely insignificantly) different:
* `Second<T> : First<T> where T : Second<T>` in #23706
* `Second<T> : First<T> where T : First<T>` in this bug

[2017-08-31 16:56] danmosemsft opened #23710 "Ensure file path is in IO exception messages"
Historically IO exceptions have often not contained the path often due to CAS. That is not a concern any more and it is certainly more helpful to get "Access to the path '{0}' is denied." rather than "Access to the path is denied."

We fixed this in Corelib https://github.com/dotnet/coreclr/commit/6ba74dc2a7194f8d6c86c3aeab572a074ef645c8  .. we should do a similar pass over CoreFX.

Look for strin

[2017-08-31 16:57] bartonjs commented on #23707
Or check it during every Write operation and support dynamic wrapping.

Of course, you're also into the hard problem of defining what a good wrapping point is.  Oh, and don't forget to trim spaces so the console reflow doesn't trip.  And sometimes WriteLine needs to leave the line out, since the console might do it as part of the cursor movement.  And hopefully the user is well behaved and doesn't

[2017-08-31 17:02] jnm2 commented on #22318
They go in https://github.com/Microsoft/dotnet/issues, don't they?

[2017-08-31 17:03] karelz commented on #23708
I assume by T4 you mean [Text Template Transformation Toolkit](https://www.hanselman.com/blog/T4TextTemplateTransformationToolkitCodeGenerationBestKeptVisualStudioSecret.aspx)

While it sounds like useful idea, it feels out of scope of CoreFX repo. It also looks like larger, non-trivial work. I would suggest you to look for existing solutions and OSS projects.

[2017-08-31 17:05] robertmclaws commented on #10752
My plan for this weekend:
- [ ] Review the following implementations:
    - [ ] Xamarin's ObservableRangeCollection
    - [ ] My existing PR to my personal .NET fork
    - [ ] @weitzhandler's implementation
- [ ] Pull the best from all 3 in a way that meets the pre-approved API surface and performs well w/o unnecessary allocations.
- [ ] Submit a PR that includes testing for compatibility scenario

[2017-08-31 17:08] stephentoub commented on #15761
Fixed by #23572

[2017-08-31 17:08] #15761 closed

[2017-08-31 17:11] karelz commented on #23707
We have CoreFxExtension issue where you can add the idea: #20902 (I'd recommend to finish the discussion here first to get consensus if it is a good idea - I tend to agree with @bartonjs that `IndentedTextWriter` is probably the best middle-ground).

[2017-08-31 17:17] jnm2 commented on #23707
Like I said, there's no blocking resize handler, so no way to synchronize what you're writing with what the actual size of the window is. It gets awful pretty fast. I sunk days into this, which is why I called what msbuild does the only reasonable solution.

[2017-08-31 17:33] sergiyd commented on #23708
Honestly I'd prefer _RazorTransorm_ as decoupled part of existing _Razor Engine_ which takes text template with transformation model, understands **@** as output and including (_partial_). Just thoughts.
Thank you!

[2017-08-31 17:33] ericstj commented on #23678
@eerhardt it would seem that this direct file reference isn't making it into the deps file.

@troncomputers it'd be good if you can provide an isolated repro solution that demonstrates this.

Also, I hate to suggest to move again, but I think this belongs in dotnet/sdk repo, but we can wait until we confirm that.

[2017-08-31 17:33] fletchsod-developer commented on #23686
:-( :-( :-(

[2017-08-31 17:34] pjanotti commented on #22011
@karelz yes, that is a good one. I will do that, and take a pass a the template too (we should also include it in the docs anyway, I will check with @mairaw the best way to ensure that these issues are covered both on ApiCompat but also on the docs).

[2017-08-31 17:39] danmosemsft commented on #23710
Looks like a number of these strings are dead in CoreFX now and can be removed eg `Argument_PathFormatNotSupported` `Arg_PathIllegal` `Arg_PathIllegalUNC`

[2017-08-31 17:42] danmosemsft commented on #23686
@fletchsod-developer I suggest adding to your project extension methods similar to the ones posted above. (I didn't review that code but essentially that approach)

[2017-08-31 18:03] tarekgh commented on #23708
@karelz this looks need to move to the sdk repro. agree?

[2017-08-31 18:04] jamesqo commented on #23680
I've put forth a prototype for fixing this issue at https://github.com/jamesqo/corefx/commit/c5699a03c0776346b696623b6c44c900db5f3945.

[2017-08-31 18:06] karelz commented on #23708
Why SDK? I was about to suggest Razor repo ... (I hope there is one)

[2017-08-31 18:08] tarekgh commented on #23708
the request is to have code generation template can be used in VS. this is why I suggested SDK repo.

[2017-08-31 18:12] karelz commented on #22318
@jnm2 I think it was meant more for higher-level all-.NET feedback, rather than specific bug reports. But it is mostly guess work on my side.
I don't think we have any plans to do .NET Framework bug tracking on GitHub (at least engineers owning the code across .NET Framework, .NET Core and UWP are not aware of that)

 @richlander will know the plan for https://github.com/Microsoft/dotnet repo

[2017-08-31 18:14] karelz commented on #23708
Isn't VS just one of many users of such component? Or am I missing something?

[2017-08-31 18:17] karelz commented on #23646
@mtf30rob can you please bring the discussion back to WCF repo?
If there is Networking problem under the hood, it would be best to provide a repro WITHOUT WCF to demonstrate it. Thanks!

[2017-08-31 18:25] weshaggard commented on #23699
cc @ericstj @Petermarcu

@bording we are trying to switch to a more portable model to avoid an explosion of different distro's and versions. So as much as possible we are trying to use the portable/generic linux-x64 RID. If you need to have assets for distro's you can use the version-less RID for the distro which should be present in the list. If you need to use a differentiate by version and the

[2017-08-31 18:28] #19426 closed

[2017-08-31 18:32] SteveGilham commented on #17107
In the days before OpenCover being available for .net4, I used [this instrumenting tool](https://www.codeproject.com/Articles/41722/Building-NET-Coverage-Tool) as a stopgap for the coverage gathering I was doing at work.  Rather than making use of the profiler API to inject instrumentation at run-time, it pre-instruments the assemblies with similar IL instead.  The code ended up on [Google Code](h

[2017-08-31 18:32] ericstj commented on #23656
The plot thickens.  For some of these bringing back *live* builds that are compatible with past versions of netcoreapp2.0 may become a burden.  I think I'd like to classify the packages in two buckets.

1. API that's already anchored to a netstandard version because its part of desktop.  For these packages I'll opt to continue using placeholders and freeze the reference assembly version.

2. API t

[2017-08-31 18:32] tarekgh commented on #23708
I am not sure the request is for VS only or not. I have no problem to move this to Razor as you suggested. anyway, this doesn't belong to corefx.

[2017-08-31 18:39] weshaggard commented on #21188
Assuming this anaylyzer would run on each library independently I would expected any exception list to be in the library directory. Similar to what we do for our PInvoke checker lists.

[2017-08-31 18:40] joelbraun commented on #19771
@danmosemsft I have a porting project I'm very excited to use this library on. Any ETA on getting this on Nuget?

[2017-08-31 18:42] Priya91 commented on #23177
@geoffkizer @Tratcher Do we have a consensus on the design?

[2017-08-31 18:44] ijsgaus commented on #23229
If standard 2.0 projects is your - dual targeting can solve problem. I don't check nuget installation packages. As temporary solution.

[2017-08-31 19:24] bording commented on #23699
@weshaggard How exactly would this work? When I look at `dotnet --info`, it only shows `linux-x64` as the RID. Are you saying that there is actually another RID for those distros that will be considered? How do I determine what that value is? The only way I'm aware of to see what the RID will be is from `dotnet --info`. I was assuming that they would only use `linux-x64` as the RID, so including a

[2017-08-31 20:12] tarekgh commented on #23708
@karelz do you know the exact Razor repo we can move the issue to?

[2017-08-31 20:12] kevingosse opened #23716 "Proposal: Asynchronously cancel a CancellationTokenSource"
## **Proposal**:  Add a way to asynchronously cancel a CancellationTokenSource

I would like to suggest adding a method to CancellationTokenSource:

[code]

The method would work like Cancel, with a difference:

- If no callback is registered, then the method processes synchronously and returns a completed task
- If callbacks are registered, then a task is created and returned. That task will exec

[2017-08-31 20:16] karelz commented on #23708
Quick internet search result: https://github.com/aspnet/Razor

[2017-08-31 20:18] tarekgh commented on #23708
I saw that, but this repo is specific to CSHTML. I don't think this is the right place.

[2017-08-31 20:33] JuanZamudioGBM commented on #23688
@bartonjs  I'm using SymmetricAlgorithm symmetricDES = (SymmetricAlgorithm)CryptoConfig.CreateFromName("DES");

[2017-08-31 20:35] AtsushiKan commented on #13426
Closing old issue (came up because I was working on Span - Span work has gone on for months without my involvement and it presumably has what it needs.)

[2017-08-31 20:35] #13426 closed

[2017-08-31 20:40] bartonjs commented on #23688
@JuanZamudioGBM Yeah, that's DESCryptoServiceProvider.  The recommended way to get a DES instance (or an instance of any algorithm) is to use `\[Algorithm\].Create()`.  On .NET Framework that does the same thing you've done, on .NET Core it returns a non-castable type (well, not castable beyond the algorithm base class) which performs the algorithm using whatever "the best" library is for the curr

[2017-08-31 20:41] #23688 closed

[2017-08-31 20:48] danmosemsft commented on #19771
I believe we are waiting on @weshaggard to fix the versioning in master first.

Meantime, can you make progress using myget -- it may work to just add myget to your nuget config, see [dogfooding](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md). Or since they are simple extension methods, might be easier to just temporarily add the C# files to your own project

[2017-08-31 20:54] OmarTawfik commented on #23680
Thanks @jamesqo! but my question was about the reason we're using `SparseArrayBuilder` at all :)
From what I see, the existing code goes over all the underlying collections, and if it is cheap to get their count, store them in a separate array, or else enumerate/add them. Then does a second pass after calling `SparseArrayBuilder.ToArray()` to fill the resulting array.
Maybe I'm missing something,

[2017-08-31 20:58] karelz commented on #23708
IMO it is where Razor code lives. If there is request to decouple its component and generalize it to multi-purpose, it should be there as the closest place to the source code IMO.
The other option is to fork entirely right away ... which would be starting brand new OSS project.

[2017-08-31 21:05] geoffkizer commented on #23177
No consensus at this point.

I spoke to @terrajobst today, and we'll use the regular Tues 11am design slot to discuss this.  Invite should go out shortly.

@Tratcher, please forward the invite as appropriate.

@Priya91 @karelz @stephentoub, FYI -- hopefully you can make this meeting.

@Drawaes would be great to have you too, but not sure how this fits your schedule...

[2017-08-31 21:06] Priya91 commented on #23177
Not related to the api proposal, but SecureTransport doesn't have any public APIs to support ALPN, so we'll be throwing PNSE on OSX.

[2017-08-31 21:07] geoffkizer commented on #23177
Huh.  That's unfortunate.

[2017-08-31 21:13] stephentoub commented on #23177
That's also part of the reason the libcurl that ships with macOS doesn't support HTTP/2:
https://daniel.haxx.se/blog/2016/08/01/curl-and-h2-on-mac/

[2017-08-31 21:16] JonHanna commented on #23706
Thank me once I fix it. (It seems to be one of those tasks where every time I try to make a start at it, something comes up).

[2017-08-31 21:22] Drawaes commented on #23177
11am where? Eg timezone?

[2017-08-31 21:24] geoffkizer commented on #23177
sorry -- PST (Seattle)

[2017-08-31 21:26] geoffkizer commented on #23177
Do we support OpenSSL as an option on OSX?

[2017-08-31 21:28] stephentoub opened #23717 "Handle EAGAIN in Console.Write"
Already fixed in master. https://github.com/dotnet/corefx/pull/23713 ports it to the release/2.0 branch and should be merged for 2.0.2.

[2017-08-31 21:30] mellinoe commented on #23708
I think the Razor request (decoupling, etc.) is not necessarily tied to the T4 request. Is that right, @sergiyd ?

From what I understand, the T4 engine has historically been a part of Visual Studio, and maintained by that team. I'm not sure if there's active development on it at the moment.

[2017-08-31 21:31] Drawaes commented on #23177
@bartonjs can confirm but not for TLS only for a few missing functions I believe.

[2017-08-31 21:31] halter73 commented on #23177
I found this [open radar bug](https://openradar.appspot.com/30366695) asking for ALPN support for SecureTransport. One of the comments mentioned a new [SSLSetALPNProtocols API](https://developer.apple.com/documentation/security/2867327-sslsetalpnprotocols?language=objc) to be released in macOS 10.13 which currently in beta. Could we light up ALPN support on macOS if this API is available?

[2017-08-31 21:32] Petermarcu commented on #23717
This is approved for checkin when the branch is open for 2.0.2.

[2017-08-31 21:33] Drawaes commented on #23177
7pm ldn should be okay as long as my Pen Testing next week doesn't go badly :)

[2017-08-31 21:39] geoffkizer commented on #23177
I assume so.  @Priya91?

[2017-08-31 21:41] CESARDELATORRE commented on #23717
Related issues:
https://github.com/Microsoft/msbuild/issues/2153#issuecomment-310011758
https://github.com/dotnet-architecture/eShopOnContainers/issues/288

[2017-08-31 21:41] #22376 closed

[2017-08-31 21:53] PeterSmithRedmond commented on #23426
Can I ask why you can't just let the system pick the correct network card?  What's your network topology such that the wrong NIC might ever be picked?

If the system is confused enough to send regular traffic on the management NIC, having your app pick the management NIC is the least of your worries :-)

[2017-08-31 21:54] bartonjs commented on #23177
Not easily.  Right now we build on 10.12 and only have 10.12 API available.  We'd have to do tricky things to make any sort of lightup work with this shim, or just get buyoff on making 10.13 the minimum OS for "2.1".

[2017-08-31 21:57] Petermarcu commented on #23405
I haven't seen this one come to shiproom for 2.0.2. Is that the goal?

[2017-08-31 21:58] Petermarcu commented on #23398
@danmosemsft @ViktorHofer what timeframe are we targeting with this?

[2017-08-31 21:59] Petermarcu commented on #23311
Are we aiming to get this into a servicing release? If so, which one? I haven't seen the approval process started on this one.

[2017-08-31 22:01] Porges commented on #23040
Thanks! 😊

[2017-08-31 22:01] Petermarcu commented on #23574
If we're intending to break in 2.1, I'd rather get things to the right behavior as soon as possible. Can we kick off the 2.0.X discussion?

[2017-08-31 22:07] ViktorHofer commented on #23398
Probably the next possible servicing release. Dan said he has somebody doing the work required for it.

[2017-08-31 22:12] wfurt commented on #23177
It would still be probably tricky but I'm wondering if installing new XCode and headers on 10.12 would be sufficient. The SecureTransport.h lives under /Applications/Xcode.app/Contents/Developer/Platforms/*

We should probably not count on it at this point and take it as bonus when possible.

[2017-08-31 22:14] wfurt commented on #23177
actually:

+/*
+ * Set the ALPN protocols to be passed in the ALPN negotiation.
+ * This is the list of supported application-layer protocols supported.
+ *
+ * The protocols parameter must be an array of CFStringRef values
+ * with ASCII-encoded reprensetations of the supported protocols, e.g., "http/1.1".
+ *
+ * See RFC 7301 for more information.
+ */
+OSStatus
+SSLSetALPNProtocols         (SSL

[2017-08-31 22:18] danmosemsft commented on #23398
I didn't ask anyone yet. I put it in 2.0.x as a servicing candidate as it makes it unreliable to successfully serialize real world Datasets.

[2017-08-31 22:18] ericstj commented on #18736
I disagree.  We typically only have one active build of a library and it will either "float" with new releases (keep using the versionless targetgroup), or "stick" in a particular release (moving from version-less to versioned, potentially keeping the versionless for vertical build).

[2017-08-31 22:20] tarekgh commented on #23678
I couldn't repro this issue with simple netcoreapp 2.0 console app. I have referenced nip24Library.dll exactly as mentioned above and the app load it just fine.

[NetCoreConsoleApp.zip](https://github.com/dotnet/corefx/files/1268654/NetCoreConsoleApp.zip)

We'll not be able to help here without providing a simple repro project

[2017-08-31 22:23] lextm commented on #23708
@sergiyd you should make it clearer what exactly you would like to do.

T4 engine was tightly coupled with IDE. Microsoft's Visual Studio T4 implementation I think is not yet open sourced, so you probably could not reuse it easily in .NET Core.

MonoDevelop has [their open source T4 clone](https://github.com/mono/monodevelop/tree/master/main/src/addins/TextTemplating/MonoDevelop.TextTemplating) fo

[2017-08-31 22:28] bartonjs commented on #23177
Oooh.  That *does* make life somewhat easier.  (10.12.4 seems like an easier minimum to declare than 10.13)

[2017-08-31 22:36] wfurt commented on #23177
I can put it on TODO list to investigate. And yes, I agree that would be much more viable.
The open question would be behavior on older versions. It would be nice IMHO if everything works, just ALPN would throw exception for unsupported platform.

[2017-08-31 22:46] Tratcher commented on #23177
@wfurt how would the consumer of SslStream know if it could enable ALPN other than trying to do so and having it throw?

How about a gracefull fallback mode where the negotiated ApplicationProtocal returns null and the app gets to decide if they fall back to a default (HTTP/1.1) or fail? The app already has to deal with this scenario when the remote party did not support ALPN.

[2017-08-31 22:47] geleems opened #23721 "Connection pool fragmentation by connection string variation (case, space..etc)"
Connection String A: `Server=tcp:.;User ID=testuser;Password=test1234;pooling=true`
Connection String B: `Server=tcp:.;User ID=testuser;Password=test1234; pooling=true` (notice a space when `pooling=true` starts)
Connection String C: `Server=tcp:.;User ID=testuser;Password=test1234;pooling=True`

Connection strings A, B, and C are indicating the same connection, but they creates separated connecti

[2017-08-31 22:47] bartonjs commented on #23177
I think the library loader will refuse to load the shim (since it couldn't resolve the import), meaning that anything touching crypto would cause the application to fail to load.  (Unless we do a lot of scary work)

[2017-08-31 22:48] geleems commented on #23721
According to my observation, connection string handed over the SqlConnection as a constructor parameter is just simply used as a pool key when user enabled pooling option.
That means, for the exact same connection strings except one space character, they creates their own pool each.

[2017-08-31 22:48] stephentoub commented on #23177
@bartonjs, remind me why in the shim we can't just use dlopen/dlsym to find the function we care about and use it if it exists?

[2017-08-31 22:50] Tratcher commented on #23177
In general, PlatformNotSupportedExceptions are consumer landmines, ASP.NET would rather have lightup/no-op for optional features like ALPN.

[2017-08-31 22:50] bartonjs commented on #23177
@stephentoub "Scary work" :).  Though doing it for one pair of functions might be a lot more self-contained than if we were to do the whole thing like we did against OpenSSL for the portable effort.

[2017-08-31 22:59] wfurt commented on #23177
I would tend to agree @Tratcher The downside is dragging new OS requirement for something perhaps marginal for most users. Requiring 10.12.4 instead of 10.12 does not seems to bad.

I would put this on hold for now and I can share more info when I get some tests done.

[2017-08-31 23:18] AtsushiKan commented on #22866
Project N implementation is now merged.

CoreCLR implementation is still up for grabs. The exception wrapping seems to occur in various places in C++ code so this will require some C++ work.

[2017-08-31 23:34] weshaggard commented on #23630
RH 6 doesn't have an /etc/os-release see what we had to do https://github.com/dotnet/corefx/blob/master/init-tools.sh#L41.

[2017-08-31 23:43] weshaggard commented on #23656
For (1) it is more then freezing the reference assembly version correct? You also need to not allow any more APIs to be added.

For (2) while I don't really like that solution I don't have a better one so I think we might be stuck.

[2017-08-31 23:52] #13295 closed

[2017-09-01 00:01] weshaggard commented on #18736
So you don't think we will have any projects that both have a versioned and a version-less configuration? I think that will still used and in that case I don't know what TargetsNETCore/TargetsNETStandard would imply in those cases.

[2017-09-01 00:07] weshaggard commented on #23699
You can see https://github.com/dotnet/core-setup/blob/master/src/corehost/common/pal.unix.cpp#L273 for how the dotnet host computes the RID for the current OS.

Unfortunately there isn't any documentation on this is there @ericstj? But all I believe is needed is to include a runtime.json in the root of your nuget package with the mappings and ensure your package is referenced in the project that n

[2017-09-01 00:16] mstephano commented on #16598
I had the same problem before but managed to resolve it. My container was supposed to call a webapi inside the same domain using the service account set on the app pool (in my case, it was a group Managed Service Account - gMSA). The webapi was secured and we were allowing only the service account to be able to access that webapi, so no employee in the company could hack and call the webapi manual

[2017-09-01 00:19] weshaggard commented on #23699
Also to add a note about what you are seeing with "dotnet --info". See https://github.com/dotnet/cli/blob/af676518dd963814c76c45adb80d59adc1b387b8/src/dotnet/Program.cs#L272 it will display the RID that the CLI was built with if the calculated RID isn't supported by the shared framework.

[2017-09-01 00:32] davidsh commented on #23518
What is APNs? Without understanding what that is and what server is involved, it won't be possible to diagnose this.

Also, please attach a WireShark trace.

[2017-09-01 01:49] karelz commented on #23639
Reopening to track port to 2.0.x as it is a regression we introduced.

@Petermarcu do you agree?

[2017-09-01 01:51] karelz commented on #23574
@Petermarcu I meant to kick off the discussion here. We do not have compat alias.
Or did you mean kick off .NET Core Shiproom discussion?

[2017-09-01 02:00] Jiayili1 commented on #22316
Now it fails: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170901.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FNoCallback_RevokedCertificate_NoRevocationChecking_Succeeds

The test `System.Net.Http.Functional.Tests.HttpClientHandler

[2017-09-01 02:21] dotnet-mc-bot opened #23725 "Tests under: System.Linq.Expressions.Tests failed with "System.ArgumentException : The type 'System.Linq.Expressions.Tests.GenericClass`1[T]' may not be used as a type argument""
Opened on behalf of @Jiayili1

The test `System.Linq.Expressions.Tests.Assign/Left_InvalidType_ThrowsArgumentException` has failed.

System.TypeInitializationException : A type initializer threw an exception. To determine which type, inspect the InnerException's StackTrace property.\r
    ---- System.ArgumentException : The type 'System.Linq.Expressions.Tests.GenericClass`1[T]' may not be used as

[2017-09-01 02:36] dotnet-mc-bot opened #23726 "Test: System.Runtime.Serialization.Formatters.Tests.FormatterServicesTests/GetUninitializedObject_OpenGenericClass_ThrowsMemberAccessException failed with "System.ArgumentException""
Opened on behalf of @Jiayili1

The test `System.Runtime.Serialization.Formatters.Tests.FormatterServicesTests/GetUninitializedObject_OpenGenericClass_ThrowsMemberAccessException` has failed.

System.ArgumentException : The type 'System.Runtime.Serialization.Formatters.Tests.FormatterServicesTests+GenericClass`1[T]' may not be used as a type argument.

        Stack Trace:

           at System.Ref

[2017-09-01 02:53] davidsh commented on #23702
@v-haren Where is the link to the mc.dot.net test run where this failed?  We need that link in order to examine more logs, etc.

cc: @karelz

[2017-09-01 03:03] v-haren commented on #23702
detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170831.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_DefaultProxyCredentials_Test~2FProxyExplicitlyProvided_DefaultCredentials_Ignored

[2017-09-01 03:35] jamesqo commented on #23680
@OmarTawfik Thanks for the regression tests, I'm going to use them in my upcoming PR. Luckily I don't think this bug happens with `Append` / `Prepend` (the other place where `SAB<T>` is used), since you don't have any possibility of a gap surrounded by lazy enumerables there.

[2017-09-01 03:50] adriangodong commented on #20242
AsSpan -> AsReadOnlySpan in CoreFX is done (https://github.com/dotnet/corefx/pull/23563/commits/f4b098d4170e74e84d1530f4a40d821fe0f97cda).

@ahsonkhan @jkotas I have a question about the following test class:
https://github.com/dotnet/corefx/blob/f4b098d4170e74e84d1530f4a40d821fe0f97cda/src/System.Memory/tests/ReadOnlySpan/AsSpan.cs

I can't seem to use `System.Span.AsReadOnlySpan` extension from

[2017-09-01 03:57] adriangodong commented on #20242
nvm, rtfm https://github.com/dotnet/coreclr#relationship-with-the-corefx-repository

[2017-09-01 04:19] Tratcher commented on #23177
Of all the proposals, @Priya91's [commit](https://github.com/Priya91/corefx-1/commit/76548ccc68134de74a60bf3da3a2c166811936fa) looks the simplest to both consume and implement. I'll summarize:
[code]

A callback would still be preferred to `IDictionary<string, X509Certificate>` for ServerCertificates, but I've gotten mixed reports on if that's supported on Windows.

[2017-09-01 04:27] davidsh commented on #23362
Please let us know the specific version of Windows 10.  Please run 'CMD.EXE' window.  And then type "ver".  Let us know what the output it.  Thx.

[2017-09-01 04:38] benaadams commented on #23689
If you put a fast `Span` over the array and assign using the span rather than via the array; does that give you invariance?

e.g.
[code]

[2017-09-01 04:46] benaadams commented on #23689
Though you [pay a type check on construction](https://github.com/dotnet/coreclr/blob/8a338880b527a86ccd33c29b1aa7baccd3f4b998/src/mscorlib/shared/System/Span.cs#L48-L49) so isn't better for single assignments, only if you were doing multiple assignments in a loop etc

[2017-09-01 05:02] danzel opened #23731 "ClientWebSocket does not send SNI header on linux"
When creating a ClientWebSocket to a `wss://` url on linux (Ubuntu 16.04), the SNI header is not set in the TLS handshake.

This is in violation of the WebSockets RFC (And it breaks real world usage when SNI is actually required)
https://tools.ietf.org/html/rfc6455#page-17 (End of point 5).

Linux (Ubuntu 16.04-x64)
![image](https://user-images.githubusercontent.com/393086/29955833-af5bf956-8f36-1

[2017-09-01 05:16] caozhiyuan commented on #21557
{
    "version": "0.2.0",
    "configurations": [
        {
            "name": ".NET Core Launch (console)",
            "type": "coreclr",
            "request": "launch",
            "program": "/home/caozhiyuan/corefx/bin/testhost/netcoreapp-Linux-Debug-x64/dotnet",
            "args": [ "xunit.console.netcore.exe", "System.Net.Sockets.Tests.dll"],
            "cwd": "/home/caozhiyuan/corefx/b

[2017-09-01 05:29] bartonjs commented on #23177
I like that the options class will give a place to stick a collection of certificates for doing root pinning (once we add that option to X509Chain).

[2017-09-01 05:40] maryamariyan commented on #19956
Question A) I can see that the intent of issue #19956 is to improve UseShellExecute by using "open" on osx and using "xdg-open", "gnome-open", etc. on linux. But does this also mean if we are using Process.Start with UseShellExecute: true (for actions other than opening file/urls) then the behavior should remain as it used to be before?

Question B) Is it wrong to expect that Process.Start should

[2017-09-01 05:50] Petermarcu commented on #23639
Yes, lets have a servicing discussion about it.

[2017-09-01 05:50] Petermarcu commented on #23574
Shiproom where we can also discuss compat.

[2017-09-01 05:57] dotnet-mc-bot opened #23733 "Test: System.Tests.ArrayTests/CreateInstance_NotSupportedType_ThrowsNotSupportedException failed with "System.ArgumentException""
Opened on behalf of @Jiayili1

The test `System.Tests.ArrayTests/CreateInstance_NotSupportedType_ThrowsNotSupportedException` has failed.

System.ArgumentException : The type 'System.Tests.ArrayTests+GenericClass`1[T]' may not be used as a type argument.

        Stack Trace:

           at System.Reflection.Runtime.TypeInfos.RuntimeConstructedGenericTypeInfo.ConstructedGenericTypeTable.Factory($U

[2017-09-01 06:00] dotnet-mc-bot opened #23734 "Tests under: System.Tests.ValueTypeTests failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Tests.ValueTypeTests/StructWithDoubleFieldNotTightlyPackedNaNCompareTest` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Tests.ValueTypeTests.StructWithDoubleFieldNotTightlyPackedNaNCompareTest() in E:\A\_work\357\s\corefx\src\System.Runtime\tests\System\ValueTypeTests.cs:line

[2017-09-01 06:01] Jiayili1 commented on #23734
failed tests:
StructWithDoubleFieldNotTightlyPackedNaNCompareTest
StructWithDoubleFieldTightlyPackedNaNCompareTest
StructWithFloatFieldNotTightlyPackedNaNCompareTest
StructWithFloatFieldTightlyPackedNaNCompareTest
StructWithNestedDoubleFieldNotTightlyPackedNaNCompareTest
StructWithNestedDoubleFieldTightlyPackedNaNCompareTest
StructWithNestedFloatFieldNotTightlyPackedNaNCompareTest
StructWithNested

[2017-09-01 07:14] caozhiyuan opened #23737 "Linux Socket Blocking false Send bug"
https://github.com/dotnet/corefx/issues/23672
https://github.com/dotnet/corefx/issues/23416

@davidsh
@karelz

[2017-09-01 07:17] Jiayili1 opened #23738 "Tests under "System.Security.Cryptography.X509Certificates.Tests" failed with "Interop+AppleCrypto+AppleCommonCryptoCryptographicException" in CI"
Failed tests:
 System.Security.Cryptography.X509Certificates.Tests.X509StoreTests.ReOpen_IsOpenTrue
 System.Security.Cryptography.X509Certificates.Tests.X509StoreTests.AddReadOnlyThrowsWhenCertificateExists
 System.Security.Cryptography.X509Certificates.Tests.X509StoreTests.ReadMyCertificates
 System.Security.Cryptography.X509Certificates.Tests.X509StoreTests.Constructor_OpenFlags_StoreName
 Syste

[2017-09-01 07:48] Sc0tTyXL commented on #23306
We ran into this problem on Monday, apparently one of the packages we used added some standard2.0 stuff to our csproj. It took us the whole day to find the root cause of the issue and was only able to solve the issue after reading this issue and #22781 as there was no other info flying around.

Why would you want to move packages back into the GAC? This means that if one of our dev machines is not

[2017-09-01 08:03] tmds commented on #23672
@caozhiyuan TCP is a 'stream' protocol. This means data sent in 1 operation by one peer, can arrive at the other peer in separate messages. It looks like you are observing a message being cut because it would go over the peer recv buffer size. Then you hit the WouldBlock on the next send because the OS is waiting for the peer to receive data.

[2017-09-01 08:09] weitzhandler commented on #23700
@JonHanna I took it from [here](https://source.dot.net/#System.Linq/System/Linq/AnyAll.cs,8788153112b7ffd0). I like the reference source because easy and fast browsing and searching of types.

[2017-09-01 08:13] weitzhandler commented on #23700
@Clockwork-Muse you were right.
Here are the results with a plain loop:

[code]

[2017-09-01 08:13] tmds commented on #23416
@caozhiyuan What is `nioBuffers.Length` ?

According to the POSIX spec of sendmsg:

The message is too large to be sent all at once (as the socket requires), or the msg_iovlen member of the msghdr structure pointed to by message is less than or equal to 0 or is greater than {IOV_MAX}.

IOV_MAX on linux is 1024.

[2017-09-01 08:25] mjp41 commented on #23689
@benaadams I think there is potential to use Span to replace some of the bulk operations on arrays, but I don't think it will work for single assignment case.  Although, the JIT has more potential to optimise the Span as the type comparison is done in managed code, rather than the C++ runtime.

So far for use cases I think
* System.Collections.Generic
   *  [List](https://github.com/dotnet/coreclr

[2017-09-01 08:32] evil-shrike commented on #2949
This is the new world of "modular .net": people begged MS to bring System.Transactions to netcore, they did, but SqlClient doesn't support SysTx. Ridiculous.
May I ask why do we need TransactionScope on a platform if it cannot be used with SqlClient?
I can understand why distributed transactions aren't supported, yes we have no a x-plat coordinator. But why ambient transactions aren't supported?!

[2017-09-01 08:52] alrz commented on #21052
I'll wait for dotnet/csharplang#461 to land. I think that is the main consumer of this API.

[2017-09-01 08:54] JonHanna commented on #23700
@weitzhandler

But it is often very different to corefx. Linq would be an example of where corefx is particularly different to reference source.

[2017-09-01 08:56] TSlivede commented on #19956
I don't think so, that's not what UseShellExecute is about. IMHO the reference for the behaviour of UseShellExecute should be Windows .Net Framework. And although `exit 42` works  in cmd.exe, you get an error for both testcases on Windows. This is correct, because UseShellExecute means *not* "use command line shell".

If somebody really needs the `sh -c` feature he/she could start an API-Proposal

[2017-09-01 09:10] IvanAntipov commented on #23672
I made a repro **without** DotNetty

Socket.Send returns 0, but 29200 bytes are transmited in network. (NonBlocking mode is enabled)

To Run test
Depoloy TestTCP on Ubuntu14.04
1.1 Build
1.2 Copy files
1.3 Enable connections to port 8183 ( ufw allow 8183)
1.4 Start listener ( `dotnet TestTCP.dll syncnoblock`)
On Windows (client) side
2.1 `dotnet TestTCP get __your_ubuntu_ip_address`

[TestTCPSyncN

[2017-09-01 09:11] caozhiyuan commented on #23416
@tmds nioBuffers is  List<ArraySegment>
when i use Blocking Socket will not has this error

[2017-09-01 09:14] tmds commented on #23416
How many elements are there in the list? Does it start to fail when it's over 1024?

[2017-09-01 09:15] caozhiyuan commented on #23672
@tmds  @IvanAntipov  is linux it always returns 0, 0 means no buffer send. in windows no this problem

[2017-09-01 09:16] ben-foster-cko commented on #13422
@corivera I just updated to 4.3.1 but I'm still seeing the following after my application sitting idle for 10 minutes:

![image](https://user-images.githubusercontent.com/19906175/29963355-7087451a-8efe-11e7-8304-ec97094f855d.png)

This is a .NET Core 1.1 application running in Docker (linux).

What's the best way to ensure that the SQL Client was indeed updated - I notice that it sits in a refs f

[2017-09-01 09:17] caozhiyuan commented on #23416
@tmds  when nioBuffers total byte size big than 344064,will raise 10040 MessageSize Error（Message Too Long） (noblocking socket)

[2017-09-01 09:19] weitzhandler commented on #23700
@JonHanna
There are two reference sources, one for the [.NET Framework](http://referencesource.microsoft.com/), and the other for [.NET Core](http://source.dot.net).

They are identical ([browser](https://source.dot.net/#System.Linq/System/Linq/AnyAll.cs,11) vs. [GitHub](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Linq/src/System/Linq/AnyAll.cs#L11)),

[2017-09-01 09:19] ben-foster-cko commented on #15287
Did fix make it into the final 4.3.1 package as I'm still seeing open connections when running in Docker?

[2017-09-01 09:19] caozhiyuan commented on #23416
@tmds  at now i use block socket and  no problem

[2017-09-01 09:22] JonHanna commented on #23700
The code in the first post seems to be from the netfx one at http://referencesource.microsoft.com/#System.Core/System/Linq/Enumerable.cs,1165 It's close enough in this case, but no in many others within `Enumerable`

[2017-09-01 09:27] TSlivede commented on #19956
One more (incorrecly interpreted) meaning of `UseShellExecute`: Open in new Terminal.

From https://github.com/dotnet/corefx/issues/4720#issuecomment-161130544 :

As I mentioned, I don't think, that's what `UseShellExecute` is about. However maybe a new property could be added to `ProcessStartInfo` via an API-Proposal? (maybe `ProcessStartInfo.OpenInTerminal` ?). If it is set to true, the new proc

[2017-09-01 09:29] tmds commented on #23672
@IvanAntipov please share the console output of client&server when running the steps.

[2017-09-01 09:31] tmds commented on #23416
I don't want to know the total byte size. I'd like the know the number of ArraySegment in nioBuffers.

[2017-09-01 09:34] caozhiyuan commented on #23672
@tmds  you debug it get a 257 byte msg , for 1 to 4000 add to List<ArraySegment<byte>>, then send

[2017-09-01 09:35] IvanAntipov commented on #23672
![client](https://user-images.githubusercontent.com/18117729/29964186-ef733a38-8f11-11e7-85bc-f531ea77cb38.png)
![server](https://user-images.githubusercontent.com/18117729/29964187-ef91700c-8f11-11e7-8c69-c945d03a37ec.png)

[2017-09-01 09:36] jchannon commented on #20177
We can give you a VM vian an OVF file but you'll need to to connect to our VPN as the app needs to talk to another machine which it pings as it sends HTTP requests to.  If you are able to do that let me know, if not we can come up with another plan

[2017-09-01 09:39] caozhiyuan commented on #23416
@tmds  code blow:
 List<ArraySegment<byte>> nioBuffers = new List<ArraySegment<byte>>();
                for (int i = 0; i < 4000; i++)
                {
                    nioBuffers.Add(new ArraySegment<byte>(Encoding.UTF8.GetBytes(message)));
                }

                SocketError errorCode;
                long localWrittenBytes = clientSocket.Send(nioBuffers, SocketFlags.None, out er

[2017-09-01 09:40] caozhiyuan commented on #23672
@IvanAntipov  both in windows , no this problem

[2017-09-01 09:45] tmds commented on #23416
@caozhiyuan If you play a little with the `4000`, I think it will work for `1024` (IOV_MAX) and less and fail when higher.

[2017-09-01 09:48] caozhiyuan commented on #23416
@tmds  block socket no this problem. and in windows block and noblock socket both no this problem

https://github.com/dotnet/corefx/issues/23737

[2017-09-01 09:53] tmds commented on #23672
@IvanAntipov Interesting. Can you share the output when running `strace -f -e sendmsg dotnet TestTCP.dll syncnoblock`?

[2017-09-01 09:56] tmds commented on #23416
@caozhiyuan can you find out at what value (instead of `4000`) noblock socket works on Linux?

[2017-09-01 09:56] troncomputers commented on #23678
It is NOT a console app. It's ASP .NET Core web app. Just create a Web Application project with ver. ASP .NET Core 2.0 and add nip24library.dll to reference and try to build/run/compile.
[code]

[2017-09-01 10:00] caozhiyuan commented on #23416
@tmds  344064 bytes

[2017-09-01 10:02] IvanAntipov commented on #23672
@tmds

root@test9:/usr/src/testtcp# strace -f -e sendmsg dotnet TestTCP.dll syncnoblockProcess 16245 attached
Process 16244 attached
Process 16246 attached
Process 16247 attached
Process 16248 attached
Process 16249 attached
ListenSyncSendNoBlock
Process 16250 attached
Process 16251 attached
Bind
Wait
Process 16252 attached
[pid 16251] +++ exited with 0 +++
Process 16253 attached
Send
Process 1625

[2017-09-01 10:03] tmds commented on #23416
[code]
What is the highest value you can put here that works?

[2017-09-01 10:05] weitzhandler commented on #23700
@JonHanna I don't get it, in what is it different than https://source.dot.net/#System.Linq/System/Linq/AnyAll.cs,11, other than using a literal in the exception?

[2017-09-01 10:05] tmds commented on #23672
@IvanAntipov `Send` should have returned `29200` (return value from first sendmsg call). Are you running .NET Core 2.0 release on the Linux machine?

[2017-09-01 10:06] caozhiyuan commented on #23416
@tmds just write a test and run

[2017-09-01 10:10] IvanAntipov commented on #23672
@tmds

Yes, i running .Net Core 2.0

[2017-09-01 10:18] mtf30rob commented on #23646
Crated new issue in wcf repo as requested: https://github.com/dotnet/wcf/issues/2261

[2017-09-01 10:21] GregDomjan commented on #16107
Don't know if this is the right place, but since I found it here while searching.

Issue described by @saurabha5  is still happening in 5.4.0

Within a clean checkout,
`MSBuild.exe /t:restore;build /p:Configuration=Release;AppxBundle=Always;AppxBundlePlatforms="x86|x64"`
builds x86 with appropriate 1.7 dependency,
however x64 is showing 1.4/1.3 dependency
and final bundle fails to be produced due

[2017-09-01 10:27] mikeh688 commented on #20177
is there a specific libcurl version we should be checking for?

[2017-09-01 10:30] tmds commented on #23672
I think we arrive here:
https://github.com/dotnet/corefx/blob/fe0e443ac01ee5a5afefb302b89f1504c3988eda/src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs#L1210-L1220

errorCode is WouldBlock and `0` is returned instead of `bytesTransferred`.

[2017-09-01 10:34] caozhiyuan commented on #23672
@tmds  i debug it on linux , native code return 0

[2017-09-01 10:36] tmds commented on #23672
Summary:
Socket.Send returns `0` instead of the amount of bytes transferred when data is partially sent over a non-blocking socket.

\cc @stephentoub @geoffkizer @karelz

[2017-09-01 10:36] caozhiyuan commented on #23672
@tmds  https://github.com/dotnet/corefx/blob/fe0e443ac01ee5a5afefb302b89f1504c3988eda/src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs#L148

[2017-09-01 11:02] JonHanna opened #23739 "Ctor_ContextType_Name_Container_UserName_Password always fails on CI coverage runs"
A failure along the lines of:

[code]

For the last few runs.

[2017-09-01 11:08] tmds commented on #23672
Minimal repro:
[code]
outputs:
[code]
strace shows:
[code]
The output should have been:
[code]

[2017-09-01 11:15] tmds commented on #23416
Summary:
Socket.Send with List<ArraySegment> fails with MessageSize error when Count is higher than IOV_MAX

\cc @stephentoub @geoffkizer @karelz

[2017-09-01 11:17] tmds commented on #23416
Minimal repro:
[code]
Outputs:
[code]
Expected:
[code]

[2017-09-01 11:21] benaadams commented on #23689
@mjp41 agreed, it needs to be a heap object you can store with a single initialization, rather than span else will be paying invariance check cost multiple times anyway and it wouldn't help.

[2017-09-01 11:25] nietras commented on #13426
This was added in https://github.com/dotnet/corefx/pull/12895 and https://github.com/dotnet/corefx/pull/12446 just for reference.

[2017-09-01 12:32] stephentoub commented on #23416
@tmds, thanks for the summary. What is the bug here?  It sounds like the OS simply doesn't support the operation being tried, and Socket.Send is correctly reporting the EMSGSIZE error provided by the OS.

[2017-09-01 12:38] tmds commented on #23416
@stephentoub The OS behavior is surfacing. I think this will behave the same xplat if we'd `msghdr.msg_iovlen = min(msghdr.msg_iovlen, IOV_MAX)` when calling `sendmsg` and `recvmsg`.

[2017-09-01 12:41] stephentoub commented on #23416
Ah, such that we'll restrict ourselves to the max, and then if the full data wasn't sent, the existing logic would simply retry for whatever remains?  That makes sense.

[2017-09-01 12:42] pasikarkkainen commented on #20669
Hmm.. so what's the status here? Is anyone currently working on the DirectoryServices tests ?

[2017-09-01 12:46] tmds commented on #23416
Exactly! I can do a PR next week if it's up for grabs.

[2017-09-01 12:48] stephentoub commented on #23416
Thanks :)

[2017-09-01 12:48] stephentoub commented on #23416
cc: @geoffkizer

[2017-09-01 12:59] #23737 closed

[2017-09-01 13:08] bartonjs commented on #23738
@mmitche have we changed something about how OSX runs work recently?

[2017-09-01 13:22] stephentoub commented on #23731
@geoffkizer, @Priya91, could one of you take a look?  ClientWebSocket on Linux is just using SslStream, so if there's actually an issue here, it's with SslStream:
https://github.com/dotnet/corefx/blob/a27929935d2782cdc3e7be21653e8c4530274c6f/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs#L91-L100

[2017-09-01 13:45] davidsh commented on #23128
The test in question, Manual_SendClientCertificateWithServerAuthEKUToRemoteServer_Forbidden, is testing a client ssl certificate that has EKU extension "Server Authentication".  In cases where a client ssl certificate has an EKU extension, it must have "Client Authentication" on it as one of the extensions.  Otherwise, this client ssl certificate is not eligible to be sent to a server and should b

[2017-09-01 13:46] kingces95 opened #23741 "Add GenericMethodParameters and GenericMethodArguments to MethodBase"
## Proposed Additions

[code]

As with most Reflection methods, these are defined virtually to allow implementors to override with more efficient versions. CoreRT is well positioned to do this.

## Rationale

### Symmetry

These properties exist on `TypeInfo` (as `GenericTypeArguments` and `GenericTypeParameters`). It is inconsistent for them to be missing on `MethodBase`

With this addition, the

[2017-09-01 13:48] Eccelor commented on #23518
APNs in Apple Push Notification Service. We are using similar code to what @vad3x posted. The code is being used to send a HTTP/2 request to `https://api.development.push.apple.com:443` with TLS1.2 and using p12 client certificate. We can confirm the reproduction.

[2017-09-01 13:54] vad3x commented on #23518
Thanks @eccelor!
I want to mention that this code works well on Linux docker container (the container uses Curl http handler implementation)

[2017-09-01 13:57] AtsushiKan commented on #23741
@MichalStrehovsky

Some initial thoughts:

- I too have been irritated at having to write `GetGenericArguments()` to get a generic method's **parameters**, so I can appreciate this. And we did add `IsConstructedGenericMethod` using this same argument.

- Semantic cleanliness aside though, it is the safer way given CoreCLR and full desktop's annoying inability to represent the generic method defini

[2017-09-01 14:12] ericstj commented on #23678
I believe this is the same as https://github.com/dotnet/sdk/issues/1500, https://github.com/dotnet/core-setup/issues/2981.  It looks like it's already being tracked for a fix in 2.0.1.

[2017-09-01 14:24] stephentoub commented on #23128
Thanks, @davidsh. ManagedHandler is just using SslStream. Doesn't that mean there's an issue here with SslStream? Are similar tests for SslStream passing?

[2017-09-01 14:41] eerhardt commented on #23678
Yes, the error

`InvalidOperationException: Cannot find compilation library location for package 'XXX'`

where `XXX` is an assembly with a direct `<Reference>` in your .csproj is tracked by https://github.com/dotnet/core-setup/issues/2981.  The workaround provided by @pranavkm at https://github.com/pranavkm/fix-ref/commit/1b83ca58ce88f72d4e9ccdeab892afad77a5d295 should solve this issue until we ca

[2017-09-01 14:43] AtsushiKan commented on #23741
Also, all of these apis are actually on `MethodBase`, not `MethodInfo`.

[code]
So maybe these two should go on `MethodBase` too? Who knows, generic constructors might become a thing some day...

[2017-09-01 14:59] JonHanna commented on #23741
It would save having to do a cast just to get to them, and if it required an implementation in `ConstructorInfo` it would be trivial.

[2017-09-01 15:11] kingces95 commented on #23741
IMHO achieving symmetry outweighs the price of duplication. But regardless, in this case, as noted, `GetGenericArguments()` is _not_ a duplicate of `GenericTypeArguments` as the former returns generic arguments on on all types for which `IsGenericType` is true while the latter does the same _except_ when `IsGenericTypeDefinition` is true. Given the difference, some customers may prefer `GenericTyp

[2017-09-01 15:17] AtsushiKan commented on #23741
I'm leaning towards accepting this but I'll leave this open for a week to give others a chance to provide feedback.

[2017-09-01 15:36] ericstj commented on #23699
AFAIK nuget didn't document it /cc @rrelyea .  You can see the code here: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/RuntimeModel/RuntimeGraph.cs, https://github.com/NuGet/NuGet.Client/blob/4be29f39b0d9bb897f914e9607f14c31569239ed/src/NuGet.Core/NuGet.Commands/RestoreCommand/ProjectRestoreCommand.cs#L290-L366.  NuGet will honor a runtime.json in the root of any p

[2017-09-01 15:44] ericstj commented on #23656
(1) Yes, no more APIs to the netstandard ref.  Freezing effectively does this.  If we wanted to be strict we could disable the build and restore the past ref from the package for the ref folder (and harvest it).  That hasn't been the pattern we've followed so far (Microsoft.CSharp) so I didn't do that, but I could implement it: similar to the old `ContractStatus=shipped` we had in TFS.

Can you le

[2017-09-01 16:00] davidsh commented on #23128
It's actually more complicated than that.  Historically SslStream would check that when sending client certs to server.  It would just rely on server doing the "right" thing. In general, the server is only one that care about the client cert.

For Http stack (HttpClientHandler/WinHttpHandler), we want to prune the eligible client certs down because we only try one in the end.  So, we prune down th

[2017-09-01 16:00] mmitche commented on #23738
@bartonjs Nope.

[2017-09-01 16:01] stephentoub commented on #23128
Ah, ok, thanks, so basically the bug here is that we're not using that common helper in the ManagedHandler.

[2017-09-01 16:11] brentschmaltz opened #23742 "WindowsIdentity ctor should pass authType to base"
This constructor passes null to base, should pass authType

https://github.com/dotnet/corefx/blob/master/src/System.Security.Principal.Windows/src/System/Security/Principal/WindowsIdentity.cs#L202

[2017-09-01 16:17] weshaggard commented on #23656
I think that is a good idea to help ensure we don't end up adding APIs accidently.

Removing the placeholders themselves aren't my issue it is the fact we are going to be shipping more implementations in more places and we have to maintain them all. We are also essentially depending even more heavily on the conflict resolution which I worry about. We don't want conflict resolution to become the ne

[2017-09-01 16:23] ericstj opened #23743 "How can we maintain library packages for things that also ship in framework packages?"
See https://github.com/dotnet/corefx/issues/23656, https://github.com/dotnet/corefx/pull/23719#issuecomment-326450314, and https://github.com/dotnet/corefx/commit/75962dae7f338445b57d7d276d018774e1dd2e46.

Whenever we wish to expose portable surface area for a library we must do so through a package. If that library is also *inbox* in the framework the framework will carry an optimized version of

[2017-09-01 16:26] ericstj commented on #23656
We also don't want putting things inbox in .NETCore and UWP to be the same thing as killing those types for future innovation.  I opened https://github.com/dotnet/corefx/issues/23743 with my initial thoughts.  Let's take this discussion over there and define what future work we want to do.

[2017-09-01 16:37] mayconbeserra opened #23745 "System.Net.Http.CurlException: Server returned nothing (no headers, no data)"
Hi there,

I'm getting an error `System.Net.Http.CurlException: Server returned nothing (no headers, no data)`  when calling a https endpoint in .NET Core 1.1.2 only on Docker Container.

Currently, it works on Windows running via Visual Studio, but it doesn't work inside my Linux Container.

**As part of my customer environment, I have to add their CA certificates in our containers but it still d

[2017-09-01 16:41] wfurt commented on #20177
I would start with version coming with OS @mikeh688 . That is what is used to build dotnet.
That would have widest deployment and test coverage.

[2017-09-01 16:48] wfurt commented on #20177
Can you host the VM and give me ssh access @jchannon ? I can load OVF as well but as you pointed out it may need some other service. There are two levels of troubleshooting: first one is to get identical system with debug symbols so we can crack the core files. It needs to match 100% as far used libraries and the application (dotnet). Without it symbols would just be garbage. Second level is abili

[2017-09-01 16:55] stephentoub commented on #23639
https://github.com/dotnet/corefx/pull/23744

[2017-09-01 17:28] joperezr commented on #22713
@weshaggard PR https://github.com/dotnet/corefx/pull/22729 should have fixed this in master.

[2017-09-01 17:31] weshaggard commented on #22713
Don't we also need to update https://github.com/dotnet/corefx/blob/master/pkg/frameworkPackage.targets#L33? @ericstj?

[2017-09-01 17:54] danmosemsft commented on #23734
@AtsushiKan know of any relevant ILC related changes here?

[2017-09-01 17:56] danmosemsft commented on #23742
Looks like this was just copied from desktop.
https://referencesource.microsoft.com/#mscorlib/system/security/principal/windowsidentity.cs,158

I'll let area owner say whether we can fix it..

[2017-09-01 17:56] AtsushiKan commented on #23734
These are newly added tests: https://github.com/dotnet/corefx/pull/23596

[2017-09-01 17:59] wfurt commented on #12034
The point of special types @karelz is ability to perform operations. Distance between A and B to start with  but probably more importantly it would be cool if you can for example pick points within given radius with LINQ.
This can still possibly live outside of core as separate NuGet package.
Use of geographical data is getting increasingly common.

[2017-09-01 18:02] sergiyd commented on #23708
@mellinoe @lextm as I understand T4 is separate utility which is well integrated in VS.
Since Razor is already implemented in NET Core rather "reassign" this topic to https://github.com/aspnet/Razor.
I'm going to try [StringTemplate](https://www.nuget.org/packages/StringTemplate4/4.0.9-beta1) for now.
Thanks!

[2017-09-01 18:16] svick opened #23748 "Don't directly throw Exception"
When looking at https://github.com/Microsoft/dotnet/issues/471, I noticed that the thrown exception is `Exception`, not a type derived from `Exception`.

I think this should not be done and [the Framework Design Guidelines](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/using-standard-exception-types#exception-and-systemexception) agree. Instead, some derived type should be thr

[2017-09-01 18:17] AtsushiKan commented on #23741
I've updated the top post with a more formal proposal.

[2017-09-01 18:19] VSadov commented on #23405
@Petermarcu - see: https://github.com/dotnet/corefx/pull/23512

I did notify the shiproom for 2.0.1, but it was below the bar at that point.
I probably should ping them again to not forget this for 2.0.2

[2017-09-01 18:28] mscrivo commented on #23306
@Sc0tTyXL They didn't move them back to the GAC, they included them with VS 2017 15.3, if you dig in, you'll see where in Program Files they are being pulled from.   But yes, we had to get everyone on our team to upgrade to 15.3 at the same time, including our build machines.

[2017-09-01 18:33] mellinoe opened #23749 "Use string resources in Unix System.Drawing.Common"
The code from mono does not use string resources. We should go through and replace hard-coded strings with resources. Ideally, these resources should be shared with the Windows version where applicable.

[2017-09-01 18:34] mellinoe commented on #21319
I've removed this code.

[2017-09-01 18:34] #21319 closed

[2017-09-01 19:19] davidsh commented on #18850
This issue can be closed now.

The test has already been updated to reflect the final decisions on serialization for .NET Core 2.0.

[code]

[2017-09-01 19:20] #18850 closed

[2017-09-01 19:29] mayconbeserra commented on #23745
@davidsh If I build the image and run in my CI (Ubuntu), I have a different error:

[code]

[2017-09-01 19:36] davidsh commented on #23745
cc: @stephentoub

[2017-09-01 19:58] brentschmaltz commented on #23742
@danmosemsft that would be me, I say we fix it.

[2017-09-01 20:08] davidsh commented on #23702
Can't repro this on my dev machine.

[2017-09-01 20:12] davidsh commented on #23702
I can repro now on my dev machine.

[2017-09-01 20:16] davidsh commented on #23702
This test is failing now because it is running against the "Full Framework".  But for System.Net.Http tests, even running against "Full Framework" means that it should use the OOB System.Net.Http and not the inbox System.Net.Http from the .NET Framework.

Something has changed in how the test binaries are laid out and consumed.  The tests appear to be using the inbox System.Net.Http binary and not

[2017-09-01 20:45] davidsh commented on #23702
cc: @safern

[2017-09-01 20:49] danmosemsft commented on #23742
@bartonjs, @ianhays are down for System.Security.*. Can one of you guys ok?

[2017-09-01 20:50] zokiad commented on #23362
Hi,

You can find the project with test:
[TestSSL.zip](https://github.com/dotnet/corefx/files/1271478/TestSSL.zip)

I test again today, server_name is not defined on Windows but also on Debian.
The test define host to site name (for example: www.google.fr) but call web site with its IP adress.
With framework .net, server_name is define with host defined. But in .net, not.

Windows: Microsoft Windo

[2017-09-01 20:53] joelbraun commented on #17126
I'd really like to use one of the unported items on the thread here, namely
`System.Data.SqlClient.SqlParameter..ctor(System.String, System.Data.SqlDbType, System.Int32, System.Data.ParameterDirection, System.Boolean, System.Byte, System.Byte, System.String, System.Data.DataRowVersion, System.Object)`
but I'd also be willing to help with some of the additional port work as well.

Would it be appro

[2017-09-01 20:58] danmosemsft commented on #17126
@corivera is the area owner, but if you're filling in holes on existing types, I am sure he would welcome such PR's. You can get code from our [reference source](https://github.com/Microsoft/referencesource/blob/master/System.Data/System/Data/SqlClient/SqlParameter.cs#L130). It will need cleanup to coding style, and tests for it.

[2017-09-01 21:06] #23656 closed

[2017-09-01 21:08] danmosemsft opened #23756 "System.IO.FileSystem.Tests failed with stack overflow on UWP"
System.IO.FileSystem.Tests

https://mc.dot.net/#/user/justinvp/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/3163a1c0614fd48a1abcd0f9948ec4c143f537d2/workItem/System.IO.FileSystem.Tests/wilogs

failed with stack overflow in master

[code]
We don't get dumpling for UWP. @safern can you please try looping this test locally?

[2017-09-01 21:08] bartonjs commented on #23742
In what circumstances does the difference matter? And why would we want core to deviate from netfx behavior?

[2017-09-01 21:10] danmosemsft commented on #21920
The 2nd failure is unrelated. It is caued by mount launching, but failing.
[code]

[2017-09-01 21:11] danmosemsft commented on #22953
@JeremyKuhne can you answer whether this is inevitable on desktop or not please?

[2017-09-01 21:14] nemakam commented on #5120
Just raising another request for this feature.

@SidharthNabar, If I get it right, there is currently no way to get websocket client running behind a proxy server in net core?

[2017-09-01 21:18] danmosemsft commented on #22953
I can answer my own question, it doesn't have the fix for #22596

[2017-09-01 21:22] danmosemsft commented on #23605
Hmm even easier repro, just run System.DirectoryServices.AccountManagement.Tests, at least on my machine. Interestingly they fail differently in test runs https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170901.02/workItem/System.DirectoryServices.AccountManagement.Tests