[2017-04-21 09:27] Jiayili1 opened #18724 "EnvelopedCms.Encrypt on Desktop rejects zero length content (unlike Core)"
Failed test: System.Security.Cryptography.Pkcs.EnvelopedCmsTests.Tests.EdgeCasesTests.ZeroLengthContent_RoundTrip

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/26/testReport/System.Security.Cryptography.Pkcs.EnvelopedCmsTests.Tests/EdgeCasesTests/ZeroLengthContent_RoundTrip/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-21 10:36] shimingsg opened #18726 "ConsoleEncoding.InputEncoding_SetWithInInitialized_ResetsIn [FAIL]"
test case failed on Ubuntu 16.04 when COMPlus_GCStress=2:

Exception from RemoteExecutorConsoleApp(System.Console.Tests, Version=4.1.0.0, Culture=neutral, PublicKeyToken=9d77cc7ad39b68eb, ConsoleEncoding+<>c, <InputEncoding_SetWithInInitialized_ResetsIn>b__3_0):
Assembly: System.Console.Tests, Version=4.1.0.0, Culture=neutral, PublicKeyToken=9d77cc7ad39b68eb
Type: ConsoleEncoding+<>c
Method: Int32

[2017-04-21 10:52] vitek-karas commented on #18668
As far as I can tell the app is not completely broken, but part of it won't work for sure (seems to be some kind of telemetry web request it's sending while it fails like this). What I do know for sure is, that on our previous release of .NET Native this failure didn't occur. So from the point of the view of the app, we broke it.
It's a standard UWP app (so targeting Win10). My understanding is th

[2017-04-21 11:08] safern commented on #18595
I'll investigate as this looks like infra issue.

[2017-04-21 11:09] safern commented on #18655
Sounds good. Thanks @JonHanna

[2017-04-21 11:17] jyoungyun commented on #16174
@karelz @gkhanna79 @hqueue I'm trying to build armel nupkg and if all tizen runtime nupkg are uploaded to myget server, we don't have no workaround code. I will ping again after finishing my job.

[2017-04-21 11:49] jnm2 commented on #17917
While we are here, people will run into the exact same situation with all the classes in the framework which implement [`IReadOnlyDictionary`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.ireadonlydictionary-2):

 - [`ConcurrentDictionary`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.concurrent.concurrentdictionary-2)
 - [`ImmutableDictionary`](https://

[2017-04-21 12:36] ektrah commented on #18608
[code]

[2017-04-21 13:54] TylerBrinkley commented on #395
I'd be okay with just the simple case being supported initially and later if it's deemed that support for `NumberStyles` should be added then it can be added to the API pretty easily.

[2017-04-21 14:12] TylerBrinkley commented on #395
I also like the uniformity with the existing `Create` method.

[2017-04-21 14:42] deppe commented on #16636
I downloaded the rhel build from https://dotnetcli.blob.core.windows.net/dotnet/master/Binaries/Latest/dotnet-rhel-x64.latest.tar.gz, but when i run dotnet --version on it, i get 1.0.1. I assume this should be showing `2.0.0-preview1-002053-00` or something similar?

[2017-04-21 15:07] karelz commented on #16636
I believe the --version prints version of the tooling. That is IMO ok to be 1.0.1. The version story is confusing :( -- we are working on de-confusion in the space (see [early doc](https://github.com/bleroy/core-docs/blob/d1c03ad6a86226a882c885bc422202548a8b09df/docs/core/versions/index.md))

[2017-04-21 15:08] gkhanna79 commented on #16174
@jyoungyun Thanks for the update.

[2017-04-21 15:16] agoretsky opened #18733 "why CngKey.Import is not supported on ubuntu?"
Is there any workaround to make this code working?
[code]

[2017-04-21 15:18] tarekgh commented on #18712
@ramarag could you please have a look?

[2017-04-21 15:31] danmosemsft commented on #18474
Great. this assert is gone.

[2017-04-21 15:31] #18474 closed

[2017-04-21 15:32] SergeyKanzhelev commented on #18418
@vancem @lmolkova what do you think? Is random instead of the current algorithm looks reasonable? Or can you allow to define the algorithm/override the id by consumer?

@benaadams - yes, we work on fixing this. Sampling by `User.Id` is also bad as we mix up the notion of anonymous user that may not be the same across all the calls of the distributed transaction and sampling decision.

[2017-04-21 15:34] tarekgh commented on #395
[code]

So I think all what we need is just the following API.

[code]

Note that we don't even need the following APIs. we can have them only for convenience which might be not initially necessary.

[code]

We should clarify the expectation of the numbers would work for integers only (with no signs) and later we can think supporting more complicated cases as needed.

if you all agree, @TylerBrink

[2017-04-21 15:40] danmosemsft commented on #18733
What result do you get?

[2017-04-21 15:42] stephentoub opened #18735 "CreateChain_Hybrid test failed in CI on Unix"
https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_release_prtest/3919/consoleText
[code]

[2017-04-21 15:44] ericstj opened #18736 "Config system should model versionless targetgroups as aliases"
Today these are distinct nodes in the compatibility graph.

As a result `netstandard` isn't considered to be compatible with `netstandard2.0`, nor is `net461` nor `net462`.  This creates a maintainence problem.  We have to *remember* to keep the graph mappings correct.  This means that remapping the versionless targetgroups is not a simple task.

I'd like to fix this by treating the versionless id

[2017-04-21 15:44] #18704 closed

[2017-04-21 15:48] ericstj commented on #18697
The only downside of doing away with IsDesktopFacade is that we lose the ApiCompat check between NETStandard and desktop for these libraries and we have some manual authoring for the ref.  That said, having a ref facade is better since it doesn't duplicate IL bodies in the reference assembly.  It's also more WYSIWYG.

[2017-04-21 15:48] agoretsky commented on #18733
@danmosemsft

[code]
[code]

[2017-04-21 15:51] karelz commented on #18726
@shimingsg are you able to reproduce the failure?
Is it part of some new GCStress effort? Who drives it? (@danmosemsft or Serialization team)

[2017-04-21 15:52] karelz commented on #18726
@ianhays can you please check it out - if it is not product bug / not reproducible, feel free to move it out of 2.0.

[2017-04-21 15:58] bartonjs commented on #18733
CngKey represents direct interop to the Windows CNG libraries (BCrypt.dll and NCrypt.dll), which is not available on non-Windows platforms.  There are not any cross-platform APIs in .NET Core capable of reading a PKCS#8 blob.

[2017-04-21 15:58] TylerBrinkley commented on #395
I just did a quick performance comparison between Ordinal vs Invariant and found that on my machine running under .NET 4.5 Invariant takes around 360% longer to compare than Ordinal. So that's definitely a reason `Ordinal` ought to be allowed.

I'll update the proposal to include just the following APIs

[code]

[2017-04-21 15:59] eerhardt commented on #16636
@karelz is correct.  `dotnet --info` only prints the SDK version, which is something we are addressing in 2.0.

@deppe - you'll want to read through https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md#advanced-scenario---using-a-nightly-build-of-microsoftnetcoreapp (and the section above it) for how to get up and running with 2.0.

You may also run into https://gi

[2017-04-21 16:05] danmosemsft commented on #18726
This may have nothing to do with console but instead the remote infra. Akin to https://github.com/dotnet/corefx/issues/16688. Which @ianhays is also looking at.

What is 134 -- I think seg fault was different -- @stephentoub  can you remind me how to look these up - what header and was some math involved (subtract 127?)

[2017-04-21 16:23] danmosemsft commented on #18733
Where is the exception coming from (I don't see) . we can add a message.

[2017-04-21 16:26] TylerBrinkley commented on #395
@tarekgh I've updated the proposal as requested.

[2017-04-21 16:30] ericstj commented on #18697
Chatted with @weshaggard and he pointed out we still do a netstandard2x (all) -> netfx API compat run.  That will catch any cases where we were missing type-forwards / members.

That seals the deal for me.  I'm removing IsDesktopFacade.

I'm going to look into wether or not I can get GenFacades to produce the ref-facade automatically, similar to the way we do additive type-forwards for Partial-Fac

[2017-04-21 16:40] bartonjs commented on #18733
CngKey (and CngKeyBlobFormat) is in the Cng library, so auto-generated PNSE: https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Cng/src/System.Security.Cryptography.Cng.csproj#L11

So there's not really a place to add a message

[2017-04-21 16:43] stephentoub commented on #18726
134 is typically SIGABRT (subtract 128). Most likely the process crashed with an unhandled exception, hit an assert(...) in a debug build of native code, received a SIGABRT issues by some other process, etc.

[2017-04-21 16:43] bartonjs commented on #18735
This is probably another instance of RSAParameters.Export not producing the right thing... but I haven't heard of that test failing lately.  Weird.

[2017-04-21 16:44] danmosemsft commented on #18733
Oh of course. We could modify GenAPI to add a message that we could define in the project (can't find its sources. @weshaggard ..). I guess `Operations with CNG keys are only supported on Windows platforms.`. That's only marginally better but at least it's a bit friendly for stack overflow.
Perhaps not worthwhile.

[2017-04-21 16:45] weshaggard commented on #18697
Just to be safe can you please test this by excluding some type-forwards in one of your conversions.

[2017-04-21 16:47] deppe commented on #16636
Ok, I'm still getting some errors on restore. Note that my 2.0.0-preview1-002057-00 dotnet installation is in `../dotnet` for all these examples.
[code]

With global.json
[code]

and csproj
[code]

And here's dotnet info.
[code]

Any idea what I'm missing?

[2017-04-21 16:52] weshaggard commented on #18733
The code for GenAPI lives in BuildTools. It would take some work to allow for custom messages for everything but it wouldn't be too difficult to pass a common message for all of them. We would just need to plumb a parameter down into https://github.com/dotnet/buildtools/blob/73d034cddac9ed39af4c3acc4a030cc8598f1006/src/Microsoft.Cci.Extensions/Writers/CSharp/CSDeclarationWriter.Methods.cs#L204.

[2017-04-21 16:54] eerhardt commented on #16636
You are missing the NuGet.config file that gets laid down when you say `dotnet new` using a 2.0 SDK.  Add a file next to your .csproj named `NuGet.config` that looks like this:

[code]

The pre-release packages aren't on nuget.org, so you need to point nuget to our myget feed to get them.

[2017-04-21 17:00] brentschmaltz commented on #18682
@karelz Yes the interface exists. An UnsupportedException is thrown for the same code path as a net451 target. Perhaps I need to make a different call.
at Microsoft.IdentityModel.Tokens.Saml2.Saml2Serializer.ReadNameIdType(XmlDictionaryReader reader) in c:\github\wilsonWsFed\src\Microsoft.IdentityModel.Tokens.Saml\Saml2\Saml2Serializer.cs:line 1063'. ---> System.NotSupportedException: Specified me

[2017-04-21 17:06] danmosemsft commented on #18733
Now I see there are 21 libraries with this property and doing this would improve 100's of PNSE  maybe it 's worth it.

[2017-04-21 17:08] krwq commented on #18682
cc: @shmao

[2017-04-21 17:09] tarekgh commented on #395
Thanks @TylerBrinkley

[2017-04-21 17:13] #18708 closed

[2017-04-21 17:13] #18707 closed

[2017-04-21 17:16] SolderedMushroom commented on #18312
Or you only listened to the feedback from the ones who loudly complained, and not those of us who were thrilled that 10-15 years of legacy mess could be discarded and replaced with something better.

[2017-04-21 17:17] danmosemsft commented on #18726
GCSTress value would flow to the child process. Conceivably it coudl be stress related then. @shimingsg could you please loop this particular test under GCStress and see if yo ucan get a repro?

[2017-04-21 17:18] deppe commented on #16636
Thanks, that fixed it. And the performance definitely improved :+1:

New build:
[code]

1.0.1:
[code]

The one remaining issue (and this was the original reason i opened this ticket) is the fact that Serialize still takes almost 3x the amount of time as Deserialize. This wouldn't necessarily be an issue on its own, but the reason this stuck out to me is that on Windows, Serialize actually takes le

[2017-04-21 17:18] danmosemsft commented on #18726
For future ref @stephentoub is there a handy signal<->code table somewhere? I can't find one.

[2017-04-21 17:19] deppe commented on #16636
Actually, I think the major cause of this performance discrepancy is https://github.com/dotnet/coreclr/issues/10651, so I can just follow that issue for future updates.

[2017-04-21 17:27] #18544 closed

[2017-04-21 17:30] vancem commented on #18418
Here is my suggestion on how to move forward:
There seems to be two issues

1. Making the ID more friendly to bad (but common) hashing.   This can be solved very easily by simply inverting the order used to make the root ID (Basically the thing that is incremented comes before the thing that represents that host/process).    Thus the ID would look like this instead |64e1202c-c0059174-DESKTOP-OJC80

[2017-04-21 17:31] karelz commented on #16636
@deppe can you please check you measure steady state perf properly? (e.g. discarding warm up phase, doing proper data statistics, etc.)
Could you create a test in https://github.com/dotnet/BenchmarkDotNet?

[2017-04-21 17:33] karelz commented on #18682
@shmao can you please provide guidance when you mark something up-for-grabs? What needs to happen?

[2017-04-21 17:50] geleems commented on #14638
UdpClient is used for querying TCP port only when instance name is given in connection string. UdpClient is not even used if a port is specified explicitly in connection string.

I am using Ubuntu 14.04 x64 to reproduce the issue.

The connection strings I used to reproduce the issue are:
* `Data Source=GELEE-VM-WIN10B;Integrated Security=True`
* `Data Source=GELEE-VM-WIN10B\instance1;Integrated S

[2017-04-21 17:50] shmao commented on #18682
@karelz Thanks for the guidance.

[2017-04-21 17:52] mellinoe commented on #18709
This one will have to be disabled on desktop; it validates new behavior after a fix made in .NET Core.

[2017-04-21 17:53] karelz commented on #18682
Sure thing. BTW: I didn't mean to discourage you to mark it up-for-grabs, but it should be accompanied with guidance, such that it is actionable for contributors to pick up and take a stab at it ... Thanks!

[2017-04-21 17:56] krwq commented on #18270
@bartonjs currently this looks like desktop bug related to threading. I started printing more info on my local failure:

This currently fails on:
[code]

telling that key size is invalid. Here are info just before the failure:
[code]

looking at the code, any length between 128-256 should return true.

I get this failure only from time to time on my box. I'll be further digging.

[2017-04-21 18:00] brentschmaltz commented on #18682
@karelz is the support missing?

[2017-04-21 18:02] shiftylogic commented on #17793
Are their scenarios other than the CopyTo scenario where this would be useful?

[2017-04-21 18:04] #15112 closed

[2017-04-21 18:10] niemyjski opened #18745 "Nullable ValueTuple feedback"
I get that this is a weird use case, but it's something the compiler allows me to do and I was even prompted by autocomplete to make my ValueTuple (a struct) nullable...

I was playing around with value tuples and in some cases I needed to return a null value (to say I can't handle it via a plugin). It was at this point autocomplete told me to make it nullable and did so for me. Granted this is th

[2017-04-21 18:11] stephentoub commented on #18726
Only a handful of signals have portable numbers. You can see those in the table here:
https://en.m.wikipedia.org/wiki/Unix_signal
The others are implementing defined, e.g. for Linux see the table in the man page:
http://man7.org/linux/man-pages/man7/signal.7.html

[2017-04-21 18:15] ektrah commented on #17793
@shiftylogic - I'm currently aware of three methods that do some variant of overlap check:

* IsSliceOf (https://github.com/dotnet/corefxlab/issues/827 | https://github.com/dotnet/corefxlab/pull/830)
* Overlaps (https://github.com/dotnet/corefx/issues/17793 | https://github.com/dotnet/corefx/pull/18731)
* SpanHelpers.CopyTo&lt;T&gt; (https://github.com/dotnet/corefx/issues/18608 | https://github.c

[2017-04-21 18:19] shiftylogic commented on #17793
IsSliceOf and Overlaps are effectively the same thing. CopyTo has baked in overlap logic and is the reason I've seen that Overlap is desired.

I'm curious where people would possibly use IsSliceOf / Overlaps within a real world scenario.

[2017-04-21 18:22] shmao commented on #18682
@brentschmaltz the API is  in NetStandard for compilation compatibility purpose. The functionality of the API is not supported on NetCore now. Would you mind sharing the scenario where you use this API with us?

[2017-04-21 18:22] shmao commented on #18682
/cc: @zhenlan @mconnew

[2017-04-21 18:25] bartonjs commented on #18270
https://github.com/dotnet/corefx/commit/207e52e8b851c621e1a8f2cea5002f42192ea1b4 might be a good hint

[2017-04-21 18:28] brentschmaltz commented on #18682
@shamo asp.net takes a dependency on Microsoft.IdentityModel ( https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet ) for OIDC, WsFed, Saml and Jwt support in Katana, We were hoping to extend WsFed support into Asp.Net Core 2.0 and need canonicalization support to validate XML signatures.

[2017-04-21 18:29] ektrah commented on #17793
@shiftylogic - I'm using Overlaps [here](https://github.com/ektrah/nsec/blob/a12d0c6f6102b14c9757d527451199b9aa129976/src/Cryptography/AeadAlgorithm.cs#L92-L93), [here](https://github.com/ektrah/nsec/blob/a12d0c6f6102b14c9757d527451199b9aa129976/src/Cryptography/AeadAlgorithm.cs#L138-L139), [here](https://github.com/ektrah/nsec/blob/a12d0c6f6102b14c9757d527451199b9aa129976/src/Cryptography/AeadAlg

[2017-04-21 18:30] kumpera commented on #17452
Immo,

My concern with this API is that it will be unusable for library authors targeting Xamarin. WE ship what's effectively 6 platforms (desktop, iOS, tvOS, watchOS, Android, 1 console) with more coming this year. Each one come with their own particularities and customization.

Then you add up our large embeders such as Unity that customize both runtime and BCL.

Finally, take into account the v

[2017-04-21 18:32] niemyjski commented on #18745
cc @jcouv

[2017-04-21 18:32] cwe1ss commented on #18418
Some other reasons why the machine name is useless/problematic:

* Azure VM Scale Sets append a 6 digit number to a max 9 digit name - so the machine name might look like MYMACHINE000001... pretty long for a part of the ID in my opinion.
* I hope that one day, you follow Amazon's (X-Ray) and Google's (Stackdriver) lead and add distributed tracing to Azure components like Azure Application Gateway

[2017-04-21 18:33] weshaggard commented on #16912
As part of this we need to audit the IsNetCoreRef=false cases and see if we can exclude any of those from some shared framework for some OS's.  Example https://github.com/dotnet/corefx/pull/18647 we should be able to remove those dependencies on unix now.

[2017-04-21 18:42] SergeyKanzhelev commented on #18418
@vancem computer name considered PII. Exposing it without customer consent is not a permitted. You can argue that every http request already exposes an IP address. But this is most often obfuscated by using load balancers and DMZ servers when http header will not be hidden. Also Activity ID likely will be used bo all sort of tracing mechanisms and storages so everybody will need to implement Activ

[2017-04-21 18:52] jcouv commented on #18745
Issue moved to [dotnet/roslyn #18885](https://github.com/dotnet/roslyn/issues/18885) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-21 18:52] #18745 closed

[2017-04-21 18:53] jcouv commented on #18745
@niemyjski Thanks for the examples. I moved the issue to Roslyn repo and will take a look. In particular, the very last example (`CS1612` on assignment) surprised me too.

[2017-04-21 18:58] danmosemsft commented on #18682
@shmao can you clarify, does this work on .NET Framework?

I didn't have this on any list as it's throwing NotSupportedExceptoin not PlatformNotSupportedExceptoin.

NSE should mean "no platforms support this" for example, the method must always be overridden.

PNSE means "some platforms support this --usually desktop -- but currently this one does not". Those may be filled in in future, or in some

[2017-04-21 19:00] #18567 closed

[2017-04-21 19:02] brentschmaltz commented on #18682
@danmosemsft there is no support in Core. There is support in Desktop.

[2017-04-21 19:06] alexperovich commented on #18649
I don't think we will ever actually "port" the majority of System.Drawing to .net core. We may expose the same API surface with a different implementation at some point but that is not something we could ever get to in time for 2.0

[2017-04-21 19:07] VSadov opened #18747 "Hide or move away from Span the dangerous APIs"
Every time I look through the Span API, the following leaves some bad taste:

[code]

The method is very unsafe, but the only protection is a scary name.
Is it possible to make `length` a `void*` to force that caller uses "unsafe" context to call this method?

The method is here for reference:  https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/Span.cs#L136

Another option i

[2017-04-21 19:07] niemyjski commented on #18745
@jcouv thanks, what's interesting about that too is take a look at the intellisense, it's completely missing subject but data is there.

[2017-04-21 19:08] cwe1ss commented on #18418
Here's some quick research about Trace IDs in existing tracers:

* [Zipkin](https://github.com/openzipkin/b3-propagation/blob/master/README.md): `X-B3-TraceId: 463ac35c9f6413ad48485a3953bb6124`
  * "Trace identifiers are 64 or 128-bit, but all span identifiers within a trace are 64-bit. All identifiers are opaque."
  * https://github.com/openzipkin/zipkin/issues/1262 is the issue about Zipkin movi

[2017-04-21 19:08] VSadov commented on #18747
CC: @jkotas @KrzysztofCwalina @jaredpar

[2017-04-21 19:09] #18668 closed

[2017-04-21 19:10] mellinoe commented on #18649
.NET Core does not support System.Drawing natively, except for the geometric primitives.

There is a "third-party" library for System.Drawing compatibility produced by @qmfrederik. Perhaps he has some more pointers for you. https://github.com/CoreCompat/CoreCompat. I say "third-party" because the code is based on mono's version of System.Drawing.

[2017-04-21 19:13] jkotas commented on #18747
I do think that it is a good design. Instead, we should introduce a custom attribute that will only allow use of the API in unsafe context.

[2017-04-21 19:17] steveharter commented on #12048
Recent jdash failures; test is being disabled on Unix:
[code]

[2017-04-21 19:17] danmosemsft commented on #18682
OK @shmao is there anything else in Serialization code this category -- where we added API in Core but it doesn't have full desktop functionality?

Everything either needs to work, or (if absolutely cannot) throw PNSE (with a nice reason) and not NSE.

@zhenlan

[2017-04-21 19:18] geleems commented on #14638
Another repro test:
* SQL Browser is `off` *intensionally*.
* Connection strings:
  * `Data Source=GELEE-VM-WIN10B;Integrated Security=True`
  * `Data Source=GELEE-VM-WIN10B,1432;Integrated Security=True`
* Repro sample code:
[code]

I could not see any failure in this repro test as well.

[2017-04-21 19:19] jkotas commented on #18747
Also see:

https://github.com/dotnet/coreclr/issues/3143
https://github.com/dotnet/roslyn/issues/8663
https://github.com/dotnet/roslyn-analyzers/issues/972

[2017-04-21 19:23] danmosemsft commented on #18682
My scanning only threw up these, all in XmlSerializer class.

        protected virtual XmlSerializationReader CreateReader() { throw new PlatformNotSupportedException(); }
        protected virtual object Deserialize(XmlSerializationReader reader) { throw new PlatformNotSupportedException(); }
        protected virtual XmlSerializationWriter CreateWriter() { throw new PlatformNotSupportedExceptio

[2017-04-21 19:23] ViktorHofer opened #18749 "Add Directory.CreateDirectory(string, out bool)"
When you want to make sure that a directory exists on a certain path you call `Directory.CreateDirectory(string)` which is great because it also handles creation if it's non-existent. That member call returns a `DirectoryInfo` object but doesn't tell you, whether it already existed or was just created. In scenarios where you want to execute code only if the directory was just created, you have to

[2017-04-21 19:25] danmosemsft commented on #18649
Please let's have 2 issues tracking proposals:
(1) bring back same API as far as possible, with whatever implementation, working cross platform
(2) add equivalent library
They are distinct.

[2017-04-21 19:30] ahsonkhan opened #18750 "API Proposal: Span<T> - find if one span contains another; perhaps IsSliceOf"
From https://github.com/dotnet/corefxlab/issues/827 by @mgravell

A scenario I find myself needing is to see whether one span is a sub-span of another. This test is semantically valid for  both array and pointer spans, and is a related operation to `Slice`

Suggested API:

[code]

where it is:
- `true` if both spans are array-based, for the exact same array, where the inner offet >= outer offset,

[2017-04-21 19:31] mellinoe commented on #18392
I've tried to set up a simple local repro for these scenarios, and I haven't been able to see any of the regressions I see here. @DrewScoggins and I believe that there are too many uncontrolled factors to put much stock into these particular regressions.

[2017-04-21 19:31] #18392 closed

[2017-04-21 19:36] VSadov commented on #18747
I have a feeling that https://github.com/dotnet/roslyn-analyzers/issues/972 will not be implemented before Span ships. Once shipped adding the attribute would be a breaking change.

Also, relying on an optional analyzer as a way to protect type safety and prevent GC holes seem not reliable enough.

I think, since it is right there and so easily discoverable, we need to do something.
The method is

[2017-04-21 19:44] ViktorHofer opened #18752 "Consider bringing back System.Drawing API working cross-plattform"
Consider bringing back System.Drawing API from netfx as identical as possible, working cross-plattform with whatever implementation.

Relates to:
https://github.com/dotnet/corefx/issues/18649
https://github.com/dotnet/corefx/issues/3634
https://github.com/dotnet/corefx/issues/2020
https://github.com/dotnet/corefx/issues/3778

cc: @danmosemsft @akoeplinger @terrajobst

[2017-04-21 19:48] mellinoe opened #18753 "System.Runtime Performance Tests"
This is a tracking issue describing the current performance tests we have in the System.Runtime area, and what coverage is missing. The work items below can be completed independently, and they are all of different priority.

When adding performance tests, please adhere to [the guidelines listed here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/performance-tests.md#addi

[2017-04-21 19:51] akoeplinger commented on #18752
There's https://github.com/CoreCompat/System.Drawing from @qmfrederik which is a port of Mono's System.Drawing to .NET Core already.

[2017-04-21 19:56] jkotas commented on #18747
This problem existed since forever. The framework design pattern used for it is to include Unsafe or Dangerous in the name and make it less discoverable. I agree that it would be nice to have better solution for it.

The unsafe APIs exist for performance reasons. Making them artificially slower by adding dummy arguments is contraproductive. Making them less discoverable sounds find to me. Note tha

[2017-04-21 19:58] shiftylogic commented on #18750
This is almost a direct duplicate of #17793. If we added an Overlaps extension, this would be trivial to implement, but not strictly necessary.

[2017-04-21 20:01] ViktorHofer commented on #18752
Thanks @akoeplinger. Removed the "mono implementation" part from the description. Of course we shouldn't limit the discussion on Mono if there are already ports existing.

[2017-04-21 20:12] qmfrederik commented on #18752
Just to make this clear:
- The latest version of Mono's System.Drawing compiles on .NET Core 2.0, and all unit tests pass
- I package that code as CoreCompat.System.Drawing. There's a netstandard1.x NuGet package on NuGet right now, and I plan to publish one for .NET Core 2.0 once it hits preview (I guess early May?)
- Net, CoreCompat.System.Drawing really is "mono's implementation", packaged for

[2017-04-21 20:14] shmao commented on #18682
`XmlDictionaryReader.EndCanonicalization` was not on our NS2.0 radar as it was already in NetCore since 1.0. I had a look at the desktop implementation of the method. It's not trivial. As we're fully booked by other 2.0 issues, I'm afraid we won't have time to make this into 2.0. But I will change the exception to PNSE.

I'll look at the PNSE thrown from XmlSerializer.

cc: @zhenlan

[2017-04-21 20:16] mellinoe opened #18754 "System.Reflection Performance Tests"
This is a tracking issue describing the current performance tests we have in the System.Reflection area, and what coverage is missing. The work items below can be completed independently, and they are all of different priority.

NOTE: System.Reflection is split across several "contracts", but the majority is actually located and implemented in System.Private.CoreLib / System.Runtime.

## Existing

[2017-04-21 20:19] #18709 closed

[2017-04-21 20:22] qmfrederik commented on #18649
@ZhiqiangTao I'm the package maintainer for CoreCompat.System.Drawing, and it brings Mono's version of System.Drawing to .NET Core.

It has the same API surface. You can use it to load the width, height and other based properties, to resize the image, and so on..., using the same API's you have on full .NET.

Feel free to give it a try, and let me know if it works for you.

[2017-04-21 20:24] JustArchi opened #18755 "Attempt to improve no unobserved task exception being raised when trying to await null task"
My application stopped working after targetting `netcoreapp2.0` while working perfectly fine in `netcoreapp1.1`. While the root cause for that is for another issue, it generated quite interesting scenario that I decided to extract.

Consider following reproducable case:

[code]

As you can see, `await GetNullTask().ConfigureAwait(false);` is trying to await a `Task` that is null. Thing is, nothing

[2017-04-21 20:25] krwq commented on #8601
Not sure if intentionally or not intentionally but fix for this is also solving threading issues around LegalKeySizes. See #18746 for some more info

[2017-04-21 20:25] VSadov commented on #18747
I am not arguing for solving this problem in general, I know the problem exists.

I just think that we are really inviting problems here. It is like having a dangerous API defined right on a common primitive like `System.String`. We usually move that stuff to something like `S.R.CompilerServices` or `S.R.InteropServices` or now to `S.R.CompilerServices.Unsafe`.

I assumed that converting to `void*

[2017-04-21 20:44] zhenlan commented on #18312
To @terrajobst's concern:

A type with [Serializable] does *not* mean it will be serialized by arbitrary serializer. It only tells serializers that support this serialization programming model the intention of the *type*, for example, whether the type should be serialized, what fields should be serialized etc. Besides binary serializer, DCS supports this model. JSON.NET supports this model in [cer

[2017-04-21 20:52] jkotas commented on #18747
Moving it to `S.R.CompilerServices.Unsafe` would mean coupling System.Memory package with it. I do not think that it would work well.

Somewhere near sounds reasonable.

[2017-04-21 21:02] bartonjs commented on #17793
Yep, quite a lot of crypto things are well defined when src==dest and when !src.Overlaps(dest), but completely run off the rails when src == dest+/-1 (&& cbData > 1).

[2017-04-21 21:04] krwq commented on #18143
@bartonjs here is a tiny repro:
[code]

Could you take a look and tell if this sound familiar before I get deeper into this?

[2017-04-21 21:19] Priya91 opened #18756 "Expose ulong value for ProcessThread.Id"
With .NET Core being cross-plat supporting OSX, Linux and Windows, we have to provide accurate APIs that reflect the behavior of underlying OS design. On OSX, the Id of threads is 64 bit unsigned value, whereas in .NET core, the exposed ProcessThread.Id  returns int, hence we truncate the ulong to int by casting, resulting in data loss and incorrect values on OSX.

[code]

[2017-04-21 21:23] JeremyKuhne opened #18759 "Add SafeFileHandle access for IStorageFolder and IStorageFile"
With the Windows 10 Anniversary Update interfaces were added to `IStorageFolder` and `IStorageFile` to create a standard Win32 file handle. ([`IStorageFolderHandleAccess`](https://msdn.microsoft.com/en-us/library/mt765061(v=vs.85).aspx) and [`IStorageItemHandleAccess`](https://msdn.microsoft.com/en-us/library/mt765064(v=vs.85).aspx)) We should expose wrappers for the `Create` methods on these inte

[2017-04-21 21:25] JeremyKuhne commented on #18759
@ianhays, @danmosemsft Fyi

[2017-04-21 21:29] brentschmaltz commented on #18682
@karelz @shmao @Eilon  yes, canonicalization is non trival. This will block WsFed in asp.net core. Asp.Net could still choose to support fed on desktop.

[2017-04-21 21:32] mellinoe commented on #18756
Win32 process ID's are unsigned as well, so the current API doesn't even map cleanly to `Int32` on Windows, unless I'm missing something.

[2017-04-21 21:32] danmosemsft opened #18760 "UWP ILC runs should run in appcontainer"
We get some coverage from UWP CoreCLR runs but some cases have emerged where API in the ILC context needs an app identity. (Plus, it's more realistic anyway)

@AlexGhiondea can you remind me what is required to do this? You mentioned it wasn't too bad.

@DnlHarvey

[2017-04-21 21:33] krwq commented on #18143
Even tinier repro:
[code]

Not sure why is this overflow not detected on desktop - should we wrap this with `checked`?

[2017-04-21 21:34] danmosemsft commented on #18756
Maybe just because Windows never seems to use the high bits. I don't remember seeing a PID above ~2 bytes. I dimly remember a conversation years ago with a kernel dev about how they reused PIDs and there was some reason for it. Anyway the effect seems to be they're low numbers.

[2017-04-21 21:35] danmosemsft commented on #18759
@JeremyKuhne I assume yo'ull point Windows folk at this also

[2017-04-21 21:37] danmosemsft commented on #18682
@shmao here's the full list the analyzer threw up - it tried to find possible transitive PNSE paths leading back to NS2.0 API. Some could be bogus. All on XmlSerializer
[code]

[2017-04-21 21:37] mellinoe commented on #18756
I'm sure we used `Int32` because we've always shied away from using unsigned types in our public API's, even when they more accurately represent the value. Unsigned types are not CLS-compliant, etc.

[2017-04-21 21:40] tannergooding commented on #18756
I don't think returning an `int` vs a `uint` or a `long` vs a `ulong` is a concern, unless someone is assuming negative values are invalid, when they actually are completely valid (although rare).

So, having a `public long RawId { get; }` should also work, provided the same assumptions are met (any value is valid, positive or negative). Users who want the "true" value could just do an unchecked c

[2017-04-21 21:41] ViktorHofer commented on #18752
Hea @qmfrederik, great to hear that! You say you already have a netstandard1x nuget package, would your netcore20 package also be able to target netstandard20?

[2017-04-21 21:42] karelz commented on #18405
BTW: The content/list of differences is now being collected here: https://github.com/dotnet/corefx/wiki/ApiCompat

[2017-04-21 21:42] JeremyKuhne commented on #18759
@danmosemsft I've sent mail- I'll add the GitHub alias(es) once I know them (if they have them).

[2017-04-21 21:44] Priya91 commented on #18756
If the concern on ulong is cls-compliancy, that's not enough justification to accept wrong threadids given that the purpose of the api is to provide the actual thread id. Using long in the API instead of ulong can also be an option to prevent data loss in shortening the long value to int.

[2017-04-21 21:45] karelz commented on #18073
@ianhays can you please look into this one? Let me know if you need help from previous owners.

[2017-04-21 21:47] mellinoe commented on #18756
I don't have any concern about returning a `ulong`; if we add this property then it should be a `ulong`, I believe. I think we've given up on believing that CLS-compliant is useful or interesting. I was just trying to explain the rationale for the original property being an `Int32` rather than the more-correct `UInt32`.

[2017-04-21 21:48] karelz commented on #14745
Looks like there is nothing reasonable we can do in .NET Core. Please let us know if you have evidence otherwise.

[2017-04-21 21:48] #14745 closed

[2017-04-21 21:51] karelz commented on #17218
We do not have actionable information and we believed it is already fixed in 2.0.
Feel free to reopen if you have evidence saying otherwise.

[2017-04-21 21:51] #17218 closed

[2017-04-21 21:53] lmolkova opened #18762 "HttpClient Diagnostics: deprecated events issue"
In PR #16393 we have changed logging (DiagnosticSource) in HttoClient and introduced a new events:
* System.Net.Http.HttpRequestOut.Start
* System.Net.Http.HttpRequestOut.Stop
* System.Net.Http.Exception

We kept events that have been previously fired, but deprecated them:
* System.Net.Http.Request
* System.Net.Http.Response

We also made new and old events **mutually exclusive**.

However there i

[2017-04-21 21:53] VSadov commented on #18747
`S.R.CompilerServices.UnsafeSpanOperations` ?

[2017-04-21 21:53] #13699 closed

[2017-04-21 21:54] Priya91 commented on #16235
Not able to repro this failure, not sure why access is denied is thrown for killing a process. Will try to repro in loop.

[2017-04-21 21:54] tlbdk commented on #14745
@bartonjs thanks for the answer and see your point, but it would be nice if that bullet point list would be added to the documentation as it would save other people the guess work.

[2017-04-21 22:09] qmfrederik commented on #18752
@ViktorHofer Yes, netstandard20 is supported as well.

[2017-04-21 22:12] karelz commented on #14745
Do you have suggestion for the documentation changes? Which pages would you change?
Could you please submit PR (in [dotnet/docs repo](https://github.com/dotnet/docs)) and tag @bartonjs to review your proposed wording? Thanks!

[2017-04-21 22:14] karelz commented on #18682
It is a pity it comes as last minute ask :(, few weeks back we might have still options to do something about, oh well ...
@Eilon how impactful is it on your team?

[2017-04-21 22:14] Priya91 commented on #13146
@devlead With PSI.EnvironmentVariables, duplicate keys cannot be added to the StringDictionary, whereas with PSI.Environment, duplicate keys can be added with last one wins rule. This is the behavior on Desktop and will be on .NET core when this PR merges to master #18467. If you prefer being able to add duplicate keys with last one wins rule, then using PSI.Environment will be the way to go. And

[2017-04-21 22:15] mellinoe opened #18763 "System.Globalization Area Performance Tests"
This is a tracking issue describing the current performance tests we have in the System.Globalization area, and what coverage is missing. The work items below can be completed independently, and they are all of different priority.

NOTE: System.Globalization is spread out over a few of our low-level contracts. I suspect the below list is not exhaustive. If there are additional types that are impor

[2017-04-21 22:15] #13146 closed

[2017-04-21 22:20] gyantal commented on #14638
Thanks for spending time on it.
The good news I can repro it with a simple code.
I am on Ubuntu 14.04 too.
Could you try this? It really gives me the error.
100% reproducible. However, interestingly, the error comes only once; at the first wrong connection opening. (e.g. if you select "2" from the menu many times, only the first time will it produce the error.
You have to restart the app to reprod

[2017-04-21 22:23] tarekgh commented on #16235
Long ago I heard sometimes when trying to kill the process right after creating it may fail with access denied. Also may be the running machine could have antivirus software acting in the failed case.

[2017-04-21 22:24] lmolkova commented on #18762
Another solution could be to use different DiagnosticListeners names so it will be cheaper to check if someone listens to one of them with no-arg `IsEnabled()`

[2017-04-21 22:24] mellinoe opened #18765 "System.Runtime.Extensions Area Performance Tests"
This is a tracking issue describing the current performance tests we have in the System.Runtime.Extensions area, and what coverage is missing. The work items below can be completed independently, and they are all of different priority.

When adding performance tests, please adhere to [the guidelines listed here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/performance-te

[2017-04-21 22:25] yizhang82 commented on #18760
Please don't run them in AppX unless we have to. Let's only run the tests that require AppX (resource, managed WinRT, assembly binding, etc) inside AppX. Running inside AppX has significant cost:
* building AppX package takes time and deployment takes longer
* AppX packages are more difficult to debug
* Launching AppX is not quite reliable
* Communicating logs/error code requires additional plumbi

[2017-04-21 22:28] bartonjs commented on #8601
@krwq Well, this one is for asymmetric, not symmetric.  And the problem now isn't really "threading" so much as "a test tried to prove that we didn't corrupt state, and when it failed, state was corrupted"

[2017-04-21 22:38] sepidehMS commented on #18720
`System.Security.Cryptography.AesCng` doesn't have an implementation on netfx.  ([ApiCompatBaseline](https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Cng/src/ApiCompatBaseline.netfx.txt))
That's also the case for `System.Security.Cryptography.TripleDESCng`.

@safern Do we want to make these tests pass or do we move this to Future?

[2017-04-21 22:43] ptorr-msft commented on #18759
Thanks Jeremy!

[2017-04-21 22:44] bartonjs commented on #18143
The OOM is likely a result of the host model.  If xunit runs as an x86 process it probably can't make the array :smile:.

The netfx side is already under  #18690 (SymmetricAlgorithm.set_Key permits large keys by mistake), so this can be suppressed to that issue.

[2017-04-21 22:49] vancem commented on #18762
Yes, we know about users of the old events get broken if there is also a client using the new events.

The idea was that the tools using the old events should quickly migrate to the new events.

In general to the extent possible our philosophy is to try not to compromise on the future for the sake of the past.   Thus we should be investing effort in upgrading the tools that use the old events rath

[2017-04-21 22:50] safern commented on #18720
This should be done for 2.0 as this is because the facade is missing some typeforwards since this types are available from 4.6.2 so I don't know why the facade is not being generated correctly. Maybe because netfx is targeted against 4.6.1

https://apisof.net/catalog/System.Security.Cryptography.AesCng

cc: @bartonjs @weshaggard

[2017-04-21 22:53] bartonjs commented on #18720
@ianhays Some more types in the Cng package that might be complicating matters :smile:.

@safern / @sepidehMS Are we executing on net461, net462, or net47?  That is: is this a facade problem, an execution environment problem, or both?

[2017-04-21 22:56] lmolkova commented on #18762
That is correct that tools could migrate to the new events, however end users need to update tools version.
And the problem for end user that something just stopped working only because they updated AppInsights version to the latest one. It is not easy to find the root cause.
And while it should be easy to update Glimpse, updating VisualStudio could be much more difficult (however I still hope tha

[2017-04-21 23:00] weshaggard commented on #18720
We currently generate the facades based on net461 which is the challenge here.

[2017-04-21 23:00] JeremyKuhne commented on #18759
@ptorr-msft

[2017-04-21 23:05] sepidehMS commented on #18705
@billwert What kind of exception are you getting? I don't hit any issues with this piece of code.

[2017-04-21 23:09] vancem commented on #18762
If there is enough compatibility pain than we should be looking at fixing it.   However we should have a clear understanding what the impact is, how likely it is to happen, and how easy is it to work around.

[2017-04-21 23:19] shmao commented on #18723
@danmosemsft On Desktop, the fix for DataContractJsonSerializerTests.DCJS_StringAsRoot was made for 4.6.2 (or 4.7). As the test ran on desktop 4.6.1, the test failure is as expected. How do we want to deal with this test in this case?

The failure of DataContractJsonSerializerTests.DCJS_ReadOnlyDictionary is a duplicate of https://github.com/dotnet/corefx/issues/18312.

[2017-04-21 23:57] lmolkova commented on #18418
@SergeyKanzhelev

ApplicationInsights ALREADY report the machine name: `
cloud_RoleInstance
DESKTOP-OJC80DI.europe.corp.microsoft.com`.

[2017-04-22 00:01] svick commented on #18755
I don't see any issue here, or any change between 1.x and 2.0.

`UnobservedTaskException` is raised when a `Task` with unobserved exception is *finalized*. Since you don't trigger GC after the `Task` is forgotten, it doesn't get finalized and so `UnobservedTaskException` is never raised. This has been the behavior since .Net 4.0.

If you manually trigger GC by adding `GC.Collect();` after `Reprodu

[2017-04-22 00:04] #17187 closed

[2017-04-22 00:06] danmosemsft commented on #18723
Ideally you would add a property to PlatformDetection.cs that parses the frameowrk version from RuntimeInformation.FrameworkDescription and then you can use that like `[ConditionalFact(nameof(IsAtLeast426))]`

Or else you could disable entirely like `[SkipOnTargetFramework(TargetFrameworkMonikers.NetFramework, "Implemented in 4.6.2. and Xunit runner currently targets 4.5.2 ")]`

[2017-04-22 00:25] schen381 commented on #11708
@stephentoub Do you remember which version of Windows you used to produce this issue? I want to setup a VM and investigate further.

I think this issue might be caused by this Windows update: https://support.microsoft.com/en-us/help/3178465/ms16-101-security-update-for-windows-authentication-methods-august-9,-2016. It has been re-released to address the issue. I have looked into the code and compa

[2017-04-22 00:26] davidsh commented on #18449
@geoffkizer In general, most HTTP stacks will try to normalize the headers when we send on the wire and that includes things like adjusting spaces as per the RFC rules of *should* and *must* things. The rule in networking is to be "strict in what we send" and "flexible in what we receive/parse". So, the tendency is to do things like this (add the space, etc.).

[2017-04-22 00:27] davidsh commented on #18449
Setting milestone

[2017-04-22 02:44] brentschmaltz commented on #18682
@karelz actually it wasn't a last minute ask. More of a last minute discovery of a missing feature. It was discussed months ago that xml canonicalization was required.

[2017-04-22 03:12] Petermarcu commented on #18682
Wsfed has been a strong ask from customers on core. Unfortunately we all assumes that the ALL being there meant it worked :( We should talk about options.

[2017-04-22 03:21] Petermarcu commented on #18682
@danmosemsft, I assume this didn't show up in our list of PNSE's because it was an NSE? We need to get this added to our list of places where .NET Core may not be .NET Standard compliant. This API is in .NET Standard right?

[2017-04-22 03:33] danmosemsft commented on #18711
`Assembly.GetEntryAssembly()` is returning null on desktop for some resaon.

[2017-04-22 05:50] safern commented on #18720
As Wes said, this is a facade problem as the generation is based on 461, are we planning on moving yo to 462 or 47 any time soon?

[2017-04-22 06:45] cwe1ss opened #18775 "Activity: StopActivity does not yet use the new more precise timestamp on the full framework"
#18651 introduced more precise timestamps for the full .net framework in the new Activity API. However, I think that there's one place missing in [StopActivity](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/DiagnosticSourceActivity.cs#L44)

[code]

@lmolkova @vancem

[2017-04-22 07:25] cwe1ss commented on #18762
Multiple listeners/tracers are a challenge for other reasons as well. Imagine both are calling SetParentId() with different IDs.
AFAIK, there's no good solution for this in OpenTracing yet. By default, it allows only one tracer but there are some concepts about a "TeeTracer" which is an indirection that allows for one main tracer (e.g. Application Insights) and one or more "passive" tracers (e.g.

[2017-04-22 08:42] benaadams commented on #18481
@mattnischan AsyncMethodBuilder is already better in 2.0 https://github.com/dotnet/coreclr/pull/9471 though VaueTask doesn't have these changes; also the code paths are a little more complicated for ValueTask as its a superposition of things.

Few things to watch for:
* how many locals you are using in the `async` function scope as that's a direct driver of the size of the async state machine stru

[2017-04-22 08:44] benaadams commented on #18481
@mattnischan AsyncMethodBuilder is already better in 2.0 https://github.com/dotnet/coreclr/pull/9471 though VaueTask doesn't have these changes; also the code paths are a little more complicated for ValueTask as its a superposition of things.

Few things to watch for:
* how many locals you are using in the `async` function scope as that's a direct driver of the size of the async state machine stru

[2017-04-22 09:02] #18578 closed

[2017-04-22 09:51] mazong1123 opened #18776 "Enable tests for Environment.ExitCode"
Based on this comment(https://github.com/dotnet/coreclr/issues/6206#event-1048947484), [the tests of Environment.ExitCode](https://github.com/dotnet/corefx/blob/0ebc867d6bad9d777dd61afb78d0445c86143b34/src/System.Runtime.Extensions/tests/System/Environment.Exit.cs#L52) should be enabled as the bug has been fixed in CoreCLR.

I'll work on this issue after https://github.com/dotnet/core-setup/issues

[2017-04-22 10:06] benaadams commented on #18481
Wondering if a level of exception handling can be removed to allow inlining of AsyncMethodBuilder.Start https://github.com/dotnet/coreclr/issues/11156

[2017-04-22 10:32] #10897 closed

[2017-04-22 10:32] #10898 closed

[2017-04-22 14:12] martinjt commented on #7570
Would this mean that dotnet core would be able to decompress a file that is created using zlib's pigz implementation http://zlib.net/pigz/ it seems that the current implementation of the GZipStream only decompresses part of the stream if it's compressed using that.

[2017-04-22 14:38] JustArchi commented on #18755
In this case I'm wondering if there is any chance to do something in such case, as if there are no allocations, GC won't kick in and won't handle the exception. Usually this is not a problem as there are more things going on, but in this specific case there is no way to know what happened, as even during debugging it might not be obvious where is the issue, ```GetNullTask()``` could be far more co

[2017-04-22 14:54] svick commented on #18755
How would that code know whether the exception is unobserved? Or do you want a way to get notified of *all* faulting `Task`s?

---

About debugging your specific scenario: wouldn't enabling "break when exception is thrown" help you? Especially since that experience got some nice improvements in VS 2017.

[2017-04-22 14:57] JustArchi commented on #18755
I thought about some middle-man that would await all tasks that are being forgotten, and immediately after they finish, propagate the exception, instead of waiting for GC to collect them.

Either is fine, I just want to have a way of detecting such case without waiting for GC to do the job. I'm pretty sure it'd be useful for far more people, as such things might be unobserved otherwise (like in my

[2017-04-22 15:24] billwert opened #18780 "Types missing [Serializable]"
Based on #18704 I took a quick look at the rest of the .NET Core framework to find types that were marked [Serializable] in the desktop .NET Framework which are not marked so in .NET Core. I looked for 'serializable typename' in issues on CoreFX and CoreCLR and didn't find any hits on these to try and understand if these were known issues or by design and didn't come up with anything. (I also don'

[2017-04-22 15:33] billwert commented on #18705
[code]

[2017-04-22 16:49] stephentoub commented on #18780
Thanks, Bill. Note that while we've tried to keep attribution of enums for consistency, it's not actually necessary.; looks like that's maybe half of the list. For the rest, I'm fairly certain we examined at least some of those cases as part of doing a similar exercise previously, so it'd be interesting to understand if something regressed, if your list has false positives, or we simply missed som

[2017-04-22 18:03] karelz commented on #17522
So it has been a month (again) and I still didn't do it. Sigh. I am sorry! There are just so many important things to do.
I am not trying to dodge it, it will happen. After 2.0 ZBB (May 10 - #17619) the latest - driving 2.0 and all other fires around just take quite a lot of my time lately :(

[2017-04-22 18:08] karelz commented on #17619
FYI if you're not on Twitter:
Here's progress we're making on CoreFX, CoreCLR, core-setup and WCF repos towards 2.0: https://twitter.com/ziki_cz/status/854409726754299904 (as of Tuesday 4/18)

Huge thanks to all contributors who jumped in and actively help us drive the 2.0 bugs!

[2017-04-22 18:21] billwert commented on #18780
Yah, it's not my expectation that all of these are actually bugs. It was easy enough to produce the list.

This is done from metadata on binaries, not source, so hopefully duplication isn't a problem.

Get Outlook for iOS<https://aka.ms/o0ukef>
_____________________________
From: Stephen Toub <notifications@github.com<mailto:notifications@github.com>>
Sent: Saturday, April 22, 2017 9:49 AM
Subject

[2017-04-22 19:16] akraines opened #18782 "Upgrade error from 1.0.1 to 1.1.1: 'FileMode' exists in both 'System.IO.FileSystem.Primitives' and 'System.Runtime, Version=4.2.0.0,"
After updating my project to 1.1.1 the following two lines do not work:
`var d = new FileStream(Path.Combine(PathToFile, $"{fileName}.txt"), FileMode.Open);
 var fs = new StreamReader(d,Encoding.UTF8);`

When I reverted the chane to the csproj file, the error disappeared. What am I doing wrong?

I get the following error:
1. Error	CS0433	The type 'StreamReader' exists in both 'System.IO, Version=4

[2017-04-22 19:52] shaggygi commented on #18012
This is somewhat related, but is more to do with WSL.  I thought I would add as a link if it helps...

https://blogs.msdn.microsoft.com/wsl/2017/04/14/serial-support-on-the-windows-subsystem-for-linux/

Also, Rich Turner mentions SerialPort as one of the currently most features asked as it relates to IoT and such.  You can watch here (around 1:55:30 mark) [Windows Weekly 514: Bash on Windows](http

[2017-04-22 20:01] jkotas commented on #18780
The same is true for delegates. Delegates are serializable by default.

[2017-04-22 20:56] brentschmaltz commented on #18682
@Petermarcu let's not give up yet.

[2017-04-22 22:00] Petermarcu commented on #18682
Oh, I didn't mean to give up. I meant to get this added to the list of gaps we need to find a way to address.

[2017-04-22 22:49] dougbu commented on #10526
@divega has convinced me that we don't need an additional attribute just to support a locale-sensitive `NullDisplayText`. Also sounds like everyone is in agreement merging `[Display]` and `[DisplayFormat]` isn't the way to go.

`DataFormatString` is already as locale-sensitive as the chosen `IFormatProvider`. If you want to change the meaning of the `x` format specifier for an `int` (currently loc

[2017-04-22 23:24] ianhays commented on #7570
From looking at the pigz docs, it appears to be something entirely different from the deflated data stream prepended by a ZLIB header that is being discussed in this issue.

[2017-04-22 23:29] davidsh opened #18784 "WebHeaderCollection needs some internal APIs made public"
While investigating failures in System.Net.Requests tests ( #17842), I discovered that `FtpWebResponse.Headers` and `FileWebResponse.Headers` is returning a `WebHeaderCollection` object that does not have the private field `WebHeaderCollectionType` properly initialized within the collection.

This causes code like this:

[code]

to pass on .NET Core (which is wrong). Instead, it should throw an ex

[2017-04-22 23:31] davidsh commented on #18784
cc: @stephentoub @karelz @CIPop

[2017-04-22 23:46] pgolebiowski commented on #574
I don't like the idea of fixing the priority queue to a binary heap. Have a look at my [AlgoKit wiki page](https://github.com/pgolebiowski/algo-kit/wiki/Heaps) for details. Quick thoughts:

* If we are fixing the implementation to a certain type of a heap, make it a 4-ary heap.
* We shouldn't fix the implementation of the heap, as in some scenarios some types of heaps are more performant than othe

[2017-04-23 01:11] karelz commented on #574
@pgolebiowski Don't forget we are designing easy-to-use-while-pretty-performant API. If you want `PriorityQueue` (which is established computer-science term), you should be able to find one in docs/in search.
If the underlying implementation is heap (which I personally wonder why), or something else, it doesn't matter too much. Assuming you can demonstrate the implementation is measurably better t

[2017-04-23 01:15] Eilon commented on #18682
Sorry not familiar with what scenarios require this. In terms of importance, I think that comes to @vibronet and @blowdart .

[2017-04-23 06:23] benaadams commented on #574
Drop `ICollection`, `IEnumerable`? Just have the generic versions (though generic `IEnumerable<T>` will bring in `IEnumerable`)

@pgolebiowski how its implemented doesn't change the external api. `PriorityQueue` defines the behaviour/contract; whereas a `Heap` is a specific implementation.

[2017-04-23 07:10] ayende commented on #6740
@davidfowl but if I have some unmanged memory, I really want to just pass a span to it rather than cipu to managed array. It isn't allocated on the stack

[2017-04-23 07:42] hughbe commented on #18458
This has been fixed.

[2017-04-23 07:42] #18458 closed

[2017-04-23 08:29] pgolebiowski commented on #574
# Priority queues

OK. A priority queue is an abstract data structure that can be then implemented in *some* way. Of course you can implement it with a data structure different than a heap. But no way is more efficient. As a result:

* **priority queue and heap are often used as synonyms** (see Python doc below as the clearest example of this)
* **whenever you have a "priority queue" support in so

[2017-04-23 12:20] akraines commented on #18782
I found the issue on the corecli repo.
I posted the solution on [stackoverflow](http://stackoverflow.com/questions/43563979/upgrade-error-from-1-1-1-filemode-exists-in-both-system-io-filesystem-primit/43571044#43571044)

[2017-04-23 12:20] #18782 closed

[2017-04-23 13:14] cwe1ss opened #18786 "Activity: Proposal for an easier/more flexible tracer contract"
Since I can't stop thinking about this topic ([see initial discussion](https://github.com/dotnet/corefx/issues/16491)), I'd like to show you a proposal for a IMO more usable Activity system that tries to be a compromise between OpenTracing and what Activity does right now.

/alphabetical cc with people I've seen on related issues: @avanderhoorn @benaadams @Dmitry-Matveev @lmolkova @nbilling  @Serg

[2017-04-23 15:02] davidsh opened #18787 "HttpWebRequest request stream returns different exceptions from Desktop"
The request stream returned from `HttpWebRequest.GetRequestStream` is always a MemoryStream on .NET Core. On .NET Framework, it is a System.Net.ConnectStream (an internal class).

Due to this, there are small behavior difference w.r.t. the exception returned while doing argument checking:

See:
[code]

Discovered while investigating #17842 and related to #11873.

For app-compat, we should consider

[2017-04-23 15:04] davidsh commented on #18787
The specific argument validation done in .NET Framework for ConnectStream is:

[code]

This differs from MemoryStream.

[2017-04-23 15:04] davidsh commented on #18787
cc: @stephentoub @karelz @CIPop

[2017-04-23 15:51] YehudahA commented on #18614
@karelz, What more information do you expect from me?
[I rewrite the first message in this thread]

[2017-04-23 16:42] karelz commented on #18614
@YehudahA your description talks about implementation details. It doesn't talk about scenarios, usage patterns and other key questions I raised above.

Tip & tricks:
* Do not include any implementation details in API proposal, save it for after the API is approved.
* Follow the [API process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md), incl. the f

[2017-04-23 17:03] karelz commented on #574
OK, it was a problem between my keyboard and my chair - `PriorityQueue` is **of course** based on `Heap` -- I was thinking about just `Queue` where it doesn't make sense and forgot that heap is 'sorted' -- very embarrassing thinking-process-outage for someone like me, who loves logic, algorithms, Turing machines, etc., my apologies. (BTW: As soon as I read couple of sentences in your Java docs lin

[2017-04-23 17:05] karelz commented on #574
@pgolebiowski collaborator invite sent - when you accept ping me, I will be able to assign it to you then (GitHub limitations).

[2017-04-23 17:22] shaggygi commented on #18357
And a few more links...

- https://github.com/dotnet/roslyn/issues/159

- https://github.com/dotnet/csharplang/blob/master/proposals/records.md

[2017-04-23 17:48] ernest-morariu opened #18788 "How to check whether the PipeStream has data or not"
In .NET, the pipe API doesn't expose any property the application can use in order to decide whether it's worth involving a Read operation or not.

The other posts on this subject suggest using the async reading and CancellationToken for this. I don't like this very much because the Exception is intended to be used for exceptional cases only. Raising an OperationCancelledException every few millis

[2017-04-23 18:03] jbe2277 opened #18789 "System.Composition (MEF2) resolves a Shared part with cyclic dependencies wrong"
The following code sample shows two types MyController and MyViewModel which have a cyclic dependency to each other (decoupled via the IBaz interface). Both types are Shared. The test code at the bottom gets MyController via IFoo and IBaz export.

I expect that foo and baz reference the same MyController instance because it is shared. Unfortunately, MEF2 creates two instances of MyController. That

[2017-04-23 18:04] karelz commented on #18458
@hughbe where has it been fixed?
Did you try it and it works? (i.e. "Not repro") Or did you find the PR fixing? (can you plz link it then)

[2017-04-23 18:07] karelz commented on #574
@benaadams I would keep `ICollection` (mild preference). For consistency with other d.s. in CoreFX. IMO it is not worth to have one odd beast here ... if we were adding a handful new ones (e.g. PowerCollections even to another repo), we should not include the non-generic ones ... thoughts?

[2017-04-23 18:25] karelz commented on #18776
Assigned to you per your desire to work on it ...

[2017-04-23 18:25] karelz commented on #18780
cc @danmosemsft who was looking on serialization attributes AFAIK ...

[2017-04-23 18:30] pgolebiowski commented on #574
Haha 😄 No worries.

If the decision of the group is to go with `PriorityQueue`, I'll just help with the design and implement this. However, please take into consideration the fact that if we add a `PriorityQueue` now, **it will be messy in the API later to add** `Heap` -- as both behave basically the same. It would be sort of redundancy IMO. This would be a design smell for me. I wouldn't add the

[2017-04-23 18:40] karelz commented on #574
Can you explain more details about why it will be messy later? What are your concerns?
`PriorityQueue` is concept people use. Having a type named that way is useful, right?
I think the logical operations (at least their names) on `Heap` might be different. If they are the same, we can have 2 different implementations of the same code in the worst case (not ideal, but not the end of the world). Or

[2017-04-23 19:29] benaadams commented on #574
Red rag to a bull. Anyone got some other collections to add so we can drop `ICollection`?

Circular/Ring buffer; Generic and Concurrent?

[2017-04-23 19:39] SamuelEnglard commented on #574
@karelz A solution for the naming issue could be something like `IPriorityQueue` like DataFlow does for produce/consumer patterns. Many ways to implement a priority queue and if you don't care about that use the interface. Care about the implementation or are creating an instance use implementing class.

[2017-04-23 19:41] benaadams commented on #18481
Have tried lots of variations; some gains though for increase complexity. I don't know if it can be done in coreclr/fx (short of Jit magic); I think the state machine roslyn generates might need tweaking instead 😢

[2017-04-23 20:08] pgolebiowski commented on #574
From my experience, I find it really important to have an abstraction (`IPriorityQueue` or `IHeap`). Thanks to such an approach a developer can write code that is decoupled. Because it is written against an interface (rather than a specific implementation), there is more flexibility and IoC spirit. It is very easy to write unit tests for such a code (having Dependency Injection one can inject thei

[2017-04-23 20:21] karelz commented on #574
@benaadams each of them has to make it into CoreFX (i.e. it has to be valuable for CoreFX code itself, or it has to be as basic and widely used as the ones we already have) -- we discussed those things lately quite a lot. Still not 100% consensus, but no one is eager to just add more collections into CoreFX.

The most likely outcome (biased claim, because I like the solution) is that we will creat

[2017-04-23 20:37] karelz commented on #574
@pgolebiowski you are slowly convincing me that having `Heap` is better than `PriorityQueue` -- we would just need strong guidance & docs "This is how you do `PriorityQueue` - use `Heap`" ... that could work.

However, I am very hesitant to include more than 1 heap implementation into CoreFX. 98%+ of 'normal' C# developers out there do not care. They don't even want to think which one is best, the

[2017-04-23 20:55] JaedsonBarbosa commented on #16829
Hi guys, you can get a version of that project that works in a UWP app here: https://github.com/JaedsonBarbosa/corefx/tree/BigOptimization/src/System.Security.Cryptography.Xml/UWP

[2017-04-23 21:39] mattnischan opened #18790 "TypeBuilder.CreateTypeInfo() throws COMException instead of a more descriptive managed exception"
With the following code:

[code]

The last line correctly throws, in that the runtime doesn't support a ByRef field. However, it throws a `System.Runtime.InteropServices.COMException`. As far as I can see, there aren't any try/catch blocks around the QCalls into the CLR, so this exception is actually bubbling up through the invoke.

Seems like we should be returning some kind of better named and/o

[2017-04-23 22:01] pgolebiowski commented on #2252
@CyrusNajmabadi @karelz @AlexGhiondea

Code is expressible, self-documented, extendable:

[code]
Any thoughts?

[2017-04-23 22:10] pgolebiowski commented on #3126
@Drawaes Actually, it has happened to me that I needed a concurrent circular buffer once. 😄 What do you guys think about adding it?

- Casual circular buffer would satisfy @karelz -> _"I don't have to write the trivial implementation."_
- Concurrent one would satisfy @SunnyWar -> _"a circular buffer that vastly outperforms the trivial implementation and I'll be 100% behind it."_
- Implementing bot

[2017-04-23 22:15] daxian-dbw opened #18791 "[netcoreapp2.0] For an assembly loaded via 'Assembly.LoadFrom', the assembly it referenced cannot be loaded even if they are in the same folder"
This is a breaking change in behavior compared with full .NET.

**Scenario**
I have libraries `Sample.dll` and `SampleDepend.dll` in the same folder `c:\temp`, and `Sample.dll` depends on `SampleDepend.dll`. In my `test.exe`, I load `Sample.dll` via `Assembly.LoadFrom`, and then invoke a method from `Sample.dll` using reflection, which will trigger the implicit loading of `SampleDepend.dll`.

**Ex

[2017-04-23 22:32] karelz commented on #2252
Where in CoreFX would you use each interface? (esp. the Stable interface)

[2017-04-23 22:40] karelz commented on #3126
Not sure if adding both isn't overkill. The concurrent would be best to come with data as discussed above.

@pgolebiowski if you want to help move .NET Core 2.0 forward where it needs it most, please check our announcement: #17619.

[2017-04-23 22:41] apoorvmalhotra opened #18793 "SqlClient fails to conenct to Sql Server 2014 on Ubuntu 16.04 LTS and CentOS"
When my DotNetCore app running on Dotnet core 1.0.1 tries to connect to Sql Server 2014 (SP2 with Cumulative Update 3 installed), I get the following exception

_System.Data.SqlClient.SqlException: A connection was successfully established with the server, but then an error occurred during the login process. (provider: TCP Provider, error: 35 - An internal exception was caught) ---> System.IO.IOEx

[2017-04-23 22:54] karelz commented on #18791
@AtsushiKan @DnlHarvey this looks like a breaking change against .NET Framework. Is it intentional?
If yes, why? Are there any mitigations/workarounds/guidance? Do we have it officially documented?

[2017-04-23 22:56] karelz commented on #18790
What is the behavior on .NET Framework?

[2017-04-23 23:00] mattnischan commented on #18790
Just tried it out, looks to be the same on Framework.

[2017-04-23 23:28] SamuelEnglard commented on #574
We already (to some degree) have what @pgolebiowski is talking about with `ISet<T>` and `HashSet<T>`. I say just mirror it. So the API above is changed to an interface (`IPriorityQueue<T>`) and then we have an implementation (`HeapPriorityQueue<T>`) which internally uses a heap that may or may not be publicly exposed as it's own class.

[2017-04-24 01:10] danmosemsft opened #18794 "tizen builds fail with parser error"
[code]
https://ci.dot.net/job/dotnet_corefx/job/master/job/tizen_armel_cross_debug_prtest/1511/console

[2017-04-24 01:11] danmosemsft commented on #18794
@parjong @hqueue @hseok-oh @jyoungyun

[2017-04-24 01:15] jahmai commented on #17522
While I understand the competing priorities, I am concerned that you'll "lose the trail" in figuring out what went wrong. People will move on and forget details. Do you yet know who the key people responsible for were involved in the efforts that created the situation yet or is this still in the pre-investigation stage?

[2017-04-24 01:24] hughbe commented on #18458
https://github.com/dotnet/coreclr/pull/11001 linked in the issue fixed the OOM exception and tests were enabled in https://github.com/dotnet/corefx/pull/18587

[2017-04-24 01:27] hseok-oh commented on #18794
https://ci.dot.net/job/dotnet_corefx/job/master/job/tizen_armel_cross_debug_prtest/1511 ~ https://ci.dot.net/job/dotnet_corefx/job/master/job/tizen_armel_cross_debug_prtest/1516 show build fail as same reason.
And https://ci.dot.net/job/dotnet_coreclr/job/master/job/armel_cross_debug_tizen_prtest/1552/ ~ https://ci.dot.net/job/dotnet_coreclr/job/master/job/armel_cross_debug_tizen_prtest/1555/ also

[2017-04-24 01:27] karelz commented on #17522
It is not about people (I won't point fingers, it is not productive). It is about decisions and motivations. The first decisions that lead to the unfortunate state happened before June 2016, the last around October 2016. So waiting couple of more weeks won't really make a difference in tracking it down.

[2017-04-24 01:28] karelz commented on #18458
Great, thanks!

[2017-04-24 01:36] jahmai commented on #17522
That wasn't what I was implying. I meant do you have the right people to talk to or do you have to go fishing and risk ending up in a situation where you can't get the answers because you've waited too long.

My concern is "a couple of more weeks" will turn into a "few more months". It took a long time to fix the issue and there appears to be even less motivation to figure out what went wrong.

[2017-04-24 01:42] hughbe commented on #18790
This is a kind of tricky issue. We have a bunch of different exceptions thrown in CreateTypeInfo. S.R.Emit. E. TypeLoadException, BadImageFormatException, ArgumentException, COMException and InvalidOperationException. At least those are the ones I discovered writing unit tests a while ago. There are more that we can do.

For me, it's not really an issue of what type of exception is thrown - I don'

[2017-04-24 01:59] mattnischan commented on #18790
I agree somewhat, and the message in this case told me mostly what the issue was. But, I only expect to get a COMException when I'm doing interop, and having that pop up here shows an implementation detail that could change, say, if Roslyn were used in some way instead of the QCall.

It's a pretty small thing, but was surprising.

[2017-04-24 02:02] karelz commented on #17522
I have the right people. I talked to them (few months ago). I have to sit down, write it down (in a way to avoid finger pointing, just stating the facts), get it reviewed. Fill in additional gaps in the story I might have missed ... solid day or two of work.

On technical side we already took steps to avoid the problems in future (esp. 2.0):
1. We're talking more about these things.
2. We added De

[2017-04-24 02:18] Drawaes commented on #3126
Non threadsafe circular buffer is a couple of lines so in my opinion not worth an corefx push. But if there is a need for a concurrent one then sure go ahead and add it. Anytime I have needed one the program control is single threaded by that point so the naive simple case (array mod the index) has been all I have looked at.

[2017-04-24 02:21] Jiayili1 opened #18797 "Desktop: System.Runtime.InteropServices.Tests.SafeArrayTypeMismatchExceptionTests.SerializationRoundTrip failed with "Xunit.Sdk.EqualException""
Failed test: System.Runtime.InteropServices.Tests.SafeArrayTypeMismatchExceptionTests.SerializationRoundTrip

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Runtime.InteropServices.Tests/SafeArrayTypeMismatchExceptionTests/SerializationRoundTrip/

Configuration: outerloop_netfx_windows_nt_debug

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 02:29] Jiayili1 commented on #18717
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.IO.Tests/PathTests/GetFullPath_Windows_UNC_Valid_expected_________________UNC____LOCALHOST____shareJ________input_________________UNC____LOCALHOST____shareJ__________/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 02:30] jackzhenguo opened #18798 "IList-Reverse bug"
IList<int> test = new List<int>() {0, 4, 9};
test.Reverse(); //it's failure

[2017-04-24 02:31] Jiayili1 opened #18799 "Desktop: System.IO.Tests.PathTests.GetFullPath_Windows_ValidExtendedPaths failed with "System.ArgumentException""
Failed test: System.IO.Tests.PathTests.GetFullPath_Windows_ValidExtendedPaths

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.IO.Tests/PathTests/GetFullPath_Windows_ValidExtendedPaths_path_________________UNC____server6____share_________/

Configuration: outerloop_netfx_windows_nt_debug

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 02:35] Jiayili1 commented on #18311
This issue is repro on desktop: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Reflection.Tests/AssemblyNameTests/Ctor_String_name____NAME____expectedName____NAME___/

[2017-04-24 02:37] davidsh opened #18800 "HttpWebRequest BeginGetResponse with Abort test has race conditions"
While investigating #17842, I discovered a test that has inherent race conditions (fails all the time on .NET Framework but usually works on .NET Core).

There is a race condition between starting the I/O with BeginGetResponse() and calling Abort().
It is possible that the I/O will have completed async on another thread before the Abort()
even gets called. This means the I/O will be completed and

[2017-04-24 02:38] JasonBock commented on #18798
Works just fine for me:
[code]

[2017-04-24 02:47] Jiayili1 opened #18802 "Desktop: DataContractJsonSerializerTests.DCJS_VerifyDateTimeForFormatStringDCJsonSerSettings failed with "Xunit.Sdk.TrueException""
Failed test: DataContractJsonSerializerTests.DCJS_VerifyDateTimeForFormatStringDCJsonSerSettings

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/(root)/DataContractJsonSerializerTests/DCJS_VerifyDateTimeForFormatStringDCJsonSerSettings/

Configuration: outerloop_netfx_windows_nt_debug

MESSAGE:
[code]
STACK TRACE:
at DataContractJsonSeria

[2017-04-24 02:58] Jiayili1 opened #18803 "Desktop: System.IO.IsolatedStorage.CreateDirectoryTests.CreateDirectory_ThrowsIsolatedStorageException failed with "System.InvalidOperationException""
Failed test: System.IO.IsolatedStorage.CreateDirectoryTests.CreateDirectory_ThrowsIsolatedStorageException

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.IO.IsolatedStorage/CreateDirectoryTests/CreateDirectory_ThrowsIsolatedStorageException/

Configuration: outerloop_netfx_windows_nt_debug

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 03:08] Jiayili1 commented on #18269
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.IO.IsolatedStorage/GetStoreTests/GetEnumerator_NoOp/

[2017-04-24 03:12] jackzhenguo commented on #18798
I declare the t: IList<int>.  IList<int> t = new List<int>{0,4,9};
So try this. Thank you!

[2017-04-24 03:13] jackzhenguo commented on #18798
`IList<int> t = new List<int>{0,4,9}`

[2017-04-24 03:38] danmosemsft commented on #18803
The divergence from desktop would be fixed in Core by removing the `IsDeleted` check here": https://github.com/dotnet/corefx/blob/88c289e553652e2dfb343a169452e18aad959490/src/System.IO.IsolatedStorage/src/System/IO/IsolatedStorage/IsolatedStorageFile.cs#L694
and instead relying on `if (_closed)`.

In Desktop, `IsolatedStorageFile.Delete()` does not call `EnsureStoreIsValid` but the exceptoin comes

[2017-04-24 03:40] danmosemsft commented on #18799
Core allows more "illegal" characters through. The test needs modifying or disabling for Desktop.

[2017-04-24 04:09] AlexGhiondea commented on #18760
@danmosemsft what I meant to say was that we could figure out what needs to happen (since it would be the same thing 'release' builds in VS do).

That being said, I thought I mentioned that the AppX coverage we get from UAP runs (which runs all the tests as AppX) should be enough coverage and the rest of the tests could run using TestILC.

What does that mean -- that the APIs only work from an App

[2017-04-24 04:22] Jiayili1 opened #18805 "Desktop: Tests under "System.Diagnostics.Tracing.Tests.BasicEventSourceTests" failed with "Xunit.Sdk.EqualException""
Failed tests:
 BasicEventSourceTests.TestsWrite.Test_Write_T_EventListener
 BasicEventSourceTests.TestsWrite.Test_Write_T_EventListener_UseEvents
 BasicEventSourceTests.TestsUserErrors.Test_BadEventSource_MismatchedIds

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/BasicEventSourceTests/TestsWrite/Test_Write_T_EventListener/

Configurati

[2017-04-24 04:25] Jiayili1 opened #18806 "Desktop: BasicEventSourceTests.TestsWriteEvent.Test_WriteEvent_Manifest_EventListener failed with "System.InvalidOperationException""
Failed tests:
 BasicEventSourceTests.TestsWriteEvent.Test_WriteEvent_Manifest_EventListener
 BasicEventSourceTests.TestsWriteEvent.Test_WriteEvent_SelfDescribing_EventListener
 BasicEventSourceTests.TestsWriteEvent.Test_WriteEvent_SelfDescribing_EventListener_UseEvents
 BasicEventSourceTests.TestsWriteEvent.Test_WriteEvent_Manifest_EventListener_UseEvents

Detail: https://ci.dot.net/job/dotnet_cor

[2017-04-24 04:28] Jiayili1 opened #18807 "Tests under "System.Diagnostics.Tracing.Tests.BasicEventSourceTests" failed with "System.TypeLoadException""
Failed test: BasicEventSourceTests.TestsManifestNegative.Test_GenerateManifest_InvalidEventSources

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/BasicEventSourceTests/TestsManifestNegative/Test_GenerateManifest_InvalidEventSources/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 04:30] Jiayili1 opened #18808 "Desktop: BasicEventSourceTests.TestsManifestGeneration.Test_EventSource_NamedEventSource failed with "Xunit.Sdk.EqualException""
Failed test: BasicEventSourceTests.TestsManifestGeneration.Test_EventSource_NamedEventSource

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/BasicEventSourceTests/TestsManifestGeneration/Test_EventSource_NamedEventSource/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 04:34] Jiayili1 opened #18809 "Desktop: System.Reflection.Tests.AssemblyTests.LoadFile_NullPath_Netfx_ThrowsNullReferenceException failed with "System.ArgumentNullException""
Failed test: System.Reflection.Tests.AssemblyTests.LoadFile_NullPath_Netfx_ThrowsNullReferenceException

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Reflection.Tests/AssemblyTests/LoadFile_NullPath_Netfx_ThrowsNullReferenceException/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 04:35] danmosemsft commented on #18760
@DnlHarvey should answer that.

[2017-04-24 04:54] gulbanana commented on #17522
1 and 2 are the most important - having recognised that corefx packages are used on netfx and need to be tested on netfx will go a long way to preventing this class of problem. When the answer to "how did this make it to production, did anybody test this" is "no" you're in constant danger!

The approach in #18300 is interesting, but i hope it doesn't become a license to require more and more bindi

[2017-04-24 04:55] Jiayili1 commented on #18476
Another test failed with the same issue, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Security.Cryptography.Rsa.Tests/ImportExport/ImportNoDP/

Failed test: System.Security.Cryptography.Rsa.Tests.ImportExport.ImportNoDP

MESSAGE:
Assert.Throws() Failure
    Expected: typeof(System.Security.Cryptography.CryptographicException)

[2017-04-24 04:59] Jiayili1 opened #18810 "Desktop: System.Xml.Tests.XmlSystemPathResolverTests.TestResolveInvalidPaths failed with "Xunit.Sdk.TrueException""
Failed test: System.Xml.Tests.XmlSystemPathResolverTests.TestResolveInvalidPaths

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Xml.Tests/XmlSystemPathResolverTests/TestResolveInvalidPaths/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 04:59] Jiayili1 commented on #18810
Closed issue: https://github.com/dotnet/corefx/issues/7732

[2017-04-24 05:07] Jiayili1 opened #18811 "Desktop: System.Security.Cryptography.Rsa.Tests.KeyGeneration.GenerateKey_4096 failed with "Xunit.Sdk.EqualException""
Failed test; System.Security.Cryptography.Rsa.Tests.KeyGeneration.GenerateKey_4096

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Security.Cryptography.Rsa.Tests/KeyGeneration/GenerateKey_4096/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 05:09] jcouv commented on #18528
`ValueTuple` is modeled very closely after `Tuple` types. One reason is to enable switching (this is especially important in F#, since it had syntactic sugar for `Tuple` for a while now). So if we change one, we'd have to change both.
And it sounds like it would be beyond those two sets of types (as you have listed a number of other types with the same behavior).
And then there is the question of

[2017-04-24 05:12] Jiayili1 commented on #18542
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.ComponentModel.DataAnnotations.Tests/CompareAttributeTests/Validate_Indexer_ThrowsTargetParameterCountException_Netfx/

[2017-04-24 05:14] safern commented on #18542
@hughbe you worked on this to fix it, don't know why it is failing. Would you mind taking a look?

[2017-04-24 05:29] jcouv commented on #14235
@ericstj I somehow lost track of this. Are we still going to release the mono inbox change from 1.1 branch? Or does this wait and get bundled with upcoming 2.0?

[2017-04-24 05:33] jcouv commented on #16490
Note that the `ITuple` interface (which will be used for some future pattern language feature) can be used for this, although it requires casting from `object`.

[code]

[2017-04-24 06:04] Jiayili1 commented on #18711
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Reflection.Tests/AssemblyTests/GetEntryAssembly/

[2017-04-24 06:10] Jiayili1 opened #18812 "Desktop: System.Xml.Tests.CReaderTestModule.TCMaxSettings failed with "Xunit.Sdk.EqualException""
Failed test: System.Xml.Tests.CReaderTestModule.TCMaxSettings

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Xml.Tests/CReaderTestModule/TCMaxSettings/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 06:10] Jiayili1 commented on #18812
Closed issue: https://github.com/dotnet/corefx/issues/16024

[2017-04-24 06:13] Jiayili1 opened #18813 "Desktop: System.IO.Tests.BinaryReaderTests.Read_InvalidEncoding failed with "Xunit.Sdk.ThrowsException""
Failed test: System.IO.Tests.BinaryReaderTests.Read_InvalidEncoding

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.IO.Tests/BinaryReaderTests/Read_InvalidEncoding/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 06:15] pgolebiowski commented on #2252
I rather thought that users of CoreFX could benefit from this, not the standard library itself (although there might be some appropriate usage -- haven't meditated over that). My though process was that:

* These interfaces provide layers of abstraction that facilitate conceptual explanation of the code. I like .NET very much for its carefully designed API. Writing well-crafted and self-explanator

[2017-04-24 06:15] Jiayili1 commented on #18543
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.IO.Pipes.Tests/NamedPipeTest_CreateServer/Windows_CreateFromAlreadyBoundHandle_Throws_ArgumentException_direction__In_/

[2017-04-24 06:21] Jiayili1 opened #18814 "Desktop: Tests under "System.Security.Claims.ClaimsIdentityTests" failed with "Xunit.Sdk.NullException""
Failed tests:
System.Security.Claims.ClaimsIdentityTests.Ctor_EnumerableClaimAuthNameRoleType_AllEmpty
System.Security.Claims.ClaimsIdentityTests.Ctor_IdentityEnumerableClaimAuthNameRoleType_ClaimsArrayEmptyTypes
System.Security.Claims.ClaimsIdentityTests.Ctor_IdentityEnumerableClaimAuthNameRoleType_IdentityNullRestEmpty
System.Security.Claims.ClaimsIdentityTests.Ctor_AuthenticationType_Blank
Syst

[2017-04-24 06:24] Jiayili1 commented on #18712
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Resources.ResourceWriterTests/ResourceWriterTests/ExceptionforResWriter06/

[2017-04-24 06:32] Jiayili1 opened #18815 "Desktop: System.Security.Permissions.Tests.SecurityElementTest.Attributes_Name_Invalid_MS failed with "System.InvalidCastException""
Failed test: System.Security.Permissions.Tests.SecurityElementTest.Attributes_Name_Invalid_MS

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Security.Permissions.Tests/SecurityElementTest/Attributes_Name_Invalid_MS/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 06:37] Jiayili1 opened #18816 "Desktop: Tests under "System.Security.Permissions.Tests" failed with "System.ArgumentException""
Failed test: System.Security.Permissions.Tests.HostSecurityManagerTests.CallMethods

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Security.Permissions.Tests/HostSecurityManagerTests/CallMethods/

MESSAGE:
[code]
STACK TRACE:
[code]

Failed test: System.Security.Permissions.Tests.PermissionSetTests.PermissionSetCallMethods

Detail

[2017-04-24 06:39] Jiayili1 opened #18817 "Desktop: System.Security.Permissions.Tests.ApplicationTrustTests.ApplicationTrustEnumeratorCallMethods failed with "System.NullReferenceException""
Failed test: System.Security.Permissions.Tests.ApplicationTrustTests.ApplicationTrustEnumeratorCallMethods

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Security.Permissions.Tests/ApplicationTrustTests/ApplicationTrustEnumeratorCallMethods/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 06:48] Jiayili1 commented on #18816
Following tests failed with: System.ArgumentException : Element must be a <IMembershipCondition> element.
 System.Security.Permissions.Tests.MembershipConditionTests.StrongNameMembershipConditionCallMethods
System.Security.Permissions.Tests.MembershipConditionTests.GacMembershipConditionCallMethods
System.Security.Permissions.Tests.MembershipConditionTests.AllMembershipConditionCallMethods
System.

[2017-04-24 06:50] Jiayili1 opened #18818 "Desktop: System.Security.Permissions.Tests.MembershipConditionTests.PublisherMembershipConditionCallMethods failed with "System.Security.Cryptography.CryptographicException""
Failed test: System.Security.Permissions.Tests.MembershipConditionTests.PublisherMembershipConditionCallMethods

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Security.Permissions.Tests/MembershipConditionTests/PublisherMembershipConditionCallMethods/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 06:52] benaadams commented on #574
Should it (`PriorityQueue<T>`) also implement `IList<T>`?

[2017-04-24 06:53] Jiayili1 commented on #18818
Another test failed with the same issue: System.Security.Permissions.Tests.PermissionTests.PublisherIdentityPermissionCallMethods

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Security.Permissions.Tests/PermissionTests/PublisherIdentityPermissionCallMethods/

[2017-04-24 06:55] Jiayili1 commented on #18816
Following tests failed with "System.ArgumentException", but different error messages.
System.Security.Permissions.Tests.PermissionTests.TypeDescriptorPermissionCallMethods
System.Security.Permissions.Tests.PermissionTests.SecurityPermissionCallMethods
System.Security.Permissions.Tests.PermissionTests.SiteIdentityPermissionCallMethods
System.Security.Permissions.Tests.PermissionTests.ZoneIdentityPe

[2017-04-24 06:57] Jiayili1 opened #18819 "Desktop: System.Security.Permissions.Tests.SerializationTests.SerializeDeserialize_Succeeds failed with "System.MemberAccessException""
Failed test: System.Security.Permissions.Tests.SerializationTests.SerializeDeserialize_Succeeds

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Security.Permissions.Tests/SerializationTests/SerializeDeserialize_Succeeds/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 06:59] Jiayili1 opened #18820 "Desktop: System.Security.Permissions.Tests.PolicyTests.PolicyLevelCallMethods failed with "System.Security.Policy.PolicyException""
Failed test: System.Security.Permissions.Tests.PolicyTests.PolicyLevelCallMethods

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Security.Permissions.Tests/PolicyTests/PolicyLevelCallMethods/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 07:02] benaadams commented on #574
Should it (`PriorityQueue<T>`) also implement `IList<T>`?

@karelz my issue with `ICollection` is `SyncRoot` and `IsSynchronized`; either they are implemented which means there is an extra allocation  for the lock object; or they throw when its a bit pointless having them.

[2017-04-24 07:07] pgolebiowski commented on #574
@benaadams This would be misleading. Since 99.99% of implementations of priority queues are heaps based on arrays (and as I can see we are going with one here as well), would it mean exposing access to the internal structure of the array?

Let's say we have a heap with elements 4, 8, 10, 13, 30, 45. Considering the order, they would be accessed by indexes 0, 1, 2, 3, 4, 5. However, the internal st

[2017-04-24 07:13] Jiayili1 opened #18821 "Desktop: System.Tests.GetEnvironmentVariable.InvalidArguments_ThrowsExceptions failed with "Xunit.Sdk.EqualException""
Failed test: System.Tests.GetEnvironmentVariable.InvalidArguments_ThrowsExceptions

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Tests/GetEnvironmentVariable/InvalidArguments_ThrowsExceptions/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 07:19] Jiayili1 commented on #18718
The following tests failed with the same issue on desktop:
 System.Tests.AppDomainTests.MonitoringTotalAllocatedMemorySize
 System.Tests.AppDomainTests.AssemblyLoad
 System.Tests.AppDomainTests.ApplyPolicy
 System.Tests.AppDomainTests.GetData_SetData
 System.Tests.AppDomainTests.FriendlyName
 System.Tests.AppDomainTests.MonitoringSurvivedMemorySize
 System.Tests.AppDomainTests.toString
 System.Tes

[2017-04-24 07:22] Jiayili1 opened #18822 "Desktop: System.Tests.OperatingSystemTests.Ctor_InvalidArgs_Throws failed with "Xunit.Sdk.ThrowsException""
Failed test: System.Tests.OperatingSystemTests.Ctor_InvalidArgs_Throws

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Tests/OperatingSystemTests/Ctor_InvalidArgs_Throws/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 07:25] benaadams commented on #574
`IList<T>` is normally the cheeky workaround for I want be flexible with collections my api accepts, and I want to Enumerate them but don't want to allocate via `IEnumerable<T>`

[2017-04-24 07:40] Jiayili1 opened #18823 "Desktop: System.IO.Tests.PathTests.GetFullPath_Windows_LegacyArgumentExceptionPaths failed with "System.ArgumentException""
Failed test: System.IO.Tests.PathTests.GetFullPath_Windows_LegacyArgumentExceptionPaths

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.IO.Tests/PathTests/GetFullPath_Windows_LegacyArgumentExceptionPaths_path____C_______/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 07:43] benaadams commented on #574
Just realized there is no generic interface for
[code]
So never mind about that 😢

But Reset on Enumerator should be explicitly implemented because its bad and should just throw.

So my suggested changes
[code]

[2017-04-24 07:48] Jiayili1 commented on #18823
Following test failed with the same issue: System.IO.Tests.PathTests.GetFullPath_Windows_URIFormatNotSupported

System.ArgumentException: URI formats are not supported

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.IO.Tests/PathTests/GetFullPath_Windows_URIFormatNotSupported/

[2017-04-24 07:50] Jiayili1 commented on #18715
this test: System.IO.Tests.PathTests.GetFullPath_Windows_NormalizedLongPathTooLong failed with same issue. Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.IO.Tests/PathTests/GetFullPath_Windows_NormalizedLongPathTooLong/

[2017-04-24 07:51] Jiayili1 opened #18825 "Desktop: System.IO.Tests.PathTests.IsPathRooted_Windows_Invalid failed with "Xunit.Sdk.FalseException""
Failed test: System.IO.Tests.PathTests.IsPathRooted_Windows_Invalid

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.IO.Tests/PathTests/IsPathRooted_Windows_Invalid_value__________foo___/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 07:54] Jiayili1 opened #18826 "Desktop: System.IO.Tests.PathTests.GetFullPath_Windows_ValidExtendedPaths failed with "System.NotSupportedException""
Failed test: System.IO.Tests.PathTests.GetFullPath_Windows_ValidExtendedPaths

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.IO.Tests/PathTests/GetFullPath_Windows_ValidExtendedPaths_path_________________C_________/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 07:59] Jiayili1 opened #18827 "Desktop: System.IO.Tests.PathTests.GetFullPath_Windows_Wildcards and System.IO.Tests.PathTests.GetPathRoot_Windows_UncAndExtended failed with "Xunit.Sdk.EqualException""
System.IO.Tests.PathTests.GetFullPath_Windows_Wildcards [FAIL]
MESSAGE:
[code]
STACK TRACE:
[code]
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.IO.Tests/PathTests/GetFullPath_Windows_Wildcards_wildcard______/

System.IO.Tests.PathTests.GetPathRoot_Windows_UncAndExtended [FAIL]
MESSAGE:
[code]
STACK TRACE:
[code]
Detail: https://c

[2017-04-24 08:00] Jiayili1 commented on #18716
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.IO.Tests/PathTests/GetFullPath_Windows_StrangeButLegalPaths/

[2017-04-24 08:04] Jiayili1 opened #18828 "Desktop: System.Runtime.Versioning.Tests.VersioningHelperTests.Test1 failed with "Xunit.Sdk.EqualException""
Failed test: System.Runtime.Versioning.Tests.VersioningHelperTests.Test1

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Runtime.Versioning.Tests/VersioningHelperTests/Test1/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 08:07] Jiayili1 opened #18829 "Desktop: System.Reflection.Tests.AssemblyNameProxyTests.ReferenceMatchesDefinition failed with "Xunit.Sdk.EqualException""
Failed test: System.Reflection.Tests.AssemblyNameProxyTests.ReferenceMatchesDefinition

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Reflection.Tests/AssemblyNameProxyTests/ReferenceMatchesDefinition_a1__mscorlib__Version_4_0_0_0__Culture_neutral__PublicKeyToken_b77a5c561934e089__a2__System_Runtime_Extensions__expected__True_/

M

[2017-04-24 08:17] Jiayili1 opened #18830 "Desktop: Tests under "System.ConfigurationTests.ImplicitMachineConfigTests" failed with "System.Configuration.ConfigurationErrorsException""
Failed tests:
System.ConfigurationTests.ImplicitMachineConfigTests.DesignTimeAppSettingsAccessible
System.ConfigurationTests.ImplicitMachineConfigTests.RuntimeAppSettingsAccessible

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.ConfigurationTests/ImplicitMachineConfigTests/DesignTimeAppSettingsAccessible/

https://ci.dot.net/job/d

[2017-04-24 08:19] seanshpark commented on #18726
I get this failure with debug version (CoreCLR and CoreFX) of AMD64/Linux (while working on x86/Linux and got this same failure)
[code]

">>>" message are that I've added to find out the value
[code]

Although `InputEncoding` is different, `inReader` and `Console.In` returns TRUE with `Object.ReferenceEquals()`. I don't know this is correct or not.
Do anyone know about this?

[2017-04-24 08:25] Jiayili1 commented on #18830
Following tests failed with "System.Configuration.ConfigurationErrorsException ":
MonoTests.System.Configuration.ConfigurationManagerTest.OpenExeConfiguration1_UserLevel_None
MonoTests.System.Configuration.ConfigurationManagerTest.OpenExeConfiguration1_UserLevel_PerUserRoaming
MonoTests.System.Configuration.ConfigurationManagerTest.exePath_UserLevelPerRoamingAndLocal
MonoTests.System.Configuration

[2017-04-24 08:26] Jiayili1 opened #18831 "Desktop: MonoTests.System.Configuration.ConfigurationManagerTest.exePath_UserLevelNone failed with "System.NullReferenceException""
Failed test: MonoTests.System.Configuration.ConfigurationManagerTest.exePath_UserLevelNone

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/MonoTests.System.Configuration/ConfigurationManagerTest/exePath_UserLevelNone/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-24 08:39] KristinXie1 opened #18832 "Desktop: Tests under "System.ConfigurationTests.ApplicationSettingsBaseTests" failed with "System.PlatformNotSupportedException""
Failed tests:
 System.ConfigurationTests.ApplicationSettingsBaseTests.GetSetIntProperty_SimpleSettings_Ok
 System.ConfigurationTests.ApplicationSettingsBaseTests.Context_SimpleSettings_InNotNull
 System.ConfigurationTests.ApplicationSettingsBaseTests.Reload_SimpleSettings_Ok
 System.ConfigurationTests.ApplicationSettingsBaseTests.Providers_SimpleSettings_Empty
 System.ConfigurationTests.Applicatio

[2017-04-24 08:43] Jiayili1 commented on #18655
This issue is repro on desktop: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Linq.Tests/QueryFromExpressionTests/ReturnArray/

[2017-04-24 08:52] shimingsg opened #18834 "WindowAndCursorProps.SetWindowPosition_GetWindowPosition_ReturnsExpected failed"
test case failed on Windows 10 Pro(x64) when COMPlus_GCStress=2:
[code]

[2017-04-24 09:09] Jiayili1 commented on #17920
This issue is repro in build 20170424.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170424.01/workItem/System.Collections.Concurrent.Tests/analysis/xunit/System.Collections.Concurrent.Tests.ConcurrentStackTests~2FManyConcurrentAddsTakes_CollectionRemainsConsistent(operations:%203000000)

[2017-04-24 09:10] benaadams commented on #3126
Generic version

[code]

[2017-04-24 09:12] benaadams commented on #3126
Concurrent version

[code]

[2017-04-24 09:33] Jiayili1 opened #18835 "System.Collections.NonGeneric.Performance.tests failed"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_portablelinux_release/24/testReport/ ---which shows no failures

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_portablelinux_release/24/consoleFull#-15630985984b7730ef-150b-4be7-a00f-82ba6c50792b

Shows "System.Collections.NonGeneric.Performance.tests" failed

[2017-04-24 09:41] Jiayili1 commented on #14673
This issue is repro on build 20170424.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170424.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveSync~2FSendRecvPollSync_TcpListener_Socket(listenAt:%20127.0.0.1,%20pollBeforeOperation:%20False)

[2017-04-24 09:43] davidfowl commented on #18798
This should work:

[code]

- `List<T>.Reverse()` actually mutates the list.
- `IList<T>` doesn't have a `Reverse()` method, you're calling `Enumerable.Reverse()` which returns a reversed `IEnumerable<T>` but doesn't change the underlying list. That's likely what you're running into.

It's a pretty common problem people hit http://stackoverflow.com/questions/12390971/why-there-is-two-completely-dif

[2017-04-24 09:55] svick commented on #18528
How does `ValueTuple` being a value type matter? This issue is not about comparing the tuple with `null`, it's about passing `null` for the `comparer` parameter of `IStructuralEquatable.Equals` (and similar methods).

[2017-04-24 09:56] nietras commented on #18750
@ahsonkhan one might consider reversing this and rename so it would be something like:
[code]
`Contains` might be ambiguous as some might think this just checks if it contains the **values** in question and not the **slice** or memory region. So alternative names could be `ContainsSlice` fx I think these should be extension methods.

@shiftylogic yes this does relate to overlap and I think these n

[2017-04-24 09:57] benaadams commented on #18420
Looks a bit weird though
[code]

[2017-04-24 09:58] benaadams commented on #18420
covariance 😢

[2017-04-24 10:05] sandersaares commented on #17522
I hope you get a task force standing by to pounce on such issues with immediate response time if they keep occurring. Right now I just hit Update in NuGet and suddenly I start getting "Type System.X.Y.Z does not match constraint ABC" style exceptions that I suspect are exactly because of some .NET Core cancer I do not even care about ruining my .NET Framework app.

[2017-04-24 10:10] pgolebiowski commented on #574
Since you're discussing the methods... We haven't yet agreed upon the `IHeap` vs `IPriorityQueue` thingy -- it impacts the names of the methods and the logic a bit. However, either way, I find the current API proposal missing the following:

- Ability to remove a certain element from the queue
- Ability to update the priority of an element
- Ability to merge these structures

These operations are

[2017-04-24 10:15] jyoungyun commented on #18794
@danmosemsft
- period :  4/15 08:00 ~ 4/23 24:00 KST (9days including working day)
During this period, the Tizen server was unstable due to the build infra migration. It seems that there is no problem since it is now returned to normal. :)

[2017-04-24 10:31] hqueue commented on #18794
I also confirm that this is due to server failure of Tizen server and not related to ARM CI for Tizen.
https://lists.tizen.org/pipermail/dev/2017-April/007278.html

Tizen build seems to work well now.

[2017-04-24 10:42] benaadams commented on #574
`IHeapNode` isn't much different than the clr type [KeyValuePair](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Collections/Generic/KeyValuePair.cs#L45-L81)?

However that's then separating the priority and type so now its a `PriorityQueue<TKey, TValue>` with a `IComparer<TKey> comparer`?

[2017-04-24 10:43] stephentoub opened #18836 "Clean build yields 11 warnings about TraceEvent package"
I just did:
[code]
and I get the following warnings as part of the build:
[code]
cc: @weshaggard, @ericstj, @brianrob

[2017-04-24 11:06] pgolebiowski commented on #574
KeyValuePair is not only a struct but its properties are read-only. It would basically equal creating a new object every time the structure is updated.

Using a key only doesn't work with equal keys -- more information is needed to know which element to update / remove.

From [`IHeapNode`](https://github.com/pgolebiowski/algo-kit/blob/master/src/AlgoKit/Collections/Heaps/IHeapNode.cs) and [`ArrayH

[2017-04-24 11:18] benaadams commented on #574
But now every element in the Heap is an additional object; what if I want a PriorityQueue behavior but I don't want these extra allocations?

[2017-04-24 11:29] pgolebiowski commented on #574
Then you would not be able to update / remove elements. It would be a bare implementation not allowing you to implement any algorithm dependent on `DecreaseKey` operation (which is hugely common). For example Dijkstra's algorithm, Prim's algorithm. Or if you're writing some sort of a scheduler and some process (or whatever) has changed its priority, you cannot address that.

[2017-04-24 13:16] jnm2 commented on #18528
@jcouv It's not a number of types. Out of dozens of types, the odd ones out now are ValueTuple, Tuple, and Array, and only when they are accessed via IStructuralEquatable and IStructuralComparable. And it has nothing to do with the value being compared. The BCL convention is for null comparer to indicate the default comparer, for good reasons listed in the original post.

[2017-04-24 13:37] TylerBrinkley commented on #395
Sorry, to bring this up again but I just thought of another option. We could add a `CompareOptions.Logical`  flag member and simply add a `Create` overload instead of introducing `CreateLogical`. We could still later add a `NumberStyles` overload if needed. Any thoughts?

[2017-04-24 13:50] AtsushiKan commented on #18791
This is a question for runtime folks. Reflection doesn't dictate the rules of the binder - it only provides api access to it. CoreCLR has its own assembly binder with different rules from the desktop binder (Fusion.)

[2017-04-24 14:13] brianrob commented on #18836
@drewscoggins, @jorive can you please take a look. This is the test build pulling in multiple versions of traceevent.

[2017-04-24 14:16] mgravell commented on #18750
You need to consider what "index" means, though - if it is the element
index (which would be the most natural), it is possible for 2 spans to
overlap / contain / etc and yet not have any "index" that makes sense -
specifically, if the two spans aren't *aligned* in whole multiples of
sizeof(T). Not a blocker, but definitely something to keep in mind.

On 24 Apr 2017 10:57 a.m., "nietras" <notificat

[2017-04-24 14:48] MovGP0 commented on #18159
@Patrikkk has a very good library called [FunctionalSharp](https://github.com/Patrickkk/FunctionalSharp) that implements Maybe-Monads (Option Types), Discriminated Unions and Pattern Matching. I use it in most of my projects because it is very useful and you might want to check it out before coming up with a new implementation.

[2017-04-24 14:53] karelz commented on #18791
@gkhanna79 who can help answer here? Especially on the decision if it is something intentional vs. compat bug for 2.0.

[2017-04-24 14:57] karelz commented on #17522
@sandersaares .NET Core "cancer" won't affect .NET Framework apps. Whatever we shipped (and broke) on .NET Framework as NuGet packages was because we wanted to deliver additional value to .NET Framework developers.
Our main approach from now on is "*don't ship anything replacing .NET Framework via NuGet, unless we really, really have to*". That will take care of that.

[2017-04-24 14:59] karelz commented on #18794
Looks like it is resolved. Please let me know if I misunderstood or reopen.

[2017-04-24 14:59] #18794 closed

[2017-04-24 15:13] #16745 closed

[2017-04-24 15:46] bartonjs commented on #18721
Looks like we fixed a bug in HashAlgorithm.TransformFinalBlock in corefx.  In netfx TransformFinalBlock doesn't reset the hash state.

Since HashAlgorithm claims CanReuseTransform=true we should be properly resetting the hash state in netfx; though probably via a quirk.

For the tests we need to detect desktop and either not call VerifyTransformBlockHash (https://github.com/dotnet/corefx/blob/b43b

[2017-04-24 15:57] agoretsky commented on #18733
X509Certificate2 has extension method GetECDsaPrivateKey which returns ECDsa - it is appropriate for me and it looks like ECDsa supported on ubuntu.
I have a PEM-encoded, unencrypted PKCS#8 file, which can be inspected with `openssl pkcs8 -nocrypt -in key.p8`. I am not an certificates expert, but maybe it's possible to convert this .p8 file to some format which can be loaded as X509Certificate2, s

[2017-04-24 15:58] tarekgh commented on #18712
@ramarag are you looking at this one?

[2017-04-24 16:08] tarekgh commented on #395
@TylerBrinkley, if we added to CompareOptions we'll have to support this option in all APIs accepting CompareOptions. in the future if we need to support NumberStyles/NFI with this option, that will complicate the APIs taking CompareOptions. Or we can decide to have it in CompareOptions and then we can later add whatever extra params (NumberStyles/NFI) in StringComparer only. I like the later as i

[2017-04-24 16:09] karelz commented on #2252
The key question is: How often people need to choose specific sorting algorithm? 99.9% usages just don't care (assuming it is not horrible algorithm). We need to optimize for those usages - especially around usability, while not stopping the 0.1% case from being possible.

IMO the 0.1% case can search documentation. If something in VS pops it for them (VS itself / opt-in extension), then great! Of

[2017-04-24 16:11] SergeyKanzhelev commented on #18418
@lmolkova it is one thing to store the machine name and show it to the telemetry owner and different thing is to transmit it to the outside world with every HTTP/HTTPS query.

We are doing similar thing with `roleName` for service fabric with the recent Nizar's changes and I'll review this use with our security advisor.

[2017-04-24 16:12] bartonjs commented on #18733
[code]

Then you can load the cert with

[code]

* `pfx` is either the bytes as a `byte[]`, or the filename as a `string`.
* `password` is whatever you chose at the pkcs12 export prompt.  If you left it blank you can use the constructor that just takes one argument.

[2017-04-24 16:13] tmds commented on #14614
RHEL and CentOS system libraries are not updated to avoid unintentional breaking.
dotnet for RHEL is packaged as a software collection, which brings it's own version of libcurl. This is newer than the system version.
I find it appropriate to throw PNSE in this case, since the platform doesn't meet minimal requirements.
It would be nice if we can specify a minimal version of libcurl.

[2017-04-24 16:20] weshaggard commented on #18720
You can actually generate the facades based on those today, just need to add that configuration in the cng project. However we only plan to have the net461 (aka netfx) test runs for this release in our automation so the tests will still need to be properly partitioned.

[2017-04-24 16:30] TylerBrinkley commented on #395
@tarekgh Agreed, if extra params are needed later then they should only be added in `StringComparer`. I like your idea of using `CompareOptions` better now as the proposed API using it is now defined in `StringComparer` as opposed to the `GlobalizationExtensions` class and is therefore more visible.

Something to consider though is that `CompareOptions` maps pretty directly to the `dwCmpFlags` par

[2017-04-24 16:43] JaedsonBarbosa commented on #4278
Hi, now you can use this package in a UWP app, here a sample app: https://github.com/JaedsonBarbosa/corefx/tree/BigOptimization/src/System.Security.Cryptography.Xml/TesteAssinatura

[2017-04-24 16:52] karelz commented on #14614
@tmds can you tell me more about the "*dotnet for RHEL is packaged as software collection*"?
We expose a download without libcurl bundled, so how does it play together with your claim? Are you guys releasing wrappers for our installers on RHEL and CentOS? (please excuse my very limited knowledge about Linux packaging, also will be happy to chat offline if it helps ...)

[2017-04-24 16:53] safern commented on #18720
I see, so netfx target generates the facades against 461 but we can actually add a later build configuration and partition the tests. What do you think @bartonjs, do you want me to take over this, add 462 and partition the tests to be included only when target group == netcoreapp and net462?

[2017-04-24 16:53] karelz commented on #4278
@JaedsonBarbosa great! Is there anything from your work which would be valuable to flow back into CoreFX? (i.e. things which are not temporary hacks)

[2017-04-24 16:56] safern commented on #18655
Marking this as 2.0 per @JonHanna's comments as test can just be disabled for Desktop.

[2017-04-24 16:56] tarekgh commented on #395
We may consider using SORT_DIGITSASNUMBERS if it gave us the desired behavior. this will be better for performance too. so CompareOptions.Logical can map to SORT_DIGITSASNUMBERS. This is implementation details which we can investigate more.

if all agree, we can update the proposal to only

[code]
with adding Logical option to CompareOptions.

[2017-04-24 16:57] JaedsonBarbosa commented on #4278
Well, you can use my project to see what can you simplify (or remove) in the CoreFX 😄

[2017-04-24 17:07] chifton opened #18845 "Could not load file or assembly 'System.Core, version=4.0.0.0' because of the manisfest..."
Hello,

I have an issue using some .Net Core libraries, from France !
I had a .NET 4.5.1 library which I want to use in a new .NET Core project as a Nuget package. The package installed well on the .NET Core project, but when running, it stills wants to load the old assembly .Net Core (I suppose when trying to use Linq methods or collections methods) and I have the following error :
System.IO.File

[2017-04-24 17:08] CIPop commented on #18784
From my experience with the TLS Alerts work, adding new public APIs required by the implementation complicates packaging and may create issues when packaging netstandard 2.0.
/cc @ericstj @weshaggard

[2017-04-24 17:10] jnm2 commented on #395
If you didn't add `StringComparer.LogicalIgnoreCase`, I'd create a `StringComparerEx.LogicalIgnoreCase` for sanity. 😄

[2017-04-24 17:14] TylerBrinkley commented on #395
Will mapping `Logical` to `SORT_DIGITSASNUMBERS` present a problem as it's only available on Windows 7+? Also, for Unix environments is it already supported in the Libraries.GlobalizationInterop dll and where is that source code, see https://github.com/dotnet/coreclr/blob/f355c5789d5d7cd6ea10bee326c66f04641cfc90/src/mscorlib/src/Interop/Unix/System.Globalization.Native/Interop.Collation.cs#L22?

[2017-04-24 17:16] tarekgh commented on #395
coreclr in general doesn't support per-Windows 7. so we should be ok here.

[2017-04-24 17:17] DnlHarvey commented on #18760
Yes we have tests and APIs that only work from an app container. for instance anything that calls into ApplicationData.Current won't succeed.

[2017-04-24 17:20] krwq commented on #18270
Closed with https://github.com/dotnet/corefx/pull/18746

[2017-04-24 17:20] #18270 closed

[2017-04-24 17:20] krwq commented on #18271
Closed with https://github.com/dotnet/corefx/pull/18746

[2017-04-24 17:20] krwq commented on #18197
Closed with https://github.com/dotnet/corefx/pull/18746

[2017-04-24 17:25] krwq opened #18846 "Desktop: System.Security.Cryptography.Rsa.Tests.ImportExport.ImportNoDP failing"
From @Jiayili1 in https://github.com/dotnet/corefx/issues/18476

Another test failed with the same issue, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Security.Cryptography.Rsa.Tests/ImportExport/ImportNoDP/

Failed test: System.Security.Cryptography.Rsa.Tests.ImportExport.ImportNoDP

MESSAGE:
[code]

STACK TRACE:
[code]

[2017-04-24 17:25] krwq commented on #18476
@Jiayili1 this is different test failing - I've created separate issue for this: https://github.com/dotnet/corefx/issues/18846

[2017-04-24 17:25] #18476 closed

[2017-04-24 17:36] TylerBrinkley commented on #395
It looks like the Unix source is located [here](https://github.com/dotnet/coreclr/blob/d0f8481cd42e58013879326871455586a86bec6e/src/corefx/System.Globalization.Native/collation.cpp#L414). It doesn't look like it's currently supported.

Also, does `SORT_DIGITSASNUMBERS` support any UTF-16 digits or just `0-9`?

[2017-04-24 17:37] benaadams opened #18847 "Add ImmutableArray.AsReadOnlySpan()"
Can create a zero copy `ReadOnlySpan` over its internal array; would be a valid approach?

[2017-04-24 17:38] tarekgh commented on #395
we can support it as I know ICU is supporting such functionality.

I'll try to find out.

@TylerBrinkley do you want update the proposal?

[2017-04-24 17:39] sepidehMS commented on #18812
@danmosemsft This failure is due to a behavior change between Desktop and Core, which was caused when removing System.Private.Xml's dependency on Microsoft.Win32. Prior to that change, `XmlReaderSettings` used to read full framework registry keys to decide the default value of entity resolving limit. Default used to be 0 (=unlimited), but is 10 million characters now.
[The user can still override

[2017-04-24 17:46] pgolebiowski commented on #2252
This is true, but if:

- We don't want to change the current implementation of the sorting algorithm (`Array.Sort()`)
- We don't want to add a possibility of custom sorting algorithms as classes
- An extension method stating something like `Sort_GreatBehaviorIfAlmostSorted` hurts the user experience in 99.9% cases, as it pops something they don't care about

Then I'm not sure if we should consider

[2017-04-24 17:49] weshaggard commented on #14235
This will be part of the upcoming 1.1 servicing.

[2017-04-24 17:53] TylerBrinkley commented on #395
If we'd ever want to support `NumberStyles` in the future this would have to be entirely re-implemented in `.NET` with the exact same behavior as `CompareStringEx`. That seems unlikely to ever happen if it's implemented as `SORT_DIGITSASNUMBERS`.

Sure.

[2017-04-24 17:54] danmosemsft commented on #18812
The limit is for security / robustness I assume?
Any feasible way a valid doicument would need a higher limit?

[2017-04-24 17:59] ianhays commented on #16688
The first failure of this type occurred on February 6th. It fails roughly once a week, so I looked at the changes in the history of these tests and the runner in the 2 weeks before that first failure. There are two commits that meet that criteria:

- [Remove versioned configuration from test projects (#15879)](https://github.com/dotnet/corefx/commit/62212cca900081173fce70991c3a0b30393994a3)
- [Ena

[2017-04-24 18:02] karelz commented on #2252
most likely correct, due to AppCompat - these low-level things tend to break people. So any change has to bring the benefits over the bad impact.

What do you mean exactly? Giving it as input to `Array.Sort(ISortingAlgorithm)`?
You can implement your sorting algo classes today, you just cannot inject them into existing APIs today -- the question is: Which APIs? And could it be done differently? (e

[2017-04-24 18:05] tarekgh commented on #395
I double checked Windows behavior and it is supporting the following digits:

[code]

[2017-04-24 18:09] TylerBrinkley commented on #395
@tarekgh Great, thanks. I've updated the proposal to include the following API.

[code]

[2017-04-24 18:10] mellinoe opened #18848 "System.Threading Area Performance Tests"
This is a tracking issue describing the current performance tests we have in the System.Threading area, and what coverage is missing. The work items below can be completed independently, and they are all of different priority.

When adding performance tests, please adhere to [the guidelines listed here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/performance-tests.md#ad

[2017-04-24 18:14] kichalla opened #18849 "Running MusicStore sample on NET461 fails with an exception"
**Repro:**

- Clone https://github.com/aspnet/MusicStore
- Checkout the branch `kichalla/net461`
- cd `samples/MusicStore`
- dotnet restore
- dotnet build
- Run `samples\MusicStore\bin\Debug\net461\MusicStore.exe`

**Expected:**
Application starts successfully and you can make a request successfully to `http://localhost:5000/` to see the home page.

**Actual:**
Application fails to start with an e

[2017-04-24 18:17] tarekgh commented on #395
I  don't think we need to have

[code]

after last proposed change. right?

[2017-04-24 18:18] davidsh opened #18850 "Change exception returned when serializing HttpWebRequest to match NETFX"
Comments from PR #18801:

From @safern "Binary Serialization is now supported on .NET Core 2.0 but it wasn't in 1.1 or 1.0; so probably that is why we were throwing PNSE, so I think the same thing, it sounds reasonable to throw SE."

[code]

[2017-04-24 18:19] sepidehMS commented on #18812
@danmosemsft Lookin at the Desktop code, looks like in from version 4.5.2 this limit was changed to 10 million characters instead of being unlimited. Since the option was given to the user to set this limit to anything needed, I believe there are ways to need higher limit.

[2017-04-24 18:19] davidsh commented on #18850
cc: @danmosemsft @safern

[2017-04-24 18:19] gkhanna79 commented on #18791
@daxian-dbw Please have a look at https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/assemblyloadcontext.md - LaodFrom loads into Default context for .NET Core.

This has never been the design for .NET Core loader (which is where it differs from Desktop byd esign) - only artifacts in app.deps.json are part of the default load context. You will need to wireup to Resolving event

[2017-04-24 18:19] tarekgh commented on #395
I'll keep what you proposed but we need to be clear all StringComparer changes are only there for convenience and discovery.

[2017-04-24 18:20] pgolebiowski commented on #574
In Java the priority queue does not have the option to update elements. Result:

- [Why Java's Priority Queue lacks a Change Priority method?](http://stackoverflow.com/questions/31000664/why-javas-priority-queue-lacks-a-change-priority-method)
- [java priorityQueue update problem](http://stackoverflow.com/questions/4453754/java-priorityqueue-update-problem)
- [PriorityQueue/Heap Update](http://sta

[2017-04-24 18:20] TylerBrinkley commented on #395
Perhaps, not but it could serve as a replacement for

[code]

and is more visible to consumers.

[2017-04-24 18:23] davidsh opened #18851 "Investigate behavior difference with NETFX with HttpWebResponse after closing stream"
Comments from PR #18801

From @stephentoub "Is the response Stream usable in this state in desktop? If so, seems like one we should fix in core."

[code]

[2017-04-24 18:26] steveharter commented on #16534
No repro of original issue ("Authentication failed because the remote party has closed the transport stream.") after re-enabling the tests and running in loop 5,000 times on Windows 10 and 2008r2 (what we call 'win7' in the badges).

[2017-04-24 18:29] karelz commented on #18786
@cwe1ss can you please ping me on my email? (it's on my GH profile)
I tried to send you email on Saturday, but your email address from http://www.chwe.at/about/ bounced back. Thanks!

[2017-04-24 18:29] AtsushiKan commented on #18829
This test is bogus. There are no guarantees as to where a framework type lives. On the desktop, AssemblyNameProxy lives in mscorlib, not System.Runtime.Extensions. Tomorrow, it may live somewhere else.

[2017-04-24 18:30] steveharter commented on #16516
Also no repro after re-enabling the tests and running in loop 5,000 times on Windows 10 and 2008r2

[2017-04-24 18:31] eerhardt opened #18853 "Add DateTime.Now perf tests"
As a follow up to https://github.com/dotnet/corefx/issues/3571, we should have a perf test for this scenario.

/cc @danmosemsft @mellinoe

[2017-04-24 18:31] pgolebiowski commented on #2252
Yes, for example. I meant adding those interfaces and classes I suggested before (`ISortingAlgorithm` + stuff like `TimSort : ISortingAlgorithm`). I think it was the only option not to be overly messy with the API...

That is why I don't believe in adding "a sorting algorithm with good behavior on nearly-sorted inputs". If there is no way to add this functionality in a graceful way, I think we sho

[2017-04-24 18:32] AtsushiKan commented on #18809
This test (and CoreCLR if it's passing this test) should be fixed. ArgumentNullException is the correct exception to throw.

[2017-04-24 18:34] eerhardt commented on #18853
Nevermind, I see this already exists:  https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Runtime/tests/Performance/Perf.DateTime.cs#L12

/cc @Petermarcu - since he was asking about having a perf test for this scenario.

[2017-04-24 18:34] #18853 closed

[2017-04-24 18:34] AtsushiKan commented on #18711
This test has a dependency on the test runner exe being used. It can be tweaked to accomodate the desktop - the real lesson, however, is that some tests just shouldn't be running inside test frameworks.

[2017-04-24 18:34] mellinoe commented on #18853
We do have some tests for `DateTime`, including `Now` and `UtcNow`:

https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/Performance/Perf.DateTime.cs#L12

I filed this issue recently which tracks our overall coverage and how it should be augmented: https://github.com/dotnet/corefx/issues/18763.

By the way, we don't have any "official" performance runs on Linux, so we won't be ab

[2017-04-24 18:39] tmds commented on #14614
@karelz For rhel, we build .net core from source. We consider this a must as part of our long-term support commitment. The outcome is a software collection (scl), which includes dotnet but also dependent libraries such as libcurl. The user 'enables' the software collection, which makes the dotnet binary available and makes uses of the scl specific libraries. The dotnet install procedure for rhel e

[2017-04-24 18:40] huanwu opened #18854 "Add a test to verify using duration as the XmlQualifiedName for TimeSpan"
#18761

[code]

Verify the duration in this code.

[2017-04-24 18:46] AtsushiKan commented on #18710
Might already have been fixed by this: https://github.com/dotnet/corefx/commit/a7822d26a2208f57f21d700ccf0f934c1874fa80

Desktop uses Fusion to parse AssemblyNames - CoreCLR and CoreRT use their own parsers. There are tons of corner cases where an invalid string produces slightly different behaviors. The world won't end if we don't fix these.

[2017-04-24 18:46] ianhays commented on #574
It's fairly unlikely we'll get three new data structures through API review. In most cases, a smaller amount of API is better. We can always add more later if it ends up being insufficient, but we cannot remove API.

That's one of the reasons I'm not a fan of the HeapNode class. Imo that kind of thing should be internal-only and the API should expose an already existing type if at all possible - i

[2017-04-24 18:58] karelz commented on #2252
It would be helpful for further discussion to suggest more complete list of such APIs.

I agree :). Let's see if someone else has ideas we didn't see. Or disagrees strongly with some of the statements/requirements I mentioned above ...

[2017-04-24 18:59] pgolebiowski commented on #574
@ianhays If this is kept internal-only, users would not be able to update priorities of elements in the data structure. This would be pretty much useless and we would end up with all the Java problems -- people re-implementing the data structure that is already in the native library... Sounds bad to me. Far worse than having a simple class representing a node.

BTW: a linked list has a node class

[2017-04-24 19:04] steveharter commented on #13298
Not able to repro on Win10 or Win7 (Win2008r2) running in loop 5,000 times.

Also I don't see any reported failures yet for Windows 10. Only failures on Win7 (Windows 2008r2) and Windows_rt (Win2012).

For reference, here's three reported exception from Windows:
[code]

[2017-04-24 19:07] danmosemsft commented on #18812
Right but that doesn't answer why there is a limit nor why the user might not want one. Maybe @krwq knows.

[2017-04-24 19:16] ianhays commented on #574
That's not necessarily true. The priority could be exposed in a way that doesn't require an additional data structure such that instead of

[code]

you would have e.g.
[code]

I'm not convinced yet on exposing the priority as a type parameter either. Imo the majority of people are going to be using the default priority type and the TValue will be an unnecessary specificity.

[2017-04-24 19:20] danmosemsft commented on #18835
[code]

@mellinoe

[2017-04-24 19:22] danmosemsft commented on #18835
[code]

[2017-04-24 19:23] danmosemsft commented on #18845
@ericstj thoughts?

[2017-04-24 19:23] danmosemsft commented on #18845
@ericstj thoughts?

[2017-04-24 19:25] mababey opened #18858 "clrcompression.dll fails BinSkim checks for stack protection features"
Instances of clrcompression.dll (e.g. by compiling a UWP app against [System.IO.Compression](https://www.nuget.org/packages/runtime.win7-x64.runtime.native.System.IO.Compression) fail security checks in BinSkim.  Microsoft [recommends the use](https://www.microsoft.com/en-us/SDL/adopt/tools.aspx) of BinSkim to ensure binaries are in compliance with SDL requirements and recommendations.

Using the

[2017-04-24 19:26] danmosemsft commented on #18822
There isn't a good reason for preferring AOORE, let's just revert it.

[2017-04-24 19:27] davidsh commented on #18850
@safern @danmosemsft

Do we need to change HttpWebRequest or System.Runtime.Serialization.* code to change that exception? On .NET Framework, the exception seems to surface from Serialization code.

[2017-04-24 19:29] #17842 closed

[2017-04-24 19:30] daxian-dbw commented on #18791
@gkhanna79 thanks for the reply. I read the [code of `Assembly.LoadFrom` implementation](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Reflection/Assembly.CoreCLR.cs#L18) and understand why it behaves this way. But I think it's a bug that should be fixed because it's an unobvious behavior change that is hard to know before actually using this API and found the code broken.

[2017-04-24 19:39] #18143 closed

[2017-04-24 19:49] ericstj commented on #18845
I wouldn't expect that error for a .NETCore project.  We have a System.Core.dll in the shared framework with the same identity (`System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089`).  I've double-checked this in a recent build.  /cc @weshaggard

@chifton please share some more details around how to reproduce your problem if you'd like us to take a closer look.

[2017-04-24 19:49] gkhanna79 commented on #18791
The behavior change is a function of the binder difference between Desktop and .NET Core, which exists by design. There is no concept of binding by paths as well, as a consequence.

I agree with this.

CC @jkotas

[2017-04-24 19:58] mellinoe opened #18862 "System.Net.Sockets Area Performance Tests"
This is a tracking issue describing the current performance tests we have in the System.Net.Sockets area, and what coverage is missing. The work items below can be completed independently, and they are all of different priority.

When adding performance tests, please adhere to [the guidelines listed here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/performance-tests.md#

[2017-04-24 20:03] krwq opened #18863 "HashAlgorithm.TransformFinalBlock doesn't reset the hash state"
This issue is for tracking changes which should be ported to netfx
Related changes: https://github.com/dotnet/corefx/blob/861c91ef4815cc8f525049e83544d0872163f0d3/src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/HashAlgorithm.cs#L87-L96

Related issues: https://github.com/dotnet/corefx/issues/18721

[2017-04-24 20:03] #18863 closed

[2017-04-24 20:08] davidsh opened #18864 "Incomplete HTTP responses behaves different between Core and NETFX"
While investigation #17691, I discovered a test that hangs on .NET Framework.

While the test intended to test a scenario with a "server that slowly returned data", it is testing it in the wrong manner.  Returning an HTTP response with a Content-Length header that is geater than the number of bytes actually being returned will cause a client to wait until all promised bytes are returned. This is h

[2017-04-24 20:10] davidsh commented on #18864
cc: @stephentoub @safern @danmosemsft @CIPop

[2017-04-24 20:16] #18262 closed

[2017-04-24 20:16] #18470 closed

[2017-04-24 20:16] #18472 closed

[2017-04-24 20:16] #18473 closed

[2017-04-24 20:17] karelz commented on #18791
At minimum we should add it here: https://github.com/dotnet/corefx/wiki/ApiCompat

[2017-04-24 20:20] steveharter opened #18869 "System.Net.Tests.HttpRequestStreamTests.Read_FullLengthSynchronous_Success failed in CI"
This test has a ~1% failure rate on windows 2008 when running on an offline CI machine repeatedly in a loop, and has recently failed in CI.

In all cases the detail is as follows (including the test arguments of True, "")
[code]

[2017-04-24 20:24] davidsh opened #18870 "Missing parameter validation for CredentialCache.Add method"
While investigating #17691, discovered that CredentialCache is not doing proper validation with the 'Add' method.

On .NET Core, it allows for DefaultCredentials to be added for auth types such as 'Basic'. On .NET Framework, it throws:

Parameter name: authType
Stack Trace:
at System.Net.CredentialCache.Add(Uri uriPrefix, String authType, NetworkCredential cred)

[2017-04-24 20:24] davidsh commented on #18870
cc: @stephentoub

[2017-04-24 20:26] steveharter commented on #18376
This does repro on offline CI machines, around 1 in 700 runs on Windows 2008.

However the related synchronous test Read_FullLengthSynchronous_Success fails around 1% of the time on 2008. It also only fails for chunked + empty string. Issue for that is https://github.com/dotnet/corefx/issues/18869

[2017-04-24 20:27] krwq commented on #18812
@sepidehMS @danmosemsft the limit is because of this: https://en.wikipedia.org/wiki/Billion_laughs 😉

Limit should be ON by default - for most of the normal XML documents you should not have problems with limits - only really large documents with many xml entities might need to increase or disable it.

[2017-04-24 20:31] pgolebiowski commented on #574
[code]

First -- what is `TKey` and `TValue` in your code? How is that supposed to work? The convention in computer science is that:

- key = priority
- value = whatever you want to store in an element

Second:

Please define "the default priority type". I can feel that you just want to have `PriorityQueue<T>`, is that right? If that is the case, consider the fact that a user will likely have to c

[2017-04-24 20:36] tlbdk commented on #14745
@karelz Had a look at the docs repo and I'm a bit lost on where to put the documentation, it's seems most of the information is in xml/System.Security.Cryptography.X509Certificates/X509Certificate2.xml but I guess this is generated from the sources, so is this the base place to add it?

What I think would be nice in the documentation is to explain that X509Certificate2, SslStream, HttpClient, etc.

[2017-04-24 20:41] billwert commented on #18780
Is there a downside to bringing the consistency even if it isn't required? I wonder if the schism causes any documentation problems If we have types on Desktop and CoreFX that differ in attributes does that cause trouble? (@mairaw). I also wonder if there are other tools etc that depend on this metadata in the ecosystem.

Put differently: How do we describe the upside of these changes (in the plac

[2017-04-24 20:45] danmosemsft commented on #18812
OK, if we don't have evidence that signfiicant folks need a higher limit, I'm OK with shipping 2.0 with our current limit. If we get feedback, we'll add a parameter. Please update the test.

[2017-04-24 20:46] DavidArno commented on #18159
@svick,

Seriously? Have you seen how often folk use `T?` to enable their structs to be `null`? Whilst better coders will enjoy the benefits non-nullable ref types, the vast majority of devs will just spread even more `T?` throughout their code...

[2017-04-24 20:46] jkotas commented on #18780
More unnecessary cruft. However, we have a ton of cruft already, so a tiny bit more won't register on the radar.

[2017-04-24 20:51] JeremyKuhne commented on #18749
One thing to remember is that the directory can be created/removed at *any* time. You could, for example, call `Directory.Exists()` and have the state already be changed by the time you get the result. Given that, really all you're saying is that you successfully called [`CreateDirectory()`](https://msdn.microsoft.com/en-us/library/windows/desktop/aa363855(v=vs.85).aspx)

As such I'm not really su

[2017-04-24 20:53] karelz commented on #18623
@steveharter did this one pop in your test runs? If not, we should move it to Future until we have more hits.

[2017-04-24 20:56] tlbdk opened #18873 "HttpClient (libcurl + SecureTransport) client certificate support (macOS)"
Did a bit of digging on how libcurl with SecureTransport on macOS loads it's client side certificate, and it seems it can be loaded from a file on disk or from a label in keychain.

https://github.com/curl/curl/blob/33cfcfd9f0378625d3bddbd2c8ac5aad4b646f26/lib/vtls/darwinssl.c#L1354

Given how X509Certificate2 does it certificate handling on windows would it be possible to something similar:

Appr

[2017-04-24 20:58] ianhays commented on #574
The item and the priority of the item. You can switch them to be the priority and the item associated with that priority, but then you have a collection in which the TKeys aren't necessarily unique (i.e. allowing duplicate priorities). I'm not against that, but to me TKey *usually* implies uniqueness.

The point is that exposing a Node class is not a requirement to exposing an Update method.

Yes.

[2017-04-24 20:59] svick commented on #574
I think the type should be called `PriorityQueue<T>`, not `Heap<T>`, `ArrayHeap<T>` or even `QuaternaryHeap<T>` to stay consistent with the rest of .Net:

* We have `List<T>`, not `ArrayList<T>`.
* We have `Dictionary<K, V>`, not `HashTable<K, V>`.
* We have `ImmutableList<T>`, not `ImmutableAVLTreeList<T>`.
* We have `Array.Sort()`, not `Array.IntroSort()`.

Users of such types usually don't care

[2017-04-24 21:02] steveharter commented on #7812
I will kick off a test soon and report back tomorrow. A previous mass-run of Http.Functional tests with all ActiveIssue tests disabled was not successful (or trustworthy) due to certain re-enabled tests to cause hangs, thus requiring selective re-enablement of tests going foward.

[2017-04-24 21:03] stephentoub commented on #18780
Yeah, I plan to bring it back to all of these.  I'm just out of the office for a few days and have only had intermittent spurts to work on it amongst other things.  If we subsequently decide to remove [Serializable] from places it's not actually needed, we can do it in one full sweep.

[2017-04-24 21:05] morganbr commented on #18073
I'd think the point of this omission is that we can't build WindowsIdentities or WindowsPrincipals on non-Windows OSes

[2017-04-24 21:06] DavidArno commented on #18159
@svick,

Because, with non-nullable ref types, `FirstOrDefault` won't work ... because it returns `null`. So the return type will be `T?`. Use an `Option<T>` and `T` can remain null-free.

Very rarely in my experience and wrapping robust, null-free code around those weak points isn't that hard.

I disagree. The syntax is as weird as anything else in F# (for folk like me who have spent too many dec

[2017-04-24 21:15] steveharter commented on #16516
Adding test SslStreamStreamToStreamTest_Sync.SslStream_StreamToStream_Successive_ClientWrite_WithZeroBytes_Success as a failure per #18623

[2017-04-24 21:17] steveharter commented on #18623
No it didn't. Marking as dupe of https://github.com/dotnet/corefx/issues/16516

[2017-04-24 21:17] #18623 closed

[2017-04-24 21:20] tlbdk commented on #9728
In most cases what we are trying to do with ServerCertificateCustomValidationCallback is to disable server side certificate validation or overwrite the root certificate handling with custom root certificates, both something that is support on libcurl with SecureTransport.

https://github.com/curl/curl/blob/33cfcfd9f0378625d3bddbd2c8ac5aad4b646f26/lib/vtls/darwinssl.c#L1465

Would it be possible to

[2017-04-24 21:22] Priya91 commented on #16688
@ianhays Could it be the case that the number of open descriptors on the file is exceeded, hence the process is not able to open the remote exe? Also, if it's the case of infrastructure changes, then shouldn't the failure happen consistenly, with the file missing after building the libs..

[2017-04-24 21:23] benaadams commented on #574
In the summary api the compare is provided by the provided comparer `IComparer<T> comparer`, no wrapper is required. Often the priority will be part of the type e.g. a time scheduler will have the execution time as a property of the type.

Using a `KeyValuePair` with a custom `IComparer` adds no extra allocations; though it adds one extra indirection for an update as values need to be compared rat

[2017-04-24 21:26] steveharter commented on #7812
Quick update: this did repro on offline Win2008 CI machine at run #36 so it is likely common. I'll report on overall frequency at 5,000 runs.

[code]

[2017-04-24 21:28] davidsh commented on #7812
This exception:

represents a real bug. This exception should not be leaking thru. We can get this error from WinHTTP, but it is by-design when we do...and we then handle it internally (adusting buffer sizes and retry).

So, it's important we find out exactly where in the code this error is coming from.

[2017-04-24 21:29] Priya91 commented on #9728
@tlbdk I was of the impression that custom validation callbacks are not supported on OSX with SecureTransport. cc @bartonjs

[2017-04-24 21:37] steveharter commented on #13298
Not able to reproduce on offline CI test machine (Win2008 and Win10) running repeatedly

[2017-04-24 21:38] pgolebiowski commented on #574
@svick

I'm losing my faith in humanity.

* Calling a data structure `PriorityQueue` is being consistent with the rest of .NET and calling it `Heap` is not? Something wrong with heaps? Same should apply to stacks and queues then.
* `ArrayHeap` -> base class for `QuaternaryHeap`. Huge difference.
* The discussion is not a matter of picking up a cool name. There is a whole lot of stuff coming as a c

[2017-04-24 21:39] jcouv commented on #18528
Thanks for the clarification. I'll follow up this week with @stephentoub and @AlexGhiondea to come to a decision for `Tuple` and `ValueTuple`, for corefx and desktop.

[2017-04-24 21:42] VSadov commented on #18493
I think th eold behavior was very broken around extending this type and the constructor was indeed marked Obsolete.
I think the possibility of actually breaking some meaningful scenario here is very low.

[2017-04-24 21:42] krwq commented on #18721
Fixed with https://github.com/dotnet/corefx/pull/18865

[2017-04-24 21:42] #18721 closed

[2017-04-24 21:44] jcouv commented on #17116
@OmarTawfik I suspect this can be closed (coreCLR and mscorlib/desktop are done, and type-forwards were added).

[2017-04-24 21:48] karelz commented on #18376
So there is repro and the Jenkins CI frequency is 1/week so far - keeping it in 2.0 for now.

[2017-04-24 21:52] #18480 closed

[2017-04-24 21:55] OmarTawfik commented on #17116
@jcouv  I'll wait for nightly build to do one more verification.

[2017-04-24 21:55] tlbdk commented on #9728
@priya91 they are not when using the default system libcurl, but disabling server certificate validation and using a custom root ca list is, libcurl exposes API for this.

[2017-04-24 21:59] svick commented on #574
@pgolebiowski

Yes, it describes the implementation, not usage.

Neither really describes the implementation, for example the name does not tell you they are array-based.

Yes, I understand your design. What I'm saying is none of this should be exposed to the user.

I did read the thread. I don't think that design belongs to the BCL. I think it should contain something that is simple to use and un

[2017-04-24 21:59] mellinoe commented on #16675
I'll take a look at these.

[2017-04-24 22:02] pgolebiowski commented on #574
@ianhays

Keys -- thingies used to do the prioritization. Keys don't have to be unique. We cannot make such an assumption.

I believe it is: [Decrease-key/Increase-key support in native libraries](http://stackoverflow.com/questions/19757445/decrease-key-increase-key-support-in-native-libraries). Also on this topic, so there are helper classes involved for dealing with data structures:

* [`LinkedL

[2017-04-24 22:03] safern commented on #574
IMO I like the idea of having an `IHeap`intereface and then the class API implementing that interface. I'm with @ianhays' on this that we are not going to expose 3 new apis to provide different kind of heaps to the customers as there would need to be a API Review process and we would like to focus on `PriorityQueue`no matter what the name is.

Second I think there is no need of having a Node inter

[2017-04-24 22:11] benaadams commented on #574
The names are what they do, not how they do it.

They are named after the abstract concepts and what they achieve for the user, rather than their implementation and how they achieve it. (Which also means their implementation can be improved to use a different implementation if that proves better)

`Stack` is a  unbounded resizing array and `Queue` is implemented as an unbounded resizing circular b

[2017-04-24 22:12] ebickle commented on #574
Lots of great discussion!

The original specification was designed with a few core principles in mind:
- General purpose - Cover most use cases with a balance between CPU and Memory consumption.
- Align, as much as possible, with the existing patterns and conventions in System.Collections.Generic.
- Allow multiple entries of the same element.
- Utilize the existing BCL comparison interfaces and cl

[2017-04-24 22:15] safern commented on #18850
Currently HttpWebRequest is throwing the PNSE, which makes sense for 1.1 and 1.0 as serialization was not supported. So if SE is being thrown from System.Runtime.Serialization code that means that we are missing to support HttpWebRequest to be serializable. Should we instead port the capability of HttpWebRequest being serializable to .NET Core?

[2017-04-24 22:17] ianhays commented on #574
Under the OP API proposed, one of these needs to be met to use the class:
- Have a type which is already comparable the way you want it to be
- Wrap a type with another class that contains the priority value and compares the way you want it to
- Create a custom IComparer for your type and pass it via the constructor. Assumes that the value you want to represent priority is already publicly exposed

[2017-04-24 22:19] davidsh commented on #18850
Where in .NET Core code (i.e. master branch) is that happening?  I didn't see it.

[2017-04-24 22:19] saurabh500 commented on #14760
@danmosemsft @divega Yes we can close this.

[2017-04-24 22:19] #14760 closed

[2017-04-24 22:19] danmosemsft commented on #18726
@tarekgh

[2017-04-24 22:21] daxian-dbw opened #18877 "[netcoreapp2.0] 'AppDomain.CurrentDomain.GetAssemblies()' doesn't return the emitted dynamic assembly"
`AppDomain.CurrentDomain.GetAssemblies()` doesn't return dynamically emitted assemblies.

**Repro**
[code]
**Expected Result**
The program prints `Found it`

**Actual Result**
[code]
Aren't dynamically emitted assembly loaded in the default assembly load context? Why `AppDomain.CurrentDomain.GetAssemblies()` not returning them?

[2017-04-24 22:23] saurabh500 commented on #13439
We need to investigate this further. Moving this to future.

[2017-04-24 22:32] avanderhoorn commented on #18762
I think part of the issue here is that if Glimpse or AI or anyone else wants to support v1 and v2. In this case our consuming code base would be listening to both events. The original though was to make these events mutually exclusive to avoid both events firing... hence if one consumer was listening to v2 events, the system would disable v1 events. We can probably handle this implementation detai

[2017-04-24 22:33] daxian-dbw commented on #18877
@gkhanna79 is this a bug or another by-design behavior change?

[2017-04-24 22:36] saurabh500 commented on #8104
This issue doesn't seem to be present any more. The tests build and run fine.
@ViktorHofer There is a dependency on sni.dll for SqlClient on Windows.

[2017-04-24 22:36] #8104 closed

[2017-04-24 22:37] svick commented on #574
@ianhays

At least with binary heap (the one I am most familiar with), if you want to update the priority of some value and you know its position in the heap, you can do it quickly (in O(log n) time).

But if you only know the value and the priority, you would first need to find the value, which is slow (O(n)).

On the other hand, if you don't need to update efficiently, that one allocation per it

[2017-04-24 22:42] saurabh500 commented on #17283
Closing as the support was added while making Managed sni the default networking implementation on windows

[2017-04-24 22:42] #17283 closed

[2017-04-24 22:43] ebickle commented on #574
That's a good point, there is a gap in the original API for scenarios where the consumer already has a priority value (i.e. integer) maintained separately from the value. The flip side is that a <TKey, TValue> style of API would complicate all intrinsically comparable types. Years ago I wrote very lightweight scheduler component that had it's own internal ScheduledTask class. Each ScheduledTask im

[2017-04-24 22:44] Petermarcu commented on #18682
@brentschmaltz , @zhenlan is going to see how he can get it implemented over the next few weeks.

[2017-04-24 22:44] benaadams commented on #574
@pgolebiowski don't get me wrong there should be specific implementations of things named explicitly after their specific implementation.

However that's for when you know what specific data structure you want that matches the performance goals you are after and has the trade offs you are willing to accept.

Generally the framework collections cover the 90% of uses where you want a general behavio

[2017-04-24 22:46] safern commented on #18850
https://github.com/dotnet/corefx/blob/master/src/System.Net.Requests/src/System/Net/HttpWebRequest.cs#L95-L109

[2017-04-24 22:48] danmosemsft commented on #18682
@Petermarcu

Correct on both counts. I will do a scan of NSE now and see if I spot any that should not be NSE.

[2017-04-24 22:52] benaadams commented on #3126
`Enqueue` overwrites and `TryEnqueue` doesn't

[2017-04-24 22:53] danmosemsft commented on #18682
The PNSE I listed above have now been fixed in #18768 by changing the exception type to NSE to match Desktop.

This issue remains open to track Canonicalization.

[2017-04-24 22:54] bartonjs commented on #9728
Completely disabling validation is something that we could support, if there were API to indicate that was the caller choice.  Similarly, if we were to have an API which allowed the specification of a filename to use as a replacement root we *could* pass that through.  (I certainly wouldn't expect us to write a temporary file on a caller's behalf)

What would be generally more useful is if https:/

[2017-04-24 23:03] mellinoe commented on #16675
I just looked at the first case that is failing, and I wouldn't be surprised if all the test cases are because of the same issue. On 32-bit .NET Core, `Math.Cos(double.MaxValue)` returns `0.90578110220707042`, and on 64-bit .NET Core, it returns `-0.99998768942655991`. The tests are written to expect the negative value, and thus fail on 32-bit.

Historically, `Math.Cos(double.MaxValue)` has just r

[2017-04-24 23:07] krwq commented on #2295
@svick @nverwer I think we should get to some conclusions with these.

IMO here is what we should do:
- Create enum XPathVersion as suggested by @svick in one of the options
- Create XPathExpression.Compile which takes new enum
- Any place which takes XPath string as an input we should add more overloads i.e. XPath2Select; XPath2SelectSingleNode etc.

that should give us combination which is easy

[2017-04-24 23:12] krwq commented on #18682
I'm not sure I have a full context but could possibly https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/XmlDsigC14NTransform.cs be reused here? Likely not most efficient but better than nothing

[2017-04-24 23:15] #18493 closed

[2017-04-24 23:21] karelz commented on #17434
Closing for now. Feel free to reopen if/when you have more details. Thank you!

[2017-04-24 23:21] weshaggard commented on #17960
@jcouv is this something you were able to verify with your recent work?

[2017-04-24 23:25] tannergooding commented on #16675
**As some context:**
32-bit always just ran the CRT version (https://github.com/dotnet/coreclr/pull/4847/files#diff-884cab80438864e5dc66c7e4c1a3c723L144, comment is on L127). Only the 64-bit version forwarded and it had completely different allowed ranges because of this.

Always using the CRT implementation is better because it is faster and allows a greater range of inputs -- the domain of `Cos`

[2017-04-24 23:26] jcouv commented on #17960
@weshaggard No, my recent validation was not done with a whole package, but with binaries manually extracted from the package.
I still need to figure something out for this validation work item.

[2017-04-24 23:30] bgever commented on #17522
It's good to see the lessons learned from this package dependency complexity, and the focus to fix this with .NET Standard 2.0.

However, what about libraries that target versions before .NET 4.6.1 ([.NET Standard 2 compatible baseline](https://github.com/dotnet/standard/blob/master/docs/versions.md)), and may not be able to switch to the .NET Standard 2 target?

This is what originally caused thi

[2017-04-24 23:43] davidsh commented on #18850
Thx.  Your vision is better than mine. :)

In terms of the solution, yes, we should remove the PNSE code and replace it with the NETFX code.

Something like:
https://github.com/Microsoft/referencesource/blob/master/System/net/System/Net/HttpWebRequest.cs#L5285

[2017-04-24 23:43] ericstj commented on #18697
Confirmed that we catch missing types-forwards, missing members on forwarded types, missing OOB types, and missing members on OOB types.

[2017-04-24 23:43] #18697 closed

[2017-04-24 23:49] danmosemsft commented on #18850
I attempted to make them serializable and it was too complex to port the desktop behavior. I made it PNSE.. see https://github.com/dotnet/corefx/pull/14175

Of course I'd be happy if you actually do make them serializable but it's not a paste job.

[2017-04-24 23:49] danmosemsft commented on #18850
Same for HttpWebResponse.

[2017-04-24 23:50] karelz commented on #14745
I let @bartonjs decide what is the appropriate level of documentation we should have in docs.

@mairaw can help point where/how to change it. AFAIK nothing in docs repo is generated from source. It is the primary source of docs.

[2017-04-24 23:54] mellinoe commented on #16675
That's probably true for CoreCLR, but 32- and 64-bit .NET Framework seem to be the same to me. They both return `double.MaxValue` for `Math.Cos(double.MaxValue)` and seem to respect the same documented boundary that msdn lists.

I agree, adding 32-bit-specific tests would get us clean and give us some better "coverage" for this stuff. But at the same time, they don't seem very valuable if we are j

[2017-04-24 23:56] karelz commented on #18847
Added to #13892

[2017-04-24 23:56] #18847 closed

[2017-04-24 23:59] corivera commented on #16960
No repro

[2017-04-24 23:59] #16960 closed

[2017-04-25 00:06] tannergooding commented on #16675
I would be its because desktop isn't on RyuJIT and doesn't support SSE2, so it was likely emitting the x87 `fcos` instruction as well (the range limitation of 2^63 is documented in the Intel Architecture manual).

I think this depends on how much use we expect in 32-bit CoreCLR as compared to how long we expect it would take to implement the long term fix (which will require us ensuring that the s

[2017-04-25 00:08] tannergooding commented on #16675
It would also be worth checking if Mac/Linux have significantly different 32-bit vs 64-bit implementations.

[2017-04-25 00:08] krwq opened #18882 "RSA.ImportParameters: should compute optional parameters?"
Currently when optional parameter is missing (i.e. DP) we throw an exception on Core (Cng on Desktop ignores optional parameters). Those can theoretically be computed but that could potentially open window for timing attacks in some scenarios.

Should we compute those parameters, create a new API for computing missing parameters or not support it? (or possibly add some mitigation against those - n

[2017-04-25 00:13] mellinoe commented on #16675
I'll see if I can get a VM set up quickly to test that.

[2017-04-25 00:13] #18655 closed

[2017-04-25 00:25] ajaybhargavb opened #18883 "GetMetadataReader() throws BadImageFormatException"
Repro,
[code]

I am trying to read some assembly attributes without loading it. But when I try to call `GetMetadataReader()`, I get `BadImageFormatException: 'Invalid COR20 header signature.'`

Related issue: https://github.com/dotnet/corefx/issues/1050

[2017-04-25 00:25] #13606 closed

[2017-04-25 00:30] karelz commented on #18877
@gkhanna79 who can answer it?

[2017-04-25 00:30] #17752 closed

[2017-04-25 00:34] CIPop commented on #16516
@steveharter @ianhays @karelz @mmitche At this stage I'd like to add a Debug.Fail and enable the tests to collect more information. This will work only if procdump or WinDBG are installed on the CI/debug system (release builds won't be affected).

How can I collect dumps from the CI machines afterwards?

[2017-04-25 00:34] lajones commented on #18542
@Jiayili1 Is this still failing on newer builds? @hughbe's fix for this was checked in later the same day as the build you are referencing - so my guess is you missed it by 1 day. See #17874.

[2017-04-25 00:36] davidsh commented on #18482
What is invalid about this particular cookie?

[code]

[2017-04-25 00:39] svick commented on #2295
@krwq

So, to add a new version of XPath, you would need to add a new overload to all these methods? I'm not sure that's better than having each set of overloads as extension methods in a separate namespace when it comes to managing it.

It would also pollute your completion lists with all these methods you're never going to use (since most people are likely going to stick with a single version of

[2017-04-25 00:41] karelz commented on #16516
@mellinoe can help with details. Debug.Fail was recently broken btw.

[2017-04-25 00:47] ajaybhargavb commented on #18883
Is there any workarounds for this?

[2017-04-25 00:52] gkhanna79 commented on #18877
Dynamically emitted assemblies are loaded in the load context of the assembly that emitted them. Which LoadContext does your repro emit them in?

[2017-04-25 00:52] SergeyKanzhelev opened #18885 "Activity ID should not expose computer name"
This is continuation of the discussion started here: https://github.com/dotnet/corefx/issues/18418

Activity ID which is part of Diagnostics Source should not expose computer name. There are two scenarios when this causes the problem:

1. In case of server application that enabled monitoring - service owner may not realize that the computer name of the service will be exposed to the every HTTP/HTT

[2017-04-25 00:53] SergeyKanzhelev commented on #18885
CC: @vancem @lmolkova @cwe1ss

[2017-04-25 00:54] safern commented on #18542
This is from today's run in Helix: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170424.03/workItem/System.ComponentModel.Annotations.Tests/analysis/xunit/System.ComponentModel.DataAnnotations.Tests.CompareAttributeTests~2FValidate_Indexer_ThrowsTargetParameterCountException_Netfx

From today's run in Jenkins:
htt

[2017-04-25 00:54] daxian-dbw commented on #18877
It's in the default load context. You can see from the repro snippet, no additional load context is involved.

[2017-04-25 00:57] safern commented on #18542
https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.Annotations/tests/CompareAttributeTests.cs#L50

It seems like the test is expecting the wrong exception per test name.

[2017-04-25 00:59] davidsh commented on #18000
@zenixgrace I looked at the attached html files from the "sample_html.zip" file.  I don't see anything in there that is wrong.

If you can't attach a full repro Visual Studio solution, can you send us a Fiddler trace?  That would be helpful.  Thx.

[2017-04-25 01:06] Jiayili1 commented on #18476
@krwq Thanks for filing the new issue for this failure.

[2017-04-25 01:09] mellinoe commented on #16675
I created a 32-bit Ubuntu 16.04 VM, and it seems to output the exact same value for `cos(numeric_limits<double>::max())` (which is `-0.99988`). This is the same value that 64-bit Windows returns (roughly speaking).

[2017-04-25 01:14] safern commented on #18710
Could we then skip the tests and close this issue?

[2017-04-25 01:14] safern commented on #18829
Should we then disable/delete this test?

[2017-04-25 01:14] krwq commented on #2295
@svick we would have to create namespace per each class using XPath - if we put extension methods in the xpath itself you would get circular dependency. One option would be to reuse XPathNavigator or IXPathNavigable (I believe those should be independent of XPath version) and add extension methods to them instead of each class using XPath and do not touch any of the existing methods - the downside

[2017-04-25 01:16] safern commented on #18311
@AtsushiKan could you please point out why this test is failing?

[2017-04-25 01:17] safern commented on #18310
@AtsushiKan could you please point out why this is failing?

[2017-04-25 01:19] safern commented on #18713
@JeremyKuhne  @ianhays is this because of a difference in behavior in between .Net Core and desktop that has to be fixed? Is there a bug in desktop? Should we disable/fix the tests?

[2017-04-25 01:22] safern commented on #18715
I've seen that long path support was introduced on desktop on either 462 or 463 so my guess that is the reason why this is failing. Should we disable the test?

[2017-04-25 01:26] safern commented on #18716
@JeremyKuhne @ianhays looks like a difference in behavior that was introduced/fixed on Core. Should we disable?

[2017-04-25 01:29] tmat commented on #18883
'''MetadataReaderProvider.FromMetadataStream''' is not the right API to use for reading a PE file. You need to use ```new PEReader(stream)```

[2017-04-25 01:30] safern commented on #18717
@JeremyKuhne @ianhays looks like a behavior difference, is this expected in Core?

[2017-04-25 01:31] #18883 closed

[2017-04-25 01:33] Jiayili1 commented on #18147
This issue is repro on desktop([build#30](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/30/testReport/)), detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/lastCompletedBuild/testReport/System.IO.Pipes.Tests/AnonymousPipeTest_Read_ServerIn_ClientOut/ReadFromPipeWithClosedPartner_ReadNoBytes/

MESSAGE:
[code]
STACK TR

[2017-04-25 01:34] fujiy commented on #14376
Do you know why when running the application it loads the System.Private.CoreLib.ni.dll from

    packages\runtime.win-x64.microsoft.netcore.app\2.0.0-preview2-002066-00\runtimes\win-x64\native

Instead of

    packages\runtime.win7-x64.microsoft.netcore.runtime.coreclr\2.0.0-preview2-25210-0\runtimes\win7-x64\native

I didn't find out how to generate the Microsoft.NerCore.App package

[2017-04-25 01:35] #17691 closed

[2017-04-25 01:46] karelz commented on #17522
The focus is to fix it in all NuGet packages (not scoped to .NET Standard 2.0).

That is correct and it will never go away, until we either stop shipping those OOB entirely (my original plan in #16805 and #15693 - which we are most likely going to back out), or until we change .NET Framework loader to follow .NET Core loader policy to upgrade version to latest available without any bindingRedirect

[2017-04-25 01:47] JeremyKuhne commented on #18713
Tests need split up and results need conditionalized on the new behavior being enabled.

I already wrote a [helper](https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/tests/PathFeatures.cs#L38) for this. It needs moved to common.

[2017-04-25 01:50] danmosemsft commented on #18858
@morganbr @krwq please evaluate.

[2017-04-25 01:51] JeremyKuhne opened #18888 "IO tests need conditionalized for new behavior to run correctly on desktop"
Tests need split up and results need conditionalized on the relevant new behavior being enabled.

I already wrote a [helper](https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/tests/PathFeatures.cs#L38) for this. It needs moved to common.

Creating this issue to tag the various tests against.

[2017-04-25 01:52] JeremyKuhne commented on #18713
See #18888

[2017-04-25 01:52] JeremyKuhne commented on #18827
See #18888

[2017-04-25 01:53] JeremyKuhne commented on #18826
See #18888

[2017-04-25 01:53] JeremyKuhne commented on #18823
See #18888

[2017-04-25 01:57] JeremyKuhne commented on #18799
See #18888

[2017-04-25 01:58] JeremyKuhne commented on #18717
See #18888

[2017-04-25 01:58] JeremyKuhne commented on #18716
See #18888

[2017-04-25 01:58] JeremyKuhne commented on #18715
See #18888

[2017-04-25 01:59] JeremyKuhne commented on #18888
Fyi: @ianhays, @safern

[2017-04-25 02:01] terrajobst commented on #18759
Not sure I get the sample -- aren't you supposed to use the handle somewhere?

[code]

[2017-04-25 02:06] #3419 closed

[2017-04-25 02:11] danmosemsft opened #18890 "Failure in System.Net.Http.Functional.Tests.PostScenarioTest.PostUsingContentLengthSemantics_Success"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_portablelinux_release/lastCompletedBuild/testReport/System.Net.Http.Functional.Tests/PostScenarioTest/PostUsingContentLengthSemantics_Success_serverUri__https___corefx_net_cloudapp_net_Echo_ashx_/

System.Net.Http.Functional.Tests.PostScenarioTest.PostUsingContentLengthSemantics_Success(serverUri: https://corefx-net.cloudapp.

[2017-04-25 02:15] karelz commented on #17619
**Announcement:** For next 2.5 weeks (until May 10) all API additions and larger changes will get more scrutiny. If they are risky and non-essential for .NET Core 2.0, we may delay merging PR until post-5/10.

Also note that **release/2.0.0 branch** is now created and will receive last full integration from master on 5/10. Changes after 5/10 will be cherry-picked from master to release/2.0.0 branc

[2017-04-25 02:15] danmosemsft commented on #18822
@JeremyKuhne wrt your thumbs up -- I spaced that AOORE is a subtype of AE so this is an acceptable change and I"ll just adjust the test.

[2017-04-25 02:19] Jiayili1 commented on #18311
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/30/testReport/System.Reflection.Tests/AssemblyNameTests/Ctor_String_name____NAME____expectedName____NAME___/

[2017-04-25 02:32] morganbr commented on #18858
@danmosemsft , our scans agree. This should be fixed for 2.0.

[2017-04-25 02:33] hughbe commented on #18869
Is this a test bug or product bug? I'm not sure why receiving a chunked empty string should fail intermittently?

[2017-04-25 02:39] Jiayili1 commented on #17925
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/30/testReport/System.Data.SqlClient.Tests/DiagnosticTest/ExecuteReaderAsyncErrorTest/

[2017-04-25 02:43] davidsh commented on #17621
After analyzing this, it turns out that this is a test-bug in the .NET Core tests, but it only occurs when running against .NET Framework.

.NET Framework HttpClientHandler (including the OOB) uses a different algorithm to resolve the ambiguity when neither 'Content-Length' nor 'Transfer-Encoding: chunked' is specified for the request body when doing POSTs.  On .NET Core, this is resolved by alway

[2017-04-25 02:45] terrajobst commented on #18759
It looks good to me.

@KrzysztofCwalina @weshaggard @ericstj ?

[2017-04-25 02:50] davidsh commented on #17621
You could also argue that this is a defect in the net46 HttpClientHandler because it needs to be able to handle this kind of situation and somehow re-update the 'ContentLength' property to have a non-null value. This test is doing something that a dev, in theory, could do as well.

In PrepareAndStartContentUpload() method in the HttpClientHandler.net46.cs, there is this code:

[code]

[2017-04-25 02:52] Jiayili1 commented on #18802
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/30/testReport/(root)/DataContractJsonSerializerTests/DCJS_VerifyDateTimeForFormatStringDCJsonSerSettings/

[2017-04-25 02:59] Jiayili1 commented on #18262
This issue is repro on build#30, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/30/testReport/System.Diagnostics.Tests/ProcessStartInfoTests/TestEnvironmentVariables_Environment_DataRoundTrips/

Need to verify on next build, since the commit is not in this build

[2017-04-25 03:00] Jiayili1 commented on #18471
This issue is repro, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/30/testReport/System.Diagnostics.Tests/ProcessTests/TestInvalidPriorityClass/

Need to verify it on next build, since the commit is not in this build

[2017-04-25 03:02] Jiayili1 commented on #17725
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/30/testReport/System.IO.MemoryMappedFiles.Tests/MemoryMappedFileTests_CreateFromFile/FileInUse_CreateFromFile_SucceedsWithReadOnly/

[2017-04-25 03:06] safern commented on #18718
This is a permission access to a file when trying to delete it,  I don't know why this is happening only on desktop as on .Net Core doesn't happen but the file and path is the same. However if we fix this we would clean like ~30 desktop failures as this happens in the test constructor which is called every time a test is executed. Marking as future, maybe we can disable the whole test class and li

[2017-04-25 03:10] safern commented on #18797
This looks as a very specific .Net Core test as it includes the file line should we change the test to instead of doing an Assert.Equal do an `Assert.Contains("FormatterHelpers.cs")` because the files could change and can be different in between target frameworks.

cc: @danmosemsft

[2017-04-25 03:11] safern commented on #18797
Future as this looks more like test bug.

[2017-04-25 03:13] safern commented on #18888
Thanks for opening this @JeremyKuhne

[2017-04-25 03:53] danmosemsft commented on #18718
Sure feel free.

[2017-04-25 03:59] danmosemsft commented on #18810
I don't get this -- it says it passed. It also passes locally.

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/29/testReport/System.Xml.Tests/XmlSystemPathResolverTests/TestResolveInvalidPaths/
[code]

[2017-04-25 04:03] danmosemsft commented on #18828
netfx: r12 is TLS index for the thread and adds 3 to that number. ad3 is the appdomainID

core: r3 is hard coded

MSDN says `This API supports the product infrastructure and is not intended to be used directly from your code. Returns a version-safe name based on the specified resource name and the intended resource consumption source.`

[2017-04-25 04:05] danmosemsft commented on #18828
@safern you can disable this test for netfx as the result is not expected to be stable between runtimes

[2017-04-25 04:05] danmosemsft commented on #18803
@safern wanna make that change above

[2017-04-25 04:20] danmosemsft commented on #18830
@weshaggard @safern this is a desktop run, but hte implementation in the callstack is out of corefx. Is this expected? Seems it's not doing anything useful if it's not running against hte desktop s.config...

[2017-04-25 04:22] danmosemsft commented on #18808
@lmolkova is this test expected to be core specific?

[2017-04-25 04:25] danmosemsft commented on #18807
@safern this is a test issue, it's doing
`            Type sr = typeof(EventSource).Assembly.GetType("System.SR", throwOnError: true, ignoreCase: false);`
this will not work on desktop framework where there is no System.SR type. It loads resources via text.

This whole test `Test_GenerateManifest_InvalidEventSources`  must be disabled or rewritten. @lmolkova is is reasonable for @safern to disable

[2017-04-25 04:27] danmosemsft commented on #18802
@shmao you were making some other change recently to datetime serialization?

[code]

[2017-04-25 04:27] danmosemsft commented on #17993
@davidsh Needs triage for 2.0 since it occurs in desktop also.

[2017-04-25 04:28] danmosemsft commented on #17990
@davidsh Needs triage for 2.0 since it occurs in desktop also.

[2017-04-25 04:28] danmosemsft commented on #17925
Fails on desktop so needs 2.0 tirage

[2017-04-25 04:42] danmosemsft commented on #18834
Does not repro locally with GCSTress 2, ,3 or nothing. Something random.

[2017-04-25 04:57] hughbe commented on #18486
I might need a bit of guidance here. I've moved CookieParser to common. I fixed a couple of issues with CookieParse referring to internal Cookie state [here](https://github.com/dotnet/corefx/blob/a1afdee3754dc2f254eb3293458efb7c54fd8e9c/src/System.Net.Primitives/src/System/Net/Cookie.cs#L1323-L1344)

However, there are some problems I don't really know how to solve. Firstly, we call `Cookie.Intern

[2017-04-25 05:11] danmosemsft opened #18892 "Two CryptoConfig members throw PNSE"
@bartonjs comments: "Wasn’t supported in Mono/Xamarin, and costs a world of pain"
[code]

If it's not supported in Mono this is not necessarily a must have. Also, useage seems negligible. Please triage to 2.0, Future, or close.

[2017-04-25 05:12] JamesNK opened #18893 "ConcurrentDictionary OnDeserialized exception"
With .NET Core 2.0 preview, `ConcurrentDictionary` is throwing an error when `OnDeserialized` is called.

I would expect `ConcurrentDictionary` either to not throw an error, or throw a better error than `NullReferenceException`.

See https://github.com/JamesNK/Newtonsoft.Json/issues/1294 for more details.

[code]

[2017-04-25 05:13] danmosemsft opened #18894 "Two X509 members throw PNSE on non Windows"
[code]

~0% usage in our corpuses. @bartonjs mentioned the former is "tricky on mac". Please triage for 2.0.

[2017-04-25 05:21] danmosemsft opened #18896 "CspParameters.KeyPassword throws PNSE and should not"
This throws PNSE because it accepts SecureString which was not available earlier. It should be enabled
[code]
The implementation is trivial, `public SecureString KeyPassword { get; set; }` . In Desktop, it's used only by an internal method we do not have. So it's low priority to implement this, nevertheless it is an unnecessary public break.

[2017-04-25 05:31] danmosemsft opened #18898 "PKCS1MaskGenerationMethod limited to SHA1 -- desktop is not"
PKCS1MaskGenerationMethod.HashName will not accept any value other than "SHA1"  (or null). Otherwise it throws PNSE.

In desktop it accepted any value, and would then pass it to `CryptoConfig.CreateFromName(HashNameValue);`

I see ~0% usage. Is this limitation acceptable for 2.0?

[2017-04-25 05:50] safern commented on #18807
If @lmolkova is ok on disabling it I will be happy to do so.

[2017-04-25 06:00] Jiayili1 commented on #17993
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/30/testReport/System.Net.NetworkInformation.Unit.Tests/NetworkInterfaceTest/GetIsNetworkAvailable_NetworkConnectivityLevelIsNone_ReturnsFalse/

[2017-04-25 06:01] tlbdk commented on #9728
@bartonjs It would enable me to make my client certificate test work on all platforms without having to install certicates. And even if curl gets general support for this it will take a while before it will be shipped, so any way to do this now would be very much appropriate.

[2017-04-25 06:03] tlbdk commented on #18873
@bartonjs Seems you are the one that handles this kind of stuff, what do you think?

[2017-04-25 06:05] safern commented on #18830
@JeremyKuhne do you have any idea of what's happening in here?

[2017-04-25 06:05] safern commented on #18803
Yes I'll take it no problem.

[2017-04-25 06:06] safern commented on #18828
Sounds good, thx for the investigation.

[2017-04-25 06:09] Jiayili1 opened #18899 "Desktop: XmlDictionaryWriterTest.XmlBaseWriter_WriteStartEndElementAsync failed with "System.NotImplementedException""
Failed test: XmlDictionaryWriterTest.XmlBaseWriter_WriteStartEndElementAsync

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/30/testReport/(root)/XmlDictionaryWriterTest/XmlBaseWriter_WriteStartEndElementAsync/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-25 06:10] safern commented on #18262
I don't see any failures anymore in the latest netfx official build:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170425.01/workItem/System.Diagnostics.Process.Tests/wilogs

The PR was merged at around 1pm and the latest jenkins build was at 11:45 am, before the merge so that is why we still see it on our latest

[2017-04-25 06:15] danmosemsft opened #18900 "HttpWebRequest.MediaType throws PNSE"
HttpWebRequest.MediaType throws PNSE on all platforms, without any explanatory message.

This has 2% usage in apiport data and 1% in Unity top 100.
https://apisof.net/catalog/System.Net.HttpWebRequest.MediaType

It's not clear in a quick glance at desktop code what it actually does or how easy it would be to port. Please triage for 2.0

[2017-04-25 06:20] safern commented on #18899
@shmao I suspect this is a difference in behavior?

[2017-04-25 06:22] shmao commented on #18802
@stone-li just to confirm, PR https://github.com/dotnet/corefx/pull/18833 would fix this issue as well, right?

[2017-04-25 06:27] shmao commented on #18802
This is a duplicate of #18539.

[2017-04-25 06:29] #18539 closed

[2017-04-25 06:31] danmosemsft commented on #17977
This shows up in my PNSE scan. Note, usage ~0% in our data.

[2017-04-25 06:34] Jiayili1 opened #18902 "Desktop: XmlDictionaryWriterTest.XmlBaseWriter_CheckAsync_ThrowInvalidOperationException failed with "Xunit.Sdk.ThrowsException""
Failed test: XmlDictionaryWriterTest.XmlBaseWriter_CheckAsync_ThrowInvalidOperationException

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/30/testReport/(root)/XmlDictionaryWriterTest/XmlBaseWriter_CheckAsync_ThrowInvalidOperationException/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-25 06:34] danmosemsft commented on #12192
Reopening just to flag these are in NS2.0 and throwing PNSE. Triage, you may want to have this open even if post 2.0
We have 0% usage in our data.

[2017-04-25 06:35] shmao commented on #18899
@safern Yes, the async APIs were implemented on NetCore only. See https://github.com/dotnet/corefx/pull/2596. The behavior difference is expected.

[2017-04-25 06:37] Jiayili1 commented on #18600
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/30/testReport/System.Linq.Parallel.Tests/SumTests/Sum_Float_Longrunning_count__65536_/

[2017-04-25 06:37] gkhanna79 commented on #18877
@daxian-dbw Do you get the expected behavior on Desktop?

[2017-04-25 06:45] Jiayili1 opened #18903 "Desktop: System.Security.Cryptography.Encryption.Aes.Tests.DecryptorReusabilty.TestDecryptorReusability failed with "Xunit.Sdk.EqualException""
Failed test: System.Security.Cryptography.Encryption.Aes.Tests.DecryptorReusabilty.TestDecryptorReusability

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/30/testReport/System.Security.Cryptography.Encryption.Aes.Tests/DecryptorReusabilty/TestDecryptorReusability/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-25 06:49] danmosemsft commented on #18893
I didn't try it but it seems deserializing will allways throw NRE since `_serializationArray` is not assigned when deserializing.
[code]

[2017-04-25 07:07] danmosemsft opened #18905 "2 members on WebSocket throw PNSE"
These are both part of NS2.0. Both show no usage in our data. Please triage to 2.0, future, or close.

[code]

[2017-04-25 07:08] Jiayili1 commented on #18810
@danmosemsft  this issue is repro on build#30, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/30/testReport/System.Xml.Tests/XmlSystemPathResolverTests/TestResolveInvalidPaths/

[2017-04-25 07:37] Jiayili1 commented on #16856
This issue is repro on build 20170425.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170425.01/workItem/System.Diagnostics.DiagnosticSource.Tests/analysis/xunit/System.Diagnostics.Tests.ActivityTests~2FDiagnosticSourceStartStop

[2017-04-25 07:40] Jiayili1 commented on #18890
This issue is repro on build 20170425.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170425.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PostScenarioTest~2FPostUsingContentLengthSemantics_Success(serverUri:%20https:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

[2017-04-25 07:44] dotnet-mc-bot opened #18906 "Test: System.Net.Tests.HttpListenerRequestTests/IsWebSocketRequest_GetProperty_ReturnsExpected failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Net.Tests.HttpListenerRequestTests/IsWebSocketRequest_GetProperty_ReturnsExpected(webSocketString: \"Connection: Upgrade\\r\\nUpgrade: websocket\", expected: True)` has failed.

Assert.Equal() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Net.Tests.HttpListenerRequestTests.<>c__DisplayClass12_0.<IsWebS

[2017-04-25 07:50] Jiayili1 commented on #18376
This issue is repro on build 20170425.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170425.01/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpRequestStreamTests~2FRead_FullLengthAsynchronous_Success(transferEncodingChunked:%20True,%20text:%20%5C%22%5C%22)

[2017-04-25 07:52] dotnet-mc-bot opened #18907 "Test failure: System.Net.Sockets.Tests.SendReceiveUdpClient/SendToRecvFromAsync_Datagram_UDP_UdpClient(loopbackAddress: 127.0.0.1)"
Opened on behalf of @Jiayili1

The test `System.Net.Sockets.Tests.SendReceiveUdpClient/SendToRecvFromAsync_Datagram_UDP_UdpClient(loopbackAddress: 127.0.0.1)` has failed.

System.AggregateException : One or more errors occurred. (Assert.True() Failure
    Expected: True
    Actual:   False) (Assert.True() Failure
    Expected: True
    Actual:   False)
    ---- Assert.True() Failure
    Expected:

[2017-04-25 08:00] benaadams commented on #14615
[`PoolCreateRequest`](https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/ProviderBase/DbConnectionPool.cs#L952-L1037) has `finally` blocks so its expecting exceptions; but it does not catch any exceptions at the outer level so it throws an exception at the top level in the Threadpool which has no where to go so crashes by design.

The function should not let the

[2017-04-25 08:02] benaadams commented on #14615
Same with PoolCreateRequest in [System.Data.Odbc](https://github.com/dotnet/corefx/blob/master/src/System.Data.Odbc/src/Common/System/Data/ProviderBase/DbConnectionPool.cs#L940-L1025)

[2017-04-25 08:06] Jiayili1 commented on #18057
This issue is repro on build 20170425.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170425.01/workItem/System.Text.RegularExpressions.Tests/analysis/xunit/System.Text.RegularExpressions.Tests.RegexMatchTests~2FMatch_SpecialUnicodeCharacters

[2017-04-25 08:06] dotnet-mc-bot opened #18908 "Test failure: System.Text.RegularExpressions.Tests.RegexGroupTests/Groups(pattern: \"ı\", input: \"I\", options: IgnoreCase, cultureInfo: az-Latn-AZ, expectedGroups: [\"I\"])"
Opened on behalf of @Jiayili1

The test `System.Text.RegularExpressions.Tests.RegexGroupTests/Groups(pattern: \"ı\", input: \"I\", options: IgnoreCase, cultureInfo: az-Latn-AZ, expectedGroups: [\"I\"])` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Text.RegularExpressions.Tests.RegexGroupTests.Groups(String pattern, String

[2017-04-25 08:07] tmds commented on #4002
[code]
on my Linux machine prints:
[code]
So it looks like this is resolving localhost to both addresses. Is this different on the CI machines? Is it tied to specific Unix flavors? Perhaps related to configuration?

[2017-04-25 08:11] Jiayili1 commented on #16856
This issue is repro on full framework tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170425.01/workItem/System.Diagnostics.DiagnosticSource.Tests

[2017-04-25 08:15] dotnet-mc-bot opened #18909 "Test: System.IO.Pipes.Tests.AnonymousPipeTest_Write_ServerOut_ClientIn/WriteZeroLengthBuffer_Nop failed with "System.IO.IOException""
Opened on behalf of @Jiayili1

The test `System.IO.Pipes.Tests.AnonymousPipeTest_Write_ServerOut_ClientIn/WriteZeroLengthBuffer_Nop` has failed.

System.IO.IOException : Invalid pipe handle.

        Stack Trace:

           at System.IO.Pipes.AnonymousPipeClientStream.Init(PipeDirection direction, SafePipeHandle safePipeHandle)
       at System.IO.Pipes.AnonymousPipeClientStream..ctor(PipeDirecti

[2017-04-25 08:17] vnd-edu commented on #18670
when can i expect  .NET Core 2.0 release?

[2017-04-25 08:21] nietras commented on #18750
index (which would be the most natural), it is possible for 2 spans to
overlap / contain / etc and yet not have any "index" that makes sense -
specifically, if the two spans aren't *aligned* in whole multiples of
sizeof(T)

@mgravell yes of course, but in my view (also see https://github.com/dotnet/corefxlab/pull/830#issuecomment-296952602) that would be an "invalid state", since having a `Span<do

[2017-04-25 08:27] Jiayili1 commented on #18312
This issue is repro on full framework tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170425.01/workItem/System.Runtime.Serialization.Xml.ReflectionOnly.Tests/analysis/xunit/DataContractSerializerTests~2FDCS_ReadOnlyDictionary

[2017-04-25 08:37] benaadams commented on #18481
Best pattern is local function for async; passing the parameters to it via params rather than locals as that currently allocates (example pattern and issue pattern: https://github.com/dotnet/roslyn/issues/18946)

[2017-04-25 08:38] benaadams commented on #18481
Best pattern is local function for async; passing the parameters to it via params rather than locals, as that currently allocates (example pattern and issue pattern: https://github.com/dotnet/roslyn/issues/18946)

[code]

However, I think some aggressive inlines need to be added to cope with large structs (which is where this started with `decimal`)

[2017-04-25 08:39] Jiayili1 commented on #18814
This issue is repro on full framework test, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170425.01/workItem/System.Security.Claims.Tests

[2017-04-25 08:43] imcarolwang opened #18910 "NetCore does not support Canonicalization"
Tests added and verified passed on netfx :

System.Runtime.Serialization.Xml.Canonicalization.Tests.XmlCanonicalizationTest
- C14NWriterNegativeTests
- TestC14NInclusivePrefixes
- ReaderWriter_C14N_DifferentReadersWriters

[2017-04-25 08:49] Jiayili1 commented on #18811
This issue is repro on full framework tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170425.01/workItem/System.Security.Cryptography.Algorithms.Tests/analysis/xunit/System.Security.Cryptography.Rsa.Tests.KeyGeneration~2FGenerateKey_2048

[2017-04-25 09:02] agoretsky commented on #18733
@bartonjs thank you!

[2017-04-25 09:05] #18733 closed

[2017-04-25 09:10] chifton commented on #18845
Hello,
Sorry for the late answer due to my jet lag in France.
Of course I am going to share my scenario with you. **I just reproduced the same bug with a new example in 5 steps. Below is my explained scenario, with Visual Studio 2017 Version 15.1 :**

**1) I create a .NET 4.5 library project, where I use System.Linq and System.Collections.Generic which are part of System.Core, in a simple class wi

[2017-04-25 09:20] mgravell commented on #18750
@nietras  the reality, however, is that they *are* both legal slices via NonPortableCast. Which *yes* only works correctly on platforms that support unaligned access, but: it *is* ultimately possible. If the issue is "misaligned slices are bad on platforms that don't support misaligned slices" - then sure, I agree with you 100%, and NonPortableCast should throw. But: that *is* a thing, and *is* su

[2017-04-25 09:37] Jiayili1 commented on #18373
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_fedora24_debug/33/testReport/(root)/DataContractJsonSerializerTests/DCJS_VerifyDateTimeForFormatStringDCJsonSerSetting/

[2017-04-25 09:55] zenixgrace commented on #18000
Hello @davidsh , I attach the fiddler trace file.
Is it true, this trace file you need?

![untitled](https://cloud.githubusercontent.com/assets/17761222/25379541/8669126e-29d7-11e7-8899-fc9bdb2ef718.jpg)
[45_Request.txt](https://github.com/dotnet/corefx/files/954612/45_Request.txt)
[45_Response.txt](https://github.com/dotnet/corefx/files/954613/45_Response.txt)

[2017-04-25 11:57] #18076 closed

[2017-04-25 12:01] stephentoub opened #18918 "Consider changing tests away from Assert"
In support of uapaot, several sweeps through our test code have replaced thousands of occurrences of Assert.Throws with AssertExtensions.Throws, which affords us the flexibility to not enforce some of the assertion on certain platforms.  And we've added our own assert methods elsewhere.  Rather than having a separate "AssertExtensions" class in conjunction with the xunit "Assert" class, we should

[2017-04-25 12:03] stephentoub commented on #18905
(RegisterPrefixes is also [EditorBrowsable(EditorBrowsableState.Never)])

[2017-04-25 12:08] stephentoub commented on #18900
From MSDN:
https://msdn.microsoft.com/en-us/library/system.net.httpwebrequest.mediatype(v=vs.110).aspx
"The value of the MediaType property affects the CharacterSet property. When you set the MediaType in the request, the corresponding media type is chosen from the list of character sets returned in the response Content-type HTTP header."

[2017-04-25 12:19] stephentoub commented on #18893
@JamesNK, did your serialization code call OnSerializing when serializing the dictionary?  The OnSerializing/OnSerialized/OnDeserializing/OnDeserialized methods need to be used in tandem, and ConcurrentDictionary's OnDeserialized during deserialization expects that OnSerializing was used during serialization.

[2017-04-25 12:31] JamesNK commented on #18893
I'm pretty sure OnSerializing is being called when the JSON is written but that has no effect on the JSON that Json.NET produces.

[2017-04-25 12:35] stephentoub commented on #18893
The OnSerializing method configures the state of the dictionary to prepare it to be serialized, namely by initializing the _serializationArray to an array containing all of the data from the dictionary; then when a formatter (e.g. BinaryFormatter) serializes it, that _serializationArray gets serialized out as part of the data structure.  Upon deserialization, OnDeserialized looks at that _serializ

[2017-04-25 12:57] JamesNK commented on #18893
OnSerializing/OnDeserialized are assuming that every serializer will serialize and populate the internal fields, and anyone who doesn't should get a null reference error.

Are these methods well designed and should be changed?

[2017-04-25 13:00] stephentoub commented on #18893
I didn't design the protocol nor am I defending it.  I'm saying that there's a strict requirement about how such methods are used, and that any time code attempts to access private members via reflection, it better either a) expect things to blow up, or b) exactly follow the convention for how those members are to be used.  In this case it looks like Json.NET is doing neither of those things.

[2017-04-25 13:00] niemyjski commented on #9728
Is there a plan to address this in 2.0? This is a pretty big issue and it's been on going for about a year now.

[2017-04-25 13:13] stephentoub commented on #11708
@shen381, sorry, I don't.  Most likely Windows 10 Anniversary Update, as that's what would have been on my machine at about the time this issue was opened.

Sounds good to me.

[2017-04-25 13:18] JamesNK commented on #18893
Json.NET isn't seeking out a private method and calling it for fun. It is being called because it OnDeserializedAttribute on it which I assumed was a generic way of signaling that this method should be called during serialization/deserialization. There is no flag on the attribute saying that you should only call this if you're BinarySerializer, and there is no indication to outside observers that

[2017-04-25 13:27] stephentoub commented on #18893
It is, just as OnSerializing is a way of signaling that method should be called during serialization, OnSerialized after serialization, and OnDeserializing during deserialization.  They all go together and are not intended to be used piecemeal: if a type that is [Serializable] uses these attributes, they are part and parcel of its serialization implementation and must be used.  Same goes for IDese

[2017-04-25 13:44] safern commented on #18899
Thanks for clarifying. Will disable the test then.

[2017-04-25 13:46] JamesNK commented on #18893
Check whether `_serializationArray` is null, and if it is then skip the logic in OnDeserialized. Then other serializers could call it without an error.

Putting in a hack to avoid ConcurrentDictionary erroring isn't so simple now that it lives in its own NuGet package. I don't want to reference an NuGet package just to test the type, and testing the type via the name makes it a hack on another hac