[2018-12-06 19:47] joperezr opened #33877 "[arm32/Linux] System.Resources.ResourceManager.Tests failures on arm32 linux"
Running the arm32 tests on linux for System.Resources.ResourceManager.Tests produced the following results: passed 94/96 tests.

Both test failures failed with the following callstack:
[code]

[2018-12-06 19:52] bartonjs commented on #33870
https://github.com/dotnet/corefx/pull/32006 and https://github.com/dotnet/corefx/pull/32483 are what we'd backport (though we'd have to decide if we want to leave 1.1.x as preferred, or move it to fallback... wouldn't matter for RHEL since as a distro you should be building direct instead of portable).

It's something we've discussed internally, but the feeling was "definitely not before even a pr

[2018-12-06 20:00] jwang98052 commented on #33873
Same exception in net462.

[2018-12-06 20:49] Eirenarch commented on #5014
I just encountered what I assume is the same bug trying to use ReadStringAsync() trying to generate link preview for our system for a facebook URL. I'd say facebook is fairly popular site so this fix is needed.

[2018-12-06 20:59] tactical-drone opened #33879 "`[DllImport]` library dependencies."
- system: `dotnet-sdk-2.2` in a Windows 10 bash (ubuntu).

Currently `DllImport`does not support calling libraries that depend on other libraries. You get symbol not found errors.

The proposed hack is to `[DllImport("dl")] dlopen` with `RTLD_GLOBAL` set. But this does not work. For some reason the handles for most libs returned are `0`, even for libraries that work with `DllImport`. The ones that

[2018-12-06 21:03] paul1956 commented on #31181
Now that Windows.Forms is open sourced and parts of  Microsoft.VisualBasic depends on it what is the way these two things get put together? FileIO depends on Windows.Forms for a few things that I now report as unsupported or worked around. It would be trivial to just use the code exactly and write tests but I don't know where to start and I can't do more then look at the source with VS 2017.

[2018-12-06 21:07] danmosemsft commented on #33875
Is it possible to attach the appropriate testResults.xml to these issues? Then they can get fixed without hardware.

[2018-12-06 21:09] danmosemsft commented on #33877
We should try to install libgdiplus.

[2018-12-06 21:11] danmosemsft commented on #33872
I agree, I will close this.

[2018-12-06 21:11] #33872 closed

[2018-12-06 21:12] danmosemsft commented on #33849
You can try to get a stack trace in gdb

[2018-12-06 21:12] jcouv opened #33880 "APIs that could use annotations or attributes for nullability"
In C# 8.0 with the nullability analysis turned on, libraries that don't carry explicit nullable annotations are treated as "oblivious", which means the analysis assumes the best (to minimize nullability warnings).

This is generally a reasonable assumption, but it hides some potentially useful warnings. As a rule of thumb:
- any API which could return a `null` should declare that.
- any API which

[2018-12-06 21:21] davidkaya opened #33882 "RestoreSDKProject.csproj contains end tag </PropertyGroup> without matching start tag"
There is a `</PropertyGroup>` end tag without matching start tag in https://github.com/dotnet/corefx/blob/master/src/SharedFrameworkValidation/RestoreSDKProject/RestoreSDKProject.csproj#L6

Build of tests failed on that issue:

[code]

Can send PR if wanted.

[2018-12-06 21:23] jkotas commented on #33879
This is not easily possible today with DllImport. We have plans to add new APIs in .NET Core 3.0 to allow customizing loading of the libraries for DllImport. #32015 and related issues track this work.

cc @swaroop-sridhar

[2018-12-06 21:23] ViktorHofer commented on #33129
Closing with joy as fixed with https://github.com/dotnet/corefx/pull/33423

[2018-12-06 21:23] #33129 closed

[2018-12-06 21:30] ViktorHofer commented on #28393
Closing with joy as fixed with https://github.com/dotnet/corefx/pull/33423.

[2018-12-06 21:30] #28393 closed

[2018-12-06 21:31] divega commented on #23542
A couple of questions to any application developers that has subscribed to this issue:

1. What types of databases do you connect to using System.Data.OleDb?
2. If alternatives available (for example, a database-specific ADO.NET provider, or System.Data.Odbc), is there any reason you preferred to use System.Data.OleDb?

Thanks a lot.

[2018-12-06 21:34] swaroop-sridhar commented on #33879
The implementation of `LoadLibrary`, `FreeLibrary`, `GetLibraryExport` APIs in #32015 are checked in, and will be available in the next release. You can give it a try if you build CoreCLR from the current enlistment. Thanks.

[2018-12-06 21:35] joperezr commented on #33875
[testResults.zip](https://github.com/dotnet/corefx/files/2654991/testResults.zip)

[2018-12-06 21:36] joperezr commented on #33877
[testResults.zip](https://github.com/dotnet/corefx/files/2654994/testResults.zip)

[2018-12-06 21:37] joperezr commented on #33874
[testResults.zip](https://github.com/dotnet/corefx/files/2654998/testResults.zip)

[2018-12-06 21:38] joperezr commented on #33877
Yup, this one looks like it's just a problem of my pi missing a dependency.

[2018-12-06 21:38] jkotas commented on #33879
@swaroop-sridhar This issue is about the callback that allows loading native libraries using custom flags (`RTLD_GLOBAL` in this case). The callback was not done yet.

[2018-12-06 21:39] janvorli commented on #19773
@Diaskhan I am planning to write doc on that with examples, hints etc. so that people can successfully use this feature.

[2018-12-06 21:43] danmosemsft commented on #33877
That was only happened to be exposed because these tests were not protected by a check for libgdiplus.

Same for some other platforms:
https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20181206.01/workItem/System.Resources.ResourceManager.Tests/analysis/xunit/System.Resources.Tests.ResourceManagerTests~2FGetResourceSet_Images

You ca

[2018-12-06 21:44] danmosemsft commented on #33514
@wfurt if you don't expect to hvae time to investigate further soon, it would be ideal to disable the test meantime.

[2018-12-06 21:46] voltcode commented on #23542
@divega I found some of the history referenced on https://stackoverflow.com/questions/103167/what-is-the-difference-between-ole-db-and-odbc-data-sources

OLE DB can be used with non-relational data sources, and works pretty well with Excel with a db-query like API, instead of dedicated Excel interop that requires Excel to be installed. We have some code for example that uses OleDb for both SQL Ser

[2018-12-06 21:49] AlphaGit opened #33883 "Invalid client certificates and AWS API Gateway"
Hi there! I've been debugging for a while since I was not able to get my SSL Client Certificates to be available in my `HttpContext.Connection.ClientCertificate`.

I've come across #30483 which explains why some certificates are not included at all in the request information.

And yet, I have a use case: the client certificates generated by AWS API Gateway do not have the required properties, are

[2018-12-06 21:51] joperezr opened #33884 "[arm32/Linux] System.Text.Json.Tests failures on arm32 linux"
Running the arm32 tests on linux for System.Text.Json.Tests produced the following results: passed 900/908 tests.

The 8 failures all throw a JsonReaderException with the following message:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2655043/testResults.zip)

[2018-12-06 21:52] rjmholt opened #33885 "System.Runtime.InteropServices.RuntimeInformation.get_OSArchitecture() in cross-platform PowerShell module"
I'm the maintainer of the [PowerShell language server](https://github.com/PowerShell/PowerShellEditorServices), which is hosted as a cross-platform PowerShell module.

It targets net451 and netstandard1.6 (we have an upstream branch targeting netstandard2.0 we are moving to soon enough). We run on PowerShell v3/4/5.1 with net451 and PowerShell 6.0+ with netstandard1.6.

Because we rely on Windows

[2018-12-06 21:55] danmosemsft opened #33886 "Failure on SLES of ExecWaitWithCapture_CurrentDirectorySpecified_OutputIncludesSpecifiedDirectory"
Test added in https://github.com/dotnet/corefx/pull/33760/ is failing in SLES

https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20181206.01/workItem/System.CodeDom.Tests/analysis/xunit/System.CodeDom.Compiler.Tests.ExecutorTests~2FExecWaitWithCapture_CurrentDirectorySpecified_OutputIncludesSpecifiedDirectory

[code]
@stephentoub @ba

[2018-12-06 21:55] joperezr opened #33887 "[arm32/Linux] System.Numerics.Tensors.Tests failures on arm32 linux"
Running the arm32 tests on linux for System.Numerics.Tensors.Tests produced the following results: passed 814/820 tests.

All 6 tests fail with the following message:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2655063/testResults.zip)

[2018-12-06 21:56] danmosemsft commented on #33886
Oh https://github.com/dotnet/corefx/issues/33828

[2018-12-06 21:56] #33886 closed

[2018-12-06 21:56] danmosemsft commented on #33828
@stephentoub @bazuka5801 as this arrived in #33760

[2018-12-06 21:59] joperezr opened #33888 "[arm32/Linux] System.Console.Tests failures on arm32 linux"
Running the arm32 tests on linux for System.Console.Tests produced the following results: passed 138/139 tests.

Test WindowAndCursorProps.NonRedirectedCursorVisible failed with the following message:
[code]

[2018-12-06 22:12] joperezr opened #33889 "[arm32/Linux] System.IO.Compression.Tests failures on arm32 linux"
Running the arm32 tests on linux for System.IO.Compression.Tests produced the following results: passed 312/314 tests.

Two tests are failing Assert equal statements, the tests are:

[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2655133/testResults.zip)

[2018-12-06 22:29] joperezr opened #33890 "[arm32/Linux] System.Configuration.ConfigurationManager.Tests failures on arm32 linux"
Running the arm32 tests on linux for System.Configuration.ConfigurationManager.Tests produced the following results: passed 611/614 tests.

All three tests failed with:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2655177/testResults.zip)

[2018-12-06 22:32] danmosemsft commented on #33889
[code]

Tests were only just added in bac5bb8. I suspect the product was slightly older here?

[2018-12-06 22:38] joperezr opened #33891 "[arm32/Linux] System.Net.Http.Functional.Tests failures on arm32 linux"
Running the arm32 tests on linux for System.Net.Http.Functional.Tests produced the following results: passed 5807/5833 tests.

Seems like most of the tests that fail here were because a TaskCanceledException was thrown because reading a response timed out. Here is an example:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2655197/testResults.zip)

[2018-12-06 22:47] divega commented on #23542
This is a really good data point @voltcode, thank you. Indeed, accessing data from Microsoft Office applications (mostly Microsoft Access, but also Excel) is one primary use case we have identified for System.Data.OleDb.

I think it is worth mentioning that the ADO.NET provider model already enables accessing the majority of the functionality in a provider-agnostic way (using the base classes in S

[2018-12-06 22:47] joperezr opened #33893 "[arm32/Linux] System.IO.FileSystem.Watcher.Tests failures on arm32 linux"
Running the arm32 tests on linux for System.IO.FileSystem.Watcher.Tests produced the following results: passed 258/259 tests.

Test System.IO.Tests.FileSystemWatcherFilterListTests.FileSystemWatcher_ModifyFiltersConcurrentWithEvents threw an InvalidOperationException:
[code]

[2018-12-06 22:50] joperezr opened #33894 "[arm32/Linux] System.Diagnostics.TraceSource.Tests failures on arm32 linux"
Running the arm32 tests on linux for System.Diagnostics.TraceSource.Tests produced the following results: passed 272/273 tests.

Test System.Diagnostics.TraceSourceTests.DefaultTraceListenerClassTests.EntryAssemblyName_Null_NotIncludedInTrace threw an exception:
[code]

[2018-12-06 22:53] vcsjones commented on #33809
Looks good, but I hope there are plans to pare back some of the old things that should not be in there like Kerberos, NULL, anon, etc. If someone _REALLY_ wanted to use bad suites and knew what they were doing they could cast a value to the enum like `(CipherSuite)0` if they wanted to use NULL_NULL.

Along the same lines, it seems somewhat scary that the default value for the enum is also the leas

[2018-12-06 22:55] jhudsoncedaron opened #33895 "name collision with type Index added to System namespace"
tag:discussion

We have this very old class that's used all over the place called Index, which is basically a Dictionary that accepts more than one item per key. It's used like a mutable IGrouping and was recently retrofitted to implement IGrouping. It's use is so pervasive that it grew another implementation called SortedIndex which is to Index as SortedDictionary is to Dictionary.

So now we've

[2018-12-06 22:56] mguinness commented on #23542
@divega There's no way to use Windows Search in .NET Core currently as the `Search.CollatorDSO` provider is the only way to query the index.  I assume this is also the case with PowerShell Core,

[2018-12-06 22:57] joperezr opened #33896 "[arm32/Linux] System.Runtime.Serialization.Formatters.Tests failures on arm32 linux"
Running the arm32 tests on linux for System.Runtime.Serialization.Formatters.Tests produced the following results: passed 7071/7085 tests.

14 tests fail throwing an ArgumentException. Here is an example:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2655235/testResults.zip)

[2018-12-06 22:59] divega opened #33897 "Consider porting System.Data.SqlServerCe to .NET Core"
Creating this issue so that we can gather customer feedback on usage of SQL CE, and to try to figure out its relative priority to simplify the move of existing .NET Framework applications to .NET Core.

At the moment we don't have any concrete plans to do this port, and we haven't figured out feasibility.

Here are a few questions we would like you to consider answering if you decide to vote (via

[2018-12-06 23:01] bartonjs commented on #33809
@vcsjones 0 is a legal value for any enum, so `CipherSuite suite = default` would compile even if a zero-value isn't defined.

I think it's much easier to say that we'll regularly regenerate the list from the IANA registry, but making a policy around what to exclude gets weird (and is usually a thing we can only do once... making the exclusions look weird in 5 years).

[2018-12-06 23:02] achancecwg commented on #18276
We are developing a LOB application using UWP and just hit a roadblock because of the lack of support for this feature. I think that these types of feature are critical for developers to be able to adopt UWP and .NET Core/ .NET Standard, especially for Enterprise applications.

Would there need to be a separate issue opened for UWP support?

Please consider implementing this feature soon!

[2018-12-06 23:07] danmosemsft commented on #33897
Thumbs up on the top comment would be great also.

[2018-12-06 23:07] joperezr opened #33898 "[arm32/Linux] Microsoft.VisualBasic.Tests failures on arm32 linux"
Running the arm32 tests on linux for Microsoft.VisualBasic.Tests produced the following results: passed 19046/19079 tests.

Most test failures are caused to an InvalidCastException:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2655256/testResults.zip)

[2018-12-06 23:12] danmosemsft commented on #33898
Probably because tests from 1c34aea1482cff4bdf59c9fffa4b3ec706f18536 were present but product from that change was not. Mismatch.

[2018-12-06 23:12] #33898 closed

[2018-12-06 23:13] danmosemsft commented on #33896
Tests from fix for https://github.com/dotnet/corefx/issues/33655 are present but not the fix.

[2018-12-06 23:13] #33896 closed

[2018-12-06 23:14] danmosemsft commented on #33891
Looks like known flakiness unfortunately.  Let's reopen if the 2nd run hits the same

[2018-12-06 23:14] #33891 closed

[2018-12-06 23:32] ViktorHofer commented on #23588
Reopening as System.Private.CoreLib numbers are busted again. With my recent work I overlooked some details and we use the native System.Private.CoreLib.dll again. I'll try to solve this.

[2018-12-06 23:35] stephentoub commented on #33895
cc: @terrajobst, @tarekgh

[2018-12-06 23:42] tarekgh commented on #33895
@terrajobst is it possible out Index can be moved to a different namespace?

[2018-12-06 23:56] vcsjones commented on #33809
@bartonjs

Yes that is why my rational was to throw if the enum is 0, too:

[2018-12-07 00:35] jhudsoncedaron commented on #33895
In this case it has its own syntax, so System.Runtime.CompilerServices could be used.

But I said discussion for a reason. Perhaps there's a good way to prioritize imports.

[2018-12-07 00:36] BruceForstall commented on #29292
@wfurt Have you investigated this?

[2018-12-07 01:07] jorive commented on #33013
I spent more time looking at this bug and it seems like a deserialization bug on `TraceEvent`. I opened the generated etl file with `wpa` and `perfview`.
- `wpa` display the data properly (no stomp or corruption)
- `perfview` display the following:
[code]
which correspond to the following `TraceEvent` instance (under the debugger):
[code]
In the latter, you can see `anInt="-2,039,060,991"`, and `N

[2018-12-07 01:49] wfurt commented on #29292
I think I look at it while back and it looked more like a timing issue. I don't know if we have any recent failures.

[2018-12-07 01:53] rahuldutta90 commented on #33716
@davidsh You mean to say that httpwebrequest does not use the same task async mechanisms, so with httpclient this becomes worse?

This above code was a bare minimal repro sample code and we do use similar pattern in our SDK. I will try to change the pattern in future.

There is another interesting behavior I saw. So we have this perf test of our sdk code (which I havent shared here and based on th

[2018-12-07 02:50] JRBANCEL commented on #31448
Have you tried capturing the events with PerfView?
I thought I was hitting the same issue since I wasn't seeing my events in Event Viewer (while it used to work), but PerfView can capture all my events: netcoreapp2.1/win-x64.

This suggests the problem could be somewhere else.

[2018-12-07 03:40] #33844 closed

[2018-12-07 03:49] AraHaan commented on #33849
Now that I think of it it looks like you are resizing the image as well, which then makes it too big for normal GDI+, and libgdiplus to handle.

[2018-12-07 07:46] voltcode commented on #23542
@divega yes I have plans for migration to .net core 3, but this issue is a blocker. We have a set of applications with similar dependencies, so it's not just a single app.

Throughout ca. 10years, at customers sites I saw and maintained many apps that used OLEDB, primary use was for reading Excel files. Most of those apps work today, and cannot be moved to core because it requires too much redevel

[2018-12-07 08:57] adamrodger commented on #33866
Hi @rmkerr - I would definitely be interested in fixing it, I've just found it really difficult to actually get the solution built because it's so big and complicated. The way I diagnosed this was actually copying and pasting the relevant code into a new solution of my own to create a little console app that proves the problem... Oh dear 😄

I'll have another go and let you know if I get anywhere.

[2018-12-07 09:08] hackfaq commented on #32752
Hello, we have experiensed same problem:

System.Data.SqlClient.SqlException (0x80131904): The incoming tabular data stream (TDS) protocol stream is incorrect. The MARS TDS header contained errors.
   at System.Data.SqlClient.SqlCommand.<>c.<ExecuteDbDataReaderAsync>b__122_0(Task`1 result)
   at System.Threading.Tasks.ContinuationResultTaskFromResultTask`2.InnerInvoke()
   at System.Threading.Exec

[2018-12-07 10:17] shartte commented on #15329
Regarding use cases:
Maybe I am misunderstanding this, but I was trying to stackalloc a Span of simple structs, then sort it, but this seems impossible to do without this issue being solved. Is that correct?

Example (which doesn't compile):
[code]

[2018-12-07 11:50] tactical-drone commented on #33879
Thanks for the help.

I wish I could switch to dotnet core 3.0 but netstandard 2.0 does not support it, and some of the libraries I use are netstandard. Do you guys know when dotnet core 3.0 will be supported by netstandard? I cannot find any roadmaps.

[2018-12-07 12:05] stephentoub opened #33904 "CultureInfo tests failing on UWP"
[code]

[2018-12-07 13:13] adamrodger commented on #33866
Well, I've been trying to fix that for 4 hours now and I'm not really much closer. The tests can only be compiled and executed via the CLI instead of in Visual Studio, which means I can't attach a debugger. Because the tests have to do fake interop that makes them very difficult to diagnose without the aid of running the tests via the debugger.

Coupled to that, every time I do build the tests via

[2018-12-07 13:32] MarcoRossignoli commented on #33746
@stephentoub seems that netfx doesn't respect guide, I did some tests and on "cancel state" code drain queue https://referencesource.microsoft.com/#System/services/monitoring/system/diagnosticts/AsyncStreamReader.cs,278
What do you think we need to respect?Doc or netfx?

[2018-12-07 13:45] stephentoub commented on #33746
Can you share your tests?

[2018-12-07 13:47] MarcoRossignoli commented on #33746
Sure https://github.com/dotnet/corefx/compare/master...MarcoRossignoli:process

[2018-12-07 14:21] nietras commented on #15329
@shartte yes only when this proposal has been implemented will you be able to do that.

I did a PR for this in https://github.com/dotnet/corefx/pull/26859 but this was rejected.

In https://github.com/DotNetCross/Sorting I have this in separate source form but haven't had time to clean this up and package as a nuget package for general use.

[2018-12-07 15:55] rido-min commented on #23542
@FroggieFrog  thanks for your feedback. FYI you can use modern web view in WinForms/WPF running on .NET Framework using [https://www.nuget.org/packages/Microsoft.Toolkit.Win32.UI.Controls/](https://www.nuget.org/packages/Microsoft.Toolkit.Win32.UI.Controls/)

[2018-12-07 16:08] bartonjs commented on #11046
@jeremyVignelles  Nope, sorry.  I'm hoping to get the time to rewrite the PFX loader entirely to work around platform-specific quirks like this.  The new Pkcs12Info type in .NET Core 3.0 should be capable of exploring (and extracting data from) a PFX in this state, so you might be able to write a loader for your particular needs.

https://apisof.net/catalog/System.Security.Cryptography.Pkcs.Pkcs12

[2018-12-07 17:07] carlreinke commented on #33701
cc: @kouvel

[2018-12-07 17:35] dotnet-mc-bot opened #33910 "Build failure: 20181207.02 & 20181207.01"
Opened on behalf of @v-asdhin

Warnings: 3
Status Message: failed

Build : 3.0 - 20181207.02 (Product Build)
Failing configurations:
- Windows
  - netfx-x86
  - netfx-x64
  - AllConfigurations-x64
  - uapaot-x86
  - uapaot-x64
  - uapaot-arm
  - uap-x86
  - uap-x64
  - uap-arm
  - netcoreapp-x86
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~

[2018-12-07 17:47] jkotas commented on #33879
The roadmap for netstandard is explained in https://blogs.msdn.microsoft.com/dotnet/2018/11/05/announcing-net-standard-2-1/

[2018-12-07 18:10] mattlorimor commented on #20055
@danmosemsft - Is this still wanted?

If so, would it be a safe assumption that you'd like to see it solved by adding the more-specific error messages to the relevant [```Strings.resx```](https://github.com/dotnet/corefx/blob/a0cfc0492df974ebb2b9293e4d5640e1c1505263/src/System.Security.Cryptography.Algorithms/src/Resources/Strings.resx) files?

There seem to be a few scenarios that should be cover

[2018-12-07 18:42] krwq commented on #33514
Seems like we returned wrong error code. The doc technically says that anything but 0 should mean error but it reacts only to SSL_TLSEXT_ERR_ALERT_FATAL. I've sent a patch

[2018-12-07 18:45] rmkerr commented on #33866
Glad to hear you're taking a look at it!

I haven't tried debugging the tests in VS recently, so I'm not familiar with that particular issue. If you haven't seen it yet, [the developer guide](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md) contains a ton of useful info, including how to build or run the tests for just a single project.

You may also be a

[2018-12-07 18:59] adamrodger commented on #33866
Thanks for that. I'd already read the dev guide but I've not been in the
gitter channel so I'll give that a go. I would like to get it sorted myself
ideally.

I notice the issue has been tagged as version 3.0, is that correct? Just so
I know which branch to base the fix on.

On Fri, 7 Dec 2018, 18:46 Max Kerr, <notifications@github.com> wrote:

[2018-12-07 19:09] rmkerr commented on #33866
Yep, 3.0 is correct. Development for 3.0 is currently out of the master branch, so you can just fix it there. There is a precedent for porting this kind of proxy fix back to the LTS releases, but getting it fixed in master is the first step.

[2018-12-07 19:11] khellang commented on #33861
What about `ValueType` and `Issuer`? I'm not sure an `Equals` method is as straight forward as it seems. It's probably best to just use something like https://github.com/IdentityModel/IdentityModel2/blob/master/src/ClaimComparer.cs

[2018-12-07 19:12] danmosemsft commented on #20055
I am not a crypto person. @bartonjs is though, and can hopefully give exact guidance.

[2018-12-07 19:13] danmosemsft commented on #20055
Without good reason, it is not allowed to change a thrown exception (except to a base type) because it breaks existing code. I would focus on the message.

[2018-12-07 19:32] mattlorimor commented on #20055
Sounds good, @bartonjs. Thanks for the candidness.

[2018-12-07 20:30] abdulbeard commented on #5681
crickets..........

[2018-12-07 20:58] JeremyKuhne commented on #5681
@abdulbeard Sorry, the actual owner here moved on to another project and this got lost in the shuffle. 😦 Thanks for poking on it.

@stephentoub can you give some direction/guidance on the disposal questions? @ericstj do you think this proposal provides what you were looking for?

Presumably [`IAsyncEnumerable<ZipArchiveEntry>`](https://blogs.msdn.microsoft.com/dotnet/2018/11/12/building-c-8-0/) wo

[2018-12-07 21:17] JeremyKuhne commented on #5681
@ahsonkhan, @ViktorHofer can one of you take this and drive it forward?

[2018-12-07 21:31] stephentoub commented on #5681
We have added `IAsyncDisposable` and C# is adding `await using` that works with it.  If disposing a `ZipArchive` does work that could be asynchronous (e.g. flushing a stream), having `ZipArchive` implement it is quite reasonable.  Note that `Stream` itself now implements `IAsyncDisposable` as well.

[2018-12-07 21:33] stephentoub commented on #5681
It depends.  Is ZipArchive lazily reading from a stream, e.g. when you go to read the next entry, might that perform a read on the stream?  If yes, then having it return an IAsyncEnumerable could make sense.  If no, then it should probably return a synchronous enumerable.

[2018-12-07 22:03] krwq commented on #33809
@vcsjones EncryptionPolicy controls the behavior for NULL ciphers so it won't get added by accident anyway. I'll make sure to respect that when you set AllowedCipherSuites

[2018-12-07 22:14] #33882 closed

[2018-12-07 22:34] EamonNerbonne commented on #15329
If people are still waiting for things like this; I wrote a nuget package that's similar in spirit: https://github.com/EamonNerbonne/anoprsst.  However, I didn't try to keep the API similar to Array.Sort since I was aiming to avoid perf-pitfals (i.e. no virtual calls, ever).  In particular that means you can do `someSpan.SortIComparableUsing().Sort()` but that's constrained to sorting `structs` on

[2018-12-08 00:01] Anipik opened #33919 "Add back StandardOleMarshalObject and IMarshal"
These are used by Winforms to ensure that COM calls are marshalled to UI thread. It's used by the webrowser control and in the base type for accessible controls (to permit external automation). See https://referencesource.microsoft.com/#System/compmod/System/Runtime/InteropServices/StandardOleMarshalObject.cs,9cc1693e68a2dac7,references I've temporarily implemented this as a copy where I need it,

[2018-12-08 00:02] danmosemsft commented on #33919
Test issue for labeler

[2018-12-08 00:37] nguerrera opened #33922 "System.IO.Pipes.AccessControl missing from shared framework on non-Windows"
System.IO.Pipes.AccessControl is in the shared framework on Windows, in the Microsoft.NETCore.App package platform manifest, but missing from the shared framework on non-Windows. It was there in 2.x, but now gone in 3.0

## Repro steps
0. Install .NET Core 3.0 Preview 1 on a Linux box
1. mkdir repro && cd repro
2. dotnet new console
3. Edit Program.cs

[code]

4. Edit repro.csproj
[code]
5. dotnet

[2018-12-08 06:36] terrajobst commented on #33895
`System.Runtime.CompilerServices` is meant for types that you basically never have to use yourself. While'  `Range` and `Index` have language syntax, you still need to use the type name for parameters and return declarations of methods -- they are not like tuples where the language offered syntax for the types. For `Range` and `Index` the language only provides syntax for values. That's why these

[2018-12-08 06:53] #33514 closed

[2018-12-08 06:53] #32946 closed

[2018-12-08 07:04] kg opened #33927 "Proposal: ref-argument version of IComparer and/or Comparison"
For scenarios where you want to sort an array or list of structs, the overhead of pass-by-value for IComparer/Comparison can become quite significant, especially if the structs are large. In my experience it's difficult to ensure all the comparisons get inlined by the runtime (though I'm sure there's always room for improvement there) - the ideal solution (and one I've implemented by hand) is to d

[2018-12-08 10:41] effyteva commented on #25967
@karelz
Hi, we tried switching to Docker containers with Linux, and just ran into the same issue.
Reproduction is pretty simple,
long.Parse("-1") (minus, not dash) - throws in exception
Our application uses CultureInfo of he-IL
This seems like a major bug, not sure how it managed to slip through...

Is there any way of setting the Linux .NET to always use minus and not dash sign?

[2018-12-08 11:15] effyteva commented on #25967
Another example for this issue - the MySQL .NET core library suffers from the same issue as well, as can be seem from the stack track:
System.FormatException: Input string was not in a correct format.
   at System.Number.StringToNumber(ReadOnlySpan`1 str, NumberStyles options, NumberBuffer& number, NumberFormatInfo info, Boolean parseDecimal)
   at System.Number.ParseInt64(ReadOnlySpan`1 value, Nu

[2018-12-08 12:12] ViktorHofer commented on #33910
Reopening as the issue isn't fully fixed yet.

[2018-12-08 14:36] effyteva commented on #25967
This might be the same issue as https://github.com/dotnet/coreclr/issues/1734
Which for some reason Microsoft decided to abandon 😞

[2018-12-08 15:57] svick commented on #25967
@effyteva If you're not working with localized strings, you should always pass `CultureInfo.InvariantCulture` to any parsing or formatting methods you call. E.g.:

[code]

[2018-12-08 16:05] benaadams commented on #25967
Or set it prior to making a call if its happening further down the stack e.g.
[code]

[2018-12-08 18:21] Wraith2 opened #33930 "SqlClient ManualTest MARSSyncTimeoutTest fails in managed mode"
When using the managed sni implementation in SqlClient the MARS related test MARSSyncTimeoutTest fails with an assertion in debug mode. This may not cause a problem in release builds because there are sufficient checks in the method body to prevent errors occurring or bubbling up to the user. I suspect that the assertion is incorrect but it needs scrutiny from someone more familiar with the librar

[2018-12-08 19:18] ericstj commented on #33922
This change regressed it: https://github.com/dotnet/corefx/commit/4e76a6c02552422ce07967f4249acad3b71b80ef
/cc @weshaggard

[2018-12-08 19:40] vcsjones commented on #33279
Happy to do a PR for this when it gets through API review.

[2018-12-08 20:29] nguerrera commented on #33922
How involved is the fix? A quick turnaround would be much appreciated to get our toolset insertions into the SDK unblocked.

[2018-12-08 20:36] IvaYan opened #33931 "Resources (.resx) give null instead of a string"
I'm trying to use Resources (.resx) in my .Net Core **console** app, but for some reason I'm not able to get string from a resource, instead, I'm always getting null. Here is example code that reproduce the issue:
[code]

And here is the content of the Resources.resx file:
[code]

I'm using Mac and dotnet core 2.2.100 (seems to be the latest version). Adding Microsoft.Extensions.Localization didn'

[2018-12-08 22:40] AraHaan opened #33934 "Clean up suppressed XML documentation warnings"
On my Pull request
https://github.com/dotnet/corefx/pull/32934 I suppressed a lot of xml documentation errors including errors for paramiters in the documentations that is not in the method, missing xml documentations for other methods, etc.

Also in Microsoft.VisualBaisic I disabled it because for some reason it wants to write it to "$(OutputPath)$(OutputPath)$(ProjectName)" which makes Windows b

[2018-12-08 22:41] Tornhoof commented on #26796
Is it allowed to add/use the Unsafe library in System.Security.Cryptography.Algorithms?

tl;dr: We could gain another ~5%.
If we:
1. replace the current per byte xor handling with an uint xor handling:
https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/Rfc2898DeriveBytes.cs#L277-L280

2. replac

[2018-12-08 22:47] AraHaan commented on #33934
@danmosemsft wrong label, and milestone from the bot, all because my iPhone messed upand posted the issue.

[2018-12-08 22:48] #33236 closed

[2018-12-08 22:49] AraHaan commented on #33236
I am closing this for my newer issue as it should explain in more detail what should be left to do.

[2018-12-09 00:57] AraHaan commented on #33934
yes that is true.

[2018-12-09 00:59] AaronRobinsonMSFT commented on #26257
@falahati and @Evmaus-MS This is being actively worked on my @jkoritzinsky. The relevant PR is dotnet/coreclr#21343.

@jkoritzinsky I believe you tested the above scenario, can you confirm that?

[2018-12-09 01:18] nebosite commented on #26257
@jkoritzinsky - Cool, will this generically solve all errors of "System.PlatformNotSupportedException: IDispatch and IDispatchEx are not supported"?

I am current hitting this error trying to enumerate outlook folders from a netcoreapp.

[2018-12-09 04:51] danmosemsft commented on #33931
Sounds like this is fixed.

[2018-12-09 04:51] #33931 closed

[2018-12-09 05:14] benaadams commented on #33798
Similar problem with the corefx packages but even worse e.g. `System.IO.Pipelines` https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.IO.Pipelines

![image](https://user-images.githubusercontent.com/1142958/49693650-c54f0800-fb70-11e8-82da-16461d228fa4.png)

Whereas the actual newest is much further down

![image](https://user-images.githubusercontent.com/1142958/49693659-021aff00-fb71

[2018-12-09 06:47] ericstj commented on #33922
Here's a fix: https://github.com/dotnet/corefx/pull/33936

[2018-12-09 06:54] sba923 commented on #33644
I've been able to figure things out:

[code]

Here's the output:

[code]

[2018-12-09 07:11] effyteva commented on #25967
Thanks guys, updating all our Parse methods to InvariantCulture solved this.
Not sure where the MySQL error original from, but as soon as the Parse methods were fixed, the MySQL issue disappeared as well.

[2018-12-09 08:11] karelz commented on #33847
Shouldn't that be part of https://github.com/dotnet/wcf repo?

[2018-12-09 08:18] karelz commented on #33873
@wtgodbe can you please take a look? cc @joperezr

[2018-12-09 08:19] karelz commented on #33873
@jwang98052 can you please try to target .NET 4.7.2? Does that work around the problem?

[2018-12-09 08:30] karelz commented on #33883
Which APIs are causing you troubles? [`HttpContext`](https://apisof.net/catalog/Microsoft.AspNet.Http.HttpContext) is part of ASP.NET, not part of CoreFX.

[2018-12-09 08:31] karelz commented on #33834
Do you have a minimal repro? Does it happen with HelloWorld?
Do you know where the netcoreapp2.1 comes from?

@nguerrera can you please help route the issue? Does not seem to be CoreFX problem ...

[2018-12-09 08:36] karelz commented on #33848
Duplicate of #33839

[2018-12-09 08:36] #33848 closed

[2018-12-09 08:44] karelz commented on #33837
Duplicate of #29163

[2018-12-09 08:45] karelz commented on #33836
Duplicate of #29163

[2018-12-09 08:45] #33836 closed

[2018-12-09 10:07] pinkfloydx33 commented on #33834
Only seems to be happening in the one project. Even tried recreating the project file from scratch. Not sure what you mean about where the 2.1 comes from? It was the previous (still installed) Sdk. If this belongs elsewhere please tell me where...I found a similar issue for the preview release of 2.2 in this repo which is why I posted here.

[2018-12-09 12:06] roji commented on #3688
Useful article on SqlClient batching options: https://blogs.msdn.microsoft.com/dataaccess/2005/05/19/does-ado-net-update-batching-really-do-something/ (copied from https://github.com/dotnet/corefx/issues/31070#issuecomment-405393102).

[2018-12-09 12:10] jkotas opened #33937 "System.IO.Pipelines.Tests.SchedulerFacts/ThreadPoolScheduler_SchedulesOnThreadPool test failure"
`System.IO.Pipelines.Tests.SchedulerFacts/ThreadPoolScheduler_SchedulesOnThreadPool` test failed in https://github.com/dotnet/corefx/pull/33695#issuecomment-445530882 with:

[code]

[2018-12-09 12:14] roji commented on #3688
It's important to note that batching via `CommandText` with semicolons also seems to have some pretty serious drawbacks even for SqlServer, as described here: https://blogs.msdn.microsoft.com/dataaccess/2005/05/19/does-ado-net-update-batching-really-do-something/ (also see #31070).

An ADO.NET batching API would permit exposing SqlCommandSet in a portable way and boost performance there as well.

[2018-12-09 14:12] nguerrera commented on #33922
Thanks!

[2018-12-09 15:09] nguerrera commented on #33834
This issue was moved to dotnet/sdk#2737

[2018-12-09 15:09] #33834 closed

[2018-12-09 16:12] wanton7 opened #33938 "Add NullIfEmpty and NullIfWhitespace for string"
Add `string.NullIfEmpty(str)` and `string.NullIfWhitespace(str)` or add them as extension methods for string like @jnm2 described here https://github.com/dotnet/csharplang/issues/183

[2018-12-09 18:15] tirth commented on #33847
Oh I wasn't sure what the best place was, I can open the issue there instead. Didn't realize WCF was going Core too, I figured it would only be through the compat pack. Thanks!

[2018-12-09 20:45] pranavmehta commented on #5014
+1 as I have the same issue with Facebook (example URL: https://www.facebook.com/groups/sem.marketing/) as well.

[2018-12-09 21:47] SteveL-MSFT opened #33940 "Extend ProcessStartInfo to allow setting"
In the current [code](https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Windows.cs#L530), the only logon flag that is settle is `LOGON_WITH_PROFILE`.  However, as a security precaution, enterprises are starting to enable policy to restrict service accounts to use non-interactive logon token.  `ProcessStartIn

[2018-12-09 22:40] Wraith2 commented on #33930
To be clear, I'm happy to fix this and run it through the required testing then PR if we can agree what the fix should be.

[2018-12-09 22:59] jkotas commented on #33938
@Anipik Is `Dotnet-GitSync-Bot` misbehaving? It added this issue to odd 1.0.0-beta7 milestone...

[2018-12-09 23:02] Anipik commented on #33938
i will take a look at this

[2018-12-09 23:06] Anipik opened #33941 "Add back StandardOleMarshalObject and IMarshal"
These are used by Winforms to ensure that COM calls are marshalled to UI thread. It's used by the webrowser control and in the base type for accessible controls (to permit external automation). See https://referencesource.microsoft.com/#System/compmod/System/Runtime/InteropServices/StandardOleMarshalObject.cs,9cc1693e68a2dac7,references I've temporarily implemented this as a copy where I need it,

[2018-12-09 23:07] #33941 closed

[2018-12-09 23:07] #33919 closed

[2018-12-09 23:45] ericstj opened #33944 "Review platform specific implementation only assemblies added in this release"
For some assemblies we can only include on a single platform if we omit them from the platform manifest. See #33936

[2018-12-10 00:00] Anipik opened #33945 "Add back StandardOleMarshalObject and IMarshal"
These are used by Winforms to ensure that COM calls are marshalled to UI thread. It's used by the webrowser control and in the base type for accessible controls (to permit external automation). See https://referencesource.microsoft.com/#System/compmod/System/Runtime/InteropServices/StandardOleMarshalObject.cs,9cc1693e68a2dac7,references I've temporarily implemented this as a copy where I need it,

[2018-12-10 00:00] #33945 closed

[2018-12-10 00:01] Anipik opened #33946 "Add back StandardOleMarshalObject and IMarshal"
these are used by Winforms to ensure that COM calls are marshalled to UI thread. It's used by the webrowser control and in the base type for accessible controls (to permit external automation). See https://referencesource.microsoft.com/#System/compmod/System/Runtime/InteropServices/StandardOleMarshalObject.cs,9cc1693e68a2dac7,references I've temporarily implemented this as a copy where I need it,

[2018-12-10 00:01] #33946 closed

[2018-12-10 00:01] Anipik commented on #33938
I have corrected the issue :) Thanks for letting me know

[2018-12-10 00:11] Anipik commented on #33938
https://github.com/dotnet/arcade/pull/1509

[2018-12-10 04:02] danmosemsft commented on #33934
Specifically the work here is to fix documentation errors, that is, take a project in 6abb4cd that disables one or more of the warning numbers below, remove the warning-disabling, and fix the issues so the build is clean:
[code]
It is not a goal here to add XML docs for projects that don't have a complete set already, that's these warning numbers:
[code]
For such cases, we should have a discussion

[2018-12-10 04:06] nguerrera commented on #33922
Fixed by #33936

[2018-12-10 04:06] #33922 closed

[2018-12-10 04:13] danmosemsft commented on #33895
Can you either
1. search and replace (or use Roslyn analyzer) to fully qualify use of your `Index` or
2. insert statement like `using Index = MyNamespace.Index;` at the top of all your files?

[2018-12-10 04:33] danmosemsft commented on #33885
Windows apisets don't work down level apparently. I believe that is why we removed all use of Windows apisets in 75e45da8d7104e7f6b737d552bbc332d14211da8. We stopped publishing S.R.IS.RI individually about that time. I guess just before the change above.

I suppose this can be considered a bug in that old package. @ericstj I guess we would recommend moving to NS2.0 (implying .NET Core 2.0) and fai

[2018-12-10 04:33] danmosemsft commented on #33889
Mismatched product.

[2018-12-10 04:33] #33889 closed

[2018-12-10 04:34] danmosemsft commented on #33893
Mismatched product.

[2018-12-10 04:34] #33893 closed

[2018-12-10 04:36] danmosemsft commented on #33890
@joperezr I cannot think of what this could have been. This code has not changed in 2 years. Does it repro?

[2018-12-10 04:37] danmosemsft commented on #33894
Mismatched product - field was renamed at that time

[2018-12-10 04:37] #33894 closed

[2018-12-10 04:38] danmosemsft commented on #33884
I'm going to guess mismstched product. Please reactivate if it reproes.

In general, a failure like this is unlikely to be a real ARM specific failure.

[2018-12-10 04:38] #33884 closed

[2018-12-10 04:40] danmosemsft commented on #33938
At least it got the label right. Good bot!

[2018-12-10 06:58] justindrocco opened #33949 "Xml schema validation does not fail on trailing line-feed"
Using the XmlReader, I'm performing schema validation on XML elements who's datatype does not allow line-feeds.  If the value contains a line-feed at the beginning or anywhere before the end of the string, schema validation fails as expected.  If the value ends with space before the line-feed, it fails schema.  Only when the line-feed is at the end of the string does the schema validation not fail

[2018-12-10 09:24] segor opened #33950 "XmlSerializer.FromTypes() memory leak"
Recently we got memory leak on production and spent much time to find this line of code:
[code]
LLDB +SOS shows that it generates a lot of  `RuntimeType` objects that are not being collected by GC:
[code]

Example to trigger this problem:
[code]
It seems like the `XmlSerializer` constructor does cache a serialization for every type but `XmlSerializer.FromTypes()` does not . So potential fix could

[2018-12-10 10:00] lennylxx opened #33951 "PNG images with 16bpp aren't supported by libgdiplus"
I'm using System.Drawing.Common on Ubuntu, there is exception when loading a 16bit png file.

[code]
**Ubuntu versions:**
OS: Ubuntu 18.04.1 LTS
Kernel: 4.15.0-39-generic x86_64
dotnet: 2.1.500
System.Drawing.Common: 4.6.0-preview.18571.3
libpng16: 1.6.34-1ubuntu0.18.04.1
libgdiplus: 4.2-2

However, there is no exception when I test the same image on CentOS.

**CentOS Versions:**
OS: CentOS 7
Kern

[2018-12-10 12:13] stap123 commented on #32752
I got this again this morning between 07:38:09 and 07:39:22.

Not sure if that's useful to help you track anything down or not.

[2018-12-10 14:04] hughbe opened #33953 "error : Failed to resolve SDK 'Microsoft.NET.Sdk.IL` building clean corefx on mac"
Any ideas?
[code]

[2018-12-10 16:17] jhudsoncedaron commented on #33895
#2 is probably going to work.

[2018-12-10 17:22] Frank591 opened #33957 "HttpClient: OperationCanceledException hides previous exceptions"
Hello.

We use `System.Net.Http.HttpClient `for calls between microservices inside k8s.
OS Linux(inside docker)
dotnet TargetFramework: netcoreapp2.1
server: Kestrel
protocol: http

Few days ago we noticed very strange behaviour of http calls:
some calls between microservice(near 2-3%) failed with error
[code]
after our timeout for http calls(it is 3 sec). But there was no logs about call inside c

[2018-12-10 17:31] rmkerr commented on #5014
Thanks for the additional info! It's good to know this issue is really something users are running in to.

The change resolving this issue was merged in #33280, and will ship with the next release of .NET Core. Currently I don't think that we plan to port it back to older versions, but if it's something that the community really needs that could change.

[2018-12-10 17:55] danmosemsft opened #33958 "Official test runs should use crossgened bits"
Right now we do not test crossgen'ed bits in the Corefx official test runs. This is because the product is not crossgen'ed until the code reaches core-setup. This means we are not testing what the customer actually uses and are implicitly relying on higher level repos to do this testing.

It should be possible to crossgen in CoreFX official builds purely for the purpose of tests (we would throw th

[2018-12-10 18:04] #33789 closed

[2018-12-10 18:16] ViktorHofer opened #33959 "Update code coverage template"
The current template does not contain all features that come with ReportGenerator. Also it contains a zip link at the top right which indicates that it is custom tailored.

@mmitche @MattGal is the htmlPublisher using a static template? how can we update it?

cc @danmosemsft

[2018-12-10 18:19] ViktorHofer commented on #33595
Also failing for me consistently on Ubuntu 18.04.

[code]

[2018-12-10 18:21] mmitche commented on #33959
@ViktorHofer It's just grabbing all html files that are specified in the glob pattern, not based off of a template.

[2018-12-10 18:35] ericstj commented on #33944
If we wanted to support this we'd need to add some way of excluding these from the platform manifest when it is built in core-setup.

[2018-12-10 18:39] lexugax commented on #33651
@caesar1995  @davidsh I'm sorry for the late response. After discussing the issue with someone from my company's Information Security group, I cannot send the log files due to security concerns. Please let me know if there is any other way or information I could look for. Currently I am setting up a test environment to verify that the certificate is indeed being sent or not by using wireshark to i

[2018-12-10 18:45] ericstj commented on #33885
/cc @joperezr
System.Runtime.InteropServices.RuntimeInformation was absorbed into NETStandard which is why the package stopped being produced.  For desktop this means it started being included inbox in `net471` prior to that it was distributed with MSBuild, in eg in `C:\Program Files (x86)\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\net461\lib`.  This version will have the fix.  I checked and

[2018-12-10 18:53] freworr commented on #33703
The distribution of dependency duration of enabled SocketsHttpHandler is similar to the disabled SocketsHttpHandler. It may have hit the connection timeout more often when it was enabled. So I can't see any significant improvement either.

[2018-12-10 18:55] Eirenarch commented on #5014
@rmkerr as someone who does run into this issue today I'd rather get a backported fix rather than deal with workarounds that I would later remove. I am not sure that justifies backporting.

[2018-12-10 19:06] jkoritzinsky commented on #26257
@AaronRobinsonMSFT Yep!

@nebosite You shouldn't be seeing that error in a .NET Core app any more in the nightly builds of CoreCLR.

[2018-12-10 19:12] #26257 closed

[2018-12-10 19:15] karelz commented on #5014
@Eirenarch backporting brings risk, it has associated cost.
How bad is the workaround? How bad is it to live with it?
How many devs are impacted to the point they would like to see a backport?

Answers to these questions might change our mind and backport it.

[2018-12-10 19:15] marquesoftware commented on #33703
In some requests I have received the "CommunicationException" error after 21 seconds.

[2018-12-10 19:25] galakt commented on #17126
@danmosemsft @saurabh500 Can you update\show little roadmap for this issue? I wanna continue contribute while my previous PR on review

[2018-12-10 19:31] karelz commented on #17126
@David-Engel @keeratsingh @AfsanehR should be able to comment on plans here

[2018-12-10 20:42] wfurt commented on #18012
This should throw PNSP, right @krwq ? Unless we polluted 2.2 with 3.0 work.

[2018-12-10 20:54] #33614 closed

[2018-12-10 20:54] #33613 closed

[2018-12-10 21:12] dotnet-mc-bot opened #33961 "Build failure: Failure to parse storage connection string"
Opened on behalf of @robertborr

Warnings: 1
Status Message: failed

Build : 3.0 - 20181210.02 (Product Build)
Failing configurations:
- Windows
  - netfx-x86
  - netfx-x64
  - uapaot-x86
  - uapaot-x64
  - uapaot-arm
  - uap-x86
  - uap-x64
  - uap-arm
  - netcoreapp-x86
  - netcoreapp-x64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/ty

[2018-12-10 21:16] joperezr commented on #33874
Didn't repro in the second time we ran these tests so closing for now.

[2018-12-10 21:16] #33874 closed

[2018-12-10 21:17] joperezr commented on #33888
Didn't repro the second time we ran these tests, so closing this for now.

[2018-12-10 21:17] #33888 closed

[2018-12-10 21:18] joperezr commented on #33890
It doesn't. Closing for now since it didn't repro on the second run.

[2018-12-10 21:18] #33890 closed

[2018-12-10 21:44] GrabYourPitchforks commented on #33602
@svick The next step is obsolete as error, which needs to be non-suppressible. This argues that going through the standard obsolescence procedure is more appropriate than an analyzer.

[2018-12-10 21:59] GrabYourPitchforks commented on #30879
@gafter The API [`Rune.ToLower`](https://apisof.net/catalog/System.Text.Rune.ToLowerInvariant(Rune)) is now checked in. There's a culture-invariant overload and a culture-aware overload. Please let me know if this works for your use case.

[2018-12-10 22:01] wfurt commented on #29703
2.0 does not have SocketHttpHandler so if its failing it would be for other reason and AppContext should have NO impact.

[2018-12-10 22:05] joperezr opened #33964 "[arm32/Linux] System.Text.RegularExpressions.Tests failures on arm32 linux"
Running the arm32 tests on linux for System.Text.RegularExpressions.Tests produced the following results: passed 1498/1499 tests.

The test that failed was System.Text.RegularExpressions.Tests.RegexMatchTests.Match_ExcessPrefix and this is the output:
[code]

[2018-12-10 22:10] joperezr opened #33965 "[arm32/Linux] System.Runtime.Tests failures on arm32 linux"
Running the arm32 tests on linux for System.Runtime.Tests produced the following results: passed 31235/31245 tests.

All 10 failing tests have the same message which is:
[code]

[2018-12-10 22:11] joperezr commented on #33965
cc @tarekgh

[2018-12-10 22:16] joperezr opened #33966 "[arm32/Linux] System.IO.FileSystem.Tests failures on arm32 linux"
Running the arm32 tests on linux for System.IO.FileSystem.Tests produced the following results: passed 4041/4042 tests.

The test that failed was System.IO.Tests.File_GetSetTimes.SetDateTimeMax with the following output:
[code]

[2018-12-10 22:16] joperezr commented on #33966
cc: @JeremyKuhne

[2018-12-10 22:17] joperezr commented on #33966
also cc @Anipik

[2018-12-10 22:25] bartonjs opened #33967 "Should Utf8JsonReader expose TokenStartIndex?"
The version of the JSON reader in corefxlab had a property, `TokenStartIndex` which allows a consumer of the reader to build a marker of their own when they can't persist a Span.

The workaround for Span involves doing Span value-address subtraction (asking where ValueSpan starts vs where the original data started), but that's presumably hard for Sequence scenarios.

Two things based on a whiteboa

[2018-12-10 22:44] safern commented on #32984
This was fixed in: https://github.com/dotnet/corefx/pull/32992

[2018-12-10 22:44] #32984 closed

[2018-12-10 22:58] GrabYourPitchforks commented on #33509
If the goal is to minimize the number of breaks by trading off a bit of API cleanliness, here's a modified proposal.

[code]

Key changes from the original proposal:
* Methods which operate on pointers or on 32-bit scalar values are removed in favor of methods which operate on spans or the `Rune` type. These three methods marked _remove_ all have 0% usage according to apisof.net.
* The `HtmlEncode

[2018-12-10 23:19] Wraith2 commented on #33930
This looked simple but quickly went down a rabbit hole filled with angry badgers. If the assert is removed the call to `DecrementPendingCallbacks` will assert because the callback count reaches -2, it's allowed to go to -1 but no further. Changing that assertion to allow any negative number causes a later assert in `ProcessSNIError` because the state object SNIContext is undefined.
The worrying pa

[2018-12-10 23:32] tarekgh commented on #33965
This will be good to be looked by the jit guys.

[2018-12-11 00:17] bartonjs opened #33968 "Random-access document model for JSON (JsonDocument)"
## JsonDocument

This class holds the parsed model of the JSON payload.  It rents storage from an array pool, and this is `IDisposable` to return the resources back.

Like XmlDocument, this type only really has a creation routine (`Parse`) and access to the root element.

An instance takes a ReadOnlyMemory during construction, and holds that ReadOnlyMemory until Dispose (caller modification of the

[2018-12-11 00:20] ahsonkhan commented on #32950
Fixed in https://github.com/dotnet/corefx/pull/33687.

[2018-12-11 00:20] #32950 closed

[2018-12-11 00:31] ViktorHofer commented on #15427
Outdated in favor of arcade and removal of buildtools.

[2018-12-11 00:31] #15427 closed

[2018-12-11 00:31] ViktorHofer commented on #15184
done with the arcade move.

[2018-12-11 00:31] #15184 closed

[2018-12-11 00:33] ViktorHofer commented on #15117
That's currently out-of-scope. Closing.

[2018-12-11 00:33] #15117 closed

[2018-12-11 00:40] bartonjs commented on #33968
Examples:

[code]

Transliteration of https://github.com/aspnet/AspNetCore/blob/1fd3fb764af4439bbd76d1f4a9601a14c92111ab/src/Security/src/Microsoft.AspNetCore.Authentication.OAuth/Claims/JsonKeyClaimAction.cs#L33-L55:

[code]

[2018-12-11 00:46] ViktorHofer commented on #16637
Outdated.

[2018-12-11 00:46] #16637 closed

[2018-12-11 00:51] #20942 closed

[2018-12-11 00:55] ViktorHofer commented on #20109
This is now automatically handled by Microsoft.DotNet.CoreFxTesting.

[2018-12-11 00:55] #20109 closed

[2018-12-11 01:00] ViktorHofer commented on #24320
@ericstj do you know which places are left that check for VS2015?

[2018-12-11 01:02] ViktorHofer commented on #21754
Outdated, closing. we don't run perf tests on UAP and we moved all tests over to dotnet/benchmark.

[2018-12-11 01:02] #21754 closed

[2018-12-11 01:33] gafter commented on #30879
Perfect!

[2018-12-11 03:02] jordan-johnson commented on #29703
After digging some, turns out I had forgotten to change the `program` value in `.vscode/launch.json` resulting in 2.1 running instead of 2.0. My mistake.

[2018-12-11 04:20] mmitche commented on #24320
IIRC core-setup is still building on dev14 officially...

[2018-12-11 04:48] danmosemsft commented on #33958
@jkotas that would mean a delay between a corefx commit and the test failure as the code has to be ingested into core-setup?

[2018-12-11 04:49] danmosemsft commented on #33958
Which is probably ok as we aren't looking at the results every day right now, but it would make root causing a harder : both the delay and loss of granularity

[2018-12-11 05:19] danmosemsft commented on #33964
Test is too slow on this machine

[2018-12-11 05:34] danmosemsft commented on #33951
Can you please move to the libgdiplus repo and close this one?

[2018-12-11 05:53] jkotas commented on #33958
There is a high fidelity between the crossgened code and JITed code. It is the exact same JIT generating the code, just with a slightly different settings. Bugs that repro with crossgen, but do not repro with JIT are relatively rare. I think it is ok to depend on official builds to catch crossgen specific bugs.

[2018-12-11 09:30] ctslr opened #33972 "'Enum' generic constraint should be sufficient for calls to Enum.TryParse<TEnum>(...)"
C# 7.3 'Enum' generic constraint should be sufficient for calls to Enum.TryParse<TEnum>(...). Currently this method has a 'struct' constraint on TEnum.

The following code fails with _CS0453: The type 'TEnum' must be a non-nullable value type in order to use it as parameter 'TEnum' in the generic type or method 'Enum.TryParse<TEnum>(string, out TEnum)'_
[code]

[2018-12-11 09:38] benaadams commented on #33972
Roslyn (C# compiler) issue? https://github.com/dotnet/roslyn

[2018-12-11 09:42] MichalStrehovsky commented on #33972
Changing the constraint from `struct` to `Enum` would be a source breaking change. This would no longer compile:

[code]

Also, the `: Enum` constraint doesn't give you the strict semantic one would want because it still lets you do:

[code]

[2018-12-11 10:20] MarcoRossignoli commented on #33595
Same issue(my track comment).

[2018-12-11 10:34] #33972 closed

[2018-12-11 10:41] benaadams commented on #33972
` where T : Enum` should probably imply struct though; which is why I'm suggesting its a compiler rather than an api issue

[2018-12-11 10:48] MichalStrehovsky commented on #33972
That can't be expressed in the file format. The only thing that can be expressed in the file format is "is or derives from this type", which is why C# still forbids `where T : ValueType` (because `System.ValueType` meets the constraint too, but `System.ValueType` is a reference type, same as `System.Enum`, and it doesn't do what one would expect it to do).

We would have to do a file format change

[2018-12-11 10:52] MichalStrehovsky commented on #33972
Ah, I see what you mean - they should secretly make `where T : Enum` into `where T : struct, Enum`. Might be worth an issue in Roslyn, but that ship probably sailed.

[2018-12-11 11:11] ViktorHofer commented on #24320
I was mainly talking about corefx but good to know.

[2018-12-11 12:46] gmazzotti commented on #31312
Hi,

I'm trying to implement an API integration with WebHDFS and I'm finding some problems with 100-continue thing.

Here is the api: https://hadoop.apache.org/docs/r2.7.3/hadoop-project-dist/hadoop-hdfs/WebHDFS.html#Create_and_Write_to_a_File

In the step 1, I used a try/catch block to handle the WebException when the server returns 307 for the redirection with the AllowAutoRedirect set to false.

[2018-12-11 13:22] stephentoub commented on #33746
You're right.  This call:
https://referencesource.microsoft.com/#System/services/monitoring/system/diagnosticts/AsyncStreamReader.cs,262
causes the buffer to emptied.  So the docs are just wrong.

[2018-12-11 13:37] stephentoub commented on #33746
Sure

[2018-12-11 15:14] AlexejLiebenthal commented on #33458
I'm a bit on both sides:
### Pro
- The user who needs to deal with numbers bigger than ``long.MaxValue``, doesn't need to implement their own function
- As it is not explicitly forbidden in json to deal with huge numbers it shouldn't be in an API neither.
- Could it be useful in some context  with big numbers like AI/ML, Security?
### Cons
- This is specialized type in ``System.Numerics`` and adds

[2018-12-11 15:20] ViktorHofer commented on #33958
I agree, this should run as part of an official build.

[2018-12-11 15:30] ViktorHofer commented on #16483
That should be fixed with the recent test changes and the use of VS2019.

[2018-12-11 15:30] #16483 closed

[2018-12-11 15:31] ViktorHofer commented on #16694
We should be able to do that now in the build.ps1 and build.sh script under /eng but probably need to duplicate the descriptions as we already do for the commands.

[2018-12-11 15:32] ViktorHofer commented on #18334
@ericstj we should be able to remove the workaround now. Do you want to do that, it should be a very minor change?

[2018-12-11 15:35] niklasweimann opened #33976 "Unknown Exception when using HTTP/2 in .NET core 2.2 to connect to api.push.apple.com"
Using .NET Core 2.2 on Windows 10 1803 (build 17134) and .Net Core 2.2 on Debian 9 docker-image: microsoft/dotnet:2.2-runtime

When I try to connect via HTTP/2 to https://api.push.apple.com an exception occurs. The exception is not descriptive enough to troubleshoot. I will post my code without the certificate implementation, because I get the same exception with or without the certificate at the

[2018-12-11 15:35] ViktorHofer commented on #21078
Moving to arcade as they are now the owners of the bootstrap script.

[2018-12-11 15:38] #21078 closed

[2018-12-11 15:38] ViktorHofer commented on #21078
Issue moved to [dotnet/arcade #1534](https://github.com/dotnet/arcade/issues/1534) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-11 15:43] ViktorHofer commented on #25382
This can probably be done after migration to Azure DevOps is done. @safern I'll assign you, I hope that's fine.

[2018-12-11 15:47] davidsh commented on #33976
Note:  ServicePointManager is a no-op on .NET Core.  So this code doesn't do anything:

[code]

[2018-12-11 15:50] ViktorHofer commented on #28850
Closing as this should be fixed. Please reopen if you still hit this error.

[2018-12-11 15:50] #28850 closed

[2018-12-11 15:52] ViktorHofer commented on #28985
Please retry with a more recent version of .NET Core and Visual Studio. As we didn't get a repro I will close this for now. Feel free to reopen if you still hit this error.

[2018-12-11 15:52] #28985 closed

[2018-12-11 15:54] ViktorHofer commented on #29890
Reapplying the area-Meta label as this doesn't require any infra bring-up.

[2018-12-11 15:55] ViktorHofer commented on #30558
@danmosemsft don't we want any badges in readme anymore at all even with Azure DevOps?
@safern will assign you, hope that's fine.

[2018-12-11 16:01] ViktorHofer commented on #29224
@danmosemsft who is responsible for our docker images? It seems clang 7.0 is already stable and should be used.

[2018-12-11 16:09] ViktorHofer commented on #29113
Talked with @eerhardt offline. We always want to produce portable assets on Windows. We should get rid of any portable switches for Windows and just make portable the default.

[2018-12-11 16:12] danmosemsft commented on #30558
We definitely want badges. Until AZDO we had no way to get them back . I'd like a while set of them on the Readme.

[2018-12-11 16:13] danmosemsft commented on #29224
@safern is it us?

[2018-12-11 16:31] Ozzard commented on #29147
Bug confirmed on CentOS 7.6 x64, .net Core 2.2 standalone deployment generated by the SDK downloaded on 2018-12-10.  Workaround: it was sufficient to rebuild without globalization invariant mode.  It ain't just Alpine; this is a general issue.

[2018-12-11 17:09] roji opened #33978 "ADO.NET API for reading string data directly from the provider's internal buffer"
https://github.com/dotnet/corefxlab/issues/2368 discusses directions and goals for future UTF-8 string support. Apart from a new `UTF8String` type (https://github.com/dotnet/corefx/issues/30503) which would obviate encoding decoding when binary data is already in UTF8, there is also a first discussion on a perf-oriented UTF8 slice directly over binary data:

Something like this could be exposed on

[2018-12-11 17:48] weshaggard commented on #24320
@ViktorHofer see https://github.com/dotnet/corefx/search?q=vs2015&unscoped_q=vs2015

[2018-12-11 17:49] safern commented on #29224
As part of the new CI system I'm already using the latest arm docker images. To update the docker images to use clang7.0 we can update them in: https://github.com/dotnet/dotnet-buildtools-prereqs-docker and @MichaelSimons owns that repo.

Assigning myself just to make sure we update them and use the right set of images.

[2018-12-11 17:52] ericstj commented on #15936
Yeah, I just hit this yesterday when trying to remove buildtools and ran into the deps.json generation task which is another ugly symptom of this problem.   Let's meet with should set up a meeting with @jeffschwMSFT and @vitek-karas to discuss.

Do you think you could write up a) our key requirements b) problems with current approach?

[2018-12-11 17:54] ViktorHofer commented on #15936
Sure, will put that on my agenda for today.

[2018-12-11 17:58] StanislavUshakov commented on #33934
Hello. Can I take this? I suppose I can do one project in one commit and include many projects in one pull request if this is acceptable (e.g. I will start with System.ComponentModel.Composition.csproj, thenSystem.ComponentModel.Primitives.csproj ang go on using changed project files from [32934 pull request](https://github.com/dotnet/corefx/pull/32934)

[2018-12-11 18:11] ViktorHofer commented on #29113
We already build portable by default on Windows: https://github.com/dotnet/corefx/blob/master/Directory.Build.props#L207

[2018-12-11 18:11] #29113 closed

[2018-12-11 18:14] ahsonkhan commented on #33552
API shape based on feedback from the previous review: https://github.com/dotnet/apireviews/pull/82

- Removed MaxDepth from JsonWriterState
- Set max depth allowed to `1_000`
- Rename WriteValue to WriteNumberValue, WriteStringValue, etc.
- Add `bool suppressEscaping` optional argument to all APIs that take "strings" (either as property name or value). The default is false (i.e. we escape everythi

[2018-12-11 18:15] ViktorHofer commented on #29737
From the issue description it doesn't seems like we need infrastructure work, moving back to area-Meta.

[2018-12-11 18:15] ViktorHofer commented on #29778
Agree, it would be nice to make it incremental again.

[2018-12-11 18:19] robertborr commented on #33961
@danmosemsft

[2018-12-11 18:40] AraHaan commented on #33934
Can you investigate why the xml docs try to write to the wrong location for Microsoft.VisualBasic too?

[2018-12-11 18:41] wtgodbe commented on #33910
@ViktorHofer do we know more about why this is cropping up now? I can take a look but would be good to get some context first, if we have any

[2018-12-11 18:42] StanislavUshakov commented on #33934
Sure

[2018-12-11 18:47] lexugax commented on #33651
@caesar1995 @davidsh I finally got a breakthrough. It turns out that the issue had to do with the server not accepting the client certificate. I figured it out by installing my server app in a different machine on IIS (as supposed to my local machine in debug mode). When I enabled "Accept client certificate" on IIS, I began receiving the certificate on my server application.

[2018-12-11 18:47] #33651 closed

[2018-12-11 18:51] ViktorHofer commented on #33910
I'm going to fix this later today. I will contact you if I need more help regarding Syntax in the pipe build json files. This happens because I switched to the portable msbuild that comes with corefx when submitting helix queues.

[2018-12-11 18:51] ericstj commented on #33961
@ViktorHofer is this something you're looking at?

[2018-12-11 18:57] ViktorHofer commented on #33961
Yes. Duplicate of https://github.com/dotnet/corefx/issues/33910

[2018-12-11 18:57] #33961 closed

[2018-12-11 19:18] ericstj opened #33981 "Unify functionality GenerateReferenceAssemblySource and GenerateReferenceSource"
GenAPI defines GenerateReferenceAssemblySource https://github.com/dotnet/arcade/blob/55c0d49b9bec66981f7dd6d8f51a8dad43e8fbe0/src/Microsoft.DotNet.GenAPI/build/Microsoft.DotNet.GenAPI.targets#L31-L47, but we don't use it in CoreFx.

Instead we use GenerateReferenceSource https://github.com/dotnet/corefx/blob/4a84b8798dbd861675014b420e4c01f6a2116125/Directory.Build.targets#L176-L195.

We should del

[2018-12-11 19:18] wfurt commented on #29703
that is sometimes tricky to get right one. It does not matter for the fix but it did not fit to the story.

[2018-12-11 19:38] joperezr commented on #33964
They are, so I guess we should either skip this test on arm or we should extend the timeout in order to have it pass on arm32. One other option would be to move it to Outerloop.

[2018-12-11 19:38] jkoritzinsky commented on #26257
Yeah this didn't make the 3.0 Preview 1 deadline. I don't think there's a nightly build since the preview yet either. I'd suggest waiting until the next Preview release which should have these changes in. You could build from master, but it's not straightforward to build a full dotnet.exe and runtime from the repos manually.

[2018-12-11 19:41] jkoritzinsky commented on #30011
This should be fixed as of dotnet/coreclr#21343 getting merged in.

[2018-12-11 19:41] #30011 closed

[2018-12-11 19:43] joperezr commented on #33873
I believe this might be an issue with transitive dependencies not flowing due to not using PackageReference and instead only using packages.config model. @jwang98052 Do you mind attaching a msbuild.binlog from your project? In order to produce one, just run `msbuild /t:rebuild yourProject.csproj /bl` from a developer command prompt and attach the resulting msbuild.binlog.

[2018-12-11 19:49] joperezr opened #33982 "[arm32/Windows] System.Security.Principal.Windows.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Security.Principal.Windows.Tests produced the following results: passed 22/23 tests.

The failing test was SecurityIdentifierTests.ValidateToStringUsingWhoami and failed with the following Win32Exception:
[code]

[2018-12-11 19:51] NArnott commented on #33957
I'm seeing this as well when calling HttpClient.GetAsync, but only occasionally:

`System.OperationCanceledException:
   at System.Net.Http.HttpClient.HandleFinishSendAsyncError (System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a)
   at System.Net.Http.HttpClient+<FinishSendAsyncBuffered>d__58.MoveNext (System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyTok

[2018-12-11 19:55] joperezr opened #33983 "[arm32/Windows] System.Resources.ResourceManager.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Resources.ResourceManager.Tests produced the following results: passed 94/96 tests.

Both failures had the same message:
[code]

If somebody can provide instructions on how to install Gdip on WIndows IoT Core I'm happy to install the dependency and re run the tests.

[2018-12-11 19:58] joperezr opened #33984 "[arm32/Windows] System.Console.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Console.Tests produced the following results: passed 126/127 tests.

The test that failed was ReadAndWrite.OutputEncodingPreamble and it failed with the following IOException:
[code]

[2018-12-11 20:00] AlexejLiebenthal commented on #33458
I had this docs in mind: [built-in types table](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/built-in-types-table)
Could you please clarify this for me, what is or was (in netfx, netcore) the difference between ``System.Decimal`` <> ``decimal``, ``System.Double`` <> ``double`` and ``System.Single`` <> ``float``.

As I remember, when I needed to use once the ``BigInteg

[2018-12-11 20:02] niklasweimann commented on #33976
Can you name an alternative for SocketsHttpHandler that is implemented and serves a similar purpose?

[2018-12-11 20:03] joperezr opened #33985 "[arm32/Windows] System.Globalization.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Globalization.Tests produced the following results: passed 1636/1642 tests.

The theory that is failing 6 times is System.Globalization.Tests.TextInfoMiscTests.MiscTest with similar EqualExceptions. Here is an example:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2669166/testResults.zip)

[2018-12-11 20:05] jkotas commented on #33458
`decimal`, `double` and `float` are just C# language aliases for the `System.Decimal`, `System.Double` and `System.Single` types. They can be used interchangeably (in 99% contexts).

[2018-12-11 20:15] joperezr opened #33986 "[arm32/Windows] System.Runtime.Extensions.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Runtime.Extensions.Tests produced the following results: passed 6479/6481 tests.

One theory failed two cases(AdminTools and CommonAdminTools). The theory that failed was System.Tests.EnvironmentTests.GetFolderPath_Windows. This is the output of the errors:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2669221/testResults.zip)

[2018-12-11 20:17] AlexejLiebenthal commented on #33458
I meant more the difference in historical manner. What has changed (in MSFT point of view) that you said:

Because for me ``float``, ``double`` and **``decimal``** are the key types from which I can choose in C#, if I need a floating point representation. Than I decide how precise should it be and select one of them.

[2018-12-11 20:20] wfurt commented on #33857
I can reproduce it. Server sends redirect to https://indianetzone.com and than if fails during SSL handshake. The exception is correct as server sends TCP RST.

[2018-12-11 20:39] nguerrera commented on #33922
Who can help me track down the code flow to core-sdk for this. We haven't gotten an insertion with this. Where in the process is this stuck:

* corefx build?
* corefx to core-setup insertion?
* core-setup build?
* core-setup insertion to core-sdk?

[2018-12-11 20:39] danmosemsft opened #33987 "SourceLink not working"
I downloaded latest bits from core-setup -- these have a hash of 281aba0f2cfcf9e8198145cbda73d8fc9dc2c45e within System.Runtime.dll which is from Wed Dec 5 01:08:52 2018 +0100 and would include my fix 24db8490eb6bdeeb2c4353d5b7f9b786546cfa2b from Nov 28. I got matching symbols both in the VS debugger and also downloading the symbols package.

Apparently https://github.com/dotnet/corefx/pull/33721

[2018-12-11 20:44] JeremyKuhne commented on #31570
Marking this back to api-ready-for-review so that we revisit (as described in my [comment above](https://github.com/dotnet/corefx/issues/31570#issuecomment-440429208)).

[2018-12-11 20:48] ViktorHofer commented on #33743
Forgot to respond. Thanks for the clarification. Now I understand why we need the binplacing here.

[2018-12-11 20:48] #33743 closed

[2018-12-11 20:49] ViktorHofer commented on #33862
Seems this is not WSL specific. Closing as duplicate of https://github.com/dotnet/corefx/issues/33595

[2018-12-11 20:49] #33862 closed

[2018-12-11 20:53] logwlogw commented on #33857
The exception is correct, But Unhandled Exception is impossible catch, web api crashed.

[2018-12-11 21:04] tkp1n commented on #33294
Some insights regarding inlining of helper methods based on the ETW profiler applied to the benchmarks at https://github.com/dotnet/performance/pull/185:

Inliner | Inlinee | FailureReason
---|---|---|
Utf8JsonReader.TryGetNumber	| Utf8JsonReader.Slice                 | success
Utf8JsonReader.TryGetNumber	| Utf8JsonReader.Add	                | success
Utf8JsonReader.TryGetNumber	| Utf8JsonReader..

[2018-12-11 21:06] logwlogw commented on #33857
HttpClient not fully asynchronous?

May be for SSL or other things, use Threads, Task.Run, Task.Factory.Start ....  with internal unhadled exception? that i can't catch,

[2018-12-11 21:14] joperezr opened #33991 "[arm32/Linux] System.Net.Http.Functional.Tests failures on arm32 linux"
Running the arm32 tests on linux for System.Net.Http.Functional.Tests produced the following results: passed 5815/5833 tests.

18 tests failed for different reasons. Attaching the testResults.xml or a better analysis.

[testResults.zip](https://github.com/dotnet/corefx/files/2669431/testResults.zip)

[2018-12-11 21:15] danmosemsft commented on #33595
https://github.com/dotnet/sourcelink/issues/197

[2018-12-11 21:15] danmosemsft commented on #33595
libgit2/libgit2sharp#1583
GitTools/GitVersion#1497

[2018-12-11 21:18] danmosemsft commented on #33595
Seems this is an issue of fragility in loading dependencies of LibGit2Sharp which is used by Microsoft.Build.Tasks.Git.RepositoryTasks which is owned by SourceLink:
https://github.com/dotnet/sourcelink/blob/c092238370e0437eb95722f28c79273244dc7f1a/src/Microsoft.Build.Tasks.Git.Operations/RepositoryTasks.cs

[2018-12-11 21:21] joperezr opened #33993 "[arm32/Linux] System.ServiceModel.Syndication.Tests failures on arm32 linux"
Running the arm32 tests on linux for System.ServiceModel.Syndication.Tests produced the following results: passed 1108/1211 tests.

Most of the tests failing here are throwing PlatformNotSupported so they should be skipped on Linux-arm.

Attaching the testResults.xml in order to have the list of all failing tests:

[testResults.zip](https://github.com/dotnet/corefx/files/2669457/testResults.zip)

[2018-12-11 21:34] GSPP commented on #23671
This should be changed. This should not break any practical code. It's useful, and common, to allow taking a zero length slice from the end of a sequence.

[2018-12-11 22:02] jkotas commented on #33458
The primary use for `decimal` type is counting money. A few of the C# designs were heavily influenced by enterprise needs. I was not on the team back then - but my guess is that's how the `decimal` gained the extra treatment in C#.

[2018-12-11 22:16] tkp1n commented on #33294
A comparison of the current master vs. all helpers attributed with `[MethodImpl(MethodImplOptions.AggressiveInlining)]`:
![bench](https://user-images.githubusercontent.com/9985284/49833667-7edcf180-fd9a-11e8-8803-f677791f31a7.jpg)

[2018-12-11 22:20] joperezr opened #33994 "[arm32/Windows] Microsoft.Win32.SystemEvents failures on arm32 windows"
Running the arm32 tests on windows for Microsoft.Win32.SystemEvents produced the following results: passed 1/207 tests.

All (but 1) tests fail when running the tests on Windows10 IoT core. Most likely this is because FindWindow PInvoke doesn't work on Windows IoT. Should we generate an arm implementation that just throws PlatformNotSupported?

cc: @ercistj

[2018-12-11 22:31] geoffkizer commented on #32493
I'm seeing this again too. The description I see now is "PANGP Virtual Ethernet Adapter #3" which is not matching the check above.

@stephentoub Are you still seeing this? What's the description for the adapter with the IP that's causing this? (run "ipconfig all")

[2018-12-11 22:41] jcouv commented on #33284
@gafter I assume that once this type is added for Core 3, you'll want it ported to mono as well.
If so, please file an issue there (similar to https://github.com/mono/mono/issues/12019) and track it in the umbrella issue for patterns feature.

[2018-12-11 22:49] danmosemsft commented on #33993
These are all Linux/Windows line endings issues. eg
[code]
This is because the repo was checked out on Windows, then built either on Windows or Linux then run on Linux.
The fix is to modify `public static void AssertEqualLongString(string expected, string actual)` to replace \r\n with \n and \r with \n.

[2018-12-11 22:50] jayspadie opened #33996 "CJK Extension B characters cannot be used in Content-Disposition FileNameStar"
A file name with [CJK Extension B characters](https://en.wikipedia.org/wiki/List_of_CJK_Unified_Ideographs_Extension_B_(Part_1_of_7)), such as 𠀀𠀁𠀂𠀃𪛑𪛒𪛓𪛔𪛕𪛖​.txt, is not properly encoded for the FileNameStar property of the Content-Disposition header.  These characters are replaced with \uFFFD, such as ��������������.txt.

Using the code below:

[code]
We can observe while debugging in Visual Studio:

[2018-12-11 22:54] ahsonkhan commented on #33294
Generally speaking, we try to avoid adding the `AggressiveInlining` attribute excessively, especially since it ends up giving a false sense of improvement performance on benchmarks measuring local performance, while potentially hurting real life usages (or larger/end-to-end perf tests). When measuring locally (only), almost any method marked as `AggressiveInlining` could show improvement. So, we t

[2018-12-11 22:55] bartonjs opened #33997 "Utf8JsonReader.GetDouble: Should it return (+/-) infinity, or throw?"
If `Utf8JsonReader` encounters the numeric value `1e+100000002` then GetDouble is returning `double.Infinity`.

In a hallway discussion it was believed that this was bad, since the reader would read "non-infinity", return "infinity" and then the writer would reject it (since Infinity is verboten in the JSON spec).

[2018-12-11 22:58] ahsonkhan opened #33998 "Utf8JsonReader should return default ValueSpan when ValueSequence is set (and vice versa)"
When `Utf8JsonReader` accepts a `ReadOnlySpan<byte>` as input, ValueSequence is always set to default. However, if it accepts a `ReadOnlySequence<byte>`, in some cases, `ValueSequence` will contain the data (when the json element straddles). In those cases, `ValueSpan` should be cleared (i.e. set to default). Similarly, in the common case, when `ValueSpan` contains the data, `ValueSequence` should

[2018-12-11 23:00] danmosemsft commented on #33991
Many of these are timeouts in WhenAllOrAnyFailed where there's a hard coded 30 second timeout. A few don't match that pattern but may be timeouts elsewhere.

Suggest changing the code [here](https://github.com/dotnet/corefx/blob/7685f1c5212fa9637b408d97928ffba7b8d9d6c2/src/Common/tests/System/Threading/Tasks/TaskTimeoutExtensions.cs#L87) to be something larger when running on ARM.

[2018-12-11 23:05] tkp1n commented on #33294
I agree, that it is probably not worth adding `AggressiveInlining` to the helper methods, given the rather insignificant gain in the benchmarks. Just wanted to share the results as you mentioned inlining of the helper methods in the issue.
I'll see if I come up with a cheaper overall solution to `TryGetNumbers`.

[2018-12-11 23:07] danmosemsft commented on #33987
Starting with (1), @tmat can you suggest which properties to check? I have looked at build logs, etc and it is not clear to me how I get it to rewrite the URL properly, as it does in other repos.

[2018-12-11 23:14] steveharter commented on #30654
I added checkboxes to the original description.

Currently TypeBuilder does inherit from Type in the contract\ref, but not the implementation (it inherits from TypeInfo).

The current assembly version is 4.1.1.0 so assuming we'll change it to 5.0. I assume package version will remain consistent with other 3.0 packages (4.6.0.*)

Over time any dependent frameworks\platforms will take on the newer b

[2018-12-11 23:17] danmosemsft commented on #33986
As you can see GetFolderPath_Windows comments out several values already because they vary between SKU's. We should comment out these two as well or only for ARM.

[2018-12-11 23:20] steveharter commented on #30654
@zamont @tommcdon from UWP side, do you want an updated service branch(es) that would contain the "correct" semantics (throwing PNSE) for System.Reflection.Emit?

[2018-12-11 23:20] danmosemsft commented on #33985
EBCDICCodePage is always being returned as 65001 (UTF8). Most likely an intentional Windows change that we should special case for IoT.

@tarekgh

[2018-12-11 23:22] danmosemsft commented on #33984
That's an odd one because line 281 is just setting on `Console.OutputEncoding` the exact value it got from `Console.OutputEncoding`. Some OS wierdness? Might be interesting to log what encoding it is. Probably another special casing for this SKU.

[2018-12-11 23:23] danmosemsft commented on #33983
It's [part of the OS](https://docs.microsoft.com/en-us/windows/desktop/gdiplus/-gdiplus-bitmap-flat) not installed

https://raw.githubusercontent.com/ms-iot/iot-utilities/master/IoTAPIPortingTool/iotcore-apis.txt suggests it is present on IoT but perhaps there's some type forwarder issue. This may be a special case to disable for IoT.

[2018-12-11 23:24] danmosemsft commented on #33982
Tool is not in Windows IoT SKU. Need to disable it just like we already do for Nano:

[code]

[2018-12-11 23:25] joperezr opened #33999 "[arm32/Windows] System.Data.SqlClient.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Data.SqlClient.Tests produced the following results: passed 142/180 tests.

Most of the 38 failed tests fail with the following exception:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2669833/testResults.zip)

[2018-12-11 23:30] danmosemsft commented on #33966
That's an odd one. It sets the year 9999 but gets 1969 back. Some OS/file system quirk most likely.
[code]
It is converting to UTC (which shouldn't change the year) then calling [SetFileTime](https://docs.microsoft.com/en-us/windows/desktop/api/fileapi/nf-fileapi-setfiletime) then reading with GetFileAttributesEx then back to UTC

@JeremyKuhne seen anytihng like this?

[2018-12-11 23:31] bartonjs commented on #33998
Also EndObject and EndArray :smile:.

I think the statements are:

* One of ValueSpan or ValueSequence should be `default`.
* The other should not (except before starting)
* If `Read()` returns true, the "value" must be different.  (MemoryExtensions.Overlaps should return false against a saved value)

[2018-12-11 23:31] joperezr opened #34000 "[arm32/Windows] System.Diagnostics.EventLog.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Diagnostics.EventLog.Tests produced the following results: passed 38/88 tests.

Most test fail with messages like the following:
[code]
Perhaps all of these should just be skipped since it looks like it is not supported on Windows IoT core.

[testResults.zip](https://github.com/dotnet/corefx/files/2669846/testResults.zip)

[2018-12-11 23:33] danmosemsft commented on #33965
Right the math we are doing here is very simple, it is most likely in code gen.

[2018-12-11 23:33] danmosemsft commented on #33964
This is a marginal test, not architecture specific, so I would skip it on ARM.

[2018-12-11 23:42] joperezr opened #34002 "[arm32/Windows] System.Diagnostics.PerformanceCounter.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Diagnostics.PerformanceCounter.Tests produced the following results: passed 41/93 tests.

Most of the 52 failures are due to a Win32Exception happening like the following:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2669876/testResults.zip)

[2018-12-11 23:46] danmosemsft commented on #34000
Windows is returning ERROR_CALL_NOT_IMPLEMENTED from OpenEventLog.

That API appears in https://raw.githubusercontent.com/ms-iot/iot-utilities/master/IoTAPIPortingTool/iotcore-apis.txt

It can't even open standard logs `     <message><![CDATA[System.InvalidOperationException : Cannot open log Application on computer '.'. This function is not supported on this system.]]></message>`

My guess is tha

[2018-12-11 23:52] wfurt commented on #33699
I was able to reproduce and get successful ping to non-existing address. The UnixPing works as expected when running without root privilege.

[2018-12-11 23:53] bricelam commented on #33643
I'm seeing similar issues using System.ComponentModel.Annotations package version 4.6.0-preview.18604.2.

* .NET Standard class library is compiled against version 4.2.0.0
* .NET Framework console app redirects versions 0.0.0.0-4.2.0.0 to 4.2.0.0
* .NET Framework console app publishes version 4.2.2.0

cc @ericstj @divega @ajcvickers

[2018-12-11 23:54] ahsonkhan commented on #33998
That is an interesting clarification, but I agree. Previously, when we encountered the 'true', 'false', 'null' literals, we would return the cached "constant" spans rather than slicing into the user-provided JSON payload. That behavior would have broken the above requirement.

What about if Read() returned false? Can (and should) both `ValueSpan` and `ValueSequence` be default then?

[2018-12-11 23:54] danmosemsft commented on #34002
The test is trying to invoke a Windows tool called `lodctr` to register new performance counters. That tool does not exist on Windows IoT apparently. We should disable all tests that need this.

All those tests are in PerformanceDataTests. That is already guarded by `[ConditionalFact(typeof(Helpers), nameof(Helpers.IsElevatedAndCanWriteToPerfCounters))]` but the PerformanceDataTestsFixture constru

[2018-12-11 23:55] joperezr opened #34004 "[arm32/Windows] System.Diagnostics.Process.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Diagnostics.Process.Tests produced the following results: passed 257/261 tests.

4 tests failed the run for different reasons:
System.Diagnostics.Tests.ProcessStartInfoTests.Verbs_GetWithExeExtension_ReturnsExpected
[code]
System.Diagnostics.Tests.ProcessStartInfoTests.StartInfo_BadVerb(useShellExecute: True) and System.Diagnostics.Tests.ProcessStartIn

[2018-12-11 23:57] bricelam commented on #33643
@ericstj Was an assumption supporting [these lines](https://github.com/dotnet/corefx/blob/v3.0.0-preview.18571.3/src/System.ComponentModel.Annotations/ref/System.ComponentModel.Annotations.csproj#L4-L7) broken in the past year?
[code]

[2018-12-11 23:58] danmosemsft commented on #33999
SqlClient depends on sni.dll. On customer machines it comes from the runtime.native.System.Data.SqlClient.sni package which itself references these
[code]
I don't see ARM32 there. @AfsanehR is sni.dll offered for 32 bit Windows ARM?

[2018-12-12 00:00] danmosemsft commented on #34004
`ShellExecuteExW` is not supported or only partially supported. Disable these tests for IoT. Note we already do for Nano:
[code]

[2018-12-12 00:00] ahsonkhan commented on #33458
Deferring to future.

[2018-12-12 00:04] tmat commented on #33987
@danmosemsft This doesn't seem like it's produced by build that's on Arcade, since that would be built from dnceng repo, not `DotNet-CoreFx-Trusted`.

[2018-12-12 00:06] joperezr opened #34005 "[arm32/Windows] System.Diagnostics.Tracing.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Diagnostics.Tracing.Tests produced the following results: passed 28/36 tests.

Most of the 8 tests that fail did so with the following message:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2669925/testResults.zip)

[2018-12-12 00:08] JeremyKuhne commented on #33966
No, I haven't seen anything like this. Probably worth attempting to set/read times through the shell.

[2018-12-12 00:11] danmosemsft commented on #33987
@tmat ah - you're right, we are on the verge of converting CoreFX to AzureDevOps builds. Let's give it a few days and see whether that magically fixes it.

[2018-12-12 00:12] ahsonkhan opened #34007 "Expose the current context / scope as a property from the Utf8JsonReader."
Split off from https://github.com/dotnet/corefx/issues/33967.
The JSON Document requires the concept of `in object` or `in array` which the JsonReader tracks and will be made internal to support the document. Should we expose it publically so the caller doesn't have to build their own stack to track this while reading?

https://github.com/dotnet/corefx/blob/c30f2bc75066aeccd610f36c8ce84ae5aaff675a

[2018-12-12 00:13] ViktorHofer commented on #33987
We can meanwhile focus on 2)?

[2018-12-12 00:14] danmosemsft commented on #34005
This would need analysis. Possibly a timeout -- there are `Thread.Sleep`'s in these test files 😱 😢

[2018-12-12 00:16] nguerrera opened #34008 "Assembly(Definition|Reference).GetAssemblyName() do not match handling of neutral culture of AssemblyName.GetAssemblyName()"
[code]

[code]

Notice culture=neutral vs culture emitted.

[2018-12-12 00:17] MattKotsenas commented on #12039
Hey everyone, I started to take a look at this issue, and I have an initial proposal and a few additional thoughts.

I think `WaitForExitAsync` is a pretty straightforward building block API that’s relatively easy to understand and use correctly. I have a version available here: [feature/12039-process-waitforexitasync](https://github.com/dotnet/corefx/compare/master...MattKotsenas:feature/12039-pr

[2018-12-12 00:31] ericstj commented on #33643
That's the problem.  It sounds like the .NETFramework project hasn't referenced the package and is instead picking up the .netstandard reference.  If you examine the assembly version of the .NETFramework reference assembly in the package you will see it has 4.2.2.0.  /cc @joperezr

[2018-12-12 00:39] tmat commented on #33987
It is likely that CCI does not understand SourceLink and erases it.

[2018-12-12 00:46] SimonCropp commented on #33643
note if u crack open some of those assemblies they are purely type forwarding. the weird thing is they are often typeforwarding to types in an assembly with a diff assembly version.

eg `4.4.1\lib\net461\System.ComponentModel.Annotations.dll` (assembly version 4.2) typeforwards to `System.ComponentModel.DataAnnotations, Version=4.0.0.0`

[2018-12-12 00:46] danmosemsft commented on #33966
I assume you mean cmd.exe, as Powershell would presumably run through this same code. I am not sure I know of a built in way in cmd.exe to do `touch` so one would have to build your own `touch` for ARM?

[2018-12-12 00:48] danmosemsft commented on #33966
I was going to say you could use `date` then edit the file, but Windows won't let you set its clock to the year `9999` ...

[2018-12-12 00:51] danmosemsft commented on #33987
@tmat when CCI rewrites the assembly to use type forwards, does it invalidate the PDB? If so, does it attempt to update the PDB at all?

If it leaves the PDB invalid, then maybe source link info wouldn't be much use anyway. And we just have a broken debug experience when debugging code in an assembly that CCI has messed with.

Which repo is CCI in?

[2018-12-12 00:57] bartonjs commented on #33998
Depends on if "false" means "nothing happened" or "I'm broken"; either "I left them alone" (which is what I'd assume) or "I cleared them" is fine; but whatever the contract is there should be a test for it :smile:

[2018-12-12 01:01] danmosemsft commented on #33987
Ah I see https://github.com/Microsoft/cci. If GenFacades used S.R.Metadata instead, would that do it correctly?
cc @ericstj

[2018-12-12 01:03] am11 commented on #24320
With a bit more curious query, it would be: https://github.com/dotnet/corefx/search?q="studio+2015"+OR+"vs2015"+OR+"vs+2015"+OR+"visualstudio2015" :)

[2018-12-12 01:03] danmosemsft commented on #33959
I want it to look fancy like https://github.com/danielpalme/ReportGenerator#screenshots

[2018-12-12 01:04] #33951 closed

[2018-12-12 01:04] JeremyKuhne commented on #33966
This is a bug on Linux no?

[2018-12-12 01:15] danmosemsft commented on #33966
Oh nuts, I've looked at so many test failures I missed it was Linux. You can ignore everything I wrote above then. :facepalm:. You can use `touch -t` then.

[2018-12-12 01:17] ViktorHofer opened #34011 "Occasional AV in code coverage build"
Looking at the latest code coverage run I can see the build failed but there is absolutely no info what caused the build to fail: https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/754/consoleText

Error lines (removed htmlpublisher output):
[code]

cc @ericstj @wtgodbe

[2018-12-12 01:20] ViktorHofer commented on #33959
Your thumbs ups and hearts made me open a corresponding issue in the ReportGenerator repo: https://github.com/danielpalme/ReportGenerator/issues/187

[2018-12-12 01:20] danmosemsft commented on #34011
-1073741819 == 0xC0000005 == STATUS_ACCESS_VIOLATION
You need to repro under a debugger, or hope for a dump on the machine?

[2018-12-12 01:41] tommcdon commented on #30654
@steveharter For UWP no need to backport the correctness fix.

[2018-12-12 01:51] xavierjohn opened #34012 "dotnet 2.1.6 publish with --self-contained false produces apphost.exe that does not work"
Trying to publish a .net core exe without the runtime using the following command

dotnet publish --configuration Release --runtime win7-x64  --self-contained false --output c:\outputfolder

does not produce {binary}.exe. Instead there is an apphost.exe that does not work and gives error.
_This executable is not bound to a managed DLL to execute. The binding value is:_

Machine information:
Runtim

[2018-12-12 01:53] ViktorHofer commented on #34011
Sure, if the machine isn't yet recycled. In this case I will just wait for the next official build but I create this issue to make sure that we log everything necessary to diagnose build errors as it currently looks like we are missing details.

[2018-12-12 02:19] xavierjohn commented on #34012
Wrong repo... I will open in cli.

[2018-12-12 02:19] #34012 closed

[2018-12-12 02:32] Joe4evr commented on #33968
So in the [API Design Review](https://youtu.be/6QOv4c1O6ME) video, there was a bit of discussion around handling of string literals with the upcoming `Utf8String` in mind. Target-typing should naturally be a thing:
[code]
What wasn't mentioned is that part of the feature's language design, I think, includes (or at least has room for) a literal prefix to force interpretation to a `Utf8String`:
[cod

[2018-12-12 02:34] tmat commented on #33987
Yes, CCI definitely is deprecated, or rather has actually never been supported.

Anyways, I'd suggest to write out .cs files and run them thru csc.exe. That's much easier than write metadata directly.

[2018-12-12 03:01] bricelam commented on #33643
We’re using PackageReference. I’ll dig a bit more...

[2018-12-12 03:03] SimonCropp commented on #33643
yeah in my repros of this issue i was also using `PackageReference`

[2018-12-12 03:08] bricelam commented on #33643
@SimonCropp That’s normal. There’s a lot of .NET history surrounding these tangled assemblies. Luckily when it’s all working correctly, most people can ignore the ugly details. 😆

[2018-12-12 03:43] halter73 opened #34014 "PipeWriter.FlushAsync() never completes in some scenarios"
There's a regression in PipeWriter.FlushAsync() which can be observed by running Kestrel's LibuvOutputConsumerTests against the 3.0 runtime. See aspnet/AspNetCore#4554.

The regression is triggered by flushing more than _pauseWriterThreshold bytes and then calling FlushAsync() again without waiting for backpressure to be relieved.

Both before and after 3.0, the second call to FlushAsync() trigger

[2018-12-12 03:54] mirkogeffken commented on #33552
Have you considered making the API more interface based and providing a reasonable and safe implementation as a default and a performant option as an alternate?

Either to me me should possibly take overloads on either ctors or methods to propertyvalidators or valuevalidators with defaults being either complex or noop. Wouldn’t inlining handle the performance case and suck appropriately in the cor

[2018-12-12 04:31] ericstj commented on #33987
S.R.M doesn’t really round trip, it’s missing writing functionality.

@tmat’s suggestion to replace GenFacade with source generation is actually something on the backlog.  @weshaggard and I were discussing how we could do this while still not checking in the source.  We could do an early call to CSC to see what types are missing (maybe with /refonly or analyzer) then gen forwards in intermediate b

[2018-12-12 04:34] danmosemsft commented on #33987
@jaredpar :p

[2018-12-12 05:53] Fabi commented on #33746
So we actually have two issues here?
1. It’s not buffering as stated in the docs (well a doc issue)
2. And it’s not outputting any data on calling beginread again after canceling. (That definitively needs to be fixed)

[2018-12-12 06:10] #32493 closed

[2018-12-12 06:16] SimonCropp commented on #33643
@bricelam yeah i figured we were dealing some long history of technical debt here :)

[2018-12-12 06:33] jefffhaynes commented on #23671
Just to rant momentarily, something like this never would have been a discussion with .net “classic” and it would have been fixed by now. It’s bugs like this that are still preventing UWP from being more widely adopted.

[2018-12-12 06:49] divman25 opened #34015 "Support netlink connector sockets in System.Net.Sockets"
I am unable to use netlink connectors on Linux via dotnet and socket creation itself fails with

I am trying to use linux netlink connectors to listen to process fork events directly from the OS. The C code would look something like this to create a socket and then use **sockaddr_nl** to send messages-
`socket(PF_NETLINK, SOCK_DGRAM, NETLINK_CONNECTOR)`
OR
[code]
While the corresponding C# fails -

[2018-12-12 08:36] DaZombieKiller commented on #31942
What if an API was added to Dictionary<TKey, TValue> that allows you to retrieve a bucket?
For example (where DictionaryBucket is a new type, mainly to ensure that it's read-only):

`DictionaryBucket<TValue> Dictionary<TKey, TValue>.GetBucket(int hashCode)` or
`IReadOnlyList<TValue> Dictionary<TKey, TValue>.GetBucket(int hashCode)`

This way, the extension methods could operate on public APIs, and

[2018-12-12 09:00] dotnet-mc-bot opened #34017 "Test failure: System.IO.Tests.File_Create_Tests/FileSystemWatcher_File_Create_MultipleWatchers_ExecutionContextFlowed"
Opened on behalf of @AriNuer

The test `System.IO.Tests.File_Create_Tests/FileSystemWatcher_File_Create_MultipleWatchers_ExecutionContextFlowed` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20181212.01 (Full Framework Tests)
Failing configurations:
- Windows.10.Amd64.ClientRS4-x86
  - Release
- Windows.10.Amd64.ClientRS4-x64
  - Release
Details:
https://mc.dot.net/#/pro

[2018-12-12 09:32] StanislavUshakov commented on #33934
I have a question regarding [Microsoft.Win32.SystemEvents](https://github.com/dotnet/corefx/blob/master/src/Microsoft.Win32.SystemEvents/src/Microsoft/Win32/SystemEvents.cs#L457) There is only one XML error:
Unable to include XML fragment 'docs/doc[@for="SystemEvents.CreateBroadcastWindow"]/*' of file 'doc\SystemEvents.uex' -- File not found.
I looked through the solution - there is only one refer

[2018-12-12 09:49] ViktorHofer commented on #33959
If you wish to use the JavaScript based dynamic features, then you have to change the CSP settings in Jenkins.
Navigate to the Jenkins Script Console and execute the following command:

`System.setProperty("hudson.model.DirectoryBrowserSupport.CSP", "sandbox allow-scripts allow-same-origin; default-src 'self';")`

@mmitche could we enable same-origin scripts to get the full report experiemce? Also

[2018-12-12 09:59] xp-1000 commented on #26310
Hello,
Is there any news on this ? at least a workaround to allow netcore application to follow symlinks ?
It seems to be a basic feature on linux environment.
Thanks

[2018-12-12 10:23] benaadams commented on #33552
Not sure about this:

Listening to the Design Review to understand the reasoning.

[2018-12-12 12:40] benaadams commented on #33552
Where did this come from?

Or TODO in https://github.com/dotnet/corefxlab/pull/2612

Didn't catch it in the design review. It does mean a struct `IBufferWriter<byte>` cannot be used.

The alternative .ctor taking `Span<byte>` isn't helpful with the `Utf8JsonWriter` apis as it it didn't have enough space in the Span presumably they throw?

So it would be control flow via `throw/catch`, which is ant

[2018-12-12 12:55] fhchina opened #34018 ".NET Core Binary Serialization: Object cannot be stored in an array of this type"
The Exception Stack is:

Object cannot be stored in an array of this type. ---> System.InvalidCastException: Object cannot be stored in an array of this type.
   at System.Array.InternalSetValue(Void* target, Object value)
   at System.Array.SetValue(Object value, Int32[] indices)
   at System.Runtime.Serialization.ObjectManager.CompleteObject(ObjectHolder holder, Boolean bObjectFullyComplete)

[2018-12-12 13:06] fhchina commented on #34018
I use VSCode to debug into the CoreFX source code, and find here "value" argument is an object with type System.Runtime.Serialization.TypeLoadExceptionHolder. This is caused by .NET Fx, please fix this bug.

[2018-12-12 13:08] GeorgeAlexandria opened #34019 "API Proposal: Add ImmutableHashSet<T>.Builder.TryGetValue"
Hi,

what's about adding to the `System.Collections.Immutable.ImmutableHashSet<T>.Builder` and `System.Collections.Immutable.ImmutableSortedSet<T>.Builder` a method `bool TryGetValue(T equalValue, out T actualValue);`?

A main goals for it is that you may avoid redundant object allocations and performance issues in the cases when you have a custom `IEqualityComparer<T>` and, for example, try to re

[2018-12-12 13:15] Symbai commented on #32544
Sorry I have to reopen this. I was now writing a Unittest in VS for this project and a test fails with the exact error message about:

`System.IO.FileLoadException: Could not load file or assembly 'System.Numerics.Vectors, Version=4.1.3.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference.

[2018-12-12 13:20] StanislavUshakov commented on #33934
Pushed the first part just to test that everything is ok and not broken.

[2018-12-12 13:37] sharwell commented on #33934
Is it possible it's related to this?

https://github.com/dotnet/sdk/blob/0e4d846e7712f803ae03b04866510223e1d23ea4/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.BeforeCommon.targets#L166-L169

[2018-12-12 14:16] vcsjones commented on #34018
Can you provide a bit of sample code and serialized data that reproduces this exception?

[2018-12-12 14:22] fhchina commented on #34018
This is a complex Object Graph in a real application. I will try to use Unit Testing to replicate this case. The original application works well in .NET Framework.

[2018-12-12 15:08] logwlogw commented on #33846
Thank you very much for your response.
Simple PerFomance Test.

using System;
using System.Collections.Generic;
using System.Diagnostics;
using System.IO;
using System.Net.Http;
using System.Threading.Tasks;

namespace PerfTest
{
    class Program
    {
        static readonly int MaxTasks = 100;

        static readonly Stopwatch St = new Stopwatch();

        private static readonly string[] Url

[2018-12-12 15:11] logwlogw commented on #33846
Also my testing 1000urls.txt list

for Example
google.com
youtube.com
facebook.com
baidu.com
wikipedia.org
qq.com
taobao.com

without www, for many Http Redirect

[2018-12-12 15:37] MichaelRumpler opened #34022 "Cannot use Microsoft.Windows.Compatibility 2.1.0-preview in .NET 4.7"
I have a .NET Standard 2.0 class library which fetches some data about Windows accounts. I therefore installed Microsoft.Windows.Compatibility to use System.DirectoryServices.AccountManagement. (I am aware, that this is Windows only functionality, but there is other stuff in that lib which I want to use on Mac, iOS and Android.)

If I use a unittest project with .NET 4.7 and reference the Standard

[2018-12-12 15:39] dotnetchris commented on #31381
I was about to open a similar issue but thankfully the create issue found this one.

Working with Response headers is absolutely **awful**. Trying to echo responses is nightmarish. Look at this garbage code I have to write to do something that should be as trivial as

[code]

Instead i have to do write code like:

[code]

Not to mention the insane amount of disagreement between what is a string, w

[2018-12-12 16:51] krwq commented on #18012
@wfurt, see #33374. Even though System.IO.Ports is OOB it depends on 3.0

[2018-12-12 17:08] wfurt commented on #18012
That is not the point. This used to throw and it does not any more even if it does not work.
That seems unintentional to me.

[2018-12-12 17:21] danmosemsft commented on #26310
@xp-1000 nope, but perhaps we can pick this up in January. We do want this, and if we can get to an approved API shape, implementation can follow.

[2018-12-12 17:48] danmosemsft commented on #33958
@jkotas my point was that right now, official runs include perhaps 1/3rd of a day's commits into CoreFX. If we test bits out of core-setup, we will get CoreFX commits in chunks of at least 1 day and possibly several or a week depending on whether the ingestion job got merged (this may improve with Prodcon of course). So testing with core-setup bits would mean runs repeatedly testing the same bits

[2018-12-12 17:48] danmosemsft commented on #33958
cc @ericstj

[2018-12-12 17:55] wtgodbe commented on #34011
This is happening in `build.ps1` from eng\common, so seems more like an Arcade bug: https://github.com/dotnet/corefx/blob/7d223d2d71d9921306ca0e53343be0aabede07af/eng/common/build.ps1#L97

Some target we're calling from Arcade's `build.proj` must not be doing sufficient error logging: https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/Build.proj

[2018-12-12 17:59] joperezr commented on #32544
Which test runner are you using? There are some test runners that won't honor the program's app.config file and will just use their own app.config which won't do the right redirect.

[2018-12-12 18:07] Wraith2 commented on #31942
It would be exposing and locking implementation details of the dictionary, it would prevent reimplementing using another method if a better one were found in future.

[2018-12-12 18:17] jkotas commented on #33958
I think we should snap to two key places to run tests:

- CI test runs: Balance of coverage and cost. Not comprehensive.
- Official build test runs: Comprehensive coverage. This should be testing the exact bits we ship.

We can have 3rd thing somewhere in between too. I would do it only once we have data that it is really needed and that it is not possible to address it by adjusting the CI coverag

[2018-12-12 18:31] keeratsingh commented on #33859
@chrarnoldus Unfortunately .Net Core does not support impersonation currently hence the difference in behavior, I'll go ahead and close this issue.
Related Issue: #2191: **Add Sql Impersonation Support**

[2018-12-12 18:31] #33859 closed

[2018-12-12 18:38] AfsanehR commented on #33999
@danmosemsft No we don't offer sni.dll for arm32.

[2018-12-12 18:41] joperezr commented on #33999
I guess in that case we should probably have an arm32 implementation of the library that just throws PNSE?

[2018-12-12 18:41] bricelam commented on #33643
cc @ryanbrandenburg Who is seeing the same issue on another codebase

[2018-12-12 18:45] ajcvickers commented on #33643
See also https://github.com/aspnet/EntityFrameworkCore/issues/13268

I have been trying for months to get answers on this. The response keeps being that it's going to be documented how to make it work. But we haven't seen any documentation yet, and both myself and customers have been tearing their hair out trying to make it work.

[2018-12-12 18:49] ajcvickers commented on #33643
See also https://github.com/aspnet/EntityFrameworkCore/issues/13956

[2018-12-12 18:53] AraHaan commented on #33934
That might be it.

[2018-12-12 18:55] krwq commented on #18012
@wfurt I do not recall changing anything related to that. Is there an easy way to fix this?

[2018-12-12 18:58] wfurt commented on #18012
I don't know either. And I don't know if anybody depends on the exception.

[2018-12-12 19:12] joperezr opened #34024 "[arm32/Windows] System.DirectoryServices.AccountManagement.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.DirectoryServices.AccountManagement.Tests produced the following results: passed 57/60 tests.

The 3 failures all had the same issue:
[code]

Is this native dependency supposed to come with the OS? If so I guess we should skip the tests, if not, then let me know where can I get it so that I can install it and rerun the tests.

[2018-12-12 19:14] joperezr commented on #34024
[testResults.zip](https://github.com/dotnet/corefx/files/2673204/testResults.zip)

[2018-12-12 19:15] joperezr commented on #34024
Also adding it here since the root cause is the same:

System.DirectoryServices.Tests has 3 failing tests as well due to the same issue. Here is the testResults for that:
[testResults.zip](https://github.com/dotnet/corefx/files/2673208/testResults.zip)

[2018-12-12 19:18] danmosemsft commented on #33999
Yes, but I'm not sure which of the S.D.SC package itself, the S.D.SC.sni package, or the runtime...xxx..S.D.SC.sni package. I guess ideally them all, but if it's easiest to add toe the managed package then I would do that.

[2018-12-12 19:19] joperezr opened #34025 "[arm32/Windows] System.Drawing.Common.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Drawing.Common.Tests produced the following results: passed 759/3871 tests.

Most of the 3K+ tests that fail did so with the following exception:
[code]

Should this native dependency come with the OS or is it something I can install?

[2018-12-12 19:20] joperezr commented on #34025
[testResults.zip](https://github.com/dotnet/corefx/files/2673225/testResults.zip)

[2018-12-12 19:28] joperezr opened #34026 "[arm32/Windows] System.Globalization.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Globalization.Tests produced the following results: passed 1642/1636 tests.

All 6 failed with equal exceptions where the expected didn't match the Actual, and the Actual is always `65001`. Here is an example:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2673245/testResults.zip)

[2018-12-12 19:32] danmosemsft commented on #34026
Is this different to https://github.com/dotnet/corefx/issues/33985 ?

[2018-12-12 19:33] danmosemsft commented on #34025
We should find out whether they have gdiplus.dll. My guess is that they do not, in which case we can disable most of these tests.

[2018-12-12 19:33] joperezr opened #34027 "[arm32/Windows] System.IO.FileSystem.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.IO.FileSystem.Tests produced the following results: passed 5919/5926 tests.

The 7 failures are caused by different issues. Attaching the testresults.xml in order to investigate further.

[testResults.zip](https://github.com/dotnet/corefx/files/2673255/testResults.zip)

[2018-12-12 19:34] danmosemsft commented on #34024
Is activeds.dll present in system32? I assume not in which case we should disable all these for Win iot.

[2018-12-12 19:38] joperezr opened #34028 "[arm32/Windows] System.IO.MemoryMappedFiles.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.IO.MemoryMappedFiles.Tests produced the following results: passed 599/839 tests.

Most of the 240 test failures have the same error:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2673266/testResults.zip)

[2018-12-12 19:43] joperezr opened #34029 "[arm32/Windows] System.IO.Ports.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.IO.Ports.Tests produced the following results: passed 966/967 tests.

The failing test is System.IO.Ports.Tests.GetPortNames.AllGetPortNamesAreInHelperPorts and it failed with the following message:
[code]

[2018-12-12 19:46] joperezr opened #34030 "[arm32/Windows] System.Management.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Management.Tests produced the following results: passed 4/26 tests.

All 22 failures failed with the same error:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2673282/testResults.zip)

[2018-12-12 20:10] #21724 closed

[2018-12-12 20:15] JeremyKuhne opened #34031 "Add overloads for moving/copying files that flushes caches"
For critical data it might be good to have the ability to flush pending operations to disk. We allow you to do this with `FileStream`, but not copy/move/rename.

Rename might be awkward as Windows doesn't directly support disabling the cache, other APIs in Windows have flags that let you do this.

In Unix flushing the cache is done with `fsync`.

[2018-12-12 20:16] nickbom opened #34032 "[Uri] Uri.IsWellFormedUriString() different behaviour from net461"
The following unit test for `Uri.IsWellFormedUriString("lime://teste_it%C3%A1vel%3Axx@teste.net/8dd3a58vgv", UriKind.Absolute)`

return true on TargetFramework=net461

return false on TargetFramework=netcoreapp2.1

Is this different behaviour expected?

[2018-12-12 20:19] halter73 opened #34033 "SslStream object disposed exception"
_From @timmydo on Saturday, 08 December 2018 21:55:49_

I'm not sure if this is the right place to report this, but I'm seeing this exception occasionally:

kubernetes docker pod uname -a:
Linux platform-prod-577cf48b4b-wrg7x 4.15.0-1030-azure #31~16.04.1-Ubuntu SMP Tue Oct 30

context:
running kestrel behind nginx on linux in docker image based on dotnet:2.1-aspnetcore-runtime
[code]

pod error c

[2018-12-12 20:19] halter73 commented on #34033
_From @halter73 on Wednesday, 12 December 2018 20:16:44_

[code]

The ODE seems to have happened during TLS renegotiation. Kestrel ensures that it's done with its SslStreams before disposing them meaning that any calls to AuthenticateAsServerAsync(), ReadAsync(), WriteAsync(), etc... have completed.

@timmydo Do you have any evidence that the SslStream belongs to Kestrel? Kestrel doesn't initiate

[2018-12-12 20:20] halter73 commented on #34033
@karelz @Tratcher

[2018-12-12 20:46] karelz commented on #34033
How often does it happen?
Does it happen on more than 1 machine or for more than 1 user?
It does not seem that the above info is sufficient to root cause it, or to even identify the components owning the SslStream.

[2018-12-12 20:53] karelz commented on #33016
@wfurt ping

[2018-12-12 20:56] karelz commented on #33883
Looks like it's better fit for ASP.NET. Closing.
Let me know if I missed anything, or if there is more details and we should reopen.

[2018-12-12 20:56] #33883 closed

[2018-12-12 20:58] AlphaGit commented on #33883
@karelz Sorry for taking so long to respond. Nope -- you're right. It is even possible I missed some steps that I found out later on.

I'll perform further tests and if the problem still persists I'll open the ticket for ASP.NET and link here. Otherwise, it was all an issue on my side.

Thank you!

[2018-12-12 20:59] joperezr opened #34034 "[arm32/Windows] System.Net.Http.Functional.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Net.Http.Functional.Tests produced the following results: passed 5856/5911 tests.

All 55 test failures seem to be caused due to different root causes. Attaching the testResults.xml for further diagnosis.

[testResults.zip](https://github.com/dotnet/corefx/files/2673507/testResults.zip)

[2018-12-12 21:02] karelz commented on #33991
cc @wfurt

[2018-12-12 21:07] wfurt commented on #33991
should we use the overload with time instead and use PassingTestTimeout (or equivalent)
I think we should be careful about architecture vs actual computation machine power.

[2018-12-12 21:25] joperezr opened #34036 "[arm32/Windows] System.Net.Http.WinHttpHandler.Unit.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Net.Http.WinHttpHandler.Unit.Tests produced the following results: passed 171/177 tests.

All 6 tests failed with the same exception:
[code]
[testResults.zip](https://github.com/dotnet/corefx/files/2673574/testResults.zip)

[2018-12-12 21:41] joperezr opened #34037 "[arm32/Windows] System.Net.Security.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Net.Security.Tests produced the following results: failed 138/4148 tests and we needed to disable all tests in the following classes since they where hanging forever:
[code]

For the 138 tests that failed, they all failed with the following exception:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2673643/testResults.zip)

[2018-12-12 21:43] joperezr opened #34038 "[arm32/Windows] System.Resources.ResourceManager.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Resources.ResourceManager.Tests produced the following results: passed 94/96 tests.

Both test failures are due to missing Gdip dependency. Should they be skipped?
[code]
[testResults.zip](https://github.com/dotnet/corefx/files/2673651/testResults.zip)

[2018-12-12 22:02] joperezr opened #34039 "[arm32/Windows] System.Runtime.Extensions.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Runtime.Extensions.Tests produced the following results: passed 6479/6481 tests.

System.Tests.EnvironmentTests.GetFolderPath_Windows theory has 2 failing cases (folder= AdminTools and CommonAdminTools). The callstack is:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2673697/testResults.zip)

[2018-12-12 22:05] davidsh commented on #33976
There is no CoreFx HttpClient handler that solves this issue yet.  Eventually the default HTTP stack in CoreFx (SocketsHttpHandler) will have HTTP/2 support and handle this scenario.

cc: @karelz

[2018-12-12 22:08] davidsh commented on #33716
HttpWebRequest in .NET Framework internally uses the Begin/End APM mechanism for async calls. So, it doesn't use as much of the Task mechanisms.

There were many bug fixes etc between those versions.  But to diagnose your performance issues, you should look into the PerfView tracing etc. to narrow down where the time is actually spent.

[2018-12-12 22:08] joperezr opened #34042 "[arm32/Windows] System.Runtime.InteropServices.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Runtime.InteropServices.Tests produced the following results: passed 1485/1525 tests.

Most of the 40 test failures have this callstack:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2673716/testResults.zip)

[2018-12-12 22:10] davidsh commented on #30388
@madhub  This issue is already closed.  If you have a new bug to report, please open up a new issue.  Thanks.

[2018-12-12 22:10] joperezr commented on #34026
oh, sorry, good catch! This was my bad, closing as a dupe.

[2018-12-12 22:10] #34026 closed

[2018-12-12 22:24] joperezr opened #34045 "[arm32/Windows] System.Runtime.Serialization.Formatters.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Runtime.Serialization.Formatters.Tests produced the following results: passed 155/158 tests.

The three failing tests are one more case of missing Gdip.
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2673776/testResults.zip)

[2018-12-12 22:30] danmosemsft commented on #34029
GetCommPortsViaQueryDosDevice() (which uses ::QueryDosDevice) returned nothing while GetPortNames() (which uses HARDWARE\DEVICEMAP\SERIALCOMM) returned something (although to my eye it looks like a lot of garbage)

If serial ports work fine on this SKU, then we should just simply disable this one single test for Windows IoT, because it just means that they disabled ::QueryDosDevice on this SKU.

I

[2018-12-12 22:31] danmosemsft commented on #34030
This one's easy. We should disable all System.Management tests for Windows IoT as it requires Full FRamework to be on the box.

[2018-12-12 22:32] joperezr opened #34046 "[arm32/Windows] System.Runtime.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Runtime.Tests produced the following results: passed 31427/31439 tests.

Most of the 12 test failures have to do with DateTime not throwing ARgumentOutOfRange exceptions as well as a TimeZoneInfo issue:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2673800/testResults.zip)

[2018-12-12 22:32] danmosemsft commented on #34036
I guess we can track this with https://github.com/dotnet/corefx/issues/34037

[2018-12-12 22:32] danmosemsft commented on #34037
Any fix needs to apply to these also https://github.com/dotnet/corefx/issues/34036

[2018-12-12 22:33] danmosemsft commented on #34038
Suggest we track with https://github.com/dotnet/corefx/issues/34025

[2018-12-12 22:33] #34038 closed

[2018-12-12 22:33] danmosemsft commented on #34025
Any fix should also apply to these tests  https://github.com/dotnet/corefx/issues/34038

[2018-12-12 22:33] danmosemsft commented on #34039
Dupe of https://github.com/dotnet/corefx/issues/33986

[2018-12-12 22:33] #34039 closed

[2018-12-12 22:39] danmosemsft commented on #34042
This SKU is missing some COM registrations. I guess we should skip these tests on this SKU.

[2018-12-12 22:41] danmosemsft commented on #34034
Most are this, already tracked in https://github.com/dotnet/corefx/issues/34037
[code]
I would rerun after we have addressed that issue.

[2018-12-12 22:41] danmosemsft commented on #34045
Suggest we track with https://github.com/dotnet/corefx/issues/34025

[2018-12-12 22:41] #34045 closed

[2018-12-12 22:43] danmosemsft commented on #34046
This is the same failure as on Linux. More evidence it is codegen.

Suggest we track with https://github.com/dotnet/corefx/issues/33965

[2018-12-12 22:43] #34046 closed

[2018-12-12 22:43] danmosemsft commented on #33965
@RussKeldorph we suspect codegen here as we are doing simple math which is expected to overflow. The same issue occurs on Linux and Windows - but only on ARM.

[2018-12-12 22:45] danmosemsft commented on #33965
Or possibly runtime, if they have an ARM specific codepath (it can't be the C library)

[2018-12-12 22:47] joperezr commented on #34037
One more instance of this with System.Security.Cryptography.Csp.Tests. 5 failing tests with very similar callstacks.

[testResults.zip](https://github.com/dotnet/corefx/files/2673836/testResults.zip)

[2018-12-12 22:47] #34036 closed

[2018-12-12 22:48] joperezr commented on #34037
Same goes for System.Security.Cryptography.ProtectedData.Tests, we have 6 failing tests.

[testResults.zip](https://github.com/dotnet/corefx/files/2673841/testResults.zip)

[2018-12-12 22:49] danmosemsft commented on #34037
PFXImportCertStore is failing with access denied. @bartonjs should we just disable tests that encounter this, or does this need investigation (eg., talking to OS team)?

[2018-12-12 22:49] karelz commented on #33996
@caesar1995 you looked into encoding bug in HTTP headers recently. Can you please check this one too?

[2018-12-12 22:50] joperezr commented on #34037
One more test assembly hitting this: System.Security.Cryptography.X509Certificates.Tests on 197 tests.

[testResults.zip](https://github.com/dotnet/corefx/files/2673848/testResults.zip)

[2018-12-12 22:50] danmosemsft commented on #34018
@fhchina what configuration do you have, is this .NET Core or .NET Framework and what version?

In the debugger, what is the type of obj here:
`at System.Runtime.Serialization.ObjectManager.RegisterObject(Object obj, Int64 objectID, SerializationInfo info, Int64 idOfContainingObj, MemberInfo member, Int32[] arrayIndex)`

[2018-12-12 22:51] karelz commented on #34015
cc @tmds @wfurt @eerhardt

[2018-12-12 22:53] bartonjs commented on #34037
Are we running in an unusual user context on arm32?  e.g. we were an administrator on other architectures, but we're a low rights user now.

[2018-12-12 22:53] karelz commented on #34022
@ericstj any thoughts?

[2018-12-12 22:53] joperezr opened #34050 "[arm32/Windows] System.Security.Cryptography.Xml.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Security.Cryptography.Xml.Tests produced the following results: passed 592/600 tests.

The 8 failing tests have the same callstack:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2673856/testResults.zip)

[2018-12-12 22:53] danmosemsft commented on #34011
This is probably an AV in MSBuild itself or in a task that it has loaded. There is no more info for Arcade to provide. It is necessary to repro under a debugger, or get a dump. Windows will likely have created a dump and put it in its Watson folder -- there may be a bucket ID for it in the event log. If so that can be downloaded and opened.

[2018-12-12 22:54] wfurt commented on #34015
This will need API review. We talk about it when we talk about AF_PACKET. This one is also only Linux specific e.g. no windows, no other UNIXes.

[2018-12-12 22:54] karelz commented on #34032
Duplicate of #19630

[2018-12-12 22:54] #34032 closed

[2018-12-12 22:55] joperezr commented on #34037
We are running as administrator.

[2018-12-12 22:56] danmosemsft commented on #34000
I have confirmed that we should disable EVentLog tests on Windows IoT.

[2018-12-12 23:00] danmosemsft commented on #34017
This is new in 81c6ce11a40df6d93de97ffc11408569befba727. @stephentoub?

[2018-12-12 23:00] danmosemsft commented on #34017
Oh - it's full framework. This test just needs disabling for full framework.

[2018-12-12 23:01] danmosemsft commented on #34017
It got past CI because it's outer loop.

[2018-12-12 23:02] joperezr opened #34051 "[arm32/Windows] System.Windows.Extensions.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Windows.Extensions.Tests produced the following results: passed 23/38 tests.

Most failing tests have to do with missing gdpi but there are few tests that are failing with this callstack:
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/2673877/testResults.zip)

[2018-12-12 23:02] joperezr commented on #34051
@karelz is there an area for System.Windows.Extensions?

[2018-12-12 23:03] RussKeldorph commented on #33965
@BruceForstall Could you investigate?

[2018-12-12 23:04] RussKeldorph commented on #33965
@dotnet/jit-contrib

[2018-12-12 23:05] joperezr opened #34052 "[arm32/Windows] System.Xml.Xsl.XslCompiledTransformApi.Tests failures on arm32 windows"
Running the arm32 tests on windows for System.Xml.Xsl.XslCompiledTransformApi.Tests produced the following results: passed 1267/1268 tests.

The test that failed was System.Xml.Tests.CTransformRegressionTest.RegressionTest1(xslInputType: URI, readerType: XmlValidatingReader, outputType: Stream, navType: XPathDocument) with:
[code]
[testResults.zip](https://github.com/dotnet/corefx/files/2673901/te

[2018-12-12 23:08] stephentoub commented on #34017
Hmm, I'd expect it to pass on netfx, too. I'll take a look.

[2018-12-12 23:08] rmkerr commented on #33846
That's a really interesting result, and is worth investigating in more depth. Thanks for sharing this.

To summarize: There appears to be a significant perf regression (10x) between SocketsHttpHandler and CurlHandler when following redirects. I'm going to add this to the 3.0 milestone, so we can get it fixed for the next release.

[2018-12-12 23:10] rmkerr commented on #33846
Does this still repro when you use a static HttpClient rather than instantiating one for every request?

[2018-12-12 23:10] Wraith2 commented on #33930
It looks like any timeout in managed mode will fail at this assert. It isn't limited to mars. Once the timeout occurs the socket closing causes the stack trace seen above which causes the failure mode. I think this needs to be handled before it bubbles up to the HandleReceiveError layer because at that point the error code is lost and it becomes just an empty packet, the possible association with

[2018-12-12 23:11] BruceForstall commented on #33965
Yes. Note that we have a pretty fundamental corefx test run regression now on ARM that may block investigation: https://github.com/dotnet/coreclr/issues/21464.

[2018-12-12 23:13] steveharter commented on #30654
@tommcdon I assume we also want to throw PNSE for System.Reflection.Emit.dll in both UWP debug mode and release (UWP-AOT) mode. Note that today debug mode works.

[2018-12-12 23:19] karelz commented on #34015
I assume you meant related to #30197

[2018-12-12 23:22] wfurt commented on #34015
yes, I should have added the link. In both cases we need to add enum to protocol list and do some testing on _all_ platforms. Since this would work only on Linux, we may do some extra documentation to make it clear.

[2018-12-12 23:23] ericstj commented on #33465
My tactical change for this introduced race conditions during the release builds.  Reopening this as I undid part of the fix.

Note the part that had runtime clashing with the runtime dir is still in, I've only undid the portion that ensured ConfigurationGroup unique paths.

[2018-12-12 23:30] davidkaya commented on #29323
After a very long pause I was finally able to get back to the issue. I have the PR ready however there is one problem that I encountered and do not know how to correctly do it.

`UF_HIDDEN` flag is available (as far as I found, I might be mistaken) only on OSX and FreeBSD. `FileStatus.Unix.cs` is for all Unix targets. So should there be new `FileStatus.OSX.cs (+ FreeBSD)`, should I ignore FreeBSD?

[2018-12-12 23:34] caesar1995 commented on #33996
Yes I can take a look.

[2018-12-12 23:36] danmosemsft commented on #33994
Did you find out more @joperezr ?

[2018-12-12 23:37] ericstj commented on #34022
Binding redirects need to be enabled in the test project.  You can set the following in the test project:
[code]

MSBuild issue : https://github.com/Microsoft/msbuild/issues/1310

[2018-12-12 23:42] danmosemsft commented on #34027
This may be succeeding as long paths are enabled by default on this SKU - 2 of these
[code]
Encryption tests probably need disabling:
[code]
Here Windows became more lenient, looks like - several of these
[code]
That's all the failures

[2018-12-12 23:43] danmosemsft commented on #34051
Disable test for IOT SKU

[2018-12-12 23:46] danmosemsft commented on #34052
This is odd, nothing to do with XSL, it's just writing and reading a file. No idea, but perhaps related to the \u00DF somehow. Need to run code below on the machine and look on the disk.
[code]

[2018-12-12 23:49] timmydo commented on #34033
this seems to happen on different machines. looks like it's happening from an http client request because the program isn't listening for connections (it's just processing things in a queue--so not kestrel related like the original issue). maybe a handful of times a day. if there is a way you could recommend I get more info that would be great. if it's not easy, I can just close this. I agree the

[2018-12-12 23:50] caesar1995 commented on #33996
RFC 6266 Appendix D:

      be expressed faithfully using the "filename" form.  Note that
      legacy user agents will not process this, and will fall back to
      using the "filename" parameter's content.

From screen shot, seems `FileName` field has the information you want. Why do you need `FileNameStar` field?

[2018-12-12 23:51] danmosemsft commented on #29323
You can use something like this in your csproj:
[code]

[2018-12-12 23:53] joshfree commented on #34052
@krwq could you take a look at this after your current feature is finished?

[2018-12-12 23:58] tommcdon commented on #30654
@steveharter Correct - we should try to provide a consistent experience between Debug/Release mode debugging

[2018-12-13 00:09] logwlogw commented on #33846
Yes,
but for testting  with static client, i add for close sockets
--------------------------------------------------
 GlobalHandel.PooledConnectionIdleTimeout=TimeSpan.Zero;
 GlobalHandel.PooledConnectionLifetime = TimeSpan.Zero;
--------------------------------------------------

`using System;
using System.Collections.Generic;
using System.Diagnostics;
using System.IO;
using System.Net.Http;
us

[2018-12-13 00:10] JeremyKuhne commented on #29323
We're not building specifically for OSX for this project. I don't think that we should.

`System.Runtime.InteropServices.IsOSPlatform()` will tell you if you are OSX or FreeBSD. That said, we typically abstract this sort of thing through the PAL (native abstraction layer) for Unix and put it behind an API check, something like Interop.Sys.HasChFlags(). A similar functionality check: https://github

[2018-12-13 00:16] logwlogw commented on #33846
Also I Testing my software and save result every 2 sec.
It is AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false);
![image](https://user-images.githubusercontent.com/45608226/49906926-aefcc100-fe7c-11e8-9f12-6f54e9ba55d4.png)

It Is Disabled  AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false);
![image](https://user-images.githubusercontent.com/45608226/49906981-e

[2018-12-13 00:17] ajcvickers opened #34055 "NU1605 Package downgrade with EFCore.Sqlite 2.2 on UWP"
Moved from https://github.com/aspnet/EntityFrameworkCore/issues/14090 filed by @devsko

I get this two package downgrade warnings.
[code]
Minimal repro with following references
- UWP Target version 17763 / Min version 16299
- Microsoft.NETCore.UniversalWindowsPlatform 6.1.9
- System.Runtime.WindowsRuntime 4.3.0
- Microsoft.EntityFrameworkCore.Sqlite 2.2.0

[2018-12-13 00:18] ajcvickers commented on #34055
Moving here because the issues are down in the corefx/UWP dependencies

[2018-12-13 00:41] tannergooding commented on #29861
Is this something we can workaround with a `*.manual.cs` file?

I was wondering why we aren't hitting this for other constants (like `Math.Pi`) and it looks like it's because we explicitly declare them: https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/ref/System.Runtime.Extensions.Manual.cs

[2018-12-13 00:43] danmosemsft commented on #29861
If it works, great

[2018-12-13 01:12] tannergooding commented on #29861
Ok, I couldn't add these constants to a `*.manual.cs` file because they were method local constants. I changed them to be regular constants and that resolved the warnings in a clean build: https://github.com/dotnet/corefx/pull/34057

[2018-12-13 01:30] stephentoub commented on #29323
That sounds about right.

It seems like the get case should be fairly easy, since it's returned in st_flags from a stat call... we should probably just update https://github.com/dotnet/corefx/blob/775347f642ae10badf82bcd0352c9f316093cd6f/src/Common/src/CoreLib/Interop/Unix/System.Native/Interop.Stat.cs#L50 to include an entry for that, and set that if UF_HIDDEN is set (guarded behind a cmake defin

[2018-12-13 01:33] vcsjones commented on #34018
@danmosemsft I assume core given:

[2018-12-13 03:10] geoffkizer opened #34059 "HTTP2: Respect SETTINGS_INITIAL_WINDOW_SIZE setting from peer"
Separating this from #31297 since it requires some additional implementation and refactoring to support properly.

[2018-12-13 03:11] geoffkizer commented on #31297
Note, I split the SETTINGS_INITIAL_WINDOW_SIZE work into a separate issue.

[2018-12-13 03:35] geoffkizer opened #34060 "HTTP2: Consider smarter buffer flushing strategy"
Currently, we are flushing the buffer out to the network on every frame write. This is correct but more aggressive than we need to be. We should consider trying to defer flushing (up to some buffer limit, e.g. 64K or whatever).

We can defer flushing in potentially two ways:
(1) If we know another writer is waiting on the _writerLock to write, then there's no need to flush immediately. (However, t

[2018-12-13 04:10] madhub opened #34061 ".NET core 2.1.x , 2.2.x wildcard certificate handling issue"
I have self hosted asp.net web api with wild card certificate ( ***.mdrinc.com**)  running on port 44321.

When I try to reach server using HttpClient I get "_The remote certificate is invalid according to the validation procedure_" error . With HttpClient handler with ServerCertificateCustomValidationCallback I see "_SslPolicyErrors.RemoteCertificateNameMismatch_".

Same program works with AppCon

[2018-12-13 04:49] jkotas commented on #30654
That does not work. Number of other libraries (like serializers) are implemented differently for regular (debug) vs. aot (release) flavor. The regular debug flavor uses Reflection.Emit. If you start throwing from Reflection.Emit contracts in debug, these libraries will break.

[2018-12-13 07:58] LadislavLang opened #34063 "TcpListener BeginAcceptTcpClient throws loop of SocketExceptions (10057) on WindowsServer 2012"
[code]

Windows 10 - net47: OK
Windows 10 - netcoreapp2.1: OK
Windows 10 - netcoreapp2.2: OK
Windows 10 - netcoreapp3.0 (preview): OK

Windows Server 2012 - net47: OK
Windows Server 2012 - netcoreapp2.1 & netcoreapp2.2 & netcoreapp3.0 (preview):

**At first, there is loop of many SocketExceptions**
System.Net.Sockets.SocketException (10057): A request to send or receive data was disallowed because

[2018-12-13 07:59] krwq commented on #34029
closing as dup of https://github.com/dotnet/corefx/issues/32847
I haven't had a chance to look at this yet

[2018-12-13 07:59] #34029 closed

[2018-12-13 07:59] krwq commented on #32847
Seems like this is not Powershell specific.

[2018-12-13 08:13] LadislavLang commented on #34063
I noticed the problem only on standard Windows Server 2012

Windows Server 2008: OK
Windows Server 2012 R2: OK

[2018-12-13 08:54] dotnet-mc-bot opened #34064 "Test failure: CoreFx.Private.TestUtilities.Tests.ConditionalAttributeTests/ValidateConditionalFact"
Opened on behalf of @AriNuer

The test `CoreFx.Private.TestUtilities.Tests.ConditionalAttributeTests/ValidateConditionalFact` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20181213.02 (Full Framework Tests)
Failing configurations:
- Windows.10.Amd64.ClientRS4-x86
  - Release
- Windows.10.Amd64.ClientRS4-x64
  - Release
Details:
https://mc.dot.net/#/product/netcore/30/sou

[2018-12-13 09:17] v-haren opened #34065 "Invalid argument: /m:1"
failed in job: https://ci2.dot.net/job/dotnet_corefx/job/perf/job/master/job/perf_ubuntu16.04_release/3622

failed log:
+ python3.5 /home/administrator/jenkins/w/dotnet_corefx/perf/master/perf_ubuntu16.04_release/Tools/Microsoft.BenchView.JSONFormat/tools/submission-metadata.py --name corefx rolling master  fa576b8877e7b8a20af56ed22320a1b93a3ad3f3 --user-email dotnet-bot@microsoft.com
[2018-12-12

[2018-12-13 09:39] fhchina commented on #34018
@danmosemsft I am porting a complex .NET application from .NET Framework 4.0 to .NET Core 2.1. This application works well under .NET Framerwork 4.0.

[2018-12-13 09:47] fhchina commented on #34018
I use VSCode to debug into CoreFX, and found the TypeLoadExceptionHolder hold an TypeName with "System.ComponentModel.DesignerAttribute". Then I use a customized SurrogateSelector to treat all Attribute subclass as null, now I still got this exception, but this time TypeLoadExceptionHolder hold an TypeName with "System.Runtime.Versioning.NonVersionableAttribute".

[2018-12-13 09:58] MichaelRumpler commented on #34022
Yes, this does fix the unittests. But why do I need them? I didn't reference Microsoft.Windows.Compatibility or System.Security.Principal.Windows anywhere else.

Also why does the ConsoleApp_Net47 not work? The System.Security.Principal.Windows.dll is not copied to that bin folder at all.

[2018-12-13 10:00] kurtschelfthout commented on #25354
@karelz Now the PR is merged, would you mind giving some color on how/when this will get released? Does it automatically go into .NET Core 3.0, for example?

[2018-12-13 10:01] 999999999999mail opened #34066 "The SSL connection could not be established, see inner exception"
System
OS : Windows Server 2012 R2 Standard
.Net Core : 2.1.5

Problem
HTTPS address request, sometimes this error occurs, not every request will be wrong

The SSL connection could not be established, see inner exception.

Details
[code]

Inner Exception:
Authentication failed, see inner exception.

Code:
[code]

[2018-12-13 10:59] ramsubbaraoc opened #34067 "how to create .resources file using dotnet core on linux"
On Windows we can use Resgen tool to generate .resources files from the text files. How can we achieve the same using dotnet core

[2018-12-13 11:01] davidkaya commented on #29323
@stephentoub Basically thats very similar to what I already did (https://github.com/davidkaya/corefx/pull/1/files) however I am also invoking the LChFlags when it is not set so it actually removes the flag from the file when the user wants to remove it so there might be a overhead since it would be called always when the flag is not there however it might be solved by the proposal below.

@JeremyK

[2018-12-13 11:37] davidkaya opened #34068 "Difference between the behaviour of File.GetAttributes(string path) and new FileInfo(string path).Attributes"
I encountered this problem (?) when I was writing tests for #29323

[code]

I know that documentation states `If the path doesn't exist as of the last cached state, the return value is (FileAttributes)(-1). FileNotFoundException or DirectoryNotFoundException can only be thrown when setting the value.` however is this expected behaviour?  I was writing tests for #29323 and I used the method availab

[2018-12-13 12:47] Symbai commented on #32544
There is only one for .NET Framework in project template, guess its MSTest (built in), no third parties.

[2018-12-13 13:57] Symbai commented on #32544
Switched to xunit and it works now. Thanks for the hint @joperezr.

[2018-12-13 13:57] #32544 closed

[2018-12-13 14:16] ericstj commented on #34022
Does the console app use packagereference?  If not convert it, or manually add references to the same transitive packages.

If it doesn’t reference any packages set RestoreProjectStyle=PackageReference to get transitive dependencies.

[2018-12-13 14:30] #34014 closed

[2018-12-13 15:02] MichaelRumpler commented on #34022
I didn't add any nuget packages in the console app of this repro project. So there was no packages.config and no PackageReference in the csproj. As I created it yesterday with VS2019 I assumed that it would use PackageReference by default. However, that seemed to have been wrong. I added

    <RestoreProjectStyle>PackageReference</RestoreProjectStyle>

to the csproj and then it worked.

Thank you!

[2018-12-13 15:02] #34022 closed

[2018-12-13 15:36] tannergooding commented on #29861
Logged https://github.com/dotnet/arcade/issues/1574 to continue tracking the issue since we are working around it in CoreFX

[2018-12-13 16:01] davidsh commented on #34066
What websites/URL's does this error occur with?

[2018-12-13 16:02] fhchina commented on #34018
System.Runtime.Versioning.NonVersionableAttribute is internal! which class used this stuff and need to be serialized/deserialized? Is there any tool/method to identify which is the root class to cause TypeLoadExceptionHolder to be created?

[2018-12-13 16:15] danmosemsft commented on #34018
@viktorhofer

[2018-12-13 16:16] RobertvanderHulst commented on #21116
This scenario of bindingredirects works when an assembly that uses System.IO.FileStream is linked statically to a Net46.exe,
But it does not work when a .net assembly is loaded dynamically (with Assembly.Load).
The msbuild system then has no idea about dependencies and does not generate the necessary bindingredirects and tries to load System.IO.FileSystem 4.0.1.0, but finds version 4.0.2.0.
If thi

[2018-12-13 16:28] alexdrl opened #34070 "TempAssembly not found when generating XML documents"
Hello, we started migrating our application from .netcoreapp2.0 to .netcoreapp2.2. In the process, we encounter a problem with XML Serialization. The call stack and the error is the following.
 ![](https://user-images.githubusercontent.com/26382633/49952173-b9aa6b00-fefb-11e8-9dfd-867171ada1b7.png)

The code in between is a external library code that tries to generate some XML document dynamically

[2018-12-13 16:33] ViktorHofer commented on #34018
@fhchina can you please give me access to the serialization payload that you try to deserialize? I should be able to find the necessary information in it.

[2018-12-13 16:43] #29861 closed

[2018-12-13 16:51] ViktorHofer commented on #30399
@MattGal I made some follow-up changes and now both the launcher and the runner are compiled correctly for ARM. Unfortunately that still didn't solve the registration issue. I think I'm out of luck here without access to a repro machine...

[2018-12-13 16:52] ericstj opened #34071 "Removal of reference assemblies left behind a ref placeholder"
The change to set ExcludeReferenceAssets isn't excluding the placeholders added by InboxOnTargetFramework: https://github.com/dotnet/buildtools/blob/64e2e93c0560ceb2108c69fdb0d8795d2f7b52ba/src/Microsoft.DotNet.Build.Tasks.Packaging/src/PackageFiles/Packaging.targets#L328-L332

https://github.com/dotnet/corefx/commit/03bad43b5b063b46fdea07c2e292cf880bafb063

[2018-12-13 16:54] ViktorHofer commented on #34070
Not 100% sure but I Believe that belongs to https://github.com/Microsoft/vstest/.

[2018-12-13 16:56] alexdrl commented on #34070
Sorry, I edited the post later noting that the exception also throws on running the application.
________________________________
From: Viktor Hofer <notifications@github.com>
Sent: Thursday, December 13, 2018 5:55:01 PM
To: dotnet/corefx
Cc: Alejandro Del Rincón López; Author
Subject: Re: [dotnet/corefx] TempAssembly not found when generating XML documents (#34070)

Not 100% sure but I Believe th

[2018-12-13 17:47] MgSam opened #34073 "AsyncLock"
Please add @stephentoub's excellent [AsyncLock ](https://blogs.msdn.microsoft.com/pfxteam/2012/02/12/building-async-coordination-primitives-part-6-asynclock/) and async primitive friends into Core FX.

I searched and was surprised not to find this suggested before. Feel free to close this if it was and I just couldn't find it.

While it is true that Stephen Cleary has added this to his great [Asyn

[2018-12-13 17:49] ViktorHofer commented on #33465
OK, that's unfortunate. Do you already have a plan how to workaround the race condition?

[2018-12-13 17:53] ViktorHofer commented on #33959
ping @mmitche @MattGal

[2018-12-13 17:57] mmitche commented on #33959
@ViktorHofer Given that we're headed off jenkins for master very soon, I'd rather not muck around with this.

[2018-12-13 18:00] vancem commented on #33013
This was determined to be a bug in the Microsoft.Diagnostics.Tracing.TraceEvent NuGet package.    It has been fixed in V2.0.32 now up on nuget.org (see https://github.com/Microsoft/perfview/releases/tag/T2.0.32).   If you upgrade the tests to use this version of TraceEvent, it should fix the problem

[2018-12-13 18:00] ViktorHofer commented on #33959
Works for me.

@danmosemsft the report should be fully feature in Azure DevOps. I'll stand-by till we fully switched.

[2018-12-13 18:02] tannergooding opened #34074 "Consider enabling WarnAsError for both MSBuild and Csc"
Now that https://github.com/dotnet/corefx/issues/29861 has been resolved and our build is once again warning free, it might be good to consider enabling `WarnAsError` for both MSBuild and Csc (and for any other tools that have similar options).

This would avoid us having these warnings committed in the first place.

[2018-12-13 18:03] tannergooding commented on #34074
CC. @danmosemsft, @stephentoub, @safern

@safern mentioned that we might not want to enable such functionality for `OfficialBuilds` right now. Once those are stabilized, however, I think it would also be good to enable there as well (since everything should have already been caught in CI before the official build ever runs).

[2018-12-13 18:04] karelz commented on #25741
FYI:
The fix is part of .NET 4.8 EAP:
https://github.com/Microsoft/dotnet-framework-early-access/blob/master/release-notes/NET48/dotnet-48-changes.md#networking
* Fixed HTTP Status line parsing to be more tolerant of missing status description text in HTTP responses. [534936, System.dll, Bug, Build:3621]

[2018-12-13 18:07] ViktorHofer commented on #34074
We should not enable WarnAsError in official builds as we are testing things differently there and with our follow-up infra work like code coverage integration in PRs we will test extra stuff in official builds only. I.e. cross-gened assemblies.

[2018-12-13 18:08] dotMorten commented on #25741
@karelz Thanks for the update. That's great news.

[2018-12-13 18:16] ViktorHofer commented on #34074
That sounds fine to me. `'$(OfficialBuildId)' == ''`.

[2018-12-13 18:20] JesperTreetop commented on #33968
Will there also be `decimal GetDecimal()` and `bool TryGetValue(out decimal value)` on `JsonElement`? Parsing it as a `double` is destructive.

[2018-12-13 18:21] danmosemsft commented on #34070
@huanwu owns XML serialization I believe.

[2018-12-13 18:21] danmosemsft commented on #34068
What is .NET Framework behavior?

[2018-12-13 18:30] vancem commented on #24085
Including @jorive @noahfalk who now own this area.

[2018-12-13 18:31] MattGal commented on #30399
I am skeptical that you can connect to the intranet KVMs we use from outside corpnet, I'll chat with @ilyas1974 when I get a chance.  I'm always happy to try things out  on a machine.

[2018-12-13 18:32] danmosemsft commented on #34074
@stephentoub do you have any objection/concerns with this?

[2018-12-13 18:43] jayspadie commented on #33996
@caesar1995 , Also from [RFC 6266 Appendix D](https://tools.ietf.org/html/rfc6266#appendix-D):

Since ```FileName``` is typically decoded as ISO-8859-1, ```FileNameStar``` is used by newer browsers to support UTF-8.  The general recommendation is to set them both.  I'm showing the debug values from Visual Studio in the bug description, but browsers handle it differently.  Edge, for example, will d

[2018-12-13 18:58] stephentoub commented on #34074
I would love to get to a place where any warning from any part of CI is treated as failure (and thus where any such failure is a real issue, it's not flaky, etc.). So no objections from me.

[2018-12-13 19:15] joperezr commented on #33994
I didn't, @ericstj made some small changes in his fork which made the tests apparently succeed in creating the window, but where unable to find it so they were timing out now.

[2018-12-13 19:16] joperezr commented on #33887
Agreed. I'll take care of this later.

[2018-12-13 19:18] joperezr commented on #34000
Do we also want to throw PNSE on win-arm? or just disable the tests for now?

[2018-12-13 19:36] rmkerr opened #34075 "Unable to load libgdiplus on Alpine"
A significant number of System.Resources tests have been failing on Alpine Linux in the daily test runs. It looks like the failure occurs when we try to load libgdiplus:
[code]

[2018-12-13 19:36] terrajobst opened #34076 "Implement all companion APIs for System.Index and System.Range"
The spec is [here](https://github.com/dotnet/designs/blob/master/accepted/system-range/system-range.md#companion-apis).

### Preview 1 Shipped Version

[code]

### Open Issues
- Finalize the list of the types will have indexers using Index and Range
- Index type has public constructor while Range using Factory methods to create Range. Should we make the types consistent? either have constructors o

[2018-12-13 19:37] terrajobst commented on #33895
Can we close this now?

[2018-12-13 19:38] JeremyKuhne commented on #29323
I'm not sure I understand why that is blocking. From what I can see the API shouldn't exist on platforms where this doesn't make sense, and even if it did you can also check for the flag being defined as your gate.

Worst comes to worst we can check the platform at runtime. That is something we want to avoid unless we really know we have to and would likely do in the PAL anyway. The whole point of

[2018-12-13 19:38] #33895 closed

[2018-12-13 19:39] TylerBrinkley commented on #15453
@terrajobst and @danmosemsft would it be better for me to break this proposal up into smaller chunks so that it could be api reviewed?

[2018-12-13 19:40] safern commented on #34075
This is weird because we actually condition all of our Drawing tests to run only when libgdiplus is available. So something to investigate. Do yo have a link to a failure item?

[2018-12-13 19:41] ericstj commented on #33465
I undid the change so the race condition is gone.  At the moment lacking ConfigurationGroup from the output paths isn't a blocking problem.  If I had a choice rather than to invest more into the Configuration-encoding path I'd like to pursue the TargetFrameworks solution which avoids this problem entirely.

FWIW I left in the portion of the fix that avoids the collision between runtime path and th

[2018-12-13 19:44] ericstj commented on #33994
This commit made things get farther: https://github.com/ericstj/corefx/commit/0ddfa628ef35c9a74083a549a12f017f15ecccdf

But all the async tests were still timing out.

We tried changing XUnit to run 1 test at a time but that didn't fix things.

It looked to me like the background event thread was never getting any CPU time so the events were never signaled, or perhaps the events were signaled but

[2018-12-13 19:49] rmkerr commented on #34075
Actually, it looks like this is in System.Resources rather than System.Drawing. It may be that they aren't performing the same checks to see that libgdiplus is available when they run their image related tests. I'll re-tag this. [Here's an example of the failures](https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20181213.03/workItem

[2018-12-13 20:07] tmds commented on #25354
Great contribution @AlexRadch and @kurtschelfthout !

[2018-12-13 20:08] logwlogw commented on #33846
I think maybe the problem is in SSL

[2018-12-13 20:14] TylerBrinkley opened #34077 "Add EnumMember API"
Split off from #15453

## Rationale and Usage

Currently, to retrieve both the names and values of an enum's members requires two separate calls and requires you to use a for loop which is quite clumsy. Additionally the pattern to associate extra data with an enum member using `Attribute`s is not directly supported and instead requires users to manually retrieve the `Attribute`s via reflection. Th

[2018-12-13 20:14] davidkaya commented on #29323
I don’t know whether I understood you correctly. You would make ‘LChflags’ noop if ‘UF_HIDDEN’ is not defined (‘check_symbol_exists’ in cmake) or if ‘lchflags’ is not defined (‘check_function_exists’ in cmake)? Because only ‘UF_HIDDEN’ (0x8000) is defined *only* on OSX and FreeBSD.

[2018-12-13 20:39] TylerBrinkley commented on #27453
Split off from #15453

Enums are essential commonly used types but have several areas in need of improvement. For each non-generic `Enum` method there should be an equivalent generic version.

## Rationale and Usage
1. Nearly all of `Enum`'s static methods are non-generic leading to the following issues.
   * Requires boxing for methods with enum input parameters losing type-safety, eg. `IsDefined

[2018-12-13 20:52] TylerBrinkley opened #34079 "Add flag Enum methods"
Moved from #15453

Enums are essential commonly used types but have several areas in need of improvement. There should be better support for flag enums, bit-masked enums with the `FlagsAttribute` applied. Support for enum validation should be improved to support flag enums.

## Rationale and Usage
1. Support for flag enums is limited to just the `HasFlag` method which isn't type-safe, is inefficie

[2018-12-13 21:01] TylerBrinkley opened #34080 "Add a PrimaryAttribute type"
Split from #15453

For the `Enum` method `GetName` when there are multiple enum members with the same value the name it returns is undefined. I propose adding a `PrimaryAttribute` to be applied to enum members where there is ambiguity which will ensure its name is returned.

## Proposed API
[code]

## API Details
* The `PrimaryAttribute` is used to specify what enum member to retrieve when there a

[2018-12-13 21:01] bartonjs opened #34081 "Utf8JsonReader should throw when isFinal is true and the first call to Read returns false"
json.org's version of the JSON grammar says that a JSON payload has precisely one value.

Currently the reader will return false with no exception if no semantic value was present, which I found to be surprising.

* `ReadOnlySpan<byte>.Empty`
* `new byte[] { 0x20 }`
* Comments: Skip, `Encoding.UTF8.GetBytes("// just a comment")`
* Comments: Skip, `Encoding.UTF8.GetBytes("   /* comment and whitespa

[2018-12-13 21:04] TylerBrinkley commented on #15453
I've moved the `EnumMember` API addition to #34077.

I've moved the generic API additions that don't necessitate the performance improvements of this implementation to #27453.

I've moved the flag API additions to #34079.

I've moved the PrimaryAttribute addition to #34080.

This ticket will remain for a few performance API's and as the basis for the improved performance implementation.

[2018-12-13 21:33] AlexejLiebenthal commented on #33997
I think this is a really special case and **should throw** (`ArgumentOutOfRangeException`) on any numeric (`double`, `int`, `short`, ..) getter, if the value doesn't fit.
### Why
- No roundtrip, as you already mentioned, would be possible (JSON > c# object > JSON).
- If such a big number occurs, this could be some special case in some special context and could have a need for a special treatment.

[2018-12-13 21:51] bartonjs commented on #33997
It isn't, really, when it comes to numbers.  JSON Number is an arbitrary precision "BigRational"; and thus holds an infinity of infinities (Aleph-1) of values that cannot be represented by IEEE754 / ECMAScript (since ECMA-262 9.0 says Number is "primitive value corresponding to a double-precision 64-bit binary format IEEE 754-2008 value")

`FormatException` and/or `OverflowException` are the two a

[2018-12-13 21:56] huanwu commented on #34070
@yujayee Could you take a look?

[2018-12-13 21:59] stephentoub commented on #34076
@terrajobst, is that the full list?  I'm wondering if we're planning to, for example, add such indexers to collections like `List<T>`.

[2018-12-13 22:02] jkoritzinsky opened #34083 "System.Management uses in-place string modification in interop"
While working to block users from intentionally using interop to modify the internal buffer of a `string` to avoid corrupting interned strings and crashing during ALC unloading, I discovered that the `IWbemPath` interface in `System.Management`'s `GetPath_` method has a `[In][Out][MarshalAs(UnmanagedType.LPWStr)] string path` parameter that modifies the string value in-place. We should change this

[2018-12-13 22:06] tannergooding commented on #33997
For `double` and `float`, the IEEE 754 specification defines that numbers larger than the largest representable value overflows to `+/-Infinity` and values smaller than the smallest representable double underflow to `+/-Zero`. Javascript itself, being an IEEE compliant language has the same behavior (e.g. `1.79769313486232E+309` returns `Infinity` -- this is easily tested in any modern browser). I

[2018-12-13 22:14] wfurt commented on #24386
remaining work is tracked in #33530. this was resolved by #33527.

[2018-12-13 22:14] #24386 closed

[2018-12-13 22:18] tannergooding commented on #33997
It is also likely worth mentioning that, if you use the built-in `JSON.Parse` function in Javascript:
[code]

The result is `Infinity`

[2018-12-13 22:21] tannergooding commented on #33997
It also likely worth mentioning that if you use the built-in `JSON.Stringify` function in Javascript:
[code]

The result is `{"value":null}`

[2018-12-13 22:51] AlexejLiebenthal commented on #33997
@bartonjs

I know. I only liked to point out the history. And that most of the use cases the value provided in a json will be a valid IEEE754 64 bit binary. But the producer of the json is responsible of providing a schema file (like I hacked in here as an example). Even if it's not everywhere common, and quit naive from me, it is quite mandatory. So if I like to deserialize the json, I know which

[2018-12-13 23:02] tannergooding commented on #33997
I think it can basically be summed to two cases:
1. We fail if `number` would overflow to `+/-Infinity`, in which case there are some JSON inputs that you will never be able to handle by default (the token would be reported as a `number`, but all attempts to parse the token into a supported .NET type fail)
2. We allow `number` to overflow to `+/-Infinity`, in which case we are IEEE compliant but t

[2018-12-13 23:09] yujayee commented on #34070
@alexdrl Could you provide a simple repro of this problem? I'm not sure what's wrong from your description, when the serializer could not be found on disk, the exception should be caught and the serializer will be generated dynamically. And could you explain your question "Why the parameter location in the XMLSerializer constructor is not used?" in more details?  Which constructor and which parame

[2018-12-13 23:22] krwq commented on #33809
another change:
- DisallowedDigestAlgorithms -> DisallowedMacs

this is to disambiguate between MAC vs hash used for key derivation

[2018-12-14 00:11] bartonjs commented on #33997
The real consequence of option 2 is that we should get rid of TryGetDouble, since it can never return false.  (If the value (e.g.) had two decimal points in it then the reader already threw); which is why we need to define the behavior for "too large" numbers.

(And then presumably JsonDocument will match)

[2018-12-14 00:31] #31297 closed

[2018-12-14 01:48] terrajobst commented on #34076
It's the full list of what I had planned. But you're right. We should probably add more, such as:

* List<T>, ArraySegment<T>, for perf
* IList<T>, IReadOnlyList<T>, at least an indexer for `Index`. Not sure about `Range`. We'd have to decide what the return type would be.
    - Via default interface implementation.

It might be worthwhile to discuss this.

[2018-12-14 02:12] AndyAyersMS commented on #34076
Any goals around perf?

Methods using `Index` need to be implemented carefully to work well in concert with the jit and depending on perf goals may require some jit improvements (see for instance dotnet/coreclr#21196).

Haven't looked at `Range` in depth yet but suspect similar concerns apply, and possibly more...

[2018-12-14 02:17] stephentoub commented on #34076
For all of these other than `ArraySegment`, I'm still not excited about providing `Range`-based indexers, just like I'm not excited about it for `string` and `T[]`.  They're going to have terrible perf, yet look enticing.

[2018-12-14 02:34] ahsonkhan commented on #33997
@ahsonkhan

[2018-12-14 04:34] ericsampson commented on #20296
Any updates on this making 2.2 or 3.0? @karelz @davidsh, cc @NickCraver . I kind of wish it would just do option 1) of throwing a TimeoutException, or alternatively a new HttpTimeoutException that is derived from HttpRequestException. Thanks!

[2018-12-14 07:21] rayncc opened #34093 "How to use Microsoft.Bcl.Async with Managed C++ projects"
We are working on a solution with .Net 4.0 (for some reason), and we have two projects here:
1. Project A is a C# project, which imports Microsoft.Bcl.Asyc
2. Project B is a VC++ Project (CLR dll), which adds Project A as a reference.

Now project B can not work, because Microsoft.Bcl requires project B to install nuget package Microsoft.Bcl, But we cannot install it on a VC++ project. Also, we go

[2018-12-14 07:38] GrabYourPitchforks opened #34094 "System.Text.Utf8Char data type to represent UTF-8 text data"
(Related: https://github.com/dotnet/corefx/issues/30503)

## Motivations and driving principles behind the `Utf8Char` proposal

`Utf8Char` is synonymous with `Char`: they represent a single UTF-8 code unit and a single UTF-16 code unit, respectively. They are distinct from the integral types `Byte` and `UInt16` in that sequences of the UTF-\* code unit types are meant to represent textual data, wh

[2018-12-14 08:52] alexdrl commented on #34070
Should we ignore this error then?

I was referring to this https://github.com/dotnet/corefx/blob/caa7879a4608433b98f01df6545b91ce063a5992/src/System.Private.Xml/src/System/Xml/Serialization/XmlSerializer.cs#L331
which I found later.

[2018-12-14 11:13] MarcoRossignoli commented on #34068
Same behaviour
[code]

[2018-12-14 11:15] MarcoRossignoli commented on #34068
Same behaviour
[code]

[2018-12-14 11:47] madhub commented on #34061
It looks like if SAN ( **subject alternative name** )   is missing in the certificate , wildcard matching is ignored in the .NET Core openssl implementation ("CryptoNative_CheckX509Hostname")

https://github.com/dotnet/corefx/blob/05d119eeb832fc0076ae4c94ddff57eb4909e88c/src/Native/Unix/System.Security.Cryptography.Native/openssl.c line 816

[2018-12-14 12:37] emilssonn opened #34095 "HttpClient throwing System.Net.Sockets.SocketException after 21 seconds"
We are getting random 21 second timeouts when making http calls using HttpClient. As far as I know this is an low-level TCP timeout. The exception message is the same as in issue #31951. What causes these errors?

The real world use case is that we have an Azure Webapp running the latest version of .Net Core 2.1. When this webapp receives a request it will do a request (using httpclient) to anothe

[2018-12-14 12:43] KevinRansom opened #34096 "RefEmit does not have the desktop api MarkSequencePoint"
In FSI we use **ILGenerator.MarkSequencePoint** to enable debugging of generated code from the in-memory generated assembly.

Will this be added back, and will debugging coreclr code enable it to work correctly once it has been?

// @jkotas, @dsyme, @joshfree, @steveharter

[2018-12-14 12:45] onovotny commented on #33987
As an FYI, NuGet Package Explorer will parse and display sourcelink information in pdb's and dll's with embedded pdb's. Just double-click the file inside a nuget package.

That can be helpful for seeing the mappings.

[2018-12-14 12:50] MarcoRossignoli commented on #34095
Are you using [HttpClientFactory](https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests)?

[2018-12-14 13:17] emilssonn commented on #34095
Yes, I am using a typed client with polly for retries.

[2018-12-14 14:02] emilssonn commented on #34095
Simplified I use the following. The httpclient is injected using the pattern on https://docs.microsoft.com/sv-se/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.1

[code]

[2018-12-14 14:19] MarcoRossignoli commented on #34095
/cc @davidsh

[2018-12-14 14:26] HelgeKeck opened #34177 "Wrong NetworkInterfaceType on OS X Mojave with .Net Standard 2.0 for WiFi Adapter"
On OS X Mojave with .Net Standard 2.0

for the WiFi Adapter, System.Net.NetworkInformation.NetworkInterface.NetworkInterfaceType()

returns
NetworkInterfaceType.Ethernet
instead of
NetworkInterfaceType.Wireless80211

[2018-12-14 15:30] steveharter commented on #30654
It is unfortunate that there are dependencies on the debug\non-aot semantics. I was planning to add `TargetsUap` to the S.R.Emit.csproj and S.R.Emit.Lightweight.csproj to generate the PNSE, but now will hold off unless I hear otherwise.

[2018-12-14 15:31] AlexejLiebenthal commented on #33997
If it is a quite Big Number `BigInteger` would be possible. (Big `double` values (>1.0E18) are already kind of an integer number)
If the number is between `double.Epsilon` and `0.0` and as C# does not support a type like `BigDecimal` this only can be interpreted as Zero.

The consumer must have appropriate DTOs in which he can deserialize the most correct value out of the json. Better it would be,

[2018-12-14 15:36] bartonjs commented on #34061
It doesn't look like your certificate has a subject alternative names extension.

.NET's hostname validator only matches wildcards within a dNSName label of the Subject Alternative Names extension.  The closest authority to this pattern that I can find is [RFC 4513]:

   identity to the Common Name (CN) [RFC4519] value in the leaf Relative
   Distinguished Name (RDN) of the subjectName field of th

[2018-12-14 15:39] bartonjs commented on #34061
@madhub Sorry, apparently I didn't hit the post button yesterday.

[2018-12-14 15:47] jkotas commented on #30654
I think this issue can be closed.

[2018-12-14 15:56] ericstj commented on #33987
To clarify, my recollection is that S.R.M can't roundtrip IL but that info might be old.  @tmat or @nguerrera are better to say for sure.

Another thing that could break the source-link info is the ILLink-er.  That uses Cecil to rewrite the IL.  I would imagine we'd want to fix that if it had a problem.

@onovotny that's good to know.  In this case I think it'd be better to examine the PDBs in int

[2018-12-14 15:59] onovotny commented on #33987
As a hack, you can create a new blank package in NPE and drag the intermediate fikes to it, then it’ll let you see the data. A side effect as it’s not directly a pdb viewer, but I don’t know of an easier way 🙂

[2018-12-14 16:02] steveharter commented on #30654
Closing. One of the other items listed was to "Update the package description to document the PNSEs on AOT platforms" however we don't do that on any other packages that I saw.

[2018-12-14 16:02] #30654 closed

[2018-12-14 16:06] nguerrera commented on #33987
S.R.M supports writing, roslyn writes with it. :)

What it doesn't have (by design) is a high level "DOM" so that you can easily read/edit/write. So it is not a direct replacement for something like Cecil or CCI, which do offer that. Rather, it is the low level piece that you'd build higher models over.

[2018-12-14 16:15] fhchina commented on #34018
@ViktorHofer payload? Code snippet or binary files?

[2018-12-14 16:15] nguerrera commented on #33987
I agree with generating .cs for type forwards.

[2018-12-14 16:20] madhub commented on #34061
curl works properly, shown in example
I wrote java program to test it also works.
`openssl s_client -connect ms.mdrinc.com:44321 also works.`
Same program with `AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false)`; also works.
I am not sure what is right ?

[2018-12-14 16:48] ericsampson commented on #20296
Argh, that's what happens when I take a break ;)

[2018-12-14 16:52] davidsh commented on #34095
21 seconds is the built-in default for TCP connection timeout on Windows.  It is 21 seconds because Windows TCP stack allows for 7 seconds per leg of the 3-leg TCP SYNC-ACK connection setup.

There is no current override to this timeout which is a built-in timeout to the Windows TCP layer.

This issue is basically a duplicate of #31951

[2018-12-14 16:52] davidsh commented on #34095
cc: @karelz

[2018-12-14 17:10] bartonjs commented on #34061
`openssl s_client` never validates hostnames

There's not really any clear/crisp standard of what wildcard matching should be done.

* Curl is using the form of treating the CN value as an extra dNSName label, meaning wildcards are allowed.
* Java is either doing the same, or your test app has ended up disabling validation.
* .NET Core on Linux says that when falling back to the CN value, wildcard

[2018-12-14 17:21] #33480 closed

[2018-12-14 17:22] karelz commented on #34095
@emilssonn I am curious how often it happens and if you are able to reproduce it in some debuggable/traceable environment outside of Azure WebApps.

[2018-12-14 17:28] dotnet-mc-bot opened #34097 "Build failure: Buildtools issue, needs to be converted to use arcade"
Opened on behalf of @robertborr

Warnings: 1
Status Message: failed

Build : 3.0 - 20181214.01 (Product Build)
Failing configurations:
- Windows
  - netcoreapp-x64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/build~2Fproduct~2F/build/20181214.01/workItem/Orchestration/analysis/external/Link)

1>E:\A\_work\5\s\corefx\Tools\CloudTest.

[2018-12-14 17:36] madhub commented on #34061
Just to clarify `Java program` does not disable validation. I will post my Java sample  shortly.

Regarding the workaround, is this behavior is consistent on Windows & Linux version of .NET core ?, I am sure on Windows you are not using `openssl `library .

I will do some more testing with other Http implementation `wget `/ `python HttpClient` /.

[2018-12-14 17:40] bartonjs commented on #34061
My previous statement: "This is the behavior that we were recommended to implement by the Windows teams responsible for certificates and TLS, so it should be the same as what HttpClient does on .NET Framework or .NET Core on Windows."

Since I don't have a conforming setup at the moment (a no-SAN certificate with a wildcard CN issued by a trusted root), I can't verify that assertion; but evidence

[2018-12-14 18:02] krwq commented on #34075
Here is the error before the log disappear:

[code]

[code]

@safern do you know if we perhaps have a way of testing that in the CI? I don't have any alpine available to check that. I'd just condition the test the same way we do in system.drawing

[2018-12-14 18:15] curtnichols opened #34098 "DataflowBlock.LinkTo(source, target, predicate) clogs"
## Problem statement
I found that [DataflowBlock.LInkTo(source,target,predicate)](https://github.com/dotnet/corefx/blob/269670f3368c7282f8dc5f5530c8b972f4ef68a6/src/System.Threading.Tasks.Dataflow/src/Base/DataflowBlock.cs#L61) extension method fails to propagate any messages after the predicate returns false.

The documentation for the predicate argument indicates

Am I misreading the docs? Refus

[2018-12-14 18:15] emilssonn commented on #34095
I have not been able to reproduce it "manually" yet.
I apologize if this issue is a duplicate. My main question is if this exception always indicate an error in the target API (API Management in this case) or if this error/timeout can occur in some way where the cause is the caller and not the target. I have an ongoing ticket with Azure support and I am basically trying to rule out as many things

[2018-12-14 18:38] robertborr opened #34099 "ToolsError build failures in 'official/corefx/master/' - '20181208.01'"
@dotnet-mc-bot commented on [Fri Dec 07 2018](https://github.com/dotnet/core-eng/issues/4766)

There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=2263050
  - **Agent:** DDVSOWINAGE082
  - **Error log:** E:\A\_work\0\s\corefx\Tools\codeOptimization.targets(0,0): error MSB3073: The command "

[2018-12-14 18:40] robertborr commented on #34099
refrencing also:

https://github.com/dotnet/core-eng/issues/4786
https://github.com/dotnet/core-eng/issues/4776
https://github.com/dotnet/core-eng/issues/4774
https://github.com/dotnet/core-eng/issues/4772
https://github.com/dotnet/core-eng/issues/4770
https://github.com/dotnet/core-eng/issues/4768
https://github.com/dotnet/core-eng/issues/4766

[2018-12-14 18:41] robertborr commented on #34099
There were a set of failures during this build. Here is a summary of these:

https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=2263050
Agent: DDVSOWINAGE082
Error log: E:\A_work\0\s\corefx\Tools\codeOptimization.targets(0,0): error MSB3073: The command "E:\A_work\0\s\corefx.packages\Microsoft.DotNet.IBCMerge\4.6.0-alpha-00001\lib\net45\ibcmerge.exe -q -f -delete -m

[2018-12-14 18:43] #27938 closed

[2018-12-14 18:46] robertborr opened #34100 "Network build failures in 'official/corefx/master/' - '20181211.02'"
@dotnet-mc-bot commented on [Tue Dec 11 2018](https://github.com/dotnet/core-eng/issues/4788)

There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=2268475
  - **Agent:** DDVSOWINAGE082
  - **Error log:** E:\A\_work\0\s\corefx\.dotnet\sdk\2.1.401\NuGet.targets(0,0): error : Failed to retriev

[2018-12-14 18:52] robertborr opened #34101 "Misc build failures in 'official/corefx/master/' - '20181213.01'"
@dotnet-mc-bot commented on [Wed Dec 12 2018](https://github.com/dotnet/core-eng/issues/4800)

There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=2273951
  - **Agent:** DDVSOLINUXAGE003
  - **Error log:** ##[error]/usr/bin/docker failed with return code: 1...

* https://devdiv.visualstudio

[2018-12-14 18:57] jeffhube opened #34102 "XDocument.Load badly resolves path containing %2E and some other URL encoded characters"
XDocument.Load is failing to properly resolve paths that contain %2E. Given a filename like "foo%2E.txt", it attempts to open "foo..txt". This seems kind of similar to #25820.

Version: 2.2.101

[code]

[code]

[2018-12-14 19:12] robertborr opened #34103 "Build failure: CoreFx 20181213.03"
@dotnet-mc-bot commented on [Thu Dec 13 2018](https://github.com/dotnet/core-eng/issues/4804)

Opened on behalf of @v-asdhin

Warnings: 1
Status Message: failed

Build : 3.0 - 20181213.03 (Product Build)
Failing configurations:
- Windows
  - netcoreapp-x86
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/build~2Fproduct~2F/build/2018121

[2018-12-14 19:20] saurabh500 commented on #10800
cc @Wraith2 In case you want fix the tests to use ConditionalFact instead of the custom attribute that SqlClient tests have.

[2018-12-14 19:51] Wraith2 commented on #10800
Fix by removing the custom attributes? I can probably do that.

[2018-12-14 19:53] saurabh500 commented on #10800
Yeah, remove the `CheckConnStrSetupFact` class completely and migrate all usages to `ConditionalFact`

[2018-12-14 19:56] Wraith2 commented on #10800
Sure, assign it to me.

[2018-12-14 20:03] lextm commented on #34093
First, this is a repo for .NET Core, so discussing your .NET Framework 4.0 issues is not quite appropriate.

Second, .NET Framework 4.0 lifecycle has ended a long while ago (since January 2016), so for whatever reasons you shouldn't use it any more. Microsoft FAQ can be found at https://support.microsoft.com/en-ca/help/17455/lifecycle-faq-net-framework

Third, if you really want o get it resolved,

[2018-12-14 20:20] stephentoub commented on #34098
This is by design.  The data isn't just dropped when it doesn't propagate; instead, it remains in the source block until it's received or propagated somewhere else.  And since it's all ordered, nothing else is propagated until that item is gone.  If you want to drop all items that don't pass the predicate, you can add a subsequent LinkTo to the null target, such that any items that fail to propaga

[2018-12-14 20:20] dasMulli commented on #28933
Late to the party: was there (can't find) a discussion considering making a dedicated type (struct) for a week number? - `IsoWeek` / `IsoWeekNumber` / `WeekNumber` containing both `Year` and `Week` properties.
IMHO it seems more concise than needing to call two methods to get two numbers that represent a single thing.
Not sure how other people use week numbers, but I used to need both the week and

[2018-12-14 20:38] jeffhube commented on #34102
Apparently this fails for filenames containing a number of url encoded characters.

[code]

Output:
[code]

Unencoded, that's the following characters:
`-.0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz~`

[2018-12-14 20:46] mmulhearn commented on #16994
I ran into this issue again with SqlClient 4.6.0.  Reverting to 4.5.1 fixed the issue.

[2018-12-14 21:09] khellang commented on #28933
Nope. The proposal was always about methods for getting the information you need in different situations. Creating a type that wraps these numbers would be a different proposal.

Which calls are you referring to? What information do you have and what information are you interested in?

[2018-12-14 21:49] rmkerr commented on #34102
Those characters are all unreserved in URIs, and so will be decoded by System.Uri. If you try encoding the % sign, does that work? For example:
[code]

[2018-12-14 21:58] DrewScoggins commented on #33622
Just wanted to touch base on this issue. Have we gotten to the point where these have been replaced and removed yet? We haven't had results for CoreFX for almost a month now.

[2018-12-14 21:59] omajid commented on #33595
FWIW, I am getting this error when running `./build.sh` on a fresh Fedora 25 machine too.

[code]

[2018-12-14 22:08] ericsampson commented on #34094
Levi, how exactly does this mesh with Rune?

[2018-12-14 22:19] jeffhube commented on #34102
No, that fails with:
[code]

It seems to work if I encode the % AND specify an absolute file uri, like this:
[code]

But I haven't found a built-in way to convert from a filename to a file uri that properly handles these characters in the file name. This stackoverflow post provides a rather ugly method to do so: https://stackoverflow.com/a/35734486/471775.

At that point, using File.OpenRead() and

[2018-12-14 22:58] danmosemsft commented on #34067
Do you need to generate them during a build? If so you would do `dotnet build` on your project file.

If you have to run resgen directly, I am not sure there is a way to do that on .NET Core. I see no `dotnet` comamnd for it. @livarcocc do you know?

[2018-12-14 23:03] danmosemsft commented on #33953
@joperezr are you famliar with this package? Clearly the official build succeeds and that's on a clean machine (supposedly). Perhaps the nuget feeds are set up differently. When you are inside the corefx folder @hughbe , what does "nuget sources" list?

[2018-12-14 23:08] safern commented on #34075
Exactly. Maybe we should explore adding libgdiplus to our Helix alpine images:
https://github.com/dotnet/dotnet-buildtools-prereqs-docker/tree/master/src/alpine

I think we do have a way to test that in CI and maybe we should enable alpine tests in CI. We do it in official builds already. I will do that as part of my move to the new CI system using Azure DevOps:
https://github.com/dotnet/corefx/pu

[2018-12-14 23:08] safern commented on #34075
cc: @danmosemsft opinions on running alpine tests on CI?

[2018-12-14 23:33] curtnichols commented on #34098
I think that's fair, I just don't think the function's docs get one to that understanding. I was definitely thinking of the predicate in the sense of, well, a filter as it says. Something like linq's `Where` or, in this case, F#'s `Seq.filter`.

I've moved on and written a solution that better suits me. Other than my comment on the docs, I don't have an ongoing concern about this. Thanks!

[2018-12-14 23:36] safern commented on #33342
@jkoritzinsky I've been investigating a little further in what it takes to move down the type inbox to System.Drawing.Primitives and it seems like a lot more work than I thought because of the way System.Drawing.Common is structured. I wanted to know what is the scenario where this is needed since this has been like that ever since 2.0. Is this a winforms specific scenario?

I think we should just

[2018-12-14 23:36] stephentoub commented on #34098
Thanks.  Feel free to open an issue in the docs repo if you think there's further clarification needed.

[2018-12-14 23:36] #34098 closed

[2018-12-14 23:45] ericstj commented on #33342
It seems reasonable to me that CoreLib light-up on the presence of this type in its current assembly.  It'll be there for WinForms.  If someone building a console app wants that behavior they can add a reference to System.Drawing.Common.  I think you'll need to handle the missing case anyhow since I can imagine linked / tree-shaken standalone apps may be missing all of System.Drawing.*.

[2018-12-14 23:49] jkoritzinsky commented on #33342
Office interop is another scenario where the `ColorTranslator` type needs to be available for the runtime to load up.

[2018-12-14 23:50] jkoritzinsky commented on #33342
Additionally, AFAICT I can't figure out a way to add tests in CoreCLR for the marshalling that uses `ColorTranslator`. I can't figure out a way to reference packages that aren't inbox and have their dlls placed in the right directory.

[2018-12-14 23:53] jkoritzinsky commented on #33342
The marshaller also only lights up on methods on `ComImport`ed interfaces, which weren't really well supported until recently IIRC. Which would explain one of the reasons that no one ever realized that this was a problem (people weren't porting over code that happened to use the marshaller).

[2018-12-14 23:54] Wraith2 commented on #30913
I saw a PR which I think enabled the VS2019 build tools. Has anyone tried test debugging in it yet? If it doesn't work we'll need to feed back to them while in preview.

[2018-12-15 00:12] yujayee commented on #34070
@alexdrl According to [msdn](https://docs.microsoft.com/en-us/dotnet/api/system.xml.serialization.xmlserializer.-ctor?view=netcore-2.2#System_Xml_Serialization_XmlSerializer__ctor_System_Type_System_Xml_Serialization_XmlAttributeOverrides_System_Type___System_Xml_Serialization_XmlRootAttribute_System_String_System_String_ ), the parameter `location` is the location of the type, not the path serial

[2018-12-15 00:32] danmosemsft commented on #34075
@safern maybe it's a good chance to consider our CI matrix all up. Perhaps create an issue listing the matrix  we have , and what extra legs we have on official builds, and we can consider whether we want to change it around, such as removing an existing CI leg in favor of an Alpine one?

I think for example CI always does debug and release of each configuration -- instead we could mix it up so it

[2018-12-15 00:47] safern commented on #34075
Alpine is the linux-musl leg. However currently we're not sending Helix jobs for that one, just making sure the vertical for sources and tests build successfully. So I guess just adding Helix testing to it wouldn't hurt our CI as long as it is green.

I'll open the issue.

[2018-12-15 04:29] benaadams opened #34106 "[CI Failure] TimeZoneInfo_DisplayNameStartsWithOffset"
TimeZoneInfo_DisplayNameStartsWithOffset

Windows.7.Amd64.Open-x64-Debug

[code]
https://mc.dot.net/#/user/benaadams/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/75205984fff23de8f87095739ebac2e3b791e01e/workItem/System.Runtime.Tests/analysis/xunit/System.Tests.TimeZoneInfoTests~2FTimeZoneInfo_DisplayNameStartsWithOffset

[2018-12-15 05:23] luohuazhiyu opened #34108 "System.Threading.Channels-The result of the operation was already consumed and may not be used again"
runtime:.net core 2.2
 code:
var count = 100;
 var channel = Channel.CreateUnbounded<int>(new UnboundedChannelOptions { SingleReader = true, SingleWriter = false });
 var consumerTask=  Task.Run(async () =>
              {
                  long sum = 0;
                  var dataCount = 0;
                        while (true)
                        {
                            var waitTask = ch

[2018-12-15 06:14] danmosemsft commented on #33595
Please note that in the source link issue.

[2018-12-15 07:38] inpicksys commented on #11046
This is annoying, & blocks all my work. Do you have any workaround for this? While .NET Core 3.0 not released yet?

[2018-12-15 08:47] jeremyVignelles commented on #11046
The workaround would be to set a password I guess...

[2018-12-15 09:05] MarcoRossignoli commented on #34106
/cc @EgorBo https://github.com/dotnet/corefx/pull/33204

[2018-12-15 10:07] ViktorHofer commented on #33622
We faced multiple issues after the switch to arcade but I think I finally got the tests working again and will the last necessary piece to master soon.

[2018-12-15 11:05] benaadams commented on #34106
And again

Windows.7.Amd64.Open-x64-Debug
[code]
 https://mc.dot.net/#/user/benaadams/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/75205984fff23de8f87095739ebac2e3b791e01e/workItem/System.Runtime.Tests/analysis/xunit/System.Tests.TimeZoneInfoTests~2FTimeZoneInfo_DisplayNameStartsWithOffset

[2018-12-15 11:18] MarcoRossignoli commented on #34106
Also on Windows.7.Amd64.Open-x86-Release
[code]
https://mc.dot.net/#/user/MarcoRossignoli/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/9861983507db802c6bd8ee103086c062702fa863/workItem/System.Runtime.Tests/analysis/xunit/System.Tests.TimeZoneInfoTests~2FTimeZoneInfo_DisplayNameStartsWithOffset

[2018-12-15 11:29] TheMinefighter opened #34109 "Adding a 'yield all' keyword"
Currently we have a `yield return` and a `yield return`. While working with these I noticed that it is often needed to return all items of another `IEnumerable<T>` which results in code like
[code]
I think a shortcut is needed for doing so:
[code]
This would make the code far more readable, and would greatly improve working with `yield`.

[2018-12-15 11:39] #34108 closed

[2018-12-15 11:59] benaadams commented on #34109
Issue/request would be better raised in https://github.com/dotnet/csharplang as its more about the C# language than the .NET api surface?

[2018-12-15 13:16] TheMinefighter commented on #34109
@benaadams Weren't sure about this but ok, https://github.com/dotnet/csharplang/issues/2079

[2018-12-15 13:16] #34109 closed

[2018-12-15 14:10] EgorBo commented on #34106
@tarekgh maybe it makes sense to disable this test on Windows?

[2018-12-15 16:09] stephentoub commented on #34017
Turns out there's a bug here in netfx.  I'll suppress the test for now.
cc: @kouvel

[2018-12-15 16:12] #34017 closed

[2018-12-15 17:32] madhub commented on #34061
RFC 4513 you quoted is for LDAP , is the same rules apply for Http ?
I do not see anywhere it say's it is mandatory to fill subject alternative name. I tried to use digicert CSR utilities, it shows as optional.
![image](https://user-images.githubusercontent.com/8907962/50045194-91b23780-00b4-11e9-992d-bf9dc6b3d422.png)
More I read about wildcard & SAN certs , they are for different purpose. If I h

[2018-12-15 17:55] hughbe commented on #33953
Hmmm I deleted my `.nuget` folder and now i get
[code]

How do I run `nuget sources`?

[2018-12-15 18:11] danmosemsft commented on #33953
`git clean -fdx` maybe?

[2018-12-15 18:52] stephentoub commented on #1626
Nice job, @wfurt and @bartonjs.

[2018-12-15 19:01] #33770 closed

[2018-12-15 21:55] josteink commented on #1626
When I proposed my first FreeBSD commits around 2-3 years ago, I didn’t actually *believe* we’d get here, but I certainly wanted to try.

This is definitely a big milestone and hopefully will make it easier for new contributors help finish the port.

Big thanks to everyone who helped us get this far 👍

[2018-12-15 22:05] damiand2 opened #34113 "Transaction.Current migrates to new threads even without using async"
when using TransactionScope with  TransactionScopeAsyncFlowOption.Enabled current transaction gets copied to new threads that were manually created/queued and have nothign to do with async. With TransactionScopeAsyncFlowOption.Suppress code works as intended (transaction does not propagate to other threads)

Sample code to reproduce issue (.net core 2.1):

[code]

[2018-12-15 23:40] krytarowski commented on #1626
Great progress! I'm still fighting with toolchain (most LLVM projects besides LLDB and LLD are finished) and hardware assisted virtualization for NetBSD (Linux/BSD now starts booting until a VTx fatal exception, simpler OSes like FreeDOS already work).. so I will resume my porting, hopefully sooner than later. Better FreeBSD support will help with an easier resume.

[2018-12-15 23:44] bott0r commented on #1626
Awesome :)

[2018-12-16 00:32] peturingi commented on #1626
We celwbrate drunkness why the ensil bombsrdment??

[2018-12-16 01:30] #10800 closed

[2018-12-16 11:39] logwlogw commented on #33846
Yes,  problem is in SSL, for Unix systems

I write custom simple  HttpMessageHandler

Problem with ssl, - CPU 99% Load
-------------------------------
         (socket, stream) = await ConnectHelper.ConnectAsync(host,443, _cancellationToken).ConfigureAwait(false);

            (stream) = await ConnectHelper.EstablishSslConnectionAsync(options, request, stream, _cancellationToken);
----------------

[2018-12-16 11:51] bartdekeersmaeker commented on #33620
I'm using the latest (non-preview) version, but still the azure function is throwing the exception.

<PackageReference Include="Microsoft.EntityFrameworkCore.SqlServer" Version="2.2.0" />
--> Has a dependency on 4.6.0

I assume it's no longer preview ?

[2018-12-16 13:52] davidfowl commented on #34113
I see the same behavior on .NET Framework. You're right that it has nothing to do with async in particular (even though it's named as such), it's to do with the ExecutionContext flow. The ExecutionContext is captured and restored when using various APIs in .NET Framework (usually callback based APIs) to ensure the "context" (we can talk about what exactly flows later) is the same at execution time

[2018-12-16 14:49] effyteva commented on #25967
We're continuing the migration to Linux. Apparently the issue with MySql originates from the MySql Connector not using the InvariantCulture as recommended.
Created a pull request on MySql connector: https://github.com/mysql/mysql-connector-net/pull/28

[2018-12-16 19:04] jlennox opened #34115 "XmlUtf8RawTextWriter can read out of bounds"
https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Private.Xml/src/System/Xml/Core/XmlUtf8RawTextWriter.cs#L904

The line `if (pSrc[1] == '\n')` appears 4 times and also appears in `XmlUtf8RawTextWriterAsync`. It performs a check on cursor+1 without checking if it's at the end of the input, causing trailing `\r`'s to make an out of bounds read.

PR incoming.

[2018-12-16 21:17] mklement0 opened #34118 "System.Xml.XmlDocument.Save() unexpectedly creates UTF-8 files *with BOM*"
`System.Xml.XmlDocument.Save()`, when given a file path to write to, unexpectedly creates UTF-8 encoded files _with BOM_ if the document's XML declaration has an `encoding="UTF-8"` attribute.

(By contrast, the absence of the `encoding` attribute or absence of an XML declaration altogether causes a BOM-_less_ UTF-8 file to be created, as expected.)

Repro in PowerShell Core (on any supported platf

[2018-12-16 23:40] am11 commented on #24538
Some library loading APIs have been recently checked in [System.Runtime.InteropServices.netcoreapp.cs](https://github.com/dotnet/corefx/blob/24ecf91/src/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.netcoreapp.cs). Is it too early to update [LibcupsNative.cs#L18-L22](https://github.com/dotnet/corefx/blob/24ecf91/src/System.Drawing.Common/src/System/Drawing/Printing/LibcupsNativ