[2019-06-14 14:35] nmain commented on #38543
Related https://github.com/dotnet/corefx/issues/38354

[2019-06-14 14:36] ViktorHofer commented on #30223
Grrr. Queuing a new build by pushing a commit (without the force flag) seems to delete the old one

[2019-06-14 14:36] EgorBo commented on #38535
As far as I understand you box all integers and the `Cast` just simply does `yield return (TResult)obj;` so you can't box `int` and ubox it as `uint`.

[2019-06-14 14:37] yatli commented on #38522
I'm not the original author of the base project: https://github.com/fsprojects/fsharp-language-server
When I [forked](https://github.com/yatli/coc-fsharp) it, the "project cracker" sits there extracting project information without msbuild.

I guess this is partly because the F# tooling is a bit different than C# -- it's less dependent on msbuild, and it may be used with its own tooling (FAKE, Pake

[2019-06-14 14:43] sgf commented on #13329
As required dynamic merge native-DLLs to One name likes: XXX.exe (UnManaged).
Using static analysis to analysis when compile the nativeDLLs(UnManaged)  Function-Level Linking.
[code]
if do good job the result maybe be willl 2-3mb. when im direct packed all of them with 7zip,its take about 4.85mb.Now we get XXX.exe

develop the similar  Function-Level Link  with IL-merge.
For a managed DLL same old

[2019-06-14 14:55] sgf commented on #13329
I apologize, I don't want to take the time to participate in the discussion about this any more.Opinions cannot be unified.
At first I had expected the result. I should probably consider other programming languages to fulfill my needs(maybe Dlang maybe Go maybe Kotlin maybe Nim).

thanks for all talk this with me. sorry for my nagging. out

[2019-06-14 15:19] Tratcher commented on #31312
Because for HTTP/1.1 that would close the socket and could lead to exhaustion. There's also a trade off for how long it takes to drain the request body vs how long it would take to establish a new socket connection (especially over TLS, proxies, etc). Using a request body drain timeout similar to the one for the response body might be a good compromise.

[2019-06-14 15:24] stephentoub commented on #38481
Again:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38539~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190614.7/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2~2FGoAwayFrame_NoPendingStreams_ConnectionClosed

[2019-06-14 15:26] stephentoub opened #38547 "GetAsync_CancelDuringResponseBodyReceived_Unbuffered_TaskCanceledQuickly failing in UWP"
I've seen this failure now twice today, e.g.
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38539~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190614.7/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_Cancellation_Test~2FGetAsync_CancelDuringResponseBodyReceived_Unbuffered_TaskCanceledQuickly(

[2019-06-14 15:28] stephentoub opened #38548 "EventLogTraceListenerTests.WriteTest failed in CI"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38538~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190614.6/workItem/System.Diagnostics.EventLog.Tests/analysis/xunit/System.Diagnostics.Tests.EventLogTraceListenerTests~2FWriteTest
[code]

[2019-06-14 15:52] steveharter opened #38550 "JsonReader CurrentDepth not coherent"
The serializer is not able to reason about the CurrentDepth because the JsonReader does not increment\decrement when the first token is an [object or array](https://github.com/dotnet/corefx/blob/b506d4a4ff6ffe1a1877016811e2266eacc2ebbc/src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs#L923).

This issue also likely applies to JsonDocument and perhaps to JsonWriter as well, which s

[2019-06-14 16:01] dazinator commented on #13329
@sgf I think you made some good points and I know you've signed off on the topic. Just wanted to say that I believe the features you are asking for, will be coming over the next couple of years to .NET Core. In fact if you wanted to get small file size today, it may be possible if you target mono.

1. Mono already supports AOT compilation with Linking to reduce file size. This is one reason why mo

[2019-06-14 16:14] layomia opened #38552 "Refactor JsonSerializer support for collections"
Utilize converter mechanism to handle (de)serialization when it goes through: https://github.com/dotnet/corefx/issues/36639.

[2019-06-14 16:19] ViktorHofer opened #38553 "700+ OSX tests are failing in rolling builds"
https://dev.azure.com/dnceng/public/_build/results?buildId=224886&view=ms.vss-test-web.build-test-results-tab

cc @stephentoub @safern

[2019-06-14 16:22] ViktorHofer commented on #38553
This started to happen with @bartonjs's test matrix change: https://dev.azure.com/dnceng/public/_build/results?buildId=223117

[2019-06-14 16:26] ViktorHofer commented on #38553
@tarekgh can you please take a look at the failing globalization tests: https://dev.azure.com/dnceng/public/_build/results?buildId=224751&view=ms.vss-test-web.build-test-results-tab

[2019-06-14 16:28] shaggygi opened #38555 "[System.Text.Json] Json Schemas Support"
Understanding this feature is not coming with .NET Core v3, are there current plans to begin reviewing/development soon after?

Good job on initial work on new API :+1:

Any feedback is appreciated.

[2019-06-14 16:32] safern commented on #38553
This is only happening in rolling builds because in PR Builds we're not running on macOS 10.14 -- in PR Builds we're running on macOS 10.13. This is only happening for macOS 10.14.

[2019-06-14 16:36] ViktorHofer commented on #38553
Yeah noticed that: https://github.com/dotnet/corefx/commit/dda4588873cde2740d15e32749ccfd13eb33db07#r33943915

[2019-06-14 16:38] rwkarg commented on #38526
I'll have to make some changes to the envelope (separate inbound/outbound types to account for ROS on the incoming envelopes but passing the object itself for the outbound envelopes so I can serialize it to the PipeWriter.AsStream). I'll give that a try.

[2019-06-14 16:56] #38455 closed

[2019-06-14 17:02] MattSFT opened #39326 "System.Drawing.Common lower .netstandard version?"
Is it possible to downgrade the .netstandard requirement for https://www.nuget.org/packages/System.Drawing.Common?

I don't know enough about the specifics of this library so not sure it is possible, but I would like to use it in a project targeting .netstandard 1.3.

[2019-06-14 17:03] Tratcher commented on #31312
Note HttpWebRequest on 4.x has a mitigation for HTTP/1.1 chunked requests where it will send the chunked terminator instead of sending the request body for early 300+ response statuses. It also takes into account if the request body is buffered/re-transmittable, if not it will close the connection so that it can send the body only on the new request instead (e.g. auth, redirects, etc.).

[2019-06-14 17:17] tarekgh commented on #38553
@ViktorHofer @safern do you need me go and look fixing the globalization tests on OSX 10.14? I can try to upgrade to that and look at fixing those later today.

[2019-06-14 17:19] ViktorHofer commented on #38553
Yes that would be great. I think those two are the only ones failing. As soon as those are fixed we can enable 10.14 in PRs.

[2019-06-14 17:28] tarekgh commented on #38553
ok, will try that later today or Monday as I am in training.

[2019-06-14 17:48] Alan-FGR commented on #13329
+2¢

I think the problem is it *seems* decisions are being made without much information. These days everywhere I look people are talking about this; the vast majority of people deploying programs have this on top of their wish list, and many *are* moving away from C# to other languages with better AOT/deployability. I think that's a pretty established fact which becomes very evident if you're act

[2019-06-14 17:52] rwkarg commented on #38526
Unfortunately in my case, the message to the external system has the message length in the header, so I can't just serialized directly to the PipeWriter; it has to be serialized somewhere else first to get the serialized byte length.

I'll try using the RecyclableMemoryStream as temporary storage for now (JsonSerializer.WriteAsync => RecyclableMemoryStream [get size] => Copy to PipeWriter.AsStream

[2019-06-14 17:53] IvanJosipovic opened #38557 "[System.Text.Json] Dictionary ordering with nulls bug"
There appears to be bug in System.Text.Json related to property ordering, IgnoreNullValues and Dictionary.

.Net Core: 3.0.100-preview6-012264
System.Text.Json: 4.6.0-preview6.19303.8

Running the code below will throw an exception:
[code]

[code]

[2019-06-14 18:15] dazinator commented on #13329
@Alan-FGR

Do you have specific examples of such decisions to share, as I'd be curious.

I think MS are very aware of the shortcomings of the current dotnet core runtime and that's why they will seek feature parity with mono runtime (AOT etc will come). I would be surprised if anyone agrees that these features aren't required in the future. I guess there will always be people who are unsatisfied t

[2019-06-14 18:28] tarekgh commented on #38553
@ViktorHofer cpuld you please tell what ICU version used in 10.14 and how did you get it there? you can find the version by  looking at the file path /usr/local/Cellar/icu4c

[2019-06-14 18:29] krwq opened #38558 "HTTP2: HttpClient does not respond to pings after GOAWAY when some streams are still active"
After client receives GOAWAY it should still respond to PING as long as there are any streams open.

Details:
- GOAWAY frame contains two parameters: streamId => always 0, lastStreamId > last stream server can take action on (this means the streams with lower or equal number than that should still continue)
- GOAWAY tells that connection is that server no longer wishes for new streams to be open o

[2019-06-14 18:29] wfurt commented on #31312
I was talking about some of the behavior with @mconnew in context of #30760. However, the current layering makes it somewhat challenging .

[2019-06-14 18:33] kjkrum commented on #13329
@Alan-FGR Agreed, the web focus is rather strange considering that IIS has about 8% market share and falling. ASP.NET is irrelevant, and no improvement to C# or its standard libraries is ever going to change that. C# is being sustained by console apps, Windows services, mobile apps, and PC games. It owes its continued existence to Unity and Xamarin. Which is a shame, because C# is a really enjoyab

[2019-06-14 18:39] Tratcher commented on #31312
Ah, yeah, WCF was the customer for the HttpWebRequest change as well.

[2019-06-14 18:53] Tratcher opened #38559 "Bidirectional HTTP/2 makes request body completion ambiguous"
https://github.com/dotnet/corefx/pull/36884 (HTTP/2 100 Continue) also snuck in bidirectional support (https://github.com/dotnet/corefx/issues/36855) for HTTP/2. This works pretty well but does introduce an ambiguous scenario when the server completes the response before the client completes the request.

Server code: (Kestrel 3.0.0-preview7)
[code]
Yes this server code is a bit unusual, it was wr

[2019-06-14 19:00] wfurt commented on #38559
The original implementation did C) but consensus through review was to do it al the time.

cc: @stephentoub

[2019-06-14 19:02] martincostello commented on #37078
Just to confirm, I can't replicate this with `3.0.100-preview6-012264`.

[2019-06-14 19:08] mburbea commented on #38535
That said though with enums it should be legal to cast between base type and the enum.
[code]

[2019-06-14 19:14] ahsonkhan commented on #36505
Context from a user's issue where fields not being supported causing a pain-point:
https://github.com/aspnet/AspNetCore/issues/11210

[2019-06-14 19:18] StephenBonikowsky commented on #23760
The test seems to be running fine now.

[2019-06-14 19:18] #23760 closed

[2019-06-14 20:15] bartelink commented on #38348
Suggest mining https://github.com/jet/Jet.JsonNet.Converters and https://github.com/microsoft/fsharplu for commonly shimmed features - will be monitoring this issue as I would love rebase the test codebase for the former on top of this [and/or dogfood it here](https://github.com/jet/equinox/blob/master/src/Equinox.Codec/Codec.fs).

[2019-06-14 20:24] swaroop-sridhar commented on #13329
I'm not sure what you mean by dynamic merge, but there is a plan to statically link the native components together with the host. Please see [this section](https://github.com/dotnet/designs/blob/master/accepted/single-file/staging.md#4-run-from-bundle-net-core-libraries).

We've discussed the option of merging assemblies into one, and having side meta-data tables to support dynamic features. It do

[2019-06-14 20:34] Korporal opened #38563 "Question - Can exception message be improved?"
Consider:

[code]

At runtiime this fails with:

![image](https://user-images.githubusercontent.com/12262952/59536471-a8d9b280-8ea8-11e9-974e-ee2e355bc901.png)

But it would be very helpful if the message in this situation was something like:

"No overload was found that accepts argument types dynamic(string), dynamic(int)".

At the time it was far from clear to us what the problem was, we initial

[2019-06-14 20:40] buyaa-n commented on #38490
@AbhiAgarwal192 https://github.com/dotnet/corefx/pull/38403/files#diff-90c308a62f95240a19bf0b1d31eb6971R255

[2019-06-14 20:40] buyaa-n commented on #38490
oops mistakenly closed

[2019-06-14 21:01] scalablecory commented on #38500
Hi @jackwangchs,

The linked issue has 71 comments. Can you please extract the part you believe to be a corefx issue and edit your issue with that? This will be a huge help!

[2019-06-14 21:01] krwq commented on #38558
cc: @geoffkizer @wfurt @stephentoub, I've marked this as 3.0 because this feels like something we should address (active streams might get unnecessarily closed if client doesn't respond to pings), please let me know if you think otherwise. Other reason is that it also helps with validating GOAWAY scenarios: PINGs can be used to validate that we have received GOAWAY (possibly also other frames whic

[2019-06-14 21:04] ygoe opened #38564 "WebSocket client uses a pool on Linux, long reconnect delays"
On Windows, the WebSocket client behaviour is pretty simple: Try to connect, when it fails, it will tell you immediately.

On Linux that's different. Try to connect, and it will keep retrying for a while and only then tell you that it didn't succeed. That may take a long time. While on Windows I can have retry times of a few seconds and quickly reconnect to a server, on Linux the same code can tak

[2019-06-14 21:12] mungojam commented on #38163
Or add support for parameters in constructors which Json.Net supports. That would then support immutable classes without the need to have any setters, private or not

[2019-06-14 21:17] davidsh commented on #38564
@stephentoub

[2019-06-14 21:20] stephentoub commented on #38564
Can you please share a repro? Connection pooling is not used for web socket connections.

[2019-06-14 21:26] IvanJosipovic opened #38565 "[System.Text.Json] Dictionary and Child Object bug"
There appears to be bug in System.Text.Json related Dictionary and Child Objects.

The output is really bizzare. As output.Dict ends up getting a new entry that never existed before.
![image](https://user-images.githubusercontent.com/9521987/59538878-11785d80-8eb0-11e9-98af-c5cf3dda620c.png)

.Net Core: 3.0.100-preview6-012264
System.Text.Json: 4.6.0-preview6.19303.8

[code]

[2019-06-14 22:13] stephentoub commented on #38559
How about:

D) Don't let the response stream yield EOF until all request content has finished sending.

Would that break anything? It'd also give us a place to propagate exceptions we're currently just logging.

[2019-06-14 22:19] Tratcher commented on #38559
D is certainly simpler, and doesn't depend on any of the other proposals. It might break the gRPC scenario where they send an error status in the trailers. However they usually follow that with a Reset so that might unblock it anyways. @JamesNK ?

[2019-06-14 22:24] los93sol commented on #30197
@wfurt Thanks for working on this.  I actually just grabbed preview6 and gave it a try using the example you posted, but it seems to have the same issue I originally had where the lo interface sees both in and outbound, but on an external interface it only sees the inbound data and doesn't see any of the outbound at all.

[2019-06-14 22:39] JamesNK commented on #38559
What do you mean by this?

I'll put together some gRPC streaming scenarios so we can judge if changes will break anything.

[2019-06-14 22:44] JamesNK commented on #38559
This is what gRPC's HttpContent looks like:

[code]

In a client or duplex streaming call gRPC will write to the stream until the client closes it (either explicitly, or by the response ending).

[code]

[2019-06-14 22:50] wfurt commented on #30197
do you have sample code? And of course you need to run it as root or you would get permission denied error.

[2019-06-14 22:52] Tratcher commented on #38559
This part that might break you. Proposal D is for the response stream not to end until the request stream ends.

[2019-06-14 22:56] JamesNK commented on #38559
That seems problematic. We need to read to the end of the response stream. Its completion is the only indication we have that HttpResponseMessage.TrailingHeaders has been populated with values.

[2019-06-14 23:08] los93sol commented on #30197
I’ll put a repro together and link it here as soon as I can.  It will take a little bit before I can do it though because to test it I swapped out libpcap in my existing project with the sample you posted here and ran my normal traffic tests for that project against it

[2019-06-14 23:12] scalablecory commented on #35977
This is not really an appropriate place to override behavior anymore, as all the methods taking `HttpCompletionOption` will never call your overridden `SendAsync`.

[2019-06-14 23:18] scalablecory commented on #37622
Are there any specific scenarios you're aiming to enable with SCTP?

[2019-06-15 00:11] JamesNK commented on #38559
Ok, here is what Grpc.Core does.

Scenario 1: Client explicitly sends the request stream, completes it, and awaits a response. The server **reads** the entire request stream before sending a response.

![image](https://user-images.githubusercontent.com/303201/59544281-9c1a9480-8f64-11e9-9de0-75ea83290ad0.png)

Client sends an DATA END_STREAM=true frame.

Server responds with HEADER, DATA, HEADER.

[2019-06-15 00:15] JamesNK commented on #38559
tldr: the server will sends a RST_STREAM (NO_ERROR) frame to the client if it never reads an END_STREAM=true frame in the request stream.

@wfurt @stephentoub Will the RST_STREAM force the client's request stream to close, which allow's the response stream to end?

@Tratcher Does Kestrel automatically send a RST_STREAM if the response finishes without reading the entire request?

[2019-06-15 00:24] JamesNK commented on #38559
https://tools.ietf.org/html/rfc7540#section-8.1

@Tratcher Looks optional:

   receives -- a frame with the END_STREAM flag set (including any
   CONTINUATION frames needed to complete a header block).  A server can
   send a complete response prior to the client sending an entire
   request if the response does not depend on any portion of the request
   that has not been sent and received.  **Wh

[2019-06-15 00:28] scalablecory commented on #34728
I'm unable to reproduce this in 3.0 with either `SocketsHttpHandler` or `WinHttpHandler`. Can you please see if this reproduces in 3.0 for you @PatrickHofman?

[2019-06-15 00:29] Tratcher commented on #38559
Yes, kestrel does Reset if the request body has not been completely read.
https://github.com/aspnet/AspNetCore/blob/04bf1bf32e13d35d4d7f61f9cbeb9bfa22e0c617/src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs#L102

[2019-06-15 00:42] scalablecory commented on #38533
There are no issues that I know of discussing this; do you have something in mind?

[2019-06-15 00:42] karelz commented on #20296
Sadly, we won't be able to finish this for 3.0. Moving to Future.
It is still on the top of our backlog, but realistically we won't be able to do it for 3.0.

[2019-06-15 00:43] ahsonkhan commented on #34799
@adamsitnik, are you still planning on working on this issue?

[2019-06-15 00:43] ahsonkhan commented on #35231
@adamsitnik, are you still planning on working on this issue?

[2019-06-15 00:43] karelz commented on #37293
Looks like there is no data for porting it to 2.2.x, closing. We can reconsider when more data appears.

[2019-06-15 00:43] #37293 closed

[2019-06-15 01:21] wfurt commented on #38559
If HttpClient gets RST_STREAM before EOF, it will rest response stream and throw exception. We put protocol error to inner exception.

[2019-06-15 01:37] NimaAra opened #38568 "JsonSerializer is unable to deserialize a valid JSON"
Given the following payload:

[code]

And the following models:

[code]
An exception is thrown when attempting to deserialize using:

[code]

Exception:

In fact, it is unable to deserialize **any** of the three properties and **not just the Uri**.

This is running against the following:

[code]

The same payload is deserialized as expected in both [UTF8Json](https://github.com/neuecc/Utf8Json) an

[2019-06-15 02:06] JamesNK commented on #38559
In situation 2 above the response stream has been ended with END_STREAM=true. The RST_STREAM comes afterwards to tell the client to end the request stream (if it is still open).

[2019-06-15 03:09] ahsonkhan commented on #36125
They are not yet needed, and can be added later (especially after some perf validation related to up-casting to a larger numeric type).

I'll follow up on that and get back to you.

This is the issue. If you look at the API proposal, these APIs need to be added to `JsonElement` as well (not `JsonDocument`).
https://github.com/dotnet/corefx/issues/36125#issuecomment-474074184

[2019-06-15 03:31] WinCPP commented on #36125
Oops sorry.  How did I miss that :man_facepalming: : Will will on the same.

[2019-06-15 04:15] los93sol commented on #30197
I put together a quick repro of this at https://github.com/los93sol/RawSocketSample
I am running this from my Windows box so I just added docker support and a docker compose project so you can easily stage remote traffic hitting eth0 and it also has a service that hits the socket server running in the same container so you can see that on lo both inbound and outbound are visible to the raw socket,

[2019-06-15 07:32] ygoe commented on #38564
Here's a small demo program that tries to connect to a WebSocket server. It shows the time it took to complete or fail. You can pass it a different URI as parameter. There seem to be at least three types of URIs:

* Correct ones, like ws://echo.websocket.org
* Non-existing domains, like ws://echo.websocket.invalid (fails immediately)
* Closed ports, like ws://echo.websocket.org:12345 (takes a long

[2019-06-15 08:49] davidfowl commented on #38568
if you change picture to a string does it work? Support for Uri is currently missing https://github.com/dotnet/corefx/issues/38536

[2019-06-15 09:09] davidfowl commented on #38546
I think you mean support an ambient CancellationToken (something like CancellationToken.Current). I'm torn because of the cost of something like this and the unintended side effects of cancelling everything in the call chain (it would be very sticky) and how to opt out of the behavior.

[2019-06-15 09:31] adamsitnik commented on #7804
Any progress on this? The current behavior is confusing.

[2019-06-15 09:42] NimaAra commented on #38568
String works but both other properties also fail.

Enum is not resolved and datetime also fails.

[2019-06-15 09:47] dmytro-gokun commented on #38546
@davidfowl Thank you for the response.

You are right. I envision it like this (if fully integrated with .NET):

[code]

Current returns CancellationToken.None when outside of a scope.
Then, each method which accepts an (optional) CancellationToken should check if that was passed or not and if it was not (i.e. cancellationToken == CancellationToken.None == default(CancellationToken)) - use Cancell

[2019-06-15 10:33] davidfowl commented on #38546
That doesn't help, it's just as viral and it's not opt in. Every component has to use the current token or the entire system doesn't work.

[2019-06-15 10:40] hannni opened #38569 "`JsonSerializer` support for immutable `class`es and `struct`s."
A common pattern is to make data objects immutable for many different reasons.
For example `Point`:

[code]

It would be very helpful if `JsonSerializer` supported immutable `class`es/`struct`s like that, especially since Newtonsoft Json.NET supports deserialization through the constructor.

However there are a few issues surrounding immutable types:

 - Constructor parameter names are usually `ca

[2019-06-15 11:27] dmytro-gokun commented on #38546
Well, i would argue it is opt-in. Even the code that is aware of cancellation scope will continue working as before until is it explicitly wrapped in one. The act of wrapping is the act of opting in be the person doing the wrapping. That person needs to understand clearly what they're doing.

Well, not every component. Only those which do something with CTs apart of passing them down the call stac

[2019-06-15 11:40] mmisztal1980 opened #38570 "IPGlobalProperties.GetActiveTcpListeners does not return ports in use by docker on MacOS"
I have defined a helper class to get me the 1st available port on a host, starting with a port number I provide. I use it to start docker containers from C#, when trying to avoid port conflicts.

[code]

This code works quite fine on Windows, however I've noticed that the behavior of this code on MacOS is different, as ports in use by docker (EXPOSE {port} with `-p` flag) are ignored.

- Can you c

[2019-06-15 12:23] GSPP opened #38571 "Improve API diff to show "where T : notnull""
In https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/api-diff/preview6/3.0-preview6_System.Collections.Generic.md there is a weird looking constraint `where TKey : object`. Confused at what this was I looked at the source:

https://github.com/dotnet/corefx/blob/5fa3d3b8f89302202091993681391c9b356755a7/src/Common/src/CoreLib/System/Collections/Generic/IDictionary.cs#L14

It reall

[2019-06-15 12:58] DAXaholic opened #38575 "Unused parameters for custom test error messages"
There are a couple of tests which pass custom test error messages to a helper method but those messages are not used.
At first glance it seems most of these cases were introduced with commit ab1743b4

In the example below the message is passed to `EnsureOperationCanceledExceptionThrown` but never used within that helper method:

https://github.com/dotnet/corefx/blob/ab1743b45213e88295a38e2bf9d80de

[2019-06-15 13:26] mrpmorris commented on #38435
A more simple test-case.
Note: The problem is resolved if you mark the property setter private.

[code]

[2019-06-15 13:30] stephentoub commented on #38571
It actually was `: object`. It was only just changed this week to `: notnull`.

[2019-06-15 13:30] #38571 closed

[2019-06-15 14:44] davidsh commented on #38570
@wfurt

[2019-06-15 14:53] trondhindenes commented on #34990
This thread is super-interesting. We're also running asp.net core 2.2 in Kubernetes on Debian, and the .net app makes httprequests to another service which is fronted by AWS ALB.
Inspired by this thread, we tested bypassing ALB, and everything seems to work much better.
I'm also gonna replace our Debian images with Ubuntu, just to see if that makes any difference.

For info, our app makes about 10

[2019-06-15 16:27] los93sol commented on #30197
@wfurt Let me know if you want to see anything else, I just slammed that sample together pretty quickly to demo how eth0 is missing, just comment the block in PacketCapture that does the bind to the LLEndPoint and you can see it does see both inbound and outbound when the traffic is local.

[2019-06-15 16:54] tomwar commented on #30691
I'd like to add that I'm also seeing this issue consistently in my application when POSTing to a popular service's API in addition to random timeouts. In some cases the exception happens in isolation and in other cases they seem to effect other requests (these are 3 separate HttpClient.SendAsync):

[code]

This is the only remaining issue preventing me from switching from framework to core. The sa

[2019-06-15 17:01] Tornhoof commented on #38568
The Datetime has a whitespace before the Timezone. Last Time I checked that's not allowed.

Not sure if Case settings affect enums.

[2019-06-15 17:07] NimaAra commented on #38568
Sure, but is there a plan to provide means to be able to support these? Other libraries can handle the payload.

[2019-06-15 17:12] JohnyL opened #38576 "JsonSerializer outputs Unicode codes instead of characters"
I have the following code:
[code]
Now `json` contains the following:

[2019-06-15 17:16] Tornhoof commented on #38568
The Datetime is imho an invalid value.
You can enable String enums via a setting in JsonValueConverterEnum, but I don't know how to configure that in general. See https://github.com/dotnet/corefx/blob/717217d664d29dc4621aba97e6870996c33460cd/src/System.Text.Json/src/System/Text/Json/Serialization/Converters/JsonValueConverterEnum.cs#L19 (treatAsString)

[2019-06-15 17:28] #36062 closed

[2019-06-15 17:49] gokhansengun commented on #34990
Hey @trondhindenes, do you have any type of node autoscaler in Kubernetes? We have found out our issue due to nodes being created and destroyed on minutely basis. We are not sure yet about the root cause but we only have the issue when autoscaler destroys a node

[2019-06-15 18:25] Clockwork-Muse commented on #38575
As the perpetrator, I feel we should remove the parameters.
Were you wanting to submit a PR?

[2019-06-15 18:33] ViktorHofer commented on #24525
Not sure if that error is related: `*** glibc detected *** /home/helixbot/work/69be1f2e-c2d7-4316-9991-e7908fdb5cca/Payload/dotnet: double free or corruption (fasttop): 0x00007fc724403430 ***`

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38151~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190615.18/workItem/System.Drawing.Common.Tests/wilogs

[2019-06-15 18:44] safern commented on #24525
Again this is in Rehat6 which @mattgal confirmed some machines haven’t yet been completely updated to latest libgdiplus.

Maybe we should just disable the drawing tests on redhat6 until we can get all the machines on a sane version of libgdiplus. Maybe the easiest way is to add a !IsRedHat6 to our IsGdiPlusAvailable property to skip the tests.

[2019-06-15 19:14] ViktorHofer commented on #24525
I'm okay if we just wait until the fix is rolled out on all machines.

[2019-06-15 19:31] stephentoub commented on #30691
@tomwar, can you share a complete repro?

[2019-06-15 19:59] MoienTajik opened #38579 "System.Text.Json Reference Loop Handling"
One of the key features of **JSON.NET** serialization was the `ReferenceLoopHandling` which gives the ability to ignore the reference loops likes this :

[code]

And it produces the appropriate result :

[code]
However, I couldn't find such a feature in **System.Text.JSON**, And when I've tried to Serialize the same object with *JsonSerializer* :

[code]

I've got this exception :
`System.InvalidO

[2019-06-15 20:08] markzielinski opened #38580 "Is DPI broken in 3.0.100-preview6-012264?"
I just updated from 3.0.100-preview5-011568 to 3.0.100-preview6-012264 and it looks like there were some changes made to DPI.

I checked the release notes and didn't see any changes documented for DPI, however after updating to Preview 6 my WPF application now looks huge.

My display resolution is 2560 x 1440 with the scale set to the recommended 125%.

[2019-06-15 21:44] #27529 closed

[2019-06-15 22:18] wfurt commented on #38570
What runtime do you use? I tried that with current 3.0 and it seems to work as expected.
I also did quick run with 2.1 and it is broken as "expected" See #32727 for more information. if that is same issue you may be able to work around the endianess.

On broader note, there is race condition between getting open ports and trying to use them. Some corefx tests have mechanism where we try port and w

[2019-06-15 22:49] mmisztal1980 commented on #38570
Hi @wfurt  I've tried that on 2.1 . What about 2.2? is it also broken?

[2019-06-15 23:07] wfurt commented on #38570
As far as I can see, the fix only went to 3.0 and was never back-ported.

[2019-06-15 23:33] davidfowl commented on #36999
@lmolkova do you have any cycles to get this in next week?

[2019-06-15 23:48] marcussacana commented on #6849
Well... there are no alternative to track the download progress?
This useless httpclient is what works with the blazor...

[2019-06-16 00:10] davidfowl commented on #37622
SCTP will be replaced with QUIC which we'll end up supporting in a future version (along with HTTP/3)

[2019-06-16 00:54] davidfowl opened #38581 "Support JsonSerializer.TryRead(ref Utf8JsonReader)"
Today if the JSON passed into the JsonSerializer needs to be the fully formed, this means its basically impossible to let the caller handle buffering (which is unfortunate). This seems solvable if we add a TryRead which would return false if the Serializer failed to Read the full object from the Utf8JsonReader.

[code]

Though this wouldn't preserve the serializer state, it would let the caller pr

[2019-06-16 02:26] divega commented on #23542
Everyone,

Now that [System.Data.OleDb is available on NuGet.org](https://www.nuget.org/packages/System.Data.OleDb), it would be great if you could take it for a spin on .NET Core 3.0 preview 6. If you have an existing application, sample code, or a test that was blocked from working on .NET Core for lack of this functionality, please try now. We are hoping to get your help to cover a variety of O

[2019-06-16 02:58] jeffschwMSFT commented on #7804
This is not currently on our .NET Core 3.0 list of final items.  We can take a look and see if this would align with 3.1.

cc @jkoritzinsky

[2019-06-16 03:22] xsoheilalizadeh commented on #38579
This could make a lot of bugs, I have these self-reference models in my APIs and since now I never had Reference Loop issue with Json.NET. If we decided to replace the Json.NET with the new System.Text.Json we should consider this feature as soon as it is possible.

[2019-06-16 03:29] abjbhat opened #38582 "DataSet.ReadXmlSchema throws XmlSchemaException"
## Problem description:

`System.Data.DataSet.ReadXmlSchema` cannot read a data set schema written by `System.Data.DataSet.ReadXmlSchema`. Doing so results in a
`System.Xml.Schema.XmlSchemaException` being thrown.

## Steps to reproduce:

1. Create a new `System.Data.DataSet`.
1.1 Add two `System.Data.DataTable` T1 and T2 to this `DataSet`.
1.2 Add a relationship between T1 and T2.
1.3 Save change

[2019-06-16 03:32] abjbhat commented on #38582
Attaching the XSD files generated by `System.Data.DataSet.WriteXmlSchema(String)`

[schema.zip](https://github.com/dotnet/corefx/files/3293806/schema.zip)

[2019-06-16 03:37] abjbhat commented on #38582
Update: Changed the description of the issue.

If the tables have a namespace set, the exception mentioned is thrown. If the namespace is removed, the dataset can be created without any problems.

[2019-06-16 04:40] #37044 closed

[2019-06-16 04:41] mmisztal1980 commented on #38570
thanks @wfurt

[2019-06-16 04:51] #38570 closed

[2019-06-16 05:18] vcsjones commented on #38576
What is the output you expected? The quotes need to be escaped in some fashion.

Also this appears to be related to or duplicate of #38543 and #38354.

[2019-06-16 05:29] wfurt commented on #30197
When socket is created, there should be no difference to libpcap/tcpdump or any direct use of the socket.

Thanks for the repro but as I run directly on Linux I did quick check with my sample code. It seems like the problem is in the bind example. If I add
[code]
I can see packets in both directions.
[code]

it was mostly meant as guide how to use Bind() without introducing AF specific c# structur

[2019-06-16 05:34] wfurt commented on #37044
I submitted fix to 3.0 master. It would be great if anybody can grab daily build and verify that it solves their issue.

Since this is somewhat generic error, there may be more than one issue under the cover.  In either case any feedback would be useful.

kudos to @antonioortizpola who was able to isolate repro.

[2019-06-16 05:47] adamsitnik commented on #37691
Ok, I was able to use the same machine as @sebastienros and confirm that the problem is gone.

### Changes

https://github.com/dotnet/coreclr/pull/24889 - I have reduced the number of calls to an expensive native API by half, which made `StringComparison.InvariantCulture.GetHashCode()` two times faster for strings shorter than 262 144 characters (the biggest buffer rentable from ArrayPool.Shared w

[2019-06-16 06:09] wfurt commented on #34990
If you can reproduce it within minutes, can you do packet capture @trondhindenes ? The the case originally investigated throws "The server returned an invalid or unrecognized response" even if there is no response what so ever.
That can possibly be improved to provide more clarity.

When you say node, you mean the code running client or server @gokhansengun ? I think if we can programmatically iso

[2019-06-16 06:11] wfurt commented on #36221
Is this still problem @snehashankar? You mentioned "socket exhaustion issue" but do you have any evidence?

#37044 and #34990 fail with different symptoms but they may give you some good background reading.

[2019-06-16 07:49] newpost opened #38583 "Why trigger event "AssemblyResolve"?"
[code]

[2019-06-16 08:20] adamsitnik commented on #29462
Ok, I have forked the example provided by @sebastienros in https://github.com/dotnet/corefx/issues/37691 and extended it with the benchmarks provided here (I could not use https://github.com/sebastienros/stringbenchmarks/blob/master/Startup.cs because it targets 2.0):

https://github.com/adamsitnik/invariantcultureperf/blob/a2c7baf3c0d301eec993728b69d27209f941e886/Controllers/ValuesController.cs#L

[2019-06-16 10:49] zrajnai commented on #18789
Perhaps @nblumhardt could also take a look into this?

[2019-06-16 10:56] huoyaoyuan commented on #38580
I think it's a fix in Preview 6, because my WPF application looks small (like 100% dpi) in Preview 5.

[2019-06-16 10:57] #38372 closed

[2019-06-16 12:57] drmathias commented on #38163
Deserialisation with constructor parameters would cover both readonly properties and properties with private setters. Private setter deserialisation would be nice too, especially to avoid writing constructors with massive parameter lists.

[2019-06-16 13:03] jarroda commented on #37044
Will it be possible to get this fix in 2.2?

[2019-06-16 14:23] los93sol commented on #30197
@wfurt Thank you so much!  Now that I'm taking another look at the man pages for the native structs I understand much better what's happening and how this is working.

[2019-06-16 14:37] davidsh commented on #34990
That can possibly be improved to provide more clarity.

In .NET Core 3.0, that error message has been enhanced to show more detail about why response was considered invalid.

[2019-06-16 14:42] tannergooding opened #38585 "Provide an `Unsafe.SkipInit` method to allow bypassing definite assignment rules."
### Rationale

Currently, the C# compiler has a number of definite assignment rules that may not work well with some scenarios or which may require some minimal overhead to work around.

One scenario that comes to mind is when working with union types. Here, the C# compiler doesn't understand that fields may be overlapping, or that they may never be exposed, but it requires you to initialize them

[2019-06-16 15:10] johnkellyoxford commented on #38585
This definitely seems a useful feature, I've had to redundantly `default` large structs many times in interop code.

On the one hand, this seems like a nice idea to introduce a little safety to it, but personally I think having it in `Unsafe` is enough, and I feel like it will just come back to bite some niche usage of this feature where the type is managed but is safely skipping init.

[2019-06-16 15:19] ericsampson commented on #20296
@karelz oh no :( I was just going to repost saying how I ran into this again at the second company in a row. How long would the window be to submit a PR for 3.0 if I wanted to tackle it myself? Cheers

[2019-06-16 15:29] ericsampson commented on #20296
I'm having a hard time tracking exactly what's going on with people reporting differences between getting TaskCancelledException and OperationCancelledException depending on the context, can anyone from MSFT illuminate that?

Like this comment from @mikernet :

[2019-06-16 15:34] stephentoub commented on #20296
TaskCanceledException derives from OperationCanceledException, and carries a bit of additional information. Just catch OperationCanceledException.

[2019-06-16 15:37] ericsampson commented on #20296
@karelz would option 1 you posted originally, just making it throw a Timeout exception, be completely unpalatable?

[2019-06-16 15:42] ericsampson commented on #20296
I understand @stephentoub given the inheritance, just this comment below from @mikernet is blowing my mind... This behavior he describes would have to be some kind of bug?? But if true, would influence the fix or workaround…

"a catch block that catches TaskCanceledException does not catch the exception, it specifically needs a catch block for an OperationCanceledException"

[2019-06-16 16:04] ericsampson commented on #20296
Or are you saying that some places it throws an OperationEx and other places a TaskEx ?

[2019-06-16 16:14] stephentoub commented on #20296
Why is that "blowing your mind"? If exception B derives from exception A, a catch block for B will not catch an exception that is concretely A, e.g. if I have a catch block for ArgumentNullException, it will not catch " throw new ArgumentException(...)".

[2019-06-16 16:18] stephentoub commented on #20296
Right. In general code should assume only OCE; the way things are written, some code may end up throwing TCE, e.g. a task completed via TaskCompletionSource.TrySetCanceled will produce a TaskCanceledException.

[2019-06-16 16:36] sebastienros commented on #29462
Citrine (not citrix)

[2019-06-16 17:12] mqudsi opened #38586 "System.Text.Json asynchronous streaming deserialization support"
Hello team,

We've been eager to try the new `System.Text.Json` APIs for their native UTF8 support, but it seems based off [the preview release announcement](https://devblogs.microsoft.com/dotnet/try-the-new-system-text-json-apis/) and the API exposed by the current preview release of the `System.Text.Json` that there's a lack of streaming support, i.e. reading individual JSON tokens without first

[2019-06-16 18:14] danstur opened #38587 "System.Text.Json Cannot Run Tests from Visual Studio"
After building the System.Text.Json solution via build.cmd (or Visual Studio) the resulting assemblies are put into a `$(ArtifactsBinDir)$(TestProjectName)/netcoreapp-$(ConfigurationGroup)/` directory.

The working directory of the System.Text.Json.Tests project under Debug is set to `$(ArtifactsBinDir)$(TestProjectName)/netcoreapp-$(_bc_OSGroup)-$(ConfigurationGroup)-$(ArchGroup)/` this causes an

[2019-06-16 19:30] MarkMichaelis opened #38588 "Version Compatibility: netcoreapp2.0 Rounds Differently than netcoreapp3.0"
`System.Console.WriteLine(1.618033988749895)` with `netcoreapp2.0` and SDK `2.1.700` will result in the output:
[code]
However, changing to `netcoreapp3.0` with SDK `3.0.100-preview5-011568` will result in the output
[code]

This would seem to be a version breaking change in behavior. While I don't particularly mind, I don't understand why the behavior is different and I want to be sure that it is

[2019-06-16 19:33] stephentoub commented on #38588
cc:@tannergooding

[2019-06-16 19:47] bruno-garcia commented on #33115
Is there a plan to support `[DataContract]`, `[DataMember]` and friends?

Today this is a way to define how types should serialize/deserialize (e.g. the field name) in a way that doesn't bring a dependency to any serialization library to the project using it.

The current `JsonNamingPolicy` takes a string only so there's no way to inspect the member's attributes.

[2019-06-16 19:50] scalablecory commented on #38587
Running corefx tests via VS is not supported. The best way to debug in VS right now is to launch via command line and attach a debugger.

[2019-06-16 19:52] axm opened #38589 "[System.Text.Json] merging two json structures"
I ran into this use case recently and I was unable to find a solution.

On one hand I read the contents of a file, then I obtained the JSON representaiton of that content with

[code]

Now I have access to all that data. The second thing I did was build a custom JSON object with the `Utf8JsonWriter`.

**Question:** how can I integrate the latter object into the former (`document`)? I want to creat

[2019-06-16 20:12] ericsampson commented on #20296
Thanks Stephen, from the sounds of things in the thread multiple people were under the impression that TaskCE was being thrown everywhere, which would have made the behavior mentioned by mikernet make no sense... Now that you've clarified , it makes makes his observation logical :)

[2019-06-16 20:17] tomwar commented on #30691
Hi Stephen, I will try to build a complete repro this week.

[2019-06-16 20:39] mosdav commented on #33084
@JeffCyr  where one can find `ConcurrentStackMemoryPool` impl ? I don't see it in our code base

[2019-06-16 20:44] ericsampson commented on #20296
@stephentoub, is this guidance documented anywhere? Pinging @guardrex

[2019-06-16 20:52] guardrex commented on #20296
I work the ASP.NET doc set these days. Open an issue for the dotnet/docs cats ...

https://github.com/dotnet/docs/issues

[2019-06-16 21:52] tannergooding commented on #38588
This change and its reasoning is covered here: https://devblogs.microsoft.com/dotnet/floating-point-parsing-and-formatting-improvements-in-net-core-3-0/

As a summary, the old behavior was non-IEEE compliant and does not produce a round-trippable result by default. The new behavior is both IEEE compliant and produces a round-trippable result by default.

In your case, `1.618033988749895` has an un

[2019-06-16 22:17] mqudsi commented on #38586
I see now that `Utf8JsonReader` is re-entrant and so an asynchronous wrapper around `Utf8JsonReader` that contains additional state can shell out to a fully synchronous helper function that is able to create the needed types and perform the streaming read.

[2019-06-16 22:17] #38586 closed

[2019-06-16 22:32] MarkMichaelis commented on #38588
Similarly, note the discrepancy in the following code:
[code]
### `netcoreapp2.0` SDK `2.1.200` Outputs:
[code]
### `netcoreapp3.0`, SDK `3.0.100-preview5-011568` Output:
[code]

[2019-06-16 22:33] mqudsi opened #38590 "Pretty please: `JsonTokenType` to `[Flags]`"
Before `System.Text.Json` finalizes, would it be possible to change the definition of `JsonTokenType` (and maybe others) to make certain operations on top of `Utf8JsonReader` more efficient?

This is what I had in mind:

[code]

As mentioned, there's no need to actually provide the definitions for `Boolean`, `NestedStart`, etc. as a dev can easily define them once on their end (although having the

[2019-06-16 22:43] gokhansengun commented on #34990
@wfurt as node, I meant the virtual machine which runs client/server containers.

This is probably an umbrella issue stemming from various scenarios but I can talk about ours.

Our problem is due to the distributed nature of Kubernetes scheduling our containers. Client is sending the request to an intermediary, intermediary accepts it to relay to actual container but the node disappears while the

[2019-06-16 23:06] wfurt commented on #37044
possibly. It will be easier to get approval if we can confirm that this fix solves observed issues. e.g try 3.0 before and after.

[2019-06-17 01:02] stephentoub commented on #30691
Thanks, @tomwar.

[2019-06-17 01:06] mqudsi opened #38591 "`Utf8JsonReader` does not correctly resume with only a `JsonReaderState`"
~~The way the API is currently designed and going off of the inline-documentation and online blog posts, it seems that `JsonReaderState` exists to work around the limitations of its `ref struct` type, namely, notably the inability to use it in an `async` context.~~

Based off of writing a non-blocking, user-buffered, `async` wrapper for `JsonSerializer.ParseAsync<T>()` and a STJ-based alternative

[2019-06-17 01:20] VincentBu opened #39004 "[x64] System.InvalidOperationException : Cannot process request because the process has exited."
**Job:**
https://mc.dot.net/#/user/coreclr-corefx-jitstress2-jitstressregs/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcorefx~2F/20190615.1/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessTests~2FTestProcessorAffinity

**Failed tests:**
 System.Diagnostics.Tests.ProcessTests/TestProcessorAffinity

**Log:**
[code]

[2019-06-17 04:36] scalablecory commented on #38590
Doing this will trade one efficiency for another: you can no longer use a jump table to process the enum.

[2019-06-17 04:36] wfurt commented on #38558
I don't think it is legal to send ping after GOAWAY

[code]

With that I see no way how endpoint can send ping afterward.

[2019-06-17 04:43] krwq commented on #38558
@wfurt - after GOAWAY every stream with `id` less of equal than GOAWAY's `lastStreamId` is still valid and until those stream are shutdown the connection is still on (the server won't accept new streams though).

If client decides to not respond to the PING the server is allowed to terminate the connection: server has previously said it will still continue parsing some of the streams so now this d

[2019-06-17 04:52] hez2010 opened #38592 "System.Text.Json throw exceptions on UWP in Release Build"
Use System.Json.Text in UWP,
[code]
[code]

[2019-06-17 04:54] wfurt commented on #38558
Seems like section 6.8 describes more than 5.4.1.
I''m wonder what Kestrel does.
cc: @JamesNK @Tratcher

[2019-06-17 05:33] MarkMichaelis commented on #38588
Here are some more differences that I assume are related but they seem slightly different.  See examples 2 & 4.
Given:
[code]

### `netcoreapp2.0` SDK `2.1.200` Outputs:
[code]
### `netcoreapp3.0`, SDK `3.0.100-preview5-011568` Output:
[code]

[2019-06-17 06:23] mqudsi commented on #38591
Oh, and of course the only externally usable API for setting the state of a `Utf8JsonTextReader` is the `state` parameter in the constructor. Users of the API cannot set `position` manually.

[2019-06-17 06:58] neville-nazerane commented on #8821
is this still being planned?

[2019-06-17 07:35] adamsitnik commented on #34799
@ahsonkhan I was hoping to do it when I was flying from Seattle to Europe, but I did not. I have unassigned myself

[2019-06-17 07:47] JBerg60 opened #38594 "CollectionViewSource Class in namespace System.Windows.Data"
The documentation says that the collectionviewsource class is in the framework since preview 5:

https://docs.microsoft.com/de-de/dotnet/api/system.windows.data.collectionviewsource?view=netframework-4.8

However, I cannot find the class, nor the source code.

any pointers?

[2019-06-17 07:50] Wraith2 commented on #38594
You're looking in the wrong repository. you need dotnet/wpf
https://github.com/dotnet/wpf/blob/master/src/Microsoft.DotNet.Wpf/src/PresentationFramework/System/Windows/Data/CollectionViewSource.cs

[2019-06-17 07:58] #38594 closed

[2019-06-17 08:19] GSPP commented on #38546
These kinds of "scope based contexts" can be very convenient but also very dangerous. Essentially, all code now depends on the value of a thread-local mutable global variable.

This causes non-local effects where surrounding code can modify the behavior of inner code (e.g. library or framework) in ways unforeseen by the developers.

There are existing examples of this. For example, the `ExecutionC

[2019-06-17 08:32] PatrickHofman commented on #34728
This indeed doesn't reproduce any more in .NET Core 3!

Since we are not ready to move to .NET Core 3 yet, what is the best action to take now?

[2019-06-17 09:09] AriNuer opened #38595 "Test failure: System.Runtime.Extensions.Tests/System.Tests.AppDomainTests/MonitoringIsEnabled"
Test `System.Tests.AppDomainTests/MonitoringIsEnabled` has failed.

Message :
[code]

Stack Trace :
[code]

Build: -[20190616.8](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190616.8)(Master)

Failing configurations:

- Windows.10.Amd64.ServerRS5.Open-x64-Release

Details:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet

[2019-06-17 10:36] sathishTkumar commented on #36221
am facing the same exception. Please see my below and let me know if you need any additional info.
Environment: P2V2  with 20 instances
.net core v: 2.2
EXCEPTIONSystem.Net.Sockets.SocketException:
A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond A connection attemp

[2019-06-17 10:41] DAXaholic commented on #38575
Yup, I'd go through the tests and remove those unused parameters.

[2019-06-17 10:48] dmytro-gokun commented on #38546
@GSPP you are right, it can be dangerous (well, not really dangerous, but really hard to debug), if not used properly. On the other hand, we still have Thread.CurrentCulture & friends, which could be dangerous as well if used improperly. But nobody worries much about that. Imagine the hell that would take place if there were no Thread.CurrentCulture. Then every method had to have an additional "cu

[2019-06-17 10:51] michaelstaib opened #38596 "Stack<T> should implement IReadOnlyList<T>"
Hi,

it would be nice if `Stack<T>` also implemented `IReadOnlyList<T>`.

`IReadOnlyList<T>` would allow to pick any element of the stack with its index. I know that the current implementation is a pretty clean stack implementation, but sometimes it is nice to just be able to pick an element of that stack.

With the current implementation `Stack<T>` already is implementing IReadOnlyCollection<T> w

[2019-06-17 13:18] YohDeadfall commented on #36505
@steveharter Without #38233 I'm not able to implement this one. Later it would be possible to access fields without code emit, but it's work in progress by @GrabYourPitchforks.

[2019-06-17 13:40] davidsh commented on #38564
21 seconds is a common timeout in Windows.  That timeout occurs when the TCP handshake is unable to complete the 3-leg SYN, ACK, SYN-ACK handshake.  Windows gives each part of that handshake 7 seconds to complete. That timeout occurs at the OS level is and is not controllable via .NET.

I'm not familiar with Linux's version of that timeout but 127 seconds is probably the default.

Since these are

[2019-06-17 13:55] jkotas commented on #38585
The JIT will always zero-initialize a field to a reference type.

[2019-06-17 14:08] layomia commented on #37694
PR https://github.com/dotnet/performance/pull/530 adding benchmarks for dictionary and other collections is not merged yet. I'll work to check this in ASAP.

[2019-06-17 14:19] ViktorHofer commented on #38595
@stephentoub looking at the test code https://github.com/dotnet/corefx/blob/f5399d9d24536697a3bc36339e13ba085fc28938/src/System.Runtime.Extensions/tests/System/AppDomainTests.cs#L388 I'm unsure if this shouldn't be a remote invocation?

[2019-06-17 14:21] ViktorHofer commented on #38583
Is your question why trigger `AssemblyResolve` for satellite assemblies?

[2019-06-17 14:45] jkotas commented on #38535
We should relax the type check in `Array.Copy`

[2019-06-17 14:50] stephentoub commented on #38595
It shouldn't need to be.

@Maoni0, this failure suggests that:
[code]
returned `0`.  In what situation would that occur?  Thanks.

[2019-06-17 15:03] ViktorHofer commented on #38553
Seems you already got the info that you needed? I don't have direct access to any of these machines...

[2019-06-17 15:14] #32334 closed

[2019-06-17 15:22] Tratcher commented on #38558
@wfurt when Kestrel receives a GoAway it continues to process all incoming frames until all the active streams are complete. The client should do the same. Note even in the error case it's the sender that decides if it wants to cease normal operations and close the connection.

[2019-06-17 15:30] tarekgh commented on #38553
No problem. I was able to repro the issue on my local machine. that is how I validated the fix. please let me know if there is anything I can help with.

[2019-06-17 15:31] newpost commented on #38583
@ViktorHofer yes

[2019-06-17 15:38] tannergooding commented on #38588
Those, modulo `(float)4.2M`, all look to be expected.

For #4, it's important to keep in mind that the `shortest round-trippable string` and the `exact underlying value` generally differ. In the case of `4.2` as a double, `4.2` is the shortest round-trippable string, but the exact underlying value is `4.20000000000000017763568394002504646778106689453125`.

The two representable `single-precision f

[2019-06-17 15:38] tannergooding commented on #38588
Those, modulo `(float)4.2M`, all look to be expected.

For #4, it's important to keep in mind that the `shortest round-trippable string` and the `exact underlying value` generally differ. In the case of `4.2` as a double, `4.2` is the shortest round-trippable string, but the exact underlying value is `4.20000000000000017763568394002504646778106689453125`.

The two representable `single-precision f

[2019-06-17 15:43] tannergooding opened #38602 "decimal.ToSingle needs to have its logic implemented independently from decimal.ToDouble"
`decimal.ToSingle` is currently implemented by calling `DecCalc.VarR4FromDec`, which in turn just does `return (float)VarR8FromDec(in value)`. This is incorrect as it does not produce the nearest representable `single-precision floating-point` result. It instead computes the nearest representable `double-precision floating-point` result and then rounds that to the nearest representable `single-pre

[2019-06-17 15:44] tannergooding commented on #38588
Logged https://github.com/dotnet/corefx/issues/38602

[2019-06-17 15:45] tannergooding commented on #38602
CC. @pentp.

Any concerns with fixing this?

[2019-06-17 16:12] #38110 closed

[2019-06-17 16:21] wfurt commented on #38558
I look again and ProcessGoAwayFrame() calls AbortStreams() with last valid stream and tht calls CheckForShutdown() where
[code]
so we should not hit the endgame if we have pending streams. We still process incoming frames  so I see no obvious reason why ping would not work.

[2019-06-17 16:27] krwq commented on #38558
@wfurt the problem is specifically with https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Connection.cs#L1186

This is causing us to throw for PING but not for other streams - for open streams we seem to be bypassing the _disposed check.

Currently ABORT and GOAWAY seem to be treated the same, I believe the correct solution would be to set

[2019-06-17 16:35] Clockwork-Muse commented on #38546
Personally, I'd actually _prefer_ that.  I mean, it would actually make dealing with culture issues cleaner in some server contexts - anything that renders a web page is dealing with _at least two_ cultures (the server's, which should be some invariant, and the visitor's, which should be configurable).  I'm always rather nervous around implicit global config state (especially something mutable).

[2019-06-17 16:36] wfurt commented on #38558
maybe first step is to validate that existing streams can successfully finish I think distinguishing cases when somebody called Disposed() from receiving GOAWAY can be useful.

[2019-06-17 16:36] krwq commented on #34728
@PatrickHofman have you tried if System.Net.Http.UseSocketsHttpHandler workarounds the issue for you?

[2019-06-17 16:41] krwq commented on #38558
@wfurt I've already tested this as part of https://github.com/dotnet/corefx/pull/38561 and works correctly but there are conditions (like this issue) which cause failures with that.

[2019-06-17 16:43] StephenBonikowsky commented on #31913
Test passed in CI, re-enabling it with PR #38554.

[2019-06-17 16:43] #31913 closed

[2019-06-17 16:49] davidsh commented on #34697
@wpbrown

We recently merged PR #38465 which allows SocketsHttpHandler to use a specified 'Host:' request header as part of the SPN calculation. This PR change is available for .NET Core 3.0.

As you mentioned above, .NET Framework is only able to achieve this scenario in cases where the DNS name is pre-resolved and cached. In general, both .NET Framework and .NET Core have similar lack of first-c

[2019-06-17 16:52] bartonjs opened #38606 "Test PlatformDetection cctor fails on Debian 10"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190617.8/workItem/System.Security.Cryptography.Encoding.Tests/analysis/xunit/System.Security.Cryptography.Encoding.Tests.AsnEncodedDataCollectionTests~2FCopyExceptions

[code]

Presumably it's poorly matching the distro version.

[2019-06-17 16:54] rwkarg commented on #38526
Writing to a temp stream first works, but RecyclableMemoryStream isn't the most performant implementation right now.

It would be ideal to have a way to write to an ArrayPool backed ROS. Then the length can be gotten, header written, and ROS written to the PipeWriter.

The other option would be to have a GetByteCount on the JsonSerializer to calculate the size. Then the header could be written and

[2019-06-17 17:02] ericstj commented on #38545
We should look into our native build scripts to make sure they set this flag.

[2019-06-17 17:06] danmosemsft commented on #38606
https://github.com/dotnet/corefx/issues/38443

[2019-06-17 17:06] #38606 closed

[2019-06-17 17:07] dmytro-gokun commented on #38546
@Clockwork-Muse

I'm with you on this. And yet, even in the server context, you are somehow relying on request "globals", e.g. user identity. Sure, we can (try) make everything pure & immutable. But that also has it's price (e.g. the fact that now you need to carry your "context" around as a parameter which have to (manually) propagate to each nested call. The question is how crazy you'd like to g

[2019-06-17 17:08] karelz commented on #22098
Goal for 3.0: Understand how much we changed in 3.0 against 2.1/2.2.
Confirm current behavior is correct and we want to stick with it.

[2019-06-17 17:10] karelz commented on #33557
@wtgodbe please check this is not regression against 2.x

[2019-06-17 17:13] karelz commented on #33794
We cannot reproduce it, no activity for 1.5 months, closing.
If you have more details, please let us know and we can reopen.

[2019-06-17 17:13] #33794 closed

[2019-06-17 17:16] danmosemsft commented on #38443
@wfurt do you know how to pull the content of `/etc/os-version` from the debian 10 image we are testing with here?

[2019-06-17 17:17] karelz commented on #38558
Does not seem to be critical for gRPC, moving to Future.

[2019-06-17 17:19] karelz commented on #35838
arm64 build issue - can slip post ZBB (maybe even arm32)

[2019-06-17 17:24] danmosemsft commented on #38545
Maybe check coreclr as well (I assume it's just grepping the build log)?

[2019-06-17 17:27] karelz commented on #38229
@stephentoub any update on this one? Will you have time to fix it for ZBB on 7/1? Thanks!

[2019-06-17 17:36] krwq commented on #38481
@scalablecory I think this might be somewhat related to https://github.com/dotnet/corefx/issues/38558#issuecomment-502755544

I think GoAway should not mark connection as _disposed and instead there should be another flag telling it is terminating the connection (otherwise certain actions cause ObjectDisposedException). Note: this might be a different issue what I just described

[2019-06-17 17:43] jkotas commented on #38545
This is about running the https://github.com/Microsoft/binskim tool on the binaries produced by the build. CoreCLR was fine last time I have checked.

[2019-06-17 18:02] davidsh commented on #36221
@snehashankar

Why are you adding this code to your project?  This will cause the server to close the connection after a single request/response cycle. That will contribute to sockets getting closed all the time and thus running out of available sockets more quickly (since it takes longer for a socket to be ready to be re-opened after being closed).

Also, is this running on Windows or Linux on Az

[2019-06-17 18:02] LLRDevGirl commented on #38495
@joperezr Thank you for your assistance.

- In total I have 4 projects with this problem.  I'll start with OrderSync.  I'm unable to upgrade to 4.7.2 due to dependencies.  However, I'm attaching the msbuild.binlog file.
- Webjobs are running .NET 4.7.2 (output attached)
- Config redirects attached
- This is in production but I have to deploy from VS 2017 Enterprise v. 15.9.12 (publish as an Azure

[2019-06-17 18:03] bartonjs commented on #36330
Windows ARM64 isn't officially supported in 3.0

[2019-06-17 18:14] lmolkova commented on #36999
@davidfowl yeah, I'll do it.

[2019-06-17 18:18] safern commented on #37662
Thanks @zhongzepeng for opening the issue, however this is a libgdiplus issue as you can see in the error, it happened there.

Could you please open the issue there? or please provide us with more information and I can open the issue for you.

Version of libgdiplus used.
Dockerfile or docker image information, mostly which OS version it was running on.

[2019-06-17 18:18] #37662 closed

[2019-06-17 18:20] safern commented on #37209
Thanks @gfoidl for helping our here. This indeed looks like a libgdiplus issue and the fix is linked above. Closing as there is no action on our side.

[2019-06-17 18:20] #37209 closed

[2019-06-17 18:21] safern commented on #36914
Thanks @NanaseRuri for reporting the issue. Could you please help me providing the version of .NET Core and System.Drawing.Common package that you used?

[2019-06-17 18:23] bartonjs commented on #37994
Without a stable (or "try this in a loop 30 times") repro or a TTT trace it's hard to bring this up with Windows.  Since it's not really actionable right now, marking as Future.

[2019-06-17 18:24] safern commented on #36102
@ATrzeciakiewicz could you please share a more detailed repro? I.e, what are you exactly calling?

I would like to get a code snippet to repro this locally, debug it and fix it.

[2019-06-17 18:26] safern commented on #24525
Moving to future as this is infrastructure dependent on the version of libgdiplus our machines are running on, and from what I know, the only pending machines to be updated are *SOME* of the RedHat6 ones.

[2019-06-17 18:32] wfurt commented on #38443
It was in #38008
[code]

Since that is rolling release, there is no version whatsoever.
If somebody wants to experiment we can grab Docker ID from helix build prereqs.

[2019-06-17 18:36] joperezr commented on #38495
Can you try setting the following two properties in your OrderSync project:

[code]

After setting those and rebuilding, you should see a warningin VS telling you that you need to add some binding redirects to your project. Please double click the warning and let VS add these extra binding redirects. Let me know if by doing that this fixes your issue.

[2019-06-17 18:36] krwq commented on #35907
Another stack: https://gist.github.com/krwq/2afd95cf9d70c7429f0a031e5e517963
contains all 3 outputs:
- eestack
- dumpasync -stacks with and without -fields

this stack is certainly related to `HttpProtocolTests` as mentioned above

[2019-06-17 18:42] tarekgh commented on #38500
@jackwangchs I am closing this issue. if you have any specific to be addressed in corefx, please send the required information and we can reopen. Thanks.

[2019-06-17 18:42] #38500 closed

[2019-06-17 18:43] krwq commented on #34037
I've actually hit similar issue on amd64 Linux as well.

For me it manifested as a hang rather than failure but the same tests were involved which seems related.

Test was running in privileged docker container on Linux (host and container are both on ubuntu).
Since implementation on both Windows and Linux is completely different it's either issue in the common code or it's a test issue.

Here are

[2019-06-17 18:43] danmosemsft commented on #38443
Thanks @wfurt, and I even replied to that comment too!

In the near term I suggest we change `ToVersion` to not throw ie (ie use TryParse). In this case, the calling code apparently does not need the version anyway. Does htat seem reasonable?

[2019-06-17 18:43] wfurt commented on #36221
You should also collect Wireshark packet dump to see that that the server did or did not respond. If it didn't this exception is correct and there is nothing wrong with HttpClient.

[2019-06-17 18:45] wfurt commented on #38443
yes, I think returning 0.0 or -1.-1 sounds reasonable to me.

[2019-06-17 18:48] bartonjs commented on #34037
@krwq `CryptoThrowHelper+WindowsCryptographicException : Access denied` from `FilterPFXStore` is very Windows implementation detail.  Linux failures would be completely unrelated.

[2019-06-17 18:48] danmosemsft opened #38608 "Build failure on WSL due to : PackagingException: File not found: '/home/dan/git/corefx/LICENSE.TXT'"
On WSL Ubuntu. And the file does exist:
[code]
[code]
I remember @MarcoRossignoli had this same issue. @tarekgh could this be related to how string comparisons are done - I seem to remember you mentioning some issue related to Nuget?

[2019-06-17 18:49] krwq commented on #38582
@abjbhat I'm marking this as Future but we can consider taking a fix for 3.0 if you're willing to send a PR.

Having a quick look at this, presumably `dbo` namespace alias is defined somewhere (namespace manager or document)?

[2019-06-17 18:54] krwq commented on #38483
@CoffeeFlux for 3.0 this is by design and we do not intend to change this behavior at this point (too close to ship date).

For Future we can start a conversation on how to make both Windows and Linux users happy (will have to add new APIs if needed).

I'd recommend to list what behaviors do you think should be changed (in a table) and what would be implications of that for Windows and Linux users

[2019-06-17 18:56] mqudsi commented on #38590
That's a good point. I'm assuming the reason for separate enum states for `True` and `False` is for performance reasons (guessing: it's no additional cost to determine which of the two up front and saves a conditional afterwards)?

[2019-06-17 18:59] MattGal commented on #24525
@safern this should be on every RH6 machine today, if you're seeing the problems still we should reactivate (move to WIP) https://github.com/dotnet/core-eng/issues/6370 with details.

[2019-06-17 19:00] maheshnlrb opened #38609 "Cloning SecurityBindingElement misses EnableUnsecuredResponse"
The constructor of  SecurityBindingElement that takes elementToBeCloned does not set the EnableUnsecuredResponse to what's set on source.

[2019-06-17 19:17] ViktorHofer commented on #24525
Let's close this one meanwhile.

[2019-06-17 19:25] mqudsi commented on #38592
Presumably you wouldn't run into this if you used the explicit `Type` parameter?

[2019-06-17 19:26] tarekgh commented on #38608
@danmosemsft This not look familiar to me. my guess would be casing of the file path is not matching the casing in the nuspec.

[2019-06-17 19:28] stephentoub commented on #38608
I've had this issue in the past when my repo was in an inconsistent state.  Doing a clean and then rebuild fixed it for me.

[2019-06-17 19:29] mqudsi opened #38612 "System.Text.Json JsonSerializer API JsonSerializerOptions conflict/priority"
Some of the overloads for `JsonSerializer.ReadValue` take both a `Utf8JsonReader` and an (optional) `JsonSerializerOptions` structure as parameters. However, a `Utf8JsonReader` is already associated with an existing `JsonSerializerOptions` object via its `JsonReaderState`, which can be explicitly initialized with a custom `JsonSerializerOptions`.

From an API UX perspective, this is vague and conf

[2019-06-17 19:31] tarekgh commented on #38583
I believe this is expected. When accessing any resources, the loader will try to find first if there is a a satellite assembly matching the UI culture. I believe you are running on Chinese platform. if the loader couldn't find the satellite assembly, it'll fire the event giving a chance to the event subscriber to react to that.

@sdmaclea please correct me if what I mentioned in not correct.

[2019-06-17 19:33] mqudsi commented on #38581
I agree, this would make things easier.

[I thought so too](https://github.com/dotnet/corefx/issues/38586), but then I realized there was sufficient low-level state available to work around the limitations.

I actually just finished (technically it was at 3am, but who's keeping track? 😂) implementing a non-blocking, asynchronous `Stream` (or anything else, I guess) deserializer on top of the prese

[2019-06-17 19:33] ahsonkhan commented on #38592
cc @MichalStrehovsky

[2019-06-17 19:38] ahsonkhan commented on #38590
Can you please show a code sample you had in mind, where such a change would make the code more efficient? If you have some more concrete perf numbers (or a benchmark that I can run), that would help motivate this change.

[2019-06-17 19:39] mqudsi commented on #38591
Additionally, for proper re-entrance/re-initialization support the `position` value is useless in all cases when reading from a `Span<byte>` rather than a `ReadOnlySequence<byte>`. I've had to work around this by separately keeping track of `BytesConsumed` (because it is not restored from the passed-in `JsonReaderState` object), manually bumping the cursor when saving `CurrentState`, and internall

[2019-06-17 19:48] EgorBo commented on #38483
Related: https://github.com/dotnet/corefx/issues/35222

[2019-06-17 19:50] ahsonkhan commented on #38589
The `JsonDocument`, in its v1 implementation, is read-only (i.e. it is not modifiable).

One thing you could do as a workaround, via the `Utf8JsonWriter`, is enumerate all the tokens of the `JsonDocument`, and write them out to the writer (including inserting the custom JSON object you have). You can then pass the output of the `Utf8JsonWriter` to `JsonDocument.Parse` to get a `JsonDocument` conta

[2019-06-17 19:52] GrabYourPitchforks commented on #38184
I believe this was fixed in https://github.com/dotnet/corefx/pull/38328. If this is incorrect, please reopen this issue.

[2019-06-17 19:52] #38184 closed

[2019-06-17 20:00] ahsonkhan commented on #38612
This is a good question. Thanks for bringing it up :)

We had thought about this during the API design. The options with which the `Utf8JsonReader` was constructed would be honored over the `JsonSerializerOptions` being passed in. This is something we document to help clarify it a bit, but yes, it does cause some friction from the user's point of view.

Presumably, usage of the the JsonSerializer

[2019-06-17 20:00] CoffeeFlux opened #38615 "AssemblyNameTests.FullName accepts 'extended' name as well as 'expected'"
As part of fixing the test in Mono (https://github.com/mono/mono/issues/15073), I noticed that Core seems to just return the 'expected' string. Why is the 'extended' one an option in the test? Checking the history just leads me back to the initial commit, which this was still present in. If this behavior is intended, the reason should probably be documented, as from an outside perspective it seems

[2019-06-17 20:01] danstur commented on #38587
@scalablecory If running tests via Visual Studio is not supported, someone should remove the whole section [Build, Run and Debug tests using Visual Studio](https://github.com/dotnet/corefx/wiki/Build-and-run-tests#build-run-and-debug-tests-using-visual-studio) in the contributor section.

Given that it also works perfectly fine by simply fixing the incorrect path *and* is documented extensively, t

[2019-06-17 20:01] wtgodbe commented on #38027
Resolved by https://github.com/dotnet/corefx/pull/38404 & @MattGal 's follow-up

[2019-06-17 20:01] #38027 closed

[2019-06-17 20:12] mqudsi commented on #38591
*Revised and clarified*

[2019-06-17 20:21] safern commented on #38395
@craigwardman makes sense. Thanks for your proposal. Could you please format the issue description following the API propsal guidelines? [here is an example on how it should look](https://github.com/dotnet/corefx/issues/34019) (that one is very detailed).

Also, might be worth including other constructors as @ericstj suggested.

[2019-06-17 20:26] mqudsi opened #38616 "Native support for deserializing string to primitive type?"
The Newtonsoft JSON library is able to parse

[code]

to a C# structure

[code]

However

[code]

throws an exception as `Foo.Number` is an integer but the JSON equivalent is technically a string.

This isn't a bug per se as STJ is correct, but it's a very common scenario as type safety is an afterthought in the web world where much of JSON comes from. Are there any plans to support this? In terms

[2019-06-17 20:27] danmosemsft commented on #38301
@iwhp does this reproduce on .NET Framework? This repo is for .NET Core.

[2019-06-17 20:28] danmosemsft commented on #38087
@steveharter @GrabYourPitchforks are either of you driving this (as owners of area-Reflection)? Do you need help here to complete this by 7/1?

[2019-06-17 20:30] danmosemsft commented on #36716
@GrabYourPitchforks it seems to me that at this point it needs to go to Future and that is OK. Please let me know if that's not the cas.e

[2019-06-17 20:31] mqudsi commented on #38612
Thanks for the additional context (especially re converters). I'll keep that in mind as I experiment some more with STJ and let you know!

[2019-06-17 20:31] danmosemsft commented on #37378
@VSadov do you expect to be able to take a look before 7/1? We expect to ZBB on that day.

[2019-06-17 20:32] danmosemsft commented on #38176
should be fixed by https://github.com/dotnet/corefx/pull/38343

[2019-06-17 20:32] #38176 closed

[2019-06-17 20:33] ahsonkhan commented on #38523
cc @steveharter, @pranavkm, @layomia

[2019-06-17 20:33] ahsonkhan commented on #38536
cc @layomia

[2019-06-17 20:40] ygoe commented on #38564
From my knowledge about TCP, I'd expect a declining package in return, immediately. Some sequence of SYN/RST, not sure what the exact packets are. That's the difference between rejecting and dropping a connection in a firewall. Usually, computers reject which tells the other side immediately, unless a firewall is configured to drop and then we see timeouts.

So should I just call `webSocket.Connec

[2019-06-17 20:40] ahsonkhan commented on #38568
The string support for enums is a known limitation and we are are working to fix that for 3.0 (will be done via a custom built-in converter, once we have finalized the shape/design of converters).
https://github.com/dotnet/corefx/issues/36639

cc @steveharter, @JeremyKuhne

I'll update this issue with more details once we have that resolved.

`Colors` is a struct without settable properties, and t

[2019-06-17 20:45] ahsonkhan commented on #38536
Like I mentioned in https://github.com/dotnet/corefx/issues/38568#issuecomment-502842664, I think `Uri` will occur quite a bit in common models and JSON payloads, so we will try to squeeze support for that in for 3.0.

[2019-06-17 20:50] jkotas commented on #38087
I do not think we should be trying to get these half-baked APIs in at the last minute. It should be fine for the few places that need to have the nullability decoder ring to use a local private copy of it for 3.0.

[2019-06-17 20:51] ahsonkhan commented on #38526
We have an `ArrayBufferWriter<byte>` that implements `IBufferWriter<byte>`, that basically does what you are looking for (but with a GC-backed array).

https://github.com/dotnet/corefx/blob/3b2707b4b672af99d9d7ac3d57352099f1ff3ff1/src/Common/src/System/Buffers/ArrayBufferWriter.cs#L17
https://github.com/dotnet/corefx/blob/3b2707b4b672af99d9d7ac3d57352099f1ff3ff1/src/System.Text.Json/src/System/Tex

[2019-06-17 20:55] krwq opened #38618 "System.Net.Security tests are intermittently hanging on Linux"
Test was running in privileged docker container on Linux in a loop for a longer period of time (host and container are both on ubuntu).

Here are some stacks to look at (this contains eestack, dumpasync -stacks, dumpasync -stacks -fields): https://gist.github.com/krwq/f7bb696c941e88a8a54e083c20a3d905

Basically some combination of multiple tests seem to be causing the hang (hang: no observable act

[2019-06-17 21:10] #38349 closed

[2019-06-17 21:19] ericstj commented on #38580
Closing in favor of https://github.com/dotnet/wpf/issues/976

[2019-06-17 21:19] #38580 closed

[2019-06-17 21:23] ericstj commented on #38587
Running tests in VS via F5 is supported.  Did you select a configuration in the configuration manager that matches the one you want to use (EG: netcroreapp-Debug).  /cc @ViktorHofer

[2019-06-17 21:23] Alan-FGR commented on #13329
@dazinator I think the very fact that MS somehow thinks Mono is a decent solution for anything goes to show that they really don't know their products. I've used Mono, and while it's an important piece of tech and helped popularize .NET immensely, it's definitely lacking some quality... Xamarin did some great marketing work promoting their tech, but it was based on over-promising and under-deliver

[2019-06-17 21:27] ViktorHofer commented on #38587
@ericstj this seems to happening because I stopped binplacing the test assemblies. I probably forgot to update the path in the launchSettings.json template. What is the correct msbuild property that exposes the  configuration string where the binaries are copied to? `$(BuildConfiguration)`?

[2019-06-17 21:42] LLRDevGirl commented on #38495
The warning I'm getting after updating the proj file  and setting autoGenerate... to true.  Not sure what else to do.

Found conflicts between different versions of the same dependent assembly. Please set the "AutoGenerateBindingRedirects" property to true in the project file. For more information, see http://go.microsoft.com/fwlink/?LinkId=294190.	OrderSync

[2019-06-17 21:43] Alan-FGR commented on #13329
@dazinator I think the very fact that MS somehow thinks Mono is a decent solution for anything goes to show that they really don't know their products. I've used Mono, and while it's an important piece of tech and helped popularize .NET immensely, it's definitely lacking some quality... Xamarin did some great marketing work promoting their tech, but it was based on over-promising and under-deliver

[2019-06-17 21:52] #36722 closed

[2019-06-17 22:01] NimaAra commented on #38568
@ahsonkhan I am not sure why you brought up `Colors` as in my example I am trying to resolve `Color` which is an _enum_.

FYI, the sample _JSON_ was generated by: [JsonGenerator](https://www.json-generator.com/) which regards that value for _DateTime_ as standard.

[2019-06-17 22:03] VSadov commented on #37378
Thanks, for a heads up. I thought it is tracked as a part of some bigger known infrastructure issue.
I will take a look.

[2019-06-17 22:09] newpost commented on #38583
why the loader couldn't find the satellite assembly？when culture is en-us, the loader find it,But culture is
zh-CN，not .

Regards,

________________________________
发件人: Tarek Mahmoud Sayed <notifications@github.com>
发送时间: Tuesday, June 18, 2019 3:32:47 AM
收件人: dotnet/corefx
抄送: niceguy; Author
主题: Re: [dotnet/corefx] Why trigger event "AssemblyResolve"? (#38583)

I believe this is expected. When

[2019-06-17 22:12] GrabYourPitchforks opened #38620 "Missing API: ASCIIEncoding.Equals(object?)"
Other types like `UTF8Encoding`, `UnicodeEncoding`, etc. override the `object.Equals(object?) : bool` method, but `ASCIIEncoding` does not. We should consider adding this for symmetry.

[2019-06-17 22:16] tarekgh commented on #38583
Because the framework doesn't carry satellite assemblies at all. in case of en-US, it will just use the resources inside the main assembly.

I am going to close this issue, but feel free to send any more questions you have. Thanks for your report.

[2019-06-17 22:16] #38583 closed

[2019-06-17 22:17] sdmaclea commented on #38583
@tarekgh Is correct.

@newpost I believe the second call to  `dic.Add("key", "value");` will trigger an exception.

The exception will contain an error message. The runtime is trying to translate the message to your UI culture. The `AssemblyResolve` event is firing when the translation doesn't exist for your UI culture. It allows your handler to locate the satellite assembly.

If your handler retu

[2019-06-17 22:48] #37694 closed

[2019-06-17 22:52] ahsonkhan opened #38624 "The System.Text.Json package description should be updated"
The `System.Text.Json` package description is now a bit out-dated and we should update it to reflect the contents more accurately.

https://github.com/dotnet/corefx/blob/ef0578fd6abeba406ddffbb1591c1a618bca9dae/pkg/descriptions.json#L1997-L2013

Current view on nuget.org: https://www.nuget.org/packages/System.Text.Json/4.6.0-preview6.19303.8
![image](https://user-images.githubusercontent.com/65271

[2019-06-17 22:57] Maoni0 commented on #38595
if there was no accounting errors at all, we should see at least 24 bytes difference but I know there are some corner cases where the accounting is a little off. I had some changes that included fixes related to the accounting; unless this is easy to repro I would probably just wait till those changes are in (which might be a while).

[2019-06-17 23:11] ericstj commented on #38587
Don't construct the path on your own, use the same exact property used when copying the output.  I imagine that is OuputPath (or TargetDir or OutDir).

[2019-06-17 23:40] scalablecory opened #38626 "HTTP2: Check for overflowing/overlong HPACK integers"
HPACK's `IntegerDecoder` has two behaviors which allow malformed data to slip through:
* Integers > `int.MaxValue` will silently decode into an incorrect value.
* Integers encoded with more bits than necessary (i.e. all 7 bits of the last byte are 0) is allowed.

[HPACK Section 5.1](https://http2.github.io/http2-spec/compression.html#integer.representation) gives clear guidance on both of these:

[2019-06-18 00:19] scalablecory commented on #38267
I was not able to repro this to get 995 (operation aborted), but did end up getting lots of 10053 (connection aborted) and some `ObjectDisposedException` by introducing some GC:

[code]

May be related to #38481 which also gets the same `ObjectDisposedException`.

[2019-06-18 00:47] stephentoub commented on #38595
Ok, thanks.

[2019-06-18 00:48] stephentoub commented on #38229
I put up a PR.

[2019-06-18 01:00] gafter commented on #36132
Unfortunately, this API is not correct, because the behavior of the `isinst` instruction is not the same as getting the type of the object and using `Type.IsAssignableFrom`.  The reason is the existence of APIs such as [`ICastable`](https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Runtime/CompilerServices/ICastable.cs) and COM types.  This API would likely hav

[2019-06-18 01:25] #33018 closed

[2019-06-18 02:06] ahsonkhan commented on #38414
@buyaa-n, can you provide a simplified repro of the issue that doesn't involve all the various types from the test class? What is the simplest "model" type where such an issue occur?

[2019-06-18 03:38] danmosemsft commented on #38575
OK, assigned! thanks.

[2019-06-18 03:47] los93sol commented on #37122
Anyone had success using this workaround to set SO_ATTACH_FILTER?  I've been trying to do it for several hours and keep getting back -1.  Assuming it's because I'm attempting to build the bpf filter from structs and bypassing libpcap's pcap_compile method.

[2019-06-18 04:10] adamsitnik commented on #38359
@maryamariyan can this issue be closed now after you have merged https://github.com/dotnet/coreclr/pull/25036?

[2019-06-18 05:18] EricXiexm opened #38630 "unstandardized response header in HttpClient request"
In .net standard 2.0
When i use System.Net.Http.HttpClient to request url data,throw an exception like:
![图片1](https://user-images.githubusercontent.com/16000300/59652214-56a5d380-91bf-11e9-859a-9441a3ab6ccf.png)

The url run in web browser work well,but its response headers like:
![图片2](https://user-images.githubusercontent.com/16000300/59652311-d0d65800-91bf-11e9-8b79-ae6d5a40fc99.png)

The repo

[2019-06-18 05:27] NanaseRuri commented on #36914
My fault.

`.Net Core :                                2.2.104
 System.Drawing.Common:       4.5.1`

[2019-06-18 05:31] ahsonkhan commented on #38591
Do you mean `ResumeWithReader` succeeds and `ResumeWithState` fails?

This is expected given the current design since you need to slice the input data (if, for instance, it is contained within a `ReadOnlySpan<byte>`) by `BytesConsumed`, before passing it back to a new reader.

Slicing using `BytesConsumed` is the expected pattern (given its a span, that's quite cheap). Re-creating a reader instanc

[2019-06-18 05:43] ahsonkhan commented on #38579
And if not, Are there any plans to support this?

This is a known limitation of `System.Text.Json` (we do not have this feature yet) and we have little runway left to design and implement this for 3.0. We plan to add this for vNext, for sure (there are quite a few features/capabilities in Json.NET that wouldn't work in `System.Text.Json` and given the constraints, we had to prioritize what made it

[2019-06-18 05:44] ahsonkhan commented on #38579
cc @steveharter

[2019-06-18 05:49] ahsonkhan commented on #38543
This is a duplicate of existing issues:
https://github.com/dotnet/corefx/issues/35385
https://github.com/dotnet/corefx/issues/34958

We plan to add the ability for the caller to modify the default behavior by passing in a custom `JavaScriptEncoder` to `JsonWriterOptions`, `JsonSerializerOptions`, and `JsonEncodedText`.
https://github.com/dotnet/corefx/issues/37192

[2019-06-18 05:49] ahsonkhan commented on #38576
This is a duplicate of existing issues:
https://github.com/dotnet/corefx/issues/35385
https://github.com/dotnet/corefx/issues/34958

We plan to add the ability for the caller to modify the default behavior by passing in a custom `JavaScriptEncoder` to `JsonWriterOptions`, `JsonSerializerOptions`, and `JsonEncodedText`.
https://github.com/dotnet/corefx/issues/37192

[2019-06-18 05:52] ahsonkhan commented on #38569
This is a known limitation of the `System.Text.Json` serializer for v1. We plan to support this in the future.

[2019-06-18 05:57] ahsonkhan commented on #38568
Sorry, I missed the part that `Color` is a custom enum that you defined, and confused it with the built-in `System.Drawing.Color` type:
https://github.com/dotnet/corefx/blob/dc9a0f2c5c3e1718a75a9ed508e8a06309c174fb/src/System.Drawing.Primitives/src/System/Drawing/Color.cs#L15

[2019-06-18 05:59] ahsonkhan commented on #38565
cc @steveharter, @layomia

[2019-06-18 06:08] ahsonkhan commented on #38565
At first I thought the issue was you hadn't pass in `IgnoreNullValues` as a `JsonSerializerOptions` to the Parse API, but the issue persists even with that.

[code]

[2019-06-18 06:11] ufcpp commented on #38576
I never want to use a serializer which escape non-ASCII characters. It's too ugly and slow.

[code]

👍 to a custom encoder/options.

[2019-06-18 06:26] #38178 closed

[2019-06-18 06:26] NimaAra commented on #38568
No problem, thanks for your work on this. Looking forward to the additional features closing _some_ of the gaps with other widely used libraries.

[2019-06-18 06:39] ahsonkhan commented on #38557
That's a good catch, @IvanJosipovic. Thanks for finding the issue.

Looks like the state is not getting constructed correctly. When processing the property name for "string Test", `state.Current.IsProcessingDictionary` is still set to true which I don't think should be.
https://github.com/dotnet/corefx/blob/1fca079ddec2aabf56e256dab03e39b31b5036c7/src/System.Text.Json/src/System/Text/Json/Serializ

[2019-06-18 06:40] ahsonkhan commented on #38555
It is on our road-map for the future: https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/roadmap/README.md#out-of-current-scope--future-considerations

[2019-06-18 06:42] tmds commented on #22098
The change was made in 2.0. Nothing changed in 2.1/2.2.

This is consistent with Windows where the Uri class also accepts an absolute file system path. Without that other things break.
To check the uri format use `IsWellFormedOriginalString` and to disallow file paths, check the `Scheme`.

[2019-06-18 06:47] ahsonkhan commented on #38540
Fields are currently not supported and as @Dreamescaper mentioned, this is a duplicate issue. Hence, closing.

[2019-06-18 06:47] #38540 closed

[2019-06-18 06:59] maryamariyan commented on #38301
cc @weshaggard

[2019-06-18 06:59] AriNuer commented on #24355
Same test failed with similar exception:

Failed test:
`System.Net.NameResolution.Tests.GetHostByNameTest/DnsObsoleteBeginEndGetHostByName_EmptyString_ReturnsHostName`

Message:
[code]
Stack Trace :
[code]
Build: -[20190617.81](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190617.81)(Master)
Failing configurations:

- Red

[2019-06-18 07:01] ahsonkhan commented on #38587
The default configuration is netcoreapp-Debug. I have been able to debug in VS just fine (using F5).

![image](https://user-images.githubusercontent.com/6527137/59659906-1b25ed80-915c-11e9-81a9-31640a04e0d4.png)

[2019-06-18 07:11] #38587 closed

[2019-06-18 07:13] dayAndnight2018 commented on #38533
Something just like AspectCore Framework , see more at https://github.com/aspectcore

[2019-06-18 07:16] AriNuer commented on #38498
Test `System.Security.Cryptography.Dsa.Tests.DSAImportExport/ExportAfterDispose(importKey: False)` failed with same exception.

Message :
[code]
Stack Trace :
[code]
Build: -2[0190617.81](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190617.81)(Master)
Failing configurations:

- OSX.1014.Amd64.Open-x64-Release
Details:
ht

[2019-06-18 07:18] agilmore30 commented on #23542
Hi

Just wanted to confirm I have got this to work using OleDb connecting to SQL Server. It worked with a variety of data types, the schema of the table is below:

CREATE TABLE [psg].[SODB_TypeTable] (
    [InInt] int NULL,
    [First] nchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
    [Second] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
    [Street] char(10) COLLATE SQL_Latin1_G

[2019-06-18 07:25] maryamariyan commented on #23542
@agilmore30 that's awesome.

Thank you for your engagement! Please continue to keep us posted with the results.

[2019-06-18 07:27] GrabYourPitchforks commented on #37969
After a brief investigation I think this change can be constrained to just the EncoderNLS and DecoderNLS classes. My gut says this should be a very small change, but I'll need to set aside some time to work on the tests. Interesting find!

[2019-06-18 07:32] maryamariyan commented on #38359
@adamsitnik System.Private.CoreLib hasn't been updated for corefx yet since my coreclr submission last week, it is open so it can track corefx tests that needs to be updated once corelib gets updated for corefx..

[2019-06-18 07:37] Garios opened #38632 "[System.Text.Json] Serializing TimeSpan? fails when not null"
public TimeSpan? Test => null; <<< OK
public TimeSpan? Test => TimeSpan.Zero; <<< FAIL

      An unhandled exception has occurred while executing the request.
System.ArgumentException: GenericArguments[0], 'System.Nullable`1[System.TimeSpan]', on 'System.Func`2[System.Object,TProperty] CreateStructPropertyGetter[TClass,TProperty](GetPropertyByRef`2)' violates the constraint of type 'TClass'. --->

[2019-06-18 08:02] ViktorHofer commented on #38618
I don't think I've seen failures on System.Net.Security in CI yet.

[2019-06-18 08:02] ahsonkhan commented on #38616
This is a known limitation of the S.T.Json APIs and is by design. One approach to resolve this on the `JsonSerializer` would be for the user to implement their own converter which will allow strings to be parsed as primitive types.

[2019-06-18 08:11] couven92 commented on #24977
So, since I need WindowsImpersonation (in some special cases) in an ASP.NET Core application, so I have been trying to come up with a good design that would allow for async impersonation.

First of all we'd need to do some AsyncLocal to store the identity to impersonate. And the asynclocal should be initialized with a callback that re-establishes the identity impersonation on context change. How?

[2019-06-18 08:39] Garios commented on #38632
oh I just noticed, that Timespan is currently not supported. - sry.

[2019-06-18 08:39] #38632 closed

[2019-06-18 08:52] surban opened #38633 "Add support for copying from Vector<T> to Span<T>"
Currently `Vector<T>` can be constructed from a `Span<T>`, but writing the result of a vectorized operation into a `Span<T>` is impossible, since the `Vector<T>.CopyTo` method lacks the necessary overload.

# Rationale and usage

The following code computes the sum of two arrays using SIMD operations and stores it in the `trgt` parameter.

[code]

Converting this code to accept `Span<double>` inst

[2019-06-18 08:55] axm commented on #38589
Thanks @ahsonkhan that works.

Are there any plans to introduce this functionality out of the box in 1.1 or above?

[2019-06-18 08:57] ahsonkhan commented on #38589
When you say 1.1 or above, what do you mean? If you mean the next version of .NET Core, we will likely add support for this in the next release of .NET Core (after 3.0).

[2019-06-18 08:59] GSPP commented on #38421
I, too, have noticed that `Uri` is not good enough for certain web workloads where you deal with dirty data.

To me, it seems that the dirtiness of the real web cannot be captured reasonably in `Uri`. This should stay out of scope.

It is correct and good that AngleSharp implements its own Uri class. Their idea of what constitutes a Uri is quite different from what the framework should implement.

[2019-06-18 09:03] axm commented on #35929
The need for Windows Services will not go away with .NET Core, so it would be nice to have a project template available. Ideally something for Linux daemons too, as @lopatnov suggested above.

[2019-06-18 09:16] vyrp opened #38634 "IPAddress.TryParse() incorrectly parses "::2:3:4:5:6:7:8""
The method [System.Net.IPAddress.TryParse()](https://docs.microsoft.com/en-us/dotnet/api/system.net.ipaddress.tryparse?view=netcore-2.2) incorrectly parses "::2:3:4:5:6:7:8".

According to [RFC 4291](https://tools.ietf.org/html/rfc4291), "The use of "::" indicates _**one**_ or more groups of 16 bits of zeros" (emphasis mine). Therefore, I would expect "::2:3:4:5:6:7:8" to be valid and the leading

[2019-06-18 09:20] EgorBo commented on #38634
Probably fixed by https://github.com/dotnet/corefx/pull/37734

[2019-06-18 09:45] craigwardman commented on #38395
Thanks Safern, I've updated my proposal to include the types I could see that might need updating. I think the non-generic SortedList needs some thinking about though before tabling a proposal so I've left that TBD. Hopefully within the issue some recommendations can be found.

[2019-06-18 10:31] paulomac1000 commented on #36102
@MarcoRossignoli @safern

Below I attach a link to the repository, wherein the console application we try to print a card very similar to the one we have to do in the project for the client. Printing works smoothly on Windows, on Linux a NullReference error appears in the system.Drawing library. Some time ago we debugged it, the error is definitely on the library side, not ours. Please fix it, tha

[2019-06-18 11:23] khellang commented on #38596
Isn't the fact that `Stack<T>` allows random access internally just an implementation detail?

[2019-06-18 12:16] sathishTkumar commented on #36221
This is running on Azure AppService P2V2 plan with 20 instances
As per this [https://stackoverflow.com/questions/47411524/how-to-prevent-httpclient-from-sending-the-connection-header](url) Stackoverflow comment, i added that line to enable Keep-Alive which is reduced the error counts 25% to 5%.
HttpRequestHeaders.ConnectionClose = true => Connection: close
HttpRequestHeaders.ConnectionClose = fals

[2019-06-18 12:27] IrinaPykhova commented on #23542
we verified OleDB under .Net Core 3 with couple of our samples. It works fine with traditional limitation (it works for x86 only). We will let you know if have any issues

[2019-06-18 13:11] stephentoub commented on #38359
It was actually updated and I fixed the tests at the time.

[2019-06-18 13:21] martincostello opened #38640 "JsonSerializer.Parse<T>() throws if object has an collection property with a default array value"
Using 3.0.100-preview6-012264 of the .NET Core 3.0 SDK, if a type which sets a collection property to a default value which is an array, then the deserialization fails with the following exception:

[code]

It would appear that the serializer assumes the non-null default collection can be written to, and then fails to add the item as the backing implementation is an array. The unit test below demo

[2019-06-18 13:58] MarcoRossignoli commented on #38634
I did some test seem that bug is present yet on master, investigating.

[2019-06-18 14:13] martincostello opened #38641 "JsonSerializer support for TimeSpan in 3.0?"
_Apologies if this is already answered somewhere else, but if it was my search abilities failed me._

I'm trying out the preview 6 of 3.0 with some existing production application code, and one of the issues that's come out of testing is that some of our existing objects we use in our API contracts use properties which are `TimeSpan` values, which are then represented as strings.

Is support for `

[2019-06-18 14:15] stephentoub commented on #38595
Failed again here, on the same configuration, same error.
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38635~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190618.6/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.AppDomainTests~2FMonitoringIsEnabled

[2019-06-18 14:18] MichalStrehovsky commented on #38592
You can get more information in the exception message if you switch your build type to Debug and turn on .NET Native in the Debug configuration: switch the project configuration to Debug, and then in the project properties on the Build tab check the checkbox next to "Compile with .NET Native tool chain". The exception message will have more details after you do that.

Reflection-based serializers

[2019-06-18 14:20] stephentoub commented on #38481
Again
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38636~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190618.7/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2~2FGoAwayFrame_NoPendingStreams_ConnectionClosed

[2019-06-18 14:23] MichalStrehovsky commented on #38592
(I should probably point out that the reason why the experience it's going to be more rough for System.Text.Json is because this is a framework assembly and a lot of the things in the .NET Native compiler that try to make reflection experience better don't kick in for framework assemblies - framework assemblies are expected to carry their own RD.XML that describes their dynamic behavior so that th

[2019-06-18 14:27] hez2010 commented on #38592
@MichalStrehovsky
I've got detailed exception message:
[code]

[2019-06-18 14:27] ViktorHofer commented on #38595
ServerRS5 (netcoreapp) != ClientRS5 (uap)

[2019-06-18 14:28] ViktorHofer commented on #38595
See https://github.com/dotnet/corefx/blob/master/eng/pipelines/windows.yml#L118

[2019-06-18 14:31] bartonjs commented on #37415
Assuming I've traced flows correctly: STATUS_UNSUCCESSFUL indicates something unexpected happened within SymCrypt.  The only obvious case is if memory allocation fails (possibly within LSASS.exe).  It's hard to act upon without a time travel trace or a working repro.

There's a possibility that the recent fix to make keys actually dispose during System.Security.Cryptography.Algorithms tests will r

[2019-06-18 14:33] stephentoub commented on #38595
@ViktorHofer, then why does a) this show up in the UWP CoreCLR leg:
![image](https://user-images.githubusercontent.com/2642209/59693134-64099080-91b4-11e9-8056-0ed61f5eee83.png)
and b) the infrastructure logs show it as being UWP:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38635~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190618.6/workItem/System.Runtime.Extensi

[2019-06-18 14:39] MichalStrehovsky commented on #38592
Oh, okay, I actually looked and right now it's impossible to make System.Text.Json work on UWP. The `JsonPropertyInfoNotNullable` type is marked `[ReflectionBlocked]` in the implementation assembly so .NET Native will completely block it from reflection. No amount of RD.XML can fix that.

When .NET Native support was deleted in CoreFX in #38170, along with it we deleted the logic that injects this

[2019-06-18 14:40] michaelstaib commented on #38596
I think I have to clarify what I want here since I see the negative reactions to my proposal.

So, what I want here is to be able to peek not only at the next item on the stack but alsoat one of my choosing without needing to pop an element. Since `Stack<T>` uses  an array underneath this would be pretty efficient.

Also it would allow me to iterate over the stack more efficiently.

The `Stack<T>`

[2019-06-18 14:46] michaelstaib commented on #38596
Yes it is an implementation detail since the stack could also have been implemented with a linked list underneath.

But I want to be able to peek ahead without popping items yet. Like a look ahead on the stack. With `ImmutableStack` I could do this for instance. But with an indexer I could do this more efficiently. You could also argue that a stack does not even has to be iterated over. Since If y

[2019-06-18 14:51] ViktorHofer commented on #38595
What I'm saying is that this failure (clientrs5 - uwp) is not on the same configuration as the failure in the initial post (serverrs5 - netcoreapp).

[2019-06-18 14:52] bartonjs commented on #36491
Based on some previous investigation by @GrabYourPitchforks, this seems to have been an error down in the Windows layer.

If you're willing to capture a failure under Time Travel Debugging (https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/time-travel-debugging-record) we'd be happy to double check things on our side and then pass it on to Windows for further analysis.

[2019-06-18 14:52] #36491 closed

[2019-06-18 14:59] BreyerW commented on #38591
If what @ahsonkhan said still doesnt work then i think team should reevaluate the possibility to convert reader to plain class instead of ref struct. Plain classes dont have issues with async context right? (and when converting writer to class it was found out that perf loss was acceptable).

[2019-06-18 15:18] bartonjs commented on #38443
Since the cases that we know if with no version are when the distro is too new, I'd call it `new Version(int.MaxValue, int.MaxValue)`; so that things like IsUbuntu1810OrHigher (or a mythical IsDebian9OrHigher) return true.

[2019-06-18 15:27] steveharter commented on #38569
You can write a [custom converter](https://github.com/dotnet/corefx/issues/36639) for this.

[2019-06-18 15:34] stephentoub commented on #38595
Ah, ok, thanks.

[2019-06-18 15:36] weshaggard commented on #38301
IIRC this is by design because of the way MEF2 composes the graph but it it has been a long time since I've looked into the code. I will say it was never our intention that MEF2 be 100% compatible with MEF1 which is why we implemented it as a separate package in a separate namespace. MEF2 isn't exactly an upgrade from MEF1 it is an alternative framework with focus on throughput instead of large ap

[2019-06-18 15:39] martincostello opened #38643 "JsonSerializer throws TypeLoadException in Parse<T> call"
Using 3.0.100-preview6-012264 of the .NET Core 3.0 SDK, when trying to serialize an object that contains property that is an `IDictionary<string, T>`, then the following exception is thrown:

[code]

This issue was found while testing out the new System.Text.Json APIs with an existing production application when trying to serialize and deserialize objects containing dictionaries.

A unit test that

[2019-06-18 16:04] scalablecory commented on #38633
There's a standard feature for this already:

[code]

[2019-06-18 16:16] maryamariyan commented on #38359
Thanks @stephentoub that slipped by me.
Here it is: https://github.com/dotnet/corefx/pull/38449
I was looking for that PR.

[2019-06-18 16:27] davidsh opened #38646 "WindowsIdentity.RunImpersonated causes access denied issues on .NET Core"
It seems that WindowsIdentity.RunImpersonated() works differently in .NET Core compared with .NET Framework. This is causing a variety of issues including one affecting ASP.NET Core, #37120.

There is some difference in the way that the identity token permissions are getting set on the impersonated token. This is causing "access denied" issues in a variety of ways.

Consider the following repro pr

[2019-06-18 16:33] layomia opened #38647 "Add URI read and write methods to Utf8JsonReader/Writer and JsonElement"
There is a strong need for URI support:
- https://github.com/dotnet/corefx/issues/38536
- https://github.com/dotnet/corefx/issues/38568

We should add the following APIs to the reader, writer, and JsonElement:

[code]

cc @ahsonkhan, @steveharter, @JeremyKuhne, @bartonjs

[2019-06-18 16:34] MattGal commented on #38498
Note the machine involved has been re-imaged relatively recently;  if machine configuration is suspect, please work with myself or @ilyas1974 to investigate this.

[2019-06-18 16:36] davidsh commented on #38646
cc: @kouvel @stephentoub @danmosemsft

[2019-06-18 16:38] davidsh commented on #37120
@MarcoRossignoli Thanks for the additional repro case!

I have done further analysis and opened up a new issue, #38646 that is the root cause of this issue.

[2019-06-18 16:39] davidsh commented on #38646
@Tratcher Can you clarify how ASP.NET Core creates the impersonated context token described by the repro in #37120.

[2019-06-18 16:45] bartonjs commented on #38498
@MattGal This is still the same problem tracked by a still-active machine configuration bug (that OpenSSL isn't installed on the machine / isn't symlinked into /usr/local/lib/).

[2019-06-18 16:46] joperezr commented on #38495
Yes that warning is expected. Can you double click it? It should prompt you a dialog asking if you want binding redirects to get added to your web.config. Is that not what you are seeing?

[2019-06-18 16:57] Tratcher commented on #38646
ASP.NET Core does not do any impersonation, a user has to do it manually by calling WindowsIdentity.RunImpersonated. Do you mean how the WindowsIdentity is created? It's created from a handle provided by Http.Sys, IIS, or NTAuthentication.

[2019-06-18 16:57] ramirez44 commented on #38495
Nothing happens when I double click it.  I've tried removing the property from the csproj file, rebuilding then re-adding it.  Still nothing.

[2019-06-18 17:00] davidsh commented on #38646
Yes. Thanks for clarifying that ASP.NET Core doesn't control how the identity token handle is created. It is made from http.sys. So,this further reinforces the severity of this issue in that WindowsIdentity.RunImpersonated() is behaving differently on .NET Core compared with .NET Framework.

[2019-06-18 17:06] Tratcher commented on #38646
@brentschmaltz ?

[2019-06-18 17:07] davidsh commented on #36221
You're right, sorry.  I mis-read that line thinking is was turning off 'Keep-Alive'.

[2019-06-18 17:11] ramirez44 commented on #38495
btw, this is not a webapp so no web.config; its a app.config file

[2019-06-18 17:14] safern commented on #24525
Re-opening as it just happened again. https://github.com/dotnet/corefx/pull/38635

I just put up a PR to disable the tests on RedHat6: https://github.com/dotnet/corefx/pull/38649

[2019-06-18 17:14] joperezr commented on #38495
Oh I see, then setting AutoGenerateBindingRedirects to true would do the trick and should get rid of the warning. Here you can find more info on the different ways on how to set this property to true: https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/how-to-enable-and-disable-automatic-binding-redirection

[2019-06-18 17:21] tarekgh commented on #38608
I have tried that with a clean repo and I can repro the same issue. Will try to look more to understand what could be the problem.

[2019-06-18 17:23] ramirez44 commented on #38495
I am familiar with that link you sent. I'll double check to make sure I did it correctly.

[2019-06-18 17:24] steveharter opened #38650 "Support polymorphic serialization through new option"
# Current behavior
Consider a simple model:
[code]

The current behavior, by design, is to use the static type and not serialize polymorphically.
[code]

However, if the type is declared to be `System.Object` then all properties will be serialized:
[code]

In addition, the `Type` parameter can be specified:
[code]

All of these semantics are current as will remain as-is.

# Proposed API
Add an opt

[2019-06-18 17:25] steveharter commented on #37787
Moving to future to consider for deserialize. For serialize, this [issue ](https://github.com/dotnet/corefx/issues/38650)now handles.

[2019-06-18 17:28] bartonjs commented on #16364
We're locking down 3.0 fairly soon.  @zwread if you have this ready to go I think we might still be able to take it, but I'm pretty sure that past 3.0-preview7 the answer is that it's in the next version.

(I marked the issue as Future because it's not something we "need" in 3.0, though it would be fantastic to have)

[2019-06-18 17:42] davidsh commented on #36221
@snehashankar

Using 'Keep-Alive' semantics is on by default for HTTP/1.1. It isn't strictly necessary to include any 'Connection: Keep-Alive' request header when using HTTP/1.1. It is assumed by default.

So, I'm curious why adding this request header changed anything for you? Is it because your HTTP requests are not HTTP/1.1 by default? Are you going through an HTTP/1.0 proxy perhaps?

[2019-06-18 17:48] iwhp commented on #38301
Thankx, weshaggard!
I am in the process to move our projects to .NET CORE. And I believe there is no .NET CORE support planed for MEF1, maybe I am wrong.
A) Could you make a statement about .NET CORE and MEF1?
B) Could you imagine that this issue maybe solved by the end of this year for MEF2?
C) If no .NET CORE support is available for MEF1 and this issue will not be solved with MEF2, which librar

[2019-06-18 18:11] weshaggard commented on #38301
MEF1 is supported on .NET Core see https://github.com/dotnet/corefx/tree/master/src/System.ComponentModel.Composition. You might need to add a reference to the package https://www.nuget.org/packages/System.ComponentModel.Composition/.

As for whether or not this issue will get fixed in MEF2, I'm no longer on this team but from what I remember I don't think there is any good way to fix that within

[2019-06-18 18:13] scalablecory commented on #38596
Is there something that prevents you simply using `List<T>` as a stack?

[2019-06-18 18:16] danmosemsft commented on #38301
We don't have any plans to do new feature work in MEF2 (or MEF1).

[2019-06-18 18:24] buyaa-n commented on #38414
I didn't dig into these bugs much, but i suspect its happening because a type having another type having property (not primitive type an array or collection) with same name and type they overwriting one another's value. Will think about simpler case

[2019-06-18 18:46] danmosemsft commented on #38608
Interesting. If this isn't breaking the official builds, I wonder whether it needs a specific filesystem to repro, or distro.

[2019-06-18 18:49] stephentoub opened #38652 "GetLogInformation_UsingLogName_DoesNotThrow(logName: \"Application\") failed in CI"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38642~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190618.12/workItem/System.Diagnostics.EventLog.Tests/analysis/xunit/System.Diagnostics.Tests.EventLogInformationTests~2FGetLogInformation_UsingLogName_DoesNotThrow(logName:%20%5C%22Application%5C%22)
[code]

[2019-06-18 18:52] tarekgh commented on #38608
I can build fine on native Ubuntu VMs. so this is scoped to WSL only I think. looking if I can find interesting thing there.

[2019-06-18 18:52] terrajobst commented on #38087
* Given that we don't have all the features in-place, we believe this feature doesn't make the cut for 3.0
* What about the custom attributes, such as `NullIfNotNullAttribute`?
* What about generic type parameters (e.g. for tuples)
* Namespace choice: should this be in the `System.Reflection` namespace or should this go into a nested namespace?
* There is the general question whether MVC or EF sho

[2019-06-18 18:53] terrajobst commented on #36639
Notes from toady:

* `JsonConverterAttribute`: let's make `CreateConverter` public
* `JsonConverter<T>.Read/Write`: We shouldn't catch specific types, instead, we should catch exceptions whose `Source` indicate that it originates from the reader/writer. The reader/writer only marks exception types that it expects the serializer to catch, for example, it would not mark argument exception because th

[2019-06-18 18:55] wpbrown commented on #24977
@couven92 You should test out your scenario, because there already is an AysncLocal that does restore the impersonation on thread changes. You can try running the code in my [comment](https://github.com/dotnet/corefx/issues/24977#issuecomment-419782210) above to see async impersonation working. Under this issue there are some edge cases that need investigation, but for your use it may already be s

[2019-06-18 19:04] ramirez44 commented on #38495
Hi Jose, I quadruple checked.  Even though the proj file has the correct AutoGenerateBindingRedirects, for some reason the build is not reading it.  Continues to say this.  I googled and tried a few other options but nothing seems to be working.  Need help.  Thank you.  Should I do the AutoGenerateBindingRedirects to all the referenced projects maybe?

Found conflicts between different versions of

[2019-06-18 19:06] iwhp commented on #38301
@danmosemsft - thankx for the information.
Maybe it would be helpful to clearly state that to the community (roadmap).
Also, if one likes to use MEF, when to use MEF1 and when MEF2, and when to use other libraries.
If you would have suggestions for other libraries to use, that what certainly help the community (readme.md).
Thankx for all your work, support and communication!

[2019-06-18 19:19] wpbrown commented on #34697
@davidsh Thanks so much for the update. I currently build [my project](https://github.com/wpbrown/oakproxy) with a [patched](https://dev.azure.com/rebeagle/oakproxy/_git/corefx-s4u?path=%2Fcorefx.patch&version=GBmaster) CoreFX2.x to hack in first class S4U2Self support to SocketsHttpHandler.

In my super specialized case (I don't need to handle redirects) I can probably now get away with pre-resol

[2019-06-18 19:36] mthalman commented on #35956
@janvorli - Is there any more data I can provide?  We'd really like to see this issue get resolved.  We've been holding off on updating our Docker floating tag for Alpine to target 3.9 to this point.

[2019-06-18 19:50] MattGal commented on #38498
@bartonjs thanks, I also got on the machine and confirmed this.  Apologies for the inconvenience.

[2019-06-18 19:57] joperezr commented on #38495
Did you try doing it through the UI?

1. Right-click the project in Solution Explorer and select Properties.

2. On the Application page, uncheck the Auto-generate binding redirects option.

3. Press Ctrl+S to save the change.

[2019-06-18 19:57] scalablecory commented on #38576
json is utf-8, this seems like a bug if it's escaping *all* non-ascii codepoints.

[2019-06-18 19:58] stephentoub commented on #32797
That's because the test is disabled.

[2019-06-18 19:58] joperezr commented on #38495
could you perform a binlog and send it our way for us to investigate those warnings? The process of generating a binlog is stated earlier on this issue.

[2019-06-18 20:26] tannergooding commented on #38633
We already added this in: <https://github.com/dotnet/coreclr/pull/23333>

[2019-06-18 20:26] #38633 closed

[2019-06-18 20:27] tannergooding commented on #38633
It will be available in .NET Core 3.0 and should already be available in the latest public preview.

[2019-06-18 20:31] LLRDevGirl commented on #38495
[msbuild (2).zip](https://github.com/dotnet/corefx/files/3303302/msbuild.2.zip)

Thanks Jose. :)

[2019-06-18 20:35] janvorli commented on #35956
@mthalman I am sorry, I've missed that you've added the new dumps a month ago and discovered that yesterday. I am going to look at the dumps tomorrow.

[2019-06-18 20:36] davidsh commented on #38609
I think you're referring to [System.ServiceModel.Channels.SecurityBindingElement](https://docs.microsoft.com/en-us/dotnet/api/system.servicemodel.channels.securitybindingelement?view=netframework-4.8).

That class is part of WCF.  Please open an issue here for that: https://github.com/dotnet/wcf/issues

[2019-06-18 20:37] #38609 closed

[2019-06-18 20:46] maryamariyan commented on #38301
@iwhp that's a good idea. I will try to gather some information as part of readme so it becomes clear.

[2019-06-18 20:48] layomia opened #38658 "Add support for ImmutableArray to JsonSerializer"

[2019-06-18 21:08] ahsonkhan commented on #38658
This issue is tracking the `ImmutableArray<T>` collection type from the original issue: https://github.com/dotnet/corefx/issues/36643

[2019-06-18 21:17] #38535 closed

[2019-06-18 21:31] ahsonkhan commented on #38640
This is a duplicate of https://github.com/dotnet/corefx/issues/38435

[2019-06-18 21:31] #38640 closed

[2019-06-18 21:43] #38589 closed

[2019-06-18 21:46] ahsonkhan commented on #38576
Closing as duplicate.

[2019-06-18 21:46] #38576 closed

[2019-06-18 21:51] ahsonkhan commented on #38543
Closing as duplicate.

[2019-06-18 21:51] #38543 closed

[2019-06-18 21:51] ericstj commented on #38408
Pull it back if you think its important for 3.0

[2019-06-18 21:52] ahsonkhan commented on #38528
@Anipik, when do you plan to submit a fix for this issue?

[2019-06-18 21:55] ahsonkhan commented on #38490
@buyaa-n, can you provide a simpler repro of the issue?

[2019-06-18 21:57] chrisd8088 opened #38659 "broken symlinks and non-executable files not ignored in FindProgramInPath()"
I bumped into a difficult-to-debug problem when using `Process.Start()` on Linux, which ultimately was due to the fact that the `FindProgramInPath()` internal method used to look for a given executable file in each component of the `$PATH` environment variable does not ignore broken symlinks and non-executable files, the way Linux shells and other tools such as `which` do.

Consider the following

[2019-06-18 21:59] Anipik commented on #38528
@ahsonkhan  i tested two strategies here 1) with hashset 2) with linq. The change is not effecting the performance. (It might need a little bit more testing). I recalled you wanted to take a look at the hashset change.
i have a blueprint here https://github.com/Anipik/corefx/commit/4ffb38892b953da0281dc6a6f2e127041333d233

i am side tracked by a .NetFramework bug, but i think i will be able to mak

[2019-06-18 22:00] ahsonkhan commented on #38521
@steveharter, can you please take a look and see if this issue is something we should be fixing, or is by design.

[2019-06-18 22:01] filipnavara commented on #36395
https://devblogs.microsoft.com/dotnet/the-evolving-infrastructure-of-net-core/ is great write up on how things work and why are they done that way!

[2019-06-18 22:01] ahsonkhan commented on #38624
@joperezr, if you could please take a look at this, that would be great :)

[2019-06-18 22:06] #38652 closed

[2019-06-18 22:08] #38595 closed

[2019-06-18 22:08] #38229 closed

[2019-06-18 22:19] bartonjs commented on #37897
I just ran the library (inner and outer loop) with COMPlus_GCStress=3 (30 seconds of testing turned into 50 minutes of testing) and I wasn't able to trigger this.

Perhaps this was fixed by https://github.com/dotnet/coreclr/pull/24847 (which changed how some interop transitions were handled).

Closing since there aren't any crash dumps to investigate, and it doesn't repro under GC stress.

[2019-06-18 22:19] #37897 closed

[2019-06-18 22:31] stephentoub opened #38661 "SystemEvents InvokeOnEventsThreadRunsAsynchronously test hung in CI"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38651~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190618.27/workItem/Microsoft.Win32.SystemEvents.Tests/wilogs
[code]

[2019-06-18 22:35] stephentoub opened #38663 "BasicAuthentication_InvalidRequest_SendsStatusCodeClient test hung in CI on Linux"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38651~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190618.27/workItem/System.Net.HttpListener.Tests/wilogs
[code]
cc: @davidsh

[2019-06-18 22:48] wtgodbe commented on #38545
I was not able to reproduce this error with the latest 3.0.0 bits of CoreFx. Running `.\BinSkim.exe analyze corefx\artifacts\bin\native\netcoreapp-Windows_NT-Debug-x64\*.dll` succeeded without error. @vonders can you comment on where you got the `clrcompression.dll` that you analyzed?

[2019-06-18 22:52] wtgodbe commented on #38545
Specifically, I see the following when running with `--verbose`:

[2019-06-18 22:56] ahsonkhan commented on #33130
Yes. If anyone would like to submit a fix for this with a test, that would be much appreciated. Otherwise, this issue will move to future.

[2019-06-18 22:57] ahsonkhan commented on #34799
@GSPP, @ektrah, @MarcoRossignoli, are any of you interested in working on this issue?

[2019-06-18 23:02] ahsonkhan commented on #32711
System.IO.Pipelines 4.5.0
System.Memory 4.5.1

@knocte, are you able to reproduce the issue with the latest versions of the packages?

[2019-06-18 23:06] ahsonkhan commented on #38536
Closing this as a duplicate of https://github.com/dotnet/corefx/issues/38536 which is tracking adding Uri support.

[2019-06-18 23:06] #38536 closed

[2019-06-18 23:25] tannergooding commented on #38643
This is failing because you specified `PropertyNamingPolicy = JsonNamingPolicy.CamelCase`, but the JSON input is Pascal cased.

[2019-06-18 23:28] wtgodbe commented on #38545
I see the same when building with `Release` configuration

[2019-06-18 23:29] pgovind commented on #38565
Just FYI, I'm debugging something else in this space, so if I find the fix and a fix, I'll put it up

[2019-06-18 23:58] krwq commented on #38618
another one: https://gist.github.com/krwq/48ae98b4ed4a2d44f8eb6186250c8f6a

[2019-06-19 00:07] davidsh commented on #38663
These tests use a loopback server.  The HttpListener class is all managed code on Linux.  Not sure what could have broken recently if anything.  We have seen other test hangs on Linux (System.Net.Security) lately.

[2019-06-19 01:05] terrajobst commented on #38087
@steveharter

Yes, that was the idea. See section "Unifying nullable-value types and nullable-reference types".

@jkotas

That's a good point. That didn't occur to me.

[2019-06-19 01:07] ahsonkhan opened #38666 "S.T.Json remarks section from the xml comments doesn't port well (there should be just one per API)"
A few of the `System.Text.Json` APIs have multiple `remarks` tags within the xml comments. This does not work well when ported to the https://github.com/dotnet/dotnet-api-docs repo since only **one** `remarks` tag is allowed. We need to fix the comments in source such that there is only a single `remarks` tag, and then we can update the docs repo accordingly.

**An example where we see an issue:**

[2019-06-19 01:08] ahsonkhan commented on #38528
Sounds good. cc @steveharter

[2019-06-19 01:25] MarkMichaelis commented on #38588
Thanks for all the insight and help with this @tannergooding! (While no bugs would be better, I'm glad at least we were able to find at least one issue. :)

[2019-06-19 01:26] #38588 closed

[2019-06-19 01:40] stephentoub opened #38667 "Seg fault in System.Drawing.Common.Tests on macOS"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38662~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190618.48/workItem/System.Drawing.Common.Tests/wilogs

OSX.1013.Amd64.Open-x64:Debug
Details from Job e87cd21d-0e6c-4442-9465-977d4ddc342c
ExitCode: 139
Ran on Machine: dci-macpro-07.local

[code]

cc: @safern

[2019-06-19 02:30] mqudsi commented on #38591
Thank you for taking the time to reply, @ahsonkhan. I purposely kept the test code as minimal as possible, it was definitely not the same way I was using the reader in practice. My asynchronous code looks more like this:

[code]

From your explanation, I understand now how you're using the individual state values and why some are restored and others aren't. I had taken a different approach.

I'm n

[2019-06-19 02:31] mqudsi commented on #38616
Thanks!

[2019-06-19 02:31] #38616 closed

[2019-06-19 02:38] mqudsi opened #38668 "System.Text.Json wrongly complains about duplicate property names when one is ignored"
A common "hack" used anytime you're working with convention-based serializers (so JSON converters or Entity Framework alike) is to create proxies as converters (I know there is converter support separately):

[code]

Attempting to (de)serialize this type throws an exception complaining about duplicate property names. Since `Foo.Bar` is ignored, `Foo.BarString` should be the only JSON property with

[2019-06-19 02:44] mqudsi commented on #38592
@MichalStrehovsky

Only if using .NET Native, right? I think the latest version of UWP should run with the regular .NET Core 2.2 runtime otherwise, where STJ seems to be working OK for me.

[2019-06-19 02:58] ahsonkhan commented on #38668
Good issue. @steveharter, how do such attributes/options compose?

[2019-06-19 02:59] agilmore30 commented on #23542
Hi.

Just want to confirm this works with Microsoft OleDb provider for DB2 (Provider=DB2OLEDB.1;) connecting to a local DB2/MVS instance, with a variety of data types:

![image](https://user-images.githubusercontent.com/12944208/59733675-0f3c4780-9292-11e9-8e66-4451dfb57d37.png)

[2019-06-19 03:23] ahsonkhan commented on #38591
How is it different for `ReadOnlySequence<byte>`? Just like we have span slice with `BytesConsumed`, the user is expected to slice the `ReadOnlySequence` by the `SequencePosition`. How do you load more data to a `ReadOnlySequence` without going back to a similar input source (like Stream/PipeReader)?
`Stream` -> Get more byte[] as `ReadOnlySpan<byte>`
`PipeReader` -> Get more `ReadOnlySeqeunce<byt

[2019-06-19 03:32] ahsonkhan commented on #38616
To add some more context/clarification, the S.T.Json APIs avoid any type coercion or type inference/guessing (especially by default), which is why it is "by design".

Thanks for the question, @mqudsi :)

[2019-06-19 03:47] jkotas commented on #38615
This means that at some point there was a variant of the runtime that returned the extended string.

A PR to make the test more strict is welcomed.

[2019-06-19 04:21] los93sol commented on #30197
In case anyone comes across this thread and is looking for examples check my repo that was posted here, I have PACKET_FANOUT and BPF filters working now

[2019-06-19 04:53] am11 commented on #38568
I think the date-time in top post is valid and default parser understands it well:

`System.DateTime.Parse("2015-05-30T01:50:21 -01:00")` returns `5/30/2015 2:50:21 AM`

However, STJ (from today's nightly build) throws the following exception for date-time:

[code]

Also, the payload in author's example de-serializes well with Json.NET's `JsonConvert.DeserializeObject<T>` API without customization

[2019-06-19 05:18] #32178 closed

[2019-06-19 05:49] martincostello commented on #38643
I don’t think that’s the entire story, as I found this issue trying to _write_ the JSON, but I found I could get the same exception from doing the reverse, so I filed the issue that way around as the in/out behaviour was easier to visualise for a repro.

[2019-06-19 06:48] Praveen-Rai opened #38669 "Support controlling the order of properties for JSON Serialization / Deserialization"
An attribute similar to [JsonPropertyAttribute](https://www.newtonsoft.com/json/help/html/JsonPropertyOrder.htm) in JSON.Net or [DataMemberAttribute](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.serialization.datamemberattribute?view=netframework-4.8) in System.Runtime.Serialization.

[2019-06-19 06:54] justinushermawan opened #38670 "JsonDocument.Parse(ReadOnlyMemory<Byte>, JsonReaderOptions) failed to parse from WebSocket ReceiveAsync"
`JsonDocument.Parse(ReadOnlyMemory<Byte>, JsonReaderOptions)` failed to parse from WebSocket message:

[code]

Exception thrown:
`'0x00' is invalid after a single JSON value. Expected end of data. LineNumber: 0 | BytePositionInLine: 34.`

[2019-06-19 07:16] dhindrik opened #38671 "System.Text.Json - TypeLoadException"
I try to use System.Text.Json in my Xamarin.iOS app. I have added the NuGet package to my .NET Standard 2.0 project where I have my shared code.

[code]

When I running that line of code I got the following Exception:

=== Visual Studio Enterprise 2019 (Preview) for Mac ===

Version 8.2 Preview (8.2 build 732)
Installation UUID: 05aabb23-140a-4af9-9c07-b62b81b9fc3c
	GTK+ 2.24.23 (Raleigh theme)
	X

[2019-06-19 07:17] MichalStrehovsky commented on #38592
.NET Native is still a requirement to ship UWP apps to the Store.

[2019-06-19 07:38] PatrickHofman commented on #34728
@krwq Yes, that workarounds the issue for now. Thanks!

Also note this post on StackOverflow, which describes the same issue: https://stackoverflow.com/q/56662272/993547.

[2019-06-19 08:06] #35231 closed

[2019-06-19 08:32] martincostello commented on #38643
Repro for the serialization case:

[code]

[code]

[2019-06-19 09:05] westfin commented on #36592
@bartonjs Yes, you are right. Thanks for help

[2019-06-19 10:09] yyjdelete commented on #38535
@jkotas
Another question, when test with `Unsafe.As` to skip type check and just test ToArray with old runtime before the patch(3.0.0-preview6-27804-01), it show the cast between signed/unsigned is the only two fails, other incompatibility types convert always success..
Is this by design, or `Unsafe.As` just skip some needed checks since it's unsafe, or some other checks is missing?

[code]

[2019-06-19 10:32] YohDeadfall commented on #38435
What behavior is expected here? Should the serializer replace the original collection?

From my point of view if there is something in the collection it must not be overwritten, only added to it. Since arrays doesn't support addition there is no way to insert a value without replacing the whole array. So if a public setter exists, read array of elements and concatenate it with the previous. No set

[2019-06-19 10:57] Gnbrkm41 commented on #38569
I totally was going to write an issue about this, glad I noticed this before that 🙃

I personally thought that writing a private setter on otherwise a readonly property purely because of JSON (de)serialization is kind of hacky. I know that I could write a custom converter (when it's implemented) or use a constructor (which I remember will be supported soon? I could be wrong) but... that's effort ☺

[2019-06-19 11:00] martincostello commented on #38435
In my opinion as per #38640, if the value of `ICollection.IsReadOnly` returns `true`, then a new list should be allocated and populated instead.

[2019-06-19 11:15] tmds commented on #38670
`bytes.Length` should be `request.Count`?

[2019-06-19 11:36] ViktorHofer commented on #38667
Dupe of https://github.com/dotnet/corefx/issues/24525?

[2019-06-19 11:41] tmds opened #38673 "System.TestStructs.ilproj : error MSB4057: The target "Test" does not exist in the project."
Minor thing, till last week it was possible to build and test corefx with a single line:
[code]

But now this gives:
[code]

[2019-06-19 12:10] jnm2 opened #38675 "ParameterInfo.DefaultValue returns the raw value if the enum is nullable"
Given the following method parameters, the first ParameterInfo's DefaultValue returns `SomeEnum.A`, unlike the RawDefaultValue parameter. The second ParameterInfo's DefaultValue returns `0`, just like the RawDefaultValue parameter:

[code]

Output:

[code]

To work around the problems this was causing, you can replace all calls to ParameterInfo.DefaultValue with a call to this method:

[code]

Som

[2019-06-19 12:15] CoffeeFlux commented on #38615
I'll submit one later today :)

[2019-06-19 12:16] ViktorHofer opened #38677 "Enable xunit analyzers for test projects"
We want to enable xunit analyzers in our test projects but currently don't have enough resources to do so. I'm opening this issue as I'm sure that some our beloved community members would want to help.

EDIT: updated the initial post, see https://github.com/dotnet/corefx/issues/38677#issuecomment-504024301

### Common patterns
1. Unused method parameters with discards aren't allowed. Instead use t

[2019-06-19 12:18] ViktorHofer commented on #38022
Closing in favor of https://github.com/dotnet/corefx/issues/38677

[2019-06-19 12:18] #38022 closed

[2019-06-19 12:18] ViktorHofer commented on #22210
This is already integrated in the infrastructure and can now be enabled by settings `EnableXUnitAnalyzer` to true in the project file. I'm opening a new issue to start a community effort to enable the analyzers in our test projects: https://github.com/dotnet/corefx/issues/38677

[2019-06-19 12:18] #22210 closed

[2019-06-19 12:23] sharwell commented on #38022
📝 This is one of the reasons why I always encourage code coverage tools for a project to include test code.

[2019-06-19 12:26] MarcoRossignoli commented on #33130
@ahsonkhan are we sure of this update?Seem a breaking changes there are a lot of tests that fail.
Again there is a tailored made tests on this subject https://github.com/dotnet/corefx/blob/fd9801068f1baf8d69893da2a414eee7556e51b0/src/System.Memory/tests/ReadOnlyBuffer/ReadOnlySequenceTests.Empty.cs#L159

Maybe before go on should be discussed on review?I mean it's a semantic changes.

[2019-06-19 12:36] janvorli commented on #35956
I can confirm that both the 2.1 and 2.2 core files shared on May 9 have the same failure call stack as the one before. I still cannot get the managed stack trace, but I got one string shedding a tiny bit more light on what error happened using `dso`" SOS command:
`Failed to allocate SSL/TLS context, OpenSSL error - {0}`
And then it crashes in the call to attempt to get the OpenSSL error.
This stri

[2019-06-19 12:39] ViktorHofer commented on #38673
I changed some infra that could be related. Will investigate. Note that the above command could also be invoked with the single hyphen syntax:

`./build.sh -restore -build -buildtests -test -c Debug`

[2019-06-19 12:59] onovotny opened #38682 "error CS1069: The type name 'Icon' could not be found"
.NET Core Version: `3.0.100-preview7-012503`

Looks like a type `Icon` was moved to a new assembly, `System.Drawing.Common`, but that assembly isn't referenced by default by the SDK targets:

[code]

[2019-06-19 13:13] jkotas commented on #38535
`Unsafe.As` skips *all* checks since it's unsafe, If you use it incorrectly such as to cast `long[]` to `object[]`, you can get all sorts of hard to trace down problems, e.g. intermittent crashes or data corruptions.

[2019-06-19 13:13] am11 commented on #35956
Similar error was reported here: https://github.com/Azure/azure-iot-sdk-csharp/issues/725.

[2019-06-19 13:25] Wraith2 commented on #38677
Do the sqlclient tests need updating even after the branch to dotnet/SqlClient If they do you might as well assign it to me.

[2019-06-19 13:34] steveharter opened #38684 "Avoid copy of buffer in implementation of JsonSerializer.ReadValue"
The implementation of `JsonSerializer.ReadValue` makes an [unnecessary copy of the buffer and has unnecessary processing](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdotnet%2Fcorefx%2Fpull%2F38088%23discussion_r289494963&data=02%7C01%7CSteve.Harter%40microsoft.com%7Cc7214f0ab8a74c70223008d6f469483e%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636965130348037357&s

[2019-06-19 13:35] steveharter commented on #38684
cc @davidfowl per offline question

[2019-06-19 13:42] steveharter commented on #38569
For the 3.0 release, there is no planned additional support for calling a non-default constructor during deserialization. That would have to be done by a custom converter.

[2019-06-19 13:56] Gnbrkm41 commented on #38569
That's fine, as long as it's in the plan in some way... One step at a time 😁

[2019-06-19 13:57] steveharter commented on #38521
`{ "Name", "David" }` is not a valid way to represent a dictionary entry, @layomia we don't support this currently, do we?

Only name:value pairs like this `{ "Name" :"David" }` and perhaps `{ "Key":"Name", "Value":"David" }`

[2019-06-19 13:58] MarcoRossignoli commented on #34799
Some specs methods to fix
[code]
Should throw `internal static void ThrowNotSupportedException(ExceptionResource resource)` with new `ExceptionResource.NotSupported_SpanOverlappedOperation` ?
Error message `Operation on overlapped buffers not supported`?
Tests on corefx `System.Memory`?

[2019-06-19 14:21] #37396 closed

[2019-06-19 14:21] #38486 closed

[2019-06-19 14:23] vonders commented on #38545
ok thanks for checking, I am on netcore 6.2.2 will try with latest

[2019-06-19 14:26] cston commented on #26012
Fixed in https://github.com/dotnet/corefx/pull/38656

[2019-06-19 14:26] #26012 closed

[2019-06-19 14:27] TobiasSekan opened #38685 "[Crash - Preview 6] Unbekannte ModifierKeys "STRG""
Error occur only on **Preview 6**, **Preview 5** works fine

**Version Used**:
SDK 3.0.100-preview6-012264

**Steps to Reproduce**:
1. Start or debug a WPF-Application under Windows with German language
2. Use a control that check for modifier keys
  * e.g. a control from NuGet package `OxyPlot` or
  * A control from NuGet package `WPF Toolkit`

**Expected Behavior**:
* Don't translate modifier Ke

[2019-06-19 14:50] rh78 commented on #38407
Hello Dynatrace seem to have released a fix:

"We have now published agent version 1.169.208 on your tenant - please update to that agent version and retry. As mentioned, a fix for deadlocking around fork/exec is included and the developers are pretty sure that you are affected by this issue as well."

I'll try early next week and keep an eye on it.

[2019-06-19 15:21] Gnbrkm41 commented on #38666
Would like to work on it (in fact I finished it, just waiting for it to build & run tests....)

[2019-06-19 15:35] tarekgh commented on #37691
@adamsitnik can we close this issue now?

[2019-06-19 15:35] ericstj opened #38688 "Should test restore be part of build or build-tests?"
With the test project restore work test projects need to be individually restored before building.

Today this was added to the overall build.cmd, but this is not a necessary step for build and lengthens the time it takes for a build to complete.  On my machine an incremental build with no work to do, this is taking 2 minutes for a no-op restore of the test projects on my notebook.

Can we conside

[2019-06-19 15:40] ahsonkhan commented on #38666
Great, @Gnbrkm41. Thanks for the quick fix!

We would also want to port the fix to the docs repo once it's checked in here.

Assigning to myself as a placeholder.

[2019-06-19 15:43] ahsonkhan commented on #38666
@danmosemsft, can we add @Gnbrkm41 as a collaborator so I can assign the issue to them?

[2019-06-19 15:44] adamsitnik commented on #37691
Yes, we can.

@sebastienros I verified that the fix works with the latest coreclr packages that were pushed to core-setup in the last 24h.

[2019-06-19 15:44] #37691 closed

[2019-06-19 15:47] bartonjs commented on #35956
It... could be related.  But I don't have any theory as to why pthreads isn't initialized (unless cctors are being deemed unnecessary):  Interop.OpenSsl.AllocateSslContext uses P/Invokes from Interop.Ssl.  Interop.Ssl has a cctor that calls Interop.CryptoInitializer.Initialize() which should fire Interop.CryptoInitializer._cctor, which should make OpenSSL set itself up correctly.

Can we tell what

[2019-06-19 15:47] danmosemsft commented on #38666
Sure, @Gnbrkm41 I just sent you an invite. When you accept, we can assign. Note this auto subscribes to the repo which is a lot of traffic, you will likely want to switch that off. Thanks for contributing! We can still take contributiosn without assigning things. It's just helpful

[2019-06-19 15:52] Clockwork-Muse commented on #38677
For old times' sake, I'll take System.Linq.Parallel

[2019-06-19 15:53] ahsonkhan commented on #33130
Again there is a tailored made tests on this subject

Aside from the `Empty_TryGet` test, was there others failing too? That test looks to be written specifically with the current behavior in mind.

That's a good point. I am going to move it to future at this point given the impact of this issue doesn't seem quite that high to me, to make room for other 3.0 work.

[2019-06-19 15:53] #36592 closed

[2019-06-19 15:54] Gnbrkm41 commented on #38666
Done. :^)

[2019-06-19 15:57] janvorli commented on #35956
I am sorry I have not mentioned the runtime versions. They are 2.1.10 and 2.2.4.

[2019-06-19 15:59] mthalman commented on #35956
The dumps from May were using 2.1.10/2.2.4.  We've been seeing it ever since we started producing Docker images for Alpine 3.9 in March, which was using 2.1.9/2.2.3 at the time.  And we're still seeing it today in our CI builds using 2.1.11/2.2.5.

[2019-06-19 16:02] ViktorHofer commented on #38688
Why not just do a build -build instead?

[2019-06-19 16:12] mairaw commented on #38666
I imagine @carlossanlop tool could help with the porting to docs. Otherwise, our reflection tool should be able to.

[2019-06-19 16:14] wtgodbe commented on #38688
I think I agree with @ericstj here, devs should not have to change their workflow to opt-out of this extra restore if it isn't always necessary

[2019-06-19 16:14] tannergooding commented on #38585
Talked with @GrabYourPitchforks about this offline, and I'm considering changing the signature to `public static void SkipInit<T>(out T source)`. The implementation would then simply be `ret`. This should not only be simpler for the JIT to inline, but should achieve the same effect and fit the common use-case better.

Thoughts?

[2019-06-19 16:34] Gnbrkm41 opened #38689 "A few long running tests in `System.Drawing.Printing.Tests`"
I noticed a few tests were running for a long time, ranging from ~4 minutes to about 23 minutes; wondering if this is related to relatively new changes since I didn't experience this last time. Technically they didn't fail... I'm just wondering why it took so long.

### Build Environment
* Windows 10 Home x64, Insiders Build (Fast ring), Build No. 18917
* Surface Pro 4
  * (One thing that has chan

[2019-06-19 16:34] ViktorHofer commented on #38688
The idea of the restore switch was to use it if you want to do an upfront restore because dependencies changed or to be able to work on the plane without internet access. Also we are using the restore task in our yml script as a separate step to clearly indicate if a restore failed. I'm not a fan of mixing those two worlds.

An incremental build without added dependencies should just use the `-bui

[2019-06-19 16:35] Gnbrkm41 commented on #38689
The command used was `build & build -buildtests -test` on VS2019 Dev. Command Prompt.

[2019-06-19 16:42] adamsitnik commented on #29462
I have run the StringComparer benchmarks from the performance repo using latest CoreCLR bits with my 3 fixes. (https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/corefx/System.Runtime/Perf.StringComparer.cs)

OS=Windows 10.0.17763.107 (1809/October2018Update/Redstone5)
OS=debian 10

Intel Xeon CPU E5-1650 v3 3.50GHz, 1 CPU, 12 logical and 6 physical cores
.NET Core SDK=3.0.100-

[2019-06-19 16:45] stevenbrix commented on #36794
@ericstj gotcha, now i understand. yeah i'm hitting this now investigating a different test failure. is there any history as to why these restrictions were put in place for the variation of `Package.Open` that takes a `string` vs. the one that takes a `Stream`?

[2019-06-19 16:56] ericstj commented on #38682
Icon has been in System.Drawing.Common since 2.0 https://apisof.net/catalog/System.Drawing.Icon

System.Drawing.Common has always been out of the base NETCoreApp shared framework (due to its native dependencies on Unix that aren't inbox: LibGDIPlus).

System.Drawing.Common is inbox in the Windows Desktop SDK.

Can you double check that something else isn't causing your missing dependency?  Perhaps

[2019-06-19 16:56] bartonjs commented on #35956
Well, so much for that theory :).  This has me pretty well stumped.

The last thing that gets done in OpenSSL 1.1 initialization is a static global in libssl (ssl_strings_inited) gets set to 1.  https://github.com/openssl/openssl/blob/18e1e302452e6dea4500b6f981cee7e151294dea/ssl/ssl_init.c#L166-L206 and https://github.com/openssl/openssl/blob/18e1e302452e6dea4500b6f981cee7e151294dea/ssl/ssl_init.c

[2019-06-19 16:57] thargy commented on #33130
I had hoped that this would be changed for 3.0 as `ReadOnlySequence<T>` gains adoption more and more code would be affected by a breaking change, particularly if it is released in a minor revision later.  It is a relatively quick change to implement, though performance testing different approaches would probably be demanded due to the location.

[2019-06-19 16:58] ericstj commented on #38608
Keeping this in 3.0 mainly because I'm concerned it could come back to an issue in IO or Globalization.  Let's root cause and then decide what to do next.  @joperezr I think you were building a private NuGet and debug with @tarekgh?

[2019-06-19 16:59] layomia commented on #38521
This code is creatung a new instance of the `StringToObjectIDictionaryWrapper` type which implements `IDictionary<string, object>`.
[code]

The question is should we be able to parse the json string `@"{""Name"":""David"",""Age"":32}"` to a `StringToObjectIDictionaryWrapper` type (and roundtrip i.e. serialize back to the json string) since it implements `IDictionary<string, object>`?

Same questio

[2019-06-19 17:01] tarekgh commented on #38608
Yes, Jose built it and we'll continue debugging this later today.

[2019-06-19 17:03] onovotny commented on #38682
This is a straight update from Preview 6, where it works, to the latest Preview 7, where the compile fails.

You can repro with the master: https://github.com/NuGetPackageExplorer/NuGetPackageExplorer

It also does not only happen for me: https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/issues/716#issuecomment-502858425

[2019-06-19 17:23] wtgodbe commented on #38545
@tommcdon `netcore 6.2.2.` sounds like UWP, could this be a servicing issue for UWP?

[2019-06-19 17:31] steveharter commented on #33240
Duplicate of https://github.com/dotnet/corefx/issues/33249

[2019-06-19 17:31] #33240 closed

[2019-06-19 17:38] Gnbrkm41 commented on #38677
Would like to grab `System.Memory.Tests`.

[2019-06-19 17:38] #35653 closed

[2019-06-19 17:40] #38673 closed

[2019-06-19 17:45] janvorli commented on #35956
Unfortunately, that symbol is not visible in the debugger.

[2019-06-19 17:48] tommcdon commented on #38545
@wtgodbe CoreCLR UWP 6.2 is based off of the release/2.1 tree.  Is CFG being enabled in 2.1 servicing?

[2019-06-19 17:49] janvorli commented on #35956
The problem is that the symbol is not visible to the debugger, so we cannot tell.

[2019-06-19 17:50] wtgodbe commented on #38545
I'll check

[2019-06-19 18:00] wtgodbe commented on #38545
release/2.1 appears fine as well:

[2019-06-19 18:06] bartonjs commented on #35956
The movl instruction that sets it should be at the address of OPENSSL_init_ssl 0x27D.  (Can't easily copy/paste right now, will try again in a few)

[2019-06-19 18:08] AlgorithmsAreCool commented on #38596
Idk, i actually like this idea. I can imagine scenarios where I need to peek the 2nd or nth item in the stack without mutating it. Why not exploit the array based implementation?

[2019-06-19 18:18] khellang commented on #38596
Because it's just that - an implementation detail. Exposing random access in the public API of a stack seems... wrong.

I get the point that the implementation probably won't change, but by implementing this proposal, you've ruled out that option completely, unless the new implementation also can provide random access, and even then, the characteristics could change, i.e. O(1) -> O(N)).

[2019-06-19 18:27] #36639 closed

[2019-06-19 18:30] davidsh commented on #38663
I ran these tests (innerloop) on my WSL Ubuntu 18.04.  I'm surprised that the innerloop tests take over 2 minutes to run.  But I didn't see any obvious hangs:

[code]

[2019-06-19 18:37] safern commented on #38682
I just downloaded the latest SDK -- version: `3.0.100-preview7-012511` which contains the following winforms version:

[code]

and I was able to use `Icon` as part of my dummy App, compiled and ran fine. Could you confirm if you can still repro with that version of the SDK?

[2019-06-19 18:40] steveharter commented on #38521
I see. Yes we should deserialize "David" and `32` both into a JsonElement, like we do for other "object" cases in dictionaries.

[2019-06-19 18:48] steveharter commented on #38408
Action items:
1) Serializer folder\namespace cleanup per https://github.com/dotnet/corefx/issues/37896#issuecomment-495750336. Note that Reader\Writer\Document also don't have a 1:1 namespace:folder mapping either.
2) Consider changing some of the **internal** classes back to using the S.T.J.Serialization namespace to offload files located in the main directory.
3) Rename the `Converters\JsonValue

[2019-06-19 18:53] campersau commented on #38682
I just rechecked with dotnet `3.0.100-preview7-012511` and it still compiles with the same errors. https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/issues/716#issuecomment-502858425

<details>
<summary>dotnet build output (german)</summary>

[code]
</details>

[2019-06-19 18:54] davidsh commented on #38634
I've done some research on whether or not IPv6 addresses such as "::2:3:4:5:6:7" are actually valid IPv6 addresses.

According to [WinRT Windows.Networking.Hostname](https://docs.microsoft.com/en-us/uwp/api/windows.networking.hostname) API parsing, it is not valid.

The following code throws an exception "The parameter is incorrect".

[code]

Note: It's also interesting that this WinRT API will pa

[2019-06-19 18:55] AlgorithmsAreCool commented on #38596
@khellang

I'm having difficulty imagining another implementation that precludes efficient (O(1)) random reads, but doesn't damage core Pop/Peek/Push performance. (And if there is one, you could just make it `StackSlim<T>` 😈)

This pragmatic functionality that is precluded by principle.

I don't mean to sound excessively negative and I'm not saying you are being unreasonable, it's just a bummer.

[2019-06-19 19:12] davidsh commented on #38634
And more curious:

[code]

parses successfully as an IPv6 address.  So, at least for inner “::” it can be “1 or more” groups of zeroes.

I wonder whether ("[::2:3:4:5:6:7:8]"); is actually valid (i.e. should result as "[0:2:3:4:5:6:7:8]") but we have a separate bug in the WinRT Windows.Networking.HostName API as well.  I'm waiting to hear back from our IETF representative.

[2019-06-19 19:17] ericstj commented on #36794
So the two we can remove here are https://github.com/dotnet/corefx/blob/5023c2420a4145bcb560c4b8c57f4bb60cd6973f/src/System.IO.Packaging/src/System/IO/Packaging/Package.cs#L840-L843

[2019-06-19 19:30] stephentoub opened #38695 "EncryptDecrypt_Array.RsaCryptRoundtrip_OaepSHA256 failed in CI"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38686~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190619.21/workItem/System.Security.Cryptography.Cng.Tests/analysis/xunit/System.Security.Cryptography.Rsa.Tests.EncryptDecrypt_Array~2FRsaCryptRoundtrip_OaepSHA256
[code]
cc: @bartonjs

[2019-06-19 19:33] sebastienros commented on #37691
Before and after the changes from @adamsitnik

![image](https://user-images.githubusercontent.com/1165805/59794690-62ac9680-928e-11e9-8897-f431a97c815b.png)

[2019-06-19 19:35] bartonjs commented on #38695
Same as  #37994.  Unless we can get a reliable repro or a TTD trace there's nothing we can do.

[2019-06-19 19:36] stephentoub commented on #38695
Closing as dup of https://github.com/dotnet/corefx/issues/37994

[2019-06-19 19:36] #38695 closed

[2019-06-19 19:37] MarcoRossignoli commented on #38634
In that case there is an incorrect handling also for trailing compressor

[2019-06-19 19:41] tannergooding commented on #38643
I'm not able to repro the latter case either.

I've added tests to validate this explicit payload here: https://github.com/dotnet/corefx/pull/38696.
-- I made one change to the deserialization case, which was to make the `json` payload `camelCase` to match the expectation from the `JsonSerializerOptions`.

[2019-06-19 19:52] Gnbrkm41 commented on #38481
Happened again: https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38690~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190619.25/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2~2FGoAwayFrame_NoPendingStreams_ConnectionClosed

[2019-06-19 19:53] martincostello commented on #38643
Ok cool. I’ll be retesting the app when preview 7 lands.

[2019-06-19 19:56] bartonjs commented on #35956
[code]

Apparently during the update I installed after coming back from lunch things moved around a bit.  So the new location for the `movl` is either 0x2a7 or 0x29d bytes before OPENSSL_init_ssl (I don't see from the code why there would be two; maybe the run-once assignment got inlined).  But probably the "how I came up with that" is better than the answer, since I can believe that the Alpine/mu

[2019-06-19 20:01] danmosemsft commented on #35748
@joperezr still on track for 7/1? As mentioned above I think this is dialable down

[2019-06-19 20:01] Gnbrkm41 commented on #38677
Should various test helpers be turned into internal methods? It looks like the analyzer doesn't like any public methods that aren't marked with `Fact`/`Theory` attributes. One of the the code fix suggested is to turn them internal.
[code]

Also there's something to do with overloadable test methods (which also apparently includes `object.ToString()`, `object.Equals()`), which there is no way but t

[2019-06-19 20:01] ericstj commented on #38682
This looks like it's caused by the SDK framework reference refactoring: https://github.com/dotnet/cli/issues/10536

@dsplaisted can you have a look?  /cc @vatsan-madhavan

[2019-06-19 20:03] danmosemsft commented on #33944
@joperezr are you planning on taking this one?

[2019-06-19 20:22] stevenbrix commented on #36794
@ericst should they be removed, or be changed to allow `FileAccess.Write`?

[2019-06-19 20:24] janvorli commented on #35956
The locations are different on Alpine where the issue occurs anyways. But I've found the matching function:
[code]
Now I was not sure which one of those two movl instructions is writing into the ssl_strings_inited, but both contain 1 in the core dumps.

[2019-06-19 20:25] #37510 closed

[2019-06-19 20:26] ericstj commented on #38682
Yeah, setting `<UseWindowsForms>true</UseWindowsForms>` fixes this.  I think it may be interesting to review the classification of `System.Drawing.Common` as "common" rather than "WinForms", that said it contains other types that are specifically not for WPF and clash with WPF names so that may be the reasoning there.

https://github.com/dotnet/core-setup/pull/6573/files#diff-0fd5841e781965454af0e

[2019-06-19 20:26] #38682 closed

[2019-06-19 20:39] onovotny commented on #38682
Icon's are used within WPF too, widely.

[2019-06-19 20:54] ericstj commented on #38688
Can others share no-op restore times so we understand if my notebook is an outlier or if everyone is seeing a +2-minute addition to builds?  Essentially run a build -restore after a successful build.

[2019-06-19 20:58] ViktorHofer commented on #38688
Just tried it locally again:

~20 seconds to glob all test projects (can we do anything about that without hard-coding all projects?)
30 seconds to restore all

[2019-06-19 21:02] ViktorHofer commented on #38688
Ok one more run:

~25 seconds to glob all test projects
15 seconds to restore all

[2019-06-19 21:02] dbeinder commented on #37673
It took 3 days of polling GetActiveTcpConnections() for the issue to crop up again.
After detecting a 0xc0000001 exception, a repeat following immediately was successful.

So I guess there are two options to resolve this:

1.  Build the repeat-after-failure behavior directly into the [.NET implementation](https://github.com/dotnet/corefx/blob/master/src/System.Net.NetworkInformation/src/System/Net

[2019-06-19 21:07] ericstj commented on #38545
Double check the AOT-specific clrcompression.dll.  There should be a separate '-aot' folder with that in it.

[2019-06-19 21:09] wtgodbe commented on #36613
Here is the plan @safern and I came up with:

- Add a step concurrent to `Publish Packages` in the official builds that restores the packages we just built
- Use a project similar to https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.Windows.Compatibility/tests/Microsoft.Windows.Compatibility.Validation.csproj with the just-built Compat package to restore & publish ref assemblies/.xml file

[2019-06-19 21:10] wtgodbe commented on #38545
Looks like we're good there as well

[2019-06-19 21:12] bartonjs commented on #35956
Yeah, and I just ran a test making sure that we hadn't done an optimization like allowing an `extern static` to be invoked without cctor; and it passed (phew!).  So I don't have any real idea of what's going on.  It can't be catastrophically bad, because we run SslStream tests on Alpine our PRs.

Nothing should be setting the `err_string_lock` value back to zero... except some sort of memory corru

[2019-06-19 21:20] scalablecory commented on #37673
If we add a loop, we'd have it give up after some tries, so the exception might still happen. Because of this, I think documentation needs to be updated either way.

[2019-06-19 21:23] ericstj commented on #38545
Ok, recommend we close this and reopen if we get some more specific pointer on the exact files / branch that have issue.  @vonders if you can repro please let us know the exact file and where you got it from that exhibits the problem.

[2019-06-19 21:23] #38545 closed

[2019-06-19 21:26] ericstj commented on #36794
We can remove completely since FileStream itself will check for FileAccess.Write whenever Create is specified.

[2019-06-19 21:29] steveharter commented on #38528
@JamesNK if duplicate properties exist in JSON for an array or list, I believe Json.NET replaces the whole array\list. Are these semantics well-known and assumed (vs. concatenating the items). Thanks.

@anipik for now, I assume we want replace semantics to match Json.NET.

[2019-06-19 21:31] brentschmaltz commented on #24977
@couven92 you are correct that a thread running on windows contains an 'windows identity'. This identity governs what 'windows protected resources' that thread can access. For example: files, database connections, etc.
This is separate from any 'user-mode' identities that are built from OIDC (id_token), etc.

What you say makes sense to me in that WindowsIdentity.RunImpersontedAsync by itself does

[2019-06-19 21:35] steveharter commented on #38435
See also related issue https://github.com/dotnet/corefx/issues/38528. We need to determine replace vs. add semantics. I believe Json.NET has replace

 cc @JamesNK

[2019-06-19 21:36] JamesNK commented on #38528
In Json.NET there is a setting for it. It concatenates by default, but in hindsight I think replacing is better.

IMO you should replace by default, and if you want to you could add a setting post 3.0 to support adding collection values into existing collections and populating properties onto existing objects.

[2019-06-19 21:36] ericstj commented on #38682
System.Drawing.Icon or a different type?  Again, if you think its important that this is available to WPF apps please open the issue in core-setup and tag the folks who made this change.

[2019-06-19 21:36] steveharter commented on #38435
cc @Anipik

[2019-06-19 21:37] pentp commented on #38602
Only concern could be compatibility with earlier versions, but since this is a correctness bug it should be fine to fix in 3.0.

[2019-06-19 21:38] JamesNK commented on #38435
[code]

I dont't see a collection here 🤷‍♂

[2019-06-19 21:41] dsplaisted commented on #38682
Though the work to change this would probably occur in the core-setup repo, I'd suggest filing the issue in dotnet/wpf, as it's a WPF scenario and is more likely to get attention from the right folks if filed there.

[2019-06-19 21:45] ericstj commented on #38688
Is that really globbing or is it building a bunch of targets/evaluating the projects?

[2019-06-19 21:45] onovotny commented on #38682
I'm not sure how important it is, I don't have data...

[2019-06-19 21:50] dbeinder commented on #37673
That would depend on how GetTcpTable is implemented behind the scenes, if it is really just multiple cores competing fairly for access to the table, then the worst case chance of 'winning' may be as high as 1/NR_OF_CORES. In that case retrying without limit might be justified if it is all but guaranteed to work out after 4-16 attempts.

If it is more complicated than that, you're right a limit or

[2019-06-19 21:51] janvorli commented on #35956
I can see that the `err_string_lock` that is NULL in our case is initialized in the `do_err_strings_init` function. That one is called from couple of places, including the `ERR_reason_error_string` that is on our stack!:
[code]

However, I've just realized something important. Looking at the full stack trace of the failing thread in LLDB, this thread is a secondary thread and the primary thread is

[2019-06-19 21:52] ViktorHofer commented on #38587
This should now work again. Thanks for reporting!

[2019-06-19 21:53] janvorli commented on #35956
Maybe something that we stopped doing in 3.0 and so 3.0 works but 2.2 and 2.1 don't?

[2019-06-19 21:55] vatsan-madhavan commented on #38682
@dsplaisted, would the  `Reference` support alluded to in https://github.com/dotnet/sdk/issues/3265 help with a scenario like this as well?

[2019-06-19 21:59] steveharter commented on #38528
aside: "replace" vs. "add" semantics applies both to cases where there at pre-existing values in the object (set from the ctor, for example) and also having duplicate properties in the JSON. I think these should be treated the same.

If we have replace semantics, then we have to decide whether to re-set the property with a new list\etc instance or attempt to call "Clear".

However, not all collect

[2019-06-19 22:04] tarekgh commented on #38608
Thanks @joperezr for the help you have provided compiling the needed assemblies with the embedded PDBs. That was very helpful.

The problem was, WSL is setting the default culture to "C" (which is translated to en-US_posix) and that culture doesn't support case insensitive comparisons. NuGet is using Regex for comparing the nuspec file list with the file system names with case insensitive option w

[2019-06-19 22:04] #38608 closed

[2019-06-19 22:08] pgovind commented on #38565
More info: If I change `Dict` defined in Class2 to `Dict2`, the test still fails, but `output.Dict` now contains the key `Dict2`.
I've also narrowed down the issue further. After we parse \"Dict\":null, we parse "Child", but `readStack.CurrentState.IsProcessingDictionary` still returns true, so we mess up everything after that.

[2019-06-19 22:10] danmosemsft commented on #32250
@tarekgh what are your thoughts about @wfurt comment above?

i'm guessing most .NET code out there relies somewhere on case insensitive comparison, it seems quite odd if WSL is truly configured such that that is impossible. Should they set a different LANG? (Or maybe this is different in the new WSL2 )

[2019-06-19 22:12] danmosemsft commented on #32250
I see @tarekgh already updated docs which is good 😄  https://github.com/dotnet/docs/issues/8179

Just curious about @wfurt point.

[2019-06-19 22:15] onovotny commented on #38682
I added UseWindowsForms in the props and it still fails

[2019-06-19 22:17] tannergooding commented on #38565
I root caused the same and should have a fix up shortly. Just confirming the best route with Steve now.

[2019-06-19 22:21] tarekgh commented on #32250
To summarize/clarify,

When setting the culture to "C", ICU map it to en_us_posix. and the posix locale is for sure doesn't support case insensitive comparisons. We are just working as ICU. So, .NET Core behavior is 100% matching ICU which is the main globalization component for Linux. In short, we are not defining how "C" locale work, we just do whatever ICU does.

Now, if we need to do something

[2019-06-19 22:23] krwq commented on #36384
@stephentoub do you have context if this issue is still relevant? This does not feel like something we must address in 3.0?

[2019-06-19 22:24] danmosemsft commented on #32250
I see. In regular distros/shells, do they typically have different choices for LANG? I wonder why WSL does this, it seems like a large gotcha.

[2019-06-19 22:25] JamesNK commented on #38528
That's what Json.NET does.

Set a new list.

[2019-06-19 22:28] tarekgh commented on #32250
I can follow up with WSL team about that. but in Linux world think about "C" as invariant culture.

[2019-06-19 22:28] wfurt commented on #32250
Alpine is also like this. There really is no locale other than C. (see #35717)

[2019-06-19 22:33] bartonjs commented on #35956
Maybe this is a manifestation of the P/Invoke vs shutdown problem fixed in https://github.com/dotnet/coreclr/pull/24847?

[2019-06-19 22:38] tarekgh commented on #38608
https://github.com/dotnet/corefx/issues/32250

[2019-06-19 22:40] danmosemsft commented on #32250
I am happy to close this and defer to experts. It would be great to circle back with WSL team's response. Thanks guys.

[2019-06-19 22:40] #32250 closed

[2019-06-19 22:43] scalablecory commented on #37673
This assumes too much about the state of the system. *Someone* is winning, but without a fair ticketing system it might never be you. Load, priority, etc. might affect this.

[2019-06-19 22:46] echesakovMSFT opened #38852 "Remove TargetSite checks in Dictionary.Generic.Tests.ConcurrentAccessDetection.netcoreapp.cs"
We should just fix the test to not do the TargetSite checks; they're unnecessary.  I don't think we should start sprinkling NoInlining on these ThrowHelper methods, most of which were written under the assumption for perf reasons (not for correctness) that the JIT would never inline such methods.

_Originally posted by @stephentoub in https://github.com/dotnet/corefx/issues/38852#issuecomment-5051

[2019-06-19 23:11] couven92 commented on #24977
@wpbrown @brentschmaltz I have implemented my own (very simple) custom TaskScheduler now to run async impersonated tasks on dedicated threads. I'll do some more testing and report my findings here, but thus far it looks like that aproach does not leak impersonated principals.

@brentschmaltz As far as I have seen, the permissions for File Access are only checked/enforced when the FileHandle is fir

[2019-06-19 23:21] joperezr commented on #35748
Yes, I haven't started it but it is on my list of to-dos for this week.

[2019-06-19 23:31] janvorli commented on #35956
No, I believe this one is different. Something must have cleared the `err_string_lock`. The issue fixed in that PR resulted in an assert when calling a managed callback from native code. And it was fixed quite recently, while the issue was known to exist on 2.2. and 2.1. but not on 3.0 for much longer time.

[2019-06-19 23:33] joperezr commented on #33944
Sure I can take this one.

[2019-06-19 23:56] stephentoub commented on #38608
Is there any situation in which the current behavior is useful / valuable / expected? If no, and assuming the change for this is as trivial as I'm expecting it to be, I suggest we do it for 3.0 Preview 7. If there's any situation in which it might be desirable, we should also consider a switch.

[2019-06-19 23:58] stephentoub commented on #36384
We were just using it as a place to catalogue things we found along the way. I don't think there's any actual follow-up needed here. Let's close it.

[2019-06-19 23:58] #36384 closed

[2019-06-20 00:13] tarekgh commented on #38608
Only for scenario when users want to always compare strings as a binary bits. Maybe this is a security scenario but in general I am not seeing any other benefit of using this behavior. And still if anyone want this scenario we can ask them to explicitly use en-us_posix locale.

If all agree, I can try get this soon in P7.

[2019-06-20 00:15] #38485 closed

[2019-06-20 00:25] safern opened #38708 "System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2.InboundWindowSize_Exceeded_Throw failing on CI"
[code]

Failed on: https://github.com/dotnet/corefx/pull/38288

@scalablecory @krwq it seems this test was added today and then modified in: https://github.com/dotnet/corefx/pull/38561

cc: @ViktorHofer @stephentoub

[2019-06-20 00:31] pgovind commented on #38565
@steveharter : Before I start trying to fix this, do you have suggestions/pointers on where/how to fix this?

[2019-06-20 01:58] danmosemsft commented on #38608
Hmm, on my 1903 machine at home, Ubuntu WSL starts up with `LANG` of `en_US.UTF-8`.

[2019-06-20 02:04] jkotas commented on #38608
Same for me.

[2019-06-20 02:06] jkotas commented on #38608
This sounds like a bug in NuGet to me. You pretty much *never* want to use current culture for any kind of system level thing. This should be fixed in NuGet by using InvariantCulture.

[2019-06-20 02:08] stephentoub commented on #38608
For me with `Version 10.0.18362 Build 18362` I get:
[code]

[2019-06-20 02:34] davidsh commented on #38634
After discussions with the IETF rep and the Windows team, the RFC is correct.  So, the fixes for IPAddress class are correct. It turns out there is a separate bug for the WinRT Windows.Networking.HostName class that will be filed separately.

[2019-06-20 02:40] danmosemsft commented on #38608
@stephentoub's 18362 is 1903, where I'm getting `en_US.UTF-8` so there is not a simple relationship.

My other 1809 machine incidentally has `C.UTF-8`.

[2019-06-20 02:41] ahsonkhan commented on #38435
As @mrpmorris mentioned, this is the simplified test case which reproduces the issue being discussed here:
https://github.com/dotnet/corefx/issues/38435#issuecomment-502366899

[code]

[2019-06-20 02:50] IvanovNiko opened #38710 "Can not to select .net core application instance in perfmon.exe"
Hi.

I am using perfmon.exe for view my custom performance counters. It's working fine for .net framework applications but for .net core applications, application instance for my custom counters always absent and i can not to view my custom counters in perfmon.exe.  I reference Windows Compatibility Pack for .NET Core but it is useless.

Is it performance counters limitations that they can use onl

[2019-06-20 02:51] danmosemsft commented on #38710
@Anipik owns this I think.

[2019-06-20 02:54] Anipik commented on #38710
i will take a look

[2019-06-20 02:55] JamesNK opened #38711 "HTTP2: Http2Stream ObjectDisposedException"
1. git clone https://github.com/grpc/grpc-dotnet.git
2. examples/server -> dotnet run
3. examples/clients/mailer -> dotnet run
4. Press ESC

[code]

[code]

[2019-06-20 03:09] JamesNK commented on #38711
I think there is a race condition.

https://github.com/grpc/grpc-dotnet/blob/7713ed096f204d6f4546e7ae0c0f21c0f33acdfb/src/Grpc.Net.Client/Internal/GrpcCall.cs#L171-L181

Line 171 will cancel the token that is passed to ResponseStream.ReadAsync.
Line 181 disposes the response. Commenting out 181, or adding `Thread.Sleep(1000)` before it will stop the error.

[2019-06-20 03:09] JamesNK commented on #38711
@wfurt

[2019-06-20 03:16] danmosemsft commented on #38608
I have no idea which regex in NuGet we are looking at, but in NuGetClient repo there are several uses of `RegexOptions.IgnoreCase` that are clearly operating on file system paths and none of them also have `RegexOptions.CultureInvariant`.  That's wrong, I guess?

[2019-06-20 03:18] #38615 closed

[2019-06-20 04:09] ahsonkhan commented on #38708
Failed again: https://github.com/dotnet/corefx/pull/38566

System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2/InboundWindowSize_Exceeded_Throw
Windows.Nano.1803.Amd64.Open-x64-Debug

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38566~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190619.80/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net

[2019-06-20 04:24] wfurt commented on #38711
so far I could not reproduce it but if that it race, it may be hard. What do you expect here? OperationCanceled?

This is related to discussion in  as Cancelation is ignored by ReadDataAsync()

cc: @stephentoub @geoffkizer

[2019-06-20 04:29] xcaptain opened #38712 "JsonSerializer.Parse<DataTable> failed"
Convert an object into json string and then convert into DataTable is an easy way to generate `DataTable`, but this approach fails in `dotnet core 3 preview5`

I have created a working dotnet core 2 code snippet at [https://dotnetfiddle.net/cD6NFD](https://dotnetfiddle.net/cD6NFD)

dotnetfiddle doesn't support dotnet core 3 yet, so my dotnet core 3 code example see below:

[code]

below are the er

[2019-06-20 05:03] wfurt commented on #38711
missed to add reference to #38226

[2019-06-20 05:06] ericstj commented on #38608
Here: https://github.com/NuGet/NuGet.Client/blob/686dd6b060639a0fb401eceb4c3a4029c1482023/src/NuGet.Core/NuGet.Common/PathUtil/PathResolver.cs#L90

I've filed https://github.com/NuGet/Home/issues/8246

I suspect that this has something to do with the image for WSL that comes from the windows app store.  Perhaps that's missing proper LANG setting.  For folks that repro'ed: did you install on WSL fr

[2019-06-20 05:06] ahsonkhan commented on #38712
`DataTable` and the related types are not currently supported by the `JsonSerializer` (for 3.0).

cc @steveharter

[2019-06-20 05:09] #36707 closed

[2019-06-20 05:09] #36794 closed

[2019-06-20 05:15] ahsonkhan commented on #38671
3.0.0-preview3-27503-5

It looks like you don't have the latest dotnet sdk version on your machine. That's probably OK since you are referencing the netstandard2.0 compatible NuGet package (rather than using the built-in library as part of .NET Core 3.0).

Can you tell me which version of the package you are referencing? Is it `4.6.0-preview6.19303.8`?https://www.nuget.org/packages/System.Text.Jso

[2019-06-20 05:16] ahsonkhan commented on #38670
@justinushermawan, did that help resolve your issue?

[2019-06-20 05:22] ahsonkhan commented on #38669
This is an interesting feature request which we will consider for the future.

@steveharter, is it feasible for us to extend our existing attribute to enable this scenario in the future? We should make sure our current design allows for it.

[2019-06-20 05:26] ahsonkhan commented on #38641
We currently do not have plans to support `TimeSpan` and would be added in the future but I can do some investigation to see how much work is involved.  Alternatively, you could create your own `JsonConverter` to support `TimeSpan` as a workaround. I'll give an update by end of next week. Thanks.

[2019-06-20 05:45] dhindrik commented on #38671
I am referencing '4.6.0-preview6.19303.8'. I'm not able to share this repo, it is for an app that I am building for a customer. But I can try to recreate it in a new solution. I can't see any references to the System.Memory package. Maybe if some other packages have it like a dependency.

[2019-06-20 06:10] justinushermawan commented on #38670
Finally I resolved this by slicing the bytes start from index 0 to `request.Count`. Thanks everyone.

[2019-06-20 06:10] #38670 closed

[2019-06-20 06:24] xcaptain commented on #38712
Thanks, because NewtonSoft.Json support this feature, would be awesome if `System.Text.Json` support this.

[2019-06-20 06:40] martincostello commented on #38641
Thanks - a custom converter would also be an easy enough way to make it work for our app for 3.0. Are those capabilities planned to ship with preview 7?

[2019-06-20 06:48] IvanovNiko commented on #38710
Hi guyes.
This issues reproduce if i run .net core application hosted in windows service.

[2019-06-20 07:41] MarcoRossignoli commented on #38608
Yes for me

[2019-06-20 07:56] MarcoRossignoli commented on #33130
Yes, did simple update here

https://github.com/dotnet/corefx/blob/74032a608cf39d8eaa2955cc46d0ac677e3ae12c/src/System.Memory/src/System/Buffers/ReadOnlySequence.Helpers.cs#L78

with `return !memory.IsEmpty;` (let me know if it's not correct...I followed code path for tryget)
we only return false if  `positionObject` is `null`(above code)
And get fails for:
[code]

[2019-06-20 08:32] radek7210 opened #38713 "System.Text.Json deserializing of object[bool] does not produce boolean"
I understand that the System.Text.Json is still in development. However, I would like to point out that the new deserializer produces very different results than the previous one.

Scenario:

[code]

Controller method:
[code]

Posting this json:
[code]

In .core 2.1, the false value deserializes as boolean:
Type of 'Bool param' is **System.Boolean**; value is False

However, in .core 3.0 preview 6

[2019-06-20 09:16] AriNuer commented on #38708
Failed again:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190619.88/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2~2FInboundWindowSize_Exceeded_Throw

[2019-06-20 09:41] stephentoub commented on #38608
Ubuntu came from the store. I didn't know there was an alternative?

[2019-06-20 09:50] MarcoRossignoli commented on #38608
There is a way manually download  https://docs.microsoft.com/en-us/windows/wsl/install-win10#install-your-linux-distribution-of-choice

[2019-06-20 09:57] experdot opened #38714 "[Uri] System.Uri escaped result is incorrect"
### Overview

`System.Uri` escapes the constructor parameter by default. If the raw string contains **%20** and **Unicode symbols** together, the escaped result is incorrect.

### Steps
1. Execute `Console.WriteLine(new Uri("C:\\%20hello world中文字符.txt", UriKind.Absolute).AbsolutePath);`
2. The expected value is `C:/%2520hello%20world%E4%B8%AD%E6%96%87%E5%AD%97%E7%AC%A6.txt`,
3. The actual value is

[2019-06-20 10:18] JamesNK commented on #38711
I consistently get ObjectDisposedException. It is only when I add a Thread.Sleep that it isn't thrown.

[2019-06-20 10:28] shaggygi opened #38715 "[System.Numerics.BitOperations] Add Bitmask methods"
Related to [.NET IoT](https://github.com/dotnet/iot), there are scenarios where we need to mask bit values.  Reading register data or writing to ports for I/O use this with some of the device bindings.

Would it be possible to add the following static methods to this API?  Thx

[code]

Examples:
[code]

cc/ @joperezr

[2019-06-20 10:47] stephentoub commented on #38715
Why wouldn't you just use `&`?

[2019-06-20 10:50] shaggygi commented on #38715
Good point.  I was thinking there was something we did with BitVectors where I thought this would help.  Let me go back and review that code and if this is related.  Thx

[2019-06-20 10:54] alisolutions commented on #37967
It's working. Thanks.

[2019-06-20 10:58] MuhammadAliYousaf opened #38716 "Create and Store asymmetric keys on Linux"
How to create ECDsa public private keys and store them on Linux (Ubuntu) using .Net Core.
@bartonjs Please help. I am done on windows and Mac (#37967), now need to implement on Linux.

[2019-06-20 11:06] YohDeadfall commented on #38435
[code]

[code]

Tested using three popular serializers and they behave near the same. All of them replace a collection if it's readonly (`Array` and `CollectionBackedByArray` cases), but if a collection is mutable (i.e. `CollectionBackedByList`) then only Newtonsoft appends new values. to the collection. Utf8Json and Jil still replace the value.

Probably we should align the behavior with Jil and

[2019-06-20 11:07] shaggygi commented on #38715
Yup, different topic :face_with_head_bandage:.  Thx for pointing out.  I could see other methods added for getting/setting specific bit.

[code]

[2019-06-20 11:10] stephentoub commented on #38715
Those are all discussed in https://github.com/dotnet/corefx/issues/32269.

[2019-06-20 11:10] #38715 closed

[2019-06-20 11:15] radek7210 opened #38717 "System.Text.Json fails to deserialize datetime"
Repro steps:

[code]

This produces an error:
System.Text.Json.JsonException
Message=The JSON value could not be converted to System.DateTime. Path: $.DateTimeValue | LineNumber: 0 | BytePositionInLine: 67.
Source=System.Text.Json

Is this a bug in System.Text.Json, or is there any recommendation how to handle "empty" datetimes?

Thanks

[2019-06-20 11:47] YohDeadfall commented on #38435
[code]

[code]

 Serializer       | InstantiatedBySerializer
------------------|--------------------------
 Jil              | true
 Utf8Json         | true
 Newtonsoft.Json  | false
 System.Text.Json | true

It looks like Newtonsoft reuses existing objects, not collections only. And the `System.Text.Json` reads a new instance every time like Jil and Utf8Json.

[2019-06-20 11:50] Gnbrkm41 commented on #38714
Sounds like a duplicate of https://github.com/dotnet/corefx/issues/32301?

[2019-06-20 11:51] Gnbrkm41 commented on #38714
Also, could you tell which runtime ( & version) you're using?

[2019-06-20 11:56] vms20591 commented on #23686
Pasting the same comment from - https://github.com/dotnet/core/issues/874

THIS IS NOT A SPAM! SO THAT PEOPLE KNOW THERE IS A GENUINE ISSUE WITH .NET.

This might be bit of rant, but I have to. We've been trying to migrate our code base from .NET 4.5+ to .NET Core 2.x and we face issue after issue. When we use a .NET API that is no longer present/changed in .NET Core and we get a compile time erro

[2019-06-20 12:35] MarcoRossignoli commented on #38708
Also here https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38654~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190619.83/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Http2~2FInboundWindowSize_Exceeded_Throw

[2019-06-20 13:12] ericstj commented on #38708
Failed in rolling build. https://dev.azure.com/dnceng/public/_build/results?buildId=231796

@krwq and @corivera can you please have a look.  It seems this is related to your changes.
https://github.com/dotnet/corefx/commit/3863ec17c8ea61e72ef2240f23e4518788a2e8ae
https://github.com/dotnet/corefx/commit/290a6e54a482ee950c4b812ad85f8de2d795932f

Please address this ASAP as it seems to be impacting C

[2019-06-20 13:13] ericstj commented on #38553
Looks like the remaining failures are all in crypto.  @bartonjs are you looking at those?

[2019-06-20 13:14] ViktorHofer commented on #38708
No that one is my fault and will be fixed with https://github.com/dotnet/corefx/pull/38707

[2019-06-20 13:21] sathishTkumar commented on #36221
But, i can see the huge difference after adding the Keep-Alive header. Earlier i was getting more socket exceptions and the cpu usage was so high which are reduced now.

Am using HTTP/1.1 only

![image](https://user-images.githubusercontent.com/29122786/59851634-bef4e080-938a-11e9-8206-01f3965ae5d3.png)

[2019-06-20 13:21] ericstj commented on #38708
That rolling build also has test failures @ViktorHofer https://dev.azure.com/dnceng/public/_build/results?buildId=231796&view=ms.vss-test-web.build-test-results-tab

I've put up a PR to disable this test. https://github.com/dotnet/corefx/pull/38722

[2019-06-20 13:24] ViktorHofer commented on #38677
After a discussion with @stephentoub we changed the direction here slightly. I submitted a PR which enables about 10 of the xunit analyzer rules and applies the fixes (manually) on all test projects in the repo.

I think it makes more sense to instead of a per project basis work on a per rule basis. Means to enable additional rules and work on the fixes across the repo: https://xunit.net/xunit.ana

[2019-06-20 13:33] steveharter commented on #38650
Moving to future for the following reasons:
- 3.0 schedule is feature-complete in a few days.
- This may not be the best programming model long-term. We should really add feature at the same time we add support for polymorphic deserialization since we may want to share common options or an enum.
- Since we don't support true polymorphic deserialization, polymorphic serialization is not a useful fo

[2019-06-20 13:48] steveharter commented on #37725
The PropertyNamingPolicy is not intended for enum value names.

During the review of adding PropertyNamingPolicy we also added DictionaryKeyPolicy and discussed adding an "EnumValuePolicy" but didn't think it was necessary for 3.0.

[2019-06-20 14:16] davidsh commented on #38714
@wfurt

[2019-06-20 14:17] davidsh commented on #38714
@wtgodbe

[2019-06-20 14:21] Gnbrkm41 commented on #38677
As long as it's coming in some way, I'm happy with it 😄

[2019-06-20 14:21] steveharter commented on #38435
@YohDeadfall thanks the research and analysis. Does this capture the summary:

- Property setter: replace
  - The deserializer will replace any previous instance (either created by code in the ctor, or from the deserializer if previously created due to the same property being repeated in the JSON).
- No property setter: use existing instance
  - If value is null or collection is immutable (includi

[2019-06-20 14:24] #38634 closed

[2019-06-20 14:37] ViktorHofer commented on #38688
Can't say. The binlog didn't show that well. I thought about the whole restore concept a bit more and want to share my thoughts.

Ideally in the future we don't need to do the upfront restore at all. Most of the stuff that comes from Arcade is already an SDK, ie Arcade.Sdk, Configuration, CoreFxTesting. Other packages can probably be normal PackageReferences where they are needed. Additional work

[2019-06-20 14:41] steveharter commented on #36538
This should now be fixed because we [detect ](https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs#L20)if there is a valid public constructor.

Please re-open if not the case.

@JeremyKuhne please ensure the current Enum work fails gracefully with JsonException.

[2019-06-20 14:41] #36510 closed

[2019-06-20 14:45] steveharter commented on #37725
Recommend moving to Future.

[2019-06-20 14:48] steveharter commented on #37545
I recommend closing this. We should have separate issues for any remaining issues.

[2019-06-20 14:50] steveharter commented on #37078
Closing this as assumed fixed.

[2019-06-20 14:50] #37078 closed

[2019-06-20 14:51] steveharter commented on #37545
Closing. Please create new issues for any remaining issues.

[2019-06-20 14:51] #37545 closed

[2019-06-20 14:55] steveharter commented on #38641
Yes the custom converter support is now in master and thus will be in preview 7.

However, since TimeSpan is a common BCL type we should still provide a default converter.

[2019-06-20 14:56] martincostello commented on #38435
I would rather it _not_ throw if it is read-only.

We've been assigning `Array.Empty<T>()` to properties at initialization time by default so they're non-null by default when creating the objects in code and so we don't have to pay to allocate a `List<T>` on object creation only for it to then be overwritten during deserialization.

Changing the behaviour would mean updating all our models to use

[2019-06-20 15:01] tannergooding commented on #38688
I am 110% in favor of making our build more like a normal build. This helps ensure that existing tooling "just works" and my guess is that will in turn help productivity.

I may also be an outlier, but first time restore (from a clean enlistment) takes `00:01:28.52` on my box. Subsequent restores take: `00:00:31.55`.

[2019-06-20 15:02] leecow opened #38726 "Info Request - Where is this file"
@sujayvsarma commented on [Sun Jun 16 2019](https://github.com/dotnet/core/issues/2891)

Hello,
Where is the actual source file where these changes have been done?

API DIFF:
https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/api-diff/preview6/3.0-preview6_System.Collections.Generic.md

---

@leecow commented on [Wed Jun 19 2019](https://github.com/dotnet/core/issues/2891#issueco

[2019-06-20 15:13] Gnbrkm41 commented on #38677
Will the most of the analysers be applied repo-wide eventually then? [xUnit2000 (Consts/Literals should come at the `expected` argument)](https://xunit.net/xunit.analyzers/rules/xUnit2000) seemed like a nice addition to have.

[2019-06-20 15:22] Gnbrkm41 commented on #38726
https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Collections/Generic/IDictionary.cs
https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Collections/Generic/IReadOnlyDictionary.cs

[2019-06-20 15:25] sujayvsarma commented on #38726
Why are these classes private? Doesn't make sense.

[2019-06-20 15:28] Gnbrkm41 commented on #38717
Looks like you're on .NET Core 3.0 P5 or nuget pacakge before P6; have you tried it on P6? it seems to work fine on the latest...ish master branch.

[2019-06-20 15:30] Gnbrkm41 commented on #38726
They are not private, per se; IIRC, the interface shared across different repos (corert, coreclr, mono etc) and these shared source files go in `System.Private.CoreLib` project.

[2019-06-20 15:31] bartonjs commented on #38716
Linux supports adding certificates to X509Store instances (provided they are CurrentUser stores).  So it's the same as on macOS:

* ECDsa.Create(ECCurve)
* Use CertificateRequest to build a self signed cert with that key
* Add that self-signed cert to an X509Store of your choosing (Linux supports creating and writing to arbitrary stores, macOS is limited to StoreName.My)

Alternatively (.NET Core

[2019-06-20 15:32] Gnbrkm41 commented on #38726
One easy way to look up source code is to use https://source.dot.net Source browser website. Not only they provide easy search / browse feature they also let you see where the source code is located at (click bottom right `Web Access`).

[2019-06-20 15:34] bartonjs commented on #38553
@ericstj Some of the machines in that pool have OpenSSL, others don't.  The ones which don't fail, the ones which do pass.  Engineering is aware of the problem and hopefully working on it.  (#38498)

[2019-06-20 15:34] sujayvsarma commented on #38726
`Private` in the namespace, hard to locate.. Well hidden. Didn't this interface used to be in the `System.Collections.Generics` project/source tree in the framework ??

You guys have become weird with code organization IMHO.

[2019-06-20 15:39] Gnbrkm41 commented on #38726
`System.Private.CoreLib` as in project, not as in namespace. If you see the files, they indeed are under System.Collections.Generic namespace:  `namespace System.Collections.Generic`

And yes, not disagreeing that it's somewhat weird... but I guess that's what you need for sharing codes across many different repos. 😋

[2019-06-20 16:33] tarekgh commented on #38608
here is the response we got from the WSL team:

[code]

[2019-06-20 16:39] radek7210 commented on #38717
I'm on P6 (don't have P5 installed) -

λ dotnet --list-runtimes
Microsoft.AspNetCore.All 2.1.11 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.All]
Microsoft.AspNetCore.All 2.2.5 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.All]
Microsoft.AspNetCore.App 2.1.11 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App]
Microsoft.AspNetCore.App 2.2.5 [C:\Program Files\dotnet\shared\Micr

[2019-06-20 16:43] experdot commented on #38714
Yes, it's duplicate. I reproduced it in the following platforns.
- .NET Framwork 4.7.2
- .NET Core 2.1
- .NET Core 3.0 Preview 6

[2019-06-20 16:48] vonders commented on #38545
thankyou for checking. Will do

[2019-06-20 16:50] Gnbrkm41 commented on #38717
Hmm, maybe it's fixed post-P6 perhaps. (I'm on 3.0.100-preview7-012426) I'm able to deserialize the JSON string back and read the properties:
[code]

[2019-06-20 16:56] davidsh commented on #38714
Duplicate of #32301

[2019-06-20 16:56] #38714 closed

[2019-06-20 16:58] radek7210 commented on #38717
ok then, I will wait for P7, no problem.
Thanks for your time.

[2019-06-20 17:00] Gnbrkm41 commented on #38717
If you want to try it yourself, you could follow this:
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2019-06-20 17:11] CoffeeFlux commented on #38483
Speaking personally, I think the managed API here is too Windows-centric, and as part of .NET 5 we should be looking to accomplish two main things:

1. Extend the API to allow for passing in an array of strings instead of the single flat string taken by `ProcessStartInfo.Arguments` – something like `ProcessStartInfo.ArgumentArray`. This could be passed directly to `exec` on POSIX, and will save no

[2019-06-20 17:14] filipnavara commented on #38726
Many of the external assemblies (eg. `System.Collections`) are facades or partial facades. The actual implementation is in different assembly and it is type-forwarded. In this particular case the classes were needed by the transitive dependency closure of other classes in `System.Private.CoreLib`, the lowest-level runtime library (a lightweight version of what used to be `mscorlib.dll` back in the

[2019-06-20 17:15] stephentoub commented on #38483
That already exists.
https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo.argumentlist?view=netcore-3.0#System_Diagnostics_ProcessStartInfo_ArgumentList

[2019-06-20 17:20] #36914 closed

[2019-06-20 17:20] safern commented on #36914
Thanks for confirming @NanaseRuri

[2019-06-20 17:20] anurse opened #38729 "Add reference assembly for packages in `netcoreapp3.0`"
ASP.NET Core's framework embeds `System.IO.Pipelines` (since it is required by ASP.NET Core servers). As a result, our targeting pack also includes this library. However, since `System.IO.Pipelines` does not provide a ref assembly, we currently embed the full library. This is not ideal as it means the `3.0.0` version of this library will always be present on disk. The implementation is also larger