[2019-09-30 01:07] hanxinimm commented on #41434
`class Program
    {
        public class Bar : BarBase
        {
            public long FooName { get; set; }
        }

        public abstract class BarBase
        {
            public long Foo { get; private set; }
        }

        static void Main(string[] args)
        {
            var result = typeof(Bar).GetProperty(nameof(Bar.Foo));
            Console.WriteLine(result.SetMethod != n

[2019-09-30 01:18] #41434 closed

[2019-09-30 01:20] vcsjones commented on #41434
@hanxinimm

Ah, that's because `Foo` is not visible to `Bar`. You would similarly get a compilation error if you tried accessing the setter from `Bar`.

You can access it like so:

[code]

[2019-09-30 01:32] unruledboy commented on #41421
@SimonCropp

There are two scenarios:

1. The customer consumes our RESTful API by posting data in JSON, and the JSON is in the format of without names being double-quoted. I believe we can let the customer to provide double-quoted names, or have an API versioning by introducing a new version which forces double quotes, and that can use System.Text.Json.
2. We are processing customer provided json

[2019-09-30 01:55] KrisJohnstone opened #41444 "HttpRequest Method Changes during Execution"
** Overview **
Trying to send a post message to Azure DevOps and while executing the httpRequest method changes from being Post to Get. The response I get back from Azure DevOps is Http Method not allowed.

** System Details **
Mac OSX 10.4.15
.Net Framework Versions:
Ice@Ices-MacBook-Pro-2  /  dotnet --list-sdks
2.1.700 [/usr/local/share/dotnet/sdk]
3.0.100 [/usr/local/share/dotnet/sdk]

** Cod

[2019-09-30 03:59] mjsabby commented on #41333
cc @timmydo

As long as we're converging on ICU and can have it be on Windows, that sounds good.

[2019-09-30 04:29] danmosemsft commented on #41437
What does `Beep(800, 200)` produce?

[2019-09-30 04:29] danmosemsft commented on #41432
@tmds

[2019-09-30 04:34] danmosemsft commented on #41428
I assume the same thing happens on.NET Framework?

You may well be right that this should not throw, but note that the Try pattern does not imply that all exceptions are caught. Just the type(s) that are potentially on the normal, recoverable path (I don't have the book in front of me to quote  the actual language). I don’t know this API but I'm guessing you're right that would include this type.

[2019-09-30 04:43] pgovind commented on #31786
It doesn't have anything to do with this bug. The note was for me to track real use cases for an IndexSet type.
I spent about an hour or so debugging this and understand what, why and where the bug is. When I have some time later this/next week, I'll look into fixing this. On the face of it, it looks like `ParseRegexNode` might need a local fix. Assigning myself to it :)

[2019-09-30 04:53] joshmouch commented on #41401
When I expose an Iformfile then generate a swagger client from it, the generated client excepts a Stream type. I have to include a custom type filter for Swashbuckler, though.

[2019-09-30 05:01] iSazonov opened #41439 "Add API to validate file system paths"
## Rationale ##

In PowerShell Core repo we actively manipulate paths and do path validation by:
[code]
The code allocates many unneeded FileInfo objects and exceptions.

## Proposed API ##

[code]

Related #27049

[2019-09-30 05:08] am11 commented on #41428
If it is deterministic, can these rules be objectified in terms of a static analyzer?

[2019-09-30 05:08] wfurt commented on #32611
yes, I think so @ManickaP e.g. make Windows/Framework/MONO behavior on other platforms. I think flow in documentation is that it does not explain that for host it self the behavior is different and it returns addresses without querying DNS or using host file.
It seems like last prn question is if we should include loopback addresses as @davidsh  suggested or not,

[2019-09-30 05:10] Roman-Blinkov commented on #41437
I am not joking.
I recorded HD video for you. https://1drv.ms/u/s!AvU-sf3z4m8qk-oLkYwB6ou2eO5Arw?e=hqfKwV
You can find code from video here
https://github.com/Roman-Blinkov/Beep

[2019-09-30 05:14] Roman-Blinkov commented on #41437
@danmosemsft nothing! There no sound!

[2019-09-30 06:21] zhiweiv opened #41440 "Code example in DiagnosticSourceUsersGuide.md is outdated"
In section **Discovery of DiagnosticListeners** of https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/DiagnosticSourceUsersGuide.md, the example is incorrect, it passes delegate directly to DiagnosticListener.AllListeners.Subscribe, the needed parameter is IObserver.

Seems the correct code is in https://github.com/dotnet/corefx/blob/master/src/System.Diagnost

[2019-09-30 06:21] daeken commented on #41438
That does crash for me, indeed! Specifically, it crashes on `Console.WriteLine(generator.PublicKey.Oid.Value);`  I broke that down into its component parts (code below) and it's crashing when accessing `.PublicKey`.  Full code:

	using System;
	using System.Security.Cryptography;
	using System.Security.Cryptography.X509Certificates;

	namespace scratch {
		class Program {
			static void Main(strin

[2019-09-30 06:25] idlerboris commented on #41380
@Anipik @tannergooding thank you for so fast reply here!

I've checked the fix with changing SecondsPerTick to `1 / 1000000.0`, it really works. Btw, I certainly understand that this won't help in every case, but as far as I understand, it should help for integer milliseconds cases (it is exactly what I wanted from the original question here).

P.S. @tannergooding excuse me for a silly question, b

[2019-09-30 06:42] daeken commented on #41438
I did a little more digging and I found that this code will trigger the crash.  I tried digging further into it, but without reflection madness, I won't be able to access the internal functions it calls.

	using System;
	using System.Security.Cryptography;

	namespace scratch {
		class Program {
			static void Main(string[] args) {
				var rsa = RSA.Create();
				Console.WriteLine($"RSA created {r

[2019-09-30 07:19] tmds commented on #41432
vfork support was added here: https://github.com/dotnet/corefx/pull/33289. We didn't want to call vfork [in case of changing credentials/working directory](https://github.com/dotnet/corefx/pull/33289#issuecomment-436638734). The current implementation is doing that.

@hjc4869 can you share an `strace -f <app>`?

CC @joshudson @bartonjs @stephentoub @janvorli

[2019-09-30 07:27] hjc4869 commented on #41432
[strace.txt](https://github.com/dotnet/corefx/files/3669315/strace.txt)

[2019-09-30 07:47] Jozkee commented on #41002
@paulovila this feature is still a work in progress, once is finished and merged into our master branch you can try it out by [installing the latest bits](https://github.com/dotnet/core-sdk#installers-and-binaries) of Net core.

[2019-09-30 08:05] am11 commented on #41438
another data point: does not crash on my Mac:

[code]

[2019-09-30 08:36] Simon-IT opened #41441 "Build corefx from build.cmd fails"
Visual Studio Community 2019  16.4.0 Preview 1.0
Windows 10 1903 build SO 18362.387
NET Core 3.0.100
CMake 3.14.5

After has been pulling the latest comimts the build procedure fails with these two errors:

[code]
`git clean -xdf` has no effects

[2019-09-30 08:39] Wraith2 commented on #41439
Can you define what is or isn't a valid path? Does it have to exist? or is it a string which would be valid on the target volume but doesn't exist? or is existance irrelevant?

[2019-09-30 09:15] iSazonov commented on #41439
Formally it is that follow `new FileInfo()` should do not throw as the code above shows, it is not request to implement a parser that is impossible - only a P/Invoke can returns a reliable result. It could be FindFirstFileEx with FindExInfoBasic or FindFirstFileNameW on Windows.

[2019-09-30 09:36] CosX commented on #32224
I experienced this issue when running the restore command as `sudo`. When I run this command normally, without `sudo`, I managed to restore as expected.

[2019-09-30 10:19] AntonLandor commented on #41132
Alright, I've made an implementation that should be tested now. However, I haven't been able to since this solution adds a public method to the JsonString class. In JsonElement.cs I wrote [this](https://github.com/AntonLandor/corefx/blob/3ab1753549c1092a3894c2bd6b51135e4f0b2cc5/src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs#L498-L501). Which meant I had to make the implementatio

[2019-09-30 10:19] jcchalte commented on #41393
We are having the same kind of issue and we really don't know how to procede. In our case, it crashes on the system.composition.attributedmodel package, but the issue seems really close to what @brambossche is experiencing.

First, in (at least) both system.composition.runtime and in system.composition.attributedmodel nuget package, there seems to be incoherent versions, as the netstandard 2.0 is

[2019-09-30 10:20] MichaelRumpler commented on #41347
Ok, thanks! We'll have to think about the type more.

I managed to use a `Utf8JsonReader` to read just the first property $type and then deserialize to that type.

But how can I optimize serialization? Can I get the `JsonSerializer` (or anything else) to write to a `Utf8JsonWriter`?

So that I can avoid the diversion over string and JsonDocument as in this code:

	var str = JsonSerializer.Serializ

[2019-09-30 10:43] ExplodingCabbage commented on #41421
@caihongxu

Can you point us to these APIs? Do they really claim that what they're emitting is JSON? I'm perplexed by how such a thing can even come to exist. Every language in popular use for backend web development has had a well-established JSON library for well over a decade; in most cases (PHP, Python, Ruby, JavaScript) it's long been built into the standard library of the language. It takes

[2019-09-30 11:18] MohanaselvamJ commented on #33897
@ErikEJ , the above solution working fine in Windows Forms (.NET Core 3.0).

Is this also applicable for WPF (.NET Core 3.0) ?

Also, to get these mentioned assemblies  I need to install SQL Compact edition in my machine.

Is there any NuGet available to achieve without installing SQL Compact ?

[2019-09-30 11:44] Roman-Blinkov commented on #41437
This works
[code]
-----
This not works
[code]

[2019-09-30 11:45] ErikEJ commented on #33897
You need the binaries locally, but the idea is that you include them as content with your app.

Yes, this works with any desktop app (not sure sure about ASP.NET Core)

[2019-09-30 11:51] yahorsi commented on #38507
We've got that issue as well.

[2019-09-30 12:38] vcsjones commented on #41438
I wonder if the crash is hiding a different failure. Looking at this line:

https://github.com/dotnet/corefx/blob/7e9a177824cbefaee8985a9b517ebb0ea2e17a81/src/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.SecKeyRef.Export.cs#L58

`cfData` is placed in a `using` block, but it checks the error result of `AppleCryptoNative_SecKeyExport` inside the using. If `AppleCryptoNati

[2019-09-30 13:07] vcsjones commented on #41438
Well, that assumes that something is setting `cfData` to non-null, which I suppose `SecItemExport` could be doing, but I'm less convinced this is the problem now that I look at it. It's more typical to only call `CFRelease` on returned / output'd data if the function succeeds.

[2019-09-30 13:09] ramakrishna578 commented on #31749
dbug: HttpsConnectionAdapter[1]
      Failed to authenticate HTTPS connection.
System.IO.IOException: The handshake failed due to an unexpected packet format.
   at System.Net.Security.SslState.StartReadFrame(Byte[] buffer, Int32 readBytes, AsyncProtocolRequest asyncRequest)
   at System.Net.Security.SslState.PartialFrameCallback(AsyncProtocolRequest asyncRequest)
--- End of stack trace from previ

[2019-09-30 13:17] pranavkm opened #41442 "What is the recomendation of using System.Text.Json and double NaN values ?"
_From @valeriob on Monday, September 30, 2019 12:49:01 PM_

Hi,
we are upgrading some applications to aspnetcore 3.0, we have been bitten by something unexpected : System.Text.Json refuse to serialize double.NaN values.
This cause really nasty bugs because something that works suddenly does not because some result of some calculation is different, or some data changes in some way.
I see that the r

[2019-09-30 13:51] bartonjs commented on #41438
No matter what, the `SafeCFDataHandle` object should be disposed. It either got NULL, and wouldn't call CFRelease (but does need to suppress its own finalization) or didn't, and needs to call CFRelease (and suppress finalization).

I mean, technically the non-success cases could just GC.SuppressFinalization, but the state of the world if SecItemExport returns failure and assigned `*exportedData` i

[2019-09-30 14:15] danielmeza commented on #18012
@krwq  I get a System.PlatformNotSupportedException: 'System.IO.Ports is currently only supported on Windows.', I have the 4.6.0 System.IO.Ports package installed in both project, .NET Standard project and in the Android project.

[2019-09-30 14:26] joshudson commented on #41432
musl libc called cross-process `tkill` and `futex` in the child process trying to synchronize with the parent process. If I had a stack trace of the child I could determine which system call is being bad. It's not setgroups.

[2019-09-30 14:27] Timovzl commented on #34894
It seems that the array option was chosen in the end, and that the class was not made disposable. Would it not be more favorable to make the class disposable, and use `ArrayPool` arrays instead, avoiding the allocations?

I could not extract this from the discussion above, but let me know if the answer was already implied somewhere.

[2019-09-30 14:31] tmds commented on #41432
Linux handles uid/gid per thread, the C library needs to apply the setuid/setgid to all threads of the process. Probably those calls are musl's implementation.

Not using vfork when setting credentials will fix the issue.
@joshudson so you want to make the change? Otherwise, I can look into it.

[2019-09-30 14:47] joshudson commented on #41432
Something else is going on here. This is clearly vfork but musl libc aliases vfork to fork. https://git.musl-libc.org/cgit/musl/tree/src/process/vfork.c

[2019-09-30 14:54] aik-jahoda commented on #41080
The same issue happens when copy files outside the watched folder inside it. In this case, it produces the same events instead of the `WatcherChangeTypes.Created`.

[2019-09-30 15:04] tannergooding commented on #41380
I'll try to explain it here and will link to some other articles at the bottom :)

A `float`/`double` is a number built from three parts: a sign, exponent, and significand. The "true" value of a them is then built by multiplying together the exponent and significand and taking the sign as is. The exponent for `float` and `double` is a power of 2, so all representable values are multiples of that p

[2019-09-30 15:06] aik-jahoda commented on #41080
The investigation so far:

When a file is renamed the `FSEventStreamCallback` holds two events. Each event is `kFSEventStreamEventFlagItemRenamed`. The first contains original file name, the second contains a new file name.
When a file is moved outside the watched folder, only one `kFSEventStreamEventFlagItemRenamed` event is triggered as the second belongs to the different not watched folder.

Th

[2019-09-30 15:19] vslee opened #41443 "ClientWebSocket.ReceiveAsync() throws IOException when cancelled"
If a `ClientWebSocket.ReceiveAsync()` is cancelled with a `CancellationToken`, it throws an `IOException`. I was expecting an `OperationCanceledException`? Please see the repro below:

[code]

Throws:
[code]

In .net core 3.0 and 2.2 on VSE 2019 16.3.1 on Windows 10 x64

May be related to #5200?

[2019-09-30 15:20] joshudson commented on #41432
Those stack traces aren't from musl libc. There is no function called `_do_fork()`. We also know immediately that `vfork()` is not in play because it is _not possible_ for the implementation of `vfork()` to call another function.

https://git.musl-libc.org/cgit/musl/tree/src/process/fork.c

[2019-09-30 15:39] joshmouch commented on #41399
I attempted to just create a converter that uses Json.Net until this bug is fixed, but it appears I can't do that because there's no `WriteRaw` method on `Utf8JsonWriter`.  This seems like a pretty important method to include.

[code]

[2019-09-30 15:41] joshudson commented on #41432
Sorry for the dithering, but there is a bug here in musl libc anyway. If the real vfork gets invoked, or `syscall(fork)` for that matter, musl libc can't handle it. My instinctive way to fix this is

    #if MUSL_LIBC
         syscall(setgroups);
         syscall(setgid);
         syscall(setuid);
     #else
         setgroups();
         setgid();
         setuid();
      #endif

And shove OP's t

[2019-09-30 15:55] MichaelSimons commented on #41038
FWIW, the OS support policy for 2.x states Alpine 3.7 + is supported.

https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1-supported-os.md
https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2-supported-os.md

[2019-09-30 15:57] karelz commented on #36057
Yesss! I hope we can retire the XXXL long docs in Docs directory in favor of the new-contributor- friendly style docs we have on wiki 🤗
De-duplication would be first great step.

[2019-09-30 16:16] ViktorHofer commented on #36057
Great, Carlos I'll send you some ideas.

[2019-09-30 16:17] karelz commented on #24843
@iSazonov CoreFX has Networking team for years. It never included DirectoryServices though, that is separate area with different and unique challenges.

There is always chance and hope. Sadly, we do not have any ETA or commitment yet. It is lots of work and requires new expertise we do not passes at this moment. It is something we are considering though. (I know, not the answer you wanted to hear,

[2019-09-30 16:17] stephentoub commented on #41437
Have you tried just writing a basic C/C++ app that just calls Beep from kernel32?

[2019-09-30 16:19] joshudson commented on #41432
Hey can we get this pull request merged? The test harness is broken for me otherwise. https://github.com/dotnet/corefx/pull/38042

[2019-09-30 16:29] karelz commented on #26477
It needs to get thought through from all angles - all concerns above addressed.
At this point a summary listing possibilities and their pros/cons would be likely next best step.

[2019-09-30 16:31] karelz commented on #41402
@scalablecory unlike the dupe, this issue has clear title explaining easily what is the issue about. Can we change the dupe to have similar thing?

[2019-09-30 16:36] karelz commented on #34033
@kyschouv looks like the problem has multiple root causes (or similar symptoms)) and you've hit another one. Please file a new issue with description, call stacks, repro attempts info, etc., so that we can chase it down.

[2019-09-30 16:40] Roman-Blinkov commented on #41437
I wrote after you asked.
### Not works
[code]
### Works
[code]

[2019-09-30 16:47] iSazonov commented on #24843
@karelz Thanks! (The difficulty for single developer (like me) is that developing a network code requires a complex environment - several dev systems with different operating systems (Windows, MacOS, Linux) on the same network. Perhaps Core team would come up with some kind of sandbox (based on WSL2?) to make it easier.)

[2019-09-30 16:53] Roman-Blinkov commented on #41437
How to transfer issue to correct bug tracker?

[2019-09-30 16:58] davidsh commented on #24843
The .NET Core networking team (mostly me right now) is working on a plan to support an enterprise testing environment which would include things like Windows Active Directory, Linux Kerberos and multiple clients etc. I already have set up a prototype environment that consists of 5 or so VMs (Windows and Linux) that I have used to validate fixes in .NET Core 3.0 for HTTP, NegotiateStream scenarios

[2019-09-30 17:05] scalablecory commented on #41444
@KrisJohnstone it sounds like @benaadams was able to help. Are you ready to close this issue?

[2019-09-30 17:16] joshmouch commented on #41399
@Gnbrkm41
I must be missing something here with not seeing a `GetRaw` or `WriteRaw` method.  It seems odd that this is so hard to write an object serialized outside of the handful of limited methods exposed by `Utf8JsonWriter`.

[2019-09-30 17:24] nkolev92 commented on #41390
It's a fall out from deterministic and this bug is being hit. https://github.com/NuGet/Home/issues/7001

We'll fix that in the next NuGet release.

[2019-09-30 17:29] davidsh commented on #41441
I was able to sync the latest 'master' branch and rebuild fine.

I have cmake version 3.11.4.

[2019-09-30 17:32] scalablecory commented on #41441
Closing as duplicate of https://github.com/dotnet/corefx/issues/41077

This is a cmake bug that has been fixed for CMake 3.15. We are waiting for them to make a new release.

[2019-09-30 17:32] #41441 closed

[2019-09-30 17:32] jasonmalinowski commented on #41405
Regrading suppression analyzers: the potential tricky bit we need to be careful with is whereas you can perhaps suppress warnings from the compiler, that won't actually impact the flow state the compiler is producing, which may still cause strangeness in the IDE when we are calling semantic APIs. It's just something to think about carefully: we've already had places where the only "output" from th

[2019-09-30 17:33] adamsitnik commented on #40674
https://github.com/dotnet/coreclr/pull/26759 and https://github.com/dotnet/coreclr/pull/26621 combined together have fixed this problem.

Fun fact: while working on improving the performance of StartsWith on Linux we have found and fixed an 18 year old bug in ICU https://github.com/unicode-org/icu/pull/840 ;)

[2019-09-30 17:33] #40674 closed

[2019-09-30 17:34] steveharter commented on #41433
This is by design for collections that don't have a setter. To avoid issues with adding to pre-populated collections (that the serializer doesn't instantiate) the deserializer uses "replace" semantics which requires the collection to have a setter.

However if there is no setter (as in your case) https://github.com/dotnet/corefx/issues/39477 is tracking that feature.

[2019-09-30 17:34] #41433 closed

[2019-09-30 17:38] steveharter commented on #41427
cc @layomia it appears that deserialization only works for one additional level of inheritance with generics.

[2019-09-30 17:43] CyrusNajmabadi commented on #41405
I think it still has to be the defacto best practice.  That API can't change, so it's always going to behave this way.  It's the easiest, fastest and most consistent way to get hashcodes/equality for all types.

[2019-09-30 17:46] #34892 closed

[2019-09-30 17:52] jasonmalinowski commented on #41405
Should we be adding !s then to supress the warnings?

[2019-09-30 17:53] joshmouch commented on #41399
Here's a working converter.  I couldn't find a way to use JSON.Net to do the serialization inside a System.Text.Json converter, but for some reason the following code works.  It's probably pretty slow, since it goes through the Serializer for each property.

[code]

[2019-09-30 17:54] danmosemsft commented on #41437
@Roman-Blinkov I believe you use the Feedback Hub tool (at least in Windows 10) and choose the category "Developer Platform"

I'm going to close this now but please do post back if you get a resolution.

[2019-09-30 17:54] #41437 closed

[2019-09-30 17:55] danmosemsft commented on #41437
Although @stephentoub perhaps we should change to (800, 270) ..

[2019-09-30 17:58] danmosemsft commented on #41437
@Roman-Blinkov also if you have a support contract then you can report it through there.

[2019-09-30 18:27] wfurt commented on #31749
this almost looks like you mixing http and https @ramakrishna578. I would suggest to do packet capture with Wireshark.

[2019-09-30 18:34] nechvatalp commented on #41203
I tested this and was able to reproduce it but only on 2.2.
.NET Core 3.0 seems to work as expected.

![capture](https://user-images.githubusercontent.com/38288693/65905783-7f925300-e3c1-11e9-97a6-506bfc097c26.png)

[2019-09-30 18:34] krwq commented on #18012
@danielmeza package version sounds correct to me so I think we will need to do some extra work for this to work on Android.
I'm not sure where this specific error is coming from since the message is not exactly correct (Unix is supported as well) - I suspect this is auto-generated somewhere.

I believe the only work which would need to happen here is to upgrade RIDs (runtime identifiers) here:
htt

[2019-09-30 18:39] wfurt commented on #18012
can we force linux-x64 rid for the package?

[2019-09-30 18:43] nechvatalp commented on #41203
Seems like this was fixed in #32945

[2019-09-30 18:46] CyrusNajmabadi commented on #41405
@jasonmalinowski I guess so?  Since htis is a case where the code is 100% correct, but the compiler is complaining.  Seems *really* ugly though that the right code that users should be writing is expected to have `!`.  Hopefully, less people will see this though as `System.HashCode` becomes more widespread and doesn't need any suppression.

[2019-09-30 18:46] krwq commented on #18012
@wfurt possibly but we still need to test it somehow

[2019-09-30 19:01] davidsh commented on #41203
Thanks for verifying it was fixed in .NET Core 3.0. There are no plans to backport this fix to .NET Core 2.x.

[2019-09-30 19:01] #41203 closed

[2019-09-30 19:11] safern commented on #41442
cc: @ahsonkhan

[2019-09-30 19:11] safern commented on #41439
cc: @JeremyKuhne

[2019-09-30 19:13] safern commented on #41421
cc: @ahsonkhan

[2019-09-30 19:14] wfurt commented on #41080
It seems like there is already some code trying to deal with pairing and note about rename to file out of watched path.

If testing strongly suggest that "normal" rename  always comes together  we can possibly disambiguate multiple renames and simply not provide final path. It seems like kernel does provide such info but I see posts about same struggle.

We may need `kFSEventStreamCreateFlagWatchR

[2019-09-30 19:27] jasonmalinowski commented on #41405
So if we think the long term goal is to use System.HashCode then we should just update the feature to use that; that'll actually solve @jnm2's original concern that if you have code using nullable and you're generating new types, that you run into this issue. There's of course still the question about what to do when upgrading code -- maybe the answer there is we also just offer a fix to upgrade t

[2019-09-30 19:32] sharwell commented on #41405
We already do that, but only if `HashCode` is available. In @jnm2's case, it's not available in the targeted framework.

[2019-09-30 19:34] CyrusNajmabadi commented on #41405
I already did :D

[2019-09-30 19:36] CyrusNajmabadi commented on #41405
Yes, i would be fine with that.  I still think it's busted to complain and force users to suppress for a pattern which is known to be 100% correct, but which is only marked as incorrect to match docs that have never been correct.  Effectively:

1. the warning is wrong and only adds noise.
2. the user must take extra steps to suppress.

Everything here just serves to be noisy to the user.  The wors

[2019-09-30 19:38] CyrusNajmabadi commented on #41405
@jasonmalinowski  https://github.com/dotnet/roslyn/issues/38959

[2019-09-30 19:40] MattGal commented on #41359
Sorry I've been away and ill.  I think LFS is now supported everywhere we push repos, but the concerns of this thread are still valid.  If you want help setting up an experiment though, feel free to ping me offline.

[2019-09-30 20:18] joshudson commented on #41432
So I've been in communication with the musl guys; I don't think they're going to anything useful in any short amount of time so `syscall(SYS_setuid,0)` it is.

[2019-09-30 20:24] TylerBrinkley commented on #25756
@stephentoub @karelz Could you reopen this issue since #16010 was rejected? As I specified above, my proposal doesn't suffer from many of the issues that the other proposal had.

[2019-09-30 20:26] stephentoub commented on #41405
I really wish you wouldn't make such claims.

The docs are correct.  These are abstract methods, and the docs are stating that these abstract methods may throw if provided with null input.  They have always said so.  Anyone overriding these abstract methods is free to not accept null input and throw instead.  The fact that the implementations returned from `EqualityComparer<T>.Default` do not is a

[2019-09-30 20:39] CyrusNajmabadi commented on #41405
Bold is on **may**.  It's really unclear to me how one is supposed to know that this is a `may` and not a `must`.  Is that just the way that bcl docs work?  To me, it doesn't read that way at all.  When it says:

[code]

I view that as a: this **must** happen, not it **may** happen.

[2019-09-30 20:41] scalablecory commented on #25756
@TylerBrinkley I don't know if we get enough value from this for it to make sense. It seems like a lot of async code does not have this kind of concurrency.

[2019-09-30 20:46] CyrusNajmabadi commented on #41405
In that case, i think the defacto behavior should now override the docs and the docs should be updated to say that no claim can be made about what these APIs do.

I think it's *more* confusing for users to now be told there's a problem (causing them to think that they may need to update things), versus having them not be told anything.  it's a reflection in the nullable annotation of the reality o

[2019-09-30 20:56] stephentoub commented on #41405
Yes.  For example, the docs for Stream.Position state:
https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.position
[code]
but then you have types like this in Roslyn:
https://github.com/dotnet/roslyn/blob/6d0032015e8533aa18c6de3e4d3ef4c7dad294c8/src/Compilers/Core/Portable/Text/SourceTextStream.cs#L72
or this in ASP.NET:
https://github.com/aspnet/AspNetCore/blob/68dcbe39906d50c31f934b5f6

[2019-09-30 20:59] CyrusNajmabadi commented on #41405
I don't see it.

When i read:

[code]

I read that as:  `NotSupportedException` is thrown *when* `The stream does not support seeking.`.  So if the stream supports seeking, clearly you won't get that.

In this case though, the docs are not:

[code]

It's just:

[code]

Which i read as:

`ArgumentNullException` is thrown *when* `The type of obj is a reference type and obj is null`

--

There's no c

[2019-09-30 21:04] stephentoub commented on #41405
Please look at my examples again. Both return false from CanSeek.

[2019-09-30 21:06] CyrusNajmabadi commented on #41405
I did :)  My point is that the docs mention that the throwing is *contingent*.  Not necessarily on a specific property, but just contingent in general.  I've always read things like the NullRef exception as non-contingent docs.  It's def new to me to actually rethink how i read something like that (and personally, is quite surprising)  :)

[2019-09-30 21:13] stephentoub commented on #41405
I'm sorry, I don't understand the distinction you're making.

With Stream.Position, the docs state that a NotSupportedException may be thrown when CanSeek is false. But some implementations don't throw and instead return successfully.

With EqualityComparer.GetHashCode, the docs state that an ArgumentNullException may be thrown when null is passed. But some implementations don't throw and instead

[2019-09-30 21:27] Clockwork-Muse commented on #41439
Note that you're subject to race conditions, since authorization status may change by the time you attempt to create the `FileInfo` (among possibly other things).

I dislike boolean results for situations like this, because I generally want to know _why_ it's invalid.  If we want to avoid the exceptions, perhaps a DU would be better, [like in Rust](https://doc.rust-lang.org/std/fs/struct.OpenOptio

[2019-09-30 22:03] danmosemsft commented on #41439
@Clockwork-Muse this https://github.com/dotnet/corefx/issues/34221 isn't what you're asking for, but it could possibly form the basis of such information.

[2019-09-30 22:06] CyrusNajmabadi commented on #41405
I see what you're saying now.  I thought the docs were specifically about setting.  it does seem like that would be another case i would view the docs to be odd/in conflict with reality.

You're correct here.  The both seem to be cases where the docs do not reflect reality for me.  My preference would be to expand and fix them in both cases.

For example, say we added some sort of new language fea

[2019-09-30 22:10] CyrusNajmabadi commented on #41405
TLDR.

If, as you say "the docs are stating that these abstract methods **may** throw" then i view `DisallowNull` as inappropriate.  `DisallowNull` should be for cases where, well... `null` is `disallowed`.  Not for caes where null is sometimes allowed and sometimes disallowed.

[2019-09-30 22:20] KrisJohnstone commented on #41444
The problem hasn't been resolved. I still get 405 - Method Not Allowed :(

In my last post I verified:
- If it was a auth issue with azure devops then the expected outcome would be the same as in my test in YaRC I'd have thought, which would be a http status code of 203.
- That the URL in the request was the same in both screen grabs.

[2019-09-30 22:46] safern commented on #41334
I already provided @mairaw with the drop so I will close this.

[2019-09-30 22:46] #41334 closed

[2019-09-30 23:06] eiriktsarpalis commented on #40773
There's also the possibility of using `System.Runtime.Loader` in cases where the sole motivation is isolation of statics.

[2019-09-30 23:20] Clockwork-Muse commented on #41439
🤷‍♂

I'm mostly ambivalent about Exceptions vs ErrorReturnTypes, I just wish C# would move "expected" errors fully into one or the other.

[2019-09-30 23:20] gafter commented on #17233
I don't understand.  Unicode has no concept of an invariant mapping (i.e. one that that fails to follow the evolving Unicode standard).

[2019-09-30 23:22] am11 commented on #18012
Although linux is currently the whitelisted RID [for System.IO.Ports project](https://github.com/dotnet/corefx/blob/6f82bd59a05ea9556397596ae9e59f39b904b222/src/System.IO.Ports/src/System.IO.Ports.csproj#L5), it somehow works on Alpine (linux-musl-x64) through RID inheritance, but not Android (both are derived from linux in `Microsoft.NETCore.Platforms/runtime.json`).

---

While testing with a si

[2019-09-30 23:28] jkotas commented on #40773
It should be safe to bet ok that we will change the behavior. The plan for UAP is not 100% agreed upon yet, but the likely outcome is:
- We are going to get rid of this and other uap quirks and unify with mainstream .NET Core
- UAP TFM as it exists today will disapper. UAP is going to be yet another Windows flavor that we test on (e.g. similar to Windows Nano)

This does not work for CoreLib where

[2019-09-30 23:32] #41361 closed

[2019-09-30 23:50] krwq commented on #18012
I've just talked with @Anipik offline and he might have some clues about this.

[2019-09-30 23:56] btecu commented on #41383
@ahsonkhan I'm not sure if this is @VassilAtanasov's need, but how would you go about selecting a default naming policy?

Currently in JSON.NET:
[code]

[2019-10-01 00:58] ahsonkhan commented on #39477
From chenyj796 in https://github.com/dotnet/corefx/issues/41433

[2019-10-01 01:00] ahsonkhan commented on #41436
Here's the document that talks specifically about overriding DateTime behavior via converters:
https://docs.microsoft.com/en-us/dotnet/standard/datetime/system-text-json-support

[2019-10-01 01:25] joshudson commented on #41432
Got setup instructions for a musl libc build? They have a posix_spawn extension that fixes this outrhigt. http://git.musl-libc.org/cgit/musl/tree/src/process/posix_spawn.c

The extension kinda makes this even easier. `#ifdef FDOP_CHDIR`

[2019-10-01 01:37] GrabYourPitchforks commented on #17233
I'm using the term "invariant" to mean "simple" case mapping in a culture-agnostic fashion. This mapping is subject to change depending on which version of the Unicode Standard is pulled in by System.Private.CoreLib.dll. Check out my comment at https://github.com/dotnet/corefx/issues/41333#issuecomment-535274401 for more details on the proposed behavior of these APIs.

[2019-10-01 01:40] scalablecory commented on #41444
When we get a 3xx redirect, we clear out the Authorization header for security. To work around this, I would set your URL to one not requiring a redirect. Alternately, you can set `SocketsHttpHandler.AllowAutoRedirect = false` and manage the redirect yourself.

[2019-10-01 01:54] vslee commented on #41443
Nevermind, I realized that the exception is thrown and then caught internally in corefx. It was only showing up due to my "break when thrown" exception settings in VS. I'll close this now.

[2019-10-01 01:54] #41443 closed

[2019-10-01 02:22] btecu opened #41456 "System.Text.Json default date handling"
In JSON.NET you can:
[code]

Is there anything similar in `System.Text.Json`?
If there is not an option to set the default, can it be passed in manually?

Also, what is the default (`Local`, `Utc`, `Unspecified`)?

[2019-10-01 03:14] ahsonkhan commented on #41383
Overriding the "default" naming policy with camel case (or a custom naming policy) can be done in the `JsonSerializerOptions` being passed-in.
[code]

If you want the default policy, just don't set one.

[code]

So, I don't see why there is a need for the default naming policy to be public?

[2019-10-01 03:22] btecu commented on #41383
@ahsonkhan the question is about setting it globally, not passing in every single time.

If the application does a significant amount of serializations / deserializations, I'd like to set it in one place and not have to declare and pass every single time:
[code]

[2019-10-01 03:29] ahsonkhan commented on #41421
The built-in JSON stack only processes and accepts valid JSON by default (according to the JSON RFC, which is called out in the underlying `Utf8JsonReader's` documentation which is the workhorse for JSON parsing while deserializing - https://docs.microsoft.com/en-us/dotnet/api/system.text.json.utf8jsonreader?view=netcore-3.0#remarks). There are only a couple of highly requested deviations that we

[2019-10-01 03:37] iSazonov commented on #41439
@Clockwork-Muse My request come from PowerShell globbing (LocalGlobbing) code. The code actively makes many transformations of _path strings_ and do a lot of  allocations. The requested API could help to reduce allocations taking into account that users are actively working with the file system.

[2019-10-01 03:55] ahsonkhan commented on #41132
You shouldn't need to make any public API changes for this issue (but yes, in that case, it would have to go through API review). **The `TryGetBytesFromBase64` method on `JsonString` can be internal.**

As an FYI, for the error you are seeing, you have to expose the public API you are adding from the ref project, build that first, and then build the source/tests project. To re-iterate though, you

[2019-10-01 03:59] joshudson commented on #41432
`posix_spawn` is a dead end. I could detect musl libc by checking for that `posix_spawn` extension but I have a very bad feeling about that.

How would you prefer to detect musl libc? I expect they will actually be documenting which functions you can't call under `vfork()` soon and we're not going to like the result.

[2019-10-01 04:01] SimonCropp commented on #41421
my preference would be to close this issue as "no supported"

[2019-10-01 04:04] ahsonkhan commented on #41383
@btecu, even in the case of using a global, by not setting `PropertyNamingPolicy`, you can implicitly setting it to `Default` without having to explicitly set it to `JsonNamingPolicy.Default` (or set it to null if you really want to). That's why I am asking why the default is **required** to be made public and what scenario is it blocking otherwise. If exposing the `JsonNamingPolicy.Default` makes

[2019-10-01 04:33] btecu commented on #41383
@ahsonkhan this is not much better than inline. Now you need some class where you have a random property `jsonOption` or something like that and you have to remember to pass it every time you serialize or deserialize. This is nothing like what JSON.NET does, where you set it once and you're done, no need to pass any options:

[code]

[2019-10-01 05:07] Gnbrkm41 commented on #39564
the default is to use exact match IIRC. setting it to `null` also does that as well.

[2019-10-01 06:09] Clockwork-Muse commented on #41439
... why do I have a feeling you should be using something like [`Directory.EnumerateFiles`](https://docs.microsoft.com/en-us/dotnet/api/system.io.directory.enumeratefiles?view=netframework-4.8)?

If you're hitting a significant enough number of exceptions that it's a performance issue, string transformations themselves should also be a concern, yes?  Given that it's generally throwing that's expen

[2019-10-01 06:45] MrZoidberg commented on #37044
@karelz I experience this problem with .net core 2.2. Is it possible to get private libs to test the backport?

[2019-10-01 06:55] idlerboris commented on #41380
Thank you for your detailed answer! But, I know about representations of float/double, I just don't understand what is the difference between `ticks / 10000000.0` and `ticks * (1.0 / 10000000)` and why it helps here. I suppose it's because there are 1 vs 2 operations with doubles but don't have any knowledge of how the error is increasing by the number of operations.

[2019-10-01 06:56] noahfalk commented on #41440
Thanks for the report @zhiweiv !

[2019-10-01 07:51] iSazonov commented on #41439
It is only my guess. I don't know what P/Invoke is best for the case.

The PowerShell LocationGlobbing code is very complex and is very sensitive. Incredibly hard to change anything there without breaking changes. Welcome to PowerShell repo if you want to challenge this difficult task! :-)

[2019-10-01 08:18] eugenesmlv commented on #30261
Hi! I would like to take this issue as my first contribution. Is it still open?

[2019-10-01 08:58] Saancreed commented on #41444
Right, it looks like you were redirected because you tried to access the resource with http protocol. As a workaround you could try sending the request to `https://dev.azure.com` so you don't get redirected at all.

[2019-10-01 09:32] Timovzl opened #41458 "LangVersion latest ignores C# 8"
The interpretation of `<LangVersion>latest</LangVersion>` ignores C# 8. Instead, C# 7 is selected.

Tested in both `netcoreapp3.0` and `netstandard2.0` projects.

While I'm aware that the `netcoreapp3.0` project could simply omit the `LangVersion`, this still looks like incorrect (and counterintuitive) behavior. In practice it's annoying for existing project templates and for projects being upgrad

[2019-10-01 09:38] Timovzl commented on #41458
Heh. Despite a Clean and Build, it appears the IDE was lagging. I'm not seeing the issue anymore.

[2019-10-01 09:38] #41458 closed

[2019-10-01 09:56] janvorli commented on #41432
My current thinking is that we should probably do what you did in the emergency patch you've linked above. That means use `fork` when the credentials need to be set. Trying to be clever and depend on various details that are not part of the spec is a dangerous road.
We may want to do the same thing for glibc.

[2019-10-01 10:19] Firefly74940 opened #41459 "System.Text.Json crash on deserializing invalid json"
with the following structure deserializing invalid json ( see end of issue ) crash instead of using appropriate exeption
[code]

logic used :
[code]

Actual result : Null ptr exeption :

Expeted result :
use of System.Text.Json.JsonException . with message like
`System.Text.Json.JsonException : ''"' is an invalid start of an object Array. Expected a '{'. Path: $.ItemTypes[0] | LineNumber: 4 | Byte

[2019-10-01 10:33] Roman-Blinkov commented on #41437
You asked @stephentoub but here my opinion:
I think **no**, because such change can **break something much more important** than sound in RDP.

Yesterday I submitted issue to Feedback Hub as you recommended.
Thank you!
Have a good day!

[2019-10-01 10:38] Simon-IT commented on #41441
The issue remains for CMake 3.15.3.
@davidsh What VS version have you ?

[2019-10-01 11:10] tbolon opened #41460 "Microsoft.XmlSerializer.Generator does not work when using multiple targetframeworks"
When using Microsoft.XmlSerialization.Generator version 2.1.0 package, with the following csproj:
[code]

The generation fails with the following error:

[code]

Switching to a single TargetFramework resolves the problem (either netstandard or netcoreapp).

[2019-10-01 11:12] tbolon commented on #41460
Example which works:

[code]

Output:

[code]

[2019-10-01 11:18] tbolon commented on #41460
Edit: it seems that the `<DotNetCliToolReference Include="Microsoft.XmlSerializer.Generator" Version="2.1.0" />` is required when building with multiple target frameworks... Can't understand why.

[2019-10-01 12:01] tbolon commented on #41460
Forget about this issue for now. Our scenario is more complex than that, and I need to discover how this tool really works before raising a new issue if necessary.

[2019-10-01 12:01] #41460 closed

[2019-10-01 13:00] stephentoub commented on #41405
These were just two examples.  There are many cases where the docs call out situations in which an exception may be thrown, but an exception isn't always thrown in these cases.  In fact, these things evolve; while any change is potentially breaking, we do not consider it a breaking change to convert a situation that was previously throwing into one that's no longer throwing, and often when we do s

[2019-10-01 13:06] stephentoub commented on #41432
I agree with @janvorli.  The `vfork` change from https://github.com/dotnet/corefx/pull/33289 was purely an optimization, one I was concerned about at the time.  If it's causing problems, we should either revert the change wholesale, or be very generous in where we choose to use `fork`, only using `vfork` in situations we're 100% sure we will never see another problem.

And we should aim to service

[2019-10-01 13:22] jnm2 commented on #41405
What makes it a binary breaking change to return a derived type from `EqualityComparer<T>.Default`?

[2019-10-01 13:24] ugavnholt commented on #40704
Danish characters æ. ø, and å have the same issue, I would assume that Swedish, German, Norwegian and french characters will have the same problem.

The following test show what fails:

[code]

Default encoder should work with any language, otherwise its a serious flaw if everybody have to use the `JavaScriptEncoder.UnsafeRelaxedJsonEscaping` encoder, and do manual ancoding for all possible langua

[2019-10-01 14:04] stephentoub commented on #41439
Might have missed it, but how does the proposed API differ in behavior from `File.Exists(path)`?

[2019-10-01 14:12] stephentoub commented on #41431
No

If the developer writes:
[code]
then the `T` is already non-nullable.

If the developer explicitly writes:
[code]
then they're explicitly specifying a `T?`, presumably because they want to pass this `IEnumerable<T?>` off to something that needs that type.

I see very little upside and concrete downside (composition scenarios where the supplied `T` may be nullable) to making the proposed change

[2019-10-01 14:35] joshudson commented on #41432
If glibc needed it we would have found it before release. More to the point, I would have found it when I checked the change with a sleep statement in the child for a potential security weakness before submitting it.

[2019-10-01 14:39] iSazonov commented on #41439
@stephentoub The proposed API doesn't check file or directory existence, it should check that the path is in valid format for current file system.

[2019-10-01 14:43] Clockwork-Muse commented on #41439
Because (I assume) the file may not exist.  So a `true` response says everything is otherwise okay, but a `false` response is unhelpful.

[2019-10-01 15:00] aik-jahoda opened #41465 "FileSystemWatcher doesn't notify on linux when file is moved to the watched folder"
### Steps to Reproduce
Move a file to watch folder from outside to thereof. It produces no events.

### Expected Behavior
`WatcherChangeTypes.Created` event should be fired.

### Actual Behavior
No event is fired.

### Environment
[code]

### Example Project

[FSWatcherMacCore.zip](https://github.com/dotnet/corefx/files/3676996/FSWatcherMacCore.zip)

[2019-10-01 15:05] xav-stargate opened #41466 "ComputeSignature on Linux : OpenSslCryptographicException: error:04075093:rsa routines:RSA_sign:value missing"
Hi,

I would like to know why my code work on Windows and not on Linux.

[code]
[code]
Ubuntu 16.04
Net core : 2.2.402

Thanks everyone :)

[@danmosemsft added formatting]

[2019-10-01 15:24] ViktorHofer commented on #20893
cc @davidsh @wfurt @eiriktsarpalis happened again in master: https://dnceng.visualstudio.com/public/_build/results?buildId=371143&view=ms.vss-test-web.build-test-results-tab&runId=11295054&resultId=176777&paneView=debug

Configuration: `netcoreapp-Windows_NT-Release-x86-Windows.10.Amd64.Client19H1.Open`

[code]

[2019-10-01 15:33] danmosemsft commented on #40737
@odhanson could you please pick up a 3.0 build in a few days and confirm you are unblocked to release your product now?

[2019-10-01 15:33] #40737 closed

[2019-10-01 15:43] danmosemsft commented on #41068
https://github.com/dotnet/corefx/pull/41202

[2019-10-01 15:43] #41068 closed

[2019-10-01 15:43] danmosemsft commented on #41068
@anipik when merging changes into 3.0 it's good to check that Github closed the issue .

[2019-10-01 15:44] danmosemsft commented on #40968
@cston should this be closed now https://github.com/dotnet/corefx/pull/41261 is merged?

[2019-10-01 15:48] danmosemsft commented on #41248
fixed and ported

[2019-10-01 15:48] #41248 closed

[2019-10-01 15:48] danmosemsft commented on #41403
@safern does this need a 3.0 PR?

[2019-10-01 16:14] ddneilson opened #41468 "Assembly.GetTypes() and Assembly.GetType() differ on netstandard assembly"
# Summary

Note: This is distilled down from a larger code base where we have encountered the problem.

When called on the Assembly for `netstandard`, the results of the `Assembly.GetTypes()` ( https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assembly.gettypes?view=netcore-3.0 ) and `Assembly.GetType(string)` ( https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assembly.get

[2019-10-01 16:33] ViktorHofer commented on #35629
The list of cross-framework serializable types can be found here: https://docs.microsoft.com/en-us/dotnet/standard/serialization/binary-serialization#binary-serialization-in-net-core

[2019-10-01 16:34] ViktorHofer commented on #39975
Can you please open a new issue for that. Thanks.

[2019-10-01 16:41] huoyaoyuan commented on #41431
'IEnumerable<T>' is always 'IEnumerable<T?>' because covariance, so this would not be a problem.

Let me clearify potential usage:
[code]

This seems to be unpopular though.

[2019-10-01 16:45] stephentoub commented on #41431
If T is unconstrained, this would fail with a warning if OfType was constrained to notnull.

[2019-10-01 16:56] davidsh commented on #41441
![image](https://user-images.githubusercontent.com/7684835/65983071-95d7f780-e431-11e9-9bd8-968cceb6156b.png)

If you're still having the problem with that version of CMake, then you should comment/re-open issue #41077.

[2019-10-01 16:57] karelz commented on #37044
@wfurt can you please create a private build against 2.2 for @MrZoidberg to test?

[2019-10-01 17:05] Anipik commented on #41068
okay, its strange that Github didnt close this issue. The issue contains "Fixes ##"

[2019-10-01 17:11] danmosemsft commented on #40978
@Anipik is this still a 3.x issue? I don't know why your PR above didn't resolve it since it says "fixes #40978".

Although reading above it sounds like there's work for 5.0 so this should stay open?

[2019-10-01 17:13] Anipik commented on #40978
yes we need to port the change it to 5.0 as well. i will do that.

[2019-10-01 17:21] Simon-IT commented on #41077
Hi. Form me, the issue remains for CMake 3.15.3.

[code]
Seems the issue is linked to VS 2019 16.4.0 Preview 1.0

[2019-10-01 17:25] safern commented on #41077
That is expected, the fix will be part of CMake 3.15.4 -- I don't know when it is expected to release, but from looking at the Milestone assigned to the issue I filed: https://gitlab.kitware.com/cmake/cmake/issues/19737 that milestone was done yesterday, so the release should be soon.

[2019-10-01 17:25] terrajobst commented on #41166
* The signatures makes sense
* Should also add
[code]
* Making this an extension seems slightly sad; is this the point where we should consider movign `ReadOnlySequence<T>`, `IBfferWriter<T>` into corlib? Can anybody think of scenarios where we'd like those types down?

[2019-10-01 17:25] GrabYourPitchforks opened #41474 "Consider moving ReadOnlySequence and IBufferWriter into CoreLib"
See discussion at #41166 for further information.

[2019-10-01 17:29] CyrusNajmabadi commented on #41405
Could you explain this bit?  Looking at the type, the base impl of GetHashCode is *abstract*.  So it neither supports nor disallows null at all.  it's all up to the specific subclass to decide if they support it or not.

So why not let the subclass declare if they have an issue here, not the base class?

[2019-10-01 17:30] heng-liu opened #41475 "X509Chain.Build failed on Linux(netcore3.0) with OCSP configured"
Encounter an issue on Linux when trying to call X509Chain.Build method on a leaf certificate. The CA has configured OCSP but not CRL.

The ChainStatus has "unable to get certificate CRL".

According to https://github.com/dotnet/corefx/pull/35367#issuecomment-535727309, CRL should not be checked if OCSP responds correctly.

Here are the repro steps:

1.	Download the netcoreapp3.0.zip
[netcoreapp3.0

[2019-10-01 17:30] CyrusNajmabadi commented on #41405
Oh.  that seems wonky.  How does hte base class say "i don't place any restriction"?

[2019-10-01 17:35] CyrusNajmabadi commented on #41405
Tagging @jcouv  on this.  This last bit seems very wonky to me.  If NRT are trying to document the reality of what an API does, it seems weird that we don't have a way for a base type to say "i say nothing about if null is allowed or not" and hten have subclasses say "i allow null" or "i disallow null".  As we can clearly see from this case, this is something that APIs do.  So having no way to exp

[2019-10-01 17:36] stephentoub commented on #41405
By saying the argument is nullable.  But that's not the case here: the base class is explicitly documented to have a restriction, and it is a public type that anyone can derive from and a public method that anyone can override... and anyone who's done so in the past 15-ish years is perfectly within their rights to not have allowed null, per the docs.

[2019-10-01 17:39] wfurt commented on #41320
can you provide more information about certificate, server and OS you running on @ClementeGao? This is not actionable as currently written.

[2019-10-01 17:40] CyrusNajmabadi commented on #41405
Yes.  I agree.  But that would be the *subclass* declaring that it can't take in null.  Having that taint *all* subclasses doesn't make sense to me.  And i mean that in a very literal way.    In english we're saying "impls of this may or may not support null" but then our actual annotation is saying"impls do not support null".  The annotation doesn't match what we're literally saying is actually g

[2019-10-01 17:45] safern commented on #41403
Yes, I will port https://github.com/dotnet/corefx/pull/41419 now

[2019-10-01 17:46] terrajobst commented on #41326
* Should these be `OperationStatus` APIs? We decided not to, because we modeled these overloads after the existing APIs.
* We considered replacing the outed sequence position with an `int`, but slicing with a position is simpler and more performant (because O(1)).
* We should rename `bytesUsedPosition` to just `position`
* Same as #41166: if we move `ReadOnlySequence<T>` and `IBufferWriter<T>` to

[2019-10-01 17:49] terrajobst commented on #31597
We decided to not increment the version, which is why we removed the `AsReadOnlySpan()` overload.

[code]

[2019-10-01 17:50] stephentoub commented on #41405
No, it wouldn't.  We're talking about an abstraction here.  If you use the abstraction, you're subject to the constraints it says may exist for any implementation.  As with any abstraction, concrete implementations are free to provide stronger guarantees, but the abstraction needs to accomodate the behavior of any implementation.

I agree that it would have been better 15 years ago if this API had

[2019-10-01 17:53] CyrusNajmabadi commented on #41405
I totally agree :D    It seems like it doesn't accommodate things here though.  If it placed no annotations on the method, then it would be accommodating the behavior of any impl.   However, it doesn't do that.  Instead, it places an annotation that says *explicitly* that null is *not* allowed.  That feels non-accommodating.

I was under the impression that you didn't think 'oblivious' correctly e

[2019-10-01 17:55] CyrusNajmabadi commented on #41405
This also doesn't make sense to me.  Nullable is not about stating what an API isn't doing.  It should be about stating what an API *is* doing.  This has been borne out with the work we did with TypeScript for example.  It's not valuable to tell people they're doing somehting wrong when they're doing something that has become a defacto standard.  Instead, since no one will break those standards, y

[2019-10-01 17:57] CyrusNajmabadi commented on #41405
Anyways, you're right.  We're going in circles :)  So i'll pull out.  My position is simply: NRT today cannot correctly document the real state of the world here.  So it's better for it to not document than to document rules that conflict with the accepted use of this existing API.

Up to you guys how you want to proceed.  Thanks! :)

[2019-10-01 18:06] wfurt commented on #41275
I could not reproduce it. Can you get packet capture with Wireshark @kristofferpagels?

[2019-10-01 18:12] terrajobst commented on #31807
Given that the nomenclature uses `offset` for `long`-based absolute values and `position` for a `SequencePosition` value, we should be using `GetOffset()`. This also solves some overload issue that only @tannergooding understands 😄

[code]

[2019-10-01 18:18] Anipik commented on #18012
@am11 can you open a new issue with an isolated repro ?
And can you also attach the output info of dotnet --info on the android machine.

[2019-10-01 18:20] terrajobst commented on #31820
* It [sounds like](https://stackoverflow.com/questions/15668623/hsb-vs-hsl-vs-hsv) HSL is different from HSB.
* Given that your sample code uses `GetBrightness()` as the input to `FromHsl`, is it possible that you really meant `FromHsb()`?

[2019-10-01 18:31] wfurt commented on #41214
I did quick check and the output is lame as @JamesWTruher  mentioned. It seems like we are failing on
[code]
So the problem seems to live deeper in Interop/libproc.

cc: @aik-jahoda

[2019-10-01 18:34] wfurt commented on #41207
Also we would need some more specific. This is not actionable as written. It would be great if you can isolate it to some simple repro so it is at least clear what exactly do you use and how.
If you do lot of parallel processing you may watch for ThreadPool size.

[2019-10-01 18:50] terrajobst commented on #32201
After some debate we settled on this:

[code]

This API would throw for invalid names as well as names that weren't systen provided when `prefinedOnly` is `false`.

[2019-10-01 18:54] JeremyKuhne commented on #41439
There is no plausible way to check if a path is 100% valid without actually creating the file/directory. We deliberately removed all of our "guesses" as they weren't always correct and were blocking customer scenarios.

The mounting of disparate file systems within an existing file system is the biggest issue. We'd have to walk through the path to find the lowest-level directory that exists and fi

[2019-10-01 19:00] mklement0 commented on #32201
Thanks, @terrajobst - I think you meant "when `predefinedOnly` is **`true`**".

[2019-10-01 19:03] adaggarwal opened #41481 "Building 3.0 on Arch Linux"
Tracking [#7996](https://github.com/dotnet/core-eng/issues/7996)

[2019-10-01 19:05] terrajobst commented on #32987
The generic sorted list doesn't allow indexing by `int`, however, it does expose a `RemoveAt` method. But we'd have to make sure this plays nicely for cases where custom compares are used that, for example, take into consideration the number of elements and use different sorting.

Right now, we're not convinced the usability and minor performance gains are motivating enough. Feel free to push back

[2019-10-01 19:05] #32987 closed

[2019-10-01 19:11] Tragetaschen commented on #41403
@safern
With regards to the compiler, this looks similar to https://github.com/dotnet/roslyn/issues/18673 (or https://github.com/dotnet/roslyn/issues/27107). The compiler considers the method for overload resolution even though it's not used. At least that's my understanding.

[2019-10-01 19:29] steveharter commented on #41398
The existing design depends on either manual storage of the `JsonSerializerOptions` class or by using the default instance which is in a static variable.

So without caching an instance of the options class, such as a microserve that starts and exits a process on every request, the performance is slow.

Also see issue https://github.com/dotnet/corefx/issues/36640 which could be used to help facili

[2019-10-01 19:34] steveharter commented on #41472
Duplicate of issue https://github.com/dotnet/corefx/issues/38007

[2019-10-01 19:34] #41472 closed

[2019-10-01 19:38] stephentoub commented on #41405
At least we agree on one thing :wink:

[2019-10-01 19:44] jkotas commented on #41166
`System.Text.Encoding` is an abstraction, moreover not a high-performance zero-allocation one (at least today).

Would it be better to flip these API UTF8 and IBufferWriter-centric? Something like:

[code]

[2019-10-01 19:52] steveharter commented on #40449
Setting milestone to 3.1 for consideration.

[2019-10-01 19:52] steveharter commented on #41459
Thanks for creating the issue.  This is a duplicate of https://github.com/dotnet/corefx/issues/40449

[2019-10-01 19:52] #41459 closed

[2019-10-01 20:04] steveharter commented on #41348
Also it should be easy to write a converter for `ISerializable` -- I'll work on a sample.

[2019-10-01 20:18] steveharter commented on #41456
cc @layomia on dates

Since a DateTime can be set in each of those formats (e.g. with and without the timezone\offset), the reader\writer (and thus the serializer) uses what is available and uses\assumes an ISO 8601 format to represent that.

[2019-10-01 20:20] karelz commented on #38564
Triage: Verify the repro if we can reproduce it locally. Then investigate based on results.
If 127s is OS default, we should Won't Fix it.

[2019-10-01 20:24] karelz commented on #38421
Triage: Should be part of overall Uri modernization effort. Sounds like reasonable direction to follow.

[2019-10-01 20:25] karelz commented on #38303
Triage: We should make the tests more reliable.

[2019-10-01 20:32] karelz commented on #37673
Triage: Looks like something we should document that we can throw out of that API `IPGlobalProperties.GetActiveTcpConnections`.

[2019-10-01 20:34] karelz commented on #36824
Triage: Sounds reasonable. We need API proposal.

Is it something you're willing to help with @xforever1313?

[2019-10-01 20:36] karelz commented on #36821
Triage: @szilvaa what is motivation for this? How would you use it in real world scenarios?

[2019-10-01 20:42] CyrusNajmabadi commented on #41405
Note: if it helps, i whipped this up last night:

https://github.com/dotnet/roslyn/pull/38973

So this should maybe help by getting people off of EqualityComparer in the first place.

[2019-10-01 20:43] xforever1313 commented on #36824
Yes, absolutely!

[2019-10-01 20:47] karelz commented on #36030
Triage:
- `IComparable` seems very specific to printing - we think PowerShell can add extension. We do not see how it would be useful to general .NET devs.
- `IsInSubnet` sounds potentially useful. Please break it out into specific standalone API proposal with use cases listed (from general .NET dev point of view).
    - Concern: Passing in string is weird. We do not have general IP mask class. Ho

[2019-10-01 20:47] #36030 closed

[2019-10-01 20:52] stephentoub commented on #41405
Nice.  Thanks.

[2019-10-01 20:56] karelz commented on #34398
Triage: We need proper API proposal - see [API process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) for examples.

[2019-10-01 21:04] #40978 closed

[2019-10-01 21:07] karelz commented on #33506
Triage: We don't believe it is feasible to make it happen in .NET Core.
Given that it is "just" about performance on Linux of legacy protocol (FTP), we do not think it is that painful to not have it.

[2019-10-01 21:07] #33506 closed

[2019-10-01 21:08] karelz commented on #33123
Triage: It may require new API actually.

Only 1 upvote in 1 year, no takers to implement it -- closing.

[2019-10-01 21:08] #33123 closed

[2019-10-01 21:10] safern commented on #41315
The fix for this was merged earlier today in 3.0

[2019-10-01 21:10] #41315 closed

[2019-10-01 21:12] karelz commented on #32301
@fredeil do you have any update / energy to move it forward? (I unassigned you for now)

[2019-10-01 21:14] karelz commented on #31858
Triage: We do not think this belongs into HTTP stack in .NET Core. The demand is low (only 1 vote in last year). Closing.

[2019-10-01 21:14] #31858 closed

[2019-10-01 21:17] karelz commented on #31416
Triage: Seems ok, but requires few APIs to be added and the value is low (only 1 vote in 1 year). Closing.
We can reconsider if/when there are more customers asking for it.

[2019-10-01 21:17] #31416 closed

[2019-10-01 21:21] karelz commented on #31381
Triage: This was a mistake long time ago in the original API design. We have to live with it.
We believe that additional property would confuse things even more.

When/if we ever get to designing new API (e.g. for high-perf), we should keep this in mind and fix this among couple of other unpleasant things in `HttpClient` API surface.

[2019-10-01 21:21] #31381 closed

[2019-10-01 21:21] tannergooding commented on #33768
Closing this in favor of https://github.com/dotnet/corefx/issues/38585

[2019-10-01 21:21] #33768 closed

[2019-10-01 21:24] karelz commented on #30213
Triage: Part of group of similar errors. We should in 5.0 decide if to fix it (and fix it), or close it.

[2019-10-01 21:25] karelz commented on #29951
Triage: Stop building and shipping the assembly altogether.

[2019-10-01 21:27] stephentoub commented on #38585
Example makes sense. Thanks.

[2019-10-01 21:29] karelz commented on #29821
Triage:
@paulomorgado which types exist in `System.Web` and `System.ServiceModel`?
We should consider extending `UriBuilder`.

@paulomorgado what kind of value manipulation do you need and why?

[2019-10-01 21:31] cluetjen commented on #33506
It's absolutely NOT about performance. It's about the fact, that you cannot establish data connections to any FTP server using any .net core library if the FTP server is configured to require session reuse for security reasons. This is the recommended setting for most FTP servers.

[2019-10-01 21:32] karelz commented on #29780
Triage: Networking team is fine to take these APIs for larger review.

[2019-10-01 21:38] tannergooding commented on #36379
@CarolEidt, do you think that the following would be a feasible proposal for handling this?

[code]

As mentioned above, `Vector<T>` is a bit interesting given you don't have a definite known size up from. However, this would "worst case" give you a subset or superset of the register, and users can switch based on `Vector<T>.Count`.

These are extension methods to workaround the current pain point

[2019-10-01 21:41] karelz commented on #29740
Triage:
- We are ok with case-insensivity (that is just a bug fix), also with parsing 2 new formats above (also a bug fix/enhancement) -- we do not need API review for these.
- We are OK with `TryParse` addition -- please create separate API proposal and let's get it through API review or let's reuse this one.
- We recommend to change `ToString` from character to format string (same way as `GUID`)

[2019-10-01 21:44] karelz commented on #29711
Triage: We believe that QUIC protocol (which we are looking into) will supersede DTLS protocol. We may have some APIs exposed for QUIC too, which will fullfill this ask.
Closing as it is not needed to be tracked separately.

[2019-10-01 21:44] #29711 closed

[2019-10-01 21:50] #35898 closed

[2019-10-01 21:50] karelz commented on #29236
@scalablecory can you please check it out?

[2019-10-01 21:52] karelz commented on #29163
Triage: Would be really nice to get it done in 5.0 for diagnostics + react to the upvotes count here.

[2019-10-01 21:56] karelz commented on #28892
Duplicate of #13890

[2019-10-01 21:56] #28892 closed

[2019-10-01 21:59] karelz commented on #39256
Triage: It should be solved by Stephen's #26310 or we will use Ben's #39455.

[2019-10-01 22:56] gary-holland commented on #38074
Hi,

Is JsonPath support for querying the JsonDocument/JsonElement structures still being looked at, as this is a major gap for us shifting from Newtonsoft to system.text.json.

What we need is an equivalent to:
[code]

Something like this would be ideal:
[code]

Thanks.

[2019-10-01 23:01] benaadams commented on #39256
I'd prefer Stephen's as its more generic and wide reaching

[2019-10-01 23:05] benaadams commented on #39256
Though you linked to wrong issue as its a coreclr PR https://github.com/dotnet/coreclr/pull/26310 rather than corefx one

[2019-10-01 23:06] scalablecory commented on #39256
Thanks @benaadams

[2019-10-01 23:30] lafriks commented on #33506
I agree that without fixing this it is not possible to even establish ftps connection

[2019-10-01 23:34] eiriktsarpalis opened #41485 "HttpStress: Automate stress runs"
Forking from conversation started in #41069 per @ViktorHofer's request.

We keep a [standalone console app](https://github.com/dotnet/corefx/tree/master/src/System.Net.Http/tests/StressTests/HttpStress) in the corefx repo which stress tests using the existing sdk. Currently, we run this by manually building corefx and running the suite against compiled bits. We're looking for a way to trigger this

[2019-10-01 23:54] davidmilligan commented on #41428
Well this is the sort of error I would expect to be caught and return false. Yes I agree that TryXXX doesn’t imply that every single type of exception be caught (e.g. OutOfMemoryException), but in this particular situation I simply passed a Type to the TryGetExport that I’m not allowed to get an instance of due to sharing boundary constraints. It’s not really an “exceptional” situation. I just pas

[2019-10-02 00:13] davidmilligan commented on #41428
I came across this issue while I was writing an adapter to use System.Composition with Asp.Net Core's DI framework. The repo is here: https://github.com/davidmilligan/System.Composition.Extensions.DependencyInjection

In particular see [DependencyInjectionProvider](https://github.com/davidmilligan/System.Composition.Extensions.DependencyInjection/blob/master/src/System.Composition.Extensions.Depen

[2019-10-02 00:47] karelz commented on #36824
Cool, here's API process: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2019-10-02 00:57] GrabYourPitchforks commented on #38585
@dotnet/jit-contrib When we last reviewed this we said it would be nice for the JIT to recognize this pattern and to emit more optimal codegen which avoids double-initialization (zeroing followed by assignment to some fields of the union). However, the theory is that it might be too expensive for the JIT to optimize, and we should instead expose an `Unsafe` API for folks who need this behavior. Ca

[2019-10-02 01:02] GrabYourPitchforks commented on #41166
I think it would absolutely make sense to have UTF-8 specific APIs for this. But there are also scenarios where we'd want support for non-UTF-8 encodings, such as in an HTTP web request where the client requests that the response be in an alternative encoding.

The implementation of `GetBytes` / `GetChars` which output to a `Span<T>` or an `IBufferWriter<T>` would be non-allocating for the case wh

[2019-10-02 01:07] davidsh commented on #24514
Fixed with PR #41271

[2019-10-02 01:07] #24514 closed

[2019-10-02 01:10] CarolEidt commented on #36379
This looks good to me. I think it is quite reasonable to truncate or zero-extend for the `Vector<T>` case.

One thing I'd like to see us do is to code up some tests and/or micro-benchmarks to ensure that these really are zero-cost. It was a bit disappointing to me that we have cases like #24912 where what should be zero cost actually isn't quite (still hoping to address that one).

[2019-10-02 01:29] GrabYourPitchforks opened #41487 "API proposal: StringSplitOptions.TrimEntries"
How many times have we all written the below code?

[code]

Even just a cursory search of our own Framework reference sources shows that this is a common pattern:

 * https://referencesource.microsoft.com/#mscorlib/system/enum.cs,434
 * https://referencesource.microsoft.com/#mscorlib/system/AppContext/AppContextDefaultValues.cs,122
 * https://referencesource.microsoft.com/#PresentationFramework/sr

[2019-10-02 01:32] hyspace commented on #38421
@karelz Could you provide more information about plan of "Uri modernization"?

[2019-10-02 01:36] CarolEidt commented on #38585
Let me first make sure that I understand the scenario:
- A struct local, `s`, is fully assigned, but is not recognized as such by the JIT because its fields overlap, or its fields have not been promoted for some other reason.

I don't think it would be terribly complicated (implementation-wise) to have the liveness analysis coalesce adjacent partial stores to fields of the same struct (assuming th

[2019-10-02 02:02] stephentoub commented on #41368
This is starting to hamper people's productivity. Anything we can do to help make progress?

[2019-10-02 02:06] tannergooding commented on #38585
The scenario is that, by default you, get 2 initializations of a given struct:
* By default, the JIT will zero locals
  * This will be addressed by the `SkipLocalsInitAttribute`
* C# requires all fields of a struct to be definitely assigned
  * This can partially be addressed by taking the address of a field, but is not zero-cost

However, when you have a `union` struct, any byte of memory can be

[2019-10-02 02:07] karelz commented on #38421
@hyspace we don't have more information or plans at the moment -- we just know we need to modernize the space, fix bugs, look at new standards, etc.

[2019-10-02 02:19] karelz commented on #33506
Good point, we missed it in triage. Thanks for clarifying.
Either way, given that it is extremely difficult on Linux and nobody expressed interest to implement it in quite some time, I think it is ok to keep it closed.

If we see even higher business need (customer upvotes are currently at 4), we may reconsider in future.

While it makes me a bit sad, I think it is the right call given other areas

[2019-10-02 02:41] FeodorFitsner opened #41488 "Building .NET Core 3.0 RTM on FreeBSD"
I hope this is the right place to ask.

As .NET Core 3.0 matured to RTM are there any works to have an official distro for FreeBSD or at least building guidelines? Right now, top google result is [Building .NET Core 3.x on FreeBSD] guide by @wfurt, but it looks like it's not updated/working with .NET Core 3.0 RTM.

Thank you!

[2019-10-02 02:55] jonwingfield opened #41489 "WCF on Linux - Kerberos Authentication with UpnEndpointIdentity seems to be sending the wrong name-type to the KDC."
Hi,

So I'm really struggling with getting a .NET Core app running on Linux because of Kerberos. The app is a client that is communicating with a WCF service running on a windows server. The Service runs under a service account, so the client specifies a UpnEndpointIdentity. This works great on windows, but when trying to run it on Ubuntu, I'm getting GSSAPI errors. Specifically this:

I'm no Kerb

[2019-10-02 03:00] davidsh commented on #41489
We made a great deal of fixes for Kerberos related scenarios in .NET Core 3.0. These fixes are not all backported to .NET Core 2.1/2.2.

I suggest you try .NET Core 3.0 to see if it works better.  However, we still have some limitations with UPNs compared with our SPN support.

Also, in order to fully diagnose this, please attach a repro client/server solution so that we can try it out.

[2019-10-02 03:12] jonwingfield commented on #41489
Hi @davidsh and thanks for the quick response. We're on .NET Core 3.0. We noticed a lot of changes for Windows Auth in 3.0 so we immediately upgraded.

I'll work on getting a repro put together. In the meantime, should we try `SpnEndpointIdentity` as a workaround? That seems like a reasonable option?

[2019-10-02 03:23] GrabYourPitchforks commented on #41474
To be clear, as of this writing nobody has yet agreed that this is the preferred course of action. This issue is meant to track discussion about a proposed move. The proposal comes from the fact that we're seeing many more buffer related APIs come through review. This normally implies that there might be merit to moving the relevant types further down in the stack.

[2019-10-02 03:28] davidfowl commented on #41474
Adding my +1.

[2019-10-02 03:42] CarolEidt commented on #38585
Right, that was the alternative I was describing. It involves the JIT understanding that the struct is "fully assigned" by a contiguous string of assignments. Of course, it would only cover the scenario where those assignments are contiguous, and would probably require a small amount of additional analysis - the costly part (throughput-wise; I don't think it's hard to implement) would be recognizi

[2019-10-02 03:44] CarolEidt commented on #38585
This is a more complex scenario, where the JIT would need to determine that the "unused" bytes do not correspond to any of the declared fields. It handles that case for non-overlapping structs; I'm not sure how much more complex it would be for overlapping fields. However, if the scenario includes the case where actual declared fields are not covered by the field assignments, then there's really n

[2019-10-02 03:44] carlreinke commented on #32987
@terrajobst The existing [`SortedList<TKey, TValue>.RemoveAt(int)`](https://github.com/dotnet/corefx/blob/dcc9f626eeb0751d4ba4499f623aac42d2e95c10/src/System.Collections/src/System/Collections/Generic/SortedList.cs#L696-L715) doesn't take any unusual sorting scenarios into consideration -- those scenarios are for hashcode-based collections, not for sorted collections.

[2019-10-02 04:06] davidsh commented on #41489
Yes, that would be a good workaround potentially.

Also, please show a KRB5_TRACE for your application. It will show useful output.

[code]

[2019-10-02 04:08] davidsh commented on #41489
cc: @mconnew

[2019-10-02 04:16] Thaina commented on #33938
I wish that this should be extension method

So we could write `obj?.SomeStringProperty?.NullIfEmpty()`

[2019-10-02 04:17] terrajobst commented on #32201
Correct. I've fixed the comment.

[2019-10-02 04:19] jkotas commented on #41166
Agree, that's why I have two overloads in my sketch above.

[2019-10-02 04:22] iSazonov commented on #41439
@JeremyKuhne It is absolutely clear that there is no general way to verify the validity of a path. My request is not general. It is specific for the PowerShell specific scenario - exclude allocations in the formal check (and maybe speed up it). I even think that the name (Path.IsValid) should be different so as not to mislead users.

[2019-10-02 04:38] GrabYourPitchforks commented on #41166
Ah, sorry, misinterpreted your suggestion. @davidfowl, would a UTF8 specific helper be beneficial for your scenarios? We could even make that one OperationStatus based if you want.

[2019-10-02 04:41] iSazonov commented on #29740
@karelz I believe we could move the case-insensivity (that is just a bug fix) to new issue and leave TryParse and ToString here for follow API review.

ToString proposal was updated to format string like `GUID`.

[2019-10-02 05:05] KrisJohnstone commented on #41444
Hey Guys,

Yes solved. The issue was my appSettings file wasn't being copied to the bin folder so still had a non https link :(

Thank you for the assistance, apologies for the rookie error.

[2019-10-02 05:05] #41444 closed

[2019-10-02 05:12] fredeil commented on #32301
Hi @karelz! I did try to solve this a few times.

The findings was a bit odd, often the results would print out just fine when debugging the code (walking through literally every step) and when running it without a debugger it would yield the wrong results.

Whenever I found a solution that produced the right results on every run for this particular problem something else would break.

I would sti

[2019-10-02 05:35] tannergooding commented on #38585
Right, and this case is actually fairly common. For example, it isn't uncommon to have a struct definition like the following:
[code]

The `Type` field tells you which of the three union fields you should be accessing. So, if you were a `D3D12_RESOURCE_BARRIER_TYPE_UAV`, you would only be accessing one pointer, leaving up to 12 bytes never touched (as there is no field aliasing them under `UAV`).

[2019-10-02 05:36] tannergooding commented on #38585
The above pattern comes up all the time in interop code; including for things like DirectX, Vulkan, Win32, Xlib, etc

[2019-10-02 05:44] idlerboris commented on #41380
Thank you!

So, what about the original problem? Does it make sense to change multiplying by `(1.0 / TicksPerSecond)` on dividing by `TicksPerSecond` to improve precision for integer milliseconds cases? For me, it looks like a very tiny change that will restore the same behavior (as it was before core 3.0). I'm not sure, should I create a pull request or it's enough to have this issue and you guys

[2019-10-02 05:47] tannergooding commented on #41380
I believe it makes sense. In general, ensuring accurate results should probably be the goal. @Anipik, any thoughts?

[2019-10-02 05:51] steji113 commented on #8382
Is this something that would still be beneficial for the `BinaryReader` / `BinaryWriter`? Or would it be more prudent to introduce a more efficient type akin to what was proposed in #24180? I think we have a lot of the appropriate building blocks for efficiently writing to buffers, but there is still some assembly required, notably when working with Spans as mentioned in the linked issue.

/cc: @d

[2019-10-02 05:51] Anipik commented on #41380
yeah i agree with tanner that ensuring accurate results should be the first goal.

@idlerboris  feel free to throw up the PR  to fix this. you will have to make the change in Coreclr repo. You should also add the tests in the corefx repo.

The change is good for master,  i dont think it meets the criteria for 3.0.1 or 3.1. @tannergooding should we keep the change restricted to the master branch ?

[2019-10-02 06:00] tannergooding commented on #41380
I think just master is likely fine for now and we can discuss tomorrow if this should go for an initial bar check on 3.1 or if it should wait for additional feedback.

[2019-10-02 07:16] orip commented on #29660
FYI there's specific mention of a missing salt and test vectors both an empty salt and missing salt. From the [RFC](https://tools.ietf.org/html/rfc5869):

[code]

[2019-10-02 08:14] dnickless opened #41491 "System.Composition.ImportAttribute cannot be used on fields"
I am getting some compilation issue after updating an older codebase to System.Composition.

![image](https://user-images.githubusercontent.com/985774/66028363-3b0bd200-e4fd-11e9-88a1-b9a7da8507ba.png)

Is it possible that `AttributeUsage.Field` should be added to the declaration here?

https://github.com/dotnet/corefx/blob/dcc9f626eeb0751d4ba4499f623aac42d2e95c10/src/System.Composition.Attributed

[2019-10-02 08:26] paulomorgado commented on #29821
In `System.Web` you can find [`System.Web.HttpValueCollection`](https://referencesource.microsoft.com/#System.Web/HttpValueCollection.cs).

If `HttpValueCollection` was public and all it's issues were fixed, it could be used besides `UrlBuilder` like it is on `System.Web`.

Or maybe it's a set of parsing and rendering extension methods on `NameValueCollection` would be enough.

[2019-10-02 08:28] FinexTech commented on #41207
Here are some observations:
- We updated our code base to use netcore 3.0. This step improved performance twice but we still experienced load spikes.
- We changed linux (centos) kernel from 3.x to 5.x. This change removed all spikes and machine utilization became smooth. It improved performance drastically.
- We did some changes to linux network configuration: extended local port range, decreased

[2019-10-02 08:42] ViktorHofer commented on #41485
Which ones? Asking to determine if we should use helix here. cc @safern

[2019-10-02 08:44] fredeil commented on #32301
This also happens only when stepping with the debugger through the code, runs fine when just executing without debugging

![Capture](https://user-images.githubusercontent.com/17533404/66030362-7a3c2200-e501-11e9-92d2-667991c4e275.PNG)

[2019-10-02 09:21] hernot commented on #32987
Hi

Inline Response (answers below questions asked)
Message sent on Dienstag, 01.10.2019, 12:06 -0700 by Immo Landwerth:

Hm. Let me think about it. In a first thought, i would consider such a
comparer mixing parameters intrinsic to the elements to be sorted with
those of the resulting sorted list as a bad or broken design. At least
i did not come across any use case where i would have needed that

[2019-10-02 10:28] poke commented on #31820
Yes, HSL and HSB/HSV are different.

I would suggest following the [CSS standard](https://drafts.csswg.org/css-color/#the-hsl-notation) on this for maximum compatibility with existing tools and experiences. CSS uses HSL, and the standard specifies `hue` as an integer angle in degrees (by default) with values in the range `[0, 360]` (although values outside that range can be just taken modulo 360).

[2019-10-02 11:29] dehghani-mehdi commented on #36639
Any chance to see example for custom `JsonConverter` for `Dictionary<TKey, TKey>`?

[2019-10-02 12:09] danielmeza commented on #18012
@krwq I investigate this issue, in resume it will only run in Linux with kernel 4.14 since .net core needs this kernel to work properly.

Another reason is that I'm not using .net core as run time but mono instead, so the compilation process is not generating the redirect assemblies for the linux run time so I suppose that if we run a .net core application in a android device with kernel 4.14+ it

[2019-10-02 12:28] mayur-ekbote commented on #41445
Sure. Using Match.Value also fixes this problem. But I was wondering why it worked in 2.2 and stopped working in 3.0. It was a breaking change,

[2019-10-02 13:02] JimBobSquarePants commented on #31820
@terrajobst You're correct, HSL and HSB (HSV) are different color models.

The interesting thing in System.Drawing (pointed out above) is that `GetBrightness()` is actually a [misnomer](https://github.com/dotnet/corefx/issues/17976) and should be `GetLightness()` since within the method it uses the known conversion equation for the HSL "bi-hexcone" model, where lightness is defined as the average

[2019-10-02 13:25] stephentoub commented on #41431
Thanks for the suggestion.  We're going to leave this as-is.

[2019-10-02 13:25] #41431 closed

[2019-10-02 13:32] matthew798 commented on #40881
@tmds Have you had a chance to look into it?

[2019-10-02 13:55] AnthonyMastrean commented on #36030
@karelz I am building networking related apps in .NET Core... having IPAddress and Physical Address sort and compare properly is _extremely_ important.

[2019-10-02 14:05] jonwingfield commented on #41489
Here is the output from KR5_TRACE (I've replaced our domain with Corp.Test.Lcl):

[code]

10.10.7.3 is the KDC. svcAXBCPDV@corp.test.lcl is the UPN that the WCF service is running under, and the UPN we're providing on the client. This matches what I'm seeing in Wireshark almost exactly.

One note: the additional query for krbtgt/test.lcl@test.lcl is strange. That's not happening on windows.

[2019-10-02 14:06] mthalman commented on #41038
@ViktorHofer, @danmosemsft, @terrajobst - Can we get some traction on this?  This is blocking the release of Docker images on this version.

[2019-10-02 14:35] bartonjs commented on #41466
Most likely, it means that `passCert.HasPrivateKey` was `false` on Linux.

* That error means RSA.TrySignHash was called on an RSA key with no private key
* Since you didn't pass an explicit private key object, the key we call Sign on is cert.GetRSAPrivateKey()
* If GetRSAPrivateKey returns `null`, we fall back to GetRSAPublicKey, just so we can get the "there's no private key here" exception mess

[2019-10-02 15:01] AlexanderJohnston commented on #38650
This seriously needs to be documented somewhere, like on the System.Text.Json namespace, in highlighted text. I spent hours trying to track down why it was serializing empty strings while working in a Blazor project.

[2019-10-02 15:05] davidfowl commented on #41166
In some scenarios as a fast path. Today we're still using the encoding types all over ASP.NET Core (and in the broader .NET library ecosystem as a whole). So maybe eventually but as for right now I'm more concerned with adding overloads for IBW and ReadOnlySequence all over the stack.

[2019-10-02 15:54] ericstj commented on #39169
Please try to get symbols published matching the build of SNI that ships in the next release.

[2019-10-02 16:00] ericstj opened #41497 "CoreFx tests cannot use nuget packages with runtimeTargets"
Related https://github.com/dotnet/source-build/issues/1267

I was trying to remove the sni package reference from runtime.depproj and instead just reference it from test projects that required it.  This produced the right information in the project assets file, but unfortunately all native assets were being removed in the final deps file.  This appears to be a bug/unexpected behavior from the Gene

[2019-10-02 16:03] lafriks commented on #33506
@karelz problem is that all ftps nuget packages also suffer from this problem as it quite low level

[2019-10-02 16:12] WilliamSBunin opened #41498 "DateTime.Now returns incorrect time on windows computer when time zone has changed"
# Issue Title

DateTime.Now returns incorrect time on windows computer when time zone has changed

# General

### Details
I was running a windows service created in C# when I noticed my computer was set to the wrong time zone. I switched it to the correct timezone and waited for my service to do something. It did not. I restarted the service and it worked correctly. I created a test app in C# and

[2019-10-02 16:16] rickbrew commented on #31820
I second @JimBobSquarePants' comments. Paint.NET has had a LOT of issues over the years with its color picker due to its support for both RGB and HSV. If more of this is added to `System.Drawing.Color` there _will_ be a lot of tiny bugs that will trickle in over the years, and fixing many of them will break apps relying on whatever buggy behavior is already there. This should probably be a separat

[2019-10-02 16:16] Zermond opened #41500 "Wrong exception of class Bitmap"
# Issue Title

A Wrong exception of class Bitmap

# General

I have a code:

[code]

If a file on path the fileName null or file not found I have an exception:
`Unhandled Exception: System.ArgumentException: Parameter is not valid.`

I had this bug with 3 other ways:
[code]
[code]

And with docker which I get from based images of Microsoft
`FROM mcr.microsoft.com/dotnet/core/runtime:2.1`

[Console

[2019-10-02 16:20] jsmcneal opened #41501 "System.PlatformNotSupportedException raised on System.IO.Ports.SerialPort.GetPortNames()"
I am trying to enumerate serial ports in an UWP application using  SerialPort.GetPortNames() because Windows.Devices.SerialCommunication SerialDevice does not enumerate correctly for my target device (returns null).

UWP Target: Windows 10 1809
Min Version: Windows 10 1809

Windows Enterprise 10.01.18362
MS VS Version 15.9.15
MS .NET Framework Version 4.8.0.03752
Microsoft.Windows.Compatibility Ve

[2019-10-02 16:22] idlerboris commented on #41380
@Anipik
Looks like I don't have the rights to add reviewers (as this section is not editable for me in new PRs). Perhaps, it would be available after tests, or I did something wrong (I tried to follow this one https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/contributing-workflow.md but it doesn't have any info about adding reviewers).

[2019-10-02 16:27] Anipik commented on #41380
@idlerboris the adding of reviewers is restricted to people with write access.
One way to go around is to just cc the reviewers in the comment.

[2019-10-02 16:31] scalablecory commented on #31820
I've also got a large amount of experience with color and generally agree with @JimBobSquarePants that dealing with colorspace conversion is something that should have a library built around it.

If we were designing the `Color` class today I might advocate to not have any HSL operations on it, especially as HSL's promise is a bit of a lie. However, the existing `GetHue` / etc. APIs are not going

[2019-10-02 16:35] SteveSyfuhs commented on #41489
The name-type is only ever really used as a hint in the AD KDC. Can you confirm the `name-string` values actually match between the Windows and Linux requests? Often there's some canonicalization going on or there's a mixup in service type in the SPN.

[2019-10-02 16:40] karelz commented on #33506
I assume they all build on top of our `FtpWebRequest` - in which case I guess there is room for a new one to be created/founded with proper low-level implementation.
If there is decent non-scary solution, maybe we could adopt it into .NET Core one day. Starting outside sounds like the best next step though.

[2019-10-02 16:40] mconnew commented on #41489
WCF can't implement this for the HTTP transport because of a missing feature in HttpClientHandler compared with .NET Framework. The issue I've opened to request this missing feature is #27745. I suggest adding a thumbs up on the first comment to register that you need this. Currently SpnIdentity won't work either. Recently a sort of workaround was added to HttpClientHandler where you can indirectl

[2019-10-02 16:41] karelz commented on #36030
@AnthonyMastrean to help make your case, we will need more information - details on what are the scenarios (not just a specific one), why it is best way, etc.

[2019-10-02 16:49] ViktorHofer commented on #41497
I currently set `RuntimeFramework` manually in test projects: https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.CoreFxTesting/build/Microsoft.DotNet.CoreFxTesting.targets#L39-L50

[2019-10-02 16:50] terrajobst commented on #31820
Alright, given that several experts have raised a lot of concerns I'm confide that we won't be adding these methods then.

[2019-10-02 16:50] #31820 closed

[2019-10-02 17:03] karelz commented on #32301
Glad you liked my talk :)
Sorry that the issue caused you such troubles, we will have someone taking a look hopefully sooner. Thanks!

[2019-10-02 17:04] rainersigwald commented on #40850
No ETA as of yet, but:

* It looks like https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1842382 is the duplicate of the Ubuntu bug that has the most traction
* https://bugs.launchpad.net/kernel-sru-workflow/+bug/1846007 is being used as the fix-tracking bug on the Ubuntu side
* https://launchpad.net/ubuntu/+source/linux-azure/ tracks the validation/promotion of the kernel. This is supposed to

[2019-10-02 17:07] eiriktsarpalis commented on #41485
For the manual runs I've been using Windows, Ubuntu 18.04 and OSX. OSX is a bit complicated because kestrel on OSX doesn't support HTTP2 so I had to target a remote server.

[2019-10-02 17:11] JeremyKuhne commented on #41439
If we're providing the logic you're asking for it is an extended `Exists` (as described) or perhaps adding a `Path.GetAttributes` or somesuch. Whatever we do has to be broadly useful and not infer guarantees that we cannot make.

Another pending "exists" API issue: #19717

[2019-10-02 17:12] lafriks commented on #33506
@karelz problem is not directly in `FtpWebRequest`, at least FluentFTP is not using it but in `SslStream` netcore Linux implementation, so there is not much can be done externally. If only you did not meant to rewrite SSL/TLS in pure C#

[2019-10-02 17:22] ViktorHofer commented on #41485
@safern can you please help @eiriktsarpalis with this?

[2019-10-02 17:29] scalablecory commented on #33506
@lafriks we currently rely on the SSL library to "do the right thing" here -- if OpenSSL has a feature you know if we can enable, that'd be great.

[2019-10-02 17:35] eiriktsarpalis commented on #41485
🙀 🙀

[2019-10-02 17:48] tangsaidi opened #41503 "HttpClient.GetAsync causes the subsequent async method to deadlock"
After I've obtained the result from a `GetAsync()` method, when I try to call `await` on another async method, the program deadlocks for no apparent reason. I suspect it's caused by some side effects introduced by the `HttpClient`, because the program completes as expected when I replace the `GetAsync()` with a fake IO bound operation.

Would someone help me with how did a deadlock happen? And is

[2019-10-02 17:57] erandis-vol opened #41505 "Inconsistent floating-point parsing exceptions"
Per the documentation the following should throw an OverflowException when using Single.Parse and Double.Parse:

[code]

As expected, an exception is thrown on .NET Framework. On .NET Core 3.0.100 I am instead getting +/-Infinity.

[2019-10-02 18:08] karelz commented on #28863
Triage: We may not be able to fix it at all, the goal is to decide in 5.0 timeframe.

[2019-10-02 18:09] Clockwork-Muse commented on #41498
.... What are you doing with this information?

The reason I ask is that often `DateTime.Now` is the wrong thing to use.  Whether you want `DateTimeOffset.UtcNow` or `DateTimeOffset.Now` (or something else, even) depends on what you're using it for.

[2019-10-02 18:13] wfurt commented on #41207
do you have idea what specifically changed with kernel upgrade @FinexTech ?
It would be good to know for future reference.

cc: @tmds

[2019-10-02 18:14] karelz commented on #27979
Triage: We should review the list and make recommendations.

[2019-10-02 18:15] karelz commented on #27846
Triage: We need to confirm it is still a real issue in master, then debug it.

[2019-10-02 18:22] karelz commented on #26193
Triage: This is niche use case (only 1 upvote in last year).
It is achievable via https://github.com/dotnet/corefx/issues/26193#issuecomment-395648527 once #14041 is implemented.

[2019-10-02 18:22] #26193 closed

[2019-10-02 18:27] stephentoub commented on #41503
This doesn't actually have anything to do with HttpClient.  It's entirely to do with blocking inside of a static cctor waiting for another thread to do something: if that other thread ends up needing to touch the class, the runtime will deadlock because it'll require the static cctor to have been completed, but it won't complete until this operation completes.

You can see this in your "Fake IO-bo

[2019-10-02 18:27] #41503 closed

[2019-10-02 18:28] karelz commented on #25731
Triage: Would be nice - we should bundle it with our larger effort to add more tests and cover test gaps we have.

cc @eiriktsarpalis

[2019-10-02 18:32] ahsonkhan commented on #41401
cc @pranavkm, @rynowak

[2019-10-02 18:32] karelz commented on #25295
Open question: Should we add also `Parse` methods when we have constructors?

[2019-10-02 18:32] john-h-k commented on #41368
might be related, you can see it appears to be broken in a couple of places, e.g [Environment.NewLine](https://source.dot.net/#System.Private.CoreLib/shared/System/Environment.Windows.cs,63a04833d43dd9d3)

[2019-10-02 18:37] stephentoub commented on #34555
This was implemented as an internal implementation detail.

[2019-10-02 18:37] #34555 closed

[2019-10-02 18:39] karelz commented on #24895
Triage: We are open to add a few of the MIME type enums.
Next step: Create proposal with most used ones (with some links to usage ideally) and with names how they should be exposed.

[2019-10-02 18:46] karelz commented on #24355
Triage: We should know why DNS resolution does not work sometimes -- we know it is not cached on Linux/Mac, but why does it happen so often in CI? Is it network flakiness? Or busy machine?

[2019-10-02 18:49] Wraith2 commented on #41505
It's likely to be due to this https://devblogs.microsoft.com/dotnet/floating-point-parsing-and-formatting-improvements-in-net-core-3-0/
/cc @tannergooding for good measure

[2019-10-02 18:52] karelz commented on #23250
Related to: #26013
Blocked on our decision how to expose Socket options settings from `SocketsHttpHandler`

[2019-10-02 18:53] tangsaidi commented on #41503
Thank you for the reply! Introduction of actual asynchronous operation does recreate the deadlock situation.

It's still unclear to me where exactly did I touch the class in the second thread. It would make sense if the program deadlocks when the first `GetProjects()` is called, because `GetProjects()` is a static class method. But it actually passes this line and successfully returns, and it only

[2019-10-02 18:54] stephentoub commented on #39308
It's instantiated in the implementation:
https://github.com/dotnet/corefx/blob/b75421a0035bf3a44e1f68447255470d57074dbb/src/Microsoft.Win32.SystemEvents/src/Microsoft/Win32/SystemEvents.cs#L481
and
https://github.com/dotnet/corefx/blob/b75421a0035bf3a44e1f68447255470d57074dbb/src/Microsoft.Win32.SystemEvents/src/Microsoft/Win32/SystemEvents.cs#L491
as part of lazily-initializing the instance, and

[2019-10-02 18:55] Anipik commented on #40544
@safern - collections
@maryamariyan, @ViktorHofer - composition
@tmat, @nguerrera - SRM
@tannergooding - Tensors
@StephenMolloy, @HongGit -Microsoft.XmlSerializer.Generator

Tagging area cowners to make a decision on bumping the package version and assembly version to 5.0.0

[2019-10-02 18:55] karelz commented on #22048
Triage: Does it happen on WSL2?
@ManickaP can you please check it?

[2019-10-02 19:01] nguerrera commented on #40544
I don't have any opinion on the version number of SRM. Bumping it to 5.0.0 or not seems fine to me.

[2019-10-02 19:03] karelz commented on #21549
Triage: The work is extremely large. We don't think it makes sense to do it.

Key question @roji: Do we throw exceptions after the SslStream gets into corrupted state? We should have that behavior.

[2019-10-02 19:03] #21549 closed

[2019-10-02 19:05] karelz commented on #21112
Nobody asked for it in 2 years. Windows is highly discouraging it, let's close it.

[2019-10-02 19:05] #21112 closed

[2019-10-02 19:06] stephentoub commented on #41368
That looks like an unrelated issue.  @KirillOsenkov, does this look familiar?  The code:
https://github.com/dotnet/coreclr/blob/2d62d2b19d3213b3b0b3d273f192b7b298a1e86a/src/System.Private.CoreLib/shared/System/Environment.Windows.cs#L50
[code]
is getting rendered like this:
![image](https://user-images.githubusercontent.com/2642209/66073994-3b6c9300-e526-11e9-90a9-9822c148a3a3.png)

[2019-10-02 19:06] karelz commented on #20795
Triage: The problem will be difference in behaviors as well.

[2019-10-02 19:10] vcsjones commented on #41505
Yes, looks very similar to https://github.com/dotnet/corefx/issues/39296#issuecomment-509382614.

[2019-10-02 19:13] karelz commented on #20180
Triage: We should check how it behaves on .NET Framework -- either compat bug to fix, or documentation to update.

[2019-10-02 19:15] karelz commented on #20103
Triage: Next steps: Revert the change, run it locally and debug the hangs.

[2019-10-02 19:18] karelz commented on #19630
Triage: This will be breaking change - we will have to document it at minimum.

[2019-10-02 19:18] ViktorHofer commented on #40544
I'm fine with bump the version of S.CM.C as well.

[2019-10-02 19:20] tannergooding commented on #41505
Yes, this is known and by-design. It is listed as part of the breaking changes for 2.2 to 3.0: https://docs.microsoft.com/en-us/dotnet/core/compatibility/2.2-3.0#floating-point-formatting-and-parsing-behavior-changed

[2019-10-02 19:21] #41505 closed

[2019-10-02 19:23] ericstj commented on #40544
One suggestion WRT to VB: you can make it 6 + productVersion.  That way it can still be centrally maintained and not go backwards. /cc @cston

[2019-10-02 19:24] ViktorHofer opened #41507 "System.Threading.Tasks.Tests.ParallelForTests.TestInvokeDOPAndCancel failed in CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=374084&view=ms.vss-test-web.build-test-results-tab&runId=11444164&resultId=132449&paneView=debug

Configuration: `netcoreapp-Linux-Debug-x64-Debian.9.Amd64.Open`

[code]

cc @stephentoub

[2019-10-02 19:24] #33953 closed

[2019-10-02 19:26] karelz commented on #18784
Triage: Similar problem affects also non-UWP (we may have another tracking issue for that).

[2019-10-02 19:26] sergey-litvinov commented on #38522
@ericstj we also use that original package `Microsoft.NetCore.App` and will switch to `Microsoft.NetCore.App.Ref`.

And wanted to mention our reason - we need to understand what APIs are available in .Net Core 2\3 to provide kind of auto completion service, but we don't need to actually execute it. So that package was perfect fit and we don't need to install the whole SDK as part of deploy process

[2019-10-02 19:29] tannergooding commented on #40544
Sounds good to me.

[2019-10-02 19:29] karelz commented on #18664
Triage: Old issue. We have plans to do brand new stress for .NET Core -- @eiriktsarpalis please add these kind of runs on your backlog.

Closing as non-actionable. If it is a real problem, we will discover it in the new stress runs.

[2019-10-02 19:29] #18664 closed

[2019-10-02 19:31] karelz commented on #18106
Duplicate of #28131

[2019-10-02 19:31] #18106 closed

[2019-10-02 19:33] nguerrera commented on #40544
And give up a chance to line up everything at 11.0.0 in November 2026? 😉

[2019-10-02 19:34] karelz commented on #15430
Triage: We need solid API proposal with use case samples, etc. Any takers?

[2019-10-02 19:38] karelz commented on #13868
Triage: This will likely fall out of @davidsh's enterprise scenarios testing effort which is under way.

[2019-10-02 19:39] WilliamSBunin commented on #41498
We're using it with a third party software that writes local times (utc wouldn't work) to an external database.

I'll take a look at both suggestions and see if one of them works better than our current process.

Thank you

[2019-10-02 19:40] karelz commented on #13663
Triage: While nice to have, there is not clear customer value. There may be some maintenance value long-term, but given we don't touch the code base often, we can close it now.

[2019-10-02 19:40] #13663 closed

[2019-10-02 19:43] zlatanov commented on #15430
@karelz I would like to volunteer.

I've put this off long enough, and now that 3.0 has been released I would like to find time to do it. I know the internals of the WebSocket well, and what needs to be done to efficiently support compression.

[2019-10-02 19:44] karelz commented on #13464
Triage: Would be nice to have the tests more resilient, but it does not seem anyone is motivated to make it happen. CI passes.
If we see spike in future, we can reconsider.

[2019-10-02 19:44] #13464 closed

[2019-10-02 19:46] karelz commented on #13036
Triage: Very little interest in last 3 years (just 2 upvotes). Let's close it. If it has higher demand, we can reconsider.

[2019-10-02 19:46] #13036 closed

[2019-10-02 19:49] karelz commented on #12542
Triage: 3 years no customer hit this. No takers. Let's close it.

[2019-10-02 19:49] #12542 closed

[2019-10-02 19:51] StephenMolloy commented on #40544
Sure. I don't see why not.

[2019-10-02 19:51] karelz commented on #11873
Triage: Related to @alnikola's effort in HttpWebRequest. This may be non-trivial.

[2019-10-02 19:52] karelz commented on #11795
Triage: Is it going to be part of the general RFC we are about to look at in Uri space?

[2019-10-02 19:57] karelz commented on #6312
Triage: Old issue, nobody is pushing for it, or grabbing it. Closing. We can reconsider in future if it becomes problem hitting more people.

[2019-10-02 19:57] #6312 closed

[2019-10-02 19:57] karelz commented on #6161
Triage: Part of @davidsh's enterprise work.

[2019-10-02 19:59] karelz commented on #5999
Triage: Per @stephentoub it seems to be irrelevant now (we are deleting libcurl from .NET Core).

[2019-10-02 19:59] #5999 closed

[2019-10-02 20:06] stephentoub commented on #5749
Triage:
Thanks for the detailed issue.
There are three potential bodies of work here:
1. Make Dispose safe for canceling all synchronous operations on the socket.  This has now been done by @tmds for .NET 5.  If we discover additional places where this isn't safe or is insufficient, they should be reported as separate issues and fixed for .NET 5.
2. CancellationToken/{Value}Task-based overloads fo

[2019-10-02 20:06] #5749 closed

[2019-10-02 20:06] anurse commented on #15430
We'd certainly like to be able to have an end-to-end scenario around WebSocket compression. ASP.NET Core does share some code (via the [`WebSocket.CreateFromStream`](https://docs.microsoft.com/en-us/dotnet/api/system.net.websockets.websocket.createfromstream?view=netcore-3.0) API) so we'll be happy to help review APIs and code to ensure we'll be able to adopt this on the server side. SignalR custo

[2019-10-02 20:13] tarekgh commented on #41388
I agree adding something like this API can cause confusion. different replies here pointed at that. Start of time of the day (or reset time) can cause more confusing in case of users using some calendars which the day not starting at the midnight. I prefer closing this issue.

[2019-10-02 20:14] stephentoub commented on #41503
It's happening from the static call to DoNothing.  That's a static method on this Deadlock class, and invoked from the asynchronous continuation from awaiting on GetProjects, so the continuation runs on some thread, prints out some stuff, and then invokes the static DoNothing method, which requires that the static cctor have been run, but the static cctor is blocked waiting for this operation to c

[2019-10-02 20:16] KirillOsenkov commented on #41368
@alexperovich I've seen the "Microsoft.NET.Sdk" not found before. I had to open VS on the machine and allow Prerelease SDKs in Tools Options.

![image](https://user-images.githubusercontent.com/679326/66078390-c9408200-e516-11e9-9549-5affbcb12500.png)

I think it ultimately reads a text file from somewhere, maybe we can create that file programmatically to trick the SDK Resolver into working.

Pag

[2019-10-02 20:19] pranavkm opened #41508 "Consider throwing a meaningful error if the serializer is asked to serialize a `Task`"
Consider

[code]

This currently throws the following error:

[code]

It's almost always an indication of a non-awaited task if it's passed in to the serializer. Could this throw a more meaningful error up front if this is detected? See https://github.com/aspnet/AspNetCore/issues/13272 for previous discussions on this.

[2019-10-02 20:20] rynowak commented on #41401
@joshmouch - just curious.. what do you expect to happen with JSON serialization and `IFormFile` - I would be really surprised if it did anything useful.

[2019-10-02 20:32] szilvaa commented on #36821
Hi @karelz , I have an HttpMessageHandler to manage various resiliency features (retry, circuitbreaker etc.) and adding authorization header. I use this in all my HttpClients. I would love to use it with ClientWebSocket for the the initial HTTP connection.
I hope this answers your question.

[2019-10-02 20:37] ManickaP commented on #32611
I have the benchmark results of using `ifaddrs` along with `addrinfo`:
Original values:

Method | Mean | Error | StdDev
-- | -- | -- | --
GetHostName | 539.4 ns | 8.367 ns | 7.417 ns
GetHostAddresses | **7,789.7 ns** | 154.651 ns | 144.661 ns
Adapters | 453,000.8 ns | 5,149.828 ns | 4,565.189 ns

New values:

Method | Mean | Error | StdDev
-- | -- | -- | --
GetHostName | 529.9 ns | 9.882 ns | 9.24

[2019-10-02 20:47] ericstj commented on #41497
Ok, I was able to get this working after doing 3 things.
1. changed the sequencing of SetRuntimeFrameworksBeforeGenerateConfigurationFiles to happen before GenerateBuildDependencyFile instead.  https://github.com/dotnet/arcade/blob/94c12c5c45c51e716b7694d3d8d6f170af18981d/src/Microsoft.DotNet.CoreFxTesting/build/Microsoft.DotNet.CoreFxTesting.targets#L46
2. pass in the deps file for the test assem

[2019-10-02 20:55] hakeemoriola opened #41509 "An existing connection was forcibly closed by the remote host"
am using a valid wildcard certificate for a 2.2 project the failure have after a successful login and about to load the default page

`IOException: Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host.
System.Net.Sockets.Socket+AwaitableSocketAsyncEventArgs.ThrowException(SocketError error)
System.Net.Sockets.Socket+AwaitableSocketAsyncEv

[2019-10-02 20:56] KirillOsenkov commented on #41368
@stephentoub escape character rendering is known: https://github.com/KirillOsenkov/SourceBrowser/issues/125

I've fixed it just now in https://github.com/KirillOsenkov/SourceBrowser/commit/8b38c94fe8b705efba234d6c24eefc79a8830f67

@alexperovich wanna pull it down? ^^

[2019-10-02 21:03] karelz commented on #15430
@zlatanov cool, as next step, can you please propose the API shape? See [API process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) for details and examples. Thanks!

[2019-10-02 21:05] karelz commented on #33506
We don't have C# implementation - as Cory says above, we rely on OpenSSL.

[2019-10-02 21:09] karelz commented on #29740
@iSazonov sounds good. Can you please clean up top post and remove the not-relevant-anymore parts of it? So that whoever comes can see latest info in top post.
Please also clarify which APIs are new vs. existing (`ToString()`?).

[2019-10-02 21:13] danmosemsft commented on #41380
Was a conclusion reached about servicing? One option is to wait to see whether we get more reports.

[2019-10-02 21:17] Drawaes commented on #33506
OpenSsl already provided a Ctx session resumption cache that can be configured on and off, however as Jeremy already stated with the way that things are handled in the OpenSsl PAL it would need significant refactoring. You would still need a c# side tuple cache to match the session you want to reuse (the only difference to his solution I see is the value in the cache would be a session id rather t

[2019-10-02 21:19] roji commented on #21549
@karelz I honestly don't know... I'm assuming that the SslStream bubbles up the exception it intercepts from the inner stream (or throws another one in its place).

On the larger question, I get that this is expensive to do and not necessarily valuable enough. Just a thought though - it raises the question of the semantics which users may assume of streams around exceptions - SslStream is broken,

[2019-10-02 21:32] Groxan opened #41510 "[System.Text.Json] Add Utf8JsonReader.SetState(...) method to improve custom converters performance"
I suggest adding the `Utf8JsonReader.SetState(JsonReaderState state)` method that allows you to set the reader state to any of the previous states so that you can read the JSON token, go back and read it again. This is a very useful feature especially when you are working with a custom `JsonConverter`.

---

Let's look at an example.

### What we have

Imagine, we have the following models:

[code

[2019-10-02 21:42] safern commented on #40544
I'm fine with bumping S.C.Immutable

[2019-10-02 21:49] ViktorHofer commented on #41497
Great to hear! Regarind "Add RID fallbacks to our test framework's deps file here", we will hopefully remove that duplicated file soon. Is there another way to plumb them through?

[2019-10-02 21:53] ViktorHofer commented on #41497
@ericstj please condition that on `GenerateDependencyFile` being true. We currently have three tests projects that don't produce a deps.json file.

[2019-10-02 21:55] ViktorHofer commented on #41497
Also you can use `ProjectDepsFilePath` (https://github.com/dotnet/sdk/blob/b28a8efbfb30d84019351abb3aa9a2b15e008662/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets#L62)

[2019-10-02 22:04] scalablecory commented on #41215
Closing; we do not currently see a benefit in supporting this.

[2019-10-02 22:04] #41215 closed

[2019-10-02 22:04] scalablecory commented on #41213
Closing; will revisit the idea if server support starts happening.

[2019-10-02 22:04] #41213 closed

[2019-10-02 22:04] scalablecory commented on #34192
Closing until a use case is found;

[2019-10-02 22:04] #34192 closed

[2019-10-02 22:05] scalablecory commented on #41212
Closing until a need is found.

[2019-10-02 22:10] jkotas commented on #41380
I think we should port this into 3.1. The fix is simple and it is a clear regression.

The reports we get shortly after release (ie this month) are for bugs that are very likely going to be hit by multiple customer. I do not think we need to wait for more reports to justify the back-port.

[2019-10-02 22:16] alexperovich commented on #41368
I'll update to the latest stuff when I have time. The failure to index projects is caused by the VS 16.3 restriction on 3.0.100 from what I can tell. The build machines don't have VS 16.3 so it can't build anything. Once those build machines are updated I will fix it.

[2019-10-02 22:41] #41212 closed

[2019-10-02 22:51] karelz commented on #26013
Triage: We think there is another dupe of this - more general as @stephentoub describes above.

[2019-10-02 22:58] Anipik opened #41512 "Remove Configuration Group and OS Group from the Our config system"
The 3 major tasks here will to be able to
- Cross-Compile.
- able to pass to project to project dependencies.
- should be able to find the best configurations from the project while building from the root.

The starting point here will be to make this work for a smaller repo.

cc @ericstj @danmosemsft @safern @ViktorHofer

[2019-10-02 23:01] cluetjen commented on #33506
As already mentioned, they normally rely on SslStream and so they all have the same problem. I already reported it for FluentFTP, it's a pinned issue there: https://github.com/robinrodricks/FluentFTP/issues/347

[2019-10-02 23:02] stephentoub commented on #41512
Can you elaborate on what it means to remove these? I use these to cross-compile and validate debug vs release all the time. If we're removing these properties, there needs to be a similarly easy mechanism in place.

[2019-10-02 23:12] terrajobst commented on #41038
@richlander would be better suited to respond.

[2019-10-02 23:12] hakeemoriola commented on #41509
I noticed all the request to the  API failed

[2019-10-02 23:46] ericstj commented on #41512
The goal is to stop overloading Configuration with our targeting information and instead use TargetFrameworks since this is supported by the SDK.

So mapping today's concepts to desired concepts:
ConfigurationGroup -> Configuration
TargetGroup-OSGroup -> TargetFramework-OSGroup
BuildConfigurations -> TargetFrameworks (where individual values are encoded as TargetFramework-OSGroup)
PackageConfigura

[2019-10-02 23:51] stephentoub commented on #41512
Ok, cool. Sounds like so there capabilities will still be there, just better/more consistent, in which case... 👍

[2019-10-03 00:20] wfurt commented on #41488
it _may_ come but right now there is no good way. Watching https://github.com/dotnet/source-build/issues/1139 is probably best bet. Part of the problem is fact that you need older `dotnet` to build new`dotnet` and that is generally not available.

[2019-10-03 00:37] jonwingfield commented on #41489
@SteveSyfuhs

They're slightly different. On Ubuntu, it's sending this in the request-body:

[code]

On Windows, it's:
[code]

Could it be the extra sname string for the realm? I'm using the same UPN in both (svcAXBCPDV@corp.test.lcl).

[2019-10-03 01:12] SteveSyfuhs commented on #41489
That is most likely why AD is complaining. You will need to add an additional SPN on the service account for it to match up against.

________________________________
From: Jon Wingfield <notifications@github.com>
Sent: Wednesday, October 2, 2019 5:38:08 PM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Steve Syfuhs <steve@syfuhs.net>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/c

[2019-10-03 01:15] joshmouch commented on #41401
@rynowak
In Asp.net Core 2.2 with JSON.Net, you can upload a file to an API operation with an auto-generated swagger definition and a strongly-typed auto generated client.

1. Include an IFormFile parameter on an API operation call.  It needs to have a [FromForm] attribute.
2. Create a SwashBuckler filter that changes the parameter to "In=formData, Type=file".  This updates the Swagger.json defini

[2019-10-03 01:20] rynowak commented on #41401
That's pretty cool! I didn't realize that Autorest could do that.

Do you have the full callstack of that exception? What part of the code is blowing up. I'm asking because I want to see if we can find a workaround to unblock you.

[2019-10-03 01:26] Clockwork-Muse commented on #41498
.. hopefully you're sending more than just the local time, or your stored data will be nonsense.
Assuming future dates, you need to be storing local time + offset + zone id (past dates can always be UTC).  Failure to store one of these pieces will result in update errors when the DST or other offset rules change.

For ease and speed of querying, a combined type should be preferred for the first tw

[2019-10-03 02:01] ahsonkhan commented on #38007
From https://github.com/dotnet/corefx/issues/41472 by @ghost1372:

[2019-10-03 02:03] ahsonkhan commented on #40449
From https://github.com/dotnet/corefx/issues/41459 by @Firefly74940:

[2019-10-03 02:04] jonwingfield commented on #41489
@SteveSyfuhs but why is it being sent this way? Are there details in GSSAPI that are causing it to be handled differently?

[2019-10-03 02:15] ahsonkhan commented on #36505
From https://github.com/dotnet/corefx/issues/41420 by @codexguy:

[2019-10-03 02:17] FeodorFitsner commented on #41488
Thanks, will be watching that issue. So, it's kind of chicken-egg problem there? What minimal preview version of .NET 3 SDK needed to build RTM?

[2019-10-03 02:37] SteveSyfuhs commented on #41489
That I can't answer without debugging or reviewing code. The fully qualified name is most likely just what's being passed to the API and is _that_ value because of what @mconnew is suggesting.

________________________________
From: Jon Wingfield <notifications@github.com>
Sent: Wednesday, October 2, 2019 7:05:26 PM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Steve Syfuhs <steve@syfuhs.net>;

[2019-10-03 03:06] #41388 closed

[2019-10-03 03:43] wfurt commented on #41488
That is part of it. The other part is that it is not buildable as it is now and 3.0 release branches are locked. And there is currently no infrastructure to validate changes.
There is some hope but progress was slow recently.

[2019-10-03 04:33] joshmouch commented on #41401
Sure thing!

[code]

[2019-10-03 04:35] weitzhandler commented on #24895
BTW might of interest to subscribers: https://github.com/dotnet/csharplang/issues/2849

[2019-10-03 04:58] wfurt commented on #32611
I did try your code @manickap (compared to my work-in-progress on GetAllNetworkInterfaces). I also add one more test to lookup www.mictrosoft.com to get sense how fast GetHostAddresses would be if it does not come from /etc/host. It may be worth for you to try it with and without entry matching local system.

|                  Method |

[2019-10-03 05:13] wfurt commented on #41509
You should do packet capture with Wireshark. The endpoint you are trying to connect to is probably not running or access is blocked by firewall.

[2019-10-03 05:15] wfurt commented on #41501
cc: @krwq

[2019-10-03 05:15] wfurt commented on #41475
cc: @bartonjs

[2019-10-03 05:51] rynowak commented on #41401
This callstack implies to me that this API **returns** an `IFileInfo` - is that the case?

[2019-10-03 06:01] wfurt opened #41515 "GetAllNetworkInterfaces issues on Linux"
I did recently more testing with `GetAllNetworkInterfaces` on Linux and there is number of issues:

1. Following fragments _always_ throw on Linux. (works on OSX and Windows)
[code]

This because code trying to get speed does not understand that some interfaces like `lo` loopback may not have a speed. On Windows we return -1. (thanks @ManickaP)
Even if Speed is not accessed we always throw interna

[2019-10-03 06:07] wfurt opened #41516 "IPInterfaceProperties.DhcpServerAddresses does not work on Ubuntu"
This collection always returns empty list even if DHCP is configured and used.

Code to process DHCP is hardcoded  in `System/Net/NetworkInformation/NetworkFiles.cs`
[code]
But on Ubuntu (and perhaps other Linux distributions) DHCP configuration is files specific to interface. That makes more sense and you many need more instances and writing to single global file hard.

[code]

[2019-10-03 06:16] mcp111 commented on #33714
The method suggested by @dsplaisted works fine.
Why does Microsoft change so many things in .net core?
We have to unlearn stuff that we've been doing for years
Querystring has now become Request.Query and so on....

[2019-10-03 06:20] pekkah commented on #41510
If Utf8JsonReader is a struct can't you just pass it without the ref to another method and read there until you find the type return it and continue reading with the original reade from the original position? This would cause the struct to be copied to called method argument and not change the original?

[2019-10-03 06:29] lafriks commented on #33506
Anyway it would be nice if this ticket would be reopened as there is nothing much that can be done outside dotnet core to fix this

[2019-10-03 06:39] sotheanith opened #41517 "MemoryMappedFile Race Condition"
I am trying to use MemoryMappedFile so that multiple threads in my application can read from the same file. The problem occurs when I run this code to try to access the same file in quick succession.
```MemoryMappedFile.CreateFromFile(FilePath);```
I attempt to fix this problem by using OpenExisting() method and named a memory when I use CreateFromFile().

[code]

The solution above works well for

[2019-10-03 06:54] iSazonov commented on #41439
It is rather CanExist().

[2019-10-03 07:04] iSazonov opened #41518 "PhysicalAddress.Parse should be case-insensitive and support new formats"
Split from #29740  See triage conclusion https://github.com/dotnet/corefx/issues/29740#issuecomment-537243912

1. [System.Net.NetworkInformation.PhysicalAddress.Parse()](http://source.dot.net/#System.Net.NetworkInformation/System/Net/NetworkInformation/PhysicalAddress.cs,118) method [currently support](https://msdn.microsoft.com/en-us/library/system.net.networkinformation.physicaladdress.parse%28v

[2019-10-03 07:11] iSazonov commented on #29740
@karelz Done! Please edit top post if I skipped something.

[2019-10-03 08:08] tmds opened #41519 "ECDiffieHellman: obtaining the shared secret"
`ECDiffieHellman` has a method `DeriveKeyFromHash` that returns:

There isn't an method to obtain the sharedSecret, for example to implement:

For OpenSSL, the shared secret can be obtained using `EVP_PKEY_derive`.
This is what is used by the `ECDiffieHellmanOpenSSL.DeriveKeyFromHash` implementation.

`ECDiffieHellmanCng.DeriveKeyFromHash` implementation calls `NCryptDeriveKey`. I'm not sure if th

[2019-10-03 08:23] tmds commented on #5999
Relates to [SocketsHttpHandler should support custom Dialers](https://github.com/dotnet/corefx/issues/35404).

[2019-10-03 08:43] tmds commented on #40881
[code]

So on Linux, this sets SO_REUSEADDR, but not SO_REUSEPORT.

With .NET Core 3.0, ReuseAddress sets SO_REUSEADDR and SO_REUSEPORT.
With .NET Core 2.2, ReuseAddress sets SO_REUSEPORT.

So neither match with that example.

To match with the example, replace
[code]
with:
[code]

@matthew798 can you try if this does what you want?

[2019-10-03 09:14] Swaglis opened #41526 "Incorrect behavior of System.IO methods"
# Path.GetFileNameWithoutExtension does not throw

After upgrading to .NET Core 3.0 I noticed that when passing an path containing invalid characters (e.g. "file|name.txt") the method no longer throws ArgumentException as it did before. According to the [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.io.path.getfilenamewithoutextension?view=netcore-3.0), this should still be the

[2019-10-03 09:36] aik-jahoda commented on #41080
The kFSEventStreamCreateFlagWatchRoot flag is already used: https://github.com/dotnet/corefx/blob/a50e056c5a62fb6dfe2e9475be47b93d33661700/src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.OSX.cs#L124-L126

However, it doesn't deliver additional events.
Based on the [File System Event Security](https://developer.apple.com/library/archive/documentation/Darwin/Conceptual/FSEvents_Prog

[2019-10-03 09:41] petermorlion commented on #25295
My opinion: that might be good because it follows the structure of `int` and other types, in that a `Parse` and `TryParse` method go hand in hand. Internally, you could of course point them to the constructor.
But that's just my opinion and I have little experience with framework and/or API design. I'm curious to read what others think.

[2019-10-03 10:35] marcnet80 commented on #41176
@ahsonkhan, @layomia, @nyash any updates?Is anyone working on this issue now?

[2019-10-03 10:43] ViktorHofer commented on #41359
https://help.github.com/en/articles/about-storage-and-bandwidth-usage
https://help.github.com/en/articles/about-billing-for-git-large-file-storage

50GB storage + 50GB of bandwidth costs 5 dollars per month. Storage

Storage:

Bandwidth:

Our corefx-testdata respository currently has 116MB of testdata. I don't have numbers of how often we fresh clone our repository but I wouldn't be surprised if t

[2019-10-03 10:44] ViktorHofer commented on #41359
This is really expensive...

[2019-10-03 11:12] Rauce commented on #40405
This bug is marked as fixed, although I am seeing a very similar bug in which my `JsonConverter` is ignored if a property type is `Dictionary<string, string>`.
Here's my original Stack Overflow post, from which I was pointed here: https://stackoverflow.com/questions/58217491/deserialising-json-using-jsonserializer-deserializeasync-is-not-using-my-jsoncon/58217930

[2019-10-03 11:25] stephentoub commented on #41359
Beyond the expense...

If I want to clone the repo just for browsing and searching, and maybe building, but I never care about running tests (this is the case for 90% of the repos I have cloned), will I now need to pull down over a hundred more megabytes unnecessarily? I'm fortunate to have a fast connection, but many developers do not

[2019-10-03 11:31] shiftkey commented on #41359
@stephentoub there's an environment variable you can set to opt-out: `GIT_LFS_SKIP_SMUDGE=1` https://github.com/git-lfs/git-lfs/issues/2406

[2019-10-03 11:35] ViktorHofer commented on #41359
The file pointers are replaced with the actual files during the branch checkout, means that the smudge filter only runs for the files in the current branch. That said, you will still download the freshest LFS files. Setting the env var seems to be the only option to avoid that. It would be nice to have an option for that during git clone / git checkout.

[2019-10-03 11:47] jaymins93 opened #41520 "DateTime.TryParse out datetime fails for simple < , > condition"
DateTime.TryParse out datetime fails for simple < , > condition

for e.g.

using string value "03-10-2019 08:26:44"
//date time now is  03-10-2019 04:33:44
if (DateTime.TryParse( "03-10-2019 08:26:44", out DateTime val))
                            {
                                if ((DateTime.Now <  val))
                                {
// this statement should be executed but it fails and co

[2019-10-03 11:51] jaymins93 commented on #41520
visual studio 2019 16.3

[2019-10-03 13:51] stephentoub commented on #5999
Yes.  There are two things here:
1. We're deleting the internal CurlHandler in .NET 5, so the specific thing this issue relates to won't be available.
2. As @tmds highlights, we plan to add the ability to let SocketsHttpHandler use a callback that supports a Uri=>Stream mapping, such that a dev can do whatever they want to open a relevant connection.  That includes creating/connecting a Socket wit

[2019-10-03 13:52] joshmouch commented on #41401
@rynowak ,
You are correct.  It actually appears that accepting IFormFile is working, it's when it's returned from an API operation that it's bombing.  Let me gather some more information and respond on this thread.

[2019-10-03 14:15] JanEggers opened #41525 "memory leak by TaskDelay inside a loop"
this is the issue I try to figure out:

https://github.com/chkr1011/MQTTnet/issues/767

is it possible that task.delay is leaking memory if used inside a longrunning loop?

I know that the aspnet team invented this:
https://github.com/aspnet/AspNetCore/blob/3cd5054eb5d8851b25881cd05cccb931aaa022e6/src/SignalR/common/Shared/TimerAwaitable.cs

but there are no docs on that type and there are no hint

[2019-10-03 14:32] bartonjs commented on #41519
There is not, which is why we only have prebuilt KDFs.  Is there a standard that requires another transform?

[2019-10-03 14:32] #41525 closed

[2019-10-03 14:34] Wraith2 commented on #41525
With your dump you might be able to use the sos tools to identify the GCRoot of all those allocations, see https://github.com/dotnet/coreclr/issues/26386 for some guidance on this.

[2019-10-03 14:44] ViktorHofer commented on #41038
Rich, please let us know if we should do this for the release branches:

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Immo Landwerth <notifications@github.com>
Sent: Thursday, October 3, 2019 1:13:41 AM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Viktor Hofer <Viktor.Hofer@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/core

[2019-10-03 14:46] Grauenwolf commented on #25295
Consistency is important.

And it's easier to use static functions as delegates than constructors.

[2019-10-03 15:08] tmds commented on #41519
SSH serializes the shared key as an _mpint_ before hashing.

[2019-10-03 15:45] Yucked commented on #34398
@karelz Should I open a new issue for API Proposal?

[2019-10-03 15:57] jaredpar commented on #41359
Looking at just the PR queue for CoreFX we clone several hundred times a day. Consider just the following few dates:

- Monday: 660 clones
- Tuesday: 440 clones

The actual number of build jobs created via PRs is ~40-50 but each build has 10+ jobs which execute a checkout operation.

The actual number is likely much higher here because this is counting CoreFX PR only. To truly get the number for t

[2019-10-03 16:01] campersau commented on #25163
NuGet.Client [resends requests](https://github.com/NuGet/NuGet.Client/blob/caac28293a4032de8629b39597a179df988a612a/src/NuGet.Core/NuGet.Protocol/HttpSource/HttpSourceAuthenticationHandler.cs#L74-L107) inside of a custom `DelegatingHandler` (which is not prevented).

This can lead to unexpected authentification issues with some servers which don't send a `Www-Authenticate` header back if an `Autho

[2019-10-03 16:20] Clockwork-Muse commented on #41520
Are you sure that your current timezone is what you think it is (and not, say, UTC)?

What happens if you switch to using `DateTimeOffset`?  Note that `DateTime.Now` is often the wrong thing.

[2019-10-03 16:34] dannyb2100 opened #41527 "System Drawing image.fromstream parameter is not valid (HEIC File)"
# Issue Title

System Drawing image.fromstream parameter is not valid

# General

When attempting to convert a heic file into an image, I'm getting "parameter is not valid" error.

Entire method is below. Error is thrown on :  ` var sourceImage = System.Drawing.Image.FromStream(await file.GetFileStream());`

[code]

[2019-10-03 16:34] vcsjones commented on #41359
@jaredpar Presumably someone could look at https://github.com/dotnet/corefx/graphs/traffic and get an idea of # of clones?

[2019-10-03 16:35] scalablecory commented on #41527
If that is the case, though, I think it would be a valid case to throw with a more useful exception message.

[2019-10-03 16:39] jaredpar commented on #41359
@vcsjones thanks didn't realize that existed. Was exactly what I was looking for.

Do you know what the difference is between clone and unique clone?

[2019-10-03 16:41] jaredpar commented on #41359
Also does that cover forks? Basically when someone clones a fork of corefx does it show up there? The fork cloning will count against our LFS bandwidth hence need to find a way to track that. Probably peanuts though compared to the main cloning but would want to find some data that's the case

[2019-10-03 16:45] shiftkey commented on #41359
@jaredpar "Unique cloners" (note the `r`) is I believe the count of unique entities performing clone operations

[2019-10-03 16:58] nechvatalp commented on #41520
I was unable to reproduce this behaviour.
Could you maybe output DateTime.Now and val to console before your condition and paste the output here?

[2019-10-03 17:04] scalablecory commented on #23544
@balivo per-request headers are already supported; this issue is discussing possible convenience methods for anyone not wanting to manually instantiate a `HttpRequestMessage` like in https://github.com/dotnet/corefx/issues/23544#issuecomment-369419082.

[2019-10-03 17:04] stephentoub commented on #41368
Thanks.

[2019-10-03 17:30] safern commented on #21855
Happened again: https://dev.azure.com/dnceng/public/_build/results?buildId=375425&view=ms.vss-test-web.build-test-results-tab&runId=11499012&resultId=163584&paneView=debug

[2019-10-03 17:31] jkotas commented on #41380
PR with 3.1 port: https://github.com/dotnet/coreclr/pull/27010

[2019-10-03 17:51] WilliamSBunin commented on #41498
At this time, we are not. It's been on my list to store utc time along with the computers state location. Unfortunately, it's extremely low on the priority list. What's more, the third party application requires the local time of the computer. Until we can rewrite that along with nearly every other program that touches the database, we're stuck using local time. Whether I like it or not.

[2019-10-03 17:56] safern commented on #41527
We use GDI+ under the covers, and it seems like they indeed [don't support HEIC](https://docs.microsoft.com/en-us/dotnet/framework/winforms/advanced/using-image-encoders-and-decoders-in-managed-gdi).

Giving a more useful message would make sense, however, I think we have our hands tight here given that we get the status code from GDI+ and that status code is: `InvalidParameter` -- we could check

[2019-10-03 17:58] safern opened #41528 "System.Text.RegularExpressions.Tests.RegexCacheTests.Ctor_Cache_Uses_dictionary_linked_list_switch_does_not_throw failed on PR"
Error Message:

Stack Trace:
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=374243&view=ms.vss-test-web.build-test-results-tab&runId=11449956&resultId=158563&paneView=debug

cc: @ViktorHofer @maryamariyan

[2019-10-03 18:08] carlossanlop commented on #41526
I see what you mean:
- `Directory.EnumerateDirectories` throws `ArgumentException` if either the `directory` or the `expression` arguments specifically contain a null character `\0`. This is the only invalid character we consider for this method. Passing a `|` character will not throw `ArgumentException`, it will instead throw:
[code]
- `Path.GetFileNameWithoutExtension` throws nothing if you pass

[2019-10-03 18:16] scalablecory commented on #41526
@carlossanlop have we verified that behavior changed since .NET Core 2.x or Framework?

Presumably the current behavior is that `IOException` is used when OS validates path and `ArgumentException` is used when the method validates path. If this was always the case, and we just loosened our validation and relegated more to .NET, then it wouldn't be a breaking change.

[2019-10-03 18:19] ZOXEXIVO commented on #41487
TrimEntries looks very strange as SplitOptions
Maybe, add some post processing options as third parameter

[2019-10-03 18:21] JeremyKuhne commented on #41439
As I went into above, there is no way to know without creating it. What you get back for errors from `GetFileAttributes` is dependent on all of the things I described (device and filter drivers, etc.) and is not documented. There is no contract for behavior for invalid paths.

Even if you could depend on a specific heuristic here, a quick look at current behavior shows why guessing is untenable. I

[2019-10-03 18:21] ZOXEXIVO commented on #41487
TrimEntries looks very strange as SplitOptions
Maybe, add some post processing options as third parameter, but i'm not sure, because it is not the responsibility of this method

[2019-10-03 18:22] JeremyKuhne commented on #41439
cc: @carlossanlop

[2019-10-03 18:26] scalablecory commented on #41487
👀 I'm suspicious whenever I see `Split` with a comma separator.

[2019-10-03 18:33] JeremyKuhne commented on #41526
Yes, the documentation needs updated.

We have explicitly removed all path character validity checks in Core 2.1 (outside of embedded nulls). Our guessing was incorrect, particularly with mounted directories from network shares and Unix file systems. Additionally doing so was pretty expensive with very little benefit.

I did a write-up that goes into more detail about what we changed in 2.1.  http

[2019-10-03 18:37] JeremyKuhne commented on #41526
Sorry that this hasn't made it through to the docs yet. Linking in the doc issue: https://github.com/dotnet/dotnet-api-docs/issues/1685

[2019-10-03 18:39] carlossanlop commented on #41526
Thank you Jeremy. I'll close this issue, since it's a documentation problem, as described in dotnet/dotnet-api-docs#1685

[2019-10-03 18:39] #41526 closed

[2019-10-03 18:56] ViktorHofer commented on #41359
1270 clones per day!!!! Take my calculation and multiply it by 25, that would be 4.3k / month.

We should find that out.

[2019-10-03 19:32] karelz commented on #29740
@iSazonov thanks! I removed `Parse` as discussed above. I marked existing API clearly.
I don't quite follow [1] there. Can you please clarify it and spec it out here? We need specific proposal of behavior / format.

[2019-10-03 19:43] hakeemoriola commented on #41509
Reading this
[Enforce HTTPS in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-2.1&tabs=visual-studio#trust-the-aspnet-core-https-development-certificate-on-windows-and-macos) provided the fix.

[2019-10-03 19:43] #41509 closed

[2019-10-03 19:44] scalablecory commented on #41500
May be same issue from #41527

[2019-10-03 19:48] karelz commented on #34398
@Yucked we can do it here - ideally, please edit top post (you can keep original text in separate section for history)

[2019-10-03 19:51] bryansmi opened #41529 "Setting Console.CursorVisible property does not change visibility in Linux"
Hello! I've been using the Console cursor APIs for .NET Core 3.0 in WSL 2. I've noticed that the `Console.CursorVisible` property has non-intuitive behavior (to me) in Linux (Ubuntu). When getting the property, a `PlatformNotSupportedException` is thrown. When setting the property, no exception is thrown, but nothing appears to happen - the cursor is still visible.

Is there any intention to suppo

[2019-10-03 19:52] karelz commented on #33506
We believe that this is as much actionable in CoreFX as outside -- i.e. it needs large amount of work, figuring out how it could work with bleak outlook.
Given that we don't think it is feasible to do it in CoreFX, the best avenue to prove us wrong is to create external nuget package (or fork of CoreFX) demonstrating it is possible, then we can start discussion of flowing it back into CoreFX.

[2019-10-03 19:58] scalablecory commented on #41518
This seems relatively straightforward if you'd like to submit a PR.

[2019-10-03 20:09] vtortola opened #41530 "Why is System.Text.Json.JsonSerializer not using the TypeDescriptor API to get attributes?"
I was trying to add some `JsonPropertyNameAttribute` to properties at runtime through a `TypeDescriptorProvider` and to my despair it did not work, despite of seeing that `TypeDescriptor` correctly returns them.

I checked the [source code](https://github.com/dotnet/corefx/blob/d39276b9d4af15aebd829eaf1fbd7d43212a1f15/src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfo.cs#L254

[2019-10-03 20:25] #31597 closed

[2019-10-03 21:01] pentp commented on #35343
On .NET Framework `AggregateException.Message` behaves like any other exception and usually returns the default message "One or more errors occurred". On .NET Core however it tries to be helpful and adds the messages of all inner exceptions on top of this which leads to these overly verbose/repeating messages.

Even worse, after calling `AggregateException.Flatten()` this aggregated message is set

[2019-10-03 21:06] stephentoub commented on #35343
Everyone has their own opinion :smile:...  the change was made in .NET Core in response to feedback that it should include all of this.
https://github.com/dotnet/corefx/issues/5364

[2019-10-03 21:11] pentp commented on #35343
At least we should fix [Flatten()](https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/AggregateException.cs#L405) then to use `base.Message` instead of repeating everything twice.

[2019-10-03 21:28] csturm83 commented on #41520
Is there maybe ambiguity in format between 'MM-dd-yyyy' vs. 'dd-MM-yyyy'. I'll admit, I first read 03-10-2019 as March 10th, 2019.

[2019-10-03 22:02] Clockwork-Muse commented on #41498
If you're dealing with future localized dates, you can't store UTC (because DST rules may change, and _usually_ you want local time to stay the same, not the UTC instant).
If you're dealing with past/logged events, the location timezone is irrelevant to storage, although it is relevant in some reporting scenarios.

If you're talking about the US, not only do not all states observe DST, there are e

[2019-10-03 22:08] Clockwork-Muse commented on #41520
@csturm83

That's a possibility, although the date format shown is non-standard (so I was assuming it should be correct).

[2019-10-03 22:16] safern commented on #41500
Same as my comment in: #41527 -- this exception is just a result of throwing an exception based on the status we got from GDI+.

In this case we could basically add checks in managed code to see if `file == null` and throw AE, or if `!File.Exists` throw FNFE.

[2019-10-03 22:42] fqborges opened #41532 "Installing System.Net.Http using Install-Package fails with "Dependency loop detected for package""
I am installing packages to a folder using the following pwsh commands:

`Register-PackageSource -Location https://www.nuget.org/api/v2 -Name Nuget -ProviderName Nuget -Trusted -force`

`Install-Package -Name System.Net.Http  -ProviderName Nuget -Destination $somedir`

It fails with:
[code]
It looks like the offending package is System.Diagnostics.DiagnosticSource v4.6.0

**Workaround:**

Installi

[2019-10-03 23:10] elachlan commented on #25295
My current use case is similar to @Grauenwolf. I am validating a textbox value as its entered. So for each character entered before the email is valid, I get an exception. If I am debugging with break on exception, then it becomes a bit problematic to test.

[2019-10-03 23:12] steveharter commented on #40120
Update: I've added samples that work with 3.0. I didn't notice any issues such as with nested dictionaries as reported above.

There are two JSON formats being used in the samples:
- JSON object with string properties: `{"1":"val1","2":"val2"}` even though `TKey` is not a string.
  - These rely on a `TryParse` method on the corresponding supported key type. For v3.0 it is not feasible to provide s

[2019-10-03 23:22] jaredpar commented on #41359
@shiftkey

Gotcha. So for this conversation we should be looking at clones.

Interesting so our CI counts for about 1/2 of all clones then good to know. 😦

Yep.

[2019-10-03 23:36] csturm83 commented on #41520
Maybe worth trying [DateTime.TryParseExact](https://docs.microsoft.com/en-us/dotnet/api/system.datetime.tryparseexact?view=netframework-4.8) instead, to be explicit w.r.t. formatting?

[2019-10-03 23:47] mconnew commented on #41489
In the Windows dump, you can see it's using the name-type "kRB5-NT-PRINCIPAL" which can be either an SPN or a UPN. In the Linux dump, it's using the type "kRB5-NT-SRV-HST" which I believe can't be used for UPN's.

[2019-10-03 23:49] jcapellman commented on #33714
I see it as more of keeping things from being stagnate.  I'm all for the innovation and break changes if it means I can do more.  Keeping up with the changes and continually learning is part of the fun being an engineer (imho).

[2019-10-03 23:53] davidsh commented on #41489
We currently always use this type instead of KRB5_NT_PRINCIPAL.  That is because it is the only thing that works correctly with SPNEGO protocol and can handle Kerberos to NTLM fallback.

See:
https://github.com/dotnet/corefx/blob/eff9fbf446468ca411bf5e0475916f316eea7223/src/Native/Unix/System.Net.Security.Native/pal_gssapi.c#L157-L179

Long term, we need to probably adjust this if we know that we

[2019-10-03 23:53] danmosemsft commented on #33714
@mcp111 in this case the reasoning for this change is higher up - performance.

We've tried to maintain a breaking change list at https://github.com/dotnet/corefx/wiki/ApiCompat

[2019-10-03 23:55] davidfowl commented on #40871
Sounds good, can you make another API proposal?

[2019-10-04 00:19] softworkz commented on #40871
Sure, will do.

I'm just a bit undecided about the naming - `ClearCache` or `InvalidateCache` were the initial ideas, but I'm not even sure whether it's right to call it 'Cache'..

What's your thoughts about this?

[2019-10-04 01:24] jonwingfield commented on #41489
@davidsh Is this known to work with UPNs though?

I'll have a minimal project with client and server to share tomorrow. This is really the most basic situation ever though. Generate new Wcf Service, host under a service account, bind a corefx client to it, run corefx project under Linux. I just want to make sure it reproduces in this minimal form on our infrastructure before sending it over.

[2019-10-04 01:30] bartonjs commented on #41519
Hm. The client could get it in two tries by doing the verification with the normal prefix, then assume the high bit isn't set and use the mpint prefix of keySizeBytes.  The second try would be (keySizeBytes+1) with an extra 00.  It'd be harder for a server.

Choosing to only support secp521r1 makes it easier, since it'll never have the "sign bit" set in the shared key, then the prefix is just `41`

[2019-10-04 01:44] electricessence opened #41534 "System.Text.Json: Method not found System.Text.Encodings.Web.TextEncoder.FindFirstCharacterToEncodeUtf8"
Works perfectly well in every project _except_ Azure Functions (v2).
Simply HTTP trigger an Azure Function and try and serialize (or deserialize) an object.

[2019-10-04 02:05] xforever1313 commented on #36824
I updated the top-level comment with a proposal of what I think would need to change.

[2019-10-04 02:22] davidfowl commented on #40871
I wouldn’t worry about the name, pick clear cache. I would focus on the semantics and potential ways it can be misused and how it interacts with all other APIs.

[2019-10-04 02:42] davidsh commented on #41489
Probably not.  See related issue #6606

[2019-10-04 03:30] danmosemsft commented on #36824
allow one to specify the source IP Address. A similar function, IcmpSendEcho2Ex,
does, however. As far as I can tell, the functions perform the same thing, except IcmpSendEcho2Ex allows one to specify a source address.

Looking at Windows sources, IcmpSendEcho2 is implemented as a call to IcmpSendEcho2Ex passing `0` for the `SourceAddress`.

[2019-10-04 03:41] danmosemsft commented on #41528
This isn't doing anything that should take more than a moment. Need a dump file to diagnose this and that didn't happen because of https://github.com/dotnet/core-eng/issues/7950

[2019-10-04 03:41] #41528 closed

[2019-10-04 03:44] davidsh commented on #41532
@joperezr

[2019-10-04 03:45] softworkz opened #41536 "API Proposal: SequenceReader<T>.ClearCache() method to allow the reader to re-use previously allocated memory"
## Purpose
Provide a method that allows consumers of the SequenceReader<T> to indicate that it is no longer interested in the previously returned results and that the SequenceReader<T> may re-use memory it has internally allocated before.

[code]
## Background
There are cases where the SequenceReader needs to allocate memory in order to return results because the requested data is crossing segment

[2019-10-04 03:46] danmosemsft commented on #41527
We could at least improve the string, maybe "Parameter is invalid or format not supported."
[code]

[2019-10-04 03:54] softworkz commented on #41536
## Note
For this proposal I'm assuming that there will be some optimized internal implementation in the SequenceReader<T> that doesn't allocate individual memory for each few-bytes result (that needs allocation).
Instead it will probably allocate a larger range (e.g. two-times the buffer segment size) where it sequentially puts the data it needs to return (as span).
This is not just a more efficie

[2019-10-04 04:04] softworkz commented on #40871
Just added: https://github.com/dotnet/corefx/issues/41536

I hope it makes sense..

[2019-10-04 04:05] safern commented on #41527
That string is used in more places, the invalid parameter status is not only about image format, I guess that’s why it is so generic.

[2019-10-04 04:57] iSazonov commented on #29740
@karelz I don't understand you request about [1] - I opened #41518 for this.

[2019-10-04 05:23] ahsonkhan commented on #38074
This issue is specifically about storing the JSON path information as part of the exception whenever the JsonDocument sees an invalid JSON while parsing, and not about full-fledged JsonPath support for querying the JSON data within the JsonDocument. Since this would be a separate feature, please create a separate issue for it. I would imagine the path support (at least for your use case), primaril

[2019-10-04 05:34] JanEggers commented on #41525
@Wraith2 thx for the tip, I used Visual Studio, and after some digging I found the Issue, Its code that is no longer used so I just need to upgrade the library.

this caused the issue:
https://github.com/chkr1011/MQTTnet/blob/2918be18c6c6529584cd1d78e09ebb3fc0819e4f/Source/MQTTnet/Internal/AsyncAutoResetEvent.cs#L85

[2019-10-04 06:00] lafriks commented on #33506
imho it is not ok to close issue for bug only just because it's hard to fix.

Not that I would care for it so much anymore as I have rewritten that microservice to golang as it does not have such problems :)

[2019-10-04 06:09] gary-holland opened #41537 "Add JsonPath support to JsonDocument/JsonElement"
Hi,

I'd like to request JsonPath support for querying the JsonDocument/JsonElement classes.  JsonPath provides similar capability to XPath (and even Sql) in that it allows queries to be performed against Json documents.  This currently represents a major gap for us shifting from Newtonsoft to system.text.json, as we provide JsonPath values as an input parameter to a data load process which can't

[2019-10-04 06:10] gary-holland commented on #38074
Thanks. @ahsonkhan.  I've created a new issue  #41537

[2019-10-04 06:37] ChaseLewis opened #41539 "Using Expression Trees With Pointers?"
# Issue Title

Unable to build expression trees that use simd operations due to SIMD intrinsics requiring pointers.

# General

My goal was to try doing an Expression Tree compiled function and see how it behaved with the new .net core 3.0 intrinsics. Create functions like Transform, Reduce, etc and then given basic expressions like

[code]

At the moment there doesn't appear to be any reasonable

[2019-10-04 06:56] jaymins93 commented on #41520
yes as I am only using DateTime.Now.AddHours(4) and converting to for some encryption and by converting Same string to date time it does not work , by putting string values into the constructor it works by creating in memory date time object , i am pretty sure this is not formatting issue .

[2019-10-04 06:57] jaymins93 commented on #41520
yes I will be sharing this values soon

[2019-10-04 06:59] jaymins93 commented on #41520
yes it is even with correct format and without format by simple using of DateTime.Now and converting to string and parsing back to date time compare to method and < , > , <= ,>= simple fails where as with Same values of the in memory new date time object works well , i suspects there is issue from converting back to string and comparing

[2019-10-04 07:56] the-black-wolf commented on #3690
has this been given more though? Its kind of annoying, it forces us into writing if/then/else spaghetti code for our .net standard library, which is a complete antithesis of what .net standard is about. Whats the point of having an X509 class in .net **standard** if it throws below exceptions? Then its not a cross platform standard.
_**System.PlatformNotSupportedException:** Unix LocalMachine X509

[2019-10-04 09:02] ViktorHofer commented on #41050
Can you please try that scenario again now on master?

[2019-10-04 09:05] ViktorHofer commented on #41344
Closing as resolved. Feel free to reopen if you still encounter the issue.

[2019-10-04 09:05] #41344 closed

[2019-10-04 09:19] Simon-IT commented on #41077
@safern Unfortunately the bug remains for 3.15.4

[2019-10-04 09:53] jaymins93 commented on #41520
please check now I have edited it with all information you need

[2019-10-04 10:49] ManickaP commented on #22048
@karelz It runs on WSL2, the file is present. However this was already fixed in [PR 32350](https://github.com/dotnet/corefx/pull/32350). I retested it on WSL1 and it doesn't crash, returns `Unavailable!`.

I'm closing it, it's already fixed.

[2019-10-04 10:49] #22048 closed

[2019-10-04 11:05] Timovzl opened #41541 "IAsyncDisposable TransactionScope"
`TransactionScope` is a disposable type that almost always has I/O work to do on disposal.

Are there any plans for making `TransactionScope` implement `IAsyncDisposable`? (I am not aware of how readily the ADO.NET methods involved are available as async.)

[2019-10-04 12:09] Mrnikbobjeff opened #41544 "Enumerating StringCollection via ForEach allocates redundantly."
StringCollection uses ArrayList as a backing collection. The current stringlist enumerator is a reference type. By adopting a private version for the current state of StringCollection as is present in List<> we can cut enumeration times in half and avoid allocating by ignoring the ArrayList enumerator and use a variant of the List<> enumerator. Also, the ArrayList indexer can easily avoid one rang

[2019-10-04 12:12] FinexTech commented on #41207
Right now I can't say what changed with kernel upgrade. We are planning to do more tests in 1-2 weeks. Will try to use oracle linux, ubuntu and play a little bit more with various kernel versions. I will be back when there are any results.

[2019-10-04 12:20] jgilbert2017 commented on #23422
No, it's not the "standard use" of HttpWebRequest.

Throwing an exception when AllowAutoRedirect=false prevents access to the full HTTP response (eg Headers or payload text/data).

The flag AllowAutoRedirect has always allowed for the caller to manually process the redirects which is an important piece of functionality.  This is NOT a good API design decision.  There should be a way to manually pr

[2019-10-04 12:22] tmds commented on #41207
@FinexTech fyi, CentOS 8 was just released.

[2019-10-04 12:25] FinexTech commented on #41207
Thank you, @tmds. Will try it too.

[2019-10-04 12:39] niemyjski commented on #39564
I'd prefer if we could just define our own naming strategies. We use our own naming method for snake_case because it occurred before Json.net came out with it and it's slightly different. So perhaps just allow us to set a naming policy or use the default one.

[2019-10-04 12:51] vpaulino opened #41545 "System.Text.Json.JsonSerializer"
Could it be possible to have system.Text. serializers also available as instance types that could implement some interface ? that way I could inject serialization as a dependency.
Something similiar as this: https://github.com/vpaulino/Facades.Serialization

[2019-10-04 12:59] ManickaP commented on #41050
@ViktorHofer I works! Thanks!
Tried on WSL1 Ubuntu 18.04 and OpenSUSE Leap 15.1, both succeeded.

[2019-10-04 12:59] #41050 closed

[2019-10-04 13:03] madelson opened #41546 "Regex failing to parse valid JS regular expression, even when RegexOptions.ECMAScript is specified"
The following regular expression works in JavaScript (at least in Chrome and IE): `/[^]/`.

However, this same pattern causes an `ArgumentException` when passed to .NET's regex class in ECMAScript compliance mode:

[code]

[2019-10-04 13:38] stephentoub commented on #41368
@alexperovich, did you make a change?  It all appears to be working again.

[2019-10-04 13:40] tarekgh commented on #41534
CC @ahsonkhan @steveharter @GrabYourPitchforks

[2019-10-04 13:48] daniel-lerch commented on #40850
The new Linux Kernel 5.0.0-31 on Ubuntu 18.04.3 LTS with HWE enabled fixes the bug for me.

[2019-10-04 13:56] Gnbrkm41 commented on #41544
Technically it can be inlined; it's just because the throwing part leads to more instructions and can bring the method size huge enough that JIT will not inlining the whole method.

can't you just substitute `List<string>` directly where `StringCollection` is used? If the codes are something you in charge of you should be able to just do `using StringCollection = System.Collections.Generic.List<st

[2019-10-04 14:11] Gnbrkm41 commented on #41390
@nkolev92, Wondering when the approximate planned release date is, or if there's a simple workaround/hack (possibly without altering the source/output file)? looks like setting the timezone to UTC may work.

[2019-10-04 14:19] csturm83 commented on #41520
It's not completely clear from your description if the conversion to string and back is all happening on the same thread using the same culture, which could be why you are seeing different results.

From the MS docs for [DateTime.TryParse](https://docs.microsoft.com/en-us/dotnet/api/system.datetime.tryparse?view=netframework-4.8#System_DateTime_TryParse_System_String_System_DateTime__) (emphasis m

[2019-10-04 15:16] jaymins93 commented on #41520
yes I tired tryparseexact and try parse , i am doing conversion from the same thread still it is failing , i also tried to provide cultureinfo but it also failed in that case , i am still unclear why this happened

[2019-10-04 15:21] jaymins93 commented on #41520
to be more precise I am doing it on the same computer , with no change in region country , language , timezone still it fails

[2019-10-04 16:23] Clockwork-Muse commented on #41520
If your local timezone observes Daylight Savings Time, this can return invalid results (local times that don't exist) - `DateTime` isn't really timezone-aware.  If you want correct results, you either need to figure out something using `TimeZoneInfo`, or grab NodaTime and use `ZonedDateTime`.  This isn't your actual problem, though.

It's unclear why you're using it in encryption; using the date a

[2019-10-04 17:12] khellang commented on #39564
@niemyjski Of course you can. Just implement `JsonNamingPolicy` like the built-in ones and set that. Almost everything about the new serializer is configurable and/or extensible, these issues are usually just about including more stuff in the box.

[2019-10-04 17:24] Mrnikbobjeff commented on #41544
We inherited a library that was compiled for wpf on net core which uses these classes extensively. We are not the owners of that library, thus can not make changes to it. It would be beneficial if we could improve the performance for these types for scenarios similar to ours.

[2019-10-04 17:50] karelz commented on #33506
If you look across our repo, you will notice that we rarely close issue because they are extremely hard to fix. This is one of them (probably the only one I am aware of as of now).
There is no value in keeping the issue opened ... it just creates clutter in repo. That's what we are optimizing for - especially with the plan to merge repos. Our goal is to close issues which neither community nor us

[2019-10-04 17:53] nkolev92 commented on #41390
@Gnbrkm41 Please follow the linked issue, I can't commit to an exact timeline just yet.

[2019-10-04 17:59] karelz commented on #29740
@iSazonov we need full description of the proposed format in [1] `ToString(":")` -- see our triage comments in https://github.com/dotnet/corefx/issues/29740#issuecomment-537243912
This part is not clear: "_with custom separator and we should parse mac address with ':' or custom separator_"

It would be best to provide specific examples of the API usage to avoid any confusion. See [API process](htt

[2019-10-04 18:03] iSazonov commented on #29740
Will do.

[2019-10-04 18:07] #41380 closed

[2019-10-04 18:14] karelz commented on #25295
That's a good use case, thanks!

[2019-10-04 18:35] ericstj commented on #41532
There is no cycle in the package graph.  If you actually install the package on any target framework it will be successful.  There appears to be a problem with the cmdlet and how it chooses to download packages and it finds a false positive here. The cmdlet appears to evaluate all dependency groups and downloads a union of packages, and continues doing this down the stack.  Eventually it hits Syst

[2019-10-04 18:35] #41532 closed

[2019-10-04 18:37] stephentoub opened #41551 "Consolidate SafeSocketHandle / InnerSocketCloseHandle"
Socket's safe handle is actually two layers of safe handles: SafeSocketHandle, which is the one exposed to the rest of the implementation (and publicly), and then InnerSocketCloseHandle, which actually owns the handle / file descriptor and which is wrapped by SafeSocketHandle.

This layering should no longer be necessary, adds a lot of complication to the implementation, and makes creating sockets

[2019-10-04 18:37] stephentoub commented on #41551
cc: @tmds, in case you're interested

[2019-10-04 18:37] balivo commented on #23544
Oh sorry @scalablecory I don't see that comment... SendAsync is available in Extensions NuGet?

[2019-10-04 18:39] alexperovich commented on #41368
Yep, I got it fixed. Things are working now https://source.dot.net/#System.Text.Json/System/Text/Json/Document/JsonDocument.cs,4dd04a3ef6a52203.

[2019-10-04 18:39] scalablecory commented on #25295
I agree, this is a de-facto pattern established throughout the library and I'd prefer to preserve that. See `Guid` for an example of having both a parsing-ctor, a `Parse`, and a `TryParse`.

[2019-10-04 18:44] scalablecory commented on #41544
Changing the return type of `GetEnumerator` would be a breaking change, so I don't think this will be possible.

[2019-10-04 18:46] scalablecory commented on #41539
Expression trees can use some love in general; there are many language constructs which are unrepresentable with them.

[2019-10-04 18:56] scalablecory commented on #41545
You might take a look at ASP.NET Core's `TextOutputFormatter`-derived types, like [SystemTextJsonOutputFormatter](https://github.com/aspnet/AspNetCore/blob/release/3.0/src/Mvc/Mvc.Core/src/Formatters/SystemTextJsonOutputFormatter.cs) and [NewtonsoftJsonOutputFormatter](https://github.com/aspnet/AspNetCore/blob/release/3.0/src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonOutputFormatter.cs).

[2019-10-04 19:02] ericstj commented on #41390
For a workaround, you can update the timestamp on the problematic file.  Based on the hash you shared that would be:
[code]

Simply opening and saving that file should fix this. FWIW, I don;t see the issue when using the latest master, do you?

[2019-10-04 19:07] terrajobst commented on #40740
Before we review it, I'd like to some input from the Mono folks. /cc @lambdageek @marek-safar

[2019-10-04 19:14] Gnbrkm41 commented on #41390
looking at the issue it seemed to happen for machines that are ahead of UTC (I'm on UTC +9). I had the same issue a couple days ago on the latest master.

[2019-10-04 19:40] scalablecory commented on #23544
@balivo `SendAsync` is an API on `HttpClient`, no extension needed.

[2019-10-04 19:44] vcsjones commented on #37595
@bartonjs thinking about where to take this issue next, the original issue from the title was addressed by #38884.

There are a number of other platform inconsistencies. I'm not sure if you want to open new issues for those, or make this one a bit more generic, "Inconsistent validation of RSA parameters at import time across platforms" or something.

1. macOS still has the original test in questio

[2019-10-04 19:45] ericstj commented on #41390
Yes, it is time-zone dependent.  The problem packages with bad timestamps were coming from arcade.  Arcade should have seen a fix with https://github.com/dotnet/arcade/commit/fa55d892ce5c6a3d624ffd6e322cb2581019e176, which would  have hit corefx in https://github.com/dotnet/corefx/commit/2f77d4236a1de29300b9286a5c31bc1be642bc0f.  I don't think you should be hitting this any more from tip of master

[2019-10-04 19:45] #41390 closed

[2019-10-04 19:50] scalablecory commented on #41536
I believe the proposed implementation of #40962 was to not keep any internal buffer and instead allocate every time as needed. This seemed acceptable as crossing boundaries is rare in the `SequenceReader` usage we've seen so far.

[2019-10-04 20:03] karelz commented on #41485
@eiriktsarpalis only area label please :)

[2019-10-04 20:03] balivo commented on #23544
Tks...

[2019-10-04 20:11] karelz commented on #41253
Triage: We should never leak this exception to developer

How often does it happen @AndersMalmgren? Can you create a Service Fabric repro that we can replicate ourselves?

[2019-10-04 20:12] karelz commented on #41247
Please try .NET Core 3.0.
If it happens again, please reopen this issue with a (minimal) repro. There is not enough information here now for us to make it actionable.

[2019-10-04 20:12] #41247 closed

[2019-10-04 20:14] xav-stargate commented on #41466
The `passCert` is loaded from a store (on Windows and Linux), could that explain why there is no private key ?

[code]

[2019-10-04 20:14] karelz commented on #41209
Triage: We need to prototype it to see if it is worth it.

[2019-10-04 20:15] fqborges commented on #41532
Thanks for the info.

I will open an issue there.

[2019-10-04 20:17] karelz commented on #41192
Duplicate of #4148

[2019-10-04 20:17] #41192 closed

[2019-10-04 20:23] karelz commented on #41183
Triage: We would like to have it sooner rather than later.
Good for ramp up - @aik-jahoda @ManickaP @alnikola

[2019-10-04 20:26] karelz commented on #41182
Triage: Should be AFTER #41183. Testing -- we will need thoughts on how to test WinHttpHandler without it being a fallback.

[2019-10-04 20:27] karelz commented on #41108
Triage: We need to check on regular basis if the external server works as expected again.

[2019-10-04 20:29] karelz commented on #40995
Triage: This is happening only for known headers. We don't believe it will break anyone in practice who is using best practices. Closing.

[2019-10-04 20:29] #40995 closed

[2019-10-04 20:30] karelz commented on #40663
@geoffkizer are you actively working on it?

[2019-10-04 20:34] karelz commented on #40514
Triage: We want to have a plan at least in 5.0. We need docs on that then.

[2019-10-04 20:37] karelz commented on #40306
Triage: We don't see value of this. You can cast `HttpStatusCode` to `int` today and it should just work.

[2019-10-04 20:37] #40306 closed

[2019-10-04 20:44] karelz commented on #39955
Triage: We need some plan - none of the options is clearly best.

Note (personal): CoreFX should not depend on code higher up in ASP.NET --> the flow should IMO go from bottom to up.

[2019-10-04 20:46] karelz commented on #39955
@scalablecory please kick off email discussion about how to make it happen. We may need a meeting later on.

[2019-10-04 20:52] stephentoub commented on #38836
Failed again here:
https://dev.azure.com/dnceng/public/_build/results?buildId=377373&view=ms.vss-test-web.build-test-results-tab&runId=11586988&paneView=debug
Process terminated. Assertion failed.
   at Interop.WinHttp.SafeWinHttpHandle.SetParentHandle(SafeWinHttpHandle parentHandle) in /_/src/Common/src/Interop/Windows/WinHttp/Interop.SafeWinHttpHandle.cs:line 35
   at System.Net.Http.WinHttpHand

[2019-10-04 20:53] Tratcher commented on #39955
@karelz we've had several email threads without any conclusions, it's time to meet and hash this out.

[2019-10-04 20:56] nabeelvalley commented on #35189
Hi, is this still open? What's needed on this?

[2019-10-04 21:00] karelz commented on #39835
Triage: Can we avoid parsing headers before sending?

[2019-10-04 21:11] geoffkizer commented on #40663
I have the fix ready. Still trying to validate it using stress and confirm that we're no longer seeing this.

I'll aim to get a PR out relatively soon.

[2019-10-04 21:14] karelz commented on #39809
Triage: No repro, not actionable for us now, closing.
If/when there is more info available, feel free to reopen.

[2019-10-04 21:14] #39809 closed

[2019-10-04 21:19] karelz commented on #39715
Triage: One can create an extension method, even with caching if perf matters. Given this is not mainline scenario with just low upvotes, we don't think it is valuable for CoreFX to add it. Closing.

[2019-10-04 21:19] #39715 closed

[2019-10-04 21:21] karelz commented on #39711
Triage: The test is testing "nothing".

[2019-10-04 21:33] karelz commented on #39545
@eiriktsarpalis are you working on it? If not, please unassign yourself. Thanks!

[2019-10-04 21:44] karelz commented on #39293
Triage: Looks like the behavior is not ideal, but kind of ok. There is likely not good way to fix it -- beside fixing it in WinHttp.
Given there is no customer complaint, we will close it for now. Happy to reconsider in future.

[2019-10-04 21:44] #39293 closed

[2019-10-04 21:50] karelz commented on #39260
Triage: We should not normalize in `Add(string, string)`.
It will be technical breaking change. But it will also help perf -- see related #39835.

[2019-10-04 21:59] karelz commented on #39049
Triage: We're ok to close it (incl. @geoffkizer).

[2019-10-04 21:59] #39049 closed

[2019-10-04 22:02] geoffkizer commented on #38559
Notes re remaining work:

We added an internal "AllowDuplex" property on HttpContent. We should consider making this public.

[2019-10-04 22:54] maryamariyan opened #41558 "Simple vanilla WebAPI causes problems in containers - inotify limits"
Hi,

We have the following setup:
- Docker version 18.09.6-dev, build 95c7371304f9cef494efe93f0a8ffd53a75eac21
- .NET Core 2.2
- Unix system (based on Yocto OS)

We measured the number of notify instances with:
```for foo in /proc/*/fd/*; do readlink -f $foo; done | grep inotify | sort | uniq -c | sort -nr```

Once we hit the configured number of inotify instances we see the following errors:
[cod

[2019-10-04 22:55] #41558 closed

[2019-10-04 23:09] maryamariyan commented on #41558
created issue to test issue labeler on pull requests.
please ignore otherwise

[2019-10-04 23:20] JRawlins737 opened #41560 "Xamarin app is throwing System.NotImplementedException: byref delegate"
Looking at the code reference below the exception is getting thrown where a return used to exist..(commented out)

Are there plans to update and return a valid value? causes multiple exceptions per day per user

https://github.com/dotnet/corefx/blob/09698dd91c53e123d3a0f1240b5f611b3c14639c/src/System.Linq.Expressions/src/System/Linq/Expressions/Interpreter/LightLambda.cs#L352

Exception thrown is:

[2019-10-04 23:24] danmosemsft commented on #41546
Related https://github.com/dotnet/corefx/issues/31786

[2019-10-04 23:34] GrabYourPitchforks commented on #17233
@gafter Follow-up question: Would it be acceptable for .NET Core to carry these tables as an internal implementation (e.g., we say ".NET 5's case folding APIs always use the Unicode 12.1 tables"), or do you require the ability to swap out the version of ICU which is used under the covers?

[2019-10-04 23:37] karelz commented on #39955
Yep, that's why need list of options clarified and then a meeting :).

[2019-10-04 23:38] GrabYourPitchforks commented on #41333
Follow-up question to anybody interested: for the specific APIs mentioned here (`OrginalIgnoreCase` comparison and `ToUpperInvariant` / `ToLowerInvariant`), is it acceptable for a particular .NET Core version to be tied to a particular Unicode version, or do folks need to be able to swap out the version of ICU used under the covers?

That is, it is acceptable to say ".NET 5's implementation of the

[2019-10-04 23:43] tarekgh commented on #41333
I am inclining to this option more. I am think in the near future we should fully use ICU for all needed functionality across all OS's. Also, there will be some consistency between the native and managed apps.

[2019-10-05 00:08] scalablecory commented on #39955
Will compile a list of options and results of discussions, and send new email to prep for meeting.

[2019-10-05 00:23] karelz commented on #36438
@wfurt are you working on it? If not, please unassign yourself. Thanks!

[2019-10-05 00:46] jkotas commented on #41333
What are we going to do about the Windows version that do not include ICU? I doubt that we are going to drop the support for those in near future.

[2019-10-05 00:48] electricessence commented on #41534
Any workarounds?  I would hate to have to revert the updates that are currently using System.Text.Json in other libraries.  That's another strange fruit, this error is occurring when running an Azure Function but System.Text.Json was attached to another dependency and not directly imported.

[2019-10-05 01:07] tracker1 opened #41563 "RSA.ImportRSAPublicKey in .Net Core 3 not working"
I'm trying to initialize an RSA instance via `ImportRSAPublicKey` and I'm getting an `ASN1 corrupted data.` error.

Simple case:
[code]

Version Info reference:
[code]

Do I need to do some other conversion first?

[2019-10-05 01:12] tracker1 commented on #41563
The example above is contrived, as I would expect the immediately exported value to be able to import right away again.

[2019-10-05 02:11] GrabYourPitchforks commented on #41534
I'm not quite sure how assembly resolution works in Core, so somebody more knowledgeable would need to chime in. But it sounds very much like an RTM package trying to run on a Preview framework (or vice versa).

[2019-10-05 02:22] stephentoub commented on #39835
Have you added the headers you're sending in every message into HttpClient.DefaultRequestHeaders instead of manually putting them into each message?  If so, you're still seeing them getting re-validated on every request?

[2019-10-05 02:28] stephentoub commented on #35189
Yes

The file
https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Globalization/FormatProvider.Number.cs
is now a stale copy of  https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/Number.Formatting.cs
though there's likely some functionality in the former that no longer exists in the latter but that's still needed for BigInteger.

The work here is to rational

[2019-10-05 03:31] danmosemsft commented on #35189
@nabeelvalley  want to take a shot at this work?

[2019-10-05 04:42] softworkz commented on #41536
With the new APIs being added it won't be as rare as before.
Regarding "rare" please look at my probabilities table.
But "rare" or not doesn't even matter here. A SequenceReader could have a "long" lifetime in terms of the data it is processing, so even "rare" allocations will continuously sum up.

[2019-10-05 04:45] kbetmp001 opened #41570 "mistakes on WebUtility.HtmlEncode"
https://github.com/dotnet/corefx/blob/99ea2b5aebf7361a5baa638c978cb6214fca5217/src/System.Runtime.Extensions/src/System/Net/WebUtility.cs#L651

should be
`char leadingSurrogate = input[index];`

[2019-10-05 05:00] kbetmp001 commented on #41570
the input (double character emoji) "😁😂😃" was replaced to "😁😁😁" while HtmlEncode, after some debug, i found the index was not correctly set on GetNextUnicodeScalarValueFromUtf16Surrogate method.

[2019-10-05 06:13] GrabYourPitchforks commented on #41166
After further thought I don't think `GetCharCount` / `GetByteCount` can be implemented efficiently. I'd recommend not adding those unless we see demand for them.

[2019-10-05 07:13] electricessence commented on #41534
:(

[2019-10-05 08:28] hareshambaliya commented on #33774
@stephentoub I would like to contribute to this issue. Will you please guide me about where to start? What is pending?

[2019-10-05 08:32] Rodrigo-Andrade commented on #39835
Most are not statically know, some diagnostics headers, some are re-passing headers to other services.

[2019-10-05 09:21] robert-matusewicz commented on #1739
@karelz @bartonjs - is there still a need to implement that tickete? If yes, I would be interested to do it.

Just to confirm that I understand that correctly - that the file that needs to adapt to guidelines is corefx/src/Common/src/Interop/Windows/BCrypt/Cng.cs

The work that needs to be done is:
- extract BCrypt* methods to separate files, so BCryptImportKey should be extracted to Interop.BCryp

[2019-10-05 10:50] AndersMalmgren commented on #41253
@karelz Looking in application insights I can see it happens roughly 2 times per day (14 times past 7 days)

![image](https://user-images.githubusercontent.com/817577/66253862-a90b0000-e76e-11e9-97a8-57fa52fdab15.png)

I could try to create something that just sits and tries to download som random https endpoint and see if it triggers.

[2019-10-05 11:24] CoskunSunali commented on #33603
I realize this issue has been closed but I am having the same issue on 1903.

[code]

The code above fails when moving the directory if the process is run in release mode (or debug mode without a debugger attached) and throws the following exception:

_$TARGET$_ below is just for demonstration purposes.

[code]

If I make the thread sleep for a few seconds after calling `Directory.Delete` or put a

[2019-10-05 11:36] svick commented on #41426
I think that reentrant locks are problematic, for reasons explained in [this blog post by Stephen Cleary](https://blog.stephencleary.com/2013/04/recursive-re-entrant-locks.html). And while .Net already has reentrant locks (including `lock`), I don't think more should be added.

[2019-10-05 13:05] eugenesmlv commented on #41518
Hi! Is this still up for grabs? I would like to pick this issue as my first contribution.

[2019-10-05 13:45] jnm2 commented on #40039
I'm having a great time using NRTs with .NET Framework and .NET Standard. If you use @sharwell's https://github.com/tunnelvisionlabs/ReferenceAssemblyAnnotator, the .NET Framework/Standard reference assemblies light up with the nullability annotations from .NET Core 3.0 APIs that match.

[2019-10-05 14:08] nabeelvalley commented on #35189
@danmosemsft / @stephentoub I'd like to look at it, still a little unclear about what exactly is needed though, and also what background knowledge/info would I need to work on this?

[2019-10-05 14:42] EdiWang opened #41573 "JsonSerializer.Serialize(this) ignores derived class members"
The following code produces results differently for System.Text.Json and Newtonsoft.Json

[code]

I am migrating Newtonsoft.Json to System.Text.Json. And this caused a bug in my system.

My design was using this trick to serialize settings classes into database: https://github.com/EdiWang/Moonglade/blob/master/src/Moonglade.Configuration/BlogConfig.cs#L89

I put GetJson() method in a base class in

[2019-10-05 14:57] stephentoub commented on #41570
cc: @GrabYourPitchforks

[2019-10-05 15:20] vcsjones commented on #41563
It looks like you are mixing the expected formats up. You are exporting with `ExportSubjectPublicKeyInfo` which exports a SPKI, but importing with `ImportRSAPublicKey` which is expecting the key to be in PKCS#1 format.

If you import with `ImportSubjectPublicKeyInfo`, then it works as expected:

[code]

[2019-10-05 15:23] vcsjones commented on #41563
Likewise `ImportRSAPublicKey` should be paired with `ExportRSAPublicKey` if that is more preferable for you:

[code]

[2019-10-05 16:03] mvalenta commented on #41518
I actually have code changes ready to submit to a PR that handles colon based formats and lowercase letters. @scalablecory should period based formats ("MMM.MMM.SSS.SSS", metioned [in the linked lifewire site](https://www.lifewire.com/introduction-to-mac-addresses-817937)) also be handled?

[2019-10-05 16:18] GrabYourPitchforks commented on #41570
As a side note, we should deprecate this API. It's not the recommended API for performing HTML encoding (and in fact its use is banned within MS first-party code).

[2019-10-05 16:39] Tornhoof commented on #41573
That's because the method you're invoking looks like this:
https://github.com/dotnet/corefx/blob/b00e9b036558a87c7f25ee59bde41e9b97d9b9a1/src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Write.String.cs#L19-L22
and that one is using ``JsonablePlayer`` for TValue.

If you want the old behaviour take a look at:
https://github.com/dotnet/corefx/blob/b00e9b036558a87c7f25ee59bde41

[2019-10-05 17:46] jafaber commented on #30852
A bit late, but if "Count" gives the wrong idea:

- EstimatedCapacityUsed
- EstimatedCapacityUsage

All I'm personally interested in is knowing when I hit say 90% capacity, so I can signal the producers to slow down.

[2019-10-05 17:48] davidsh commented on #41570
Originally we had the [System.Web.HttUtility](https://docs.microsoft.com/en-us/dotnet/api/system.web.httputility?view=netcore-3.0) class.  Then during Windows 8 timeframe, we added the [System.Net.WebUtility](https://docs.microsoft.com/en-us/dotnet/api/system.net.webutility?view=netcore-3.0) class (because we couldn't use System.Web.* in the Modern SDK).

@GrabYourPitchforks Are you proposing depr

[2019-10-05 18:06] Joe4evr commented on #41573
For what it's worth, tightly coupling the serialization method to your data like this is pretty bad practice. The ideal design should allow one to swap out the serialization method with something else without needing to recompile the base data types.

[2019-10-05 18:58] mklement0 opened #41574 "XmlDocument incorrectly serializes elements with an empty-string child text node when pretty-printing"
`System.Xml.XmlDocument` - unlike `System.Xml.Linq.XDocument` incorrectly serializes an element that has an empty-string child text node when producing pretty-printed output.

(The idea behind creating an empty-string child text node - as opposed to using a _truly empty_ (childless) element - is to force serialization of such an element in the `<tag></tag>` form, as opposed to in the self-closing

[2019-10-05 19:55] Trapov opened #41575 "Q: How to work on System.Threading.Tasks and System.Threading?"
Currently almost all of the classes from `System.Threading.Tasks` and `System.Threading` namespaces are placed in [https://github.com/dotnet/corefx/tree/master/src/Common/src/CoreLib/System/Threading](https://github.com/dotnet/corefx/tree/master/src/Common/src/CoreLib/System/Threading) and they don't have any solutions to work with. How could I work on them and contribute? What's the dev/contribut

[2019-10-05 20:54] stephentoub commented on #41575
They're part of System.Private.CoreLib and are only mirrored to corefx as part of a source sharing approach. To work on them, you need to work on the dotnet/coreclr repo, and they are part of the CoreLib .sln there.

[2019-10-05 21:08] #19416 closed

[2019-10-05 21:53] GrabYourPitchforks commented on #41570
Here's the rundown:

 - `WebUtility.HtmlEncode`: __not__ SDL-approved.

 - `HttpUtility.HtmlEncode`: SDL-approved __only when__ (a) running inside an ASP.NET Full Framework application, __and__ (b) that application targets ASP.NET 4.5 or higher.

 - `System.Text.Encodings.Web`: SDL-approved on all platforms.

I'm not suggesting deprecating the entire class, just some (most?) of the APIs on the cla

[2019-10-05 22:11] GrabYourPitchforks commented on #41570
Clarification: Steve pointed out that this might be a regression from Full Framework. In that case I'd definitely vote to fix it. My earlier comments were written with the assumption that this is a bug that is present _both_ in Full Framework _and_ in Core. Such bugs I would advocate not fixing because IMO we should be discouraging general use of this API anyway.

[2019-10-05 22:24] inmemorynet opened #41588 "TcpClient very slow connecting to "localhost""
# Issue Title

TcpClient very slow connecting to "localhost"

# General

We are seeing a major performance regression when connecting using "localhost" . This use to take less than 1 millisecond, but now takes over 2 seconds.  The following snipped replicates the behaviour.

TcpClient client = new TcpClient();
client.Connect ("localhost",5060);

Using 127.0.0.1 as a workaround does not have this p

[2019-10-05 22:36] gafter commented on #17233
@GrabYourPitchforks I think that would work very well for us.

[2019-10-05 23:07] DynConcepts commented on #36166
Was looking into using this for persisting polymorphic object graphs, but 100% round tripping is a requirement.  Any suggestions on a way forward that will align with the direction of .Net Core??

[As a side note: So frustrating that a problem which was basically solved in the early WCF days [nearly 15 years ago] is still even a bump in the road]

[2019-10-06 00:10] EdiWang commented on #41573
Thanks @Tornhoof for the detailed explanation, GetType() works!

[2019-10-06 00:13] EdiWang commented on #41573
@Joe4evr Good point, separating the serialization method from model class makes perfect sense,I am going to change the design.

[2019-10-06 00:13] #41573 closed

[2019-10-06 00:31] stephentoub commented on #41570
This regressed in .NET Core 3.0 as part of https://github.com/dotnet/corefx/pull/27250/commits/eded8f891bb3648299fa9fcff7be93ed15412d0b.
cc: @ViktorHofer

[2019-10-06 02:33] stephentoub commented on #41570
Reopening to track potential port to release/3.1.

[2019-10-06 04:08] karelz commented on #41253
Yeah, if you can demonstrate that something hitting an endpoint in that environment hits the problem on occasions, that would be great.
I am curious if it is sensitive to the endpoint used ...

[2019-10-06 04:09] karelz commented on #1739
@krwq @GrabYourPitchforks can you provide some guidance while Jeremy is on vacation?

[2019-10-06 04:11] karelz commented on #39835
@Rodrigo-Andrade I am not sure I fully understand -- do you have a small repro demonstrating what you want / need? That would be easiest way to clarify ... Thanks!

[2019-10-06 04:13] danmosemsft commented on #35189
@nabeelvalley its pretty much what's described above. You could take a look at the code mentioned maybe.

For a first contribution though, you could look at a smaller change if you want to ? There are a lot of issues marked "up for grabs" you could choose from.

[2019-10-06 05:30] Trapov commented on #41575
Thank you, couldn't find them there at first but now I did.

[2019-10-06 05:30] #41575 closed

[2019-10-06 06:08] odhanson commented on #40737
@danmosemsft I have tested with latest nightly build and LGTM

[2019-10-06 08:01] scalablecory commented on #35404
Some internal partners have also requested some functionality which this might resolve.

[2019-10-06 09:51] mikaelkolkinn opened #41578 "Support for EnumMemberAttribute in JsonConverterEnum"
Hi, I wonder if supporting EnumMemberAttribute in JsonConverterEnum is planned and if so what the ETA is?

You don't need it in 3.0, but you will get a lot of requests for customizing enum names. Design for adding it in the future.

_Originally posted by @JamesNK in https://github.com/dotnet/corefx/pull/38702#issuecomment-503777812_

[2019-10-06 10:37] Rodrigo-Andrade commented on #39835
I have something like this: https://github.com/aspnet/AspLabs/blob/master/src/Proxy/src/ProxyAdvancedExtensions.cs#L57

But the point is, when i already know that a header is valid, i still need to parse it, and that parse is usually not cheap.

If the header is a "know header ", i might be paying even more (like the authorization header). It would be really nice to have an api that i can say: jus

[2019-10-06 12:08] vishal868 commented on #31034
We are facing exactly the same issue as described by @btecu on windows 2006 and dotnet core 2.2.402.
We are trying to communicate between different APIs through HttpClient & facing this error randomly (approx 2-5 every day with avg. 10000 calls).

Setting DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=false doesn't solve the issue.

[2019-10-06 13:34] stephentoub commented on #39835
@davidsh, is it expected that TryAddWithoutValidation defers rather than removes the validation? Would it make sense when we enumerate the headers internally to write out that we don't force validation?

[2019-10-06 13:57] danmosemsft commented on #40737
Excellent! Let us know when you ship!

[2019-10-06 14:42] godrose opened #41582 "Unable to use System.Management facilities on MacOs"
Repro steps:

- Create a .NET Core 3.0 app test project (using SpecFlow and xUnit)
- Create a .NET Core 3.0 library project
- Use `System.Management`-related code within the library project

Expected: It just works (and it used to)
Actual: It doesn't (which is frustrating)

More info:
Error - System.PlatformNotSupportedException : System.Management currently is only supported for Windows desktop a

[2019-10-06 15:00] davidsh commented on #39835
The intent of the API was to add the header string as-is to the collection without validation. And following that, the header would be written to the wire as-is.

[2019-10-06 15:01] Gnbrkm41 commented on #41582
I don't understand what you're saying; the description of the namespace is `Provides access to a rich set of management information and management events about the system, devices, and applications instrumented to the Windows Management Instrumentation (WMI) infrastructure.`, the most important part being ***Windows*** Management Instrumentation. It relies on the WMI infrastructure that only Windo

[2019-10-06 15:06] godrose commented on #41582
It works on Windows. It fails to do so on Mac. I remember it used to work with one of the preview versions.

[2019-10-06 15:44] stephentoub commented on #41582
This has never been implemented on Unix.

[2019-10-06 15:46] godrose commented on #41582
I see

[2019-10-06 15:46] #41582 closed

[2019-10-06 16:52] btecu opened #41583 "Support `string` and `int` enums simultaneously in Text.Json"
I have an endpoint that receives payloads from a third party which sends the enums as string, so I added `new JsonSerializerOptions { Converters = { new JsonStringEnumConverter() } }` to my adapter. However, this broke the rest of the endpoints that receive enums as int.

Both the default int enum converter and `JsonStringEnumConverter` should work at the same time.

[2019-10-06 18:12] #39308 closed

[2019-10-06 18:13] wfurt commented on #36438
yes, I do @karelz. I have fix for OpenSSL but schanel gives me some grief.

[2019-10-06 18:41] tarekgh commented on #41333
We are talking to Windows team who are going to publish a NuGet packages for ICU. These packages can be used on Windows down level versions. Also, we are going to fallback to NLS in case we couldn't find any ICU on the system. I am going to write some doc with more details and I'll share it as soon as I have it ready.

[2019-10-06 19:11] tarekgh commented on #30852
@stephentoub I marked this as ready for review. please let me know if you you have different suggestions.

[2019-10-06 20:55] bartonjs commented on #41563
`ImportRSAPublicKey` imports the RSAPublicKey format from PKCS#1 (https://tools.ietf.org/html/rfc3447#appendix-A.1.1) (the PEM key format which starts with "BEGIN RSA PUBLIC KEY").  `ExportSubjectPublicKeyInfo` exports the key in the X.509 SubjectPublicKeyInfo format for RSA keys (the PEM key format which starts with "BEGIN PUBLIC KEY").

As @vcsjones mentioned, you need to match your export forma

[2019-10-06 20:55] #41563 closed

[2019-10-06 21:10] GrabYourPitchforks commented on #41534
I pinged some folks more knowledgeable about assembly packaging / deployment / loading. Hopefully they'll be able to respond after the weekend. :)

[2019-10-06 22:23] btecu commented on #41583
It appears that it works, it's the other way around (string enum don't work without `{ new JsonStringEnumConverter() }`.

[2019-10-06 22:23] #41583 closed

[2019-10-06 23:03] davidfowl commented on #41534
Azure functions pins versions of specific assemblies so you could be running on an older version of cetain bits. Can you share your functions project dependencies?

[2019-10-06 23:04] karelz commented on #31034
@vishal868 please see the post above: https://github.com/dotnet/corefx/issues/31034#issuecomment-422905803
This is a mix of multiple similar-sounding reports and without a repro, or someone dedicated to trace it on their side it is not actionable for us.

As first step I recommend to upgrade to 3.0. If that does not help, then trying to isolate a repro is next best option. If that is difficult, th

[2019-10-07 00:35] clintnetwork opened #41586 "Where is SO_BINDTODEVICE in System.Net.Sockets.SocketOptionName ?"
Hey,

I would like to perform a HTTP query with `Socket` using a specific linux interface, by example eth1, how its possible to do this ?

Thank you!!

[2019-10-07 00:56] zerogouki opened #41587 "MemoryCache use of seldom used fields"
I've noticed that a portion of the memory allocated by [MemoryCache ](https://github.com/dotnet/corefx/blob/0cc22ccba707d7552159363d586262fa9c4e8a2a/src/System.Runtime.Caching/src/System/Runtime/Caching/MemoryCacheEntry.cs) is on this internal class called [SeldomUsedFields](https://github.com/dotnet/corefx/blob/0cc22ccba707d7552159363d586262fa9c4e8a2a/src/System.Runtime.Caching/src/System/Runtime

[2019-10-07 02:06] ahsonkhan commented on #41534
I haven't used Azure Functions a lot so it will take some time for me to give it a try and figure out the root cause. If you have an easy way to repro the issue or can provide more info about your dependencies that are getting imported and the call-stack that's resulting in the missing method error, that would be helpful. Also, if you have a project that you are deploying to Azure Functions, cna y