[2016-02-09 20:58] KrzysFR commented on #5474
@mikedn Sorry, I did not understood that you were talking about `conv.u` specifically. I don't know much about IL and this goes well over my head.

@nietras I somehow was able to get VS to show me the proper assembly code for the AsPointer version, and it looks identical to the static one, except that it uses a different register. Thanks for fix!

[2016-02-09 21:06] joshfree commented on #5349
@ellismg is there anything left to do here other than update the badges?

[2016-02-09 21:07] CIPop opened #5991 "Address issues in PR #5852"
Address issues with Virtualnetwork found in PR#5852. Postponing the fixes for later given the CI system instabilities with *NIX in the last week.

* VirtualNetworkStream.cs:112
Nit: I think you said this will never be canceled at this time, so this can wait until later, but if this does have cancellation requested, it'll end up throwing a cancellation exception that's then caught by the catch bloc

[2016-02-09 21:08] #5739 closed

[2016-02-09 21:08] #4817 closed

[2016-02-09 21:21] ianhays commented on #4002
This is the cause of https://github.com/dotnet/corefx/issues/4829

[2016-02-09 21:23] sokket commented on #5949
Fixed by #5973

[2016-02-09 21:28] ellismg commented on #5349
@joshfree I looked at the runs and a few of the globalization tests are failing because of data updates on a newer ICU.  I will update the tests and the badges concurrently.

[2016-02-09 21:31] ianhays commented on #4002
Somewhat related, but perhaps I have a misunderstanding of something here. Is it by design that:

[code]

prints ```false```? It would seem to me that the Loopback mapped to IPV6 should still be treated as loopback, no? Isn't ```::ffff:127.0.0.1``` as much an IPV6 loopback as ```::1```?

This behavior is on Desktop, too.

[2016-02-09 22:03] sokket commented on #5941
Looks like this is a bug with our build tools. The System.Buffers assembly is the first one to have both partial facade assemblies and nuget assemblies references, so there is some work here to make this scenario work (per @ericstj). Assigning to him for now until we can find a permanent owner

@christiannagel - as a workaround to get things building, add a reference to System.Buffers to your proj

[2016-02-09 22:13] christiannagel commented on #5941
thank you @sokket

[2016-02-09 22:14] #5945 closed

[2016-02-09 22:14] joperezr opened #5993 "init-tools.sh output should mimic the cmd equivalent where the output is logged out to a file."

[2016-02-09 22:28] jkotas commented on #5940
Async delegates are not in .NET Core for several reasons:

- Async delegates use the deprecated IAsyncResult-based async pattern. This pattern is generally not supported throughout .NET Core base libraries, e.g. System.IO.Stream does not have IAsyncResult-based overloads for Read/Write methods in .NET Core.
- Async delegates depend on remoting (System.Runtime.Remoting) under the hood. Remoting is

[2016-02-09 22:29] #5908 closed

[2016-02-09 22:29] #5940 closed

[2016-02-09 22:36] jasonwilliams200OK commented on #5901
With the mutual effort, on NetBSD we are able to port CoreRT 100%, CoreCLR 98%, CoreFX 100% System.Native assembly and managed part is yet to arrive. The patches on CoreFx can be found at https://wip.pkgsrc.org/cgi-bin/gitweb.cgi?p=pkgsrc-wip.git;a=tree;f=corefx-git/patches and the mirror repo on github being https://github.com/NetBSD/pkgsrc-wip/commits/master (updates every hour).

I am still ver

[2016-02-09 22:42] mellinoe commented on #5901
I have a branch that compiles without PCL reference assemblies here: https://github.com/mellinoe/corefx/commits/eliminate-pcl-warning.

That branch should build all of the product assemblies, but there are still some issues that I am trying to track down. Namely some test references are not being copied correctly, so a lot of random test projects are failing because files are missing in the output

[2016-02-09 23:29] ianhays commented on #4829
is ```::127:0:0:1``` a valid IPv6 loopback address without the "ffff" prefix?

[2016-02-10 00:11] ericeil commented on #4829
The "ffff" one is an "IPV4-mapped" address; the other one is an "IPV4-compatible" address.  The "compatible" address scheme is officially deprecated, but still used.

[2016-02-10 01:07] ericeil commented on #4733
It sounds like this was fixed with #4652.  If this still repros on current builds, please re-open this issue.

[2016-02-10 03:23] stephentoub opened #5998 "Eliminate CallbackHandle in CurlHandler"
For each request, we end up allocating a native CallbackHandle and wrapping it on the managed side with a SafeCallbackHandle.  Then each P/Invoke to register a callback passes a delegate and a GCHandle, stores both in the CallbackHandle, and passes to libcurl a shim function and the CallbackHandle as the user pointer.  The shim when invoked then pulls the relevant function out of the CallbackHandl

[2016-02-10 03:23] markrendle opened #5999 "Add Unix Sockets"
I previously opened #3153 asking about exposing Unix Socket functionality in the CurlHandler, and @stephentoub closed the issue with [an excellent explanation](https://github.com/dotnet/corefx/issues/3153#issuecomment-139289555).

However, as things in .NET Core Land have progressed, I'm wondering again about this.

Basically, the **dotnet/corert** project is looking to enable native compilation,

[2016-02-10 03:27] stephentoub commented on #5999
Thanks, @markrendle.  This is interesting.

@davidsh, what's the purpose of ```HttpRequestMessage.Properties```?  Is it intended for passing arbitrary data to be interpreted by handlers?  Or if not, is there some other member somewhere that is?

[2016-02-10 03:34] davidsh commented on #5999
It was intended as an arbitrary dictionary of name/value pairs for developers to pass to their own custom handlers.

We have not, to date, embraced using it as a mechanism to control our own main handers such as HttpClientHandler, WinHttpHandler, CurlHandler.  Once we do that, we will need to support it for a long time.  If we go down this route, we will want to come up with a useuful and unique m

[2016-02-10 04:03] eschneider999 commented on #4571
My micro orm Symbiotic is at %97+ to .NET Core compatibility. Just need DbProviderFactory and some config junk.

[2016-02-10 04:15] christiannagel commented on #5940
Can't this be solved by compilation errors instead of runtime exceptions?

[2016-02-10 04:26] jkotas commented on #5940
@jaredpar What do you think?

[2016-02-10 06:40] #3382 closed

[2016-02-10 07:01] SamuelEnglard commented on #5921
@terrajobst think you could rope in a GC person? For all the time I've spent in .NET I'm really not a GC specialist.

[2016-02-10 08:08] weshaggard commented on #5980
We created a private package to contain windows.winmd for our build system but I was not currently planning to add that for public consumption as that isn't something we own in general. However I agree it is something we should try to figure out a solution to.

@richlander @cartermp do you guys know if there are any thoughts on officially supporting the Windows SDK as a nuget package?

[2016-02-10 09:21] nietras commented on #5474
No, just trying to understand. And trying to make sure the `Unsafe` methods are as lean and fast as possible also with regard to IL size. The JIT'ed code looks fine as far as I can tell.

Yeah I was way off :) Thanks for the explanation. I am asking, because this is interesting in the context of `Unsafe` where some methods are pretty much just "reinterpret casts" of references or pointers. That is

[2016-02-10 10:05] mikedn commented on #5474
Yes, `TYP_REF` is used for object references (type `O` in IL speak). Note that the same `TYP_REF` is used for all reference types, in this context the compiler doesn't distinguish between, for example, `string` and `object` references.

Yes, `ref` parameters use `TYP_BYREF` and I expect `ref` returns to use `TYP_BYREF` as well.

`TYP_PTR` isn't very useful, ultimately unmanaged pointers are just i

[2016-02-10 10:25] nietras commented on #5474
@mikedn Thank you very much that is very clear. I understand the GC requirements, but had been wondering why there was no concept of a "native pointer" in the jit, but this is just an integer type then, so that is how the distinction is made.

[2016-02-10 11:48] NickCraver commented on #3529
@weshaggard that's great to hear - thanks for the update!

[2016-02-10 12:50] #5549 closed

[2016-02-10 12:55] jasonwilliams200OK commented on #5901
@mellinoe, thanks! @krytarowski has fixed the linker issue in CoreCLR, so we are most probably 100% there. Once that is done, I will try building your branch. This is a great effort you pulled there!
Kudos! :tada:

[2016-02-10 12:59] #2953 closed

[2016-02-10 13:05] PinpointTownes commented on #2953
Wooooooooooooooot, thanks @bartonjs! :clap:

[2016-02-10 13:10] stephentoub commented on #1942
If the concern is that we need to frequently double-hash, have you considered storing a:
[code]
as the key rather than a raw string?  You can either compute the hash upfront and store it in the struct, and override GetHashCode to return it, or you can compute the hash lazily in GetHashCode if it wasn't already computed.

[2016-02-10 13:25] stephentoub opened #6006 "Failed assert in socket tests in ToFileDescriptor on OS X"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst/412/console
[code]

[2016-02-10 13:50] stephentoub opened #6007 "Win32FileStream turns async reads into sync reads"
When filling the internal buffer, Win32FileStream does this as part of ReadAsync:
[code]
Ugh!

There's a large comment about how this is done to avoid concurrent use of the buffer when concurrent read operations are issued, but we should be able to work around that using something similar to what I previously did for WriteAsync and FlushAsync, with the HasActiveBufferOperation mechanism (https://g

[2016-02-10 14:48] hethert commented on #5969
Clearing out the tools, I got past the original error noted.
I am getting another error further on but it is not clear yet what the other error is.

[2016-02-10 15:06] joshfree commented on #5896
/cc @bartonjs

[2016-02-10 15:29] eerhardt commented on #5998
An issue is that we use SafeCallbackHandle and Interop.Http.RegisterReadWriteCallback in Crypto.X509Certificates as well:

https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CertificateAssetDownloader.cs#L82

So we would either need to diverge these two code paths, or figure out a way for Crypto to just use pubilc Syste

[2016-02-10 15:30] xied75 opened #6008 "System.Net.Cache whole namespace is not in corefx?"
Was porting something that is doing:

[code]

Then discovered that this namespace doesn't exist in the corefx, not even asked or mentioned in issues/code.

1, Is there better practices cancelling the need of this?
2, Is the function absorbed into somewhere else?
3, Or simply missing?

[2016-02-10 15:32] maxpa1n87 commented on #5967
For anybody interested in a solution. I just
`git remote add tk https://github.com/tpokorra/referencesource.git`
then
`git fetch tk/patch-1`
then
git cherry-pick -x 054efb814f0498927d8046fc015a4926968d51b1
then git add <the file of issue>
Build mono run WebService app. :dancer:

[2016-02-10 15:34] akoeplinger commented on #5967
The PR was merged in mono/referencesource so this should be fixed (once it gets rolled into a Mono release) :smile:

[2016-02-10 15:37] bartonjs commented on #5998
@eerhardt Nope, it'd be a circular reference.  HTTPS needs X509 needs HTTP, and since HTTPS and HTTP are together in the same package there's no injection point... thus X509 needs to talk to libcurl directly.

[2016-02-10 15:39] stephentoub commented on #5998
We could just add a separate entrypoint to the shim for X509.

[2016-02-10 15:40] bartonjs commented on #5998
Yeah, I was about to add "but that doesn't mean that X509 can't just benefit from/also-compile-in whatever alternate solution is utilized here"

[2016-02-10 15:43] stephentoub commented on #5998
It's likely that the same native image will be used from both libraries together, so X509 couldn't just use the same mechanism I'm proposing, as it would end up overwriting the callbacks hooked up by Http.  But we can essentially leave the existing mechanism in place for X509 (cleaned up a bit, since X509 needs less of it), and add the new entrypoints for Http to use.

[2016-02-10 15:56] eerhardt commented on #5998
So just to ensure that I have the idea understood properly:

In MultiAgent's static constructor, we P/Invoke into the shim passing pointers to all the necessary delegates. The shim then holds these pointers in global memory.

Later, when we actually make a request, EasyRequest.SetCurlCallbacks still calls Interop.Http.RegisterXXX as necessary, passing in a GCHandle to the EasyRequest as 'userPoint

[2016-02-10 16:10] stephentoub commented on #5998
Yup, that's what I had in mind.  Let me know if you think it's unreasonable, doesn't work, etc.

[2016-02-10 16:12] xied75 opened #6009 "prerelease build Microsoft.NETCore.UniversalWindowsPlatform 5.2.0-rc3-23809 can't install in vs 2015"
It gives this error msg:

[code]

I tried one earlier build 23808, same error.

[2016-02-10 16:23] cartermp commented on #5980
@weshaggard I hadn't considered this as a part of #3934, but I see the value add.  We'll have to chat with folks who own the SDK.

[2016-02-10 16:44] bartonjs opened #6010 "Investigate RSACng handle usage"
When splitting out a thinner RSA implementation from RSACng (https://github.com/dotnet/corefx/commit/58d7b85d3b8a9632d1614716b966381e6d6b4efb) it seemed that RSACng does a lot of accessing of the Key.Handle property.  This property returns a distinct disposable/finalizable resource each call, and RSACng does not appear to dispose it when done.

Perhaps a single handle can be extracted from the key

[2016-02-10 16:58] onovotny commented on #3934
I'll add to this list that once the pattern is created, it'd be great to share with Xamarin so they can potentially publish targeting packs for their toolset.

[2016-02-10 17:01] davidsh commented on #6008
The System.Net.Cache namespace and associated classes and methods are not in CoreFx and there are no plans to put them in.

These classes were used initially to support a simple caching logic for the original HTTP stack using HttpWebRequest APIs

We rewrote the entire HTTP stack and there is no caching logic in it.  System.Net.Cache could not be ported as-is anyways.

The advice for customers when

[2016-02-10 17:41] xied75 commented on #6008
@davidsh Thanks a lot for the fast reply. Certain information can only surface from you guys e.g. why you created that namespace at the first place. Allow me to further question a bit so other people can reference this later.

1, what is the reasoning to have this simple cache when you designed HttpWebRequest API? Is that for performance?

2, with the new stack (System.Net.Http) what is the reason

[2016-02-10 17:43] hardcodet opened #6011 "HttpClient does not support proxy PAC file with file:// scheme"
I have a vanilla ASP.net vnext project, and when switching from `dnx451 `to `dnxcore50`, `HttpClient `stops working assuming an URI with an invalid protocol. The code itself is trivial:

        public IActionResult Get()
        {
            string baseUrl = "http://someserver.com/foo/";
            using (var client = new HttpClient() { BaseAddress = new Uri(baseUrl) })
            {

[2016-02-10 17:51] davidsh commented on #6011
cc: @CIPop @SidharthNabar

Can you please submit a small repro Visual Studio solution for this?  Also, what version of Windows OS are you running this on? Thx.

[2016-02-10 17:52] maxpa1n87 commented on #5967
Nice. I noticed everytime a did a cherry-pick and run make git submodule external/referencesource gets checked out before the actual build making my changes from the commit not available. How can I change this behavior? :question:

[2016-02-10 18:02] hardcodet commented on #6011
OS: Win7 x64
Repro: Just start the project, then go to /api/jobs - that yields the exception for me.

[HttpClientIssue.zip](https://github.com/dotnet/corefx/files/125255/HttpClientIssue.zip)

Thanks for the quick reply!
Philipp

[2016-02-10 18:04] davidsh commented on #6008
The HttpWebRequest and System.Net.Cache APIs were designed a long time ago (2001 era).  The caching part was done for the usual reasons....to speed up performance for some use cases.  This is similar to why browser cache results.  There are always pros and cons to caching.  For a developer API, it was important to provide choices.

We could not port the existing System.Net.Cache.  The architecture

[2016-02-10 18:09] akoeplinger commented on #5967
You need to bump the submodule reference to point to your commit/fork.

[2016-02-10 18:52] dajuric commented on #5921
Hi Samuel,

  thanks for the response.

If I currently remember, I allocated several hundred times anUnmanagedImage from AForge.NET and native .NET array. After each call I disposed an unmanaged image (I do not recall what I did with GC.Collect()).

One application example which benefited from managed heap is [Fast template matching](https://github.com/dajuric/accord-net-extensions/tree/master/Sou

[2016-02-10 19:02] maxpa1n87 commented on #5967
Ok, thanks, I'll try that.

[2016-02-10 19:06] joperezr commented on #5969
Ok, I'm closing this issue given that this error doesn't repro anymore, but please feel free to log any more issues you hit.

[2016-02-10 19:06] #5969 closed

[2016-02-10 19:07] ericstj opened #6017 "System.Linq needs to support 4.1.0.0 on desktop or increase the generation"
I've added a baseline for our internal build to permit the missing members for now, but you either need to add these APIs to desktop or create an API surface that is OOB-able to desktop.  An example of an OOB-able design would be to put the new members on a new type.

If you can OOB the new APIs then you can make 4.1.0 dotnet5.4/netstandard1.3.  It will work on .NET 4.6 and later.
If you cannot OO

[2016-02-10 19:13] maxpa1n87 commented on #5967
Great. That work well so forth. Yet the cherry-pick did not only modified the mentioned single file? Or did it? I get compilation errors applying his commit. :octopus:

[2016-02-10 19:25] joperezr commented on #5970
I created a workaround for this issue with PR #6014. The right fix will be applied once the MSBuild issue is fixed.

[2016-02-10 19:40] ericeil commented on #5246
This looks like a datagram got lost, which is perfectly legal, but should be rare on loopback.  Making the test robust to this will take some doing.  I'm going to postpone this to "future;" if this comes up a lot, we can fix it sooner.

[2016-02-10 19:42] ericeil commented on #5832
Fixing this with signals may be an option.  Moving this to "future" for now; I'm not sure this is something we actually need to fix (depends on how much existing code depends on Dispose for cancellation).

[2016-02-10 19:44] ericeil commented on #4728
@stephentoub or @pgavlin, can one of you write up a little background info on this issue?

[2016-02-10 19:47] ericeil commented on #4824
Looks like a simple DNS failure, probably due to infrastructure issues at the time.  Hasn't repro'd for a while, so I'll close this for now.

[2016-02-10 19:47] #4824 closed

[2016-02-10 19:48] jaredpar commented on #5940
Generally the compiler enables / disables features by looking at the types for hints.  Is there anything we can key on here to know to exclude these members?

[2016-02-10 19:57] maxpa1n87 commented on #5967
Got it to work now. Must have messed up something with git checkout and git cherry-pick. Now compiles. WebService is up and running. Can be closed :+1: :100: :8ball:

[2016-02-10 20:01] stephentoub commented on #4728
Basically, ```select``` is limited in scale to the number of file descriptors that can fit in a ```fd_set```, which is basically a bit mask with 1s set for the file descriptor numbers to include; that limits how many file descriptors can be used with it, but it also limits what file descriptors can be used (any file descriptor value than the number of bits in fd_set can't be used)... it should be

[2016-02-10 20:58] naamunds commented on #4650
This issue should now be fixed.

[2016-02-10 20:58] #4650 closed

[2016-02-10 21:01] aL3891 commented on #721
Hello, i'm pretty close to a 1.0 of riosharp and i've done some preliminary testing with a rio sharp based version of cts traffic.

Right now on my reference machine i max out the 10 gbit virtual network at about 10% less cpu than ctstraffic when pulling from the server (regular ctstraffic acting as the client in both cases) i'm not sure i do everything that ctstraffic is doing though (but i did a

[2016-02-10 21:52] sokket commented on #2046
We have this throwing PlatformNotSupported right now but since FreeBSD work is mainly being done by the community, adding the Up-For-Grabs label

[2016-02-10 22:00] ericeil commented on #5858
@mogarick, from your description it looks to me like this is, as you said, a case of functionality that's simply not yet done on OSX.  Certainly once we ship the final 1.0 release, this functionality should be everywhere, but there's work yet to do.  I'll close this as a duplicate of #2483.

[2016-02-10 22:01] janhenke commented on #2046
Fair enough. I would still like to see the FreeBSD port completed. Is there any strong opnion about the three possibilities you mentioned above?

[2016-02-10 22:03] sokket commented on #2046
@janhenke I think the kqueue implementation would be the best bet; it would be functionally similar to the FileSystemWatcher.Linux implementation but with FreeBSD nuances; it feels like the best option here unless FreeBSD has some special APIs (like OSX), but I don't know enough about FreeBSD to know that :)

[2016-02-10 22:03] KrzysztofCwalina commented on #2022
Solid proposal would talk about the following:
1. Write motivation for the feature, including an example, e.g. what are the tests testing that need file i/o abstracted.
1. Show new APIs that are being proposed (all types, members, namespaces, assemblies).
2. Show existing APIs that would need to change, i.e. what types implement and consume the abstractions (consume meaning take as parameters)
3.

[2016-02-10 22:05] saurabh500 commented on #3760
A fix was delivered into TFS to remove the dependency of sni.dll on mscvcr110.dll

[2016-02-10 22:05] #3760 closed

[2016-02-10 22:14] ericeil commented on #5858
Looks like I may have jumped on this a little too quickly....reopening.

[2016-02-10 22:24] naamunds commented on #5990
I think we will also want to add support for running build.sh in Fedora. See https://github.com/naamunds/buildtools/commit/78220deef3b1271fcae43cdb62cc1ab79d4613ab and https://github.com/naamunds/corefx/commit/ba64fda9a0c6bdd205f4d3a99e6c7729821dfada for similar changes to support CentOS, Debian, and RHEL.

[2016-02-10 22:26] hughbe opened #6022 "Inconsistent results for Math.Cos(double.MaxValue) on Windows and non-Windows platforms"
## Problem
- `Math.Cos(double.MaxValue)` has inconsistent results on Windows and non-Windows platforms.
- Windows: returns `double.MaxValue`
- Non-Windows: returns `-0.99998768942656`

## Symptom
Whilst working on #5974, I noticed that I broke the Ubuntu, Mac OSX and CentOS builds by causing test failures. Interesting Windows did not break, and the tests ran as expected.

Consider the following co

[2016-02-10 22:38] aL3891 commented on #721
hm, now i'm actually getting some erratic performance, i may have broken something when trying to fix some other issues with the cts implementation :) but in my profiling the managed parts have been pretty lean. i'd love to have a second pair of eyes on it though!

[2016-02-10 23:27] ericeil commented on #5858
I've verified that I can use System.Net.Security.SslStream from a simple project, on OSX running under DNX/CoreCLR RC2 (dnu version string CoreClr-x64-1.0.0-rc2-16357).  Please let me know if moving forward to a more recent version does not resolve this for you.

[2016-02-10 23:27] #5858 closed

[2016-02-11 00:03] VSadov commented on #6017
I'd think adding the new API to desktop is a better option.

NOTE: same applies to the Expression.Compile(preferinterpretation) overload. It would be ok to just add a method, but still defer to compiling, since it is "prefer" setting.

[2016-02-11 00:05] TravisTheTechie opened #6024 "System.ServiceProcess.ServiceController & ServiceBase"
We've had requests to port https://github.com/topshelf/topshelf to .NET Core. To do this, we would love to be able to query if we had access to the SCM and act as needed so we don't need to ship a version targeting both core & full profile.

[2016-02-11 00:53] feinoujc opened #6026 "HttpWebRequest.UserAgent is not available in corefx?"
any particular reason why?

[2016-02-11 01:01] davidsh commented on #6026
cc: @CIPop @SidharthNabar @stephentoub @terrajobst

The API surface for System.Net.Requests contract (which includes HttpWebRequest API) was initially created from the Windows 8 Store Profile for .NET app.  In general, this Store Profile was a reduced set of .NET APIs compared with .NET Framework (Desktop).

For the HttpWebRequest API, many methods and properties were removed for simplication reas

[2016-02-11 01:09] feinoujc commented on #6026
Ok, I can live with that. Just seemed a bit odd.

Thanks for the explanation.

In my case I am using System.Net.Requests so I can target both .net core and .net 4.5 and have synchronous api calls supported in the .net 4.5 target only, since HttpClient is 100% async.

[2016-02-11 01:09] #6026 closed

[2016-02-11 01:20] bartonjs opened #6029 "ServiceController StopAndStart test is failing intermittently"
I'm at about 50% over several builds from the last few days, it's usually that the service hasn't finished starting in the allotted time:

[code]

One time it seemed to leave the service process still running, which resulted in me having to hunt down the abandoned service to stop it so I could clear out the bin directory.

[2016-02-11 01:27] bartonjs commented on #6024
@TravisTheTechie There is a System.ServiceProcess.ServiceController package (https://www.nuget.org/packages/System.ServiceProcess.ServiceController/).  The exposed API surface is visible at https://github.com/dotnet/corefx/blob/master/src/System.ServiceProcess.ServiceController/ref/System.ServiceProcess.ServiceController.cs

Does that help? Or have I misunderstood the question entirely? :smile:

[2016-02-11 01:40] TravisTheTechie commented on #6024
Is that package implemented on Core now? It appears to just be a place holder.

I believe that this would enable us to easily port Topshelf to Core.

[2016-02-11 01:44] ellismg commented on #5700
Another instance here:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/680/consoleFull#-21371504001f1a4601-6aec-4fd5-b678-78d4389fd5e8

[2016-02-11 02:05] bartonjs commented on #6024
Well, it's at least real enough that it has tests that intermittently fail on my machine :) (#6029)

I just cracked open the 4.1.0-beta-23516 package (the most recent one on nuget; though there are newer ones in the daily feed) and it has a .NET Core implementation as well as the full framework type forwarder library.  So, hopefully you're good to go!

[2016-02-11 02:33] #3839 closed

[2016-02-11 03:30] stephentoub commented on #4890
This just happened again:

[2016-02-11 07:51] ericstj commented on #5941
This is fixed with https://github.com/dotnet/corefx/commit/ba64fda9a0c6bdd205f4d3a99e6c7729821dfada.

[2016-02-11 07:51] #5941 closed

[2016-02-11 07:52] ericstj commented on #5955
Since this is already fixed in the latest packages I am closing this issue.  Please reopen if you disagree.

[2016-02-11 08:17] davidfowl commented on #5842
A -> B -> S.R 4.0.21
A -> C -> S.R 4.0.22
A -> S.R 4.0.21

Even if I target the same netstandard version those packages it will fail at runtime. The problem is the assembly version isn't the same across package versions in the same netstandard folder.

[2016-02-11 09:18] xanather commented on #2953
Thanks for this :)

[2016-02-11 09:39] sirentek commented on #4733
@ericeil
No, https://github.com/dotnet/corefx/pull/4652 didn't fix it.
This bug is very important. It blocks using postgresql in linux environment with coreclr runtime.
Could you please re-open it ?

[2016-02-11 10:07] karajas opened #6035 "Building and running tests with the latest pre-release packages"
I would like to enable the scenario for developers to build the tests against the latest packages to be restored from myget. At the moment the current test projects utilize the project.json which are static and have project references to the product being built with the tests. This new scenario would allow for the test project.json to have a reference to the latest version of the product dependenc

[2016-02-11 11:21] agnauck opened #6036 "deadlocks in Stream ReadAsync/WriteAsync (rc1)"
ReadAsync and WriteAsync in Stream seem to block each other.
Attached is a test case which blocks with corefx, but works fine with the full .Net Framework 4.6

[ConsoleApplicationTest1.zip](https://github.com/dotnet/corefx/files/126226/ConsoleApplicationTest1.zip)

[2016-02-11 12:56] onovotny commented on #5955
@ericstj Is this resolved for System.Net.Http too or is that still an issue? It wasn't clear from the previous comment.

[2016-02-11 13:05] #2995 closed

[2016-02-11 13:06] stephentoub opened #6037 "OpenSUSE PR jobs passing all tests but then failing the job"
e.g. http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/opensuse13.2_debug_tst_prtest/1125/console
[code]

[2016-02-11 13:52] #5912 closed

[2016-02-11 14:51] ericstj commented on #5842
This will get fixed by this refactoring, coincidentally.  This refactoring will only fix the problem for assemblies that happen to be inbox on desktop.  For out-of-box assemblies we still need to follow the semantic versioning scheme in assembly versions to guard against folks installing the assemblies in the GAC.

The graph your pointing out actually looks a little concerning.  Can you give me a

[2016-02-11 15:02] ayende opened #6039 "Win32FileStream will issue a seek on every ReadAsync call"
Full description is here:
https://ayende.com/blog/173345/the-cost-of-async-i-o?key=227b21e219594be48ca03bc8312b08b9

But the gist of it is that we are trying to call ReadAsync on a file that is located on a remote share.
Using ReadAsync, we saw a really horrible performance degradation.

We tracked it down to this issue:

![image](https://cloud.githubusercontent.com/assets/116915/12979633/159bc0ae

[2016-02-11 15:24] stephentoub commented on #6039
cc; @ericstj, @ianhays. @JeremyKuhne

[2016-02-11 15:28] #1149 closed

[2016-02-11 15:33] stephentoub commented on #6036
Thanks for the issue, @agnauck.  I just tried your repro with recent bits and it ran fine for me.  What build are you using?

My guess is that it doesn't include https://github.com/dotnet/corefx/pull/3710... without that change back in October, I believe your example would deadlock.  The base Stream class in both the full framework and in CoreCLR serializes all async operations, whether via the Ta

[2016-02-11 15:33] #6036 closed

[2016-02-11 15:37] stephentoub commented on #4467
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/2024/consoleFull
[code]

[2016-02-11 15:39] TravisTheTechie commented on #6024
That seems to work... I've having a couple other issues.

* `ServiceAccount` is not exposed for System.ServiceProcess.ServiceController package
* [`System.Configuration.Install.Installer`](https://msdn.microsoft.com/en-us/library/system.configuration.install.installer(v=vs.110).aspx) does not appear to be part of the Core surface area, is this correct?
* It appears that System.Diagnostics.TraceSou

[2016-02-11 15:41] stephentoub commented on #5780
Looks like this is https://github.com/dotnet/coreclr/issues/3101.  @brianrob, when that's fixed, can you please re-enable this test as well? Thanks.

[2016-02-11 15:45] joshfree commented on #6035
@weshaggard is already looking into this scenario; Wes?

[2016-02-11 16:08] ericstj commented on #6039
The uber problem here is that FileStream's contract is to update the Length and Position as part completing the synchronous portion of the Read.  Folks are seeing the same sorts of problems on Writes where we call setlength before the write.

The fix here is to change that contract.  If FileStream kept track of it's own Length and Position in the case of an async handle and was less aggressive abo

[2016-02-11 16:16] bartonjs commented on #3771
This was fixed by https://github.com/dotnet/corefx/pull/5850, and verified by https://github.com/dotnet/corefx/pull/6000; but the latter mis-tagged the issue.

[2016-02-11 16:16] #3771 closed

[2016-02-11 16:19] bartonjs commented on #4031
@stephentoub I think that you fixed this in https://github.com/dotnet/corefx/pull/5551 (https://github.com/dotnet/corefx/commit/b9d6a1a9a46bf4a74624a71cfe42b078c2f86dfc, in particular).  Would you agree?

And, @eerhardt, would you? :smile:

[2016-02-11 16:26] eerhardt commented on #4031
The second issue looks like it is resolved by that change. But the first issue is still in the code:

https://github.com/dotnet/corefx/blob/master/src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.Ssl.cs#L289

[2016-02-11 16:29] bartonjs commented on #4031
Oh, good catch.

[2016-02-11 16:53] bartonjs commented on #4031
/me rolls his eyes.

It looks like that's unreachable code.  We set quiet shutdown, which means shutdown just exits 1 without doing any work.

Then, if we weren't setting quiet, and actually wanted to do the session vitrification, then this would need to be a lot more complicated.

https://www.openssl.org/docs/manmaster/ssl/SSL_shutdown.html

Anyways, I'll clean this up with some comments and asse

[2016-02-11 17:29] brianrob commented on #5780
#3110 should mitigate the crash and has already been merged, so you should be good to enable this test.  #3101 is still open so that we can implement the proper fix.

[2016-02-11 17:33] SidharthNabar commented on #6026
@feinoujc - Just wanted to point out that HttpClient API is supported on .NET 4.5 as well. We would recommend you move to that API since that is where future innovation and improvements will be focused on (e.g. HTTP/2)

[2016-02-11 17:35] Michael-DST commented on #5766
FWIW I have referenced this issue in an article posted today titled [Is the Tide Turning on project.json?](http://blog.developers.win/2016/02/has-the-tide-turned-on-project-json/), a look at how Xaml is a better mechanism for describing .NET objects from both a technical and MSFT business/IP perspective.

[2016-02-11 17:39] tmat opened #6045 "[SRM] Mark assembly as [CLSCompliant(true)] and mark individual APIs as [CLSCompliant(false)]"
Some APIs use pointers (e.g. MetadataReader constructor). Provide an alternative CLS compliant API. Such APIs could also improve usability in C# when the caller has byte[] or ImmutableArray<byte> and no interest in dealing with pointers.

[2016-02-11 17:40] tmat commented on #5212
CLS compliance: https://github.com/dotnet/corefx/issues/6045

[2016-02-11 17:43] tmat commented on #5212
Re review suggestion
"MethodSemanticsAttribute should be in System.Reflection.Metadata Assuming, we already add enums to System.Reflection.Metadata"

System.Reflection.Metadata 1.1 has public enums in System.Reflection namespace, so adding MethodSemanticsAttribute to System.Reflection is consistent with what we have already shipped.

[2016-02-11 17:45] bartonjs opened #6046 "Restore the S.S.C.OpenSsl package to Unix-only"
PR #5880 made the OpenSsl package claim to be cross-platform to allow consumers of a particular form of lack-of-RSA.Create-workaround to continue having their code function after improved package validation came online.

Now that RSA.Create exists, we should undo that workaround and go back to being honest that the package doesn't work on Windows.

[2016-02-11 18:04] davidfowl commented on #5842
thr versioning can be as semantic as you want, but it can't vary from package to package for the same netstandard version.

All it takes is for an application to target a lower package version for the same netstandard then boom. It probably breaks lineups as well. I need to look at that

[2016-02-11 18:06] feinoujc commented on #6026
Thanks @SidharthNabar

Yes, this is true. The only problem with doing that is it would mean I would have to drop support for non-async calls in my 4.5 API client since HttpClient is async only, correct?

Since most of .NET is moving to async all the way, this is just a matter of time i suppose. System.Net.Requests is a useful shim for me at the moment so I'm glad its there, missing UserAgent aside

[2016-02-11 18:09] davidsh commented on #6026
You can always turn an async all into sync by simply calling .Result. Thus, the async Task will wait until a result is ready.

Internally, it is still async in various ways but you wouldn't have to change a lot of code.  I'm not sure why you want to have sync in the first place, though.

[2016-02-11 18:10] andschwa commented on #5902
@pallavit This [gist](https://gist.github.com/andschwa/46eaf35109c93c921e65) reproduces what we're seeing.

If `Console.ReadKey()` or `Readline()` are used, then any subsequent invocation of interactive processes (like Bash) will still have the `ECHO` TTY mode disabled.

So for our project, if you try to launch Bash, you can't actually use it (until you've executed `stty echo` to turn it back on).

[2016-02-11 18:10] joshfree commented on #6037
I think this is happening on more than just openSUSE runs.  /cc @ericstj

[2016-02-11 18:13] mmitche commented on #6037
@joshfree It's clock skew.  We had the max set to 3 seconds, which is probably too low.  I upped it to 60.

[2016-02-11 18:23] feinoujc commented on #6026
@davidsh I found that doing that [causes deadlocks](http://blog.stephencleary.com/2012/07/dont-block-on-async-code.html) when there is a SynchronizationContext

I agree, I wouldn't want to call sync unless I have to, but [sometimes](http://particular.net/blog/transactionscope-and-async-await-be-one-with-the-flow), for various legacy reasons you might have to.

[2016-02-11 18:54] SamuelEnglard commented on #5921
**Allocations**
To help my tests were:

*Unmanaged*:
[code]
*Managed*:
[code]

Each of those tests were timed using the `Stopwatch` class, run 1000 times, and then the average was taken. The results were:
[code]

On one hand unmanaged is faster, on the other we're talking about such tiny amounts of time...

**Code Design**

I admit what is "clean" to me is not clean to others. For example I find R

[2016-02-11 18:54] ericstj commented on #5842
That is a downgrade: any time an application downgrades a package you get BOOM if that package has a lower assembly version.  NETStandard is unnecessary qualification.  App > Json.NET 8.1, App > Foo > Json.NET 8.2; App wins; Foo tries to load Json.NET; ref-def mismatch; BOOM.

We don't expect the downgrade to exist in any package graph we ship.  In other words referencing any single package should

[2016-02-11 18:55] SajayAntony commented on #5598
/cc @geoffkizer this might be worth considering for the TechEmpower

[2016-02-11 19:00] agnauck commented on #6036
I updated all my references to the latest:
[code]
runtime is dnx-coreclr-win-x86.1.0.0-rc1-update1

any idea what could be wrong with my setup?

[2016-02-11 19:06] terrajobst commented on #6024
@bartonjs

Thanks for chasing this up! I didn't know we exposed this API. Should have checked before asking @TravisTheTechie to file it. Sorry @TravisTheTechie!

[2016-02-11 19:15] terrajobst commented on #6024
It seems the only part missing is `ServiceAccount`.

@bartonjs, do you know why this enum was not exposed? I assume it's because the controller doesn't need it, only the installer part?

[2016-02-11 19:17] janhenke commented on #2046
I would then grab this one and try to come up with a kqueue based implementation.

[2016-02-11 19:32] joperezr commented on #5970
Fixed with #6014

[2016-02-11 19:32] #5970 closed

[2016-02-11 20:32] TravisTheTechie commented on #6024
@terrajobst filing the issue made me actually dig into the problem of porting over Topshelf some more, so maybe it was worth to be misled anyways ;)

I think not having access to the `Installer` class will mean porting will be non-trivial. We modify the image path after installation (e.g. https://github.com/Topshelf/Topshelf/blob/develop/src/Topshelf/Runtime/Windows/HostInstaller.cs#L51) and the w

[2016-02-11 20:35] dajuric commented on #5921
Thanks for the reply and tests.

Have you tried with bigger array sizes (this size corresponds to 256x256 image) ?

[2016-02-11 21:21] friism commented on #5999
There's some discussion on this on the [cURL mailing list](https://curl.haxx.se/mail/lib-2008-04/0279.html).

    unix:///var/run/http.socket?http%3A%2F%2Fcurl.haxx.se%2F

It's pretty nasty though.

Here's [another nasty idea](https://github.com/msabramo/httpie-unixsocket):

    http+unix://%2Ftmp%2Fprofilesvc.sock/status/pid

@markrendle couldn't you implement a custom handler that does the busin

[2016-02-11 21:22] ericstj commented on #5941
Today's package has the fix: 4.1.0-rc3-23811

[2016-02-11 21:35] SamuelEnglard commented on #5921
`UnmanagedMemory` is the class I mentioned above. It's really just a wrapper around `LocalAlloc` and `Marshal.FreeHGlobal`.

Ran some more tests:
[code]

I then modified the test to do two allocation and then deallocate
[code]

So very interestingly it seems very dependent on what size you're allocating on if Unmanaged or Managed is faster...

[2016-02-11 21:39] karajas commented on #6035
CC: @ellismg @stephentoub

[2016-02-11 21:49] ayende commented on #6039
Why do you need to change the contract?
You can do that only if the handle is shared. If the handle isn't shared, you know that no one is going to look at its state, so you don't need to update it.

The code is already tracking this:
https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/Win32FileStream.cs#L54

If `_exposedHandle` is false, there is no need to set the

[2016-02-11 21:59] ericstj commented on #6039
I was referring more to the write side of this bug.  The length of the file is observable from an external process.

[2016-02-11 22:02] ayende commented on #6039
Still the same thing, though. It is the OS responsibility to update the file length if the file length changed.

What is the scenario where an external process require you to set the file pointer if the handle isn't available externally?

[2016-02-11 22:08] ericstj commented on #6039
Ideally yes, but we set a precedent in desktop otherwise (set length before write), thus the need to be careful about this fix.  I'm not saying we don't do this, just saying we need to be careful about existing externally observable behavior.

[2016-02-11 22:37] bartonjs commented on #6024
@terrajobst No idea, my only relationship with this library is I was reporting it as intermittently failing a test while @TravisTheTechie was reporting it as not existing :smile:.

[2016-02-11 22:43] saurabh500 commented on #5915
The API review #2 https://github.com/dotnet/apireviews/pull/30

[2016-02-11 22:43] davidsh commented on #6011
I tried to reproduce your problem.  I was not able to.

I installed a Win7 x64 machine and Visual Studio 2015 with all updates.

When I run your project, the browser launches.  I navigate to /api/jobs.  However, I get a different error saying it can not connect.  The problem there is that your source code hardcodes the port of 5000 as the assumed port number for IISExpress when the project runs:

[2016-02-11 22:46] davidsh commented on #6011
Based on the call stack you sent:

[code]

I suspect that there is something interesting going on w.r.t. your proxy settings on your machine.

Can you describe the environment of this Win7 machine?  Is it domain joined or standalone?  Does it run behind a proxy server, etc.?

[2016-02-11 23:24] hardcodet commented on #6011
This is a domain-joined corporate laptop, connected to my employer's environment through VPN.

My real sample actually used an external address (Amazon AWS hosted microservice), but I just removed that in order to make things simpler. The weird thing is that I get the desired results with the regular .net framework. I'll try to repro the issue on a colleague's machine tomorrow and my private works

[2016-02-11 23:24] stephentoub commented on #6026
If you find that with a XxAsync method in corefx, that's a bug we should fix.  The only way that should cause a deadlock is if the operation you're blocked waiting on posts back to the current context, and we should not be doing that in any our XxAsync APIs.  Please file issues if you find any.  Thanks!

[2016-02-11 23:25] joperezr commented on #5743
Closing since this was fixed already. There is a separate issue for the PCL work #5901

[2016-02-11 23:25] #5743 closed

[2016-02-11 23:32] davidsh commented on #6011
It turns out the exception being surfaced is because the proxy detection logic in WinHttpHandler is getting this error from native WInHTTP: ERROR_WINHTTP_UNRECOGNIZED_SCHEME.  That error is not that the destination URL has a problem.  The error is really "The URL of the PAC file specified a scheme other than "http:" or "https:".".

I suspect that in the corporate domain environment, the proxy bein

[2016-02-11 23:33] davidsh commented on #6011
And regarding the regular .NET Framework, yes, it had the ability to navigate more schemes to find and evaluate the PAC file.  CoreFx doesn't have the same ability on Windows 7.

[2016-02-11 23:45] stephentoub commented on #4774
I believe this applies to more than just Create.  Since you can't create a Uri with the pack format, the GetPackageUri, GetPartUri, etc. are all useless in corefx as well.

[2016-02-11 23:47] davidsh commented on #6011
.And regarding the use of file:// schemes for PAC files, here is some good information on the deprecation plan for that support:

http://blogs.msdn.com/b/ieinternals/archive/2013/10/11/web-proxy-configuration-and-ie11-changes.aspx

[code]

[2016-02-11 23:47] #5986 closed

[2016-02-12 00:12] YoungGah commented on #3480
Sorry for getting back to you guys so late. After discussing various options within our team, we decided to bring back the interfaces with an empty class of DataTable. It is not an ideal solution, but given the time frame of RTM, this approach will ensure we can pursue viable options around DataTable/DataSet in the future.  We will try to bring in the interfaces for System.Data.Common by v1 RTM; S

[2016-02-12 00:23] stephentoub commented on #6036
DNX locks certain libraries in place, so even if you try to use a newer version of various libraries, you're unlikely to be able to (it'll use the ones that DNX itself is depending on).  You'll need to move to something newer.

[2016-02-12 00:28] chcosta opened #6059 "Remove validation suppression from System.Runtime.Serialization.Primitives"
We're suppressing validation in System.Runtime.Serialization.Primitives until we can oob it to desktop.

[2016-02-12 00:39] RussellTaylor83 commented on #4813
Hello, can you tell me when we might see DSACryptoServiceProvider please? If there are no plans for it or it's a way off I may try and find a way to do it without .Net, which would be a shame as I'm just trying to port my existing work to .Net core. I can probably achieve the same thing using just BouncyCastle, but at present I cannot get that to run against dotnet 5.4 either.

Thank you :+1:

[2016-02-12 00:41] EricWhiteDev commented on #4774
Yes, I agree.  Have been discussing with Tristan / Chris, and plans are to clean up the System.IO.Packaging API.  Should know more in 2-3 days.

[2016-02-12 00:42] stephentoub commented on #4774
Thanks, @EricWhiteDev.

[2016-02-12 01:01] mythz commented on #3480
@YoungGah thx for the update, if the DataTable classes are just going to be empty placeholders what's requiring so much time/effort (i.e. holding them back) from being implemented by SqlClient v1?

[2016-02-12 01:40] terrajobst commented on #3480
@mythz The cost is in implementing the interfaces to the base type / forwarding them to existing methods. The cost should be minimal, but usually things show up :smile:

[2016-02-12 01:56] terrajobst commented on #1942
@benaadams

The proposal has been approved but we don't have the resources to implement this which is why it's in the Future milestone. The issue is that it requires changes to the .NET Framework.

[2016-02-12 01:58] terrajobst commented on #5925
I think we need to walk the list of API gaps and make sure we've proposals for all of them.

@blackdwarf, do you want to drive this work?

[2016-02-12 02:01] terrajobst commented on #4316
@Page-Not-Found

Sorry for the delay. We're currently focusing on our efforts on getting to a good V1 release. This includes exposing more API that already exist in .NET Framework, which is what we focus our design meetings on. We don't spend much time on proposals to add APIs to existing types because even if were to approve them, the problem is that we don't have enough time left to add all thes

[2016-02-12 02:14] terrajobst commented on #6024
Hey @pallavit, @weshaggard mentioned that did the port. Could you answer this question:

[2016-02-12 04:20] blackdwarf commented on #5925
@terrajobst wouldn't you be a better candidate for driving it?

[2016-02-12 04:33] davidfowl commented on #5842
Somebody ran into this today:

https://jabbrlive.blob.core.windows.net/jabbr-uploads/clipboard_06c2.png

as a direct result of the contract version variance between different package versions.

[2016-02-12 04:56] ericstj commented on #5842
Yep thats a downgrade.

[2016-02-12 04:58] davidfowl commented on #5842
Yep!

[2016-02-12 05:08] PinpointTownes commented on #5842
A nasty one, it ruined everything on my machine :smile:

[2016-02-12 05:22] davidfowl commented on #5842
But you do agree that in principle the folder should dictate the version of the reference assembly right?

[2016-02-12 07:40] ericstj commented on #5842
For things in NETStandard.Library, perhaps (though this does go against the business need in some cases).  For things above: no.  Consider that as a pure IL library I might grow my surface area over time without taking any dependency on a new version of NETStandard.  In that case I'll version my pure IL assembly but keep it in the same folder.

[2016-02-12 07:41] davidfowl commented on #5842
Agreed. I only mean ref only things that version with the netstandard TFM itself.

[2016-02-12 09:24] hardcodet commented on #6011
Screenshot attached - there's no manual proxy configured in the first place...

![lansettings](https://cloud.githubusercontent.com/assets/873009/13002799/9c0f2bae-d171-11e5-943f-2779a3bfd157.png)

Some more findings:
* If I cancel the VPN connection of my laptop to my employer's network, the exception is gone.
* As soon as I reestablish VPN, I'm back to the error.

I'll try how it will behave when

[2016-02-12 10:24] shrutigarg opened #6063 "fixing comment"
check if we need to fix the comment https://github.com/shrutigarg/corefx/commit/f047a7d53ae699e51b8ee631e80d72cde4b6139b#commitcomment-16019127

[2016-02-12 11:03] vijaykota commented on #6063
@bartonjs, this a "framing" that is required by [MS-NNS data] (https://msdn.microsoft.com/en-us/library/cc236740.aspx) So it has to be at the beginning of the buffer. Note that ```output``` was allocated in the Encrypt call

[2016-02-12 13:40] bartonjs commented on #6063
@vijaykota Ah, yes, I'd failed to notice that `output` wasn't a user-provided array.  A comment reminding future readers/refactorers that `offset` and `count` apply to reading from `buffer`, and were inputs to the length of `output`, that `output` is a newly created array and thus these absolute indices are correct would be helpful.

Though perhaps significantly less of a run-on sentence than my s

[2016-02-12 14:06] hughbe opened #6069 "Array.IsNullOrEmpty()"
In corefx the method string.IsNullOrEmpty as a replacement to checking if a string is null and has a length of 0.

Maybe we should have a similar API for Array that is implemented in the exact same way for string

This has the same associated benefits that string.IsNullOrEmpty has: more readability, less prone to errors etc.

[2016-02-12 14:09] stephentoub commented on #6069
What's the scenario for this?  It's very common in code to need to do:
[code]
or the opposite:
[code]
hence the usefulness of ```string.IsNullOrEmpty```.

But it's much more rare to need to do:
[code]
Etc.  I'm sure it comes up now and again, but at least in my experience not nearly frequently enough to warrant a new API.

[2016-02-12 14:11] rvhuang commented on #6069
Already wanted this method hundreds years ago. It's quite annoying that I need to add this utility to every project I'm working on.

[2016-02-12 14:13] stephentoub commented on #6069
@rvhuang, can you share some examples of why it's so impactful?

[2016-02-12 14:15] rschiefer commented on #4278
As referenced by Tratcher, this is a blocker for adding support for WsFederation/ADFS in ASP.NET 5.  We use ADFS extensively for many enterprise ASP.NET 4 applications.  We are very interested in migrating to ASP.NET 5 and using WsFederation.

[2016-02-12 14:20] NickCraver commented on #6069
I'm also curious on the use cases here. Most of the time in our code you're interested in the presence of objects you need to take action on rather than the absence. In that regard, C# 6 greatly improves this:

[code]

[2016-02-12 14:21] rvhuang commented on #6069
@stephentoub In reality, libraries from internal developer teams or third parties do not quite respect the convention about returning empty array instead of null reference for no result. For those people who are working on integration, a method for checking if array is null or empty is truly needed.

[2016-02-12 14:24] stephentoub commented on #6069
Can you share some examples, though?  The difference between:
[code]
and:
[code]
is so minimal, IMO this would have to be an extremely, extremely common case for it to warrant new surface area on a core type like Array, and I'm not seeing it being so common that's warranted.

[2016-02-12 14:48] JonHanna commented on #6069
If the only .NET language was C# 6, would we even bother to have `string.IsNullOrEmpty()`? It's got no advantage over `str?.Length == 0` except for the matter of the latter not working for over a decade :wink:

What value `Array.IsNullOrEmpty()` would once have had for people using C# or VB, it no longer really has.

[2016-02-12 15:32] MgSam commented on #6069
`Array.IsNullOrEmpty` isn't really that useful as it only applies to arrays. `ICollection.IsNullOrEmpty` is far more useful. I always keep this around as an extension method to `ICollection`.

It's extremely useful because any time you are passed a collection as a parameter, you need to properly validate it before doing any real work. Yes, you could write `if (arr == null || arr.Length == 0)`, but

[2016-02-12 15:35] stephentoub opened #6070 "OpenSUSE CI builds with lots of test failures"
Most (all) of these look globalization related:
[code]

[2016-02-12 15:35] #5780 closed

[2016-02-12 15:36] #6037 closed

[2016-02-12 15:46] #4031 closed

[2016-02-12 16:26] #5423 closed

[2016-02-12 16:31] agnauck commented on #6036
How can I do that? I installed the latest from here:
https://dotnet.github.io/getting-started/

[2016-02-12 16:41] dsancho commented on #2599
I'm trying to use with profile 111 with no luck. I tried release and beta.

[2016-02-12 16:44] bartonjs commented on #4278
@rschiefer @Tratcher Well, it's... complicated.

* ADFS doesn't use System.Security.Cryptography.Xml.SignedXml; but instead its own implementation.
    * (That's largely from dusting off mental cobwebs and remembering back to being on that team for version 1 of ADFS)
* System.IdentityModel definitely doesn't use System.Security.Cryptography.Xml
    * (That's 'cuz their source code on referencesour

[2016-02-12 17:02] omariom commented on #6039
[seek() + write() vs pwrite()](https://www.lmax.com/blog/staff-blogs/2015/07/03/seek-write-vs-pwrite/)
though not on Windows.

[2016-02-12 17:04] hardcodet commented on #6011
Addendum: When on-site and directly plugged into the company's network, I also don't have the issue, so this seems to be a network quirk related to my VPN. I'm not sure how much of an issue this potentially is: Let me know if I can help you in any way if you want to follow up on this any further!

[2016-02-12 17:29] shrutigarg opened #6072 "Disable Linux specific testcase for Plateform not supprted exception"
This testcase is no longer valid after the move of Platform specific content from NegoState.csl to NegoStreamPal.

[2016-02-12 17:30] xied75 commented on #4866
What about using this then https://github.com/onovotny/BouncyCastle-PCL

[2016-02-12 17:41] sokket commented on #2279
The only difference between the Windows and Non-Windows versions is the lack of the root folder being locked; however, locks on Unix are not mandatory and do not block I/O, they are advisory only. There is no way to change that so it will be a functional difference

[2016-02-12 17:55] SamuelEnglard opened #6073 "[LINQ API] bool TrySingle<TSource>(IEnumerable<TSource>, out TSource)"
I'd like to propose a new LINQ method: `TrySingle`. The idea is pretty much the same as the existing `Single` method except it does not throw an exception when there is not only a single item in the sequence.

To do this I made to modifications to the `Single` contract:

1. First the method returns `bool`. `true` if the sequence contains exactly one item, `false` otherwise.
2. I added an out param

[2016-02-12 17:59] JonHanna commented on #6073
If one was going to do this, I would see it as cleaner if all of the methods with `XxxOrDefault()` had a `TryXXX`.

[2016-02-12 18:12] SamuelEnglard commented on #6073
I do see what you're getting at but I'm not "replacing" the `SingleOrDefault()` method, since that still throws an exception.

[2016-02-12 18:14] MgSam commented on #6073
I'd say any API additions with the `Try` pattern should be held off until the Tuple design for C# 7 is finalized. It might be better for these types of methods to return tuples.

[2016-02-12 18:19] SamuelEnglard commented on #6073
I actually like the way this works because it makes using this method in a `if` statement very easy:

[code]

(I admit though that `TryXXX` might not be the best name for this method though)

[2016-02-12 18:19] JonHanna commented on #6073
I wouldn't suggest any of them as a replacement (I'd argue vehemently against), but rather just as one might say "I want to get the single matching element here, or if there isn't a single matching element, know that I failed to get it" one might also say "I want to get the first matching element here, or if there isn't one, know that I failed to get it" and so on.

FWIW, some code I'm playing wit

[2016-02-12 18:25] SamuelEnglard commented on #6073
Ah yes, for `Last`, `First`, and `ElementAt` a `TryXXX` method would be great. The issue here is that I'm trying to avoid an exception which event the `xxxOrDefault` doesn't do. My use of the `TryXXX` naming may not have been the best choice.

[2016-02-12 18:36] JonHanna commented on #6073
Yep. Much of the time the `SingleOrDefault` would work, but if the default value is a possible real value, then it's no good to you.

[2016-02-12 18:41] SamuelEnglard commented on #6073
How would `SingleOrDefault` work? My case is that having more than one item is common and that means both `Single` and `SingleOrDefault` throw an exception, something I really don't want happening! (`SingleOrDefault` returns default on no items)

[2016-02-12 18:47] JonHanna commented on #6073
Ah. I get your meaning now. Single of course has two failure modes...

[2016-02-12 19:03] #5871 closed

[2016-02-12 19:03] SamuelEnglard commented on #6073
Maybe a name other than `TrySingle`?

[2016-02-12 19:05] #754 closed

[2016-02-12 19:08] mellinoe commented on #2599
We currently on support the portable target of `net45 + win8`. As part of our [current packaging work](https://github.com/dotnet/corefx/pull/6047), we may choose to add some additional valid targets that support it's dependencies, which might include profile 111 (I'm not sure which targets exactly that is).

[2016-02-12 19:11] JonHanna commented on #6073
I wonder if a caller might want to distinguish failure because there are none from failure because there are more than one?

[2016-02-12 19:32] ericstj commented on #5842
@PinpointTownes did NuGet warn you about the downgrade?  It should have.  I still think we should fix this, but that's something to look out for.

Thinking about this issue some more and I think we can further relax application of semver to the assembly versions.  For any assembly that is a pure facade on desktop it can also freeze its assembly version to API.  Only for those assemblies which are

[2016-02-12 19:35] SamuelEnglard commented on #6073
So say return an enum?

[code]

[2016-02-12 19:46] shmao opened #6076 "[Port] System.Text.EncoderFallbackException: Unable to translate Unicode character"
We fixed the issue on desktop. We need to port the fix to .Net Core.
[code]

[2016-02-12 20:01] drieseng opened #6078 "CustomAttributeExtensions.GetCustomAttribute does not return inherited attributes for indexer argument"
System.Reflection.CustomAttributeExtensions.GetCustomAttribute(this ParameterInfo element, Type attributeType, bool inherit) - which is located in the **System.Reflection.Extensions** assembly - does not returned inherited attributes for indexer arguments.

It does work fine for method arguments though (for example).

To reproduce, compile and run the following code snippet:

[code]

Expected resu

[2016-02-12 20:27] PinpointTownes commented on #5842
AFAICT, nope, no warning. That said, I didn't use NuGet to restore the packages but VS' DNX tooling, so maybe the behavior is a bit different.

[2016-02-12 20:33] chrisjmccrum commented on #5842
I actually ran the NuGet Restore and I got no warning at all either.  This is a pretty big deal on my end because now my development is at a complete standstill. I hope this can get fixed soon

[2016-02-12 20:54] ericstj commented on #5842
@PinpointTownes Multiple problems with that...  DNX is missing the validation checks that NuGet has.  Additionally DNX has a bundled copy of most of the packages so it's never safe to use newer packages than what DNX was built with.  The downgrade didn't happen as a result of packages, it happened because DNX ignored what was in the packages.  That's an issue we're solving with the DotNET CLI whic

[2016-02-12 21:07] PinpointTownes commented on #5842
I'd really like to use CLI but sadly, it's far from being stable (and that's an euphemism): it doesn't handle the space in my Windows session folder and crashes systematically when launching dotnet run ; it throws a bunch of AccessViolationExceptions and the latest installer doesn't install anything (it immediately completes saying everything was fine, but nothing is copied to the disk).

Oh and t

[2016-02-12 21:14] DavidObando opened #6079 "CurlException during 'dotnet restore' in Ubuntu when redirected to certain CDN servers"
Ubuntu 14.04 LTS. Reproduced in the Performance repository for ASP.NET. **The exact same scenario succeeds in Windows**.

Repro code:
[code]

This program will succeed to run in Windows but fail in Linux with the following exception:
[code]

We found this by getting [HelloWorldMvc](https://github.com/aspnet/Performance/tree/dev/testapp/HelloWorldMvc) and trying to `dotnet restore -s https://myget.

[2016-02-12 21:16] davidsh commented on #6079
cc: @stephentoub @joshfree

[2016-02-12 21:19] joshfree commented on #6079
/cc @vijaykota

[2016-02-12 21:21] stephentoub commented on #6079
I just ran your repro on Ubuntu and see:
[code]
What build of System.Net.Http.dll is this?  From what package did System.Net.Http.Native.so come?

[2016-02-12 21:22] stephentoub commented on #6079
cc: @bartonjs

[2016-02-12 21:25] DavidObando commented on #6079
@stephentoub My project.json.lock file indicates 1.0.1-rc2-23805. Let me know if you need any additional data.

[2016-02-12 21:29] stephentoub commented on #6079
Can you try 1.0.1-rc3-23808?

[2016-02-12 21:37] stephentoub commented on #6079
I actually don't know where 1.0.1-rc2-23805 would even come from; our dotnet-core feed uses the rc3 moniker now, and our dotnet-core-rel feed which still uses the rc2 moniker doesn't appear to have that new packages yet.

What package is that the version number for?

[2016-02-12 21:44] DavidObando commented on #6079
Same result with 1.0.1-rc3-23808. To your other question, package.lock.json indicates native comes from `/home/davidobando/.nuget/packages/runtime.ubuntu.14.04-x64.runtime.native.System.Net.Http/1.0.1-rc2-23808/runtimes/ubuntu.14.04-x64/native/`.

The project.json I'm using for the repro code looks like this now:
[code]

[2016-02-12 21:51] ericeil commented on #4733
I had introduced a new bug that affected this code last week, fixed with #6075.  Now that this is fixed, I'm able to run the following test (derived from your sample code) on both Windows and Ubuntu, successfully:

[code]

I will consider this closed for now; if you have a more representative test you can give me that still fails, even with the fix for #6075, please post it here.

[2016-02-12 21:51] #4733 closed

[2016-02-12 22:07] Sridhar-MS opened #6083 "[System.IO]: File.Copy does not retain the timestamp of the original file"
Copied file has the current timestamp instead of the source file's timestamp.

[2016-02-12 22:08] NTaylorMullen commented on #6079
Note: we're also seeing this failure in all of our (asp.net) [travis CI builds](https://travis-ci.org/aspnet).

[2016-02-12 22:14] SajayAntony commented on #6079
/cc @muratg

[2016-02-12 22:25] stephentoub commented on #6079
I believe the problem is that you have an old System.Net.Http.Native.so that's built against the wrong version of libcurl.  I was able to repro this by replacing my good .Native.so with the one David sent me, and the one he sent me is linked to the wrong lib.  He's verifying that switching to a different .Native.so fixes things...

[2016-02-12 22:38] stephentoub commented on #6083
On what platform?

[2016-02-12 22:41] Sridhar-MS commented on #6083
Oops Sorry missed it. Ubuntu.

[2016-02-12 22:42] bartonjs commented on #4278
Apparently I was a bit rambly this morning.  Sorry :).

We've definitely identified that there's work to be done here, but we don't think the right answer is to bring forward the existing System.Security.Cryptography.Xml code.  Instead, this represents the item on our backlog to engineer a general-purposed implementation for XmlDSig which is fast and not tied to legacy object models (e.g. XmlDocum

[2016-02-12 22:44] bartonjs commented on #6079
@stephentoub 23809 was the first build where we had fixed all the build machines to build that library correctly.

[2016-02-12 22:44] DavidObando commented on #6079
Verified that the issue is fixed starting with build 23809, both r2 and r3.

[2016-02-12 22:46] ianhays commented on #6083
The attributes are fine and consistent between platforms, but we don't do anything for the timing info.

Windows:
LastAccessTime: Set to DateTime.Now for copy
LastWriteTime: Set to source LastWriteTime
CreationTime: Set to DateTime.Now for copy

Linux:
LastAccessTime: Set to source LastWriteTime
LastWriteTime: Set to DateTime.Now for copy
CreationTime: Set to source LastWriteTime

So we're essenti

[2016-02-12 22:52] joperezr opened #6085 "Use Roslyn toolset package for Windows builds"
Currently we are only using new Roslyn toolset packages in our x-plat builds since we are using .NetCore MSBuild in those platforms. On Windows, we are still using the Full VS MSBuild which doesn't have those roslyn tools. Once we move Windows to use them as well, we will be able to start using C#6 features on our repo.

Steps for this to work:
- [x] In BuildTools repo: restore the full framework

[2016-02-12 22:53] joperezr commented on #3529
@weshaggard I hadn't log it before, but I just did. See #6085

[2016-02-12 23:23] andschwa commented on #4636
@genlu Indeed that turned out to be an issue on Windows for us :smile:

[2016-02-12 23:26] #6079 closed

[2016-02-12 23:45] #6076 closed

[2016-02-12 23:49] JiriZidek opened #6086 "Make possible to write NT Services and corresponding Linux infrastructure (easier)"
Using .NET Core as NT Service is essential for any batch jobs and server services not based on http in general. (meant as port-to-core label)

[2016-02-13 00:03] stephentoub commented on #6083
@Sridhar-MS, you say "the timestamp"... why timestamp are you referring to?  And what behavior is it that you're looking for / expecting?

As @ianhays highlighted, there are three relevant times: last access, last modification time, and creation time.  On Linux we don't have any good control or even access to creation time.  And copying a source to a destination will change the last access time of

[2016-02-13 00:34] #5993 closed

[2016-02-13 00:52] kferrio opened #6090 "./build broken for Debian"
As of 8ca8c48 the `build.sh` script errors out on Debian 8.2:

[code]

I regret that I don't have time to dig into this but mention it because the new and improved build tooling will be very appreciated. BTW, I see that the CI builds are still passing, so I'm guessing that Jenkins is not using the same tooling?

[2016-02-13 01:28] kferrio commented on #6090
Forgot to mention that I referred to a commit just to put an upper bound on the range of commits to search. I have not isolated the commit(s) which caused the regression.

[2016-02-13 01:58] shrutigarg commented on #6063
GetSecurityStatusPalFromWin32Int should be renamed to to GetSecurityStatusPalFromNativeInt

[2016-02-13 02:04] andschwa opened #6091 "Console.CursorTop is always 0 when TERM is not xterm (Ubuntu 14.04)"
As far as we can tell, when we're running with `TERM=xterm`, `Console.CursorTop` is set correctly. However, if we use Tmux or Screen, which both use `TERM=screen`, `Console.CursorTop` is always set to 0. This makes our readline implementation always print in the top-left corner, instead of where one would expect with a shell (at the end of the previous output, until the bottom is hit, and then at

[2016-02-13 02:08] shrutigarg commented on #6063
In securityStatusAdapterPal.Windows. Use the dictionary instead of struct array.

https://github.com/dotnet/corefx/pull/5772#discussion_r52742447

[2016-02-13 02:09] shrutigarg commented on #6063
is notSet flag check needed?
https://github.com/dotnet/corefx/pull/5772#discussion_r52743232

[2016-02-13 02:10] shrutigarg commented on #6063
https://github.com/dotnet/corefx/pull/5772#discussion_r52743275 Need to throw more accurate exception in syn with other exception in code.

[2016-02-13 02:18] andschwa commented on #6091
See linked private issue for further details. Thanks :smile:

/cc @pallavit @stephentoub

[2016-02-13 02:24] andschwa commented on #6091
It reproduced pretty easily with an addition to this [gist](https://gist.github.com/andschwa/46eaf35109c93c921e65).

Add this to the `Main` function:
[code]

Get these results:
[code]

[2016-02-13 02:25] andschwa commented on #5903
@alexanderkozlenko Thanks! I will try that.

[2016-02-13 02:34] stephentoub commented on #6091
The issue is likely that the terminfo files for those terms doesn't contain an entry for Cursor Position Request, in which case rather than assuming we know the sequence we play it "safe" and avoid writing out what could end up being gibberish to the console:
https://github.com/dotnet/corefx/blob/master/src/System.Console/src/System/ConsolePal.Unix.cs#L701-L703
[code]
My guess is if you try changi

[2016-02-13 03:36] schellap opened #6092 "MemoryMappedFile.CreateFromFile not able to open file for read"
@stephentoub, my changes for ILC integration with CLI https://github.com/dotnet/cli/pull/1363 failed in the CI. Is the below by design?

I narrowed it down to this scenario: XUnit runner process and the ILC's input project both refer to the same version of the NETStandard.Library. XUnit runner loads System.Console.dll from the shared packages cache location. ILC wants to compile an user's app usin

[2016-02-13 03:38] schellap commented on #6092
Cc @weshaggard

[2016-02-13 03:53] stephentoub commented on #6092
MemoryMappedFile.CreateFromFile(string, ...) creates the FileStream for the specified path with FileShare.None.

Have you tried creating the FileStream yourself with FileShare.Read and then calling CreateFromFile with that?

[2016-02-13 03:59] schellap commented on #6092
`MemoryMappedFileAccess.Read`

This doesn't suffice?

[2016-02-13 04:05] stephentoub commented on #6092
No.

[2016-02-13 04:08] schellap commented on #6092
Oh, thanks.

[2016-02-13 06:53] ayende commented on #6039
My test was run on Windows.
Both the source machine and the network drive are windows machines.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Fri, Feb 12, 2016 at 7:03 PM, OmariO <notifications@github.com> wrote:

[2016-02-13 07:12] weshaggard commented on #5733
We need to keep this open to track the publishing of these symbols as well. Assigning to @markwilkie to track someone is correctly publishing these x-plat pdbs.

[2016-02-13 07:37] Michael-DST commented on #2394
Speaking to the "business case" of NodeJS: [How NodeJS Is Dominating .NET in 3 Easy Charts](http://blog.developers.win/2016/02/how-nodejs-is-dominating-net-in-3-easy-charts/)

[2016-02-13 07:50] weshaggard commented on #6017
Yes I think we should just add these to .NET 4.7. @VSadov can you please make sure you have bugs tracking the addition of these?

[2016-02-13 07:55] weshaggard commented on #6035
@karajas What kind of strategy where you thinking about doing for this? We must remember that we have to support testing in multiple scenarios with the two obvious ones being the minimal version of dependencies and the latest live versions. So whatever we do we need to ensure we can cover both of those.

[2016-02-13 09:51] ZigMeowNyan commented on #3636
[Wednesday's article](https://blogs.msdn.microsoft.com/dotnet/2016/02/10/porting-to-net-core/) suggests that the _port-to-core_ label is what designates community interest in having an API ported to .NET core. What we're looking for on this issue (missing functionality from MEF1) is either a port of the old system or a functionally-equivalent migration path. This affects code that would otherwise

[2016-02-13 12:12] jageall commented on #5068
any update on this yet?

[2016-02-13 14:54] stephentoub commented on #6092
@schellap, can you confirm if that fixes your issue?

[2016-02-13 15:13] stephentoub commented on #6083
I took a look at what ```cp``` does.  From what I can tell, by default it essentially does what we're doing with regards to time stamps, simply letting the natural thing happen. But you can specify the ```preserve``` option which appears to copy the times to match after the copy has completed.  We could potentially do a similar thing, but since there's no option here around behavior, we'd have to

[2016-02-13 15:50] ianhays commented on #6035
In Helix for the ToF tests it uses all of the latest live versions for testing so we would want something similar here. I think it that case it would useful to be able to provide a version number to test against.

Isn't this what we're doing currently? I think this should remain the default but running against a specific set should be toggle-able similar to the RunWithLocalLibraries property (I th

[2016-02-13 17:10] #5414 closed

[2016-02-13 18:33] weshaggard commented on #6035
Isn't this what we're doing currently?

Yes that is what we are currently doing. I just wanted to be sure whatever we switch to doesn't lose that characteristic.

`/p:TestWithLocalLibraries=true` is what we currently have but I think having something like `/p:RunWithLibraryVersion=prerelease-rc3-23808` is also an interesting idea which we should consider.

[2016-02-13 21:38] NickCraver commented on #6017
How will new generations be tracked in general? e.g. "Here's the list of new surface area of 1.6" Apologies if this exists and I missed it, but I haven't found any info on early thoughts on how to aggregate this information.

If there's no plan yet: might I suggest a single issue isn't the worst idea given the current ecosystem. Like [C#7 feature tracking in #2136](https://github.com/dotnet/roslyn

[2016-02-13 21:56] joperezr commented on #5733
Sorry, I thought a new issue would track the publishing of the symbols. I suppose that first we will have to close #5825 since we need to make sure that the PDBs we are generating now are valid before publishing them. I'll get to that issue next week.

[2016-02-13 23:51] GuardRex commented on #1006
This is an update on using `TcpClient` and `SslStream`. I've had trouble talking to GoDaddy servers lately. Some 2012R2 boxes working and others refusing to play nice with GoDaddy servers (SCHANNEL and cipher suite problems perhaps). However, Gmail seems to be working. Here's the latest code for hitting up Gmail for mail forwarding on port 587:
[code]
`serverReply` if all goes well ...
[code]

[2016-02-14 00:01] istupakov commented on #4591
I have some problem in console .NET Core app at versions 1.0.0-rc1-update1 and 1.0.0-rc2-16177.
Code sample: https://gist.github.com/istupakov/6086792de78f68eb1784

[2016-02-14 00:53] jkotas commented on #6092
It is pretty unfortunate that the convenience overloads do not work well for the most common use case of memory mapped files: read-only access to data files. Can we change the share mode default for read only access?

[2016-02-14 02:00] JonHanna commented on #4591
This looks like it should have been fixed by #2361 in that I'd expect to see the exception of that sort prior to that fix, and not see it after, from an examination of the code. Turning your gist into a [Fact] suggests that it would work with the current master branch.

[2016-02-14 03:24] stephentoub commented on #6092
I agree it's a strange default, especially since the default when constructing a FileStream and not specifying a sharing mode is FileShare.Read.  I don't know why FileShare.None was chosen as the default in this MemoryMappedFile case.  However, my concern with changing it at this point is that it's a fairly observable difference, and if someone were to write code like what @schellap has, find that

[2016-02-14 04:22] mogarick commented on #5858
@ericeil Where can I download RC2?

[2016-02-14 05:33] weshaggard commented on #6017
@NickCraver That is a fair question one which I don't actually even fully know how to track yet myself. As the plans begin to finalize around netstandard and generations I expect we will begin to get a clearer picture about how this all fits together and @ericstj plans to provide some more documentation on this area. However what I do know is that I don't think we will be able to easily track API

[2016-02-14 06:06] davidfowl commented on #5842
@ericstj Is there any document that talks about the assembly versioning scheme with respect to netstandard? I agree that we shouldn't rathole on this issue about general downgrades but I think it's important to understand how assembly versions in reference assemblies and package versions correlate and how that affects desktop and everything else.

[2016-02-14 06:25] Clockwork-Muse commented on #5209
From a cursory look: the static `SafeTokenHandle.InvalidHandle` can be set to a valid handle.  That might result in surprises later.

[2016-02-14 07:23] Clockwork-Muse commented on #5209
`SafeAccessTokenHandle` has a ref which is annotated with `SecurityCritical`, even though the src one is not.
`SafeTokenHandle` in the `System.Security.Principal.Windows` package appears to be unused.
There are additional copies in `System.Security.AccessControl` and `System.Diagnostics.Process`, one of which is identical and one which is a copy of `SafeAccessTokenHandle`.

`System.Security.Access

[2016-02-14 07:53] AlexBHarley commented on #5209
@Clockwork-Muse started working on this in PR #6101 - however as of your latest comment, it seems like there is more to be done

[2016-02-14 07:56] Clockwork-Muse commented on #4981
Additionally, there appears to be no .sln file, and no tests.

[2016-02-14 13:47] ericstj commented on #5842
We follow semver in the assembly versions where we can.  In desktop we are planning to relax that to only major.minor if the assembly is inbox.  The version of the package is the maximum assembly version it contains.  If that collides with a previously shipped package and there is a change over that package we will increment revision.  Doc is tracked by https://github.com/dotnet/corefx/issues/5453

[2016-02-14 14:03] ericstj commented on #6035
Actually we aren't testing with minimal versions since the test-runtime blasts over the existing minimal declared dependencies.

[2016-02-14 15:05] GSPP opened #6104 "Expose cancellation due to exceptions and breaking with Parallel loops"
The `Parallel` loops break when an exception is thrown or when the loop is aborted using `ParallelLoopState` members.

When that happens the existing work items that are still executing have no (built-in) way to find out. They cannot cancel themselves to speed up the failure/exit case.

`ParallelLoopState` should expose a `CancellationToken` that becomes signaled when the loop aborts for any reaso

[2016-02-14 15:28] davidfowl commented on #5842
@ericstj What happens if I target System.Runtime 4.1.0 for netstandard1.5 and run on .NET Framework?

[2016-02-14 15:45] davidfowl commented on #5842
FWIW: This is what happens

[code]

It won't function unless you use the System.Runtime 4.1.0 package when consuming it on .NET 4.6 and I'm not sure that will work (though I haven't tested it... and it probably requires the latest NuGet)

Is the assumption that the packages will be installed on csproj based projects so that the partial/facades shipped in packages do the right thing?

[2016-02-14 15:59] davidfowl commented on #5842
It works when the package reference gets added. I just want to clarify that this is the strategy going forward.

[2016-02-14 17:13] svick commented on #6104
Isn't that what [the `ShouldExitCurrentIteration` property](https://msdn.microsoft.com/en-us/library/system.threading.tasks.parallelloopstate.shouldexitcurrentiteration) is for?

[2016-02-14 17:30] GSPP commented on #6104
@svick you can't pass that around and you can't register a callback with it.

[2016-02-14 20:16] stephentoub commented on #6104
Well, you could pass around the ParallelLoopState object, but you're right that it's not as composable (since most cancelable operations would be expecting a CancellationTokenSource) and wouldn't provide a callback mechanism.  20/20 hindsight, we probably should have just exposed ShouldExitCurrentIteration as a CancellationToken rather than as a Boolean, and in the future, adding a corresponding C

[2016-02-14 20:46] Sridhar-MS commented on #6083
@stephentoub I am specifically talking about the 'LastWrittenTime'. Well this issue interferes with the incremental compilation in dotnet CLI. `dotet build` command uses the last modified time (of the sources and binaries) to decide whether to rebuild a project or not. So when copying a project to a different folder all the source files and binaries do not retain the original timestamp and they th

[2016-02-14 20:48] Sridhar-MS commented on #6083
Also there is this discrepancy in the behaviour of File.Copy between Windows and Ubuntu?

[2016-02-14 20:55] stephentoub commented on #6083
Ok, thanks for the details.

Sure, but that's the case of file copying in general, e.g. the defaults I mentioned with cp, the lack of an equivalent standardized CopyFile method, etc.  In other words, you're just seeing a general difference in platform-related behavior between two different operating systems.

I'm not against the idea of always manually copying over the file times, but it would the

[2016-02-14 21:39] Sridhar-MS commented on #6083
That what I do in my [code](https://github.com/Sridhar-MS/cli/blob/test-fx/src/Microsoft.DotNet.TestFramework/Microsoft.DotNet.TestFramework.TestInstance.cs#L127) as a workaround. Its not too bad and I am ok with this.

But as a user I am slightly inconvenienced and wish the C# code behaves similarly between platforms and wish the platform differences are abstracted from me.

[2016-02-14 21:39] stephentoub commented on #6083
Just to highlight what I mean, if we were to do this in File.Copy, I think it would look like this https://github.com/dotnet/corefx/commit/f941881ee33fdba7b4fc547bd1892e4647870b54.  In other words, the same as what a caller would do.

@ianhays, thoughts on this?  If you think we should copy this over, I'll leave this commit in the PR.  Otherwise, I'll remove it from the PR.

[2016-02-14 21:45] stephentoub commented on #6083
It does; it copies the data from one file to another, and it behaves according to the MSDN documentation for the method (which says nothing about time stamps).

My concern with doing workarounds like this is that we end up trying to put a Windows veneer on top of Unix... in other words, the behavior you're seeing isn't .NET behavior, it's Windows behavior that leaks through, and each time we try t

[2016-02-14 23:20] stephentoub commented on #6083
I've been thinking about this some more.  The docs do say that "attributes", and as @ianhays said, they are consistent between platforms.  However, "attributes" in the general sense could potentially include any metadata, even though technically it means something more specific.  That combined with the existing behavior on Windows being to maintain the time stamps, it does seem like there's a reas

[2016-02-14 23:40] JonHanna commented on #6083
I for one have working code using .Net 4.5 that depends on timestamps being copied over. I doubt I'm the only one.

[2016-02-14 23:57] krytarowski commented on #2046
http://dmitrymatveev.co.uk/gsoc11 inotify emulation for BSD

[2016-02-15 00:14] krytarowski commented on #2046
@janhenke can you please try to reuse `libinotify` with CoreCLR on FreeBSD? It's `kevent`(2)/`kqueue`(2) based and MIT licensed.

[2016-02-15 00:30] alexanderuv opened #6105 "How do I determine the OS in which my program is running?"
I found issue #1017 where this is discussed but the solution is not present in the RC1. Is this being covered in the next release?

[2016-02-15 00:34] GuardRex commented on #6105
`Environment.OSVersion` may be of assistance. https://github.com/dotnet/corefx/issues/4741

[2016-02-15 00:55] akoeplinger commented on #6083
As an additional data point: Mono does preserve the timestamps as well with File.Copy().

[2016-02-15 00:57] JonHanna commented on #6083
I should have mentioned that, since the code I was thinking of worked in both Windows with .NET an Linux in Mono.

[2016-02-15 04:22] xanather opened #6107 "Add LocalEndPoint and RemoteEndPoint properties to TcpClient"
Due to https://github.com/dotnet/corefx/pull/5953 it is not possible to get this information.

This is a pretty important property and I think should be added to the contract before next RC release. Obtaining IP address information is essential for application-level IP blocking/banning etc among many other things...

[2016-02-15 04:27] stephentoub commented on #6083
Ok, thanks.  I've updated #6098 to handle this.

[2016-02-15 04:42] stephentoub commented on #6107
cc: @davidsh, @cipop, @SidharthNabar

[2016-02-15 04:48] davidsh commented on #6107
This will require an API review document and API changes to be approved. Add new properties will be difficult since they can't be done as extension methods and thus won't unify with .NET Framework (Desktop).  So, we will have to consider design alternatives and/or generation changes for System.Net.Sockets contract.  This may not be possible for the RTM release.

[2016-02-15 04:51] davidsh commented on #6107
For developers that require these properties, the alternative is to not use TcpClient, but rather use the Socket class directly.  TcpClient and UdpClient are considered as "easier" helper classes with fewer properties than Socket.

[2016-02-15 04:58] xanather commented on #6107
@davidsh I think a reason why people would use TcpClient over Socket is because it TcpClient provides the async/await model while Socket does not provide this and requires reworking with SocketAsyncEventArgs, which creates slightly more unreadable code and is unnecessary optimization for most applications.

This change basically forces many users to move over to Socket just for simple properties w

[2016-02-15 05:27] ellismg commented on #6105
Is the information exposed by `System.Runtime.InteropServices.RuntimeInformation` sufficient?  The surface area of the new type can be seen in [the contract](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.InteropServices.RuntimeInformation/ref/System.Runtime.InteropServices.RuntimeInformation.cs).

`RuntimeInformation.IsOSPlatform` will be of use.

[2016-02-15 05:31] ellismg commented on #6090
The CI builds for Linux don't actually build Linux code on Linux.  The reason is that the builds take far too long compared to windows (due to gaps in the .NET Core versions of MSBuild and CSC which are being worked on).  So we compile all the managed code on Windows and then copy it over for testing.

We do have some outer loop runs that validate `build.sh` on Linux but @joperezr is still flushin

[2016-02-15 05:32] manu-silicon commented on #6107
:+!: @xanather Agree on this one, I had to rework some code due to the recent change in CoreFX.

[2016-02-15 05:36] alexanderuv commented on #6105
Yes that seems appropriate. Thanks!
Is this published in any version in myget? Or do I have to compile the sources locally?

[2016-02-15 05:43] #5967 closed

[2016-02-15 05:44] ellismg commented on #5942
Fixed now.

[2016-02-15 05:44] #5942 closed

[2016-02-15 05:45] ellismg commented on #5942
(The fix was to the images of our build agents that produce the packages, so there's not a specific commit I can point to that fixed this).

[2016-02-15 05:51] ellismg commented on #6105
It's published to our [dotnet-core](https://dotnet.myget.org/gallery/dotnet-core) MyGet feed.

[2016-02-15 05:58] alexanderuv commented on #6105
Thanks. I will look for it!
I'm closing this issue.

[2016-02-15 05:58] #6105 closed

[2016-02-15 06:02] kferrio commented on #6090
@ellismg - Thanks for that insight. It explains a lot, and I appreciate your time. I've had pretty good success building coreclr and corefx on Debian until very recently. I will continue learning about the build process. Cheers!

[2016-02-15 06:32] IharBury commented on #4591
There is some other problem causing the version of the DLL included into the .NET Core installation to be used instead of the referenced DLL version. And the version distributed in .NET Core RC1 does not have this fix yet.

[2016-02-15 08:33] sirentek commented on #4733
@ericeil,

I used coreclr-rc2-16397 runtime and it worked for me in linux.
Thanks!

[2016-02-15 08:44] plamenyovchev opened #6109 "Remove sealed from Phone and EmailAddress data annotation attributes"
Can you remove sealed from [Phone], [EmailAddress] and [Url] data annotation attributes(classes).
It would be great if developers can inherit their implementation and add their own improvements to the existing functionality.

**And I will use it as follows:**

Example:

**How I use Phone attrbute now in my view model:**

**How I would use it if I was able to inherit the [Phone] attribute**

[2016-02-15 08:45] istupakov commented on #4591
Yes, you are right. I add reference to 4.0.11-beta-23516 version of System.Linq.Expressions lib, but at runtime see 4.0.10.0.

[2016-02-15 08:58] Dmitry-Me opened #6110 "Suspicious, likely broken checks inside System.Data.SqlClient.SqlConnectionFactory.CreateConnection()"
`System.Data.SqlClient.SqlConnectionFactory.CreateConnection()` goes like this:

     SqlConnection sqlOwningConnection = owningConnection as SqlConnection;
     // then later...
     else if (owningConnection != null)
     {
             userOpt = (SqlConnectionString)(((SqlConnection)owningConnection).UserConnectionOptions);
     }
     if (owningConnection != null)
     {
         recoverySessi

[2016-02-15 11:17] kapilash opened #6112 "Negotiate Stream with default credentials on unix requires manual step"
On windows, when a user logs in, the password is securely stored and is made available to the user.
On unix, on the other hand, the user will have to explicitly perform an additional step, like ```kinit``` in order for the underlying gssapi system to be able to work with the default credentials.

[2016-02-15 11:21] #6112 closed

[2016-02-15 12:50] stephentoub commented on #6109
cc: @terrajobst, @lajones

[2016-02-15 12:55] stephentoub commented on #6069
Thanks for the suggestion.  Given that ```array?.Length > 0``` is even less code than ```!Array.IsNullOrEmpty(array)```, that the general pattern works with collections as well, and that adding new APIs to a core type like Array requires significant justification, I'm going to close this out.  Thanks for the discussion.

[2016-02-15 12:55] #6069 closed

[2016-02-15 12:58] stephentoub commented on #1050
I don't believe we've seen this issue in almost a year.  I'm going to close it.  If it happens again, we can reopen.

[2016-02-15 13:03] stephentoub commented on #6008
It looks like the questions have been answered, so I'm closing this.  Please re-open if the questions aren't yet resolved. Thanks.

[2016-02-15 13:03] #6008 closed

[2016-02-15 13:07] stephentoub commented on #5531
This looks like it was a transient issue, with only one citing as part of a PR job.  I'm going to close it.

[2016-02-15 13:07] #5531 closed

[2016-02-15 13:09] stephentoub commented on #5653
This is working now.

[2016-02-15 13:09] #5653 closed

[2016-02-15 13:11] kapilash opened #6114 "Negotiate Stream on Unix does not fail with invalid target"
```NegotiateStream.AuthenticateAsClientAsync```  does not fail for invalid target.

[2016-02-15 13:15] Dmitry-Me opened #6115 "Suspicious timeout computations in System.Data.SqlClient.SqlInternalConnectionTds"
`System.Data.SqlClient.SqlInternalConnectionTds` has `LoginNoFailover()` and `LoginWithFailover()` methods which differently compute `timeoutUnitInterval`.
`LoginWithFailover()` does this:

    if (timeout.IsInfinite)
    {
      timeoutUnitInterval = checked((long)ADP.FailoverTimeoutStep * ADP.TimerFromSeconds(ADP.DefaultConnectionTimeout));
    }
    else
    {
      timeoutUnitInterval = checke

[2016-02-15 13:22] vijaykota commented on #6114
There seems to be some odd behavior in ```gss_init_sec_context``` When an invalid target is passed to it ie. a target for which Kerberos ticket cannot be obtained, the API still returns success. We need to investigate if there is a way to detect this in the shim and return an error to the managed layer

[2016-02-15 13:43] Dmitry-Me opened #6116 "Suspicious comment on use of GC.KeepAlive() in System.Data.SqlClient.SqlConnection.TryOpen()"
`System.Data.SqlClient.SqlConnection.TryOpen()` has this comment

[code]

I don't see an explicit call to `OnStateChange()` anywhere in that method. Even if there's a call chain which leads to `OnStateChange()` from that method it'd be more reliable to put `GC.KeepAlive()` call so that code isn't broken by later changes. It's worth remembering that failing to use `GC.KeepAlive()` can causes the su

[2016-02-15 13:48] stephentoub commented on #1330
I believe it's a stronger guarantee than is needed and that the implementation is fine as-is.  Thanks for the detailed description, though!

[2016-02-15 13:48] #1330 closed

[2016-02-15 14:27] Dmitry-Me opened #6118 "Suspicious comment about non-existing lock in System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning()"
`System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning()` has this warning:

      // call OnError outside of _ErrorCollectionLock to avoid deadlock

there's nothing called `_ErrorCollectionLock` or similarly in the codebase. The comment is full of magic.

[2016-02-15 14:50] Dmitry-Me opened #6119 "System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning() silently swallows error conditions"
`System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning()` has a Debug.Assert check that the errors connection is not empty and also this excellent `if`:

     SqlConnection exception = null;
     //later...
     if (temp != null && temp.Count > 0)
          //craft exception
     }

     //later ...
     if (exception != null ) {
         //do a lot of cool stuff
     } // else do nothing

whic

[2016-02-15 14:59] Dmitry-Me opened #6120 "Suspicious error object creation in System.Data.SqlClient.TdsParserStateObject.OnTimeout()"
`System.Data.SqlClient.TdsParserStateObject.OnTimeout()` goes like this:

       _internalTimeout = true;
         // lock protects against Close and Cancel
         lock (this)
         {
             if (!_attentionSent)
            {
                 AddError(new SqlError( WHATEVER ));

If you look through usage of `_internalTimeout` elsewhere in the same class you may notice that `ReadSniError

[2016-02-15 17:06] janhenke commented on #2046
@krytarowski I'll look at it.

[2016-02-15 18:05] ericeil commented on #5858
I think I did this:

[code]

[2016-02-15 18:24] lukasz-pyrzyk opened #6122 "Cannot locate reference to type IPAddress"
Hello,

I've published a .NET Core library to nuget. Here is the project.json of this package:

[code]

I've installed this package from nuget to the DNX451 console app and restored nuget packages.
Unfortunately I have a problem with compiling.

What is wrong? In my .NET Core project i have no references to System.Net.Primitives

[2016-02-15 19:29] weshaggard commented on #1784
For the Assembly APIs the ones we plan to expose are part of https://github.com/dotnet/corefx/issues/5381

For the Assembly Loading/AppDomain APIs see https://github.com/dotnet/coreclr/issues/2095

I believe those two issue should cover the APIs listed so closing this issue.

[2016-02-15 19:29] #1784 closed

[2016-02-15 19:34] weshaggard commented on #6035
@ericstj fair enough but that is our intent and we would like to get to a place where we can actually test against the minimal. Using a managed test host like xunit however we will likely always have a baseline set of minimal packages.

[2016-02-15 19:59] weshaggard commented on #6092
I don't have any of the history for why the defaults are the way they are but I would be very hesitant to change the behavior of this from what we have on the full .NET Framework. I share @stephentoub's concern about the code working completely different when run on the two frameworks and it is something I think we should try to maintain consistency on.

[2016-02-15 20:05] #6092 closed

[2016-02-15 20:13] davidsh commented on #6122
Can you provide a Visual Studio 2015 solution with your repro?  The IPAddress type is located in the System.Net.Primitives for CoreFx.  So, usually, libraries like System.Net.Sockets that depend on System.Net.Primitives would cause that library to be restored.

It is not clear from you description above exactly what you are trying to do. Are you building a .NET 4.5.1 app or .NET Core app?  You say

[2016-02-15 20:32] weshaggard opened #6123 "System.Dynamic.Runtime define is incorrect."
https://github.com/dotnet/corefx/blob/master/src/System.Dynamic.Runtime/src/System.Dynamic.Runtime.csproj#L10
FEATURE_COMPILER => FEATURE_COMPILE

This looks like the root cause for issue #4862. While that issue was fixed by removing the #ifdef it looks like we might also have some other bugs in this library.

cc @DinoV @VSadov @bartdesmet

Please test these changes on .NET Native as well.

[2016-02-15 20:34] zemstaspamera opened #6124 "Referencing .NET Core project to the regular .NET csproj"
Hello,

Is there any way to reference project created with .NET Core (dnxcore50 and dnx451) to regular C# project, for example WPF? I found a [proposition](https://github.com/NullVoxPopuli/csharp-extensions/blob/2767e8ae87dcc69a14d1a33fd63b9eef364ee1ec/project.json).which probably allows me to do what I want. However, is referencing a "net46" framework a good solution? I have not seen that before.

[2016-02-15 21:48] davidfowl commented on #1784
Where is GetAssemblies() tracked?

[2016-02-15 21:52] weshaggard commented on #1784
IIRC it was considered in one of the issues (although I cannot find it) and rejected. @gkhanna79 can probably give more details.

[2016-02-15 21:53] davidfowl commented on #1784
How can it be rejected... There's no way to get the list of loaded assemblies...

[2016-02-15 23:11] weshaggard commented on #6124
@Pilchie I assume this is a question for your team.

@zemstaspamera we do hope to enable this scenario but with the current VS tools it is a little rough.

[2016-02-15 23:20] stephentoub commented on #4467
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release/560/consoleFull

[2016-02-15 23:25] manu-silicon commented on #6124
I've build a way to do that. Check out: https://github.com/manu-silicon/corefxref. It will enable you to compile against the relatively recent version of CoreFX reference assemblies. However I'm not sure if you will be able to mix this with WPF as WPF may rely on APIs not yet present in CoreFX.

[2016-02-15 23:57] ericeil commented on #4890
This looks a lot like a use-after-free problem (getting the endpoint from a subsequently-allocated Socket).  This may be fixed by #6126.

[2016-02-16 02:05] kinchungwong commented on #5921
Hi all,

I would like to share some notes I have collected on the issue of imaging platform on .NET.
Most of the points in my notes are trivial or common knowledge. Feel free to skim my notes and just look for points which you find interesting.

1. https://gist.github.com/kinchungwong/155c9046ba3f1fecf49a
1. http://programmers.stackexchange.com/a/210845

The list of requirements for an imaging pla

[2016-02-16 02:35] Pilchie commented on #6124
I think there are a couple of different things here that are being conflated:

* The version of the framework that the project itself is targeting.  In a project.json/xproj project this is listed in the `frameworks` section of the project.json.  It's perfectly fine to set it to something like `net46` to target the .NET Framework, version 4.6, and use WPF.  NOTE however, that this means you are NOT

[2016-02-16 03:11] manu-silicon opened #6128 "Cannot compile CoreFX on Linux anymore"
There is a MSBuild failure when you build CoreFX on Ubuntu 14.04:

[code]

[2016-02-16 03:42] phillip-haydon commented on #5921
I don't believe imaging belongs in corefx. Imaging is hugely complex and no minimalist library in core will ever satisfy the requirements of imaging.

my 2c

[2016-02-16 07:14] jkotas commented on #6092
You are really saying that we need to maintain bug-for-bug compatibility between full .NET Framework and corefx, so that core that works fine on corefx is guaranteed to work on full .NET Framework too. I does not make sense. .NET Core was not developed against this bar so far.

Changing default sharing mode for read-only access to be more permissive would fall into a category of non-breaking chang

[2016-02-16 08:17] DerpMcDerp opened #6132 "System.Dynamic.Utils.CollectionExtensions.ToReadOnly modifies ReadOnlyCollectionBuilder"
`System.Dynamic.Utils.CollectionExtensions.ToReadOnly<T>` contains the lines:

[code]

`ReadOnlyCollectionBuilder<T>.ToReadOnlyCollection` basically does this:

[code]

Meaning `CollectionExtensions.ToReadOnly<T>` clears the `ReadOnlyCollectionBuilder<T>` object passed in. As an example of the weirdness that ensues:

[code]

I don't mind the weirdness of random methods being treated as a sink for

[2016-02-16 09:10] sejongoh commented on #6128
I also see the same problem on my machine as well as on CI.

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_ubuntu_release/8/console

[2016-02-16 10:39] Dmitry-Me opened #6134 "System.Data.SqlClient.TdsParser contains but fails to properly own an AutoResetEvent"
`System.Data.SqlClient.TdsParser` has this member:

[code]

`AutoResetEvent` _is_ `IDisposable`, yet nothing is done to have `Dispose()` called.

[2016-02-16 12:15] dajuric commented on #5921
It depends what you define by minimalistic. The original proposal seems pretty viable.
The thing is there are no portable, common image format, nor IO operations that support it. I would be happy if that is resolved (see the first post).

[2016-02-16 12:24] JimBobSquarePants commented on #5921
I've been working very hard to provide both with the new ImageProcessorCore

https://github.com/JimBobSquarePants/ImageProcessor

It's all managed code running on CoreFX. There's still a lot to do but I've established a pretty useful set of classes so far.

[2016-02-16 12:46] stephentoub commented on #6092
I don't believe I'm saying that.  There is a spectrum of possible differences, and I'm saying I'm worried this one is a bit too far along that line... not every difference is created equal.  And specifically, changing a default such that just using an API with all of the defaults works in one place but fails in another seems particularly onerous to me.

That said, as I stated, I don't feel strongl

[2016-02-16 13:10] dajuric commented on #5921
@JimBobSquarePants Does it have generic image class ?

[2016-02-16 13:19] ericstj commented on #6035
xunit already targets net4.5 so we should be able to have a minimal set of the earliest contracts.

[2016-02-16 13:52] JimBobSquarePants commented on #5921
There is an ongoing discussion that suggests using a generic image class as a means to keep memory usage low but I struggled to get the implementation correct.

https://github.com/JimBobSquarePants/ImageProcessor/issues/287

The API is still very much in flux so if you have any ideas that would allow us to realise a generic image class I have no qualms at all about using that the way forward.

[2016-02-16 14:05] stephentoub commented on #6128
Somehow the packages being used appear to be out of sync... older managed bits are being used with newer native bits (the function in question was renamed several months ago, in both the native and managed sources, but the managed binary is still looking for the old name).

[2016-02-16 14:15] dajuric commented on #5921
OK.
One question: what do you find it inappropriate / should be modified in DotImaging ? (because it seems that we are doing the same)

[2016-02-16 14:29] JimBobSquarePants commented on #5921
I guess the biggest difference is that you require a lot of interop code in order to work cross-platform whereas I chose to write the encoders/decoders plus basic algorithms as part of the library. This, in my opinion, makes it easier to maintain the library and reduces build/deployment complexity.

On the flip side this means I have to write the encoders/decoders which has been a chore!

[2016-02-16 14:38] dajuric commented on #5921
Well, I agree with you only partly.
Yes, I need the interop code which enables the framework to read/write images and to enable the access to the camera and read/write videos. (I believe you can only read/write images)

The only interop related for image loading/saving is:
CvInvoke.cvLoadImage and CvInvoke.cvSaveImage (https://github.com/dajuric/dot-imaging/blob/master/Source/IO/ImageIO.cs) - I do

[2016-02-16 14:55] Dmitry-Me opened #6136 "System.Threading.ReaderWriterLockSlim.LazyCreateEvent() fails to properly own the just created event"
`System.Threading.ReaderWriterLockSlim.LazyCreateEvent()` goes like this:

            EventWaitHandle newEvent;
            if (makeAutoResetEvent)
                newEvent = new AutoResetEvent(false);
            else
                newEvent = new ManualResetEvent(false);
            EnterMyLock();
            if (waitEvent == null)          // maybe someone snuck in.
                waitEvent

[2016-02-16 15:03] stephentoub commented on #6136
An exception from where?  Worst case is the event gets cleaned up by its finalizer, and it should be extremely rare that even that needs to happen.  Is there a particular case you believe will be common that causes an exception to occur there?  If not, I don't think it's even worth a try/finally here, and there's nothing to be done.

[2016-02-16 15:18] Dmitry-Me commented on #6136
@stephentoub An exception from anywhere, including `EnterMyLockSpin()`. I dunno how rare that would happen, otherwise I would explain the specific scenario.

[2016-02-16 15:20] stephentoub commented on #6136
Right.  It'd be extremely unlikely.  It's not worth adding a try/finally here for a case that'll so rarely happen and that won't actually leak, since the finalizer will just pick it up in that extreme case.

[2016-02-16 15:20] #6136 closed

[2016-02-16 15:21] MgSam commented on #6069
@stephentoub C# is not the only language that targets the .NET framework, and this feature only applies to the latest version of C#. Should you be making framework decisions based solely on features in the latest version of a single language?

[2016-02-16 15:24] stephentoub commented on #6069
Even without the language feature, best case such a new API saves you just a few characters, as I noted in my previous response... C# language support that makes it even nicer is just icing on the cake.  I simply do not see the value here being so great as to warrant such new APIs.

[2016-02-16 15:45] vaelen commented on #4324
Is there a guide to easily building from source so that I can build my own binaries for my OS version? I'm not going to roll back my system's OS version just to run .NET.

[2016-02-16 16:10] #5460 closed

[2016-02-16 16:44] weshaggard commented on #6128
@joperezr can you please take a look.

[2016-02-16 17:41] karajas commented on #6035
@ericstj This would be building say System.Linq against the prerelease version of System.Linq as opposed to the local version being built. @weshaggard I think the current strategy here is to include a conditional in the project reference of each test's csproj. Then when a restore occurs, the test will be built against the latest prerelease package.

[2016-02-16 18:17] pallavit commented on #5286
I don't think we are doing any work with respect to S.R.E as part of current API Convergence. Assigning it to Ati, for future consideration.

[2016-02-16 18:18] pallavit commented on #5873
This is not an API convergence issue. As discussed on the coreclr thread, this happens to be the current behavior across the board and should be simple to fix. Assigning it to Ati for future consideration.

[2016-02-16 18:20] #5657 closed

[2016-02-16 18:23] pallavit commented on #6024
That is correct. ServiceInstaller enum is only used by the installer and not the controller and hence it was not exposed.

[2016-02-16 18:25] pallavit commented on #6029
@bartonjs Thanks for reporting this. Are you seeing this behavior on windows? I tried repro'ing it on my local machine and things seem to work. I also looked at CI runs and they seem to be passing as well. I will try running the test in a loop or something on my local machine and see if I can repro it.

[2016-02-16 18:29] pallavit commented on #6086
@JiriZidek Can you please elaborate on the functionality ask?

[2016-02-16 18:35] pallavit commented on #5556
Leave a comment

[2016-02-16 18:35] #5556 closed

[2016-02-16 18:40] bartonjs commented on #6029
@pallavit Windows Server 2012 R2 (8.1 Server, IIRC).  It fails for me about half the time I build clean.  It's probably just my machine thrashing; but it suggests to me that the timeout is really close to the actual time it's taking (when the machine is still under the stress of building everything else).

There are a couple of factors that might be contributing:
* I still have a spinning/magnetic

[2016-02-16 19:27] schellap commented on #6092
Why not change both and update MSDN with a note or just update MSDN with a note? It should be useful to have two instances to open a file for read in both. This is only a relaxing change and if it is trivial I don't quite understand @weshaggard's hesitation.

[2016-02-16 19:34] joperezr commented on #6128
looks like the issue is that during the restore of the runtime in buildtools, two packages are being restored with older versions: "System.IO.FileSystem" and "System.Security.Cryptography.Algorithms". We have a (workaround) fix for this by specifically includding those two in the buildtools runtime project.json. @dagood is currently working on the change and we'll get it merged ASAP

[2016-02-16 20:06] weshaggard commented on #6092
I've not dug into all the details of this issue but based on @stephentoub comments I would expect that making this change in the full .NET Framework would be a breaking change and couldn't be made there without some some of quirk at a minimum. I'm also not opposed to entertaining the idea of doing it but it isn't free and would require some work.

[2016-02-16 20:12] stephentoub commented on #6092
I'm actually not sure if it would be considered a breaking change, in that it would stop throwing exceptions in cases that were previously throwing exceptions.

The issue is this.  You use MemoryMappedFile.CreateFromFile(string path, ...) to create an MMF.  Under the covers, it creates a FileStream, using FileShare.None.  That means if anyone else has that file open, CreateFromFile will throw an e

[2016-02-16 20:27] #6083 closed

[2016-02-16 20:36] weshaggard commented on #6092
If that is the case we should definitely consider making this change even for .Net Framework

[2016-02-16 20:38] stephentoub commented on #6092
@weshaggard, does that mean you think we should change it for corefx, regardless of whether it's changed in the full framework?

[2016-02-16 20:40] stephentoub commented on #1849
@bpschoch, thanks for your investigations here.  It's appreciated.  At this point, though, I don't think we have any plans to change the underlying mechanism used in the implementation, so I'm going to go ahead and close this.

[2016-02-16 20:42] kouvel commented on #2837
Throwing when the object is already disposed or when disposing with unexpected state may make it more consistent but it seems like it would not be very beneficial. The bugs it would find would likely be lifetime/race issues with Dispose, with what may be a missing wait for a task to complete before the object is disposed. The exception is not deterministic in that typical case, and relying on that

[2016-02-16 20:42] #2837 closed

[2016-02-16 20:59] weshaggard commented on #6092
Having a little closer look I think it is probably OK to have this change only in corefx but it would still be nice to have it in full framework as people are hitting it there as well (see http://stackoverflow.com/questions/24435260/how-to-have-shared-read-only-access-to-a-memory-mapped-file). I still don't know enough about how FileShare ends up working at the OS level to say whether or not switc

[2016-02-16 21:08] #6091 closed

[2016-02-16 21:12] KKhurin opened #6142 "ClientWebSocket Dispose AV's while operations still in-flight"
WCF stress hits an AV while inside an async call to SendAsync on a web socket that is already disposed.

[code]

[2016-02-16 21:13] pallavit commented on #6029
Hmm.. I guess I will increase the timeout a little. Since, we run these tests only in elevated mode, I don't see any issues with doing it.

[2016-02-16 21:23] joperezr commented on #6128
Linux builds are fixed with change #6089

[2016-02-16 21:30] programmatom commented on #5183
I thought I'd add another scenario, just for the record: the persistent NaN/Inf exception flag is also useful. Most audio processing algorithms I've encountered do not use NaN as an expected intermedate or output value. Therefore, NaN almost always indicates a malfunction (often because the parameters to an effect processor have been pushed to an unstable or invalid range). Exposure of the hardwar

[2016-02-16 21:33] andschwa commented on #6091
Yay! Thank you @stephentoub :smile:

[2016-02-16 22:16] joperezr commented on #6128
Code has been merged, corefx should build again in linux, so I'm closing this issue now.

[2016-02-16 22:23] joperezr commented on #6090
I believe the issue you are hitting is that the runtime is not being restored for Debian in the tools directory. Oficially, we only restore the correct runtimes for OS X, Ubuntu, and CentOS, but we also have a hook for you to override the runtime that you restore separately.

The way to do this is by manually generating a folder containing the appropiate runtime for your platform, and then setting

[2016-02-16 22:23] joperezr commented on #6090
@kferrio let me know if the fix above works.

[2016-02-16 23:14] hughbe commented on #4940
This can be closed now. Fixed by PR #5672

[2016-02-16 23:18] hughbe opened #6149 "Further work after #5974"
Some remaining work needs to be done, brought up in #5974

- consolidate common test data
- refactor test methods (I'm gonna need some more details on this one - it was mentioned but not very much expanded on in the PR)

/cc @mellinoe

[2016-02-16 23:19] hughbe commented on #6149
Please mark this grabbed by community, I will work on it :)

[2016-02-16 23:28] VSadov opened #6150 "Make Linq, Dynamic and Expressions use the same coding style as the rest of corefx"
At least for consistency sake.

It could be as simple as running the formatter tool, but could be a fairly big change. In particular for Linq.

[2016-02-17 00:26] yizhang82 commented on #5068
@jageall thanks for reporting the issue. I'm still investigating but so far this does not look like a runtime issue.

This is what I'm getting at runtime:

    FixedIssue.Class1.Test [FAIL]
      System.MissingFieldException : Field not found: 'ClassLibrary1.RuntimeIssue.Bytes'.
      Stack Trace:
           at FixedIssue.Class1.Test()

The reason is that the generated IL from the compiler is inco

[2016-02-17 01:54] Priya91 opened #6153 "System.IO.Tests.FileStream_Dispose.DisposeVirtualBehavior failed on Ubuntu Release"
[code]

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_release_tst_prtest/1916/consoleFull#-21371504001f1a4601-6aec-4fd5-b678-78d4389fd5e8

[2016-02-17 01:55] Priya91 opened #6154 "System.Net.Sockets.Tests.ConnectExTest.ConnectEx_Success failed on CentOS Release"
[code]

[2016-02-17 01:55] Priya91 commented on #6154
#5818

[2016-02-17 01:56] Priya91 commented on #6153
#5818

[2016-02-17 02:04] Priya91 commented on #6153
Failed again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_tst_prtest/872/consoleFull#-21371504001f1a4601-6aec-4fd5-b678-78d4389fd5e8 on OSX

[2016-02-17 02:04] Priya91 commented on #6153
again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_release_tst_prtest/1917/consoleFull#-21371504001f1a4601-6aec-4fd5-b678-78d4389fd5e8

[2016-02-17 03:02] naamunds commented on #6090
I added support for Debian in https://github.com/dotnet/buildtools/commit/78220deef3b1271fcae43cdb62cc1ab79d4613ab. As a first step, I would suggest simply deleting the "Tools" directory and then running `build.sh`. I was hitting the same issue, and that worked for me. If that doesn't work for you, try cleaning your repo and packages cache by running `clean.sh -a` (after ensuring that you don't ha

[2016-02-17 03:10] kferrio commented on #6090
@joperezr and @naamunds : I tried a `clean.sh -a` and also deleting Tools and even cloning a new repo, all to no effect. I have not tried setting `BUILDTOOLS_OVERRIDE_RUNTIME`. I will try that (might be tomorrow) and report results. Thanks!

[2016-02-17 05:23] vijaykota commented on #6114
@kapilash I am seeing in my sample program that AuthenticateAsClientAsync is failing as expected with ```AuthenticationException``` because second call to gss_init_sec_context failed. So I believe the fix is only in the test case used in #6139 . Since the exception is in EndProcessAuthentication and not BeginProcessAuthentication like in invalid creds case, we need an ```Assert.ThrowsAsync```

Ple

[2016-02-17 05:23] #6114 closed

[2016-02-17 10:41] JonHanna commented on #1942
Can someone take it and submit a PR against the future branch, or is there something else needed?

[2016-02-17 10:44] vijaykota opened #6161 "Enable NegotiateStream tests on OSX"
The script used on Linux OSs (see #6158) does not work on OSX since the latter uses Heimdal KDC. So currently the tests are blocked on OSX. The script needs to be fixed and tests need to be enabled for OSX.

[2016-02-17 11:07] kapilash commented on #6114
That worked. Thanks @vijaykota

[2016-02-17 11:36] varocarbas opened #6162 "New method to get permutations of items in 1D collections"
Getting all the possible permutations (understood in its widest sense) of elements in a given 1D collection is a somehow common requirement. For example (C# version):

[code]
With a constant number of elements (e.g., 3, as proposed in the aforementioned example), implementing an algorithm to deliver this functionality is quite straightforward (i.e., as many nested loops as elements). On the other

[2016-02-17 17:09] VSadov commented on #1942
I can take a look at this.
@terrajobst - so what exactly was the conclusion? As I see the following is in

bool TryAdd(TKey, TValue)
TValue GetOrAdd(TKey, TValue)
TValue GetOrAdd(TKey, Func<TKey, TValue>)

Is that correct?

[2016-02-17 17:40] kgabedell commented on #4561
Hi,

I wanted to share the scenario I am working with, it consists of using VMware's vSphere Web Services SDK (soap).

I have successfully generated the code based off the wsdl using the svcutil.exe contained in the "WCF Connected Service Visual Studio Extension Preview for ASP.NET 5 Projects".

The generated proxy file is large, 81,651k consisting of many proxy classes. The initial class seems to

[2016-02-17 18:22] GerjanOnline opened #6167 "Add a issue_template.md and pull_request_template.md"
Please see

https://github.com/dear-github/dear-github/issues/125
and
https://news.ycombinator.com/item?id=11119411

Maybe an idea for this repo?

[2016-02-17 18:54] jamesqo opened #6169 "(question) How do you guys override the project.json location based on the target platform?"
Waiting for the build tools to restore right now, so I figured I would ask this question.

I'm just curious to know how you guys can do something like [this](https://github.com/dotnet/corefx/blob/ab6ec2fa803a330e73809cf478753959a36185e5/src/System.Diagnostics.Contracts/src/System.Diagnostics.Contracts.csproj#L20) in MSBuild:

[code]

and have the `project.json` associated with your csproj file cha

[2016-02-17 19:02] mellinoe commented on #6169
I believe the logic is here:

https://github.com/dotnet/buildtools/blob/6e0874e84f77486e83cb60be99966377b09319a5/src/Microsoft.DotNet.Build.Tasks/PackageFiles/packageresolve.targets

But I'm having trouble remembering how exactly this interacts with the built-in MSBuild targets for NuGet package asset resolution.

[2016-02-17 19:02] CIPop commented on #6107
I agree with the enhancement: I think we should add a way to expose the Local/Remote endpoints for TcpClient. This will need to be done in such a way that allows us to add the same properties on .Net Desktop.

@xanather We've added TPL (async/await) to Sockets in version 4.1 as we've deprecated the Begin/End APIs. These APIs are now available in both CoreFX and .Net Desktop.

@SidharthNabar, @davi

[2016-02-17 19:28] ellismg opened #6170 "Debian Jessie RID should be debian.8 not debian.8.2"
See the discussion at the end of https://github.com/dotnet/cli/issues/212#issuecomment-184786944.  The CLI is going to compute the debian.8 RID which we produce no assets for.  We should have our debian packages be produced with the debian.8 RID and remove debian.8.2 from the runtime graph.

[2016-02-17 19:33] ellismg commented on #6170
@chcosta Can you update these packages?  I'm not sure exactly where the source of truth for this stuff is anymore and I don't want to cause a bunch of merge conflicts if it's going to impact your closed to open move for the packages.

[2016-02-17 19:35] ianhays opened #6172 "System.IO.Compression DeflateStream WriteAsync doesn't use underlying WriteAsync"
In DeflateStream WriteAsync and FlushAsync we're using the base Stream's async operations that wrap the underlying stream's Write/Flush in a Begin/End architecture to jury-rig an async operation.

That doesn't make much sense imo when our underlying stream already implements Stream and possibly has its own specific asynchronous methods that it wants to be used.

We should consider modifying the De

[2016-02-17 20:22] ianhays commented on #6172
@stephentoub @ericstj

[2016-02-17 20:38] SamuelEnglard commented on #6073
After the discussion above, some more thinking myself, and looking at the contributing guidelines...

# Rational

In LINQ we have the `Single` and `SingleOrDefault` methods:

[code]

The problem with these methods is that if there is more than one element in `source` (or more than one matching element in case of `predicate`) they all throw a `System.InvalidOperationException`. That is fine if more

[2016-02-17 20:52] ericeil opened #6173 "Race conditions in SocketAsyncEngine"
In [`SocketAsyncEngine.EventLoop`](https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEngine.Unix.cs#L80), there is a window where `WaitForSocketEvents` has returned an event for a socket, but we have not yet deferenced the event's `GCHandle` to obtain the socket's `SocketAsyncContext`.  In that window, another thread may close the socket and free

[2016-02-17 21:15] swgillespie commented on #6167
Also: https://github.com/blog/2111-issue-and-pull-request-templates

[2016-02-17 21:16] naamunds commented on #6090
@kferrio A fix for a different Linux build issue was submitted yesterday, so can you verify that you have the latest CoreFX source, and then try deleting Tools and building again?  If you still hit the issue, can you attach init-tools.log (in the root of your repo) and check what files are in your Tools directory? If everything is working correctly, you should have about 9 folders and 232 files, i

[2016-02-17 21:17] 304NotModified commented on #1797
Is someone working on this?

Missing this feature is a big showstopper for logging tools, so also NLog. We (NLog) are one of the few non-Microsoft (open source) libraries which are in the Nuget top-100,  and we like to stay there ;)

[2016-02-17 21:19] ianhays commented on #6128
I'm seeing a similar issue when trying to build the tests for System.IO.FileSystem on Ubuntu 14.04

[code]

I'm assuming it has something to with how we're restoring the native components.

I'm running the tests using ```msbuild /t:BuildAndTest /p:Configuration=Linux_Debug from ~/corefx/src/System.IO.FilSystem/tests```

I tried deleting Tools, packages, and Bin as well as running clean.sh but the

[2016-02-17 21:22] nguerrera commented on #4543
TryGetRawPEImage needs to be implemented in mscorlib, just like TryGetRawMetadata. We used the System.Reflection.Metadata *namespace* for TryGetRawMetadata, but it cannot actually be implemented in System.Reflection.Metadata.dll.

[2016-02-17 21:35] noahfalk commented on #1797
We're tracking it and we know its important, but nobody is working on it right now to the best of my knowledge. As soon as someone starts ideally we'd get the 'up-for-grabs' tag removed to ensure multiple people aren't needless duplicating work.

[2016-02-17 21:59] jamesqo commented on #6169
@mellinoe Thanks! Finally got it working using the link you posted, like this:

[code]

But yeah, as you mentioned, MSBuild is having a bit of trouble picking up on the references. When I compile the project, I'm getting a lot of 'type not found' errors.

[2016-02-17 22:00] nguerrera commented on #5256
We should be fully within our rights to change GetHashCode() in .NET Core as long as we do not violate its invariants (i.e. if two objects are equal than they have the same hash code). We have been warning folks for > 10 years about this. See the 'Warning' sections here: https://msdn.microsoft.com/en-us/library/system.object.gethashcode%28v=vs.110%29.aspx

We have the option of leaving the desktop

[2016-02-17 22:04] mellinoe commented on #6169
It looks like the above will run restore on the project.json file that you want, but you will still need to point MSBuild to the lock file to use. I'm not 100% sure if there's an easy way to do that with the built-in NuGet targets. Did you try setting ProjectLockJson as well?

[2016-02-17 22:12] jamesqo commented on #6169
@mellinoe Ah, that must be my problem then. I have set `ProjectLockJson`, but I don't know what to do with it. Here's my full code at the moment: https://github.com/jamesqo/typed-xaml/blob/master/src/Typed.Xaml/Typed.Xaml.csproj#L77

[2016-02-17 22:20] mellinoe commented on #6169
`ProjectLockJson` is what we pass into our "PrereleaseResolveNuGetPackageAssets" target to harvest the references for your project:

https://github.com/dotnet/buildtools/blob/6e0874e84f77486e83cb60be99966377b09319a5/src/Microsoft.DotNet.Build.Tasks/PackageFiles/packageresolve.targets#L77

From what I understand, there is a version of this target included with the in-box MSBuild targets (called "Re

[2016-02-17 22:36] programmatom commented on #5106
How does this reconcile with https://github.com/dotnet/corefx/issues/5474? It looks like that subsumes this, unless I've misunderstood, and https://github.com/dotnet/corefx/issues/5474 is accepted for 1.0.0rtm, whereas this one is just "Future". Is https://github.com/dotnet/corefx/issues/5474 intended to be the preferred mechanism?

[2016-02-17 22:41] mellinoe commented on #6153
Hit this here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_release_tst_prtest/1918/

[2016-02-17 22:43] mellinoe commented on #5106
Yes, the current plan is that #5474 will be the generic mechanism to do this, not only with Vector<T> but with any other generic structure as well.

[2016-02-17 22:46] hughbe opened #6177 "Inconsistent ToString() implementations in System.Primitives"
The ToString() implementations in System.Drawing.Primitives are as follows:

- Point: `{x,y}`
- PointF: `{x, y}`
- Size: `{width, height}`
- SizeF: `{width, height}`
- Rectangle: `{x,y,width,height}`
- RectangleF: `{x,y,width,height}`

There is some inconsistency here. PointF, Size and SizeF have a space after the comma, and Point, Rectangle and RectangleF do not.

In mathematical notation, `{x,y}

[2016-02-17 22:46] nbarbettini commented on #1784
I didn't see any mention of `GetCallingAssembly` in the issues @weshaggard linked to - did that one get nixed?

[2016-02-17 22:59] pallavit commented on #1784
That is correct. GetCallingAssembly was considered but rejected since it is vulnerable to inlining and such.

[2016-02-17 23:03] #6128 closed

[2016-02-17 23:03] chcosta commented on #6170
@naamunds, @weshaggard, does this require updating buildtools (init-tools.sh and tool-runtime\project.json)?  If yes, is there an ordering requirement between updating buildtools and updating corefx?

[2016-02-17 23:50] hughbe commented on #6022
Okay, a test failure on #6176 suggested that the cause of this bug is not actually part of System.Numerics, but rather mscorlib itself - the Math functions.

This brings up questions about breaking changes, as `System.Math.Cos(double.MaxValue)` is different on Windows, and non-Windows.

If the behaviour changes, it may be advisable to check if there are similar inconsistent implementations in the

[2016-02-17 23:52] terrajobst commented on #6024
@TravisTheTechie

I'm suprised you didn't ask for `ServiceBase`. Does this mean you're only controlling native services?

[2016-02-18 00:03] mellinoe commented on #6022
I don't think the code in the example above actually computes `Math.Cos(double.MaxValue)`. It computes `Math.Cos(value._imaginary)`, where `value._imaginary` is actually 0, not `double.MaxValue`. So there may be an issue with one of the other computations in the example (not sure which exactly). There is definitely a behavior difference with `Math.Cos(double.MaxValue)`, just not 100% sure it is af

[2016-02-18 00:17] ballm opened #6180 "HttpClient.GetAsync is slow in dnxcore50 compared to dnx461"
When using GetAsync on HttpClient the request is taking considerably longer to return when running the same code targeting dnxcore50 compared to dnx461. This is from an ASP.NET 5 project, and happens when running within IIS Express and Kestrel.

As an aside was hoping to debug against the core code, but even after cloning the repo, and adding the source folder to my global.json file I couldn't get

[2016-02-18 00:19] ianhays commented on #6153
Was this failure intermittent or across all runs? I'm unable to repro it on my local machine.

[2016-02-18 00:28] davidsh commented on #6180
That is a known issue with DNX. This won't be resolved until ASP.NET 5 (now known as ASP.NET Core 1.0) moves over to the DOTNETCLI toolchain. That will happen in a few weeks.

[2016-02-18 00:29] davidsh commented on #6180
Is this on Windows or Linux or Mac?

[2016-02-18 00:31] ballm commented on #6180
This is on Windows 7.

[2016-02-18 00:35] Priya91 commented on #6177
Thanks for opening this.

[2016-02-18 00:40] Priya91 commented on #6153
It was occurring frequently in the CI runs, not across all runs.

[2016-02-18 00:55] kinchungwong commented on #5921
@dajuric

Have you considered existing third party libraries that aggregate multiple image encoding/decoding libraries and already have official .NET wrapper? For example, [FreeImage.NET](http://freeimage.sourceforge.net/fnet/Index.html)

A lot of .NET image encoding/decoding libraries ultimately depend on reference libraries written in C or C++. For example, OpenCV depends on libtiff, libjpeg, li

[2016-02-18 01:20] nbarbettini commented on #6026
This feels 'icky' since it's been drilled into my head from the beginning of async/await that it's a Really Bad Idea(tm) to call .Result to block. I agree that it should be rare to need synchronous calls going forward, but every once in a while it seems to come up.

Ickiness aside, this does work. Thanks guys! :smile:

[2016-02-18 02:04] jaredpar opened #6185 "Reference assemblies need to include private struct fields"
Today the reference assemblies for .NET assemblies strip private fields from structs.  This has an observable, and potentially dangerous, impact on project that consume them:
- Allows pointers to be created for structs with fields of a reference type.
- Prevents the compiler from catching cyclic struct layout problems.
- Breaks C# definite assignment checking.
- Allows structs using `[FieldOffset]

[2016-02-18 02:18] stephentoub opened #6187 "Socket_ConnectAsyncDnsEndPoint_HostNotFound test failed with TryAgain error"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/2364/consoleFull
[code]

[2016-02-18 02:22] kferrio commented on #6090
Will do. Got called away today but should be back tomorrow.
On Feb 17, 2016 2:17 PM, "Nate Amundson" <notifications@github.com> wrote:

[2016-02-18 02:35] stephentoub opened #6188 "ReadContentAsInt18 XML test failure on OS X"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_tst_prtest/946/console

[code]

[2016-02-18 03:10] nguerrera commented on #6185
This has versioning implications. The best definition for a valid reference assembly I have is that it's indistinguishable to the compiler from what could just have been an earlier version of the implementation assembly. As such, for any transformation deemed invalid from implementation to reference assembly, the inverse should be deemed to be a breaking change. We should update https://github.com

[2016-02-18 03:27] jamesqo opened #6191 "(API proposal) Adding a Path.CreateRelativePath method to calculate a relative path between two others"
### Background

Currently, there's no built-in way to recalculate a path relative to another directory in .NET. The [most popular SO answer](http://stackoverflow.com/a/340454/4077294) on the topic is over 10 lines, which is less than ideal. Also, it's pretty allocation-heavy since it instantiates 3 `Uri` objects and 3 strings.

## Proposal

### Signature

The method would look like this:

[code]

[2016-02-18 04:32] weshaggard commented on #6170
@chcosta once the packages are updated you will likely need to update to RID in the tool-runtime (https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/tool-runtime/project.json#L42) in order to get the tools to restore for that new RID. The source of truth for the RID itself is https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/ru

[2016-02-18 04:54] jonathanmarston commented on #2209
I'd be very interested in seeing support for popcnt. A project I'm working on that heavily uses bitmaps would benefit greatly. Right now I'm looking at needing to break down and write it in C++ instead of C#...

[2016-02-18 04:56] jamesqo commented on #6169
Thanks for helping. I was too lazy to create a custom MSBuild task, so I ended up creating a bunch of `csproj` files and linking them the old-fashioned way.

[2016-02-18 04:56] #6169 closed

[2016-02-18 05:58] alexandrnikitin commented on #5106
Ok, I'm happy to close then.

[2016-02-18 05:58] #5106 closed

[2016-02-18 06:19] manu-silicon opened #6195 "Native code does not compile under arm64"
I'm looking into it.

[2016-02-18 06:49] jayaranigarg opened #6196 "Unable to register Trace Listener in CORE CLR"
I want to capture logs in Core CLR and want to register a trace listener for same. But I am unable to find a way to do so.
This can be achieved in Full CLR in this way:

[code]

I want to achieve same thing in Core CLR but TextWriterTraceListner is not available in core CLR.
How can this be achieved?

[2016-02-18 06:58] #5793 closed

[2016-02-18 07:45] kwaazaar commented on #5593
Yes please! I use it a lot to manipulatie OOXML documents (Word). It's much faster than linq to XML. As the OOXML SDK may be ported as well somewhere in the future, my current solution (www.docati.com) requires XslTransform as well.

[2016-02-18 08:26] ayende commented on #2486
Any news on this feature?

[2016-02-18 11:04] JonHanna commented on #6132
I think that even if this behaviour was deemed undesirable, it would still be better to document than change. Any change would be very likely to break a current use, AFAICT.

[2016-02-18 11:52] vijaykota opened #6199 "Fix an assert in NetSecurityNative_HandleError"
During my negative case testing, the assert which checks for null outputBuffer when status is error is getting hit. From the man pages, gss_release_buffer is required even in error conditions if outputBuffer.length is non-zero.

[2016-02-18 12:47] tmds commented on #2837
@kouvel Throwing as a means to make lifetime/race issues visible seems like a very beneficial thing to me. I don't get what you mean.

[2016-02-18 13:28] Clockwork-Muse commented on #6073
...if more than one element is common/expected, then you have one of two situations:

 1. You don't particularly care which you get, so `First(...)` would be appropriate.
 2. You _do_ care, so the exception thrown in `Single(...)` is appropriate.

"Exceptions are slow" is irrelevant in the case of requesting user input to resolve the issue - displaying to the screen and acting on the input is goin

[2016-02-18 14:15] stephentoub commented on #6153
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_release_tst_prtest/2024/console
[code]
(This was for a PR in the dev/negotiatestream branch, which doesn't have the change to disable the test.)

[2016-02-18 14:43] kouvel commented on #2837
I mean it doesn't seem to me like a frequently enough occurring issue or an important enough issue that requires a fix. It may come useful from time to time, although I don't remember a case where this would have been useful to me, as I'm usually pretty explicit about managing object lifetimes and lifetime of background work.

Even if it is useful, when object lifetime is concerned, I would actual

[2016-02-18 14:50] mvandenb opened #6204 "Add support for SystemMessaging and SOAP Web Services"
Is there planned support for Queueing through the System.Messaging namespace and Soap WebServices through some other namespace?  Will there be support for MSMQ, AMQP, SOAP, etc?

[2016-02-18 15:16] NerdsRule commented on #2189
Would also appreciate this feature in Core or in a package. We create HTML using XSLT + Styling + XML.

[2016-02-18 15:28] bartonjs opened #6205 "S.S.C.Csp SafeHandle types have an allocating+finalizing InvalidHandle property"
SafeProvHandle, SafeKeyHandle, SafeHashHandle all have allocating InvalidHandle properties, but all the usages assume a static object (at least, none of them dispose the value they get back)

[2016-02-18 16:35] jaredpar commented on #6185
I agree there are versioning implications here.  I looked at that document for a bit but I'm having trouble processing it because it's unclear what it is targeting for breaking changes.  Is the document concerned only about compilation back compat or is it concerned with binary compat?  This has a big distinction for structs contained in a reference assembly.  Here are my quick thoughts on it.

##

[2016-02-18 16:36] TravisTheTechie commented on #6024
No, Topshelf would require `ServiceBase`, but when I converted it, there wasn't an error for it. I assume if it's not in the Core surface area then I'd end up with that error after whatever error was masking that was fixed.

It appears this just won't be possible. You're not exposing many of things we require for Core, so I think we'll just consider this a non-started for now.

[2016-02-18 16:42] gafter commented on #6185
For compile-time compat, the following rules should work for producing a reference assembly. We drop all private fields, but add back certain synthesized private fields for a value type (struct) as follows:
- If there are any private fields that are or contain any value type members, add a single private field of type `int`
- If there are any private fields that are or contain any reference type m

[2016-02-18 16:45] jaredpar commented on #6185
@gafter

This breaks the ability for developers to write correct PInvoke and unsafe code.  The size of the struct is important in both scenarios to write correct code.

[2016-02-18 17:03] markrendle commented on #5999
@friism I have thought about that, and of course there's a very nice MIT-licensed CurlHandler that I could just copy and add a couple of lines to... :sunglasses:

[2016-02-18 17:17] AtsushiKan commented on #4337
Fixed by adding probing mechanism.

[2016-02-18 17:17] #4337 closed

[2016-02-18 17:30] joshfree commented on #2486
@ayende this is still on the backlog

[2016-02-18 17:43] AtsushiKan commented on #5251
You seem to be the owner of this code - please check this out.

[2016-02-18 17:51] bartonjs commented on #5251
@ericeil Do you have the bandwidth to look at this one?  Or does it need to play pass-the-parcel back to @AtsushiKan? :smile:

[2016-02-18 17:57] ericeil commented on #5251
I'll take a look.

[2016-02-18 18:05] naamunds commented on #6170
The Debian RID should probably be changed from 8.2 to 8 everywhere. It looks like there are four files where it occurs:  src/Microsoft.DotNet.Build.Tasks/PackageFiles/init-tools.sh and src/Microsoft.DotNet.Build.Tasks/PackageFiles/tool-runtime/project.json in BuildTools, and build.sh and src/Common/test-runtime/project.json in CoreFX. See https://github.com/dotnet/corefx/commit/ba64fda9a0c6bdd205f

[2016-02-18 18:20] bartonjs opened #6210 "Investigate handle usage in S.S.C.Csp's CapiHelper class"
A lot of CapiHelper was a transliteration of the crypto VM QCall functions from C++ to C#.

Unfortunately, some handle management got lost in transliteration:

The VM held these handles in stack-allocated classes similar to SafeHandle, which means that the dtor fired on block exit.

Since the VM never visibly called CryptDestroyKey (or the appropriate function for the handle type) this caused a lo

[2016-02-18 18:22] bartonjs opened #6211 "SafeKeyHandle depends on SafeProvHandle, and should track that"
A SafeKeyHandle is allocated from a SafeProvHandle.  The SafeKeyHandle needs the SafeProvHandle to not be freed first.  So the SafeKeyHandle should track its parent/child relationship similar to how SafeInteriorHandle does.

[2016-02-18 18:42] AtsushiKan commented on #3952
No longer repros - reenabled test.

[2016-02-18 18:42] #3952 closed

[2016-02-18 18:57] mellinoe commented on #6196
Have you tried the `System.Diagnostics.TextWriterTraceListener` package?

https://www.nuget.org/packages/System.Diagnostics.TextWriterTraceListener/

https://github.com/dotnet/corefx/blob/ac67ffac987d0c27236c4a6cf1255c2bcbc7fe7d/src/System.Diagnostics.TextWriterTraceListener/src/System/Diagnostics/TextWriterTraceListener.cs

[2016-02-18 19:11] SamuelEnglard commented on #6073
My use case is a user is changing selection. They can:

* Have no items selected: I do nothing.
* Have one item selected: I process the selected item.
* Have more than one item selected: I do nothing.

[2016-02-18 19:12] Priya91 commented on #5701
This failure is happening quite frequently in many of the Unix runs, failing the builds.. But it doesn't report the test as failed.

Another instance: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_debug_tst_prtest/2019/consoleFull#-21371504001f1a4601-6aec-4fd5-b678-78d4389fd5e8

[2016-02-18 19:34] CarolEidt commented on #2209
I don't think that any of these requests would be difficult to implement as intrinsics. The main issue is to define the appropriate API. The "path of least resistance" would probably be to put them in System.Numerics.Vectors.dll, but I'm not sure that's the best place from a design perspective. However, to get the conversation started (and admitting up front that API design is not my field), here

[2016-02-18 19:54] Konard commented on #4636
Any news on Console.KeyAvailable ?

[2016-02-18 19:58] stephentoub commented on #4636
It's available.
https://github.com/dotnet/corefx/blob/master/src/System.Console/ref/System.Console.cs#L30

[2016-02-18 20:26] #6172 closed

[2016-02-18 20:28] stephentoub opened #6218 "Lots of timeouts on Unix in DualMode connect tests"
Some of the tests are hanging in EndConnect, e.g.
[code]

Others are timing out, e.g.
[code]

[2016-02-18 20:38] mellinoe opened #6220 "Incremental build does not work outside Windows"
RIght now if you build a project twice in a row, the second build re-runs some targets that should be up-to-date already. When I build System.Private.Uri twice on Windows, almost all of the targets are skipped on the second try. On Linux, some targets are re-run. Namely, the CoreResGen and CoreCompile targets are both run again, and those are probably two of the most expensive targets, relatively

[2016-02-18 20:40] mellinoe commented on #6220
I am also curious if this is having an effect on build times in our x-plat builds. If things are not being built incrementally, it could have a pretty big effect on overall time.

[2016-02-18 20:45] redknightlois commented on #2209
@CarolEidt I agree with you, "Accelerated" should mean "Better than if we do this with even if writing this as IL myself".

I can try to build a few examples of how I envision such an API to work (as I have already the stock implementation for a few of the most important routines). But, I have a few questions:

- Is the idea to provide "stock" implementations to avoid every single project to repea

[2016-02-18 21:31] gafter commented on #6185
@jaredpar Can you unpack that assertion? The size of a struct isn't considered to be a compile-time constant except for primitive types and enums. What kind of code would be broken by this?

[2016-02-18 21:32] terrajobst commented on #5964
This would require additional APIs in .NET Framework, so I'm moving it to Future.

[2016-02-18 21:33] terrajobst commented on #6109
This would require API changes in .NET Framework, so I'm moving it to Future.

[2016-02-18 21:35] stephentoub commented on #5964
@terrajobst, what about:
https://msdn.microsoft.com/en-us/library/system.io.filestream.lock(v=vs.110).aspx
https://msdn.microsoft.com/en-us/library/system.io.filestream.unlock(v=vs.110).aspx
?

[2016-02-18 21:35] terrajobst commented on #5256
I think we should change the implementation, including the .NET Framework. If we detect a major issue, we can consider quirking it.

[2016-02-18 21:38] terrajobst commented on #5212
LGTM

[2016-02-18 21:40] nguerrera commented on #6185
I would say that interop is the issue more than unsafe code. You can certainly write correct unsafe code without having size or layout guarantees. e.g. There is nothing wrong with &foo.x even if x moves around.

If we put further restrictions on struct changes in the name of interop, then structs marked with auto layout in v1 would be exempt. They are rejected by the interop layer, but that (justi

[2016-02-18 21:44] joperezr commented on #6220
@rainersigwald I'm seeing this as well in both Linux and OSX. Are you guys aware of this?

[2016-02-18 21:44] nguerrera commented on #5256
Even better. Just saying that even if we decide to leave the desktop alone, we can still change .NET Core.

[2016-02-18 21:44] #5212 closed

[2016-02-18 21:53] stephentoub opened #6223 "WindowAndCursorProps.Title_Set failed on Windows 10"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win10_debug/91/consoleFull
[code]

[2016-02-18 21:55] jaredpar commented on #6185
Agree but there is plenty of interop that is built around exactly such types.  Or more accurately structs that transitively wrap those types.

Take for example `Guid`.  This is a struct that is often used in interop and contains only primitive type fields.  Adding / removing a primitive field to this struct would be essentially unobservable from the stand point of C#.  But it would wreak havoc on

[2016-02-18 21:55] stephentoub opened #6224 "Windows 7 outer loop test runs failing finding vcvarsall.bat"
[code]

[2016-02-18 21:56] stephentoub commented on #6223
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win10_release/89/consoleFull

[2016-02-18 21:56] jaredpar commented on #6185
Agree.  Auto is also advantageous from the stand point of performance because the JIT can pack structs tighter.  Stupid back compat :frowning:

[2016-02-18 21:59] rainersigwald commented on #6220
Not a problem I'm aware of. @cdmihai have you noticed anything like this?

[2016-02-18 22:07] joshfree commented on #6224
how long has this been failing?

[2016-02-18 22:08] pallavit commented on #6223
Interesting. Our code is pretty vanilla. We simply call into windows SetConsoleTitle API here. Looking at the history, this test seems to have started failing recently. Is that correct? I will look into windows code to see when we end up throwing IOException, msdn does not give much details.

[2016-02-18 22:11] stephentoub commented on #6224
You can see the history here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win7_debug/

[2016-02-18 22:26] stephentoub opened #6226 "DeletedTests.FileSystemWatcher_Deleted_Negative failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_tst_prtest/1011/console
[code]

[2016-02-18 22:33] terrajobst commented on #5256
Good point. /cc @weshaggard @ericstj

[2016-02-18 22:44] #6149 closed

[2016-02-18 22:44] Clockwork-Muse commented on #6073
Hmm, wouldn't that be approached as:

 - Your processing is the only action possible: it is an error condition to select more than one item.
 - There are more possible actions: it is an error condition to active your processing.

I mean, in the case where the user has multiple items selected and attempts your processing, you can't actually do nothing; you need to at least let them know you can't c

[2016-02-18 22:48] Priya91 commented on #6224
Seems like the win7 machines dont have the C++ toolset. I don't know how to connect to these azure vms. Will sync up with @mmitche

[2016-02-18 22:54] mellinoe commented on #6220
Another point of interest: Incremental build seems to work on our "ref" projects, for whatever reason. The ref projects are much simpler in general and don't get hooked into as much as our library builds from our custom targets. I'm also able to reproduce this all on Windows if I just pass `/p:DebugType=none` to MSBuild (to work around that csc issue above).

[2016-02-18 22:55] sokket commented on #5950
Seeing this again in all flavors: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_tst_prtest/1006/consoleFull#-21371504001f1a4601-6aec-4fd5-b678-78d4389fd5e8

[2016-02-18 23:28] stephentoub commented on #6218
Turns out this is much more widespread than just the connect tests... it's pretty much hitting all of the dualmode tests, e.g.
[code]

[2016-02-19 00:23] manu-silicon opened #6230 "Add Arm64 support in RuntimeInformation"
Currently there is no Arm64 support in CoreFX. I've added support in the native part (see PR #6229), but the managed part needs to go through a review process which I'm opening here.

The simple change requested is to add the Arm64 enum entry to the various enum types listing all the supported platforms. However this is not sufficient, the various platform/OS implementation of RuntimeInformation n

[2016-02-19 00:27] joelverhagen opened #6231 "HTTP response Stream.ReadAsync acts differently from .NET Framework"
When an HTTP server closes the connection before sending all of the content, `HttpClient` in the .NET Framework throws a `System.IO.IOException`. .NET Core treats this as an acceptable end of content and throws no exception. This occurs when the server sends `Content-Length`. When using `Transfer-Encoding: chunked`, both .NET Framework and .NET Core throw a `System.IO.IOException` but the inner ex

[2016-02-19 00:28] mellinoe commented on #6230
We may just want to scope this to adding support in RuntimeInformation. The System.Runtime changes, for example, will be much more difficult to make as it will require us to change mscorlib, port changes to desktop (if we want compatiblity), etc. as that is where the `ProcessorArchitecture` enum is implemented. I assume that is what you were referring to when you said that ref/System.Runtime.cs wi

[2016-02-19 00:31] manu-silicon commented on #6230
@mellinoe That's what I mean. Agreed for System.Runtime, but I would not be surprised if this was added shortly in mscorlib as work on arm64 is progressing in CoreCLR.

[2016-02-19 00:33] scottdorman commented on #6185
Well said, @jaredpar! :)

That would have been advantageous, especially since intereop usually requires a good understanding of what's going on at runtime. Another choice that would have been good was requiring constructor call chaining rather than implicitly adding it. :) I normally always follow that rule, except for the one time in the code that "discovered" this issue, specifically because it

[2016-02-19 03:10] Raviuppa opened #6235 "On Ubuntu 14.04 CoreFX build hangs while Test Execution"
I have been trying to build CoreFX on Ubuntu but every time the build hangs while performing Test Execution for System.Net.Security.Unit.Tests with System.TimeOutException. Only way to come out of it is to kill the process.

Any idea what could be the reason?

System.Net.Sockets.APMServer.Tests-> /home/clrtestbld1/git/corefx/bin/Linux.AnyCPU.Debug/System.Net.Sockets.APMServer.Tests/System.Net.Sock

[2016-02-19 03:26] weshaggard commented on #5256
I'm OK with fixing the GetHashCode here and considering this for the full framework but I'm not convince it has enough value to bring there, but I would be OK trying to do it if we think we can do it without breaking anyone.

[2016-02-19 04:00] Priya91 commented on #6224
Restarted an Outerloop_win7_debug run [#87](http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win7_debug/87/console)

It finds the vcvarsall.bat. Closing this issue as fixed.

[2016-02-19 04:00] #6224 closed

[2016-02-19 04:11] chadbr commented on #5611
I guess it's too late, but for what it's worth...

We have used these dictionaries on DbColumn and DbTable pretty extensively.

This is the only means for a data layer to "attribute" tables coming from the database with meta information that is meaningful to a system without resorting to a custom object structure that parallels the dataset/table/column structure.

As an example, our application(s)

[2016-02-19 04:19] stephentoub commented on #6235
While we've had issues with timeouts in some of these tests due to infrastructure, in the past day we've been hitting them a lot, and we believe it's due to a change that went in yesterday and is currently in the process of being reverted: https://github.com/dotnet/corefx/pull/6237

[2016-02-19 04:28] chadbr commented on #5024
Again, late to the game... FWIW, we have a vendor neutral database description object model that has worked for us across SQL, SQL Server Compact, Oracle, SQLite, and SAP HANA.

It suffers from some of the limitations mentioned above, but it's better than nothing.

I'm happy to contrast to this model if it helps? @saurabh500

[2016-02-19 05:20] kinchungwong commented on #5921
I will try to completely rewrite this issue's goals as follows. (I have other ideas but I will post as separate comments for easier reading.)

### Primary: Define one or more image classes in the CoreFX ###

#### Use cases ####
- Allows image decoding/encoding (codec) libraries to be written to use these image classes.
- Allows algorithms for basic image manipulations (resize, crop, convert, etc)

[2016-02-19 05:29] kferrio commented on #6090
Finally got back to this.  Happy. I pulled down 56a6daf and it builds
successfully on Debian 8.2.  It appears that some tests may not be running
(chmod does not find corerun). I have not actually used the build yet but
wanted to give this feedback and say "thanks!"

On Wed, Feb 17, 2016 at 7:22 PM, Kyle Ferrio <kferrio@gmail.com> wrote:

[2016-02-19 08:41] iamjasonp opened #6239 "Commit edbd7ba / PR 6147 is causing test failures in internal TFS builds"
Regarding:

https://github.com/dotnet/corefx/commit/edbd7ba720699bbe20753872ac430f0b3fdaf3a9 (PR #6147)

This commit seems to be causing a lot of failures in the internal TFS runs with the exception of this sort:

CoreCLR:

[code]

Net Native:
[code]

These are failing from run numbers 23818.00 (ProjectK branch), and private runs (N from K)
Exception in more detail: https://gist.github.com/iamjaso

[2016-02-19 09:33] noahfalk commented on #1370
Folks in this issue might find @aelij's work interesting: https://github.com/dotnet/coreclr/issues/2813

[2016-02-19 10:17] vijaykota commented on #6199
Fixed via #6201

[2016-02-19 11:40] xanather commented on #6107
@CIPop Thanks for the info, because async/await has been added to Socket I have converted my code to use Socket instead of TcpClient (lack of documentation was indeed the problem).

However this forced changed from TcpClient to Socket proves my point, TcpClient is really quite useless now unless in extremely basic scenarios.

[2016-02-19 11:51] NickCraver commented on #5611
@chadbr You can still do all what you want here - just create your own type inheriting  from `DbColumn` and override the `this[string property]` indexer. You can check your dictionary and fall back to `return base[property];` on a miss. There's simply not a good reason for having an unused dictionary *in the base*. You're totally free to have one downstream if that makes sense.

Any tool looking a

[2016-02-19 11:56] GSPP commented on #2209
Maybe, the JIT can accelerate based on a well-known IL sequence instead of based on a method name. For example, the sequence

[code]

could be converted to bitcount everywhere, no matter where it is defined. There should be documentation specifying the exact patterns being accelerated. That way there is no need to define an intrinsic method in the framework assemblies at all. Each project that wan

[2016-02-19 12:11] stephentoub commented on #6239
I think David fixed this yesterday.

[2016-02-19 12:16] stephentoub opened #6240 "CentOS PR jobs failing with TraceSource FileNotFoundExceptions"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/centos7.1_debug_tst_prtest/2057/consoleFull
[code]
Some kind of packaging issue? Machine configuration?  We're only seeing this I believe on CentOS, and it seems to be happening on every run.
cc: @chcosta, @mmitche

[2016-02-19 12:18] stephentoub opened #6241 "FileSystemWatcher_Created_WatcherDoesntFollowSymLinkToFolder failed on OS X and Win10"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_tst_prtest/1052/console
[code]

[2016-02-19 12:19] stephentoub commented on #6153
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_tst_prtest/1052/console

[2016-02-19 12:27] stephentoub opened #6242 "Ubuntu builds failing in CI (lack of diskspace?)"
e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/nativecomp_ubuntu_debug/628/console
[code]
cc: @mmitche, @Priya91

[2016-02-19 12:28] stephentoub commented on #6235
@Raviuppa, after sync'ing to the latest in master and rebuilding, are you still seeing this?

[2016-02-19 12:31] Raviuppa commented on #6235
The issue is with yesterday’s morning sync.  I will clean it up and sync this morning again and let you know how this goes.

Thanks,
Ravi.

From: Stephen Toub [mailto:notifications@github.com]
Sent: Friday, February 19, 2016 6:29 AM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Ravi Uppaluru <raviuppa@microsoft.com>
Subject: Re: [corefx] On Ubuntu 14.04 CoreFX build hangs while Test Execution

[2016-02-19 12:48] shrutigarg commented on #6063
fixed all the issued here and moved one (changing internalException to some other exception) to #5617 as this was present when windows code introduced.. since InternalException is being used at so many other place, we would have to look at other instances too/

[2016-02-19 12:55] aelij commented on #1370
That's what I do in order to get the original method name. The downside is that it's compiler- and language-specific. Perhaps a long-term solution could be to have the compiler emit an attribute for the async state machine class that includes a string with the original method's signature. That way we could also print the full parameter list.

[2016-02-19 14:06] redknightlois commented on #2209
@GSPP the problem there is that you have to write an specialized morpher for such complex chains of calls (and all their variations) which cost resources in runtime, giving less time to the JIT to do the rest of the work. In AoT compilers you wont care, but in JIT compilers you have to be very careful about the time it takes to handle that. The use of a library call has the advantage that now ever

[2016-02-19 15:02] davidsh commented on #6239
Yes, I fixed this already.

[2016-02-19 15:02] #6239 closed

[2016-02-19 15:05] GSPP commented on #2209
@redknightlois If it is documented that only specific sequences will be supported, then shouldn't it be rather quick to check for them? This particular code that I posted starts with `(v & 0x55555555) + ...` which is very rare. This first check will almost always immediately fail and conserve performance.

I believe the JIT uses a tree format internally. This should be fast to match with that. In

[2016-02-19 16:13] joperezr commented on #6090
Cool, glad you have this working now. If that's resolved, I will close this issue. Feel free to reopen it if you start seeing this problem or log new ones.

[2016-02-19 16:13] #6090 closed

[2016-02-19 16:30] iamjasonp commented on #6239
Thanks for the quick response - I'll wait for the next nightly to verify this then.

[2016-02-19 16:39] SamuelEnglard commented on #6073
The processing is automatic and there are multiple "handlers" for selection. Some handle more than one item, this one doesn't. So I do silently do nothing. I could use `Count` but I don't care beyond 2, so it would be wasting cycles counting every item

[2016-02-19 16:40] stephentoub commented on #6242
@mmitche deleted the offending VMs.

[2016-02-19 16:40] #6242 closed

[2016-02-19 16:57] stephentoub commented on #6240
I've temporarily disabled the TextWriterTraceListener tests that were failing.

[2016-02-19 17:07] ayende commented on #2486
Can you explain a bit what is required to make this happen? We need this functionality, and want to know if we can contribute it.

Since Kesterl is how this is served on Linux, and since it is already working on Windows, I assume that there isn't something big that is missing right now.

[2016-02-19 17:27] tmat commented on #1370
We emit Async/IteratorStateMachineAttribute on the kickoff method that points to the state machine type.

We will the emit reverse mapping to Portable PDBs (I don't think we do that right now, but certainly will do so for ```dotnet cli``` release): https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/specs/PortablePdb-Metadata.md#StateMachineMethodTable

We do this stack cle

[2016-02-19 17:31] tmat commented on #1370
BTW, scripting has a dependency on the entire Roslyn compiler, which for most apps is overkill. I wonder if we should split the parts that don't actually need the compiler into a separate assembly that doesn't depend on anything other than SRM and immutable collections.

[2016-02-19 17:43] joelverhagen commented on #6231
The output with .NET Framework, with `Content-Length` and `ReadAsync` is:

<pre>
dnu restore && dnx run

Microsoft .NET Development Utility <b>Clr-x86-1.0.0-rc1-16231</b>

  CACHE https://dotnet.myget.org/F/dotnet-core/api/v3/index.json
  CACHE https://api.nuget.org/v3/index.json
Restoring packages for C:\trash\2016-02-18\EarlyCloseCoreclr\CloseTooEarly\CloseTooEarlyCore\project.json
Writing lock

[2016-02-19 17:43] cdmihai commented on #6220
I haven't noticed this issue so far, but I was also not paying special attention to incrementality when perusing the msbuild logs. I'll keep an eye for it.

@mellinoe Can you please open an issue in the msbuild repository with some small repro steps?

[2016-02-19 17:44] joelverhagen commented on #6231
The output with .NET Core, with `Content-Length` and `ReadAsync` is:

<pre>
dotnet restore && dotnet run

log  : Restoring packages for C:\trash\2016-02-18\EarlyCloseCoreclr\CloseTooEarly\CloseTooEarlyCore\project.json...
info : Committing restore...
log  : Restore completed in 1815ms.
NuGet Config files used:
    C:\trash\2016-02-18\EarlyCloseCoreclr\CloseTooEarly\CloseTooEarlyCore\NuGet.Config

[2016-02-19 17:57] chadbr commented on #5611
@NickCraver
Maybe I missed something - How would my DbColumn derived class be constructed? Through DI?

If that's the case, no issues then.

As for the DataTable discussion - I've read the other threads (I'm for keeping DataSet/DataTable/DataView by the way...)

[2016-02-19 18:08] joperezr commented on #6085
This is  work is now done.

[2016-02-19 18:08] #6085 closed

[2016-02-19 18:25] jonathanmarston commented on #2209
I'm not against the JIT pick up optimizations like this as long as it doesn't dramatically affect jitting time, but I'd personally like to use intrinsic methods instead. I don't want to have to copy and pase a supported bit counting algorithm, I just want to call a library method and be done.

Would it be best to have intrinsic methods (or extension methods) on the primitive integer types themselv

[2016-02-19 18:29] redknightlois commented on #2209
@GSPP While the check may be simple it introduce other problems. What would you do with a developer that just rearrange the operations to make them look nicer (nice can be symetrical or whatever). If you dont want to do that you need to write a complex morpher like the one built to pick up bits rotations (https://github.com/dotnet/coreclr/issues/1619). And even though that one was is quite simple,

[2016-02-19 18:44] CarolEidt commented on #2209
@jonathanmarston - It may be that I have missed something, but I am not aware of an implementation of 256-bit (or even 128-bit) popcount. The x86-64 version is 64-bits only (and, a bit oddly, defined using an SSE FLT encoding, although it operates on memory and general purpose registers). I kind of like the idea of supporting a broad range of numeric types, but I don't think that extending the pri

[2016-02-19 18:46] davidfowl commented on #2486
@ayende We have a websocket client here https://github.com/aspnet/WebSockets/ but we haven't looked into the what a websocket upgrade looks like using libcurl (maybe it just works?). Here's what we have today (it's only tests on .NET Framework):

Wire up the websocket prefixes:

https://github.com/aspnet/WebSockets/blob/dev/src/Microsoft.AspNetCore.WebSockets.Client/WebSocketClient.cs#L23

Create

[2016-02-19 19:02] ayende commented on #2486
Okay, so the current limitation is client side, right? Is there any issues
on the server side on Linux?

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Fri, Feb 19, 2016 at 8:47 PM, David Fowler <notifications@github.com>
wrote:

[2016-02-19 19:16] davidfowl commented on #2486
WebSockets isn't being shipped as 1.0 as part of the ASP.NET Core 1.0 release. Though others are using it and it seems to be working just fine :smile: . Do try it out and if you find any issues, contribute to the repo. https://github.com/aspnet/WebSockets/

/cc @benaadams

[2016-02-19 19:26] redknightlois commented on #2209
@CarolEidt the HW instruction is 64bits but extending that to support ```Vector<T>``` is straight-forward.

Wouldn't an extension method in the ```System.Numerics``` assembly suffice to 'extend' the primitive types?

[2016-02-19 19:30] benaadams commented on #2486
@ayende we've used the WebSockets middleware to send over 40 billion messages at an extremely high frequency; there are some issues; but if you are already handling reconnects - the biggest of which is probably a noisy log file https://github.com/aspnet/WebSockets/issues/63

[2016-02-19 19:32] Raviuppa commented on #6235
Synced again this morning and the build is success. Thank you @stephentoub.

[2016-02-19 19:32] #6235 closed

[2016-02-19 19:33] ayende commented on #2486
Yes, we are using this as well, and I wanted to verify that the current
limitation on Linux was just plugging libcurl properly

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Fri, Feb 19, 2016 at 9:30 PM, Ben Adams <notifications@github.com> wrote:

[2016-02-19 19:33] stephentoub commented on #6235
Thanks for confirming.

[2016-02-19 19:35] Tratcher commented on #2486
@davidfowl We've never even prototyped a way to do an opaque upgrade via HttpClient. I have a few ideas, but you can't just use the Stream from StreamContent because it gives you a restricted wrapper.

[2016-02-19 19:42] ayende commented on #2486
From my perspective, if there is a problem with libcurl, we can just fall
back to a completely managed impl.
Such as starting from here:
https://github.com/sta/websocket-sharp/tree/master/websocket-sharp

The stumbling block is the server, so I'm pretty happy, even if libcurl
proves problematic.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l

[2016-02-19 19:42] CarolEidt commented on #2209
The problem with putting an extension method on a class in the `System.Numerics` assembly is that it is part of the "core", and would be dependent on a simultaneous update of the JIT and library on the desktop version. Perhaps that not a big issue. @mellinoe can you comment on that?

[2016-02-19 19:43] redknightlois commented on #2209
@CarolEidt BTW just for context. If you know the size of the ```Vector<T>``` for the case of popcount you can provide hand-coded assembly performance (which probably would require a morpher to do properly in "client code") using something like this:

[code]

Which bypasses a false dependency bug in Intel HW.

A very detailed analysis of this particular issue can be found at: http://danluu.com/asse

[2016-02-19 19:45] justinvp commented on #1316
This can be closed. Fixed by #6181.

[2016-02-19 19:47] #1316 closed

[2016-02-19 20:04] jgowdy commented on #6039
@omariom You can simulate pwrite on Windows by using WriteFile with an OVERLAPPED structure with hEvent set to 0, and the 64bit file pointer set via Offset and OffsetHigh.

[2016-02-19 20:11] stephentoub opened #6251 "ArgumentExceptions constructed with wrong message / name"
A quick search of the codebase shows more than 20 call sites where an ArgumentException is constructed with the pattern:
[code]
Each of these is almost certainly a bug, as the first argument to ArgumentException's ctor is unfortunately not the parameter name but rather the message... the second argument is the parameter name.

[2016-02-19 21:12] stephentoub commented on #6218
The volume of these went away with #6237.

[2016-02-19 21:12] #6218 closed

[2016-02-19 22:23] ClintBailiff commented on #2089
I came up with a solution for authenticating against Active Directory in a .NET Core rc1 web application.  You just have to override the CheckPasswordAsync method in the UserManager class.  Let me know what you think.

Add a class file in the Services folder.  I named mine ActiveDirectoryAuth.cs.
Add the code below to the class file.

[code]

Then open the Startup.cs file.  Add .AddUserManager<App

[2016-02-19 22:25] davidsh commented on #6011
cc: @stephentoub
Based on the information provided, it appears that your corporate network is using a proxy and that proxy is discovered via WPAD "Automatically detect settings".  That results in a PAC file being declared.  Retrieving the PAC file is specified with a URL.  And post Windows 7 and also latest versions of .NET Framework as well, PAC file URLs can only be HTTP, HTTPS based.  Support f

[2016-02-19 22:31] #5976 closed

[2016-02-19 22:36] stephentoub opened #6255 "SendReceive_PartialMessage_Success failed on Windows in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/2534/consoleFull
[code]

[2016-02-19 22:42] davidsh commented on #6255
`System.Net.Http.WinHttpException : The server returned an invalid or unrecognized response`

Looks like a transient Azure error

[2016-02-19 23:41] Clockwork-Muse commented on #6251
@stephentoub - I can do this.

[2016-02-19 23:41] mellinoe commented on #2209
I think we'll have the same "timing issue" wherever we ship the library, since the desktop framework will need a new JIT to recognize the methhod regardless of where it is. Right now, the static `Vector` class is implemented in System.Numerics.Vectors on all platforms, including .NET Framework, so if we were going to include it with the rest of the SIMD support, that is where it would go, and it w

[2016-02-19 23:47] huronbikes commented on #6251
@Clockwork-Muse I was considering doing this one as a quick tour of the Corefx repo...

[2016-02-19 23:53] gregg-miskelly opened #6258 "Infinite loop in dynamic dispatch code when calling through contravariant delegate"
When upgrading from 23803 to 23818 of System.Linq.Expression.dll we are now seeing an infinite loop in the dynamic dispatch code. I have not been able to come up with a minimal repro that I can attach to this bug, but I have a trivial one that I can email anyone who wants it. In the bug we are calling into a delegate of type Action<... my-class>, and the target of the delegate uses an interface fo

[2016-02-20 00:04] stephentoub commented on #5234
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_debug_tst_prtest/2063/console

[2016-02-20 00:05] #2844 closed

[2016-02-20 00:07] stephentoub commented on #6258
cc: @VSadov, @JonHanna

[2016-02-20 00:59] JonHanna commented on #6258
Could you put that trivial repro into a gist?

[2016-02-20 01:06] gregg-miskelly commented on #6258
I sent it to @VSadov. The repro contains some software that I am not allowed to release outside of Microsoft quite yet (I couldn't figure out how to come up with a totally stand alone repro, so it contains all of the code for the project I am working on). VSadov may be able to figure out what bits actually matter.

[2016-02-20 01:17] JonHanna commented on #6258
In that case you won't be able to email it to me anyway. Is it that the delegate is dynamic, the call, or both?

[2016-02-20 02:50] gregg-miskelly commented on #6258
The delegate has this signature:
Action<string, dynamic, MyClass>
The function that is the target of the delegate has this signature:
(string, dynamic, IInterface)
Where MyClass derives from IInterface

[2016-02-20 03:10] #1000 closed

[2016-02-20 03:10] #4872 closed

[2016-02-20 03:15] Clockwork-Muse opened #6266 "System.Private.Uri lacks a solution file"
...I'm not sure if this is deliberate, or what else may be going on here (given the local `pkg` directory).
A quick search didn't appear to have the project/directory included in anything else.

[2016-02-20 03:25] VSadov commented on #6258
Here is a small attempt to repro that I could infer from the binaries.
I did not try to repro on actual CoreFx, but I think it will repro.

I think the issue here is that we've added an optimization based on incorrect assertion that if static Expr type is sealed it is guaranteed to have values of only that type.
That is inaccurate because of delegate variance. Delegate types are sealed but could y

[2016-02-20 04:58] ellismg opened #6268 "PostNonRewindableContentUsingAuth_NoPreAuthenticate_ThrowsInvalidOperationException failed in CI"
See the failure [here](http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_debug_tst_prtest/2123/testReport/junit/System.Net.Http.Functional.Tests/PostScenarioTest/PostNonRewindableContentUsingAuth_NoPreAuthenticate_ThrowsInvalidOperationException_serverUri__http___corefx_net_cloudapp_net_Echo_ashx_auth_basic_user_user1_password_password1_/).  Maybe this is due to a network hiccup?

[2016-02-20 05:59] Clockwork-Muse commented on #6251
@huronbikes - err, sorry.

[2016-02-20 06:49] Konard commented on #4636
Ok.. But when it will be published as a nuget package?

[2016-02-20 06:57] eadordzhiev commented on #6177
Please, don't remove the spaces, it will be totally unreadable then. In some some regional format, such as Russian, the comma is the decimal mark and it would be impossible to distinguish the decimal mark and the member separator. The semicolon and a space after would be the best option, IMHO.

[2016-02-20 11:25] JonHanna commented on #6258
You're correct about the incorrect assumption, except it wasn't so much added as believed.

The assumption was in there from when the project was first added to corefx (you can see this in .NET 4.6, but if experimenting don't have the delegate in a `ConstantExpression` as that takes a different path), but would only result in false positives. When d5e3d82 fixed a different false assumption about n

[2016-02-20 11:29] JonHanna commented on #6258
Example test on .NET 4.6 (hence unaffectd by d5e3d82).

[code]

[2016-02-20 12:14] stephentoub commented on #4636
https://dotnet.myget.org/gallery/dotnet-core

[2016-02-20 12:30] stephentoub commented on #6268
That's what I thought initially, too, but no, I caused this with #6250, and I have a fix out in #6269.  While wrapping some exceptions in IOExceptions to store them into the tasks returned from Stream.Read/WriteAsync, I wrapped one too many, including one that's only consumed internally by CurlHandler.  For exceptions other than those emerging from Stream, CurlHandler has logic based on WinHttpHan

[2016-02-20 18:23] galich commented on #6009
it's causing grief here https://github.com/aspnet/EntityFramework/issues/4610
fix would be really appreciated

[2016-02-20 18:28] VSadov commented on #6258
Yes. I agree that original code also had this issue just manifested in another way - false positives vs. negatives.
I wonder if it is ok from compat prospective to fix the original bug though.

[2016-02-20 19:02] jkotas opened #6276 "Add System.Runtime.InteropServices.Architecture.Arm64"
Title says it all. Arm64 is inevitable. There is no reason for dragging our feet to add the enum value for it.

[2016-02-20 19:25] benaadams commented on #6276
Timing!

I was just looking to see if I could set up ASP.NET Core on a 950 XL which is Arm64 :)

[2016-02-20 19:27] stephentoub commented on #6276
+1

[2016-02-20 19:30] benaadams commented on #6276
Don't know what mode the O/S is in though...

[2016-02-20 21:53] JonHanna commented on #6266
It is indeed; https://github.com/dotnet/corefx/blob/master/src/System.Runtime/System.Runtime.sln#L16

[2016-02-20 21:59] davidsh commented on #6266
We don't intend to add a solution for this at this point in time.

[2016-02-20 23:39] #6266 closed

[2016-02-20 23:57] JonHanna commented on #6258
That certainly occurred to me when I looked at this. In particular the thought that I could "fix" it, and not actually fix @gregg-miskelly's issue in doing so did. I'm keen to hear that my repro is representative and it really is fixed.

I have a backward compatibility branch in my local repository that has the old behaviour, if necessary.

Note that the light compiler does not use `ReduceTypeEqua

[2016-02-21 00:39] JonHanna commented on #4411
I wonder if it would be worth special-casing `Interlocked`. On the one hand it wouldn't be rare to have entire projects where the only calls that required such atomic behaviour were calls to `Interlocked` methods. On the other, it could feel rather arbitrary to someone who really needs an atomic call to another method, and particularly frustrating if they'd taken pains to make their own such metho

[2016-02-21 01:23] 304NotModified commented on #1797
@noahfalk thanks for the update.

As this is an "up for grabs", can someone point us in the right direction how this can be implemented? Is the source in [Stacktrace.cs in coreclr/mscorlib](https://github.com/dotnet/coreclr/blob/77374b2d56441e924d0340a0c3da04e19a3d53dc/src/mscorlib/src/System/Diagnostics/Stacktrace.cs) as good start?

[2016-02-21 02:34] ellismg opened #6279 "MemoryMappedFileTests_CreateFromFile.TooLargeCapacity failing on RedHat 7.2"
This fails all the time, see http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/rhel7.2_debug/

[code]

[2016-02-21 02:50] ellismg commented on #4261
I tried this today and things were working.

[2016-02-21 02:50] #4261 closed

[2016-02-21 02:53] ellismg commented on #3128
This has been fixed as part of the move to MSBuild on .NET Core.

[2016-02-21 02:53] #3128 closed

[2016-02-21 02:54] ellismg commented on #4654
The CI builders have been upgraded to 10.11 and a PR is open to update our table.

[2016-02-21 02:54] #4654 closed

[2016-02-21 02:55] ellismg commented on #5566
We have Rolling builds now for RHEL 7.2 and a PR has been opened to add badges to our README.md.  These runs can also be triggered on demand for PRs if folks need them (we continue to do CentOS per PR).

[2016-02-21 02:55] #5566 closed

[2016-02-21 03:23] davidsh commented on #6122
@lukasz-pyrzyk Hello, can you provide a solution to repro this issue?  Thx.

[2016-02-21 03:27] davidsh commented on #4934
It has been determined by the WinHTTP team that the IOException is being caused by a bug/race condition in native WinHTTP.  There is no current workaround. Even ignoring the error from WinHttpWriteData() will not allow a subsequent WinHttpReceiveResponse() to work, despite the response headers actually being transmitted on the wire from the server to the client.

So, the fix for this will require

[2016-02-21 08:42] andschwa commented on #5902
@stephentoub Any movement on this? It makes self hosting a bit of a pain.

[2016-02-21 09:13] hughbe opened #6283 "Some ArgumentNullExceptions pass the message as the parameter name"
Several thrown argument null exceptions pass the message as the parameter name, resulting in some weird behaviour.

I put a fix for this over at coreclr (most of the ones I found are not included in corefx, e.g. stringBuilder)

[2016-02-21 09:13] hughbe commented on #6283
https://github.com/dotnet/coreclr/pull/2889 Whoops I forgot the URL

[2016-02-21 09:47] ayende commented on #2486
I tried getting started on this, but it seems like the CLI is currently badly broken (see: https://github.com/aspnet/cli-samples/issues/15).
Couldn't get even the samples to work

[2016-02-21 11:41] DinisCruz commented on #1624
@metzgithub is the best one here, since it allows for proper simulation of the behaviour of the target service.

It is exactly what I was looking for since it gives me the perfect place to put 'mal-formed/malicious' data (for security and non-happy-path tests)

[2016-02-21 12:55] christiannagel commented on #5940
just refreshing this thread to see if something can be done for compilation errors instead of runtime exceptions

[2016-02-21 13:47] stephentoub commented on #5902
This is assigned to @pallavit.

[2016-02-21 14:06] #6268 closed

[2016-02-21 19:02] svick commented on #6162
From #6284:

Actually, I believe there are:

That's called [combination](https://en.wikipedia.org/wiki/Combination).

That's [partial permutation](https://en.wikipedia.org/wiki/Partial_permutation).

That's combination with repetition.

That's permutation with repetition.

[2016-02-21 19:25] varocarbas commented on #6162
@svick Thanks for the info.

Honestly, I don't have any strong preference with the name. As said in the other thread to @JonHanna, I started this development as permutations with some practically-useful (and easy to deliver by the algorithm) extensions.

Note that the whole point of all my answers there was explaining the reason why I chose  "permutations" (i.e., almost-intuitively assuming that i

[2016-02-21 20:01] hughbe opened #6286 "Cleanup System.Runtime.Tests"
This is a meta-issue to track progress on cleaning up System.Runtime.Tests. I dumped a massive PR (#5490) which I'm splitting up into smaller ones
The following test files should be cleaned up, to add additional coverage, and follow test guidelines better:

- [x] String (#6296)
- [x] StringBuilder (#6295)
- [ ] Number primitives: byte, int, long etc.
- [ ] Floating primitives: float, double
- [x]

[2016-02-21 20:02] hughbe commented on #6286
Please mark as grabbed by community to prevent duplication of work

[2016-02-21 20:13] ellismg commented on #5349
Done.

[2016-02-21 20:13] #5349 closed

[2016-02-21 23:13] davidsh commented on #6180
@ballm Can you please post some Visual Studio solution with repro code? Also, can you share any timings that you have measured between what you see with .NET Core vs. .NET Framework.

[2016-02-21 23:14] davidsh commented on #6142
@KKhurin Can you please post repro instructions? Thx.

[2016-02-21 23:48] hughbe commented on #6286
@stephentoub I've sent in 8 PRs for this. I don't want to spam your pull requests page so I'm going to hold off until some of those are reviewed and merged ;)

[2016-02-22 01:29] stephentoub commented on #6279
I'm not sure what to do about this one.  The test is trying to set the size of the map to long.MaxValue and is expecting it'll fail because that's larger than the biggest possible file size.  But on RHEL, it's succeeding, and querying the length subsequently with fstat reports the file's size is 9,223,372,036,854,775,807 bytes... unless we've made some serious upgrades to our VMs, that seems, um,

[2016-02-22 01:34] ellismg commented on #6279
I wonder if there is just a bug in the underlying OS libraries?

[2016-02-22 02:03] stephentoub opened #6302 "PublicKeyTests.TestKey_RSA failure on Unix in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/centos7.1_release_tst_prtest/1959/console

[code]

[2016-02-22 02:03] #6231 closed

[2016-02-22 02:35] noahfalk commented on #1797
@304NotModified - I'll trust you are aware that the stack trace makes no guarantee you will get the immediate caller frame. Optimizations can remove those frames from the stack. Also on AOT you might get the right method but be unable to resolve its name at runtime. CallerTypeName would put you on much sounder footing if/when it becomes available.

I think these would be the next steps for that co

[2016-02-22 03:24] stephentoub commented on #6279
It looks like the issue is that ftruncate is essentially creating a sparse file.  You can see this with a simple little C program:
[code]
The file created then has a large size but 0 blocks associated with it:
[code]
It looks like we could address this by having FileStream.SetLength use ```posix_fallocate```.  But I'm not sure we really want to force all of the space to be allocated... we may simp

[2016-02-22 06:06] #6279 closed

[2016-02-22 07:21] ellismg opened #6306 "System.Net.Sockets.APMServer.Tests Hang on OSX in CI"
The [test run hung](http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/1251/console) and the job was aborted.

22:43:45 ./run-test.sh: line 131:   529 Terminated: 15          ./corerun xunit.console.netcore.exe $testDllName -xml testResults.xml -notrait category=failing -notrait category=OuterLoop -notrait category=$xunitOSCategory -notrait Benchmark=true
22:43:45 error: One

[2016-02-22 09:11] markvincze commented on #4631
Thanks a lot @PeteX and @thmulvany!

On thing I had to modify: I don't know why, but on my system the coreclr binaries reside in `/opt/runtimes/dnx-coreclr-linux-x64.1.0.0-rc1-update1/bin/` instead of `/opt/DNX_BRANCH/runtimes/dnx-coreclr-linux-x64.1.0.0-rc1-update1/bin/`, so I needed to add the following line to my Dockerfile:

    COPY ./System.Native.so /opt/runtimes/dnx-coreclr-linux-x64.1.0.0

[2016-02-22 11:11] varocarbas opened #6308 "Additional overloads in some System.Math methods to support more types"
NOTE: I wrote a first ticket in CoreCLR (https://github.com/dotnet/coreclr/issues/3204), even did a PR for `int.Round` (https://github.com/dotnet/coreclr/pull/3232); but I have been suggested to move it here. For the time being, I will keep some additional comments in that CoreCLR issue, so you might want to take a look there.

`Math.Round` can only deal with `decimal` and `double` arguments, what

[2016-02-22 13:37] onovotny commented on #5955
Can we please re-open this? @terrajobst The System.Net.Http library does not appear to have Xamarin support yet.

I'm looking at the 4.0.1-rc3-23822 from the dotnet-core nuget feed.

[2016-02-22 13:50] onovotny commented on #2576
Ping? I can see that the latest System.Threading.Thread package in the dotnet-core NuGet feed hasn't changed this picture.

[2016-02-22 14:17] stephentoub opened #6309 "RunAsyncTaskAwaiterTests failed in OuterLoop CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win10_debug/97/consoleFull
[code]

[2016-02-22 16:36] stephentoub commented on #6306
We've been hitting this a fair bit, especially on OS X.  I believe it's the same as https://github.com/dotnet/corefx/issues/6218, just not as frequent.

[2016-02-22 16:37] stephentoub commented on #2336
@hughbe, each time we merge one of your changes, this issue gets closed, because your PR/commit messages all state that it fixes 2336.

[2016-02-22 16:37] GuardRex commented on #5540
@weshaggard I see in the list above a duplicate type problem that I'm facing myself. I'm using `ICryptoTransform` with Data Protection for some encryption/decryption. I brought in `"dotnet-test-xunit": "1.0.0-dev-45337-57"` to do some testing with new xUnit bits ... :boom:.
[code]
I can provide a repro if you like (or `project.lock.json`). If you have any kind of workaround, that would be great. T

[2016-02-22 16:38] stephentoub opened #6311 "DnsEndPointTest.Socket_StaticConnectAsync_HostNotFound timed out in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/rhel7.2_debug_tst/38/console
[code]

[2016-02-22 16:48] bartonjs commented on #2103
@ellismg Unless you think it would make the tests pointlessly soft, I was thinking that it should just be more forgiving, e.g.

[code]

Any time that it's important where we distinguish the "right" answer could still be done; and if it just matters that it be internally consistent, that's also possible to codify as a separate test.

[2016-02-22 16:50] ericstj commented on #5955
I'll fix this.  The list of supported packages was created originally by the file lists from the targeting pack and a list shared by @mhutch.

[2016-02-22 16:51] hughbe commented on #2336
whoops sorry, i'll make sure not to say that each time

[2016-02-22 17:07] joperezr commented on #6220
@mellinoe Should we close the issue in corefx since looks like the problem is MSBuild and you already logged an issue in their repo for it?

[2016-02-22 17:25] onovotny commented on #5955
Thanks Eric! Is there an easy way to check the rest of the BCL packages to ensure the supported packages list is accurate?

[2016-02-22 18:02] kwaclaw commented on #2949
We follow an architecture pattern where transactional boundaries are determined in the business logic layer, not the data access layer. Since the business layer is not aware of database connections, we cannot use connection based transaction APIs. As long as TransactionScope is not available in .NET Core we will have not choice but to stay with classic .NET.

[2016-02-22 18:05] pallavit commented on #5902
@andschwa I have not had a chance to look at this yet as I have been busy with some feature work. I will try to get to this ASAP.

[2016-02-22 18:06] redknightlois commented on #2209
@mellinoe we can still hide it a little bit. Instead of using the System.Numerics use something like ```System.Numerics.Intrisics```, ```System.Numeric.Binary``` or even ```System.Intrinsics``` (or something along the lines). It wont show up for ```System.Numerics``` normal use case, but being available for use against fundamental types as an extension method. We can look into the rationale on Jav

[2016-02-22 18:10] ghost opened #6312 "[Apline] Need a better approach to fix CMSG_NXTHDR on Alpine Linux (musl-libc)"
The current master ([`5b793bc`](https://github.com/dotnet/corefx/tree/5b793bc735d6a63b7f4be466df3351008b27a426)) breaks the native build (`corefx/build.sh native`) at 70% on Alpine Linux with the following error:

[code]

Code comparison between glibc and musl-libc:
- musl-libc: https://fossies.org/dox/musl-1.1.14/include_2sys_2socket_8h.html#a4f70853d9633fb80428189cd7bb292d0 (click on `__CMSG_NEX

[2016-02-22 18:12] bartonjs opened #6313 "Is DateTimeFormatInfo.ReadOnly(readonlyDtfi) sameness guaranteed?"
In reviewing the test refactoring for DateTimeFormatInfo, I was about to ask if the test for ReadOnly should be asserting NotSame, Same, or a contextual-version thereof.

MSDN doesn't describe; I can certainly see what the implementation does; but the question is: "is the sameness guaranteed?"  If so, we should test it.  If we guarantee it's a copy when !IsReadOnly then we should assert NotSame, a

[2016-02-22 18:14] ericstj commented on #5955
Accuracy here is what Xamarin tells us they want to support so it will require a review.  One part that doesn't require review is consistency with the existing FileLists from their targeting packs, so I will make sure we have at least consistency there.

[2016-02-22 18:24] stephentoub opened #6314 "FSW.EnableRaisingEvents test failed due to too many inotify handles"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/rhel7.2_release_tst/39/console
[code]

[2016-02-22 18:28] bartonjs opened #6315 "new Guid(byte[]) should explicitly test byte ordering"
The only tests for the byte array ctor for Guid use Guid.ToByteArray and round-trip the value.  While this is good (proving we read what we write), there is an order to that input byte array, and we should verify it against a static array / static GUID.

[2016-02-22 18:41] mellinoe commented on #6220
@joperezr I'm going to leave it for now, at least until we know the real root cause. Perhaps there is some issue in our targets files that we will eventually need to fix which is only breaking CoreCLR MSBuild. It looks unlikely, but still possible. And the issue can serve as a marker for others who hit this.

[2016-02-22 18:48] onovotny commented on #5955
I just checked my reference assms dir and the FrameworkList.xml in those directories is essentially blank :(

[2016-02-22 19:01] andschwa commented on #5902
Just checking, thanks guys!

[2016-02-22 19:31] mellinoe commented on #6276
See also https://github.com/dotnet/corefx/issues/6230

[2016-02-22 19:41] hughbe opened #6316 "Guid.TryParseExact throws FormatException for certain inputs"
## TryParseExact with hex specifier "X" or TryParse
- `Guid.TryParseExact(input, "X")`
- `Guid.TryParse(input)`

The following values of `input` throw a FormatException:
- `{0xdddddddd, 0xdddd, 0xdddd,{0xdd,0xdd,0xdd,0xdd,0xdd,0xdd,0xdd,0xdd,0xdd}}`
- `{0xdddddddd, 0xdddd, 0xdddd,{0xdd0xdd,0xdd,0xdd,0xdd,0xdd,0xdd,0xdd}}`
- `{0xdddddddd, 0xdddd, 0xdddd,{0xdd,0xdd,0xdd0xdd,0xdd,0xdd,0xdd,0xdd}}`
-

[2016-02-22 19:50] ericstj commented on #5955
They list all the framework assemblies in the redist list for the lowest version of the framework.

[2016-02-22 19:54] Priya91 commented on #6276
Also #4384

[2016-02-22 20:53] #6258 closed

[2016-02-22 20:58] cesarbs commented on #5045
@davidsh Did you or someone in your team get a chance to look at the repro I provided?

[2016-02-22 21:05] #6309 closed

[2016-02-22 21:06] JohanLarsson opened #6318 "What about adding a ConcurrentSet<T>?"
The need for it comes up every now and then. To me it would make sense next to `ConcurrentDictionary<TKey, TValue>`

[2016-02-22 21:27] mellinoe commented on #6308
Could you flesh out the proposal a bit more with some specifics? We'd like to see the exact methods (with names, signatures, etc.) being proposed, as well as some usage examples. Contrasting it with the existing methods (in code) will also be helpful to demonstrate the value being added. These don't need to be set-in-stone, final proposals; preliminary ideas are fine, and we can refine them as we

[2016-02-22 21:38] varocarbas commented on #6308
@mellinoe OK. Tomorrow, I will write a more detailed post about all these methods.

[2016-02-22 22:08] Priya91 commented on #6276
API approved in email.

cc @terrajobst

[2016-02-22 22:14] terrajobst commented on #6276
Discussed offline. We don't see a problem with exposing this.

@weshaggard I assume we can't add this enum to .NET Framework at this point.

[2016-02-22 22:18] Priya91 commented on #6276
@terrajobst This assembly is OOB and hasn't shipped a stable version yet. This can be in RTM.

[2016-02-22 22:36] mellinoe opened #6321 "TaskAwaiterTests.OnCompleted_CompletesInAnotherTaskScheduler failed in CI"
It looks like a few of these new test cases hit some issue on an OSX release run:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_tst_prtest/1222/

Four of the six test cases failed, but the other two passed. It looks like it's intermittent as other recent runs have succeeded.

The assertion hit is on line 114, and indicates that the task wasn't run on the other scheduler, when it