[2017-04-05 06:38] #16956 closed

[2017-04-05 06:39] danmosemsft commented on #16744
@samirparekh  are you interested in making such a PR as suggested above?

[2017-04-05 06:42] danmosemsft commented on #16022
This should be working now I thought

[2017-04-05 06:44] danmosemsft commented on #17434
@asperheim did you get a chance to look?

[2017-04-05 06:46] danmosemsft commented on #17401
@AronParker is your question answered? if so feel free to close now.

[2017-04-05 06:47] danmosemsft commented on #17164
Ping @stephentoub  :)

[2017-04-05 06:56] Pothulapati commented on #17917
I will Grab this, It's just deleting ref's and some code, Nothing to Code. Right?

[2017-04-05 07:00] safern commented on #17917
Hi @Pothulapati thanks for willing to contribute. You'll need to accept an invitation to collaborate so that we can assign it to you. I will assign it to myself meanwhile but now this issue is yours :) feel free to start working on it.

How do we send the invitation? @karelz @danmosemsft

[2017-04-05 07:06] jkotas commented on #17905
I have taken a cursory look at the diffs. There is way too much noise in them - it was hard for me to find anything easy and actionable. Can we filter the noise from the diffs (consts, private parameterless constructors, ...) so that it has just the easy actionable items?

[2017-04-05 07:09] ericstj commented on #17905
You can open up the CSVs and apply whatever filter you like.

[2017-04-05 07:10] danmosemsft commented on #17905
It would be nice to fiddle with the master CSV to see what code in /src/common is actually dead.

[2017-04-05 07:15] karelz commented on #17917
Invitation sent - ping us when you accept @Pothulapati.

Thanks @safern, I appreciate you giving it up for the greater good ;-)

[2017-04-05 07:23] karelz commented on #17935
cc @mairaw if we have any pages we can link to
cc @leecow @ericstj @weshaggard - where do we fill the docs? During publishing I assume. And we can change it for existing packages (@ericstj pointed me to the instructions recently AFAIK)

[2017-04-05 07:25] Pothulapati commented on #17917
Accepted The Invitation. Looking forward to the Issue.

[2017-04-05 07:29] safern commented on #17917
@Pothulapati the issue is assigned to you. You can start working on it!

If you have any questions please feel free to ask them here. Hope you enjoy contributing!

Thanks @karelz

[2017-04-05 07:38] danmosemsft commented on #17905
@erozenfeld I may be missing something here. it says in http://tempcoverage.blob.core.windows.net/report2/System.Reflection.DispatchProxy.diff.html that `EventAccessorInfo.InterfaceRaiseMethod` is dead, but it is set in the constructor, which is itself not dead.
https://github.com/dotnet/corefx/blob/master/src/System.Reflection.DispatchProxy/src/System/Reflection/DispatchProxyGenerator.cs#L919

[2017-04-05 07:41] karelz commented on #17905
removing up-for-grabs and easy, I don't think it is ready (feel free to change if you think I am wrong)

[2017-04-05 07:48] danmosemsft commented on #17905
I don't see how it's not ready, the instructions are pretty clear... i think it is a good introduction of a sort. Anyway, vendor folk will start on it. I already did some and checked off many that are already clean.

[2017-04-05 07:50] karelz commented on #16510
Next step: Change the test as described [above](https://github.com/dotnet/corefx/issues/16510#issuecomment-288839373) - pass it in such case. Verify it works in both scenarios - when you have access and when you don't.

Should be easy (the "tricky" part will be to reproduce the dirty environment).

[2017-04-05 07:58] karelz commented on #14625
@AlexGhiondea what is the solution? Bump it to 10K? Or did you have something more sophisticated in mind?

[2017-04-05 08:02] karelz commented on #4002
Next step:
Change the 4 tests (search the code base for their name) - replace localhost with www.microsoft.com:
[code]

[2017-04-05 08:05] danmosemsft commented on #17905
Something else it incorrectly marks dead: strings that are loaded at runtime via SR.GetResourceString("..."). Unfortunately there are still some eg `return SR.GetResourceString("PropertyCategory" + value, null);`

[2017-04-05 08:06] karelz commented on #17905
From skimming the thread it looked like there is concern of noise. Again, I don't feel strongly - feel free to flip it back ;-)

[2017-04-05 08:07] danmosemsft commented on #17905
It's fine :)

[2017-04-05 08:08] karelz commented on #16836
@AtsushiKan are you working on it? If yes, please assign it to yourself.

[2017-04-05 08:09] karelz commented on #16836
This should be fairly simple by following similar pattern in https://github.com/dotnet/corefx/pull/16996

[2017-04-05 08:12] karelz commented on #17534
Added another good start for new contributors: query with "[add new tests](https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3Aup-for-grabs%20label%3A%22test%20enhancement%22)" issues

[2017-04-05 08:13] janvorli commented on #14614
@danmosemsft no, it is not. This seems like something that would need to be handled on the managed side of things.

[2017-04-05 08:22] karelz commented on #17051
This should be fairly straightforward and somewhat fun with generics - see example of exposing API in #16996

[2017-04-05 08:23] karelz commented on #17118
Marking as 'easy' (for new contributors) - @shiftylogic please adjust if you disagree.

[2017-04-05 08:39] edwardmeng opened #17943 "The ConstructorBuilder and MethodBuilder generated parameter should not has default value by default."
The HasDefaultValue of parameters should be false by default, for the constructors and methods generated from System.Reflection.Emit.ConstructorBuilder and System.Reflection.Emit.MethodBuilder. But actually the HasDefaultValue of the parameters are true. It means the emitter generates parameter default values as null unexpected. The sample code as following:
`var builder = AppDomain.CurrentDomain.

[2017-04-05 08:42] karelz commented on #7129
@bartonjs FYI: What I do is just insert text above the original report and add a heading to it `## Original report` ... that way it doesn't feel as hijacking someone's work ;-)

[2017-04-05 08:42] edwardmeng commented on #17943
It can cause some wired behaviors for the Autofac integrating with DynamicProxy2 when the dependency is not registered. Since there is a class just make use of it.
https://github.com/autofac/Autofac/blob/41044d7d1a4fa277c628021537d5a12016137c3b/src/Autofac/Core/Activators/Reflection/DefaultValueParameter.cs

[2017-04-05 08:44] karelz commented on #8947
Is it interesting for 2.0? If not why?

[2017-04-05 08:49] mairaw commented on #17935
I'm not aware of any pages we can link to that already exist. @rpetrusha do you know?

[2017-04-05 08:51] karelz commented on #17564
Backporting to release/1.x sounds reasonable.
@weshaggard @ericstj what's your guidance?

cc @danmosemsft @leecow @vancem

[2017-04-05 08:59] karelz commented on #16766
This should be fairly simple. Check the new error code/exception - we might need to make it compatible with today's exception (find out what the new one is on Windows/Linux/Mac and discuss the plan here)

[2017-04-05 08:59] devatwork commented on #14897
I ran the .net core test client on Linux (1.1.1-runtime docker image) connecting to the web application running on Windows and it does not fail at all. So the behavior is different on each platform/runtime combination.

Although the root cause is on the server side, IMHO the clients should consistently report that the server returned a malformed HTTP 1.1 response. I'm interested to understand whet

[2017-04-05 09:00] karelz commented on #16766
@JeremyKuhne I unassigned you, as I don't think you are working on it ... please change it if it was incorrect.

[2017-04-05 09:03] karelz commented on #11299
Should be easy to do - we may need to provide extra help with retargetting if needed.

[2017-04-05 09:12] svick commented on #17935
I think the main problem here is that `System.Threading.Tasks.Extensions` is a *package*, but [the API reference](https://docs.microsoft.com/en-us/dotnet/core/api/) is organized by *namespace*. It would be nice if each package had its own page in the documentation, where the Project Link on NuGet could lead.

Another issue is that the API reference has no documentation for `ValueTask` (currently t

[2017-04-05 10:31] markrendle commented on #4721
Suggestion: if there are issues with breaking unification with Desktop by changing an existing class, that might make this a good opportunity to introduce a completely new set of classes using the more-correct `Tls` prefix instead of `Ssl`.

[2017-04-05 11:13] stephentoub commented on #17591
The "quickly" portion isn't really important.  We can raise the timeout.

[2017-04-05 11:15] #17857 closed

[2017-04-05 11:17] Pothulapati commented on #17917
@safern Forked The Repo, When i try to build the repo.
I get
`C:\Users\Tarun\Source\Repos\corefx\Tools\DOTNET~1\dotnet.tar - The process cannot access the file because it is being used by another process.
Installing dotnet cli...`

and it is running from a lot of time as the download speeds are very slow from `https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/1.0.0-preview2-1-003182/

[2017-04-05 11:28] AronParker commented on #17401
@danmosemsft Yes, sorry and thanks for the insights!

[2017-04-05 11:28] #17401 closed

[2017-04-05 11:57] stephentoub commented on #14614
It would be relevant if we decide to build/ship a libcurl:
https://github.com/dotnet/corefx/issues/17647
In that case, it'll be new enough to have this option.

We can't implement this on the managed side of things; that's something that could only be done in libcurl's implementation.  However, we could choose to ignore the error the comes back from libcurl in this case, and just make it a nop.

[2017-04-05 12:07] stephentoub commented on #17164
I don't.  I was going to say that we'd have an issue with Impersonate, in that on desktop the impersonation information is associated with the current ExecutionContext, and that's not the case in coreclr/corefx.  But on second thought I realized we have the same problem with RunImpersonated: even though it's scoped due to taking an Action or a Func that's what's run while impersonated, the body of

[2017-04-05 12:19] janvorli commented on #14614
@stephentoub

That's what I meant by handling on the managed side.

[2017-04-05 12:23] MaximRouiller commented on #17534
Wow... thank you @karelz. Didn't know that my two small blog posts would trigger an avalanche of actionable items. 😮

[2017-04-05 12:27] onovotny commented on #12070
Yes, seems to fix it.

[2017-04-05 12:46] Vertygo commented on #3850
Can I take this one?

[2017-04-05 13:59] maciek12305 commented on #14762
@karelz We've a monitoring software for cloud machines in asp.net that depends on System.Management. It would be pretty nice to have it in asp.net core, so that the application could be ported and hosted in an monolithic environment. The Application could run for example on an linux server but the main task would be to monitor windows machines over the network.

[2017-04-05 14:17] #16995 closed

[2017-04-05 14:27] stephentoub opened #17950 "Seg fault doing a clean build on Ubuntu 16.10"
I just sync'd my repo on Ubuntu 16.10, did a clean build, and I hit a seg fault very quickly (happens every time I try):
[code]
The log shows this:
[code]
The fault appears to be happening in a call to libc's free.

[2017-04-05 14:31] stephentoub commented on #17950
Figured it out.  It *really* doesn't like having a custom libcurl installed.

[2017-04-05 14:31] #17950 closed

[2017-04-05 14:42] stephentoub commented on #15709
@richardhallett's analysis looks right to me.  I'm going to close this.  If you continue to have issues here after fixing the bugs in the repro, feel free to reopen. Thanks.

[2017-04-05 14:42] #15709 closed

[2017-04-05 14:58] #8688 closed

[2017-04-05 15:04] PawelGerr commented on #17870
No, I haven't. C and C++ are not my strengths.
The code in my first post has been executed on 2 totally different machines and the result has been the same.

[2017-04-05 15:31] #16991 closed

[2017-04-05 15:58] jimcarley commented on #17905
In System.Transactions.Local, there is code that is currently not accessed, but some amount of it will eventually be accessed once we do the work for supporting distributed transactions. I am reticent to simply remove this code.

[2017-04-05 16:02] StanislavUshakov commented on #16781
The 5th item is done in [PR 17952](https://github.com/dotnet/corefx/pull/17952)
Also a small bug for XmlLicenseTransform is fixed:
[code]
should be
[code]
Because we will throw an exception only if type is not XmlDocument and is not a subclass of XmlDocument. With OR this check is alwayes true for all classes.

[2017-04-05 16:22] davidsh commented on #17299
I don't see any value in adding the CONNECT verb as a convenience method to the HttpMethod class.  CONNECT is also used primarily during TLS/SSL connection thru a proxy.  And it is used internally while making the HTTP request for the other verbs.  The HttpClient doesn't support using the CONNECT verb on its own.

[2017-04-05 16:24] davidsh commented on #14897
We don't consider this a bug. The difference is due to architectural differences and race conditions in the platform OS APIs that are used for HTTP.  As indicated above, the server is violating the RFC and in those cases, some behaviors of the client can be undefined or variable in these edge cases.

If there an actionable repro that demonstrates this same error but without involving a HEAD reques

[2017-04-05 16:26] ChaseFlorell commented on #17299
If given the go ahead, I'd be willing to submit a PR for this.

Should having a patch method to accompany this be a separate issue/pr?

[2017-04-05 16:27] davidsh commented on #4002
Change the 4 tests (search the code base for their name) - replace localhost with www.microsoft.com:

That is a possible next step.  But we need to validate that IPv4 and IPV6 DNS records will always be returned back in all scenarios for that DNS name.  That needs to get tested. We should also verify that running CI tests in large scale won't be seen as an undesirable client connection to www.micr

[2017-04-05 16:29] davidsh commented on #8947
I don't think this is critical for 2.0.  And it is not easily solvable since we can't change the behavior of the OS platform APIs (WinHTTP) that cause this behavior. We would have to write code to track redirection counts manually after disabling any OS redirection limits (assuming that can be done at all).

[2017-04-05 16:33] davidsh commented on #17299
This needs API review/approval first.

In addition, adding this method will bump the Http APIs out of netstandard.  That means, it won't be available for Desktop either. So, changes will have to be made to ref, assembly version, contract version, etc.

You'll need to refer to guidelines for that:
https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/adding-api-guidelines.md

[2017-04-05 16:36] krwq commented on #16780
We need to check if this is still failing differently since there were few fixes since I last checked

[2017-04-05 16:50] JonHanna commented on #17905
I've already removed some of the dead code identified here in, Microsoft.CSharp and some more (the analysis didn't spot that e.g. `ExpressionBinder.BindPtrToArray` as per #17948) and the rest is in my sights as part of my ongoing refactoring of that assembly.

[2017-04-05 17:08] CIPop commented on #4721
I'd be all for that but I don't think it will be OK with our API review board. Unfortunately we're kind of stuck with SslStream doing TLS...

[2017-04-05 17:12] safern commented on #17917
Hi, @Pothulapati did you get  it to download? It shouldn't take that long. My guess would be more of like a network speed problem on your side. Before calling `build.cmd` on  your repo you could try `init-tools.cmd` which is the standalone command to install cli.

[2017-04-05 17:13] stephentoub commented on #17870
Ok, thanks, @PawelGerr.  This does look like a bug in the .NET lib.

[2017-04-05 17:17] ericstj opened #17955 "Move ILLink targets and restore to buildtools"
In order to bring this up quickly and iterate on it we are starting out with it in CoreFx.

Once its more stable we should move the targets and restore of the linker into buildtools.

/cc @erozenfeld @sbomer

[2017-04-05 17:18] Pothulapati commented on #17917
No,Network speed on my side is fast. I also Tried `init-tools.cmd` . It's the same. Even after 5 hours of `Installing Dotnet cli...` ,It doesn't respond.

[2017-04-05 17:31] steveharter commented on #15280
Looping in @CIPop as he also would like to move off of TP5

[2017-04-05 17:34] mmitche commented on #15280
@smile21prc Is working on this.

[2017-04-05 17:34] joperezr commented on #17917
5 hours is definitely not what it would take even with a slow network. I suspect something went wrong. Can you try these two things to try to get us more info on what is going on:
 - There should be a init-tools.log that gets generated in the process, and that will most likely give us more info that will help diagnosing the issue.
 - Can you try running `set _echo=on` before running build.cmd? tha

[2017-04-05 17:39] erozenfeld commented on #17905
@danmosemsft  Regarding EventAccessorInfo.InterfaceRaiseMethod: it's saying that get_InterfaceRaiseMethod is dead and since there is no set_InterfaceRaiseMethod, the property is dead. The code in the constructor sets the compiler-generated backing field <InterfaceRaiseMethod>k__BackingField and ILLink keeps the field.

[2017-04-05 17:40] WinCPP commented on #17118
May I :-) ?

[2017-04-05 17:41] geoffkizer opened #17956 "Socket.LocalEndPoint is not cached"
Every time you retrieve the Socket.LocalEndPoint property, we do a kernel call to retrieve the local end point.  Since this cannot change once the socket is open, we should cache this, as we do for RemoteEndPoint.

(Or alternatively, we can get the endpoint directly from the result of the AcceptEx call, as we do for RemoteEndPoint.  However, this may introduce some additional overhead in cases whe

[2017-04-05 17:42] shiftylogic commented on #17118
@WinCPP Sure. Just submit a PR when you are ready.

[2017-04-05 17:45] danmosemsft commented on #17905
@jimcarley that makes sense, I checked of S.Transactions.Local above as done. I guess if there are odds and ends that actually are dead, you might want to remove them at some point.

[2017-04-05 17:46] Pothulapati commented on #17917
@joperezr  Now If I Run init-tools.cmd I get the following
`C:\Users\Tarun\Source\Repos\corefx\Tools\DOTNET~1\dotnet.tar - The process cannot access the file because it is being used by another process.
Installing dotnet cli...`
and the log file as
'Running "C:\Users\Tarun\Source\Repos\corefx\init-tools.cmd"
Installing 'https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/1.0.0-preview2

[2017-04-05 17:46] danmosemsft commented on #17905
@JonHanna if you believe that ILLink should have been capable of spotting that code was dead, I would let @erozenfeld know.

[2017-04-05 17:47] JeremyKuhne commented on #17934
We should probably just condition it on UWP to check for UAE.

[2017-04-05 17:49] JeremyKuhne commented on #16766
I'm about to go through these- had to fix the registry issues first.

[2017-04-05 17:51] JeremyKuhne commented on #17037
Fixed by https://github.com/dotnet/coreclr/pull/10711.

[2017-04-05 17:51] #17037 closed

[2017-04-05 17:55] stephentoub opened #17957 "Need System.Net.Sockets tests for multicast"
We don't have any multicast tests that actually exercise the functionality.

[2017-04-05 18:09] weshaggard opened #17960 "Verify System.ValueTuple package works on .NET Framework"
After https://github.com/dotnet/corefx/pull/17893 the System.ValueTuple package no longer has a ref\netstandard1.0 reference and now has a net463 reference. We should verify that this package still works as expected on .NET Framework < 4.6.3.

I believe it will still work and pick the portable asset but just wanted us to double check once we get a package published after that PR.

cc @jcouv @erics

[2017-04-05 18:13] joperezr commented on #17917
looks like some process is  still getting a handle to that zip, is there a way for you to try find that process and kill it, and then clean your repo: `clean.cmd -all`

[2017-04-05 18:22] Pothulapati commented on #17917
@joperezr Now,That I have found the process and Killed it. It Just Shows `Installing dotnet cli..` but still the download is taking a lot of time. Why don't you try Downloading the  [dotnet-dev-win-x64.1.0.0-preview2-1-003182.zip](https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/1.0.0-preview2-1-003182/dotnet-dev-win-x64.1.0.0-preview2-1-003182.zip) so as to make sure it's not a net

[2017-04-05 18:35] JaedsonBarbosa commented on #4278
Hi, I'm getting this error when I try to run build.cml. Can you help me?

Error in the command:
C:\Users\jaeds\Source\Tools\msbuild.cmd /nologo /verbosity:minimal /clp:Summary /maxcpucount /nodeReuse:false /l:BinClashLogger,Tools\net46\Microsoft.DotNet.Build.Tasks.dll;LogFile=binclash.log /p:ConfigurationGroup=Debug /p:BuildPackages=false  /flp:v=normal  /flp2:warningsonly;logfile=msbuild.wrn  /fl

[2017-04-05 18:35] krwq commented on #16781
@StanislavUshakov thank you for contribution!

[2017-04-05 18:35] #16781 closed

[2017-04-05 18:39] KSebion opened #17961 "win10-x64 vs ubuntu.14.04-arm CultureInfo.CreateSpecificCulture("en-us").DateTimeFormat.ShortDatePattern"
I am not sure that this is the correct place for this or if this is not a bug but a setting I need to change somewhere.

In a publish for win10-x64, `CultureInfo.CreateSpecificCulture("en-us").DateTimeFormat.ShortDatePattern == "M/d/yyyy"`.
In a publish for ubuntu.14.04-arm, `CultureInfo.CreateSpecificCulture("en-us").DateTimeFormat.ShortDatePattern == "M/d/yy"`.
In mono on linux, `CultureInfo.Cre

[2017-04-05 18:40] krwq commented on #4278
@JaedsonBarbosa Are you running tests from the developer command prompt? (btw this is slightly OT) for the UWP - I will be investigating if this can be done fairly cheap for 2.0 although no promises

[2017-04-05 18:42] #17580 closed

[2017-04-05 18:43] weshaggard commented on #14473
Yes I think it is OK to close this. It isn't really worth fighting things and reverting the version bump, but we are still on the plan of not bumping assembly versions for adding new APIs to .NET Core, only if it impacts .NET Framework will we bump versions.

[2017-04-05 18:43] #14473 closed

[2017-04-05 18:53] weshaggard commented on #17817
Fixed with https://github.com/dotnet/corefx/pull/17906

[2017-04-05 18:53] #17817 closed

[2017-04-05 18:53] JaedsonBarbosa commented on #4278
I'm doing that from the Developer Command Prompt for Visual Studio 2017

[2017-04-05 18:56] weshaggard commented on #17390
FYI - I refreshed the default baselines just now https://github.com/dotnet/corefx/commit/54b4f4e63bd08d07b498c38ad720dac4fc6f64fa.

[2017-04-05 18:59] stephentoub commented on #17327
https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_debug_prtest/3010/consoleText

[2017-04-05 19:01] weshaggard commented on #17708
I don't think there is much value. It is probably worth looking at some usage data to back up the decision to not support it but if it is only going to throw PNSE I would just exclude it from core and only add it if we get requests (given this is not part of the standard).

[2017-04-05 19:02] weshaggard commented on #16912
I want keep this open for now as I want to do an audit before we release after most of the changes are in to ensure we didn't pull in any other unwanted dependencies.

[2017-04-05 19:03] danmosemsft commented on #17708
What about that native compilation aspect? I bring a library that imports the API, it may not use it, but I can't native compile iwth it.

[2017-04-05 19:04] weshaggard commented on #16022
@danmosemsft while this may be fixed in master (although worth verifying), it doesn't help folks today. If we feel this is a big enough issue then we should probably consider servicing this library with the fix.

[2017-04-05 19:07] weshaggard commented on #17564
You would need to go through the usual shiproom process and we would also need to ensure the necessary DiagnosticsSource changes were in the appropriate release branches. Otherwise I have no concerns.

[2017-04-05 19:14] JonHanna commented on #17905
@danmosemsft I'd be extremely impressed if it could, I just meant that the bits mentioned here are already a subset of removals I intend to make, so that item in the list is going to be covered.

[2017-04-05 19:14] erozenfeld commented on #17905
@danmosemsft @JonHanna ILLink doesn't attempt to find unreachable code within methods. If a method is reachable it assumes that all il instructions within a method are reachable.

[2017-04-05 19:18] nietras opened #17964 "Update/replace System.Threading.Tasks.Dataflow internal ConcurrentQueue with Concurrent.Collections changes"
Apparently, DataFlow has it's own copy of `ConcurrentQueue`, but this does not seem to have been updated with the great optimizations that @stephentoub did to the Concurrent.Collections version see:

https://github.com/dotnet/corefx/blob/master/src/System.Threading.Tasks.Dataflow/src/Internal/ConcurrentQueue.cs

Either update this with the changes or use Concurrent.Collections.

[2017-04-05 19:18] danmosemsft commented on #17905
For the benefit of others: another case came up offline, where an int field was getting assigned by a constructor that was flagged as dead. That field was getting read elsewhere however, and once that constructor was removed, the compiler warned that the field was never getting set. The reader was reading the default value. In such a case then the field needs to be explicitly initialized when remo

[2017-04-05 19:19] stephentoub commented on #17964
That's private copy is only used when building for a platform that doesn't have ConcurrentQueue, namely an old portable profile.  I'm not even sure if we still need to maintain that build. @terrajobst, @weshaggard?

[2017-04-05 19:31] vladimir-kazakov commented on #17194
Sorry, I was wrong.

I thought that .NET Standard provides all APIs of a specific version of .NET Framework (or at least that's the goal). The announcement of .NET Standard 2.0 confused me even more by saying that a lot of .NET Framework 4.6.1 APIs will be added to this version of .NET Standard. So, I thought that the mentioned types are missing, since they're a part of .NET Framework 4.6.1.

I re

[2017-04-05 19:31] #17194 closed

[2017-04-05 19:37] svick commented on #17964
@stephentoub [According to the project file, it's used in the .Net Standard 1.0 version](https://github.com/dotnet/corefx/blob/master/src/System.Threading.Tasks.Dataflow/src/System.Threading.Tasks.Dataflow.csproj#L58-L59) ([which indeed does not have `ConcurrentQueue`](https://apisof.net/catalog/System.Collections.Concurrent.ConcurrentQueue%3CT%3E)).

[2017-04-05 19:39] stephentoub commented on #17964
Right, that's what I meant by old portable profile.  I'm not sure if/why we still need to be building this for that.

[2017-04-05 19:48] krwq commented on #4278
@JaedsonBarbosa have you have pulled the latest changes from github and try building after cleaning your repo (`git clean -fdx`)? Second thing to try is to reduce the path length (i.e. put your repo under C:\corefx\). Another thing to try is to clean nuget cache (%USERPROFILE%\AppData\Local\NuGet and %USERPROFILE%\.nuget)

If still happening please create a separate issue with information:
- your

[2017-04-05 19:53] alexperovich commented on #17964
AFAIK if we stop building the netstandard1.0 version then we will just pick up the asset from the latest shipped package and include that. I think that would be fine.

[2017-04-05 19:53] krwq commented on #17935
Should we perhaps simply add a README page for each library (under `src/<library>/README.md`) and add few samples per project + links to MSDN?

[2017-04-05 19:55] kasajian commented on #17935
@krwq I think anything is better than what we have now, and I really do think your proposal is good.  I think that if you even just point to a wiki page, then you'll have someone in the community fill in whatever information they happen to have.

[2017-04-05 19:57] alexperovich commented on #12993
@stephentoub has this happened in CI again? I can't find any runs that are still around on Jenkins that failed with this error.

[2017-04-05 20:03] tmds commented on #17956
@geoffkizer For the Kestrel endpoints, I was wondering if you don't need to cache them anyhow as can only retrieve them as long as the Socket isn't disposed.

[2017-04-05 20:19] stephentoub commented on #12993
I haven't seen it again.  We can close it and reopen if we see it again.

[2017-04-05 20:25] #17870 closed

[2017-04-05 20:52] dhoehna commented on #16289
@dennisdietrich How were you able to call String.Left from StringsTest?  I can't call String.Left because, according to the metadata, Left does not exist.  Which is odd.

[2017-04-05 20:59] huanwu opened #17966 "Enable XmlSerializer to load the pregenerated serialization assembly"

[2017-04-05 21:05] danmosemsft commented on #16289
@dhoehna for some reason (accident?) Left is in the implementation. I assumed @dennisdietrich added it locally to his ref file as well `Microsoft.VisualBasic\ref\Microsoft.VisualBasic.cs` so it could be referenced.

As I undersatnd it from [this comment](https://github.com/dotnet/corefx/issues/14300#issuecomment-284763018) -- Anthony is the owner of VB -- functions like Left should get compiled-in

[2017-04-05 21:11] danmosemsft commented on #17934
UAE seems like a reasonable error actually -- on the principle of "let the platform determine whether it works" instead of hard coding in `if (uap) throw PNSE()`

Of course if they don't legalize it we will need to wrap it in #if uap.

[2017-04-05 21:16] husainaloos opened #17968 "CallContext.LogicalSetData does not maintain the value in the logical thread when used with Parallel."
CallContext.LogicalSetData is expected to maintain a certain value associated with the logical thread. This is not the case when used with Parallel.

Consider the code:

[code]

If you uncomment ```//WithTasks(list);```, the code outputs as expected (the value is maintained for each thread:
[code]

But when you uncomment ```//WithParallel(list);``` the code does not output the expected result:
[co

[2017-04-05 21:21] stephentoub commented on #17968
Parallel does not make any guarantees about the order of processing of the input items, nor about what thread it uses to handle each item, nor about how it does or does not reset ExecutionContext between individual invocations.  The output you shared is within the realm of a reasonable result for Parallel.

[2017-04-05 21:23] stephentoub commented on #17968
(For better or worse, CallContext also doesn't currently exist in corefx.)

[2017-04-05 21:31] weshaggard commented on #17708
The .NET Native compiler is pretty resilient to these type of things and I think it will just work and generate a MissingType/Member exception for those if you use them at runtime. Either way though our plan was never to have every API that netfx has to avoid this so there is always a possibility of this if someone consumes a netfx library.

[2017-04-05 21:34] weshaggard commented on #17964
Yes we will just pick it up from the last stable package.

As for the general case of the older configurations it is left up to the owner of the component whether or not they want to continue building and shipping fixes for it in our latest release, or if they want to consider it done and not touch it except for possibly in a servicing release. Each library has slightly different requirements and

[2017-04-05 21:43] danmosemsft commented on #17708
Hey Morgan so I know once and for all, in exactly what circumstances will native compilation fail due to missing imports?

Clearly we know having a [DllImport] pointing to libc fails. Does it fail if the native dll is there but not the export? As for managed imports, from @weshaggard comment above it sounds like compile succeeds.

Is all that right?

[2017-04-05 21:43] danmosemsft commented on #17708
Oops @morganbr see above

[2017-04-05 21:55] tintoy commented on #17487
Is Sierra now required to build corefx on OSX? I hope not, as I don't really want to have to upgrade (stuff always breaks) :-/

I'm on El Capitan (OSX 10.11.6 / Kernel 15.6.0), and I can no longer build corefx either (I get this same message). It used to work just fine.

[2017-04-05 21:56] tarekgh commented on #17961
@KSebion it is expected to get different data on different OS's because we depend on the OS for that. you can find more differences in the data and the behavior in the globalization space.
what is the string you are trying to parse on Ubuntu? I mean how did you format the date which you are trying to parse?  did you format it on one OS and trying to parse it on other OS? please send more info so w

[2017-04-05 21:57] ellismg commented on #17487
Yes.  In addition, Sierra is now a runtime dependency as well (we are using apple's new crypto libraries instead of OpenSSL and that forces a dependency on 10.12, unfortunately).

[2017-04-05 22:02] tintoy commented on #17487
Ugh. That... That kinda sucks. I understand _why_ but it means this is the end of my contributions to corefx until I can get hold of a decent machine that can run Windows :-(

Oh well, time to start saving up for a new laptop.

[2017-04-05 22:03] tintoy commented on #17487
(thanks for the quick reply, though, that's saved me a lot of troubleshooting!)

[2017-04-05 22:09] ellismg commented on #17487
No problem, I agree the situation sucks, as someone with a MacBook at home that can't upgrade to 10.12, I feel your pain.

[2017-04-05 22:10] tintoy commented on #17487
TBF, I've been looking for an excuse to buy a new laptop, and you've delivered me one :)

[2017-04-05 22:57] morganbr commented on #17708
It depends on an ILC flag; For most customer cases, a missing dll or export would just trigger a compile warning and an exception if it gets called. For most test cases, a missing dll or export would cause a launch failure. It would be much better to just not have missing imports.

CC @yizhang82 to keep me honest.

[2017-04-05 23:03] yizhang82 commented on #17708
Correct. In .NET native all imports are early bound (unlike CoreCLR/desktop). Missing imports/dll is really *bad* and will cause launch failures. If you need delay loading, there isn't a good way to do it right now in managed code because loadLibrary is not part of WACK. There are a few options:
1. Ask Windows for LoadLibrary
2. We implement the C++ delay loading (a few week to a month of throw-aw

[2017-04-05 23:29] alexperovich commented on #17762
This test has not failed in the past 6 days of runs. Please reopen if it happens again.

[2017-04-05 23:29] #17762 closed

[2017-04-05 23:33] safern commented on #17917
@Pothulapati I'm able to download -- where you able to figure it out? After you kill the process and cleaned your repo what does the log file says?

[2017-04-05 23:34] safern commented on #17917
@jkotas this should be done in CoreRT as well right?

[2017-04-05 23:35] jkotas commented on #17917
Yes.

[2017-04-05 23:40] safern commented on #17917
Thanks @jkotas

I updated the instructions to follow in https://github.com/dotnet/corefx/issues/17917#issuecomment-291749382 so that you don't forget @Pothulapati

[2017-04-05 23:57] ahsonkhan commented on #16730
ping @gafter

[2017-04-06 00:08] ericstj commented on #14595
I've gotten part of the way there: https://github.com/ericstj/core-setup/commit/1693be3e83527714357c6e9f109be6912d3c637f

The remainder will likely overlap a lot with the core-setup infrastructure work that @chcosta is doing so I'm handing off to him.

The change I've made so far runs cross-gen on the binaries that we pick up from other repos.  The remainder of the work is to plumb an entry point

[2017-04-06 00:12] morganbr commented on #17708
@danmosemsft I should also clarify that missing managed types/methods are different than P/Invokes to missing C++ exports. Missing managed types/methods work as @weshaggard described -- ILC mostly tries to just emit a warning and the runtime throws TypeLoadExceptions/MissingMethodExceptions if you try to use them. It's "best effort" support, so there are some cases that can fail native compilation

[2017-04-06 00:25] Priya91 commented on #16201
@tmds We may not need to fix this, if #17647 happens. Pushing this out for now, to focus on other 2.0 work items. Will revisit in some time again. Thanks for being on top of this :)

[2017-04-06 00:27] alirobe commented on #2295
@karelz no problem! I don't really care where it gets implemented first, I just want a Microsoft API implementation _somewhere..._ I'm sure that there will be enough demand to get that implementation surfaced everywhere.

Should it be raised as an issue [here](https://github.com/dotnet/standard/issues)? Happy to do that if needed. I'm not familiar with the way MS works on this stuff, but I'd sugge

[2017-04-06 00:35] yizhang82 commented on #17708
@morganbr @danmosemsft I forgot to mention that we do have a safe guard in place that if the API is not part of windowsapp.lib, we'll emit a throw statement for that p/invoke as well, so it supports only the negative case. But this might be all that is required.

[2017-04-06 00:39] ctolkien opened #17976 "System.Drawing.Color has methods for Hue/Sat/Brightness, but actually calcs in HSL"
As per the[ HSL and HSV wiki](https://en.wikipedia.org/wiki/HSL_and_HSV):

(Emphasis my own)

`System.Drawing.Color` has methods for `GetHue()`, `GetSaturation()`, and `GetBrightness()`.

One might assume that these methods would then return values using the `HSV/HSB` format, however they do not. They are using `HSL`.

This is not really intuitive (especially as this doesn't seem to be documented)

[2017-04-06 00:44] danmosemsft commented on #2295
@karelz it's already on my list. If I understand @krwq it seems it could be done while keeping our XML library netstandard 2.0 compilant. It is just resourcing and it's great to keep gathering evidence to bubble up the list when 2.0 is out the door.

[2017-04-06 00:45] danmosemsft commented on #17708
Thanks. And yes, I caused confusion by asking about native and managed at the same time.

[2017-04-06 00:53] danmosemsft commented on #17708
@saurabh500 I think the upshot is it's a matter of taste, stubs with PNSE might make sense for a few members, for something larger it seems there isn't a great reason to do that.

[2017-04-06 01:14] Priya91 opened #17977 "Implement HttpListenerTimeoutManager properties where possible for Managed."
From @stephentoub in response to a question about implementing HttpListenerTimeoutManager:

The timeout manager isn’t just one thing: it’s a collection of various timeouts.  And some of them can be implemented:
-	Likely can:
o	DrainEntityBody: I’m not aware of any reason we couldn’t do this.  But IIRC, we’re not doing connection pooling, so it’s largely irrelevant, and we shouldn’t be throwing a P

[2017-04-06 01:34] wgraham17 opened #17978 "System.NullReferenceException in System.Net.Http.CurlHandler.CurlResponseStream.SignalComplete(Exception error, Boolean forceCancel)"
We are seeing application crashes while running a .NET Core 1.1 application on Ubuntu with the following stack trace:

[code]

As far as I can tell, throwing an exception inside `Dispose` is a pretty bad idea -- this is amplified by the fact that there is no way to catch the exception thrown by a finalizer.

[2017-04-06 01:43] stephentoub commented on #17978
Can you share a repro?

[2017-04-06 02:12] JaedsonBarbosa commented on #4278
I think it occurs because I think the path C:/corefx/src/Native/../../bin/obj/Windows_NT.x64.Debug/native\install.vcxproj isn't valid.

OS: Windows 10
VS: 2017 Community
I just start the Developer Command Prompt for VS 2017 and put:
[code]

[2017-04-06 03:11] wgraham17 commented on #17978
@stephentoub I can't get a reliable repro, it happens in our application pseudo-randomly after a few hours of running.

[2017-04-06 03:24] brianrob commented on #17858
Right now, it should remain as is.  It was previously being compiled for PN, but now that UAPAOT is not built here, it is no longer built at all.  This code is likely to remain here so that we can build nuget packages out of it, but we've not yet gotten to this work.

[2017-04-06 03:26] JaedsonBarbosa commented on #4278
I give up, I can't make it work with the 2017 VS.
So do you have any idea of when this may be downloaded as a NuGet package?

[2017-04-06 04:23] danmosemsft commented on #17725
@ianhays do  you mind taking this one?

[2017-04-06 04:24] danmosemsft commented on #17724
@ianhays  do you mind taking this one

[2017-04-06 04:25] danmosemsft commented on #17726
@ianhays  do you mind taking this one

[2017-04-06 04:33] ericstj commented on #7528
We also need to make sure that any package shipping in 2.0 with a net standard ref has a net standard implementation, even if that is a platform not supported assembly.

[2017-04-06 04:37] ericstj commented on #11429
All the libraries that folks are talking about here were designed to use NuGet's guardrails.  In that way they weren't pretending to be PCLs any more than any other fat package.  We were counting on tooling that would tell folks when they were using the packages, where those packages would run.  This was the `guardrails` feature @weshaggard mentioned and it was meant to be a requirement for folks

[2017-04-06 04:43] ericstj commented on #7702
I plan to address the primary cause of this issue in the desktop support package that we create for NETStandard2 : https://github.com/dotnet/standard/issues/274.  In that package I'll include a shim that will force RAR to see conflicts between the inbox assemblies and the OOB ones.  That package will also effectively eliminate all runtime-only conflicts that were being missed, since it will bring

[2017-04-06 04:46] hughbe opened #17980 "NullReferenceException thrown getting InputStream from HttpListener"
[code]
Stack trace:
[code]

I think this is a pretty serious bug - it makes reading any input from HttpListener's tream broken. Netfx works, obviously.

I've got a fix for this, and adding tests (as per #13618)

The reference source is:
[code]

However, the .NET core is
[code]

This is *not* the same!

[2017-04-06 04:48] gulbanana commented on #11429
Sounds like a good improvement for now. We can always multitarget when something isn't supported in standard - in that respect having the packages gone is going to be nicer than having them present with PlatformNotSupported was.

[2017-04-06 04:49] hughbe commented on #13618
@karelz see #17980.

I started adding tests for this one out of my own curiosity investigating the HTTP stack (before this was moved to future).

It looks like there are some subtle bugs not covered by tests. Obviously adding tests for this one is a big task - we need some more coverage for 2.0 though.

[2017-04-06 05:42] Petermarcu opened #17981 "Update performance docs"
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/performance-tests.md seems to be very out of date. We need to get the docs updated or removed and pointers to a more generic document that explains how to run them in multiple repos.

[2017-04-06 05:51] geoffkizer commented on #17956
@tmds Not sure what you mean?  Kestrel is retrieving these during normal socket operation, so without some sort of caching (in Socket or above it) it would force a kernel call on every retrieval.

[2017-04-06 06:10] Jiayili1 opened #17982 "No test result generated under System.Linq.Parallel.Tests"
No test result generated, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170406.01/workItem/System.Linq.Parallel.Tests/wilogs

[2017-04-06 06:14] dotnet-mc-bot opened #17983 "Test failure: System.IO.Tests.DirectoryInfo_Create/PathWithInvalidCharactersAsPath_ThrowsArgumentException(invalidPath: \"\\\\\\\\?\\\\\")"
Opened on behalf of @Jiayili1

The test `System.IO.Tests.DirectoryInfo_Create/PathWithInvalidCharactersAsPath_ThrowsArgumentException(invalidPath: \"\\\\\\\\?\\\\\")` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.IO.IOException)\r
    Actual:   typeof(System.UnauthorizedAccessException): Access to the path '\\\\?\\' is denied.

        Stack Trace:

           at System.IO.Win

[2017-04-06 06:18] dotnet-mc-bot opened #17984 "Tests under System.IO.FileSystem.Tests failed with "System.IO.IOException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.DirectoryInfo_EnumDir_str_str/InvalidPath` has failed.

System.IO.IOException : DriveName: C:\\ ErrorCode:5

        Stack Trace:

           at IOServices.GetDriveFormat(String driveName)
       at System.IO.Tests.Directory_GetFileSystemEntries_str.InvalidPath()
Build : Master - 20170406.01 (UWP F5 Tests)
Failing configurations:
- Windows.1

[2017-04-06 06:21] dotnet-mc-bot opened #17985 "Test: System.IO.Tests.FileSystemWatcherTests/FileSystemWatcher_Path failed with "System.ArgumentException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.FileSystemWatcherTests/FileSystemWatcher_Path` has failed.

System.ArgumentException : The directory name .. is invalid.

        Stack Trace:

           at System.IO.FileSystemWatcher.set_Path(String value)
       at System.IO.Tests.FileSystemWatcherTests.FileSystemWatcher_Path()
Build : Master - 20170406.01 (UWP F5 Tests)
Failing configur

[2017-04-06 06:24] tmds commented on #17956
When Kestrel retrieves the EndPoint, and the implementation defers that to the Socket, the operation will throw Disposed when the Socket is disposed.
I think it is possible Kestrel retrieves the EndPoints when the Transport has already disposed the Socket.

[2017-04-06 06:25] dotnet-mc-bot opened #17986 "HttpClientHandler.MaxAutomaticRedirections default value test fails on UWP"
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandlerTest/Ctor_ExpectedDefaultPropertyValues` has failed.

Assert.Equal() Failure\r
    Expected: 50\r
    Actual:   10

        Stack Trace:

           at System.Net.Http.Functional.Tests.HttpClientHandlerTest.Ctor_ExpectedDefaultPropertyValues()
Build : Master - 20170406.01 (UWP F5 Tests)
Failing configuration

[2017-04-06 06:28] dotnet-mc-bot opened #17987 "Test failure: System.Net.Tests.AuthenticationTests/TestAnonymousAuthentication"
Opened on behalf of @Jiayili1

The test `System.Net.Tests.AuthenticationTests/TestAnonymousAuthentication` has failed.

System.AggregateException : One or more errors occurred. (Object reference not set to an instance of an object.) (Object reference not set to an instance of an object.)\r
    ---- System.NullReferenceException : Object reference not set to an instance of an object.\r
    ---- Sys

[2017-04-06 06:31] Petermarcu commented on #17983
@JeremyKuhne , Is this by design where these `\\?\` style paths are not going to work in an app container?

[2017-04-06 06:32] dotnet-mc-bot opened #17988 "Tests under: System.Net.Tests.HttpListenerTimeoutManagerWindowsTests failed with "System.Net.HttpListenerException""
Opened on behalf of @Jiayili1

The test `System.Net.Tests.HttpListenerTimeoutManagerWindowsTests/DrainEntityBody_SetTimeoutAfterStart_GetReturnsNewValue` has failed.

System.Net.HttpListenerException : The handle is invalid

        Stack Trace:

           at System.Net.HttpListener.SetupV2Config()
       at System.Net.HttpListener.Start()
       at System.Net.Tests.HttpListenerTimeoutManagerWind

[2017-04-06 06:35] dotnet-mc-bot opened #17989 "Tests under: System.Net.Mail.Tests.SmtpClientTest failed with "System.PlatformNotSupportedException""
Opened on behalf of @Jiayili1

The test `System.Net.Mail.Tests.SmtpClientTest/DeliveryMethodTest(method: PickupDirectoryFromIis)` has failed.

System.PlatformNotSupportedException : Operation is not supported on this platform.

        Stack Trace:

           at System.Net.NetworkInformation.NetNativeIPGlobalProperties.get_HostName()
       at System.Net.Mail.SmtpClient.Initialize()
       at Sys

[2017-04-06 06:40] dotnet-mc-bot opened #17990 "Tests under: System.Net.NameResolution.Tests.InitializationTests failed with "Xunit.Sdk.NotEqualException""
Opened on behalf of @Jiayili1

The test `System.Net.NameResolution.Tests.InitializationTests/Dns_BeginGetHostAddresses_CallSocketInit_Ok` has failed.

Assert.NotEqual() Failure\r
    Expected: Not 0\r
    Actual:   0

        Stack Trace:

Build : Master - 20170406.01 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64
  - x64-Release
  - x64-Debug

Detail: https://mc.dot.net/#/product/netco

[2017-04-06 06:48] dotnet-mc-bot opened #17992 "Tests under: System.Net.NetworkInformation.Tests.IPInterfacePropertiesTest_Windows failed with "System.NotImplementedException""
Opened on behalf of @Jiayili1

The test `System.Net.NetworkInformation.Tests.IPInterfacePropertiesTest_Windows/IPInfoTest_AccessAllIPv4Properties_NoErrors` has failed.

System.NotImplementedException : The method or operation is not implemented.

        Stack Trace:

           at System.Net.NetworkInformation.NetNativeNetworkInterface.GetNetworkInterfaces()
       at System.Net.NetworkInformatio

[2017-04-06 06:51] dotnet-mc-bot opened #17993 "Test failure: System.Net.NetworkInformation.Unit.Tests.NetworkInterfaceTest/GetIsNetworkAvailable_ConnectionProfileNotPresent_ReturnsFalse"
Opened on behalf of @Jiayili1

The test `System.Net.NetworkInformation.Unit.Tests.NetworkInterfaceTest/GetIsNetworkAvailable_ConnectionProfileNotPresent_ReturnsFalse` has failed.

Assert.False() Failure\r
    Expected: False\r
    Actual:   True

        Stack Trace:

Build : Master - 20170406.01 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64
  - x64-Release
  - x64-Debug

Detail: https

[2017-04-06 06:56] dotnet-mc-bot opened #17994 "Tests under: System.Net.Security.Tests failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Net.Security.Tests.NegotiateStreamStreamToStreamTest_Async/NegotiateStream_StreamToStream_Authentication_Success` has failed.

Assert.Equal() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Net.Security.Tests.NegotiateStreamStreamToStreamTest.NegotiateStream_StreamToStream_Authentication_Success()
Build

[2017-04-06 06:58] dotnet-mc-bot opened #17995 "Test failure: System.Net.Tests.WebProxyTest/BypassOnLocal_MatchesExpected"
Opened on behalf of @Jiayili1

The test `System.Net.Tests.WebProxyTest/BypassOnLocal_MatchesExpected` has failed.

System.PlatformNotSupportedException : Operation is not supported on this platform.

        Stack Trace:

           at System.Net.NetworkInformation.NetNativeIPGlobalProperties.get_DomainName()
       at System.Net.Tests.WebProxyTest.<BypassOnLocal_MemberData>d__10.MoveNext()

[2017-04-06 06:59] dotnet-mc-bot opened #17996 "Test failure: System.Reflection.Tests.AssemblyTests/GetEntryAssembly"
Opened on behalf of @Jiayili1

The test `System.Reflection.Tests.AssemblyTests/GetEntryAssembly` has failed.

Assert.StartsWith() Failure:\r
    Expected: xunit.console.netcore\r
    Actual:   XUnit.Runner.Uap, Ver...

        Stack Trace:

           at System.Reflection.Tests.AssemblyTests.GetEntryAssembly()
Build : Master - 20170406.01 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64

[2017-04-06 08:29] Jiayili1 commented on #16945
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_release/7/testReport/System.Net.Sockets.Tests/SendReceiveEap/SendToRecvFrom_Datagram_UDP_loopbackAddress____1_/

[2017-04-06 08:31] karelz commented on #13618
`HttpListener` is compat API - i.e. it's goal is to achieve parity on the most used features with Desktop. We do not plan to evolve compat APIs, or improve their perf. Even to the point of - we will likely not take risky or complex contributions in the implementation (or API surface). If customers want high-performance, scalable, modern APIs for Http server, we recommend to use Kestrel.

From that

[2017-04-06 08:33] karelz commented on #17980
@Priya91 @davidsh @CIPop can you please comment on the bug? If @hughbe has a fix, would we take it?

[2017-04-06 08:44] karelz commented on #17534
@MaximRouiller as you see, I had these docs planned since December - I just didn't have time to execute on it yet :( ... too many fire drills, too much repo shepherding and also the somewhat emberassing fact that I didn't yet contribute a real fix into CoreFX in my time on the team since last October, so it would cost me quite a bit of time to collect all the info - clearly I need help :)

Your bl

[2017-04-06 08:47] karelz commented on #17749
cc @steveharter @Priya91

[2017-04-06 08:55] karelz commented on #4278
You should be able to consume the preview from myget.org.
Official package will be part of the .NET Core 2.0 wave - see [milestone 2.0.0](https://github.com/dotnet/corefx/milestone/4) description, May 10 is the ZBB (#17619), so the RTW release should follow "shortly" after it (exact dates are not yet publicly disclosed)

[2017-04-06 09:07] hughbe commented on #17980
I've sent in a fix and tests for HttpListenerResponseStream and HttpListenerRequestStream. Without the fix, HttpListenerRequestStream is entirely unusable - every test fails with a NRE in the product code.

[2017-04-06 09:08] karelz commented on #2295
@danmosemsft that's great news that we already have it on road map!

@alirobe no need to file issues in .NET Standard -- .NET Standard is basically the common interface/intersection between Desktop (.NET Framework), .NET Core and Xamarin. If this can be implemented on top of .NET Standard, then all platforms will benefit. If it can't, it will be part of .NET Core future version, waiting for other

[2017-04-06 09:09] karelz commented on #17980
Sounds like a great catch, thank you @hughbe. Truly appreciate your help here!
I let area experts to comment on technical direction, etc.

[2017-04-06 09:18] zenixgrace opened #18000 "HttpClient Error "An internal response size limit was exceeded""
Hello,

I got an error "An internal response size limit was exceeded" when calling SendAsync method in HttpClient
Is it about buffer size or what?
try to set MaxResponseContentBufferSize but no luck.

[2017-04-06 09:18] karelz commented on #17935
I like @krwq's idea -- we need an easy-to-find place (with stable URL we can link from NuGet packages) that folks are **not afraid** to contribute to (both internal and external contributors). I don't think that CoreFX repo is the right place though -- @mairaw can you please guide us where to set up such docs? Would it be best in docs repo? Could we get some help from docs team with vetting the wr

[2017-04-06 09:21] karelz commented on #17564
@lmolkova it's going to be some non-trivial work. Is your team willing to sponsor it?

[2017-04-06 09:23] karelz commented on #17327
@steveharter did you see the failure in your runs? Looks like it reprod 2x in week.

[2017-04-06 09:28] karelz commented on #16781
Agreed, thank you @StanislavUshakov!
If you want to help us even more to land 2.0, see #17619 for details how you can help best.

[2017-04-06 09:52] karelz commented on #17917
@Pothulapati sorry to hear about your troubles with getting started :( ... this is truly weird and exceptional. We have plenty of contributors and this is the first time we hit similar issue.

Please if you, can try another machine, VM, new directory, or anything you can think of -- there is something truly weird going on on your machine and I would like to first get you unblocked ASAP, and then d

[2017-04-06 09:54] karelz commented on #17118
Assigning to @WinCPP to capture he is working on it ...

[2017-04-06 10:09] karelz commented on #4721
Note that renaming APIs just because we can, could easily lead to gazillion of APIs where no one understands which one is the recommended. Decisions like that should be the last resort, after we exhausted all other options. Sometimes, it is the right thing to do, we just have to be careful to think it through. Once you ship it in Framework, you live it it for decade(s) -- that's our key learning f

[2017-04-06 10:15] stephentoub commented on #18000
On what OS? On what version of .NET Core? Can you share a small repro?

[2017-04-06 10:24] karelz commented on #17299
@davidsh I take it from your comment that you are fine with the API shape (aka "first-level API review is fine"). Can you please confirm? If not sure, can you please raise it and discuss in Networking v-team sync up tomorrow? (in the worst case I can add it to agenda for next week)

As soon as Networking experts (@davidsh @CIPop @Priya91 @geoffkizer) are fine with the API shape, let's please mark

[2017-04-06 10:38] karelz commented on #4002
Good point about the denial-of-service concern.
For large-scale verification, IMO it is sufficient to run the test in a loop every 10s-30s on local machine for some time (let's say 1h). The full large-scale validation can be done directly in CI. If it causes trouble, we can always revert he change.

[2017-04-06 10:40] karelz commented on #3850
Sure, assigned to you @Vertygo

[2017-04-06 10:41] karelz commented on #3850
If you're in trouble @krwq and @tarekgh should be able to help ...

[2017-04-06 10:45] karelz commented on #14614
Does it mean that we can add the `if (CentOS()) { try { DoWork(); } catch (ThisFailure) { /* ignore */ }` even today?
If yes, let's flip it to up-for-grabs, as we would take the contribution ...

[2017-04-06 10:47] markrendle commented on #4721
@karelz Thank you for the response. Rather than feeling sad or embarrassed, you should give yourselves credit for the massive transformation you have achieved in Microsoft's approach to open source. Developing something as huge as a .NET implementation in the open, on GitHub, is an enormous undertaking, and I know that your teams are not as well-staffed as many people assume they are.

I appreciat

[2017-04-06 10:48] stephentoub commented on #14614
It means we need to decide whether we want that or not.  If we did that, we'd be ignoring an explicit setting, without the developer knowing, and the developer could catch it the same way as we could in order to ignore it.  Conversely, maybe it doesn't matter if we implicitly eat the failure.

[2017-04-06 10:53] stephentoub commented on #14614
(It also wouldn't be a try/catch... we simply wouldn't throw an exception for this case, regardless of platform.)

[2017-04-06 10:55] golfguy0082 opened #18002 "Question: How to version dotnet core assemblies"
Forgive me if this is not the appropriate channel for a question.  I'm trying to figure out how to version (and retrieve) assembly versions in dotnet core (both build and publish).  I've been searching for documentation on this, but I've come up empty.  Below are some things I've tried.

`dotnet publish /p:Version=3.0.1` (where [Version]3.0.0[/Version] is defined in csproj)
`dotnet publish --versi

[2017-04-06 11:02] zenixgrace commented on #18000
Hello,

After playing with this error, I found the  cause of error.
If I set the auto redirect to false, the error is gone. Otherwise the error show up..
Is it have a limitation when the page that we call return the redirect action to another page?

I'm on 1.1.1 Net Core and Window OS.

[2017-04-06 11:05] shaggygi commented on #984
@karelz @willdean @danmosemsft Would it be helpful to update the title of this issue?  I think there has been some great work getting the feature added and look forward to using in v2.0.

The reason I'm asking as it will initially only be supported on Windows.  Eventually we hope to see it be supported on other platforms (especially on RPi, etc.).

So would it be helpful to change the title to **S

[2017-04-06 11:08] karelz commented on #4721
Thanks for your kind words. It is encouraging that community and customers appreciate our work, thank you!

2.1 milestone is currently tracking only work for .NET Standard 2.0 for UWP. We will likely add there work based on feedback (i.e. more customer complaints, blockers, etc.). However, at this point, I prefer to have things in 2.0, or in Future, unlesss they are UWP related - in which case 2.1

[2017-04-06 11:11] karelz commented on #984
Sounds reasonable to me (I also dislike long discussions with lots of topics :)) - I let @JeremyKuhne make the final call as he is driving the work from our side.

[2017-04-06 11:22] StanislavUshakov commented on #16829
About 6th point and CanonicalXmlEntityReference. Right now CreateEntityReference method from CanonicalXmlDocument is not called. This happens because of the following.
There are 2 different types how XmlTextReaderImpl class can handle references:
[code]
And XmlTextReaderImpl  has 2 constructors:
1 - [First](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.P

[2017-04-06 12:21] husainaloos commented on #17968
@stephentoub Are you saying that while Task API maintains a separate execution context, Parallel API might not? Very strange.

Where can I find the .NET framework project page?

[2017-04-06 12:26] JaedsonBarbosa commented on #4278
@karelz  Can you please send me the link of the package that contains the System.Security.Cryptography.Xml?

[2017-04-06 12:31] stephentoub commented on #17968
A task is a single entity that executes one delegate, and ExecutionContext is flown to it. Parallel is a higher level helper that executes many delegates, and ExecutionContext is flown to it, such that state from out of the loop is available in the loop, just as with Task, but it's not guaranteed to be reset between iterations, just as if you wrote your own foreach in the body of a task it wouldn'

[2017-04-06 12:40] karelz commented on #4278
https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Security.Cryptography.Xml

Here's how to dogfood 2.0: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2017-04-06 12:51] willdean commented on #984
I'd like to see people create new issues for more specific things and not just keep appending to this one - I don't think renaming this one is really appropriate as everything has already been discussed here.  Is it possible to post some final message with the current state of progress and then lock this issue?

[2017-04-06 13:20] MaximRouiller commented on #17534
Apparently, I'm good at nudging since that prompted @sharwell in *FINALLY* updating his StackOverflow profile. 😉

I'm ready to take on another bug/improvement/issue. Doesn't need to be Roslyn only. If the same process I applied to Roslyn can be done for corefx or any other repository, I'll gladly do a write-up on my experience in contributing to a particular repository.

The only thing to remember

[2017-04-06 13:36] stephentoub commented on #17978
@mrazza, you gave a thumbs up emoji to the post... do you have a repro?

[2017-04-06 13:58] JonHanna opened #18006 "CI failure to clone repository in Innerloop OSX10.12 tests"
E.g. https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug_prtest/1240/ and https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release_prtest/1243/

Doesn't seem to be affecting all such builds, but is affecting a lot of them.

[2017-04-06 14:03] frdnga commented on #17801
I'm using Sqlclient version 4.3.0

[2017-04-06 14:09] davidsh commented on #18000
Please attach a full repro solution using Visual Studio 2015 or 2017. It is the only way we will be able to troubleshoot this.  Thx.

[2017-04-06 14:22] stephentoub commented on #17978
@wgraham17, I think I found a way this could happen, though I've been unable to repro.  Is it possible this is occurring for you when a request is canceled very soon after it was issued?

[2017-04-06 14:45] stephentoub commented on #18006
Yeah, I believe @mmitche is working on it.  Thanks for opening an issue.

[2017-04-06 14:48] stephentoub commented on #17968
I'm going to close the issue.  Feel free to re-open if you still believe there's an issue here to be addressed. Thanks.

[2017-04-06 14:48] #17968 closed

[2017-04-06 14:51] hikalkan commented on #8681
I think this there is still a problem. We may need to change ambient value from inner method and expect to effect the value in the containing method. .net framework should provide a way of that.

[2017-04-06 14:54] stephentoub commented on #8681
It's explicitly by design that you can't do that from inside of an async method, so it's not a bug.  If you want to do that, you can't use an async method (it can still be Task-returning, just not using the async/await keywords).

[2017-04-06 15:07] hikalkan commented on #8681
OK, understand that this is by design. But, is there any other way of doing that (beside AsyncLocal)?

[2017-04-06 15:10] stephentoub commented on #8681
Every mechanism for flowing state across asynchronous points (e.g. AsyncLocal, CallContext, etc.) does so via ExecutionContext, and it's ExecutionContext that is prevented from flowing out of an async/await method.  So any changes done via any such mechanism inside of an async/await method will not flow out.  If you want changes to AsyncLocal, CallContext, etc. to flow out of an asynchronous metho

[2017-04-06 15:19] hikalkan commented on #8681
Thank you for detailer explanation and for your valuable time. I tested and see that it's same for CallContext too. So, there is no way of what I want and should make it working with given rule.

[2017-04-06 15:29] stephentoub commented on #8681
@hikalkan, happy to help, thanks.

[2017-04-06 15:38] Pothulapati commented on #17917
@safern  After killing the process and running the clean.cmd I still get "Installing dotnet cli..."  in the clean cmd(and it doesn't respond too).Sorry For Bugging you.

[2017-04-06 15:39] Pothulapati commented on #17917
@karelz I tried in another machine but it shows the same thing but when I run it in an Azure VM, It Works Fine. I will be working on the Azure VM for now to fix the issue.

[2017-04-06 15:43] eerhardt opened #18009 "Security.Cryptography tests are failing on portable Linux runs"
[System.Security.Cryptography.Algorithms.Tests](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170406.01/workItem/System.Security.Cryptography.Algorithms.Tests)   (see page 2 on that link)
[System.Security.Cryptography.OpenSsl.Tests](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/

[2017-04-06 15:44] stephentoub commented on #17839
@tarekgh, why Future rather than 2.0?  Just not that common?

[2017-04-06 15:48] saurabh500 commented on #17801
Thanks for the confirmation. SqlClient in 4.3.0 doesn't have this support l because it cannot access the host name. The next version based on ns2.0 is going to have this capability

[2017-04-06 15:48] #17801 closed

[2017-04-06 15:59] Clockwork-Muse commented on #17981
Duplicate of #9257 ?

[2017-04-06 16:09] tarekgh commented on #17839
The only difference is the type of the exception there. and this behavior already exist in the last 2 releases. I mean this is not a regression. so I am not seeing we should fix it on 2.0.0.0

[2017-04-06 16:13] JaedsonBarbosa commented on #4278
OK, I want do install that in a UWP class library, but when I try that I get that error:
O pacote System.Security.Cryptography.Xml 4.4.0-preview1-25205-01 não é compatível com uap10.0 (UAP,Version=v10.0). O pacote System.Security.Cryptography.Xml
4.4.0-preview1-25205-01 dá suporte a:
  - monoandroid10 (MonoAndroid,Version=v1.0)
  - monotouch10 (MonoTouch,Version=v1.0)
  - netcoreapp2.0 (.NETCoreAp

[2017-04-06 16:18] KSebion commented on #17961
@tarekgh The string is based on XML from a system I don't control like the following:
[code]
Rather than parsing most of the element values to a number and using the DateTime ctor, I created a string using code like the following:
[code]

Therefore, I am not formatting on one OS and parsing on another.
#11221 seems related to the problem.

I did not expect that a CultureInfo instance for a distinc

[2017-04-06 16:23] krwq commented on #4278
@JaedsonBarbosa, we currently do not support UAP for that library, you'll need to wait until https://github.com/dotnet/corefx/pull/17969 is merged and new package produced.

[2017-04-06 16:26] davidsh commented on #17299
In terms of this particular API revision, adding this single new convenience method looks fine from an API shape perspective. We will discuss in team meeting.

Usually, it is best to group several API additions together for a library such as System.Net.Http. As noted above, there is large overhead in doing API changes in general. So, it is best to consider that overhead and group a few updates tog

[2017-04-06 16:32] ChaseFlorell commented on #17299
If grouping a few API changes is in order, I'd like to suggest adding a `PatchAsyc()` method (along with overloads) to coincide with this change.

[2017-04-06 16:32] tarekgh commented on #17961
We cannot gauranetee consistency across the OS's because we don't carry the globalization data and we depend on the OS for that. also users can change the default pattern in their systems and you expect to get whatever the user used. so the assumption to always have same pattern all the time is not valid assumption.

Yes in your scenario you need to use the Invariant culture which is guarantee get

[2017-04-06 16:32] #17961 closed

[2017-04-06 16:51] krwq commented on #2295
@danmosemsft @karelz - If we plan to reuse existing APIs I believe we will need some new switch/enum for tiny behavioral changes around parsing to not break any existing apps. Breaking changes would need to be opt-in. Anything else I believe is currently producing errors and would just start working after work is done. (I'd rather make people be more explicit about which version of XPath they choo

[2017-04-06 17:01] JaedsonBarbosa commented on #4278
😧 Ok, I'll continue waiting 😭

[2017-04-06 17:01] krwq commented on #16691
Changing the milestone since we don't support creating DSA on OSX. One thing we could do for all similar tests is to export DSA on different platform and import it in the tests.

[2017-04-06 17:04] krwq commented on #16691
Actually closing since after resolving all other issues this is now duplicate of: https://github.com/dotnet/corefx/issues/17001

[2017-04-06 17:04] #16691 closed

[2017-04-06 17:04] danmosemsft commented on #984
Im' going to be bold and close this one. Well done @willdean and collaborators for this achievement! I'll open one for Linux, @shaggygi feel free to open one for RPi.

[2017-04-06 17:06] danmosemsft opened #18012 "Serial Port support on Unix/OSX"
Support the existing Windows API on OSX/Linux machines.

Original Windows thread was https://github.com/dotnet/corefx/issues/984

Any volunteers interested in starting to scope this out? Please thumbs up if you would use this library.

@willdean

[2017-04-06 17:06] #984 closed

[2017-04-06 17:20] JeremyKuhne commented on #17983
This one is a bit odd because it is just `\\?\`. I'll have to look into it a bit more.

[2017-04-06 17:22] lmolkova commented on #17564
@karelz We are still has not make a decision on how critical it is for us, I should have more information during next week. If it is critical, we will do the backporting.

Could someone please share details about shiproom process?

[2017-04-06 17:30] saurabh500 commented on #17833
@maike9 Right now the SqlDependecy support is not available in System.Data.SqlClient. We will look at adding support in future releases.

[2017-04-06 17:32] mellinoe commented on #17932
@tarekgh Is this caused by an infrastructure problem?

[2017-04-06 17:33] tquerec commented on #17043
Closing as issue is being tracked in the .NET desktop bug database.

[2017-04-06 17:33] #17043 closed

[2017-04-06 17:36] tarekgh commented on #17932
This is related more to RemoteExecutor and not the test itself.

[2017-04-06 17:37] tquerec commented on #15902
@nzcoward, is there a reason you can't use the PrincipalContext constructors which don't take a username and password.  For example, https://msdn.microsoft.com/en-us/library/bb339842(v=vs.110).aspx

[2017-04-06 17:39] mellinoe commented on #17487
@mmitche Has this been fixed on the lab machines since this was filed? I don't think we've still been seeing it.

[2017-04-06 17:40] mmitche commented on #17487
@mellinoe Yeah.

[2017-04-06 17:40] tarekgh commented on #17932
@mellinoe this is most likely related to UWP test runs.

CC @joperezr

[2017-04-06 17:41] mellinoe commented on #17131
@ellismg This seems relevant to our discussion yesterday.

[2017-04-06 17:45] joperezr commented on #17932
This is related to UWP-F5 runs in Helix. @mellinoe let me know if you need help reproing.

[2017-04-06 17:45] #17487 closed

[2017-04-06 17:47] mellinoe commented on #17932
I'm just doing a triage of "area-Infrastructure", and this one looked like a regular test bug at first glance. Given that the UWP runs are so new, it could very well be related to that.

[2017-04-06 17:51] joperezr commented on #17917
If you can share what your init-tools.log shows we should be able to better diagnose what is going on.

[2017-04-06 17:52] danmosemsft commented on #17982
@alexperovich could you please look?

[2017-04-06 17:55] vancem commented on #17564
@lmolkova   For what it is worth, I would only work on this after everything else works well.   There will be strong incentives for people to upgrade to 2.0 and the path should be hopefully easy (there is the change in build system, but the old system is rapidly being abandoned so they need to upgrade for other reasons as well).

[2017-04-06 18:11] nzcoward commented on #15902
I'm using a gMSA to authenticate in order to create/modify entries. If
there's a way of using that account in the context, then sure. If you've
got thoughts on how I may go about that, let me know.

The thing is, there's clearly a check for an empty password with a throw,
but you don't need a password for a network credential (?) Some sort of
overload to circumvent the check would be the ideal.

O

[2017-04-06 18:17] Nothing4You opened #18013 "[Cookie] HttpClient does not properly parse all Set-Cookie headers"
Hello,

I'm currently trying to build a .Net Core application that automates some HTTP requests.
In the first request I receive several cookies which should be sent back to the server on the second request.
For demonstration purposes I have created a small PHP script that sends some `Set-Cookie` headers similar to the style I receive them from the actual application.
The source code of this script

[2017-04-06 18:22] mtraudt commented on #17278
I have attached my project (in zip file) and Nuget.config (renamed to Nuget.txt).

Other details:

1) Using 2.0.0-preview1-005724
2) Using CLI only (no Visual Studio)
3) Windows 10 Insider Preview 15063 (although having same problem with Anniversary update)

[NuGet.txt](https://github.com/dotnet/corefx/files/903575/NuGet.txt)

[MyConsoleApp.zip](https://github.com/dotnet/corefx/files/903569/MyCons

[2017-04-06 18:23] tquerec commented on #15902
The PrincipalContext constructors which don't accept a username or password will use the security context of the current thread.

For example,
PrincipalContext pctx = new PrincipalContext(ContextType.Domain, "MyDomain");

This will connect to "MyDomain" using the current thread's security principal.  This should work properly for GMSAs and MSAs.

[2017-04-06 18:41] divega commented on #2093
Clearing out milestone so we can discuss this next time we triage.

[2017-04-06 18:47] krwq commented on #16829
@StanislavUshakov - I haven't investigated this code path too much but can we possibly make SignedXml create us an instance of CanonicalXmlDocument (possibly some API returns it) and then manually create entity reference by simply calling an API?

If we can't:
Is this also true for netfx? If we could never create an instance of that class then we should likely not test it for 2.0 and for post 2.0

[2017-04-06 18:55] sepidehMS opened #18015 "Potential ArgumentNullException in Microsoft.XmlSerializer.Generator"
In Microsoft.XmlSerializer.Generator code, `TempAssembly._assembly` is never being assigned to and will alwaybe null. This causes ArgumentNullException [here](https://github.com/dotnet/corefx/blob/39514943cac0ca081894ac0763c2a91d30345e52/src/System.Private.Xml/src/System/Xml/Serialization/Compilation.cs#L130)

cc: @huanwu @shmao, @zhenlan

[2017-04-06 18:58] danmosemsft commented on #17839
@tarekgh it sounds like this is potentially a breaking change for libraries written for full framework? That could meet the 2.0 bar, especially if it's impactful or likely to have widespread impact.

I imagine this ought to be breaking in our desktop runs, if we don't have a test hole?

[2017-04-06 19:05] davidsh commented on #18013
Does this repro on just Windows or Linux or both?

[2017-04-06 19:05] Nothing4You commented on #18013
I have only tested on windows so far.

[2017-04-06 19:08] tarekgh commented on #17839
I marked as 2.0.0 and will look at it later.

[2017-04-06 19:13] Nothing4You commented on #18013
Same results on linux.

[2017-04-06 19:14] RavuAlHemio commented on #17839
I would have pinned it as a breaking change too, but the situation is a bit more complicated: I checked today and Full Framework uses the ["best-fit" decoding for windows-1252](http://www.unicode.org/Public/MAPPINGS/VENDORS/MICSFT/WindowsBestFit/bestfit1252.txt), where the undefined codepoints (0x81, 0x8D, 0x8F, 0x90 and 0x9D) are simply mapped to the numerically equal Unicode codepoints (U+0081,

[2017-04-06 19:19] davidsh commented on #18013
Please post the specific of which cookies are being "skipped"?  I assume being "skipped" implies that they are not being placed into the HttpClientHandler.CookieContainer?

It would be useful if you could post a detailed Fiddler trace of the request and response as seen by Fiddler and then post which cookies on the responses 'Set-Cookie' headers are being "skipped" by HttpClient.

[2017-04-06 19:19] davidsh commented on #18013
cc: @stephentoub

[2017-04-06 19:20] Nothing4You commented on #18013
In the gist with the code you can see which headers are working and which are not.

[2017-04-06 19:22] petertiedemann commented on #15570
I am also seeing this issue. In this case with a netstandard 1.4 assembly being used in a 4.6.1 nunit test assembly.

[2017-04-06 19:26] tarekgh commented on #17839
@RavuAlHemio thanks for the info. I'll look at this and fix it.

[2017-04-06 19:26] Nothing4You commented on #18013
https://hosting.rep.pm/httpclient-cookies.saz I believe this is the fiddler trace you're looking for?

[2017-04-06 19:29] steveharter opened #18016 "RSA SignHash either seg faults or doesn't throw when no key on Unix"
The following tests have been disabled because they don't work on Unix:
- System.Security.Cryptography.Csp.Tests.SignHash_BadAlgorithm
- System.Security.Cryptography.Csp.Tests.SignHash_WrongSizeHash
- System.Security.Cryptography.Csp.Tests.SignHash_PublicKey

They either result in a seg fault, or don't throw an exception as expected.

This was found during the implementation of https://github.com/

[2017-04-06 19:29] stephentoub commented on #18013
This repros on desktop as well. This might be a red herring, but the difference between the cookies that work and those that don't appears to be the domain.  The ones that don't work set a domain of `domain=hosting.rep.pm`.  The ones that do work either don't have a domain or set one as `domain=.hosting.rep.pm`.

[2017-04-06 19:30] wgraham17 commented on #17978
It's not _outside_ the realm of possibility but we aren't explicitly cancelling requests.  🤔

[2017-04-06 19:31] davidsh commented on #18013
Usually the rules for 'Set-Cookie' require the leading prefix of ".".  I'll need to lookup the applicable RFCs and it also differs depnding on which cookie RFC is being interpreted.

[2017-04-06 19:32] shmao commented on #18015
Thanks for opening the issue, @sepidehMS . The usage of `TempAssembly` is being added by @huanwu 's PR https://github.com/dotnet/corefx/pull/17967. The issue would be fixed by that PR.

[2017-04-06 19:32] onovotny opened #18017 "API Proposal: Support operators * / on type Size types"
Size types (System.Drawing.Size, etc) represents a value that can be scaled up and down by multiplication and division.

A common scenario for this is scaling. Today, this involves taking the parts, doing the math individually, and then creating a new value.

Size, and related Size structs, should support * and / with both double and integer types.

This proposal should mirror https://github.com/d

[2017-04-06 19:32] davidsh commented on #18013
Not sure if this is related to https://github.com/dotnet/corefx/issues/11795 but as you can see cookie parsing changes are risky to make due to app-compat.

[2017-04-06 19:35] Nothing4You commented on #18013
I have seen that bug, however, in this case it seems like the exact opposite is happening as those without a dot prefix don't work while the one with dot prefix aswell as the unspecified one work.

[2017-04-06 19:39] stephentoub commented on #17978
Hmm, ok.  Do you change the timeout from its default of 90s, or is it possible you have a huge backlog of work that the default 90s timeout would cause cancellation to occur before the request could begin?  I'm struggling to find something else that would result in the call stack you shared, and without more details to go on, a repro, etc., I'm afraid I'm at a loss if #18008 doesn't fix the issue.

[2017-04-06 19:44] davidsh commented on #18013
If you look at the current cookie parsing code:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Primitives/src/System/Net/CookieContainer.cs#L41

These comments here are relevant:

[code]

[2017-04-06 19:45] wgraham17 commented on #17978
Potentially. We are in the process of turning down our parallelism for this work.

What is a "huge" backlog? Hundreds of requests? Thousands?

[2017-04-06 19:51] stephentoub commented on #17978
Enough that the request queued doesn't get processed for 90s (or whatever you may have changed the timeout to). I don't have an exact number of what it would take.  I'm just reaching in trying to explain how this could be happening.

[2017-04-06 19:51] weshaggard opened #18019 "HttpClient Error "An internal response size limit was exceeded""
@zenixgrace commented on [Wed Apr 05 2017](https://github.com/dotnet/standard/issues/293)

Hello,

I got an error "An internal response size limit was exceeded" when calling SendAsync method in HttpClient
Is it about buffer size or what?
try to set MaxResponseContentBufferSize but no luck.

---

@weshaggard commented on [Thu Apr 06 2017](https://github.com/dotnet/standard/issues/293#issuecomment-2

[2017-04-06 19:52] stephentoub commented on #18019
Dup of https://github.com/dotnet/corefx/issues/18000

[2017-04-06 19:52] #18019 closed

[2017-04-06 19:52] #17808 closed

[2017-04-06 19:52] #17809 closed

[2017-04-06 19:54] nzcoward commented on #15902
Sure, I'm running it in IIS so the context is the interactive user, which
is either anon or their windows account.

I'm running the app pool as the MSA, which I'm not overly happy about, but
it is very locked down. But it means I have to manually pull the account
details (name). If I could use the app pool context in the principal
context...

On 6 Apr 2017 7:24 pm, "Travis Querec" <notifications@g

[2017-04-06 19:56] kasajian commented on #17935
Maybe there is a single service that can be used such that, based on the query in the URL, it will go to a page for that particular NuGet component.   Or, maybe, the service can use the originating web-page to determine which component this is for.   Anyway, once there, there can be a page that's both official docs, and community docs.   That means that, from the get-go, every component will at a

[2017-04-06 20:04] JaedsonBarbosa commented on #4278
@krwq  Why you don't merge the PR #17969 now?

[2017-04-06 20:17] Nothing4You commented on #18013
RFC2965 doesn't seeem to be relevant for Set-Cookie.
In [RFC2109](https://tools.ietf.org/html/rfc2109#page-5) I found the following:

However, as already written in my original post, firefox, curl and python-requests all support this method just fine, so I believe there should be a way to use the appearently commonly accepted way with .NET aswell.

According to [RFC2109](https://tools.ietf.org/htm

[2017-04-06 20:22] bartonjs commented on #17892
The samples get a lot smaller with the API revisions:

[code]

[2017-04-06 20:24] tquerec commented on #15902
To summarize,  PrincipalContext provides two models for authentication.  You need to either provide a username and password or execute the thread in the appropriate security context and don't pass any account information.  Trying to use an account by just specifying a username without providing credentials is not supported.  It seems like you have some constraints in your system you need to design

[2017-04-06 20:24] #15902 closed

[2017-04-06 20:25] bartonjs commented on #17892
@terrajobst Notes of what changed after the review meeting (and a couple of hours more whiteboarding with @morganbr and @ChadNedzlek) is with the updated API proposal in the top entry.

[2017-04-06 20:36] danmosemsft commented on #17749
This is breaking all System.Net.NameResolution.Pal.Tests tests because of the native assert. eg

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170406.02/workItem/System.Net.NameResolution.Pal.Tests/wilogs

[2017-04-06 20:40] alexperovich commented on #17976
Are you wanting us to rename the `GetBrightness()` function?

[2017-04-06 20:47] janvorli commented on #18009
I have tried it locally on Ubuntu 14.40 with a debug version of System.Security.Cryptography.Native.OpenSsl.so built on CentOS 7 and I can reproduce it.
The test System.Security.Cryptography.EcDsa.Tests.ECDsaImportExportTests.TestExplicitCurves has 16 cases, 8 with CurveType = Characteristic2 and 8 with curveType=PrimeShortWeierstrass. The Characteristic2 always fails while the PrimeShortWeierstra

[2017-04-06 20:54] stephentoub commented on #16611
I spent some time digging into this.  The problem appears to be due to a difference in `shutdown` behavior between Windows and Unix: on Windows, calling Shutdown(Both) doesn't trigger the operation's completion, and then calling Dispose causes the operation to fail as OperationAborted.  On Unix, calling just Dispose() also causes the operation to fail as OperationAborted, but calling Shutdown(Both

[2017-04-06 20:58] danmosemsft commented on #17858
OK.

[2017-04-06 20:58] #17858 closed

[2017-04-06 21:01] bartonjs commented on #18009
Thanks, Jan.  I can understand the error being spillover (the queue is a lot noisier than Win32GetLastError).  But why are we in a different path for portable vs not?  The non-portable case is either succeeding, or the capabilities probe says that Char2 doesn't work (and in the portable case it clearly says Char2 does work).

Assuming they're using the same libcrypto, the delta has to be coming fr

[2017-04-06 21:02] danmosemsft commented on #17984
ErrorCode:5 == AccessDenied. (No surprise) We should improve this message:
[code]

Desktop had
[code]

We have code elsewhere that does that.

[2017-04-06 21:08] ViktorHofer commented on #17126
Update from today, 65 missing members (instead of 75 from above):

[code]

[2017-04-06 21:09] shaggygi opened #18023 "SerialPort support for Raspberry PI"
This issue was created to continue the discussion on further support of SerialPort related APIs for other platforms/devices.  You can see related issues below:

[Serial Port support on Windows](https://github.com/dotnet/corefx/issues/984)
[Serial Port support on Unix/OSX](https://github.com/dotnet/corefx/issues/18012)

I actually don't know what the ultimate expectation is for this topic as I hope

[2017-04-06 21:10] terrajobst commented on #18017
Hmm, I'm not sure it's worth it Oren. It would take years to get into .NET Framework! 😛

That scenario makes sense. Here is what I think we should be doing:

[code]

That allows you do that like this:

[code]

[2017-04-06 21:17] onovotny commented on #18017
@terrajobst Only issue is what you do with `Size` * a double? I should think Siz

[code]

The common case here is dealing with HiDPI scale factors, which are inherently floats --

[code]

[2017-04-06 21:22] onovotny commented on #18017
Are there similar structs in System.Windows.* that need this (WPF?)

[2017-04-06 21:29] MaitreDede commented on #18023
Hi, I think that the SerialPort on Raspberry Pi is :

- Use of the on-board UART : usable as any serial port, if not used by default serial console
- Use of USB dongle serial ports : should be usable when linux support is added, I don't think there will be specific work for RPi here.

I don't know if Docker on Raspberry Pi is a common use case, but I think that it may just work when linux is suppo

[2017-04-06 21:33] janvorli commented on #18009
@bartonjs the non-portable versions have the HAVE_OPENSSL_EC2M detected at build time as set and so they support the Characteristic2 curve.

[2017-04-06 21:37] dhoehna commented on #16289
@danmosemsft Alright.  So, I'll start out by expanding the stringtests class and we can go from there.  Sound good?  Or am I missing the point?

[2017-04-06 21:40] morganbr commented on #17892
@bartonjs , this looks very good. I really like that the samples now really only contain business logic rather than ceremony to use the class for the major scenarios our users are likely to have.

[2017-04-06 21:40] danmosemsft commented on #17985
Appcontainer. `Directory.Exists("..")` fails. Test should skip that part on UWP.

[2017-04-06 21:42] janvorli commented on #18009
@bartonjs I've overlooked the `the capabilities probe says that Char2 doesn't work`. So we probably have a bug in there for the portable case.

[2017-04-06 21:45] danmosemsft commented on #17932
SEveral UWP tests are failing this way, it's RemoteExecutor itself

[2017-04-06 21:57] danmosemsft commented on #16289
Sure, you can add coverage for everything in the ref, which for this class is not much

[code]

As you [can see ](https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/
 )it's the only thing covered in the whole VB assembly, in fact we have https://github.com/dotnet/corefx/issues/14344 to fix the coverage

[2017-04-06 21:59] ericstj opened #18029 "CLI for Alpine is broken"
The CLI for Alpine claims to contain the 1.1.0 shared framework but it is not.  It's some 1.0.0 version in a folder that's been renamed.

This is causing anything that depended on 1.1.0 surface area / assembly versions to fail.

[2017-04-06 22:01] brianrob commented on #17981
Yes, it is a duplicate of #9257.

[2017-04-06 22:01] #17981 closed

[2017-04-06 22:08] ericstj commented on #18029
When you fix this, please undo this line: https://github.com/dotnet/corefx/pull/18031/files#diff-0b192804a6349e8c26d2b027afbd89a2R46

[2017-04-06 22:09] bartonjs commented on #14577
I just tried all the corefx tests from master (InnerLoop) on Win10 Creators Update; and at least one of the reporting-failed tests is in that set.  So looks like we did help Windows prevent a regression :smile:.

[2017-04-06 22:09] #14577 closed

[2017-04-06 22:29] VSadov commented on #17557
This is specific to linq to xml.

[2017-04-06 22:36] CIPop commented on #14577
Must have missed this... No, I'm not seeing these failures anymore.
Thanks @bartonjs !

[2017-04-06 22:40] alexperovich commented on #17982
This was a problem talking to azure storage to upload the logs. @MattGal is investigating that.

[2017-04-06 22:47] krwq commented on #4278
@JaedsonBarbosa It just got merged, I believe the package should be there tomorrow morning - we usually don't merge unless the PR is green on the CI - we got some OSX CI issues since yesterday so it got stale a little bit

[2017-04-06 22:48] krwq commented on #16779
This one is quite a mess - currently no clue why this is failing 😉

[2017-04-06 23:01] krwq commented on #16594
Changing to future. This will stay netcoreapp+uap for 2.0. Close this issue if we decide that we don't want to change it in the future

[2017-04-06 23:02] tijoytom opened #18036 "HttpWebRequest.SendRequest fails on UAP due to settting MaxResponseHeadersLength"
The UAP specific code in https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/netcore50/System/Net/HttpClientHandler.cs will throw PlatformNotSupportedException if the MaxResponseHeadersLength is to set. This is simliar to #17812

[2017-04-06 23:20] danmosemsft commented on #17984
Ignore the above -- this error of course is coming from test code. Chagned to `DriveInfo` which gives a proper message. Fixed test

[2017-04-06 23:21] alexperovich commented on #17763
@hughbe If this happens again can you reopen and link the Jenkins build. I can't find any runs that failed like this.

[2017-04-06 23:21] #17763 closed

[2017-04-06 23:26] JaedsonBarbosa commented on #4278
@krwq Can you let me know when the NuGet package with the changes can be downloaded?

[2017-04-06 23:51] alexperovich commented on #10546
@ianhays is there any value in fixing these tests? What value do we get in testing that the windows limits haven't changed?

[2017-04-07 00:00] svick commented on #17935
@kasajian I don't see any reason to have separate official and community docs. Whatever decision is made about where package documentation should be, it should be both official and accepting community contributions, just like almost everything related to .Net Core, including documentation, already is.

[2017-04-07 00:40] tarekgh commented on #17839
@danmosemsft are you sure you are able to repro it with the latest? I tried the exact code and I cannot repro it.

@RavuAlHemio what version of System.Text.Encoding.Codepages.dll you are using? could you please share the details of this version?

I have strong believe this is the issue fixed by @stephentoub in the commit
https://github.com/dotnet/corefx/commit/827e85b010702abe05ee86b6fbea7414b9eba

[2017-04-07 01:12] rture commented on #16227
@bartonjs problem was only happing on Linux, it is working fine on my local windows environment. I am not sure which version of Linux AWS Lambdas running on. I was simple trying to validate jwt in my service.
It was a small app so decided to convert into node.js express.

[2017-04-07 01:16] #17978 closed

[2017-04-07 01:42] karelz commented on #18023
@Petermarcu what are supported OS versions of Linux and Windows on Raspberry Pi?

[2017-04-07 01:48] karelz commented on #18002
The code you wrote inspects assembly version (defined by [AssemblyVersionAttribute](https://msdn.microsoft.com/en-us/library/system.reflection.assemblyversionattribute(v=vs.110).aspx)).

I don't know what the `dotnet publish` command sets in csproj -- @davkean any idea where to direct the question? Does it belong into your area or CLI area?

[2017-04-07 02:25] karelz commented on #18017
@alexperovich does it sound reasonable? If yes, please mark it api-ready-for-review.
@onovotny needs a proof we can do API reviews fast 😝 (at least on Core if not Desktop)

System.Windows.* does not live in CoreFX, so we cannot influence it from here :(

[2017-04-07 02:34] #17985 closed

[2017-04-07 03:03] #17996 closed

[2017-04-07 03:12] #12539 closed

[2017-04-07 03:15] #17966 closed

[2017-04-07 04:55] danmosemsft commented on #18015
Please remove this if @sepidehMS checks it in:
[code]

[2017-04-07 05:10] Petermarcu commented on #18023
I would expect Ubuntu mate and Raspbian to be the main ones. The first already works and the second will soon. Win10iot works as well.

[2017-04-07 05:25] shmao commented on #18015
@danmosemsft That seems not checked in. I don't see it in the latest code.

Closing the issue as the PR had been merged.

[2017-04-07 05:25] #18015 closed

[2017-04-07 05:55] karelz commented on #16227
I guess that without repro or more details, there is nothing we can do. If you find more information, please let us know, we will be happy to dig deeper.

[2017-04-07 05:55] #16227 closed

[2017-04-07 06:00] karelz commented on #4278
@JaedsonBarbosa be warned that .NET Standard 2.0 support in UWP is bleeding edge -- it won't be part of .NET Core 2.0 -- it will be part of the next version, temporarily named as 2.1. We are working on some of the 2.1 stuff ahead of time and in parallel with 2.0, to stand up infrastructure, etc., so that we can then heavily parallelize (after May 10 which is our ZBB for 2.0).
Either way, you might

[2017-04-07 06:03] karelz commented on #17749
I am curious to find out what caused the test failure now ... some accidental non-deterministic product regression?

[2017-04-07 06:06] karelz commented on #17564
@lmolkova please ping me and @leecow via email, I will share shiproom internal links ...

[2017-04-07 06:08] karelz commented on #17917
@Pothulapati happy to hear you are unblocked. However, I would still like to dig into the infrastructure issue in parallel to find out what's wrong on your machine - please follow @joperezr's instructions if you can. We may want to take it into separate issue (infra issue) - can you please file a new one and link it here? Thanks! (cc @mellinoe)

[2017-04-07 06:12] karelz commented on #17043
FYI: @tquerec I added the 'netfx-port-consider' label, which will make sure we pay attention to it in .NET Framework database where the issue will be mirror (when we're ready to fund that work).

[2017-04-07 06:19] karelz commented on #17688
BTW: Internal discussion lead to agreement that we should recommend **`Sockets`** for cross-process communication. And that we should release a sample, because apparently it is easy to do it incorrectly :).
It may take a while before we get to it. If someone wants to experiment with a sample, we will be happy to guide the work and review it.

cc @geoffkizer

[2017-04-07 06:25] karelz commented on #2295
@krwq this is interesting topic. We hit similar spec incompatibilities in Http space - #13036.

If you think about this XPath case, can you imagine adding the spec-version choice as argument to constructor? Or is the relevant functionality exposed (also) as static methods?
If it is via static methods (which is the case of #13036), then we either have to add spec-version argument to all of them, or

[2017-04-07 06:41] ctolkien commented on #17976
Changing `GetBrightness()` to `GetLightness()` or `GetLuminosity()` would be more correct than what it is currently.

That would help in making a slightly clearer distinction as to what color representation these methods represent. If you're going to break the API however, I'd suggest going further.

If you look at a call to `GetSaturation()` (for instance) in isolation - how are you to know what

[2017-04-07 06:42] nitinjain commented on #17272
I'm getting the same issue.
I have created an API and a web client which calls api both are hosted in docker
when i try to call api from controller using HttpClient().GetAsync() i get "`An error occurred while sending the request. ---> System.Net.Http.CurlException: Couldn't connect to server`"

below is code in controller (web client)
[code]
Api

[code]

Docker compose
  api:
    image: api
    b

[2017-04-07 06:46] karelz commented on #17299
@davidsh the "large overhead of adding APIs" is already behind us. Adding APIs these days is actually pretty easy - see e.g. #16034 or #16118. We may use couple of tricks from #16996 to add \*.netcoreapp.cs files, or maybe #ifdef if we're cross-compiling the sources (I don't think we do that), but that should be it.
If that's not the case, I'll be happy to get infra folks to help us and guide us.

[2017-04-07 06:57] Jiayili1 commented on #17920
Failed again on build [20170407.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170407.01/workItem/System.Collections.Concurrent.Tests/analysis/xunit/System.Collections.Concurrent.Tests.ConcurrentBagTests~2FManyConcurrentAddsTakes_CollectionRemainsConsistent(operations:%203000000))

[2017-04-07 07:00] karelz commented on #17534
@MaximRouiller challenge accepted. It would be great to see similar blog post (or comparison) on CoreFX repo -- you can start with [easy issues](https://github.com/dotnet/corefx/labels/easy) and use draft of the docs above.

BTW: I am myself 'newbie' in contributions to CoreFX as well. I actually didn't submit any PR beside docs changes since I joined CoreFX team in 2016/10 (although I did plenty

[2017-04-07 07:12] karelz commented on #14614
Stupid question ... given that we will most likely package libcurl (with some latest-ish version), won't this problem go away? @janvorli?
Or what am I missing?

[2017-04-07 07:17] Jiayili1 commented on #15065
This issue is repro on portable core tests: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170407.01/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FOpenExeConfiguration1_UserLevel_PerUserRoamingAndLocal

[2017-04-07 07:18] Jiayili1 commented on #15066
This issue is repro on portable core tests: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170407.01/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FexePath_UserLevelPerRoamingAndLocal

[2017-04-07 07:19] Jiayili1 commented on #17420
This issue is repro on portable core tests: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170407.01/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessTests~2FTestBasePriorityOnUnix

[2017-04-07 07:21] Jiayili1 commented on #17536
This issue is repro on portable core tests: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170407.01/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.DirectoryInfo_Create~2FDirectoryLongerThanMaxLongPath_ThrowsPathTooLongException

[2017-04-07 07:22] Jiayili1 commented on #17982
This issue is repro on portable core tests: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170407.01/workItem/System.Linq.Parallel.Tests/wilogs

[2017-04-07 07:27] Jiayili1 commented on #17591
This issue is repro on portable core tests: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170407.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.CancellationTest~2FReadAsStreamAsync_ReadAsync_Cancel_BodyNeverStarted_TaskCanceledQuickly

[2017-04-07 07:27] Jiayili1 commented on #16610
This issue is repro on portable core tests: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170407.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.DiagnosticsTest~2FSendAsync_ExpectedDiagnosticCancelledActivityLogging

[2017-04-07 07:28] Jiayili1 commented on #17537
This issue is repro on portable core tests: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170407.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SchSendAuxRecordHttpTest~2FHttpClient_ClientUsesAuxRecord_Ok

[2017-04-07 07:33] Jiayili1 commented on #17749
This issue is repro on portable core tests: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170407.01/workItem/System.Net.NameResolution.Pal.Tests/wilogs

[2017-04-07 07:35] Jiayili1 commented on #17538
This issue is repro on portable core tests: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170407.01/workItem/System.Runtime.Numerics.Tests/analysis/xunit/System.Numerics.Tests.logTest~2FRunLargeValueLogTests

[2017-04-07 07:36] Jiayili1 commented on #16945
This issue is repro on portable core tests: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170407.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveApm~2FSendToRecvFrom_Datagram_UDP(loopbackAddress:%20::1)

[2017-04-07 07:36] naster01 commented on #6751
Any feedback? This issue is breaking my UWP desktop app as I require SqlClient. Why can't we just have direct access to the CoreFx from UWP? Can anybody point me to the UWP's team or the open source repo to get lastest updates? Thx @terrajobst

[2017-04-07 07:37] Jiayili1 commented on #17421
This issue is repro on portable core tests: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170407.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.UdpClientTest~2FCtor_IPEndPoint_CanSend

[2017-04-07 07:40] Jiayili1 commented on #18009
Failed again on build 20170407.01: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170407.01/workItem/System.Security.Cryptography.Algorithms.Tests

[2017-04-07 07:45] dotnet-mc-bot opened #18048 "Test: System.Tests.EnvironmentTests/GetFolderPath_Windows failed with "Xunit.Sdk.NotEmptyException""
Opened on behalf of @Jiayili1

The test `System.Tests.EnvironmentTests/GetFolderPath_Windows(folder: AdminTools)` has failed.

Assert.NotEmpty() Failure

        Stack Trace:

           at System.Tests.EnvironmentTests.GetFolderPath_Windows(SpecialFolder folder)
Build : Master - 20170407.01 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64
  - x64-Release
  - x64-Debug

Detail: https://mc

[2017-04-07 07:50] dotnet-mc-bot opened #18049 "Test: System.Tests.Environment_Exit/CheckExitCode failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Tests.Environment_Exit/CheckExitCode(expectedExitCode: -1)` has failed.

Assert.Equal() Failure\r
    Expected: -1\r
    Actual:   -1073740791

        Stack Trace:

           at System.Tests.Environment_Exit.CheckExitCode(Int32 expectedExitCode)
Build : Master - 20170407.01 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64
  - x64-Release

[2017-04-07 07:52] dotnet-mc-bot opened #18050 "Tests under: System.Tests.SetEnvironmentVariable failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Tests.SetEnvironmentVariable/Default(target: User)` has failed.

only machine target should have access issues\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Tests.SetEnvironmentVariable.ExecuteAgainstTarget(EnvironmentVariableTarget target, Action action, Action cleanUp)
Build : Master - 20170407.01 (UWP F5 Te

[2017-04-07 07:55] dotnet-mc-bot opened #18051 "Tests under: System.Reflection.Tests.AssemblyTests failed with "System.NotSupportedException""
Opened on behalf of @Jiayili1

The test `System.Reflection.Tests.AssemblyTests/AssemblyLoadFromBytes` has failed.

System.NotSupportedException : Assembly.Load(byte[], ...) is not supported in AppX.

        Stack Trace:

           at System.AppDomain.CheckLoadByteArraySupported()
       at System.Reflection.Assembly.Load(Byte[] rawAssembly, Byte[] rawSymbolStore)
       at System.Reflection.Asse

[2017-04-07 07:58] dotnet-mc-bot opened #18052 "Test failure: System.Tests.GuidTests/Parse_Invalid_Netfx(input: \"{0xdddddddd, 0xdddd, 0xdddd,{0xdd0xdd,0xdd,0xdd,0x\"..., exceptionType: typeof(System.FormatException))"
Opened on behalf of @Jiayili1

The test `System.Tests.GuidTests/Parse_Invalid_Netfx(input: \"{0xdddddddd, 0xdddd, 0xdddd,{0xdd0xdd,0xdd,0xdd,0x\"..., exceptionType: typeof(System.FormatException))` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.FormatException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Tests.GuidTests.Parse_Invalid_Ne

[2017-04-07 07:58] RavuAlHemio commented on #17839
@tarekgh: My instance of `System.Text.Encoding.CodePages.dll` is from NuGet package `System.Text.Encoding.CodePages` version 4.3.0; the file version is 4.6.24705.1.

Since I had not originally found a GitHub issue on this subject, I assumed it had not been brought to the project's attention yet. I confess I was slightly intimidated by corefx's build process, so I didn't try to reproduce it on mast

[2017-04-07 08:00] dotnet-mc-bot opened #18053 "Tests under: System.Tests.StringTests failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Tests.StringTests/ToLower_TurkishI` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Tests.StringTests.<>c.<ToLower_TurkishI>b__95_2()
       at System.Tests.Helpers.PerformActionWithCulture(CultureInfo culture, Action test)
       at System.Tests.StringTests.ToLower_TurkishI()

[2017-04-07 08:03] tmds commented on #17749
@karelz clicking the link above gives me a page

And then I can go and figure out at ci.dot.net myself where to find the build logs :(

Perhaps the portable builds has some other conditions of:
[code]

Posix has a newer function to do `gethostbyname`: `getaddrinfo`. I wonder if that is available on all platforms .NET Core is targeting?
It may fix issues like this one. It's thread safe and it has s

[2017-04-07 08:04] dotnet-mc-bot opened #18054 "Test failure: WindowsIdentityTests/CloneAndProperties(cloneViaSerialization: False)"
Opened on behalf of @Jiayili1

The test `WindowsIdentityTests/CloneAndProperties(cloneViaSerialization: False)` has failed.

System.UnauthorizedAccessException : Attempted to perform an unauthorized operation.

        Stack Trace:

           at System.Security.Principal.WindowsIdentity.get_AuthenticationType()
       at System.Security.Claims.ClaimsIdentity..ctor(IIdentity identity, IEnumerable`

[2017-04-07 08:05] Jiayili1 commented on #18054
#10883

[2017-04-07 08:06] dotnet-mc-bot opened #18055 "Test failure: WindowsIdentityTests/ConstructorsAndProperties"
Opened on behalf of @Jiayili1

The test `WindowsIdentityTests/ConstructorsAndProperties` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at WindowsIdentityTests.ConstructorsAndProperties()
Build : Master - 20170407.01 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64
  - x64-Release
  - x64-Debug

Detail: https://mc.dot.net/#/

[2017-04-07 08:07] Jiayili1 commented on #18055
#10884

[2017-04-07 08:09] dotnet-mc-bot opened #18056 "Tests under: System.ServiceProcess.Tests.SafeServiceControllerTests failed with "System.InvalidOperationException""
Opened on behalf of @Jiayili1

The test `System.ServiceProcess.Tests.SafeServiceControllerTests/EnumerateDeviceService` has failed.

System.InvalidOperationException : Cannot open Service Control Manager on computer '.'. This operation might require other privileges.\r
    ---- System.ComponentModel.Win32Exception : Access is denied

        Stack Trace:

           at System.ServiceProcess.Servic

[2017-04-07 08:11] dotnet-mc-bot opened #18057 "Test failure: System.Text.RegularExpressions.Tests.RegexMatchTests/Match_SpecialUnicodeCharacters"
Opened on behalf of @Jiayili1

The test `System.Text.RegularExpressions.Tests.RegexMatchTests/Match_SpecialUnicodeCharacters` has failed.

Assert.Equal() Failure\r
    Expected: False\r
    Actual:   True

        Stack Trace:

           at System.Text.RegularExpressions.Tests.RegexMatchTests.VerifyMatch(Match match, Boolean expectedSuccess, String expectedValue)
       at System.Text.RegularExpr

[2017-04-07 08:15] dotnet-mc-bot opened #18058 "AllocateNativeOverlapped_PreAllocated_ReusedReturnedNativeOverlapped_OffsetLowAndOffsetHighSetToZero failed with "System.ArgumentException""
Opened on behalf of @Jiayili1

The test `ThreadPoolBoundHandleTests/AllocateNativeOverlapped_BlittableTypeAsPinData_DoesNotThrow` has failed.

System.ArgumentException : The handle is invalid.\r
    Parameter name: handle

        Stack Trace:

           at System.Threading.ThreadPoolBoundHandle.BindHandle(SafeHandle handle)
       at ThreadPoolBoundHandleTests.CreateThreadPoolBoundHandle(SafeHan

[2017-04-07 08:19] dotnet-mc-bot opened #18059 "Tests under: System.Xml.Linq.TreeManipulation.Tests.XLinqTests.SaveWithFileName failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `XLinqTests.SaveWithFileName/XDocumentSave` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at XLinqTests.SaveWithFileName.XDocumentSave()
Build : Master - 20170407.01 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64
  - x64-Release
  - x64-Debug

Detail: https://mc.dot.net/#/product/ne

[2017-04-07 08:22] karelz commented on #17749
@tmds thanks for useful info!
@janvorli can you please help with questions about targeted platforms?
@Priya91 can you please check it out?

@tmds the mc.dot.net is not ready for external contributors yet :( ... AFAIK it is the long-term plan.
Do you think you would benefit from access to it in general? If yes, please ping me over email and let's ask around if it is ok to open it up for our partner

[2017-04-07 08:24] dotnet-mc-bot opened #18060 "Test failure: System.Xml.Tests.TCXmlSchemaValidatorMisc/XSDValidationGeneratesInvalidError_1"
Opened on behalf of @Jiayili1

The test `System.Xml.Tests.TCXmlSchemaValidatorMisc/XSDValidationGeneratesInvalidError_1` has failed.

System.UnauthorizedAccessException : Access to the path 'C:\\dotnetbuild\\work\\52381fec-489e-4a53-8303-cc6c2645de0d\\Work\\93817085-3283-42ba-938f-99eeb5fc84a0\\Unzip\\commonstructure.xsd' is denied.

        Stack Trace:

           at System.IO.FileStream.OpenHan

[2017-04-07 08:27] janvorli commented on #18009
Is there a way to find commit # for which the test was built? I believe this failed build didn't contain my fix yet.

[2017-04-07 08:31] tmds commented on #17749
@karelz

If this last link would link to the jenkins build instead of the general site, that would avoid the manual lookup. Looks like the info is in the url, so it should be feasible to get it into the link.

[2017-04-07 08:41] karelz commented on #17749
@Chrisboh is it doable to help RedHat folks to be productive?

[2017-04-07 08:42] janvorli commented on #17749
@tmds is the getaddrinfo supported on RHEL7.2? That's the OS where we build our portable stuff and it contains the minumal supported libc etc. From its doc, is seems it should be there, since it seems it was introduced in libc 2.3.xxx
As for our other supported targets, it seems to be supported on OSX, FreeBSD, NetBSD, Alpine Linux and Android too, so we should be able to use that.

[2017-04-07 08:49] tmds commented on #17749
It's available on rhel7.

[2017-04-07 09:10] Jiayili1 commented on #17537
This issue is repro in CI, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/8/testReport/System.Net.Http.Functional.Tests/SchSendAuxRecordHttpTest/HttpClient_ClientUsesAuxRecord_Ok/

[2017-04-07 09:53] JonHanna opened #18062 "Indexing of non-sz single-ranked arrays via dynamic"
See https://github.com/dotnet/corefx/pull/17810#discussion_r109409208 and #18038

Now that `dynamic` can correctly be used with non-sz single-ranked arrays it can also be *incorrectly* used via indexing. At the time I noticed this behaviour I described it as "interesting" but considered that it might not be worth prohibiting as per the description above. I also incorrectly considered that it was c

[2017-04-07 09:55] JonHanna opened #18063 "Unverifiable code in expressions accessing non-sz single-rank arrays"
Related to #18062 the problem there presumably involves creating an expression that compiles to unverifiable code. Investigate what this expression is and either prohibit it being created, throw an appropriate exception upon compilation, or compile it to something verifiable, as appropriate.

[2017-04-07 10:02] JonHanna opened #18064 "Incorrect error message on rank-mismatch via dynamic"
Given:
[code]
This fails to compile with "CS0022 Wrong number of indices inside []; expected 3"

However:
[code]

The error message of the `RuntimeException` is "Cannot apply indexing with [] to an expression of type 'System.Array'" (the same as that for the CS0021 one would get if `array` was typed as `Array`).

Ideally it should match the exception of the most strongly-typed way of resolving the

[2017-04-07 10:04] JonHanna opened #18065 "Question: Best way to unit-test localisable error messages?"
Error messages can be localisable, which means that tests that compare the message with a fixed string are locale-dependent.

So far whenever I've needed to examine a message I've either looked for a particular substring (which will serve my needs right now too, but it set me wondering about general principles), or verified that messages from exceptions thrown one way match those thrown another. I

[2017-04-07 10:55] stephentoub commented on #14614
I'm less certain about that.

[2017-04-07 12:06] JonHanna commented on #18063
The expressions in question produce verifiable code in .NET Core as per #4164

Assuming that netfx uses the GAC version of S.L.Expressions, this isn't a bug in corefx.

[2017-04-07 12:06] #18063 closed

[2017-04-07 13:18] chuckeng-isp commented on #14724
Looks good

[2017-04-07 13:35] mtraudt commented on #17278
I did not include anything from the obj folder in the zip file. If you need that, let me know.

[2017-04-07 13:38] bartonjs commented on #16047
Don't know why this didn't tag closed, but it's done.

[2017-04-07 13:38] #16047 closed

[2017-04-07 15:04] JoshClose opened #18068 "netstandard AssemblyVersion in .csproj file is generating version 0.0.0.0"
I have a netstandard1.3 project and I have this in the `.csproj` file `<AssemblyVersion>3.0.0.0</AssemblyVersion>`. The version that is set on the generated assembly using `msbuild /t:pack` is `0.0.0.0`. If I put this `[assembly: AssemblyVersion( "3.0.0.0" )]` in the `AssemblyInfo.cs` file, it works fine.

Is this expected behavior or am I doing something wrong?

[2017-04-07 15:15] eerhardt commented on #18009
There's a core-eng bug to allow you to do this easily:  https://github.com/dotnet/core-eng/issues/507.

The only way I know how to do it is documented internally at:

https://microsoft.sharepoint.com/teams/netfx/corefx/_layouts/OneNote.aspx?id=%2Fteams%2Fnetfx%2Fcorefx%2FDocuments%2FCoreFx%20Notes&wd=target%28Engineering%2FDev%20HOWTOs.one%7C20E388BF-8C41-4D6C-814C-63118AA79B52%2FHow%20to%20find%2

[2017-04-07 15:21] steveharter commented on #17749
The only other 'valid' error from gethostbyname that is not accounted for is NETDB_INTERNAL, so that error value should be added to the ConvertGetHostErrorPlatformToPal method and any appropriate managed or pal code.

NO_ADDRESS is actually the same value as NO_DATA so the recent change here didn't do anything.

For cases where gethostbyname_r is called extended error information can be obtained f

[2017-04-07 15:37] janvorli commented on #14614
@karelz it looks like that we are not going to do that for 2.0.0 after all.

[2017-04-07 15:40] krwq commented on #17557
@shmao is this solely rd.xml file change? Are there any failing tests related to this? What are the steps to get this error locally? cc: @sepidehMS

[2017-04-07 15:51] krwq commented on #4278
@JaedsonBarbosa seems like we didn't produce any new version for 2 days 😞 You can observe changes here:
https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Security.Cryptography.Xml
whenever a package appears after 4/6 it should have the change you need. I'll check today why there was no package - it could be related to networking issues we have with OSX builds

[2017-04-07 15:52] tarekgh commented on #17839
@RavuAlHemio thanks for reporting it. it is good anyway to validate the fix :-) and ensure we don't have any problem.

[2017-04-07 15:52] #17839 closed

[2017-04-07 15:53] stephentoub commented on #17839
If we don't already have one, could we add a test to ensure this doesn't regress?

[2017-04-07 16:06] tarekgh commented on #18002
CC @weshaggard @ericstj

@golfguy0082 net core is not different than the full framework. you can set the assembly version in your assembly by adding the attributes like

[code]

and the way you are calling Assembly class to get the version is correct. The example in the link https://msdn.microsoft.com/en-us/library/system.reflection.assembly(v=vs.110).aspx is demonstrating that

[2017-04-07 16:08] krwq commented on #2295
@karelz quick look it seems to me that we only have two overloads which take XPath expression: XPathExpression.Compile. I can see couple of options:
- add a static property which would globally change the behavior (I'm not expecting anyone use two different versions of XPath in one project)
- add new overloads - I do not like this approach as many overloads are simply confusing
- a new class which

[2017-04-07 16:10] ViktorHofer opened #18069 "MembersMustExist: System.Diagnostics.Debug.Listeners"
I am currently looking into differences between Core and Desktop and opening this issue as a child of https://github.com/dotnet/corefx/issues/15255#issuecomment-291137517

The following member is missing in corefx but is available in netfx:

`MembersMustExist : Member 'System.Diagnostics.Debug.Listeners.get()' does not exist in the implementation but it does exist in the contract.`

@joperezr: Wou

[2017-04-07 16:11] paulomorgado opened #18070 "Removing overrides is also dangerous"
In the [Breaking Change Rules - Members](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/breaking-change-rules.md#members) it is mentioned:

Removing an override will cause in throwing a `System.TypeLoadException` for types that are overriding that implementation.

Here's a repo of these issues: https://github.com/paulomorgado/CSharpVirtualCallGotchas

[2017-04-07 16:13] weshaggard commented on #18002
.NET Core tooling is a little different because we have enabled folks to set the value in msbuild properties directly. @golfguy0082 have a look at https://github.com/dotnet/sdk/issues/2 which is I think the closest set of documentation that I can find on the matter.

[2017-04-07 16:16] ViktorHofer opened #18071 "MembersMustExist: System.IO.IsolatedStorage"
I am currently looking into differences between Core and Desktop and opening this issue as a child of https://github.com/dotnet/corefx/issues/15255#issuecomment-291137517

The following members are missing in corefx but are available in netfx:

[code]

Related issue which talks about the GetStore member: https://github.com/dotnet/corefx/issues/10935

@JeremyKuhne @ianhays: Is it possible / Does it

[2017-04-07 16:19] krwq commented on #17935
@svick fair point, I find README pages easiest to find and contribute. Usually any docs which are not close to a source code are quite outdated mostly because it is not obvious where do you change it. Whatever we choose it should be obvious how to contribute

[2017-04-07 16:20] ViktorHofer opened #18072 "Missing API from System.Reflection.Emit"
I am currently looking into differences between Core and Desktop and opening this issue as a child of https://github.com/dotnet/corefx/issues/15255#issuecomment-291137517

The following members are missing in corefx but are available in netfx:

[code]

@AtsushiKan @DnlHarvey: Is it possible / Does it make sense to port these members to Core or is it the same as with TypeInfo that the future for Sy

[2017-04-07 16:25] ViktorHofer opened #18073 "MembersMustExist: System.Security.Principal"
I am currently looking into differences between Core and Desktop and opening this issue as a child of https://github.com/dotnet/corefx/issues/15255#issuecomment-291137517

The following members are missing in corefx but are available in netfx:

[code]

@bartonjs @steveharter: It is possible / Does it make sense to port these members to Core? They live in System.Security.Principal.Windows. https://

[2017-04-07 16:26] MattGal commented on #16126
This issue may also be causing official build failures randomly due to attempting to write the same blob at once.  We should attempt to get blob naming unique as soon as possible so as to prevent this.

[2017-04-07 16:27] AtsushiKan commented on #18072
I think we should leave RefEmit along until we have better plans.

[2017-04-07 16:28] tarekgh commented on #18002
I'll move this issue to the SDK repo per Wes comment

[2017-04-07 16:28] #18002 closed

[2017-04-07 16:28] tarekgh commented on #18002
Issue moved to [dotnet/sdk #1098](https://github.com/dotnet/sdk/issues/1098) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-07 16:31] tarekgh commented on #17839
I'll check that and will add the test if there is no one catching such issue.

[2017-04-07 16:33] ViktorHofer opened #18074 "MembersMustExist: System.Security.Cryptography.ECDsaCng"
I am currently looking into differences between Core and Desktop and opening this issue as a child of https://github.com/dotnet/corefx/issues/15255#issuecomment-291137517

The following member is missing in corefx but is available in netfx:

`MembersMustExist : Member 'System.Security.Cryptography.ECDsaCng.VerifyData(System.IO.Stream, System.Byte[])' does not exist in the implementation but it doe

[2017-04-07 16:34] MattGal commented on #17982
Given the same tests hit the same issue on multiple days, and the logging shows the tests passing but failing inside helix infra code, I am self-assigning this and will investigate today.

[2017-04-07 16:40] ViktorHofer opened #18075 "MembersMustExist: System.ComponentModel.DataAnnotations"
I am currently looking into differences between Core and Desktop and opening this issue as a child of https://github.com/dotnet/corefx/issues/15255#issuecomment-291137517

The following member is missing in corefx but is available in netfx:

`MembersMustExist : Member 'System.ComponentModel.DataAnnotations.ValidationContext.ServiceContainer.get()' does not exist in the implementation but it does e

[2017-04-07 16:41] bartonjs commented on #18073
@ViktorHofer  Please make one issue per type (or, at least, assembly).  They don't all have the same support/goals.

[2017-04-07 16:43] ViktorHofer commented on #17708
IDataRecord and ICloneable implemented and merged into master. Decision made to not implement IServiceProvider, see discussion above. Closing.

[2017-04-07 16:43] #17708 closed

[2017-04-07 16:44] bartonjs commented on #18074
Yep, we should add the member.

[2017-04-07 16:53] ViktorHofer commented on #18074
Thanks! I will take it.

[2017-04-07 16:54] shmao opened #18076 "Test Xml_HiddenDerivedFieldTest Failed in ReflectionOnly Mode"
[code]

[2017-04-07 16:59] ViktorHofer opened #18077 "MembersMustExist: System.Security.SecurityContext"
I am currently looking into differences between Core and Desktop and opening this issue as a child of https://github.com/dotnet/corefx/issues/15255#issuecomment-291137517

The following members are missing in corefx but are available in netfx:

[code]

@bartonjs @steveharter: It is possible / Does it make sense to port these members to Core?

[2017-04-07 17:01] ViktorHofer opened #18078 "MembersMustExist: System.Security.SecurityException"
I am currently looking into differences between Core and Desktop and opening this issue as a child of https://github.com/dotnet/corefx/issues/15255#issuecomment-291137517

The following member is missing in corefx but is available in netfx:

[code]

@bartonjs @steveharter: It is possible / Does it make sense to port these members to Core? It lives in System.Runtime. https://apisof.net/catalog/Syst

[2017-04-07 17:02] ViktorHofer opened #18079 "MembersMustExist: System.Security.Cryptography.CspParameters"
I am currently looking into differences between Core and Desktop and opening this issue as a child of https://github.com/dotnet/corefx/issues/15255#issuecomment-291137517

The following member is missing in corefx but is available in netfx:

[code]

@bartonjs @steveharter: It is possible / Does it make sense to port these members to Core? It lives in System.Security.Cryptography.Csp. https://apiso

[2017-04-07 17:18] svick commented on #2295
@krwq

There are other methods that take XPath, for example `XmlNode.SelectSingleNode` or `System.Xml.XPath.Extensions.XPathSelectElement`.

What if I use two libraries, one wants to use one version of XPath, the other one another version? I can imagine that happening quite easily, so I don't think static property would be a good option. (Or will libraries have to set the property before every XPa

[2017-04-07 17:24] shmao commented on #17557
The fix for this would be soley rd.xml file change (and potentially some changes in csproj). I'm not seeing any tests failing due to this directly, but there might be. Here're the steps to repro the issue.

From source root,
1. `build.cmd -framework:uapaot /p:TestILCFolder=<path to TestIlc folder>`
2. `msbuild src\System.Runtime.Serialization.Xml\tests\System.Runtime.Serialization.Xml.Tests.csproj

[2017-04-07 17:27] weshaggard commented on #18068
Issue moved to [dotnet/sdk #1099](https://github.com/dotnet/sdk/issues/1099) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-07 17:27] #18068 closed

[2017-04-07 17:33] davidsh commented on #17627
The .NET Framework behavior is the correct behavior.

See:
https://docs.microsoft.com/en-us/dotnet/api/System.Web.HttpUtility.UrlDecodeToBytes?view=netframework-4.7#System_Web_HttpUtility_UrlDecodeToBytes_System_String_

In general URL encoding/decoding does this:

In terms of "normal" characters, i.e. characters that *are* allowed in a URL as-is such as ASCII characters "a", i.e. 0x0061, URL deco

[2017-04-07 17:36] mellinoe commented on #17538
@danmosemsft What are "portable core tests"?

[2017-04-07 17:37] karelz commented on #2295
Agreed with @svick that we need options per library, that's why we need to design the static APIs carefully ... I'll dig deeper into this case and will try to start the general API design pattern discussion.
@svick do you have any recommendations? (you seem to be quite familiar with the API surface)

[2017-04-07 17:37] joperezr commented on #18069
cc: @jkotas
I'm not too familiar with the code, but from an initial look it seems to be that it is not super trivial to implement this in corelib, at least not in the way we have it on desktop, where we use the Diagnostics configuration to initialize the listeners.

[2017-04-07 17:38] joperezr commented on #18069
I'll move this to future for now, and then if we decide that we want it for 2.0 we can always change the milestone.

[2017-04-07 17:39] karelz commented on #14614
I see, thanks for info ... it's a bummer, but understood :(

[2017-04-07 17:42] ericstj commented on #16126
Sorry, this dropped off my todo-list.  PR opened that conditions the packages:
https://github.com/dotnet/corefx/pull/18081

[2017-04-07 17:44] jkotas commented on #18069
This was omitted intentionally https://github.com/dotnet/standard/issues/84

[2017-04-07 17:45] #18069 closed

[2017-04-07 17:50] JeremyKuhne commented on #18071
They don't and won't do anything in Core as security has no implementation. Evidence is a dictionary of sorts that could in theory be implemented in Core, but this is one of the few places (or perhaps only place) where it might actually be useful.

Given how niche this is and the no-op nature of security I'd rather leave it out of NetStandard unless we see strong feedback. I suspect that anything

[2017-04-07 17:51] sepidehMS commented on #16683
Please add test to hit [this block](https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System/Xml/Serialization/ReflectionXmlSerializationWriter.cs#L901) as well (so that we can track this TODO)

[2017-04-07 18:08] safern commented on #17627
Then we should rename the [Netfx] in the title and fix the tests to expect the netfx behavior since I splitted them into two different tests in PR: #17618

And should add 2.0.0 milestone right?

[2017-04-07 18:09] karelz commented on #16047
@bartonjs GitHub hiccups, I have seen it quite a few times :(

[2017-04-07 18:10] weshaggard commented on #10747
Sorry for the delay this dropped off my radar:

The list of implementation assemblies that are part of the existing shipped .NET Native shared library are:
[code]

Those assemblies cannot be updated in nuget packages because they have to be coupled to the build of the shared library we ship with the .NET Native toolchain.

Note that list is a point-in-time with the current released set of tools an

[2017-04-07 18:10] #10747 closed

[2017-04-07 18:12] karelz commented on #16047
GH support email sent ...

[2017-04-07 18:14] karelz commented on #14724
@terrajobst @kouvel why is it marked as "api-approved", while it seems we're still discussing API shape? Or did I miss some point in the discussion?

[2017-04-07 18:18] ericstj opened #18083 "Testing of .NET Core final output"
Today we have a gap around what we test.  We test individual output from a single machine but never really test the final thing we're shipping after we bring all the stuff together.  Folks upstack do this but not to the level that we would.

We should at a minimum test the following things on a final MS.NETCore.App + shared framework out of core-setup.
1. API Compat between MS.NC.A and shared fram

[2017-04-07 18:19] danmosemsft commented on #17538
This is the new test run (you will see in mission control) that is exercising our new portable binaries -- the single binary for all unix, and the single binary for all Windows. So far the results nearly match our regular Core run and so at some point we may cut over to it. For now we're tagging them specificlaly since generally the issue may relate to the portable work.

[2017-04-07 18:29] davidsh commented on #17627
How was this bug discovered in the first place?  Did the existing HttpUtility tests fail in some way?  Which ones? Are we missing test coverage or perhaps the tests are wrongly written i.e. they "pass" on .NET Core because they assumed the wrong behavior?

[2017-04-07 18:30] weshaggard commented on #15763
I did a diff between the packages at https://github.com/dotnet/versions/blob/master/build-info/dotnet/corefx/master/Latest_Packages.txt and https://github.com/dotnet/versions/blob/master/build-info/dotnet/corefx/release/1.1.0/Latest_Packages.txt to see which new packages we have in now that we didn't have in .NET Core 1.1 release. Here is the list:

[code]

System.Transactions.Local is a new libra

[2017-04-07 18:33] krwq commented on #2295
@svick - you're right, those APIs all call XPathExpression.Compile in the end but your point about two different dependencies using different version is basically killing static property option.

Possibly we could add overloads which take XPathExpression instead of string although I believe that would become quite annoying to use but maybe it wouldn't be too bad - what do you think?

[2017-04-07 18:36] ericstj commented on #15112
@marek-safar / @akoeplinger can you please chime in on this?  We need to close on it pretty soon if we want to get a change into the corefx packages for .NET Core 2.0.

We need to close on the mechanism.  I think AssemblyMetadataAttribute is better than a new type for us, so long as that works for you.

Suggestions of the content are as follows:
- "PreferMonoInboxVersion": "true"
- "WindowsSpecifi

[2017-04-07 18:50] karelz commented on #15112
FYI: Adding back area-Infrastructure as it covers [also packaging](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas) and we need [1 area label per issue](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified).

[2017-04-07 18:53] kouvel commented on #14724
Should we prefix `unloadable` with `is` - `isUnloadable` / `IsUnloadable`?

[2017-04-07 18:55] ViktorHofer commented on #18071
Thanks Jeremy for your input. Just to clarify, I was talking about porting it to netcore and not necessarily netstandard.

Sent from my Windows 10 phone

From: Jeremy Kuhne<mailto:notifications@github.com>
Sent: Friday, April 7, 2017 7:51 PM
To: dotnet/corefx<mailto:corefx@noreply.github.com>
Cc: Viktor Hofer<mailto:Viktor.Hofer@microsoft.com>; Author<mailto:author@noreply.github.com>
Subject: Re:

[2017-04-07 18:56] ericstj commented on #15112
This has nothing to do with packaging.  It's about adding an assembly attribute to our assemblies.  I suppose that's "infrastructure" but perhaps we need some other classification.

[2017-04-07 18:58] alexperovich commented on #18017
This is reasonable.

[2017-04-07 18:58] mellinoe commented on #17538
I see... How is this materially different on Windows? We've never built multiple versions for Windows, excluding UWP.

[2017-04-07 19:00] karelz commented on #14614
Back to the design then:
@stephentoub @geoffkizer @Priya91 can you please recommend one of the options:
1. Swallow & hide known curl error when dev sets `MaxConnectionsPerServer` on system where it is not supported. It will look like API success, while it didn't do what user asked for.
2. Keep throwing `PlatformNotSupportedException` when developer sets `MaxConnectionsPerServer` on system where it

[2017-04-07 19:00] JeremyKuhne commented on #18071
I understand- what I was inferring here is that these have little value in Core outside of potentially expanding netstandard, which I wouldn't want to do for these outside of strong feedback.

[2017-04-07 19:03] mellinoe commented on #18017
This proposal isn't really complete... the operators don't have return types 😄. @terrajobst  I'm assuming you meant for them all to return `SizeF` ? Otherwise your second example wouldn't really make sense (`Round` doesn't work on `Size`, because it's an integral type).

[2017-04-07 19:04] karelz commented on #18065
@krwq @tarekgh @mellinoe @weshaggard any guidance? Does it belong rather into infra area?

[2017-04-07 19:05] SolalPirelli commented on #10747
Thanks!

Is this list going to be documented/maintained anywhere? Any plans to decouple them from the shared library?

[2017-04-07 19:05] karelz commented on #18070
The question is how often does it happen in practice ...
@ericstj @terrajobst any thoughts?

cc @weshaggard @danmosemsft @bartonjs

[2017-04-07 19:07] karelz commented on #18083
Should we track it for 2.0?

cc @danmosemsft (should we add it to your list for 2.0 shipping?)

[2017-04-07 19:07] weshaggard commented on #10747
I don't think there are plans for either, but I will let @yizhang82 @joshfree address some of those questions.

[2017-04-07 19:07] JaedsonBarbosa commented on #4278
@krwq Do you now if today the OSX network issues will be solved?

[2017-04-07 19:07] alexperovich commented on #18017
I added return types to the proposal. I think the Size operators should return Size and the SizeF operators should return SizeF.

[2017-04-07 19:11] mellinoe commented on #18017
The original post mentions this:

@onovotny How does this latest version look? How would you expect a `Size` * `double` method to behave?

[2017-04-07 19:12] danmosemsft commented on #17538
@eerhardt can explain that.

[2017-04-07 19:15] danmosemsft commented on #4278
It is blocking almost all our PR's so its high priority but we don't have an ETA

[2017-04-07 19:17] VSadov commented on #17116
Just thought of a runtime capability, that would be convenient to check for - ability to unload types/assemblies.

I have seen many examples where code goes to great lengths trying to not retain runtime type objects - do not put types as keys (unless the type is a known primitive) in Dictionaries/Caches, do not cache delegates .... - That is with the assumption that retaining type objects will pre

[2017-04-07 19:22] VSadov opened #18087 "Make it statically and dynamicaly discoverable if runtime supports assembly unloading"
Just thought of a runtime capability, that would be convenient to check for - ability to unload types/assemblies.

I have seen many examples where code goes to great lengths trying to not retain runtime type objects - do not put types as keys (unless the type is a known primitive) in Dictionaries/Caches, do not cache delegates .... - That is with the assumption that retaining type objects will pre

[2017-04-07 19:23] VSadov commented on #17116
Added the "CollectibleAssemblies" capability string as a separate API proposal

[2017-04-07 19:24] jkotas commented on #18087
Wouldn't you rather want to have an API whether given type is unloadable?

[2017-04-07 19:26] ericstj commented on #17278
This is happening because log4net is using a mix of 1.0 and 1.1 packages.  When restored for a specific runtime this brings in the implementation packages from 1.1 for all the packages (via the Microsoft.NETCore.Targets package and the runtime.json within it).  These packages have all 1.1 versions in their closure and NuGet sees log4net's references as causing downgrades.

You can reproduce with n

[2017-04-07 19:27] ericstj commented on #17278
@emgarten this is very similar to the problem we were looking at with UWP and Json.Net the other day.

[2017-04-07 19:31] eerhardt commented on #17538
My understanding is that we removed the "api sets" for the portable Windows build, thus making our product "portable" across all supported Windows versions. However, I don't have a full understanding.

We are now producing `https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.win-x64.Microsoft.Private.CoreFx.NETCoreApp/` packages.  Note: `win-x64` not `win7-x64` or `win10-x64`.

@gkhann

[2017-04-07 19:33] ericstj opened #18088 "Downgrade warnings when referencing log4net in netcoreapp2.0"
Copied from https://github.com/dotnet/corefx/issues/17278.

log4net referenced a mix of 1.0 and 1.1 packages.

When used in netcoreapp1.1 this didn't matter, since the netcore.app meta-package would lift all the packages up to 1.1.

In netcoreapp2.0 this no longer happens due to our smaller package graph.

The result is that the mix of 1.0 and 1.1 cause downgrade warnings when 1.1 package bring in

[2017-04-07 19:33] VSadov commented on #18087
@jkotas - yes  `Type.IsUnloadable` would be very useful, if it is reasonably fast - like if the bit is cached on the type object.

Most scenarios that I have seen actually have some heuristics to assume that primitives, arrays of primitives, some common generic instantiations are not unloadable.
That unfortunately get expensive very quick, if digging deeper, and, most frustratingly, "yes" result c

[2017-04-07 19:34] onovotny commented on #18017
@mellinoe I'd expect Size * double to return SizeF and Size / int to return SizeF. Then the user can use Size.Round to get a Size if that's the needed result (most likely).

[2017-04-07 19:34] JaedsonBarbosa commented on #4278
OK 👍
Good luck
Buena suerte
Boa sorte

[2017-04-07 19:35] ericstj commented on #17278
I've opened a seperate issue to represent this downgrade warning: https://github.com/dotnet/corefx/issues/18088.

Let's keep this one on topic about consuming netcoreapp2.0 bits in VS.  @danmosemsft what are the next steps on that?

[2017-04-07 19:37] tannergooding commented on #18017
I don't think I'd ever expect `Size * double` or `Size / int` to return `SizeF`.

I would expect `Size * float` or `Size * double` to not exist and for `Size / int` to return `Size`.

[2017-04-07 19:41] gkhanna79 commented on #17538
Materially, this is not different on windows other than the RID used for packaging.  Apiset removal happened long time ago and has no bearing in the recent portable rid work, though that approach does help us with binaries that work portable for windows

Thanks,
Gaurav

-------- Original message --------
From: Eric Erhardt <notifications@github.com>
Date: 4/7/17 12:31 PM (GMT-08:00)
To: dotnet/cor

[2017-04-07 19:46] mellinoe commented on #17538
Thanks @gkhanna79 , that was my understanding as well. @danmosemsft I'm not sure this test run is really buying us anything over the existing windows runs... we should probably consolidate these given the overlap.

[2017-04-07 19:46] onovotny commented on #18017
Size * float or double is the most common case for scaling. In winforms, it's `var scale = (float)DeviceDpi / 96;`. Then use that to change Size values used everywhere.

[2017-04-07 19:48] eerhardt commented on #17538
The plan of record is that "portable" will become THE way we ship.  The "existing windows runs" will be going away.

[2017-04-07 19:48] weltkante commented on #4100
@karelz I've updated the initial post and changed the bug report into a proposal request, hope I didn't miss anything.

[2017-04-07 19:51] yizhang82 commented on #10747
Note that the frozen assemblies are a thing of a past now. In the latest 5.3.0+ versions of Microsoft.DotNet.UniversalWindowsPlatform, we are also ship new versions of .NET native compiler with it. This means we no longer have to support backward compat with previous UWP meta package with newer version of compiler - we could simply roll forward. We didn't update those libraries in 5.3.0 for logist

[2017-04-07 19:51] tannergooding commented on #18017
I understand its common to scale using floating-point values :)

I was just indicating, from an API perspective, I would not expect that `Size / int` returns `SizeF` or that `Size * double` existed (and if it did, I would expect it to return `Size`, not `SizeF`).

If I'm working with Size, I would expect that I continue working with Size (for inputs and outputs) unless I explicitly cast somewhere.

[2017-04-07 19:53] tannergooding commented on #18017
That being said, I can at least see the argument for `Size * float` returning `SizeF`, since it functions in a similar manner to `int * float` returning a `float`.

Although, `Size / int` I'm still not sold on, since `int / int` is an `int`.

[2017-04-07 19:54] mellinoe commented on #17538
Sure, I think we're saying the same thing. My point is that we have two test runs that are identical, so it's just extra noise, IMO.

We've always shipped portable binaries for Windows. Functionally speaking, this is just a rename of the packaged RID from `win7-x64` to `win-x64`, which makes it more obvious that they are "portable" rather than somehow specific to Windows 7.

[2017-04-07 19:57] danmosemsft commented on #17278
Am I correct that we just need someone to write up those steps to patch VS with updated Nuget binary - there's no technical issue (save something related to this library)?

[2017-04-07 19:58] onovotny commented on #18017
I agree on Size / int returning Size. While technically it'd be SizeF, that behavior isn't consistent with how everything else works.

[2017-04-07 19:58] #16611 closed

[2017-04-07 19:58] alexperovich commented on #18017
Actually, Size is implicitly convertible to SizeF. So with the current proposal `Size * float` would return a `SizeF`.

[2017-04-07 19:59] danmosemsft commented on #17538
Maybe we just need to make sure we get the same results in the new runs (as apparenlty we should) and then disable Windows configurations from the old runs.

[2017-04-07 19:59] danmosemsft commented on #17538
I'm not sure there's much noise though. Results are very similar and vendors are not opening duplicate issues .

[2017-04-07 20:01] eerhardt commented on #17538
They aren't identical if a test is failing in one and passing in the other.

Also, the test runs are against 2 completely separate builds:

This is the portable build: https://github.com/dotnet/corefx/blob/d73e0fc073963a89e908adbd5458587eb94e18d7/buildpipeline/pipeline.json#L339-L354

This is the non-portable build: https://github.com/dotnet/corefx/blob/d73e0fc073963a89e908adbd5458587eb94e18d7/bui

[2017-04-07 20:06] safern commented on #17627
The HttpUtility tests were failing in Desktop so I thought this was a bug in desktop and I opened this issue. The tests assumed the wrong behavior and passed on .NET Core but failed in desktop.

See PR: https://github.com/dotnet/corefx/pull/17618 where I separated the tests cases -- one to be .NET Core with the wrong behavior (didn't know at that time it was a wrong behavior) and the other one is

[2017-04-07 20:11] weshaggard opened #18090 "System.DirectoryServices conflicts with what ships in .NET Framework"
We need to rename System.DirectoryServices library because we already have an assembly with that identity that ship in .NET Framework. We need a new name for that library before we can ship it.

[2017-04-07 20:13] weshaggard commented on #18090
Similar for System.DirectoryServices.Protocols and System.DirectoryServices.AccountManagement.

We cannot use the same assembly identities unless we expect them to always contain the exact set of APIs.

[2017-04-07 20:13] danmosemsft commented on #18065
If the unit test runs in the same locale as the code under test, which presumably is usually the case as they're in the same process, the unit test can look up the string and compare -- verifying the exception is giving back SR.MissingFile not SR.MissingDirectory or whatnot. This is the approach I've used on a previous team successfully. I haven't seen CoreFX code use it and I don't think it's set

[2017-04-07 20:15] danmosemsft commented on #18065
If there are any such tests today, we should fix them. I see this issue: https://github.com/dotnet/corefx/issues/3850

[2017-04-07 20:16] weshaggard commented on #18088
If we did ship a new version of Microsoft.NETCore.Targets who would bring that package into the graph?

[2017-04-07 20:16] tannergooding commented on #18017
I think I've convinced myself the APIs make "sense" if they followed the existing operator logic for `int` and `float`.

So
[code]

I didn't include the `int * SizeF`, `SizeF * int`, and `SizeF / int` operators, since the `int` needs to be a float anyways and `int` is implicitly converted to `float`.

I don't think operators which take `double` should exist. The results have to be downcasted in th

[2017-04-07 20:17] alexperovich commented on #17976
So this API change
[code]

Part of the reason Color even exists in .NET core is compat. I don't think there is much change of this change happening. I don't know if we have any usage of GetBrightness though. @terrajobst can comment on that.

[2017-04-07 20:20] danmosemsft commented on #17538
@gkhanna79 when do you think we can safely delete the "test run dupliation" for Windows runs?

[2017-04-07 20:24] mtraudt commented on #18088
Can I ask what is meant by "lineup info" in this context?

[2017-04-07 20:24] mellinoe commented on #17538
@eerhardt This test is failing in regular runs, too. Any test result differences must necessarily be coincidental, because the binaries are identical in these runs. I know that the runs are done against two different builds, but they are functionally identical other than the packaging RID rename, which doesn't really affect how the tests are run.

[2017-04-07 20:26] danmosemsft commented on #18090
@weshaggard can we point to an example or otherwise explain what's required so code owners can easily do this?

Leaving in future as I'm not sure of our ship plans for this for 2.0. @karelz

[2017-04-07 20:27] danmosemsft commented on #18083
I put it on our list. @ericstj is this something you have cycles to do?

[2017-04-07 20:36] gkhanna79 commented on #17538
We can delete dup test runs and product builds once we decide to pull the plug on distro specific builds.

[2017-04-07 20:37] stephentoub commented on #14614
The default is essentially "unlimited", so setting MaxConnectionsPerServer means you're trying to limit the number of connections the library is able to make, and if we silently ignore the error, it could end up making more connections than you wanted to limit it to.  I don't know how bad that is.  @davidsh, any precedent for treating MaxConnectionsPerServer as a hint rather than a strict limit?

[2017-04-07 20:45] davidsh commented on #14614
Historically, the .NET connection limit per destination endpoint used to be 2.  That was the old recommended value long ago. It was based on browser behavior.  Over time, that went up to 6. For certain high-scale applications (not browser scenarios), more connections were needed and were useful. So, folks using .NET tended to set `ServicePointManager.DefaultConnectionLimit` to high values.

Devs s

[2017-04-07 20:49] stephentoub commented on #14614
Thanks, @davidsh.  @karelz, I think we should leave it as-is then.  But I won't put up a fight if @geoffkizer or @Priya91 disagrees and want to change it to avoid throwing.

[2017-04-07 20:56] ericstj commented on #18088
@weshaggard: Microsoft.NETCore.App, same as we bring in Microsoft.NETCore.Platforms.

@mtraudt: have a look at the runtime.json inside Microsoft.NETCore.Targets.  You'll see that for each RID it associates a reference package like `System.IO.FileSystem` with a runtime specific implementation package `"runtime.win.System.IO.FileSystem": "4.3.0"`.  This is what we mean by "lineup", its a term that t

[2017-04-07 20:58] bartonjs commented on #17892
Based on new data from Windows (and their lack of support for FIPS 186-3 DSA certificates) I'm going to pull the DSA typed constructor and leave DSA as a "power user" scenario (custom X509SignatureGenerator class, etc)

[2017-04-07 21:01] davidsh commented on #14614
While it is more "accurate" to throws PNSE, it is disuptive.  It is not a runtime exception that we would normally want developers to write try/catch for.  It is similar to ArgumentException, etc.  So, it is more of a development bug if they get those exceptions.  So, by throwing PNSE, we are forcing devs to catch a "dev error" type of exception. They wouldn't be doing that for ArgumentException.

[2017-04-07 21:07] Priya91 commented on #14614
From @davidsh's comments, I get the idea that setting these values will be done by a developer, only if they really want to go against the best behavior they can get by overriding the defaults. Then shouldn't the developer be notified that his explicit configuration was ignored?

[2017-04-07 21:09] davidsh commented on #14614
Developers writing a library against 'netstandard' might not be testing all platforms.  They won't even see this exception perhaps because only certain *Nix systems don't work as expected.

I still vote for not throwing PNSE.

[2017-04-07 21:09] Priya91 commented on #17420
@MattGal does portable core test run not have this filtering?

[2017-04-07 21:13] danmosemsft commented on #17164
OK it seems finishing Impersonation is a Future issue that this can track.
@kouvel comment on the possible bug in our existing RunImpersonated?

[2017-04-07 21:37] nguerrera commented on #4100
Thanks @weltkante. I think it would be nicer without the extra overloads and out params if instead there were `Others` collections hanging off of `ProperyAccessors` and `EventAccessors`. Here's my counter proposal:

[code]

Others would just be ImmutableArray<MethodDefinition>.Empty in the common case. I believe that other methods are rare enough that is fine to allocate unconditionally if there a

[2017-04-07 21:55] ericstj commented on #17278
I believe so, but I haven't yet seen any steps shared in this thread or in the doc.  @eerhardt do we have steps that folks need to follow to use the latest SDK to target .NETCoreApp 2.0 and .NETStandard 2.0 from VS 2017?  I believe it involves installing a new VSIX and setting some property to change where the SDKs are loaded from.

[2017-04-07 21:58] MattGal commented on #17982
I ran this test 50x on a helix VM with identical to this run files, no repro. Something strange is happening whenever this repros with dumpling earlier on in the logs.   I will keep investigating.

[2017-04-07 22:00] weshaggard commented on #18090
For new libraries there name should get reviewed via the api-review process to ensure that we have consistent names and no conflicts with existing shipped libraries. So for this case the owners need to propose some new assembly names that don't conflict, or a plan that explains why the conflict will not be an issue.

[2017-04-07 22:03] mellinoe commented on #17976
The best we can do here is provide better documentation about the potential points of confusion. Changing the name would be a major breaking change, and like @alexperovich said, the only reason this type is in .NET Core is because of compatibility.

[2017-04-07 22:07] weshaggard commented on #18088
I'm OK shipping one more package to clear out these. We could even do it one-off if you like.

[2017-04-07 22:10] geoffkizer commented on #16611
It must be a fundamental OS difference.  That said, I'm surprised that shutdown(both) doesn't trigger the operation's completion on Windows.  Strange.

It makes me wonder what happens when you do something like this:

[code]

Naively, I would expect this to succeed.

From above, it sounds like this would succeed on Linux (maybe? or just sometimes?), and hang on Windows.

[2017-04-07 22:10] alexperovich commented on #17976
So we need to document that the `GetBrightness()` function actually returns the Luminosity using HSL format.

[2017-04-07 22:14] eerhardt commented on #17278
As far as I know, it involves installing a NuGet VSIX that isn't available publicly.  I have been able to do some VS work in the dotnet/cli repo, but we aren't using netstandard2.0, only netcoreapp2.0 referencing netstandard1.x libraries.

Also, I've been pretty successful using VS Code and the command line, if someone is looking to go that route.

[2017-04-07 22:15] eerhardt commented on #17278
To answer you specific question, I don't know of any documented steps to be able to target 2.0 from VS 2017 RTM.  The current plan is you will need a VS update.

@livarcocc @nguerrera @dsplaisted

[2017-04-07 22:20] stephentoub commented on #16611
I expected that, too.  But this hangs on Windows:
[code]
If you uncomment the Dispose, it then completes as you'd expect.  This is true on both desktop and core.

The same code always completes on Linux.  The variability on Linux is that the Dispose (closing the socket) will cause the receive to complete with an error, whereas the shutdown causes it to complete as a successful read, and there's a

[2017-04-07 22:21] stephentoub commented on #16611
cc: @davidsh, @cipop in case they know why this is the Windows behavior or whether there's something to be done about it

[2017-04-07 22:22] tarekgh commented on #18065
@JonHanna you may just set CurrentUICulture to en-US and you'll always get the English/Neutral resources. I am wondering why you need to test the exception messages itself? I am asking because if you want to validate the message in the neutral resources doesn't mean the message will be correct in other localized languages.

I think the best practice so far I have seen is to test the exception and

[2017-04-07 22:24] OmarTawfik commented on #17741
CoreCLR changes in https://github.com/dotnet/coreclr/pull/10777
CoreRT changes in https://github.com/dotnet/corert/pull/3264

[2017-04-07 22:29] geoffkizer commented on #16611
The Windows behavior seems unfortunate.  I think we could cause the outstanding IO requests to complete if we called CancelIoEx.  This seems like better behavior than what we are doing currently.

The Linux behavior seems like arguably a bug.  Either we should consistently succeed or consistently throw OperationAborted.

[2017-04-07 22:31] tarekgh commented on #18070
I think the mentioned rule should apply on the sealed classes only. right?

cc @jkotas

[2017-04-07 22:32] stephentoub commented on #16611
We consistently succeed if you use shutdown.  We consistently fail with OperationAborted if you use Dispose.  If you use shutdown and then Dispose immediately after, that's when you get the inconsistency, as you introduce a race, with the completion of the operation racing with disposal.  Obviously I'd prefer for it not to be racy, and if there's an easy and cheap solution, great, let's do it, but

[2017-04-07 22:33] stephentoub commented on #16611
@davidsh or @cipop should comment on that.

[2017-04-07 22:34] geoffkizer commented on #16611
@stephentoub Yeah, seems reasonable.

Does the same behavior happen with sync operations?

[2017-04-07 22:40] stephentoub commented on #16611
Yes.  This also hangs on Windows on desktop and core, and completes on Linux:
[code]

[2017-04-07 23:02] karelz commented on #4100
@nguerrera if you think it is ready for API review, please update top post and mark it so. If you want to double check with @weltkante first, fine with me :)

[2017-04-07 23:07] nguerrera commented on #4100
Since @weltkante is graciously driving this, I'll wait for his input on my suggestion.

[2017-04-07 23:08] nguerrera commented on #4100
Also, curious on @tmat's thoughts.

[2017-04-07 23:10] alexperovich opened #18095 "MemoryMappedViewStream.PointerOffset returns invalid value"
@flobadob commented on [Sat Feb 11 2017](https://github.com/dotnet/coreclr/issues/9528)

As the title. See [stack overflow discussion](http://stackoverflow.com/questions/42170142/memorymappedviewstream-pointeroffset-has-wrong-value) for a failing unit test that demonstrates the issue. Thanks.

---

@janvorli commented on [Mon Feb 13 2017](https://github.com/dotnet/coreclr/issues/9528#issuecomment-

[2017-04-07 23:11] ctolkien commented on #17976
Yep, figured changing the API would be a non-starter.

Also need to document that the `GetHue()` and `GetSaturation()` methods are also in HSL. With my limited understanding of color spaces - the value of hue is the same in both representations for a given `color` (but it should still be documented for clarity). Saturation however has entirely different definitions depending on HSL or HSV/B.

And

[2017-04-07 23:14] karelz commented on #15112
OK, that sounds like Meta - cross-cutting code work which is not infra :). (I hope @tarekgh doesn't mind)

[2017-04-07 23:15] karelz commented on #18090
It sounds like we should decide on this before we ship preview build -- which is 2.0 timeframe :)
Moving to 2.0 then.

[2017-04-07 23:21] weshaggard commented on #18090
We don't currently build these packages (https://github.com/dotnet/corefx/commit/715263f88788a8d2168c0af641f34ffa389530d8) so they won't get shipped with preview.

[2017-04-07 23:22] ericstj commented on #15112
I'm actually leaning more towards "PreferInbox" beahvior.  I suspect this problem isn't unique to just net4-specific stuff.  Consider the cases where we produce an out-of-band library (like System.ValueTuple) then eventually promote it to inbox.

This is in-line with the desktop "GAC wins" behavior.  If the framework has one at the same version (using whatever unification rules you want) then use

[2017-04-07 23:27] ericstj commented on #18083
Not at the moment.  I don't even know where this would go, but its something we need to do.

At the very least we should do it manually for the release.  Ideally this becomes some test infrastructure that runs regularly.

I'm imagining that its at least a week of work, maybe more.

[2017-04-07 23:32] karelz commented on #18090
OK, Future if we don't build it.
We can always ship ad-hoc preview (aka push it to nuget.org) when we are ready and there is interest from community.

[2017-04-07 23:54] ericstj opened #18098 "Build UAP identity package during -targetGroup:uapaot build"
The UAPAOT build currently doesn't build the identity package due to an explicit condition:
https://github.com/dotnet/corefx/blob/001fdf5538b27259f845d7ce7cc5daa8f1d179aa/pkg/Microsoft.Private.CoreFx.UAP/Microsoft.Private.CoreFx.UAP.builds#L9

To fix this we need to do the following:
1. Remove that condition.
2. Remove `uapaot` from configurations.props.
3. Use something other than 'targetgroup' f

[2017-04-08 00:03] Vertygo opened #18099 "Test PathWithReservedDeviceNameAsPath_ThrowsDirectoryNotFoundException fails on windows machine"
Test PathWithReservedDeviceNameAsPath_ThrowsDirectoryNotFoundException fails on windows 10 machine.
Enviroment:
* VS 2017
* CMake 3.7.2

From what I can see is that test has not failed on create "C:\Directory\COM4".

[code]

[2017-04-08 00:04] MichalStrehovsky commented on #17116
Is there a particular reason why the switches are `static readonly` instead of `const`? If their only purpose in life is for the compiler to probe for them, we could at least save us from emitting a class constructor that initializes them...

[2017-04-08 00:04] danmosemsft commented on #16825
https://github.com/dotnet/corefx/pull/18042 is sufficien.t

[2017-04-08 00:04] #16825 closed

[2017-04-08 00:21] CIPop commented on #8673
I've contacted both WinHTTP and Azure Service Management API.
WinHTTP doesn't have 100-Continue support and they do not recommend the usage. I got no answer yet from Azure Service Management.

[2017-04-08 01:08] sepidehkh opened #18103 "Investigate dependency of Xslt on System.Xml.Xsl.Runtime at runtime"
Refer to the discussion in https://github.com/dotnet/corefx/pull/18042

Xslt is loading public types from System.Xml.Xsl.Runtime and making calls to them at runtime to generate IL code. Investigate why this dependency exists and why we cannot remove them/move them to a separate library?

[2017-04-08 02:06] hughbe commented on #18099
Possibly related. A different test but similar thing: System.IO.Tests.DirectoryInfo_Create.PathWithReservedDeviceNameAsExtendedPath Failed in https://github.com/dotnet/corefx/issues/17763

[2017-04-08 04:26] tijoytom opened #18104 "PreAuthenticate throws PNSE on UWP platfrom"
Need to fix this for UWP
src/System.Net.Http/src/netcore50/System/Net/HttpClientHandler.cs:159

[2017-04-08 05:10] danmosemsft commented on #18099
@Vertygo what version of Windows 10 do you have? Do you have any unusual configuration?

Does it fail when you run against desktop binaries, instead of .NET Core? To try this, do this from the root:
[code]

If it does then that tells us it's either the test or your machine.

[2017-04-08 05:27] danmosemsft commented on #11299
13f626390abb1876f6c27517c91ee71547ca8667 should resolve this

[2017-04-08 05:27] #11299 closed

[2017-04-08 05:28] danmosemsft commented on #18006
Update, this is obviously still a major issue. I understand they are trying new hardware over the weekend.

[2017-04-08 05:29] danmosemsft commented on #17920
@mellinoe should we reduce https://github.com/dotnet/corefx/blob/master/src/System.Collections.Concurrent/tests/ProducerConsumerCollectionTests.cs#L734 to something?

[2017-04-08 05:32] danmosemsft commented on #17538
@mellinoe back to the test, should we increase the divisor again?
https://github.com/dotnet/corefx/pull/17571/files#diff-f7e8b43839a348c695e67fabb6403ac4L727

[2017-04-08 05:39] danmosemsft commented on #15018
@davidsh is increasing the itmeout further likely to help? I don't know much about ping/ICMP but I imagine there are timeouts within the protocol itself, so after a certain amount of time, it's never coming back.

[2017-04-08 05:39] danmosemsft commented on #14760
@saurabh500 can we close this?

[2017-04-08 05:41] danmosemsft commented on #14432
@steveharter @stephentoub does it make sense to close htis? No report for 2 months.

[2017-04-08 05:44] danmosemsft commented on #9257
@tarekgh who was also trying this.

[2017-04-08 05:45] danmosemsft commented on #7996
@tmat I bulk edited disabled tests to 2.0. Does this one actually need fixing in 2.0? It sounds like an enhancement. Can you change milestone if appropraite?

[2017-04-08 05:47] danmosemsft commented on #3942
@chcosta are you planning on doing this for 2.0 release?

[2017-04-08 05:47] karelz commented on #15018
@steveharter @Priya91 ?

[2017-04-08 05:50] danmosemsft commented on #1050
@Jiayili1 can you please enable this test: remove `        [ActiveIssue(1050)]`. Please then run the test locally some number of times using a script. If it works please submit the PR to remove the ActiveIssue.

[2017-04-08 05:55] karelz commented on #18104
@tijoytom moving to 2.1 as this is must-have.

[2017-04-08 06:07] jcouv commented on #17116
@MichalStrehovsky Yes, `static readonly` is on purpose. If I understood correctly, there is a problem with `const`'s possibly getting inlined, which defeats the purpose of runtime detection.

[2017-04-08 06:09] danmosemsft opened #18106 "UdpClient Send overload methods not having an offset"
@txdv commented on [Fri Apr 07 2017](https://github.com/dotnet/coreclr/issues/10790)

[I was looking at the API of UdpClient](https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/UDPClient.cs#L904-L928) and I wondered, why is it that there is no offset for the byte buffer provided?

It just provides the offset as the 0 default to the underlying Socket SendTo c

[2017-04-08 06:16] danmosemsft opened #18107 "Make `System.Runtime.InteropServices.SafeHeapHandle` Public"
@SamuelEnglard commented on [Mon May 02 2016](https://github.com/dotnet/coreclr/issues/4730)

`System.Runtime.InteropServices.SafeHeapHandle` is a class that almost every developer who has used unmanaged memory has had to write. Having it built in would solve many issues and increase the odds of developers who don't know they needed it finding it.

cc: @terrajobst

---

@terrajobst commented on [T

[2017-04-08 06:40] jkotas commented on #17116
This does not make sense to me. Could you please explain in detail how const would defeat the runtime detection?

[2017-04-08 07:14] abatishchev commented on #1624
It's near impossible to share an instance of HttpClient imn any really application as soon as you need to send different HTTP header on each request (what is crucial when communicating with properly designed RESTful web services). Currently `HttpRequestHeaders DefaultRequestHeaders` is bound to the instance and not to a call on it effectively making it stateful. Instead `{Method}Async()` should ac

[2017-04-08 08:31] weltkante commented on #4100
Yes, having them exposed on PropertyAccessors/EventAccessor struct is nicer, I wasn't doing it because it is a struct and adding a field (i.e. making the struct larger) could have negative impact on callers and I don't know how to evaluate that for its impact.

If that isn't a concern I'm fine with moving them over.

[2017-04-08 10:38] richardszalay commented on #1624
@abatishchev But you can specify headers on each HttpRequestMessage.

[2017-04-08 10:44] tmds commented on #12442
Interesting proposal.

Does the existing forceGlobal: false find a local thread in case it isn't called from a ThreadPool Thread? Or does it become global in that case?
For the proposed preferLocal, I guess it should try to find a 'local' ThreadPool Thread even when not called from a ThreadPool Thread?
Why is there a preference from the API review team to default preferLocal to false?

[2017-04-08 11:16] #14432 closed

[2017-04-08 11:19] JonHanna commented on #18062
As per https://github.com/dotnet/corefx/pull/18066#issuecomment-292684691 it makes sense to allow this.

As per #18063 the unverifiable code being produced on netfx is due to something in S.L.Expressions that is already fixed in corefx.

I'll reintroduce the test #18038 removed with it skipping on netfx later as part extending the test coverage on array handling generally, but no action is needed

[2017-04-08 11:19] #18062 closed

[2017-04-08 11:24] stephentoub commented on #12442
No.

Yes

No. The thread-safety of work-stealing queues depends on the fact that the only thread adding to them is the one that owns them. No other thread can queue or push into one at either end.

The preference is for parameters to have their default value, which is false for a Boolean. @terrajobst or @weshaggard could elaborate on why.

[2017-04-08 11:36] stephentoub commented on #18107
What would it do? There are multiple memory allocation APIs; which would it be for?

[2017-04-08 12:30] txdv commented on #18106
O thanks! I would have moved the issue myself ... but thanks anyways ;)

[2017-04-08 12:32] mawt commented on #6517
I've come across problems where the streaming API doesn't fit high throughput scenarios.

I have a compute 'engine' that expands small inputs into a vast amount of data (the algorithm is O(n^4), with each iteration producing valuable data.) Using the TPL Dataflow API I was able to create a `[Read] -> [Expand] -> [Compute] -> [Store]` pipeline. Text compression is essential to prevent uploads backi

[2017-04-08 12:33] JonHanna commented on #18065
@tarekgh generally it's come up either when the wrong one of a set of messages has been used, or when the message from one case should match that from another, so I'd be testing that the correct localisable message was used, rather than testing the details of the message itself.

[2017-04-08 12:39] tmds commented on #12442
I imagined one use case would be numa aware threadpools. Eg going from kestrel libuv thread to a threadpool on the same numa node.

[2017-04-08 12:42] stephentoub commented on #12442
Were you asking how things work today or how they could work in the future?  Today the thread pool uses work-stealing queues.  If we wanted to support queues with a 1:N relationship with threads, e.g. one queue per NUMA node, that would require a different queue implementation.  And the `preferLocal` naming still works with that possibility in the future.

[2017-04-08 12:54] Pothulapati commented on #17917
I did reset my PC and then init-tools Worked fine(but dotnet cli wasn't fast) and then when I try to build for the first time I get an error

[code]

[2017-04-08 13:16] tmds commented on #12442
Today and future :)
For a NUMA queue implementation, the name would still be good. For that implementation, perhaps true would be a better default.

[2017-04-08 13:19] stephentoub commented on #12442
I don't know what that means. ThreadPool.QueueUserWorkItem(delegate) already means "go to the global queue".  No matter what we do in the future, that won't change.  If you then switch to the overload that takes a Boolean, there is no default, you have to explicitly pick a value to pass.

[2017-04-08 13:51] tmds commented on #12442
I was thinking for the numa implementation there would be a global, per numa and per thread queue and preferLocal would switch between the global and per numa queue. But there would probably not be a global queue and preferLocal would switch between the per numa and per thread queue. So defaulting to false makes sense indeed.

[2017-04-08 13:55] JaedsonBarbosa commented on #4278
When the part 4 will be ready?

[2017-04-08 13:58] Pothulapati commented on #17917
@karelz @joperezr @safern I Overcame the init-tools error by resetting my PC. Now , When I try to build the project I get the following error even after doing  clean.cmd
[code]
As per my understanding,It is searching for the `config.json` File in the Source Folder(Where the corefx repo is present) but not inside corefx(Where the config.json is present).

And I also see that @stephentoub has also f

[2017-04-08 14:11] Pothulapati commented on #17917
@karelz @safern @joperezr

I was able to fix the above said issue by copying both the `config.json` and `Tools` Folder to the `Source` Folder but Why is it searching in the Source Folder rather than `Source\repos\corefx\`
This is should also be fixed as the building process would be smooth then 👍

[2017-04-08 14:50] davidsh commented on #18106
This sounds like an API change request.

[2017-04-08 14:55] mtraudt commented on #17278
Speaking as CTO of a company that wants to migrate services to .NET Core but is waiting on 2.0, we can get by with CLI for now but VS support would obviously be an advantage. I believe MS has said Q2 for preview and Q3 for RTM. Since we are in Q2, are you able to narrow down those dates?

[2017-04-08 14:56] mmitche commented on #18006
@danmosemsft Completed.  Please let me know if you see any other issues.

It;s even faster than before!

[2017-04-08 15:20] danmosemsft commented on #18006
@mmitche awesome! Are you planning to kick all the PRs so they can clear through the weekend or should I?

[2017-04-08 15:22] danmosemsft commented on #17278
@Mtraudt that sounds right. @leecow have we more detail to share yet?

[2017-04-08 15:39] davidsh commented on #15018
There are some timeouts in the ICMP protocol but I don't remember what they are. Increasing the global timeout will not help usually if the low layer timeouts are being hit.  It is similar to TCP timeouts which have max 7 seconds per SYNC/ACK step (there are 3 of those steps required to fully connect a TCP socket). My guess is that after 10 seconds it is fatal.

One thing about ICMP protocol, thou

[2017-04-08 16:22] JonHanna commented on #18006
I tried kicking off a few, and while it's cloning them, they builds are all failing. E.g. https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug_prtest/1427/

[2017-04-08 16:26] mmitche commented on #18006
@JonHanna The log probably means someone checked in a regression:

09:14:24 Initializing BuildTools...
09:14:46 sed: 1: "/Users/dotnet-bot/j/wor ...": extra characters at the end of d command
09:14:46 ERROR: An error occured when trying to initialize the tools. Please check '/Users/dotnet-bot/j/workspace/dotnet_corefx/master/osx10.12_debug_prtest/init-tools.log' for more details.1
09:14:46 Build s

[2017-04-08 16:29] benaadams commented on #16745
Also `t.Status == TaskStatus.RanToCompletion` makes a non-inline call to get Status because [`Task.Status`](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/Tasks/Task.cs#L1343-L1365) a bit of a chunky function.

/cc @stephentoub

[2017-04-08 16:49] stephentoub commented on #16745
I agree it's a good property to add.

[2017-04-08 17:11] abatishchev commented on #1624
@richardszalay I don't say it's completely impossible, I say that HttpClient wasn't designed well for this purpose. None of `{Method}Async()` accept `HttpRequestMethod`< only `SendAsync()` does. But what's the purpose of the rest then?

[2017-04-08 17:19] mmitche commented on #18006
@danmosemsft Started failing here: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug/507/

[2017-04-08 17:20] mmitche commented on #18006
@danmosemsft This looks like the suspicious commit: https://github.com/dotnet/corefx/commit/a51ffd4fb32ac494ab4d34b4fe4ba1ece4ffb63c

[2017-04-08 17:22] krwq commented on #4278
@JaedsonBarbosa we have most significant parts already tested and proved working, With testing there is no single "finished" point - you can have 100% code coverage and code which doesn't work. Are there any particular scenarios you are interested in?

[2017-04-08 17:23] tijoytom opened #18112 "Selective reflection enable CompilerServices.RuntimeOps in S.L.Expressions rdxml"
Right now the whole type is included , this might not be necessary.
<Type Name="System.Runtime.CompilerServices.RuntimeOps" Dynamic="Required All" />

[2017-04-08 17:36] JaedsonBarbosa commented on #4278
No 😃

[2017-04-08 17:48] danmosemsft commented on #18006
I'll see if reverting it helps. It may have been the build tools update.

[2017-04-08 17:52] danmosemsft commented on #18107
Question for @SamuelEnglard

[2017-04-08 18:26] karelz commented on #4278
@krwq I expect we will declare things done for the library, when we are comfortable shipping it as stable. When we do that, we can check the box and close this issue. So how far are we test-wise?

[2017-04-08 18:27] NickCraver opened #18114 "DiagnosticSource for all: Consistency & Accessibility"
Since this involves many repos and projects, I'm filing it here as directed:

I've been working to integrate MiniProfiler with ASP.NET Core, Entity Framework Core, MVC Core, etc. and I've been pointed many times at DiagnosticSource. So while implementing EntityFramework I found several inconsistencies in how DiagnosticListener is used in one repo. Issues for that (so far) are:
- https://github.com

[2017-04-08 18:30] karelz commented on #18114
+ @vancem @brianrob

[2017-04-08 18:31] Pothulapati commented on #17917
@safern I successfully completed the 1st step i.e removing Code from the ref contract and successfully ran the command. Now I need to create a PR in the corefx Repo? and once the PR is merged then I have to  Work on the coreclr,Corert repos and submit PR's on the respective repos.Does that Sound Fine?

[2017-04-08 18:33] imkheong commented on #16994
Thanks for looking into the issue.

[Linking to a similar [issue ](http://stackoverflow.com/questions/41613781/trouble-connecting-to-sql-server-express-with-a-c-sharp-aws-lambda-function) on StackOverflow.]

After adding the following dependencies explicitly, it is now able to connect to SQL Server again.

Wonder if there will be a permanent fix without having to add the above?

[2017-04-08 18:34] karelz commented on #17278
@mtraudt currently the only official date is in #17619 for zero-bug-bounce on May 10 for .NET Core 2.0. Hope it helps.

[2017-04-08 18:39] karelz commented on #16994
@imkheong a fix depends if the above information is sufficient - @weshaggard do you know what's going on here?

Note that AWS Linux is no officially supported distro, so while we do not want to block it intentionally, we do not have any test coverage or any knowledge about what is so special on this distro -- we need community help here to help us understand specifics. If you can get a repro on on

[2017-04-08 18:42] imkheong commented on #16994
@karelz Does it mean running the code on Ubuntu Linux to simulate the issue?

[2017-04-08 18:44] karelz commented on #16994
Yes, Ubuntu repro is something we can easily run in-house and reason about. That would definitely help.

[2017-04-08 18:52] imkheong commented on #16994
Okay, will try that once I get a chance.

[2017-04-08 18:56] karelz commented on #17917
Yep - as described in https://github.com/dotnet/corefx/issues/17917#issuecomment-291749382

[2017-04-08 19:17] tijoytom opened #18116 "Review all PNSE from netcore50\System\net\HttpClientHandler.cs"

[2017-04-08 19:23] davidfowl commented on #18114
I'll try to answer some of these:

We should do better do document them, they haven't been so far.

That's part of the design. We can't break these events because all of the tools that consume them would break. Unit tests ensure that they don't break. It's up to the teams writing these events to understand that it *is* a contract, we can make that more clear if it isn't already.

Activities solves

[2017-04-08 19:39] jnm2 commented on #1624
Meeting 99% of the needs.

[2017-04-08 20:05] abatishchev commented on #1624
Does it mean setting headers is 1% of use cases? I doubt.

Either way this won't be an issue if those methods​ had an overload accepting HttpResponseMessage.

[2017-04-08 20:15] krwq commented on #4278
@karelz I'm currently comfortable shipping as is since all important E2E scenarios I could think of are tested. I still would like to increase coverage so that less popular scenarios (including error handling) can be proven working correctly too although I do not expect finding any 2.0 blocking issues.

For me "done" means that no one will maintain or improve the library anymore

[2017-04-08 20:21] jnm2 commented on #1624
@abatishchev I don't doubt it, but either way, I'd write extension methods if I found myself in your scenario.

[2017-04-08 20:59] fujiy commented on #18006
It's now working for my PR

[2017-04-08 21:01] jack-pappas opened #18118 "UnmanagedMemoryStream methods missing from package?"
I re-wrote a small piece of code within the F# compiler dealing with memory-mapped files to use ``MemoryMappedFile`` instead of the win32 API to allow that functionality to work on all platforms.

Microsoft/visualfsharp#2528

The PR fails to build for CoreCLR, because the ``Read<T>`` and ``ReadArray<T>`` methods are missing on ``System.IO.UnmanagedMemoryStream`` (from which ``MemoryMappedFileAcces

[2017-04-08 21:10] JonHanna commented on #18006
This seems to be resolved.

[2017-04-08 21:10] #18006 closed

[2017-04-08 21:11] karelz commented on #4278
OK, if @bartonjs agrees with ready-to-ship-state, then let's be practical and close this issue.
If we want to increase test coverage (as non blocking 2.0), we should create separate work item for Future.

[2017-04-08 21:13] karelz commented on #14416
Thanks @safern @JonHanna! Once you have ready proposal update, please flip the issue to api-ready-for-review again.
Please keep the originally approved proposal in top issue as well for context during API review.

[2017-04-08 21:16] fujiy commented on #14376
Hi guys, I'm still trying to make FastSpan Debug Viewer works.

How do I create the type forward for new types? I added a SpanDebugView (that ends up at System.Private.CoreLib.ni.dll), but can't reference it my code to debug, because corefx\bin\Windows_NT.AnyCPU.Debug\System.Memory\netcoreapp\System.Memory.dll doesn't contain that type or the type forward.

I also didn't find the NuGet Packages fo

[2017-04-08 21:20] karelz commented on #18112
@tijoytom why is it assigned to @shmao?
Can you please follow [CoreFX triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified) in future? Setting labels would be also helpful -- not sure if this one is bug or enhancement.

[2017-04-08 21:29] xied75 commented on #7570
Just found we've already got these https://github.com/dotnet/corefx/tree/master/src/System.IO.Compression/src/System/IO/Compression/DeflateZLib

I wonder would these files warrant closing this issue?

[2017-04-08 21:30] karelz commented on #18118
Where are `Read<T>` and `ReadArray<T>` defined? I can't find them neither in [old MSDN docs](https://msdn.microsoft.com/en-us/library/system.io.unmanagedmemorystream(v=vs.110).aspx) nor in new [API reference docs](https://docs.microsoft.com/en-us/dotnet/api/system.io.unmanagedmemorystream.read?view=netframework-4.7).

[2017-04-08 21:59] ViktorHofer commented on #18069
@jkotas Thanks!

I'll put it on the ignore of ApiCompatBaseline

[2017-04-08 22:03] ViktorHofer commented on #18071
Alright, thanks Jeremy! I'll put it onto the ignore list for ApiCompatBaseline.

[2017-04-08 22:03] #18071 closed

[2017-04-08 22:17] ahsonkhan commented on #14376
The package is on myget currently: https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Memory

For type forwarding, look at the csproj and ref assembly:
https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System.Memory.csproj
https://github.com/dotnet/corefx/blob/master/src/System.Memory/ref/System.Memory.cs

You will likely need to add the type in coreclr as well:
https:

[2017-04-08 22:21] fujiy commented on #14376
Hi @ahsonkhan. I did that to Slow Span. But I didn't figure out how System.Memory.dll for Fast Span works (the one used at runtime). How it generates the type forward to System.Private.CoreLib.

The best guess I have is that it generates autommatically. But I still didn't figure out how to make corefx build consume the packages generated by my coreclr build.

[2017-04-08 22:24] bartonjs commented on #4278
If we've hit everything off of the list of algorithms and transforms and canonicalizers, it's good with me.

[2017-04-08 22:26] ViktorHofer commented on #18072
Alright. Thanks for feedback!

[2017-04-08 22:50] Vertygo commented on #18099
I have Windows 10 Pro x64 - Version 1607 (OS Build 14393.953). I wouldn't say that I have an unusual configuration but it could be that some of the tools/installations I have are affecting the tests in some way.

@danmosemsft after running netfx specific build/test commands there are numerous errors in build-tests.log. I will try running tests on clean Win 10 machine.

Also, after looking through

[2017-04-08 23:03] ViktorHofer commented on #18074
Duplicate of https://github.com/dotnet/corefx/issues/17163.

[2017-04-08 23:03] #18074 closed

[2017-04-08 23:32] stephentoub commented on #16745
Note, too, that the property already exists... it's just currently called IsRanToCompletion and is internal:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/Tasks/Task.cs#L1471
so the implementation work here is trivial.

[2017-04-08 23:41] JaedsonBarbosa commented on #4278
So I think this issue will finally be closed.

[2017-04-09 00:05] jkotas commented on #14376
Correct. `IsPartialFacadeAssembly` in .csproj file triggers it.

https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md#testing-with-private-coreclr-bits

[2017-04-09 00:06] karelz commented on #16745
Might be good candidate for easy ap-for-grabs task once we review and approve the API.

[2017-04-09 00:08] karelz commented on #18099
If you find a way to make tests more robust (even on 'weird' config machines), that would be great!

[2017-04-09 00:13] danmosemsft commented on #18099
The tests should work on any reasonable configuration so please do open issues. It's just that it may have to be you that investigates, if we can't reproduce!

[2017-04-09 00:37] jkotas commented on #18118
@jack-pappas meant to say UnmanagedMemoryAccessor. `Read<T>` and `ReadArray<T>` were added back to this type for NetStandard 2.0.

[2017-04-09 01:21] karelz commented on #18118
Yep, those are back in .NET Core 2.0:
* [`Read<T>`](https://apisof.net/catalog/System.IO.UnmanagedMemoryAccessor.Read%3CT%3E(Int64,T))
* [`ReadArray<T>`](https://apisof.net/catalog/System.IO.UnmanagedMemoryAccessor.ReadArray%3CT%3E(Int64,T(),Int32,Int32))

Closing

[2017-04-09 01:21] #18118 closed

[2017-04-09 03:15] hughbe opened #18121 "Invalid input and output encodings are allowed by Console on Windows"
The following tests pass with netfx, but not with netcoreapp. I'm writing tests for this class and will attempt writing and submitting a patch for this behaviour.

- Netfx: IOException thrown
- Netcoreapp: no exception thrown - an invalid encoding (i.e. no such code page) is allowed.

Suggested behaviour: align with netfx, not just for compat, but also for correctness

[code]

[2017-04-09 03:50] danmosemsft commented on #18059
Another set of tests writing to their own directory.

[2017-04-09 04:07] flo8 commented on #9357
@BlasVilla Did you posted a new issue for this? We also encountered this bug in a console app with .Net Core 1.1 (netcoreapp1.1) in a standalone application running on Ubuntu 16.04.2 LTS (GNU/Linux 4.4.0-70-generic x86_64) the problem seems to happen randomly.

We get this error randomly when downloading a lot of files from Amazon S3 using AWSSDK.Core (3.3.8.2) and AWSSDK.S3 (3.3.5.7).

**System.N

[2017-04-09 04:14] flo8 commented on #14715
We also encountered this bug in a console app with .Net Core 1.1 (netcoreapp1.1) in a standalone application running on Ubuntu 16.04.2 LTS (GNU/Linux 4.4.0-70-generic x86_64) the problem seems to happen randomly.

I posted more details about the issue here: https://github.com/dotnet/corefx/issues/9357

Could this be related?

[2017-04-09 05:00] yaakov-h commented on #14715
What you've posted suggests a different issue, but without the ability to reproduce it's hard to say for certain.

[2017-04-09 05:02] flo8 commented on #14715
@yaakov-h Yes we will try to reproduce it but it seems to happen very randomly *and* rarely for the moment...

[2017-04-09 07:24] danmosemsft opened #18125 "Test UnixPingUtilityTests.PacketSizeIsRespected(payloadSize: 1) failed in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release_prtest/1481/testReport/junit/System.Net.NetworkInformation.Tests/UnixPingUtilityTests/PacketSizeIsRespected_payloadSize__1_/
[code]

[2017-04-09 07:27] danmosemsft commented on #18125
`            int indexOfBytesFrom = pingOutput.IndexOf("bytes from");` did not find hte string.

[2017-04-09 11:17] WinCPP commented on #17118
I have started working on this now...

[2017-04-09 11:50] WinCPP commented on #17118
@shiftylogic  One quick question about the spans in general and the logic in CopyTo (hope I don't sound stupid)... given the logic in CopyTo at [this](https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/SpanHelpers.cs#L54) line mentioned below...

[code]

Is it that the memory is always allocated in multiples of uint.MaxValue size? Sounds too large though... I was not able to

[2017-04-09 12:19] hughbe opened #18128 "Fix managed implementation of HttpListener to match Windows implementation"
In #17999 some tests are disabled on Unix due to different implementations of HttpListener. Most of these are argument validation, and can easily be corrected. Some may need further investigation and may be by-design due to inherent platform differences.

I'm grabbing this one, once #17999 is merged

[2017-04-09 13:02] #18059 closed

[2017-04-09 13:19] hach-que commented on #9357
I'm running into this issue on 1.1 pretty frequently, while running functional tests against a local Docker container.  What's more, I can verify that the ASP.NET Core server running inside the container handled the request and sent its response:

In the functional test suite (OpenSUSE 42.1):
[code]

Logs from the target container (using official Docker images):
[code]

This appears to occur rando

[2017-04-09 13:28] jack-pappas commented on #18118
@jkotas Yes, I meant ``UnmanangedMemoryAccessor``, thank you for the correction.

@karelz Ok, thank you. I'll see if we can target ``netstandard2.0`` for the F# compiler then in order to use these APIs.

[2017-04-09 14:49] krwq commented on #4278
Ok, let's track the coverage progress with: https://github.com/dotnet/corefx/issues/16829 - I thought we treat it as a master issue

[2017-04-09 14:49] #4278 closed

[2017-04-09 16:39] asperheim commented on #17434
I have not yet put my changes into production. Will get a chance to do that right after easter.

[2017-04-09 18:13] aluanhaddad commented on #14119
This would be great! Just as long as it is not called `Merge`....

Regarding `MinBy` and `MaxBy`, I definitely think a single value should be returned. While multiple results are of course a possibility, I think that the `By` suffix indicates a desired behavior in the vein of `DistinctBy` and `Except

[2017-04-09 18:15] aluanhaddad commented on #14119
This would be great! Just as long as it is not called `Merge`....

Regarding `MinBy` and `MaxBy`, I definitely think a single value should be returned. While multiple results are of course a possibility, I think that the `By` suffix indicates a desired behavior in the vein of `DistinctBy`, `ExceptBy`, and `IntersectBy`. In my mode of reasoning, which often involves fuzzy logic, The `keySelector` s

[2017-04-09 18:43] karelz commented on #4278
Yes, we treat it as master issue, but sometimes you have to declare things done, otherwise you would have at 1 open issue for every larger feature tracking "do more" - which is not truly helping anyone.

[2017-04-09 19:05] JaedsonBarbosa commented on #4278
It's now closed 😢
So... Where should I ask questions about the System.Security.Cryptography.Xml?

[2017-04-09 19:29] #18064 closed

[2017-04-09 20:43] karelz commented on #4278
Isn't @krwq's answer above sufficient?
If you have bigger questions, file a new issue. If it is small clarificiation of previous answer, you can keep it here. If not sure, ask here and in the worst case we will ask you to file a new issue ;-)

[2017-04-09 20:57] Genbox commented on #15443
@AArnott can you elaborate why you think static code analysis, Code Contracts in particular, is not worth believing in?

[2017-04-09 22:17] Vertygo commented on #18099
@karelz @danmosemsft after a bit of research I have found out that my COM 3/4 ports are Bluetooth over Serial Port ports. After disabling Bluetooth from control panel I can see that tests are running smoothly and even faster than previously (trying to create folder with name COM3 was correctly returning error/exception but with some delay).

I think that in this case there is not much to do but we

[2017-04-09 23:02] danmosemsft commented on #18099
@Vertygo interesting. That doesn't explain why NUL didn't give an exception, I guess?

Ideally there would be a line of code we could write that would detect this case, and skip those COM ports in this test. There is existing code here:
https://github.com/dotnet/corefx/blob/master/src/System.IO.Ports/tests/Support/PortHelper.cs
https://github.com/dotnet/corefx/blob/master/src/System.IO.Ports/tests

[2017-04-09 23:30] danmosemsft commented on #13094
@MattGal @mmitche should this go to core-eng?

[2017-04-09 23:33] paulomorgado commented on #18070
Adding an overload might break for already compiled derived classes when using that member.

Removing an overload breaks every type derived class that overrides that member even if the code doesn't use that member.

Either way, it's BAD!!!

[2017-04-09 23:40] shiftylogic commented on #17118
This looks like a legitimate bug. The test cases for this are not part of CI, mostly because it requires allocating a very large chunk of memory to hit. The test cases I used for testing the functionality universally used a multiple of MaxValue, so we never hit the bad case.

 Nice catch.

[2017-04-10 00:04] AArnott commented on #15443
@genbox I haven't followed code contracts for several years so forgive me any ignorance in my response. When I used code contracts, especially with ccrewrite.exe, I found it lagged behind the compiler in capabilities, and dangerously so. For example, when generator methods first came out, any code contract at the top of those methods would malfunction (I don't remember how) because the rewriter wa

[2017-04-10 00:05] #18016 closed

[2017-04-10 00:41] fragmer opened #18129 "How to control IPEndPoint of HTTP requests?"
I've got a few .NET services that run on machines with multiple IP addresses, and they need to occasionally send HTTP requests from specific IPs. Currently I use `HttpWebRequest` with a custom `ServicePoint.BindIPEndPointDelegate` and it works great. I'm hoping to port this service to .NET Core/Standard, but can't find any equivalent functionality in HttpClient/HttpClientHandler.

Is there any way

[2017-04-10 00:48] danmosemsft commented on #15473
I don't know why I opened this. #15443 seems sufficient

[2017-04-10 00:48] #15473 closed

[2017-04-10 00:55] danmosemsft commented on #18125
The product code tries to do similar parsing, so any surprising input looks like it oculd have thes same result there.
[code]

[2017-04-10 00:59] dotnet-mc-bot opened #18130 "[MC-TEST] - Test failure: MonoTests.System.Configuration.ConfigurationManagerTest/OpenExeConfiguration1_UserLevel_PerUserRoamingAndLocal"
Opened on behalf of @maririos

The test `MonoTests.System.Configuration.ConfigurationManagerTest/OpenExeConfiguration1_UserLevel_PerUserRoamingAndLocal` has failed.

System.ArgumentException : The path is not of a legal form.

        Stack Trace:

           at System.IO.Path.GetFullPath(String path)
       at System.IO.FileInfo.Init(String fileName)
       at System.IO.FileInfo..ctor(String file