[2016-03-15 08:42] jrieken commented on #6866
Thanks everyone

[2016-03-15 10:44] leemgs opened #6903 "How to get one file from duplicated managed files (with same file name) for Linux/ARM"
I have tried to make *.dll package list for Linux/ARM by referencing the below webpage in order that we can run C# application on Linux/ARM target board as well as on X86 64bit PC.
`* dotnet-dev for Ubuntu 14.04 X86/64bit - http://apt-mo.trafficmanager.net/repos/dotnet/pool/main/d/dotnet-dev/dotnet-dev_0.1.0.0-1_amd64.deb`

I could get the 88 managed files by running `ls -1 /usr/share/dotnet-dev/b

[2016-03-15 11:59] stephentoub commented on #6434
@ianhays, did you run both sets of tests on the same machine with the same drives mounted?

[2016-03-15 12:56] onovotny commented on #6689
I'm seeing this with rc2-23911:

[code]

[2016-03-15 14:08] hughbe commented on #6774
Fixed by dotnet/coreclr#3695

[2016-03-15 14:08] #6774 closed

[2016-03-15 14:37] gkhanna79 commented on #6892
We should have a SharedFramework redist defined, using the Arm64 RID.

[2016-03-15 15:36] ianhays commented on #6434
Yes indeed.

[2016-03-15 15:47] veikkoeeva commented on #5474
Without knowing the entire context of the reference, unaligned writes may induce more than "small extra cost". **Alois Kraus** has one such case examined and written in detail [Is This A CPU Bug?](http://geekswithblogs.net/akraus1/archive/2015/11/12/168683.aspx). A few quotes:

It might be that unaligned cross-page operations might become expensive too. One example at [How do modern cpus handle cr

[2016-03-15 15:54] ianhays commented on #6896
It's possible some of the tests listed aren't <i>really</i> tests that provide new coverage, but maybe their execution differed in ToF or maybe concurrent operations happened in a different order so different lines were touched. There isn't a way to differentiate between "lines this test covers" and "lines that were touched while executing this test". I expect that to be the case for a good number

[2016-03-15 15:56] #6834 closed

[2016-03-15 16:03] #6436 closed

[2016-03-15 16:03] #6437 closed

[2016-03-15 16:04] #6435 closed

[2016-03-15 16:25] ianhays opened #6908 "[ToFDisable] Port tests for: System.Reflection"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-03-15 16:25] ianhays commented on #6908
Missing lines:

[code]

[2016-03-15 16:27] ianhays commented on #6908
A cursory glance at the above lines shows that most are marked covered by every System.Reflection tests in ToF. This would suggest that the covered lines are the result of differences in the way we run those tests vs. the tests in the open rather than the result of a test missing.

[2016-03-15 17:01] davidfowl commented on #4354
Closing this as it isn't actionable right now. With the RC2 release, netstandard should work across the board

[2016-03-15 17:01] #4354 closed

[2016-03-15 17:02] davidfowl commented on #4578
@mgravell This should be gone with the .NET CLI. Today it happens because running `dnu pack` on anything that has a command will create a package with a `project.json` (as it represents an application being packed in a nuget package).

[2016-03-15 17:02] #4578 closed

[2016-03-15 17:02] ericeil opened #6911 "MemoryMappedFileTests_CreateOrOpen.ValidArgumentCombinations_NonExecute failed in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/3493/testReport/junit/System.IO.MemoryMappedFiles.Tests/MemoryMappedFileTests_CreateOrOpen/ValidArgumentCombinations_NonExecute_mapName___8fdc2f7d02eb4cd283e0400af5ffa06b___capacity__1__access__Read__options__DelayAllocatePages__inheritability__Inheritable_/

[code]

[2016-03-15 17:02] davidfowl commented on #4373
/cc @richlander @Petermarcu

[2016-03-15 17:03] #4341 closed

[2016-03-15 17:08] ericeil opened #6912 "Restructure async operation queues in Unix Socket implementation"
Currently we maintain the queue of pending operations chained off of the "event port" (epoll/kqueue).  This has some unfortunate implications:

1) We maintain ordering only for the processing of these events.  The actual I/O is still unordered, without some extra mechanism.  #6838 is a stop-gap fix for this, using the queue lock to maintain ordering of the I/O, but this means that we may block som

[2016-03-15 17:15] terrajobst opened #6913 "Port EventLog to .NET Core"
This includes `System.Diagnostics.EventLog` and friends.

[2016-03-15 17:19] RichiCoder1 commented on #4373
This has been throwing me off too. I like it, but it breaks from a lot of written docs.

[2016-03-15 17:29] weshaggard commented on #6689
@onovotny looks like you still have some older versions of System.Reflection.TypeExtensions https://gist.github.com/onovotny/16711b59d567e43a19a0#file-project-lock-json-L3730.

[2016-03-15 17:43] tmat opened #6915 "System.Reflection.Metadata: Review all exceptions thrown by new code in 1.3"
- [x] Localize all messages.
- [x] Move all Throw methods to a single place.
- [x] Check arguments in new public APIs.
- [x] Include exception info in doc comments.

[2016-03-15 17:50] mgravell commented on #4578
Awesome, thanks.

On Tue, 15 Mar 2016 17:04 David Fowler, <notifications@github.com> wrote:

[2016-03-15 17:59] troydai commented on #6689
@onovotny I used to hit the same issue. And then I realize that some of the other packages pulls in the old `System.Reflection.TypeExtensions` package. You can solve this by explicitly list `"System.Reference.TypeExtensions": "1.0.0-rc3-23907"` (or a later version) to override the issue.

[2016-03-15 18:18] joganet opened #6917 "unable to locate dependencies on Linux only, on windows all is ok"
Hi
I have a dnxcore50 project where we use some dependencies like Diagnostics, or IO, Reflection.... just to mention a few, in windows the restore works fine (we use VS with a console package project) but we are trying to run the app on Ubuntu without success, when we are doing the dnu restore (or dotnet restore, is the same) we have some depenencies that were not found (see list below)

    Unabl

[2016-03-15 18:26] ianhays commented on #6434
Missing lines are mostly testing interop errors and are in:
[code]
The only line in System.IO.FileSystem.DriveInfo directly is:
[code]
Which is only touched when there is a ERROR_ACCESS_DENIED so it can throw an unauthorizedaccessexception.

[2016-03-15 18:27] ericeil commented on #6302
Another failure, also on CentOS:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/centos7.1_release_tst_prtest/2647/consoleFull#-21371504001f1a4601-6aec-4fd5-b678-78d4389fd5e8

[2016-03-15 18:40] cartermp commented on #6518
@joshfree I'm changing this to RTM and modifying the proposal after speaking with @weshaggard, @mairaw and @ghogen about how to best approach this given the issues around mscorlib.

[2016-03-15 18:56] ericeil opened #6918 "ArgumentOutOfRangeException when creating named pipes on OSX"
When I run `System.IO.NamedPipes.Tests` on my OSX machine, most tests fail with an `ArgumentOutOfRangeException` in `UnixDomainSocketEndPoint(string)`.  It seems the socket path is too long.  I am seeing path strings like this:

[code]

It looks like this is derived from `Environment.GetTempPath`.  I haven't done anything to customize my temp path, so I assume others with stock configurations will

[2016-03-15 19:00] stephentoub commented on #6918
There is in fact a length limit for Unix domain sockets: names must be <= 92 characters.  And this path is 106.  I'm not sure why my local tmp folder and the one used in CI are so different from what you've got, but obviously I'll address it.

[2016-03-15 19:16] cartermp commented on #6518
## Changes to the proposal

Given the difficulty presented in XML doc comments into mscorlib, and the amount of XML doc comments that are mscorlib-based, we have decided to eschew importing directly into source in favor of importing comments into the contracts defined in `/ref` folders.  For libraries which don't have contracts defined in a `/ref` folder, we'll still import into source.

This does

[2016-03-15 19:29] onovotny commented on #6689
Thanks @troydai, that worked. Guess that was unexpected as I am not explicitly referencing `System.Reflection.TypeExtensions` anywhere else and I was referencing `NetStandard.Library` 1.5 rc2 23911 and assumed it'd bring that in.

Any particular reason why `System.Reflection.TypeExtensions` isn't included in the NetPlatform.Library? Is it a compatibility package with an explicit opt-in intent?

[2016-03-15 19:33] #6383 closed

[2016-03-15 19:33] #6571 closed

[2016-03-15 19:45] weshaggard commented on #6689
System.Reflection.TypeExtensions is a compat library with extensions for a lot of things that we added to the core System.Reflection contract recently. We don't want TypeExtensions in NetStandard.Library because we expect it to fade away over time.

[2016-03-15 20:16] ianhays commented on #6897
For all of System.Net.*, we're missing 740 lines of coverage.

Test projects that contain coverage missing in Open:

- [ ] System.Net.Http\4.0.0.0\NetHttpTest_FullRun.XML
- [ ] System.Net.Requests\4.0.10.0\NetRequestsTest_FullRun.XML
- [ ] System.Net.Http.WinHttpHandler\4.0.0.0\NetWinHttpHandlerTest_FullRun.XML
- [ ] System.Net.Primitives\4.0.10.0\NetPrimitivesTest_FullRun.XML
- [ ] System.Net.Nam

[2016-03-15 20:22] ianhays commented on #6908
I combined all of the System.Reflection* test coverage and compared it against the whole set of Open coverage and narrowed down the missing lines to those above.

I'm going to close out all other issues for System.Reflection* since their missing "coverage" is mirrored here.

[2016-03-15 20:22] #6444 closed

[2016-03-15 20:23] ianhays commented on #6443
Missing lines are already noted in #6908. Closing

[2016-03-15 20:23] #6443 closed

[2016-03-15 20:23] ianhays commented on #6442
Missing lines are already noted in #6908. Closing

[2016-03-15 20:23] #6442 closed

[2016-03-15 20:23] ianhays commented on #6441
Missing lines are already noted in #6908. Closing

[2016-03-15 20:23] #6441 closed

[2016-03-15 20:23] ianhays commented on #6440
Missing lines are already noted in #6908. Closing

[2016-03-15 20:23] #6440 closed

[2016-03-15 20:47] mms- opened #6920 "Port and update System.Addin"
Though not used massively there is a real use for it, and as far as I know nothing to replace it. UWP environment as it grows will want this functionality to support business apps.

[2016-03-15 20:49] ianhays commented on #6447
Only missing lines in "System.Runtime.Loader" are:

[code]

[2016-03-15 20:52] ianhays opened #6921 "[ToFDisable] Port tests for: System.Runtime.Handles"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-03-15 21:07] ianhays opened #6922 "[ToFDisable] Port tests for: System.Security.AccessControl"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-03-15 21:08] ianhays commented on #6450
Missing lines:
[code]

[2016-03-15 21:10] ianhays commented on #6454
Missing lines:
[code]

[2016-03-15 21:11] ianhays commented on #6455
Missing lines:
[code]

[2016-03-15 21:13] ianhays opened #6923 "[ToFDisable] Port tests for: System.Security.SecureString"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-03-15 21:17] ianhays commented on #6456
Looks like the only lines we care about are:
[code]

[2016-03-15 21:17] ianhays opened #6924 "[ToFDisable] Port tests for: System.Text.Encoding"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-03-15 21:28] krwq commented on #4638
Hey @SharpNoiZy, is this question still valid?

[2016-03-15 21:32] ianhays commented on #6578
Re-ran everything with latest sources, Debug, and less aggressive filtering and got:

For System.Threading.Tasks, we're missing 149 lines of coverage.

To fulfill the uncovered lines we would need to either create new tests for them or port 20 ToF tests to the open. Those tests are:

- [ ] System.Threading.Tasks\4.0.0.0\TaskScheduler\TST.RunSynchronizationContextTaskSchedulerTests\TST.RunSynchroni

[2016-03-15 21:36] RichiCoder1 commented on #6920
Maybe I don't understand the purpose of `System.AddIn`, but from a brief read wouldn't it be supplanted by `System.Composition` aka `MEF`?

[2016-03-15 21:36] ianhays commented on #6461
It's possible some of the tests listed aren't really tests that provide new coverage, but maybe their execution differed in ToF or maybe concurrent operations happened in a different order so different lines were touched. There isn't a way to differentiate between "lines this test covers" and "lines that were touched while executing this test". I expect that to be the case for a good number of the

[2016-03-15 21:39] #6422 closed

[2016-03-15 21:42] stephentoub commented on #6923
System.Security.SecureString was removed from corefx.

[2016-03-15 21:42] #6923 closed

[2016-03-15 21:42] ericeil commented on #6918
For anyone who runs across this issue in the future, the workaround is:

[code]

[2016-03-15 22:04] Clockwork-Muse commented on #6896
Especially for this library.  Ah, the joys of internal behavior and threading...

[2016-03-15 22:19] mms- commented on #6920
There is some overlap, and MEF could be extended, but these solve different problems, please see : http://stackoverflow.com/questions/835182/choosing-between-mef-and-maf-system-addin

Ideally a new MAF implementation would use MEF where appropriate. AppDomains aren't required it's just one of the options, process isolation is more important.

.Net Core is new and it will evolve. If UWP/Core are to

[2016-03-15 22:37] ericeil opened #6928 "Remove manual SafeHandle marshaling in Unix Socket interop code"
#6345 plumbed SafeHandle usage throughout the Unix Socket interop layer, but had to do manual marshaling from SafeHandles to file descriptors in the native interop layer because most of the Socket-related methods in System.Native take "int"-type file descriptor arguments, rather than IntPtr.  If these are changed to IntPtr, we can remove the manual marshaling code.

[2016-03-15 22:38] joganet commented on #6917
as addition infromation, this is the final output using dotnet.cli

Errors in /home/XXX/YYYYYYYYYYYYYYY/project.json
    Unable to resolve System.Diagnostics.Contracts (>= 4.0.1-rc2-23623) for DNXCore,Version=v5.0.
    Unable to resolve System.Reflection.TypeExtensions (>= 4.1.0-rc3-23727) for DNXCore,Version=v5.0.
    Unable to resolve System.Diagnostics.Tools (>= 4.0.1-rc2-23616) for DNXCore,Ver

[2016-03-15 22:40] ianhays commented on #6463
Missing line:
[code]

[2016-03-15 22:40] ianhays commented on #6464
Missing lines:
[code]

[2016-03-15 22:40] ericeil commented on #5246
This is covered by #5185

[2016-03-15 22:40] #5246 closed

[2016-03-15 22:43] paulmaybee opened #6929 "Opening a fifo stream fails on OSX"
Attempting to create a FileStream with a fifo created via mkfifo fails on OSX in the UnixFileStream constructor. The failure is in the attempt to flock the file. Flock fails with ENOTSUP (operation not supported). Example call stack:
LocalOsxTransport exited with exception: Operation not supported
Stack:    at System.IO.UnixFileStream.CheckFileCall(Int64 result, Boolean ignoreNotSupported)
   at S

[2016-03-15 22:49] Priya91 opened #6930 "System.Data.SqlClient.Tests.ExceptionTest fails with updated package"
On updating to latest package rc3-23915 this test fails
[code]
[code]

[2016-03-15 22:51] glennc commented on #6917
`continuing from Twitter`

Yeah, see how you are only using a single NuGet.Config file. If you look in your app you have a custom one with some custom feeds. But there is a bug in the current version of the CLI (fix checked in yesterday I think) that stops the restore from looking at the one in your app folder. If you copy the NuGet.Config from your app directory to one directory above it then it

[2016-03-15 22:52] glennc commented on #6917
This isn't really an issue for corefx, should be in the CLI repo or on NuGet. But hopefully this will resolve it and we can just close it rather than moving it.

[2016-03-15 22:57] joganet commented on #6917
Hi Glennc

But I don't have another NuGet.Config, in my console app only have the folowing files

-rw-rw-r-- 1 gabe gabe 160060 mar 15 12:32 project.lock.json
drwxrwxr-x 3 gabe gabe   4096 mar 14 16:26 .
drwxrwxr-x 2 gabe gabe   4096 mar 14 16:26 Properties
drwxrwxr-x 5 gabe gabe   4096 mar 11 17:21 ..
-rw-rw-r-- 1 gabe gabe   2176 mar 10 20:33 Program.cs
-rw-rw-r-- 1 gabe gabe    747 mar 10 20:31

[2016-03-15 22:58] Priya91 opened #6931 "System.IO.Filesystem.Tests fail with package update to rc3-23915"
[code]
[code]
[code]
[code]

[2016-03-15 23:00] joganet commented on #6917
if this is a cli repo issue how can I move it to the correct forum?

[2016-03-15 23:00] glennc commented on #6917
Ok, so you created this how? I am assuming you created it using RC1 of the DNX and are starting to change to dotnet cli?

[2016-03-15 23:00] glennc commented on #6917
There is a CLI repo in the dotnet group here on GitHub

[2016-03-15 23:02] Priya91 opened #6932 "System.Reflection.TypeExtensions test fails with package upgrade to rc3-23915"
[code]

[2016-03-15 23:04] JeremyKuhne commented on #6931
These are by design. We don't do any prevalidation with `\\?\` now as it is near impossible to get right. We let the OS do whatever it will do with the paths. The tests need to be updated to check for `\\?\` and catch the exceptions seen above if present.

[2016-03-15 23:04] joganet commented on #6917
yes we created on windows using the RC1 of DNX, I just installed dotnet-cli recently, we still work with dnx, dnu throws a similar error so is not something specific for dotnet-cli, this only happends on Linux, in windows works like a charm

the output from dnu is

Errors in /home/gabe/Test.Console/project.json
    Unable to locate Dependency System.Diagnostics.Contracts >= 4.0.1-rc2-23623
    Una

[2016-03-15 23:06] joganet commented on #6917
ok, so I will post then in the CLI repo thanks

[2016-03-15 23:06] JeremyKuhne commented on #6931
To be more explicit- they should be checking the way PathInternal.IsExtended() does.

[2016-03-15 23:19] venkat-raman251 opened #6934 "Fix ApiCompat issues for System.Runtime.Extensions"
Remove ApiCompatBaseline.netcore50aot.txt once errors mentioned in it are resolved.

[2016-03-15 23:19] venkat-raman251 opened #6935 "Fix ApiCompat issues for System.Security.Cryptography.X509Certificates"
Remove ApiCompatBaseline.net46.txt once errors mentioned in it are resolved.

[2016-03-15 23:20] #5842 closed

[2016-03-15 23:21] venkat-raman251 opened #6936 "Fix ApiCompat issues for System.Appcontext"
Remove ApiCompatBaseline.net462.txt once errors mentioned in it are resolved.

[2016-03-15 23:22] venkat-raman251 opened #6937 "Fix ApiCompat issues for System.Data.Common"
Remove ApiCompatBaseline.net45.txt once errors mentioned in it are resolved.

[2016-03-15 23:22] venkat-raman251 opened #6938 "Fix ApiCompat issues for System.Data.SqlClient"
Remove ApiCompatBaseline.net45.txt once errors mentioned in it are resolved.

[2016-03-15 23:23] venkat-raman251 opened #6939 "Fix ApiCompat issues for System.Linq.Expressions"
Remove ApiCompatBaseline.net46.txt once errors mentioned in it are resolved.

[2016-03-15 23:24] venkat-raman251 commented on #6645
Remove ApiCompatBaseline.netcore50aot.txt once errors mentioned in it are resolved.

[2016-03-15 23:25] venkat-raman251 commented on #6017
Remove ApiCompatBaseline.net462.txt once errors mentioned in it are resolved. @weshaggard

[2016-03-15 23:32] #6832 closed

[2016-03-15 23:38] #6917 closed

[2016-03-16 00:00] #5036 closed

[2016-03-16 00:20] manu-silicon commented on #6903
The way I've done it so far to test CoreCLR on Linux without relying on any of the dotnet CLI tools, is to copy all assemblies from the OS specific folder and then copying whatever is not already present from the non-OS specific folder.

[2016-03-16 00:28] MichalStrehovsky opened #6942 "System.Reflection.Metadata: Avoid allocations in custom attribute parser"
The custom attribute parser allocates an ImmutableArray for FixedArguments and NamedArguments.

We should explore options to parse these lazily and avoid the array allocation.

[2016-03-16 00:58] RichiCoder1 commented on #6920
Described like that, the Omnisharp folks immediately come to mind. Thoughts @david-driscoll?

[2016-03-16 01:03] MattGal opened #6945 "Need to remove Framework-specific assembly attributes from test assemblies"
The test DLLs for CoreFX are getting created using the values from https://github.com/dotnet/corefx/blob/master/dir.props

This leads to assembly metadata like this:
[assembly: AssemblyVersion("999.999.999.999")]
[assembly: OptimizeForBenchmarks]
[assembly: AssemblyCompany("Microsoft Corporation")]
[assembly: AssemblyCopyright("© Microsoft Corporation.  All rights reserved.")]
[assembly: AssemblyD

[2016-03-16 01:10] linvi opened #6946 "Uri percent-encoding inconsistency between .NET Framework and UWP"
I am not sure this is the best place to notify Microsoft about the following problem but here we go :

I have noticed an inconsistency of HttpClient.SendAsync between "Console" and W10 Universal App.
The inconsistency can be detected via Fiddler when executing a query with special characters.

Please note that I am using the `HttpClient` from a Portable Class Library.

If I user `HttpClient.SendAs

[2016-03-16 02:00] jamesqo opened #6947 "WebUtility.UrlEncodeToBytes erroneously returns the full array if no encoding is needed"
This code prints `1 2 3`, when it should print `2 3`:

[code]

The problem seems to be coming from [this](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/System/Net/WebUtility.cs#L319) line in the internal `UrlEncode` implementation, which returns the whole byte array disregarding the offset and the count.

Luckily I've found out that I accidentally fixed this with #

[2016-03-16 02:02] jamesqo commented on #6893
cc: @jkotas @terrajobst @KrzysztofCwalina @joshfree @justinvp

[2016-03-16 02:23] divega opened #6948 "SqlCredential - Missing assembly/namespace DNX Core5.0"
_From @nerradchoong on March 15, 2016 20:8_

I still have this assembly missing even after adding System.Data.SqlClient namespace in the dependencies.
has it been added yet or am i missing something ?

_Copied from original issue: aspnet/Home#1355_

[2016-03-16 02:23] divega commented on #6948
_From @Eilon on March 16, 2016 2:2_

@divega @rowanmiller ?

[2016-03-16 02:27] divega commented on #6948
It appears that SqlCredential isn't included in the .NET Core version of SqlClient. Moving the issue to this repo to give the SqlClient owners a chance to answer if this is by design.

[2016-03-16 02:42] #6783 closed

[2016-03-16 03:04] weshaggard commented on #6883
@andschwa can you point me at your project.json and your lock file?

[2016-03-16 03:10] weshaggard commented on #6850
@pallavit was this part of your recent set of APIs you exposed in reflection?

[2016-03-16 03:13] leemgs commented on #6903
@manu-silicon, Thank you for sharing your experience.

I want to talk about the two methods as following;
[code]
Which better between  `**1st method**` and `**2nd method **`to support the normal execution of C# applications on CoreCLR runtime? From my experience, it seems that 1st method is effective for compatibility, and 2nd method is helpful for OS-aware managed CoreFX. Anyone who thought it?

[2016-03-16 03:18] manu-silicon commented on #6903
@leemgs I think the missing factor between 1st and 2nd method is whether or not files get overridden? I used 1 with no override, and 2 with override. At the end the result should be the same.

[2016-03-16 05:02] vijaykota commented on #6466
This was a tracking issue for #5770. That PR has been superseded by #6905 where this has been fixed

[2016-03-16 05:02] #6466 closed

[2016-03-16 05:27] leemgs commented on #6903
@manu-silicon, I have talked about the case of the overwrite mode .

[2016-03-16 06:13] Priya91 opened #6950 "Unix build breaks with package errors on recent buildtools update"
[code]
[code]
Full log:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_ubuntu14.04_debug/31/console

[2016-03-16 06:57] ericstj commented on #6950
any chance we can get the actual log file?  Console output is not sufficient. /cc @mmitche @Priya91

[2016-03-16 08:20] justinvp commented on #6726
I went ahead and grabbed this. #6952.

[2016-03-16 09:03] Grauenwolf commented on #6893
Is that really a problem. Looking at the string class, it does have an internal field named m_stringLength.

http://referencesource.microsoft.com/#mscorlib/system/string.cs,8281103e6f23cb5c,references

[2016-03-16 09:39] davidfowl opened #6953 "Add netstandard1.5 to the standard platform document"

[2016-03-16 10:51] leemgs commented on #6903
For example, here is  a different file size on "System.AppContext.dll".

[code]

[2016-03-16 10:52] linvi commented on #6946
Hello David,

I know I just opened this few hours ago, but have you experienced the same problem before.

If yes, do you know some workarounds?
If no, have you been able to identify the problem?

Thanks

[2016-03-16 11:11] JonHanna commented on #6946
What happens if you explicitly ask for `https://api.twitter.com/1.1/search/tweets.json?q=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82!&result_type=mixed&count=100` rather than `https://api.twitter.com/1.1/search/tweets.json?q=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82%21&result_type=mixed&count=100`?

[2016-03-16 11:15] linvi commented on #6946
I cannot test this right now but I am pretty sure that this does work.

But it means that I cannot rely on `Uri.EscapeDataString(queryURL);`.
Is there a "better" method than `Uri.EscapeDataString(queryUrl);` to ensure that `HttpClient` works as expected?

Should I try to escape the data string manually?

[2016-03-16 11:45] JonHanna commented on #6946
We don't know if those are the right questions until after we see if the explicit uses differ. Unescaping '%21' back to '!' seems like busy-work on first glance since servers should treat them equivalently any time they are used as sub-delim characters (and obviously unescaping in that case would be a clear bug). If the check I suggest does indeed show this to be were the issue is then this would

[2016-03-16 12:05] SharpNoiZy commented on #4638
Sorry, the issue can be closed.

[2016-03-16 13:12] manu-silicon commented on #6903
I would just keep ```./Linux.AnyCPU.Debug/System.AppContext/System.AppContext.dll```.

Most likely it is identical to ```./AnyOS.AnyCPU.Debug/System.AppContext/System.AppContext.dll``` but I haven't verified it.

Using this strategy I was able to run a very complex C# program on CoreCLR Linux.

The ```\.Tests``` folders can be ignored. And unless I'm missing something ```netcore50``` and ```net46`

[2016-03-16 13:23] linvi commented on #6946
The problem does not come from Twitter not being able to read the ! or %21.
The problem comes from the fact that as part of Twitter authentication, the OAuthToken needs to be constructed based on the parameters of the queryURL.

When Twitter receives a requests, their api compares the token with the http request url, but because `HttpClient` changed the query parameters, the OAuthToken is no longe

[2016-03-16 13:51] linvi commented on #6946
Just for the sake of sharing, the bug was reported [here](https://github.com/linvi/tweetinvi/issues/120).

And the set of characters the user tested is :

:
(
)
*

[2016-03-16 14:02] davidsh commented on #6946
@linvi Thx for reporting the bug. As library owner of System.Net.Http, we will investigate. It's possible this problem is not related to HttpClient but rather to System.Uri which is used for parsing the query string parts of the path.

[2016-03-16 14:03] davidsh commented on #6946
I know I just opened this few hours ago, but have you experienced the same problem before.
If yes, do you know some workarounds?  If no, have you been able to identify the problem?

Also, please keep in mind that the core team is based in Redmond, WA and we usually are only able to respond to issues during business hours.

[2016-03-16 14:14] leemgs commented on #6903
Here is a different file size of 10 `System.Diagnostics.Debug.dll` files from `./Linux.AnyCPU.Debug/` folder. Um. What is what?

[code]

[2016-03-16 14:15] leemgs commented on #6903
@manu-silicon , Right.

[2016-03-16 14:30] stephentoub opened #6956 "Unix_BufferSizeRoundtripping failing sporadically on OS X"
[code]

[2016-03-16 15:33] bartonjs commented on #6454
@ianhays I'm not quite sure how to read that data.

There's definitely some known missing coverage due to the tests being flaky (mostly due to parallel
execution competing over duplicatey-named resources).

[2016-03-16 16:26] justinvp commented on #5660
Ran in to this again here:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_debug_tst_prtest/2902/consoleFull#-21371504001f1a4601-6aec-4fd5-b678-78d4389fd5e8

[code]

And here:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_release_tst_prtest/2920/consoleFull#-21371504001f1a4601-6aec-4fd5-b678-78d4389fd5e8

[code]

[2016-03-16 16:41] stephentoub commented on #5660
@mmitche, is it possible that multiple corefx test runs might be running on the same CI machine at the same time?  The error message highlights that the larger limit is being used, but we're still hitting it, which implies to me either a) we're not properly disposing some of these, b) multiple jobs are running concurrently on the same machine and some of our tests that push these values to the lim

[2016-03-16 16:49] ericstj commented on #4305
It looks like this is fixed now.  @gkhanna79 @chcosta can you confirm and close?

[2016-03-16 16:53] ericstj commented on #5456
We've taken a new approach to this, see https://github.com/dotnet/corefx/issues/5843.  This build should be out later today.

[2016-03-16 16:54] gkhanna79 commented on #4305
Yes, this is complete. I am not aware of anything outstanding. @chcosta If there is nothing else you are aware of, please feel free to close this.

[2016-03-16 16:55] chcosta commented on #4305
I confirmed that mscorlib.ni.dll is in today's Linux / OSX packages.

[2016-03-16 16:55] #4305 closed

[2016-03-16 17:00] #6929 closed

[2016-03-16 17:02] #6918 closed

[2016-03-16 17:05] #6615 closed

[2016-03-16 17:10] #6828 closed

[2016-03-16 17:16] chcosta commented on #6468
Packages have since been updated, we are currently on 23910.  I'm going to assume that my previous statement was correct and close this issue.  @stephentoub, please let me know if this is still an issue.

[2016-03-16 17:16] #6468 closed

[2016-03-16 17:17] chcosta commented on #6170
@weshaggard , should this issue be pushed to the next milestone?

[2016-03-16 17:41] stephentoub opened #6960 "HttpClient and WinHttpHandler tests failing on Windows due to FileLoadException"
e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win10_debug/123/consoleFull
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_windows_nt_debug/117/console
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win7_debug/120/consoleFull
[code]
cc: @ericstj, @davidsh

[2016-03-16 17:48] ericstj commented on #6960
This is related to my change yesterday.  We moved assembly versions back for inbox contracts to accommodate desktop and UWP shared library.  We need to pick up a new drop of packages to fix it.  I'm working on getting the build unblocked so that we have those packages.

[2016-03-16 17:59] ericstj commented on #6950
/cc @dagood anyone with a repro to share the log file with me?

[2016-03-16 18:15] Priya91 commented on #6950
@ericstj
The msbuild.log from Ubuntu14.04 build:
https://gist.github.com/Priya91/e8b077727a7a43159a8c

[2016-03-16 18:32] dagood commented on #6950
I repro'd the package restore issues to get at the nuget log: https://gist.github.com/dagood/63affeb2d3aaa7bb0f41

I also noticed this when running `init-tools.sh`:
[code]

I could only find 3.4.0 on the dotnet.myget.org buildtools feed, and it looks like it's even older than the beta-488 version we were using before. I'm not completely sure where this dependency is used, but maybe this is breakin

[2016-03-16 18:34] ericstj commented on #6950
Indeed, I need to mirror the latest nuget on our feed from the nugetbuild feed.  I'll look through restore errors shortly.

[2016-03-16 19:18] #6956 closed

[2016-03-16 19:42] ianhays commented on #6809
Most of these "missing" tests are because of added coverage to parts of mscorlib we aren't testing.

[2016-03-16 20:05] ericstj commented on #6950
I mirrored the nuget packages, so that should fix the build failures.  Looking into restore failures now.

[2016-03-16 20:30] ericstj commented on #6801
Azure storage should update to latest packages that support generations rather than hand-selecting old pre-release versions.  They may be waiting for a public release of those packages on nuget, but if not they can do this today.  Just point the project and dotnet-core myget feed and update all.

[2016-03-16 20:53] GuardRex commented on #6801
Short of pulling their source into my projects, there is nothing that can be done on our sides AFAICT, so I'll hope for a new preview package from their team.

As you can see, I tried to discuss this with them, and they didn't feel it was a priority. Actually, they wouldn't discuss it at all :cry:.

@davidfowl told me what they are doing is "a problem" and to open this issue on it. However, should

[2016-03-16 21:00] dagood commented on #6950
Confirmed that the mirror fixed the build errors on my mac. (And that the RID PR fixes the restore.)

[2016-03-16 21:20] ericstj commented on #6801
Downgrades are always breaking.  It means things can be running under torn state.  This could result in ref-def mismatch on load or worse, random different behavior.

I do think that the uber problem here is that they need to update dependencies to a consistent newer LKG.  They may just be waiting for us to put that LKG on nuget.

If you reference a higher version won't it suppress nuget's warning

[2016-03-16 21:28] MattGal opened #6973 "After correcting errors, clean.cmd still reports "An error occured while cleaning""
I had a file open in ildasm when I ran clean.  After closing this, subsequent calls to clean worked but showed the same error.

Console output:

C:\GIT\CoreFX>clean.cmd
Running init-tools.cmd
Tools are already initialized.
Running msbuild clean targets "Clean" ...
C:\GIT\CoreFX\build.proj(98,5): error MSB3231: Unable to remove directory "C:\GIT\CoreFX\bin/". The process cannot access the file 'Sys

[2016-03-16 21:34] saurabh500 commented on #6948
@nerradchoong The `SqlCredential` had a dependency on `System.Security.SecureString` .
`SqlCredential` needed `System.Security.SecureString` to store the password.

https://msdn.microsoft.com/en-us/library/system.security.securestring(v=vs.110).aspx

`System.Security.SecureString` is no longer present in .Net core because of which SqlClient cannot support `SqlCredential`

[2016-03-16 21:34] #6948 closed

[2016-03-16 21:59] saurabh500 commented on #6827
cc @ericstj
Any ideas as to why the runtime package needed to be explicitly referenced in this case?
Any steps on how to debug this issue?

[2016-03-16 22:16] Priya91 opened #6976 "System.Net.Http.WinHttpHandler tests failing on Windows outerloop"
[code]

[2016-03-16 22:16] Priya91 commented on #6976
cc @joshfree @CIPop

[2016-03-16 22:22] stephentoub commented on #6976
Dup of https://github.com/dotnet/corefx/issues/6960

[2016-03-16 22:22] #6976 closed

[2016-03-16 22:27] ericstj commented on #6827
Sounds to me like to original project was missing a reference to the lineup package.  Can you share the project.lock.json from the app that was failing before the workaround?

[2016-03-16 22:55] #6809 closed

[2016-03-16 23:17] ianhays opened #6980 "[ToFDisable] Port tests for: System.Delegate"
As part of moving out of ToF and into the open, I've been going through the "Tree of the future" tests and calculating which of those tests provide coverage that we're missing in the open tests. The goal of this is to get the open tests universally better than the ToF tests so that we can turn the ToF tests off for ProjectK runs and save us all a lot of headache diagnosing test failures from poten

[2016-03-16 23:24] davmason commented on #3793
We need to clean up the open bugs that are not for .Net Core. This was fixed in .Net Core in coreclr PR [#2111](https://github.com/dotnet/coreclr/pull/2111) and the fix is coming for desktop with 4.6.2.

[2016-03-16 23:24] #3793 closed

[2016-03-16 23:26] #6950 closed

[2016-03-16 23:31] manu-silicon commented on #6903
Actually the one you should take is in

```Linux.AnyCPU.Debug/System.Diagnostics.Debug/System.Diagnostics.Debug.dll```

The others are copies that satisfy some basic transitive closure of assembly dependencies.

[2016-03-16 23:51] mellinoe commented on #6960
Latest OuterLoop runs (win8) are still hitting this:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_windows_nt_debug/118/console
Win10 outer loop hasn't gotten there yet.

[2016-03-16 23:53] jamesqo commented on #6893
Yes, but simply adjusting the length and returning it would create additional complications, since the rest of the unused string would be lying around in memory. The GC would somehow have to free only part of the string for this to be feasible.

[2016-03-17 00:12] Grauenwolf commented on #6893
The wasted memory doesn't concern me. Unless you are doing something silly like allocating a huge buffer for one character, it should still be cheaper than building more stuff for the GC to deal with.

But now I wonder about thread safety when it comes to StringBuffer.

-----Original Message-----
From: "James Ko" <notifications@github.com>
Sent: ‎3/‎16/‎2016 4:54 PM
To: "dotnet/corefx" <corefx@nor

[2016-03-17 00:39] manu-silicon commented on #6903
I've just build a scripts that does the copy:

[code]

[2016-03-17 01:55] davkean commented on #3793
k, just a reminder we're still hitting this daily - just in case this isn't in 4.6.2 yet: https://github.com/dotnet/roslyn/issues?utf8=%E2%9C%93&q=is%3Aissue+eventlistener+

[2016-03-17 03:42] GuardRex commented on #6801
@ericstj I'll definitely try that asap. I have an interview tomorrow with a company who thinks this homepage passes for good web dev ...
[code]
You probably feel about the same way I do on that ... let me talk some sense to them (and about adopting .NET Core!!!) and I'll try your suggestion on the package downgrade and get back to you.

[2016-03-17 07:00] vijaykota commented on #6767
Update for Kerberos case: ```gss_set_cred_option(GSS_KRB5_CRED_NO_CI_FLAGS_X)``` can be used on OSX. This will work on Linux also if MIT krb5 1.14 is installed. Please see explanation at https://github.com/krb5/krb5/commit/7e6965ae33338216650384ca559d49e90312087a

[2016-03-17 08:10] weshaggard commented on #6883
@andschwa I think I tracked down what happened here and submitted a fix #6987. Until then you can workaround it by directly depending on the older version of System.Private.Uri package.

[2016-03-17 08:37] leemgs commented on #6903
I have extracted full list from ./corefx/bin/ folder with above 2nd method as following:
Fore reference, It seems that the below "####  ......" files are generated newly.

[code]

[2016-03-17 13:08] nerradchoong commented on #6948
Will this be implemented down the road?

[2016-03-17 13:13] Tydude4Christ commented on #2050
I know this issue is closed but I like the ParseOrDefault method pebezo suggested except it should not return a nullable value but add an optional default parameter. See below for the implementation and example code. The value of this addition may be weak so I understand if this isn't seriously considered.

[code]

[2016-03-17 13:24] stephentoub commented on #6948
@terrajobst, @weshaggard, @pallavit, when we removed SecureString, I know we fixed up other places to work with strings, e.g. ProcessStartInfo.  Were we aware of this issue with SqlCredential?

[2016-03-17 13:46] GuardRex commented on #6801
@ericstj Tried ...
[code]
... resulted in ...
[code]
... so I tried ...
[code]
Licked it ... warnings gone and the library seems to function normally. I'll leave to you to close when appropriate. With the next Azure Storage preview/release, I'll check and ping back or re-open if the downgrade repros.

[2016-03-17 15:06] stephentoub opened #6994 "All Unix test legs are stalling"
They appear to be hanging while in the Discovering phase of looking for xunit tests.

[2016-03-17 16:04] #6883 closed

[2016-03-17 16:46] stephentoub opened #6997 "WinHttpHandler needs to better handle proxy url when DefaultProxyCredentials used"
See discussion here:
https://github.com/dotnet/corefx/pull/6992/files#r56524599

[2016-03-17 16:47] vancem commented on #3793
It is in 4.6.2.   It really a question of your deployment.   There are builds of 4.6.2 available

\\vsufile\patches\sign\NETFX\4.6.2\S98.3\01539.00\ISV_Offline

Is an installer.

[2016-03-17 16:54] veikkoeeva commented on #6517
Not to pollute the thread, @xied75 do you mean something like [Streams](http://nessos.github.io/Streams/) (F#)?

[2016-03-17 17:00] xied75 commented on #6517
@veikkoeeva Not really sure about F#, but this:
https://docs.oracle.com/javase/7/docs/api/java/io/FilterInputStream.html

[2016-03-17 17:20] pallavit commented on #6850
The recent package for System.Reflection expose TypeInfo.StructLayoutAttribute. Do let me know if you see any issues consuming it.

[2016-03-17 17:26] pallavit commented on #6932
@Priya91 Do you suspect any of the recent check-ins to cause this issue? I have not made any changes to this library's implementation and so just wanted to make sure,

[2016-03-17 17:48] pallavit commented on #6948
No, I was not aware of this dependency. Also, I looked at the history of the project and it seems the library removed dependency on SecureString from NetCore, long before we did the analysis and that could be the reason why it was missed.

[2016-03-17 17:58] Kaelum opened #6998 "Q: The legacy .NET System.Configuration.Provider namespace & system"
I'm not familiar with the new configuration system, but can it be used to perform the same functions that this legacy system does?  I've been heavily using this system for 14 years now, and it works really well, but most people don't even know it exists, or how to use it.

I have created several provider systems, with abstracted interfaces, creating a plug-n-play system for consumers.  I've mostly

[2016-03-17 17:59] pallavit commented on #6932
I looked at the issue and the behavior is expected and it is a test bug. I will create a PR once we get a green on submitting new items to the CI.

[2016-03-17 18:24] mmitche commented on #5660
@stephentoub Except for OSX, no.

[2016-03-17 18:55] xdvarpunen opened #6999 "Where is httplistener? Is it renamed?"
Hi,

I was checking dotnet and didn't find System.net.httplistener. Is it implemented? Is it renamed? Is it going to be implemented?

-XDVarpunen

[2016-03-17 19:27] #6431 closed

[2016-03-17 19:34] svick commented on #6999
This might be a duplicate of #3872.

[2016-03-17 19:35] joshfree commented on #6998
related https://github.com/dotnet/corefx/issues/1348

[2016-03-17 19:48] AlexGhiondea commented on #6871
This was done in: https://github.com/dotnet/corefx/commit/aaf7890386293b9a5b3983e957275ea135088583

[2016-03-17 19:48] #6871 closed

[2016-03-17 19:49] #6911 closed

[2016-03-17 19:53] stephentoub commented on #6994
Should be fixed by https://github.com/dotnet/coreclr/pull/3793.  In the meantime, we've locked the version of mscorlib being pulled in to CI to a version before the offending change was merged.

[2016-03-17 20:07] xdvarpunen commented on #6999
@svick yes it, let me write it here clearly so anyone who seeks the answer for the same question can find answer here.

### `System.net.httplistener `== `Microsoft.AspNetCore.Server.Kestrel`

If I understood right the `System.net.httplistener` is not implemented anymore in .NET and separated off into ASP.NET with name KestrelHttpServer in namespaces `Microsoft.AspNetCore.Server.Kestrel` and `Micro

[2016-03-17 20:07] #6999 closed

[2016-03-17 20:47] StephenBonikowsky opened #7001 "Conditional BuildNative call for WCF support."
WCF leverages the build process scripts from corefx, it aids our regular syncing if we can reduce the diffs between our versions of the same scripts, hence the following request.

In build.cmd would you consider wrapping the ":BuildNative" section with a repo check? Right now it just logs an error in WCF repo since we don't have any Native libraries to build, not a big deal it would just be nice t

[2016-03-17 20:53] Sridhar-MS commented on #6170
@ellismg The CoreCLR packages produced still have the RID `debian.8.2` as seen in https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.debian.8.2-x64.Microsoft.NETCore.Runtime.CoreCLR.

They should also be producing debian packages with `debian.8` RID.

This is blocking CLI from adding support for debian.

[2016-03-17 20:57] stephentoub opened #7002 "FileSystemWatcher_Changed_PreSeededNestedStructure failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/3639/consoleFull
[code]

[2016-03-17 21:20] kpboyle1 commented on #2189
Some applications, including my MVC layer, plan to continue using System.Xml.Xsl for the foreseeable future, A review of the w3.org site shows they've just released new standards for version 3.0, suggesting they might agree. As of March 17, 2016, it's the only library on my MVC layer that is being reported as incompatible with NetCore 1.0.

[2016-03-17 21:27] janvorli commented on #6848
@victorhurdugaci I am unable to repro the problem. Could you please share a minimal repro app with me?  And possibly add native stack dump at the point when the access violation occurs?

[2016-03-17 21:28] pallavit commented on #6223
I tried to repro this issue locally by running the Title_set test method in isolation in a loop for over 5 mins but could not repro the issue. I also tried running the complete test in the similar fashion with no results. A native app also worked as expected (Os used: win blue and win10). I also looked at the windows code to see when we throw this exception but could not formulate a theory.

Inter

[2016-03-17 21:29] pallavit commented on #6850
Closing this issue for now. Feel free to reopen in case you hit any consuming the API.

[2016-03-17 21:29] #6850 closed

[2016-03-17 21:45] ellismg commented on #7001
My preference would be to gate this on the existence of the cmd we would call.  I will submit a PR.

[2016-03-17 21:47] StephenBonikowsky commented on #7001
Thank you.

[2016-03-17 21:52] kpboyle1 commented on #1613
My most recent portability report (using the November, 2015 rc1 bytes) shows incompatibility in the following SqlClient libraries:  System.Data.DataRowVersion
System.Data.SqlClient.SqlCommand
System.Data.SqlClient.SqlConnection
System.Data.SqlClient.SqlDataReader
System.Data.SqlClient.SqlParameter
System.Data.SqlClient.SqlParameterCollection
System.Data.SqlDbType
System.Data.SqlTypes.SqlBytes
Syst

[2016-03-17 21:54] stephentoub commented on #6223
It's very strange that the one is failing and the other is not.  The difference seems simply to be that in one, we access the getter first, whereas in the other, we don't.  I've never seen this fail locally, either.

[2016-03-17 22:01] pallavit commented on #6223
Yes but I would doubt there will be any dependency between them and even if there was we should still be able to repro this when run in a loop.

[2016-03-17 22:12] kkurni commented on #1613
@kpboyle1 I don't think this is related issue.
This issue is a bug where the validation doesn't detect the type of underlying value.

RC2, will have more APIs compare to RC1. There will still be incompatibility but the goal is deliver cleaner APIs. Each incompatibility should have an alternative or better way to do it.
Here is some reference how to build libraries compatible with .NET Platform.
ht

[2016-03-17 22:37] pallavit commented on #5987
@alsemenn Can you please share a repro here. I seem to be getting win32exception in case of windows as well. Process class does not seem to be doing anything special to handle this. My guess is this might be getting automatically handled by CreateProcess windows function which has some places that it looks by default. So if you share a repro I can check if this happens across the board, for global

[2016-03-17 23:01] chcosta opened #7010 "Update tool-runtime project.json to reflect debian.8 RID"
When we are ready to update the tool-runtime, ensure the project.json RID is updated debian.8.2 => debian.8

[2016-03-17 23:01] chcosta commented on #6170
A fix for the CoreClr packages has been submitted by @ellismg

[2016-03-17 23:01] #6170 closed

[2016-03-17 23:08] #6684 closed

[2016-03-17 23:29] maririos opened #7011 "Build packages outside of build.cmd/sh"
- [x] Build packages as a separate task of build.cmd with an build-packages.cmd script
- [x] Build packages as a separate task of build.sh with an build-packages.sh script

[2016-03-17 23:34] shmao opened #7012 "DateTimeOffset.ToString Returns Different Value between Desktop and CoreFx"
Please see the following example,

[code]

On desktop, timeString equals offsetString; but on CoreFx, they are not equal. Note that this issue seems related to Daylight Save Time change. The assert succeeded last week before the DST change.

The issue is blocking https://github.com/dotnet/corefx/pull/6762.

[2016-03-17 23:35] ericstj commented on #6960
Packages still haven't been updated to blocking issues since out last update.  Today's should be good to consume but publishing is blocked due to signing issues with the official build.  /cc @dagood @weshaggard

[2016-03-18 00:23] ericstj commented on #6743
Fixed by #6988

[2016-03-18 00:45] shmao commented on #5647
@cyberphone , thanks for the additional info. Can you please point me to the specs for these two different requirements?

Sorry for the late response, I am busy with some other issues recently.

[2016-03-18 01:06] #3646 closed

[2016-03-18 01:58] andschwa commented on #6883
Awesome, thanks @weshaggard. I will get everything updated with 23918 tomorrow, and so should be able to switch back to rc3. Sorry for not getting the logs to you!

[2016-03-18 02:06] JonHanna commented on #3841
I took a different tact to what I think you are suggesting here. Just as the C# compiler turns an exception with a filter into a filter that includes both the type check and the filter from the C# (since in CIL filters don't have a built-in type check), so I put all of the logic for finding which, if any, handler to run into a filter, whether the catch block has a filter or no.

[2016-03-18 02:40] #7001 closed

[2016-03-18 02:41] #6994 closed

[2016-03-18 05:34] ericstj commented on #6903
So all the libraries in CoreFx take 3 different shapes (ignoring TFM specific builds for netcore50 or desktop)
AnyOs
Win / Unix
Win / Linux / OSX

Some libraries are platform specific (windows only or unix only).

We try to represent this shape in the *.builds file in the src directory for each library, though many of the libraries currently have redundant builds that don't ever ship and need to b

[2016-03-18 05:43] weshaggard commented on #6903
@ericstj explanation is spot on but to throw some more pointers at you it might be worth reading through https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/project-guidelines.md which talks about all the various configurations we build for in this repo.

[2016-03-18 05:49] leemgs commented on #6903
@ericstj ,  :+1: Thank you so much. It's very helpful to me to bring-up Linux/ARM.

Could @weshaggard and @chcosta  tell use more technical information about the difference among the redundant managed files?

[2016-03-18 06:46] cyberphone commented on #5647
@shmao Well, "on the wire" only real JSON encoding makes sense, but if you express JSON as a JavaScript object embedded in an HTML page like this

[code]
it will break in a browser so I made (in my Java tools...), JavaScript a serializer option that:
- escapes '<', '>', and '&'
- removes "" around *properties* that adhere to JavaScript identifier syntax (excluding for example "my-prop")
- prints d

[2016-03-18 13:28] ericstj commented on #5843
This has been fixed by #6902

[2016-03-18 13:28] #5843 closed

[2016-03-18 13:41] ericstj commented on #6903
Imagine you have two configurations but nothing is different in any of the inputs you give to the compiler: source is all the same (though the generated stuff is uniquely generated), defines are the same, only output is different.  What you end up with is a slightly different binary but all the same IL.  Only differences are MVID, hash, and a few non-stable compiler generated generics in the image

[2016-03-18 14:25] kingces95 opened #7019 "SortedList dictionary initialization with case insensitive string comparer allows duplicate keys"
Expected an exception when SortedList is initialized with a dictionary that contains contains keys that differ only in case and a case insensitive string comparer.

[code]

[2016-03-18 15:07] stephentoub opened #7021 "AnonymousPipeTest_Specific.ClonedServer_ActsAsOriginalServer sporadically failing in CI"
[code]

[2016-03-18 15:27] FranklinWhale opened #7023 "Support AES-GCM"
Currently I am using AuthenticatedAesCng in [Security.Cryptography.dll](https://clrsecurity.codeplex.com/) for AES-GCM encryption and decryption in a .NET application. I would like to have it added to CoreFX.

[2016-03-18 15:32] svick opened #7024 "Microsoft.CSharp.sln fails in msbuild, because of duplicate project name"
Microsoft.CSharp.sln fails to build with msbuild (v14.0.24720.0) with following error:

On the other hand, Visual Studio builds the solution successfully.

Looking at the solution file, the error seems to be that both Microsoft.CSharp.csproj and Microsoft.CSharp.Tests.csproj are named `"Microsoft.CSharp"` in the solution file.

I will submit a pull request to fix the name shortly, but I also have

[2016-03-18 15:39] FranklinWhale opened #7026 "Easier CngKey extraction from X509Certificate/X509Certificate2"
Please provide methods in X509Certificate/X509Certificate2 or extension methods for easier CngKey extraction from X509Certificate/X509Certificate2.There should be at least 2 methods -- one for public key and another for private key.

[2016-03-18 15:50] vcsjones commented on #7026
There are already extension methods to do this. Use `GetECDsaPrivateKey` or `GetECDsaPublicKey` extension methods. They are already available in .NET Framework 4.6.1. Both of these return an instance of `ECDsa`. You can then type check it to see if it is a `ECDsaCng` type. If so, then use the `Key` property to get the CngKey.

There are likewise methods for RSA.

[2016-03-18 15:58] tmds commented on #6807
Just found this issue while I was trying to figure out how to call [sendmsg](http://linux.die.net/man/2/sendmsg) on a Unix Socket.

[2016-03-18 16:03] FranklinWhale commented on #7026
Thanks for the information, @vcsjones. I am aware of those methods but did not expect that they return CNG keys. I think the documentation of the methods should mention this fact.

[2016-03-18 16:10] FranklinWhale opened #7028 "Add RNGCng"
The random number generator of CNG supports CPU RNG instructions, which provides better performance and randomness. I hope RNGCng can be added to CoreFx.

[2016-03-18 16:16] rahulkotecha commented on #6767
For OSX issues, also posted in heimdal mailing list:
http://article.gmane.org/gmane.comp.encryption.kerberos.heimdal.general/8097

[2016-03-18 16:19] vcsjones commented on #7026
I suspect it was done this way for xplat. CngKey is obviously Windows specific, and making different extension methods for each platform seems ugly. They couldn't use a platform-independent base type because `CngKey` derives directly from object.

Instead it looks like they went down the path of using instances of the algorithms themselves, which do have abstract classes that allow for an implemen

[2016-03-18 16:27] FranklinWhale commented on #7026
Yes, my code is currently Windows-specific.

The fact that the keys returned by the extension methods are always CNG keys if CNG is supported is important. It is because importing a key to CNG has been difficult but some stronger algorithms are only available in CNG.

I really hope that the documentations of [RSACertificateExtensions](https://msdn.microsoft.com/en-us/library/system.security.crypto

[2016-03-18 16:28] bartonjs commented on #7026
@FranklinWhale What's your scenario?

Regarding the return types of the extension methods: They return whatever "the best" answer they can on the current platform.  Right now for Windows that means CNG-preferred.  In a couple years, maybe it'll be CS9, or Coyager (Cnterprise seems like a step backwards).

You definitely shouldn't hard-cast the answer as a \*Cng type; because we absolutely don't gu

[2016-03-18 16:35] bartonjs commented on #7028
The Windows RNG is CNG-based; but no concrete type is exposed (only whatever answer is returned from `RandomNumberGenerator.Create()`).  Since there are no CNG-specific knobs and switches we want to expose, the type is unnecessary.

`RandomNumberGenerator.Create()` will always do whatever "the best" answer is.

Despite the naming, the hidden RNGCryptoServiceProvider type is actually CNG-based:
htt

[2016-03-18 16:35] #7028 closed

[2016-03-18 16:41] bartonjs commented on #7023
@FranklinWhale Oooh, I see, are you taking me up on my request to request missing functionality here? If so, that's the first evidence anyone has read my "Did you know?" from the codeplex project :).

It almost certainly won't look like it does in Security.Cryptography, but we are looking into adding support for AEAD modes.

If there's particular usage with that API that you adore, or hate, feel e

[2016-03-18 16:44] FranklinWhale commented on #7026
Actually I am trying to migrate code that uses Security.Cryptography.dll to .NET Framework 4.6.1.

However, I have just noticed that the RSA base class now has the necessary methods for encryption, decryption, signature generation and signature verification. I think I will try and catch those methods for NotImplementedException instead of explicitly checking for RsaCng now.

Thanks!

[2016-03-18 16:47] FranklinWhale commented on #7028
Nice. Code that uses RNGCng can be changed to use RandomNumberGenerator.Create(). Thanks for the information!

[2016-03-18 16:50] kapilash opened #7031 "Incorporate PR Feedback - Code Cleanup in NegotiateStream"
The following comments were made in #6469 and need to be incorporated into negotiatestream

~~*1*. [One to one mapping with native calls and Interop.*.cs files](https://github.com/dotnet/corefx/pull/6469#discussion_r56656680)~~
This is a lot of code being added to the Interop.*.cs files. Typically we've kept these as close to 1:1 with the underlying operation being wrapped as possible, typiclaly j

[2016-03-18 16:51] kapilash commented on #7031
cc @stephentoub @bartonjs

[2016-03-18 17:12] FranklinWhale commented on #7023
Yes, I did read the notice :)

I think the current way of using AuthenticatedAesCng is a bit too complicated. I hope there will be static methods available. For example:

[code]

[2016-03-18 17:13] #7024 closed

[2016-03-18 17:21] #7021 closed

[2016-03-18 17:37] joshfree opened #7032 "Investigate adding Oracle Linux 7.x to the RID graph"
Investigate adding Oracle Linux to the RID graph as it claims to be 100% binary-compatible with Red Hat Enterprise Linux and CentOS.

http://linux.oracle.com/switch/centos/

https://en.wikipedia.org/wiki/Oracle_Linux

/cc @ericstj

[2016-03-18 17:45] pallavit commented on #6932
Issue #6932 is fixed by #7003.

[2016-03-18 17:45] #6932 closed

[2016-03-18 17:54] pallavit commented on #6086
@JiriZidek I believe you are asking for classes like ServiceBase in System.ServiceProcess. Correct me if I am wrong :). These classes are extremely windows centric. My understanding is that a service equivalent on cross-plat is basically a daemon process and nothing more. So, a contract that works cross-plat would not be possible here. Having said that in future we could consider exposing a window

[2016-03-18 17:54] #6086 closed

[2016-03-18 18:04] tarekgh commented on #7012
I don't think there is any difference between the desktop and corefx. I am running the same code on corefx and the desktop and I am getting the exact same result. ```timeString: 15:15:26.9870000-07:00, offsetString: 15:15:26.9870000-08:00```

I believe it used to get the same value for timeString and for offsetString because we were not in the daylight saving period.

when having
            DateT

[2016-03-18 18:04] #7012 closed

[2016-03-18 18:08] bartonjs commented on #6935
@venkat-raman251 How do I run ApiCompat to ensure that I've fixed all the problems?  I tried intentionally breaking it by adding some new enum members in a contract, but it didn't warn that I saw...

[2016-03-18 18:21] kapilash commented on #7031
Adding some more points:

*7*. [Why manual skip instead of  compilation flag](https://github.com/dotnet/corefx/pull/6469#discussion_r56673098)
Why are all of these tests using a manual skip instead of [ConditionalFact]?

*8*. [Task array initialization without numbers](https://github.com/dotnet/corefx/pull/6469#discussion_r56672537)
Task arrays (in multiple tests) can be initialized via
     Task[

[2016-03-18 18:35] Priya91 opened #7035 "Outerloop Ubuntu build failing with GenAPI errors"
[code]

[2016-03-18 18:39] Priya91 commented on #7035
cc @dagood

[2016-03-18 19:02] mellinoe commented on #6314
Different test, seems to be same issue:

[code]
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/centos7.1_debug_tst_prtest/3047/consoleFull#-21371504001f1a4601-6aec-4fd5-b678-78d4389fd5e8

[2016-03-18 19:04] mellinoe commented on #7035
OSX as well: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_osx_release/40/

[2016-03-18 19:14] jamesqo opened #7036 "WebUtility.UrlDecode fails to make a round-trip for surrogate characters"
Discovered this while adding some tests for `WebUtility`. This prints `False`:

[code]

Here's a console program on [.NET Fiddle](https://dotnetfiddle.net/DRBu6a) to demonstrate this so you can see it for yourself.

cc @davidsh @stephentoub

[2016-03-18 19:15] quoctruong opened #7037 "WebRequest.DefaultWebProxy not compatible with HttpClient"
If I have the following HttpClient:

[code]

The first time I use this client (with `client.GetAsync("http://www.nuget.org/api/v2")`), I will get back the correct result. However, if I reuse the client, I will get an exception:

[code]

Is this a bug on CoreClr? Do I have to create new instance of HttpClient everytime?

[2016-03-18 19:24] FranklinWhale commented on #7023
Modified example above

[2016-03-18 19:25] mellinoe commented on #7035
https://github.com/dotnet/buildtools/pull/553 will fix the issue in GenAPI. Then we will need a newer version of buildtools that uses it.

[2016-03-18 19:50] onovotny opened #7038 "System.IO.FileLoadException: Could not load file or assembly 'System.Collections.Concurrent, Version=4.0.12.0"
Trying to use the rc2-23918 libraries, when I try to run `dotnet test`, I get the following:

[code]

Here's the project.lock.json for it: https://gist.github.com/onovotny/8fe9a08ed4d8d7f7f0fb

[2016-03-18 19:56] davidsh commented on #7037
On CoreFx and also for .NET Framework (Desktop), you do not need this line of code:

[code]

The default for `HttpClientHandler.UseProxy` property is `true`.  And the default value of `HttpClientHandler.Proxy` is NULL which means to use the default proxy.

On .NET Framework, this extra line of code is a no-op.  But on CoreFx, it is not supported.  In general, you should NOT use the `WebRequest` cl

[2016-03-18 19:57] davidsh commented on #7037
cc: @SidharthNabar @stephentoub

[2016-03-18 20:07] onovotny commented on #6960
Possibly related - #7038?

[2016-03-18 20:15] quoctruong commented on #7037
Hi David, does it mean that on .NET Framework (Desktop), if the default value of `HttpClientHandler.Proxy` is null, then `HttpClientHandler` will use IE proxy settings?

[2016-03-18 20:17] venkat-raman251 commented on #6935
With the latest build tools, run msbuild with /p:RunApiCompat=true.

[2016-03-18 20:23] andschwa opened #7039 "System.IO.FileLoadException: Could not load file or assembly 'System.Threading, Version=4.0.11.0'"
Specified and restored assembly are mismatched. 4.0.11 is still 4.0.10. Trying to use NETStandard.Library 1.5.0-rc3-23918.

Error:
[code]

Given assembly after publishing:
[code]

`project.lock.json` snippet:
[code]

[2016-03-18 20:24] andschwa commented on #7039
The package is bad:

[code]

[2016-03-18 20:25] onovotny commented on #6689
Sorry to bother you again, I'm seeing this now in a `net461` with rc2-23918:

https://gist.github.com/onovotny/44be4c6740b639a73ff9

the project.lock.json is there; the `netstandardapp15` builds fine, the `net461` fails.

[2016-03-18 20:26] andschwa commented on #7039
Also hitting #7038.

[2016-03-18 20:27] andschwa commented on #7038
The package is bad:

[code]

[2016-03-18 20:30] andschwa commented on #7038
@onovotny You can get around this (with warnings) by taking a direct dependency on build 23911; it has 4.0.12.

[2016-03-18 20:34] JonHanna commented on #7036
Garbage in, something valid out? Does it roundtrip correctly with valid surrogate pairs?

[2016-03-18 20:37] andschwa commented on #6883
FWIW it still repros with NETStandard.Library 1.5.0-rc3-23918.

[2016-03-18 20:41] andschwa commented on #6883
PEBKAC. My find/replace got replaced.

[2016-03-18 20:45] jamesqo commented on #7036
@JonHanna Yep, it seems to be working [just fine](https://dotnetfiddle.net/lqxNwq) with valid pairs.

[2016-03-18 20:49] davidsh commented on #7037
Yes, for both .NET Framework and CoreFx, that is true for HttpClientHandler defaults.

[2016-03-18 20:52] davidsh commented on #7036
What happens on .NET Framework (Desktop)?  My guess is that the behavior is the same.

As we prep for RTM release, we are primarily focused on stability and app-compat with .NET Framework.  So, if this was a regression, we would prioritize this higher than if this was not a regression.

[2016-03-18 20:54] andschwa commented on #7039
Eh my find/replace got replaced so the library version wasn't what I thought it was. Different issues now :(

[2016-03-18 20:54] #7039 closed

[2016-03-18 20:54] JonHanna commented on #7036
That seems correct to me. There's no way to turn a single surrogate into valid UTF-8, so either application-specific exception mechanisms should be used (which would be throwing an exception in .NET) or else U+FFFD encoded instead, as `0xEF, 0xBF,  0xBD`. Since URIs build on UTF-8 the result should hence be `%EF%BF%BD`

[2016-03-18 20:55] svick opened #7040 "Nested project issues"
When trying to compile System.IO.MemoryMappedFiles.sln in msbuild, the following error is shown:

Looking at the solution file, there indeed is a nested project section. If I understand it correctly, it's a remnant of 803180f3 and is indeed wrong.

Even with this, the project works fine in Visual Studio.

---

Similar error happens in System.Runtime.InteropServices.PInvoke.sln:

This time, it seem

[2016-03-18 20:55] JonHanna commented on #7036
And desktop does the same.

[2016-03-18 21:12] jamesqo commented on #7036
You seem to be right, they seem to be translating to U+FFFD (which is supposed to represent an unknown/unrepresentable character according to the [Wikipedia page](https://en.wikipedia.org/wiki/Specials_(Unicode_block)) on Unicode). Based on that, it looks like this is intentional behavior, so I'll close this issue.

[2016-03-18 21:12] #7036 closed

[2016-03-18 21:16] Priya91 commented on #6495
this can be done by using the /p:OuterLoop=true, added by @ianhays [here](https://github.com/dotnet/buildtools/commit/a66d53ee7a3184711d3d0c76ea032cb609373596)

[2016-03-18 21:28] andschwa opened #7043 "System.Runtime.Serialization.Xml broken"
I can't seem to use System.Runtime.Serialization.Xml and NETStandard.Library. (This was really hard to track down.) When combined with NETStandard.Library 1.5.0-rc3-23918 like so:

[code]

A very confusing error about System.Reflection.TypeExtensions occurs:

[code]

[2016-03-18 21:31] andschwa commented on #7043
It first occurs with System.Runtime.Serialization.Xml 4.1.1-rc3-23907, but does not occur with rc3-23903.

[2016-03-18 21:40] Priya91 commented on #4779
This is added to CI.

[2016-03-18 21:40] #4779 closed

[2016-03-18 21:42] quoctruong commented on #7037
Thanks for your help! But still, I feel like if HttpClient behavior is unreliable with WebRequest on CoreCLR, there should at least be some kind of warning/documentation about it.

[2016-03-18 21:43] ericstj commented on #7043
This is due to the build missing https://github.com/dotnet/corefx/pull/6969.  The workaround is to directly reference runtime.any.System.Reflection.TypeExtensions.  That won't be required in the next build.

[2016-03-18 21:46] davidsh commented on #7037
It is not an issue of being "unreliable".  But, System.Net.Requests contract which includes WebRequest is part of our legacy API suite.  And on CoreFx, especially, there are some coding patterns that have become deprecated/incompatible especially mixing System.Net.Http.HttpClient with WebRequest methods such as the .Proxy example you gave.

Thank you for your feedback.  We are working on revising

[2016-03-18 21:47] JonHanna commented on #7036
Are there tests enforcing this? It would be good to check on it across sole low-surrogates, sole high-surrogates, each of those along with non-surrogates, double-lows, double-highs and low followed by high.

[2016-03-18 22:00] #7040 closed

[2016-03-18 22:01] svick opened #7047 "Cannot build System.Cryptography.(Cng|Csp).Tests projects"
I can't build projects System.Security.Cryptography.Cng.Tests and System.Security.Cryptography.Csp.Tests in msbuild or VS.

In System.Security.Cryptography.Cng.Tests, I get these errors:

  TestData.cs(41,32): error CS0246: The type or namespace name 'CngKey' could not be found (are you missing a using directive or an assembly reference?)
  TestData.cs(55,32): error CS0246: The type or namespace n

[2016-03-18 22:09] ericstj commented on #7038
Package is not bad, we had to downgrade versions for desktop support.  It shouldn't be breaking with any stable packages.  You need to make sure you upgrade the pre-release dependencies in the full stack.

[2016-03-18 22:13] andschwa commented on #7038
What can I do to fix `dotnet-test-xunit`?

[code]

[2016-03-18 22:21] ellismg commented on #7019
The problem is that the `.ctor` does not take into account that the comparer of the source dictionary may not be the same as the comparer using to build the list, so it just blindly reaches into the dictionary to pick stuff up.

[code]

The [documentation](https://msdn.microsoft.com/en-us/library/ms132326(v=vs.110).aspx) for the `.ctor` says:

In addition it says we could throw `ArgumentException`

[2016-03-18 22:28] ericstj commented on #7038
We need a new version of dotnet-test-xunit that is built on these packages.  /cc @livarcocc

[2016-03-18 22:47] bartonjs commented on #7026
@FranklinWhale It sounds like the discovery of the new RSA methods has solved your underlying problem... but before hitting close I wanted to make sure I wasn't mistaken.

[2016-03-18 23:03] andschwa commented on #7038
I gave it a quick go and didn't have much luck yet. Is there a feed that might have a more recent than three weeks ago build of Microsoft.Platform.Testing.Abstractions?

[2016-03-18 23:34] mellinoe opened #7051 "Debian 8.2 CI machines are missing libgssapi_krb5"
We have a new dependency on `libgssapi_krb5`, we need to get this installed onto the machines running the Debian builds.

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/nativecomp_debian8.2_debug/705/console
[code]

@ellismg

[2016-03-18 23:45] weshaggard commented on #6689
@ericstj looks like we lost the net46 ref folder when a recent update. I'm trying to track it down but if you know what caused it please point me at it.

[2016-03-19 00:03] jamesqo commented on #7036
@JonHanna Great suggestion! I've added tests for all the cases you've mentioned here: a4f7286.

[2016-03-19 00:37] ellismg commented on #7051
Should be fixed now (and the builds I triggered manually got past the nativecomp step).

[2016-03-19 00:37] #7051 closed

[2016-03-19 01:32] #6495 closed

[2016-03-19 01:51] stephentoub commented on #7019
Seems reasonable to fix.

[2016-03-19 04:46] FranklinWhale commented on #7026
Yes. The issue can be closed. Thanks.

[2016-03-19 05:29] bartonjs commented on #7026
Cool, glad you're able to move forward :)

[2016-03-19 05:29] #7026 closed

[2016-03-19 06:17] mellinoe commented on #7035
Should be fixed now. Latest outerloop runs are passing.

[2016-03-19 06:17] #7035 closed

[2016-03-19 13:03] tmds commented on #6807
Thinking about this further, even if the Socket would expose a handle it isn't clear how I'd call the system function.
Using "libc" in DllImport won't be a cross-platform solution.

[2016-03-19 13:06] stephentoub commented on #6807
You'd need to special-case based on platform, either compiling different assemblies based on the target, or with runtime checking, e.g.
[code]

[2016-03-19 13:11] tmds commented on #6807
If I DllImport libc to call a POSIX function, will that work on all non-Windows platforms? Or are there (non-Windows) platforms that need a value other than libc?

[2016-03-19 13:15] stephentoub commented on #6807
It depends on the function.  Most POSIX functions will be exported from libc, but it's possible some won't.  This is where https://github.com/dotnet/coreclr/issues/930 and https://github.com/dotnet/coreclr/issues/444 come into play.

[2016-03-19 14:21] ericstj opened #7058 "FileSystem tests broken with recent Path changes"
/cc @JeremyKuhne your change https://github.com/dotnet/corefx/commit/b37b8035c1d693f491545a53b701fe7a01df312e has caused a number of failures in the FileSystem tests.  I hit these when upgrading the packages and was able to isolate it to System.Runtime.Extensions.dll by patching the assembly back to the old version to fix the errors:
[code]

[2016-03-19 14:30] ericstj commented on #7058
Duplicate of https://github.com/dotnet/corefx/issues/6931

[2016-03-19 14:30] #7058 closed

[2016-03-19 14:31] #4774 closed

[2016-03-19 17:27] #6725 closed

[2016-03-19 20:32] stephentoub commented on #3689
This just failed again:
[code]

[2016-03-19 20:33] stephentoub commented on #6223
The Title test just failed:
[code]

[2016-03-19 20:34] stephentoub opened #7061 "LoadInDefaultContext failing in CI on Windows outerloop"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win10_debug/128/consoleFull
[code]

[2016-03-19 20:36] stephentoub opened #7062 "Package restore failures in outerloop on Ubuntu"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_ubuntu14.04_debug/38/consoleFull
[code]

[2016-03-19 20:37] stephentoub opened #7063 "NegotiateStream_EchoServer_ClientWriteRead_Successive_Async_Success failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_rhel7.2_debug_tst/19/consoleFull
[code]

[2016-03-19 20:50] stephentoub opened #7064 "Ping tests failing in outerloop on Unix"
In several outer loop runs, e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_rhel7.2_release_tst/19/console
many of the ping tests are failing with errors like:
[code]

[2016-03-19 21:37] stephentoub commented on #6223
Here, too:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win10_release/121/consoleText

[2016-03-19 21:56] tmds commented on #6807
Specifically for sendmsg, which has a signature:

    ssize_t sendmsg(int sockfd, const struct msghdr *msg, int flags);

is this the proper way to do the DllImport?

    [DllImport ("libc", SetLastError=true)]
    public static extern IntPtr sendmsg(int sockfd, IntPtr msg, int flags);

[2016-03-20 00:28] linvi commented on #6946
Hello there,

I am looking forward to the fix, in the meantime I fixed the problem by creating a new `Uri` from my url and then using the `Uri.AbsoluteUri`.

This value is the same as the value that `HttpClient` is sending.

I hope this can help.

Linvi

[2016-03-20 01:06] #7032 closed

[2016-03-20 03:33] davidsh commented on #6946
@linvi Can you post more of the repro solution for this issue? For example, the project.json and project.lock.json files. That will tell us more of what specific library versions of System.Net.Http you are using.

What specific version of Windows 10 is this?  If you open up a CMD.exe window and type "ver", what is the output?

Regarding the differences you see in the query string parameter escapin

[2016-03-20 03:38] davidsh commented on #6946
@linvi

Also, in your comment above:

On the other side the W10 query parameter finishes by %82%21. Here the question mark has kept its HTML escaping.

You refer to the '!' character as the "question mark".  But it is actually an "exclamation mark" and not a question mark (which has different encoding).  So, is the character in question `%21`, the '!' character?

[2016-03-20 04:28] linvi commented on #6946
Repro is as simple as :

[code]

Package.json :

[code]

`Windows Version` : Microsoft Windows [Version 10.0.10586]

%82 is correct.
%21 should stay %21 and not be changed by the `HttpClient` to `!`.

I have no idea, I am not setting it.

What I posted above are the only 2 traces that I can give you as they are always the same.

The `%21` is an exclamation mark. Sorry for the confusion.

[2016-03-20 05:02] davidsh commented on #6946
Thx for the added information.

The packages you listed are not for a Windows 10 UWP.

For example, "Microsoft.Net.Http" is only for a Windows 8.x application:
http://www.nuget.org/packages/Microsoft.Net.Http/2.2.29

So, perhaps you are not building a Windows 10 UWP but actually a Windows 8.x Store Application but running it on Windows 10?   Windows 10 UWP application projects have a 'project.json

[2016-03-20 05:14] SunnyWar opened #7072 "Add performance tests for all collections"
I see performance tests for only List and SortedDictionary at the moment in the System.Collections solution.. Given that the collections are probably one of the most exercised body of code in the entire .Net Framework I expect that it be treated as a performance critical body of code and therefore have a complete suite of performance tests.

[2016-03-20 06:05] linvi commented on #6946
The code I am working on is a Portable Class Library compatible with W10 UAP.
The library works for every target (windows, linux, wphone, iOS...).

But as I mentioned, the `HttpClient` targeting the W10 platform is acting differently than on the other platforms.

So my W10 UAP project.json is the following :

[code]

Well I have been able to find a workaround for this issue as mentioned [here](htt

[2016-03-20 07:42] weshaggard commented on #7062
@ericstj is this because of the default RID inference issue?

[2016-03-20 14:40] davidsh commented on #6947
That PR is now CLOSED and won't be merged as-is. So, we'll need to fix this separately. The code was ported from .NET Framework (Desktop), so it should have worked the same, but I think a bug was introduced during the port.

[2016-03-20 14:45] ericstj commented on #7062
Yeah only for Unix RIDs, for overlapped that needs to go in a windows specific project.json.  For S.R.E we need to make sure we have the lineup.

[2016-03-20 14:52] jamesqo commented on #6947
@davidsh Nope, this happens in the desktop as well.

[2016-03-20 15:04] davidsh commented on #6947
On .NET Framework 4.6.1, I see the correct output:  4.6.1 is the latest .NET Framework.

![image](https://cloud.githubusercontent.com/assets/7684835/13905071/4870fbee-ee72-11e5-8698-ade98f45a29f.png)

What version of .NET Framework do you have?

[2016-03-20 15:06] davidsh commented on #6947
![image](https://cloud.githubusercontent.com/assets/7684835/13905079/afdd24b0-ee72-11e5-8cc3-349a184dc545.png)

![image](https://cloud.githubusercontent.com/assets/7684835/13905081/b7f682a4-ee72-11e5-935a-acd72d3936ed.png)

[2016-03-20 15:20] jamesqo commented on #6947
@davidsh I have the same version as you, 4.6.1038.0. Just tested locally, it seems to be outputting correctly on my machine (even on .NET < 4.6).

[2016-03-20 15:23] jamesqo commented on #6947
It seems this code is not even fixed in the [original reference source](https://github.com/Microsoft/referencesource/blob/e458f8df6ded689323d4bd1a2a725ad32668aaec/System/net/System/Net/WebUtility.cs#L395), either, so I'm not sure how it's working.

[2016-03-20 15:33] stephentoub commented on #6947
@jamesqo, that line is not where the problem comes from.  Note the difference between:
https://github.com/Microsoft/referencesource/blob/e458f8df6ded689323d4bd1a2a725ad32668aaec/System/net/System/Net/WebUtility.cs#L421-L431
and:
https://github.com/dotnet/corefx/blob/e2f0f429788f611b3d7ac35f0154c975011fd191/src/System.Runtime.Extensions/src/System/Net/WebUtility.cs#L318-L319

[2016-03-20 15:56] JonHanna commented on #6388
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/3758/consoleFull

[2016-03-20 16:31] stephentoub commented on #5660
Again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_debug_tst_prtest/3099/console

[2016-03-20 17:13] chcosta commented on #7043
@andschwa, can you confirm this is not an issue in later builds?

[2016-03-20 17:50] ericstj opened #7077 "Remove work around from pipes tests"
Once we upgrade packages we can remove the workaround from https://github.com/dotnet/corefx/pull/7074

[2016-03-20 18:14] #7062 closed

[2016-03-20 20:39] andschwa commented on #7043
@chcosta it is an issue with latest build, 23918.

[2016-03-20 20:40] tmds commented on #6778
I was trying to figure out what DllImport.SetLastError means on linux when I found this issue. I guess it means Marshal.GetLastWin32Error will return errno?

[2016-03-20 20:55] #6761 closed

[2016-03-20 21:04] stephentoub commented on #5660
Again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_debug_tst_prtest/3111/console

[2016-03-20 21:04] stephentoub commented on #6314
Dup of https://github.com/dotnet/corefx/issues/5660

[2016-03-20 21:04] #6314 closed

[2016-03-20 21:05] stephentoub commented on #4890
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/2209/console
[code]

[2016-03-20 21:17] stephentoub commented on #6778
Yes

[2016-03-20 21:26] stephentoub commented on #6807
Is there a reason you can't use Socket.Send?  Some option it's not providing that you need?

That looks right (though I think it's possible, though unlikely, that ssize_t could be 64-bit on a 32-bit platform, in which case IntPtr would end up being the wrong size).

[2016-03-20 21:34] jamesgibbs100 commented on #6827
Thanks for the response - I know you are terribly busy at the moment !

Process on Linux
- dnu restore
- dnu publish
- docker build...
- docker run -it ....

using : Microsoft .NET Development Utility CoreClr-x64-1.0.0-rc2-16357

This works on Linux (sans Docker) just not in Docker. Might be the image I'm using but I can't take this further on my own as I don't have any more information to work on

[2016-03-20 21:40] tmds commented on #6807
I want to pass credentials using SCM_CREDS in msghdr.msg_control.

[2016-03-20 22:00] stephentoub commented on #6223
It's failing pretty consistently, e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win10_debug/131/consoleFull
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win10_release/124/consoleFull

[2016-03-20 22:04] davidsh commented on #6947
This is an example of a bug fix made to .NET Framework (Desktop) after the initial port to CoreCLR/CoreFx. Now that we have identified the proper code, I can submit a PR to fix it.

[code]

[2016-03-20 22:09] stephentoub commented on #7061
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win10_debug/131/consoleFull

[2016-03-20 22:25] stephentoub commented on #5660
Again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/opensuse13.2_debug_tst/936/console

[2016-03-20 22:38] stephentoub opened #7079 "Dependency conflict warning from buildtools on clean build"
[code]
cc: @weshaggard, @ericstj

[2016-03-21 00:00] stephentoub commented on #7063
Lots of occurrences of this, e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_centos7.1_debug_tst/24/consoleText
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_centos7.1_release_tst/24/consoleFull

[2016-03-21 00:02] #6960 closed

[2016-03-21 00:05] stephentoub opened #7080 "Lots of packaging build warnings on clean build"
Clean build on Windows produces the following warnings:
[code]
cc: @chcosta, @ericstj, @weshaggard

[2016-03-21 00:07] stephentoub opened #7081 "Outerloop Unix runs using stale native shims"
Outerloop runs are currently failing on Unix with hundreds of failures due to System.Native.so missing some entrypoints that were added at the same time consumers of those entrypoints were added to the managed assemblies, e.g. System.IO.Pipes.dll consuming SystemNative_GetDomainSocketSizes.

[2016-03-21 00:18] #2699 closed

[2016-03-21 00:50] mellinoe commented on #7064
This is just a call to `new Socket(AddressFamily.InterNetwork, SocketType.Raw, ProtocolType.Icmp)` (or the equivalents for IPv6). Is there anything obvious that has changed to prevent this from working lately, before I start digging around the sockets code? @ericeil

[2016-03-21 00:51] stephentoub commented on #7064
I'm testing a fix now.

[2016-03-21 01:19] stephentoub opened #7082 "WindowAndCursorProps.Title test fails on Win7"
[code]

[2016-03-21 01:19] stephentoub opened #7083 "ProcessTests.TestSessionId fails on Win 7"
[code]

[2016-03-21 01:21] stephentoub opened #7084 "11 globalization tests failing on Win 7"
[code]

[2016-03-21 01:22] stephentoub opened #7085 "GetAsync_ResponseHeadersRead_ReadFromEachIterativelyDoesntDeadlock HTTP test failed on Win 7"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win7_debug/127/consoleFull
[code]

[2016-03-21 01:23] stephentoub opened #7086 "CNG tests failing on Win 7"
Lots of failures, and then it looks like they hang until killed by Jenkins.
[code]

[2016-03-21 01:24] stephentoub opened #7087 "Four System.Globalization.Extensions tests failing on Win 7"
[code]

[2016-03-21 01:26] stephentoub commented on #7061
Also failing on Windows 7:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win7_debug/127/consoleFull
[code]

[2016-03-21 02:18] ericstj commented on #7079
This should be a buildtools issue.

[2016-03-21 02:20] ericstj commented on #7079
Bug is here: https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/tool-runtime/project.json#L37
/cc @joperezr

[2016-03-21 03:00] #7064 closed

[2016-03-21 05:29] myungjoo opened #7090 "ARM Build Fail with System.Net.Security.Native"
"pal.gssapi.cpp/h" introduced with facff9e8d04d9e7ddf53eabea365306266f48865 is creating build errors in ARM32/Linux systems:

[code]

Note that the definision of "gss_buffer_desc_struct", which defines "gssBuffer", in /usr/include/gssapi/gssapi.h,
[code]

May I assume that the given input, "length" is going to be within 32bit, or this relatively new module, "pal_gssapi.cpp" has forgot to support 3

[2016-03-21 06:28] ctaggart opened #7091 "System.IO.UnixFileSystem.MoveFile throwing `Access to the path is denied.` in Docker on Mac"
I created a docker image, so this should be easy to create, but the docker host needs to be OS X. When the docker host is Linux, this error does not occur, which leads me to believe it is something wrong with [System.IO.UnixFileSystem.MoveFile](https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/UnixFileSystem.cs). It is being called from the latest `dotnet` 1.0.0-d

[2016-03-21 06:54] jasonwilliams200OK commented on #7090
Generally, all 64-bits data types are available on 32-bits machine.
I think changing data type to `size_t` in signature will fix this particular issue for all unices:

[code]

[2016-03-21 09:53] JiriZidek commented on #6086
Yes, you get it. But it can be some other mechanism. It should be similar approach as moving from IIS to general hosting of web app in ASP.NET Core - you write single code, run everywhere. The same is needed for serverside unattended long running tasks.

[2016-03-21 11:32] stephentoub commented on #4856
Dup of https://github.com/dotnet/corefx/issues/6241

[2016-03-21 11:32] #4856 closed

[2016-03-21 12:06] stephentoub commented on #7091
That implementation is the same on both Linux and OS X, and this failure would simply mean that libc function returned either EACCES or EPERM from the call.  Most likely it's actually a permissions issue with the deployment.  What are the source and destination paths, and have you confirmed that the permissions are amenable to this?

cc: @piotrpMSFT

[2016-03-21 12:10] stephentoub commented on #7091
Actually, EPERM could mean one other thing: that you're unable to create hard links.  Are you able to successfully use ```ln``` manually to create a hard link?  If that's not working, this could be something we need to deal with in the MoveFile implementation.  Right now we try to link and then we delete the old name; this is much more efficient then copying the file and deleting the old one.  But

[2016-03-21 13:56] stephentoub opened #7096 ""The plugin hasn't been performed correctly: Problem on deletion" failures in CI tests"
@mmitche, I've seen this error now several times in the last 24 hours.  All tests pass, but then at the very end of processing the xunit results, we get an error "The plugin hasn't been performed correctly: Problem on deletion", e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_tst_prtest/2140/console
[code]

[2016-03-21 14:10] stephentoub commented on #6302
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/centos7.1_release_tst_prtest/2904/console
[code]

[2016-03-21 14:12] ppn2 commented on #2949
I think this is one of must have. I am not sure how one manage distributed transaction encompassing multiple components without System.Transaction.

[2016-03-21 14:38] eschneider999 commented on #5782
I built my own plugin base factory. I have 5 database provider libraries that implement an interface, which is discovered at run time. I have not tested on any other platforms, but works on windows/pcl.
[](https://www.nuget.org/packages?q=symbiotic+data+provider)

I can provide the dynamic discovery code if someone is interested.

[2016-03-21 14:43] eschneider999 opened #7098 "Port Tracing"
Every system I have worked on uses tracing, the integration with visual studio is very helpful also.

https://msdn.microsoft.com/en-us/library/zs6s4h68(v=vs.110).aspx

[2016-03-21 14:49] stephentoub commented on #7098
What kind of tracing are you asking for?  EventSource is the recommended way to do tracing, and it is exposed in .NET Core:
https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Tracing/ref/System.Diagnostics.Tracing.cs
TraceSource is also exposed:
https://github.com/dotnet/corefx/tree/master/src/System.Diagnostics.TraceSource

[2016-03-21 15:17] #7090 closed

[2016-03-21 15:47] eschneider999 commented on #7098
That sounds like what I'm after. I'll give it a try tonight, thanks!

Is there a list of all the .Net Core libraries?

[2016-03-21 15:51] stephentoub commented on #7098
There's a folder for each of them here:
https://github.com/dotnet/corefx/tree/master/src
@richlander or @terrajobst can probably share if there's an official list somewhere.

[2016-03-21 15:51] #7098 closed

[2016-03-21 15:52] eschneider999 commented on #7098
pre-release tough, any idea how stable it is?

[2016-03-21 16:16] stephentoub commented on #7061
And on Windows 8:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_windows_nt_debug/127/consoleFull

It's basically failing in all Windows outerloop runs.

[2016-03-21 16:21] tmds commented on #6807
@SidharthNabar Do you have an idea when you will look at this?

[2016-03-21 16:26] gkhanna79 commented on #7061
I will take a look at this today. I am not aware of any Loader change that would result in this. @stephentoub Do you happen to know since when this is failing?

[2016-03-21 16:35] stephentoub commented on #7061
I quickly looked back through the Jenkins log.  This run from the 18th passes, but it's also not running any loader tests:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_windows_nt_debug/120/consoleFull
[code]
then the next run on the 19th fails:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_windows_nt_debug/121/consoleFull
[code]

[2016-03-21 16:38] mmitche commented on #7096
@stephentoub I can think of two things in this case:

1) Errors on the HD.  However I think in this case the WS-CLEANUP task would have failed.
2) Odd perms for the testResults file?

[2016-03-21 16:39] stephentoub commented on #7061
https://github.com/dotnet/corefx/commit/68de305a1483795bfe765f64cfa760d6dedaaa5d got checked in between those two runs.  So the reason there were "no tests to run" was because these are innerloop tests and innerloop tests weren't being run as part of the outerloop runs.  So this likely would have been failing well before this, maybe even from when they were originally checked in, but we weren't se

[2016-03-21 16:40] stephentoub commented on #7061
cc: @Priya91

[2016-03-21 16:46] stephentoub commented on #7081
https://github.com/dotnet/buildtools/pull/551

[2016-03-21 16:48] gkhanna79 commented on #7061
@stephentoub Thanks. I am building the CoreFX repo to setup a repro for this. At the time of feature checkin, I did confirm that the tests were passing. Anyhow, I will take a look and update the thread.

[2016-03-21 16:50] stephentoub commented on #7061
They're passing in CI for innerloop runs, just not outerloop runs.

[2016-03-21 16:54] gkhanna79 commented on #7061
hmm.. In that case, what is the difference between CI inner loop and outerloop test runs? Don't they run the tests in the same manner?

Is there a way for me to to try to run just these tests as Outerloop on my machine?

[2016-03-21 16:56] stephentoub commented on #7061
I don't know.  Hence my cc of @Priya91  :smile:

[2016-03-21 17:05] ctaggart commented on #7091
I am not able to successfully use ln manually to create a hard link when I use Docker with the Parallels driver. I logged bug https://github.com/Parallels/docker-machine-parallels/issues/45 . The default VirtualBox drivers supports creating hard links, so I'll switch to it.

[2016-03-21 17:06] stephentoub commented on #4467
These continue to happen.  Should we disable them on Windows?
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/3789/consoleFull

[2016-03-21 17:11] stephentoub commented on #7091
Thanks for confirming.  Given that, my fix #7094 should address this for you, at least making it work, though it'll still be more expensive than if hard links worked, as we'll end up doing the copy rather than the link.

[2016-03-21 17:21] #7063 closed

[2016-03-21 17:25] AlexGhiondea commented on #7019
This would definitively require a quirk for Desktop.

[2016-03-21 17:27] joperezr commented on #7079
@ericstj we have a lot of direct dependencies on the tool-runtime project.json today because there were broken dependency trees before so just depending on the Meta package wouldn't pull out the right dependencies for some libraries. Do you know if this has been fixed so that we can clean up the project.json?

[2016-03-21 17:28] gkhanna79 commented on #7061
@Priya91 Can you please take an initial look at this failure since this does not look like a product issue?

[2016-03-21 17:29] weshaggard commented on #7081
@stephentoub @Priya91 I assume this will get fixed when we update the packages? I don't like current change dotnet/buildtools#551 which always copies the latest shims as that will break other scenarios.

[2016-03-21 17:30] livarcocc commented on #7038
For test abstractions, we have a package from Saturday: https://dotnet.myget.org/feed/dotnet-cli/package/nuget/Microsoft.Extensions.Testing.Abstractions/1.0.0-beta-001887.

[2016-03-21 17:31] stephentoub commented on #7081
The current failure will be fixed.  The next time we update the shims with a new entrypoint, outerloop on unix will break again.

[2016-03-21 17:35] weshaggard commented on #7081
So it seems like the fix would be to update only the projects that need the live shims to have a dependency on the live shims. In other words the projects that depend on a live version of one of the IL libraries that depends on the shims.

[2016-03-21 17:36] pallavit commented on #7082
Interesting...I can't still repro this. Could this be something to do with the way we are running this test in our tree? The code does not seem to be doing anything special at all and I can't think of a way to add logging here either since the work is mostly been done by the OS here.

[2016-03-21 17:38] pallavit commented on #6223
This makes me think as if the call to set_itle was delegated to a background process or something which ran after the current console window died, again could this be the way things get run in our infra?

[2016-03-21 17:48] KrzysztofCwalina commented on #6893
@vancem, could we just add this to StringBuilder?

@jamesqo, I am not opposed to adding your proposal to corfxlab. I just want to make sure we cannot do it in StrignBuilder. This would avoid having to explain to people why we have two different APIs for mutable strings.

[2016-03-21 17:53] JonHanna commented on #7019
Does that affect submitting a fix?

[2016-03-21 17:55] shmao commented on #5647
The fix for serializing control characters has been merged. #6665

I think we should open a new issue for the above suggestion, escaping '<', '>', and '&', and etc as this issue is for tracking DataContractJsonSerializer being incompatible with ES6.

[2016-03-21 18:20] Priya91 commented on #7061
@gkhanna79 You can use ```build.cmd /p:Outerloop=true /p:TestWithLocalLibraries=true, the difference in innerloop and outerloop is we use locally built libraries, instead of packages. So this error **may** happen in innerloop runs, once we update to the package version with the local libs..

[2016-03-21 18:24] AlexGhiondea commented on #7019
@JonHanna I don't think so. When we end up porting this change over to Desktop we are going to introduce the quirk.

[2016-03-21 18:34] vancem commented on #6893
@KrzysztofCwalina  As mentioned, the current StringBuilder implementation uses a list of char[] buffers as its underlying data representation.   Thus it would be a bigger change to think about.

However there is an important thread-safety issue that needs to be addressed.   In the past StringBuidler DID use a MUTABLE STRING as its backing store, however this BREAKS the IMMUTABILITY OF STRING in a

[2016-03-21 18:37] davidsh commented on #4467
We should not disable the tests without understanding what is going on. Doing so simply leaves us with reduced test coverage.

[2016-03-21 18:38] Priya91 opened #7104 "Outerloop OSX fails with nuget package restore"
[code]

[2016-03-21 18:39] gkhanna79 commented on #7061
I had a chat with  @Priya91 and she will look into this as it sounds like a test infra issue and not a product issue.

CC @joshfree

[2016-03-21 18:42] joshfree commented on #7104
@mellinoe is investigating this one currently

[2016-03-21 19:01] stephentoub opened #7105 "ProcessTests.TestExitTime failed on OSX"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/2237/console
[code]

[2016-03-21 19:10] pallavit commented on #7082
My bad. Missed the win7 tag on this. Will run the test on win7 and see :).

[2016-03-21 19:16] svick commented on #6893
@vancem Wouldn't those issues be solved by not mutating any published `string`s? So, `StringBuilder`/`StringBuffer` would mutate its private `string`, but as soon as `ToString()`/`MoveToString()` was called, it wouldn't be allowed to mutate the private `string` anymore?

The `StringBuffer` proposed above achieves this by swapping the private `string` with the empty `string`. `StringBuilder` could

[2016-03-21 19:33] ericstj commented on #7079
This one would have never been helping anything.  Here's what I reccomend:
get tool-runtime restoring as **downgrade-clean** no warnings about downgrades.  Then you can trim any direct references that are already occurring indirectly as can be seen from the project.lock.json.  As you remove direct references you should be able to diff the lock file to make sure you're getting the same graph.

[2016-03-21 19:36] vancem commented on #6893
@svick  Certainly the intent of the code is that once MoveToString is called, then other threads can't access the string that it just 'gave out.  What I am point out is that the code has a serisous bug.   This simply is not true without putting 'lock' statements around the calls.    Consider two threads one calling MoveToString and the other calling Replace at the same time.   Replace calls its 'f

[2016-03-21 20:04] mellinoe commented on #7104
I'm getting through the build now, but I was having issues where my open files limit was too low, which was causing lots of package restore failures. Any chance this is the same problem in the CI? Jenkins seems to be too slow to open any logs right now, but I don't think this information is in the logs anyways. Is there any way to look at `init-tools.log`, for example, from the outer loop runs?

@

[2016-03-21 20:07] mmitche commented on #7104
@stephentoub Was talking about this just this morning.

[2016-03-21 20:12] stephentoub commented on #7104
The default on OS X is ridiculously low, 256 IIRC (ulimit -n).  If this is causing package restore failures from NuGet / cli, potentially those tools should configure the machine and/or encourage users to increase  the limit.  And we could increase the limit on our lab machines.

[2016-03-21 20:23] mellinoe commented on #7104
I'm 99% sure that is what caused my restore failures locally. After running `ulimit -n 9999`, restore successfully completed on the next try. Init-tools.log also had a few messages about "Too many open files" before changing the limit. It's hard to say whether that's the same problem that's happening in CI (unless we can see the log file), but I wouldn't be surprised if it was.

[2016-03-21 20:46] ericeil commented on #5185
Looks like another instance last night: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_windows_nt_release/124/

I'll work on a fix.

[2016-03-21 21:08] svick commented on #6893
@vancem I think I understand now. I didn't consider that case, because it requires that you use the `StringBuffer` incorrectly (i.e. use it from multiple threads, even thought it's not thread-safe). In such case, it's okay that the `StringBuffer` does not work correctly, but you're saying that even in that case, `string`s should still appear to be immutable. Or in other words, it's fine if incorre

[2016-03-21 21:17] #7091 closed

[2016-03-21 21:17] sepidehMS commented on #5701
This has been fixed by https://github.com/dotnet/corefx/pull/6360.

[2016-03-21 21:17] #5701 closed

[2016-03-21 21:31] weshaggard commented on #6689
@onovotny https://github.com/dotnet/corefx/pull/7113 should take care of that issue.

[2016-03-21 21:47] ericstj commented on #5467
fixed with TFS changeset 1586959

[2016-03-21 21:47] #5467 closed

[2016-03-21 21:59] ericstj opened #7114 "Temporarily revert implementation assembly version change"
Revert the change from https://github.com/dotnet/corefx/pull/6902/commits/6ad2e34491d3cd3a078c225f98b2c49268db81e1 as it applies to implementation assemblies to allow folks time to recompile against the newer refs without hitting ref-def mismatches at runtime.

[2016-03-21 22:44] jamesqo commented on #6893
@vancem, you have interesting points. I'd like to address them separately:

You're right, that is a serious problem I had not forseen. I think we can work around this, however, by throwing an exception if someone attempts to simultaneously mutate/move the `StringBuffer`. Something like this:

[code]

What would you think of that? It offers perf for the vast majority of single-threaded cases, since

[2016-03-21 22:45] vancem commented on #6893
@svick  Yes, you got it now.   As you say, it requires people to use the type without proper synchronization.   In a world we used to live in (partially trusted code), it was clear we needed to keep the invariant under all circumstances.    In a world were we may not care about sandboxing, it is not as clear, but it is also not clear that we NEVER care about sandboxing, which is what we would need

[2016-03-21 22:56] stephentoub commented on #6893
Interlockeds are not cheap, especially if you need to do one for potentially every single character change (you'd need such protection around the indexer's setter, for example).  Without contention, a lock is often effectively just two interlockeds.

[2016-03-21 23:01] jamesqo commented on #6893
@stephentoub Ah, I hadn't realized that. Perhaps then we could just limit the mutations of the class to a single thread, like this:

[code]

?

[2016-03-21 23:10] vancem commented on #6893
@jamesqo - In fact what you describe above is roughly where we landed in a previous version of StringBuilder (we fell back to a slow path rather than simply failing).    Note that even fetching thread local variables is not as cheap as you would like (but we should fix that).

Note that because async methods might have their callbacks on different threads, throwing an error is probably a bad idea

[2016-03-21 23:14] mellinoe commented on #7104
@Priya91 and I checked one of the machines and `ulimit -n` printed back `256`, which seems to confirm some suspicions. We were able to run init-tools.sh (which restores a bunch of packages) after setting the limit to 4000. I'll go through the rest of the machines and add a similar configuration.

[2016-03-21 23:22] bartonjs commented on #7086
Okay, got a repro on Win7.  It looks like `System.Security.Cryptography.Cng.Tests.CreateTests.CreateEphemeral_WithParameters` is popping UI on Win7.  Honestly, the question is why it isn't for other OSes.  (	ForceHighProtection: A UI prompt is displayed every time the key is accessed.)

Other tests (39 of them) are "just" failing, and I'm looking into it.

[2016-03-21 23:43] ctaggart commented on #7091
Thanks @stephentoub. It turns out I was wrong. It is not working with docker volumes on VirtualBox either, so I need this fix for local development the uses docker.

[2016-03-22 00:11] bartonjs commented on #7086
O....kay.  The rest are because the rich CNG types are using NCRYPT_CIPHER_KEY_BLOB for importing... which wasn't supported in Windows 7.

[2016-03-22 00:44] bartonjs commented on #7086
So, the solution here is going to be "make AesFactory and TripleDesFactory return the versions from Algorithms instead" in RC2 to clear the test failures.  That'll be followed up with making this actually work on Win7, and we'll figure out how scary that is to make work in RC2 as the time comes.

[2016-03-22 00:44] bartonjs commented on #7086
FYI @joshfree

[2016-03-22 01:11] jamesqo commented on #6893
@vancem:

True, that's a potential gotcha, but how else would you propose I'd report errors? Other than throwing an exception, the only other alternative I can think of is something like `bool TryReplace()`, which would be counter-intuitive for most people who know their program is running on a single thread.

I agree, but unfortunately that's the trade-off needed to make `MoveToString` work. Othe

[2016-03-22 02:00] ellismg commented on #7104
IIRC, CLI/NuGet was making some changes to do less work in parallel on OSX to prevent running into these issues.

[2016-03-22 02:09] #7083 closed

[2016-03-22 02:17] stephentoub commented on #7091
Can you try out the fix and let me know whether it indeed addresses the problem?

[2016-03-22 02:30] stephentoub opened #7125 "Several MetadataReaderTests failing with NullReferenceException on OSX"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_osx_debug/49/consoleFull
[code]

[2016-03-22 02:30] ctaggart commented on #7091
@stephentoub Happy to, but how do you recommend that I do that? Is there a build that contains the fix? I am currently using `dotnet-ubuntu-x64.1.0.1.001806.tar.gz`.
https://github.com/ctaggart/visualfsharp-docker/blob/master/.travis.yml#L18

[2016-03-22 02:40] stephentoub commented on #7091
Thanks.  Hmm. You can try overwriting your local System.IO.FileSystem.dll with one that contains the fix (saving the current one you have to put back after in case something goes wrong).  You could either build one locally based on the source currently checked in to master in corefx, or you could pick up tonight's build tomorrow from MyGet (https://dotnet.myget.org/gallery/dotnet-core).  It'll be

[2016-03-22 02:54] stephentoub opened #7126 "96 System.Text.Encodings.Web.Tests failing in outerloop on OSX and Ubuntu14.04"
e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_osx_release/46/consoleText
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_osx_debug/49/consoleText

Mostly due to NullReferenceExceptions, e.g.
[code]
The pages take a while to load, in part due to one of the tests incurring 65K NullReferenceExceptions, each of which is output in the log.

[2016-03-22 03:01] DemiMarie opened #7127 "New crypto API"
The current cryptography APIs are badly designed.  They provide neither authenticated encryption nor the current best-practice algorithms.

According to "Cryptography in the Web: The Case of Cryptographic Design Flaws in ASP.NET",

To solve this problem, two steps are required:
1. The existing API should be obsoleted.  It uses CBC mode, which is unnecessarily slow, and does not provide authenticat

[2016-03-22 03:04] drbo commented on #7023
I think that there need to be high-level wrappers that hide nonce management from the user.  Nonce reuse is disastrous in AES-GCM.

[2016-03-22 03:19] stephentoub commented on #4829
This just failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/2254/console
[code]

[2016-03-22 03:49] ctaggart commented on #7091
OK. I'll try it tomorrow. https://dotnet.myget.org/gallery/dotnet-core reports that the last build 21 hours ago was v4.0.1-rc3-23921. The `System.IO.FileSystem.dll` has this metadata:
[assembly: AssemblyVersion("4.0.1.0")]
[assembly: AssemblyFileVersion("4.6.23901.00")]
So it looks to be 20 builds behind. Possibly 20 days. Hopefully not too incompatible.

[2016-03-22 06:18] gkhanna79 commented on #7061
This will get fixed by Matt's change in https://github.com/dotnet/corefx/pull/7120.

[2016-03-22 07:09] stukselbax opened #7129 "API for manipulating certificates"
Will you plan to add the ability to create self-signed certificates, create a certificate signing requests - CSR, sign that CSR, and so on?

[2016-03-22 09:08] Clockwork-Muse opened #7130 "Visual Studio occasionally disregards disabled NuGet restore"
I haven't been able to completely repro this one, but VisualStudio is occasionally disregarding the unchecked "Allow NuGet to download missing packages" option.  IOW, the option is unchecked, but the build process still attempts to dial out to the server.

This happens consistently when I'm away from "home" (when I have no internet connection), but never when I'm at "home" and try to repro (via th

[2016-03-22 09:19] rahulkotecha commented on #6767
"Kerberos creds with sign" part of the issue has been fixed for both Linux and OSX and is part of PR #6989

[2016-03-22 09:29] Clockwork-Muse commented on #7130
...Just hit it again, but still can't repro.  Stuff I've done in VS before first offline build when this happens:

 - _nothing_ (just build/rebuild)
 - Change project file (ie, new test file)
 - Change method signature/attributes/declared variables.

So yeah, still mystified

[2016-03-22 11:24] stephentoub commented on #4829
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/2257/

[2016-03-22 14:21] stephentoub commented on #4829
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/2265/console

[2016-03-22 14:58] bartonjs commented on #7129
It is something that we want to do, yes; but right now the focus is on making sure that the things that we already have work reliably.

[2016-03-22 14:59] gkhanna79 commented on #7061
@MattGal Please port your PR (https://github.com/dotnet/corefx/pull/7120) to RC2 branch to fix this issue.

[2016-03-22 15:00] bartonjs commented on #7047
I see this locally, too.  But `msbuild /p:OSGroup=Windows_NT` seems to work.  Definitely odd.

[2016-03-22 15:31] vancem commented on #6893
@jamesqo you asked what to do instead of throwing errors if you are on the wrong thread.   What we did in the past was to 'make it work' (you would take a lock and to the right thing).  It makes the code more complex but avoids the pitfall.

But taking a larger view, I don't thing this class is general purpose enough to invest in publishing and teaching people about it.   It is fine as a thing tha

[2016-03-22 16:12] stephentoub commented on #4467
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/3837/

[2016-03-22 16:45] Steppenwolfe65 commented on #4610
I think the go-to guy for BigInteger in C# is probably Antonello Provenzano, Deveel Math library: https://github.com/deveel/deveel-math/tree/master/src/Deveel.Math/Deveel.Math
IMO, no matter how well it is written, BigInteger is rather slow, and cryptography based on big number factoring has a limited shelf life.

[2016-03-22 16:55] Steppenwolfe65 commented on #4581
Rather than ECDH, you might want to think about lattice based ciphers; RingLWE is fast, provably secure, and provides post-quantum security. Large scale quantum computers will soon be a reality, and RSA and ECDH need to be replaced.

[2016-03-22 17:01] ericeil opened #7140 "Merge System.Net.Sockets.Legacy.Tests into System.Net.Sockets.Tests"
There is a lot of duplication between these two test collections, resulting in needing to make fixes in both places quite often.  We should just merge these and eliminate any duplicate testing.

[2016-03-22 17:07] #4829 closed

[2016-03-22 17:09] #6947 closed

[2016-03-22 17:18] khdang opened #7141 "Need to copy xunit.runner.utility.desktop.dll in order to run performance tests"
For some reasons, l have to copy xunit.runner.utility.desktop.dll to run the perf test on CoreClr.

I have tried getting a new clone of corefx, do build.cmd and then run serialization performance tests, but I still see the complain that xunit.runner.utility.desktop.dll cannot be loaded.

e.g. I ran:
[code]

I saw this error:

[code]

If I copy corefx\packages\Microsoft.DotNet.xunit.performance.run

[2016-03-22 17:26] ericeil commented on #5185
With #7112, these should be much less likely.  There are three test cases left to address, but we haven't seen these failures in any of those cases so far.  We can clean up the remaining cases in RTM.

[2016-03-22 17:58] #7047 closed

[2016-03-22 18:06] mellinoe commented on #7104
I upped the open-file limit on our build machines, except for two of them, which I wasn't able to access yet. The runs this morning both failed still, though. One of the runs was on a machine that wasn't updated, but the other SHOULD have had the fix on it. I'm logging on to that machine to see what the deal is.

[2016-03-22 18:19] mellinoe commented on #7104
I was able to log in and restore all of the packages on the machine that failed, so let's wait and see what happens in the next run...

[2016-03-22 18:33] #5955 closed

[2016-03-22 18:34] davmason commented on #7141
@dsgouda It looks like all the performance tests are broken from running manually. Do you know if this is related  to #6972

[2016-03-22 18:36] dagood commented on #7104
What fix did you apply to the servers for `ulimit`?

[2016-03-22 18:42] Priya91 opened #7146 "Allow a way to specify native shim dependencies for libs in build targets."
**Repro:**
Using build.sh without `TestWithLocalLibraries=true` will cause builds to fail, if the correct package version with the shim update is not used.

Currently, we are copying all the native shim libs built locally to be used while running tests (when setting `TestWithLocalLibraries=true`). We need a way to just copy over just the required shims, so that, there is no need to keep updating t

[2016-03-22 18:43] Priya91 commented on #7081
This is fixed now, and I've filed a tracking issue #7146.

[2016-03-22 18:43] mellinoe commented on #7104
I just increased the limit, roughly following the example from [here](http://unix.stackexchange.com/questions/108174/how-to-persist-ulimit-settings-in-osx-mavericks). Then I restarted the machines.

[2016-03-22 18:45] hughbe opened #7148 "ASCIIEncoding has inconsistent parameter names from base class and other encodings"
`ASCIIEncoding` overrides `Encoding`
It has inconsistent parameter names for methods taking a string

### Encoding.cs
[code]

### ASCIIEncoding.cs
[code]

These are pretty insignificant nits, but are currently blocking progress for adding these to `EncodingHelpers.cs` (similar to PR #7145) as the parameter names are different

I'm really not sure if changing the parameter names in `ASCIIEncoding.c

[2016-03-22 18:48] joshfree commented on #7126
@KrzysztofCwalina can you get a fix in for this today?

[2016-03-22 19:01] tarekgh commented on #7148
I don't think we can change the names. changing methods parameter names can break compatibility with VB.

[2016-03-22 19:01] tarekgh commented on #7148
we can workout the tests to make it work.

[2016-03-22 19:05] #7148 closed

[2016-03-22 19:19] joshfree commented on #7104
Note even after this issue is fixed for OS X, there's still this 2nd set of Mac OS X outerloop test failures: https://github.com/dotnet/corefx/issues/7126.

[2016-03-22 20:20] ericstj commented on #7114
Workaround is in place with https://github.com/dotnet/corefx/commit/0f268ed1079c182d71cdf49cde3f339a01d67863

[2016-03-22 20:32] stephentoub opened #7150 "SendRecvPollSync_TcpListener_Socket failed on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/3854/consoleFull
[code]

[2016-03-22 20:34] stephentoub opened #7151 "NullableConverterTests failed in CI due to enumerating modified collection"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_tst_prtest/2190/consoleFull
[code]

[2016-03-22 21:20] hughbe opened #7154 "Implicit windows or UNC uris doesn't parse query or fragment"
## Reproduce
### Implicit windows file

[code]
### Explicit windows file

[code]
### Implicit UNC file

[code]
## Explicit UNC file

[code]
## Problem description
- Clearly, there is an inconsistency between parsing of implicit and explicit windows files.
- The query and fragment are escaped in an implicit file, so are not parsed, unlike in explicit files
## Solution
- This may be by design, but I

[2016-03-22 21:32] stephentoub opened #7155 "TestCtor_CharPtr failing on Unix sporadically"
This test has started failing randomly in the past day.  I've seen it now on both CentOS and OpenSUSE.
e.g. http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/centos7.1_debug_tst/999/console
[code]
https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/String.cs#L24

[2016-03-22 21:36] stephentoub commented on #7155
@wtgodbe, could you recent changes around encoding have caused this?  @janvorli, @ellismg, are you aware of any other recent mscorlib/libcoreclr changes that could impact this?

[2016-03-22 21:41] davidsh commented on #7154
We are aware of issues with the System.Uri class especially in the areas of implicit file:// scheme which is not even covered fully in the RFC's.

It is highly unlikely we will make any fixes to this which are breaking changes.

[2016-03-22 21:45] wtgodbe commented on #7155
It's certainly possible. Are there any examples of this from before today? My UTF8 change was merged in on March 18 so I'd think we would have some failures from the last few days as well.

[2016-03-22 21:45] tarekgh commented on #7084
this is fixed by the change https://github.com/dotnet/corefx/pull/7139

[2016-03-22 21:45] #7084 closed

[2016-03-22 21:46] tarekgh commented on #7087
fixed with the change https://github.com/dotnet/corefx/pull/7139

[2016-03-22 21:46] #7087 closed

[2016-03-22 21:47] stephentoub commented on #7155
I saw it once yesterday and once today.

[2016-03-22 22:00] kkurni commented on #4571
Here our proposal for DbProviderFactories proposal for corefx by using Code based Configuration
https://github.com/dotnet/corefx/issues/6476

As a background in .NET Framework `DbProviderFactories` is a configuration based mechanism which can be used to resolve a `DbProviderFactory` instance that is registered in configuration (most often in machine.config) based on a string containing a well-know

[2016-03-22 22:03] kkurni commented on #5782
Related issue : https://github.com/dotnet/corefx/issues/4571

[2016-03-22 22:03] kkurni commented on #4571
CC @giancarloa

[2016-03-22 22:19] FransBouma commented on #4571
I understand the lack of GAC / machine.config makes it all a bit problematic and therefore would fall back onto the mechanism of the app's config file configuration for DbProviderFactory (similar to what is possible in .NET full today), and if configuration in CoreFX is done through code, not config files then this is the wisest solution.

At first glance I see no way to obtain a factory when I ha

[2016-03-22 22:20] MattGal commented on #7141
Having extreme network funkiness right now, but can you check whether your execution is in the context of corerun.exe?  The only way this DLL should be necessary is if you're running against desktop Framework.

[2016-03-22 22:23] hughbe commented on #7154
Ach that's disappointing, I'll work around it.

Seems like System.Uri is in a bit of a mess, right? Are there plans for a new replacement to avoid backcompat issues?

[2016-03-22 22:29] kkurni commented on #4571
@FransBouma you can access your registered factory the same ways as the old ways in .NET Frameworks.

[code]

In CoreFx, you will need to use DbProviderFactoriesConfiguration to register your provider.
[code]

But in .NET Frameworks, you don't need to do anything, it will read from the machine config as it is.

[2016-03-22 22:54] andschwa commented on #7038
Build 23922 resolved the problems I was having with this.

[2016-03-22 23:01] SGuyGe commented on #4724
We've confirmed this is a bug in .NET Native compiler. We have fixed it and the fix will be included in a future .NET Native update (post update 2).

[2016-03-22 23:01] #4724 closed

[2016-03-22 23:06] ellismg commented on #7155
I'm pretty sure this is a bad test?

Look at this case:

    [InlineData(new char[] { 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h' }, "abcdefgh")]

We fix the array and then pass it to a .ctor that expects a null terminated chunk of memory.  I don't think there's any reason to assume the array is null terminated (and could explain why this fails intermittently).

Am I missing something?

[2016-03-22 23:07] ellismg commented on #7155
FWIW, I would be very surprised if @wtgodbe's stuff impacted this at all, we shouldn't be doing any encoding stuff, this should be an allocate a blit.

[2016-03-22 23:11] kkurni commented on #4571
The reason why we are not allow to overwriting is to make this behavior less uncertain.
e.g libraries can just overwrite this code based config without any agreement. This will be hard to debug.

But an applications can always provide their own safe way to overwriting their provider config.
e.g file based config which allow others to override their config providers based on directory structure.

[2016-03-22 23:24] stephentoub commented on #7155
No, you're right, bad test.  Maybe there was a recent libcoreclr change related to allocation/GC that made it less likely an array would have a null byte after it.  Regardless, I'll fix the test.

[2016-03-22 23:27] stephentoub commented on #7155
Actually, it looks like these came in as part of @hughbe's test additions a few days ago, so it's probably just as simple as them being new incorrect tests.

[2016-03-22 23:27] eschneider999 opened #7161 "Nuget install fails for System.Diagnostics.Tracing 4.0.21-beta-23516"
Restoring packages for 'Symbiotic.Core'.
Restoring packages for F:\Dev\FrozenElephant\SymbioticORM\Symbiotic\Symbiotic.Core\project.json...
System.Diagnostics.Tracing 4.0.21-beta-23516 is not compatible with .NETPlatform,Version=v5.0.
Some packages are not compatible with .NETPlatform,Version=v5.0.
All packages are compatible with .NETFramework,Version=v4.6.
All packages are compatible with UAP,Ve

[2016-03-22 23:58] AArnott commented on #6752
It sounds like the majority agree this might have been a good idea for the initial public API, but that adding a redundant property to the API at this point risks doing more harm than good.
Closing as Won't Fix.

[2016-03-22 23:58] #6752 closed

[2016-03-23 00:23] hughbe commented on #7155
Yup, bad test. Sorry about that

[2016-03-23 00:59] Priya91 commented on #5079
Proposed API Changes:

![image](https://cloud.githubusercontent.com/assets/7853870/13972631/9b0c7fea-f057-11e5-8ec5-393018fd9a87.png)
![image](https://cloud.githubusercontent.com/assets/7853870/13972648/b666bc92-f057-11e5-9fe9-536f40e1ce65.png)

cc @justinvp @mjsabby @terrajobst

[2016-03-23 01:21] jamesqo opened #7166 "xUnit console runner crashes when writing invalid characters to the XML file"
Separating this out from #7042 (where the bug was discovered) so we have a separate issue to keep track of it.

Currently, the xUnit console runner will crash if certain invalid characters, like standalone surrogates, U+FFFE or U+FFFF are written to the XML file. For example, this would fail:

[code]

The fix is to alter [this](https://github.com/dotnet/buildtools/blob/37d1d57167d2d112b26f94135f32

[2016-03-23 01:28] terrajobst commented on #5079
In my opinion, the direction to allow built-time code generation over runtime code generation for regexes is good an in alignment with what we want to do in general. It's just a question of whether we believe we should expose the type as proposed or whether we should spend more time designing this extension point.

@weshaggard @KrzysztofCwalina @stephentoub Thoughts?

A meaningful end-to-end valid

[2016-03-23 01:30] #7155 closed

[2016-03-23 01:40] terrajobst commented on #7161
@ericstj, could yu have a look? It seems this package is still using the old names. I guess that's just a point in time until we've updated and uploaded new versions to nuget.org?

[2016-03-23 02:10] stephentoub commented on #7091
@ctaggart, any luck?  thanks!

[2016-03-23 02:27] JonHanna opened #7169 "Expression.Convert() incorrect in interpreter with enum types."
Given an enum type `E`, a long-backed enumtype `El` and a value of type `E` called `e` then `Expression.Convert()` will be treated differently in the compiler and the interpreter.

[code]

Aside from the compiler winning on the grounds of precedence, it would appear to be correct on each count here, with the `ArgumentException` being plainly wrong. There is a bit of a risk to fixing the second cas

[2016-03-23 03:08] ctaggart commented on #7091
No luck yet. I get this error. Did i download the and unzip the right file?

[code]

[code]

fyi, the contents of the nupkg:
[code]

[2016-03-23 03:13] stephentoub commented on #7091
Ah, yeah, you want this one:
https://dotnet.myget.org/F/dotnet-core/api/v2/package/runtime.unix.System.IO.FileSystem/4.0.1-rc3-23922
and specifically the file:
\runtimes\unix\lib\netstandard1.3\System.IO.FileSystem.dll

[2016-03-23 03:27] andschwa commented on #6743
This is working great, thanks!

[2016-03-23 03:27] #6743 closed

[2016-03-23 03:39] ctaggart commented on #7091
That makes more sense. It works! Successfully compiled the Hello World F# console app from a VirtualBox Docker volume and ran it.

[code]

[2016-03-23 03:40] stephentoub commented on #7091
Excellent!  Thanks, @ctaggart!

[2016-03-23 04:18] andschwa commented on #7043
This is no longer an issue with build 23922. Thanks!

[2016-03-23 04:18] #7043 closed

[2016-03-23 05:01] chcosta commented on #7043
Thanks @andschwa

[2016-03-23 06:21] weshaggard commented on #5789
@eerhardt is working on completing this.

[2016-03-23 06:25] weshaggard commented on #5443
@mmitche did you every get this put into place?

[2016-03-23 06:47] shanhongyue commented on #4724
Well done!

[2016-03-23 08:31] justinvp commented on #5079
I like the protected constructor design. I still think it'd be worth considering switching to `Func<RegexRunner>` instead of adding back `RegexRunnerFactory` as it would be trivial to adapt `Func<RegexRunner>` to `RegexRunnerFactory` within the desktop codebase (desktop and corefx implementations have already diverged a bit).

Remind me: Would we have to wait to add the protected constructor to .N

[2016-03-23 08:36] be5invis commented on #645
@whoisj I am care about the time: Since CoreFX now supports long path, **when will the change published to end users, to make at least PowerShell work**? The key question is the “when”.

[2016-03-23 08:50] FransBouma commented on #4571
Re: retrieving the factory: ah yes, it was unclear a bit to me whether that was changed or not, this morning I realized it was indeed the same. Sounds good!

Re: overwriting: ok. It's not a big deal I think. The applications now also have to call a line in the profiler to make it overwrite the factories in the datatable, and instead of that the developer can simply register a different factory (i.

[2016-03-23 09:36] Inspyro opened #7172 "XElement Namespace Handling"
I found a problem with the way XElement handles namespaces. If You look at the following code (executed with .Net Core 1.0.0-rc2-23811):

[code]

The output is as follows:
[code]

To me this behaviour seems strange / **inconsistent**, as one **cannot rely** that the xmnls attribute is represented as **xmlns attribute in the memory model**. Some Frameworks (e.g. Json.NET) however require the xmlns

[2016-03-23 09:59] Inspyro commented on #7172
Have a look at this Json.Net issue:
https://github.com/JamesNK/Newtonsoft.Json/issues/853

[2016-03-23 10:31] davidfowl commented on #6476
You should allow overriding the factory. Blocking that seems unnecessarily restrictive.

[2016-03-23 10:38] dmportella opened #7173 "Capitalization of build folders names in case sensitive OS's"
HI everyone

Not sure if this is the right place to post this request but I wanted to ask for a change in the build folder setup for dotnet applications, I would like bin/Debug, bin/Release to be by default lower case. I know sounds lazy and all changing this would have no effect on a windows platform but would go be so cool not having to keep reminding yourself that the debug folder name is {caps

[2016-03-23 13:36] ericstj commented on #7161
`.NETPlatform,Version=v5.0` is the `dotnet` moniker which has been replaced with `netstandard`.  To create a PCL using the latest packages you need an updated NuGet client and PCL template /cc @Pilchie.

[2016-03-23 14:50] Jaykul commented on #645
As I understand it, the process for that is so complicated, that you're
never going to get an answer on a timeline.

First of all, because right now we have this awkward dual-mode .Net where
there's legacy .Net and then there's .Net Core, and products (like Asp.NET)
are *picking one *to ship against.  PowerShell ships against legacy .Net,
but CoreFX is ... well, currently it's never been shipped i

[2016-03-23 15:07] saguiitay opened #7175 "API Proposal: Support operators * / etc on type TimeSpan"
## Background

TimeSpan represents a time interval, which makes it a common candidate for "mathematical" processing, such as taking a 1-hour interval, and divide it by 2, resulting a 0.5-hour interval. Currently, the TimeSpan type support only a limited subset of operators (+ and -), and only with a TimeSpan operand.

## Proposed API - Approved
Approved in
* https://github.com/dotnet/corefx/issues

[2016-03-23 15:15] JonHanna commented on #7175
I'd prefer this to use `double` rather than `int` (though I wouldn't complain about there also being integer overloads). `new TimeSpan(1, 0, 0) * 2.5 == new TimeSpan(2, 30, 0)`

One could also have:

[code]

[2016-03-23 15:33] FredyWenger commented on #2065
**Any news on this?**
I have to write a webservice with access to an existing MS-SQL-Server (**what - I think - is one of the main-reasons to create a webservice b.t.w.**) and lost two full day's to see that SQL-Client is only implemented "half (some objects like SqlCommand and SqlConnection are known, but other important objects like DataTable and SqlDataAdapter are not found).
**This posting is

[2016-03-23 15:55] stephentoub opened #7177 "ServiceControllerTests.StartWithArguments failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win10_debug/136/consoleFull
[code]

[2016-03-23 16:00] mmitche commented on #5443
@weshaggard nope, but I have limited time.  If you have a resource for this I can teach them how to do it.

[2016-03-23 16:23] eschneider999 commented on #7161
@ericstj , are you saying this is an authoring/packaging problem? just trying to understand if I'm doing something wrong...

[2016-03-23 16:32] kkurni commented on #6476
@davidfowl I assume that your suggestion is about overriding the value of factory registration.

[code]

The reason why we don't allow for duplicate is to make the behavior less unpredictable.
e.g If we allow this, any libraries that you reference can just override your provide without any advanced agreement or notification. This will be hard to debug and find out which libraries override the valu

[2016-03-23 16:38] saguiitay commented on #7175
I wouldn't care either ways, as long as I can perform operations on a TimeSpan...
Notice that + and - operations between a TimeSpan and an int/long might also make sense in certain areas, but I understand that they might create a confusion with users: `TimeSpan.FromSeconds(2) + 3 == TimeSpan.FromSeconds(2) + TimeSpan.FromTicks(3)`

[2016-03-23 16:48] ericstj commented on #7161
It's just that you're using the released Portable Class Library project with pre-release packages.  The pre-release packages have changes that require both a new client and an update to the PCL project templates.

If you'd like to try them out you can modify the project, but since this particular package, System.Diagnostics.Tracing, doesn't provide any new API it might not be worth the effort.  No

[2016-03-23 17:06] tmds commented on #6807
@stephentoub It looks like this can be implemented as `return m_Handle.DangerousGetHandle()`. Is there a catch?

[2016-03-23 17:10] JonHanna commented on #7175
Such addition might make sense in certain areas, but it would make completely different sense in other areas (seconds? days?). I don't think that would be a good idea.

[2016-03-23 17:17] davidsh commented on #6807
While that can be implemented in CoreFx, it will not work for .NET Framework (Desktop).  We can't use the "m_Handle" field since it is a private field to the Socket class. The revised package for System.Net.Sockets needs to work on both CoreFx and Desktop.  We need to implement this functionality as an extension method most likely so that we can use PUBLIC Socket APIs to implement it.

[2016-03-23 17:41] joshfree commented on #6930
@saurabh500 can you take a look and determine if this is needed for RC2?

[2016-03-23 17:44] eschneider999 commented on #7161
So if I use a release build v4.0.20 It's should work fine?
and your thinking is that there is not much change in the api from v4.0.20 to the latest pre-release?

Curious; what good is the pre-releases is no-one can pull them and test them out?

My main goal is to be able to do simple Trace.Writeline() and see it in VS and/or a file?

Trace does not seem to exist in v4.0.20

[2016-03-23 17:51] joshfree commented on #7072
@SunnyWar are you interested in grabbing this work item?

/cc @brianrob

[2016-03-23 17:52] tmds commented on #6807
@davidsh why not implement it as a property on the Socket class (like it is on the desktop framework)?

[2016-03-23 17:53] ericstj commented on #7114
Moving to RTM.  This is tracking undoing the change above.

[2016-03-23 17:56] davidsh commented on #6807
Because it is an existing class in the .NET Framework and we can't add properties to it without moving it out of the current contract generation it is in. Otherwise, the package will not be portable anymore to Desktop.

I know this is a complicated topic and I can't really fully explain it here.  But reving the contract surface for classes that already exist in the .NET Framework is a complex proc

[2016-03-23 18:06] saurabh500 commented on #6930
@corivera, PTAL

[2016-03-23 18:07] tmds commented on #6807
The way I look at it, the property already exists in the desktop framework so there is no need to change the contract (https://msdn.microsoft.com/en-us/library/system.net.sockets.socket.handle(v=vs.110).aspx).
I'm interested in understanding better, so @ericstj if you have some time...

[2016-03-23 18:13] stephentoub commented on #6807
The concern with exposing the existing ```IntPtr Handle { get; }``` is that it's exposing the raw handle, rather than exposing it as a SafeHandle that protects against use-after-free and other such problems.  The concern with exposing a new ```SafeHandle SafeHandle { get; }``` is that it doesn't exist in the full framework yet.

[2016-03-23 18:18] ericstj opened #7180 "Add NETCore50 support to a number of packages"
https://github.com/dotnet/corefx/search?p=3&q=%22NotSupportedOnTargetFramework+Include%3D%5C%22netcore50%5C%22%22&type=Code&utf8=%E2%9C%93

The following packages block install in NetCore50 for poor reasons
- System.Diagnostics.TraceSource
  - GetCurrentProcessId, seems like we could come up with a decent replacement here
- System.Diagnostics.TextWriterTraceListener
  - likely because of above
- S

[2016-03-23 18:18] tmds commented on #6807
If the SafeHandle is exposed, doesn't that expose the IntPtr as well (by calling DangerousGetHandle)?

[2016-03-23 18:19] ericstj commented on #7161
There is no change between API in 4.0.20 and 4.0.21.  If there is API change we will bump the minor version (eg: 4.1.x).

The System.Diagnostics.Trace class is contained in https://www.nuget.org/packages/System.Diagnostics.TraceSource, not System.Diagnostics.Tracing.  Currently that package is only pre-release and only won't yet work in UWP which you are targeting.

Folks can try them out, its jus

[2016-03-23 18:21] stephentoub commented on #6807
Yes, but that's why it's prefixed with "Dangerous", and it also exposes the DangerousAddRef and DangerousRelease methods that enable you to do the right thing if you do need the raw IntPtr.  Most of the time you don't, though, in that you can write your P/Invokes to take a SafeHandle and the runtime calls AddRef/GetHandle/Release appropriately rather than you doing it manually.

SafeHandle isn't a

[2016-03-23 18:21] davidsh commented on #6807
Yes, but we don't want to encourage bad practices.  So, need APIs expose SafeHandle even though a developer can drill into it to get an IntPtr.

[2016-03-23 18:50] joshfree commented on #7173
Hi @dmportella I moved this issue over to the /dotnet/cli repo.  Thanks

[2016-03-23 18:50] #7173 closed

[2016-03-23 18:59] joshfree commented on #7166
@mellinoe can you assist?

[2016-03-23 19:00] joshfree commented on #7175
@terrajobst @KrzysztofCwalina

[2016-03-23 19:21] abpiskunov commented on #7130
@Clockwork-Muse  what is your project type? Also what is exact VS and Update version?

[2016-03-23 19:28] khdang commented on #7141
It appears that the the test is run with a xunit.performance.run.exe command, which target is ".NETFramework,Version=v4.6". Any ideas how do can run performance test in CoreClr context?

[code]

[2016-03-23 19:39] mellinoe commented on #7141
The runner itself is a .NET Framework application, but the program being monitored (and perf information being gathered from) is still be a CoreCLR program:

[code]

[2016-03-23 19:39] tmds commented on #6807
What needs to happen to add SafeHandle to the System.Net.Sockets contract?

[2016-03-23 19:53] mellinoe commented on #7141
As for why xunit.runner.utility.desktop.dll needs to be copied over, from my memory I think it is because the "outer runner" (i.e. the .NET Framework application) needs to understand which tests are going to be run by the "inner runner" (the CoreCLR xunit runner), and it needs that xunit assembly to do the analysis.

[2016-03-23 19:58] eschneider999 commented on #7161
ok, my target is core/pcl it's an Micro ORM. Everything works but I pulled-out encryption, configuration, tracing and some dynamics/emit.

Trying to get a feel; if it's possible to re-add the functionality using corefx libs or if I need to exclude it or possibly use a third party pcl.

[2016-03-23 20:11] corivera commented on #6930
Doesn't repro for me on rc3-23923

[2016-03-23 20:11] #6930 closed

[2016-03-23 20:13] corivera commented on #6382
Fixed by https://github.com/dotnet/corefx/commit/a7b286cee2cd8f2bcb9779923feee3af46f84ab5

[2016-03-23 20:13] #6382 closed

[2016-03-23 20:14] ericstj commented on #7161
Dynamic is supported.
Ref.emit is not supported if you are trying to target UWP due to NETNative not supporting it (no JIT).
Tracing is supported using EventSource APIs.  Older tracing technologies are available in pre-release packages (eg: TraceSource).
Encryption is supported but requires pre-release packages/tooling.  Types are in System.Security.Cryptography.*
Configuration APIs are not availa

[2016-03-23 20:16] mellinoe commented on #7125
This seems to be caused by two of the embedded resource assemblies, `Interop.Mock01.dll` and `Interop.Mock01.Impl.dll` not being passed to csc.exe as resources. The resulting assembly does not have those dll's embedded, and the tests eventually try to load them by name, which fails with a null reference exception. It has something to do with the fact that they have periods in their names. If the f

[2016-03-23 20:17] mellinoe commented on #7104
The dotnet restore issue should not pop up again, I have finished patching all of the machines. I'll wait to close this issue until we get a couple more runs that get past restore.

[2016-03-23 20:19] chcosta commented on #6333
This was resolved with this commit https://github.com/dotnet/corefx/commit/a42749562c1a221c34dffd942a3bfb10dbb47fd4

[2016-03-23 20:19] #6333 closed

[2016-03-23 20:19] stephentoub commented on #7125
(In which case that's likely the same problem as with #7126, which is also experiencing NullReferenceExceptions related to a resource that contains periods in the name. cc: @KrzysztofCwalina )

[2016-03-23 20:32] KrzysztofCwalina commented on #7125
Yeah, I noticed yesterday that some packages work fine when loading resources. I looked at the difference and the only difference was dots in names. I am running a job now with dots removed.

[2016-03-23 20:35] chcosta commented on #3766
@cshung , is this still an issue for you?

[2016-03-23 20:36] maririos commented on #7011
For build-packages.cmd see #7147

[2016-03-23 20:37] chcosta commented on #6555
@ddobric, are you still blocked?

[2016-03-23 20:57] tmds commented on #6807
@davidsh Perhaps it is also an option to extend the current implementation with IntPtr Handle and create a new contract which deprecates the IntPtr in favor of a SafeHandle?

What is the rationale for choosing between an extension method or a property when updating the contract?

[2016-03-23 21:01] mellinoe commented on #7125
I've looked through the Windows/OSX MSBuild logs to try to find any differences. One that jumped out at me was that, on OSX, the `AssignCulture` task finds that these resources with periods in their file names have some culture associated with them:

OSX:
[code]

Windows:
[code]
I still don't fully understand how these items are actually passed around, but perhaps this difference results in them b

[2016-03-23 21:07] vancem commented on #7161
If you just want output in the debugger, you can use System.Diagnostics.Debug.WriteLine (This is only for debug builds).

If you want to do production tracing, you can use EventSource.   You can use https://blogs.msdn.microsoft.com/vancem/2012/07/09/introduction-tutorial-logging-etw-events-in-c-system-diagnostics-tracing-eventsource/.

Just make an EventSource with a 'Message' event which takes a

[2016-03-23 21:11] eschneider999 commented on #7161
Does EventSource work on other platforms?

[2016-03-23 21:15] KrzysztofCwalina commented on #7125
@tarekgh, would you know anything about it?

[2016-03-23 21:30] tmds commented on #4367
The table at the bottom of https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md shows "CoreFx APIs" vs ".NET Platform Standard version". Currenty arrows and Xes are used to show the available API in a platform standard. Probably the CoreFX APIs need to grow over time? So is it the intention to fill this table with CoreFX API version numbers? E.g. netstan

[2016-03-23 21:38] davidfowl commented on #4367
Yes this needs to be deleted and we should generate new data every build.

[2016-03-23 21:39] mellinoe commented on #7125
Line 245 of Microsoft.CSharp.CurrentVersion.Targets:

[code]

So the real key is figuring out why the `AssignCulture` method is assigning cultures to these assemblies on .NET Core, but not on .NET Framework. Or rather, only on OSX (?)

https://github.com/Microsoft/msbuild/blob/a4e0dd5f4b31a6c9acb1bab25ac401c438c3dfac/src/XMakeTasks/AssignCulture.cs

[2016-03-23 22:07] #7151 closed

[2016-03-23 22:09] stephentoub commented on #7125
It's not just OSX, e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_ubuntu14.04_debug/45/#showFailuresLink
I saw it initially on OSX, but after we fixed some other issues, it became apparent it was also happening on Ubuntu.  And I believe OSX and Ubuntu outerloop are the only two runs currently using msbuild on Unix to do the build, rather than building on Windows and copying ove

[2016-03-23 22:28] CIPop commented on #6807
@tmds

We want to ensure that System.Net.Sockets is compatible between .Net Desktop.
The constraint is that we cannot add new APIs to released .Net versions (e.g. 4.5.2, 4.6). We can though work around this constraint by adding extension methods within the NuGet package implementation. For an example, see the TPL Async additions to `Socket`.

[2016-03-23 22:40] briangru opened #7187 "FileInfo.Length on symbolic links should return the size of the target of the link."
FileInfo.Length on a symbolic link in Windows returns 0, not the length of the file referred to by the link.

For a symbolic link, Windows’ FindFirstFile returns 0 bytes as the length.  This may also be true with GetFileAttributesEx.  So a pattern like this prints out 0 for the length of a file that happens to be a symbolic link:

        DirectoryInfo dir = new DirectoryInfo(".");
        foreach

[2016-03-23 22:51] mellinoe commented on #7125
Thanks, I had a suspicion this was true.

I'm pretty sure the issue is due do differences in code in [Culture.cs, line 74](https://github.com/Microsoft/msbuild/blob/xplat/src/XMakeTasks/Culture.cs#L74).

[code]

This is different from the [desktop code](https://github.com/Microsoft/msbuild/blob/master/src/XMakeTasks/Culture.cs#L74):

[code]

I'm pretty sure this is causing us to consider culture s

[2016-03-23 22:52] Clockwork-Muse commented on #7130
@abpiskunov - This has happened to both PLINQ and Threading.Tasks (so regular .csproj), so I'm assuming it would affect all of the corefx projects.
VS is 10.0.24720.00 Update 1

It can also occur if I build the project, don't shut down VS, sleep the computer, then wake and try to build again.  Trying to rebuild via command line (with `/p:RestorePackages=false`) was complaining about not finding th

[2016-03-23 22:53] MattGal commented on #7061
Someone already ported my changeset with the fix in it yesterday.

[2016-03-23 22:53] #7061 closed

[2016-03-23 22:55] mellinoe commented on #7125
https://github.com/Microsoft/msbuild/issues/541

[2016-03-23 22:58] stephentoub commented on #7187
FYI, we recently fixed the Unix behavior to match the Windows behavior:
https://github.com/dotnet/corefx/pull/6591
something we received explicit requests for.

[2016-03-23 22:58] #7080 closed

[2016-03-23 23:01] JeremyKuhne commented on #7187
@stephentoub We don't have a way to get the target info now, do we? Was there a call for the size to be 0? What do you think about just the size matching the target?

[2016-03-23 23:03] chcosta commented on #4742
This should be fixed with https://github.com/dotnet/buildtools/commit/0ec4a20c43f00eed59ac818260102af0fd8dd367

[2016-03-23 23:03] #4742 closed

[2016-03-23 23:18] briangru commented on #7187
FYI - this is subtle stuff, causing certain build tools to fail not when run locally, but only on CloudBuild machines where we use symbolic links to point to files.  I suggest either fixing FileInfo.Length or consider removing it from the .NET Framework.  This is a subtle trap that will hurt tool authors.

Incidentally, we hit a similar bug in MSVCRT's fstat command in all builds prior to VC 2010.

[2016-03-23 23:20] #1609 closed

[2016-03-23 23:22] briangru commented on #7187
BTW, I apologize for not testing symbolic links properly in System.IO when we added FileInfo around 2004.  This was my bad.

[2016-03-23 23:24] joshfree opened #7191 "[April 21, 2016] Add Ubuntu 16.04 LTS (Xenial Xerusis) to CI and the RID graph"
Ubuntu 16.04 LTS, codenamed Xenial Xerusis is set for release on April 21, 2016.

Add 16.04LTS to the RID graph and replace 15.10 in Jenkins with 16.04LTS.

https://wiki.ubuntu.com/Releases

Related item tracking Fedora 23: https://github.com/dotnet/corefx/issues/5990

[2016-03-23 23:25] joshfree commented on #7191
/cc @ellismg @stephentoub

[2016-03-23 23:26] mellinoe opened #7192 "Revert PR#7188 when MSBuild#541 is fixed."
Once https://github.com/Microsoft/msbuild/issues/541 is fixed, we should revert the rename we did to remove all of the periods from embedded resource names.

[2016-03-23 23:39] AaronLS opened #7193 "WIF API is confusing when implementing CustomIdentity"
I found implementing a CustomIdentity to be very confusing, and there's alot of things about the API that feel very "spin in your chair three times and clap your hands and it'll work".

- IsAuthenticated used to be the premier way to signal to the framework that the user is successfully authenticated.  This not sufficient, and is fact ignored by the framework which instead checks to see if Authent

[2016-03-23 23:47] vancem commented on #7161
EventSource works on all platforms in the sense that things logged with EventSource gets to EventListeners.   Where it goes after that (e.g. VS, or PerfView , or ....), depends on those pieces and is likely platform dependent.

[2016-03-23 23:48] AaronLS commented on #7193
Concrete suggestions
-------
- References to ClaimsIdentity should be replaced with an IClaimsIdentity to remove the requirement to inherit from ClaimsIdentity and explicitly indicate the minimum set of properties needed by the framework. (ClaimsIdentity can still be the default concrete implementation, but no signatures or other API should require that concrete class)
- If your identity meets all

[2016-03-23 23:56] AaronLS commented on #7193
I was closing the 50 or so tabs I had open while researching this, and glanced through this one about the AuthenticationType nuance that echos my exact sentiment:

[![enter image description here][1]][1]
http://stackoverflow.com/a/20254797/84206

[1]: http://i.stack.imgur.com/efA1q.png

[2016-03-24 00:00] mellinoe opened #7197 "System.IO.Compression.ZipFile tests failed in Windows outer loop"
See: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_windows_nt_debug/131/consoleFull

There is not much output from the log.
[code]

The only thing standing out is this `no future` message in the log. This message appears a couple of times in assertions in the [clrcompression source](https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=%22no+future%22).

[2016-03-24 00:07] mconnew opened #7198 "Deadlock in ClientWebSocket when CancellationToken is cancelled during a call to ConnectAsync()"
In WinHttpWebSocket.ConnectAsync, there is a using block around the main implementation of the function which looks like this:

[code]

ThrowOrRegisterCancellation registers a callback which calls Abort() on the WinHttpWebSocket. The Abort() method immediately attempts to take a lock on `_operation.Lock`.
Inside the using block of ConnectAsync, there are two inner blocks which take a lock on `_ope

[2016-03-24 00:26] eschneider999 commented on #7161
very nice, I think I will use that for both tracing and the performance tracking part of my orm.

Thanks!

[2016-03-24 00:55] davidsh commented on #7198
cc: @CIPop

[2016-03-24 01:11] #7085 closed

[2016-03-24 02:03] stephentoub commented on #7198
As a complete aside that has nothing to do with the actual issue here, SpinWait doesn't just burn CPU but rather uses a mix of Thread.SpinWait, Thread.Yield, and Thread.Sleep with varying arguments, so if you look at your CPU utilization while it's spinning, it shouldn't actually register as much.

[2016-03-24 02:08] stephentoub commented on #7198
It's not clear to me why this is being done.  Why must the CancellationTokenRegistration be disposed of while holding the lock on _operation.Lock?

[2016-03-24 02:10] ericstj commented on #4925
We fixed this by putting a PlatformNotSupported assembly in place for Unix.

[2016-03-24 02:10] #4925 closed

[2016-03-24 02:10] bartonjs opened #7201 "Use BCrypt.dll for ephemeral symmetric operations"
The majority of tests failing in https://github.com/dotnet/corefx/issues/7086 are due to Windows 7 not having support for symmetric encryption through the Microsoft KSP (using NCrypt.dll).

The guidance from the Windows Cryptography team is to use BCrypt when an ephemeral key is used, and only use NCrypt when a persisted key was explicitly requested.  And that'll make Windows 7 have exactly the ri

[2016-03-24 02:13] ericstj commented on #7038
This should be fixed now.

[2016-03-24 02:13] #7038 closed

[2016-03-24 02:13] ericstj commented on #6903
I'm going to go ahead and close this, let me know if you didn't get the information you were looking for.

[2016-03-24 02:13] #6903 closed

[2016-03-24 02:14] ericstj commented on #5694
This was fixed by adding PlatformNotSupported assemblies.

[2016-03-24 02:14] #5694 closed

[2016-03-24 02:47] SunnyWar commented on #7072
@joshfree I would be I don't have the time.

[2016-03-24 03:34] #6361 closed

[2016-03-24 03:35] suzukid opened #7204 "How can I add System.Net.Sockets 4.1.0 to my project's reference?"
Hello,

I'm trying to port my project using System.Net.Sockets.TcpClient class. So I tried to add latest System.Net.Sockets using NuGet. However it fails. Please help.

### PROBLEM
Adding System.Net.Sockets 4.1.0 fails with incompatible errors like this:

[code]

### NOTES
I could add System.Net.Sockets 4.0.0 successfully. But it doesn't include TcpClient class so I need 4.1.0.
I guess it would be

[2016-03-24 03:48] davidsh commented on #7204
cc: @ericstj

You need to wait until we publish RC2 packages to NuGet.org in the next few weeks.

Then the System.Net.Sockets 4.1 contract will work.  Currently the packages on NuGet.org are old and don't support System.Net.Sockets 4.1.  In addition, if you are building a UWP (Windows 10 Store App), you should wait until Visual Studio 2015 Update 2 is released.  This will make sure you have the co

[2016-03-24 03:51] bmay2 commented on #5055
I removed unused usings, replaced type names with C# aliases, and ran the CodeFormatter tool for the solution. Should I open a PR or are there other benchmarks to hit first?

[2016-03-24 03:54] davidsh commented on #7198
Without getting into the details here, there is a valid reason we use `_operationLock` to synchronize methods like ConnectAsync() and Abort().  ConnectAsync() calls various WinHTTP APIs.  Abort() calls mostly WinHttpCloseHandle().   It is required that in general, one cannot call a WinHTTP API on one thread while another thread has called a WinHTTP API and has not yet returned from it.  And specif

[2016-03-24 05:48] leemgs opened #7205 "Criteria to make essential managed files before releasing "dotnet-ubuntu-x64.1.xxx.rtm.deb""
It's new thread is based on the existing discussion https://github.com/dotnet/corefx/issues/6903.
Here is file structure of the `dotnet-ubuntu-x64.1.0.0.001793.deb` file that can be downloaded at http://apt-mo.trafficmanager.net/repos/dotnet/pool/main/d/dotnet/ webpage.

My concern is how the default managed files  has been decided for releasing the official version of dotnet-ubuntu-x64-****.deb,

[2016-03-24 06:10] leemgs commented on #7205
\CC @manu-silicon , @benpye , @jkotas , @ericstj

[2016-03-24 06:26] sergiy-k commented on #6848
Hi @victorhurdugaci, I also could not reproduce the problem. Could provide more information that @janvorli has asked for? In addition, it would be nice to know more about the configuration that you are using for your test (i.e. Windows version, etc.). Thank you.

[2016-03-24 06:27] jkotas commented on #7205
Note there is a major restructuring of this content in progress in http://github.com/dotnet/cli repo:

- The shared runtime and cli tools are getting split into separate packages
- The non-essential tools are getting moved into separate packages, e.g. https://github.com/dotnet/cli/pull/1823

[2016-03-24 07:34] tmds commented on #6807
@CIPop Is there an advantage to using an extension method when the new feature cannot be implemented on top of the existing public API?

[2016-03-24 08:44] SariDev commented on #5593
I would like to see a port.

Maybe you could even improve it by adding support for XSLT 2.0 or maybe even XSLT 3.0+.
Right now the .NET Framework only supports XSLT 1.0 as far as I know.
XSLT 2.0+ makes it easier to transform non xml (text) files as it offers new xslt functions like unparsed-text() and others.

[2016-03-24 08:55] SariDev commented on #3633
Please add support for XSD's in .NET Core.

I dare to say working with XML files and validating those files in an easy way (through xml schema validation) is a pretty common task for most enterprise applications.
Therefore I would like to see support inside .NET Core to work with XSD's.

If XSD's will be added to .NET Core it would be great if the current XSD 1.1 release could be supported as it o

[2016-03-24 09:07] SariDev commented on #5766
+1 for porting System.Xaml over to .NET Core.
I hope to see one single unified XAML dialect (.NET Xaml, UWP Xaml, Xamarin Xaml) being used on all platforms in the future.
It think a .NET Core Version of System.Xaml is necessary to achieve this.

[2016-03-24 09:17] SariDev commented on #2342
+1 for this.
A similar Issue exists over here:
[https://github.com/dotnet/corefx/issues/3633#issuecomment-200741235](url)

[2016-03-24 11:16] fschmied commented on #7172
I think there is a good reason for not just always adding an `xmlns` `XAttribute` whenever a `Name.NamespaceName` is present: when a child `XElement` with a given default namespace has a parent with a corresponding `xmlns` attribute, it's "correct" that the child does _not_ have the `xmlns` atrribute, while it still has a `Name.NamespaceName`. So the object model really needs to support this in-be

[2016-03-24 11:30] JonHanna commented on #7172
In which situations would one want to look to the attribute itself, rather than the namespace for the relevant prefix (or default namespace for no prefix)?

[2016-03-24 12:26] #6726 closed

[2016-03-24 12:26] #7125 closed

[2016-03-24 12:33] #7019 closed

[2016-03-24 12:57] eschneider999 opened #7206 "Install fails for Microsoft.Diagnostics.Tracing.EventSource"
Trying to use this with my PCL, nit sure what's wrong. It's not a beta version of event source.

Restoring packages for 'Symbiotic.Core'.
Restoring packages for F:\Dev\FrozenElephant\SymbioticORM\Symbiotic\Symbiotic.Core\project.json...
Installing Microsoft.Diagnostics.Tracing.EventSource.Redist 1.1.28.
Installing Microsoft.Diagnostics.Tracing.EventSource 1.1.28.
Installing Microsoft.Diagnostics.T

[2016-03-24 13:13] #7082 closed

[2016-03-24 13:41] stephentoub commented on #7187
stat is explicitly documented to follow symlinks.  FileInfo hasn't been following symlinks since its introduction over a decade ago.  I think there's a difference.  FileInfo maps more closely to lstat.

Not specifically, but rather that the FileInfo should generally represent the symlink rather than the target, as it does on Windows.  Seems like it'd be inconsistent if we change the size to repres

[2016-03-24 14:28] TKharaishvili opened #7208 "string.Join as Concat(separator) extension method on IEnumerable<T>"
I find myself reverting string.Join into an extension method in every project I write. Like so:

[code]

it's considerably more flexible and enjoyable to use especially when chaining together with Linq to objects queries:

[code]

as oppose to:

[code]

So if I'm not the only one using this method this way, maybe we can add it to the corefx.

**Note:**
I named it `Concat` because there already exi

[2016-03-24 14:39] ericstj commented on #7204
Agree on one count: need a new version of NuGet that's coming with update 2.   Folks don't necessarily need to wait until packages are on nuget.org if all they want to do is try them out, but should wait if they intend to publish the application.

[2016-03-24 14:45] dmportella commented on #7173
thank you man!

[2016-03-24 14:50] Luchianno commented on #7208
Though it's only two-line code change, that would be great addition!

[2016-03-24 14:55] JonHanna commented on #7208
There already exists a standard query operator called `Concat` too.

`string` meanwhile has both a `Join` and a `Concat` and this is closer to `Join` than it is to `Concat`.

[2016-03-24 15:03] TKharaishvili commented on #7208
@JonHanna nice point. Is there any other name you can suggest to avoid confusion or do you think it would be better to stick with `Join`?

[2016-03-24 15:12] JonHanna commented on #7208
If there was going to be something like this, then I'd lean toward `Join`.

[2016-03-24 15:30] ericstj commented on #7205
/cc @weshaggard who is putting together content for shared framework.

[2016-03-24 15:56] stephentoub commented on #6677
@joshfree, these tests were disabled.

[2016-03-24 16:08] cshung commented on #3766
It has been a while since I tried to do a build.
Let me try to build it again and see if it repros.

[2016-03-24 16:17] Inspyro commented on #7172
@JonHanna
For me the api seems to suggest that you can also check the namespace via xmnls attribute from the attributes list, which works perfectly fine, as long as the xml was parsed - e.g. from a file or from a string.
But as soon as I use the fancy api for defining the xmnls namespace in memory, this does not work anymore.

This probably also allured the Json.Net devs into doing this check for

[2016-03-24 16:27] JonHanna commented on #7172
Consider:

[code]

The `<b />` element is clearly in the `http://example.net/` namespace, but the tag doesn't have that attribute.

Now, let's forget about `XElement` specifically, and just think generally about something that serialises XML elements into XML documents.

If we were to serialise the `<a />` element, including its children, then we'd expect the output to be much as the example above

[2016-03-24 16:31] ericeil opened #7214 "Need tests for full-duplex Sockets behavior"
#7184 fixes a problem we missed in the Sockets tests because we do not have tests which do concurrent sends _and_ receives on a single socket.  This is a very common usage, and we should have test coverage for it.

[2016-03-24 16:33] bjjones commented on #7197
This happens when the debug version of clrcompression.dll is used.

This was recently changed by https://github.com/dotnet/corefx/commit/abe37cde4af561274e53b4fc87ad864e8d67efe0

I would choose to just leave default build to Release, otherwise there would need to be some way to get rid the asserts.

@ianhays

[2016-03-24 16:35] stephentoub commented on #7197
@bjjones, are the asserts highlighting a real problem?  If yes, shouldn't that be fixed?  If no, shouldn't the asserts be removed?

[2016-03-24 16:55] bjjones commented on #7197
@stephentoub these originate from the Zlib-Madler source, and I can't say for sure what their purpose is. I have experimented with removing them in the past and there was no functional issue with passing the System.IO.Compression tests. That and just looking at the context, it looks like they are only informational and there's no reason not to remove them.

[2016-03-24 16:58] Priya91 opened #7217 "WindowAndCursorPropsTitle test fails on Windows 10"
[code]

[2016-03-24 17:00] mellinoe commented on #7217
Dupe of https://github.com/dotnet/corefx/issues/6223?

[2016-03-24 17:01] stephentoub commented on #7197
Is it possible that the customizations employed by Intel is actually what's triggering these? e.g. have you hit these just using the mainline zlib source?  Seems very strange that asserts which abort the process would be in the code for informational purposes.

[2016-03-24 17:03] Priya91 commented on #7217
Seems to be. Will redirect there.

[2016-03-24 17:03] #7217 closed

[2016-03-24 17:06] chcosta commented on #6555
Pushing to RTM.  I will close if no repro or receive confirmation that the issue is resolved.  I'll move back to this milestone if I hear more information.

[2016-03-24 17:14] bjjones commented on #7197
I do not believe the Intel modifications are causing the issue. The same problem occurred for me when testing a debug build of the pre-Intel clrcompression.

Yes, it is strange that these are killing the process.

[2016-03-24 17:19] stephentoub commented on #7197
Well, as a short-term wrorkaround, it seems like we should go back to using Release.  But I'd really like to understand why these asserts are here and why it's not causing a problem for anyone else in the world using a debug build of mainline zlib (or if it has, what the discussion was in those cases).

[2016-03-24 17:22] bjjones commented on #7197
I agree. I will contact the main Intel-Zlib developer and see if he has any insight.

[2016-03-24 17:22] stephentoub commented on #7197
Thanks, @bjjones.

[2016-03-24 17:22] victorhurdugaci commented on #6848
Sorry for the late reply. I tried it with the latest CoreCLR that we have and I was not able to reproduce it anymore... I was on Windows.

I'll close for now and reopen if I see it again. Thanks!

[2016-03-24 17:22] #6848 closed

[2016-03-24 17:25] khdang commented on #7141
So should the xunit.runner.utility.desktop.dll be copied automatically to dnxcore50 folder? or this is only done in the lab machine and running on dev machine would require copying that file manually?

[2016-03-24 17:30] #6973 closed

[2016-03-24 17:32] Priya91 commented on #4467
Again here
[code]
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_windows_nt_debug/132/consoleFull

[2016-03-24 17:34] ericeil commented on #6803
Related: #7214.

[2016-03-24 17:38] mellinoe commented on #3766
We aren't even using dnu to restore any longer, this issue is quite a bit out of date.

[2016-03-24 17:47] mellinoe commented on #7141
Yes, it should be. This should have been happening automatically, perhaps something in buildtools has regressed it. It should be part of [this target](https://github.com/dotnet/buildtools/blob/9a879e24e41e6e82930e2f7a09efb7c185caf410/src/Microsoft.DotNet.Build.Tasks/PackageFiles/PerfTesting.targets#L25) in buildtools.

[2016-03-24 17:48] alanprot opened #7221 "Wrong Conversion ToUpper to char 'i' on *Nix version"
Linux output:
[code]
Windows output:
[code]

Thanks

[2016-03-24 17:53] cshung commented on #3766
Let's close this for now. I cannot repro the build failure any more.

[2016-03-24 17:53] #3766 closed

[2016-03-24 18:09] dsgouda commented on #7141
Thanks @mellinoe will take a look

[2016-03-24 18:09] stephentoub commented on #7221
What version are you using?

On Linux, what do you see at the command-line if you type "locale"?

It looks like you're getting Turkish casing rules on Linux.

[2016-03-24 18:10] stephentoub commented on #7221
cc: @ellismg

[2016-03-24 18:20] alanprot commented on #7221
Actually i'm using the docker image microsoft/aspnet:1.0.0-rc1-update1-coreclr.
[code]
[code]

[2016-03-24 18:25] stephentoub commented on #7221
And, just to verify, I assume the issue goes away if before running your repro you do:
[code]
?

[2016-03-24 18:26] stephentoub commented on #7221
Assuming yes, I believe this was already fixed:
https://github.com/dotnet/coreclr/pull/2548

[2016-03-24 18:29] KrzysztofCwalina commented on #7126
Fixed by https://github.com/dotnet/corefx/commit/fefbfb1b70686234a7e1ae25b32e5027b2be4aa8

[2016-03-24 18:29] #7126 closed

[2016-03-24 18:30] alanprot commented on #7221
Yes...

sorry for the duplicate issue.

Thanks!!

[2016-03-24 18:30] #7221 closed

[2016-03-24 18:32] stephentoub commented on #7221
Not a problem.  Thanks for letting us know.

[2016-03-24 19:04] ericeil opened #7224 "Seg faults on OSX in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_prtest/2884/

[code]

[2016-03-24 19:14] stephentoub commented on #7224
We've been seeing these seg faults frequently but inconsistently on OSX in the FileSystemWatcher, PLINQ, and Collections tests.  @sergiy-k and @janvorli are investigating.  It's likely a GC issue.

[2016-03-24 19:16] stephentoub commented on #7081
This is still happening, e.g. http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_osx_debug/56/consoleFull

[2016-03-24 20:23] GSPP opened #7230 "Suspicious code in SortedList"
Reading the commit logs I find [this code](https://github.com/dotnet/corefx/blob/39a8b7dc241d536653b20066ffe69698e04f82ab/src/System.Collections/src/System/Collections/Generic/SortedList.cs#L164) suspicious:

                    Array.Sort<TKey, TValue>(keys, _values, comparer);
                    comparer = Comparer; // obtain default if this is null.

Either the assignment does nothing (which I

[2016-03-24 20:48] stephentoub commented on #4871
@davmason, I started looking at this, and they're failing due to a NullReferenceException happening inside EventSource:
[code]
That ends up triggering an out-of-band message, which the listener then picks up, compares to the target message, sees they don't match, and it fails.

But that NRE is concerning and something it seems we should investigate.  At least one of the problems seems to be that t

[2016-03-24 20:58] stephentoub commented on #7230
cc: @JonHanna

Those lines should probably be swapped, but I'm not sure it technically matters.  If comparer is provided as null to the constructor, then Comparer will be ```Comparer<T>.Default```, comparer will be null, and Array.Sort will use ```Comparer<T>.Default```, so everyone will be using ```Comparer<T>.Default```.  If comparer comes in non-null, then Comparer will equal comparer, and ever

[2016-03-24 21:04] JonHanna commented on #7230
Yeah, sort does the same null-becomes-default logic that the constructor had previously done, so passing null to it is fine. It's only the added check that can't work with null, hence the pulling it back into the argument.
Its fine as is, but I'll add a more extensive comment if wanted.

[2016-03-24 21:05] stephentoub commented on #7224
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/2387/console

[2016-03-24 21:05] maririos commented on #7011
For Build-packages.sh see #7200

[2016-03-24 21:05] #7011 closed

[2016-03-24 21:07] stephentoub commented on #7230
I'd say just swap the lines.

[2016-03-24 21:11] JonHanna commented on #7230
Cool. Will do that when next at my computer. Will probably add a little bit to the comment that's there since assigning a field to a parameter in a ctor is a bit unusual.

[2016-03-24 21:27] Priya91 commented on #7081
This seems to be because of the BuildArch (x64 on native vs AnyCPU on managed). Will check what's the best way to resolve this.

[2016-03-24 21:48] tmds commented on #6807
@CIPop Let me paraphrase my question:

In the first post on this issue @davidsh said:

I understand that adding a new feature requires a new version of the contract. But I don't get why it needs to be an extension method. Can't the contract specify whatever it wants (as long as it is backwards compatible)?

[2016-03-24 21:49] #7140 closed

[2016-03-24 22:11] ellismg opened #7234 "GetAsync_ResponseWithSetCookieHeaders_AllCookiesRead failed in CI"
See http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_release_tst_prtest/3294/consoleFull

[code]

[2016-03-24 22:19] GSPP commented on #7230
So if the assignment actually does something, is this not a bug? The duplicate checking would use a different comparer than the sorting. This should be demonstrable with a test.

[2016-03-24 22:22] stephentoub commented on #7230
No.  The assignment does something because when comparer comes in to the ctor, it's passed to the base, and the base will check for null and make ```Comparer``` be ```Comparer<T>.Default```, but that doesn't affect the value of ```comparer``` in the ctor.  So, if null is passed in to the ctor, the null is passed in to Array.Sort, and Array.Sort will use ```Comparer<T>.Default```, then ```comparer`

[2016-03-24 22:30] GSPP commented on #7230
I see. The assignment does not change sort order under any circumstances but it makes `comparer.Compare(...)` work. So sad, I thought I had found a bug :)

[2016-03-24 22:32] stephentoub commented on #7230
That it's not intuitive, though, is enough of a reason to swap the order of the lines, just so that it's clear the same comparer is in fact being used.

[2016-03-24 22:41] GSPP commented on #7230
Solace.

[2016-03-24 22:41] bjjones commented on #7197
I've been looking around and I believe I've found the issue. In `corefx/src/Native/Windows/clrcompression/zlib/zutil.h`, there is:

`#ifdef DEBUG`
`#define Assert(cond,msg) {if(!(cond)) z_error(msg);}`

and then z_error() calls the abort. The DEBUG looks to be meant for in-depth debugging of Zlib and is not commonly used. DEBUG was defined in `corefx/src/Native/Windows/CMakeLists.txt` (likely unin

[2016-03-24 22:46] davidsh commented on #7204
closing this issue since the question was answered.

[2016-03-24 22:46] #7204 closed

[2016-03-24 22:53] stephentoub commented on #7224
System.Runtime.Tests:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_tst_prtest/2302/console

[2016-03-24 22:59] JonHanna commented on #7230
Yep. It's not a bug, but you've certainly found scope for improvement. If you want to take the task of flipping the lines, please do, as I won't be able to submit a PR until at least tomorrow.

[2016-03-24 23:23] GSPP commented on #7230
Uh, I don't have anything set up. I actually planned to submit some spelling corrections as my first pull request some time. But right now this is not on my mind/agenda so I'll pass on the opportunity. Thanks!

[2016-03-25 00:21] leemgs commented on #7205
@jkotas , Thanks. This information is very helpful to me. :+1:

[2016-03-25 01:15] miguellira opened #7239 "EntryPointNotFoundException: Unable to find an entry point named 'SystemNative_RealPath' in DLL 'System.Native'."
This may be the wrong repo but since I found "SystemNative_RealPath" [in this file](https://github.com/dotnet/corefx/blob/d091dd59b943e0024e92a1df9280bf192932ec7b/src/Common/src/Interop/Unix/System.Native/Interop.RealPath.cs) I figured I'd start here.

After installing the latest `dotnet cli` on OS X:
[code]
I modified the latest sample MVC app: https://github.com/aspnet/cli-samples/tree/master/He

[2016-03-25 01:29] #5452 closed

[2016-03-25 02:21] ellismg commented on #7239
Can you share out your project.lock.json file?  This is usually indicative of some old package getting pulled into the package graph, causing nuget to restore a very old copy of a file.

[2016-03-25 02:44] stephentoub commented on #2011
There are ~10 tests disabled with this issue number.  If they're still failing, they should be investigated, and if they're passing, they should be re-enabled.

[2016-03-25 02:45] stephentoub commented on #3215
Several tests are deactivated with this issue number.  If they're fixed, the [ActiveIssue] should be removed, otherwise they should be investigated.

[2016-03-25 02:58] stephentoub commented on #3883
@JonHanna, there are still two tests marked as ```[ActiveIssue(3883)]```.  Can they be re-enabled?  Should their number be changed if they're still failing?

[2016-03-25 03:06] stephentoub commented on #1050
This was silly... we haven't seen it happen because the test has been deactivated.  If we believe the issue is fixed, we should remove the [ActiveIssue].

[2016-03-25 03:26] davmason commented on #4871
I have a change that enables the Linux tests. I am going to open a pull request soon to enable all the tests on Linux and fix a couple issues. There are a few places where the etw implementation wasn't properly ifdefed out and it can cause null references like you mention above.

[2016-03-25 04:08] miguellira commented on #7239
@ellismg Since posting the issue I've done many changes in the hopes that I get this to run. Including:

1) Re-running the OS X CLI installer which coincidently states is version `1.0.0-beta-001998` yet running `donet --version` still outputs:
[code]

NOTE: the path `/usr/local/share/dotnet/sdk/1.0.0-beta-001998` does exist.

2) Added `https://dotnet.myget.org/F/dotnet-core/api/v3/index.json` to t

[2016-03-25 04:13] miguellira commented on #7239
@ellismg Uh, oh, I just ran `dotnet build` and `dotnet run` and got the following error:
[code]
Why a `Microsoft.Win32.Registry` reference would pop up on OS X is beyond me.

Ugh, is there some proper way to **nuke** my current version of dotnet CLI, clear caches, etc. and just start over?

[2016-03-25 04:45] ellismg commented on #7239
@blackdwarf @mellinoe What's the correct way to blow away the CLI after it's been installed via the PKG?

Looking at this everything seems fine to me.  The System.Native that is getting pulled in should have the exports that are expected.  Maybe you could verify their existence with `nm -gU <path-to-system.native.dylib>`?

@ericstj Anything jump out at you as weird about this?

[2016-03-25 05:01] miguellira commented on #7239
@ellismg The readme links off to a site suggesting the use of `pkgutil` to identify and clean out the pkg installation files/folders but I'm hestitant to sudo wipe the `/usr/local/share/dotnet/` folder unless that's the best approach.

Is there a way to clear out the dotnet CLI  cache similar to how one would simply wipe `~/.dnx/packages/` for DNX?

Anyway, here's the output from `nm -gU /usr/loca

[2016-03-25 05:17] ellismg commented on #7239
Looking at the lock file a little more as well as when that export was introduced, I think the problem is that the version of System.Native that is restored via nuget is older than the version of System.FileSystem.Watcher.  This export was added recently and so it's throwing things off.

You might try updating the version of NETStandard.Library in the project.json file to `"NETStandard.Library": "

[2016-03-25 05:28] miguellira commented on #7239
@ellismg Thanks for being so responsive. I updated the version to the more restrictive `rc2-*` you suggested and now I'm back to the `System.EntryPointNotFoundException`.

[code]

Maybe it's best just to wait for another drop CLI drop.

[2016-03-25 06:09] davidfowl commented on #6476
e.g If we allow this, any libraries that you reference can just override your provide without any advanced agreement or notification. This will be hard to debug and find out which libraries override the value.

Making it impossible though seems a bit restrictive. There's a thin line between trying to protect users from the scenarios "you can think will be confusing" and scenarios "you didn't antic

[2016-03-25 07:02] blackdwarf commented on #7239
@miguellira @ellismg there is no way other than the one that was specified in the known issues document. This is a thing with PKGs unfortunately. However, if you want to just blow away your package cache, you can do that by nuking `~/.nuget/packages` which is the default location.

[2016-03-25 07:24] davidfowl commented on #4343
The packages are the data. We could go further and index on a per API basis like packagesearch does.

/cc @glennc

[2016-03-25 07:31] davidfowl commented on #1370
Just catching back up on this thread and it seems like we might have enough pieces to throw something together.

[2016-03-25 11:49] miguellira commented on #7239
@blackdwarf Thanks. So I took the plunge and in short, I resolved some issues and found some new ones. For those who care to follow along...

Ran through the manual `pkgutil` removal process outlined in the read me and removed the following four packages:
[code]

I then reinstalled the latest dotnet CLI for OSX (which appers to be behind all the others) and it now shows the proper version:
[code]

[2016-03-25 12:11] #5462 closed

[2016-03-25 12:28] JonHanna commented on #3883
Their number should be changed.

[2016-03-25 12:59] stephentoub commented on #4871
Thanks, @davmason.

[2016-03-25 13:03] stephentoub commented on #7197
Thanks, @bjjones.  That sounds like a fairly plausible explanation.  What did the Intel-Zlib developer say about that?  If that's the case, and DEBUG really isn't meant to be set in debug builds, the fix would just be to not set it.

[2016-03-25 13:39] stephentoub commented on #7224
System.IO.FileSystem.Watcher.Tests:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/2412/console

[2016-03-25 13:41] stephentoub opened #7244 "TestSendAsync_DelayedConsume test failed in CI"
[code]

[2016-03-25 14:05] raptaml commented on #4579
same here with "System.Data.SqlClient": "4.0.0-beta-23516" on ubuntu 14.04 after "dnu restore --runtime ubuntu.14.04-x64" and "dnu publish"

[2016-03-25 14:11] ericstj commented on #4343
I have the entire table encoded in the package source I just need to emit it in a friendly fashion.  I was thinking to do two things: emit to the package description as well as a separate data file.  Separate data file could be used to generate table in docs.

[2016-03-25 14:22] blackdwarf commented on #7239
@miguellira those seem like bugs that should indeed be resolved with latest (once it catches up). A ot of stuff going in these days...

[2016-03-25 14:26] miguellira commented on #7239
@blackdwarf Yep. Thanks for feedback nonetheless.

Curiously, I was just reading your post regarding templating with `dotnet new` (https://github.com/dotnet/cli/issues/2052) and looking through @DamianEdwards dotnet-new2 spike.

Guess this approach will trump `yo` and any related generators.

[2016-03-25 14:27] blackdwarf commented on #7239
@miguellira "trump"? ;) It will be good, yes. The idea is that you get a nice tool for getting started in the core package.

[2016-03-25 14:28] blackdwarf commented on #4343
@ericstj that would be **really cool**. +100000 to doing it.

[2016-03-25 14:28] stephentoub commented on #3630
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_windows_nt_debug_prtest/35/consoleFull

[2016-03-25 14:30] stephentoub commented on #1303
I re-enabled the test, and it reproed in the very next outerloop run:
[code]

[2016-03-25 14:31] stephentoub commented on #1303
Is this related to https://github.com/dotnet/corefx/pull/6981?

[2016-03-25 14:45] miguellira commented on #7239
@blackdwarf Ha. "Make dotnet great again".

Thanks again for the help.

[2016-03-25 14:58] kkurni commented on #4579
this will be fixed in rc2. i notice that you are still using beta or rc1. try to upgrade to rc2.

[2016-03-25 15:30] bjjones commented on #7197
No response from the developer yet, I'll report back here when I get it.

[2016-03-25 16:08] ericstj commented on #7239
Looked at the lock file, I see the following:
[code]
So even though libraries requested a higher version of the shim they got a lower version.  Root cause here was the reversioning of NETStandard.Library. /cc @weshaggard   Project brought in
[code]
However the version has been changed to 1.5.0.  So this was picking up the last build of NETStandard.Library (rc2-23909) where all the other packages w

[2016-03-25 16:46] ericstj opened #7248 "System.Net.Http is missing RID for Unix build"
Looks like this was regressed with https://github.com/dotnet/corefx/commit/be08afd9701053f5f9369762db58b87c8ca9559f which changed the library to build as "Unix" instead of "Linux" but didn't update the PackageTargetRuntime conditions in the CSProj.

[2016-03-25 16:55] ericstj commented on #7248
This ends up treating the unix build of System.Net.Http.dll as an x-plat fallback, so if someone were to resolve for "win" rather than "win7" they'd get this.  @pakrym found this due to a bug in corehost where it was preferring the RID-less asset and choosing this on all Windows restores.

[2016-03-25 16:56] ericstj commented on #7248
I did a scan of all nuspecs and this is the only project I found with this problem.

[2016-03-25 17:18] pallavit commented on #6223
I tried to repro this issue using the same commands that run in Jenkins for outer loop testing on win10 rtm machine -

But all the System.Console.Tests passed. @Priya91 What is the best way to disable a test only on windows10 and only on outerloop runs? I will keep this bug open under the rtm milestone, however it would be best to disable the test for now to keep the ci clean.

[2016-03-25 17:31] joshfree commented on #7193
@tushargupta51 @brentschmaltz

[2016-03-25 17:59] chcosta commented on #7206
I'm not familiar with this package or even how/where it gets published from.  I think @vancem was working on this.

[2016-03-25 18:00] Priya91 commented on #6223
@pallavit Consider using ```ConditionalFact```, you'll have to define a property/method that is true for Windows10, and then pass the property/method name to the ```ConditionalFact``` argument.

[2016-03-25 18:03] iskandersierra opened #7250 "System.Buffers.ArrayPool.Rent does not accept capacity == 0"
I'm writing a "new" implementation of MemoryStream based on ArrayPool<byte>.
The problem is that current implementation of System.IO.MemoryStream allows capacity zero, and current implementation of System.Buffers.ArrayPool.Rent rejects capacity zero. But I do not see any impediment on Rent accepting zero as argument.  After all you can do new byte[0].
Two possible implementations:
* Return a singl

[2016-03-25 18:28] #7244 closed

[2016-03-25 18:40] #5805 closed

[2016-03-25 18:53] #7197 closed

[2016-03-25 19:43] stephentoub opened #7252 "AssemblyLoadContextTest tests failing on Unix in outerloop"
I assume this is the same problem as with https://github.com/dotnet/corefx/issues/7125 and is due to https://github.com/Microsoft/msbuild/issues/541, but unless we're going to pick up a new msbuild imminently, we should temporarily change this to avoid breaking the outerloop runs.
cc: @mellinoe, @gkhanna79
[code]

[2016-03-25 19:52] stephentoub commented on #6255
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/4014/consoleFull
[code]

[2016-03-25 20:11] #7230 closed

[2016-03-25 20:26] #3620 closed

[2016-03-25 20:54] GSPP opened #7254 "Shutting down a Socket should not set it to disconnected"
[Calling `Shutdown` on a `Socket` will cause it to become disconnected](https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs#L4212) which is incorrect. This can cause, for example, `TcpClient.GetStream` to fail on a half-open socket.

[2016-03-25 20:59] davidsh commented on #7254
What OS platform are you reproducing this bug?  Windows and/or *Nix?

[2016-03-25 21:15] stephentoub commented on #7254
He's referring to code that's shared between them:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs#L4212
and in the full framework:
http://referencesource.microsoft.com/#System/net/System/Net/Sockets/Socket.cs,5681

[2016-03-25 21:24] vancem commented on #7206
@davmason  who owns EventSource.

However you should not use Microsoft.Tracing.Tracing.EventSource with CoreCLR.   System.Diagnostics.Tracing.EventSource exists in the CoreFX framework (its references assembly is System.Diagnostics.Tracing.dl).  You should be using that.

[2016-03-25 21:32] davidsh commented on #7254
So, this is not a bug, but a request for a behavior change to how the current `Shutdown` method works on a `Socket`.  We would have to investigate that since it could break a lot apps that depend on the current behavior.  it might be better long term to have another overload for `Shutdown` that has the different (new) behavior. That would require an API contract revision.

[2016-03-25 21:42] GSPP commented on #7254
Some guy ran into this: http://stackoverflow.com/questions/36226535/half-closing-tcpclient I thought I'd report it.

I kind of doubt that someone depends on an exception being thrown here or on `Connected` returning false. This kind of problem is usually found during development because it seemingly breaks an otherwise working connection.

And people shove their code around until they have worked

[2016-03-25 21:46] #6240 closed

[2016-03-25 21:47] GSPP commented on #7254
Another question is whether `GetStream` should perform this check at all. Ideally, it would not and simply hand out the stream. The check does not accomplish anything since the condition can immediately become false right after checking. Also, this is a violation of separation of responsibilities. Again, I think nobody would depend on this behavior since a stream that is obtained through `GetStrea

[2016-03-25 21:51] iskandersierra commented on #5598
Please include MemoryStream in this changes. Although due to some internal performance stuff and more public ones like GetBuffer, I think it would be better to create a new PooledMemoryStream which uses an ArrayPool<byte> to get access to byte buffers.

[2016-03-25 21:59] davidsh commented on #7254
cc: @CIPop

[2016-03-25 22:05] #7248 closed

[2016-03-25 22:32] stephentoub commented on #7224
System.Linq.Parallel.Tests:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/2428/console

[2016-03-25 22:59] davmason commented on #7206
Do you own SymbioticORM? The issue here is that all the platform/targeting stuff in dotnet core just changed from dnx to dotnet tools and it appears that the nuget package of eventsource doesn't automatically support the new version.

As Vance mentions, there is no reason to use the nuget package on .net core. System.Diagnostics.Tracing.EventSource is as up to date (and sometimes even newer) than

[2016-03-25 23:02] #1303 closed

[2016-03-25 23:15] benaadams commented on #7250
@iskandersierra if this was supported, you'd probably want to something more like

[code]

[2016-03-25 23:38] weshaggard opened #7261 "Make builds deterministic"
We need to enable `/deterministic` flag for the compiler and work through any other tools that cause the builds to not be deterministic.

See https://github.com/dotnet/roslyn/blob/master/build/scripts/test-determinism.ps1 for how Roslyn tests this.

[2016-03-26 00:29] eschneider999 commented on #7206
Ok, wasn't sure which to use

-----Original Message-----
From: "David Mason" <notifications@github.com>
Sent: ‎3/‎25/‎2016 6:00 PM
To: "dotnet/corefx" <corefx@noreply.github.com>
Cc: "eschneider999" <eric.github@frozenelephant.com>
Subject: Re: [corefx] Install fails for Microsoft.Diagnostics.Tracing.EventSource (#7206)

Do you own SymbioticORM? The issue here is that all the platform/targeting st

[2016-03-26 02:54] stephentoub commented on #7096
@mmitche, here's an example on Windows 7:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win7_release/124/consoleFull

[2016-03-26 02:56] stephentoub opened #7264 "ServiceControllerTests.PauseAndContinue test failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win10_debug/142/consoleFull
[code]

[2016-03-26 05:31] eschneider999 commented on #7206
Yes, I own Symbiotic ORM. So do I need to update my package explorer?

Curious; what tools do you guys use to create packages?

Cool, so I don’t need the lib then…

Thanks,

Eric

From: David Mason [mailto:notifications@github.com]
Sent: Friday, March 25, 2016 6:01 PM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: eschneider999 <eric.github@frozenelephant.com>
Subject: Re: [corefx] Install fail

[2016-03-26 09:21] leemgs opened #7267 "Regression happened when run cross-build for Linux/ARM32"
Yesterday, We changed the commit number of coreCLR with the  latest commit number that is merged on 25-Mar-2016. Oops. We have again been getting the build-break of CoreCLR with cross-build since 2016.06.18. Actually,  the existing CI system (e.g. http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/arm_cross_release_ubuntu/) does not handle completely the build errors  of CoreCLR with

[2016-03-26 09:28] leemgs commented on #7267
Actually, the above issue is always reproduced if the not-stripped native files are in the different format that  build machine (running objcopy command) uses.

[2016-03-26 12:36] JonHanna commented on #7250
Returning it could just be a nop, too.

[2016-03-26 12:48] leemgs commented on #7267
Moved to github.com/dotnet/coreclr/

[2016-03-26 14:25] ericstj commented on #4343
I'll make the packages emit a data file with supported platforms and pointers to the assemblies for that platform.   As a start I'll used this to generate the table.  I don't think I can tackle generating the API docs yet, but there will be a good structured input file for doing this.

[2016-03-26 14:30] blackdwarf commented on #4343
@ericstj is this something we could use docfx for? The API generation I mean?

[2016-03-26 14:33] vindicatorr opened #7270 "Archlinux 7 Failed Test Results"
[code]

[code]

[code]

[code]

[code]

[code]

[code]

I only counted 6? Basically only grepping the sections between "Running tests in".

[2016-03-26 17:34] drieseng opened #7274 "Type forwarding for same type defined in both System.Runtime.Interop and *.PInvoke assembly"
Currently, type forwarding is defined for (for example, but not limited to) the **System.Runtime.InteropServices.GuidAttribute** type in both the **System.Runtime.InteropServices.PInvoke** and the **System.Runtime.InteropServices** assembly.

The nuget packages for these assemblies are listed as dependencies of the **Microsoft.NETCore** package in the latest build (5.0.1-rc3-23925-00):

[code]

Th

[2016-03-26 19:03] jlennox opened #7276 "Socket.SendAsync NetEventSource calls Enter twice instead of Exit."
`public bool SendAsync(SocketAsyncEventArgs e)
        {
            bool retval;

            if (s_loggingEnabled)
            {
                NetEventSource.Enter(NetEventSource.ComponentType.Socket, this, "SendAsync", "");
            }

            // ...

            if (s_loggingEnabled)
            {
                NetEventSource.Enter(NetEventSource.ComponentType.Socket, this, "SendAsy

[2016-03-26 23:41] nettsundere opened #7280 "Inconsistent bounds checking for CopyTo operations (Standard collections, Generics and Specialized)"
Consider the following example (trying to copy an empty dictionary to 1-sized buffer starting from index 1, 1 is out of bounds, no exceptions been thrown)

[code]

Now we change CopyTo arguments (1 -> 2), this code will throw an exception (ArgumentOutOfRangeException)

[code]
Now, instead of changing CopyTo arguments, add an element to the dictionary. We will receive an exception of type ArgumentE

[2016-03-27 01:23] stephentoub opened #7281 "ServiceControllerTests.ControlCapabilities failed in CI on Win7"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win7_debug/136/consoleFull
[code]

[2016-03-27 12:03] galkinvv opened #7284 "Misleading ADP_OpenReaderExists exception message on MARS-disabled Sql Connection when incorrectly doing parallel requests"
I've discovered the issue using ordinary .net4.5 on Windows but further investigating shows that it is related to code that now is in the .net Core

While simultaneousely (incrorrcetly) using single SqlConnection with Multiple Active Result Sets  (MARS) disabled an exception with text
[code]
Note that text mentions same "Command" but in reality the resource taht is wrongly shared is not command bu

[2016-03-27 12:06] JonHanna commented on #7280
This is treating the array as a half-open range, in which case it's valid to refer to one more than the last index, as long as one doesn't read from or write to said index. As such copying zero elements to that index is correct.
This would be very common in C++, including with the STL, and C++ is one of the first languages to (through a variant) support creation of assemblies, so being consistent

[2016-03-27 12:07] galkinvv commented on #7284
I think that problem raises quite commonly: see comments below this post: (**not** the post itself!) https://blogs.msdn.microsoft.com/spike/2009/08/20/there-is-already-an-open-datareader-associated-with-this-command-which-must-be-closed-first-explained/