[2017-07-08 00:30] lextm commented on #21995
@davidsh Nope. It does not reproduce if I use the same code in a .NET Framework 4.7 console application on Windows 10.

[2017-07-08 01:03] tarekgh commented on #21213
I cannot repro this locally and I am seeing the test is passing in the recent runs

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170708.01/workItem/System.Collections.Tests

I am closing it and feel free to re-open if we get the failure again.

[2017-07-08 01:03] #21213 closed

[2017-07-08 01:27] #21102 closed

[2017-07-08 02:00] davidsh opened #21999 "RemoteExecutorTestBase can't be used with Theory tests"
While working on a PR, I needed to use RemoteInvoke to isolate some tests to run in their process. The tests were using ConditionalTheory.

After modifying the test with RemoteInvoke, it threw exceptions:

[code]

[2017-07-08 02:00] davidsh commented on #21999
cc: @tarekgh @stephentoub @danmosemsft

[2017-07-08 02:06] jkotas commented on #21899
`Span<char>` is very much like array. `char[].ToString()` does not return the content as a string either.

[2017-07-08 02:33] stephentoub commented on #21999
@davidsh, this has nothing to do with [Theory].  The lambda passed to RemoteInvoke can't capture anything, and this error is telling you that you were capturing two locals/fields, expectedErrors and url.  You need to pass them as string arguments to RemoteInvoke, and they'll be passed in as string arguments to the lambdas, e.g. https://github.com/dotnet/corefx/blob/232f48884efed22d228ae4a9450b37fb

[2017-07-08 02:35] #21999 closed

[2017-07-08 02:36] davidsh commented on #21999
Ok. Thanks. I will try that out and revise my PR.

[2017-07-08 02:46] davidsh commented on #21999
@stephentoub
Dumb question:  why are the parameter orderings reversed? I.e. the 'input' and 'output' parameters are swapped in ordering?

[code]

[2017-07-08 03:08] stephentoub commented on #21999
They're not actually reversed... the first arg maps to the first arg, the second to the second.  This particular example though swaps the names because from the perspective of the remote process, what's the output of the first process is the input to the second process, and what's the input to the first process is the output from the second process.

[2017-07-08 03:55] stephentoub commented on #21995
I believe this was already fixed (I think in https://github.com/dotnet/corefx/pull/17237).  Can you try .NET Core 2.0?  With your repro, I get the exception on 1.1 but not on 2.0.

[2017-07-08 04:23] stephentoub commented on #21934
cc: @ianhays, @JeremyKuhne

[2017-07-08 04:25] #21899 closed

[2017-07-08 04:55] #21925 closed

[2017-07-08 06:10] KostaVlev commented on #20711
I have a little trouble here need somebody to confirm the following is correct.

The test method I wrote:

         public static IEnumerable<object[]> CopyData_StartEndIndexesOutOfRange_TestData()
        {
            yield return new object[] { new PointF[3], new byte[3], -1, 2 };
            yield return new object[] { new PointF[3], new byte[3], int.MinValue, 2 };
            yield return new

[2017-07-08 07:33] flq commented on #21976
@ygc369  fair enough, but you have to understand Marc as well. Asking a 2D library to implement 3D features is _pretty_ close to trolling.  I am not sure how long you have been doing software development but if you do this any amount of time you would try to keep your sanity by having a razor-sharp focus on what features you want to provide with your software and what is out of scope and belongs s

[2017-07-08 09:24] norek commented on #20711
@mellinoe @hughbe I need to suspend my work for 3-4 weeks ;( untill I'll buy new computer.

[2017-07-08 12:52] #21991 closed

[2017-07-08 13:04] cydhaselton commented on #21503
Polite re-ping to @mellinoe, @jkotas, @Petermarcu  and @ericstj.  Specifically I'd like to know if the build error I encountered is due to a) incorrectly modified corefx sources or b) an external dependency that was not found…so that I know where to focus my efforts.

[2017-07-08 13:46] jkotas commented on #21503
The project under corefx/external/runtime downloads NuGet package with the CoreCLR to build CoreFX against. It fetches it from https://dotnet.myget.org/gallery/dotnet-core NuGet feed by default. There is no Android CoreCLR package published in this feed today, and that's why you are  getting this error.

Here are some options that you can use to make progress:
- Override the Android build to use r

[2017-07-08 14:58] RandyBuchholz commented on #18452
Added a workaround to https://github.com/aspnet/Tooling/issues/1051

[2017-07-08 15:15] lextm commented on #21995
Thanks @stephentoub .

I revised the sample as attached.
[SocketAsyncClose2.zip](https://github.com/dotnet/corefx/files/1133022/SocketAsyncClose2.zip)

**.NET Framework 4.7 on Windows 10**
The output can be used as baseline,
[code]
**.NET Core on macOS**
It gives exactly the same result like .NET Framework on Windows 10.

The .NET Core builds I tested are,

- 1.0.5
- 1.1.2
- 2.0 preview 2

**.NET

[2017-07-08 16:24] davidsh commented on #21963
@nchikanov Thx for the bug report.  The Jenkins/Helix system doesn't seem to be giving me back information (the webpage is hanging).  Can you paste into this issue some more information?  We need to know especially the type of OS run this was (Windows or Linux) and specifically what kind of Windows OS run (UAP, NETFX, netcore, etc.).

The ServicePointManager class is a no-op for netcore. So, I wou

[2017-07-08 16:28] davidsh commented on #21914
cc: @Diego-Perez-Botero If you have time, can you look at this call stack / Windbg information above and provide any thoughts about it? Thx.

[2017-07-08 17:00] am11 commented on #20558
Should this proposal be considered in conjunction with the upcoming System.IO.Pipeline: https://github.com/dotnet/corefxlab/blob/091d12e/docs/specs/pipelines-io.md?

There seems to be compression APIs in place based on pipelines as well, under System.IO.Pipelines.Compression namespace: https://github.com/dotnet/corefxlab/tree/091d12e/src/System.IO.Pipelines.Compression

[2017-07-08 17:53] #21945 closed

[2017-07-08 17:54] Diego-Perez-Botero commented on #21914
This looks suspiciously similar to the callstack that I fixed as part of #21600.

@caesar1995 - does your clone contain that fix?

[2017-07-09 01:19] stephentoub commented on #21995
Thanks, @lextm.

It looks like the bug is actually still there.  I see the problem and am looking at a fix.

But your repro also has a bug in it.  ReceiveMessageFromAsync may complete synchronously, but your code isn't handling that case, which is why you're seeing a hang.

[2017-07-09 01:23] iboxdb opened #22011 "About FileShare.Read behavior?"
Create two Write FileStream with **FileShare.Read**, but have no exception.

[code]

[code]

[code]

What expected.
[code]

[EDIT] by karelz - fixed formatting of code & log blocks

[2017-07-09 03:22] lextm commented on #21995
Thank you @stephentoub for the tip.

[SocketAsyncClose3.zip](https://github.com/dotnet/corefx/files/1133522/SocketAsyncClose3.zip)

I revised the sample project again to include sync receive handling, and then the output for different scenarios become clearer.

For scenarios not affected by this bug, the output is generally the same,
* .NET Framework 4.7 on Windows 10
* .NET Core on macOS
[code]
T

[2017-07-09 04:24] stephentoub commented on #22011
While not ideal, this is by design due to limitations of what support the OS provides, where essentially we only have the ability to specify a shared lock or an exclusive lock, rather than the fine-grainedness of control one has on Windows and which is exposed from FileShare.  You can see this detailed in the comment here:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/IO

[2017-07-09 06:15] karelz commented on #21533
Not needed anymore in CoreFX repo ... the main discussion is in the issue above.

[2017-07-09 06:15] #21533 closed

[2017-07-09 06:28] mikedn opened #22014 "Race in NamedPipeClientStream.TryConnect leads to unexpected exception"
The Windows version of [`TryConnect`](https://github.com/dotnet/corefx/blob/master/src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeClientStream.Windows.cs#L25) first calls `WaitNamedPipe` and if it returns "file not found" it tries again until the timeout expires. If `WaitNamedPipe` succeeds then the code calls `CreateNamedPipeClient` (`CreateFile`) and if that returns any error other than "pipe

[2017-07-09 06:28] karelz commented on #20558
It is currently unclear if `System.IO.Pipeline` will make it into CoreFX or not. There are still active discussions around that. It may just sit on top of CoreFX.
If there are Compression investments in the Pipelines space, I would hope they are considered to be done in lower layers (`System.IO.Compression`) first, so that more people/apps can benefit from the investments. @joshfree @KrzysztofCwal

[2017-07-09 06:29] mikedn commented on #22014
Sample repro:
[code]

[2017-07-09 06:37] karelz commented on #21881
@pjanotti can you please help me track down where this fix went? Did it get into 2.0 branch? (Dan and Kount are both OOF sadly)
Thanks!

[2017-07-09 07:55] divega commented on #8955
@karelz @danmosemsft @saurabh500 @corivera I think we should remove the "needs-more-info" label and add "up-for-grabs". This sounds like a good idea to at least explore.

@roji it would be great if you could do some prototyping of this in Npgsql if you haven't already. I suspect it should be possible to do enough to asses the API and make some measurements of the impact without making the actual c

[2017-07-09 08:50] karelz commented on #8955
@divega sounds good to me - feel free to make such labels changes yourself, as area expert/owner :)

When you mark things "up for grabs", just please try to describe what is needed (next steps) & rough complexity / time investment - see [triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified) for details. Thanks!

[2017-07-09 10:21] KostaVlev commented on #20711
Because `GraphicsPathIterator` was short and I got it done. I started to work on `PathGradientBrush`. Then I ran into weird behavior of the `SetSigmaBellShape()` method and I need help.

The test method I wrote:

        [ConditionalTheory(nameof(PlatformDetection) + "." + nameof(PlatformDetection.IsNotWindowsNanoServer))]
        [InlineData(1f, 1f)]
        [InlineData(0f, 1f)]
        [InlineDa

[2017-07-09 10:23] jahmai commented on #21796
@davidsh I've attached the repro.

[2017-07-09 11:18] ViktorHofer opened #22016 "EqualityComparer binary serialization test failures on uapaot"
An EqualityComparer test which uses byte as the generic argument is currently failing on uapaot.

[code]

coreclr serializes `EqualityComparer<byte>.Default`, corert to `System.Collections.Generic.GenericEqualityComparer1[[System.Byte, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]`: https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/C

[2017-07-09 12:02] svick commented on #22011
@stephentoub Should this be documented in the API reference (either for [`FileShare`](https://docs.microsoft.com/en-us/dotnet/api/system.io.fileshare?view=netcore-2.0), the relevant [`FileStream` constructors](https://docs.microsoft.com/en-us/dotnet/api/system.io.filestream.-ctor?view=netcore-2.0) or both), not just in the source code?

[2017-07-09 13:41] stephentoub commented on #22011
Probably. There are a bunch of places where platform differences result in subtle behavioral differences, and they should ideally all be catalogued.

[2017-07-09 14:09] remcoros commented on #21961
It's not just on 2.0.0

Looks like one of the cases is hit when using 'XmlNamespaceDeclarationsAttribute'. I just tested this on netcoreapp1.1 with System.Xml.XmlSerializer 4.0.11 and 4.3.0

I'm actually a bit surprised this hasn't been caught by others earlier in netcore 1, it's a simple use-case.

[code]

[code]

[2017-07-09 15:17] HaloFour commented on #16567
What is the status of this proposal?

@terrajobst

I don't think you could without adding more overloads to accept the generic type arguments.  Otherwise I don't see how you could disambiguate between generic methods that happened to accept the same parameter types, or even how you'd negotiate those parameter types.

It'd certainly be possible to add methods that didn't happen to have the name `Ge

[2017-07-09 15:39] JustArchi commented on #8951
Yet another bump to this, preview2 doesn't work OOB and depends on oldstable libcurl. Can we do anything with that? Stretch went stable a while ago and not supporting it without workarounds feel wrong.

[2017-07-09 18:05] caesar1995 commented on #21914
I will update my local clone and re-run the tests.

[2017-07-09 19:37] AntonLapounov commented on #21986
Fixed in ProjectN build 25510.

[2017-07-09 19:47] ViktorHofer opened #22019 "System.Drawing.Tests.FontTests failing locally on master"
These tests are failing locally on my machine (Windows 10 Fall Creators Update, 16232.1004):

[code]

[2017-07-09 19:47] ViktorHofer commented on #22019
cc @mellinoe @hughbe

[2017-07-09 19:54] supporterPL commented on #16649
@karelz i've just created PR (#22020). Please look if it is ok for you. Thanks.

[2017-07-09 20:06] cydhaselton commented on #21503
Thanks @jkotas
As part [this issue](https://github.com/dotnet/core-setup/issues/1651) I'll need to know the process of getting Android CoreCLR packages published to the dotnet-core feed if appropriate.  I have the following related questions:

1.  Is there documentation for the process of getting packages published to the dotnet-core feed.
2. If not does the following look about right?

- Enable C

[2017-07-09 20:12] Petermarcu commented on #21503
/cc @weshaggard

Yes, in the current infrastructure, it would be to update the pipeline build to do an android leg. That build is the one that builds packages that go to myget. The CI builds wouldn't publish packages.

[2017-07-09 20:21] davidsh opened #22021 "Crash in loopback server using ssl and client certificates during HttpClient testing"
While working on a PR to implement HttpClientHandler.ClientCertificates for UAP, I discovered a crash in the loopback server. It doesn't seem to crash for non-UAP scenarios.

[code]

[2017-07-09 20:34] davidsh commented on #21796
Thanks!  We'll take the information and create a .NET Framework bug report from it.

[2017-07-09 23:06] pjanotti commented on #21881
@karelz yes, it got to 2.0, see (a04e7481533c20054ad5a5e2d16d6712c60c40d7)[https://github.com/dotnet/corefx/commit/a04e7481533c20054ad5a5e2d16d6712c60c40d7]

[2017-07-10 01:23] #21927 closed

[2017-07-10 01:23] #21923 closed

[2017-07-10 01:23] #21917 closed

[2017-07-10 01:32] hughbe commented on #20711
@KostaVlev interesting.

This looks like an area where Wine doesn't have the same argument validation as GDI+ on Windows. It sounds like a Wine bug. GDI+ on Windows is the de-facto standard we should be validate our tests against, so if GDI+ on Windows gives a result that Wine/libgdiplus doesn't have, then that' going to be a bug in those open source implementations.

FWIW, libgdiplus seems to hav

[2017-07-10 01:33] hughbe opened #22026 "GraphicsPathIterator.CopyData throws EntrypointNotFoundException - does not on netfx"
[code]

This runs fine with netfx. With netcoreapp, an EntrypointNotFoundException is thrown.

[2017-07-10 01:34] hughbe commented on #22026
See #20711 for more context. @KostaVlev @mellinoe cc

[2017-07-10 01:41] hughbe commented on #22026
There are two possible fixes. The first would be to change the entry point of [ZeroMemory](https://github.com/dotnet/corefx/blob/1f055788ff130aacae11fae8c15584beaa7dd3b6/src/System.Drawing.Common/src/System/Drawing/Gdiplus.cs#L3531-L3532) to
[code]

Or, we could avoid the PInvoke and use a managed implementation that `System.Data.Obdc` [uses](https://github.com/dotnet/corefx/blob/e34d49b97f5f638d9

[2017-07-10 01:43] hughbe commented on #20711
I reckon this is another case where Wine and libgdiplus have different behaviour than Windows GDI - it's good to get these tests written to help us start bridging the gaps between the implementations.

I'm not 100% sure I understand what the actual and desired values are in this case - could you expand?

[2017-07-10 03:30] davidsh commented on #19633
This bug is being closed because the test will change as per #21904.

[2017-07-10 03:30] #19633 closed

[2017-07-10 03:33] davidsh commented on #19183
Closing as by-design.  If you would like to raise this as a new design issue/discussion, please contribute to https://github.com/dotnet/designs/issues/9

[2017-07-10 03:33] #19183 closed

[2017-07-10 03:44] davidsh commented on #1624
Now that we have a new repo specificaly for design discussion, please continue the discussion in https://github.com/dotnet/designs/issues/9 or open a new issue in https://github.com/dotnet/designs

Thanks.

[2017-07-10 03:44] #1624 closed

[2017-07-10 03:47] davidsh commented on #4279
Now that we have a new repo specifically for design discussions, please continue the discussion in dotnet/designs#9 or open a new issue in https://github.com/dotnet/designs

[2017-07-10 03:47] #4279 closed

[2017-07-10 05:54] v-haren commented on #17925
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release/3581/testReport/System.Data.SqlClient.Tests/DiagnosticTest/ExecuteScalarTest/

[2017-07-10 05:57] v-haren commented on #20223
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu16.10_debug/103/testReport/System.Net.Sockets.Tests/DnsEndPointTest/Socket_StaticConnectAsync_HostNotFound/

[2017-07-10 06:00] v-haren commented on #19344
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu16.10_release/104/testReport/System.Net.Http.Functional.Tests/DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledLogging/

[2017-07-10 06:46] kronic opened #22030 "xpath concat not working."
[code]
System.Xml.XPath.XPathException: "'/t/concat(a, b)' has an invalid token."

[EDIT] @karelz formatting change - code indentation for easier reading

[2017-07-10 10:32] ysmoradi opened #22032 "Can't install nuget package of library developed by .net 4.7 full on .net core 2 app"
I've a .NET core 2 app and when I add nuget packages of a library which has .NET 4.7 binaries only, I receive following error:

Package XYZ 1.2.3.4 is not compatible with netcoreapp2.0

But when I open %userprofile%\.nuget\packages folder and in "lib" folder of that package, I rename "net47" to "net45". After this small change, everything works fine and apps work properly.
App is using same .net 4

[2017-07-10 11:41] KostaVlev commented on #20711
private readonly PointF[] _defaultFloatPoints = new PointF[2] { new PointF(1, 2), new PointF(20, 30) };

        [ConditionalTheory(nameof(PlatformDetection) + "." + nameof(PlatformDetection.IsNotWindowsNanoServer))]
        [InlineData(1f, 1f)]
        [InlineData(0f, 1f)]
        [InlineData(0.5f, 1f)]
        // The cases below fail, actual scale is always 1.
        //[InlineData(1f, 0f)]

[2017-07-10 12:38] amits1995 commented on #11639
I got a similar problem where I dynamically load an assembly and accessing it's types.
Once I create an instance of that type it throws a FileNotFound exception about a third party nuget.
In my case my library depends on RabbitMQ.Client.

I also don't understand why RabbitMQ.Client.dll is not present in the build output directory of my library?

[2017-07-10 13:10] amits1995 commented on #11639
Making sure your third party dlls exist in the same folder as your dynamically loaded dll seems to fix this.
By default the dependencies are not compiled with your dll so I had to add <CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies> to my csproj file. Sadly it outputs the entire framework dependencies as well.

[2017-07-10 13:11] vcsjones commented on #20325
There was an interesting Twitter discussion about this issue and a topic was brought up that was suggested I post here for clarification.

Microsoft has in the past directed people away from using `System.Drawing` in ASP.NET, going so far as to explicitly state that using `System.Drawing` in ASP.NET [is not a supported use case](https://msdn.microsoft.com/en-us/library/system.drawing(v=vs.110).asp

[2017-07-10 13:12] amits1995 commented on #11639
Sorry, commenting from my phone...
[code]

[2017-07-10 13:15] stephentoub commented on #22030
The error message is correct: the xpath query is invalid. Try either:
- Change `"/t/concat(a, b)"` to `"concat(/a, /b)"`, or
- Change `XElement.Parse` to `XDocument.Parse` and change `"/t/concat(a, b)"` to `"concat(t/a, t/b)"`

[2017-07-10 14:03] kouvel commented on #21777
Most likely need to change the test to not use closed handles, as there is an inherent use-after-free issue with them that could occasionally cause problems. Moved to future.

[2017-07-10 14:19] kronic commented on #22030
@stephentoub Altova XmlSpy 2017 is return valid result.
![2017-07-10_17-14-44](https://user-images.githubusercontent.com/483422/28022384-ae386bd0-6593-11e7-964d-f97b1ecb4f4d.png)

example2
[code]
[code]

[2017-07-10 14:30] AtsushiKan commented on #16567
I'd consider it a gap if there was no correct way to implement the functionality using the current api. (For example, IsSZArray and and GetForwardedTypes() were added to fill such gaps.)

Here, I believe we're talking about convenience methods to solve a common problem. Am I correct? Is there a specific correctness problem we'd be solving here? You mention the fragility problem (in that algorithms

[2017-07-10 15:40] HaloFour commented on #16567
@AtsushiKan

I claim that it's not possible to correctly implement the functionality using the current API.  Overload resolution and best match detection are handled by internal code within `RuntimeType` and `Binder`.  I had to break out reflection to directly invoke the necessary methods.  I don't see exact binding short circuiting that requirement in the framework source so eliminating Binder fr

[2017-07-10 16:01] AtsushiKan commented on #16567
@HaloFour, @terrajobst

My own take is that the proposal would be more attractive without the "best match" part of this (i.e. the part that requires complicated policies to match up when the passed types aren't exact matches.)

The fact is, we don't really want that kind of policy-laden code in the low-level Type class. We made the mistake of adding them in the original framework and are now requi

[2017-07-10 16:08] HaloFour commented on #16567
@AtsushiKan

I am largely fine with that, but as far as I can tell even in that case the code that does the work of interrogating the overloads is still internal to mscorlib (`RuntimeType.FilterApplyMethodBase`).

To me it's more of a minor point but I do think it could cause confusion if the non-generic and generic versions of these methods behaved differently by default.  Given that the code tha

[2017-07-10 16:14] AtsushiKan commented on #16567
The advantage of pruning the scope of the problem to exact overload resolution means we open up the possibility of having these exposed on something like System.Reflection.Extensions which is what I'd prefer to having them as direct instance methods on Type. Exact overload resolution is also a simple enough problem that we don't need to leverage the FilterApplyMethodBase code. It also means we cou

[2017-07-10 16:15] #21954 closed

[2017-07-10 16:15] tarekgh commented on #21954
Issue moved to [dotnet/sdk #1401](https://github.com/dotnet/sdk/issues/1401) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-10 16:29] HaloFour commented on #16567
@AtsushiKan

Understood, and I'm personally fine with this being implemented via extension methods as long as they simplify the problem.  I completely agree that exact binding makes sense for reflecting methods in general.

So, given that I guess it boils down to the following potential overloads:

[code]

Or, if you really want to overload `GetMethod`, you could put the generic type arguments fir

[2017-07-10 16:49] tarekgh commented on #22016
CC @jkotas as he may knows better here.

[2017-07-10 16:51] AtsushiKan commented on #16567
- I think the right naming would GetDeclaredMethod() or GetDeclaredGenericMethod(). The "Declared" is what we used on the TypeInfo methods to signal that we're only considering methods declared on that type (not base types) and that we're not discriminating on visibility/calling convention. I.e. the semantic equivalent of BindingFlags.Public|NonPublic|Instance|Static|DeclaredOnly|ExactBinding.

-

[2017-07-10 16:53] krwq commented on #21850
This has been running whole weekend in a loop, closing as no repro. Please reopen if you see it in any new log

[2017-07-10 16:58] caesar1995 commented on #21914
@Diego-Perez-Botero @davidsh
After merged Diego's fix, the problem goes away.

[2017-07-10 16:58] #21914 closed

[2017-07-10 16:59] swgillespie commented on #21974
This test passes now that the above commit has made it into a ProjectN official build.

[2017-07-10 16:59] #21974 closed

[2017-07-10 16:59] HaloFour commented on #16567
@AtsushiKan

In that case it would make more sense for the extension methods to resolve off of `TypeInfo` rather than `Type`.

It does make sense to use generic arity but how would you resolve overloads based on the parameters in that case?  How would you disambiguate the following two?

[code]

[2017-07-10 17:14] AtsushiKan commented on #16567
No, TypeInfo is a vestigal class. It used to have a meaningful semantic in the .NETCore 1.0 refactoring but since we backed away from that refactoring, it sticks around only for compatibility and we expect it to fade away from consciousness over time.

[code]

Realistically, how would you disambiguate them even with a "genericTypeArgs" array? Sure, the "obvious" answer is to pass the Type objects

[2017-07-10 17:20] safern commented on #21850
It just reproed today :(

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170710.02

[2017-07-10 17:20] HaloFour commented on #16567
@AtsushiKan

But you propose keeping the vestigial convention?  That doesn't make a lot of sense, particularly if you aren't also adding `GetDeclaredMethod` extensions to `Type` proper.  I'd still have to vote for consistency.  But you could call it `Frank` as long as it solved the problem.

Pass types, either concrete or open.  Sure, it mixes concerns, but it gets the job done.  My implementation

[2017-07-10 17:26] ausmurp opened #22038 "WinHttpHandler stops possible chain of handlers"
Very simple (at first glance) fix, please make WinHttpHandler inherit DelegatingHandler instead of HttpMessageHandler, so inner handlers can be passed and chained appropriately.

[2017-07-10 17:30] AntonLapounov commented on #21804
@safern Do you remember how the crash call stack looked like on ARM?  The x86 unwinder issue is fixed in ProjectN build 25510; the ARM failure must be a different issue.

[2017-07-10 17:30] joshfree commented on #20558
Yes, any actual compression investments are being done at a lower level.  For instance one of our summer interns is working on System.IO.Compression.Brotli for a future release in .NET Core @ https://github.com/dotnet/corefxlab/tree/master/src/System.IO.Compression.Brotli.

[2017-07-10 17:31] AtsushiKan commented on #16567
TypeInfo wasn't about adding GetDeclared methods, it was about separating the notion of type references (Type) and type definitions (TypeInfo). The "Declared" naming is orthogonal to that - we don't need to throw it out just because the Type/TypeInfo split wasn't accepted by the developer base.

[2017-07-10 17:31] tijoytom commented on #21986
@AntonLapounov Is this fix still in 25510 , i thought you rolled it back ?

[2017-07-10 17:46] AtsushiKan commented on #16567
Yes, if we wanted to stick to the idea of representing the signature as an array of Types, that's what we'd have to do - introduce a new flavor of Type (two actually, one for type variables and one for method variables) that represents a bare generic parameter position without any reference to its declaring entity.

Just to set realistic expectations, though, that that's an api proposition that's

[2017-07-10 17:47] HaloFour commented on #16567
@AtsushiKan

I'm not entirely sure how to respond to that.  The exact naming of the API is of little concern to me.  I'm more interested in solving the problem.

But I disagree with the notion that the naming is orthogonal between the two.  As a part of the `Type`/`TypeInfo` split you guys decided to go with a different naming convention than what was established and that's perfectly fine.  But if

[2017-07-10 17:48] KostaVlev commented on #20711
I need to clear this situation and I will be pretty much ready and with the `PathGradientBrush` tests.

I simplified the test I wrote:

          private readonly PointF[] _defaultFloatPoints = new PointF[2] { new PointF(1, 2), new PointF(20, 30) };

          public static IEnumerable<object[]> Blend_FactorPositions_TestData()
        {
            yield return new object[] { new float[1] { 1 },

[2017-07-10 17:48] #21995 closed

[2017-07-10 17:48] stephentoub commented on #21995
Fixed in #22012 and #22013.

[2017-07-10 17:59] AtsushiKan commented on #16567
We couldn't use the existing naming convention without a BindingFlags parameter because we already have overloads that do that - except that they default to a different BindingFlags value (Public|Instance|Static or something.)

Yes, this actually sounds ideal.

[2017-07-10 18:03] HaloFour commented on #16567
@AtsushiKan

What reasonable alternatives would there be?  Some surrogate type that can represent both a proper `System.Type` and a generic type argument?  Either way it sounds like an explosive expansion on the potential API surface, but it should only have to be done once.

[2017-07-10 18:18] davidsh commented on #22038
Both HttpClientHandler and WinHttpHandler are base handlers.  They inherit from HttpMessageHandler.

If you need additional handlers on top of those, you need to create your own new handler that is derived from DegatingHandler.  Your new handler logic will be the "outer" handler and then you pass in the HttpClientHandler or WinHttpHandler as the "inner" handler.  The actual HTTP protocol stack its

[2017-07-10 18:23] AntonLapounov commented on #21986
@tijoytom I rolled back the change that broke unwinding on x86.

[2017-07-10 18:25] krwq commented on #21850
I just talked with @joperezr and it seems that this is reproing only on x86 and probably the issue I saw before was unrelated. This seems to be strongly related to resources - this test is frequently changing current culture but for some reason it fails only on x86. @tarekgh could you help investigating this? @joperezr can share the repro

[2017-07-10 18:33] tarekgh commented on #21850
I'll take a look

[2017-07-10 18:35] AtsushiKan commented on #16567
The only other alternative I see is a SignatureType class that represents.. signatures. That would be a clean separation of concerns but I also agree it's a major api expansion that isn't likely to fly. It defeats the convenience for the common case.

The way I see it, we now have two proposals:

1. The relative modest proposal (GetDeclaredMethod-style apis that support filtering on the generic ar

[2017-07-10 18:37] AntonLapounov opened #22040 "System.Linq.Parallel.Tests crashing in UapAot when building in ret mode on ARM"
Forked from #21804.  At present we are forcing chk build in src/System.Linq.Parallel/tests/System.Linq.Parallel.Tests.csproj.

[2017-07-10 18:39] tijoytom commented on #21258
@DnlHarvey This no longer fails , closing this one.

[2017-07-10 18:39] #21258 closed

[2017-07-10 18:40] safern commented on #21804
I didn't see the ARM stack trace as I don't have an ARM machine, perhaps @joperezr could help getting you that trace as he has access to the ARM machines

[2017-07-10 18:45] AntonLapounov commented on #21804
I opened #22040 for ARM and re-enabled x86 ret tests.

[2017-07-10 18:45] #21804 closed

[2017-07-10 18:45] #21986 closed

[2017-07-10 18:49] joperezr opened #22042 "System.Xml.Tests.XmlWriterTestModule.TCFullEndElement failing in uap test runs"
TCFullEndElement has been crashing the execution of tests in all archs for most runs lately. The problem seems to be related to WindowsRuntimeResourceManager. Crash is happening because of an unhandeled System.ArgumentException, here is the callstack:
[code]

cc: @krwq @tarekgh

[2017-07-10 18:49] weshaggard commented on #21537
It wouldn't be the first time we do it but is certainly isn't without costs either (i.e. new assembly which will need to always be deployed, and makes it harder to standardize assuming we want to standardize this API). Can you implement this API cleanly on top of netstandard 2.0 only?

[2017-07-10 18:51] HaloFour commented on #16567
@AtsushiKan

I don't think that proposal 1 is worth considering.  Many of the methods on `System.Linq.Queryable` have overloads with the same generic arity but differing numbers of arguments, e.g. `Queryable.OrderBy`.  In my opinion resolving the methods on `Queryable` are right at the top of the list of common use cases for the purposes of manually constructing expression trees.

[2017-07-10 18:54] stephentoub commented on #21537
Yes and no.  Yes in that it can be done on top of netstandard 2.0.  No in that a) our implementation of other libraries like System.Net.WebSockets.Client that are in .NET Core's standard implementation will need to depend on it, and b) .NET Core-only APIs help to make the implementation more efficient, in particular once #21281 is implemented and we have the Buffer/ValueTask-based APIs related to

[2017-07-10 19:00] AtsushiKan commented on #16567
Proposal 1 includes the overloads with the "Type[] types" for disambiguation on parameter types.

Or are you saying "**Proposal 1 without Proposal 2** won't be any use to you"?

[2017-07-10 19:00] joperezr commented on #22042
#22043 PR that disabled the test

[2017-07-10 19:03] weshaggard commented on #21537
OK if we implemented against the netstandard 2.0 API surface would it work correctly if run on desktop and on core? If so then this could is a reasonable option. Even if the NS2.0 version works on core we can still build a specialized version on core to make it more efficient I just wanted to make sure we aren't making any assumptions in the NS2.0 implementation that would cause it not to work on

[2017-07-10 19:06] stephentoub commented on #21537
Yes, functionally it would be correct.

[2017-07-10 19:08] joperezr commented on #21850
I just logged #22042 which has a bit more info about the failure. Feel free to close that one in favor of this one, but do keep in mind that I have a PR open that has this is the issue that is associated to it.

[2017-07-10 19:12] mellinoe commented on #22019
@hughbe Do you have any time to look at this?

[2017-07-10 19:15] HaloFour commented on #16567
@AtsushiKan

Correct.  I think that without some form of proposal 2 that this API would not be very helpful when working with `System.Linq.Queryable`.  What's worse is that they're often overloaded with other generic container types, e.g.:

[code]

So if the signature must be represented by some kind of surrogate that surrogate will have to deal with such type descriptions.  So would some kind of

[2017-07-10 19:28] weshaggard commented on #21537
OK then we could do it if we felt there was enough meat in the implementation to warrant it being separated.

[2017-07-10 19:30] stephentoub commented on #21537
The "meat" as it were is essentially this file:
https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs

[2017-07-10 19:34] cydhaselton commented on #21503
Thanks @Petermarcu

I believe I know the answer but I'll ask anyway:  Is there any documentation on the process for setting this up for a new OS?  I'm currently running a search in the corefx/coreclr repos then picking through the results...which is tedious.

[2017-07-10 19:41] davidsh opened #22045 "Follow-up feedback from PR #22022"
PR feedback: #22022

Additional items to be done:

- [ ] ~Dispose certificates that are not owned by the caller~

- [x] Stop using the Find() APIs and iterate directly which might be more efficient since it will generate less objects to be finalized. - Done with PR #29766

- [x] Replace GetEligibleClientCertificate() overload with
https://github.com/Microsoft/referencesource/blob/90b323fe52bec428f

[2017-07-10 20:06] mellinoe commented on #20711
@KostaVlev It wasn't clear whether you are describing the behavior of the Windows implementation. That's the only one we are interested in validating -- any divergence from that by the other versions should be treated as a bug on those versions. If the Windows version is actually returning different values like you indicated, then the test needs to be changed (since it is asserting different behav

[2017-07-10 20:10] Foroughi commented on #9357
I get the same error while running this peace of code in a console app

[code]

OS : Ubuntu
Donet Version 1.1

[2017-07-10 20:16] krwq commented on #21850
Closing this issue as a duplicate of https://github.com/dotnet/corefx/issues/22042 which has a stack trace

[2017-07-10 20:16] #21850 closed

[2017-07-10 20:18] krwq commented on #22042
Me and @joperezr looked at the test and test seem to be ok although not necessarily pretty - @tarekgh I believe you are the right person to take a look

[2017-07-10 20:24] AtsushiKan commented on #16567
I see... so the MakeGenericMethod step is not a post-step but a pre-step before applying the parameter type disambiguation - which compares against the substituted types, not the formal types.

A question: to simplify the implementation (so it doesn't have to re-implement constraint checking and so we can eliminate "prospective" generic instantiations which are .Net Native unfriendly), would it be

[2017-07-10 20:28] Petermarcu commented on #21503
@weshaggard @wtgodbe should be able to help give guidance.

[2017-07-10 20:31] AlexanderSher opened #22048 "NetworkInterface.GetIsNetworkAvailable fails with exception that can't be caught"
Reproduced in Bash/WSL on Ubuntu on Windows.

1. Create .Net Core Console App with the following code:
[code]
2. Open bash and execute "dotnet run"

**Actual**
Application crashes with `FileNotFoundException`:
[code]

**Expected**
Console prints either `Available!` or `Unavailable!`

[2017-07-10 20:38] brianrob commented on #21971
Fixed.

[2017-07-10 20:38] #21971 closed

[2017-07-10 20:40] joshfree commented on #22040
@VSadov @stephentoub who should make this fix?

[2017-07-10 20:41] brianrob commented on #21216
Fixed via #21745.

[2017-07-10 20:41] #21216 closed

[2017-07-10 20:41] brianrob commented on #21215
Fixed.

[2017-07-10 20:41] #21215 closed

[2017-07-10 20:42] brianrob commented on #20837
Test disabled for UWP via #21745, since it can't be run on UWP.

[2017-07-10 20:42] #20837 closed

[2017-07-10 20:44] HaloFour commented on #16567
@AtsushiKan

That works well for me.  I've only ever used this implementation on the full framework so I can't speak to how well it plays with .NET Native but eliminating those steps makes sense.

[2017-07-10 20:45] morganbr commented on #22016
@davidwrighton would know for sure, but I believe it's intentional that EqualityComarer<byte>.Default doesn't have a special comparer. If you want to fix the test, you could create ByteEqualityComparer with reflection though.

[2017-07-10 20:46] brianrob commented on #19455
Clearing uwp as this is now fixed on uwp runs.

[2017-07-10 20:47] mellinoe commented on #8951
Could you post a bit more information about your system set-up? I created a Debian 9.0 docker container and was able to run with the latest "Linux x64" bits from https://github.com/dotnet/cli. I have this version of curl and ssl installed:

[code]

I'm able to run `dotnet new`, `dotnet restore`, and `dotnet run` successfully.

I'm using a docker container, so obviously this environment might not m

[2017-07-10 20:47] brianrob commented on #12652
System.Diagnostics.Tracing is now implemented in System.Private.CoreLib.

[2017-07-10 20:47] #12652 closed

[2017-07-10 20:49] mellinoe commented on #8951
@danmosemsft @karelz We might want to re-open this and double-check that things are working as expected. I think it was closed previously because a workaround existed, but we should support this scenario by default with 2.0.

[2017-07-10 20:52] krwq commented on #20948
@sepidehMS stealing this bug since you're OOF today

[2017-07-10 20:52] joshfree commented on #21680
@AtsushiKan can you please load balance this bug please?

[2017-07-10 20:55] caesar1995 commented on #21953
After I clean my local repo and pull from dotnet master.

cc: @CIPop @davidsh @DavidGoll

[2017-07-10 20:56] mellinoe commented on #22026
Yeah, that is pretty odd. The only thing that would make sense is the .NET Framework version isn't hitting that call. I don't see how it could work as-written. We can just replace it with some simpler managed code, although that snippet from System.Data.Odbc is kind of silly in that it allocates a whole temporary array to just clear some memory.

[2017-07-10 21:02] mellinoe commented on #22048
This is because `Interop.Sys.EnumerateInterfaceAddresses` starts a reverse PInvoke call, and everything in the call chain after this must never throw an exception, because they are uncatchable in a reverse PInvoke. It seems that in "Bash on Windows", some expected system files do not exist, which causes an uncatchable `FileNotFoundException`.

These calls need to be made resilient to missing files

[2017-07-10 21:16] danmosemsft commented on #22026
RtlZeroMemory is probably too low level for us to use. Even though WACK may never be relevant to System.Drawing, I bet it is not even in OneCore. I would use

[code]

[2017-07-10 21:20] wtgodbe commented on #21503
There isn't documentation for this, but I would suggest cloning CoreClr's Linux build (https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=851825) and modifying it to run the appropriate commands for your Android build. The current Linux builds run in Docker containers, which may not be applicable for Android - If you already know how to run for Android on top of Lin

[2017-07-10 21:25] fadimounir commented on #21379
Fixed in the N branch.

[2017-07-10 21:32] NikolaosWakem commented on #7812
"The buffers supplied to a function was too small" - I'm getting this many times / day on Azure Production WebAPI .NETCoreApp 1.1 - After I year - I think we need a fix :-D

[2017-07-10 21:32] natemcmaster opened #22049 "Environment.GetFolderPath(SpecialFolder) returns empty string in Nano Server docker containers"
In Windows Nano Server containers, `Environment.GetFolderPath(SpecialFolder folder)` returns an empty string  for many vaules of `Environment.SpecialFolder`, but not all.

## Repro

1. Install Docker for Windows. Make sure to use Windows containers, not Linux containers.
2. Create a project with 3 files, Dockerfile, Program.cs, and specialfolder.csproj (below)
3. Run these commands
[code]
#### Pro

[2017-07-10 21:33] caesar-chen opened #22050 "System.Net.HttpListener HttpListenerRequestTests class takes too long to finish in UAP mode"
After enable all test cases in HttpListenerRequestTests, it takes about 2 minutes to run all tests in this particular class in UAP mode.

We need to mark some test cases in this file as [OuterLoop] to improve test performance.

@davidsh @CIPop

[2017-07-10 21:34] jkotas commented on #21503
@wtgodbe The links you have shared are accessible to Microsoft employees only. @cydhaselton is not Microsoft employee.

@cydhaselton We have been adding the platform to the official "pipeline" build only after the platform became mature enough and generally working and useful. The build machines, storage accounts and other infrastructure for official builds is "closed source" - it is maintained an

[2017-07-10 21:35] davidsh commented on #7812
As discussed above, this is not a bug in .NET layer.  It is a bug in low-level Windows OS.

The fix is to upgrade client machines for Windows 10 Version 1607 or Windows Server 2016.  Also, server machines can be upgraded as well.

[2017-07-10 21:36] NikolaosWakem commented on #7812
Can I specify Windows Server 2016 for Azure Web API's somehow?

[2017-07-10 21:37] davidsh commented on #22050
In general, all networking tests that do send/receive should be marked as Outerloop.

But, also, this needs to be investigated deeper to understand why UAP mode is much slower than .NET Core mode.

[2017-07-10 21:38] davidsh commented on #7812
I don't know.  You might want to follow up with Azure support.

I do know that many customers have been asking for Azure Web Apps to use Windows Server 2016 as the backend.  It currently uses Windows Server 2012.  Customers would like Server 2016 for Web Apps since that version of Windows OS has HTTP/2 support for example.

[2017-07-10 21:39] davidsh commented on #7812
See: https://social.msdn.microsoft.com/Forums/azure/en-US/5b584d52-7907-4058-9324-932a2215ce0d/server-2016-on-app-service?forum=windowsazurewebsitespreview

[2017-07-10 21:45] NikolaosWakem commented on #7812
thanks.. have added comments to that and https://feedback.azure.com/forums/169385-web-apps/suggestions/9552936-enable-http-2-on-azure-web-apps .. fingers crossed :-D

[2017-07-10 21:45] krwq commented on #20948
Giving it back since I was told you're already working on it

[2017-07-10 21:47] safern commented on #21415
@krwq I've fixed CheckExitCode test here: https://github.com/dotnet/corefx/pull/21758

The remaining failing test is: System.Tests.Environment_Exit.ExitCode_VoidMainAppReturnsSetValue

[2017-07-10 21:53] rainersigwald commented on #22049
https://github.com/dotnet/corefx/pull/18443 could possibly be related: it removes a fallback path "not availableon some mincore versions of Windows" -- maybe it was supported on nanoserver and the fallback was necessary for System?

[2017-07-10 21:53] #21953 closed

[2017-07-10 21:53] #11516 closed

[2017-07-10 22:00] JustArchi commented on #8951
`dotnet new`, `dotnet restore` and `dotnet run` indeed crashed previously and no longer do, this is strange, I tried to reproduce segfault with `HttpClient` but that didn't work either, so I coded my own reproducible case based on libraries I use. Sorry for bringing it in, but at least it should be reproducible nicely now.

Correct output:

[code]

Bad output:

[code]

In `dmesg` of bad output:

[

[2017-07-10 22:05] AtsushiKan commented on #21680
Unless the work can be done entirely in the open-source (Git-controlled) subdirectory (and it doesn't look like it to me from a quick look - exception dispatch occurs inside mrt100_app.dll)), the FirstChanceException part is not efficient for me to load-balance.

[2017-07-10 22:11] caesar1995 commented on #21903
After I clean my local repo and pull from dotnet master, the issue goes away.

cc: @CIPop @davidsh @DavidGoll

[2017-07-10 22:11] #21903 closed

[2017-07-10 22:39] tarekgh commented on #21850
just more info as I already submitted PR:

the Windows Runtime failure stack is

[code]

and the parameters we are getting during the failure is:

[code]

[2017-07-10 22:46] caesar1995 opened #22053 "Partial send support for ClientWebSocket on UWP"
The UWP implementation of ClientWebSocket (WinRTWebSocket.cs) buffers the entire message before it can pass it to the underlying WinRT MessageWebSocket. This is due to missing support for sending partial messages in WinRT MessageWebSocket.

#21102 improved the receive path of partial messages in UWP, but the existing WinRT APIs still lack partial message support in the send path.

System.Net.HttpL

[2017-07-10 22:49] CIPop opened #22054 "HttpListener HttpListenerWebSocketTests hang on UAP"
Tracking the investigation for HttpListenerWebSocketTests hanging on UAP.

[2017-07-10 22:51] CIPop commented on #22054
duplicate of #22053

[2017-07-10 22:51] #22054 closed

[2017-07-10 23:03] CIPop opened #22055 "System.Net.Tests.HttpListenerPrefixCollectionTests.CopyTo_NonZeroLowerBoundArray_ThrowsIndexOutOfRangeException throws PNSE on UAPAOT"
[code]

[2017-07-10 23:10] caesar1995 commented on #22053
This is the test case causing the hang: `ReceiveAsync_ReadWholeBuffer_Success()`

[2017-07-10 23:11] CIPop opened #22056 "Some of the HttpListenerResponseCookiesTests are failing with NullReferenceException in UAPAOT"
System.Net.Tests.HttpListenerResponseCookiesTests.SetCookie_CookieDoesntExist_ThrowsArgumentException [FAIL]
        System.NullReferenceException : Object reference not set to an instance of an object.
        Stack Trace:
              at xunit.console.netcore!<BaseAddress>+0xb456d0
              at xunit.console.netcore!<BaseAddress>+0xb453ed
              at System.Net.Tests.HttpListenerRespon

[2017-07-10 23:15] CIPop commented on #22053
@Diego-Perez-Botero could this be related to client-side changes for WebSockets?

[2017-07-10 23:20] CIPop opened #22057 "Tracking HttpListenerResponseTests.Headers.cs disabled tests"
These tests were originally tracked by 17462 (UAP related) but against .Net Core (non-UAP).

- [ ] AddHeader_LongName_ThrowsArgumentOutOfRangeException
- [ ] AppendHeader_LongName_ThrowsArgumentOutOfRangeException
- [ ] Headers_SetRestricted_ThrowsArgumentException
- [ ] Headers_SetLongName_ThrowsArgumentOutOfRangeException
- [ ] Headers_SetRequestHeader_ThrowsInvalidOperationException

[2017-07-10 23:31] CIPop commented on #20482
This is crashing when running HttpListener tests:

[code]

[2017-07-10 23:51] caesar1995 commented on #22053
The test will only hang when `endOfMessage == false`

After discussion with @Diego-Perez-Botero, the root cause of this issue is because ClientWebSocket's UWP implementation is using the winRT websocket, which doesn't support sending partial message.
The detailed explanation can be found here: #21102

[2017-07-10 23:52] #21628 closed

[2017-07-10 23:53] caesar1995 commented on #22053
I have a question though, can we disable a test using [Activeissue] of a closed issue? If not, should we re-open #21102?

@davidsh

[2017-07-10 23:54] davidsh commented on #22053
If you need to disable a test forever due to platform differences, you need to use SkipOnTargetFramework attribute and not ActiveIssue attribute.  We have many examples of this in other tests such Http.

[2017-07-10 23:56] davidsh commented on #22053
See: https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs#L181

for example.

In your case, you would use TargetFrameworkMonikers.Uap to disable that test for UAP forever.  Please add an appropriate explanation in the attribute field.

[2017-07-10 23:57] caesar1995 commented on #22053
sure.

[2017-07-10 23:57] Diego-Perez-Botero commented on #22053
As Caesar mentioned, only the test variants where _endOfMessage_ is **false** are hanging. This is because the UWP implementation of ClientWebSocket ([WinRTWebSocket.cs](https://github.com/dotnet/corefx/blob/472b8d8ec212c2afb107dea305b4624c4989a79f/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WinRTWebSocket.cs)) buffers the entire message before it can pass it to the underlying WinRT

[2017-07-10 23:58] Diego-Perez-Botero commented on #22053
IMHO, #21102 should remain closed. The _send_ path improvements should be tracked with a different issue.

[2017-07-11 00:02] CIPop commented on #22053
/cc @DavidGoll
This is a behavior difference from .Net Desktop. Let's keep this open and have an ActiveIssue for now until we decide it's OK to ship as-is or document.

[2017-07-11 00:06] davidsh commented on #22053
If we ship as-is (and thus have a behavior difference from .NET Framework), we need to document it here:
https://github.com/dotnet/corefx/wiki/ApiCompat

[2017-07-11 00:11] CIPop opened #22063 "System.Net.Tests.HttpListenerRequestTests.ContentEncoding_GetProperty_ReturnsExpected throws MissingMetadataException on UAPAOT"
[code]

[2017-07-11 00:16] mellinoe commented on #8951
Hm. Your repro works for me (it prints out "OK" and then exits), and I have this installed:

[code]

You are saying that when you update it to my version, `dotnet` starts crashing? I wonder if there is some other package installed that is causing troubles.

[2017-07-11 00:20] mellinoe commented on #8951
It may also help narrow things down if you try the latest version from the master branch of CLI, as well as the release/2.0.0 branch.

[master](https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-linux-x64.tar.gz)
[release/2.0.0](https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/2.0.0/dotnet-sdk-latest-linux-x64.tar.gz)

[2017-07-11 00:22] vcsjones commented on #21833
If it is helps with the consideration and planning at all, I consider this feature important enough to me that I am willing to spend a significant amount of time helping, if you're open to it.

[2017-07-11 00:27] MattGal commented on #22040
Sorry if it's obvious, but what's the request for me?

[2017-07-11 00:29] AntonLapounov commented on #22040
Not actionable without the crash dump.

[2017-07-11 00:37] davidsh commented on #21738
So, I've completed my checkins to implement the missing features in HttpClient for server certificate callback and client certificates.  And yet, the EKU tests are still hanging.

@CIPop  One question I have is why do these tests use a different "loopback" server from the rest of the HttpClient tests?

These tests are using this loopback server:
https://github.com/dotnet/corefx/blob/master/src/Com

[2017-07-11 00:40] Diego-Perez-Botero commented on #20362
The UWP ClientWebSocket implementation ([WinRTWebSocket.cs](https://github.com/dotnet/corefx/blob/472b8d8ec212c2afb107dea305b4624c4989a79f/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WinRTWebSocket.cs)) was modeled after .NET Framework and fails the same CloseTest test case in a similar way.

[2017-07-11 00:47] CIPop commented on #21738
@davidsh I've ported the loopback server that we had for a long time in .Net Framework. It supports several scenarios that are not supported on the current one.
We should pick one that makes sense and unify at some point.

[2017-07-11 00:53] CIPop opened #22066 "System.Net.Tests.HttpRequestStreamTests.CanWrite_Get_ReturnsFalse and CanRead_Get_ReturnsFalse fails on UAPAOT: NotSupported_UnwritableStream/NotSupported_UnreadableStream"
[code]

[2017-07-11 00:56] davidsh commented on #21738
Update:

Two tests are passing:
        public async Task HttpClient_NoEKUServerAuth_Ok()
        public async Task HttpClient_ClientEKUServerAuth_Fails()

One test is failing with "System.TimeoutException : The operation has timed out."
        public async Task HttpClient_NoEKUClientAuth_Ok()
It would have hung forever, but the test has a timeout.

One test is hanging forever (doesn't have any t

[2017-07-11 00:58] bartonjs commented on #21833
@vcsjones The core feature work is on the feature-set that I've given up my management chain.  There's a chance that we won't want to mark the API as public during the 2.1 timeframe; it depends on how polished we think it is.

My official suggestions were that we'd need to start on this first, since it's useful in a number of things I'd like us to be doing, and when we're happy with the API flip i

[2017-07-11 01:04] bartonjs opened #22068 "Add X509SubjectAlternativeName as a rich type"
SubjectAltName is an extension from RFC 3280 that's fairly important to the people who need it.  Currently applications make programmatic decisions for it via `ToString()` which has a couple of problems:

* It's localized on Windows
* It's not the same on Windows and !Windows.

Rather than exposing the whole GeneralName concept (and dealing with X400Address) the type would

* Exist
* Allow enumera

[2017-07-11 01:06] davidsh commented on #21738
I know why the two tests are failing.  Both of the two tests use client certificates. The other two tests do not.

Both tests are trying to pop up UI:
![image](https://user-images.githubusercontent.com/7684835/28046624-da851e3a-6599-11e7-99e5-921f07ac8deb.png)

but can't due to the way the tests are written.

That UI happens when a UWP app want to use a client certificate that is installed in the

[2017-07-11 01:06] davidsh commented on #21738
cc: @Diego-Perez-Botero

[2017-07-11 01:40] AchotStepanian commented on #1624
Maybe it could be considered below solution for testing purpose only:

 public class GeoLocationServiceForTest : GeoLocationService, IGeoLocationService
    {
        public GeoLocationServiceForTest(something: something, HttpClient httpClient) : base(something)
        {
            base._httpClient = httpClient;
        }
    }

[2017-07-11 01:42] Jiayili1 commented on #20390
Failed again in CI, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_debian8.4_release/103/testReport/System.Net.Http.Functional.Tests/DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledLogging/

[2017-07-11 01:46] Jiayili1 commented on #21922
This issue is repro on OuterLoop_netcoreapp_osx10.12_debug, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_debug/115/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandler_ServerCertificates_Test/UseCallback_ValidCertificate_ExpectedValuesDuringCallback_url__https___corefx_net_cloudapp_net_Echo_ashx__checkRevocation__True_/

[2017-07-11 02:18] jnm2 commented on #22011
Is this a candidate for terrajobst/platform-compat? @karelz

[2017-07-11 03:10] safern commented on #21275
The change was reverted as it was causing CI failures.

[2017-07-11 03:19] #22042 closed

[2017-07-11 03:32] lextm commented on #21995
Thanks. Glad to see it would land on .NET Core 2 RTM.

[2017-07-11 03:55] morganbr commented on #22068
What should they do if the SubjectAltName contains a URI, email address, or other annoying kind of name?

[2017-07-11 04:47] #21902 closed

[2017-07-11 05:41] PrashanthIBM opened #22076 "LoadUnmanagedDllFromPath / LoadUnmanagedDll is not working on linux if .so file is present in any other path other than application output directory"
Hi ,

i am not sure whether the issue exists in coreclr or corefx.

So notifying the issue here https://github.com/dotnet/coreclr/issues/12707

Thanks,
Prashanth.

[2017-07-11 05:54] dotnet-mc-bot opened #22077 "Test: System.Data.SqlClient.Tests.DiagnosticTest/ConnectionOpenAsyncErrorTest failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Data.SqlClient.Tests.DiagnosticTest/ConnectionOpenAsyncErrorTest` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose()
       at System.Data.SqlClient.Tests.DiagnosticTest.ConnectionOpenAsyncErrorTest()
Build : Master -

[2017-07-11 05:55] dotnet-mc-bot opened #22078 "Test: System.Data.SqlClient.Tests.DiagnosticTest/ConnectionOpenAsyncErrorTest failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Data.SqlClient.Tests.DiagnosticTest/ConnectionOpenAsyncErrorTest` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose()
       at System.Data.SqlClient.Tests.DiagnosticTest.ConnectionOpenAsyncErrorTest()
Build : Master -

[2017-07-11 05:57] Jiayili1 commented on #22078
Dup of https://github.com/dotnet/corefx/issues/22077

[2017-07-11 05:57] #22078 closed

[2017-07-11 06:00] dotnet-mc-bot opened #22079 "Test: System.IO.Tests.FileStream_LockUnlock/OverlappingRegionsFromOtherProcess_ThrowsException failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.FileStream_LockUnlock/OverlappingRegionsFromOtherProcess_ThrowsException(fileLength: 10, firstPosition: 3, firstLength: 5, secondPosition: 4, secondLength: 5)` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose

[2017-07-11 06:04] dotnet-mc-bot opened #22080 "Tests under: System.Runtime.Extensions.Tests failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Tests.AppDomainTests/SetThreadPrincipal` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose()
Build : Master - 20170711.01 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64.ClientRS3-x64
  - Release

Detail: htt

[2017-07-11 06:05] Jiayili1 commented on #22080
Failed tests:
System.Tests.AppDomainTests/SetThreadPrincipal
System.Tests.Environment_Exit/CheckExitCode

[2017-07-11 06:10] dotnet-mc-bot opened #22081 "Tests under: System.Runtime.Tests failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Tests.DecimalTests/Test_ToString` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose()
       at System.Tests.DecimalTests.Test_ToString()
Build : Master - 20170711.01 (UWP F5 Tests)
Failing configurations:
- Windows.10

[2017-07-11 06:13] Jiayili1 commented on #22081
Failed tests:
 System.Tests.DecimalTests/Test_ToString
System.Tests.StringTests/CompareTest
System.Tests.StringTests/IndexOf_TurkishI_EnglishUSCulture
System.Tests.StringTests/LastIndexOf_TurkishI_TurkishCulture
System.Text.Tests.StringBuilderTests/Test_Insert_Decimal

[2017-07-11 06:15] dotnet-mc-bot opened #22082 "Tests under: System.Runtime.Tests failed with "System.IO.IOException : RemoteInvoke cannot open the remote service. Open Service Status: AppUnavailable""
Opened on behalf of @Jiayili1

The test `System.Tests.StringTests/IndexOf_CyrillicE_EnglishUSCulture` has failed.

System.AggregateException : One or more errors occurred. (RemoteInvoke cannot open the remote service. Open Service Status: AppUnavailable)\r
    ---- System.IO.IOException : RemoteInvoke cannot open the remote service. Open Service Status: AppUnavailable

        Stack Trace:

[2017-07-11 06:15] Jiayili1 commented on #22082
Related issue: https://github.com/dotnet/corefx/issues/21297

[2017-07-11 06:16] Jiayili1 commented on #22082
Failed tests:
System.Tests.StringTests/IndexOf_CyrillicE_EnglishUSCulture
System.Tests.StringTests/IndexOf_CyrillicE_InvariantCulture
System.Tests.StringTests/IndexOf_TurkishI_TurkishCulture

[2017-07-11 06:19] dotnet-mc-bot opened #22083 "Test: System.Data.Tests.DataTableReadWriteXmlTest/TestReadXml failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Data.Tests.DataTableReadWriteXmlTest/TestReadXml` has failed.
[code]
Build : Master - 20170711.01 (Full Framework Tests)
Failing configurations:
- Windows.10.Amd64-x64
  - Debug

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170711.01/workItem/System.Data.Com

[2017-07-11 06:24] Jiayili1 commented on #21696
This issue is still repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170711.01

[2017-07-11 06:47] dotnet-mc-bot opened #22084 "Test: System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_SslProtocols_Test/GetAsync_AllowedSSLVersion_Succeeds failed with "System.ComponentModel.Win32Exception ""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_SslProtocols_Test/GetAsync_AllowedSSLVersion_Succeeds(acceptedProtocol: Tls11, requestOnlyThisProtocol: False)` has failed.

System.Security.Authentication.AuthenticationException : A call to SSPI failed, see inner exception.\r
    ---- System.ComponentModel.Win32Exception : The client and se

[2017-07-11 06:49] dotnet-mc-bot opened #22085 "Test: System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_SslProtocols_Test/GetAsync_SupportedSSLVersion_Succeeds failed with "System.ComponentModel.Win32Exception : The function requested is not supported""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_SslProtocols_Test/GetAsync_SupportedSSLVersion_Succeeds(sslProtocols: Tls11, url: \"https://www.ssllabs.com:10302/\")` has failed.

System.Net.Http.HttpRequestException : could not establish SSL connection\r
    ---- System.Security.Authentication.AuthenticationException : A call to SSPI fail

[2017-07-11 07:02] ChadNedzlek commented on #21696
We've added some logging around this, but until it happens again, there isn't much we can do. So we'll wait and see.

[2017-07-11 07:11] dotnet-mc-bot opened #22087 "Test: System.IO.Tests.Directory_GetFiles_str_str_so/PatternTests_DosStarOddSpace failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.Directory_GetFiles_str_str_so/PatternTests_DosStarOddSpace(pattern: \"fooooo*.\", sourceFiles: [\"foooooo.\", \"foooooo. \", \"foooooo.  \"], expected: [\"foooooo.\", \"foooooo...` has failed.

Assert.Equal() Failure\r
    Expected: OrderedEnumerable<String, String> [\"foooooo.\", \"foooooo. \", \"foooooo.  \"]\r
    Actual:   OrderedEnumera

[2017-07-11 07:14] tmds commented on #16179
@davidsh @CIPop @Priya91 can someone take a peek at this? It shouldn't take long to figure out if this is a bug or not. Then we can close the issue.

[2017-07-11 07:14] dotnet-mc-bot opened #22088 "Tests under: System.IO.Tests.Directory_Move failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.Directory_Move/MoveFile_TrailingSourceAltSlash_Windows` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.IO.IOException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.IO.Tests.Directory_Move.MoveFile_TrailingSourceAltSlash_Windows()
Build : 2.0.0 - 20170711.01 (Core Tests)
Failing con

[2017-07-11 07:17] dotnet-mc-bot opened #22089 "Test: System.Net.Http.Functional.Tests.HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test/SetDelegate_ConnectionSucceeds failed with "System.Net.Http.CurlException : SSL connect error""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test/SetDelegate_ConnectionSucceeds(acceptedProtocol: Tls, requestOnlyThisProtocol: False)` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.
    ---- System.Net.Http.CurlException : SSL connect error

        Stack Trace

[2017-07-11 07:25] dotnet-mc-bot opened #22090 "Test: System.Net.Tests.HttpListenerPrefixCollectionTests/Add_InvalidPrefixAlreadyStarted_ThrowsHttpListenerExceptionOnAdd failed with "System.Net.HttpListenerException""
Opened on behalf of @Jiayili1

The test `System.Net.Tests.HttpListenerPrefixCollectionTests/Add_InvalidPrefixAlreadyStarted_ThrowsHttpListenerExceptionOnAdd(uriPrefix: \"http://localhost/invalid%path/\")` has failed.

System.Net.HttpListenerException : The request is not supported.

        Stack Trace:

           at System.Net.HttpEndPointManager.GetEPListener(String host, Int32 port, HttpListen

[2017-07-11 07:30] dotnet-mc-bot opened #22091 "Test: System.IO.Tests.PathTests/GetFullPath_Windows_83Paths failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.PathTests/GetFullPath_Windows_83Paths` has failed.

Assert.Equal() Failure\r
                 ? (pos 3)\r
    Expected: C:\\\windows\\\TEMP\\\f40b550e58b649b192051d3d0b05···\r
    Actual:   C:\\\Windows\\\TEMP\\\f40b550e58b649b192051d3d0b05···\r
                 ? (pos 3)

        Stack Trace:

           at System.IO.Tests.PathTests.GetFull

[2017-07-11 07:32] Jiayili1 commented on #22091
Closed Issue: https://github.com/dotnet/corefx/issues/7433

[2017-07-11 07:33] dotnet-mc-bot opened #22092 "Test: System.IO.Tests.PathTests/GetInvalidFileNameChars_OtherCharsValid failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.PathTests/GetInvalidFileNameChars_OtherCharsValid` has failed.

Assert.Equal() Failure\r
                 ? (pos 3)\r
    Expected: C:\\\data\\\helix\\\work\\\7f8bdd16-0b15-4851-a5b2-d···\r
    Actual:   C:\\\Data\\\helix\\\work\\\7f8bdd16-0b15-4851-a5b2-d···\r
                 ? (pos 3)

        Stack Trace:

           at System.IO.Tests.P

[2017-07-11 07:35] dotnet-mc-bot opened #22093 "Test: System.Tests.EnvironmentTests/GetSystemDirectory failed with "Xunit.Sdk.NotEqualException""
Opened on behalf of @Jiayili1

The test `System.Tests.EnvironmentTests/GetSystemDirectory` has failed.

Assert.NotEqual() Failure\r
    Expected: Not \"C:\\\\\\\windows\\\\\\\system32\"\r
    Actual:   \"C:\\\\\\\windows\\\\\\\system32\"

        Stack Trace:

Build : 2.0.0 - 20170711.01 (Core Tests)
Failing configurations:
- windows.10.amd64.iot-x64
  - Release
- windows.10.nanolatest.amd64-x64

[2017-07-11 07:40] divega commented on #8955
Marking as "up for grabs". In order to make progress on this issue we need to do some exploration to understand both the magnitude of the performance impact (e.g. how many allocations we can actually avoid and how that benefits performance) and how to best extend the API. See https://github.com/dotnet/corefx/issues/8955#issuecomment-260108275 and https://github.com/dotnet/corefx/issues/8955#issuec

[2017-07-11 07:43] dotnet-mc-bot opened #22094 "Test: System.Threading.Threads.Tests.ThreadTests/ApartmentStateTest_ChangeBeforeThreadStarted_Windows failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Threading.Threads.Tests.ThreadTests/ApartmentStateTest_ChangeBeforeThreadStarted_Windows(getApartmentState: Func`2 { Method = System.Threading.ApartmentState <ApartmentStateTest_MemberD...` has failed.

Assert.Equal() Failure\r
    Expected: MTA\r
    Actual:   STA

        Stack Trace:

           at System.Threading.Threads.Tests.ThreadTests.Apartm

[2017-07-11 07:44] Jiayili1 commented on #22094
Closed Issue: https://github.com/dotnet/corefx/issues/19222

[2017-07-11 08:31] fogzot commented on #8951
I just did some extensive tests using a clean Debian 9 docker image. On a clean install, adding curl and libcurl 7.52.1-5 is not a problem, everything works well. The problem pops up when upgrading an old Debian to version 9 or when using the Ubuntu .deb packages on Debian 9. In both cases libssl1.0.0 gets pulled in and BOOM, segfault. Note that this is NOT libssl1.0.2, the Debian 9 default but an

[2017-07-11 10:52] KostaVlev commented on #20711
@mellinoe  Ok, I will update the test because this is what the Windows version returns.

[2017-07-11 11:19] hughbe commented on #20711
Ohhh dear - can you make an issue?

[2017-07-11 11:30] JustArchi commented on #8951
What @fogzot explained above very likely is the correct culprit, since I couldn't reproduce the bug on clean Debian 9 either, while my machine had these:

[code]

I removed `libssl1.0.0` via `apt-get purge`, it seems that nothing depended on it apart from old `libcurl3`, so purge automatically triggered libcurl3 update as well. The library wasn't caught by my usual `apt-get autoremove` for some re

[2017-07-11 14:07] fogzot commented on #8951
I have some more information.

Looking at a standard install of 1.0.x + 1.1.x runtime and 2.0 preview 2 runtime+sdk I can find only 3 `.so` objects that depend on libssl:

`shared/Microsoft.NETCore.App/1.0.5/System.Security.Cryptography.Native.so` on 1.0.0
`shared/Microsoft.NETCore.App/1.1.2/System.Security.Cryptography.Native.OpenSsl.so` on 1.0.0
`shared/Microsoft.NETCore.App/2.0.0-preview2-25407

[2017-07-11 14:27] PinpointTownes opened #22098 "[Uri] Uri.TryCreate(string, UriKind, out Uri) now considers /path as valid absolute paths on Linux/macOS"
When porting [my OIDC server framework from ASP.NET Core 1.0 to 2.0](https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/449), I discovered a very strange behavior change in `Uri.TryCreate(string, UriKind, out Uri)` that now considers `/path` as valid absolute paths on Linux and macOS (but not on Windows).

This can be reproduced using the latest CLI/runtime bits:

[code]

[2017-07-11 14:29] bartonjs commented on #22068
A EnumerateDnsNames() method would skip them, as would EnumerateIPAddresses().

If someone wanted to read any kind of extra name they'd need to use #21833.

[2017-07-11 14:35] Tratcher commented on #22098
Agreed this is terrible, but I didn't think it was new in 2.0. It's trying to mirror the windows behavior that says `c:\` is a valid absolute Uri (also a terrible idea).

[2017-07-11 14:45] PinpointTownes commented on #22098
@Tratcher not sure about .NET Core 1.1, but I'm 99,99% sure it used to work fine on .NET Core 1.0 (we have a unit test that ensures relative OIDC `redirect_uri`s are correctly rejected for a long time now, and it only started to fail when moving to 2.0).

[2017-07-11 14:54] KostaVlev opened #22099 "PathGradientBrush.Blend.Positions returns unexpected when running with netcoreapp but works correct with netfx."
I simplified the test I wrote:

          private readonly PointF[] _defaultFloatPoints = new PointF[2] { new PointF(1, 2), new PointF(20, 30) };

          public static IEnumerable<object[]> Blend_FactorsPositions_TestData()
        {
            yield return new object[] { new float[1] { 1 }, new float[1] { 0 } };
            yield return new object[] { new float[1] { 1 }, new float[3] { 0, 3,

[2017-07-11 14:55] akoeplinger commented on #22098
sounds like https://github.com/dotnet/corefx/pull/15925

[2017-07-11 14:59] stephentoub commented on #22098
cc: @tmds
This is by design.  For better or worse, Uri supports paths, and on Unix, absolute paths begin with '/'.

[2017-07-11 15:00] PinpointTownes commented on #22098
@akoeplinger @stephentoub erf, crap! I don't suppose there's a way to opt out of Unix paths support using the existing APIs? :sob:

[2017-07-11 15:24] stephentoub commented on #22098
I don't believe so, though you could check the IsFile property on the Uri.

@tmds, @akoeplinger, this is the same behavior Mono has, right?  As in other places, I believe we used Mono as a guide here for how this should behave on Unix.

[2017-07-11 15:31] akoeplinger commented on #22098
Correct.

[2017-07-11 15:37] PinpointTownes commented on #22098
I'm all for offering a better cross-platform experience (even though I'm not sure `Uri` is not the right class for file paths manipulations), but this change is particularly terrible as it breaks absolute/relative URLs recognition, which is kinda the essence of this class. Specially since the new behavior is not consistent across platforms.

[2017-07-11 15:45] gboucher90 opened #22101 "ConfigurationManager doesn't find config file with "dotnet test""
Hello,

When run with "dotnet test" and NUnit, the actual entry point is the "testhost":

.nuget/packages/microsoft.testplatform.testhost/15.0.0/lib/netstandard1.5/testhost.dll

Then it is looking at the wrong place and with wrong name.

Program.cs
[code]

App.config
[code]

csproj
[code]

EDIT: @karelz fixed code formatting

[2017-07-11 15:47] Tratcher commented on #22098
Agreed, this is worse on linux due to the ambiguity. It makes several of the APIs unusable.

[2017-07-11 15:51] joperezr commented on #22077
cc: @saurabh500 can you please take a look? keep in mind that the configuration that failed was Debug-x86. Let me know if you have problems reproing.

[2017-07-11 15:52] joperezr commented on #22079
cc: @JeremyKuhne @tarekgh

[2017-07-11 15:53] joperezr commented on #22080
I'll take a look at this one.

[2017-07-11 15:54] joperezr commented on #22081
cc: @tarekgh some of the failures seem to be Culture-related.

[2017-07-11 15:55] joperezr commented on #22082
cc @tarekgh more instances of Culture problems, I'll try to see if I can get a repro.

[2017-07-11 15:58] tarekgh commented on #22079
We have reverted the change caused this problem yesterday. https://github.com/dotnet/corefx/pull/22069

So I expected this is fixed.

[2017-07-11 15:58] #22079 closed

[2017-07-11 16:02] Tratcher commented on #22098
For a concrete example, this breaks HttpClient.
[code]

This works on Windows but throws on Mac/Linux because "/path?query" becomes an absolute file path instead of a uri relative to the http base.
https://github.com/dotnet/corefx/blob/0ec2a72a21eccba24764239e3ab985c9d2847969/src/System.Net.Http/src/System/Net/Http/HttpClient.cs#L678

ASP.NET Core tests have to work around it by leaving off the le

[2017-07-11 16:04] tmds commented on #22098
This change makes it more obvious that implicit file paths get interpreted as `file://` uris by the `Uri` class.

If you have some code like:
[code]
and `request.RedirectUri` is "C:\tmp\file.xml". This is considered a valid absolute Uri in .NET Framework and .NET Core 1.0.

Probably this wouldn't be a valid input either and a check for the Scheme (either excluding file, or only allowing specific s

[2017-07-11 16:05] tmds commented on #22098
https://github.com/dotnet/corefx/blob/0ec2a72a21eccba24764239e3ab985c9d2847969/src/System.Net.Http/src/System/Net/Http/HttpClient.cs#L678

@Tratcher Have you tried this? `new Uri(uri, UriKind.RelativeOrAbsolute)` is Relative for a uri like "/path?query".

[2017-07-11 16:08] Tratcher commented on #22098
Not recently, it caused a lot of test issues a while back and we changed everything. Are you saying relative is preferred over absolute now?

[2017-07-11 16:11] rainersigwald commented on #22049
I think that was a red herring; the MSBuild bug that led to this investigation is unrelated because we have our own wrapper around `SHGetFolderPath` that's behaving oddly in this case. The behavior described in this bug is still surprising to me, though.

[2017-07-11 16:14] PinpointTownes commented on #22098
That's right. And I'm not sure spreading this behavior was the right thing to do.

The [OAuth2 specification only forbids relative URLs and URLs that contain a fragment](https://tools.ietf.org/html/rfc6749#section-3.1.2). Everything else is necessarily implementation-specific and thus not a good fit for a general check in a non-agnostic OIDC framework like the one I develop (end users are excepted

[2017-07-11 16:14] Tratcher commented on #22098
Interesting, the above HttpClient sample isn't broken anymore on Mac.

[2017-07-11 16:15] tmds commented on #22098
.NET Core 1.x:

new Uri("/tmp", UriKind.Absolute) -> throws
new Uri("/tmp", UriKind.RelativeOrAbsolute) -> Relative

.NET Core 2.0:

new Uri("/tmp", UriKind.Absolute) -> Absolute
new Uri("/tmp", UriKind.RelativeOrAbsolute) -> Relative

[2017-07-11 16:19] tmds commented on #22098
@PinpointTownes instead of excluding file, would it be appropriate for the implementation to check for http&https?

   use of OAuth over any protocol other than HTTP is out of scope.

[2017-07-11 16:23] PinpointTownes commented on #22098
@tmds nope, unfortunately. Using custom schemes is definitely allowed and even unavoidable in many cases (e.g in UWP, the `redirect_uri` is given by the WinRT APIs and starts with `ms-app://[very long string]`).

[2017-07-11 16:25] tmds commented on #22098
@PinpointTownes Then excluding file and blaming it on the Uri class is your best option.

[2017-07-11 16:32] PinpointTownes commented on #22098
@tmds thing is there's nothing that prevents me from using `file:///C:/callback.html` as the `redirect_uri`. Adding an `IsFile` check would potentially reject `redirect_uri` that are compliant with the OAuth2 specification.

I guess I'll just disable the test on Linux/macOS... :trollface:

[2017-07-11 16:33] tmds commented on #22098
The rationale for "accepting unix paths" and "not accept them on Windows" is to "keep existing code working".
Trading off between backwards-compat and xplat...

[2017-07-11 16:34] tmds commented on #22098
Syntax would be compliant with the OAuth2 spec, but semantically file:// redirect_uris wouldn't make sense I guess.

[2017-07-11 16:38] PinpointTownes commented on #22098
Well, accepting Unix paths using the `file://...` syntax is fine. What's way more annoying is the automatic conversion from `/path` to `file:///path` that can't even be disabled on Linux/macOS.

[2017-07-11 16:41] PinpointTownes commented on #22098
Even tho' I would definitely not do that myself, `file://` are recognized by (most) browsers as valid navigation URLs. You could have a `redirect_uri` that points to a local file (or to a remote file in a shared folder) and that executes some JS logic.

While blocking `file://` URIs would make sense in 99,99% cases, it's an assumption that goes beyond what the specification says.

[2017-07-11 16:47] tmds commented on #22098
I wonder if you could write your implementation using RelativeOrAbsolute and then check for Absolute.

[2017-07-11 16:49] balivo opened #22103 "Proposal: Create method Guid.NewSequentialGuid()"
Make a new method to create a sequential Guid.

[2017-07-11 16:49] dmetzgar commented on #2394
Also please take a look at the [Durable Task Framework](https://github.com/Azure/durabletask). This is being added to Azure Functions, see [Durable Functions](https://blogs.msdn.microsoft.com/appserviceteam/2017/07/06/alpha-preview-for-durable-functions/).

[2017-07-11 16:54] AtsushiKan commented on #16567
Came up with a strawman implementation:

https://github.com/AtsushiKan/test/blob/master/MakeGenericMethod.cs

I ended up naming it **MakeGenericMethod()** as that's what it really is - a variant of **MethodInfo.MakeGenericMethod()** with an alternate way of specifying the method to specialize. You specify the declaring type, the method name and the generic type arguments to specialize over. Option

[2017-07-11 16:57] rainersigwald commented on #22049
Looks like this is a duplicate of #19110.

[2017-07-11 16:59] PinpointTownes commented on #22098
@tmds interesting, I'll give that a try tonight (I'm currently trying to determine why I'm getting a [`The type 'ECCurve' exists in both 'System.Core' and 'System.Security.Cryptography.Algorithms'` error when targeting .NET 4.7](https://ci.appveyor.com/project/aspnet-contrib/aspnet-security-openidconnect-server/build/1.0.0-rtm-1255#L360)).

[2017-07-11 17:00] natemcmaster commented on #22049
cc @danmosemsft

[2017-07-11 17:00] tarekgh commented on #22081
This is the same issue we revert it yesterday https://github.com/dotnet/corefx/pull/22069 this should not repro anymore.

[2017-07-11 17:00] #22081 closed

[2017-07-11 17:01] AtsushiKan commented on #21680
Made the SetData() fix. @DnlHarvey - it sounds like you already have context on the FirstChanceExceptions event. I don't think it's practical for me to poach this one as it crosses GIT-TFS boundaries.

[2017-07-11 17:02] CIPop commented on #21738
@davidsh The server EKU test should have failed as HttpClient analyzes the EKU and finds the wrong one (before the request is sent out). The no-EKU test is hanging most likely because the server side is not receiving any request with a client certificate. Both cases are related with the PR you've submitted yesterday.

The HttpsTestClient/HttpsTestServer have logging: try to obtain the logs and see

[2017-07-11 17:02] gboucher90 commented on #22101
Should we override the entry assembly in NUnit Test Adapter?
https://github.com/NeutroniumCore/Neutronium/blob/master/Tests/Infra/Tests.Infra.HTMLEngineTesterHelper/Window/AssemblyHelper.cs

[2017-07-11 17:04] PinpointTownes commented on #22098
I suppose I could also use `Uri.IsWellFormedUriString()` instead of `TryCreate()`? According to the validation rules listed at https://msdn.microsoft.com/fr-fr/library/system.uri.iswellformeduristring(v=vs.110).aspx, `/tmp` shouldn't be considered as a valid relative URI by this method, even on Linux/macOS.

[2017-07-11 17:05] mattzink commented on #21577
It should be configurable per connection, just like how the protocol level now is (`Http​Client​Handler.​Ssl​Protocols`). I would expect a `Http​Client​Handler.​Ssl​CipherSuites` property to exist and work across all supported platforms

[2017-07-11 17:07] tarekgh commented on #22082
This is same issue we fixed by reverting the code
https://github.com/dotnet/corefx/pull/22069

[2017-07-11 17:07] #22082 closed

[2017-07-11 17:09] Suriman commented on #2394
@dmetzgar This framework is in diapers to be considered an alternative to WF. I do not think it's serious that Microsoft proposes this sort of thing. Would not it be much better instead of reinventing the wheel, migrating WF to .NET Core and reusing it as a basis in all Microsoft projects? Sorry for the harshness of my words, but I think they represent the sentiment of many people who are very dis

[2017-07-11 17:11] stephentoub commented on #22103
What is a "sequential Guid"?  Do you mean one that uses the machine's MAC address rather than being entirely random?

[2017-07-11 17:17] saurabh500 commented on #22077
Thank you.

Sent from phone.

On Jul 11, 2017, at 8:52 AM, Jose Perez Rodriguez <notifications@github.com<mailto:notifications@github.com>> wrote:

cc: @saurabh500<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fsaurabh500&data=02%7C01%7Csausing%40microsoft.com%7Cdbe45582de6346cbf02108d4c874c867%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636353851284962976&sdata=oQl

[2017-07-11 17:30] HaloFour commented on #16567
@AtsushiKan

That's a nice and simple implementation.

What is the fate of "helpers" as opposed to APIs?

[2017-07-11 17:36] terrajobst commented on #16841
We just took a look. It seems the APIs are valuable and we should expose them. We prefer the static `IsXxx` methods over the enum because logistically the enum would have to live side by side with `Single` and `Double` so it would add yet another type in the `System` namespace that very few people would ever to work with.

So let's just start with the methods:

[code]

[2017-07-11 17:51] DavidGoll commented on #18784
Nice to have. Not needed for UWP. Won't break apps. Implementation is only needed to do extra error checking when adding to the collection.

[2017-07-11 17:51] AtsushiKan commented on #16567
My feeling is that it won't pass api-review. See this comment, for example:

https://github.com/dotnet/corefx/issues/461#issuecomment-70434257

"In particular, we need to be careful that we don't turn core types (such as Array and String) into a grab bag of potentially useful APIs."

This is indeed potentially useful but it's also something that can be easily written using existing apis (even more

[2017-07-11 18:01] DavidGoll commented on #22063
Need to root-cause this. Need to re-run with ILC build type=check and debug in a debugger.

[2017-07-11 18:03] DavidGoll commented on #22066
Need to root-cause this. Need to re-run with ILC build type=check and debug in a debugger.

[2017-07-11 18:09] HaloFour commented on #16567
@AtsushiKan

I assume that your example is written specifically for .NET Core 2.0?  It won't compile on either .NET 4.7 or .NET Core 1.1 due to a myriad of missing methods.  I am trying to tweak it to work on .NET 4.7 but some of the properties you reference are internal.

I find this incredibly frustrating.  Doing this right is far from easy and apparently can't be done using the APIs as they exi

[2017-07-11 18:11] DavidGoll commented on #14691
@davidsh Document this as a compat issue for UWP6.0. This will require significant design for a cross-plat implementation.

[2017-07-11 18:19] AtsushiKan commented on #16567
Yes, it's built on .NET Core 2.0. IsSzArray, IsVariableBoundArray and IsTypeDefinition are the new apis. IsTypeDefinition is not crucial to this (it can be handled as the default case), and IsSZArray is often emulated by this this extension method:

 IsSZArray(this Type type) =>  type.IsArray && type.Name.EndsWith("[]")

while IsVariableBoundArray is literally IsArray && !IsSZArray

I'll acknowled

[2017-07-11 18:20] DavidGoll commented on #22053
@caesar1995 document this as a compat issue... there will not be a fix for this in RS3, thus not in UWP6.0.

[2017-07-11 18:24] dbol55 opened #22104 "Request for a .net sql intellisense string"
I would like to have a sql string in .net.

For example string s = %"SELECT COUNT(*) FROM";

Where sql keywords are highlighted.

[2017-07-11 18:25] DavidGoll commented on #22053
cc: @mconnew

[2017-07-11 18:42] tijoytom commented on #21891
@safern I am closing this one since you mentioned this is fixed.

[2017-07-11 18:42] #21891 closed

[2017-07-11 18:44] safern commented on #21891
Yes I didn't see this on today's run. I will keep an eye of this on future runs.

[2017-07-11 18:45] KostaVlev commented on #22099
Actually after running the test numerous times `netfx` failed with same result as `netcoreapp`.

Running the test with netcoreapp results are:
Expected: float[1] { 0 }
Actual: float[1]{random value}

Running the test with netfx results are:
Expected: float[1] { 0 }
Actual: float[1]{random value}

So this is not an issue in this context.

[2017-07-11 18:45] #22099 closed

[2017-07-11 18:54] mellinoe commented on #22099
@KostaVlev That's a relief...? At least it's not a .NET Core-specific problem 😄

[2017-07-11 19:09] KostaVlev commented on #22099
I stuck on this for two days LOL

[2017-07-11 19:11] brianrob commented on #20744
Fixed via #22058.

[2017-07-11 19:11] #20744 closed

[2017-07-11 19:21] KostaVlev commented on #20711
I figured out the questions I asked above. Seems like the entire time was just me :) And I don't see anything free to take in `System.Drawing.Drawing2D` I can start working in `System.Drawing.Text`

[2017-07-11 19:24] Clockwork-Muse commented on #22103
Note too that "sequential ids" of any sort have all kinds of problems, mostly dealing with recovery/concurrency scenarios.  What sort of problem are you trying to solve here?

[2017-07-11 19:38] balivo commented on #22103
@stephentoub I use Guid (Prefix) + Bytes from DateTime (Ticks) to create a new guid.

@Clockwork-Muse currently I use to minimize index fragmentation when using Guids at database table PKs.

My class:

`public static class IdentityGenerator
    {
        /// <summary>
        /// Create new sequential Guid
        /// </summary>
        /// <returns>Guid</returns>
        public static Guid NewSeq

[2017-07-11 19:42] jnm2 commented on #22103
How do you guarantee uniqueness? You have to assume multiple threads, multiple processes, and multiple machines all running this logic at the same time.

[2017-07-11 20:17] #19202 closed

[2017-07-11 20:23] danmosemsft commented on #22049
Yes, it's a dupe. ShGetKnownFolderPath is a partial stub on Nano. Please use other means such as environment variables until we have improved this.

[2017-07-11 20:28] #21890 closed

[2017-07-11 20:28] safern commented on #19202
@saurabh500 you closed this from your PR but I didn't see that you re-enabled the tests in your PR. Could you please re-enabled them?

[2017-07-11 20:40] Clockwork-Muse commented on #22103
Side note: SQL Server at least [can generate unique, sequential ids](https://docs.microsoft.com/en-us/sql/t-sql/functions/newsequentialid-transact-sql) for you.  They even mention using them for index issues.
This wouldn't help with your "we generated it" prefix, though.  And I don't know what RDBMS vendor you're using, either.

[2017-07-11 20:46] DavidGoll commented on #21729
Triage: This is not expected to have any perceived impact. If it proves to be an issue (e.g., throwing on the constructor, hanging the UI), we will revisit. Will handle via new issues opened for the specific constructor(s) as they are opened.

[2017-07-11 20:46] #21729 closed

[2017-07-11 20:52] CIPop opened #22110 "System.Net.HttpListener tests hanging in UAPAOT"
Some of the HttpListener tests are hanging in AOT mode only. The failures are intermittent and the following may not be a complete list:

- [ ] 7 tests in HttpRequestStreamTests.cs
- [x] 2 test in HttpResponseStreamTests.cs

[2017-07-11 20:53] saurabh500 commented on #19202
Ah ok. I was working with a fork before you disabled the tests again. So in my workspace I always had the tests enabled. I should have rebased.
PR at https://github.com/dotnet/corefx/pull/22111

[2017-07-11 20:57] corivera commented on #21598
Fixed by https://github.com/dotnet/corefx/pull/21997

[2017-07-11 20:57] #21598 closed

[2017-07-11 21:02] davidwrighton opened #22113 "Invalid Rd.xml in System.ComponentModel.TypeConverter"
The embedded RD.XML in System.ComponentModel.TypeConverter doesn't conform to the schema and causes compilation warnings on UWP:

[code]

What we need to investigate is why there are no failing tests (a badly specified RD.XML does nothing) - is this directive needed? Do we need more tests?

Also, the RD.XML needs to be fixed or all users will see this warning in VS.

[2017-07-11 21:02] davidwrighton commented on #22113
@AtsushiKan It looks like you made the change that introduced this issue.

[2017-07-11 21:04] tijoytom commented on #21744
This is really an xunit reflection issue , xunit tries to reflect on the "ToString()" method of IBuffer ( which in this case is WindowsRuntimeBuffer) and fails.Using windowsruntime buffer as suhc do not need rd.xml , here rd.xml is required since xunit does reflection

[2017-07-11 21:04] tijoytom commented on #21744
I am closing this issue since the current rd.xml for the tests works

[2017-07-11 21:04] #21744 closed

[2017-07-11 21:05] AtsushiKan commented on #22113
Fixed here: https://github.com/dotnet/corefx/pull/21994

[2017-07-11 21:09] tijoytom commented on #21261
I am moving this out of UWP6.0  since i am not sure what is actionable here provided  ARM machines are hard to come by

[2017-07-11 21:17] caesar1995 commented on #22063
With build type=check, here is the new information:

[code]

I will look into this.

[2017-07-11 21:18] MichalStrehovsky commented on #22113
This is for System.ComponentModel.

[2017-07-11 21:18] mellinoe commented on #21261
The tests are no longer failing after my change, so we can just close this.

[2017-07-11 21:18] #21261 closed

[2017-07-11 21:38] davidsh commented on #22063
@tarekgh @yizhang82 Can you clarify what this means?

System.Reflection.MissingMetadataException : 'System.Text.UTF8Encoding' is missing metadata. For more information, please visit http://go.microsoft.com/fwlink/?LinkID=392859
Stack Trace:
at xunit.console.netcore!<BaseAddress>+0xbcd9b9

[2017-07-11 21:47] yizhang82 commented on #22063
@tijoytom Does this look like another case of XUnit framework too eagerly to do reflection? Is it assert.equals? If so, we should add a default rd.xml for assert.equals and family.

[2017-07-11 21:49] JonHanna commented on #21689
[code]

There's the rub. Because the entity class is nested in a generic class, it's a generic type, but because it doesn't have type parameters itself there's no tick in its name, but I'm afraid that changes I made to `SymbolTable.GetName` assume otherwise.

[2017-07-11 21:50] #20888 closed

[2017-07-11 21:52] mellinoe commented on #20711
@KostaVlev Actually, we already have decent coverage of everything in System.Drawing.Text. Were you going to re-submit your tests for `GraphicsPathIterator` ? It is the last large type in Drawing2D that is untested.

[2017-07-11 21:54] caesar1995 commented on #22063
This is the test case:

[code]
I tried to add a rd.xml by using the instructions on the website (http://go.microsoft.com/fwlink/?LinkID=392859), but it's not working

[code]

[2017-07-11 22:03] JonHanna commented on #22103
MAC addresses and having the sequence system-wide is how the Windows `UuidCreateSequential` function does it (and how `UuidCreate` used to do it before the leaking of MAC addresses when not specifically requested was deemed a security risk).

[2017-07-11 22:03] caesar1995 commented on #22063
I fixed this issue, the rd.xml should be like this:

[code]

I will submit a PR for this issue.

[2017-07-11 22:14] svick commented on #22103
I believe "sequential GUIDs" are designed to solve a very specific problem: you want to use GUIDs as a clustered primary key in a database. As such, I think this method might belong in code dealing with databases, but not in the general-purpose `Guid` type. Especially if the implementation does not use any of the standard GUID versions and does not guarantee that the generated GUIDs are globally u

[2017-07-11 22:15] CIPop commented on #20470
@brianrob /cc @davidsh, @DavidGoll we're now getting ETW traces for the test assembly but not from any of the production contracts such as System.Net.NameResolution, Primitives, Security or Sockets:

UWP, running in an app-container:
![image](https://user-images.githubusercontent.com/8635911/28093336-b16a4090-664b-11e7-99e6-a66f33e20a5f.png)

UWPAOT, running outside an app-container:
![image](http

[2017-07-11 22:20] davidsh commented on #20470
Can you try to enable other System.* ETW traces (non System.Net.* ones)?

If those show up and ours don't, then perhaps the problem is the way we have defined our base NetEventSource class?

[2017-07-11 22:25] tijoytom commented on #22063
Yes, another case of xunit using GetMethod on "ToString()"

 	xunit.console.netcore.dll!$79_Xunit::Sdk::ArgumentFormatter.Format(System::Object & value, int depth) Line 120	Unknown	Symbols loaded.
 	xunit.console.netcore.dll!$79_Xunit::Sdk::ArgumentFormatter.Format(System::Object & value) Line 52	Unknown	Symbols loaded.
 	xunit.console.netcore.dll!$79_Xunit::Sdk::TypeUtility.ParameterToDisplayValu

[2017-07-11 22:34] tannergooding commented on #16841
Updated the proposed API to match the approved API.

The API surface that was not approved is:
[code]

[2017-07-11 22:39] yizhang82 commented on #22063
Should we change XUnit to avoid using reflection in this case? It probably doesn't need to display anything when there is no failure.

[2017-07-11 22:48] tijoytom commented on #22063
Here is the offending line https://github.com/xunit/assert.xunit/blob/master/Sdk/ArgumentFormatter.cs#L133

I don't know the specific  of xunit but it seems to call this Format function even for success case .. If you look at the code , it handles case where type.GetRuntimeMethod("ToString"..) return null but we throw a missing metadata exception.

[2017-07-11 23:10] #22113 closed

[2017-07-11 23:23] caesar1995 commented on #22055
With build type=check, the only new information is:

[code]

I will look into this.

[2017-07-11 23:29] pjanotti commented on #22104
Hi @dbol55 this is an issue handled by IDEs (syntax coloring). You can make this suggestion to the Visual Studio team at https://visualstudio.uservoice.com

Thanks

[2017-07-11 23:29] #22104 closed

[2017-07-11 23:37] CIPop commented on #21282
I've talked with @brentschmaltz offline and we believe the fix is to call [CheckTokenMembershipEx ](https://msdn.microsoft.com/en-us/library/windows/desktop/hh448479(v=vs.85).aspx) passing the `CTMF_INCLUDE_APPCONTAINER` flag on uap only.

/cc @DavidGoll @davidsh This fix may not be testable in UAPAOC because of #18760.

[2017-07-11 23:53] pjanotti commented on #22049
Closing since it is a dup of #19110

[2017-07-11 23:53] #22049 closed

[2017-07-12 00:00] brianrob commented on #20470
Good, that's consistent with what I'm seeing.  The reason (or at least one of them) is that non-public surface in CoreFX is automatically reflection blocked unless you opt-out, which means that the EventSource name and GUID are wrong (essentially garbage).  I'm currently working on the steps necessary to fix this.

If you unblock reflection, events should get emitted, but they won't show up proper

[2017-07-12 00:01] brianrob commented on #20470
FYI @tijoytom - please see my previous comment.  This is likely to be impacting all of the EventSources that are in CoreFX - they will likely need to be addressed individually by area owners.

[2017-07-12 00:06] #22063 closed

[2017-07-12 00:12] caesar1995 commented on #22063
I closed the issue via PR #22120. Please re-open the issue, or open a new issue to continue the discussion. Thanks!

[2017-07-12 00:17] pjanotti commented on #22032
My understanding is that this is not possible at this moment, but /cc @livarcocc @terrajobst that can correct me if I'm wrong.

[2017-07-12 00:20] shmao commented on #21709
@kronic  In XML, attribute order is not significant. The order of the attributes after deserialization is thus not guaranteed to be the same as the original one's.

[2017-07-12 00:24] jasondaicoder commented on #18276
guys, has this been fixed or?

[2017-07-12 00:25] corivera commented on #18276
CoreFx SqlClient does not currently support column encryption

[2017-07-12 00:27] morganbr commented on #20470
@brianrob , my understanding is that .NET Native has an IL transformation that is supposed to make EventSource work without reflection. Did that get broken in some way?

[2017-07-12 00:28] Priya91 commented on #22089
libcurl on OSX 10.13, with Libressl fails with error CURLINFO_TEXT: error:14092105:SSL routines:SSL3_GET_SERVER_HELLO:wrong cipher returned.

The server used in the test is just a socket and it uses the certificate from the configuration settings. The certificate as signature_algorithm as sha256RSA. @bartonjs  I don't understand this error, suggests that libressl doesn't support this cipher for tl

[2017-07-12 00:31] balivo commented on #22103
I agree with @svick it's too especial use and not general-purpose... Tks!

[2017-07-12 00:31] jasondaicoder commented on #18276
@corivera, do we have any plans on this feature?

[2017-07-12 00:36] corivera commented on #18276
We don't have any plans for it at the moment, we (SqlClient team) will have to discuss it.

[2017-07-12 00:38] jasondaicoder commented on #18276
Thanks for you info. I think it would be highly demanded feature as column encryption is widely used. Hope to see this feature being implemented soon.

[2017-07-12 00:55] Diego-Perez-Botero commented on #20362
Based on the [MSDN documentation](https://msdn.microsoft.com/en-us/library/system.net.websockets.websocketstate(v=vs.110).aspx), the .NET Framework behavior (also followed by UWP ClientWebSocket) is the most accurate:

Closed | Indicates the WebSocket close handshake completed gracefully.
-- | --

[2017-07-12 01:11] CIPop opened #22128 "API checker issue with CheckTokenMembershipEx"
[CheckTokenMembershipEx](https://msdn.microsoft.com/en-us/library/windows/desktop/hh448479(v=vs.85).aspx)  is documented to have an entrypoint in kernel32.dll but the checker places it in advapi32.dll.

As a workaround I have temporarily added CheckTokenMembershipEx to the ignore file.
[code]

[2017-07-12 01:12] CIPop commented on #22128
/cc @danmosemsft @AlexGhiondea

I have started an discussion with the Windows SDK team.

[2017-07-12 01:22] divega commented on #18276
Related https://github.com/aspnet/EntityFramework/issues/9142.

[2017-07-12 01:53] bartonjs commented on #22089
Do you have https://github.com/dotnet/corefx/pull/22001 in your repro?  I'm wondering if you've hit one of the symptoms @stephentoub ran into (specifically, that if we ask for a single TLS version OpenSSL is in a less-willing-to-negotiate mode).

The scenario seems to work:

[code]
[code]
[code]
[code]

[2017-07-12 02:24] Jiayili1 commented on #19514
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170712.01/workItem/System.Net.Ping.Functional.Tests/analysis/xunit/System.Net.NetworkInformation.Tests.PingTest~2FSendAsyncs_ReuseInstance_Hostname

[2017-07-12 02:31] Jiayili1 commented on #19435
This issue is repro on Core Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170712.01/workItem/System.Net.Ping.Functional.Tests/analysis/xunit/System.Net.NetworkInformation.Tests.UnixPingUtilityTests~2FPacketSizeIsRespected(payloadSize:%200)

[2017-07-12 03:37] #21682 closed

[2017-07-12 04:28] richlander commented on #21982
@Petermarcu who is working in CoreCLR loader these days?

[2017-07-12 05:56] danmosemsft commented on #22093
On these configurations, Environment.SystemDirectory is apparently working. Note it's not working on original Nano which is what is in master.

Anyway, moving out of 2.0 as it doesn't meet bar.

[2017-07-12 05:57] danmosemsft commented on #22087
Unique to this iot config. Does not meet bar for 2.0

[2017-07-12 05:57] danmosemsft commented on #22091
Unique to this Nano config. Does not meet bar for 2.0

[2017-07-12 05:58] danmosemsft commented on #22092
Unique to this Nano config. Does not meet bar for 2.0

[2017-07-12 05:58] danmosemsft commented on #22094
This is because PlatformDetection.IsWindowsNanoServer is returning true even though it's not .

[2017-07-12 06:00] danmosemsft commented on #22088
Unique to this configuratio nand does not meet 2. 0 bar.

[2017-07-12 06:02] danmosemsft commented on #22128
As noted in the PR please use a baseline file instead.
We just need them to fix modernapis.xml

[2017-07-12 06:06] v-haren commented on #19344
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_debian8.4_debug/105/testReport/System.Net.Http.Functional.Tests/ManagedHandler_DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledActivityLogging/

[2017-07-12 06:12] v-haren commented on #21922
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_debug/115/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandler_ServerCertificates_Test/UseCallback_ValidCertificate_ExpectedValuesDuringCallback_url__https___corefx_net_cloudapp_net_Echo_ashx__checkRevocation__True_/

[2017-07-12 06:26] davkean opened #22133 "AsyncLocal<T>.Value boxes Dictionary<TKey, TValue> enumerator allocating ~0.2% of VS open solution"
AsyncLocal<T>.Value and hence (ExecutionContext.SetLocalValue) boxes `Dictionary<TKey, TValue>.Enumerator`:

[code]

![image](https://user-images.githubusercontent.com/1103906/28104349-f66eb176-671d-11e7-857c-0a38ffe5eaf9.png)

Can we add an overload to Dictionary that avoids the box, or manually adding the new values to the dictionary?

Would like this ported to .NET Framework.

[2017-07-12 06:27] davkean commented on #22133
Note, it also appears to box the notifications collection enumerator in the same method - but this is not showing up on the radar.

[2017-07-12 06:33] ysmoradi commented on #22032
@pjanotti Thanks. This is a link of sample traditional ASP.NET Web API/Owin app on top of .NET Core 2 & ASP.NET Core >> https://github.com/ysmoradi/WebApiAspNetCore which works fine with no modification, due all nuget packages are coming from .net 45 folders. But in main app I'm developing, there are nuget packages with .net 47 folder. My .net core app does not restore those .net 47 dlls. But when

[2017-07-12 06:34] dotnet-mc-bot opened #22134 "Test: System.Tests.AppDomainTests/SetData_SameKeyMultipleTimes_ReplacesOldValue failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Tests.AppDomainTests/SetData_SameKeyMultipleTimes_ReplacesOldValue` has failed.

Assert.Equal() Failure\r
    Expected: 42\r
    Actual:   -323331298

        Stack Trace:

           at xunit.console.netcore!<BaseAddress>+0xb071ee
       at System.Tests.AppDomainTests.SetData_SameKeyMultipleTimes_ReplacesOldValue()
       at xunit.console.netcore!<B

[2017-07-12 06:37] brianrob commented on #20592
@AtsushiKan, after fixing EventSource, this it appears that the last remaining issue is that the EventSource type is reflection blocked.  Thus, the EventSource name and GUID can't be retrieved.  I'm not sure if you're the owner, but if you are, then I'd like to ask that you make the call (and change) to fix this.  My understanding is that you can either make the type public or you can opt the enti

[2017-07-12 06:39] v-haren commented on #22085
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_rhel7.2_debug/106/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandler_SslProtocols_Test/GetAsync_SupportedSSLVersion_Succeeds_sslProtocols__Tls__url____https___www_ssllabs_com_10301____/

failed with:
System.Net.Http.HttpRequestException : could not establish SSL connection
System.IO.IOE

[2017-07-12 06:39] brianrob commented on #16881
@AntonLapounov, EventSource is now present and functional in UAPAOT.  You should be unblocked here.

[2017-07-12 06:47] lemmaa opened #22135 "How can I add an unsupported culture/locale?"
I need to support several cultures/locales currently unsupported in .NET Core. Is there any way?

| Culture | Description |
|:-:|:-:|
| 'ckb-IQ' | Which is 'ku-arab-IQ' in .NET's culture notation, but only working on Windows platform. https://github.com/dotnet/coreclr/issues/12759 |
| 'mai-IN' and 'sat-IN' | Which are in ISO639-2 specification, but not supported in .NET Core. http://www.loc.gov/st

[2017-07-12 06:48] Jiayili1 commented on #21379
This issue is still repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170712.01/workItem/System.Runtime.Tests.Execution/analysis/xunit/System.Tests.ArrayTests~2FBinarySearch_SZArray%3CInt16%3E(array:%20%5B-32768,%200,%200,%2032767%5D,%20index:%200,%20length:%201,%20value:%20-32768,%20comparer:%20null,%20expected:

[2017-07-12 06:48] tmds commented on #22098
@Tratcher I wonder if you saw this when using mono?

Mono: new Uri("/tmp", UriKind.RelativeOrAbsolute) -> Absolute

Since Mono 4.2 this behavior can be changed: http://www.mono-project.com/docs/faq/known-issues/urikind-relativeorabsolute/.

[2017-07-12 07:03] nrandell commented on #19408
Related to this - could we have ImmutableHashSet methods as well?

[code]

[2017-07-12 07:04] davkean opened #22137 "StreamReader.DetectEncoding allocates 0.1% of VS open solution"
Looks like StreamReader.DetectEncoding is creating a new `char[]` in some circumstances. This allocates 0.1% of VS open solution.
[code]

![image](https://user-images.githubusercontent.com/1103906/28105687-e09bc996-6723-11e7-8e07-acd8ba0a58e2.png)

Is there a way to avoid change this method to avoid this allocation?

[2017-07-12 07:08] v-haren commented on #21432
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu16.10_debug/105/testReport/System.Net.Security.Tests/NegotiateStreamTest/NegotiateStream_StreamToStream_KerberosAuthWithoutRealm_Success/

failed with:
System.AggregateException : One or more errors occurred. (Unable to read data from the transport connection: VirtualNetwork: Timeout reading the next frame

[2017-07-12 07:17] Jiayili1 commented on #21920
Failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170712.01/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.Directory_Delete_str~2FUnix_NotFoundDirectory_ReadOnlyVolume

[2017-07-12 08:48] JonHanna commented on #22103
Another reason is performance, as (in Windows anyway) the sequential algorithm is faster, especially for large batches.

[2017-07-12 08:53] justinvp commented on #22133
I believe this has already been addressed in .NET Core: https://github.com/dotnet/coreclr/pull/8216

Additionally, Dictionary's constructor has been optimized in Core to avoid the enumerator box allocation when the passed-in IDictionary is Dictionary: https://github.com/dotnet/coreclr/commit/ee52a8ffcaab89524a4137c807bbde65445f61ab

These need to be ported to .NET Framework.

[2017-07-12 09:52] ymor opened #22139 "Xslt recursion incorrect result"
Hi,
We have come across an issue when using the Xslt 1.0 implementation in .Net Core 2.0.0-preview2-006497.

I have committed a sample project at the following location: https://github.com/ymor/NetCore2-XSLTIssue

If you run the tests you will see the test "TestNetCore_InlineCalculation_ReturnsHelloWorld" fails as the output is 'Hllo World' instead of 'Hello World'.  The .net framework 4.6.2 versi

[2017-07-12 10:09] aviviadi opened #22141 "Named pipe stream endpoint cannot be created under application directory"
In order to preserve application's permissions also on the created pipe, I have to create a directory under the temp path. However it will be much easier not to create one, and just use the path of the current running dotnet app.

Currently I'm w/a this by overriding : https://github.com/dotnet/corefx/blob/master/src/System.IO.Pipes/src/System/IO/Pipes/PipeStream.Unix.cs#L28

Can dotnet provide a

[2017-07-12 10:36] sboulema commented on #12384
Just before I wanted to submit my first corefx PR, I noticed this issue goes against the contributing guidelines:

https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/contributing.md

Code changes for this issue are here: https://github.com/sboulema/corefx/commit/9a743d8a9af90abd6a200c9bb7d0e75199c68eed

[2017-07-12 12:11] bencyoung opened #22142 "System.Runtime.Loader not copied to output directory"
Hi,

I'm using 2.0.0-preview1-25305-02 and I have an issue with mixed netstandard and net462 projects in the same solution. Not sure if I'm doing something wrong or if there's something else.

I have a net462 app that loads another net462 dll containing some Unity hosting code. That in turn loads some other dlls, some of which are netstandard2.

On app startup I'm getting:

 ---> System.IO.FileNot

[2017-07-12 12:23] bencyoung commented on #22142
The Usion log looks like

=== Pre-bind state information ===
LOG: DisplayName = System.Runtime.Loader, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a
 (Fully-specified)
LOG: Appbase = file:///F:/Dev/.../src/Examples/ExampleHost/bin/Debug/net462/
LOG: Initial PrivatePath = NULL
Calling assembly : FIS.Risk.Core, Version=0.1.0.0, Culture=neutral, PublicKeyToken=null.
===
LOG: This

[2017-07-12 12:37] jnm2 commented on #22142
I'm interested, running into a similar issue with NUnit.Xamarin too on monoandroid71.

[2017-07-12 13:13] ayende commented on #22141
What we would like to do here is to either be able to specify permissions when we create the pipe, so it is created with atomic permissions, or we can create it on our own path, so we can define the permissions directly on that.

[2017-07-12 13:16] bencyoung commented on #22142
If I drop in a dll from C:\Program Files\dotnet\sdk\NuGetFallbackFolder\system.runtime.loader\4.3.0\lib\netstandard1.5 then I get:

  Resolving FIS.Risk.Core.Logging.NullLogger,(none) (mapped from FIS.Risk.Core.Logging.ILogging, (none))
 ---> System.IO.FileLoadException: Could not load file or assembly 'System.Runtime.Loader, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or on

[2017-07-12 13:17] bencyoung commented on #22142
If I drop in from C:\Program Files\dotnet\sdk\NuGetFallbackFolder\system.runtime.loader\4.0.0\lib\netstandard1.5 then I get:

 Resolving FIS.Risk.Core.Logging.NullLogger,(none) (mapped from FIS.Risk.Core.Logging.ILogging, (none))
 ---> System.TypeLoadException: Could not load type 'System.Runtime.Loader.AssemblyLoadContext' from assembly 'System.Runtime.Loader, Version=4.0.0.0, Culture=neutral, Pu

[2017-07-12 13:25] davkean commented on #22133
Looks like https://github.com/dotnet/corefx/issues/13856 is tracking the port - but it's closed, @AlexGhiondea @karelz How does that work?

[2017-07-12 13:34] hughbe opened #22145 "ComponentResourceManager seems to have different behaviour than netfx"
From #22138

[code]

This test passes with `netcoreapp`, but throws with `netfx`:

[code]

[2017-07-12 13:47] stephentoub commented on #22133
https://github.com/dotnet/corefx/issues/13856#issuecomment-262010744

Any issue/PR marked as `netfx-port-consider` ends up opening a bug in TFS.  It doesn't matter whether the issue is open or closed.

[2017-07-12 13:47] #22133 closed

[2017-07-12 14:12] davkean commented on #22133
Okay, I meant "how do I find the bug?" as it wasn't linked, but I ended up finding it.

I've pointed it to this, to add a litte more data, AsyncLocal.SetValue is basically the cause of 2% of all data when you open a solution:

![image](https://user-images.githubusercontent.com/1103906/28121891-e54032ca-675f-11e7-8824-aa8d0b3141f7.png)

[2017-07-12 14:14] sharwell commented on #19408
@nrandell That would be a different API request. It seems like a reasonable request, but keep in mind that unlike the issue I described above, it could be implemented in your own code until it gets added here.

[2017-07-12 16:07] joperezr commented on #21379
@fadimounir do you mind checking if your fix is already includded in the ILC we use in master?

[2017-07-12 16:12] tarekgh commented on #22135
We pick the cultures from the OS. on Windows we get it from Windows. starting from Windows 10, Windows picks up the cultures data from CLDR. on Linux we get it from ICU which is also picking the culture data from CLDR too. so I suggest you just send your request to the CLDR

http://cldr.unicode.org/

[2017-07-12 16:13] joperezr commented on #22134
@krwq do you mind taking a look?

[2017-07-12 16:18] AtsushiKan commented on #20592
This has nothing to do with Reflection. The event source code was if'd out in uapaot.

[2017-07-12 16:46] joperezr commented on #21696
@MattGal made some changes on re-queueing yesterday to make this more reliable, and I already see that it didn't repro again today, so I'll close this for now.

[2017-07-12 16:46] #21696 closed

[2017-07-12 16:59] MattGal commented on #21696
Yup, the fix is in prod and I've validated it.  It was a VERY subtle bug, but fixed for sure.

[2017-07-12 17:32] moozzyk opened #22152 "NullReferenceException thrown from WinHttpResponseStream.CancelPendingResponseStreamReadOperation()"
An [AppVeyor build failed](https://ci.appveyor.com/project/aspnetci/signalr/build/1.0.1264) for one of the iterations of https://github.com/aspnet/SignalR/pull/657 due to a NullReferenceException apparently thrown from WinHttpResponseStream.CancelPendingResponseStreamReadOperation() with the following stack trace:

[code]

NETStandard library version: NETStandard.Library 2.0.0-preview3-25505-01
Ru

[2017-07-12 17:34] shmao commented on #17302
This was fixed by https://github.com/dotnet/corefx/pull/21762.

[2017-07-12 17:34] #17302 closed

[2017-07-12 17:49] psmulovics commented on #6746
Any news on this item? This would be needed for encrypted password storage for the nuget client.

[2017-07-12 17:52] AntonLapounov commented on #16881
Fixed by #22148.

[2017-07-12 17:52] #16881 closed

[2017-07-12 17:53] brianrob commented on #20592
@AtsushiKan, thanks for fixing this.  I was trying to square your comment with the fact that I spent a bunch of time debugging the code and it was in fact present and running.  It turns out that this issue is tracking two disabled tests in two different places - you can see this in @AntonLapounov comment above.  I debugged System.Threading.Tasks.Dataflow.Tests.EtwTests.TestEtw, which is different

[2017-07-12 18:02] brianrob commented on #20470
@morganbr, there is an IL transform that makes some EventSources work without reflection.  There is a hardcoded list of inbox EventSources that it operates on.  It does have some limitations though - for example it doesn't work if you use localized resources with your EventSource.  I believe there are some other cases, but I can't remember them right now.

[2017-07-12 18:04] #22137 closed

[2017-07-12 18:11] bartonjs commented on #22089
Actually, Steve's change only affects OpenSSL-based SslStream, which we wouldn't have on macOS.

Doing a test more like what we do (using SslStream to open the server side, then using curl to open the client side) I can repro the problem.

The LibreSSL error is that the server side picked a TLS 1.2 cipher suite (in this case, C030 (TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384)) even though the server sai

[2017-07-12 18:12] CIPop commented on #22128
Changed in the PR and updated the description on this issue.

[2017-07-12 18:16] stephentoub commented on #22089
@bartonjs, any chance it's related to https://github.com/dotnet/corefx/issues/21922?  Looks like that's on 10.12, though.

[2017-07-12 18:22] krwq commented on #21415
Moving the remaining test to UWP.6.0.after - I have manually confirmed that this scenario is working but actual fix is more complex (buildtools + remote invoke change) - I have it mostly working locally but currently deprioritizing this test issue in favor of other product issues.

[2017-07-12 18:27] brianrob commented on #20470
It looks like unblocking reflection is what you need to do.  That should be enough to make your events show up when you collect with ETW.  However, I will say that this introduced some failures in the diagnostics tests that I ran (https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/tests/FunctionalTests/DiagnosticsTests.cs).  They were all around missing metadata, so you likely need t

[2017-07-12 18:27] bartonjs commented on #22089
@stephentoub Probably not.
[code]

In the ServerHello Apple indicated TLS 1.0 (protocol 03 01), with cipher suite C0 30.

    02 00 00 4d **03 01** 59 66 63 6b 80 de 7a d5 17 d5
    6c b3 28 8e 84 67 66 62 7f e8 dd f8 be 5e 96 f1
    e5 7b 97 42 2b c6 20 d4 07 fa 52 59 30 a3 ba ad
    94 ad 85 f2 f9 f5 55 a0 4c 64 f3 32 c6 be 59 e3
    ea c9 12 d4 11 c5 32 **c0 30** 00 00 05 ff 01 00 01
    00

We

[2017-07-12 18:30] davidsh commented on #20470
What does that mean specifically?  Are you saying we need to change product source code (various libraries of System.Net.*) to "unblock reflection"?  Does that mean we add rd.xml to product source libraries?  If so, which ones, and how?

[2017-07-12 18:32] bartonjs commented on #22089
https://github.com/libressl-portable/openbsd/blob/libressl-v2.2.7/src/lib/libssl/src/ssl/s3_clnt.c#L889

[2017-07-12 18:34] brianrob commented on #20470
I should also say that if you don't want to unblock reflection, you should be able to mark the types and probably methods public, and that should unblock them for reflection.  This is likely to be preferable because you'll take a size hit for all of the metadata.

[2017-07-12 18:38] JeremyKuhne commented on #15284
Just have brokering left to do here. Waiting on Windows changes.

[2017-07-12 18:40] #21946 closed

[2017-07-12 18:56] brianrob commented on #20470
I spoke with @davidsh about this offline.  He's going to start with marking the types as public and go from there.

[2017-07-12 19:04] krwq commented on #22134
This is related to https://github.com/dotnet/corefx/issues/21680

@AtsushiKan seems to have already fixed it. I have just checked it with freshest bits and seeing that @AtsushiKan's fix has been properly merged https://github.com/dotnet/corefx/commit/e2701613a40a0a0554c0b2e2644e7e5a45a5f585 and is not reproing anymore - previously we saw a failure because we reenabled test but the ProjectN build w

[2017-07-12 19:04] #22134 closed

[2017-07-12 19:06] KostaVlev commented on #20711
@mellinoe I have the ` PathGradientBrush` ready too. I will submitted it when we clear #22157

[2017-07-12 19:10] pjanotti commented on #21892
@MattGal I did validate that and it works as expected. I have the list of tests that Dan added at the top but it will be good if we have some way to check all tests hitting such issue, is that possible?

[2017-07-12 19:10] davidsh opened #22158 "[UWP] HttpClientHandler test GetAsync_IPv6LinkLocalAddressUri_Success fails on UAP"
Exception being thrown from GetAsync() on the tests:

Please see http://go.microsoft.com/fwlink/?LinkID=215849 for details.

Need to debug this more.  Most likely a bug in Windows.Foundation.Uri or the interop layer between System.Uri and Windows.Foundation.Uri. Using Ipv6 link-local addresses in uri's in browsers (IE, Edge, Chrome) works.

example Uri: http://[fe80::3df1:c851:8775:4c5b]:1693/

Mo

[2017-07-12 19:13] davidsh opened #22159 "SendAsync_Cancel_CancellationTokenPropagates throw wrong exception on UAP"
HttpClientHandler test  SendAsync_Cancel_CancellationTokenPropagates() is throwing OperationCanceledException on UAP.  But it throws TaskCanceledException on .NET Core.

[2017-07-12 19:23] davidsh opened #22161 "SendAsync_SendRequestUsingMethodToEchoServerWithNoContent_MethodCorrectlySent test throws on UAP"
Throws when run on UAP and UAPAOT.

        System.Net.Http.HttpRequestException : An error occurred while sending the request.
        ---- System.Runtime.InteropServices.COMException : The text associated with this error code could not be found.
        The requested operation is invalid

[2017-07-12 19:27] davidsh opened #22163 "GetAsync_StatusCode99_ExpectedException fails on UAP"
Running the test with a statuscode value of '99' fails the test on UAP.  On UAP, the GetAsync() does not throw an exception. On .NET Core, it throws.

 Assert.Throws() Failure
 Expected: typeof(System.Net.Http.HttpRequestException)
 Actual:   (No exception was thrown)

Need to investigate to know which behavior is correct.

[2017-07-12 19:33] CIPop opened #22164 "HttpListenerWebSocketTests.SendAsync_SendWholeBuffer_Success hangs in UAP/UAPAOT on Windows 10 Version 1703"
Tracking further investigation for this hang in Windows 10 Version 1703 but not vNext.
This is most likely related to the Windows vNext enhancements for WebSocket buffer management.

/cc @Diego-Perez-Botero

[2017-07-12 19:33] stephentoub commented on #22159
The test is likely just too strict; often in cases where an OperationCanceledException is expected we throw the derived TaskCanceledException.

[2017-07-12 19:38] davidsh commented on #22159
Who or what is "we throw the derived TaskCanceledException"?  Is this code we can change in our UAP HttpClient implementation. Even we decide to won't fix this and adjust the test, it would be nice to understand why there is a difference.

[2017-07-12 19:40] stephentoub commented on #22159
When you await a task from a TaskCompletionSource that's been {Try}SetCanceled, it'll throw a TaskCanceledException; TaskCanceledException derives from OperationCanceledException but carries with it the actual Task in question, to help with debugging for example.  Generally though callers simply expect an OperationCanceledException.

[2017-07-12 19:45] #21282 closed

[2017-07-12 20:06] caesar1995 commented on #22164
This issue is actually dup of #22053.

[2017-07-12 20:08] caesar1995 commented on #22164
When `endOfMessage == false`, the expected behavior is hanging on UWP.

@Diego-Perez-Botero @davidsh

[2017-07-12 20:08] CIPop commented on #22164
@caesar1995 this works fine on RS3 but fails on RS2. Any ideas why?

[2017-07-12 20:15] davidsh opened #22168 "[CI Failure] System.Transactions.Local.Tests failed on NETFX"
Ref: PR #22155.

NETFX CI failure:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/1109/console

12:55:09 D:\j\workspace\windows-TGrou---2a8f9c29\Tools\tests.targets(346,5): warning : System.Transactions.Local.Tests Total: 286, Errors: 0, Failed: 1, Skipped: 0, Time: 6.235s [D:\j\workspace\windows-TGrou---2a8f9c29\src\Syste

[2017-07-12 20:16] caesar1995 commented on #22164
I will test on my RS3 dev box.

[2017-07-12 20:24] caesar1995 commented on #22164
I can confirm the test passed on my RS3 dev box.

I think the reason is here: [here](https://github.com/dotnet/corefx/issues/22053#issuecomment-314282854)

[2017-07-12 20:26] MattGal commented on #21892
@pjanotti  unfortunately while it's possible to fetch all the logs for a run I think this sort of failure can manifest in multiple ways, so it's difficult to say exactly which tests hit it.  @Priya91  has a PR doing a really similar thing right now, she may have greater context as to which other tests need this.

Since the Helix VMs always have ulimit set to 256, anything that reliably fails there

[2017-07-12 20:27] Diego-Perez-Botero commented on #20362
**Tl;DR:** Non-UWP .NET Core should be fixed to adopt the same _WebSocketState.Closed_ behavior as .NET Framework.

From this morning's discussion:

1. ClientWebSocket sends out a close frame whenever **CloseOutputAsync** or **CloseAsync** are called.

2. When **CloseOutputAsync** is called in non-UWP .NET Core, the close frame is sent out and the websocket's state transitions to _CloseSent_, even

[2017-07-12 20:33] stephentoub commented on #20362
It's not clear to me from the description whether the change being proposed would only impact what's returned from properties on the WebSocket class or whether it would impact what's done on the wire.  If the latter, have you validated this against a test framework like https://github.com/crossbario/autobahn-testsuite?  I'd previously validated the managed implementation we use on Unix and which A

[2017-07-12 20:38] CIPop commented on #22164
@caesar1995 in that case, we probably need to do an OS version check similar to what @Diego-Perez-Botero did in the client ws tests.

[2017-07-12 20:38] Diego-Perez-Botero commented on #20362
The change being proposed is limited to the _ClientWebSocketState_ transitions (i.e., property value returned to the app). What's being sent down the wire should remain as-is.

[2017-07-12 20:39] davidsh commented on #20362
+1 on the autobahn test suite.  We used it extensively when we first implemented websocket protocol across many components in Windows and .NET Framework.

[2017-07-12 20:45] Diego-Perez-Botero commented on #22164
Caesar is right. This hang doesn't happen in RS3 because of my #21102 fix. If you look at the test case's code, this one is trying to **receive** a partial message (endOfMessage==false) in some _InlineData_ combinations. The receive is carried out using a **ClientWebSocket** object, so that will only work post-#21102 in RS3 machines.

[2017-07-12 20:47] Diego-Perez-Botero commented on #22164
I think that this issue can be closed, and @CIPop's suggestion of adding the OS version check would be appropriate.

[2017-07-12 20:48] Diego-Perez-Botero commented on #22164
@caesar1995 there should be a **PartialMessagesSupported** ConditionalTheory clause like the one used in [SendReceiveTests,cs](https://github.com/dotnet/corefx/blob/09d029cbe1734ffb4f2ee5f259acfd69ea172158/src/System.Net.WebSockets.Client/tests/SendReceiveTest.cs):

[2017-07-12 20:48] pjanotti commented on #21892
@MattGal @danmosemsft the fix itself is very simple (see #22124 mentioned above) and I confirmed the setting taking effect inside the test code (via getrlimit API on a macOS). The hard part now is finding which tests we want to apply that and the respective value for the limit. I am a bit hesitant of applying it without the owners of each area first checking the tests and the respective limit, whi

[2017-07-12 20:51] DnlHarvey commented on #19585
Fixed with https://github.com/dotnet/corefx/pull/22162

[2017-07-12 20:51] #19585 closed

[2017-07-12 20:51] caesar1995 commented on #22164
@CIPop do you want to add the ConditionalTheory in #22114? Or I can do that after the PR is merged.

[2017-07-12 21:02] shmao commented on #21091
https://github.com/dotnet/corefx/issues/19585 was fixed. Closing the issue.

[2017-07-12 21:02] #21091 closed

[2017-07-12 21:03] weshaggard commented on #21807
@JonHanna does that just happen sometimes? I've not seen that particular error.

[2017-07-12 21:12] stephentoub opened #22171 "Can we delete ValueTask.CreateAsyncMethodBuilder?"
https://github.com/dotnet/corefx/blob/5a6d8ca975b512eeeea7404c740afcf865128405/src/System.Threading.Tasks.Extensions/src/System/Threading/Tasks/ValueTask.cs#L156-L161

This CreateAsyncMethodBuilder function was used as part of the initial C# compiler design for supporting arbitrary async return types, but the final design switched away from needing it.  Unfortunately we neglected to then remove th

[2017-07-12 21:14] jkotas opened #22172 "Azure Active Directory on .NET core on a Mac"
_From @glenster75 on July 11, 2017 0:8_

I'm following the sample code from: https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-webapp-openidconnect-aspnetcore/ On Windows 10 with Visual Studio 2017 it works fine, but when developing on my Mac, I cannot figure out why "await HttpContext.Authentication.ChallengeAsync" does not work on Mac. It crashes dotnet. Please see scre

[2017-07-12 21:17] qizhanMS commented on #22168
Can we skip System.Transactions.Local.Tests on NETFX?

[2017-07-12 21:24] CIPop commented on #18188
@steveharter there is an ActiveIssue label on these tests so they couldn't run. Please don't close issues that are referenced in code.

[ActiveIssue(18188, platforms: TestPlatforms.Windows)] // Indeterminate failure - socket not always fully disconnected.

[2017-07-12 21:28] krwq opened #22174 "S.D.Process tests are failing on uap"
Currently all S.D.Process tests are disabled (https://github.com/dotnet/corefx/issues/20948).
I'm planning to reenable not failing tests and substitute that issue so that only relevant tests are disabled.

<details>
<summary>List of failing tests on uap</summary>

[code]

</details>

They are related to RemoteInvoke not giving back process handle

[2017-07-12 21:30] CIPop commented on #22164
I've just merged that. Feel free to add the condition.
It's best if we could add it to the common/test folder since it's going to be shared between WS and HttpListener.

[2017-07-12 21:31] #20135 closed

[2017-07-12 21:31] caesar1995 commented on #22164
Sure, I will look into this.

[2017-07-12 21:33] caesar1995 commented on #22053
The behavior now is documented by @davidsh : https://github.com/dotnet/corefx/wiki/ApiCompat

[2017-07-12 21:34] davidsh commented on #14691
Added documentation to https://github.com/dotnet/corefx/wiki/ApiCompat

[2017-07-12 21:37] CIPop commented on #22053
I think it's good that we have documented the limitation but I still think fixing this may be valuable for developers in the future. Unfortunately the fix depends on Windows and cannot be achieved by modifying CoreFX.

[2017-07-12 21:49] Suryamadhan opened #22177 "Building tests not successful on Mac OSX"
Hi,
I was trying to build core fx tests on my Macbook with OSX 10.12.3 and it failed to build the tests.

I cloned corefx yesterday, I was able to build successfully. But when I built and ran the test using
build-tests.sh I ran into errors.

Here is the test execution summary. I have also attached the relevant files.

[Archive.zip](https://github.com/dotnet/corefx/files/1143416/Archive.zip)

[code

[2017-07-12 22:08] CIPop commented on #22056
Most likely a duplicate of ##20482.

[2017-07-12 22:14] #21961 closed

[2017-07-12 22:16] mellinoe commented on #21807
Hm. I have not seen this either, and the log has since expired. It seems very rare, so I don't think it is having much impact.

[2017-07-12 22:27] weshaggard commented on #19305
This issue actually occurs when trying to build corefx for any new OS where we don't know about the RID. Some folks are also hitting this on OSX.10.13.

To work around this on folks can explicitly pass in the following property:
[code]

This issue will likely get handled as part of this PR https://github.com/dotnet/corefx/pull/21032.

[2017-07-12 22:31] Petermarcu commented on #19305
In 2.0 we intentionally moved to "portable" rids. I assume this issue is not about tracking the fix to the infra to infer the portable rid instead of the specific one?

[2017-07-12 22:34] JonHanna commented on #21807
There was a spate of them at the time I reported this, but I haven't seen it since.

[2017-07-12 22:34] #21807 closed

[2017-07-12 22:44] davidsh commented on #22163
Discussed with team. HTTP status code of '99' is allowed in Wininet (and thus Windows.Web.Http) for historical reasons.  Will change the test to ignore that value on UAP platform.

[2017-07-12 22:47] #22152 closed

[2017-07-12 22:52] mellinoe commented on #20711
@KostaVlev Ah, great to hear. That will just about do it for Drawing2D, I believe.

[2017-07-12 23:15] balivo commented on #22103
How I could validate the generation of unique sequential Guids? I made some tests and everything works good... @jnm2

[2017-07-12 23:15] weshaggard commented on #19305
Yes I think this issue is about moving to consuming our portable assets for our external dependencies.

[2017-07-12 23:29] Unvilon opened #22184 "Cannot access Kerberos ticket. Ensure Kerberos has been initialized with 'kinit'."
Hello, I have mssql-server installed on Debian 8. I'm using 2.0.0-preview2-final packages.
When it's trying to connect to local mssql server, I'm getting the following error:

[code]

I successfully connected to the mssql server remotely using the same net core app from Windows. But I can't connect to the server when it's running locally on Linux.

The question: what's going wrong? Why do I need t

[2017-07-12 23:34] brianrob commented on #20511
@tijoytom, it looks like this is because there is a copy of ArrayPoolEventSource in System.Private.CoreLib that does nothing.  The compiler produces code that calls Object..ctor because it's functionally equivalent to an Object allocation.

It also looks like the ArrayPool implementation has been pulled into System.Private.CoreLib, so it's likely that the EventSource needs to be pulled in as well.

[2017-07-12 23:42] joperezr commented on #21392
Looks like the reason why the tests are now hanging is because there was a regression on one of the PInvokes that we call to create the namedPipeServer after RS1. There is a bug open and tracked by Windows, but once they fix it we will need to re-enable these tests.

[2017-07-12 23:43] anurse commented on #20362
The .NET Framework behavior sounds like the correct behavior to me, and it shouldn't affect autobahn compliance. Obviously it should be re-verified after the change to ensure it remains compliant. Are the autobahn tests part of the automated tests for this component?

[2017-07-12 23:46] joperezr commented on #21379
apparently making the ILCBuildType chk will have these tests pass so we could use that as a workaround.
[code]

[2017-07-12 23:50] Petermarcu commented on #21982
@kouvel can probably take a look soon.

[2017-07-12 23:57] geleems commented on #22184
@Unvilon When SQL server is installed locally in Windows, and you are trying access it with Integrated Authentication, NTLM will be used as negotiation protocol, and you do not need to setup anything for it because NTLM will be handled by Windows automatically. There is nothing like NTLM in Linux though. When you access local SQL server Linux with Integrated Authentication, Kerberos protocol will

[2017-07-13 00:14] caesar1995 commented on #22055
I finished investigating, this line of code causes trouble:

[code]

The official API for `Array.CreateInstance` is as below
[code]
The `lowerBounds` can be arbitrary value, as long as the Length is == lengths.Length. See [the my demo here: ](http://rextester.com/GAH80409)

Obviously, this feature is not supported in .Net Native. I am not sure if it's by design (expected behavior) or not.

@davids

[2017-07-13 00:19] davidsh commented on #22055
@tijoytom @yizhang82 can you help here?  It looks like a bug in .NET Native.

[2017-07-13 00:37] Diego-Perez-Botero commented on #20132
After #22183, there are no remaining UAP-specific ActiveIssue or SkipOn* annotations in the entire System.Net.WebSockets* namespace.

[2017-07-13 00:37] #20132 closed

[2017-07-13 00:39] davidsh opened #22187 "GetAsync_RequestHeadersAddCustomHeaders_HeaderAndValueSent failing on UAP"
The HttpClientHandler test GetAsync_RequestHeadersAddCustomHeaders_HeaderAndValueSent is failing on UAP.  It fails when it tries to send a custom header with an empty value:

[code]

This is a bug in WinRT HttpClient.

Opened internal bug 12743908

[2017-07-13 00:54] davidsh opened #22191 "PostAsync_RedirectWith307_LargePayload test fails on UAP"
System.Net.Http.HttpRequestException : An error occurred while sending the request.
---- System.Runtime.InteropServices.COMException : The text associated with this error code could not be found.
        The HTTP redirect request must be confirmed by the user

[2017-07-13 01:00] davidsh opened #22192 "SendAsync_SendRequestUsingNoBodyMethodToEchoServerWithContent_NoBodySent fails in UAP"
The HttpClientHandler test fails with using the TRACE verb.

 System.Net.Http.HttpRequestException : An error occurred while sending the request.
 ---- System.Runtime.InteropServices.COMException : The text associated with this error code could not be found.
        The requested operation is invalid

Needs investigation. Most likely a WinRT HttpClient behavior difference.

[2017-07-13 01:06] davidsh commented on #22192
Both the HEAD and TRACE verbs do not allow a content to be sent as per HTTP RFC.

With .NET Core, the behavior is to ignore the request content body but still send the request for the HEAD or TRACE verbs.

UAP platform will throw exception for TRACE verb with a content.  But HEAD verb with a request content will work; the request content will be ignored.

Also, .NET Framework has a slightly differ

[2017-07-13 01:20] #17764 closed

[2017-07-13 01:42] dpypin opened #22195 "Parallel requests with WinHttpHandler throws exception "The server returned an invalid or unrecognized response""
According to different recommendations I use only one instance of HttpClient in my app. I need to make HTTP/2 calls, so I use WinHttpHandler. I noticed that when I run several requests simultaneously some of them fail with

The following code reproduces this issue.

[code]

SharedClient parameter controls if requests will use shared (true) or separate httpClients (false), ParallelExecution control

[2017-07-13 01:54] Jiayili1 commented on #20390
Failed again on Core Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170713.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ManagedHandler_DiagnosticsTest~2FSendAsync_ExpectedDiagnosticCancelledLogging

[2017-07-13 01:55] Jiayili1 commented on #21922
Failed again on Core Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170713.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_ServerCertificates_Test~2FUseCallback_ValidCertificate_ExpectedValuesDuringCallback(url:%20https:~2F~

[2017-07-13 01:58] yizhang82 commented on #22055
Assuming this is by design, this scenario should be disabled.
/cc @MichalStrehovsky @davidwrighton

[2017-07-13 02:03] davkean commented on #22137
Thanks!

[2017-07-13 02:17] #22159 closed

[2017-07-13 02:17] #22163 closed

[2017-07-13 02:17] #22192 closed

[2017-07-13 02:26] davidsh commented on #21922
Error:
Assert.Equal() Failure\nExpected: None\nActual:   RemoteCertificateChainErrors

Note: This is a strange error because the SSL certificate is perfect for the corefx-net.cloudapp.net server.  So, this looks like a bug in the OSX HTTP stack.

[2017-07-13 02:27] v-haren commented on #19344
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/107/testReport/System.Net.Http.Functional.Tests/ManagedHandler_DiagnosticsTest/SendAsync_ExpectedDiagnosticStopOnlyActivityLogging/

[2017-07-13 02:30] davidsh opened #22196 "Fix UAP HttpClient to match behaviors with other platforms regarding invalid status codes"
Reference: comment in PR https://github.com/dotnet/corefx/pull/22193

The test currently skips the behavior difference on UAP due to WinRT (wininet) behavior differences.

[code]

Is it possible to workaround this difference and fix it in the .NET layer, i.e. to throw exception when receiving invalid status codes from a server?

[2017-07-13 02:38] davidsh commented on #22161
Pinned behavior with PR #22155.

[2017-07-13 02:41] jnm2 commented on #22103
@balivo Even across processes and machines?

[2017-07-13 02:48] #21437 closed

[2017-07-13 02:58] davidsh commented on #22161
The WinRT HttpClient is not allowing any use of the "TRACE" verb.

It is returning an error, ERROR_INTERNET_INVALID_OPERATION.
--

[2017-07-13 03:02] davidsh commented on #22161
Tracing internal bug 12745122

[2017-07-13 03:03] brianrob commented on #20579
Fixed via #22185.

[2017-07-13 03:03] #20579 closed

[2017-07-13 03:17] CIPop commented on #22055
@yizhang82 is there something similar to https://github.com/dotnet/corefx/wiki/ApiCompat that we can reference for `Array`? /cc @terrajobst

[2017-07-13 03:55] MichalStrehovsky commented on #22055
Yes, these should be disabled on platforms that don't support non-zero lower bounds (UAPAOT is such platform). Look around for `PlatformDetection.IsNonZeroLowerBoundArraySupported` to find tests that do that in this repo and to see how to do the disabling.

[2017-07-13 04:22] KostaVlev commented on #20711
I don't see anybody working on `System.Drawing.Imaging`  `ImageAttributes` and I think to take it...?

[2017-07-13 04:44] hughbe commented on #20711
@KostaVlev go ahead pal

[2017-07-13 04:48] hughbe commented on #20711
And thanks for jumping ahead and writing the tests. Something called life has got in the way of my contributions recently and @norek is unavailable too, so grab what you like (apart from Graphics.cs which I'm slowly working away on when I have time)

[2017-07-13 04:49] steji113 commented on #8655
@JeremyKuhne / @karelz I have created a task list here to track progress / steps on this effort. Not sure if we want to hoist this to the top level issue description or not.

- [x]  Remove preemptive checks in CoreFX
- [ ]  Disable / fix PathTooLongException related tests in CoreFX in preparation for CoreCLR changes
- [ ]  Remove preemptive checks in CoreCLR
- [ ]  Get CoreCLR bits into CoreFX
- [

[2017-07-13 05:39] pjanotti commented on #22177
@Priya91 this is a repro of #13309. Initially I was able to repro it on my Mac and I noticed that the returned by `Dns.GetHostName()` had a suffix `".local"`. The tests passed when I hard coded the name of the machine without the suffix. The strange part is that after I experimented calling `gethostname` from libc and some other steps I lost the repro. I am going to try to clean up to see if I can

[2017-07-13 06:09] Jiayili1 commented on #21693
This issue is still repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170713.01/workItem/Microsoft.VisualBasic.Tests/analysis/xunit/Microsoft.VisualBasic.CompilerServices.Tests.OperatorsTests~2FAddObject_Convertible_ReturnsExpected(left:%2015,%20right:%2018446744073709551615,%20expected:%2018446744073709551630)

[2017-07-13 06:20] dotnet-mc-bot opened #22203 "Test: System.IO.Tests.StreamReaderTests/DetectEncoding_EncodingRoundtrips failed with "System.Reflection.MissingMetadataException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.StreamReaderTests/DetectEncoding_EncodingRoundtrips` has failed.

System.Reflection.MissingMetadataException : This operation cannot be carried out because metadata for the following object was removed for performance reasons:\
    \
      EETypeRva:0x0005EE58\
    \
    No further information is available. Rebuild in debug mode for better i

[2017-07-13 06:27] dotnet-mc-bot opened #22204 "Test: XmlSerializerTests/Xml_VerifyCompilationIssueOnly failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `XmlSerializerTests/Xml_VerifyCompilationIssueOnly` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.InvalidOperationException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at T Xunit.Assert.Throws[T](Action) + 0x3b
       at Void XmlSerializerTests.AssertSerializationFailure[T, ExceptionType]() + 0xab

[2017-07-13 07:11] dotnet-mc-bot opened #22205 "Test: System.Diagnostics.Tests.ProcessTests/TestExitTime failed with "TestExitTime is incorrect""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.ProcessTests/TestExitTime` has failed.

TestExitTime is incorrect. TimeBeforeStart 7/13/17 12:51:12 AM Ticks=636355038728165136, ExitTime=7/13/17 12:51:12 AM, Ticks=636355038727555168, ExitTimeUniversal 7/13/17 12:51:12 AM Ticks=636355038727555168, NowUniversal 7/13/17 12:51:12 AM Ticks=636355038727559263
    Expected: True
    Actu

[2017-07-13 07:12] Jiayili1 commented on #22205
Closed Issue: https://github.com/dotnet/corefx/issues/16489

[2017-07-13 07:36] TechWatching commented on #21824
Partially solved so I will close it as there is a way around the issue. If I already have a connection opened with SSMS, requests from vs code work correctly. Issue probably due to a configuration specific to my company.

[2017-07-13 07:46] Unvilon commented on #22184
@geleems I know it, but I has provided username/password to connect server locally and it still requires Kerberos ticket.
Also, I didn't access SQL server installed locally on Windows. I accessed SQL server installed on Linux.

Is there way to connect the server locally without Kerberos installed?

[2017-07-13 08:09] jmezach opened #22206 "Editor support on Linux / macOS"
During a meetup together with @karelz on July 11th I did a talk on contributing to .NET Core. In my talk I talked about the editors you can use with the code base. My conclusion was that on Windows its all fine with Visual Studio, but on other platforms the experience is quite limiting.

The contributor docs currently suggest using Visual Studio for Mac on macOS, but it doesn't want to open the pr

[2017-07-13 08:59] v-haren commented on #21434
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/122/consoleFull#136046166483554902-aff0-4799-9e92-0ada24ce2a06

[2017-07-13 09:24] Ricciolo opened #22208 "Proposal: Enumerable.One"
Hi all!
What do you think about add this method?
`public static IEnumerable<TSource> One(TSource element)`

Many times I have to create an IEnumerable for just one element and I've to create an array or use a (local) function with yield.
Useful?

[2017-07-13 09:32] JonHanna commented on #22208
Duplicate of #3093

[2017-07-13 09:34] Ricciolo commented on #22208
Sorry

[2017-07-13 09:34] #22208 closed

[2017-07-13 09:38] Ricciolo commented on #3093
My 2 cents: I like `Yield` 👍

[2017-07-13 11:12] lemmaa commented on #22135
Thank you @tarekgh. However, even though I confirmed that all three languages, mai-([Maithili](http://www.unicode.org/cldr/charts/31/by_type/locale_display_names.languages__k-n_.html#4d3b6ddb764c35bf)), sat-([Santali](http://www.unicode.org/cldr/charts/31/by_type/locale_display_names.languages__o-s_.html#27b56249788fd1e)) and tu-([Tulu](http://www.unicode.org/cldr/charts/31/by_type/locale_display_

[2017-07-13 12:26] hughbe opened #22210 "Add xunit.analyzers to corefx infrastructure"
I just saw a PR in Roslyn: https://github.com/dotnet/roslyn/pull/20814

The Anlayzer found multiple missing facts, etc. Etc.  This could benefit corefx as well.
I'm not sure how to integrate this in a non-intrusive way - VS integration by default would be a super plus

[2017-07-13 12:36] karelz commented on #8655
I added link to your post with the list into top-post. That should be enough and you have permissions to update status as well ...

[2017-07-13 12:43] karelz commented on #22032
@ysmoradi did you try latest Preview2?
I have seen demos of Desktop NuGet packages being referenced from .NET Standard library. I assume same can happen from .NET Core library/app.

[2017-07-13 12:44] PinpointTownes opened #22211 "The type 'ECCurve' exists in both 'System.Core' and 'System.Security.Cryptography.Algorithms' when targeting .NET Framework 4.7"
I'm currently porting my ASP.NET Core OIDC server from 1.0 to 2.0 and I'm facing a strange error that appears in a class library targeting `netstandard2.0`, `netcoreapp2.0` and `net47` and using the new `ECCurve` type (introduced in `netstandard1.6` and `net47`):

https://github.com/PinpointTownes/AspNet.Security.OpenIdConnect.Server/blob/31f43c4769d5400ab0f09760a5bb631807916a75/src/AspNet.Securit

[2017-07-13 12:45] karelz commented on #22040
@mellinoe was working on crash dump collection, but likely not ARM. You might want to check with him what is possible ...

[2017-07-13 12:48] karelz commented on #22206
@weshaggard is it something that worked in the past and regressed?

[2017-07-13 12:57] jamesqo commented on #3093
@karelz Can we mark as ready-to-review for `Yield`? 6 people are in favor, with none opposed so far.

[2017-07-13 13:01] karelz commented on #3093
I let area experts to decide - @VSadov @OmarTawfik what do you think?

[2017-07-13 13:01] iSazonov commented on #9350
In PowerShell Core repo we plan to migrate `Test-Connection` cmdlet from WMI to .Net. It would be good to fix the Issue - I still see it [here](https://github.com/dotnet/corefx/blob/7ce4889d1de78d251d7e536ee174ff8640fa8583/src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Unix.cs#L71).

[2017-07-13 13:07] karelz commented on #21591
@gokarnm thanks for submitting your PR! I have sent you collaborator invite, so that we can assign the work item to you. Please ping us when you accept (assigning temporarily to myself).

ProTip: Disable notifications for CoreFX repo (automatic for collaborators), otherwise it will DoS you (400-500 notifications daily)

[2017-07-13 13:36] ysmoradi commented on #22032
@karelz Yeah, I'm using latest previews. I think this is a bug in sdk and (dotnet restore | dotnet add package). Because you can fix all problems with a simple folder rename in nuget package folder.

This is a sample of app I'm talking about >> https://github.com/bit-foundation/bit-framework/tree/master/Samples/WebApiSamples/6WebApiDotNetCoreHost This is a "traditional asp.net web api / owin" samp

[2017-07-13 13:49] jamesqo commented on #3093
As a reminder, the current API proposal is

[code]

with the second overload slated to be released when `params IEnumerable<T>`is implemented in Roslyn.

[2017-07-13 14:24] stephentoub commented on #21434
That's not a failure in this test (and that run was Win7)... build tools couldn't be restored, meaning nothing was actually built or run.

[2017-07-13 14:31] bartonjs commented on #22211
@weshaggard Is the problem that the unification package is built against net461? Or that you have to reference a unification package explicitly? (Or some other piece of packaging and distribution that I don't quite understand? :smile:)

[2017-07-13 15:06] mqudsi opened #22215 "Cannot install Microsoft.NETCore.UniversalWindowsPlatform as NuGet dependency for .NET Core Library"
I suppose this is more of a "known issue" or even possibly a "by design," but according to the breakdown chart of the different .NET frameworks and how everything fits together with .NET Core 1.0 and now 2.0, shouldn't `Microsoft.NETCore.UniversalWindowsPlatform` be available as a package that can be installed as a dependency for any .NET Core project, though only available on Windows?

As it curr

[2017-07-13 15:44] joperezr commented on #22080
Closing since this problem doesn't repro any longer.

[2017-07-13 15:44] #22080 closed

[2017-07-13 15:47] joperezr commented on #22203
I'll take a look at this today. cc: @JeremyKuhne

[2017-07-13 15:48] joperezr commented on #22204
@krwq can you take a look at this XmlSerializer test failure?

[2017-07-13 15:49] joperezr commented on #21693
I'll take a look today.

[2017-07-13 16:05] weshaggard commented on #22206
I've personally never tried so I'm not sure if they have worked or not. I do think they should work and we should use this issue to track fixing them.

Both of those errors appear to be related to our use of portable targets. @mellinoe IIRC you did some work in the past to make that work on non-windows command line builds. Perhaps we need to do some more work to get these editors working as well.

[2017-07-13 16:08] AtsushiKan commented on #16567
Also, this version still can't resolve all ambiguities - consider this case:

[code]

when you're instantiating on "int". All overload rules are permissive enough that you're always going to have trouble if you do the signature comparion post-substitution. You lose information during that substitution that's needed in some cases.

If we're going to add new apis, we should do it right and make sure

[2017-07-13 16:09] chrismcv commented on #15287
@saurabh500 I see from the linked issue that the now released `4.3.1` might sort this.... I'm running into a similar, but maybe different issue.

1) I set my pooling=true, and maxpoolsize=20
2) I `ab -n 1000 -c 20 http://my-app/test-endpoint` - the pooling setting is respected
3) I repeat a couple of times, still all is fine
4) I wait 15 minutes, and repeat. The connections have doubled in `sys.pr

[2017-07-13 16:12] tarekgh commented on #22135
What should I do?

It depends on the OS version you are running on. Windows 10 for example snap a specific version of CLDR and use it. if you are using Windows 10 please let me know what exactly the version you have and I can tell you when Windows will pick the updated CLDR data.

CC @jefgen from Windows team to help if you have any request here.

If you are using Linux based system, you'll need t

[2017-07-13 16:30] Clockwork-Muse commented on #22103
@balivo -
Validate them how?  For uniqueness?  For sequential-ness?  Both would require you to keep a (presumably large) database of the ones you've seen, timestamped with the finest granularity you can manage (which may not be enough if your code is fast enough).

Note that attempting to validate the individual values is not only problematic, but doomed to failure.  It's like trying to validate t

[2017-07-13 17:14] mellinoe commented on #22206
Yeah, I've thought about this before, and I believe this is what we need to do. It will also get rid of some messiness in our tools initialization related to MSBuild and custom targets. I think we are all a bit burned out on major build system overhauls at the moment, though...

Another related issue is that debugging in VS Code no longer works (or didn't as of a few weeks ago). I doubt that is re

[2017-07-13 17:33] AntonLapounov commented on #22040
I disabled the workaround and ran System.Linq.Parallel.Tests in a loop on an ARM device. The test passes every run, just takes a long time to finish (1,000–1,300 seconds on a quad-core machine).

[2017-07-13 17:33] #22040 closed

[2017-07-13 17:45] davidsh commented on #22055
@MichalStrehovsky I don't quite understand what you're saying.   Do you consider this a feature limitation of .NET Native and thus our tests need to be adjusted or disabled?

Or do you consider this a bug in the .NET Native compiler that your team needs to fix?

[2017-07-13 17:50] MichalStrehovsky commented on #22055
@davidsh We don't support it and have no plans to implement it.

[2017-07-13 17:52] caesar1995 commented on #22055
Thank you for your reply, I will disabled the test with `PlatformDetection.IsNonZeroLowerBoundArraySupported`.

[2017-07-13 17:54] joshfree commented on #22040
@AntonLapounov instead of closing, should this go to @fadimounir to investigate the long running time problem?  Is this USG related?

[2017-07-13 18:02] AntonLapounov commented on #22040
@joshfree I don't know whether it has anything to do with USG.  There are 186,403 tests in this assembly, and the execution time seems reasonable to me.

[2017-07-13 18:11] Clockwork-Muse commented on #22040
If you're getting 180k+ tests, you're probably also running the outerloop tests (the majority of which are combinatorial operations).  Which includes things like explicit timeouts, waits for additional threads, etc.

[2017-07-13 18:13] #21709 closed

[2017-07-13 18:22] corivera commented on #22077
There are known issues with this test class due to flaky test proxy server setup.

[2017-07-13 18:25] davidsh commented on #22038
Closing this now since the question has been answered. The current behavior is by-design.

[2017-07-13 18:25] #22038 closed

[2017-07-13 18:25] VSadov commented on #19129
So, is it the same as #21804 ? Should it be just made a duplicate?

The code in https://github.com/dotnet/corefx/blob/master/src/System.Linq.Expressions/src/System/Linq/Expressions/Interpreter/LightLambda.cs#L431-L453

is a very trivial kind of code. I doubt very much it is anything that needs be done on the side of Linq.Expressions

[2017-07-13 18:27] davidsh commented on #21790
CLosing this issue now that the question has been answered.

[2017-07-13 18:27] #21790 closed

[2017-07-13 18:29] #21693 closed

[2017-07-13 18:29] davidsh commented on #20816
What is the behavior on .NET Core?  This repo tracks issues for .NET Core.  Bug/issues for .NET Framework are tracked elsewhere.

[2017-07-13 18:32] gokarnm commented on #21591
@karelz , thanks for the invite! I've accepted it.

[2017-07-13 18:46] tarekgh commented on #21426
OSX 10.13 upgraded to use ICU 5.9.1 version (it used 5.7.1 before). in this version they have changed the ILS native currency name from "ש״ח" to "שקל חדש".

We need to update the test to handle this version. I am expecting to see the same issue on any Linux distro start to use ICU 5.9.1

[2017-07-13 18:48] tarekgh commented on #21425
OSX 10.13 upgraded to use ICU 5.9.1 version (it used 5.7.1 before). Looks they have changed the negative currency pattern for fa-IR

We need to update the test to handle this version. I am expecting to see the same issue on any Linux distro start to use ICU 5.9.1

[2017-07-13 18:49] #20948 closed

[2017-07-13 18:50] tarekgh commented on #21433
OSX 10.13 is using a new version of tzfile (time zone files). We have a hack in our tests to avoid failing with specific time zones (e.g. Australia/Sydney). More details about that can be found in https://github.com/dotnet/corefx/issues/3211.

We'll need to update the test to exclude this hack when running on OSX 10.13

[2017-07-13 18:51] safern opened #22222 "ILC Failed to compile to test projects in multi file mode"
ILC failed to compile System.Linq.Expressions.Tests and System.Runtime.Tests in multi file mode.

Multi file is enabled in:

- Release-x64
- Debug-x86

cc: @joshfree

[2017-07-13 18:54] tijoytom commented on #20511
@danmosemsft @karelz Who owns System.Buffer ?

[2017-07-13 18:54] safern commented on #19129
This is the same as #21804 which was already fixed we don't see this failing anymore and the tests are running on ret mode. So closing this one.

[2017-07-13 18:54] #19129 closed

[2017-07-13 18:59] AlexGhiondea commented on #20511
@tijoytom can you tell me more about why is this related to Buffer?

[2017-07-13 19:03] tijoytom commented on #20511
@AlexGhiondea See @brianrob comment above ..ArrayPoolEventSource is in System.Buffer

[2017-07-13 19:04] AlexGhiondea commented on #20511
@safern it looks like you own System.Buffers. Can you take a look?

[2017-07-13 19:04] tijoytom commented on #20511
@AlexGhiondea  I meant to say ArrayPoolEventSource need to be implemented for UAPAOT..

[2017-07-13 19:08] AlexGhiondea commented on #20511
@tijoytom @brianrob if this is about implementing/porting the EventSource code to UWPAOT then whoever owns EventSource should do that -- is that you @brianrob ?
If there is a bug in System.Buffers that prevents the code from working then @safern can take a look.

[2017-07-13 19:11] brianrob commented on #20511
@AlexGhiondea, the issue is that when System.Buffers was ported to System.Private.CoreLib, its EventSource was not ported.  Thus, the code in CoreFX isn't even being used.

If you want to have an EventSource present in UAPAOT for System.Buffers, then the owner of System.Buffers needs to do that.  This has nothing to do with EventSource functionality.  Put another way, the owners of EventSource don

[2017-07-13 19:12] tijoytom commented on #20511
@AlexGhiondea Yes it's about implementing / porting event source provider for Arraypool ..ie ArrayPool want diagnostics information , so it use event source for it ... @brianrob owns event source itself, not libraries that  use it .. So it's up to the library owner to make sure it works on UAPAOT

[2017-07-13 19:13] AlexGhiondea commented on #20511
@tijoytom @brianrob that makes sense. Thanks for clarifying.

@safern can you take a look and see what the work would be?

[2017-07-13 19:26] sepidehMS commented on #21351
So, this test passes on Uap and fails on UapAot. I tracked down the issue to the way we implement `ValueType.GetHashCode` on [corert](https://github.com/dotnet/corert/blob/5eb13f077ffddbaba63e18fadcf141524f78c1c8/src/System.Private.Reflection.Execution/src/Internal/Reflection/Execution/ReflectionExecutionDomainCallbacksImplementation.cs#L237) and [coreclr](https://github.com/dotnet/coreclr/blob/ma

[2017-07-13 19:29] corivera commented on #22077
Issue does not repro for me. Moving this issue to future, since it's likely an issue with the tests themselves rather than a product issue.

[2017-07-13 19:35] fadimounir commented on #21379
This is a codegen bug with signed arithmetics. Looks like it's affecting SByte.CompareTo and Int16.CompareTo.

Here's a comparison between codegen for SByte.CompareTo with optimizations and without optimizations:

636008DA  ldr         r3,[sp,#this]
636008DC  ldrsb       r2,[r3]  						=> 00000000
636008E0  ldrsb       r3,[sp,#value]  					=> FFFFFF80
636008E4  sub         r3,r2,r3  					=> 000000

[2017-07-13 19:38] balivo commented on #22103
@Clockwork-Muse uniqueness validation... The sequential-ness its ok for me...
I use this logic for last 9 years (approximately) and no conflicts between created Guids (I make some validations to verify this question, just for "duble"-safety)... I have a logic for validation of questions above (multi-thread and multi-process testing), I kept the applications running 30 days and no conflicts...

And

[2017-07-13 20:06] mellinoe commented on #22215
Could you link the chart you are referring to?

I don't think this will work. the UniversalWindowsPlatform package is part of the UWP product, so it shouldn't be able to be used from a .NET Core library -- they are separate targets. From a UWP or .NET Core project, you are able to reference a .NET Standard library, but the reverse is not true.

[2017-07-13 20:12] geleems commented on #22184
@Unvilon So, you did **NOT** turn on the Integrated Authentication (*integrated security=false;*), and provided username and password in your connection string (*User ID=????;Password=????;*), but you are getting error complaining about missing Kerberos ticket when you access local Linux SQL Server?
Is that the problem your are experiencing?

[2017-07-13 20:16] Unvilon commented on #22184
@geleems Exactly!
I also tried to play with another different parameters - the same result.

[2017-07-13 20:21] #7879 closed

[2017-07-13 20:33] Diego-Perez-Botero commented on #20470
I'm working with @davidsh. Marking the types AND methods public does the trick without requiring rd.xml/csproj changes. We'll be going with this approach (#if uap).

[2017-07-13 20:48] AtsushiKan commented on #21351
CoreCLR's default ValueType GetHashCode() xor's in some big constant along with a "TypeID" (that's in itself of result of hashing some internal value used by the CoreCLR's dispatch code.) CoreRT doesn't. It just hashes the first instance field which happens be a double that's always zero. Not a very good hash code but then if one cares about good hashing, one doesn't trust default implementations

[2017-07-13 20:55] svick commented on #22103
@balivo I think for global uniqueness, you need theory, not tests. [According to Wikipedia](https://en.wikipedia.org/wiki/Universally_unique_identifier#Collisions):

Version 4 GUIDs have 122 random bits. If I use the same formula, but with 60 random bits, which is what your `IdentityGenerator` has, then it says that to get 50 % probability of collision, you need 1.26 billion GUIDs. But to collide,

[2017-07-13 21:07] brianrob commented on #20470
Excellent @Diego-Perez-Botero, I'm glad to hear that's working.

[2017-07-13 21:10] joperezr commented on #22203
Fixed via: #22217

[2017-07-13 21:10] #22203 closed

[2017-07-13 21:14] joperezr commented on #22077
If the problem doesn't repro anymore (which looks like it doesn't in later run) I would just rather close this and reopen if it becomes an issue in the future

[2017-07-13 21:16] joperezr commented on #21351
@jkotas do you mind sharing your point of view regarding the coreclr side of the test?

[2017-07-13 21:19] AtsushiKan commented on #21351
The test doesn't need to be removed. Just change it so that you compare the hashcodes only if you deem the objects to be equal.

[2017-07-13 21:23] weshaggard commented on #22211
cc @ericstj @terrajobst

@bartonjs this is an actual bug that we will need to address by adding a net47 configuration to System.Security.Cryptography.Algorithms as the API surface area is different between net461 (the config we have) and net47.

For .NET 4.7 the type should come from System.Core and not System.Security.Cryptography.Algorithms.

[2017-07-13 21:25] jkotas commented on #21351
I agree with @AtsushiKan . The test needs fixing.

[2017-07-13 21:27] davidsh commented on #22191
Looks like this bug has been reported before:
https://stackoverflow.com/questions/31150900/httprequestexception-when-trying-putasync

This probably a WinRT HttpClient bug.

[2017-07-13 21:29] sepidehMS commented on #21351
Thank you. Going to fix it now.

[2017-07-13 21:29] #22077 closed

[2017-07-13 21:29] weshaggard commented on #22211
@PinpointTownes There isn't a clean workaround that I can come up with for this one. If you can get away with it you can target a lower .NET version like 4.6.1 if possible, otherwise it isn't going to work until we get a fix.

[2017-07-13 21:43] davidsh commented on #22191
Opened internal bug 12757218

[2017-07-13 21:43] PinpointTownes commented on #22211
@weshaggard well, the whole point of having a `net47` TFM is to be able to use the new (and awesome!) EC APIs, so targeting an old .NET version wouldn't help much (I have a `netstandard2.0` TFM for apps that target `net461`).

Do you think the fix could be included in 2.0 RTM?

[2017-07-13 21:48] brunin2509 opened #22229 "RSAKeyValue.LoadXml not working when XmlElement input has namespace prefix."
Hello, guys!

When I used the method LoadXml from RSAKeyValue.cs, I was always receiving the following exception:

`System.Security.Cryptography.CryptographicException: 'Root element must be KeyValue element in namepsace http://www.w3.org/2000/09/xmldsig#'`

After searching for some bug, I've found that the second IF statement inside LoadXml is verifying if value.Name (instead of value.LocalName)

[2017-07-13 21:55] PinpointTownes commented on #22098
@tmds FYI, [I added a `IsWellFormedOriginalString()` check](https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/commit/750417b934d31ec902f7248596783f896f71a4da) to ensure implicit paths are rejected and it seems to work a like charm.

I'll keep this ticket open in case you'd want to add a compat' switch to disable implicit paths support on Linux/macOS at the global level.

[2017-07-13 21:57] geleems commented on #22184
@Unvilon Can you provide information about your Linux environment and NET Core version for reproducing the issue? Which Linux version are you using? And which NET Core version is being used?

[2017-07-13 22:01] weshaggard commented on #22211
I highly doubt it at this point as we are essentially done with the release. However we might be able to provide a workaround once we get a better understanding of the changes. I am however going to mark it as 2.0 for now to get some attention on it.

[2017-07-13 22:03] huanwu commented on #21706
@pwasiewicz I can repro on net462. There's no code change since that. To make it pass, could you remove the IsRquired=true?

[2017-07-13 22:11] PinpointTownes commented on #22211
Honestly, that would be absolutely terrible. This used to work fine when referencing the ASP.NET Core 1.x bits :cry:

[2017-07-13 22:12] mellinoe opened #22233 "Consider removing ConfigurationManager dependency from System.Drawing.Common"
The only usage of ConfigurationManager is in this internal class:

https://github.com/dotnet/corefx/blob/master/src/System.Drawing.Common/src/System/Drawing/BitmapSelector.cs#L33
In turn, `BitmapSelector` is only used by one public type:
https://github.com/dotnet/corefx/blob/master/src/System.Drawing.Common/src/System/Drawing/ToolboxBitmapAttribute.cs

There is already a "graceful" fallback path i

[2017-07-13 22:16] Unvilon commented on #22184
@geleems

[2017-07-13 22:26] weshaggard commented on #22211
It still works when targeting .NET Core 2.0 it is only a problem if you are running on .NET Framework. Did it work for you when running ASP.NET Core on .NET Framework? If so I'm not sure how.

[2017-07-13 22:35] PinpointTownes commented on #22211
Absolutely. It compiled fine and worked as expected at runtime.

If you take a look at https://www.nuget.org/packages/AspNet.Security.OpenIdConnect.Server/1.0.0, you'll see that the ASP.NET Core 1.0 version targets `net451`, `net47`, `netstandard1.4` and `netstandard1.6`. Both the `net47` and `netstandard1.6` versions - that use the new EC APIs - work fine.

[2017-07-13 22:40] caesar1995 commented on #22066
Re-run with type=check doesn't give more useful information.

[code]

I will investigate this.

[2017-07-13 22:41] sepidehMS commented on #22139
This seems to be JIT-related. It would fail on .NET Framework 4.6.2 for x64 as well. @briansull @erozenfeld

[2017-07-13 22:51] erozenfeld commented on #22139
It's almost certainly an instance of https://github.com/dotnet/coreclr/issues/12761. It's fixed by https://github.com/dotnet/coreclr/pull/12735. A workaround is
`set COMPlus_TailCallLoopOpt=0`

[2017-07-13 23:01] sepidehMS commented on #22139
Thanks @erozenfeld. Closing as it is already fixed.
@ymor please feel free to re-open if it's not gone after a new CoreClr update is merged.

[2017-07-13 23:01] #22139 closed

[2017-07-13 23:03] weshaggard commented on #22211
@PinpointTownes do you know if you are consuming  an .NET Standard 2.0 libraries in your project? If not perhaps a potential workaround is to set `<ImplicitlyExpandNETStandardFacades>false</ImplicitlyExpandNETStandardFacades>` in your project. If you are then it will require a different type of workaround.

[2017-07-13 23:05] EgorBo opened #22236 "SqlClient - ManagedSNI doesn't work on Windows?"
In **System.Data.SqlClient** solution in **System.Data.SqlClient.Tests** I created a small simple test with the following code:
[code]

the SQL Server is running and the test passes. But if I go to the TdsParserStateObjectFactory.Windows.cs
and change `UseManagedSNI = false` to `true` -- the tests fails with

[code]

Am I doing something wrong or ManagedSNI mode doesn't work on Windows at the mome

[2017-07-13 23:08] PinpointTownes commented on #22211
Unfortunately, almost all the ASP.NET Core 2.0 packages are now `netstandard2.0`-only. So yeah, I target a lot of  .NET Standard 2.0 packages.

[2017-07-13 23:16] corivera commented on #22236
Can you post the full stack trace?

[2017-07-13 23:20] Priya91 commented on #22089
@bartonjs If the bug is with SecureTransport choosing the wrong cipher, why does the same test from master branch on the same OSX 10.13 pass for this case? Did we make any changes in MacOS crypto backend in master that's not available in 2.0?

[2017-07-13 23:21] EgorBo commented on #22236
@corivera https://gist.github.com/EgorBo/da39a750f3f52bb5cc20b11ac6d7739d

[2017-07-13 23:21] #21351 closed

[2017-07-13 23:23] corivera commented on #22236
Looks like something is failing during the instance name resolution step.

@geleems Can you look into this?

[2017-07-13 23:27] caesar1995 commented on #22066
So for this test, `CanRead_Get_ReturnsFalse()`

[code]

The problematic code is this line `await Assert.ThrowsAsync<InvalidOperationException>(() => outputStream.ReadAsync(new byte[0], 0, 0));`. After comment it out, the test will pass on ILC.

My guess for throwing `NotSupportedException` instead of the expected `InvalidOperationException` is:
The operation is asynchronous(`ReadAsync`). Compiler

[2017-07-13 23:29] EgorBo commented on #22236
@corivera @geleems if I specify port in the connection string - it works
string cs = @"Server=.\SQLEXPRESS,1433;
(since port is defined - it won't call `GetPortByInstanceName`)

[2017-07-13 23:40] corivera commented on #20589
Still seeing these test failures in the latest code. Looking into it.

[2017-07-13 23:45] tijoytom commented on #22066
@caesar1995 Do you have the call stack? I might be case that we are throwing the wrong exception.

[2017-07-14 00:00] caesar1995 commented on #22066
@tijoytom Could you provide me some instructions on how to do this please?

I tried to attach `xunit.console.netcore.exe` to windbg, after execution completes, this is what I get:

[code]

[2017-07-14 00:06] bartonjs commented on #22089
`git diff` shows that System.Net.Security has changed a bit between release/2.0.0 and master, but not anything that should affect a handshake.  Nothing in an OSX-specific file, and the OSX Interop directory and shim are identical between the branches.

The System.Net.Http directory has had a lot more changes in master; but in the test logs I see both the default (Curl) handler and the Managed hand

[2017-07-14 00:12] tijoytom commented on #22066
@CIPop @davidsh Can you please help @caesar1995 with the call-stack ?

[2017-07-14 00:17] CIPop opened #22244 "UAPAOT: System.Diagnostics.Tests.ProcessStartInfoTests/StartInfo_NotepadWithContent(useShellExecute: False)"
Failed in Outerloop during validation for #22237:

https://mc.dot.net/#/user/CIPop/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/343581b48553b789c3a92222e109b9d4b07927c1/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessStartInfoTests~2FStartInfo_NotepadWithContent(useShellExecute:%20False)

[code]

[2017-07-14 00:19] geleems commented on #22236
@EgorBo Did you turn on ***SQL Server Browser*** ?

[2017-07-14 00:23] hughbe commented on #22233
From the comments:

 
Could it be that this was never meant to have been exposed?

[2017-07-14 00:29] #22204 closed

[2017-07-14 00:35] davkean opened #22245 "Add a replacement for IsPathRooted that actually returns if a path is relative"
As [mentioned previously](https://github.com/dotnet/corefx/issues/21933), for better or worse, we use Uri over the Path APIs in Visual Studio due to two main reasons, this represents the first reason.

Windows [docs state](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx) (emphasis mine) and IsPathRooted implements this behavior:

However, that last point is incorrec

[2017-07-14 00:36] davkean commented on #21933
I filed https://github.com/dotnet/corefx/issues/22245 for the first reason we're using Uri.

[2017-07-14 00:36] davkean commented on #22245
tag @stephentoub @JeremyKuhne

[2017-07-14 00:39] EgorBo commented on #22236
@geleems good catch! It was disabled (I enabled and now it works even without the 1433 in CS)
Is it expected behavior? Classic .NET and corefx with native SNI work even if the SQL Server Browser is disabled.

[2017-07-14 01:11] CIPop commented on #22066
@tijoytom, @jkotas Looking at the code, this could be an ILC optimization bug. I'm thinking that our Begin/End functions are inlined given the size which means that [HasOverridenBeginEndRead](https://github.com/dotnet/coreclr/blob/7e4afb4fbf900b789f53ccb816c6ddba7807de68/src/vm/comutilnative.cpp#L3178) will not be able to find the method metadata.

@caesar1995, if this is the case, we could solve

[2017-07-14 01:12] geleems commented on #22236
@EgorBo
***SQL Server Browser*** is the one who translates instance name into port number. Without it, connection should fail if connection string contains only instance name without port. It is the same behavior both in `Native SNI` and `ManagedSNI`.

I am currently trying to figure out how you made connection successfully with `Native SNI` with this connection string: `string cs = @"Server=.\SQL

[2017-07-14 01:12] #20482 closed

[2017-07-14 01:12] #22056 closed

[2017-07-14 01:30] JeremyKuhne commented on #22245
@davkean This one is a pet peeve of mine. We already have this implemented:

[code]

https://github.com/dotnet/coreclr/blob/a2329cb926774ef13b09c377f1c866f68718e2aa/src/mscorlib/shared/System/IO/PathInternal.Windows.cs#L284-L308

It is possible they're thinking of the NT or device path syntax- it might also just be a confusing technicality.

My expectation was to make this API public as `IsPathFul

[2017-07-14 01:33] EgorBo commented on #22236
@geleems yeah this is what confuses me the most now,
And yes I am totally sure SQLBrowser is disabled and this case corefx+NativeSNI as well as classic .net 4.6 still open connection starting with `Server=.\SQLEXPRESS`

![g1qtquk](https://user-images.githubusercontent.com/523221/28194536-99522488-684d-11e7-80e4-ce17bdd92c00.png)

[2017-07-14 01:35] davkean commented on #22245
Yeah that sounds like it would work. We'd need this for desktop - or I can just grab the source code if its self contained.

[2017-07-14 01:38] JeremyKuhne commented on #22245
@davkean Wouldn't be hard- the internal API is already there. :)

https://referencesource.microsoft.com/#mscorlib/system/io/pathinternal.cs,465

[2017-07-14 01:45] corivera commented on #22236
Are you still able to connect if you change the instance's TCP port or Named Pipe path (if enabled)?

[2017-07-14 01:46] EgorBo commented on #22236
I mean here in https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIProxy.cs#L399 it throws an exception instead of assigning a default port like it's done in line 409 but it's just my guess as I didn't see the native implementation.

[2017-07-14 01:47] EgorBo commented on #22236
@corivera will try in a moment

[2017-07-14 01:51] weshaggard commented on #22211
I've got a PR up with the fix for this issue https://github.com/dotnet/corefx/pull/22247. I'm going to attempt to get approval to get it into our .NET Core 2.0 escrow build but if that doesn't succeed I will be able to point you at a package on our myget feed (once we get a build of my PR) that should unblock you as a work around.

[2017-07-14 01:51] corivera commented on #20589
In the TestEventListener, OnEventSourceCreated is being passed an EventSource with a Name like "$BlockedFromReflection". In non-uapaot tests this name should resolve to "System.Data.DataCommonEventSource". Since the name of this event doesn't match the expected name, the TestEventListener doesn't enable that event as seen here: https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/D

[2017-07-14 01:53] corivera commented on #20589
Test, for reference: https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/tests/System/Data/DataCommonEventSourceTest.cs#L18

Here's the EventSource it uses: https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/src/System/Data/Common/DataCommonEventSource.cs

[2017-07-14 01:54] EgorBo commented on #22236
@corivera
Ok I've changed the TCP port to 1435, SQLBroswer is disabled, other protocols are disabled
NativeSNI doesn't work.
if I specify 1435 in the connection string `@"Server=.\SQLEXPRESS,1435` - NativeSNI works
if I enable SQLBroswer service - NativeSNI works.

[2017-07-14 01:57] corivera commented on #22236
@geleems Seems like we may be missing some fallback mechanism in the managed SNI code then. Or maybe there's some caching going on somewhere.

[2017-07-14 02:04] mconnew commented on #21568
There is a scenario I ran into with an internal customer of WCF using an HTTP binding which would be impossible to provide a fix for if we had a global singleton HttpClient instance. The scenario was a service was running on multiple hosts behind a load balancer. One of the hosts ended up with a bad deployment of their service code and was returning 500 responses for every request. A mid-tier serv

[2017-07-14 02:22] PureKrome commented on #12034
@robertmclaws wow - totally awesome explanation _and_ suggestions.

That's _exactly_ what needs to be done IMO. I've being doing sql spatial since it was added in sql 2008 beta (urgh so long ago, i can't remember) so I've been through hell and back with this :(

If i can +1-bazillion your post, I'd do just that.

It's so frustrating how this (i.e. Spatial in the MS suite) feels like it's always a

[2017-07-14 02:36] v-haren commented on #20223
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_release/106/testReport/System.Net.Sockets.Tests/DnsEndPointTest/Socket_StaticConnectAsync_HostNotFound/

[2017-07-14 02:39] v-haren commented on #21922
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_debug/120/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandler_ServerCertificates_Test/UseCallback_ValidCertificate_ExpectedValuesDuringCallback_url__https___corefx_net_cloudapp_net_Echo_ashx__checkRevocation__True_/

[2017-07-14 02:45] v-haren commented on #19344
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_portablelinux_debug/109/testReport/System.Net.Http.Functional.Tests/ManagedHandler_DiagnosticsTest/SendAsync_ExpectedDiagnosticSourceNewAndDeprecatedEventsLogging/

[2017-07-14 02:46] lemmaa commented on #22135
I'm using 10.0.15063
[code]

FYI, I'm using libicu 55.1 and 57.1 on each linux system.

However, I can find various codes that contain locale data in the coreclr source code.
* https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Globalization/LocaleData.Unix.cs#L25
* https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Globalization/CultureData.cs#L164
* https

[2017-07-14 04:21] hughbe opened #22251 "InvalidCastException randomly thrown in WinHttpHandler"
I haven't been able to repro this since it occured, but am looking into seeing what caused this.

Moved from https://github.com/aspnet/Diagnostics/issues/394

[code]

[2017-07-14 06:02] Jiayili1 commented on #22244
This issue is repro on UWP ILC tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170714.02/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessStartInfoTests~2FStartInfo_NotepadWithContent(useShellExecute:%20False)

[2017-07-14 06:03] dotnet-mc-bot opened #22252 "Test: System.Diagnostics.Tests.ProcessCollectionTests/TestThreadCollectionBehavior failed with "System.PlatformNotSupportedException : GetProcessInfoNotSupported""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.ProcessCollectionTests/TestThreadCollectionBehavior` has failed.

System.PlatformNotSupportedException : GetProcessInfoNotSupported. For more information, visit http://go.microsoft.com/fwlink/?LinkId=623485

        Stack Trace:

           at ProcessInfo System.Diagnostics.ProcessManager.GetProcessInfo(Int32, String) + 0x7c

[2017-07-14 06:04] thechopkins commented on #12915
Any update on taking this to review? I'm willing to pick up this work.

I started the investigation and was considering the benefits between having IEqualityComparer<T> or EqualityComparer<T> as the parameter to the additional functions. EqualityComparer comes with the ability to overload a default IndexOf(T[] array, T value, int startIndex, int count). Custom implementations most frequently overr

[2017-07-14 06:10] dotnet-mc-bot opened #22253 "Test: System.Diagnostics.Tests.ProcessTests/CloseMainWindow_NotStarted_ThrowsInvalidOperationException failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.ProcessTests/CloseMainWindow_NotStarted_ThrowsInvalidOperationException` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.InvalidOperationException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Diagnostics.Tests.ProcessTests.CloseMainWindow_NotStarted_ThrowsInvalidOperationE

[2017-07-14 06:24] jkotas commented on #22066
This logic is not implemented at all for UAPAOT:
https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/IO/Stream.cs#L663

Implementing it is tracked in TFS 451292 / TFS 451317.

[2017-07-14 06:29] dotnet-mc-bot opened #22254 "Test: System.Diagnostics.Tests.ProcessTests/HandleCountChanges failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.ProcessTests/HandleCountChanges` has failed.

Assert.Equal() Failure\r
    Expected: 42\r
    Actual:   -323331298

        Stack Trace:

           at Void System.Diagnostics.RemoteExecutorTestBase+RemoteInvokeHandle.Dispose() + 0xce
       at System.Diagnostics.Tests.ProcessTests.HandleCountChanges()
       at Object _$ILCT$+$ILT$

[2017-07-14 07:11] dotnet-mc-bot opened #22256 "Test: System.Net.Http.Functional.Tests.HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test/InvalidCertificateServers_CertificateValidationDisabled_Succeeds(url: \"https://expired.badssl.c... failed with "System.Net.Http.WinHttpException : The handle is invalid""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test/InvalidCertificateServers_CertificateValidationDisabled_Succeeds(url: \"https://expired.badssl.c...` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.\r
    ---- System.Net.Http.WinHttpException : The handle is inval

[2017-07-14 07:18] Jiayili1 commented on #14673
This issue is repro on Core Tests (2.0.0), detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170714.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveApm~2FSendRecvPollSync_TcpListener_Socket(listenAt:%20::1,%20pollBeforeOperation:%20True)

[2017-07-14 07:19] Jiayili1 commented on #21037
Following test failed with same issue: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170714.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.AgnosticListenerTest~2FConnectWithV4AndV6_Success

[2017-07-14 07:54] tmds commented on #22098
I think we shouldn't add a compat switch. Based on the discussion we had, these are the proper solutions for users that relied on Uri not accepting absolute paths starting with "/":

- check the Scheme, disallow File or only allow specific Schemes
- use IsWellFormedOriginalString to ensure syntax is a proper url

[2017-07-14 07:59] Drawaes commented on #21568
This as well... when you have level 3 load balancers 500's etc can be a
pain.

On 14/07/2017 04:04, "Matt Connew" <notifications@github.com> wrote:

[2017-07-14 11:17] Drawaes commented on #21568
I do wonder if there is some cross over between wanting an "http parser" and control the connections on the client side with the discussion over at
[Serverside Primatives](https://github.com/dotnet/designs/issues/9#issuecomment-315319515)

Because at the end of the day, a low level exposed http parser and some connection primitives (sockets etc) seem to be the requirement on both sides.

[2017-07-14 11:20] Opiumtm opened #22257 "Feature request: async DataContractSerializer methods"
As for now, `DataContractSerializer` does serialization/deserialization in synchronous style.
But, `Stream`, TextWriter` and `TextReader` does have async methods.

As async programming is widely used today, to serialize/deserialize data contracts, developer should manually schedule background task to achieve async data contracts serialization/deserialization on stream (which does support async I/O

[2017-07-14 11:49] balivo commented on #22103
@svick tks...

DateTime.UtcNow have a 10ms precision...
https://msdn.microsoft.com/en-us/library/system.datetime.utcnow(v=vs.110).aspx

DateTime.Now is 15ms precision...
https://msdn.microsoft.com/en-us/library/system.datetime.now(v=vs.110).aspx

Sounds good at specific scope... But not for general-purpose.

Tks!

[2017-07-14 12:33] PinpointTownes commented on #22211
@weshaggard fantastic, thanks! :clap:

[2017-07-14 12:49] GeertvanHorrik commented on #9743
Still have this issue in debug mode:

1. Target version (creators update, 15063)
2. Min version (november update, 10586)
3. "Microsoft.NETCore.UniversalWindowsPlatform": "5.3.3",
4. Test phone running 10.0.10586.164

Got these reports from users that are on phones that are stuck on the november update (left behind for whatever reason). I don't want to drop support for these users & their phones. E

[2017-07-14 13:21] krwq commented on #22229
@brunin2509, agreed this looks like a bug - would you like to send a PR with the patch?

[2017-07-14 15:05] bartonjs commented on #22089
... that I now have the answer to.

I edited the HttpClient library thusly:

[code]

`$ dotnet xunit.console.netcore.exe System.Net.Http.Functional.Tests.dll  -xml testResults.xml -notrait Benchmark=true -notrait category=nonnetcoreapptests -notrait category=nonosxtests  -notrait category=OuterLoop -notrait category=failing -showprogress`

resulted in

[code]

that part made sense (aside from havi

[2017-07-14 15:14] krwq opened #22264 "System.Diagnostics.Process.MainModule.FileName has junk characters in the prefix on UAP"
(Test case will be added soon, creating issue so that I can disable that in the PR)

Junk characters might be BOM or Xunit display error

[code]

[2017-07-14 15:23] krwq opened #22266 "[S.D.Process] TestProcessStartTime throws NRE on UAP"
(Test case will be added soon, creating issue so that I can disable that in the PR)

[code]

[2017-07-14 15:56] krwq opened #22268 "[S.D.Process] CloseMainWindow_NotStarted_ThrowsInvalidOperationException does not throw"
(Test case will be added soon, creating issue so that I can disable that in the PR)

I believe we should be able to throw even on UAP since we can detect that process is not started. On the other hand we might need to be consistent with non throwing behavior because MainWindowHandle is not supported

[code]

[2017-07-14 16:01] #9044 closed

[2017-07-14 16:09] Clockwork-Muse commented on #22103
@balivo - [Not on Windows on corefx, it's not](https://github.com/dotnet/coreclr/pull/9736) (I'm unsure where Linux has gone).

[2017-07-14 16:14] krwq opened #22269 "System.Diagnostics.Tests.ProcessWaitingTests.WaitForPeerProcess fails with NRE on UAP"
(Test case will be added soon, creating issue so that I can disable that in the PR)

[code]

[2017-07-14 16:15] joperezr commented on #22252
I'll take a look at this one

[2017-07-14 16:16] joperezr commented on #22253
I'll take a look.

[2017-07-14 16:16] joperezr commented on #22254
Taking a look.

[2017-07-14 16:18] JonHanna commented on #22103
@svick

I would have assumed from the name that the proposal was to have Version 1 GUIDs, so if I'd wanted them in Windows-only code I'd use:

[code]

I understand that linux's `uuid` program lets one select version 1, and perhaps getting a batch-per-call could be used to reduce overheads, but I've never dealt with UUIDs in Linux myself except when a database was doing the generation work for me,

[2017-07-14 16:23] jnm2 commented on #12915
I am going to want to pass `IEqualityComparer<>` instances which do not derive from `EqualityComparer<>` for sure. I had never heard of deriving from `EqualityComparer<>`.

[2017-07-14 16:28] jnm2 commented on #12915
(If the passed comparer is null, it should act as though `EqualityComparer<T>.Default` had been passed, like the rest of the BCL.)

[2017-07-14 16:37] tarekgh commented on #22135
I have checked the latest Windows data and last ICU 5.9.1 and both don't have the locales mai, sat, tu.

I have looked the latest CLDR data http://www.unicode.org/Public/cldr/31.0.1/ and I am not seeing these locales there either. how did you know these locales are part of CLDR?

@jefgen do yo have any more info regardign such locales?

The files you referenced in your list are not the data we get

[2017-07-14 16:54] davidsh commented on #20470
@Diego-Perez-Botero
See this:https://github.com/dotnet/corefx/issues/5755

We were previously warned about the problems we could run into having the same class name in all of the different System.Net.* libraries.  Vance had suggestions of how we could have made our design better.  We ended up in this situation because we tried to copy a pattern we used in .NET Framework. But that only worked well

[2017-07-14 17:25] joperezr opened #22271 "Enable NamedPipe tests against updated Windows build"
When fixing #21392 we discovered a regression that was made after RS1 on the `WaitNamedPipe()` PInvoke when running inside an appcontainer. This has now been fixed for RS3, but since we are running our CI tests in RS2 then those tests will hang forever. I have already validated that in RS3 all the tests disabled by this issue are passing succesfully. This issue is to track the work of re-enabling

[2017-07-14 17:46] jefgen commented on #22135
I think the result in https://github.com/dotnet/coreclr/issues/12759 that is causing confusion is this:

`
message 'mai-IN' Hello (en)
message 'sat-IN' Hello (en)
message 'tu-IN' Hello (en)
`

Note that CLDR does not actually have support at all for any locales for mai-*, sat-*, or tu-* in either main or seed, and in the above results, it would appear that .NET is actually somehow falling back to

[2017-07-14 17:50] #22055 closed

[2017-07-14 17:50] #22164 closed

[2017-07-14 17:55] CIPop commented on #22066
Thanks @jkotas.
In today's SCRUM we've decided to work around this by implementing all *Async overrides in HttpListener. @caesar1995 is going to work on this.

There's a chance this will help with some of our hanging tests found in #22110.

[2017-07-14 17:56] joperezr commented on #22252
Seems like around 40 tests are now hitting PNE, I believe that this has something to do with some PInvokes that are no longer available in UAP, so we just have to go and Skip all of these 40 tests in uap. cc: @sepidehMS

[2017-07-14 17:57] sepidehMS commented on #22252
@joperezr This one is expected and is a result of [this PR](https://github.com/dotnet/corefx/pull/21957/files )

[2017-07-14 18:21] jefgen commented on #22135
@lemmaa  I'd also like to add that CLDR is an open project which accepts feedback and requests from external people. You can request that CLDR add support for these three locales by filing a ticket on the CLDR project here:

http://cldr.unicode.org/index/bug-reports

Additionally, if you have some locale data to contribute for these locales, then you can also help in that regard as well. :)

[2017-07-14 18:22] psibernetic commented on #4721
Dropping a link to the user-voice as well: https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/6264363-add-support-for-alpn-to-system-net-security-sslstr