[2017-04-25 13:48] stephentoub commented on #18893
They would experience an error, it just wouldn't be an exception: the data would be invalid.

[2017-04-25 13:50] khellang opened #18922 "API Request: Path Globbing"
I'd like to start a discussion on including a [path/file system globbing](https://en.wikipedia.org/wiki/Glob_(programming)) API in .NET (Core). If you look at [implementations mentioned on Wikipedia](https://en.wikipedia.org/wiki/Glob_(programming)#Implementations), every "mainstream platform" has an entry, but not .NET.

There's quite a few (more or less) successful implementations around (see be

[2017-04-25 13:53] khellang commented on #3126
I think the concurrent one should implement `IProducerConsumerCollection<T>` :smile:

[2017-04-25 13:57] TylerBrinkley commented on #395
Another potential issue with implementing this by mapping `Logical` to `SORT_DIGITSASNUMBERS` came to me. `CompareOptions.Ordinal` and `CompareOptions.OrdinalIgnoreCase` are specially handled by the framework and aren't compatible with the other values of `CompareOptions`. As such we would not be able to handle `Ordinal` and `Logical` together.

[2017-04-25 14:01] tmds opened #18924 "Support controlling thread affinity"
**Purpose**

Allow control of thread affinity.

**Proposed API**

[code]
The `ProcessorSet` represents a a set of logical processors.
The underlying APIs for Windows/Posix use bit masks for this.

Windows: https://msdn.microsoft.com/en-us/library/windows/desktop/ms686247(v=vs.85).aspx
Posix: http://man7.org/linux/man-pages/man3/pthread_setaffinity_np.3.html

On Windows, systems with more than 64 p

[2017-04-25 14:16] AtsushiKan commented on #18310
This test doesn't exist anymore...

[2017-04-25 14:18] #18310 closed

[2017-04-25 14:18] safern commented on #18310
Thanks @AtsushiKan

[2017-04-25 14:21] AtsushiKan commented on #18311
Humphf - on the desktop, creating one AssemblyName with the string "name" forces every subsequent creation of AssemblyName to use that capitalization for "NAME". More Fusion madness.

I'd note this one down as a behavioral difference. Without an actual real world scenario, I can't imagine wanting to port this bogosity into .NET Core.

[2017-04-25 14:24] AtsushiKan commented on #18829
Delete it. We have other tests for this api.

[2017-04-25 14:24] safern commented on #18311
So then the test should only be disabled and point that behavioral difference.

[2017-04-25 14:33] nil4 commented on #18922
This article may come in handy: [Glob Matching Can Be Simple And Fast Too](https://research.swtch.com/glob)

[2017-04-25 14:35] khellang commented on #18922
Heh. Reading that article was exactly what prompted me to file this issue :wink:

[2017-04-25 14:42] stephentoub commented on #18893
Serialized you mean?  If it's just being written out via enumerating the contents of the IDictionary and serializing out the results, then it's not using the dictionary's serialization implementation, and OnDeserialized shouldn't be used for deserialization either since OnSerializing wasn't used for serialization.

[2017-04-25 14:43] daveaglick commented on #18922
I think this would make a great API addition.

I would like to see the implementation tied to an abstraction and not directly to the CoreFx IO classes. Then a specific implementation of the globbing API could be delivered support the CoreFx IO API while leaving it open for other uses.

For example, Microsoft.Extensions.FileSystemGlobbing does a great job with this because you only have to implemen

[2017-04-25 15:02] maartenba commented on #18922
Yes!

[2017-04-25 15:03] karelz commented on #18486
@Priya91 can you help please? cc @stephentoub

[2017-04-25 15:33] markrendle commented on #18922
Given the shift to CLI, both for the tooling and as a target for .NET Core apps, this would make perfect sense.

[2017-04-25 15:39] karelz commented on #18310
@AtsushiKan was it deleted recently? Or how else should I understand the fact that it failed 12 days ago ... it had to IMO exist in CoreFX test suite at that moment.

[2017-04-25 15:47] svick commented on #18924
There is already `ProcessThread.ProcessorAffinity`. Do I get it right that this proposal is better because of the following reasons?

* `ProcessThread.ProcessorAffinity` throws `PlatformNotSupportedException` on Unix.
* Mapping between `Thread` and `ProcessThread` is difficult.
* `ProcessThread.ProcessorAffinity` does not support groups.

[2017-04-25 15:52] karelz commented on #9728
It is currently tracked as documentation bug. Which we should address in 2.0.

I see several different asks on this thread. Some about MacOS, some about Linux.
@niemyjski can you please explicitly describe what it is you would like to see? What are the customer
scenarios? Is it "just" for easier testing? Which OS - Mac vs. Linux vs. both? Are there (potential) workaround? (like libcurl changes)

I

[2017-04-25 15:53] davidsh commented on #18905
cc: @CIPop

[2017-04-25 15:57] tarekgh commented on #395
We'll need to allow having ordinal with Logical. we'll just need to provide some code handle such case. The good thing here is we'll not lose a perf as we don't have search for numbers before performing the comparison. We can just do both operations together.

[2017-04-25 15:59] danmosemsft commented on #18813
Test added in https://github.com/dotnet/corefx/pull/13093 to test code from https://github.com/dotnet/coreclr/pull/7778. This may have been security motivated.
@stephentoub @AlexGhiondea @ianhays thoughts about the behavioral breaking change here?
@safern

[2017-04-25 16:01] #18828 closed

[2017-04-25 16:02] davidsh commented on #18906
This test isn't expected to work on WIndows 7 since HttpListener doesn't support websocket upgrade on Windows versions < 8.

[2017-04-25 16:04] danmosemsft commented on #18821
@safern we throw the same exceptoin but desktop forgot the parameter name. This line 22 shoud change from
`AssertExtensions.Throws<ArgumentException>("value", () => Environment.SetEnvironmentVariable("test", new string('s', 65 * 1024)))`
to
`AssertExtensions.Throws<ArgumentException>("value", null, () => Environment.SetEnvironmentVariable("test", new string('s', 65 * 1024)))`

[2017-04-25 16:05] danmosemsft commented on #18825
See #18888 presuambly

[2017-04-25 16:06] danmosemsft commented on #18909
No idea about this one. @ianhays familiar?

[2017-04-25 16:06] danmosemsft commented on #18903
@bartonjs @krwq

[2017-04-25 16:08] danmosemsft commented on #18832
Same cause as https://github.com/dotnet/corefx/issues/18711. `Assembly.GetEntryAssembly()` is sometimes returning null on desktop. POssibly we should just skip such tests on desktop

[2017-04-25 16:09] danmosemsft commented on #18831
Same cause as #18711. Assembly.GetEntryAssembly() is sometimes returning null on desktop. POssibly we should just skip such tests on desktop

[2017-04-25 16:10] danmosemsft commented on #18815
@safern as mentioned please disable the entire System.Security.Permissions.Tests assembly for desktop. The tests are all bogusly verifying our stubs and will never pass on desktop and that's fine.

[2017-04-25 16:10] TylerBrinkley commented on #395
I'm not sure how that would work but I'll trust you do.

[2017-04-25 16:13] davidsh commented on #18900
The MediaType itself is part of 'Content-Type' HTTP header.  In some ways, the mediatype information can be simply a part of the complete ContentType property specified as a string.

For example, this code:

[code]

should be equivalent to this code:

[code]

Both should end up transmitting the same 'Content-Type' HTTP request header of

[code]

[2017-04-25 16:14] danmosemsft commented on #18922
Is there some kind of quasi standard written down for globbing behavior? Are forward slashes important (they aren't for native Windows apps like MSBuild, but are for Git on Windows probably just undone work)

Does "**" literally match "everything including slash" and "*" literally matches "everything excluding slash"? I believe that's what we did in MSBuild and I think that's Git behavior also.

C

[2017-04-25 16:16] bartonjs commented on #18903
If this is AesCryptoServiceProvider that's a bug that was fixed as a retargeting change in 4.6.2.  So maybe for netfx we'd want to measure the result based off of the `Switch.System.Security.Cryptography.AesCryptoServiceProvider.DontCorrectlyResetDecryptor` switch.

[2017-04-25 16:17] danmosemsft commented on #18922
As for perf, of course it's faster to use the native API where possible. I believe for MSBuild we did something like: used the OS if there were no * after the last slash otherwise cropped the pattern at the first slash after the first * used the OS to enumerate all files below it then used regex on the results to handle any subsequent * and **.

[2017-04-25 16:21] niemyjski commented on #9728
It just needs to work, we have this code in our exceptionless nuget package which gets installed into thousands of apps. If you are running on linux or osx and we have this code in place you don't get any warning it just doesn't work (no http requests will be made). We can't relie on install documentation when this goes out to customers who then deploy on customers machines. We just need it to wor

[2017-04-25 16:22] vancem commented on #16856
@Jiayili1 - the links above do not seem to point at details of the issue.   I clicked around but could not find something that told me what went wrong (the closest thing I found was a page showing 0 tests run).

There is a very good chance this is a related to the change to use Stopwatch (PR #18651 and will be fixed by PR #18656).   Thus let's see if this just 'goes away' as that change gets propa

[2017-04-25 16:23] tarekgh commented on #395
When we get to the implementation we can have more details. what I meant here is we'll handle the cases like (CompareOptions.Ordinal | CompareOptions.Logical) as special case that we will not call the OS for it but instead we'll provide the code that go through the string and compare it ordinarily and take care if we find numbers. if there is anything specific not clear I can try to clarify more.

[2017-04-25 16:25] danmosemsft commented on #16856
This gives a linke number 397 but that doesn't ssem to correspond to an assert...

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170425.01/workItem/System.Diagnostics.DiagnosticSource.Tests/analysis/xunit/System.Diagnostics.Tests.ActivityTests~2FDiagnosticSourceStartStop

[2017-04-25 16:28] danmosemsft commented on #16856
The test does not repro locally on full fx (`msbuild /t:test /p:forceruntests=true /p:targetgroup=netfx`) but I only ran it once.

[2017-04-25 16:29] ericstj commented on #18845
I see, so it sounds like this is NETCoreApp 1.0 or 1.1.  In those versions we actually don't support loading desktop libraries in .NET Core.  That support is something we started with NETCoreApp 2.0 for a subset of the desktop libraries that have type overlap with desktop.

In NETCoreApp 1.0 and 1.1 the Microsoft.NETCore.Portable.Compatibility package added support for mscorlib-based portable clas

[2017-04-25 16:29] KathleenDollard opened #18931 "Improve error message when x86/64 bit dlls are inadvertently used together"
The current message is bad image format. This doesn't encourage the developer to check for mismatched targets.

Additional text can resolve this problem.

[2017-04-25 16:30] bartonjs commented on #18898
It could probably just defer to CryptoConfig now.  I think it got implemented before CryptoConfig did.

[2017-04-25 16:30] daxian-dbw commented on #18877
Yes, `AppDomain.CurrentDomain.GetAssemblies` returns the dynamic assembly as expected on Desktop.
[code]

[2017-04-25 16:38] karelz commented on #9728
@niemyjski it would help if you could answer all my questions - I am trying to help here, but we (or maybe just I) need summary of all relevant info to be able to make any decisions. The discussion above is a bit confusing to me :(.

Here's my attempt:
1. On Linux - if you libcurl backed with OpenSSL, it works. If you have the libcurl backed with non-OpenSSL provider (e.g. NSS), you will get an ex

[2017-04-25 16:42] bartonjs commented on #18873
For approach 1: Who is responsible for cleaning up the file? How do we know when it's safe to do so? And what about non-exportable private keys?

For approach 2: Non-exportable keys are going to be a problem again, because what curl is going to look for is a certificate in the default keychain search list.  On macOS you can have lots of keychains, and lots of them can not be in the search list.  A

[2017-04-25 16:43] niemyjski commented on #9728
1. I haven't looked to much into the linux front that is @jchannon
2. I haven't looked into 2.0's implementation but it just didn't work now or previously. It would be great if libcurl was beefed up but I think the best and immediate approach would be to add a property that we could check like `if (handler.SupportsServerCertificateValidationCallback) {}`. There are already other supports* properti

[2017-04-25 16:46] jmroyb opened #18932 "WMI support in NetStandard 1.5"
Folks,

can you tell if WMi is supported in NetStandard 1.5? I cannot find System.Management namespace ....

If not supported, do you plan to supported it and when?

Thanks a million

[2017-04-25 16:49] ericstj commented on #18759
What's the reasoning for us exposing these as extension methods rather than Windows just exposing a friendly API?  Can you point out the difference between how a user would do this without us adding extension methods vs with?

[2017-04-25 16:50] TylerBrinkley commented on #395
Okay, that makes sense. It would be a re-implementation of the logic provided by the OS.

[2017-04-25 16:52] lmolkova commented on #18807
@danmosemsft probably I'm the wrong person for that, I do not know much about EventSource, @vancem could you help  with it?

[2017-04-25 16:54] ianhays commented on #18073
+1. We technically could include them and have them PNSE on non-windows platforms if we really needed these APIs in core, though it seems like these were excluded from the initial netstandard2.0 API pass for a reason, and I'd like to hear that reason before we add them in at the last minute.

[2017-04-25 16:55] khellang commented on #18922
I don't think there's any formal specification. I guess the best bet is going by something like [minimatch's test suite](https://github.com/isaacs/minimatch/blob/master/test/patterns.js) which seems to be pretty in-line with bash, sh, ksh etc.

There's even some comments on compliance with other fnmatch/glob implementations [in their README.md](https://github.com/isaacs/minimatch#comparisons-to-ot

[2017-04-25 16:56] shmao commented on #18512
@stone-li the issues probably shares the same root cause with #18539. Can you please fix the test? Thanks.

[2017-04-25 16:57] KrzysztofCwalina commented on #18759
There seems to be IStorageForlder2 interface too. Why? Which one should we support? https://docs.microsoft.com/en-us/uwp/api/windows.storage.istoragefolder2

[2017-04-25 16:58] ViktorHofer commented on #18073
That makes sense! There is no need to forcibly add them to core. I just needed an explanation for intentionally excluding them. Thanks!

[2017-04-25 17:00] #18608 closed

[2017-04-25 17:03] tannergooding commented on #395
I'm wondering why we need to use the OS implementation here. It means the various platforms may differ, have different performance, etc...

The ANSI implementation itself isn't difficult (compare as ordinal until you hit a number in both strings, then parse out all sequential numerical digits and compare, repeat until you hit the end of the string if the sequence of digits is the same).

The Unico

[2017-04-25 17:05] tarekgh commented on #395
@tannergooding are you talking generally or are you talking about the ordinal case only?

[2017-04-25 17:06] ptorr-msft commented on #18759
@ericstj, WinRT APIs don't expose `HANDLE`s directly since they are not part of the WinRT type system (what would you do with a `HANDLE` in JavaScript, for example?). Similarly, WinRT APIs doesn't expose .NET types since they are meaningless in other languages / frameworks.

[2017-04-25 17:08] ptorr-msft commented on #18759
@KrzysztofCwalina, the interfaces are public because they are implemented by more than one runtime class (at least in theory, if not in practice). Most developers will code in terms of `StorageFile` or `StorageFolder` but sometimes you need to use one of the interfaces (or the more basic `IStorageItem`) because that's what you get from a different API. Ideally the extension methods would be on all

[2017-04-25 17:09] ViktorHofer commented on #18932
I doubt it will ever be added to netstandard as WMI is Windows specific. Netstandard (minus a few exceptions) only contains APIs which are cross-platform in nature.

[2017-04-25 17:17] vancem commented on #18807
@brianrob  who owns EventSource.

It would be useful, however to understand how this failure is occurring at this point in time.  Are we running new tests or on different platforms that we weren't before?

[2017-04-25 17:19] karelz commented on #18581
API review: We are fine with the addition, although this collection was never meant to be general-purpose.
We recommend to make the API name proper overload of `GetValue`, consistent with this class:
[code]

The proposed name before was conssitent with `ConcurrentDictionary`. This class is already special and inconsistent with other collections, so let's make it self-consistent.

[2017-04-25 17:19] karelz commented on #18581
Upated top post name to `GetValue`

[2017-04-25 17:21] karelz commented on #18581
This should be fairly straightforward and simple (the only complication is adding API - which we have prior examples of).

[2017-04-25 17:21] tannergooding commented on #395
I was talking about implementing this entirely in .NET vs implementing it using the existing underlying OS functionality.

The algorithm to do this is fairly trivial (as listed above) with the only real decision being how identical numbers from different cultures are compared. I am also not sure I buy the argument that it will be less performant. We will have spans shortly and fixed buffers in the

[2017-04-25 17:26] jkotas commented on #18581
GetValue is really confusing name for this API, I think.

[2017-04-25 17:30] karelz commented on #18759
API review: We assume that these extension methods are convenience APIs only and that they are implementable just on top the interface (without casting to the underlying type).
If that's the case, we approve.

We need to make sure the Desktop implementation lights up (Desktop targets also older OS versions, incl. older Win10 versions like TH1/TH2/RS1).

[2017-04-25 17:32] ericstj commented on #18759
Handles are just opaque objects that are references to some other object.  They don't need to be natively supported to be useful.  The just need to be exposed and consumed by useful API.

I understand you'll have different type identities in WinRT.  I'm trying to gather if this is just a simple adapter layer where we are mapping WinRT types to the .NET equivalents or if we are doing fancy stuff in

[2017-04-25 17:32] danmosemsft commented on #18759
@JeremyKuhne note that @weshaggard believes that even modern Windows API usage in Core should be implemented via lightup in case people misuse the libraries on lower Windows versions than intended. Unsure whether we already do this in Core though so this might be a nic to have.

[2017-04-25 17:36] OmarTawfik commented on #17741
@jcouv @dotnet/roslyn-compiler  This is now done and merged.

[2017-04-25 17:36] #17741 closed

[2017-04-25 17:36] OmarTawfik commented on #17116
@jcouv @dotnet/roslyn-compiler  This is now done and merged.

[2017-04-25 17:36] #17116 closed

[2017-04-25 17:38] safern commented on #18807
This is running against netfx which is 461. We just started running test against Desktop to make sure we are as compatible as possible in between desktop and core

[2017-04-25 17:42] vancem commented on #18807
We can certainly disable this one on desktop for now (since this is strictly better coverage than we were getting say a month ago).

[2017-04-25 17:43] ptorr-msft commented on #18759
Windows provides the mapping from `IStorageItem` to `HANDLE` via the COM interface `IStorageItemHandleAccess` (existing feature since the Anniversary Update).

.NET provides the mapping from HANDLE to `FileStream` (proposed new feature).

[2017-04-25 17:44] safern commented on #18807
Ok so I will go ahead and disable this one. Thanks

[2017-04-25 17:48] jcouv commented on #17741
Thanks 👍

[2017-04-25 17:50] JeremyKuhne commented on #18759
Whoops, added the handle

[2017-04-25 17:52] JeremyKuhne commented on #18759
This is a lightup feature- it will simply return null if you use the library pre RS3.

[2017-04-25 17:59] ianhays commented on #16688
Does a file have an associated max number of descriptors that can be open on it? I know there are system and user open fd limits, but I wasn't aware of per-file limits. That could explain it.

You're right, I don't think it's an infrastructure problem because then all of the tests would be failing, not just one or two intermittently. Something more subtle is happening here.

[2017-04-25 17:59] ianhays commented on #18909
Doesn't look familiar, no.

[2017-04-25 18:03] karelz commented on #395
API review:
We should split it into 2 independent features:
[code]

This one is for discoverability. Approved.

Next:
[code]

We rejected the 2 Local `StringComparer.Logical*` statics, because we would have to have more combinations (also with `Ordinal`). We do not believe this option needs such promotion. It is doable via flags.

Discussion about naming -- options: `Logical` (proposal & Windows A

[2017-04-25 18:04] krwq commented on #18719
@bartonjs this doesn't repro on my box, have you seen any fix in the last few days which could've fixed it? I'm only seeing two fixes coming in - one is unrelated and the other one not sure: https://github.com/dotnet/corefx/commit/7a7bf2e0cb40168c8819d84c66c99c8984746e02 . I've manually run it multiple times to see if there are any obvious intermittent failures in this projects but I got consisten

[2017-04-25 18:04] karelz commented on #395
Top-post updated with approved API shape

[2017-04-25 18:13] saurabh500 commented on #14615
@benaadams

The exceptions from SqlClient should be surfaced to the user by throwing it as it is happening right now. The exceptions are expected and would need to be surfaced. Even if a `catch` is added to the PoolCreateRequest, the exception cannot be thrown away. PoolCreateRequest cannot do anything with the exception anyhow.

It's up to the user to rectify the cause of the exception which coul

[2017-04-25 18:14] karelz commented on #9728
@niemyjski that sounds reasonable. Can you please file a new issue to track adding `SupportsServerCertificateValidationCallback`? We should discuss it separately - I would love to see the use cases, discussion about workarounds and how common the scenario is. Please follow sample in [API review](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) process.

[2017-04-25 18:14] bartonjs commented on #18719
It's a 4.6.2 fix which isn't a retargeting fix.  You'd need to have a machine which has 4.6.1 installed but not 4.6.2.

[2017-04-25 18:15] karelz commented on #17741
@OmarTawfik can you please link PR # or commit #?

[2017-04-25 18:16] karelz commented on #17116
@OmarTawfik can you please link PR # or commit #?

[2017-04-25 18:17] benaadams commented on #14615
Yes but [`QueuePoolCreateRequest`](https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/ProviderBase/DbConnectionPool.cs#L1075-L1082) sticks it in the threadpool so its at the top of the stack and has no caller to give the exception to; so it goes to the Process and the process crashes.

Same as if you threw an exception in the Main function and didn't catch it. Y

[2017-04-25 18:18] OmarTawfik commented on #17741
@karelz
Adding attribute to Runtime: https://github.com/dotnet/coreclr/pull/10777
Renaming attribute based on proposal change: https://github.com/dotnet/coreclr/pull/11026
Type forwarders in corefx: https://github.com/dotnet/corefx/pull/18637

[2017-04-25 18:18] mellinoe commented on #18849
I haven't looked at the repro very closely, but the fact that System.Runtime.Loader is trying to load jumps out at me. That is a .NET Core-only assembly; it cannot work on .NET Framework. The way MusicStore is being built might be broken in some way if it's producing a .NET Framework application that depends on System.Runtime.Loader.

[2017-04-25 18:19] OmarTawfik commented on #17116
@karelz
Adding type to runtime: https://github.com/dotnet/coreclr/pull/10779
Updating comments to describe intended behaviour: https://github.com/dotnet/coreclr/pull/10945
Forwarders in corefx: https://github.com/dotnet/corefx/pull/18637

[2017-04-25 18:19] ericstj opened #18936 "Add Inbox validation to framework packages"
We record if assemblies are inbox or not in the packageIndex, so that we know if dependencies need to be emitted to packages containing those assemblies.

We validate for 1:1 packages to make sure that if the assembly is inbox it doesn't try to apply an assembly from the package.

We generate the inbox list from targeting packs for frameworks that use a targeting pack so validation here isn't nece

[2017-04-25 18:21] karelz commented on #18581
What would you propose?
Adding:
[code]

Similar to `ConcurrentDictionary`:
* [`TValue GetOrAdd(TKey key, Func<TKey, TValue> valueFactory)`](https://apisof.net/catalog/System.Collections.Concurrent.ConcurrentDictionary%3CTKey,TValue%3E.GetOrAdd(TKey,Func%3CTKey,TValue%3E))
* [`TValue GetOrAdd(TKey key, TValue value)`](https://apisof.net/catalog/System.Collections.Concurrent.ConcurrentDictionary%3CT

[2017-04-25 18:21] karelz commented on #17116
Thanks!

[2017-04-25 18:22] karelz commented on #17741
Thanks!

[2017-04-25 18:28] mellinoe commented on #16516
If we have a recent crash in CI, we should be able to grab the binaries and the crash dump. Unfortunately, it looks like the crash dump web page is down right now... I'll see if we can get it back online.

[2017-04-25 18:29] weshaggard commented on #18830
It is because ConfigurationManager has a netstandard implementation but we need to add a netfx configuration that is a partial facade.

[2017-04-25 18:30] karelz commented on #18670
@vnd-edu we did not published final ship date yet. The only .NET Core 2.0 published date is: May 10 - zero-bugs-goal for .NET Core 2.0 and last integration from master into release/2.0.0 - see #17619 for details.

[2017-04-25 18:31] davidsh commented on #18000
Thank you for the traces of the request and response.  I assume that these represent the final request/response that was processed just before the error "An internal response size limit was exceeded" was triggered?

What is interesting about this repro is that the HTTP response (a redirection response) has a lot of response body content attached to it.  In most cases a redirection response such as

[2017-04-25 18:32] jkotas commented on #18581
Yes, I think `public TValue GetOrAdd(TKey key, TValue value)` would be the right name.

I do not think that adding `TValue GetOrAdd(TKey key, Func<TKey, TValue> valueFactory)` that would duplicate the existing `TValue GetValue(TKey key, CreateValueCallback createValueCallback)` is worth it.

[2017-04-25 18:32] krwq commented on #18719
@bartonjs should we leave the test as is then or is there some simple runtime check I could do to verify what machine I'm on? Not sure how do we test those kind of changes

[2017-04-25 18:33] tmds commented on #18924
@svick Yes, x-plat and more than 64 processors. Limited to the current executing process (compared to ProcessThread).

[2017-04-25 18:34] tarekgh commented on #395
@tannergooding let's take an example for what I mean by the performance issue if we implement it without calling the OS:

Imagine you are comparing the following 2 strings (using CurrentCulture for instance)
            var s1 = "Strasse 10";
            var s2 = "Straße 2"

"Strasse" is equals to "Straße"

To do what you have suggested, you'll need first to search the string for numeric (which is

[2017-04-25 18:37] krwq commented on #18724
@bartonjs also not reproing for me - is this also in-place non-quirked change?

[2017-04-25 18:37] weshaggard commented on #17960
For this task you can try installing the package from our myget feed into a desktop 4.6.1 or 4.6.2 project to make sure it correctly works. I just wanted to ensure it didn't regress after the package changes.

[2017-04-25 18:42] tarekgh commented on #395
For the record, adding the ICU info we can use:

http://icu-project.org/apiref/icu4c/ucol_8h.html
[code]

[2017-04-25 18:44] ianhays commented on #18813
This was a security motivated change. The test needs to be excluded from running on desktop.

[2017-04-25 18:44] krwq commented on #18719
either way, i do not believe this is blocking 2.0

[2017-04-25 18:55] mellinoe commented on #16675
I think what I am going to do is this, for now:

* Re-enable the test methods that are disabled -- 90% of them don't need to be disabled, and it's just one of the `MemberData` test cases that causes a failure.
* File an issue about the 32-bit Cos() discrepancy on Windows.
* "Disable" the problematic test cases by not emitting those test cases on 32-bit Windows, with a link to the above issue.

[2017-04-25 18:58] CIPop commented on #18905
@weshaggard I believe that having these APIs in the Standard will only create confusion.
Both are implementation details and documented as such on MSDN [CreateClientWebSocket](https://msdn.microsoft.com/en-us/library/system.net.websockets.websocket.createclientwebsocket(v=vs.110).aspx) and [RegisterPrefixes](https://msdn.microsoft.com/en-us/library/system.net.websockets.websocket.registerprefixes(

[2017-04-25 19:02] CIPop commented on #18905
@davidsh @karelz Let's decide on a single label for WS related issues. I'm seeing that System.Net, System.Net.Sockets as well as System.Net.Http labels are used.

From all of these options I think the Sockets label is the least preferable.

[2017-04-25 19:05] gsainagendraprasad opened #18938 "I am new to dotnet core and i want my application to interact with sybase . How to we register the sybase provider in dotnetcore ?"
I am new to dotnet core and i want my application to interact with sybase . How do we register the sybase provider in dotnetcore ?

providerName="Sybase.AdoNet4.AseClient"

[2017-04-25 19:06] Priya91 commented on #18486
We can't have duplicate public types in different implementations, as now there'll be conflicts, hence we can move only internal/private things to common. Looking at the implementation of ```Cookie.InternalSetName```, it is not doing much except some condition checking and setting internal _name field. We can use Cookie.Name public type to hit the same codepath, and catch the exception in case of

[2017-04-25 19:07] erozenfeld commented on #17905
@danmosemsft

No, there isn't a straightforward way to do that. ILLink operates on assemblies, not source files used to generate them.

[2017-04-25 19:07] CIPop commented on #16516
@mellinoe There are no crashes because all these tests have been disabled. I have two questions:
* Would adding a Debug.Fail be sufficient or should I write my own [MiniDumpWriteDump ](https://msdn.microsoft.com/en-us/library/windows/desktop/ms680360(v=vs.85).aspx) code to write the dmp file?
* If Debug.Fail is sufficient, will the tool collect a full-memory dump and will I have access to the symb

[2017-04-25 19:08] saurabh500 commented on #14615
@benaadams Thanks for pointing out the code.

The Connection Pool for System.Data (used by ODBC and SqlClient) are relying on the ThreadPool handling the exception and returning the thread to the pool. Routing the exception some other way would be a breaking change with respect to how the exceptions are surfaced from the ConnectionPool. The alternate routing is definitely needed for MVC apps where

[2017-04-25 19:10] karelz commented on #18905
I don't like System.Net, so System.Net.Http is IMO best candidate (minor vote) -- the question is if it will be overloaded soon.
@davidsh thoughts? cc @Priya91 @geoffkizer

Once we decide, we can explicitly call it out in [areas list](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas), so that we do not forget ;-)

[2017-04-25 19:23] shmao commented on #18682
@brentschmaltz Do you need to use `XmlDsigC14NTransform` or `XmlDsigExcC14NTransform`? It seems that both of the APIs are available in NetCore2.0 only (not in NetStandard2.0). Is your application built against `netstandard` or `netcoreapp`?

[2017-04-25 19:31] ianhays commented on #18834
I was also unable to repro. There aren't any recent changes I can see that would cause this, so I'm closing it unless we can repro it some other way or see it fail on CI.

[2017-04-25 19:31] #18834 closed

[2017-04-25 19:41] davidsh commented on #18905
@davidsh thoughts? cc @Priya91 @geoffkizer

I think of WebSockets as similar in semantics as Sockets.  So, I think it should be System.Net.Sockets label.

[2017-04-25 19:43] tijoytom opened #18940 "Helix lacking infrastructure support for running AOT test in app-container."
Need infrastructure support to selectively run test in App Container.

[2017-04-25 19:44] davidsh commented on #18486
We should follow the relevant RFC's for Cookies.  What does it says regarding "quotes around domain values"?  And for HttpListener, we need to pay attention to 2 kinds of "cookie" HTTP heraders, 'Set-Cookie' and 'Cookie'.  The first is what server sends to client. The second is what client sends to server.

[2017-04-25 19:45] benaadams commented on #14615
At a guess for the `PoolCreateRequest` you want to wrap it in another function which catches the exception and sets `_resError = e;` and `_errorOccurred = true;`; but its probably more complicated than that.

e.g.
[code]

Whether it normally gets swallowed on the Framework as a `AppDomain.UnhandledException` or pops up randomly on a `SynchronisationContext.Post` probably isn't a helpful behaviour

[2017-04-25 19:51] mellinoe commented on #16516
`Debug.Fail` should terminate the process and create a crash dump which we will upload, but I'm not sure what type of dumps we have the CI machines configured to collect. It may not be a full-memory dump, I think that depends on what we have the registry keys set to.

[2017-04-25 20:02] ericstj commented on #16195
I believe I've also addressed this in the NETStandard.Support package.  Closing this.

[2017-04-25 20:02] #16195 closed

[2017-04-25 20:06] weshaggard commented on #14595
@chcosta is this still on your radar for enabling in core-setup?

[2017-04-25 20:06] CIPop commented on #16516
@mellinoe Do you have access to any dump produced by the CI system? It's easy to tell if it's full or partial.
The default config in Windows is to collect partial dumps which are next to useless for managed code debugging.

[2017-04-25 20:10] davidsh commented on #17993
This is a test bug.  These unit tests originally were only meant to test the UAP/UWP layer (the WinRT implementation). The tests were supposed to use a fake network layer to simulate network conditions (connection loss, etc.).  Somehow, these unit tests got broken.

[2017-04-25 20:11] weshaggard commented on #17528
Closing as I believe this is expected. If I'm missing something please let me know.

[2017-04-25 20:11] #17528 closed

[2017-04-25 20:11] davidsh commented on #17990
cc: @CIPop

[2017-04-25 20:11] ericstj commented on #17633
I didn't do any "what if" scenarios in my PR.  I merely asserted we must have a netstandard impl if we have a nestandard ref.

We validate for this.  My previous PR filled in any gaps with PNSE assemblies where necessary.

That's not feasible for existing libraries since its a breaking change.  For new stuff we should try be conscious of this.  We can do an audit of all the new packages from this

[2017-04-25 20:13] AtsushiKan opened #18942 "Remove UAPAOT cheat in BinaryFormatterHelpers.Clone()"
This disables many binary serialization tests on AoT platforms to reduce test noise until we have a real BinaryFormatter story.

[2017-04-25 20:13] #18845 closed

[2017-04-25 20:15] Priya91 commented on #18905
I vote for system.net, as websocket protocol is just another application layer protocol for bidirectional communication between client and server. The RFC states that the design of the protocol does not limit websocket to http. I'm less inclined to choose Sockets area, as socket is just an ipaddress and port at layer 4  or so in OSI, whereas websocket is a protocol above that layer.

[2017-04-25 20:18] Priya91 commented on #18905
For the original issue, I don't clearly understand the scenarios where one will use these APIs in their apps. Going with msdn documentation, I would make it Future. @CIPop @davidsh might have more insights.

[2017-04-25 20:18] krwq commented on #18682
@shmao - FYI crypto-xml can be easily built against netstandard2.0 if private builds are fine but there will be likely feature work after 2.0 that's why we haven't officially enabled it there yet

[2017-04-25 20:20] #18846 closed

[2017-04-25 20:23] WinCPP commented on #18017
@karelz something that I can work on...?

[2017-04-25 20:26] weshaggard commented on #17430
Let's just remove alpine from the RID graph for 2.0 given that we aren't going to support it for 2.0.

[2017-04-25 20:29] #18632 closed

[2017-04-25 20:49] ianhays commented on #18705
@billwert are you running on the latest binaries? MaximumSize was overridden 20 days ago by @AtsushiKan in https://github.com/dotnet/corefx/pull/17965 to always return long.MaxValue.

[2017-04-25 20:49] #18705 closed

[2017-04-25 20:50] ianhays commented on #18888
@safern do you want this one or want me to take it?

[2017-04-25 20:51] billwert commented on #18705
@ianhays ah, I'm not. Cool.

[2017-04-25 20:52] safern commented on #18888
I take this one, already started but didn't assign it yet. Thanks for asking.

[2017-04-25 20:53] steveharter commented on #7812
Update on frequency of error: the CI machine hung on run # 316 but before that there were 4 failures for UseCallback_BadCertificate_ExpectedPolicyErrors, so ~1% failure rate. They all had the same call stack, however two different exception strings.

Two exceptions reported:
`System.Net.Http.WinHttpException : The buffers supplied to a function was too small`
and the other two:
`System.Net.Http.Wi

[2017-04-25 20:54] bartonjs commented on #18719
I think we still have a general goal of having the test board green so we understand if we're regressing during release-branch fixes.  So we should probably still for ZBB target having the test either just not run on desktop or run and do complicated things to figure out if it thinks it should have passed or not.

[2017-04-25 21:06] safern commented on #18813
Disabling the test.

[2017-04-25 21:07] safern commented on #18830
Thanks for the update @weshaggard

[2017-04-25 21:07] CoreyKaylor opened #18946 "System.Span<T> constructor Span(IntPtr ptr, int offset, int length)"
Does it make sense to have another constructor overload for Span<T> that takes an IntPtr as well for interop with native libraries and memory?

An example of a structure I use for native interop today.

[code]
Ideally, I would be able to do the following instead.
[code]

Looking at the pointer overload it looks like it's already using an IntPtr internally so I would think it wouldn't be all that d

[2017-04-25 21:08] tlbdk commented on #18873
Approach 1:
X509Certificate2 should implement the IDisposable interface according to the docs from  .NET Framework 4.6, so the creator would responsible for calling dispose. And also don't we more or less have the same issue on Windows with certificates and keys being left behind in the certificate store?

Non-exportable private keys won't be supported with this option, but I guess that's also not

[2017-04-25 21:10] geleems commented on #14638
@gyantal Thanks for the details!
I performed another test with your code.
***
* Env: Ubuntu 14.04.5 LTS
* .NET Core version: *1.1*
* The code I actually used:
[code]
***
The only difference from your code is that I took off `Encrypt=True;` from the connection string, because it triggered authentication exception since I am using local SSL certification.
***
This is the result:
[code]
I ran the cod

[2017-04-25 21:17] ahsonkhan commented on #18420
Should the "ReadOnly" be a suffix on AsSpan instead (AsSpanReadOnly)? I realize that the type is called ReadOnlySpan, but I am just thinking if both AsSpan and AsReadOnlySpan should appear next to each other in IntelliSense.

[2017-04-25 21:17] tlbdk commented on #9728
@karelz Would be happy to do a pull request if we could extend the interface, I don't think this would take a lot of time to implement, fx for the "httpHandler.ServerCertificateValidation = false;" option, the code is already doing this when ServerCertificateValidationCallback is supported as it disables internal validation in libcurl. Getting it to work on other platforms where ServerCertificateV

[2017-04-25 21:20] CIPop commented on #18905
@Priya91 See my comment above: we should not have these APIs available at all. By design, no application should _ever_ call them. We don't support that scenario on .Net Framework.

@weshaggard @danmosemsft Is it possible to remove them from Standard at this point?

[2017-04-25 21:21] jacksontbryan commented on #7812
Hello thread.  I worked around this issue when we hit it in a real production Windows environment by switching to HTTP from HTTPS.  It appeared to happen during the handshake for TLS.

The frequency was very interesting.  It would start happening, then consistently happen for several hours for thousands of requests, then stop happening for days.

[2017-04-25 21:22] jchannon commented on #9728
For CentOS we still do the same as mentioned here - https://github.com/dotnet/corefx/issues/9728#issuecomment-239403404

For OSX we have to do the same as mentioned here - https://github.com/dotnet/corefx/issues/9728#issuecomment-239413686

It's a mess and needs sorting ASAP

[2017-04-25 21:26] safern commented on #18821
Assigned to me.

[2017-04-25 21:27] cwe1ss commented on #18885
I fully agree with @SergeyKanzhelev. The computer name should be part of the metadata that is sent with every activity by the tracer. This allows the tracer to either mask it or to not send it at all if there are PII requirements.

I see these additional reasons (mostly from #18418):

* ID may be started on a device that doesn't have a proper computer name (e.g. phones, a javascript client, ...)
*

[2017-04-25 21:27] niemyjski commented on #9728
@tlbdk sounds great, any chance you could open an issue to track this :). I thought we had created one before, but I guess it was just mentioned in this issue.

[2017-04-25 21:28] ianhays commented on #18788
I am unable to repro this on the latest netcoreapp. I put your sample code in a test and it passed with the "FINISH" printed out.

[2017-04-25 21:28] #18788 closed

[2017-04-25 21:36] jkotas commented on #18420
They both AsReadOnlySpan and AsSpanReadOnly will show up in IntelliSense very close to each other.

[2017-04-25 21:37] danmosemsft commented on #18905
We do not remove members from types in net standard unless forced to to break dependencies (eg., on CAS or remoting types we don't want). So if the members cannot be implemented, PNSE is the way to go. We're trying to be pretty strict about not deferring PNSE without good reason, but of course that has to be weighed against value, usefulness, and other work you guys have. As I mentioned at the top

[2017-04-25 21:38] geoffkizer commented on #4002
I think it's related to configuration, but I haven't tracked down the details.

[2017-04-25 21:43] cwe1ss commented on #18885
* computer name may contain a "." which is also used in the current algorithm

[2017-04-25 21:51] danmosemsft opened #18949 "Light up Process.UseShellExecute when available on Windows"
It's on by default in Desktop and always off for Windows in Core: https://github.com/dotnet/corefx/issues/10361 https://github.com/dotnet/corefx/issues/4794
It's has an analogous implementation on Unix https://github.com/dotnet/corefx/pull/4861

The reason it's not in Core is ShellExecuteEx is not available in all OneCore platforms. Also " ShellExecuteEx needs to run as STA but managed code runs a

[2017-04-25 21:55] mellinoe commented on #18949
Just as more "anecdata", I've seen quite a few folks trying to use this API and being confused about the difference, in gitter, stackoverflow, and elsewhere. I think it will be a pretty common point of confusion as more folks start using .NET Core.

[2017-04-25 21:55] karelz commented on #18905
If the APIs behave differently on various platforms/OSs (incl. PNSE), please document the difference here: https://github.com/dotnet/corefx/wiki/ApiCompat

[2017-04-25 21:58] karelz commented on #9728
@tlbdk no guarantee if/when we take it - let's have the discussion in separate issue.

@jchannon "needs sorting ASAP" - what do you propose?

[2017-04-25 21:59] danmosemsft commented on #17905
@erozenfeld I don't think that was what I meant. I don't expect ILLink to operate over sources. But right now any shared sources that it shows as dead in binary X can't be easily deleted because they may be used by binary Y or Z. If notionally all our libraries were compiiled into in one big dll like ILMerge or suchlike had run, with pdb's fixed appropriately, then we could delete any common code

[2017-04-25 21:59] OmarTawfik commented on #17116
@marek-safar any information needed on my side for mono?

[2017-04-25 22:03] mconnew commented on #10146
Copying comment from dotnet/wcf#1792

On unix, HttpClient uses libcurl for communication. libcurl uses openssl for the certificate handling. My understanding is if you give HttpClient an ephemeral certificate which isn't in the local certificate store then libcurl is unable to use it. If you use X509Store to add it to your store, this places it in a special .net folder in your home directory and l

[2017-04-25 22:05] karelz commented on #18017
Sure, just be aware that we might need to postpone taking the change after May 10 - see https://github.com/dotnet/corefx/issues/17619#issuecomment-296872132 for details.

[2017-04-25 22:06] jchannon commented on #9728
not having to jump through ridiculous hoops.

if i set the callback to true it should not validate the certs.

the issues seem to be with the underlying libraries however but i have no
idea how you solve that but from a user perspective the api provided doesnt
work

On 25 April 2017 at 22:59, Karel Zikmund <notifications@github.com> wrote:

[2017-04-25 22:09] karelz commented on #9728
@jchannon we can solve it by documentation. Or by making sure the exceptions are self-describing. Or by adding the API on the [compat list](https://github.com/dotnet/corefx/wiki/ApiCompat).
Do you have preference?

[2017-04-25 22:09] daxian-dbw commented on #9728
I got the same problem when using `HttpClientHandler.ServerCertificateCustomValidationCallback` with `netcoreapp2.0` on `osx.10.12-x64`:
[code]
I tried the workaround I saw from this thread: `sudo install_name_tool -change /usr/lib/libcurl.4.dylib /usr/local/opt/curl/lib/libcurl.4.dylib ./System.Net.Http.Native.dylib`
And `otool -L` does show the rpath of `System.Net.Http.Native.dylib` points to `

[2017-04-25 22:10] lajones commented on #10526
We would consider a PR for this if someone would like to provide one.

[2017-04-25 22:13] jchannon commented on #9728
i'm not sure what you'd add to the docs, there seems varying hacks to get it to work. My colleagues seem to have done various other things to get it to work on their system but we all run the same OS.

[2017-04-25 22:17] benaadams commented on #18946
This would work currently?
[code]

[2017-04-25 22:17] ajaybhargavb commented on #18883
@tmat that works. I am trying to extract the constructor arguments from a custom attribute. But I see `CustomAttributeDecoder` is internal. Is there a plan to expose it in the future? I'd prefer not having to copy that code and use it.

[2017-04-25 22:17] stephentoub commented on #18905
FWIW, it think it would be pretty quick and easy to implement:
[code]
We basically already have that implemented here:
https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs#L39
so I expect this implementation would involve a) building ManagedWebSocket.cs into System.Net.WebSockets.dll (i.e. augment the .csproj), and b) change the method from:
[code]

[2017-04-25 22:18] ianhays commented on #18706
Seems reasonable.

[2017-04-25 22:20] CIPop commented on #16516
@mellinoe answered my questions offline. We should be able to collect full-dumps.
I'll propose a PR with the necessary changes.

[2017-04-25 22:22] shmao commented on #18802
The test is still failing on netfx.

[2017-04-25 22:23] erozenfeld commented on #17905
@danmosemsft No, ILLink can't merge assemblies into one like ILMerge does. I don't know how ILMerge handles clashing names across assemblies. If you have class N.C in assembly A and class N.C in assembly B, in general you need to keep both (and rename one or both) when merging unless you can prove that they are identical in a deep sense.

[2017-04-25 22:29] tmat commented on #18883
This should work: https://source.dot.net/#System.Reflection.Metadata/System/Reflection/Metadata/TypeSystem/CustomAttribute.cs,d081c5c9add06fae,references

[2017-04-25 22:30] danmosemsft commented on #17905
Gotcha. Well maybe an approach will emerge in the future. It's not a big deal.

[2017-04-25 22:30] danmosemsft commented on #17905
It also occurs to me that it could be done with some processing of the CSVs...

[2017-04-25 22:30] #18542 closed

[2017-04-25 22:45] weshaggard commented on #17660
This issue has been addressed the only AccessControl library part of UAP is the base System.Security.AccessControl library.

[2017-04-25 22:45] #17660 closed

[2017-04-25 22:46] daxian-dbw commented on #9728
@karelz I'm sorry to reiterate on this. Does this mean `HttpClientHandler.ServerCertificateCustomValidationCallback`currently is not supported in `netcoreapp2.0` on Mac at all?
I have tried the workarounds mentioned in https://github.com/dotnet/corefx/issues/9728#issuecomment-239413686 and https://github.com/dotnet/corefx/issues/9728#issuecomment-297179979, and none of them work for me. Is there a

[2017-04-25 22:46] geleems commented on #14638
@gyantal Another attempt to repro:
[code]
This `<remote_hostname>` is remote machine, which is separated physical box from the one Ubuntu is running on. The default port for this SQL Server is `1432`.
***
The result was the same, and I could not face the exception.
[code]

[2017-04-25 22:56] mellinoe opened #18954 "Behavior of Math.Cos and Sin of double.MaxValue differs between 32- and 64-bit Windows"
This is a behavior difference inherited from the underlying C-runtime library functions we are now using. Some of our higher-order functions, like `Complex.Cos`, etc. inherit some quirkiness in their behavior when interacting with `double.MaxValue`.

32-bit Windows:
[code]

64-bit Windows
[code]

FYI: @tannergooding

[2017-04-25 23:17] #18812 closed

[2017-04-25 23:28] saurabh500 commented on #10061
I looked at the issue and for 10 connections and a transaction open on each connection, I dont see any latencies as high as 250 ms.

[code]
Results of `dotnet run `

[code]

This is a high resolution stopwatch, and I see that the max time is taken for the first transaction which about 20000 ticks, i.e. 2 ms.

I cannot reproduce this performance problem. Closing the issue.

[2017-04-25 23:28] #10061 closed

[2017-04-25 23:30] saurabh500 commented on #16452
@danmosemsft  I don't see any more failures for this test since this issue was opened. This could have been an intermittent issue.
Closing this issue. It can be reopened in case we have any other hits.

[2017-04-25 23:30] #16452 closed

[2017-04-25 23:33] danmosemsft commented on #16452
OK

[2017-04-25 23:38] gyantal commented on #14638
Thank you for the investigation.
It is getting very interesting...

Making another step to find this elusive thing...
I have created a temporary SQL server on Azure.  (copied the AdventureWorks database into it.)
So, in this case you and me will test it with exactly the same SQL server. (Azure server, default port 1433, etc.)
Could you test exactly the same Program.cs with the following modificati

[2017-04-25 23:40] ianhays commented on #18858
This shouldn't be the case since the merging of https://github.com/dotnet/corefx/pull/12845. All clrcompression binaries are built using the /GS tag.

What version of clrcompression are you scanning?

It doesn't look like the symbols myget feed referenced by the onenote "how to find symbols" exists, so if you could link me where you're getting those that would also be helpful :)

[2017-04-25 23:42] corivera commented on #17373
Looks like this was happening when native SNI was still the default. Since we're using managed SNI as the default in SqlClient, this issue no longer reproduces.

[2017-04-25 23:42] #17373 closed

[2017-04-25 23:53] svick commented on #18954
Previous somewhat related discussion: https://github.com/dotnet/corefx/issues/16486.

It mentions that for large inputs, the value of `Sin` and `Cos` is effectively meaningless, since the uncertainty is more than 2π. So it makes sense to me that the value differs in different environments and I'm not sure how much value is there in making them consistent.

[2017-04-26 00:01] tannergooding commented on #18954
On the other platforms the result is consistent between 32 and 64 bit. Windows shouldn't the same and ideally all platforms would use the same implementation eventually.

[2017-04-26 00:10] Priya91 commented on #10146
@mconnew I don't understand how that explains the original issue, can you please provide a smaller repro of the issue.

When the user specifies a client certificate with HttpClientHandler.ClientCertificates.Add(cert), it gets added to ssl object used by libcurl, by setting the client certificate callback function [here](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Ne

[2017-04-26 00:12] CIPop commented on #16516
/cc @Priya91
I was finally able to repro in a debugger but I'm not sure what causes this yet.

This has the same cause as #9543, #15777 and #16167: the `X509Certificate` object is disposed sometime after the `cred.paCred` is set [here](https://github.com/dotnet/corefx/blob/ec2a6190efa743ab600317f44d757433e44e859b/src/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs#L381) but bef

[2017-04-26 00:12] karelz commented on #9728
@daxian-dbw correct, it is my understanding it does not work on Mac at all and that there is no workaround due to the bug in curl.

[2017-04-26 00:33] gyantal commented on #14638
Hi,

I have created a temporary brand new Ubuntu 16.04 LTS VM from scratch, and installed DotNetCore fresh as instructed here
https://www.microsoft.com/net/core#linuxubuntu
And ...can reproduce the bug with the same code with the Test SQL server I created from scratch an hour ago.

You can login to this temporary Ubuntu server and look around.
E.g. Use Putty.exe and set these in Putty:
- Host name

[2017-04-26 00:34] zenixgrace commented on #18000
hello @davidsh, yes the response have more than 1 body content. For now, I make the auto redirect false, and manually call the redirect page.

[2017-04-26 00:40] CoreyKaylor commented on #18946
@benaadams Yes, technically it would work although it would force me to compile with unsafe options turned on and at this point I have yet to do so. Not the end of the world if that's the outcome, but to me this seemed like a logical addition.

[2017-04-26 01:01] karelz commented on #18931
I think it belongs into CoreCLR repo ...

[2017-04-26 01:02] karelz commented on #18932
Looks like dupe of #14762 to add it into .NET Core.

[2017-04-26 01:02] #18932 closed

[2017-04-26 01:08] CIPop commented on #9543
@steveharter Do you still have a repro? (I couldn't repro with the above values - looks like this one is very tightly related to timings.)

[2017-04-26 01:10] bartonjs commented on #10146
Yep, ephemeral certificates should work just fine in on Linux with libcurl+openssl.  libcurl+nss (or any other provider) won't work; and client authentication is not supported via the Http classes on macOS.  (libcurl+darwinssl doesn't support the callback, and libcurl+openssl doesn't speak the right pointer language since our certs are backed by Security.framework on macOS now)

[2017-04-26 01:29] ryangurazov commented on #10146
Why lack of understanding and request for repro makes it not a bug any more ? :)
As it is been indicated in related ticket (https://github.com/PowerShell/PowerShell/issues/2511) this functionality is very much needed. Please at least provide some workaround for this issue before proper solution is implemented.

[2017-04-26 02:01] benaadams commented on #18946
Non-unsafe overload should probably be
[code]
As ptr is a ptr and includes any offset; so you could do this if you wanted an offset?

[code]

[2017-04-26 02:11] budcribar commented on #14762
We use WMI to get system info which we report back to the user of our hardware diagnostic program.

[2017-04-26 02:13] CoreyKaylor commented on #18946
@benaadams that sounds right, I didn't need the offset myself and was just matching the constructor of pointer constructor as a reference, but what you said makes sense.

[2017-04-26 02:17] davidfowl commented on #18946
One thing I don't quite understand is when we choose to expose Intptr vs void*' maybe @jkotas or @terrajobst can shed some light

[2017-04-26 02:19] jkotas commented on #18946
We are only exposing `void*` for any new unsafe APIs. Yes, it requires `unsafe` and that is a good thing.

[2017-04-26 02:24] jkotas commented on #18946
The `IntPtr` variant does not make your code any bit safer. It is exactly as unsafe as the `void*` variant, except that it is not explicit.

[2017-04-26 02:29] CoreyKaylor commented on #18946
Yeah, I wasn't making any statements as to safer or not, but rather "I already have one of these" and it seems to be what is used internally to Span. Thanks for the clarification on your previous statement all the same. If your recommendation is to use a pointer directly I'm fine with that. I've already been on the fence for other parts of my api to use other unsafe blocks so this may just push me

[2017-04-26 03:06] #18205 closed

[2017-04-26 03:33] #18296 closed

[2017-04-26 03:51] lmolkova commented on #16856
@vancem I believe the reason for test failure is that we compare precise time from Activity with imprecise DateTime.UtcNow, but I increased sleep time.

@Jiayili1 if the test fails again, it would be great to have exact line/stack trace.

[2017-04-26 04:12] safern opened #18964 "Soap encoded serialization fails on a netstandard library when running on Desktop."
When using soap encoded serialization on a netstandard library and running on Desktop it fails as Desktop has a difference in behavior where it looks for System types (e.g System.Enum, System.Object) in mscorlib.dll but since it was built against netstandard the types it is loading are from netstandard.dll so costumers would hit an InvalidOperationException like this one:

[code]

There needs to b

[2017-04-26 04:25] safern commented on #18660
Tracking issue: #18964

[2017-04-26 04:36] safern commented on #17917
@karelz did we get any update from the review group?

This seems to be a breaking change we would be introducing, it can be workaround from our costumers but not ideal.

cc: @terrajobst

[2017-04-26 05:23] gkhanna79 opened #18966 "CompileDeepTree_NoStackOverflowFast fails StackOverflowException with debug build"
@seanshpark commented on [Thu Apr 20 2017](https://github.com/dotnet/coreclr/issues/11122)

CoreFX System.Linq.Expressions.Tests teminates with StackOverflowException
[code]
Inside, `CompileDeepTree_NoStackOverflowFast` test, it tests the compiler with 100 constant expression with 128KB stack size. I'm running the test with debug version of corerun (release is not stable yet).
When I change the st

[2017-04-26 05:46] #18660 closed

[2017-04-26 06:24] safern commented on #18815
I just ran the tests and only seeing 33 failures, should we really disable the whole test assembly? I am curious because System.Security.Permissions is shipped in the 461 netfx package. (it has a pkgproj that targets 461)

[2017-04-26 06:31] Jiayili1 commented on #18802
This issue is repro on full framework tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170426.01/workItem/System.Runtime.Serialization.Json.ReflectionOnly.Tests/analysis/xunit/DataContractJsonSerializerTests~2FDCJS_VerifyDateTimeForFormatStringDCJsonSerSettings

[2017-04-26 06:34] Jiayili1 commented on #17933
Following test failed with "System.IO.FileLoadException":
DataContractSerializerTests/DCS_BasicRoundtripDCRVerifyWireformatScenarios

Message:
[code]

Stack Trace:
[code]

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170426.01/workItem/System.Runtime.Serialization.Xml.ReflectionOnly.Tests/analysis/xunit/D

[2017-04-26 06:41] Jiayili1 commented on #18197
another test failed with "System.Security.Cryptography.CryptographicException"

Failed test: System.Security.Cryptography.Encryption.Aes.Tests.AesContractTests/ValidateDecryptorProperties

Message:
[code]

Stack Trace:
[code]

[2017-04-26 06:44] dotnet-mc-bot opened #18969 "Test: System.Security.Cryptography.Hashing.Algorithms.Tests.InvalidUsageTests/InvalidHashCoreArgumentsFromDerivedType failed with "System.ArgumentException""
Opened on behalf of @Jiayili1

The test `System.Security.Cryptography.Hashing.Algorithms.Tests.InvalidUsageTests/InvalidHashCoreArgumentsFromDerivedType` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentOutOfRangeException)\r
    Actual:   typeof(System.ArgumentException): Value was invalid.

        Stack Trace:

           at System.Security.Cryptography.HashAlgorithm.T

[2017-04-26 06:45] Jiayili1 commented on #18271
This issue is repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170426.01/workItem/System.Security.Cryptography.Algorithms.Tests/analysis/xunit/System.Security.Cryptography.Hashing.Algorithms.Tests.InvalidUsageTests~2FInvalidHashCoreArgumentsFromStream

https://mc.dot.net/#/product/netcore/master/source

[2017-04-26 06:50] dotnet-mc-bot opened #18970 "Test: System.Security.Permissions.Tests.ApplicationTrustTests/ApplicationTrustCollectionCallMethods failed with "System.ArgumentException""
Opened on behalf of @Jiayili1

The test `System.Security.Permissions.Tests.ApplicationTrustTests/ApplicationTrustCollectionCallMethods` has failed.

System.ArgumentException : An ApplicationTrust must have an application identity before it can be persisted.

        Stack Trace:

           at System.Security.Policy.ApplicationTrustCollection.Add(ApplicationTrust trust)
       at System.Security.P

[2017-04-26 06:51] dotnet-mc-bot opened #18971 "Test: System.Security.Permissions.Tests.ApplicationTrustTests/ApplicationTrustEnumeratorCallMethods failed with "System.NullReferenceException""
Opened on behalf of @Jiayili1

The test `System.Security.Permissions.Tests.ApplicationTrustTests/ApplicationTrustEnumeratorCallMethods` has failed.

System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

           at System.Security.Policy.ApplicationTrustEnumerator.MoveNext()
       at System.Security.Permissions.Tests.ApplicationTrustTests.A

[2017-04-26 06:55] Jiayili1 commented on #17933
Following test failed with "System.IO.FileNotFoundException":
System.Security.Permissions.Tests.EvidenceBaseTests/HashCallMethods

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170426.01/workItem/System.Security.Permissions.Tests/analysis/xunit/System.Security.Permissions.Tests.EvidenceBaseTests~2FHashCall

[2017-04-26 06:57] Jiayili1 commented on #18818
This issue is repro on full framework tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170426.01/workItem/System.Security.Permissions.Tests/analysis/xunit/System.Security.Permissions.Tests.MembershipConditionTests~2FPublisherMembershipConditionCallMethods

[2017-04-26 06:58] gyantal commented on #14638
Probably not the difference, but note my *.csproj
[code]

[2017-04-26 07:00] Jiayili1 commented on #18820
This issue is repro on full framework test, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170426.01/workItem/System.Security.Permissions.Tests/analysis/xunit/System.Security.Permissions.Tests.PolicyTests~2FPolicyLevelCallMethods

[2017-04-26 07:02] Jiayili1 commented on #18815
This issue is repro on Full Framework Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170426.01/workItem/System.Security.Permissions.Tests/analysis/xunit/System.Security.Permissions.Tests.SecurityElementTest~2FAttributes_Name_Invalid_MS

[2017-04-26 07:02] Jiayili1 commented on #18819
This issue is repro on Full Framework Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170426.01/workItem/System.Security.Permissions.Tests/analysis/xunit/System.Security.Permissions.Tests.SerializationTests~2FSerializeDeserialize_Succeeds

[2017-04-26 07:04] Jiayili1 commented on #18810
This issue is repro on Full framework tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170426.01/workItem/System.Xml.XmlSchemaSet.Tests/analysis/xunit/System.Xml.Tests.XmlSystemPathResolverTests~2FTestResolveInvalidPaths

[2017-04-26 07:10] Jiayili1 commented on #18661
This issue is repro on Full Framework Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170426.01/workItem/System.Xml.XmlSerializer.ReflectionOnly.Tests/analysis/xunit/XmlSerializerTests~2FXml_TimeSpanAsRoot

[2017-04-26 07:10] rolftimmermans opened #18972 "Add option to HttpClientHandler to validate certificates against custom root certificate authorities"
To validate a server certificate against a set of root certificates (instead of the system certificates), we are now limited to using ServerCertificateCustomValidationCallback. Unfortunately this callback does not work on all systems due to incompatibilities described in #9728, and it seems there are some blockers to fixing them on some platforms.

It may be easier for users to just be able to pro

[2017-04-26 07:16] dotnet-mc-bot opened #18973 "Test: System.Collections.ObjectModel.Tests.KeyedCollection_Serialization/SerializeDeserialize_Roundtrips failed with "Xunit.Sdk.NotSameException""
Opened on behalf of @Jiayili1

The test `System.Collections.ObjectModel.Tests.KeyedCollection_Serialization/SerializeDeserialize_Roundtrips(c: [\"hello\", \"world\"])` has failed.

Assert.NotSame() Failure

        Stack Trace:

           at System.Collections.ObjectModel.Tests.KeyedCollection_Serialization.SerializeDeserialize_Roundtrips(TestCollection c)
Build : Master - 20170426.01 (UWP F5 Tes

[2017-04-26 07:20] Jiayili1 commented on #18814
This issue is repro on UWP F5 tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170426.01/workItem/System.Security.Claims.Tests/analysis/xunit/System.Security.Claims.ClaimTests~2FClaim_SerializeDeserialize_Roundtrip

[2017-04-26 07:32] v-haren opened #18974 "system.security.cryptography.xml.tests failed"
https://ci.dot.net/job/dotnet_corefx/job/master/job/debian8.4_release/2089/consoleFull#178427296579fe3b83-f408-404c-b9e7-9207d232e5fc

[2017-04-26 07:36] Jiayili1 commented on #17878
This issue is repro on core tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170426.01/workItem/System.Net.NameResolution.Pal.Tests/analysis/xunit/System.Net.NameResolution.PalTests.NameResolutionPalTests~2FGetHostByName_HostName

[2017-04-26 07:42] Jiayili1 commented on #18461
This issue is repro on build 20170426.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170426.01/workItem/System.Collections.Performance.Tests/analysis/xunit/System.Collections.Tests.Perf_List~2FClear(size:%20100000)

[2017-04-26 07:43] Jiayili1 commented on #18463
This issue is repro on build 20170426.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170426.01/workItem/System.IO.MemoryMappedFiles.Performance.Tests/analysis/xunit/System.IO.MemoryMappedFiles.Tests.Perf_MemoryMappedFile~2FCreateNew(capacity:%2010000)

[2017-04-26 07:46] Jiayili1 commented on #18538
This issue is repro on Core tests, checked the commit is in build 20170426.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170426.01/workItem/System.Runtime.Serialization.Json.ReflectionOnly.Tests/analysis/xunit/DataContractJsonSerializerTests~2FDCJS_VerifyDateTimeForFormatStringDCJsonSerSetting

[2017-04-26 07:52] Jiayili1 commented on #18652
This issue is repro on UWP F5 tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170426.01/workItem/Microsoft.Win32.Registry.AccessControl.Tests/analysis/xunit/Microsoft.Win32.RegistryAclExtensionsTests~2FSetAccessControl_NullArgument_Throws

[2017-04-26 08:21] ViktorHofer commented on #18652
@alexperovich Any idea why tests are still running for uap?

[2017-04-26 08:23] Jiayili1 opened #18975 "Desktop: DataContractSerializerTests.DCS_BasicRoundtripDCRVerifyWireformatScenarios failed with "System.IO.FileLoadException""
Failed test: DataContractSerializerTests.DCS_BasicRoundtripDCRVerifyWireformatScenarios

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/31/testReport/(root)/DataContractSerializerTests/DCS_BasicRoundtripDCRVerifyWireformatScenarios/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-26 08:29] Jiayili1 commented on #16856
Another test failed with same issue: System.Diagnostics.Tests.ActivityTests.StopWithoutTimestamp

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/31/testReport/System.Diagnostics.Tests/ActivityTests/StopWithoutTimestamp/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-26 08:41] Jiayili1 commented on #18271
This issue is repro on desktop: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/31/testReport/System.Security.Cryptography.Cng.Tests/RsaCngTests/RSACng_Ctor_UnusualKeysize_1032/

[2017-04-26 09:06] Jiayili1 commented on #18543
This issue is repro on desktop, checked the commit is not in this build, will check on next build, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/31/testReport/System.IO.Pipes.Tests/NamedPipeTest_CreateServer/Windows_CreateFromAlreadyBoundHandle_Throws_ArgumentException_direction__In_/

[2017-04-26 09:08] Jiayili1 commented on #18723
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/31/testReport/(root)/DataContractJsonSerializerTests/DCJS_ReadOnlyDictionary/

[2017-04-26 09:09] Jiayili1 commented on #18899
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/31/testReport/(root)/XmlDictionaryWriterTest/XmlBaseWriter_FlushAsync_2/

[2017-04-26 09:13] Jiayili1 commented on #18478
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/31/testReport/System.Security.Cryptography.Hashing.Algorithms.Tests/HmacSha512Tests/ProduceLegacyHmacValues/

[2017-04-26 10:19] jmroyb commented on #18932
Thanks karelz for your update

[2017-04-26 10:39] dannyb2100 opened #18976 "Unable to run new app: System.DllNotFoundException: Unable to load DLL 'api-ms-win -core-registry-l1-1-0.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)"
Sorry if that has been previously addressed or answered, could not find an applicable solution.

The default generated web app with visual studio.

[code]

[2017-04-26 10:40] #18813 closed

[2017-04-26 10:42] #18829 closed

[2017-04-26 11:11] #17621 closed

[2017-04-26 11:14] chifton commented on #18845
Hello,

Yes it is .Net Core 1.1. Thank you for your clear answer, I understand. I will build it regarding your link.
When will .Net Core 2.0 be available ?

Chifton

[2017-04-26 11:34] stephentoub commented on #17917
Our having added this extension to both IDictionary and IReadOnlyDictionary causes a problem for any type that implements both interfaces, something we expect to be common.  We shouldn't add a specific overload for every one of our own types that implements both, and we can't do so for types we don't own (any 3rd party collection that implements both).  I suggest the right solution is to remove ei

[2017-04-26 12:13] bartonjs commented on #18974
@mellinoe We got a segfault with no stack trace.  Is that a known happenstance?

It looks like the coredump did get uploaded.  Do we have a good way of working with them? (Like, can we recover the binaries for the CI job? (or do we need to?))

[2017-04-26 12:26] bartonjs commented on #18894
@danmosemsft For X509Store did you possibly mean unix throws, mac doesn't?

If so, this is as expected due to platform (OS) differences.

[2017-04-26 12:35] benaadams commented on #18481
@mgravell random things make benchmarking comparisons hard 😛

[2017-04-26 12:37] bartonjs commented on #18724
Repros just fine for me.

The problem is that the catch (https://github.com/dotnet/corefx/blob/2c5c14b9176b4bc17dfbca8404961ba5f813869a/src/System.Security.Cryptography.Pkcs/tests/EnvelopedCms/EdgeCasesTests.cs#L108) eats the desktop exception and moves on to call Encode(), but since Encrypt() didn't succeed it's in an invalid state.

The catch body should return.

[2017-04-26 12:47] bartonjs commented on #18719
@AlexGhiondea I don't suppose we have a good/standard way of determining what netfx we have for non-quirked compat tests?

Probably we should take the line that's failing (https://github.com/dotnet/corefx/blob/ff08c4a41a57d18bed6c134dacaac990333b4f5d/src/System.Security.Cryptography.Cng/tests/ECDsaCngTests.cs#L93) and move it into something more complicated like

[code]

We could leave out the ver

[2017-04-26 12:51] grahamehorner opened #18978 "Add Oracle ODBC - CI dependencies for testing"
Please consider adding x-platform Oracle ODBC testing to CI

https://github.com/dotnet/corefx/issues/15776
https://github.com/dotnet/corefx/issues/13035

[2017-04-26 12:58] bartonjs commented on #18873
The file lifetime in this proposal is more complicated than the key file on Windows.  The Windows scenario is it's there from PFX import until the cert is disposed/finalized.  This one would need to be there from the time it was used as a client cert until it isn't needed anymore.

That turns out to be slightly moot, since I ran across a comment (by me, which just shows why comments are useful) th

[2017-04-26 13:33] jnm2 commented on #17917
I'd hope to encourage wider implementation of `IReadOnlyDictionary` rather than `IDictionary`.

[2017-04-26 13:42] mountgellert commented on #6746
@ericstj, @rrelyea, any update on this item?

[2017-04-26 13:45] jnm2 commented on #6746
@karelz Is there a way for be to check whether platform differences like this are already documented in terrajobst/platform-compat?

[2017-04-26 14:30] karelz commented on #6746
Only search on GH / of the entries. Some entries are collected also in: https://github.com/dotnet/corefx/wiki/ApiCompat

We will do a proper larger sweep post 5/10 across all repo.

[2017-04-26 14:31] karelz commented on #6746
But if you know about some incompatibilities, it is better to add them into wiki/tool right now (e.g. as a placeholder with TODOs), rather than risking we could miss them later ...

[2017-04-26 14:35] karelz commented on #17917
I vaguely remember the discussions about `IDictionary` usage vs. `IReadOnlyDictionary` - was it on the original bug?

We didn't review it, because I didn't mark it for API review :( ... we may need to postpone it for next Tuesday.

[2017-04-26 14:43] ViktorHofer opened #18982 "uap tests run for Microsoft.Win32.Registry.AccessControl"
We excluded Microsoft.Win32.Registry from uap tests and should the same with Microsoft.Win32.Registry.AccessControl.

See: https://github.com/dotnet/corefx/issues/18652

[2017-04-26 14:59] vancem opened #18984 "Fix and Reenable EventSource tests on Desktop Runtime"
In PR #18965 some EventSource tests were disabled on Destkop because the tests were looking at internal items that were not on the Desktop runtime

This issue tracks fixing the test and enable these tests on Desktop

@brianrob

[2017-04-26 14:59] #18821 closed

[2017-04-26 15:03] safern commented on #18984
I just updated my PR to fix the test instead of disabling it. Please see my latest commit: https://github.com/dotnet/corefx/pull/18965/commits/fe72b03f4d1b3d110e633caa55425d0dfa434b65

[2017-04-26 15:04] safern commented on #18984
So this can be closed if you consider that is the correct fix.

[2017-04-26 15:08] karelz commented on #18938
If you don't get answer quickly here, I would suggest to consider asking on StackOverflow ...

[2017-04-26 15:09] vancem commented on #18984
Turns out @safern already did the work.

[2017-04-26 15:09] #18984 closed

[2017-04-26 15:10] karelz commented on #18972
Can you please summarize the API shape (see [API review](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) - esp. sample)

[2017-04-26 15:11] karelz commented on #18972
Also more comments on scenarios, how common they are and workarounds ... - see https://github.com/dotnet/corefx/issues/9728#issuecomment-297118858

[2017-04-26 15:28] rolftimmermans commented on #18972
Some suggestions:

**Option 1: Provide the path to a PEM-encoded certificate bundle (example file: https://curl.haxx.se/ca/cacert-2017-01-18.pem)**

[code]

**Option 2: Allow adding to a list of X509Certificate2 root certificates.**

[code]

[2017-04-26 15:29] #18706 closed

[2017-04-26 15:35] rjxby commented on #17099
Hi, I can try to work on it 🙂

[2017-04-26 15:36] weshaggard commented on #18845
Q3 this year. See https://github.com/dotnet/core/blob/master/roadmap.md.

[2017-04-26 15:39] danmosemsft commented on #18894
@bartonjs yes, corrected. OK, closing.

[2017-04-26 15:39] #18894 closed

[2017-04-26 15:52] #18652 closed

[2017-04-26 15:52] #18982 closed

[2017-04-26 15:52] #18899 closed

[2017-04-26 15:53] #17430 closed

[2017-04-26 15:57] davidsh commented on #18972
From an API perspective, the ServerCertificateCustomValidationCallback is all you need.  It allows for complete custom validation using whatever criteria you want.

The problem being described is an implementation issue with how it works...it is not a problem with the API design itself.  Adding another API as suggested above is trying to solve an implementation problem, not an API design problem.

[2017-04-26 16:02] svick commented on #17917
@karelz Are you referring to this comment: https://github.com/dotnet/corefx/issues/3482#issuecomment-263007579?

[2017-04-26 16:03] danmosemsft commented on #17982
This seems fixed

[2017-04-26 16:06] danmosemsft commented on #18835
@mellinoe could you please take a look?

[2017-04-26 16:06] ianhays commented on #18835
Logs show it as a random segfault. If it occurs repeatedly then we should look into it further.

[2017-04-26 16:07] danmosemsft commented on #18390
@mellinoe could you please update this with the data you got from trying them locally?  Did you establish these were bogus?

[2017-04-26 16:08] danmosemsft commented on #10546
@ianhays OK thne assigned to you

[2017-04-26 16:08] karelz commented on #17917
Yep, thanks @svick! I thought it was you doing the research, just wasn't 100% sure. And kudos for monitoring entire CoreFX (I don't understand how you handle the volume :)).

[2017-04-26 16:10] danmosemsft commented on #18922
Why is that? I assumed that in Git and Sublime on Windows this was just a hangover from their non-Windows heritage. it's certainly handy to be able to paste in a Windows path and add ** on the end or suchlike.

[2017-04-26 16:11] danmosemsft commented on #9257
@DrewScoggins ...?

[2017-04-26 16:11] safern commented on #17917
So then we should mark this as api-ready-for-review and update the proposal to be deleting one of the extensions methods.

[2017-04-26 16:14] vdangwal commented on #10445
I was trying to use this with Xamarin Native targeting Profile 111 in PCL project. I was trying to install sqlite-net-pcl and it failed. After installing System.Runtime.InteropServices.RuntimeInformation first and then install sqlite-net-pcl, it worked like charm. :) 👍 thanks @okosodovictor

[2017-04-26 16:19] karelz commented on #17917
I guess something like that ...

[2017-04-26 16:20] stephentoub commented on #18600
Different test, same issue.

[2017-04-26 16:24] #18807 closed

[2017-04-26 16:42] ianhays commented on #10546
Thanks Dan, I actually already removed these in https://github.com/dotnet/corefx/pull/18566, just forgot to link the issue :)

[2017-04-26 16:42] #10546 closed

[2017-04-26 16:52] shmao commented on #18538
@stone-li can you please take a look at this failure? The test failed on NetCore in nightly run.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170426.01/workItem/System.Runtime.Serialization.Json.Tests/analysis/xunit/DataContractJsonSerializerTests~2FDCJS_VerifyDateTimeForFormatStringDCJsonSerSetting

[2017-04-26 16:58] chifton commented on #18845
Okay thank you !

[2017-04-26 17:04] DrewScoggins commented on #9257
I believe that the performance instructions have already been updated to be current by this [PR](https://github.com/dotnet/corefx/pull/17319).

I also made a change in buildtools that fixed the issue where we were exposing the call to python when you were not uploading to Benchview with this [PR](https://github.com/dotnet/buildtools/pull/1448).

So I think we can close this issue.

[2017-04-26 17:11] tarekgh commented on #9257
Closing the issue per @DrewScoggins comment

[2017-04-26 17:11] #9257 closed

[2017-04-26 17:16] brentschmaltz commented on #18682
@shmao I am going to see how far XmlDsigC14nTransform and XmlDsigExcC14NTransform can get us. Thanks.

[2017-04-26 17:18] daxian-dbw opened #18989 "[netcoreapp2.0] `AssemblyLoadContext.GetLoadContext` crashes when pass in a dynamic assembly"
`AssemblyLoadContext.GetLoadContext` crashes the running program when a dynamic assembly is passed in as an argument.

**Repro**
[code]

**Expected behavior**
The default load context should be returned by `AssemblyLoadContext.GetLoadContext`

**Actual behavior**
[code]
I think this bug is related to #18877

/cc @gkhanna79

[2017-04-26 17:24] pgolebiowski commented on #574
There are many concerns that need discussion, but let's start with the one that currently has the most impact on the parts we disagree about: **updating and removing elements**.

How do you want to support these operations then? We have to include them, they are basic. In Java, the designers have omitted them, and as a result:

1. There are plenty of questions on forums for how to do workarounds d

[2017-04-26 17:29] #18989 closed

[2017-04-26 17:29] gkhanna79 commented on #18989
Issue moved to [dotnet/coreclr #11228](https://github.com/dotnet/coreclr/issues/11228) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-26 17:31] #16675 closed

[2017-04-26 17:39] ericstj commented on #17905
All this data is likely out of date now.  We should probably rerun the reports if you want to do more work on this.  You can find instructions on doing that in the background section above.

[2017-04-26 17:40] karelz commented on #574
@pgolebiowski rest assured that everyone here has the best intentions for the platform. No one wants to ship broken APIs. We want to learn from mistakes of others, so please keep bringing such useful relevant information (like the one abut Java story).

However, I want to point out couple of things:
* Don't expect changes overnight. This is a design discussion. We need to find consensus. We do not

[2017-04-26 17:43] danmosemsft commented on #17099
Great, @rjxby I sent you a collaborator invite. Once you do that I can assign you this.

[2017-04-26 17:43] VSadov commented on #14752
Is this behavior different between .NET and Core FX?

[2017-04-26 17:43] gkhanna79 commented on #3689
@kouvel Is this actionable?

[2017-04-26 17:45] pgolebiowski commented on #574
I just asked how do you guys want to design the updating / removing thing if you don't like the proposed approach... This is listening to others and looking for consensus, I believe.

[2017-04-26 17:47] gkhanna79 commented on #18712
@ramarag Did you get a chance to look into this?

[2017-04-26 17:49] kouvel commented on #3689
This is not immediately actionable, this shouldn't be for 2.0.0, moved. I'll need to take a look at the code again and see why one item is missing from time to time.

[2017-04-26 17:53] VSadov commented on #14077
Dynamic API on Expression has been added back.
ExpressionVisitor also has VisitDynamic

I think this has been addressed

[2017-04-26 17:53] #14077 closed

[2017-04-26 17:54] #18551 closed

[2017-04-26 17:54] #18600 closed

[2017-04-26 17:55] #17725 closed

[2017-04-26 17:55] #18630 closed

[2017-04-26 17:55] WinCPP commented on #18017
@karelz yup. won't nag folks busy with 2.0 ;-)

[2017-04-26 17:59] karelz commented on #574
I don't doubt your good intentions! Sometimes it matters how you ask - it affects how people perceive the text on other side. Text is free of emotions, so things can be understood differently when written down. English as second language muddies things even more and we all need to be aware of that. I'll be happy to chat about details offline if you're interested ... let's steer the discussion over

[2017-04-26 18:02] karelz commented on #18017
Thanks, appreciate that @WinCPP!

[2017-04-26 18:17] stephentoub commented on #16441
This isn't related to 2.0.  Moving to future.

[2017-04-26 18:18] shmao opened #18993 "XmlSerializerTests.Xml_TypeWithDateTimePropertyAsXmlTime Failed on Netfx"
The test failed when targeting `netfx`.

[code]

[2017-04-26 18:20] geleems commented on #14638
@gyantal  Thanks for the connection strings!
I was able to see the exception by using those connection strings you provided.

[code]
I will do investigation for this.
Thanks!

[2017-04-26 18:23] brentschmaltz opened #18994 "Provide API XmlDsigC14NTransform.GetCanonicalBytes without need for hashalgorithm"
The current API public override byte[] GetDigestedOutput(HashAlgorithm hash) requires the user to have a HashAlgorithm. This makes extensibility a bit harder since the HashAlgorithm would have to be derived for special handling.

In IdentityModel we choose to simply write the canonicalized bytes into a stream allowing processing later.

https://github.com/AzureAD/azure-activedirectory-identitymode

[2017-04-26 18:36] krwq commented on #18682
@shmao - for future it might be worth into looking into unifying some of the serialization and crypto-xml code - possibly there are more things like that

[2017-04-26 18:39] brentschmaltz commented on #18682
@shmao m.im* assemblies currently provide net451 and netstandard 1.4 targets. How does this fit with NetCore2.0?

[2017-04-26 18:44] JonHanna commented on #14752
No, can reproduce on desktop too

[2017-04-26 18:51] Priya91 commented on #10146
@ryangurazov We need more information on which os distro and libcurl config used to verify if it's a bug or by design. From @mconnew summary, it looks like the behavior is by design. The workaround is to use libcurl built with openssl, while using .NET Core.

[2017-04-26 19:00] krwq commented on #18858
Talked with @mababey offline and this seems to be already fixed as @ianhays mentioned. We have performed additional scans to confirm that this is no longer flagged.

[2017-04-26 19:00] #18858 closed

[2017-04-26 19:02] karelz commented on #10146
.NET Core depends on system-wide components, incl. libcurl.
We can document which version we advise customers to install, would that help?
We could update the exception text to link to such documentation ... would that make the e2e experience better?

Short of those documentation changes, I don't think there is anything we could/should do here. Bundling of libcurl (which is the ultimate solution)

[2017-04-26 19:12] #17422 closed

[2017-04-26 19:14] #10698 closed

[2017-04-26 19:16] Petermarcu commented on #18682
You should be able to use the netstandard 1.4 asset in .NET Core 2.0.

[2017-04-26 19:16] saurabh500 commented on #18277
Right now SqlClient doesn't support TransactionScope in .Net Core .
We are looking into `SqlTransaction` right now.

[2017-04-26 19:17] brianrob commented on #18836
@DrewScoggins, does this need to be fixed for 2.0?  If not, let's move this out.

[2017-04-26 19:19] saurabh500 commented on #14638
We had fixed an issue in SqlClient where it was trying to use the UdpClient to do port resolution for all Sql Server irrespective of instance name specified in DataSource.
The fix is due release vNext and in the servicing release of 1.1.x
The `ObjectDisposedException` should not occur with Azure SQL endpoints after the fix. However we may need to still test this where we are using instance names i

[2017-04-26 19:22] corivera commented on #16981
No repro on current version

[2017-04-26 19:22] #16981 closed

[2017-04-26 19:27] karelz commented on #18682
Marking as Post-ZBB as it will be DCR done later.

[2017-04-26 19:32] khellang commented on #18922
How do you handle escaping if you handle both forward and backward slashes as separators?

[2017-04-26 19:33] smitpatel opened #18997 "SqlClient hangs while opening connection on localdb with MARS enabled"
csproj
[code]
Program.cs
[code]

Expected output: Successful run.
Actual output: Program hangs after printing Start!. No communication is received by SqlServer (using Sql Profiler)

dotnet
[code]
SqlServer version 13.0.2151

The program runs fine with one of the following changes.
- Using external server instead of localdb
- Disabling MARS
- Using System.Data.Common 4.3.0 package
- Using native co

[2017-04-26 19:38] benaadams commented on #18481
Closing this as forcing the inlines doesn't seem to improve anything really 😢

[2017-04-26 19:38] #18481 closed

[2017-04-26 19:42] danmosemsft commented on #9228
Not a regression from Desktop nor 1.0

[2017-04-26 19:47] davidsh commented on #9228
Strictly speaking, it is a regression from Desktop in the reliability sense. But Desktop has a completely different implementation (doesn't use 'handles').

[2017-04-26 19:50] #18266 closed

[2017-04-26 19:50] #18803 closed

[2017-04-26 19:51] ajcvickers commented on #18997
@saurabh500 This is blocking the ability for ASP.NET to use 4.4 of the package, which is currently critical path for preview1, so this is high priority to get fixed. If it can't be fixed very quickly, can you flip the switch to use managed networking so that ASP.NET builds are not blocked?

/cc @Eilon @divega

[2017-04-26 19:53] danmosemsft commented on #8538
1 week estimate

[2017-04-26 19:55] vancem commented on #16856
It is likely to addressed by PR #18962

[2017-04-26 19:56] karelz commented on #18394
Documentation, needs to be in 2.0, but can be Post-ZBB.

[2017-04-26 19:56] danmosemsft commented on #8538
Expect this issue would uncover itself during customer development phase: workaround potentially to change TLS protocol. We are moving this out to Future on this basis however @davidsh can you please open a doc bug for 2.0 to make sure the workaround is discoverable as it's not something folks will likely stumble on.

[2017-04-26 19:59] davidsh commented on #8538
@dan Where do doc bugs get opened?  This repo?  Or the new one based on docs.microsoft.com?

[2017-04-26 20:00] danmosemsft commented on #9234
Triage believe this won't be commonly encountered (based on data we have). Moving to Future.
@DavidGoll can you please note any workaround here if there is one.

[2017-04-26 20:06] danmosemsft commented on #8538
@davidsh they go in https://github.com/dotnet/docs and @mairaw then takes them.

[2017-04-26 20:08] DavidGoll commented on #9234
Workaround is as specified by @gerab [above](https://github.com/dotnet/corefx/issues/9234#issuecomment-287033314).

[2017-04-26 20:09] corivera commented on #18997
Looking into it

[2017-04-26 20:10] ryangurazov commented on #10146
Thanks for all the details @Priya91 and @karelz
@karelz : given current plans for libcurl bundling, those two options you listed will help big time.

[2017-04-26 20:13] mellinoe commented on #18461
I'm just going to remove this performance test -- I think it's redundant. #18999

[2017-04-26 20:15] karelz commented on #16441
It needs to happen in 2.0 time-frame, we have been sitting on it for way too long for no good reasons. I'll mark it Post-ZBB.

[2017-04-26 20:17] karelz commented on #18481
Pity :(, thanks for pushing on it though @benaadams!

[2017-04-26 20:19] karelz commented on #8538
FYI: We should not open bugs in docs repo, until we have clear guidance written form engineering team.
It is ok to create documentation bug in CoreFX to track the "we need to write the guidance", I can mark it Post-ZBB. Just tag me on it @davidsh.

[2017-04-26 20:21] danmosemsft commented on #18791
@joshfree can you please triage and close/move to future/2.1 or assign for ZBB

[2017-04-26 20:21] danmosemsft commented on #17943
@joshfree can you please triage and close/move to future/2.1 or assign for ZBB

[2017-04-26 20:23] davidsh opened #19001 "Doc: workaround guidance for #8538 regarding multiple TLS protocols"
Need to write documentation guidance for workaround for #8538.
"WinHttpHandler not updating response state with error from server when client supports multiple TLS protocols"

[2017-04-26 20:23] davidsh commented on #19001
cc: @karelz

[2017-04-26 20:24] AlexGhiondea commented on #18719
Let's chat tomorrow (OOF today). I think there is a way to do this nicely :).

[2017-04-26 20:24] karelz commented on #9257
@DrewScoggins it info is missing how to target Desktop - can you please add it as "TODO section" and file a documentation bug to fill the info later? Thanks!

[2017-04-26 20:24] benaadams commented on #18481
Its within noise (+/-) for decimal and large structs and there are much larger factors which dominate

[2017-04-26 20:24] karelz commented on #19001
Thanks @davidsh!

[2017-04-26 20:28] karelz commented on #10146
OK, switching to documentation bug.
@ryanbrandenburg do you have any recommendation which docs to change? (We can find some, but it would be great to confirm from user perspective we got the right places)
Also if you have wording suggestions, that would be great.

[2017-04-26 20:32] benaadams commented on #18481
Its within noise (+/-) for decimal and large structs and there are much larger factors which dominate; e.g. statemachine (create->start->movenext) but I haven't been able to find a general automatic solution.

[2017-04-26 20:36] #4873 closed

[2017-04-26 20:36] #18461 closed

[2017-04-26 20:43] ryangurazov commented on #10146
@karlz, is there corresponding feature for libcurl bundling in the roadmap?

[2017-04-26 20:44] ericstj commented on #18736
I've implemented this but it may not be what we want.
https://github.com/ericstj/corefx/commit/748f7855677a99fde0c4b1cfc4a4db946f58afe3

It has the side-effect of always using the primary value, rather than the alias for the set value of the property.

That would prevent us from doing thinks like `'$(TargetGroup)' == 'netstandard'` since TargetGroup would never be set to `netstandard` instead it w

[2017-04-26 20:47] corivera opened #19003 "Add SqlClient test cases for MARS over Named Pipes"
CC @saurabh500

[2017-04-26 20:49] stephentoub commented on #16441
That's fine, but it has nothing specific to do with CoreFx nor 2.0.  Why aren't we tracking this in TFS for example, where other desktop-related issues are tracked?

[2017-04-26 20:50] AtsushiKan commented on #18791
Closing via gkhanna's explanation. This is the sort of mishap that happens when we bring in ill-fitting apis just to conform to a metadata surface area.

[2017-04-26 20:51] benaadams commented on #18247
Should I close this or do you want it for tracking attribute removal?

[2017-04-26 20:52] ianhays commented on #15226
closing as a duplicate of https://github.com/dotnet/corefx/issues/16511

[2017-04-26 20:52] #15226 closed

[2017-04-26 20:55] weshaggard commented on #18736
That would be an unfortunate side effect. I didn't look deeply at your change but we should think about it a bit more and I agree we don't need it in 2.0.0.

Also as an aside I'm in the process of moving all these tasks to Buildtools.

[2017-04-26 20:56] mellinoe commented on #18835
I think it happened twice this week, so I'm going to see if I can get any use out of the crash dump we have.

[2017-04-26 21:01] ianhays commented on #11082
Equally happy to continue on this ticket.

If you don't mind, please open a new issue as you suggested since the original post/question has been resolved. That should make it far easier to move on and discuss.

I'm closing this one as the OP has been resolved.

[2017-04-26 21:01] #11082 closed

[2017-04-26 21:02] aplex commented on #9234
I can't agree that it is not commonly encountered. The original problem was with connection to Microsoft TFS from a .Net core application. I am not completely sure, but I think TFS was also in a default configuration.

Changing authentication settings in IIS/TFS is not a good option, as it may break other applications that depend on them.

Workaround with CredentialCache is not very clear either.

[2017-04-26 21:02] mellinoe commented on #16988
This test failed again in my PR, but it was not a segfault:

https://ci.dot.net/job/dotnet_corefx/job/release_2.0.0/job/ubuntu14.04_release_prtest/27/consoleText

[2017-04-26 21:04] fujiy commented on #14376
@ahsonkhan I guess I can't implement it to Fast Span, because VIL doesn't support calling methods from Unsafe class, they are implemented by EE, e.g.:

        /// <summary>
        /// Returns a pointer to the given by-ref parameter.
        /// </summary>
        [NonVersionable]
        [MethodImpl(MethodImplOptions.AggressiveInlining)]
        public static void* AsPointer<T>(ref T value)

[2017-04-26 21:05] mellinoe commented on #16534
I hit this in one of my PR's, although the test case is not listed:

`System.Net.Security.Tests.ClientAsyncAuthenticateTest.ClientAsyncAuthenticate_ServerRequireEncryption_ConnectWithEncryption`

[code]

https://ci.dot.net/job/dotnet_corefx/job/release_2.0.0/job/windows_nt_release_prtest/27/consoleText

[2017-04-26 21:05] bartonjs commented on #16988
@mellinoe That looks like our old friend #6302.  Thanks for the heads up.

[2017-04-26 21:06] mellinoe commented on #16988
@bartonjs Oops, that one does look more relevant. My mistake!

[2017-04-26 21:07] mellinoe commented on #6302
I hit this again:

https://ci.dot.net/job/dotnet_corefx/job/release_2.0.0/job/ubuntu14.04_release_prtest/27/consoleText

[2017-04-26 21:11] brentschmaltz commented on #18682
@Petermarcu  Attempting to include in my csproj <PackageReference Include="System.Security.Cryptography.Xml" Version="4.3.0-*"> results in a failure. Will I be able to include this in an assembly that provides a netstandard 1.4 target.  Or will I need to provide a netstandard 2.0 target?

 I realize I .NET core 2.0 app can consume a netstandard 1.4 targeted assembly.

[2017-04-26 21:20] ahsonkhan commented on #14376
@mellinoe, can you help with clarifying this?

@jkotas, @plnelson, is this something that we need the VS debugger team to help with?

[2017-04-26 21:24] ianhays commented on #16988
Looks like this test hasn't failed in the past two weeks despite the estimation that it was failing weekly. @krwq did you have plans for this, or should it be moved to future or closed?

[2017-04-26 21:24] steveharter commented on #9543
I no longer have a local repro. I enabled the test, change the InlineData values and ran the suite 5 times without error (normally once was enough).

[2017-04-26 21:26] fujiy commented on #14376
@ahsonkhan, @plnelson created an internal bug 286592, I don't know if it includes the methods generated by EE.

I'm facing some issues using my coreclr build, when I run dotnet publish and execute the result, I receive:

    Failed to initialize CoreCLR, HRESULT: 0x80004005

I could make it work copying the content of my coreclr\bin\Product\Windows_NT.x64.Debug to myapp\bin\Debug\netcoreapp2.0\win

[2017-04-26 21:28] ahsonkhan commented on #17793
@ektrah, can you please update the API proposal so that we have clear proposal of all the possible scenarios that @nietras mentioned (i.e. different combinations of overlapping of two spans)?

[2017-04-26 21:29] krwq commented on #16988
@ianhays I think it is fine to move it since it is quite rare, really hard to repro and no proper dumps.

[2017-04-26 21:29] ianhays commented on #18720
They should also be included if the TargetGroup == net47. That sounds like a good solution.

[2017-04-26 21:30] Petermarcu commented on #18682
Not sure I completely followed that but you should be able to include a library that targets netstandard1.4 as a reference from another netstandard1.4 library. What is the error you are getting and what version of the tools are you using?

[2017-04-26 21:31] safern commented on #18720
Ok, I'll take over this one then.

[2017-04-26 21:34] krwq commented on #18682
@Petermarcu - this is netstandard1.4 app trying to reference netcoreapp2.0 - I do not think this will work.

@brentschmaltz I believe you need to target netcoreapp2.0 unless for some reason you require netstandard then you will need private build which retargets crypto-xml to netstandard2.0 (change target to netstandard in configuration files and remove all references from csprojes)

[2017-04-26 21:38] ianhays commented on #18974
fyi this failed yesterday right around the time when Jenkins was failing legs left and right. It's possible that the failure is related to that in some way.

[2017-04-26 21:39] krwq commented on #18271
@Jiayili1 I do not believe those are the same tests failing. In most of the cases you can tell by looking at the last few parts of the name: i.e.: System.Security.Cryptography.Encryption.Aes.Tests.AesCipherTests.WrongKeyFailDecrypt_2 - test name is WrongKeyFailDecrypt_2, class name is AesCipherTests and namespace is System.Security.Cryptography.Encryption.Aes.Tests. At minimum class and test name

[2017-04-26 21:42] jemiller0 commented on #4571
I have some database code that uses DbProviderFactories to create database connections in a DBMS independent fashion. Can someone please tell me what the recommended way is to get this code to work in .NET Core/.NET Standard? How does this work in JDBC? As far as I know, Java/JDBC doesn't have a configuration file where the providers need to be registered. Maybe it uses reflections to look for sta

[2017-04-26 21:44] karelz commented on #18791
@AtsushiKan did you document the breaking change in https://github.com/dotnet/corefx/wiki/ApiCompat?
If not, let's reopen this bug to track the documentation in 2.0 ...

[2017-04-26 21:47] AtsushiKan commented on #18791
I'd prefer the runtime team document it. They have the full view of the binder behavior changes and workarounds. The api is just the guy that lets you in.

[2017-04-26 21:51] karelz commented on #9234
@aplex the API exists since .NET Core 1.0, yet we had only 2 reports so far -- that's why we said "not commonly encountered".
If you have evidence there are more people hitting it without us knowing (e.g. StackOverflow discussions), please let us know. If the impact on all .NET Core customers is larger than we thought, we can always reconsider. Thanks!

[2017-04-26 21:52] karelz commented on #18791
OK, reopening -- can you please track down the right person to document it and assign it to that person / appropriate area?

[2017-04-26 21:52] VSadov commented on #16916
Lets fix in Desktop.
 The behavior in CoreFx is indeed better and noone could take dependency on stackoverflow.

[2017-04-26 21:54] danmosemsft commented on #16916
Good catch @safern !

[2017-04-26 21:54] #15421 closed

[2017-04-26 21:54] #15436 closed

[2017-04-26 21:54] karelz commented on #18247
If it is the only thing tracking attribute removal, let's keep it opened ...

[2017-04-26 22:00] karelz commented on #16441
Fair point. I'd keep it in CoreFX mostly for simplicity. This affects our partners (Xamarin), around their ability to share CoreFX sources, etc.
I fear if we move it elsewhere, no one will pay attention to it (again). If you know about place which is monitored by someone (who says so), happy to move it there ...

[2017-04-26 22:02] tarekgh commented on #16441
@karelz if you open TFS bug against 4.7.1 this should be tracked and cared

[2017-04-26 22:04] stephentoub commented on #16441
Right.  Tracking it here makes little sense to me.

[2017-04-26 22:06] krwq commented on #18811
netfx repro:

[code]

This is clearly incorrect. @bartonjs, is it ok to disable this for now on netfx and port this change later?

[2017-04-26 22:10] krwq commented on #18811
Same bug: https://github.com/dotnet/corefx/issues/12388

[2017-04-26 22:10] karelz commented on #16441
I fear it will just be pushed to future as non-blocking thing for 4.7.1 (I've seen it way too many times ;))
I guess if @marek-safar and @akoeplinger are fine with checking on the bug in internal TFS db, we can move it there ...

[2017-04-26 22:11] krwq commented on #18811
Ok this is apparently by design according to that - I'm disabling those on netfx

[2017-04-26 22:11] akoeplinger commented on #16441
I don't care where it's tracked as long as it gets done :)

[2017-04-26 22:12] terrajobst commented on #4571
A few comments:

* **`DbProviderFactory` is part of .NET Standard 2.0**. It's correct that `DbProviderFactories` doesn't exist in .NET Standard. The reason being that we don't have a good way to hook up providers without adding them to the implementation. We currently don't have a great way to inject configuration -- Xamarin have removed `System.Configuration` because the implementation has depend

[2017-04-26 22:13] karelz commented on #10146
@ryanbrandenburg not at this moment. We explored the option for 2.0, but it was turned down.

There are other long-term plans in the area which may mitigate the problem. We should be able to talk about them publicly in next few weeks ...

[2017-04-26 22:15] #18906 closed

[2017-04-26 22:16] weshaggard commented on #18836
I just submitted a PR to update the versions. https://github.com/dotnet/corefx/pull/19010

[2017-04-26 22:22] bartonjs commented on #18811
Yep, I've finally come over to @morganbr's way of thinking and think we should fix RSACryptoServiceProvider; probably with a retargeting quirk.  It's pretty interesting watching how far one way or the other I go down the feature vs compat arguments in my head.

[2017-04-26 22:24] ViktorHofer commented on #16916
How do we normally raise an issue in netfx? Create an issue there in tfs and close this one?

[2017-04-26 22:25] safern commented on #16916
By adding the netfx-port-consider label it opens automatically an issue in TFS. So this one should be already opened there. Closing it here.

[2017-04-26 22:25] #16916 closed

[2017-04-26 22:30] brentschmaltz commented on #18682
@krwq that's is sort of what I thought.

I believe I will need to add an additional 2.0 target (not clear about why netstandard 2.0 OR netcoreapp 2.0) for this all to work. Currently I have net451 and netstandard 1.4. WsFed support could then show up in asp.net vNext which is has a 2.0 target.

[2017-04-26 22:33] karelz commented on #18976
@gkhanna79 @janvorli looks like API set problem. Do you have any insight?

[2017-04-26 22:36] karelz commented on #18966
@gkhanna79 why CoreFX repo? Can you please suggest area to start with?

[2017-04-26 22:39] karelz commented on #18942
@AtsushiKan please set areas for new issues based on [area list](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas) in future, thanks!

[2017-04-26 22:39] gkhanna79 commented on #18966
It is a CoreFX test failure and hence, I moved it here to track it closer to home.

[2017-04-26 22:40] gkhanna79 commented on #18976
This is a PInvoke in Interop layer of CoreFX for 1.1.0 where APISets are present. Someone in CoreFX should take an initial stab at this.

CC @weshaggard

[2017-04-26 22:41] jkotas commented on #14376
Yes. I have said above: "I doubt that you will be able to make this work by just writing a debugger display proxy. I expect that the VS debugger expression eval part will need some fixes to make this work."

[2017-04-26 22:48] ViktorHofer commented on #15045
@weshaggard had you already time to look into it? as this would be a pretty large code change I'm not sure if we should still tackle 2.0 for it?

[2017-04-26 22:53] karelz commented on #11873
Triage discussion: While important, this is P2 at this moment and won't make it into 2.0, unless we get additional feedback from customers.

[2017-04-26 22:54] janvorli commented on #18976
@dannyb2100 one additional question - which Windows version are you using?

[2017-04-26 22:58] mellinoe commented on #18835
I debugged through the crash dump and pinpointed the issue to this thread:

[code]

This is caused by [a known issue](https://github.com/dotnet/coreclr/issues/11111) that has already been [fixed](https://github.com/dotnet/coreclr/pull/11132).

The commit went in on April 22nd, and the version of CoreCLR we are using is from April 21st. This should no longer repro, assuming we've updated past that

[2017-04-26 22:58] #18835 closed

[2017-04-26 23:01] ryanbrandenburg commented on #10146
FYI @karelz you are @ 'ing me instead of @ryangurazov.

[2017-04-26 23:12] weshaggard commented on #15045
This slipped off my radar. I would still like to at least look at it for 2.0. I will assign to myself to it shows on my list, and try to take a look at it in the next week.

[2017-04-26 23:15] #17667 closed

[2017-04-26 23:31] danmosemsft commented on #18896
@krwq can you take this one? See @bartonjs comments in linked Pr which I don't have time to address.

[2017-04-26 23:39] ryangurazov commented on #10146
@ryanbrandenburg after 3rd character most of the time it is alright to assume the match, but it looks like here it goes all the way to 5th  :)

Thanks for details @karelz

[2017-04-26 23:44] Petermarcu commented on #18997
@corivera, let us know as soon as you have an ETA for a fix. Thanks for looking into it.

[2017-04-27 00:03] danmosemsft commented on #18197
@Jiayili1 this is a different test, please create a new issue for it and clsoe this one again.

[2017-04-27 00:05] divega commented on #4571
@terrajobst FYI, I updated the title of the issue to reflect that this is about DbProviderFactories (plural) rather than DbProviderFactory (singular). I think it might help avoid confusion.

[2017-04-27 00:09] AtsushiKan opened #19016 "Calling methods on default(ImmutableArray) unpredictable on UwpAOT"
This helper (<a href="https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.Minimal.cs#L397">ImmutableArray<T>.ThrowNullRefIfNotInitialized()</a>) is supposed to ensure a NullReferenceException if you call a method on an uninitialized ImmutableArray.

It's coded to be performant.

On .NET Native (with "/buildtype:ret" passed

[2017-04-27 00:10] eschneider999 commented on #4571
There is a common database api System.Data.Common, which can be found on Nuget.

As for the DBfactory stuff I rolled my own for my ORM

http://www.nuget.org/packages/Symbiotic_Core_x64/

From: jemiller0 [mailto:notifications@github.com]
Sent: Wednesday, April 26, 2017 4:43 PM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: eschneider999 <eric.github@frozenelephant.com>; Mention <mention@noreply.

[2017-04-27 00:12] geleems commented on #12072
I was able to repro the timeout exception with this code in Windows 10.
[code]
***
I tested with following SQL queries:
[code]
***
Is there any particular reason to leave `c2` transaction incomplete, and move back to `c1`?
Because it seems it was intentionally failed since the transaction of `c2` was not completed (either commit or rollback) properly before moving back to `c1` in connection pool e

[2017-04-27 00:15] ViktorHofer commented on #15337
@weshaggard any plans how to go forward with this issue? Either bring the ACL package into netcoreapp for Windows or link the ACL source in IsolatedStorage. Other options possible?

[2017-04-27 00:21] ViktorHofer commented on #16235
From http://msdn.microsoft.com/en-us/library/system.diagnostics.process.kill.aspx. Maybe also related.

[2017-04-27 00:21] karelz commented on #10146
Ooops, sorry - GitHub is not helpful in this :( ... earlier today someone used 'karlz' instead of 'karelz' ... sorry!

[2017-04-27 00:24] #17118 closed

[2017-04-27 00:31] geleems commented on #14638
@gyantal Hi, as @saurabh500 mentioned, In version `1.1`, SSRP was used even when only server name is given without port or instance name in connection string. It caused the `ObjectDisposedException` issue when  no port or instance name was provided in connection string. In version `2.0.0`, we removed that part, and I do not see the exception anymore by repro code in version `2.0.0`

[2017-04-27 00:36] ahsonkhan commented on #18946
Can you please provide context around this guideline?

In that case, do we need this API?

[2017-04-27 00:37] ramarag commented on #18712
ExceptionforResWriter03 and ExceptionforResWriter06 failure is because of a breaking change in netcore compared to desktop [System_Private_CoreLib_ni!System.IO.MemoryStream.CopyTo](https://github.com/dotnet/coreclr/blob/8ffb46cd635cd9419cc26315d9eec64b976cbfb0/src/mscorlib/src/System/IO/MemoryStream.cs#L443) brought in by https://github.com/dotnet/coreclr/commit/a62af3e824095dc11263f040705623f2e21

[2017-04-27 00:40] jkotas commented on #18946
We want operations with pointers to be explicit operation with pointers, and not hide them behind IntPtr that tend to give people a false sense of safety.

[2017-04-27 00:41] jkotas commented on #18946
I do not think we need this API.

[2017-04-27 00:41] #18946 closed

[2017-04-27 00:42] gyantal commented on #14638
Good work!
It is resolved then.
Thank you.

[2017-04-27 00:44] Priya91 commented on #18471
This doesn't repro in latest build.

[2017-04-27 00:44] #18471 closed

[2017-04-27 00:56] corivera commented on #18997
Fixed with https://github.com/dotnet/corefx/pull/19022

[2017-04-27 00:59] ramarag commented on #18712
More info on the issue here:

In netcore as part of dotnet/coreclr@a62af3e System.IO.MemoryStream overrides CopyTo from its base class Stream  and introduces an extra check for length in https://github.com/dotnet/coreclr/blob/f8db01c0e175550cb696ea6ec608e662f1e3d286/src/mscorlib/shared/System/IO/StreamHelpers.CopyValidation.cs#L20, which throws the exception

while on desktop, the Stream's checks

[2017-04-27 01:16] Jiayili1 commented on #18271
@krwq Thanks for your information, I got it.

[2017-04-27 01:19] Jiayili1 opened #19023 "Desktop: System.Security.Cryptography.Encryption.Aes.Tests.AesContractTests/ValidateDecryptorProperties failed with "System.Security.Cryptography.CryptographicException""
Failed test: System.Security.Cryptography.Encryption.Aes.Tests.AesContractTests/ValidateDecryptorProperties

Message:
[code]

Stack Trace:
[code]

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170427.01/workItem/System.Security.Cryptography.Algorithms.Tests/analysis/xunit/System.Security.Cryptography.Encry

[2017-04-27 01:21] Jiayili1 commented on #18197
Created a new issue: https://github.com/dotnet/corefx/issues/19023 and close this one.

[2017-04-27 01:21] #18197 closed

[2017-04-27 01:41] krwq commented on #18896
@danmosemsft sounds good, I'll take over from your PR

[2017-04-27 01:46] krwq commented on #18682
@brentschmaltz - netcoreapp is a subset of netstandard. netcoreapp also includes desktop so I believe only netcoreapp2.0 should be good enough.

[2017-04-27 01:50] ViktorHofer commented on #16762
I just tried to repro this issue. I guess the exception @lgreenlee was facing is a `UriFormatException` as the values of the Dictionary which gets passed into the FormUrlEncodedContent are escaped like this:

`Uri.EscapeDataString(data).Replace("%20", "+")`

The value gets encoded into a URI string which has a maximum of chars.

@lgreenlee I'm pretty sure this is the exception you were facing. I w

[2017-04-27 01:50] #16762 closed

[2017-04-27 01:51] #17693 closed

[2017-04-27 01:53] krwq commented on #18682
Sorry, I meant it in a context of targets

[2017-04-27 02:03] ramarag commented on #18712
callstack :
coreclr!IL_Throw+0x180
System_Private_CoreLib_ni!System.IO.StreamHelpers.ValidateCopyToArgs(System.IO.Stream, System.IO.Stream, Int32)+0x3edd6f
System_Private_CoreLib_ni!System.IO.MemoryStream.CopyTo(System.IO.Stream, Int32)+0x1e
System_Resources_Writer!System.Resources.ResourceWriter.Generate()+0x838
System_Resources_Writer!System.Resources.ResourceWriter.Dispose(Boolean)+0x1b

[2017-04-27 02:03] danmosemsft commented on #13970
@fujiy did you get a chance to try this?

[2017-04-27 02:12] olegtk commented on #16322
@asanx which version? I guess you were just lucky to add specifically the version you needed. Doesn't work for me.

[2017-04-27 02:15] Petermarcu commented on #18682
For libraries, they should be netstandard if they can be. Only choose a platform specific target if you have to. Netstandard is the way to work on multiple runtimes/frameworks.

[2017-04-27 02:25] #18512 closed

[2017-04-27 02:25] #18802 closed

[2017-04-27 02:32] ZhiqiangTao commented on #18649
I have used the the "third-party" library , and it can works well.
thanks for everyone.

[2017-04-27 02:45] dotnet-mc-bot opened #19028 "Test failure: System.Data.SqlClient.Tests.TcpDefaultForAzureTest/NonAzureNoProtocolConnectionTestOnWindows"
Opened on behalf of @Jiayili1

The test `System.Data.SqlClient.Tests.TcpDefaultForAzureTest/NonAzureNoProtocolConnectionTestOnWindows` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

Build : Master - 20170427.01 (Core Tests)
Failing configurations:
- Windows.10.Amd64-x64
  - Release
  - Debug
- Windows.7.Amd64-x64
  - Release
  - Debug
- Windows

[2017-04-27 02:53] Jiayili1 commented on #13298
This issue is repro on core tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170427.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FNoCallback_RevokedCertificate_NoRevocationChecking_Succeeds

[2017-04-27 02:57] Jiayili1 commented on #17537
This issue is repro on core tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170427.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SchSendAuxRecordHttpTest~2FHttpClient_ClientUsesAuxRecord_Ok

[2017-04-27 02:59] dotnet-mc-bot opened #19031 "Test failure: System.Net.Http.Functional.Tests.ResponseStreamTest/ReadAsStreamAsync_Cancel_TaskIsCanceled"
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.ResponseStreamTest/ReadAsStreamAsync_Cancel_TaskIsCanceled` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.\r
    ---- System.Net.Http.WinHttpException : The operation has been canceled

        Stack Trace:

           at System.Runtime.ExceptionServices.ExceptionDispatchInfo

[2017-04-27 03:03] Jiayili1 commented on #14673
This issue is repro on Core Tests in build 20170427.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170427.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveApm~2FSendRecvPollSync_TcpListener_Socket(listenAt:%20::1,%20pollBeforeOperation:%20True)

[2017-04-27 03:05] dotnet-mc-bot opened #19032 "Test: System.Net.Http.WinHttpHandlerFunctional.Tests.ServerCertificateTest/UseCallback_ValidCertificate_ExpectedValuesDuringCallback failed with "System.Net.Http.HttpRequestException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.WinHttpHandlerFunctional.Tests.ServerCertificateTest/UseCallback_ValidCertificate_ExpectedValuesDuringCallback` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.\r
    ---- System.Net.Http.WinHttpException : The operation timed out

        Stack Trace:

           at System.Runtime.ExceptionSer

[2017-04-27 03:29] davidsh commented on #19032
"The operation timed out" - My guess is that this is a network hiccup caused by Internet/Azure delays.

[2017-04-27 03:29] davidsh commented on #19031
"The operation timed out" - My guess is that this is a network hiccup caused by Internet/Azure delays.

[2017-04-27 03:51] alirobe commented on #2295
Can something like this pattern help?
https://githubengineering.com/scientist/

[2017-04-27 04:13] krwq commented on #2295
@alirobe we already use similar pattern to compare different XPathNavigator implementations - this is generally a convenient approach when you need to test something really quickly when having two or more similar implementations (in XPathNavigator case it was XPathDocument vs XPath.XDocument vs XPath.XmlDocument). In this case I believe the risk is much lower since XPath2 and 3 mostly extend exist

[2017-04-27 04:20] alirobe commented on #2295
Cool. Good to know it's just a "naming things" problem. 👍 I've nothing further to add, keep at it :)

[2017-04-27 04:24] jguady commented on #1440
This one looks like its been a long time coming. @danmosemsft
Anything I should know about this one before I get started?

[2017-04-27 04:36] #18822 closed

[2017-04-27 04:47] danmosemsft opened #19033 "ArgumentException from GetFullPath should include the path"
In a case such as the below it would be helpful if the message was something like `The path "C:|" is not of a legal form.`. Seems reasonable to add it unless there's some kind of information disclosure issue (I don't know why, we don't generally cleanse our exception messages)

[code]

[2017-04-27 04:48] danmosemsft commented on #18463
Same exceptoin/message as before, on OSX only.

[2017-04-27 04:56] danmosemsft commented on #19023
@bartonjs do we expect this test to fail in tihs way on desktop?

[2017-04-27 04:57] danmosemsft commented on #18971
@safern more that will go away when you disable all tests in S.S.Permissions for desktop.

[2017-04-27 05:02] safern commented on #18971
Yes, I was just curious, there is only 33 tests failing, do we want to disable the whole assembly when there is like ~180 tests running? And this is shipped in the net framework package.

See: https://github.com/dotnet/corefx/issues/18815#issuecomment-297251450

[2017-04-27 05:50] FransBouma commented on #4571
@terrajobst There's currently also no standard way to pass a DbProviderFactory to the application as well. I think @jemiller0 has a point wrt Sql Server: as its ADO.NET provider is in the BCL, there's no real pressure from MS to design a real API to pass the DbProviderFactory instance to the application code in a generic fashion. I don't really see how that's difficult, as all DbProviderFactory ty

[2017-04-27 05:51] safern commented on #17917
I've updated the API proposal, so I'm marking it ready for review: https://github.com/dotnet/corefx/issues/17917#issuecomment-296093667

[2017-04-27 06:02] Jiayili1 commented on #19028
This issue is repro on portable core tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170427.01/workItem/System.Data.SqlClient.Tests/analysis/xunit/System.Data.SqlClient.Tests.TcpDefaultForAzureTest~2FNonAzureNoProtocolConnectionTestOnWindows

[2017-04-27 06:19] dotnet-mc-bot opened #19036 "Tests under: System.Numerics.Tests.ComplexTests failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Numerics.Tests.ComplexTests/Cos_Advanced(real: -1.79769313486232E+308, imaginary: -1.79769313486232E+308, expectedReal: ∞, expectedImaginary: ∞)` has failed.

Failure at line 590. Expected real: 8. Actual real: -8\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Numerics.Tests.ComplexTests.VerifyRealImaginaryProp

[2017-04-27 06:32] Jiayili1 commented on #11687
This issue is repro on UWP F5 Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170427.01/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.DirectoryInfo_Create~2FCDriveCase

Message :
System.IO.DirectoryNotFoundException : Could not find a part of the path 'c:\\'.

Stack Trace :
   at System.IO.

[2017-04-27 06:35] Jiayili1 commented on #18381
This issue is repro on UWP F5 Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170427.01/workItem/System.IO.FileSystem.Watcher.Tests/analysis/xunit/System.IO.Tests.Directory_NotifyFilter_Tests~2FFileSystemWatcher_Directory_NotifyFilter_Security(filter:%20Attributes)

[2017-04-27 06:47] Jiayili1 commented on #18196
This issue is repro on Full Framework Tests in build 20170427.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170427.01/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/System.ConfigurationTests.UrlPathTests~2FGetDirectoryOrRootName_GettingDirectoryFromAFilePath

[2017-04-27 06:53] Jiayili1 commented on #18543
This issue is repro on Full Framework Tests in build 20170427.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170427.01/workItem/System.IO.Pipes.Tests/analysis/xunit/System.IO.Pipes.Tests.NamedPipeTest_CreateServer~2FWindows_CreateFromAlreadyBoundHandle_Throws_ArgumentException(direction:%20In)

[2017-04-27 06:59] dotnet-mc-bot opened #19037 "Test: System.Security.Cryptography.Hashing.Algorithms.Tests.HmacSha384Tests/ProduceLegacyHmacValues failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.Security.Cryptography.Hashing.Algorithms.Tests.HmacSha384Tests/ProduceLegacyHmacValues` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.PlatformNotSupportedException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Security.Cryptography.Hashing.Algorithms.Tests.HmacSha384Tests.ProduceLegacyHmac

[2017-04-27 07:07] ViktorHofer commented on #18196
This issue is already fixed in coreclr. After sync into corefx it shouldn't happen anymore...

[2017-04-27 07:21] KristinXie1 opened #19038 "[Desktop] System.Net.Http.Functional.Tests.CancellationTest / GetAsync_ResponseContentRead_CancelUsingTimeoutOrToken_TaskCanceledQuickly"
Failed test: System.Net.Http.Functional.Tests.CancellationTest.GetAsync_ResponseContentRead_CancelUsingTimeoutOrToken_TaskCanceledQuickly

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/32/testReport/System.Net.Http.Functional.Tests/CancellationTest/GetAsync_ResponseContentRead_CancelUsingTimeoutOrToken_TaskCanceledQuickly_useTimeout__True__startRespon

[2017-04-27 07:28] Jiayili1 opened #19039 "Desktop: System.Data.SqlClient.Tests.ExceptionTest.NamedPipeInvalidConnStringTest failed with "Xunit.Sdk.ContainsException""
Failed test: System.Data.SqlClient.Tests.ExceptionTest.NamedPipeInvalidConnStringTest

COnfiguration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/32/testReport/System.Data.SqlClient.Tests/ExceptionTest/NamedPipeInvalidConnStringTest/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-27 07:37] FransBouma commented on #4571
IMHO it would be best if the complete ADO.NET class space would be moved to a team which has no stake in either EF nor SQL Server, like it was before in the early/ier days. The main benefit with that is that it forces that team to design and maintain their API with external consumers in mind, not themselves (as is the case now).

Now we have to hope that the SQL Server team is generous enough to d

[2017-04-27 07:38] Jiayili1 commented on #18717
This issue failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/32/testReport/System.IO.Tests/PathTests/GetFullPath_Windows_UNC_Valid_expected_________________UNC____LOCALHOST____shareJ________input_________________UNC____LOCALHOST____shareJ__________/

[2017-04-27 07:39] marek-safar commented on #17116
@OmarTawfik What .net version will support this API?

[2017-04-27 07:52] Jiayili1 opened #19040 "Desktop: System.Security.Cryptography.Rsa.Tests.ImportExport.ExportAutoKey failed with "System.Security.Cryptography.CryptographicException""
Failed test: System.Security.Cryptography.Rsa.Tests.ImportExport.ExportAutoKey

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/32/testReport/System.Security.Cryptography.Rsa.Tests/ImportExport/ExportAutoKey/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-27 08:03] Jiayili1 opened #19041 "Desktop: System.Security.Cryptography.Rsa.Tests.ImportExport.ImportExport1032 failed with "System.Security.Cryptography.CryptographicException""
Failed test: System.Security.Cryptography.Rsa.Tests.ImportExport.ImportExport1032

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/32/testReport/System.Security.Cryptography.Rsa.Tests/ImportExport/ImportExport1032/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-27 08:09] Jiayili1 opened #19042 "Reverse ArgumentExceptions changed to CryptographicException (was breaking change)"
Failed test: System.Security.Cryptography.Rsa.Tests.ImportExport.ImportNoModulus

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/32/testReport/System.Security.Cryptography.Rsa.Tests/ImportExport/ImportNoModulus/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-27 10:37] #16235 closed

[2017-04-27 10:37] #16958 closed

[2017-04-27 11:09] tmds commented on #15516
@karelz @eerhardt @ianhays I think the permission change is causing two distinct issues:
- https://github.com/dotnet/cli/issues/6438 (dup of this)
- https://github.com/dotnet/cli/issues/6437

I don't think either of those are fixed for 2.0, or I don't understand the fix :)

[2017-04-27 12:14] #18969 closed

[2017-04-27 12:17] stephentoub commented on #19028
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug_prtest/35/consoleText

[2017-04-27 12:18] #16610 closed

[2017-04-27 12:23] #17920 closed

[2017-04-27 12:44] #18674 closed

[2017-04-27 13:03] stephentoub commented on #19038
@davidsh, this looks related to the change you made here:
https://github.com/dotnet/corefx/commit/b1246c7f1ee1d9e42594988073fd06580d23fe84#diff-87682b72bbd07efce8d7a60c82e7173aR66

[2017-04-27 13:05] stephentoub commented on #18997
Actually, re-opening to track port to release/2.0 branch

[2017-04-27 13:27] bartonjs commented on #19023
That's a tricky question, Dan :smile:.  I certainly didn't "expect" it, and of all of the SymmetricAlgorithm objects this appears to be a unique behavior to AesCryptoServiceProvider; but it's definitely what the code says: http://referencesource.microsoft.com/#System.Core/System/Security/Cryptography/AesCryptoServiceProvider.cs,144

I guess in our AesCSP wrapper in corefx we could (should?) emulat

[2017-04-27 13:41] saurabh500 commented on #18997
Ported to release in https://github.com/dotnet/corefx/pull/19035
Shiproom email is pending.

[2017-04-27 13:45] ViktorHofer commented on #9675
A customer of mine is facing exactly the same issue and had to put a lot of effort into finding a workaround.

@davemosemsft Are there any plans to emit compiler warnings when using APIs which throw PNSE? Or is that already in?

[2017-04-27 13:52] dnikolovv commented on #17099
I would also like to work on it.

[2017-04-27 13:54] danmosemsft commented on #9675
@terrajobst is developing a tool. Immo will it work for UWP also?

[2017-04-27 14:09] davidsh commented on #19038
This is interesting.  I think it might be possible that .NET Framework can throw either WebException or OperationCanceledException in those scenarios, depending on race conditions.

[2017-04-27 14:14] rjxby commented on #17099
I already started work on /System project folder, so you can grab a /Common folder, what do you think about this?

[2017-04-27 14:21] dnikolovv commented on #17099
Sounds great.

[2017-04-27 14:37] ianhays commented on #15516
From hopping around the issues linked to those, it would appear to be more than 2 issues. The takeaway here is that this is an issue that requires solutions in several places:

- CoreFX needs to expose the permissions bits in ZipArchive so that zips made in the future can carry the correct permissions (done - this is represented by this issue)
- NuGet needs to check for these permissions when unpa

[2017-04-27 14:42] ianhays commented on #18543
@sepidehMS looks like we forgot to add the Skip on desktop attribute to the [existing netcoreapp test](https://github.com/sepidehMS/corefx/blob/d9ec62e7a007ef0e3a4b3c654a8a09f845808a09/src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.CreateServer.cs#L239)

[2017-04-27 14:45] AtsushiKan opened #19044 "ImmutableHashSet<>.HashBucket needs to implement an Equals()/GetHashCode()/IEquatable<HashBucket> for perf reasons"
ActiveIssued two tests on System.Collections.Immutable.Tests:

[code]
Before the panic sets in any further, the fix is simple:

<a href="https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableHashSet_1.HashBucket.cs#L33">ImmutableHashSet&lt;&gt;.HashBucket<a> needs to implement an Equals()/GetHashCode() pair. I strongly recommend tha

[2017-04-27 14:55] AtsushiKan commented on #19044
cc @ianhays

[2017-04-27 15:18] jhudsoncedaron commented on #12072
The *why* behind this code is hard to understand due to reduction. The actual problem is the second connection got sent back to the connection pool with an open transaction. In the real code, there was a thrown exception after the Exec("UPDATE ..."); line, and another thread picked it up.

[2017-04-27 15:45] danmosemsft commented on #19037
We determined we cannot support this on Core. Need ot disable test for desktop.

[2017-04-27 15:50] danmosemsft commented on #19039
@saurabh500 it's best that tests avoid verifying exception strings because at some point we may localize them (that's why they're in resx of course). We wont localize for 2.0 though so it isn't urgent to fix that if you prefer to just make the test skip the exception message in Desktop.

[2017-04-27 16:00] danmosemsft commented on #19036
@mellinoe @tannergooding  expected discrepancy?

[2017-04-27 16:06] brentschmaltz commented on #18682
Microsoft.IdentityModel 5.2.0 will provide targets: net451, netstandard1.4. This will get WsFed in Desktop.
Microsoft.IdentityModel 5.3.0 add a target for netstandard2.0 when the C14N support is figured out.

[2017-04-27 16:08] danmosemsft commented on #19042
We changed from ArgumentException to CryptographicExceptoin
https://referencesource.microsoft.com/#System.Core/System/Security/Cryptography/RsaCng.cs,322

@bartonjs this is a breaking change. Do you object to reverting it? It doens't seem important to keep.

[2017-04-27 16:15] SergeyKanzhelev commented on #18885
@vancem @lmolkova I just spoke to privacy advisor. The ONLY option to ship what we have today when we expose the computer name is to disable correlation by default and only enable it with the user consent. This bug is blocking the release.

I'll keep pushing, but realistically - let's just hash it at least.

Also what @cwe1ss said about the special characters escaping....

[2017-04-27 16:16] tarekgh commented on #18976
@dannyb2100 could you tell what version of Windows you are running on? I guess it should be Windows 7.

also could you try reference the package https://www.nuget.org/packages/Microsoft.NETCore.Windows.ApiSets/ and see if this will help?

[2017-04-27 16:17] tarekgh commented on #18976
CC @ericstj

[2017-04-27 16:25] tarekgh commented on #18976
@gkhanna79

Do you mean 1.1.0 package containing the APISets? it looks the complain here is the APISet is not present

[2017-04-27 16:27] tarekgh commented on #18712
CC @ianhays

[2017-04-27 16:28] Petermarcu commented on #18682
Why wouldn't you provide the netstandard2.0 asset in 5.2? Does the netstandard1.4 asset support less?

C14N support is not missing API's right? Just missing an implementation on .NET Core?

[2017-04-27 16:36] tannergooding commented on #19036
@danmosemsft, does UWP (or maybe CoreRT here) do anything different for Math.Cos? Does it just call the CRT version (which CRT version are we linking against, they have multiple different implementations depending on the compile flags).

[2017-04-27 16:39] danmosemsft commented on #19036
@tannergooding this is desktop. I believe it's 4.6.1

[2017-04-27 16:41] danmosemsft commented on #18712
What are the implications of making this compatible (which sounds like it means: removing the check)? If the check is making sure state is valid, perhaps it makes no sense to remove it.

[2017-04-27 16:43] vancem commented on #18885
We will remove the computer name.

[2017-04-27 16:43] Petermarcu commented on #18682
In other words, if you can ship a fully featured library that targets netstandard2.0 and that can run on .Net Framework and Mono that would be great. This will let other .NET Standard 2.0 libraries build on top of it and not have to fork for .NET Framework. .NET Core 2.0 has the API's and is missing a little implementation. You should ship your library expecting it to work on .NET Core 2.0 when it

[2017-04-27 16:43] davidsh commented on #9796
@dperschonok Is this problem still occurring for you?  I have been unable to repro it on Windows 7 given the repro sample code you posted.

If you are still having this problem, can you post a complete Visual Studio solution that repros the problem? Thx.

[2017-04-27 16:46] danmosemsft commented on #19042
May be worth checking on these potential hits from Desktop -- I see in both codebases we've been inconsisetnt about using CE vs. AE for the same resource strings. Without a good reason, we should keep the exception type.
[code]

[2017-04-27 16:49] tarekgh commented on #18712
The check is for when getting the stream length == 0 which I can see it either way can make sense. like in Desktop it will not fail and will not copy anything which can be acceptable too.

[2017-04-27 16:51] saurabh500 commented on #19039
Cc @corivera

[2017-04-27 17:18] danmosemsft commented on #18909
Please determine whether to disable the test

[2017-04-27 17:19] bartonjs commented on #19042
I agree that we should match netfx.

[2017-04-27 17:19] danmosemsft commented on #18971
@weshaggard what does it mean for this to ship in the net framework package? it is useless stubs.

[2017-04-27 17:20] danmosemsft commented on #19023
Moving to 2.0 for you to decide for 2.0

[2017-04-27 17:21] agocke commented on #17116
cc @tmat, who I think was also interested in this feature.

[2017-04-27 17:22] danmosemsft commented on #19040
@bartonjs another desktop failure needing your wisdom. breaking? or disable the test?

[2017-04-27 17:22] gkhanna79 commented on #18976
In this case, it maybe a bug in CoreFX as it is trying to pinvoke into an APISet that was never supported.

[2017-04-27 17:25] tannergooding commented on #19036
Looks like the logic might be flawed here (@mellinoe).

Desktop returns:
[code]

CoreCLR returns:
[code]

Note how Complex.Cos for double.MaxValue returns +∞ for the real part on desktop, but -∞ on CoreCLR.

[2017-04-27 17:28] danmosemsft commented on #19041
@bartonjs we're more lenient than desktop here, so ignore exception on desktop, is that right?

[2017-04-27 17:29] weshaggard commented on #18971
I would disable this for desktop as we have no desire to actually make this behave like desktop.

[2017-04-27 17:29] ianhays commented on #18712
cc: @jamesqo as he wrote the change.

I'm in favor of matching the desktop behavior here, though it will be somewhat inconvenient in the code as we'll have to check for a zero length before calling the streamhelpers arg validation method.

[2017-04-27 17:31] danmosemsft commented on #19036
@dcwuser who made https://github.com/dotnet/corefx/pull/15835

[2017-04-27 17:32] SergeyKanzhelev opened #19052 "Support telemetry correlation for applications running on 4.6 but compiled with 4.5 framework"
Diagnostics Source implements a workaround for the HttpClient requests monitoring by injecting code using reflection. This [logic](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/HttpHandlerDiagnosticListener.cs#L614-L651) only compiles for [NET46 library](https://github.com/dotnet/corefx/blob/b0665b6894a3cc0925217b7728bec54b5455dc2c/src/

[2017-04-27 17:32] tarekgh commented on #18976
I have looked at the package https://www.nuget.org/packages/runtime.win7-x64.Microsoft.NETCore.Windows.ApiSets/ and the APISet api-ms-win
-core-registry-l1-1-0.dll is there. My question is, does 1.1 include such package or does it have its own APISet package?

[2017-04-27 17:33] mellinoe commented on #19036
Yes... this should have been obvious to me from our discussions -- `Math.Cos(double.MaxValue)` still just returns `double.MaxValue` on desktop, and the same algorithms for `Complex.Cos` aren't even used on desktop, anyways, after the change linked above.

[2017-04-27 17:33] tmat commented on #17116
Thanks @agocke. I think we should add value that indicates the runtime supports Portable PDBs, so that we can detect that when compiling at runtime and opt into more efficient PDBs.
//cc @noahfalk

[2017-04-27 17:34] tannergooding commented on #19036
Looks like there is a comment on `Complex.Sin` (http://source.dot.net/#System.Runtime.Numerics/System/Numerics/Complex.cs,267) that may be related...

Tagging @dcwuser to confirm the change here is desirable

As a side note: the C Runtime specifies the following for IEEE compliance (for Complex.Cos), but none of this appears to impact these inputs (at first glance)

ccos(z) = ccosh(iz)

The ccosh

[2017-04-27 17:35] danmosemsft commented on #19044
@AtsushiKan aot/UWP stuff goes in 2.1. It doesn't seem cirtical enough for 2.0 but feel free to correct me.

[2017-04-27 17:43] OmarTawfik commented on #17116
@marek-safar core 2.0 and desktop 4.7.1.

[2017-04-27 17:45] gkhanna79 commented on #18976
I believe they all use the same package (see https://github.com/dotnet/coreclr/blob/release/1.1.0/dependencies.props#L21).

[2017-04-27 17:52] #18836 closed

[2017-04-27 18:17] bartonjs commented on #19041
We fixed the bug in net462 (https://msdn.microsoft.com/en-us/library/mt670901(v=vs.110).aspx#Core).  So a scoped catch, or just turning off the test on netfx.

[2017-04-27 18:19] karelz commented on #18905
Triage: These APIs are not called anywhere we know. MSDN says don't use them. We likely cannnot make them fully compatible with Desktop (we have no coverage). If anyone comes that it doesn't work, we won't fix them as they are by design internal / MSDN-documented not to be used.

Pending decision:
1. Remove from .NET Standard
2. Keep them, throw PNSE (document in ApiCompat)
3. Keep them, implement

[2017-04-27 18:20] dcwuser commented on #19036
I will look at this carefully later today. From just scanning this thread, this looks to me like its probably related to desktop still calling into FSIN and FCOS, which means that values for all arguments over ~10^22 will be garbage on the desktop. I could find I am complete wrong when I dig more, but I wanted to let the thread know that I am aware of the issue and will look into it.

[2017-04-27 18:21] karelz commented on #17990
Most like networking glitch. no hits on .NET Core. Moving Future.

[2017-04-27 18:24] bartonjs commented on #19040
Another 4.6.2 fix.  People should really upgrade :).

Disabling seems fine.

[2017-04-27 18:29] karelz commented on #18680
This is legacy API, new in .NET Core 2.0.
Expected cost: 1d-2d
P2 because it doesn't break compat with Desktop, but could potentially lead people down the wrong path.

@hughbe are you interested in this one?

[2017-04-27 18:29] brentschmaltz commented on #18682
@Petermarcu I am hoping it all lines up. I am reluctant to ship a library that I haven't tested hoping that when the OM shows up it all works. The 'light-up' CNG effort resulted in a backout of CNG in WCF.
When I poked around with the .Net1.4 target, I found other OM missing (for example, XmlDictionaryReader.ReadString() is not in .Net1.4) and I had to change code so I wouldn't have a bunch of #if

[2017-04-27 18:32] karelz commented on #18680
Should be fairly straightforward. Would be nice to have a test or two.

[2017-04-27 18:34] Petermarcu commented on #18682
Shipping it on netstandard2.0 means that you expect it to work anywhere that says it supports .NET Standard 2.0. It's up to the runtimes to fulfill that contract. You can use the netstandard2.0 asset on .NET 4.6.1 and it will work.

[2017-04-27 18:40] karelz commented on #18784
Legacy APIs

Options:
1. Merge contracts - all are legacy APIs (it is messy as they are separate contracts since 1.0) + implement on top of internal API
2. Make the type & constructor public on Core only (not in .NET Standard) + implement on top of public it
3. Live with sub-optimal validation

Triage recommendation: option [2]. Doesn't fit in, moving to Future.

[2017-04-27 18:40] dperschonok commented on #9796
@davidsh We haven't had the issue anymore. As you originally pointed out, we weren't using the certificates properly in our code. Once we used the correct certificate type, all of our issues went away. So the bug I posted was probably a red herring. My apologies. I should have posted back here sometime ago. Our certificate is running successfully in production (on Linux).

[2017-04-27 18:42] divega commented on #4571
@FransBouma can you please elaborate a bit more on what you mean by this? I want to understand the rest of your post but I am stuck at this.

[2017-04-27 18:48] karelz commented on #18787
Triage:
Catching the exceptions is rare. `ArgumentOutOfRangeException` would be better as it is more specific and likely being caught.

P2 for 2.0
Very simple fix.

[2017-04-27 18:49] karelz commented on #18787
@hughbe @WinCPP are you interested? It would be nice to have in 2.0 ...

[2017-04-27 18:52] karelz commented on #18850
Moving to Future - @danmosemsft is that ok from our latest Serialization plan POV?
Should we document it on AppCompat wiki/tool?

[2017-04-27 18:55] jemiller0 commented on #4571
Since `DbProviderFactory` is supported, I think that will be good enough for my needs. I'm thinking I can do something along the lines of the following, although I haven't had a chance to test it.

`DbProviderFactory dpf = dbProvider == DbProvider.SqlServer ? SqlClientFactory.Instance : dbProvider == DbProvider.MySql ? MySqlClientFactory.Instance : dbProvider == DbProvider.PostgreSql ? (DbProvider

[2017-04-27 19:00] FransBouma commented on #4571
@divega

ORMs have generic code, and aren't hard-referencing the ADO.NET provider. On .net full, they obtain the ADO.NET DbProviderFactory by calling the GetFactory() method on the DbProviderFactories class. This way nothing is hard-referencing ADO.NET providers.

On .NET core, there's no machine.config nor a GAC so the application has to register the DbProviderFactory class type somewhere so the

[2017-04-27 19:01] karelz commented on #18851
Triage: We believe .NET Core behavior is slightly better. This is Legacy API. P2.
Let's wait for customer feedback if it matters - moving to Future.

@stephentoub are you ok with that?

[2017-04-27 19:02] brentschmaltz commented on #18682
When the support shows up, we will include the support in M.IM after testing.
I will wait for notification that C14n support is available.

[2017-04-27 19:05] karelz commented on #18870
Should be simple adding of validation.

The API is used, not legacy - we should fix it in 2.0. It may have impact on developers.

[2017-04-27 19:07] karelz commented on #19038
The test needs to adapt to .NET Framework behavior - Future.

[2017-04-27 19:08] danmosemsft commented on #11687
@ViktorHofer I guess the System.IO.DirectoryNotFoundException : Could not find a part of the path 'c:\'. error immediately above should go into a new different issue

[2017-04-27 19:10] karelz commented on #18900
Cost: Easy-to-medium. We need few tests to really understand the Desktop behavior.

[2017-04-27 19:13] danmosemsft commented on #18850
I don't think anyone should make anything else serializable until we've resolved our binary serializer discussion.

[2017-04-27 19:14] karelz commented on #18864
@stephentoub can you please chime in if this might be Loopback server problem or product issue? (@davidsh asks)

[2017-04-27 19:15] ViktorHofer commented on #11687
Good catch! I will create a new one for it. Seems also interesting 👍

[2017-04-27 19:16] karelz commented on #18664
Legacy APIs, potentially reliability, but most likely same on Desktop.

[2017-04-27 19:18] karelz commented on #18482
@hughbe is it about client cookies or server cookies -- can you please share the code with us? Thanks!

[2017-04-27 19:20] karelz commented on #18482
This might be impactful on compat with Desktop. 2.0, until there's further evidence that this is low-pri.

[2017-04-27 19:22] ViktorHofer opened #19056 "Test: System.IO.Tests.DirectoryInfo_Create/CDriveCase failed with "System.IO.DirectoryNotFoundException""
In behalf of @Jiayili1, moved from https://github.com/dotnet/corefx/issues/11687#issuecomment-297624327

This issue is repro on UWP F5 Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170427.01/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.DirectoryInfo_Create~2FCDriveCase

Message :
System.

[2017-04-27 19:27] karelz commented on #18850
Do we have primary Serialization issue I can link? So that we mark it unblocked when the plan is finalized ...

[2017-04-27 19:29] ericstj commented on #18936
Fix is ready for this:
https://github.com/ericstj/corefx/commit/ce4d47b43ff6c44ecc3f1c55e0d53e7b69cf90e4

Dependent on BuildTools update:
https://github.com/dotnet/buildtools/pull/1463

[2017-04-27 19:32] karelz commented on #18976
@tarekgh you moved it into 1.x. Do you know if we have the same problem in 2.0?

[2017-04-27 19:41] karelz commented on #18128
@hughbe any progress on this one?

[2017-04-27 19:43] karelz commented on #9006
@stephentoub can you please help?

[2017-04-27 19:43] karelz commented on #13169
@stephentoub can you please help?

[2017-04-27 19:43] karelz commented on #17977
@stephentoub can you please help?

[2017-04-27 19:44] stephentoub commented on #18851
Sure

[2017-04-27 19:52] #13124 closed

[2017-04-27 19:57] smitpatel opened #19057 "SqlClient: Exception is thrown with connection pooling with latest package (4.4.0-preview1)"
Working on a repro project.

https://github.com/aspnet/EntityFramework/tree/sqlclient
Clone the branch, run `build.cmd /t:Compile`
Run test\EFCore.SqlServer.FunctionalTests on netcoreapp2.0

Stack traces
Exception 1 happens when calling 'ClearAllPools`
[code]
Another one with same exception happens when calling `OpenAsync`
[code]

MARS = true in both cases.
Using package System.Data.SqlClient 4.4.

[2017-04-27 19:58] smitpatel commented on #19057
@corivera @saurabh500

[2017-04-27 20:03] ViktorHofer commented on #4002
Yeah it seems there a different behaviors between Unix distributions like Ubuntu, Suse, Debian, ... https://superuser.com/questions/1005335/how-do-i-ping-localhost-using-ipv6

Do we normally change configurations for our CI machines so that tests pass? I guess not, because it won't work on local dev machines.

[2017-04-27 20:04] Petermarcu commented on #18682
My point is you can support .net standard 2.0 with full features on .NET Framework and Mono. You can test it there.

[2017-04-27 20:06] smitpatel commented on #19057
Exception happens with MARS true/false either.
It works fine when using native code via app context switch.

[2017-04-27 20:10] tarekgh commented on #18976
No, we don't have the same problem in v2 because we are not using the APISets anymore. instead we are using the system DLLs. here is example

https://github.com/dotnet/corefx/blob/c55435befeb372707558a5c441b3c64bf243948f/src/Common/src/Interop/Windows/advapi32/Interop.RegOpenKeyEx.cs#L13

[2017-04-27 20:14] WinCPP commented on #18787
@karelz Please assign it to me...

@davidsh Was trying to figure out the source of exception... Is it in this file ([link](https://github.com/dotnet/corefx/blob/e9ecf74d845476540f40fa8fdc62c53ebf048519/src/System.Net.Requests/src/System/Net/RequestStream.cs#L22))

I believe at [Line 22](https://github.com/dotnet/corefx/blob/e9ecf74d845476540f40fa8fdc62c53ebf048519/src/System.Net.Requests/src/Syste

[2017-04-27 20:17] ericstj opened #19058 "Breaking changes in CoreFx packages due to net461 > ns2.0 mapping"
The remapping can cause ref-def mismatches when a NS1.5 or higher library is consumed in net461.  For example see https://github.com/aspnet/MusicStore/pull/775#issuecomment-295513922.

We could mitigate this by shoving those into the NETStandard.Library.NETFramework package, effectively "lifting" the implementation assembly up to the higher version via conflict resolution.

Alternatively we do not

[2017-04-27 20:18] ViktorHofer commented on #6302
@mellinoe looks like a different test

[2017-04-27 20:24] tannergooding commented on #19036
Yes, that seems about right. Desktop is definitely still going the FSIN/FCOS route (`Math.Cos(double.MaxValue)` returns `double.MaxValue` on Desktop and `-0.99998768942656` on CoreCLR).

This has a side effect that: `Complex.Cos(new Complex(double.MaxValue, double.MaxValue))` returns `(∞, -∞)` on Desktop and `(-∞, -∞)` on CoreCLR (which I believe is desired and better/more correct).

As with other

[2017-04-27 20:27] mellinoe commented on #19036
Yep, I'm just going to do that, and to be clear, we already have a few test cases like that for "legacy" stuff. I actually think we may want to keep the tests around "in perpetuity" as long as we have a quirk-mode in .NET Framework that preserves the old behavior.

[2017-04-27 20:28] #18903 closed

[2017-04-27 20:29] davidsh commented on #18787
@WinCPP Thank you for your interest in this.

In terms of what code to change, yes, you'll want to create a derived class of MemoryStream and override the Write* methods to do parameter validation and then call the base methods to do the actual work.

Please review this .NET Framework source to make sure you match behavior.

https://github.com/Microsoft/referencesource/blob/master/System/net/Syste

[2017-04-27 20:29] #18811 closed

[2017-04-27 20:29] bartonjs commented on #6302
@ViktorHofer Yes, its a different test, but it's the same problem.

[2017-04-27 20:33] vancem commented on #18885
Fixed by PR #19055

[2017-04-27 20:33] #18885 closed

[2017-04-27 20:45] davidsh commented on #9796
Thx for the response. I will close this issue now.

[2017-04-27 20:45] #9796 closed

[2017-04-27 20:45] danmosemsft commented on #19040
@safern I can't remember , do we have a way to disable a test just for <=4.6.1? It would be nice if the test just lit up when we moved xunit forward.

[2017-04-27 20:46] #11687 closed

[2017-04-27 20:46] #17536 closed

[2017-04-27 20:47] danmosemsft commented on #18724
Why doesn't this repro for core?

[2017-04-27 20:48] danmosemsft commented on #18478
@Jiayili1 your test link above is a different test. Please check.

[2017-04-27 20:48] #18478 closed

[2017-04-27 20:48] karelz commented on #18787
Thanks @WinCPP!

[2017-04-27 20:51] jkotas commented on #13816
https://github.com/dotnet/coreclr/pull/11266

[2017-04-27 20:51] morganbr commented on #19044
@AtsushiKan , the toolchain is indeed supposed to have noticed that HashBucket is reflection blocked and generated a non-reflection Equals/GetHashCode. Thanks for filing the TFS bug on that.

[2017-04-27 20:55] gkhanna79 opened #19062 "Disable RefEmit Test"
Issue to disable RefEmit test until https://github.com/dotnet/coreclr/pull/11264 makes into CoreFX.

Original issue - https://github.com/dotnet/coreclr/issues/11228

[2017-04-27 20:55] corivera commented on #19003
Added in https://github.com/dotnet/corefx/commit/9c668c88bfd0f6a68b12c5da5453467717f79376

[2017-04-27 20:55] #19003 closed

[2017-04-27 21:16] ianhays commented on #6302
@bartonjs think we should add [the extra validation Dan added](https://github.com/dotnet/corefx/pull/15302) to this test as well? It would of course be a bit different since we're loading xml and not using an x509 cert, but the validation would be mostly the same.

[2017-04-27 21:16] weshaggard commented on #19058
I would prefer we keep the support package just to things that are not inbox. For these I think the fall into the same bucket as SqlClient that folks have to update their reference to those packages.

[2017-04-27 21:17] safern commented on #19040
@bartonjs is this a quirked behavior?

[2017-04-27 21:18] bartonjs commented on #19040
https://referencesource.microsoft.com/#System.Core/System/Security/Cryptography/RsaCng.cs,90 Nope

[2017-04-27 21:22] shmao opened #19067 "To Fix rd.xml for Serialization Reflection Only Mode"
#19006 added rd.xml to `System.Runtime.Serialization.*.ReflectionOnly.Tests`, which made many serialization tests to pass in reflection only mode on UWP. The rd.xml, however, include metadata for the entire System.Private.DataContractSerialization, which is not what we want. We need to fix the rd.xml for System.Private.DataContractSerialization to include just the necessary metadata info.

[2017-04-27 21:23] smitpatel commented on #19057
Another stack trace from diagnostic repo. This test is async but it uses sync code path in SqlClient
[code]

Point to mention, all these happen only when running tests in parallel (which is default in asp.net)

[2017-04-27 21:34] danmosemsft commented on #19056
appcontainer .. disable this case for uwp...

[2017-04-27 21:35] #18538 closed

[2017-04-27 21:41] ianhays commented on #17468
closing as a duplicate of the more recent https://github.com/dotnet/corefx/issues/18009

[2017-04-27 21:41] #17468 closed

[2017-04-27 21:43] safern commented on #19040
Nope, we can only disable for latest framework. `SkipOnTargetFramework(TargetFrameworkMonikers.NetFramework` will skip always when TargetGroup == netfx (which runs against latest installed framework in the computer that we are running)

[2017-04-27 21:50] #19056 closed

[2017-04-27 21:59] ianhays commented on #18817
@safern you're currently working on the desktop failures in the Security.Permissions tests, correct? Don't want to step on your toes by taking this issue or #18818 :)

[2017-04-27 22:00] safern commented on #18817
Yes, currently working on this :)

[2017-04-27 22:09] danmosemsft commented on #19041
One for you @safern ..

[2017-04-27 22:12] ViktorHofer commented on #17934
Just for reference what is currently allowed in the AppContainer: https://docs.microsoft.com/en-us/windows/uwp/files/file-access-permissions

By guessing that it won't be allowed should we condition it for UWP to expect UAE for now?

[2017-04-27 22:14] ianhays commented on #19040
similar to #19042. I'll take these if you're not already working on them @safern.

[2017-04-27 22:16] safern commented on #19040
@ianhays I was just investigating this, we could parse `RuntimeInformation.FrameworkDescription` to see if the version is < 462 and if so return; to skip the test. Could you take these one?

[2017-04-27 22:17] safern commented on #19040
Because if the running computer has 461 as the latest Framework it will fail.

[2017-04-27 22:18] #18814 closed

[2017-04-27 22:18] safern commented on #19041
Assigned to me, should catch the exception only on netflix and return?

[2017-04-27 22:20] cwe1ss opened #19071 "Consider renaming Activity.OperationName and changing its comment"
The new `Activity` type from DiagnosticSource is based on OpenTracing's `span` type. However, I've noticed that Activity's meaning of "OperationName" is different than OpenTracing's.

Defintion from the [OpenTracing specification](https://github.com/opentracing/specification/blob/master/specification.md#start-a-new-span)

With Activity however, the OperationName is used as a compile-time constant

[2017-04-27 22:21] joemcbride commented on #13309
I ran into the "Device not configured" error with the above C# code by just being disconnected from Wifi.  I was also able to duplicate this by having DNS servers that didn't recognize my machine in the DNS settings for my connection.  Note that I'm pretty sure my macbook _does_ have file sharing turned off.  It is controlled by our IT department and I have no control over that setting.

macOS: 10

[2017-04-27 22:21] bartonjs commented on #19041
@safern Catching the exception seems reasonable if we're going to do a runtime version check.  Or just slap the skip on netfx attribute on the test and note that it was fixed in net462.  Maybe when we re-baseline we'll remember to clean up all the things we've added this week.

[2017-04-27 22:25] bartonjs commented on #6302
@ianhays I sort of wonder if we want to do something weird and put it as self-debugging code (in \#if DEBUG) in the product code itself.

If it's about to export Exponent == all zeros or Modulus == all zeros, and it's in debug, either do the retry and throw a "it's a miracle, retry worked!" or "totes seems borked, dude..." exception.

Or if it catches it to just crashdump so we can see what happen

[2017-04-27 22:27] safern commented on #19041
Other way could be to do a runtime check and if version < 4.6.1 then exit the test, and this wouldn't need any cleanup due that we could hit this if 4.6.1 is the latest installed in the running machine. Because if we catch the exception and something else threw it because there is a bug (or we introduce a bug later) we will not find that failure. Thoughts?

[2017-04-27 22:39] gkhanna79 commented on #19062
Will be re-enabled by https://github.com/dotnet/corefx/pull/19059.

[2017-04-27 22:39] #13816 closed

[2017-04-27 22:46] benaadams commented on #18481
My best guess currently on what causes the drop is the async doing more work (obviously); but then that extra work being on memory; whereas the non-async and manual fast-path are working off registers.

[2017-04-27 22:53] divega commented on #4571
@FransBouma thanks for clarifying.

I think this is a good summary of what is missing right now and in my opinion the main motivation to keep this issue open. `DbProviderFactories` would probably be able to fill that role again, but it needs a standard way to register providers in code, rather than only through some external configuration. And by "standard" I mean that it would really be great if

[2017-04-27 22:57] benaadams commented on #18481
My best guess currently on what causes the drop is the async doing more work (obviously); but then that extra work being on memory; whereas the non-async and manual fast-path are working off registers.

An inlining doesn't solve it because the state is a very large struct beyond enregistering size and shape.

[2017-04-27 23:05] safern commented on #19040
Actually this one: #19041 is on this test method as well. Which I'm already fixing, so both should be fixed with my change. So assigning to myself -- @ianhays

[2017-04-27 23:13] ViktorHofer commented on #18680
Ah that's a good one! Validation is missing in Core because implementation is missing for some headers!!! E.g. Host isn't implemented in core:

[code]

[2017-04-27 23:17] #18717 closed

[2017-04-27 23:17] #18799 closed

[2017-04-27 23:17] #18827 closed

[2017-04-27 23:48] steveharter commented on #16516
@CIPop how did you repro this? Which test and can you repro it again?

If you are able to repro it at will, can you also repro with just that test alone? To eliminate any thought of potential interference.

How do you know the X509Certificate was disposed -- a zero `secureCredential` handle passed into AcquireCredentialsHandle(...)?

Also on possibility # 1, if the X509Certificate2Collection goes

[2017-04-28 00:05] karelz commented on #18827
@JeremyKuhne only 1 area label please (otherwise we have double-counting and unclear responsibility ;)). Thanks!

[2017-04-28 00:08] #8081 closed

[2017-04-28 00:24] CIPop commented on #16534
This doesn't appear to be related to #16516. The commonality here appears to be that all of the tests are using actual network calls instead of `VirtualNetwork`.

[2017-04-28 00:37] hughbe commented on #18482
It is impactful IMO. I'm not sure what you mean by client vs server cookies. Basically this is cookies sent from httpclient to httplistener - httplistener struggles to parse them.

I'm getting ready to submit a PR. Unfortunately it relies on the http listener fixes that haven't been merged yet. Would be good to get those merged so I can fix this.

[2017-04-28 00:38] hughbe commented on #18128
Yup I've submitted a bunch of PRs. This is a bit of an umbrella issue unfortunately - the more tests I add the more differences I find - so not sure how well it fits into milestones etc.

[2017-04-28 00:46] karelz commented on #18128
Got it.
When do you expect to reach the point of "good enough" coverage? Do you have rough estimation?

[2017-04-28 00:51] karelz commented on #18482
I pinged the PRs. Can you share a gist with the test case? That may help @davidsh and @CIPop to understand it better ...

BTW: Thanks for all your great help in the area!

[2017-04-28 00:55] davidsh commented on #18482
My question was about client-sent vs. server-sent cookies.   Servers send cookies to clients via the 'Set-Cookie' HTTP response header.  Clients send cookies to servers via the 'Cookie' HTTP request header.

It sounds like this is about client-sent cookies, i.e. 'Cookie' HTTP request headers sent to a server. In this case, the server is httplistener.

I agree that this is important to fix.  .NET F

[2017-04-28 00:56] hughbe commented on #18128
I've gone through request stream, response streams request and listener.
I'm probably going to limit myself to response and authentication to conclude.
Maybe a good idea for me would be to close this issue once all the active issues are fixed - I dislike umbrella issues as much as anyone

[2017-04-28 00:59] hughbe commented on #18482
Oh sorry I didn't see that last example. I took it from Cookie.cs tests for invalid cookies. I think it's the fact that the domain is prefixed with a dot

[2017-04-28 01:00] karelz commented on #18128
Sounds great, thanks!

[2017-04-28 01:02] davidsh commented on #18680
The HTTP stack is completely different between .NET Framework and .NET Core.

.NET Framework HTTP stack started with HttpWebRequest APIs which implemented HTTP protocol completely on top of managed Sockets.   HttpClient was introduced in .NET 4.5 and was a layer on top.

In .NET Core, we decided to not port that original HTTP stack from .NET Framework (long story).  We implemented something differ

[2017-04-28 01:03] davidsh commented on #18680
And historically HttpWebRequest was not in the Windows Store App profile completely.  It was a stripped down API surface.  This is how the Windows Store apps for Windows 8/8.1 started out.  A lot of .NET was trimmed down for that.   Then we decided a few years later to add back the API surface for Store profile.  This is part of .NET Core work and .NET Core 2.0 for UWP work (.NET Core 2.1 release)

[2017-04-28 01:26] fujiy commented on #13970
cc @arcs001

[2017-04-28 01:31] #18724 closed

[2017-04-28 01:31] Jiayili1 opened #19076 "Desktop: System.Diagnostics.Tests.ProcessTests.HandleCountChanges failed with "Xunit.Sdk.EqualException""
Failed test: System.Diagnostics.Tests.ProcessTests.HandleCountChanges

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/34/testReport/System.Diagnostics.Tests/ProcessTests/HandleCountChanges/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-28 01:34] Edward-Zhou opened #19077 "I want to implement Ssl​Stream in Core console applicaiton"
I followed this [Ssl​Stream Class](https://docs.microsoft.com/en-us/dotnet/api/System.Net.Security.SslStream?view=netcore-1.1&viewFallbackFrom=netcore-1.1.0), but it is applied to Core 2.0 which has not been released.
Is there any document for Core 1.0 to use SslStream?
Thanks for your help.

[2017-04-28 01:37] davidsh commented on #19077
SslStream class is available in .NET Core 1.0 and 1.1.  It is in the System.Net.Security NuGet package/library.

[2017-04-28 01:38] corivera commented on #19039
Excluded error message checking when running these tests against desktop: https://github.com/dotnet/corefx/commit/11aaf3ddb1889c833f33c4e89240280a33de81e9

[2017-04-28 01:38] #19039 closed

[2017-04-28 01:40] brentschmaltz commented on #18682
@Petermarcu in that respect, yes it should be very quick to run through a set of tests for a .netstandard 2.0 target on core and call it good. I expect a couple of things but at the noise level.

[2017-04-28 01:46] davidsh commented on #19077
What didn't work exactly?  Did it compile?  Did you get errors?

cc: @karelz

[2017-04-28 01:51] Jiayili1 opened #19079 "Desktop: System.Security.Cryptography.Rsa.Tests.SignVerify.VerifySignature_SHA1_384 failed with "System.Security.Cryptography.CryptographicException""
Failed tests:
 System.Security.Cryptography.Rsa.Tests.SignVerify.VerifySignature_SHA1_384
 System.Security.Cryptography.Rsa.Tests.SignVerify.VerifySignature_SHA1_1032
 System.Security.Cryptography.Rsa.Tests.SignVerify.ExpectedSignature_SHA1_1032
 System.Security.Cryptography.Rsa.Tests.SignVerify.ExpectedSignature_SHA1_384

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx

[2017-04-28 01:53] Edward-Zhou commented on #19077
I got below errors:
1.the type or namespace name 'Hashtable' could not be found
I tried "using Hashtable = System.Collections.Generic.Dictionary<object, object>;"
2.'TcpClient' does not contain a constructor that takes 2 arguments
I tried `            TcpClient client = new TcpClient();
            client.ConnectAsync(machineName,443).Wait();`
3.'SslStream' does not contain a definition for 'Authe

[2017-04-28 01:54] Jiayili1 opened #19080 "Desktop: System.Security.Cryptography.Rsa.Tests.SignVerify.NegativeVerify_BadKeysize failed with "System.Security.Cryptography.CryptographicException""
Failed test: System.Security.Cryptography.Rsa.Tests.SignVerify.NegativeVerify_BadKeysize

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/34/testReport/System.Security.Cryptography.Rsa.Tests/SignVerify/NegativeVerify_BadKeysize/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-28 02:03] MichalStrehovsky commented on #19067
We need to make sure there are reflection-based serializer tests that don't have **any RD.XML whatsoever**. Even if the need for RD.XML here is justifiable ("the test is reflecting on framework types"), we need test coverage that will run reflection-based serialization *the way customers run it*. Ideally there should be two tests (one that has RD.XML and tests internal behaviors that can't be prop

[2017-04-28 02:16] stephentoub commented on #9006
I've spent some time today looking into this, and I can't find a way to do it well.  If we knew that libcurl would always request the request content and read it to its completion, then we could do this, but there are circumstances where it won't read the whole request content or may not read any of it, in which case if we block waiting for it to, we effectively deadlock.  We can play whack-a-mole

[2017-04-28 02:19] MichalStrehovsky commented on #19016
@AtsushiKan I can't find a TFS bug for this - you should file one on the native codegen team - this is an invalid codegen optimization because it doesn't consider the side effects of the access.

It also reproes with e.g.:

[code]

[2017-04-28 02:26] Jiayili1 opened #19081 "Desktop: System.TypeLoadException: Could not load type 'System.Security.Cryptography.TripleDESCng' from assembly 'System.Security.Cryptography.Cng'"
Failed test: System.Security.Cryptography.Encryption.TripleDes.Tests.TripleDESReusabilityTests.TripleDESReuseEncryptorDecryptor

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/34/testReport/System.Security.Cryptography.Encryption.TripleDes.Tests/TripleDESReusabilityTests/TripleDESReuseEncryptorDecryptor/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-28 03:11] Jiayili1 opened #19083 "Desktop: System.Net.Tests.HttpWebRequestTest.Abort_BeginGetRequestStreamThenAbort_EndGetRequestStreamThrowsWebException failed with "Xunit.Sdk.EqualException""
Failed test: System.Net.Tests.HttpWebRequestTest.Abort_BeginGetRequestStreamThenAbort_EndGetRequestStreamThrowsWebException

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/34/testReport/System.Net.Tests/HttpWebRequestTest/Abort_BeginGetRequestStreamThenAbort_EndGetRequestStreamThrowsWebException_remoteServer__http___corefx_net_cloudapp_net_Echo_ashx_/

[2017-04-28 03:12] stephentoub commented on #18869
Failed again here:
https://github.com/dotnet/corefx/pull/19051

[2017-04-28 03:16] stephentoub commented on #19044
cc: @AArnott

[2017-04-28 03:46] davidsh commented on #19083
This test has the same problems as this one (BeginGetResponse, Abort):
https://github.com/dotnet/corefx/blob/master/src/System.Net.Requests/tests/HttpWebRequestTest.cs#L544

See: #18800

It is an unreliable test since it has a built-in race condition. We should disable this test since due to race conditions, it won't always return WebException.

[2017-04-28 03:57] danmosemsft opened #19086 "Dumpling errors over shared files"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/34/consoleText
[code]

[2017-04-28 03:58] danmosemsft commented on #18808
@brianrob ?

[2017-04-28 04:00] danmosemsft commented on #18806
@brianrob reasonable to increase the timeout? it's actually 10s
[code]

[2017-04-28 04:00] danmosemsft commented on #18806
We are working to get desktop run clean so it can go in CI

[2017-04-28 04:01] danmosemsft commented on #18806
5 tests fail this way.

Of course this assumes it's just slow. It migt not be working at all on desktop.

[2017-04-28 04:03] danmosemsft commented on #18805
@brianrob is this expected on Desktop? What's the appropriate change? eg., if on desktop, ignore that event source?

[2017-04-28 04:09] danmosemsft commented on #18723
DCJS_ReadOnlyDictionary is covered by https://github.com/dotnet/corefx/issues/18312

[2017-04-28 04:09] #18723 closed

[2017-04-28 04:09] AArnott commented on #19044
Which branch should a fix for this (the ImmutableHashSet one) be targeted to?

[2017-04-28 04:13] danmosemsft commented on #19076
[code]

[2017-04-28 04:22] AArnott commented on #19044
Hmmm... I guess it's been too long since I've built this code. I can't figure out how to get it to build in VS2017 so I can run tests, and fix this issue. This is what I'm seeing in VS. I see a similar error from MSBuild.exe at the command line, and dotnet build also fails but with a different error.

[code]

That said, In looking over the code I'm very curious what the callstack would be on these

[2017-04-28 04:30] danmosemsft commented on #19076
This does not repro for me when I run the code standalone. It consistently drops handlecount by 3.

[2017-04-28 04:37] danmosemsft commented on #19028
[code]

[2017-04-28 04:37] weshaggard commented on #15337
When I chatted with @JeremyKuhne about this he said he was going to take a look and if it was easy enough he would just pull in minimal code to set the ACL's but if not then we will just keep the dependency for netcoreapp.

[2017-04-28 04:38] danmosemsft commented on #13298
Also on Jenkins
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_rhel7.2_release/lastCompletedBuild/testReport/System.Net.Http.Functional.Tests/HttpClientHandler_ServerCertificates_Test/NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds/

[2017-04-28 04:39] weshaggard commented on #18905
At this point we are pretty locked down on the APIs in netstandard2.0 so it would require shiproom approval to modify it there.

[2017-04-28 04:42] jcouv commented on #18666
This sounds like a good optimization, @omariom. Thanks for the proposal and data points.
I will check with some runtime folks to understand if there might be any negative effects. For instance, with .NET Native.

[2017-04-28 04:43] danmosemsft commented on #19081
@safern why is it trying to load it from S.S.Cryptography.Cng when it's a desktop test, it should load it from System.Core?

[2017-04-28 04:46] danmosemsft commented on #19080
@bartonjs any idea? not clear where this comes from without debugging it

[2017-04-28 04:50] danmosemsft commented on #19079
@bartonjs expected?

[2017-04-28 04:53] danmosemsft commented on #18905
Karel as I mentioned above I do not think we have any precedent for removing from Standard any individual members  (except to break dep's). I don't think that should be on the table.

[2017-04-28 04:56] #18818 closed

[2017-04-28 04:56] #18819 closed

[2017-04-28 04:56] #18820 closed

[2017-04-28 04:56] #18971 closed

[2017-04-28 04:56] #18595 closed

[2017-04-28 04:56] #18815 closed

[2017-04-28 04:56] #18816 closed

[2017-04-28 04:56] #18817 closed

[2017-04-28 04:59] safern commented on #19081
System.Security.Cryptography.Cng is a facade when building on netfx that has type forwards to mscorlib and System.Core, but this type that is missing is available until 462 and currently the facades when building against netfx are generated against 461 so that is why the type forwards are missing on S.S.Cryptography.Cng... This is the same issue as: https://github.com/dotnet/corefx/issues/18720

S

[2017-04-28 05:48] karelz commented on #18905
Thanks for details - that makes option (1) highly unlikely IMO.
Any preferences between (2) and (3)? ... I would be fine with (2) and rather fix something which we believe could have impact on real customer scenarios. Thoughts?

cc @davidsh @CIPop @DavidGoll @schen381 @geoffkizer @Priya91

[2017-04-28 06:23] Jiayili1 opened #19090 "Desktop: System.Security.Cryptography.Pkcs.EnvelopedCmsTests.Tests.EdgeCasesTests.ZeroLengthContent_FixedValue failed with "System.Security.Cryptography.CryptographicException""
Failed test: System.Security.Cryptography.Pkcs.EnvelopedCmsTests.Tests.EdgeCasesTests.ZeroLengthContent_FixedValue

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/34/testReport/System.Security.Cryptography.Pkcs.EnvelopedCmsTests.Tests/EdgeCasesTests/ZeroLengthContent_FixedValue/

Configuration: outerloop_netfx_windows_nt_debug

MESSAGE:
[code]
STACK TR

[2017-04-28 06:29] Jiayili1 commented on #18201
Failed again on desktop: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/34/testReport/System.ComponentModel.Tests/MemberDescriptorTests/CopiedMemberDescriptorEqualsItsSource/

[2017-04-28 06:50] Jiayili1 commented on #17993
Failed again on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/34/testReport/System.Net.NetworkInformation.Unit.Tests/NetworkInterfaceTest/GetIsNetworkAvailable_NetworkConnectivityLevelIsNone_ReturnsFalse/

[2017-04-28 06:50] karelz commented on #17099
@dnikolovv I just sent you collaborator invite. Please ping me when you accept, I can co-assign it to you.
Please coordinate the work with @rjxby to avoid duplicated effort. Thanks for help folks!

[2017-04-28 06:51] bartonjs commented on #19079
Fixed in 4.6.2 :)

[2017-04-28 06:55] KristinXie1 opened #19091 "Desktop: BasicEventSourceTests.TestsManifestNegative.Test_GenerateManifest_InvalidEventSources failed with "Xunit.Sdk.EqualException""
Failed test: BasicEventSourceTests.TestsManifestNegative.Test_GenerateManifest_InvalidEventSources

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/34/testReport/BasicEventSourceTests/TestsManifestNegative/Test_GenerateManifest_InvalidEventSources/

Configuration: outerloop_netfx_windows_nt_debug

MESSAGE:
[code]
STACK TRACE:
at BasicEventSourceTests.Te

[2017-04-28 06:59] dnikolovv commented on #17099
@karelz I accepted. @rjxby How should we proceed?

[2017-04-28 07:00] Jiayili1 opened #19092 "Desktop: System.Security.Cryptography.Hashing.Algorithms.Tests.InvalidUsageTests.InvalidHashCoreArgumentsFromStream failed with "System.Security.Cryptography.CryptographicException""
Failed test: System.Security.Cryptography.Hashing.Algorithms.Tests.InvalidUsageTests.InvalidHashCoreArgumentsFromStream

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/34/testReport/System.Security.Cryptography.Hashing.Algorithms.Tests/InvalidUsageTests/InvalidHashCoreArgumentsFromStream/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-28 07:01] karelz commented on #13298
1.5 month assigned to @Priya91, I don't think she is actively working on it + she is OOF for 3 next days. Unassigning

[2017-04-28 07:03] karelz commented on #13349
@steveharter from OneNote comments it seems like you couldn't repro and that you re-enabled the test. Can you please confirm and close the issue please? If we hit it again, it will be reopened. Thanks!

[2017-04-28 07:07] Jiayili1 opened #19093 "Desktop: System.Tests.BitConverterTests.ValueArgumentNull failed with "Xunit.Sdk.EqualException""
Failed test: System.Tests.BitConverterTests.ValueArgumentNull

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/34/testReport/System.Tests/BitConverterTests/ValueArgumentNull/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-28 07:08] karelz commented on #17272
@stephentoub any idea?
@nitinjain did you try latest-ish bits? Any chance to get a full repro source code of minimal repro? Thanks!

[2017-04-28 07:10] nietras commented on #17793
@ahsonkhan I think @ektrah proposal is fine as such, but if we add another overload returning element index for `Overlaps` then this should cover most cases together with a possible `Contains` (`IsSliceOf`) overload:
[code]
where `elementIndex` is the relative index of `second` to `first` if they overlap or `second` is contained in `first`, respectively. With `elementIndex` one can use this to ens

[2017-04-28 07:11] karelz commented on #18873
This does not look like critical for 2.0, moving to Future. Please speak up if you disagree (in which case, please describe the user scenarios).

[2017-04-28 07:14] karelz commented on #12618
@hongdai did you get chance to verify it? We are getting closer to 5/10 ...

[2017-04-28 07:20] rjxby commented on #17099
@dnikolovv I think you can start with /Common folder and when I will finish with my part of work you will just rabase on my changes or I can make rebase if you done first, ok? @karelz We can make this issue using two different pull requests from me and from @dnikolovv?

[2017-04-28 07:22] karelz commented on #17099
@rjxby whatever works best for you guys. It can be 2 (or more) independent PRs, assuming the code is independent. For additional test coverage it seems very reasonable ...

[2017-04-28 07:27] rjxby commented on #17099
@karelz ok, cool, thanks 🙂

[2017-04-28 07:46] bartonjs commented on #19080
Another net462 fix (https://msdn.microsoft.com/en-us/library/mt670901(v=vs.110).aspx#Anchor_0):

[2017-04-28 07:48] dotnet-mc-bot opened #19094 "Test: System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test/GetAsync_AllowedSSLVersion_Succeeds failed with "System.Net.Http.HttpRequestException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test/GetAsync_AllowedSSLVersion_Succeeds(acceptedProtocol: Tls12, requestOnlyThisProtocol: True)` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.\r
    ---- System.Net.Http.WinHttpException : The handle is invalid

        Stack Trace:

[2017-04-28 08:07] dotnet-mc-bot opened #19095 "Test: DataContractSerializerTests/DCS_FileStreamSurrogate failed with "System.UnauthorizedAccessException""
Opened on behalf of @Jiayili1

The test `DataContractSerializerTests/DCS_FileStreamSurrogate` has failed.

System.UnauthorizedAccessException : Access to the path 'C:\\dotnetbuild\\work\\8b64ac9d-8324-443b-a250-64baec62f74f\\Work\\142c785d-2f76-4aae-b3c8-32bf55151a7a\\Unzip\\Test.txt' is denied.

        Stack Trace:

           at System.IO.FileStream.OpenHandle(FileMode mode, FileShare share, Fi

[2017-04-28 08:24] Jiayili1 commented on #19037
This issue is repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170428.01/workItem/System.Security.Cryptography.Algorithms.Tests/analysis/xunit/System.Security.Cryptography.Hashing.Algorithms.Tests.HmacSha512Tests~2FProduceLegacyHmacValues

[2017-04-28 08:31] dotnet-mc-bot opened #19096 "Test: System.Tests.BitConverterTests/StartIndexPlusNeededLengthTooLong failed wtih "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Tests.BitConverterTests/StartIndexPlusNeededLengthTooLong` has failed.

Assert.Equal() Failure\r
    Expected: value\r
    Actual:   (null)

        Stack Trace:

           at System.AssertExtensions.Throws[T](String paramName, Func`1 testCode) in E:\A\_work\132\s\corefx\src\Common\tests\System\AssertExtensions.cs:line 52
       at System.Tests.BitC

[2017-04-28 08:34] Jiayili1 commented on #18196
This issue is repro on Full Framework Tests in build 20170428.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170428.01/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/System.ConfigurationTests.UrlPathTests~2FGetDirectoryOrRootName_GettingDirectoryFromAFilePath

[2017-04-28 08:55] ViktorHofer commented on #15337
Alright. The last time I looked into the ACL source, it seemed like everything is glue together. I suspect that the minimum code base is like 80% of the lib. But I will also take another look into it.

[2017-04-28 08:59] ViktorHofer commented on #18680
Alright, thanks for the explanation. I guesses that it would be that... I will diff the sources and check what needs to be pulled in to have both a fully functional HttpWebRequest and WebClient impl which behave the same as Desktop. Currently they are strongly diverging

[2017-04-28 09:42] ViktorHofer commented on #18196
Again closing it to get notified if it is still happening

[2017-04-28 11:43] stephentoub commented on #17272
Doesn't seem like a bug in .NET.  Looks like some kind of configuration issue with the machine / docker / etc. The client is getting an error back from libcurl saying it can't connect to the server, which basically means it tried to connect a socket to that address/port and failed.

[2017-04-28 11:45] stephentoub commented on #19076
The test isn't particularly robust.  It's expecting that the only handles that are created/closed are the ones coming from the test itself, but something else in the runtime may happen to do so at just the wrong time.

[2017-04-28 12:05] stephentoub commented on #18905
Let's do (2).

[2017-04-28 12:57] JanLenoch opened #19098 "HttpClient.SendAsync() throws 'Error while copying content to a stream.'"
When requesting a JSON off of a Gravatar API endpoint, the call to SendAsync ends unsuccessfully with the above System.Net.Http.HttpRequestException.

Repro:

[code]

Expected result: The `responseContent` points to a string with the JSON content.

Environment: System.Net.Http 4.3.0, netcoreapp1.0, runtime framework version 1.0.4

Notes: The Gravatar endpoint works in a way that it returns a 302 r

[2017-04-28 13:54] fujiy commented on #13970
@danmosemsft the path described by @jamesqo in this issue is already covered:

![image](https://cloud.githubusercontent.com/assets/1336227/25531701/fe4933e2-2c00-11e7-87c0-f8458856d5c1.png)

@arcs001 is working on to improve the code coverage of remaining paths

[2017-04-28 15:10] karelz commented on #18905
OK, sold. Closing.
If anyone has different opinion, please speak up / reopen.

[2017-04-28 15:10] #18905 closed

[2017-04-28 15:12] karelz commented on #17272
OK, closing. @nitinjain if you disagree, please let us know. We can reopen if there is evidence this is indeed .NET problem. Thanks!

[2017-04-28 15:12] #17272 closed

[2017-04-28 15:29] ericstj commented on #19058
We should probably collect a list of all impacted packages and write up a release note for it.

[2017-04-28 15:30] stephentoub commented on #19044
master is fine

Try sync'ing to the latest, doing a git clean, and then doing build.cmd from the root of the repo.  Then you should be able to build and test the individual project.

[code]

[2017-04-28 15:43] danmosemsft commented on #19093
I don't repro

[2017-04-28 15:45] vancem commented on #19071
I don't actually see why Activity's operation Name is not exactly Span's concept.     They suggested a name like 'get_account' and that is basically like 'HttpRequestOut' used for activity.  I don't see the mismatch.

(Note that the actual guidance is to use short names (HttpReqestOut is better than System.Net.Http.HttpRequestOut but fully qualified names don't really hurt, so we don't enforce tha

[2017-04-28 15:45] danmosemsft commented on #19095
Test is writing to its own directory. Should write to temp eg with the `TempFile` or `TempDirectory` clases.

[2017-04-28 15:45] saurabha5 commented on #16107
I also faced the same issue and figured out that the problem was with the "Dependencies" getting pushed along with the package if you use Microsoft.NETCore.UniversalWindowsPlatform 5.3.0 or later.

Ideally with 5.3.0 or later the .net native compilation tool version should be 1.6, however, the "Dependencies" folder with the package shows 1.4
To be specific Dependencies should have below

- Microso

[2017-04-28 15:50] vancem commented on #19091
@safern - is this the test you just enabled?

[2017-04-28 15:53] karelz commented on #19098
@JanLenoch thanks for your report and small repro, we apprectiate that ;).
Could you please try it on .NET Core 2.0 as well? Here's jow to dogfood: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md ... it would be very helpful to confirm it is existing problem. Thanks!

[2017-04-28 15:55] weshaggard opened #19101 "[release 1.0/1.1] Add signing to windows native build"
We need to port the following change https://github.com/dotnet/corefx/pull/15962 to our release 1.0.0 and 1.1.0 branches so the are correctly signed on the next servicing event for them.

[2017-04-28 16:05] stephentoub commented on #19098
@JanLenoch, a few things:

1) There are a few mistakes in the repro.  First, it's not compilable, e.g. the Headers assignment line doesn't work.  Second, your second example has problems with what objects are being used, e.g. the `response.Content.ReadAsByteArrayAsync` line should be using `redirectResponse` rather than `response`.

2) I believe you're hitting a security restriction: HttpClient bl

[2017-04-28 16:13] danmosemsft commented on #18849
@weshaggard please find the right home thx.

[2017-04-28 16:14] danmosemsft commented on #18580
@weshaggard can you please see if a fix for 2.0 is practial? What is the right home for ts? would like to have ts fixed before 2.0 freezes for servicing.

[2017-04-28 16:18] cwe1ss commented on #19071
"get_account" is a part of a specific requested URL. "HttpRequestOut" is a constant for all requests.

[2017-04-28 16:30] eerhardt commented on #16629
Note we already have `OperatingSystem` and `OperatingSystemVersion` in PlatformAbstractions:

https://github.com/dotnet/core-setup/blob/master/src/managed/Microsoft.DotNet.PlatformAbstractions/RuntimeEnvironment.cs#L15-L17

These values are necessary to figure out the `RID` of the machine.

Can consumers who need these values just use these existing APIs?

[2017-04-28 16:34] davidsh commented on #19098
That is correct. HTTPS -> HTTP redirection in not allowed.  If you need that for a specific purpose, then you should turn off automatic redirection (HttpClientHandler.AllowAutoRedirect = false) and handle the 3xx responses yourself.

[2017-04-28 16:36] davidsh commented on #19094
---- System.Net.Http.WinHttpException : The handle is invalid

My guess is that this is another network delay/Azure hiccup that resulted in a timeout.  But due to #9228, the see "The handle is invalid" error.

[2017-04-28 16:43] safern commented on #19091
Yes -- it is the one I "fixed" on: https://github.com/dotnet/corefx/pull/18965

[2017-04-28 16:47] stephentoub commented on #13169
The Linux behavior here matches the desktop behavior; it's the .NET Core on Windows implementation that's the odd-man-out.

Consider this short repro:
[code]

On desktop:
[code]

On .NET Core on Linux:
[code]

On .NET Core on Windows:
[code]

[2017-04-28 16:47] safern commented on #19091
I can't get a local.

[2017-04-28 16:48] davidsh commented on #18905
Why did we close this issue?  I thought we were moving it to Future as part of 2.

[2017-04-28 16:57] shmao opened #19104 "Type.GetType Behaves Differently on netfx and netcore"
The following test present different behaviors on netfx and netcore.

[code]

When targeting netstandard or netcoreapp, `Type.GetType` returns null and the test passes; when targeting netfx, the test fails with the following exception,

[code]

[2017-04-28 17:00] cwe1ss commented on #19071
The following example might help. In OpenTracing, the operation name tells you more about the actual context of the action. This is used for displaying it in tracers and it also helps to do more fine grained reports.

With `Activity` you currently only get a trace that looks like this.

* "Microsoft.AspNetCore.HttpRequestIn"
  * "System.Net.HttpRequestOut"
  * "System.Net.HttpRequestOut"
  * "Syst

[2017-04-28 17:01] #19037 closed

[2017-04-28 17:01] #19096 closed

[2017-04-28 17:07] danmosemsft commented on #19104
@gkhanna79 who is best to investigate this? GetType is implemented in the VM and I can't make much of this unfamliar code.

[2017-04-28 17:07] shmao commented on #19095
This is a test bug. We should fix the test according to @danmosemsft 's suggestion.

[2017-04-28 17:12] weshaggard commented on #18849
@kichalla System.Runtime.Loader is not supported on desktop so if there is code that uses it that needs to be changed to not consume when on desktop.

[2017-04-28 17:15] karelz commented on #18905
What kind of work would it track in Future? Solution (2) is already in place, isn't it? Or am I missing some pieces of the story here?

If we need to switch to (3) based on customer feedback - either a new issue will be filed or we will reopen this one (if someone starts commenting on it prior to filing a new one)

FYI: I documented the APIs in ApiCompat wiki: https://github.com/dotnet/corefx/wiki

[2017-04-28 17:16] danmosemsft commented on #19093
It's because it was changed from 'bytearray' in 1546665 TFS on November 9, 2015

Need to accept both

[2017-04-28 17:19] kichalla commented on #18849
Thanks @weshaggard

cc @Tratcher @davidfowl

[2017-04-28 17:20] danmosemsft commented on #19092
This one needs to go the other way -- back from AE to CE.

[2017-04-28 17:22] danmosemsft commented on #19080
@safern this will need your "if <=4.6.1" magic on the test.

[2017-04-28 17:23] danmosemsft commented on #19079
@safern another one for your 4.6.1 check

[2017-04-28 17:25] shmao commented on #18902
The implementation for the method was added on NetCore originally. The test is not applied to netfx. We should skip the test on netfx.

[2017-04-28 17:26] danmosemsft commented on #19076
I'll disable for desktop as it doesn't seem particularly important to robustify for that. If it start being unreliable on Corewe can fiddle with creating/disposing 100 handles instead.

[2017-04-28 17:26] shmao commented on #18902
@Jiayili1 can you please add [SkipOnFramework..] on the test? Thanks.

[2017-04-28 17:28] danmosemsft commented on #19095
Note this is 2.1 not 2.0

[2017-04-28 17:33] gkhanna79 commented on #19062
Re-enabled with https://github.com/dotnet/corefx/pull/19059.

[2017-04-28 17:33] #19062 closed

[2017-04-28 17:37] steveharter commented on #6302
@bartonjs I think the product-wise DEBUG option would find the issue quicker, and help with a fix especially if we need to add re-try logic to certain OpenSsl calls.