[2016-01-26 19:59] davidpodhola opened #5704 "dotnet console app output is different from dnx or .net for the same encoding"
Have [a very simple application](https://github.com/davidpodhola/sagacious-octo-kumquat/tree/master/TestConsoleCharacters) that is writing first 223 characters starting from 33.
The output from running the application with  `dotnet run` is very different from running with  `dnx` or when compiled as a .NET console application (see the attached screenshots).
![dotnet-dnx-console-difference-standard]

[2016-01-26 20:10] pakrym opened #5705 "OutOfMemoryException in System.Diagnostics.Process.WaitForExit on Darwin"
Coreclr version: 23722

This happens in our ci test run. I'll try to create a dedicated repro.

[code]

[2016-01-26 20:11] pakrym commented on #5705
And it fixed itself, closing for now.

[2016-01-26 20:11] #5705 closed

[2016-01-26 20:43] mellinoe commented on #5474
Since we had some internal discussions regarding this API, and since we are still trying to finalize the API itself, I'm pushing this back to RTM as there's no reason to try to rush this to completion in the next few days.

[2016-01-26 20:51] kouvel commented on #5205
@terrajobst, based on your suggestion above, I have updated the event name to "Unloading". It seems to convey better that the event is raised before unloading.

[2016-01-26 20:51] ericstj opened #5706 "System.Diagnostics.Tracing should be updated to 4.1.0"
https://github.com/dotnet/corefx/commit/aa42148a3ef85bf767a6a14124cfb0492d45bccc added surface area over the last stable version and should have updated the minor version of this assembly.

/cc @cshung

[2016-01-26 21:00] danroth27 commented on #5521
You can get the latest .NET CLI build from http://dotnet.github.io.

[2016-01-26 21:12] ericstj commented on #5706
Also, it looks like that new surface area is not present in .NET 4.6 so we'll need to change the generation of the reference assembly and include the older reference assembly w/ depproj to support targeting the old version of the API.
Add a depproj for 4.0.20.0 with dotnet5.4
Modify existing ref CSProj to dotnet5.5 if the new APIs shipped in .NET 4.6.1.
Modify existing ref CSProj to dotnet5.6 if t

[2016-01-26 21:14] ericstj opened #5707 "Support .NETStandard in CoreFx packages"
This covers the last item from https://github.com/dotnet/corefx/issues/4367.

All CoreFx packages need to be updated to use NETStandardX.Y instead of DotNETX.Y.

Since NETStandardX.Y was made to be separate from DotNETX.Y all dependencies of these packages must also support NETStandardX.Y.

Currently our dependencies are harvested to represent the minimal version required by surface area.  This ne

[2016-01-26 21:32] davidpodhola commented on #5704
So the 2 letters are obviously signs of UTF-8. If I do  `chcp 65001` first, the result of `dotnet run` seems to be almost the same as the others obviously without e.g. "translating" 1/4 to 1. Does it mean the console just needs to be using UTF-8 codepage?

[2016-01-26 21:34] VSadov commented on #1561
I think the only reasonable solution is "1" - "do not use LINQ over concurrently mutating data".

Note this is not an outright ban on using LINQ with concurrent collections. It is just that collections must be in a quiescent state when LINQ is used.

Scenario when LINQ is applied to a collection that is being actively mutated is bound to result in a racey and inconsistent behavior.

[2016-01-26 21:36] #1254 closed

[2016-01-26 21:40] VSadov commented on #2756
sInterpreting=true is sufficient for exploratory testing - to find bugs.

Also we have a public entry point for the interpreter. That should be enough for regression testing as well.

[2016-01-26 21:40] #2756 closed

[2016-01-26 21:43] VSadov commented on #3784
This is not related to Microsoft.CSharp, which is a library for supporting language features such as dynamic, while ALINK is a build time tool.

[2016-01-26 21:44] stephentoub opened #5708 "SslProtocols obsolete warnings-as-errors while trying to upgrade to newest packages"
e.g. http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/1441/
[code]
cc: @davidsh, @CIPop, @SidharthNabar

[2016-01-26 21:44] VSadov commented on #3784
I am closing this since this is clearly not the right repo.
Will try to find where ALINK bugs should go.

[2016-01-26 21:44] #3784 closed

[2016-01-26 21:49] davidsh commented on #5708
This looks like a WinHttpHandler UnitTest that needs to be removed since it was using Ssl30 and we already removed support for that.

[2016-01-26 21:57] kkurni commented on #5187
Thanks @eric85. I also verified that this patch is work on SQL Server 2008 10.50.5500.

I will open another issue to make sure that TLS API, doesn't have this security vulnerability.

Thanks

[2016-01-26 21:57] davidsh commented on #5708
Actually, this is more complicated.  And I don't understand why we didn't see this in CI before #4483 was merged.

The code above is failing to compile the WinHttpHandler UnitTests due to code in the Common file SslProtocolSupport:

[code]

[2016-01-26 22:08] stephentoub commented on #5708
Because the project depends on the package, and it's pulling a specific version of the package, not compiling against the live code in the other project.
cc: @weshaggard

[2016-01-26 22:09] kkurni opened #5710 "TLS 1.0 in Windows Client may still vulnerable to Beast"
This is a followup issue raised on https://github.com/dotnet/corefx/issues/5187#issuecomment-175138937

Based on this security vulnerability.
http://blogs.msdn.com/b/kaushal/archive/2012/01/21/fixing-the-beast.aspx

***The BEAST vulnerability is addressed by splitting (or fragmenting) the application data in to SSL records in the fashion 1/(n-1). This is explained in RFC2246 (section 6.2.1 Fragmen

[2016-01-26 22:11] kkurni commented on #5710
CC @joshfree @vijaykota @ericeil @saurabh500

[2016-01-26 22:11] CIPop commented on #5708
+1 Was about to hit enter on my reply :).
@stephentoub and I were discussing offline about moving all System.Net tests to follow this pattern this exact pattern yesterday.
I'll open a tracking issue for the TODOs in most of the System.Net contract implementations and separate issues for all other System.Net contracts to ensure this doesn't happen again, at least within the System.Net owned code.

[2016-01-26 22:11] davidsh commented on #5708
Would a developer have seen this if they had done this before it got merged:

`msbuild /t:rebuildandtest /p:uselocallibraries=true`

[2016-01-26 22:13] stephentoub commented on #5708
Theoretically it would have caught the problem.  However, I believe @weshaggard is looking into a potential bug with that flag. cc: @ellismg

[2016-01-26 22:13] kkurni commented on #5187
I will close this issue as it is expected behaviour for client to sent a split bytes of data to mitigate this Beast Vulnerability.

I also raise another issue https://github.com/dotnet/corefx/issues/5710 to make sure whether TLS 1.0 in Windows mitigate this security vulnerability. (Because I didn't see the split datas in TLS 1.0 in windows)

[2016-01-26 22:13] #5187 closed

[2016-01-26 22:17] kkurni commented on #5058
I am closing this as this is expected behavior as as TLS 1.0 in Unix send a split bytes to mitigate Beast Security Vulnerability. http://blogs.msdn.com/b/kaushal/archive/2012/01/21/fixing-the-beast.aspx

Workaround:
Install a patch on  SQL Server 2008 by https://support.microsoft.com/en-us/kb/2653857.

Refer to https://github.com/dotnet/corefx/issues/5187 for more detail.

Thanks to @ericl85 for f

[2016-01-26 22:17] #5058 closed

[2016-01-26 22:25] davidpodhola commented on #5704
Seems to be covered in [a comment in ConsolePal](https://github.com/dotnet/corefx/blob/c7e23670463ddf4d933800671808b945a9a16738/src/System.Console/src/System/ConsolePal.Windows.cs#L87-L91) so I assume the right way is to check the console encoding and stop if it is not  `System.Text.UTF8Encoding`.

[2016-01-26 22:27] #5704 closed

[2016-01-26 22:31] CIPop commented on #5708
It doesn't and I can't repro this in my environment. Trying running `clean && build`

[2016-01-26 22:32] pallavit commented on #4463
Closing this with #5381

[2016-01-26 22:32] #4463 closed

[2016-01-26 22:34] pallavit commented on #4462
Addressed via #5381

[2016-01-26 22:34] #4462 closed

[2016-01-26 22:44] davidsh commented on #5708
Reference PR that failed, #5703.

[2016-01-26 22:51] stephentoub commented on #5708
The PR that failed was one trying to update to the newer packages.  You should be able to repro if you pull that PR down locally:
[code]

[2016-01-26 22:54] VSadov commented on #5662
The actual NRE is a test bug and should be fixed by the https://github.com/dotnet/corefx/pull/5512

The underlying reason for the failure may still be there, but would be very hard to trace to without additional information. It could be possible the reasons for the failure were external - OOM or smth like that.
I will close this until we have more data.

[2016-01-26 22:54] #5662 closed

[2016-01-26 23:02] pallavit commented on #4543
GetRequiredCustomModifiers() will be added to .NET Core as part of #5381.

@nguerrera , @mgravell Looking at the rest of the thread, the other request is to add a new API TryGetRawPEImage  to System.Reflection.Metadata. Let me know if I missed something here.

[2016-01-26 23:58] mmitche commented on #5660
@stephentoub This is being done on the new dynamically allocated image

[2016-01-27 00:00] stephentoub commented on #5660
Thanks.

[2016-01-27 00:01] CIPop commented on #5708
Thanks @stephentoub! I have a fix but I'm not sure of the easiest way to integrate with the original PR.

[2016-01-27 00:02] davidsh commented on #5710
TLS/SSL implementation in CoreFx for Windows is layered on top of the native Windows SCHANNEL component.

I will follow with that team for details.

[2016-01-27 00:06] #5244 closed

[2016-01-27 00:13] CIPop opened #5715 "Reorganize System.Net.Http and remove the Internal folder."
Reogranize System.Net.Http by removing the Internal folder and changing the csproj.

[2016-01-27 00:16] morganbr commented on #5710
We'll discuss the issue internally. Locking the thread.

[2016-01-27 00:16] #5710 closed

[2016-01-27 00:19] svick commented on #4940
@JonHanna Maybe modifying the exception message could help with that confusing case? Specifically, I was thinking about including the type of the collection there. So, in your example, the message would be something like:

But since you're accessing `SomeCustomCollection<int>`, not `int[]`, this might help you realize that the indexes are different.

[2016-01-27 00:19] stephentoub commented on #5708
You could either merge your fix once the CI is green, and then re-run the other PR, or @Priya91 can cherry-pick your commit into her PR.

[2016-01-27 00:21] CIPop opened #5716 "Ensure that System.Net tests are executing against the checked-in implementations"
/cc: @davidsh

Several System.Net test assemblies are referencing externally downloaded packages for System.Net dependencies.This makes it harder to discover issues early in development (see #5708 for an example).
We should change the test csproj files to directly reference other System.Net implementations (see NameResolution, Sockets for examples).

[2016-01-27 00:25] davidsh commented on #5716
The only problem with using P2P references is that sometimes we test against "public" methods that are only public in the DLL but not really in the refs contract themselves.

Usually, this is a programming error on our part since we should make sure to use "internal" and not "public" on public classes that need assembly-level scope.

[2016-01-27 00:41] mellinoe commented on #5716
At the very least we should be able to set something up where the implementation assembly is copied over for the test run, even if the test code is compiled against the contract/ref assembly.

[2016-01-27 00:54] ericstj commented on #4925
Looks like this broke folks who were depending on this package for x-plat libraries.  We may need to roll it back temporarily.

[2016-01-27 04:57] kouvel commented on #5205
@clrjunkie

Sorry for the delay in responding.

The runtime is not limited to any particular order of events here, and I don't see the necessity to specify and enforce a particular order of events around the Unload event. Simply, it is raised during normal program execution shortly before the AssemblyLoadContext is unloaded, whenever that is. In the initial implementation, since unloading of Assem

[2016-01-27 05:03] vijaykota commented on #4259
@joshfree, please reassign this. This needs a fix in the test case rather than any changes in the xplat implementation

[2016-01-27 05:04] vijaykota commented on #4259
You may also want to evaluate if it is required for RTM

[2016-01-27 05:24] weshaggard commented on #5708
I'm looking at the uselocallibraries issue as it is currently broken for a number of scenarios.

@CIPop I'm not sure how you plan to change this but please cc me on the changes because we have to be careful about how we change this as we cannot build against all live things.

[2016-01-27 05:29] davidsh commented on #4259
I will assign this to myself to consider any design issues in the test case itself.

[2016-01-27 08:39] iamjasonp commented on #5667
Hey @stephentoub - was trying this with packages from rc3-23725, and unfortunately the issue is still happening for me on Linux.

On Windows (.NET Desktop and .NET Core), this scenario continues to work.

[2016-01-27 09:07] vijaykota commented on #4606
Thanks for taking care of this, @stephentoub Sorry I missed that OSX was pending when I closed it earlier.

[2016-01-27 09:19] vijaykota commented on #5187
@ericl85 , thanks for solving this issue. I was also not aware of this option so it is good to know.

[2016-01-27 09:19] vijaykota commented on #4259
Thanks for taking this up, @davidsh

[2016-01-27 10:50] JonHanna commented on #4751
The recent license change would seem to have answered this, ".NET Foundation and Contributors" is both clearly allowable if it's what is in the license, and clearly appropriate for anyone to use since anyone falls under "and Contributors".

[2016-01-27 10:50] #4751 closed

[2016-01-27 11:25] clrjunkie commented on #5205
I wrote this in response to your statement:

I should have initially quoted that to make it clear. Nevertheless, I think making such statement is a mistake. Finalizers are user facing API’s thus they must have a *contract*. Your statement would be analogous to a sale of house where the seller adds a clause to the contract that he or she reserves the right to cancel the deal at any time – which mak

[2016-01-27 12:11] JonHanna opened #5727 "Ubuntu Debug Build and Test CI out of space"
E.g. http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_debug_prtest/1464/console

[2016-01-27 12:59] bitbonk commented on #4367
The section "Terms" should explain what "TFM" stands for. [I looked it up](https://en.wikipedia.org/wiki/Total_fatty_matter)
, but the explanation there might not be so easy to understand for everyone.

[2016-01-27 13:10] Maxwe11 commented on #4367
@bitbonk TFM - Target framework moniker.

[2016-01-27 14:53] miloush opened #5730 "Add Matrix3x3"
I am working on a project involving graphics & Win2D and I would welcome to have an invertible Matrix3x3 type, mainly for transformations between color spaces. Anyone else?

[2016-01-27 15:14] miloush commented on #5730
Or if Matrix4x4 supported multiplication by Vector4, it could be used instead with M44 = 1 and W = 0.

[2016-01-27 15:57] mmitche commented on #5727
Cleaned up.  I am investigating new ways to fight this.

[2016-01-27 15:57] #5727 closed

[2016-01-27 16:27] muratg commented on #5707
@davidfowl @danroth27

[2016-01-27 17:06] stephentoub opened #5732 "TestMachineNameProperty failing on OS X"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_tst_prtest/197/console
[code]

[2016-01-27 17:25] joperezr commented on #5021
This is the PR for this issue: dotnet/corefx#5711

[2016-01-27 17:45] weshaggard opened #5733 "Enable building and publishing of portable PDBs for x-plat libraries"
For our x-plat builds we need to start producing portable PDBs. Once we do that we need to also ensure they are getting published like our windows PDBs.

[2016-01-27 18:46] terrajobst commented on #5474
Makes sense to me.

[2016-01-27 18:50] terrajobst commented on #5381
@pallavit Does closing #4463 mean we'll bring back `TargetException`?

[2016-01-27 18:54] Priya91 commented on #5732
Haha :), uname -n should be trimmed, to remove domain. Will fix this..

[2016-01-27 18:54] pallavit commented on #5381
@terrajobst In the review, we decided to expose the type. Do you have any concerns with the decision?

[2016-01-27 18:56] mellinoe commented on #4243
Since System.Diagnostics.Process (v4.0.0.0) is now merged into master, we have everything on GitHub that we ship with packages, at least according to our initial analyses. There may be a couple stragglers as we move the packaging projects out here wholesale.

[2016-01-27 18:56] #4243 closed

[2016-01-27 18:59] terrajobst commented on #4940
@JonHanna: The point is well taken but I think in most cases the stack trace will disambiguate. Your indexer is clearly a custom type. If this type isn't at the top of the exceptions's stack the index out of range doens't apply to it.

In other words, this problem of locality is true for all exception types, for instance, argument exceptions. I don't see why this should be an argument against expo

[2016-01-27 19:21] jasonwilliams200OK commented on #4367
:+1: for having a glossary in corefx docs, as available in coreclr docs.

[2016-01-27 19:23] terrajobst commented on #5381
Nope. Was just asking because I didn't remember taking about this. Will add this to the notes.

[2016-01-27 19:38] CIPop commented on #5708
@weshaggard I plan to change _test_ csproj files for System.Net tests to point to other System.Net contracts. We're already doing this for some of the contracts:

https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/tests/FunctionalTests/System.Net.Sockets.Tests.csproj#L77

Closing this issue as it has been resolved by 6609494 which has been merged in #5703.

[2016-01-27 19:38] #5708 closed

[2016-01-27 19:56] #5706 closed

[2016-01-27 20:06] jasonwilliams200OK commented on #5552
Proposed API:

Summary:

[code]

Details:

In https://github.com/dotnet/coreclr/blob/80c2952/src/mscorlib/src/System/String.cs, following signatures:

[code]

would become:

[code]

Then https://github.com/dotnet/coreclr/blob/80c2952d4660cca71f59f305f9e5aae2879473d1/src/mscorlib/src/System/UnSafeCharBuffer.cs#L33-L48 would become:

[code]

@AlexGhiondea, if this is acceptable, I can send a pull re

[2016-01-27 20:10] Priya91 commented on #5732
#5736

[2016-01-27 20:20] joshfree opened #5737 "RSACryptoServiceProvider throws System.DllNotFoundException: Unable to load DLL 'Advapi32.dll' on Linux"
Opened on behalf of @YEVHENO from https://github.com/dotnet/coreclr/issues/2876

Running ASP.NET 5 application on the coreclr on Linux fails when using the RSACryptoServiceProvider

DNX version: 1.0.0-rc1-final

[code]

[2016-01-27 20:20] nadiatk commented on #5634
The issue is complete.
Deployed System.Data.SqlClient.Tests project containing Exception test to do a simple sanity check for a specific SqlException when connecting to a non-existent sql server. The test will fail if it receives any unexpected exceptions which are typically a sign of a broken build.

[2016-01-27 20:20] #5634 closed

[2016-01-27 20:30] kouvel commented on #5205
This is a change in contract, it's not discarding the contract outright. I don't think this change is nearly as extreme as you make it out to be, especially considering that the previous finalizer contract during shutdown was flawed.

Sorry, I meant to say it is not reasonable to expect that finalizers always run (due to the point mentioned before this).

Consider a finalizable object. Either a pr

[2016-01-27 20:37] mellinoe commented on #5730
@shawnhar how have you generally been solving this in Win2D?

This seems like a fairly reasonable operation to support to me.

[2016-01-27 20:59] shawnhar commented on #5730
You can transform Vector3 and Vector4 values by a Matrix4x4:

- https://msdn.microsoft.com/en-us/library/dn877635%28v=vs.111%29.aspx
- https://msdn.microsoft.com/en-us/library/system.numerics.vector3.transformnormal%28v=vs.111%29.aspx
- https://msdn.microsoft.com/en-us/library/dn877697%28v=vs.111%29.aspx

[2016-01-27 21:14] miloush commented on #5730
@shawnhar I don't think that does the job
`Vector3.Transform` does `v.X * m.M11 + v.Y * m.M21 + v.Z * m.M31 + m.M41`
`Vector3.TransformNormal` does `v.X * m.M11 + v.Y * m.M21 + v.Z * m.M31`
`Vector4.Transform` does `v.X * m.M11 + v.Y * m.M21 + v.Z * m.M31 + v.W * m.M41`

What you need is matrix by vector:
`v.X * m.M11 + v.Y * m.M12 + v.Z * m.M13 (+ v.W * m.14)`

[2016-01-27 21:24] stephentoub opened #5739 "SendRecvAPM_Single_Stream_TCP_IPv4 failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/208/console
[code]

[2016-01-27 21:32] stephentoub opened #5740 "Consider adding an EventSource for System.IO.FileSystem"
We should consider adding an EventSource to System.IO.FileSystem.  Events could include files being opened/closed, interesting places where we fall off a fast-path (e.g. allocating extra buffers), etc.

[2016-01-27 21:42] clrjunkie commented on #5205
It's not a question of whether the change is extreme or not, it's a question of clarity. I've been working with .NET since 2002 and believe me people who are doing anything "system-level" will debate this forever if it's not made clear.

Can you please phrase this again from a user point of view.

What exactly do you mean? That the developer released all references to the objects?

What exactly ca

[2016-01-27 21:46] mellinoe commented on #5730
Ah yes sorry, multiplications are exposed as `Vector2/3/4.Transform`, not on `Matrix4x4`; had a bit of a brain freeze because I skimmed through the wrong type.

`v.X * m.M11 + v.Y * m.M12 + v.Z * m.M13 (+ v.W * m.14)`

Are you sure that is what you need? It seems that if you have your color-space transformation matrix, you should be able to just multiply your colors by that matrix (`Vector4.Transf

[2016-01-27 21:53] eerhardt opened #5741 "TimeZoneInfo DisplayName is always set to StandardName on Unix"
In order to read the localized standard and daylight display names of time zones on Unix, we are using ICU.  There doesn't appear to be a "C" api for the generic name. There is an ICU C++ api to get the 'generic' name. However, we can only use the "C" apis and not the C++ apis. See [Remove OSX Homebrew ICU dependency](https://github.com/dotnet/coreclr/pull/1851).

I can think of 2 ways to fix this

[2016-01-27 21:55] CIPop commented on #1854
@MattAfflek Opening the ETL file I see no traces recorded.
Which builds of CoreFX binaries are you using? (Only CoreFX latest supports ETW tracing.)

[2016-01-27 22:01] shawnhar commented on #5730
@miloush Vector3.Transform or TransformNormal are exactly what you want here  (these are the same thing except if the matrix includes a translation component, which I assume yours does not since you mention it could also be expressed as a 3x3).

System.Numerics uses row-major matrices with pre-multiplication ordering.  Perhaps you are used to some other matrix implementation that adopted a differe

[2016-01-27 22:14] kouvel commented on #5205
I'm all for clarity, where it is necessary to develop for a scenario to make it work as expected. We can argue about clarity but I'm not yet convinced that this needs further specification.

Considering an object, a developer can choose to control the lifetime of the object, or the developer can choose to leave the lifetime up to the GC.

I mean in the case where the developer leaves the object's

[2016-01-27 22:25] joperezr commented on #5432
Closing issue since it was fixed by #5599

[2016-01-27 22:25] #5432 closed

[2016-01-27 22:47] FransBouma commented on #1039
I'm closing this issue, as it's continued in other threads 10 times over.

[2016-01-27 22:47] #1039 closed

[2016-01-27 22:59] clrjunkie commented on #5205
But you can only use the dispose pattern on reachable objects. What if you use a library that allocates and de-allocates files or connections under the cover and uses finalizers to clean those up (as in your proposal example). In such case if you want to ensure that all those  are properly teardown once Unload occurs than your only option would be to do Collect/Wait since that library left the lif

[2016-01-27 23:03] clrjunkie commented on #5205
Furthermore, it's important to state that doing Collect/Wait is currently a no-op in the Unload event, since  people would reasonably expect this work like in any other method call.

[2016-01-27 23:22] joperezr opened #5743 "Clean up build.sh and mono.targets"
Once we move to using .Net Core MSBuild for x-plat build, we should clean up build.sh script since it has a lot of code that downloaded msbuild plus it had some checks for prerequisites. We should also stop using mono.targets, since they shouldn't be required anymore.

[2016-01-27 23:22] terrajobst opened #5744 "Allow reflection to identify substituted generic types"
For overload resolution tie breakers Roslyn needs a way to differentiate between a substituted generic and actual type, e.g:

[code]

Consider this code:

[code]

Notice the use of `dynamic`. This forces the overload resolution to happen at runtime, with reflection being the provider for the type information the C# binder uses.

The goal is to have overload resolution pick the second method, inste

[2016-01-27 23:23] miloush commented on #5730
Transforming the matrix and doing `Vector.Transform` of course does it. Indeed, apparently I was looking for row-major post-multiplication.

So for my original scenario there seems to be a workaround with Matrix4x4. Looks like the library has been designed mainly for graphics purposes. I still believe 3x3 would be useful for more mathematical-oriented tasks, though I can see the confusion for peop

[2016-01-27 23:37] terrajobst commented on #1039
@FransBouma

Thanks, that seems like a good idea. This thread has become a bit unmanageable due to sheer size.

[2016-01-27 23:37] mellinoe commented on #5743
:+1:

[2016-01-27 23:43] terrajobst commented on #5381
Notes are [now available](https://github.com/dotnet/apireviews/pull/26).

[2016-01-27 23:46] kouvel commented on #5205
Based on this, I'm assuming the library is leaving the lifetime of these objects to the GC.

With the GC managing the lifetime of these objects, relying on Collect/Wait in this case is not sufficient - it would not call finalizers for the reachable objects.

On the other hand, if you're saying some work will be done prior to calling Collect/Wait to ensure that these objects will not be reachable,

[2016-01-27 23:47] kouvel commented on #5205
Adding to this, the library also does not know which of those objects are reachable.

[2016-01-27 23:55] mj1856 commented on #5741
:+1:

[2016-01-27 23:58] bartonjs commented on #5737
RSACryptoServiceProvider is a Windows-specific implementation type.  Linux (and OSX) implementations need to use RSAOpenSsl.

[2016-01-27 23:58] #5737 closed

[2016-01-28 00:04] corivera opened #5745 "Add Default Configuration Option in System.Data.Common.csproj"
The csproj should include a default Windows_Debug Configuration to prevent potential packaging issues on Windows

[2016-01-28 00:18] clrjunkie commented on #5205
On the other hand, if you're saying some work will be done prior to calling Collect/Wait to ensure that these objects will not be reachable, then that work should also include disposing these objects

clrjunkie wrote:

Any number of consumers may handle the Unload event. For performance reasons, it would not be a good idea for many of them to call Collect/Wait.

True, but that's a user concern...

[2016-01-28 00:21] pallavit commented on #5744
@terrajobst As discussed in the review, I don't think this can be done as part of the API convergence (and as you mentioned will require API addition). Assigning it to Ati for future course of action.

[2016-01-28 02:49] MelbourneDeveloper commented on #2394
I can give a very strong reason why WF should be ported to .Net Core.

Microsoft is no ushering developers toward the UWP platform. UWP will be the Windows platform of the future. It's got nothing to do with the airy fairy idea of porting apps to Linux etc. there's a hard need to have WF running on Windows 10 machines, and UWP is the future for the Windows 10 platform.

We build occasionally conne

[2016-01-28 02:50] MelbourneDeveloper commented on #2394
UPW has a XamlReader, so parsing XAML is not really a big deal...

[2016-01-28 02:55] shawnhar commented on #5730
There is a tension in the design of a numerics library between including all potentially useful matrix dimensions, versus streamlining the set.  3x3 occasionally comes up - also 4x3 is useful in some situations.  But there is a cost (of runtime size and API complexity as well as implementation cost) to expanding all these out.  A larger matrix type like 4x4 is a strict superset of 3x3 and 4x3, so

[2016-01-28 03:04] galvesribeiro commented on #2394
@MelbourneDeveloper agree with you with all reasons however, keep in mind that UWP and .Net Core (at least now) isn't under the same moniker, which means that even they sharing same lower level APIs, having same API surface(and .Net Core is OSS while UWP isn't), they are not the same thing and are not compatible. In other words, you can't add a .Net Core assembly to a UWP one. Those differences (I

[2016-01-28 03:10] iamjasonp commented on #5667
cc @mconnew; I think what you're doing might be relevant to the conversation

[2016-01-28 04:44] MelbourneDeveloper commented on #2394
Yes. Understood. It was with the working assumption that those two things will be brought together in future. If they are not, God help us!

[2016-01-28 06:38] VSadov commented on #4019
fixed by https://github.com/dotnet/corefx/pull/5713

[2016-01-28 06:38] #4019 closed

[2016-01-28 06:39] VSadov commented on #4022
fixed by https://github.com/dotnet/corefx/pull/5713

[2016-01-28 06:39] #4022 closed

[2016-01-28 07:25] stephentoub commented on #4563
Same test failed here but with a different error:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/224/console
[code]

[2016-01-28 10:19] clrjunkie commented on #5205
The library doesn't care about this, it delegates all cleanup concerns to the GC  and I don't think the proposal should make any judgements on such library implementation, it's really out of the proposal scope. The proposal should not limit dealing with what may be considered as "non-optimal" library implementation or usage. If there is a need to do Collect/Wait during shutdown then the runtime ne

[2016-01-28 10:36] GSPP opened #5749 "Add a clean way to cancel a long-running Socket operation (e.g. accept or connect)"
The normal pattern to listen for incoming connections is:

[code]

The only way to reliably cancel that loop is to close the socket. This works, but it causes an `ObjectDisposedException` which is usually one of the reserved exception types that always indicate a bug such as `NRE` and `ArgumentNullException`. Catching that exception might hide real bugs. You might confuse the intended `ObjectDispo

[2016-01-28 12:36] Michael-DST commented on #2394
Also @MelbourneDeveloper UWP's Xaml is a completely different, dumbed-down version of .NET's Xaml.  WindowsDev's UserVoice is peppered with (what continue to be ignored, as with everything UWP it seems -- it's any wonder why they even have a UserVoice to begin with) votes to improve its Xaml system:
https://wpdev.uservoice.com/forums/110705-dev-platform/suggestions/7232264-add-markup-extensions-to

[2016-01-28 12:54] galvesribeiro commented on #2394
@Michael-DST agree with you in all points. One of the targets that we want WF to run to are clients(specially mobile and embedded). We want to reduce client code for local business rules by adding WF on it. By clients I'm not strictly speaking about UWP like Windows devices(phone, tablets and IoT)...

I do believe that there are major products which rely on WF like BizTalk and Sharepoint but they

[2016-01-28 13:50] JonHanna commented on #4940
I think that would be worse.

I've been musing on this. My objection is that it makes an existing case that behaves perfectly, behave imperfectly. However, on balance:

1. The case is relatively rare.
2. Nothing is fully "broken", just imperfect.
3. The impact of that imperfection would (almost?) only be on debugging situations only.
4. That impact will perhaps cause some brief confusion, but the

[2016-01-28 14:48] ericstj commented on #3187
As part of this work folks should identify if there is a basic set of cross-platform API that can enable these scenarios without having to cross compile the app.

[2016-01-28 15:13] davidsh commented on #5749
cc: @CIPop @SidharthNabar

[2016-01-28 15:38] nvivo commented on #3480
We have answers for this issue [here](https://github.com/dotnet/corefx/issues/3480#issuecomment-162115855) and [here](https://github.com/dotnet/corefx/issues/3480#issuecomment-174640740).

The official answer is: Interfaces will not be on .NET Core 1.0, and although unlikely, they may be considered for future releases in some different form from what existed on .NET.

I'm closing this issue and th

[2016-01-28 15:47] bartonjs commented on #5617
@vijaykota This issue needs specific actionable bullets.  Simply saying "address unaddressed comments" means that there's no way to track what is/isn't supposed to be done from this issue.

[2016-01-28 15:50] mythz commented on #3480
@nvivo Thanks, but best to leave any official responses for people actually responsible for the project who are also capable of closing issues themselves once they feel it's been resolved.

@terrajobst Is there an updated official response/timeline for the Interfaces? and what's the best way to track this work item going forward? should we open a new issue or will you continue to provide any updat

[2016-01-28 15:55] davidsh commented on #5617
@vijaykota See example of #2165 which has bullets for TODO items resulting from a previous PR.

[2016-01-28 16:55] Michael-DST commented on #2394
@galvesribeiro thanks you for the verification/support.  It feels like I am skating uphill at times as no one seems to recognize this very real (existential?) problem facing .NET.  In fact, .NET leadership is helping exacerbate this problem [by recommending to pair .NET with AngularJS for web applications, basically daring organizations to switch to NodeJS altogether!](http://blog.developers.win/2

[2016-01-28 17:04] vijaykota commented on #5617
Sure, @davidsh and @bartonjs. @shrutigarg, please add the itemized list to this issue. If everything is only in Windows code, you could assign the issue to NCL folks. Thanks!

[2016-01-28 17:08] galvesribeiro commented on #2394
@Michael-DST yeah... Actually the #if is just one way... .Net Core team took the approach of "Native Shims" where the real implementations is abstracted on a thin lower layer of native code. In WF case it could be a shim for .Net Full and another to .Net Core for example...

I'm not a fan of Node.js and neither JavaScript (I tend to think that it still a scripting language, not a programming one b

[2016-01-28 18:27] chcosta commented on #4925
This was rolled back.  I'll keep the issue open for tracking purposes but move the milestone to rtm (with the possibility that this gets moved to Future).

[2016-01-28 18:43] stephentoub opened #5750 "SendRecvAsync_Stream_TCP test failed on OS X"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst/306/console
[code]

[2016-01-28 19:05] Priya91 commented on #4306
Added.

[2016-01-28 19:05] #4306 closed

[2016-01-28 19:13] bartonjs commented on #5667
Looks like there were a couple different problems:
1) Due to underlying API differences between SChannel and OpenSSL the Unix builds never got into a state where they thought they were supposed to bind the client cert handles.
2) The server side didn't like receiving certificates with error-containing X509Chains.  The chain got built twice, the first time decided if we aborted the handshake; the s

[2016-01-28 19:29] Michael-DST commented on #2394
@galvesribeiro ... I am with you 100%.  EF Core 1.0 is the same way... a traditionally server-side tech that can now be used on the client-side as well.  It would be very handy to have WF available in such a manner as well.

Also, it is good to hear about the shims.  Much approve. :)

Finally, I don't want to derail/hijack the thread (much) here, but to be sure re: JavaScript: I am in agreement as

[2016-01-28 19:49] terrajobst commented on #5744
Agreed. Wasn't thinking it should be part of it -- just assigned to you :smile:

[2016-01-28 19:54] terrajobst commented on #3480
Let's leave this open for now. The way I see it, the answer wasn't "let's not expose the interfaces". The answer was "let's find a way to expose them but let's think about what means for the DataTable dependency".

[2016-01-28 20:09] VSadov commented on #5744
@terrajobst -  the "foo" must be declared as ```dynamic foo = new Foo<int>();```  in the sample.
Static case obviously works fine :-) , but when we come around and need to do similar resolution at run time, there is no API to tell the difference between two Bar methods.

[2016-01-28 20:17] VSadov commented on #5744
repro
works on desktop and prints "not generic",
on Core the behavior is not guaranteed. We will try to get to MetadataToken through private reflection and use that, but if that fails - it is not there or throws, we will just pick one of the overloads at random.

[code]

[2016-01-28 22:26] MelbourneDeveloper commented on #2394
You guys are touching on some things that I've been dealing with for 9 years. There's something that a lot of people that work with Microsoft technologies don't grasp; namely the concept of distributed computing. A fundamental requirement of our software from the very beginning is that it work in occasionally connected mode. Over time Microsoft has taken various stabs at providing tooling for this

[2016-01-28 22:38] weshaggard commented on #5471
Add System.AppContext and System.Diagnostics.Tracing to the list of clean-up.

[2016-01-28 23:01] Michael-DST commented on #2394
Really great perspective and thoughts @MelbourneDeveloper.  Thank you for sharing them.  I was also a mega huge fan of Silverlight and have been [pawing at it since](http://dotnetfuture.wufoo.com/forms/m1azjhyi1ozawho/) (hence my resulting vote and -- really -- site above).  Also, I am curious what you think of [Azure Mobile Services](https://azure.microsoft.com/en-us/documentation/articles/mobile

[2016-01-28 23:21] ericeil opened #5754 "Linux workaround for multiple connect attempts per socket does not work"
On Linux, we attempt to re-use a socket for multiple connection attempts by "connecting" the socket to an invalid address between each "real" connect attempt.  See [PrimeForNextConnectAttempt](https://github.com/dotnet/corefx/blob/ac67ffac987d0c27236c4a6cf1255c2bcbc7fe7d/src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs#L525).  This does not work as intended.  In the current implemen

[2016-01-28 23:25] bartonjs opened #5755 "System.Net EventSources conflict, reducing total logging"
Given:
[code]

Open an instance of the logger, then proceed to open a TcpListener and a (client) SslStream.  Notice that many of the logs appear to be missing, which is likely due to:

[code]

Each of the event 0 events seems to be a place where the next System.Net library woke up and tried logging something, and then that event source never gets activated due to a duplicate registration.

Looks t

[2016-01-28 23:26] khdang opened #5756 "Update serialization to use metadata writer to support persistence of generated code to disk"
Related issue: #4561

[2016-01-28 23:26] stephentoub commented on #5754
cc: @pgavlin

[2016-01-28 23:28] bartonjs opened #5757 "Sockets logging emits an argument/parameter count mismatch error"
Given the ConsoleEventLogger from #5755, lots of errors seem to be emitted from Sockets logging:

[code]

[2016-01-28 23:29] bartonjs commented on #5757
I see that on both Windows and Linux, by the way.

[2016-01-28 23:31] stephentoub commented on #5755
cc: @josguil

This is likely due to the System.Net components using the same name and guid for multiple copies of the same EventSource just in different components.  See @vancem's detailed response to that practice here:
https://github.com/dotnet/corefx/pull/5151#issuecomment-169182270

[2016-01-28 23:31] stephentoub commented on #5757
cc: @josguil

[2016-01-28 23:53] joperezr commented on #5021
This is now done

[2016-01-28 23:53] #5021 closed

[2016-01-29 00:00] CIPop commented on #5757
Thanks @bartonjs. Looked at the code and for the DumpArray eventId (5), it looks like we're passing an extra argument: the pointer value.

[2016-01-29 00:23] terrajobst commented on #2394
@galvesribeiro

Take a look at this PR #5760, I hope this clarifies a few things.

The .NET side of UWP *is* .NET Core. However, .NET Core provides multiple runtimes. UWP uses the AOT based runtime, so certain functionality that requires a JIT isn't supported (such as LCG or RefEmit). However, they share the same assemblies and (moving forward) the same NuGet packages. We specifically designed the

[2016-01-29 00:29] davidsh commented on #2394
Most assemblies have the same BINARY implementation DLL for both 'netcore50' NuGet target (WIndows UWP Store App) and 'dnxcore50' NuGet Target (ASP.NET v5 / ASP.NET Core 1.0) applications.

However, some NuGet packages like many of the System.Net.* library packages have different implementations for 'netcore50' target vs. 'dnxcore50' target.  For example, the System.Net.Http library with 'netcore5

[2016-01-29 00:33] terrajobst commented on #2394
Yeah, I should have mentioned that. The way I see this is that a NuGet package provides a container that allows the producer to provide different implementations for different execution environments while consumers don't need to know that. In that sense, NuGet packages are the new assemblies.

[2016-01-29 00:41] kkurni opened #5763 "ObjectDisposedException on OpenSSL when connecting to SQLAzure on Unix"
I notice SSLStream (OpenSSL) on Unix throws ObjectDisposedException after finish connecting on SqlAzure on Unix.

(There is no exception on Prem).

This may be related with issue on Mac as well. On Mac, it throws RemoteCertificateNameMismatch.
https://github.com/dotnet/corefx/issues/5173

![image](https://cloud.githubusercontent.com/assets/698547/12663551/fe2abc94-c5dd-11e5-9f22-be1775c8df01.png)

[2016-01-29 00:42] kkurni commented on #5763
CC @saurabh500 @vijaykota @joshfree @stephentoub

[2016-01-29 00:49] joshfree commented on #5763
@bartonjs PTAL
/cc @ericeil

[2016-01-29 00:51] bartonjs commented on #5763
@kkurni The xunit command looks to be a bit cut off... is there a test case already in the suite that I can use for repro, or is it something you were developing locally?

[2016-01-29 01:03] kkurni commented on #5763
@bartonjs this is just my internal tests. It is very simple tests.
You can copy paste this code with inside any XUnit Tests.

[code]

Here is my command to run the test as well.
![image](https://cloud.githubusercontent.com/assets/698547/12663854/4c872042-c5e0-11e5-8296-8abfb6224af4.png)

Apparently this error happens after XUnit Finished running the tests after it print
=== TEST EXECUTION SUMMARY

[2016-01-29 01:06] bartonjs commented on #5763
@kkurni Hmm, what build are you using?  I noticed that the callstack here has `Interop.Ssl.SslShutdown(SafeSslHandle)`, but that changed to `Interop.Ssl.SslShutdown(IntPtr)` back in November... for a strikingly-similar issue: https://github.com/dotnet/corefx/issues/4480.

[2016-01-29 01:09] kkurni commented on #5763
hmm. it seems similar. Let me rebase my branch and hopefully this won't be appear anymore.

Thanks

[2016-01-29 01:44] bartonjs commented on #5763
@kkurni Since this seems like it's just #4480, I'm going to go ahead and close the issue.  If you're still seeing weird problems after moving forward, please let us know :smile:.

[2016-01-29 01:45] #5763 closed

[2016-01-29 02:06] galvesribeiro commented on #2394
Thank you @terrajobst  and @davidsh for share this deeper explanation and reference issue but, what is wrong with what I said that "1 assembly from one platform can't be referenced by other"?

This concept is actually not new... People already create one Nuget Package which is nothing more than a reference to a bunch of other packages - the so called "meta packages". There are several ways to make

[2016-01-29 02:28] kkurni commented on #4438
I am closing this issue as we already have a fix in https://github.com/dotnet/corefx/pull/4486
This assert does not have any problem anymore. Will raise another issue if that assert become issue in the future.

[2016-01-29 02:28] #4438 closed

[2016-01-29 02:31] kkurni commented on #4489
This is refactoring work to take out async parameter on SNIMarsHandle.
https://github.com/dotnet/corefx/pull/4486/files#diff-a8e6146000f306b97ce4e48207f7cd9fR79

[2016-01-29 02:33] kkurni commented on #5060
I will close this issue as it won't be issue once we have namepipe provider in manage SNI

[2016-01-29 02:33] #5060 closed

[2016-01-29 02:34] kkurni commented on #5521
I just verified that .NET CLI won't have this issue any more because the runtime will be set as local.

https://github.com/dotnet/cli/issues/881

[2016-01-29 02:43] terrajobst commented on #2394
@galvesribeiro

It's not that your statement is wrong; it just that it isn't right either :smile: Normally, I'm not the kind of person that likes to nitpick, but what threw me off was this part:

I want to avoid giving the impression that UWP and .NET Core are different .NET platforms, such as .NET Framework and Silverlight were. We specifically designed .NET Core that you can author assemblies th

[2016-01-29 02:49] galvesribeiro commented on #2394
Yes you are right. The impression is what matter.

I hope someday we call .Net Core on UWP as well so this will be over... So, we still need system.xaml

[2016-01-29 02:50] terrajobst commented on #5744
@VSadov

Static case obviously works fine :-)

Fair point :-) I've updated the sample.

[2016-01-29 02:56] terrajobst opened #5766 "Port System.Xaml to .NET Core"
Filed as a result of the discussion in #2394.

**Note**: this doesn't represent a commitment from us to open source System.Xaml or to even port it to .NET Core -- it's simply capturing the community request to do so.

-------------------------------------------------------------------------------------

### Scenarios
1. WF (Workflow Foundation) - #2394
    * However, note that [CoreWF](https://git

[2016-01-29 02:57] terrajobst commented on #2394
While related, I think System.Xaml is a separate component that adds value by itself. I've filed #5766 to track this separately.

[2016-01-29 03:14] kkurni opened #5768 "RemoteCertificateNameMismatch on OSX SSLStream.ClientAuthenticate to SQL Azure"
In Mac OS when using SSLStream to AuthenticateAsClient to SQL Azure, we get RemoteCertificateNameMismatch Policy error during validation.

Here is how we init the stream
https://github.com/dotnet/corefx/blob/ac67ffac987d0c27236c4a6cf1255c2bcbc7fe7d/src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNITcpHandle.cs#L151

When we authenticate as Client
https://github.com/dotnet/corefx/blob/ac67

[2016-01-29 03:18] kkurni commented on #5768
@bartonjs I notice that you mentioned to add this
[code]
Where can I set this in the client ?

[code]

I don't think we can force any client to fix by installing macports.
as most of OpenSSL was not installed from Macports.

Is this a general problem in SSLStream on MacOS ?

Thanks

[2016-01-29 03:18] kkurni commented on #5768
CC @bartonjs @saurabh500

[2016-01-29 03:26] bartonjs commented on #5768
@kkurni Yes, this is a known problem with OS X, the OpenSSL installation on Mac doesn't seem to come with a CA certs bundle.  Currently a user has to register CA certs themselves as a pre-requisite to using X509 trust.

Closing this as duplicate of #5173.

[2016-01-29 03:26] #5768 closed

[2016-01-29 03:56] MelbourneDeveloper commented on #2394
Thanks Michael-DST

Excellent question. This prompts a bit of a history lesson about our company's experience with distributed computing aka occasionally connected apps and how that ties in to Azure Mobile Services, and distributed computing with Microsoft technology.

If people haven't seen the website mentioned above, I strongly recommend looking at it. It has a good video about Azure Mobile Ser

[2016-01-29 06:43] Clockwork-Muse opened #5769 "ContinueWhenAll(...).AsyncState not null"
This is... at least a little surprising:
[code]
... succeeds (as does `ContinueWhenAny(...)`).

Continuations created via non-state `ContinueWith(...)` have `AsyncState == null`, as do regular tasks and futures.

There's no version of `ContinueWhenAll(...)`/`ContinueWhenAny(...)` that takes a state, so I was expecting it to always be null.  The documentation doesn't mention `AsyncState` in these m

[2016-01-29 07:02] #790 closed

[2016-01-29 07:23] #5667 closed

[2016-01-29 07:41] chunseoklee opened #5771 "which version of dotnet spec is supported by current corefx impl. ?"
As in the title, question is that which version of dotnet spec is supported by corefx ?
For example, Mono site(http://www.mono-project.com/docs/about-mono/compatibility/) describes compatibility to dotnet spec.
I cannot find such material.
Please help me.

[2016-01-29 08:35] stephentoub commented on #4882
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_tst/326/console
[code]

[2016-01-29 09:12] Michael-DST commented on #5766
HORRAY!  Official recognition/acknowledgement!  And yes, I realize that those words do NOT equate to "commitment" but this is definitely better than anything that I have seen so far.  @terrajobst you are my hero. :heart: :heart: :heart:

![](https://s-media-cache-ak0.pinimg.com/originals/a9/53/aa/a953aa147ba7f554df8be4cf423fa29a.gif)

[2016-01-29 09:34] Michael-DST commented on #2394
Thank you so much @terrajobst!  I do not agree with everything you post online/twitter but I am a big fan of how you go about facilitating dialogue and communication amongst developers/community and I will **always** agree with that. :)  This really means a lot to me personally as it seems like over a year of skating uphill to get anything from MSFT (and yes, I realize it is not commitment but at

[2016-01-29 11:19] airomero commented on #5521
What do you mean with "the runtime will be set as local"? Local to the application??

[2016-01-29 11:42] sady4850 commented on #5521
@kkurni Why are linking IIS publishing issue here ? This issue is not related to the IIS at all.

[2016-01-29 11:54] Michael-DST commented on #5766
@cwensley and @SuperJMN, it would be great to get some dialogue between everyone here.  Ideally (from my perspective) everyone should ultimately use one port/version of the new Xaml library and not have different versions/dialects of Xaml out there.  Is this even remotely possible?  I'm OK with it if not, but I would like to see if we can if so. :)

Also, I am currently on a "working sabbatical (f

[2016-01-29 13:58] Eaglef90 commented on #2089
Can we get an official response from someone on the dev team on the plans for this, if there are even any plans at all to support this?

[2016-01-29 14:42] bartonjs commented on #5173
Okay, it looks like Homebrew takes the root certs out of KeyChain and writes them to `/usr/local/etc/openssl/cert.pem`, but the problem is that OpenSSL (Homebrew) is built to load certs from `/usr/local/etc/openssl/certs/*`.  This would have Just Worked if they'd put it in the right directory, but I can probably work around this.

[2016-01-29 15:04] shahid-pk commented on #5766
if System.Xaml got open source i am sure the community can port it to .net core according to this project's requirement and design goals, the project maintainers will only need to guide the community. Lets leverage the power of .net community.

[2016-01-29 15:10] bartonjs commented on #5173
Ah, to date I've only supported the `X509_get_default_cert_dir` loading mechanism, Homebrew was making use of the `X509_get_default_cert_file` mechanism.  That's good, it means there's no magic required.

[2016-01-29 15:11] Maxwe11 commented on #5771
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/standard-platform.md#mapping-the-net-platform-standard-to-platforms

[2016-01-29 16:23] kkurni commented on #5521
@airomero in Dotnet CLI, the runtime is published the same folder (local) as the compiled application.
this will make sure that the published runtime is used instead of installed runtime

In DNX, the runtime is published on different folder which need something to register this path to enviroment variables to use that runtime. (this can potentially conflict with the installed runtime.

[2016-01-29 16:29] JonHanna commented on #5769
It would seem to simply be an implementation detail. Does it cause any problems? If not then it would probably be best just to assume that maybe someone somewhere depends on this, and leave it as-is.

[2016-01-29 16:42] stephentoub opened #5780 "WaitForPeerProcess test failed in CI"
MESSAGE:
Assert+WrapperXunitException : File path: d:\j\workspace\dotnet_corefx\ubuntu_release_bld_prtest\src\System.Diagnostics.Process\tests\ProcessWaitingTests.cs. Line: 146\n---- Assert.Equal() Failure\nExpected: 42\nActual: 139
+++++++++++++++++++
STACK TRACE:
at Assert.WrapException(Exception e, String callerFilePath, Int32 callerLineNumber) at Assert.Equal[T](T expected, T actual, String pa

[2016-01-29 16:47] giancarloa opened #5782 "Where is DbProviderFactories???"
Hi... in NET451 we have this class called DbProviderFactories that has a method called GetFactory that allows clients to obtain a DbProviderFactory given a connection... I am trying to port to NETCORE50 and I don't see DbProviderFactories although I do see DbProviderFactory... are there plans to include DbProviderFactories in NETCORE50? or is there another generic way in NETCORE50 to obtain a conn

[2016-01-29 17:01] kkurni commented on #5521
@sady4850 this could be the same issue as DNX always assume to use installed runtime which registered in your "path" environment variables.

I cannot repro this issue while debugging console app in visual studio.
![image](https://cloud.githubusercontent.com/assets/698547/12681390/442f3dac-c663-11e5-93eb-65c277a4516c.png)

Here is my project.json
![image](https://cloud.githubusercontent.com/assets/

[2016-01-29 17:51] chcosta commented on #5447
Updated license will appear in the next package push.

[2016-01-29 17:51] #5447 closed

[2016-01-29 17:52] chcosta commented on #5446
Updated notice will appear in the next package push

[2016-01-29 17:52] #5446 closed

[2016-01-29 18:02] kkurni commented on #5173
That's good news :)

[2016-01-29 18:05] #5173 closed

[2016-01-29 18:07] svick commented on #3419
@terrajobst If I understand it correctly, that overload is meant to avoid intermediate string allocations. For example, instead of:

[code]

You would write something like:

[code]

I do see the benefit: it does avoid unnecessary string allocations. But you're also right that it would require delegate and closure allocations.

And it also looks terrible, so I would likely choose explicit loop over

[2016-01-29 18:15] cwensley commented on #5766
@Michael-DST, I agree having one dialect of xaml is important.  However, the implementation of that might be entirely different.  Standardizing on a single implementation depends on the community really.

For [Portable.Xaml](https://github.com/cwensley/Portable.Xaml) which is a PCL 259/136 port of Mono's excellent System.Xaml (MIT licensed) implementation, with **many** bugfixes.  The idea is to s

[2016-01-29 18:19] helmsb commented on #2394
Currently we use WF for several of our core services and we are even now expanding our usage further because we've a had a great experience with Workflow and having our business logic in such a visual, easy to understand format.

 Like @MelbourneDeveloper said

WF has been under-appreciated technology by many .NET developers because they may not have seen the value of it at the time (I didn't in t

[2016-01-29 18:31] stephentoub commented on #5185
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/1569/console
[code]

[2016-01-29 18:41] joshfree commented on #5763
Testing on a 2 month old build will definitely find bugs that have long since been fixed...  Can you make sure the entire Data team moves forward to the latest builds -- otherwise this would be an easy way to waste time.

[2016-01-29 18:44] kkurni commented on #5763
Sure. I will make sure to get the latest build before creating issue.

[2016-01-29 18:48] joshfree commented on #5782
@saurabh500 @YoungGah

[2016-01-29 18:59] sady4850 commented on #5521
@kkurni ye, there wasn't dnx path in PATH. Still an open question why it is disappeared from there (because it worked and obviously I didn't remove it manually)

[2016-01-29 19:19] ericeil commented on #5754
Updated the initial description with additional info; this workaround simply does not work.

[2016-01-29 19:23] kouvel commented on #3689
I don't see anything wrong with this test, and it's passing consistently on my machine. I don't see anything wrong with the implementation either. It looks like the test is still enabled, and the noted failures were from a while back. Is there a way to check if this test has failed recently?

[2016-01-29 19:23] bartonjs commented on #5555
The CentOS fix is in, and the test was re-enabled (#5765).  OS X was still failing, but that should be fixed by #5779.  Once today's build builds, makes it out to myget, and the test bundle gets updated, we can completely remove the [ActiveIssue] marker and close this issue.

[2016-01-29 19:26] stephentoub commented on #3689
It's only failed very intermittently, but as you say it doesn't look like a test issue.  My guess is that there's a real bug somewhere that's triggered by a very rare race condition.

[2016-01-29 19:54] kkurni commented on #5521
To find out why it works on console app (without VS Debugger), you can attach process monitor as well on console application without using VS debugger. (check where sni.dll and stringansi.dll is loaded).

it will be hard to answer why this path is disappeared. It probably some other installation of other frameworks / version which override / remove this runtime path.

I will close this as we have

[2016-01-29 19:54] #5521 closed

[2016-01-29 20:01] Michael-DST commented on #5766
@cwensley I claim my ignorance on this... but what is the difference between .NET Core and PCL?  I thought they were the same?  That is, it was my understanding that if you designed under a certain PCL profile, that it would carry over to .NET Core... this was a while ago (and honestly I was waiting for .NET Core to RTM/W), so now is a good time to refresh. :P

It is my understanding/impression th

[2016-01-29 20:07] kouvel commented on #3689
Yea, I looked at the implementation as well and couldn't find any issues. ThreadLocal.GetValuesAsList() is accessing the LinkedSlot linked list (which is global) without a lock. It might miss concurrently added slots since new slots are added to the beginning, which is probably ok. In the way this test is using the ThreadLocal instance, there are no concurrency issues at the time of calling GetVal

[2016-01-29 20:20] cwensley commented on #5766
@Michael-DST PCL 259 is indeed compatible with .NET Core, according to [this post](https://oren.codes/2015/07/29/targeting-net-core/).  I have already included `\lib\dotnet` as a target in the nuget package for Portable.Xaml, so it *should* be usable as-is for .NET Core, though I have not tested it.

I haven't had the time to look into OmniXaml, but if it is indeed a rewrite from the ground up it

[2016-01-29 20:31] Michael-DST commented on #5766
:)  Yes, I am exploring options here, and also dealing with my ignorance with really being in an open source world.  I do hate the idea of having multiple codebases out there doing the same thing.  And especially with the Xaml community being smaller, it would suck having it get fragmented right out of the get-go (isn't that supposed to happen *after* something gets too successful for its own good

[2016-01-29 20:34] bartonjs commented on #5584
Okay, the general consensus I got in chatting with people is
a) We don't like that Remove throws on missing elements in Desktop.
b) But we think it's better to match Desktop for RTM, since the package claims to be equivalent to .NET 4.6.1.

So I'm putting the exception on Remove(missingElement) back.

[2016-01-29 20:49] ericstj opened #5789 "Have dotnet-bot automatically submit PRs for package updates"
We should have @dotnet-bot automatically do https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/project-nuget-dependencies.md#upgrading-a-package-dependency when new packages are available and submit a PR.

/cc @stephentoub @dagood @markwilkie

[2016-01-29 20:55] mellinoe commented on #5766
To clarify, all PCL profiles are compatible with .NET Core. The contract sets and factorings we have now are an evolution of PCL profiles. This doesn't apply to "old-style" portable libraries (compiled against mscorlib, etc.) which aren't immediately compatible with .NET Core.

[2016-01-29 20:57] mellinoe commented on #5789
Sounds reasonable, how often would we want the update to happen, though? Every day?

[2016-01-29 21:11] ericstj commented on #5789
Whenever new packages are available so yeah daily.  We'd want to at least submit the PR.  We would only merge it if the CI was successful.

[2016-01-29 21:32] jasonwilliams200OK commented on #5743
I am running corefx build with this diff at the moment on OSX and it seems to be building fine without mono installed on my system (cloned fresh corefx > removed some code from `build.sh` > and deleted `mono.targets` then ran `./build.sh`):

[code]

Would be nice to have CI configured to consume msbuild and update build docs removing mono  references.

[2016-01-29 21:36] jasonwilliams200OK commented on #5743
In case it is not known; you can copy/paste the diff code in a text file on osx/linux and cd into corefx and run `git apply path/to/diff-patch-file`

[2016-01-29 22:22] ianhays commented on #5460
I'm removing these tests. They're not testing collections behavior - they're testing Globalization behavior. We shouldn't try to validate CultureInfo conversions and equality from System.Collections.

[2016-01-29 22:38] corivera commented on #5601
This issue was fixed by @ericstj in https://github.com/dotnet/corefx/pull/5604

@divega The change was ported in https://github.com/dotnet/corefx/pull/5629

[2016-01-29 22:44] Lukazoid commented on #3419
That is exactly what I meant @svick, thanks for coming up with a much cleaner implementation :)

[2016-01-29 23:04] divega commented on #5601
Thanks @corivera!

[2016-01-29 23:26] chcosta opened #5793 "Fix encoding / characters in pkg/dotnet_library_license.txt"
pkg/dotnet_library_license.txt  was submitted as a flat text file with encoding, accents, special characters, etc... removed.  Investigate updating file to proper encoding and characters.

[2016-01-30 00:20] agocke opened #5796 "MSBuild gives spurious conflict warning when referencing new CoreFX packages in net46 project"
/cc @ericstj

E.g. when referencing System.Runtime from -23504,

[code]

@davkean Explained that this warning is incorrect as fusion will automatically unify these references at runtime.

In addition, if you actually follow the warning's advice and add the binding redirects, those take precedence over the fusion unification and the exe will fail at runtime.

[2016-01-30 00:22] terrajobst commented on #5766
@Michael-DST

While I highly appreciate your enthusiasm I want to make it clear that anybody can file requests like this. You don't need any sponsorship or acknowledgement from us in order to file issues, asking for work :-) I merely filed it myself to save some time and not be super lame ("feel free to file a bug") :-)

[2016-01-30 01:58] #3986 closed

[2016-01-30 02:05] Priya91 commented on #5789
Yup! +1

[2016-01-30 02:10] Priya91 commented on #5743
When is this coming?

[2016-01-30 02:30] Michael-DST commented on #5766
LOL @terrajobst it is OK, my enthusiasm is half tongue-in-cheek and half-serious... MSFT has been basically silent on this issue for nearly a year now, [despite](https://wpdev.uservoice.com/forums/110705-dev-platform/suggestions/7232264-add-markup-extensions-to-and-improve-winrt-xaml) [numerous](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/9523650-add-support-fo

[2016-01-30 02:32] shmao opened #5800 "System.Xml.XmlNodeReader is not Available in .Net Core"
This API is not available in .Net Core. https://github.com/dotnet/wcf/issues/702 is being blocked by this issue.

[2016-01-30 04:19] ellismg commented on #5789
@weshaggard Has a script that does this, FWIW.

[2016-01-30 06:19] jasonwilliams200OK commented on #5743
https://github.com/dotnet/corefx/pull/5711

[2016-01-30 06:39] stephentoub opened #5805 "TestProcessStartTime failed on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug/420/
[code]

[2016-01-30 06:42] weshaggard commented on #5789
Yes I have a script that does this already and I'm planning to hook it up as a post step for publishing our daily packages.

[2016-01-30 07:23] vijaykota opened #5806 "CMakelists change for heimdal NTLM headers"
I was trying to merge changes from #5774 and #5728 to build Sytem.Net.Security.Native.so but hit foll. problems:
1. There is some confusion with gssapi.h etc. between libgssapi_krb5 and the heimdal headers. Workaround: I added explicit include_directories under /usr/include/mit
2. Saw some warnings about casting in the Heimdal header files (not our shim code). Probably need to add a flag to suppre

[2016-01-30 07:28] stephentoub commented on #5805
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/1606/

[2016-01-30 08:12] stephentoub commented on #5805
And here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/1609/

[2016-01-30 20:34] NickCraver commented on #1514
I know it's been a while, but we'd love to see this over at Stack Overflow - @terrajobst can you please ping here when the API review is up next so we can listen in?

[2016-01-31 08:53] HellBrick opened #5811 "What's the recommended approach for reusing/disposing new HttpClient handlers?"
It's been recommended to reuse the full framework's `HttpClientHandler` across multiple requests instead of disposing it every time (because disposing it means the performance hit of closing and re-opening the underlying connection). Does this advice stands true for the brand new world of `CurlHandler` and `WinHttpHandler`?

[2016-01-31 09:35] jasonwilliams200OK commented on #2089
Why? Sorry I am confused. Wouldn't that be the most easiest solution for everyone and in accord with DRY principle?
Nevertheless, if there is a reason to write the entire API from scratch, some consistency with old API (same method signatures) would be less confusing for consumer.

[2016-01-31 14:02] NickCraver commented on #2089
@jasonwilliams200OK let me clarify, I really meant `DirectoryServices.ActiveDirectory` specifically. I think authentication, and the stuff around it: e.g. group membership is the 95-99% use case of the namespace. I think a direct port of signatures of *that* is pretty useful. If the rest warrants change for some reason then I'd be pretty okay with that, and okay if it came later...the auth would b

[2016-01-31 14:57] JonHanna commented on #5272
This issue is open again, since the fix to it had to be reverted.

[2016-01-31 15:14] stephentoub commented on #5811
Yes.

cc: @davidsh, @cipop

[2016-01-31 16:58] nietras commented on #5474
Let us know if there is anything we could do to help with implementing it. I have added `CopyBlock`, `InitBlock` to the [DotNetCross.Memory.Unsafe](https://github.com/DotNetCross/Memory.Unsafe) project and basic tests for all methods.

One thing that surprised me a bit was how explicit layout was not handled as I expected see https://github.com/DotNetCross/Memory.Unsafe/blob/master/src/DotNetCross

[2016-01-31 17:09] davidsh commented on #5811
Once you attach the `HttpClientHandler` to the `HttpClient` via:

[code]

[2016-01-31 17:32] JonHanna commented on #5474
Does `cpblk` still have poor performance on x86? The closing of https://connect.microsoft.com/VisualStudio/feedback/details/766977/il-bytecode-method-cpblk-badly-implemented-by-x86-clr isn't clear as to whether `cpblk` was improved, or no longer used in the cases where it had been.

[2016-01-31 21:25] stephentoub commented on #5780
I just saw this happen again. Looks like some kind of seg fault in the peer process.

[2016-01-31 22:20] zhenlan commented on #5766
cc: @Harikm86, the owner of System.Xaml

[2016-02-01 00:56] mirhagk opened #5813 "System.Buffers.ArrayPool.Return has a potentially misleading doc comment"
System.Buffers.ArrayPool.Return says this about it's clearArray parameter:

[code]

This is not incorrect, but it's slightly misleading as it implies it'll clear the array of data and then return it if you set this to true. But arrays that are not returned (because they are bigger than the internal buckets account for) are not cleared. Like I said this is understandable (since you aren't supposed

[2016-02-01 02:03] MelbourneDeveloper commented on #2394
I think there's little room for disagreement on this topic.

It certainly be argued that declarative, visual programming such as WF is not as efficient as writing code. I'd even tend to agree. But, having WF as a tool in the toolkit to round out a configurable platform would certainly be a good thing. Customers **DO ** want to see visual workflows, and empowering customers to modify their own work

[2016-02-01 02:30] stephentoub commented on #5805
The ```TestStartTimeProperty``` test is also now failing on Unix, e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_release_tst_prtest/1361/
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/opensuse13.2_debug_tst_prtest/784/
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/centos7.1_debug_tst_prtest/1320/

[2016-02-01 02:56] stephentoub commented on #5811
Closing, as I believe the question has been answered.  Please re-open if it hasn't. Thanks.

[2016-02-01 02:56] #5811 closed

[2016-02-01 03:53] stephentoub commented on #5769
Yes, it's an optimization that allows the system to avoid an extra allocation or a larger allocation by simply passing the continuation function as the state.  This is by design.

[2016-02-01 03:53] #5769 closed

[2016-02-01 04:43] Priya91 commented on #3281
fixed in #5732

[2016-02-01 04:43] #3281 closed

[2016-02-01 04:45] Priya91 commented on #5805
The failures are different, the windows one is on Process start time, and the Unix ones are on ProcessThread start times. The Unix failures could be that the thread started after reading the utcnow values, as the code is taking the afterTicks value before reading the thread starttime.

[2016-02-01 04:56] Priya91 commented on #5439
fixed with #5752

[2016-02-01 04:56] #5439 closed

[2016-02-01 04:56] Priya91 commented on #3037
fixed by #5752

[2016-02-01 04:56] #3037 closed

[2016-02-01 09:10] Michael-DST commented on #2394
Haha @MelbourneDeveloper have you even ever met a software developer?  Or really, the human race?  ;p

I personally feel the WF visual designer and existing tools has done a disservice to XAML, as the overly verbose files generated for MSBuild workflows have really given Xaml a bad name in this regard.  That's really what developers associate with Xaml ("bloated files") and have helped spawn the f

[2016-02-01 09:48] nishantkagrawal opened #5819 "HttpClient doesnt expose the correct method as virtual"
I want to extend HttpClient class to create a wrapper over it. The problem is that it doesnt have the right method exposed as virtual.

The following method should be virtual.

[code]

Moreover, the following method should be new because it actually hides the implementation of the base method.
[code]

[2016-02-01 10:24] JonHanna commented on #5582
Because this would change the set of public interfaces that gets exposed, this would have to be considered an API change, and reviewed as such. The idea though seems like a good one to me.

[2016-02-01 10:31] citizenmatt commented on #4062
I can still repro this. Pull latest today, run `.build.sh` and it hangs at `Restoring all packages…`. I've tried the `dnu restore` command above, and it runs through ok, but still hangs. Any ideas how to progress?

[2016-02-01 11:32] nietras commented on #5474
@JonHanna I added `cpblk` in order to do some comparison on perf with this and ordinary loops, but haven't had time yet. That said, there if nothing as such wrong with `rep movsb dest, source` at least not since Ivy Bridge (see [Intel Optimization Manual](http://www.intel.com/content/dam/www/public/us/en/documents/manuals/64-ia-32-architectures-optimization-manual.pdf), e.g. section on ERMSB. Howe

[2016-02-01 11:44] ellismg commented on #4062
@citizenmatt The package restore step actually takes a long while now :-(. You might try increasing the verbosity to the console and see if 'dotnet restore' is running.

It is expected that the restore will take ~20 mins.

[2016-02-01 11:47] citizenmatt commented on #4062
Wow. Didn't realise that. I did the `dnu restore` step, which seemed to complete ok (and much quicker than 20 mins!), then ran `.\build.sh /p:RestoreOnBuild=false`, which seems to be working - it's running through a load of tests right now.

[2016-02-01 12:01] ellismg commented on #4062
You may run into errors.  Restore takes so long because we have to invoke dotnet restore (which wraps DNX today) hundreds of times to work around bugs in how it selects what project.json's to restore.

If you run into breaks, let the restore during build do it's thing once.

#5507 tracks making restore faster.

Note when building cross platform we can't use the -m option with MSBuild so the build

[2016-02-01 12:07] jkotas commented on #5474
For now, it is not very straightforward. One way to do it - this pattern is actually used in several places in BCL:

[code]

Once byref locals and returns are added to C#, it will become simpler:

[code]

[2016-02-01 12:29] nietras commented on #5474
@jkotas thanks! So we need to reinterpret the reference type as a `PinningHelper` so we can then pin through this? I guess that makes sense. So the CLR pins the `PinningHelper` (which is actually the source just reinterpreted) when we "fix" the `Data` member. Wouldn't this then mean that a generic cast operation would be interesting? E.g.:
[code]
which is basically what the `GetPinningHelper` does

[2016-02-01 13:08] JonHanna commented on #5549
This is a classic trade-off between re-use and inline-performance.

#5820 will do this not just for `Sum` but for the other applicable aggregate methods (`Min`, `Max` and `Average`).

Pro: The performance change noted above.
Con: Duplicate code rather than reuse, with the increase in maintenance burden and chance of errors going only partly-fixed that entails.
Counter-argument Pro: Having such inl

[2016-02-01 13:36] helmsb commented on #2394
My understanding is that one of the original visions for WF was to support multiple file types for workflows, not just XAML. Overall other than some quirks here and there I haven't really had issues with XAML. It just took a while to get my head wrapped around it and to become comfortable editing it manually when necessary which I'm sure presents a barrier to entry for many people. So while I thin

[2016-02-01 14:59] davidsh commented on #5819
`HttpClient.SendAsync` method is PUBLIC and NOT virtual by-design.  The design of HttpClient is that "extending" it is done via the HttpMessageHandler class.

The default "handler" for HttpClient is HttpClientHandler.  That handler is derived from HttpMessageHandler which has the virtual protected SendAsync method.

In general, "extending" HttpClient is done by creating a new message handler, usua

[2016-02-01 14:59] #5819 closed

[2016-02-01 15:17] ViIvanov commented on #5582
@JonHanna As I know, a Groping class was "internal" some time ago ([.NET 4.6.1](http://referencesource.microsoft.com/#System.Core/System/Linq/Enumerable.cs,7bb231e0604c79e3)). Was it shipped as "public"?

[2016-02-01 15:37] JonHanna commented on #5582
It's not 100% public now, according to the comment:

[code]

But some previous suggestions (including some of my own) about interfaces that should be implemented in certain places have raised the objections if it would be exposed, because if you can reasonably build a dependency on:

`(IReadOnlyList<int>)Enumerable.Range(0, 100).GroupBy(i => i / 10).First()`

Then you can reasonably be annoyed if

[2016-02-01 16:03] peter-f-s opened #5821 "DispatchProxy and .NET Native: Cannot create proxies with generic type parameter"
Inside a UWP project I defined a System.Reflection.DispatchProxy like this:

[code]
This works fine in compilation and usage, as long as it is not compiled for .NET Native.
In this case the compiler states the following:
**Internal compiler error: Unable to cast object of type 'Microsoft.Cci.Immutable.GenericTypeInstance' to type 'Microsoft.Cci.INamedTypeDefinition'.**

Reason seems to be the gene

[2016-02-01 16:06] JonHanna commented on #1691
`ReflectedType` is only well defined if the `MemberInfo` was obtained using reflection (which is a reason to avoid using it at all if possible).

There's no use of reflection in the call that `GetProperty` so there's no reason to suspect that it will return a `PropertyInfo` with a particular `ReflectedType`.

This is no different to how if `Prop` was defined as:

[code]

Then `new B().Prop` would

[2016-02-01 16:28] rschiefer commented on #2394
Our enterprise has made considerable investments in WF and is now a pivotal technology to our business.  Given MIcrosoft recent commitment to open source and .NET Core, porting WF seems like the best next step for this technology.  We need this!

[2016-02-01 16:28] ViIvanov commented on #5582
Thanks. Of course, this is very valuable rule for an API users :o) Adding interfaces to a public types is not simple, I figured it out.

[2016-02-01 16:34] rschiefer commented on #5766
I love XAML.  Its a great declarative language for everything from Silverlight (yes, I said it) to Windows Workflow and now to the new Universal App platform.  Porting to Core will make it possible to port other technologies that depend on XAML.  We need this!

[2016-02-01 16:34] stephentoub commented on #5739
Related failures
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/338/console
[code]

[2016-02-01 16:35] JonHanna commented on #5582
In an ideal world if methods were documented as *possibly* returning a result that implemented a particular interface then people would always fast-path with the likes of:

[code]

And there's several places I'd like to have that option as a developer. In reality though, even the careful developers would probably use `FastPath((UsefulType)result)` sometimes and then the implementation is stuck sup

[2016-02-01 16:35] #5565 closed

[2016-02-01 16:47] AmadeusW commented on #5565
Awesome, thank you!

[2016-02-01 17:02] stephentoub opened #5822 "Use XML comments in System.Text.Encodings.Web"
As a new library in corefx, System.Text.Encodings.Web should use XML comments to document the APIs, and should have ```    <DocumentationFile>$(OutputPath)$(AssemblyName).xml</DocumentationFile>``` in the .csproj so that the XML comments are validated by the compiler, a documentation XML file is produced, and that documentation file is included in the NuGet package.

[2016-02-01 17:20] Michael-DST commented on #5766
Great to hear your support @rschiefer!  Thank you for your input.  Please make sure you have other Xaml developers that you know of join this thread and help out with the conversation/direction.

I am also a fan of Silverlight and have been chasing after its next incarnation since 2011 (shameless plug: if you would like to let Visual Studio team know you'd like to see the next, smarter form of Sil

[2016-02-01 17:32] jkotas commented on #5474
I agree that a generic unsafe casting operations are interesting in general. However, the above pinning pattern is  special and so it may deserve a dedicated API - even though it is still just a unsafe cast underneath.

There are number of different interesting unsafe casting operations:
- `AddressOf` casts from `ref T` to `void*`
- `Cast` that you have proposed casts from `object` to `T` (it may

[2016-02-01 17:39] terrajobst commented on #5446
Excellent. Thanks!

[2016-02-01 17:39] terrajobst commented on #5447
Thanks!

[2016-02-01 17:42] terrajobst commented on #5766
@Michael-DST

Fair enough :smile:

[2016-02-01 17:47] terrajobst commented on #1514
@justinvp

Generally yes, I believe with have everything we need. However, we're currently focusing on getting RTM ready, which means we're focusing our reviews on exposing APIs that already exist in .NET Framework to simplify porting as well as adding new APIs that are required to unblock other components and tools. That's why it's currently in the `Future` milestone. I hope that we'll be able to

[2016-02-01 18:28] rschiefer commented on #5766
@Michael-DST

I have actually avoided UWP up to this point knowing a lot had changed and I had forgotten UWP used its own "version" of Xaml.  Thanks for reminding me.

I completely agree, System.Xaml should be ported and then we can fix UWP to use real Xaml.

[2016-02-01 18:28] #5813 closed

[2016-02-01 18:49] joperezr opened #5825 "Test if portable PDBs match libraries after GenFacades rewritting"
We have enabled x-plat pdb generation using .Net Core MSBuild, but the problem is that GenFacades don't support portable pdbs yet, so we are only doing rewriting on the libraries and skipping the PDBs for now, until GenFacades supports them too. Given that we only add type forwards to the assemblies, we should test if the original Portable PDBs are compatible with the rewritten libraries.

[2016-02-01 19:05] Michael-DST commented on #5766
Sorry @terrajobst, I have a new hero now in @rschiefer. :smile: :smile: :smile:

Thank you all for the discussion.  This is super cool to me (but I could just be easily impressed!).

[2016-02-01 19:18] ViIvanov commented on #5582
I agree. This is hard, but good practice for the API`s such .NET.

[2016-02-01 19:41] helmsb commented on #5766
@Michael-DST @rschiefer
![_84538408_7751d5e5-fce7-42fd-b90d-fe31e6c71421_020116_014028_pm](https://cloud.githubusercontent.com/assets/3900571/12728845/5c1fe8b6-c8e9-11e5-9711-c0f8d6b5feac.jpg)

[2016-02-01 20:15] Michael-DST commented on #5766
@helmsb YES!  LOL haha!

[2016-02-01 20:24] #5754 closed

[2016-02-01 20:29] ericeil opened #5826 "Remove SystemNative_PlatformSupportsMultipleConnectAttempts"
#5790 removed the uses of this shim.  We need to remove the shim itself, once we have a new build of System.Threading.Socket that no longer needs it.

This should be a matter of reverting 7000023f729abe20337ed91816c019744b6a6a5c.

[2016-02-01 20:33] nietras commented on #5474
Yes in C++ terms I would have said we have a `reinterpret_cast` for reference types and value type references (e.g. `AsByteRef`). What about a `static_cast` for value types e.g. from `TFrom` to `TTo` as in `TTo Cast<TFrom, TTo>(TFrom from)` which would be useful for primitive castings e.g. `Cast<int, double>(value)`, but not sure this is possible as such?

Additionally, I do not like the `Cast<TFr

[2016-02-01 20:50] nietras commented on #5474
I just realized the `Cast` for `object` will only be invoked if the type actually is `object`, so this isn't working as well as I was hoping.

[2016-02-01 21:10] stephentoub commented on #5234
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/opensuse13.2_debug_tst_prtest/804/console
[code]

[2016-02-01 21:26] jkotas commented on #5474
I like the `Pinnable` name - it is much better than Helper. I do not think it makes sense to try to combine it with casting using wrapper struct - the wrapper structs go against simplicity that is required to make `Unsafe` extremely lean and fast. So something like:

[code]

Right, it does not work too well. The closes thing you can do is to treat it as unsafe unboxing ... but unsafe unboxing woul

[2016-02-01 21:29] corivera opened #5828 "Investigate if named pipe path parsing can use URI utilities"

[2016-02-01 21:31] ericeil opened #5829 "Socket.Connect methods that connect to multiple endpoints are broken on Unix"
Unlike Windows, the sockets API on Linux and OSX does not allow a single socket to attempt more than one connection.  We had attempted to do this on Linux, but it did not work (see #5754).

`Socket` has multiple methods that depend on being able to try connections to multiple endpoints on a single socket:

[code]
...attempts to connect to each of `addresses`, returning when one of them is successf

[2016-02-01 21:35] mmilling1 commented on #2394
Workflow has been a tool with many benefits to us as devs within our organization. If Microsoft is going to unify its frameworks, it would make our lives easier to have WF in the core framework.

[2016-02-01 21:56] pgavlin commented on #5829
I feel like I should also point out another option: we could replace all of the instance `Connect` methods with static equivalents that return a connected `Socket` instance. This design would be implementable on any POSIX-compliant sockets implementation and would not imply the removal of `DnsEndpoint`. Unfortunately, it has the distinct downside of dramatically changing the surface area of the S.

[2016-02-01 22:00] CarolEidt commented on #157
As @benaadams points out, we can improve this for Vector<T> by passing them directly in the SIMD registers (#2959). However, for types that may be used as interop types (Vector2, Vector3, Vector4) this would be somewhat more complex, because we would have to pass them differently for managed and native calls.

[2016-02-01 22:23] bartonjs opened #5831 "XmlElementAttributes.Remove doesn't throw on missing element"
On Desktop this method is provided by CollectionBase, which throws when it can't find the element to remove: http://referencesource.microsoft.com/#mscorlib/system/collections/collectionbase.cs,147.

The implementation in CoreFx defers to ArrayList, which does not exhibit the same exception pattern on Remove.

[2016-02-01 22:25] bartonjs commented on #5831
This would also apply to other formerly-CollectionBase collections:
* XmlArrayItemAttributes
* XmlAnyElementAttributes
* SchemaImporterExtensionCollection
* XmlSchemaObjectCollection

[2016-02-01 22:45] MelbourneDeveloper commented on #2394
Haha, I'm a software developer. The human race is inconsequential to me.

Michael-DST

You are probably right. But, I personally think that there's too much emphasis on the Xaml here. When I trialed WF (before realizing we couldn't use it because it doesn't exist on Silverlight), I built a WPF app. That app connected to our WCF services and stored the Xaml for the WF in a table in our database. Th

[2016-02-01 23:01] Michael-DST commented on #2394
Nice. B)

Correct.  This is exactly how MSBuild works and end users hate it because of how big the files it generates are (especially when you compare them to simple "script" files that are very basic and linear).  I am in agreement with you that this is a tooling/designer issue, and I would also say that the tooling/designer could be vastly improved with WF.

Case in the point: blog posts and cop

[2016-02-01 23:31] citizenmatt commented on #4062
For anyone else who might be hitting this, I got a clean build with `sh ./build.sh`, but restoring packages still took a long time.

[2016-02-01 23:38] davidsh commented on #5829
I would vote for b).

[2016-02-02 00:07] ericeil opened #5832 "System.Net.Sockets.Tests.DualMode.AcceptV6BoundToSpecificV4_CantConnect hangs on Unix"
With PR #5472, System.Net.Sockets.Tests.DualMode.AcceptV6BoundToSpecificV4_CantConnect hangs because it expects `Socket.Dispose` to unblock a synchronous call to `Socket.Accept`.  Closing a socket does not cancel a blocking operation on Unix OSs.

[2016-02-02 00:11] MelbourneDeveloper commented on #2394
Yes. All good points. I think that the designer would need to be cleaned up so that it does not create such verbose Xaml.

Who actually has the power to make the decision as to whether WF gets ported to .Net Core, or UWP? Is it just the case of some developer somewhere writing the code, and then submitting that patch to the administrators of the .Net Core codebase repo? What are the politics aroun

[2016-02-02 00:59] stephentoub commented on #4882
Failed again:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_tst_prtest/357/console
[code]

[2016-02-02 01:00] stephentoub commented on #4882
@mellinoe, this test is failing frequently enough, I suggest it be disabled on OS X until the root cause can be determined.

[2016-02-02 01:00] stephentoub commented on #4855
@JeremyKuhne, failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/360/console
[code]

[2016-02-02 01:01] #5584 closed

[2016-02-02 01:07] #1561 closed

[2016-02-02 02:08] saurabh500 commented on #1612
Merged in #4902 from @AlgorithmsAreCool after validations.

[2016-02-02 02:08] #1612 closed

[2016-02-02 02:09] saurabh500 commented on #4969
Reviewed the changes in #4902 with ApiCompat and the changes are not breaking.
Merged changes. Closing this review

[2016-02-02 02:09] #4969 closed

[2016-02-02 02:47] stephentoub commented on #5829
Sounds like we should go for (b), ideally where the message in the PlatformNotSupportedException provides some guidance.

[2016-02-02 03:29] JeremyKuhne commented on #4855
@stephentoub I think I see what is going on. I'll put up a PR for a fix.

[2016-02-02 05:40] vijaykota opened #5838 "Check feasibility of libheimntlm usage for xplat NegotiateStream"
@kapilash, created this tracking issue to ensure we cover the known problem areas. Thanks, @stephentoub  for the inputs:

1. Verify if the package is available for deployment on all Linuxes. I believe only RHEL and OpenSUSE are pending.
2. We also need to verify that building System.Net.Security.Native.so from source works correctly against the binaries distributed in these packages and not just a

[2016-02-02 06:17] ILyoan commented on #4062
@citizenmatt FWIW, I was caught in similar situation and in my case `ulimit -n 2048` solved the problem.

[2016-02-02 06:20] shanhongyue commented on #4724
I write a demo:
https://github.com/shanhongyue/XmlSerializerBug

In this demo, there is a struct FieldwithDateTime, a class Library. In the class Library, there's a field, on which there's an attribute, XmlText.

If you use .net native tool chains to compile it and run it, it will crash.

[2016-02-02 07:30] kferrio commented on #4733
There is a very helpful discussion [here](http://www.shrayas.com/asp-net-5-npgsql-linux-mono-4-2.html) of the socket issue and how it is affecting Npgsql on coreclr. No solution, but a workaround if you're able to use mono instead. As others have noted, a [fix](https://github.com/dotnet/corefx/pull/4652) was merged to coreclr some time ago and is slated for [milestone rc-2](https://github.com/dotn

[2016-02-02 08:00] jasonwilliams200OK commented on #5766
FWIW, the competitive Google's popular material design for web (Angular.js), apps (Android) etc. is also available open source. Hope this argument help convincing the bosses and bosses like entities.

[2016-02-02 09:26] kouvel commented on #5205
Perhaps they should not be doing that. They should be disposing the FileStreams.

So you're stating, but what if the library does care about this? I'm not trying to judge one way or another, I'm just stating that for objects whose lifetime is left up to the GC, the library does not know which of those are reachable or unreachable at the time of shutdown.

Then there is no need to support anything

[2016-02-02 11:19] JonHanna commented on #1691
Further, changing this behaviour would introduce a compiler bug with forward-compatibility issues.

Consider if `A` and `B` were in another assembly.

Someone writing `(B o) => o.Prop` clearly wants the `Prop` property defined in `A` to be accessed.

The compiler creates the expression using `ldtoken method instance int32 A::get_Prop()` to represent this. If someone later tries to obtain `((Member

[2016-02-02 11:54] nietras commented on #5474
I agree completely that the design goal for `Unsafe` should be extremely lean and fast, and adding these extra types did add quite a lot of fat to the assembly.

Since we are already talking about a whole family of `As*` the summarized API design could be the following (all with `[MethodImpl(MethodImplOptions.AggressiveInlining)]` attribute):
[code]
Could you explain how unbox IL might look for `A

[2016-02-02 13:00] clrjunkie commented on #5205
Perhaps, but maybe some don’t. Tell me why C++ “Smart Pointer” was invented? People forget to call ‘delete’ (e.g dispose). It’s a fact. Putting aside JIT optimizations why SafeHandle was invented? Why Critical Finalizers was invented? Why Finalizers was invented? Exactly for similar reasons.

Then there is no problem. The library provides a dispose method to clean-up after itself. I don’t understa

[2016-02-02 13:09] stephentoub commented on #5822
Fixed by #5830.  Thanks, @KrzysztofCwalina.

[2016-02-02 13:09] #5822 closed

[2016-02-02 13:10] stephentoub commented on #4855
Fixed by #5836

[2016-02-02 13:10] #4855 closed

[2016-02-02 13:39] shrutigarg commented on #5617
- [ ] End if / else if / else if /... waterfalls with one last "if" see detailed comment https://github.com/dotnet/corefx/pull/5581

- [ ] add assert instead  // Server side should not request any of these flags. line 160 InternalNegoState.cs

- [ ] #5541 (comment)

- [ ] check for  _context  null value  line 276 and 294 InternalNegoState.cs
- [ ] fix comment "// This is to not depend on GC&SafeHa

[2016-02-02 13:49] Dmitry-Me opened #5840 "System.Data.ProviderBase.DbConnectionFactory.TryGetConnection() has a misleading comment for use of Sleep()"
`System.Data.ProviderBase.DbConnectionFactory.TryGetConnection()` has these lines:

[code]

`timeBetweenRetriesMilliseconds` starts with a value of `1` and is doubled on each iteration. "yield time slice" is the idiom for passing zero into `Sleep()` to mean "I don't want to wait for long, but if there's anyone else wanting CPU time then I'll let them have that time". When any other value is passed

[2016-02-02 13:50] shrutigarg commented on #5617
updated  the list of relevant comments to be fixed in this.

[2016-02-02 13:53] clrjunkie commented on #5205
Just to make clear: case (b) involves a mix of *some objects* that are released to the 'GC' and *some others* that are reachable through static reference. Doing Collect/Wait would obviously impact only pending "unreachable" objects for finalization and can only supplement proper shutdown. The user is still responsible to call Stop/Shutdown explicitly on the Library. However; doing Collect/Wait *en

[2016-02-02 14:14] clrjunkie commented on #5205
Furthermore, consider your own example:

How can a user ensure that this finalizer code is invoked before the process terminates without Collect/Wait? I mean obviously if  you add a Dispose method and expect the user to call it then there would be no need for a Finalizer, unless you acknowledge that people do release objects to the GC for finalization or simply forget which is the whole point of t

[2016-02-02 15:07] Dmitry-Me opened #5841 "System.Data.SqlClient.SqlConnection.TryOpen() registers an object without finalizer for finalization"
System.Data.SqlClient.SqlConnection.TryOpen() has this code

    if (!tdsInnerConnection.ConnectionOptions.Pooling)
    {
        // For non-pooled connections, we need to make sure that the finalizer does actually run to avoid leaking SNI handles
        GC.ReRegisterForFinalize(this);
    }

but `SqlConnection` has no finalizer and neither does its base class. This code does nothing useful. If s

[2016-02-02 15:49] mjrousos commented on #2342
+1, I've worked with a couple customers now who have requested this feature in .NET Core. In my experience, it's one of the few commonly-requested features that we don't have a good story for. I think we ought to prioritize adding this.

[2016-02-02 15:59] stephentoub commented on #5739
Again:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/375/console
[code]

[2016-02-02 16:22] dsaf commented on #5766
WPF on Linux confirmed.

[2016-02-02 16:25] galvesribeiro commented on #5766
@dsaf what you mean?

[2016-02-02 16:38] stephentoub commented on #5780
@LLITCHEV, @janvorli, @ramarag, this failure started happening randomly in our tests a few days ago, though the test has been stable for a long time before that.  The failure occurs when we fork and execve another process, which then seg faults.  Every time I've been able to capture a core dump locally, I see this:
[code]
Any ideas?

[2016-02-02 16:40] ericstj opened #5842 "Consuming CoreFx packages on desktop"
We currently run into a couple issues consuming CoreFx packages on desktop:
1. ResolveAssemblyReferences (RAR) doesn't unify facade revisions in the same way the desktop loader does.  This results in binding redirects incorrectly being emitted rather than ignoring the difference and unifying to the inbox version.  For example System.Runtime 4.0.21.0 will be unified to the 4.0.0.0 assembly by the d

[2016-02-02 16:49] ericstj opened #5843 "Update UWP meta-packages and lineups"
As part of the NETStandard work we had to rebaseline all of our package dependencies to versions that have support for NETStandard.

In doing so this would have normally broken shared library since it requires that the versions of some assemblies explicitly match those that were pre-compiled to native in the shared assembly.  To avoid that I am producing packages that redist the old DLLs in the ne

[2016-02-02 17:09] jkotas commented on #5474
This should constrain T to be a class. It won't work well for valuetypes.

Agree.

It cannot think of what a reasonable implementation of this would be. And all options that I can think of are just trivial combinations of the other Unsafe APIs (e.g. `return Unsafe.AsRef(ref value)`).

This may be sealed.

[2016-02-02 17:27] joperezr commented on #4062
Ok, since it looks like the restore is no longer failing I will go ahead and close this issue. I completely agree that package restore takes too long, so thanks a lot @ellismg for building the wrapper that will make package restore way more efficient :+1:

[2016-02-02 17:27] #4062 closed

[2016-02-02 17:49] janvorli commented on #5780
@stephentoub let me try to reproduce it locally so that I can see what is the exact spot of failure

[2016-02-02 17:50] janvorli commented on #5780
I have accidentally closed it and I am unable to reopen it - I reopen and the dotnet-bot closes it right away.

[2016-02-02 17:58] pallavit commented on #5067
Tests have been enabled as part of #5735

[2016-02-02 17:58] #5067 closed

[2016-02-02 18:16] stephentoub commented on #5780
Looks like you managed to get it reopened :smile:

Since it only repros sporadically, I changed the test locally to be:
[code]
so that running the unit tests would run this particular test a thousand times.  The peer process usually crashes within the first 100 iterations for me.  I used ```ulimit -c unlimited``` to ensure that when it did, a core dump was captured.

[2016-02-02 18:26] jkoritzinsky opened #5844 "Implement CustomReflectionContext"
I was just browsing through the source here and I noticed that `System.Reflection.Context.CustomReflectionContext` is not implemented.  One of the projects I work on (RobotDotNet) uses this in our library for some additional nice features.

[2016-02-02 19:21] nietras commented on #5474
Good feedback, so we end up with:
[code]
I have added `InitBlock` and `CopyBlock` since these are useful to us. Are there any other that would be interesting and for what scenarios?

Could you give an example on how this would work for value conversion?

[2016-02-02 19:36] jkotas commented on #5474
There is no magic way to do value conversions (e.g. to convert any T integer to `double`). `System.Convert` is about as good as what can be done.

At IL level, the C# generics are not like C++ templates where you can just cast one type to another type, and the C++ compiler will consult the universe of all overloaded constructors and conversion operators to pick the right one.

[2016-02-02 19:37] ericstj commented on #5843
/cc @weshaggard @chcosta

[2016-02-02 19:45] schellap commented on #5842
Cc @schellap

[2016-02-02 20:09] kouvel commented on #5205
Got your feedback, thanks. As I agreed before, it would be good to raise the event on a different thread (not on the finalizer thread). As for Collect/Wait, I think our argument is going in circles, but I do see your point. At the very least, it would be somewhat of an easy workaround for programs that use finalizers in this way. I'll discuss with a few more people to determine what should be done

[2016-02-02 20:23] nietras commented on #5474
Yeah that's what I thought. Just wanted to be sure. Conversion can be done using tricks which are also used in `System.Numerics` for `Vector` which is to do simple:
[code]
Since the JIT will discard the checks this should be as fast as possible. I presume. Again this proves the usefulness of `Unsafe`, in fact there are many places in the SIMD code that could use `Unsafe`. Instead they are doing `(

[2016-02-02 20:50] KKhurin opened #5847 "Leaking System.Net.WebSockets.WinHttpWebSocketState in WCF stress"
We see a fast memory leak on WCF stress using web sockets binding for duplex streaming.
The leaked objects are all rooted by strong GC handles:
[code]
And their state indicates that they were disposed:
[code]
A repro app is available upon request.

[2016-02-02 20:59] davidsh commented on #5847
Dupe of #3256.

[2016-02-02 20:59] #5847 closed

[2016-02-02 21:06] #5424 closed

[2016-02-02 21:42] clrjunkie commented on #5205
Your welcome.

[2016-02-02 22:36] divega opened #5848 "DbEnumerator is included in both System.Data.Common and System.Data.SqlClient"
SqlClient shares some code with System.Data.Common by including source files in https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System.Data.SqlClient.csproj#L49-L59. Of all code shared at least `DbEnumerator` is a public type, so when you depend on both libraries the type is duplicated.

I don't think this has a huge impact but I was wondering if it is just an oversight.

[2016-02-02 22:49] divega commented on #5848
(fixed the link to point to master)

[2016-02-02 22:54] pgavlin opened #5849 "Sockets error messages are incorrect on non-Windows platforms."
We need to map the SocketError values back to their native equivalents before using them to fetch descriptive error messages.

[2016-02-02 23:29] dmetzgar commented on #2394
Actually @MelbourneDeveloper just by participating in this thread, you are helping make the argument. There is a team at MS that owns WF, currently mine, but we don't make the decision to release WF on Core. We have to make the business case. The discussion here helps me do that.

[2016-02-02 23:36] galvesribeiro commented on #2394
Its actually impressive how people started 2016 supporting this thread :)

Also the https://github.com/dotnet/corefx/issues/5766 from @terrajobst got a lot busier these days :)

@dmetzgar I hope you grab as much feedback as you can/need from those discussion so you have enough cases in order to OSS it.

I'm pretty sure if a dotnet/WF repo is opened of if it is added to corefx, people will defineti

[2016-02-02 23:40] MelbourneDeveloper commented on #2394
That makes me feel warm and fuzzy.

Just FYI dmetzgar - I'm more than happy to document up our experiences and put a persuasive case forward to help build evidence for port business case.

I've been knee deep in Microsoft technology since 2000. I've watched all the major technologies relevant to this thread develop and fade out. While I'm immersed in Microsoft technology, I still see it from an ob

[2016-02-02 23:41] corivera opened #5853 "Add default SQL path to NP path parsing if only server name is provided"

[2016-02-02 23:48] MelbourneDeveloper commented on #2394
I should also say that Microsoft technology is on the cusp of something big.

For so many years, I've watched good technology rise, and fall. The major reason why technology has fallen by the wayside is because of the changing device landscape. In the past, the strategy was to build a platform for each device family. There wasn't anything inherently wrong with this approach. But, it means porting

[2016-02-03 00:06] AlexGhiondea commented on #5552
@jasonwilliams200OK I updated the description of this issue to capture the suggested APIs.

I assumed that instead of 2 APIs that operate on string you suggested one that operates on object and one that operates on string.

Do you know if there is interest in adding all of the APIs? I realize that from a completeness perspective we would want to add all of them, but I would rather not add code tha

[2016-02-03 00:23] MattGal opened #5854 "Native ClrCompression.dll for win7-x64 package depends on MSVCR110.dll"
@ianhays :

Much like issue #3760 for SqlClient, the 64-bit specific version of clrcompression.dll takes a dependency on MSVCR110.dll.  The issue appears to be specific to the x64 version currently.

[2016-02-03 00:24] KKhurin commented on #3256
@davidsh  @SidharthNabar  @CIPop
This memory leak blocks a whole lot of WCF scenarios not only in stress but also in perf.
Would you consider fixing it before RTM?

[2016-02-03 00:27] davidsh commented on #3256
@KKhurin I will prioritize it higher in my "bug fix list".  That said, it will probably be a week or so before I'm able to get to it.

[2016-02-03 00:38] jasonwilliams200OK commented on #5552
@AlekseyTs, thanks for adjusting the description.
This is a very common scenario in almost every language to join an array of string with a single character. Calling `ToString()` on char type in dotnet at times seems bit of an overhead.

Consider this example:

[code]

vs.

[code]

[2016-02-03 00:57] AlexGhiondea commented on #5552
@jasonwilliams200OK I understand the scenario -- what I was wondering about was if we need to add ALL of the APIs or if we can go ahead and only add a subset of them.

[2016-02-03 01:01] CIPop commented on #5757
@bartonjs I've discussed this with @josguil: he used the pattern from:
https://github.com/dotnet/coreclr/blob/43b39a73cbf832ec13ec29ed356cb75834e7a8d7/src/mscorlib/src/System/Diagnostics/Eventing/EventSource.cs#L983

We've also tested this in PerfView and couldn't find any issues.

[2016-02-03 01:12] CIPop commented on #5755
This is known and expected. We won't fix this for RTM given that logman / PerfView collection works as expected.

[2016-02-03 01:15] stephentoub commented on #5755
I'm not sure it does work as expected (I'm fairly certain I've seen PerfView not get the desired events, though I'd need to double check).  Regardless, though, the Unix tracing also plugs in through the listener mechanism, so if that's broken, so is tracing on Unix.

[2016-02-03 01:18] CIPop commented on #5757
@vancem can you please point us to documentation/examples on how to use `WriteEventCore` with an array?

As an optimization we'd need to pass in the offset and length and adjust the pointer passed to `EventData`. Adding these extra parameters to a method marked with the `EventAttribute` will surface the errors @bartonjs reported as well.

Code in question:
https://github.com/dotnet/corefx/blob/ac6

[2016-02-03 01:19] davidsh commented on #5755
I have a feeling that we need to fix this especially given @vancem previous comments on the initial design. The problem right now is resource staffing to fix this.

[2016-02-03 01:24] CIPop commented on #5755
@stephentoub If events are missing then I agree this needs to be fixed for RTM.

[2016-02-03 01:26] mellinoe commented on #5730
I think @shawnhar covered the main reasons we don't have 3x3 (or specific sizes than 4x4 and 3x2). The current types are intended to cover mainline graphics scenarios, and to provide an easy migration path for other API's (XNA, etc.), but we don't have support for every fixed size matrix.

I also think that other matrix sizes (3x3 included) are useful from a generic mathematical perspective. Howev

[2016-02-03 01:26] #5730 closed

[2016-02-03 01:30] terrajobst commented on #3423
We [discussed this today](https://github.com/dotnet/apireviews/pull/28). We believe [the current proposal](https://gist.github.com/saurabh500/d27f5fcbfa7bcf12623b) isn't ready yet.

@saurabh500: once you updated the proposal, please edit the description of the issue and copy & paste it there. Also, remove the `api-needs-work` label and add the `api-ready-for-review` label. Thanks!

[2016-02-03 01:34] bartonjs commented on #5755
@CIPop Yes, events are missing.  For the shared event sources, only the first library to try logging emits events, the other libraries are silent.

[2016-02-03 01:49] mogarick opened #5858 "System.IO.FileNotFoundException: Could not load file or assembly 'System.Net.Security ...' ocurring in Windows using rc1-final and OSX using rc1-update1"
### TLDR;
I'm getting a runtime error only when building in **OSX** with `dnx-coreclr-x64-1.0.0-rc1-update1` or building in **Windows** with `dnx-coreclr-win-x64.1.0.0-rc1-final` but if I build in **Windows** with `dnx-coreclr-win-x64.1.0.0-rc1-update1` the error doesn't happen. Isn't it supposed that if you use the same version number for both platforms is because both of them are the same and ha

[2016-02-03 01:50] bartonjs commented on #2953
Apparently, shortly after me identifying that there wasn't enough time to get this for RTM, RTM moved to be a bit further away.  Bringing it back in scope.  (Huzzah!)

[2016-02-03 01:54] venkat-raman251 opened #5859 "Port changes to Microsoft.Cci.Extensions"
Update the changes from corefxTools\Microsoft.Cci.Extensions to buildTools\Microsoft.Cci.Extensions

[2016-02-03 02:08] dotnetshadow opened #5860 "ASP.NET Core 1.0 Global exception handler in console application (DNX)"
How do you catch global exceptions in an asp.net core console application? In previous versions we had AppDomain.CurrentDomain.UnhandledException but this doesn't seem to work in rc1

[code]

The above only works in 4.5.1 but not dnxcore50, As soon as the exception is thrown the code breaks. Is there any way in a dnx app to catch unhandled exceptions?

[2016-02-03 02:11] stephentoub commented on #5436
It looks like the root cause of this is https://github.com/dotnet/corefx/issues/5829.  I'm working on a fix.

[2016-02-03 02:14] stephentoub commented on #5757
This looks like https://github.com/dotnet/coreclr/issues/1991

[2016-02-03 02:47] davidsh commented on #5860
I recommend you close this issue and reopen it in the aspnet/dnx repo.  That is where the dnx code lives.

[2016-02-03 03:40] benaadams commented on #5860
Related issue: https://github.com/dotnet/coreclr/issues/2144

[2016-02-03 03:41] dotnetshadow commented on #5860
#3348

[2016-02-03 03:51] #2748 closed

[2016-02-03 04:06] davidsh commented on #5065
We are unable to repro this.  We will close this issue for now.  If this repros, please attach a Visual Studio solution (you can create a separate repo for that) and re-open the issue.  Thx.

[2016-02-03 04:30] #5860 closed

[2016-02-03 04:34] mellinoe commented on #5859
Did you mean to put this in the buildtools repo?

[2016-02-03 07:04] Michael-DST commented on #2394
:+1:  on that @MelbourneDeveloper  and @dmetzgar.  This is the sort of engagement and dialogue I personally like to see out of MSFT, rather than the [ignored pleas](https://social.msdn.microsoft.com/Forums/vstudio/en-US/2bf12d31-2715-4fb0-982a-17ccb8811ef5/silverlight-6-wishlist) and [unanswered calls](https://social.msdn.microsoft.com/Forums/vstudio/en-US/8b60c0f3-8243-44bf-9130-1d9646d9687d/last

[2016-02-03 07:20] jasonwilliams200OK commented on #5552
@AlexGhiondea, IMO, all five signatures are equal candidates of `char separator` overload.

[2016-02-03 08:29] tfenise commented on #1168
I think instead of having:

`public static Vector<double> Swizzle (Vector<double> a, int s0, int s1);`

we could have:

`public static Vector<Vector2Double> Swizzle(Vector<Vector2Double> a, int s0, int s1);`

The only "difference" between `Vector<double>` and `Vector<Vector2Double>` is that  a `Vector<Vector2Double>` is guaranteed to consist of an even number of doubles. This become important if w

[2016-02-03 11:52] khellang commented on #4544
What's the status on this? It totally breaks migration scenarios where you're slowly porting things over to project.json, side by side with csprojs.

[2016-02-03 12:05] mgravell commented on #4544
@khellang I can't comment on the status, but u did discuss a workaround
approach in my blog series
http://blog.marcgravell.com/2015/11/the-road-to-dnx-part-1.html -
basically, I move the csproj *out*, and reference the files back in via
\..\FolderName\**\*.cs

On Wed, 3 Feb 2016 11:53 Kristian Hellang <notifications@github.com> wrote:

[2016-02-03 13:19] JonHanna opened #5861 "DbConnection and DbCommand should have a finaliser"
Originally `DbConnection` and `DbCommand` classes were derived from `System.ComponentModel.Component`. From that they inherited a finaliser that called `Dispose(false)`.

Their descendants sometimes depend on this, in particular `SqlConnection` has finaliser-only code.

They should have finalisers directly added.

~~`DbTransaction` and `DbDataReader` were never derived from `Component` but do both

[2016-02-03 13:21] JonHanna commented on #5841
It's the other way around, the bug is that the derived class doesn't have a finaliser, since this class does indeed make use of that. See #5861.

[2016-02-03 13:33] stephentoub opened #5864 "CI jobs failing with WS-CLEANUP errors"
Lots of legs failing with errors like this,
e.g. http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_bld_prtest/495/console
[code]

[2016-02-03 13:54] helmsb commented on #2394
That's an interesting thought. What is your use case for integrating EF and WF? Can you give an example? Is this for persistence?

[2016-02-03 14:09] JonHanna opened #5865 "DbTransaction and DbDataReader should have a finaliser"
DbTransaction and DbDataReader both follow the Dispose(bool) pattern, as such suggesting that a finaliser exists which would call Dispose(false). While not used within the corefx assemblies a third party derived class could erroneously depend on this.

As such they should have finalisers added, and then suppressed in the existing derived classes.

This could be a breaking change, if someone wrote

[2016-02-03 15:31] stephentoub opened #5868 "Debugger.NotifyOfCrossThreadDependency missing from System.Diagnostics.Debug contract"
NotifyOfCrossThreadDependency is used in code any time a debugger accessing that property would potentially cause deadlocks, race conditions, or other behavior changes, e.g. if the debugger has frozen all threads in the process (which it does at a breakpoint), and a property getting evaluated blocks waiting for another thread to perform some operation.

We should expose this in the contract.  If t

[2016-02-03 16:08] mmitche commented on #5864
@stephentoub Thanks, if you see more of these can you let me know.  I'm unsure of why the process killer didn't work in this case.

[2016-02-03 16:16] CarolEidt commented on #1168
The problem with the proposed APIs (both the one proposed by @MikePopoloski, as well as those proposed by @tfenise) is that the hardware (at least SSE and AVX and their derivatives, but presumably other implementations as well) do not support shuffles or permutations with variable selectors. While one could imagine that the JIT could simply do constant propagation to deal with that, in the event t

[2016-02-03 16:29] JonHanna commented on #5865
I'm not sure I was correct here.

[2016-02-03 16:29] #5865 closed

[2016-02-03 16:41] Michael-DST commented on #2394
That the very least it could be used as the backing model that the workflow works with in the application domain.  At most it could actually serve as the storage mechanism for the workflow itself (but I wouldn't recommend this -- Xaml is much better suited for this).

I can see a WPF-esque paradigm here where you can define workflows in Xaml and then bind them to properties, using data from model

[2016-02-03 17:04] mmitche commented on #5864
I have a hunch that it was a veto killer plugin that was avoiding killing MSBuild (for multi-executor instances of windows), so I uninstalled that.  It's possible it's something else though.  I'll keep watching.

[2016-02-03 17:31] JonHanna commented on #5840
You need a value of at least `1` to yield to a thread with lower priority than the thread that is yielding, so `1` is also commonly used when one just wants to yield the time slice.

I think the combination of comments is reasonable. First it yields, and then it doubles before subsequent waits.

[2016-02-03 17:42] CIPop commented on #5757
Thanks @stephentoub: it seems the same.
We either pass the size first then a pointer to the array or we get an error when we decode the data in PerfView.

[2016-02-03 17:50] joperezr commented on #5733
Waiting for Microsoft/msbuild#459 to get fixed in order to be able to enable this.

[2016-02-03 18:11] pgavlin opened #5871 "Throw PNSE from Socket.Connect on *nix iff a previous connect attempt has failed"
See https://github.com/dotnet/corefx/pull/5867 and https://github.com/dotnet/corefx/issues/5829 for details on the problems with multiple connection attempts using the same socket on platforms that follow BSD/POSIX semantics for sockets.

[2016-02-03 18:26] GSPP commented on #3483
Here's a typical case for what it's like to use the Process class and receive child output: http://stackoverflow.com/questions/35184529/why-does-process-waitforexit-sometimes-hang-though-called-upon-an-exited-proce

fyi.

[2016-02-03 18:27] AlexGhiondea commented on #5552
@jasonwilliams200OK all right. I will mark this as ready for review.

[2016-02-03 18:27] venkat-raman251 commented on #5859
@mellinoe Oh, yes. Will create one in buildtools and mark this as duplicate

[2016-02-03 18:55] dmetzgar commented on #2394
@Michael-DST I'd prefer to avoid too many integrations. WF should be a standalone NuGet package. Integrating WF and EF together should be a separate project. Start combining too many things and you could end up with [Oslo](http://blogs.msdn.com/b/modelcitizen/archive/2010/09/22/update-on-sql-server-modeling-ctp-repository-modeling-services-quot-quadrant-quot-and-quot-m-quot.aspx).

[2016-02-03 19:03] galvesribeiro commented on #2394
I agree with @dmetzgar  :+1:

EF is an storage/persistance provider. It should be a diff NuGet package and injected at runtime. WF must only provider a set of interfaces and thats all.

We did it pretty well with the Storage Providers on Microsoft Orleans.

[2016-02-03 19:05] pallavit opened #5873 "DynamicILGenerator does not support BeginFaultBlock and BeginExceptFilterBlock #1764"
dotnet/coreclr#1764 has more information on the issue.

Based on the conversation with Jan, this is only an artificial limitation and can be removed from both Desktop and CoreCLR.

[2016-02-03 19:06] Michael-DST commented on #2394
@dmetzgar (and @galvesribeiro) agreed.  I am not suggesting a required integration, but a possible use case/value proposition.  (See: brainstorming. :smile:)

[2016-02-03 19:08] ericstj opened #5874 "Crypto contracts desktop support"
I believe the current version of the crypto contracts require desktop 4.6.1 but are representing themselves in the packages as requiring 4.6.

We need to clean this up, but before we do we need to a) look upstack in CoreFx and b) reach out to partner teams to find out if anyone is expecting support on 4.6.  If so, then we probably need to look into a pre-version of the contracts to support 4.6.

[2016-02-03 19:13] ericstj opened #5875 "Console support for NETCore"
Since Console was added to NETStandard.Library we need to suppoort it on netcore50.

To do this and still pass the WACK we should either:
1. Get the APIs we call added to the modern SDK.
2. Build a version of the contract specific to netcore that only calls supported APIs.  For example, by just using readfile/writefile on the console handles or directing the output to something more appropriate fo

[2016-02-03 19:14] venkat-raman251 commented on #5859
Created in buildTools. Closing this one.

[2016-02-03 19:14] #5859 closed

[2016-02-03 19:32] joshfree commented on #5858
@ericeil can you please help out here?
/cc @vijaykota

[2016-02-03 19:33] joshfree commented on #5831
@sepidehMS PTAL

[2016-02-03 19:48] joshfree commented on #4779
moving to rc2 per offline discussions

[2016-02-03 19:49] joshfree commented on #4653
moving to rc2 per offline discussions

[2016-02-03 20:00] pallavit commented on #5875
@ericstj Why does the library need to pass WACK for this? It is not meant to run on UWP at all.

[2016-02-03 20:08] SGuyGe commented on #4724
Thanks. I can repro the crash issue with your repro. We'll look into it.

[2016-02-03 20:14] ericstj commented on #5875
/cc @KrzysztofCwalina
System.Console is part of the set of libraries that we say every new version of .NET needs to support: the standard library.  As such, libraries may make use of it and those libraries must install in a UWP app without violating WACK.

We need to define what Console should do in this case and implement that behavior.

[2016-02-03 20:58] ericstj commented on #5796
Thanks for the report @agocke.  I didn't realize you had opened this and opened https://github.com/dotnet/corefx/issues/5842.  Closing this now.

[2016-02-03 20:58] #5796 closed

[2016-02-03 21:05] adamsitnik commented on #5861
IMHO it is a good fix, but not the best way to solve the problem.

I would rather encourage developers to use SafeHandle class when dealing with native resources. Safe Handle has it's own finalizer, so classes that are using it do not need to have their own finalizers.  Less GC pressure, no "mid-life crysis" and still safe. Even more safe if we take CriticalFinalizerObject (base class of SafeHandl

[2016-02-03 21:13] pallavit commented on #5875
Console as a concept is not supported on store at all and honestly, I am not sure it makes senses in every UI model either. In the past we worked-around it by using Console only in Developer mode on store and hence removing the WACK compliance limitation.

[2016-02-03 21:17] weshaggard commented on #5875
Console in this context is StdIn/StdOut which we have agreed to support everywhere, so we should provide the API for UWP, even if it doesn't actually have a console displayed.

[2016-02-03 21:21] ericstj commented on #5875
Here's the list of unsupported APIs:
[code]

[2016-02-03 21:23] jasonwilliams200OK commented on #5875
Duplicate / Related: https://github.com/dotnet/corefx/issues/4636

[2016-02-03 21:26] pallavit commented on #5875
As things stand today, we can't support the Console contract as-is and make WACK happy. If we really want to support it on UWP as well, we would need to support a separate contract (w/o encoding and most other features), this would most likely look like the very initial snapshot of Console (possibly further trimmed) version. Also, this will also most likely mean separate implementations for the di

[2016-02-03 21:34] weshaggard commented on #5875
We can inquire about relaxing the WACK checks but even with that we will likely need to do a separate build of this for UWP. I can see some features we we might need to throw PlatformNotSupportedException or no-op but I don't understand why we wouldn't be able to handle the Encoding. We might not be able to get the default Console encoding but we should be able to use a default encoding ourselves

[2016-02-03 21:57] pallavit commented on #5875
Yes, we would not be able to support both ANSI and Unicode code pages for Console Read\Write in the WACK compliant set.

[2016-02-03 22:02] pallavit commented on #4970
I agree that Process is not the right place for this. May be CLI can provide a functionality for this. @davidfowl Let me know if you disagree? If not, I would go ahead and close this.

[2016-02-03 22:06] JonHanna commented on #5861
Yeah, I don't like the pattern at all (I'd go so far as to call it an anti-pattern, because while it solves the problem of mixing managed and unmanaged clean-up in one class, I'd rather not get into that position in the first place).

But unless it broke from the pattern and hence forced derived classes to change with the full break (nasty!) it would be very easy to expect the finaliser and not ha

[2016-02-03 22:14] Maxwe11 commented on #4970
Definitely :+1: for this feature.

[2016-02-03 23:46] #5841 closed

[2016-02-03 23:46] #5861 closed

[2016-02-03 23:58] joshfree commented on #4779
@Priya91 can you please pick this one up?

[2016-02-03 23:59] joshfree commented on #4653
@Priya91 can you please pick this one up?  This will be similar to https://github.com/dotnet/corefx/issues/4779

[2016-02-04 00:10] nguerrera opened #5884 "Portable mechanism needed to determine if two MemberInfos are backed by the same metadata definition"
Currently, there is a hole in reflection whereby there's no straight-forward way to determine if:
### 1. MemberInfos differ only by ReflectedType (i.e. they are the same member, but one of them was obtained from a derived type.)

[code]
### 2. One MemberInfo is a generic instantiation of another.

[code]

On platforms that support the MetadataToken, this can be worked around by comparing the token

[2016-02-04 00:11] nguerrera commented on #5884
cc @weshaggard

[2016-02-04 00:53] Priya91 commented on #4779
@joshfree Yes, will work on this.

[2016-02-04 01:26] ianhays commented on #5854
I've got a CodeFlow up with a resolution to this.

[2016-02-04 02:04] JonHanna opened #5886 "Process and Ping should have finaliser"
In the wake of #5861 I decided to examine other classes in CoreFX that were originally derived from `Component` to see if there was a risk that classes derived from them in turn could depend upon their having a finaliser.

The following need no action, but I list them in case someone can spot one I missed or a flaw in my reasoning that they are okay as-is:

`ProcessThread`. No longer disposable, f

[2016-02-04 02:35] #3207 closed

[2016-02-04 03:05] benaadams opened #5888 "WebUtility.UrlDecode to take StringBuilder"
`WebUtility.UrlDecode` could take a string builder; `UrlDecoder` could be a struct and use `System.Buffers` for its arrays for reduced allocations.

[2016-02-04 03:24] Mathestus commented on #2295
+1

Please make this happen

[2016-02-04 04:36] vijaykota opened #5889 "Identify exceptions that should cause NTLM fallback in xplat NegotiateStream"
This is with reference to this [PR comment] (https://github.com/dotnet/corefx/pull/5770#commitcomment-15854837). Currently, for any exceptions in the SPNEGO codepath, the xplat implementation falls back to NTLM. We need to check if there are  specific exceptions we should target.

[2016-02-04 04:45] MelbourneDeveloper commented on #2394
I want to chime in on this one! Again, this relates to my company's experience. Ultimately, we would like to use EF for persistence of data in inline databases such as SQLite for occasionally connected apps. Ultimately, UWP/.Net Core would have EF, SQLite, Azure Mobile Services, and WF all working in harmony. I'd be repeating myself if I explained why we want this to happen, but I can explain why

[2016-02-04 06:15] ericstj commented on #5707
I have a private build with this change.  To actually commit it we need to have corefx on the latest dotnet CLI, otherwise it won't understand the new moniker and we won't be able to consume our own packages.  @dagood is working on that.

Also, this only enables NETStandard monikers.  To enable NETStandardApp we still need to update all libraries being packaged as `dnxcore` to use either `netstand

[2016-02-04 06:20] ericstj commented on #5694
That's only if HttpPlatformHandler doesn't build as a fat package.  If you were to build this component as a fat package with separate windows and unix implementations, you wouldn't have OS-specific templates.

This is what we do already for all CoreFx packages that need to use platform specific technology.

[2016-02-04 08:35] thecodejunkie commented on #4544
While there are workarounds, they are just that - workarounds. I would still like to know if a fix has been created and if it will be released with rc2 ?

Thanks

[2016-02-04 08:38] vijaykota opened #5890 "Return more error information for SslStream and NegotiateStream from *Pal.Unix.cs"
Please see [PR comment] (https://github.com/dotnet/corefx/pull/5773#commitcomment-15855088). We need to figure a way of passing the extended error information returned by the shim layer to the platform-agnostic code. Currently any exception is translated to SecurityStatusPal.InternalError

[2016-02-04 13:53] stephentoub opened #5894 "BeginSendToV4IPEndPointToDualHost_Success failed on Windows in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/1768/consoleFull

[code]

[2016-02-04 14:07] yufeih commented on #157
:+1: This is soo true.

Besides being optimized by SIMD, `System.Numerics.Vectors` is also **THE** ideal communication contract for graphics, games and image processing libraries. These libraries wants to be both fast and **portable** to platforms other than `coreclr` (Android, iOS as a great example).

Even if `coreclr` has implemented these optimizations in the foreseeable future, those other ru

[2016-02-04 14:29] janvorli commented on #5780
@stephentoub I have modified the test as you've suggested, but I was unable to reproduce the issue. I've tried it first with the coreclr binaries that were placed to the test's binary folder and later with debug coreclr binaries that I've built from the latest coreclr.
I was running just the single test selectively, so I was wondering if there is something you were doing differently.
Also, I have

[2016-02-04 14:32] stephentoub commented on #5780
No, that's basically what I've done.  Is there some information I can gather for you on my machine to help?  Would a core dump help?

[2016-02-04 14:37] janvorli commented on #5780
Yes, a dump with libcoreclr.so would help me to find out the instruction causing the fault. Or even simpler, a disass of the function that crashed and the register values would probably be sufficient.

[2016-02-04 14:39] NinoFloris opened #5895 "Plan to create an alternative to xml documentation?"
Hi guys,

I have been following the developments of the .net core initiative on foot for some time now.
As I see a lot of things have been reopened for discussion because of this huge undertaking and refactor.

One thing that I haven't seen in discussions is talk about xml documentation alternatives.
The syntax is just plain verbose and adds a huge amount of noise to what should just be documentat

[2016-02-04 14:43] basdek commented on #5895
+1

[2016-02-04 14:46] daveaglick commented on #5895
Note that there is a pretty lengthy discussion of this over on the Roslyn repo:
https://github.com/dotnet/roslyn/issues/85

[2016-02-04 14:51] stephentoub opened #5896 "Writing to SslStream fails on OS X when count is larger than SslStream's internal buffer size"
See SslStream_StreamToStream_Successive_ClientWrite_Sync_Success.  This consistently passes on Windows and other Unix environments, but consistently fails on OS X.

[2016-02-04 14:56] stephentoub commented on #5895
This is better discussed in the Roslyn repo, as it is much more related to the language.  Closing this one.

[2016-02-04 14:56] #5895 closed

[2016-02-04 15:17] davidsh commented on #5886
cc: @CIPop

[2016-02-04 16:08] roncain commented on #5821
@peter-f-s thanks for reporting this.  We appreciate it.
Would you mind opening an issue at http://connect.microsoft.com/ for this? And adding a link to it from this issue? This current dotnet/corefx project is currently tracking only issues that can be reproduced by code in this repo, and as it turns out, the DispatchProxy in this repo is not the same implementation you encountered in your UWP ap

[2016-02-04 16:08] #5821 closed

[2016-02-04 16:41] peter-f-s commented on #5821
Thanks!
Here is the follow-up: [https://connect.microsoft.com/VisualStudio/feedback/details/2322483](url)

[2016-02-04 16:44] muratg commented on #5843
:eyes:

[2016-02-04 17:31] SidharthNabar commented on #5886
@JonHanna - thanks for raising this. By `Process`, you mean `System.Diagnostics.Process`, correct? Our team owns `System.Net.Ping`, but not `System.Diagnostics.Process`. Maybe we want to create two separate tracking issues for these two types?  (for easier assignment)

[2016-02-04 17:36] JonHanna commented on #5886
I do. If you'd prefer to look at one in isolation to the other I'll split the issue and the PR.

[2016-02-04 17:39] davidsh commented on #5886
@JonHanna There is already a PR for this: #5887.  So, you can leave the issue and PR as-is. It will be reviewed.

[2016-02-04 17:43] cartermp commented on #3934
We've spec'd out the work for this and [plan on making it happen](https://gist.github.com/cartermp/31cb8c9a8553c4cb71ce).  Unfortunately PDB generation is a problem for NetFX and PCL reference assemblies on *nix targets, and we need to get that solved before we can continue.

[2016-02-04 17:43] JonHanna opened #5898 "Expression interpreter can neither catch nor throw non–Exception-derived exceptions"
Using the interpreter it is impossible to either throw or catch an exception that isn't derived from `Exception`.

This differs from the compiler, which allows both.

Possibly this should just be documented as a limitation.

Possibly something could be done by manipulating `RuntimeWrappedException`.

Possibly something could be done for catching, but not for throwing, which both seems easier on fi

[2016-02-04 17:47] SidharthNabar commented on #5886
Oh - were you planning to submit the PR for both of the types? In that case, it's not needed to split.

[2016-02-04 17:59] JonHanna commented on #5886
Yes, #5887 covers both. Whether you want to check and (hopefully) okay just part of it, or if you'd rather it was split, I'm happy either way.

[2016-02-04 18:07] SamuelEnglard opened #5899 "Documentation Duplication Between .NET Projects"
As I'm working on #5877, I started thinking that between CoreCLR and CoreFX there's going to be lots of things that need to be explain in both contexts. The Terms section alone in [glossary](../Documentation/project-docs/glossary.md) would probably be useful for both projects. Would it make sense to move this kind of stuff to the [core-docs](https://github.com/dotnet/core-docs) repo?

/CC: @terraj

[2016-02-04 18:12] ericstj commented on #5843
Just to be clear, this work will not block the netstandard transition but it is something that we need to do to complete the story with UWP.

[2016-02-04 18:27] ericeil commented on #5832
Note that calling `shutdown` on the socket prior to closing it seems to unblock the pending `accept` on Linux.  But it causes an error on OSX and Windows.  I haven't found a way to unblock a pending accept on OSX, other than to simply successfully connect to the socket.

[2016-02-04 18:50] svick commented on #5898
Does the behavior of the interpreter depend on whether [`RuntimeCompatibilityAttribute.WrapNonExceptionThrows`](https://msdn.microsoft.com/en-us/library/system.runtime.compilerservices.runtimecompatibilityattribute.wrapnonexceptionthrows) is set for the executing assembly?

[2016-02-04 18:54] muratg commented on #5843
Yup agreed. I think EF may care about this one.

[2016-02-04 19:03] terrajobst commented on #5899
Tagging a few more folks: @blackdwarf @cartermp

That's a good questions. Let's see:

* `core-docs` is mostly for consumers of our tech.
* Documentation folder is mostly for documentation of the project and implementation details, such as book of the runtime (i.e. how the type system works, the interaction between GC and JIT etc).

So I think some amount of duplication is unavoidable and most like

[2016-02-04 19:07] stephentoub commented on #5832
Does a signal cause it to wake up with EINTR?

[2016-02-04 19:08] cartermp commented on #5899
:+1:  on having a glossary of terms on core-docs.  It could fit under the "Understanding the .NET Platform" as a standalone article.

[2016-02-04 19:09] chcosta opened #5900 "System.Numerics.Vectors generation validation is incorrect"
Currently since S.N.V was added inbox in .NET 4.6 we map that to generation 5.4 (ns 1.3).  When calculating the ideal generation we assume that a contract could never have been added out of band to a previous generation.

In the S.N.V case this assumption is incorrect.  It may be simplest to just to model this as supporting gen 5.2 or remove it from the seeds entirely.  If I look at the implementa

[2016-02-04 19:12] blackdwarf commented on #5899
+1 on the glossary.

[2016-02-04 19:19] asiekierka opened #5901 "NetBSD PCL Reference Assembly redistribution issue"
I am helping out in packaging CoreFX for NetBSD, however the build depends on the PCL reference assembly libraries, the license of which doesn't seem entirely clear to me as to whether or not redistribution of the PCL reference assembly as an operating system package (due to pkgsrc's source-based nature) violates its terms.

I would like to ask if the PCL reference assemblies (or the parts of them

[2016-02-04 19:20] JonHanna commented on #5898
It certainly fails when it's set. I imagine it's even worse when it's not, but haven't experimented with that yet. This came up when I was looking at something else, so I'll circle back on experimenting more later.

[2016-02-04 19:20] SamuelEnglard commented on #5899
@cartermp where's "Understanding the .NET Platform"? Can't find it.

[2016-02-04 19:23] cartermp commented on #5899
@SamuelEnglard, sorry, I was referring to the [table of contents structure](https://github.com/dotnet/core-docs/blob/master/docs/toc.md#understanding-the-net-core-platform).  I think having a glossary as a new article under there would be good, but we're open to other ideas.

[2016-02-04 19:25] SamuelEnglard commented on #5899
@cartermp ah yes, that does sound like a good idea

[2016-02-04 19:31] krytarowski commented on #5901
This issue blocks pkgsrc port and further porting for NetBSD.

[2016-02-04 19:36] SamuelEnglard commented on #5899
Looking around the docs in code-docs and we have repeating of information in our glossary and the docs. For example see [Overview of .NET Implementations](https://github.com/dotnet/core-docs/blob/master/docs/concepts/editions-overview.md)

[2016-02-04 19:41] andschwa opened #5902 "echo TTY mode disabled for launched processes"
Similar to #5109, if `Console.ReadKey()` has been used by a .NET program, the `echo` TTY mode is disabled. To resolve the prior issues, dotnet/coreclr#2561 re-enabled the `echo` mode on program shutdown.

However, we've run into a different scenario: launching a process from the .NET program inherits the TTY modes. So if you launch Bash from the .NET program, you can't type in it until you've expl

[2016-02-04 19:57] andschwa opened #5903 "System.AppContext.BaseDirectory returns location of native executable"
`System.AppContext.BaseDirectory` returns the location of the native host of .NET, which is not necessarily the same thing as the app's context. If we take "AppContext" to mean the location of the managed libraries that make up the app, these can exist in locations other than the directory that contains the native executable.

In our case, our native host uses the `CORE_ROOT` environment variable

[2016-02-04 20:04] mellinoe commented on #5901
I don't believe the build uses the PCL reference assemblies any longer. I know the documentation refers to them (https://github.com/dotnet/corefx/blob/master/Documentation/building/unix-instructions.md#known-issues), but I believe they are outdated. We've made lots of build-related changes fairly recently, especially to the x-plat build. All of the references we use are pulled from NuGet at the st

[2016-02-04 20:06] cesarbs commented on #5045
In which build will this fix be available?

[2016-02-04 20:17] krytarowski commented on #5901
While there - do we need .Net nuget or mono-nuget? Are they both interchangeable?

[2016-02-04 20:19] asiekierka commented on #5901
That is not true. I still get the following message if the assemblies are
not present:

    PCL reference assemblies not found. Please see
https://github.com/dotnet/corefx/blob/master/Documentation/building/unix-instructions.md
for more details.

2016-02-04 21:08 GMT+01:00 Eric Mellino <notifications@github.com>:

[2016-02-04 20:28] bartdesmet commented on #5898
To throw, we may need some helper that does the equivalent of the `throw` instruction without causing any wrapping. I'm not aware of such a helper in the BCL today though. To catch, we'd need a similar helper that has a `catch (T)` (where `T` is not derived from `Exception`) in it.

I don't think `RuntimeWrappedException` is an option here: if the location from where the exception is thrown is sub

[2016-02-04 20:49] VSadov commented on #5898
I have to admit I've never seen exceptions not derived from System.Exception actually used in practice.   It looks like a feature that did not take off.
For example it does not work with async due to the same limitations of BCL and yet noone finds that limiting.

I think documenting it as a limitation would be completely acceptable.

[2016-02-04 20:53] mellinoe commented on #5743
We should be able to move forward with this. What you have, @jasonwilliams200OK , looks good to me. We should also remove the uses of the PCL reference assemblies in build.sh (__referenceassemblyroot, etc.). I'm running a build from this branch now to see if everything works as expected:

https://github.com/mellinoe/corefx/commit/4eec886811319b26edac88896565536b6e859923

[2016-02-04 20:56] mellinoe commented on #5901
That's a very good point. See https://github.com/dotnet/corefx/issues/5743, we should be able to remove those out-dated checks in the build script now that we no longer need those components. I'm working on doing that now, and am running a build currently to make sure everything works as expected. In that issue @jasonwilliams200OK posted roughly the changes that you need to make to disable those c

[2016-02-04 21:02] JonHanna commented on #5898
It could also do with nicer exceptions (it hits an assertion in debug, and I'd guess an invalid program otherwise, but I have yet to get to checking just what it does through the various permutations), but beyond that even my inner pedant would probably be okay with letting this one go. It's hard to think of even an outlying use-case.

[2016-02-04 21:02] davidsh commented on #5045
The fix is available in the System.Net.Http package with a version number of v4.0.1-rc3-23803 or later. You can get this version from the CoreFx Dev feed:

https://dotnet.myget.org/gallery/dotnet-core

I do not know how/when DNX runtimes will import this latest version of System.Net.Http.

[2016-02-04 21:03] markentingh commented on #3760
This is affecting my project as well. It's strange, because it works when I execute dnx web from command-line, but when I try to press play from Visual Studio, the error occurs when I try using the SqlClient class (while attempting to log into an account within the website).

I just reformatted my Windows 7 laptop with a new clean copy of Win 7 Pro + Visual Studio 2015 Community Edition, and this

[2016-02-04 21:38] bartdesmet commented on #5898
Likely sufficient for the compiler behind the interpreter to detect unsupported throw/catch nodes and throw `NotSupportedException` rather than failing mysteriously.

[2016-02-04 21:45] bartdesmet commented on #5898
@VSadov - Any suggestion where we can document limitations? So far we have the following if I'm not mistaken:

- Passing `Type.Missing` to arguments (in interpreter)
- Non-atomic treatment of `ref`, e.g. relevant for `Interlocked` operations (in interpreter)
- Catch and throw with non-Exception types (in interpreter)
- Filters (not supported in compiler until BCL issue is fixed; implemented using

[2016-02-04 21:52] JonHanna commented on #5898
Yeah, I'm going to look at throwing exactly that, though I want to checkout all the permutations of current behaviour first in case there's any surprise behaviour that might actually be worth keeping as is.

On limitations, I'd rather we fixed those last two than documented them if possible, but haven't found the coreclr code as easy to dive into as corefx, since it doesn't have the same bite size

[2016-02-04 21:52] ericeil commented on #4854
Closing this as a duplicate of #4829

[2016-02-04 21:52] #4854 closed

[2016-02-04 21:54] ericeil commented on #4829
I think the test is just going to have to be a little more forgiving of which form of IPv6 loopback address it receives.

[2016-02-04 21:54] saurabh500 commented on #3423
Updated proposal https://gist.github.com/saurabh500/d27f5fcbfa7bcf12623b

[2016-02-04 21:54] JonHanna commented on #5898
Oh, we also have the behaviour in interpreter of mutable value type lhs to op-assignments. That one also seems like it should be fixable.

[2016-02-04 21:55] saurabh500 commented on #3423
@terrajobst PTAL

[2016-02-04 21:56] saurabh500 commented on #3423
#API for GetColumnSchema

##Problem
DbDataReader on .Net Framework, provides an API called `DataTable GetSchemaTable()` which was  returns the metadata of the columns
being read using the DbDataReader object. Because of the removal of DataTable in .Net Core this API had to be removed.
`DbDataReader.GetSchemaTable() `  needs a replacement in .Net core.

##Progress
To request a new API, an issue was

[2016-02-04 22:04] jasonwilliams200OK commented on #5901
@mellinoe, sorry I forgot to update on that one. The build failed at later stage. I don't have the log handy (forgot my mac charger somewhere), but it was something to do with missing packages.

@asiekierka, @krytarowski, CoreFx currently uses universal NuGet (from https://NuGet.org) via Mono on Unices. That is the only reason we have Mono dependency. But with #5743 fix, mono dependency to build C

[2016-02-04 22:09] jasonwilliams200OK commented on #5743
@mellinoe, the build failed for me after couple of minutes and I forgot to update here. If that is building fine. I will give it a try on some VMs and on OSX in couple of hours. This is a great achievement for docker/low-resource Unix environments! Thank you. :tada:

[2016-02-04 22:15] cartermp commented on #5899
Hmmm.  I think it's okay to have the repeating info for now.  We'll be adjusting and improving docs as .NET Core evolves.

[2016-02-04 22:17] NickCraver commented on #3423
@saurabh500 Thanks for writing all this up. I think the .Net desktop version is missing the conversion bits from the proposal, specifically this example both now (extension) and vNext (virtual):

[code]

[2016-02-04 22:18] krytarowski commented on #5901
Is it planned before the release?

[2016-02-04 22:23] jasonwilliams200OK commented on #5901
Apparently the milestone set for https://github.com/dotnet/corefx/issues/5743 (on right panel) is 1.0.0-rtm. So yup. :)

[2016-02-04 22:23] krytarowski commented on #4741
Regarding NetBSD, I suggest to go for 'netbsdN', where N is major version release, for example 'netbsd7'.

[2016-02-04 22:39] jasonwilliams200OK commented on #5899
@SamuelEnglard, generally a good suggestion. For glossary (list of collective terminologies) and other documents which do not get changed frequently, it would make sense to refactor them out in a common place like https://github.com/dotnet/core-docs.

However, for the rest of the docs around building, testing, coding and contribution guidelines etc., I would like to point out @sindresorhus's brief

[2016-02-04 22:47] saurabh500 commented on #3423
@NickCraver
For the first part. Thanks for pointing it out. I will make changes to align the code with the description using comments.

The second part about the *name of the interface*
`IDbColumnSchemaGenerator `:  I chose the name because I wanted to convey that the implementing class is a Column Schema Generator and a ProviderDbReader can implement this class to become a Column Schema Generator

[2016-02-04 22:52] mellinoe commented on #5743
@jasonwilliams200OK Do you recall where your build failed? Mine hasn't hit any issues, but has only finished about 1/3 of the libraries so far.

[2016-02-04 23:03] #5311 closed

[2016-02-04 23:05] SamuelEnglard commented on #5899
@jasonwilliams200OK I think you hit it right on the head.

So I'm thinking `glossary.md`'s content (if not the file itself) should be moved to core-docs. Other docs that should be moved I'm not sure of

[2016-02-04 23:29] JonHanna opened #5908 "Interpretter incorrectly handles void TryExpression with non-void parts"
It is not necessary for the body and/or catch blocks of a `TryExpression` to match the type of the expression if that type is void (or to look at it another way, all types can be "assigned" to void). As such the following is valid:

[code]

This works fine with the compiler. With the interpreter it unbalances the stack, leaking a value and throwing several asserts in Debug.

[2016-02-05 00:12] ericstj opened #5910 "TFS build should update BuildValues.props"
Now that we have packages in CoreFx it'd be great if those packages had consistent versions with the ones built in TFS.

Can we have the TFS build update https://github.com/dotnet/corefx/blob/master/src/BuildValues.props?

[2016-02-05 00:12] ericstj commented on #5910
/cc @weshaggard @chcosta @jhendrixMSFT

[2016-02-05 00:33] corivera commented on #5853
Fixed by https://github.com/dotnet/corefx/pull/5851

[2016-02-05 00:33] shmao opened #5912 "[Port Fix from Desktop] Stress issue in Serialization ObjectToIdCache"
There was a stress issue with System.Runtime.Serialization.ObjectToIdCache. The bug had been fixed on desktop. We should port the fix to .Net Core.

[2016-02-05 00:34] #5853 closed

[2016-02-05 00:34] corivera commented on #5828
Fixed by https://github.com/dotnet/corefx/pull/5851

[2016-02-05 00:34] #5828 closed

[2016-02-05 00:36] #5601 closed

[2016-02-05 00:51] #5291 closed

[2016-02-05 00:51] mellinoe commented on #5743
I actually did hit some issues when I didn't use the PCL reference assemblies. A small number of projects are still using the PCL references but can be easily switched off. Another issue also cropped up regarding unused using statements (to namespaces absent from any referenced assembly), which should also be easy to fix but will require going through a bunch of source files and cleaning up the us

[2016-02-05 00:52] ericeil commented on #3748
Closed with #5907

[2016-02-05 00:52] #3748 closed

[2016-02-05 00:52] ericeil commented on #3744
Closed with #5907

[2016-02-05 00:52] #3744 closed

[2016-02-05 00:52] ericeil commented on #3682
Closed with #5907

[2016-02-05 00:52] #3682 closed

[2016-02-05 00:53] ericeil commented on #3494
Closed with #5907

[2016-02-05 00:53] #3494 closed

[2016-02-05 00:58] terrajobst commented on #3423
@saurabh500

Thanks for writing this up. In to keep things organized I propose that:

* We close this issue.
* @saurabh500 creates a new issue and copy as pastes the above write up in there.

As refinements are made, we update the description. The reason I say this is because finding the latest version of a proposal is otherwise a daunting task.

[2016-02-05 01:25] saurabh500 opened #5915 "API for retrieving Columns Metadata from DbDataReader"
# API for GetColumnSchema

## Problem
DbDataReader on .Net Framework, provides an API called `DataTable GetSchemaTable()` which was  returns the metadata of the columns
being read using the DbDataReader object. Because of the removal of DataTable in .Net Core this API had to be removed.
`DbDataReader.GetSchemaTable() `  needs a replacement in .Net core.

## Progress

The data structure DbColumn al

[2016-02-05 01:27] saurabh500 commented on #3423
@terrajobst I have opened issue #5915 for API review
That would help track feedback for the API.

@NickCraver Can you close this issue? We can follow this up on #5915

[2016-02-05 02:49] #3423 closed

[2016-02-05 02:49] terrajobst commented on #3423
Thanks!

[2016-02-05 02:52] terrajobst commented on #1168
That would seem reasonable to me.

Others?

[2016-02-05 02:58] terrajobst commented on #5868
Seem very reasonable to me.

@weshaggard @KrzysztofCwalina

[2016-02-05 03:08] weshaggard commented on #5868
agreed.

[2016-02-05 05:05] tfenise commented on #1168
What about 3D or 4D vectors?

[2016-02-05 13:02] sadrover opened #5920 "Configure ThreadPool"
Hello,

There is some way to configure the threadPool and the ConnectionLimit in DNX Core 50?
We use this configure in dnx 451:
            ThreadPool.SetMinThreads(50, 50);
            ThreadPool.SetMaxThreads(10000, 10000);
            System.Net.ServicePointManager.DefaultConnectionLimit = int.MaxValue;

How can I put this parameters in core?

Thank you

[2016-02-05 15:15] dajuric opened #5921 "Proposal for minimalistic imaging platform"
## Proposal for minimalistic imaging platform
The .NET does not provide the truly portable image format nor portable image IO operations.
For example System.Drawing.Bitmap nor WPF's BitmapSource and does not provide generic interface which imposes compile-time constraints. EmguCV's generic image provides the generic interface but is heavily coupled with OpenCV.

All mentioned image types do not pr

[2016-02-05 15:33] redknightlois commented on #2209
Yet another place where JAVA is beating .Net in indexing technology because we don't have popcnt support. It is actually specifically called of as the reason of the performance improvement.

Better bitmap performance with Roaring bitmaps.
http://arxiv.org/pdf/1402.6407.pdf

BTW. I cannot implement this method because I don't have the supporting HW operations.

[2016-02-05 15:42] eerhardt commented on #4890
I haven't been able to repro this failure using the above procedure, and we haven't seen this issue in the CI lately. It more than likely was fixed with other changes in the area.

Closing. We can reactivate it if we start seeing it again.

[2016-02-05 16:09] benaadams commented on #5920
For threadpool can use environment variables: https://github.com/dotnet/cli/issues/889#issuecomment-172975280

So min+max threads would be setting these environment vars:
`ComPlus_ThreadPool_ForceMinWorkerThreads=50`
`ComPlus_ThreadPool_ForceMaxWorkerThreads=10000`

[2016-02-05 17:08] KrzysFR commented on #5474
I've been playing with `Unsafe.ReadPointer<T>(..)` to help me with a specific scenario, and I would like to know if this is safe to do, and if this is one of the intended usafe of this feature.

I'm using a lot of unsafe structs that are allocated on native heap, and are composed of some fixed size fields/headers, followed by one or more variable size arrays of bytes, pointers, other structs. One

[2016-02-05 17:41] jkotas commented on #5474
You should not need to use any of the Unsafe helpers discussed here. The following implementation of GetBytesInstance should work just fine:

[code]

[2016-02-05 17:46] KrzysFR commented on #5474
Doh, I just realized that using `fixed(SomeStruct* self = &this)` was already supported!

It never crossed my mind to used `fixed` because these structs are not managed, so it would not make any sense. The compiler error message I got when writing this sample specifically mentions `fixed`, but I prevsiouly saw variants that only mentioned the unfixed expression part.

Anyway, I'm still interested

[2016-02-05 17:47] #5886 closed

[2016-02-05 17:49] jkotas commented on #5474
It would be tiny bit faster. It is safe only if you guarantee that the struct does not ever live on the managed heap.

[2016-02-05 17:55] CarolEidt commented on #1168
Shuffles and permutations of more than a couple of elements are problematic with `Vector<T>`, and I'd love to hear of additional use cases. For shuffles of fixed-size vectors, I think a "field name" approach would be good, e.g.
[code]
I find it a bit more difficult to come up with good names for the permutes. It could get really cumbersome:
[code]

[2016-02-05 18:18] mjrousos opened #5925 "Add suggestions/samples for dealing with common missing desktop APIs"
Customers coming from a .NET desktop background are frequently running into issues with a few common feature areas that are missing/changed in .NET Core (in ways too general to be thoroughly covered by API catalog recommendations).

It would be great to have a page (maybe linked from [here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/support-dotnet-core-instructions.md)

[2016-02-05 19:17] KrzysFR commented on #5474
Thanks for the precision. It is indeed for case for me.

Also, I think that getting rid of the `fixed` statement would remove one level of indentation:
[code]
versus
[code]

[2016-02-05 19:35] andschwa commented on #5495
:+1: Things are working swell on 23729.

[2016-02-05 19:44] KKhurin opened #5927 "Leaking System.Net.Http.WinHttpRequestState in WCF Streaming over Http"
This is really fast - ~1GB per 1minute.
To repro:
[code]
Here are some details:
[code]

[2016-02-05 19:58] davidsh commented on #5927
We fixed a bug of this nature a while ago.  According to this repro log, you are using an old version of System.Net.Http:
C:\Users\kkhurin\.dnx\runtimes\dnx-coreclr-win-x64.1.0.0-rc1-update1\bin\System.Net.Http.dll
Fields:

Please make sure you use the latest version of System.Net.Http from the CoreFx dev feed:

https://dotnet.myget.org/gallery/dotnet-core
System.Net.Http	v4.0.1-rc3-23803

Note th

[2016-02-05 20:06] corivera commented on #5657
@jamesgibbs100 Are you still seeing this problem? It doesn't repro for me on SqlClient build 4.0.0-rc3-23726.

[2016-02-05 20:22] davidsh commented on #5927
Also, this WinHttpRequestState object will always be strongly pinned during the lifetime of the HttpResponseMessage. It shows from your log that the HttpResponseMessage object is still alive which means the .Content (response content) is still alive.

0:012> !do 000000841e3aa2a8 ; !do 000000859e5f4ab0
Name:        System.Net.Http.HttpResponseMessage
Fields:
              MT    Field   Offset

[2016-02-05 20:26] cesarbs commented on #5045
@davidsh Doesn't look it... I'm looking at the assembly in ILSpy and I don't see the fix there.

[2016-02-05 20:30] davidsh commented on #5045
@cesarbs I don't understand what you are saying.  Are you saying that you inspected the CoreFx dev feed latest binary of System.Net.Http and didn't see my fix?  Or are you saying that DNX is having trouble loading the updated binary?

Keep in mind that the actual IL for System.Net.Http is not in that DLL.  Rather it is redirected to the runtime*System.Net.Http* packages where there is a separate r

[2016-02-05 20:36] cesarbs commented on #5045
@davidsh I've inspected the IL for `runtime.win7.System.Net.Http` version 4.0.1-rc3-23803 and didn't see the fix there.

[2016-02-05 20:41] davidsh commented on #5045
The PR was merged into dotnet/corefx [master].  So, the fix is in the repo.  It was merged a few days ago, so it should be in the builds.

[2016-02-05 20:49] corivera commented on #5745
Not an issue. System.Data.Common doesn't use any functionality that's Windows-specific.

[2016-02-05 20:49] #5745 closed

[2016-02-05 20:50] davidsh commented on #5045
Ok.  I looked in the DLL itself:
[code]

and you're right.  The fix is not there.  I suspect it is because the build is still not caught up fully. It should definitely be in the next build iteration (23804).

[2016-02-05 21:35] nguerrera opened #5930 "Generalize story for building multiple package versions"
See discussion on PR #5916. Right now, there's some custom path adjustment in metadata, but there should be a general way to cross-compile multiple versions as needed for all projects.

[2016-02-05 21:42] cesarbs commented on #5045
@davidsh Thanks for confirming :+1: I was afraid I could be doing something wrong :grin:

[2016-02-06 02:16] #5607 closed

[2016-02-06 02:17] corivera commented on #5607
Fixed in https://github.com/dotnet/corefx/pull/5938

[2016-02-06 02:34] CVertex opened #5939 "Can't locate TcpClient and TcpListener from Socket.Net.Sockets"
Hi .NET Core,

I like the direction of this project. It's fun to watch and see everything evolve..

Trying to upgrade an existing 4.5.1 project to .NET core on windows 10 and VS2015. It uses lots of TcpClient and TcpListener. From searching github repo, it appears like it's in the System.Web.Sockets package. However, these classes aren't visible to me on public nuget.

Including the package:

![im

[2016-02-06 02:54] davidsh commented on #5939
You need to select the 4.1.* packages of System.Net.Sockets.  The 4.0.* packages have a smaller API surface area.  Also, the NuGet org feed doesn't have the 4.1.* packages yet as stable but there are pre-release versions.

Example:
http://www.nuget.org/packages/System.Net.Sockets/4.1.0-beta-23516

This NuGet package has the 4.1 System.Net.Sockets API surface which includes classes like TcpClient.

[2016-02-06 05:20] CVertex commented on #5939
Thanks @davidsh . I tried that, and I get the same thing. Also, looks like I had 23516 installed already, unless project.json needs to show -pre in some way?

![image](https://cloud.githubusercontent.com/assets/120773/12864829/87729eca-cced-11e5-8e51-81acc6d2e2d5.png)

Cheers

[2016-02-06 05:22] tfenise commented on #1168
There are over 200 shuffles of Vector4. It might be impractical to have over 200 shuffle functions, let alone permutations.

For the complex case, I also suggest the following API or a equivalent one:
`public static Vector<T> Broadcast<T>(T odd, T even);`

There can also be shift or rotation API for `Vector<T>`, e.g.
`public static Vector<T> ShiftLeftOnce<T>(Vector<T>);`
`public static Vector<T> S

[2016-02-06 06:17] christiannagel opened #5940 "MulticastDelegate, BeginInvoke throws NotSupportedException"
Invoking the BeginInvoke method of a MulticastDelegate derived delegate compiles fine with .NET Core, but throws a NotSupportedException.
Should this really be the case?
Sample code is here, .NET 4.6 runs ok, but .NET Core fails with the mentioned exception:
https://github.com/ProfessionalCSharp/ProfessionalCSharp6/tree/master/Synchronization/SynchronizationSamples/AsyncDelegate

Thanks,
Christian

[2016-02-06 08:29] christiannagel opened #5941 "Using System.IO.Compression cannot resolve System.Buffers with .NET 4.6"
Using System.IO.Compression, 4.1.0-rc3-23805 cannot resolve System.Buffers compiling with .NET 4.6. It's ok with .NET Core. Compiling with "dotnet build".
Sample code:
https://github.com/ProfessionalCSharp/ProfessionalCSharp6/tree/master/FilesAndStreams/FilesAndStreamsSamples/CompressFileSample

[2016-02-06 10:03] Maxwe11 commented on #5939
@CVertex you need to target `dotnet5.5`

[2016-02-06 14:18] stephentoub opened #5942 "System.Net.Http.Native.so in package linked to libcurl-gnutls.so.4"
It should instead be linked to libcurl.so.4 (as is the one that gets built in Jenkins).

cc: @bartonjs, @chcosta

[2016-02-06 15:17] stephentoub opened #5943 "All corefx Ubuntu and OS X builds failing with OOMs and aborts"
A recent change in coreclr is causing all of these builds to fail non-deterministically with OOMs and/or aborts.  @jkotas is investigating...

[2016-02-06 15:49] jkotas commented on #5943
These failures were triggered by turning on NGen on Unix. The attempt to load NGen image fails with OOM intermittently on some machines/OSes. It never repros under debugger. I am adding temporary instrumentation to help us to trace this down #3062

cc @gkhanna79 @JohnChen0 @piotrpMSFT

[2016-02-06 16:22] stephentoub commented on #5943
Thanks, @jkotas. In the meantime, can we disable NGen on unix, at least for our CI builds?

[2016-02-06 16:33] jkotas commented on #5943
Yes, it would make sense. I am not able to figure out how it is turned on corefx - as far as I can tell the script to copy over coreclr is excluding native images for some reason already: https://github.com/dotnet/corefx/blob/master/netci.groovy#L250.

[2016-02-06 16:41] gkhanna79 commented on #5943
@weshaggard @stephentoub Is CoreFX consuming CoreCLR from ProjectKRel instead of ProjectK? If so, @ellismg can you please confirm that the PR (https://github.com/dotnet/coreclr/pull/2901) had its changes merged into ProjectKRel?

[2016-02-06 16:41] gkhanna79 commented on #5943
CC @davidfowl

[2016-02-06 17:00] stephentoub commented on #5943
@ellismg, do you remember why we do this?

It's using ``**/*.ni.dll```, and if I remember correctly that ``**`` syntax requires turning on the globstar setting in the shell... @mmitche, is it possible that setting (i.e. ```shopt -s globstar```) isn't enabled for Ubuntu and OS X in the lab?

[2016-02-06 17:22] stephentoub commented on #5943
For Unix, neither... we pull the latest successful release build from the Jenkins build of the coreclr repo.

[2016-02-06 19:16] JonHanna opened #5945 "ListInitExpression with non-void Add method fails with interpreter"
An expression of the form `() => new HashSet<int>{ 1, 2, 3}` works fine with the compiler, but fails with the interpreter with a `TargetException` (or an assertion failure in debug), or possibly some other bad things with variants of this.

The interpreter is assuming that `Add()` methods return void, so doesn't deal with the value pushed to the stack by a method like `HashSet<int>.Add()` that ret

[2016-02-06 19:32] saf-itpro commented on #2089
Integrating at least a basic functionality of searching Active Directory users and mapping them with custom roles with ASP.NET 5 will ease the implementation of Windows Authentication into ASP.NET web applications. We need this functionality at our intranet site.

[2016-02-06 20:15] ellismg commented on #5943
We excluded native images because before we had NIs on Linux we'd sometimes pick the Windows version (this was common when we'd start with the Windows runtime from packages and then stomp over it with Linux versions, we needed to either delete mscorlib.ni.dll or never copy it over).

There is probably similar logic in run-test.sh that we should clean up.

[2016-02-06 20:35] ellismg commented on #5943
Also, [we delete mscorlib.ni.dll before running the tests](https://github.com/dotnet/corefx/blob/master/run-test.sh#L169) with run-test.sh, so even if it was getting copied over, it should be removed?

[2016-02-06 20:36] ellismg commented on #5942
Which distros?

[2016-02-06 20:38] stephentoub commented on #5942
Ubuntu. Haven't checked others.

[2016-02-06 20:50] JonHanna opened #5946 "ListInitExpression from Expression list fails with multiple expression types."
Consider:

[code]

The likes of `() => new MixedAddable { 1, "a", 2, "b", 1.0 }` works fine, but the following fails:

[code]

It's assumed that the correct `Add` method for the first expression is also correct for the rest, though this doesn't necessarily hold.

[2016-02-06 20:50] JonHanna commented on #5946
cc: @VSadov @bartdesmet

[2016-02-06 21:55] #5436 closed

[2016-02-06 21:55] #5829 closed

[2016-02-06 22:12] bartdesmet commented on #5946
Good catch! Maybe it was some kind of optimization to avoid having to resolve an Add method for each element.

[2016-02-06 22:44] JonHanna commented on #5946
I'd guess so. Resolving them each time is a waste for the most common cases, and I could see how that could have been the only case considered. In the PR I memoise the type and method so that for such common cases I only add an n - 1 checks that the type is the same, rather than n - 1 method resolutions.

[2016-02-06 23:24] stephentoub opened #5949 "ArrayPool<T>.Rent may give back too small a buffer if bad buffer returned"
The second call to Rent here returns the previously returned array of length 1, such that the last line here throws an IndexOutOfRangeException due to getting too small a buffer back from Rent:
[code]

[2016-02-07 00:18] JonHanna opened #5950 "System.Xml.XDocument.TreeManipulation.Tests failing for OSX Release in CI"
Looks like something whitespace or end-of-line related from the error message.

[2016-02-07 00:30] Page-Not-Found commented on #4316
@terrajobst Is there any update on this ?

[2016-02-07 00:37] jkotas commented on #5943
It turns out that the corefx failures have different root cause, not related to native images....

[2016-02-07 00:41] jkotas commented on #5943
@stephentoub Does the corefx CI run fine with live coreclr builds now?

[2016-02-07 00:54] stephentoub commented on #5943
Earlier today I locked our PR builds to use an older coreclr. Let me undo it and see if things continue to work (but I'm hopeful they will, as I didn't touch the main builds and those seem to be working, too.)

[2016-02-07 03:01] mellinoe commented on #5950
I was seeing this on my Ubuntu VM on Friday as well, for another data point.

[2016-02-07 03:35] JonHanna opened #5951 "Incorrect argument name for null initializer to Expression.ListInit"
If an initializer to `ListInit` is null the exception should give the argument name as "initializers[0]", etc. Instead it can be "argument", "arguments" or "initializers" depending on the overload used.

[2016-02-07 04:57] ellismg commented on #5942
I believe this should be fixed in Monday's official build.

[2016-02-07 10:34] #5668 closed

[2016-02-07 14:34] ckuhn203 commented on #2022
@KrzysztofCwalina what would you consider a "solid proposal". I too think the API needs some work, and you're right, this goes beyond the classes originally mentioned and into a great portion of the API in general. I'm absolutely sure that people working on cross platform stuff struggle with this as the file systems for different platforms are vastly different. Having a nice abstraction to work wi

[2016-02-07 15:13] AArnott opened #5952 "Add frameworkAssembly entries on desktop when facade is inbox"
When I install the System.Runtime.Numerics package to a portable library, I can use `BigInteger`. But when I install the same package to a net45 targeted project, no reference is added.

.NET 4.5 includes System.Numerics.dll in the framework. But in a project.json world where we try to express all references as packages, and such a facade package exists for BigInteger, I'm surprised it doesn't wor

[2016-02-07 20:34] stephentoub commented on #5943
Seems to be mostly fixed.  We are still seeing a sporadic failure on OS X in the PLINQ tests that we didn't previously see:
[code]
May be unrelated.  I've not reproed it locally yet.

[2016-02-07 20:37] #3256 closed

[2016-02-07 20:52] jkotas commented on #5943
Thanks for checking ... let's open a new issue on the PLinq test failure if necessary.

[2016-02-07 20:52] #5943 closed

[2016-02-07 21:40] dsyme commented on #3103
@mellinoe @yishaigalatzer  A couple of things

* No issue was raised in the F# repository when you closed this. Please always make sure that you raise an appropriate issue when closing a bug as external (and add a link).

* The bug surfaces when exercising Nuget functionality, please do an initial investigation to determine a likely cause of the problem. See [this comment on the newly opened Nuget

[2016-02-07 22:11] davidsh commented on #5939
That is not correct.  System.Net.Sockets 4.1 contract is supported now for UWP apps:

See \src\System.Net.Sockets\ref\System.Net.Sockets.csproj:

[code]

[2016-02-07 22:12] davidsh commented on #5939
cc: @CIPop @ericstj @stephentoub

[2016-02-07 22:19] onovotny opened #5955 "System.Reflection.Extensions 4.0.0 won't install on Xamarin"
The existing System.Reflection.Extensions 4.0.0 package seems to be broken on Xamarin. While it has a `\ref\dotnet` directory, there are not `\lib\xamarinios`, `\lib\monotouch` or `\lib\monoandroid` or `\lib\dotnet` directories to match those platforms.

This differs from System.Reflection 4.0.0 and the other CoreFX libraries that **do** contain the Xamarin folders.

This is causing an issue with

[2016-02-07 22:46] Maxwe11 commented on #5939
@davidsh just create project using template `Class library (Universal Windows)` install System.Net.Sockets 4.1 and try to use TcpClient.

[2016-02-07 23:05] davidsh commented on #5939
What happens if you try to create a UWP itself (not a class library)?

cc; @SidharthNabar

Also, what version of Visual Studio are you using?  2015?  And did you install Update 1 or something else?

The intent is that System.Net.Sockets 4.1 contract should work on both dnxcore50 targets (ASP.NET Core 1.0 previously known as ASP.NET v5) and netcore50 targets, i.e. UWP Store Apps for Windows 10.

It

[2016-02-07 23:28] Maxwe11 commented on #5939
I'm using VS 2015 Update 1.

Same thing - TcpClient not available.

[2016-02-08 01:42] JonHanna commented on #5946
Reading over the documentation, this is *nearly* as documented. The example given failing is as-documented, but it can be strange with some overloads; if there was an overload that took `object` and one that took `string` then it would be accepted if the first initializer wasn't a `string` but the second was, but the second would be passed to the `object`-taking overload.

To make the behaviour ma

[2016-02-08 03:37] stephentoub commented on #5750
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst_prtest/548/console
[code]

[2016-02-08 10:18] andrew-vandenbrink opened #5960 "Dll Hell for System.Diagnostics.Process"
![image](https://cloud.githubusercontent.com/assets/12871379/12882732/dd604c08-ce53-11e5-86d1-5201bc4e56cf.png)

Add using statement

![image](https://cloud.githubusercontent.com/assets/12871379/12882744/f0fe07b4-ce53-11e5-948c-6e0a6aad3cab.png)

Add nuget package
System.Diagnostics.Process 4.1.0-beta-23409

![image](https://cloud.githubusercontent.com/assets/12871379/12882812/604c4d74-ce54-11e5-8

[2016-02-08 10:43] adamsitnik commented on #5960
Could you post your project.json file?

[2016-02-08 10:49] andrew-vandenbrink commented on #5960
[code]

[2016-02-08 11:01] adamsitnik commented on #5960
Could you try to move dependency "System.Diagnostics.Process": "4.1.0-beta-23516" from general to framework specific?

[code]

[2016-02-08 11:04] andrew-vandenbrink commented on #5960
Thanks It works!

What is the problem? Nuget?

[2016-02-08 11:10] adamsitnik commented on #5960
Each nuget package defines now which frameworks it supports. I suspect that Process is a part of net451 framework, where for dotnet5.4 it is a separate package.

VS sometimes shows the dependencies in tooltip when you are editing project.json file.

[2016-02-08 11:11] andrew-vandenbrink commented on #5960
ok.. thank you will close this one..

[2016-02-08 11:11] #5960 closed

[2016-02-08 12:08] venknar commented on #4638
What should be the package that I need to include for referring XmlTextWriter ? I am getting the error - error CS0246: The type or namespace name 'XmlTextWriter' could not be found (are you missing a using directive or an assembly reference?)
I included the following in my project.json  "System.Xml": "4.0.0.0"

I am trying to build for .Net core

[2016-02-08 12:39] Sjark commented on #2089
This is a blocker for us as well. We need to be able to auth, query users and groups, create new user and groups etc against a ldap server.

[2016-02-08 13:28] stephentoub commented on #4628
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_release_tst_prtest/1581/console
[code]

[2016-02-08 13:37] SimonSiefert commented on #2089
It is also a blocker for me - I require quering and authenticating users.

[2016-02-08 13:40] JonHanna opened #5963 "MemberInit will write to readonly fields on interpreter"
Given:

[code]

Then `Expression<Func<PropertyAndFields>> exp = () => new PropertyAndFields{ReadonlyStringField = "Hello Readonly Field"}` won't compile (CS0191).

However, this is accepted:

[code]

If compiled with the compiler then attempting to invoke the delegate throws a `VerificationException`. If compiled with the interpreter then invoking the delegate returns a `PropertyAndFields` object

[2016-02-08 14:19] xied75 opened #5964 "Expose existing FileStream.Lock() and FileStream.Unlock() APIs on MacOS/Unix"
Dear Team,

As the subject line states we seek the consideration to add Lock() and Unlock() for FileStream in the contract. The implementation should be straight forward at least for Windows platform. Current .NET 4.61 calls Win32 LockFile underneath:
https://msdn.microsoft.com/en-us/library/windows/desktop/aa365202(v=vs.85).aspx

Although we don't have access to LockFile for UWP, we do luckily ha

[2016-02-08 15:16] stephentoub commented on #5902
@andschwa, can you share a small C# repro we can use to confirm the problem and verify when it's fixed?  I tried:
[code]
but I can type fine in the launched process.

[2016-02-08 15:34] stephentoub commented on #5902
@pallavit, once @andschwa provides a repro, could you take a look at this?  My guess is we need to change how we handle initializing/uninitializing our terminal attributes, and that we need to reset the attributes in response to a variety of signals.  For example, rather than only setting the attributes at start and unsetting them at exit, we could handle signals like SIGTTOU, SIGTTIN, etc., setti

[2016-02-08 16:36] JonHanna commented on #5963
`Expression.ListBind` and `Expression.MemberBind` has analogous issues.

[2016-02-08 16:49] joperezr commented on #5733
Closing since this was enabled with #5911

[2016-02-08 17:21] JonHanna opened #5965 "Expression.ListBind accepts non-addable properties if element list is empty."
`Expression.ListBind` will accept a property or field that is not of a type with an `Add` method, though it should require such.

The validation only passes fully if the element list is empty, as otherwise an attempt to create an `ElementInit` for such a type will fail.

Example:

[code]

[2016-02-08 17:30] JonHanna commented on #5945
This also affects `ListBind()`, with the same fix also fixing that case too.

[2016-02-08 17:32] SidharthNabar commented on #5939
@davidsh is right - we had intended System.Net.Sockets v4.1 to work on UWP in its current version. @ericstj - do you know what the underlying issue could be that is preventing Sockets 4.1 from working in UWP?

[2016-02-08 18:21] cesarbs commented on #5045
Even with the fix in place, I am still seeing the exact same behavior. Reopening.

[2016-02-08 18:50] mellinoe commented on #5952
@ericstj

[2016-02-08 19:37] maxpa1n87 opened #5967 "System.Web.Services in mono tag 4.2.2.30 referencesource"
Hi, I'am using mono tag mono-4.2.2.30 and if I build a WebService using MonoDevelop 5.10.1 launching it using xsp also from git version 3.0.11 I get an exception showing me the following

System.ArgumentNullException
Value cannot be null.
Parameter name: path1

Description: HTTP 500.Error processing request.

Details: Non-web exception. Exception origin (name of application or object): mscorlib.
E

[2016-02-08 19:41] AlgorithmsAreCool commented on #5949
The issue looks like the unguarded usage of Utilities.SelectBucketIndex(int) in buffer DefaultArrayPool Return can violate the minimum size assumption of the class.

Any buffer smaller than length 16 should be discarded, not returned to the pool. It looks like trusting SelectBucketIndex will end up dropping undersized arrays back in _buckets[0]. Perhaps DefaultArrayPoolBucket should additionally g

[2016-02-08 19:43] AlgorithmsAreCool commented on #5949
I could submit a fix if it would help, it looks very minor.

[2016-02-08 20:26] davidsh commented on #5045
Can you clarify on which build you tested?  Also, if you are using DNX, it doesn't load newer System.Net.Http binaries due to how the DNX runtime works.  So, I'd like to understand how you tested this?

We tested the fixes in CoreFx with an explicit set of new tests and those tests pass.

[2016-02-08 20:34] ericstj commented on #5952
Yes, this is by design.  We don't have any asset to harvest classic references from for inbox assemblies.  When this work was originally done @davkean and @nguerrera mentioned that the behavior was consistent with PCLs.

We could do better but it'd require some additional work during the package build.

[2016-02-08 20:49] hethert opened #5969 "Ubuntu 14.04.3 Corefx Build Error"
Following instructions here https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md

CoreCLR builds ok. Corefx gets following error

~/git/corefx$ ./build.sh
Setting up directories for build
MSBUILD : error MSB1025: An internal failure occurred while running MSBuild.
System.EntryPointNotFoundException: Unable to find an entry point named 'SetConsoleCtrlHandler' i

[2016-02-08 21:07] sokket commented on #5949
Hmm it seems like there could be a small change to the Bucket class where, on Return, we check if the array length == the expected length and if it doesn't, just drop the array; that seems like it would be the most targeted fix. That way, if we change the bucket size algorithm to support sizes smaller than 16, we don't have another special case...does that make sense to everyone?

[2016-02-08 21:11] joperezr opened #5970 "Fix OSX and Ubuntu Jenkins OuterLoop Runs"
The OuterLoop runs for OSX and Ubuntu are currently failing because Microsoft/msbuild#471 so depending on when the fix for that is comming, we should either wait for the fix, or have a workaround that would basically pass in a different paramenter to the build command and that would then become an itemgroup as part of a task.

[2016-02-08 21:30] terrajobst commented on #5868
Sounds good. Since there is no push back, I'm marking this API as approved as proposed.

[2016-02-08 21:47] stephentoub commented on #5949
Wouldn't we want to throw?  This definitively means a buffer is being returned to the pool that didn't come from the pool, right?

[2016-02-08 22:00] stephentoub commented on #5964
It can be done with fcntl and F_SETLK.

[2016-02-08 22:12] pallavit commented on #5902
@stephentoub Sure, I will take a look. @andschwa Please share a repro.

[2016-02-08 22:13] sokket commented on #5949
Ah yes, sorry...throwing would be much, much better in this case

[2016-02-08 22:16] cesarbs commented on #5045
@davidsh I've put it all here: https://github.com/cesarbs/HttpClientCredentialRepro

[2016-02-08 22:53] sokket commented on #5949
I have a PR out to fix this now as well as a UT to validate

[2016-02-08 23:09] onovotny commented on #5955
System.Net.Http 4.0.0 is another one. This should be compatible with Xamarin already as it has the facades and is .NET 4.5 compatible. The package just needs the lib entries for it with `_._` in the right places... or a `netstandard1.x` entry as a catch-all.

[2016-02-08 23:30] mellinoe commented on #5969
Yes, I'm seeing the same on Ubuntu 15.04. @joperezr, something must have changed recently in the Tools runtime we're using that makes it no longer compatible with the version of MSBuild we are using. Do we know if MSBuild is going to provide a self-contained executable that we can use to avoid issues like that?

[2016-02-08 23:33] andschwa commented on #5902
This repros with the internal project you should both have access to; however, I understand the additional amount of complexity involved with said project. I'll assign one of our contractors to debug this until we can repro outside said project.

@palladia Pulling you into this discussion, I've assigned our linked issue to you. In order to fix this, the CoreFX team needs a repro outside our projec

[2016-02-08 23:34] ericeil commented on #4007
Moving this to "future."  We should implement this if there is demand.

[2016-02-09 00:10] NickCraver commented on #3529
Any update on C# 6 support? I was looking at #5968 and it's another in a series of issues I see benefiting from this support. It even goes so far as to impact the API discussion because of the maintenance costs C# 6 reduces. I assume there's a tooling issue somewhere blocking the move?

[2016-02-09 00:15] SamuelEnglard commented on #5574
Could you go into more details about what about them needs updating?

[2016-02-09 00:21] #5411 closed

[2016-02-09 00:22] saurabh500 opened #5976 "Change the DbColumn Indexer to use nameof(property)"
The issue https://github.com/dotnet/corefx/pull/5968 allows the access of attributes of DbColumn using the name of the properties.

For better maintainability, the implementation of the indexer should use the nameof(property) instead of the names as strings.

This can be done with upgrade of CoreFX repo to C# 6.0 being tracked by #1316

Refer pull request for further details https://github.com/dot

[2016-02-09 00:32] joperezr commented on #5969
That is weird, I just tried a clean build in my ubuntu machine and I'm not seeing that. Could you guys try manually deleting the Tools folder on the root of your enlistment and try again?

[2016-02-09 00:44] ericeil commented on #5283
Failed again: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/1889/testReport/junit/System.Net.Security.Tests/SslStreamStreamToStreamTest/SslStream_StreamToStream_Successive_ClientWrite_Sync_Success/

[2016-02-09 00:46] mellinoe commented on #5969
Yeah, like I mentioned offline I actually don't see this anymore if I clean out my Tools directory and re-install it. @hethert Could you try doing the same, cleaning out your Tools directory and re-running build.sh?

[2016-02-09 01:12] terrajobst commented on #5381
Considering we're all on the same page now and the only thing pending is the dev work, I've marked the change as approved.

[2016-02-09 02:09] akoeplinger commented on #5967
There's a pending PR on https://github.com/mono/referencesource/pull/22 that should fix this issue.

[2016-02-09 02:14] jamesqo opened #5980 "Consider exposing the WinRT targeting pack on NuGet"
Hi, I'm trying to write a DNX-based library that will compile on both WPF and Windows 10. This is what my project.json looks like:

[code]

And this is what my C# code looks like:

[code]

While I have no trouble compiling the code for WPF, the compiler isn't recognizing types like `DependencyProperty` for UWP. I eventually narrowed it down to the fact that it was missing the reference to `Windows

[2016-02-09 02:23] mellinoe commented on #5980
@weshaggard Do we have any plans for this?

[2016-02-09 02:36] #5826 closed

[2016-02-09 03:06] terrajobst commented on #5955
@ericstj, do you know what the right fix is? I assume that's not something we can easily do ourselves because it requires Mono/Xamarin to provide these APIs, right?

/cc @weshaggard @pallavit @AtsushiKan

[2016-02-09 03:13] onovotny commented on #5955
Does this actually require APIs or just a blank TFM entry for nuget? The net45 tfm's don't have an impl and Xamarin should be compat with that.

[2016-02-09 04:01] TingluoHuang opened #5982 "TraceSource: Will support load setting from App.config file?"
The original System.Diagnostic.TraceSource support define tracesource/sourceswitch/tracelistener in app.config xml. Will that be support in the near future for dotnet core?

Thanks,
Ting

[2016-02-09 04:18] ericstj commented on #5955
This is fixed in the latest packages on myget.  https://dotnet.myget.org/gallery/dotnet-core

[2016-02-09 04:22] ericstj commented on #5955
Looks like HttpClient still needs placeholders.  @mhutch I take it you'd want us to treat this one like the others as it would be inbox for Xamarin?

[2016-02-09 05:01] CVertex commented on #5939
Thanks for looking into this.. I'm keen to get my project migrated. Any ETA?

[2016-02-09 05:07] benaadams commented on #1942
Any update on this? There is [a scenario](https://github.com/aspnet/HttpAbstractions/issues/553#issuecomment-181493777) where hashing is 18.75% of runtime; the common case would likely be a single value (so a double hash). The current pattern is:
[code]
Flipping this to
[code]
e.g. only adding `TryAdd` would be worse in the multi-value case but much better for the common case.

Re: items from  the

[2016-02-09 07:06] #5555 closed

[2016-02-09 09:09] SamuelEnglard commented on #5921
Just a note about storing the image data: Don't do it in managed memory. I've been doing lots of image processing and writing my own "Bitmap" types. I learnt this leading the hard way.

I'll have to see if I can show any of my work or it's stuck under NDA

[2016-02-09 11:38] KrzysFR commented on #5474
I've done some tests with NBench, to compare the speed of the three methods (static with pointer, instance + fixed, instance + Unsafe.AsPointer), and the speed difference between fixed and Unsafe.AsPointer is almost inexistant, while the static version is a lot faster.

Result of NBench (x64, RyuJIT)

             Method |   AvrTime |     Error |
------------------- |---------- |---------- |
 Inst

[2016-02-09 12:14] mikedn commented on #5474
It isn't inlined, the IL of AsPointer appears to be
[code]
The argument is a managed pointer but the declared return type is an unmanaged pointer. The JIT doesn't inline the method because the types do not match. I think there's should be a `conv.u` after `ldarg.0`.

[2016-02-09 12:49] nietras commented on #5474
@mikedn I did not know that was an issue, but I haven't perf tested `AsPointer` much so it could definitely be an issue. I was wondering why this is the case for the JIT? Inlining rules are pretty important, why does this prevent inlining? Is it a general rule? Even in the face of `AggresiveInlining`?

@jkotas does this make sense? Should `AsPointer` be defined as?
[code]
I can easily change this

[2016-02-09 12:51] onovotny commented on #5955
@ericstj How would the newer 4.0.1 packages play in practice with NuGet? NuGet always uses the lowest version and the current state is that packages relying on the 4.0.0 S.R.E package fail to install on Xamarin.

Does this mean that any package using PCL 259/the 4.0.0 contract dependencies will need to update themselves to pull in the 4.0.1 package just to prevent install issues on Xamarin? That s

[2016-02-09 13:37] mikedn commented on #5474
It is a general rule in the current JIT, there's some code in the JIT's importer that looks like:
[code]
I suspect that the condition could be relaxed but that may require the JIT to automatically insert the `conv.u` to keep other compiler pieces happy. Ultimately conversion from a managed pointer to an unmanaged pointer is potentially dangerous so it makes sense that an explicit conversion is req

[2016-02-09 14:04] dajuric commented on #5921
Can you elaborate why not to store the image data in the managed memory ?

I have also been doing a lot of image processing and created two frameworks ([Accord.NET Extensions](https://github.com/dajuric/accord-net-extensions) and [DotImaging](https://github.com/dajuric/dot-imaging). After many iterations I have concluded that it is the easiest to store the data into managed memory and if you need

[2016-02-09 15:34] #2075 closed

[2016-02-09 15:41] akoeplinger opened #5986 "ref source files are missing the API review note"
Compare [System.Linq.cs#L1-L5](https://github.com/dotnet/corefx/blob/40723b795917f2e98b64d45c17effb2546dd0cae/src/System.Linq/ref/System.Linq.cs#L1-L5) to the latest [System.Linq.cs#L1-L5](https://github.com/dotnet/corefx/blob/998d957a1090cbfde70a12a1084f9304d8b62157/src/System.Linq/ref/System.Linq.cs#L1-L5).

The latest is missing the `Changes to this file must follow the http://aka.ms/api-review

[2016-02-09 16:35] CarolEidt commented on #5474
@AndyAyersMS may want to comment, as he is working on refactoring (and ultimately tuning) the inlining code in the JIT. The JIT could potentially try to do something to adjust for a mismatch, but I think it could be potentially error-prone or unsafe, and of limited value.

[2016-02-09 16:43] jkotas commented on #5474
Yes, it makes sense - it is the right way to address this problem.

[2016-02-09 16:43] weshaggard commented on #3529
@NickCraver we are very close I've asked @joperezr to set our builds up to use the roslyn toolset package for all our builds (right now it is only used by our x-plat builds) once that happens we sill open the door for using C# 6.0 everywhere in corefx.

@joperezr did you file an issue for tracking the toolset update? if not please do.

[2016-02-09 17:05] ericstj commented on #5955
The requirement around actually being careful around which version of a package you reference goes away in the latest packages.  Before you had to be careful not to reference a version that was too high or you'd lose support for a platform that didn't support that API.  Now with `netstandard` we encode all API in the latest packages, so choosing the latest is safe.

[2016-02-09 17:10] onovotny commented on #5955
That's great! So I assume that means that something like System.Net.Sockets would have a `netstandard1.0` `ref` with one surface area and a `netstandard1.4` with a wider surface area?

[2016-02-09 17:19] ericstj commented on #5955
Yeah, though Sockets in particular wasn't on `netstandard1.0` platforms.  https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md#list-of-net-corefx-apis-and-their-associated-net-platform-standard-version-tentative

[2016-02-09 17:21] xied75 commented on #5964
Was testing some code found on SO: http://stackoverflow.com/questions/1784195/using-lockfileex-in-c-sharp

Using the first solution by the OP himself, the code works in normal project, once I tried it within a UWP unit test (with xunit), it gives me this:

[code]

In fact calling lock() returned true, but after that if I do ReadByte() it will break.

[code]

Not sure is this due to the code just s

[2016-02-09 17:25] onovotny commented on #5955
Fair enough re sockets, I was just using an example but that wasn't accurate in terms of version numbers :)

[2016-02-09 17:29] SamuelEnglard commented on #5921
Sorry about the bluntness and stating what really is a "in my case" as an "always". Replying to GitHub issues at 3 AM is never a good idea.

First a quick overview of my architecture:
**UnmanagedMemory**: This class is in charge of managing unmanaged memory. It handles allocation, deallocation, tracking usage, tracking total usage, preventing leaks, and provides friendly exceptions.
**BitmapPlus**

[2016-02-09 17:38] alsemenn opened #5987 "Process start doesn't resolve environment variables in the executable path."
If you use Process.Start(ProcessStartInfo) method on OSX (or any Unix OS) and a path to executable contains environment variables in it (this environment variables are passed to ProcessStartInfo.Environment). This variables will not be resolved and "System.ComponentModel.Win32Exception: No such file or directory" exception will be thrown.

This behavior is inconsistent with the Windows version.

N

[2016-02-09 17:39] alsemenn commented on #5987
If this is expected different behavior could you please update documentation with this difference.

[2016-02-09 18:17] joshfree commented on #5941
@sokket

[2016-02-09 18:23] #5951 closed

[2016-02-09 18:27] joshfree commented on #5925
/cc @richlander @martinwoodward

[2016-02-09 18:30] joshfree commented on #5964
/cc @ianhays

[2016-02-09 18:42] blackdwarf commented on #5925
/cc @terrajobst as well, since I think this is of great interest to him.

[2016-02-09 18:44] sokket commented on #5941
Taking a look now

[2016-02-09 18:47] dajuric commented on #5921
Hi Samuel,

   thanks for the reply. No need to apologize, I just wanted to show you the reasons why I chose the managed approach :)

### garbage collection
That bothered me too, and that is why my first implementation was unmanaged image Image&lt;TColor&gt;. I do not know much about GC design, but I can tell you what I have learned from experience.

The algorithms I write or use are related to vi

[2016-02-09 19:44] joshfree opened #5990 "Add Fedora 23 to CI / RID Graph / Packages"
https://getfedora.org/en/cloud/download/docker.html

https://fedoraproject.org/wiki/Releases

[2016-02-09 19:58] #5854 closed

[2016-02-09 19:59] SamuelEnglard commented on #5921
I do agree that features like unmanaged memory and unsafe code are less user friendly than "normal" C#. However, for base framework code they're not uncommon. The BCL is full of interop and that's fine because the average user is not messing with the interop code. They're using the nice managed APIs that are above it.

I wouldn't mind seeing those tests since in my testing unmanaged allocation and

[2016-02-09 20:03] AlexGhiondea commented on #5903
@andschwa have you tried overriding the value in your host?

Here is how we retrieve the value: https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/AppContext/AppContext.cs#L31

/cc @tarekgh

[2016-02-09 20:06] nietras commented on #5474
Thanks to all for the valuable info.

@KrzysFR I have updated https://github.com/DotNetCross/Memory.Unsafe (and the nuget package new version 0.2.1.0) so `AsPointer` now has the `conv.u` as specified by Mike. However, I do not really see any reason for you to use this in the case you have described. `new USlice(&key->Byte0, key->Size);` is probably as efficient as it gets and there is no reason fo

[2016-02-09 20:29] KrzysFR commented on #5474
@nietras Thanks I saw that, reran the benchmark, and now I'm getting the same performance as the static version. Though, curiously when I'm extracting the assembly code generated, I'm getting the exact same code as before (with the call) but performance points to it being inline...? _Probably an issue on my part, I'm not sure what is the most efficient way to extract the assembly from a test metho

[2016-02-09 20:35] mikedn commented on #5474
I think there's some sort of confusion between the what the code is supposed to be doing and how it does it. It's not about what pointers point to (value types, references types etc.), it's solely about the type of the pointers.

The `ldarg.0` instruction pushes a managed pointer (`TYP_BYREF` in JIT speak). The `ret` instructions expects to find an unmanaged pointer (`TYP_LONG` in JIT speak) on th

[2016-02-09 20:45] KrzysFR commented on #5474
Except when you are writing interop code with native memory, or using memory mapped files, where this becomes critical (if you want to remove copying). But I understand that it was not an intended use case when .NET/C# was first developped. So yes it is unusual in the sense that only low-level/high performance code (such as the Kestrel http server, or games engines, or databases, or JSON parsers)

[2016-02-09 20:47] mikedn commented on #5474
I don't understand how that justifies having mismatched types in IL. Is there's something that prevents the use of `conv.u`?