[2018-08-06 07:27] prajaybasu commented on #31606
Possibly a duplicate of #12034

[2018-08-06 07:43] danmosemsft commented on #31605
Hello, please take a look at the API proposal and review process described in the documentation in this repo, and edit this issue to be in the format requested there.

[2018-08-06 08:17] TheSatoshiChiba commented on #31583
I verified your example and it works perfectly fine. Which means it is not a problem with the Encoder. This issue is quite serious tbh as it affects certain unit tests in our product.

Some more information copied from the other issues I opened:
`\ud800\udd51\ud800\udd51\ud800\udd51\ud800\udd51` works fine when passed to the attribute.
`x\ud800\udd51\ud800\udd51\ud800\udd51\ud800\udd51` doesn't wo

[2018-08-06 08:53] dotnet-mc-bot opened #31608 "Test failure: System.ComponentModel.Composition.CompositionExceptionTests/Message_ShouldFormatCountOfRootCausesUsingTheCurrentCulture"
Opened on behalf of @Sunny-pu

The test `System.ComponentModel.Composition.CompositionExceptionTests/Message_ShouldFormatCountOfRootCausesUsingTheCurrentCulture` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.ComponentModel.Composition.CompositionExceptionTests.AssertMessage(CompositionException exception, Int32 rootCauseCo

[2018-08-06 08:56] dotnet-mc-bot opened #31609 "Test failure: System.Net.Sockets.Tests.SocketOptionNameTest/MulticastInterface_Set_AnyInterface_Succeeds"
Opened on behalf of @Sunny-pu

The test `System.Net.Sockets.Tests.SocketOptionNameTest/MulticastInterface_Set_AnyInterface_Succeeds` has failed.

Waiting for received data timed out\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Net.Sockets.Tests.SocketOptionNameTest.MulticastInterface_Set_Helper(Int32 interfaceIndex) in E:\A\_work\4\s\corefx\src\System.Net.

[2018-08-06 10:18] hazama-yuinyan commented on #29122
I tackled and found out that nested classes appear twice in the resulting assembly and this xml comment.
[code]

So I tried to emit nested classes first but it failed because of the relative virtual address. Because mdv.exe doesn't say "\<bad metadata>" in this case I don't know whether it's relevant to the error I'm encountering but how can I fix it?

[2018-08-06 12:18] 0xF6 opened #31610 "(139) - Seg Fault on NCurses 6.1 and NETCore 2.1"
Example code:

[code]
On start -> Process finished with exit code 139. (SegFault)

`dotnet: 2.1.302`
`ncurses 6.1.20180127`
`linux_kernel: x86_64 Linux 4.17.10-1`
`CPU: Intel Core i5-7440HQ @ 4x 3.8GHz`

Call `gdb --args dotnet ./app.dll` -> `run` ->

## GDB Log:
[code]
## Backtrace:
[code]

[2018-08-06 13:31] bartonjs commented on #31570
I think we were adding Memory-specific Trim as well (#30592).  So probably also

[code]

[2018-08-06 13:36] bartonjs commented on #31610
`COLORS` is a global int, but your P/Invoke declares it to be a function, and then invokes that function.

[2018-08-06 14:15] jkotas commented on #31583
This looks like https://github.com/dotnet/coreclr/issues/18269 . The fix will be included in Microsoft.NETCore.App 2.1.3.

[2018-08-06 14:27] hazama-yuinyan commented on #29122
Same for another global class. The constructor becomes empty after it rebuilds it.
Do you need the source code? Then I can copy and paste the (possibly) minimal reproduction code.

[2018-08-06 14:59] ietvijay opened #31611 "The buffers supplied to a function was too small"
Hi ,

I am getting this error while trying to make https get call using HTTPClient api. The issue is consistent and happens when i run a batch that makes https call . I am using HttpClient from Assembly System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a

The buffers supplied to a function was too small

The buffers supplied to a function was too small ----|---- STAC

[2018-08-06 15:05] JasonJShuler opened #31612 "Directory.EnumerateFiles and Directory.GetFiles recursive ignores folders starting with period"
In .NET Core 2.1, Directory.EnumerateFiles and Directory.GetFiles when run with the EnumerationOptions.RecurseSubdirectories = true does not look in folders that start with a period.

To repeat, run at command line:
[code]

Then in c# do the following:

[code]

files should contain both file1 and file2, but only file1 is returned.

[2018-08-06 15:30] JasonJShuler commented on #31612
Here is my workaround

`        public static IEnumerable<string> EnumerateFilesRecursive(string path)
        {
            foreach (var file in Directory.EnumerateFiles(path))
            {
                yield return file;
            }

            foreach (var subDir in Directory.EnumerateDirectories(path))
            {
                foreach (var subFile in EnumerateFilesRecursive(subDir)

[2018-08-06 15:48] davidsh commented on #31611
What version of Windows are you using?

What version of .NET Core are you using?

This sounds like a dupe of #7812.

[2018-08-06 17:16] hazama-yuinyan commented on #29122
OK, I've resolved the constructor problem. And because it's not happening in the real compiler, I could ignore the nested class problem, too. Sorry to disturb you.

[2018-08-06 17:22] AtsushiKan opened #31614 "CustomAttributeData's AttributeType property should be virtual."
### CustomAttributeData's AttributeType property should be virtual.

Proposal is to add "virtual" to `CustomAttribute.AttributeType`.

### Rationale

Today, this property is defined as follows:

[code]

Consider the plight of someone implementing a new TypeInfo model (like say https://github.com/dotnet/corefx/issues/2800) and is implementing custom attribute support.

Now who gets a `CustomAttribu

[2018-08-06 17:25] ietvijay commented on #31611
I am using Windows 7 Enterprise  Service Pack 1 and .Net core 2.0

[2018-08-06 17:30] davidsh commented on #31611
Windows 7 is affected by the issues that are described in #7812. Windows 7 as the client would be affected by certain TLS/SSL cipher suites that the server might be negotiating.  The problems described in #7812 are actually a bug in Windows OS due to certain TLS protocol cipher suites.

What HTTPS servers are you connecting to?  There are certain workarounds that can be done on the client or serve

[2018-08-06 17:34] jnm2 commented on #29122
You are not disturbing me, don't worry. I'm replying when I have time and knowledge.

[2018-08-06 17:35] hazama-yuinyan commented on #29122
Sorry to disturb you again. Although the assembly works now, ASCII strings become empty after it rebuilds the assembly and it segfaults because of UTF-8 strings. After debugging it, I found that correct strings and empty strings are added as user strings. Everything else seems to work fine.
Do you have any suggestions?

[2018-08-06 17:39] ietvijay commented on #31611
I am hitting third party Http REST api so no control over that.  My dev box is windows 7. but i have to test it at local first so what is the work around for Client side?
is this issue fixed in .Net Core 2.1 on windows 7?

Thanks!

[2018-08-06 17:46] davidsh commented on #31611
Work-around is detailed in #7812. It involves disabling certain cipher suites.  See: https://github.com/dotnet/corefx/issues/7812#issuecomment-305848835

If the problem is really #7812 then .NET Core 2.1 probably won't help.  But it is recommended anyways since it uses a newer, higher performance HTTP stack.

[2018-08-06 17:48] davidsh commented on #31560
Sounds like the question has been answered.

[2018-08-06 17:48] #31560 closed

[2018-08-06 18:00] ietvijay commented on #31611
Thanks David! I am trying to see best working solution for me.
Is this issue also present on .Net Full frameworks on win 7? or this is specific to .Net Core frameworks?

[2018-08-06 18:01] jnm2 commented on #29122
Did Reflection.Emit generate the UTF-8 strings? I didn't realize they were considered legal by the CLR.

[2018-08-06 18:05] hazama-yuinyan commented on #29122
I guess I made a mistake. It's encoded in UTF-16, though I didn't make sure I was right.

[2018-08-06 18:10] davidsh commented on #31611
The root cause is due to a bug in Windows OS SCHANNEL component.  So, yes, it can occur with .NET Framework or .NET Core.  The bug was fixed in Windows 10.

[2018-08-06 19:13] adamsitnik commented on #18248
Fixed https://github.com/dotnet/performance/pull/99

[2018-08-06 19:13] #18248 closed

[2018-08-06 19:44] #31306 closed

[2018-08-06 20:14] svick commented on #31583
As far as I can tell, this is an issue with UTF-8 decoding done by the CLR. It was fixed in https://github.com/dotnet/coreclr/pull/18294/https://github.com/dotnet/coreclr/pull/18309, which should be included in the next servicing release of .Net Core 2.1.

[2018-08-06 20:48] wfurt commented on #31563
The clue may be
[code]

Any chance you are hitting unhandled exception? Do you have stdout/error from the service.
The code will calls abort() and that will produce crash dump by default.

[2018-08-06 20:52] cdmihai opened #31617 "Why doesn't ReadOnlySpan.ToString return string.empty when length == 0?"
Doesn't lool like the implementation checks for zero length:
https://github.com/dotnet/corefx/blob/ab27e64721496ab7404fd52d8d7720db572fc2f4/src/Common/src/CoreLib/System/ReadOnlySpan.Fast.cs#L216-L227

I am thinking of adding an extension method which does this. Any reason / gotchas why the implementation doesn't do it? AFAIK ToString does not have any contract to always return a new string.

[2018-08-06 20:59] TingluoHuang commented on #31563
@wfurt thanks for the hint, looks like there is an `Input/output error` throw from somewhere, the app catch it, write to log and try to do a `Console.Error.Writeline()` then the app crashed.
I will ask customer try to pull his systemlog see whether there is something interesting.

[2018-08-06 21:17] wfurt commented on #31563
Is that background application? I'm wondering if Console.Error is closed...

[2018-08-06 21:22] TingluoHuang commented on #31563
@wfurt it suppose to be a front end application has both streams on.

[2018-08-06 21:40] baulig commented on #31469
The description was probably a bit misleading in the way that I was only talking about those parts of the PAL that were causing problems.  I don't have any precise numbers yet, but we will probably end up sharing about 70%+ of the native code and 80%+ of the managed code.

Many of the native APIs are available on both macOS and iOS - I'll have to go over them one by one and verify with Apple's Doc

[2018-08-06 21:49] safern commented on #31576
IDictionary.Generic.Tests are failing specifically here:

https://github.com/dotnet/corefx/blob/66649ff5862c7b723fded40c505942de19bdb107/src/Common/tests/System/Collections/IDictionary.Generic.Tests.cs#L178-L192

And in the .Remove case `Reset` is not throwing because the `dictionary._version` and `Enumerable._version` are not the same.

https://github.com/dotnet/corefx/blob/master/src/Common/test

[2018-08-06 21:57] baulig commented on #31469
For instance, in `pal_secverify.h` the macOS version essentially uses [`SecSignTransformCreate`](https://developer.apple.com/documentation/security/1398780-secsigntransformcreate?language=objc), [`SecTransformSetAttribute`](https://developer.apple.com/documentation/security/1393861-sectransformsetattribute?language=objc) and [`SecTransformExecute`](https://developer.apple.com/documentation/securit

[2018-08-06 22:09] baulig commented on #31469
So to summarize, porting `pal_signverify.c` is not too overly complicated and won't require complex changes - it is essentially #31556 plus a few conditionals and the iOS version added.

[2018-08-06 22:14] jkotas commented on #31617
I do not understand your suggestion. Where do you think we need a check for zero length?

[2018-08-06 22:19] jkotas commented on #31617
Ah ok, I see what you mean.

All String constructor have check for empty zero length already. When you do `new string((char*)…, …, 0)`, it is always going to return the same string object. We do not need to duplicate it here.

[2018-08-06 22:19] #31617 closed

[2018-08-06 22:27] safern commented on #31576
Yes, that is what I saw, the tests failing are the Dictionary.Generic.Tests -- which makes sense, and since we removed the _version increment there, we shouldn't expect for it to throw when removing, right?

And yes it is weird that in netcore tests aren't failing. Definitely needs to be investigated.

[2018-08-06 22:30] baulig commented on #31469
For `pal_rsa.c` - these functions are available on macOS 10.12 and iOS 10:

- `AppleCryptoNative_RsaSignaturePrimitive`
- `AppleCryptoNative_RsaDecryptionPrimitive`
- `AppleCryptoNative_RsaEncryptionPrimitive`
- `AppleCryptoNative_RsaVerificationPrimitive`

We are supporting older versions of Mac OS in Mono, so a platform conditional needs to be added.

- `AppleCryptoNative_RsaGenerateKey` needs t

[2018-08-06 22:31] bartonjs commented on #31469
Questions that I have:

* What parts of the native shim would be shared?  (e.g. are hashing, HMAC, and symmetric cryptography sharable, or do they need to have refactoring happen, too?)
* Is the iOS version something that will build in CoreFX?
  * How?
* For .NET Core releases we only build one version of the shim for all versions of macOS (that we support)... what are the anticipated usages of \#

[2018-08-06 22:49] Wraith2 commented on #31576
The changes are netcore specific, essentially a couple of overrides in concrete classes which are compiled in only on netcore, [like this
(https://github.com/dotnet/corefx/blob/master/src/System.Collections/tests/Generic/Dictionary/Dictionary.Tests.netcoreapp.cs). @danmosemsft mentioned that this looked like it was because coreclr wasn't updated but then you mention that the netcore tests aren't f

[2018-08-06 22:59] safern commented on #31576
Hah, now everything makes sense. System.Collections is built for both, uap and netcoreapp. https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/Configurations.props#L8

So that is the reason why the uap tests are failing, because we're conditionally including that test file only in netcoreapp.

However the tests only have configurations for netcoreapp and netstandard, and I we d

[2018-08-06 23:03] baulig commented on #31469
Regarding similarity or difference, I think the answer will vastly differ in different parts of the shim and we will see both the situation where most code can be shared as well as the situation where a completely new implementation will be needed.

From what I've seen so far, my estimate regarding the native side is this:

- `pal_signverify.c`: managed side sharable with the API changes suggested

[2018-08-06 23:09] joshfree commented on #28901
@alpencolt any update on this?  I'm making sure that you're aware that Tizen CI coverage is still disabled.

[2018-08-06 23:13] baulig commented on #31469
Apart from the iOS port, there's also the problem that for instance `pal_rsa.c` uses [`SecKeyCreateSignature`](https://developer.apple.com/documentation/security/1643916-seckeycreatesignature?language=objc) (which requires macOS 10.12+) in `AppleCryptoNative_RsaSignaturePrimitive`.

I will have to find some solution for this, the current compatibility requirement for Mono is OS X 10.7 and iOS 8.

[2018-08-06 23:16] BruceForstall commented on #28901
note, the Tizen jobs are disabled in coreclr also: https://github.com/dotnet/coreclr/pull/17240

[2018-08-06 23:36] Wraith2 commented on #31576
Ok, I can take a look sometime in the next few days if you want to assign it to me.

[2018-08-06 23:38] safern commented on #31576
Whichever you prefer, I have some bandwidth now, but if you want to take it for practicing purposes and stuff, it's OK with me.

[2018-08-06 23:45] Wraith2 commented on #31576
If you've got the time it's all yours. I understand the problem so no need for practice.

[2018-08-07 00:19] zamont opened #31619 "release/uwp6.2 build errors -- PackageIndex.json"
The branch release/uwp6.2 is branched off release/2.1, so after branching and getting a successful build, I merged https://github.com/dotnet/corefx/pull/31546 to produce only the Microsoft.Private.CoreFx.UAP package. I ignored the CI build failures because I didn't understand them, but I realize now that the Microsoft.Private.CoreFx.UAP package build fails with

[code]

@sergiy-k @MichalStrehovsky

[2018-08-07 04:14] cshung opened #31622 "Consider exposing the underlying byte array for the DebugDirectoryBuilder"
It will be useful for generating portable pdb using Cci.

[2018-08-07 04:15] cshung opened #31623 "Consider providing an API to build the SequencePoint blob in MethodDebugInformation"
It will be useful for generating portable PDB in Cci

[2018-08-07 05:34] dmitry-bluestone commented on #11639
@natemcmaster  you are a hero man. I'm going to replace my code gathered across all these topics with your plugin loader.

[2018-08-07 06:56] filipnavara commented on #31469
Actually it's macOS 10.9+ now (https://github.com/mono/mono/issues/9581).

[2018-08-07 06:59] noahfalk commented on #3708
I've been poking around a bit and there are plentiful resources that show .NET developers expect Debug.Assert behavior is customized via TraceListeners (books, magazine articles, blogs, web forum posts, sample code projects, MSDN docs ...). While I enjoy the simplicity of @ericst's approach if we were building anew, it feels very odd to me to preserve TraceListeners as part of the framework but el

[2018-08-07 08:17] nenadvicentic commented on #29622
@davidsh I have issue with lastest Visual Studio (15.7.6) and .NET Framework 4.7.2.

I had to put following in my ASP.NET Core (v2.1.2) MVC website `*.csproj` file, to force project to start correctly:

[code]

My website and my additional dll project are both targeting `net472`, not using `packages.config` and both have reference to Framework `System.Net.Http` dll, which should be version 4.2.0.0

[2018-08-07 08:32] iainnicol commented on #31181
I will try porting Financial and VBMath. Depending on how that goes I might try some more afterwards.

@Anipik, I have two questions please.

First, Given that danmosemsft is on holiday, are you able to review the pull requests? Or will that wait until after he returns?

Second, he generated a ref signature from the .NET Framework DLL. Is the tool used for that publically available? I obviously do

[2018-08-07 08:33] dotnet-mc-bot opened #31625 "Test failure: System.ComponentModel.DataAnnotations.Tests.RangeAttributeTests/DotDecimalExtremaAndNonStringValuesInvariantConvert(type: typeof(double), min: \"1.0\", max: \"3.0\", value: 2,99999999999999)"
Opened on behalf of @Sunny-pu

The test `System.ComponentModel.DataAnnotations.Tests.RangeAttributeTests/DotDecimalExtremaAndNonStringValuesInvariantConvert(type: typeof(double), min: \"1.0\", max: \"3.0\", value: 2,99999999999999)` has failed.

System.ArgumentException : 3.0 is not a valid value for Double.\r
    Parameter name: value\r
    ---- System.FormatException : Input string was not in a

[2018-08-07 08:38] dotnet-mc-bot opened #31626 "Test failure: System.Tests.GCExtendedTests/TryStartNoGCRegion_StartWhileInNoGCRegion_BlockingCollection"
Opened on behalf of @Sunny-pu

The test `System.Tests.GCExtendedTests/TryStartNoGCRegion_StartWhileInNoGCRegion_BlockingCollection` has failed.

System.IO.IOException : RemoteInvoke cannot open the remote service. Open Service Status: AppUnavailable

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvoke(MethodInfo method, String[] args, RemoteInvokeOptions opti

[2018-08-07 11:28] 0xF6 commented on #31610
See https://github.com/mono/mono-curses/blob/eec5a9c9521b955626f6ed63c35fb11dae31f2a1/binding.cs#L465
`COLOR_PAIRS` same is a global int.
And `COLORS` one time worked.
when call any function throw SegFault

[2018-08-07 13:33] mustakimali commented on #16290
I got around this issue by creating an instance of `StringContent` and adding the `Content-Type` header like this

[code]

[2018-08-07 13:43] micdenny commented on #31276
@karelz I did in my repo [CoreFxIssue31276](https://github.com/micdenny/CoreFxIssue31276)

[2018-08-07 14:19] vcsjones commented on #31612
Did this behavior change from 2.0?

[2018-08-07 14:27] vcsjones commented on #31598
@benaadams

Did you mean to give the dictionary a parameter name and have two different parameters? Like

[code]

[2018-08-07 15:18] #31575 closed

[2018-08-07 15:22] MarcoRossignoli commented on #30648
could you "gist" this(link is internal)?I could help if i understand well. Do you mean add condition `type.Module == typeof(string).Module` to current fallback(else) and as new fallback use ` this.value = TypeDescriptor.GetConverter(type).ConvertFromInvariantString(value);`?

[2018-08-07 15:26] tomcon21 opened #31628 "HTTP/MongoDB request delayed for five seconds after application is idle for five minutes"
Hi,

We have a number of applications running on **Ubuntu 16.04** with **DotNet Core 2.1**.

We have noticed that when the application is idle for a period of time (Five minutes in this case), the first outgoing HTTP post request has a five second delay before the request is sent from the application.
When the application is under heavy load the HTTP times are as expected.
Similarly we are seeing

[2018-08-07 15:37] hazama-yuinyan commented on #29122
I found out that the offsets for user strings are somehow moved and therefore the correspondence between ids and the real strings will be broken and that user strings seem to be automatically added. I don't understand how that happens.

[2018-08-07 15:57] ericstj commented on #3708
IIRC (channeling the [folks](https://github.com/dotnet/standard/issues/84) who previously had opinions about this stuff) TraceListeners were just one of many tracing technologies that came/went in the desktop framework.  The problem with bringing them back as *the* debug assert customization is that it opts folks into that trace technology when they otherwise might want to use something else (or i

[2018-08-07 16:07] hazama-yuinyan commented on #29122
Maybe I was wrong. User strings aren't automatically added.
Should I inspect the method bodies and add the user strings?

[2018-08-07 16:16] JasonJShuler commented on #31612
Unsure, I have not tested it in prior versions

[2018-08-07 16:19] tmat commented on #31622
Looking at your code again, it seems that you couldn't use the raw debug directory blob since you need to return PeDebugDirectory instance.

You could use the raw bytes of code view entry. I'm not sure that's worth a public API though - it would only save you this line: `byte[] data = signature.Concat(guid).Concat(age).Concat(path).Concat(nullterminated).ToArray();`.

[2018-08-07 16:28] jnm2 commented on #29122
I don't know. Are you translating method bodies or just treating them as blobs?

[2018-08-07 16:43] keeratsingh commented on #13660
@wienleung @Liero @paulirwin @stijnherreman We are currently in the process of porting this fix over to .NET Core 2.2, will updated here once the process is complete.

[2018-08-07 16:49] hazama-yuinyan commented on #29122
Just treating them as blobs.
I found that Roslyn does that, so maybe I should too.

[2018-08-07 17:33] #31576 closed

[2018-08-07 17:41] Anipik commented on #31181
Yes, I will be able to review and merge the changes.
I am not sure if the tool is publicly available. I will find it out and update the issue.

[2018-08-07 17:48] joshfree commented on #31547
re-opening bug for /release/2.1 tracking purposes

[2018-08-07 18:01] filipnavara opened #31633 "System.Security: AsnWriter/AsnSerializer should provide an API to write non-normalized integers"
Currently `AsnWriter` offers couple of methods for writing integers represented using `ReadOnlySpan<byte>`:

[code]

These methods throw `CryptographicException` when the `value` is not properly padded, ie. the integer starts with a zero, followed by a byte < 0x80.

Nearly all of the usages of these methods use extra code to strip this padding. Examples include:

https://github.com/dotnet/corefx/b

[2018-08-07 18:07] filipnavara opened #31634 "System.Security: AsnSerializer doesn't wrap EncoderFallbackException into CryptographicException"
`AsnSerializer.Serialize` throws `CryptographicException` for most errors. One exception is the `EncoderFallbackException` when trying to serialize a string that couldn't be encoded using specified encoding. `EncoderFallbackException` is not wrapped and has to be handled separetely, resulting in a code that is harder to read:

https://github.com/dotnet/corefx/blob/8d2407974c88b50c54f29ee20fd9deb8e

[2018-08-07 18:25] vivmishra commented on #31379
Approved for 2.1.4

[2018-08-07 18:30] davidsh commented on #29622
@joperezr @ericstj Can you comment on this?

[2018-08-07 18:31] ericstj commented on #30648
Yes, that's what I was referring to, though we can't call typeconverter directly.

Here's what I did in that internal commit: https://github.com/ericstj/coreclr/commit/17ac7bed928358e1f14924f61349e6209a6d01fc

[2018-08-07 18:31] vivmishra commented on #31201
Approved for 2.1.5.

[2018-08-07 18:34] pjanotti commented on #13094
Currently manual instructions for CoreLib are working, but we are still missing jump to source for CoreLib on daily coverage runs. Closing this one as the remaining issue is being tracked on #30974

[2018-08-07 18:34] #13094 closed

[2018-08-07 18:35] bgribaudo opened #31635 "Debugging corefx Tests"
Hello,

I'm trying to debug a corefx test project.
https://github.com/dotnet/corefx/wiki/Build-and-run-tests#build-run-and-debug-tests-using-visual-studio gives the following instructions:

[2018-08-07 18:35] vivmishra commented on #31073
Approved for 2.1.5

[2018-08-07 18:39] pjanotti commented on #13523
Closing this one, from last coverage report:

Line coverage: 92.9%
Branch coverage: 88.3%

[2018-08-07 18:39] #13523 closed

[2018-08-07 18:41] Anipik commented on #31181
@iainnicol the tool name is GenApi.exe .Its public and found in Tools Directory after you have built the corefx repo. ```Tools\dotnetcli\dotnet.exe Tools\GenAPI.exe -?``` will give you more info on how to use the tool

[2018-08-07 18:42] vivmishra commented on #30327
Approved for 2.1.5

[2018-08-07 18:43] vivmishra commented on #31547
Approved for 2.1.5

[2018-08-07 18:45] ericstj commented on #29622
@nenadvicentic this sounds like a problem with conflict resolution.  The SDK targets should be dropping the package reference in preference of the framework reference.  @dsplaisted does VS 15.7.6 have your fix for https://github.com/dotnet/sdk/pull/2250?

[2018-08-07 19:02] Anipik commented on #30648
@MarcoRossignoli are you planning to work on this ?

[2018-08-07 19:09] MarcoRossignoli commented on #30648
@Anipik if It isn't too urgent i could try a PR!Feel free to work on it if you have to!

[2018-08-07 19:13] ViktorHofer commented on #31282
I'm now hitting this again... The input binary has the manual typeforwards and when doing a rebuild it gets cleaned up correctly...

[2018-08-07 19:58] sergiy-k commented on #31619
cc: @weshaggard, @tommcdon
This is currently a blocking issue with uwp6.2.

[2018-08-07 19:59] vcsjones commented on #31612
Looking more carefully at your example:

Did you mean "C:\test\\.foo" in your second example? I looks like GitHub might have eaten your directory separator there.

[2018-08-07 20:15] dsplaisted commented on #29622
@ericstj No, this is fixed in VS 15.8

[2018-08-07 21:49] n00j opened #31638 "System.Data.SqlClient 4.5.1 Leaking Connection with Multisubnetfailover"
I am using .NET Core 1.1.9 and System.Data.SqlClient 4.5.1 to connect to SQL Server 12.  It seems that when using multi subnet failover  the connections / file descriptors are never being released

OS: RHEL 7.3
Host: 1.0.0-preview2-1-003312 (rh-dotnetcore11)

[code]

Example Program which replicates issue: https://github.com/n00j/SqlPoolLeak

We are running SQL Server in HA mode with multisubnetfa

[2018-08-07 22:07] MaxShoshin opened #31639 "PerformanceCounter.NextValue() generates memory allocations"
`PerformanceCounter.NextValue()` generates memory allocations.
OS: Windows

To reproduce:
[code]

Windows implementation of `PerformanceCounter` uses method `object RegistryKey.GetValue(string name)`  which is internally [allocate at least ~64Kb on every call](https://github.com/dotnet/corefx/blob/b492409b4a1952cda4b078f800499d382e1765fc/src/Microsoft.Win32.Registry/src/Microsoft/Win32/RegistryKey

[2018-08-07 23:37] jnm2 opened #31640 "FunctionPointerAttributes missing [Flags] in SR.Metadata.Ecma335"
`[Flags]` is missing:

https://github.com/dotnet/corefx/blob/99b7e5df45e1a0eab7ba16ce51beab07cf58aefb/src/System.Reflection.Metadata/src/System/Reflection/Metadata/Ecma335/Encoding/FunctionPointerAttributes.cs#L5-L13

This is causing a ReSharper warning on bitwise operations with it.

[2018-08-07 23:39] jnm2 commented on #31640
I suddenly realized this is by design.

[2018-08-07 23:39] #31640 closed

[2018-08-08 00:03] sunsnow-tail commented on #31606
a duplicate of #12034. Closing.

[2018-08-08 00:03] #31606 closed

[2018-08-08 00:03] 0xF6 commented on #31610
In general, since netcore also uses ncurses and I happened to see normal behavior of COLORS because netcore sometimes initialized this variable.

[2018-08-08 00:03] #31610 closed

[2018-08-08 01:46] jnm2 commented on #29122
I think the method bodies contain handles to table rows, so they need to be translated unless you can guarantee that the row indexes in those tables don't change.

[2018-08-08 01:59] noahfalk commented on #3708
Thanks @ericst !

My primary concern was to support TraceListeners by default for those who wanted to use it, but I'm open to additional options for supporting customers that want a different scheme if we think its worth the cost. I don't think supporting the former case necessarily interferes with doing better in the latter case. Assuming however that we did make TraceListener the only framework

[2018-08-08 03:07] juepiezhongren opened #31643 "Please consider Ownership-Heap implementation"
Rust's ownership system is appealing. Considering in coreClr or mono where all reference types could be created within a "ownership-Heap" and gc-ed with its ownership lost, it is possible for us to write system application just like c, and even possible to write clr with C# itself.

Value type is something which makes dotnet great compared with jvm, and that is almost 20 years' idea. Stack is grea

[2018-08-08 05:46] cshung commented on #31622
I agree, the value is too low to worth a public api, closing this issue.

[2018-08-08 05:46] #31622 closed

[2018-08-08 06:58] NickRedwood commented on #1973
I like @pgolebiowski 's suggestion but would make that interface even more basic.

public interface ISetCharacteristic<out T>
{
    bool Contains<T>(T item);
}

This is then suitable for uncountable sets such as Intervals as well. Between that and `IReadOnlySet` you could potentially fit in a few other interfaces such as `ICountableSet` (aka `IEnumerableSet`), `IUnorderedSet` and `IOrderedSet`.

B

[2018-08-08 07:11] krwq commented on #31643
Thanks for the proposal @juepiezhongren! Any chance you could propose how you would see new APIs or at least list expected features? This doc might be of some help: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2018-08-08 07:58] MarcoRossignoli commented on #30648
Only to be sure to understand...because TypeDescriptor/TypeConverter are on corefx codebase?If so do we need to move "classes" to coreclr, in past i asked and answer was "we move to coreclr if we need".

/cc @jkotas

[2018-08-08 08:11] Genbox opened #31645 "Support SeBackupPrivilege in System.IO.FileFilestream API"
The [SeBackupPrivilege](https://docs.microsoft.com/en-us/windows/desktop/secauthz/privilege-constants) privilege on Windows gives the user the ability to bypass ACLs in the filesystem, which is paramount when doing a file-based backup.

The normal process is as follows:
1. Get the current program's token
2. Enable the SeBackupPrivilege on the token
3. Call the Win32 [CreateFile](https://docs.micro

[2018-08-08 08:14] baulig commented on #31469
Oh cool - that means we're getting OAEP Padding baseline on Mac :-)

I gave the `pal_rsa.c` some more love today.  What we need to do for Mac (both Desktop and Xamarin.Mac) is the following:

- `AppleCryptoNative_RsaEncryptionPrimitive`, `AppleCryptoNative_RsaDecryptionPrimitive`, `AppleCryptoNative_RsaSignaturePrimitive` and `AppleCryptoNative_RsaVerificationPrimitive` use the new Unified APIs th

[2018-08-08 08:25] jkotas commented on #30648
There are exceptions to this rule when the the closure of types that would need to be moved is large like in this case. We make the call using reflection like in the Eric's prototype.

[2018-08-08 08:39] filipnavara commented on #31469
That's already done for `SecCertificateCopyKey` and `SecCertificateCopyPublicKey`, so I guess it's the preferred approach. It may make the code look quite ugly, if not done properly, though. I'm waiting for the OpenSSL 1.1 support patch to see if there's some tidier / preferred way to handle the versioning.

As a sidenote, with my application developer hat on, we usually support at least last thre

[2018-08-08 08:47] baulig commented on #31469
So to summarize the situation of RSA.

The are three different native APIs that we can use:

- A Mac-only API based on `SecTransformRef` that's available on all versions of OS X that we care about.
- An iOS-only API that's available on all versions of iOS.
- A new Unified API that's available on macOS 10.12+, iOS 10+, tvOS 10+ and watchOS 3.0+.

For Mono, we will need a compatibility solution for

[2018-08-08 09:03] baulig commented on #31469
Well, I basically haven't done any work on the `pal_x509` recently because I wanted to get the hash and encryption algorithms that are used by it done first.

Planning-wise, I essentially want to have all the hash and crypto algorithms complete before we branch for our next monthly integration (which will be the first week of October, the August one just happened).  There are a lot of things to be

[2018-08-08 09:04] hazama-yuinyan commented on #29122
OK, because I can't guarantee that(it somehow changes the row ids), I have to translate them.

[2018-08-08 09:10] baulig commented on #31469
If you want to have a look at my current code - it's a big mess at the moment and may not even build, but here it is:

- Mono: https://github.com/baulig/mono/tree/work-canary
- CoreFX: https://github.com/baulig/corefx/tree/work-canary
- XI: https://github.com/baulig/xamarin-macios/tree/work-canary

I will be on vacation next week and will be back on the 20th - by then, the `2018-08` branch of `xam

[2018-08-08 09:15] filipnavara commented on #31469
Thanks, I will have a look. I'm finishing some code refactoring / cleanup on the CoreFX side and I have couple of patches in the pipeline that should fix failures with Mono unit tests on macOS. I'll try to learn the Mac/iOS APIs to see if I can come up with some solutions to make the sharing a bit easier.

[2018-08-08 09:26] thomaslevesque opened #31646 "Add a method to get the default value from a type."
Currently there's no easy way to get the default value of a type if you don't know the type statically and can't use `default(T)`. The most commonly used approach is `type.IsValueType ? Activator.CreateInstance(type) : null`, but `Activator.CreateInstance` is slow. There should be a `Type.GetDefaultValue()` method.

[2018-08-08 09:59] infiniteloopltd commented on #4822
Hi,

In case any one else encounters this problem, here was the solution I employed to fix it in my case

        var ssl = new SslStream(stream);
        ssl.AuthenticateAsClient("www.domain.com");

to

        var ssl = new SslStream(stream,true);
        ssl.AuthenticateAsClient("www.domain.com",null,SslProtocols.Tls12,false);

I guess the handshake was going through as an earlier TLS protocol,

[2018-08-08 10:16] mrmartan opened #31647 "Span-based HashAlgorithm fails seemingly randomly"
I've recently noticed that .NET Core 2.1 span-based hash computation sometimes generates a result of `0000000000000000000000000000000000000000000000000000000000000000`. It does not depend on the input and repeated runs with the same input do produce correct results. I also noticed this is happening only on Linux (docker container based on microsoft/dotnet:2.1.2-aspnetcore-runtime and Microsoft.Asp

[2018-08-08 11:02] hazama-yuinyan commented on #29122
I've implemented the Roslyn solution but Windows refuses to execute the resulting assembly with `BadImageFormatException` saying "Index not found". I found that trying to load a 64 bit dll in a x86 file or vice versa causes it so I tried to switch the target platform to x86 or x64 but it failed either.
Do I have to configure `AssemblyBuilder` to target a specific platform? How can I do that?

[2018-08-08 12:09] filipnavara opened #31648 "System.Security: Incorrect interop signature for DsaSign (OpenSSL)"
The current code uses the following signature:

[code]

However, the `refSignature` parameter is output one, so I believe it should be declared as `Span<byte>`:

[code]

or even better:
[code]

I'm still trying to figure out why `DsaSign` crashes on my machine when running the unit tests for System.Security.Cryptography.OpenSsl, so if anyone more savvy could check the interop code around it I woul

[2018-08-08 12:32] filipnavara commented on #31648
Seems like the following check in `pal_dsa.c` doesn't work on my machine (tm):

[code]

In my case `dsa->meth != DSA_OpenSSL()` and `dsa->priv_key == NULL`. It proceeds further and crashes when trying to access the private key (somewhere in OpenSSL code).

[2018-08-08 12:33] ViktorHofer commented on #31282
Found the issue. In the manual csproj we have a wildcard referencepath which picks up nearly every assembly:

[code]

I added some assemblies which automatically got probed and caused the error. I excluded them now. Maybe we can avoid relying on the wildcard inclusion.

[2018-08-08 12:33] #31282 closed

[2018-08-08 12:50] svick commented on #31646
If the only issue with `Activator.CreateInstance` is speed, how does introducing a new method help?

In other words, either the proposed method would also be slow, in which case you didn't gain anything. Or it would be fast, but that almost certainly means `Activator.CreateInstance` could be optimized to be just as fast for this case.

[2018-08-08 13:06] thomaslevesque commented on #31646
@svick I was assuming there was a more efficient way that wasn't exposed by the public API.

For instance, this method:

[code]

Produces the following IL:

[code]

which, I assume, is much more efficient than `Activator.CreateInstance()`

[2018-08-08 13:40] hazama-yuinyan commented on #29122
I tried with my minimal reproduction code, and Windows denied the access.

[2018-08-08 13:41] AArnott commented on #21055
Adding extension methods to solve this problem will be ineffective for folks have `using System.Linq;` in their `using` list but don't have `using System.Collections.Immutable;` in their `using` list. That's why I'd favor instance methods over more extension methods.

Is this still a problem in VS2017? If so, where is the bug on the language service to track this?
Given it would look odd for compl

[2018-08-08 14:25] vcsjones commented on #31648
I should have a Mojave mac available to me in a few hours. I'll give it a shot then with your setup.

[2018-08-08 14:33] filipnavara commented on #31648
Thanks! I'm in process of upgrading to Developer Preview 6 and Xcode 10 beta 5 (10L221o) right now to retest, will take a while. The affected machine has Xcode 10 beta (10L176w) installed. If the problem is not reproducible after the upgrade then I am fine with dismissing it. The interop signature mentioned in the original issue text should still be fixed though.

[2018-08-08 14:34] hazama-yuinyan commented on #29122
Just as it reads out from the assembly that `AssemblyBuilder` built. Concrete values needed?

[2018-08-08 14:36] ufcpp commented on #31646
Certainly, `Activator.CreateInstance` is slow.
https://gist.github.com/ufcpp/928f8de383891c18d79efc8ca8df98af

[2018-08-08 14:37] jnm2 commented on #29122
Well, that's the point at which you'd switch from AssemblyBuilder's x64 or x86 to AnyCPU.

[2018-08-08 14:37] filipnavara opened #31650 "Unit test core dumps on macOS"
Currently there's a functionality in the test runner code to examine and print out core dump when unit tests crash (with SIGSEGV or similar hard faults). The functionality is restricted to Linux at present. I think it would be beneficial to implement it for macOS as well.

On macOS the core dumps have to be enabled using `ulimit -c unlimited`. Each core dump is placed in `/cores/core.<PID>`. They

[2018-08-08 14:40] hazama-yuinyan commented on #29122
Oh, OK. I'll look at it.

[2018-08-08 14:43] vcsjones commented on #31648
Yes. That looks like it will crash if the `ROS<byte>` is pointing to an actual read-only segment of memory when the PAL tries to write to it.

[2018-08-08 15:12] filipnavara commented on #31648
Still getting the crash on Developer Preview 6 and updated Xcode. Steps used to reproduce:

[code]

[2018-08-08 15:17] MichalStrehovsky commented on #31646
`Activator.CreateInstance` won't actually give you the semantic you're looking for. It would run the default constructor (public+parameterless constructor) on the struct if there is any. You can't express default constructors on structs in C# right now so it's hard to hit it, but they've been wanting to add that to C# for a long time.

To get a `default` (all zero) boxed valuetype, you should use

[2018-08-08 15:31] filipnavara opened #31651 "Question: P/Invoke and passing Span as parameters"
After reading https://github.com/dotnet/coreclr/issues/14460, https://medium.com/@antao.almada/p-invoking-using-span-t-a398b86f95d3 and some Gitter discussion I am still not sure about the correct pattern for passing Spans to native code.

The general gist seems to be that if you know `stackalloc` was used (or any other non-movable memory) you can safely do:

[code]

However, when movable memory i

[2018-08-08 15:37] vcsjones commented on #31647
On macOS at least, it appears that `SHA256.Create` does not create a thread-safe hash object.

If I do this:

[code]

Which uses the `SHA256` object of the `SubjectIdentityBuilder` with multiple threads, the `distinct` result will be all other the place, like ~500 distinct results even though the hashing is deterministic. If I put a `lock` around the use of the SHA256:

[code]

then I start gettin

[2018-08-08 15:47] filipnavara commented on #31647
I don't think `HashAlgorithm.ComputeHash` or `TryComputeHash` was ever thread-safe.

In .NET Framework it was just a nice way of combining `HashCore`+`HashFinal`+`Initialize` into one nice call. The fact remains that the state between `HashCore` and `HashFinal` is still held by the class instance and hence it is not thread-safe.

[2018-08-08 15:48] hazama-yuinyan commented on #29122
The `Machine` enum doesn't have AnyCPU or something similar and Unknown didn't work. How do I specify AnyCPU?

[2018-08-08 15:54] vcsjones commented on #31647
Seems that way.

https://github.com/dotnet/corefx/blob/57608f6a5cfeadf338dc6c5d0300147b39168012/src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/HashAlgorithm.cs#L64-L65

These days there is `HashProvider` that holds the state of the hash.

@mrmartan your issue is likely because sharing a hashing instance is not thread safe.

[2018-08-08 16:05] jnm2 commented on #29122
Roslyn uses Unknown: https://github.com/dotnet/roslyn/blob/312b115983018301c0b4278f4e3f16b413a85e22/src/Compilers/Core/Portable/Compilation/Compilation.cs#L1611-L1614

[2018-08-08 16:11] thomaslevesque commented on #31646
But structs can't have an explicit parameterless constructor.
That said, `GetUninitializedObject` might indeed be faster

[2018-08-08 16:15] pjanotti opened #31652 "Code coverage: macOS: tests using RemoteExecutorConsoleApp are failing"
The same doesn't happen on Ubuntu, here is an example from System.Net.Http\tests\FunctionalTests:
[code]

[2018-08-08 16:34] hchungi commented on #2089
Can this DirectoryServices package work on CentOS 7?

[2018-08-08 16:39] tarekgh commented on #2089
The package can be installed but will not work. when using it you'll get platform not supported exception. we are looking how we can support directory services in general on Linux. this is on our radar.

[2018-08-08 16:50] jkotas commented on #31651
The preferred pattern is to use unmanaged pointer in the PInvoke signature and use fixed block to call it:

[code]

This pattern best describes the intent and avoids corner case bugs that the other patterns suffer from.

Some of your other examples work too, but they obfuscate the intent.

[2018-08-08 17:02] ericstj commented on #3708
Indeed. Surprising we did that but you are correct.  For some reason I thought we maintained exclusive collections but I was wrong.  Debug is pretty much a copy of Trace except with Debug condition attributes sprinkled around.  I like the suggestion of using Trace 👍

Were you thinking you'd have Debug access Trace through reflection, to avoid bringing down the type closure into CoreLib?  (I did a

[2018-08-08 17:08] ericstj commented on #31282
Or be more careful about which paths we're using for this.  If we had a path that can only contain assemblies which are part of the product + packages it might also be sufficient.

How did those non-product assemblies get in our RuntimePath?

[2018-08-08 17:12] joshfree commented on #31082
Updating milestone=2.1.x and adding ```servicing-consider```.  @keeratsingh please create a PR against /release/2.1 and add a link to the PR from this tracking issue when you're ready for shiproom to review.

Thanks

[2018-08-08 17:40] pjanotti commented on #30246
Closing this question:

1. Per discussion above it doesn't deserve an API.
2. The question itself is more related to containers than to CoreFx (quick search gets me to this [stack overflow thread](https://stackoverflow.com/questions/20010199/how-to-determine-if-a-process-runs-inside-lxc-docker)).

[2018-08-08 17:40] #30246 closed

[2018-08-08 17:43] natemcmaster opened #31655 "Document servicing guidelines for contributors"
I couldn't find docs for how to prepare servicing updates. I've hunted through history to see what's been done before and have made some guesses at what I'm supposed to do. This included

* Setting PackageVersion on pkgproj for projects which need a servicing update
* Updating packageIndex.json from the last release of Microsoft.Private.PackageBaseline

Did I miss anything?

cc @weshaggard @wtgodb

[2018-08-08 17:47] dagood commented on #31655
+cc @ericstj

[2018-08-08 17:53] pjanotti commented on #31095
Closed in PR #31152

[2018-08-08 17:53] #31095 closed

[2018-08-08 18:40] ericstj commented on #17164
I found an old comment in email about this from a former owner, quoting as this is not my text.

[code]

[code]

[2018-08-08 18:49] jkotas commented on #31651
PInvoke marshaling will pin the pointer for `ref byte hash` arguments that will pin the whole block as side-effect.

[2018-08-08 18:57] #31651 closed

[2018-08-08 19:06] keyrad-abasi commented on #22101
Just give this one a try, it worked for me:
`var config = ConfigurationManager.OpenExeConfiguration(".nuget/packages/microsoft.testplatform.testhost/15.0.0/lib/netstandard1.5/testhost.dll");`

[2018-08-08 20:02] filipnavara opened #31658 "DSAOpenSsl crashes with SIGSEGV on macOS Mojave / OpenSSL 1.0.2o"
Forked off from issue https://github.com/dotnet/corefx/issues/31648.

Steps to reproduce:

[code]

The unit tests eventually crash in `DSASignVerify_[Array/Stream/Span].PublicKey_CannotSign` with SIGSEGV and no further information. The actual crash happens inside the `DSA_sign` function in OpenSSL called from `CryptoNative_DsaSign`.

There is a code is supposed to prevent that in `pal_dsa.c`:
[cod

[2018-08-08 20:27] n00j commented on #31638
Just an update I tried similar code with the System.Data.SqlClient version 4.3.1 and it seems to behave better, but still seems to leak file descriptors

Using lsof
[code]
A little while later
[code]

From this the driver tries to connect to the **NY** side but that is the inactive side and fails to connect.  Below is the tcp dump from that socket. Sync packets are sent, connection is never establ

[2018-08-08 20:32] ericstj opened #31659 "`netcoreapp` should be moved forward to `netcoreapp3.0`"
And everything that's been made inbox post release should be updated appropriately in the packageIndex and individual pkgprojs.

Right now we're in a state where we're building from master as if we're producing a new version of netcoreapp2.1, but that has already shipped.

/cc @safern @weshaggard @joperezr

[2018-08-08 20:33] ericstj commented on #31659
Just realized @weshaggard already had issue https://github.com/dotnet/corefx/issues/29384.  Closing.

[2018-08-08 20:33] #31659 closed

[2018-08-08 20:33] vcsjones commented on #31612
@JasonJShuler

I'm not observing this behavior. Given this program:

[code]

I get the following output:

![image](https://user-images.githubusercontent.com/361677/43862718-7a82f776-9b28-11e8-8322-51dedeeae32e.png)

Can you describe more about your environment? The version and name of your operation system and the output of `dotnet --info` from the command prompt?

[2018-08-08 20:53] joshfree opened #31662 "Productize Async Streams"
Tracking item for .NET Core 3.0 async streams: IAsyncEnumerable<T>, IAsyncEnumerator<T>, etc …

productizing these interfaces:
https://github.com/dotnet/corefx/blob/6c60a1f11787759fc0eabdc5d0df8925037236de/src/System.Threading.Tasks.Extensions/tests/ManualResetValueTaskSourceTests.cs#L83-L105

and then also productizing:
https://github.com/dotnet/corefx/blob/df43abbed58fa534a36ad1840ff597efc7b00f8

[2018-08-08 21:56] zamont commented on #31619
Merged #31637

[2018-08-08 21:56] #31619 closed

[2018-08-08 22:03] tarekgh commented on #31445
@maryamariyan I think you can close this one. right?

[2018-08-08 22:07] JasonJShuler commented on #31612
... so I'm not sure what happened, but I'm getting the same result as you now.

Specifically I'm having an issue with the .git folder in a local git repository. The folder shows up gray in windows explorer, but when you check the properties Hidden is not checked. However attrib shows it as hidden...

So it seems I was wrong - it is ignoring hidden folders. Is this the expected behavior? (I did try

[2018-08-08 22:10] keeratsingh commented on #30518
@hounddog22030 As long as the issue in reproable in an Environment that is accessible to me, it should be good, I will ping you again next week if I don't hear from you in that time frame.

[2018-08-08 22:12] keeratsingh commented on #31052
Closing Issue due to inactivity, feel free to reopen the issue with the requested information if the issue still persists.

[2018-08-08 22:12] #31052 closed

[2018-08-08 22:30] filipnavara commented on #11050
The OpenSSL-based X500 name parsing was dropped entirely in favor of the managed version. Maybe this issue can be closed now?

[2018-08-08 22:30] ViktorHofer opened #31664 "Rewrite xunit test methods that aren't supported with the official runner (xunit 2.4)"
This tracks disabled tests in the codebase which need to be rewritten.

- Generic test methods
**EDIT: It showed that generic test methods are supported but are currectly broken in xunit 2.4**

[2018-08-08 22:35] baulig commented on #31469
For the keychain related functions, one thing we could do is move the key generation function into a separate file, then iOS can use a custom version of it.

[2018-08-08 22:36] maryamariyan commented on #31445
After tracing down the code for windows netcoreapp in corefx, I noticed how @ianhays PR makes sure we don't hit this GC issue while upgrading to 1.2.11

If you take a look at this line:
https://github.com/dotnet/corefx/blob/master/src/Native/Windows/clrcompression/CMakeLists.txt#L26

We are using the pal_zlib.c file which already existed for Unix and contains a PAL_ZStream type.
PAL_ZStream wraps

[2018-08-08 22:36] #31445 closed

[2018-08-08 22:46] vcsjones commented on #31647
Sorry, I didn't mean to say that `HashProvider` is the solution. I would simply change your code to use a new instance of SHA256. You could do something more clever like use `ThreadLocal` to have a per-thread instance.

[2018-08-08 23:02] mrmartan commented on #31647
Oh, ok. Seems usable. It's a bummer though (if I understand you correctly) that there is no thread-safe implementation of SHA hashing algorithms in .NET available.

[2018-08-08 23:02] #31647 closed

[2018-08-08 23:10] ViktorHofer opened #31665 "Rethink System.Linq.Expressions.Tests.csproj"
I don't know what's the historical reason why we disable the default test references `<IncludeDefaultReferences>false</IncludeDefaultReferences>` and add them manually. The git history doesn't really tell either. Is this a left-over or still here for a reason?

https://github.com/dotnet/corefx/blob/master/src/System.Linq.Expressions/tests/System.Linq.Expressions.Tests.csproj

cc @danmosemsft @jope

[2018-08-08 23:28] #31476 closed

[2018-08-08 23:38] joshfree commented on #31026
The instructions for how to add this are in the README at https://github.com/dotnet/corefx/tree/master/pkg/Microsoft.NETCore.Platforms

update ```runtimeGroups.props``` then run ```build.cmd -- /p:UpdateRuntimeFiles=true```

[2018-08-09 00:00] noahfalk commented on #3708
I gone too deep into the details, but this would be my strawman for it...

Yeah - We'd use refection either to invoke methods directly, or to construct delegates that we call through on future invocations for better performance.

If the scenario is marketed to users as minified but functionally equivalent (such as assembly level .NET Core tree shaking) then Debug/Trace default behavior should not

[2018-08-09 00:39] McShauno commented on #21833
Is there any specific reason why the Asn1Attribute(s) cannot target properties as well as fields?

[2018-08-09 07:35] jkotas commented on #31664
How many tests are affected by this?

[2018-08-09 07:55] #30252 closed

[2018-08-09 09:42] filipnavara commented on #31658
Rebuilding OpenSSL from source seems to resolve the issue:
[code]

So I guess something has changed between High Sierra and Mojave that breaks ABI compatibility. Moreover it only manifests for OpenSSL 1.0.2o, but not for 1.0.2n.

[2018-08-09 09:46] ViktorHofer commented on #31664
It showed that generic test methods are supported but currently broken in xunit 2.4.0: https://github.com/xunit/xunit/issues/1781. About ~50 test methods are affected.

[2018-08-09 10:16] filipnavara commented on #31658
I just realized that Homebrew changed the deployment model about three weeks ago (https://github.com/Homebrew/brew/pull/4520), so the version 1.0.2n may have been built from source as well.

[2018-08-09 10:27] hazama-yuinyan commented on #29122
A MSDN page says that it's because you are running CLR version 2.x and trying to load an assembly produced with over 4.x. But of course it says it's running the latest .NET Framework. So I think it's because some values are according to some old specification as they were from the `AssemblyBuilder`.
I guess I need to follow Roslyn. Thanks for pointing out the direction!

[2018-08-09 12:30] #23790 closed

[2018-08-09 12:35] jnm2 commented on #31646
@ufcpp Can you add `GetUninitializedObject` to https://gist.github.com/ufcpp/928f8de383891c18d79efc8ca8df98af?

[2018-08-09 13:37] hazama-yuinyan commented on #29122
Followed Roslyn but Windows is harsh on me...
I don't know what I should do...

[2018-08-09 14:11] hazama-yuinyan commented on #29122
Yeeeeeees! It has run! And as I expected, the break points will be hit.
It was because the field row id and the method row id is out of range. Windows, you were right. Index was definitely missing.

This ends my journey. There are much more tasks left but I would like to say thank you to you. I wouldn't have been here without you @jnm2 and @tmat.
Next time, maybe I will create another issue.

[2018-08-09 14:15] jnm2 commented on #29122
@hazama-yuinyan That's fantastic! Props to you for doing the hard work and not giving up on it! 🎉
Issues are best when you have a single specific question. https://gitter.im/dotnet/roslyn would be glad to have you for general questions, though!

[2018-08-09 14:18] hazama-yuinyan commented on #29122
@jnm2 Thank you so much!

OK, I'll use that if I have multiple questions. Thank you again!

[2018-08-09 14:27] #29122 closed

[2018-08-09 14:29] n00j commented on #31638
I let my code run for 24 hours on two different machines with the same configuration. Only change was on one I was using 4.3.1, and on the other 4.5.1

File handles still increase on both, but 4.5.1 rate of increase is much higher. Ignore the large jump at the beginning of the file handle graph, that is from some trace commands I was running.

Green - Machine with 4.5.1
Yellow - Machine with 4.3.1

[2018-08-09 14:43] mattwarren commented on #31643
See https://github.com/dotnet/coreclr/issues/1235 for a similar discussion

[2018-08-09 14:48] NetTecture opened #31673 "System.InvalidOperationException: 'Nullable object must have a value.' on projection"
with 2.1.1 (which incientally is the last published version, no trace of 2.1.2 on nuget).

The following is the LAMBDA executed:

[code]

This is a relatively easy projection. I have removed the actual filling of a number of properties, but the gist is here. Equipment is working perfectly when asked for and projected to it's own DTO.

There is a null check in place, so no, there is no reason for i

[2018-08-09 14:49] #31673 closed

[2018-08-09 14:49] NetTecture commented on #31673
Wrong Project, sorry.

[2018-08-09 14:51] ericstj commented on #3708
I actually think you need to go into more detail to vet any of these suggestions since past issues from folks like Wes and Pallavi found that the hard problems were in the details.  Granted some things have changed since those original assessments, but we need to flesh out a proposal to see if that's the case.

WRT to minified vs alternate: it isn't one or the other, it could be both.  I think min

[2018-08-09 15:05] alexmg commented on #29147
@AfsanehR I too can confirm that @kihamo's workaround resolved the issue. Based on the `3.0` milestone added by @karelz is it safe to assume that the image will be updated with the necessary changes in the future despite the issue being closed?

[2018-08-09 15:35] ViktorHofer commented on #31282
Currently we binplace some of the testframework and dependent assemblies into the runtime path. i.e. xunit, xunit-performance (+ MarkdownLog as a dependency). As I added additional dlls from the Microsoft.NET.Test.SDK some were causing conflicts. It seems Wes faced the same issue before as he manually excluded a few assemblies.

[2018-08-09 15:46] chazt3n commented on #17522
@karelz  does that mean I can choose to use system.net.http 4.3.3 in a .NET framework application?

I have dependencies that use httpClient in .net Core (it's a netstandard 2.0 package) within a .NET framework 4.6.1 application.

This works pointing to system.net.http 4.2.0.0 fine, until I rebuild the application. Then I start getting ExecutionEngineExceptions.

If that problem sounds familiar and

[2018-08-09 15:55] ericstj commented on #31282
Seems like those assemblies belong in the test shared framework path, but not runtime path.  Despite its name, RuntimePath isn't used for running anything AFAIK.

[2018-08-09 16:27] KorsG commented on #27247
I just ran into the same issue.

Steps to reproduce:
- Create a new .NET 4.6.2 lib.
    - Create a static method which returns a System.Data.SqlClient.SqlConnection.
- Create a new .NET Standard 2.0 lib.
   - Reference the .NET 4.6.2 lib.
   - Call the method which returns the SqlConnection.
- =  Error is reported by VS (2017 15.7.6)

It does not help to install the "Microsoft.Windows.Compatibilit

[2018-08-09 16:45] TilkID opened #31674 "System.Net.Http.WinHttpResponseStream call to WinHttpReadData with lpdwNumberOfBytesRead set to IntPtr.Zero (instead of NULL?)"
Hello,

I had an issue using HttpClient on Windows desktop so I was having a look into WinHttpHandler and found something "weird".

In class System.Net.Http.WinHttpHandler, method "StartRequest", a sessionHandle is created [using the Interop.WinHttp.WINHTTP_FLAG_ASYNC flag](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs#L744).

[2018-08-09 16:53] davidsh commented on #31674
If the source code was native C/C++, then "NULL" would be the correct thing to pass into the API.

However, this code is C# and uses P/invokes to call the native WinHTTP APIs. IntPtr.Zero represents the native NULL value.  So, the calling pattern is correct.

See: https://stackoverflow.com/questions/1456861/is-intptr-zero-equivalent-to-null

[2018-08-09 16:55] #31674 closed

[2018-08-09 16:56] TilkID commented on #31674
My bad, thank you very much.

[2018-08-09 18:03] jnm2 opened #31675 "Latest version of System.Reflection.Emit is missing DynamicMethod.DefineParameter"
The latest version of https://www.nuget.org/packages/System.Reflection.Emit/ is 4.3.0, released November 2016. It seems that the method [has been defined since .NET Core 1.0.0](https://github.com/dotnet/coreclr/blob/abbb8f685929c7aeaa087dae46fedc1bc2af4b17/src/mscorlib/src/System/Reflection/Emit/DynamicMethod.cs#L779). Why is it missing from the NuGet package and can it be added back?

[2018-08-09 18:09] jnm2 opened #31676 "Replacement for AppDomain.CurrentDomain.DefineDynamicAssembly in netcoreapp2.1"
If I target netcoreapp2.1 and reference the latest System.Reflection.Emit, the instance method `DefineDynamicAssembly` does not exist. This is confusing, since I see people talking about using Ref.Emit on .NET Core. Did the API move?

[2018-08-09 18:14] huanwu opened #31677 "Area-Serialization Sprint 140"
The issue is for tracking issues to be done in sprint 140 (due by 8/31/2018)

[2018-08-09 18:26] jkotas commented on #31676
It has moved to `AssemblyBuilder.DefineDynamicAssembly`

[2018-08-09 18:30] jkotas commented on #31675
Duplicate of https://github.com/dotnet/corefx/issues/29715

[2018-08-09 18:30] #31675 closed

[2018-08-09 18:30] joshfree commented on #12403
Moving to 2.1.5 per shiproom today

[2018-08-09 18:31] huanwu commented on #31330
we also need look at codegen and reflectionbased case.

[2018-08-09 18:32] Anipik commented on #12403
So does that mean we can merge the Linked PR ?

[2018-08-09 18:33] joshfree commented on #31388
@pakrym can you please add the 2.1 PR to this issue and close it once you’ve merged the PR? Checkin needs to be completed before Tuesday to make 2.1.4

[2018-08-09 18:34] joshfree commented on #31326
@wfurt can you please add the 2.1 PR to this issue and close it once you’ve merged the PR? Checkin needs to be completed before Tuesday to make 2.1.4

[2018-08-09 18:37] joshfree commented on #31259
Moving to 2.1.5 as the PR is incomplete and has outstanding feedback to address still.

[2018-08-09 18:38] ericstj commented on #17164
Yes, anything that doesn't involve impersonation and looks like a straight forward port.

[2018-08-09 18:38] joshfree commented on #31259
@tarekgh could you load balance this from @danmosemsft ?

[2018-08-09 18:39] joshfree commented on #31242
@wfurt can you please add the 2.1 PR to this issue and close it once you’ve merged the PR? Checkin needs to be completed before Tuesday to make 2.1.4

[2018-08-09 18:41] joshfree commented on #31122
@davidsh can you please merge the 2.1 PR and then resolve this issue? The checkin needs to happen before Tuesday to make 2.1.4. Thanks

[2018-08-09 18:43] wfurt commented on #31242
It is #31367 @joshfree . marked as no-merge

[2018-08-09 18:43] wfurt commented on #31326
#31327 @joshfree. marked as no-merge.

[2018-08-09 18:44] NatElkins commented on #31259
:(

[2018-08-09 18:44] davidsh commented on #31122
Fixed merged to release/2.1.x branch with #31123

[2018-08-09 18:44] #31122 closed

[2018-08-09 18:45] joshfree commented on #30781
Moving this to 2.1.5 per shiproom today.

@tarekgh would you be able to help load balance this from @danmosemsft

[2018-08-09 18:48] davidsh commented on #31242
@wfurt it was marked as "no-merge" at the time to prevent it from being merged since the branch wasn't ready for 2.1.4 fixes.  But @joshfree is now saying it can be merged.

I will remove the "no-merge" flag.

[2018-08-09 18:49] wfurt commented on #31242
thanks for clarification @davidsh .

[2018-08-09 18:52] GSPP commented on #5749
The main point is to way to cancel these operations at all. This is not possible in a truly safe and clean way at the moment (see my lengthy discussion of this in the opening post).

I think it's OK if the socket is destroyed when cancelling. Cancelling a read without taking data is very complicated (unclear if any OS level API supports this and there are race conditions leading to lost data). Can

[2018-08-09 19:10] joshfree commented on #31326
@wfurt label updated.  2.1.4 checkins can happen now.

[2018-08-09 19:10] joshfree commented on #31242
Thanks all!

[2018-08-09 19:12] joshfree commented on #31122
Thanks!

[2018-08-09 19:12] pakrym commented on #31388
Sorry, though this would go into 2.1.5.

[2018-08-09 19:17] GSPP commented on #24430
Adding two related issues:

* https://github.com/dotnet/corefx/issues/5749 Add a clean way to cancel a long-running Socket operation (e.g. accept or connect)
* https://github.com/dotnet/corefx/issues/9698 Add reliable timeouts to socket operations

[2018-08-09 19:55] pakrym commented on #31388
@joshfree can we postpone this until 2.1.5? We think this fix introduced a behaviour change.

[2018-08-09 20:13] joshfree commented on #31388
Yes absolutely.

[2018-08-09 20:14] joshfree commented on #31388
@muratg @pakrym please mark this servicing-consider when the fix is ready to bring back to shiproom. Thanks.

[2018-08-09 20:49] FaithLV commented on #26966
Getting this error while trying to execute [config.sh from VSTS agent setup guide](https://gist.github.com/FaithLV/82e7f70f3b91a92cef5168cad0bac761) on Arch.

Full stacktrace [here](https://gist.github.com/FaithLV/8d6d39efad01e1561972f90075c1af4a).
Running `dotnet --version` shows that I'm running `2.1.302`.

[2018-08-09 20:55] joperezr commented on #27247
@KorsG not saying that this is the cause of the issue, but just as FYI referencing a .NET 4.6.2 lib from a .NET Standard 2.0 lib is not technically supported. It might work in some cases but it is not a supported scenario. The supported scenario is when you do the other way around: You write a .NET 4.6.2 lib and reference a .NET Standard 2.0 lib.

[2018-08-09 20:56] joperezr commented on #27247
@louislewis2 could you please produce a binlog file and send it over so that we can investigate what is going on with your project? (sorry for the late reply)

In order to generate a binlog, simply build your project from a developer command prompt like: `msbuild yourproject.csproj /t:rebuild /bl`

[2018-08-09 21:40] kayjtea commented on #26233
When targeting netcoreapp2.1 and using Microsoft.AspNet.WebApi.Client 5.2.6, PostAsJsonAsync is setting `Content-Length: 0`. In the following code, TestClient1 fails, but TestClient2 succeeds; the endpoint being called is a .NET Framework 4.6.2 WebApi. If this isn't the right place to raise this issue, please point me to the right repo.

[code]
        [Fact]
        public async void TestClient1(

[2018-08-09 21:47] Anipik commented on #31379
Updated the template with performance numbers

[2018-08-09 22:51] LordMike commented on #31224
Is there any update on this? A newly deployed Ubuntu 17.10 on AWS EC2 still cannot install dotnet-runtime-2.0.9. I've had to re-use my modified dpkg package from 3 weeks ago, where I altered the dependency in question.

[2018-08-09 22:54] tarekgh commented on #31224
@rakeshsinghranchi could you please help with this issue?

[2018-08-09 23:15] wfurt commented on #31326
#31327 merged.

[2018-08-09 23:15] #31326 closed

[2018-08-09 23:16] wfurt commented on #31242
#31367 merged

[2018-08-09 23:16] #31242 closed

[2018-08-09 23:30] sebastienros commented on #30776
Are you reusing the instances? A common mistake (and an expected one) is to dispose it every time, or just instance new ones on every requests, when it should actually be reused and disposed when the application stops. So can either use a static instance, use a singleton in DI or use the HttpClient factory pattern: https://blogs.msdn.microsoft.com/webdev/2018/02/28/asp-net-core-2-1-preview1-introd

[2018-08-10 00:06] Jlalond commented on #15554
Hey @JeremyKuhne might want to unassign me to this. Had to change my past time focuses a little bit. Had the luck of getting hit by a car biking, and lately I've been dedicating more time to getting fit again after my hiatus. Plus it'll give someone entry to the project!

[2018-08-10 00:25] JonDavis-AZED commented on #25928
Can't even write a .Distinct(..) without also spewing up a whole new IEqualityComparer class implementation, just for one LINQ clause, this is ridiculous. Maybe Distinct(..) should have an override with a single lambda or a growable (params style) set of lambdas listing all the properties to find distinction on for just this one use case.

[2018-08-10 00:26] stimpy77 commented on #25928
Can't even write a .Distinct(..) without also spewing up a whole new IEqualityComparer class implementation, just for one LINQ clause, this is ridiculous. Maybe Distinct(..) should have an override with a single lambda or a growable (params style) set of lambdas listing all the properties to find distinction on for just this one use case.

[2018-08-10 00:34] JeremyKuhne commented on #15554
@Jlalond no problem- you're always welcome to come back to this or any other issue

[2018-08-10 00:34] alexperovich opened #31687 "System.Net.Http.DiagnosticsHandler.SendAsync throws if Activity.Current.Baggage contains values that can't be parsed by NameValueHeaderValue"
See this line https://github.com/dotnet/corefx/blob/1a9aa57627a7d173adc1c7ccff6a9471aecc7235/src/System.Net.Http/src/System/Net/Http/DiagnosticsHandler.cs#L92

Running a basic github oauth authentication flow on netcoreapp2.1 causes the following exception
[code]
This happens when the baggage item "RequestPath" with value "/signin/github" is processed.

This issue does not happen on net461.

[2018-08-10 00:52] davidsh commented on #31687
cc: @lmolkova

[2018-08-10 01:09] Anipik commented on #17164
@ericstj if we look at the implementation of these 2 ctor

[code]

It looks like accType is not even used while creating instance. is this the required behavior ?

[2018-08-10 01:44] pradeeppnt commented on #30776
I have tried out this approach, but could not find any improvement. Right now, I doubt it is not with HttpClient or external API calls. It may be something else which is causing the memory leak. I will do a detailed code review and come back.

As I believe, it is not an issue with HttpClient, I am closing this issue.

[2018-08-10 01:44] #30776 closed

[2018-08-10 03:14] pjanotti commented on #19765
@jkotas @Maoni0 we could fix this in relatively simple way by creating a new struct to replace CWT usage of `DependsHandle` as the holder for key and value . This alternative struct could have a weak GCHandle to the key and a reference to the value. This way the change to the code will be very localized. At minimum some perf tests needs to be added to see how perf & mem will be affected, besides t

[2018-08-10 03:40] Zhujinyong opened #31690 "SQL Server 2008 R2 (SP3) X86 can not open on linux 7.4 with dotnet 2.0.5"
I have updated to sp3,but I still can not open database.Is x86 not supported,how can I fix it??? Waiting for answer online ,thanks a lot!(It works fine on windows ,but bad in linux centos 7.4,dontet version 2.0.5 )

my database version is :
Microsoft SQL Server 2008 R2 (SP3) - 10.50.6000.34 (Intel X86)
Aug 19 2014 12:21:07
Copyright (c) Microsoft Corporation
Enterprise Edition on Windows NT 5.2 (B

[2018-08-10 03:44] Zhujinyong commented on #31690
dotnet --info
.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     centos
 OS Version:  7
 OS Platform: Linux
 RID:         centos.7-x64
 Base Path:   /usr/share/dotnet/sdk/2.1.4/

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.5
  Build    : 17373eb129b3b05aa18ece963f8795d65ef8ea54

[2018-08-10 04:10] jkotas commented on #19765
I do not think you would be able to maintain the CWT contract with this structure. It would be keeping the `value` alive for much longer (potentially infinitely long) once the entry becomes dead.

[2018-08-10 05:15] pjanotti commented on #19765
Ops, you're right: while the CWT is not collected values will still be alive. Since it is a very particular case it seems better to document the behavior and close the issue.

[2018-08-10 05:35] pjanotti commented on #30752
The netcoreapp version is using about half as much cpu as netfx in the same amount of the time, that explains the throughput difference. This is related to the contention on the mutex. Below is what I captured in the runs:

netcoreapp:
![image](https://user-images.githubusercontent.com/5600755/43940266-b10041b8-9c23-11e8-8551-bbd998dd9b8d.png)
![image](https://user-images.githubusercontent.com/560

[2018-08-10 07:34] springy76 commented on #9698
Just my 2ct: When there will be finally a `CancellationToken` parameter, will this not automatically allow setting timeouts by using a self-cancelling `CancellationTokenSource` as such?:

`new CancellationTokenSource(TimeSpan.FromSeconds(timeoutSeconds)).Token`

Is this bad practice or problematic in other ways?

[2018-08-10 08:37] SinxHe commented on #25273
when will the flush function will be added?

[2018-08-10 09:27] evilguest commented on #30968
Where can I see the Vector<T>(Span<T>) constructor? The one available in System.Numerics.Vectors 4.1.4.0 does have only the T[]-based constructors :(

[2018-08-10 09:34] danmosemsft commented on #31650
@ahsonkhan

[2018-08-10 09:35] danmosemsft commented on #31645
Ideally if we expose it in the API there it would have some value on Unix also. Is there an analogous concept?

[2018-08-10 09:37] danmosemsft commented on #31639
We could start by changing to reuse an array from ArrayPool. Any interest in offering a PR?

[2018-08-10 09:39] danmosemsft commented on #31612
@jeremykuhne

[2018-08-10 09:50] lukepuplett opened #31692 "Distributed tracing and the new Activity class - How to make it Just Work"
I've been reading source code on GitHub for hours and it seems there's a whole load of stuff hiding away for making request tracing through .NET Core apps/microservices, and I'm guessing Azure PaaS, "Just Work".

The new `Activity` class is created and started and the request is added, parent-child is chained, hierarchical correlation IDs are generated and flowed to subsequent requests via `Reques

[2018-08-10 11:01] Genbox commented on #31645
@danmosemsft The permissions system on Windows is much more complicated than on Linux. For example, a user can remove all permissions from a file, thereby disallowing access to it even by Administrator and SYSTEM. However, any user with the right administrative privileges can change the ACL on the file to give himself access, but that requires a lot of changes to the MFT of the filesystem, which i

[2018-08-10 14:01] AArnott opened #31695 "PipeReader.OnWriterCompleted callback exception will crash the process"
Apparently `PipeReader.OnWriterCompleted` (and perhaps `PipeWriter.OnReaderCompleted`?) execute their callbacks directly on the threadpool, with no `Task` or other means of wrapping exceptions thrown. As a result, if these callbacks throw an exception, the process crashes.

I find this very unexpected, since it is not clear how the callback will be invoked, and it's not documented to be directly o

[2018-08-10 14:16] jrodenburg commented on #27561
Was a solution ever found for this issue?

[2018-08-10 14:36] AArnott opened #31696 "PipeReader.CancelPendingRead() cancels, then subsequent ReadAsync returns 0 bytes"
After canceling a pending read operation, I expect the following read to work normally. But instead, it returns (uncanceled and uncompleted) a *0 byte buffer*. Readers should never return 0 bytes unless it's at the end of the stream (or canceled). But in this case, it is neither of those conditions.

[code]

[2018-08-10 14:42] benaadams commented on #30994
`Dictionary<TKey, TValue>` where `TKey` is string (for ordinal comparisions e.g. not specified comparer), starts with non-randomized hashing for the strings; switching to randomized hashing when collisions get high.

It might be worth using the same approach for `HashSet<T>` when `T` is `string`; also adding the concurrent use check (as that is collision count based?).

Don't think much could be d

[2018-08-10 15:08] bartekkois commented on #27561
I haven`t found one. However you can look at my not very elegant way of dealing with that problem by preparing raw requests, sending them by HttpClient,  cutting out XML content from SOAP envelope and deserializing it:
https://github.com/bartekkois/Adescom-CTM-Billings/blob/master/Adescom%20CTM%20Billings/AdescomCTMSoapWrapper.cs#L191
It is painfull but works for smaller apps.

[2018-08-10 15:13] vancem commented on #30994
First, as a matter of principle, I think both @mjsabby idea of having an opt-out and @benaadams  idea of dynamically switching hashes under high collisions are worth having 'on the table'.

However I will mention that if there is something we do ALOT at Microsoft, it is make things more complex for what ultimately turns out to be a dubious tradeoff.     I think we should very clear on the benefits

[2018-08-10 15:15] Joe4evr commented on #30968
@evilguest https://apisof.net/catalog/System.Numerics.Vector%3CT%3E..ctor(Span%3CT%3E)

[2018-08-10 15:29] danmosemsft commented on #31181
@iainnicol not back yet, but for Financial the inputs and outputs in the legacy test cases linked here https://github.com/dotnet/corefx/issues/31181#issuecomment-408582979 may be a good set of unit tests for it.

[2018-08-10 16:33] jianyunt commented on #31433
@wtgodbe any updates?

[2018-08-10 16:59] yujayee commented on #31507
Hi @christiantinauer, thank you for your suggestion! We will take this as a feature request. 😃
For now, you may need to use other approaches. You can find some useful information [here](https://docs.microsoft.com/en-us/dotnet/framework/app-domains/how-to-sign-an-assembly-with-a-strong-name). The StrongNameSigner you mentioned is not released by Microsoft so we are not responsible for maintaining i

[2018-08-10 17:26] joshfree commented on #31655
@safern could you assist here while others folks are out?

[2018-08-10 17:27] safern commented on #31655
Sure. I'll take care of it once I'm done with the the builds today.

[2018-08-10 17:29] joshfree commented on #31646
@AtsushiKan

[2018-08-10 17:35] omajid opened #31699 "Ambiguous license header in some source files"
Some source files in corefx contain this license header:

[code]

This license header looks a bit ambiguous because it names a copyright holder and says that all rights are reserved by the copyright holder. This somewhat contradicts the `LICENSE.TXT` file in this repo which says that the copyright holder (.NET Foundation) is licensing this file under the MIT license. It would be nice to clear up t

[2018-08-10 17:42] Clockwork-Muse commented on #31639
Well, you could pool the initial loads (that section is part of a growing loop), then copy for the return...

[2018-08-10 17:53] joshfree commented on #12403
@Anipik not yet.  Likely next week - please wait for @vivmishra to let us know when the branch is open for 2.1.5 commits.

[2018-08-10 17:54] JeremyKuhne commented on #31612
It is by design that we skip hidden and system if you don't specify otherwise when creating `EnumerationOptions`: https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/EnumerationOptions.cs#L30

We had a fair amount of discussion around it. It was decided that the new options would give you "normal" files and that you would have to explicitly ask for "special" files.

[2018-08-10 17:54] #31612 closed

[2018-08-10 18:50] joshfree commented on #31699
Thanks for pointing this issue with the .cxx files out @omajid.  @krwq could you correct this and also grep to ensure there's no other issues like this elsewhere?

[2018-08-10 19:10] pjanotti commented on #14345
Closing per latest numbers:

Lines: 87.3%
Branches: 74.7%

[2018-08-10 19:10] #14345 closed

[2018-08-10 19:17] pjanotti commented on #4953
Closing: current coverage at 84.9%

[2018-08-10 19:17] #4953 closed

[2018-08-10 19:45] danmosemsft commented on #31639
Hmm, I was thinking to return the too small buffers to pool then give the final one to the caller instead of back to the pool. But since it came from the pool that buffer could be too large to reasonably return.

In this case of heavy allocations, how large is the data typically? Is starting with 65000 and doubling a reasonable strategy?

[2018-08-10 19:52] joperezr commented on #22142
We haven't been able to repro this so if somebody can provide a small repro solution that would be ideal.

[2018-08-10 19:55] benaadams commented on #31639
[MSDN example](https://docs.microsoft.com/en-us/windows/desktop/api/winreg/nf-winreg-regqueryvalueexa) uses starting buffer of 8kB and increments in 4kB; though don't know big the general data is
[code]

[2018-08-10 20:02] jkotas commented on #31639
System.Diagnostics.PerformanceCounter library can directly PInvoke the registry API in the one performance sensitive place, with buffer allocated from ArrayPool.

[2018-08-10 20:25] #31664 closed

[2018-08-10 21:04] Anipik commented on #17164
@danmosemsft @ericstj do we need to port
[code]

?

[2018-08-10 21:12] #31477 closed

[2018-08-10 21:17] geoffkizer opened #31704 "HTTP2: Consider setting SETTINGS_HEADER_TABLE_SIZE to 0"
We should consider disabling the dynamic header table entirely by setting SETTINGS_HEADER_TABLE_SIZE to 0 in our initial settings frame to the server. This would simplify our HPACK implementation.

It's not clear how common it is for servers to actually use this table. I suspect it's not particularly common today. We can always reconsider implementing this later.

[2018-08-10 21:24] pjanotti commented on #26768
Latest numbers:
![image](https://user-images.githubusercontent.com/5600755/43982014-1b54d18e-9ca9-11e8-9cf3-941d26418d42.png)

[2018-08-10 21:26] pjanotti commented on #24646
Duplicate of #29661

[2018-08-10 21:26] #24646 closed

[2018-08-10 21:27] pjanotti commented on #24242
This is not happening currently, closing.

[2018-08-10 21:27] #24242 closed

[2018-08-10 21:30] pjanotti commented on #17127
Duplicate of #29661

[2018-08-10 21:30] #17127 closed

[2018-08-10 21:35] tmenier commented on #30611
@caesar1995 Any thoughts here? Is it "safe" for a general-purpose HTTP client library to just always use quoted values for `name` and `filename` in `Content-Disposition` headers?

[2018-08-10 21:41] ericstj commented on #17164
WRT to SecurityContext, it looks like that whole type is already stubbed out:
https://github.com/dotnet/corefx/blob/db181f448f3c6bc252ae267025adf7f77f36869c/src/System.Security.Permissions/src/System/Security/SecurityContext.cs#L19-L20

I think this issue predated @danmosemsft 'a commit https://github.com/dotnet/corefx/commit/db181f448f3c6bc252ae267025adf7f77f36869c.

[2018-08-10 21:57] joshfree opened #31709 "Opensuse Tumbleweed - No usable version of the libssl was found"
_From @livarcocc on March 29, 2018 21:20_

_From @luisantoniojr on March 29, 2018 21:9_

After a clean installation of opensuse tumbleweed, first thing i done, after update the system, was try to install dotnet sdk. So after follow this tutorial, https://www.microsoft.com/net/learn/get-started/linux/opensuse, i had this problem:

openssl is installed:
teste@linux-my0x:~> sudo zypper search openssl

[2018-08-10 21:57] joshfree commented on #31709
_From @livarcocc on March 29, 2018 21:20_

This is a runtime native dependency issue. Moving to core-setup.

[2018-08-10 21:57] joshfree commented on #31709
_From @omajid on March 29, 2018 22:22_

Looks like openSUSE has picked up openssl 1.1, which is API and ABI incompatible with 1.0. Installing `libopenssl1_0_0` (or the closest package) should fix things on tumbleweed.

[2018-08-10 21:57] joshfree commented on #31709
_From @luisantoniojr on March 30, 2018 3:33_

For all of you, thanks. Its worked. Just one comment, when i executed the command "dotnet run", after i created one project, i had a failure, "MSBUILD : error MSB1025: An internal failure occurred while running MSBuild.". But this one i found the explanation here, https://github.com/dotnet/corefx/issues/26966, just run the command again with "TERM=xter

[2018-08-10 21:57] joshfree commented on #31709
_From @omajid on March 30, 2018 6:42_

Thanks for verifying. @livarcocc Looks like we need to update our docs for Tumbleweed and future openSUSE versions.

[2018-08-10 21:57] joshfree commented on #31709
_From @red0bear on August 4, 2018 2:53_

dotnet new ....

Cannot get required symbol EC_KEY_set_public_key_affine_coordinates from libssl
Abortado (imagem do núcleo gravada)

[2018-08-10 21:58] joshfree commented on #31709
@bartonjs this looks similar to Ubuntu 18.04.  Can you PTAL and help update both the installation instructions and the developer guides for this?

[2018-08-10 22:07] pjanotti commented on #17107
We are currently experimenting with coverlet. Instructions here: https://github.com/dotnet/corefx/blob/master/Documentation/building/code-coverage.md#cross-platform-coverage

[2018-08-10 22:29] caesar1995 commented on #30611
We _**only**_ add quotes around those parameters when RFC specifies that [it's required](https://tools.ietf.org/html/rfc6266#appendix-D). The reason is that we want to preserve user's input, and avoid unknown issues which will caused by always appending quotes. Also this behavior is same on .NET Framework, and we don't want to break it.

I don't know (not aware of) about potential pitfalls to alwa

[2018-08-10 22:32] jeffschwMSFT commented on #31480
@AaronRobinsonMSFT

[2018-08-11 00:52] TimLovellSmith opened #31712 "Remove netfx-specific code from projects that no longer build in netfx configurations"
TLDR; basically I think there are a bunch of small tweaks to the code which could make this faster, along with the 'bigger' tweaks (risks) of using unsafe code, and really baking little-endian assumptions into the implementation, which I am thinking of doing a pull request for - high level QN: does it sound useful?

I saw a thread today talking about System.Compression.Crc32Helper using relatively

[2018-08-11 01:11] ajaybhargavb opened #31713 "Process.WaitForExit() doesn't always return when the process ends on linux"
We're seeing some odd behavior in one of our Razor build server [tests](https://github.com/aspnet/Razor/blob/master/test/Microsoft.AspNetCore.Razor.Design.Test/IntegrationTests/BuildServerIntegrationTest.cs#L150-L168) when running on a linux machine in VSTS.
The test seems to hang at the WaitForExit call [here](https://github.com/aspnet/Razor/blob/master/src/Microsoft.AspNetCore.Razor.Tools/Shutdo

[2018-08-11 03:53] noahfalk commented on #3708
If its helpful I did a C# example here: https://github.com/noahfalk/corefx/commit/dd861d631a4d6e8188d74c5c17905868bbefa41a

That said there is always the next level of detail and plenty of things I did in my example were somewhat arbitrary. I probably won't be able to spend too much more time at this, so if you guys determine there are still too many details unaccounted for or its papering over ha

[2018-08-11 05:16] jkotas commented on #3708
The default for .NET Core console apps has to stay no UI. Changing it back to pop up winforms assert dialog by default would be a major step backward.

The default desktop behavior was optimized for classic winforms apps. For everything but WinForms, I think it has been an unwritten best practice to suppress default behavior and replace it with something else. I have seen a lot of instance like ht

[2018-08-11 09:37] danmosemsft commented on #31713
@tmds

[2018-08-11 09:40] danmosemsft commented on #31712
@jkotas what is our bar for introducing unsafe?

It may be worth trying SIMD here. There are instructions for CRC

[2018-08-11 10:41] a-a-k opened #31717 "dotnet restore fails on a bitbucket pipeline configured with proxy"
**bibucket-pipeline.yml file**:
[code]
**dotnet --info**:
[code]
**Errors**:

[2018-08-11 11:26] Wraith2 commented on #31007
I think this can be closed, it was fixed in https://github.com/dotnet/corefx/pull/31062

[2018-08-11 11:43] filipnavara commented on #31712
Please don't bake little endian assumptions into code unconditionally. The code may be reused in Mono, which runs on big endian platforms. It's ok to offer an optimized version and guard it by `BitConverter.IsLittleEndian`, which is treated as intrinsic by the runtime.

[2018-08-11 11:51] ircaxn opened #31718 "Could not load file or assembly 'System.Buffers, Version=4.0.2.0' on self hosting .Net Core API"
I am trying to self host a .Net Core API from my application which targets to both 4.7.2 full framework and .Net Core 2.1. In my local development environment the API is running fine on both frameworks and when we tried to deploy the same in our Windows server and to run on framework 4.7.2, it throws the below error:

Exception: Could not load file or assembly 'System.Buffers, Version=4.0.2.0, Cul

[2018-08-11 13:17] jkotas commented on #31712
https://github.com/dotnet/corefx/blob/master/src/System.IO.Compression/src/System/IO/Compression/Crc32Helper.Managed.cs is dead code in CoreFX. It was used in the netfx implementation of System.IO.Compression that we are not building in CoreFX anymore. The thing to do here is to cleanup netfx specific stuff from https://github.com/dotnet/corefx/blob/master/src/System.IO.Compression/src/System.IO.C

[2018-08-11 13:37] filipnavara commented on #31712
@jkotas A bit off-topic, but what is the current status of WASM targetting with CoreFX + CoreRT? Someone was asking for WASM-compatible implementation of DeflateStream and that could still be a good use for the managed code...

[2018-08-11 13:41] jkotas commented on #31712
It is being worked on as a side-project: https://github.com/dotnet/corefx/issues/26107. The WASM implementation should be able to use the stock C implementation just fine. I do not think there is a strong reason to introduce managed implementation just for the WASM.

[2018-08-11 13:45] #31007 closed

[2018-08-11 15:24] odhanson commented on #25273
@SinxHe , unfortunately fixing this issue is a bit more tricky than I initially anticipated. As I have managed to work around this issue for now, I am not sure when I will be able to get back to work on a fix for this.

[2018-08-11 16:09] ericstj commented on #3708
I like the API suggested and added a few comments to your commit.

I agree with @jkotas that we shouldn't make the default show UI on .NETCore.  We can make winforms and WPF opt into that.  We can, however, preserve TraceListener linkage by default if present.

[2018-08-11 18:32] satano commented on #5523
@karelz Hello. Can I take this?

[2018-08-12 01:01] joshfree commented on #9855
https://tools.ietf.org/html/rfc8446

[2018-08-12 02:45] talanc commented on #30327
I installed the latest daily sdk (3.0.0-preview1-26710-03) and I'm getting this exception now:
`System.Net.Http.HttpRequestException: Authentication failed because the connection could not be reused.
Stack Trace:
    at System.Net.Http.HttpConnection.DrainResponseAsync(HttpResponseMessage response)
   at System.Net.Http.AuthenticationHelper.SendWithNtAuthAsync(HttpRequestMessage request, Uri authU

[2018-08-12 08:58] GSPP commented on #9698
Once we have cancellation based on `CancellationToken` as proposed in the first ticket (https://github.com/dotnet/corefx/issues/5749 dd a clean way to cancel a long-running Socket operation (e.g. accept or connect)) implementing timeouts should be easier.

There is still a need to have timeouts directly supported. Pretty much any application needs to put a timeout on socket operations. I repeat he

[2018-08-12 08:58] GSPP commented on #5749
[The Windows documentation says this about cancelling operations](https://docs.microsoft.com/en-us/windows/desktop/winsock/overlapped-i-o-and-event-objects-2):

This forces a design where any cancellation ends the connection. This should be fine.

Cancellation should be instantaneous in all cases. If it is not then applications cannot rely on cancellation being effective to move the UI state forwa

[2018-08-12 09:07] GSPP commented on #6104
I propose adding the following:

[code]

The token should be allocated lazily. I imagine it might have more overhead than the existing property `bool ShouldExitCurrentIteration` because a new `CancellationTokenSource` must be created for each iteration. This is because `Parallel` loops support aborting based on minimum iteration index as opposed to aborting the whole loop. Calling `Break` some ite

[2018-08-12 09:15] GSPP commented on #7254
Networking is a fundamental element of the .NET standard libraries. Especially with the world becoming more connected and distributed the core `Socket` API should be as reliable as possible. I'd make the case to fix this. It does not seem like an expensive fix to take.

[2018-08-12 09:35] GSPP commented on #9369
API proposal:

Let's add static methods to the individual hash classes, e.g.

[code]

I'd *not* add a new class `Hash` (or similar name) with usage like `Hash.SHA256(...)`. Each hash type is logically isolated. User code might add more hash algorithms that would not be represented on this `Hash` class leading to confusion.

Libraries providing more hash algorithms can simply implement the static m

[2018-08-12 09:36] juepiezhongren commented on #31643
@ayende nowadays, rust's idea seems perfect for customed-heap control

[2018-08-12 09:42] GSPP commented on #10013
Span has landed so this can be unblocked.

[2018-08-12 10:36] ayende commented on #31643
I like the idea, although I'm not so sure about the keyword.
Being able to hook into the object creation and provide our own buffer for managed objects would be great.
The problem is, of course, that we need to worry about external references.
Using your own syntax, what would this do:

[code]

GC will try to follow the pointer from `list` and probably die with access violation.
That is unless we

[2018-08-12 11:29] GSPP commented on #31586
This is a duplicate of [Add a clean way to cancel a long-running Socket operation (e.g. accept or connect)]( https://github.com/dotnet/corefx/issues/5749).

[2018-08-12 11:45] Bonuspunkt opened #31720 "'System.Xml.Serialization.XmlSerializer` does silently ignore `System.DatetimeOffset` values"
example code
[code]
stream content
[code]
expected behavior: data does not magically disappear

[2018-08-12 12:07] Bonuspunkt opened #31721 "`System.Xml.Serialization.XmlSerializer` serializes 0x00 but crashes on deserialization"
sample
[code]
it would be nice, if the exception would occur at serialization, because its a pita when it happens at deserialization with huge streams (ex `There is an error in XML document (54563, 98).`)

[2018-08-12 12:38] ViktorHofer commented on #30177
If we want to do this globally then it makes sense to put this into the Directory.Build.props in src and condition it correctly.

[2018-08-12 12:38] ViktorHofer commented on #22210
I just saw this. I think we should do this after we brought the official xunit runner in.

[2018-08-12 12:39] ViktorHofer commented on #21253
Thanks, I addressed this with my recent xunit 2.4 work. This will soon be in master.

[2018-08-12 12:42] ViktorHofer commented on #21078
I think we should address this as the "ordinary" dev expects Ctrl + C to just work.

[2018-08-12 12:43] ViktorHofer commented on #19975
@hughbe does the behavioral difference still apply?

[2018-08-12 13:33] cocowalla commented on #30456
@JeremyKuhne I just noticed this got added to the 3.0 milestone - does that mean we can't expect any fixes or improvements to `FileSystemEnumerable` in 2.2?

[2018-08-12 15:48] raffree opened #31722 "Ability to create ICryptoTransform, passing key and iv as Spam<byte>"
It could be for example in Aes class, where CreateEncryptor declared, we could pass Span for internal UniversalCryptoTransformer.

public int TransformBlock(
Span<byte> inputBuffer,
int inputOffset,
int inputCount,
Span<byte> outputBuffer,
int outputOffset) {

[2018-08-12 16:44] ViktorHofer opened #31723 "ILC.exe runs twice for each Identity when running tests on uapaot"
https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/tests.targets#L401-L406

This generates the commands twice in the RunTest.cmd because the echo is misplaced. The first time it will be executed as part of the template (echo --> to repro directly): https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/RunnerTempla

[2018-08-12 17:03] ViktorHofer commented on #30399
@MattGal I can also confirm that this now works locally on AMD64. I would like to see if this still happens on ARM with my recent xunit 2.4 changes. Is a machine available which I can connect to and build buildtools + corefx?

[2018-08-12 17:08] ViktorHofer commented on #30423
@MattGal though the tests are failing I see tests run in the recent uapaot infrastructure logs: https://mc.dot.net/#/product/netcore/21/source/prodcon~2Fcorefx~2Frelease~2F2.1~2F/type/test~2Ffunctional~2Filc~2F/build/20180810.01/workItem/System.Text.RegularExpressions.Tests.Execution/wilogs

Is this already addressed?

[2018-08-12 17:52] ViktorHofer opened #31724 "Build break in master: Cycle detected for System.IO.FileSystem.dll"
Build break 😆

[code]

Came in with https://github.com/dotnet/corefx/commit/cc9eaa79b526c2b23ee16f4e453e428e2e84a7df#diff-08292c6147f4cac0cb76f64bf5dd7aa6R306

https://mc.dot.net/#/netcore/21/20180812.01

cc @JeremyKuhne @MarcoRossignoli

[2018-08-12 20:34] MarcoRossignoli commented on #31724
I apologize more info here https://github.com/dotnet/corefx/pull/31725#issuecomment-412367893

[2018-08-12 20:37] #31724 closed

[2018-08-12 21:02] minaairsupport opened #31726 "Could not load assembly 'System.Threading.Tasks.Extensions, Version=4.1.1.0"
Exception while loading assemblies: System.IO.FileNotFoundException: Could not load assembly 'System.Threading.Tasks.Extensions, Version=4.1.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. Perhaps it doesn't exist in the Mono for Android profile?

Could any one guide me how to solve this issue I tried to make walk around  but it dosent work

<Reference Include="System.Threading.Tasks.Exten

[2018-08-12 21:28] steveharter commented on #31099
Issue moved to [dotnet/core-setup #4453](https://github.com/dotnet/core-setup/issues/4453) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-12 22:08] davidfowl commented on #31099
Work needs to be done in coreclr and core-setup. Do we track both in core-setup?

[2018-08-12 23:45] ViktorHofer opened #31728 "Incorrect CI build status"
See https://github.com/dotnet/corefx/pull/31725#issuecomment-412361858 for discussion.

Failures in i.e. frameworkPackage.targets are logged out but don't affect the build status even if it fails.

CI logged an error but the build didn't fail. That's from @tarekgh PR which came in on 8/10 after a faulty commit that caused target validation errors (caa3ab4): https://ci3.dot.net/job/dotnet_corefx/jo

[2018-08-12 23:50] ViktorHofer commented on #31726
When does this happen? As you mention Android it sounds like not when targeting netcoreapp but when building a Xamarin app? The assemblies in the package seem to be correct therefore I assume this issue should be moved over to mono/xamarin.

[2018-08-13 03:17] Anipik commented on #29715
@maryamariyan are you working on this one ?

[2018-08-13 03:22] dotnet-mc-bot opened #31731 "Test failure: System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests/ValidateAgainstBlobs(obj: BackwardDiagonal, blobs: [System.Runtime.Serialization.Formatters.Tests.TypeSerializableValue, )"
Opened on behalf of @Sunny-pu

The test `System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests/ValidateAgainstBlobs(obj: BackwardDiagonal, blobs: [System.Runtime.Serialization.Formatters.Tests.TypeSerializableValue, )` has failed.

The stored blob for type System.Drawing.Drawing2D.LinearGradientMode is outdated and needs to be updated.\r
    \r
    -------------------- Stored blob ---

[2018-08-13 05:17] lostmsu opened #31732 "Installing System.Runtime.Serialization.Xml on .NET 4.7.1 target causes FileNotFoundException at runtime"
I have a .NET Standard library, that references System.Runtime.Serialization.Xml. When I reference that library from NuGet, it pulls System.Runtime.Serialization.Xml as a dependency, which fails to load at runtime with

FileNotFoundException: Could not load file or assembly 'System.Runtime.Serialization.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependenc

[2018-08-13 07:07] 4creators opened #31733 "Integer formatting discrepancy between Windows and Unix"
Trying to format integers with `ToString("# ### 000")` gives different output on Windows and Unix.

[code]

#### dotnet --info
#### Linux
[code]
#### Windows
[code]

[2018-08-13 07:59] MarcoRossignoli commented on #31544
@JeremyKuhne you can re-open and reassign to me if you want.

[2018-08-13 09:37] christiantinauer commented on #31507
Hi @yujayee, is it possible to extend the Microsoft.XmlSerializer.Generator.targets file to take
`<SignAssembly>...</SignAssembly>
<AssemblyOriginatorKeyFile>...</AssemblyOriginatorKeyFile
<DelaySign>...</DelaySign>`
of the .csproj into account? Maybe in the same way it is done for the .csproj DLL/EXE? I am not exactly sure what is done with this information and how it is used when building the pr

[2018-08-13 11:12] sirkadirov commented on #30140
Hmmm... .NET Core SDK version `2.1.302`: same error, but I don't use this execution path in my program... And, as I see in @eerhardt post, RunAs functionality is available at this .NET Core version.

    .NET Core SDK version `2.1.302`
    Microsoft.NETCore.App version 2.1.2
    Linux Mint 19 "Tara"

[2018-08-13 11:36] karelz commented on #31417
It does not seem to be related to CoreFX. Looks like a problem in VS.
Create a small repro you can share, test it on another machine/VM, then file a report via VS feedback: [VS Developer Community Portal](https://developercommunity.visualstudio.com)

[2018-08-13 11:36] #31417 closed

[2018-08-13 11:38] noahfalk commented on #3708
I value the user data more than my whims ; ) No UI dialog by default is fine by me.

[2018-08-13 11:42] karelz commented on #31420
@samdearden is it a regression against .NET Core 2.0 or earlier verion?

[2018-08-13 11:55] jods4 commented on #24333
Some specific use-cases would benefit greatly from faster Regex.
For example: dev tools/extensions tend to use them extensively to find patterns in code (think `// TODO`), filter filenames and so on.

The best performing Regex engine is actually a re-usable C library that includes a JIT, maybe it's worth looking into integrating it rather than writing your own Regex JIT.
Under BSD license, github

[2018-08-13 12:28] samdearden commented on #31420
@karelz same issue on .NET Core 2.0

[2018-08-13 12:38] sirkadirov opened #31735 "[System.Diagnostics] Using LoadUserProfile on Linux: Starting a process with a different identity is not supported on this platform"
**Hello!** I'm new to .NET Core (recently moved my project from .NET Framework for it).

### Story

- I didn't know that RunAs is partially available on Linux, so I used all functionality of it in my code.
- I catched exception `System.PlatformNotSupportedException: Starting a process with a different identity is not supported on this platform`, googled it and saw solution of #30140 by @eerhardt.

[2018-08-13 12:39] sirkadirov commented on #30140
Oops, I used `LoadUserProfile` in all execution paths, but this option not supported on Linux... Maybe we need to change exception message for it? Because `Starting a process with a different identity is not supported on this platform.` is really bad. Created issue for this idea. Maybe I create PR soon.

[2018-08-13 13:37] ViktorHofer commented on #31731
Is there a difference in what gets serialized between netcoreapp and uwp? @safern

[2018-08-13 13:48] pgolebiowski commented on #1973
+1 for @NickRedwood

It's been open for over 3 years now. Please make this happen by changing the approach. Introducing the change mentioned by @NickRedwood allows for all the other enhancements that you are discussing in this thread. All the approaches agree about this single trivial thing. So let's add this single trivial thing which is fundamental and then create another issue for potential enh

[2018-08-13 13:55] ViktorHofer commented on #24333
Thanks, we know about both pcre and pcre-net. We had offline discussions about adopting pcre but nothing concrete yet.

[2018-08-13 14:36] n00j commented on #31638
Ran one more experiment, and it looks like it may not be SqlClient, but instead may be a problem with the underlying System.Net.Sockets implementation

I ran the same code on .NET Core 1.1 and .NET Core 2.1
The same code running on .NET Core 2.1 doesn't seem to have any leaks.

Green - Code Targeting .NET Core 2.1
Yellow - Code Targeting .NET Core 1.1
![6](https://user-images.githubusercontent.com

[2018-08-13 14:47] EricStG commented on #31499
This might be a silly question, but is adding those lines an option? Is that something I could do and send a PR for?

[2018-08-13 14:50] TylerBrinkley commented on #1973
I don't really see that much benefit to an `IReadOnlySet<T>` interface with only a `Contains` method. While that method is useful it's already included in the `ICollection<T>` interface which also has an `IsReadOnly` property intended to indicate whether the modification methods of `ICollection<T>` are supported. Just implement `ICollection<T>` and make `IsReadOnly` return `true`. The only other f

[2018-08-13 16:15] sirkadirov opened #31740 "Intermittent: Empty Process stdout"
## Story
I don't know why, but sometimes when running same console program with same input data, System.Diagnostics fucntionality returns empty stdout.

It's not a problem with running process. Also I checked my code many times, no errors found.

## Platforms
- Windows (tested)
- Linux (tested)

## I think this non-repro code would be useful for creation of working repro of this problem

I tried t

[2018-08-13 16:26] davidsh commented on #30327
That 3.0.0-preview build probably doesn't have the fix from the master branch.  The builds are not really "daily".

[2018-08-13 16:37] smourier commented on #12034
Note that Cosmos Db (ex Document Db) from Microsoft also has support for spatial types. Unfortunately operations on these types are to be used in LINQ expressions only and will be evaluated on server. There's no implementation provided in the client library: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.spatial.geometryoperationextensions so it means if I'm using Cosmos Db

[2018-08-13 16:41] joperezr commented on #31723
Yeah it in fact does run twice, I believe @morganbr had already reported that and logged an issue for it but I'm having trouble finding it. Once I do I'll close this as a dupe of that one.

[2018-08-13 16:43] joperezr commented on #31723
Here it is: https://github.com/dotnet/buildtools/issues/2044  It looks like @morganbr closed that issue already, so perhaps this is fixed now. We should just double check

[2018-08-13 16:44] dotMorten commented on #12034
I want the Spatial UDT types to "just work" in and out of SQL Server. I don't care what assembly they are in.

[2018-08-13 16:46] ViktorHofer commented on #31723
Weird, it didn't work for me and I had the latest changes. Doesn't really matter as it will change.

[2018-08-13 16:48] danmosemsft commented on #31728
I'm not sure why this is, because they are clearly logged as errors, and we know that when the `Invalid local constant signature` warnings were errrors, the build would fail.
[code]

[2018-08-13 16:48] joperezr commented on #31665
Usually, we did this whenever we wanted to reference the implementation directly, or if we wanted to compile de implementation as part of the test project. Test projects automatically get a reference to the whole targeting pack (for example, on the netcoreapp vertical they will get a reference to everything under bin/ref/netcoreapp) so if we wanted to test a class that only exists in the implement

[2018-08-13 16:50] joperezr commented on #31723
Oh I see, looks like he hasn't merged his PR fixing this yet: https://github.com/dotnet/buildtools/pull/2095
Do make sure that you incorporate his fix on your changes.

[2018-08-13 16:55] danmosemsft commented on #31712
There may be other cleanup of project file content stemming from eade3b36725c8d463a40589ff749af5bb0cab8f4 (which removed some netfx configurations). For example src\System.Net.Http\ref\System.Net.Http.csproj has `'$(TargetGroup)' == 'netfx' ` although this commit removed the netfx configuration from src/System.Net.Http/ref/Configurations.props.

@TimLovellSmith do you have any interest in cleaning

[2018-08-13 16:56] ViktorHofer commented on #31723
I don't think that dotnet/buildtools#2095 is related to the fix at all?

[2018-08-13 16:57] ViktorHofer commented on #31665
Ok thanks, so can we now use this instead? https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.Composition/tests/System.ComponentModel.Composition.Tests.csproj#L9

[2018-08-13 16:57] tarekgh commented on #31728
I have no idea how my commit can cause this.

CC @JeremyKuhne @ianhays for the cyclic issue. @ericstj and @weshaggard may have some clue on this?

[code]

[2018-08-13 17:00] ViktorHofer commented on #31728
@tarekgh nobody said that your commits caused that. Your commit is the one after the faulty commit and I just yours for the logs in CI.

[2018-08-13 17:04] tarekgh commented on #31728
thanks @ViktorHofer for the clarification :-)

[2018-08-13 17:10] JeremyKuhne commented on #30456
@karelz did a bulk move, I'm not sure why he moved closed items as well.

That said, we are, in fact, only doing critical changes for 2.2. New features & functionality would be in 3.0.

I'd love to continue to make/facilitate improvements here. I can't guarantee timelines as I'm juggling a lot of other things but I'll always find time to at least help facilitate if anyone gets/finds time to push t

[2018-08-13 17:15] steveharter commented on #31099
re-opening to track any corefx work (in Environment)

[2018-08-13 17:28] yujayee commented on #31499
Hi @EricStG, I'm on it and I'll send out a pr. Thanks for being willing to help!

[2018-08-13 17:40] danmosemsft commented on #30341
@Etrimus are you still planning to do this? The sooner we have a PR up the more likely it can get approved for next servicing. If not LMK and I will find someone.

[2018-08-13 17:46] joperezr commented on #31665
No, in fact that line could be deleted. That would be enough if System.Linq.Expressions didn't depend on the runtime directly, but it does, which means that we have to reference all of the runtime manually.

[2018-08-13 17:49] ViktorHofer commented on #31665
Ah sorry, I meant the line below: https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.Composition/tests/System.ComponentModel.Composition.Tests.csproj#L10

[2018-08-13 17:49] ViktorHofer commented on #31665
Ah ok I think I misunderstood something. I will re-read what you wrote and respond later.

[2018-08-13 17:57] robertmclaws commented on #12034
@smourier @dotMorten @suryapratap Yes, that's why I opened this issue in the first place. There should be a single managed DLL that handles 100% of the spatial queries and evaluation. I think SQL Server should then REPLACE their spatial implementation with that one, so there is a unified, platform agnostic way to calculate and query server-side spatial data. I shouldn't have to install the SQL Spa

[2018-08-13 18:05] joperezr commented on #31665
Closing the issue since this was discussed offline and decided that this is by design.

[2018-08-13 18:05] #31665 closed

[2018-08-13 18:09] tmenier commented on #30611
Thank you, that's helpful.

[2018-08-13 18:09] #30611 closed

[2018-08-13 18:09] maryamariyan commented on #29715
yes

[2018-08-13 18:47] maryamariyan opened #31743 "Seg fault doing a clean build on macOS 10.13+ for release1.1"
`release/1.1` can't build on mac 10.13 or later.
build and init-tools fails for both coreclr and corefx with the following error. This happens for both macOS high sierra and mojave (10.13+) but builds correctly for macOS sierra (10.12).

The log below shows the result of init-tools script, which runs as part of build script:

[code]

This seems to be related to: https://github.com/dotnet/corefx/is

[2018-08-13 19:00] TimLovellSmith commented on #31712
Well, I can only think of one particular reason - I would like there to be some fruit from this discussion. E.g. making a non-existing performance issue *look* non-existent. I will need to get to grips with the rest of the contribution process, but can give it a go.

[2018-08-13 19:09] yujayee commented on #31507
@christiantinauer Yes it is possible and we will definitely consider adding this functionality. Thanks!

[2018-08-13 19:26] bgribaudo commented on #26234
@danmosemsft, do you have any ideas on how to do something like https://github.com/dotnet/corefx/blob/9f02f69e3d9a455ec7bd1927eae59f138f37112b/src/System.Diagnostics.Process/tests/ProcessWaitingTests.cs#L222-L241 but where the code that starts the root process (line 241) can get ahold of the process IDs of child 1, 2 & 3?

Unfortunately, I can't simply define variables for the PIDs in that outer s

[2018-08-13 19:53] alfredr opened #31746 "X509Certificate2 fails to import ECDSA private key from Pkcs12 on Linux"
I believe this is a bug. The following snippet asserts "true/true" on Windows and "false/false" on Linux.

[code]

cc: @bartonjs

[2018-08-13 20:17] wfurt commented on #31504
What OS is this on? You can try to make packet capture to see what is happening on the wire.

[2018-08-13 20:35] krwq commented on #26234
@bgribaudo I think you can communicate PIDs back to the main process through i.e. AnonymousPipe (that will require setting handle inheritance but I'd check first if this doesn't happen by default). One platform which might be slightly trickier to test than others is UWP - I think it should be fine to skip testing there for now (please file an issue on that if you decide to skip it).

[2018-08-13 20:50] wfurt commented on #20893
This failed once in last four month (5/17) I'm not sure if it is worth of keeping it open @karelz

[2018-08-13 20:56] anurse opened #31748 "Very intermittent NotSupportedException from HttpClient.SendAsync"
We encountered a strange error during one of our test runs. It failed with the following call stack:

[code]

The relevant code ([`LongPollingTransport.Poll`](https://github.com/aspnet/SignalR/blob/1874368a5caa4f562d1d693e58ae5b68a24d6166/src/Microsoft.AspNetCore.Http.Connections.Client/Internal/LongPollingTransport.cs#L149-L170) referenced in the stack trace) is making a simple GET request with n

[2018-08-13 21:01] Tratcher opened #31749 "HTTPS on macOS does not work running from the default ASP.NET Core Web App (MVC) template"
_From @Sankra on August 10, 2018 9:1_

#### Is this a Bug or Feature request?:

Bug, HTTPS should work under development also on macOS.

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):

Run the following project on macOS: https://github.com/Sankra/HttpsMacOSFails

#### Description of the problem:

1. Downloaded the newest *Visual Studio for Mac (7.5.4 Build 3)* o

[2018-08-13 21:01] Tratcher commented on #31749
_From @mkArtakMSFT on August 10, 2018 16:59_

Thanks for contacting us, @Sankra.
@Tratcher, can you please look into this? Thanks!

[2018-08-13 21:01] Tratcher commented on #31749
What was the error in the browser? These errors in the server are expected if the client does not trust the server's certificate and aborts the connection. See https://blogs.msdn.microsoft.com/webdev/2018/02/27/asp-net-core-2-1-https-improvements/ for trust.

[2018-08-13 21:01] Tratcher commented on #31749
_From @Sankra on August 10, 2018 17:23_

Tried running the trust command again, but it said the cert was already trusted:

[code]

Here are the screenshots of various browsers trying to access the default site:

Safari:

<img width="298" alt="safari" src="https://user-images.githubusercontent.com/634968/43971757-97870b22-9cd2-11e8-8f15-32a9fd5c0f9f.png">

Chrome:

<img width="190" alt="chrome" src

[2018-08-13 21:01] Tratcher commented on #31749
Interesting. I just noticed that last error "Cipher Suite negotiation failure".

I found another report of this error at https://developercommunity.visualstudio.com/content/problem/297841/kestrel-failed-to-authenticate-https-connection-on.html

@davidsh have you seen this with SslStream on Mac?

[2018-08-13 21:01] Tratcher commented on #31749
_From @davidsh on August 13, 2018 20:29_

No, I haven't seen this.

[2018-08-13 21:02] Thieum commented on #26233
@kayjtea I encountered the same issue, and rolled back to this syntax to make it work:

await Client.PostAsync("api/Connect", new StringContent(JsonConvert.SerializeObject(webUser), Encoding.UTF8, "application/json"))

[2018-08-13 21:05] caesar1995 commented on #31748
This sounds familiar. We have discovered the issue during crossed-streams investigation, and I think our conclusion that time is the exception should be wrapped in WebException.

cc: @davidsh

[2018-08-13 21:09] davidsh commented on #31748
We'll move this to our internal bug database since it is .NET Framework related.

[2018-08-13 21:09] #31748 closed

[2018-08-13 21:35] danmosemsft commented on #27610
@Anipik what are the specific virtuals that would need to be exposed?

[2018-08-13 21:36] danmosemsft commented on #30393
@luqunl what is the status of this one, do you plan to do it?

[2018-08-13 21:46] benaadams commented on #31748
Can tell by the more verbose exception traces these days 😎

[2018-08-13 22:16] joperezr commented on #30654
Unassigning from me since my part of the work was finished by @ericstj here: https://github.com/dotnet/corefx/pull/30741

[2018-08-13 22:33] Anipik commented on #27610
The ones we require are
[code]

we will alse need to expose this

[code]

[2018-08-13 22:35] yujayee commented on #28321
Close as won't fix for now.

[2018-08-13 22:35] #28321 closed

[2018-08-13 23:37] jaykrell commented on #30706
One wonders what is the intended use of this informatin.

[2018-08-13 23:49] krwq commented on #31699
Those are used to generate some of the xml code, I've fixed the headers in the PR

[2018-08-14 00:36] jnm2 commented on #1973
`IReadOnlyCollection<>` doesn't have `.Contains` because that would prevent it from being covariant.

[2018-08-14 01:01] NickRedwood commented on #1973
Good point and I've corrected my earlier post to be contravariant. `IReadOnlySet<T>` would need to be invariant unless the approach posted early in the thread is used, and I'm unsure about that one.

[2018-08-14 01:16] #31699 closed

[2018-08-14 01:49] mbrameld commented on #30418
I'd like to take this one on and add some tests. I'm following [this guide to build and run the tests](https://github.com/dotnet/corefx/wiki/Build-and-run-tests). Everything works fine from the command line, but when I try to run the tests in Visual Studio 2017 by setting the test project as startup and running it, I get an error saying a project with an output type of class library can't be start

[2018-08-14 01:55] ViktorHofer commented on #30418
Debugging is currently broken in VS: https://github.com/dotnet/corefx/issues/30913

But should be back in a few days (finger crossed).

[2018-08-14 02:00] mbrameld commented on #30418
Ah, thanks! I'll keep an eye on that issue and come back to this one.

[2018-08-14 02:05] ViktorHofer commented on #30418
Yeah, sure. Thanks a lot for the help! I'll keep you updated. But you don't really need VS. The easiest way to test is:

[code]

Make sure you run that inside the VS Developer Command Prompt 2017.

[2018-08-14 02:11] mbrameld commented on #30418
That does run the tests for me, but I could benefit from stepping through things. I'm not familiar with how System.Reflection.Context all works yet and I'm struggling a little without the debugger!

[2018-08-14 02:18] ViktorHofer commented on #30418
Understandable. I suggest to wait a few days then 👍

[2018-08-14 03:14] talanc commented on #30327
Is there an sdk with the fixes available? I'm keen to try out the fixes.

[2018-08-14 04:10] Etrimus commented on #30341
@danmosemsft yes, I wiil do PR on this week. I had some illness, and fever, but now I feels normally.

[2018-08-14 04:33] filipnavara commented on #31743
I was under the impression that this was one of the reasons why 2.0 moved away from OpenSSL on macOS in favor of native crypto. Anything older than that segfaulted on 10.13+ due to Apple's migration away from OpenSSL.

[2018-08-14 04:39] danmosemsft commented on #30418
Or add `while(!Debugger.IsAttached) Thread.Sleep(1000)` to a test them attach VS at leisure?

[2018-08-14 04:42] #29715 closed

[2018-08-14 05:12] MJEdwin opened #31757 "Relative Uri can not get Query"
Uri uri=new Uri("/cgi-bin/customer?abc=1",UriKind.Relative);
string query=uri.Query; //throw InvalidOperationException:This operation is not supported for a relative URI.

[2018-08-14 05:28] danmosemsft commented on #30341
@etrimus if you need more rest that is on just let me know

[2018-08-14 06:31] ayende commented on #31643
@juepiezhongren Rust does the check in compile time, because it has lifetime annotations.
How do you propose to be able to do that in C#?

Assume that we have

[code]

What about?
[code]

The second case you are calling a method that has no lifetime specification. How do you handle this?

[2018-08-14 06:43] a-a-k commented on #31717
@davidsh could you resume the problem in short?

[2018-08-14 06:43] AndreasHeisel opened #31760 "Handling of security principals"
I think, the handling of security principals in corefx ist broken.

A modified version of the example for [AppDomain.SetThreadPrincipal](https://docs.microsoft.com/en-us/dotnet/api/system.appdomain.setthreadprincipal?view=netcore-2.1#System_AppDomain_SetThreadPrincipal_System_Security_Principal_IPrincipal_) at docs.microsoft.com:

[code]

On .NET Framework I get

[code]

Running on .NET Core 2.1 I

[2018-08-14 07:08] Etrimus commented on #30341
@danmosemsft, @jkotas

For clarify - this quote is about `Console.Writeline(...)`?

But if we just use `try/cath`, we don't need this. We always have first added values in list, and if we trying to add duplicates, we catch an exception and we provides a non-fatal notification about corrupted environment block, right?

[2018-08-14 08:44] felixhayashi commented on #29564
Same here, tried to access SQL Server 2008 R2 SP1 from ASP.NET Core 2.1

[code]
 – We will try to update to SP3 and check if it works.

[2018-08-14 10:35] aaronfranke commented on #28890
It may also be worth considering expanding `~`. I know that it is used by some programs in file names, so I'd suggest only expanding it if it's *the first character* in the given path string.

[2018-08-14 11:07] juepiezhongren commented on #31643
things in oheap just behave in oheap together with stack, that's what i think first, and any call from heap to oheap is simply function without reference passing. Any bcl apis could be implemented for oheap is another thought, but not every one is valid in my opinion.

[2018-08-14 11:12] ViktorHofer commented on #30418
Or simply a `Debugger.Break();`

[2018-08-14 11:45] jphellemons commented on #29622
I have read the whole thing and do not understand it. I have a 4.7.2 which 2 .net standard (2.x) projects in the same solution. I have migrated from packages.config to packagereference and I keep getting `cannot find System.Runtime, Version=4.2.1.0` So I tried to add the nuget system.runtime which is 4.3.x (newer) but that did not change a thing. I did as told here https://github.com/Microsoft/dot

[2018-08-14 12:05] ViktorHofer opened #31761 "Remove performance test related files from non performance test projects"
We don't support running performance tests and xunit tests in the same assembly for a reason. Currently we have a few black sheep that don't follow:

- https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/tests/XmlSerializer/ReflectionOnly/System.Xml.XmlSerializer.ReflectionOnly.Tests.csproj#L12
- https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/tests/XmlSerialize

[2018-08-14 12:17] omajid commented on #24704
See https://github.com/dotnet/core/issues/1857 for a use-case broken by the change to `Process.Start`.

[2018-08-14 12:17] ViktorHofer commented on #31761
cc @adamsitnik

[2018-08-14 12:38] jkotas commented on #30341
This is about exceptions seen in debugger. I do not think there should be any `Console.WriteLine`.

`GetEnvironmentVariable` does not go through the path that builds the list. I think you are right that it may just work. We just need to check that it is really the case.

[2018-08-14 13:23] hasan-hasanov opened #31762 ""The signature is invalid" error on Linux through HTTP - JWT Authentication"
In our project we are using JWT authentication and ran into the following problem on Linux platform.
When I am making requests over HTTPS everything is fine and working. However when I disable SSL from Properties -> Debug window I am getting 401 status code with error: "**The signature key is invalid**".

In Windows platform everything is fine.

Here is the logic on how the token is generated:

[c

[2018-08-14 13:51] ayende commented on #31643
I don't follow what you mean here? What is `oheap` ? The `owner`'s heap? What happens if I want to send a object allocate there to a function that may do something to it?

[2018-08-14 13:53] jkotas commented on #31760
This was fixed https://github.com/dotnet/corefx/pull/30765 . We kept `PrincipalPolicy.NoPrincipal` as the default in .NET Core, so the first line in your repro will still print No principal. Once you override the defaults, it behaves just like in .NET Framework.

[2018-08-14 13:59] AndreasHeisel commented on #31760
Thank you for your reply @jkotas . Fixed means .NET Core 3.0 as #30765 has the 3.0 milestone?

[2018-08-14 14:00] juepiezhongren commented on #31643
oheap means ownership heap, sorry for that. objs in oheap , i.guess, should be untouchable from heap' object' reference

[2018-08-14 14:00] jkotas commented on #31760
Yes.

If you need to make this work on existing .NET Core 2.x, the only workaround I can think of is to set the principal using 'Thread.CurrentPrincipal` when the thread starts.

[2018-08-14 14:05] AndreasHeisel commented on #31760
I will try. Thank you @jkotas

[2018-08-14 14:11] ayende commented on #31643
So how do you enforce that?
You have this method: `void Add(List<object> a, object b) => a.Add(b);`
It gets the list from the normal heap and the object form the owner heap.
But it can also get it the other way around, or both from the same heap, etc.

[2018-08-14 14:11] davidsh commented on #31762
cc: @Tratcher

[2018-08-14 14:12] davidsh commented on #31757
What version of .NET Core are you using?

[2018-08-14 14:17] juepiezhongren commented on #31643
that will cause compiler error only, oheap's objs won't be referenced outside owner scope keyword

[2018-08-14 14:27] 4creators commented on #31733
Cannot repro anymore.

[2018-08-14 14:27] #31733 closed

[2018-08-14 14:32] Tratcher commented on #31762
@brentschmaltz

[2018-08-14 14:42] ayende commented on #31643
How will the compiler _know_ about this?

[2018-08-14 15:31] davidsh commented on #31717
After looking more closely at your script above, it seems that you are using a SOCKS proxy:

[code]

.NET Core only supports HTTP proxies.  SOCKS5 is not supported in any version of .NET Core.

Has your scenario worked before in .NET Core such as .NET Core 2.0?  The bugs I mentioned above are bugs which were introduced in .NET Core 2.1.  But perhaps you haven't used that version before.

In any ca

[2018-08-14 15:40] davidsh commented on #30327
That build doesn't have the fix.

However, the latest SDK does have the fix:
https://github.com/dotnet/core-sdk/blob/master/README.md#installers-and-binaries

[code]

[2018-08-14 15:45] davidsh commented on #31757
cc: @rmkerr

[2018-08-14 15:52] Tratcher commented on #31762
That this works over HTTPS is very bizarre, JwtBearer has no special behavior contingent on inbound HTTPS, and RequireHttpsMetada only applies to outbound metadata requests which you aren't using in your scenario.

[2018-08-14 15:59] davidsh commented on #31757
.NET Framework behaves the same way.  There are many properties of Uri that throw that exception if the Uri is `UriKind.Relative`.  The reason is that different parsing rules can apply to various Uri schemes and 'Query' is not something that applies to all schemes.

As you can below, many properties will have that exception if the Uri is relative:

![image](https://user-images.githubusercontent.co

[2018-08-14 16:00] davidsh commented on #31757
Since the behavior is by-design, we'll close the issue.

[2018-08-14 16:00] #31757 closed

[2018-08-14 16:16] davidsh commented on #26223
How would i be able to solve this issue with such a project structure?

Unfortunately, there is no easy solution to this.  If your library is targeting .NET Standard 2.0, then you have to use `HttpClientHandler` as the handler type for your `HttpClient`.  And that means the consumers of it will have different behaviors regarding Negotiate/NTLM credential caching depending on if the app consuming y

[2018-08-14 17:02] danmosemsft commented on #24704
If I understand correctly, the main problem with existing behavior is that it broke code that worked on Unix on .NET Core 1.0-2.0 by changing to have different (but to some other people desirable, and consistent with Mono) behavior. Such code now needs to be written to explicitly find and launch the installed shell. And ideally we should have anticipated this break.

I agree with @marek-safar that

[2018-08-14 17:04] danmosemsft commented on #30341
@Etrimus I sent you a collaborator invite, if you accept, I can assign this issue. Note this will initially subscribe you to everything happening in the repo, which you will probably want to switch off to avoid the mails.

[2018-08-14 17:15] mbrameld commented on #30418
I accepted it, thank you!

[2018-08-14 17:25] Anipik opened #31764 "Exposing internal virtuals involving searching a key in DataView"
# Rationale
Winforms require DataTable.AsDataView extension methods. They uses ``` LinqViewData ``` datatype which override some internal virtuals like
[code]

So we need to expose these apis and constructor.

# Api Proposal
ctor
[code]

Methods
[code]
[code]

# Behavior

https://referencesource.microsoft.com/#System.Data.DataSetExtensions/System/Data/LinqDataView.cs,18

# implementation
https://g

[2018-08-14 17:30] davidsh commented on #31143
### Shiproom template

#### Description
TBD

#### Customer Impact
TBD

#### Regression?
Regression from 2.0.

#### Risk
TBD

#### Link to release/2.1.x PR
TBD

[2018-08-14 17:35] yvinap commented on #30195
I had attached a test application along with the original post (TestConfigManager.zip) Are you not able to reproduce the issue with that?

[2018-08-14 17:40] ViktorHofer commented on #30418
I flagged it as easy but it could me more of an intermediate level of work. If you have questions / need help, reach out :)

[2018-08-14 17:47] danmosemsft commented on #31764
@Anipik can you briefly add a note explaining why you have concluded we have to make these public? The thread with @ericstj

[2018-08-14 17:51] danmosemsft commented on #31082
@keeratsingh please link a release/2.1 PR and then I can mark it servicing-consider to go to shiproom.

[2018-08-14 17:54] danmosemsft commented on #31259
The PR for release/2.1  https://github.com/dotnet/corefx/pull/31332 is now updated and ready to go. Thanks @tarekgh

[2018-08-14 18:05] JunTaoLuo opened #31766 "Zero-byte read on sockets sometimes leads to receiving the same data repeatedly on macOS"
Hey @stephentoub, I ran into what appears to be a socket bug while introducing a zero-byte read as part of https://github.com/aspnet/KestrelHttpServer/pull/2502 (issue: https://github.com/aspnet/KestrelHttpServer/issues/2334).

The read loop looks like the following:
[code]
Where the implementation of `WaitForDataAsync` and `ReceiveAsync` are as follows:
[code]

It seems like introducing the zero-

[2018-08-14 18:36] robertmiles3 commented on #20766
FWIW, I hit a `PlatformNotSupportedException` as soon as I try to use:

[code]

...because it ends up at `TrySetApartmentState`.

[2018-08-14 18:39] Anipik commented on #31764
I added the eric comment in the description

[2018-08-14 18:54] halter73 commented on #30691
@stephentoub @rmkerr I'm wondering if this might be some sort of issue with managed Sockets instead of SocketsHttpHandler. [Starting in early July](https://github.com/aspnet/KestrelHttpServer/issues/2701), we started noticing flakiness in a number of Kestrel tests on Windows, and failing with the same exception. Specifically "System.IO.IOException : Unable to read data from the transport connectio

[2018-08-14 19:04] JeremyKuhne commented on #31764
Please link to the comment directly.

[2018-08-14 19:16] minaairsupport commented on #31726
so what shall I do now , I face this issue from long time , I even try re-create the whole project and insert libraries one by one to check which one cause issue but I can figure may be Microsoft.Azure.Mobile.Client but I am not sure where to start to fix this issue

[2018-08-14 19:25] JeremyKuhne commented on #30195
Sorry, I didn't see that the section was in your config. Marking this as up-for-grabs as it should be a pretty simple fix.

Can you please validate that adding the `<configSections>` block I suggested works for you? It seems to work fine for me on both platforms (even though it is a duplicate with the machine.config.

[2018-08-14 19:29] JeremyKuhne commented on #30195
The simpler repro for this:

1. Add the following to the app.config for a console app:

[code]

2. Add the following line to the program:

[code]

(.NET Framework needs a reference to `System.Configuration`. .NET Core needs a reference to `System.Configuration.ConfigurationManager` nuget package.)

[2018-08-14 19:32] omajid commented on #24704
I think there is still a compatibility issue here that needs addressing.

@TSlivede said:

Consider this snippet on Linux:

[code]

If we run it as:

[code]

So https://github.com/dotnet/corefx/pull/23705 breaks executing of applications via `$PATH` and through a fully qualified path. Now `UseShellExecute` can no longer launch executibles (but can open documents). Both implementations are only par

[2018-08-14 19:33] minaairsupport commented on #31726
I am building Xamarin project I can't find any of my frameworks that depends on System.Threading.Tasks.Extensions special this version not on nuget
https://www.nuget.org/packages/System.Threading.Tasks.Extensions/

is there any way to delete this library

[2018-08-14 19:37] danmosemsft commented on #26234
@bgribaudo RemoteInvoke can take input parameters, so long as they can be converted easily to strings.
Example: https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/tests/FileStream/LockUnlock.cs#L174

It passes them as command line parameters. On return, you can only get the return code, so for more, you'd have to use a file or pipe etc.

See src\CoreFx.Private.TestUtilities\src\

[2018-08-14 19:39] danmosemsft commented on #31645
@JeremyKuhne @pjanotti own the IO area and can indicate their preference.

[2018-08-14 20:28] bgribaudo commented on #26234
Thanks, @krwq & @danmosemsft!

[2018-08-14 20:35] joperezr commented on #29622
@jphellemons glad you found a workaround that fixed the issue. If you ever see the problem again, what really helps us diagnose and fix your issue are msbuild binlogs, so it would be great if you could push one of your build. In order to generate one, you can simply build your project from a developer command line like: `msbuild yourProject.csproj /t:rebuild /bl` which should generate a `msbuild.b

[2018-08-14 20:44] danmosemsft commented on #31547
Moving label to PR per new process

[2018-08-14 20:44] danmosemsft commented on #31259
Moving label to PR per new process

[2018-08-14 20:45] danmosemsft commented on #31201
Moving label to PR per new process

[2018-08-14 20:45] danmosemsft commented on #31073
Moving label to PR per new process

[2018-08-14 20:46] JeremyKuhne commented on #31645
I'm fine with adding and ignoring on Unix. We'd just need to do an API proposal to add the flag. I'd **also** like to add `FILE_FLAG_NOBUFFERING` (#13270) **and** I think we should stop checking the enum.

For the record, the primary reason we have that flag on for directories is that you cannot open them directly [any other way](https://docs.microsoft.com/en-us/windows/desktop/fileio/obtaining-a-

[2018-08-14 20:46] danmosemsft commented on #30781
Moving label to PR per new process

BTW I think the PR is already ready, no work required

[2018-08-14 20:46] danmosemsft commented on #30327
Moving label to PR per new process

[2018-08-14 20:47] danmosemsft commented on #12403
Moving label to PR per new process

[2018-08-14 21:07] Genbox commented on #31645
@JeremyKuhne Thanks for the quick feedback Jeremy. I didn't know about the backup semantics flag on directories, thanks for clarifying.

Since the enum check is not part of the API and I don't think the flags will change a lot, would it make not sense to just extend the check with all valid values from the win32 API? That way .NET catches invalid values and users don't get a Win32Exception with a

[2018-08-14 21:14] JunTaoLuo commented on #31766
cc @karelz @geoffkizer

[2018-08-14 21:25] JeremyKuhne commented on #31645
While better, it still has the problem of forcing people to get an updated .NET for any flags the OS might add in the future. If you're casting undefined values to `FileOptions` I think it isn't unreasonable to get a more generic `ArgumentException`. It shouldn't be a common scenario and you will likely get an error message that will be a strong indication of the source of the problem ("The parame

[2018-08-14 21:29] joelmdev commented on #29622
I fought with this for most of yesterday before applying a bindingRedirect to 4.0.0.0 as recommended by @thuannguy and @davidsh. VS 15.8 and given that @dsplaisted had stated that this issue should be fixed in said VS version I rolled back and went through the process again. While it changed the nature of the problem, it did not fix it. New error is:

So after fighting with the issue for most of t

[2018-08-14 21:32] Genbox commented on #31645
Indeed, it is a tradeoff. Thanks for looking into it Jeremy.

[2018-08-14 21:41] TSlivede commented on #24704
@danmosemsft said:

I agree, that another incompatible change to this API should not be made.

However, at least "executing of applications via `$PATH`" could be fixed without breaking the current behaviour: If `ProcessStartInfo.FileName` doesn't contain any slashes (so it's not a path or URL) and there exists no file with the name `ProcessStartInfo.FileName` in the current folder, dotnet could tr

[2018-08-14 21:45] Petermarcu opened #31769 "Microsoft.Windows.Compatibility external function CreateSymbolicLink() throws marshal error 2"
@Elycin commented on [Mon Aug 13 2018](https://github.com/dotnet/core/issues/1855)

# Issue Title
Microsoft.Windows.Compatability external function CreateSymbolicLink() throws marshal error 2

# General

While attempting to createa a symbolic link by invoking `kernel32` and the external bool `CreateSymbolicLink`, it always returns false and throws Marshal 2 - ERROR_FILE_NOT_FOUND.

# Environment
O

[2018-08-14 21:52] bartonjs commented on #31743
Have you caught the stack trace of the segfault?  It sounds like the CLI that's being installed doesn't have the fix from https://github.com/dotnet/corefx/pull/21071

[2018-08-14 21:55] joperezr commented on #29622
@joelmdev We would like to understand better the issue that you are hitting, so if you are able to provide a msbuild.binlog that would be appreciated. My above comment describes how to generate one.

[2018-08-14 22:28] tarekgh commented on #31259
@danmosemsft I assigned this back to you. let me know if need any help from my side. Thanks.

[2018-08-14 22:42] jakobbotsch commented on #30730
As far as I know, it is not verifiable to mutate a boxed value. ECMA-335 lists a whole bunch of restrictions on controlled-mutability managed pointers (III.1.8.1.2.2) which `unbox` returns:

Since the main use of this API is to mutate these kinds of pointers, it seems a bit suspect to me. Does nothing in the runtime rely on this part of the spec?

[2018-08-14 22:53] MisinformedDNA commented on #381
I have a proposal for a new C# syntax (https://github.com/dotnet/csharplang/issues/1785) for single-line `if` statements. I'm not trying to gather support as much as I am gathering direction on whether any of this is worth it. I found this thread and thought you would be a perfect group to ask.

So here's the question: Is there a way to _not_ have curly braces, but _not_ run into the issues of omi

[2018-08-14 23:03] danmosemsft commented on #31259
@tarekgh nope, thanks for fixing it 😊

[2018-08-14 23:08] danmosemsft commented on #24704
I'll let @wtgodbe, @krwq weigh in from herein out.

[2018-08-15 00:25] danmosemsft commented on #31769
@Elycin thanks for the report. I'm confused about what 's going on. Where is the implementation of CreateSymbolicLink (which binary is exporting it)? Could you please create a minimal console app repro case with all unnecessary code removed?

[2018-08-15 00:25] danmosemsft commented on #31760
Closing as above, feel free to reopen if this does not work.

[2018-08-15 00:25] #31760 closed

[2018-08-15 00:35] benaadams commented on #31597
`List<T>` is a very convenient datastructure for creating an array of an unknown size. However, to use it as an array you need to copy the entire contents again with `.ToArray()`.

`AsSpan`/`AsMemory` would give the "array" correctly bounded (size of List rather than size of backing array); without the copy.

[2018-08-15 00:38] ericstj commented on #31764
I take it that this is just a precursor to exposing these in netstandard?  Technically you could do it without new public api if you push the types down on netcoreapp.

[2018-08-15 00:39] luqunl commented on #30393
@danmosemsft , working on it.

[2018-08-15 00:41] jkotas commented on #31597
I had in mind all the different list and array builders in "Common". They are all variants of List with different performance characteristics.

[2018-08-15 00:59] Anipik commented on #31764
i didnt understand that. can you please  explain a little bit more ?

yep

[2018-08-15 01:30] benaadams commented on #31597
All `internal` though 😢

[2018-08-15 01:32] karelz commented on #31503
I don't think we plan localization for CoreFX - @danmosemsft?

[2018-08-15 01:34] karelz commented on #31492
@danmosemsft would it fit into your "PowerCollections" plan?

[2018-08-15 01:36] karelz commented on #31483
https://github.com/dotnet/corefx/blob/e0ba7aa8026280ee3571179cc06431baf1dfaaac/src/System.Drawing.Common/src/System/Drawing/ColorTranslator.cs

[2018-08-15 01:45] kinshines commented on #31503
Yes,I have solved out this problem with **ModelBindingMessageProvider**,thanks for your concerns

[2018-08-15 01:46] a641545621 opened #31772 ".net core .net framework HttpWebRequest"
class Program
{
static void Main（string [] args）
{
string msg = HttpConnectToServer（“ https://www.okex.com/api/v1/exchange_rate.do ”）;
Console.WriteLine（“核心：”+ MSG）;
Console.ReadKey（）;
}
私人静态字符串HttpConnectToServer（字符串URL）
{
//创建请求
的HttpWebRequest的请求=（HttpWebRequest的的）HttpWebRequest.Create（URL）;
request.Method =“GET”;

        //读取返回消息
        string res = string.Empty;
        try
        {

[2018-08-15 01:47] danmosemsft commented on #31503
Right we have no current plans to localize messages in corefx. Sounds like you can close this?

[2018-08-15 01:49] #31503 closed

[2018-08-15 02:02] karelz commented on #31583
Closing as duplicate of https://github.com/dotnet/coreclr/issues/18269

[2018-08-15 02:02] #31583 closed

[2018-08-15 02:04] karelz commented on #31524
@rmkerr any thoughts?

[2018-08-15 02:05] karelz commented on #31586
Duplicate of #5749

[2018-08-15 02:05] #31586 closed

[2018-08-15 02:07] karelz commented on #31605
Duplicate of #29740

[2018-08-15 02:07] #31605 closed

[2018-08-15 02:08] karelz commented on #31611
Duplicate of #7812

[2018-08-15 02:08] #31611 closed

[2018-08-15 02:10] karelz commented on #31692
cc @vancem @brianrob @valenis

[2018-08-15 02:14] karelz commented on #31643
This is larger discussion, not specific to CoreFX - it should start in the Runtime.
Duplicate of https://github.com/dotnet/coreclr/issues/1235

[2018-08-15 02:14] #31643 closed

[2018-08-15 02:16] karelz commented on #31638
If it does not reproduce on 2.1, then I recommend to close it.
Or is there anything else left to track?

[2018-08-15 02:16] #31638 closed

[2018-08-15 02:30] Elycin commented on #31769
Hi @danmosemsft,
I'm afraid i'm currently unable to get this going in a repository for you at this time, but will try to get it done when I can.

It seems I accidentally left out the `[DLLImport("kernel32")]` signature.

[2018-08-15 02:31] karelz commented on #31772
Is it specific to the language? Does it happen on English OS as well?
Can you please provide repro we can copy paste and run locally?

cc @caesar1995

[2018-08-15 02:36] morganbr commented on #31597
Would it make sense to propose a "ListBuilder"/"SpanBuilder" type then? It could have roughly the same surface area as List, along with an ```AsSpan```/```AsMemory``` method. Once those are called, mutation is no longer allowed.

[2018-08-15 02:40] karelz commented on #31769
Please check your PInvoke - that is likely source of your problems: http://pinvoke.net/default.aspx/kernel32/CreateSymbolicLink.html
[code]

If you still have a problem, please post a minimal repro that can run anywhere.

[2018-08-15 02:49] karelz commented on #31762
Should we move the issue to ASP.NET repo, or are there any signs of problems in CoreFX code?

[2018-08-15 02:53] karelz commented on #31740
Are you able to reproduce it on both Windows and Linux?
Are you able to reproduce it on more than 1 machine?
Is the large repro sensitive to HW configuration?

[2018-08-15 02:55] karelz commented on #31732
Looks like you are missing bindingRedirects - @joperezr could it be related to known issues?

[2018-08-15 03:00] karelz commented on #31726
Were you able to create minimal repro?
It may be best to ask on Xamarin forums. @ericstj does it ring a bell?

@akoeplinger can you please help while @marek-safar is OOF?

[2018-08-15 03:03] karelz commented on #31718
@joperezr can you please take a look? Is it one of the known issues?

[2018-08-15 03:12] karelz commented on #31766
Are you able to reproduce it outside of Kestrel? (to remove additional moving pieces)

[2018-08-15 03:18] Tratcher commented on #31762
It looks like an IdentityModel issue.

[2018-08-15 03:30] ericstj commented on #31764
Imagine the implementation of DataTableExtensions (and its closure) was typeforwarded to the same assembly as DataView. It wouldn’t need those virtuals to be public since it could override them from the same assembly.  Granted you still wouldn’t be able to do this in a netstandard implementation, only for netcoreapp.  That’s the same as this in a way, since you can only add this API to netcoreapp.

[2018-08-15 04:07] danmosemsft commented on #31597
@ahsonkhan

[2018-08-15 04:11] nguerrera commented on #29900
Barring that, can we allocate a permanently higher assembly/file version for up-stack?

[2018-08-15 04:25] wfurt commented on #31628
Is there any networking gear or firewalls  between your app and the server?
Do you have packet filter configured on either side?
Do you have packet capture for  the communication?
I don't think the arp is interesting just HTTP(s)

[2018-08-15 05:06] JunTaoLuo commented on #31766
I have not yet tried to reproduce this on its own yet but we suspect this is a race in Sockets issue since the same implementation works consistently on Windows and Linux and the failure on macOS is intermittent as the bug seems to manifest only about half the time.

[2018-08-15 05:40] hof commented on #31772
@a641545621 Is it reproducible with this code? https://github.com/hof/corefx31772

[2018-08-15 06:00] a-a-k commented on #31717
@davidsh I didn't try with .NET Core 2.0. Could you help me understand with some more details? I can't get, why difference between types of system proxy is matter for `dotnet restore`? After all, I'm not even using proxy inside my app.

[2018-08-15 06:39] a641545621 commented on #31772
class Program
    {
        static void Main(string[] args)
        {
            string msg = HttpConnectToServer("https://www.okex.com/api/v1/exchange_rate.do");
            Console.WriteLine("Core:"+msg);
            Console.ReadKey();
        }
        private static string HttpConnectToServer(string url)
        {
            HttpWebRequest request = (HttpWebRequest)HttpWebRequest.Create(url)

[2018-08-15 07:04] Etrimus commented on #30341
I tried to use `System.Diagnostics.Trace.TraceWarning(...)`, but there is no reference to [System.Diagnostics.TraceSource](https://github.com/dotnet/corefx/tree/master/src/System.Diagnostics.TraceSource) in our `System.Runtime.Extensions` project ([.csproj](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/System.Runtime.Extensions.csproj#L247-L252)).

Also `System.Dia

[2018-08-15 07:07] a641545621 commented on #31772
example:https://github.com/a641545621/httpHttpWebRequest--core

[2018-08-15 07:07] ststeiger opened #31775 "Microsoft.SqlServer.Types not compatible with .NET Core"
Cannot run Microsoft.SqlServer.Types because \Microsoft.SqlServer.Server\IBinarySerialize.cs is missing in System.Data.

Since no source code is available, and contact owners on nuget yields a HTTP-500, I'm opening an issue here.  I'd like to compute a polygon union...

[code]

[2018-08-15 07:16] sirkadirov commented on #31740
Hi, @karelz!
I just moved my project from .NET framework/Mono due to not implremented System.Diagnostics features in second. After that, I noticed this problem.

Yes, this error rep on both OSes, tested on VMs - reproduces...

Maybe this error is mine, so now I'm rewriting that module. If problem returns, I let you know.

No, not sensitive, this must work on all hardware.

[2018-08-15 08:10] jphellemons commented on #29622
@joperezr VS 15.8 is released :shipit: , so I upgraded before making this msbuild binlog and I had the fix/workaround yesterday in 15.7.6 so I do not know if this still can help you or someone else but here is it anyway. I appreciate all your time and effort and I hope this binlog can help 👍
[msbuild.zip](https://github.com/dotnet/corefx/files/2289593/msbuild.zip)

[2018-08-15 08:13] qbit86 opened #31776 "Harvest System.Buffers for NS2 and downlevel"
Browsing sources in this repo I came across two versions of abstract class `ArrayPool<T>`: **src/System.Buffers/src/System/Buffers/ArrayPool.cs** and **src/Common/src/CoreLib/System/Buffers/ArrayPool.cs**.
And its three implementations: `DefaultArrayPool<T>` and `TlsOverPerCoreLockedStacksArrayPool<T>` + `ConfigurableArrayPool<T>`.

Why are there two versions of it? Which one is actually used and

[2018-08-15 09:17] roederja2 opened #31777 "Question: Why is void Write(char value) in TextWriter not abstract"
The comments say that the minimum a subclass must implement is void Write(char value), yet the method is virtual with an empty body instead of abstract - why?

https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/Common/src/CoreLib/System/IO/TextWriter.cs#L15

[2018-08-15 11:57] Illeris commented on #31276
Issue also arises with .NET Core 2.0, referencing TeamFoundation & VisualStudio assemblies (v16 preview), when invoking "WorkItemTrackingHttpClient witClient = connection.GetClient<WorkItemTrackingHttpClient>();"
Results in exactly the same exception. Having compatibility package referenced...

[2018-08-15 11:57] n00j commented on #31638
So no potential fix for .net core 1.1? Recommendation is to upgrade?

[2018-08-15 13:56] #31762 closed

[2018-08-15 14:41] pjanotti commented on #31447
Hi @jjxtra do you have more info about a repro of this issue? I suspect something went wrong with the Fx install (or its registry).

[2018-08-15 15:13] karelz commented on #31777
Good question, I expect it is some weird historical reason - we didn't make it abstract in v1 and cannot change it since then.
The class has another abstract property:
https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/Common/src/CoreLib/System/IO/TextWriter.cs#L90

[2018-08-15 15:15] jjxtra commented on #31447
Sadly no, the customer only said it was server 2012 standard with sql server 2014 installed. I've never seen it myself personally. I switched to using wmic in https://github.com/jjxtra/IPBan but even wmic seems to fail on some Windows 7 home editions according to my analytics...

[2018-08-15 15:16] karelz commented on #31776
System.Buffers is the one used publicly. The one in CoreLib is shared with CoreCLR as source code and used there for layering purposes.

[2018-08-15 15:18] bartonjs commented on #23686
`ToXmlString` can be written with string.Format, so that part's fine.  `FromXmlString` will need to reflect into an XML library.

[2018-08-15 15:41] Anipik commented on #31764
Thanks for the info.
So  whts the final decision here ?
should we made them public or add typeForwards to DataTableExtensions ?

[2018-08-15 15:49] pjanotti commented on #31447
Thanks for looking @jjxtra - I'm closing the issue for now since it is not actionable at this moment but get back to us if you get more info on it.

[2018-08-15 15:49] #31447 closed

[2018-08-15 15:50] qbit86 commented on #31776
As far as I can see, [System.Buffers NuGet package](https://www.nuget.org/packages/System.Buffers/) contains version based on `DefaultArrayPool<T>` from **System.Buffers/**. And .NET Core implementation uses `TlsOverPerCoreLockedStacksArrayPool<T>` from **CoreLib/**. But why are two different implementations needed?

I'm not sure if I understand implementations correctly. From what I see, `TlsOver

[2018-08-15 15:52] felixfbecker commented on #27000
I am seeing this error when targeting `netstandard2.0`. Since there is no `netstandard2.1`, is there any way to fix this while still being able to run in both .NET Core and .NET Framework?

[2018-08-15 16:32] Anipik commented on #3708
@noahfalk can i grab this one ?

[2018-08-15 16:51] karelz commented on #31638
@n00j unless it is critical/blocking and unless it impacts multiple customers, we won't fix it in 1.x. Migrating to 2.1 is the best, easiest and fastest option.
BTW: 1.x has lat year of support: https://github.com/dotnet/core/blob/master/microsoft-support.md

[2018-08-15 16:55] ericstj commented on #29900
Yes, I was considering that as a safer fix.  Removing WindowsBase.dll from .NETCoreApp will break apps targeting just the NS.NETCore.App shared framework using old-PCLs or desktop assemblies which used the following types :

- ObservableCollection<T>
- ReadOnlyObservableCollection<T>
- INotifyCollectionChanged
- System.IO.Packaging.*

That's a significant scenario to break which I'd prefer not to.

[2018-08-15 16:56] danmosemsft commented on #31777
@roederja2 Yes, it would break everyone deriving from this class who did not override it. We can't do that for something as core as TextWriter.

Is there something you are trying to achieve that you can't? Or just a cleanliness observation? If the latter I think we can close as it's breaking to fix.

[2018-08-15 17:03] danmosemsft commented on #31776
@qbit86 DefaultArrayPool limits the buffers it caches (numbers of them and sizes of them). So it chooses to allow bounded memory accumulation. Other schemes are possible, for example, you could time out buffers. I guess ArrayPool is abstract so that it is possible to make other choices.

[2018-08-15 17:04] davidsh commented on #31772
I tried the sample repro.  But I can't reproduce any exception message.  This is what I got:

[code]

@a641545621 Can you please let us know what version of Windows OS you are using?  Are you running this on a network with a proxy server?  Can you also provide an English translation of the exception messages you are getting?  Thx.

[2018-08-15 17:17] ericstj commented on #31764
I think making public (actually protected unless there's a good reason for public) is better since it preserves the type factoring/architecture.  I think you'll need to examine if making that change is the correct thing for the API and doesn't cause any harm or confusion for its existing use cases.  Typically we try to go over that sort of thing in the API review process.  If it passes that test t

[2018-08-15 17:19] krwq commented on #31559
Hey @rainersigwald do you perhaps have any data telling when this has started happening and if there is a pattern to which OS is affected? Also as @tmds has pointed it would be useful to know where the data is being written to.

[2018-08-15 17:25] danmosemsft commented on #31764
@Anipik can these be protected rather than public?

@keeratsingh do you have any concerns about exposing these? It does seem less ugly and more correct than internalsvisibleto, but it's not our type.

[2018-08-15 17:29] bartonjs commented on #31746
Hm.  I can reproduce it, but I don't yet understand it.

Using the Pkcs12Info class in master, I see that the PFX blob does, in fact, contain the key and the certificate.  But PKCS12_parse just didn't say they were matched.  Pretty weird since PKCS12_create is what made it.

[code]

So that was a shrouded key bag with a key identifier and a certificate with the same key identifier.

[2018-08-15 17:29] caesar1995 commented on #31772
I'm not able to repro as well.

A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond.

Likely just network hiccup.

[2018-08-15 17:31] davidsh commented on #31717
Implicitly your app would use a proxy if those environment variables are set.

What happens if you unset those environment variables?  Perhaps your setup doesn't need to go thru a proxy even though the script has set one up.  You could try that.  But if your networking configuration requires a proxy for any internet communication, then using a SOCKS proxy isn't supported.

[2018-08-15 17:32] davidsh commented on #31772
Perhaps. But if there is a proxy involved or other kind of configuration problem, the error might look the same.  Either way, we need more information to diagnose.

[2018-08-15 17:33] bartonjs commented on #31420
@karelz this issue is that the servicing fix for 2.0 was bad.  If the users follow our guidance and have no preference on the TLS protocol (SystemDefault) they don't get perfect forward secrecy ciphersuites (ECDHE).  If they restrict the TLS protocol versions in any way then they get it, as an artifact of the enabler being on the wrong side of an early return.

[2018-08-15 17:33] krwq commented on #31713
@ajaybhargavb, yes both issues look similar - do you perhaps have a simple repro? (ok if needs to be run in a loop)

[2018-08-15 17:34] Anipik commented on #31764
we can make both the properties and ctor protected. There shouldnt be any issue with that. i will test the changes in the local branch and let you know, if i face any other problems.

[2018-08-15 17:45] safern commented on #31776
Basically the differences I see between System/Buffers/ArrayPool.cs vs CoreLib/System/Buffers/ArrayPool.cs is that the first (corefx) uses `DefaultArrayPool` as the shared instance. Coreclr's `ArrayPool.Shared` returns an instance of `TlsOverPerCoreLockedStacksArrayPool<T>`.

It is worth to note that corefx's ArrayPool implementation is only used for netstandard, netstandard1.1 and uap10.0.16299 -

[2018-08-15 17:51] jkotas commented on #31776
Note that System.Buffers is set in stone because of it was pulled into netcoreapp. We may want to stop building the downlevel versions of System.Buffers and just pick them up via harvesting.

[2018-08-15 17:54] safern commented on #31776
Still we would need a nestandard implementation right? (To work on netfx and/or uap).

[2018-08-15 17:57] JeremyKuhne commented on #31776
The duplication between `ConfigurableArrayPool` and `DefaultArrayPool` is likely fallout of our older processes. We didn't have a way to effectively share code between the repos when this was written.Afaik we can remove `DefaultArrayPool` for clarity. (Either by just using the mirrored code or harvesting as @jkotas discussed.)

`TlsOverPerCoreLockedStacksArrayPool<T>` utilizes functionality that i

[2018-08-15 17:58] JeremyKuhne commented on #31776
Here is where it was renamed: https://github.com/dotnet/coreclr/pull/8209

[2018-08-15 18:06] jkotas commented on #31776
nestandard can come via harvesting too. uap has its own build that is same as netcoreapp.

[2018-08-15 18:10] safern commented on #31776
@ericstj what do you think about harvesting the netstandard, ns1.1 and uap10.0.16299 implementations for System.Buffers? That would freeze the NS2.0 API surface area. I think we should only harvest downlevel (ns1.1 and uap16299) and for NS2.0 use the shared sources. Delete DefaultArrayPool and just use ConfigurableArrayPool.

[2018-08-15 18:12] keeratsingh commented on #31764
@danmosemsft I believe @divega would be the better person to answer this question since he has more API related insight than I do.

[2018-08-15 18:27] tarekgh commented on #31278
@shaulbehr I am going to close this issue but feel free to respond back when you have a repro and we can re-open the issue and investigate. Thanks.

[2018-08-15 18:28] joperezr commented on #24012
I'm working on a fix for this now

[2018-08-15 18:30] karelz commented on #31769
Great, so the marshaling problem is solved.
Now you need to debug the OS function and why it fails - it is not related to CoreFX anymore. You can try it and debug it also from C/C++.

Check out OS docs: https://docs.microsoft.com/en-us/windows/desktop/api/winbase/nf-winbase-createsymboliclinka - you may need to call GetLastError to get further information.

Closing as resolved.

[2018-08-15 18:30] #31769 closed

[2018-08-15 18:31] Elycin commented on #31769
No, The problem is not solved. A false response means the symlink failed to be created.

[2018-08-15 18:32] karelz commented on #31420
Is there bug/PR associated with the "bad servicing fix in 2.0"? (Just to track what introduced the regression - assuming I understand it correctly and it is a regression against 1.x)

[2018-08-15 18:35] karelz commented on #31769
@Elycin the .NET problem is solved.
You are now facing problem that your usage of OS API is not correct or hits some limitations of the API. You will need to troubleshoot that or follow up on some OS API forums (e.g. StackOverflow).
.NET team does not have specific knowledge about the OS API you're calling. Does it make sense?

[2018-08-15 18:40] safern commented on #31723
That should happen automatically by a maestro auto-PR opened against corefx to update the version of buildtools once a merge build is green. Which by the date of your change, I would suspect it is already reflected in corefx. From what I see in the history of [corefx/DotnetBuildToolsVersion.txt](https://github.com/dotnet/corefx/blob/master/BuildToolsVersion.txt) it has happened quite some times af

[2018-08-15 18:40] n00j commented on #31638
ok makes sense, just wanted confirmation before we put in the work.

[2018-08-15 18:41] Elycin commented on #31769
Would you be happy to take a look at the repository then?

I've used this verbatim `extern bool` function in a .NET 4.5 app (as seen [here](https://github.com/ProjectSpectero/daemon-installers/blob/master/Windows/Windows/Program.cs#L18)) and have seen it work flawlessly, but here still fails in this dotnet core project.

Could you please elaborate on how this is a "usage of the OS API" problem, or

[2018-08-15 18:42] rainersigwald commented on #31559
I don't, but maybe @mmitche or @nguerrera does?

Next instance we debug we'll try to chase up the process tree to see if we can figure out where stdout is going.

[2018-08-15 18:57] wtgodbe opened #31784 "HAVE_SHM_OPEN_THAT_WORKS_WELL_ENOUGH_WITH_MMAP test fails silently with compilation error"
This CMake test is designed to check for the presence or absence of a feature on the current platform. It has been failing with a compilation error, and therefore failing on every platform, regardless of the presence or absence of the feature it's testing for. We should fix the code for this test so that we can get back the coverage that it's supposed to provide.

[2018-08-15 19:14] karelz commented on #31769
If you have a minimal repro (throw out everything which is not necessary, hardcode stuff) and if it works fine on .NET Framework, while it fails on .NET Core on the same machine, then we can take a look.
If it fails on both .NET Framework and .NET Core, then it is likely app usage problem of the API.

[2018-08-15 19:18] Elycin commented on #31769
I'll be sure to get on this for you within the next few hours.

[2018-08-15 19:19] juliusfriedman opened #31785 "on ArgumentOutOfRange Exception and String.IndexOf and other related methods."
Hello all,

When reviewing some code today I came across a situation where I would have assumed that no exception would be thrown from the aforementioned methods when provided with a index which is out of bounds giving a string context.

Looking at MSDN for the [IndexOf ](https://msdn.microsoft.com/en-us/library/k8b1470s(v=vs.110).aspx)method one is not immediately presented with the fact that the

[2018-08-15 19:25] danmosemsft commented on #31785
Some decisions about throwing vs return value are lost in time, we can speculate but if the behavior has been the same for 20 years, it cannot reasonably change now. (If the docs are deficient, they would welcome a PR at https://github.com/dotnet/docs)

[2018-08-15 19:25] juliusfriedman commented on #31785
Why not? Those who were expecting the exception must also be handling the -1 case? Whats the breaking change with this?

[2018-08-15 19:26] danmosemsft commented on #187
@JeremyKuhne is there any work left here after #8664 ? Seems not?

[2018-08-15 19:30] mmitche commented on #31559
@krwq @rainersigwald No direct data.  It's been doing this for at least a couple months though.

[2018-08-15 19:37] danmosemsft commented on #31785
If the index exceeds the length it may well be because of a bug in the caller's code, which is likely why it was chosen to throw -- so the developer would know there is a bug, and fix it. C++ made a different choice.

As for what the breaking change is - there are billions of lines of C# happily running and that number is so large that it is not hard to believe that there is code that is happily c

[2018-08-15 19:41] pjanotti commented on #31460
Throwing on Flush is not a good idea. The doc update that made that clear was lost in some merge, I'm trying to rectify it at https://github.com/dotnet/dotnet-api-docs/pull/437

I'll try to find proper owners of the type.

[2018-08-15 19:44] TimLovellSmith commented on #31712
So... sanity checks wanted!
I found conditions like `'$(TargetGroup)' == 'netfx'` in a bunch of projects.

These ones look still intended to be needed:

* CoreFx.Private.TestUtilities.csproj
* Microsoft.XmlSerializer.Generator.Tests.csproj
* System.Diagnostics.DiagnosticSource.csproj
* System.Diagnostics.DiagnosticSource.Tests.csproj
* System.IO.Packaging.csproj
* System.Numerics.Vectors.Tests.csp

[2018-08-15 19:54] CyrusNajmabadi opened #31786 ".Net regex parser incorrect on patterns like `[b-\-a]`"
Full conversation here: https://github.com/dotnet/roslyn/pull/23984/files/13563a78d575941cffc35d659b0ad17da414426b#diff-5bf37f67cacf636edb343fc847ae96e3

Based on the .net regex specificaiton, this should be a character class with two sections.  The first is the range "`b` through `\-`".  The second is `a`.   However, the .net regex parser treats this as equivalent to the range `[b-a]` (which it i

[2018-08-15 20:02] JeremyKuhne commented on #187
I'll resurrect the old change to finish this.

[2018-08-15 20:05] keeratsingh commented on #31082
@danmosemsft , I am awaiting #31039 to be merged to 2.1/release as part of my changes depend upon files added in the PR above. I will create a release/2.1 PR once #31039 is merged

[2018-08-15 20:20] ericstj commented on #31776
NS2 surface area is already frozen since it was inbox in NCA2.0 and UAP.  I'm ok harvesting.  Same caveats apply as elsewhere, if we need to service the old impls we'll need to undo harvesting or do it in a servicing branch but we can cross that bridge when we get there.

[2018-08-15 20:36] steveharter commented on #31099
The core-setup part has been implemented (in master branch). The current version of the framework can be obtained via:
[code]

Keeping this corefx issue open to determine if we can to add a new method to Environment (or elsewhere) to wrap this.

[2018-08-15 20:41] danmosemsft commented on #31082
@keeratsingh the branch may not open for 2.1.5 for 2+ weeks. We will need a PR to go to shiproom sooner. What I suggest is that you create a PR that is based on the branch for the PR #31039. So it would have two commits, master->#31039 and #31039->this fix. Then to review your change, we can diff your last two commits. When ready to merge, it should merge second cleanly, or we can modify the PR th

[2018-08-15 20:51] jwisener commented on #25773
God help anyone that upgrades to visual studio 15.8. We had a workaround for this until azure can support 4.7.2. But today, upgrading to 15.8 of visual studio, the damn tooling is fighting us and we are spending time trying to fix this yet again.

[2018-08-15 21:04] #31015 closed

[2018-08-15 21:14] bartonjs commented on #31420
The regression is just "from Windows" / "from NetFX" / "we have bad security".

https://github.com/dotnet/corefx/pull/26147 / https://github.com/dotnet/corefx/issues/24648

[2018-08-15 21:27] Anipik commented on #31764
@danmosemsft we can make everything protected except ```setIndex```. It is being used in other classes which doesnot inherit the dataview.
https://github.com/Anipik/corefx/commit/1a1b4ef3eb050a695a8f95c6eff68bf8985a18dc
and we have to make ```Ifilter``` interface public

[2018-08-15 21:48] noahfalk commented on #3708
@Anipik - I've always considered @ericstj and @danmosemsft being in charge on this one, not sure if they already had a plan in mind or if they want to hand it off?

[2018-08-15 21:56] Anipik commented on #3708
@danmosemsft told me to ask you if i can continue with your provided example code

[2018-08-15 22:06] geoffkizer commented on #31413
I think we should do this for 1xx status codes generally (not just 100 Continue).

Per RFC 7231:

   prior to a final response, even if the client does not expect one.  A
   user agent MAY ignore unexpected 1xx responses.

We should just parse and discard any 1xx responses, including 100 Continue when not expected.

[2018-08-15 22:15] keeratsingh commented on #30518
@hounddog22030 Any progress on the repro for this issue ?

[2018-08-15 22:25] #25378 closed

[2018-08-15 22:28] juliusfriedman commented on #31785
Thanks for your feedback, your welcome to close the issue or reference as. you see fit.

I haven't taken the time to review the span based apis but it would be a shame to have to roll your own implementations especially for Span given they were created with performance in mind.

Perhaps if those API's didn't throw since they were just recently added as extension methods that would be nicest soluti

[2018-08-15 22:52] #30393 closed

[2018-08-15 23:04] joperezr commented on #24012
Flagging the issue as Servicing-Consider given that this was an ask from an internal team which needs the header information on our assembly to be present in order to be ingested by their team.

[2018-08-15 23:12] danmosemsft commented on #3708
@noahfalk, @Anipik is just checking you aren't planning on taking this further

[2018-08-15 23:15] noahfalk commented on #3708
Ah I didn't realize you had already talked : ) Nope, I wasn't planning on taking that code any further so I'm very appreciative to have you step in!

[2018-08-15 23:15] danmosemsft commented on #31764
I suggest renaming `IFilter` to `IDataRowFilter` in the proposal. `IFilter` is much to generic a name to make public. We try to make type names unique in System.* (at least we try)

[2018-08-16 00:06] danmosemsft commented on #3708
Cool. Actually @maryamariyan will do it.

[2018-08-16 00:09] danmosemsft commented on #30742
@maryamariyan can this be closed as done

[2018-08-16 00:11] maryamariyan commented on #30742
@danmosemsft this can be closed when https://github.com/dotnet/corefx/pull/31046 gets merged into release/2.1

(A fix is already in master and release/2.2)

[2018-08-16 01:57] a641545621 commented on #31772
@davidsh
windows 10 enterprise x64
I did use a proxy,China cannot directly access your network
Should be a problem with the proxy server

Core2.1: System.Net.WebException: The connection attempt failed because the connected party did not respond correctly after a period of time or the connected host did not respond. The connection attempt failed because the connected party did not respond correctl

[2018-08-16 02:54] Sunny-pu commented on #21876
Failed again: https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180816.01/workItem/System.Linq.Parallel.Tests/analysis/xunit/System.Linq.Parallel.Tests.ParallelQueryCombinationTests~2FSequenceEqual_OperationCanceledException(operation:%20Union-Right)

[2018-08-16 03:11] dotnet-mc-bot opened #31792 "Test failure: System.Runtime.Tests.ProfileOptimizationTest/ProfileOptimization_CheckFileExists"
Opened on behalf of @Sunny-pu

The test `System.Runtime.Tests.ProfileOptimizationTest/ProfileOptimization_CheckFileExists` has failed.

Assert.True() Failure
    Expected: True
    Actual:   False

        Stack Trace:

           at System.Runtime.Tests.ProfileOptimizationTest.ProfileOptimization_CheckFileExists() in /root/corefx-1952310/src/System.Runtime.Extensions/tests/System/Runtime/ProfileO

[2018-08-16 03:36] wtf-boy opened #31793 "DateTime Format"
.netCore Version :2.1.4
CentOS Version: CentOS Linux release 7.4.1708 (Core)

when i use：
  DateTime.Now.ToString("yyyyMM/dd/")
console result:  201808-16-
escape /  to -

remark:Other project output is normal on the same machine

[2018-08-16 04:16] #187 closed

[2018-08-16 06:24] hez2010 opened #31795 "Implement go to definition for F#"
Currently "Go to definition" in F# only works within user-defined symbols, it's hard for users to quickly lookup library functions' usage.

I'm wondering now that the Intellisense in Visual Studio can generate F# lib functions' usage for user, why can't user use "Go to definition" or "Peek definition" to see usage in F# syntax from metadata just like what C# does.

I can not find the F# repo so I

[2018-08-16 06:52] odhanson opened #31796 "UriBuilder from local path fails on Mac"
Hi.
When I call the following UriBuilder constructor on windows:

UriBuilder b = new UriBuilder("c:\\test\\test.bin");

I get the correct result of: b={file://c:/test/test.bin}

However on Mac, if I call
UriBuilder b = new UriBuilder("/test/test.bin");

It throws the following exception:
System.UriFormatException: "Invalid URI: The hostname could not be parsed."
  at System.Uri.CreateThis(String u

[2018-08-16 06:55] ViktorHofer commented on #30729
Our test support libs `Microsoft.DotNet.XUnitExtensions and `CoreFx.Private.TestUtilities` both target netstandard but the latter is no real netstandard lib as it builds against specific implementations during the v-build. The former lives in arcade and is a true netstandard lib.

With my recent xunit work the non performance related test libs stop referencing our xunit.performance libs. The remai

[2018-08-16 07:42] #26107 closed

[2018-08-16 09:09] filipnavara opened #31797 "System.Security: AsnSerializer performance"
An [issue was raised](https://github.com/dotnet/corert/issues/6221) suggesting that the use of `AsnSerializer` provides suboptimal performance. Another concern is that it uses heavy reflection APIs that may incur performance penalty even if the information is properly cached for subsequent calls.

I extracted the certificate parsing code from `System.Security.Cryptography.X509Certificates` and bot

[2018-08-16 09:14] filipnavara commented on #31797
I'm currently investigating several strategies to improve the performance:

- Modifying `AsnSerializer` to cache the metadata and lookup tables parsed through the reflection and use that for subsequent calls.
- Same as above, but save the precomputed information as source file instead of using reflection at runtime.
- Writing a code generator that will take the serializable class and spit out a cl

[2018-08-16 11:34] svick commented on #31785
As far as I can tell, all overloads that take an `index` have `ArgumentOutOfRangeException` documented. The one you linked to doesn't, but that's because it's the one that can't throw it, because it doesn't take an `index`.

You don't have to consider what overload is called internally, what you have to consider is which overload you're actually calling.

[2018-08-16 11:37] infiniteloopltd commented on #23332
If you are using SslStream, then you need to explicitly set the TLS version in the AuthenticateAsClient call, for example:

`ssl.AuthenticateAsClient(url, null, SslProtocols.Tls12, false);`

[2018-08-16 13:41] ViktorHofer commented on #31786
Thanks for opening an issue for that. It must have slipped under my radar and I forgot to open one. I won't have time to fix it in the near future because of resources but the issue will remind me to look into it. If you want to, you could also take a look and try to fix it.

[2018-08-16 13:42] bartonjs commented on #31722
Really there are two different problems.

1) Given a key/IV in a `Span<byte>` is it possible to instantiate an ICryptoTransform without ever copying it to an array in my (user, non-framework) code? (Which seems to be what the title is asking)
2) Is it possible to do symmetric encryption where either the source or destination memory is only tracked (in some "this method") by a `Span<byte>`? (Which

[2018-08-16 13:52] davidsh commented on #31796
cc: @rmkerr

[2018-08-16 14:41] AtsushiKan opened #31798 "Expose the ability to create signature generic instance types."
### Proposed Api:

[code]

### Rationale

Last year, we added an api and the concept of Signature Types (https://github.com/dotnet/corefx/issues/16567). What we punted on at a time is the api support to let third party reimplementations of Reflection fully support the use of Signature Types in querying type members. In particular, when searching for a method that takes a generic instance that has

[2018-08-16 14:51] aviviadi opened #31799 "Performance bottleneck while opening many http connections on GetHttpConnectionAsync"
at https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs#L229

When opening many connections, i.e. to a aspnet server, the above lock degrading the total requests processing speed, as each request has to wait to the previous one to finish `GetHttpConnectionAsync`

Repro: Simple aspnetcore kestrel server, `wrk -c <many>`, and d

[2018-08-16 14:58] #31271 closed

[2018-08-16 15:26] Kein commented on #23449
Welp, this is still an issue in 2.1 - any ideas what the milestone is aim for this?

[2018-08-16 15:38] Timovzl commented on #21380
@svick If a particular class that implements `IDisposable` does not _need_ to be disposed, I would always consider that an implementation detail, never to be part of the public documentation. Clients should honor the `IDisposable` interface, or ignore it at their (our) own peril. The implementation must be able to change, in my opinion.

[2018-08-16 16:11] markrendle commented on #21380
How about having a `MemoryStreamPool` that provides a `MemoryStream` backed by a pooled array, and having very clear `Return()` or `Dispose()` requirements? The `MemoryStreamPool.Shared` instance could use arrays from `ArrayPool<byte>.Shared`, and constructed instances could create their own pool.

[2018-08-16 16:15] davidsh commented on #31799
cc: @geoffkizer

[2018-08-16 16:18] joperezr commented on #29622
@jphellemons thanks for sharing. Your build seems to be green now so that's great! One thing to note from just skimming it, looks like your main project (CsaaSignalR) is using the two different forms of nuget package restore available (legacy packages.config, and `PackageReference`) or at least did it once. I would remove the following lines:
[code]
and replace them with these:
[code]

That will e

[2018-08-16 16:18] jinek commented on #6398
I think it is a lack in .NET that we can't catch exception. If we know the type of exception and want to drive something using that exception (ThreadAbortException is a good example) why not to allow to catch it.

[2018-08-16 16:26] joperezr commented on #31732
Can we get a binlog of your solution to try to inspect what might be going on? in order to produce one simply run `msbuild yourProject.csproj /t:rebuild /bl` from a developer command prompt and that should create a msbuild.binlog file. Also, what would be even better is if you could get a small repro of your problem in a project and push it to github so that we can clone and investigate. If you ca

[2018-08-16 16:33] Clockwork-Muse commented on #31793
The `/` is getting turned into a `-`, because the forward-slash (`/`) is really the [date-separator character](https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings#dateSeparator), which is being _localized_.  This is by design, since in most cases if this is a user-facing program you want date formatting to use a localized format that will look correct to

[2018-08-16 16:35] odhanson commented on #31796
Thanks. The problem is actually in Uri. It seems like it doesn't detect it as an AbsoluteUri.

[2018-08-16 16:41] rmkerr commented on #31524
The behavior of System.Uri here seems to be in line with the spec, since "\\" is treated as just another (empty) path segment and is removed by the double period. It may be that the Windows path spec defines a different behavior, but even so I don't think this should be considered a bug in URI.

@JeremyKuhne does the System.IO.Path behavior here look right to you?

[2018-08-16 16:44] danmosemsft commented on #6398
@jinek if you'd like to propose that please open a new issue, including scenarios where this is valuable (and safe). In particular, your ThreadAbortException example.

[2018-08-16 16:58] keeratsingh commented on #31082
@danmosemsft  PR https://github.com/dotnet/corefx/pull/31801 created for 2.1 Servicing review **without** #31039 dependencies

[2018-08-16 17:02] danmosemsft commented on #31795
Hello @hez2010 , please open this issue in https://github.com/Microsoft/visualfsharp.

[2018-08-16 17:02] #31795 closed

[2018-08-16 17:04] danmosemsft commented on #31793
@wtf-boy as above - please close if this resolves the issue.

[2018-08-16 17:05] danmosemsft commented on #31740
I'll close this meantime, feel free to reopen if you determine it is .NET Core.

[2018-08-16 17:05] #31740 closed

[2018-08-16 17:05] #22885 closed

[2018-08-16 17:06] danmosemsft commented on #31785
@juliusfriedman just curious what the scenario where the index is beyond the length of the string so commonly that an exception becomes a perf problem, and it's not a bug?

[2018-08-16 17:07] danmosemsft commented on #31728
@dagood in @weshaggard absence, do you know how build can have errors but still complete with "Command execution succeeded." ? Seems like that is not what we want for a build so probably I am misreading what is happening.

[2018-08-16 17:14] dotnet-mc-bot opened #31802 "Build failure: Link"
Opened on behalf of @spshant

@danmosemsft The build failed. Can you please take a look and do necessary. Also, there are number of 'failed' entries in the log file.

Warnings: 2
Status Message: failed

Build : 3.0 - 20180816.02 (Product Build)
Failing configurations:
- OSX
  - x64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/build~

[2018-08-16 17:17] joperezr commented on #24012
Reopening to track the insertion of this into release branch.

[2018-08-16 17:18] danmosemsft commented on #31802
Hello @spshant -- I assume you're a Microsoft person? If so could you drop me a line internally, I'd be interested to say hello and understand the monitoring you're doing.

[2018-08-16 17:24] kphillisjr opened #31803 "Feature Request: add Microsoft.JScript support"
I already know that .NET Core is mainly focused on C# and VisualBasic .NET, and this has lead to the ignoring of [JScript .NET (link to wikipedia)](https://en.wikipedia.org/wiki/JScript_.NET) that has been included with .NET on all Windows Computers since the first release of .NET Framework 1.1.

Also as a quick note, I remember that a few years back that the Mono Project had a JScript .NET Implem

[2018-08-16 17:25] AArnott opened #31804 "Feature request: Create a Stream that reads from a ReadOnlySequence<byte>"
I'm re-implementing a protocol in terms of System.IO.Pipelines and striving for minimal allocations, especially of large objects. As part of this, I no longer have to allocate a large array for the entire message, since I read it as it comes in via `PipeReader`.

At some point I get to the main "content" which I need to deserialize. The deserialization API accepts a `TextReader`, which I plan to u

[2018-08-16 17:31] jkotas commented on #31804
Related #30791 #27246
cc @davidfowl

[2018-08-16 17:42] dagood commented on #31728
Sure, taking a look.

[2018-08-16 17:46] caesar1995 commented on #31772
@a641545621 Do you have the same problem if using HttpClient?

If it's HttpWebRequest only, could be related to #31122.

[2018-08-16 17:47] karelz commented on #13660
Reopening the issue to track port to 2.2.

[2018-08-16 17:51] rmkerr commented on #31394
This issue is actually more complex than I initially thought. When I initially hit this assert, there was also a bug in the HTTP2 loopback server causing the HTTP2 connection preface to be sent incorrectly. When the preface is sent correctly, we don't hit the assert. Before you spend more time on this, let me isolate the exact conditions that caused this assert.

[2018-08-16 17:56] karelz commented on #31740
OK, let us know if you see it is a real problem in .NET Core.

[2018-08-16 18:07] maryamariyan opened #31805 "Performance tests do not run under netfx targetgroup"
Seems like we don't support running perf tests in netfx.

For example when running:
[code]
it just ends up running with default targetgroup (being netcoreapp)

Although there are other ways (e.g. using BenchmarkDotnet) to do performance testing in netfx, it could still be useful to enable this in cases when we want to compare netfx vs netcoreapp performances with each other for the existing perf t

[2018-08-16 18:07] sirkadirov commented on #31740
OK, I'll stay in touch.

[2018-08-16 18:09] huanwu commented on #31721
@yujayee Could you see if it repro on full framework?

[2018-08-16 18:17] danmosemsft commented on #31803
@kphillisjr what is the motivation here - is there much real world code that it is important to migrate? I am not sure JScript.NET is really used (perhaps I wouldn't know)

@terrajobst ?

[2018-08-16 18:19] danmosemsft commented on #31792
@MarcoRossignoli @brianrob if profiling failed in this test for some reason, would it have failed before this point, or been silent? Or maybe we just need to sleep and retry a bit because profiling hasn't started quick enough?

[2018-08-16 18:25] maryamariyan commented on #31743
I tried using a newer version of the dotnet cli in order to check if I can get past the above segfault.

I picked up latest available package version of `Microsoft.DotNet.Files` from the myget page [here](https://dotnet.myget.org/feed/dotnet-cli/package/nuget/Microsoft.DotNet.Files/1.0.0-preview3-003223), version `1.0.0-rc2-002678` version but wasn't able to get far with making init-tools to work.

[2018-08-16 18:27] JeremyKuhne commented on #31524
`Path` behavior is correct.  `GetFullPath` is supposed to match Win32 normalization, which collapses multiple separators and flips forward slashes. As a matter of fact, Windows itself is doing this normalization directly now in Core.

@rmkerr an input local path like this doesn't have a scheme. It's arguable that we should normalize identifiable local paths `[A-Z]:` under `GetFullPath` rules, unti

[2018-08-16 18:29] bartonjs commented on #31743
I don't know the CLI builds, no, sorry.

Have you seen the native callstack on the crash?  It could be we have an entirely new and exciting problem...

[2018-08-16 18:30] huanwu commented on #8238
The fix is more complex than expected. Move to future.

[2018-08-16 18:31] mikeharder commented on #31524
This is exactly the fix/workaround we used in our code: https://github.com/aspnet/websdk/pull/390/files

[2018-08-16 18:40] sbomer commented on #31802
Going to close this as a duplicate of https://github.com/dotnet/corefx/issues/30714. Feel free to file an issue here if you like: https://github.com/mono/linker/issues.

Last time I looked into this, I couldn't find anything obvious that would cause this by inspecting the sources, and I wasn't able to repro it on a ci machine. It would be great if we had a consistent repro for this.

[2018-08-16 18:41] #31802 closed

[2018-08-16 18:44] MarcoRossignoli commented on #31792
@brianrob  @danmosemsft strange...first time i see that...is this first fail?Hower...if you agree i could add 5 second sleep between `StartProfile` and return...and some retry on `Exists`, do you agree?

[2018-08-16 18:46] geoffkizer commented on #31799
A couple questions:

What sort of hardware are you running this on?
What's the client app here that's calling into HttpClient?

It's definitely possible that the connection pool lock in GetConnectionAsync could be causing contention. We haven't really seen this in the perf testing we've done, but it's always been something we've been keeping an eye on.

[2018-08-16 18:50] AArnott commented on #27246
I wrote up extension methods to do this: https://github.com/AArnott/Nerdbank.Streams/pull/11

[2018-08-16 18:56] AArnott opened #31807 "Feature request: long ReadOnlySequence<T>.GetPosition(SequencePosition)"
In implementing a `Stream` over a `ReadOnlySequence<byte>`, I find to implement the `Stream.Position` property getter, I need to translate my `SequencePosition` into a `long`. It's easy enough to translate a `long` into a `SequencePosition`, but there's no built-in way to change it back.

I propose the addition of this API:

[code]

[2018-08-16 18:57] danmosemsft commented on #30714
@sbomer if we don't have a repro and code inspection doesn't reveal the problem (it's not obvious to me either, but I don't know the code) then would you consider adding logging?

Eg catch InvalidOperationException in GetMethods and log the type and method?

It is only a rare break, but we have to fix even those to reliably get a build out, so we can't ignore it unfortuantely.

[2018-08-16 18:58] danmosemsft commented on #31792
@MarcoRossignoli yes a sleep/retry would be good, but please write it such that it does not sleep in the normal case, only in the failure case.

[2018-08-16 19:01] agrothe commented on #29622
Had the same issue with the System.Net.Http namespace missing when upgrading from 4.7.1 to 4.7.2. I didn't have a reference to a nuget package though. Tried a bunch of other workarounds via links in this thread and other searching.

Resolved it based on a previous reply in this thread:

- Closed Solution
- Delete all bin/obj folders in my solution projects (just doing this on webproject didn't wor

[2018-08-16 19:06] karelz commented on #31803
This is general discussion, beyond the scope of CoreFX repo - I would recommend to suggest it on https://github.com/dotnet/core

[2018-08-16 19:06] benaadams commented on #31807
/cc @pakrym @davidfowl

[2018-08-16 19:11] sebastienros opened #31808 "CultureInfo.InstalledUICulture returns InvariantCulture on MacOS"
Works fine on Windows (10) and Linux (Ubuntu) but it returns InvariantCulture on MacOS (10) where it was set to fr-CA.

[2018-08-16 19:13] DSakura1987 opened #31809 "Does System.DirectoryServices.AccountManagement supports LDAP?"
Server info: [forumsys](https://www.forumsys.com/tutorials/integration-how-to/ldap/online-ldap-test-server/)

Environment: .Net Core 2.1, .Net Framework 4.7.2

Nuget Package: System.DirectoryServices.AccountManagement, 4.5.0

The question is from [Stackoverflow](https://stackoverflow.com/questions/51624868/trying-to-test-ldap-based-authentication-from-forumsys/51756583).

I have tried to use the c

[2018-08-16 19:27] AArnott commented on #31807
A non-seekable would do that, yes. But if you wanted the stream to be seekable, which is certainly allowed given a `ReadOnlySequence<byte>`, then you'd need to know what position you were at and report that as a `long` given the `Stream.Position` contract.

[2018-08-16 19:31] pakrym commented on #31807
As a workaround, you can do `.Slice(0, pos).Length` to get a position. You can also store a running index along with the current position.

[2018-08-16 19:52] GrabYourPitchforks commented on #27985
@krwq recently wrote a tool that pings the security team whenever `stackalloc` is introduced in a PR, so we can keep an eye out for this pattern. I'll link instances of the potentially dangerous pattern to this work item so that we can track how commonplace this is in the wild.

https://github.com/dotnet/corefx/pull/31044#discussion_r210718674

[2018-08-16 19:53] ericstj commented on #31728
This actually looks like an MSBuild bug, [similar to this one](https://github.com/Microsoft/msbuild/issues/1791).  /cc @jeffkl

That error statement is a remnant from when we did `ErrorAndContinue`, we [don't do that anymore](https://github.com/dotnet/corefx/commit/7572a0e2aa2cf71c17569a3be8d77118e73516d4), but MSBuild still doesn't halt the build.

[2018-08-16 20:17] ericstj commented on #31728
An idea I've had in the past for fixing this in a way that's less subject to people (or MSBuild bugs) reintroducing it is to have a logger that ensures we record all errors, then a task at the very end of the build (or even outside the msbuild process) that fails if any errors were logged.  Simple solution would be to examine the contents of msbuild.err and fail the build.

[2018-08-16 20:37] caesar1995 opened #31812 "[HTTP2] loopback server is not sending valid RstStreamFrame()"
[The tests](https://github.com/dotnet/corefx/blob/66649ff5862c7b723fded40c505942de19bdb107/src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.Http2.cs) related to sending RST_FRAME seem not right:

1. When do `new RstStreamFrame()`, the `frameHeader.Length` will set to 13 -> `Frame.FrameHeaderLength + 4`: https://github.com/dotnet/corefx/blob/66649ff5862c7b723fded40c505942de19bdb107/

[2018-08-16 20:39] jeffkl commented on #31728
Are you using `/nowarn` or the MSBuild property `MSBuildTreatWarningsAsErrors`?  From the root cause by @dagood it looks more like something is up with how MSBuild determines the value of `MSBuildLastTaskResult`

[2018-08-16 20:43] dagood commented on #31728
@ericstj I think you're right--when I set up a simpler repro attempt, it stops immediately on the error when it should. Sorry for muddying the water.

[2018-08-16 20:45] caesar1995 opened #31813 "[HTTP2] loopback server is not correctly reading RstStreamFrame"
This issue may related to general loopback server frame reading. (I have only verified RstStreamFrame case)

When HTTP/2 loopback server is sending a malformed frame to SocketsHttpHandler, so that SocketsHttpHandler will send back a RstStreamFrame, the loopback server side is not correctly reading the RstStreamFrame:

[code]

[2018-08-16 20:54] caesar1995 opened #31814 "[HTTP2] DataFrame_PaddingOnly_ResetsStream() test is not working as expected"
[DataFrame_PaddingOnly_ResetsStream()](https://github.com/dotnet/corefx/blob/66649ff5862c7b723fded40c505942de19bdb107/src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.Http2.cs#L184) is that, HTTP/2 loopback server sends a malformed data to SocketsHttpHandler, so that SocketsHttpHandler will send back a RST_STREAM frame. It seems SocketsHttpHandler will not send the RST_STREAM frame

[2018-08-16 21:06] bartonjs commented on #31722
The correct (in a pure world) design for the API is `ReadOnlySpan<byte> input, Span<byte> output, out int bytesConsumed, out int bytesWritten)` (or something like that).  From a Span you can't get back to the array, only Memory can do that (at least, I'm not seeing a way to do it from a Span).  So it's not something that we can do yet in corefx.

TransformFinalBlock might be tricky either way, sin

[2018-08-16 21:08] ericstj commented on #31728
@jeffkl nope and nope. Not saying its the same issue as the one I linked just a similar symptom.  This is a hard error with the task returning false it should halt.  Let me point out the relevant pieces:
https://github.com/dotnet/buildtools/blob/4e1c39824d4f9ad8419849d0ab38cb97ff61fc9a/src/Microsoft.DotNet.Build.Tasks.Packaging/src/VerifyClosure.cs#L264
https://github.com/dotnet/buildtools/blob/4e

[2018-08-16 22:00] gafter commented on #381
I should note that the current dotnet coding guidelines forbid code like

[code]

because the second `using` is not "properly" indented. That is a pattern seen widely in dotnet code.

[2018-08-16 22:08] davidsh commented on #381
using (var lexer = MakeLexer(text, offset))
using (var parser = MakeParser(lexer))
{
    Something(parser);
}
because the second using is not "properly" indented.  That is a pattern seen widely in dotnet code.

Feel free to update those guidelines.  We've found that keeping the using clauses lined up like this (instead of indented) is actually better and makes the code more readable.  That is why