[2016-07-05 17:33] varocarbas commented on #6831
@milutinovici Additionally, your approach has to do something on these lines too because you are also accounting for a single type/class (mellinoe + others suggestions were assuming to account for as many types of units being considered). You have to implement code to determine what operations are right/wrong.

[2016-07-05 17:36] ianhays commented on #9789
x86, x64, and ARM should all come from the open. The only packages not from the open will be the netcore50-aot packages (https://github.com/dotnet/corefx/issues/9710)

[2016-07-05 17:42] mellinoe commented on #9807
`Vector<T>` is designed to be immutable once created, so the individual elements of a vector cannot be modified after it is constructed. There's a few main ways to initialize a `Vector<T>`:

* Store all of your data upfront in a large array, create vectors from it, using different contiguous parts of the array
* Store your data in a small, local array, perhaps re-using the array for several constr

[2016-07-05 17:45] varocarbas commented on #6831
@milutinovici Let me clarify my ideas (others' and what seems yours) because perhaps some parts are a bit confusing:
- As explained, my approach only triggers exceptions if expressly instructed to do so; otherwise, it relies on a `public` flag.
- Additionally, parsing/dealing-with-strings is just the first step. All the operations and analyses are done on non-`string` variables. In fact, I am rely

[2016-07-05 17:50] milutinovici commented on #6831
@varocarbas Try and find a class in corefx that throws in constructor. Using a constructor should always create an object in a valid state. And that is impossible to guarantee if you are parsing strings. I don't want to check any flags when constructing objects. Didn't do it thus far, and don't want to start now.

As for single/multiple types, that's a different issue. Ideally multiple types would

[2016-07-05 17:54] varocarbas commented on #6831
@milutinovici

If this is a so big problem, I can change my approach such that the parsing occurs in a method (like in `decimal.Parse()`). Rather than `new UnitP("")`, I can do `UnitP.Parse("")`, no big deal (not sure why this is better though).

[2016-07-05 17:57] milutinovici commented on #6831
@varocarbas That would be better

[2016-07-05 17:59] varocarbas commented on #6831
@milutinovici Yes, I know that you think in this way. My question is why (I don't see the improvement).

Anyway. I will come back once my version will be ready.

[2016-07-05 18:00] mellinoe commented on #9840
Yes, the `Unsafe` package is our current answer for this. We originally had thought of exposing the unsafe constructor, but decided to add a more general-purpose API which can be used for other generic structures as well, since the problem is not unique to `Vector<T>`, but rather to any type wanting a generic pointer argument.

[2016-07-05 18:05] milutinovici commented on #6831
@varocarbas parsing should be secondary concern. It shouldn't be a primary way to construct objects. It's just too fragile. You get no help from your IDE, no intellisense, typos are easily made.

[2016-07-05 18:11] varocarbas commented on #6831
@milutinovici The instance is created anyway. It would be the equivalent to instantiating a null variable or assigning a number to a numerical variable outside the min/max bounds (although in this case an exception would be triggered! -> the flag would be better here IMO).

In any case, I understand the overall .NET structure and how important is respecting its consistency; this is a secondary mod

[2016-07-05 18:27] tarekgh commented on #9158
CC @rpetrusha from the doc team

[2016-07-05 18:30] tarekgh commented on #9158
@akoeplinger just FYI, https://github.com/dotnet/core-docs is the repro for the doc issue. I'll let @rpetrusha handle this issue if he want to create a new issue on the core-docs repo

[2016-07-05 19:47] CIPop commented on #9768
The current status:
- CoreFX (Desktop): WinHTTP does not support SOCKS at all.
- Windows Store apps: WinINet has support for SOCKS4 but not SOCKS4a or 5. I'm not sure we're exposing this through the Windows.Web APIs.
- non-Windows: I believe the CURL supports SOCKS. @stephentoub may be able to answer if this is currently exposed and working.

@Abdullah2993, can you please share more details about

[2016-07-05 20:01] danmosemsft opened #9854 "Add missing exceptions to System.Runtime.dll"
These are present in Xamarin and should go in S.Runtime.dll

[code]

[2016-07-05 20:03] bartonjs opened #9855 "Support System.Security.Cryptography.Native OpenSSL 1.1.1 release"
OpenSSL 1.1 has a new model of opaque structures with more accessor functions.

Anything previously obtained by an accessor function will likely be fine, but direct field accesses won't work.

For example, UpRefEvpPkey will need to change to EVP_PKEY_up_ref, but needs to do the current behavior on 1.0.x builds.

[2016-07-05 20:12] rpetrusha commented on #9158
@akoeplinger Thanks for pointing this out. I'm investigating how we can address this issue. In the meantime, this is stale content that is no longer being maintained. The current version of the CodePagesEncodingProvider class is found at https://msdn.microsoft.com/en-us/library/mt643901(v=vs.111).aspx and (for the Instance property) https://msdn.microsoft.com/en-us/library/mt643899(v=vs.111).aspx.

[2016-07-05 20:14] akoeplinger commented on #9158
Thanks! As long as we get if fixed/redirected to the proper page I'm fine :)

[2016-07-05 20:20] jhendrixMSFT commented on #9789
I've added x64 and ARM builds to the VSO official builds.

[2016-07-05 20:26] stephentoub commented on #4171
Again: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/2702/consoleText

[2016-07-05 22:28] ianhays commented on #3253
# Proposal

With .NET running xplat it would be nice to be able to use it with the compression/archive formats common to systems other than Windows. Tar is an archival format popularly used in Unix alongside some sort of single-file compression, and we don't currently have a way of deaing with it. I suggest we add API for Tar that is similar to ZipArchive, as well as some extension methods similar

[2016-07-06 04:33] dperschonok commented on #9796
The exception does not occur on my Windows 10 machine. I can try Windows 8 tomorrow.

[2016-07-06 06:03] TsengSR opened #9859 "CS0019: Comparing a Nullable enum type with null results in compiler error"
The StackOverflow user "Warren P." posted this issue on StackOverflow, which sounds like a bug or oversight to me.

You can find the original issue [here](http://stackoverflow.com/questions/38191166/c-sharp-optional-enum-type-property-setter-compiles-in-classic-net-but-not-in).

Comparing an optional/Nullable Enum type property to null results in CS0019 compiler error.

    /// <remarks>This uses

[2016-07-06 08:24] omariom commented on #9843
`List<T>.Enumerator::MoveNext` is not inlined as well. And it is iterated more often than stacks/queues. Would be interesting to see how  forcing inline would change iterating call sites and speed.

[2016-07-06 08:42] lemmaa opened #9865 "[ARM/Linux] Workaround for running unit-test on Linux ARM32"
In default, runtimes environments for CoreFX unit-test uses `*.ni.dll`s (mscorlib.ni.dll, System.Private.CoreLib.ni.dll) which extracted from NuGet packages. It's good for performance, but as of now, we don't have proper packages for Linux/ARM32.

I want to work around this situation by using `*.dll`s instead of `*.ni.dll`s, with `--ignore-native-dlls` option, in spite of performance degradation i

[2016-07-06 08:57] #9840 closed

[2016-07-06 09:21] Gorillagaragedigital commented on #9719
Hi , perhaps have you solved ? Also I am in the same situation (SQL 2005)

[2016-07-06 11:41] gulbanana commented on #6124
excellent

[2016-07-06 12:21] tsiqueira86 commented on #3760
Is there a fix for this issue? I'm still seeing it in my application deployed on AWS using IIS or by launching the application through the command line using the "web" command. I also confirmed the DLL is where it should be in the inetpub folder.

[2016-07-06 14:18] mvermef commented on #9832
Vs code also has issues with package restore, so it's not vs 2015 issue but a Net Core fail...

[2016-07-06 14:42] #8610 closed

[2016-07-06 14:48] ianhays opened #9867 "Compression.ZipFile Unicode tests failing on OSX in Helix"
Failing tests:
[code]

Error:
[code]

[2016-07-06 14:50] ianhays commented on #9009
I'm seeing some new failures in Helix on OSX around proc_pidpath that are causing the symlink creation to fail:

The tests themselves don't seem to matter that much and vary run by run, though generally these fail:
[code]

trace from helix:

[code]

[2016-07-06 15:16] gkhanna79 commented on #9329
I have assigned this to @kouvel and @sergiy-k to drive the exposure of the APIs in .NET Core, add tests, validate them on CoreCLR and have a plan for .NET Native.

CC @Maoni0

[2016-07-06 15:41] xrkolovos opened #9868 "why would XmlTextWriter be in corefx internal and in .net framework public?"
[core fx implementation](https://github.com/dotnet/corefx/blob/d0dc5fc099946adc1035b34a8b1f6042eddb0c75/src/Common/src/System/Xml/XmlTextWriter.cs)
[dotnet Framework 4.6.1 implementation](http://referencesource.microsoft.com/#System.Xml/System/Xml/Core/XmlTextWriter.cs,deba79d6386a7da8)

This project inherits from this class https://github.com/EricWhiteDev/Open-XML-SDK and is a problem porting it

[2016-07-06 16:19] wpostma commented on #9859
I'm actually working on a reproducible minimal test case. The following code compiles as expected:

[code]

[2016-07-06 16:39] danmosemsft commented on #9868
We are adding the surface area of the Desktop version of System.Xml.dll. I believe issue #9635 is the closest tracking issue

[2016-07-06 16:39] #9868 closed

[2016-07-06 16:49] danmosemsft commented on #9491
[code]

[2016-07-06 16:56] danmosemsft commented on #9465
Misc - broken out Close, APM, and Access Control
[code]

[2016-07-06 16:57] danmosemsft opened #9870 "Close() methods missing from IO"
[code]

Talk to @JeremyKuhne

[2016-07-06 16:57] danmosemsft commented on #9870
from #9465

[2016-07-06 16:58] danmosemsft opened #9871 "APM methods missing from IO"
[code]

from #9465

[2016-07-06 16:59] danmosemsft opened #9872 "AccessControl related methods from IO"
[code]

from #9465

[2016-07-06 17:06] ianhays commented on #9872
We've got at least a few of these already in [System.IO.FileSystem.AccessControl](https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem.AccessControl/src/System/IO/FileSystemAclExtensions.cs). The issue with adding others (e.g. the FIleStream constructors) is that they're implemented as extensions to FileSystem rather than being built in to Filesystem.

We may need to consider merg

[2016-07-06 17:16] ianhays commented on #9842
We've got an [IsolatedStorage implementation](https://github.com/dotnet/corefx/tree/master/src/System.IO.IsolatedStorage/src/System/IO/IsolatedStorage) in CoreFX but we only build it for netcore50. There's some discussion on adding it to all platforms in https://github.com/dotnet/corefx/issues/5406 (which this is essentially a duplicate of).

In short, I agree with Steve. We can fairly easily prov

[2016-07-06 17:17] saurabh500 commented on #3760
This issue was fixed and SqlClient doesn't need `MSVCR110.dll ` to run anymore.
What is the error that you are receiving? Also what version of Windows are you using for your service?

[2016-07-06 17:40] saurabh500 commented on #9802
@pozzzima123  `System.Data.SqlClient` is not supported on UWP

[2016-07-06 17:40] #9802 closed

[2016-07-06 18:27] shmao commented on #9331
This had been addressed during the development.

[2016-07-06 18:27] #9331 closed

[2016-07-06 18:57] sepidehMS opened #9873 "[dev/xml] Fix XSL scripts compilation in XmlCompiledTransform"
If XSL contains scripts (C#, VB, JScript), the script is currently not being compiled from a dll correctly. Either need to bring back CodeDom or find a workaround.

The tests related to this scenario should be re-enabled. (Look for ActiveIssue(9873))

This needs to be done as a part of dev/xml branch work

[2016-07-06 20:29] davidsh commented on #9433
I investigated this.  It turns out that the `Content-Type` response header is not really removed.  It is still there in the HttpResponseMessage.Content.Headers collection.  However, the property itself, `HttpResponseMessage.Content.Headers.ContentType` returns a strongly typed object of type `MediaTypeHeaderValue`. The design of HttpClient and the Headers collection is such that a non-null value f

[2016-07-06 20:33] ianhays commented on #9798
Why is this? Because it's within Runtime Extensions?

Interesting. We talking like a streamless c-like IO API or just a basic set of FileSystem operations?

+1. That would be a pleasant way to resolve this. I don't like `PathEx.Method` or `Path2.Method` since they require splitting Path in a rather unintuitive way. Something like `PathHelper.Method` would be fine for some methods, though we've alr

[2016-07-06 20:43] jkotas opened #9875 "Consistency of partial class filenames"
There are multiple different axes along which we customize the implementation via partial classes. From https://github.com/dotnet/corefx/pull/9851/files/282ad11461c480a282a529c38d8fc353bc03663b#r69807075:

1. Classic win32 vs. UWP apps (vs. non-Windows OSes). The two Windows appmodels are very much like different OSes because of there are different APIs available and things have to be generally do

[2016-07-06 20:44] davidsh commented on #9433
Also, it was mentioned above that "this works as expected on .NET Framework".

I tried this myself and it does not work on .NET Framework.  HttpClient APIs are working the same regarding this header parsing on both Desktop and .NET Core.

This code for example isolates the parsing problem:

[code]

It will throw an expection if "foo" is used. It will work if "foo/subfoo" is used.

Note: It is poss

[2016-07-06 20:46] jkotas commented on #9875
Proposed cleanup to make this consistent and more intuitive:

- [ ] `.WinRT.cs` for UWP Apps-specific implementation is confusing , e.g. (`ConsolePal.WinRT.cs`)[https://github.com/dotnet/corefx/blob/master/src/System.Console/src/System/ConsolePal.WinRT.cs] has no WinRT whatsoever. We should rename it to `.UWPApp.cs`.

- [ ] Very few people understand what netcore50 means. We should rename `.netcor

[2016-07-06 20:47] jkotas commented on #9875
cc @stephentoub

[2016-07-06 20:58] davidsh commented on #9433
Offline discussion has clarified that this is not an HttpClient problem.  It is an app-compat behavior difference with HttpWebResponse.Content property.  On .NET Framework (Desktop), it would always return the string regardless of it being "malformed".  This broke on .NET Core because HttpWebRequest/HttpWebResponse APIs are now wrapped on top of HttpClient APIs for the implementation.  So, this pr

[2016-07-06 21:05] isaacllopisaracil commented on #9846
I have an old project (C#, .Net 4.6.1). We replaced at one moment the references to System.Net.Http for the NuGet package (v4.1.0.0) but when trying to create ```new HttpConfiguration()``` it would invariably fail when trying to create the JsonMediaTypeFormatter internally.

The internal error is actually thrown when the ```JsonMediaTypeFormatter``` constructor tries to get the JSON ```MediaTypeHe

[2016-07-06 21:27] sepidehMS opened #9876 "Re-enable tests with XSL resolving external URIs"
These tests are marked with ActiveIssue.

This needs to be done as a part of dev/xml branch work

[2016-07-06 21:40] tsiqueira86 commented on #3760
I'm using Windows 7 on my dev machine and the application runs fine on Visual Studio 2015. When I publish it and deploy the application on my AWS Windows Server 2012 R2 server (IIS), i get this issue.

The error i'm getting is:

DllNotFoundException: Unable to load DLL 'C:\inetpub\[app]\approot\packages\runtime.win7-x64.System.Data.SqlClient.sni\4.0.0-beta-23516\runtimes\win7-x64\native\sni.dll':

[2016-07-06 21:48] sepidehMS opened #9877 "Re-enable and fix failing 60-70 Xsl checksum based tests"
These tests are marked with ActiveIssue

This needs to be done as a part of dev/xml branch work

[2016-07-06 22:37] davidsh commented on #9846
If you are having trouble with System.Net.Http.Formatting APIs, that is not part of CoreFx proper and is not part of the System.Net.Http NuGet package. Those are extension APIs that the asp.net team use and maintain.

So, perhaps you might want someone from the asp.net team to help investigate this.

cc: @davidfowl @danroth27 @stephentoub

[2016-07-06 22:40] ianhays commented on #9657
Back to the LZMA discussion:

Not sure how we're going to want to do this since the LZMA SDK includes implementations in C as well as C#. Some options and related thoughts:
- Include LZMA C code in clrcompression and add a stream wrapper in Sys.IO.Compression like we did for ZLib
  - Isn't NetStandard.Library friendly (https://github.com/dotnet/corefx/issues/6602)
  - Probably won't work on UWP si

[2016-07-06 22:43] NickCraver commented on #3760
@tsiqueira86 You are using a *very* outdated package there, pre-RC1 even. If you update to the RTM tools and packages, the problem will go away. There's nothing we can do unless this happens...the fix is in the updated packages.

[2016-07-06 22:52] pemari-msft commented on #9433
` HttpResponseMessage.Content.Headers.TryGetValues("Content-Type", ...) ` solved our issue. Thanks!

[2016-07-07 06:43] lanwilliam opened #9882 "Use default OS encoding to decode non-Unicode/non-UTF8 text, if available, instead of unconditionally falling back to cp1252 or Latin1"
The cshtml file I use `<input asp-for="Price" data-val-number="字段 {0} 必须是一个数字。" class="form-control" />`。
When I run the page，it shows the unrecognizable characters。
If I change the file to UTF8，it works ok。
And I try to set  `Encoding.RegisterProvider(CodePagesEncodingProvider.Instance);`，but it do not work.
Last,it looks like  [https://github.com/dotnet/roslyn/pull/4303](url) .

[2016-07-07 08:24] lanwilliam commented on #9882
I'm sorry , I think I make a mistake. I found the project aspnet.

[2016-07-07 08:24] #9882 closed

[2016-07-07 09:09] GSPP commented on #9657
Ideally, it would be a native code solution where possible with a managed fallback. How much slower is the C# version? My guess would be 2-3x. C compilers excel at this kind of code.

[2016-07-07 09:42] isaacllopisaracil commented on #9846
Maybe I didn't express myself with clarity before.

When we use .NET's 4.6.1 out-of-the-box version of ```System.Net.Http (v4.0.0.0)``` everything works fine with the ```System.Net.Http.Formatting``` library.

When we use the corefx version (v4.1.0.0) via NuGet, it fails. The error is the one above, hinting that the ```ICloneable``` interface is not the same because it does not fulfill the type pa

[2016-07-07 09:48] andriysavin commented on #9846
@isaacllopisaracil I feel your pain. However, the problem I described originally is different: its not about differences of assemblies, its about finding the assembly. The app crashes at time of JIT-compiling the code which references something from the System.Net.Http (e.g. HttpClient), failing to find and load the assembly.

[2016-07-07 09:56] isaacllopisaracil commented on #9846
I see that. I will create a new one specifically for this, then, if that's better.

This said, the abovementioned issue was exactly the same one we had when trying to revert to v4.0.0.0 after finding out that v4.1.0.0 is not an OOB package. Visual Studio kept the 4.1.0.0 references even though all NuGet package references and assembly redirections had been removed. The only workaround was to remov

[2016-07-07 10:02] neoaisac opened #9884 "System.Net.Http does not behave as an OOB package when used with System.Net.Http.Formatting"
This issue has been created to separate it from the conversation in issue #9846.

As explained there, when using ```System.Net.Http v4.0.0.0``` as distributed by the .NET Framework 4.6.1, everything works correctly.

When updating the reference to the NuGet-distributed package for ```System.Net.Http v4.1.0.0``` (here: https://www.nuget.org/packages/System.Net.Http/) the code fails at runtime whith

[2016-07-07 10:06] isaacllopisaracil commented on #9884
To expand on my above comment, the problem seems to be with the type ```System.ICloneable``` (source here: http://aspnetwebstack.codeplex.com/sourcecontrol/latest#src/System.Net.Http.Formatting/CloneableExtensions.cs).

It seems that corefx's implementation uses a custom-made ```ICloneable``` interface, therefore not meeting the type argument requirements of that class. (See corefx's custom-made i

[2016-07-07 10:30] tverboon opened #9885 "CS0012 The type 'Object' is defined in an assembly that is not referenced."
The type 'Object' is defined in an assembly that is not referenced. You must add a reference to assembly 'mscorlib, version=4.0.0.0, ...'

I try to instantiate a MongoClient which is still a .Net 4.5 assembly, like this:

`var client = new MongoDB.Driver.MongoClient(@"mongodb://localhost:27017/");
if (client == null)
{
       return;
}`

The build error is on the client == null line.

My project.j

[2016-07-07 11:29] svick opened #9887 "Failed tests in System.Threading.Tasks.Channels.Tests.ValueTaskTests on Ubuntu"
When running `./build.sh` on an Ubuntu 16.04 VM, I get the following failure in System.Threading.Tasks.Extensions.Tests:

[code]

[2016-07-07 11:31] Clockwork-Muse commented on #9838
Possible reason tests can't be run: Microsoft/xunit-performance#157
(certainly not helping things any)

[2016-07-07 11:40] stephentoub commented on #9887
Those tests don't exist anymore in this repo.

[2016-07-07 11:43] stephentoub commented on #9887
Oh, sorry, I got confused by the "Channels" in there and thought this was the corefxlabs repo.  I'll take a look.

[2016-07-07 11:47] stephentoub commented on #9887
@svick, was a ton of other work happening on your box when you ran these tests?  These failures imply that some work items queued to the thread pool didn't complete within 10 seconds of being queued.

[2016-07-07 11:50] stephentoub commented on #9887
Oh, actually, I may know what's happening.  Does your Ubuntu machine have a single core?

[2016-07-07 11:52] svick commented on #9887
@stephentoub No, there's pretty much nothing else happening on the VM or the host machine.

Considering that in `ValueTaskTests.Awaiter_OnCompleted`, the callback is called 20 seconds after `OnCompleted()`, and it only affects the second test when `continueOnCapturedContext: True`, I suspect it's related to `SynchronizationContext`.

[2016-07-07 11:52] svick commented on #9887
@stephentoub Yes, it's a singlecore VM.

[2016-07-07 11:57] stephentoub commented on #9887
Yes, it is.  That's why I asked about if this is a single-core.  It's a deadlock due to blocking waiting for the queued callback.  On a single-core VM, xunit by default will only allow a single thread to handle running test work at a time, and that thread is blocking waiting for the queued work that can only be processed by that one thread.

[2016-07-07 12:01] stephentoub commented on #9887
Thanks for reporting the issue.  I put up a fix for the tests.

[2016-07-07 12:03] #3568 closed

[2016-07-07 12:03] #9826 closed

[2016-07-07 12:04] #5407 closed

[2016-07-07 12:04] #4741 closed

[2016-07-07 12:05] stephentoub opened #9889 "Complete Environment.GetFolderPath on Unix"
#9826 added back the full surface area of Environment.  However, GetFolderPath on Unix doesn't support the vast majority of the SpecialFolder values.  We should look at fleshing this out.

[2016-07-07 12:08] stephentoub opened #9890 "Environment.GetFolderPath on Windows can't use SHGetFolderPath"
#9826 added back the full surface area of Environment.  However, GetFolderPath on Windows in the desktop framework uses SHGetFolderPath to implement this method, but that Win32 function isn't available:
https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.CodeAnalysis/PackageFiles/PinvokeAnalyzer_OneCoreApis.txt
As a result, the method is mostly unusable.

[2016-07-07 12:10] martinsuchan commented on #8651
The build still fails for me but with a different problem now. Not sure, if this is a NuGet Package Manager or corefx issue, see:

[code]

Detected package downgrade errors:
[code]

Payload contains two or more files with the same destination path errors:
[code]
Detailed log: http://pastebin.com/fQyQ1Qcb

It looks like NuGet(?) tries to use both v4.0.0 and 4.0.1 of some dependencies.
This happens

[2016-07-07 12:17] martinsuchan commented on #8651
@bartonjs I've noticed you use **"Microsoft.NETCore.UniversalWindowsPlatform": "5.2.0"** and     **"NETStandard.Library": "1.6.0"** in the project.json.
The 5.2.0 version is not available in public stable NuGet feed and I never had to use "NETStandard.Library": "1.6.0" in my UWP projects, maybe that's the problem here?

[2016-07-07 12:40] tverboon commented on #9885
I figured it out: http://stackoverflow.com/a/38245660/6083098

Still, I would have thought that `"frameworks": {
    "netstandard1.6": {
      "imports": "net46"
    }
  }`

is the same as:
`"frameworks": {
    "net46": { },
  }`

But apparently it is not.

[2016-07-07 12:41] tverboon commented on #9885
Reopened it, because maybe it is not by design

[2016-07-07 12:59] niemyjski commented on #4741
@stephentoub Was this issue closed because it's not happening? Would love some context.

[2016-07-07 13:00] stephentoub commented on #4741
It was closed because it was implemented:
https://github.com/dotnet/corefx/issues/9851

[2016-07-07 13:18] #9887 closed

[2016-07-07 13:53] wpostma commented on #9088
Is build --help going to be among the options supported? That would be nice.

[2016-07-07 14:10] davidsh commented on #9884
cc: @ericstj @stephentoub

[2016-07-07 14:35] svick opened #9892 "Running tests for a single project on Linux"
I am trying to run tests for a single project on Ubuntu 16.04. I figured out that the command I need to run (assuming corefx is in `~/corefx`) is:

`~/corefx/Tools/dotnetcli/dotnet ~/corefx/Tools/MSBuild.exe /t:BuildAndTest /p:TestNugetRuntimeId=ubuntu.16.04-x64 /p:OSGroup=Linux /p:TargetOS=Linux`

As far as I can tell, this is not documented anywhere and I think it should be, probably in [unix-in

[2016-07-07 14:44] stephentoub commented on #9884
cc: @danmosemsft, @KrzysztofCwalina
This appears to be due to the lack of ICloneable in .NET Core.

[2016-07-07 15:36] bartonjs commented on #8651
@martinsuchan Sigh, I thought I'd cleared out my cache to be using only nuget.org packages; apparently not.

@ericstj Was Microsoft.NETCore.UniversalWindowsPlatform 5.2.0 supposed to have been published to nuget.org?  Or is it waiting for some other thing?

[2016-07-07 15:42] onovotny commented on #8651
It is on NuGet.org but was delisted due to a few issues. There are workarounds though:
https://github.com/dotnet/cli/issues/3189

[2016-07-07 15:55] colin-young commented on #9846
I seem to be encountering something similar. I've got a set of libraries all build targeting `net4.5.2` and I can run those fine in their test harnesses (usually console exe) and unit tests. I am not trying to consume a number of them in a console exe that provides a SignalR hub, targeting net4.5.2. I can build fine (ignoring the version conflicts for now which have to do with Owin and Http), at r

[2016-07-07 15:58] andradf opened #9893 "SSLStream does not clear InternalBuffer after read"
SSLStream is vulnerable to memory dump attacks. When working with sensitive data, a programmer has no way to clear the internal buffer of SslStreamInternal after data has been read. And as long as a new packet does not arrive the data will be there indefinitely.

SslStream should provide a mechanism to clear the internal buffer or SslStreamInternal should  clear InternalBuffer either during every

[2016-07-07 16:04] ericstj commented on #9846
4.1.0.0 is the expected version.  Try adding a binding redirect to solve the file-not-found at runtime.

Solution explorer is likely showing some direct assembly reference (eg: simple name reference or FrameworkAssembly reference from a NuGet package) this gets trimmed by targets that run at build.  /cc @jasonmalinowski

From: colin-young [mailto:notifications@github.com]
Sent: Thursday, July 7, 2

[2016-07-07 16:21] davidsh commented on #9893
cc: @CIPop @stephentoub

[2016-07-07 16:25] krwq opened #9894 "[dev/xml] Intermittent failures in random System.Xml.XmlDocument tests related to attributes"
Some threading issue in XmlDoc tests.

I'm leaving them not marked as Active issue so it's easier to track it down by finding some common traits. (+ not really sure which ones to disable)
Not sure if this is test or product issue. This might be already fixed - need to be re-verified after merging corefx changes to System.Xml.

Failures catched so far:
[code]

[2016-07-07 17:35] colin-young commented on #9846
Thanks! This:

      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.TypeConverter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.0.0" />
      </dependentAssembly>
did the trick. The existing binding tried to map to 4.0.1.0 instead. It appears that it was added automatically when I updated NuG

[2016-07-07 18:23] Priya91 commented on #9729
@niemyjski You can use the Environment.OSVersion that is now exposed in corefx for an exact Unix version object, #9851

[2016-07-07 18:23] #9729 closed

[2016-07-07 18:30] CIPop commented on #9893
@andradf, this is an interesting point. We've discussed it with the Windows Cryptography team when we were deciding the future of SecureString. The conclusion was that there is no mechanism that would protect sensitive data from in-process inspection and that the security boundary is at the process level. There is no way to limit access if the attacker has access to the application's memory.

Even

[2016-07-07 19:51] #9433 closed

[2016-07-07 20:17] mellinoe commented on #9885
This is by design. Your first version:

[code]

is basically saying: "Build me a library targetting `netstandard1.6`, but also let me reference stuff built for `net46`, even if it isn't compatible." It turns out that the assembly isn't compatible, so you can't compile. The problem is that MongoClient references a `System.Object` type which resides in mscorlib.dll. NETStandard.App, when targetting

[2016-07-07 20:21] davidsh commented on #9846
@ericstj is there any future action item for this issue or should it be closed now?  Is this the experience we expect moving forward for developers? Or is there some improvement we might make (tooling, packages, etc.) to this overall experience of binding redirects confusion.

[2016-07-07 20:36] isaacllopisaracil commented on #9884
I would think so too, but then this disrupts the whole definition of OOB package, then.

[2016-07-07 20:44] andriysavin commented on #9846
@davidsh If to make .NET Platform Standard code working correctly on every platform developers will have to do tricks with binding redirects, it will be worst experience ever. This will break the idea of transparent code portability. Not to say that in most cases these errors won't be detected until run time.

So far, based on previous posts, to me the problem lies in that the tooling doesn't give

[2016-07-07 21:11] andradf commented on #9893
@CIPop, thank you for the helpful response. The reason I ran across this is that we are trying to build a PCI validated application, and in their recommendations they suggest "Minimizing the exposure of PAN/SAD while in memory" (PA-DSS 5.1.6.1). And while protections provided by Windows' process system are good countermeasures, there have been attacks of this kind detected in the wild, specificall

[2016-07-07 21:21] SunnyWar commented on #7656
@svick

But that's exactly what String.Split does now...allocated a bunch of substrings you don't necessary need. It's exactly what I want to _not_ happen.

[2016-07-07 21:23] SunnyWar commented on #6414
Such a trivial change...surprised it's not even up for grabs...hint, hint.

[2016-07-07 21:41] #9748 closed

[2016-07-07 21:46] svick commented on #7656
@SunnyWar I guess I was thinking about implementing `EnumerateString()` in terms of `yield return`, where you would have to allocate the intermediate string (you have to `yield return` *something* before moving on to the next part of the string).

Now that I think about it, a custom implementation of `IEnumerable<string>` could allocate the string only when you get `Current`, which would mean that

[2016-07-07 22:35] jasonwilliams200OK commented on #7812
Ubuntu Debug build reported the same issue: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/2602/consoleText (PR #9903)

[2016-07-07 22:42] ericstj commented on #9846
I do have a related issue here: https://github.com/dotnet/corefx/issues/7702.  In that issue I suggest trying a workaround package that forces the auto-generate binding redirects in MSBuild to see a conflict.  Try that and see if it works for this case.

The place to examine binding redirects written by the build is in the *.exe.config in your output directory.

If you're seeing that NuGet is modi

[2016-07-07 22:45] ericstj commented on #9884
I wasn't aware that any type-subsetting was done with System.Net.Http.dll.  Indeed if that exposes different surface area than the reference assembly in the package, and it has the same name, that's a breaking change that needs to be fixed.

[2016-07-07 22:50] ericstj commented on #9884
Indeed if I diff the targeting pack with the nupkg reference assembly I see this difference: https://gist.github.com/ericstj/5db3de3de78c249b1138601eb9a79423#systemnethttpheaders

[2016-07-07 22:59] svick commented on #6414
@SunnyWar As long as it's not changing behavior (and there are enough tests to verify that) and it is clearly better (ideally, you should have benchmark results showing that), I think a PR will be reviewed, even if the issue is not marked up for grabs.

[2016-07-08 00:21] CIPop commented on #9893
Thanks for sharing the details @andradf. I will follow-up with the Windows Crypto team to clarify the security scope of DPAPI/ProtectedMemory/SecureString.

[2016-07-08 02:06] migueldeicaza opened #9908 "System.Drawing.Primitives NuGet type forwarders for Xamarin Platforms"
Hello,

We have at least identified that for Xamarin.{iOS,Mac,tvOS} where we need some changes.

The `System.Drawing.Primitives` package that contains type definitions for the following `System.Drawing` types should contains type forwarders: `Point`, `PointF`, `Rectangle`, `RectangleF`, `Size`, `SizeF`

* On iOS the types live in Xamarin.iOS.dll
* On MacOS they types live in Xamarin.Mac.dll
* On t

[2016-07-08 03:22] tsiqueira86 commented on #3760
Thanks! I'm downloading the new tools and will try when it's done. I'll reply here to confirm if it fixes the issue.

[2016-07-08 04:34] lemmaa commented on #9865
I do alternative approach followed by @jkotas's comment.

Now 'run-test.sh' checks the validity of using `*ni.dll`s while preparing a test directory and remove mismatching dlls and patch the `RunTests.sh` script to prevent unintended overlaying of dlls from NuGet package.  Updated PR #9862 .

[2016-07-08 04:55] dsbenghe commented on #4960
The issue is still happening on Linux in some particular case: a back and forward handshake between 2 servers (different domains) with redirects between them. It works fine on Windows.

What I see happening: if automatic redirects is on, and web site A redirects to website B - httpclient sends to site B the same cookies it sent to site A.

I can go in more details if needed and I have a fiddler tr

[2016-07-08 05:24] tverboon commented on #9885
Thanks for this clear answer, it clarifies a lot for me. :smile: :thumbsup:

[2016-07-08 05:24] #9885 closed

[2016-07-08 05:31] jkotas commented on #9865
The modification of the auto-generated script on the fly is not pretty. It would be better to generate the script in the right form in the first place. The script generator is in https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/tests.targets.

I have found that the script generator has a property to skip copying of the native images already: https://gi

[2016-07-08 07:07] crozone commented on #9751
Ahh, that's a rather trivial loop in the repro code that happens when the socket closes (the w3schools event source doesn't keep itself open like a typical event source would). My actual code breaks out of the loop upon `byteCount == 0` and does a reconnect loop.

After more testing, I can't seem to reproduce this issue reliably anymore - it appears the host of the event source I was consuming has

[2016-07-08 08:22] stephentoub commented on #4960
Can you share a repro? Which build are you using?

[2016-07-08 08:49] beho commented on #9792
Is there some workaround I could use until this is fixed ?

[2016-07-08 09:55] snboisen commented on #6729
Instead of making the same mistake as in the ServicePointManager API, it would make a lot of sense, if the new API allowed the developer to specify "use this protocol version or newer".
Right now a lot of code is probably locked down to use Tls12 specifically. When a vulnerability is discovered and a new version emerges, all that code will need to be updated and recompiled instead of at least defa

[2016-07-08 10:39] andriysavin commented on #9846
I tried AutoGenerateBindingRedirects and it gave no result, an app.config is not even created during build. I guess this is because of xproj.

[2016-07-08 11:08] kylelaverty commented on #4382
Hey, I was wondering what was going on with this? The Windows guys have already created their own copy of the Enum and extended it: [https://msdn.microsoft.com/en-us/library/windows/apps/windows.web.http.httpstatuscode?cs-save-lang=1&cs-lang=csharp#code-snippet-1](windows.web.http.httpstatuscode)

[2016-07-08 11:57] dsbenghe commented on #4960
I'm using the rtm.
I can share a repo privately.

[2016-07-08 14:05] davidsh commented on #4382
The WinRT Windows.Web.Http.HttpStatusCode was added as part of the larger effort when the WinRT APIs were added.  Those types are distinct from the .NET types. They are used for WinRT apps across UWP apps for Windows for C++, C# and JS languages.

We still have plans to add enum values for .NET System.Net.HttpStatusCode type.  However, it is part of the System.Net.Primitives contract and we need t

[2016-07-08 14:06] DaveVdE opened #9910 "Process.Start does not fail on Unix if the executable doesn't exist but the path is rooted"
Steps to reproduce:

[code]

Expected:

Result:

No error was thrown. `Process.Start` just didn't do anything.

On closer investigation, it seems that Process.Start depends on ResolvePath to make sure that the executable exists, but the implementation states that if the path is rooted, it is just assumed that's what the caller wants.

For some reason, the actual error of the process not being star

[2016-07-08 14:19] #9832 closed

[2016-07-08 15:02] #9551 closed

[2016-07-08 15:02] #9637 closed

[2016-07-08 15:03] #9636 closed

[2016-07-08 15:03] #9553 closed

[2016-07-08 15:03] #9552 closed

[2016-07-08 15:04] #9554 closed

[2016-07-08 15:06] krwq opened #9911 "[dev/xml] Fix packaging for System.Xml and System.Xml.Linq"

[2016-07-08 15:29] vanomaisuradze commented on #2949
You need Two-Phase commit protocol for this...

I agree also, TransactionScope is critical to any serious app.

[2016-07-08 15:47] ericstj commented on #9908
As of yet we don't build any Xamarin specific facades in our build process.  The way we've been handling this to date is for any case where a Xamarin specific assembly is required we put a placeholder in the package so that it will install without providing any assets.  Xamarin adds the reference/implementation to its SDK.

If you'd like us to build facades for Xamarin profiles we would need to ha

[2016-07-08 16:38] migueldeicaza commented on #9908
Given the urgency of the matter, we will have to do this ourselves.

[2016-07-08 16:40] ericstj commented on #9908
I think we still have a problem here and would like to determine what you want moving forward.

[2016-07-08 16:40] migueldeicaza commented on #9908
We will need to have the NuGet package add the _._ markers for all Xamarin platforms, so that we can provide the forwarders for fused types.

[2016-07-08 16:42] ericstj commented on #9908
I see.  We can do that.  I'm working on a large update to enable validation for Xamarin and I will include updates that mark this contract as inbox.  I'll keep this issue open to track that work.

[2016-07-08 16:44] ianhays commented on #9657
Alright, I've got native and managed versions working in Sys.IO.Compression on Windows so we can get some early perf results. Properties are set to the defaults for both.

As with ZLib, the lzma native implementation is significantly faster. Wall-clock time for 10 compress/decompress of the files in the Canterbury Corpus:

| CompressionMode | Managed/Native | FileName   | Elapsed Time | Output Fil

[2016-07-08 17:09] GSPP commented on #9657
I wonder why native and managed have so different results. `kennedy.xls` is smaller with managed. `kennedy.xls` has a crazy managed compression time. Weird.

[2016-07-08 17:25] krwq opened #9913 "Fix or remove all BINCOMPAT TODO in System.Private.Xml"

[2016-07-08 17:28] ianhays commented on #9657
I expect the implementations are quite different.

I also realize now that the above results are using the property values that Eric used in his CLI port. I re-ran the tests using the default values and edited the post with those results. Looks like the main difference is that managed results for small files are much faster now.

[2016-07-08 18:25] #9762 closed

[2016-07-08 18:26] CIPop commented on #9762
Thanks @svick for the fix!

Assigning to @himadrisarkar to track the port and scheduling for .Net Desktop.

[2016-07-08 18:39] ericstj commented on #9657
Yeah, those parameters were tuned for maximum compression of the CLI payload.

I believe the C & C++ implementations are multi-threaded so that makes a big difference.  We could do the work to make the C# implementation multi-threaded and measure the difference.

[2016-07-08 18:47] krwq opened #9915 "[dev/xml] Check if System.Text.StringBuilder should be used instead of System.Xml.BufferBuilder"

[2016-07-08 18:51] sqmgh commented on #9657
The results do seem to suffer from different implementations, and it does seem to make the "..the lzma native implementation is significantly faster." conclusion an unfair one.

Unless I have completely lost the ability to read a table, there are a number of results where the managed implementation is much faster than the native one. xargs.x1 being an example where ratio is almost as big as the ke

[2016-07-08 18:59] ianhays commented on #9657
Agreed. The earlier set of results that brought that conclusion were made using Eric's parameters, not the default parameters. As a result, we weren't comparing apples-to-apples. I'll strikethrough my original comment for clarity to people just coming into this thread.

That would be interesting. I'll look into it. I expect it's a fairly large amount of effort, but for large files it would likely

[2016-07-08 19:08] gkhanna79 opened #9917 "Enable CoreFX test runs on OneCoreUAP images for x86 and x64"
CC @weshaggard @joshfree

[2016-07-08 19:28] mellinoe commented on #9892
Yeah, this stuff is a bit confusing right now. I think some of the parameters you pass there are unnecessary. It looks like `TestNugetRuntimeId` is overridden in [dir.props](https://github.com/dotnet/corefx/blob/master/dir.props#L330), but it always seems to use ubuntu14.04-x64, which isn't right in your case. I also believe `TargetOS` is auto-detected [in a buildtools task](https://github.com/dot

[2016-07-08 20:28] CIPop commented on #6729
+1  @himadrisarkar @davidsh This is an interesting idea and would require new API.

[2016-07-08 20:48] krwq opened #9920 "Expose XmlTextReaderImpl.DetectEncoding as more general API (also for text files)"
Seems pretty useful.
cc: @tarekgh

[2016-07-08 21:40] tarekgh commented on #9920
This is not a generic method that can detect any supported encoding. this is useful only for Unicode encoding detection (UTF8, UTF16,...etc.) I am not sure how useful this will be and which scenario will really need it

[2016-07-08 22:16] ianhays commented on #9657
The operations being multithreaded that we care about for perf are match finding - about ~30% of the time is spent there:

![image](https://cloud.githubusercontent.com/assets/2606879/16702718/c6caf34a-451c-11e6-89ce-2aa9da8a7ae8.png)

The native LZMA parallelizes these operations when multi-threading is enabled (which it is by default).

As far as getting C# to do the same, it would require a not

[2016-07-09 00:46] ianhays opened #9924 "ZipArchive: Throw specific error messages for unsupported data"
ZipArchive decompression should throw a better error message when an entry is compressed using an unsupported method. Right now it says ```The archive entry was compressed using an unsupported compression method.```

It should say something like ```The archive entry was compressed using [type] and is not supported```

[2016-07-09 01:37] ianhays opened #9925 "Compression: Add support for Deflate64"
We allow decompression of Zip64 zips but not if they contain entries compressed with Deflate64. This is somewhat problematic, as zips created by the Windows explorer utility that are >2gb are compressed using Deflate64.

ZLib doesn't support deflate64, so it would need to be our own implementation.

[2016-07-09 04:49] paulcbetts opened #9928 "build.sh fails on Arch Linux because Blob missing"
init-tools.log:

[code]

[code]

[2016-07-09 08:43] svick commented on #9928
It seems you're using Arch Linux, which is not currently supported.

[2016-07-09 10:55] svick opened #9932 "Inconsistent default access mode for Package.Open(Stream) between .Net Core and .Net Framework"
The default access mode for `Package.Open(Stream)` is `ReadWrite` on .Net Core, while it's `Read` on .Net Framework. This means that a program that runs on one can fail on the other, in both directions.

In my case, I have code like:

[code]

[This code](https://gist.github.com/svick/0dfbcef372c72127df791de8f4d1b471) runs successfully with `dotnet run -f net46`, but throws with `dotnet run -f netc

[2016-07-09 11:20] GSPP commented on #9657
Compression should by default be single threaded. The threading architecture is not for a compression stream to decide. It's a useful facility to be able to turn this on, though.

There seem to be two multithreading techniques in LZMA(2): 1. The match finder which apparently does not support a high DOP. In the UI I think the DOP maxes out at 2. You can see this from the way memory usage increases

[2016-07-09 11:29] stephentoub opened #9933 "All Linux ARM Emulator Cross Build legs in PRs are failing"
@Priya91

[2016-07-09 13:32] stephentoub commented on #9932
cc: @EricWhiteDev

[2016-07-09 20:55] stephentoub opened #9938 "Change System.Json version number to match Mono?"
From @ericstj here: https://github.com/dotnet/corefx/pull/9897/files/391dae1d0f3789e0c11190f357e02fbcc03570db#r70150707

[2016-07-10 13:44] danmosemsft opened #9946 "Investigate return of System.ComponentModel.Composition.*"
Core has System.Composition.dll
Core does not have S.ComponentModel.Composition and System.ComponentModel.Composition.DataAnnotations. These are in Xamarin for Android (unlike System.ComponentModel.Composition.Registration)

These two need to get into Core. They are reflection heavy so that work has to happen first. I see a bit of ref.emit also, which hopefully isn't essential.

[2016-07-10 15:50] DaveAurionix commented on #9846
Going back to the original post, and apologies if I've missed some detail since then ... I get the same error.  If I create a netstandard1.4 class library and add a dependency on the System.Net.Http 4.1.0 nuget package, and then reference the netstandard1.4 class library from a net461 console application, I get a runtime error "could not load file or assembly System.Net.Http version 4.1.0".

Looki

[2016-07-10 16:57] mikemarango opened #9949 "UWP-EF-SQlite (Not compatible with Prism Framework)"
For some strange reason on a Blank App(UWP) with suggested (temporary)fixes solved the issues in 5.2. with SQLite on closely following the docs. However the fixes break the xaml designer when the Prism framework i.e. prism 6.1.0, unity 4.0.1 and on VS update 3 is applied. "GridView, Stackpanel ... Etc cannot be children of the Grid" is the error message. It's not just the grid but most layout cont

[2016-07-10 17:14] paulcbetts commented on #9928
@svick I can build coreclr successfully, it'd be cool if I could point corefx to a from-source built repo on my local machine

[2016-07-10 18:35] eriawan commented on #5165
@AArnott , @stephentoub

Any progress about this issue? Can we have simply have an Open Publishing like Visual F# documentation on Github?

For references: https://github.com/microsoft/visualfsharpdocs/

[2016-07-10 20:26] stephentoub commented on #4833
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_release/697/consoleText
[code]

[2016-07-10 22:41] stephentoub opened #9952 "450+ warnings on a build!"
They're all currently of the form:
[code]
or:
[code]
but it makes it really hard to spot important warnings.

Replaces https://github.com/dotnet/corefx/issues/9464

cc: @weshaggard, @ericstj, @joperezr, @karajas

[2016-07-10 22:41] stephentoub commented on #9464
Replaced by https://github.com/dotnet/corefx/issues/9952... we're up to 450+ warnings 😦

[2016-07-10 22:41] #9464 closed

[2016-07-10 23:34] richardszalay commented on #6398
The proposed API doesn't appear to allow the handler to be asynchronous or otherwise delay the impending termination. Given that the IO operations are all asynchronous, and that most use cases of this API would involve logging it somewhere, is that going to be an issue? Or is the intent that handlers would block on asynchronous IO APIs?

[2016-07-11 02:12] #9843 closed

[2016-07-11 02:17] cmcginty84 commented on #9743
The myget feed 5.2.1 seems to address this issue:
https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.UniversalWindowsPlatform

[2016-07-11 02:19] stephentoub commented on #5165
@mairaw, @cartermp, could you share here on status / plans around docs? Thanks.

[2016-07-11 03:02] eriawan commented on #5165
@stephentoub

Just FYI, maybe you have known, but I have just found out that .NET Core has quite the same open publishing like Visual F# docs.
The live site is at: https://docs.microsoft.com/en-us/dotnet/articles/welcome
The github repo is at: https://github.com/dotnet/core-docs

I may miss something here, but I wonder, is there a .NET CoreFX documentation site available for us to look at?

[2016-07-11 03:07] stephentoub commented on #5165
Yup, that's why I cc'd the folks I did ;) They should be able to share more info.

[2016-07-11 03:11] eriawan commented on #5165
Great!

Thanks @stephentoub :+1:

[2016-07-11 04:36] jyoungyun opened #9958 "Support to run selected tests in run-test.sh"
Add --test-dir option to run selected tests only.
To run given tests only, add '--test-dir' option to run-test.sh.

The existing '--restrict-proj' option compares all test list to jugde if it runs or not.
And it runs only matched tests with regex.
If there is no matched rule among tests, this option will be useful.

I will post PR soon.

[2016-07-11 05:28] cartermp commented on #5165
I created an issue to track and discuss how this content would look in the core-docs repo, where the content would ultimately live.  Since this is conceptual content, this would definitely go there.  As for where in the doc set it ultimately lives, that would be up for discussion in the issue.

[2016-07-11 05:36] jyoungyun commented on #9958
Leave a comment

[2016-07-11 05:45] mairaw commented on #5165
Improving the Immutable Collections docs has been on my backlog for a while. Now that it's part of the product with .NET Core, hopefully we can make the case to prioritize this work and make it happen.

Now, in terms of status, just to give you a more complete picture of where we are at the moment. The conceptual docs for .NET Core is now open source just like the F# docs. However, we're still wor

[2016-07-11 06:07] Priya91 commented on #9933
cc @prajwal-aithal

The file corefx_cross.patch is found on the machines, but the script is giving error:

[code]

[2016-07-11 06:13] Priya91 commented on #9933
The error from the build:

[code]

[2016-07-11 10:52] stephentoub commented on #9142
Fixed by #9814

[2016-07-11 10:52] #9142 closed

[2016-07-11 13:10] svick commented on #9928
@paulcbetts You might be interested in the process outlined here: https://github.com/dotnet/coreclr/issues/917#issuecomment-231723500 by @jasonwilliams200OK. Though it's fairly byzantine and not complete yet.

[2016-07-11 13:34] emailtowalter commented on #4278
Any progress on this? I am stuck with the SAML token validation which requires this feature. Thanks

[2016-07-11 13:35] prajwal-aithal commented on #9933
@Priya91 The `corefx_cross.patch` file is to be present inside the rootfs present at `platform/rootfs-t30.ext4`. The sequence of commands executing by the ci script are:

[code]

The CI script expects the `/opt/linux-arm-emulator-root/dotnet/setenv/corefx_cross.patch` file to present after the rootfs is mounted as above.

Anyway, I had made all the needed changes to the rootfs at `/opt/linux-arm-e

[2016-07-11 14:03] af0l commented on #4278
Yeah, would liek to know that too. We ended up extracting the features needing the signature and putting them into a separate web API solution...

[2016-07-11 14:32] awatertree opened #9966 "TripleDES is not allowing 16 byte keys"
This works on full framework, but not core.  This is a simple alteration of the dotnet new to isolate the problem (only other change is to add net452 to project.json).

[code]

Running the above under net452 works fine, but under netcoreapp10 results in:

[code]

[2016-07-11 16:25] bartonjs commented on #9966
@AtsushiKan I remember there was some reason why we didn't add two-key 3DES.  Can you remind me?

[2016-07-11 16:27] brthor commented on #9788
I'm confused here. Why does it seem that the tool dependency is leaking into the project graph?

Taking a look at the dependency graph for the tool, `"Microsoft.VisualStudio.Web.CodeGeneration.Tools"` it brings in

`"Microsoft.CodeAnalysis.Workspaces.Common/1.3.0"`

which brings in `"Microsoft.Composition": "1.0.27"`

Is this a bad dependency in `"Microsoft.CodeAnalysis.Workspaces.Common/1.3.0"` ?

[2016-07-11 16:31] brthor commented on #9788
To answer your question @xatabhk packages in the `tools` node are not linked up as dependencies of your project (so you couldn't do things like reference a dll inside a tool from your project).

Instead each tool is restored independently, and can provide commands available through the dotnet cli in the directory of that project.

For example, a tool package can have a file named `dotnet-dostuff.d

[2016-07-11 17:06] mellinoe commented on #9946
What would make this different from the other stuff we're bringing back?

[2016-07-11 17:27] paulcbetts commented on #9928
This would be really great to get working, the build process for Mono is very straightforward to build all of the runtime + BCL + compiler, whereas coreclr seems to be extremely difficult. While I understand why you don't want the monorepo thing, it'd be great to have a top level "fake" repo that just has submodules and build scripts that wire everything together.

[2016-07-11 17:33] andschwa commented on #9658
Synced offline, conclusion is I need to get the corresponding team to create a new reference assembly that's compatible. Thanks @weshaggard!

[2016-07-11 17:33] #9658 closed

[2016-07-11 17:34] saurabh500 commented on #9949
@mikemarango Is this an issue with SQLite or XAML?

cc @divega for SqlLite.

[2016-07-11 17:37] joshfree commented on #9768
@ericeil can you comment on linux/mac socks4/5 proxy?

[2016-07-11 17:38] mellinoe commented on #157
After a bit more discussion, we've decided that it's a good idea to add these overloads. While it would be nice to rely on great code-gen everywhere, the reality is that we are going to be supporting a wide variety of runtimes for the forseeable future, some of which will be lagging behind others, and won't be able to apply the advanced copy-elimination optimizations that would obviate the need fo

[2016-07-11 17:41] jasonwilliams200OK commented on #9928
+10000 for:

[2016-07-11 17:42] ianhays commented on #9925
Windows 7/8/10 all use Deflate64. The cutoff in zip size where it switches from Deflate to Deflate64 appears to be 2 gigs. The number of files within the zip is irrelevant to the compression type chosen e.g. one 2.5 gig file will be Deflate64’ed the same as 5 .5 gig files.

I’m having trouble finding any good information on the details of the actual format since it’s proprietary by PKWare and not

[2016-07-11 17:42] saurabh500 commented on #9809
@HassanSiddique Is it possible to provide a standalone repro of this issue? What is the use case that is causing this error?

[2016-07-11 17:43] #9549 closed

[2016-07-11 17:52] Priya91 commented on #9933
@prajwal-aithal The VM is captured, will enable the PR jobs after the push trigger jobs succeed.

[2016-07-11 18:00] ericstj commented on #9938
Test here would be to create a PCL that references System.Json, then try and use it in any Xamarin project.   Find out if it gets a ref/def exception or a build error or if it just works.

You may need to consider this for all "classic" assemblies being added. I see System/System.Core/mscorlib all have lower versions.

[2016-07-11 18:02] saurabh500 commented on #9795
@scott-martin Is this happening on Linux ?

[2016-07-11 18:04] saurabh500 commented on #9439
@iSynaptic Is it possible to upgrade the server to SP3 and try out the scenario?
https://www.microsoft.com/en-us/download/details.aspx?id=27594

[2016-07-11 18:04] saurabh500 commented on #9719
@Ranjit-S Is it possible to update your 2008 server to SP3 from the location https://www.microsoft.com/en-us/download/details.aspx?id=27594 ?

[2016-07-11 18:11] ianhays commented on #9925
One of our other options would be to add [Adler's unsupported Deflate64 implementation](https://github.com/madler/zlib/tree/master/contrib/infback9) to ClrCompression. That way we could avoid a non-performant managed implementation

The issue with that is it's a Windows-specific solution.

[2016-07-11 18:13] ericstj commented on #9952
@stephentoub do you have VS Update 3 installed?

[2016-07-11 18:15] stephentoub commented on #9952
Yes.

And I'm seeing the warnings both locally and in CI.

[2016-07-11 18:16] stephentoub commented on #9952
e.g. you can see them in the latest Win8 run here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug/835/consoleText
456 warnings

[2016-07-11 18:17] mellinoe commented on #9875
I agree in general with the proposed guidelines. Regarding `netcore50`, `netcore50aot`, etc. We wanted to come up with a naming convention that roughly corresponded to the NuGet framework that the code would eventually end up in. So some things get mixed up in that bucket. I.e. things that go into the `netcore50` group might be due to WinRT, or they might be due to CoreRT differences. With all of

[2016-07-11 18:41] mikemarango commented on #9949
@saurabh500 It's an issue with Xaml. The Grid doesn't accept child elements. However everything else works as per the document guidelines. I suspect it's an issue with the compression.
When I apply the same backend code to a blank app UWP, The xaml designer works just fine. I can add child elements like the gridview, stackpanel, etc as usual without a problem. My hunch .... Is Either the app.confi

[2016-07-11 18:49] Abdullah2993 commented on #9768
@CIPop It would be helpful in almost all possible scenarios where you require a proxy besides socks4/5 proxies are available in abundance and most of the HTTP Stacks support them.
Another plus point  would be integration with TOR

[2016-07-11 18:58] ericstj commented on #9835
These used to build automatically when you did a managed build, if you had built the native bits already, but that may have changed recently with some changes that @jhendrixMSFT.  Joel, can you provide the right steps?

[2016-07-11 19:06] ericstj commented on #9952
Yeah, I suspect most of these are from @karajas's test work.  Just wanted to confirm you had the updated VS because using old targets can also cause these warnings.

[2016-07-11 19:09] karajas commented on #9952
Working on resolving this, updating the TestSuite package to use the RTM version should resolve most of the resolution issues.

[2016-07-11 19:27] jhendrixMSFT commented on #9835
Use the build-packages.sh script to build the native packages.  Here's how we do it in official builds.

[code]

We can update build.sh to build packages by default so it aligns with our managed builds.

[2016-07-11 19:57] d3x0r commented on #157
I don't know that EVERY function's return should be converted to a ref.  A return that is a simple type(float/double/bool) should just return as normal...  It's slightly more work to store into a memory address than just keep the result in a register and return (and to fetch it back out of memory for a one-shot use).

[2016-07-11 20:16] saurabh500 commented on #9949
@joshfree  @stephentoub This is not a System.Data related issue. Can you help direct this to the right team?

[2016-07-11 20:18] ianhays commented on #9789
Thanks Joel! The ARM package is correct now.

I need to get my hands on a win10 arm device and do some deeper testing still.

[2016-07-11 20:18] ianhays opened #9973 "Build on specific Platform restores current Platform's binaries"
e.g.

[code]

[2016-07-11 20:19] joshfree commented on #9728
@stephentoub @bartonjs feel free to submit a PR to update the release notes / docs to make this more clear.

[2016-07-11 20:21] joshfree commented on #9973
I assume this is related to arm64?

[2016-07-11 20:21] ianhays commented on #9973
No, this is an msbuild properties issue it looks like. I posted accidentally before elaborating.

[2016-07-11 20:22] ianhays commented on #9973
Seems like the native binaries being copied are ignoring whatever the `Platform` is set to.

[2016-07-11 20:22] ericeil commented on #9768
It looks like CURL does support SOCKS4, 4a, and 5.  It also looks like this may already be supported in the current System.Net implementation on Linux/Mac, by setting the request's Proxy property to something that returns, e.g., `socks5://proxyhost.domain.com`.

[2016-07-11 20:38] Priya91 opened #9975 "Windows Nano runs are not working on Jenkins"
Recently (after Jul 7 buildtools update) on build.cmd /p:OSGroup=Windows_NT is dropping assemblies that build for AnyOS to both tests/AnyOS.AnyCPU.Configuration/lib/netcoreapp1.0 and tests/Windows_NT.AnyCPU.Configuration/lib/netcoreapp1.0. These libs mostly have the builds file authored for AnyOS on netcoreapp1.0 and Windows_NT for net46 and netcore50, for ex, [System.AppContext.Tests.builds](http

[2016-07-11 20:50] GuardRex commented on #6024
@TravisTheTechie Would you mind re-opening this to keep it on the team's radar? They marked it "port-to-core" and "Future," but I fear that they aren't looking it with it being closed. As it stands, we can't make Windows Service apps AFAICT for Nano Server without `ServiceBase` and without having to resort to 3rd party software or hacks (e.g., GPO startup scripting). cc/ @shanselman @DamianEdwards

[2016-07-11 21:02] TravisTheTechie commented on #6024
Sure @GuardRex -- I'm happy to keep this open if it's coming. We'll happily port Topshelf to Core, we're getting plenty of requests for it.

[2016-07-11 21:04] GuardRex commented on #6024
Thanks. Now, I hope they'll just jump in and say if this could get off of "Future" and onto `1.1` or whatever, and perhaps any thoughts on running a Core app as a Windows Service on Nano.

[2016-07-11 21:05] GuardRex commented on #6024
@bartonjs Were you suggesting in your original response here that we could take that code and make something for ourselves for Core?

[2016-07-11 21:17] danmosemsft commented on #9946
@mellinoe Nothing - I'm just tracking it.

[2016-07-11 21:24] Priya91 opened #9979 "Seg fault on CentOS in System.Reflection.Metadata.Tests"
[code]

Log here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/822/consoleFull#-17798639014b7730ef-150b-4be7-a00f-82ba6c50792b

[2016-07-11 21:55] danmosemsft opened #9981 "Add Crypto provider wrappers"
Breakout of some Crypto types that are in Xamarin but not in Core.

These are public types which suggest an implementation, but they should now defer to the standard impl. Similarly-prefixed things can/should be done as a single work item. (e.g. Aes* is one small task).
Ideally everything is [EditorBrowsable(Never)]

[code]

[2016-07-11 22:00] danmosemsft opened #9982 "Port System.Security.Cryptography.DSA"
[code]
Contract is System.Security.Cryptography.Algorithms.
Windows: Port DSACng.
Unix: All new code.
Tests: Some tests exist in RedZone Desktop suite, needs a whole lot of tests.

[2016-07-11 22:02] danmosemsft opened #9983 "Port System.Security.Cryptography.HashAlgorithm"
[code]

The incremental hashing methods and ComputeHash together can produce unexpected data and break the incremental hash state machine.  In .NET Core 1.0 the incremental part was moved to a new type and the ICryptoTransform declaration was removed.  Presumably requires bug-for-bug compat with Framework, and lots of bug-verifying tests.

The other two are required for incremental hash mainly.  O

[2016-07-11 22:06] CIPop commented on #9768
@himadrisarkar In order to support this on Windows, the underlying components (WinINet and WinHTTP) need to be changed. Please follow-up with their respective owners internally.

[2016-07-11 22:07] danmosemsft opened #9984 "Port System.Security.Cryptography.RijndaelManaged, limited to AES"
This type is getting significant use.

`T:System.Security.Cryptography.RijndaelManaged`

We should bring it back as functional, but to make it just wrap Aes.Create(), and fail for any Rijndael settings which are not AES settings (since it looks like our Rijndael implementation restricted it to 128/192/256-bit keys already that really just means use a fixed block size).  And make it be [EditorBrows

[2016-07-11 22:09] danmosemsft commented on #9559
breaking out into pieces

[2016-07-11 22:09] #9559 closed

[2016-07-11 22:13] bartonjs commented on #9982
Duplicate of #4813.  Updated metadata on that issue.

[2016-07-11 22:13] #9982 closed

[2016-07-11 22:13] mconnew opened #9985 "WebSocket.CloseAsync can throw when WebSocket.CloseOutputAsync has been previously called on Unix"
If a client calls WebSocket.CloseOutputAsync on an open WebSocket, a Close frame is sent and the WebSocket transitions into the CloseSent state. If it's then desired to wait until the response Close frame is received, for example to check the response status code that the server sends, a call to WebSocket.CloseAsync can then be made. This is necessary as otherwise the alternative is to poll the We

[2016-07-11 22:14] mconnew commented on #9985
@stephentoub, @CIPop, @davidsh

[2016-07-11 22:19] mconnew commented on #9672
A few more pieces of information about the behavior. The UWP HttpClient and libcurl on centos both do something which is incorrect according to the spec. They don't escape the \ in the username so instead of sending to the server `domain\\username`, they are sending `domain\username`. According to the Digest RFC, this is incorrect as the username should be escaped. I have tested all these variants

[2016-07-11 22:20] bartonjs commented on #4813
@RussellTaylor83 Sorry for the long window of non-response; I must have missed this notification when it came in.  The DSA base class got some improvement in .NET 4.6.2 (currently in preview) and I wanted those to be present before we started moving things to .NET Core.

As of now it is slated for our 1.1 release, tentatively targeted as November.  I expect it to be done before the heat is off of

[2016-07-11 22:21] bartonjs commented on #4813
@RussellTaylor83 Bah, hit comment too soon.

When porting to .NET Core (and in your existing code) you should avoid talking about DSACryptoServiceProvider, if you can.  That type is for a Windows CAPI implementation of DSA/DSS, You should just use the DSA base class (which should be doable in net462, provided you're not using named/persisted keys).

[2016-07-11 22:31] xoofx commented on #157
If we could avoid this, so cumbersome to use... The returned bool is just fine, easier for the end-user of the function. The main problem in this particular case for VB is that the Invert method would conflict with a Invert with ref, not sure how you gonna deal with this limitation...

[2016-07-11 22:36] danmosemsft opened #9986 "Port missing X509Certificate members"
In System.Security.Cryptography.X509Certificates.X509Certificate --

Easy impl, just needs a couple tests (real cert, and new X509Certificate2() -- default ctor).

[code]

Should probably defer to the new PAL ctor instead of copying the Handle ctor.

[code]

Needed by SignedCms; can be deferred until that is ready.

[code]

[2016-07-11 22:42] benaadams commented on #157
Probably an api that would lead to confusion but will suggest anyway :grin:

You could reduce the parameters
[code]
Can always precopy for new
[code]

[2016-07-11 22:48] sepidehMS opened #9988 "Re-enable and fix Xsl tests loading xsl from dll"
Re-write these tests so that they don't load xsl from the dll

These tests are marked with ActiveIssue

This needs to be done as a part of dev/xml branch work

[2016-07-11 22:52] jamesqo opened #9989 "Lots of code duplication/type unsafety/messiness in System.Collections tests"
At the moment there appears to be a lot of messiness in the `System.Collections.*` tests. For example the tests [for each collection type](https://github.com/dotnet/corefx/blob/master/src/System.Collections/tests/Generic/HashSet/HashSet.Generic.cs) contains code related to generating the seed/explicitly saying what kinds of type parameters to test. This makes it very hard to add tests for new kind

[2016-07-11 23:03] mellinoe commented on #157
Yeah, unfortunately I think this is a blocker :disappointed: . If one overload or the other was still usable, it would probably be okay. But in this case, no version of `Invert` would be usable from VB. @terrajobst Have we made any other similar decisions elsewhere?

It's simple and clean, but I just think it will be too confusing and error-prone to have this single method modify its ref-parameter

[2016-07-11 23:04] joshfree commented on #9989
The collections tests are super old and can use a good scrubbing.  Many of those tests were written before .NET Framework 1.0, back when C# was still named Cool.  Thanks for taking a look at this space @jamesqo

[2016-07-11 23:05] CarolEidt commented on #157
I would think that we would want to treat scalar return values (including `bool` as well as scalar `float`) equivalently to the scalar parameters - i.e. leave them as is, i.e:
[code]

[2016-07-11 23:08] danmosemsft opened #9990 "Port System.Security.Cryptography.*Formatters"
[code]

[2016-07-11 23:10] danmosemsft commented on #4813
Both of
[code]

[2016-07-11 23:14] danmosemsft opened #9991 "Port KeyedHashAlgorithm.KeyValue"
`F:System.Security.Cryptography.KeyedHashAlgorithm.KeyValue`

Change an auto-prop to have a protected backing field. XS

[2016-07-11 23:16] danmosemsft opened #9992 "Port System.Security.Cryptography.xxTransform"
[code]

Need tests: the latter needs lots of whitespace tests.

[2016-07-11 23:19] benaadams commented on #157
Question: you have to declare the out param before use, does that declaration of struct get jitted out?
e.g. would
[code]
be equivalent to:
[code]

[2016-07-11 23:26] danmosemsft opened #9994 "Fill out BitArray"
The following are in Xamarin but not Core

[code]

[2016-07-11 23:30] danmosemsft opened #9995 "Method omissions from HashSet/List/SortedSet"
Add these, which are available to Xamarin but not in Core.

[code]

[2016-07-11 23:31] Tratcher opened #9996 "WindowsIdentity impersonation does not achieve delegation"
Setup:
Client: IE or Chrome
Server: Asp.Net Core 1.0 via IIS or WebListener, with Windows Auth enabled.

Scenario: A client logs into a web app using windows credentials. The web app in turn impersonates that user to make outgoing HttpClient requests also using windows credentials.

Expected: The outgoing HttpClient request should made using the impersonated user's credentials.

Actual: The outgoi

[2016-07-11 23:32] danmosemsft commented on #9995
Couple others from collections.

[code]

[2016-07-11 23:33] sepidehMS opened #9997 "[dev/xml] Re-enable test when System.Globalization.SortKey is back"
XmlStringSortKey class is missing from XmlSortKey right now. Bring this back if System.Globalization.SortKey is available.

The test (marked with ActiveIssue) should be re-enabled as well.

This needs to be done as part of dev/xml branch work.

[2016-07-11 23:42] mellinoe commented on #157
The main problem with this (and why I avoided it) is because it's not CLS compliant to have a method that is the same as another which only differs by a ref or out parameter in its signature. You won't be able to call either of the overloads from VB, for example. You get a compiler error like `"Two methods with the name 'Invert' exist."`

Same thing with `Vector4.Dot`. We can't have a method `floa

[2016-07-11 23:44] ericstj commented on #9743
This update has been pushed to nuget.org.  https://www.nuget.org/packages/Microsoft.NETCore.UniversalWindowsPlatform/5.2.1

[2016-07-11 23:44] #9743 closed

[2016-07-11 23:44] ericstj commented on #9649
This update has been pushed to nuget.org. https://www.nuget.org/packages/Microsoft.NETCore.UniversalWindowsPlatform/5.2.1

[2016-07-11 23:44] #9649 closed

[2016-07-11 23:44] ericstj commented on #9711
This update has been pushed to nuget.org. https://www.nuget.org/packages/Microsoft.NETCore.UniversalWindowsPlatform/5.2.1

[2016-07-11 23:47] danmosemsft opened #9998 "Port missing Array members"
[code]

[2016-07-11 23:57] parjong commented on #9835
@ericstj @jhendrixMSFT Thanks you for your kind answer. I'll try that command.

[2016-07-11 23:58] CarolEidt commented on #157
Ah, I forgot that wrinkle. That is unfortunate, but I agree that it would be a bad idea to have just one or two methods that modify their ref parameter, and keeping the ref overloads as pure "in" parameters is much cleaner.

[2016-07-11 23:59] d3x0r commented on #157
On Mon, Jul 11, 2016 at 4:04 PM, Eric Mellino <notifications@github.com>
wrote:

 invert on a vector does? normalize? Oh I guess vectors are just math
operators so operator - and ... operator * ( 1/v.length ) then...

[2016-07-12 00:00] danmosemsft opened #9999 "Port missing Enum members"
[code]

[2016-07-12 00:01] d3x0r commented on #157
On Mon, Jul 11, 2016 at 4:19 PM, Ben Adams <notifications@github.com> wrote:

it is not equivalent.  The first will allocate space on the stack and not
call the initializer.  the 'out' qualifer enforces that the thing will be
fully initialized before returning there, so that's as good as an alternate
constructor.

The second calls the constructor and stuff's default then overwrites it
with the nex

[2016-07-12 00:03] danmosemsft opened #10000 "Port S.Timers.*"
[code]

[2016-07-12 00:04] parjong commented on #9835
@jhendrixMSFT Thanks! It works :+1:

[2016-07-12 00:20] mellinoe commented on #157
In the interest of getting some more concrete data here, I'm running a small benchmark to try to gauge the perf difference on various runtimes. Below is the code I ran, for 1 million iterations each.

[code]
By-Value time / By-Ref time

32-bit CLR: **1.286** (28.6% slower)
64-bit CLR: **1.168** (16.8% slower)

64-bit CoreCLR (Windows): **1.160** (16% slower)
64-bit CoreCLR (Ubuntu): **1.117** (11.

[2016-07-12 00:26] jamesqo commented on #9989
@joshfree Really? I thought generics were only introduced in .NET 2.0...

[2016-07-12 00:35] tomspilman commented on #157
I'm pretty sure my cases were all with the 32bit CLR.  Even a 16% hit is a bit concerning for games where you want the best possible performance.

Sounds like warting the name of the function in some way is the last best option here:
[code]
Not pretty, but an acceptable trade for 28% to 15% performance improvement.

And once the JIT/AOT fixes are in place and made it out to most all runtimes they

[2016-07-12 00:46] jruckert commented on #9996
@Tratcher we can also see the same issue when using the EF Core framework. (Its not passing the credentials to SQL Server).

Browser -> Web App -> SQL Server (this always shows using SQL Profiler as the dotnet identity process).

[2016-07-12 00:47] xyziemba opened #10002 "System.IO.IsolatedStorage can be referenced by netstandard1.4, but has no associated impl"
The [reference assembly](https://github.com/dotnet/corefx/blob/afa634708deb4b921dd1e0e6dc5f26ddd0e143b2/src/System.IO.IsolatedStorage/ref/project.json) for System.IO.IsolatedStorage targets netstandard1.4, but the [implementation](https://github.com/dotnet/corefx/blob/afa634708deb4b921dd1e0e6dc5f26ddd0e143b2/src/System.IO.IsolatedStorage/src/project.json) only targets netcore50. Therefore, you can

[2016-07-12 01:32] Tratcher commented on #9996
@jruckert are you impersonating the user before calling SQL? Asp.net core does not do this impersonation for you.

[2016-07-12 02:00] d3x0r commented on #157
Maybe this thread can accomodate this also...

can we have addtional matrix methods, that are rotate( axis1, axis2, angle)  where axis1 and 2 are enumerations for 'forward', 'right' and 'up' or whatever native direction your matrices are?

------------
Okay that's too vague, right?
----------
I have a RotateRelative( x, y, z )  method that internally has a tick counter that goes from 0 to 5 for th

[2016-07-12 02:06] prajwal-aithal commented on #9933
@Priya91 Thank you :+1:

[2016-07-12 02:22] jruckert commented on #9996
Example of how we are attempting to use the impersonation

`
var callerIdentity = localSecurityService.CurrentUser() as WindowsIdentity;
using (callerIdentity.Impersonate())
{
          return ((DbContext)Current).SaveChanges();
}
`

[2016-07-12 02:46] #9423 closed

[2016-07-12 03:00] stephentoub commented on #9985
@mconnew, thanks for the description.  The issue you're highlighting occurs in some cases just by doing the following?
[code]
or is there a more complicated sequence involved?  Are you using ReceiveAsync concurrently with this, or something like that?

[2016-07-12 03:19] EricaMo commented on #2949
Thank you for your feedback! We are investigating including support for System.Transactions in a future version of .NET Core.

## ** Please complete our survey - [.NET Core - System.Transactions Support](https://www.research.net/r/TXCore).**

The Transactions team would like to learn more about your feature usage and scenarios so that we can best port over System.Transactions to .NET Core. Your an

[2016-07-12 04:33] danmosemsft commented on #9890
Included on list for Windows folks...

[2016-07-12 04:33] danmosemsft commented on #9664
We plan to add the desktop API.

[2016-07-12 08:01] fogzot commented on #8951
I did some tests and the official Docker images (jessie-based) work only if the kernel is old enough (3.16) but segfault if run on a system with a new kernel (4.5 or 4.6 for example): docker isolates the user space, true, but runs on the same kernel of the host. The same is true for the official jessie packages on a jessie machine: "dotnet new" (when populating the initial cache) and "dotnet resto

[2016-07-12 08:41] Ranjit-S commented on #9719
@saurabh500, our IMS only supports SP1 (2008 R2) so upgrading is not an option.

[2016-07-12 09:40] benaadams commented on #157
@d3x0r to be more clear I mean is the process with an out param

1. Allocate stack (64 bytes)
2. Zero out memory (64 bytes)
3. Call function
4. Allocate stack (64 bytes)
5. Zero out memory (64 bytes)
6. Do work...
7. Copy from function stack, to caller stack (64 bytes)

Or is it optimised already to be equivalent of a ref param?

1. Allocate stack (64 bytes)
2. Zero out memory (64 bytes)
3. Call f

[2016-07-12 10:02] timdows commented on #2089
@dsbenghe Thanks for your work on the .NET Core implementation of it.
After getting the nuget package I have created the following code to test if the user's ActiveDirectory password is correct

`using Novell.Directory.Ldap;

private async Task<JsonResult> LoginActiveDirectory(LoginModel model)
{
	var user = await _userManager.FindByNameAsync(model.Username);
	if (user != null)
	{
		var result = A

[2016-07-12 10:48] stephentoub commented on #9989
I believe when you said System.Collections.*, I believe @joshfree took that to mean all collections... note that the generic collections are in the System.Collections.Generic namespace, whereas the collections actually in System.Collections are typically non-generic.  The assembly naming makes this a bit confusing.

Eye of the beholder I guess.  The tests you refer to were actually recently added

[2016-07-12 14:04] ExcaliburVT commented on #2949
I must agree with @kwaclaw, our Service Framework purposefully enforces transactions via TransactionScope at the Service layer, which is abstracted from the Business or Data layer.  Our Business layer can call other services to save subsets of the domain object if required and the TransactionScope was perfect for ensuring that the ENTIRE series of service calls was always committed as a single uni

[2016-07-12 14:18] martinsuchan commented on #8651
**Microsoft.NETCore.UniversalWindowsPlatform 5.2.1** NuGet was just released in public NuGet feed and **System.Security.Cryptography.X509Certificates 4.1.0** NuGet works fine with it, so I guess this issue is fixed now.

[2016-07-12 14:52] houlin opened #10010 "AcceptAsync(SocketAsyncEventArgs e) return true and never call the method of SocketAsyncEventArgs.Completed"
Im currently developing an window app. I would like to use AcceptAsync method. At the moment there appears to be a lot of messiness in the System.Net.Sockets . AcceptAsync(SocketAsyncEventArgs e) always return true and the method of Accept_Completed never be called.If there any come up with this problem and got the solution to it?

`private void ProcessAccept(SocketAsyncEventArgs e)`
`{`

    e.Co

[2016-07-12 14:52] #3936 closed

[2016-07-12 15:36] krwq opened #10011 "[dev/xml] Add System.Xml.XmlSerializer APIs to System.Xml"

[2016-07-12 15:40] krwq commented on #9920
@tarekgh, true, I understand it needs improvement. Here is an example scenario:
- replace a single string in all files under specified directory
simplest algorithm for single file would be:
- File.WriteAllText(..., File.ReadAllText(...).Replace(...)) - that messes up encoding - when you think about it there is no really clean way to do it without messing with detection of encoding (or at least I d

[2016-07-12 15:40] joshfree commented on #10002
cc: @ianhays

[2016-07-12 15:40] joshfree commented on #9997
cc: @tarekgh

[2016-07-12 15:42] joshfree commented on #9996
cc: @bartonjs

[2016-07-12 15:43] joshfree commented on #9979
cc: @sergiy-k

[2016-07-12 15:45] tarekgh commented on #9997
@danmosemsft is currently figuring out the schedule (when the work will be done and who will do it).

[2016-07-12 15:45] PEsteves8 commented on #9788
The RC2 to 1.0 migration docs indicate that we can drop the imports statements in the tools. Everyone works except Microsoft.VisualStudio.Web.CodeGeneration.Tools.

Is that normal or is it supposed to work without the imports? The error is the same on indicated in this thread. The weird part is that in about 5 tools this is the only one with problems

[2016-07-12 15:50] ljw1004 opened #10012 "How to hook into AppDomain.ProcessExit ?"
In regular .NETFramework console apps, I can hook into `AppDomain.CurrentDomain.ProcessExit` event to be notified when the console app terminates.

This doesn't seem to be present in .NETCore. How else can my library get notified when the calling .NETCore console app terminates?

[2016-07-12 15:50] tarekgh commented on #9920
@krwq when calling File.ReadAllText, either you not passing encoding and at that time will assume he encoding is UTF8, or explicitly you pass the encoding. in both cases you already knows the encoding of the file. so there is no detection is really needed. am I missing something?

[2016-07-12 15:50] GSPP opened #10013 "Add methods to convert between hexadecimal strings and bytes"
It is quite common to need to convert bytes to hex strings and back. The .NET Framework does not have an API to do that. Look at what lengths people have gone to to solve this problem for them: [How do you convert Byte Array to Hexadecimal String, and vice versa?](http://stackoverflow.com/questions/311165/how-do-you-convert-byte-array-to-hexadecimal-string-and-vice-versa) Many of those solutions a

[2016-07-12 16:18] ianhays commented on #9989
Yeah, @hughbe and I added those this year. Coverage in the previous tests was lower and tests were copy/pasted between multiple files, making it difficult to change the expected behavior of *anything* without first hunting down ten tests. There were a few issues tracking a standardized Collections testing suite that all classes implementing an interface should adhere to, and that's what these test

[2016-07-12 16:20] ericstj opened #10014 "Microsoft.TargetingPack.Private.CoreCLR is not being published"
We haven't seen a new build of Microsoft.TargetingPack.Private.CoreCLR out of CoreCLR branch since June 29th.  Can you have a look at why your builds aren't producing this package?

/cc @jhendrixMSFT

[2016-07-12 16:44] ericstj commented on #10002
That's by-design.  Ref with no lib means not supported.

[2016-07-12 16:50] timheuer commented on #9949
@mikemarango can you point me to a VS project that has this error with the markup?  Or help me understand the clear repro steps?  This made it my way and I want to help, but it is unclear to me what the setup here is.  "Blank project with fixes applied" is foreign to me.  If you could provide a VS project that has the issue I can take a look.

[2016-07-12 16:53] Tratcher commented on #9996
@jruckert that doesn't make sense, the WindowsIdentity.Impersonate() API isn't even in .NET Core, it's only in the full framework. You need to call RunImpersonated instead.

[2016-07-12 17:13] mellinoe commented on #157
I appreciate the discussion, but the issue here is for a specific set of functionality. Could you open a separate issue for a different feature request/discussion?

[2016-07-12 17:49] jhendrixMSFT commented on #10014
@wtgodbe Will can you take a look?

[2016-07-12 17:54] CIPop commented on #9996
@bartonjs PTAL
/cc @davidsh

[2016-07-12 18:06] CIPop commented on #10010
Is this the scenario that you are describing? https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/tests/FunctionalTests/AcceptAsync.cs

This test is passing on our CI and dev boxes.

Please add more details:
1. What OS, OS Version and S.N.Sockets version are you using?
2. What is the network configuration?
3. What is the repro rate (100%, only under stress, etc)
4. Is this a CoreFX

[2016-07-12 18:14] mconnew commented on #9985
@stephentoub, I believe we still have a pending call to ReceiveAsync before we call either of those methods but we don't call anything between the call to CloseOutputAsync() and CloseAsync().

[2016-07-12 18:18] xyziemba commented on #10002
I see. Is there a semantic difference between ref-with-no-lib and refs-only-for-the-platforms-where-there-are-libs? VS and dotnet-cli tooling certainly treat the two scenarios differently and give me a much better experience (blocking the reference in NuGet) with the latter scenario.

[2016-07-12 18:18] stephentoub commented on #9985
@cipop, is this considered acceptable concurrenct usage of ClientWebSocket?  Our managed implementation currently does not expect this.  It allows at most one ReceiveAsync to be used concurrently with at most one SendAsync, but CloseAsync/CloseOutputAsync must not be used concurrently with anything else.  Violating that would explain why you're able to see the behavior you're seeing.  If the desig

[2016-07-12 18:36] mconnew commented on #9985
@stephentoub, what are you supposed to do in the scenario where you have a pending ReceiveAsync() outstanding on a WS (one of the main reasons for WS's existence is to allow the remote end to send unsolicited data) and wish to close the connection cleanly?

[2016-07-12 18:39] stephentoub commented on #9985
I didn't define the shape of this type.  I simply implemented what I thought the semantics were.  If I got them wrong, I'll fix it.  If I got them right, then @cipop may have an answer to your question.

[2016-07-12 18:51] ericstj commented on #10002
No ref prohibits creating a PCL that ever targets it.  Having a ref lets someone create a PCL that targets the subset of platforms that support it.

NuGet used to block the both, that's the whole "Package A provides a compile-time reference assembly for A.dll, but there is no run-time assembly compatible with RID".  I believe this was turned off when portable app / shared framework work happened b

[2016-07-12 18:57] xyziemba commented on #10002
Got it. Thanks for the clarification! Closing this out.

[2016-07-12 18:57] #10002 closed

[2016-07-12 19:05] jkotas commented on #10012
The current solution is to subscribe to `AssemblyLoadContext.Default.Unloading` event.

[2016-07-12 19:20] ljw1004 commented on #10012
Thank you.

That looks painful to use in a library that can work on both .NETFramework and .NETCore (nuget package System.Runtime.Loader depends on .net462).

I guess I might it in a NuGet which does bait-and-switch between .NETFramework using AppDomain and .NETCore using AssemblyLoadContext.

Or more likely, I'll use reflection to determine at runtime whether AppDomain.dll assembly is loaded, if

[2016-07-12 19:34] wtgodbe commented on #10014
I'm not actually sure how we were ever producing this package in the first place - all we have for it is a .pkgproj file, while all our other packages have .builds files that we call in build-packages.cmd, as well  as separate .pkgproj files for each OS. Looking at the .pkgproj for TargetingPack, I see that the 'Version' property is set to 1.0.1, which seems out of date. @gkhanna79, we stopped pro

[2016-07-12 19:35] krwq commented on #9920
@tarekgh, When you are calling ReadAllText decoding is automatically detected when calling WriteAllText some random encoding is being picked or you need to know what the automatically detected encoding was - that part is completely missing

[2016-07-12 19:52] wtgodbe commented on #10014
OK, I think I've figured it out. Look at this change from a week ago (https://github.com/dotnet/coreclr/commit/74870facf4fa0f70a0c2ba5ff7ec2bd349faeb32#diff-02389dfac0a172ab80211625efc34318R535) - this fixes a previously incorrect filter in build.cmd which would check whether or not we should skip the package build. In our orchestrated builds, we want to skip the package build in build.cmd so we c

[2016-07-12 20:24] JonathanHenson opened #10021 "Possible unnecessary Padding Oracle problems with UniversalCryptoDecryptor.cs"
I noticed a manual padding implementation in here while I was helping someone debug some code. I'm no crypto expert, but I noticed variable timing on the padding verification, and possibly on the BlockCopy (depending on implementation) is it just a memcpy? Does this open you up to a padding oracle attack?

You mention that the platform (I'm assuming BCrypt, doesn't support padding in CBC mode for

[2016-07-12 20:35] CIPop commented on #7623
Reopening: still referenced in code: https://github.com/dotnet/corefx/blob/a6fc5237f0db5dc7aecf128bbb5dd7bbe570d495/src/System.Net.Http/src/netcore50/System/Net/HttpClientHandler.cs#L345

[2016-07-12 20:36] CIPop commented on #7623
@davidsh @himadrisarkar PTAL

[2016-07-12 20:37] hughbe commented on #9989
@joshfree the tests have now been updated and are no longer the mess they were before.

@jamesqo I agree that it is annoying having so many files and tests. One thing that we could do is consolidate the `CreateT` methods into a helper and call that for various types.

[2016-07-12 20:55] ericstj commented on #9711
Looks like we need another fix here.  https://www.myget.org/feed/ericstj-staging/package/nuget/Microsoft.NETCore.UniversalWindowsPlatform/5.2.2 has that fix.  Working on release.

[2016-07-12 21:00] krwq commented on #9894
this is possibly already fixed

[2016-07-12 21:00] CIPop commented on #9985
I don't think we have tests for this behavior but they should be acceptable.
The only restriction for WinHTTP is having at most one pending ReceiveAsync and one pending SendAsync as there is no queuing at any layer.
Even if we consider Close*Async another type of "Send", the above rule isn't broken by the pattern described by @mconnew. Closing the _output_ is definitely an option while still waiti

[2016-07-12 21:42] ericstj commented on #10014
Just realized I opened this in the wrong repo.  Should have been in CoreCLR.

[2016-07-12 21:45] HassanSiddique commented on #9809
@saurabh500  Here is a standalone repro of this issue
[Repor Link](https://github.com/HassanSiddique/SoundBoard)

I just Want to register a new user in this app but this error occur..

[2016-07-12 21:47] saurabh500 commented on #9809
@HassanSiddique Thanks. Is this any OS specific?

[2016-07-12 21:52] tarekgh commented on #9920
I don;t think so. look at the implementation
https://github.com/dotnet/corefx/blob/d0dc5fc099946adc1035b34a8b1f6042eddb0c75/src/System.IO.FileSystem/src/System/IO/File.cs#L354

and you'll find it will just use UTF8

[2016-07-12 22:04] saurabh500 commented on #9809
@HassanSiddique The `project.json` is referencing the RC2 bits.
Can you update the sample to use .Net Core 1.0 and try the application again?

[2016-07-12 23:00] bartonjs commented on #10021
Thank you, we're taking a look.

[2016-07-12 23:49] jruckert commented on #9996
I agree its a bit weird, here is our framework definition in the project.json file.

Note: our current definition of WindowsIdentity does not have RunImpersonated, only Impersonate. I'm going to look into this now.

`"frameworks": {
    "net451": {},
    "netstandard1.3": {
      "imports": [
        "dotnet5.4",
        "dnxcore50",
        "portable-net452+win8"
      ],
      "dependencies": {

[2016-07-13 00:08] dasjestyr commented on #1624
Can we just have these httpclient classes implement an interface? Then can deal with the rest on our own.

[2016-07-13 00:16] sepidehMS opened #10023 "[dev/xml] Fix debug enabled option in XslCompiledTransform"
Fix commented-out code (Marked with `//BinCompat TODO`) in XmlILModule supposed to run when XslCompiledTransform has enabled debug.

When debug=true is passed to XslCompiledTransform, in the CompileQilToMsil step of the xsl transform the dynamic method is not being baked correctly (either due to the dynamic assembly not being generated correctly, or the dynamic module) and we get Object null refer

[2016-07-13 01:10] crozone commented on #9751
After further investigation, I'm now confident that I can reproduce this issue on RHEL, and that the issue doesn't occur on Ubuntu 14.04 and Windows 10. Against my event source (which is a non-public event source hosted at https://api.particle.io/v1/devices/events/, which I believe runs on top of node.js), the code correctly awaits the `await eventStream.ReadAsync`, and only continues when there i

[2016-07-13 01:13] mikeharder opened #10024 "Dns.GetHostEntryAsync() throws SocketException if called before any other Socket APIs"
# Repro Steps
* dotnet new
* Replace the contents of `Main()` with the following:
[code]
* dotnet run
* App throws following exception:
[code]
* Add the following before the call to `Dns.GetHostEntryAsync()`:
[code]
* App works correctly.

CC: @stephentoub

[2016-07-13 01:31] CRCinAU commented on #9751
Dropping by as the sysadmin that runs said EL servers if any input is required as to any system config or other details that may be required. Don't be afraid to ask for info :)

[2016-07-13 01:52] mellinoe commented on #157
I nabbed an ARM Android tablet from the office and ran a few additional tests on it from a blank Xamarin application. I ran the same tests with BenchmarkDotNet on my workstation on CoreCLR and (.NET Framework) CLR.

Code for the benchmarks used is here: https://gist.github.com/mellinoe/5af3ae7db013a6ab740fc8b80910b1b8. It's just a smattering of random small sequences of vector operations.

## Andr

[2016-07-13 02:11] tomspilman commented on #157
I agree.  I think if just any matrix bigger than 2x2 were the only ones to have by-ref methods that could be considered reasonable.

Still by-ref seems to always be faster than by-value for structures larger than the primitive types.  It would be really good to eventually see the various JITs and AOTs optimize for this to get that last bit of performance.

[2016-07-13 02:46] #5167 closed

[2016-07-13 04:18] davmason opened #10028 "EventSource for .Net Native does not consider properties for derived types of EventData"
In StubEnvironment.cs, type.GetProperties is defined as type.GetTypeInfo().DeclaredProperties, which doesn't return the properties of any derived types. It should be type.GetRuntimeProperties which does.

[2016-07-13 04:20] davmason commented on #10028
Consider this program:

`    [EventData]
    public class BaseEventData
    {
        public int A { get; set; }
    }

    [EventData]
    public class DerivedEventData : BaseEventData
    {
        public string B { get; set; }
        public int C { get; set; }
    }

    public class LoudListener : EventListener

    {

        [ThreadStatic]
        public static EventWrittenEventArgs LastEve

[2016-07-13 06:32] EmmaZhu commented on #5560
@davidsh
I'm just trying with latest GAed .Net Core, seems the hang issue still exists. I tried it with the same sample code as you provided.
My project.json file is like:
`{
  "version": "1.0.0-*",
  "buildOptions": {
    "emitEntryPoint": true
  },
  "dependencies": {
    "Microsoft.NETCore.App": {
      "type": "platform",
      "version": "1.0.0"
    }
  },
  "frameworks": {
    "netcoreapp1.0

[2016-07-13 06:39] houlin commented on #10010
RE:
OS is windows10 ,OS Version  is 10.0.10586.
This is  a Universal app.
When I run the test, the line of “client.ConnectAsync(argsClient)” will throw an Exception：

[code]

The Error generated from here :

`
using (Socket client = new Socket(AddressFamily.InterNetwork, SocketType.Stream, ProtocolType.Tcp))
{
`

    SocketAsyncEventArgs argsClient = new SocketAsyncEventArgs();
    argsClient.Remo

[2016-07-13 08:56] hitched-simon-williams opened #10031 "System.Data.SqlClient connection issue on OS X"
Attempting to open a connection to a SQL Server 2008R2 database from OS X results in a timeout during the login process:

[code]

Initially found in an ASP.NET Core MVC Controller, I have recreated the issue with the following console program:

[code]

Both the original ASP.NET MVC Controller and the console program work on Windows.  I have not been able to test on Linux as I currently don't have

[2016-07-13 09:57] ctyar commented on #1491
@krwq I cant reproduce this, is this somehow fixed?

format changed to `Ukrainian (Ukraine)` and
`C:\corefx\src\System.Xml.ReaderWriter\tests\XmlConvert>msbuild /t:BuildAndTest  /p:xunitoptions="-trait category=Outerloop`

Just some warnings, but no error

[2016-07-13 10:58] stephentoub commented on #10024
cc: @davidsh, @cipop

[2016-07-13 11:23] xaxiclouddev opened #10032 "#1"

[2016-07-13 11:24] #10032 closed

[2016-07-13 12:03] mfe- commented on #9996
Maybe related to #7325 Open System.Security.Principal.WindowsIdentity

[2016-07-13 15:04] AtsushiKan commented on #9966
This is an underlying CNG restriction (see comment at https://github.com/AtsushiKan/corefx/blob/master/src/System.Security.Cryptography.Cng/src/System/Security/Cryptography/TripleDESCng.cs#L101) .
On the full framework. TripleDes.Create() returns the CSP provider by default – on netcore, it returns the Cng provider.

So the workaround would be to use new TripleDesCryptoServiceProvider()

[2016-07-13 15:44] ljw1004 commented on #10012
For what it's worth, here below is my solution. Re-opening just so @gkhanna79 / @jkotas can take a glance. (please feel free to close it afterwards).

In a .NETFramework app, it safely assumes that `mscorlib` has already been loaded, and it uses reflection to pick up `AppDomain.CurrentDomain`.

In a .NETCore app, it *requires* that the caller has added a NuGet reference to `System.Runtime.Loader`,

[2016-07-13 16:32] davidsh commented on #5560
cc: @stephentoub @ericstj

Can you try explicitly adding the System.Net.Http 4.1* package?  It is possible that the meta-package of Microsoft.NETCore.App is not bringing in the System.Net.Http 4.1 package but rather an older 4.0 package. If it is bringing in the older package then the bug wouldn't be fixed.

[2016-07-13 16:51] hann013 commented on #9801
Completed - #10019 merged.

[2016-07-13 16:51] #9801 closed

[2016-07-13 16:52] ericstj commented on #5560
@davidsh that is not the case.

[2016-07-13 17:21] saurabh500 commented on #10031
@hitched-simon-williams Is this 2008 R2 without SP3 ?

[2016-07-13 17:26] wtgodbe commented on #10014
https://github.com/dotnet/coreclr/pull/6255 should fix this

[2016-07-13 17:35] jkotas commented on #10012
It requires that the app entrypoint assembly (that may or may not be the caller of your method) has added reference to System.Runtime.Loader. Also, for .NETFramework it requires that the app entrypoint has reference to mscorlib (ie the app entrypoint assembly cannot be compiled as portable .exe).

A better way to do what you are trying to do is to call `Type.GetType(..., throwOnError: false);`.

[2016-07-13 17:46] danmosemsft commented on #10023
@sepidehMS Can you summarize which API are missing (and thus blocking enabling this)

[2016-07-13 17:48] danmosemsft commented on #9988
Requires more of code DOM. Once that is done, straightforward.

[2016-07-13 17:58] ljw1004 commented on #10012
Thanks @jkotas. I amended to to this:

[code]

[2016-07-13 17:59] danmosemsft commented on #9873
Minor work as soon as Code DOM is present.

[2016-07-13 18:46] hann013 commented on #9870
PR #10038 created

[2016-07-13 18:48] Lixire commented on #9994
Do I also need to implement these in src since they don't exist or do you just want these to do nothing when called?

[2016-07-13 18:57] morganbr commented on #9966
We should also evaluate the security of exposing two-key 3DES (via CSP or CNG).

[2016-07-13 20:31] ericeil opened #10040 "Deadlock in WinHttpResponseStream"
While investigating #9785, I saw one System.Net.Http test run deadlock in some cancellation token registration management code.

One thread was unregistering from a cancellation token:

[code]

So, `CancellationTokenSource.WaitForCallbackToComplete` is waiting for an already-executing registered callback.  This appears to be running on the following stack:

[code]

`WinHttpResponseStream.CancelPen

[2016-07-13 20:32] davidsh commented on #10040
cc: @stephentoub @CIPop

[2016-07-13 20:33] CIPop opened #10041 "Add Negotiate and MultipleSchemes code to the System.net test Prerequisites"
Add the missing `showidentity.ashx` file required by [DefaultCredentialsTest.cs](https://github.com/dotnet/corefx/blob/32b96925efce0dde416103862d0f37877918ec94/src/System.Net.Http/tests/FunctionalTests/DefaultCredentialsTest.cs#L25)

[code]

[2016-07-13 20:47] ianhays commented on #9657
That may be so, but the native LZMA *is* deciding. It is using 2 threads for match finding, at least on my machine in my tests. It would be useful to test it single-threaded to compare to C# on a more even ground - I'll try to find some time to do that.

According to my tests, match finding being multi-threaded would give us the biggest "bang for our buck" so to speak to bridge the performance gap

[2016-07-13 20:51] ramarag commented on #4399
Closing this for now as not repro open this back if it becomes actionable

[2016-07-13 20:51] #4399 closed

[2016-07-13 21:05] ericeil commented on #9270
I was able to reproduce this on my machine a couple of times yesterday, but today I have run the test all day long without seeing any of these failures.  This lends some credence to the theory that this is due to unreliability of the remote service these tests use (perhaps today that service is under less load than yesterday).

@davidsh, @CIPop, does your team own the test servers in Azure?  Is th

[2016-07-13 21:10] ericeil commented on #9785
Unlike the other "a task was canceled" failures I've seen (e.g., #9270), this one seems to involve a test that executes entirely in-process, with no external service involved.  The only explicit server involved here is `LoopbackServer`.  I wonder, though, if there might be some external server involved indirectly?

[2016-07-13 21:12] stephentoub commented on #9785
There really shouldn't be.  I'm not sure what's going on here, but figuring this one out may shed some light on the others.

[2016-07-13 21:18] ericeil commented on #9785
I did some experiments yesterday to see if this might be due to ThreadPool starvation (just a random theory, probably biased by all the time I've spent working on the ThreadPool... :) ).  I found some minor starvation issues in the HTTP tests; I'll be submitting a PR to fix those.  But even with those fixes, I still occasionally saw the "a task was canceled" error in tests involving external serve

[2016-07-13 21:21] ericeil commented on #9785
Also, I found one case of outright deadlock, filed as issue #10040.  I suppose it's possible that this could contribute to ThreadPool starvation, causing other concurrent tests to time out...but I didn't actually see it manifest that way.

[2016-07-13 22:14] #10014 closed

[2016-07-13 22:58] danmosemsft commented on #9485
@joperezr This is not in the subset of Xamarin/Unity available on mobile, so it's not a focus of this project directly. However it appears that @sepidehMS needs it for XSL. Please take a look and provide a recommendation for what to do for Core. Which parts of XSL would not work without it? How much is needed? How much work.

[2016-07-13 23:13] danmosemsft commented on #9994
They should do whatever they do in Xamarin and Desktop. Get ILSPY (search internet) and open "c:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\MonoAndroid\v1.0\mscorlib.dll" then look for BitArray. You'll see what they do. You'll also note they're not explicit interface implmentations, they're implicit (you see "public ...")

[2016-07-13 23:16] danmosemsft commented on #9328
Go ahead and do this one. Note you'll need to start by editing model.xml for many of them.

[2016-07-13 23:20] pamanes opened #10046 "System.Data.SqlClient.SqlDataReader has no close method?"
Do we have  to worry about closing the SqlDataReader? I get the feeling that it's handled upon closing the connection.

thanks for your attention.

[2016-07-13 23:24] Lixire commented on #9328
Gotcha. I'll start as soon as I submit a PR for the BitArray issue (I'm currently rebuilding corefx due to some problems)

[2016-07-13 23:26] onovotny opened #10047 "Binding redirects not generated for Microsoft.Win32.Primitives"
On my .NET 4.6.1 desktop application, a binding redirect is missing for `Microsoft.Win32.Primitives` from `4.0.0.0-4.0.1.0`.

The cause seems to be that the `System.Net.Http 4.1.0` reference that's used by the projects references the "correct" 4.0.1 version of `Microsoft.Win32.Primitives` so the RAR task doesn't see a conflict and generate the binding redirect.

/cc @ericstj

[2016-07-13 23:44] ericstj commented on #10047
I looked at this with @onovotny, the problem is that we have a reference assembly for System.Net.Http that doesn't reference MS.Win32.Primitives at all, but the implementation does and that version is lower than the latest one in the package.   The result is that RAR never sees the conflict.

We need a general rule here that whenever we have a desktop implementation that implementation needs to be

[2016-07-13 23:57] saurabh500 commented on #10046
@pamanes You should `Close()` or `Dispose()` the `SqlDataReader`
We recommend `Dispose()` over Close and this can also be achieved by wrapping the SqlDataReader in a using construct.
This is a good practice and allows connection re-usability. A SqlDataReader on a connection can be closed and another SqlDataReader can be created from the Command on the connection instead of closing and re-opening t

[2016-07-13 23:57] #10046 closed

[2016-07-14 00:22] hann013 commented on #9870
PR #10038 merged.

[2016-07-14 00:22] #9870 closed

[2016-07-14 01:13] prajaybasu commented on #10000
A quick question, what will be the difference between System.Timers.Timer vs System.Threading.Timer in .NETCore, will it be any different to what it was before ?

[2016-07-14 02:12] EmmaZhu commented on #5560
@davidsh
Seems it's already used 4.1.0 version:
`C:\Users\emmazhu\.nuget\packages\System.Net.Http\4.1.0\ref\netstandard1.3\System.Net.Http.dll`
The issue still exists after I add System.Net.Http 4.1.0 to the dependencies:
`{
  "version": "1.0.0-*",
  "buildOptions": {
    "emitEntryPoint": true
  },
  "dependencies": {
    "Microsoft.NETCore.App": {
      "type": "platform",
      "version": "1.0.

[2016-07-14 02:33] Chickenzilla opened #10051 "HttpClient ignores ExpectContinue setting when using curl"
When running on a platform that requires the curl library to back HttpClient, the curl library will automatically add an "Expect: 100-continue" header to any POST request which is greater than 1kB.  This action is ignoring any potential setting where the headers passed into the client explicitly requested the header to be disabled.  For example, something like:
[code]

will result in an Expect hea

[2016-07-14 03:56] drieseng opened #10054 "Console encoding defaults to UTF-8"
With .NET Core, the default encoding on my W10 box is now UTF-8.
In the full .NET Framework, this was IBM437.

Running the code fragment below gives the following results:

**.NET Core:**
Speed 24┬á116,00 KB/s
Encoding: Unicode (UTF-8) | utf-8

**.NET Framework:**
Speed 24 116,82 KB/s
Encoding: OEM United States | IBM437

I could of course change the code page that the command prompt uses, but I'm

[2016-07-14 04:45] jamesqo commented on #9989
@ianhays

Yeah, but IMO it's counterintuitive to have the same string/int generation logic copy-and-pasted between all the different collection files. I was thinking instead of having a generic test class we have to instantiate with specific types, we should make all of the *methods* in `IGenericSharedAPI_Tests` et al. generic instead, something like this:

[code]

That way we'd only have to be aw

[2016-07-14 04:54] pamanes commented on #10046
There is no .close() on a SqlDataReader object in .net core 1.0

[2016-07-14 04:56] pamanes commented on #10046
@saurabh500 The SqlDataReader object in .net core 1.0 has no .Close() method.

[2016-07-14 07:26] benaadams commented on #157
Stepping back, would ref returns change the proposed apis?

[2016-07-14 07:45] mellinoe commented on #157
Possibly, if they were hypothetically available today. Are you familiar with how they will be handled in VB? I expect we might hit the same issues with overload resolution, since all of the overloads would be identical except the parameters would be passed by reference.

[2016-07-14 07:49] benaadams commented on #157
Yeah just wondering if there is a second overload resolution clash on the horizon...

[2016-07-14 08:00] hitched-simon-williams commented on #10031
I must admit that I hadn't checked that.  I don't maintain the server.  I have just checked and it is 10.50.1600.1. which according to the support site is the original RTM build!  Having read other issues, this may be the issue.  I will arrange to  have the server upgraded to the latest 2008R2 build and retest.

[2016-07-14 08:00] #10031 closed

[2016-07-14 08:06] d3x0r opened #10057 "Propose additions to System.Numerics.Vectors"
Originally posted in https://github.com/dotnet/corefx/issues/157

as this is also features which would benefit from ref passing into and out-of matrix... unfortunatly I though I could be clever and give an interface to a struct and get just a reference of that struct, but it ends up being a separate entity entirely.  Especially in a full suite, the same vector(s) might be easily reference by multi

[2016-07-14 11:18] HassanSiddique commented on #9809
@saurabh500  It as on
OS --Windows 8.1 Enterprise
VS -- Visual Studio 2015 update 3

Here is a Link of update .Net Core 1.0 RTM release
[Repor Link](https://github.com/HassanSiddique/SoundBoardRTM)

Unfortunately Same Error Occurred  Again

[2016-07-14 16:27] JohnGalt1717 commented on #9884
Just a heads up but this isn't the only issue with cross compatibility. System.IdentyModel.Tokens.Jwt is also borked completely and breaks existing .NET 4.6 solutions that worked with the old version and you're pushing this broken stuff on nuget.

[2016-07-14 16:42] davidsh commented on #9270
@ericeil Yes, we own the Azure test server endpoints, i.e. corefx-net.cloudapp.net.

These problems are not caused by the test servers themselves.  The test servers are running as cloud services (Web Roles) with multiple cores and multiple fault-tolerant instances. The issue appears to be an Azure front-end/load-balancer latency issue causing us to see "timeouts".  We are looking into mitigations

[2016-07-14 16:52] kayle commented on #2209
+1 for making optimized bit manipulation instructions directly accessible from C#. I'd specifically like to use popcnt, pdep, and pext for bitboard manipulations.

It seems sensible to me to have a static class BitManipulation similar to System.Threading.Interlocked. It should use intrinsics where available and fallback to the longer sequence of instructions. Not sure if it belongs in the System.N

[2016-07-14 17:01] davidsh commented on #9884
@ericstj Should I assign this issue to you since it has to do with packaging, etc.?  Not sure how to solve this OOB issue.

[2016-07-14 17:01] ianhays commented on #9989
I agree. I wasn't happy with the end design on that part and don't love the CreateT methods being duplicated. At the very least I think consolidating those would be an improvement.

That would require a huge amount of changes. As Steve said, I'd really rather we not reinvent the wheel here unless it's going to bring a noticeable functional improvement or irrefutable stylistic improvement.

The Gen

[2016-07-14 17:12] tarekgh commented on #9583
@sokket

The encoding API should be straight forward porting as it doesn't depend on the OS. so it is matter of enabling the code.

Here is the list generated by @danmosemsft of the missing APIs we need to port. but please double check it to make sure there is nothing missing.

Please note that there is some properties that seems to be Windows specific like
[code]
we still can support this on Linu

[2016-07-14 17:12] ryanrust commented on #9884
This issue is definitely causing problems for users of packages that have added targetFramework usage of .NETStandard to their nuspec files. We make use of [AutoMapper](https://github.com/AutoMapper/AutoMapper) extensively in our project and and are running into this issue with the latest update.

[2016-07-14 17:18] #5055 closed

[2016-07-14 17:38] danmosemsft commented on #9894
Reopen if you see this again.

[2016-07-14 17:38] #9894 closed

[2016-07-14 17:39] danmosemsft commented on #9635
Complete except for serializer which is tracked separately.

[2016-07-14 17:39] #9635 closed

[2016-07-14 17:42] mellinoe commented on #10057
I'm having a bit of trouble understanding what the specific request is. It sounds like what you are trying to do is roughly "interpolate between two direction vectors". If that's an accurate description, do `Quaternion.Lerp` and/or `Quaternion.Slerp` help you at all? It seems like you can accomplish what you are describing with those functions, but perhaps I'm misunderstanding your proposal.

[2016-07-14 17:45] CIPop commented on #9270
@ericeil See #9048. I have submitted a PR that would allow anyone to install their own IIS-based service locally, enable additional enterprise-level tests (Kerberos, NTLM). The locality of the environment should help us differentiate better between a product and a server-side issue.

[2016-07-14 17:52] CIPop commented on #9048
@ericeil @stephentoub PTAL

Through the PRs I've tried to check-in scripts that would allow anyone to deploy a 3 box environment:
* Active Directory Domain Controller
* IIS Server (HTTP / WS)
* Client machine

All of these can be deployed by using the free Windows Server 2016 TP5 ISO in a VM host of choice.

At the end of deployment all the machines are part of the same domain, a domain user has b

[2016-07-14 17:53] saurabh500 commented on #10046
Yes. The IDataReader interface has the Close method. The interface is implemented by the DbDataReader base class and the base class is extended by the SqlDataReader
For .Net Core 1.0 Dispose() is preferred over close. They both do the same thing internally.

[2016-07-14 17:54] #9048 closed

[2016-07-14 17:56] danmosemsft commented on #9871
@joperezr Needs this for compression.

[2016-07-14 17:57] jasonwilliams200OK commented on #2209
An interesting study (on-topic):
"Hand coded assembly beats intrinsics in speed and simplicity" - http://danluu.com/assembly-intrinsics/
discussion: https://news.ycombinator.com/item?id=8508923

---

Should we compile list of items needed from CoreCLR and then open separate issues in CoreCLR repo? I am suggesting this because I have been playing with Debian Jessie MIPS trying to convert some AARCH

[2016-07-14 17:58] pamanes opened #10061 "SqlConnection's BeginTransaction is slow in .net core 1.0 (up to 250ms)"
This code is very slow compared to the full .Net Framework (under 1ms), is this expected behavior?
_con is SqlConnection and _con_trans is SqlTransaction

[code]

[2016-07-14 17:59] saurabh500 commented on #10031
@hitched-simon-williams Thanks. You can check the version of the server using "SELECT @@VERSION;" query while logged into the server.

[2016-07-14 17:59] daveaglick commented on #3563
FYI, for anyone stumbling on this issue - @i3arnon has an implementation here: https://github.com/i3arnon/ConcurrentHashSet (https://www.nuget.org/packages/ConcurrentHashSet/)

[2016-07-14 18:21] CarolEidt commented on #10057
I am also unclear on what the specific request is here.

Regarding this:

I'm not sure what it would mean to "propose the rules of the JIT", but I assume that what you mean is to have an extension mechanism that would provide assembly implementations for user-specified methods, that the JIT would recognize and "plug in". Such a mechanism might be interesting, but would be non-trivial to provide.

[2016-07-14 18:23] tarekgh opened #10062 "Compat work for Cultures (Globalization) (for Windows)"
This work to port the missing APIs from the classes:

CultureInfo
DateTimeFormatInfo
NumberFormatInfo
RegionInfo
DigitShapes
CharUnicodeInfo
StringInfo
TextInfo

You can get the list of the APIs we need to expose from @danmosemsft list
https://microsoft.sharepoint.com/teams/netfx/corefx/_layouts/15/WopiFrame.aspx?sourcedoc=%7b79FEE733-9D22-44F8-9BD9-536FF8DF621E%7d&file=android.to.core.component2.

[2016-07-14 18:25] redknightlois commented on #2209
@jasonwilliams200OK Improper benchmarking is usually the reason why many myths exist regarding optimization. Trying to compare popcnt using 32bits or 64bits against an SSE instruction that will handle a bandwidth of 128 bits (XMM registers) in a single go is always going to have an advantage unless you apply proper optimization techniques like the ones applied in the article.

On the other hand, y

[2016-07-14 18:27] tarekgh opened #10063 "Compat work for Calendars (for Windows)"
We need to port all missing APIs in the calendar APIs. you can look at System.Globalization.Calendar class and all types which subclass it. for the complete list please look at @danmosemsft list https://microsoft.sharepoint.com/teams/netfx/corefx/_layouts/15/WopiFrame.aspx?sourcedoc=%7b79FEE733-9D22-44F8-9BD9-536FF8DF621E%7d&file=android.to.core.component2.xlsx&action=default

This should be strai

[2016-07-14 18:48] ericstj commented on #9884
This isn't about packaging, as i pointed out the contract is missing ICloneable.  That needs to be added back, at least to the desktop implementation you're providing out of band.

@danmosemsft and @stephentoub are adding this back to contract surface area but that won't fix this case since that will have to be in a new NETStandard version that old desktop profiles won't support.

The best fix her

[2016-07-14 18:52] tarekgh opened #10065 "Compat work for collations/Sorting (for Windows)"
This issue mainly to port all missing APIs in the classes CompareInfo, SortKey and SortVersion

You can get the list of the APIs we need to expose from @danmosemsft list
https://microsoft.sharepoint.com/teams/netfx/corefx/_layouts/15/WopiFrame.aspx?sourcedoc=%7b79FEE733-9D22-44F8-9BD9-536FF8DF621E%7d&file=android.to.core.component2.xlsx&action=default

We already have some native PAL implementatio

[2016-07-14 18:53] saurabh500 commented on #9809
@HassanSiddique Can you walk me through the exact steps I need to repro this?
I restored the packages for .Net Core using `dotnet restore` in `SoundBoardRTM\src\RTM`
Then I applied the EF migrations using `dotnet ef database update`
I started the app using `dotnet run`

In the browser I navigated to `http://localhost:5000` and clicked on the ***Register*** link.
I could add a user with email Id an

[2016-07-14 19:03] tarekgh commented on #9643
We  have split the work into the following issues:

https://github.com/dotnet/corefx/issues/10062
https://github.com/dotnet/corefx/issues/10063
https://github.com/dotnet/corefx/issues/10065

[2016-07-14 19:03] #9643 closed

[2016-07-14 19:15] tarekgh opened #10066 "Compat work for String class globalization APIs (for Windows)"
We need to look at the string class for all APIs we need to port which uses CultureInfo object.

[code]

Note that we need to expose these from System.Globalization.Extensions contract as we don't want System.Runtime depends on Globalization at all. so I guess we can implement these as extension methods in the System.Globalization.Extensions library as we did with some similar APIs before.

[2016-07-14 19:44] d3x0r commented on #10057
should read... "would be to propose that the rules of the JIT be published so others can take advantage of it."

There's nothing special in the code (at least in the case of how mono implemented it) just that the JIT recognizes a series of math ops as able to be SIMD'd - but, they do only apply that to a specific DLL/.so . There's no attributes; no strange syntax or keywords that are outside the n

[2016-07-14 20:12] krwq commented on #1491
@ctyar, not sure if that runs OuterLoop - try:
[code]

[2016-07-14 21:12] #10051 closed

[2016-07-14 21:14] ericeil commented on #9270
@davidsh thanks!  Please close this as duplicate of whatever issue(s) you have tracking the reliability work.

@CIPop yes, that does sound very helpful!

[2016-07-14 21:17] ericeil commented on #9785
I've been unable to reproduce this specific failure, but fixed one issue that may be an underlying cause (#10044) and filed an issue for a deadlock that may be related (#10040).  Closing this issue as I'm not sure what else to do. :)

[2016-07-14 21:17] #9785 closed

[2016-07-14 23:08] joperezr opened #10073 "Add members that were added in Core to types of classic assemblies to the Compat surface area."
There are at least a couple of Compat surface areas that I have to update since we added some members to old types in Core.

[2016-07-14 23:13] saurabh500 commented on #9809
I tried running the App on Windows 8.1 without Visual Studio, using .Net CLI and all worked well.

[2016-07-14 23:14] danmosemsft opened #10074 "Port TimeZone*"
Missing are:

[code]

[2016-07-14 23:32] danmosemsft opened #10075 "Port missing DateTime and DateTimeOffset members"
These are widely used. @sokket is looking at System.Globalization.* and #10063 may be relevant to the constructors taking Calendar.

[code]

[2016-07-14 23:34] danmosemsft commented on #10074
These are the ones getting the most usage:

[code]

[2016-07-14 23:34] joshfree opened #10076 "Add Ubuntu and CentOS Outerloop test coverage for Linux kernel 4.6.2"
We're seeing some CLI / .NET Core bug reports where users have upgraded to 4.x kernels.

We should add some outerloop runs to test this configuration:

1) Ubuntu 16.04 + kernel 4.6.2
2) CentOS 7.1 + 4.6.2

https://github.com/dotnet/coreclr/issues/6016

https://github.com/dotnet/cli/issues/3681

http://www.techrepublic.com/article/pro-tip-upgrade-ubuntu-to-the-4-x-kernel/

[2016-07-14 23:39] tarekgh commented on #10074
https://github.com/dotnet/corefx/issues/7552

would be nice if you fix this linked issue when you expose TimeZoneNotFoundException.
I mean change the test code to use TimeZoneNotFoundException and not the generic Exception

[2016-07-14 23:52] danmosemsft commented on #10074
TimeZone is a problematic class (it only works correctly in the time zone of the executing code). We have to bring it back as plenty of existing code uses it. Please however add [EditorBrowsable(EditorBrowsableState.Never)] to its members.

[2016-07-14 23:53] tarekgh commented on #10074
I talked offline too with @danmosemsft regarding not exposing TimeZone class because we strongly not recommend this class as the doc mention below but it looks we still need to expose for the sake of the app compat and try to hide it in the intellisense (as @danmosemsft suggested).

https://msdn.microsoft.com/en-us/library/system.timezone(v=vs.110).aspx

[code]

[2016-07-14 23:59] tarekgh commented on #10075
@joperezr you may close https://github.com/dotnet/coreclr/issues/2317 as current issue include it,

[2016-07-15 00:00] masaeedu commented on #2221
@nguerrera I'm trying to get a byte array from a loaded assembly, so I can send it over the wire and use types from it in a remote process. What would be the current supported way of doing this?

[2016-07-15 00:12] prajwal-aithal commented on #8675
This has been implemented by PRs #9718 , #9906 , and #9909 . This can be closed now.

[2016-07-15 00:12] #8675 closed

[2016-07-15 00:19] joshfree commented on #52
@blackdwarf @richlander can you give an update on this?

[2016-07-15 00:30] CIPop commented on #10024
Thanks @mikeharder for reporting this and @stephentoub for routing.

I'm able to repro. Looks like we've missed this test case as well as code path during the PAL split. Even if added, the test needs to run first to detect the issue.

I'm working on a fix and trying to enhance the tests to catch these issues in the future.

For a simpler workaround try calling `Dns.GetHostName()` before performing

[2016-07-15 00:32] stephentoub commented on #10024
I suggest doing it out-of-process with the RemoteInvoke utility we have in the repo.

[2016-07-15 00:37] CIPop commented on #10024
Thanks @stephentoub. Would `RemoteInvoke` work in NetNative/UWP? I was thinking of creating a UnitTest.

[2016-07-15 00:42] CIPop commented on #10024
Thanks, I'll stick with a UnitTest for now to ensure that all `public` APIs call into the `EnsureSocketsAreInitialized`. I'll also try to add more tests to improve code coverage to the contract.

[2016-07-15 00:48] gkhanna79 commented on #10012
You should account for missing assemblies (e.g. S.R.L is not present on Desktop) but otherwise, looks fine to me.

[2016-07-15 01:28] ashmind commented on #3482
I had this for a while in my extensions library ([link](https://github.com/ashmind/ashmind-extensions/blob/master/Shared/DictionaryExtensions.cs#L20)), and there was one issue I ran into — having it on both `IReadOnlyDictionary<>` and `IDictionary<>` separately causes conflict when you try to invoke it on classes that implement both (e.g. concrete `Dictionary<>`).

I worked around by specifying ex

[2016-07-15 01:50] GuardRex commented on #10012
@ljw1004 Thanks for posting this. It works great. Because I need to leave `"warningsAsErrors": true`, and thus couldn't have an unused var, I did this to the `dummy`:
[code]
Hope that makes sense. If there is a different/better way, please let me know.

[2016-07-15 03:43] ljw1004 commented on #10012
@GuardRex - note that the updated solution [here](https://github.com/dotnet/corefx/issues/10012#issuecomment-232436326) doesn't need the dummy variable at all.

[2016-07-15 03:43] #10012 closed

[2016-07-15 07:12] ctyar commented on #1491
@krwq I tried that too, nothing fails in `System.Xml.ReaderWriter\tests\XmlConvert`
but this was the only project I tried(based on your error sample)

[2016-07-15 08:52] parjong opened #10082 "build.sh build all the tests even if skiptests is turned on"
It seems that there is no way to suppress the build of test suites in build.sh. It always builds all the tests even if skiptests is turned on.

[2016-07-15 09:40] HassanSiddique commented on #9809
@saurabh500  Yes, you perform exact steps, I also Perform these same steps on .Net CLI without Visual Studio but When I perform `dotnet ef database update`  Same error show on cmd

**Arithmetic operation resulted in an overflow.**

I think its machine specific error due to OS ...

[2016-07-15 10:10] svick commented on #10046
@pamanes [`DbDataReader` implements `Close()` explicitly](https://github.com/dotnet/corefx/blob/v1.0.0/src/System.Data.Common/ref/System.Data.Common.cs#L364), which is why you don't see it. You should use `Dispose()` or `using` to close the reader.

If, for some reason, you really wanted to call `Close()`, you would have to cast to `IDataReader`: `((IDataReader)sqlDataReader).Close();`.

[2016-07-15 12:15] agoretsky opened #10084 "System.IO.IOException: Invalid argument at System.IO.UnixFileStream.<>c.<FlushAsync>b__47_0(Object state)"
Hello!
I am using the following code with .net core rtm:

         var bytes = Convert.FromBase64String(base64string);
         const string arg = @"-format ""%m %w %h %Q"" -";
         var result = await ExecuteCommandAsync("identify", arg, bytes);

        public async Task<string> ExecuteCommandAsync(string command, string arguments, byte[] imageData)
        {
            var executablePath =

[2016-07-15 12:40] agoretsky commented on #10084
If I remove await process.StandardInput.BaseStream.FlushAsync() it works on ubuntu too, but I guess it should be equal behaviour both on windows and linux

[2016-07-15 13:43] ddobric opened #10085 "Missing method .IsValueType()"
Why don't we have IsValueType() method anymore?

Workaround is easy typeof(xy).GetTypeInfo().IsValueType, but migration of existing code is painful.

[2016-07-15 14:04] dotnetchris commented on #649
@KrzysztofCwalina i created this on a gist since this seems like something worth saving! https://gist.github.com/dotnetchris/75f2cf6137b8e0e37961a3301e1dad5b

[2016-07-15 14:33] juliusfriedman opened #10087 "Offset, Count and Primitive parsing."
The concept of `offset` and `count` is obviated when working with `Array` types however a majority of the core classes do not offer a suitable way to use only portions of an array.

This results is having to utilize various techniques just to do something trivial e.g. parse a boolean value from a string.

"This is a string and the bool value is false which is the opposite of true."

Currently with

[2016-07-15 15:08] svick commented on #10085
That's [the split of `Type` into `Type` and `TypeInfo` originally introduced in Windows 8 store apps](https://blogs.msdn.microsoft.com/dotnet/2012/08/28/evolving-the-reflection-api/). .Net Core followed this model, but [it will move back in the next version](https://blogs.msdn.microsoft.com/dotnet/2016/05/27/making-it-easier-to-port-to-net-core/):

[2016-07-15 15:40] jasonwilliams200OK commented on #10085
@terrajobst, for example in this case, would that new version of the `System.Reflection[.TypeExtensions]` package support netstandard1.3 onwards? That would break the existing implementations where folks have already doing `#if NETSTANDARD1_3 || NETSTANDARD1_4 ..` will upgrade the S.R[.TE] dependency, right?

Or would it only support netstandared1.7 and folks who want their libraries supported on

[2016-07-15 16:10] ddobric commented on #10085
It would be very helpful if we can move that back. We are migrating right now some older libraries (2 years very old :)) and experiencing lot of work. because of moving of many properties and methods from Type to TypeInfo.

[2016-07-15 16:14] bartonjs commented on #4425
I'll take a look at this (assuming no one has done it yet)

[2016-07-15 16:30] joshfree commented on #10061
@pamanes can you provide more information on the repro environment?  Which OS? Which DB and version?  Thanks

[2016-07-15 17:08] danmosemsft commented on #9805
For UWP, this is distinct work to CoreCLR (where the work is mostly just exposing already existing implementation and adding tests). Tracking the latter separately.

[2016-07-15 17:10] stephentoub commented on #9985
I will look into making it safe to use close concurrently with receive, but aside from that, isn't this same race condition possible on Windows as well, simply because the design has verification of the state done at the beginning of the operation?  If you have an outstanding call to ReceiveAsync and do:
[code]
the CloseOutputAsync will send a close frame.  If the server responds and the pending R

[2016-07-15 17:26] stephentoub commented on #9985
Ok, it appears that what I'm missing is that the Windows implementation doesn't transition to the Closed state after a server responds to a CloseOutputAsync; calling CloseOutputAsync transitions to CloseSent, and then receiving the close frame further transitions it to CloseReceived.  It takes an explicit call to CloseAsync to transition it to the Closed state.  That's different from what I though

[2016-07-15 18:06] CIPop opened #10090 "Enable coverage for test code (required for Unit and PAL testing)"
Currently `/p:Coverage=true` excludes Test code. This leaves production code within all Unit and PAL tests without code coverage.

A workaround is to to manually write a script to remove the `-filter:" -[*.Tests]*"` portion from OpenCover:

[code]

It would be great if we could have /p:CoverageAll to remove the Test code filter which in these cases is actually the production code directly referenc

[2016-07-15 18:30] saurabh500 commented on #10046
cc @tvrprasad @corivera

[2016-07-15 18:30] saurabh500 commented on #10061
cc @tvrprasad @corivera

[2016-07-15 22:05] bbowyersmyth opened #10093 "Proposal: LegacyAttribute"
# The Problem #
A good thing about the .NET Core 1.0 surface area is that it made it clear what classes/methods were considered obsolete because for the most part, they just didn't exist. With the larger surface area planned for v2 a lot of this missing functionality is being brought back purely for compatibility reasons.
How does a developer get informed that a given API is no longer recommended

[2016-07-15 22:14] venkat-raman251 commented on #7912
I will have a look.

[2016-07-16 02:23] jarenduan opened #10099 "It would be best if there is a .NET Platform Standard API references."
And readers could choose the specific standard version, just like the old MSDN library does, switching between different .Net Framework versions. I guess cross-platform class library developers are tend to target "netstandard1.x", but the only API references availabe now is the .Net Core API docs. This might bring confusion and inconvenience.

[2016-07-16 04:35] theraot commented on #4547
I have implemented [something similar to this](https://github.com/theraot/Theraot/blob/master/Core/Theraot/Collections/ThreadSafe/ArrayReservoir.cs) in the past... It is not public because I can't prevent misuse (Returning but keeping the the array) - did you find a solution? o.o

[2016-07-16 05:30] felyperennan commented on #10085
It can be a pain in the ass, I was working on a port here but I got my face into (OMG there is no DataTable class D:), for Types and TypeInfos I was using "Replace all infiles "IsInterface" for "GetTypeInfo().IsInterface"", wasn't too hard (but sure dispendious).

[2016-07-16 12:21] prajaybasu commented on #10099
I think it would be best to create an API reference using the API versions for the specific packages using the map [here](https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md).
The .NET Standard version could then be mapped to that package's API version
(i.e. instead of using only netstandard1.3, use <package name> <API version of package> and map that t

[2016-07-16 13:12] onovotny commented on #4544
@NickCraver Have you tried using Nuget restore from NuGet 3.5 beta 2? Using that version made restores with mixed project.json and csproj work for me.

[2016-07-16 13:17] svick commented on #10099
API reference already exists: https://docs.microsoft.com/en-us/dotnet/core/api/index.

It does not currently support different framework versions, but that support is planned: https://github.com/dotnet/core-docs/issues/772.

I think this issue should be closed and any discussion should move there.

[2016-07-17 00:59] stephentoub commented on #9994
Decompiling isn't necessary.  The source is here:
http://referencesource.microsoft.com/#mscorlib/system/collections/bitarray.cs,19ad3f494f0dc7f6

[2016-07-17 01:43] stephentoub commented on #9933
This is failing all PRs again:
[code]

[2016-07-17 02:59] vindicatorr commented on #7270
[code]
Seem to be getting further and further away with many more failures, all relating to that api-ms-win...

[2016-07-17 09:00] jasonwilliams200OK commented on #7270
Did you build mscorlib,dll on Windows? If so did you specify `build.cmd linuxmscorlib`?
I would suggest to start with a clean new OS install / new VM, instead of same system which might have generations of these assemblies lying around by now..

[2016-07-17 11:37] stephentoub opened #10107 "StopwatchTests.StartNewAndRestart failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_rhel7.2_debug/46/consoleText
[code]

[2016-07-17 18:19] jamesqo opened #10110 "Do tests exist at all for Comparer/EqualityComparer?"
#9379 would seem to imply we already have test coverage for those classes, but at the moment I can't see any such tests within the [System.Collections/tests](https://github.com/dotnet/corefx/tree/master/src/System.Collections/tests) dir...

cc @hughbe @GSPP @joshfree

[2016-07-17 23:40] #10107 closed

[2016-07-18 00:08] roji commented on #3688
FYI, I'm working on implementing this for PostgreSQL, i.e. a structured statement API within DbCommand which doesn't depend on semicolon-delimited statements packed inside CommandText. The API looks like this:

[code]

Note how each NpgsqlStatement has its own parameter list, this again corresponds to how the PostgreSQL protocol actually represents statements (parameter per statement rather than a

[2016-07-18 02:27] hseok-oh opened #10113 "arm: build error for arm (wily) cross build"
cross build for Ubuntu 15.10 ARM
rootfs option: arm wily
build option: cross arm native debug

[code]

[2016-07-18 02:56] RickyLin opened #10114 "The results of "==" and "Equals" should be consistent on TimeZoneInfo class"
**Code:**

[code]

**Expected**
[code]

**Fact**
[code]

I filed [an issue](https://github.com/dotnet/coreclr/issues/6292) about this in coreclr repo first. Then I was suggested to file the issue here.

I know the "==" and "Equals" are two different things, but I think most of the time, in a class, they should have the same results. However the "==" and "Equals" on `TimeZoneInfo` have different re

[2016-07-18 05:03] prajwal-aithal commented on #9933
@sjsinju Could you please investigate this failure?

[2016-07-18 05:26] narenkv opened #10116 "Serialization Support"
Does the Core 1.0 currently supports System.Runtime.Serialization like Serializable,SerializationFormatter attribute etc.

We are in the process of upgrading 4.5.x to Core 1.0.

[2016-07-18 07:02] ghost opened #10117 "Self-contained application not working on Mac because of openssl"
The docs state that it is possible to deploy a self-contained application via xcopy because there are no external dependencies but on Mac OS X this is not true. The Mac version requires a non-standard version of openssl that Apple does not support to be installed globally. This openssl version should be a part of dot net core files if needed.

[2016-07-18 09:30] josteink commented on #1626
What's the current status of this task? Is @janhenke's list complete and accurate? Is all work which needs being done, done? Then it should be closed, right?

If so, why do we still have this task? https://github.com/dotnet/corefx/issues/2070

If there's still work to be done, should a new issue be registered based on the current state of affairs?

[2016-07-18 09:31] josteink commented on #2070
With the task of moving to shims done, should this issue too be closed?

[2016-07-18 09:40] sec commented on #1626
There's also this needed I think - #2046

[2016-07-18 09:46] jasonwilliams200OK commented on #1626
Yes :+1:

[2016-07-18 13:06] j055 commented on #8622
This Microsoft article clearly demonstrates the advantages of using DataSets/DataTables to improve performance when connecting to an Azure SQL Database.

https://azure.microsoft.com/en-gb/documentation/articles/sql-database-use-batching-to-improve-performance/

corefx needs this to work nicely with Microsoft's own SQL Database service.

[2016-07-18 13:37] ljw1004 opened #10120 "Request: a way to tell if two filepaths point to the same file"
On unix, the recommended way to tell whether two filepaths point to the same file is to use `stat` and compare `st_dev, st_ino`.

http://www.boost.org/doc/libs/1_53_0/libs/filesystem/doc/reference.html#equivalent

On Windows, the recommended way is to use the win32 API `GetFileInformationByHandle` and compare `nFileIndexLow, nFileIndexHigh, dwVolumeSerialNumber`. You have to do this via p/invoke b

[2016-07-18 13:39] roji commented on #8622
@j055 I don't think there's any performance optimization provided by DataSets/DataTables that isn't possible with regular commands. You can batch multiple inserts into a single DbCommand just as easily.

[2016-07-18 14:04] jvictor-82 opened #10122 "Identity EntityFrameworkCore custom without Claims - Error Cannot create a DbSet for 'IdentityUserClaim`1'"
I'm trying customize EntityFrameworkCore Identity with AspNetUsers, AspNetRoles and AspNetUserRoles only...
Code:
**ApplicationUser.cs**
[code]
**Startup.cs**
[code]
**AccountController.cs**
[code]
**CreateAsync** = success, but **SignInAsync** return _InvalidOperationException: Cannot create a DbSet for 'IdentityUserClaim`1' because this type is not included in the model for the context._

My dat

[2016-07-18 14:07] j055 commented on #8622
As easily as this?

https://msdn.microsoft.com/library/aadf8fk2.aspx

Please do tell.

[2016-07-18 14:09] khellang commented on #10122
I don't think this is the right repo for this. Try https://github.com/aspnet/Identity and/or https://github.com/aspnet/EntityFramework.

[2016-07-18 14:13] khellang commented on #10093
I'd say this attribute should be valid on assembly level as well, no?

[2016-07-18 14:14] jvictor-82 commented on #10122
You're right.

Sorry.

[2016-07-18 14:14] #10122 closed

[2016-07-18 14:14] roji commented on #8622
How about `new SqlCommand("INSERT ...; INSERT ...; INSERT ...;", conn)`?

[2016-07-18 14:22] VitaliyMF commented on #8622
@j055 in my comment above I mentioned that I've just published [NReco.Data](https://github.com/nreco/data) library that may generate SQL commands like old ADO.NET DbCommandGenerator/DbDataAdapter. Command batching (generating several SQL commands into one DbCommand) can be easily added; if you really need this feature feel free to add an issue with bathing feature request. I believe that with NRec

[2016-07-18 14:43] j055 commented on #8622
@roji  I don't know how many people want to build up their commands with a big concatenated string. The term 'SQL Injection attack' also springs to mind. Of course it's doable. I just like a more elegant approach.

@VitaliyMF I'm sure your library is good for new projects but we have 10years worth of data access code using DataSets/DataTables.

[2016-07-18 14:46] stephentoub opened #10123 "Refactor ClientWebSocket on Unix into ManagedWebSocket shareable by ASP.NET"
We want to avoid having two separate implementations of the core websocket protocol.  We're going to refactor the corefx managed implementation into a file that's shareable by both corefx and ASP.NET.

[2016-07-18 14:47] stephentoub commented on #10116
Not in 1.0.  BinaryFormatter is being added here: https://github.com/dotnet/corefx/pull/10088

[2016-07-18 14:56] roji commented on #8622
@j055 SQL injection attacks are about concatenating *external* input into your SQL, this has nothing to do with the batching question. In other words you can simply do:

[code]

and be completely safe.

Whether you like this API or find DataTable/DataSet more elegant is a different (and not necessarily relevant) question. I happen to agree that there should be a structured batching ADO.NET API, wh

[2016-07-18 15:26] mburbea commented on #10093
It just smells like another flavor of obsolete. It also has all the same problem. If your concern is that obsoleted a bunch of classes will create a bunch of noise warnings in existing code bases, then legacy would do the exact same thing. There are many cases where the obsolete attribute has been on a class for multiple versions of .net and those have not been removed and will probably never be r

[2016-07-18 15:30] j055 commented on #8622
@roji DataSets are good for other things too and I guess we are not the only people using them in our applications. I think a lot of people will find it difficult to migrate without them. Yes, put it in a different project, that's fine.

The fact that they are not strongly-typed is actually very useful when transporting SQL data from stored procs to the business layer and back again. ORMs, yuck!

[2016-07-18 15:49] jitugeo opened #10124 "Using .Net (C++/CLI) legacy code in Net Core"
I have a problem of using native/CLR (C++/Cli dll) in netcore. we have a very huge code base for C++ functionality, so for using it in .Net we have created C++/Cli manged wrapper as dlls and it worked fine. Now we want to use them in Netcore MVC.  By putting the legacy dlls in nuget package I'm able to use them in NetCore framework targeting Net461.

Now I have two problems

1. As per document I c

[2016-07-18 16:40] jasonwilliams200OK commented on #10124
@jitugeo,
I think you need to add `"runtimes"` section or `"Microsoft.NETCore.Platforms": "1.0.1"` in your dependencies to quiet the compiler. :smile:
 But ... the whole point of .NET Core is to have your code cross-platform ready. By having `"imports": "net461"` (aka impersonate netstnadard1.4 as net461 in this project and all its dependencies..), it supremely defeats the purpose of net-core as n

[2016-07-18 17:34] mikes-gh commented on #9719
@saurabh500 Sorry I think that's your only option.  I had the same error ans 2008 r2 sp3 fixed it for me.

[2016-07-18 17:44] mikes-gh commented on #4198
@saurabh500
Linux can join AD well these days.
 I just came across this and had to enable SQL Auth on my server.
Samba and Squid both work on my network using Kerberos.

#2461 mentions problems getting the windows username. I can use id and getent on Linux to retrieve the windows user info so I am sure there is an sssd api on Linux to get this info.  I can also get a ticket for a windows user usin

[2016-07-18 18:40] saurabh500 commented on #4198
@mikes-gh thanks for the inputs. Yes this is very feasible. We are working to get Integrated Security in Xplat SqlClient.

[2016-07-18 18:45] pamanes commented on #10061
This is on Windows 10, SQL Server 2008 R2

Overall net core 1.0 seems very slow compared to the full .NET Framework (4.5)

[2016-07-18 19:02] thepaleone commented on #9719
Upgrading the server to 2008 R2 SP3 resolved my issue, thanks!

[2016-07-18 19:06] #10084 closed

[2016-07-18 19:07] #9985 closed

[2016-07-18 19:13] #9910 closed

[2016-07-18 19:14] justinvp commented on #2578
@jkotas, this was closed automatically when https://github.com/dotnet/coreclr/pull/6304 was merged. Should this be re-opened to track exposing the new API in the contract, or should we open a new issue to track?

[2016-07-18 19:17] jkotas commented on #2578
I guess we may want to open a new issue ... because of this one will keep getting closes as the change is merged around.

[2016-07-18 19:21] jasonwilliams200OK commented on #2578
Should we add tests to https://github.com/dotnet/corefx/blob/bb25242/src/System.Runtime/tests/System/LazyTests.cs along with addition to ref? For example a test can Assert.True on `new Lazy<string>("hello").IsValueCreated` etc.

[2016-07-18 19:26] justinvp commented on #2578
Yes, adding tests would be good. I'll open a new issue to track adding to the contract and adding tests.

[2016-07-18 19:35] justinvp opened #10127 "Add new Lazy<T>(T value) ctor to System.Runtime contract and add tests"
Now that the implementation of #2578 has been merged for CoreCLR (https://github.com/dotnet/coreclr/pull/6304) and CoreRT (https://github.com/dotnet/corert/pull/1538), the new API needs to be exposed in the [`System.Runtime`](https://github.com/dotnet/corefx/blob/4fccde2c42f7670ebd098513c09b30772f833e84/src/System.Runtime/ref/System.Runtime.cs#L1202) contract (and versioned as appropriate) and tes

[2016-07-18 19:36] justinvp commented on #10127
Do we need a separate issue tracking adding the new API to the full framework? Or would that be tracked internally by Microsoft? What about Mono/Xamarin?

[2016-07-18 19:36] justinvp commented on #2578
#10127

[2016-07-18 19:36] #2578 closed

[2016-07-18 19:51] ianhays commented on #9627
Confirmed that with the SNI ARM64 produced after my internal Codeflow change (along with #10043), all of the Sqlclient tests pass.

[2016-07-18 20:12] mikes-gh commented on #4198
BTW presume future means its not happening for 1.1?

[2016-07-18 21:58] bbowyersmyth commented on #10093
@khellang Good suggestion. The list was taken from the `ObsoleteAttribute`, not sure why it couldn't be applied at an assembly level as well.

@mburbea Think of it as not another type but another level. The `ObsoleteAttribute` is not being applied to a lot of things it could be because it results in a build break if you follow the recommended practice of having "Warnings as errors" on. Which can b

[2016-07-18 22:14] blowdart commented on #10021
Whilst we agree there’s a timing issue once you get to the decryption algorithms we’d expect you to have already validated the data and made a decision on whether it is trustworthy or not through standard practices such as an MAC covering both the IV and the encrypted data, or, when .NET Core support arrives, using an authenticated chaining mode.

As you’re aware this is a notoriously difficult pr

[2016-07-18 22:14] #10021 closed

[2016-07-18 22:28] mellinoe commented on #10057
Sorry if I'm coming off as obtuse, but if the operation is just a combination of the above functions (i.e. Scale-Subtraction-Scale-Add), can you simply implement the function over those other primitives we provide? I'm not sure such a specific compound operation is used widely enough to warrant it's own specialized function. After all, there are an infinite number of compound operations we could p

[2016-07-18 23:07] danmosemsft commented on #9328
I did the model.xml edits, see  https://github.com/dotnet/coreclr/commit/4a13a029ef492ce167cf2ec0e46ae5e5cd08dda2
You can do the corefx work.

[2016-07-18 23:52] WiliamGP opened #10133 "System.Collections.NonGeneric failed to bind"
I'm developing an application UWP for Windows 10 Mobile, everything works fine in debug mode, but when I generate the application packages in release mode, the resources to globalization do not work and the visual studio reports the following warning attached below. I'm using the Microsoft.NETCore.UniversalWindowsPlataform in version 5.2.2. Is there any way to solve this problem? Regards

[2016-07-19 02:46] danmosemsft opened #10137 "Port .CompareTo and .GetTypeCode on the primitive types"
[code]

[2016-07-19 02:47] danmosemsft commented on #10137
These are now available after https://github.com/dotnet/coreclr/commit/4a13a029ef492ce167cf2ec0e46ae5e5cd08dda2

[2016-07-19 02:48] danmosemsft opened #10138 "Port remainder of Math and Decimal"
[code]

[2016-07-19 02:49] danmosemsft opened #10139 "Port remainder of Enum"
[code]

[2016-07-19 02:50] danmosemsft opened #10140 "Port remainder of Char and CharEnumerator (for Windows)"
[code]

also
`M:System.Boolean.ToString(System.IFormatProvider)`

[2016-07-19 03:02] danmosemsft commented on #10074
Should be unblocked by https://github.com/dotnet/coreclr/commit/4a13a029ef492ce167cf2ec0e46ae5e5cd08dda2

[2016-07-19 07:53] stephentoub commented on #9751
@crozone and @CRCinAU, thanks for following up.

@crozone, would you be able to include an EventListener like https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Diagnostics/Tracing/ConsoleEventListener.cs in your repro, wrapping your main method in something like:
[code]
I'm curious to see what the log shows while this spinning is happening.  This will turn on both libcurl's logg

[2016-07-19 09:02] narenkv commented on #10116
What is the process to pull the code and use in the projects please

[2016-07-19 09:44] narenkv commented on #10116
![img_2124](https://cloud.githubusercontent.com/assets/17287435/16945603/4fd2bf48-4dc3-11e6-81a6-b0d266bf9876.JPG)

any idea on this issue

[2016-07-19 12:58] mwdavisii opened #10146 "Documentation: Update docs on supported libcurl features on Linux and OSX."
This is a cross post from dotnet/KestrelHttpServer and WCF. I've closed that issue as it is not Kestrel related, but I apologize for the cross-posting, I'm still learning about the different repositories and what functions are where.

 I have some functionality that is working on windows, but fails on all of the unix droplets I've spun up. I'm seeing one type of failure message on ubuntu 14.04 and

[2016-07-19 13:16] sec commented on #2046
@krytarowski What do you mean "soon" ? :)

[2016-07-19 14:04] juliusfriedman opened #10148 "On `Array.Version`"
The `InvalidOperation` exception is not thrown in cases where the underlying enumerable (in this case an `Array) is not enumerated using a`foreach` construct.

The foreach construct is useful because of the optimizations which are allowed by such as well as the ability to be notified of new changes when they occur.

This requires using a `try` and `catch` paradigm which can require more stack spac

[2016-07-19 14:33] MichelLaplane opened #10149 "No DataAnnotation for integer"
A thing like [DataType(DataType.number)] could be valuable for managing validation directly in the model. Look at the #4995 issue for best understanding why I ask for it.
Best regards.

[2016-07-19 14:40] juliusfriedman opened #10150 "local type alias"
Currently class declarations do not allow nested type aliasing e.g.

`using MyTuple = System.Tuple<int, int>;` even within a namespace declaration...

This declaration must normally be at the top of a file and precede all other using statements such as `extern`.

I propose that this restriction be lessened such that to allow one to use such aliases within their definitions to avoid redundant typin

[2016-07-19 16:28] juliusfriedman opened #10152 "On '@' and reserved words"
Attempting to compile the following code:

[code]

results in a compilation error:

Additionally it seems that the `@` character is used as an `Escape` in some regard in the parser logic and thus it's appearance causes the character which follows to lose it's meaning as can be seen in the following example:

[code]

Thanks for your time and consideration.

[2016-07-19 16:31] Lixire commented on #9994
Done.

[2016-07-19 16:31] #9994 closed

[2016-07-19 16:31] svick commented on #10149
#4995 is a PR that doesn't seem related to data annotations.

Did you mean to reference some other issue? And maybe you should explain why you think this would be useful in more detail.

[2016-07-19 16:51] MV10 opened #10154 "Accept HttpContent on any request method"
Overloads are needed to support HttpContent on methods like GetAsync. The HTTP specification does not prohibit body-level content on any of the method types. They may not be commonly used but I am aware of REST services that require complex body content in GET requests (in one case, it describes a variety of search parameters).

[2016-07-19 17:07] MattGal commented on #8634
Has been fixed since 5/31

[2016-07-19 17:07] #8634 closed

[2016-07-19 17:08] MattGal commented on #8749
Closing as this has not reproduced and no updates since 5/22

[2016-07-19 17:08] #8749 closed

[2016-07-19 17:25] davidsh commented on #10154
cc: @CIPop @stephentoub @himadrisarkar

This is not entirely true.  Some methods like TRACE do not allow request body content.

We already have a generic overload, `SendAsync` which can be used to send HTTP requests. And the `HttpRequestMessage` passed in can have a `.Content` object as well.  The overloads like `GetAsync` are convenience methods for the most used operations.

[2016-07-19 17:31] saurabh500 commented on #4198
@mikes-gh We will look into this for 1.1. I have changed the Milestone. Thanks for pointing this out :)

[2016-07-19 17:38] saurabh500 commented on #9719
@Ranjit-S We won't be working on supporting SP1 connectivity from Linux right now. The current supported version for 2008 R2 is with SP3 service pack

https://support.microsoft.com/en-us/lifecycle?C2=1044

[2016-07-19 17:38] #9719 closed

[2016-07-19 18:05] saurabh500 commented on #9809
@HassanSiddique Can you write a sample App which connects to a Sql Database using .Net Core and let us know if that succeeds. That would help us further isolate the problem.

Right now I am not sure about what is happening. What is the Sql Server version that you are using?
You can use `SELECT @@VERSION; ` query to get the version either from Visual Studio or SSMS after connecting to the database.

[2016-07-19 18:07] saurabh500 commented on #9439
We won't be working on supporting SP1 connectivity from Linux right now. The current supported version for 2008 R2 is with SP3 service pack
https://support.microsoft.com/en-us/lifecycle?C2=1044

The recommendation is to upgrade to SP3 and which will allow connectivity on higher version of the TLS protocol.

[2016-07-19 18:07] #9439 closed

[2016-07-19 18:11] MV10 commented on #10154
Fair enough.

[2016-07-19 18:11] #10154 closed

[2016-07-19 18:17] saurabh500 commented on #7810
@roji
Are you suggesting that we add tests based on `System.Data.Common` and these tests are used to test any ADO.Net providers by instantiating the actual provider objects?
Can you point me to the EF tests that you are referring to?

[2016-07-19 18:37] MattGal commented on #9975
Adding @karajas.

TestTFM values are configured to default to netcoreapp1.0, so that's expected.  Any time a test builds for a given TFM, the runner script will get generated.  I don't think Desktop .NET 4.6 or UWP would be supported at all on Core, so that may be why their scripts don't get generated.  Karthik can comment further.

[2016-07-19 19:01] huanwu opened #10155 "Mismatched behavior for verify the KnownType with Desktop version"
When serialize a object with unknown type, if the serializer contains a DataContractResolver, it will end up with SerializationException. However, no exception thrown from Desktop Version. This is because, in core version, it always verify knowtype if there's resolver. In the code:
System.Private.DataContractSerialization\src\System\Runtime\Serialization\XmlObjectSerializerWriteContext.cs

Core Ve

[2016-07-19 20:10] roji commented on #7810
@saurabh500 yes, that's right. Providers such as Npgsql would extend test base classes provided by you, thus running your standardized test suite. Your tests would instantiate ADO.NET objects via the provider's DbProviderFactory and make sure that the provider's DbConnection, DbCommand, etc. behave as they should.

For the EFCore provider test suite, see [Microsoft.EntityFrameworkCore.Specificatio

[2016-07-19 20:11] roji commented on #7810
Note that Npgsql contains many tests which are completely generic - i.e. aren't specific to Npgsql/PostgreSQL in any way. It is exactly this kind of tests that belong in a provider-independent specification test library.

[2016-07-19 20:26] ellismg opened #10156 "Use Loopback server for HttpClient testing."
Today, we use http://corefx-net.cloudapp.net/ as an endpoint for much of the HttpClient testing.  We've slowly been moving towards using a loopback server that gives back fixed HTTP responses to remove this dependency, (since it's one of the main places we see intermittent network issues that cause spurious test failures) but the set of testing we do against this is currently limited because the l

[2016-07-19 20:30] davidsh commented on #10156
@ellismg We already are working on this.  We do not plan to move all of the tests to loopback though. But we plan to place a test server within the CI machine constellation so that it will have very low latency.

@CIPop is working on this activity.  So, this issue is duplicative.

cc: @stephentoub

[2016-07-19 20:31] davidsh commented on #10156
cc: @himadrisarkar

[2016-07-19 20:44] ellismg commented on #10156
I understand how that helps tests within CI itself, but don't local builds now have the same issue?  What about when we run tests in other environments like Helix which may not share the same infrastructure as the CI machine?  Why is this preferable to simply running the server on the local machine?  We should be able to leverage Kestrel and the ASP.NET stack such that we don't have to re-implemen

[2016-07-19 20:45] davidsh commented on #10156
Agreed.  But porting the tests to ASP.NET core is part of our already planned work that @CIPop is working on.

[2016-07-19 20:55] davidsh commented on #10156
Basically yes.  I'll @CIPop explain more.  We have parallel work that will 1) move more tests to loopback, 2) move the design/architecture of the test endpoint to use ASP.NET Core (instead of .ashx files) so that it can be deployed cross-plat and used locally by devs, and 3) revise the CI test server deployment to be lower latency.

[2016-07-19 21:01] steveharter commented on #9991
I assume this means change the "private byte[] _key" field to match CLR's "protected byte[] KeyValue"

[2016-07-19 21:23] krwq commented on #8634
Thanks again @MattGal!

[2016-07-19 21:35] terrajobst opened #10157 "Provide API to understand how many allocations have happened"
As discussed in https://github.com/dotnet/coreclr/issues/6275 we would like an API to expose how many bytes were allocated since the beginning of a thread's life time.

What about an API like this:

[code]

The usage could like this:

[code]

Questions:

* Can/should this method track bytes per native OS thread or for the logical call context?
* Does this track memory across async boundaries? Shou

[2016-07-19 21:51] Maoni0 commented on #10157
Thanks @terrajobst.

This tracks allocations on the GC heap for the managed thread and does not track memory when the execution moves to another thread.

For each managed thread, it maintains an allocation context - allocations from this thread will be managed by this context and the number will be reported based on certain values in this context.

[2016-07-19 21:58] stephentoub commented on #10156
Glad to see we're making progress on this.  What's the rationale for having the test server be "within the CI machine constellation" rather than a local loopback server as Matt's proposing?  Or is this just a different way of saying the same thing?

[2016-07-19 21:59] terrajobst commented on #10157
When you say "thread" I think you mean whatever the given runtime decides to use to implement the System.Thread type. Which could be fibers but are usually threads.

But what happens for tasks and async? Some information, such as synchronization context, is passed via the call context. I assume this information wouldn't flow?

[2016-07-19 22:01] davidsh commented on #10156
We still need real end-to-end tests with a real test server endpoint machine.  So, for those tests, we will use a test server that is "closer" to the CI machines.  Other tests can be loopback.

[2016-07-19 22:18] ellismg commented on #10156
I understand why we would want E2E tests that talk to a real test server, like Kestrel instead of just some thing that's giving back fixed HTTP responses.  I think Steve and I are wondering why that also implies we need to actually talk over the internet to do it, what coverage do we lose by binding Kestrel to some port on localhost and talking to that?

[2016-07-19 22:21] davidsh commented on #10156
There is test coverage we lose by using loopback. In Windows, for example, there is different network stack optimization for the loopback adapter. And it is difficult to do TLS/SSL testing when using loopback as well.

I understand the desire to make our CI / PR system more reliable. But we shouldn't get rid of important tests (or make too much stuff Outerloop) just because of the CI system is fla

[2016-07-19 22:25] Maoni0 commented on #10157
Yes.

The allocated bytes is an attribute on a thread - it has no concept of tasks/async. If you want to know how many bytes a method that involves some async stuff allocates, you can inspect the synchronization context yourself to follow how the execution switches threads and get the allocated bytes for thread it switches to and add them together.

[2016-07-19 22:41] ayende commented on #10157
I suggest that the name would be: `GetTotalAllocatedBytes()`, instead of `GetCurrentAllocatedBytes()`, because it represent the sum total of memory allocated by this thread (as I understand it), not the current allocated (but not GCed) memory.

[2016-07-19 23:04] Maoni0 commented on #10157
I don't have strong opinions on the name. I'll leave that up to @terrajobst.

This represents the allocated bytes, not survived bytes. Allocated is not taking GC into consideration while survived is. So if you do

ulong currentAlloc = Thread.NewGetAllocAPI();
MyClass o = new MyClass(); // this allocates 100 bytes.
// do stuff with o.
ulong allocated = Thread.NewGetAllocAPI() - currentAlloc;

alloc

[2016-07-19 23:10] svick commented on #10157
Should this method be on `Thread`? There is already a somewhat similar method `GetTotalMemory(bool)` on the `GC` class. Maybe the two methods should stay together? In that case, the name could be something like `GC.GetCurrentThreadTotalAllocatedBytes()` (though that is a fairly long name).

[2016-07-19 23:52] NickCraver commented on #4544
I have tried with NuGet 3.5.0.1484 (is this Beta 2? VSIX seems to think so), the issue remains. You can easily repro by pulling the core-rtm branch and trying to build `StackExchange.Redis.sln` (not the `.Core` solution).
If you build `StackExchange.Redis.Core.sln` (or any project from `dotnet`), you'll run into https://github.com/dotnet/cli/issues/1342 which I guess is never getting fixed either.

[2016-07-20 02:44] yishaigalatzer commented on #4544
The suggestion is to convert your references to project.json (uwp style) first. Then rename it to projectname.project.json.

We will have a tool to do it automatically in 3.5 rtm.

[2016-07-20 04:13] vindicatorr commented on #7270
For the sake of starting clean, I went ahead and created a bare-bones VM for Arch (not even a desktop manager), with the coreclr/fx dependencies and changed up the testing parameters.
[code]
which results in
[code]
, and the error just repeats for the other tests.

[2016-07-20 05:01] #8121 closed

[2016-07-20 05:01] #8119 closed

[2016-07-20 05:11] narenkv opened #10166 "Handling System.Web to Core [best practices]"
Hello all,

Is there any best practices or steps or senarios which would help people to migrate from .NET 4.x.y versions.

Responding this will help many people in the world :-)

/Naren

[2016-07-20 05:16] ayende commented on #10157
What about an overload? `GC.GetTotalMemory(Thread thread)` ?

[2016-07-20 05:17] ayende commented on #10157
Being able to ask that on _another_ thread is interesting and give us the chance to do some interesting metrics (what is the allocation rate per thread, so we can make decisions on that).

[2016-07-20 06:19] jasonwilliams200OK commented on #7270
For CoreCLR, on Winodws, try the steps under "On Windows (using PowerShell)" at https://github.com/dotnet/coreclr/issues/917#issuecomment-231723500. It requires `mscorlib.dll`, `System.Private.CoreLib.dll` and `mscorlib.ni.dll` from Windows. Then on Unix, CoreCLR (and CoreFX) should be checkout to same commit as on Windows, before building.

[2016-07-20 06:58] krytarowski commented on #2046
@sec, it was blocked by lack of functional process plugin in LLDB on NetBSD - I need it to debug crashes in managed code.

[2016-07-20 07:02] MichelLaplane commented on #10149
Sorry @svick it it in the aspnet/Mvc repository.
   _https://github.com/aspnet/Mvc/issues/4995#event-726593750_
As far as I know data annotations have useful features for validation in the model.
For example if you set "StringLength" and if the user type extra length an error message is generated.
But if you define a field with "int" and if the user type a value beginning with an alpha character,

[2016-07-20 08:16] SerhiiS-in6k opened #10169 "How to set .NET Core in #if statement for compilation"
Hi. I create multy framework project. I use something like this :
[code]
But I cant find wildcard for .NET Core. I tried :
[code]
but it is not valid statement.
Thanks.

[2016-07-20 09:09] MichaelKetting opened #10172 "Question: Multi-Target for NetStandard 2.0 and .NET 4.5 ?"
Hello!

A couple of weeks ago, there was an announcement that most of the BCL will get ported to .NET Core, which is plain awesome. E.g. I should then be able to enable most of my extensive framework library (> 100 projects) for .NET Core.

Now, for the question: These features will be delivered when targeting NetStandard 2.0, but I will still have a requirement to support .NET 4.5 in several of m

[2016-07-20 11:03] svick commented on #10169
What you need is `#if NETCOREAPP1_0`. See [*How to Multitarget*](https://github.com/dotnet/core-docs/blob/master/docs/core/tutorials/libraries.md#how-to-multitarget) in the documentation (it does not mention `NETCOREAPP1_0` explicitly, but it shows the pattern).

[2016-07-20 11:10] svick commented on #10172
Are you talking about path like `portable-net45+wp80+win8+wpa81`? The whole point of .Net Standard is to avoid that mess, so, no, I don't think you will be able to use `portable-net45+netstandard2.0`.

[2016-07-20 11:37] MichaelKetting commented on #10172
Yeah, exactly that. Okay, good to know that it won't work as a single identifier. But will it be possible to use the same assembly with "net45" and "netstandard2.0" when it is compiled against .Net Standard 2.0? I guess the biggest problem would be to ensure that no .NET 4.6 API is being used...

[2016-07-20 12:22] jasonwilliams200OK commented on #10172
@MichaelKetting, you can have multi-targeting project.json like this: https://github.com/JamesNK/Newtonsoft.Json/blob/master/Src/Newtonsoft.Json/project.json. That will produce the assemblies separately for each TxM. Starting from NetStandard, smaller version is compatible with higher version (but not vice versa). So `netstandard1.3` compatible assembly would work with `netstandard1.4` etc.. But t

[2016-07-20 12:54] MichaelKetting commented on #10172
@jasonwilliams200OK Thanks for the info. At the moment, I'm in a wait-and-see position for how the csproj/msbuild integration is going to look like as I can't use the project.json / dotnet build stuff from within my build infrastructure without re-engineering basically my entire build system and finding solutions for the features that have been removed since nuspec.

I was hoping to avoid the dual

[2016-07-20 13:23] lextm commented on #10166
Have you gone through these?

https://docs.asp.net/en/latest/migration/index.html

If not, you should. Issues or questions on those materials can be submitted to

https://github.com/aspnet/Docs/issues

[2016-07-20 15:17] mmaguigan commented on #7023
While I am not against having easy to use static methods they should be the after thought. I think we need to be thinking in terms of streams, and correspondingly, support for async-await (if the stream we're writing to supports async-await). Using byte arrays for symmetric cryptography encourages developers to load blobs entirely into RAM before encrypting or decrypting, potentially denial of ser

[2016-07-20 15:42] jkotas commented on #10133
cc @MattWhilden

[2016-07-20 15:45] krwq commented on #9920
sounds to me like both would be useful :) that is pretty common scenario to automate changing files. Perhaps couple of helper APIs:
[code]

[2016-07-20 16:02] DemiMarie commented on #7023
That works for encryption, but it is a no go for decryption: for decryption
you need to load all data into memory before decrypting to avoid releasing
unverified plaintext (which an attacker can use to decrypt messages of
their choosing).  That is why libsodium (the best example I know of of a
good crypto library; .NET could do much worse that just provide libsodium
bindings) does not support stre

[2016-07-20 16:12] steveharter commented on #9981
Per discussion, these should go into the System.Security.Cryptography.Csp package but need to be reviewed by FXDC first

[2016-07-20 16:13] steveharter commented on #9984
Per discussion, these should go into the System.Security.Cryptography.Algorithms package but need to be reviewed by FXDC first

[2016-07-20 16:16] krwq commented on #9915
Fixed with 5828f9ad0c7b75d1e9501b7314d6ca319ab2dd1a

[2016-07-20 16:16] #9915 closed

[2016-07-20 17:01] ellismg opened #10177 "Win 10 outerloop machines need to be upgraded to Server 2016 TP5"
The current image we are using for the outer loop runs has expired and so the machines will reboot often.  We should move to TP5 (the latest Windows Server 2016 release) and also cut the Win10 machines over to the auto infrastructure stuff instead of having fixed machines.

[2016-07-20 17:18] rynowak commented on #2961
Hopefully we'd all agree that we did this :+1:

We were looking at addressing [this issue](https://github.com/aspnet/FileSystem/pull/214) pretty recently in ASP.NET and our options to address it are really limited unless it comes from CoreFx.

1. Write our own filestream (ugh) - that's the worst option for all the obvious reasons
2. Ask for a new API that allows us pass a buffer - this doesn't wor

[2016-07-20 17:23] stephentoub commented on #2961
We can revisit it, but see the discussion here:
https://github.com/dotnet/corefx/pull/5954#discussion_r52130236, then https://github.com/dotnet/corefx/pull/6473.

cc: @jkotas, @socket, @KrzysztofCwalina

[2016-07-20 17:33] mellinoe commented on #10157
I'm not sure we can / want to have `System.GC` depend on the higher-level `System.Threading.Thread` concept. UWP currently doesn't actually support `Thread` (which we should fix), but even still I'm not sure it's the best dependency to bring in.

[2016-07-20 17:50] mellinoe commented on #10169
Keep in mind you can also define your own set of compilation constants to be whatever you'd like for your various configurations. But like @svick's link shows, we do set some common/obvious ones for different target frameworks.

[2016-07-20 18:21] rynowak commented on #2961
Thanks @stephentoub  - perhaps it's my unfamiliarity with the details, but from looking at the API definitions here, it seems that the only API that could leak a reference to the buffer is the `CopyTo[Async]` family. Both `Read(...)` and `Write(...)` use a caller-provided buffer and *potentially* a [buffer allocated by the stream](https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSyst

[2016-07-20 18:25] nguerrera commented on #8004
Poaching this since part of it is needed for compressed source work and we might as well do it all since it's pretty small.

[2016-07-20 18:50] stephentoub commented on #2961
Not really.  It's also about the internal buffer used by FileStream (FileStream doesn't actually override CopyTo{Async}).  Let's say FileStream grabs a buffer from the pool when it's constructed and returns it when it's Dispose'd.  What happens if misuse of the stream causes it to be Dispose'd while a ReadAsync operation is in flight?  With the current implementation, we'd end up putting a buffer

[2016-07-20 18:55] mmaguigan commented on #7023
I think we want to be careful of prescribing high level constraints on low level APIs. In abstraction layers that's probably fine, but I think the primitives shouldn't concern themselves with protecting the user from shooting themselves in the foot. If the user of a low level API doesn't know any better and emits unauthenticated plain text to a stream expecting trusted content that's on them - jus

[2016-07-20 19:36] ayende commented on #2961
What about ref counting the buffers? So if there are outstanding operations, it is only returned when they are all completed, even if disposed midway through?

[2016-07-20 19:38] stephentoub commented on #2961
That's what I was referring to with "We could add synchronization (at a run-time cost) to only return the buffer to the pool in Dispose if there aren't any async operations in flight".

[2016-07-20 20:08] rynowak commented on #2961
Thanks for the summary Stephen.

This really seems more like a discussion of principles the runtime wants to follow than whether or not we can solve the issues related to filestream. Should every framework component behave as a much of a 'clean room' as possible?

I think the logical conclusion of this is that there ends up being a 'framework only' instance of the pool, or no pooling at all in cor

[2016-07-20 20:18] crutkas commented on #2089
For UWP, there is a request for this feature on our UserVoice: https://wpdev.uservoice.com/forums/110705/suggestions/12556779

[2016-07-20 20:31] ayende commented on #2961
In general, having some manner that give us Stream over `byte*` would be pretty great. Right now we have to copy data from unmanaged to managed memory just to be able to pass the right thing into the Stream call.

[2016-07-20 20:39] ioanacrant opened #10194 "Implement System.Threading.AsyncFlowControl"
From #10049

These methods rely on System.Threading.AsyncFlowControl and they should be added to the CAS stubs

[code]

@stephentoub @danmosemsft @ellismg @bartonjs

[2016-07-20 20:39] ioanacrant opened #10195 "Implement System.Security.SecurityElement"
From #10049

These methods rely on System.Security.SecurityElement and should be added to the CAS stubs

[code]

@stephentoub @danmosemsft @ellismg @bartonjs

[2016-07-20 20:39] ioanacrant opened #10196 "Implement System.ApplicationIdentity"
From #10049

These rely on System.ApplicationIdentity and should be added to the CAS stubs

[code]

@stephentoub @danmosemsft @ellismg @bartonjs

[2016-07-20 20:39] ioanacrant opened #10197 "Implement System.Runtime.Serialization"
The types are SerializationInfo, StreamingContext, IDeserializationCallback, ISerializable.

From #10049

These methods rely on System.Runtime.Serialization.* and should be added to the CAS stubs

[code]

@stephentoub @danmosemsft @ellismg @bartonjs

[2016-07-20 20:47] DemiMarie commented on #7023
The problem is that releasing unauthenticated plaintext is a vulnerability
if it gets to an attacker, even if it never gets to a party that expected
it to be verified.  I suspect that you could recover the authentication key
in realistic scenarios.

Fortunately, a known solution exists: break the message into multiple
smaller messages with distinct, linearly-increasing nonces.  AES-GCM needs
such

[2016-07-20 21:14] mjrousos opened #10198 "SqlClient cannot connect to Azure SQL db from a Nano Server machine"
I have a small web app which works fine from Windows 10 or Ubuntu hosts. When I run it on a Nano Server (2016 TP5) machine, though, connecting to an Azure SQL database (via EF.Core) fails with this exception:

[code]

The connection string I'm using is:

[code]

I've tried explicitly adding both `Encrypt=false` and `Encrypt=true` to the connection string, but neither helps.

Is this perhaps just a

[2016-07-20 21:41] nguerrera opened #10200 "Cannot open resource editor in VS on corefx projects"
Opening src\System.Reflection.Metadata\src\Resources\Strings.resx in VS, I get the following:

[code]

C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETPortable\v4.5\Profile\Profile7 is installed so I assume this has something to do with the build customization in corefx. Not necessarily related, but should we even be referencing portable profiles anywhere anymore?

[2016-07-20 22:16] mellinoe commented on #10200
It most likely has to do with this stuff: https://github.com/dotnet/buildtools/blob/42f2315bdeb7e6d671f9ac8ffb1b3c0f800dbb22/src/Microsoft.DotNet.Build.Tasks/PackageFiles/FrameworkTargeting.targets#L31

We can most likely do another round of cleanup of some of this hacky stuff.

[2016-07-20 23:04] narenkv commented on #10166
Hello Lextm

Yes, But it helps to one extent. however the alternatives and not clearly articulated. Example System.Web references how to handle is not given. May be a sample conversion project with bare minimal code is shared will be of great help

Also heading mentions the documentation is limited to .0.0-rc2 versions and updates are yet to come.

/Naren

[2016-07-20 23:23] #9871 closed

[2016-07-20 23:37] RussKeldorph commented on #9952
@karajas Do you have a status update or ETA?  Is your work likely to help with dotnet/coreclr#6022 as well?  If there's another issue tracking this work more closely, please link it.

[2016-07-21 00:11] AtsushiKan opened #10202 "Cleanup post Reflection Api Restoration debt."
Just a reminder to myself about some opportunistic cleanup and perf tasks once we've gotten the big Reflection type hierarchy done.
- Remove all remaining AsType() calls. They're useless.
- IntrospectionExtensions.GetType(this Type)

  This no longer require any special knowledge of Reflection.Core
  so there's no need for it to pipe through that ReflectionAugments
  interface. Just implement it i

[2016-07-21 00:49] terrajobst commented on #10157
I agree with @mellinoe, having that on the `GC` type doesn't seem to be the right place -- especially because as @Maoni0 outlined that this API wouldn't take GCs into account. So I think `Thread` is more suitable.

However, it seems @ayende raised good points on naming and versatility, so what about:

[code]

[2016-07-21 04:23] MattWhilden commented on #10133
Certainly something we'd be interested in taking a look into. Thanks for reaching out!

On my machine with VS Update 3, NETCore.UWP 5.2.2, System.Collections.NonGeneric 1.2 everything seems to build correctly. Can you send me a repro file using the instructions here? https://github.com/dotnet/core/blob/master/Documentation/ilcRepro.md.

[2016-07-21 05:05] stephentoub opened #10206 "Many ECCurve tests failing in CI on Unix"
I'm disabling these until we can get to the bottom of why they're failing in dev/api.
[code]

[2016-07-21 05:13] stephentoub opened #10207 "Two ValueTuple tests started failing on Unix when updating to new CoreCLR"
[code]

e.g. http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/dev_api/job/ubuntu14.04_release_prtest/113/consoleText
cc: @jkotas, @jcouv

[2016-07-21 05:16] ygalustov commented on #9680
Did some investigations while having an issue with backlog limit with FTP.
If set to SOMAXCONN Windows Server since 2008 uses 200 and there is no way to override this except using of  SOMAXCONN_HINT.
[proof](https://blogs.msdn.microsoft.com/winsdk/2015/06/01/winsocks-listen-backlog-offers-more-flexibility-in-windows-8/)

[2016-07-21 06:03] hseok-oh opened #10210 "[Linux/ARM] System.Linq.Parallel.Tests fail"
CoreCLR: Release / Debug build
CoreFX: Debug build

[code]

Castable class (5b2ae6a)
[code]

[2016-07-21 06:21] mmaguigan commented on #7023
I am saying that the implementation of straight AES-GCM should be pure and to the standard, embedding higher level protocols in a low level API to fix shortcomings of GCM don't belong at this level; this is critical for compatibility with other implementations (in other languages) and those who will forced to reinvent a very dangerous wheel because their hands are tied by the primitives and they c

[2016-07-21 07:03] hseok-oh commented on #10210
Fail in two test methods:
System.Linq.Parallel.Tests.Cast_Unordered_Assignable_InvalidCastException
System.Linq.Parallel.Tests.Cast_Assignable_InvalidCastException

[2016-07-21 07:46] vindicatorr commented on #7270
Still failing, but "mscorlib.ni.dll" is a new one on me. I had simply modified your previous method (a little) https://github.com/dotnet/corefx/issues/6742#issuecomment-193869524

After generating and copying the "ni" file, the runtest result is the same. I even stuck to your bare "build.cmd" instead of setting the parameters like "x64" and "skipnative", and also used powershell instead of the reg

[2016-07-21 08:48] vindicatorr commented on #7270
Hmm looking at other FAILED messages shows it isn't just "System.Runtime" but even mscorlib (even with the native image file):
[code]
I now see this crossgen document: https://github.com/dotnet/coreclr/blob/master/Documentation/building/crossgen.md so I'll look more into it.

[2016-07-21 09:01] jasonwilliams200OK commented on #7270
I did the same when trying to build core-setup on Alpine Linux. `strace` helped me a lot:

[code]

and create a gist out of the dump if you want us to look into it. Or try to find the relavant info (at the end of the log) that where exactly the runtime is chocking..

[2016-07-21 09:09] Flavien opened #10211 "SslStream fails validating CRL on Linux"
I am using the `MailKit` NuGet package to send emails on .NET Core 1.0. I am connecting to an Amazon SES endpoint (`email-smtp.eu-west-1.amazonaws.com:587`) using TLS.

On Windows, it works fine, however on Linux, I get an error:

[code]

Drilling down into why the certificate validation fails, I found that the chain has `RevocationStatusUnknown` errors (`unable to get certificate CRL`).

It looks

[2016-07-21 11:50] ikourfaln commented on #3778
so ?!!

[2016-07-21 14:06] atanasa commented on #9728
How is this supposed to work on OSX? Install some package on OSX? Or there is no way to make it work on OSX?

[2016-07-21 14:53] onovotny commented on #9846
Can this be fixed in the 1.0.1 patch that was blogged about instead of waiting for the fall in 1.1? This is really painful.

[2016-07-21 16:01] jnm2 commented on #8398
Just so I understand correctly: in order to use `Assembly.Location` in a class library which will be used by both full framework and .NET Core apps, I am forced to either:

 1. Multi target (I'm blocked on this because I can't project-reference a multi-target project from the full framework csproj)
 2. Run full framework at 4.6.2 which is only in preview stage (blocked on this because I can't inst

[2016-07-21 16:20] davidsh commented on #9846
This issue is really a duplicate of https://github.com/dotnet/corefx/issues/9884 and we are working on a fix. We hope to fix it in the next few weeks.  Not sure if that will make 1.0.1 though.

[2016-07-21 16:27] joperezr commented on #9491
I've checked this in but it is commented out for now, since I need to consume the changes I made to System.IO. I'll do that today, and then send a PR that Un-comments these changes.

[2016-07-21 16:51] onovotny commented on #9846
@davidsh Is it the same thing? As I read the other bug, it was about a missing `ICloneable` interface. The core issue here is that `System.Net.Http` isn't being copied to the output directory even when indirectly referenced.

So I have a Netstandard 1.4 PCL that uses HttpClient and I use that in my `net461` website. The Sys.Net.Http isn't there at all?

If it's the same issue, then great...but I r

[2016-07-21 16:52] joperezr commented on #9516
Looks like all of these were done already by @stephentoub via #9741

[2016-07-21 16:55] joperezr commented on #9516
I guess I'll leave this open so that when ArgIterator is available, I'll go and uncomment the last api that was added but commented out.

[2016-07-21 16:55] niemyjski commented on #9728
I don't think there is any way for this to work on OSX currently (at least I haven't found a way)

[2016-07-21 16:55] davidsh commented on #9846
They are related issues. Once we fix the System.Net.Http 4.1 package to link against mscorlib, we will also put back ICloneable (since it is available on "Desktop"). The combination of these fixes will fix the whole problem.

The separate issue of ICloneable not being in CoreFx is being handled separately. That will make pure CoreFx scenarios work better once ICloneable is back in the libraries. B

[2016-07-21 16:58] Flavien commented on #1387
Will .NET Core have an alternative to SecureString?

[2016-07-21 17:09] ianhays commented on #1387
@Flavien  we recently added SecureString back to ease back-compat. It lives in it's own assembly now: https://github.com/dotnet/corefx/tree/master/src/System.Security.SecureString.

[2016-07-21 17:21] jnm2 opened #10213 "Targeting netstandard1.6 from a csproj is broken"
Once you set up a .NET Standard csproj according to [the instructions here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/target-dotnetcore-with-msbuild.md) by @dsplaisted, the UI has an option to target `netstandard1.6`. 1.0 to 1.5 works fine, but as soon as you target `netstandard1.6` you are instructed to add the target framework `.NETPlatform,Version=v5.0`. As soon as

[2016-07-21 17:29] rchande commented on #10213
Ping @ericstj . Did this package get broken?

[2016-07-21 18:16] danmosemsft opened #10215 "Port Uri missing members"
[code]

[2016-07-21 18:20] davidsh commented on #10215
cc: @CIPop @himadrisarkar

[2016-07-21 18:30] danmosemsft commented on #10066
@sokket, re: where to expose I think these will be on System.Runtime. Talk to @weshaggard

[2016-07-21 18:55] danmosemsft opened #10216 "Fill out missing String members"
[code]

Some others are tracked in https://github.com/dotnet/corefx/issues/10066

[2016-07-21 18:58] huanwu opened #10217 "Missing GetDataContractOriginalType method"
When serialize a object with DateTimeOffset property, the OriginalUnderlyType of DataContract is always DateTimeOffsetAgent type, which should be DateTimeOffset based on Desktop version. This is because it is missing following methods in DataContractCriticalHelper.

[code]

[2016-07-21 19:13] PinpointTownes opened #10218 "Consider exposing the underlying error message when a CryptographicException is thrown"
On .NET Core, the error message returned when a cryptographic exception is thrown only includes the error code, [but not the description](https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Csp/src/System/Security/Cryptography/CapiHelper.cs#L156). Though not always super useful, having the error description helps understand what's happening when something goes wrong.

For

[2016-07-21 20:32] ericeil commented on #7833
#8223 has been closed as "not possible at this time."  Closing this issue similarly.

[2016-07-21 20:32] #7833 closed

[2016-07-21 20:35] josteink commented on #2046
As far as I can tell, the LLDB SOS plugin should not be functional. Hopefully that will assist further progress.

[2016-07-21 21:06] Maoni0 commented on #10157
Unless you've stashed the Thread object somewhere it will be pretty expensive to get to the object via CurrentThread. And in many cases we do not expose the Thread object. So I would provide both a static method for getting the current thread's alloc bytes and an instance method for people who have the Thread object stashed somewhere.

[2016-07-21 21:08] pf-chris-mackubin opened #10223 "ZipArchive permissions on linux"
ZipArchive doesn't currently allow manipulation permissions within.  I ran into this when creating file in memory, dropping it into a zip and handing off to another system.  With this code deployed on Linux, I'm not seeing a way to give the receiving system read access to contents of zip.

**Example:**
[code]

[2016-07-21 21:13] DemiMarie commented on #7023
I agree.  However, the default method should just use byte arrays (simple
and safe).

On Jul 21, 2016 2:21 AM, "mmaguigan" <notifications@github.com> wrote:

[2016-07-21 21:14] #8509 closed

[2016-07-21 21:56] joperezr commented on #9516
After some investigation, ArgIterator might be a bit tricky to port given that it actually has internal calls to the CLR which today don't exist in CoreCLR. Also, ArgIterator is not a type that people can call, so we will revisit this in the future.

[2016-07-21 22:02] migueldeicaza commented on #9012
Hello

We just released a beta of Mono with support for .NET Standard 1.6, would you guys be so kind to test again?

I tried using dotnet core, but it does not seem to be setup to work with those of us that do not want to have a system-gloabl brew installation.

[2016-07-21 22:06] mmaguigan commented on #7023
I have no problem with supporting byte arrays via the standard Init, Update, Final (IUF) pattern or whatever the community/microsoft comes up with - I'm sure it will be great. I do however have a problem shoehorning every implementation through simplistic methods like ```Encrypt(byte[] plaintext)```, it's cute but it doesn't scale. Whereas streams, IUF patterns and like methods scale well and work

[2016-07-21 22:16] stephentoub commented on #9516
@jkotas, @danmosemsft, is ArgIterator something we're going to re-enable in CoreCLR, CoreRT?

[2016-07-21 22:27] hoyosjs commented on #9252
This has been fixed on dev/cms_unix

[2016-07-21 22:36] ianhays commented on #10223
I'm not sure I follow. In your example you don't actually have a zip file, you have a stream that contains zipped data. Are you sending that data somewhere and constructing a new ZipArchive object from it?

Or are you saying that when unzipping a zip you want the files within to have different Unix permissions? We don't have support in CoreFX to modify traditional unix RWX permissions, though I ad

[2016-07-21 22:40] hoyosjs opened #10226 "[dev/cms_unix] EnvelopedCms.Decrypt and EnvelopedCms.Encrypt don't support use of KeyAgreement certificates on Unix"
Due to lack of support of OpenSSL to use certificates using DH or ECDH for encryption and decryption of enveloped messages, the current implementation doesn't support decrypting for recipients holding only KeyAgreement certificates or encrypting using one. As of now performing any of these operations throws a PlatformNotSupported exception.

The only way to work around this seems to be to manually

[2016-07-21 22:41] danmosemsft commented on #9516
It's available in mobile Xamarin apps, so yes. @jkotas Does this need work on the runtime team? If so Jose can open a new issue.

[2016-07-21 22:45] stephentoub commented on #2949
This has been checked in here:
https://github.com/dotnet/corefx/tree/dev/api/src/System.Transactions

[2016-07-21 22:45] #2949 closed

[2016-07-21 22:47] jkotas commented on #9516
P3. If we get to it, it will be towards the end - expensive to support, limited value. I think it is fine to not add the ArgIterator overloads to Console, at least for now.

Right, it would need to live in System.Private.CoreLib. It is runtime type.

Not sure what you mean ... it has number of methods that people can call.

[2016-07-21 23:53] stephentoub commented on #9728
I'm sure there are other ways, but I did:
[code]
and then with that library being used:
[code]
I can successfully use these features...
[code]

[2016-07-22 01:01] alanrenouf commented on #9728
Fantastic, the export DYLD_LIBRARY_PATH=/usr/local/lib/ was what i was missing! Thanks

[2016-07-22 01:10] pf-chris-mackubin commented on #10223
Sorry, should have added more detail.  In my example above, the upload method is sending the stream into another system (in this case AWS S3) which is saving the stream to disk in their system.  By default thou, there is no read access on the ArchiveEntry, leading to permission denied when the other system attempts to access the contents of zip.

I should note:  The service that is running the cod

[2016-07-22 01:18] zhenlan commented on #7325
This issue is blocking the WCF Windows authentication to work on http transport for Linux and OS X (dotnet/wcf#946)

[2016-07-22 01:35] joaope opened #10230 "HttpClientHandler.AutomaticDecompression defaults to GZip|Deflate but not on documentation"
`HttpClientHandler.AutomaticDecompression`'s [documentation](https://docs.microsoft.com/en-us/dotnet/core/api/system.net.http.httpclienthandler#System_Net_Http_HttpClientHandler_AutomaticDecompression) states that default value is `None` when [implementation](https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Net/Http/HttpHandlerDefaults.cs#L15) says otherwise.

Which one is correc

[2016-07-22 01:49] DemiMarie commented on #7023
@mmaguigan The problem is that, _with AES-GCM and ChaCha20-Poly1305_ (the latter of which also needs to be included in .NET Core), releasing unverified plaintext allows the attacker to decrypt messages of their choosing:

1. Find a message M that you want decrypted.
2. Create a message B that has the same nonce as M.  Send it.
3. The vulnerable target releases the unverified output P of the decryp

[2016-07-22 02:14] davidsh commented on #10230
cc: @himadrisarkar @CIPop

The implementation is correct.  The documentation is wrong.

[2016-07-22 02:33] mmaguigan commented on #7023
I understand your point entirely. My point is that this is the wrong place to place safety-mechanisms - this is a primitive that **will** be relied upon for interoperability - and if you don't provide this primitive as per the standard (without forcing the user to load the entire cipher text into RAM - which is in and of itself a terrible practice with data sets of an unknown size) they will be fo

[2016-07-22 02:46] manu-silicon commented on #5964
Got bitten by the lack of Lock recently. When is this planned exactly? Any help needed to get this going?