[2018-01-03 19:37] stephentoub commented on #26078
If that's how it's triggered then it makes sense you'd get such an OperationCanceledException.

[2018-01-03 19:44] Joe4evr commented on #26124
`Dangerous` methods are dangerous, who'd have thunk it? 🙃

[2018-01-03 19:54] danmosemsft commented on #17126
@saurabh500 do you have 2.1 plans to share, that would help separate what your team plans to do here and where community contributions would be welcomed?

[2018-01-03 20:01] karelz commented on #25252
Sounds reasonable. Is there preferred timeline?

[2018-01-03 20:03] bartonjs commented on #26126
@karelz This doesn't really have anything to do with security/certificates; it's more a question for whatever reads the configuration.

[2018-01-03 20:24] weshaggard commented on #6185
@jkotas is that true for any public structs?

[2018-01-03 20:26] ayende commented on #26061
No, that isn't the case. The server is using _your_ certificate, not mine.
And against the same server, using your `unknown-only.pfx` completes quickly, so that isn't the server validating its own cert. It is the server validating the _client_ cert.

Only for that _client_ cert, because with the same server cert and config, using another cert from the client triggered the same behavior.

There are

[2018-01-03 20:27] MarcoRossignoli commented on #25403
I can try to fix it, i found one test [here](https://github.com/MarcoRossignoli/corefx/blob/9f3438c6ee37d243de2c7ac5ae98f18d408124c0/src/System.Diagnostics.PerformanceCounter/tests/PerformanceCounterCategoryTests.cs#L247) where without lock after some seconds "Category does not exist." exception raise.

[2018-01-03 20:29] weshaggard commented on #25252
We will need it for 2.1, it would be nice to have for preview1 but I don't think it is required for preview1.

[2018-01-03 20:34] danmosemsft commented on #26121
Does it work from hte command line? ie in System.Data.SqlClient\tests, do `msbuild /t:buildandtest`

[2018-01-03 20:37] danmosemsft commented on #26121
Or you could do "nuke from orbit". From the root
[code]

[2018-01-03 20:40] wtgodbe commented on #25252
Does anyone know if we already have a docker image for Fedora 27? @chcosta maybe?

[2018-01-03 20:41] #26122 closed

[2018-01-03 20:41] wtgodbe commented on #26122
CI is green with https://github.com/dotnet/corefx/pull/26134, so this should be resolved. Please re-open if these fail again.

[2018-01-03 21:24] AtsushiKan commented on #24510
This looks like an old point-in-time failure triggered by the Project N framework and corefx being out of sync on which contract Span lives in (and thus, Span not getting whitelisted for Reflection.)

[2018-01-03 21:24] #24510 closed

[2018-01-03 21:28] karelz commented on #26126
@bartonjs ok, can you update the area path then?

[2018-01-03 21:30] danmosemsft commented on #26130
@wtgodbe could you please take care of this one?

[2018-01-03 21:30] danmosemsft commented on #26130
cc @karelz

[2018-01-03 21:31] danmosemsft commented on #26124
Shouldn't it be ArgumentNullException? Or is this so hot a path that we don't even want to check.

[2018-01-03 21:33] danmosemsft commented on #26125
Do you want to offer a PR + test @ayende ?

[2018-01-03 21:43] jkotas commented on #6185
A few examples:

[code]

[2018-01-03 21:45] ayende commented on #26125
@danmosemsft Yes, I can do that.
One thing that I wonder, there is the `GC.KeepAlive` call there, which is strange.
The value that is there is already kept alive because is is on `_certs`, no? Am I missing something?

[2018-01-03 21:48] wtgodbe commented on #26130
@danmosemsft I'm confused as to why we're asserting that name==null at https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/Mutex.cs#L105

[2018-01-03 21:53] jkotas commented on #26124
Yes, this method was not meant to have argument checks (because of proper argument checks would make it a lot slower - it is not just about checking for null).

[2018-01-03 22:01] danmosemsft commented on #26130
@wtgodbe Mutexes can be anonymous, you indicate that by passing null. https://msdn.microsoft.com/en-us/library/f55ddskf(v=vs.110).aspx

It looks like this assert was to verify that VerifyNameForCreate was called already. That has #if !PLATFORM_UNIX around it. It looks like the assert should have that too.

Then you can also upgrade the "invalid name" exception messages as I suggested.

[2018-01-03 22:06] danmosemsft commented on #26125
@ayende it looks like from 1dd166f comment that it was added for consistency/defensively.

[2018-01-03 22:07] davidfowl commented on #26124
I see. Well I believe that code “works” with built in span (doesn’t blow up) and fails with portable span.

[2018-01-03 22:22] ayende commented on #26125
Okay, some of them looks legit, if the GC is really active, some are probably not relevant since the instance is holding this, I'll match this style, just in case.

[2018-01-03 22:30] bartonjs commented on #26126
@karelz I don't know where the config stuff comes from.  I was hoping you would, and that you'd update the path :).

[2018-01-03 22:35] ViktorHofer commented on #26130
@danmosemsft I guess you wanted me to look at it but changed your mind and assigned @wtgodbe later?

[2018-01-03 22:37] danmosemsft commented on #25427
On Windows this is currently achieved by MSBuild and presumably Roslyn by setting ACL's on the pipe using the PipeSecurity object -- which we don't have on the constructor anymore (#24040).

Here's links to the code:

At the server end, MSBuild sets appropriate ACL on the pipe to limit who can connect to it: https://github.com/Microsoft/msbuild/blob/63d5e628f9b87a3faf33a8ac061c5c17fcf7f6b3/src/Sha

[2018-01-03 22:46] #26133 closed

[2018-01-03 22:47] danmosemsft commented on #26130
@ViktorHofer please disregard, I just put you down as you made the original change so you might have context

[2018-01-03 22:50] KrzysztofCwalina opened #26139 "Move Span.DangerousCreate to MemoryMarshal.Create"
current API:
[code]

  proposed API:
[code]

[2018-01-03 23:01] pjanotti commented on #24594
@jiria this was merged to the servicing branch.

[2018-01-03 23:01] #24594 closed

[2018-01-03 23:05] wtgodbe commented on #26130
I am more confused now - say I try to create a new Mutex object on Windows with the name `mutex`. VerifyNameForCreate will be called, and will return without throwing an exception, since my name isn't longer than Path.MaxPath - https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/Mutex.cs#L93. Then we will enter CreateMutexCore, and will hit `Debug.Assert(name == null);`

[2018-01-03 23:19] safern commented on #26084
I took a look at the issue and this is expected. When you have a .NET Framework library and you reference it from a .NET Core app you will likely hit issues like this one, we don't guarantee that this scenarios will work all the time (it is almost impossible to make this a 100% compatible scenario).

The main issue here is that the full framework library that you're building is using `mutex.SetAcc

[2018-01-03 23:41] weshaggard opened #26142 "System.Data.SqlClient needs to update version"
As part of https://github.com/dotnet/corefx/pull/25142 new API was added to the assembly which mean we need to bump the minor assembly version the PR only updated the patch version from 4.3.0 to 4.3.1 (see comment https://github.com/dotnet/corefx/pull/25142#discussion_r156465074). We should update assembly version to 4.4.0.

Given this library currently ships inbox for UAP we need to start shippin

[2018-01-04 00:12] CarlosOnline commented on #26084
Why is this closed.  I have mentioned that this works in .netcore 1.1.  I was hoping to upgrade the project to .netcore 2.0.

[2018-01-04 00:14] weshaggard commented on #26084
@CarlosOnline can you please point us at .NET Core 1.1 application that can correctly consume your .NET Framework library? I don't expect this to work.

[2018-01-04 00:17] KrzysztofCwalina commented on #25182
In addition, there are some duplicated methods in the platform now:
[code]

We should get rid of this duplication as part of this workitem

[2018-01-04 00:18] safern commented on #26084
Sorry for closing. I thought the System.Runtime.Remoting one was the one working in netcore1.1 but System.Threading.AccessControl scenario wasn't.

[2018-01-04 00:19] Drawaes commented on #24407
I can take a look this weekend if you want

[2018-01-04 00:21] saurabh500 commented on #26142
@corivera Can you take a look?

[2018-01-04 00:21] karelz commented on #26130
I think the else-branch assert is triggered on UNIX. It says that on UNIX, you can have only `null` name for mutex. That is wrong.
I think it was a mistake introduced here: https://github.com/dotnet/coreclr/pull/15229/files#diff-eccefb2b4e8c0df9169261509103c566R105

[2018-01-04 00:23] danmosemsft commented on #26130
My bad, this repo was not synced, hence my misstatements above.. What @karelz says sounds right.

[2018-01-04 00:31] weshaggard commented on #26084
I took your .NET Framework Util class and consumed it from a .NET Core 1.1 console application and it failed with:

[code]
That is expected because those types and members didn't exist anywhere in .NET Core 1.1.

Next I did the same thing with your .NET Framework Util class and consumed it from a .NET Core 2.0 console application and it failed with:
[code]

Which is to be expected because it needs

[2018-01-04 00:35] karelz commented on #26126
Oh, the repro is pretty confusing - why does it involve `X509Certificate2` when the problem is in reading json config file?
I assume you get unexpected values even if you just print the value to console or check it under debugger. Or if you use any other `File` API.

Check your configuration file, JSON syntax. If you think the JSON reader has a bug, ask on their repo under https://github.com/aspne

[2018-01-04 00:36] #26126 closed

[2018-01-04 00:36] saluton-mundo commented on #26126
I've altered the issue title. I've been able to replicate the issue with File.Open and ReadAllBytes.

Created an example project, [https://github.com/saluton-mundo/config-path-example](https://github.com/saluton-mundo/config-path-example)

Thanks to all for taking the time to read my reports. It's such a simple thing I;m trying to do here and I fear I may be doing something silly.

[2018-01-04 00:38] joshfree opened #26144 "ClientWebSocket proxy support"
System.Net.WebSockets.ClientWebSocket

tracking:
Allow customers to use a proxy with AMQP+WS and MQTT+WS

[2018-01-04 00:38] jkotas opened #26145 "Build and package System.Runtime.CompilerServices.Unsafe for netcoreapp20"
We would have a performance regression in some of the Unsafe.As methods otherwise. It should build and packaged for netcoreapp2.0 that will cover the live netcoreapp as well.

See https://github.com/dotnet/corefx/pull/25959/files/0c0e5136caec611a7178470ff8fbcaa754ddc1a8#discussion_r159258597  for full discussion.

[2018-01-04 00:40] joshfree opened #26146 "ClientWebSocket x509 Support"
System.Net.WebSockets.ClientWebSocket

tracking:
This is needed for certificate based authentication for AMQP+WS and MQTT+WS

related tracking issue #26144

[2018-01-04 00:48] karelz commented on #26144
Related to #9503

[2018-01-04 00:51] weshaggard commented on #26145
We can add a netcoreapp2.0 configuration but we also need to keep the netcoreapp configuration so we can build the entire netcoreapp vertical against live bits.

[2018-01-04 00:58] saluton-mundo commented on #26126
@karelz do you think you could reopen and assign it to the appropriate area path? I have no idea which corefx team is dealing but the issue is active.

If you slap a breakpoint on line 20 in `CertificateService.cs` within the project I created for this issue you can inspect the value which _should_ work. Yet I get a path exception.

Obviously create a Certificate.txt and store it on your file syst

[2018-01-04 01:02] Priya91 commented on #24407
@Drawaes Thanks, i'm working on this, after I get the PR on sslstream ciphers in.

[2018-01-04 01:10] karelz commented on #26126
@saluton-mundo per your description, it seems you have troubles to retrieve value from json file, is that not the case?
That part is not in CoreFX, but either problem of your json file, or in json parser / the API wrapped around it by ASP.NET (https://github.com/aspnet). Disclaimer: I am not familiar with `IOptions` and ASP.NET configuration system myself.

If you think that CoreFX APIs have probl

[2018-01-04 01:25] stephentoub commented on #26144
What is the work here? Isn't this done once those linked issues are fixed?

[2018-01-04 02:43] #26081 closed

[2018-01-04 03:27] GrabYourPitchforks commented on #25648
As part of this work, I propose we also change the Span-based `WriteDigits` implementation as follows.

[code]

In my testing this is around 10 - 15% faster than the existing implementation which utilizes `DivRem`. I think the reason for this is two-fold: (a) the JITter can more effectively combine separate `MOV` and `ADD` instructions into a single `LEA`, and (b) moving the `LEA` (from `'0' + val

[2018-01-04 04:50] jkotas commented on #26128
WinRT is not supported in .NET Core currently. It is tracked by #22789 and a few other issues.

WinRT is supported on UAP. It should be possible to test WinRT-specific functionality via UAP-specific tests.

[2018-01-04 05:12] eyalsk opened #26148 "A question about PipeOptions.Asynchronous and async/await"
I'm not sure but it seems like `PipeOptions.Asynchronous` should only be used with the old async APIs Begin* and End* pair, is this correct? because from my tests using an example I wrote for an issue I had at [SO ](https://stackoverflow.com/questions/48059410/using-namedpipeserverstream-and-namedpipeclientstream-asynchronously/48074144#48074144) (at the bottom of the page) it hangs if it isn't se

[2018-01-04 06:47] msmolka commented on #26129
@weshaggard my issue is related to create workarounds for multiple binding issues. I cannot migrate to `<PackageReference>`, because some of my packages are incompatible (MsBuild ones). Also migrating is big pain. I've spend 5 hours to do that, and still was hit with different errors, and losing references by VS.

I'm using standard .NET Framework MVC 5 application. I've recently successfully migr

[2018-01-04 09:49] agoodwin commented on #11155
Sorry if this is the wrong place to ask, but this is slightly relevant to the OP because I also had the misconception that `System.Collections.Immutable` was part of .NET Standard (and therefore also part of the BCL of the .NET Framework).

I realise now that it's a separate NuGet package, but it does seem to be a bit of a special case - what with being in a namespace as central to .NET as `System

[2018-01-04 09:55] henkmollema commented on #25102
@danmosemsft .NET Core 2.0.

[2018-01-04 10:18] eyalsk commented on #26148
This seems to be the case for `FileStream` too not just pipes so I guess it relates to any kind of stream.

[2018-01-04 10:28] rars commented on #21824
Hi, I have also encountered this issue. I’m using Dapper 1.50.2 and System.Data.SqlClient.SqlConnection 4.2.0.0 in a netcoreapp2.0 console application.

The call that is failing is making a stored procedure call that calls through to a linked sql server.

When run on windows it works fine, but running from Linux results in the anonymous logon error. If a manual call is made via ssms using the same

[2018-01-04 10:57] JonHanna commented on #26128
@jkotas are there any tests that use WinRT types against corefx already, do you know?

[2018-01-04 11:56] jkotas commented on #26128
These tests should be using WinRT - you can tell by looking for `<Reference Include="Windows" />` in .csproj file:

[code]

[2018-01-04 12:27] JonHanna commented on #26128
Thanks, that should be enough to get over the initial hurdle of total newbieness.

[2018-01-04 12:27] #26128 closed

[2018-01-04 13:27] eyalsk commented on #26148
@stephentoub There you go [PipesAsyncAwait471.zip](https://github.com/dotnet/corefx/files/1603435/PipesAsyncAwait471.zip)

[2018-01-04 14:54] stephentoub commented on #26148
PipeOptions.Asynchronous is simply causing a different order of execution than PipeOptions.None, and that's exposing a race condition / deadlock in your code.  You can see the effect of it if you use Task Manager, for example, to monitor the thread count of your process... you should see it creeping up at a rate of appx 1 thread per second, until it gets to around 100 threads (maybe 110 or so), at

[2018-01-04 14:54] #26148 closed

[2018-01-04 15:00] stephentoub commented on #26146
@joshfree, what does "support" here mean? Is this about adding APIs to enable something, and if so, what specifically?  ClientWebSocketOptions already has ClientCertificates; is this about a validation callback, certificate revocation checking, something else?

[2018-01-04 15:03] eyalsk commented on #26148
@stephentoub Okay thanks, I'll look into it.

[2018-01-04 16:20] jnm2 opened #26150 "SR.Metadata API to serialize sequence points as well as deserialize"
While rewriting PDBs (cloning a `MetadataReader` to a `MetadataBuilder`), I need to map old DocumentHandles to new DocumentHandles for each `SequencePoint.Document` in `MethodDebugInformation.GetSequencePoints()`.

I need some way to serialize the modified SequncePoints back into a blob. Right now the only implementation of this is internal and part of Roslyn: https://github.com/dotnet/roslyn/blob

[2018-01-04 16:24] bgribaudo commented on #25855
@danmosemsft , good point! For my purposes, I wouldn't be opposed to dropping GetParentProcessId(). The nice thing about GetParentProcess() and GetChildProcesses() is that they can factor in the start time check.

I like the idea. Maybe something like:

    Kill(bool entireProcessTree = false); // false = existing behavior of Kill()

Can you think of use cases that would make it desirable to also

[2018-01-04 16:35] tannergooding commented on #25926
I'm not sure what you mean?

I am proposing we add a `byte Sse.ShuffleParameter(byte fp3, byte fp2, byte fp1, byte fp0)` API. Said API would require that all four parameters are `GT_CNS_INT`. The importer would then transform it to a gtIconNode with a value of `(fp3 << 6) | (fp2 << 4) | (fp1 << 2)) | fp0`

Users would then need to consume that via: `Sse.Shuffle(left, right, Sse.ShuffleParameter(3,

[2018-01-04 16:40] karelz commented on #26144
We do not have anyone signed up yet. It is 2.1 ask from partner team, so we will cost it and try to schedule it.
The ManagedHandler work is not tracked for 2.1 at this moment (it may change as we're discussing on emails).
Either way, I assume that there will be small amount of work specific to this issue (although majority is the same and reusable), as ManagedWebSocket does not depend directly on

[2018-01-04 16:40] danmosemsft commented on #25855
It seems to me that GetParentProcess() and GetChildProcesses() could lead to the pit of failure as well, since the Process object when initialized is keyed by the process ID, which can be repurposed. It does not get a handle to the process until it needs one. So GetParentProcess() eg could give you a Process object that when you ultimately use it could act on an unrelated process.

If the scenario

[2018-01-04 16:43] stephentoub commented on #26144
ClientWebSocket DOES depend directly on ManagedHandler.

Cost what? Back to my question... what is this tracking that those issues aren't?

[2018-01-04 16:47] karelz commented on #26144
OK, that's news to me. I thought it had its own small copy based on info I got in December.
In that case, the work is the same (when the 2 will happen). The ask / scenario / motivation is just different. Given that it is partner ask, there was a desire to track it explicitly.

[2018-01-04 16:47] fiigii commented on #25926
I meant Roslyn cannot recognize the return value of ShuffleParameter as `const`(we don’t have the `constexpr`).

[2018-01-04 16:58] tannergooding commented on #25926
Yes. It would need to be handled by the JIT, but provided that `ShuffleParameter` is folded (and it can be, provided all four arguments passed to it are GT_CNS_INT), it should work in all the same places that directly specifying a constant would.

[2018-01-04 17:01] fiigii commented on #25926
But it would need to be handled by Roslyn also.

[2018-01-04 17:01] tannergooding commented on #25926
Why?

[2018-01-04 17:03] mikedn commented on #25926
Roslyn does not need to be involved in this. As long as the JIT recognizes `ShuffleParameter` everything should work fine. In fact, it's not even necessary that the JIT specifically recognizes `ShuffleParameter`, aggressive inlining should be enough.

[2018-01-04 17:06] fiigii commented on #25926
We will change these IMM intrinsic APIs to have `const byte control`.

[2018-01-04 17:10] tannergooding commented on #25926
I thought that the language team decided to not support that at this time and that an analyzer "should" be sufficient.

[2018-01-04 17:10] tthiery commented on #11155
My original confusion was about why `System.Collections.Immutable` was included in [Microsoft.NETCore.App](https://www.nuget.org/packages/Microsoft.NETCore.App/) but not in [NETStandard.Library](https://www.nuget.org/packages/NETStandard.Library/). But that has been changed in between. `Microsoft.NETCore.App` 2.0.x does not include `System.Collections.Immutable` anymore.

`System.ValueTuple` is a

[2018-01-04 17:13] tannergooding commented on #25926
Ah, no, it looks like it hasn't gone to LDM (and if it has, the notes might not be up yet).

The PR proposing the functionality (https://github.com/dotnet/csharplang/pull/886) has had quite a bit of pushback due to the ease of implementing it as an analyzer and cost of implementing it in the language.

[2018-01-04 17:23] CarlosOnline commented on #26084
I have added **spa1.1** to the solution:: [DotNetCore20MutexSetAccessControl](https://github.com/CarlosOnline/DotNetCore20MutexSetAccessControl)
from a project I originally created from dotnet core 1.0 and upgraded.

I noticed that the targetframework in spa1.1 is net451, and not netcore1.1.  However it is still using .netcore.  **How is this possible?**

[code]

[2018-01-04 17:38] danmosemsft commented on #25102
@qmfrederik any thoughts?

[2018-01-04 17:39] #23138 closed

[2018-01-04 17:55] tarekgh commented on #25960
I am able to repro this now. I am going to take a deeper look. Initially, it looks the problem with the COM interop part.

[2018-01-04 18:05] weshaggard commented on #26084
It isn't using .NET Core it is running on .NET Framework. Part of the confusion here I think is that ASP.NET Core runs on both .NET Core and .NET Framework so you can definitely have ASP.NET Core application that will work and run on .NET Framework as well.

[2018-01-04 18:19] weshaggard commented on #26129
Thanks for the info @msmolka. I agree the extra dependencies may cause some extra binding redirects to be generated but that should be done automatically by the tools, is that not happening for you?

We will look at what options we have to reduce the package dependency graph.

[2018-01-04 18:27] saurabh500 commented on #25619
Fixed with https://github.com/dotnet/corefx/pull/26016

[2018-01-04 18:27] #25619 closed

[2018-01-04 18:29] saurabh500 commented on #17126
For any community contributions, I would say following are a good place to start. Some of these APIs are already available and need to be made public. Example PR to accomplish such tasks is
https://github.com/dotnet/corefx/pull/26016

[code]

[2018-01-04 18:49] davidsh commented on #26092
Yes.  The root cause is probably due to "timeouts/request cancellation".  9228 is a bug that when fixed will correct the error handling during cancellation so that the proper exception (OperationCanceled, etc.) will be thrown all the time instead of other random exceptions.

[2018-01-04 18:53] weshaggard commented on #26129
@msmolka I did a little more investigation and I released that you don't even need this package to use the System.IO.Packaging APIs if you are targeting .NET Framework 4.7.1 as they already exist in the platform. You would only ever need to reference this package if you are writing a .NET Standard Library or you are consuming another .NET Standard Library that uses these APIs. So for you I would s

[2018-01-04 18:54] shmao opened #26154 "Area-Serialization Sprint 129"
The issue is for tracking issues to be done in sprint 128 (due by 1/12/2018)

[2018-01-04 19:07] GrabYourPitchforks commented on #25648
The performance of this routine would be further improved by addressing the following two issues:

* https://github.com/dotnet/coreclr/issues/963
* https://github.com/dotnet/coreclr/issues/15723

[2018-01-04 19:08] msmolka commented on #26129
@weshaggard I'm referencing OpenXml library, which references IO.Packaging.
Like I mentioned, I have standard .NET ASP application, not Core.
IO.Packaging in version 4.3.0 did not referenced .NET standard library. But from version 4.4.0 started.

 I will try your advise tomorrow

[2018-01-04 19:13] CarlosOnline commented on #26084
Can ASP.NET Core 2.0 also run on .Net Framework?
If so how would I achieve that?

[2018-01-04 19:21] shmao commented on #22853
Thanks for trying and sharing the workaround, @DamirLisak .

[2018-01-04 19:22] #25153 closed

[2018-01-04 19:23] hscanlan commented on #25330
I have this issue. How do you fix it?

[2018-01-04 19:27] #20329 closed

[2018-01-04 19:31] #25610 closed

[2018-01-04 19:31] weshaggard commented on #26084
Yes I do believe it would. The version of ASP.NET Core is controlled by the package references you use https://github.com/CarlosOnline/DotNetCore20MutexSetAccessControl/blob/master/spa/DotNetCore20MutexSetAccessControl.csproj#L11 being the key one. The key to get it to run on .NET Framework is the TargetFramework property, try setting https://github.com/CarlosOnline/DotNetCore20MutexSetAccessContr

[2018-01-04 19:31] #24309 closed

[2018-01-04 20:04] ghost opened #26156 "Proposal ZipArchive ctor that accepts byte[] or Memory<byte>"
# Rationale

Generally, it is inconvenient to create stream from byte array as the code looks like:

[code]

If we happen to have ziparchive in memory, as byte array, this overhead of first creating memory stream from byte array to satisfy ZipArchive's ctor is significant.

# Proposal

In addition to the existing ToString overloads in BitConverter:

[code]

Please consider:

[code]

# Example:

[c

[2018-01-04 20:05] karelz opened #26157 "[Regression] Tests failed in System.ServiceProcess - FileNotFoundException"
Failure is on all Windows OS versions (not Linux/Mac).
Likely regression from #26136 (@danmosemsft) - see @weshaggard's comment. I wonder why CI didn't catch it. I thought we use the same Helix infrastructure ...

## Types of failures

Affected tests:
* System.ServiceProcess.Tests.ServiceBaseTests /
  * TestOnContinueBeforePause
  * TestOnExecuteCustomCommand
  * TestOnPauseAndContinueThenStop
  *

[2018-01-04 20:08] GrabYourPitchforks commented on #25648
FWIW, the below would be my ideal amd64 codegen for this method. It's around 20 - 25% faster on my machine than the original code. All bounds checks except for the final `buffer[0] = ...` are elided. There are no unnecessary `movsxd` / `movzx` instructions. There is no `mul` performed for the leftmost digit.

[code]

[2018-01-04 20:12] jnm2 commented on #26156
What about `new MemoryStream(myBytes, writable: false)`?

[2018-01-04 20:19] kasper3 commented on #26156
point is that memory stream copies this byte[] internally or we explicitly copy to it with Write()
Having a Memory<byte>, byte[] or even ReadOnlyMemory<byte> will skip that additional copy-of-N-bytes overhead (where N could be a huge).

[2018-01-04 20:20] jnm2 commented on #26156
@kasper3 The memory stream constructor does not copy the buffer parameter.

[2018-01-04 20:31] tarekgh commented on #25960
I have debugged and found that the problem is in the COM interop layer in coreclr. When calling a com interface method and it fails, we should be throwing COMException but there was a regression which caused throwing the generic Exception instead of COMException.

The problem is we have code which catches the COMException and handle it

https://github.com/dotnet/corefx/blob/master/src/System.Direc

[2018-01-04 20:44] tarekgh commented on #25960
I have assigned the issue to Faizur who is going to port the fix to v2.0 branch. I have labeled the issue as v2.0 too.

[2018-01-04 20:52] danmosemsft commented on #25960
Thanks @tarekgh . We should get this in 2.0.6.

[2018-01-04 20:53] gokarnm opened #26159 "Building pre-jitted CoreFx bits"
Hi,

 When I build the CoreFx repo locally on a Linux machine, the built CoreFx bits contain only IL, unlike the bits [Microsoft distributes](https://download.microsoft.com/download/2/B/2/2B2854E7-7EAE-4FE9-85D2-19ACCD716F18/dotnet-runtime-2.0.4-linux-x64.tar.gz), which seem to be pre-jitted (PE64 flag is on, and ILOnly flag is off).

What is the process to build a pre-jitted version of CoreFx? Is

[2018-01-04 21:01] danmosemsft commented on #26157
@karelz CI does not run as admin, so the tests would not run there (if it did I would have to request outerloop as well). Also unfortunately the tests will not run locally - for some reason new services started as LocalService won't start on my machine.

@weshaggard before I go just revert the AppendAllText part, can you explain how it caused this? File.AppendAllText disposes its StreamWriter caus

[2018-01-04 21:21] karelz commented on #26159
@weshaggard would you know? I don't think it is in our dogfooding steps ...

[2018-01-04 21:39] weshaggard opened #26162 "Minimize nuget package dependencies"
As .NET Standard support gets added inbox on more platforms, in particular .NET Framework, we should add some logic to your packaging that will minimize the package dependencies when targeting those platforms. In particular any package that is targeting NETStandard.Library (or its closure) before 2.0 should have a empty dependency group for net461 and higher to eliminate the need for that package

[2018-01-04 21:41] #25824 closed

[2018-01-04 21:41] #25826 closed

[2018-01-04 22:13] weshaggard commented on #25039
@jkotas @jaredpar I'm going to make some updates to our tooling to understand the new C# features. I will add support for readonly and ref returns are there any other interesting keywords/features we need to make sure exist?

[2018-01-04 22:39] stakx opened #26164 "From corefx's perspective, how should an optional DateTime parameter's default value be encoded in IL?"
This is a follow-up question from https://github.com/dotnet/roslyn/issues/24004 intended to determine whether there is a bug in the C# compiler or the framework. I'd appreciate an answer from corefx's perspective that I can take back to the discussion in the referenced issue.

The following C# program will throw a runtime exception:

[code]

[code]

An equivalent program written in VB.NET would wo

[2018-01-04 22:57] JonHanna commented on #26164
Unlike VB.NET, the only possible compile-time constant value for `DateTime` is `default(DateTime)` and that is represented just as validly by `DateTimeConstantAttribute` or by `OptionalAttribute` alone. In the latter case `DefaultValue` would be `null`, but it shouldn't throw (compare with the same code using another struct as the type of the parameter).

This would seem to be a bug in the impleme

[2018-01-04 23:00] jkotas commented on #25039
Here are the different cases that I can think of:
- ref structs: `ref struct MyStruct { }`
- ref returns: `ref int MyMethod()`
- readonly arguments: `void MyMethod(in DateTime arg)`
- readonly ref returns `ref readonly DateTime MyMethod()`
- readonly structs: `readonly struct MyStruct { }`
- tuple arguments/returns: `(int My1, int My2) MyMethod()`

[2018-01-04 23:01] HaloFour commented on #26164
I've confirmed that it seems to work with any `struct` that I've thrown at it with the sole exception of `System.DateTime`.

[2018-01-04 23:03] #18445 closed

[2018-01-04 23:04] wtgodbe commented on #26130
Fixed by https://github.com/dotnet/coreclr/pull/15734

[2018-01-04 23:04] #26130 closed

[2018-01-04 23:12] stakx commented on #26164
@HaloFour - It might also be interesting to throw *nullable* structs at it... have you tried this? I'm off for today, but might try this tomorrow.

Either way, I'm asking specifically about `DateTime` because as noted above, it seems to be the only case that doesn't work from C#. (`decimal`, another potential special case, works fine because the compiler knows to emit `[DecimalConstantAttribute]`.

[2018-01-04 23:14] JonHanna commented on #26164
They work fine, including `DateTime?`

[2018-01-04 23:23] mattzink commented on #21577
@Priya91 What I meant was that while the implementation isn't dependent on SslStream, the APIs exposed for cipher customization should be identical to what's being discussed in https://github.com/dotnet/corefx/issues/24588.

[2018-01-04 23:25] benjaminpetit opened #26165 "Getting CPU/Memory usage from a .NET Core App"
Hi,

Right now in our application in .NET 4.x, we get the CPU and Memory usage from the machine using performance counters. But of course this works only on Windows.

In .NET Core we are only able to leverage the data from `GC.GetTotalMemory`, but it only return the memory consumed by our app, not by all processes on the machine.

 What would be the best "cross-platform" way to do this using .NET

[2018-01-04 23:37] JonHanna commented on #26164
The flaw is in https://github.com/dotnet/coreclr/blob/d2f2e81294a80a1b463ea185decd07e49e67f976/src/mscorlib/src/System/Reflection/MdConstant.cs#L97-L98 where the case of a default value for a `DateTime` that is optional but has no metadata about the value itself included (should be `CorElementType.Class` I think) and return the relevant value.

A question is just what is that relevant value? There

[2018-01-04 23:49] stakx commented on #26164
@JonHanna:

I believe the ideal solution would be...

1. for `ParameterInfo.DefaultValue` to return `null` (like for all value types); and
2. for the C# compiler to emit a `[DateTimeConstant]` attribute.

The second point would appear to be a good compromise because otherwise, `decimal` becomes a new sole exception: Reflection would return `null` for all value-typed default values except with `dec

[2018-01-04 23:54] JonHanna commented on #26164
Decimal **is** a sole exception in C#, because it's the sole `struct` that C# can have constant values for that aren't `default`, so the status quo seems sound to me as far as the C# compilation goes. Still, that's a matter for the clang and roslyn repos; for corefx `null` for such existing cases does seem to be the thing to do.

[2018-01-04 23:59] shmao opened #26167 "Re-apply Changes in #25562"
I'm working on merging dev/sgen branch into master branch. Changes made by https://github.com/dotnet/corefx/pull/25562 would get lost. We need to re-apply the changes.

[2018-01-04 23:59] stakx commented on #26164
@JonHanna - that's true. But currently, that's not really yet noticeable, because `ParameterInfo.DefaultValue` acts so peculiar. Sometimes it returns `null`, sometimes `Missing.Value`, sometimes it returns an actual struct value, sometimes it throws an exception... if we did what I suggest above, things would seem a little bit more explicable:

* You'd get `null` for reference types.
* You'd also

[2018-01-05 00:08] stakx commented on #26164
@JonHanna - two more things regarding how to proceed:

1. Can this issue act as a bug report, or should I submit a new one with only the result of this discussion, as well as a summary of the expected and actual behavior?
2. If I'd also like to see this fixed in the full .NET Framework, do I need to file a separate bug report at Microsoft/dotnet, or would a bugfix in .NET Core automatically trickl

[2018-01-05 00:09] HaloFour commented on #26164
I opened https://github.com/dotnet/csharplang/issues/1236 to inquire as to whether the C# spec would allow that change.

I personally don't think that the C# compiler should start emitting that attribute now.  It would silently change the semantics of existing code, even if that's not in a way that would likely have any negative consequences.  But it's worth asking the question.

C# has had option

[2018-01-05 00:12] stakx commented on #26164
@HaloFour, thanks a lot for opening that other issue!

How that?

It's been around for a while, yes. I originally got involved with all this while looking into https://github.com/castleproject/Core/issues/291. Castle DynamicProxy uses System.Reflection.Emit to duplicate method signatures in dynamic proxy classes, and you can see that the issues with default parameters go back at least a few years.

[2018-01-05 00:41] Priya91 commented on #24648
This is fixed in the linked PRs.

[2018-01-05 00:41] #24648 closed

[2018-01-05 00:50] joelbraun commented on #17126
@saurabh500 @danmosemsft Funnily enough, that's where I decided to get started. Almost done with those - I should have a PR up in a few days.

[2018-01-05 00:55] shmao commented on #19723
Reopening the issue. The fix made by #24611 no longer worked after we move the serialization implementation back to System.Private.Xml.dll

[2018-01-05 00:55] Priya91 opened #26168 "AllowRenegotiation property on SslStream options bag is not implemented."
It is not clear why the AllowRenegotiation property was added to the options bag in the ALPN API proposal in the issue #23177

Renegotiation is not a condition or property required for ALPN. It is not clear if this property is intended for the purposes of allowing/disallowing insecure renegotiation.

@Tratcher @geoffkizer  I remember you mentioning this is required for HTTP/2 support, can you elab

[2018-01-05 00:56] Priya91 commented on #26168
In reference to article: https://www.openssl.org/docs/manmaster/man3/SSL_CTX_set_options.html

[2018-01-05 01:25] weshaggard commented on #25039
@jkotas I started adding some rules to our APICompat tool and come to realize that a number of these are actually compatible changes (i.e. I assume you could add ref or readonly to a struct in V2) so we don't currently have any tool beyond our APICompat tool to verify consistency between our contracts and implementation, so it won't catch inconsistencies that are compatible.

It can catch things m

[2018-01-05 01:49] jkotas commented on #25039
This is other way around. `ref` cannot be added in future. It should be a compatible change to remove it, but I doubt that we will ever have situation like that. I think we should require match for it.

The concern are the names of the tuple components. They cannot change in future.

@VSadov Does this look right?

[2018-01-05 02:18] kg opened #26170 "TCPListener.Stop leaks a socket handle"
If you use TCPListener.Start and then Stop the listener, the Stop method then creates a new socket. That socket leaks until reclaimed by the GC (or some other mechanism). In many cases this is harmless since it's not eating up a port, but on Linux this can result in "Too many open files".

https://github.com/dotnet/corefx/blob/6719752de7cee6ee44ba3cd542c36d6785034413/src/System.Net.Sockets/src/Sys

[2018-01-05 02:18] KKhurin opened #26171 "System.Runtime.Caching tests - style and other minor changes"
There are a few PR comments to #25169 that would require minor refactoring to the tests. I plan to do it in a separate PR in order to not delay the main bulk of tests to get into the COREFX.
- [ ] string de-duplication
- [ ] nullable type, etc..

[2018-01-05 02:41] KKhurin opened #26172 "Convert System.Runtime.Caching project to support Unix"
This work items is to convert the project to support all platforms and to adjust the code to do the right thing without having all the functionality on all platforms.

With the current S.R.Caching.MemoryCache memory management design the main missing external piece to fully support all platforms is #25617. Once this is implemented, the cache will still likely need some "adjustments" as the way of

[2018-01-05 03:08] karelz commented on #26170
I agree that it looks a bit weird. All methods check for `_active` which is correctly set by `Stop`.

I think we could set `_serverSocket = null` in `Stop` and just delay the creation (if another `Start` is called) to the `Start` method.
@geoffkizer @davidsh do you have any concern with this approach?
cc @wfurt

[2018-01-05 03:14] ufcpp opened #26173 "API Propsal: char.GetUnicodeCategory(unicode scalar)"
## Rationale and Usage
Support getting the Unicode category of 32-bit codepoint.

To do that today, have to do the following

[code]

The problem is char.ConvertFromUtf32 always allocate a new string which is not used afterward.

We need to have a way to do something like
[code]
without allocating any intermediate strings or other objects.

## Proposed API

[code]

## Notes

- CharUnicodeInfo clas

[2018-01-05 03:34] geoffkizer commented on #26170
Seems reasonable to me

[2018-01-05 03:34] wfurt commented on #26170
I can take a look. Once we close socket it should not count agains OS limit even if GC did not release the resources.

[2018-01-05 03:56] davidsh commented on #26170
I think we should research this before making any changes.  It has been this way in .NET Framework, for example, for a very long time.

[2018-01-05 04:09] jaredpar commented on #25039
I think at this moment removing `ref` from a struct is a compat preserving change. There were some suggestions that we change overload resolution to understand `ref struct` so that we can remove candidates where generic parameters bind to type parameters. There were a few scenarios that @KrzysztofCwalina found that would benefit from this. If we made this change then removing `ref` would cause pre

[2018-01-05 05:08] danmosemsft commented on #26024
Working on fix.

[2018-01-05 05:23] tannergooding opened #26174 "Provided a CoreFX API Analyzer"
### Rationale
There are a number of APIs in CoreFX for which special rules may apply, or for which it may be useful to provide additional diagnostics at compile time or during development time.

As such, I propose we create a dedicated project (or repository) to contain these CoreFX specific analyzers.

### Example

The new Hardware Intrinsic APIs occasionally have special rules. For example, `Vec

[2018-01-05 05:28] tannergooding commented on #26174
As an example of how trivial some of the analyzers can be to implement, here is a basic prototype for `const` enforcement for `Sse.Shuffle`:
[HardwareIntrinsicMustUseConstAnalyzer.cs.txt](https://github.com/dotnet/corefx/files/1605622/HardwareIntrinsicMustUseConstAnalyzer.cs.txt)

[2018-01-05 05:42] #25171 closed

[2018-01-05 05:48] stu-mck commented on #24282
Any update on when 4.5 will be available for general consumption? Transaction management is becoming a blocker for us.

[2018-01-05 05:51] wfurt commented on #26170
agreed @davidsh My plan was to reproduce it and find root cause as a first step.

[2018-01-05 05:59] jkotas commented on #26174
.NET Core specific analyzers live under https://github.com/dotnet/roslyn-analyzers/tree/master/src/Microsoft.NetCore.Analyzers already. How would this be differ? E.g. How do we decide when an analyzer should go the the existing location vs. the new location?

[2018-01-05 06:04] Tratcher commented on #26168
See https://tools.ietf.org/html/rfc7540#section-9.2.1. The spec says renegotiation must be disabled, it does not give a lot of reasoning as to why.

I asked on the PR why you were adding the property before implementing it. Now it's time to implement it.

[2018-01-05 06:28] Clockwork-Muse commented on #26061
I still don't like it and would much rather have a way to limit the time it spends doing that, but the workaround is enough.

... the proper way to handle this is to register the server cert chain at install/deploy/config time, not during application startup.  That essentially makes the amount of time it spends 0.  On vanilla Windows this is putting it straight into the regular store.  On Linux an

[2018-01-05 09:08] JonHanna commented on #26164
It's probably worth reporting on connect or visual studio, though there is also a "netfx-port-consider" label that gets used to indicate "hey, maybe we should do this for the .NET Framework too", but I don't have any insight into that beyond seeing the label being attached.

[2018-01-05 10:08] yyjdelete commented on #25803
@ianhays Should this also be closed by #25899 ?

[2018-01-05 10:09] agoodwin commented on #11155
Ah, ok, thanks. I assumed that `System.Collections.Immutable` wasn't always an add-on because of how it used to be called `Microsoft.Bcl.Immutable`. I was guessing that the rename to `System.Collections.Immutable` was done as part of a decision to not include it in the BCL anymore, but wasn't able to find any blogs/discussions about this.

[2018-01-05 12:52] zokiad opened #26178 "Debian SSLStream Exception"
Hi,

I have SSL exception when call AuthenticateAsClient on several web site on Debian 9. Work fine on windows 10.

Follow the test case (VS 2017  15.5.2):
[TestSSLStream.zip](https://github.com/dotnet/corefx/files/1606593/TestSSLStream.zip)
[code]

On debian:

On debian, Exception when execute:

work fine with certificate of github:

All certificate are not managed on debian 9  with ssl stream?

[2018-01-05 13:40] tthiery commented on #11155
@agoodwin What I wrote is my impression ;) It is @terrajobst who really has to answer that.

[2018-01-05 13:50] OldHorsse commented on #12871
Hello, I would like to ask you a question, encountered the same problem during use, I use the pem + key synthesis of a p12 file, use the p12 file called special password to request apple api, the following error, hope your response

curl: (58) could not load PEM client certificate, LibreSSL error error:0906D06C:PEM routines:PEM_read_bio:no start line, (no key found, wrong pass phrase, or wrong fil

[2018-01-05 13:50] OldHorsse commented on #12871
@bartonjs hope your response

[2018-01-05 13:58] OldHorsse commented on #12962
I use the following method to synthesize p12 file
openssl pkcs12 -export -in <PEM_file> .pem -inkey <PRIVATE_KEY> .key -out <FILENAME> .p12

After I check the file again

Certificate bag
Bag Attributes: <No Attributes>
subject = aaaaaaaaa
issuer = bbbbbb
----- BEGIN CERTIFICATE -----
*****************
----- END CERTIFICATE -----
PKCS7 Data

I also checked the pem file and key file
pem file as foll

[2018-01-05 13:58] OldHorsse commented on #12871
I use the following method to synthesize p12 file
openssl pkcs12 -export -in <PEM_file> .pem -inkey <PRIVATE_KEY> .key -out <FILENAME> .p12

After I check the file again

Certificate bag
Bag Attributes: <No Attributes>
subject = aaaaaaaaa
issuer = bbbbbb
----- BEGIN CERTIFICATE -----
*****************
----- END CERTIFICATE -----
PKCS7 Data

I also checked the pem file and key file
pem file as foll

[2018-01-05 15:26] tannergooding commented on #26174
We have zero references (or at least zero that I could find) on CoreFX or CoreCLR that indicate that exists, but if we already have a package/project it would be good to continue using it and simply add documentation so people can find it.

[2018-01-05 16:02] sdmaclea opened #26179 "API Proposal : ARM64 Simd simple ops"
@eerhardt @CarolEidt @RussKeldorph

Target Framework netcoreapp2.1

[code]

[2018-01-05 16:07] AtsushiKan commented on #25254
@benaadams - if you still have that computer, can you trying building this branch and running SpanTests.CopyToLargeSizeTest to see if switching to memory-mapped files still brings the puter to its knees?

https://github.com/AtsushiKan/corefx/tree/test

[2018-01-05 16:15] sdmaclea opened #26180 "API Proposal: Arm64 Simd simple comparison ops"
@eerhardt @CarolEidt @RussKeldorph

Target Framework netcoreapp2.1

[code]

[2018-01-05 16:16] MarcoRossignoli commented on #23748
after "$ git grep -n 'new Exception(' | grep -v tests | cut -d: -f1,2"

pull closed [25698](https://github.com/dotnet/corefx/pull/25698) no action on this namespace after discussion
[code]
No action
[code]

@karelz @danmosemsft i think we can close this issue.
Maybe the [guideline](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/using-standard-exception-types#exception-and-syste

[2018-01-05 16:26] sdmaclea opened #26181 "API Proposal: Arm64 Simd BitwiseSelect"
@eerhardt @CarolEidt @RussKeldorph

Target Framework netcoreapp2.1

[code]

[2018-01-05 16:26] sdmaclea commented on #26181
My current understanding is the difference between BSL, BIT, BIF is simply in which of the source registers is used as the destination register.  Therefore I am using the same intrinsic for all of them.  This may give more flexibility to the register allocator.

[2018-01-05 16:34] jkotas commented on #25039
There are ideas about `ref struct` specific optimizations: https://github.com/dotnet/coreclr/pull/15745#issuecomment-355481958 . They will also turn it into non-compatible change. I think we should make `ref` to be part of the contract that you cannot add or remove.

[2018-01-05 16:37] sdmaclea opened #26182 "API Proposal : Arm64 Base/Simd LeadingZeroCount et. al."
@eerhardt @CarolEidt @RussKeldorph

Target Framework netcoreapp2.1

[code]

[2018-01-05 16:48] sdmaclea opened #26183 "API Proposal: Arm64 Simd GetItem & SetItem"
@eerhardt @CarolEidt @RussKeldorph

Target Framework netcoreapp2.1

[code]

[2018-01-05 16:49] Clockwork-Muse commented on #26178
What's the exception?  The stack trace?  Especially as there may be environment settings not included in your test case.

It's possible that those certificates don't have the root of their chain inside the certificate store?

[2018-01-05 16:51] stakx opened #26184 "`ParameterBuilder.SetConstant(null)` should be allowed for value-typed parameters"
**TL;DR:** Could `ParameterBuilder.SetConstant` be made less strict so it accepts `nullref` for value-typed parameters, too?

(I'm requesting this for https://github.com/castleproject/Core/issues/291 and it is somewhat related to bug report #26164, which confirms that setting an optional value-typed parameter's default value to `nullref` in IL is common practice and not incorrect.)

Let's say I ne

[2018-01-05 16:53] sdmaclea commented on #26180
For the `Compare*Zero`, the `Zero` suffix is debatable.  I added it for clarity.

[2018-01-05 16:56] qmfrederik commented on #25102
I submitted PR #25134 but this was rejected in favor or a more generic API.
That API is being discussed in #17135 and is ready for review.
Once that API is approved we can implement it and consume it from System.Drawing.Common to properly fix this issue.

[2018-01-05 17:01] sdmaclea opened #26185 "API Proposal : Simd SetAllVector* from scalar"
@eerhardt @CarolEidt @RussKeldorph

Target Framework netcoreapp2.1

[code]

[2018-01-05 17:02] qmfrederik commented on #17135
Most projects I know of use clang to generate C# code based on C headers.
Examples of projects doing this for .NET Core are https://github.com/Ruslan-B/FFmpeg.AutoGen and https://github.com/libimobiledevice-win32/imobiledevice-net; and I believe the Xamarin team does this as well.

Changing the class to inherit from `SafeHandle` makes sense, so we end up with something like this:

[code]

[2018-01-05 17:12] karelz commented on #23748
Thanks for working on it and for wrapping up the issue @MarcoRossignoli and @satano!

IMO every rule has an exception, so I am not sure if we need to update the official guidelines.

[2018-01-05 17:12] #23748 closed

[2018-01-05 17:26] kasper3 commented on #26174
Docs: https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.NetCore.Analyzers/Microsoft.NetCore.Analyzers.md, maybe link it in CorxFX repo's docs?

[2018-01-05 17:28] tannergooding commented on #26174
There should probably be a link and more explicit documentation in all three repos (CoreFX, CoreCLR, and Roslyn-Analyzers) that the `Microsoft.NetCore.Analyzers` package is specifically for CoreFX API diagnostics.

[2018-01-05 17:33] jkotas commented on #26179
The Intel intrinsics tend to use generics for similar methods.

[2018-01-05 17:38] jkotas commented on #26185
Same methods are called `Set1` in Intel intrinsics. Should we rename them in Intel intrinsics?

cc @fiigii

[2018-01-05 17:41] jkotas commented on #26183
Same methods are called `Insert*` and `Extract*` in Intel intrinsics.

[2018-01-05 17:43] karelz commented on #26170
@davidsh what kind of research do you have in mind? Source history of .NET Framework? Something else?

@wfurt not sure what you mean by reproducing / finding root cause -- it is a perf improvement suggestion. The best we can do in code is see if it breaks any test (although it is not guarantee on its own).

[2018-01-05 17:47] jaredpar commented on #25039
Agree.

[2018-01-05 17:49] davidsh commented on #26170
Yes, plus asking other people that have experience in the code:

cc: @Tratcher @CIPop FYI.  Please comment if you have thoughts on this.

[2018-01-05 17:52] tannergooding commented on #26185
@jkotas, I believe they are being renamed to `SetAll`: https://github.com/dotnet/coreclr/pull/15601

[2018-01-05 18:00] danmosemsft commented on #23748
I think even when throwing and catching internally it's nice to avoid using the base class if only because it doesn't show up in grepping like this...

BTW, I'm fine that we did this, but we may have a situation in future where .NET Core is more popular and folks write code for it first -- such code could then break when they try to run it on .NET Framework. We would have to port the changes then.

[2018-01-05 18:02] Tratcher commented on #26170
Karelz's suggestion seems the most likely, a new socket is created to allow Start to be called again and prevent Server from throwing ObjectDisposedException. Both of these code paths could become lazy. ExclusiveAddressUse.Get would also need to be lazy. Everything else appears to be guarded by the _active flag.

[2018-01-05 18:02] fiigii commented on #26185
Yes, in this case, we call them SetAll.

[2018-01-05 18:08] JonHanna commented on #26184
That seems reasonable, though I'm wondering why that degree of fidelity is necessary. The produced code would still work correctly as an actual method:

[code]

[2018-01-05 18:09] sdmaclea commented on #26185
The problem with SetAll is the return type must be specified.  For ARM64 Vector64 and Vector128 are in the same intrinsic class.

[2018-01-05 18:18] ianhays commented on #25803
Yes it should, thanks @yyjdelete!

[2018-01-05 18:18] #25803 closed

[2018-01-05 18:19] sdmaclea commented on #26179
That is not what I saw in https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/Intrinsics/X86/Sse.cs#L18-L41

[2018-01-05 18:22] zokiad commented on #26178
On **Windows 10**, it is work fine.

but on **debian 9**:

[2018-01-05 18:24] stakx commented on #26184
The use case here, AFAIK, is e.g. DI containers like Castle Windsor or Autofac that might perform reflection over generated dynamic proxy types. They need to know what values to inject/provide for optional parameters, and if that information isn't accurate, they'll fail. See e.g. https://github.com/castleproject/Core/issues/291 which references a couple such issues.

I'm not quite sure what kind o

[2018-01-05 18:26] jkotas commented on #26179
I should have said similar patterns - if there are overloads for all primitive types, the Intel intrinsics just use generic.

[2018-01-05 18:29] karelz opened #26186 "Tests failed: System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_SslProtocols_Test / GetAsync_*SSLVersion_Succeeds"
Regression caused by #26135 (@geoffkizer)

## Types of failures

Affected tests:
* GetAsync_AllowedSSLVersion_Succeeds
* GetAsync_SupportedSSLVersion_Succeeds

### GetAsync_AllowedSSLVersion_Succeeds - The client and server cannot communicate, because they do not possess a common algorithm

Build [20180105.02](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/te

[2018-01-05 18:30] karelz commented on #26186
I wonder why we didn't catch it in CI. Any idea?

[2018-01-05 18:41] dotnet-mc-bot opened #26187 "Error MSB6006: "csc.exe" exited with code 255 on System.IO.IsolatedStorage.csproj"
Opened on behalf of @jcagme

Warnings: 1
Status Message: failed

Build : Master - 20180105.02 (Product Build)
Failing configurations:
- Windows
  - netcoreapp-arm64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/build~2Fproduct~2F/build/20180105.02/workItem/Orchestration/analysis/external/Link)

[2018-01-05 18:42] tannergooding opened #26188 "[Proposal] An API for providing compiler hints to the JIT/AOT"
### Rationale

There are a number of optimizations which require complex or in-depth analysis. In many cases, these optimizations are not possible to make. This can be due to time constraints (JIT), due to requiring an assumption to be made (JIT and AOT), or due to some other reason.

However, the developer often knows what assumptions are safe to make. This can be due to the way they wrote their

[2018-01-05 18:43] danmosemsft commented on #26173
@ufcpp could you please format the top post as recommended in https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md ?

[2018-01-05 18:44] eerhardt commented on #26180
I think the suffix makes sense.  Or else you'd have `var result = Simd.CompareLessThan(value);` -- less than what?

[2018-01-05 18:49] sdmaclea commented on #26179
For the Vector64<> methods usually all primitive type except if the size is such that it would not be a vector.  Vetor64<double>, Vector63<ulong, and Vector64<long> are essentially non-sensical.  I think we should use generics even in this case.

Comments?
cc @4creators

[2018-01-05 18:52] karelz commented on #26186
Note: GetAsync_UnsupportedSSLVersion_Throws test was also disabled around the same time in July:
That test had failures:
* 7/6-7/8 on Win7 & Win8.1 -- 4x in each build (28 failures total)
* 7/8-7/9 on Linux distros -- 6x in each build (18 failures total)

[2018-01-05 18:54] CarolEidt commented on #26179
I agree.

[2018-01-05 18:55] karelz commented on #26186
@wfurt @geoffkizer can you please disable the test again and mark this issue as disabled-test?

[2018-01-05 18:57] MarcoRossignoli commented on #23748
@danmosemsft also with netstandard lib developed on core right?

[2018-01-05 18:59] karelz commented on #26187
@RussKeldorph what is our policy for arm64 build failures?

[2018-01-05 18:59] wfurt commented on #26186
shall we disable it only for windows 7? It seems like other platforms are OK. Rest of the failures seems pretty old.

[2018-01-05 19:02] karelz commented on #26186
It failed also on RedHat73, let's disable it entirely. It needs more stabilization on Linux before we can re-enable it.
@geoffkizer do you think we should track understanding the failure for Beta?

[2018-01-05 19:03] sdmaclea commented on #26179
OK I have update to use generics.  Will do the same in other proposals.

+ `Abs` conceptually doesn't make sense for unsigned types.  And currently the return type does not match the argument type.
+ `Multiply` doesn't support long/ulong vectors.
+ `Negate` conceptually doesn't make sense for unsigned primitives. (But could treat as signed.
+ `Divide` and `Sqrt` only support floating point types.

[2018-01-05 19:06] RussKeldorph commented on #26187
@karelz I'm not sure what you're asking, but if a build leg exists and worked in the past, it seems like it ought to be fixed or disabled, particularly if its failure blocks a larger critical flow.

[2018-01-05 19:08] RussKeldorph commented on #26187
I should clarify that "Ignore" is not an option, and a decision to "Disable," cannot be made in a vacuum.  FWIW, this failure doesn't appear to be anything specific to ARM64, so perhaps the ARM64 aspect of it isn't relevant.

[2018-01-05 19:12] CarolEidt commented on #26185
That's kind of unfortunate, but perhaps `SetAll64` and `SetAll128`?

[2018-01-05 19:17] karelz commented on #26187
@weshaggard who can help with this one?

[2018-01-05 19:21] sdmaclea commented on #26185
Update to use generics and use proposed names

[2018-01-05 19:21] danmosemsft commented on #26187
I'm looking. I don't know the Roslyn source code but it's not obvious to me that it returns anything but 0 and 1. I guess in this context however, MSBuild is launching dotnet.exe. I don't know where it would be returning 255 though again I"m not familar with their code. The Windows interpretation of 255 is "inconsistent attributes" which seems unlikely.

[2018-01-05 19:22] danmosemsft commented on #26187
Note it's presumably sporadic, ie we can't repro locally.

[2018-01-05 19:23] Joe4evr commented on #26188
🤔

More seriously, I've occasionally been thinking about something like this, but I have no idea if the scenarios I have in mind are even that much of a perf impact.

[2018-01-05 19:23] RussKeldorph commented on #26182
Should scalar LeadingSignCount take a signed input instead/in addition?  Is there a justification for the scalar versions only taking unsigned inputs but the vector versions accepting either signedness--is it the expressibility of type conversion?

[2018-01-05 19:23] jkotas commented on #26185
`SetAllVector64` and `SetAllVector128` would be more consistent with how things are named in .NET, I think.

[2018-01-05 19:24] weshaggard commented on #26187
In the past this "255" generally indicates a crash of some sort and generally something in the runtime. We should try and see if we can get some history and see how often it occurs.

[2018-01-05 19:27] tannergooding commented on #26188
I think its the type of optimization where a big impact depends on your API. For example, a method which is `pure` but complex to compute, such as `sin`, `cos`, or `tan` can provide big impact.

But, a thousand tiny improvements can still add up to a lot as well, so it can also be useful for small APIs.

[2018-01-05 19:29] #25895 closed

[2018-01-05 19:41] sdmaclea commented on #26182
@RussKeldorph Thanks....

For `LeadingSignCount` update scalar version to take signed forms.  For the vector version dropped the unsigned forms.
For `LeadingZeroCount` I updated the scalar version to support both signed and unsigned.
For `PopCount` I updated the scalar version to support both signed and unsigned.  Added missing `Vector64` forms.

[2018-01-05 19:59] sdmaclea commented on #26180
Updated to use generics.

[2018-01-05 20:16] danmosemsft commented on #23748
@MarcoRossignoli yep. It's not just exceptions - for example we have taken changes on Core that make a method more lenient in the inputs it expects. We think the value is worth it, but it's something that may come up in future.

[2018-01-05 20:19] sdmaclea commented on #26181
Updated to use generics

[2018-01-05 20:24] danmosemsft commented on #25960
@tarekgh are we missing tests here? Or is it just that we ran our tests against master and not 2.0 release?

[2018-01-05 20:30] sdmaclea commented on #26183
Updated for generics and to match XARCH naming conventions.

[2018-01-05 20:45] 4creators commented on #26179
Intel HW intrinsics use pattern like the following in Sse2 (missing float function is implemented in Sse):

[code]
If we use pattern like:

[code]

than we have to artificially create generic constraints due to C# syntax limitations which will limit range of supported generic type parameters to supported types which are a subset of `struct` constraint. This is currently done for Intel intrinsics i

[2018-01-05 21:05] tmds commented on #26104
Agree

In some use-cases you'll have all bytes available in a continuous range, and then a Try api is meaningful.
Using the Try-method when data isn't contiguous is indeed asking for trouble, so not providing this method is probably the best. It should be easy enough to DIY it when needed.

When we have both the Utf8Formatter and low level encoding APIs, it should all come together in a perfromant

[2018-01-05 21:09] tannergooding commented on #25926
@mikedn, I didn't think aggressive inlining worked under `minopts`?

[2018-01-05 21:11] ahsonkhan commented on #26145
Can you please expand on why we need to do that? It would undo the changes from https://github.com/dotnet/corefx/pull/25959

[2018-01-05 21:16] mikedn commented on #25926
Ah, minopts, that may be a problem :smile:

[2018-01-05 21:19] #24407 closed

[2018-01-05 21:20] weshaggard commented on #25039
Filed https://github.com/dotnet/buildtools/issues/1850 to track adding tuple support to the tools.

[2018-01-05 21:51] tarekgh commented on #25960
We are not missing tests. The same issue caught before with the test as you pointed me before.

https://github.com/dotnet/corefx/issues/23548

[2018-01-05 21:51] ahsonkhan commented on #26124
The built in span does nothing with the first argument (unlike the portable one):
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/ReadOnlySpan.cs#L110
[code]

The argument validation was removed in https://github.com/dotnet/coreclr/commit/7e5aef990eb4c8d7b34fc5f8a9a1fd5ed326410d (from https://github.com/dotnet/coreclr/pull/10462)

[2018-01-05 21:52] Drawaes commented on #24407
Good work. I think we can all sleep a little easier with some coverage here
!

[2018-01-05 22:08] tannergooding commented on #5183
I'm going to open a more formal proposal on this sometime in the next week (just need to find some time to sit down and write it).

I believe that this is an important area, for the areas where it matters, especially since you can already manipulate these states via Native Code and they impact any future managed code upon doing so.

The hardware intrinsic APIs will also open up more instructions t

[2018-01-05 22:09] strajkovmsft commented on #25962
Any updates on this? Also having this issue and would love to know what the status is.

[2018-01-05 22:11] orthoxerox commented on #14041
:+1: to this. I've been looking for a way to restart an application without losing open TCP connections, and while `Process.Start()` ensures the child process inherits all the handles, it cannot access the open sockets.

[2018-01-05 22:14] jkotas commented on #26145
There are two separate things:
1. System.Runtime.CompilerServices.Unsafe has netcoreapp specific build
2. System.Runtime.CompilerServices.Unsafe is bundled in .NET Core runtime

#25959 reversed both 1 and 2.

This issue is about bringing 1 back, but keeping 2 reversed.

If we do not do this, we will be missing the perf fix here: https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Compi

[2018-01-05 22:15] Mga-Denmark commented on #24562
Port stealing might be desired by someone, so atleast it should be an option to be enabled.

I use ansi c on linux for a few things where saving connections info from socket to a file, then dropping socket in one process,  then exec a new version of the process, rebinding the socket in the new process loading the connection info from the old process, then closing the old process.

[2018-01-05 22:17] Mga-Denmark commented on #24562
like keeping already connections linger, and continue processing on the new process, without anyone knowing ;)

[2018-01-05 22:22] Clockwork-Muse commented on #26178
....which was my first guess.  [Set the `SSL_CERT_FILE`/`SSL_CERT_DIR`](https://github.com/dotnet/corefx/issues/24281#issuecomment-332930027) environment variables with an appropriate chain file, does that help?

[2018-01-05 22:24] tarekgh commented on #26173
@ufcpp I have updated the proposal text above, please let me know if this looks good to you so I can mark the issue as ready for design review.

[2018-01-05 22:24] orthoxerox opened #26193 "Add constructors to TcpClient and TcpListener that accept an existing Socket"
Please consider adding constructors to TcpClient and TcpListener that accept an existing Socket.

## Rationale and usage

If https://github.com/dotnet/corefx/issues/14041 is implemented, we will be able to create `Socket` instances that represent existing handles. It will be very convenient if we could create a `TcpListener` or a `TcpClient` wrapping that socket to avoid dealing with raw sockets.

[2018-01-05 22:26] tarekgh commented on #26173
CC @krwq @AlexGhiondea

[2018-01-05 23:00] sdmaclea commented on #26179
@4creators,

Certainly not.  The original draft had it that way.  @jkotas Asked me to change it to be consistent with Intel.

The decision whether HW Intrinsic should use generics is really outside the scope of this discussion.  @CarolEidt plans to update the https://github.com/dotnet/designs/blob/master/accepted/platform-intrinsics.md to handle these types of questions.

[2018-01-05 23:01] 4creators commented on #26174
IMO one of the properties of analyzer is its usage scope. In the case of HW intrinsics analyzer it will work only with the code which references `System.Runtime.Intrinsics` and self explanatory name could be `System.Runtime.Intrinsics.Analyzer` and it should live in `System.Runtime.Intrinsics` or architecture specific directory (`System.Runtime.Intrinsics.X86`, '`System.Runtime.Intrinsics.Arm') as

[2018-01-05 23:03] tannergooding commented on #26188
FYI. @fiigii, @4creators, @mikedn, @CarolEidt, @jkotas

I've proposed this feature as a general way for developers to provide hints to the JIT/AOT about their code.

The only API for the feature I've proposed at this time would give users a way to tell the JIT to emit `movaps` instructions (or the `reg/mem` encoding for an instruction on legacy hardware, such as is used by the Benchmark Games -- C

[2018-01-05 23:12] huanwu commented on #17437
IDataContractSurrogate class doesn't exist in corefx. So we don't need add a test for it.

[2018-01-05 23:12] #17437 closed

[2018-01-05 23:16] tannergooding commented on #26179
I certainly enjoy the type safety and compile time errors given by `public static Vector128<double> And(Vector128<double> left, Vector128<double> right)`.

However, I also don't want to overload the API surface/etc with something that can be trivially handled by an analyzer (which we already know is going to be recommended for other places where enforcing preconditions at compile time is hard or i

[2018-01-05 23:23] sdmaclea opened #26194 "Proposal rename System.Runtime.Intrinsics.X86.dll to System.Runtime.Intrinsics.dll"
For HW Intrinsics X86 has created `System.Runtime.Intrinsics.X86.dll`.  It currently contains Vector128, and Vector256 from `System.Runtime.Intrinsics` as well as the X86
HW intrinsics from `System.Runtime.Intrinsics.X86`

ARM64 intrinsics will use Vector128 from `System.Runtime.Intrinsics`
ARM64 intrinsics will add Vector64 to `System.Runtime.Intrinsics`

The question arises about where to put AR

[2018-01-05 23:28] 4creators opened #26195 "API Proposal: Add extension methods to convert from Span<T> and Memory<T> to VectorXXX<T> and in reverse"
I would like to propose creating extension methods located in static class `VectorExtensions` in `System.Runtime.Intrinsics` namespace and providing efficient support for working with `Span<T>` and `Memory<T>`. Proposal is to implement them as an `Intrinsics` and implement them in RyuJIT using relevant `Load` and `Store` instructions plus efficient setting of `Length` property by general instructi

[2018-01-05 23:29] tannergooding commented on #26194
I agree with the proposal.

The implementation assembly (`System.Private.CoreLib`) will be getting cross-compiled and will contain both sets (AFAIK). Additionally, for a given architecture, the intrinsics for other architectures will be set to throw for their managed implementations (while intrinsics for the target architecture will be recursive).

It can also probably be expected that a user writ

[2018-01-05 23:30] CarolEidt commented on #26179
This does not break type safety. Breaking type safety means allowing a type A to be incorrectly referenced as type B (or similar). Admittedly this is a less than ideal solution, but I gave up arguing for spec changes to provide the appropriate constraints. The explosion of API signatures is, IMO, a non-trivial consideration, and the consensus is to use generics "where it makes sense" (I'm paraphra

[2018-01-05 23:34] fiigii commented on #26194
Do we have `System.Runtime.Intrinsics.X86.dll`? I removed the package in https://github.com/dotnet/corefx/pull/24490

I am not familiar with CoreFX configuration, cc @eerhardt @weshaggard

[2018-01-05 23:37] 4creators commented on #26194
I think it is the best way forward. Anyway intrinsics will be implemented in runtime and available on all platforms supported.

[2018-01-05 23:38] sdmaclea commented on #26194
Yes.  See src directory

https://github.com/dotnet/corefx/tree/master/src/System.Runtime.Intrinsics.X86

[2018-01-05 23:40] weshaggard commented on #26194
The library still exists but there is no nuget package just for it any longer.

As for one assembly vs many that is a good question. I don't think we have enough information here to make that decision. One thing I would like to understand is how many API's are we talking about for each architecture?

cc @dotnet/fxdc for potential advise.

[2018-01-05 23:44] danmosemsft commented on #25962
@strajkovmsft I don't think anyone is working on a fix. This is a Unix issue apparently, are you on Unix?

[2018-01-05 23:46] fiigii commented on #26194
Ah, I see.

I think we should have one with the name `System.Runtime.Intrinsics.dll` because an HW intrinsic should be visible on all the platforms. @jkotas

[2018-01-05 23:49] 4creators commented on #26188
This feature is IMO long overdue. It can be helpful in a lot of scenarios not only for HW intrinsics. I would even expand this proposal with `RuntimeHelpers.ReoptimizeMethod`.

`RuntimeHelpers.ReoptimizeMethod` could use all hints which are statically available with `HintAttributes` but may provide even wider functionality i.e. ask for given tier of tiered optimizations, ask for ISA target etc.

F

[2018-01-05 23:51] tannergooding commented on #26194
@weshaggard, the number of types is small (around 10 for each architecture right now). The number of APIs (methods) varies greatly based on the type (ranging from 1 to more than 50).

The number of shared types is also small (they are all opaque structs). Currently 2, but expected to expand to 6+ once AVX-512 and SVE extensions are implemented

[2018-01-05 23:54] weshaggard commented on #26194
Thanks @tannergooding given that I would agree with putting them all in the same assembly, especially since they already have a way to check if they are supported or not at runtime.

[2018-01-05 23:58] danmosemsft commented on #4928
@Anipik it makes sense for you to do this since you know a bit about string builder now..

[2018-01-06 00:08] 4creators commented on #26179
@CarolEidt
Sorry for diverging a bit on main thread subject but I think we are closing very fast to a situation where arguments in favor of improving C# specs and generics implementation in particular may outweigh reluctance of language team to accept them.  Second problem which was really painful and resulted in bloated code was writing reasonable abstracted tests for intrinsics. Lack of `numeric

[2018-01-06 00:19] 4creators commented on #26185
Perhaps it could be useful for self documenting code to update names of Intel intrinsics to `SetAllVector128`, `SetAllVector256` and in future `SetAllVector512`. Despite the fact that every method belongs to different ISA such naming will be very helpful particularly when someone writes code for several ISA targets and uses static using.

The very same naming could be changed for `Set` and `SetZer

[2018-01-06 00:20] CarolEidt commented on #26194
I agree with the idea of putting them in the same assembly. Especially given that we don't plan to have any significant implementation in them (i.e. the size of the IL will be small). In the rare case where we plan to support a variable argument where the target has only immediate forms, we are leaning toward generating the code in the JIT when the IL method for the intrinsic is compiled.

So, we

[2018-01-06 00:35] strajkovmsft commented on #25962
Yes, Ubuntu 16.04. I don’t know that I’d call it a Unix issue, the underlying streams backing stdout and stderr never have dispose called on them, and if you try to after using async, you get an exception for mixing sync and async when trying to access the steam to dispose it. Don’t dispose the stream and you won’t free the pipe, don’t free the pipe and you leak file descriptors. Leaking file desc

[2018-01-06 00:37] weshaggard commented on #26159
We refer to this as crossgen'ing, and we don't do it in corefx repo. It is done as part of building Microsoft.NETCore.App/SharedFramework in the core-setup repo. Take a look at https://github.com/dotnet/core-setup/blob/d5e9580461cf73577f4882ce8755a038c907abfb/src/pkg/projects/Microsoft.NETCore.App/src/Microsoft.NETCore.App.depproj#L240

[2018-01-06 00:39] Priya91 commented on #26168
So in that case, we want ```AllowRenegotiation``` to always be true whenever secure renogiations are possible which is monitored by the native OS stack, and in case of HTTP/2 one might disable renegotiation. In that case, it makes sense to rename this property as ```DisableRenegotiation``` with default as false, and the user may set it to true in case of HTTP/2.

[2018-01-06 00:39] jkotas commented on #26185
Agree. @fiigii Would it make sense to fold this feedback into your current PR?

[2018-01-06 00:51] fiigii commented on #26185
@jkotas The naming of `SetAllVector*` is caused by the limitation of ARM ISA design. On x86 platforms, ISA strongly implies the vector size. It does not only impact `Set*`, and also I guess ARM will have more names with `Vector*` suffix that is unnecessary for most of the Intel HW intrinsics.

[2018-01-06 00:57] CarolEidt commented on #26185
@fiigii - the fact that the `Vector*` suffix is unnecessary is, IMO, overshadowed by the desire for commonality where the functionality is the same.
As a side note, I wouldn't view this as a "limitation" of ARM ISA design; it is presumably more due to the fact that ARM64 provided support for multiple vector sizes all at once, rather than staging them as Intel did.

[2018-01-06 00:58] 4creators commented on #25926
AFAIR there was short discussion about proposal during LDM but I do not know what is final decision - short discussion resulted in analyzer is OK (see https://github.com/dotnet/roslyn/issues/22304), however, some csharplang memebers were quite positive about implementing it.

[2018-01-06 01:00] fiigii commented on #26185
Agree, that is what I meant.

[2018-01-06 01:00] tannergooding commented on #26185
@fiigii, I believe it is meant to support both more readable code and to the case of `using statics`:
[code]

[2018-01-06 01:04] fiigii commented on #26185
@jkotas @CarolEidt @tannergooding
To be clear, I am okay with the name of `SetAllVector*`, but how about others?

[2018-01-06 01:10] tannergooding commented on #26185
@fiigii, it might be worth looking at which APIs, when all exposed via `using static` would cause ambiguities. Those would be the ones worth fixing.

It might simultaneously be worthwhile to collapse the generic "explosion" we have, as that has been requested on most of the ARM PRs here (CC @jkotas)

[2018-01-06 01:15] helloguo commented on #25779
How about `abs`,  `neg` and `pow`? Other tensor operations listed in following references could be interesting as well.

Ref:
https://www.cntk.ai/pythondocs/_modules/cntk/tensor.html
https://www.tensorflow.org/api_docs/python/tf/Tensor
https://github.com/onnx/onnx/blob/master/onnx/defs/math/defs.cc

[2018-01-06 01:17] madelson opened #26201 "Add application/json to System.Net.Mime.MediaTypeNames.Application"
# API Proposal
(Added by @karelz based on original issue)

Add `application/json` MIME type (based on JSON RFC 4627 - https://www.ietf.org/rfc/rfc4627.txt)
[code]

## Motivation

Common StackOverflow question: https://stackoverflow.com/questions/477816/what-is-the-correct-json-content-type (8.6K upvotes)

# Original report

The `MediaTypeNames` class contains constants for common mime types. Surpr

[2018-01-06 01:18] karelz commented on #25980
The variant `System.IO.IOException : Authentication failed because the remote party has closed the transport stream.` happened also in CI build 9c66dd0e1ee7ee9e4015ff18403f860fbed7674f on 1/5 (ManagedClient). It may be related to #16534.

[2018-01-06 01:20] fiigii commented on #26185
I see. Shall we guarantee that no ambiguity when `using static` **all the ISA classes**?

[2018-01-06 01:24] CarolEidt commented on #26188
I would not consider these two cases to fall into the category of compiler "hints". I would expect a hint to be something that the compiler could use to guide its choices (e.g. whether to inline), but which would have no correctness requirement. For the alignment case, at least the worst that could happen is that the program would fault if the alignment were not correct (and the developer would th

[2018-01-06 01:24] jkotas commented on #26185
I do not think that no ambiguity when `using static` should be a hard requirement. Also, I am not sure whether `using static` should be the encouraged pattern for this like in the example above - it will make it easy to miss that given method is from a different ISA class.

[2018-01-06 01:26] CarolEidt commented on #26185
While it may not be desirable to mandate *no* ambiguity, I still think it's desirable. In many scenarios I doubt that it would be essential to know which ISA each method comes from.

[2018-01-06 01:27] tannergooding commented on #26188
Fair enough. Now to come up with a better name 😄

[2018-01-06 01:31] 4creators commented on #26188
My proposals 😄 would be than:

`CompilerConfig`, `CompilationConfig`, `CompilerSetting`, `CompilationSetting` - always with `Attribute` at the end.

[2018-01-06 01:34] tannergooding commented on #26188
There also needs to be a name for the static class which is used to provide information inline with code (such as for a local, where attributes aren't allowed).

[2018-01-06 01:38] danmosemsft commented on #25962
@tmds can you point to where Mono is listening for SIGCHLD? I don't see it.

I do see a little extra in the Process class Dispose() method

In .NET/.NET Core the code comments:

[code]

but Mono is a little cleverer and does close if they were never requested by the user
https://github.com/mono/mono/blob/master/mcs/class/referencesource/System/services/monitoring/system/diagnosticts/Process.cs#L13

[2018-01-06 01:41] danmosemsft commented on #26165
@vancem any thoughts?

[2018-01-06 01:43] 4creators commented on #26185
Agree and fortunately only minority of methods have parameters which do not allow to determine which method is called and these are only methods which take exclusively scalar parameters. Any method with `Vector` parameter will immediately differentiate between methods from different ISA.

[2018-01-06 02:12] jkotas commented on #26195
What storage would the Span point to?

[2018-01-06 02:16] fiigii commented on #26185
Okay, it is good to have a criterion for the HW intrinsic naming. I will investigate and fold the change into https://github.com/dotnet/coreclr/pull/15601

[2018-01-06 02:24] gokarnm commented on #26159
Thanks @weshaggard !

[2018-01-06 02:24] #26159 closed

[2018-01-06 02:26] jkotas commented on #26188
Similar proposal: https://github.com/dotnet/coreclr/issues/2725

[2018-01-06 02:31] 4creators commented on #25926
Ahh, I am always forgetting to ask about special intrinsics like:

[code]

Should we add them with this PR?
@CarolEidt  @tannergooding @fiigii @jkotas

[2018-01-06 02:42] tannergooding commented on #26188
👍.

I would opt for named assumptions over a general `Assume`, however. At the very least it makes the intent or goal of the assumption clearer (`Assume(p & 0x1F)` could mean any number of things, but `AssumeAlignment(p, 32)` makes it clear that we care about alignment and that the compiler can directly interpret it as such). I think named assumptions also covers @CarolEidt's comment about capturi

[2018-01-06 02:49] tannergooding commented on #25926
@4creators, there are a number of other hardware instructions for which exposing intrinsics may be useful.

However, I don't think we want to get too far ahead of ourselves right now.

We already have enough intrinsics to cover the next 2 point releases (2.1 and whatever the next version is) and they will take some time to implement, test, and tune.

Not to mention that the ARM work will be going

[2018-01-06 02:52] tannergooding commented on #26188
I've updated the OP to suggest using `Unsafe`, rather than `CompilerHints`.

[2018-01-06 03:45] ufcpp commented on #26173
Sorry to bother you. Thank you so mush. LGTM.

[2018-01-06 04:08] tannergooding commented on #23519
The contracts are merged in both CoreCLR and CoreFX.

The basic codegen implementation is here: https://github.com/dotnet/coreclr/pull/15538

[2018-01-06 04:50] onyxmaster commented on #11224
I know this is old, but I believe you should not use DateTime.UtcNow for time interval measurement. Use a monitonic time source like Stopwatch.GetTimestamp. This way you’re immune to local time adjustment by operator or time synchronization. There were some buggy chipsets that made QPC values go back, but I don’t believe many of them are in use now.

[2018-01-06 09:42] 4creators commented on #26188
Yet, I would still allow general `Unsafe.Assume` for predefined cases like in comment by @GSPP:

[2018-01-06 10:28] stakx commented on #4491
@jkotas:

I do not fully understand the plan, in particular with regard to dynamic assemblies (`AssemblyBuilder.DefineDynamicAssembly`) and their ability to be incrementally updated / augmented with new dynamic types. How would this still be possible if assemblies must first be written out as a byte stream or file, then be loaded?

I imagine one would have to write each dynamically generated type

[2018-01-06 11:23] tmds commented on #24562
@Mga-Denmark port stealing is still possible by setting `ReuseAddress`.

[2018-01-06 14:17] jkotas commented on #26195
This is invalid operation. The method stack is gone when method returns.

[code]

fails to compile `Cannot use local 'bytes' in this context because it may expose referenced variables outside of their declaration scope` for a good reason.

[2018-01-06 14:35] HobDev opened #26203 "Unable to install `System.Threading.Overlapped` and build problem with `Windows.Win32.Registry`"
Steps to Reproduce

    Create new xamarin.forms project
    Add Xamarin.Mac cocoa project
    Install SerialPortStreamCore nuget to it.

Expected Behavior

The nuget should be added successfully to the project
Actual Behavior

The nuget adds itself successfully to netstandard shared project. But fails to add to Xamarin.Mac. I need this package for Serial port programming.
Environment

Visual Stud

[2018-01-06 15:41] qmfrederik commented on #26103
@bgulanowski The CoreCompat.* packages are packages which I maintain; but they are not official packages. The best way forward is to use System.Drawing.Common.

To your point 2 and 3, there's a deprecation notice at the top of the README at https://github.com/corecompat/corecompat and a note detailing that you can either use homebrew or the runtime.osx.10.10-x64.CoreCompat.System.Drawing NuGet pac

[2018-01-06 15:52] jkotas commented on #4491
Yes, there would need to be a runtime hook for this.

Conceptually, each type addition in Reflection.Emit produces a new assembly that contains all existing metadata (with all existing tokens preserved) plus the new type. Then the runtime is asked to update the metadata of the already loaded assembly to the new version.

Sending the whole assembly over for each edit is not efficient for large asse

[2018-01-06 16:21] 4creators commented on #26195
Yeah I know this if you want to return something it is necessary to use `Memory<T>`. I meant to use it as follows:

[code]

[2018-01-06 16:34] myrup commented on #25962
Labelling this as an enhancement baffles me a bit. I consider it a serious bug that it isn't possible to have a long running process that utilises subprocesses on *nix.

[2018-01-06 16:36] strajkovmsft commented on #25962
Also "Windows just runs out of resources less quickly" is disingenuous. Linux is not out of resources, a limit on the number of file handles a process can have open is the intended behavior. If you have root access to the machine you can raise the limit, but that simply delays the catastrophic failure.

[2018-01-06 16:42] zokiad commented on #26178
The command curl works fine with these 2 url. Thus, I think the certificate are installed.

But i try:

I have the same result.

[2018-01-06 17:06] tannergooding commented on #26195
@4creators, I don't agree.

At present, the reason the tests are being writing using `Unsafe.As` is simply because the `Load` and `Store` operations have not been implemented.

It also provides a good way to validate that we are testing just the operation we care about while only relying on existing operations which we know should be well-behaved.

After `Load` and `Store` are implemented, the vas

[2018-01-06 17:14] #25973 closed

[2018-01-06 17:30] geoffkizer commented on #25439
Fixed by #26093

[2018-01-06 17:30] #25439 closed

[2018-01-06 18:26] karelz commented on #26203
@weshaggard you mentioned in https://github.com/xamarin/xamarin-macios/issues/3138#issuecomment-355357327 that it is not broken package. What is needed in CoreFX then?

[2018-01-06 18:40] karelz commented on #26201
Sounds like reasonable and simple request.
The MIME type is defined in JSON RFC: https://www.ietf.org/rfc/rfc4627.txt

@davidsh does it have any side effects we need to discuss? Or is it ok to pass it for API review?
Should we add more values in one batch?

BTW: @madelson I have updated top post to match [formal API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/

[2018-01-06 19:04] 4creators commented on #26195
@tannergooding

There are several misconceptions in your arguments:

First of all API proposal is not about HW Intrinsic tests implementation but states that I have found it very useful to use `Span` and `Memory` while working on HW Intrinsic tests, therefore, discussion about implementing tests should go into PR review rather than API proposal.

IMO here we should discuss general usefulness of pr

[2018-01-06 19:11] 4creators commented on #26188
Got it. It is OK than as simpler solution from perspective of Jit support.

[2018-01-06 19:27] jkotas commented on #26195
@4creators I do not understand your proposal. I would help to have:

- More complete examples of how these APIs would be used - e.g. take the first API `public static Span<T> AsSpan<T>(this Vector64<T> vector)` and show a real world piece of code that uses it.
- More details about how these APIs should be implemented - e.g. provide a working functionally correct C# implementation for the first API

[2018-01-06 20:26] cartermp commented on #6707
This is no longer an area I'm working on. @terrajobst, this is related to your desire to get TPs in NuGet.

[2018-01-06 20:27] cartermp commented on #6706
This is no longer an area I'm working on. @terrajobst, this is related to your desire to get TPs in NuGet.

[2018-01-06 21:53] tmds commented on #25962
@danmosemsft the signal handler is set here: https://github.com/mono/mono/blob/17a2fba78de10678cf1ad903d410b057340a2795/mono/metadata/w32process-unix.c#L1610

[2018-01-06 22:56] ccicchitelli commented on #8723
Yes please!

[2018-01-07 00:32] SamuelCox opened #26206 "NullReferenceException when awaiting a task only in a unit test"
Got a bit of a weird one here.
If you clone https://github.com/SamuelCox/LifeManager and run the only test in CalendarServiceTests in LifeManager.CalendarService.Tests project, you should see the following stack trace:

`` at LifeManager.CalendarService.Services.CalendarService.<CreateEvent>d__2.MoveNext() in C:\projects\lifemanager\LifeManager\LifeManager.CalendarService\Services\CalendarService.

[2018-01-07 01:41] jnm2 commented on #26206
I'm getting the same behavior without NUnit being invoked. Add this class:

[code]

And overwrite these csproj properties:

[code]

And press F5.

In fact, awaits don't have anything to do with it either as you can see by running this:

[code]

Looking closer, it seems that you haven't set up the mock to return anything in particular when you call Add on the mock instance. So returning null is wha

[2018-01-07 01:42] #26206 closed

[2018-01-07 01:43] SamuelCox commented on #26206
@jnm2 solved this for me in another repo. My inexperience with async await meant I was essentially treating the task return type as a void return type, didn't realise I had to mock a task to be returned.

[2018-01-07 02:42] jamesqo opened #26207 "[Proposal] Add string.Contains overloads to mirror string.IndexOf ones"
## Proposed API

[code]

## Rationale

- It seems inconsistent that `Contains`, a method that compares strings, does not accept a `StringComparison` argument while many other string-comparing methods do.
- Adding the index-based overloads may prevent some string allocations because people can do `str.Contains(other, 3, 10)` instead of `str.Substring(3, 10).Contains(other)`.

[2018-01-07 05:04] kasper3 commented on #26201
All the non-obsolete ones https://www.iana.org/assignments/media-types/media-types.xhtml, including `application/javascript`.

[2018-01-07 05:25] danmosemsft commented on #25962
@tmds thank you, I was looking in *.cpp ...

[2018-01-07 06:31] danmosemsft commented on #25962
The Mono handler seems to end up doing the waitpid loop (in mono_runtime_do_background_work) via the finalizer thread (?). I am not sure whether we do such things on the finalizer thread - we should probably use the threadpool.

Our ProcessWaitState.Unix.cs "wraps" waitpid() so that one can do WaitForExit against multiple Process objects over the same PID. It expects to be the only thing calling w

[2018-01-07 06:35] jkotas commented on #26207
`bool Contains(string value, StringComparison comparisonType);` exists already: https://github.com/dotnet/corefx/blob/master/src/System.Runtime/ref/System.Runtime.cs#L2229

For the overloads that take indices, we may rather want to be spending energy on https://github.com/dotnet/corefx/issues/21395. The Span based APIs for string operations are superior to APIs that take indices.

[2018-01-07 07:18] danmosemsft commented on #26157
Ah, it has the `xunit.console.netcore.exe.` prefix...

[2018-01-07 07:45] Clockwork-Muse commented on #26178
I believe you have to supply both parameters, and quite possibly quoted (use an empty string for the one you don't specify otherwise).

Otherwise, try specifying the `SslStream` [constructor that takes a validation callback](https://msdn.microsoft.com/en-us/library/ms145056(v=vs.110).aspx) - why does it think the remote cert is invalid?

[2018-01-07 11:30] rars commented on #21824
After more investigation I suspect the issue I described above may be an issue with the SqlClient. This describes a simple setup to reproduce the error. I have two SQL servers: SQLSERVERA, SQLSERVERB.

On SQLSERVERB:
[code]
On SQLSERVERA:
[code]

I have a netcoreapp2.0 console application that executes this proc using the Dapper library: `SQLSERVERA.MyOtherDatabase.dbo.usp_MyOtherProc`. That execu

[2018-01-07 12:42] xPaw commented on #24354
I am actually running into this issue in my software on Linux (https://github.com/SteamDatabase/ValveResourceFormat/issues/94). I'm on debian 9 with libgdiplus 4.2-1+b1 installed.

[2018-01-07 14:53] zokiad commented on #26178
When I try with:

[code]

On linux, for web site korben, i obtain the SSL policy error: RemoteCertificateNameMismatch
On linux, for web site toutvendre, i obtain no SSL policy error.
On windows, all work fine.

Also I try this code:
[code]
**This code work fine on Linux and windows and on these 2 websites.**

Thus, the issue is with usage of TcpClient and sslStream.

I cannot use HttpRequest becau

[2018-01-07 14:57] zokiad commented on #23362
No, like on framework .net, .net core should take host for SNI because you can have several host on same web server.

`client.DefaultRequestHeaders.Host = host;`

[2018-01-07 15:04] jkotas opened #26209 "Deconstruct for DateTime / TimeSpan / DateTimeOffset"
_From @panost on January 7, 2018 13:42_

For example method https://github.com/dotnet/coreclr/blob/0efe34efa69dea7f9b94ddc8251810e0a264671c/src/mscorlib/shared/System/DateTime.cs#L847

could be made public and renamed to Deconstruct, so we can write

    var (year,month,day) = DateTime.Now;

The same pattern can be applied to DateTimeOffset and TimeSpan

_Copied from original issue: dotnet/coreclr

[2018-01-07 16:19] jamesqo commented on #26207
I don't see `Contains` in the proposal there.

[2018-01-07 16:19] madelson commented on #26201
@kasper3 that list seems enormous. I imagine that < 1% of these make of > 99% of real-world usage. I also worry that adding the full list would lead that the set of constants is exhaustive, which seems impossible to maintain. In my mind it seems better to establish the notion that these are constants for "commonly-used" mime types, where the type's purpose is preventing typos and similar mistakes

[2018-01-07 17:08] jakubsuchybio opened #26210 "XmlReader.Create thrown ArgumentOutOfRangeException on string with diacritics"
Hi,
I am in the process of migration our Windows game server into Linux. I already ported it to .NET Standard 2.0, but I am having an issue here.
When I try to read .xml files that have diacritics in the filename, then it throws on me.
This code, ran at linux:

[code]

Throws:
[code]
I tried to debug the source of .NET Core and got to Uri.cs:4768 with line:
```_string.CopyTo(_info.Offset.Path, des

[2018-01-07 17:21] davidsh commented on #26201
Should we add more values in one batch?

There are no side affects that I am aware of.

[2018-01-07 18:43] pingvinius opened #26211 "Could not load file or assembly 'System.Text.Encoding.CodePages, Version=4.1.0.0...'"
Hello,

I found a strange issue when using CodePagesEncodingProvider of System.Text.Encoding.CodePages assembly.
I did not test other encoding but when I try to return a file in aspnet core mvc application in the following encoding CodePagesEncodingProvider.Instance.GetEncoding(866), the application throws an exception:

A code is extremely simple:
[code]
As a initial string I use Russian word.

T

[2018-01-07 18:58] karelz commented on #26201
Thanks @davidsh, marking as ready for API review.
If anyone is aware of any other common MIME type used in .NET code, we can add it. I agree with @madelson that we should not add full list just because we can. The value of having long list is very small.

[2018-01-07 20:24] karelz commented on #23362
@zokiad the issue was closed as "invalid" per [closing comment](https://github.com/dotnet/corefx/issues/23362#issuecomment-346190846), so it was not fixed.

I was able to reproduce the difference in behavior - .NET Core 2.0 does not send SNI in the repro above, while .NET Framework 4.7.1 does.

[2018-01-07 20:37] davidsh commented on #23362
client.DefaultRequestHeaders.Host = host;

The behavior of HTTP stack on Windows is handled by native Windows WinHTTP.

I don't think WinHTTP will use the 'Host' header for SNI.  It relies on the DNS name itself.  We'll need to check into this.

[2018-01-07 20:59] ErcinDedeoglu opened #26212 "Session OnStart and Session OnEnd"
I came here from https://github.com/aspnet/Session/issues/20

@Tratcher @davidfowl @muratg
If you are not going to implement session onend; why we're setting the sessiontimeout?
I read all of above, but not implementing sesion onend is really strange decision. Every application uses session events. Also @Tratcher adviced that we can store data on sql not session. This is also not acceptable...

My

[2018-01-07 21:08] karelz commented on #26210
Can you try the same repro on Windows .NET Core 2.0?
Can you please try to isolate the repro just to `Uri`? (without XML reader)

Could it be related to #25820?

[2018-01-07 21:11] karelz commented on #26211
Can you reproduce it in a Console application as well (outside of MVC)?
Are you running on .NET Core 2.0 or on .NET Framework 4.6.1+?

[2018-01-07 21:15] karelz commented on #26212
@ErcinDedeoglu what exactly do you need in CoreFX? What kind of API on which type?
AFAIK Session is ASP.NET API, not in CoreFX ...

[2018-01-07 22:41] Tratcher commented on #26212
This issue was moved to aspnet/Session#206

[2018-01-07 22:41] #26212 closed

[2018-01-08 01:46] kasper3 commented on #26201
In aspnetcore repos, I found @Tratcher added a brief list: https://github.com/aspnet/BasicMiddleware/blob/1bd071d/src/Microsoft.AspNetCore.ResponseCompression/ResponseCompressionDefaults.cs#L11

Mozilla has a list of commonly used ones on the web (62 items): https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Complete_list_of_MIME_types

[2018-01-08 04:20] smoogipoo commented on #19914
It's super concerning that no one at Xamarin or Microsoft have provided a non-hacky workaround to this issue. Surely deleting System.Net.Http is not the final solution...

[2018-01-08 05:02] pingvinius commented on #26211
I've forgotten to tell, I also tried to reproduce this issue on a console application, both on my local pc and in a docker container, but it works as expected.
I am running .NET Core 2.0 (netcoreapp2.0) framework.

Also I tried to add the line below to project file:
`<PublishWithAspNetCoreTargetManifest>false</PublishWithAspNetCoreTargetManifest>`
It did not help at all.

Please correct me, if I'm

[2018-01-08 05:12] jkotas commented on #23470
This issue was moved to dotnet/coreclr#15780

[2018-01-08 05:12] #23470 closed

[2018-01-08 07:04] damccull commented on #2106
Yeah, I'm also really interested in this. I've found several implementations in C# (including a port of a java implementation by Whisper Systems) but I would rather have one I can trust as legit. I mean, I trust Whisper Systems, but I disagree with gplv3 and they have licensed it there...plus I'm not sure I trust the company that ported it to C#.

So...we can has curve25519?

[2018-01-08 07:09] dotnet-mc-bot opened #26213 "[Desktop] Test failure: System.Net.Security.Tests.SslStreamNetworkStreamTest / SslStream_NetworkStream_Renegotiation_Succeeds"
Opened on behalf of @Sunny-pu

The test `System.Net.Security.Tests.SslStreamNetworkStreamTest/SslStream_NetworkStream_Renegotiation_Succeeds` has failed.

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20180108.01/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.SslStreamNetworkStr

[2018-01-08 07:51] tmds commented on #25749
Implemented in https://github.com/dotnet/coreclr/pull/15393 and https://github.com/dotnet/corefx/pull/25753

[2018-01-08 07:51] #25749 closed

[2018-01-08 09:00] Sunny-pu opened #26214 "Tests failed with "Exit code was 131 but it should have been 42""
failed test:
System.Data.Tests.DataTableTest.PropertyExceptions
System.Data.Tests.DataTableTest.WriteXmlSchema
System.Data.Tests.SqlTypes.SqlStringTest.Properties
System.Data.Tests.AppDomainsAndFormatInfo.Bug82109
System.Data.Tests.DataSetReadXmlSchemaTest.LocaleOnRootWithoutIsDataSet
System.Data.Tests.DataSetTest.WriteXmlSchema
System.Data.Tests.DataSetTest.WriteXmlModeSchema1

Configuration: oxs

[2018-01-08 14:39] bartonjs commented on #2106
curve25519 will work as a named curve on Windows when ECDiffieHellman is added.  It won't "just work" on Linux because OpenSSL keys curves by OID and curve25519 doesn't have an OID, but it can be created from parameters.  It won't work at all on macOS because Security.framework only supports secp224r1, secp256r1, secp384r1 and secp521r1 (and not explicit curve parameters).

[2018-01-08 16:09] strajkovmsft commented on #25962
@danmosemsft we probably just want to wait on the process that we're currently closing right? So something like this in Process.Unix.cs:

[code]

[2018-01-08 16:13] Petermarcu commented on #14529
@danmosemsft whats left on this one?

[2018-01-08 16:20] KrzysztofCwalina commented on #25846
Yes, the cast from String to Span<char> has negligible cost in comparison to the cost of Equals for all but the sortest strings.

[2018-01-08 16:26] KrzysztofCwalina commented on #26104
+ @terrajobst, @tarekgh, @joshfree

If we add the APIs directly to Encodings.UTF8 they would be NS2.1+. I don't think it's acceptable. We need these APIs to implement [BufferWriter](https://github.com/dotnet/corefxlab/tree/master/src/System.Buffers.Experimental/System/Buffers/Text). Having said that, the Encoding would probably be the best place to have these APIs on in the absence of the constrai

[2018-01-08 16:26] karmeli87 opened #26216 "High latency (> 450ms) when reading from NetworkStream"
Scenario:
* TcpClient & TcpListener to talk between different processes
* High latency (> 450ms) when receiving messages on the _local_ machine

We have a protocol that requires that client & server will exchange heartbeats every 300 ms at most.
So we set NoDelay on the TCP client, but sometimes when we send a message that is around 100 bytes big, we read it from the stream always in about 450ms +

[2018-01-08 16:37] weshaggard commented on #26203
@HobDev Is there a reason you are trying to install the System.Threading.Overlapped package in your Xamarain project? It is my understanding from @marek-safar that it is part of the Xamarin platform so you shouldn't need to add the nuget package to use those APIs.

[2018-01-08 17:12] Clockwork-Muse commented on #26178
...of course the issue is with `SslStream` - you're getting certificate validation errors (well, in at least one case).  An exception for toutvendre makes no sense, since there were 0 policy errors.  korben has a wildcard certificate, so I'm wondering if that's the problem...?

[2018-01-08 17:28] danmosemsft commented on #26214
SIGQUIT

[2018-01-08 17:30] vancem commented on #16767
I happen to stumble across this issue in a search and wanted to do a update.

We have added System.Environment.CurrnetExecutionId to the System.Environment class.  It gives you a small integer number that represents a guess as to what CPU processor you are running on.   Because fetching the current processor number is expensive, and can't be perfectly accurate anyway (since the underlying OS sched

[2018-01-08 17:35] jkotas commented on #16767
This method is internal. We have not added it to the public surface yet.

[2018-01-08 17:36] atifaziz commented on #6073
How about letting the caller decide the shape of the result of `TrySingle`?

[code]

Benefits:

- This will work with LINQ, using query syntax or method chaining.
- It won't interfere with a future decision to have a simpler overload that, e.g., returns a tuple or some optional type.
- The result can be deconstructed via a tuple if someone so wishes:
   `var (hasValue, value) = xs.TrySingle(ValueT

[2018-01-08 17:42] danmosemsft commented on #25962
@strajkovmsft it looks like that would kick off an async Task that would poll at least every 100ms, but the process might not exit for an arbitrary time, and there might be many of them, so many tasks. I think ideally it would only run on SIGCHLD, and it would loop over all PID's we have started.

Mono also does this at the native level, which means that if any other managed code leads to a fork()

[2018-01-08 17:42] marek-safar commented on #26203
@weshaggard my understanding is that one of his project library second level dependencies brings the nuget automatically

[2018-01-08 17:42] Clockwork-Muse commented on #26216
...how are you reading from the NetworkStream itself?  Do you try and fill an application buffer, up to some predetermined size?  What happens if you reduce the size of the buffer (since you have a question about that)?

[2018-01-08 17:44] jnm2 commented on #6073
If we're going that direction, shouldn't it be `Func<T, TResult> someSelector, Func<TResult> noneSelector`?
At that point, why not introduce a Maybe struct with a `.Map(Func<T, TResult> someSelector, Func<TResult> noneSelector)` method?

[2018-01-08 17:45] stephentoub commented on #26214
The log shows:
[code]

[2018-01-08 17:48] danmosemsft commented on #14529
This is done except minor issues #26171  and possible Unix port #26172

It also needs to go up on Nuget with S.R.Caching added - @safern  is doing this now.

[2018-01-08 17:48] #14529 closed

[2018-01-08 17:48] benaadams commented on #26216
Have seen issues with localhost pop up https://github.com/dotnet/corefx/issues/24104

What happens if you explicitly use 127.0.0.1 ?

[2018-01-08 17:49] danmosemsft commented on #25386
Putting a semi arbitrary cost.

[2018-01-08 17:52] danmosemsft commented on #24333
Costing covers making a plan.

[2018-01-08 18:07] weshaggard commented on #26203
If that is the case and the fact that this library is getting deployed at all is causing an issue then a potential workaround is to explicitly add a reference to this package excluding the assets.

[code]

That is assuming the projects are dotnet cli based which they appear to be based on your repro steps.

[2018-01-08 18:09] shravan2x commented on #25800
@karelz It doesn't happen reliably even on the same PC. The same program above fails in some cases and passes in others. I'm entirely stumped by this.

In a simple case where it's the only running program, it works as expected. But if I run it when some other .NET Core apps (the real apps) are running, it fails.

Any ideas?

[2018-01-08 18:13] tarekgh commented on #26211
This is a duplicate of https://github.com/aspnet/Mvc/issues/6983. please follow the resolution steps there.

[2018-01-08 18:13] #26211 closed

[2018-01-08 18:16] danmosemsft commented on #25962
cc @stephentoub in case he wishes to comment.

[2018-01-08 18:19] #26157 closed

[2018-01-08 18:20] karelz commented on #25800
Do you mean that even your small repro fails, when other things are running on the box? Or that the code fails only in the context of larger real-world app?

[2018-01-08 18:25] danmosemsft opened #26218 "UWP F5 tests broken on ARM"
eg https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20180108.02/workItem/Canonicalization.Tests/wilogs

[code]

@dotnet/dnceng did anything change about the ARM machine setup? They need to have a developer license or sideloading enabled.

cc @safern

[2018-01-08 18:27] weshaggard commented on #26129
The extra dependencies for net46 no longer exists now. See our latest nightly at https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.IO.Packaging/4.5.0-preview1-26108-02.

[2018-01-08 18:27] #26129 closed

[2018-01-08 18:29] weshaggard commented on #21503
@cydhaselton I'm going to close this issue as I think the docs https://github.com/dotnet/source-build/pull/227 should cover what you need. Feel free to continue asking questions if needed.

[2018-01-08 18:29] #21503 closed

[2018-01-08 18:31] weshaggard commented on #18580
Closing this issue as I've not see any evidence of it recently. If we see similar issues in the future we can reactivate.

[2018-01-08 18:31] #18580 closed

[2018-01-08 18:32] wakemaster39 opened #26219 "Linux ClientWebSocket does not change state or CloseStatus on server crash"
I am using ClientWebSocket to connect to an ASP.Net core server. During development on a windows 10 machine, if I the asp.net server were to close for some reason an exception would be thrown. Along with this execption, the CloseStatus and the State of the connection would both be changed.

The exact same code while run under linux is still throwing the same exception, but the State of the connect

[2018-01-08 18:32] sdmaclea opened #26220 "API Proposal : Arm64 or Generic Intrinsics Crc32"
Target framework netcoreapp 2.1 or later

[code]

Arm32 supports similar instructions but does not support the 64 bit forms.

[2018-01-08 18:36] vancem commented on #26165
You can use at the OS level memory and CPU time usage in a cross platform way by using the APIs in System.Diagnostics.Process.   In for example to get the current processes working set and CPU time you can use:
[code]
You can access this data for other processes using the Process.GetProcesses() or Process.GetProcessById() or GetProcessesByName() APIs to find the process of interest and then fetchi

[2018-01-08 18:41] sdmaclea commented on #26220
@CarolEidt @eerhardt @RussKeldorph PTAL
@tannergooding @4creators @jkotas @dotnet/jit-contrib FYI

[2018-01-08 18:44] sdmaclea commented on #26220
@fiigii FYI

[2018-01-08 18:47] Chrisboh commented on #26218
These machines did just get imaged.  @MattGal do you know if the developer license got installed?

[2018-01-08 18:48] danmosemsft opened #26221 "Update Compat pack preview on Nuget"
Tracking another preview of the Compat pack. We expect to mark it final with 2.1 release.

[2018-01-08 18:54] MattGal commented on #26218
Filed https://github.com/dotnet/core-eng/issues/2368, will investigate shortly.  It looks like that wasn't  part of the setup scripts when we first stood up machines in early 2017, I'll get the tests working there and fix up the setup script.

[2018-01-08 18:56] pingvinius commented on #26211
I already tried both solutions, they are not helpful, just test them with a sample project and you will see that the issue is still reproducible. Please re-open the issue.

[2018-01-08 19:02] danmosemsft commented on #26218
Thanks ! Nice that the test log produced an actionable error.

[2018-01-08 19:04] tarekgh commented on #26211
did you try

[code]

This is aspnet publishing issue. so if you think this is a different issue, please move this issue to aspnet repo.

[2018-01-08 19:05] Priya91 commented on #25676
The proposed PR to fix this issue is merged, hence will close it as fixed. If issue still repros please re-open this issue with relevant information.

[2018-01-08 19:06] danmosemsft commented on #12425
This does not seem blocked on "ability to allocate spans on the stack" anymore.

[2018-01-08 19:11] ahsonkhan commented on #26207
I will add it. Thanks.

[2018-01-08 19:15] danmosemsft commented on #26214
We have seen a bunch of these on OSX in the past: https://github.com/dotnet/corefx/issues/25037

My thought is to set COREHOST_TRACE.

[2018-01-08 19:24] tannergooding commented on #26220
IIRC this was partially discussed in one of the previous API reviews (possibly the one for the x86 intrinsics).

I believe it was determined that intrinsics which are shared or those that would be generally useful should not be exposed any differently (i.e. just expose `Arm64.Crc32` and `Sse42.Crc32`). However, these intrinsics represent opportunities to add a general API for the functionality tha

[2018-01-08 19:25] PeterSmithRedmond commented on #26201
I don't see any reason why this isn't a good idea. I agree that we should not add the entire list of MIME types; it would just get in the way of our end programmers. And in any case, it's not possible to make a complete list because of the common practice of making up new MIME types like application/MY_AWESOME_APP+json.

Many of the Mozilla ones are not useful to our end programmers. We aren't a w

[2018-01-08 19:26] stephentoub commented on #26214
The ones I've looked at have all had the same fxr error in the log, so it seems cli/infrastructure related, maybe a race condition in how things are deployed.

[2018-01-08 19:28] zhenlan opened #26222 "No match was found for the specified search criteria and package name 'System.Runtime.Serialization.Primitives'"
@StingyJack commented on [Tue Jan 02 2018](https://github.com/dotnet/wcf/issues/2469)

This was working recently, but now its breaking builds as the package cannot be downloaded.

I tried to push a copy to our private nugetserver repo, but it barks about the nuspec being somehow invalid
[code]

[2018-01-08 19:32] danmosemsft commented on #26210
It would be great to try it with latest 2.1 bits - can be gotten from https://github.com/dotnet/cli - as #25820 was fixed post 2.0 I think.

[2018-01-08 19:35] FenrisWolfAtMiddleEarth opened #26223 "Equivalent to WebRequestHandler in .net Core"
In .net Framework we could use the WebRequestHandler, which has a UnsafeAuthenticatedConnectionSharing property. That will allow us to send multiple requests while keeping the connection open and without verifying credentials again. This is a huge performance boost when multiple requests are issued to the same host.
Is there similar functionality in .net Core ?

[2018-01-08 19:43] danmosemsft commented on #26214
I remember I added more logging: https://github.com/dotnet/core-setup/pull/3436 ... although that would make it even more verbose.

Perhaps we should log the trace in the event of failure, whether or not the environment variable is set.

[2018-01-08 19:44] atifaziz commented on #6073
@jnm2 Absolutely, you can skin this cat that way too. I used a single result-projection function to demonstrate that tuple construction then deconstruction would just work without much ceremony. Either way, I'm hoping that proposing the approach to let the caller shape the result could help move things a bit.

PS While I find `someSelector` and `noneSelector` clearer, a single projection function

[2018-01-08 19:46] karelz commented on #26201
Updated top post with @PeterSmithRedmond's suggestion.

[2018-01-08 19:50] danmosemsft commented on #26214
Although, I am not sure what extra it could tell us, in this case.

[2018-01-08 19:56] jakubsuchybio commented on #26210
You can try this repro code on Windows. It still crashes. When I use C:/ it doesn't crash, but with /mnt it does.
I tried 2.1.3 and still the same issue.

[2018-01-08 20:01] tannergooding commented on #12425
@mburbea, I'd like to push this through the API review process, but would appreciate if you could make a few changes to the OP first.

Specifically, if you could organize/reformatt it to be more readable/reviewable. The [API Review Process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) doc gives an example of a good layout here: https://github.com/d

[2018-01-08 20:02] tannergooding commented on #12425
Some thoughts of my own:
* I personally like `BitOps` or `BitOperations` the best
  * I think it fits and would allow us to have a single class
* `PopCount`
  * I think people using this will be generally familiar with it
  * x86 calls it [PopCount](https://source.dot.net/#System.Private.CoreLib/src/System/Runtime/Intrinsics/X86/Popcnt.cs,21)
  * ARM exposes a `vcnt` instruction, not sure what the

[2018-01-08 20:03] weshaggard commented on #21271
As part of Product Construction I think we covered part of this by allowing the configuration of publishing. However we need to test it for this case and make sure it is available in our servicing branches.

[2018-01-08 20:05] ccopperfwi opened #26224 "XmlSerializer throws exception when the type belongs to an assembly with no location property set"
I have a plugin system where Assemblies are dynamically loaded into a custom AssemblyLoadContext, using the LoadFromStream method. The following exception is thrown if I try to create an XmlSerializer for any type loaded in one of these assemblies.
[code]
I can reproduce this issue with the following:

[code]
Running this with using the --fx-version 2.0.0 switch will run correctly, but the other v

[2018-01-08 20:18] benjaminpetit commented on #26165
So to get CPU/Mem info for the current machine, we would have to list all processes with `Process.GetProcesses` and then aggregate CPU time and working set to get a global value?

I think it could work, but I don't know how expensive it would be to list all processes. But we can give a try.

Thanks!

[2018-01-08 20:21] jakubsuchybio commented on #26210
So the XmlReader has some XmlUrlResolver, which creates Uri here:
![](https://i.imgur.com/7vsfUZA.jpg)
and then the uri looks inside like this:
![](https://i.imgur.com/cLGiPam.png)
which then crashes here:
![](https://i.imgur.com/qaNxBTK.jpg)

More insights are too much for me. But from what I can see there is not enought space in that dest array to copy to... And that is because of bad canclulact

[2018-01-08 21:00] tmds commented on #25962
`sigaction` allows to set a handler that hands you a `siginfo_t` struct. That struct contains the pid of the child.
`ProcessWaitState` contains a static `Dictionary` to map the pid to the `ProcessWaitState`.

Some care needs to be taken to only reap the child processes that are started by the `Process` class and leave the rest to the original signal handler.
The implementation also needs to be rob

[2018-01-08 21:06] strajkovmsft commented on #25962
Would you all be alright with creating a new issue to handle that and containing this one to the pipes and their fix in my PR? Or alternatively considering my PR and incomplete fix for this issue and keeping the issue open post merge? I don't think I know enough about the native and managed code interop to do a good job of it without a lot of guidance and cycles at work I can't spare.

[2018-01-08 21:11] sdmaclea commented on #26220
Re #12425, I just read through the discussion.  This subject was not significant enough to form a consensus or to establish a precedent.

https://github.com/dotnet/designs/blame/master/accepted/platform-intrinsics.md#L24-L25 Suggests we shouldn't create intrinsics for things which are common to all platforms.

I am certainly OK making this a ARM64 proposal, but we should formally establish a prece

[2018-01-08 21:58] bbarry opened #26228 "Add Span<T>(ref T obj) constructor"
It is a small annoyance that to use a span/readonly span with a single instance of a value type you have to mark the assembly as unsafe (or call some helper code that does so)...

[code]

It would be nice if I had a constructor that did this for me:

[code]

And same for `ReadOnlySpan<T>`

Or is there a better way to do this?

[2018-01-08 22:02] terrajobst commented on #25801
The way I (and some others on our team) have been looking at `TryXxx` is that it's less about exceptions and more about whether the caller is expected to handle the situation that a valid return value cannot be produced. It's basically an alternative for the (somewhat) well established patterns where `null` is returned (for reference types).

The idea of using `TryXxx` is to make that very visible

[2018-01-08 22:04] danmosemsft commented on #25962
@strajkovmsft I suggest you just leave this issue open when you merge (remove the "Fixes #25962" text)

[2018-01-08 22:11] davidsh commented on #25520
@xrkolovos

Please review this article to make sure that TLS 1.2 is enabled on your Windows Server 2012 R2 machine:
https://technet.microsoft.com/en-us/library/dn786418(v=ws.11).aspx

[2018-01-08 22:15] davidsh commented on #26054
Based on the discussions in this thread it does appear that the original issue marked in the SO article is not a bug in the .NET Core code but rather a misuse of the Http APIs.

So, closing this issue.

[2018-01-08 22:15] #26054 closed

[2018-01-08 22:22] davidsh commented on #26216
cc: @stephentoub @geoffkizer

[2018-01-08 23:00] #25664 closed

[2018-01-08 23:12] sdmaclea commented on #26185
[code]

Will also lead to namespace conflicts.  So `SetAllVector128` will need to be resolved.

[2018-01-08 23:19] ltrzesniewski commented on #26188
The current purpose of the `System.Runtime.CompilerServices.Unsafe` class is to perform various memory operations (read/write/copy/zero etc) or casts that the language wouldn't otherwise allow.

Adding assumptions there doesn't look like a very good fit to me. It rather seems to be a violation of the single responsibility principle.

I'd dedicate a new class for this, here are some naming ideas:

[2018-01-08 23:23] fiigii commented on #26185
@sdmaclea I think no ambiguity when `using static` _all the ISA classes of ONE platform_ is enough.

[2018-01-08 23:28] sdmaclea commented on #26185
Agreed but compiler issue must still be resolved.  This is probably closer to the preferred style.

[code]

[2018-01-08 23:28] tannergooding commented on #26188
Thanks for the suggestions! I'll update the OP to include a list of suggested names sometime later tonight.

Based on the discussions here, and a couple I've had offline, the general idea of the proposal looks to be sound (we want a way to suggest optimizations to the compiler and we want those to be named/verifiable).

The actual name of the class that holds these methods will likely undergo some

[2018-01-08 23:35] sdmaclea commented on #26220
@CarolEidt @eerhardt I did not see either of you weigh in on #12425.  Can you comment on what preferred practice should be.

[2018-01-08 23:49] eyalsk commented on #26188
@tannergooding Just to add another obvious name but `Unsafe` is self-explanatory so `Optimization(s)` seems about right.

[2018-01-08 23:52] tannergooding commented on #26220
To be clear, I gave #12425 as an example of something (specifically, Bit Manipulation Instructions) for which:
1. Intrinsics are going to be exposed and
2. Which is useful as a general API

It was not given as something for which an explicit design decision had been made (AFAIK).

I'm also not sure that the [platform-intrinsics.md](https://github.com/dotnet/designs/blame/master/accepted/platform-i

[2018-01-08 23:52] benaadams commented on #26188
If they are to be trusted rather than guidance it should be `Assertion` rather than `Assumption`
e.g. `UnsafeAssertions.IsNotNull(foo)`

[2018-01-09 00:01] ltrzesniewski commented on #26188
@benaadams when you say `Assertion`, I immediately think of `System.Diagnostics.Debug.Assert`, whose role is basically the opposite of this proposal... That's a dangerous confusion to make.

[2018-01-09 00:17] fiigii commented on #26220
General APIs should be in `System.Numerics` or somewhere else.

BTW, x86 HW intrinsic does not have the APIs below:
[code]

[2018-01-09 00:18] karelz commented on #25846
Offline discussion: We are ok renaming `s` arg name to `value`. Top post updated.

[2018-01-09 00:33] sdmaclea commented on #26220
I will wait for an explicit design decision by API champions.

No it is not.  @caroleidt will be updating

In CoreClr origin/master X86.Sse42 does.  Although the ulong form has a the Crc32 result as 64 bit int despite crc32 being a 32bit quantity by definition.

[2018-01-09 00:36] fiigii commented on #26220
My apologies, I meant `public static uint Crc32(uint crc, ulong data)`

[2018-01-09 00:41] sdmaclea commented on #26220
Ok I just looked and found Arm64 also supports `crc32c`.  I will therefore revise the proposal above independent of precedent.

[2018-01-09 00:48] shmao commented on #24668
@terrajobst @karelz Please see below for the updated proposed APIs,

[code]

I had a PR for making the changes. Please let me know if you have any concerns regarding to the new APIs. Thanks.

[2018-01-09 00:52] CarolEidt commented on #26188
Although I think that `Assertion` is probably a more accurate description, its usage has generally been in conjunction with conditions that are expected to be validated by a language/compiler/runtime, rather than something that is expected to be assumed without verification (except possibly by a validation tool).
I would be more in favor of one of the `Assume` variants above.

[2018-01-09 01:02] danmosemsft commented on #25962
Given the info from @tmds, I think we would have something like this:

1) Modify SystemNative_ForkAndExecProcess to accept a callback (similar to SystemNative_RegisterForCtrl) for that PID.
2) Register handler for SIGCHLD and call the callback in it - presumably creating a temporary thread is best practice?
3) In the callback do essentially
[code]

Alternatively, if the SIGCHLD/pid mechanism is re

[2018-01-09 01:03] tannergooding commented on #26188
@CarolEidt, is your recommendation then that we do not perform any validation of the assumption when optimizations are disabled then?

Based on your statement on the CoreCLR issue (https://github.com/dotnet/coreclr/issues/2725#issuecomment-173028054), I had taken it that we should validate the condition under debug (however, that was 2 years ago and things may have changed).

[2018-01-09 01:05] jkotas commented on #26228
This is not doing GC tracking correctly. It is not ok to call `Unsafe.AsPointer` on `ref` that is not otherwise pinned. It will cause intermittent crashes.

[2018-01-09 01:07] CarolEidt commented on #26188
@tannergooding - thanks for reminding me of that. I still think it would be useful and probably desirable to validate the condition under debug. However, even in that context, I don't feel that the verb "assert" is quite strong enough; it says "I claim this is true". To me, "assume" says "I claim this is true *and* you (the compiler/JIT/runtime) can take actions based on that claim".

[2018-01-09 01:08] jkotas commented on #25962
There is a thread like that in System.Native.so for handling console signals. It should be easy to reuse it for handling other signals.

[2018-01-09 01:11] danmosemsft commented on #25962
You're right. I guess the main question then is whether we want this, or the surgery on ProcessWaitState to make it work off SIGCHLD. @tmds should we reliably get the PID's from SIGCHLD on all Unix, as far as you know, no need to poll on waitpid() as we [do now](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessWaitState.Unix.cs#L370) (albeit

[2018-01-09 02:09] 4creators commented on #26188
IMO `Assume.NotNull(foo)` has a closest semantic meaning to and best expresses actions taken by both developer and compiler. In case we show the fully qualified name it even better expresses its action:

`System.Runtime.CompilerServices.Assume.NotNull(foo)`

[2018-01-09 02:13] tannergooding commented on #26188
I'm going to tag @jaredpar and @MadsTorgersen explicitly here as well.

This will primarily be intended for the lower compilers (JIT/AOT, etc), but it would be nice to see if the higher level compilers (C#, VB, F#, etc) have any requirements or scenarios that this might prevent/harm/etc.

[2018-01-09 02:34] 4creators commented on #26220
IMO HW intrinsic philosophy was to be close to original CPU instructions. Larger abstractions of CPU functionality should go to dedicated classes/namespaces, as a result I agree with @fiigii and @tannergooding.

Anyway `BitManipulation` #12425 should be revived and implemented in parallel to HW intrinsics. That is a sufficiently small API to not be a high burden for the team.

[2018-01-09 02:36] bbarry commented on #26228
I think that is a problem for the caller, just like it is for the pointer ctor and `DangerousCreate()`.

This ctor would be at least as safe as the pointer one.

[2018-01-09 02:44] 4creators commented on #26185
Any ambiguity of this kind will raise `compilation error` and it should be sufficient to enforce correct usage of API. Developers will have than quite a few ways to handle efficiently this problem.

[2018-01-09 02:50] jkotas commented on #26228
@VSadov What were the problems with wrapping locals in Span?

[2018-01-09 02:51] 4creators commented on #12425
I am really glad this issue is moving forward 😄

IMO it is better for classess which are high/higher level to use standard .NET naming. In this case `Write`/`Read`.

[2018-01-09 03:27] sharwell commented on #26228
:memo: Related to dotnet/csharplang#992

[2018-01-09 04:38] HobDev commented on #26203
@weshaggard  I reference the package as mentioned by you. The error is gone and package successfully installed. But `Windows.Win32.Registry` through this error while building:
**Unable to load file Windows.Win32.Registry**

[2018-01-09 04:59] pingvinius commented on #26211
This issue was moved to aspnet/Home#2753

[2018-01-09 05:28] HobDev commented on #26203
@weshaggard  @karelz @marek-safar  Contribution to the [issue](https://github.com/jcurl/SerialPortStream/issues/45) could be very helpful.

[2018-01-09 06:49] FenrisWolfAtMiddleEarth commented on #26223
@davidsh
I can see you added this to future milestone.
Does that mean that currently there is no equivalent for this in core?

[2018-01-09 07:23] ayende commented on #26216
@Clockwork-Muse We aren't waiting to read the entire buffer, we are reading whatever it was that we got from the network and processing that.
The code in question looks like:

[code]

I would expect this to be completed as soon as it has _anything_ in the socket, not wait for more, which is what it looks like it is doing?

[2018-01-09 08:14] VSadov commented on #26228
There is a problem with wrapping a ref parameter.
If that is allowed then many currently allowed patterns would be errors.

Fir example any time a local is passed by ref to a method that returns span, that span would be not returnable.

[2018-01-09 12:19] bolorundurowb opened #26233 "Add PostAsJsonAsync<T>, PutAsJsonAsync<T> and ReadAsJsonAsync<T> to HttpClient"
These methods were and are available on the .NET framework using the `HttpClientExtensions` class. They make life easy for developers trying to make HTTP calls from their code as they don't have to manually deal with creating objects from the responses or parsing their typed payload into `StringContent` or what not.

[2018-01-09 13:09] StingyJack commented on #26222
I was able to get around this by removing the package and pointing code to what I think is the correct reference assembly. It compiles and seems to run OK.

FWIW. I'm not using .net core, and the package listed .net framework. Is this the correct repo?

[2018-01-09 13:25] ah- commented on #21824
Had a quick look and it seems to be caused by a missing Delegate flag. The following fixes it, although I'm not 100% sure if this is the right place to set that flag:

[code]

[2018-01-09 14:51] saurabh500 commented on #21824
Cc @geleems please take a look at the recommendation.
Thanks @ah-

[2018-01-09 15:15] davidsh commented on #26233
The HttpClientExtensions class is not actually in the .NET Framework.  It is a class available as part of a NuGet package that contains various HttpClient extension classes/methods.

Can you please point to the location of this NuGet package that you are referring to?

If you want to use this class against .NET Core things, you might simply be able to just reference that package. Or have the packa

[2018-01-09 15:16] bgribaudo opened #26234 "Expand Process.Kill to Optionally Kill a Process Tree"
## Issue
.Net Standard does not provide a means to kill a process tree (that is, a given process and all of its child/descendant processes).

In the Windows world, this can be done by assembling the list of descendant processes to terminate using [WMI's Win32_Process management object](https://stackoverflow.com/a/7189381/117424), [performance counters](https://stackoverflow.com/a/2336322/117424) o

[2018-01-09 15:18] bgribaudo commented on #25855
Thanks, @danmosemsft! I created a new issue (#26234) for the kill all proposal. I left this as a separate issue as an alternative/complement to the new issue. If this issue doesn't gain traction soon (it's fine with me if it doesn't), I should probably close it.

[2018-01-09 15:25] davidsh commented on #26223
There is no current equivalent for this in .NET Core.

[2018-01-09 16:00] eerhardt commented on #26182
Is there a "TrailingZeroCount"?  I know in C we have `__builtin_ctz`.

[2018-01-09 16:13] sdmaclea commented on #26182
Not as a standalone assembly instruction.  It could be constructed:

+ LeadingZeroCount(ReverseBits(ScalarA))
+ LeadingZeroCount(ReverseBits(VectorA))

[2018-01-09 16:22] sdmaclea commented on #26180
For vector floating point comparison, the return type is currently a vector floating point result.

This is not really type safe as the return type is really a bit mask.

We could make
[code]

into

[code]

This doesn't work well for generics, so these APIs would need to be completely elaborated.

It would also impact the conditional select logic.

I guess my preference would be to make the change

[2018-01-09 16:24] eerhardt commented on #26183
(nit) Are `left` and `right` good names for the parameters here?  Maybe `vector` and `value`?

Should `index1` and `index2` be renamed to `leftIndex` and `rightIndex`?

[2018-01-09 16:37] karelz opened #26235 "[Regression] Test failed: System.ServiceProcess.Tests.ServiceBaseTests / TestOnExecuteCustomCommand"
Failure:
[code]

## History of failures

Day | Build | OS | Details
--- | --- | --- | ---
8/14 | 20170814.02 | Win8.1 | pos 2
11/1 | 20171101.01 | Win10 | pos 17
11/4 | 20171104.02 | Win10 | pos 46
11/9 | 20171109.05 | Win8.1 |  pos 17
11/21 | 20171121.02 | WIn7 | pos 46
12/10 | 20171210.03 | Win8.1 | pos 17
12/12 | 20171212.03 | Win7 | pos 46
1/9 | 20180109.01 | Win10 | 2x failures (pos 44) - [li

[2018-01-09 16:37] karelz commented on #26235
Still some issue with the tests - cc @danmosemsft @wtgodbe

[2018-01-09 16:40] sdmaclea commented on #26183
@eerhardt Done

[2018-01-09 16:57] danmosemsft commented on #26235
Yeah, this is an older issue I think -- apparent flakiness in the service infra.
https://github.com/dotnet/corefx/issues/24993

[2018-01-09 17:04] tarekgh commented on #26124
@jkotas The portable implementation depends on the object

https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/ReadOnlySpan.cs#L105

do you think this implementation can be changed to avoid dependency on the object? or we just close this issue as by design and we know we'll have some behavior difference between the portable and built-in implementation?

[2018-01-09 17:06] jkotas commented on #26124
No. It is not possible.

Yes, I think this issue should be closed as by design.

[2018-01-09 17:07] eerhardt commented on #26220
I agree.  Here we simply expose the ARM intrinsic just like every other intrinsic.

Higher level APIs should get separate API proposals and implementations.  We shouldn't worry about a higher level CRC function here.  We should only need to worry about exposes the ARM intrinsic.

[2018-01-09 17:10] tarekgh commented on #26124
closing it per @jkotas comment.

[2018-01-09 17:10] #26124 closed

[2018-01-09 17:12] karelz commented on #26235
Is it possible that the recent changes made it more common? I updated history of the failure above ...

[2018-01-09 17:25] weshaggard commented on #26203
@HobDev does applying the same workaround help with the registry issue?

[code]

[2018-01-09 17:28] eerhardt commented on #26194
I can work on this change this week.

[2018-01-09 17:30] tannergooding commented on #26183
For reference, `x86` is using `value` and `data`, rather than `vector` and `value`. I don't have a preference either way, but it might be nice for them to be named consistently.

[2018-01-09 17:32] eerhardt commented on #26183
Good call - I don't have a preference either way as well.  Consistency is my preference.  I just wanted something better than `left` and `right`.

[2018-01-09 17:33] tannergooding commented on #26180
I think it makes sense. It's either NaN for true or Zero for false. At least in x86 its declared/described this way, and is the same in native code as well (ex: `__m128 _mm_cmpeq_ss (__m128 a, __m128 b)`)

[2018-01-09 17:34] tannergooding commented on #26183
Agreed.

[2018-01-09 17:39] danmosemsft commented on #26235
Unlikely.

ServiceBase has a bunch of calls to WriteLogEntry that only go to Debug.Write right now. In NETFX they go to the event log. We should probably make them do that, and perhaps the tests should read any such events and log them also.

Or we can do code inspection or add a sleep.

[2018-01-09 17:44] sdmaclea commented on #26194
@CarolEidt

So far in corefx the reference implementation is simply
[code]

In CoreCLR the pattern you describe is effectively implemented, but it is not implemented in IL as simply as you describe.  It is actually split.

[code]
[code]

JIT HW intrinsic implementation handles the bulk of your code
[code]

There is also an argument range exception possible, for immediate values.

Allowing JIT to h

[2018-01-09 17:47] sdmaclea commented on #26180
@tannergooding I assume you are recommending to leave it as it was.

[2018-01-09 17:47] danmosemsft commented on #26235
We should make it write to the event log regardless. @Anipik could you please fix ServiceBase WriteLogEntry to match Desktop, which writes to the event log. LMK if you need a pointer to the desktop sources.

[2018-01-09 17:55] stephentoub commented on #26223
Does WinHTTP not pool such connections?

[2018-01-09 17:57] sdmaclea commented on #26183
@tannergooding Like this?
[code]

[2018-01-09 18:00] davidsh commented on #26223
Yes, WinHTTP and WinINet pool and cache connections.

I probably should have clarified my response.  While there is no direct replacement for that property (UnsafeAuthenticatedConnectionSharing) from .NET Framework's WebRequestHandler class, it is not clear that it is needed in .NET Core with how the HTTP stacks are already caching connections and HTTP authentication credentials.

It would be best

[2018-01-09 18:01] tannergooding commented on #26194
The implementation could probably just be changed to `public static Vector128<T> Foo(Vector128<T> value) => Foo<T>(value)` everywhere. (Although, I think there was some pushback last time this was suggested.)?

This would SO on any runtime which doesn't support hardware intrinsics (which is already the case on any platform that gets the "sometimes supported" implementation, but doesn't handle thes

[2018-01-09 18:01] davidsh commented on #26223
cc: @Tratcher who can provide some possible historical background on the use of the 'UnsafeAuthenticatedConnectionSharing' property from `WebRequestHandler` and whether it's value is still needed/missing from .NET Core HTTP stacks.

[2018-01-09 18:04] blowdart opened #26236 "[Discussion] Microsoft Security Advisory CVE-2018-0786: Security Feature Bypass in X509 Certificate Validation"
# Microsoft Security Advisory CVE-2018-0786
## Security Feature Bypass in X509 Certificate Validation
### Executive Summary

Microsoft is releasing this security advisory to provide information about a vulnerability in the WCF packages for .NET Core 1.0 and 1.1, and 2.0. This advisory also provides guidance on what developers can do to update their applications correctly.

Microsoft is aware of a

[2018-01-09 18:05] tannergooding commented on #26180
Yes.

It might be that it was done this way in x86 since SSE only had `float` and did not have more general operations for other types at the time, but it is at the very least consistent and relatively easy to grasp

[2018-01-09 18:06] blowdart opened #26237 "[Discussion] Microsoft Security Advisory CVE-2018-0764: Denial of Service when parsing XML documents"
# Microsoft Security Advisory CVE-2018-0764
## Denial of Service when parsing XML documents
### Executive Summary

Microsoft is releasing this security advisory to provide information about a vulnerability in the public versions of .NET Core 1.0 and 1.1, and 2.0. This advisory also provides guidance on what developers can do to update their applications correctly.

Microsoft is aware of a Denial o

[2018-01-09 18:11] sdmaclea commented on #26194
if we change to `lookupHWIntrinsic(methodName, isa)` to

NamedIntrinsic `lookupHWIntrinsic(const char* namespace, const char* className, const char* methodName);`

All platforms can have a `NI_PlatformNotSupported` named intrinsic.  It can be returned if namespace or class name is not supported on the current platform (Unless method get is `get_IsSupported`)

This is roughly what my draft ARM64 co

[2018-01-09 18:12] tannergooding commented on #26183
I don't think x86 has equivalents for `Insert(value, valueIndex, data, dataIndex)` (`shuffle` and `unpack` are generally used for these). But yes, there is basically the following signatures:

[code]

Like @eerhardt, I don't have a preferences if we use `value/data` or `vector/value`.

CC @fiigii

[2018-01-09 18:12] jcouv opened #26238 "Dynamic binders fails to properly assign values to by-ref properties or indexers"
@VladimirReshetnikov commented on [Tue Mar 14 2017](https://github.com/dotnet/roslyn/issues/17858)

**Version Used**:

Microsoft Visual Studio Community 2017
Version 15.0.26228.4 D15RTWSVC
Microsoft .NET Framework
Version 4.6.01586

**Steps to Reproduce**:

Compile and run:

[code]

**Expected Behavior**: Indexer assignment is performed successfully. If it is not feasible for some reason, then the

[2018-01-09 18:13] CarolEidt commented on #26194
So, IIUC this would leave it up to the JIT to do the `IsSupported` check at JIT-time, and:
- If supported and constraints (e.g. immediates) are met, generate simple expansion.
- Otherwise, if non-recursive generate a direct call.
- If recursive, generate "full" expansion:
  - If not supported, simply generate a throw of PNSE (i.e. the `gtNewMustThrowException`).
  - Otherwise (supported, but immed

[2018-01-09 18:13] jcouv commented on #26238
@VSadov Please label and triage as appropriate. Thanks

[2018-01-09 18:15] CarolEidt commented on #26194
@sdmaclea - I think that your `NI_PlatformNotSupported` intrinsic could be considered an "internal implementation detail of my proposal. Ideally, it would be good to express this requirement in a way that is independent of the internal JIT or runtime details.

[2018-01-09 18:15] felixg commented on #23426
Many APIs, especially with high security requirements like payments, require IP white-listing. More common scenario is Facebook recommending to maintain [Server IP Whitelist](https://developers.facebook.com/docs/facebook-login/security#surfacearea) to protect Graph API calls. Routing cannot solve this issue because the target IPs aren't constant nor completely known in advance.

[2018-01-09 18:18] Tratcher commented on #26223
NTLM is connection bound authentication and requires that the connection be closed after every request for optimal security. Obviously this isn't optimal for performance so UnsafeAuthenticatedConnectionSharing allows overriding this closure and re-using the connection. When you do this you do not re-authenticate on subsequent requests, the server caches the results from the first one and re-uses t

[2018-01-09 18:21] stephentoub commented on #25962
Making the invocation asynchronous isn't just a best practice but rather a necessity: there's only a limited number of things you can safely do in a signal handler, and invoking managed code is not on that list.  As Jan mentions, we deal with this in System.Console by having a dedicated thread for handling the signals asynchronously; the signal handler merely writes the relevant information to a p

[2018-01-09 18:22] sdmaclea commented on #26194
Does `everywhere` include the CoreFX copy?

[2018-01-09 18:24] tannergooding commented on #26194
The reference assemblies return `null` by design, since they should only ever exist at compiler time. Loading it at runtime is an error.

[2018-01-09 18:37] CarolEidt commented on #26194
@tannergooding - do you recall what the concern was that was raised? At least from my perspective, I think I have a much better feel at this point for how much cleaner this approach is, now that we have gained a bit of experience and perspective on these intrinsics. And I would like to extend my appreciation to @sdmaclea  , @fiigii and @tannergooding for the significant contributions (and patience

[2018-01-09 18:44] saurabh500 commented on #21824
cc @LotharOfTheHillPeople can you help with this issue as well?
Can we have a sweep of the GSS flags that ODBC driver on unix uses for integrated auth and have similar parity in SqlClient? It will be good to have a list of these flags from MSSQL-ODBC driver.

[2018-01-09 18:54] tannergooding commented on #26194
Not off the top of my head. I think it might have been @jkotas that raised it however.

I'll try and see if I can find it (no guarantees however, lots of threads and lots of comments 😄)

[2018-01-09 18:56] JonHanna commented on #26238
Problem 1. The dynamic binder can't create a valid tree because the expression produced would have to work on a property of:

[code]

That throws an `ArgumentException` with the message "Property cannot have a managed pointer type." This would have to be changed to be considered valid.

Problem 2. If it was allowed it wouldn't be considered an lvalue, so the lvalue rules would have to be changed t

[2018-01-09 18:58] bgribaudo commented on #26121
@eschneider999, improved error messages would be _really_ nice, particularly in the example case you mention!

However, I think it's going to be challenging to pull this off for many of the messages because they are generated by SQL Server, not the client. The client is simply reporting what the server told it.

In the case of the "String or binary data would be truncated" error, there's an [activ

[2018-01-09 19:25] jkotas commented on #26194
If you mean that e.g. this pattern https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/Intrinsics/X86/Avx.cs#L237, you would need more JIT helpers to make this work with the simple above pattern to throw the right exception. My preference is to have fewer JIT helpers when I have a choice. If you think that having more JIT helpers is better choice in this case, I am fine w

[2018-01-09 19:30] CarolEidt commented on #26194
Thanks for clarifying. I believe I *do* think that having more JIT helpers would be a better choice, since it saves a lot of boilerplate implementation in the library. That said, perhaps there are more than I realize.

[2018-01-09 19:35] tannergooding commented on #26188
Updated the OP with:
* the other names suggested so far
* an explicit callout that these should validate the assumption when optimizations are disabled (we should clarify if this is part of the API contract or an implementation detail of the compiler)
* A requirement that these assumptions be named (and not a generic `Assume(bool cond)` API)
* A callout to the existing IL support for skipping cert

[2018-01-09 19:42] tannergooding commented on #26194
Could you clarify on what you mean by JIT helper?

Are you referring to a managed helper such as `ThrowHelper.ThrowNotSupportedExceptionIfNonNumericType<T>();` or actual native code in the JIT?

[2018-01-09 19:45] fiigii commented on #26194
The JIT helper throws `NotSupportedException` with messages to match the behavior of `System.Numerics.Vector<T>`.

[2018-01-09 19:46] jkotas commented on #26194
Right, we would need to have `CORINFO_HELP_XXX` equivalent of `ThrowHelper.ThrowNotSupportedExceptionIfNonNumericType<T>();`. The JIT cannot just introduce a call to `ThrowHelper.ThrowNotSupportedExceptionIfNonNumericType<T>();` today. It does not have capability to introduce calls to other managed methods today.

[2018-01-09 19:51] sdmaclea commented on #26194
@jkotas There is no reason for generated code to call the managed method.  JIT needs to know anyway to support the inlining rules required.  JIT can either throw or not throw based on the template arguments and platform features.

[2018-01-09 19:54] jkotas commented on #26194
Right. And to throw exception with the right message, we need a new `CORINFO_HELP_XXX` helper.

[2018-01-09 19:54] tannergooding commented on #26194
Today we are already doing:
https://github.com/dotnet/coreclr/blob/master/src/jit/hwintrinsicxarch.cpp#L683

For `ThrowNotSupportedExceptionIfNonNumericType` it should just be:
[code]

We already have to have an `IsNumericType` check today, in order to determine whether or not to fallback on something like `StaticCast`:
https://github.com/dotnet/coreclr/pull/15538/commits/038cb09452e708fdcefd7b093

[2018-01-09 19:57] jkotas commented on #26194
This gives you the generic "platform not supported" message. You rather want the "this type is not supported" message.

[2018-01-09 20:01] tannergooding commented on #26194
Ah, OK. This was the part I was missing.

I also think this is two parts. One for specific error messages. the other part is that we could simplify S.P.CoreLib to have a single implementation cross-channel (currently the recursive implementation only exists on the target platform, we have an identical implementation for other archs that throws the default PNSE)

[2018-01-09 20:03] jkotas commented on #26194
I want to keep this so that bring ups of new platforms do not need to worry about the hardware intrinsics.

[2018-01-09 20:04] sdmaclea commented on #26194
@jkotas Could we have a single HW Intrinsic helper which took an argument for the Exception type/message

There are currently three cases
+ Platform not supported
+ This type is not supported
+ Argument out of range

[2018-01-09 20:05] sdmaclea commented on #26194
If there is no target specific code required to support intrinsic when disabled, is that satisfactory?

[2018-01-09 20:08] tannergooding commented on #26194
For ourselves, that would be handled by throwing a PNSE in the mustExpand case.

For other compilers (mono) they will already throw a SO exception or method/type not found exception (depending on their corelib)

[2018-01-09 20:09] jkotas commented on #26194
Right, there are other code generators out these in addition to RyuJIT.

[2018-01-09 20:13] fiigii commented on #26194
BTW, PNSE != NSE != AE.

[2018-01-09 20:27] shravan2x commented on #25800
The code fails only in the context of larger real-world app.

Right now, I'm trying to strip away parts of the larger app to see if that gets me anywhere.

[2018-01-09 20:53] danmosemsft commented on #26235
BTW @weshaggard any particular reason you removed the EventLog logging?

[2018-01-09 20:57] #15472 closed

[2018-01-09 21:01] weshaggard commented on #26235
Because they didn't exist when we ported it. See https://github.com/dotnet/corefx/issues/23864.

[2018-01-09 21:07] tannergooding commented on #26194
So today, the exact behavior primarily depends on the implementation of corlib you have at runtime.

For CoreCLR, regardless of RyuJIT or the legacy JIT, you will get the recursive implementation on x86/x64.

This means that you will end up with a SO exception assert for any x86 intrinsic which is not recognized but which has a recursive managed implementation (the impIntrinsic will fall out and a

[2018-01-09 21:08] CarolEidt commented on #26194
I think the advantage of calling the managed method instead of directly generating the throw (in the non-recursive case) is that the exception happens in the method itself. Also, to me it seems cleaner that the JIT only supports the supported case in the "happy path", and all the other cases are handled in the recursive case.

[2018-01-09 21:14] sdmaclea commented on #26194
I am on board.  So for the extract case..

C# the supported platform
[code]

[2018-01-09 21:15] tannergooding commented on #26194
We are already doing that today. We only emit the `gtNewMustThrowException` node if `mustExpand` is true (so it only emits when we are inside the GT_CALL to the intrinsic).

[2018-01-09 21:25] logiclrd commented on #25575
Do you think it might fix this issue to change this line:

    if (converter.CanConvertFrom(typeof(string)))
    {

https://github.com/dotnet/corefx/blob/f0ccd9742065ee2aa296448fe3dd38ef6ff77af9/src/System.Data.Common/src/System/Data/XMLSchema.cs#L50

    }

...to this instead?:

             propValue = converter.ConvertFromInvariantString(value);

[2018-01-09 21:31] ViktorHofer commented on #25575
yes, that should fix the issue. As you described, it only occurs during deserialization. Do you want to try fixing the issue by yourself and add a few tests that test the correct behavior?

[2018-01-09 21:33] Anipik commented on #26235
@danmosemsft src\NDP\fx\src\Services\ServProc\System\ServiceProcess\ServiceBse.cs  is this the correct pointer ?. Do I need to write any tests for it also ?

[2018-01-09 21:35] nopara73 commented on #15033
Is there a workaround to this issue in case the Socket needs to be kept open?

[2018-01-09 21:42] eschneider999 commented on #26121
Ok, I can run the test project after "build-tests", but I get a ton of thrown exceptions.

Not sure about this DB connection?
"Data Source=9ae3ff15-f214-46e0-beab-9ffc9d614b74; Integrated Security=true; Connect Timeout=1;Enlist=False"

Is there any docs on test projects?

Why don't they just use unit tests?

[2018-01-09 21:44] CarolEidt commented on #26194
I guess I don't see that we are at a consensus yet. I believe there are two options under consideration:
- The JIT is responsible for doing all the checks, and, in the recursive/mustExpand case, it generates either the appropriate throw or the switchtable expansion as needed. In this case the implementation is simple, but even the legacy jit would have to minimally support throwing PNSE.

OR

- Th

[2018-01-09 21:44] lukaskabrt opened #26242 "Add support for decompresing data in ReadOnlySpan<byte> with Deflate algorithm"
`System.IO.Compression` contains the `DeflateStream` class, that can decompress data from a stream. In case we have compressed data already loaded in a `ReadOnlySpan<byte>`, using `DeflateStream` might be little inefficient - we have to create a `MemoryStream` and this operation allocates a new array.

[code]

It would be great, if the Deflate algorithm is exposed in the way that supports processi

[2018-01-09 21:50] logiclrd commented on #25575
I suppose I could have a go at it. :-)

[2018-01-09 21:51] ViktorHofer commented on #25575
Perfect, I'll assign you to the issue. Feel free to shout out if you need any help.

[2018-01-09 22:00] saurabh500 commented on #25575
With the proposed change, will a DataTable serialized with earlier code be de-serializable using the new code and yield the same output as before the change?
I am simply putting this question out to address any compatibility issues if they can arise due to the proposed change.

[2018-01-09 22:06] sdmaclea commented on #26194
@CarolEidt  @jkotas

OR
+  The JIT is responsible for doing all the checks, and, in the recursive/mustExpand case, it generates either the appropriate throw or the switchtable expansion as needed. In this case the implementation is simple.  **On non-supported platforms and JITs, alternate mscorlib HW intrinsic src implementation is used to throw PNSE.**

This is currently what we have been trying

[2018-01-09 22:10] ViktorHofer commented on #25575
I wouldn't expect any compatibility issues as the serialization logic is culture neutral, only the deserialization logic uses the current culture.

[2018-01-09 22:17] jkotas commented on #26194
IL implementations of the methods is in the library in either case.

If you wanted to optimize the IL size of the library, we would implement these methods using `throw new PlatformNotSupportedException()` body everywhere. It is same body for all methods, and so the metadata of all methods will point to the same blob. The fallback expansion would need to be done differently in the JIT compared to

[2018-01-09 22:19] tannergooding commented on #26194
It doesn't look like `impIntrinsic` (or the relevant pieces in the method) is under a `LEGACY_BACKEND` ifdef, so I think it is already attempting JIT intrinsic expansion today (might have missed something, however).

I don't think we are achieving this today. It depends on the underlying corlib implementation in the end.

If a user compilers against one ref assembly and attempts to run it on any g

[2018-01-09 22:22] tannergooding commented on #26194
This may provide the most consistent experience everywhere.

In all cases it would be:
* JIT recognizes
  * Intrinsic is expanded for direct calls
  * Indirect calls would expand or emit compiler callback in the method body (this would require some mechanism to detect this)
* JIT does not recognize, IL is jitted for all calls (throwing a PNSE)

[2018-01-09 22:22] karelz commented on #26242
cc @stephentoub @KrzysztofCwalina

[2018-01-09 22:28] sdmaclea commented on #26194
If we used a wrapper exception throw new `HWIntrinsicNotSupportedException()` it might provide the advantage of being explicit.

[2018-01-09 22:28] CarolEidt commented on #26194
I'm not crazy about the idea of a special mechanism for this. Perhaps this pattern is best for the IL method of `Foo.Bar()`:
[code]
This behaves mostly as @tannergooding suggests above, but allows the JIT to recognize the recursive case and do the appropriate (simple or switchtable) expansion.

[2018-01-09 22:29] khellang commented on #26233
Isn't that method part of [Microsoft.AspNet.WebApi.Client](https://www.nuget.org/packages/Microsoft.AspNet.WebApi.Client/5.2.4-preview1)? In that case, you can test out version 5.2.4-preview1, which was released a few days ago with support for .NET Standard 2.0 :smile:

[2018-01-09 22:31] tannergooding commented on #26194
@CarolEidt, how would `bool IsSupported { get; }` be defined?

We can't just define `bool IsSupported => false`, as that won't work for indirect calls. We also can't just define `bool IsSupported => IsSupported`, as that would SO in the cases I mentioned above (JIT doesn't recognize)

[2018-01-09 22:38] MichaelSimons opened #26246 "AssemblyLoadContext.Default.Unloading not triggered when using Windows Containers"
@benjaminpetit commented on [Thu Jan 04 2018](https://github.com/dotnet/dotnet-docker/issues/354)

In order to shutdown properly, our app needs to be notified.

Using the Linux container we rely on `AssemblyLoadContext.Default.Unloading`, and works fine. But it seems that this event is not triggered and our app is killed almost instantaneously.

Program.cs

[code]

Dockerfile:

[code]

## Steps to

[2018-01-09 22:40] logiclrd commented on #25575
That aspect should also be covered by the unit tests. I'll make one that specifically embeds a DataTable serialized with the current-released code and deserializes it with the new code.

[2018-01-09 22:49] danmosemsft commented on #26235
@Anipik yes correct place. I don't know why it seems it's not on reference source. Yes, minimal test please. Note that the events written by a test service can be found because "source" in the event log is the service name.

[2018-01-09 22:50] CarolEidt commented on #26194
I believe we can; `IsSupported` would be always be recognized as an intrinsic by any platform/JIT that supports HW intrinsics, in which case it would return the true value.

Or do you mean indirect calls to `IsSupported`? I think we can reasonably say that `IsSupported` could never be invoked indirectly.

[2018-01-09 22:54] tannergooding commented on #26194
Yes. It would impact indirect calls (Reflection, Delegates, etc).

[2018-01-09 23:01] jkotas commented on #26194
I do not think we should be making exceptions like this.

In this scheme, I think the most straightforward option to get a working IsSupported would be to substitute the IL for it on the EE side: https://github.com/dotnet/coreclr/blob/master/src/vm/jitinterface.cpp#L6970

[2018-01-09 23:08] logiclrd commented on #25575
Hmm, curious. I'm in the habit of using Visual Studio 2017 Preview (Version 15.6.0 Preview 1.0), but when I use that on the `System.Data.Common.sln` solution, opening any C# source code file immediately crashes the development environment. However, when I instead use the stable branch of Visual Studio 2017, this problem does not occur. :-)

[2018-01-09 23:15] tannergooding commented on #26194
To make sure I understand. You are suggesting that, if we went with the approach @CarolEidt suggested (https://github.com/dotnet/corefx/issues/26194#issuecomment-356435124), `IsSupported` would be implemented as `bool IsSupported => false` and we would update the EE to replace the IL with the recursive implementation such that indirect calls would also work as expected?

[2018-01-09 23:15] KrzysztofCwalina commented on #26242
Yes, we have such APis in Brotli (see https://github.com/dotnet/corefx/issues/25785). We should add similar APIs to Deflate/GZip.

[2018-01-09 23:16] CarolEidt commented on #26194
What @tannergooding said

[2018-01-09 23:34] danmosemsft commented on #24993
using #26235

[2018-01-09 23:34] #24993 closed

[2018-01-09 23:40] jkotas commented on #26194
Right.

[2018-01-09 23:42] sdmaclea commented on #26194
If and only if JIT is RyuJIT?

[2018-01-09 23:43] tannergooding commented on #26194
I would believe this would be on any JIT that supports the HWIntrinsics.

As I indicated earlier:

[2018-01-09 23:46] sdmaclea commented on #26194
@tannergooding I assumed that comment indicated LegayJIT was broken.

[2018-01-09 23:46] danmosemsft commented on #26235
Meanwhile as for the cause of this issue and #24993.

OnStart, OnStop, and OnCustomCommand etc handlers are not called synchronously. This is not the case. ServiceBase invokes all of them on the threadpool and does not mutually sync them. The tests try to use controller.WaitForStatus(ServiceControllerStatus.Running); to avoid problems but it isn't sufficient.

TestOnExecuteCustomCommand does start

[2018-01-09 23:49] tannergooding commented on #26194
It might be (in which case we should log a bug and track getting the HWIntrinsic functionality ifdef'd appropriately)

[2018-01-09 23:56] danmosemsft commented on #26235
One way to fix this could be a named pipe between test and service, the service would send whatever handler it was processing, and the test could wait on whatever handler it expected. This would eliminate the need for the log file. This would need a bunch of reworking of the tests.

[2018-01-10 00:03] danmosemsft commented on #26235
A lesser way to fix it could be to disregard the order of the log (to solve the ordering problem) and use a sleep (to "solve" the cropped log problem)

[2018-01-10 00:15] VSadov commented on #26238
Right. We may have to split this into two bugs -
- supporting ref-returning members as lvalues in expression trees (probably the bigger part)
- fixing dynamic binder to use that.

As for support in interpreter - that is not possible now. That would need new reflection APIs.

In general reflection APIs are not awesome for byrefs - even for parameters. Anyone who tried to call Interlocked.CompareExc

[2018-01-10 00:21] karelz commented on #26246
Is it a problem of just a specific Linux container? Or how else should I understand the comment above "Works fine using Linux containers".

[2018-01-10 00:24] ViktorHofer commented on #25575
That happens from time to time depending on the machine configuration, the state of the current preview version and your OS version (Windows stable vs Fast Ring).

[2018-01-10 00:32] danmosemsft commented on #25575
@logiclrd you might hit the send feedback button in VS to report that crash.

[2018-01-10 00:52] zhenlan commented on #26222
Thanks for updating, @StingyJack. Referencing directly to full framework reference assembly is the right approach for a full framework application. This repo is for .NET Core issues only.

[2018-01-10 00:52] #26222 closed

[2018-01-10 01:05] stephentoub commented on #26242
That isn't the only option; you can create an UnmanagedMemoryStream from it (pinning the span with fixed) and then there's no extra array needed.

And if you have the data as a Memory instead of a Span, you can either do that or create a MemoryStream that wraps the original array of TryGetArray returns one.

[2018-01-10 01:14] geleems commented on #25620
Fix was merged to master branch. Closing this issue.

[2018-01-10 01:14] #25620 closed

[2018-01-10 02:29] JohnRusk opened #26248 "NetworkInterface.Description is not useful on Linux"
I see that, in #8297, the decision was been made for this property to just return the name of the interface, on Linux.  E.g. "eth0", whereas on Windows it returns a useful description of the make and model of the interface card.  It was also mentioned in that same issue, that the description could be improved in the future.

Is there any possibility now of improving it to make it work more like th

[2018-01-10 04:14] danmosemsft commented on #26248
cc @tmds who opened the other issue.

[2018-01-10 05:07] StingyJack commented on #26222
@zhenlan - Two things...
1) The nuget package didnt prevent me from using it in a netfx project if it was supposed to. That problem is still not addressed.
2) I logged this issue in the WCF issues list, because it was a problem with finding that package in nuget.org. You moved the issue here. If it needs to go back there or somewhere else, then please do so but issue 1 needs to be addressed.

[2018-01-10 05:29] MohammadHamdyGhanem opened #26251 "SIMD Numeric Arrays Operations"
I suggest to add some SIMD operations to Array class, such as:

[code]

C# should contain {2, 4, 6, 8, 10, 12, 14, 16}
If a and b have different  lengths, C# can raise exception, or conceder missed elements in the shortest array to be zeroes.
If we want to do so, we can use Vector4 to calculate the result:
var Result1 = new Vector4(1, 2, 3, 4) + new Vector4(1, 2, 3, 4);
var Result2 = new Vector4(5

[2018-01-10 05:33] tannergooding commented on #26251
See the Hardware Intrinsics proposal: https://github.com/dotnet/designs/blob/master/accepted/platform-intrinsics.md (doc is slightly out of date, based on the most recent work).

[2018-01-10 06:03] jkotas commented on #26246
@karelz Looking at the issue title, this is about Windows containers.

The Unloading event is delivered during graceful shutdown only. It is not delivered when the process is terminated ungracefully.

Linux containers receive SIGTERM signal when they are stopped. We treat SIGTERM signal as graceful shutdown and deliver the unloading event. https://github.com/dotnet/coreclr/issues/7394 has more con

[2018-01-10 07:12] HobDev commented on #26203
@weshaggard  It does not help. The build is successful. But when deploying an error is thrown at `Main.cs` on the `NSApplication.Init();` statement. The copy of the Exception window is as follows:

System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.Win32.Registry' or one of its dependencies
  at System.AppDomain.Load (System.Reflection.AssemblyName assemblyRef, System.Secu

[2018-01-10 09:18] 4creators commented on #26183
IMHO `vector\value` would better describe parameters

[2018-01-10 09:45] ilyalukyanov commented on #25717
Same issue with `microsoft/aspnetcore:2.0.5-nanoserver-1709`

[2018-01-10 11:01] bolorundurowb commented on #26233
@khellang I don't think it is part of that package. It is part of [System.Net.Http](https://www.nuget.org/packages/System.Net.Http/) which doesn't support Net Core as far as I know

[2018-01-10 11:09] khellang commented on #26233
@bolorundurowb No, it's not. It's a bit complicated, but the extensions are in the `System.Net.Http` namespace, but in the `System.Net.Http.Formatting.dll`. shipped in the `Microsoft.AspNet.WebApi.Client` NuGet package.

I just tested this successfully:

[code]

Using the following csproj:

[code]

[2018-01-10 11:14] bolorundurowb commented on #26233
Alright @khellang  thanks for the correction

[2018-01-10 11:18] khellang commented on #26233
I doubt that these extension methods would ever be added directly to `HttpClient` as that would require a dependency on some JSON serialization library. I think using `Microsoft.AspNet.WebApi.Client` with the provided extension methods is a nice compromise 😄

[2018-01-10 11:27] bolorundurowb commented on #26233
@khellang Asp.Net Core already uses Newtonsoft.Json library for its JSON serialization if I am not wrong (I remember reading that in some of the v1.0 MSDN blog posts). So adding those methods directly shouldn't require adding a new dependency.

[2018-01-10 11:35] khellang commented on #26233
Yes, but that doesn't mean you can just add JSON methods to `HttpClient`. `HttpClient` has nothing to do with ASP.NET Core. It's a standalone HTTP client that can be used anywhere.

[2018-01-10 12:00] bolorundurowb commented on #26233
I understand that, but my concern is that as a user, I have to bring in all of  Microsoft.AspNet.WebApi.Client just to have access to the HttpClient generic  Json extension methods.

[2018-01-10 12:01] khellang commented on #26233
I'd be more worried by all the others that suddenly have to bring in `Newtonsoft.Json` when using `HttpClient`. There's definitely a lot of users not interested in that 😉

[2018-01-10 12:03] khellang commented on #26233
That's the beauty of layering; if you're not willing to pay the cost, you get the bare-bones experience. The more functionality you need, the more you layer on top. It's a convenience feature; if you're not willing to pay the cost of pulling in a library with some extension methods, you most likely don't need it enough 😄

[2018-01-10 12:15] OsirisTerje commented on #10752
@robertmclaws @weitzhandler @karelz  Any progress on this?

[2018-01-10 12:43] weitzhandler commented on #10752
Completely forgot about it, I'll look into it, thanks for the reminder.

[2018-01-10 13:37] tmds commented on #25962
I was assuming this was the case, but after reading some more documentation I think this isn't true because of signals being merged. From https://www.gnu.org/software/libc/manual/html_node/Merged-Signals.html:

So on SIGCHLD we need to call waitpid for each pid we have started.

[2018-01-10 14:43] aobatact commented on #26251
Current solution might be like this
[code]

[2018-01-10 15:52] MohammadHamdyGhanem commented on #26251
@aobatact
Yes. This is the scary code that makes my proposal in first place! .. Vector 4 seems great, but practically it consumes a lot of coding effort and I think the way you fill it with values from arrays and get result back to arrays will eat some of the saved execution time! So, the question is: why don't you do this in a more efficient low level way, and make us happy?

[2018-01-10 15:57] karelz commented on #26248
Sounds like we can't improve it in the code :(.
@JohnRusk do you want to submit a PR into docs repo to clarify Linux behavior? (edit button on the document link you provided)

[2018-01-10 16:19] aobatact opened #26253 "Math.Abs is slow"
Math.Abs is slow when the value is negative
[code]
|  Method |    x |      Mean |     Error |    StdDev |
|-------- |----- |----------:|----------:|----------:|
|      **If** | **-100** | **0.2354 ns** | **0.0050 ns** | **0.0044 ns** |
|   MyAbs | -100 | 0.2350 ns | 0.0037 ns | 0.0034 ns |
| MathAbs | -100 | 1.0940 ns | 0.0019 ns | 0.0016 ns |
|      **If** |  **100** | **0.2307 ns** | **0.0013 ns

[2018-01-10 16:22] tannergooding commented on #26251
@MohammadHamdyGhanem, have you checked the codegen to see if Vector4 is actually not performing well?

The managed API may look one way, but the actual codegen tends to be fairly efficient. There is also the `Unsafe.CopyBlock`, `Unsafe.Read`, and `Unsafe.Write` APIs (in the System.Runtime.CompilerServices namespace) that let you efficiently read/write `Vector<T>` from/to memory.

As for doing it a

[2018-01-10 16:23] sdmaclea commented on #26183
What scope do you intend for that statement?  Methods with similar usage?  All methods?

For simple binary operands left and right is simple and can be consistent.
`result = left operator right` makes a lot of sense and X86 is already using this naming

Arguments starting with same letter will slow comprehension slightly.  People look at first and last letter, word length to recognize differences

[2018-01-10 16:30] MohammadHamdyGhanem commented on #26251
@tannergooding
Good. So, put them all togather and give us an easy to use class or extension methods to the Array class.

[2018-01-10 16:42] danmosemsft commented on #26253
@tannergooding

[2018-01-10 16:42] eerhardt commented on #26183
My intended scope was that for things that are the same, or very similar, if there is no value in doing something different, then they should be consistent.

Another inconsistency is x86 has the order `vector, data, index`, but this has the order `vector, index, data` - the index and the data parameters are switched around.  Maybe the value in being different there is that the machine instructions

[2018-01-10 16:43] danmosemsft commented on #26248
Maybe it could prefer the better description if it was available?

[2018-01-10 16:44] tannergooding commented on #26253
This is probably because `Math.Abs` is written in two parts:

[code]

Based on the assert, I would guess that having it all in one part would either prevent inlining or result in too much code bloat when it is inlined (possibly due to the thrown exception)

[2018-01-10 16:48] karelz commented on #26248
Do we use any other optional external tools from CoreFX? How do we /would we consume such tools? Static dependency vs. starting new process and parsing output?
AFAIK we try to minimize static dependencies. Parsing tool output seems pretty fishy.

[2018-01-10 17:00] weshaggard commented on #26203
OK so something is actually depending on that assembly.

Try upgrading your dependency version:

[code]

Sorry I'm not setup repro this so I'm trying to diagnose based on the information you are providing.

[2018-01-10 17:11] benaadams commented on #26253
`throw new OverflowException(SR.Overflow_NegateTwosCompNum);` is probably going to stop it from inlining; could push it out to a non returning method?

[2018-01-10 17:17] 4creators commented on #26183
This has quite an impact on learning curve, having good and intuitive naming makes it less steep.

This is good point - I have myself played games on word recognition using this kind cognitive rules.

[2018-01-10 17:22] tannergooding commented on #26253
Yeah. Something like:

[code]

[2018-01-10 17:26] JustoDaniel commented on #9719
We were having the same problem here in the company, it was resolved after we made upgrade to SP4

[2018-01-10 17:42] danmosemsft opened #26254 "Not getting dumplings for F5 run crashes"
eg this is an AV, which cannot be diagnosed without a dump.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20180110.02/workItem/System.Diagnostics.Process.Tests/wilogs

[code]

[2018-01-10 17:42] danmosemsft commented on #26254
@DrewScoggins does dumpling run on ARM?

[2018-01-10 17:45] danmosemsft commented on #26253
@AndyAyersMS is it still necessary to move "throw" out of a method to make it inlinable? Is it simply that it is slightly less IL to call a method rather than load the string, construct the exception and throw it?

[2018-01-10 17:45] danmosemsft commented on #26218
fixed!

[2018-01-10 17:47] mikedn commented on #26253
The main reason to move the `throw` out is not to make the method inlinable but to avoid bloating the caller method with all the code that `throw` generates.

[2018-01-10 18:00] TheBlueSky commented on #26237
You may want to correct the .NET runtime version mentioned under "How do I know if I am affected?" section:

I believe you meant to say 2.0.5 instead of 2.0.2.

[2018-01-10 18:03] eerhardt commented on #26183
Agreed.  Let's have good, intuitive, and consistent naming.  😄
We can still change the x86 names if there are better names than what currently exist.

[2018-01-10 18:09] danmosemsft opened #26256 "Some System.Memory tests need disabling for UAPAOT"
Seems to be related to overlap.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20180110.02/workItem/System.Memory.Tests

eg
[code]

@ahsonkhan

[2018-01-10 18:11] mikedn commented on #26253
We should probably change `Math.Abs` to something like
[code]
This produces the smallest amount of code with the current JIT and there's some room for improvement as well.

The current implementation is curious. Someone automagically decided that negative numbers are uncommon and thus only the positive case should be handled efficiently 😕

[2018-01-10 18:21] DrewScoggins commented on #26254
It should. As long as we have Python on the box then we should be able to just use dumpling. Whether we have dumpling set up to currently run on ARM I do not know.

[2018-01-10 18:40] zhenlan commented on #26222
@StingyJack, to answer your questions
1. Are we talking about `System.Runtime.Serialization.Primitives` package? Which version are you using? When it's referenced in a full framework application, all it does is to type-forward everything to full framework assembly.
2. From your call stack, it mentions only `System.Runtime.Serialization.Primitives`, which is a serialization component living in this

[2018-01-10 18:45] danmosemsft commented on #25962
OK thanks. This is important, as it's an unbounded leak in a core scenario, so I"ll find someone to work on it if there iisn't a volunteer meantime.

[2018-01-10 18:46] ahsonkhan commented on #26256
This looks like a duplicate of https://github.com/dotnet/corefx/issues/25712

Closing. Please re-open if you feel differently.

cc @AtsushiKan, @ektrah, @jkotas

[2018-01-10 18:46] #26256 closed

[2018-01-10 18:49] stephentoub commented on #25962
That also means we should not redesign the existing mechanism to rely solely on SIGCHLD to unblock Process.Waits.  If we did so and we missed a SIGCHLD and relied on the next SIGCHLD to unblock such a wait, we would potentially deadlock / cause significantly longer wait times in scenarios where processes were only started rarely.  We can rely on the SIGCHLD purely to help avoid the pid leak.

This

[2018-01-10 19:00] StingyJack commented on #26222
Yes, that package. The one with [DataContract] and other common WCF attributes. Searching for datamember finds it easily.

It was fine for several months, and then it started giving the error specified in the issue title and causing build failures.

I could still download it from it's web page on nuget.org, so I tried putting a copy on our local nuget repo and got the stack trace above in the even

[2018-01-10 19:10] bartonjs commented on #24189
While the input to AddIssuerSerial is hex, the XML output is always decimal.

https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/KeyInfoX509Data.cs#L156-L171

[2018-01-10 19:17] bartonjs commented on #24940
Since we're still of the position that .NET Core shouldn't have RIPEMD160 there's no action here, closing the issue.

[2018-01-10 19:17] #24940 closed

[2018-01-10 19:21] bartonjs commented on #24552
Since we've already marked #24891 for inclusion in the 2.1 release, closing this copy of the issue.

[2018-01-10 19:21] #24552 closed

[2018-01-10 19:28] #26168 closed

[2018-01-10 19:29] danmosemsft commented on #25962
Can the process start time be used to detect PID recycling on Unix? Even on Windows, it is sometimes necessary to use the start time for this purpose (eg to check whether your parent process PID has been recycled)

[2018-01-10 19:30] Evmaus-MS opened #26257 "GetEnumerator() Fails on Some Interop w/netcoreapp2.0"
Hey--

I'm working on porting a tool that interacts with the DIA SDK to the netcoreapp2.0 framework (https://github.com/Microsoft/binskim), and ran into an interesting exception/problem.

IDiaEnumTables's System._ComObject representation exposes a GetEnumerator() function, which I assume probably winds up wrapping HRESULT get__NewEnum() (https://docs.microsoft.com/en-us/visualstudio/debugger/debug

[2018-01-10 19:35] danmosemsft commented on #26254
@Anipik can you find out? You might have to ask @MattGal for a link to the ARM setup scripts.

[2018-01-10 19:36] JohnRusk commented on #26248
Yeah, sounds like this has to be treated as a documentation issue.  I'll submit a doc PR next week.

[2018-01-10 19:37] Priya91 opened #26258 "System.Runtime.Caching.Tests.TimedExpirationAsync test failed in PR"
[code]

[2018-01-10 19:37] JohnRusk commented on #26248
Thanks all, for the explanation.

[2018-01-10 19:37] Priya91 commented on #26258
https://mc.dot.net/#/user/Priya91/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/59424952ec2d8fc2beebdd9fd460803259f5c9dd/workItem/System.Runtime.Caching.Tests/analysis/xunit/MonoTests.System.Runtime.Caching.MemoryCacheTestExpires11~2FTimedExpirationAsync

[2018-01-10 19:38] danmosemsft commented on #26257
Is this relevant? https://github.com/Microsoft/binskim/issues/109

[2018-01-10 19:38] MattGal commented on #26254
Unfortunately I think this is just another side effect of the machines being reimaged.  Filed https://github.com/dotnet/core-eng/issues/2381 to look into it.

[2018-01-10 19:45] danmosemsft commented on #26254
@DrewScoggins @Anipik if dumpling could not start because Python is missing, shouldn't we see an error message from whatever should launch it? We should log errors for any configuration issue - it is far more productive than investigating.

[2018-01-10 19:46] Evmaus-MS commented on #26257
Yes, although that's just the issue tracking the porting work--there isn't any relevant information to this particular exception/unexpected behavior in that issue.

The exact code changes that remove this issue are now available here:
 https://github.com/Microsoft/binskim/commit/cb0df5e2336167691d30e07e3fdd2f6ea0409988

[2018-01-10 19:47] danmosemsft commented on #26258
@KKhurin there are a bunch of sleeps in this test. Can it be made more robust? Either by increasing sleeps (ideally sleeping extra only on failure) or some more robust means

[2018-01-10 19:48] danmosemsft commented on #26210
cc @rmkerr

[2018-01-10 19:51] danmosemsft commented on #26256
Your call but this is PlatformNotSupportedException and that is ArgumentException ?

[2018-01-10 19:56] AtsushiKan commented on #26256
This is blocking the other one. The toolchain is suddenly not filling in the intrisic for `Unsafe.ByteOffset()`

[2018-01-10 20:00] Anipik commented on #26254
for the hangs part it is launched through a python script only..which itself wont work if python is not installed.

[2018-01-10 20:01] karelz commented on #26248
Sounds good, thanks for pointing it out @JohnRusk! Closing here.
If anyone has idea how to solve it in code, we can reopen.

[2018-01-10 20:01] #26248 closed

[2018-01-10 20:03] LotharOfTheHillPeople commented on #21824
From a brief scan of ODBC, it looks like it uses both GSS_C_MUTUAL_FLAG and GSS_C_DELEG_FLAG.

[2018-01-10 20:05] saurabh500 commented on #21824
Thanks @LotharOfTheHillPeople
@ah- Do you want to send a PR with the change?

[2018-01-10 20:07] ah- commented on #21824
Yes, will do tomorrow morning.

[2018-01-10 20:08] saurabh500 commented on #21824
Thanks

[2018-01-10 20:10] saurabh500 commented on #17126
@joelbraun Thanks for the PR. Do you want to take on more APIs ?

[2018-01-10 20:24] tmds commented on #25962
My understanding is we can't miss a SIGCHLD. A SIGCHLD can be merged with a pending SIGCHLD. It won't be merged with one that is being handled.

@stephentoub @danmosemsft I want to take a stab at this. If that's ok for you, you can assign the issue to me.

[2018-01-10 20:25] danmosemsft commented on #25962
@tmds it's all yours, thanks.

[2018-01-10 20:27] bartonjs commented on #25733
Since there hasn't been any followup, closing the issue.  If something's still not working, feel free to reply.

[2018-01-10 20:27] #25733 closed

[2018-01-10 20:31] bartonjs commented on #25306
The dialog is popped (or not) by the Windows native library, not by .NET.  There has been internal discussion on this problem, and if Windows advises us to make some changes we will; but until then there's nothing we can do about it.

[2018-01-10 20:31] #25306 closed

[2018-01-10 20:35] danmosemsft commented on #26254
This is not a hang, it's an AV. Hopefully in the case of a hang we get an error. Whatever possibly could go wrong - it should say something useful - goal should be to never have to access the machine.

[2018-01-10 20:37] danmosemsft commented on #26256
OK

[2018-01-10 20:37] bartonjs commented on #23780
@johanskoldekrans Sorry to have missed the reply a while ago.  If you haven't managed to get this to work yet you might instead/also want to try specifying the `UserKeySet` flag.  It's possible that the PFX contains the "use the machine store" marker internally and that even with the EphemeralKeySet flag something is not adding up inside the importer.

And if that doesn't work, try `MachineKeySet

[2018-01-10 20:37] zhenlan commented on #26222
DataContract serializer can be used independently from WCF. Anyway, this is the right repo for System.Runtime.Serialization.* components.

I am wondering what has changed so you started to see this issue. You didn't mention which version of `System.Runtime.Serialization.Primitives` you are using but as you can see from nuget.org the package has not been updated for a long time (it is included in n

[2018-01-10 20:38] bartonjs commented on #26020
Certificates in the CU\\My store need to be pushed through the issuer candidate set, just like CU\\CA and LM\\CA.

[2018-01-10 20:39] sdmaclea commented on #26183
The Arm64 order is consistent with left to right reading order

[code]
It is also consistent with Arm64 assembly syntax.
[code]

It is inconsistent with codegen order (which always confuses me)
[code]

My personal preference would be to
+ keep the Arm64 order as proposed
+ change X86 order to match

API is not my dominion so I will accept instruction.

[2018-01-10 20:45] bartonjs commented on #25717
The exception is happening because Win32 PFXImportCertStore is failing (apparently with `NTE_NOT_FOUND`).  I can reach out to Windows, but nothing has changed in .NET here.

If anyone has had success on nanoserver and can share a build number, that would be useful.

[2018-01-10 20:49] sdmaclea commented on #26183
I wonder if this API is needed.

It could also be written
[code]
During lowering the pattern could be recognized and the `Extract` contained in the `Insert`.

During import the tree was going to be created like this anyway marking the `Extract` contained.

I guess it is in part a philosophical question,
+ should lowering be done on HW intrinsics
+ OR should it be treated like inline assembly and k

[2018-01-10 20:54] johanskoldekrans commented on #23780
Thanks! I will try. Setting a user as Applicationpoolidentity with lots of
permissions locally on the server (internal web) solved it for now. But I
will try changing flags, any ideas of exactly what permissions has to be
set so we dont give too much on the apppool?

ons 10 jan. 2018 kl. 21:38 skrev Jeremy Barton <notifications@github.com>:

--

www.penser.se
Disclaimer: www.penser.se/disclaimer

[2018-01-10 21:05] tarekgh commented on #24296
I am closing this review per the latest discussion on this issue. here are some comments:

- We already have Span.DangerousCreate and we have another overlapping issue #26139 which proposing moving the Span.DangerousCreate to MemoryMarshal.DangerousCreate
- @Drawaes can still provide his E2E scenario measurements and we can consider it if it is worth doing something more (e.g. adding MemoryMarshal

[2018-01-10 21:05] #24296 closed

[2018-01-10 21:07] AndyAyersMS commented on #26253
The general guidance is to separate out throws into helper methods that do the work of creating the exception object and any related data (eg formatted exception messages) and then **unconditionally** throw. The jit's inline performance heuristic will then block inlining of the helper. This has a number of performance benefits:
* overall code size savings when are multiple callers or callers with

[2018-01-10 21:07] sdmaclea commented on #26183
I certainly agree.

The issue is that the X86 API surface is large enough already, that I miss overlap.  The unfamiliar X86 terminology and documentation in terms of assembly instructions certainly does not make it easier.

In this case, when the overlap was identified, I made the mistake of just renaming the function instead of copying the API from X86.  In fact until this discussion I didn't rea

[2018-01-10 21:25] tannergooding commented on #26183
I believe it should be treated as inline assembly (effectively). That is, outside of the helper functions which don't strictly map to a single instruction (e.g `SetAll`, `StaticCast`, etc), we should be emitting exactly what the user requested (meaning, we wouldn't do something like convert `Sse.Shuffle(left, right, 68)` into `Sse2.UnpackLow(left, right)` or `Sse.MoveLowHigh(left, right)` even tho

[2018-01-10 21:32] eerhardt commented on #25182
I'm not sure moving the Vector class into corelib is going to be that simple.  The `System.Numerics.Vectors` library ships OOB from .NET Core.

The hardware intrinsics are coming along.  Maybe we should re-evaluate whether we can use them or not.

/cc @fiigii @tannergooding @CarolEidt - do you have a timeline when each ISA will be complete?  Specifically, it looks like for sure we would need `Sse2

[2018-01-10 21:46] fiigii commented on #25182
I am trying my best to ship all the `Avx`/`Avx2` intrinsics in .NET Core 2.1. @tannergooding and @4creators are helping me to extend 2.1 with `Sse` and `Sse2`.

[2018-01-10 21:50] jkotas commented on #25182
It is not OOB for NET Core. It is inbox on .NET Core and it is tighly coupled with the JIT.

[2018-01-10 21:51] tannergooding commented on #25182
I have `Sse` essentially complete for the basic codegen scenario (minus the name changes and the couple missing APIs that were just done that I need to account for).

Provided it gets proper review/sign-off, I think `Sse` could be ready for 2.1.

I believe the majority of the remaining work on Sse is containment analysis for better codegen (which I have started on) and adding a lot more tests.

Ge

[2018-01-10 21:52] mikedn commented on #26253
Another funny thing about the current implementation is that it doesn't quite save code size as one may hope. `Abs` gets inlined and `AbsHelper` does not. Too bad, because of the `AbsHelper` call you may end up with larger function prolog/epilog in some cases:
[code]
generates
[code]
The `Abs` version I posted above needs `AggressiveInlining` to inline and then produces code that's only one byte l

[2018-01-10 21:52] eerhardt commented on #25182
Agreed.  But we ship a NuGet package out of band that supports `netstandard`, `netcoreapp`, `xamarin`, `net46` TFMs.  See https://www.nuget.org/packages/System.Numerics.Vectors/

[2018-01-10 21:53] steveharter commented on #22880
There are no core-setup builds for 16.10 any longer in master

[2018-01-10 21:53] #22880 closed

[2018-01-10 21:53] tannergooding commented on #25182
Pending investigation, performance checks, etc. It might also be possible to rewrite the library to use HWIntrinsics and decouple it from the JIT in the future

[2018-01-10 21:56] jkotas commented on #25182
Right. Nothing would change about this NuGet package. We are on the same plan for number of other NuGet packages.

[2018-01-10 21:57] eerhardt commented on #25182
So the code would be duplicated between `coreclr` and `corefx`?

[2018-01-10 21:58] jkotas commented on #25182
Right. Nothing would change about this NuGet package. We are on the same duplicated code plan for number of other NuGet packages. E.g. ArrayPool or Span - lives in CoreLib for .NET Core, and slightly different more portable slower implementation ships in NuGet package.

[2018-01-10 21:59] tarekgh commented on #26139
Just raising the question, do we need to have similar API for {ReadOnly}Memory? I mean

[code]

per the comment https://github.com/dotnet/corefx/issues/24296#issuecomment-341586055 on #24296 looks not preferred.

[2018-01-10 22:00] jkotas commented on #25182
https://github.com/dotnet/corefx/issues/25188 is about making management of the duplicates easier.

[2018-01-10 22:10] 4creators commented on #25182
Regarding `SSE2` it should be possible to get it shipped with 2.1, it's close to be ready. It should not be a problem to integrate it with new jit tablegen for intrinsics.

[2018-01-10 22:23] bartonjs commented on #25477
@brentschmaltz Any thoughts on

[2018-01-10 22:25] bartonjs commented on #25477
@lakeman Since it seems like the underlying problems are being fixed and it's now down to just a design/philosophy question I'm marking this as future.  If there's anything I'm missing, just speak up.

[2018-01-10 22:26] rmkerr commented on #26210
Hey @jakubsuchybio could you give the repro a try on the latest nightly build? I haven't been able to repro on my machine, and I think that it may have been resolved by #25993. The description there is specific to how the error occurs with windows style paths, but I think the same fundamental problem might be occurring here. I'd like to do some testing to be sure, but here's my theory. Be warned,

[2018-01-10 22:29] bartonjs commented on #23780
@johanskoldekrans Nope, sorry.  The guts of where things go wrong is pretty much black box to me, too :smile:.

[2018-01-10 22:30] bartonjs commented on #24977
Is this a "this works on NetFx but is broken on CoreFx", or a "now that async is so easy we see a feature hole"?

[2018-01-10 22:31] johanskoldekrans commented on #23780
😆👍🏻

--

www.penser.se
Disclaimer: www.penser.se/disclaimer

[2018-01-10 22:32] bartonjs commented on #23742
Without having a reason for the change it doesn't seem to make sense to me.  We'd have trouble justifying a "why" for the change to .NET Framework, and it seems wrong to diverge Core and Framework without a reason.

[2018-01-10 22:32] #23742 closed

[2018-01-10 22:36] Tratcher commented on #24977
NetFx had `Impersonate()` and would flow the impersonated identity across async operations via the ExecutionContext (?).  CoreFx doesn't have this API or implicit flow.

[2018-01-10 22:51] bentheiii opened #26263 "ValueTuple's xml file is not valid xml"
Version Used:
ValueTuple version 4.4.0

Steps to Reproduce:

Have any project with target framework 4.6.2 at the most.
Install the ValueTuple nuget package into the project.
Build the project and find System.ValueTuple.xml near the output file.
Open System.ValueTuple.xml with any XML viewer (i.e. Chrome).
Expected Behavior:
System.ValueTuple.xml should open normally.

Actual Behavior:
Opening the

[2018-01-10 22:55] sdmaclea commented on #26183
In general I agree

I believe this `vector[index1] = data[index2]` case is actually one of the rare exceptions.

If the base type is integer the vector element accesses represent a vector <--> general purpose register file which can be slower.  So fusing will eliminate the slow operations.

However both indicies must be immediate constants.  In the case either index is not a constant, we need a sw

[2018-01-10 22:55] svick commented on #26263
Reposting my comment from https://github.com/dotnet/roslyn/issues/24157, where this was originally reported:

The XML file in the NuGet package is already invalid, the code around line 1241 is:

[code]

[2018-01-10 22:58] tannergooding commented on #26183
Fair enough 👍

[2018-01-10 23:01] sdmaclea commented on #26183
If they are functionally equivalent, why do they use different C# method names?
Doesn't this violate "good, intuitive, and consistent naming" ?

[2018-01-10 23:10] tarekgh commented on #25188
@jkotas

Why do we need to mirror the whole folder? is it ok to have un-used files in corefx?
Actually, this will be easier in general but I am just wondering if this would be ok.

Note, we already have a mirroring between corefx and coreclr which doing System.Diagnostics.Tracing folder only.

[2018-01-10 23:11] tannergooding commented on #26183
`Sse2.UnpackLow` operates on double and does:
    DEST[63:0] = SRC1[63:0]
    DEST[127:64] = SRC2[63:0]

Sse.MoveLowToHigh` operates on float and does:
    DEST[31:0] = SRC1[31:0]
    DEST[63:32] = SRC1[63:32]
    DEST[95:64] = SRC2[31:0]
    DEST[127:96] = SRC2[63:32]

From a bit agnostic view, they are functionally the same (and will do the same thing regardless of the data you operate on)