[2018-05-15 15:09] davidsh commented on #29716
cc: @stephentoub

[2018-05-15 15:12] krwq commented on #29698
cc: @ianhays

[2018-05-15 15:38] bartonjs commented on #29691
That PR would be marked as 2.2 anyways, since it's a PR to master.  That said, I was told that to make it into 2.1 at this point a bug pretty nearly has to break Hello World, so your assessment is correct anyways :).

There are a couple of "workarounds" that I can think of:
* Generate a new certificate whose serial number does not have the high bit set.
  * That's not always easy, but maybe you co

[2018-05-15 15:48] JustArchi commented on #29716
@karelz I checked .NET Core 2.1 rc1 on Windows and couldn't reproduce the issue, got `OK` from my repro.

![image](https://user-images.githubusercontent.com/1069029/40068117-26a0fc96-5868-11e8-8ebb-b7599b92ad73.png)

[2018-05-15 15:49] wfurt commented on #29716
I did quick try on Ubuntu 16.04 and I also get OK. What base OS do you use @JustArchi ?

[2018-05-15 15:53] ianhays commented on #29698
Id is still optional. Check out the [`VerifyAttributes` code](https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/Utils.cs#L96).

What the `Utils.VerifyAttributes(signatureElement, "Id")` call is saying is that if there are attributes present, they must either be xml-doc universal tags or an `Id` tag. Any other attribute not mentio

[2018-05-15 15:56] jkotas commented on #26745
@morganbr What do you think we need to do about the security aspect of this?

[2018-05-15 15:57] JustArchi commented on #29716
It's also good to note that I couldn't reproduce it with other `https` servers, only Google's one gave me issues, so it's not entirely broken either. I'm sure that my SSL certs are OK, otherwise curl wouldn't work either.

I checked my other dev machine running on Debian sid and I also couldn't reproduce my issue there either, I'll set up other on testing in the meantime to ensure it's not on Debi

[2018-05-15 15:58] karelz commented on #29703
That looks like a bug.

Do you know if it fails also on .NET Core 2.0?
What happens if you disable SocketsHttpHandler (`DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=0` as described [here](https://blogs.msdn.microsoft.com/dotnet/2018/04/11/announcing-net-core-2-1-preview-2/))

[2018-05-15 16:00] alexcyoung commented on #29691
Understand on not making it into 2.1, a line needs to be drawn somewhere otherwise things would never get released :).

The first option sounds like it might be the best, as you say, good practice for replacing a compromised key. Will also have a look at BC too to see if its an option.

Out of interest, what would the likely how/ time period of this making into a 2.1 quality update? (I appreciate

[2018-05-15 16:03] karelz commented on #29703
Here's the call:
https://github.com/dotnet/corefx/blob/3f5d26c720503f143333f7e51a006c5976f2ee66/src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs#L130

cc @wfurt @stephentoub @geoffkizer

[2018-05-15 16:16] karelz commented on #29711
Currently we do not have plans to add DTLS support.

There are some community projects though: https://github.com/CreatorDev/DTLS.Net

[2018-05-15 16:25] karelz commented on #29710
Thanks @MaximLipnin! Do you want to submit PR?

[2018-05-15 16:28] karelz commented on #29708
What is the benefit of them to be non-explicit? The type is sealed ...

[2018-05-15 16:39] wfurt commented on #29716
You can always try packet capture. You can also check if the name resolves to same IP address.
Also is the hardware on both machines similar? number of cores would for example impact size of thread pool.

[2018-05-15 16:40] karelz commented on #29716
@JustArchi so it seems it is one machine problem (with a specific URL) on Debian development branch. Is that correct?
If that's the case, I think the best thing is to debug it through all layers and identify which one behaves incorrectly.

[2018-05-15 16:42] JustArchi commented on #29716
Yes, one machine for now, and I found out the first clue.

My dev machines that I tried to reproduce this issue on (and had no luck) don't have IPv6, they used IPv4 address of the `translate.google.com` and that worked. On the machine with the bug reproduced, I forced usage of IPv4 by manually hardcoding `216.58.215.46 translate.google.com` to `/etc/hosts`, and that one did the trick, I couldn't r

[2018-05-15 16:50] wfurt commented on #29716
can you do packet capture and trace the attempt? I'm wondering if IPv6 is really used or if it falls back to IPv4 after some time.

[2018-05-15 16:56] JustArchi commented on #29716
I did the test and I indeed confirmed my initial thought, this is not a bug in socket http handler itself, but rather different behaviour compared to curl handler.

In general, my machine can't access `translate.google.com` through IPv6, why exactly - I'm going to find out myself, this is not important for now.

What is important is the fact that it seems that curl handler tries to fallback to IPv

[2018-05-15 16:57] l0nley commented on #29711
Its very sad to hear. I can imagine many appliances, such as IoT.  I am aware about community projects, but as you can see project you suggested not maintained for 2 years, as well as it has tons of limitations, like "No support for fragmentation of handshake packets" which limits its usability.

[2018-05-15 17:04] davidfowl commented on #29711
How widespread is DTLS I haven't seen it used anywhere...

[2018-05-15 17:04] davidsh commented on #29716
SocketsHttpHandler should be trying all the IP addresses (IPv6 and IPv4) that are returned from the DNS resolver API calls.  On Windows, there is an API to connect to the DNS name which will automatically try IPv6 and IPv4 in parallel to speed up connection result so that it won't have to waste time failing on the IPv6 address before it gets connected on the IPv4.

[2018-05-15 17:06] JustArchi commented on #29716
I wonder how I can confirm this then or debug the issue further, since this issue doesn't happen if I manually hardcode `translate.google.com` to `216.58.215.46` via `/etc/hosts`. DNS query is then omitted entirely.

I took a quick look if perhaps data returned by DNS resolve could something to do with it, but it looks fine:

[code]

[code]

[code]

[2018-05-15 17:08] bartonjs commented on #29708
@MaximLipnin Have you finished trying to pull the code over to Mono?  It would be nice to not have a bug a week trickle.

[2018-05-15 17:11] l0nley commented on #29711
Well, DTLS is implemented by several projects including Cisco AnyConnect, F5 Networks Edge VPN Client, Citrix Systems NetScaler, OpenSSL, and actually web browsers support DTLS-SRTP for WebRTC.

[2018-05-15 17:14] bartonjs commented on #29706
https://github.com/dotnet/corefx/issues/7830 says

That said, this was back in 1.0, when we did a lot of leaving things out because they were traps.  If the Pkcs namespace had been part of netstandard20 this would have already come back, and so we should probably just bring it back now.

[2018-05-15 17:14] wfurt commented on #29716
just for the record, I verified that it can work via IPv6 - if IPv6 works.
I think this has been general problem as global site may advertise both IPv4/6 but local network or ISP may not support IPv6.
Some systems allows to set preferences:
http://sf-alpha.bjgang.org/wordpress/2012/08/linux-prefer-ipv4-over-ipv6-in-dual-stack-environment-and-prevent-problems-when-only-ipv4-exists/
https://wiki.vps

[2018-05-15 17:16] danmosemsft commented on #29699
@stephentoub so this only reproes when handling a signal. What potentially interesting scenarios might lead to someone calling WaitForExit on our signal handling thread?

If it's just Ctrl-C I suspect you're correct that this would not quite meet the bar.

[2018-05-15 17:18] JustArchi commented on #29716
Yeah the fact that I can't connect through IPv6 is definitely my machine issue and I'll solve it in one way or another, this is a technical difficulty that is on me.

I'm just wondering now if there is anything to improve here in this case or we should keep it like that, since technically it's not broken, but it could be improved in a way to work like curl handler did. If people have such "broken"

[2018-05-15 17:27] EndarValuk commented on #14615
Suppose still exists as a regression at 2.1.300-preview2-008533.
When connection string has something like this

{
..omitted
MinPoolSize = 1,
MaxPoolSize = 10,
..omitted
};

And for an instance, no conection to server whole app is going down with uncatchable exception

   at System.Data.SqlClient.SqlInternalConnectionTds..ctor(DbConnectionPoolIdentity identity, SqlConnectionString connectionOption

[2018-05-15 17:29] saurabh500 commented on #14615
@EndarValuk  What version of SqlClient are you using?
The fix is available in 4.5.0-rc1 https://www.nuget.org/packages/System.Data.SqlClient/4.5.0-rc1

[2018-05-15 17:30] danmosemsft commented on #29699
Looks like just these.
[code]
SIGCHLD - it seems to me user code will not run; this is just our waitpid plumbing.
SIGQUIT would have the same issue as SIGINT, I expect.
SIGCONT seems to only set up the terminal again, seems user code will not run.

[2018-05-15 17:32] JustArchi commented on #29716
It's alright, thank you a lot for your help, I'll leave this issue open as an enhancement, but feel free to close it if you decide that it's not worth it to improve socket handler in this regard. Have a nice day!

[2018-05-15 17:33] tmds commented on #29699
If the user closes the app by Ctrl-C, then the app may want to kill some children and WaitForExit. I guess this is how @natemcmaster ran into this.

Correct, that one also triggers CancelKeyPress.

[2018-05-15 17:49] dagood opened #29718 "Publish master branch symbols to symweb and MSDL endpoints"
Right now the official builds of `master` only publish to the MSDL/public endpoint, but both are required.

Tasks exist in the symbol publish leg that target each endpoint, but only one is enabled right now by `PB_PublishType`.

Docs on how to do this correctly aren't currently available, tracked by https://github.com/dotnet/core-eng/issues/3382.

[2018-05-15 17:50] natemcmaster commented on #29699
This was the cause of a 30 seconds hang when dotnet-watch exited. The code that hangs calls `Process.WaitForExit(30_000)` (see [this file](https://github.com/aspnet/Common/blob/2.1.0-rc1-final/shared/Microsoft.Extensions.Process.Sources/ProcessHelper.cs#L48)).

This code path also exists in [MSBuild](https://github.com/Microsoft/msbuild/blob/6851538897f5d7b08024a6d8435bc44be5869e53/src/Utilities/P

[2018-05-15 17:52] ruant commented on #25064
Just wanted to say that this issue helped me figure out what was wrong.
👍 for clearer message.

[2018-05-15 18:05] wfurt commented on #29703
When forced curl (DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=0), I can connect. (server returns no content but that is different issue)

when disabling globalization, I get same result with SockerHttp Handler.
export  DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1
Unhandled Exception: System.AggregateException: One or more errors occurred. (An error occurred while sending the request.) ---> System.Net.

[2018-05-15 18:06] AfsanehR commented on #29620
Hi @itdeepdive , will start investigating this and will update you with more updates here. Thanks!

[2018-05-15 18:08] mikem8361 commented on #29718
Changed DotNet-CoreFx-PipeBuild-Master to also publish to symweb.

[2018-05-15 18:08] #29718 closed

[2018-05-15 18:31] krwq commented on #29327
Would it make sense to add `RecipientInfo..ctor(X509Certificate2, AsymmetricAlgorithm)` and `RecipientInfo.PrivateKey` instead of `Decrypt` overload? (That would be in-line with what we did with `CmsSigner`).

[2018-05-15 18:32] EndarValuk commented on #14615
@saurabh500 your truth. I was using SqlClient 4.4.3.
Updated to 4.5.0-rc1 and exception is gone. Thought fix was already in stable release(not found detailed release notes). Thank you.

[2018-05-15 18:32] iSazonov commented on #29700
@stephentoub Many thanks for help!

[2018-05-15 18:41] stephentoub commented on #29700
Happy to help.

[2018-05-15 19:28] stephentoub commented on #29478
Thanks.

I'll still take a look... just haven't gotten to it yet.

Remember, without this change, when FileStream is in this async mode, CopyTo is already doing sync-over-async, in that the base Stream.CopyTo is just going to call FileStream.Read repeatedly, and FileStream.Read will end up just doing FileStream.ReadAsync().GetAwaiter().GetResult().  That's been the case since the beginning-ish of

[2018-05-15 19:32] tdinucci commented on #29478
This one's for DeflateStream :) So this would be introducing a risk that isn't currently present.

[2018-05-15 19:38] rmkerr commented on #19630
My best guess here is that somewhere in the code we are checking the string for encoded non-reserved characters, and that check incorrectly considers commas to be unreserved.

This should be a fairly simple issue to address for someone that wants to learn more about URI, so I'll mark this as up for grabs. If it lasts too long without getting picked up, I'll go ahead and fix it.

[2018-05-15 19:38] jespersh commented on #29698
The mistake might be with our provider. I didn't think it was significant at first, but the attribute was ``id`` instead of ``Id``  as per spec.
It could be helpful if the 3 different ``CryptographicException(SR.Cryptography_Xml_InvalidElement, "Signature")`` could the tell more, like if it could tell that ``id`` is invalid.

I'll provide a repo tomorrow with an example

[2018-05-15 19:38] stephentoub commented on #29478
Yeah, I added an EDIT almost immediately after writing my previous comment, once I saw this was for DeflateStream.

This one wouldn't be based on CopyToAsync; rather, it would follow your second bullet: "Replicating the way CopyToAsync is implemented but altered to run completely synchronously."

The primary benefits of the CopyToAsync implementation are called out in the PR notes in https://githu

[2018-05-15 19:47] JustArchi commented on #26634
I'd also be interested in seeing generic variant of `OrderedDictionary`, I was seriously confused when I found out that there is no such thing as of now.

Thank you in advance for considering this.

[2018-05-15 19:48] pakrym opened #29722 "OnCompleted events should run after pipe is completed"
So all blocks are returned at that point and it's safe to `Dispose` the pool.

[2018-05-15 19:53] sdmaclea commented on #29649
@kouvel  I generally agree with most of your statement above

I hadn't thought about creating classes of compiler only barriers.  Comments:

- I haven't seen acquire/release compiler only barriers in other languages yet.
- Probably non-trivial to implement in JIT.  Therefore may not be implemented immediately.  Therefore may expose defects in untested code if and when implemented.

I like the idea

[2018-05-15 20:09] Priya91 opened #29723 "NetworkChange.NetworkAvailabilityChanged doesn't report network is offline on osx."
Repro:

[code]

1. dotnet run
2. Disconnect mac os machine from network.
3. Reconnect mac os machine to network.

*Actual:*
[code]

*Expected:*
[code]

[2018-05-15 20:19] sdmaclea commented on #29649
It does rely on fully coherent cores, caches, memory and interconnect.

The actual implementation details would be processor specific.  The technical details can lead to a deep technical discussion.  So I will avoid trying to give details.

At a high level, the coherent interconnect is required to order each cores observations and observable actions.  There must always be a sequence in which write

[2018-05-15 20:31] davidsh opened #29725 "Test 'Manual_CertificateSentMatchesCertificateReceived_Success' fails with WinHttpHandler"
Similar to #9543 but only seems to be happening with WinHttpHandler.  And this failure occurs even after PR #29724 which fixed the PFX parallel import problem (which corrupted private keys).

[code]

[2018-05-15 20:39] Priya91 commented on #29723
![screen shot 2018-05-15 at 1 36 36 pm](https://user-images.githubusercontent.com/7853870/40082221-31abbe78-5845-11e8-91fd-20a20b5396b0.png)

This is the state of my networks.. I was turning on/off WIFI

[2018-05-15 21:01] TravisEz13 commented on #29700
@stephentoub  Why does this only occur on optimized builds?

[2018-05-15 21:05] stephentoub commented on #29700
Your native code is going to be stomping on memory it doesn't own regardless of whether it's optimized or not; most likely though is that what it ends up stomping on by happenstance isn't as critical or as immediately noticeable in your debug build.

[2018-05-15 21:13] weshaggard commented on #25785
That is correct. It is only supported on .NET Core today.

That isn't to say it will never be part of the .NET Standard or built as a netstandard library but there are various technical issues that come when you ship a OOB (Out-of-Band) library like this when it exists inbox for a platform like .NET Core or .NET Framework, which is why we don't currently support that scenario. If using this Brotli

[2018-05-15 21:29] MaximLipnin commented on #29708
@karelz Just elimination of yet another potential [API break](https://jenkins.mono-project.com/job/test-mono-pull-request-amd64/14325//Public_API_Diff/) in Mono.

@bartonjs No, I haven't. CoreFX import on System.Security doesn't look like a quick jump from one sources to another ones. So I prefer to ask about all non-obvious changes in API (and possible other things). And thanks for your attention

[2018-05-15 21:32] karelz commented on #29526
This is not actionable for us at this moment. I will be happy to help once there is something to investigate (steps how to get exception callstack).
Let's track nailing down a repro in the original issue: https://github.com/OData/WebApi/issues/1413

[2018-05-15 21:32] #29526 closed

[2018-05-15 21:38] joperezr commented on #29688
Yes, we have a bunch of docker images for different distros that already have 2.1 RC1 on them. Here is a link where you can find the tags: https://store.docker.com/images/dotnet

[2018-05-15 21:46] davidsh opened #29728 "Use X509KeyStorageFlags.EphemeralKeySet for importing PFX's in System.Net tests"
Despite removing the friendly name from the private key in the PFX files for the System.Net tests in https://github.com/dotnet/corefx-testdata/pull/24,
there are still failures using the client certificate when running the System.Net tests in parallel.

For now in order to solve #9543 and #23341, we switched from DefaultKeySet to PersistKeySet for the
X509KeyStorageFlags in the Configuration.Certi

[2018-05-15 21:51] davidsh commented on #29725
Closing in favor of #29728.

[2018-05-15 21:52] #29725 closed

[2018-05-15 21:53] krwq commented on #29703
this looks like a bug, I'll need to check if this is on our side (i.e. missing flag) or ICU. Windows seem to be working as expected

[2018-05-15 21:57] safern commented on #29707
Hi @xaviergxf from what I know since the assemblies inside the package have the same identity as the ones in the GAC, when you target net45 or older you will not get a dll bin placed in your output folder since it should use the one in the GAC, which means that this assemblies are shipped inbox in full framework. Actually if you look at the package itself we're adding a placeholder file into the p

[2018-05-15 22:07] wfurt commented on #29087
I did more testing on my Ubuntu 16.04 machine and NTLM is working for me. (with gss-ntlmssp installed)

I did try original code as well code modified as:

[code]

My server only offers NTLM (not GSSAPI) so it is not 100% same setup.

[2018-05-15 22:27] krwq commented on #29703
@karelz, both HttpClient and IdnMapping scenario repro on 2.0.3:

[code]

HttpClient:

[code]

Idn isolated:

[code]

[2018-05-15 22:29] karelz commented on #29703
Thanks for validation @krwq! Moving to 2.2 as it is not a regression.
It's still compat problem between Windows and Linux.

[2018-05-15 22:32] wfurt commented on #29703
note, that there are two different problems: The curl error simply means server did not respond with valid response. That is problem with that particular server. (@abk-x  should confirm)

[2018-05-15 22:38] karelz commented on #29703
Hmm, that's a good point and would make it a regression against 2.0 from HttpClient point of view.

[2018-05-15 22:38] tarekgh commented on #29703
@karelz we'll look at this but regarding the statement

we never guarantee the compatibility between Windows and Linux. should expect some differences as we depend on the OS behavior.

[2018-05-15 22:44] abk-x commented on #29703
Just to confirm, the invalid response error is expected from the server, as the server drops requests silently when the path is not found.

[2018-05-15 22:46] wfurt commented on #29703
Is there URL we can test with @abk-x ? I think it would decrease confusion.

[2018-05-15 22:51] abk-x commented on #29703
Does this help? you should get a 302 redirect.

https://r6---sn-uxanug5-hxay.gvt1.com/edgedl/

[2018-05-15 22:51] abk-x commented on #29703
A URL with data:

http://r6---sn-4g5ednee.gvt1.com/edgedl/release2/PZTrPRGorok/GoogleUpdateSetup.exe

[2018-05-15 23:07] sdmaclea commented on #29649
The sequentially consistent atomic exchange would be
[code]
The load exclusive can be thought of as taking a version number of the address.  Whenever a core writes the sequence number changes.  When the original core tries to write the the store exclusive it will fail if the version number has changed.   This effectively makes the exchange atomic.  (In actuality, it would never be implemented exac

[2018-05-15 23:12] sdmaclea commented on #29649
Are you suggesting this is issue not necessary at all?

If that is the case, let me draft a thread pool change and see if I/we agree.

[2018-05-15 23:25] TonyHenrique opened #29730 "[A]System.AppDomain cannot be cast to [B]System.AppDomain"
I am having this, this time I am using a simple F# type and tried to return it as JsonResult in C# Azure Functions (V2) in C#

This issue also happened when trying to

[code]

https://stackoverflow.com/questions/50330860/exception-when-using-dynamic

[2018-05-15 23:26] kouvel commented on #29649
Thanks for the info, that's very helpful.

Yea that's what I was thinking

[2018-05-16 01:10] amerzafar commented on #22453
@bartonjs is this fixed released. I am still having this.

[2018-05-16 01:25] spottedmahn commented on #29349
What is the next step here?

[2018-05-16 01:44] jkotas commented on #27771
Failed again in https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_corefx_baseline_prtest/365/

[2018-05-16 02:25] bartonjs commented on #29327
It'd be sort of weird, in that the RecipientInfo (like SignerInfo) is a description of what's already in the document.  But maybe I could be convinced with some sample code.

[2018-05-16 04:23] ericstj commented on #29349
Let us know if your question was answered and if you think the suggestions I made would improve the situation.

[2018-05-16 08:30] jespersh commented on #29698
Created a reduced test here: https://github.com/jespersh/LoadXmlTest-29698 - you can switch between my reduced dotnetcore ``SignedXml`` or the full on framework in ``SealSignedXml.cs``

[2018-05-16 08:49] davidelettieri commented on #29687
The server should be working since I'm able to connect with the snippet from the first comment using the full .NET framework and as far as I know several other clients are connecting to it with the same certificate.

I don't understand this.

Right now I'm not able to share the url and the certificate since the server is not from our organization.

[2018-05-16 09:58] Marv51 opened #29735 "System.IO.Compression should store NoCompression entries without wrapping them in Deflate streams"
Currently when a ZipArchive is created and an entry is added with the CompressionLevel set to "no-compression" the file inside the archive is still wrapped in a deflate stream. The deflate stream correctly does not to compress the file.

However, zip does natively support uncompressed files. The compression method "stored" is made for this.

To create OpenDocument format files (ods, odt etc.) it i

[2018-05-16 11:02] MichalStrehovsky opened #29736 "Make TypedReference useful"
### Rationale
`TypedReference` is currently a second class citizen because using it equates to using undocumented C# keywords. We could make it more useful by adding methods to it that let normal code work with it.

We would be adding APIs that replace (and enhance) undocumented C# keyword `__refvalue` and `__makref`.

### Proposed API
[code]

Stretch goal:
[code]

[2018-05-16 11:25] Aarthiumayaval commented on #15017
Voicing interest for public GSSAPI in Dotnet core as soon as possible. Can you please let us know when is 2.2 release? will  System.Net.Security will have public GSSAPI in 2.2 ?

[2018-05-16 11:34] Aarthiumayaval commented on #15017
the above comment is a question of GSSAPI support from non windows. when we can have  public GSSAPI support from LINUX and MAC ?

[2018-05-16 11:56] stephentoub opened #29737 "Clean up ref files to more closely match GenerateReferenceSource"
Running /t:GenerateReferenceSource leads to a ton of differences between the generated files and what we currently have for the refs.  Some of the differences are by design, e.g. ifdefs, but many are not:
- Out-of-order members
- Missing _dummy or _dummyPrimitive fields (which seems like it could be a bug)
- Missing protected ctors on abstract classes
- Whitespace differences, e.g. blank lines, sp

[2018-05-16 12:08] jkotas commented on #29736
Related to https://github.com/dotnet/corefx/issues/14021

cc @AtsushiKan

[2018-05-16 12:17] #29710 closed

[2018-05-16 12:47] marek-safar commented on #29708
This is a breaking change when coming from .NET framework as you need to cast to the interface to call the members.

@karelz @bartonjs Would you guys really prefer one jumbo issue with all sort of issues instead of separate issue items?

[2018-05-16 13:12] spottedmahn commented on #29349
I love 💖 the suggestions!  Do I need to create any more GitHub issues for these suggestions?

How I do follow the progress?

Should I close this Issue?

[2018-05-16 13:41] bartonjs commented on #22453
@amerzafar Yes, release 2.0.7.  A fair amount of troubleshooting / success stories are in #28652.

[2018-05-16 13:42] jkotas commented on #18087
Covered by #25671

[2018-05-16 13:42] #18087 closed

[2018-05-16 13:52] johnkors commented on #17522
Followup. My issue was that I did not even realise I was on older tooling on some older ASP.NET projects.

Fix:
```<Project ToolsVersion="12.0" .. >``` => ```<Project ToolsVersion="14.0" ..>```

[2018-05-16 14:03] iSazonov opened #29740 "PhysicalAddress.Parse should support more formats"
[System.Net.NetworkInformation.PhysicalAddress.Parse()](http://source.dot.net/#System.Net.NetworkInformation/System/Net/NetworkInformation/PhysicalAddress.cs,118) method [currently support](https://msdn.microsoft.com/en-us/library/system.net.networkinformation.physicaladdress.parse%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396) only following formats:
[code]

Really we can find that [more formats

[2018-05-16 14:17] AtsushiKan commented on #29736
I assume this is meant to be a nullary method.

[2018-05-16 14:28] MichalStrehovsky commented on #29736
Yes, fixed. Thanks for spotting!

[2018-05-16 14:51] bartonjs commented on #29698
The implicit "at second" is correct, the casing matters.  ds:Signature has no defined attribute named `id`, only one named `Id`.  Therefore this element does not conform to schema and can no longer be loaded.

[2018-05-16 15:40] karelz commented on #29687
@davidelettieri do you plan to debug it using Wireshark traces or under debugger?
That seems to be the only way to make further progress if you cannot provide a repro.

[2018-05-16 16:01] weshaggard commented on #25785
@msmolka I understand your frustration but there are reasons for our choices. Keep in mind that corefxlab is for prototypes and experimenting so they do what is the quickest to get the job done and then once we decide to actually ship a library it moves to corefx and gets designed with all the different contexts in mind. In this case we decided it is best for Brotli to ship as part of the platform

[2018-05-16 16:01] karelz commented on #29740
How often humans type MAC addresses? I haven't have to use it so far.
Is the scenario copy-paste from some tooling for scripting scenarios?

Case-insensitive `Parse` sounds reasonable. So does `TryParse` variant of parsing. Allowing `:` or `.` as separator, is also reasonable.
Question: I didn't see the form `0011:2233:4455` in the linked article, where did it come from.
Open question: Should we p

[2018-05-16 16:06] karelz commented on #29730
@weshaggard @joperezr it sounds weird that the type is defined in 2 assemblies, both in shared framework. Any thoughts?

[2018-05-16 16:08] karelz commented on #29716
From offline discussion: There is a concern that SocketsHttpHandler does not try all entries returned by DNS. We should check it. That would qualify as something we might need to fix (potentially in servicing).

[2018-05-16 16:10] karelz commented on #29716
@rmkerr can you please take a look at SocketsHttpHandler and how it deals with multiple DNS entries?

[2018-05-16 16:19] rmkerr commented on #29716
Yep, I'll take a look!

[2018-05-16 16:25] jkotas commented on #29730
The CoreLib type is internal, but it is not hard to get to it via private reflection. Related to:

https://github.com/dotnet/corefx/issues/16229
https://github.com/dotnet/corefx/issues/25968#issuecomment-352402058

[2018-05-16 16:41] karelz commented on #29730
Private reflection is not something we would support I assume. That would make it won't fix, unless there is other way we expose the type.
@TonyHenrique can you check where the type is coming from? Can you remove the dependency on the library? (to rule out bugs there) Making it a local repro would also help.

[2018-05-16 16:43] rmkerr commented on #29716
Based purely on code inspection this looks correct on the `SocketsHttpHandler` side. We're using `DnsEndpoint` with `Socket.ConnectAsync`:
https://github.com/dotnet/corefx/blob/d5f6e6a10b9b1a9cb42066ebceea21e929adb487/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs#L56-L61
The [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.net.dnsendpoint.-ctor?view=

[2018-05-16 16:46] karelz commented on #15017
@Aarthiumayaval what kinds of scenarios do you need it for?
Currently it is not too high on our backlog. Understanding some of the scenarios better could help prioritize it higher.

[2018-05-16 16:52] karelz commented on #29716
I wonder if we have some logging in Sockets/SocketsHttpHandler that could help us confirm what is happening on @JustArchi's machine. Maybe in combo with Wireshark ...

[2018-05-16 16:57] karelz commented on #29703
@tarekgh

Fair. However, basic functionality should be the same (e.g. accepting ASCII string in this case).
I can imagine that certain Unicode characters are not recognized the same way across machines/OSs, but ASCII should behave the same way, unless it is explicit choice of the OS (e.g. sorting order).
The key question is, why is this happening and if it is explicit OS choice, or a bug.

[2018-05-16 16:58] jkotas commented on #29730
You are right that private reflection on framework internals is not something we support. The linked issues make it easy to use it by accident, especially when porting code from .NET Framework. Consider this:

[code]

Result on .NET Framework: `True` All good, I am using public AppDomain type.
Result on .NET Core: `False` Oops, I got private AppDomain type that I am not supposed to use.

[2018-05-16 17:15] rmkerr opened #29742 "UnixDomainSocket test is timing out"
The recently added test ConcurrentSendReceive has failed in official runs with the following error 1-2 times a day for the last three days:
[code]
The failures occur for both the blocking and non-blocking case, and has occurred exclusively on the Windows.10.Amd64.ClientRS4 leg.

I'm not sure if that means Unix domain sockets are not enabled in RS4, if there is some config that needs to happen on t

[2018-05-16 17:31] ericstj commented on #29349
Ok, for now let's use this issue to track it.  Eventually the work will need to happen in buildtools.  I discussed with @joperezr and he mentioned he can pick it up.

[2018-05-16 17:33] spottedmahn commented on #29349
Cool 😎, works for me.  Thanks for timely responses!

[2018-05-16 17:34] davidsh commented on #29728
Not needed anymore since I backed out the use of PersistKeySet since there are other problems to solve in  #9543.

[2018-05-16 17:34] #29728 closed

[2018-05-16 17:35] wfurt commented on #29716
How long does it take to try new address @rmkerr ? There was overall 60s timeout on HTTP.

Also from diagnostic @karelz

It would be really *nice* if this clearly states we were not able to connect. According to @JustArchi IPv6 never worked on his machine so TCP would never been established. Cryptic message like the one above is not that helpful for troubleshooting.

[2018-05-16 17:42] rmkerr commented on #29716
@karelz it might be useful to have logs if I can't reproduce the issue. I have not been able to repro the issue on Windows, but I will try on Linux before taking that approach.

@wfurt I'm not sure of the exact time, but it is far less than 60 seconds. When running the app in a console on windows there is no visible delay. I think this is likely a Linux specific issue though, so I will try it ther

[2018-05-16 17:43] sdmaclea commented on #21384
Native builds were integrated in #27656 and following, but there is no tests performed in CI yet.

[2018-05-16 17:49] karelz commented on #29730
I see, thanks for explanation. That is sad state.
Should we close some of the issues as dupes, or is there value in tracking multiple of them?

[2018-05-16 17:53] karelz commented on #29740
Is there any specific scenario driving the changes now? Any real application which hit the limitations?

I don't think it is a good idea. It is way too free-form IMO and goes against the validation purpose. If some scenarios need it, they should do custom parsing.

Then I would go with what is most commonly used - I assume the linked article is a good start, let's go after the formats listed there

[2018-05-16 17:58] roel4ez commented on #8807
@David-Engel a first implementation for which just has the `AccessToken` property on a `SqlConnection` object would already be a big step in the right direction for us. We can let the client obtain the token before passing it to the Connection.
But right now there is no way for us to securely authenticate a daemon application with a certificate to an Azure SQL database.

[2018-05-16 18:00] pjanotti commented on #22177
These failures don't repro for me anymore, closing this issue.

[2018-05-16 18:00] #22177 closed

[2018-05-16 18:17] iSazonov commented on #29740
I can't speak for everyone. Today I looked through the PowerShell scripts that handle MAC addresses and found the skipped APIs. They use Regex to replace separators and String.ToUpper(). Using the latter obviously forces C# developers to do extra allocations.
We could add ReadOnlySpan overload to the APIs:
[code]

[2018-05-16 18:25] tarekgh commented on #29703
@karelz

Now, how you define "the basic functionality". I already debugged this issue and I know why it is failing. in ICU (when running on Linux/OSX) they have more IDN conversion rules which we don't do on Windows.
For example, when using something like "ab--xyz.com", there is a rule that prevents to have a hyphen in the third and the fourth place in the Url. this means we'll fail because of suc

[2018-05-16 18:27] wfurt commented on #29716
If you get repro again, could you run this @JustArchi
strace -t -f -e connect ~/latest/dotnet run 2>&1 | grep AF_INET

That would show sequence and timing for attempts to connect.
I did more digging and in my setup IPv6 fails immediately with ENETUNREACH and that may be different than yours.

[2018-05-16 18:31] danmosemsft commented on #25916
@joperezr @stephentoub

Do we know how they handle it? Could we do something similar, without moving entirely to curses? i am looking for something limited enough to potentially be suitable for servicing.

[2018-05-16 18:34] JustArchi commented on #29716
**Hooray!** My `ip6tables` trick in fact **did work** and reproduced this issue artificially, so I can be still useful after all 🙂

Here are the results:

[code]

[code]

I believe you should be able to reproduce it as well by just following my `ip6tables` trick above.

[2018-05-16 18:42] #23341 closed

[2018-05-16 19:11] joperezr opened #29744 "Survey all the tools targets we currently use from BuildTools and decide which ones to break (i.e. msbuild, custom PCL targets) and which ones we need to refactor and move to arcade."
Progress:
 - [x] Scan tools
 - [x] Scan target files that get includded in buildtools package
 - [x] Scan tasks from buildtools that aren't used anymore
 - [x] Scan buildtools package contents to see things that aren't used anymore

[2018-05-16 19:27] tarekgh commented on #29703
@karelz I agree with your suggestion. I moved the issue to area-System.Net.Http.SocketsHttpHandler.

To mention, other frameworks like node is relaxing these errors https://github.com/nodejs/node/blob/master/src/node_i18n.cc#L664
But I agree we should wait and see if we are getting more hits, we can consider relaxing these errors by then.

[2018-05-16 19:40] MichalStrehovsky opened #29745 "Investigate enabling FEATURE_DLG_INVOKE and FEATURE_FAST_CREATE on UapAot"
The optimization for interpreted LINQ expression had to be disabled due to private reflection and perf concerns (runtime perf and size on disk).

See comment [here](https://github.com/dotnet/corefx/pull/29734#issuecomment-389610215) and [here](https://github.com/dotnet/corert/issues/5791#issuecomment-389610367).

[2018-05-16 19:42] karelz commented on #29740
We should add Span overloads only where perf matters, otherwise it would be everywhere, not always for good reason.
I don't see the scenario above as perf-critical. Moreover the parsing is not rocket science and anyone can write their own methods if they care deeply enough (e.g. over Span).

[2018-05-16 19:46] wfurt commented on #29703
The RFC sys "unicode string" and that should be prefixed with xn--. General DNS is still governed by RFC1035 as far as I can tell and it does not have such restriction.
I agree this is rare corner case.

[2018-05-16 19:55] pjanotti commented on #29712
No, this is not a regression, same error happens in .NET Framework.

[2018-05-16 19:58] karelz commented on #29703
That's a good point that general DNS is not obsoleted. We already resolved the domain, we just fail in TLS.
It seems that one of the cheaper solutions is to be resilient to `IdnMapping.GetAscii` failures in TLS, swallow the exception and just use the original domain name.

Should be fairly simple change here:
https://github.com/dotnet/corefx/blob/3f5d26c720503f143333f7e51a006c5976f2ee66/src/Common

[2018-05-16 20:06] halter73 opened #29746 "SslStream.AuthenticateAsServerAsync sometimes throws an AuthenticationException on Linux"
This might have the same root cause as #28819, but I observed this on the server side instead of the client side, and now instead of an UnauthorizedAccessException it's raised as a AuthenticationException. I observed this exception during [this kestrel test](https://github.com/aspnet/KestrelHttpServer/blob/aaaff4475a68132dbb03932869964609031915af/test/Kestrel.FunctionalTests/HttpsTests.cs#L315).

[2018-05-16 20:15] joperezr commented on #29744
The tools we have in buildtools repo are: (checkbox means if we analyzed whether we need it or not)
 - [ ] ApiCompat.exe (Desktop and .NetCore version)
 - [ ] BclRewriter.exe
 - [ ] GenAPI.exe (Desktop and .NETCore version)
 - [ ] GenFacades.exe (Desktop and .NETCore version)
 - [ ] RepoUtil.exe (Desktop and .NETCore version)
 - [ ] run.exe
 - [ ] Xunit.console.netcore.exe
 - [ ] Xunit.console.uwp

[2018-05-16 20:26] karelz commented on #27745
AuthenticationManager is currently not hooked up anywhere - it is noop class.
https://github.com/dotnet/corefx/blob/aea91202c9ed213184562529e66959e602ec7826/src/System.Net.Requests/src/System/Net/AuthenticationManager.cs

The API:
https://github.com/dotnet/corefx/blob/aea91202c9ed213184562529e66959e602ec7826/src/System.Net.Requests/src/System/Net/AuthenticationManager.cs#L16

[2018-05-16 20:30] bgribaudo commented on #29714
This sounds like expected behavior. There are times when hidden columns are expected to be returned when a query is executed. When this occurs, FieldCount is the total field count, including hidden columns. If you're only interested in visible fields (probably the case), try using VisibleFieldCount.

From [DbDataReader.VisibleFieldCount's docs](https://docs.microsoft.com/en-us/dotnet/api/system.da

[2018-05-16 20:33] geoffkizer commented on #27745
We've generally moved away from using global-level settings like AuthenticationManager in HttpClient.

Seems like all we need here is CustomTargetNameDictionary on SocketsHttpHandler.  Am I missing something?

[2018-05-16 20:42] roji commented on #12518
Just ran into this discrepancy on Ubuntu 18.04 between net451 (mono 5.12.0) and netcoreapp2.0, so this may not only be about Linux vs. Windows (although mono may be behaving "like Windows" here in a sense).

Note the strange interplay with `CompareOptions.IgnoreCase` below... I'm not at all knowledgeable about Kana and Japanese comparison rules so I may be doing something wrong.

[code]

[2018-05-16 20:43] caesar1995 commented on #11795
I have tried the repro attached in the original [SO page](https://stackoverflow.com/questions/1047669/cookiecontainer-bug/) with .NET Core 2.1 and .NET Framework 4.7.1. For test data "http://example.com", it correctly returns 2 cookies on both Core & Framework. I also inspected those 2 cookies, and they are the ones we are expecting (Test2=val, Test3=val) Probably the original issue has been resol

[2018-05-16 20:44] davidsh commented on #27745
Seems like all we need here is CustomTargetNameDictionary on SocketsHttpHandler. Am I missing something?

First, if we are going to add a new API to SocketsHttpHandler, we should do it to HttpClientHandler as well.

Second, this approach won't help folks still using HttpWebRequest APIs especially if porting from .NET Framework to .NET Core.

If we don't care about HttpWebRequest working with this

[2018-05-16 20:48] MarcoRossignoli commented on #28863
@rmkerr i'm working on issue and when compile i get compile error

`UriRelativeResolutionTest.cs(26,116): error CS0117: 'PlatformDetection' does not contain a definition for 'IsNetfx472OrNewer'`

i'm able to go on if remove field, any idea?

[2018-05-16 20:48] natemcmaster commented on #29699
Awesome, thanks for fixing so quickly.

[2018-05-16 20:49] karelz commented on #27745
Can we enable `HttpWebRequest` by initializing its `SocketsHttpHandler` with `AuthenticationManager.CustomTargetNameDictionary` value?

[2018-05-16 20:51] tarekgh commented on #12518
net451 and .net core behavior should be exactly same if you are running on the same OS version. as you are comparing with net451, then I assume you are running on Windows. the question is, are you running the netcoreapp2.0 on Windows too and on the same version of Windows?

[2018-05-16 20:52] geoffkizer commented on #27745
Sure, but we've already got this issue all over the place, don't we?  We don't support anything on AuthenticationManager today (or any of the ServicePoint stuff either).

I don't think we should use AuthenticationManager for just this one thing.  We should either use it consistently and comprehensively, or not use it at all.  Right now we don't use it at all.

[2018-05-16 20:54] rmkerr commented on #28863
I would pull the latest version of the repo, then clean and build the whole project again. You can find more info on that here: [developer guide](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md). You probably last built the test utilities before [this PR](https://github.com/dotnet/corefx/pull/29663/files) was merged, adding the property you mentioned.

[2018-05-16 20:55] geoffkizer commented on #27745
Seems reasonable to me, since it limits the use of AuthenticationManager specifically to HttpWebRequest, not HttpClient generally.

I do wonder about other settings in AuthenticationManager, e.g. CredentialPolicy.  Do we do anything with this today for HttpWebRequest on core?

[2018-05-16 20:59] chlowell commented on #4198
There's nothing particular to .NET Core, you can use ordinary Linux tools. [This guide](https://kb.iu.edu/d/aumh) covers it: run `ktutil` to create a keytab, authenticate with it using `kinit`. Please note there are security implications to think through before doing this. Anyone who can read the keytab can use all its keys.

[2018-05-16 21:00] karelz commented on #27745
There are no usages of `AuthenticationManager` in our code base: https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=AuthenticationManager+&type=

[2018-05-16 21:03] stephentoub opened #29747 "WinHttpHandler on < Win8.1 ignores AutomaticDecompression settings"
On Win8.1 and later, WinHTTP supports the WINHTTP_OPTION_DECOMPRESSION option, which allows it to be told what compression schemes to automatically decompress, and on 8.1 or later, WinHttpHandler uses that setting.  On < Win8.1, attempting to set that option will fail, and WinHttpHandler will fall back to doing its own decompression, using GZipStream and DeflateStream.  When it does this, however,

[2018-05-16 21:30] bartonjs commented on #29746
That's in `LoadMachineStores`, so something must have deleted the /etc/ssl/certs (or whatever it is on your distro) directory while that was running.

[2018-05-16 21:48] mkArtakMSFT opened #29748 "UX improvement: TimeoutException"
_From @NickCraver on March 8, 2018 21:17_

Currently when `HttpClient` times out, the user gets a `TaskCanceledException`. It would be a much better experience if a user got some sort of `TimeoutException` instead. Here's what we do today as an example:

[code]

cc @glennc

_Copied from original issue: aspnet/HttpClientFactory#72_

[2018-05-16 21:48] mkArtakMSFT commented on #29748
_From @whynotme8998 on March 22, 2018 21:52_

Indeed, we should handle exceptions when a task is canceled. write logs for a bug

[2018-05-16 21:48] mkArtakMSFT commented on #29748
_From @glennc on March 23, 2018 18:43_

@reisenberger you would get this now if you use Polly timeout instead of relying on HTTPClient, right? Given the Polly integration.

@NickCraver You've already talked to corefx folks about having HttpClient do this instead of trying to wrap it here?

[2018-05-16 21:48] mkArtakMSFT commented on #29748
_From @reisenberger on March 23, 2018 21:11_

@glennc @NickCraver  Yes.  Polly [`TimeoutPolicy`](https://github.com/App-vNext/Polly/wiki/Timeout) intentionally [wraps the cancellation exception in a `TimeoutRejectedException`](https://github.com/App-vNext/Polly/blob/7bdac691e0f02be9e8cd6c6afe74e2bf030b3616/src/Polly.Shared/Timeout/TimeoutEngineAsync.cs#L56-L60) if specifically distinguishing its t

[2018-05-16 21:48] mkArtakMSFT commented on #29748
We're moving this to `corefx` repo as we don't control how `HttpClient` behaves.

[2018-05-16 21:48] karelz commented on #25040
API discussion with Networking team:
* We should think how to expose it in HttpClientHandler/SocketsHttpHandler (I think there is already existing related issue)
* If platform does not support the option, we should not throw (it's annoying), just do noop + document it + log diagnostic entry
* The `KeepAliveOption` is problematic if we cannot get the information on all platforms. Also it is weird i

[2018-05-16 21:59] tarekgh commented on #12518
Yes, it looks Mono is matching Windows behavior.

[2018-05-16 22:11] karelz commented on #27745
Networking API discussion:
* Put it on `SocketsHttpHandler` (ideally not yet on `HttpClientHandler`)
* We need full understanding of Uri matching on Desktop. Should we still use string->string? Or something better?
* We need to decide on name - use SPN acronym or same name?
* How to implement it on Linux/Mac?

We should think how to hook it up to `HttpWebRequest` and `SmtpClient` eventually. Note

[2018-05-16 22:14] davidsh commented on #29747
I think this is a dupe of #26991

[2018-05-16 22:15] undecided2013 commented on #4198
@chlowell , thanks. We are just having a really hard time authenticating to our windows hosted sql server 2008 R2 from .Net Core 2.0 clients hosted in linux docker images using Kerberos. Our company has premium support from MSFT so we opened up a case with them but it sounds like it may have to escalate a bit before we get a good answer. We did try the instructions from the vs-code-mssql  post but

[2018-05-16 22:35] bartonjs commented on #28819
@halter73 This one is weird since it's having trouble accessing /usr/lib/ssl/certs.

It looks like we should just wrap these exceptions with CryptographicException, but failure to read the system stores is definitely an irrecoverable event.

[2018-05-16 22:38] halter73 commented on #29746
I don't think /etc/ssl/certs is a directory that just randomly gets deleted or moved outside of perhaps a system update, and I doubt it's actually being deleted during our test runs. We've seen this issue on multiple different linux agents.

I think it is more likely that the "Not a directory" message is based on an imprecise or mistranslated error code. I have a theory that this might be caused b

[2018-05-16 22:45] JeremyKuhne commented on #28819
What info specifically?

Hmm. I'll look to see that we have a good test for this.

[2018-05-16 22:52] ahsonkhan commented on #29032
Verified that this issue has been fixed using the latest [master dotnet cli](https://github.com/dotnet/cli#installers-and-binaries): [2.2.100-preview1-008905](https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/2.1.4xx/latest.version)

[code]

Closing.

[2018-05-16 22:52] #29032 closed

[2018-05-16 23:01] mconnew commented on #27745
@karelz

We consume HttpClientHandler, not SocketsHttpHandler. We recently added the ability to pass a delegate to WCF which takes an HttpClientHandler and returns a MessageHandler to allow developers to customize the HTTP handling so we can't change our internal usage to SocketsHttpHandler. Even if this wasn't the case, it would cause us to need to re-fork this code for UWP. You already have the

[2018-05-16 23:13] stephentoub commented on #29747
It's related but different. That issue is about how if the option isn't supported by WinHTTP, WinHttpHandler didn't appropriately set the request headers. This issue highlights that if the option isn't supported by WinHTTP, the response is decompressed regardless of the AutomaticDecompression option chosen.

[2018-05-16 23:26] rmkerr commented on #29716
Thanks for all the info @JustArchi! I'm able to reproduce this issue on Linux and can _almost_ reproduce it on Windows (more on that later). Rather than taking the iptables approach, I edited my hosts file to add a test hostname with two entries:
[code]
The IPv6 address does not exist, and the IPv4 address can point to any server that will return a response.

On both Windows and Linux we attempt t

[2018-05-16 23:27] #29652 closed

[2018-05-16 23:28] stephentoub commented on #29716
@rmkerr, so if you set the timeout to be Infinite, it eventually succeeds?

[2018-05-16 23:30] JustArchi commented on #29716
Side note, it could also be beneficial to check how exactly `curl` handler achieves its instant switch and see if it makes sense to implement this, since it's definitely a superior solution compared to 30 seconds delay. I'm shocked myself how well it handled the problem, the switch was almost immediate, like if network was unreachable entirely, but it definitely did try to do something as IPv6 was

[2018-05-16 23:38] stephentoub commented on #28819
e.g. whether the SafeHandle was invalid / closed.

[2018-05-16 23:44] karelz commented on #27745
IMO we should wait for the time we are ready to flip HttpClientHandler fully to SocketsHttpHandler (I hope in 2.2). That will be the right time to push all SocketsHttpClient APIs to HttpClientHandler as well.
Either way, let's first decide on SocketsHttpHandler API and implementation, then we can start discussing when and how it will be available on HttpClientHandler. Using the `Supports*` pattern

[2018-05-16 23:45] rmkerr commented on #29716
@stephentoub Yes! After several minutes I get a 200 response.

[2018-05-16 23:51] stephentoub commented on #29742
@rmkerr, you said it's failing 1-2 times a day, but it's not clear to me: is that all of the RS4 runs, or are there runs where it succeeds and it's just failing sporadically?

RS4 is the first released version of Windows where they _are_ supported.

[2018-05-16 23:54] VSadov commented on #29745
FWIW, I do not like the `MakeGenericType` part either. Even where it works, it is a bit slow. (it is a per-signature cost though, not per-invocation). We do have to instantiate generic types here, one way or another, so it does not look like this is avoidable.

The FEATURE_FAST_CREATE tries to mitigate the above in common cases without reflection by manually switching on `TypeCode`.
It is likely t

[2018-05-17 00:52] karelz commented on #26614
No repro, closing.
If you have a minimal repro, we can verify against .NET Framework and reopen.

[2018-05-17 00:52] #26614 closed

[2018-05-17 00:55] karelz commented on #27067
Seems that we agreed to not care - SocketsHttpClient behaves well, closing.

[2018-05-17 00:55] #27067 closed

[2018-05-17 00:59] stephentoub opened #29752 "System.Configuration.ConfigurationManager tests failing CI"
@MattGal updated the Nano containers used in CI to v1709, and now tests are failing:
[code]

[2018-05-17 01:01] stephentoub opened #29753 "System.Diagnostics.Process tests failing in CI on Nano"
@MattGal updated the Nano containers used in CI to v1709, and now tests are failing, e.g.
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/8b94440c48148e20822d2cafebad29fed0f30f76/workItem/System.Diagnostics.Process.Tests/wilogs
[code]

[2018-05-17 01:02] stephentoub opened #29754 "System.Diagnostics.Tracing tests failing in CI"
@MattGal updated the Nano containers used in CI to v1709, and now tests are failing, e.g.
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/8b94440c48148e20822d2cafebad29fed0f30f76/workItem/System.Diagnostics.Tracing.Tests/wilogs
[code]

[2018-05-17 01:04] stephentoub opened #29755 "System.DirectoryServices.ActiveDirectory tests failing/crashing in CI on Nano"
@MattGal updated the Nano containers used in CI to v1709, and now tests are failing and crashing, e.g.
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/8b94440c48148e20822d2cafebad29fed0f30f76/workItem/System.DirectoryServices.Tests/wilogs
[code]

[2018-05-17 01:05] stephentoub opened #29756 "System.IO.Ports tests failing in CI"
@MattGal updated the Nano containers used in CI to v1709, and now tests are failing and crashing, e.g.
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/8b94440c48148e20822d2cafebad29fed0f30f76/workItem/System.IO.Ports.Tests/wilogs
[code]

[2018-05-17 01:09] stephentoub opened #29757 "System.Net.HttpListener tests failing in CI"
@MattGal updated the Nano containers used in CI to v1709, and now (all) tests are failing, e.g.
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/8b94440c48148e20822d2cafebad29fed0f30f76/workItem/System.Net.HttpListener.Tests/wilogs
It looks like httpapi.dll simply isn't there.
[code]

[2018-05-17 01:16] davidsh commented on #29757
Yes.  Nano Container has been optimized a lot to reduce its disk size.  And part of that was to remove this.  However, I don't remember whether there is an optional component you could add to put it back.

[2018-05-17 01:16] karelz commented on #26446
As mentioned above - this should be addressed in .NET Core 2.1 which by default uses SocketsHttpHandler.
2.1 is in RC with go-live license.

Closing

[2018-05-17 01:16] #26446 closed

[2018-05-17 01:31] kishoretvk commented on #24232
does this also affect windows servers too? i'm getting file not found in path exception but when i try to add the keyset it says, can;t find credentials?

[2018-05-17 01:32] stephentoub commented on #29703
That sounds reasonable to me.

There are equivalent calls in both the Windows version of this and the macOS version of this.  Presumably we'd need to handle it similarly in all cases.

[2018-05-17 01:40] #26995 closed

[2018-05-17 01:46] stephentoub commented on #29746
If it's due to ASP.NET opening and keeping open too many file descriptors, then yeah.  But there's always the possibility that coreclr/corefx aren't being aggressive enough about closing things, leaving stuff accidentally for finalization, etc., in which case we'd want to fix that and could use this issue to track doing so.  Let us know what you find :)

[2018-05-17 01:51] abk-x commented on #29703
Just my 2c:

Ultimately, GetAscii (which calls uidna_nameToASCII) performs a form of sanitization (normalization), to allow the original host name through would mean that the OpenSSL native code is directly exposed to a potentially malicious unicode string. Perhaps this same code path is used to initialize the SSL context on the server side too? This seems like an awful lot of risk for something t

[2018-05-17 02:26] stephentoub commented on #29746
FWIW, that error message is coming from the OS. "Not a directory" is the Linux error message for ENOTDIR 20.  And it's coming from ReadDir:
https://github.com/dotnet/corefx/blob/b96c29aedf9b2f4197d161f632b4387a17be72f8/src/System.IO.FileSystem/src/System/IO/Enumeration/FileSystemEnumerator.Unix.cs#L176

My guess is still that something has caused `_directoryHandle` to be closed and the file descri

[2018-05-17 02:38] stephentoub commented on #29746
Actually, I think it's more likely this is just an extension of #28819, e.g. https://github.com/dotnet/corefx/issues/28819#issuecomment-378820810

[2018-05-17 03:10] rmkerr commented on #29716
Thanks for the info! I'll try to put together an implementation tomorrow.

[2018-05-17 03:17] davidsh commented on #29757
fyi: https://github.com/aspnet/aspnet-docker/issues/398

Unfortunately, there's nothing we can do about this. If you care strongly about this, I would recommend creating an issue on the Windows Server User Voice to convince them to change their minds.

[2018-05-17 03:19] davidsh commented on #29757
We should disable all HttpListener (that uses http.sys) tests against Nano.  However, the managed HttpListener in .NET Core (used on Linux) should be ok.

[2018-05-17 03:36] Aarthiumayaval commented on #15017
Hi,

We are having dotnet security client library which talks to our linux teradata server using SPNEGO(which is turn use Kerberos ). Our application runs on net framework(452) and so we are using AuthenticateAsclient() implementation. Now we are porting  our library to net core so that we can run on LINUX and MAC(dotnet data provider is the application which will use our security library). For th

[2018-05-17 03:40] akuryan commented on #15301
Me as well facing same issue - "error MSB3554: Cannot write to the output file ".resources". The process cannot access the file '.resources' because it is being used by another process."

[2018-05-17 03:41] douglasg14b opened #29759 "Extremely poor performance of ConcurrentQueue.Count"
Getting the `Count` property is very slow, and as the size of the queue grows it takes longer and longer to retrieve this property. Eventually almost all processing power is utilized by the retrieval of `Count`.

This is a non-issue on .NET Framework (tested v4.6.2).

**Example:**

[code]

**Example output:**

![image](https://user-images.githubusercontent.com/1400380/40155578-5c852562-5949-11e8-9

[2018-05-17 03:41] iSazonov commented on #29740
Is there already a best practice guide for Span? It would be very useful to have such a guidance.

[2018-05-17 03:50] davidsh commented on #29757
We could.  But that would be tricky. We'll have to compile both implementations into the binary and then use runtime logic to switch.  We currently only compile the managed HttpListener for non-Windows binaries.

[2018-05-17 04:29] danmosemsft commented on #15301
@akuryan what are you building? This issue is about building this repo itsrlf. It would be better to open a new issue as this is closed.

[2018-05-17 05:05] iSazonov commented on #29740
Let's to consider a scenario of DHCP log parsing. We read line by line and parse the line to get fields. Previously we used Substring() method. My understanding is that now [best practice](https://msdn.microsoft.com/en-us/magazine/mt814808.aspx) is to use Slice() to exclude extra allocations. So overloads with ReadOnlySpan can be useful.
[code]

[2018-05-17 05:09] danmosemsft commented on #29759
I believe this is a consequence of tradeoffs made in its implementation to favor performance of concurrent queueing and dequeueing. Can you avoid calling Count on the hot path? @stephentoub

[2018-05-17 05:30] benaadams commented on #29759
Why do you want to call count so much?

If to check if queue is empty `IsEmpty` should remain fast. If for bounding (as in example) would something more like a BoundedConcurrentQueue be desirable? https://github.com/dotnet/corefx/issues/24365

[2018-05-17 05:44] msmolka opened #29760 "Add support for brotli in .NET Framework"
Currently brotli compression is only supported by .NET CORE 2.1. It would be good to support it also in .NET Framework. For now when ASP.NET Core application is targeted .NET Framework, there is no possibility to use Brotli compression.

as reference: https://github.com/dotnet/corefx/issues/25785#issuecomment-389573056

[2018-05-17 07:11] douglasg14b commented on #29759
@benaadams

I'm calling it so much in my example to show how rapidly it slows down. I noticed this on an app where I was using Count more than necessary, and the performance hit on large queues brought it to my attention when I switched to .Net Core.

A BoundedConcurrentQueue is definitely desirable, would the use cases be much different from a BlockingCollection?

[2018-05-17 07:44] davidelettieri commented on #29687
This is a Wireshark extraction. In bold where things get different between core and 4.6.1. I don't know if this is enough, I would like to avoid disclose sensitive information about the server and the certificates. Let me know if there is something more or different I can try to debug the issue.

.NET 4.6.1

Source | Destination | Protocol | Length | Info
-- | -- | -- | -- | --
Client | Server | T

[2018-05-17 08:08] MarcoRossignoli commented on #28863
@caesar1995 @rmkerr my fault...i work on more host, i was convinced to work on updated repo, it all ok!

[2018-05-17 08:14] marek-safar commented on #29708
Well, we'll try to do the simple ones in one go next time. Even if for libraries like mscorlib.dll or System.dll this is not realistic. However, any harder issues will come up later as I don't want to be blocked to collect all problems for weeks (or even months for large assemblies) and then be blocked by you figuring out all the hard one by one.

[2018-05-17 08:26] roederja2 commented on #4198
@undecided2013 this is definitely possible. We are doing exactly that.

We use this script to set up kerberos before launching the actual app:

[code]

Also we use this krb5.conf inside the docker image:
[code]

It's very important to use file based key caching. If you the default (kernel key store) various docker containers will interfere with each other because they the keystore is not virtualis

[2018-05-17 08:38] tmds commented on #24232
I hadn't noticed this issue before...

@EssenRoc The dotnet packages that are built for RHEL are also available for CentOS and they include a recent version of libcurl+openssl. https://www.microsoft.com/net/download/linux-package-manager/rhel/sdk-2.0.3 has installation instructions.

@MonikaMalik123 That image contains the updated version of libcurl+openssl. There is a known issue that this is not

[2018-05-17 09:32] stakx commented on #2768
@tmat commented [above](https://github.com/dotnet/corefx/issues/2768#issuecomment-130790830):

Are there any plans to add implement such a method?

[2018-05-17 10:05] mattwarren commented on #25968
@jkotas I know this is now fixed, but out of interest, how does having duplicate types cause this slow down? Is there an extra layer or redirection that comes into play, do the types clash with each other or something else?

[2018-05-17 10:49] veikkoeeva commented on #26845
@MgSam So `DataFrame` is column oriented instead of row oriented? Do chime in to https://github.com/dotnet/machinelearning to share your views. Why not @mattdot also, maybe that's doable already.

[2018-05-17 11:19] TerceraFaseSoftware opened #29761 "System.Drawing.Common 4.5r on Xamarin.Android -> System.PlatformNotSupportedException: System.Drawing is not supported on this platform."
Hi!

I'm working on a Xamarin.Android application and when I try to use System.Drawing.Bitmap, I get this exception at run time.

         System.PlatformNotSupportedException: System.Drawing is not supported on this platform.

My question is:
Is this library compatible with Xamarin.Android? And, if it is not, when will it be?

Because, if it is not compatible, why can I compile and execute it wit

[2018-05-17 11:55] bgribaudo commented on #29714
That's a great question. I'm assuming you do not have browse mode enabled. With it disabled, I'm not sure the purpose returning the columns.

When browse mode is enabled, the hidden key columns are needed to make client-side functionality work. (If you're curious, [Security Concern: Hidden Resultset Columns](https://bengribaudo.com/blog/2017/10/05/3846/security-concern-hidden-resultset-columns) ex

[2018-05-17 12:16] dshevani commented on #25800
Any updates here. Our API service (ASP.Net API) runs on Azure Classic App Service and out of every 100000 request 200 request fail with Internal Server Error with same exception. Please assist

"TaskCanceledException: A task was canceled.. ExceptionDetails : System.Threading.Tasks.TaskCanceledException: A task was canceled.\r\n   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Ta

[2018-05-17 12:57] ppekrol opened #29762 "Test suite hangs after upgrading to 2.1.0-rc1"
Hi all,

after upgrading our repository from `2.1.0-preview2-26406-04` to `2.1.0-rc1` (and later on to `2.1.0-rtm-26516-03`) we started to experience test suite hangs.

This is the result of `dotnet --info` on one of our CI (Jenkins) agents:

[code]

Nothing in our code except the runtime and package upgrade was changed.

The problem is that we are experiencing this only on Windows machines (WS201

[2018-05-17 13:06] #29260 closed

[2018-05-17 13:36] mattwarren commented on #25968
Ah, makes sense, thanks for replying

[2018-05-17 14:29] stephentoub commented on #29708
@karelz, implicit vs explicit interface implementation impacts whether you can call the method without first casting to the interface.  If I have:
[code]
both `A` and `B` implement `I`, and I can do `A a = new A(); a.M();`, but `B b = new B(); b.M();` will not compile as `M` isn't a publicly exposed method of B; I instead have to do `B b = new B(); ((I)b).M();`.  Thus, it's a breaking change to ma

[2018-05-17 14:36] davidelettieri commented on #29687
I can't access the server.

The certificate is only SHA1
![image](https://user-images.githubusercontent.com/5262655/40184095-ae985152-59ef-11e8-87b1-33256f5522f8.png)

I thought it could be a problem but since it is working on 4.6.1 I dropped the idea. I don't know if this can change.

I noted that, don't know if I can do anything to change that in my client code.

[2018-05-17 16:10] stephentoub commented on #29762
Isn't that possible if you processed the last item in the queue, and the task from that item never completes?

[2018-05-17 16:18] HenryQW commented on #17272
Running into the same problem, curl from within the container works but not HttpClient which produces

[code]

[code]

[code]

The port 80 shouldn't matter but posting to both `http://api` and `http://api:80` didn't work. The exposed port 3002 is intended for external access not for inter-container communications.

[2018-05-17 16:19] davidsh commented on #29687
My guess is that this has to do with the "strong crypto" defaults.  .NET Core always opts into strong crypto settings.  Latest versions of .NET Framework such as 4.6+ do as well but earlier versions need to opt-in. It's possible that you might be running on .NET 4.6.1 but the application is still targeting an earlier .NET version which doesn't opt-in to the stronger crypto defaults.

See: https://

[2018-05-17 16:25] stephentoub commented on #27841
@EgorBo, can you re-run your script?  I'm wondering what's still left to do here or if this issue can be closed.

[2018-05-17 16:27] rmkerr commented on #29742
It's failing sporadically. The test has been run 24 times over the last four days, with six failures. It doesn't look like a configuration issue, since sometimes only one of the two cases will fail.

[2018-05-17 16:31] stephentoub commented on #29742
And you mentioned "official runs"... what about PRs?  It's an inner loop test, so it should be running now as part of every PR.  Has it failed there?

[2018-05-17 16:31] rmkerr commented on #29742
Looking into it now. It looks like ConcurrentSendRecieveAsync has one failure on the 15th. I'll check PRs as well.

[2018-05-17 16:32] karelz commented on #17272
@HenryQW can isolate a repro we can try in-house?
Also, I would recommend to try .NET Core 2.1 RC (it is go-live license).

[2018-05-17 16:35] stephentoub commented on #29742
@sunilmut, are there any known issues in RS4 with having multiple threads issuing sends/recvs on the same unix domain socket at the same time?

[2018-05-17 16:37] AfsanehR commented on #29181
Hi @jakrivan , I tested  with 131229530 rows and enumerating through data as you provided in your sample, but still unable to repro.  could you kindly share what version of .Net Core are you using and if this happens with .NET Core 2.1 RC?
Would be great to also share the output of `dotnet --info`
Thanks!

[2018-05-17 16:37] davidsh commented on #29687
Also, what are the OS versions for the .NET 4.6.1 machine vs. the .NET Core 2.x machine?

[2018-05-17 16:44] karelz commented on #29708
I assumed we decided to not take the public methods to .NET Core 1.0 and provided just the interface implementation instead.
It looks like we missed the difference during .NET Core 2.0 push towards compat with Framework/Mono. Is that the key problem here?

[2018-05-17 16:45] stephentoub commented on #29708
Yes

[2018-05-17 16:45] HenryQW commented on #17272
@karelz Thanks for the prompt reply!

I will look into the possibility of adopting .NET Core 2.1 and also try to come up with a testing stack tomorrow.

[2018-05-17 16:48] danmosemsft commented on #29708
I would expect a break of this kind to show up in https://github.com/dotnet/corefx/blob/master/src/shims/ApiCompatBaseline.netcoreapp.netfx461.txt but it does not. @weshaggard seems we have a flaw in apicompat do you agree?

The difference shows up clearly in apisof.net:
https://apisof.net/catalog/System.Security.Cryptography.Pkcs.CmsRecipientCollection.System.Collections.ICollection.SyncRoot
http

[2018-05-17 16:54] karelz commented on #25800
@dshevani your callstack seems to be from .NET Framework (System.Web.* usage), not from .NET Core. Moreover it does not seem to use HttpClient at all, so it is likely not related to this issue. For .NET Framework help, you can use community channels (like StackOverflow), or if you have a repro / specific bug report, then [VS Developer Community](https://developercommunity.visualstudio.com/spaces/6

[2018-05-17 16:57] danmosemsft commented on #29708
@bartonjs oh of course -- I guess I was looking for "Interface was implicit but is now only partially implicit" but of course that's a bit unreasonable to expect 😛

I have gone through this file several times in the past, and should have followed up on these.

Do you plan to fix all these?

[2018-05-17 16:57] rmkerr commented on #29742
It looks like we're only running RS3 in PRs. So this test is always being skipped.

[2018-05-17 17:09] bartonjs commented on #29708
I plan that all of these should be fixed, yes.

I think it's just RecipientInfoCollection and CmsRecipientCollection needing to un-explicit their IsSynchronized and SyncRoot, and the already existing issue for AlgorithmIdentifier.Parameters (#29706).

Everything else in 80-94 (and 74-75) should already be done, and should be removed from the baselines file.

[2018-05-17 17:16] undecided2013 commented on #4198
@roederja2 , Jann, thanks. We tried it and it seems we're getting into some issue:

"kinit: Preauthentication failed while getting initial credentials"

We added the logging entries in the krb5.conf but we see nothing logged in var\logs

We added -V verbose flag to kinit and we see this:

Beginning Kerberos TGT setup
Preparing keytab file at /home/someone/kerberos.keytab for principal 'someone@our

[2018-05-17 17:28] danmosemsft commented on #29708
Perhaps you could update the baseline with your PR? I'm gratified to see there are some other removes.

Just run `msbuild ApiCompat.proj /p:BaselineApiCompat=true` in `src\shims`

[2018-05-17 17:35] karelz commented on #25800
@booradlus that's great news, thanks for confirmation that 2.1 RC helps!

[2018-05-17 17:36] huanwu opened #29764 "Area-Serialization Sprint 136"
The issue is for tracking issues to be done in sprint 136 (due by 6/8/2018)

[2018-05-17 17:46] #9543 closed

[2018-05-17 17:52] safern commented on #29761
This is related to: https://github.com/mono/mono/issues/8089#issuecomment-387461129

I think for now this is the intended behavior in mobile as it is not yet supported.

cc: @marek-safar @akoeplinger

[2018-05-17 17:55] danmosemsft commented on #29314
@leecow can you please do this? Update https://go.microsoft.com/fwlink/?LinkID=799421 to point to https://github.com/dotnet/core/tree/master/release-notes

[2018-05-17 17:56] rmkerr commented on #29716
Hey @stephentoub and @davidsh, I think it could be beneficial to bring Happy Eyeballs over to Windows too. There is still a significant (~20s) delay when connecting, even though it eventually succeeds. Before I work on the implementation, can you think of anything that might make that infeasible?

[2018-05-17 17:59] karelz commented on #29757
I would like to switch to managed HttpListener on Windows as well as soon as we have HTTPS support (#14691). It will be needed for UWP, so I hope we will be able to switch soon.
We may expose native HttpListener as separate package in Microsoft namespace as it apparently has some additional features.

Let's disable the tests on Nano for now.

[2018-05-17 18:01] davidsh commented on #29716
Windows winsock connect APIs are supposed to do this already.  They are supposed to do parallel IPv4 and IPv6 connect attempts when connecting via DNS name.  This feature might only be available in certain newer versions of Windows OS.

[2018-05-17 18:05] karelz commented on #29757
Drop http.sys and always use managed implementation everywhere. Offer http.sys implementation as specific opt-in.

[2018-05-17 18:06] stephentoub commented on #29757
I'm not sure the managed implementation is good enough for that yet.

[2018-05-17 18:06] huanwu commented on #28304
@AlexRadch Please reopen this issue if you still can repro.

[2018-05-17 18:06] #29381 closed

[2018-05-17 18:12] MarcoRossignoli commented on #27841
@stephentoub actually there could be other duplicates...great part has been removed, but there are other files to check one by one with diff tool, some of these are false positive(es. small file with small difference distort the percentage). I'm working on other PR right now, if you can wait i'll try to complete this issue...will take me sometime i think.
If you think that the work done is  enough

[2018-05-17 18:16] rmkerr commented on #29716
I could be wrong, but I don't think that we are taking advantage of those APIs in the case demonstrated here. That's based off my reading of the code in [MultiplConnectAsync.cs](https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/MultipleConnectAsync.cs).

[2018-05-17 18:19] davidsh commented on #29716
It would probably be easier to just use the built-in support for this instead of trying to do it ourselves and have to manage multiple, simultaneous, socket connect operations.

[2018-05-17 18:20] stephentoub commented on #29716
We need to do it for Unix, anyway.

[2018-05-17 18:20] karelz commented on #29243
Sounds reasonable to me. Marking as ready for review.
cc @dotnet/ncl (in case there are implications I missed)

[2018-05-17 18:29] karelz commented on #29757
Because of bugs? Or are there other missing features you are aware of?

[2018-05-17 18:47] danmosemsft commented on #27841
@MarcoRossignoli if you can make this into a checklist (maybe edit top post or create new issue for clarity) I bet other folks will help especially some new to the repo.

Yes I think a script akin to your FindResourceDuplicates.ps1 would be useful.

[2018-05-17 18:52] karelz commented on #29740
@iSazonov yes, I can imagine such scenario. Is MAC address parsing truly perf-sensitive part of the scenario? Is it common scenario for apps and libraries?
The problem is that anyone can come up with some (potentially perf-sensitive) scenario for almost any API in BCL. We add just the most important ones, where real apps and libraries benefit most. This API seems to be fairly rare (0.1% in [API us

[2018-05-17 18:55] ppekrol commented on #29762
@stephentoub True, but I would hope to see that in the Parallel Stacks then.

[2018-05-17 19:11] maincoon opened #29768 "ClientWebSocket.CloseAsync call causes ServerWebSocket.ReceiveAsync call fail"
[WSTest.zip](https://github.com/dotnet/corefx/files/2014387/WSTest.zip)

Attached sample produces different errors on windows and linux.
Windows build fails both ClientWebSocket.CloseAsync() and ServerWebSocket.ReadAsync() calls :

[code]

dotnet -info output

[code]

Same sample on Linux build fails ServerWebSocket.ReceiveAsync() call

[code]
dotnet --info output:

[code]
Despite on this errors s

[2018-05-17 19:45] shanselman commented on #27951
`sudo apt-get remove libssl1.0.0` works for me

[2018-05-17 19:54] stephentoub commented on #29759
Ok, I think I have a solution that should avoid the need to freeze the segments when calling Count.  That freezing is the cause of the expense, as Count is O(N) in the number of segments, and if Count is called after every enqueue/dequeue operation, we'll end up with a segment per element, which is abysmal.  Even with this change, though, Count is still not cheap, and it should still be avoided as

[2018-05-17 19:55] ppekrol commented on #29762
In this particular case this would be a sudden change of behavior between `2.1.0-preview2-26406-04` (`2.0` and `1.x` also since the code is old) and `2.1.0-rc1`.

[2018-05-17 19:58] stephentoub commented on #29762
Not necessarily.  For example, a performance improvement or regression between the versions could expose a race condition in the code and cause a task that previously completed to no longer complete.

I suggest you gather more details about the hang, e.g. what task(s) were being awaited when this hangs.

[2018-05-17 20:12] Priya91 commented on #15017
Hey Karel! We are using an azure relay library (azure/azure-relay-dotnet), which maintains a custom implementation of ClientWebSocket as it targets netstandard1.3, and the ClientWebSocket is not available there. So, I was extending that custom implementation to support proxies, and as a result of which I had to handle authentication for the proxy. If this library had been available, I could have u

[2018-05-17 20:16] ppekrol commented on #29762
I think that it is clearly visible in the dump. The test that in this particular run hanged was 'RavenDB_1280_ReOpen.Can_Index_With_Missing_LoadDocument_References' and it failed during saving the documents (HTTP POST) to the database (in parallel). We are using SyncSession there which is using AsyncHelpers.RunSync. And this is what hangs.

Please note that this does not hang on Linux.

[2018-05-17 20:43] vancem opened #29770 "Adding GetChunks which allow efficient scanning of a StringBuilder"
This issue started as #21248 but has morphed so much that it makes sense to open a new issue.

See coreclr pr https://github.com/dotnet/coreclr/pull/17530 for more.  This is just the API review.

EDIT @stephentoub 5/21. Copied proposal from below to here:
EDIT: Changed to final result (which has just the ChunkEnumerator type).
[code]

[2018-05-17 20:46] vancem commented on #21248
Closing this issue,  It is being addressed by issue #29770

[2018-05-17 20:46] #21248 closed

[2018-05-17 20:48] karelz commented on #29770
@vancem can you please post here the final API proposal?

[2018-05-17 20:58] vancem commented on #29770
We need a way of efficiently enumerating the chunks of a StringBuilder.   The suggestion here is to provide the new method StringBuilder.EnumerateChunks which returns a (nested but public) type ChunkEnumerable that implements the IEnumerable<ReadOnlyMemory<char>>.   Here is the new surface area.
[code]
By following this pattern the C# foreach statement just works.   Here is an example for efficien

[2018-05-17 21:07] kaabr commented on #26446
@karelz, unfortunately the same error occurs while using version 2.1.300-rc1-008673 (The handler does not support client authentication certificates with this combination of libcurl (7.29.0) and its SSL backend ("NSS/3.34")).

[2018-05-17 21:25] karelz commented on #26446
That is highly suspicious. Please check if you're really running against 2.1. Unless you set explicit opt-in (env.var / AppContext), you won't get libcurl into your process.

[2018-05-17 21:30] JefStat opened #29771 "Problem with forwarding http request after update to 2.1 rc1"
After updating from aspcore 2.0.7 to 2.1-RC1 the following block of code copying headers results in an ssl cert verification error. The code block is for proxying an incoming http request to another api endpoint.

[code]

[2018-05-17 21:34] luigiberrettini opened #29772 "Socket.Poll timeout occurs unexpectedly"
I am trying to detect disconnection issues by using `Socket.Poll`.

[Microsoft Docs](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.poll?view=netcore-2.0) say that `Socket.Poll`:
 - will block execution until the specified time period, measured in microseconds, elapses
 - cannot detect certain kinds of connection problems, such as a broken network cable,
or that the remote h

[2018-05-17 21:41] JefStat commented on #29771
In my unit test that fails after updating to 2.1-rc1, the only header being added is
[code]
The header is added in both 2.0.7 and 2.1, but in 2.1 the request fails unless I comment out the code block adding the header.

[2018-05-17 21:52] davidsh commented on #29771
Can you post a standalone repro that shows the error?  Otherwise, we can't really debug this.

Also, it's possible this is an ASP.NET issue in which case this issue will move to that repo.

[2018-05-17 21:53] stephentoub commented on #29762
Right, so I'm suggesting the problem isn't the SynchronizationContext, but rather than you're observing the SyncCtx in that state because its message loop is still waiting for an asynchronous operation to complete.  I opened your dump in windbg with sos, and found the relevant async state machine:
[code]
Looking at the state machine:
[code]
we can see that its _state field is 0, which means we're

[2018-05-17 22:03] joshfree commented on #29760
@danmosemsft my current thinking is we could evaluate porting this back to Full .NET Framework sometime post-2.2.  In .NET Core 2.1, we exposed Brotli compression APIs but without System.NET or ASP.NET Middleware consuming it yet.  During .NET Core 2.2 development milestone we expect upstack components to start calling the Brotli compression APIs.  After the higher level stack changes happen, stab

[2018-05-17 22:15] baulig opened #29773 "SslServerAuthenticationOptions API additions and suggestions"
I have a few questions and suggestions regarding Client Certificates, TLS Renegotiation and the new [`SslServerAuthenticationOptions`](https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/src/System/Net/Security/SslServerAuthenticationOptions.cs) API:

1. What is the purpose of the `EncryptionPolicy` property - is anyone actually using this for anything?
When would you set this to

[2018-05-17 22:39] pjanotti commented on #29712
Thanks for reporting @matteofabbri - this made me compare the behavior with the netfx and there were some subtle differences that I wanted to avoid.

[2018-05-17 22:57] Priya91 opened #29776 "NetworkStream.ReadAsync doesn't throw IOException when network disconnects."
Repro:

Client:

[code]

Server:

[code]

1. Run both server and client on different machines (i tested on 2 windows machines).
2. Disconnect the network on the machine running the client (which is in read state).
3. Keep pressing 'Enter' for Console.ReadLine prompt on server side, note the server side continues to write for 2-3 iterations, before it throws IOException that remote party disconnect

[2018-05-17 23:00] stephentoub commented on #29776
What does `netstat` show for the state of the client connection?

[2018-05-17 23:06] Priya91 commented on #29776
It shows,

[code]

[2018-05-17 23:08] stephentoub commented on #29776
Right, so as far as the OS is concerned, the connection is still established, and ReadAsync has no reason to complete until that changes.

[2018-05-17 23:26] Priya91 commented on #29776
Sounds good, thanks!

[2018-05-17 23:26] #29776 closed

[2018-05-17 23:28] rmkerr commented on #29716
I've put together a functional implementation of Happy Eyeballs in SocketsHttpHandler [here](https://github.com/dotnet/corefx/compare/master...rmkerr:SocketsHttpHandler_Connect_HappyEyeballs). I'm going to spend some time tomorrow improving the performance and working on tests. Depending on how that goes I will hopefully have a PR out tomorrow or Monday.

[2018-05-17 23:41] danmosemsft commented on #29707
@xaviergxf what are you trying to achieve? Directory Services is already in .NET 4.7.1.

[2018-05-17 23:43] danmosemsft commented on #15453
@terrajobst thoughts about readiness of this API proposal for review?

[2018-05-18 00:27] BKlippel commented on #23401
It can't come too soon, in my experience so far, .net core performance is unacceptable for production use, compared even to .net framework, Let's not bother comparing it to Node, Java, Python, etc, where it gets it's ars soundly handed to itself repeatedly.

[2018-05-18 00:35] benaadams commented on #15453
`Enum.HasFlag` wouldn't need to be marked obsolete now its a Jit intrinsic?

dotnet/coreclr#5626
dotnet/coreclr#13748

[2018-05-18 01:18] morganbr opened #29778 "Native build not incremental on Windows"
Running build-native.cmd or build.cmd on Windows always reruns the native build from scratch even if nothing has changed. It should be possible to use cmake's incrementalism to avoid redoing the build (I think CoreRT already does). This adds significantly to how long an incremental build takes to rebuild files that rarely change.

[2018-05-18 02:02] jugg1es commented on #20066
Is there any work around for .net 2.0?

[2018-05-18 02:02] TylerBrinkley commented on #15453
I still think the `Enum.HasFlag` should still be obsoleted as it's still ambiguous and clutters up intellisense as it's available on all enums, flag or not. Also, if this makes it's way to .NET Standard there's no telling whether the consumer's runtime treats it as a JIT intrinsic.

[2018-05-18 02:35] JefStat commented on #29771
sure here's a sample https://github.com/JefStat/aspcore-rc1-proxy-bug-sample . You'll need to add your own host in Proxy.cs

[2018-05-18 03:52] iSazonov commented on #29740
Yes, it is very perf-sensitive - sizes of DHCP logs can reach _huge_ sizes in enterprises. We could use perl or php (or sed/awk) but why we should refuse favourite C# and PowerShell?
Yes, the API is rare. (1) Although it is rare but we all already have this `Parse (string address);` - why if it is rare? (2) Why such APIs should remain not optimized? Adding and having ReadOnlySpan overloads is too

[2018-05-18 05:00] danmosemsft commented on #29778
If this broke, it was recent, as last time I did this it was incremental.

[2018-05-18 05:17] kasper3 commented on #29740
I think there are different things been discussed.

Initially:
* Change the behavior of MAC address parser to support:
  * all known MAC formats (not just IEEE 802?)
  * make the parser insensitive
* Add TryParse method - API proposal

Later:
* Add ReadOnlySpan overloads for Parse and TryParse - API proposal

I'd open separate issues for parser fixes and API additions and keep conversation scoped

[2018-05-18 06:12] danmosemsft commented on #29740
Yes please let's use this issue for separators and please open a single new issue for the API suggestions on the format suggested in https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2018-05-18 06:26] dotnet-mc-bot opened #29779 "Test failure: System.Security.Cryptography.X509Certificates.Tests.CertTests/TestVerify"
Opened on behalf of @Sunny-pu

The test `System.Security.Cryptography.X509Certificates.Tests.CertTests/TestVerify` has failed.

MicrosoftDotComIssuerBytes
    Expected: True
    Actual:   False

        Stack Trace:

           at System.Security.Cryptography.X509Certificates.Tests.CertTests.TestVerify() in /root/corefx-1698858/src/System.Security.Cryptography.X509Certificates/tests/CertTests.cs:l

[2018-05-18 06:39] iSazonov opened #29780 "Add new overloads with ReadOnlySpan to System.Net.NetworkInformation.PhysicalAddress"
## Rationale ##
Coming from #29740.

Let's to consider a scenario of DHCP log parsing. We read line by line and parse the line to get fields. Previously we used Substring() method. My understanding is that now [best practice (from Stephen Toub)](https://msdn.microsoft.com/en-us/magazine/mt814808.aspx) is to use Slice() to exclude extra allocations. So suggested overloads with ReadOnlySpan can be u

[2018-05-18 06:40] iSazonov commented on #29740
New issue for ReadOnlySpan overloads #29780

[2018-05-18 07:03] xaviergxf commented on #29707
I'm trying to have this dll independent on the output folder to be independent of what's installed on the GAC. The end goal is to be able to do a AppDomain.AssemblyResolve using this dll, since i don't know how to load a dll that is in the gac (I want to use this code with .net core and .net framework).

[2018-05-18 07:27] PawelGerr opened #29781 "Can't change multicast TTL of an IPv6 socket on Linux"
I'm getting an error when trying to change the multicast TTL of an IPv6 socket on ubuntu 16.04. There are no errors when having an IPv4 socket or running on windows 10.

dotnet version: 2.1.101
OS: ubuntu 16.04 x64

Error:
[code]

Repro: https://github.com/PawelGerr/DotnetCoreUdpMulticastTtl/tree/master/MulticastTtl
Executable: https://github.com/PawelGerr/DotnetCoreUdpMulticastTtl/tree/master/Mul

[2018-05-18 07:33] iSazonov opened #29782 "Can no longer get file attributes from exclusively locked files"
### Problem ###
IO.File.GetAttributes() doesn't return attributes for exclusively locked file like c:\pagefile.sys
IO.File.Exist() doesn't found such file (return false).

### Repo on PowerShell ###
[code]

In PowerShell repo we have a workaround:
1. https://github.com/PowerShell/PowerShell/blob/5cbf1b43de52fe9025bf756990b1cc6eb4e694e9/src/System.Management.Automation/namespaces/FileSystemProvider

[2018-05-18 07:53] ayende commented on #29762
Thank you for the detailed investigation.

We are using WinHttpHandler because of this issue: https://github.com/dotnet/corefx/issues/29453
This is fixed, but we haven't yet rolled back the workaround for that because the RC bits still have this issue.

The problem is that this hangs mysteriously.
We have also seen it in some other cases with similar stack trace. It seems that in certain cases, HT

[2018-05-18 09:03] mihailik commented on #29544
@sdmaclea  @stephentoub sorry I've dropped out of the conversation for a while.

Your suggestions for a specific use case (very trivial, well known, defined and clear use case too) would not pass the code review. Your usage of `Lazy` allocates too much to be used in such a commonly used class as `List` or `ArrayList`. A cursory glance of an experienced C# developer would show that.

The fact that

[2018-05-18 09:33] svick commented on #23401
@BKlippel Can you share the data you're basing that on? Have you tried using .Net Core 2.1 RC1 to see if it's an improvement?

[2018-05-18 09:45] smudge202 commented on #27970
I appreciate this issue has been closed but we're experiencing what I believe to be the exact same behaviour. Would you prefer another issue be opened?

We have a public endpoint that I can provide an repro for, though as @arpit-nagar mentioned, it is intermittent (14/46 requests fail looking at our recent logs).

Is a simple snippet of `HttpClient` code calling a specific endpoint sufficient or d

[2018-05-18 10:09] dotnet-mc-bot opened #29783 "SourceCode build failures in 'prodcon/corefx/release/2.1/' - '20180518.01'"
There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1699590
  - **Agent:** DDVSOWINAGE081
  - **Error log:** E:\A\_work\0\a\MicroBuild\Plugins\MicroBuild.Plugins.Signing.1.0.610\build\MicroBuild.Plugins.Signing.targets(0,0): error MSB4018: The "SignFiles" task failed unexpectedly. [E:\A\_wo

[2018-05-18 10:37] marek-safar commented on #29761
Yes, this is one of those types/methods which are unlikely to be fully supported cross-platform.

[2018-05-18 11:33] ppekrol commented on #29762
@stephentoub We have created another dump (much simpler). You are correct that we are waiting in the AsyncHelpers for the task to finish indefinitely, but we noticed following stack in that dump:

[code]

It looks like we are looping here https://github.com/dotnet/corefx/blob/4ca09c7662197c36acb4abb91959f8baf3c88cd4/src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEventArgs.Windows.cs#L113

[2018-05-18 13:03] undecided2013 commented on #4198
@roederja2 , klist returns valid tickets. We will probably try on native linux on Monday.

[2018-05-18 13:17] iSazonov opened #29784 "Regression in System.IO.FileInfo .Net Core 2.1 RC1 Final"
Repo with PowerShell
- with .Net Core 2.0
[code]
- with .Net Core 2.1 RC1 Final
[code]

The problem is that only name property is accessable.

[code]

[2018-05-18 13:18] iSazonov commented on #29784
/cc @SteveL-MSFT @daxian-dbw Perhaps you will be interested.

[2018-05-18 14:06] ppekrol commented on #29762
Interesting, switching back to `SocketsHttpHandler` does not cause any hangs, so it must be related to the `WinHttpHandler` and `Kestrel` communication.

[2018-05-18 14:37] stephentoub commented on #29544
I didn't suggest using `Lazy`.  I suggested using `LazyInitializer.EnsureInitialized`.  It does not allocate too much.  You might want to review the implementation to confirm for yourself:
https://github.com/dotnet/coreclr/blob/b12c344020ba4cc5bccff377c8922f5434aa293e/src/System.Private.CoreLib/shared/System/Threading/LazyInitializer.cs#L50-L51

I'm sorry you feel that way.  I disagree.  I believe

[2018-05-18 14:54] stephentoub opened #29785 "SocketAsyncEventArgs.Complete may hang if used on disposed socket"
If there is a race between using a Socket with SocketAsyncEventArgs and disposing of the Socket, it's possible that the call to allocate a NativeOverlapped will throw an ObjectDisposedException.  In some operations, this throw happens after we've already transitioned the Socket's _singleBufferHandleState to something other than None, which will cause SocketAsyncEventArgs.Complete to spin until _si

[2018-05-18 15:03] stephentoub commented on #29762
I've opened https://github.com/dotnet/corefx/issues/29785 for the sockets issue.  That's a regression in 2.1, introduced in https://github.com/dotnet/corefx/pull/27728.

I'm not sure if that's the whole issue, though.  I know kestrel had some issues related to request shutdown; it's possible you're hitting one of those. @halter73, does this look familiar?

I'm going to close this issue, though, as

[2018-05-18 15:05] #29762 closed

[2018-05-18 15:26] panost commented on #24607
Why are they named Utf8xxx and not Asciixxxx?
From a quick look at the source code it appears that they support any [ASCII compatible encoding](https://stackoverflow.com/questions/39052678/finding-which-encodings-in-net-are-ascii-compatible).

[2018-05-18 15:33] GrabYourPitchforks commented on #24607
@panost  Just a mistake. We discussed internally a few weeks ago but it's too late in the release cycle to do anything about it.

[2018-05-18 15:47] SteveL-MSFT commented on #29784
I'm able to repro this and it seems specific to `pagefile.sys`

[2018-05-18 15:49] danmosemsft commented on #29783
@mmitche I cannot see where the "signing log" is. Why isn't it either included in stdout log or included in the log zip?

[code]

[2018-05-18 15:49] danmosemsft commented on #29783
That would be more useful than a callstack

[2018-05-18 15:53] mmitche commented on #29783
@jcagme I think this should have gone into the infrastructure bucket.
@danmosemsft I don't think it's harvested.  Anyways, it doesn't usually contain all that much interesting info.  There was signing performance degradation yesterday which is why this happened.

[2018-05-18 15:53] #29783 closed

[2018-05-18 16:13] danmosemsft commented on #29783
One would hope the log should at least suggest that ('timeout' , 'signing service not responding' etc) ...  if it does not, we should suggest it.

[2018-05-18 16:18] danmosemsft commented on #29784
@JeremyKuhne ?

[2018-05-18 16:25] MgSam commented on #26845
@veikkoeeva I'm not sure column-oriented vs row-oriented is the right description. It's a tabular data structure. It definitely makes column-based operations easy and much more readable. This [definition for an R data frame](https://github.com/mobileink/data.frame/wiki/What-is-a-Data-Frame%3F) is pretty good.

As soon as I get some free time I intend to play around with the IDataView.

[2018-05-18 16:27] davidsh commented on #17272
This is on a Linux container?  So, how are the "default proxy settings" configured exactly?  Environment variables?  Can you let us know what settings are present on this container for the corporate network?

[2018-05-18 16:43] danmosemsft commented on #29782
Is this the cause of https://github.com/dotnet/corefx/issues/29784? Ie that's a dupe?

@JeremyKuhne

[2018-05-18 16:46] danmosemsft commented on #29782
Seems to be a regression since 2.0.

[2018-05-18 16:59] danmosemsft commented on #29782
Previously we would try again with FindFirstFile for any failure of GetFileAttributes other than 3 specific codes:
https://github.com/dotnet/corefx/blob/release/2.0.0/src/System.IO.FileSystem/src/System/IO/Win32FileSystem.cs#L257

Now we only try again for ERROR_ACCESS_DENIED

[2018-05-18 16:59] karelz commented on #29781
@wfurt any idea?
cc @geoffkizer

[2018-05-18 17:00] danmosemsft commented on #29784
Dupe of #29782

[2018-05-18 17:17] HenryQW commented on #17272
Yes it's a Linux container.

The proxy is set via environment variables. Local build (on a windows machine with the same proxy configured) is working fine.

https://github.com/HenryQW/httpclientTest/blob/master/docker-compose.yml

[2018-05-18 17:40] baseless opened #29788 "THIRD-PARTY-NOTICES is incorrect and unable to remove"
Hi!

Uncertain wether or not im missing some option to disable this. But i have a net core 2.1 preview 2 which i have stripped from the original css / js packaging and use webpack.

But the 'THIRD-PARTY-NOTICES ' keeps coming up in each project, including the class libraries, and seem to contain nfo for the default template packages (none of which is used or exist in my solution).

Deleting the fi

[2018-05-18 17:41] davidsh commented on #17272
What environment variables are you using?  Can you send a sample of that?

For the WIndows machine, I assume you don't use environment variables.  But rather IE config settings, i.e.:

![image](https://user-images.githubusercontent.com/7684835/40249454-e73f6eda-5a87-11e8-9625-8a0bd9942eb7.png)

I think .NET Core 2.0 did not handle Linux environment variables for proxy settings.  But this was fixed

[2018-05-18 17:44] davidsh commented on #17272
Looks like you're using these evironment variables on Linux:

[code]

@wfurt Does CurlHandler use those variables for proxy?  Also, does .NET Core 2.1 SocketsHttpHandler use those variables for proxy?

[2018-05-18 17:44] wfurt commented on #29781
I'll give it try @karelz This may be similar to fixes in #25544

According to man page:

IP_MULTICAST_TTL | Set Time To Live (TTL) in the IP header for outgoing multicast datagrams. An option_value parameter of type char is used to set this value between 0 and 255. This option is only supported for sockets with an address family of AF_INET and type of SOCK_DGRAM or SOCK_RAW.

What we should probab

[2018-05-18 17:44] karelz commented on #17272
libcurl used also env vars - that's how we modeled 2.1 env vars detection.
@HenryQW please try your repro on 2.1. Let's first find out if it fails there, then we can go deeper.

[2018-05-18 17:46] #29788 closed

[2018-05-18 17:46] danmosemsft commented on #29707
@jeffschwMSFT can you advise? We presumably don't support loading .NET Framework assemblies from outside of the GAC, and we don't support the CoreFX implementation running on .NET Framework. Can @xaviergxf write code that will run on both and load it either way?

[2018-05-18 17:46] baseless commented on #29788
Removed the file from the netstandard folder. Ugly but got rid of the file..

[2018-05-18 17:47] stephentoub commented on #17272
Yes and yes (on Unix).

[2018-05-18 17:48] danmosemsft commented on #26845
@glebuk @TomFinley

[2018-05-18 17:50] jeffschwMSFT commented on #29707
@danmosemsft you are correct.  If you try to load an assembly that has the same identity as one you are trying to load it will prefer the gac.

[2018-05-18 17:53] karelz commented on #27970
Please open new issue - there is no value to continue on this one as it might or might not be the same problem.
We will need isolated minimal repro.
It is ok if it runs a loop and it takes a while to hit the failure, or if it needs to be executed multiple times to hit the problem - just make sure you can reproduce it on more than 1 machine yourself.

[2018-05-18 17:57] wfurt commented on #17272
Just a note, that the 1080 port is default for Socks. SocketsHttpHandler does not support Socks proxy.

I think best way how to troubleshoot this is packet capture with tcpdump or tshark.
It may be worth of trying with IP address/port to eliminate issues with name lookup.

Next step I would suggest is try something like:
strace -f -e connect -t dotnet run 2>&1 | grep AF_INET
you will need to run c

[2018-05-18 18:03] HenryQW commented on #17272
@wfurt http proxy(via port 8080) doesn’t work too.

[2018-05-18 18:33] kasper3 commented on #29780
Would it make sense to move `public static bool TryParse(string address, out PhysicalAddress mac);` to this proposal as well and leave #29740 scoped to improve the parsing logic?

[2018-05-18 18:41] danmosemsft commented on #29756
QueryDosDevice is returning "The handle is invalid" on Nano server. Apparently it wasn't previously. Probably we just want to skip this for Nano.

[2018-05-18 18:45] danmosemsft commented on #29784
Dupe as it is the same issue in FillAttributeInfo

[2018-05-18 18:45] #29784 closed

[2018-05-18 18:52] kasper3 commented on #28863
cc @wfurt, this is also related: https://github.com/dotnet/corefx/issues/27529

[2018-05-18 19:09] MarcoRossignoli commented on #28238
@ahsonkhan do you like something like [this]( https://github.com/dotnet/corefx/compare/master...MarcoRossignoli:stmtostringtests)?
I mean, move all possible `Span<char>`  under `ReadOnlySpan` adding string test part, am I on the right track?

[2018-05-18 19:26] ahsonkhan commented on #28238
I mean, move all possible `Span<char>`  under `ReadOnlySpan` adding string test part, am I on the right track?

That looks good to me. In your example, this added a new string-based tests as well (borrowing from span), which is great. If in the process of moving the `ReadOnlySpan<char>` tests, you come across existing string-based tests, I would merge them together (just like you have it in your c

[2018-05-18 19:55] JeremyKuhne commented on #29782
I'm creating tests for this scenario now and a fix.

[2018-05-18 20:06] JeremyKuhne commented on #29782
The original change was done nearly 11 months ago: https://github.com/dotnet/corefx/commit/0cdb9f36c76927f8a2fcf57641c64e8985a48e4d

[2018-05-18 20:07] stephentoub commented on #29756
Other failures:
[code]

[2018-05-18 20:33] keeratsingh commented on #29714
@bazzilic
Thank you for providing the detailed information, I was able to successfully repro and observe the same behavior as you in both `.Net Core 2.1` and `.Net Framework v4.7.1`
I will investigate further as to if this is expected behavior or not and will update here once I have further comments or questions.

[2018-05-18 21:18] danmosemsft commented on #29756
@pjanotti could you please find out whether serial ports should be working on Nano? Let me know if you need a contact. Then we can either log a bug but either way the test should be disabled.

[2018-05-18 21:21] glebuk commented on #26845
The ML.NET has the concept of "IDataView."   (IDV)  We are porting documentation for it in this [PR 173](https://github.com/dotnet/machinelearning/pull/173)
We hope it would provides some context for this discussion.
It is similar to DataFrame but have significant difference.  Dataframe is fully materialized schematized data table in memory that supports random access. IDV is similar to a SQL View

[2018-05-18 21:28] deesklo opened #29791 "What is DevDiv Bugs #94657?"
It is referenced from [`System.Linq.Expressions.Compiler.ILGen.EmitConvertToType` method](https://github.com/dotnet/corefx/blob/v2.1-rc1/src/System.Linq.Expressions/src/System/Linq/Expressions/Compiler/ILGen.cs#L676). That `if` branch is executed only in tests added in [this commit](https://github.com/dotnet/corefx/commit/aa808b734f14a3803843bc6164678f7569f94f90), which allowed to create expressio

[2018-05-18 21:28] danmosemsft commented on #29756
Fair enough. I guess they just made QueryDosDevice more truthful. @pjanotti if you can't get to this today let me know and I will do it.

[2018-05-18 21:31] pjanotti commented on #29756
I probably only can do it in the evening... so if you can thanks, if not I will pick it up later.

[2018-05-18 21:35] pjanotti commented on #29756
BTW, currently no serial ports for docker Windows containers https://github.com/docker/for-win/issues/1018

[2018-05-18 21:39] danmosemsft commented on #29791
@JonHanna may have context if he added the test. I can't find that bug in the bug database I know of named DevDiv Bugs, and the reference was added before 2010, which is the oldest sources I can find right now.

[2018-05-18 22:56] rubenprins commented on #28716
Please explicitly (re)consider adding a non-allocating variant of `GetBits()`. There have been several tickets for this (like #12672 and #12673), but these tickets have been closed to be subsumed by more general Span related tickets, at which point Decimal invariably gets forgotten.

Next, besides knowing the number of decimal digits and negative zero, consider adding a Normalize method that, well

[2018-05-18 23:02] karelz commented on #29780
IMO we should not merge `TryParse` into this API request. `TryParse` is about avoiding exceptions in non-exceptional cases. Span is about critical perf.

[2018-05-18 23:43] karelz commented on #29780
We have `Parse` API, because it is sometimes (albeit rarely) useful. Having the capability is valuable (as its usage shows), but it in general does not justify to have the capability hyper-optimized, especially when the optimization is not free (adding new API).

Adding API is not free. It has cost also on platform usability (choice from more overloads adds tax on developers).
AFAIK so far we adde

[2018-05-19 00:02] #29712 closed

[2018-05-19 00:25] karelz commented on #28107
Not actionable at this point, closing. If you can still reproduce problems on 2.1 RC, please let us know. Thanks!

[2018-05-19 00:25] #28107 closed

[2018-05-19 00:26] karelz commented on #28418
Not actionable with current info, closing. If you hit troubles with 2.1 RC, we can reopen. Thanks!

[2018-05-19 00:26] #28418 closed

[2018-05-19 00:33] karelz commented on #29597
Unable to reproduce, closing. If you have more details / evidence what is happening, please let us know and we can reopen.

[2018-05-19 00:33] #29597 closed

[2018-05-19 00:41] karelz commented on #8819
Should be addressed in 2.1 with new default handler: SocketsHttpHandler, closing.

[2018-05-19 00:41] #8819 closed

[2018-05-19 02:04] morganbr commented on #29791
The .NET Framework source is at https://referencesource.microsoft.com/#System.Core/Microsoft/Scripting/Compiler/ILGen.cs,de4f63414ebe659f . I don't see any significant differences. I also didn't find any changes in this part of the file in the current source control system, so whatever this is, it's quite old.

[2018-05-19 02:07] #29759 closed

[2018-05-19 03:47] davidsh commented on #8517
PR #13134 changed this so that the constructor for InternalException() doesn't directly call Debug.Fail. But rather it now logs into the NetEventSource.Fail.  That in turn will still call Debug.Fail.

At this point, there is no need to change how System.Net.InternalException works. Over time, though, it would be good to migrate away from using this exception. But for now, this issue can be closed.

[2018-05-19 03:47] #8517 closed

[2018-05-19 04:08] danmosemsft commented on #29782
@jeremykuhne could you please make a 2.1 port and mark no merge..

[2018-05-19 04:31] #29756 closed

[2018-05-19 05:45] kasper3 commented on #29780
Then `TryParse` maybe doesn't belong to https://github.com/dotnet/corefx/issues/29740 either, rather than in its own proposal. This proposal is about Parse **and** TryParse *overloads*, where the latter one doesn't exists. So that should be reworded as well, right?

[2018-05-19 07:05] MarcoRossignoli commented on #28863
@caesar1995 we merged fix to part 2 you could update issue description.

[2018-05-19 07:58] danmosemsft commented on #29756
Thanks @pjanotti

[2018-05-19 09:08] riverar commented on #17382
This OpenProcess implementation incorrectly assumes a handle is returned for a guaranteed running process, when it can return a handle if the process is zombied and wouldn't normally show up in enumeration.

[2018-05-19 10:08] dotnet-mc-bot opened #29796 "SourceCode build failures in 'prodcon/corefx/release/2.1/' - '20180519.01'"
There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1703066
  - **Agent:** DDVSOWINAGE081
  - **Error log:** E:\A\_work\0\a\MicroBuild\Plugins\MicroBuild.Plugins.Signing.1.0.610\build\MicroBuild.Plugins.Signing.targets(0,0): error MSB4018: The "SignFiles" task failed unexpectedly. [E:\A\_wo

[2018-05-19 13:13] MohammadHamdyGhanem commented on #27840
@CyrusNajmabadi @ViktorHofer @karelz @radical @shanselman
This Code:
[code]
generates this regex pattern:
`^[^<>]*(((?<Open><)[^<>]*)+((?<Close-Open>>)[^<>]*)+)*(?(<Open>)(?!))$`

Does Verex make it easer to understand what the the regex does?
Any notes or suggestions?

[2018-05-19 14:49] danmosemsft commented on #17382
@riverar please open a new issue with details as this is closed

[2018-05-19 16:25] SomeAnon42 opened #29799 "TypeLoadException when using System.Threading.Channels in a Xamarin.Android project"
![image](https://user-images.githubusercontent.com/6377116/40270618-1d059e38-5b99-11e8-978f-2f0b5c5870be.png)

![image](https://user-images.githubusercontent.com/6377116/40270647-bfc2c682-5b99-11e8-8af8-6deb10684c3e.png)

Version of the package: 4.5.0-rc1.
I'm wondering if there's a workaround for this.

Update: technically, the code that uses System.Threading.Channels is inside a netstandard2.0 l

[2018-05-19 16:55] karelz commented on #28863
Thanks @MarcoRossignoli! Top post updated.

[2018-05-19 16:59] karelz commented on #29799
Which type fails to load? Can you get a call stack?
cc @marek-safar

[2018-05-19 17:01] #26684 closed

[2018-05-19 17:35] karelz commented on #18328
Should be covered by RedHat docs above - see the issue linked above. Closing.
Note: 2.1 by default does not use libcurl anymore.

[2018-05-19 17:35] #18328 closed

[2018-05-19 17:38] karelz commented on #18972
.NET Core 2.1 ships by default with SocketsHttpHandler which enables ServerCertificateCustomValidationCallback on all platforms. We should not need a new API to work around the platform limitations anymore.

[2018-05-19 17:38] #18972 closed

[2018-05-19 17:39] karelz commented on #18873
The issue should be gone with new SocketsHttpHandler, which is default in .NET Core 2.1.

[2018-05-19 17:39] #18873 closed

[2018-05-19 18:07] karelz commented on #21227
I believe that the main perf problem on Linux should be addressed in new default SocketsHttpHandler. Can you please try .NET Core 2.1 (RC is go-live).
If you still see perf problems or room for improvement, please file a new bug with details, we will be happy to push SocketsHttpHandler perf further. Thanks!

[2018-05-19 18:07] #21227 closed

[2018-05-19 18:09] karelz commented on #22806
Closing as there is nothing actionable at this moment. Feel free to reopen if/when you have more details. Thanks!

[2018-05-19 18:09] #22806 closed

[2018-05-19 19:06] stephentoub commented on #29759
Just to close this out, using the above repro, on my machine, before the fix:
[code]
and after https://github.com/dotnet/coreclr/pull/18035:
[code]

[2018-05-19 19:08] iSazonov commented on #29780
@karelz Thanks for sharing .Net Core team policy!

I agree that the choice of a large number of APIs adds complexity for developers. But really this complication appears if similar things are done in different places (namespaces).
My point is that _Spans is a special case_ - we do not add new APIs, we make _a mirror of the existing ones_. I would expect that such Span overloads exist for most exis

[2018-05-19 19:13] iSazonov commented on #29780
@kasper3

I believe the topic is a successor of  #29740 - if #29740 will be rejected the suggestion will be rejected too. In any case I agree to reword. Feel free to edit the issue description.

[2018-05-19 19:15] paulomorgado commented on #26223
`System.Net.Http.WebRequestHandler` seems to be bit more over `System.Net.Http.HttpClientHandler` than just `UnsafeAuthenticatedConnectionSharing`.

What's the recommendation for replacing `System.Net.Http.WebRequestHandler` with `System.Net.Http.HttpClientHandler`? What should the user look out for?

[2018-05-19 19:41] danmosemsft commented on #29759
Nice improvement! How does count perform on the other concurrent collections?

[2018-05-19 19:47] Neme12 commented on #16011
Should the result be a named tuple? `(T1 first, T2 second)` for symmetry with the parameters?

[2018-05-19 21:07] tmds commented on #29716
Interesting issue.
The root cause is misconfiguration of some sort. This makes a machine use an IPv6 address on a network that doesn't support it.
Then even tough the DNS returned multiple addresses, the TCP connection timeout of the OS for 1 address exceeds the HttpClient timeout.

I wonder if we (corefx) are responsible to deal with such misconfiguration issues? And if we do, at what level (TCP/

[2018-05-19 21:09] agocke commented on #16011
@Neme12 We could, although tbh i don't see much difference between "first" and "Item1"

[2018-05-19 21:55] stephentoub commented on #29759
It's not really the direct cost of Count that's being measured in this repro, but rather the impact of it on the Enqueue call.  ConcurrentQueue as of my changes for .NET Core 2.0 is implemented as a linked list of circular buffers.  When a buffer fills, we allocate a new buffer (typically of twice the size of the previous one), and link the previous one to it... all new enqueues go into the new se

[2018-05-19 22:00] danmosemsft commented on #29759
Interesting thanks.

[2018-05-19 22:08] davidsh commented on #9075
@karelz Given that SocketsHttpHandler is the default for .NET Core 2.1 and the future plan is to deprecate CurlHandler, perhaps we can close this issue?

[2018-05-19 22:12] davidsh commented on #23782
@karelz @stephentoub Does this problem occur with SocketsHttpHandler as well?  I think this problem is only with CurlHandler.  Since SocketsHttpHandler is the default for .NET Core 2.1 and we plan to deprecate CurlHandler, perhaps we can close this issue?

[2018-05-19 22:16] davidsh commented on #25757
@karelz This issue is another example of the packaging/binding-redirects etc. issue when there are projects that target NetStandard and .Net Framework.  Perhaps we can resolve this issue against those dupes and provide the link to the "Known Issues" document?

[2018-05-20 00:15] jkotas commented on #29791
This bug was in PS DevDiv Bugs database.

Here are the interesting details from the bug description:

Repro steps:

1. Compile and run the following code:

[code]

2. When the above code is compiled and run:

Expected: The code compiles and runs successfully

Actual: The following runtime exception is observed:

[code]

Description of the fix:

[code]

[2018-05-20 00:17] jkotas commented on #29791
It would be nice to replace the reference to the bug number with a more self-describing comment.

[2018-05-20 00:30] davidsh opened #29802 "[UWP] Many Http tests failing / hanging"
Many dozen of Http tests are failing on UAP test runs.  This is not showing up during PR/CI because the UWP leg only is building the product and test sources and not actually running any tests.  However, the test failures show up in Helix and also when run locally on a dev machine i.e.

[code]

For now, these tests will be disabled in bulk in order to get the test runs clean.

[2018-05-20 02:30] hawkerm opened #29804 "Add ability to provide array type conversion for a type"
If I create a class and give it an implicit conversion operator:

[code]

It'd be nice to also be able to provide an array converter as well, e.g.

[code]

Currently, the implicit conversion won't happen automatically for the array (even with the singular implicit converter defined), so making an extension to the other type to provide a helper seems to be the only route but a bit messier.

Also fo

[2018-05-20 02:54] karelz commented on #24661
I tried it with VS 15.7.1, WinForms project targeting .NET 4.7.1. The deploy directory contains file `System.Net.Http.dll.deploy` (in subdirectory `Application Files\WindowsFormsApp1_1_0_0_0`). Seems like it is fixed in latest tooling (there have been bunch of fixes in the tooling around System.Net.Http and few other similar DLLs.
Closing. If you can still reproduce with latest tooling, feel free

[2018-05-20 02:54] #24661 closed

[2018-05-20 02:56] karelz commented on #9075
Agreed, closing.

[2018-05-20 02:56] karelz commented on #9075
Actually, it has disabled tests against it. We need to disable them permanently without linking this bug.

[2018-05-20 05:08] Tratcher commented on #26223
In net461 WebRequestHandler used the same implementation as HttpClientHandler, it only exposed more switches that we didn't think would be portable across different implementations (like UnsafeAuthenticatedConnectionSharing). If there wasn't a specific option on WebRequestHandler you were using then you should be able to move to HttpClientHandler.

[2018-05-20 10:08] dotnet-mc-bot opened #29806 "SourceCode build failures in 'prodcon/corefx/release/2.1/' - '20180520.01'"
There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1704072
  - **Agent:** DDVSOWINAGE081
  - **Error log:** E:\A\_work\0\a\MicroBuild\Plugins\MicroBuild.Plugins.Signing.1.0.610\build\MicroBuild.Plugins.Signing.targets(0,0): error MSB4018: The "SignFiles" task failed unexpectedly. [E:\A\_wo

[2018-05-20 10:58] CodeMyst commented on #10361
[code]
This does work on Windows but not on Linux. In Linux I can simply do:
[code]
which works.

[2018-05-20 11:27] tdinucci commented on #11967
If there's still interest in this I'd be happy to take it

[2018-05-20 11:53] tdinucci opened #29807 "Inappropriate use of Win32Exception"
If you look at:

https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs

You'll see that there are many places where **Win32Exceptions** are thrown and this doesn't feel right on non-Win32 platforms.

There probably is no great way to address this since moving away from **Win32Exception** would break existing applications.  I wonder thoug

[2018-05-20 13:14] JustArchi commented on #29032
I can confirm that I'm no longer seeing this issue with above release.

Thanks!

[2018-05-20 13:31] stephentoub commented on #9075
@karelz, I searched the repo for 9075, and I don't see this issue referred to anywhere.

[2018-05-20 13:33] #27953 closed

[2018-05-20 13:50] stephentoub commented on #29807
It's an unfortunate name, but it works cross-platform, and is really just a PlatformException with a less-than-ideal name.  Changing it would be a huge breaking change, and when we previously discussed it, we decided there wasn't enough value in introducing a new exception.

[2018-05-20 15:26] tdinucci commented on #29807
The value I see here is primarily from a non-developers perspective, e.g. admins looking at logs, end users who see raw exception messages in some default exception handler, etc.

I totally get that resolving this by doing something like renaming Win32Exception or creating a brand new UnixException (which didn't descend from Win32Exception would be a massive breaking change).

With my suggestion t

[2018-05-20 15:55] paulomorgado commented on #26223
@Tratcher, I hope so. But I'd like some clear messaging on this.

[2018-05-20 16:36] vivaladan commented on #12537
I might take it upon myself to wade in on this one.

I've just been looking for the deliveryMethod and pickupDirectoryLocation options from mailSettings.
I could always read them from config and set them in code (which I'm going to have to do now anyway).

The only reason I want this is for test cases in certain environments where I don't have email set up, or developers machines. Previously it wo

[2018-05-20 16:52] Lersubem opened #29808 "System.Reflection.Emit.Lightweight is missing"
The error code says:
MissingMethodException: Method 'DynamicMethod..ctor(string, Type, Type[], Type, bool)' from assembly 'System.Reflection.Emit.Lightweight' was not included in compilation, but was referenced in CompilerContext..ctor(Type, bool, bool, TypeModel, Type). There may have been a missing assembly, or a dependency on a more recent Windows SDK release.
this happens only when testing the

[2018-05-20 17:07] svick commented on #29808
[That `CompilerContext` constructor](https://github.com/mgravell/protobuf-net/blob/fb56bb9/src/protobuf-net/Compiler/CompilerContext.cs#L290) seems to come from [protobuf-net](https://github.com/mgravell/protobuf-net), so this issue probably belongs to that repo.

Though I suspect the issue is that System.Reflection.Emit is not supported in UWP's AOT compiler (which is only used in Release mode).

[2018-05-20 19:58] danmosemsft commented on #29807
Im inclined to agree with @tdinucci that it would make code clearer (it always catches my eye on cross platform code). We historically consider replacing an exception with a derived type as very low risk.

It wouldn't help with the HResult property though. But that's less commonly seen in cross plat code.

[2018-05-20 22:03] davidsh commented on #29644
I started looking into this.  One problem doing this is that the managed websocket implementation uses SocketsHttpHandler.  And SocketsHttpHandler uses native WinHTTP APIs in order to read the system proxy settings (IE settings) and calculate a proxy (even doing WPAD protcol and Javascript compiling the PAC file).

I don't think the native WinHTTP APIs are in the "allowed" list for a UWP app.  We

[2018-05-20 23:02] danmosemsft commented on #29644
@ptorr-msft is your contact for that

[2018-05-21 02:31] nd-srogers opened #29811 "DbProviderFactories not found in System.Data.Common"
I have a .NetStandard class library using NetStandard 2.0.3 with .Net Core SDK 2.1.300-rc1 installed on my machine. I am trying to use the `DbProviderFactories` methods to get an instance of a `DbProviderFactory` only known at runtime.

Looking through older GitHub issues, it appears `DbProviderFactories` was ported over around December 2017 (https://github.com/dotnet/corefx/issues/4571 and https:

[2018-05-21 02:37] Sunny-pu opened #29812 "Test failure: System.Net.Http.Functional.Tests / GetAsync_IPv6LinkLocalAddressUri_Success"
Test: System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandlerTest.GetAsync_IPv6LinkLocalAddressUri_Success (from (empty))
MESSAGE:
System.Net.Http.HttpRequestException : No such device or address\n---- System.Net.Sockets.SocketException : No such device or address

Test:
System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandlerTest.GetAsync_IPv6LinkLocalAddressUri_Success (f

[2018-05-21 02:53] davidsh commented on #29812
This looks like a machine configuration issue if it can't resolve the IPv6 loopback address.

[2018-05-21 05:50] danmosemsft commented on #29806
@mmitche is this a new system, opening build issues directly in the repo? Because it doesn't look like the infrastructure is stable enough for that to be useful. This is the same error as before, and it was non actionable.

[2018-05-21 06:29] danmosemsft commented on #29811
@nd-srogers DbProviderFactories is available in .NET Core so you can see it from a .NET Core library however it is not part of the common .NET Standard surface area which is why you can't see it from your .NET Standard library.

I cannot figure out why DbProviderFactories was not part of .NET Standard. It is in Mono: https://apisof.net/catalog/System.Data.Common.DbProviderFactories

There is some

[2018-05-21 06:36] danmosemsft opened #29815 "StartInfo_TextFile_ShellExecute failing consistently on RS4"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180521.01/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessStartInfoTests~2FStartInfo_TextFile_ShellExecute

Apparently Process.Start on foo.txt with UseShellExecute=true is returning a null process object.

[code]

[2018-05-21 06:40] danmosemsft commented on #29755
@caesar1995 we will need your new attribute to exclude all these from Nano

[2018-05-21 07:09] marek-safar commented on #29585
@weshaggard 2.2 milestone seems to be too far away (months right?). Could we get it fixed sooner as customers seem to start hitting this?

[2018-05-21 08:43] igorko commented on #24457
Voting for this to be fixed.

[2018-05-21 09:44] HenryQW commented on #17272
Hi guys,

I can confirm this is a proxy-related issue. Thanks for all the help!

[2018-05-21 10:07] dotnet-mc-bot opened #29817 "SourceCode build failures in 'prodcon/corefx/release/2.1/' - '20180521.01'"
There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1705052
  - **Agent:** DDVSOWINAGE081
  - **Error log:** E:\A\_work\0\a\MicroBuild\Plugins\MicroBuild.Plugins.Signing.1.0.610\build\MicroBuild.Plugins.Signing.targets(0,0): error MSB4018: The "SignFiles" task failed unexpectedly. [E:\A\_wo

[2018-05-21 13:40] stephentoub commented on #29815
FWIW, I'm on RS4 and this isn't failing for me locally.
[code]

[2018-05-21 13:41] stephentoub commented on #29812
This is caused by https://github.com/dotnet/corefx/pull/29769

[2018-05-21 14:25] stephentoub commented on #29806
Replaced by https://github.com/dotnet/corefx/issues/29817

[2018-05-21 14:25] #29806 closed

[2018-05-21 14:25] stephentoub commented on #29796
Replaced by https://github.com/dotnet/corefx/issues/29817

[2018-05-21 14:25] #29796 closed

[2018-05-21 14:49] stephentoub commented on #29768
The test program you're running is invalid: WebSocketCloseStatus.Empty is not a valid close status to actually send.  If you change both occurrences of WebSocketCloseStatus.Empty to instead be WebSocketCloseStatus.NormalClosure, everything runs fine.

[2018-05-21 14:52] mmitche commented on #29817
@stephentoub This is because there isn't deduplicaiton right now.  @markwilkie @jcagme We may need de-duplication.  RIght now this is pretty noisy.

[2018-05-21 14:54] mmitche commented on #29806
/cc @jcagme @markwilkie

[2018-05-21 14:56] #29791 closed

[2018-05-21 15:06] stephentoub commented on #29735
Sounds like a reasonable thing to do.  @ianhays?

[2018-05-21 15:32] nguerrera opened #29820 "File.GetLastWriteTimeUtc of non-existent file throws ArgumentOutRange on Ubuntu 16.04/18.04 in Asia/Manila timezone"
_From @jmacato on May 17, 2018 1:40_

The following exception is thrown on debug/release:
[code]
I was using an older version `dotnet-sdk-2.1.200` then purged that and installed 2.1 RC1. i also cleared /usr/share/dotnet & $HOME/.nuget prior to upgrade.

I encountered this bug while compiling an [Avalonia](https://github.com/AvaloniaUI/Avalonia) app. This also occurs  on the console app 'Hello Worl

[2018-05-21 15:32] nguerrera commented on #29820
_From @livarcocc on May 17, 2018 16:49_

@nguerrera

[2018-05-21 15:32] nguerrera commented on #29820
This looks like a bug in corefx. cc @JeremyKuhne @Petermarcu

We're getting `ArgumentOutOfRangeException` calling `File.GetLastWriteTimeUtc(string path)`.

[2018-05-21 15:32] nguerrera commented on #29820
@jmacato Which operating system are you using. Can you provide `dotnet --info` output?

[2018-05-21 15:32] nguerrera commented on #29820
**Workaround**: disable package assets cache in project file

[code]

NOTE: This will slow down incremental builds.

[2018-05-21 15:32] nguerrera commented on #29820
@jmacato Can you try this to (hopefully) nail down a simpler repro for corefx?

1. Switch back to your original timezone
2. Write a simple console app that uses `FIle.GetLastWriteTimeUtc`
3. Build the app using the DisablePackageAssetsCache workaround above.
4. Run the app

[2018-05-21 15:32] nguerrera commented on #29820
_From @JeremyKuhne on May 17, 2018 17:56_

@tarekgh can you posit how this might happen?

[2018-05-21 15:32] nguerrera commented on #29820
_From @tarekgh on May 17, 2018 19:4_

@jmacato could you please share you exact time zone settings on your machine? you mentioned UTC+8 but we are not able to repro that. what is the time zone name you have?

Also, it would be good if you can try running the code

[code]

on your machine when setting UTC+8 as you mentioned.

[2018-05-21 15:32] nguerrera commented on #29820
@tarekgh Do you agree from the stack that this is not an issue at our call site, but rather in the BCL? Should I move this to dotnet/coreclr or dotnet/corefx?

[2018-05-21 15:32] nguerrera commented on #29820
_From @tarekgh on May 17, 2018 22:16_

@nguerrera yes, this is most likely is an environmental issue or a corefx issue. I don't think this is SDK issue. @JeremyKuhne please advise if you disagree.

[2018-05-21 15:32] nguerrera commented on #29820
_From @jmacato on May 18, 2018 1:35_

@nguerrera Sorry i can't provide the guilty `dotnet --info` since i changed my sdk but i am using Ubuntu 18.04 LTS and it is newly reformatted machine. I installed RC1 after `apt purge`'ing `dotnet-sdk-2.1.200`. then after installation, the bug occurs. but when i set my timezone from `UTC+8:00` to `GMT` and back, the issue no longer occurs.

[2018-05-21 15:32] nguerrera commented on #29820
_From @jmacato on May 18, 2018 1:36_

@tarekgh  @nguerrera  I will try to repro using live usb of Ubuntu 18.04. and also, i also had this problem with 16.04, in all of my computers ever since 2.1 preview 2. I just got time now in filing this issue.

[2018-05-21 15:32] nguerrera commented on #29820
_From @jmacato on May 18, 2018 14:8_

Okay the bug returned when i deleted `bin` and `obj` folders, then doing `dotnet build`.
I've set the timezone via `sudo dpkg-reconfigure tzdata`.

[2018-05-21 15:32] nguerrera commented on #29820
_From @jmacato on May 18, 2018 14:11_

@nguerrera i tried that simple repro and it returned this:
`18/05/2018 11:04:40 AM` is the original timestamp
`18/05/2018 3:04:40 AM` is the repro's output

[2018-05-21 15:32] nguerrera commented on #29820
@JeremyKuhne, @tarekgh This means we are getting this on `File.GetLastWriteTimeUtc("any/File/That/Does/Not/Exist")`.

@jmacato Can you adjust your repro program to do that?

[2018-05-21 15:32] nguerrera commented on #29820
_From @jmacato on May 19, 2018 1:23_

![screenshot from 2018-05-19 09-21-40](https://user-images.githubusercontent.com/16554748/40263520-31146880-5b46-11e8-85a7-7a1141cc5c6e.png)
@nguerrera i've tried that and the exact exception showed up. That function should just tell that the file doesn't exist and not some cryptic exception message but that's just my 2cents.

[2018-05-21 15:39] karelz commented on #29804
It was moved to https://github.com/dotnet/csharplang/issues/1546

[2018-05-21 15:39] #29804 closed

[2018-05-21 15:47] #29812 closed

[2018-05-21 15:59] paulomorgado opened #29821 "Consider adding query string manipulation"
Web APIs are everywhere these days and there's still no way to manipulate them in the framework.

`System.Web` has one. `System.ServiceModel` has another. And pretty much every library that needs it has one.

It would be nice to have something that:

* Parses a query string into a `NameValueCollection`.
* Allows manipulating the values
* Renders que query string

[2018-05-21 16:06] jcagme commented on #29817
The issue for 20180519.01 was filed when it was the most current build when there is a new one we work on the new one and if by any chance there were failures on the previous we would only create a new comment on the issue if it exists, if not we don't create a new one.

[2018-05-21 16:09] stephentoub commented on #29817
Right.

Right.

So once we have https://github.com/dotnet/corefx/issues/29806, why do we need https://github.com/dotnet/corefx/issues/29796?

[2018-05-21 16:11] ianhays commented on #29735
Totally reasonable, and not the first time I've seen this request either. I can't find the other one with a quick search, though.

I can't think of any real circumstances in which removing the nocompression entry's deflate header would cause issues. For testing we should try a zip produced by the new codeset with windows' zip library, unix `unzip`, and 7zip. Also should probably add a unit test of

[2018-05-21 16:19] markwilkie commented on #29817
@stephentoub- I think the situation is that we're not (yet) sharing an old issue with a new build.  In other words, one issue per build as long as a break (any break) is there.

This idea is that we keep our builds clean.  And - if we see we need to change this, we can look to do this.  Seems the noise is mounting...

[2018-05-21 16:20] stephentoub commented on #29817
Right.  That's the issue :)  My latest was response was for @jcagme's comment was that this was by design / desirable, and I don't understand why.

[2018-05-21 16:20] weshaggard commented on #29811
@danmosemsft is correct that these are not .NET Standard APIs and are only available in .NET Core.

@danmosemsft these APIs didn't exist in .NET Core when we created .NET Standard 2.0 which is why they weren't included, we will consider adding them to a future version of .NET Standard.

[2018-05-21 16:22] stephentoub commented on #29817
If it's just a matter of we haven't addressed it yet, that's fine :)  But, yeah, it's noisy.  It's also not clear what action is needed in response.  What is a dev working on corefx supposed to do in response to this issue getting opened?  Which dev?

[2018-05-21 16:34] danmosemsft commented on #29811
@nd-srogers I suggest you close this in favor of https://github.com/dotnet/standard/issues/356. We will rev .NET Standard but not imminently so I suggest workarounds.

[2018-05-21 16:35] weshaggard commented on #29585
@tarekgh it looks like you own this package is it this something you can do and drive?

[2018-05-21 16:38] #28755 closed

[2018-05-21 16:49] danmosemsft commented on #29817
@markwilkie for this specific error, there is no details in the log so it's not actionable for us -- instead @mmitche was looking at it I believe.

Maybe we could disable the auto-opening until we have the tool fixed to reuse an issue? We can't afford to have new issues opened so much.

[2018-05-21 16:52] davidsh commented on #29318
We have confirmed the issue does not occur on .NET 2.1 RC and we are investigating additional supported product versions.

Please try out .NET Core 2.1 RC.
See: https://blogs.msdn.microsoft.com/dotnet/2018/05/07/announcing-net-core-2-1-rc-1/

[2018-05-21 16:52] #29318 closed

[2018-05-21 16:55] markwilkie commented on #29817
@stephentoub - yes, new issue per build is by (current) design.  However, I've asked @jcagme to look at the historical numbers and we'll likely look to fix.

@danmosemsft - we certainly can turn things off if the noise is untenable.  More soon...

[2018-05-21 16:56] jcagme commented on #29817
Done...

[2018-05-21 17:15] tarekgh commented on #29585
@weshaggard could you please advise how we can do that? I am not familiar with that but I can follow up if I have some guidance.

[2018-05-21 17:20] dmitriyse opened #29823 "Add Complete and TryComplete methods to the System.Threading.Channels.ChannelReader"
The problem:
When consuming processing block has been stopped(due some error for example) and does not pulling ChannelReader the producing block does not know about that and still produces items and writes them into the ChannelWriter.

Producer ---> ChannelWriter==>Channel==>ChannelReader--X-->Consumer

[code]

The solution:
Add symmetric methods like ChannelWriter.Complete and ChannelWriter.TryCo

[2018-05-21 17:25] jkotas opened #29824 "System.Net.NetworkInformation.Ping - Reports TTL of 128 when ran on linux"
_From @RCAlfonso on May 21, 2018 15:47_

System.Net.NetworkInformation.Ping - Reports TTL of 128 when ran on linux but reports correctly when same code is ran in windows.

Environment: Centos 7
.Net Core version : 2.0.6
Build: 74b1c7038...

_Copied from original issue: dotnet/coreclr#18070_

[2018-05-21 17:30] tarekgh commented on #29799
@SomeAnon42 can you provide a simple project repro?

[2018-05-21 17:41] KrzysztofCwalina commented on #24607
I don't think it's a mistake. We used to have overload on these types that let the formatter/parser control "culture" of the input/output. I hope that we will add these overlods at some point. Once the overloads are in, this types will parse/write data that is truly UTF8, i.e. outside of the ASCII range.

See the following test: https://github.com/dotnet/corefxlab/blob/d197075cf865def8da82eabecab1

[2018-05-21 17:43] JeremyKuhne commented on #29782
Yep, I should have this up today.

[2018-05-21 18:00] krwq opened #29825 "Variation of EnvelopedCmsTests.Tests.DecryptTests.Decrypt_SignedWithinEnveloped fails cross platform"
This is a variation of EnvelopedCmsTests.Tests.DecryptTests.Decrypt_SignedWithinEnveloped test which checks roundtripping between Windows 10 and Ubuntu 16.04 (very likely any Windows vs any non-Windows).

Full repro in point 2, point 1 shows how was the doc generated in case it is useful. Guessing that some of the encryption parameters might not be the same (i.e. different default IV) but requires

[2018-05-21 18:12] danmosemsft commented on #29669
@joperezr is going to confirm that Curses avoids this problem and if so try to figure out how. The goal being to see whether there is something we can do here that is small enough to do in servicing.

@jianyunt can you confirm that Powershell 6.0 GA already shipped successfully with this bug present - is it somehow worse in Powershell Azure CloudShell - why does your team consider it ship blocking

[2018-05-21 18:44] bmolnar2 opened #29827 "double.Parse throws FormatException on valid string though Span<T>"
I was tried to do a parse as below:
`double.Parse("12.5".AsSpan())`

That one works on string, and I expected to work on string through Span, but getting this exception:

I'm on the following version:

[2018-05-21 18:49] marek-safar opened #29828 "System.Buffers package needs _._ placeholders for Xamarin"
We need it to use our shared version of System.Buffers.ArrayPool<T>

 System.Threading.Tasks.Extensions package need a placeholder for Xamrin too. the linked PR has the change for 2.2 which can be ported to 2.1 too.

[2018-05-21 19:06] davidsh commented on #29768
The exception being returned by the client-side API also concurs with the use of an invalid websocket close frame status:

Closing this issue since it appears to be a test bug.

[2018-05-21 19:06] #29768 closed

[2018-05-21 19:21] Tornhoof commented on #29827
Try with RC1, this might be https://github.com/dotnet/coreclr/issues/17553

[2018-05-21 19:28] krwq commented on #29327
@morganbr @bartonjs added RecipientInfo.IsMatch to the proposal so that user can check if their certificate matches any of the recipients. We might also want to consider:

[code]

but I'm currently not convinced it is that useful from user perspective.

[2018-05-21 19:28] tarekgh commented on #29585
I talked offline to @joperezr and he described how I can do that. I'll try to submit a PR for that.

[2018-05-21 19:32] weshaggard commented on #29585
It will be a PR similar to https://github.com/dotnet/corefx/commit/6813af03e761741b57d0961e4b71df429e6e7c09#diff-f464c49eb9b66f6721df0d4e8ad4c14f

[2018-05-21 19:47] bmolnar2 commented on #29827
Yep, working in RC1, thank you.

[2018-05-21 19:47] #29827 closed

[2018-05-21 20:21] davidsh commented on #18851
Since .NET Core behavior seems preferred, we can probably close this issue at this point.

[2018-05-21 20:21] #18851 closed

[2018-05-21 20:41] SomeAnon42 commented on #29799
I can no longer reproduce it, not even in the same project. Not sure what this was about.
There was nothing on the call stack, since it's a nuget package (though maybe I just had to uncheck "Enable Just My Code"?). No info regarding which type it couldn't load either, I guess mono just wouldn't tell you that.

[2018-05-21 20:44] joperezr commented on #29744
cc: @weshaggard

[2018-05-21 20:47] tarekgh commented on #29799
ok, I am going to close the issue, and you may reopen again if run into the problem one more time. usually providing some repro is required to be able to investigate.

[2018-05-21 20:47] #29799 closed

[2018-05-21 20:49] karelz commented on #29824
Linux has 2 implementations - using raw sockets, or via ping utility:
We should be able to parse the TTL from IP header via raw sockets here:
https://github.com/dotnet/corefx/blob/7ce4889d1de78d251d7e536ee174ff8640fa8583/src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Unix.cs#L107-L131

If we use ping utility, then we can't get to the information:
https://github.com/dotnet/corefx/blob/7

[2018-05-21 20:58] karelz commented on #29824
It is covered in #9350 and #28934, closing

[2018-05-21 20:58] #29824 closed

[2018-05-21 21:03] tarekgh commented on #29820
Looking at Asia/Manila zone info and I am seeing:

[code]

in early time is had a -15:56:00 time offset from UTC which is very weird. DateTimeOffset doesn't expect the UTC offsets can exceed 10 hours.

@JeremyKuhne either we need to relax DateTimeOffset to allow more than 14 hours offset. Or we fix the IO code to not get the file time using DateTimeOffset.FromFileTime(0) which will end up to the y

[2018-05-21 21:28] JeremyKuhne commented on #29820
I'd think that we would want to relax DateTimeOffset. While arguable whether or not we should match time behavior for missing file times across platforms, I would expect that creating old offsets should be supported (even if they are unusual).

[2018-05-21 21:32] JeremyKuhne commented on #29820
And perhaps we can relax it for old dates only?

[2018-05-21 21:34] BrennanConroy opened #29834 "If WebSocket buffer splits message in the middle of UTF8 character error is thrown"
If the payload buffer is too small for the entire message then it will split the message, and if the split happens to be on a multi-byte character then `TryValidateUtf8` will fail because `header.Fin` is true.

https://github.com/dotnet/corefx/blob/32845d2fbdbceacfbeb08a9452b776d522b5b16f/src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs#L733

Small standalone Console App repro below:
[code

[2018-05-21 21:39] stephentoub commented on #29834
Thanks.  This code came from here:
https://github.com/dotnet/corefx/blob/32845d2fbdbceacfbeb08a9452b776d522b5b16f/src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs#L1334
https://github.com/aspnet/WebSockets/blob/aa63e27fce2e9202698053620679a9a1059b501e/src/Microsoft.AspNetCore.WebSockets.Protocol/Utilities.cs#L75

We'd welcome a PR to fix it.

[2018-05-21 21:53] bartonjs commented on #29327
@krwq Thinking about it more, I think I'd put `IsMatch` on `SubjectIdentifier` so that it can be used for SignerInfo as well (not necessarily a scenario, but since SubjectIdentifier is what describes the match criteria it seems to make more sense).

Which I think means there's

[code]

Seeing some of the implementation over your shoulder I'm not sure if `Decrypt(X509Certificate2 certificate, Asymm

[2018-05-21 22:09] BrennanConroy commented on #29834
The fix would be to pass `header.Fin && header.PayloadLength == 0` into `TryValidateUtf8` instead of passing `header.Fin`
https://github.com/dotnet/corefx/blob/32845d2fbdbceacfbeb08a9452b776d522b5b16f/src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs#L733

[2018-05-21 22:09] krwq commented on #29327
@bartonjs SubjectIdentifier.IsMatch could work but then it would complicate a logic when using `SubjectIdentifierType.IssuerAndSerialNumber` which suggest we would have to have both `RecipientInfo.IsMatch and SubjectIdentifier`.

Decrypt vs TryDecrypt - I'd vote for Decrypt and only leave overload with RecipientInfo.

[2018-05-21 22:10] davidfowl commented on #29823
Yea, I brought this up in early prototypes and it does make sense to add it (if it can be added in a non breaking way, the way you propose is breaking). FWIW, System.IO.Pipelines.PipeReader and PipeWriter has the exact same API for this reason.

cc @stephentoub

[2018-05-21 22:14] stephentoub commented on #29834
Sounds like a good start to a PR you could submit ;-)

[2018-05-21 22:16] bartonjs commented on #29327
How so?  It looks like we use the same managed implementation for both Windows and Unix, and it just uses the `SubjectIdentifier` value.  But maybe I'm missing something.

[2018-05-21 22:17] davidsh commented on #22053
Latest Windows 10 OS now has partial send support for the WinRT WebSocket APIs. But .NET Core isn't yet using that in the current WebSockets.Client WinRTWebSocket class.

However, the new plan is to switch away from using the WinRT WebSocket APIs and instead use the managed WebSocket implementation for all platforms (including UWP).  See: #29644

So, closing this issue since we're tracking #29644.

[2018-05-21 22:17] #22053 closed

[2018-05-21 22:29] wokket commented on #8807
Another Vote for AccessToken on a .Net Core SqlConnection.  MSI from App Service to Sql Server seems like such a simple no-brainer of a security improvment....

[2018-05-21 22:29] krwq commented on #29327
@bartonjs ahh you're right I've read SubjectKeyIdentifier but that's actually not even a .NET type

[2018-05-21 22:41] jianyunt commented on #29669
Yes. PowerShell 6.0 GA already shipped.  I think our Azure CloudShell is going to put PowerShell core on Linux in a real production environment. We are possibly the first customer of PS 6.0 on Linux.  Both Azure and PowerShell users are going to use it for sure.   I don't know other customer scenarios of PowerShell 6.0 on Linux. @joeyaiello?

[2018-05-21 22:46] BrennanConroy commented on #29834
Are there tests for `ManagedWebSocket`?

[2018-05-21 22:57] weshaggard commented on #29744
What about our xunit extensions library and netcore runner?

[2018-05-21 23:00] joperezr commented on #29744
The netcore runner is up there in the table, and it is flagged as "port to arcade". The netcore extensions are not a tool per se, but will definitely need to get ported in order for the netcore runner to compile, which is why I kind of skipped that from the table.

[2018-05-21 23:04] weshaggard commented on #29744
Sorry I missed the netcore runner when I looked I got too hung up on the uap runners. We can definitely include libraries a dependency of a tool or task.

[2018-05-21 23:08] joperezr commented on #28711
quick question for you @pantonis are you using `<PackageReference` or packages.config? In case of the latter, does the problem repro when moving to PackageReference instead?

[2018-05-21 23:30] #29811 closed

[2018-05-21 23:30] nd-srogers commented on #29811
Thanks all, I'll follow https://github.com/dotnet/standard/issues/356 for updates.

[2018-05-21 23:44] stephentoub commented on #29834
Thanks for asking.

ManagedWebSocket up until very recently was just the implementation used behind ClientWebSocket, so most of our tests are just the ClientWebSocket tests:
https://github.com/dotnet/corefx/blob/master/src/System.Net.WebSockets.Client/tests/

When we exposed WebSocket.CreateFromStream as a thin wrapper around ManagedWebSocket's ctor, we also added a few tests related to that:
http

[2018-05-21 23:49] stephentoub commented on #29823
I understand the use case, but I'm still not convinced it's desirable.  This effectively adds a channel in the opposite direction, at which point, why not just have a channel for the opposite direction?  I realize it's not quite that, but it seems like a slippery slope towards that, and I really don't want to see these things become bidirectional in that manner.

[2018-05-22 00:10] karelz commented on #11967
Thanks for your help! Assigned to you ...

[2018-05-22 00:11] karelz commented on #11979
We should not have this problem with SocketsHttpHandler.

[2018-05-22 00:11] #11979 closed

[2018-05-22 00:59] tarekgh commented on #29585
https://github.com/dotnet/corefx/issues/29828

[2018-05-22 01:08] #19225 closed

[2018-05-22 01:08] #28437 closed

[2018-05-22 01:09] #9296 closed

[2018-05-22 01:37] caesar1995 commented on #29757
https://github.com/dotnet/buildtools/pull/2040 is merged. Will submit a PR to disable the HttpListener tests on Nano soon.

[2018-05-22 03:02] nabeelomer commented on #29323
Hello, I'd like to work on this.

[2018-05-22 03:29] danmosemsft commented on #29323
@nabeelomer go for it! @karelz can you please add so we can assign.

[2018-05-22 05:19] wfurt opened #29841 "CoreFX native PAL build break on FreeBSD due to "error: mutex 'lock' is not held on every path""
Attempt to build native parts on FreeBSD no longer works. This seems to be related to #26291

by quick looking at the code, there seems to be unbalanced pthread_mutex_lock()
Following change fixes the issue but I'm not sure if that was the intention:

[code]

cc: @tmds @janvorli @mateusrodrigues

[2018-05-22 05:48] ligengatms commented on #9058
hi, is this work still ongoing? do you have any plan when it will be supported?

[2018-05-22 05:54] danmosemsft commented on #9058
Curious what you need it for? Is this new code or porting existing code? What behavior would you expect in Linux if there is no OS support, throw or no option?

[2018-05-22 06:28] wfurt commented on #29841
either way is fine. And it is the tool - not me :)
I did not try to run FreeBSD build for a while.

[2018-05-22 07:18] xaviergxf commented on #29707
@jeffschwMSFT can you advice how should i procede? Should i remove my custom AssemblyResolve handler and let it use the default .net? How can i add a another path for the assembly probing in both .net frameworks(core/classic)?

[2018-05-22 07:37] marek-safar opened #29842 "Missing resources for shared sources"
The sources located under src/Common/src/CoreLib can have references to SR type but that the resources used to generate it are not synchronized.

One example is `src/Common/src/CoreLib/System/HashCode.cs` which uses `SR.HashCode_HashCodeNotSupported` but `HashCode_HashCodeNotSupported` is not available anywhere in the repo

[2018-05-22 08:27] janvorli commented on #29841
I've noticed that in the past too - clang on FreeBSD was reporting issues that the same version of clang on Linux was not. Not sure what causes that, maybe default state of some compiler options is different.

[2018-05-22 08:37] roederja2 commented on #4198
Just talked to our DBA and apparently we are also using SPNs at the service account level.

[2018-05-22 08:54] panost commented on #24607
@KrzysztofCwalina Your answer made me re-evaluate the usefulness of this approach.

Has anyone did a benchmark using those methods, decoding/encoding real-world data, for example a CSV or Json files ?
I mean files that you do have an integer or a date here and there, but the vast majority of data is textual.

My concern is that using a char array buffer (like TextReader/Writer), we do **one** enco

[2018-05-22 11:05] matthid opened #29844 "DotNet SDK doesn't depend on all dependencies?"
cc @akoeplinger

from https://github.com/travis-ci/travis-ci/issues/9644

When updating on travis from latest stable to `2.1.300-rc1-008673`. I can publish my application but it fails at runtime with:

[code]

Installing libunwind fixes the problem. Does the sdk installer no longer depend on libunwind?

[2018-05-22 11:15] mananchoksi007 opened #38181 ".Net Core 2.0 not able to post xml content to WCF service"
Receives Below Error

**<?xml version="1.0" encoding="UTF-8"?><errorResponse xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="IndentifierServicexml.xsd"><returnResults><returnCode>0202</returnCode><returnMessage>Unable to unmarshal XML stream.  Please verify and resubmit.::Premature end of file.</returnMessage><returnCodeDetail>Invalid input</returnCodeDetail></

[2018-05-22 11:51] MarcoRossignoli commented on #26569
similar issue try:

[code]

[2018-05-22 12:29] voinokin commented on #22940
Minor API suggestion from my side:

Add `Count` property to all vector VTs which would be similar to `System.Numerics.Vector.Count`, albeit would give the static value based solely on `Vector64/128/256/etc<T>`'s generic type argument.

The implementation could be something that looks like `Unsafe.SizeOf<Vector128<T>>() / Unsafe.SizeOf<T>()`.

The reason for this proposal is - when the generic type

[2018-05-22 13:03] stephentoub commented on #29841
Reopening to track 2.1 port of fix.

[2018-05-22 13:12] bazzilic commented on #22401
When do you think this will reach the big .NET Framework?

[2018-05-22 13:57] marek-safar opened #29847 "Revert Xamarin placeholders for System.Memory package"
Please revert https://github.com/dotnet/corefx/pull/28034 change, we couldn't get our bits working properly on time for dev15-8 release.

@weshaggard this needs to happen for 4.5 version of System.Memory which I guess is 2.1 release. The fix can stay in master as we'll need it for future versions.

Note: that'll require a better way to coordinate the supported nuget package versions for Xamarin.

[2018-05-22 15:04] KrzysztofCwalina commented on #24607
Utf8Parser does not do any encoding/decoding, i.e. it does not call Encoding.GetChars. It natively knows which UTF8 bytes correspond to which digit (when it parses numbers).

[2018-05-22 15:20] jeffschwMSFT commented on #29707
I would recommend using the one that comes on the box, will that work for your scenario?  In .NET Framework the best way to expand the probing locations is through an AssemblyResolve event.

[2018-05-22 15:32] #29397 closed

[2018-05-22 15:32] #29410 closed

[2018-05-22 15:39] Kaktusbot opened #29848 "Inefficient array clearing of DefaultArrayPool.Return()"
I was benchmarking things and found out that DefaultArrayPool clearing of array is extremely inefficient compared to simple ```new Span(array).Clear()```
https://github.com/dotnet/corefx/blob/8f968b9e79c5721d78cc88e46fe57457fe9d490d/src/System.Buffers/src/System/Buffers/DefaultArrayPool.cs#L142-L145

My benchmark code
[code]
Here is result
[code]

I don't really understand about how GC works and m

[2018-05-22 15:42] karelz commented on #29844
@janvorli can you please help route it?

[2018-05-22 15:43] karelz commented on #29842
@danmosemsft should we include it in shared source MQ work?

[2018-05-22 15:44] stephentoub commented on #29848
What results do you get if you use `object` instead of `byte`?

[2018-05-22 15:45] stephentoub commented on #29848
@ahsonkhan, @jkotas, https://github.com/dotnet/coreclr/pull/9598 optimized Span.Clear.  Can similar optimizations be applied to Array.Clear, at least in some situations?

[2018-05-22 16:06] matthid commented on #29844
Ok I understand the issue. No we have not upgraded to target netcore2.1.

Is it recommended to update SDK (even without upgrading the application itself)?
I guess the answer is yes (while there is probably no reason to stay on 2.0), that might introduce quite some "unexpectedness" when upgrading.

"area-Meta" fits perfectly because the question is: If I install the sdk via packages and publish an

[2018-05-22 16:15] nabeelomer commented on #29323
@karelz Done and thanks for the tip.

[2018-05-22 16:20] janvorli commented on #29844
That's a good point. It seems to me that since the 2.1 SDK can target both 2.0 and 2.1 runtimes, its package should still have the dependency on libunwind (and libuuid) or we should clearly inform the user that in case the app published for 2.0 is to be run locally, the 2.0 dependencies need to be installed too.
But I am not an expert in our SDK packaging, so I'd rather let someone more knowledgab

[2018-05-22 16:32] tarekgh commented on #29842
@marek-safar this is expected. there are some files exist under ```src/Common/src/CoreLib``` which is not used at all in corefx and only used in coreclr. coreclr should have resources for these. also, Also, if we are missing any resources we'll get a compilation errors.

closing this issue and let me know if you have any specific broken issue with the resources.

[2018-05-22 16:34] #29844 closed

[2018-05-22 16:34] tarekgh commented on #29844
Issue moved to [dotnet/sdk #2262](https://github.com/dotnet/sdk/issues/2262) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-22 16:35] tarekgh commented on #29844
I moved this issue to the SDK repo as it looks the issue is the SDK packaging now.

[2018-05-22 16:38] karelz commented on #12537
@vivaladan either you implement that feature, or we make it part of the BCL/platform (while restricting it to specific config file names / app models, burning in policy, removing flexibility, etc.).
Maybe it could be a common package that people use? (MailSettingsReader)

[2018-05-22 16:41] nabeelomer commented on #29323
I have a question, supposing I've built the corefx using the `build.sh` script, how do I run a binary that I built with the version of .NET core installed on my computer such that it uses the libraries that I built?

[2018-05-22 16:44] leecow commented on #29314
fwlink updated. We really need to determine a meaningful and sustainable way to generate change info for packages updated each release.

[2018-05-22 16:44] #29314 closed

[2018-05-22 16:45] karelz commented on #29323
See dogfooding instructions: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2018-05-22 16:51] panost commented on #24607
@KrzysztofCwalina That will be true, if you have to parse a file that contains numbers only (or any other datatype that Utf8Parser supports).

But that's rarely the case. You have to deal with **text** fields/regions also and you have to decode each of them using **Encoding.GetChars** (or probably **Decoder.Convert** since you have to support streaming).

How many more calls? It depends from the f

[2018-05-22 17:06] tarekgh commented on #29842
At that time you'll need to include the needed resource in your project. Yes, I understand this is a resource duplication with the corelib but we cannot create a dependency from any library on corelib resources. we already do that on all libraries that have some shared code between corelib and the library project.

[2018-05-22 17:06] pjanotti commented on #29323
@nabeelomer keep in mind that adding a test for macOS that covers the issue maybe easier than dogfooding (we are going to ask about tests anyway :smile:). Thanks for picking this up.

[2018-05-22 17:45] terrajobst commented on #29770
Looks good, only change is that we think we should collapse the two types:

[code]

* Potentially we can add `CurrentSpan` to make it cheaper to get the span
* We could also in the future expose a `CurrentSpanReadWrite` if we ever need a mutating version.

[2018-05-22 17:51] danmosemsft commented on #29842
Hmm, I didn't realize (or possibly forgot) that you were consuming shared mscorlib sources from here. I guess that makes sense if you don't want to submodule CoreCLR. We hvae an issue https://github.com/dotnet/coreclr/issues/10234 to track splitting the resx but nobody's working on it. We would possibly want to have the build merge the resx's rather than have two resource streams and need to updat

[2018-05-22 17:51] weshaggard commented on #29847
@marek-safar if we do that change will the netstandard asset in the package work correctly on Xamarin? Hopefully it will but I think it is worth validating before we do this change.

[2018-05-22 18:01] terrajobst commented on #29623
* Looks good but we should shorten the name.
* Are there any other thresholds that we need to expose?

[code]

[2018-05-22 18:09] danmosemsft commented on #29770
As an aside, there was observation in the room that it might be time to make StringBuilder doubly linked. This would make the implementation of ChunkEnumerator simpler and make it possible to offer IEnumerable<char>. (Indexer would not be any faster though)

[2018-05-22 18:12] terrajobst commented on #29327
Looks good, after minor name change:

[code]

[2018-05-22 18:13] danmosemsft commented on #29595
@kouvel if you decide to request backport, please mark this with the 2.1.1 consider label

[2018-05-22 18:15] kouvel commented on #29623
Thanks, that name looks good to me. I don't think we need to expose anything else at the moment.

[2018-05-22 18:19] terrajobst commented on #25449
Looks "good" :-)

[2018-05-22 18:22] joperezr commented on #29585
re-opening to track port to release branch.

[2018-05-22 18:29] joperezr commented on #29585
Sorry, I didn't see that we have another issue that is already tracking the port of this on 2.1 along with other libraries (like SYstem.Buffers) so I'll close this one as a dupe to #29828

[2018-05-22 18:33] terrajobst commented on #29243
Seems reasonable.

[2018-05-22 18:40] terrajobst commented on #25040
Looks good.

Can we double check what happens if options are no-ops or are unsupported. Do we throw? If so, should the name of the option indicate that things might be unsupported or are no-ops?

[2018-05-22 18:42] terrajobst commented on #26975
Looks good but for consistency we should also implement `IReadOnlyCollection<>`.

[2018-05-22 18:47] karelz commented on #26975
Proposal updated.
Should be fairly simple to do. Adding new API into ref (netcore22) will be the trickiest part.

[2018-05-22 18:48] karelz commented on #25040
Next step: Validate other options.

The change should be fairly straightforward. Adding new API is the trickiest part.

[2018-05-22 18:49] karelz commented on #29243
This should be simple to implement. Adding new 2.2-only API (into ref) will be the trickiest part.

[2018-05-22 18:56] kasper3 commented on #29243
@karelz, isn't `Brotli = 4` also in the same (2.2-only) boat?

[2018-05-22 18:59] terrajobst commented on #14334
Let's start doing this in .NET Core. This doesn't help the RefEmit case for .NET Standard, but we gonna start somewhere :-)

[2018-05-22 19:04] davidsh commented on #20270
Nano Server has become "Nano Container" and it no longer supports httpapi.dll (http.sys component).

Long term, we are looking into being able to support HttpListener class on Nano using managed implementation.  For UWP, managed implementation is used for HttpListener.

For now, though, this issue will be closed.

[2018-05-22 19:04] #20270 closed

[2018-05-22 19:19] kasper3 commented on #29848
could that be due to `nuint length = (uint)_length` cast in https://github.com/dotnet/coreclr/blob/32ab54d345a4ab2eb572fe3ba061b6e0d1b31088/src/System.Private.CoreLib/shared/System/Span.Fast.cs#L195-L231?

[2018-05-22 19:22] karelz commented on #29243
Yes it is, so it will be even simpler than I expected. Check PR #29729.

[2018-05-22 19:37] #8538 closed

[2018-05-22 19:39] svick commented on #28046
@terrajobst How is that better than a method like `GetStructEnumerable()` that returns a `struct` whose `GetEnumerator()` returns the `struct` enumerable (which you called "heavy-handed" [before](https://github.com/dotnet/corefx/issues/28046#issuecomment-384019937))?

With `GetStructEnumerable`:

* You don't need to change the language (or the compiler).
* The usage stays the same as with `GetEnum

[2018-05-22 19:40] davidsh commented on #23681
I repro'd the problem.  Yes, it does get the certificate on Windows.  But I repro'd the "null" certificate on Fedora 26 using .NET Core 2.1 RC1.

I set up a Fedora 26 docker container using the follow "script":

[code]

Then used "dotnet run" on the sample code above.

[2018-05-22 19:41] davidsh commented on #23681
cc: @wfurt @karelz

We should look into this since it looks like an SslStream bug of some sort.

[2018-05-22 20:02] davidsh commented on #23291
This test has been running successfully now since 4/23.
![image](https://user-images.githubusercontent.com/7684835/40387062-587ce7e0-5dc0-11e8-9f83-2d42e53bf427.png)

[2018-05-22 20:02] jesslilly opened #29854 "HttpClient 403 Error in .NET Core 2.1 rc1"
Hello.  I was using some HttpClient code in an application with ASP.NET MVC Core 2.0 and it was working fine.  Upon upgrading to .NET Core 2.1 rc1, I am now getting 403 errors with this code.

An interesting thing happens.  When I debug past client.SendAsync, the request.Header.Authorization becomes null.

<script src="https://gist.github.com/jesslilly/ab303b4168880c3236aa9fe707494dd9.js"></script

[2018-05-22 20:03] #23291 closed

[2018-05-22 20:11] KrzysztofCwalina commented on #24607
Yes, it depends on many things, but we are writing a JSON parser using these APIs and the parser is significantly faster than other parsers that pre-transdode.

[2018-05-22 20:39] danmosemsft commented on #29753
Ended up calling this by design
https://github.com/dotnet/corefx/pull/29789/files#diff-3b9989a6be55cdb6f928d6ca33ef86f5

[2018-05-22 20:39] #29753 closed

[2018-05-22 20:43] MatthewLymer commented on #18000
Do you know if it's required to have the runtime installed on the machine or to build your solution against core 2.1?

Reason I ask is I was able to get SSL's SNI working on Linux by just installing the 2.1 runtime while still targeting netcoreapp2.0, I'm wondering if this is going to be the same for this issue too.

[2018-05-22 20:46] omariom commented on #29848
Adding typed overloads of Array.Clear would cure most of the  call sites without much effort.

[2018-05-22 20:51] davidsh commented on #18000
You must install .NET Core 2.1.  And your app must target 2.1 as well.  Apps that currently target 2.0 don't "roll forward" to 2.1.  At most, they will use the latest 2.0.x installed (i.e. servicing version).

[2018-05-22 20:52] morganbr commented on #29258
@terrajobst , the point of HasJit is that some features, like compiled LINQ expressions may work on AoT, but they're slow. That might eventually be true of DynamicMethod/Assemblybuilder as well. In those cases, IsSupported would be true, but a library like ASP.NET or Json.NET would want to find out whether they make code faster than reflection (because there's a JIT) or slower (because they're int

[2018-05-22 21:16] JamesNK commented on #29258
I wanted to use a flag like this to test whether `System.Linq.Expressions` would get compiled or interpreted after calling `Compile()`. This flag isn't just specific to `DynamicMethod` so I don't think it should be placed on `DynamicMethod.`.

[2018-05-22 21:26] jkotas commented on #29258
The proposed API is for inclusion in the .NET Core platform. If somebody wants to build a package with API that does best effort approximation of this API for existing .NET Standard 2.0 platforms, that's fine but it should be different assembly and package name that does not unify with the .NET Core platform one.

[2018-05-22 21:29] karelz commented on #18000
Actually technically, 2.0-targetting apps will attempt to run on 2.1.x if 2.0.x is not present on the machine. It is fallback roll-forward feature of the host. It may not work in all cases (e.g. ASP.NET Core apps are not supported in that scenario).
That said, I would recommend to retarget to 2.1 if you can.

[2018-05-22 21:30] morganbr commented on #29258
I'd rather have HasJit in .NET Standard, particularly since it's relevant in UAP. AssemblyBuilder/DynamicMethod are different and not part of this proposal.

[2018-05-22 21:44] stephentoub commented on #29755
The tests have been disabled.  The necessary components aren't in Nano Container for these to work, so I'm just going to close this issue as by design.

[2018-05-22 21:44] #29755 closed

[2018-05-22 21:50] safern opened #29858 "Investigate failing System.Drawing.Common tests in RS4"
[code]

cc: @danmosemsft

[2018-05-22 21:50] davidsh commented on #9075
In that case, I will close this issue.

[2018-05-22 21:50] #9075 closed

[2018-05-22 21:50] jkotas commented on #29258
If we agree on a reasonable API, I am sure it will be included in .NET Standard 3.0. .NET Standard 2.0 is done. There is no way to add new APIs to it.

[2018-05-22 21:56] morganbr commented on #29258
Agreed. We'll just need to bring it to UAP as well as .NET Core (and perhaps some Xamarin flavors too).

[2018-05-22 21:58] AfsanehR commented on #29181
@jakrivan  ok thanks for confirming. I was also using a local server which I did not see this issue happening. Could you confirm at which point of enumerating data you see the delays happening?

[2018-05-22 22:21] davidfowl commented on #29258
So is the api ready for review?

[2018-05-22 22:31] #29757 closed

[2018-05-22 22:51] vancem commented on #29770
I have tests for this code (and they pass for me locally) but they go in the CoreFX repo and I need to check in this implementation and wait for a new build of CoreCLR before I can complete that.

So I would like to check this in.   If anyone has concerns please raise them i the next 1/2 hour or so, as I would like to check in before the nightly build kicks off.

[2018-05-22 23:01] danmosemsft commented on #29770
If the PR is green and CoreFX tests pass locally then you can certainly merge.

[2018-05-23 00:30] jaredpar commented on #28046
I'm definitely comfortable with the idea of allowing `foreach` on `IEnumerator<T>`. It's a language change though hence has to go through LDM. Happy to represent the issue though.

[2018-05-23 01:36] ahsonkhan opened #29861 "System.Numerics.Vectors partialfacades error: Invalid local constant signature: 'epsilon'"
1. Run `build.cmd` on a clean clone of the repo.
2. Observe partialfacade errors.

This issue might have been exposed by recent buildtools changes, specifically https://github.com/dotnet/buildtools/pull/2038, but I am not sure.

Looking at the list of recent [commits to master](https://github.com/dotnet/corefx/commits/master), the corefx repo builds successfully from yesterday's last commit, prior

[2018-05-23 01:47] nabeelomer commented on #29323
@pjanotti Where will the test for this particular feature go? I was thinking https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/tests/Enumeration/AttributeTests.netcoreapp.cs#L117, am I right?

[2018-05-23 03:16] Sunny-pu opened #29862 "Test System.Net.Sockets.Tests.SendReceiveMemoryNativeTask.SendRecvPollSync_TcpListener_Socket(listenAt: ::1, pollBeforeOperation: True) failed in CI."
Test: System.Net.Sockets.Tests.SendReceiveMemoryNativeTask.SendRecvPollSync_TcpListener_Socket(listenAt: ::1, pollBeforeOperation: True) has failed.

MESSAGE:
Assert.Equal() Failure\nExpected: 123456\nActual: 123455
+++++++++++++++++++
STACK TRACE:
at System.Net.Sockets.Tests.SendReceive`1.SendRecvPollSync_TcpListener_Socket(IPAddress listenAt, Boolean pollBeforeOperation) in /mnt/j/workspace/dotn

[2018-05-23 03:44] davidsh commented on #26078
There doesn't seem to be anything actionable that needs fixing in .NET Core 2.1+.  Closing.

[2018-05-23 03:44] #26078 closed

[2018-05-23 03:55] davidsh commented on #25655
Thank you for submitting this suggestion.  After review by the .NET design team and the community of .NET developers including comments here, the feedback is that this type of property/data is not appropriate for the NetworkCredential class.  It would be better suited to a data type outside of this class where that data type uses the NetworkCredential or ICredentials interface.

[2018-05-23 03:55] #25655 closed

[2018-05-23 04:28] danmosemsft commented on #29861
Yes seems to be from that change

[2018-05-23 05:15] danmosemsft opened #29863 "Add UAP tests to CI"
Apparently few people run them locally as they keep regressing. They aren't that slow -- seems like we could have them in CI now. @safern @joperezr do you know why we don't? Maybe CI didn't have RS3 then?

They are close to 100% passing now.

[2018-05-23 06:02] danmosemsft opened #29865 "TestSetEnvironmentOnChildProcess fails on UAP"
I'm adding this test, but it fails on UAP. It appears that CreateProcess in the UAP sandbox does not pass environment variables specified in lpEnvironment.
[code]

[2018-05-23 06:05] danmosemsft opened #29866 "Buffer tests cannot pass env vars in UAP runs"
System.Buffers.ArrayPool.Tests.CollectionTests/BuffersAreCollectedWhenStale(trim: False)
System.Buffers.ArrayPool.Tests.CollectionTests/BuffersAreCollectedWhenStale(trim: True)
System.Buffers.ArrayPool.Tests.CollectionTests/PollingEventFires(trim: False)

all rely on passing an env var "DOTNET_SYSTEM_BUFFERS_ARRAYPOOL_TRIMSHARED" to the child process, which does not receive them in UAP (issue #298

[2018-05-23 06:09] sanjayicy opened #29868 "How to port remoting code"
[EDIT] By @karelz - original question from title:
hi guys, i am going to port my remoting code for tcp communication in dot net core. Is web sockets only the alternative?
Please provide your suggestion.

[2018-05-23 06:18] danmosemsft commented on #29861
Adding workaround in https://github.com/dotnet/buildtools/pull/2045 -- we should figure out the problem here and either fix the code or genfacades.

@weshaggard any idea about these? not at all clear to me.

[2018-05-23 06:20] danmosemsft opened #29869 "Environment.FailFast tests fail on UAP"
Environment.FailFast tests fail on UAP because they are using RemoteInvoke which on UAP is implemented with a system service and does not provide console output when caused to terminate.

To fix this they probably need to use the Process class directly.

FailFast_ExceptionStackTrace_ArgumentException
FailFast_ExceptionStackTrace_StackOverflowException
FailFast_ExceptionStackTrace_InnerException

[2018-05-23 06:27] qmfrederik commented on #17135
@karelz @joshfree This API didn't make it for 2.1, any way we can track it for 2.2.0 (it's currently marked as Future)?

[2018-05-23 06:42] BorzillaR commented on #29761
I have the same question but for UWP apps. I create a blank UWP app, install the nuget package System.Drawing.Common v4.5.0-rc1 and create a new bitmap in the MainPage constructor like this:

`var bm = new System.Drawing.Bitmap(100, 100, PixelFormat.Format32bppArgb)`

App is successfully compiled but failed at run time with PlatformNotSupportedException. Can it be used in UWP apps?

[2018-05-23 07:05] sankar1204 commented on #22582
https://msdn.microsoft.com/en-us/library/system.text.codepagesencodingprovider(v=vs.110).aspx
CodePagesEncodingProvider.Instance - is not available in .NetCore

[2018-05-23 07:06] jakrivan commented on #29181
@AfsanehR the delay happens in Dispose code (so after breaking from enumerating) - the stack trace at the end of the first post here shows the exact stack where the Dispose consumes majority of the time.

All thats needed is a remote SQL server, or forwarded traffic via whatever remote box to your devbox (e.g. via '`netsh interface portproxy add v4tov4 listenport=1433 connectport=1433 connectaddre

[2018-05-23 07:13] davidfowl commented on #29823
We should write that code sample, it's not very nice..

[2018-05-23 07:41] Martin-Stein commented on #26847
the latest Version solves this issue, Apps can now pass the certification process!

[2018-05-23 07:41] #26847 closed

[2018-05-23 07:42] Martin-Stein opened #29870 "System.Data.SqlClient 4.5.0-rc1 in an UWP application can not connect to local MSSQL-DB"
Hello,
I am using the System.Data.SqlClient 4.5.0-rc1 in an UWP application. It works so far, but I am not able to connect to a local MSSQL Database, only Azure, or DBs on a different Server can be connected. When I try to connect my local server a network-related error occurs . (Provider TCP Provider, error 40 - Could not open a connection to SQL ServerTCPIP is enabled in the SQL Management conso

[2018-05-23 07:59] spragchris commented on #25470
I'm not sure the proprietary nature of MSMQ as a server is a compelling reason to disregard a port of this functionality into core.  Haven't there been recent compromises in other areas such as Active Directory? It might be that a port isn't possible, but surely this can't be the reasons why.

[2018-05-23 08:01] davidelettieri commented on #29687
I'm working on a windows 10 fully updated. After changing target framework and registry key I'm having inconsistent results.

I asked for a certificate with an updated signature algorithm, I'll let you know when I have more info.

[2018-05-23 08:01] marek-safar commented on #29585
These were filled as separate issues because they are addressing separate problems. Hence this is not dupe of #29828 because the fixes need to land at different time with the current way of shipping the core nugets.

[2018-05-23 08:04] marek-safar commented on #29828
This should probably have milestone 2.2 (we won't ship supporting code before dev15-9)

[2018-05-23 08:05] marek-safar commented on #29847
If they work on .net desktop they should

[2018-05-23 08:07] marek-safar commented on #29842
It's not high priority as we only have 2 strings in this category for now

[2018-05-23 08:56] mario-d-s commented on #10567
@Clockwork-Muse I see #9257 has been fixed since, can you check if it solves your problem here?

[2018-05-23 09:22] kurtschelfthout opened #29871 "Add LazyInitializer.EnsureInitialized overloads that take a Func<TArg,T> to avoid closure allocations"
`LazyInitializer.EnsureInitialized` is a great API to do thread-safe lazy initialization, in cases where the allocation of a `Lazy` instance is undesirable, i.e. to reduce memory pressure.

However, `EnsureInitialized` only takes a delegate of type `Func<T>` to initialize the target, which doesn't work well for initializing fields that are dependent on other arguments. In that case, a closure is a

[2018-05-23 09:26] slakul opened #29872 "Update of zip file with DataDescriptor using ZipArchive results in corrupted file"
When a zip archive is created some files can have DataDescriptor after LocalFileHeader and compressed data. It is indicated by the flag ZipArchiveEntry.BitFlagValues.DataDescriptor.

The update method in ZipArchive does not clear DataDescriptor flag and also does not write DataDescriptor after compressed data.

In Windows 10 the archive can be opened and files can be extracted, but when I try to a

[2018-05-23 09:52] Kalyan1989 commented on #29568
The problem was in my Gateway and synchronization which I was able to resolve. No issue from Core library.
Please close the issue.

[2018-05-23 09:52] #29568 closed

[2018-05-23 10:37] detaybey commented on #27000
upgraded to RC1, sadly I am having the same issue.
macOS High Sierra 10.13.4
dotnet --version => 2.1.300-rc1-008673

```The handler does not support custom handling of certificates with this combination of libcurl (7.54.0) and its SSL backend ("LibreSSL/2.0.20")```

[2018-05-23 10:46] stephentoub commented on #27000
@detaybey, either you're not actually using rc1, or you've explicitly opted via an environment variable or app context switch to not use the default handler, as that error message is only possible when opting out of the default.

[2018-05-23 11:51] svick commented on #29871
[code]

Was this supposed to be:

[code]

[2018-05-23 12:31] jesslilly commented on #29854
Hi @karelz.  Thank you very much for the quick response.  My buddy did a little work on this yesterday and noticed when running the same request in fiddler, he got a 301.

That would explain why the Auth header is getting removed (reference: [authorization-header-is-lost-on-redirect](https://stackoverflow.com/questions/28564961/authorization-header-is-lost-on-redirect) )

I can get the code to WOR

[2018-05-23 12:35] nockawa commented on #25334
I'm jumping in. I have basically the need to develop this (at least for myself) right away, I was planing doing something simple at first, but I could ideally help @mmatras if he wants to.

Couple of observations/questions though:
 - Floating point arithmetic have been discussed so far but why not also considering integers numeric data types? (byte, short, int and long) I typically need a Vector3<

[2018-05-23 12:38] jesslilly commented on #29854
When I add this code:

            var handler = new HttpClientHandler()
            {
                AllowAutoRedirect = false
            };
            var client = new HttpClient(handler);

I get a 301 response code as expected.

[2018-05-23 12:57] kurtschelfthout commented on #29871
@svick Yes! My bad. Corrected in the original post. Thank you.

[2018-05-23 13:33] danmosemsft commented on #29761
@borzillar unfortunately no, that code predates UWP so much of it uses GDI which is not available in UWP. @pjanotti does your analysis tool flag this?

[2018-05-23 13:43] BorzillaR commented on #29761
@danmosemsft , thank you!

[2018-05-23 13:54] jkotas opened #29873 "Calling an VB.Net String-functions (like Left(string),Right(string),Space(string),Trim(string)) in a .NET Core project throwing Runtime exceptions"
_From @amshekar on May 23, 2018 10:36_

Calling an VB.Net String-functions (like Left(string),Right(string),Space(string),Trim(string)) in a .NET Core project throwing Runtime exceptions
General
We have a .Net core 2.0 webapi project and want to call a old vb.net method. The method have some string functions like Left,right,space and trim . We added the DLL as a reference . But in runtime we are g

[2018-05-23 14:14] davidsh commented on #27000
@detaybey
Can you add this line of code to your project?  It will print out what the .NET Core binary path is. That will confirm whether you are using 2.0 or 2.1-rc1 etc.

[code]

[2018-05-23 15:17] madhub opened #29874 "ISO 8859-1 to ISO 8859-15 Encoding support in .NET Core 2"
Hi
Healthcare software extensively uses Text encoding/decoding .net classes for decoding the patient name present in the DICOM image file.List text encoding supported by the DICOM standard are [here ](http://dicom.nema.org/dicom/2013/output/chtml/part03/sect_C.12.html#table_C.12-2). We in the process porting our library from .NET full framework to .NET Stand 2 to make our library cross platform.
I

[2018-05-23 15:26] svick commented on #29874
Could you clarify what exactly do you mean by that? What happens when you run your code?

When I tried running your code, after adding a reference to the `System.Text.Encoding.CodePages` *package*, it seemed to work fine.

[2018-05-23 15:47] danmosemsft commented on #29761
@BorzillaR this is the tool I mentioned -- https://github.com/dotnet/platform-compat -- it's a VS extension, please try it out, it seems that it should flag this.

As for GDI+ on UWP - I am not aware of plans but I am not part of that team. I would find a different library to do what you need.

[2018-05-23 16:13] karelz commented on #25470
@sparraguerra I think you misread the reason for closing - it was closed as duplicate, not disregarded.

I would suggest to vote on the primary issue (upvote the top post / add comment). So far the interest is smaller, compared to other libraries (like Active Directory).

[2018-05-23 16:17] weshaggard commented on #29861
Yeah I suspect these have always been there unnoticed until your change promoted them to errors.

As for the particular error I'm not sure what is going on there I've not seen them before. We would need to debug to see what is happening.

[2018-05-23 16:29] karelz commented on #17135
I will defer to @GrabYourPitchforks who worked on it and has PR ready (https://github.com/dotnet/corefx/issues/17135#issuecomment-373878407), he should be able to suggest best next steps (once he is back from vacation - one more week).

[2018-05-23 16:29] xoofx commented on #17135
@dotMorten btw, what do you mean by static? Static linking required by iOS with mono? Isn't dlopen being supported starting from iOS8+? (or you need to support older iOS?)

[2018-05-23 16:30] weshaggard commented on #29870
Yes there are some UWP assets that are in the new SqlClient package.

[2018-05-23 16:36] karelz commented on #29870
OK, then it may be real regression in the 4.5.0 package - looks like @keeratsingh is already investigating ...

[2018-05-23 16:41] keeratsingh commented on #29870
@Martin-Stein
- Along with Karel's request, could you also share the Connection String being used to connect to the SQL Server. I will try to repro the issue in-house and let you know once I have questions/comments.
- Also, can you confirm if you are able to connect to this local SQL Server using SQL Server Management Studio

[2018-05-23 16:51] weshaggard commented on #29585
Reopening to track this particular issue for 2.1 servicing.

[2018-05-23 16:53] tarekgh commented on #29874
@madhub do you mean you cannot compile? or you can compile and you are getting a runtime error? if you can provide a simple project you cannot use the encodings would be good to tell you what is wrong there. But generally, this should work fine.

[2018-05-23 17:00] karelz commented on #19583
Next steps: We should disable the tests permanently. It will not be supported on UWP. No need to track it via this bug.

[2018-05-23 17:14] davidsh commented on #19583
I will change any ActiveIssue to SkipOnTargetFramework for this issue as part of my other UAP cleanup work.

[2018-05-23 17:34] mburbea commented on #29871
I just figure there is prior art in things like `Task.ContinueWith(Action<T, object>, object)` or task factory.
It helps reduce the method bloat, if this becomes very common.

As for why the other Lazy approach, you might want to create many new Lazy's, and avoid the delegate cost, as `(o)=>((MyStateObj)o).DoIt();` is a reusable delegate.

[2018-05-23 18:08] safern commented on #29863
They where disabled here: https://github.com/dotnet/corefx/commit/3fca26cedf6c54aabc100e69106fc7e263db7815#diff-f111cef164b89c1f83f8bacb425e94fc because they where blocking 2.1 stuff. Then the UAP builds where re-enabled here: https://github.com/dotnet/corefx/pull/27531 but the test execution was never enabled. It wasn't because they where slow that where removed, it was because they where failing

[2018-05-23 18:10] jkotas commented on #29848
https://github.com/dotnet/coreclr/pull/18101

[2018-05-23 18:22] joshfree commented on #17135
Actually we should defer this to @jeffschwMSFT and the Interop team, who are interested in driving this feature area forward in .NET Core.  @jeffschwMSFT could you share your team's current thoughts on direction / shape?

[2018-05-23 18:28] jeffschwMSFT commented on #17135
@qmfrederik we are taking a step back and considering the broader scenario (exploring a dllmap like mechanism).  Right now we don't have a concrete design, but once we do we will share and update this thread.

[2018-05-23 18:42] qmfrederik commented on #17135
So, based on all the feedback, perhaps we should split the issue in two.

The core gist of this is that we want a way to call `dlopen`/`LoadLibrary` and `dlsym`/`GetProcAddress`; most of us can take it from there. The API @xoofx proposed as well as the original proposal for this issue seem fine.

Making cross-platform library loading (i.e. dllmap & friends) would be orthogonal to that, no?

[2018-05-23 18:51] kasper3 commented on #17135
Currently for 2.2, there is one inconsistency left in DllImport tracked by https://github.com/dotnet/coreclr/issues/17604.
This approved API is definitely not related to DllImport enhancement with DllMap like mechanism (which is actually tracked by @akoeplinger's https://github.com/dotnet/coreclr/issues/930). So we would love to see @GrabYourPitchforks's PR https://github.com/dotnet/coreclr/pull/1

[2018-05-23 19:00] xoofx commented on #17135
Yeah, I agree, maybe not completely orthogonal, but it is more an implementation detail or an enhancement to the resolution.  It should not change the API shape, nor the default behavior if a dllmap file is not present (which is good). Dllmap is a super nice feature/addition and it should be considered, but maybe we should split first an implementation without, which was almost done it seems, and

[2018-05-23 19:13] #16534 closed

[2018-05-23 19:13] #19583 closed

[2018-05-23 19:21] amshekar opened #29878 "While Calling an VB.Net Shared method from .NET Core project throwing Runtime exceptions"
Throwing Runtime exception called

When calling a mesage queue service which intern calling the another vb.net shared method.
 Seems there is some issue while calling a shared method of vb.net from .Net core 2.1 app

[2018-05-23 19:39] wfurt commented on #23681
This is because server is *not* sending certificate.
You can look at attached snapshot of Wireshark trace:

Cipher Suite: TLS_ECDH_anon_WITH_AES_256_CBC_SHA (0xc019)

<img width="1577" alt="ssl" src="https://user-images.githubusercontent.com/14356188/40446875-87457ef0-5e85-11e8-927f-4975770afd8e.png">

With that, there is no certificate exchange.
I tested same code against different server and cal

[2018-05-23 19:43] davidsh commented on #26627
Yes, this is a bug in .NET Framework.

But, this problem doesn't repro on .NET Core.  While the code for ClientWebSocket/ClientWebSocketOptions was ported from .NET Framework to .NET Core, there is a difference in how it works on .NET Core.

The System.Net.WebHeaderCollection.ThrowOnRestrictedHeader() internal method is not going to throw on .NET Core.  That is because the WebHeaderCollectionType

[2018-05-23 19:45] #26627 closed

[2018-05-23 19:50] davidsh commented on #23681
The reason why it works on Windows and OSX is that SSL Client hello does not offer anonymous cipher suites.
I verified that everything works as expected if I add "!aNULL" to cipher selection in PAL layer.
However there is no public API at the moment to do that from managed code.

.NET Framework/.NET Core do support APIs to control whether the "NULL" cipher suite is allowed (normally by default is

[2018-05-23 20:03] khellang commented on #26627
Thanks for looking into this @davidsh!

So when #18784 is fixed, will we get the same behavior on Core?

[2018-05-23 20:05] davidsh commented on #26627
When #18784 is addressed, we will also make sure to keep ClientWebSocketOptions.SetRequestHeader() working for all request headers.

[2018-05-23 20:08] khellang commented on #26627
Awesome. Thanks!

[2018-05-23 20:31] wfurt commented on #23681
That flips "eNULL" at OpenSSL layer.  In the example above, the encryption is AES_256_CBC_SHA but peers are not authenticated . Adding "aNULL" disables that behavior.

[2018-05-23 21:07] orobert91 commented on #17918
Methods should be documented:

https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.collectionextensions.tryadd?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query%3FappId%3DDev15IDEF1%26l%3DEN-US%26k%3Dk(System.Collections.Generic.CollectionExtensions.TryAdd%60%602);k(DevLang-csharp)%26rd%3Dtrue&view=netcore-2.0

[2018-05-23 21:10] bartonjs commented on #23681
https://msdn.microsoft.com/en-us/library/windows/desktop/mt813794(v=vs.85).aspx doesn't describe any of the `_anon_` ciphersuites, so having them disabled for both client and server sessions with OpenSSL seems like the best thing for understanding a compatibility matrix.

Absent disabling those ciphersuites, it seems like we would need to treat the SslPolicyErrors enum as `RemoteCertificateNotAvai

[2018-05-23 21:29] davidsh commented on #29747
@stephentoub
I looked into this issue.  Do you have a repro of this? Or was this issue opened due to code inspection?

Expanding on the code snippet you have above, there is a variable 'doManualDecompressionCheck' that is passed into this method.  And only if that variable is true, would the handler decompress any content.

https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHa

[2018-05-23 21:36] stephentoub commented on #29747
Yes, the tests in https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Decompression.cs (which after this issue and the others related to it, I just left as being SocketsHttpHandler-specific, such that they're not currently running for other handlers), and in particular:
https://github.com/dotnet/corefx/blob/1f59cb91f9350732c747e6d60422c9c579

[2018-05-23 21:40] davidsh commented on #29747
Thanks for clarifying the repro.  I was confused by your original comment here:

That implied that the repro required the handler "None" option.  But that wasn't really the repro for this bug.

I'll work on a fix.

[2018-05-23 21:41] stephentoub commented on #29747
Sorry, my original comment was wrong, I've fixed it.

[2018-05-23 22:03] keeratsingh commented on #29564
@LandonCampbell Did you get a chance to try out the suggestions ?

[2018-05-23 22:26] krwq commented on #29708
@bartonjs I'm seeing couple more (except for this issue and AlgorithmIdentifier.Parameters):

[code]

[2018-05-23 22:34] tannergooding commented on #29069
The PR adding support for the x86 FMA intrinsics is up: https://github.com/dotnet/coreclr/pull/18105

[2018-05-23 22:36] bartonjs commented on #29708
TypesMustExist : Type 'System.Security.Cryptography.DpapiDataProtector' does not exist in the implementation but it does exist in the contract.
TypesMustExist : Type 'System.Security.Cryptography.MemoryProtectionScope' does not exist in the implementation but it does exist in the contract.
TypesMustExist : Type 'System.Security.Cryptography.ProtectedMemory' does not exist in the implementation but

[2018-05-23 22:54] MohammadHamdyGhanem opened #29881 "Add Escapes helper class for Regex"
# suggestion:
I suggest to add this class to System.Text.RegularExpressions namespace as a helper class for Regex class. It contains 146 static readonly properties that makes it easier to deal with Unicode char categories, which are hard to memorize.
[code]
This class will be more useful if it contains XML comments to give some info about each category (no such info in docs, so I refer to wikipead

[2018-05-24 00:20] danmosemsft commented on #17918
Thanks @orobert91 could you please open an issue in https://github.com/dotnet/docs (or even offer a PR if you would like)

[2018-05-24 00:27] karelz commented on #29878
Can you please post minimal repro showing the problem?

[2018-05-24 01:30] LandonCampbell commented on #29564
@keeratsingh No, I haven't had a chance yet. Crazy busy, like everyone is. I will do my best to get to it. Thanks for the suggestions.

[2018-05-24 04:26] Clockwork-Muse commented on #10567
@mario-d-s
What do you mean?  The instructions have been updated/working for a while, but they still require supplying the OS.

[2018-05-24 05:49] xoofx commented on #25334
That's a good question. Part of the implementation could be done in IL by using directly mul/add instructions... but there are IL instructions that are not generic-able for this (e.g ldc_r4/ldc_r8), so I'm wondering how this would be handled here in practice (It is like we would like to have "generic" specialization here  :speak_no_evil: )

I concur. `in` works even on non readonly structs assumin

[2018-05-24 06:16] nockawa commented on #25334
Introducing native types would be a great thing imho, but I fear that we double the total count. But having float4, double4, (u)int4, (u)long4 among others would be very easy for us to build dedicated operations in different API because integer based types won't have the same API surface than floating ones I think.

My own (I say it, it's subjectif) reference point is comparing what we want to the

[2018-05-24 06:45] Aarthiumayaval commented on #22434
From redhat linux also  , we are  getting error when we do spnego logons. Please see below stack trace. Can you help in getting this done?

[root@sdl17146 publish]# kinit -f TDNETDP1
Password for TDNETDP1@KRB5DOM.TDAT:
[root@sdl17146 publish]# dotnet dotnet-core.dll -m spnego -u TDNETDP1@KRB5DOM.TDAT  -w TDPass581 -d sdt06954.krb5dom.tdat -c 1 -t 1
Mechanism:spnego
UserId:TDNETDP1@KRB5DOM.TDAT
Pas

[2018-05-24 07:18] dotnet-mc-bot opened #29886 "Test failure: System.Net.Sockets.Tests.SendReceiveApm / SendAsync_ConcurrentDispose_SucceedsOrThrowsAppropriateException"
Opened on behalf of @Sunny-pu

The test `System.Net.Sockets.Tests.SendReceiveApm/SendAsync_ConcurrentDispose_SucceedsOrThrowsAppropriateException` has failed.
[code]
Build : Master - 20180524.01 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64.ClientRS4-x86
  - Release

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2