[2018-07-26 14:09] davidsh commented on #31383
This is a duplicate of #15460.  HttpWebRequest is considered a legacy API and is currently a simple wrapper on top of HttpClient.  For best performance, use HttpClient directly.

[2018-07-26 14:09] #31383 closed

[2018-07-26 15:46] pakrym opened #31388 "Pipe would append to a stack trace every time exception is rethrown from Read/FlushAsync"
Because of incorrect usage of ExceptionDispatchInfo.

https://github.com/dotnet/corefx/issues/31371

[2018-07-26 15:48] pakrym commented on #31349
@danmosemsft I merged an improvement to the test. Should I close this?

[2018-07-26 15:52] keeratsingh commented on #31322
Looking at #30697 and the stack trace this seems like a `System.Diagnostics` issue.
@wtgodbe, @krwq  Could you kindly point this issue into the right direction.

[2018-07-26 16:03] danmosemsft commented on #31349
Sure. Thanks @pakrym for prompt fix.

[2018-07-26 16:03] pakrym commented on #31371
@stephentoub is calling `Throw()` on the same `Exception` object using different instances `ExceptionDispatchInfo` thread safe?

[2018-07-26 16:07] stephentoub commented on #31371
Yes. But of course the resulting stack trace could be confusing, with frames from diffetent locations appended to the same instance.

[2018-07-26 16:07] danmosemsft commented on #31181
@kevinpi any theory about the behavior above -- build populates errors, but then they vanish? What is appropriate step to investigate further?

[2018-07-26 16:24] bgribaudo commented on #26234
Thanks, @danmosemsft! Edited the top question so that it reflects the approved version.

[2018-07-26 16:30] danmosemsft commented on #26234
So @bgribaudo do you want to take a shot at the implementation? Even just one of Windows and Linux if you want.

[2018-07-26 16:57] vcsjones commented on #27526
`IndexOf` works by examining multiple items at the same time for certain types like `byte` using SIMD hardware acceleration, like a windowing function.

https://github.com/dotnet/corefx/blob/f391820c4808bcb02c7b3dd88b684f36a0a98b6a/src/Common/src/CoreLib/System/SpanHelpers.Byte.cs#L172

It examins n-number of bytes at a time, depending on the size of the Vector. Once it has found a place where vec

[2018-07-26 17:19] alitaghavi opened #31390 "XmlException: Resolving of external URIs was prohibited."
I have the following code to transform XML to CSV using XslCompiledTransform in **.Net Core App 2.0**; however, the code returns **XmlException: Resolving of external URIs was prohibited** during the execution of **xslt.Transform(xmlFilePath, csvFilePath);**.

I created another console app targeting **.Net 4.7** and copied the same exact code over. The app ran successfully and generated the output

[2018-07-26 17:24] davidsh commented on #30349
@pereiraarun

We are unable to reproduce the problem.  Using the code above generates a request with the right headers.  So, perhaps the problem is that server is having issues validating the request headers.

For now, we'll close this issue.  If you have  repro that we can run to demonstrate that invalid headers are being sent by HttpClient, then we can re-open the issue.  Thx.

[2018-07-26 17:24] #30349 closed

[2018-07-26 17:32] weshaggard opened #31391 "AppDomain should be a sealed type like .NET Framework"
Looks like we didn't seal AppDomain when we added it to .NET Core, https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/ref/System.Runtime.Extensions.cs#L11.

See http://index/?query=Appdomain&rightProject=mscorlib&file=system%5Cappdomain.cs&line=208 which has it sealed in .NET Framework.

cc @jkotas

[2018-07-26 17:34] vcsjones commented on #31390
This is a known compatibility change. .NET Core does not allow resolving external URIs for XSLT transformations by default and is [documented here](https://github.com/dotnet/corefx/wiki/ApiCompat#systemxmlschema).

As the documentation says, the old behavior can be restored, if you so choose, by putting

[code]

In your application.

[2018-07-26 17:39] bgribaudo commented on #26234
@danmosemsft, I'm interested, though I'm not sure if I'm the right person to do this because of the platform-specific code work it will involve (for example, I don't have environments set up to test on every platform supported by dotNET). Is there someone I could chat with about this?

[2018-07-26 17:44] #30581 closed

[2018-07-26 17:48] danmosemsft commented on #31391
@weshaggard should this have showed up in src\shims\ApiCompatBaseline.netcoreapp.netfx461* (`CannotSealType`)

[2018-07-26 17:52] luqunl commented on #31271
I agree this issue is related to GC.  Try to test add GC.KeepAlive()  in https://github.com/dotnet/corefx/pull/31392

[2018-07-26 17:52] EdwinEngelen commented on #31181
@reduckted Yes, for example applications migrated from VB6 might still use it. Actually, a large business application I work on uses it and we would like to move on to .NET Core.

[2018-07-26 17:58] bgribaudo commented on #26234
## Implementation Notes

**For Windows,** msbuild's [Microsoft.Build.Shared.NativeMethodsShared](https://github.com/Microsoft/msbuild/blob/b499c93e95f440b98967b8d5edd910ee8556f504/src/Shared/NativeMethodsShared.cs#L980) looks like a good reference/starting place (implementation may be as simple as copy-and-paste!). Since this code uses P/Invoke instead of `taskkill`, I'm hoping (haven't tested) th

[2018-07-26 18:02] alitaghavi commented on #31390
Great! It worked. Thanks

[2018-07-26 18:13] krwq commented on #31322
@keeratsingh unfortunately do not know much about this area 😞
System.Data.SqlClient: @keeratsingh, @afsanehr, @David-Engel
EventLog: @Anipik

[2018-07-26 18:14] rainersigwald commented on #26234
I'm not aware of any problems with MSBuild's P/Invoke approach after the .NET Core port. Note that we only call it from https://github.com/Microsoft/msbuild/blob/cc451ea752ef6cfb04d9a3abab05f28f9a2fec41/src/Utilities/ProcessExtensions.cs#L14-L45 which has some cross-platform options that seem to be behaving ok.

[2018-07-26 18:15] krwq commented on #31390
Thanks @vcsjones - @alitaghavi please let us know if there is anything else we could help with - closing the issue for now

[2018-07-26 18:15] #31390 closed

[2018-07-26 18:16] danmosemsft commented on #31370
I ran this
[code]
In a regular prompt, I get a security exception. In an elevated prompt, I get 35, which matches regedit.

ACL's are on keys not values so I would expect you to see all or none. My guess is that you are not running as admin, and Windows is somehow doing compatibility shimming such that you can see some values and not others.

[2018-07-26 18:16] weshaggard commented on #31391
Yes I would expect it to show up. Perhaps there is a bug somewhere it is worth digging into.

[2018-07-26 18:21] bgribaudo commented on #26234
Yes, I'll be glad to give this a try. :-)

[2018-07-26 18:26] crummel opened #31393 "[1.1] Build error: Could not load file or assembly 'Microsoft.CodeAnalysis.CSharp'"
On https://github.com/dotnet/corefx/pull/31231, we're seeing a build error:
[code]

I've bisected the issue and commit https://github.com/dotnet/corefx/commit/65a3c93e98d2722203c0320c6c7761f699e4eaae appears to introduce the problem.  I've reverted this commit locally on top of the PR and it builds correctly, although a couple tests are still failing.

@ianhays is OOF until September and I'm not f

[2018-07-26 18:29] danmosemsft commented on #26234
Yes I suggest copying https://github.com/Microsoft/msbuild/blob/master/src/Utilities/ProcessExtensions.cs#L14. If you have a Mac, or can host a Linux VM, either should be fine for testing Unix behavior.

[2018-07-26 18:31] danmosemsft commented on #26234
For the tests, I would take a look through the existing tests for Process/ProcessStartInfo etc and copy the pattern. Make sure you save your work before you test for bugs in your implementation of killing the process tree 😆

[2018-07-26 18:42] AaronRobinsonMSFT commented on #31271
@hughbe Want to try @luqunl's fix and revert #31331?

[2018-07-26 18:43] vcsjones commented on #31265
I've not worked with many data streams that need to read different endianness data in the same stream.

`BinaryReader` seems to always read data in little endian format. Some other considerations.

1. What about "I want to use the endianness of whatever the architecture is"?

1. Should this be a class-level thing instead of per-method? It might be tedious and error prone to keep having to pass aro

[2018-07-26 18:51] rmkerr opened #31394 "HTTP2: Assert failures when disallowed frame types are send on stream 0"
The HTTP/2 spec explicitly forbids data frames to be sent on stream 0. From [section 6.1](https://tools.ietf.org/html/rfc7540#section-6.1) of the spec:
[code]

The current HTTP/2 implementation does not respond with PROTOCOL_ERROR when a data frame is sent on stream 0, and instead fails an assert in HttpConnectionPool.cs without sending a response:
https://github.com/dotnet/corefx/blob/f391820c480

[2018-07-26 18:53] danmosemsft commented on #31259
Approved by big shiproom

[2018-07-26 18:54] vivmishra commented on #31259
Approved for 2.1.4

[2018-07-26 18:54] danmosemsft commented on #12403
Leaving everything in 2.1.4 until we determine whether it will have generic fixes

[2018-07-26 18:55] vivmishra commented on #31326
Approved for 2.1.4

[2018-07-26 19:02] benaadams commented on #31275
It is because neither Lazy nor Int change the flow control; its fine to ignore the result of awaiting a `Task<T>` for example; but accidentally not `await`ing it leads to entirely different problems and introduces concurrency and race conditions.

[2018-07-26 19:07] vcsjones commented on #31393
@joshfree

2.1.x ?

[2018-07-26 19:10] alaskanrogue commented on #31370
Both starting VS as the admin and logging on as the admin and running VS, then debugging resulted in the same number of values: 10. I have been running VS as the admin because of the noted security exception since I encountered it.

At a "regular prompt"? Not sure what you are implying.

As you can see, I have more than 10 values...

![capture](https://user-images.githubusercontent.com/14001196/43

[2018-07-26 19:15] eerhardt commented on #31393
@crummel - I think potentially a different fix could be to update this logic:

https://github.com/dotnet/corefx/blob/a0850b4f91335dd248526b9ca1ff6a221228d845/init-tools.sh#L45-L55

to also include `ubuntu14.04` and `centos`.  The issue in my mind is that we are using the "portable" CLI when we should just be using the distro-specific one, just like the other distros.

[2018-07-26 19:27] 4creators opened #31395 "CoreFX 4.6.0-preview3-26501-xx packages prevent NuGet from resolving latest 4.6.0-preview1-xxxxx-xx packages"
Some old packages build on 1st May, 2018 with version 4.6.0-preview3-26501-xx cause several problems during testing. In CoreCLR repo tests are build and run in many cases against not latest 4.6.0-preview1-xxxxx-xx packages but 4.6.0-preview3-26501-xx packages. It is possible to manually compensate for that problem but it may pop up in many different situations as well.

My proposal is to delete al

[2018-07-26 19:31] wtgodbe commented on #31393
I'll test out @eerhardt's suggestion locally

[2018-07-26 19:33] MarcoTheFirst commented on #31275
@benaadams not awaiting a task will return the Task itself instead of the result type. therefore it is impossible to accidentally confuse the two. Your strongly typed code simply won‘t build, so I still disagree with the Async suffix. And since a suffix is just sugar coating anyway it‘s not reliable. Programmers make mistakes, compilers usually dont‘t.

[2018-07-26 19:34] danmosemsft commented on #31242
Shiproom asked asked whether we have some test holes around proxies that have led to all these servicing issues, and whether we expect more..

Info from @davidsh :

Yes, we do have test holes in scenarios involving proxies.  @Karel Zikmund is aware of that.  We have been trying to react to these incoming issues.  Some of the holes are due to authentication scenarios and system/machine settings sce

[2018-07-26 19:35] deinok commented on #31265
Hi @vcsjones I have never worked on something that needs to change the Endianness in the same stream, but it could be a possible (I cant imagine a case like this).

I'm not completely sure, but I think that BinaryReader takes by default the Endianness of the architecture by default (Most arch are little endian).

1.- As I said, I think its the default (What is actualy implemented). But I agree tha

[2018-07-26 19:47] danmosemsft commented on #31370
By "regular prompt" I meant when not elevated, ie without admin privileges.

If you use GetValue with one of the names you're not getting back, does it work? https://msdn.microsoft.com/en-us/library/microsoft.win32.registry.getvalue(v=vs.110).aspx

Otherwise I would use procmon and filter to registry keys containing "Winlogon" in the "Path". Perhaps you'll see something useful. I can't repro mysel

[2018-07-26 19:53] Pilchie commented on #31242
Thanks for the follow-up.  Is this something that we should consider adding to a manual walkthrough script for vendors until we can get better automated coverage here?

[2018-07-26 19:55] crummel commented on #31393
Same, building now.

[2018-07-26 20:07] jbruce716 commented on #30147
This affects me as well, but the Ec2 that we're running doesn't have access to the root account. Our only option is a service account with sudo rights.

[2018-07-26 20:19] alaskanrogue commented on #31370
It appears that since I had "Prefer 32bit" enable for the project, it was accessing "Computer\HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft\Windows NT\CurrentVersion\Winlogon" and not "SOFTWARE\\Microsoft\\Windows NT\\CurrentVersion\\Winlogon". Disabling the option enable the method to function properly. I just got a count of 32.

Thanks for attempting to help Dan. And thanks to [VIorel](https

[2018-07-26 20:30] eerhardt commented on #31393
@wtgodbe - back in the day, `ubuntu` with no version meant `ubuntu.14.04`.

https://dotnetcli.blob.core.windows.net/dotnet/Sdk/1.0.0-preview3-003223/dotnet-dev-ubuntu-x64.1.0.0-preview3-003223.tar.gz

(yes, that was probably a mistake in hindsight)

[2018-07-26 20:31] wtgodbe commented on #31393
Oh, weird. I'll try special-casing `ubuntu.14.04` to `ubuntu`

[2018-07-26 20:35] danmosemsft commented on #31242
No doubt that's one of the options to look at.

[2018-07-26 20:36] danmosemsft commented on #31370
Ah! I should have realized that! I was using 64 bit. Glad yo'ure fixed.

[2018-07-26 20:36] #31370 closed

[2018-07-26 20:41] wtgodbe commented on #31393
@eerhardt do you know how to determine which version of centos our CI is running on (i.e. what would be the result of https://github.com/dotnet/corefx/blob/a0850b4f91335dd248526b9ca1ff6a221228d845/init-tools.sh#L45)

[2018-07-26 20:46] crummel commented on #31393
I think we just do major version, I've seen `centos.6` and `centos.7`.

[2018-07-26 20:53] eerhardt commented on #31393
See the "old" code in this commit for what we "used" to do:

https://github.com/dotnet/corefx/commit/76e29379a3347df9987e85656373cb3bb7db2892

[2018-07-26 21:09] NickCraver commented on #31275
This is simply false. Let's take my original example and put it in a simple program:
[code]

This compiles just fine. And it exits immediately, terminating whatever task was in progress. It'd be a shame if that was updating a bank balance or something...

[2018-07-26 21:12] brianrob opened #31401 "Add OSThreadId and TimeStamp to System.Diagnostics.Tracing.EventWrittenEventArgs"
As part of the .NET Core 2.2 performance monitoring work, I would like to add two new public APIs:

[code]

## Rationale and Usage
As part of .NET Core 2.2, ```EventListener``` objects will be able to subscribe to native runtime events (e.g. GC, JIT, ThreadPool, etc.) in addition to events emitted by ```EventSource``` objects.  Each time an event is dispatched to an ```EventListener```, the ```OnE

[2018-07-26 21:12] wtgodbe commented on #31393
I've put up https://github.com/dotnet/corefx/pull/31400 to try to fix this.

[2018-07-26 21:14] brianrob commented on #31401
FYI @vancem, @jkotas

[2018-07-26 21:29] rokansikder opened #31403 "Cannot find mkstemp nor mkstemp on this platform when buidling CoreFx in ubuntu 16.04"
I am not familiar with Linux system. Last couple of days I am trying to build .net core for android. I successfully built coreclr but when I try to build corefx I am getting following error.

Executing make install -j 1
/usr/bin/cmake -H/home/rokan/git/corefx/src/Native/Unix -B/home/rokan/git/corefx/bin/obj/Linux.arm64.Debug/native --check-build-system CMakeFiles/Makefile.cmake 0
Re-run cmake file

[2018-07-26 22:13] Evmaus-MS opened #31405 "Registration-Free COM Interop and .Net Core 2.0"
So we have an application (BinSkim, which is here:  https://github.com/Microsoft/binskim ) that we're porting to .net core which relies on COM Interop with msdia140.dll to enable some features on Windows.

We've run into an issue where if the .dll is present by the application, but unregistered, we get exceptions about COM classes being unregistered when we use the COM Interop.

However, if we reg

[2018-07-26 22:38] ahsonkhan commented on #31388
@pakrym, can we close this issue based on #31375?

[2018-07-26 22:44] hughbe opened #31407 "Microsoft.VisualBasic operators in .NET Core has removed handling of IConvertibles"
Needs more tests and fixes when https://github.com/dotnet/corefx/pull/31320 is merged

[2018-07-26 23:06] wtgodbe commented on #31393
Fixed

[2018-07-26 23:06] #31393 closed

[2018-07-26 23:35] danmosemsft commented on #3708
Next step is design. Does anyone plan to develop a strawman? (@ericstj ?)

[2018-07-27 00:33] jbruce716 opened #31410 "A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: SSL Provider, error: 31 - Encryption(ssl/tls) handshake failed) RHEL 7"
I'm unable to connect to our MSSQL database instance from RHEL &, but if I launch my app using dotnet <dll name> on Windows 10, it connects as expected.

**os version**
`cat /etc/*-release`

      NAME="Red Hat Enterprise Linux Server"
      VERSION="7.5 (Maipo)"
      ID="rhel"
      ID_LIKE="fedora"
      VARIANT="Server"
      VARIANT_ID="server"
      VERSION_ID="7.5"
      PRETTY_NAME="Red Ha

[2018-07-27 00:52] danmosemsft commented on #26386
Closing as this is tracked in the master issue https://github.com/dotnet/corefx/issues/31181

@kaiukdevelopment perhaps you'd like to offer a PR using the info there.

[2018-07-27 00:52] #26386 closed

[2018-07-27 01:12] mconnew opened #31412 "SocketsHttpHandler doesn't support response headers with a 100 status code"
According to [RFC7231 section 6.2](https://tools.ietf.org/html/rfc7231#section-6.2)

This means that a server can send headers before the empty line that terminates a 100 continue status response. The WCF team has a customer who is trying to communicate with a SOAP service which returns headers along with the 100 status response. This is tracked in issue dotnet/wcf#3008.

[2018-07-27 01:23] mconnew opened #31413 "SocketsHttpHandler doesn't support receiving multiple "100 continue" status responses"
According to [RFC7231 section 6.2](https://tools.ietf.org/html/rfc7231#section-6.2), multiple "100 continue" status responses should be supported:

WCF has a customer who is communicating with a SOAP service which is returning multiple 100 status responses. The second 100 status response is being returned to WCF as the final response. Additionally, after looking at the code, I don't believe Socket

[2018-07-27 01:31] cdmihai opened #31414 "Add Span / ReadOnlySpan IndexOf extensions taking in a start index and a count"
[code]

I could reslice the Span so that I don't need the start index.  But MSBuild has a lot of "delicate", hard to read index bookkeeping code, so reslicing to avoid the start index would need offseting everything, which is probably error prone.

[2018-07-27 01:41] noahfalk commented on #3708
@tommcdon - making sure this is on your .Net Core 3.0 planning radar : )

[2018-07-27 03:50] danmosemsft commented on #31405
@jeffschwMSFT

[2018-07-27 05:58] garethwarry opened #31415 "CancellationTokenSource Cannot Cancel ReceiveAsync via SocketTaskExtensions"
**System**
.NET Core version: netcoreapp2.1
OS version: Windows 10 Build 1803

**Summary**
A first task, the main task, spawns a second task and passes a CancellationToken from the main tasks's CancellationTokenSource. The second tasks enters a loop and passes the CancellationToken to ReceiveAsync (as shown below). The first task then calls Cancel on the CancellationTokenSource. This does not canc

[2018-07-27 06:09] garethwarry commented on #31415
Second example: This also fails.
[code]

[2018-07-27 06:39] natemcmaster commented on #11639
By the way, I've been asked about this subject a lot over the last year. I decided to write up some working examples of how to use AssemblyLoadContext and  Microsoft.Extensions.DependencyModel together to create a loader which imitates most of the behavior of corehost. See https://github.com/natemcmaster/DotNetCorePlugins for details.

[2018-07-27 07:27] iRubens opened #31416 "ClientWebSocket options are not accessible on instantiation"
Hi,
I'm trying to improve [Gremlin.Net](/apache/tinkerpop/tree/master/gremlin-dotnet) library in order to allow users to update the ClientWebSocket instance options. In our case I'd like to update proxy settings to allow WebSockets work on our network.

To do that, i'm thinking to pass a ready-made instance of the options on ClientWebSocket's instantiation or wrapping the framework classes to set

[2018-07-27 09:11] filipnavara commented on #21833
The `AsnSerializer` currently doesn't have a way to serialize large unsigned integers (the underlying `AsnWriter.WriteIntegerUnsigned` method). It is possible to workaround with prepending zero to the integer when necessary, but there are some legitimate use cases that could warrant a direct support in the serializer (eg. TBSCertificate SerialNumber field).

[2018-07-27 10:12] MikeHowellTransferenceLtdCoUk opened #31417 "Error try to publish a newly created ASP Core 2.1 app"
Hi there,

I have a technically simple Core 2.1 App which uses MVC and currently SQL .Express via EF Core.

I have followed the create app service wizard but part way through deployment I receive the following error:

System.Net.Http.HttpRequestException
   at Microsoft.VisualStudio.Web.WindowsAzure.Provisioning.DeploymentManager.<ThrowOnUnexpectedStatusCode>d__15.MoveNext()
--- End of stack trace

[2018-07-27 10:58] bp74 opened #31418 "BrotliStream compression error on large input"
I've tested this with the latest .Net Core SDK 2.1.2 and it looks that BrotliStream has a problem when compressing or decompressing large amounts of data. I did a very simple sample application that produces different sized "lorem ipsum" strings. As long as the string is smaller than a few MBs it works fine, once the text gets bigger two different problems occur:

1) The decompressed output is dif

[2018-07-27 10:59] filipnavara opened #31419 "Question: Serializing Asn.1 TBSCertificate produces unexpected results"
Consider the following `TBSCertificate` class definition, which is mix of existing `TbsCertificateLite`, `TbsCertificate` and Pkcs classes:

[code]

The `public X509ExtensionAsn[] Extensions;` member definition is lifted from `Rfc3161TimeStampReq`. RFC 3161 defines it as `extensions            [0] IMPLICIT Extensions  OPTIONAL`. RFC 5280 definition of the TBSCertificate says `extensions      [3]

[2018-07-27 11:38] MarkusAmshove commented on #31275
What @MarcoTheFirst means (I think) is the following case:

[code]

However, I find the other way around more dangerous:

[code]

[2018-07-27 11:55] bp74 commented on #31418
Just found out that this is probably a duplicate to #30584. But this issue is tagged with "3.0" - which can't be right because this is a bug that needs to be fixed in .Net Core 2.1, right?

[2018-07-27 12:00] bp74 commented on #31418
Sorry, just found out that this issue is probably fixed in 1e02c55c6d8593284fd9789699cc7bf00fb58347

[2018-07-27 12:14] danmosemsft commented on #31418
Yep the fix is in servicing but I can't check  at this moment whether it went out in 2.1.2 or is going out in 2.1.3 in a couple weeks.

[2018-07-27 12:14] #31418 closed

[2018-07-27 12:15] danmosemsft commented on #31418
Since you have 2.1.2 already I guess it was 2.1.3. If you like you can build yourself and try. Thanks for the detailed report.

[2018-07-27 12:17] #31391 closed

[2018-07-27 13:03] samdearden opened #31420 "SslStream KeyExchangeAlgorithm issues on Linux"
We have a server application running in a Docker container (using the microsoft/dotnet:2.1-sdk container image) on linux that uses TcpListener to accept connections from client applications on a socket. We are using SslStream to secure the connection with a server certificate using SslStream.AuthenticateAsServer.

We have a requirement to ensure that connections are made with a Key Exchange algori

[2018-07-27 13:37] lferrao opened #31422 "DataFlow block cancellation not working as expected"
Upon cancelation via `ct`, the following code never hits the breakpoint on return. I would think that awaiting for block2.Completion here would be the appropriate thing to do since block1's completion is propagated. As it stands, making `await block2.Completion` itself cancelable via ct is the only way to not remain stuck here indefinitely following cancellation.

[code]

[2018-07-27 13:37] V0d01ey commented on #28311
What can be done to forward this issue to the product support?

[2018-07-27 14:43] hazama-yuinyan commented on #29122
I think I've successfully rewritten the compiler and it now has the debug directory section. But when executing the resulting program, it throws an exception saying "BadImageFormatException: Index not found". I think that it results from the target platform being x86 and executing the program on x64 machines, but I don't understand why it's happening because I don't change the target platform from

[2018-07-27 14:53] MatthewLymer commented on #11897
I'd like this functionality built into .NET Core.  Thanks for your effort on the library @mj1856, it's very useful for us.

[2018-07-27 15:10] bartonjs commented on #31419
Seems to work fine in the tests.  I added

[code]

to the bottom of https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Encoding/tests/Asn1/Serializer/X509DeserializeTests.cs#L15, and it wrote it back out correctly.

Your missing sequence points to not having set ExplicitTag=true, and in the PR you seem to have ExplicitTag=true on SubjectUniqueId, making me wonder if you

[2018-07-27 15:16] davidsh commented on #31420
Using 'SslProtocols.None` implies the use of the OS's "default" set of TLS protocols, ciphers, etc.  It is possible that on some Linux OS's, the default set doesn't include cipher suites that use Key Exchange algorithms with forward secrecy.

`SslProtocols.None` doesn't mean use the "strongest".  It simply means use the OS default set.

[2018-07-27 15:18] davidsh commented on #31420
cc: @bartonjs @wfurt - please comment on this.  Not sure if this is really a bug in .NET Core code or just how OpenSsl works.

[2018-07-27 15:26] Jeff-Lewis opened #31423 "System.Net.Http.HttpRequestException: The server returned an invalid or unrecognized response"
Similar to #30989 and potentially [others](https://github.com/dotnet/corefx/issues?q=is%3Aissue+%22invalid+or+unrecognized+response%22+is%3Aopen), we're getting `System.Net.Http.HttpRequestException: The server returned an invalid or unrecognized response` when  making a HTTPS certificate authenticated request to Bloomberg's Web API. We want to use dotnetcore but this is blocking us.

- Windows 10

[2018-07-27 15:30] MarcoRossignoli commented on #30188
@ericstj i think you can assign this issue to me if you want, i moved source https://github.com/dotnet/corefx/compare/master...MarcoRossignoli:performancedata and did some tests offline https://github.com/MarcoRossignoli/marcorossignoli.github.io/blob/master/corefx/src/Lab/PerformanceData/Program.cs
I'm not so "expert" with this version of performance counter definitions, but seems to works!Take a

[2018-07-27 15:38] davidsh commented on #31423
@Jeff-Lewis

Can you provide PerfView ETW traces for this?  We would like to see "*Microsoft-System-Net-Http" traces.

See this link for doing traces:
https://github.com/dotnet/corefx/blob/master/Documentation/debugging/windows-instructions.md

Helper scripts are available at https://github.com/dotnet/corefx/tree/master/src/Common/tests/Scripts/Tools. Run net_startlog.cmd as Administrator, run the

[2018-07-27 15:43] davidsh commented on #31415
Duplicate of #24430

[2018-07-27 15:43] #31415 closed

[2018-07-27 15:46] jeffschwMSFT commented on #31405
We are adding reg-free COM support in .NET Core 3.0.  Check out https://github.com/dotnet/core-setup/issues/4314 for status.

This is good to hear, we are expanding our Windows COM support in .NET Core 3.0 to make this even more seamless.

This is a common scenario for our customers.  You can support this by either recompiling per platforms with if defines, or doing runtime checks by platform.

cc

[2018-07-27 16:02] ericstj commented on #3708
This is a  rough strawman as I know folks will have contention with a static event handler but I think it makes since here given its backing a static API.

[code]

Design considerations:
- There should be no return value from assert.  If an assert handler wishes to impact the process it must do so from within the handler (eg: throw exception, log, kill process, etc)
- There is not outer context pa

[2018-07-27 16:06] ericstj commented on #30188
Absolutely.  Thanks for looking into this!

[2018-07-27 16:13] davidsh opened #31424 "HTTP2: SocketsHttpHandler AppContext and Env variables for opt-in"
API reviews for #30527 and #31207 indicated that we should not add public APIs for SocketsHttpHandler  / HttpClientHandler HTTP/2.0 opt-in. Instead, we should have AppContext and evironment variables for this.

Following the naming conventions for other SocketsHttpHandler switches:
https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.0.md

[code]

We can add the following to opt-in to

[2018-07-27 16:14] davidsh commented on #31424
cc: @dotnet/ncl @stephentoub

[2018-07-27 16:15] davidsh commented on #30527
Closing this in favor of #31424.

[2018-07-27 16:15] #30527 closed

[2018-07-27 16:15] davidsh commented on #31207
Closing this in favor of #31424.

[2018-07-27 16:15] #31207 closed

[2018-07-27 16:22] Clockwork-Muse commented on #31275
@MarkusAmshove - yeah, but ignoring a return value is (almost always) a programmer error, and the compiler should be squawking at you for that.

[2018-07-27 16:35] MarkusAmshove commented on #31275
Then the Roslyn team needs to do something, because this doesn't yield an error or warning:

[code]

[2018-07-27 16:36] AaronRobinsonMSFT commented on #31405
@Evmaus-MS As @jeffschwMSFT  mentioned this is definitely something we are looking at for 3.0 and please follow the referenced issue for RegFree COM support. I have extensive experience working with DIA and it doesn't really require COM at all, that is a historic artifact for implementation. If this is really blocking and you have already done the work to ship the DLL app local, I would recommend

[2018-07-27 16:38] Clockwork-Muse commented on #31275
....I know it doesn't _now_, but in my opinion it should.

[2018-07-27 16:38] #30677 closed

[2018-07-27 16:45] bartonjs commented on #31420
Looks like a bug.

https://github.com/dotnet/corefx/blob/30148bf4a56ea5dc934893f8b87367ff221014a6/src/Native/Unix/System.Security.Cryptography.Native/pal_ssl.c#L70-L110

The early return means it doesn't call `TrySetECDHNamedCurve`.

I'd just move the ECDH init code to above the protocols part (and early-return-if), instead of having it at the end.  And, of course, check that the managed code does

[2018-07-27 16:46] cdmihai commented on #31414
Workaround implementation:
[code]

[2018-07-27 16:48] tannergooding commented on #29026
This is linked to the compiler feature: https://github.com/dotnet/csharplang/issues/1738

[2018-07-27 16:51] davidsh commented on #31420
cc: @danmosemsft - possible 2.1.x servicing

[2018-07-27 17:00] davidsh commented on #31304
An early RFC draft of dealing with NT auth and HTTP/2.0:

https://tools.ietf.org/id/draft-montenegro-httpbis-multilegged-auth-01.html

[2018-07-27 17:01] tannergooding opened #31425 "Investigate moving the types in `System.Numerics.Vectors` to use Hardware Intrinsics"
Today, hardware acceleration of certain types in the `System.Numerics.Vectors` project is achieved via `[Intrinsic]` attributes and corresponding runtime support. There are a few downsides to this approach:
* Minor tweaks to the backing implementation require shipping a new runtime
* It is not obvious that the code has a hardware accelerated path (outside reading documentation)
* Many of the types

[2018-07-27 17:02] tannergooding commented on #31425
Related to https://github.com/dotnet/corefx/issues/17214

[2018-07-27 17:04] tannergooding commented on #31425
I had done some basic/preliminary investigation some time back and the numbers looked promising: https://github.com/dotnet/corefx/issues/25386#issuecomment-361137982

[2018-07-27 17:06] safern commented on #28355
This seems to be fixed, I don't know if it was by changing to SDK projects, but now I'm able to debug corefx tests running in linux and even debug remotely with Visual Studio :smile:

[2018-07-27 17:10] tannergooding commented on #31425
I am marking this up for grabs in case someone from the community wants to work on this. If you want to take a stab, feel free to say so and I can assign the issue out.

The "Microsoft DirectX Math" library is open-source, MIT-licensed, and has existing HWIntrinsic accelerated code for many of these APIs (but for Native code): https://github.com/microsoft/directxmath. This would likely be a good s

[2018-07-27 17:16] danmosemsft opened #31426 "Port System.Media"
This is a Windows specific namespace. In .NET Framework it's in System.dll and has no relationship I see with Winforms so probably it should go in CoreFX perhaps in System.Windows.Extensions.
[code]

Any tests that emit sounds should be outer loop..

[2018-07-27 17:16] tannergooding commented on #31425
FYI. @eerhardt, @danmosemsft, @CarolEidt, @fiigii

[2018-07-27 17:16] bartonjs commented on #31414
Since (ReadOnly)Span already takes the start and length into account, the overloads just create clutter.  Caller-slicing seems much better.

[2018-07-27 17:17] tannergooding commented on #31425
Also CC. @benaadams, who I know has looked at vectorizing/improving some of these types previously

[2018-07-27 17:18] danmosemsft commented on #31425
@hughbe in case he is interested in a meaty task.

[2018-07-27 17:48] huanwu opened #31427 "Port the fix #21942 to desktop"
Need port #21942 to the desktop. And then enable the test on corefx.

[2018-07-27 17:49] garethwarry commented on #24430
What might be the ETA for fixing this issue?

[2018-07-27 18:01] tannergooding commented on #29026
Updated the OP with the correct `AttributeTargets` values:
* Module
* Class
* Struct
* Constructor
* Method
* Property
* Event

Assembly isn't included because you can have multiple modules from different sources
Enum and Interface aren't included because you can't implement methods on them today. We will need to revisit if such functionality becomes possible (both are currently tracked as languag

[2018-07-27 18:28] danmosemsft opened #31428 "Port more TraceListeners"
These event listeners were not ported to .NET Core. Suffixed is the % of netfx compat lab submissions that use them: this is the best proxy for general usage in apps and non public libraries.
[code]
In comparison System.Diagnostics.TextWriterTraceListener, which is already ported, has 20%.  Some of them use it as a base class. DelimitedListTraceListener is also already ported - 1%.

ConsoleTraceLi

[2018-07-27 18:28] joshfree opened #31429 "http call using WebClient.UploadData gives HttpRequestException but the exact same code works in .net framework"
_From @gronlund013 on July 26, 2018 14:4_

# https call using WebClient.UploadData gives HttpRequestException but the exact same code works in .net framework

# General
Application is a web api (.net core 2.1) application that uses a call to
[code]
to fetch information from external site.

I am trying to get licensing information from a licensing vendor and their code-sample works (.net framework

[2018-07-27 18:44] danmosemsft commented on #31379
@Anipik could you please take a look when you free up?

[2018-07-27 18:46] Anipik commented on #31379
yep I will take a look at it sometime next week :)

[2018-07-27 18:46] fiigii commented on #31425
@tannergooding Thanks for opening this issue. I agree that porting `S.N.Vectors` to managed code in HW intrinsic is much better to maintain. But before that, we may need to address some differences between `Vector128/256<T>` and `Vector2/3/4/<T>`. For example,
1. We should have an *internal* API to convert `Vector2/3/4/<T>` from/to `Vector128/256<T>`
2. `Vector128/256<T>` are immutable types, but

[2018-07-27 18:51] davidsh commented on #31429
@gronlund013

This error:

~"The requested name is valid, but no data of the requested type was found The requested name is valid, but no data of the requested type was found"~

is basically the same as "Host not found".   So, the networking APIs can't resolve your host name that you are passing in.

Can you provide the actual 'serverUrl' you are using in the code sample above?

[code]

[2018-07-27 19:01] #31419 closed

[2018-07-27 19:02] filipnavara commented on #31419
Thanks. It was the cut & paste error with `ExplicitTag=true` on a wrong field apparently.

[2018-07-27 19:04] caesar1995 commented on #31306
According to [RFC 7540 (HTTP/2):](https://tools.ietf.org/html/rfc7540#section-8.1.2.5)

   To allow for better compression efficiency, the Cookie header field
   **MAY** be split into separate header fields, each with one or more
   cookie-pairs.  If there are multiple Cookie header fields after
   decompression, these **MUST** be concatenated into a single octet string
   using the two-octet deli

[2018-07-27 19:11] ahsonkhan commented on #31380
I ran some of the tests in corefx locally and they are now passing. However, we weren't able to get a successful coreclr build with the change yet:
https://github.com/dotnet/versions/blob/370e36164ef030daf1086ac5ef8a7de8956d5724/build-info/dotnet/coreclr/feature/utf8string/Latest.txt#L1

Hence, the auto-PR doesn't include a coreclr update: https://github.com/dotnet/corefx/pull/31374

I have queued

[2018-07-27 19:11] gronlund013 commented on #31429
Yeah, I can provide it on monday when I'm back at work..
But.. I had 2 instances of Visual studio 2017 running, one with the netcore2.1 project and one with the .net framework project..

The exact same code worked on the .net framework project but gave me this exception on the netcore2.1 app.

Be back on monday :)

[2018-07-27 19:15] ahsonkhan commented on #31380
cc @dagood

[2018-07-27 19:17] danmosemsft commented on #31379
I'll set the milestone to 2.1.x for now.

[2018-07-27 19:35] danmosemsft commented on #31003
Fixing title.

[2018-07-27 19:36] danmosemsft commented on #31003
Debug.Assert behavior (not really related but on the same class) is tracked here https://github.com/dotnet/corefx/issues/3708

[2018-07-27 19:38] jianyunt opened #31433 "Occasionally CPR codes appear in cloudshell"
PowerShell in Azure CloudShell uses PowerShell core (pwsh) on Linux based container running in Kubernetes clusters. Our usability has improved significantly in recent releases. Millions thanks to .net folks!

Occasionally we are seeing CPR code in the cloudshell at the very beginning when launch the cloudshell. Are there any ways to get rid of it?  [Can it be configurable](https://github.com/dotne

[2018-07-27 19:43] danmosemsft commented on #31003
I've no doubt this was snipped because of a layering problem. In NETFX, Debug does its writing through TraceInternal, which handles writing to eg OutputDebugString through DefaultTraceListener (which is either instantiated by SystemDiagnosticsSection in machine.config or by fallback to it)

[2018-07-27 19:53] dagood commented on #31380
For future reference, the errors are failure to sign with `PB_SignType real`, because the definitions aren't whitelisted. I noticed the last successful build from the root definition had `PB_SignType test`, so @ahsonkhan just kicked off a new build with `PB_SignType test`.

There was also some confusion about where the `alphautf8string-26724-08` build came from, because it isn't in the history of

[2018-07-27 19:56] 4creators commented on #31425
IMHO we should take the opportunity when rewriting `Vector<T>` implementation to:

1. Use almost complete implementation of Intel HW Intrinsics up to `AVX2` to expand Vector API surface with several missing operations which were requested by community or became possible due to HW intrinsics implementation (this would require API proposal, discussion and approval)

2. Provide Arm64 HW intrinsics su

[2018-07-27 19:59] danmosemsft commented on #3708
Previously Debug.Assert like Debug.Write* and Debug.Fail would go to all the TraceListeners (and DefaultTraceListener would typically be hooked up to handle OutputDebugString, MessageBox, etc). We broke that connection because of layering, which means they all have fixed implementations. This issue being about making Assert more customizable, #31003 about Write.

This implementation seems to conti

[2018-07-27 20:01] ViktorHofer opened #31435 "Add TargetFrameworkIdentifier to generated configuration.props"
@ViktorHofer commented on [Wed Jul 25 2018](https://github.com/dotnet/buildtools/issues/2110)

Current we generate a configuration.props file which contains the following properties:

[code]

We should also set the `TargetFrameworkIdentifier` as external props/targets rely on this being set. E.g. `Microsoft.NET.Test.Sdk` which is used for xunit unit test explorer integration.

cc @weshaggard @eric

[2018-07-27 20:05] mikem8361 commented on #3708
Would that be more compatible with the desktop? To use TraceListeners.

-------- Original message --------
From: Dan Moseley <notifications@github.com>
Date: 7/27/18 1:00 PM (GMT-08:00)
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Mike McLaughlin <mikem@microsoft.com>, Assign <assign@noreply.github.com>
Subject: Re: [dotnet/corefx] Debug.Assert(false) does not behave as expected compared to f

[2018-07-27 20:06] tannergooding commented on #31425
I don't believe this is needed. You should be able to load a `Vector2/3/4` into a `Vector128<T>`, perform all operations, and then convert back to the return type trivially and without much (if any) overhead.

Users will also have their own vector/numeric types, so we should focus on making sure that getting a `Vector128<T>` from a user defined struct is fast/efficient in general.

I'm not sure wh

[2018-07-27 20:08] tannergooding commented on #31425
There will likely need to be some minimal helper library that operates solely on `Vector128<T>` that the `Vector2/3/4` code would call into. This would also be useful for other places in the framework that could take advantage of this.

It would need to be internal at first, and discussions on making it public could happen later.

[2018-07-27 20:09] tannergooding commented on #31425
Any port should be a two/three step process:
1. Do a clean port of the existing code and make sure it is equally performant
2. Do a rewrite of the existing APIs to make improvements, where possible
3. Add new APIs, as required, and implement accordingly

Doing them together makes it harder to review the code and track the changes.

ARM/ARM64 support should definitely happen, but only after the API

[2018-07-27 20:29] fiigii commented on #31425
That would be great if the runtime can eliminate the round trip. If not, the memory load/store may have considerable overhead when we have `__vectorcall` in the future.

Agree! Related to https://github.com/dotnet/coreclr/issues/19116

[2018-07-27 20:33] danmosemsft commented on #3708
We also probably want to be consistent with `Trace`. In .NET Core, `Trace` _does_ go to TraceListeners, however the DefaultTraceListener does not have a complete implementation for Assert. It has a bool for AssertUiEnabled but it doesn't use it.
https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.TraceSource/src/System/Diagnostics/DefaultTraceListener.cs#L96

[2018-07-27 20:35] tannergooding commented on #31425
I would certainly hope that we can.

From my view, anything that would prevent us from moving the `System.Runtime.Vector` project to use exclusively HWIntrinsics (outside the dynamic `Vector<T>` sizing feature) is a potential perf problem for users wanting to use HWIntrinsics themselves. So we want to get those types of things flagged, investigated, fixed, etc.

[2018-07-27 21:13] danmosemsft commented on #30341
@Etrimus do you expect to have time soon to put up such a PR as @jkotas suggests? I have gotten other reports of this now. It might possibly be a servicing candidate.

[2018-07-27 21:22] mconnew commented on #28921
@stephentoub and @saurabh500, there is a race condition here but it's due to a bug in TempAssemblyCache and not in the usage of Dictionary vs ConcurrentDictionary. TempAssemblyCache.Add creates a new instance of Dictionary containing the contents of the previous instance, and then adds the new entry to the dictionary. The bug is that it replaces TempAssemblyCache._cache too soon. It replaces it be

[2018-07-27 21:37] danmosemsft commented on #31181
@paul1956 not sure whether I mentioned before or not. [Here](https://gist.github.com/danmosemsft/88da57da7f11a9a3345abb5ec508d5e7) is a ref file generated from the .NET Framework binary. There is no need to type in additions to the ref file, you can just copy paste from that.

[2018-07-27 22:29] Anipik opened #31441 "Cannot find mkstemp nor mkstemp on this platform when buidling CoreFx in ubuntu 16.04"
I am not familiar with Linux system. Last couple of days I am trying to build .net core for android. I successfully built coreclr but when I try to build corefx I am getting following error.
Executing make install -j 1
/usr/bin/cmake -H/home/rokan/git/corefx/src/Native/Unix -B/home/rokan/git/corefx/bin/obj/Linux.arm64.Debug/native --check-build-system CMakeFiles/Makefile.cmake 0
Re-run cmake file:

[2018-07-27 22:30] Anipik commented on #31441
Closing this one ..it was just demo issue.

[2018-07-27 22:30] #31441 closed

[2018-07-27 22:32] pakrym commented on #31388
2.1 template

#### Description

Multiple calls to ReadAsync on the faulted pipe would produce exceptions with ever-increasing stacktraces.

#### Customer Impact
Customers would see exceptions with suspiciously long stacktraces:

https://github.com/aspnet/KestrelHttpServer/issues/2745
https://github.com/aspnet/SignalR/issues/2672

#### Regression?
No

#### Risk
Only the way we use ExceptionDispatch

[2018-07-27 23:06] jjdseattle opened #31443 "Add a StringComparer static property for an ordinal comparer based on 32-bit code-points or 8-bit UTF8 code-units"
It is increasingly common for .NET programmers to write code that interops with systems dealing with text encoded in UTF8.  It is non-obvious from its name along that StringComparer.Ordinal can produce different results from an ordinal comparison based on either 8-bit UTF8 code-units or 32-bit code-points. For well-formed UTF8, comparison based on UTF8 code-units matches comparison based on 32-bit

[2018-07-28 00:18] #31340 closed

[2018-07-28 00:30] ahsonkhan commented on #31380
The following PR consumes the latest coreclr build and **the InvalidProgramException test failures have been fixed** after @davidwrighton's change: https://github.com/dotnet/corefx/pull/31374.

However, we still see several test failures related to System.Collections.Tests:
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Ffeature~2Futf8string~2F/test~2Ffunctional~2Fcli

[2018-07-28 00:37] ahsonkhan commented on #31414
Can you please share a sample code snippet where you are seeing the complexity with slicing? We opt'd out of such API overloads, in general, since span is cheaply sliceable and that is the pattern we encourage unless there is a strong reason to deviate.

[2018-07-28 00:39] ericstj commented on #3708
Sure it does if the differentiation is happening inside debug itself.  It could check for a null event handler and use default behavior.

Feel free to take or leave my suggestions, I was merely suggesting a compromise.

You could add back TraceListeners but that'd require different API if you wanted it to work with reflection, since Debug.Listeners couldn't expose a TraceListenerCollection.  There

[2018-07-28 00:40] ahsonkhan commented on #31443
cc @krwq, @tarekgh, @joperezr

[2018-07-28 00:44] ahsonkhan commented on #31443
Here are the existing properties on StringComparer:
https://github.com/dotnet/corefx/blob/fcb0efcd92035c22c93bd7442adbb5a5a99cdffb/src/System.Runtime.Extensions/ref/System.Runtime.Extensions.cs#L947-L952

[2018-07-28 00:49] maryamariyan opened #31445 "ZLib1.2.8+ causes problems when ZStream gets moved by GC"
There is an issue with zlib 1.2.8.1+ where it is required for the ZStream object to remain at a fixed location.

We are currently defining and declaring ZStream in managed code in class `ZLibStreamHandle` and therefore clrcompression (which currently uses zlib 1.2.11) may hit issues when ZSteam from `ZLibStreamHandle` gets moved by the GC.

[Here](https://github.com/dotnet/corefx/blob/master/src/S

[2018-07-28 00:55] Nukepayload2 commented on #31181
@reduckted

At least `Err.LastDllError` is still useful if you use `Try ... Catch When` . You don't have to import `System.Runtime.InteropServices.Marshal` to get the last dll error.
[code]

[2018-07-28 01:16] danmosemsft commented on #31445
And you already have the fix it sounds like?

[2018-07-28 01:16] maryamariyan commented on #31445
yes

[2018-07-28 02:41] jjxtra opened #31447 "Microsoft.Windows.CompatibilityPack WMI exception"
System.Management throws a strange exception, but only on some Windows machines, other machines are just fine. Issue is here: https://stackoverflow.com/questions/50444876/type-initializer-for-system-management-wminetutilshelper-threw-an-exception...

[code]

This is in self-contained x86 Windows, .NET core 2.1, on Windows Server 2012 R2 x64. SQL 2014 also installed. Another identical server withou

[2018-07-28 02:56] danmosemsft commented on #31443
@grabyourpitchforks

[2018-07-28 03:34] danmosemsft commented on #31433
@wtgodbe

[2018-07-28 04:08] jkotas commented on #3708
There are 3 different cases:
1. handler added by a library
2. handler provided by an application
3. handler added by a library and handler provided by an application

The check for null cannot differentiate between cases 1. and 2. I think there would need to be an extra property to be able to differentiate between the two.

Alternatively, we can make the handler just a simple delegate. The last on

[2018-07-28 04:14] tarekgh commented on #31443
Just wondering why we need the 32-bit code points comparer too? is it commonly used? I think Utf8 is a higher priority here.

Also, the StringComparer has 3 methods (Equals, Compare and GetHashCode) which take string parameters which I don't think it makes sense to have these for Utf8 (or Utf32). We need to think about that.

[2018-07-28 04:54] Etrimus commented on #30341
@danmosemsft  yes, I have time to make PR, give me 2-3 days for this.

[2018-07-28 05:00] danmosemsft commented on #31181
As a temporary aid I have pushed some of the old VB test sources [here](https://github.com/dotnet/corefx/compare/master...danmosemsft:old.vb.tests?expand=1). These are very old tests. I think their only value is to look for test case ideas. The code is not really useable here. Note they were set up to write text to a file, which at the end of the test must match the baseline file which ends in `.b

[2018-07-28 05:38] danmosemsft commented on #30341
Sure, sounds good.

[2018-07-28 05:41] hjc4869 opened #31448 "EventSource is not emitting ETW logs."
EventSource on .NET Core 2.1.300 x64 (Running on Windows 10.0.14393.2368 x64) is not emitting event logs, thus logs cannot be viewed in eventvwr.msc
I'm not sure if it is unavailable by design, or I'm missing something important.

Sample code to reproduce:
EventSourceTest.Logging.dll
[code]

EventSourceTest.dll
[code]

Use `eventRegister.exe` tool to generate manifest, and use `wevtutil` to regist

[2018-07-28 05:54] paul1956 commented on #31181
@danmosemsft  Ay chance you could create an empty VB Test Project where we can add tests written in VB? Having the structure helps and avoids conflicts. Also thanks for the ref document, that also really helps.

[2018-07-28 06:08] danmosemsft commented on #30341
As an aside I looked at the Windows code for CreateProcess and indeed it validates the structure of the supplied environment block but does not attempt to look for duplicate names (whether differing in case or not). Only SetEnvironmentVariable/GetEnvironmentVariable examine the names.

[2018-07-28 06:54] paul1956 commented on #31181
@danmosemsft I am not going to make much progress unless I can get VS to show me errors. Is there an easy way to start again with your Project fixes. I have only changed 4 files and added 9 new ones and backed everything up.

[2018-07-28 07:37] danmosemsft commented on #31181
Do you have my VS fix in your branch? If not then you should rebase your branch on master to get it eg
[code]

[2018-07-28 09:48] MarcoRossignoli commented on #30188
On these sample there are some errors https://msdn.microsoft.com/en-us/library/system.diagnostics.performancedata(v=vs.110).aspx

[code]

maybe need to be fixed.

[2018-07-28 09:51] thuannguy opened #31449 "Inconsistent System.Net.Http reference issue with .NET 4.6.2 and VS 15.7.5"
I have a big codebase that I need to update all outdated dependencies to their latest versions. Originally, I wanted to also upgrade all projects to .NET 4.7.2 because it is promised that the System.Net.Http problem is solved completely there. After getting some guides from https://github.com/dotnet/corefx/issues/29622, I was finally able compile and run my application, but ended up with another p

[2018-07-28 13:57] Jeff-Lewis commented on #31423
FYI
- Cases with with and without a proxy made no difference. (Fiddler and a pac based proxy)
- Error still occurs when `ServicePointManager.Expect100Continue = false`

[2018-07-28 14:21] ankitbko commented on #31238
@Tratcher Will open issues in both the repo. As for the alternative, I am calling Dynamics CRM batch api. Not sure if CRM supports http/2. Need to check with PG team.

[2018-07-28 14:34] davidsh commented on #31449
cc: @ericstj

[2018-07-28 16:54] jjxtra commented on #31447
I think I found the problem:
[code]

Using the application .dll trimmer causes the issue, setting this to false fixes it. Why is this a problem?

[2018-07-28 17:10] jnm2 commented on #31447
/cc @ericstj

[2018-07-28 17:15] jnm2 commented on #31302
Putting the APIs on `System.String` make me more comfortable, knowing that I'm specifically getting the `String` hash which would match the equivalent string's `GetHashCode()`.

[2018-07-28 17:15] jnm2 commented on #31302
Putting the APIs on `System.String` makes me more comfortable. I want to know that I'm specifically getting the `String` hash which would match the equivalent string's `GetHashCode()`, as opposed to a potentially diverging more general sequence hash.

[2018-07-28 17:47] Anipik commented on #31181
@paul1956 The problem is you have not forked the repository. Probably you downloaded the corefx from dotnet and pushed to your account.
The things you need to do
- Delete the current repository from your github account as well as from local machine.(You can save the changes in some other folder )
- Fork the repository from the dotnet\corefx (The option is visible here https://github.com/dotnet/cor

[2018-07-28 18:10] danmosemsft commented on #31181
After cloning I would then do
[code]
Now your master points to the main repo (it points to upstream/master) but when you push your PR branch by default it will go to your fork aka origin.
This is probably confusing if you are learning gut. Check out some walk through online such as the github.com docs.

[2018-07-28 19:38] jjxtra commented on #31447
It's not the TrimUnusedDependencies property after all. Problem exists even with it as false.

[2018-07-28 21:47] davidkaya commented on #29323
@nabeelomer Are you working on this issue or can I pick it up?

[2018-07-28 21:55] filipnavara opened #31453 "System.Security: Use of BCryptExportKey API on UAP configuration"
Since the pinvoke checker commit (https://github.com/dotnet/corefx/commit/b1865ea0847a7a86baefe8378b772ecf0b785681) the `BCryptExportKey` API is defined as

[code]

The project file `src/System.Security.Cryptography.X509Certificates/src/System.Security.Cryptography.X509Certificates.csproj` is missing the following lines that enable the `uap`/`netcoreapp` definitions:

[code]

When the lines are ad

[2018-07-28 21:56] jjxtra commented on #31447
This code works on the same machine with the failure:

[code]

[2018-07-28 23:31] danmosemsft commented on #31447
I do not understand how this callstack is possible because ptr is checked for null already, here:
https://github.com/dotnet/corefx/blob/dfa1338034a24eacda7a89d63363ab267a603449/src/System.Management/src/System/Management/ManagementScope.cs#L385-L386
I recommend that you attach a debugger and debug what is going on there. Is the pointer somehow changing from not null to null?

[2018-07-28 23:31] #31350 closed

[2018-07-28 23:38] davidkaya commented on #31376
@bartonjs I'd take this one if it is possible.

[2018-07-29 01:12] jjxtra commented on #31447
Comparing IntPtr to null should not be possible as IntPtr is a struct, but perhaps the == operator comes into play some how. At any rate, it always returns false, even for IntPtr.Zero. See the following code:

[code]

[2018-07-29 01:13] jjxtra commented on #31447
This has been discussed... https://stackoverflow.com/questions/1456861/is-intptr-zero-equivalent-to-null

[2018-07-29 01:15] danmosemsft commented on #31181
OK sure, I added a VB test project in https://github.com/dotnet/corefx/pull/31455 . You can wait for that to be committed, or copy and paste relvant bits (just the .vbproj and the configurations.props should be enough to work), or pull down my PR branch locally and merge it ([info](https://help.github.com/articles/checking-out-pull-requests-locally/))

Now folks have the option of writing tests in

[2018-07-29 01:18] jjxtra opened #31456 "IntPtr should not be comparable to null, any attempt should be compile error"
IntPtr is the only struct that I know of that can compare to null. The comparison is always false, even for IntPtr.Zero. The following code should be a compile error, just as with any other struct:

[code]

This code compiles and is always false.

[2018-07-29 01:18] jjxtra commented on #31447
Issue logged: #31456

[2018-07-29 01:30] danmosemsft commented on #31447
Oh! - you're right @jjxtra  -- I didn't notice it was IntPtr. Yes, that's a bug. I put up a PR.

You'll still have to debug, to see which export is missing. Also where it is finding wminet_utils.dll. And what is the version of that file. We find it in the .NET framework. On my machine, it is
[code]
I have .NET 4.7.2

[2018-07-29 01:33] danmosemsft commented on #31456
Note that the compiler is just eliminating the comparison eg
[code]
becomes in IL
[code]

[2018-07-29 01:37] danmosemsft commented on #31456
It could certainly still be a breaking change to change such behavior. Plenty of times apps are running happily with some "incorrect" code and changing that can cause them to suddenly mysteriously stop working which can block upgrade. I'm not offering an opinion on whether that risk is acceptable (it's a little easier for .NET Core as it can be installed side by side).

[2018-07-29 01:44] sharwell commented on #31456
If you enable the "strict" feature of the compiler, the original code produces warning CS8073:

You can enable the "strict" feature like this:
https://github.com/Microsoft/perfview/blob/29788fe1dc799dc317d0a90f46bfae4ac6ccd333/src/Directory.Build.props#L10

[2018-07-29 01:46] jjxtra commented on #31456
Nice, I like that option. Never knew!

[2018-07-29 02:40] jjxtra commented on #31456
@danmosemsft Sure, I've wanted to do a string pull request anyway, so this would be a great chance to do so. Can you point me to .NET core build / testing instructions?

[2018-07-29 02:44] danmosemsft commented on #31456
Check the documentation folder, start with the developer guide document.

[2018-07-29 02:49] danmosemsft commented on #31456
I think properties in here apply to all projects. Do a clean build after editing
https://github.com/dotnet/corefx/blob/master/src/Directory.Build.props

[2018-07-29 02:52] tannergooding commented on #31456
CC. @jaredpar

[2018-07-29 03:31] jjxtra commented on #31456
Thanks for the info. Is there any way to load this up in Visual Studio and edit / compile from there? Or is it all command line?

[2018-07-29 03:51] danmosemsft commented on #31456
Ypu can open individual projects in VS (15.7+) just fine. However I am not sure whether there is an up to date .sln file including all of them.

[2018-07-29 05:16] bartonjs commented on #31376
@davidkaya Go for it.  I can't seem to assign it to you, so I've assigned it to me.

[2018-07-29 08:13] karelz commented on #29323
@davidkaya it's beena  long time, feel free to pick it up ...

[2018-07-29 08:15] karelz commented on #29323
I sent you collaborator invite. Once you accept, ping me and we will be able to assign it to you.
Pro-tip: Becoming collaborator will automatically subscribe you to all repo notifications (500+ per day), we recommend to set the Watching setting to Not Watching - which will send you notifications only for issues where you are mentioned, assigned or explicitly subscribed.

[2018-07-29 08:44] davidkaya commented on #29323
@karelz Thanks! Accepted.

[2018-07-29 09:17] davidkaya commented on #31376
@bartonjs I've created a PR.

[2018-07-29 09:21] gronlund013 commented on #31429
I created a test repository @ https://github.com/gronlund013/WebClientTest

The result I get is shown in the image
![netcorevsnetframeworkrest](https://user-images.githubusercontent.com/26566661/43364782-55259466-9321-11e8-939e-f560347dcc79.png)

I should probably let you know that I'm sitting at a huge company with very complicated proxy settings

[2018-07-29 11:07] #31422 closed

[2018-07-29 12:55] matthid commented on #31098
I just noticed that this is a problem with the SDK itself as well when it tries to download from a TFS/VSTS-based nuget server. The only "official" solution seems to be https://docs.microsoft.com/en-us/vsts/package/nuget/tfs?view=tfs-2018 which is **"not recommended"**. What would be the "recommended" way to handle this?

[2018-07-29 13:57] josh-endries commented on #1626
+1 Just a note to say I'm glad this still has some momentum. It's hard to follow with so many moving parts but seems like people are making progress. I created https://github.com/dotnet/coreclr/issues/6115 a while ago but the project I was working on then got put on hold. I really hope it's as easy as `pkg install dotnet && dotnet build` one day (without linux compat).

[2018-07-29 14:57] #28882 closed

[2018-07-29 17:08] nikunjratanpara commented on #22142
I am facing the same issue with .Net framework 4.6.1 with some reference to .Net Standard 2.0 libraries.
Please share workaround or resolution to this.

[2018-07-29 17:36] #31376 closed

[2018-07-29 17:53] danmosemsft commented on #29323
All yours!

[2018-07-29 19:16] danmosemsft opened #31459 "Take advantage of Remove being allowed during Dictionary<K,V> enumeration"
Now CoreFX has picked up the CoreCLR side of https://github.com/dotnet/corefx/issues/29979, we take advantage of it in CoreFX code.

We need to find code like this
[code]
or equivalently in Linq
[code]
and replace with just
[code]
which is half as much code, half the complexity, and most importantly does not allocate.

It might take a Roslyn analyzer to find these.

@MarcoRossignoli any interest i

[2018-07-29 19:17] danmosemsft commented on #31459
I meant @Wraith2 but either is good 😃

[2018-07-29 19:22] alexdegroot commented on #22142
When using the full framework, I went back to the traditional 'Assembly.Load' methods. Very unfortunate, but not way around this as we speak.

[2018-07-29 19:34] Wraith2 commented on #31459
I did make a start on this by writing an analyser to try and identify them. If you can tell me where that's from I'll see if it picks it up.

[2018-07-29 19:41] danmosemsft commented on #31459
https://github.com/dotnet/corefx/blob/fff6642338839959fffabb1e2e68b64014ce1ef5/src/System.Configuration.ConfigurationManager/src/System/Configuration/ConfigurationLockCollection.cs#L236-L243

The analyzer doesn't need to be "perfect" (if that's even possible) just reasonable enough hueristics that it catches few enough cases to eyeball individually. Even "removing from a dictionary while enumerati

[2018-07-29 19:43] davidkaya commented on #29323
@danmosemsft I've got a problem with running tests. I got following `SIGABRT`

[code]

I had this problem in the beginning however after `./clean.sh` it disappeared. Now I encountered it again but now `./clean.sh` does not help. This happens with all of the tests (even in other projects). Do you happen to know what could be the problem?

[2018-07-29 19:45] MarcoRossignoli commented on #31459
@danmosemsft this should be advertised on next release i saw a lot of code around did tmp list(not only corefx i meant)!

[2018-07-29 19:51] dlech opened #31460 "WinRtToNetFxStreamAdapter.Flush() throws NotImplementedException when used with Windows.Devices.SerialCommunication.SerialDevice"
I tried using `System.IO.WindowsRuntimeStreamExtensions.AsStreamForRead` to get a stream for a `Windows.Devices.SerialCommunication.SerialDevice.InputStream`. However, when I tried to read from this stream, I get a `System.NotImplementedException` when it implicitly calls `Flush` (if you are wondering why `Flush` on an input stream, the input stream and output stream are really one stream and ther

[2018-07-29 19:54] Wraith2 commented on #31459
My analyser wouldn't have caught that one because it wasn't using generic dictionary. If I relax the criteria to calls to Remove on an instance of a type with Dictionary in the name while inside at least one level of loop it is found though. Gist for the code is [here](https://gist.github.com/Wraith2/22a1285106d4d8dd07fc53acb82f048b) just change the paths around for your corefx and let it run.

[2018-07-29 20:00] jjdseattle commented on #31443
For well-formed UTF8, ordinal collation based on UTF8 code-units produces identical results to ordinal collations based on the represented 32-bit code-points.  (This statement is one of the design features of UTF8 encoding.)  So I'm asking for only one string-comparer.  It's name can be chosen to suggest that it performs UTF8-base comparison.  Or that it does comparison based on 32-bit code points

[2018-07-29 20:19] danmosemsft commented on #31459
You are right - I misread. Are there any interesting hits in corefx?

[2018-07-29 20:21] danmosemsft commented on #29323
No. Can you use a debugger to get acallstack? Try lldb: there are docs in this repo.

[2018-07-29 20:47] Wraith2 commented on #31459
A few but not nearly as many as I expected. I started digging into the first couple and got bogged down. List is currently:

corefx\src\System.Threading.Tasks.Dataflow\src\Internal\ReorderingBuffer.cs:154
corefx\src\System.Net.ServicePoint\src\System\Net\ServicePointManager.cs:148
corefx\src\System.Private.Xml\src\System\Xml\XmlNamespacemanager.cs:256
corefx\src\System.Data.SqlClient\src\System\Da

[2018-07-29 22:00] davidsh commented on #31429
Thank you for posting the sample applications.

I was not able to reproduce the problem with the NET Core 2.1 app:
![image](https://user-images.githubusercontent.com/7684835/43371092-bf0b21d4-933f-11e8-87c9-bfeae9f3355a.png)

I suspect that the problem might have to do with your environment and the proxy at your work.  We have several different bugs with .NET Core 2.1 and proxies.   Can you post m

[2018-07-29 22:02] davidsh commented on #31429
In addition, can you take PerfView ETW traces?  Please collect the "*Microsoft-System-Net-Http" traces.

See these instructions:
https://github.com/dotnet/corefx/blob/master/Documentation/debugging/windows-instructions.md

[2018-07-29 23:44] alfredmyers opened #31463 "X509Certificate2Collection.Find fails with hex pasted from certmgr.msc"
It's really a bug with certmgr.msc but it has been hitting people for almost a decade now.
In a quick search, the oldest mention dates back to [October 2010](https://social.msdn.microsoft.com/Forums/vstudio/en-US/6a988c25-b7d1-4e46-af88-1ec077d7051b/find-certificate-by-its-thumbprint?forum=csharpgeneral).

It's UI inserts an invisible [left-to-right mark](https://en.wikipedia.org/wiki/Left-to-righ

[2018-07-30 00:03] davidsh commented on #31238
Since this issue is not within CoreFx and you're opening bugs in other repos, we'll close this issue. Thanks for helping investigate!

[2018-07-30 00:03] #31238 closed

[2018-07-30 02:39] danmosemsft commented on #31459
Some of those look like actual hits eg HttpHeaders.cs, SqlDependencyListener.cs

[2018-07-30 02:46] paul1956 commented on #31181
Has Has System.Runtime.InteropServices.Flags been ported? If not is there a workaround?

[2018-07-30 03:12] dotnet-mc-bot opened #31468 "Test failure: System.Runtime.Serialization.Tests.InvalidDataContractExceptionTests/Ctor_SerializationInfo_StreamingContext"
Opened on behalf of @danmosemsft

The test `System.Runtime.Serialization.Tests.InvalidDataContractExceptionTests/Ctor_SerializationInfo_StreamingContext` has failed.

System.Runtime.Serialization.SerializationException : Unable to find assembly 'System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.

        Stack Trace:

           at System.Runtime.Seri

[2018-07-30 03:14] danmosemsft commented on #31468
@ViktorHofer it has `[TypeForwardedFrom("System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089")]` and this is not working in UWP/ILC.

[2018-07-30 03:14] danmosemsft commented on #31468
Ah dupe of #24916

[2018-07-30 03:14] danmosemsft commented on #24916
Another one
[code]

[2018-07-30 03:17] AArnott commented on #31144
@davidfowl: I'm looking into doing this now, for `WebSocket` and `Stream`. But this requires that I understand `SequencePosition` which appears to be undocumented. Any suggestions?

[2018-07-30 03:23] baulig opened #31469 "Question: Naming conventions, Conditionals and Questions for iOS PAL"
As part of Mono's adaption and integration of CoreFX's PAL layer, I have started to port some files to iOS.  Things are going well so far, but I have a few questions about how you guys want to handle a few things regarding to naming conventions and where to put certain files.  I felt like opening an Issue and asking about these things would be easier than having to edit a bunch of things as part o

[2018-07-30 05:17] gronlund013 commented on #31429
OS: Windows 10 v1709
Proxy is set to use automatic configuration script, its pointing to a pac.pac file
![image](https://user-images.githubusercontent.com/26566661/43377792-15841164-93c3-11e8-968d-c7db02789921.png)

Not sure I got the etl file correctly but here it is
[net_000001.zip](https://github.com/dotnet/corefx/files/2239708/net_000001.zip)

Can confirm proxy is the problem

1. Disconnect fr

[2018-07-30 05:43] ericstj commented on #3708
I don’t see 1&2 as different.  Application is just another library. If an app model wants to differentiate it needs to expose api or behavior to make it so.  That’s what I was getting at with set error mode.

[2018-07-30 05:46] danmosemsft commented on #29815
It doesn't fail on an official repro box. These do, though:
[code]

[2018-07-30 05:54] danmosemsft commented on #29815
If I clear the ftype association it does fail, but differntly:
[code]

[2018-07-30 06:49] dotnet-mc-bot opened #31471 "Test failure: System.Net.Sockets.Performance.Tests.SocketPerformanceAsyncTests/SocketPerformance_MultipleSocketClientAsync_LocalHostServerAsync"
Opened on behalf of @Sunny-pu

The test `System.Net.Sockets.Performance.Tests.SocketPerformanceAsyncTests/SocketPerformance_MultipleSocketClientAsync_LocalHostServerAsync` has failed.

System.AggregateException : One or more errors occurred. (A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected h

[2018-07-30 07:01] Sunny-pu commented on #15065
Failed again in 2.0 branch:
https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20180727.02/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FOpenExeConfiguration1_UserLevel_PerUserRoamingAndLocal

[2018-07-30 07:02] Sunny-pu commented on #15066
Failed again in 2.0 Branch: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20180727.02/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FexePath_UserLevelPerRoamingAndLocal

[2018-07-30 07:03] Sunny-pu commented on #19223
Failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20180727.02/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.SafeServiceControllerTests~2FGetServices

[2018-07-30 09:06] shvez commented on #14529
Thank you. good news

[2018-07-30 09:35] hazama-yuinyan commented on #29122
OK, I got over this wall, but got into another one. I can't somehow get a parameter handle correctly set. I think I did what the spec says, I mean, setting the first parameter handle if the method defines parameters and setting the next method's first parameter handle otherwise.
Maybe I misinterpret setting the next method's first parameter? What does it mean in the first place?

[2018-07-30 12:17] fasmat commented on #25102
I have the same issue, with the docker image provided by microsoft I'm getting exceptions in my code:

[code]

So far the only workaround I've found is to extend from the provided docker-file and add libc6-dev with apt-get:

[code]

If I run my code in a container build from this dockerfile the exception is not thrown.

[2018-07-30 12:56] jnm2 commented on #29122
Sorry I've been tied up with other stuff.

I can't find the document, but IIRC, each row in the method table points to a range in the parameters table. If a method has parameters, the method row points to the first parameter in the parameters table. If it does not have parameters, it points to where its parameters *would have started* (but since it has none, it is in fact pointing to the parameter

[2018-07-30 13:16] hazama-yuinyan commented on #29122
Never mind! I also can do other stuff.

I still don't get it.
What if the rest of the methods all don't have parameters? In other words, let's say we have the following methods.

[code]

What should the row of the method C point at? I thought it should point at what method B does, but it didn't work. I'm confused.

[2018-07-30 13:34] jnm2 commented on #29122
@hazama-yuinyan I think it should point past the end of the list then.

Using this pseudocode to show the general rule for decoding the table:

[code]

Therefore:
[code]

[2018-07-30 13:37] jnm2 commented on #29122
Method table:
// Rule: (next row's StartParameterIndex) - (this row's StartParameterIndex) = (this row's parameter count)
M0: Name=A, StartParameterIndex=0 // 0 - 0 = 0, therefore M0 has 0 parameters
M1: Name=B, StartParameterIndex=0 // 1 - 0 = 1, therefore M1 has 1 parameter
M2: Name=C, StartParameterIndex=1 // 1 - 1 = 0, therefore M2 has 0 parameters
M3: Name=D, StartParameterIndex=1 // (paramet

[2018-07-30 13:40] jnm2 commented on #29122
Method table:
// Rule: (next row's StartParameterIndex) - (this row's StartParameterIndex) = (this row's parameter count)
M0: Name=A, StartParameterIndex=0 // 0 - 0 = 0, therefore M0 has 0 parameters
M1: Name=B, StartParameterIndex=0 // 1 - 0 = 1, therefore M1 has 1 parameter
M2: Name=C, StartParameterIndex=1 // 1 - 1 = 0, therefore M2 has 0 parameters
M3: Name=D, StartParameterIndex=1 // (paramet

[2018-07-30 14:07] jkotas commented on #31445
We should manually allocate/deallocate unmanaged memory for ZStream to fix this.

[2018-07-30 14:20] hazama-yuinyan commented on #29122
Hmm, I tried that method, but mdv.exe recognizes that the last method has the parameter, not method B. I'm completely lost...

[2018-07-30 14:21] jnm2 commented on #28870
System.Collections.Immutable 1.5.0 (used from .NET Framewokr 4.6.2) demonstrates the same issue:

![image](https://user-images.githubusercontent.com/8040367/43403091-3f52e208-93e2-11e8-9f2e-18ae937501a9.png)

I spotted this in a coworker's PR today and it makes me very uneasy. Should I start a new issue or is this already being fixed?

[2018-07-30 14:37] vcsjones commented on #31463
/cc @bartonjs

[2018-07-30 14:37] jnm2 commented on #29122
My understanding may be wrong. Here's the [XML docs](http://source.roslyn.io/#System.Reflection.Metadata/System/Reflection/Metadata/Ecma335/MetadataBuilder.Tables.cs,0d0699978fd8dd24):

[code]

Does that help at all?

[2018-07-30 14:39] vcsjones commented on #31463
I agree that it's super annoying the the certificate dialog has (had) that copy-able character.

Though, I'm not sure CoreFX should be special casing a peculiar behavior by Windows. I could maybe see a user interface with a prompt to trim it, or a configuration reader if someone pasted it in to config.

This could also be a breaking change to some folks that were accidentally dependent on somethin

[2018-07-30 14:42] jnm2 commented on #29122
@tmat You can probably spot what's wrong off the top of your head?

[2018-07-30 15:14] jnm2 opened #31475 "System.Collections.Immutable reference assembly bugfix"
System.Collections.Immutable 1.5.0 (used from .NET Framework 4.6.2) demonstrates the same issue as https://github.com/dotnet/corefx/issues/28870:

![image](https://user-images.githubusercontent.com/8040367/43403091-3f52e208-93e2-11e8-9f2e-18ae937501a9.png)

([thisisfine.gif](https://imgur.com/gallery/3dWKFGG))

I spotted this in a coworker's PR today and it makes me very uneasy. @tannergooding poi

[2018-07-30 15:15] jnm2 commented on #28870
Opened an issue for System.Collections.Immutable at @tannergooding's suggestion: https://github.com/dotnet/corefx/issues/31475

[2018-07-30 15:33] danmosemsft opened #31476 "Various invalid comparisons between null and value type in System.Transactions.Local"
Need to fix these (generally by removing the unnecessary inequality with null) and then re-enable strict in the project file.
A little care is needed because some types with similar names are classes, not structs.
[code]

[2018-07-30 15:42] davidfowl commented on #31144
Websocket would be tougher but maybe you can make it work. Here’s an example of an incomplete implementation https://github.com/davidfowl/StringsAreEvil/blob/301d68ab85d17fbf2d3a4f0d01f33b04fac36ec5/StringsAreEvil/Program.cs#L351

[2018-07-30 15:47] danmosemsft opened #31477 "Prep key enums for binary serialization"
Broken out from #30183

- [x] System.Drawing.Color
- [x] System.Drawing.ContentAlignment
- [x] System.Drawing.Drawing2D.LinearGradientMode (low usage, but it's trival to add the attribute)
- [x] System.Drawing.FontStyle
- [x] System.Drawing.GraphicsUnit (for Font)
- [x] System.Drawing.KnownColor
- [x] System.CodeDom.MemberAttributes (Not part of Drawing, but seen heavily in data so presumably desi

[2018-07-30 15:47] danmosemsft commented on #30183
I have broken out the Enums above into #31477 as they are easy to deal with separately.

[2018-07-30 15:51] davidfowl commented on #31144
A few notes:
- this doesn’t handle cancellation
- it doesn’t handle the case where more than 4K needs to be buffered
- it doesn’t correctly yield the read if examined is non zero

I’m sure there are more bugs

[2018-07-30 15:59] hazama-yuinyan commented on #29122
Unfortunately no :(
I read that and understood that way. I'll take a look at the PDF.

[2018-07-30 16:01] tarekgh commented on #31445
@jkotas I believe that is what @maryamariyan is going to do. using unmanaged memory for ZStream.

[2018-07-30 16:05] jnm2 commented on #29122
@hazama-yuinyan Have you played with the indexes a bit to see if you can move around that last parameter?

For example, are the indexes 0- or 1-based? The sequence `0, 0, 1, 1` doesn't work, but what about `1, 1, 2, 2`? or other permutations of 0, 1, and 2? You have to hit it eventually.

[2018-07-30 16:06] nguerrera commented on #31475
This is a compiler issue, not a reference assembly issue.

See https://github.com/dotnet/roslyn/pull/25886 and the discussion there.

That array field on line 98 (of reference type) is dropped by the compiler when the assembly is imported.

The behavior you are seeing would reproduce if you compiled against the System.Collections.Immutable implementation assembly, or an assembly generated by the c

[2018-07-30 16:06] tarekgh commented on #26745
CC @Tanya-Solyanik

[2018-07-30 16:06] nguerrera commented on #31475
cc @gafter @agocke @jaredpar @weshaggard

[2018-07-30 16:08] hazama-yuinyan commented on #29122
OK, I'll try that!

[2018-07-30 16:11] tarekgh commented on #31443
If we expose a comparer, we have to support non-ordinal operations too. that mean UTF32 comparisons will not work as UTF8 comparisons.

[2018-07-30 16:18] hughbe opened #31480 "Marshal.GetObjectForNativeVariant with IRecordInfo doesn't match netfx behaviour"
From #31461

[code]

This passes with netfx

On netcoreapp:
[code]

[2018-07-30 16:31] hughbe opened #31482 "VisualBasic conversions in .NET Core do not use IConvertible"
This is a compat bug as .NET Framework supports this

[2018-07-30 16:32] hazama-yuinyan commented on #29122
https://dotnet.myget.org/feed/metadata-tools/package/nuget/mdv

This is mdv.exe. It's a viewer of the metadata. And GitHub accidentally stripped off what it says.

[2018-07-30 16:37] DylanFPS opened #31483 "ColorTranslator doesn't take into account Alpha values"
### Summary
Looking through the `ColorTranslator` code (specifically `ToHtml` and `FromHtml`), the translator doesn't take into account the Color's Alpha values. Is this intentional?

### Possible Solutions
- We could produce a 9 character hex value (#RRGGBBAA), for example Argb(212, 86, 184, 171) would produce #56b8abd4
- We could produce the colour in CSS/HTML notation (`rgba(86, 184, 171, 0.831

[2018-07-30 16:38] Cyberboss opened #31484 "Seemingly nothing can stop Webclient.DownloadAsync()"
Take this sample
[code]

Set url to [some big file](http://ipv4.download.thinkbroadband.com/50MB.zip) and run the program. Open performance monitor quick enough and sure enough you can see that dotnet.exe is still eating network usage despite webclient being both cancelled disposed! If you comment out the `tcs.SetCanceled();` line you can see that it will always block until the download is complet

[2018-07-30 16:45] davidsh commented on #31094
cc: @Tratcher This repro involves a lot of ASP.NET code. Perhaps this issue should be investigated there.

[2018-07-30 16:46] hughbe opened #31485 "msbuild /T:BuildAndTest /P:TargetGroup=netfx throws PNSE with Ref-Emit"
Running `msbuild /T:BuildAndTest /P:TargetGroup=netfx` causes a PNSE to be thrown in the following example:
[code]

[2018-07-30 16:51] danmosemsft commented on #31191
Here's what we are going to do. We do want such a package for extended collections. I will move this issue to corefxlab. We will create a package with a name something like System.Collections.Extensions  (or System.Collections.Experimental) and put types in a temporary namespace (eg System.Collections.Extensions.Experimental) so we have the option of moving some into the BCL if they prove worthy.

[2018-07-30 16:51] jnm2 commented on #29122
Oh, got it. So what was the parameter list pointer value for each methods in that scenario?

[2018-07-30 16:51] #31191 closed

[2018-07-30 16:51] danmosemsft commented on #31191
Issue moved to [dotnet/corefxlab #2406](https://github.com/dotnet/corefxlab/issues/2406) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-30 16:54] gafter commented on #31475
@nguerrera The compilers do pay attention to these private fields in "strict" more, which some people use, and we intend to support that more widely with the first warning waves in C# 8. Without fields in the reference assembly, that will not work.

[2018-07-30 16:56] davidsh commented on #31429
Thank you for the added information and the traces!

Looking at the ETL traces, I see this:

[code]

It looks like this bug is a duplicate of #31100.  Your code is using System.Net.HttpWebRequest calls (which call into HttpClient).  There is a bug causing an incorrect PlatformNotSupportedException to be raised. That exception is not surfacing but instead you're getting the ""The requested name is

[2018-07-30 16:57] jnm2 commented on #31475
Workaround for now discovered by @nguerrera: `<Features>Strict</Features>` in the project file. I hadn't actually tried it. Thank you! 🎉

[2018-07-30 17:00] Tratcher commented on #31094
This issue was moved to aspnet/Home#3371

[2018-07-30 17:00] #31094 closed

[2018-07-30 17:00] nguerrera commented on #31475
@gafter the surrogate fields of reference type are in the reference assembly.

[2018-07-30 17:01] nguerrera commented on #31475
They were not in old versions but that was already fixed.

[2018-07-30 17:03] wfurt commented on #31368
#26898 should resolve this and you can call shutdown() as workaround. As @stephentoub mentioned, we are trying to bend OS behavior where blocking IO operation behaves different on Linux/MacOS.

[2018-07-30 17:09] cdmihai commented on #31414
The reason would be the ability to quickly and mechanically port to Span / Memory. If all of the sudden users who have index massaging legacy code have to now reverse engineer the +1s, -2s, etc, it might slow down adoption, as something that could have took 1 second now takes half an hour to figure out why tests are failing.

[2018-07-30 17:11] hazama-yuinyan commented on #29122
Actually the previous example is taken from the real program, so it should be `1, 1, 2, 2, 2, 2`(there are 6 methods in real).

[2018-07-30 17:20] JeremyKuhne commented on #29815
Are we grabbing the registry info when it fails? I presume that would help.

What we might have to ultimately do is create our own dummy association for notepad.exe. Like *.shellextest. I'm hesitant to drop an association down to some exe we place.

[2018-07-30 17:30] luqunl commented on #24916
@ViktorHofer, could you provide a code snippet to repro the  S.R.InteropServices.* related issue?

[2018-07-30 17:30] jkotas commented on #2800
Ok, I think you have convinced me that the mixing of the different words is a bad idea.

[2018-07-30 17:35] pjanotti commented on #30623
Closing since we lack information to do anything about it.

[2018-07-30 17:35] #30623 closed

[2018-07-30 17:40] Anipik opened #31487 "IntPtr is (silently without compile error) not comparable to null... what to do?"
IntPtr is the only struct that I know of that can compare to null. The comparison is always false, even for IntPtr.Zero. The following code should be a compile error, just as with any other struct:

[code]

This code compiles and is always false.

Let me know if this belongs in a different repo, wasn't sure if

[Just FOr testing]

[2018-07-30 17:43] #31487 closed

[2018-07-30 17:49] JeremyKuhne opened #31488 "Need one step API for creating files on Windows with security"
The Framework (NetFX) APIs for applying security to created files are as follows:

[code]

The Windows specific security in .NET Core is in `System.IO.FileSystem.AccessControl`. We currently have no way to set security before creating an object. To facilitate porting from .NET Framework we should add some static helpers to `FileSecurity` and `DirectorySecurity` that allow doing this in one step. N

[2018-07-30 17:53] Anipik opened #31489 "IntPtr is (silently without compile error) not comparable to null... what to do?"
IntPtr is the only struct that I know of that can compare to null. The comparison is always false, even for IntPtr.Zero. The following code should be a compile error, just as with any other struct:

[code]

This code compiles and is always false.

Let me know if this belongs in a different repo, wasn't sure if

[Just FOr testing]

[2018-07-30 17:55] #31489 closed

[2018-07-30 17:57] JeremyKuhne commented on #31488
While we could, in theory, add the .NET Framework APIs as-is, it would create a library dependency and complexity/confusion for both Windows and Unix.  (We'd have to eventually add Unix specific ACL support here as well.)

[2018-07-30 18:02] cdmihai commented on #31414
Also, regarding the ease of porting, I wanted to quickly write some benchmarkdotnet tests on Span / Memory to see which one to use (as I hit some issues when having to split a Span and return a collections of some splits and started considering to use Memory instead) and realized that ReadOnlyMemory does not have the `IndexOf` and `Trim` extensions.

I can workaround IndexOf because I can convert

[2018-07-30 18:06] ahsonkhan commented on #31414
https://github.com/dotnet/corefx/issues/31011

[2018-07-30 18:27] yujayee commented on #28321
The test actually passed in reflection based serializer. Setting default value to NaN ends up calling the method [`IsDefaultValue(TypeMapping mapping, object o, object value, bool isNullable)`](https://source.dot.net/#System.Private.Xml/System/Xml/Serialization/ReflectionXmlSerializationWriter.cs,1079), it uses `Equals()` to compare the values which is totally correct. Only fix in IL serializer is

[2018-07-30 18:42] ahsonkhan commented on #30592
We generally recommend the user cache the span by calling Memory.Span once, and then operating on the span directly as much as possible. The cost of calling Memory.Span is non-negligible. Adding convenience, string-like APIs on Memory would increase the overall calls to Memory.Span (hidden from the user, as it would be how the APIs would be implemented under the covers) and would incur performance

[2018-07-30 18:54] xdvarpunen commented on #23542
I got strange vibes that MS Access is going to be out of production slowly... anyways it is very popular still 😀

👎  .NET Core support ODBC, but driver supports only 32bit and 32bit DLL can't be loaded to 64bit process so using ODBC is not an option. (OBDC Data Sources 32bit has Access options).
👎  OLEDB is not supported even through  Microsoft.Windows.Compatibility NuGet.
👎  The Office engines mi

[2018-07-30 19:02] wtgodbe commented on #31433
I personally don't see any reason not to allow `s_everReceivedCursorPositionResponse` to be configurable. @jkotas @ericstj is there anything stopping us from allowing users to set a value for this? https://github.com/dotnet/corefx/blob/103639b6ff5aa6ab6097f70732530e411817f09b/src/Common/src/CoreLib/System/Runtime/CompilerServices/DisablePrivateReflectionAttribute.cs#L7

[2018-07-30 19:03] vancem commented on #31358
Just FYI, I have created a CoreFX project called System.Diagnostics.Eventing for this and have mostly created the CorefX build files needed for it.   It does not quite build yet, but it is close.

The plan is that I will create a PR for this when I get it building.   I then need the community to add some testing for it (and we will review that we like all the decisions I made about exactly how the

[2018-07-30 19:13] mgravell opened #31492 "Proposal: pool-based list, similar to List<T>, but based on ArrayPool<T>"
Area: `System.Buffers`

Currently, POCOs/DTOs often default to `List<T>`; a good solid implementation, but not very pool friendly, despite the fact POCOs etc often have very predictable life cycles. Additionally, when lists need to resize (growth), arrays are currently just dropped on the floor.

To address these issues, and to make for effective memory usage for many scenarios, consider:

[code]

[2018-07-30 19:23] EgorBo opened #31493 "Registry API on Linux and macOS"
Currently Registry API throws `PlatformNotSupportedException` for all methods: https://github.com/dotnet/corefx/blob/master/src/Microsoft.Win32.Registry/src/Microsoft/Win32/RegistryKey.FileSystem.cs
but the file name (`RegistryKey.FileSystem.cs`) implies on a possible implementation using file system. Is there a task or plans to implement it?

PS: on Mono it uses files for macOS and Linux

[2018-07-30 19:25] ericstj commented on #31433
@wtgodbe can you explain more about why this is the best method to handle this?  What's the root cause of us showing those codes?

[2018-07-30 19:29] jnm2 commented on #29122
What happens if you generate only the first method by itself and use `1`? What about the first two methods and `1, 1`? Still the bad metadata error?

[2018-07-30 19:35] wtgodbe commented on #31433
My understanding is as follows: On Unix we don't have a great way of getting cursor position, so we use Cursor Position Requests - this involves blocking until we get a specifically-formatted response from the terminal, and interpreting it as a cursor position. However, if a client is connecting to CloudShell over a slow network connection, the response may be delayed long enough such that it come

[2018-07-30 19:37] ahsonkhan commented on #31414
That is a good point, but it would mean we would have to add such overloads to all other string-like APIs as well, like Compare, {Last}IndexOf{Any}, CopyTo. And as @bartonjs mentioned, that would result in quite a lot of clutter in the API surface (which are redundant to span slicing). In general, the caller slicing the spans has been good enough. For extenuating circumstances, writing your own ex

[2018-07-30 19:43] ericstj commented on #31433
I see, so they are trying to "opt-in" to the longer timeout from the start, because they know better than us that their console will be slow?  I'd feel better if they could call some public API to force this to be "primed" without writing to the console as opposed to using private reflection.  Perhaps it could even be a side-effect of some existing API where blocking for a longer timeout isn't so

[2018-07-30 20:01] wtgodbe commented on #31433
I'd be alright with changing `s_everReceivedCursorPositionResponse` to something like `s_delayForCursorPositionResponse`, and adding a `set` function for it. Does that sound like a good soluton @ericstj @jianyunt ?

[2018-07-30 20:07] #29979 closed

[2018-07-30 20:12] ViktorHofer commented on #24916
Just uncomment the Interop types in BinaryFormatterTestData.cs and rerun the tests on uapaot.

[2018-07-30 20:29] jianyunt commented on #31433
@wtgodbe you summarized our scenario very well. Thanks.
@ericstj, the cloudshell does not know the speed of network connection either. With the fix from @wtgodbe and @stephentoub, our user experience improved a lot already. Currently users hit this issue occasionally when launching the cloudshell. We are thinking if s_everReceivedCursorPositionResponse is, true, minchars =1, we can potentially get

[2018-07-30 20:38] stephentoub commented on #31433
We should not add any public surface area for this. It's an implementation detail on a subset of platforms.

[2018-07-30 20:44] Evmaus-MS commented on #31405
@jeffschwMSFT OK, thanks--that clears up the behavior we were seeing.

@AaronRobinsonMSFT Thanks for the suggestion--we wound up going this route, and are now able to ship 100% .NET Core.

Since our question was answered & we found a workaround, I've closed this issue.

[2018-07-30 20:44] #31405 closed

[2018-07-30 20:53] ericstj commented on #31433
Agree with Steven, think about how you can have cloudshell naturally communicate this to the Console implementation.  If you can ask yourself "why did I need to make the first timeout smaller?" and find a case where that's not as important perhaps that's an opportunity to absorb a longer blocking call.

[2018-07-30 21:00] pjanotti commented on #20588
Thanks for pointing that out @vbaderks I will take a look at this.

[2018-07-30 21:07] paul1956 commented on #31181
<Flags> its an attribute used on Enum's to Indicate that an enumeration can be treated as a bit field; that is, a set of  flags. I have tried to Imports System.Runtime.InteropServices but that doesn't help.

[2018-07-30 21:18] ToddBradley commented on #19771
@danmosemsft Low usage? Every single Stack Overflow explanation of how to create a subset DataTable from an existing one relies on AsEnumerable, which doesn't exist in .NET Core. The only workaround seems to be rolling your own subsetting code in a big for loop, which is ugly and messy.

[2018-07-30 21:32] mconnew commented on #30760
@geoffkizer, the current solution means that you can't use use NTLM authentication with the Expect header. It simply can't work as it abandons the request and throws an HttpRequestException at the caller. I ran some experiments and recorded what HttpWebRequest does on the .Net Framework so I'll give a quick overview here.

1. --> Client sends headers including an `Expect: 100-continue` header
2. <

[2018-07-30 21:41] stephentoub commented on #31493
https://github.com/dotnet/corefx/issues/14896

[2018-07-30 21:43] SteveL-MSFT commented on #31433
It seems sufficient for CloudShell to use reflection to set this member as I agree this (currently) is an exceptional case and not mainstream.

[2018-07-30 21:45] EgorBo commented on #31493
@stephentoub thanks!

[2018-07-30 21:45] #31493 closed

[2018-07-30 21:45] davidsh commented on #31424
Re-opening issue to track enabling various tests for HTTP/2 to use the opt-in mechanism.

[2018-07-30 21:45] #31424 closed

[2018-07-30 21:46] davidsh opened #31496 "Enable HTTP/2.0 related tests"
This issue tracks enabling various tests for HTTP/2 to use the opt-in mechanism.

[2018-07-30 21:47] davidsh commented on #31496
ref: #31424

[2018-07-30 21:47] davidsh commented on #31496
cc: @dotnet/ncl

[2018-07-30 21:58] jianyunt commented on #31433
It looks like private members contained in the .net assemblies are not available to reflection.  It has [DisablePrivateReflectionAttribute](https://msdn.microsoft.com/en-us/library/system.runtime.compilerservices.disableprivatereflectionattribute(v=vs.110).aspx) in corefx.

[2018-07-30 22:00] ericstj commented on #31433
We should avoid private reflection, that's worse than public API as it is an undocumented thing that we cannot break.  If we absolutely cannot think of a way to accommodate this (I don't think we are there yet) then I think we should consider an AppContext switch over private reflection.

[2018-07-30 22:01] pjanotti commented on #20588
Per documentation GetCommPorts reads from the registry, so it won't find ports that are not properly present on the registry (as described above). That said, it will avoid adding the Microsoft.Win32.Registry to the UWP package, it seems worth using it in UWP.

[2018-07-30 22:07] davidsh commented on #27861
As per my comment, https://github.com/dotnet/corefx/pull/30104#discussion_r206337828, we should try and fix DateTime.TryParse() in the CoreClr to allow for "UTC" string in addition to "GMT" string.

[2018-07-30 22:43] danmosemsft commented on #31485
What is the callstack?

[2018-07-30 22:52] keeratsingh commented on #31052
@weshaggard @joperezr Is this something you can help with ?

[2018-07-30 22:53] hughbe commented on #31426
I've got al these members working on .NET Core Windows on this branch: https://github.com/dotnet/corefx/compare/master...hughbe:expose-system-media

I'm not around for 3-4 days so can't work on it right now, and also waiting for https://github.com/dotnet/corefx-testdata/pull/26 to be merged

[2018-07-30 23:01] ahsonkhan commented on #31011
To confirm, these are the APIs being proposed, correct?

[code]

[2018-07-30 23:04] ahsonkhan commented on #30746
Should these go under an existing class, like BinaryPrimitives?

[2018-07-30 23:04] hughbe commented on #31485
Sure
[code]

[2018-07-30 23:13] cdmihai commented on #31414
True, there's many opportunities for improvement in that piece of code. I guess for me the expectation was to quickly to convert to Span and get some quick numbers so I can gauge how much new effort to put into it.

[2018-07-30 23:48] mconnew opened #31499 "hexBinary type not supported"
@EricStG commented on [Fri Jul 13 2018](https://github.com/dotnet/wcf/issues/3025)

When calling a method that returns a type with a field of `type="xsd:hexBinary"`, we get the following exception when targeting netcoreapp2.1:

[code]

Targeting net461, this operation succeeds.

Steps to reproduce:
- Create a new console application project
- Import the wsdl via connected services: [wsdl.zip](http

[2018-07-30 23:49] safern commented on #31428
I will take this one and talk to @brianrob as I go through them.

[2018-07-31 00:14] danmosemsft commented on #31052
They are out. @ericstj

[2018-07-31 00:17] danmosemsft commented on #31433
In this scenerio you know for sure the customer will always be on a console they will support CPR?

[2018-07-31 00:32] dustinsoftware commented on #31143
I cloned `corefx` and tried to repro the issue, however I was unable to do so on commit 5bff639f1afd949852bc098fed27c002d5916036. I'll attempt to checkout the 2.1 branch and see if it repro's there...

[code]

[2018-07-31 00:33] juepiezhongren commented on #31253
@stephentoub , Task.WhenAll(VTask0, VTask1, VTask2....) i means this kind needs optimization

[2018-07-31 01:15] tarekgh commented on #27861
I don't think supporting UTC is a good idea. it is not part of any standard and even it is better to get who is using it to fix such usage. I am seeing Twitter already did that which make sense. you may look at following link for some similar discussion

https://stackoverflow.com/questions/25658897/is-utc-a-valid-timezone-name-for-rfc-1123-specification

The issue is if we start to support such th

[2018-07-31 01:39] vcsjones commented on #30746
I would suggest a new class, nothing existing leaps out at me as a good candidate. I like the namespace in the proposal, but not the class name. Two types named `Span` is confusing.

I'm also not sold on the overloads accepting non-byte spans like `int`.

[2018-07-31 02:32] Berrysoft commented on #31181
But `FlagsAttribute` is under `System` namespace - [FlagsAttribute](https://docs.microsoft.com/zh-cn/dotnet/api/system.flagsattribute?view=netcore-2.1)

[2018-07-31 02:40] paul1956 commented on #31181
@Berrysoft  In VB its <Flags> under System.Runtime.InteropServices

[2018-07-31 03:28] LuceLuo commented on #30867
@quan01994
这个问题你已经解决了吗？

[2018-07-31 03:54] Berrysoft commented on #31181
I decompiled Microsoft.VisualBasic.dll of .NET Framework, and here is a part of the il code of enum `Microsoft.VisualBasic.VbStrConv`:
[code]
And it's actually under `System`.

[2018-07-31 04:26] danmosemsft commented on #31181
I will be out of office for a couple of weeks and @anipik can help you in my absence

[2018-07-31 05:43] Rajivts commented on #16680
@krwq Created PR #31501 containing test cases for System.Xml.XmlTextReader. The resultant code coverage is ~95%. The only methods not covered are 2 protected constructors, which were not referenced from anywhere. I am assuming its not dead code and is actually used from some class.

[2018-07-31 05:50] danmosemsft commented on #16680
To exercise protected constructors define a sub class in your test and call them from within it

[2018-07-31 06:31] sudsy commented on #24422
Still getting this error on Lambda even after upgrading to the 2.1 runtime on Lambda.

I am only calling NetworkInterface.GetAllNetworkInterfaces(); not trying to enumerate properties like mtu for instance. There does not appear to be any way to catch the error either.

[code]

[2018-07-31 08:05] kinshines opened #31503 "Does System.ComponentModel.Annotations/src/Resources/Strings.resx Support Localization?"
The current validation message in System.ComponentModel.Annotations/src/Resources/Strings.resx is only support English. Does any plan to support other language? such as Chinese or French?

[2018-07-31 08:34] sarzijan opened #31504 "asp.net core 2.1 System.Net.Sockets.SocketException when proxy is used"
Hello,

I have got following exception when we use proxy in httpclient

`System.Threading.Tasks.TaskCanceledException: The operation was canceled. ---> System.IO.IOException: Unable to read data from the transport connection: Operation canceled. ---> System.Net.Sockets.SocketException: Operation canceled
  --- End of inner exception stack trace ---
  at at System.Net.Sockets.Socket.AwaitableSocket

[2018-07-31 08:53] hazama-yuinyan commented on #29122
Well, I eliminated all the parameters because I can't eliminate all the necessary methods but it still says &lt;bad metadata&gt; and I took a look at mdv.exe's source code and realized that a `BadImageFormatException` causes it.
The exception says "Not index found" but I think it results from not having the same number of MethodDebugInformations as that of MethodDefinitions. I've already emitted e

[2018-07-31 09:28] gronlund013 commented on #31429
@davidsh Thank you for your help, I really thought it was a unique problem cause I couldn't find anyone else reported the same exception.

Do I just monitor #31100 and when it closes I grab the latest update and if it works I close this issue ?

[2018-07-31 09:41] mgravell commented on #31492
I figured the best thing to do would be to spike it and measure the impact; so I whipped something together based on `List<T>` and ran it through `BenchmarkDotNet`; testing `Add` in particular (respecting all the same features like version-tracking for enumerator breaking), and making sure to check for `ObjectDisposedException` (rather than failing in more obscure ways) - over a range of final ele

[2018-07-31 09:48] paul1956 commented on #31181
The code below is valid
[code]
But if you right click, Go To definitions on Flags it takes you to
[code]
And if you hover it shows you FlagAttribute.New()

[2018-07-31 09:59] 2mik commented on #21803
I agree with @fanoI. I suppose WinForms is still needed because they allow to very quickly create GUI applications for work not for admire. Many people that are not real developers, just engineers and hobbyists, able to contribute to our open source project because of WinForms. They will never get along with WPF or web development which are to complex for them.

[2018-07-31 11:22] hhblaze opened #31505 "Microsoft.XmlSerializerGenerator.Generator (v 2.0.0) under .NetCore fails while deserializing TimeSpan presented with an empty tag."
Microsoft.XmlSerializerGenerator.Generator (v 2.0.0) under .NetCore fails with the error on XML empty tag that must be converted into TimeSpan (MonitoringTotalProcessorTime).
Under .NetFramework 4.5 all works great.

System.InvalidOperationException: There is an error in XML document (18, 4). ---> System.FormatException: The string '' is not a valid TimeSpan value. at System.Xml.XmlConvert.ToTimeS

[2018-07-31 12:01] louislewis2 commented on #27247
I recently faced the same issue. I installed the shim package and found the same thing that @divega found.
Any news as to when this might be fixed?

[2018-07-31 12:01] jnm2 commented on #29122
I have no idea. I've never used mdv.exe. I guess it's possible it has a bug; either way, debugging the source code of mdv might be illuminating.

[2018-07-31 12:37] christiantinauer opened #31507 "Microsoft.XmlSerializer.Generator is missing "--compiler" flag"
With sgen.exe it is possible to pass flags to the compiler for strong name signing the assembly. I wasn't able to find a similiar functionality in Microsoft.XmlSerializer.Generator. Can this be added? Or should I use a different approach like [StrongNameSigner](https://www.nuget.org/packages/Brutal.Dev.StrongNameSigner/)?

Best regards,

Christian

[2018-07-31 12:45] jnm2 commented on #31475
Heh, I was apparently late to the party. Saw the twitter conversation last night and just now saw https://github.com/dotnet/corefx/issues/31456.

[2018-07-31 12:53] gfoidl commented on #31492
BTW:

In this proposal (binary) [serialization](https://github.com/dotnet/coreclr/blob/a08e7c3a3a0d71626e22d00a3e3fb8140093ee7b/src/System.Private.CoreLib/shared/System/Collections/Generic/List.cs#L26-L28) has to be taken into account. So this would be a radical breaking change.

[2018-07-31 13:13] hazama-yuinyan commented on #29122
That left me no options but to investigate it and I found out that in mdv.exe the exception says "Invalid relative virtual address" on ".ctor". I'm wondering why it says so, but I will try to modify it. Do you know why?

[2018-07-31 13:25] jnm2 commented on #29122
Looking at https://github.com/dotnet/metadata-tools/blob/master/src/mdv/Mdv.cs, `RelativeVirtualAddress` comes up twice. It looks like 0 means the method definition has no method body, and any other number is a relative virtual address of the method body (IL). https://www.ecma-international.org/publications/files/ECMA-ST/ECMA-335.pdf has a lot of info on this.

[2018-07-31 13:39] hazama-yuinyan commented on #29122
Oh, I guess I needed to write what method throws the exception. It's `generation.PEReaderOpt.GetMethodBody` at line 316 in mdv.cs. And as I edited the previous post, I'm setting the RVAs as the reader reads(thus they will be set as `AssemblyBuilder` emitted) but this exception is happening. Because the assembly `AssemblyBuilder` emitted will be executed without any problems I wonder why it's not w

[2018-07-31 14:09] mgravell commented on #31492
@gfoidl  there would be no field change in that event - I don't think there would actually be any serialization impact there, even for `BinaryFormatter`.

[2018-07-31 14:15] davidsh commented on #31504
There are several bugs in proxy handling in HttpClient in .NET Core 2.1.  Please see #30327 #30330 etc.

Does your proxy use authentication?  You said "our proxy is not secured" so that implies it doesn't.  But then you mention you use `UseDefaultCredentials = true` which doesn't affect the proxy but only the server credentials.

[2018-07-31 14:40] hazama-yuinyan commented on #29122
I guess I'm not setting the IL stream correctly. Will you find how to set it correctly somewhere?

[2018-07-31 14:48] #31463 closed

[2018-07-31 15:32] mburbea opened #31511 "Api Proposal: File.Move(string,string, bool) overload"
The proposal is to add the following member:
[code]
The reason is to solve a current frustration, that when calling the `File.Move(string, string)` method, an exception is thrown if the file exists. E.g. You have to check if the file exists before overriding it.

On windows, `File.Move` internally uses [`Kernel32.MoveFileExW()`](https://docs.microsoft.com/en-us/windows/desktop/api/winbase/nf-winba

[2018-07-31 15:33] OlegKarasik commented on #31492
@mgravell it is strange that you have such significant difference for `Presized` benchmarks.

The difference between `PopulateList` and `PopulateArrayList` in `Presized` scenarios shouldn't be significant and `List<T>` should be if not faster but at least not slower than `ArrayPoolList<T>`.

I've run them (only for Core using your gist) on my localhost and results confirm my initial assumption.

C

[2018-07-31 16:31] mgravell commented on #31492
@OlegKarasik  here's another run, just 100/500/1000 on CoreCLR this time

BenchmarkDotNet=v0.11.0, OS=Windows 10.0.17134.165 (1803/April2018Update/Redstone4)
Intel Core i7-5930K CPU 3.50GHz (Broadwell), 1 CPU, 12 logical and 6 physical cores
Frequency=3416974 Hz, Resolution=292.6566 ns, Timer=TSC
  [Host] : .NET Framework 4.7.2 (CLR 4.0.30319.42000), 64bit RyuJIT-v4.7.3131.0
  Core   : .NET Core 2

[2018-07-31 16:36] ericstj commented on #31052
That's odd, the package does indeed support netcoreapp2.1 (via `netstandard2.0` assets).  Something funny is going on with nuget.

FYI, here's the package content:
[code]

I tried to reproduce your issue using the following project, and it worked for me:
[code]

One idea: do you have a partially extracted package in your package cache?  Check it (typically `%UserProfile%\.nuget\packages\system.dat

[2018-07-31 16:45] MattGal commented on #31380
@ahsonkhan  / @dagood  not sure if this is resolved yet, but from my discussions with @joshfree and Levi, we've already had clean, real-signed builds of this branch.  Unless something's changed since thursday, we're using the master definition, manually queueing,  and specifying the branch @ queue time, so the definitions used have to either be white-listed or master would be broken too.

@mmitche

[2018-07-31 16:50] dagood commented on #31380
@MattGal That sounds like what I observed, I just don't know where it was communicated. But now that we know it's true, that is resolved. For clarity I think it would be nice to clean up the unused new root definition and the legs it spawned.

[2018-07-31 16:51] jianyunt commented on #31433
Yes. We support CPR. In our cloudshell scenario, we are using xterm.js as our terminal running browsers which supports CPR.

[2018-07-31 16:52] dagood commented on #31380
To clarify, though: the issue with not being able to get a green build is resolved, but this issue actually tracks a test failure (not blocking the build) that I don't know the status of.

[2018-07-31 17:16] rmkerr opened #31514 "HTTP2: Receiving a frame on a closed stream should not close the connection"
According to the spec, any (non-priority) frame received after a RST_STREAM frame should be treated as a (recoverable) _stream_ error:
[code]
The current implementation treats this error as a _connection_ error, and closes the underlying socket. For reliability reasons we should consider this error recoverable, and allow the other streams on the connection to continue.

[2018-07-31 17:19] giggio commented on #30327
Is there a timeframe and target version to release a fix for this problem? It is affecting our upgrade to .NET Core.

[2018-07-31 17:21] jp2masa opened #31516 "Using Microsoft.Win32.Registry on a .NET Standard extension"
Related to #24483, but I think it isn't clear enough.

## Scenario
There are both a .NET Framework and .NET Core applications which are extensible, and provide the extensibility APIs as one or more .NET Standard assemblies. One of the extensions, which targets .NET Standard, uses `Microsoft.Win32.Registry`, which is expected to work, but it fails on the .NET Framework application with `PlatformNot

[2018-07-31 17:36] dlech opened #31517 "Performance of System.Console.CursorLeft and System.Console.CursorTop is really, really bad in .NET Core 2.1.2 on Linux"
Test case:

I am trying to use [this library](https://github.com/Mpdreamz/shellprogressbar) as a progress bar for a `netcoreapp2.1` console app on Linux. However, I found that since it uses `System.Console.CursorLeft` and `System.Console.CursorTop` frequently (in loops), that it was completely unusable. If you click on the link, there are some GIFs in the README that show the demo program completi

[2018-07-31 17:50] rmkerr commented on #31315
I'm actually running into several test failures where the private Http2ProtocolException is thrown without being wrapped in an HttpRequestException.

For example, if I send a frame before the server connection preface:
[code]

[2018-07-31 17:52] davidsh commented on #31514
What should we do with this error?  Ignore it?  Log it?  It seems we don't have any other mechanism to surface this error to the API calls of HttpClient.  My guess is we should just log the error and ignore it.

[2018-07-31 17:56] joshfree commented on #27247
@louislewis2 just to confirm, you installed https://www.nuget.org/packages/Microsoft.Windows.Compatibility 2.0.0 and still had the same SqlClient issue?

[2018-07-31 17:57] rmkerr commented on #31514
I agree that we should log it. The spec also requires that we send the server a RST_STREAM frame notifying it of the error. From [section 5.4.2](https://httpwg.org/specs/rfc7540.html#StreamErrorHandler):
[code]

[2018-07-31 18:20] vivmishra commented on #31242
Approved.

[2018-07-31 18:28] louislewis2 commented on #27247
My reference is defined as
<PackageReference Include="Microsoft.Windows.Compatibility" Version="2.0.0" />

![errors](https://user-images.githubusercontent.com/7689775/43479266-456af422-9500-11e8-9e99-e5f31854a5bb.jpg)

[2018-07-31 18:44] d4hines commented on #25988
@FenrisWolfAtMiddleEarth, I'm using the above code in a Docker container targeting Linux running core 2.1, and I'm still getting a 401 error. Any suggestions?

[2018-07-31 19:07] davidkaya commented on #29323
@danmosemsft well, I got this in VS Code, last thing logged is "Discovering: System.IO.FileSystem.Tests"

<img width="1568" alt="screen shot 2018-07-31 at 21 01 13" src="https://user-images.githubusercontent.com/3832960/43481107-4f0aa7fc-9505-11e8-9d91-774031447ad7.png">

I've opened the dumped core in lldb and output for `bt all` is this:

[code]

[2018-07-31 19:12] wli3 commented on #31379
It looks like this impact large project solution builds. Currently Ubuntu takes 2 times of time to build incrementally than Windows

[2018-07-31 19:17] geoffkizer commented on #31315
Yeah, there seems to be a missing try/catch to wrap these. We should only be exposing HttpRequestException.

[2018-07-31 19:17] rmkerr commented on #31496
Do we currently have a plan as to how we will implement this? We could just disable test parallelization only for the HTTP/2 tests, but as far as I can tell that requires features introduced in a newer version of xunit ([link](https://github.com/xunit/xunit/issues/1179#issuecomment-339015963)).

[2018-07-31 19:30] danmosemsft commented on #29323
@tarekgH maybe could help

[2018-07-31 19:32] ahsonkhan commented on #31380
That is correct. We are successfully getting and consuming builds across coreclr/corefx. This issue is only capturing the specific test failures that might be caused by missing/extra commits.

For instance, @davidwrighton merged a fix for a JIT bug that was introduced recently which resolved most of the test failures. I would imagine the System.Collections.Tests have a similar issue (possibly miss

[2018-07-31 19:35] mckenzielee commented on #30951
Any update on this?

[2018-07-31 19:38] satano commented on #30177
Hello.

I can take this one. Do I understand it right that is is just about adding that `<DocumentationFile>` element to the project files?

[2018-07-31 19:41] Anipik commented on #31379
yeah it will be an improvement. I will post the numbers when I put the PR to fix this

[2018-07-31 19:59] danmosemsft commented on #31516
Maybe @safern has an idea

[2018-07-31 20:07] Anipik commented on #30701
@JeremyKuhne anything else that is required here ?

[2018-07-31 20:14] rmkerr opened #31520 "HTTP2: Assert failure when data frames are larger than the maximum allowed size"
When SocketsHttpHandler receives a frame that is larger than the SETTINGS_MAX_FRAME_SIZE (default is 16,384 octets), it should cause the connection to fail with a protocol error:
[code]

Instead, the current implementation fails an assert in the FrameHeader constructor.
<details>
<summary>Full stack trace of the assert:</summary>
[code]
</details>

[2018-07-31 20:43] FlsZen commented on #13329
I was expecting self-contained deployment was self-contained and found my way here. I'd also like to see this happen.

[2018-07-31 20:48] tarekgh commented on #29323
I believe this either a runtime issue or there is a real memory corruption. It just happened to perform corelcr internal call for DateTime.Now. the PAL call for DateTime.Now is very simple and not doing anything with the memory
https://github.com/dotnet/coreclr/blob/dd651509b9082f3117000e168007d5e1e1e72d32/src/pal/src/file/filetime.cpp#L159

@danmosemsft who from the runtime can help with this? CC

[2018-07-31 20:57] keeratsingh commented on #31410
@jbruce716  Could you kindly try @ruben-herold's suggestions and see if that resolves your issue ?

@bartonjs Would you happen to know if this is expected behavior or potential enhancement/bug ?

[2018-07-31 21:07] jkotas commented on #29323
@tarekgh What are the repro steps?

[2018-07-31 21:17] bartonjs commented on #31410
Sounds like yet another duplicate of https://github.com/dotnet/corefx/issues/29942.  The fix is in 2.1.3, which has not shipped yet.  (Seems rather like https://github.com/dotnet/corefx/issues/30147, specifically)

Somewhere in /etc/ssl/certs there's a file that your process can't read (no permissions, or broken symlink).  If you can solve that, the problem will go away.

[2018-07-31 21:33] Anipik commented on #31181
@paul1956 are u able to make it work by importing ```System.Runtime.Information``` ?

[2018-07-31 21:36] Anipik commented on #31379
I am able to make it work using ```utimes```

@wli3 can you confirm that following is the required output ?
[code]

[2018-07-31 21:54] wli3 commented on #31379
@Anipik yes, this looks good

[2018-07-31 22:09] pjanotti commented on #30423
@luqunl q: on my machine I need to change tests.targets to use `-usedefaultpinvoke:false`, otherwise, I hit the error `libc.dll not found`. Why the same is not needed for CI?

[2018-07-31 22:14] tarekgh commented on #29323
@davidkaya mentioned that in the comment https://github.com/dotnet/corefx/issues/29323#issuecomment-408700828 he may send the debugger dump file too if cannot repro it locally.

[2018-07-31 22:59] joshfree commented on #28924
Just following up on this older issue ---

.NET Core 2.1 SDK on Ubuntu 18.04 installation instructions are available https://www.microsoft.com/net/download/linux-package-manager/ubuntu18-04/sdk-current

Also the unix build instructions for working in the dotnet/corefx repo have been updated to support working on 18.04 https://github.com/dotnet/corefx/blob/master/Documentation/building/unix-instruc

[2018-07-31 23:01] joshfree commented on #28924
I'm closing out this issue now that the build instructions have been corrected.  Please feel to reactivate this issue if the docs referenced above do not meet your needs or if there's anything else Ubuntu 18.04-guidance-related that should be addressed.  Thanks!

[2018-07-31 23:01] #28924 closed

[2018-07-31 23:16] jnm2 commented on #25756
I updated the [gist](https://gist.github.com/jnm2/3660db29457d391a34151f764bfe6ef7). `tuple.ConfigureAwait` was causing only the first two tasks to be awaited due to a copy/paste error. 🤦‍♂️

[2018-07-31 23:27] mikeharder opened #31524 "System.Uri treats "\\.." differently than System.IO.Path"
`System.Uri` treats `\\..` differently than `System.IO.Path`.  Here's the repro code:

[code]

Which prints:

[code]

This behavior is consistent across both .NET Framework and .NET Core, so I doubt the behavior can be changed now due to compatibility, but I wanted to report the issue for awareness.

[2018-07-31 23:28] cdmihai opened #31525 "Proposal: add comparison extensions to ReadOnlyMemory<char>"
Provide the `ReadOnlySpan<char>` MemoryExtensions comparison methods to `ReadOnlyMemory<char>` as well (Equals, CompareTo).

[2018-07-31 23:29] jnm2 commented on #16010
@karelz, @kouvel: Is this issue stalled due to the concern @sharwell mentioned, the possibility of the compiler folks wanting `await (a, b)` to potentially have different semantics than they chose for `await Task.WhenAll(a, b)`?

I'd like to update the API set with ICriticalNotifyCompleted for the configured awaiters as I've done in the [gist](https://gist.github.com/jnm2/3660db29457d391a34151f764

[2018-07-31 23:53] kouvel commented on #16010
cc @tarekgh

[2018-08-01 00:10] cdmihai opened #31526 "Proposal: add EqualityComparer for ReadOnlyMemory<char> to enable collections with memory backed strings"
MSBuild has a bunch of HashSet<string> and Dictionaries with string keys. Due to how Equals and HashCode on ReadOnlyMemory are implemented, it's not possible to convert these collections to have ReadOnlyMemory<char> as keys. An EqualityComparer which derived from the actual view in the string would help here.

[code]

[2018-08-01 00:16] tarekgh commented on #16010
@sharwell please confirm you don't have any concern proceeding without the compiler/language more discussions.

@jcouv, as you are the original one, created this issue, do you have any comments or concerns? could you please look at @jnm2 proposal after he updates it and let's know if this matches your original thoughts.

@jnm2 I would say update the proposal to the latest anyway. this may wait a l

[2018-08-01 00:29] jnm2 commented on #16010
@tarekgh Thank you! [Updated.](https://github.com/dotnet/corefx/issues/16010#issuecomment-371006308)

[2018-08-01 00:37] tarekgh commented on #16010
@jnm2 I have moved the proposal to the top of the page for visibility. thanks for the update.

Will wait for @stephentoub feedback and then we can proceed.

[2018-08-01 00:50] tarekgh commented on #16010
@jnm2 any reason you are using
[code]

[2018-08-01 00:55] jnm2 commented on #16010
@tarekgh That's what .NET Framework uses on all UnsafeInCompleted implementations, and therefore that's what you'd want for .NET Standard even though it's a no-op on .NET Core if I understand correctly. However, since this is a proposal which is currently just for .NET Core, it probably makes sense to take it out. I didn't know which way you do things and therefore left it in to provoke discussion

[2018-08-01 00:56] tarekgh commented on #16010
ok, I'll take it out from the proposal.

[2018-08-01 02:03] geoffkizer commented on #31514
Note that the spec also says in section 5.1, re streams in the "idle" state:

this state MUST be treated as a connection error (Section 5.4.1)
of type PROTOCOL_ERROR.

[2018-08-01 02:05] geoffkizer commented on #31520
Yeah, this assert is broken. We should change this to validate the received frame size and cause a connection error if it's too large.

[2018-08-01 02:06] geoffkizer commented on #31394
InvalidateHttp2Connection must be getting called more than once, not sure why.  We should ensure it only gets called once.

[2018-08-01 02:12] jbruce716 commented on #31410
@bartonjs Yes, this is similar, but I didn't know if a different OS warranted a separate ticket, and #30147 was closed. (Sorry if I made the wrong choice)

@keeratsingh I will give @ruben-herold's suggestion a shot tomorrow, I need to finish an API for a different project first though

[2018-08-01 02:37] geoffkizer commented on #31514
To expand on my last comment: @rmkerr, in the case you're looking at, are we actually dealing with a closed (not idle) stream? There's not enough info in the description for me to determine what you're actually doing to cause the connection error. There is some code to try to generate a stream error (i.e. RST_STREAM and keep the connection alive) at least in certain cases. Are we not hitting this

[2018-08-01 03:39] quan01994 commented on #30867
@LuceLuo 什么问题

[2018-08-01 06:49] davidkaya commented on #29323
Basically what happened is that everything was working fine, I made changes in FileSystem (C# part). Then I made changes to Native code (pal_io.c) and thus rebuilt the whole corefx (I do not know whether I called `./build-native.sh` or `./build.sh`. After that the discovery part started failing. I do not know whether the changes could've caused that.

[2018-08-01 07:30] OlegKarasik commented on #31492
@mgravell

This is very strange. Initially when I saw you second run I thought that the difference can be caused by different versions of BenchmarkDotNet and different measurements mechanics (in the first run I used 0.10.14) but after upgrade I am still getting really strange results - `List<T>` is faster in all scenarios (even when `Presized=false`).

There are also a few interesting points:
* Ou

[2018-08-01 08:00] gronlund013 commented on #31429
Okey, thank you, will monitor :)

[2018-08-01 08:14] mgravell commented on #31492
I agree that is unexpected. All I know is: what I get is what I get, and what you get is what you get.

[2018-08-01 08:32] ZBAGI opened #31531 "Proposal: Required attribute and empty collections"
By **requiring** (aka. `RequiredAttribute`) something, most of the people expecting it to have a processable value. That is the case with string (by default empty strings are treated as missing data) however this functionality is exclusive to strings. I propose to add same functionality for collections to keep functionality consistency cross different types.

## Example / Usage

When creating mess

[2018-08-01 09:04] wparzych commented on #23780
Setting up X509Store may help.

       private X509Certificate2 GetMyX509Certificate(string path, string password)
        {
            try
            {
                X509Store store = new X509Store("My", StoreLocation.CurrentUser);
                X509Certificate2 cert;
                    cert = new X509Certificate2(File.ReadAllBytes(path), password, X509KeyStorageFlags.MachineKeySet);

[2018-08-01 09:18] benaadams commented on #31492
Probably from different amounts of RAM in the two machines; raised issue to add it to output https://github.com/dotnet/BenchmarkDotNet/issues/846

The additional costs from the ArrayPoolList are from renting and returning the arrays; and in the List from GC; otherwise the results should be mostly comparable.

[2018-08-01 09:32] mgravell commented on #31492
quite possibly; I've got 64GiB here (I really should see about that 128GiB upgrade...), but SQL Server and about a dozen redis servers in WSL will have been chewing up a lot of that. Plus... you know, two instances of `devenv` which are probably 10GiB each :)

[2018-08-01 10:42] FenrisWolfAtMiddleEarth commented on #26223
@karelz That cannot be used from a .net standard library, is that correct?

[2018-08-01 10:43] OlegKarasik commented on #31492
@mgravell @benaadams

@benaadams

This can be the reason. I have checked the source of [Rent](https://source.dot.net/#System.Private.CoreLib/shared/System/Buffers/TlsOverPerCoreLockedStacksArrayPool.cs,7093efb7d471fefa,references) and [Return](https://source.dot.net/#System.Private.CoreLib/shared/System/Buffers/TlsOverPerCoreLockedStacksArrayPool.cs,f7eb9c39a4bef48f,references) and looks like they

[2018-08-01 10:48] Wraith2 commented on #31477
I can't find any tests which do this, how would this be accomplished?

[2018-08-01 10:56] rlreis90 opened #31532 "[BUG] System.Net.Http NuGet package .NET 4.6.1 assembly conflicts"
I'm still running into the infamous System.Net.Http NuGet package problem at this moment. Is a fix forthcoming?

I have several .NET 4.6.1 projects which require the System.Net.Http NuGet package (because of package dependency from Azure). If I simply add the package, I get the warning that conflicts occurred. The generated assembly redirects do not solve the issue.

Both of these do not work:
[co

[2018-08-01 11:26] #31410 closed

[2018-08-01 12:00] tynor88 commented on #26223
@karelz yes exactly. That was my issue. I am doing this from a .NET Standard 2.0 library which is then consumed by a full .NET Framework project (entry point).

How would i be able to solve this issue with such a project structure?

[2018-08-01 12:05] Wraith2 commented on #31526
I think this would tie in with https://github.com/dotnet/corefx/issues/31302 in some way but would probably require a specific `ReadOnlyMemory<char>` comparer to be able to take advantage of the extension methods.

There is also a slight worry that while the name ReadOnlyMemory claims to be readonly it isn't actually guaranteeing anything about the underlying storage being immutable. String instan

[2018-08-01 13:09] Varorbc opened #31534 "DateTime => Timestamp"
this class [DateTime](https://github.com/dotnet/corefx/blob/3b24c535852d19274362ad3dbc75e932b7d41766/src/Common/src/CoreLib/System/DateTime.cs)，Please add a DateTime convert to Timestamp and Timestamp convert to DateTime method

[2018-08-01 13:36] benaadams commented on #31492
@OlegKarasik renting from the arraypool isn't faster than allocating; it reduces the pressure on the GC and has more predicable sustained performance than GCs and reduces the GC effects on the rest of the application that *is* allocating. Also adding a disposal check per `Add` is going to be slower in that function than List which doesn't have one.

@mgravell Feedback, `AsSpan` should probably be

[2018-08-01 14:12] GalaxiaGuy commented on #31534
There is already `ToUnixTimeSeconds` and `FromUnixTimeSeconds` on `DateTimeOffset`.

Since a timestamp represents an instant in time, converting from a `DateTime` directly is not ideal:

https://blog.nodatime.org/2011/08/what-wrong-with-datetime-anyway.html

[2018-08-01 14:36] Varorbc commented on #31534
thanks@GalaxiaGuy

[2018-08-01 14:36] #31534 closed

[2018-08-01 14:39] benaadams commented on #31526
`ReadOnlyMemory` as actual keys would perform badly and be problematic (wrapping mutable memory, holding reference to entire object just for a slice, lifetime issues)

However maybe as an extension for lookups on a `string` dictionary or hashset? Though Span would likely be more flexible at that point...
[code]

[2018-08-01 15:07] Wraith2 commented on #31526
So those methods would take the span convert to a string and then pass it to the dictionary? Unless the string borrowed the underlying storage that'd require allocation of a new string each time which doesn't seem desirable.

[2018-08-01 15:07] johnthcall opened #31536 "Proposal: Release Nuget packages for .Net 4.7.1 version of System.IO and System.Runtime dlls"
System.IO and System.Runtime both have NuGet version 4.3.0 packages which contain dll version 4.1.1.0 while .Net 4.7.1 has 4.1.2.0.
I have run into multiple issues with System.* NuGet packages where a Package A will depend on System.IO >= 4.3.0 but msbuild will unify the dependency to the GAC version. Is there a reason 4.1.2.0 dlls have not been released via NuGet?

[2018-08-01 15:53] pjanotti commented on #30423
I'm also having to manually delete some files when I try to run it multiple times.

[2018-08-01 15:57] pjanotti commented on #20588
Changes are ready but need to wait buildtools change reach CoreFx.

[2018-08-01 15:59] benaadams commented on #31526
No they'd need to be tied to the implementation; but they'd also only be valid for `char` types. Would need to use the same hashcode as the string used in the Collection and also same comparer

[2018-08-01 16:05] joshfree commented on #31536
@ericstj @terrajobst

[2018-08-01 16:08] joshfree commented on #31525
@ahsonkhan

[2018-08-01 16:08] #31475 closed

[2018-08-01 16:08] joshfree commented on #31511
@JeremyKuhne

[2018-08-01 16:11] Wraith2 commented on #31526
I don't think that would work. The keys are stored in the entries in the dictionary so there do actually have to be real strings unless you change TKey to be something more generic like IEnumerable<char>.

[2018-08-01 16:20] benaadams commented on #31526
The keys in the Dictionary would be strings; doesn't mean the values used to look up have to be strings; they could be ReadOnlySpan.

e.g. use case an intern Hashtable that returns strings for a ROS is the string has already been created

[2018-08-01 16:26] 4creators commented on #31536
This applies to all inbox packages for .NET Core. The problem is that a lot of libraries reference older versions of System.**.* packages and .NET Core and .NET build systems do not treat this package references as referencing framework inbox assemblies and restores them with runtimes. `Coreclr` test build downloads unnecessarily almost 2,5 GB of packages and old runtimes while it needs only about

[2018-08-01 16:27] Wraith2 commented on #31526
In [Dictionary.FindEntry](https://github.com/dotnet/coreclr/blob/5164e76ce01fc36833a7f5e6fb7b1ec2f55c2262/src/System.Private.CoreLib/shared/System/Collections/Generic/Dictionary.cs#L415) the stored and lookup keys are passed to the provided comparer. Both must be of type TKey for IEqualityComparer.Equals and string is sealed so we can't derive our way out. Is there a way around this that I can't s

[2018-08-01 16:39] davidsh commented on #31532
@ericstj can you help with this?

[2018-08-01 16:50] davidsh commented on #31429
Closing this issue as duplicate of #31122

[2018-08-01 16:50] #31429 closed

[2018-08-01 16:51] ericstj commented on #31536
With respect to the OP comment.  Those DLLs are no longer distributed via nuget.  NuGet dependencies for framework components/netstandard had too many issues.  We've gone back to the "inbox" model where 4.7.1 has reabsorbed all these DLLs back into the framework.  You'll find the reference dlls provided by the targeting pack, just like any other inbox dll.  The implementations will available in th

[2018-08-01 16:57] johnthcall commented on #31536
@ericstj: The only way I was able to resolve the build issue was uninstalling the 4.3.0 packages so there is no confusion by msbuild about which version of the dll to use. However this is a fragile fix as anyone adding another package with dependency on System.* will reinstall and require the team member to manually uninstall to get the build working. As you pointed out, if there was a way to avoi

[2018-08-01 17:04] satano commented on #31007
Hello. Can I take this one?

[2018-08-01 17:19] jainaashish commented on #31536
@ericstj I don't completely understand the scenario and ask from NuGet. But just wondering why can't NetStandard library package have framework dependencies instead of package dependencies on System.*? Wouldn't that be able to solve the conflict resolution issue?

And allowing to impact asset resolution but not dependencies seems really fragile and vulnerable. It will end up creating more trouble

[2018-08-01 17:26] bobuva commented on #22142
The only way I was able to get around this was to target both `net471` and `netstandard2.0`. The resulting binaries generated for `net471` includes `Grpc.Core.dll` that is the `net45` version.

[2018-08-01 17:27] ericstj commented on #31532
/cc @AlexGhiondea
You should no longer need the System.Net.Http package on .NET 4.6.1.  The latest package has been replaced with .NETStandard 2.0 support libraries which are installed here: `C:\Program Files (x86)\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\net461\lib`.  The version of the lib there is 4.2.0.0 and this is the redirect you should be using.

It sounds to me like projects are i

[2018-08-01 17:27] #28921 closed

[2018-08-01 17:42] ericstj commented on #31536
@jainaashish the latest netstandard package effectively does that.  The problem is with old packages. The goal would be to never download those packages on certain frameworks, so that the user doesn't need to download them just to get a placeholder file, or get the package assets removed by conflict resolution at build time.  Imagine if .NETCoreApp (and .NETFramework) could say "I provide the equi

[2018-08-01 18:07] cdmihai commented on #31302
Another helper method that would help MSBuild and also help StringSegment avoid allocations in its HashCode would be:

[code]

MSBuild has such an attempt, though it's hardcoded to OrdinalIgnoreCase: https://github.com/Microsoft/msbuild/blob/master/src/Shared/MSBuildNameIgnoreCaseComparer.cs#L119

[2018-08-01 18:14] WinCPP commented on #25344
Hi all. Want to keep you updated that I'm not getting cycles to do this one at this point in time. Apologies.

[2018-08-01 18:29] benaadams commented on #31526
It also needs equality testing; the hashcode `int` is a candidate check (in addition to bucket location) can be more than one entry with the same hashcode

[2018-08-01 18:36] safern commented on #31516
@jp2masa I need to know more detail about your scenario. How are you distributing your libraries? Are you producing NuGet packages or just sharing the published library output and referencing the assembly directly? How are you building them? Are them in a public repo I could take a look?

The more information you share the better I can understand the scenario and that way I can guide you to the ri

[2018-08-01 18:42] Phrohdoh commented on #26172
Unless I am misunderstanding something there are still portions of `System.Runtime.Caching` that will throw `PlatformNotSupportedException`s for `netstandard20` in `4.6.0-preview1-26801-04`.

Steps I took that lead to ^:
- Download and unzip: https://dotnet.myget.org/F/dotnet-core/api/v2/package/System.Runtime.Caching/4.6.0-preview1-26801-04
- Decompile `/lib/netstandard2.0/System.Runtime.Caching.

[2018-08-01 18:42] Eilon opened #31542 "XmlSerializer does not support ulong enums"
_From @jack0x539 on August 1, 2018 14:58_

[code]

Exception thrown "Value was either too large or too small for an Int64.". I'm not sure why enum reflection for XML serialisation assumes that all enum values will be convertable to int64, when it's perfectly legit to have an enum extend uint64.

_Copied from original issue: aspnet/Home#3375_

[2018-08-01 18:44] cdmihai commented on #31526
Good point, forgot about collisions. Stack confined lambdas would help here, but that would need language modifications:

[code]

[code]
An alternative to ref lambdas would be introducing a structural typing idiom like foreach and Enumerable which would lookup Equals and GetHashCode on structs. This way, one would pass an IEqualityComparer looking struct to the lookup collection.

[2018-08-01 18:57] Phrohdoh commented on #26172
Note that the `nuspec` download via myget contains the following:

[code]

Which, I believe, means it should not generate a "turd assembly" as @safern puts it [here](https://github.com/dotnet/corefx/pull/26354#issuecomment-401140341) due to the tfm of the decompiled assembly being `netstandard2.0`.

Please correct me if I am wrong.

[2018-08-01 19:01] JeremyKuhne commented on #31511
I'm fine with this. Replace() does this, but requires being on the same volume. MoveFile doesn't seem to have the same constraint. We should probably set MOVEFILE_WRITE_THROUGH as well.

[2018-08-01 19:03] JeremyKuhne commented on #31511
`bool overwrite` should be the param to match `File.Copy`. Can you tweak the signature? Then I'll mark it ready for review.

[2018-08-01 19:07] Wraith2 commented on #31526
Using existing features we could have a new type `StringLikeKey` which contains a reference to something that's string like and can compare that to other string like things. The performance on comparison won't be perfect because there will be type detection but actual comparison is hopefully a rare event. The GetHashCode result can be cached in it which would slightly mitigate underlying mutation.

[2018-08-01 19:13] gronlund013 commented on #31122
Since @davidsh closed my issue

Would like to mention that until this fix is present in a release, 2.1 is unusable for me and my teams.
We work in corporate environments daily and we deploy to corporate environments where proxy's and vpn's are almost always guaranteed..

I hope you fix this soon, I wish you good luck in this since we're not long from our next release that is based heavily on 2.1

[2018-08-01 19:15] JeremyKuhne opened #31544 "Add Win32 File.Encrypt/Decrypt() implementation"
It shows up in the ARM/x86 whitelist for OneCore.  (It is in the UniversalDDIs as described [here](https://docs.microsoft.com/en-us/windows-hardware/drivers/develop/validating-universal-drivers).)

We still need to throw for Unix. Move the implementation to `FileSystem`. This will require making The `FileSystem` implementation for Windows a partial class. We need a `FileSystem.Win32.cs` and `FileS

[2018-08-01 19:16] mburbea commented on #31511
@JeremyKuhne, Done.
`File.Replace()` requires you to have the destination file so i don't think its the same thing.
e.g.
[code]
Throws the following error: `Unable to find the specified file.`

I believe this should be atomic on NTFS for the same volume, but I could of course be wrong.

[2018-08-01 19:24] davidsh commented on #31122
This fix was approved for the future release/2.1.4 servicing release.  So, when that servicing update goes out, this bug will be fixed.

[2018-08-01 19:30] JeremyKuhne commented on #31511
@mburbea You are right, my bad.

[2018-08-01 19:58] benaadams commented on #31526
Might be better as a specific feature of a "Power Collection" https://github.com/dotnet/corefxlab/issues/2406 e.g. where the key is a string-type rather than trying to get the generic collections to work with this caveat for string-types?

[2018-08-01 20:02] wtgodbe commented on #31433
In speaking with Eric, we came up with a possible new scheme - for the first call, keep `minChar=0`, but extend the timeout. Then, if we don't successfully receive a CPR response, keep `minChar=0` with the smaller timeout. If we do receive a response, go to `minChar=1` with the longer timeout. This should allow us to correclty receive the first CPR response (if it's coming). @jianyunt what would b

[2018-08-01 20:03] rlreis90 commented on #31532
I did some testing with a new project and here are the results:

**1. Fresh .NET 4.6.1 project**
=> ver 4.0.0.0 @ C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.6.1\System.Net.Http.dll
**2. Add Microsoft.Azure.DocumentDB.Core package**
=> dll ver 4.2.0.0 @ C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\Microsoft.NET.Build.Extensio

[2018-08-01 20:05] keeratsingh commented on #31082
Re-Opening for 2.2 servicing:

**Description**
`Unexpected existing transaction` exception occurs when using `SqlBulkCopy` in `TransactionScope`

**Customer Impact**
Customers will not be able to use SqlBulkCopy in TransactionScope.

**Regression?**
No. SqlBulkCopy code path was missed when `System.Transactions` was ported over from .NET Framework to .NET Core.

**Risk**
Low. The code change is mi

[2018-08-01 20:24] safern commented on #26172
For .netstandard the implementation will always be a turd assembly for this package since it is not supported in UAP. However, we give a .netstandard reference assembly with all the available apis for you to be able to reference this package and build your netstandard library, however this is a tfm and runtime specific assembly, so that means that the implementation to be chosen should be dependin

[2018-08-01 20:32] vancem commented on #31358
I have created pull request #31545 that adds the reader logic to the System.Diagnostics.EventLog.dll which is ultimately part of the Microsoft.Windows.Compatability package.

If you do
[code]
You can pull down the change yourself and help add tests to the EventLogReaderTests.cs file

[2018-08-01 20:35] keeratsingh commented on #31052
@shpsyte Could you kindly try suggestions by @ericstj and revert back here with the information as per the result.

[2018-08-01 21:13] geoffkizer commented on #31514
@rmkerr Thanks, that's helpful info. It may be related to the RST_STREAM. It would be interesting to see if what happens with a stream that closes gracefully (i.e. sends a complete response rather than RST_STREAM).

Either way, I'm making a bunch of changes related to this, so we can test again once those are complete...

[2018-08-01 21:15] keeratsingh commented on #30518
@hounddog22030 Could you kindly share the information requested above.

[2018-08-01 21:26] jianyunt commented on #31433
The new scheme seems to cover our majority cases.  As the network connections are unpredictable , users may still hit the issue though - hopefully a lot less.

What number would you like to set as an extended timeout?

I cannot think of good ways to test it in CloudShell env because by the time CloudShell is ready for inputs, the minchars may always set to 1. How about you fork from your service b

[2018-08-01 21:28] dustinsoftware commented on #31143
Following up on this - I did repro on 5bff639 after all, the test example pasted above was not enough to repro the bug. I had to resort to making a real HTTP request to see the unexpected behavior.

[2018-08-01 21:56] ericstj commented on #31532
I'll explain what's going on.

1. Yep inbox in .NET 4.6.1 the version was 4.0.0.0.
2. MS.Azure.DocumentDP.Core has a ns1.6 implementation, this is what will apply to .NET 4.6.1.  4.6.1 actually changed from supporting ns1.4 -> ns2.0.  This change was breaking and in order to address that [we had to apply higher versions of the framework assemblies](https://github.com/dotnet/sdk/issues/1386) to sat

[2018-08-01 22:03] luqunl commented on #30423
@pjanotti , Do you know how to get latest CI result for UAPAOT?

[2018-08-01 22:07] wtgodbe commented on #31433
We use 10 when minChar=1, so perhaps 15?

I'll make changes locally. do you need a .dll built out of 2.1 or master?

[2018-08-01 22:12] rlreis90 commented on #31532
Thanks for the reply.
I don't think reloading the test project changed anything.

I think what really confused me is why would just removing DocumentDB.Core dll (uninstalling the package) change the dependencies. Diffing the change, it literally just removes the dll reference from the project.

So I'm trying to figure out the best way to solve this. From what I'm gathering, if I add ns1.6 assembly

[2018-08-01 22:18] terrajobst commented on #31401
Since this is slotted for .NET Core 2.2 we shouldn't wait until we have quorum, especially since the API surface is small. Two questions:

1. Are we sure `long` is the best representation for threads? What happens for cross-platform use? /cc @kouvel
2. Any reason we shouldn't use `DateTimeOffset`? We generally try to avoid `DateTime` in new APIs, if that's sensible/possible. /cc @tarekgh

/cc @dot

[2018-08-01 22:26] tarekgh commented on #31401
I prefer using dateTimeOffset too. DateTime can be ok if we ensure setting the DateTimeKind inside it as Utc but we can just avoid any zone confusion by returning DateTimeOffset instead.

[2018-08-01 22:26] pjanotti commented on #30423
I just go to the front page of mc and click on the UWP ILC for CoreFx, right now it gets me to https://mc.dot.net/#/product/netcore/21/source/prodcon~2Fcorefx~2Frelease~2F2.1~2F/type/test~2Ffunctional~2Filc~2F/build/20180801.01/workItem/System.ComponentModel.Composition.Tests.Execution/wilog

[2018-08-01 22:27] bartonjs commented on #31401
I don't see `long` being inadequate.  Is the concern just that it can way over-represent?

I agree on `DateTime` => `DateTimeOffset`, though.

[2018-08-01 22:29] jianyunt commented on #31433
How about 15s?

Let's use 2.1 because the current release is 2.1, right? Otherwise I won't be able to just replace one system.console.dll and expect the pwsh to work. Thank you Will.

[2018-08-01 22:32] MattGal commented on #30423
Just a nit to add there;  If you mean CI as in "Tests run on a per-checkin, or pre-checkin basis" we don't have this currently, because daily builds of the toolchain aren't generally available for folks outside the Microsoft organization.   I'd generally call those official builds.

[2018-08-01 22:32] joshfree opened #31547 "Add macOS 10.14 to the RID graph"
https://www.apple.com/macos/mojave-preview/

10.14 needs to be added to the pkg/Microsoft.NETCore.Platforms RID graph

[2018-08-01 22:35] brianrob commented on #31401
The choice of ```long``` is because OSX uses 64-bit thread IDs.  (Windows and Linux are both 32-bit).

We do always create the ```DateTime``` as UTC, but I'm happy to change it to ```DateTimeOffset```.

[2018-08-01 22:42] pjanotti commented on #30423
Thanks for the nit @MattGal I didn't mean the ones triggered by PR.

[2018-08-01 22:48] kouvel commented on #31401
The PAL uses size_t (`pthread_threadid_np` on OSX gets a 64-bit value), `long` should be fine

[2018-08-01 22:54] ZBAGI commented on #31531
## Open question
Currently by default empty collections are allowed as there is no mechanism to control that (via `RequiredAttribute`), so maybe for backward compatibility `AllowEmptyCollections` should be `true` by default? On the other hand i feel that *Requiring* something should mean that value of it is *required* and have to be provided (as is the case with string).

[2018-08-01 23:50] vancem commented on #31401
I think we have consensus that long is find for a threadID.   Bascially anything that is big enough for a pointer (which long is) is fine.    It was the cross-platform issue that pushed us from int to long (it was int until we discovered OSX uses something pointer sized).

I would like to push back on using DateTImeOffset.  I realize that from an API point of view it is nicer, but the 'standard' f

[2018-08-02 00:01] saucecontrol commented on #31425
This seems like a good enough excuse for me to take this on if nobody else is interested 😉

I'm at a bit of a loss how to start, though.  Even something as trivial as `operator +` on `Vector2` is twisting my brain.  As an intrinsic, the JIT knows whether the struct is currently in an xmm register and can emit just a `addps`.  If it's not in a register, it loads it with `movsd` before emitting the

[2018-08-02 00:08] safern commented on #31516
I was able to repro and by looking at your case I think you're skipping one layer of letting the runtime/nuget do the dependency graph resolution.

`Microsoft.Win32.Registry` do support .NET Standard, however it is a runtime/target framework specific package, and here you're producing a .NET Standard layout by publishing it (non-target, non-runtime specific) and loading the assembly manually, this

[2018-08-02 00:25] tannergooding commented on #31425
@saucecontrol, my initial experimentation can be found here: https://github.com/tannergooding/corefx/commit/f8625409692591fc7bc2ad5ac372f7bdbd724576

This is a case where, if the JIT isn't smart enough to do this, it probably should be. Most ABIs have some concept of `homegenous vector aggregate` values (structures that can be packed in one or more vector registers, and they should appropriately h

[2018-08-02 00:26] tarekgh commented on #31401
I am ok to use DateTime with Utc kind. The point I was trying to say is when users have DateTime object (when they don't know the source of this object), they will have to be careful when using this object in any time calculations especially when time zones are involved. if this is not a concern in your scenario, so having DateTime will not be a problem.

[2018-08-02 00:26] CarolEidt commented on #31425
#19116 deals with vectors wrapped in a class, which is different from wrapping them in a struct. The former is what involves escape analysis or stack allocation, while the other involves appropriate struct promotion and copy elimination. The JIT has room for improvement in all of those areas.

[2018-08-02 00:35] fiigii commented on #31425
Yes, in that issue, I also said

@CarolEidt Do you think this is a good time to imrpove the struct promotion for strctu-warpped Vector128/256<T>?

[2018-08-02 00:38] saucecontrol commented on #31425
Thanks, @tannergooding

I found my way over to your `Vector4` prototype, and I'm relieved to find it matches up pretty closely with my mental model.  I'll look into this a bit more in the next few days and see if I can commit to getting it done.  Depends how much is already in place as far as tests and benchmarks.

[2018-08-02 00:49] benaadams commented on #31425
Wouldn't it be better to replace the non-intrinsic methods first as that's actually a gain? Or is it to test that the current intrinsic methods match up when using the new intrinsics?

[2018-08-02 00:58] tannergooding commented on #31425
@benaadams, right. I think we want to first make sure there is no loss in existing performance and then work on improving general performance on the rest of the functions after that.

[2018-08-02 01:11] jp2masa commented on #31516
I didn't notice that the implementation was being published for the `win` runtime. So it's correct that `Microsoft.Win32.Registry` supports .NET Standard, but it's runtime specific. .NET Core knows how to find runtime specific assets, while .NET Framework doesn't, and that's the real issue here. That was always a problem, which I hit many times, but it's understandable. Thanks for the help!

[2018-08-02 01:11] #31516 closed

[2018-08-02 01:25] CarolEidt commented on #31425
I think it would be great to do that; I don't think it rises to the top of my priority list, but I would be supportive of others working on it.

[2018-08-02 01:27] fiigii commented on #31425
@CarolEidt Thanks! Let me give a try next week (after I finish `Avx2.Gather*` intrinsic).

[2018-08-02 03:44] #20588 closed

[2018-08-02 03:44] #23294 closed

[2018-08-02 06:15] OlegKarasik commented on #31492
@benaadams I just never thought that the speed difference is significant. Thanks for pointing this out.

[2018-08-02 08:33] filippostefanello commented on #18276
I share your hope as I need a solution to comply the GDPR's rules.

[2018-08-02 12:26] hounddog22030 commented on #30518
That's a pretty hefty lift;  give me a few days to do it.  I will start with an AWS Serverless Project template.  (https://aws.amazon.com/blogs/developer/serverless-asp-net-core-2-0-applications/)  Will that work?

[2018-08-02 14:34] Jeff-Lewis commented on #31423
@davidsh what are your thoughts? Can I provide any more information? Thanks.

[2018-08-02 15:32] davidsh commented on #31423
Thanks for the info!  I think we have enough to do our investigation.

[2018-08-02 15:36] rainersigwald opened #31559 "Hang in ReinitializeConsole while waiting for child process exit"
I've been getting reports of an intermittent hang in MSBuild running on Linux in the `dotnet` CLI build process. Original report with a fair amount of debugging info in case I drop something in this summary: https://github.com/Microsoft/msbuild/issues/3563

In two instances that I've observed, my process is hung in [`HandleToolNotifications`](https://github.com/Microsoft/msbuild/blob/ac19036b0de4f

[2018-08-02 15:37] rainersigwald commented on #31559
cc @tmds who was helping with this in the MSBuild bug.

[2018-08-02 15:47] tannergooding commented on #31425
@saucecontrol, thanks! Let me know if you do want to pick this up "more officially" and we can add you as a contributor and assign the issue out 😄.

**Note:** Being assigned the issue wouldn't mean that you have any obligation to actually complete the work or any kind of deadline for it. It is mostly to communicate that someone is "actively" working on it. If you decide to drop it at a later time,

[2018-08-02 15:54] tmds commented on #31559
This is where the write is stuck in the signal handler:
[code]
The strace shows several more threads stuck writing the same string (`"\33[?1h\33="`) to standard out.

Where does the standard out go to? Is it read by the parent process?

[2018-08-02 16:13] joshfree opened #31560 "<access sslFlags=“Ssl.SslRequireCer”> in .net core 2.1"
_From @junaidahmed92 on August 2, 2018 8:25_

I am converting my app from .net framework to .net core 2.1. Now I am facing two issues

1) In .net framework we could use `HttpClientCertificate` cert = Request.ClientCertificate;` So how can we use Request.ClientCertificate in .net core.

2) In .net framework we could set location config like

`<location path="MyPath">
    <system.webServer>
      <s

[2018-08-02 16:24] davidsh commented on #31560
cc: @Tratcher

[2018-08-02 16:28] tannergooding commented on #29247
Closing this as resolved, since we are now using inheritance to expose the intrinsics.

Any other issues tracked here should be moved to their own new issue.

[2018-08-02 16:28] #29247 closed

[2018-08-02 16:36] MarcoRossignoli commented on #31544
@JeremyKuhne is there a way to run remote invoker "as user"?Or test with `netuser /add` and runas a process to `type` encrypted file?Tests run elevated?I could try to work on this if you want!

[2018-08-02 17:13] Anipik commented on #31181
@paul1956 if u can point me to ur branch, I can take a look at it

[2018-08-02 17:18] tidusjar opened #31561 "Interop+Crypto+OpenSslCryptographicException after upgrading to .Net Core 2.1"
Hello,

It seems that after upgrading to .net core 2.1 my aspnet core app is throwing lots of exceptions on centos 7 with the following exception and stack trace:
https://gist.github.com/samwiseg00/e23fb96a9198061111c55b515724bc31

If the aspnet core app is running under root then this issue does not appear to happen.

here are some related packages installed on the machine:
[code]

This is the cs

[2018-08-02 17:39] #30821 closed

[2018-08-02 17:49] brianrob commented on #31401
Based on @vancem and @tarekgh's discussion, I can revert the proposal back to using ```DateTime```.  Does anyone have any objections to this?

[2018-08-02 17:56] cdmihai opened #31562 "Proposal: Add overloads accepting ReadOnlyMemory<char>[] to string concatenation methods"
In MSBuild, I've seen allocations coming from patterns like

[code]

or

[code]

If these methods accepted `ReadOnlyMemory<char>[]` then the implementation could avoid the intermediary allocations from calling ToString on each argument, by directly appending the view from each ROM.

[2018-08-02 17:56] cdmihai commented on #31562
@JeremyKuhne

[2018-08-02 18:03] TingluoHuang opened #31563 "Dotnet core 1.1 self-contained console app crash on OSX 10.13.2 (Exception Note: EXC_CORPSE_NOTIFY)"
https://github.com/Microsoft/vsts-agent/issues/1742

I have attached crash log shared by my customer.

[crash.txt](https://github.com/dotnet/corefx/files/2254613/crash.txt)

[Agent.Listener_2018-08-01-172908_oetest-macpro-03 (1).zip](https://github.com/dotnet/corefx/files/2254615/Agent.Listener_2018-08-01-172908_oetest-macpro-03.1.zip)

I saw few similar issues in the repository, but none of them

[2018-08-02 18:36] junaidahmed92 commented on #31560
Thanks for the answer. My app is deployed on local IIS

On Thu, Aug 2, 2018, 10:20 PM Chris Ross <notifications@github.com> wrote:

[2018-08-02 18:39] saucecontrol commented on #31425
@tannergooding, sounds good to me!  If you don't mind answering the occasional stupid question on gitter, I should be able to get this done.  Let's go ahead and make it official.

[2018-08-02 19:14] tmds commented on #31559
Maybe a consumer of standard out is blocking the application.

This could be the redirect to the build server, or docker log driver, ...

[2018-08-02 19:31] Wraith2 commented on #31562
The various individual path functions have ROS versions but both `string.Format` and `Path.Combine` lack them, of course neither could have params versions but the 1, 2 and 3 arg versions could be spannified I think and combined with ValueStringBuilder might be make some path manipulation a lot lighter. The only problem is they'd like in Coreclr and there's a high bar for adding new methods in the

[2018-08-02 19:32] wtgodbe commented on #31433
@jianyunt I've just emailed you an updated System.Console.dll.

[2018-08-02 19:41] Anipik commented on #27610
@ericstj @weshaggard here we have to move implementation of all the types from S.D.DSE to S.D.C and just type forwards in S.D.DSE and port t DataTable.AsDataView extension method into S.D.C . is that all or we have to do something else too ?

[2018-08-02 19:47] JeremyKuhne commented on #31544
I don't think you need elevated to Encrypt/Decrypt. We currently do outerloop as admin (at least last I checked).  You can condition on `PlatformDetection.IsWindowsAndElevated` if you need to know.

Windows implicitly decrypts the file if you're the right user. If you want to check that it is actually unusable you would need to launch as another limited user, which I don't think we've tackled yet.

[2018-08-02 20:11] JeremyKuhne commented on #31562
`Path.Join` has the span functionality.  I don't want to add them for `Combine` to discourage it's use. Most people get tripped up by the rooting behavior of `Combine`. `Join` doesn't consider rooting. So `C:\Foo\` + `\bar` gets you `C:\Foo\bar` with `Join` and `\bar` with `Combine`.

I've been looking at what to do with `Format`. It would help if you could give concrete examples of what your form

[2018-08-02 20:38] brianrob commented on #31401
I have updated the proposal below based on the discussion between @vancem and @tarekgh.  Is there any other discussion that needs to happen here?

I have posted a PR for the contract change: #31564

[2018-08-02 20:48] tannergooding commented on #31425
Feel free to ask as many questions as needed 😄

You should have gotten an invitation and the issue has been assigned to you.

[2018-08-02 20:49] jianyunt commented on #31433
@wtgodbe, I cannot replace your dll to the current release of PowerShell core engine folder. It looks like the Powershell core is using [.Net 2.1.2](https://github.com/PowerShell/PowerShell/commit/b15709f444a1501bac962fea50ca05f5fb7c03a1#diff-5c322f29d2ecbafc45ba24adf80823f8).
[code]

[2018-08-02 21:11] Anipik commented on #31379
@danmosemsft  its fixed in master, do we want it to go for release branch

[2018-08-02 21:48] danmosemsft commented on #31379
Thanks @anipik you're the file timestamp expert now. Yes, please add the template to this issue, create the port PR, and send mail to the usual alias per the procedure in my email and while back.

[2018-08-02 21:53] ericstj commented on #31433
Looks like it's the windows build of System.Console.

[2018-08-02 21:55] Anipik commented on #31379
Thanks :)  I will do that

[2018-08-02 22:41] ericstj commented on #27610
Well, currently `DataSetExtensions` builds as netstandard and `System.Data.Common` was absorbed into netstandard.dll, so you can't really change `System.Data.Common` and use that from the netstandard library.  Moreover, the specific type to which we need internals access is DataView, to override internal virtuals, and since that type is part of netstandard we cannot build a netstandard impl of Dat

[2018-08-02 22:54] wtgodbe commented on #31433
@jianyunt I am out of the office until Monday - here is a branch with my changes against 2.1.2, try building this locally to get System.Console.dll: https://github.com/wtgodbe/corefx/tree/Timer212

[2018-08-02 23:41] Eilon commented on #31201
To shiproom: This affects ASP.NET Core scenarios such as static files (extremely common) and SignalR (extremely cool). Because the cancellation token isn't working as expected, listeners can be left in the dark, which can lead to broken clients.

[2018-08-02 23:59] cdmihai opened #31570 "Make internal directory separator helpers public"
[TrimEndingDirectorySeparator](https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/IO/PathInternal.cs#L27-L35)
[EndsInDirectorySeparator](https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/IO/PathInternal.cs#L16-L17)

MSbuild has a lot of slash manipulation, and sometimes we append slashes just for comparison purposes. Using these would help cut down

[2018-08-03 00:06] cdmihai commented on #31570
@JeremyKuhne

[2018-08-03 00:07] Anipik commented on #31379
### Shiproom template

#### Description
Currently, when we set the LastAccessTime or LastModifiedTime of the files on Unix, the millisecond/micrososecond/nanosecond attribute of the timestamp of the file is always set to zero.

#### Customer Impact
 The customers will be able to set Last Access Time or Last Modified Time in Unix to nanosecond granularity.

#### Regression?
Not a Regression

#### R

[2018-08-03 01:08] cdmihai commented on #31562
Resource strings like this one: https://github.com/Microsoft/msbuild/blob/master/src/Build/Resources/Strings.resx#L62

Ultimately all resource formatting goes through https://github.com/Microsoft/msbuild/blob/master/src/Shared/ResourceUtilities.cs#L275. However, at the top of the deep call chain that leads to string.format some of the arguments are things like substringing or Path.Get*() methods.

[2018-08-03 01:24] JeremyKuhne commented on #27610
The overriding of [internal virtuals](https://referencesource.microsoft.com/#System.Data.DataSetExtensions/System/Data/LinqDataView.cs,122) is what really made this impossible. LinqDataView is changing the way the base class does its searching.

I can't recall coming up with any solutions, even complicated ones. I think you're stuck with

[2018-08-03 02:02] JeremyKuhne commented on #31570
@cdmihai Is this the signature you're asking for?

[code]
[code]

[2018-08-03 04:16] #30185 closed

[2018-08-03 06:58] dotnet-mc-bot opened #31575 "Test failure: System.IO.Ports.Tests.GetPortNames/AllGetPortNamesAreInHelperPorts"
Opened on behalf of @Sunny-pu

The test `System.IO.Ports.Tests.GetPortNames/AllGetPortNamesAreInHelperPorts` has failed.

System.ComponentModel.Win32Exception : The system cannot find the file specified.

        Stack Trace:

           at System.IO.Ports.SerialPort.GetPortNames() in E:\A\_work\36\s\corefx\src\System.IO.Ports\src\System\IO\Ports\SerialPort.Uap.cs:line 34
       at System.IO.Ports

[2018-08-03 07:44] danmosemsft commented on #31380
@ahsonkhan the collections failures mean that your corelib is missing dotnet/coreclr@a6b9bbbf284496f87c02555aca29ff8f2b762805

[2018-08-03 07:45] dotnet-mc-bot opened #31576 "Test failure: System.Collections.Tests.Dictionary_Generic_Tests_SimpleInt_int_With_Comparer_WrapStructural_SimpleInt/IEnumerable_Generic_Enumerator_MoveNext_ModifiedAfterEnumeration_ThrowsInvalidOperationException(count: 1)"
Opened on behalf of @danmosemsft

The test `System.Collections.Tests.Dictionary_Generic_Tests_SimpleInt_int_With_Comparer_WrapStructural_SimpleInt/IEnumerable_Generic_Enumerator_MoveNext_ModifiedAfterEnumeration_ThrowsInvalidOperationException(count: 1)` has failed.

Assert.All() Failure: 1 out of 4 items in the collection did not pass.\r
    [2]: Xunit.Sdk.ThrowsException: Assert.Throws() Failure

[2018-08-03 07:47] danmosemsft commented on #31576
@safern this is because in the UWP F5 runs, the corelib is missing dotnet/coreclr@a6b9bbbf284496f87c02555aca29ff8f2b762805 from 7/14. It began failing 7/31 when the corefx tests were updated. I would expect the corelib in these F5 runs to come directly from dotnet/coreclr, ie it should match the regular test runs. Does this mean the package containing the implementation is somehow not getting upda

[2018-08-03 07:49] danmosemsft commented on #31575
This is passing on the UWP tests on non-ARM. Guess: the OS in the ARM runs needs updating?

[2018-08-03 07:54] danmosemsft commented on #31088
I should have tested this locally, as that condition is also false for UWP F5, which this failure is. The condition to apply for F5 be probably `if (PlatformDetection.IsFullFramework || PlatformDetection.IsUap)`.

However this seems like it shouldn't be failing on UWP F5 if it's passing in regular runs. ie., the condition is correct. F5 should use the came runtime. @stephentoub the optimization yo

[2018-08-03 07:57] danmosemsft commented on #26218
@MattGal these ARM tests are all failing again in the same way. eg
https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20180803.01/workItem/Canonicalization.Tests/wilogs

Is it the same issue again - developer license? (or is this the bad C++ runtime again -- I can't find that issue to check what symptoms that had)

[2018-08-03 07:58] danmosemsft commented on #26218
@tommcdon

[2018-08-03 07:59] danmosemsft commented on #26218
It looks like the ILC run tests are failing with -1073741515 == 0xC0000135 == STATUS_DLL_NOT_FOUND which is presumably because the CRT issue is not fixed yet, and is distinct to this failure mode here.

[2018-08-03 08:08] danmosemsft commented on #31351
@zhenlan this is failing on all architectures. Is this assembly not available in UWP? If so, we need to disable this test for UWP.

@ViktorHofer is this just a general limitation for binary serialization though?

[2018-08-03 08:13] danmosemsft commented on #30983
This test assembly needs an rd.xml to ensure that some types are exposed that the tests reflect over. It looks like many System.Composition.Tests need this also.

[2018-08-03 09:39] Berreek commented on #31423
@Jeff-Lewis @davidsh We are running mutual TLS trough SOAP and I hit exactly same issue after migrating from 2.0 to 2.1. My current workarround is to use all these System.ServiceModel.* packages in version 4.4.0 to make it work.

However I assume that by doing that I loose new sockets implementation and still using Curl/WinHttp. @davidsh could you confirm that I'm right ?

[2018-08-03 12:20] jnm2 commented on #29122
I'm sorry, I don't know. What's the minimal Ref.Emit code you can come up with that produces a binary with which mdv.exe has this issue?

[2018-08-03 14:25] pjanotti commented on #31575
There is already a try-catch attempting to detect if the API is not there and throw a PNSE. The exception is `System.ComponentModel.Win32Exception : The system cannot find the file specified.` from an attempt to throw an Win32Exception with the error code. Getting a repro...

[2018-08-03 14:30] stephentoub commented on #31088
The test in question is a bit questionable.  It uses an object that implements both IEnumerable and ICollection, where the enumerable is empty but ICollection.Count returns a large number.  The test then validates that uses two such large collections with Concat will throw an overflow exception.  However, if Concat just iterates through the collections (which are empty), then it of course won't th

[2018-08-03 14:31] pjanotti commented on #31575
`repro-tool currently does not support jobs from the Windows.10.Arm64 queue.`  ...

[2018-08-03 14:39] hazama-yuinyan commented on #29122
Er, I got over this problem(sorry for not reporting it) but got into another one again and again.
Actually, it's not the assembly which was emitted with `Ref.Emit` that is the problem but the assembly which was emitted with `SR.Metadata`. So I assume I'm just missing some steps to produce an assembly when I emit the assembly again with `SR.Metadata`.

For the new problem, I'm investigating it. mdv

[2018-08-03 15:06] TheSatoshiChiba opened #31583 "String containing UTF-8 pairs gets mutated when passed to a custom Attribute"
This issue started out here: https://github.com/nunit/nunit3-vs-adapter/issues/534
The link contains some more information and tests I did. At first I thought this was an issue with the `NUnit` adapter but I could reproduce it without it.

-----
## The Observation

A string given to a simple custom `Attribute` is being mutated when accessed via reflection. Consider the following string `"xx\ud800\

[2018-08-03 15:09] #31453 closed

[2018-08-03 15:09] filipnavara commented on #31453
Fix landed in master (removing the incorrect #if).

[2018-08-03 15:42] pjanotti commented on #31575
What seems to be happening is that GetCommPorts is actually returning ERROR_FILE_NOT_FOUND, and the code was expecting success in this case with the number of found ports equal to zero. I don't have access to a Windows arm64 box to validate this...

[2018-08-03 16:01] MattGal commented on #26218
@danmosemsft I've moved a copy of the issue to core-eng and will investigate a machine with your tests this morning; I'm suspecting it's our issue since this correlates in time with turning off the old "Seattle" boxes and turning on new ones, which may have not been properly configured.

[2018-08-03 16:19] filipnavara commented on #31561
What are the values of environment variables `SSL_CERT_DIR` and `SSL_CERT_FILE` on your system?
If none of them are set, what does `openssl version -d` print? It should output `OPENSSLDIR` path. Is there $OPENSSLDIR/cert.pem on the system? What are the contents of $OPENSSLDIR/certs/?

[2018-08-03 16:21] filipnavara commented on #31561
My wild guess is... $OPENSSLDIR/certs/ contains some file(s) that you don't have permission to read, or symbolic links that point to some non-existant files.

[2018-08-03 16:26] armordba commented on #18276
With all the data security push from GDPR and others, we really need this fix ASAP

[2018-08-03 16:36] samwiseg00 commented on #31561
No results for `SSL_CERT_DIR` or `SSL_CERT_FILE`
[code]
This is a base Centos 7 install. I do not think that would be the case since there would be so many other things that would not work.

Also this was not an issue with .Net Core 2.0 with the same user. If it did not have access to the cert store wouldn't there have been issues there as well?

I also made sure the the ca-certificates were up to

[2018-08-03 16:46] filipnavara commented on #31561
I think you didn't hit it on .NET Core 2.0 because there was different backend implementation for `System.Net.Http`, so this code path didn't exist. The OpenSSL backend worked largely the same and the issue would probably be reproducible on CoreFX 2.0.

[2018-08-03 16:50] KevinCathcart commented on #31536
@jainaashish In case it helps, here is a slightly more concrete proposal of what I think Eric would like to see NuGet provide.

The basic idea would be that each framework could specify a set of packages with version ranges that they "provide", and for the purposes of dependency resolution any package version in that range is treated as already installed, and having no dependencies.

I'm not very

[2018-08-03 16:51] filipnavara commented on #31561
IIRC you can switch to the old HTTP client implementation using `DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=0` environment variable.

[2018-08-03 16:51] joshfree commented on #31380
Thanks @danmosemsft

[2018-08-03 16:54] samwiseg00 commented on #31561
Will that be deprecated when .net2.0 gets retired in October?

[2018-08-03 16:57] davidsh commented on #31561
"Will that be deprecated when .net 2.0 gets retired in October?"

No.  We don't immediate plans to remove the AppContext or Environment variables switches to fall back to the older WinHttpHandler/CurlHandler HTTP stacks.  However, at some point we will.

cc: @karelz @danmosemsft @geoffkizer

[2018-08-03 16:59] davidsh commented on #31423
.NET Core doesn't support ServicePointManager properties.  So, setting that property to false does nothing.

Also, unlike .NET Framework which had 'Expect: 100-Continue" by default turned ON, .NET Core does not.  However, upstack components like WCF might add that header to any HttpClient it creates.

[2018-08-03 17:00] filipnavara commented on #31561
I'd still like to have some confirmation whether the workaround helps with the issue. As for the original problem, can you verify that there are no stale symlinks in /etc/pki/tls/certs? I believe there was some other issue tracking that problem, but couldn't quite find it now.

[2018-08-03 17:11] samwiseg00 commented on #31561
@filipnavara that does seem to resolve the issue. That is a good workaround for now.

@tidusjar might want to know root cause though since at some point he older WinHttpHandler/CurlHandler HTTP stacks will go away.

[2018-08-03 17:15] tidusjar commented on #31561
Interesting, so that's good for a work around but are we going to investigate and potentially fix this issue? Especially since .net core is moving on and at some point the old CurlHandler will be removed?

[2018-08-03 17:17] jainaashish commented on #31536
@KevinCathcart it doesn't seem that straight forward and like you mentioned there'd still be gaps to be filled. Like how frameworks would provide details about supported packages and versions to NuGet? How would these packages be tracked across multiple machines when installed frameworks are different..?, etc...

We can discuss it in person or a skype meeting to go further into the details and com

[2018-08-03 17:41] KevinCathcart commented on #31536
@ericstj My understanding is that the .NET Framework has 2 different sets of MSBuild files. One is the SDK version used by new SDK style project format. But there is also the classic MSBuild target files (from the msbuild repo).

I'd not be surprised at all to hear the users experiencing the most pain are those using the old style projects.. Looking into it, in my Visual Studio's MSBuild folder, t

[2018-08-03 17:44] McShauno commented on #24843
@bartonjs ok, great.  I am on it.

[2018-08-03 17:56] davidsh commented on #30327
@giggio We have fixed this bug in the master branch.  We are working on a timeline for porting to the release/2.1.x servicing branch.

[2018-08-03 18:00] terrajobst commented on #31401
Cool. Based on the conversation the API looks good as proposed then.

[2018-08-03 18:03] #31401 closed

[2018-08-03 18:04] brianrob commented on #31401
Thanks much!  I've merged this change.

[2018-08-03 18:06] davidsh commented on #30327
### Shiproom template

#### Description
TBD

#### Customer Impact
TBD

#### Regression?
Regression from 2.0

#### Risk
TBD

#### Link to release/2.1.x PR
TBD

[2018-08-03 18:08] Jeff-Lewis commented on #31423
@Berreek thanks for the info. I thought I tried 4.3 of the dependent packages and got the same error. I can try it again but I'd rather use 4.5.

[2018-08-03 18:18] Anipik commented on #31181
@paul1956 can you push your local changes up ? bcoz none of your branches contain your changes

[2018-08-03 18:50] danmosemsft commented on #24843
Right, I can't look at this in detail right now but I agree with @bartonjs I would leave the windows implementation basically as is for now and graduate your new implementation to replace it later. The reason being we know the windows one is stable and we don't have much in house expertise to chase newly created bugs in it. :smile:

[2018-08-03 18:58] huysentruitw commented on #21833
Stumbled on this thread and wanted to mention that I have a DER / ASN.1 encoder/decoder package which can be used with .NET Framework: https://github.com/huysentruitw/pem-utils

[2018-08-03 19:22] jjxtra opened #31586 "TcpListener should use cancel tokens"
Please provide cancel tokens to the async methods of TcpListener. It's possible to wrap a tcp listener with cancel token methods and call stop but this feels like an unnecessary step, and one that is not easy for all people to understand.

[2018-08-03 19:58] ahsonkhan commented on #31380
cc @GrabYourPitchforks - how are you keeping the feature branch in sync with master (if at all)?

[2018-08-03 20:10] BrennanConroy opened #31587 "PipeReader always canceled in certain usages of CancellationToken"
If you do a successful read then cancel the token passed into read, `ReadAsync` will forever return a canceled `ReadResult`

[code]

[2018-08-03 20:10] BrennanConroy commented on #31587
@pakrym

[2018-08-03 20:25] jnm2 commented on #29122
Fyi with Markdown you have three options to keep it from interpreting `<` as an HTML tag.

Idiomatic markdown:
`\<bad metadata>` → \<bad metadata>

Code (when appropriate):
`` `<bad metadata>` `` → `<bad metadata>`

HTML:
`&lt;bad metadata&gt;` → &lt;bad metadata&gt;

I don't have experience here either. I'm probably not going to be much help at this point unless there's repro code I can poke at.

[2018-08-03 21:29] safern commented on #31576
Yes, it means it is probably picking an incorrect corelib implementation, I will take a look and see if I can find why is happening.

[2018-08-03 21:39] Petermarcu commented on #30327
This is an important one for us to take. I'd like to get it in as soon as possible to get it baking.

[2018-08-03 21:39] Petermarcu commented on #30327
Did you already get this change into Master? Given the level of risk, we need to figure out how to think about it in 2.1.4.

[2018-08-03 21:41] davidsh commented on #30327
Yes.  Change in master with merged today with PR #31527

[2018-08-03 21:44] Petermarcu commented on #30327
Great, lets raise awareness on the next full stack build that has the change in it so we can make sure we get as much usage on it as possible.

[2018-08-03 21:44] bartonjs commented on #31561
Sounds like yet another duplicate of #29942. The fix is in 2.1.3, which has not shipped yet. (Seems rather like #30147, specifically)

Somewhere in /etc/ssl/certs there's a file that your process can't read (no permissions, or broken symlink). If you can solve that, the problem will go away.

[2018-08-03 23:30] AArnott commented on #31144
Your sample doesn't show a sample derived type of `ReadOnlySequenceSegment`, which I'm keen to learn more about how to properly do. Your code slices a `ReadOnlySequence<byte>` but presumably the arrays backing the consumed bytes are simply discarded rather than returned to a pool for reuse. I'd like to be as efficient as possible.

[2018-08-03 23:56] 0xd4d commented on #31583
The string in the custom attribute is stored as a UTF8 encoded string but the string in the method body is stored as UTF16 (it's in the #US heap). So it seems to be some problem with the UTF8 encoder and/or decoder. What happens when you try to UTF8 encode the string in the method body?

[code]

[2018-08-04 00:36] zhenlan commented on #31351
@danmosemsft correct, S.Runtime.Serialization assembly does not exist. It should be S.Runtime.Serialization.Xml. I didn't check the test but wondering why it was looking for it. Maybe the test should be fixed?

[2018-08-04 01:44] wienleung commented on #13660
@AfsanehR  @David-Engel @keeratsingh any decision on whether this update will be ported to 2.2?

[2018-08-04 03:33] talanc commented on #30327
Will PR #31527 go into the daily build?

[2018-08-04 03:43] davidsh commented on #30327
The PR went into master branch.  So, when the branch is built, it will be available in those feeds. I'm not sure that full stack builds are done daily. But the next build will contain this fix.

[2018-08-04 04:28] davidfowl commented on #31144
The only real implementation so far is in pipelines. There may be others in corefxlab and in tests. You’re basically trying to reimplement pieces of the pipe class which is non trivial but the code is there.

[2018-08-04 05:10] paul1956 commented on #31181
@anipik I pushed and the files are here https://github.com/paul1956/corefx/tree/FileIO1/src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/FileIO

[2018-08-04 05:41] roji opened #31595 "Add string overloads to DbDataReader.Get*()"
Almost all get methods on DbDataReader require a column index, which is a brittle way to program as the query SQL changes and resultset columns shift around. It's possible to use the pattern `reader.GetInt32(reader.GetOrdinal("name"))`, but that's needlessly verbose. In practice this encourages people to use the reader's indexer (`reader["name"]`), which is a weakly-typed API returning `object` (r

[2018-08-04 06:51] marek-safar commented on #31469
@danmosemsft @karelz who is the best person to set or agree on the policy?

[2018-08-04 08:26] MarcoRossignoli opened #31596 "Add TimeSpan overloads to System.TimeoutException"
## Rationale
I'm working on a project where i need to heavily use TimeoutException.
Today we cannot pass TimeSpan to [TimeoutException](https://source.dot.net/#System.Private.CoreLib/shared/System/TimeoutException.cs,43e40a96805cc4df), like ParamName for ArgumentException.
Could be useful add overloads to pass TimeSpan when throw exception, this could be useful for some reason:

  * improve except

[2018-08-04 09:42] benaadams commented on #31595
Should be virtual so the implementation could cache column lookups etc?

[code]

[2018-08-04 09:57] roji commented on #31595
Hmm, shouldn't this be part of the existing `GetOrdinal()`? It seems that any sort of caching should happen in there...

[2018-08-04 10:44] benaadams commented on #31595
Better as extensions then?
[code]

[2018-08-04 11:27] roji commented on #31595
It could definitely be extensions, by is there a good reason to have something as an extension when it could be built-in? It's a bit like how the async methods always have their non-virtual overload without a cancellation token, which delegates to the virtual overload that does...

[2018-08-04 11:41] benaadams commented on #31595
The only get compiled on use (rather than whole class for instance level) and they can be added downlevel via nuget; whereas changing the base needs a rev to the runtime.

If they are only using the public method and non-virtual, is there any reason to be an instance method?

[2018-08-04 12:01] roji commented on #31595
Are you talking about JIT compilation? Doesn't that only happen on first use of the method?

That's true, but which nuget would you put them in? Would you expect users to depend on a nuget just to get this kind of utility? The last could possibly be mitigated by having some sort of general "BCL extensions package"... I also don't particularly mind for this to only make it into the next .NET Core (

[2018-08-04 13:06] AArnott commented on #31144
That's what I figured. I would simply use `Pipe`, but that requires that I build [an async state machine that constantly reads from a stream/websocket and fills a buffer](https://github.com/AArnott/Nerdbank.Streams/blob/20dab9b7ed271e2b1dd97be3394a6860cbfd0978/src/Nerdbank.Streams/StreamExtensions.cs#L75-L106) up to some threshold rather than only reading on demand and leveraging the network buffe

[2018-08-04 13:10] AArnott commented on #31144
And anyway, there seems an obvious hold where a `Sequence<T>` class should be. [I'm writing one up](https://github.com/AArnott/Nerdbank.Streams/issues/16) -- unless it's on the .NET team's backlog and near the top, already.

[2018-08-04 13:30] hazama-yuinyan commented on #29122
OK, I forgot to escaping it.

Then, I can push my repository to GitHub with the current code, but it's a little bit complex to clone it and get it to work. Would you mind that? If no, then I'll consider that.

[2018-08-04 13:56] joshfree commented on #31469
@marek-safer this would be @bartonjs

[2018-08-04 14:02] benaadams opened #31597 "[Api Proposal] Add List<T> AsSpan to CollectionsMarshal"
Its not a "safe" operation, though it is a useful one to gain access to the prebuilt array; without first copying using `.ToArray()`
[code]

/cc @jkotas

[2018-08-04 14:05] benaadams opened #31598 "Add MemoryMarshal ref accessors for Dict/List"
They aren't "safe" operations as the backing store can change if items are added, removed, etc and the changes aren't tracked
[code]
However it is useful to get a reference to modify struct `TValue` entries without a full copy and replace update.

/cc @jkotas

[2018-08-04 14:07] roji commented on #31595
Right, so we're talking about a new nuget here... Do we really want to basically start having a nuget extensions package for each BCL namespace? More nugets for people to discover and reference, more potential for the dependency hell inherent in additional dependencies...

That's indeed a good example. But with Span an important goal was to make the new methods available backwards, for all existin

[2018-08-04 14:13] jkotas commented on #31595
We have been on this plan (adding NuGets with extensions) for a while in the past. It did not work well. We are not doing that anymore.

Correct. We are fine with this constrain.

[2018-08-04 14:24] roji commented on #31595
Sure, you basically did all the work for me :)

[2018-08-04 14:25] roji commented on #31595
@jkotas out of curiosity, what were the specific issues with the extension NuGet approach that made you drop it? Just interested if there's an additional con I haven't thought of.

[2018-08-04 14:25] benaadams commented on #31598
Updated

[2018-08-04 14:26] benaadams commented on #31597
Updated

Would then need to go via reflection?

[2018-08-04 14:40] jkotas commented on #31595
We typically needed to fold the addition back into the platform, e.g. because of it is too valuable API to not have by default; or to optimize the implementation in a way that is not possible to when it is an extension. The end result was a lot of small .dlls (you cannot get rid of the extra NuGet/assembly even once it is folded into the platform), and version mixes that were impossible to reason

[2018-08-04 15:41] Neo-Ciber94 commented on #25189
For shorter other possible signature could be just `At` or `Get`

[code]
Also `RefAt`, `GetRef`

[2018-08-04 16:36] hazama-yuinyan commented on #29122
Let me see...
Only my `PEBuilder` wrapper class might reproduce the problem but that still needs some other classes.
So I thought it would be easier for you to clone the whole repository and test it than for me and you to figure out which classes are needed and include it in the reproduction code.

[2018-08-04 16:39] jnm2 commented on #29122
Well sure, that's easier for you 😆 but I've always seen it to be useful for one's own sake to create a reproduction with as little code as possible, too. Using a bare PEBuilder if possible. Half the time you find the issue while doing so.

[2018-08-04 16:50] hazama-yuinyan commented on #29122
Oops, it's rather a driver class not a wrapper. The class drives the `ManagedPEBuilder`, `MetadataBuilder` and similar classes and emit a PE with the debug directory section.
OK, I'll figure out which classes are needed to reproduce the problem ;-)

[2018-08-04 17:12] bartonjs commented on #31469
Based on the descriptions here, I'd say that an iOS shim would just be a completely independent dylib... which would make a new Interop class (Interop.AppleMobileCrypto?), a new build flavor, and a new PAL in the crypto libraries.  At least, the description leads me to believe that there is very little useful code sharing.  Maybe it was only describing the extreme parts of unsharability?

[2018-08-04 18:43] mythz opened #31599 "There's no reliable way to detect if a .NET Standard 2.0 build is running in UWP"
The only available way to [detect if an App is running in UWP](https://stackoverflow.com/a/47891292/85785):

[code]

Works in `Debug` builds, but fails in Release/.NET Native builds with a runtime `TypeLoadException` in the latest stable VS.NET 17.6 and now fails with a build time Exception with the latest VS.NET 17.8 Preview:

[code]

What is the recommended way within a **.NET Standard 2.0** .dl

[2018-08-05 02:13] Anipik commented on #31181
@paul1956 i have corrected the flags error https://github.com/Anipik/corefx/commit/99a8a53e173bef6d626869c17554a4d8fa1348a5

there are still bunch of errors but most of them are due to missing references. The things you need to correct majority of them are
1. add ```Imports``` statement for the assemblies which are already referenced  in vbproj file.
2. add references in vbproj if the reference is

[2018-08-05 07:58] paul1956 commented on #31181
@Anipik thanks that is why I hate editing vbproj files. Don't follow comment about SR, all the strings are in String.Resx, I originally used SR and I was told to use ResID, I can switch back if that is the correct direction.

[2018-08-05 08:06] Anipik commented on #31181
@paul1956 AFAIK we are using SR everywhere for the strings. can you point me to the location where the use of ```ResID``` is suggested ? It will help me understand why that course was suggested.

[2018-08-05 08:41] paul1956 commented on #31181
@Anipik starts here but its possible I misunderstood the answer. https://github.com/dotnet/corefx/issues/31181#issuecomment-407873224

[2018-08-05 08:47] Anipik commented on #31181
@paul1956 i think you misunderstood. @danmosemsft  is saying the same thing. we dont need to create a SR.cs file. it will be auto-generated using build process. We just have to add string value pairs to the strings.resx (this part is already done i think) and then you can use them in *.vb files like SR.stringname .eg https://github.com/dotnet/corefx/pull/31497/files#diff-62da4e364bb935770baaedb5b4

[2018-08-05 12:41] TheSatoshiChiba commented on #31583
I don't think it is a proiblem with the endcoder/decoder as the problem persists even when not using the encoder. Simply print the string as-is to the console and you'll aready see the difference. I can do the test on Monday when I am back at work but my suspicion (based on previous tests) is that it will just work as expected.

[2018-08-05 13:44] rlreis90 commented on #31532
Hello, @ericstj, @davidsh!
I've solved my problem in a very simple way: I've added NuGet packages to every project in my solution that target the ns assemblies. As per our discussion, that has successfully updated the System.Net.Http dll to 4.2.0.0. For reference, the packages were System.ValueTuple (useful for C# 7) and System.Threading.Tasks.Extensions.

Since I've run into this problem, might I

[2018-08-05 13:44] #31532 closed

[2018-08-05 14:50] danmosemsft commented on #31599
Look at PlatformDetection.*.cs in this repo: you can check for both.NET Native and for whether you are in AppContainer (assuming that's good enough)

[2018-08-05 15:06] davidsh commented on #31599
https://github.com/dotnet/corefx/blob/aa731cb68cd60128cc4b1efcd8b1a8e859750755/src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.cs#L23

[2018-08-05 15:07] dbafromthecold commented on #30147
I was having this issue connecting to SQL running in a docker container via SQL Ops Studio on my laptop running Ubuntu 16.04 (logged as a bug here: - https://github.com/Microsoft/sqlopsstudio/issues/2150). It was resolved by running: -
`sudo update-ca-certificates --fresh`

[2018-08-05 16:28] nguerrera commented on #4786
This is done: "This could possibly be accomplished via Span<byte> support in Stream overridden by FileStream." 🎉

[2018-08-05 16:28] #4786 closed

[2018-08-05 20:35] MarcoRossignoli commented on #31596
@danmosemsft updated, i'm working with hardware printers handled by a jsor/rpc server(provided by printer sdk). Server is not so reliable...and sometimes some type of command works after some retry but not always and not always behave in the same way(for example i know that if i retry some command for more than 30 seconds i need to "reset" something to go on). I could(and for now) resolve subclass

[2018-08-06 03:04] mythz commented on #31599
Can confirm the PlatformDetection works, thanks.

Note: the APIs to detect different platforms should be part of a .NET Standard 2.x as everyone has to come up with their own fragile heuristics which can fail over time. Only MS is going to know when new releases change internal behavior who would then be able to update their internal APIs accordingly, whilst the rest of us have to hope the fragile

[2018-08-06 03:04] #31599 closed

[2018-08-06 04:03] quan01994 commented on #30867
@LuceLuo 用其他字符结尾，就能够显示，pango好像并不能解决这个问题。

[2018-08-06 05:23] TobiasSekan opened #31605 "[Request] Missing TryParse Method for System.Net.NetworkInformation.PhysicalAddress"
`System.Net.NetworkInformation.PhysicalAddress` currently only implement a `Parse` method. Many other classes and structs implement a `Parse `and a `TryParse` method. So it would be nice, when `PhysicalAddress` implement a `TryParse` method.

### Usage
[code]

### Proposed API
[code]

### Things to notice
- Only two value formats are currently supported by the `Parse` method
- Only upper case valu

[2018-08-06 06:24] sunsnow-tail opened #31606 "Support Geography type"
Hi All,

Is it possible you support Geography MS SQL data type?

It is so much disappointing to start new projects in .Net 4.7 instead of .NetCore.

Regards.