[2016-04-22 21:03] #4467 closed

[2016-04-22 21:04] ericeil commented on #7833
Note that the full CLR code seems to support the following perf counters:

[code]

All of these look like things the underlying OS is likely to also report.

[2016-04-22 21:07] ericeil commented on #7873
Note: this *only* affects the exception message text; the `EndPoint` is not exposed as a property on `SocketException`.  This could be emulated via `InternalSocketException` (although, see #7853).

[2016-04-22 21:13] yuwaMSFT opened #8000 "Lots of first chance exception System.ObjectDisposedException on SafeHandle in middleware scenario when request is cancelled"
We were running some middleware scenario where our ASP.NET site would make outgoing request via HttpClient. The request would be cancelled at any time. In the stress run I saw many first chance C++ exception and then accompanying CLR System.ObjectDisposedException on SafeHandle. Actually the WinHttpRequestState already shows it’s disposed. Although the exception would be populated and handled, it

[2016-04-22 21:13] bartonjs commented on #6029
Actually, I think the failures are in precondition checks.  Each test case creates a service and calls Start before the case runs; and since there's no WaitForStatus(Running) the assert that it's already running is causing the failure.

That does jive with the original reported line number of the failure: https://github.com/dotnet/corefx/blob/7cad8486cbabbce0236bdf530e30db7036335524/src/System.Ser

[2016-04-22 21:14] yuwaMSFT commented on #8000
@CIPop @davidsh @stephentoub @sivarv @SajayAntony @halter73 @muratg

[2016-04-22 21:17] CIPop commented on #7833
One thing that may be different for these is filtering the counters per process. Is there a simple/standard way to convert these to EventSource/ETW instead of removing them? Using the Windows Performance Analyzer may prove useful in certain scenarios.

[2016-04-22 21:31] Bartmax opened #8001 "Missing exception type on xml docs for SingleOrDefault(src, predicate)"
`public static TSource SingleOrDefault<TSource>(this IEnumerable<TSource> source);` has the doc for all exceptions.

` public static TSource SingleOrDefault<TSource>(this IEnumerable<TSource> source, Func<TSource, bool> predicate);`
looks like it's missing the invalid operation one.

[code]

[2016-04-22 21:57] nguerrera opened #8004 "BlobReader should expose Pointer, Seek, Skip, Align."
I was working on pushing down forward-only IL decoding out of IL -> IOperation prototype (but still in separate assembly from SRM for now) and found that BlobReader hides some things (kept internal) that are of general use. Given a BlobReader, I should be able to drop down to pointers/unsafe myself and I should also be able to skip around without resorting to copying a previous BlobReader instance

[2016-04-22 22:27] ratishphilip opened #8007 "Support for System.Double in System.Numerics namespace"
It would be great if the classes in** System.Numerics** namespace such as **Vector2**, **Vector3**, **Vector4**, **Matrix3x2**, **Matrix4x4**, **Plane** & **Quaternion** accept **System.Double** too wherever they are accepting **System.Single** or **float**.

I agree that it is not a good idea to silently reduce precision in the methods. But in windows application development, most of the values t

[2016-04-22 23:07] jamesqo opened #8012 "[CoreRT] Behavior mismatch between CoreCLR and CoreRT Streams in async methods"
**TL;DR** This will throw a `TaskCanceledException` in CoreCLR, while it will throw a `OperationCanceledException` in CoreRT:

[code]

---

Recently noticed that several async methods in `Stream` and `MemoryStream` have differing implementations when it comes to cancellation tokens in the CoreCLR/CoreFX repos. For example, [here](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/Syste

[2016-04-22 23:31] bartonjs commented on #7961
This was one of the symptoms seen in https://github.com/dotnet/corefx/issues/7902, and it hasn't been seen since that issue was closed, so closing this one.

[2016-04-22 23:31] #7961 closed

[2016-04-22 23:33] bartonjs commented on #7959
@dagood Would you expect this to also be solved with the other OSX restore errors?

[2016-04-22 23:48] #7577 closed

[2016-04-23 00:07] mellinoe commented on #7805
Occurred here in a CentOS run:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_debug_tst_prtest/323/testReport/junit/System.Runtime.Loader.Tests/DefaultLoadContextTests/LoadInDefaultContext/

[2016-04-23 00:51] Priya91 commented on #6622
This is fixed by #8016 and #7786

[2016-04-23 00:51] Priya91 commented on #6622
The net user add failed on a very early build of nano with corrupted test user account data.

[2016-04-23 00:52] bartonjs commented on #7465
@Priya91 The ServiceController tests had a ConditionalFact for administrator rights, and it fails (aka skips the tests) on outerloop_windows_nt_debug:

10:59:57      System.ServiceProcess.Tests.ServiceControllerTests.ConstructWithServiceName [SKIP]
10:59:57         Condition(s) not met: "RunningWithElevatedPrivileges"
10:59:57      System.ServiceProcess.Tests.ServiceControllerTests.ConstructWithDi

[2016-04-23 01:00] Priya91 commented on #7465
@bartonjs the outerloop windows runs are not run elevated, that is a bug.. Will look into this.

[2016-04-23 01:28] mellinoe commented on #7805
Hm, this just happened again in my PR on CentOS, and seems to be happening pretty regularly in the other runs:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_debug_tst_prtest/335/console
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_debug_tst_prtest/337/console

[2016-04-23 01:37] Priya91 commented on #6177
These changes don't cause any functional difference and given that these types are only meant for compatibility to help move desktop apps to .net core. Closing this as won't fix.

[2016-04-23 01:37] #6177 closed

[2016-04-23 02:15] stephentoub commented on #8012
I don't know why the implementation in corefx doesn't match the one in coreclr; the one in coreclr is more efficient, and it seems like an unnecessary difference for something like this.  I'm not particularly concerned about the difference in exceptions, as TaskCanceledException is an OperationCanceledException (the former derives from the latter), but it's easy enough to make them the same, and d

[2016-04-23 03:22] jkotas commented on #8012
The difference was introduced by @ericeil on 6/25/2012 when Stream.cs was forked corefx. The description just says "System.IO.Stream, with unit tests for the *Async methods, which I had to rewrite".

[2016-04-23 03:23] jkotas commented on #8012
I agree that it would be nice to make them the same.

[2016-04-23 03:25] jamesqo commented on #8012
@jkotas Great, then; I'll be submitting a PR soon then.

[2016-04-23 06:19] davidfowl commented on #7863
/cc @emgarten

This is interesting because it means you can end up with different nuget selection on `packages.config`

[2016-04-23 11:19] stephentoub opened #8023 "FileSystemWatcher_Deleted_FileDeletedInNestedDirectory failed on Ubuntu in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/279/consoleText
[code]

[2016-04-23 16:12] joekaiser commented on #7953
FYI, I came up with a way to work around this for now, but it is not ideal in any sense of the word. In short, I just moved the processing to another thread and set the max stack size higher for it. :worried:

For anyone finding this and looking for a fix - be very careful if you do what I did. I am 100% certain there is no infinite loop or recursion. Rather, in our specific scenario we just happe

[2016-04-23 16:45] ericstj commented on #4971
Closing this as it is tracked with other feature work.

[2016-04-23 16:45] #4971 closed

[2016-04-23 16:47] ericstj commented on #5406
Work here is to implement a generic IsolatedStorage contract.  I don't think that meets the bar for RC3 or perhaps even RTM.  Moving out for now.

[2016-04-23 16:51] ericstj commented on #6798
Changing tags, this has nothing to do with packaging.  It's just a property we set to avoid an error when using the PCL targets.

[2016-04-23 16:56] ericstj commented on #5952
Updated the title of this issue.  The problem here is that packages which represent inbox contracts on desktop don't contribute anything to the build.  This is because the facade is added automatically by the msbuild targets for desktop.  Those targets don't, however, add frameworkReferences for the implementation assemblies that the facades forward to (eg: system, system.core, system.xml, etc).

[2016-04-23 17:07] ericstj commented on #6555
Issue here is that VS/DNU had an older version of the NuGet codebase that had different behavior than the pre-release one we're using in CoreFx.  You can update to the latest NuGet 3.4 and it should address these issues (until we depend on new features in 3.5) and the latest dotnet CLI (instead of DNU) will also work.

[2016-04-23 17:07] #6555 closed

[2016-04-23 17:10] ericstj commented on #6746
We have a package https://dotnet.myget.org/F/dotnet-core/api/v2/package/System.Security.Cryptography.ProtectedData/4.0.0-rc3-24022-00 and it has a dummy impl on Unix that just throws PlatformNotSupported.  You should be able to use this package and get an impl on Windows, on Unix you'll have to catch the PNS exception and gracefully degrade.

[2016-04-23 17:10] #6746 closed

[2016-04-23 17:12] ericstj commented on #6827
Using DNU with the latest packages will not work, full stop.  You need to switch to using http://github.com/dotnet/cli.  Feel free to reopen if you hit a similar problem using CLI.

[2016-04-23 17:12] #6827 closed

[2016-04-23 17:16] ericstj commented on #7206
Removed the packaging tag, this issue is discussing the use of an old package Microsoft.Diagnostics.Tracing.EventSource, which is not part of this repo.  As @vancem mentions that package hasn't been updated to support CoreCLR.  You can use System.Diagnostics.Tracing.EventSource instead.  If System.Diagnostics.Tracing.EventSource needs to be updated to support more platforms/scenarios to be a compl

[2016-04-23 17:21] ericstj commented on #7473
@svick it'd be good to update the boilerplate portion of your project.json to match what you get from dotnet new.  A lot of things have changed recently WRT shared framework and frameworks as @mellinoe mentioned.

[2016-04-23 18:44] bartonjs opened #8024 "Two MoveFileTests failing on Windows OuterLoop"
System.IO.Tests.MoveFileTests.Windows_File_Move_To_Different_Directory_Triggers_Event(eventType: Renamed, moveRaisesEvent: True)

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release_prtest/1/
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/3/

[2016-04-23 18:45] bartonjs commented on #4466
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release_prtest/1/

[2016-04-23 18:46] #6029 closed

[2016-04-23 19:23] martincostello commented on #7983
Alas [Tavis.UriTemplates](https://www.nuget.org/packages/Tavis.UriTemplates/) is not strong-named, so isn't suitable for use in all the things I'd like to use it in.

[2016-04-23 19:52] khellang commented on #7983
@martincostello Use [Strong Namer](https://github.com/dsplaisted/strongnamer)?

[2016-04-23 21:35] #6622 closed

[2016-04-24 02:21] mellinoe commented on #8007
I can understand that there is a bit of friction when trying to inter-operate between a system like WPF which uses `double`s and System.Numerics.Vectors which uses floats, but I'm not sure that this would be the best way of reducing that friction. All it saves you is the effort of explicitly casting the values to (float) when passing them in, but, as a general rule of thumb, it is not good form to

[2016-04-24 03:09] ratishphilip commented on #8007
Thanks for your reply.

I agree with the fact the it should be the developer's responsibility to cast it from one type to another.

Thinking of a long term solution, now I think it would be better to provide an extension method to System.Double (say _.Single()_ or _.ToFloat()_) which would convert the **double** to **float**.

[2016-04-24 03:09] #8007 closed

[2016-04-24 07:27] roji commented on #3688
Note: have opened https://github.com/npgsql/npgsql/issues/1042 to handle this specifically in Npgsql, in case you guys don't get around to working on it.

[2016-04-24 10:25] svick commented on #8007
@ratishphilip What makes `value.Single()` or `value.ToFloat()` better than `(float)value`?

[2016-04-24 13:29] yosigolan commented on #4676
Hey.
until next milestone is released, is there any workaround currently?

Thanks Yosi

[2016-04-24 13:32] ratishphilip commented on #8007
In my opinion, `(float)value` breaks the flow of typing the code. When we type, we type from left to right. Often when we pass a double value to a method or variable requiring float, most of the time we are made aware of the mistake by the red squiggly line which appears underneath the value. To solve this issue we have to go back and add the `(float)` cast manually. This breaks the flow. Moreover

[2016-04-24 13:42] JonHanna commented on #8007
Would you negate by using a `value.Negate()` extension method instead of `-value`, by the same logic?

[2016-04-24 14:00] ratishphilip commented on #8007
@JonHanna :)

No, I would not. Providing `value

[2016-04-24 14:16] stephentoub commented on #8024
It's not just on Windows... all outerloop runs appear to be failing due to FSW tests, e.g.
[code]

[2016-04-24 14:33] #4535 closed

[2016-04-24 15:28] Clockwork-Muse commented on #7953
Side note: most/all dbs have bulk-export utilities that can generate output text files, which would almost certainly be faster than routing it through the application.  At 20 minutes I'd probably also take a look at the view (especially since, depending on the db and mechanism used, the paging will cost you).

[2016-04-24 15:30] joekaiser commented on #7953
Yeah, I completely agree on both points. Sometimes you are just stuck with what you got :/

[2016-04-24 16:45] erikpowa commented on #6705
It's still remains one issue.

I don't want to send **gzip** nor **deflate** as accepted encoding.
Even if I clear the default request headers:
`httpClient.DefaultRequestHeaders.AcceptEncoding.Clear();`
On targeting **coreclr** the `.PostAsync(...)` (didn't checked if anything else doing the same thing) append to it on the fly, but targeting **clr** doesn't and I think that's the normal behaviour.

[2016-04-24 16:49] JonHanna commented on #5963
There are differences here between the desktop, corefx compiler and corefx interpreter.

Here are the behaviours of different permutations when performed on .NET 4.6.1 (scratch code run on linqpad), and the compiler and interpreter run through XUnit tests. I suspect (but have not confirmed) that the differences for the compiler relate to the IL generator rather than the Expressions assembly.

Bind

[2016-04-24 16:50] krytarowski opened #8027 "TermInfo.cs reads raw ncurses' terminfo"
NetBSD ships with its own `curses`(3) and puts data into constant key-value database (`cdb`(3)) `/usr/share/misc/terminfo.cdb`. Could we replace this solution with library calls please? So that alternative solutions to ncurses will work?

[2016-04-24 16:52] krytarowski commented on #8027
@stephentoub ^

[2016-04-24 17:06] krytarowski opened #8028 "System.Globalization.Tests fails on NetBSD"
[code]

[2016-04-24 17:27] krytarowski opened #8029 "run-tests.sh is copying files to directories"
`run-tests.sh` is copying files to directories, it's bad for: limited storage and need to rollback to the state before copying files to rerun tests (takes time).

Could you please refactor it and stop duplicating files in a dir with tests?

[2016-04-24 18:16] ianhays commented on #8024
The outerloop tests have the wrong bool values for their expected types. I'm fixing it in #7992 so I'll just ActiveIssue hotfix them now.

[2016-04-24 18:22] ianhays commented on #8024
Pushed a PR to disable them until I permanently fixed.

[2016-04-24 19:18] davidsh commented on #6705
There is a difference between CLR and CoreCLR w.r.t how automatic decompression works.  On CLR, it is off by default and so the 'Accept-Encoding' headers are empty.  On CoreCLR, the default for automatic decompression is true and so the headers get populated.

You can turn off automatic decompression by setting the appropriate property on the HttpClientHandler. When you turn off automatic decompre

[2016-04-24 19:40] ellismg commented on #8028
What version of ICU are you linking against?

[2016-04-24 19:46] krytarowski commented on #8028
[code]

Gives me: `icu-56.1nb1`

[2016-04-24 19:49] krytarowski commented on #8028
If that matters:

[code]

[2016-04-24 19:50] ellismg commented on #8029
The goal of these tests is to not rely on a shared framework.  Instead each test gets its own complete copy of the runtime and supporting libraries.  This is in line with one of the deployment models for CoreCLR/CoreFX, you bundle everything together with your app.

On windows, we use hard linking when we build the test layouts instead of copying the artifacts to each folder.  We should be able to

[2016-04-24 19:53] krytarowski commented on #8029
Hard-linking should be fine, at the moment I'm not able to run tests on ramdisk and run tests quicker.

Thank you!

[2016-04-24 20:53] krytarowski opened #8032 "TermInfo.cs test fail for TERM="xterm""
There are entries for "xterm-256color", but not for "xterm".

I don't understand offhand these magic values:

[code]

I was told that they differ between implementations.. NetBSD (I think) the original curses(3) library still developed, but I think I can try to use ncurses database for now.

Do you know what values would be added for "xterm"?

[2016-04-24 20:54] stephentoub commented on #8027
We have no plans to make such a change.  You're welcome to explore doing so, but our automated testing for System.Console isn't extensive right now, and thus even if all of the tests pass with a different implementation, we'd need some extensive manual testing on Linux and OSX to feel confident in the change.  I know we explored such a thing a while back, and ended up not replacing it due to a var

[2016-04-24 21:05] krytarowski commented on #8027
Is it possible to parse output of a system command like:

[code]

I think for now I will try to install ncurses and go to lower hanging fruits. All I need I think is to pass pkgsrc specific and dynamic path (usually `/usr/pkg/share/terminfo/`) from CMake. Is there a preferred way for doing it (except hardcoding the path)?

[2016-04-24 21:12] stephentoub commented on #8027
I'm not sure I understand the question, but if you're asking if there's a way to get System.Console to look in a particular place for the terminfo file for the corresponding terminal, you can set the TERMINFO env var to the path.  If, for example, TERM is "xterm", then it'll look for a file named {TERMINFO}/x/xterm:
https://github.com/dotnet/corefx/blob/master/src/System.Console/src/System/TermInf

[2016-04-24 21:16] erikpowa commented on #6705
That's it!
Never thought about that. Thanks!

[2016-04-24 21:19] krytarowski commented on #8027
I was rather thinking to add to:

[code]

a new entry like `@PREFIX@/share/terminfo/`, but in CMake afair there is need to rename TermInfo.cs to TermInfo.cs.in and generate TermInfo.cs what doesn't look clear.

[2016-04-24 21:26] stephentoub commented on #8032
The test is validating that certain strings are being parsed and evaluated correctly from the terminfo database.  The first argument is the name of the TERM to test.  The second and third are the executed strings that result from getting the terminfo's setaf and setab strings and evaluating them with the color value in the fourth argument.

From your post at , it look like your xterm's setaf (fore

[2016-04-24 21:33] stephentoub commented on #8027
I see.  I don't want to modify things to have TermInfo.cs be a generated file. But if it would help to add an additional environment variable that was consulted as part of Console's logic for looking up terminfo locations, we could do that.  For example, is there a standard environment variable that's used to locate the share folder (e.g. /usr/share, /usr/package/share) or one for the /usr folder?

[2016-04-24 21:33] krytarowski commented on #8032
Thank you! I will give it a try.

[2016-04-24 21:40] krytarowski commented on #8032
I will also try to add the standard term from the terminal mode on amd64.

[code]

[2016-04-24 21:44] krytarowski commented on #8027
I will try to find out a clean way. Thank you!

[2016-04-24 22:37] JonHanna commented on #5965
Considering this, since:

1. It's possible for a list type to have more than one unary `Add` with different parameter types, and which is to be used depends on the type (but see #5946).
2. An expression expressed as `new TypeWithEnumerable{}` would be interpreted as calling `MemberInit` with zero arguments, which is allowed.
3. Catching this case would involve extra cost for little practical gain.

[2016-04-24 23:12] mellinoe commented on #8007
I think you may be able to come up with a Roslyn analyzer that lets you "auto-complete" that scenario, but I'm not super familiar with those or how exactly you would write it. That way, if you tried to pass a `double` into a `float`-parameter method, you would automatically get a recommended change to add the cast.

[2016-04-24 23:21] jamesqo opened #8034 "Adding a HashCode type to help with combining hash codes"
### Motivation

Java has `Objects.hash` for quickly combining the hash codes of constituent fields to return in `Object.hashCode()`. Unfortunately, .NET has no such equivalent and developers are forced to roll their own hashes like [this](http://stackoverflow.com/a/263416/4077294):

[code]

[Sometimes](https://msdn.microsoft.com/en-us/library/system.object.gethashcode.aspx) people even resort to u

[2016-04-24 23:46] JonHanna commented on #5946
Okay. The documented behaviour as per https://msdn.microsoft.com/en-us/library/bb340226%28v=vs.100%29.aspx suggests that this example is incorrect only in which exception is thrown. Because it says:

In the exception list it says for IOE:

This doesn't quite match (from the exception list alone we'd expect the call to work, as the two `Add` methods are mutually-exclusive in which types they accept

[2016-04-24 23:52] JonHanna commented on #5946
Any attempt at this would introduce a burden in checking for the method repeatedly, but this could be memoised against the most common case of each type being the same; if the current argument type is the same as the previous, then the previous method can be used.

[2016-04-25 00:23] krytarowski commented on #8028
I'm updating pkgsrc and there is `57.1`. I will be working against this version.

[2016-04-25 00:32] JonHanna commented on #8034
If you want something quick-and-dirty then you can use `ValueTuple.Create(field1, field2).GetHashCode()`. It's the same algorithm as that used in `Tuple` (which for that matter, is similar to that in `Objects`) and doesn't have the allocation overhead.

Otherwise there are questions as to how good a hash you will need, what likely field values are there going to be (which affects which algorithms

[2016-04-25 00:48] svick commented on #8034
@JonHanna I think those question also apply to, for example, `string.GetHashCode()`. I don't see why providing `Hash` should be any harder than that.

Actually, it should be simpler, since users with special requirements can easily stop using `Hash`, but stopping using `string.GetHashCode()` is harder.

[2016-04-25 00:55] davidfowl commented on #8034
+1

We have one of these in ASP.NET, https://github.com/aspnet/Common/blob/dev/src/Microsoft.Extensions.HashCodeCombiner.Sources/HashCodeCombiner.cs. It's also inline friendly.

[2016-04-25 00:58] jamesqo commented on #8034
Ah, good idea, I hadn't thought of `ValueTuple` when making this post. Unfortunately I don't think that'll be available until C# 7/the next framework release, or even know if it'll be that performant (those [property/method calls](https://github.com/dotnet/corefx/blob/master/src/System.ValueTuple/src/System/ValueTuple/ValueTuple.cs#L1598-L1604) to `EqualityComparer` can add up). But I haven't take

[2016-04-25 01:02] krytarowski commented on #6546
Status update (Mon Apr 25 03:00:48 CEST 2016)

   Microsoft.CSharp.Tests  Total: 1, Errors: 0, Failed: 0, Skipped: 0, Time: 12,558s
   System.AppContext.Tests  Total: 15, Errors: 0, Failed: 0, Skipped: 0, Time: 17,236s
   System.Buffers.Tests  Total: 45, Errors: 0, Failed: 0, Skipped: 0, Time: 28,749s
   System.ComponentModel.Annotations.Tests  Total: 286, Errors: 0, Failed: 0, Skipped: 0, Time: 2

[2016-04-25 01:06] krytarowski commented on #6546
For the reference:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_debug_tst/116/consoleText
Total: 142566 Errors: 0 Failed: 0 Skipped: 28 Time: 915.341

[2016-04-25 01:19] DovydasNavickas commented on #2949
Ehm... One thing that I never expected to be not supported. Not that I use distributed transactions extensively, but they do have their use cases, especially when data is distributed into multiple databases or other data sources.

A simple example could be users store and users **data** store.
Users store works with Identity server and stores User info, encrypted passwords, etc.
It usually is sepa

[2016-04-25 01:42] JonHanna commented on #8034
I think you can use it with C# 2, just not with built-in support.

What would this class do differently? If explicitly calling `obj == null ? 0 : obj.GetHashCode()` is any faster, than that should be moved into `ValueTuple`.

I'd have been inclined to +1 this proposal a couple of weeks ago, but I'm less inclined in light of `ValueTuple` reducing the allocation overhead of the trick of using `Tuple

[2016-04-25 01:55] JonHanna opened #8036 "Allow ListInitExpression to have zero initializers"
Akin to #1877 allowing zero case blocks in a `SwitchExpression` and #3043 allowing empty `BlockExpression`s, it seems reasonable to allow `ListInitExpression`s to have zero elements. All the more so considering that `MemberListBinding`s allow them, and it requires no action beyond removing the explicit prohibition.

[2016-04-25 02:02] jamesqo commented on #8034
@JonHanna

Why not have `ValueTuple` just use the `Hash` class for getting hash codes? That would also reduce the LOC in the file significantly (which right now is about ~2000 lines).

[2016-04-25 02:04] JonHanna commented on #8034
That I could indeed get behind.

[2016-04-25 02:08] JonHanna opened #8038 "CI Failure: HttpClientHandler_ServerCertificates_Test.UseCallback_BadCertificate_ExpectedPolicyErrors"
The exception of "The buffers supplied to a function was too small" doesn't seem like something due to just network vagaries.

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/408/

[2016-04-25 02:25] jamesqo opened #8039 "[perf] BitConverter's Throw* methods could be tagged with MethodImplOptions.NoInlining"
Helper methods that throw exceptions usually shouldn't be inlined, since 1) they aren't a branch taken often and 2) they reduce the chance of the JIT inlining the caller, which is typically more important. For example, a GitHub search for [`NoInlining`](https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=NoInlining) in this repo shows that most of the use cases are for these kinds of methods/

[2016-04-25 03:46] ratishphilip commented on #8007
@mellinoe
Sounds interesting. Might look into it.
Thank you.

[2016-04-25 05:18] mikedn commented on #8039
Not inlining those helpers is something that the JIT compiler should figure out on its own. It should also figure out that those helpers never return and that's something that `NoInlining` doesn't help with, quite the contrary.

[2016-04-25 06:30] San7hos opened #8041 "dotnet restore failing on OS X"
Hi,

I have an asp.net project on my OS X and while with dnx and dnu everything works, I cannot make it work with dotnet cli. I have also started an SO question:

http://stackoverflow.com/questions/36787311/dotnet-cli-unable-to-restore-packages

My project.json file:

[code]

The command line output:

[2016-04-25 07:07] kapilash opened #8042 "Documenting the support for Negotiate Stream"
The behavior of ```System.Net.NegotiateStream``` for unix needs to be documented so as to allow the developers/administrators to install the required libraries.

```NegotiateStream``` relies on the gssapi implementation available on the platform.
* On Linux flavors, the default gssapi implementation provided is [MIT's krb5 library](http://web.mit.edu/kerberos/) which is available on all the linux

[2016-04-25 08:30] shrutigarg commented on #6063
this got fixed and merged , closing.

[2016-04-25 08:30] #6063 closed

[2016-04-25 08:32] shrutigarg commented on #5890
fixed an merged . closing

[2016-04-25 08:32] #5890 closed

[2016-04-25 08:32] shrutigarg commented on #7707
fixed and merged

[2016-04-25 08:41] shrutigarg commented on #2483
NTLM implementation is done and merged . Nothing is left now in client side implementation.

[2016-04-25 09:52] tmds opened #8043 "Is Marshal.SizeOf(Type) supposed to be obsolete?"
When using Marshal.SizeOf(Type), this gives a warning: "'Marshal.SizeOf(Type)' is obsolete"

Does this make sense? What's the rationale? What is the alternative?

cc @mellinoe

[2016-04-25 11:23] stephentoub commented on #8038
Dup of https://github.com/dotnet/corefx/issues/7812
cc: @davidsh

[2016-04-25 11:23] #8038 closed

[2016-04-25 11:24] stephentoub commented on #7812
From https://github.com/dotnet/corefx/issues/8038:

The exception of "The buffers supplied to a function was too small" doesn't seem like something due to just network vagaries.

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/408/

[2016-04-25 11:57] stephentoub commented on #8039
@jamesqo, did you open this issue because you're speculating that they are getting inlined, or have you confirmed that they actually are getting inlined?

[2016-04-25 11:59] stephentoub commented on #8032
@krytarowski, can this issue be closed?  It's unclear to me what is the action required.

[2016-04-25 12:00] stephentoub commented on #7986
I believe this issue has been fixed.  If you find with a recent build that it's not, please re-open. Thanks!

[2016-04-25 12:00] #7986 closed

[2016-04-25 12:09] mikedn commented on #8039
@stephentoub Yes, such throw helpers are unfortunately inlined by the current JIT. See https://github.com/dotnet/coreclr/issues/1270.

That said, this has nothing to do with perf, it's just that inlining bloats the caller unnecessarily. Adding `NoInlining` deals with the code bloat but it does so at the cost of decreased code quality of the main execution path.

[2016-04-25 12:16] stephentoub commented on #8039
Thanks.  Can you elaborate on this part?  I'd expect that at the call sites to these NoInlining methods, which we expect to only be used rarely and in exceptional situations, would just contain a method call site; is that not the case?

[2016-04-25 12:50] mikedn commented on #8039
Yes, it contains a call site and that's good for code size. But the JIT doesn't know that those helper never return, it assumes that they do and that the main code always executes. The `value` and `startIndex` parameters are initially in the `rcx` and `rdx` registers but these are killed by calls so the JIT has to move them to call preserved registers such as `rsi` and `rdi`. And these call preser

[2016-04-25 12:51] akusmin commented on #7986
I'm confused.
I've upgraded version of SDK to 1.0.0-rc2-20222 and version of System.IO.FileSystem  to 4.0.1-rc3-24025.

And no any changes. File is creating with permission 700.

SDK in Global.json:
[code]
Dependencies from project.json:
[code]

What have I done wrong?

[2016-04-25 12:51] stephentoub commented on #8039
Ah!  I understand now.  Thanks for the explanation.

[2016-04-25 12:59] JonHanna commented on #8039
@mikedn (and anyone else that knows) what's the effect of the pattern where instead of:

[code]

One has:

[code]

Since that pattern is also found in the project. Would this benefit more directly from `NoInlining`?

I'm not about to submit a PR full of 1500 `NoInlining` attributes, but I'm curious.

[2016-04-25 13:22] mikedn commented on #8039
@JonHanna This pattern (seen in LINQ AFAIR :smile:) is a compromise. It avoids problems associated with the lack of "no return" information (because the throw statement is kept inside the caller) but at the same the code is still larger than it needs to be since there are 2 calls instead of 1 (1 call to helper and 1 call to throw instead of just one call to helper).

[2016-04-25 14:12] AtsushiKan opened #8048 "The default debug action for *.Tests projects should disable xunit parallelism."
I see no advantage to having multiple tests running in multiple threads firing off breakpoints when I'm trying to debug a test.

tools\test.targets already nicely adds the "-wait" argument by default so the console doesn't disappear on you.

``  <StartArguments Condition="'$(StartArguments)'==''">$(TestArguments) -wait</StartArguments>
``

The argument "-parallel none" would be a great companion t

[2016-04-25 14:36] twsouthwick opened #8050 "Remove explicit reference to System.ComponentModel.Primitives project when dev/typedescriptor is merged to master"
The updated System.ComponentModel.TypeConverter utilizes new attributes in the S.CM.Primitives assembly, but the reference assembly has not been updated with that surface area. For now, there is an explicit reference. Once the branch gets merged and built, the reference assembly will be available and can be referenced instead of explicitly referencing the project file.

[2016-04-25 15:05] dagood commented on #7959
I wouldn't be surprised if it's solved (it seems like those and this error could all be explained as a threading issue), but I never saw this error myself.

[2016-04-25 16:22] ericstj commented on #7863
Yeah, that's expected.  I'm making changes to our packages to ensure that any packages that do support project-types that are still on packages.config get the same asset (by copying that asset into lib, so long as it doesn't require RID specific selection on those projects)

[2016-04-25 16:34] tstringer opened #8053 "Build fails on Ubuntu with missing corerun error"
I was successfully able to do a native build on Ubuntu Linux, but when attempting to do a `./build.sh managed` I received the following error:

And looking at the Tools dir, I don't see `corerun` there.  Below are the contents of this directory:

[code]

Here is my build of Ubuntu:
[code]

Is there something I'm missing or should have done?  I have followed the *nix build instructions line by line

[2016-04-25 16:50] JonHanna opened #8054 "Misleading error message on exception for expression delegate type."
The error message for a lamda expression of an invalid type is:

In fact it must be derived from `System.MulticastDelegate`, `System.MulticastDelegate` itself is not allowed, though it is derived from `System.Delegate`.

[2016-04-25 17:02] stephentoub commented on #7986
@akusmin, what do you see at the terminal when you type:
[code]
?

[2016-04-25 17:09] CIPop commented on #4467
After all fixes I was not able to repro this in my environment.

On machines with low CPU resources, a smaller timeout will cause this issue. If that's the case, we'll need to increase the current setting of 1 minute timeout for passing tests.
The current timeout has been verified to work on a 12 CPU box with 100 parallel tests and 2/8CPU VMs with 20 parallel tests.

[2016-04-25 17:10] CIPop commented on #5283
See #4467 for details of this investigation and fix.

[2016-04-25 17:10] #5283 closed

[2016-04-25 17:13] CIPop commented on #5284
See #4467 for details of this investigation and fix.

[2016-04-25 17:13] #5284 closed

[2016-04-25 17:13] CIPop commented on #5991
Fixed by #7937.

[2016-04-25 17:13] #5991 closed

[2016-04-25 17:39] #7889 closed

[2016-04-25 17:40] #7853 closed

[2016-04-25 17:40] #7873 closed

[2016-04-25 17:48] #7699 closed

[2016-04-25 18:01] ianhays opened #8059 "FileSystem Watcher: Consider polling API"
There is a prototype for a [Polling FileSystem Watcher in CoreFXLab](https://github.com/dotnet/corefxlab/tree/master/src/System.IO.FileSystem.Watcher.Polling) that we should look into bringing to CoreFX as an alternative to our current implementation.

### Some benefits of polling:
- Works on all systems for network drives
- Completely reliable - no event buffer overflow causing dropped/failed eve

[2016-04-25 18:09] stephentoub commented on #8059
It may be more reliable in that sense, but it's less in others.  For example, you're only going to be polling on some kind of interval, which means change notifications could be delayed for up to whatever that interval is, and changes that happen within that interval and are then reverted within that interval may go unnoticed.

It may avoid some system resource limitations, but it could stress oth

[2016-04-25 18:13] sokket commented on #8059
There are also tons of nuances in determining what kind of change occurred; for instance, we will have to be on the lookout for circular link references, A-B file renames (ex; two files A.txt and B.txt and the user renames A.txt to B.txt and B.txt to A.txt), and snapshotting the whole watch directory has it's own set of problems.

We had to tackle these in OneDrive when I was over there and there

[2016-04-25 18:15] stephentoub opened #8061 "Timeout_SetTo60AndGetResponseFromServerWhichTakes40_Success failed on Windows"
"The handle is invalid"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_win10_debug/12/consoleText
[code]

[2016-04-25 18:23] andriysavin commented on #7582
Any information when that RC3 is going to be available as a package?

[2016-04-25 18:26] KrzysztofCwalina commented on #8059
Yeah, it would be good to write down the guarantees and caveats of these two FWS alternatives.

As to the design discussion points, I would start with simply productizing the polling watcher without trying to unify them. I am not a big fan of the boolean/switch selecting the implementation. I think it would not really work well as the APIs are slightly different (for good reason), and also it woul

[2016-04-25 18:40] ericeil commented on #7742
This looks like a one-time timeout, probably due to slow infrastructure.  Closing until we see this again.

[2016-04-25 18:40] #7742 closed

[2016-04-25 18:44] ericeil commented on #7150
I've been unable to reproduce this, even artificially.  I'd guess we're hitting some corner case in Windows itself.  Closing this for now.

[2016-04-25 18:44] #7150 closed

[2016-04-25 18:53] bartonjs commented on #7959
Okay, since it only happened on OSX, and it happened amongst a lot of other errors at the same time; I'm going to call this closed until proven otherwise.

[2016-04-25 18:53] #7959 closed

[2016-04-25 19:07] dsgouda opened #8064 "System.Xml.XmlSerializer Perf tests failing"
@khdang when I run
``` msbuild /t:BuildAndTest src\System.Xml.XmlSerializer\tests\System.Xml.XmlSerializer.Tests.csproj /p:Performance=true ```
there seem to be some exceptions being thrown
[code]

[2016-04-25 19:09] ericstj commented on #7582
RC3 packages are already available here: https://dotnet.myget.org/F/dotnet-core/api/v3/index.json.

@natemcmaster there were issues across a large number of packages that we needed to fixup for UWP.  We're not recommending that folks take the new UWP meta-package from RC2.

[2016-04-25 19:12] mellinoe commented on #8053
It looks like init-tools.sh failed at some point. Is there an init-tools.log file next to init-tools.sh? If so, could you point out any errors appearing in it, or just paste the whole thing somewhere?

[2016-04-25 19:15] tstringer commented on #8053
@mellinoe thanks for the quick reply!  Here is the log output:

[code]

It's worth noting that this wasn't the first time I ran the build script, so this instance of running the build script explain that build tools have already been initialized:

[code]

With that being said, maybe init-tools issues were overwritten on subsequent runs?

[2016-04-25 19:20] andriysavin commented on #7582
@ericstj Thanks! I didn't know that URL, was taking all from "aspnet unstable", I guess...

[2016-04-25 19:29] akusmin commented on #7986
@stephentoub, output is
[code]

[2016-04-25 19:31] stephentoub commented on #7986
Are you using the old DNU tool or the new dotnet tool?

[2016-04-25 19:40] mellinoe commented on #8053
That is possible. Could you delete your Tools directory entirely and then run `init-tools.sh` by itself and post the log?

[2016-04-25 19:51] tstringer commented on #8053
@mellinoe Done!  Here is the output of not only re-running `init-tools.sh`, but also dumping `init-tools.log`:

[code]

[2016-04-25 19:57] mellinoe commented on #8053
It looks like you are missing libunwind from your machine. Could you try installing it using apt-get?

`sudo apt-get install libunwind8-dev`

[2016-04-25 20:10] bartonjs opened #8066 "OSX System.Net.NetworkInformation.Functional.Tests timeout in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/263/console

08:53:21   Discovered:  System.Net.NetworkInformation.Functional.Tests
08:53:21   Starting:    System.Net.NetworkInformation.Functional.Tests
08:53:21   System.Xml.XDocument.xNodeBuilder.Tests -> /Users/dotnet-bot/j/workspace/dotnet_corefx/master/osx_debug_prtest/bin/AnyOS.AnyCPU.Debug/System.Xml.XDocument

[2016-04-25 20:25] stephentoub commented on #8061
Same "The handle is invalid" error, but for a different test:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/438
[code]

[2016-04-25 20:34] khdang commented on #8064
I'll fix this. This issue is the same as #7584.

[2016-04-25 20:34] #8064 closed

[2016-04-25 20:35] chcosta opened #8067 "ProjectReference -> Package Dependency: Disabled System.Linq.Expressions from package dependency build"
System.Linq.Expressions does not build when project references are converted to package dependencies due to

See PR #7998

[2016-04-25 20:42] ericeil commented on #7833
One obvious choice to replace perf counters is `EventCounter`.  @vancem, is this ready for production use in CoreCLR?  Is there guidance somewhere for using `EventCounter` as a perf counter replacement?

[2016-04-25 20:49] CIPop commented on #1854
@MattAfflek Looking at the code, the failure originated from one of the previous calls that created the `ProtocolToken` object. There are 4 possibilities and unfortunately the call is not on the stack.
I'm closing this for now given that the API in question isn't supported by the contract. If you can submit a PR or a [Git Gist](https://gist.github.com/) with sample code, I can try to repro again.

[2016-04-25 20:49] #1854 closed

[2016-04-25 20:53] ianhays commented on #7858
@twsouthwick did you have a chance to open an issue in the CLI repo for this?

[2016-04-25 20:59] vancem commented on #7833
As Eric mentions, our expectation is to eventCoutners https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Tracing/src/System/Diagnostics/Tracing/EventCounter.cs found in the System.Diagnostics.Tracing package.

This does basically what you want (you log like PerformanceCounters, but it shows up as events (which can be displayed as normal event counters).

[2016-04-25 21:21] ericeil commented on #7833
@vancem pointed out offline that an advantage to exposing these ourselves, rather than relying on the OS, is that it becomes possible to consume them from platform-agnostic code (e.g., x-plat monitoring infrastructure).  I think that's enough to justify the (relatively low) cost of this.

I'll put together a PR with an implementation.

[2016-04-25 21:38] DiegoVil opened #8068 "UDP Datagram do not receive fragmented packets"
With [this ](http://stackoverflow.com/questions/36832880/problems-with-udp-in-windows-10-uwp)configuration I was able to see that when are sent fragmented packets Universal App do not receive any messagereceived event. When there is a single packet yes.

[2016-04-25 21:38] ericeil commented on #4890
This hasn't repro'd in more than a month, and I can't reproduce it, even with GCStress.  It's likely this was already fixed, possibly by dotnet/coreclr#4266.

[2016-04-25 21:38] #4890 closed

[2016-04-25 22:07] bdenison99 opened #8070 "Can't open VS project due to missing files"
corefx-master\corefx-master\src\System.IO.FileSystem.DriveInfo\src\System.IO.FileSystem.DriveInfo.csproj : error  : The imported project "\corefx-master\corefx-master\Tools\BuildVersion.targets" was not found. Confirm that the path in the <Import> declaration is correct, and that the file exists on disk.  \corefx-master\corefx-master\dir.props

Where are these files?

[2016-04-25 22:09] mellinoe commented on #8070
@bdenison99 Have you run `init-tools.cmd` before opening the solution?

[2016-04-25 22:24] akusmin commented on #7986
I'm using old one (dnu).

[2016-04-25 22:34] stephentoub commented on #7986
Ah, that's likely the issue then.  dnu/dnx would lock versions of assemblies it relied on, meaning even though you're specifying a newer version of System.IO.FileSystem, you're not getting one.  This is one of the issues addressed with the dotnet tool that replaces it.  You're going to need to upgrade to dotnet.  Note that dnu/dnx don't exist anymore as of rc2.

[2016-04-25 22:38] #7465 closed

[2016-04-25 23:44] tstringer commented on #8053
@mellinoe that looks like that fixed it!  Still building and running tests, but it's safe to say that I'm way further than I was originally :smile:

Thanks so much!  And I have to apologize, as I preemptively opened this issue, if only I would've just read the appropriate logging.

But now that this is out there, do you think it would be a good idea to put `libunwind8-dev` as a prerequisite in the

[2016-04-25 23:47] mellinoe commented on #8053
Yeah, we need to be better about documenting what is required. We list some things in https://github.com/dotnet/corefx/blob/master/Documentation/building/unix-instructions.md, but it is not exhaustive, and libunwind is not included there.

[2016-04-25 23:52] stephentoub commented on #8066
cc: @ericeil, is it possible your recent change to NetworkInformation causes this?  We've been seeing these hangs that we never used to see.

[2016-04-26 00:15] #1815 closed

[2016-04-26 00:18] tstringer commented on #8053
@mellinoe I started this with a fresh trusty tahr (14.04) installation because I could get my daily installation of Ubuntu working. So I could document the steps and requirements and create a pull request for this doc, unless you have any qualms with that! I'll verify my steps/prereqs are reproducible to a successful build.

Let me know your thoughts!

[2016-04-26 01:02] JonHanna opened #8074 "Lamda expressions can have pointer types with high arity but not with low."
The following works:

[code]

However, the following does not:

[code]

The difference being whether the arity is higher than the highest-arity `Func<>` delegate or not.

Neither are likely to be useful, as pointer types hit snags elsewhere, but if the former is allowed, then so should be the latter.

[2016-04-26 03:26] mellinoe commented on #8053
If you don't mind doing that, we would really appreciate it! If you know all of the things that are missing from a clean installation of Ubuntu 14.04, please add them to that document. At this point, I've had my machine set up for a while so I've long since forgotten what was needed from a clean install :smile: . Thanks!

[2016-04-26 03:56] ericeil commented on #8066
That change was Linux-only.

[2016-04-26 07:34] varocarbas commented on #6831
@Toxantron Your approach is nice and you put more effort on it than myself (shame on me :)). On the other hand, it also shows the kind of having-to-write-tons-of-code problems which I highlighted. It is just not the effort (in fact, it doesn't need to be too relevant, as far as this basically consists in repeating over and over similar codes), but also the associated reduction of efficiency. You h

[2016-04-26 07:46] varocarbas commented on #6831
@JonHanna Regarding your "There's mention of US/Imperial units like feet here...", I drew a very simplistic sample just to highlight the main ideas. Since the very first moment, my intention was being very comprehensive on the accounting for all the possible alternatives front. To me, this is the kind of implementation that can deliver a big plus ("wow! This is certainly nice"), but also minus ("n

[2016-04-26 07:54] Toxantron commented on #6831
@varocarbas I understand the benefits of your approach, but unless you limit it to just length measurements you will soon find yourself looking at a 500 lines parsing constructor. KISS applies in many situations however as we are working to create the .NET framework to be used by hundreds of different projects and a not some private helper library  we should go for the future proof solution.

If y

[2016-04-26 07:57] JonHanna commented on #8074
Second thoughts, they're so unuseful that backwards compatibility isn't a reason to accept the first any longer. Both should fail.

[2016-04-26 08:04] varocarbas commented on #6831
@Toxantron I don't see the disadvantage of

if it avods 5000 lines of (less-efficient) code. Additionally, you don't need to write everything together; you can separate it by keywords ("m" or "ft" or "in" or... -> call `DealingWithLength`).

Regarding the parsing approach you suggest, the problem is not doing it with just one case but with all the different types which your approach requires. For

[2016-04-26 08:13] Toxantron commented on #6831
@varocarbas The disadvantage lies mainly with long term maintainability. Also I agree with @svick that while your approach looks nicer on first sight people will soon get frustrated by not having compile time validation support. Accidentally adding "m" and "sq ft" will throw an exception while my proposal brings the the rules of physics into the compiler. Multiplying length by length gives area wh

[2016-04-26 08:28] varocarbas commented on #6831
@Toxantron

Does this statement mean that people get frustrated with parsing-based approaches?! How can be this the case? A parsing approach is expected to be used in certain situations (e.g., reading a file), where there is no possible frustration. On the other hand, using a strong-typed approach in this exact situation is certainly very problematic (i.e., having to choose the right type every ti

[2016-04-26 08:40] Toxantron commented on #6831
Neither am I. I only meant that we have two very different solutions and it will be up to the .NET team to way the pros and cons we listed - I think we covered them pretty well.

That is true, but I think just like `int.Parse("1")` parsing should be limited to getting the typed object from the string and then keep working with the object. That is the reason we have `int.Parse()`, `double.Parse()`,

[2016-04-26 08:52] varocarbas commented on #6831
Exactly the same than what I am proposing. For example, you have the following input file:
[code]

You might use the following code (C#):

[code]

As you can see, I am fully maximising the strong-typed nature of C#.

[2016-04-26 09:02] Toxantron commented on #6831
What if I put `2 m²` in there? Either your `Magnitude` class only supports length and you end up with a subset of my solution or you have no validation for `2m + 1m²`. Using your example with my approach looks like this (Depending on which class defines the `Parse`-method):

[code]

Is this really more complex? And you would get notified of a type missmatch the moment you try to convert `2 m²` to

[2016-04-26 09:17] varocarbas commented on #6831
I explained it above, it expects to deal with everything internally. That is: you see just one type (`Magnitude`), but internally there are as many types as required. All the operations have to be defined (via overloads, as shown for addition) and that's why you have full control on what you allow/not.

Take a further look at my first code and you would see what I mean: the `Magnitude` class is de

[2016-04-26 09:21] varocarbas commented on #6831
No, it's not. But you are using a parsing-based approach similar to what I am suggesting, what is an addition to your original proposal. So, you would have to write all what you propose + what I proposed to get exactly the same than what you can get by only doing what I proposed.

As said, you would also get an error with my approach (or the record might be plainly ignored). It would be like havin

[2016-04-26 10:07] krytarowski commented on #8032
Action required: add xterm entry to TermInfo.cs, I'm working on it.

[2016-04-26 10:14] Toxantron commented on #6831
Yes. I intentionally added a parsing API on top of the generic API.

No. `Magnitude<T>` still differns in compile time validation, semantic representation and extendibility either in the same project or any other project. Implementations for `IMeasurement` could cover everything from electrical current over mechanical force to thermal energy. I think we covered pros and cons of either solution and

[2016-04-26 10:17] 18583690825 opened #8077 "How do i get an spesified encoding like this."
Encoding enc = Encoding.GetEncoding("gbk");
↓↓↓↓↓↓↓↓↓↓
Exception: 'gbk' is not a supported encoding name. For information on defining a custom encoding, see the documentation for the Encoding.RegisterProvider method.
Parameter name: name

can anyone give a solution,please.

[2016-04-26 10:38] akusmin commented on #7986
@stephentoub, no result...
Used dotnet and same 700

dotnet --version:
[code]

Should I use newer version?

[2016-04-26 11:35] samholder commented on #2984
What is the fix for this? We have just upgraded to VS2015 and we are seeing this issue when we try and update packages for any solution that contains a dependency on System.Collections.Immutable regardless of whether we have updated to Update 2 of VS or not. I'm not sure what else we should be upgrading to fix this...

[2016-04-26 11:56] tmds opened #8079 "OSPlatform.FreeBSD"
While looking at OSPlatform, there seems to be some strangeness regarding FreeBSD.

FreeBSD is on the release/1.0.0-rc1 branch, but not on master or release/v1.0.0-rc2.
The 1.0.0-rc1 version doesn't have a property for FreeBSD but the private backing field is there.

cc @jasonwilliams200OK

[2016-04-26 11:58] stephentoub commented on #8079
We're not exposing additional public properties until we're confident in the implementation, tests are passing across the board, etc.  FreeBSD is not in a sufficiently working state yet to do that.

[2016-04-26 11:59] JonHanna commented on #8074
Considering the difficulties in using pointer types with parameters, it seems that just prohibiting them would be best, and the backward compatibility problem of that pretty low. Is there something I'm missing in thinking that?

[2016-04-26 12:22] tmds commented on #8079
@stephentoub ok, what about the differences between rc1, rc2 and master?

[2016-04-26 12:23] stephentoub commented on #8079
Can you paste links?  What differences are you referring to?

[2016-04-26 12:26] tmds commented on #8079
FreeBSD is here on rc1:
https://github.com/dotnet/corefx/blob/release/1.0.0-rc1/src/System.Runtime.InteropServices.RuntimeInformation/src/OSPlatform.cs

But not on master: https://github.com/dotnet/corefx/blob/master/src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/OSPlatform.cs

Nor on rc2:
https://github.com/dotnet/corefx/blob/release/1.

[2016-04-26 12:30] JonHanna opened #8081 "Expressions can be typed as open generic types"
The likes of `Expression.Default(typeof(List<>))`, `Expression.Constant(null, typeof(Dictionary<,>))` and some other expressions (though often other rules will get in the way) are allowed.

Since these represent a value of an open generic type, they aren't really meaningful.

They can have a value of null which can be used as long as it is converted to `object` and both compilation types accept `E

[2016-04-26 12:36] stephentoub commented on #8079
The implementation changed as part of https://github.com/dotnet/corefx/commit/dbb7a3f2d3938b9b888b876ba4b2fd45fdc10985 to move the name detection into the native shim.  At that point the const and field you reference became dead code and were removed.

[2016-04-26 12:38] tmds commented on #8079
Thanks for clarifying.

[2016-04-26 12:38] #8079 closed

[2016-04-26 15:21] bdenison99 commented on #8070
That did it.  I didn't see any reference to this step in the readme.md.  Can we get this added somewhere?

[2016-04-26 15:30] bdenison99 commented on #8070
So - next up is these two errors when trying to build:
NuGet Package restore failed for project System.IO.FileSystem.DriveInfo.Tests for 'test-runtime '.
Unable to resolve test-runtime  for DNXCore,Version=v5.0.

[2016-04-26 15:39] maririos commented on #8070
@joperezr could you please handle this? We need to show the "run init-tools" message again?

[2016-04-26 15:48] maririos commented on #8070
@bdenison99 I can't repro your error. Could you please share the steps you are executing in order to build?

[2016-04-26 15:58] JonHanna opened #8084 "Extension expressions with custom node types throws unreachable exception."
Considering the likes of:

[code]

Attempting to compile will throw a reasonable `PlatformNotSupportedException` on the interpreter, but an unreachable error (assertion failure in debug, IOE with the text "Code supposed to be unreachable" in release) on the interpreter.

At the very least the code clearly isn't unreachable when it's just been reached. Having the compiler match the interpreter woul

[2016-04-26 16:16] Edu115 opened #8086 "System.Net.Internals.InternalSocketException on OSX/Linux (Debian)"
Hi guys,

I have been struggling with this error for a few days, on an asp.net core application.
I've created a simpler application that just does a select query, and while it works fine in Windows, it doesn't work on both OS X and Linux (under docker with a debian image).
Although the Exception is the same on both environments, the message is slightly different:

OS X:

Environment details:
<pre>

[2016-04-26 16:27] chcosta commented on #2984
The fix was this was in how we define our dependencies in the package per target framework.  We made a change to better take into account inbox dependencies and not list them as package dependencies.  In the case of System.Collections.Immutable, we have an empty dependency group for net45 in the package starting with 1.1.38-rc2-23601.

[2016-04-26 16:30] joperezr commented on #8070
Thanks for reporting the issue @bdenison99, I have linked the PR that will give you a better error message if you haven't run init-tools before building individual projects.

[2016-04-26 16:33] Edu115 commented on #8086
From what I understand, the error seems to be the same, but the message is probably an internal error, that I guess is different depending on the OS.

[2016-04-26 16:39] tarekgh commented on #8077
try Encoding.GetEncoding("gb2312") or Encoding.GetEncoding(936)

[2016-04-26 16:45] tarekgh commented on #8077
one more point, you can look at the page https://msdn.microsoft.com/en-us/library/system.text.encoding(v=vs.110).aspx for the list of all encodings with the supported names and codepage numbers.

I am going to close this issue but feel free to reply back or re-open if you have any following questions.
Thanks

[2016-04-26 16:45] #8077 closed

[2016-04-26 17:00] mirichmo opened #8090 "System.ServiceProcess.ServiceController Throws InvalidOperationException for Valid Service"
There is a behavioral difference in the ServiceController constructor when handling a kernel mode driver between .Net 4.5 and CoreCLR. The ServiceController works as expected in .Net 4.5, but fails to properly construct a ServiceController object in CoreCLR; throwing an InvalidOperationException during subsequent use.

I verified that the process is present and running on the system:

sc.exe query

[2016-04-26 17:03] joshfree commented on #8086
@saurabh500 @ericeil could you please take a look?

[2016-04-26 17:04] joshfree commented on #8086
@Edu115 does this repro only inside of a docker container?

[2016-04-26 17:10] markvincze opened #8091 "WinHttpHandler causing “Unable to load DLL 'api-ms-win-core-localization-l1-2-0.dll'” error on production server"
We've started using the [WinHttpHandler](https://www.nuget.org/packages/System.Net.Http.WinHttpHandler/) NuGet package in an ASP.NET application. On the development machines it's working fine, and also works on our staging environment. The application targets .NET 4.6.1.

However, on production it throws the following error:

    System.DllNotFoundException: Unable to load DLL 'api-ms-win-core-loc

[2016-04-26 17:14] Edu115 commented on #8086
@joshfree No, in OS X I am running it directly without docker.
The error message is different, but I believe it is a OS specific message, the error is probably the same.

[2016-04-26 17:22] #7942 closed

[2016-04-26 17:28] saurabh500 commented on #8086
@Edu115 In your connection string you have [OUR_DB_SERVER_IP]\\MASTER
Can you try connecting with the port of the instance instead of the instance name?

Data Source=Our_Db_server,IntegerPort
E.g. Data Source=mydb.example.com,1433

[2016-04-26 17:42] Edu115 commented on #8086
@saurabh500 oh, I was so close :) ! My last connection string had something like [OUR_DB_SERVER_IP]\[INSTANCE],[PORT], but I had no idea you could just skip the instance if you use the port.

Long story short: it works with the port and removing the instance name!

We are, however, using dynamic ports, so referring directly to the port of the instance is problematic, right?

[2016-04-26 17:43] ericstj commented on #7881
Fix is in rc3-24026-00.

[2016-04-26 17:43] #7881 closed

[2016-04-26 17:46] saurabh500 commented on #8086
@Edu115 Thanks for the confirmation.

Unfortunately System.Data.SqlClient doesn't yet support instance name in the connection strings. To connect from Linux and OSX you will have to rely on specifying the server port right now.

[2016-04-26 17:50] saurabh500 commented on #8086
A few notes on how the instance name resolution works.
The Sql Server host machine has a Sql Browser service that runs. Once you configure an instance of the SqlServer, it is assigned a port. You can also specify the name for the instance which can be used for connecting to the server.

When you specify the name of the Sql Server instance, the browser service is queried for the port of the Sql Ser

[2016-04-26 17:52] saurabh500 commented on #8086
Duplicate of https://github.com/dotnet/corefx/issues/4346

[2016-04-26 18:06] Edu115 commented on #8086
Thanks @saurabh500 for the quick feedback and explanation.

Hopefully, using instance names will be possible by RC3.

Since this is a duplicate, I'll close it.

[2016-04-26 18:06] #8086 closed

[2016-04-26 18:10] #5965 closed

[2016-04-26 18:17] joshfree commented on #8086
@saurabh500 would it be possible to improve the exception message(s) here to make the instance name resolution issue / platform parity edge cases more discoverable and actionable?

[2016-04-26 18:18] joshfree commented on #4346
@saurabh500 could you get this added to the RC2 release notes (email @leecow)?

[2016-04-26 18:19] joshfree commented on #8091
cc: @chcosta @ericstj

[2016-04-26 18:21] redknightlois opened #8099 "OSInformation not querying the underlying OS runtime is simply not good enough."
Here is a real example of use why build time OS Information without the real runtime is not a good idea.

See discussions here:

- https://github.com/dotnet/corefx/issues/3032
- https://github.com/dotnet/corefx/issues/6105
- https://github.com/dotnet/corefx/issues/1017

I code for a managed NoSQL database and for us performance is a must; therefore in some cases we have to do some platform specifi

[2016-04-26 18:25] ericstj commented on #8091
The WinHttpHandler uses API sets even in the desktop implementation. @davidsh you might want to consider cross-compiling for desktop so that you don't require API-sets to be installed.

For .NET Core we ship the API sets out of band as part of the runtime in package Microsoft.NETCore.Windows.ApiSets.  The package requires the app to be built arch specific with project.json declaring the minimum ta

[2016-04-26 18:28] davidsh commented on #8091
We might want/need to do something similar for System.Net.Http package which uses WinHttpHandler internally.

[2016-04-26 18:31] davidsh commented on #8091
cc: @CIPop @himadrisarkar

[2016-04-26 18:47] ericstj commented on #8091
I'd like to hear from @weshaggard and @gkhanna79 what the overall strategy is for PInvokes on Windows for portable libraries.  Are we still getting any value out of API sets?

[2016-04-26 19:01] stephentoub commented on #7986
That's very old.  Can you just use the latest as shown on the home page at https://github.com/dotnet/cli/?

[2016-04-26 19:05] Priya91 commented on #8099
@redknightlois Have you looked at ```RuntimeInformation.OSDescription``` API, it basically gives output from uname on Unix and RtlGetVersion on Windows.

[2016-04-26 19:11] khdang commented on #7912
I can see this error now when doing a clean build.

After I add the fix, the packages references seem to be right but there are still errors.

Here's packages resolution from project references:
[code]

I looked at ```e:\Open\corefx\bin/obj/generated\System.Xml.XmlSerializer.Tests\AnyOS\project.json``` and it has all required contracts but then the CoreCompile doesn't include those contracts.

[co

[2016-04-26 19:21] ericstj commented on #8041
You are using rather old dependencies and framework monikers.
[code]
This project worked with DNX because DNX didn't actually check for implementations for many of the packages and relied on its own internal copy of the packages.  You could make this work with the CLI and those old packages/monikers but its probably better just to update your project.json to match the new templates.

You can see s

[2016-04-26 19:25] ericstj commented on #7869
GuidAttribute is part of System.Runtime.InteropServices which is only supported in netstandard1.1 and higher.  What CS file is including GuidAttribute?  That may need to be fixed in the template.

[2016-04-26 19:27] bdenison99 commented on #8070
I downloaded the zip file from here, stripped the alternate data streams that marked the files as coming from the internet, ran init-tools.cmd, then build.cmd.

[2016-04-26 19:31] Priya91 opened #8101 "Rename RuntimeInformation.OSDescription to RuntimeInformation.OperatingSystemVersion"
The OSDescription API returns the output from RtlGetVersion on windows and uname on Unix. The proposal is to rename the api to be used for runtime decisions rather than a display string, since we are making an OS runtime call, instead of setting the values at build time. If there were a new api added to get the runtime OS version, it will mostly be doing the same OS calls, and it's redundant to ha

[2016-04-26 19:36] redknightlois commented on #8099
Now I get why I couldnt find it. It is not in the RC1-update2 build. Closed.

[2016-04-26 19:36] #8099 closed

[2016-04-26 19:38] ericstj commented on #7473
The following works fine for me using the sample code provided and the latest CLI:
[code]

[2016-04-26 19:38] #7473 closed

[2016-04-26 19:52] redknightlois commented on #8034
Probably outside the scope of this issue. But having a hashing namespace where we can find high-performance cryptographic and non-cryptographic hashes written by experts would be a win here.

For instance, we had to code xxHash32, xxHash64, Metro128 and also downsampling from 128 to 64 and from 64 to 32 bits ourselves. Having an array of optimized functions can help developers to avoid writting th

[2016-04-26 19:57] JonHanna commented on #8034
@redknightlois I'd be happy to add my SpookyHash implementation to an effort like that.

[2016-04-26 19:59] blowdart commented on #8034
@svickCareful with string.GetHashCode() though, that's very specific, for very good reason, Hash DoS attacks.

[2016-04-26 20:07] #8070 closed

[2016-04-26 20:11] joperezr commented on #8070
What do you mean by alternate data streams?

Can you try cleaning out your repo by running `clean.cmd /all` and then building the whole tree by running `build.sh`? You shouldn't see any issues after doing those two steps.

[2016-04-26 20:11] mellinoe commented on #8101
I don't understand the rename. Doesn't this type include the actual name of the OS, i.e. "Windows", "Ubuntu", etc.? Why is "Version" better than "Description"?

[2016-04-26 20:16] joperezr commented on #8053
Hey @tstringer thanks so much for your help and for reporting the lack of documentation. Would it be ok to close this issue since you figured out what was wrong?

[2016-04-26 20:22] Priya91 commented on #8101
As it is making a runtime query to the OS Version APIs. The return is a string which is customized by the managed wrapper, which can be changed. After the API rename, I expect this API to just return the output from OS call without any managed customizations.

[2016-04-26 20:23] markvincze commented on #8091
Thanks for quickly responding.
Just to make it clear: this is not a .NET Core application, but an ASP.NET 4.6 app, targeting .NET 4.6.1.
If it matters, the OS on the production system where the problem occurs is Windows Server 2008 R2.

[2016-04-26 20:33] akusmin commented on #7986
@stephentoub, thanks! It was a challenge... Now it's working great!

[2016-04-26 20:34] stephentoub commented on #7986
Excellent.  Glad you got it working; sorry it was a hassle.

[2016-04-26 20:37] bdenison99 commented on #8070
https://blogs.technet.microsoft.com/askcore/2013/03/24/alternate-data-streams-in-ntfs/

This is the mechanism by which Windows determines that a file came from the internet, an e-mail attachment, etc.  I saw an error early in the build process that said that the powershell script was unsigned and couldn't be run because the powershell execution policy was set to not allow it.  Removing the ADS fro

[2016-04-26 20:40] ericstj commented on #7869
Found the cause, this is coming from Properties\AssemblyInfo.cs:
[code]

That should be remove the project template.  In fact most of the stuff in AssemblyInfo.cs should probably be removed since it looks like this is redundant to info in the project.json.

@Pilchie is this something you own?

[2016-04-26 20:42] San7hos commented on #8041
@ericstj I have realised that after seeing the new samples to which I had already been pointed, thanks. I forgot to close the issue, sorry about that.

[2016-04-26 20:42] #8041 closed

[2016-04-26 20:55] krytarowski commented on #6546
New results for updated mscorlib.dll and tests. (Last time I used 5 days old ones).

   Microsoft.CSharp.Tests  Total: 1, Errors: 0, Failed: 0, Skipped: 0, Time: 11,663s
   System.AppContext.Tests  Total: 15, Errors: 0, Failed: 0, Skipped: 0, Time: 16,698s
   System.Buffers.Tests  Total: 48, Errors: 0, Failed: 0, Skipped: 0, Time: 26,295s
   System.ComponentModel.Annotations.Tests  Total: 286, Err

[2016-04-26 21:33] #7930 closed

[2016-04-26 21:34] ericstj commented on #8091
@markvincze understood.  The problem here is that all the CoreFx assemblies PInvoke into API set dlls rather than the actual Windows dlls.  Those API set DLLs are not part of the operating system on older OSes.  For .NET Core we redistribute the API sets, but that is not done for .NET desktop.

[2016-04-26 21:39] Pilchie commented on #7869
Yes.  +rchande.  I think we decided not to fix for U2, given that you have to retarget down manually however.

[2016-04-26 21:45] varocarbas commented on #6831
@mellinoe Do you mind to comment on the up-for-grabs issue? I wrote the definitive proposal for my previous ticket and it didn't got that flag.

Also what about the new Toxantron's proposal? I was planning to start writing (code + test) my definitive proposal right away; but what should I do now? Wait for your (.NET team + community) decision regarding what option will be pursued?

[2016-04-26 21:46] sergeybykov commented on #7938
`FormatterServices.GetUninitializedObject()` is absolutely necessary for Orleans-generated serializers. Without it we'll be entirely broken.

[2016-04-26 21:55] terrajobst commented on #8101
Looks reasonable to me.

@weshaggard @KrzysztofCwalina?

[2016-04-26 22:01] stephentoub commented on #7812
Again:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/517/consoleText

"The buffers supplied to a function was too small"

[2016-04-26 22:06] chcosta opened #8104 "ProjectReference -> Package Dependency: Disable SqlClient tests from package dependency build"
System.Data.SqlClient.Tests.csproj and System.Data.SqlClient.ManualTesting.Tests.csproj have a dependency on sni.dll which we do not currently build in the open.

If we build packages in the open (producing new package versions), and then we attempt to restore packages against the new versions, we hit an error because the sni packages were not produced...

Errors in E:\gh\chcosta\corefx\bin/obj/ge

[2016-04-26 22:20] mellinoe commented on #6831
I don't think "up for grabs" makes sense for this, at least from how I think about the label. "Up for grabs" usually means there is a concrete pieces of work to be done, but nobody has committed to doing it yet. In this case, it seems like there isn't even a design locked down, and even if there was, someone would already be lined up to implement it.

As for the discussion above: I have skimmed it

[2016-04-26 22:24] gkhanna79 commented on #8091
For RC2, .NET Core installation carries api-set binaries. For RTM, we are working towards a plan where they will not be required and link against standard import libraries (e.g. kernel32.lib). However, @weshaggard is aware of certain libraries that need to run on platforms where api-set linkage is required and such libraries would need to be built differently.

[2016-04-26 22:41] davidsh commented on #7812
That particular WinHTTP error is never supposed to bubble out. It means that we called WinHTTP and didn't give it a buffer big enough to return information. That would mean there is a bug in our code.

We didn't start seeing these errors until we added `HttpClientHandler` properties to expose server certificate validation callbacks. While this error doesn't repro very often, that is the area of co

[2016-04-26 23:22] joshfree commented on #8104
@saurabh500

[2016-04-26 23:35] shmao commented on #7778
I reviewed the use of the [Dictionary](https://github.com/khdang/corefx/blob/e477b9cd98a4855cf5820dc3bf9483e321aa25e1/src/System.Xml.XmlSerializer/src/System/Xml/Serialization/Compilation.cs#L306) in question. It doesn't seem like we would have issue with concurrent reading and writing. Although we have lock on write operation only, we make a clone of the dictionary every time we add an element. T

[2016-04-26 23:35] #7778 closed

[2016-04-26 23:35] ericstj opened #8108 "Implement File enumeration over WinRT"
We are missing an implementation of FileSystem.EnumeratePaths and FileSystem.EnumerateFileSystemInfos on WinRTFileSystem.
https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/WinRTFileSystem.cs#L231

This should be implemented by grabbing a StorageFolder for the path, then constructing a query and calling CreateFileQueryWithOptions.

- Translate SearchOption into [Fo

[2016-04-26 23:42] NickCraver commented on #6398
Is there any progress on this API? I'd hate for this to miss RC2 since it's the last API needed to port several applications here (that use our global error handler to monitor the entire network).

I want to throw another +1 for @justinvp's proposal above, though `Exception` seems too redundant in the namespace, type, *and* each event. I'd shorten the event names to remove the suffix, e.g. just `U

[2016-04-26 23:47] ericstj commented on #7234
Failed again with GatewayTimeout: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/523/testReport/junit/System.Net.Http.Functional.Tests/HttpClientHandlerTest/GetAsync_ResponseWithSetCookieHeaders_AllCookiesRead_cookie1___foo__aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

[2016-04-26 23:56] tstringer commented on #8053
@joperezr absolutely!  And likewise, @mellinoe, I have created pull request #8109 to add this documentation.  Let me know your thoughts!

[2016-04-26 23:56] #8053 closed

[2016-04-27 00:10] CIPop commented on #5397
No other reports recorded. Most likely a CI VM config issue.
I wasn't able to repro this issue part of my investigation (#4467 / #7937).

[2016-04-27 00:10] #5397 closed

[2016-04-27 00:15] CIPop commented on #7735
@ramarag Is there any way I can get access to the machine to investigate this issue?

[2016-04-27 00:18] weshaggard commented on #8101
I still do not believe this should be used for runtime decisions and I agree with Eric that it we shouldn't rename it to OperatingSystemVersion. If we really want to expose the version information, which I'm still not convinced of either, it should be a version object and not a string coming from an underlying OS call.

[2016-04-27 00:23] terrajobst commented on #8101
Good point. Wes just mentioned in person that we discussed this in FXDC and specifically used the term "description" to make it clear that this is a display name, rather than a value that can be compared.

[2016-04-27 00:38] #7863 closed

[2016-04-27 00:56] botaberg opened #8110 "Remove temporary project references in ref/System.Runtime.InteropServices.csproj"
The System.Runtime.InteropServices reference assembly contains temporary project references to the System.Runtime and System.Runtime.InteropServices.PInvoke reference assemblies. This is necessary because of the GCHandle move (see https://github.com/dotnet/corefx/pull/7900).

[2016-04-27 01:36] #7962 closed

[2016-04-27 01:51] 18583690825 commented on #8077
@tarekgh
Thanks very much!
only two lines of code solved my question.
`Encoding.RegisterProvider(CodePagesEncodingProvider.Instance);`
`Encoding enc = Encoding.GetEncoding(54936);`

im using `dnxcore50` and `coreclr update1` so does this work on linux?

[2016-04-27 03:26] jamesqo opened #8112 "Adding a StringBuilderCache-like API to System.Buffers"
We have a `StringBuilderCache` [class](https://github.com/dotnet/corefx/blob/master/src/Common/src/System/IO/StringBuilderCache.cs) in `Common` that caches `StringBuilders` per-thread so a new one doesn't always have to be allocated in certain scenarios. Unfortunately, this class is compiled separately for each project, so each assembly gets a new cache. It would probably be useful to expose a cen

[2016-04-27 07:01] attilalaszlo opened #8113 "SendAsync - System.Net.Http.HttpRequestException: Error while copying content to a stream"
I have a quite critical issue with HttpContent disposing _just_ on linux. (under IIS 8.5 it's working fine)
Tried with: coreclr 1.0.0-rc1-update1 and 1.0.0-rc1-update2

I made an action in an asp.net web api, and in that:
[code]

If I start a load test on thin, then randomly get this error message:
[code]

I investigated it for several days. Finally I make a wrapper class for the ByteArrayContent:

[2016-04-27 07:42] varocarbas commented on #6831
@mellinoe Thanks for a so detailed answer.

As said to @svick, this other library is interesting but not exactly what I am proposing. My proposal is mostly focused on highly simplifying the management of more or less complex set of inputs (i.e., reading a file). Your (and @Toxantron's) proposal of adding a parsing layer on top of a more comprehensive implementation would imply a too big/complex re

[2016-04-27 09:13] markvincze commented on #8091
Is there any way to solve this on the short term and use this package on Windows Server 2008 R2?
It is urgent for me to get this working, so I'm interested in temporary or short-term solutions too.

For example it's working on my development machine and I found the dlls in `C:\Windows\System32`, yet my machine has Windows 7 installed.
How did those dlls get installed on my computer? Can I also ins

[2016-04-27 10:53] hughbe opened #8114 "System.Text.Encoding and System.Text.Encoding.Extensions test duplication"
Currently, the System.Text.Encoding and System.Text.Encoding.Extensions test projects test the same things for the same classes - I.e. ASCIIEncoding, UT7Encoding, UTF32Encoding, UTD8Encoding and UnicodeEncoding. For Latin1Encoding, System.Text.Encoding.Extensions is the only one testing this class

This means that there is lots of duplication between the test projects. Ideally, this should be fixe

[2016-04-27 11:50] patryk9200 commented on #984
It's must have library for all IoT development. For example, I need SerialPort for communication with Z-Wave, ZigBee  etc. & other IoT communication related stuff.

[2016-04-27 12:09] kapilash opened #8115 "Refactor SafeFreeCredentials class"
Tracking issue to fix the following code smells [``SafeFreeCredentials`](https://github.com/dotnet/corefx/blob/master/src/Common/src/Interop/Unix/libssl/SecuritySafeHandles.cs#L62) class:

~~\* As pointed out in [the PR comments of #6469](https://github.com/dotnet/corefx/pull/6469#discussion_r56659315),  this class needs to be split up into two separate classes~~ (via #8452)
- Rework PAL to remove

[2016-04-27 12:10] kapilash commented on #7031
Moving 2 and 4 to separate issue: #8115

[2016-04-27 12:28] kapilash commented on #7031
No 13, [Look into Asserts for NTLM case](https://github.com/dotnet/corefx/pull/6469#discussion_r54466222) was fixed via #7647

[2016-04-27 12:40] kapilash commented on #7031
Closing *15* [Is it ```/bin/sh``` or ```bash```](https://github.com/dotnet/corefx/pull/6469#discussion_r56663461).

It should be ```/bin/bash`` and not ```/bin/sh``` . The latter is , usually, a symbolic link pointing to whatever is the system shell. Using ```/bin/bash``` is the safer choice allowing us to use bash specific features in the script.

[2016-04-27 12:54] stephentoub commented on #8113
@attilalaszlo, thanks for reporting this.  When you say that preventing the disposal of the HttpContent addressed the problem, can you clarify what the behavior then is?  In looking at the code this morning, I see how this issue could arise, and I'll be looking into a fix for it, but I'd have expected it to only occur in a situation where the request was already failing or being canceled... when y

[2016-04-27 13:04] kapilash opened #8117 "NegotiateStreamTest For Unix relies on ManualSkip"
The current situation with running functional tests on Linux for `NegotiateStream` is suboptimal. Instead of using a `ConditionalFlag`, each test [checks if the installation is successful or not](https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/tests/FunctionalTests/NegotiateStreamTestForUnix.cs#L155) and bails out if it wasn't. This means that we cannot rely on the output of x

[2016-04-27 13:05] kapilash commented on #7031
Moving  [Why manual skip instead of  compilation flag](https://github.com/dotnet/corefx/pull/6469#discussion_r56673098) to #8117

[2016-04-27 13:26] JonHanna opened #8119 "TryGetActionType and TryGetFuncType throw on some failures instead of returning false/null."
If there are too many types, too few, or if one of the types is `ByRef` then these return false (with `null` to the `out` parameter) as expected.

However, if the type list is null, contains null, contains a pointer type, or contains `typeof(void)`, they throw an exception, contrary to the `TryXXX` semantics.

Throwing on null or containing null is perhaps defensible, but probably still incorrect.

[2016-04-27 13:29] attilalaszlo commented on #8113
@stephentoub After I made the quoted modification (preventing the HttpContent disposal), my requests are succeed.
So I expected all my requests to succeed, but the HttpContent was disposed (as I guess before it reached the requested server itself). After I was preventing the dispose (and do it manually) all my requests were succeed.

[2016-04-27 13:59] stephentoub commented on #8113
Thanks, @attilalaszlo.  Have you tried on something more recent than rc1?  Could I ask you to try with a recent rc2 build?  (System.Net.Http didn't actually change in any of the rc1 updates, so the bits have evolved quite a bit since the build you're using.)  In the meantime I'll look into it further.

[2016-04-27 14:04] stephentoub commented on #8113
One more question:
In your repro you have:
[code]
Does this repro if you use a non-empty content? e.g. if you use ```new byte[100]``` instead of ```new byte[0]```?

[2016-04-27 14:05] davidsh commented on #8091
api-set binaries are something that was added in the Windows 8 (and Windows Server 2012) timeframe. These binaries don't exist on platforms such as Windows 7 (or Windows Server 2008 R2).

That is why the various .NET Core installers will copy those binaries to the machine.

Yes, you can install them.  But you should do it as part of installing .NET Core tools.  I realize that you have a Desktop ap

[2016-04-27 14:07] JonHanna opened #8120 "Are types VBCallSiteDelegate0…7 missing?"
There's code in src/Common/src/System/Linq/Expressions/Compiler/DelegateHelpers.Generated.cs defining and using public types `VBCallSiteDelegate0<T>` through `VBCallSiteDelegate7<T>`.

Because these are wrapped in `#if !FEATURE_COMPILE` they aren't active.

Since however the compiler and interpreter used to be mutually exclusive, `!FEATURE_COMPILER` used to entail `FEATURE_INTERPRET` perhaps this

[2016-04-27 14:23] attilalaszlo commented on #8113
@stephentoub I'll check with rc2 on the weekend.
I didn't checked with `new byte[100]` but I checked with `StreamContent` and `StringContent` and did the same random error.
It can be important that I can't repro it under IIS.

[2016-04-27 15:19] stephentoub commented on #8113
Thanks, @attilalaszlo.  When you say "but I checked with  StreamContent  and  StringContent  and did the same random error", were they empty (0-length) or did they have data to send?

[2016-04-27 15:22] tarekgh commented on #8077
Yes it should work on Linux exactly as it works on Windows. Enjoy!

[2016-04-27 15:30] attilalaszlo commented on #8113
@stephentoub empty and data included requests also can do the same (and also tried with various httpmethod (get, post, put, delete))

[2016-04-27 15:31] JonHanna opened #8121 "Expression.GetDelegateType works with pointer types for high arity but not for low."
The following works:

[code]

But the following throws `ArgumentException`:

[code]

This is similar to (indeed, a variant of) #8074, but differs as while there the usefulness of lambda expressions that take pointer arguments is questionable, here the delegate could be used in a variety of ways that don't meet the same issues, so there's more value in making both work, rather than in making both t

[2016-04-27 15:37] ericstj commented on #8091
@markvincze are you using project.json or packages.config to build your app?

[2016-04-27 15:39] tarekgh commented on #8114
I would recommend to do:

- remove any duplication first.
- all basic encoding testing should be kept under System.Text.Encoding.Tests
- the extra functionality provided by System.Text.Encoding.Extensions should be tested by System.Text.Encoding.Extensions without doing any duplication with System.Text.Encoding.Tests
- for common helper test classes it can got to common/tests folders
- we should c

[2016-04-27 15:45] ericstj commented on #8091
Some of them are installed by the UCRT update: https://support.microsoft.com/en-us/kb/2999226
Not all though.  I don't think this has LibraryLoader which is required by WinHttpHandler.  There appear to be some other updates like https://support.microsoft.com/en-us/kb/2790113 which include this, but I'm not sure of a comprehensive one.

If you're using project.json you can just reference the Micros

[2016-04-27 15:52] markvincze commented on #8091
It's an ASP.NET 4.6 app, and I'm using csproj and packages.config, and not the new project.json model.

I'll experiment on a clean Windows Server 2008 R2 virtual machine and I'll write a comment about what approach worked.

[2016-04-27 16:05] AtsushiKan commented on #864
What's there to test? System.Reflection.Primitives is a contract full of enums.

[2016-04-27 16:05] #864 closed

[2016-04-27 16:09] AtsushiKan commented on #6402
Closing RefEmit issues.

[2016-04-27 16:09] #6402 closed

[2016-04-27 16:12] hughbe commented on #8114
Thanks - by extra functionality do you mean APIs exposed by the contract - I.e in the ref folder

[2016-04-27 16:12] AtsushiKan commented on #7520
This seems to have morphed into a series of questions about VS rather than about the framework. This isn't the right place for that sort of question.

[2016-04-27 16:12] #7520 closed

[2016-04-27 16:14] tarekgh commented on #8114
exactly. thanks :-)

[2016-04-27 16:18] AtsushiKan commented on #6857
It appears the original issue has been fixed in System.Composition by removing the assumption that ParameterInfo is a valid key. The caching of reflection objects such as ParameterInfo are driven by performance and memory consumption desires, not as a promise that it can be used to establish semantic identity.

The question of whether Reflection <i>should</i> offer a more complete "comparison" sto

[2016-04-27 16:19] tmat commented on #6402
@AtsushiKan Why is this closed?

[2016-04-27 16:22] ericstj commented on #7869
@rchande do you have an issue tracking this in for the VS templates?  If so we'll close this one.

For folks that hit this, they can workaround by deleting assemblyinfo.cs from the project.

[2016-04-27 16:25] joshfree commented on #8114
tagging this with `grabbed by community`; @hughbe let me know if you weren't intending to pick this one up 😄

[2016-04-27 16:27] Mike-EEE commented on #6857
Great... thank you for for the explanation, @AtsushiKan.  I might be missing something, but [the code file/line](https://github.com/dotnet/corefx/blob/master/src/System.Composition.TypedParts/src/System/Composition/TypedParts/Discovery/DiscoveredPart.cs#L152) that I referenced still appears to be using the `ParameterInfo` still...

[2016-04-27 16:28] KrzysztofCwalina commented on #8112
Yeah, I talked with @sokket about adding object pool to corefx. Maybe not to System.Buffers though.

[2016-04-27 16:32] hughbe commented on #8114
yeah I was, thanks for doing that @joshfree

[2016-04-27 16:32] hughbe commented on #8114
Just while we're at it - @tarekgh do you have any areas of System.Text.Encoding that I can work on after the cleanup? I wouldn't mind having some direct suggestions :)

[2016-04-27 16:39] AtsushiKan commented on #6857
Oh yes, my mind skipped a step there. The bug in Composition has been acknowledged, but not yet fixed. Too early to close the issue.

[2016-04-27 16:43] cervengoc opened #8123 "Allow DisplayAttribute on Class declarations"
Hello, I'd like you to consider allowing `DisplayAttribute` on class declarations. Forgive me if this is a duplicate, I haven't found anything related. Some use cases for it:
- Auto-generate form captions
- Auto-generate report captions
- Use this information to extend nested property captions (like `Person.Details.Address` could get a label as `Personal info / Address`)
- Auto-generate documentat

[2016-04-27 16:45] Mike-EEE commented on #6857
Whew... sanity restored.... for now. :smile:  Are you thinking this System.Composition fix will make it into RTM?  If neither issues will be addressed for RTM, it would be great to somehow see if the deeper issue/conversation could be resolved for a future release, and what that might look like.

[2016-04-27 16:51] joshfree commented on #8123
@lajones PTAL

[2016-04-27 16:53] AtsushiKan commented on #6857
The target for the System.Composition fix is RTM for now.

The bigger issue about comparing Reflection objects - I'm pretty sure that won't make RTM as there a lot of tradeoffs and conflicting interests there.

 It'd be a good Issue for a Future milestone.

[2016-04-27 16:53] bartonjs opened #8124 "Make System.Security.Cryptography.Native.dylib reference libcrypto/libssl via rpath"
The brew installed openssl has a library id of /usr/local/opt/openssl/lib/libcrypto.1.0.0.dylib, which doesn't seem to interact well with the macports installed version.

For all the same reasons we make our libraries use an id with rpath we should use `install_name_tool –change` to rewrite these references post-link.

[2016-04-27 16:55] tarekgh commented on #8114
@hughbe, first I would to thank you for your effort and willing to help more.
I would suggest if you can start moving to other areas. one area that I am feeling is important and may need adding/cleaning tests is System.Console and in same time it is related to System.Text.Encoding too. I can suggest more if you are not interested in such area.

[2016-04-27 16:56] Mike-EEE commented on #6857
OK... sounds good.  How does one create an issue for a future milestone? :)

[2016-04-27 16:57] hughbe commented on #8114
brill, I'll take a look!

[2016-04-27 16:58] AtsushiKan commented on #6857
There’s already a “Future” selection under the “Milestone” dropdown box ☺

[2016-04-27 17:03] Mike-EEE commented on #6857
Hmmm... I am missing something, then.  This is what I see under milestone:
![](http://content.screencast.com/users/Mike-EEEE/folders/Jing/media/779be712-1969-4a47-adfb-d2370f92bfde/2016-04-27_1301.png)

I am also very much a GitHub newb. :P  Is it possible to simply clone this issue under the Future milestone?

[2016-04-27 17:21] AtsushiKan commented on #6857
I can open the issue when I get a free moment.

[2016-04-27 17:24] joperezr commented on #4883
Looks like this very old issue is repro-ing again. I'm trying to investigate why is this happening this time around.

[2016-04-27 17:42] martingbrown opened #8126 "Allow custom format strings for boolean values"
This is moved from User Voice https://visualstudio.uservoice.com/forums/121579-visual-studio-2015/suggestions/5748267-allow-custom-format-strings-for-boolean-values?tracking_code=59376d71f1665e5476be1026a8c3318e

I would like to be able to specify how string.Format displays the True and False values of Boolean variables.

For example I would like the following C# snippet to output "Boiler: On" rat

[2016-04-27 17:49] #7584 closed

[2016-04-27 18:02] Priya91 commented on #8101
Why is this scenario not convincing?

I dont think so, that is what we did in Desktop and it lead to problems finally getting the version returned to be a fixed value. Returning the version as string gives more flexibility especially in xplat with different version syntax among OSes. And in future when more OSes are supported, how do we maintain this Version object.

[2016-04-27 18:10] mellinoe commented on #8126
Is a custom format specifier the best solution here? Why not just an extension method, something like `boolValue.ToOnOffString()`?

[2016-04-27 18:30] mellinoe commented on #6831
Like I said above, I think string parsing should be a completely separate discussion from the design of the library. It seems like a baseline of functionality that would be required for any library like this to be useful. The purpose of string parsing methods are to transform input data into specialized domain types. It's more interesting to talk about how those specialized domain types are design

[2016-04-27 18:38] AtsushiKan opened #8130 "Comparing Reflection objects. We either need a story or decide we don't have a story."
This came up as an underlying issue in Issue #3657. Opening this as a Future issue to track.

What's a developer to do if you need to compare two Reflection objects such as ParameterInfo for "semantic equality"?

On .NET Native, we actually did override Equals/GetHashCode on these objects and they perform semantic equality. However, .NET Native uses a completely different implementation of Reflect

[2016-04-27 18:39] AtsushiKan commented on #6857
Ok, I’ve opened https://github.com/dotnet/corefx/issues/8130. Maybe the “Future” milestone is only visible to MS people – I’m not sure.

[2016-04-27 19:10] varocarbas commented on #6831
@mellinoe

Sure. Perhaps I didn't explain my point properly. I meant focusing on a more simplistic approach (happening to dealing with string parsing) like the one I am proposing versus a more comprehensive one, like Toxatron's one. In summary: having to create x number of not-precisely-simple classes with a relevant number of dependencies or just one with a more complex internal structure.

No do

[2016-04-27 19:58] thedrow opened #8132 "Allow custom format strings for boolean values"
I would like to be able to specify how string.Format displays the True and False values of Boolean variables.

For example I would like the following C# snippet to output "Boiler: On" rather than "Boiler: True":
[code]

I filed this issue in [uservoice](https://visualstudio.uservoice.com/forums/121579-visual-studio-2015/suggestions/5748267-allow-custom-format-strings-for-boolean-values?tracking_co

[2016-04-27 19:59] KrzysztofCwalina opened #8133 "Add FormatterServices.GetUninitializedObject"
The current plan is to not support binary serialization **natively** in .NET Core, but we would like to enable the community and partners (e.g. distributed computing framework providers), and possibly our own out-of-band libraries (BinaryFromatter in a compatibility pack published to nuget) to implement something similar to what binary serialization is doing on top of .NET Core.

So far, we identi

[2016-04-27 20:00] thedrow commented on #8132
Oh I see that it's already migrated in #8126. Sorry for the noise.

[2016-04-27 20:00] #8132 closed

[2016-04-27 20:00] KrzysztofCwalina commented on #8133
@weshaggard, as we discussed, you asked me to open this issue and you said you can find somebody  who could implement it. Thanks!

[2016-04-27 20:05] KrzysztofCwalina commented on #7938
@zhenlan, you can see #8133 on some my current thinking around this issue.

I will look into ISerializable as well, but I think it's a bit more tricky. The two APIs that I proposed we add are general purpose enablers. ISerializable **is** binary serialization and it comes with its baggage. But we really want to unblock the community, and so nothing is off the table.

[2016-04-27 20:07] thedrow commented on #8126
It felt like it's missing. Creating an extension method is far more verbose than simply writing "On:Off" or "Yes:No".
As far as I recall Boolean.ToString has an overloaded implementation that accepts an IFormatProvider but does nothing with it.
The idea was that we could use the IFormatProvider to translate the boolean value into something meaningful.
So the string formatter will call ToString lik

[2016-04-27 20:12] vcsjones commented on #8126
That's due to bool implementing `IConvertible`. I fully agree with with @mellinoe though. I don't see the value in supporting custom formatters.

How is that an improvement over `arg ? true_string : false_string`?

[2016-04-27 20:23] joperezr commented on #7538
build time in non-Windows has improved now since @mellinoe fixed which tests where being excecuted plus the change that added /m option to msbuild. If there is nothing else to this issue, I would like to close it as a dupe to #6220 which is about the msbuild /t:rebuild always rebuilding. Would that be ok with you guys? @mellinoe @manu-silicon

[2016-04-27 20:31] davidsh commented on #7975
Fixed via #8095

[2016-04-27 20:31] #7975 closed

[2016-04-27 20:33] eiriktsarpalis commented on #7938
@KrzysztofCwalina I should point out that ISerializable is *not* tied to binary serialization (or any serialization format for that matter). It merely provides an abstraction for serializer implementations to extract and reconstruct objects using SerializationInfo.

[2016-04-27 20:35] JonHanna commented on #7953
@joekaiser would you be able to put a repro of this into a gist or something? I'd like to give it a look.

[2016-04-27 20:37] JonHanna commented on #5078
On second thoughts, it's not just clearer, it's a lot clearer. It's not common to want to actually repeat actions, but it's not impossible either. I've done so in test code, though I don't think I've done so in real code.

[2016-04-27 20:42] KrzysztofCwalina commented on #7938
@eiriktsarpalis, when I said "binary serialization", I meant the specific technology we have in .NET Framework. I do not have anything against serializing to a binary format. I actually think it's great/efficient.

As a side note, do you know of any other serializers using ISerializable besides the serializers in .NET Framework? i.e. I wish ISerializable was an abstraction, but it does not seem to

[2016-04-27 20:48] svick commented on #8043
The [message](https://github.com/dotnet/corefx/blob/54e065132a0c8b4ceab469c8b2f159bd3dfa1c88/src/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs#L470) (there's also a similar message on `SizeOf(Object)`) says:

To me, that argument doesn't sound very persuasive, when you have a `Type`, calling `SizeOf<T>()` requires lots of reflection (and might be impossible on .Net Native),

[2016-04-27 20:50] eiriktsarpalis commented on #7938
It does, json.net implements [support for it](https://github.com/JamesNK/Newtonsoft.Json/blob/b23ead8d23046da1edf475e8ff60caecb0d1c78f/Src/Newtonsoft.Json/Serialization/JsonSerializerInternalWriter.cs#L840) and so does our own serializer implementation, [FsPickler](https://github.com/nessos/FsPickler/blob/master/src/FsPickler/PicklerGeneration/ISerializablePickler.fs) which supports binary, json,

[2016-04-27 20:50] MattGal opened #8136 "Need copy/paste-able instructions for installing Linux dependencies"
Users who are only interested in CoreFX assemblies may only read this page:
    https://github.com/dotnet/corefx/blob/master/Documentation/building/unix-instructions.md
Which does not contain the actual package names needed, and thus can be challenging to follow.

The CoreCLR Version does contain a copy/paste ready apt-get install.  We should either provide the same or at least a blurb saying this

[2016-04-27 21:05] KrzysztofCwalina commented on #7938
Yeah, I guess you are right. I was just hoping to be able implement my own SerializationInfo and intercept the calls to AddValue/GetXxx.

[2016-04-27 21:28] #7359 closed

[2016-04-27 21:32] zhenlan commented on #7938
Just to confirm what @eiriktsarpalis said, `ISerializable` is not just used by "binary serialization". Other serializers can use it too. Our own serializers `DataContractSerializer` and `DataContractJsonSerializer` also use `ISerializable`.

[2016-04-27 21:33] mellinoe commented on #8043
I agree with @svick 's reasoning. Obviously the generic overload is similar and can sort-of be used as a replacement, but that's the same story for every method accepting a `Type` parameter, and we haven't obsolete'd all of those.

[2016-04-27 21:34] mellinoe commented on #8136
See: https://github.com/dotnet/corefx/pull/8109

[2016-04-27 21:47] davidsh commented on #7522
I tried repro'ing this with the System.Net.Http 4.0.0 package. That is the stable (not pre-release) and is automatically brought in when you build a new UWP app in Visual Studio.

project.json
[code]

btnClick handler:
[code]

I'm also not sure why you expect the behavior to throw a `TaskCanceledException` from the stream you doing the ReadAsync on when you dispose the `HttpResponseMessage`. In my

[2016-04-27 21:49] steveharter commented on #7688
Updated the main issue to reflect the latest thinking in each area. The main change was to collapse ECCurve, ECExplicitCurve, ECNamedCurve, ECCharacteristic2Curve into ECCurve

[2016-04-27 21:58] hughbe commented on #8114
Also, @joshfree I notice you're in charge of issues in the repo. May I suggest that we take greater advantage of the *up-for-grabs* tag, as this could encourage contributions and help me and others target work that is somewhat menial, letting the Microsoft folks make more impactful changes.

Perhaps suggesting that Microsoft devs create an issue and mark it as up-for-grabs whenever they think some

[2016-04-27 22:02] hughbe commented on #8114
I took a look, but unfortunately it seems that most of the tests there perform roundtrips to test GetChars and GetBytes.
Although I do think it would be a good idea to plug in NegativeEncodingTests into that project at some point

[2016-04-27 22:04] davidsh commented on #7522
Also, when I upgraded the System.Net.Http package from 4.0.0 to the same as you tried, I still didn't repro the "hang":

[code]

[2016-04-27 22:10] tarekgh commented on #8114
@hughbe it will be good if we add same coverage of testing as we did for other encodings. Also we may need to add a test for custom encoding provider too. I mean create your own encoding for example, encoding which convert sequence of bytes to emoji symbols and roundtrip it.

[2016-04-27 22:37] ericstj commented on #7180
I have fixes for the items listed in the primary description of the issue.

Further analysis of others.
- System.Net.WinHttpHandler
  - WinHTTP not supported in UWP, server networking stack
- *.AccessControl
  - ACL methods like GetSecurityInfoByHandle not supported by UWP
- Microsoft.Win32.Registry
  - Registry not supported in UWP
- System.IO.Pipes
  - CreatePipe and others not supported in UWP

[2016-04-27 22:48] ericstj commented on #7869
I've opened TFS bug 217061 on the templates to fix this.

[2016-04-27 22:48] #7869 closed

[2016-04-27 23:28] joshfree commented on #8114
Thank you for your contributions and also thanks for the suggestion on issue labeling; we'll use the `up for grabs` label as much as possible.  @hughbe in addition to the existing ~120 `up for grabs` issues in corefx, there is also ~560 `Future` bugs that you can check out.  Some of them may be of interest.  Is there a particular area of corefx that you're interested in contributing to?

[2016-04-27 23:33] AtsushiKan commented on #6857
@dsplaisted - do you own System.Composition? This is no longer a Reflection issue and I know nothing about Composition.

MemberInfos and ParameterInfos are not guaranteed to be unique instances. They cannot be used as Dictionary keys.

[2016-04-27 23:36] AtsushiKan commented on #3657
I believe the original question has been answered. I don't see anything actionable anymore.

[2016-04-27 23:36] #3657 closed

[2016-04-27 23:40] halter73 commented on #7522
@davidsh It's important that you have a long-lasting call to ReadAsync ongoing when you dispose the HttpResponseMessage.

Long-lasting ReadAsync calls are typical for the SignalR client. Normally there is 10 seconds between each keep-alive message the SignalR server sends to each client. Many connection issues can only be detected by tracking each call to ReadAsync and determining if any last much

[2016-04-27 23:52] CIPop commented on #8068
@DiegoVil the sample contains references to unsupported APIs in CoreFX (`UdpClient.Connect`) so I presume it's not a .Net Core project. For .Net Desktop please open a new issue at http://connect.microsoft.com/.

If you can repro this in .Net CoreFX:
1. In your current environment, use .Net Core in both the client and the server to exclude the possibility of an issue within the WinRT DatagramSocket

[2016-04-28 00:05] joshfree commented on #8066
marking as `blocking-clean-ci` and moving up to RC3

[2016-04-28 00:54] tmat opened #8139 "Handle projections for TypeSpecs in ResolveSignatureTypeKind"

[2016-04-28 01:16] mellinoe commented on #8066
Do we know which test is hanging? Can we please mention this issue if a PR has hit this issue? It would be nice to be able to take a machine offline if we have a live instance of this happening. I can disable the test on OSX, but it would be nice to know which test specifically is hanging. If I had to blindly guess, I would imagine it's the NetworkChange tests, because the OSX implementation is co

[2016-04-28 01:42] yizhang82 commented on #8043
@tmds @svick @mellinoe Thanks for bringing this up.
The reason we did the deprecate was because it didn't work very well with AOT scenarios where discovering the incoming type is impossible to get 100% correct, even with advanced flow analysis.
Today we are converging on .NET Core contract - and I agree that it does not make much sense to deprecate the Type version just because of limitation on AO

[2016-04-28 02:42] #7439 closed

[2016-04-28 03:29] manu-silicon opened #8141 "Missing DebuggingFlags on DebuggableAttribute"
Are there plan to add `DebuggingFlags` to System.Diagnostics.DebuggableAttribute? Especially since the constructor takes them as arguments, it seems natural that one could query it?

[2016-04-28 06:25] zigzag95 commented on #2089
WTF asp team is not provide this basic functionality
This is a really blocker issue :(

[2016-04-28 06:28] weshaggard commented on #8101
Your tow statements seem contradicting to me. You want people to start using this property to make runtime decisions but you don't want them to use it as a Version object because of the past issues we have had with people making runtime decisions on it? I'm not sure I understand the difference.

If people start making runtime decisions based on this string they have no hope of actually working cor

[2016-04-28 06:39] thedrow commented on #8126
It's a bit shorter I guess and it's consistent. If you allow other variables to be formatted, I see no reason why booleans shouldn't be as well.

[2016-04-28 06:54] weshaggard commented on #8091
Unfortunately I don't think we really have any good strategies for portable libraries that do PInvoke. For the cases like the networking library I assume we are already cross-compiling and if we are then we should probably just not use api-sets for that build.

[2016-04-28 06:58] Mike-EEE commented on #8130
Thank you for creating this issue @AtsushiKan!  From my perspective, it seems very intuitive/expected that these objects are essentially singleton and should preserve their equality as such.  The issue you mentioned exposes a race condition when more than one thread is used in an application for initialization.  My suspicion is that most developers assume that these objects are singletons, and the

[2016-04-28 07:05] hughbe commented on #8114
Thanks @joshfree. My slight confusion with the up-for-grabs tag is the number of API-proposals that are tagged as up-for-grabs - is this deliberate?
I'll take a look and get back to you if necessary!

[2016-04-28 07:21] markvincze commented on #8091
I don't know how long term this solution is, but installing [Visual C++ Redistributable for Visual Studio 2015](https://chocolatey.org/packages/vcredist2015) solved the issue.

(This is what I installed:

1. Clean Windows Server 2008 R2
2. All Windows updates
3. Windows Server 2008 R2 Service Pack 1
4. Web server role (to get IIS) with the Application Development features
5. .NET Framework Redistr

[2016-04-28 07:24] DiegoVil commented on #8068
Dear @CIPop ,
Being honest I am not a great developer.Maybe some of the things that I say are not coherent at all.Please excuse me about that. As you say it is a mix of both frameworks. I am running this in 2 different computers. In the first computer I am running an application based on 4.5 framework that do not use .netCore ( uses framework 4.5). In the second one I am running a code taken from

[2016-04-28 07:29] weshaggard commented on #7688
Couple questions:
1) Why the ECCurve.IsPrime, etc properties when you have the type enum? Is there really any value add?
2) Did you guys decide to keep the 2 Export overloads as opposed to adding a conversion from Named to Explicit?

[2016-04-28 07:29] weshaggard commented on #7688
cc @KrzysztofCwalina @terrajobst

[2016-04-28 07:40] hughbe commented on #8001
I'll take this and submit a PR

[2016-04-28 07:44] hughbe commented on #6415
I'll take a look at this and submit a PR if there is an improvement or no change in performance

@sunnywar do you have any perf data (I know this was opened 2 months ago, sorry)

[2016-04-28 07:47] hughbe commented on #6415
Also it seems like the current implementation is quite efficient - as Math has a signature of `log(double, double)` and has more branches such as checking for `double.NaN`

[2016-04-28 09:50] martingbrown commented on #8126
My main reason for raising this in the first place was that I wanted to get the format string from a localized resource file. The resource files in the company I was working with at the time get sent off to third parties for translation. If you don't allow the formatting of the True/False value in the format string then we need to create three resource entries rather than one. Once this is scaled

[2016-04-28 10:17] Toxantron commented on #6831
@mellinoe I couldn't agree more.

I am quite sure unlike me they spend a little more time than 15min drafting a concept and API while actually having to do something else. ;-)

[2016-04-28 10:22] GSPP opened #8142 "Add a way to wait for a Task without throwing and without allocating"
At the moment there does not seem to be ay direct API that you can use to wait for a task to complete without throwing in case the task completes cancelled or faulted.

This forces using exceptions for control flow:

[code]

This is ugly and *very* slow. Exceptions seem to cost ~0.1ms of CPU time to process.

So if you are writing a port scanner using async IO you will find that you cannot scan mo

[2016-04-28 11:24] tmds commented on #8043
@yizhang82 It happens in reflection use-cases.

[2016-04-28 12:45] stephentoub commented on #2703
replaced by https://github.com/dotnet/corefx/issues/8142

[2016-04-28 12:45] #2703 closed

[2016-04-28 13:25] GSPP commented on #8142
Did I open the same issue twice? This is funny.

[2016-04-28 14:27] #4259 closed

[2016-04-28 14:27] #7234 closed

[2016-04-28 14:29] davidsh commented on #8091
@weshaggard

I don't know what you mean by "cross-compiling". In terms of WinHttpHandler CSPROJ and source files, we simply use the Common/src/ Interop source files with have p/invoke definitions that reference various dlls including api-set dlls. We would have to add `ifdef  NET46` type of lines to those source files and pick different dll's to reference for the p/invokes

So, it is more than jus

[2016-04-28 14:39] stephentoub commented on #7805
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/478/consoleText

[2016-04-28 15:09] stephentoub commented on #8113
@attilalaszlo, is it possible for you to share a standalone repro of the issue?

I can't repro what you're seeing using the latest code.  I can see from the code how this could happen if either the request was failing/being canceled, or potentially if the content length was 0, but I don't see how it could happen with positive content length on a request that was otherwise succeeding.  Hence if you

[2016-04-28 15:13] lewischeng-ms commented on #7612
@ericstj @pranavkm Got it. I will have a try. Thank you very much for the instructions!

[2016-04-28 15:56] jamesqo opened #8145 "[question] Is it possible to use the locally-built corefx binaries in a console app?"
Just a question, is it possible to use the corefx binaries you built locally with a console app? This is what I've tried so far:

- `project.json` file (tagged with latest versions of the packages)

[code]

- Batch build script

[code]

The package restore seems to be working, but it doesn't look like the packages in the `project.json` are actually being used- I can simply exclude all of the depen

[2016-04-28 15:58] steveharter commented on #7688
Inline. Also soon I will reply to original thread with the full list of changes.

From: Wes Haggard [mailto:notifications@github.com]
Sent: Thursday, April 28, 2016 2:30 AM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Steve Harter <Steve.Harter@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/corefx] Add support for import\export and named Crypto Elliptic Curves (API

[2016-04-28 16:03] eiriktsarpalis commented on #8133
I think I've mentioned this elsewhere, but if it were up to me I'd opt to bring back ISerializable (and having System.Exception re-implement it) instead of making the stack trace mutable by just about everybody.

While I do believe that ISerializable as a pattern is dated and carries many caveats, it is ideally suited in cases where inheritance is involved. And since .NET exceptions necessarily re

[2016-04-28 16:13] DanAtkinson opened #8146 "System.IO.Compression: Create ExtractToDirectory overload that accepts 'overwrite' boolean"
Currently `ExtractToDirectory` is only useful if the target directory is virginal (eg clean or contains files which are not in the zip being extracted). If you're performing an extraction over an existing directory however, then the functionality is extremely limited because you will encounter the following example exception:

I would like to ask the developers to consider writing a new overload f

[2016-04-28 16:16] KrzysztofCwalina commented on #8133
@eiriktsarpalis, I love more discussion input on this, but please use #6564 for general discussion around serialization. This issue is a specific API addition request. Thanks!

[2016-04-28 16:20] bartonjs commented on #7688
@weshaggard (et al) From an implementation standpoint making ECCurve.ToExplicitValues() (or whatever) is difficult, and has to be sent off to the PAL.  That means that, like "is this named curve supported?" it is something that we don't really have a good place to allow other implementations to be extensible.

It's also a bit problematic in that Windows CNG doesn't understand "EC Curves", except i

[2016-04-28 16:38] ianhays commented on #7391
It is available in the most recent package in the [.net core feed](https://www.myget.org/F/dotnet-core/).

[2016-04-28 16:41] ericstj commented on #8091
@davidsh You don't need to ifdef.  Just add a net46 configuration and swap out all the Common/src/ Interop files with ones that don't use the api-sets.

[2016-04-28 16:44] chcosta commented on #7912
It does appear that your project references are missing from the CoreCompile.  @venkat-raman251 , do you have a local repro which produces the same CoreCompile output that @khdang is seeing?

@khdang , can you provide the contents of your project.json?

[2016-04-28 16:45] davidsh commented on #8091
@ericstj

Yes, you're right about that I don't have to use ifdef. But using different Interop files (which don't exist yet) is basically the same thing. :)

The bottom line is how important is this? Especially given a solution like this:

That might be the easiest/best solution for customers long term.

[2016-04-28 16:47] ericstj commented on #8091
@markvincze yeah the VC redist contains that UCRT OS update I was pointing at before.  It doesn't actually contain api-ms-win-core-libraryloader-l1-1-0.dll which I was pointing out before.  Looks like WinHttpHandler hits that in this error codepath: https://github.com/dotnet/corefx/blob/0f0a4bcc03db4bc709e100b2107d241f826dd1bb/src/Common/src/System/Net/Http/WinHttpException.cs#L58
So you might hav

[2016-04-28 16:47] svick commented on #8145
I have no idea if it's going to help, but have you tried using `dotnet` instead of `dnu` and `dnx`?

[2016-04-28 16:48] steveharter commented on #7688
Here is the full list of changes from last review:

•	Merged the ECCurve, ECNamedCurve, ECExplicitCurve, ECExplicitPrimeCurve, ECExplicitCharacteristic2Curve classes into one ECCurve struct
	o	Added helpers for creating named curves.
	o	Did not add any helps for creating explicit curves as CreatePrime(…) and CreateCharacterisitic2(…) as that would contain an unwieldy list of parameters most of w

[2016-04-28 16:51] ericstj commented on #8091
@davidsh the VC redist is far from complete.  It only contains a small subset of the API set DLLs.  You can see the list in the KB article I linked.  I'm not aware of any OS update which has a comprehensive list of API set DLLs.

If we do what @gkhanna79 suggests and

We won't have to worry about this problem at all. In that case we'd be changing all the common interop source back to the standard

[2016-04-28 16:53] davidsh commented on #8091
One other thing to consider. While we could have a NET46 version that doesn't use api-sets, that is not recommended really.  While it would result in everything working fine on older Windows platforms like Windows 7/Windows Server 2008 R2, it might stop working in future Windows versions.  Windows created api-sets to allow operating system binary refactoring.  And current guidelines are that api-s

[2016-04-28 16:53] chcosta commented on #7912
I'm not able to repro this locally.  If I delete the entry for "KeepProjectReference" from the System.Xml.XmlSerializer Project Reference or I change the value to false, then I get a compile which includes the project references as packages.

  C:\Program Files (x86)\MSBuild\14.0\bin\csc.exe /noconfig /nowarn:1701,1702 /nostdlib+ /warn:4 /define:DEBUG;TRACE;DEBUGRESOURCES;SIGNED /reference:e:\gh\c

[2016-04-28 16:57] yizhang82 commented on #8043
@tmds Thanks. I'm looking for more specific real world scenario/examples for this particular API.

[2016-04-28 17:01] joshfree commented on #8114
@hughbe See this doc https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md for more details on the API review process and the `api-needs-work` label; for the issues you're seeing it means they've been assigned to an owner (Step-2) but probably no design discussion (Step-3) has happened yet.  If you see an issue where a design discussion (Step-3) has happened

[2016-04-28 17:08] joshfree commented on #8146
great suggestion @DanAtkinson :)

[2016-04-28 17:27] CIPop commented on #7735
@ramarag Assigning this to you based on our offline conversation.

Please assign back if you have instructions on how to access the environment or repro in a different environment. At this moment I don't have access to an arm64.

[2016-04-28 17:44] mellinoe commented on #8101
If I'm understanding correctly, the problem isn't that people are using it to make runtime decisions, but that the concept of a "Version" is not well-defined or consistent, especially across different operating systems. Trying to shoe-horn all of the different version concepts into a single object was problematic, so the new proposal is to just return the operating system's own concept of a "versi

[2016-04-28 17:50] mellinoe commented on #8145
This is possible, but the `dotnet` tool (which you should switch to for the latest bits, as @svick mentioned) does not cater to this workflow. In order to get it working there, I think you would need to do one of the following:

* Build the nuget packages from corefx, put those into a folder somewhere, and set it as a package source (in NuGet.Config) for your other project. Then, list the versions

[2016-04-28 17:52] ah- commented on #8133
+1. Will this be in a netstandard so libraries can use it?

[2016-04-28 18:05] khdang commented on #7912
@chcosta I added these packages in ```src/System.Xml.XmlSerializer/tests/project.json```
[code]

[2016-04-28 18:06] SunnyWar commented on #6415
I'll see if I can dig up the numbers.

@hughbe My assumption is the corefx functions should be preferred over "roll your own". If you can write an alternative that is significantly faster and just as safe, that indicates a performance bug. So when I see alternative implementations in corefx for functions that also lives in corefx, it makes me wonder. Either the developer didn't know about the Math

[2016-04-28 18:10] mellinoe commented on #7821
@Kagamine Did the above answer your question, or was it about something else?

[2016-04-28 18:17] KrzysztofCwalina commented on #8133
GetUninitializedObject will be in the current net standard. For set_StackTrace, it's harder. It will be in netstandard, but maybe not in the current version as the API does not exist in .NET Framework.

[2016-04-28 18:42] Priya91 commented on #8101
As I see it, I view making runtime decisions and version object as different issues. From the discussions in the issues tagged in this issue description, it is clear that there is gap in the APIs to provide OS version information, that can be used to make runtime decisions. So I support the idea of having an API that can be used to make runtime decisions.

In Desktop this was solved by defining a

[2016-04-28 18:59] chcosta commented on #7912
If you directly added the packages to your project.json (I assume you just did that for the purposes of validation), then remove the projectreference from your csproj and do not pass the "BuildTestsAgainstPackages=true" property.

Note that when you generate a project.json, it's setting a different version that what you have listed above for System.Xml.XmlSerializer...

Also, I don't see entries f

[2016-04-28 19:07] mellinoe opened #8154 "System.IO.Tests.CreatedTests.FileSystemWatcher_Created_Negative is failing on OSX"
This has been failing periodically in some runs that I have looked at. For example:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/463/consoleFull
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/457/testReport/junit/System.IO.Tests/CreatedTests/FileSystemWatcher_Created_Negative/
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/m

[2016-04-28 19:15] mellinoe commented on #8126
I guess this depends on your workflow, how you are passing things around, and how your resources are stored, but wouldn't you only need two string resources for this, an "On" and an "Off" resource?

[code]
(Assuming you write an extension `ToString` method)

Wouldn't it be easier to have the "On" and "Off" strings be separated anyways, for translating?

[2016-04-28 19:21] weshaggard commented on #8101
Let's continue the conversation in an API review please work with @terrajobst to set one up.

[2016-04-28 19:34] weshaggard commented on #7688
@bartonjs @steveharter I'm good with those decisions.

@terrajobst @KrzysztofCwalina any follow-up feedback before we mark this approved?

[2016-04-28 19:40] CIPop commented on #8068
Thanks for the clarification @DiegoVil. I think I understand the issue: the only incorrect part is that [DatagramSocket](https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/DatagramSocket) is actually a UWP API (native COM) not a .Net (Desktop or Core) component.

To continue the investigation, please open a http://connect.microsoft.com bug. It would help a lot if you could

[2016-04-28 19:40] #8068 closed

[2016-04-28 19:51] ericeil commented on #7855
Note that this code appears to be a fallback path that is not compiled on OSX or Linux.

[2016-04-28 20:19] jamesqo commented on #8145
@mellinoe Thanks for helping 😄 I was finally able to get it working with your first approach, via adding a `NuGet.config` file to the app's root and switching to `dotnet` and `netstandard`. Another question, though: I was originally trying to do this for the purpose of testing some perf changes I made to mscorlib over in [coreclr](https://github.com/dotnet/coreclr/pull/4540). I followed the instru

[2016-04-28 20:27] terrajobst commented on #8133
For `set_StackTrace` I assume we'd throw for cases where a stack trace has already been created? I think we shouldn't allow replacing stack traces as it could result in us no longer trusting stack traces for tricky bugs.

[2016-04-28 20:27] mellinoe commented on #8145
@ericstj , @piotrpMSFT
Is there a way to do this with the CLI?

[2016-04-28 20:57] joshfree commented on #8154
cc: @sokket

[2016-04-28 21:20] KrzysztofCwalina commented on #8133
@terrajobst, sounds like a good place to start.

[2016-04-28 21:31] #7820 closed

[2016-04-28 21:40] #7901 closed

[2016-04-28 21:48] maririos commented on #8070
@bdenison99 are you still having problems when building?

[2016-04-28 21:49] #7980 closed

[2016-04-28 21:49] #8084 closed

[2016-04-28 21:50] SGuyGe commented on #7837
I personally think there's no much value of doing so as it has neither scenario impact no perf impact.

[2016-04-28 21:51] #8036 closed

[2016-04-28 21:58] SGuyGe commented on #7781
Let's use KeyValuePair in new code, but leave existing code as is.

[2016-04-28 22:06] SunnyWar commented on #6415
Math.Log: Elapse: 00:01:32.1837385
log2: Elapse: 00:01:58.0396165

I calculated all the integers from 0-int.MaxValue. The difference is times are so close there's no reason to keep a custom function instead of using Math.Log

[2016-04-28 22:21] bartonjs opened #8158 "Port S.S.C.ECDiffieHellman"

[2016-04-28 22:27] Kagamine commented on #7821
I saw the asp.net team made a package which named IAssemblyLoader, Is there any document to introduce how to use that? I am making a nuget package and I just want to know who called my package, and load the caller assembly, execute the caller classes and functions dynamicly.

[2016-04-28 22:55] bdenison99 commented on #8070
Yes.  I've stopped trying to build since it's not working.

[2016-04-28 23:01] mellinoe commented on #7821
I'm not familiar with the component. The folks over at https://github.com/aspnet/Home may know more specifics about it.

We do expose `Environment.StackTrace`, which will give you some sort of "caller history". But keep in mind that this is dependent on things like JIT inlining, which aren't predictable. It's not a great idea to use it for a scenario like you are mentioning.

Is this for some sort

[2016-04-28 23:09] Kagamine commented on #7821
The things which I want to do is similar to ASP.Net Core MVC controllers detector. I have to detect the specific classes, and get all of the methods in the class by using reflection. So I think I have to find the assembly which called my package.

[2016-04-28 23:13] CIPop commented on #6187
Thanks for reporting @stephentoub.

The SocketError is [`WSATRY_AGAIN`](https://msdn.microsoft.com/en-us/library/windows/desktop/ms740668(v=vs.85).aspx):

I believe that the test needs to retry the DNS resolution when this happens. In this case, the expectation was for a HostNotFound error.

[2016-04-28 23:22] CIPop commented on #7824
According to the comment within the code, this is a duplicate to #5185.

[2016-04-28 23:24] svick commented on #8126
@mellinoe

Depending on the localized strings and the languages you're localizing into, that might not be possible. For example, consider my native language, Czech:

English | Czech
--- | ---
The boiler is on. | Kotel je zapnutý.
The boiler is off. | Kotel je vypnutý.
The pump is on. | Pumpa je zapnutá.
The pump is off | Pumpa je vypnutá.

Notice that the terms for "on" and "off" are slightly diff

[2016-04-28 23:29] davidsh commented on #7906
@weshaggard I have a question about your proposal:

For all libraries, we want to be able to test the real-time code of the product sources on both a developers machine as well as CI.  So, every library we have, say System.Net.Http as a tests project where it doesn't reference the System.Net.Http package but rather the product source via P2P reference.

This is also true to System.Net.Primitives.

[2016-04-28 23:30] davidsh commented on #7906
cc: @CIPop

[2016-04-28 23:42] CIPop commented on #5894
Thanks @stephentoub for reporting this.

Reviewing the test code I can't find an obvious reason for this to intermittently fail: the client should be a dual-mode socket (automatic v4/v6 selection) while the server is listening to v6 Any.
This doesn't always repro so it could be some sort of race condition in the dual-mode `Socket` implementation. I'll try to see if I can get a repro in a controlle

[2016-04-28 23:47] CIPop commented on #5757
This appears to have been fixed in dotnet/coreclr#1991.

To ensure that it actually did fix the issue, I'd like to try to create an automated test for this.

[2016-04-28 23:49] #5900 closed

[2016-04-28 23:56] mellinoe commented on #8126
Good information, I can definitely see how that is preferable. @terrajobst How do you feel about this one?

[2016-04-29 00:01] CIPop commented on #5749
@himadrisarkar PTAL

@GSPP thanks for the suggestion! I agree that a way to cancel operations while preserving the socket object should exist outside of calling `Dispose()` (or `Close()` on .Net Desktop).

Regarding the race conditions you've pointed out: you are correct. In some circumstances, calling `Close()` in parallel with a synchronous Winsock operation will result in an Access Violation ca

[2016-04-29 00:05] #7180 closed

[2016-04-29 00:54] AshwiniReddyChalla opened #8162 "Console.Readline throws null reference exception"
following is the stack trace
System.NullReferenceException: Object reference not set to an instance of an object.
at System.ConsolePal.TryGetSpecialConsoleKey(Char[] givenChars, Int32 startIndex, Int32 endIndex, ConsoleKeyInfo& key, Int32& keyLength)
at System.IO.StdInStreamReader.MapBufferToConsoleKey(ConsoleKey& key, Char& ch, Boolean& isShift, Boolean& isAlt, Boolean& isCtrl)
at System.IO.StdIn

[2016-04-29 02:29] svick commented on #8162
Could you give more information so that the error can be reproduced? How does your code look like? What is your `project.json`? How exactly do you run the program? What is your OS? What are the versions of the applications involved?

[2016-04-29 02:46] mellinoe commented on #8136
@MattGal How does the document look now?

[2016-04-29 03:30] ellismg commented on #8162
My guess is this is a Unix specific issue and Expect refers to the [Tcl based program](https://en.wikipedia.org/wiki/Expect).  Is this correct?

[2016-04-29 05:30] tmds commented on #8043
@yizhang82 more specific: I use it in (de)serialization to allocate byte arrays of the `Marshal.SizeOf` reflected types and then `Marshal.Copy` stuff.

[2016-04-29 07:58] fubar-coder opened #8165 "HttpWebRequest/HttpClient with self-signed client certificate"
Is there a way to do a HttpWebRequest/HttpClient request with a self signed client certificate that is _not_ trusted by the OS (i.e. not stored as trusted root)?

[2016-04-29 09:33] jchannon commented on #6398
This has been labelled 1.0.0-rtm, @terrajobst any chance we can get this into RC2?

[2016-04-29 11:18] brian-reichle commented on #8142
You can already do this with an extension method returning custom awaitable/awaiter structs that wrap `ConfiguredTaskAwaitable.ConfiguredTaskAwaiter`, you just need to proxy all the awaiter members except `GetResult()` (which should do nothing.)

    public struct NonObservingAwaitable
    {
        public NonObservingAwaitable(ConfiguredTaskAwaitable.ConfiguredTaskAwaiter innerAwaiter)
        {

[2016-04-29 11:57] stephentoub opened #8166 "All OSX runs failing in CI"
[code]

[2016-04-29 11:58] #7457 closed

[2016-04-29 13:50] nicolasr75 commented on #8165
I was about to ask that too. #7623 describes a new ServerCertificateCustomValidationCallback on HttpClientHandler but I can't find it. Is this something we can use with rc2 at all?

[2016-04-29 13:54] fubar-coder commented on #8165
@nicolasr75 This issue is about the certificate used for client authentication, not the server certificate.

[2016-04-29 13:58] nicolasr75 commented on #8165
@fubar-coder Sorry, overlooked that

[2016-04-29 13:59] davidsh commented on #8165
`ServerCertificateCustomValidationCallback` is a new method for the upcoming 4.1.* System.Net.Http contract (HttpClient).  It is not part of HttpWebRequest (System.Net.Requests contract).

We are finalizing the 4.1 contract.  This work is not part of RC2.

In addition, there will methods for handling client certificates as well as part of System.Net.Http 4.1 contract.

[2016-04-29 14:47] ericstj commented on #6889
Feel free to do this when you are ready with the support in CoreCLR.  File to update is here: https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json

[2016-04-29 15:54] jamesqo opened #8171 "Cookies should use the Value property as opposed to field in constructor"
This behavior seems somewhat unintuitive:

[code]

The fix would be to change [this](https://github.com/dotnet/corefx/blob/master/src/System.Net.Primitives/src/System/Net/Cookie.cs#L106) line of `Cookie` to use the value property instead of field to set the value, since the property defaults to `string.Empty` if the parameter is null.

cc @davidsh

[2016-04-29 16:18] mellinoe commented on #8166
Is this just because the "--exclude" parameter is quoted?

[2016-04-29 16:21] KrzysztofCwalina commented on #7688
I like that changes. Just one question: why did you decide to use fields and not properties?

[2016-04-29 16:27] davidsh commented on #8165
Closing this now that the question has been answered.  Additional APIs for System.Net.Http are tracked by the issue referenced above.  You can also try out the pre-release version of System.Net.Http 4.1 by using the sources directly here in CoreFx or on the MYGET feed:
https://dotnet.myget.org/gallery/dotnet-core

[2016-04-29 16:27] #8165 closed

[2016-04-29 16:30] joekaiser commented on #7953
Yes, give me a few days. I am swamped at the moment, but I will put something together

[2016-04-29 16:38] maririos commented on #8070
I haven't been able to repro it and I don't see more people reporting an issue. Could you try cloning the repo again and do build.cmd?
@mellinoe do you have an idea of what may be happening?

[2016-04-29 16:40] Petermarcu commented on #8136
Is it possible to also write down the concrete list that needs to be installed to run the output of a build? Many of the things listed are only build time dependencies and it would be good to be clear about what we require at runtime as well.

[2016-04-29 16:48] hughbe commented on #8171
Dupe/similar to #7459

[2016-04-29 16:51] khdang commented on #7837
That's a fair point. I'm closing this now.

[2016-04-29 16:51] #7837 closed

[2016-04-29 16:52] khdang commented on #5831
@bartonjs Are there any scenarios that is impacted because of this behavior difference?

[2016-04-29 16:53] svick opened #8173 "Simpler way to specify leaveOpen in StreamWriter constructor"
Currently, the `StreamWriter` constructor has the following overloads:

[code]

I believe a relatively common need is to set `leaveOpen` to `true`, while keeping both `encoding` and `bufferSize` at their default values.

But the process of doing that goes something like this:
- Figure out there is no way to specify just `leaveOpen`.
- From the documentation of `StreamWriter(Stream stream)`, figure

[2016-04-29 17:01] bartonjs commented on #5831
It could cause compat issues for libraries targeting the generic RID which are used on both core and desktop.  (If they don't guard against the exception because it doesn't happen in core).

Really it's just "a user-visible compatibility change"

[2016-04-29 17:07] Petermarcu commented on #8136
Also an explanation of "Why" for each of our dependencies would be helpful :)

For example, something like this with a column for which are required at runtime...

clang-3.5 \ compiler
libstdc++6 \ runtime
liblldb-3.6 \ Debugging support
libgcc1 \ compiler
libc6 \ Because
libcurl3 \ Networking/Sockets
libicu52 \ Globalization support
liblttng-ust0 \ Diagnostic tracing (This is optional)
libssl1.0.

[2016-04-29 17:27] hughbe opened #8174 "Ubuntu build instructions are incorrect"
I'm following the instructions [here](https://github.com/dotnet/corefx/blob/master/Documentation/building/unix-instructions.md) on a fresh Ubuntu 15.10 machine.

However, I've had a bit of a 'mare trying to get it working
I'll list the problems I'm having in chronological order
### Getting prerequisite packages
- Can't find `libicu52`: fixed by using `libicu55`

### Running build.sh
- CMake error:

[2016-04-29 17:29] steveharter commented on #7688
On fields vs properties -- DSAParameters and RSAParameters already use fields, so +1 for consistency. Not sure why they were fields originally -- just to indicate that they are primitive types with no logic?

Fields can also be passed by ref, so in theory that is one reason, however since we use arrays (which are objects) it really doesn't matter as the array reference will just by shallow copied.

[2016-04-29 17:29] joshfree commented on #8174
Related https://github.com/dotnet/corefx/issues/8136

[2016-04-29 17:31] hughbe commented on #8174
These are following the (I thought new) instructions in #8109

[2016-04-29 17:32] #8162 closed

[2016-04-29 17:43] joshfree commented on #8173
@KrzysztofCwalina @ianhays

[2016-04-29 18:00] davidsh opened #8176 "Default credentials behavior different from .NET Framework"
The following code doesn't work on .NET Core (CoreFx) but does work in .NET Framework:

[code]

[2016-04-29 18:12] ellismg commented on #8166
I thought that @mmitche tried to fix this with #8160 not fix this?  Matt, do you know why the jobs did not seem to get updated?

[2016-04-29 18:16] ellismg commented on #8174
The documents were written with Ubuntu 14.04 in mind, which is the only version can build CoreFX (both managed and native).  The copy/paste-able instructions in #8109 were written for that distro specifically and some of the package name changes are due to packages being updated.

I expect in a few weeks we will also support building everything on Ubuntu 16.04. It's less clear we will support buil

[2016-04-29 18:36] Priya91 commented on #8166
The issue doesn't seem to repro with latest runs now.. the failure must have happened before the generator created new job definition.

[2016-04-29 18:37] #8166 closed

[2016-04-29 18:46] #8074 closed

[2016-04-29 19:32] #7885 closed

[2016-04-29 19:43] Priya91 opened #8180 "System.Globalization.Tests failed on Ubuntu16.04"
[code]

[2016-04-29 19:45] Priya91 opened #8181 "System.Net.Http.Functional.Tests.HttpClientHandler test failed on Ubuntu16.04"
[code]

[2016-04-29 19:47] davidsh commented on #8181
cc: @stephentoub

[2016-04-29 19:48] Priya91 commented on #7191
This is added now.

[2016-04-29 19:50] ericeil opened #8182 "System.Diagnostics.Tracing package version 4.1.0 contains version 4.0.20 reference assembly"
I am trying to reference System.Diagnostics.Tracing version 4.1.0 from System.Net.Sockets, so I can use the new EventCounter type.  I changed the project.json in src\System.Net.Sockets\src\win to include:

[code]

However, the build complains that EventCounter doesn't exist in any referenced assembly.

If I open up the reference assembly:

[code]

...in ILSpy, I see that the assembly version is *4

[2016-04-29 19:51] ericeil commented on #7833
Looks like EventCounter isn't yet available in the System.Diagnostics.Tracing 4.1.0 NuGet package (#8182).

[2016-04-29 20:35] stephentoub commented on #8181
@priya91, this failure is on every run? What's the output of "curl --version" on the relevant machine?

[2016-04-29 20:42] Priya91 commented on #8181
Yes, happened on the last 2 consecutive runs..

This is the curl output
[code]

[2016-04-29 20:45] joshfree commented on #8182
@chcosta can you take a look at this one?

[2016-04-29 20:53] omajid opened #8183 "Console.Write() doesn't show output until a newline"
On RHEL 7, `Console.Write()`'s output does not get displayed until a newline is used (or the program exits).

If you run the following application, you don't see anything as the output until 10 seconds have passed. Then all of "HelloWorld!" appears at once.

     public static void Main(string[] args)
     {
         Console.Write("Hello World");
         Console.Out.Flush();
         Task.Delay(1

[2016-04-29 20:55] ericeil commented on #8182
cc: @cshung

[2016-04-29 20:56] omajid opened #8184 "Console.ReadLine() doesn't display input"
On RHEL 7, when I run the following program (using `dotnet run`) and type some input, I don't see what I am typing until I hit ENTER. Then everything I have typed appears at once:

    public static void Main(string[] args)
    {
        Console.WriteLine("Name: ");
        var name = Console.ReadLine();
    }

    $ dotnet --version
    1.0.0-rc2-002538

[2016-04-29 20:57] chcosta commented on #8182
The 4.0.20 reference assembly is used for netstandard1.3.  NetStandard 1.5 contains the 4.1.0 reference assembly.

'''
packages/System.Diagnostics.Tracing\4.1.0-rc3-24026-00\ref\netstandard1.5\System.Diagnostics.Tracing.dll
'''

[2016-04-29 20:58] stephentoub commented on #8183
I believe this is an issue with the dotnet run command rather than with corefx and System.Console. Do you see the same issue if you compile and then separately execute the compiled app?

[2016-04-29 20:58] stephentoub commented on #8184
I believe this is an issue with the dotnet run command rather than with corefx and System.Console. Do you see the same issue if you compile and then separately execute the compiled app?

[2016-04-29 21:01] stephentoub commented on #8181
It looks like the wrong libcurl dev package is installed on whatever machine is building the corefx native nineties. We should be installing the one based on OpenSSL, not the one based on GnuTLS. I don't know if that's THE problem, but it is A problem.

cc: @bartonjs

[2016-04-29 21:02] ericeil commented on #8182
Ok, so this is because System.Net.Sockets specifies the dependency under the "netstandard1.3" framework?

https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/win/project.json

What change do I need to make to get the 4.1.0 reference assembly?

[2016-04-29 21:02] vancem commented on #8182
See https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md on the NetStandard docs.    NetStandard 1.3 corresponds to V4.6

Note that in this case, it seems like it would be useful to take a direct reference to the necessary DLL (that is directly reference System.Diagnostics.Tracing. V4.1  because that is the only piece that you need that needs to be super

[2016-04-29 21:03] omajid commented on #8183
I have the same issue if I do `dotnet build` followed by `dotnet run`. Is there some other way to separately execute the compiled app?

[2016-04-29 21:10] ellismg commented on #8184
You can do this by moving into the `bin` directory that is produced by `dotnet build` and invoking `dotnet <your-app-name>.dll`

[2016-04-29 21:12] stephentoub commented on #8183
Yes, dotnet build creates an executable you can just execute (not with dotnet run). See overview at https://github.com/dotnet/cli/blob/rel/1.0.0/README.md .

[2016-04-29 21:13] Priya91 opened #8185 "Updating to latest cli version gives restore errors"
Updating the cli to version: 1.0.0-rc2-002547

Gives following errors on restore:

[code]

[2016-04-29 21:14] Priya91 commented on #8185
Dotnet cli update required to fix #7294

[2016-04-29 21:24] omajid commented on #8183
The README says:

I can't find a native binary. Is my build broken somehow?

    $ dotnet build
    Project console-application (.NETCoreApp,Version=v1.0) will be compiled because expected outputs are missing
    Compiling console-application for .NETCoreApp,Version=v1.0
    /home/omajid/dotnet-tests/console-application/project.json(3,26): warning DOTNET1015: The 'compilationOptions' option is dep

[2016-04-29 21:28] GSPP commented on #5749
@CIPop  Are you sure that async operations can be aborted safely? The close might happen right before the OS receives the `recv` syscall. The call will happen with a deleted handle. Making this thread safe is hard. It requires a .NET level lock.

[2016-04-29 21:30] GSPP commented on #8142
@brian-reichle this is new idea. But it only works if you want to await the task. Instead, you might want to `Wait` or await a combinator such as `WhenAll`. For all of those there are solutions but it's not nice.

[2016-04-29 21:30] omajid commented on #8184
Aha. Yes, running via `dotnet <your-app-name>.dll` doesn't show the problem!

[2016-04-29 21:31] omajid commented on #8183
@ellismg suggested `dotnet <your-app-name>.dll` and that doesn't show the problem.

[2016-04-29 21:31] dagood commented on #8185
I'm not sure why it would only start being a problem with a new CLI version, but could it be the package downgrades? Looking through a full log (here's mine after the CLI upgrade to `1.0.0-rc2-002543`: <https://gist.github.com/dagood/e0c5038a585e62f142359f0d9a8b5d5d>) I see warnings like:

[code]

[2016-04-29 21:31] Priya91 commented on #8181
From one of the Ubuntu16.04 machines,
[code]

The openssl headers are installed with dev package, not sure how to make packages use OpenSSL..

[2016-04-29 21:32] #7904 closed

[2016-04-29 21:35] ellismg commented on #8184
(Opened a tracking issue in CLI since this is specific to `dotnet run`).

[2016-04-29 21:35] #8184 closed

[2016-04-29 21:35] benaadams commented on #8142
`WhenAll` returns a Task so it still works:

[code]

[2016-04-29 21:37] ellismg commented on #8183
Moved this one as well

[2016-04-29 21:37] #8183 closed

[2016-04-29 21:42] bartonjs opened #8186 "Add support for opening a PFX with an ephemeral key"
Currently opening a PFX on Windows creates a temporary keyfile on disk which is deleted if the cert is disposed/finalized without being added to a cert store.

While it might not be feasible to change the default to ephemeral, we should add the option to allow better guarantees against key-leak.

(PKCS12_NO_PERSIST_KEY, Vista+)

## Rationale

Currently .NET supports loading a PFX in two different

[2016-04-29 21:43] bartonjs opened #8187 "Add support for getting a private key handle with no UI prompting"
Equivalently "pass CRYPT_SILENT when opening the key handle".  While some apps may want to use that key and get the PIN/unprotect prompt, other contexts are headless and would rather opening the key just fail.  We should add an overload to Get\[Algorithm\]PrivateKey which lets the caller suppress UI.

[2016-04-29 21:57] vancem commented on #8182
My expectations is that you would add the following

    "dependencies": {
         "System.Diagnostics.Tracing": "4.1.0",
    },

As a sibling to the 'frameworks' property specifying netstanard 1.3.   My expectation is that this would 'promote' the need for a newer version of this particular DLL.

As an aside, perhaps Eric St John can tell you more about what it means for a framework to have a 'd

[2016-04-29 21:59] davidsh commented on #8171
I've researched this issue.  We've never thrown an exception if the `value` is null.  We always have converted it to `string.Empty`.  The default is actually `string.Empty` if you call this constructor overload:

[code]

I also agree with #7459 that we need to fix the documentation.

In the case of this issue, doing the change as you suggest is the correct fix for this edge case.

[2016-04-29 22:01] ellismg commented on #8180
We had disabled the tests for Ubuntu 15.10 when we had run them previously.

[code]

We should probably just expand the check to also disable them on Ubuntu 16.04.

[2016-04-29 22:02] ericeil commented on #8182
Moving the dependency out of the "frameworks" property does not appear to have any effect; the build still references the netstandard1.3 reference assembly.

[2016-04-29 22:03] #7830 closed

[2016-04-29 22:08] joshfree commented on #8181
cc: @terlochan

[2016-04-29 22:10] bartonjs commented on #7688
@steveharter I just chatted with Krzysztof and Wes, let's go ahead and flip all the public fields to { get; set; } properties.  It's more consistent with other FX guidelines, and it doesn't feel like anyone is really going to ref/out those values.

[2016-04-29 22:12] GSPP commented on #8142
@benaadams you might not want the combined task to end up faulted. Maybe the task is supposed to signal completion, not successful completion. Other code might process that task not expecting any fault. I acknowledge that this is getting more contrived now...

[2016-04-29 22:14] dagood commented on #8185
My last comment seems wrong to me now. For example, `C:\git\corefx\src\System.Runtime.Loader\tests\System.Runtime.Loader.Noop.Assembly\project.json` only has a single dependency on `"System.Runtime": "4.1.0-rc3-24026-00"` and it has some errors:

[code]

It's hard to tell for sure because NuGet doesn't seem to have a link from commit sha to package version (or vice versa), but based on dates it lo

[2016-04-29 22:17] eerhardt commented on #8183
@omajid - `dotnet <your-app-name>.dll` is the right way to run it outside of `dotnet run`.  If you `dotnet publish` your app there will be an executable created `<your-app-name>` in the output directory, which you can run as well without using `dotnet`.

I commented on the CLI issue why this happens.  This is a CLI issue, as @ellismg pointed out.

[2016-04-29 22:22] AtsushiKan commented on #8186
Would it be worthwhile to mock up a version that could be embedded inside CertLoader and guys so we could at least unblock that test coverage in Pkcs.Tests before "Future" comes along?

This does mean one of the PR feedbacks get retroactively addressed: Pkcs.Tests will have Windows/Unix versions so the Configuration values become correctly named :-)

[2016-04-29 22:26] rposener opened #8188 "Are Query Notifications on the roadmap?"
It seems the System.Data.SqlClient does not include any of the query notification (SqlNotification or SqlDependency) classes.  is this on the roadmap to be added?

[2016-04-29 22:27] svick commented on #8142
@GSPP In that case, you can probably use `Task.Factory.ContinueWhenAll(tasks, _ => {})`.

[2016-04-29 22:27] mellinoe commented on #8182
If netstandard1.3 doesn't support the type, and you still want to use it, then you need to raise the target to netstandard1.5. Otherwise, the library would not actually be usable by platforms supporting netstandard1.3 (since it doesn't support the type...).

[2016-04-29 22:48] ericeil commented on #8182
Thanks, I think I'm starting to wrap my head around this now. :). Closing this while I work out what to do...

[2016-04-29 22:48] #8182 closed

[2016-04-29 22:52] ericeil commented on #7833
Outcome of #8182: we'll need to move System.Net.Sockets forward to target NetStandard 1.5 (currently 1.3) if we want to use EventCounter.  This would mean that the implementation could only target CLR 4.6.2 or later, or .NET Core.

[2016-04-29 22:54] joshfree commented on #8050
@twsouthwick can this issue be closed now?

[2016-04-29 22:55] bartonjs commented on #8186
Really this won't be all that hard to do, we just need an import flag and to plumb it through (Unix already works this way).  I just didn't want to commit to a release while dumping ideas out of my head :).

(We'd probably want to make X509Store.Add throw on Windows when given an ephemerally-keyed private key... though if the underlying API complains already, all the better)

[2016-04-29 22:56] joshfree commented on #7858
Moved to https://github.com/dotnet/cli/issues/2780

[2016-04-29 22:56] #7858 closed

[2016-04-29 22:59] AtsushiKan commented on #8186
I know the coding isn’t hard – it just sounded like the api-review politics would push this past RTM since you marked the bug as “future.”

[2016-04-29 22:59] AtsushiKan commented on #8186
Never mind – I see the milestone has been changed ☺

[2016-04-29 23:02] CIPop commented on #7906
@davidsh Maybe we can move the tests with internal dependencies to the UnitTests to allow the dual run of direct project reference as well as the package test?

[2016-04-29 23:31] CIPop commented on #5749
@stephentoub @ericeil @pgavlin can answer the *NIX question regarding sync/async cancellation.

The Windows OS doesn't have a similar `recv` syscall. Winsock's sync implementation is a user-mode wrapper over the Overlapped implementation. Windows async is implemented directly over the Overlapped/IOCP model. I'm not excluding the possibility of issues but so far I'm not aware of any issues regardin

[2016-04-29 23:45] emgarten opened #8189 "System.Numerics.Vectors contains _._ in a non-empty ref folder"
System.Numerics.Vectors 4.1.1-rc2-24018 contains ``_._`` in a folder that also contains dlls.

From ``ref/net46``:
![image](https://cloud.githubusercontent.com/assets/6381138/14932324/32c4319a-0e29-11e6-886d-604d93446be2.png)

Normally ``_._`` is added only to allow an empty folder in nupkgs (OPC does not allow completely empty folders)

Having the extra placeholder here causes problems: https://g

[2016-04-29 23:52] JonHanna commented on #8081
Several of them can also be typed as byref and/or pointer types.

[2016-04-29 23:58] JonHanna opened #8190 "Expression.Default() accepts null type."
Attempting to use the expression (particularly, in compiling) will then result in NRE when that null type is used.

Is there a back-compat issue in blocking this? (Anything one could reasonably have been using such an expression for?)

Since fixing would involve an arg check, and fixing how #8081 applies to the same method, may be worth fixing together.

[2016-04-30 00:00] tarekgh commented on #8180
@ellismg will do. I just need to setup 16.04 to make sure my changes will address this issue.

[2016-04-30 00:22] weshaggard commented on #7906
You can continue to test some stuff as you are with a ProjectReference as one test project but we need other test projects that only build against the contracts (via packages). Those test projects give us test coverage on the actual packages to ensure they are correct as well as enable us to run a set of common tests on all the different platforms that your package supports to ensure the behavior

[2016-04-30 01:31] jamesqo opened #8193 "Should ValueTuple's hashing functions could be separated into a new file?"
Right now, `ValueTuple` has a [bunch of code](https://github.com/dotnet/corefx/blob/master/src/System.ValueTuple/src/System/ValueTuple/ValueTuple.cs#L245-L279) dedicated to combining hash codes. Maybe this could be separated out into a new file in `Common` (similarly to what was proposed in #8034) to help reduce the LOC in the file? I'm sure a hash helper class would also be useful in certain othe

[2016-04-30 02:37] brian-reichle commented on #8142
@GSPP, it was mostly posed as an alternative to your suggestion to extend `ConfigureAwait` and will be just as applicable in all the same situations.

In any case, this can still work to reduce the number of throws for multiple async requests, just use it in an async method that sanitizes the result of a single request before aggregating all the tasks. Of course, this won't help much with the numb

[2016-04-30 04:41] davidsh commented on #7833
This is unrealistic right now. We need to keep System.Net.Sockets in the current generation to be compatible with UWP, etc.

[2016-04-30 08:47] hughbe commented on #8174
Thanks @ellismj good to know.
Just one question: is there a way to build and test an individual project on Linux? I know you can with `msbuild /T:BuildAndTest` on Windows

[2016-04-30 10:33] stephentoub commented on #8154
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/570/

[2016-04-30 11:03] stephentoub commented on #8181
Are any other libcurl packages being installed as part of our configuration of the machine or its image?  I know there was previously a problem with another image where the libcurl4-gnutls-dev package was being installed unintentionally.  I don't see any libcurl dev package listed at http://releases.ubuntu.com/16.04/ubuntu-16.04-desktop-amd64.manifest, which leads me to believe it's something we'v

[2016-04-30 11:06] hughbe commented on #738
This has been fixed by #5810 and #7620 so I reckon it can be closed?

[2016-04-30 11:08] stephentoub opened #8195 "BeginConnectV6IPEndPointToV4Host_Fails failed in CI on Ubuntu"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/580/consoleText
[code]

[2016-04-30 11:09] stephentoub commented on #7805
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_debug_tst_prtest/608/consoleText

[2016-04-30 11:18] stephentoub commented on #738
Yup.  Thanks, @hughbe.

[2016-04-30 11:18] #738 closed

[2016-04-30 11:21] stephentoub commented on #7948
Since this happened only once and since it sounds like there was a known related bug at the time, I'm going to close this optimistically.  We can re-open if we see it again.

[2016-04-30 11:21] #7948 closed

[2016-04-30 12:26] stephentoub commented on #2684
@joshfree, this is marked as 1.1.0, but I think it needs to be 1.0.0-rtm; we've already found a couple of issues where the path was wrong, but only haphazardly as we don't have tests to verify it.

[2016-04-30 12:28] stephentoub commented on #3823
Closing as a dup of #3656 (and because DNX doesn't exist as of rc2).

[2016-04-30 12:28] #3823 closed

[2016-04-30 12:31] stephentoub commented on #4587
@ellismg, @joshfree, this is marked as 1.1.0... should it be moved back to 1.0.0-rtm?

[2016-04-30 12:34] stephentoub commented on #4867
@joshfree, @davmason, this is marked as 1.1.0; shouldn't this be 1.0.0-rtm?

[2016-04-30 12:40] stephentoub commented on #5755
@joshfree, @cipop, I suggest this be brought back to 1.0.0-rtm.  I'm not sure why/when this got moved to 1.1.0.

[2016-04-30 12:44] stephentoub commented on #5281
@mellinoe, @joshfree, should this be moved back to 1.0.0-rtm?  I don't love the idea of shipping with asserts we know have failed without investigating why they failed.

[2016-04-30 12:46] stephentoub commented on #6388
Fixed by https://github.com/dotnet/corefx/pull/7868

[2016-04-30 12:48] stephentoub commented on #6767
@joshfree, @rahulkotecha, should this be brought back to 1.0.0-rtm rather than 1.1.0?

[2016-04-30 13:43] #7799 closed

[2016-04-30 14:01] Roraa opened #8200 "resx with (text) files doesn't return file content"
When using a resx file which contains SQL files, the following code: "ResourceManager.GetString("a", resourceCulture)" returns

Instead of returning the file content.

[2016-04-30 15:06] xt0rted opened #8201 "Reference Source repo: Resource string files missing"
The resource file [/src/System.ComponentModel.Annotations/src/Resources/Strings.resx](https://github.com/dotnet/corefx/blob/7965a9020fef095e2d2e3f5a6c543e455ce97c11/src/System.ComponentModel.Annotations/src/Resources/Strings.resx) is not part of [Microsoft/referencesource](https://github.com/Microsoft/referencesource) which [mono is using](https://github.com/mono/referencesource/tree/mono/System.C

[2016-04-30 15:26] jamesqo commented on #8171
@davidsh Okay then, I'll open a pull request in a few hours. Will cc you and @hughbe.

[2016-04-30 15:35] jamesqo commented on #8112
@KrzysztofCwalina Why not? The [description](https://github.com/dotnet/corefx/blob/1b55230f4ed2b16a7078683305c998a4575c2854/pkg/descriptions.json#L179) in the JSON file says it "provides resource pooling of any type." Correct me if I'm wrong, but wouldn't that suit an object pool-like API?

[2016-04-30 16:04] jcouv commented on #8193
On a related note, the hashing and hash combining functions of `System.Tuple` and `System.ValueTuple` seem rather weak. If that code is going to be moved in common, it should probably be stronger.

[2016-04-30 16:22] jamesqo commented on #8193
@jcouv How so? It uses the same algorithm as [here](http://stackoverflow.com/a/263416), which is continually multiplying the hash by a prime (in this case `33`, since `(i << 5) + i` is equivalent to that in unchecked mode) and then XORing it with another hash, right?

[2016-04-30 16:40] #7077 closed

[2016-04-30 19:09] tarekgh commented on #8180
@ellismg is there a new instructions how to get corefx build on Ubuntu 16.04?
I am able to get coreclr build there but I am not able to get corefx build. I have installed all needed Linux packages according to the doc of building corefx on Linux.

when running ./build.sh (on clean cloned corefx), I am getting the following errors:
[code]

I tried to build native components only using ```./build.sh

[2016-04-30 19:22] #3840 closed

[2016-04-30 19:31] #8190 closed

[2016-04-30 19:55] ellismg commented on #8180
@tarekgh We don't support building managed code on Ubuntu 16.04 yet (because we don't have a CLI that works on that platform, so we can restore a tool runtime).

https://github.com/dotnet/corefx/blob/master/Documentation/building/cross-platform-testing.md outlines how we do cross platform builds in CI for platforms where we can't do local builds.  I believe these instructions will work for you.

T

[2016-04-30 19:58] ellismg commented on #8174
@hughbe Once you are on Ubuntu 14.04, you should be able to run `init-tools.sh` in the root without an error.  Once that's complete, you can invoke msbuild with `<path-to-repo-root>/Tools/corerun <path-to-repo-root>/Tools/MSBuild.exe`.

I usually alias the above to just `msbuild` in my shell and then you can go to any project and `msbuild /t:BuildAndTest` like you would on Windows.

[2016-04-30 21:20] tarekgh commented on #8180
merged the linked PR.

[2016-04-30 21:20] #8180 closed

[2016-04-30 22:48] stephentoub commented on #8154
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/579/

[2016-04-30 22:48] #7838 closed

[2016-04-30 22:50] stephentoub commented on #8154
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/581/

[2016-04-30 22:50] stephentoub commented on #8154
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/589/

[2016-04-30 22:50] stephentoub commented on #8154
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_release_prtest/566/

[2016-04-30 23:36] omajid commented on #8183
Thanks for the clarification and moving the bug!

[2016-05-01 00:05] ellismg commented on #8201
/cc @richlander @terrajobst

[2016-05-01 01:27] stephentoub commented on #7805
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_tst_prtest/636/consoleText

[2016-05-01 11:20] JonHanna commented on #8154
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/597/

[2016-05-01 12:08] stephentoub commented on #2667
@bartonjs, this is marked as test bug.  Do we know that to be the case?  If it's potentially a product issue, I think the milestone should be changed to 1.0.0-rtm.

[2016-05-01 12:14] stephentoub commented on #3308
@Maoni0, was this issue fixed? @bartdesmet, does this still repro for you?

[2016-05-01 12:28] stephentoub opened #8211 "Should we make the native shims 1:1 with the managed assemblies consuming them?"
Today we only have a few shims, e.g. System.Native.so, and some of these shims are shared by multiple managed assemblies.  In some cases such sharing is important because the native shim does initialization that should only be done once, e.g. supplying to OpenSSL the locks to be used.  But most cases don't require such sharing, and using the same shim for multiple managed assemblies makes it harde

[2016-05-01 12:29] stephentoub commented on #6302
I think we should investigate this for 1.0.0-rtm... it could potentially be a product bug.

[2016-05-01 12:31] stephentoub commented on #7187
Pulling this back to 1.0.0-rtm.  We should either fix it or close it by then.

[2016-05-01 12:35] stephentoub commented on #7545
Fixed by https://github.com/dotnet/corefx/pull/7771

[2016-05-01 12:35] #7545 closed

[2016-05-01 12:39] stephentoub commented on #7685
Pulling back to 1.0.0-rtm; if we're going to consider a behavior change for the API, it should be prior to that milestone ending.  Otherwise, if a new API will be considered, it can be pushed out.

[2016-05-01 13:41] nil4 commented on #8189
@joshfree @chcosta please consider fixing this for RC2, as it currently blocks ASP.NET core (Kestrel) apps from running on .NET 4.6. Due to the packaging bug, the `System.Numerics.Vectors.dll` file is not copied to the output folder on build. Please see aspnet/KestrelHttpServer#773 for the full details. /cc @davidfowl @muratg

[2016-05-01 14:48] #7906 closed

[2016-05-01 15:46] #8154 closed

[2016-05-01 16:00] stephentoub commented on #8211
cc: @ellismg, @nguerrera, @sokket, @eerhardt, @bartonjs

[2016-05-01 20:40] stephentoub opened #8213 "MethodBodyEncoderTests.FatBody test failed on OSX"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/604/consoleText
[code]

[2016-05-01 20:48] stephentoub commented on #2483
What's left then?  Can this issue be closed?

[2016-05-01 22:01] jamesqo opened #8214 "Some csproj files still use DNXCore,Version=5.0 as the moniker"
The document for .NET Platform Standard says that `dnxcore` is deprecated, however it's still being used in a couple of `.csproj` files: https://github.com/dotnet/corefx/search?l=xml&q=DNXCore&utf8=%E2%9C%93 Not sure if this is intentional or not.

cc @ericstj

[2016-05-01 22:50] AArnott opened #8216 "Array.LongLength property missing"
I'm [porting libgit2sharp to portable](https://github.com/libgit2/libgit2sharp/issues/1293) and the lack of `LongLength` on arrays forces me to resort to `Length`, which will break the library in writing objects larger than 2GB in size. The wisdom of 2GB objects in git aside, this seems like a sad limitation if CoreCLR itself supports 64-bit processes.

[2016-05-01 23:06] bdenison99 commented on #8070
I'll give it a try once I get a dedicated development / build system.  I'm beginning to suspect that the corporate IT imaged laptop has an issue.

[2016-05-02 03:12] ellismg commented on #8216
FWIW, Presently, the runtime does not allow an array to contain more than `int.MaxValue` elements (and the [actual limit is slightly smaller](https://msdn.microsoft.com/en-us/library/hh285054(v=vs.110).aspx).)

So even if this was exposed, you could write the code you'd want, but you wouldn't get the behavior you desire.

[2016-05-02 04:12] stephentoub commented on #7805
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_debug_tst_prtest/638/

[2016-05-02 04:12] stephentoub commented on #7805
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_tst_prtest/643/consoleText

[2016-05-02 04:29] AArnott commented on #8216
Oh, interesting. Then in that case, removing a pointless API sounds good.
But is that limitation only in CoreCLR, or does .NET Framework share it?

[2016-05-02 04:31] #8216 closed

[2016-05-02 06:09] shrutigarg commented on #2483
Client side part is done .But I am unsure if this is to track server implementation too? If no , we can close it.

[2016-05-02 06:23] shrutigarg commented on #7340
is this recurring? DO we need to investigate?

[2016-05-02 06:50] shrutigarg opened #8219 "Enable Channel Binding in Negotiate Stream for Unix."
This is to track the Channel Binding support for NegotiateStream .

[2016-05-02 07:43] alphaleonis opened #8220 "Attribute.GetCustomAttributes does not resepct 'inherit' flag for non-RuntimeTypes."
The method `GetCustomAttributes` on `PropertyInfo` and `EventInfo` ignores the `inherit` parameter, which is mentioned in the documentation. Instead one is supposed to use the `Attribute.GetCustomAttributes` method to get attributes in the inheritance chain.  The problem is that this method only walks the inheritance chain if the type of the `PropertyInfo` (or rather the `MethodInfo` returned from

[2016-05-02 10:38] AdamSpeight2008 commented on #1514
We could get the maximum `.ToString()` of most of core types. Eg `.MaxValue.ToString.Length + 1`
[code]
An initial first approximation of the string length, could be calculated thus.
[code]
I **think** this would be an over allocation. **Note** this is exclude any variation caused by the culture and additional alignment and format specifiers on the arg hole eg `{ x , -16 : X4 }`

At which point *(

[2016-05-02 11:11] markvincze commented on #4479
Hey everyone,

I've seen in the discussion multiple different libraries being mentioned, and I'm a bit confused:
Is there currently any way in .NET Core to manually set a client side certificate with `HttpClient` in a way that I can run the application on Linux.

[2016-05-02 12:16] Abdullah2993 commented on #984
+1 for serialport
My asp.net core app needs to communicate to a GSM modem over Serial

[2016-05-02 13:57] davidsh commented on #4479
The short answer is yes but we have not officially locked the API.

We are working on finalizing the System.Net.Http 4.1 API surface. We try to finalize the API by RTM. If you try out the latest packages from the MYGET dev feed You will find a property `HttpClientHandler.ClientCertificates` to set the client certificate on the HttpClientHandler object.

https://dotnet.myget.org/gallery/dotnet-core

[2016-05-02 14:51] eerhardt commented on #8211
What do we do about functions that are shared by multiple managed assemblies?  Do we put them in both native shim assemblies?  ex. SystemNative_Open.  Or do we continue having that function exposed from just one native shim assembly?

[2016-05-02 14:54] stephentoub commented on #8211
I'm suggesting they'd share source but be compiled into each binary that needs them exported.

[2016-05-02 15:00] eerhardt commented on #8211
If they were in different assemblies, would they have different prefixes in their names?

ex. SystemNative_Open is in "SystemNative.so".

Or would we treat the prefix more like a namespace?

I think I like the idea, I am just trying to work through it fully so I understand it.

[2016-05-02 15:03] stephentoub commented on #8211
Yes, for the AOT scenarios in particular, we'd need to still make all names unique, so when compiling Open into System.Diagnostics.Process.Native.so, it'd be something like SystemDiagnosticsProcess_Open, and when compiling it into System.IO.FileSystem.Native.so, it'd be something like SystemIOFileSystem_Open, at least in my mind.

[2016-05-02 15:03] stephentoub commented on #8211
cc: @jkotas, @janvorli for their opinions as well

[2016-05-02 15:21] #2483 closed

[2016-05-02 15:22] stephentoub opened #8221 "Implement server-side of NegotiateStream on Unix"
We currently only support the client side.

[2016-05-02 15:23] vancem commented on #7833
Eric, we should talk offline about this.  I agree with David, that we don't wish to have the network stack have a dependency on NetStandard 1.5.   But a major value of having the framework broken into small DLLs is that you only need one thing upgraded you can do that.   I want to understand why that did not work in this case and see if we can fix that.

[2016-05-02 15:33] #8114 closed

[2016-05-02 15:42] ericstj commented on #8185
All of these failures are being caused by exactly what the error is saying.  The implementation is missing for these packages.

The implementation is missing because the project.jsons which are failing are missing a reference to the lineup.

The reason this has just started failing is because it looks like NuGet removed a hack where they would ignore the guardrails check for NETStandard monikers.

[2016-05-02 15:43] markvincze commented on #4479
@davidsh,

That's a lifesaver :)
I'll give it a try, thanks!

[2016-05-02 15:55] bdenison99 commented on #8070
Could this be caused by my running a build on Windows 7?
I see the following in the output, and not long after I get lots of errors:

C:\Users\bdenison\git_workspace\net_core\Tools\packageresolve.targets(78,5): warning : Your project.json doesn't have a runtimes section. You should add '"runtimes": { "win7-x64":
 { } }' to your project.json and then re-run NuGet restore. [C:\Users\bdenison\git_wor

[2016-05-02 16:03] muratg commented on #8189
cc @danroth27

[2016-05-02 16:03] MattGal commented on #8136
@mellinoe It's better, but I'd prefer it be more like the CoreCLR repo where you get the copy/paste-able command first before the list of dependencies.  What they're for is a nice addition too.

[2016-05-02 16:10] jkotas commented on #8211
I do not think that having the shims per managed .dll is good idea. I think that the logical grouping as it exists today is the right tradeoff.

[2016-05-02 16:30] jcouv commented on #8193
Adding @VSadov and @dsyme for feedback on the hash function. For context, this came up in the compiler [review of ValueTuple](https://github.com/dotnet/roslyn/pull/9809#discussion_r56749491).

[2016-05-02 16:34] gafter commented on #1514
@AdamSpeight2008 This issue is mainly about the allocations due to boxing.

[2016-05-02 16:35] joshfree commented on #8189
starting an email thread with the usual suspects

[2016-05-02 16:36] davidsh commented on #5755
It was originally pushed out to Future when there wasn't a 1.1 milestone. Our team's resources are constrained and the triage decisions were made based on the RC1/2/3 and RTM dates at that time.

Some of these dates have moved now. We should discuss offline balancing the importance of this particular work vs. the available resources.

[2016-05-02 16:51] ericstj commented on #8214
Yeah, we should clean this up.  It isn't a functional defect nor does it impact packaging, thus I've removed the tag.  Many more projects still use this (tests) and that needs to be cleaned up in buildtools and CoreFx.

[2016-05-02 16:53] joshfree commented on #5167
related https://github.com/dotnet/corefx/issues/7688

[2016-05-02 17:07] stephentoub commented on #8211
Thanks, Jan.  Can you elaborate a bit on why?

[2016-05-02 17:20] janvorli commented on #8211
@stephentoub it seem that besides the System.Native.so, the other shims already correspond 1:1 to managed assemblies, am I right?
As for the System.Native.so, I can see that about 18 managed assemblies are using that, so these would need to be versioned together. Now splitting the System.Native.so into 18 smaller shared libraries look like too much to me - it would mean longer loading time and lar

[2016-05-02 17:24] ericeil opened #8223 "Can we make EventCounter work in NetStandard 1.3?"
Currently EventCounter is only available in NetStandard 1.5.  This makes it unavailable to many (most?) CoreFx implementation assemblies.  We'd like to use EventCounter in System.Net.Sockets, but it must remain on NetStandard 1.3 (see #7833).

We should consider making EventCounter available on 1.3, if possible.

[2016-05-02 17:25] ericeil commented on #7833
I've logged issue #8223 to track making EventCounter available in NetStandard 1.3.

[2016-05-02 17:34] jkotas commented on #8211
- I feel that we are trying to be too much componentized at the lowest levels of the stack and there is not enough value in it.
- We would still need some shims that are shared across .dlls as you have mentioned for various reasons.
- Having many little .so is not free.

I understand that there is a price we will pay for sharing the shim - we need to maintain backward compatibility for it. I do no

[2016-05-02 17:38] #7890 closed

[2016-05-02 17:46] nguerrera commented on #8211
I agree with @jkotas and @janvorli.

It is not really the case that the ~18 assemblies that use System.Native.so must absolutely version together. The only requirement is that increasing stable versions of System.Native.so are compatible with earlier stable versions.

Since these functions are small and mostly correspond 1:1 to Unix low-level API, I don't think they will change very much. Generall

[2016-05-02 18:08] Maoni0 commented on #3308
Yes, this was fixed a while ago. Please see Lee's comments at https://blogs.msdn.microsoft.com/maoni/2015/08/12/gen2-free-list-changes-in-clr-4-6-gc/.

[2016-05-02 18:14] #3308 closed

[2016-05-02 18:21] AdamSpeight2008 opened #8226 "StringBuilder.AppendFormat additional pre-checks."
Split from #1514

[AppendFormatHelper](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Text/StringBuilder.cs/#L1285)

It maybe beneficial to do extra checks before actually generating the output.

[Approximation Routine](https://gist.github.com/AdamSpeight2008/ef6834483148afcac59234eef36ef36f) _Note: this is rough coding._

This gets us
- the number of argholes (`{0}`)
  -  I

[2016-05-02 18:27] mellinoe commented on #8136
Hmm, on the one hand, the copy-paste list is useful for lots of people, but it's very specific to Ubuntu. Folks using other distros would probably prefer to see the list of dependencies first so they can figure out how to install them for their particular distro. Including the apt-get command specifically is useful because Ubuntu is the most common distro that folks on the team are using, and exte

[2016-05-02 18:33] #7849 closed

[2016-05-02 18:34] mellinoe commented on #8174
:+1:

[2016-05-02 19:03] hughbe commented on #8174
@mellinoe that works for me, but I get some build errors: all of them say `SR does not contain a definition for ...`

[2016-05-02 19:15] VSadov commented on #8193
We are talking about a hash combiner like
[code]

If you notice, if  h1 and h2 are sufficiently large,   ```h1 << 5```  becomes 0, and the whole deal becomes just  ```h1 ^ h2```

That is 1) symmetrical and 2) will result in 0 if  h1 == h2.

Being a variant of DJB, there are easily discoverable funnels - for example (0x00, 0x21) will collide with (0x01, 0x00)

I think we can find a combiner that is

[2016-05-02 19:17] Priya91 commented on #8185
What is lineup?

[2016-05-02 19:24] ramarag commented on #8200
@Roraa can you please provide a working repro ?

[2016-05-02 19:29] hughbe commented on #7921
Okay, I've done a bit of digging.
The bug isn't actually in the code for `Uri.GetComponents`. It is found in IdnMapping.

Since there is no managed implementation of GetUnicode, we delegate IdnToUnicode conversions to native functions on the platform.

[2016-05-02 19:29] mellinoe commented on #8174
@hughbe Could you clarify if you are building on 14.04, or 15.10? Also, do you see those same kinds of errors when running `build.sh`, or is it just when using msbuild directly?

[2016-05-02 19:32] hughbe commented on #8174
Sorry, 14.04 - they were only with msbuild. However, I ran `clean.sh` and used `msbuild` again and it all worked. If there are any future problems I'll diagnose further!

[2016-05-02 20:06] joshfree opened #8228 "Update CI to Debian 8.4"
1. We should update CI infra to Debian 8.4 (https://www.debian.org/News/2016/20160402)
2. Also please review the RID graph entries for Debian 8.2+ (8.3, 8.4) so there are no issues for users on newer Debian 8 patch levels

[2016-05-02 20:12] joshfree commented on #8226
cc: @KrzysztofCwalina since this is a split off of https://github.com/dotnet/corefx/issues/1514

[2016-05-02 20:32] joshfree commented on #7191
reopening issue until we have a clean build with CLI support

[2016-05-02 20:36] dagood commented on #8185
The `Microsoft.NETCore.Platforms` package brings in `Microsoft.NETCore.Targets`, which lists a "lineup" of which packages need which runtime packages for each runtime. These runtime packages include the implementation dlls that NuGet's complaining about not having.

I don't think this applies to https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.X509Certificates/src/unix

[2016-05-02 20:42] ellismg commented on #8228
Debian does not bump the `VERSION_ID` field of `/etc/os-release` on minor version updates, so we should not need to add anything to the rid graph.  CLI will always generate the rid of `debian.8-x64` for all debian 8.X versions.

[2016-05-02 20:47] ericeil commented on #7921
@hughbe, thank you for taking the time to look into this!

@tarekgh, is this something you already knew about?

[2016-05-02 20:55] tarekgh commented on #7921
@ericeil I think @ellismg can know better here as I think he is the one ported Idn support to Linux.

[2016-05-02 20:59] ericstj commented on #8145
I imagine you'd be able to do this if you were building a standalone app in the CLI and you pointed to packages you produced locally.

[2016-05-02 21:07] jamesqo commented on #8193
@VSadov Ah good point, I hadn't noticed that. Perhaps we should also add the upper 5 bits of `h1` beforing XORing it, like so:

[code]

This is what `String` [does for its (non-randomized) hash code](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/String.cs#L866-L867) on 32-bit platforms.

[2016-05-02 21:36] AtsushiKan commented on #8186
# Add support for loading Pfx files with ephemeral keys.

Prior to Windows Vista, loading a certificate from a PFX file using the crypt32 function <b>PFXImportCertStore()</b>  creates a permanent key file on disk to hold the certificate's private key. It's up to the caller to delete the key if he doesn't want it taking permanent residence on the disk.

This problem bubbles up to .NET because the <

[2016-05-02 21:38] AtsushiKan commented on #8186
cc @bartonjs

I've added a more formal writeup for opening Pfx's with ephemeral keys. Please take a look (esp. the part about Unix.)

The Store.Open behavior, we may want to peel off separately. That scenario already exists in theory (you could always P/Invoke to PFXImportCertStore() yourself and open the X509 with a handle) so changing those would be considered breaking.

[2016-05-02 22:08] #8189 closed

[2016-05-02 22:16] khdang commented on #7912
The only reason that can be the reason for the failure is that we have some tests for internal method in ```XmlSerializerTests.Internal.cs```. I believe adding a condition in csproj file will fix this:
[code]
@venkat-raman251 Could you please help to look at this?

[2016-05-02 22:27] MattGal opened #8230 "CoreRun of Xunit.Console.Netcore causes terminal to stop responding to certain inputs on OSX"
When running individual CoreFX test cases on OSX (using vanilla corefx fetched this morning), every time I run Xunit.Console.Netcore.exe using corerun my terminal is never the same after.

Observations:
- You have to actually run tests to get the repro (just running ./corerun xunit.console.netcore.exe doesn't repro)
- Running "reset" solves this temporarily.

Some keys this takes away (not exhaust

[2016-05-02 22:36] ericstj commented on #8230
/cc @stephentoub

[2016-05-02 22:40] nil4 commented on #8189
@joshfree still seeing this with 4.1.1-rc2-24027

[2016-05-02 22:44] #8213 closed

[2016-05-02 22:46] ericstj commented on #8189
Issue was moved to https://github.com/dotnet/cli/issues/2824.

[2016-05-02 23:03] mellinoe commented on #8230
This is any test project? Or is it specific to, say, System.Console?

[2016-05-02 23:16] ericstj commented on #8185
I think we still need runtimes to satisfy the compatibility check, but I could be wrong.

I can take a look at the failing projects and see about fixing them up.

[2016-05-02 23:23] dagood commented on #8185
Well, removing the runtimes does make a `dotnet restore` succeed, but I don't know about other layers of validation.

[2016-05-02 23:23] ericstj commented on #8185
Looks like we don't need the RIDs for the compat check when resolving "netstandard" targets, but we do need them for non "netstandard" targets.

[2016-05-02 23:55] ericstj commented on #8185
If build succeeds as well that should be good.  If you remove the RID and it was needed the things that would break are 1) restore 2) test execution due to missing impl.

[2016-05-03 00:05] atrauzzi opened #8234 "Ubuntu support needs to be better"
I'm sure this seems like a nuisance ticket, but it's hard to gauge the level of interest in solving concerns I've seen brought up by others over the .NET experience on Ubuntu.

There are a few top-level issues at the moment, immediately apparent by the current install instructions:

![image](https://cloud.githubusercontent.com/assets/115199/14971129/198149e8-1095-11e6-913f-3d58e3e6011a.png)
1. The

[2016-05-03 00:18] bartonjs commented on #8186
Yeah, when I was jotting down the notes I forgot that you needed to do PersistKeySet to effectively add to the store.

I'd call it something more like `EphemeralKeys`; and I'd further propose making it be the default in corefx and net463 (quirked).

[2016-05-03 00:53] AtsushiKan commented on #8186
Making it the default is likely too dangerous. I’ve already discovered through experimentation that

-          Going ephemeral breaks all the ECMS decrypt tests (because GetMsgPraram(KEY_PROV_INFO) now returns “no property.”.

So now I have the impetus I didn’t have before to get rid of that call and just use the keySpec from CertificateGetPrivateKey.)

-          Even after that fix, Decrypt sti

[2016-05-03 01:32] mikeharder opened #8235 "HttpClient does not support IPv6 with scope ID on Mac or Linux"
**Repro Steps**
1. Start an HTTP server on an IPv6 address with a scope ID.  An example is the link-local address provided by running `ifconfig`.
2. Run `curl` to verify the server is working.
2a. On Mac, I needed to wrap the IPv6 address with brackets, and escape the `%` as `%25`.  For example: `curl http://[fe80::blah%25en0]:1234/`.
2b. On Linux, I needed to *not* wrap with brackets, and *not* e

[2016-05-03 01:59] davidsh commented on #8235
cc: @stephentoub

[2016-05-03 02:03] vindicatorr commented on #8136
+1 on seeing the deps first (archlinux newb). I like to know what's going on before I do something.

[2016-05-03 05:34] bartonjs commented on #8186
Sad.  But I'll definitely accept "some things don't work" as a reason to not make it the default.

[2016-05-03 09:26] varocarbas commented on #6831
Below these lines, you can find a corrected version of my first code where I am addressing some of the issues highlighted in the comments. That is:
- I have increased the consistency by removing all the `enum`s and making it completely string-based. The main goal of this correction is empathising the simplistic-parsing-based vs. more-complex-programmer-friendly (i.e., first attempt vs. further imp

[2016-05-03 11:47] Mike-EEE commented on #5766
FWIW, I just invited the Xamarin.Forms team to join the conversation here:
https://bugzilla.xamarin.com/show_bug.cgi?id=26740

Or if anything, make everyone _here_ aware of the conversation _there_. :smile:

[2016-05-03 12:05] Inumedia commented on #6782
I'm seeing this when trying to use the Aes implementation in Security.Crypto.Algorithms.

### Specs:
- Ubuntu 14.04.4 LTS
- openssl version: OpenSSL 1.0.1f 6 Jan 2014
- dotnet --version:
[code]

### Exception:
[code]
### Project.JSON:

[code]

The project.lock.json file can be found here: [project.lock.json](http://inumedia.io/project.lock.json)

At the time of execution on the Linux system, it's

[2016-05-03 12:46] Inumedia commented on #6782
Never mind, looks like bartonjs's comment fixed my problem, sorry for commenting on an old thread 🙄

[2016-05-03 13:43] xied75 commented on #7570
@ianhays Now with this "up for grabs", what is the conclusion regarding #6602 then? Managed or not, both should work, but eventually there needs to be a "policy" or "agreement" reached or pushed either from top or bottom.

My feeling is that native code should perform faster, (although happy to be proved wrong on this). Trivia difference for small runs, would add up when you are facing huge number

[2016-05-03 14:12] xied75 opened #8237 "Incorporating SSH client lib in corefx?"
Given .Net is cross platform now, and in the *nix world SSH (server and client) is used everywhere, should we add basic SSH functionalities into corefx?

For managed implementation we can reference:
https://github.com/sshnet/SSH.NET

For native maybe we can borrow something from PowerShell team?
https://github.com/PowerShell/Win32-OpenSSH

Thoughts?

[2016-05-03 14:18] jchannon commented on #7552
What's the recommended practice to handle the scenario where this exception is caught because of cross platform differences, should it just check for Exception when assigning a TimeZoneInfo variable?

[2016-05-03 15:06] stephentoub commented on #8235
Thanks, Mike. I've investigated and know what and where the problem is, just determining what the right fix is.

[2016-05-03 15:08] SamuelEnglard opened #8238 "`System.Xml.XmlSerializer` cannot serialize `System.Nullable<t>` as attribute"
[code]

[2016-05-03 15:11] bartonjs commented on #6782
@Inumedia No worries, I was going to ask why you had explicit references to beta packages (RC1) when everything else was rc2 (or rc3).

[2016-05-03 15:15] Inumedia commented on #6782
Mostly just because they aren't showing up in the auto complete in vscode :P

[2016-05-03 15:17] ericstj opened #8239 "Reduce number of package references for runtime specific packages"
Today when you reference a fat package that uses RIDs you also have to reference Microsoft.NETCore.Platforms to bring in the RID graph.

When you reference a split package you need both Microsoft.NETCore.Platforms for the RID graph and Microsoft.NETCore.Targets for the lineup.

When referencing NETStandard.Library we include both of these, but not when referencing individual packages.

Adding thes

[2016-05-03 16:12] AtsushiKan commented on #8186
Ok, it gets worse – GetRSAPrivateKey() and HasPrivateKey won’t work either (same root cause – no key provider info.)

Sure, we could try to make those api support these freaky “ephemeral certificates”, but that would be adding code paths to import and export ephemeral keys (both capi and CNG, and possibly having to update the code for incoming algorithms). At this point, the tail is wagging the do

[2016-05-03 16:13] tarekgh commented on #7552
@jchannon we have a future issue to support the IANA Ids on Windows and Windows Id on Linux/OSX. till we have this work done, you'll need to handle the cross platform manually. so it depends on your scenario you are using TZ for. if you need to have some level of cross platform TZ support you will need to do manual mapping between Windows Id and IANA Ids, otherwise you'll just need to fallback to

[2016-05-03 16:15] hughbe opened #8242 "Inconsistencies in IdnMapping on Unix and Windows"
Originally, some of these were found in #7921 and I found more inconsistencies in #8224 so its worth creating a new issue and closing the old one that diagnosed the problems as with Uri.GetComponents.
## GetAscii - uppercase ASCII chars (e.g. `A, B, C`)
- Windows behaviour: returns the uppercase chars
- Unix behaviour: returns the lowercase chars
## GetAscii - single dash (e.g. `-`)
- Windows beha

[2016-05-03 16:19] jchannon commented on #7552
Just to confirm, CoreFx will support Linux timezone Ids or you'll make the
Windows Id's work when running on Linux or both?

The example code we have at the moment is this:

[code]

If the exception is removed shall I just catch for Exception? In theory
this should never happen as we wouldn't expect our customers at the moment
to swap OSs.

On 3 May 2016 at 17:15, Tarek Mahmoud Sayed <notification

[2016-05-03 16:21] hughbe commented on #7921
Before there is a discussion here, i suggest closing this in favour of #8242 as this is not a problem with Uri.GetComponents and I've found more inconsistencies in IdnMapping documented there

[2016-05-03 16:27] tarekgh commented on #7552
Windows Id's work when running on Linux or both?

The future work should allow both.

Yes, you need to catch Exception instead of TimeZoneNotFoundException till we expose TimeZoneNotFoundException.

[2016-05-03 16:29] AtsushiKan commented on #3077
This test does make some assumptions about your environment. That is, if your test machine is attached to a domain, it has network connectivity to the domain and your machine's password is in sync with the domain, etc. ("The trust relationship" message is IT-speak for "how dare you take your machine offline.")

This is probably not an outrageous assumption for the test to make - we could perhaps c

[2016-05-03 16:32] jchannon commented on #7552
Thanks. Good news about the Ids

On Tuesday, 3 May 2016, Tarek Mahmoud Sayed <notifications@github.com>
wrote:

[2016-05-03 16:35] jchannon commented on #7552
Final question. How does this effect the Portable Analyzer tool. At the
moment it says it's invalid but looks like you're planning on making it
ship with RTM so how/when does the Analyzer get updated?

On Tuesday, 3 May 2016, Tarek Mahmoud Sayed <notifications@github.com>
wrote:

[2016-05-03 16:35] bartonjs commented on #8186
I think this is an important scenario for products, not just for tests.  Reopening the issue.

[2016-05-03 16:39] AtsushiKan commented on #8186
I’ll need more than that to sell this in an api review.

[2016-05-03 16:41] mjrousos commented on #7552
The portability analyzer tool pulls its data from reference assemblies (via API catalog), so it should update automatically once the changes are made. Until then, it may be worthwhile to add a 'recommended action' that mentions the API is incoming and provides a short-term workaround.

[2016-05-03 16:44] jchannon commented on #7552
So at the moment the Analyzer is using rc1 assemblies not rc2?

On Tuesday, 3 May 2016, Mike Rousos <notifications@github.com> wrote:

[2016-05-03 16:49] joshfree commented on #8238
cc: @zhenlan

[2016-05-03 16:55] tarekgh commented on #8242
@ellismg do you have more info about this issue?

[2016-05-03 17:03] bartonjs commented on #8181
On my 15.10 machine:

[code]

And

[code]

And, the last diagnostic I can think of:

[code]

[2016-05-03 17:20] mjrousos commented on #7552
@terrajobst @twsouthwick - do you guys know which assemblies are used to populate API catalog? Is it the RC1 stuff from NuGet or RC2/3 binaries from myget?

[2016-05-03 17:28] ellismg commented on #8242
I will need to dig in and consult the IDNA specs.  Last time I talk to Shawn about some of these it sounded like Windows may not follow the spec exactly where as ICU did and that's why we saw differences in some cases.

[2016-05-03 17:43] tarekgh commented on #8242
@ellismg the question is, should we always give the OS behavior (as we do for the sorting)? or should we try to always follow the specs and have consistent behavior?

we already have differences between Windows and Linux in some areas. Idn could be another one here.

[2016-05-03 17:44] khdang commented on #8238
@SamuelEnglard can you provide an example to reproduce this issue?

[2016-05-03 18:05] mikeharder commented on #8235
Great.  I'm happy to test the PR on my Mac and Linux machines, if you can tell me the easiest way to build the affected binaries and reference them from my project.

[2016-05-03 18:17] Priya91 commented on #8181
From 16.04 machine:

[code]
And
[code]

[2016-05-03 18:26] joshfree commented on #8234
Hi @atrauzzi thanks for all the great suggestions on making the getting started guide and acquisition process less painful.  Just a note that the instructions are based on the latest public preview (RC1) and that page will get a refresh once RC2 is published to nuget.org.

Also Ubuntu 16.04 support is in the works for 1.0-RTM

cc: @richlander @blackdwarf @ellismg

[2016-05-03 18:39] ellismg commented on #8234
As @joshfree says, we plan to add an Ubuntu 16.04 for 1.0.0 RTM (which will come around the end of June).

We currently don't have plans to produce pre-built packages of 15.10 for RTM.  It would be good to hear from folks who are presently on Ubuntu 15.10, how long they plan to stay on it.  Canonical stops supporting it shortly after we RTM.  Have folks on 15.10 already started to move to 16.04 or

[2016-05-03 19:10] Roraa commented on #8200
Sure, [ResxTestConsoleApp.zip](https://github.com/dotnet/corefx/files/247562/ResxTestConsoleApp.zip)