[2019-07-22 19:35] GSPP commented on #38992
It is a design bug of .NET 1.0 that timeouts sometimes are expressed as `int milliseconds`. This should not exist at all.

[2019-07-22 19:38] DCCoder90 opened #39675 "URI type is determined differently on Linux vs Windows"
Using the code below:

How URIs are determined to be absolute vs relative is different based on your OS.  This led to problems for us where it was working locally but not in our containers.   Thankfully we figured it out.

[code]

The expected return is:

False
False
True

However, the results are below:

**Windows**

False
False
True

**In a Linux docker container**

True
False
True

[2019-07-22 19:39] moleszek commented on #39672
@vcsjones @stephentoub
Sorry, my fault.
The language is C# and .net Core
I corrected *How to reproduce*

[2019-07-22 19:39] DCCoder90 commented on #39675
My apologies.  Just realized this was also refering to file paths on linux /test/path/ would be valid.

[2019-07-22 19:39] #39675 closed

[2019-07-22 19:41] rgl commented on #17107
The code-coverage/coverlet/tooling support for gathering code coverage under unix/linux.

[2019-07-22 19:42] ViktorHofer commented on #14344
Seems to be a coverlet bug:

[code]

cc @MarcoRossignoli

[2019-07-22 19:44] ViktorHofer commented on #17107
Coverlet offers that already. We don't offer an in-built tools as part of the BCL. Coverlet was recently integrated into dotnet test. Not sure if I understand your question correctly.

[2019-07-22 20:00] rgl commented on #17107
that was it! all of this (coverlet/bcl/dotnet test) will work with dotnet core 3. :-)

[2019-07-22 20:02] ViktorHofer commented on #17107
Absolutely 👍

[2019-07-22 20:05] MarcoRossignoli commented on #14344
I'm OOF for a week I'll take a look asap @ViktorHofer please can you attach command line/project folder to speed up repro?

[2019-07-22 20:10] vcsjones commented on #39672
@moleszek Can you please try the example above I gave as a solution for `openWebPage` method? In .NET Core, you need to set `UseShellExecute` to true. In the .NET Framework, the default was true which is why you didn't need to do it this way with the Desktop .NET Framework.

For `openSimple` there isn't enough information to help troubleshoot why that might not be working for you. Further, I don't

[2019-07-22 20:19] moleszek commented on #39672
@vcsjones I try with the solution you gave and it works.
For `File.Open` I had similar error but I guess I could possibly do something wrong because I'm not able to reproduce it right now.
I've edited ticket and removed `File.Open` problem so it won't be confusing.
Thanks for the help and this issue can be closed.

[2019-07-22 20:20] Duranom opened #39676 "Task WhenAll WhenAny support for ReadOnlyMemory"
Currently `Task.WhenAll` and `Task.WhenAny` currently only accept an Array or IEnumerable of tasks to await. However with the introduction of Span, Memory it would be nice if it would be able to accept a ReadOnlyMemory. I guess ReadOnlySpan could be possible as the implemenations are not async but that would make impossible for later to be changed if needed.

A sample where we currently trying to

[2019-07-22 20:20] #39672 closed

[2019-07-22 20:23] stephentoub commented on #39676
Accepting a `ReadOnlyMemory<Task>` wouldn't help to avoid that, at least not by itself: while the `WhenAll/Any` call would see a `ReadOnlyMemory<Task>`, it's still callable with a writable data structure.

[2019-07-22 20:29] stephentoub commented on #39676
If you're interested in performance, which it sounds like is your motivation for this issue, there are much better ways to accomplish this.  If I'm understanding, what you're describing is O(N^2) in the number of tasks, since for every task, WhenAny needs to register and unregister with every other task provided to it.  You can instead just register with each task once, and as they complete update

[2019-07-22 20:32] stephentoub commented on #39649
@bradwilson, would xunit welcome a PR to address this in some way?

[2019-07-22 20:56] #39233 closed

[2019-07-22 21:31] KevinCathcart commented on #39221
One issue with pointing people at the portability analyzers is that it uses the API catalogs, which are currently less than optimal with regards to .Net 3.0.

It seems to be including most of the "Windows Compatibility Pack" in the .NET Core 3.0 catalog, rather than the "Platform Extensions" catalog like with 2.x.

I *think* what is going on here is something along the lines that anything exposed

[2019-07-22 21:35] jhudsoncedaron opened #39677 "Reading Socket.Blocking returns a stale cache value; code and documentation don't agree"
I'm not sure if the code is wrong or the documentation is wrong.

Documentation says "The Blocking property indicates whether a Socket is in blocking mode." The actual behavior on reading the property is it returns the last value the property was set to. If you make a native API call (in this case the call was WSAEventSelect) the property return is stale. I spent a long time trying to track this d

[2019-07-22 21:47] scalablecory commented on #39677
What scenario are you seeing `Blocking` not reflect the actual blocking configuration of the socket?

Are you calling `WSASetEvent` on a socket?

[2019-07-22 21:47] rillig opened #39679 "RNGCryptoServiceProvider offers unappropriate API"
The RNGCryptoServiceProvider should have an API that provides all the convenience methods of the standard Random class. It looks ridiculous having an [example code snippet that is 34 lines longer than necessary](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.rngcryptoserviceprovider?view=netframework-4.8#feedback).

If there were a decorator class providing the NextInt fu

[2019-07-22 21:48] #16696 closed

[2019-07-22 21:48] ViktorHofer commented on #14344
Submitted https://github.com/tonerdo/coverlet/pull/495 to fix the crash.

[2019-07-22 21:50] jhudsoncedaron commented on #39677
Yes, that's exactly what I did. There's no other way to wait for one of five conditions where some of them are sockets and some aren't.

[2019-07-22 21:53] ViktorHofer commented on #14344
@ehasis that's the current code coverage status for Microsoft.VisualBasic.Core:

[code]

HTML report:
[report.zip](https://github.com/dotnet/corefx/files/3419279/report.zip)

[2019-07-22 22:01] jhudsoncedaron commented on #39677
Sorry, somehow got the wrong function. The actual function is WSAEventSelect .
[blockingnonblocking.zip](https://github.com/dotnet/corefx/files/3419301/blockingnonblocking.zip)

[2019-07-22 22:08] ehasis commented on #14344
Very nice, thanks @ViktorHofer !

[2019-07-22 22:09] vcsjones commented on #39679
`GetInt32` was added to `RandomNumberGenerator` and will be available in .NET Core 3 and .NET Standard 2.1. Does this provide the solution you were looking for?

https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.randomnumbergenerator.getint32?view=netcore-3.0

[2019-07-22 22:10] brianrob commented on #39670
These should not be ported.  They are older functionality that have been replaced by `EventSource`.
/cc @noahfalk

[2019-07-22 22:18] scalablecory commented on #39677
Ah! `WSAEventSelect` does automatically set a socket to non-blocking, so this makes sense now.

For now, I would generally assume using the `SafeHandle` to operate on the socket might create any number of unexpected/undocumented states. @davidsh any background on why we're caching the `Blocking` property?

If this is an issue for you, an alternative to using `WSAEventSelect` might be to use async

[2019-07-22 22:18] ericstj commented on #39221
It's by-design that our desktop compatibility facades (including mscorlib) reference libraries that are not included as part of the default assembly set.  The error you get is actually slightly better than what you'd get if we didn't type forward.  Without the typeforward you simply have a missing type, with it, you have a pointer to an assembly which you can search for.

@carlossanlop / @safern m

[2019-07-22 22:22] #39670 closed

[2019-07-22 22:25] jhudsoncedaron commented on #39677
The only issue was me reading the "Blocking" property to track down where the call was that changed it to non-blocking and left it and finding it was still true at the point of failure later on.

[2019-07-22 22:53] scalablecory commented on #39677
Okay. We'll get docs updated on using `SafeHandle` in https://github.com/dotnet/dotnet-api-docs/pull/2767.

On if we should be caching `Blocking` or not is another thing all together -- will want some thoughts from @dotnet/ncl. I suspect we do so right now for perf reasons and changing that may not be ideal.

[2019-07-22 23:00] bartonjs commented on #39628
Hm.  What does EVP_PKEY_base_id say? I'm guessing 19 (and a happy key is 6), meaning it returned EVP_PKEY_RSA2 (aka NID_rsa) instead of EVP_PKEY_RSA (aka NID_rsaEncryption).

[code]

in CryptoNative_EvpPkeyGetRsa, maybe?

[2019-07-22 23:14] Maoni0 commented on #39673
@janvorli would you please take a look at cgroup2 and see if it's a simple matter of adopting it (eg, read the same values just from different places kind of thing) or does it mean we'll need to handle new scenarios enabled by cgroup2 and/or does it make us change anything we are currently doing?

[2019-07-23 01:32] stephentoub opened #39683 "Consider pooling Http2Stream objects"
We've previously abstained from trying to pool Http2Stream objects in SocketsHttpHandler, because of concerns around object lifetime.  With the changes in https://github.com/dotnet/corefx/pull/39638, we should be able to reason much better about exactly when all access to an Http2Stream quiesces, enabling us to pool these objects, which themselves hold on to a fair amount of heavy state.

[2019-07-23 01:33] stephentoub commented on #35309
https://github.com/dotnet/corefx/issues/39683

[2019-07-23 01:40] omajid commented on #39673
@carlossanlop Thanks for raising the visibility of this issue. I was hoping to use this bug as a tracker and track fixes across multiple components, not just corefx. Is there a better place to file such bugs that have a larger scope?

[2019-07-23 01:52] omajid commented on #39673
Oh, and in case it was not obvious, I am planning (hoping?) on contributing all the required fixes to corefx and coreclr (and anything else that pops up).

[2019-07-23 02:36] ahsonkhan commented on #39652
See https://github.com/dotnet/corefx/pull/39687

[2019-07-23 02:40] chenxuuu commented on #39464
@krwq  A 4G module，with 3 serial ports from 1 usb.
I record a screen video: https://1drv.ms/v/s!Asz6jM0Kmex1p8wRA1P9Fakx9qvOvw?e=DV2fRt

[2019-07-23 06:37] MarcoRossignoli commented on #14344
Merged thanks Viktor

[2019-07-23 08:50] GSPP commented on #39658
I was not aware of `IncrementalHash`. What is the purpose of this class in contrast to the existing APIs? When should this class be used?

Benchmark for that on .NET Core 2.2:

        [Benchmark]
        public void IncrementalHash()
        {
            using (var incrementalHash = System.Security.Cryptography.IncrementalHash.CreateHash(HashAlgorithmName.SHA1))
            {
                Spa

[2019-07-23 09:00] GSPP commented on #39658
This is a PerfView profile of `IncrementalHash` on .NET Core 3.0.0-preview6-27804-01:

![image](https://user-images.githubusercontent.com/12032350/61698106-d4b64680-ad38-11e9-8550-c0549cfc6ae4.png)

It seems that about 2/3 of the time is spent in `bcrypt`. I wonder how much time could be saved by only calling once into `bcrypt` instead of twice.

[2019-07-23 09:06] AriNuer commented on #37378
Test `System.Tests.GCTests/GetGCMemoryInfo ` failed with same exception:

Message :
[code]
Stack Trace :
[code]
Details:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F~2F/20190722.29/workItem/System.Runtime.Tests/analysis/xunit/System.Tests.GCTests~2FGetGCMemoryInfo

[2019-07-23 09:13] paul1956 commented on #31181
I published the source and tests https://github.com/paul1956/MsgBox, I will work on in getting on NuGet when I figure out how. I realized the Microsoft.VisualBasic dll is not yet on Microsoft.NET.Sdk.WindowsDesktop

[2019-07-23 10:33] MrM40 commented on #35222
Now tried with C# in .net Core **3.0.100-preview6-012264** still doesn't work.

[2019-07-23 11:16] PRIMETSS commented on #35722
I had no idea Serial ports are such a convoluted device!
https://docs.microsoft.com/en-us/previous-versions//ff546502%28v%3dvs.85%29

Further to this, I was able to compile BUSTOOLS/MinCom for ARM and was able to connect to device via GUID

MinCom uses Win32 (confimgr.dll) interop API to communicate with Serial devices
https://docs.microsoft.com/en-gb/windows/win32/api/cfgmgr32/

https://github.co

[2019-07-23 11:42] MrM40 commented on #38033
It's my experience that `ArgumentList` doesn't parse single quotes any better. I'm still looking/waiting for a solution/fix to parse single quotes with `Process.Star`t and `ProcessStartInfo.Arguments`

[2019-07-23 11:52] MrM40 commented on #23592
For any improvement in Arguments / ArgumentsList, please make sure it will include the support for parsing single quotes in the argument value (It's fine it has to be escaped). For the current it doesn't seem to be possible :-(

[2019-07-23 11:57] jnm2 commented on #23592
@MrM40 Single quotes don't have to be escaped in general as far as I'm aware. The rules being followed aren't the rules of a specific shell like PowerShell but rather the rules of e.g. [`CreateProcess`](https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-createprocessw).

[2019-07-23 12:17] MrM40 commented on #23592
But still, the single quotes aren't parsed, escaped or non-escaped :-(

[2019-07-23 12:23] masonwheeler opened #39689 "LINQ IndexWhere extension method"
I recently found myself writing up yet another ad-hoc `IndexWhere` extension method for `IEnumerable<T>` in yet another project.  Every time the need for it comes up, I'm a bit surprised that it's never been put in `System.Linq.Enumerable`, given how common an operation it turns out to be.

We should fix that.  Let's add a standard LINQ operator that works exactly like `Where`, except that instead

[2019-07-23 12:34] jnm2 commented on #23592
@MrM40 Single quotes should be treated like any other character. At least, that's the long-standing argv convention on Windows. The only special characters are `"` and `\`. Are you seeing something different?

[2019-07-23 12:36] ForNeVeR commented on #23592
That would be a compatibility-breaking solution, because everyone is "okay"-ish with the way they have been parsed for last years. For any new cross-platform development, you really really better use the new API with `ArgumentList`.

As per your request, if we ever want to make any improvements to the API, we better add support for new extendable "parsing engines" (for *nix) and "concatting engine

[2019-07-23 12:52] MrM40 commented on #23592
I agree you would expect that single quotes would be parsed without problems, but I will claim they are not. See [#35222](https://github.com/dotnet/corefx/issues/35222)
I've tried to find a solution for the last six month with all the escaping tricks I could come up with.

[2019-07-23 12:55] EgorBo commented on #39689
Shorter emulation:
[code]

[2019-07-23 13:08] stephentoub opened #39691 "SendAsync_SuppressedGlobalStaticPropagationNoListenerAppCtx test failing"
This test had been missing a [Theory] attribute and thus wasn't actually running.  Now that that's been fixed, the test is failing 100% of the time, e.g.
[code]

[2019-07-23 13:20] TSlivede commented on #38483
My thoughts (as you requested `community input` 😃 ):

I think it must always be the Windows behavior for `ProcessStartInfo.Arguments`, because yes, sure, intuitiveness would be nice - but if it isn't consistent one cannot write platform independent apps, and that would defeat the purpose of having a framework for multiple platforms.

[2019-07-23 13:35] jnm2 commented on #23592
@MrM40 The last suggestion at https://github.com/dotnet/corefx/issues/35222#issuecomment-476518970 is that you should use double quotes. If that didn't work, can you follow up in that issue?

[2019-07-23 13:35] TSlivede commented on #35222
I think this issue could be closed as duplicate of https://github.com/dotnet/corefx/issues/38483 because it essentially asks to make the behavior of `ProcessStartInfo.Arguments` platform dependent. Although https://github.com/dotnet/corefx/issues/38483 is newer, it has IMHO a much cleaner description.

@MrM40 Currently `'` is not considered a quote in `ProcessStartInfo.Arguments` - it's just a nor

[2019-07-23 13:40] bartonjs commented on #39658
.NET Core 1.0 didn't have TransformBlock/TransformFinalBlock on HashAlgorithm to try to get rid of bugs mixing the one-shot and progressive flows, and IncrementalHash made up for the loss of functionality.

Now it's sort of just an alternative, mainly with a difference of the API being a bit more direct.

When you want to create a hasher from a HashAlgorithmName, or are doing incremental hashing.

[2019-07-23 13:43] MrM40 commented on #23592
There are programs/commands which **require** single quotes in the argument, I hope we can agree to that. And for that reason they should be parsed.
I can easily give you some more complex examples of commands, but is actually off-topic and would only move focus from the real topic.
The bottom line is single quotes are not parsed. You can just try the example in 35222 yourself.....the example proj

[2019-07-23 13:54] MrM40 commented on #35222
But the whole problem is, which is not covered by 38483, that the single quote `'` is not parsed as a normal character. My simple example illustrate that I would say.

[2019-07-23 13:55] TSlivede commented on #35222
In https://github.com/dotnet/corefx/issues/23592#issuecomment-514215957 you wrote

I agree - and that is absolutely possible with the current behavior.

You also wrote:

I agree again, however they don't need to be parsed - they are just passed unchanged to the called program.

---

Anyway, I'd strongly recommend, that you use the new argument array API on linux - `ProcessStartInfo.Arguments` is j

[2019-07-23 14:03] TSlivede commented on #35222
Which example do you mean, this one?
[code]

What exactly do you mean by "parsed as a normal character"?

Can we agree, that
[code]
searches for a file or folder `X` within a folder `tmp` within a folder `X`?

By the same logic your first example
searches for a file or folder `'` within a folder `tmp` within a folder `'`?

I guess that is not what you want, so you actually don't want `'` to be han

[2019-07-23 14:10] MrM40 commented on #35222
The command `ls '/tmp/'` just dir the /tmp folder.
You don't really need to use single quotes but I use it as an simple example, it was the simplest Linux command I could think of, and of the exact reason to not put focus on the command but the parsing issue (or whatever one would call it).
Bottom line, I've not found a way to execute a command with an argument containing `'`.

Are you takling abo

[2019-07-23 14:16] TSlivede commented on #35222
[code]
works fine for me. If you want `'` to be considered a quote, you need some executable, that considers it a quote - for example `sh` or `bash`.
works fine for me.

[2019-07-23 14:26] ForNeVeR commented on #23592
@MrM40 could you please specify your target platform first? Otherwise, the following discussion doesn't make much sense.

[2019-07-23 14:27] stephentoub opened #39694 "MutexTests.AbandonExisting test failed in Windows release CI"
[code]
cc: @kouvel

[2019-07-23 14:33] stephentoub commented on #37378
cc: @VSadov

[2019-07-23 14:42] MrM40 commented on #35222
OMG!!!!
`		ProcessStartInfo pi = new ProcessStartInfo("ls"){
			ArgumentList = {"'","/tmp/","'"}
		};
`
Pure beauty, thaaaaanks

[2019-07-23 14:44] MrM40 commented on #23592
Solution:
`ProcessStartInfo pi = new ProcessStartInfo("ls"){
	ArgumentList = {"'","/tmp/","'"}
};`
Sorry for the noise! :-/

[2019-07-23 14:44] #35222 closed

[2019-07-23 14:50] TSlivede commented on #35222
No no no!
This is equivalent of executing `ls "'" "/tmp/" "'"` in bash. It works, but does not do what you want.
It list the files of a folder named `'` (twice) and list the contents of `/tmp/`.

Please delete (or edit) your comment https://github.com/dotnet/corefx/issues/23592#issuecomment-514241549 as it could heavily confuse newcomers.

[2019-07-23 14:52] adamsitnik opened #39695 "Performance regression: one test case of System.IO.Compression.Brotli benchmarks"
The `System.IO.Compression.Brotli.Compress_WithState(level: Optimal, file: "sum")` has regressed, other test cases of this benchmark have improved or stayed the same.

# Repro

[code]

# Results for multiple OSes and Hardware Configs

* Statistical Test threshold: 5%, the noise filter: 0.3 ns
* Base is Median Base in ns
* Diff is Median Diff in ns

## System.IO.Compression.Brotli.Compress_WithStat

[2019-07-23 14:56] TSlivede commented on #35222
`ProcessStartInfo pi = new ProcessStartInfo("ls"){ ArgumentList = {"/tmp/"} };`
is enough - you don't need a `'` in that case.

If you execute `ls -l '/tmp/' '/path/with space/'` in bash or sh, then `ls` never sees any `'` - they are removed by the calling shell. `ls` just gets an array of
[code]

[2019-07-23 15:00] jnm2 commented on #23592
@MrM40 As @TSlivede points out in https://github.com/dotnet/corefx/issues/35222#issuecomment-514244283, this passes three separate arguments to ls: `'`, `/tmp/`, and `'`.

You want `ArgumentList = { "/tmp/" }` which passes a single argument to ls: `/tmp/`
Escaping is already done for you in case the single argument has spaces etc.

[2019-07-23 15:02] georgenorberg commented on #30691
Since I’m facing this issue I wanted to add my input to help find a solution.

@stephentoub I can add that i get the error in  System.Net.Http.HttpConnection.SendAsyncCore

Some details about my specific case:
I'm currently facing this issue in an Azure Durable Functions project (dot net core v2.2) using the httpclient.
In some cases, the durable function is running up to 5 posts in a row to the A

[2019-07-23 15:02] MrM40 commented on #35222
Hmmm.....not so easy :-(
Some of the real commands I need to run is:
`dpkg-query -W -f=' ${db:Status-Status} ' mariadb*`
and
`virsh qemu-agent-command SRV01 '{"execute":"guest-ping"}'`
I guess I could trough it around `sh`, it sure is the best workaround,  but it would be more sexy to call the executable directly.

[2019-07-23 15:03] jnm2 commented on #35222
@MrM40 Why aren't you doing `ArgumentList = { "-W", "-f=' ${db:Status-Status} '", "mariadb*" }`?

[2019-07-23 15:04] MrM40 commented on #35222
I'm working on it :-P (don't have sdk on the prod server where I run the commands)

[2019-07-23 15:10] TSlivede commented on #35222
@jnm2 I'm confused, shouldn't it be

`ArgumentList = { "-W", "-f= ${db:Status-Status} ", "mariadb*" }`

and

`ArgumentList = { "qemu-agent-command", "SRV01", "{\"execute\":\"guest-ping\"}" }`?

If you execute `dpkg-query -W -f=' ${db:Status-Status} ' mariadb*` in bash, the `'` are not passed to the executable, as you can easily test by putting `printf '%s\n' ` before the commands.
Running `printf

[2019-07-23 15:23] stephentoub opened #39697 "Enable disabled xunit warnings"
- [x] xUnit1019	MemberData must reference a member providing a valid data type
- [x] xUnit1026	Theory methods should use all of their parameters
- [x] xUnit2017	Do not use Contains() to check if a value exists in a collection

[2019-07-23 15:27] MrM40 commented on #35222
Yes. As it turn out when using the `ArgumentList` the qoutes are redundant.
This works for me:

    ProcessStartInfo pi = new ProcessStartInfo("dpkg-query");
    pi.ArgumentList.Add("-W");
    pi.ArgumentList.Add("-f= ${db:Status-Status} ");
    pi.ArgumentList.Add("mariadb*");`
 and

    ProcessStartInfo pi = new ProcessStartInfo("virsh");
    pi.ArgumentList.Add("qemu-agent-command");
    pi.Arg

[2019-07-23 15:45] MrM40 commented on #23592
Two examples with solution:

In the Linux shell: `dpkg-query -W -f=' ${db:Status-Status} ' mariadb*`

    ProcessStartInfo pi = new ProcessStartInfo("dpkg-query");
    pi.ArgumentList.Add("-W");
    pi.ArgumentList.Add("-f= ${db:Status-Status} ");
    pi.ArgumentList.Add("mariadb*");`

In the Linux shell: `virsh qemu-agent-command SRV04 '{"execute":"guest-ping"}'`

    ProcessStartInfo pi = new Pr

[2019-07-23 15:46] krwq commented on #35722
@PRIMETSS I'd recommend to send a PR with a fix at this point.

Couple of reasons stuff is complext/messy/difficult:
- the biggest difficulty of Serial Port implementation is that it requires physical hardware for testing and there is not just one - each time you want to make a change you need to connect some devices together and check with different kinds of hardware if you didn't break anything

[2019-07-23 15:49] danmosemsft commented on #37378
dupe of https://github.com/dotnet/coreclr/issues/25810

ARM specific

[2019-07-23 16:10] carlossanlop commented on #39673
Bugs, feature requests, proposals need to all be opened in dotnet/corefx. That is my understanding. Everything happens here.

The dotnet/core repo is used mainly as a central point for people using our tutorials to report issues, so it has very little visibility and activity.

[2019-07-23 16:20] danmosemsft commented on #39697
Community folks, as indicated by the labels, this is a great first issue.

[2019-07-23 16:30] jnm2 commented on #35222
@TSlivede Yes, I wasn't thinking. Thanks!

[2019-07-23 16:32] karelz commented on #37997
@stephentoub can you please help us decide on the next steps?
@scalablecory should have time to do the work ...

Thanks!

[2019-07-23 16:47] bradwilson commented on #39649
Yes, with a couple obvious caveats:

1. We don't currently have message ID/categorization, so we would need to create that;
2. We don't have any plans to ship any more v2 builds, which means the soonest you'd see this is when I'm able to ship a v3 (and when you'd be able/willing to move to it).

[2019-07-23 16:54] stephentoub commented on #37997
The pre-3.0 values all map directly to Windows, but need to be translated for Unix.

The new values added in 3.0 don't have direct Windows equivalents, but if they were ever added to Windows in the future, there's no guarantee they would have the same OS values.  Plus in theory Windows could add additional values in the future that end up conflicting with these.

All of that points to needing to a

[2019-07-23 17:30] danmosemsft commented on #39673
Yup, we track work in corefx with issues in corefx repo.

[2019-07-23 17:31] danmosemsft commented on #39673
cc @richlander

[2019-07-23 17:53] martincostello opened #39701 "Build fails on macOS in Travis CI with 3.0.0 preview 7 - "dyld: lazy symbol binding failed: Symbol not found: _utimensat""
I've been maintaining a branch of [AspNet.Security.OpenId.Providers](https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/pull/53) for ASP.NET Core 3.0 for a while, and just updated it from preview 6 to preview 7 (SDK version `3.0.100-preview7-012821`).

The macOS build in Travis CI fails with the following error in preview 7 ([build](https://travis-ci.org/aspnet-contrib/AspNet.Secur

[2019-07-23 17:57] ViktorHofer commented on #39697
You are fast Mr Toub. Meanwhile I'm at an .NET Event giving a talk and watching your PRs coming in. I feel like a PM.

[2019-07-23 18:16] ahsonkhan commented on #39237
For completeness, this is consistent with Json.NET's behavior:
https://github.com/dotnet/corefx/blob/e6a5951fb68a09598f1fc1826a94de212385c649/src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.cs#L318-L342

https://github.com/JamesNK/Newtonsoft.Json/blob/f940f218041dbc80928ebcd65fe8beaac59f70f1/Src/Newtonsoft.Json/JsonReader.cs#L957-L972

It's also similar to XmlReader, though, if I u

[2019-07-23 18:23] danmosemsft commented on #31181
@paul1956 can you clarify what problem you are having? M.VB.dll is referenced by default by Microsoft.NetCore.App , which is referenced by all .NET core apps.

[2019-07-23 18:39] martincostello commented on #37565
@layomia Still no joy with `3.0.100-preview7-012821`.

Using this snippet:

[code]

I get this exception:

[code]

[2019-07-23 18:45] martincostello commented on #39701
Same issue [for this PR](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/333) too on [macOS](https://travis-ci.org/aspnet-contrib/AspNet.Security.OAuth.Providers/jobs/562726110#L115).

[2019-07-23 18:51] martincostello commented on #39701
Further digging found that the Travis macOS build was pinned to `osx_image: xcode8.3`, which equates to macOS 10.12 ([docs](https://docs.travis-ci.com/user/reference/osx/#using-macos)).

Removing this constraint (https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/333/commits/dbd0a9636ffad3ca1c690d396577d2d517111a85) [fixed the issue](https://travis-ci.org/aspnet-contrib/AspNet.

[2019-07-23 18:56] stephentoub opened #39702 "Upgrade analyzer packages"
Some of the core analyzer packages we're using are tied to versions that are several years out-of-date.

[2019-07-23 19:30] ericstj commented on #39702
Can you be more specific? https://github.com/dotnet/corefx/blob/e6a5951fb68a09598f1fc1826a94de212385c649/eng/Analyzers.props#L2-L10
/cc @safern

[2019-07-23 19:32] stephentoub commented on #39702
https://github.com/dotnet/corefx/blob/e6a5951fb68a09598f1fc1826a94de212385c649/eng/Analyzers.props#L5-L6

e.g. Microsoft.CodeAnalysis.FxCopAnalyzers is 1.1.0, which was released on 11/30/2015.  The current version is 2.9.4-beta1.final, released last month.

I'm working on it.

[2019-07-23 19:34] ericstj commented on #39702
Maybe we can subscribe to that and get Darc updates?

[2019-07-23 19:38] stephentoub commented on #39702
Probably.  But we've got debt to address before we can do that, which is mainly what I'm working on.

[2019-07-23 20:06] ericstj commented on #39701
Introduced in https://github.com/dotnet/corefx/pull/31522 /cc @Anipik  @bartonjs @stephentoub

Did we intend to drop support for OSX 10.12?  Our docs say its still supported.
https://docs.microsoft.com/en-US/dotnet/core/macos-prerequisites?tabs=netcore30

[2019-07-23 20:28] geoffkizer commented on #39046
Moving to Outerloop doesn't really solve the problem.

I don't see why these tests need to be so slow. We should rework them to complete promptly.

[2019-07-23 20:36] krwq commented on #38033
@MrM40

could you give an example of broken scenario? (with expected and actual output)

[2019-07-23 20:38] voltcode commented on #37563
@divega would it be possible for you guys to say if we can expect this in netcore3-ish timeframe or not at all? Or maybe - what's the current best way to communicate with SQL team directly to ask about SSAS client libraries and .NET core?

[2019-07-23 20:47] bartonjs commented on #39701
macOS 10.12 is not supported: https://github.com/dotnet/core/blob/master/release-notes/3.0/3.0-supported-os.md.  We just have too many redundant documentation sources.  (@leecow we need to get https://docs.microsoft.com/en-US/dotnet/core/macos-prerequisites?tabs=netcore30 updated to say 10.13)

[2019-07-23 21:09] MrM40 commented on #38033
Sorry, I got wiser sinse :-P
An example of an command in Linux shell which include a single quote:
`dpkg-query -W -f=' ${db:Status-Status} ' mariadb*`

In C#:

     ....
     ProcessStartInfo pi = new ProcessStartInfo("dpkg-query");
     pi.ArgumentList.Add("-W");
     pi.ArgumentList.Add("-f= ${db:Status-Status} ");
     pi.ArgumentList.Add("mariadb*");
     ....

or going through the shell:

[2019-07-23 21:13] safern commented on #39702
Thanks, @stephentoub

[2019-07-23 21:31] paul1956 commented on #31181
In order to use System.Windows.Forms.Dll I need to change both ref and src Microsoft.VisualBasic.Core project files from <Project Sdk="Microsoft.NET.Sdk"> to <Project Sdk="Microsoft.NET.Sdk.WindowsDesktop"> and add <UseWindowsForms>true</UseWindowsForms>
 to both projects.

I then get the error below
Microsoft.VisualBasic.Core.cs(920,16): error CS0234: The type or namespace name 'Windows' does not

[2019-07-23 21:48] danmosemsft commented on #31181
Oh, I misunderstood. I thought you were talking about creating new VB projects. No, it is not possible to reference Winforms from the CoreFX repo. It is a matter of layering.

If we want to use Winforms from M.VB.dll, then the work would have to happen in the dotnet/winforms repo, not in CoreFX. Technically how this would work is that in dotnet/winforms they would build M.VB.dll, and it would type

[2019-07-23 22:22] paul1956 commented on #31181
I assume that you would not want MsgBox in dotnet/winforms since it is part of the VB Runtime but it can't go in Microsoft.VisualBasic because it depends on dotnet/winforms hence my dilemma, I need to drop this for now. I assume the same is true of CompilerServices.VBHost.

[2019-07-23 22:51] danmosemsft commented on #31181
Being in dotnet/winforms repo doesn't require it's implemented in a winforms assembly. It's just a convenient repo at the right "layer". Anyway as you say, we can figure this out when 3.0 is out.

[2019-07-24 00:24] akost commented on #34407
Any updates on this bug?

[2019-07-24 00:25] divega commented on #37563
@voltcode this issue is assigned to the Future milestone. This means it isn't planned for any particular release and certainly it won't happen in the 3.0 wave.

Thank you for the detailed description of what you would like to see. I will identify the right people to talk about this feedback.

[2019-07-24 00:39] divega commented on #37563
BTW @voltcode feel free to send me email (alias is the same) if you would like to provide contact information for the team to contact you directly.

[2019-07-24 00:48] danmosemsft commented on #39701
Doc fixed. Thanks for the report.

[2019-07-24 00:48] #39701 closed

[2019-07-24 03:10] #39702 closed

[2019-07-24 04:07] paul1956 commented on #31181
@danmosemsft I have not seen an answer to @ehasis as to what you are still looking for contributions on.

[2019-07-24 06:22] cheenamalhotra commented on #38895
Hi @suthrams

Small update for you:
We addressed the same issue here: https://github.com/dotnet/SqlClient/issues/127.

The latest preview release of [Microsoft.Data.SqlClient](https://www.nuget.org/packages/Microsoft.Data.SqlClient) contains the fix for reported issue. We will port over the changes to **System.Data.SqlClient** soon.

[2019-07-24 06:26] ForNeVeR commented on #23592
@MrM40 and what's the issue? These samples you've posted do _something_ (I'm not sure about the correctness of the first one though because of the way you've removed the `'` characters, but whatever). What is your particular problem, _why_ do you require the older string-based API (that honestly should already be considered "legacy" on *nix for the good measure) to somehow "properly parse" your in

[2019-07-24 06:37] EdiWang commented on #39445
I am trying .NET Core 3.0 Preview 7 today. And I found the same issue for System.Text.Json.JsonSerializer.Serialize()

I can't find a way to make it matches Json.NET's output. We want to use the new Json APIs ASAP but it is still important there are legacy systems not owned by us and if they don't support deserializing the escaped "/", this can be a deal-breaker.

[code]

[2019-07-24 07:22] geoffkizer opened #39711 "IncompleteResponseStream_ResponseDropped_CancelsRequestToServer is incorrect for HTTP/1.1"
This test calls SendResponseHeadersAsync, which always sends Content-Length: 0 and Connection: close for HTTP/1.1. So all the test is doing is processing an empty response body and then correctly closing the connection because Connection: close was sent.

More generally, we should fix SendResponseHeadersAsync to be more useful. This is currently the only place the method is used.

[2019-07-24 08:09] GSPP opened #39712 "JsonSerializer.SerializeAsync(Stream) should have "Utf8" in its name"
The `SerializeToUtf8Bytes` method has "Utf8" in its name supposedly so that "Utf16" can be added later. It seems that this should be done for the `Stream` based APIs as well.

[2019-07-24 08:19] MrM40 commented on #23592
@ForNeVeR: Sorry for the short-info.
I was wrong in my assumption that there was an issue with parsing single quotes in `.Arguments` and/or `.ArgumentList`.
It works fine, you just have to specify it correctly, which at least for me, was not obvious at all, and that's why I gave some examples for others who would find themself in the same situation pulling out hairs :-)
Sorry for the noise and inc

[2019-07-24 08:21] ForNeVeR commented on #23592
Alright!

No need to apologize, you've done nothing wrong. You had a question and you asked. Thanks for collaboration!

[2019-07-24 08:27] GSPP opened #39713 "Possible NullReferenceException in IPEndPoint"
`IPEndPoint.Address` supports setting `_address` to `null`. Constructors validate that the address is not null. Maybe this is an omission in the setter for `Address`.

In any case, `_address` can be null. This means that many usages of `_address` can cause an NRE.

https://github.com/dotnet/corefx/blob/master/src/System.Net.Primitives/src/System/Net/IPEndPoint.cs

[2019-07-24 08:34] Gnbrkm41 commented on #39697
working on 2000.

[2019-07-24 08:34] Gnbrkm41 commented on #39697
working on 2000.

[2019-07-24 08:36] honfika opened #39715 "HTTP Status Code to description"
Please make the `System.Net.HttpStatusDescription` class and the `Get` method in that class public. I think it would be useful for some users.
https://github.com/dotnet/corefx/blob/28e0be5f236b57027b66395fcef87d3c58e31424/src/Common/src/System/Net/HttpStatusDescription.cs#L7

In .NET framework this functionality is available as:
`System.Web.HttpWorkerRequest.GetStatusDescription(304);`

This metho

[2019-07-24 08:52] markrendle opened #39716 "IndentedTextWriter Async methods don't indent properly"
[System.CodeDom.Compiler.IndentedTextWriter](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/System/CodeDom/Compiler/IndentedTextWriter.cs) wrapped around a `StringWriter` doesn't indent properly when using the `WriteLineAsync` methods.

- First write is not indented
- Writes following empty lines (i.e. from `await WriteLineAsync();`) are not indented
- Lines followi

[2019-07-24 08:56] Gnbrkm41 commented on #39689
doesn't `Where(predicate).Select((x, i) => i)` just work?

[2019-07-24 09:28] #39630 closed

[2019-07-24 09:28] #39624 closed

[2019-07-24 09:28] #39459 closed

[2019-07-24 09:28] #39460 closed

[2019-07-24 09:28] #39461 closed

[2019-07-24 09:28] #39404 closed

[2019-07-24 10:02] masonwheeler commented on #39689
@Gnbrkm41 No, that will give a sequence `0, 1, 2, 3, ...` because `Select` only sees the items that passed the predicate successfully.

[2019-07-24 10:04] Gnbrkm41 commented on #39689
Ah, true.

[2019-07-24 10:34] mgravell opened #39717 "IValueTaskSource[<T>] very confused on preview7 (IDE only?)"
IDE: 16.2.0 Preview 4.0

repro: create a new project with a preview 7 global.json, and something like:

[code]

(a console exe is fine, etc) Now add a .cs file:

[code]

Obviously we haven't implemented the interface yet, so let's accept the IDE's ability to implement it:

![image](https://user-images.githubusercontent.com/17328/61786716-3b556600-ae06-11e9-83da-693c528e26bc.png)

The IDE generates

[2019-07-24 10:38] mgravell commented on #39717
Note that these problems appear to be limited to the IDE; at the command-line (`dotnet build`) the compiler works correctly and does not generate the warnings that the IDE generates.

[2019-07-24 10:41] benaadams commented on #39717
/cc @stephentoub

[2019-07-24 11:03] WeihanLi opened #39718 "Is there an API to do something before the application exit?"
Is there an API to do something before the application exit?
For example, I wanna make sure some resource disposed or do some custom operations before
the application exit?

[2019-07-24 11:09] TheFanatr commented on #39689
While I agree that a method with this functionality could be nice, if there are enough common use cases, I feel the name `IndexWhere` is unsuitable as it implies that the functionality is "get the single index where this predicate is true". For this operation `IndexesWhere` may more easily obviate the true functionality, or even just `Index` as a verb because the functionality of the method is to

[2019-07-24 11:11] mgravell commented on #39717
It is possible that this just needs 16.3 preview 1, which [is delayed (thread)](https://twitter.com/Pegazux/status/1153838867138666497)

[2019-07-24 11:15] samsosa commented on #39718
Maybe one of the following methods. However, the call of these methods is never guaranteed by the runtime. However a system crash or quitting via the TaskManager (kill) never triggers these events.

[code]

[2019-07-24 11:26] Gnbrkm41 commented on #39689
How about `FindAll`?

[2019-07-24 11:27] PRIMETSS commented on #35722
Thanks, yes understand, especially

- the biggest difficulty of Serial Port implementation is that it requires physical hardware for testing and there is not just one (physical port, USB, UART etc) - each time you want to make a change you need to connect some devices together and check with different kinds of hardware if you didn't break anything

Had a look at this same USB serial device under R

[2019-07-24 11:46] stephentoub commented on #39717
cc: @cston, @jcouv

[2019-07-24 11:46] Adam-Booth opened #39721 "Color.NonRedirectedOutputDoesUseAnsiSequences failing"
Not sure if this is a problem with my setup or the actual code base since I am new to corefx so I'm sorry if I've done this wrong.

When I'm trying to build and run all tests, the following test is failing and preventing any further  tests from executing:

======================================================================
  ~/Source/corefx/corefx/artifacts/bin/System.Console.Tests/netcoreapp-D

[2019-07-24 12:19] ststeiger opened #39723 "System.NotImplementedException: Neutral region info at System.Globalization.RegionInfo..ctor"
If one does
`Size = RegionInfo.CurrentRegion.IsMetric ? PageSize.A4 : PageSize.Letter;`
this fails, with a

under certain conditions or environments (Xamarin.Forms).

See
https://github.com/ststeiger/PdfSharpCore/issues/46
https://github.com/ststeiger/PdfSharpCore/commit/2ba8fbe9fbde77c5f0e83d92af9b163f7a919c57

Is there something like InvariantRegion that one could return ?
Or wouldn't it be bett

[2019-07-24 12:34] Jasdo commented on #30141
@danmosemsft What if you have a distributed system, and you need to pass the type between machines (for example, using grpc).
Any suggestion how can it be done?

[2019-07-24 14:40] richardmccavery opened #39845 "System.Drawing.dll is missing dependencies in .netcore 3.0 preview 7."
System.Drawing.dll is missing dependencies in .netcore 3.0 preview 7.

![Preview7Deps](https://user-images.githubusercontent.com/53267677/61802674-c8111b80-ae28-11e9-9647-c1193d79dd65.png)

# General

Trying to build an application which previously compiled perfectly with Preview 6.

Compilation complains that a reference to System.Drawing.Common.dll is required, however this appears to be missing

[2019-07-24 14:48] ViktorHofer commented on #14344
Submitted https://github.com/dotnet/corefx/pull/39728 to consume the new version.

[2019-07-24 14:49] stephentoub opened #39729 "PostAsyncDuplex_RequestContentExceptionAfterResponseEndReceivedButBeforeConsumed_ResetsStreamAndThrowsOnResponseStreamRead failed in CI"
[code]

[2019-07-24 14:50] stephentoub commented on #39694
Failed again here:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39725~2Fmerge/test~2Ffunctional~2Fcli~2F~2F/20190724.20/workItem/System.Threading.Tests/analysis/xunit/System.Threading.Tests.MutexTests~2FAbandonExisting(name:%20null,%20waitType:%20WaitAny,%20waitCount:%203,%20notAbandonedWaitIndex:%201,%20isNotAbandonedWaitObjectSigna)

[2019-07-24 15:23] ericstj commented on #39445
@EdiWang did you try using the latest build out of preview8 with @GrabYourPitchforks's changes?  I tried 4.6.0-preview8.19372.8 and it worked for me.

[code]

[code]

Outputs:
[code]

[2019-07-24 15:37] GSPP commented on #34079
Is `FlagEnum.CombineFlags(FileShare.Read, FileShare.Write)` better than `FileShare.Read | FileShare.Write`? The same question for `&`.

Personally, I think it's not better.

[2019-07-24 15:55] stephentoub commented on #39716
Almost every bug fix is a breaking change in one way or another :)

If the behavior is actually as you suggest, that's a bug that should be fixed, and a PR to address it would be welcome.  Thanks.

You call out StringWriter, but presumably this isn't specific to StringWriter, is it?

[2019-07-24 15:57] Joelius300 commented on #37077
Will there ever be serialization-support for `Dictionary<object, object>`? Other json-libraries simply call `.ToString()` on the key in order to get the json-`string`-key. Currently there is no support for this even if you fully implement and override `.ToString()` for the object you want to use as key.
If it's not a possibility to make this the default behaviour, it would be nice to at least have

[2019-07-24 16:01] stephentoub commented on #39723
@ststeiger, can you share a more complete repro as well as the full stack trace of the exception?

And, you say "under certain conditions or environments (Xamarin.Forms)"... is your repro using .NET Core or Mono?

Thanks.

[2019-07-24 16:03] tarekgh commented on #39723
I don't think this is coreclr issue. Maybe this is mono issue? looking at the failing stack

https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Globalization/RegionInfo.cs#L99

We don't throw NotImplementedException but mono does:

https://github.com/mono/mono/blob/master/mcs/class/corlib/System.Globalization/RegionInfo.cs#L113

I'll move the issue to Mono.

[2019-07-24 16:08] abelykh0 opened #39732 "SmtpClient.Send crashes with Segmentation fault"
The example below crashes with Segmentation fault on Linux. The same code works fine (i.e. throws `System.Net.Mail.SmtpException`) in 2.2 or preview 6.

[code]

[code]

[2019-07-24 16:10] tarekgh commented on #39723
This issue was moved to mono/mono#15820

[2019-07-24 16:10] #39723 closed

[2019-07-24 16:13] AlexeiScherbakov commented on #34079
I think that compiler itself must support translation to IL for operations for enums and generic enums.
1. &
2. |
3. ^
4. &=
5. |=
6. ^=
Today it can be written in MSIL directly. Also may be for ! and ~

Anything also is not needed. Just operator like it is proposed for IntPtr/UIntPtr here - https://github.com/dotnet/corefx/issues/32775

[2019-07-24 16:45] DavidKiff opened #39733 "Inconsistent summation of nullable doubles."
Why does the following not output the same value?

var x = null + 10; // Correctly returns null.

var y = new[] { null, 10 }.Sum(); // Incorrectly returns 10

If I wanted 10, then I could have null coalesced the double to 0 in a select or filtered out nulls.  This way around, I cant "fix" it.

[2019-07-24 17:10] danmosemsft commented on #30141
This isn't my area, but I believe in general serialization mechanisms have built in knowledge of some basic types like common collections, and require help to serialize others either by annotation (not applicable here) or some kind of converter. Binary formatter (which is what is discussed above) was a bit special because it used private implementation details of the types, which was part of what

[2019-07-24 17:13] stephentoub commented on #39729
Failed again here:
https://github.com/dotnet/corefx/pull/39731/checks?check_run_id=176365201

cc: @geoffkizer

[2019-07-24 17:14] wtgodbe commented on #39611
@tannergooding is https://github.com/dotnet/corefx/tree/master/src/System.Numerics.Tensors also experimental?

[2019-07-24 17:18] Jasdo commented on #30141
Thank you for the quick response.
Actually I'm interested in an answer for the last question - What is the usual recommended approach for de/serializing .NET objects to go over gRPC?

[2019-07-24 17:27] bartdesmet commented on #39733
Possible duplicate at https://github.com/dotnet/corefx/issues/37580 with a similar discussion on nullable behavior.

For better or for worse, the behavior of LINQ operators has been influenced by SQL semantics where NULL values are ignored for these types of aggregates. This makes partial local evaluation of a LINQ query over a SQL data source consistent with a full remote execution, e.g.

[code]

[2019-07-24 17:31] danmosemsft commented on #38858
https://github.com/dotnet/dotnet-buildtools-prereqs-docker/pull/157#issuecomment-514397691

[2019-07-24 17:34] safern commented on #38858
@ViktorHofer put up a PR to update it :smile: https://github.com/dotnet/corefx/pull/39734

[2019-07-24 17:35] danmosemsft commented on #39721
@adam-booth someone will have to investigate, but obviously if this one test is blocking you then you can comment it out locally. Although, I would not expect to block other tests from running.

[2019-07-24 17:39] danmosemsft commented on #39732
@abelykh0 is it possible for you to get a stack backtrace?

[2019-07-24 17:42] Joelius300 opened #39735 "Globally ignore null values for all properties and subclasses (without JsonSerializerOptions)"
Because [IJSRuntime won't support customizable serialization](https://github.com/aspnet/AspNetCore/issues/11954) there is currently no way of using `JsonSerializerOptions` with `IgnoreNullValues = true`. This seems like a functionality which shouldn't be missing as it leads to dead-ends really fast - but sadly [the AspNetCore-team has confirmed that this is not planned and won't be added](https://

[2019-07-24 17:43] rillig commented on #39679
Partly. The [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.rngcryptoserviceprovider?view=netcore-3.0) is still bloated. The documentation still needs to be adjusted to use this shiny new API. Having bloated code in the API documentation makes the API team look bad for no reason.

[2019-07-24 17:47] josalem commented on #39431
@johnduhart , while you are building the repro, could you please validate that the change in dotnet/coreclr#25844 fixes the issue you saw originally?

[2019-07-24 17:56] danmosemsft commented on #39679
@bartonjs is going through our API docs I believe.

[2019-07-24 17:57] danmosemsft commented on #39679
But @rillig you can just offer a PR : https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Security.Cryptography/RNGCryptoServiceProvider.xml

[2019-07-24 18:08] jcouv commented on #39717
This looks like the bug we had for a short time where we would decode value types incorrectly. I think PR https://github.com/dotnet/roslyn/pull/36784 was the fix (in 16.3p1). @cston can confirm

[2019-07-24 18:27] Doggie52 opened #39736 "Serializing List<object>'s yields empty output"
Hopefully a simple test case comparing `System.Text.Json` with `Newtonsoft.Json`:

[code]

Why does `test1` yield `[{}]` whilst `test2` yields (the expected) `[{"Name":"Test","Bars":[{"Location":"Somewhere"}]}]` ? Am I missing something crucial here?

[2019-07-24 18:38] tannergooding commented on #39611
Yes, as per the e-mail thread, `System.Numerics.Tensors` is an experimental package.

[2019-07-24 18:49] weitzhandler commented on #34905
Any workarounds?
How can we avoid that exception on a development machine?
Since I'm working on a tenant app, I'm using fake full URLs configured in the hosts file.

I'm using IdentityServer4 to generate JWT tokens, when trying to access resources, I get the exception.

[2019-07-24 18:49] abelykh0 commented on #39732
Please let me know how to do it, I will provide it.

[2019-07-24 19:12] abelykh0 commented on #39732
I tried to run the .exe file and surprisingly, it runs correctly, only `dotnet` command fails.

[code]

[2019-07-24 19:23] scalablecory commented on #39732
Is "smtp.example.com" a valid smtp server?

[2019-07-24 19:39] abelykh0 commented on #39732
No

[2019-07-24 19:40] abelykh0 commented on #39732
I tried this on Red Hat Linux, it works fine. Maybe it is because openSUSE is on WSL. However, 2.2 or preview 6 works fine on it.

[2019-07-24 19:40] LoganGirard commented on #39736
I'm having this same issue where any nested object yields empty while deserializing as well. I'm on preview 6 on .net core 3

[2019-07-24 19:44] abelykh0 commented on #39732
This is what I get on Red Hat:
[code]

This is what I get on openSUSE:
[code]

[2019-07-24 20:08] krwq commented on #35722
I know System.IO.Ports is not supported in Linux yet but was curious to see how this Serial device was being reported.

We actually do support it (only 3.0 preview)

I don't think so but we should still try running tests and investigate if everything looks as expected

For Linux, by default UART (or rather USART) on PI will be used by login shell and therefore it will interfere with standard usage

[2019-07-24 20:20] Joelius300 opened #39741 "JsonConverterAttribute cannot be applied to an Enum"
Since I'm trying to migrate from `Newtonsoft.Json` to the new `System.Text.Json` APIs, I have to be able to use a Enum-string converter.

In json.net you can do this really easily with this attribute on the enum.
[code]

Since there is both a [JsonConverterAttribute](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.serialization.jsonconverterattribute?view=netcore-3.0) and a [JsonStrin

[2019-07-24 20:41] cston commented on #39717
Yes, this looks like the issue fixed in https://github.com/dotnet/roslyn/pull/36784.

[2019-07-24 20:54] stephentoub commented on #39717
Thanks

[2019-07-24 20:54] #39717 closed

[2019-07-24 21:29] tonyredondo opened #39746 "NullReferenceException in Regex.Replace"
The following code works when the project is targeting `netcoreapp2.2` framework, but fails with a **`NullReferenceException`** in `netcoreapp3.0` preview7.

[code]
![image](https://user-images.githubusercontent.com/69803/61830151-c10afd00-ae6a-11e9-8daf-81bf6edc05cf.png)

[2019-07-24 21:46] ViktorHofer commented on #18098
Closing as we don't build uapaot anymore in master.

[2019-07-24 21:46] #18098 closed

[2019-07-24 21:48] ViktorHofer commented on #15936
A possible solution for this is tracked in https://github.com/dotnet/core-setup/issues/4809

[2019-07-24 21:49] ViktorHofer commented on #15736
I'm surprised that this still applies as our native build isn't incremental.

[2019-07-24 21:51] ViktorHofer commented on #19781
@wtgodbe is this still todo?

[2019-07-24 21:54] ViktorHofer commented on #29224
As repositories currently use different versions of clang it might make sense to clean that up post 3.0 before any major cross-repo work starts.

[2019-07-24 21:55] ViktorHofer commented on #29412
Closing as we don't publish a package for CoreFx.Private.TestUtilities anymore.

[2019-07-24 21:55] #29412 closed

[2019-07-24 21:58] wtgodbe commented on #19781
No, this can be closed

[2019-07-24 21:58] #19781 closed

[2019-07-24 21:58] ViktorHofer commented on #30728
Closing as I scanned through most libraries when I trimmed the netfx configurations. I don't think that we are currently missing test configurations which aren't tracked by an individual issue.

[2019-07-24 21:58] #30728 closed

[2019-07-24 22:00] ViktorHofer commented on #31884
@wtgodbe what's with this one? any remaining work necessary to do?

[2019-07-24 22:03] dagood commented on #15736
Huh, it always has been in my experience, and it is currently in Core-Setup at least.

[2019-07-24 22:05] wtgodbe commented on #31884
Looks to be the same as https://github.com/dotnet/corefx/issues/38545, which was closed as no-repro. CC @tommcdon @vonders in case there is anything more there, but I believe we can close this as well.

[2019-07-24 22:06] ViktorHofer commented on #33643
@joperezr can you please help me out here and explain what the action item here is?

[2019-07-24 22:07] marcmarcet commented on #39741
I was able to do configure this globally in asp.net core without using attributes like this:

[code]

I supose you should be able to do the same passing the same options to your JsonSerializer

[2019-07-24 22:14] ViktorHofer commented on #38075
I think we should instead remove our custom logic and use what arcade offers: https://github.com/dotnet/roslyn/blob/d81dbb45a446c62e0e8fb8e78dbd45a50986453a/eng/common/tools.ps1#L301-L315

Additionally, in an ideal world we would not have any VS dependencies at all: https://github.com/dotnet/arcade/issues/64

[2019-07-24 22:16] ViktorHofer commented on #38988
Closing as currently not supported and we haven't heard back for a month now.

[2019-07-24 22:16] #38988 closed

[2019-07-24 22:18] ViktorHofer commented on #39114
@vcsjones would you want us to help scout Catalina? Would be great if you could submit a PR with the pragma ignores.

[2019-07-24 22:26] StephenBonikowsky commented on #31720
There is a workaround for this problem, see the full discussion on [stackoverflow](https://stackoverflow.com/questions/3377036/how-can-i-xml-serialize-a-datetimeoffset-property) ...

[code]

This is definitely a bug we would like to fix, the fact that it also exists on the full framework complicates matters a bit since it is now much more difficulty to get bug fixes approved for full framework pos

[2019-07-24 22:44] kdawg1406 opened #39749 "DataAnnotations Missing RuleSet Feature Common To Most Other Validation Frameworks"
The DataAnnotations library is missing the RuleSet feature common to most other validation frameworks.

The proposal can be accomplished WITHOUT ANY BREAKING CHANGES.

The RuleSet feature provides the following:
- ability to skip a validation rule based on the state of the object
- ability to run a validation rule based on the state of the object

YouTube video that describes the problem and solut

[2019-07-24 22:50] #39089 closed

[2019-07-24 22:50] StephenBonikowsky commented on #39089
Issue moved to [dotnet/wcf #3768](https://github.com/dotnet/wcf/issues/3768) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-24 22:51] danmosemsft commented on #39746
My guess - the GetEnvironmentVariable is returning null. Looking at the code, StringBuilder will allow you to append a null string (it ignores it) but ValueStringBuilder does not.

[2019-07-24 22:58] danmosemsft commented on #39746
Similar for Insert, VSB does not accept null but SB does. So either Regex (and anyone else who changed to VSB) should check for null before calling, or VSB should match SB semantics here. I suggest the latter as the cost is negligible and it avoids other cases of this error.

cc @stephentoub

[2019-07-24 23:15] stephentoub commented on #39746
Based on what? We use VSB in some fairly time sensitive code.

[2019-07-24 23:32] weitzhandler commented on #22986
Related: #39749

[2019-07-24 23:34] danmosemsft commented on #39746
Based on the fact its just a null check, but sure, there's places even that is measurable. Your preference?

[2019-07-24 23:37] vcsjones commented on #39114
@ViktorHofer sure! Will submit some changes soon.

[2019-07-24 23:49] Joelius300 commented on #39741
I tried that. These options won't get used globally when using `JsonSerializer` (which is very understandable) but also won't get used when using `IJSRuntime` (which is not at all understandable).
I need a way of ignoring null values for `IJSRuntime` which uses `System.Text.Json` and does not expose any possibility to define options or customize the serializer. The first thought would be one of th

[2019-07-25 02:15] stephentoub commented on #39746
If that's actually the issue...

Either do the null check at each call site where a null is possible, or add a Regex-specific method to VSB (ala https://github.com/dotnet/corefx/blob/master/src/System.Text.RegularExpressions/src/System/Text/ValueStringBuilder.Reverse.cs) that does the null check as well and then use that instead.

[2019-07-25 02:22] djl394922860 commented on #23518
the same case with me on windows , httpclient( System.Net.Http.WinHttpHandler fix http2 problem ) work with X509Certificate2( apple ) will throw the same exception , so i must use jwt-token to fix it ???

[2019-07-25 03:00] ahsonkhan commented on #30141
Yep, that's correct. In the case of `IPAddress`, you would need to hook in your custom converter since it is not supported out-of-the-box within the JSON serializer.

[2019-07-25 03:01] EdiWang commented on #39445
Thanks @ahsonkhan @ericstj for the information. Preview 8 works fine.

[2019-07-25 03:08] ahsonkhan commented on #39611
We should be excluding such experimental packages from the .NET Core 3.0 docs drop and API diff:
https://docs.microsoft.com/en-us/dotnet/api/system.numerics.tensors?view=dotnet-plat-ext-3.0

Just so there is clarity, it's these three:
- System.Numerics.Tensors
- System.Runtime.Intrinsics.Experimental
- System.Utf8String.Experimental

Or are there others? They all should at least be `BlockStable`
h

[2019-07-25 03:23] ahsonkhan commented on #39736
System.Text.Json, for its first release doesn't support serializing/deserializing fields.

If you change your Foo object to have public properties, it should work as expected.

[code]

See https://github.com/dotnet/corefx/issues/36505 / https://github.com/dotnet/corefx/pull/39254

[2019-07-25 03:26] ahsonkhan commented on #39736
@LoganGirard, does your issue fall in the same category? If not, can you provide a simplified repro of the issue?

[2019-07-25 04:25] NextTurn commented on #34578
Reopening due to milestone changes. :) Is this under consideration now?

[2019-07-25 06:26] saitejaprattipati commented on #32976
Hi i am new to docker can you please tell me how to add .crt file in docker linux container.

[2019-07-25 07:47] adamsitnik commented on #39540
I've rerun this benchmark for a few more hardware configurations:

<details>

## System.Collections.Tests.Perf_BitArray.BitArrayBoolArrayCtor(Size: 512)

| Conclusion |    Base |    Diff | Base/Diff | Modality | Operating System     | Arch  | Processor Name                              | Base Runtime    | Diff Runtime                     |
| ---------- | -------:| -------:| ---------:| -------- |

[2019-07-25 08:17] karelz commented on #34578
No, milestone was set to reflect WHEN it was closed. Closing again.

[2019-07-25 08:17] #34578 closed

[2019-07-25 08:21] aiba7339 opened #39755 "TypedTableBase Constructor"
I'm using Visual Studio 2017 C# and created some DataTables in a DataSet.
There are some codes generated by VS and some of them are TypedTableBase construcotrs.
They are in a DataSet.Designer.cs file and two constructors are defined.
The one is below.
They refers DataSet object in given DataTable, however, DataSet object is always null when I run my codes, so I catch a null reference exception whe

[2019-07-25 08:38] aiba7339 commented on #39755
It doesn't work correctly just commenting out "if" sentences.

[2019-07-25 08:40] goyzhang opened #39756 "SerializeToUtf8Bytes does not support non-english characters"
System.Text.Json.JsonSerializer.SerializeToUtf8Bytes
Based on the [existing test](https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/tests/Serialization/Value.WriteTests.cs):
[code]
Only the first test can pass. The output byte array is not identical to what we would get from `Encoding.UTF8.GetBytes`

[2019-07-25 09:26] ViktorHofer commented on #39650
Duplicate test cases are fully addressed. The remaining warnings are because of https://github.com/xunit/visualstudio.xunit/issues/161. Closing in favor of that issue.

[2019-07-25 09:26] #39650 closed

[2019-07-25 10:09] Tornhoof commented on #39756
It just encodes non-ascii symbols explicitly, like \u1234. Your test case just works for ascii cases.

[2019-07-25 10:18] PRIMETSS commented on #18023
Hi , Did you end up submitting PR for your test? As I cant find it so far?

[2019-07-25 10:49] zoeysaurusrex commented on #39697
I’ll grab 2005 today

[2019-07-25 10:50] stephentoub commented on #39650
Not quite. I suppressed the analyzer in a bunch of cases where it was wrong, in particular it looked like where it couldn't tell the difference between values like 0.0 and -0.0.

[2019-07-25 11:05] ViktorHofer commented on #39650
Can you please open an issue in xunit?

[2019-07-25 11:19] ViktorHofer opened #39760 "Color.NonRedirectedOutputDoesUseAnsiSequences failing locally on Ubuntu 18.04 (WSL2)"
This test is failing locally on Ubuntu 18.04 with WSL2:

[code]

cc @tmds @stephentoub

[2019-07-25 11:24] stephentoub commented on #39650
I don't think it's really an xunit issue. They're considered equal even though their binary representations differ.

[2019-07-25 11:33] adamsitnik opened #39761 "Potential performance regression: Process.GetCurrentProcess() on Windows"
It looks like `Process.GetCurrentProcess()` have regressed on Windows.

[code]

It's also suprising that the method is 4 times slower on Ubuntu 18 compared to Ubuntu 16.

## System.Diagnostics.Perf_Process.GetCurrentProcess

| conclusion |   Base |   Diff | Base/Diff | Modality | Operating System     | Arch  | Processor Name                              | Base Runtime    | Diff Runtime

[2019-07-25 11:43] adamsitnik opened #39762 "Performance regression: WebUtility.UrlDecode 2.5x slower on AMD only"
For some reason, the [System.Net.Tests.Perf_WebUtility.Decode_DecodingRequired](
https://github.com/dotnet/performance/blob/7d96fd3dea66b83a0b02222e44e02e762a990c32/src/benchmarks/micro/corefx/System.Runtime.Extensions/Perf.WebUtility.cs#L13-L14) benchmark have regressed 2.5x on AMD only.

## Repro

[code]

## System.Net.Tests.Perf_WebUtility.Decode_DecodingRequired

| Conclusion |   Base |   Diff

[2019-07-25 11:49] adamsitnik opened #39763 "Performance regression: ArrayPool benchmarks 2x slower on AMD only"
For some reason, two test cases of the [System.Buffers.Tests.RentReturnArrayPoolTests](
https://github.com/dotnet/performance/blob/f5b106a4cbc8b37aba817d12bb41955349f61a83/src/benchmarks/micro/corefx/System.Buffers/ArrayPoolTests.cs#L85-L104) benchmark have regressed 2.5x on AMD only.

## Repro

[code]

## System.Buffers.Tests.RentReturnArrayPoolTests&lt;Byte&gt;.MultipleSerial(RentalSize: 4096, M

[2019-07-25 12:22] adamsitnik opened #39764 "Performance regression: FileStream.ReadByte 5-10% slower"
[code]

<details>

## System.IO.Tests.Perf_FileStream.ReadByte(BufferSize: 512, TotalSize: 200000)

| Conclusion |       Base |       Diff | Base/Diff | Modality | Operating System     | Arch  | Processor Name                              | Base Runtime    | Diff Runtime                     |
| ---------- | ----------:| ----------:| ---------:| -------- | -------------------- | ----- | -----------

[2019-07-25 13:22] danmosemsft commented on #39760
Debian 9 also
https://github.com/dotnet/corefx/issues/39721

[2019-07-25 13:32] JoelW187 opened #39767 "Blazor preview 7 and netstandard2.1 - Json.Utf8JsonWriter failed"
Just installed Core 3 preview 7 and created a test Blazor app using the default templates. When targeting the client at ".NET Standard 2.0" the application runs and works as expected. When targeting ".NET Standard 2.1" the app compiles and launches but after loading the framework libraries (mono and webassembly) the exception below is thrown and the app stops. I'm using
VS 2019 Preveiw 16.3.0 and

[2019-07-25 13:47] steveisok opened #39768 "Directory.EnumerateDirectories Hits Open File Descriptor Limit Somewhat Easily"
This was originally raised by the VS for Mac team as they were seeing the issue w/ their Angular project template.  The details of that issue and my analysis can be found in https://github.com/mono/mono/issues/15738.

The gist of the issue is that the angular project type does npm install and then they traverse the node_modules directories recursively.

[code]

Now, the argument could be made not

[2019-07-25 13:58] mababey commented on #31884
@wtgodbe that other issue sounds like it was not repro on the latest builds due to lack of specific file information, whereas _this_ issue has very specific file info and still-valid error information.  In addition, part of the problem here stems from the fact that the shipping UWP configuration does _not_ get the latest library version.  I was just able to repro again today with the same basic st

[2019-07-25 14:18] stephentoub commented on #39768
How?

[2019-07-25 14:30] mgravell commented on #39717
confirm fixed in 16.3.0

[2019-07-25 14:45] bartonjs commented on #39729
And here: https://github.com/dotnet/corefx/pull/39748/checks?check_run_id=176685328

[2019-07-25 14:57] martincostello opened #39769 "StackOverflowException calling JsonSerializer.DeserializeAsync<T>() using .NET Core 3.0 preview 7"
I've updated an application targeting ASP.NET Core 3.0 preview 6 that used Netwonsoft.Json to deserialize JSON from HTTP calls to preview 7.

After upgrading the application successfully to preview 7 with all tests passing, I proceeded to update it to use System.Text.Json instead of Newtonsoft.Json. However, with these changes made the tests fail because `dotnet test` terminates with a `StackOverf

[2019-07-25 15:55] ajcvickers commented on #35559
@danielmeza I think we would take a good PR for this, assuming it is non-breaking. However, keep in mind that any PR at this time won't make it into the 3.0 release.

[2019-07-25 16:08] iron9light opened #39770 "Strange InvalidCastException of System.Text.Json for 3.0 preview7 only"
https://github.com/aspnet/AspNetCore/issues/12569

### Describe the bug
[code]
It will throw `InvalidCastException: Unable to cast object of type 'aspnetcorebug.Controllers.ValueB' to type 'aspnetcorebug.Controllers.ValueA'.`
by `System.Text.Json.JsonPropertyInfoNotNullable<TClass, TDeclaredProperty, TRuntimeProperty, TConverter>.OnWrite(ref WriteStackFrame current, Utf8JsonWriter writer)`

### To

[2019-07-25 16:10] danmosemsft commented on #39746
Good point about inlining. @ViktorHofer I can fix this, you're busy.

[2019-07-25 16:26] steveharter commented on #39445
@EdiWang

With the latest Preview 8 dogfood build from [core-setup release 3](https://github.com/dotnet/core-setup#daily-builds) the `/` is no longer escaped by default so it will match Json.NET for that.

However, other characters are escaped differently so there are no guarantees on compat -- e.g. Json.NET will not escape `+` while .NET Core will escape as `\u002B` for safety.

[2019-07-25 16:58] wfurt commented on #37997
I like the proposal. It seems like value 32 is used for AF_BTH (Bluetooth) on Windows and that conflicts with AF_CAN.

https://docs.microsoft.com/en-us/windows/win32/api/winsock2/nf-winsock2-socket

I will add simple mapping function as @stephentoub suggested. With that, we do not need to worry about keeping everything in sync.

[2019-07-25 17:06] wfurt commented on #34905
I don't understand your question @weitzhandler. This issue is about improving text but it will not change the behavior anyhow.
If you are failing to connect, you need to check your trust chain. Alternatively, you can can register validation delegate and process it your self.

[2019-07-25 17:09] weitzhandler commented on #34905
Yes there were issues with the certificates. I got it to work now.

[2019-07-25 17:13] weitzhandler commented on #34905
I'm deleting my previous comments (including this one) to keep this issue clean.

[2019-07-25 17:21] wfurt commented on #34407
It seems like next step is to validate with 3.0 bits and possibly identify specific fix for backport.
It also seems like there may be environmental variations and that needs to be understood. I can try  2.x to see if I can reproduce same way as @davidsh

[2019-07-25 17:24] osagga commented on #34407
if anyone facing this problem on Linux (with `openssl 1.1`), this fix (https://github.com/NuGet/Home/issues/8169#issuecomment-497591809) worked for me

[2019-07-25 17:30] osagga commented on #32224
if anyone facing this problem on Linux (with `openssl 1.1`), this fix (https://github.com/NuGet/Home/issues/8169#issuecomment-497591809) worked for me

[2019-07-25 17:31] ericstj commented on #39770
@layomia it looks like this may have been addressed in https://github.com/dotnet/corefx/commit/6005a1ed7772772e211a962141cb17dfc4e26539.  I couldn't tell if this intentionally fixed the cast or just resulted in a different codepath being hit.  Can you take a look?

[2019-07-25 17:42] wfurt commented on #34407
What do you get as output of `openssl  version -d` @osagga?

[2019-07-25 17:42] ericstj commented on #39767
@pranavkm @danroth27 should this go to blazor?  Looks like it's having trouble with Utf8JsonWriter.  It's a sealed type that implements 2 interfaces: IDisposable and IAsyncDisposable.  I'm guessing its having trouble with IAsyncDisposable.  The NETStandard implementation of System.Text.Json depends on the out-of-band definition of IAsyncDisposable, which will require the facade that forwards this

[2019-07-25 17:52] sdg002 opened #39776 "Difference in System.drawing.common.dll in the Bin\Debug\netcoreapp2.1 vs Publish folder"
### Environment
VS2017
.NET Core console application
Windows 10, 64 bit

### Steps to reproduce - .NET Core EXE

1. Create a .NET Core Console project  (v2.1)
2. Add reference to System.drawing.dll nuget package
3. Edit the CSPROJ and add

`<CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies> `

4. Do a Build
5. Do a Publish, target runtime **win-x64**
6. Note down the size of System.dr

[2019-07-25 18:00] ericstj commented on #39767
Chatted with @danroth27 and he mentioned that this could be due to mono lagging in netstandard2.1 support.  I can imagine that if they were missing a typeforward in netstandard.dll for IAsyncDisposable this could happen.

[2019-07-25 18:02] ericstj commented on #39756
I believe it is by-design that SerializeToUtf8Bytes will do escaping that's more than just plain encoding.
@ahsonkhan is that correct?

[2019-07-25 18:17] stephentoub commented on #39694
Again here:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39773~2Fmerge/test~2Ffunctional~2Fcli~2F~2F/20190725.26/workItem/System.Threading.Tests/analysis/xunit/System.Threading.Tests.MutexTests~2FAbandonExisting(name:%20%5C%22Global%5C%5C%5C%5Cbe02762bd1f34588b038d8651d574a4c%5C%22,%20waitType:%20WaitAny,%20waitCount:%203,%20notAbandonedW)

[2019-07-25 18:17] osagga commented on #34407
I've updated my openssl manually to `OpenSSL 1.1.1a  20 Nov 2018` today (on `Ubuntu 19.04`) and then started noticing that all `SSL` connections in my `dotnet` app are failing. the certs mapping fix I linked above fixed it for me since the new certs folder created by the new `openssl` was just empty..

@wfurt
[code]

[2019-07-25 18:17] stephentoub opened #39780 "PostAsyncExpect100Continue_NonSuccessResponse_RequestBodyNotSent failed in CI"
[code]

cc: @geoffkizer

[2019-07-25 18:32] bartonjs commented on #34407
@osagga That suggests to me that you manually built OpenSSL from source.  Ubuntu 19.04 should already come with 1.1.1, with paths that are correct for Ubuntu. https://launchpad.net/ubuntu/+source/openssl

[2019-07-25 18:35] steveisok commented on #39768
My initial feeling is that if you prioritize handle liftetime, then you'd have to tweak this more like the old mono (and netfx) behavior, which was FindFirstFile / FindNextFile.

However, I don't know if there are other solutions / what the best ones are, so I'm seeking your input.

Assuming handle lifetime is actually an issue, what other options do we have?

[2019-07-25 18:36] danmosemsft commented on #39768
cc @JeremyKuhne

[2019-07-25 18:37] ericstj commented on #39695
/cc @Stephentoub who made the only changes to this codebase in 3.0

I am able to reproduce the same results on my dev-box.  Here's what I see:

|             Method |     Toolchain |   level |             file |         Mean |       Error |      StdDev |       Median |          Min |          Max | Ratio | RatioSD | Gen 0/1k Op | Gen 1/1k Op | Gen 2/1k Op | Allocated Memory/Op |
|-----------------

[2019-07-25 18:38] JeremyKuhne commented on #39768
We already only keep one handle open for the lifetime of the enumerator. I'm not sure what you would do here other than close and reopen the handle between every MoveNext(). That can be done, in theory, but it would be pretty painful and should be kept behind an options flag if we think we need to go that way.

A simple workaround here is to flatten the result if they want to keep the same semanti

[2019-07-25 18:41] danmosemsft commented on #39768
The mono issue above links to a workaround https://github.com/mono/monodevelop/pull/8256/files that just changes to Directory.GetFiles. I'm curious how that helps as I thought that was just sugar on top of the enumerator API.

[2019-07-25 18:42] danmosemsft commented on #39695
6ad08fec6cd1fcb7348dfe60fda775ca69476a8d looks relevant, and it changed this test also.

[2019-07-25 18:45] stephentoub commented on #39695
@ericstj, we took in a new dump of brotli: https://github.com/dotnet/corefx/pull/35172

[2019-07-25 18:48] JeremyKuhne commented on #39768
Because that effectively does ToArray() on the result, closing the enumerator.

[2019-07-25 18:48] steveisok commented on #39768
May be rusty, but isn't there an implicit ToArray there when the return type is string[]?

[2019-07-25 18:50] osagga commented on #34407
@bartonjs That's correct, I had to build `OpenSSL` from source to fix a header mapping to compile another unrelated project.

Before that `dotnet` was working just fine (I had to update to `2.2.301` to fix an `SSL` related issue, but that wasn't a problem)

[2019-07-25 18:52] stephentoub commented on #39768
Right, this is all why I don't understand what the suggestion would be for doing better.

EnumerateDirectories needs to open a handle and keep it open while enumerating; the alternative would be to open the handle, cache everything into a data structure, close the handle, and then return the data structure.  But that's exactly what GetDirectories does, and EnumerateDirectories was introduced later

[2019-07-25 19:02] rillig commented on #39679
@danmosemsft Thanks for the offer, but no. It's Microsoft's job to fix the documentation. And I don't write C#, Visual Basic and F# and assembly fluently to correct all of them. I strongly believe that these example snippets are all generated from a common template, otherwise this job would be really frustratingly boring and error-prone, and I cannot believe Microsoft is living _that far_ in the p

[2019-07-25 19:07] #39729 closed

[2019-07-25 19:12] ericstj commented on #39695
Ah, missed the native side.  Thanks for the pointer.  @saucecontrol looks like this drop may have regressed compression of the "sum" file from the Cantebury Corpus.  Is that expected?

[2019-07-25 19:15] ericstj commented on #39695
Oddly it's only Compress_WithState, here's more data that agrees with OP:

|                Method |     Toolchain |   level |             file |          Mean |          Error |         StdDev |       Median |          Min |           Max | Ratio | RatioSD | Gen 0/1k Op | Gen 1/1k Op | Gen 2/1k Op | Allocated Memory/Op |
|---------------------- |-------------- |-------- |----------------- |------

[2019-07-25 19:25] ericstj commented on #39695
Another oddity, this performance benchmark appears to be attempting to recompress already compressed data:
https://github.com/dotnet/performance/blob/099ef1b073646a7c42fdce11768e8bfc20186fe3/src/benchmarks/micro/corefx/System.IO.Compression/Brotli.cs#L21-L34
It's a Compress method, and its setting the CompressedData as the input.

@adamsitnik can you double check that I'm reading that correctly.

[2019-07-25 19:33] saucecontrol commented on #39695
@ericstj I did notice a minor perf regression between the native Brotli v1.0.5 and v1.0.7 encoders, but it wouldn't account for the difference seen here.  I agree that benchmark code look suspect.

[2019-07-25 19:38] GrabYourPitchforks commented on #39445
Since there's no `JavaScriptEncodingBehavior` enum in .NET Core 3.0, there's no remaining work left to do for this item. I've modified the original issue description to reflect this. Closing.

[2019-07-25 19:38] #39445 closed

[2019-07-25 19:42] steveisok commented on #39768
That all makes sense to me.  I'm coming from a naive place where I didn't expect the behavior to be what it is. The mono implementation used to be of the open, cache, close, return variety.

If the intent of EnumerateDirectories in corefx was to lessen overhead, then we can probably close this issue.

Separately, the VS4M team did indicate their use of GetFiles was a perf drop, but I have no other

[2019-07-25 19:44] stephentoub commented on #39768
Thanks.  Not just in corefx; that was the intent of the `Enumerate*` methods in general when they were introduced.  e.g. from the docs:
https://docs.microsoft.com/en-us/dotnet/api/system.io.directory.enumeratefiles?view=netframework-4.8

[2019-07-25 19:44] #39768 closed

[2019-07-25 19:55] ericstj commented on #39767
Duplicate of https://github.com/aspnet/AspNetCore/issues/12568.  Moving to that repo since I believe this to be a blazor (or mono) issue.

[2019-07-25 19:55] #39767 closed

[2019-07-25 20:12] geoffkizer commented on #39780
Probably a timing issue, not a product issue. The default Expect: 100-continue timeout is pretty low. I'll change the test to increase it.

[2019-07-25 20:24] #39081 closed

[2019-07-25 20:49] LoganGirard commented on #39736
My issue was having a class like:

[code]

[code]
This seems to have resolved since upgrading from preview 6 to 7.

[2019-07-25 21:44] ahsonkhan commented on #39736
Sounds good. Hence, closing.

[2019-07-25 21:44] #39736 closed

[2019-07-25 22:05] ericstj commented on #39769
Here's the callstack that's causing overflow:
[code]

Debugging to see what state is causing this cycle.

[2019-07-25 22:21] #39694 closed

[2019-07-25 22:28] nguerrera opened #39787 "Some net472 compatible packages are needed during source build"
Filing this on corefx as discussed with @ericstj, but it will spin-off issues for other repos that will need to meet the same constraint.

cc @JunTaoLuo @crummel @dseefeld

Background: For the most part, we produce a Linux/netcoreapp only output in source-build. However, the source built MSBuild SDKs (the things you get from the Sdk attribute in csproj) actually need to be compatible with mono msb

[2019-07-25 22:37] nguerrera commented on #39787
There is https://github.com/dotnet/source-build/issues/210 tracking building allConfigurations to get packages, but I'm not sure that it captures the need for netfx compatible assets in the packages as this does.

[2019-07-25 23:07] steveharter commented on #39741
This does look to be an oversight on this scenario. I'll bring up a PR soon on this and review it internally for consideration for 3.0.

cc @JeremyKuhne

[2019-07-26 00:03] reyou opened #39791 "Execute .sh (bash scripts) file via “/bin/bash” in Linux with .NET Core"
## Steps to reproduce

https://stackoverflow.com/questions/57209915/execute-sh-bash-scripts-file-via-bin-bash-in-linux-with-net-core

## Expected  behavior

make my application open a new terminal window and run sample.sh

## Actual behavior

[code]

## Environment data
OS: Linux 4.15.0-48-generic dotnet/cli#51-Ubuntu
Framework: .NET Core 4.6.27817.03
`dotnet --info` output:

[code]

[2019-07-26 00:19] AlexPaskhin opened #39792 "System.Text.Json cannot parse the Decimal literals."
Just decided to use System.Text.Json instead of Newtonsoft.Json, but found that System.Text.Json cannot parse the Decimal literals. So they are not compatible.

Here the small code example:
[code]
It works fine for "Newtonsoft.Json" but throws an exception for "System.Text.Json"

[2019-07-26 00:22] stephentoub commented on #39791
cc: @tmds

[2019-07-26 01:04] JunTaoLuo commented on #39787
From the list, I see Sdks\Microsoft.NET.Sdk.Razor\tasks\net46\Microsoft.NET.Sdk.Razor.Tasks.dll. If we need to produce that, we'll need System.Reflection.Metadata see https://github.com/dotnet/source-build/issues/1150.

[2019-07-26 01:06] scalablecory commented on #39792
Does your test fail if you remove the quoted decimal value?

Lack of support for quoted numbers is a known behavior #39473.

[2019-07-26 01:22] JunTaoLuo opened #39793 "Some packages need to be built in source build"
As part of the investigation at https://github.com/dotnet/source-build/issues/1132. We need two packages to be built by corefx in source build:

1. System.Diagnostics.EventLog
2. System.Security.Cryptography.Xml
3. System.IO.Pipelines
4. System.Security.Cryptography.Pkcs
5. System.Security.Permissions

These packages are not included in the Microsoft.NETCore.App shared framework but is included in

[2019-07-26 02:13] geoffkizer commented on #39458
Fixed by #39638

[2019-07-26 02:13] #39458 closed

[2019-07-26 02:14] geoffkizer commented on #39168
Fixed by #39638

[2019-07-26 02:14] #39168 closed

[2019-07-26 02:14] stephentoub commented on #39545
I don't think this blocks 3.0.  Pushing out.

[2019-07-26 02:19] goyzhang commented on #39756
@Tornhoof  Actually that's what I am asking about. The output is not expected and unusable. The method name `SerializeToUtf8Bytes` gives me the feeling that it would have the same output as `Encoding.UTF8.GetBytes(Newtonsoft.Json.JsonConvert.SerializeObject($"{str}"))`, not something like \u1234

[2019-07-26 02:29] geoffkizer commented on #34060
I think we addressed this as far as we want to with #39236.

[2019-07-26 02:29] #34060 closed

[2019-07-26 02:55] PRIMETSS commented on #35722
Guys I think I have something worth sharing, not sure if you want to have a look before doing a PR?

Basically after a few days of exploring about 2/3 options before hitting issues. I believe Ive got a way of connecting to USB Serial ports that are not being correctly setup a COM(x) in Reg: HKLM\HARDWARE\DEVICEMAP\SERIALCOMM

Just got to finish up how to handle duplicate ports on Win devices that

[2019-07-26 03:22] scalablecory commented on #39756
The output is definitely usable; it should be read correctly by other json libraries identically as if it were unescaped.

It defaults to escaping these characters to avoid common security issues in application code or 3rd party libraries that might implement Unicode incorrectly.

That said, we're aware it affects readability/size, and are discussing this in #38354, which also explains ways you ca

[2019-07-26 03:30] btrepp opened #39794 "System.Net.Http.HttpClient , how to use proxy? netcoreapp2.2"
How are we supposed to configure system.net.http.httpclient to use proxy's now?.
There's lots of tickets but it seems that is changed/should just work?

A client created like (F#)
[code]
Seems to only work if the proxy is specified explicitly.
I've tried "automatically detect settings" it doesn't appear to pick up the proxy.

Is it possible to use environment variables?

Windows 10, netcoreapp2.2

[2019-07-26 03:56] ahsonkhan commented on #39756
As mentioned, this is by-design, and this issue is a duplicate of others.

There are ways to workaround this issue by passing in your own `JavascriptEncoder` to the `JsonSerializerOptions` that lets you skip escaping characters that you consider over-escaped.

We have similar capability in the `Utf8JsonWriter` (via `JsonWriterOptions`).

So something like this should work:
[code]

Since `Serialize

[2019-07-26 03:56] #39756 closed

[2019-07-26 04:19] scalablecory commented on #39794
"automatically detect settings" uses DNS/DHCP to find proxy settings. Do you have this configured?

"use automatic configuration script" uses a URL to a PAC script to resolve proxies for URLs. Have you tried configuring this? If so, can you supply a copy of your PAC script?

HTTP_PROXY will be used for HTTP, HTTPS_PROXY will be used for HTTPS, and ALL_PROXY will be used for either if the other two

[2019-07-26 05:22] sujayvsarma opened #39797 "System.Text.Json - Change of namespace for JsonSerializer breaks code"
Thank you for breaking a lot of in-flight code by moving the JsonSerializer class from System.Text.Json.Serialization to System.Text.Json ! Not only that, even methods have been renamed. JsonSerializer.Parse() -> JsonSerializer.Deserialize().

Guys.. DONT do such things! It breaks in-flight code, it messes up with people that even want to give .NET Core a try.

[2019-07-26 05:23] sujayvsarma commented on #39797
In our case, code using the old namespace/methods was checked in by one developer, who then went away on vacation. Library was stable and didn't need any changes. Someone else took a dependency on that code **after** the API change and bam! shit hit the fan all across the organization. Every single dashboard went RED.

[2019-07-26 05:31] danmosemsft commented on #39746
Need to port

[2019-07-26 06:09] YairHalberstadt opened #39798 "Add WhereNotNull to help with nullability tracking"
See https://github.com/dotnet/roslyn/issues/37468

Currently the C# compiler can't track how the lambda in a `Where` method effects nullability.

For example

[code]

Warns with:

[code]

This could definitely be solved by improved compiler tooling, but doing so would be non-trivial.

A workaround would be to introduce a `WhereNotNull` method into CoreFX, so that consumers won't need to use the su

[2019-07-26 06:57] TheFanatr commented on #39797
I mean, it is a preview after all; API changes can be made without prior notice.

[2019-07-26 07:03] sujayvsarma commented on #39797
@TheFanatr I don't disagree that it is a preview. But that does not mean you can rearrange things without any thought or notice.

Even with previews, people do write real-life applications. What did you expect -- people will write mere "hello world" apps and then join you for a kumabaya?

This wouldn't have happened in the "old days".. sigh.

[2019-07-26 07:21] TheFanatr opened #39799 "System.Text.Json APIs not Synchronized with .NET Standard 2.1"
I am building a .NET Standard 2.1 library for interacting with some web API endpoints, and am using the `System.Text.Json` APIs to generate the request bodies, but after upgrading to .NET Core 3 Preview 7 with runtime `Microsoft.NETCore.App 3.0.0-preview7-27912-14` and SDK `3.0.100-preview7-012821` installed, I am having trouble referencing the library from a `netcoreapp3.0`-targeting project. It

[2019-07-26 07:27] TheFanatr commented on #39799
It turns out that the .NET Stander 2.1 library is referencing the `System.Text.Json` NuGet package, which needed to be updated to `4.6.0-preview7.19362.9`. The errors could do better at saying that one or more library dependencies need to be updated to match the platform implementation for the project, or something like that.

[2019-07-26 07:27] #39799 closed

[2019-07-26 07:49] danmosemsft opened #39800 ""dotnet test" in corefx produces no console output ever"
[code]
Note it's quiet even if tests failed. Looking at the binlog it's because dotnet test passes `/v:quiet`. If this is going to work, that should be higher verbosity.

We could probably reduce the amount of output we have historically, but it should at least have the line like `   System.Text.RegularExpressions.Tests  Total: 1452, Errors: 0, Failed: 0, Skipped: 0, Time: 10.931s` and if there's

[2019-07-26 08:15] matthew-mcginty opened #39801 "PublishSingleFile excluding appsettings not working as expected"
I'm trying to publish an app so that the publish output creates 2 files only:
App.exe
appsettings.config

App.exe should read/use the config

I have attempted this by placing this in my .proj file:
[code]
and publishing with the following:
`dotnet publish -c Release --self-contained -r win-x64 /p:PublishSingleFile=true /p:PublishTrimmed=true`

The expected 2 files are created (exe/config) but the

[2019-07-26 08:19] ViktorHofer commented on #39497
I still have no idea how this specific test could hang but the other similar Group tests don't. This might be happen when the system is on high cpu and overloaded with work? At this point I'm just guessing.

[2019-07-26 08:28] ViktorHofer commented on #39622
I'm not yet convinced that the proposed API additions would make a big change. To me it looks like this would only reduce two lines of codes in typical customer code that uses Regex. We can discuss this further as we have yet another year for 5.0 changes.

[2019-07-26 08:34] ViktorHofer commented on #39801
You can use the `runtimeconfig.json` file to set runtime switches / settings. Would that work for your use-case?

[2019-07-26 08:36] ViktorHofer commented on #39793
cc @ericstj

[2019-07-26 08:39] krwq commented on #35722
@PRIMETSS thank you - glad you got it to work! I have reviewed your commit and added some comments. Major comment is to not add a new API and re-use existing one instead and besides that there are couple of minor comments/nits. I think the approach looks reasonable overall (first of all it seems to work for you while current one doesn't)

Also you can go ahead and open draft PR

[2019-07-26 08:42] ViktorHofer commented on #39776
cc @safern

[2019-07-26 08:42] sxlvalue commented on #33115
Although the community has a lot of voices against improvement, as a new high-performance framework, the bad speed is unacceptable.

[2019-07-26 08:43] PRIMETSS commented on #35722
Thankyou, will do and get back

[2019-07-26 08:47] ViktorHofer opened #39802 "Enable yaml stages based publishing"
https://github.com/dotnet/arcade/blob/master/Documentation/YamlStagesRepoStatus.md. Target completion data is 8/13.

We need to do this sooner than later.

cc @safern @wtgodbe @ericstj

[2019-07-26 09:06] Misiu opened #39803 "Allow setting long preshutdown time in Windows Services"
[This blog post](https://devblogs.microsoft.com/aspnet/net-core-workers-as-windows-services/) describes how we can create Windows Service using .NET Core Workers.
Currently, I have several Windows Services that are responsible for converting documents.
Because the process can take a long time to complete I added a "hacky" way to change `SERVICE_PRESHUTDOWN_INFO` using `ChangeServiceConfig2` from `

[2019-07-26 09:26] AriNuer commented on #39569
Test `System.Security.Cryptography.X509Certificates.Tests.CertificateCreation.CertificateRequestUsageTests/SelfSign_RSA_UseCertKeys ` failed with same Unknown error (0xc0000001)

[code]
Details:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F~2F/20190725.76/workItem/System.Security.Cryptography.X509Certificates.Tests/analysis/xunit/Syste

[2019-07-26 09:57] JarnoNijboer commented on #39797
When you use previews, you can expect such breaking changes and you should be prepared for it when updating runtime and/or sdk to another preview release.

MS has provided the Preview 7 release with a go-live license, which you can read as "you can use it in production and call us for support".

[2019-07-26 10:13] sujayvsarma commented on #39797
@JarnoNijboer We didn't manually update anything. That's the thing. We just opened the solution and the Visual Studio system auto-updated the SDK! BOTH (the update action and the API change) were unexpected and a painful experience to go through.

[2019-07-26 10:41] JarnoNijboer commented on #39797
AFAIK updating VS is still a manual process, clicking the update button. The release notes of VS 16.3 preview release mentioned that the .net core 3.0 SDK is now included in the VS installer. The same as other .net core sdk's for 2.1 and 2.2 etc, these are also updated to latest versions when updating VS.

[2019-07-26 10:48] matthew-mcginty commented on #39801
If it can work then I wouldn't know how. Currently the app uses ConfigurationBuilder/ServiceProvider approach in my `Startup.cs` to load appsettings.json via `GetSection()`. I would not know how to read the `runtimeconfig.json` in a similar way if it's indeed possible. I don't see anything [here](https://github.com/dotnet/cli/blob/v2.0.0/Documentation/specs/runtime-configuration-file.md) which sug

[2019-07-26 11:01] ViktorHofer commented on #39801
this sounds like aspnetcore specific logic. You might want to move that issue over to https://github.com/aspnet/aspnetcore

[2019-07-26 11:45] AlexPaskhin commented on #39792
Answer on question: **If you remove the quoted decimal the test will pass.**

The exact Exception that has been thrown:
[code]
It is not expected behaviour for parsing JSON information for millons already existed REST Web API services.

No one would use System.Text.Json if there is a chance that it cannot parse that 99% of  other JSON parsers CAN.

[2019-07-26 12:02] AlexPaskhin commented on #39473
It's not expected behaviour for parsing JSON information for millons already existed REST Web API services.

No one would use System.Text.Json if there is a chance that it cannot parse that 99% of other JSON parsers CAN.

Currently, There is a big question - Who are the potential users of this "gadget"?

In the current state the "System.Text.Json" is not ready to be released as a part of 3.0.

[2019-07-26 12:46] ViktorHofer commented on #26457
Currently vstest uses this attribute to figure out under which target framework to run if no framework is passed down to vstest.console. This is the reason why VS Test Explorer doesn't work anymore with >= VS 16.2. I'm going to enable the property for test assemblies to unblock the broken Test Explorer experience. We should discuss if we should set it correctly for .NET 5.

[2019-07-26 12:47] stephentoub commented on #39798
If you write:
[code]
the compiler is already going to cache the delegate automatically.

[2019-07-26 12:50] stephentoub commented on #39798
It might be non-trivial, but there are a myriad number of places this same kind of issue shows up, and I don't think a should address each as a one-off solved by adding additional methods for each such case. My preference is to wait and see what the actual broad impact is (we don't even have LINQ annotated yet), and then ideally fine up with a holistic solution around such cases. If it turns out t

[2019-07-26 13:05] danmosemsft commented on #39800
This is dotnet test

No you cannot change verbosity after the build starts. You can log at higher importance but as you know at quiet verbosity the standard console logger will not show even high importance messages.

[2019-07-26 13:32] ViktorHofer commented on #39800
No it's not. It's just the dotnet test verb but usually when someone mentions dotnet test, he/she means vstest, which is triggered underneath.

[2019-07-26 13:38] YairHalberstadt commented on #39798
The compiler will cache one delegate per type parameter, per use site. There are likely to be hundreds of identical such delegates across a large code base - a quick search just for "x => x != null" turned up 97 in ours. It's a small benefit, but perhaps not irrelevant.

Agreed. I was just bringing this up here as a point of discussion. Hopefully the Roslyn and CoreFx teams can work something out

[2019-07-26 13:46] stephentoub commented on #39798
This is something Roslyn could have an optimization pass to consolidate if deemed impactful.  Developers shouldn't be required to manually do such consolidation by hand.

[2019-07-26 14:14] NxSoftware opened #39807 "HTTP2 connections are closed after ~2 minutes of no activity"
I've successfully been able to connect to APNS ([Apple Push Notification Service](https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html#//apple_ref/doc/uid/TP40008194-CH11-SW1)) using HTTP2 and .NET Core 3.0 Preview 7.

According to their documentation they recommend keeping the connection open for basically as long

[2019-07-26 14:14] manigandham commented on #39473
The converter option mentioned by @steveharter works great now in the .NET Core 3.0 preview-7 release. Confirmed server-side and in Blazor.

[code]

[code]

[2019-07-26 14:22] stephentoub commented on #39807
@NxSoftware, onnections default to an idle timeout of 2 minutes.  It's configurable, though.  Instead of:
[code]
try:
[code]
The former code uses `SocketsHttpHandler` under the covers, but `HttpClientHandler` doesn't expose all of the fine-grained knobs the latter does, so this just switches to using it explicitly.

[2019-07-26 14:24] manigandham commented on #36563
Now possible using the new Json converters on 3.0 preview-7

[code]

[code]

[2019-07-26 14:28] GSPP commented on #38713
Maybe it's better to throw instead of deserializing as `JsonElement`. That way the decision can still be made in the future on how to deserialize to type `object`. Now, we're locked in to `JsonElement`.

I have personally wanted to deserialize to object a few times in the past with JSON.NET. I always wanted the "obvious" deserialization to `bool` etc.

If I want to deserialize to `JsonElement` the

[2019-07-26 14:31] DaniilSokolyuk opened #39808 "[System.Text.Json] Dictionary null values are serialized as empty object ({}), KeyValuePair with null value throws error"
I played with System.Text.Json and encountered unexpected behavior, dictionary null values are serialized as empty object

[code]
I tried to serialize KeyValuePair and got an error
[code]
Using System.Text.Json version 4.6.0-preview7.19362.9, netcoreapp2.2

[2019-07-26 14:32] AlexPaskhin commented on #39473
There is one simple question,
Why I should write these converters for every type?

I know the best way -  don't use this TECHNICAL DEBT.
Who knows what else would blow up?

What are the benefits to have a problem with your working before product?

[2019-07-26 15:06] manigandham commented on #39473
@AlexPaskhin

It's not every type... this is single case with JSON not supporting large numeric types so it needs a string conversion, and [the reasoning](https://github.com/dotnet/corefx/issues/39473#issuecomment-511513328) by the team on why this isn't built-in makes sense. The converter code is right there, copy/paste if you need it, but I guess they can add it as a default converter in the pac

[2019-07-26 15:10] NxSoftware commented on #39807
Awesome, that worked like a charm. Thanks @stephentoub

[2019-07-26 15:10] #39807 closed

[2019-07-26 15:48] AlexPaskhin commented on #39473
@manigandham
Please read the title of this thread., so you will be aware that it is for every value type or other quoted types as well.
Here the thread for discussing. I don't need your workaronds. I can use Google too.

 [System.Text.Json cannot parse the Decimal literals. #39792](https://github.com/dotnet/corefx/issues/39792)

I have reverted the code already.
I don't have a problem NOT TO USE I

[2019-07-26 16:10] marcscol opened #39809 "HttpRequestMessage leaking memory"
I made a library in .netstandard 2.0 using HttpClient. I do not even have to send a message to the target endpoint to have the request content not being released.

[code]

Calling Dispose is useless. Setting to null is useless. By an weird reason, the request.Content memory is never returned to be available. If the content is huge, the system crashes in a matter of minutes by out of memory.

[2019-07-26 16:23] stephentoub opened #39810 "Stress failures due to small connection lifetime"
When I run HttpStress with:
[code]
which runs against Http.Sys and sets the connection lifetime to be 1ms so that we very frequently create new connections, I sporadically hit errors like this:
[code]
They usually come in clumps.

cc: @geoffkizer, @eiriktsarpalis

[2019-07-26 16:25] ericstj commented on #39802
Yeah, @joperezr and @safern were discussing doing this yesterday.

[2019-07-26 16:27] ericstj commented on #39787
System.Memory and System.Numerics.Vectors don't even build out of master any more, so that's going to be *challenging*.  Need to think about how to best satisfy these dependencies.

[2019-07-26 16:28] safern commented on #39802
Yeah I already started looking at this yesterday.

[2019-07-26 16:31] ericstj commented on #39793
I agree the cause of this is not the same as #39787 but the work is the likely the same.  You need some libraries that aren't part of the base shared framework in order to make source-build work.  @JunTaoLuo I see ASPNET also uses the following, do you need these too?

System.IO.Pipelines
System.Security.Cryptography.Pkcs
System.Security.Permissions

[2019-07-26 16:35] stephentoub commented on #39809
@marcscol, can you please share a complete standalone repro we can run to see the behavior you describe?

[2019-07-26 16:36] Clockwork-Muse commented on #39809
You should only need to do this:
[code]

.... are you sure you're not holding on to a reference to `dataToPost` somewhere?  That, or `methodToCall`?

[2019-07-26 16:38] nguerrera commented on #39787
As of right now, we can exclude them because we don't need WindowsDesktop SDK. But I suspect either we'll pull them in elsewhere before long or support cross-building for wpf/winforms eventually. NuGet was just looking at taking s.t.json which would pull them in and I asked them to hold off for 3.0. So yeah, we need to be prepared to build them somehow at some point not too far away.

[2019-07-26 16:54] stephentoub commented on #39810
I deleted a stale Microsoft.ASPNETCore.App preview7 folder that dotnet was binding to, and this no longer repros for me.

[2019-07-26 16:54] #39810 closed

[2019-07-26 17:19] marcscol commented on #39809
Hi Clock,
If I do not assign anything to the request.Content, the memory is cleaned-up nicely. When I assign to the content, the memory keeps rising.

[2019-07-26 17:20] marcscol commented on #39809
@stephentoub, I will upload to a repro, so you can see what's happening.

Thanks

[2019-07-26 17:20] #39741 closed

[2019-07-26 17:21] marcscol commented on #39809
@Clockwork-Muse, methodToCall is a string constant.

[2019-07-26 17:26] scalablecory commented on #39792
I understand your frustration; I too have seen many json APIs that quote their non-float numbers. Continuing discussion on #39473 is the best option to getting this changed.

It looks like there isn't a bug here, so I'm going to close the ticket. If you do believe there is still a bug when you remove the quotes around the second price, please re-open so we can take a look.

[2019-07-26 17:26] #39792 closed

[2019-07-26 17:27] krwq commented on #35722
@PRIMETSS cool, seems like now since we got a prototype of the solution we should start with doing testing on Win IoT Core (presumably you've already tried that on Windows). Might be worth to also check Win 8.1 and double check all APIs exist there.

After that next step would be to answer the questions I asked in the PR (differences in user experience)

[2019-07-26 17:42] wfurt commented on #39617
It seems like we use `poll()` under the cover to avoid `select()` limitations. I did some tracing and I see broken behavior described here: https://daniel.haxx.se/blog/2016/10/11/poll-on-mac-10-12-is-broken/

poll() system calls returns immediately with 0 and no events even if infinite (or long) time is specified.
It seems like curl project ditched Apple's poll() altogether https://github.com/curl

[2019-07-26 17:59] safern commented on #39776
Hello @sdg002 -- thanks for reporting the issue.

This is completely by design. The reason why this is by design is because `System.Drawing.Common` is runtime dependent, what this means is that we have 2 different implementations for Windows and for Unix, the reason for that is because `Graphics`, `Imaging` and other stuff are dependent to the standards of the different OS specifications, however

[2019-07-26 17:59] #39776 closed

[2019-07-26 18:00] #33643 closed

[2019-07-26 18:02] Clockwork-Muse commented on #39809
@marcscol - if `methodToCall` is a string constant, then the URI can also be a constant (you wouldn't need to create it each time).  This is unlikely to be the source of your problems, however.

[2019-07-26 18:04] karelz commented on #39762
@wtgodbe will you be able to take a look?

[2019-07-26 18:05] karelz commented on #39732
@scalablecory can you please dig deeper into it?

[2019-07-26 18:07] karelz commented on #39691
@lmolkova is it affecting 3.0? We need to understand the impact ASAP as we are kicking down more and more ...

[2019-07-26 18:09] tarekgh commented on #39801
This issue was moved to aspnet/AspNetCore#12621

[2019-07-26 18:09] #39801 closed

[2019-07-26 18:22] wfurt commented on #39732
I did quick try and I'm not able to reproduce it using OpenSuse container.

[code]

[2019-07-26 18:49] sdg002 commented on #39776
Hi @safern ,
Thank you for taking the time to look into this and patiently replying to my queries. From your response, I understand that the main application should be responsible for providing the final package references.

As per your suggestions we have to modify the main application by providing the **PackageReference**.
i.e. Potentially, for every new Plugin class library we will have to go b

[2019-07-26 18:56] lmolkova commented on #39691
this is a test bug and @stephentoub has PR to fix it (thanks @stephentoub)

[2019-07-26 19:05] JunTaoLuo commented on #39793
Ah yes, I didn't look at AspNetCore dependencies when I compiled the list. I updated the top comment.

[2019-07-26 19:09] abelykh0 commented on #39732
What about WSL?

[2019-07-26 19:28] steveharter commented on #39769
Note that ModelH and ModelL are circular, but that is (should be) supported. See also https://github.com/dotnet/corefx/issues/37313.

[2019-07-26 19:33] ericstj commented on #39769
Yeah, I was suspecting that.  To debug the best way I found was to set a breakpoint at one of the methods in above stack and set the hit-count to something high like a couple 100.  Then you can observe the cycle.  I didn't get to the bottom of where the bug is but hopefully that can help the next person pick it up.

[2019-07-26 19:33] marcscol commented on #39809
@Clockwork-Muse , It is a constant, but this method is call to reach diferent routes. But, like you said, I think this is not related to the problem I am having.

[2019-07-26 19:40] steveharter commented on #39769
I just did a quick look; I can work on a fix as soon as the utf16 encoder API work is done.

[2019-07-26 19:43] wtgodbe commented on #39762
Sure thing

[2019-07-26 19:53] liberza opened #39814 "(System.IO.Ports.SerialPort) PinChanged event never triggers on CTS state change in Linux"
I ran into trouble with the PinChanged event, where it does not get triggered when the CTS line changes state. Manually checking CTS seems to work but the event never gets triggered. I didn't see any open issues, and it's not listed in https://github.com/dotnet/corefx/issues/33146, but I noticed that this test is also marked as KnownFailure: https://github.com/dotnet/corefx/blob/master/src/System.

[2019-07-26 20:10] liberza commented on #39814
Apparently the PinChanged event in SerialStream is never called on Linux:
https://github.com/dotnet/corefx/blob/master/src/System.IO.Ports/src/System/IO/Ports/SerialStream.cs#L24

[2019-07-26 20:28] wfurt commented on #39794
I don't think the environment variable change was ported back to 2.2. That will be available only for netcoreapp3.0

cc: @davidsh to confirm

[2019-07-26 20:43] rladuca opened #39816 "ZipPackagePart.GetStreamCore crashes with NotSupportedException"
This spawned off investigations done in https://github.com/dotnet/wpf/issues/1363.

A simple reproduction in a console application can be obtained by doing:

[code]

A NotSupportedException will arise due to this code:

https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.IO.Packaging/src/System/IO/Packaging/ZipPackagePart.cs#L30-L36

The call to `SetLength` fa

[2019-07-26 20:52] geoffkizer commented on #39780
From the linked PR:

On further inspection, I think there's a real product issue here. The _expect100ContinueWaiter doesn't get created until we call SendRequestBodyAsync. It's possible we could have received the 403 response before this gets created, meaning it will never get signalled.

We need to create the 100-continue waiter in the constructor, because we can receive the 403 any time after th

[2019-07-26 20:52] tmds commented on #39791
You should set `ProcessStartInfo.FileName` to the script path. The script needs to have the x-bit set. Setting `UseShellExecute` to `false` will work on any .NET Core version. Setting it to `true` will work on 3.0+ (and some, but not all earlier versions).

[2019-07-26 21:11] rladuca commented on #39816
Note that this is breaking many different interactions with XPS documents in WPF.

[2019-07-26 21:12] tmds commented on #39505
Is there some way to reproduce this?
Can you share an strace of a minimal console app that gets stuck?

[2019-07-26 21:22] wtgodbe commented on #39762
@adamsitnik do you have an estimate of when this regression started? When was the last time you ran these benchmarks?

[2019-07-26 21:28] geoffkizer opened #39819 "HTTP2: Race between response body Dispose and request body completion"
Found during GRPC stress.

If the client finishes sending the request body at approximately the same time that it disposes the response body without reading to the end, then there's a race between sending EndStream for the request body and RST_STREAM caused by the dispose. If the RST_STREAM ends up getting sent first, then this is a protocol violation.

[2019-07-26 21:53] triynko commented on #37606
I have a class with a property that's a list type. It has default set of items in it.  When I Parse<TheType>, it MERGES the items in the array rather than loading them. This duplicates data.  With something so basic non-functioning, this library cannot be used at all.

[2019-07-26 22:03] wfurt commented on #39046
I was looking at it again and with all the new tests added for duplex, I'm not sure if this worth of keeping or fixing. Do you have any thoughts on this @geoffkizer? If you agree, we should simply delete it.

[2019-07-26 22:13] wfurt commented on #39791
note that `UseShellExecute` is NOT what Unix user may think and has nothing to do with Unix shell at all.

[2019-07-26 22:21] wfurt commented on #39721
What terminal do you use? (echo $TERM)
The color will be determined based on terminal and the test seems to make some assumptions about it's value.

[2019-07-26 22:39] wfurt commented on #39476
can you grab testResults.xml? I assume tests would pass in both cases, right?

[2019-07-26 22:42] danmosemsft commented on #38863
@ViktorHofer are you planning to do this ? Or should this be 'future'?

[2019-07-26 23:08] wfurt commented on #39324
It is likely that the git is expecting tty for interactive operation. Typically it would for example turn off terminal echo so it does not show as you type password. When running in background (like web server) , tty is not available and interactive programs do fail. This is general Unix behavior independent of  Process() class.

You may check https://git-scm.com/docs/git-credential or use somethi

[2019-07-26 23:21] krwq commented on #39324
I'd recommend playing with one of the environment variables (I couldn't see any command line switches, perhaps):

[code]

also might be better to use ArgumentList instead of Arguments on ProcessStartInfo to avoid any quote escaping issues

[2019-07-26 23:34] danmosemsft commented on #39746
Thanks @tonyredondo  for the report, you should see this fixed in 3.0 Preview 8 in not too long.

[2019-07-26 23:36] wfurt commented on #38765
this should be closed, right @tmds?

[2019-07-26 23:37] geoffkizer commented on #39046
I'm fine deleting it, but it would be good if you could look at the new tests and make sure you think they are covering everything this test is covering. If so, go ahead and delete.

[2019-07-26 23:43] #38444 closed

[2019-07-27 00:01] davidsh commented on #39794
cc: @davidsh to confirm

Those changes to use environment variables on Windows is only a .NET Core 3.0 feature.

However, if your proxy is configured using IE settings on your Windows machine, then it should be working to detect the proxy.

Please try .NET Core 3.0 (latest preview is .NET Core 3.0 Preview 7).

[2019-07-27 00:10] tonyredondo commented on #39746
Thanks to you, I’m glad to see how fast the the fix has been done. I’m gonna continue testing the preview. Meanwhile I just gonna put “?? string.Empty”, and continue porting the project I’m working on.

[2019-07-27 00:29] fngch opened #39821 "NTLM+ Negotiate dual authentication scheme in .Net Core 3.0"
Hello,
I am developing a microservice connect to sharepoint soap service by using .net core 3.0,hosted in docker(linux), and getting {System.ServiceModel.Security.MessageSecurityException: The HTTP request is unauthorized with client authentication scheme 'Ntlm'. The authentication header received from the server was 'Negotiate, NTLM', looks like sharepoint( old version not support Rest) require

[2019-07-27 00:49] tmds commented on #38765
Yes, this can be closed.

[2019-07-27 01:56] #38765 closed

[2019-07-27 02:24] #39691 closed

[2019-07-27 02:28] stephentoub opened #39823 "Outerloop X509StoreMutableTests_OSX tests failing on macOS"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39795~2Fmerge/test~2Ffunctional~2Fcli~2Fouterloop~2F/20190726.1/workItem/System.Security.Cryptography.X509Certificates.Tests

All of these tests are failing with errors like:
[code]
cc: @bartonjs

[2019-07-27 02:30] stephentoub opened #39824 "UseCallback_ValidCertificate_ExpectedValuesDuringCallback failing in CI on Win7"
Both HTTP/1.1 and HTTP/2

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39795~2Fmerge/test~2Ffunctional~2Fcli~2Fouterloop~2F/20190726.1/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_ServerCertificates_Test~2FUseCallback_ValidCertificate_ExpectedValuesDuringCallback(remoteServer:%20(BaseUri:

[2019-07-27 02:39] JamesNK commented on #39586
This is still broken.

[2019-07-27 03:34] davidsh commented on #39821
System.ServiceModel.* is WCF components.  You should open your issue in the WCF repo:
https://github.com/dotnet/wcf

[2019-07-27 03:37] Gnbrkm41 opened #39826 "Potential redundant assertion in System.Data.Common tests?"
https://github.com/dotnet/corefx/blob/8a6389529afdc0dd53d4c94fe665695ec54c21af/src/System.Data.Common/tests/System/Data/DataSetTest2.cs#L1440-L1458

what's the point of comparing two same string literals in this test? seems odd.

[2019-07-27 03:41] dehghani-mehdi commented on #35319
@StephenMolloy what should I do now? I see you closed the issue.

[2019-07-27 03:49] stephentoub commented on #39826
There's no point to them.  I put up a PR to delete them.  In the future, please feel free to just submit a PR to make such fixes.  Thanks!

[2019-07-27 03:50] stephentoub commented on #39809
Thanks.

[2019-07-27 03:55] stephentoub commented on #39814
cc: @krwq

[2019-07-27 03:55] stephentoub commented on #39816
cc: @ericstj

[2019-07-27 05:28] fawdlstty commented on #39324
No, my question is about the line of 'Username for / Password for'，why it is not print 'recv data: []'? At least the input username line is a normal input/output interaction, right?

[2019-07-27 05:59] JamesNK opened #39828 "HTTP2: The HTTP/2 server sent invalid data on the connection."
After updating to 3.0.100-preview8-013532 I got this never seen before error from the gRPC interop tests:

[code]

https://source.cloud.google.com/results/invocations/8300cd83-23bd-448f-bf2e-38a27ce64aac/targets/github%2Fgrpc%2Finterop_test/tests

The test is sending a large request (5 + 271828 bytes) and receiving a large response (5 + 314159 bytes). However from the logs it looks like the error

[2019-07-27 07:14] ViktorHofer commented on #38863
Unfortunately I wasn't able to finish this in time before my holiday. I will leave it to @ericstj.

[2019-07-27 10:17] Adam-Booth commented on #39721
xterm-256color

[2019-07-27 10:46] Joelius300 commented on #39741
Thank you @steveharter. Will this fix be available in one of the next previews and if so in which one? Or do you also do fixes that will only be released on the 3.0 stable release?

[2019-07-27 11:39] #39826 closed

[2019-07-27 11:45] jskeet commented on #37826
I'm struggling to work out whether any of these attributes has the meaning that I quite often want of "this method doesn't return (because it'll throw an exception) if the parameter was null".

For example, I'd want to be able to write:

[code]

It feels like I want a mixture of `NotNullWhen` and `DoesNotReturn`, but I can't see how to do that.

Have I missed something, or should I file a feature

[2019-07-27 11:59] svick commented on #37826
@jskeet [The LDM notes say:](https://github.com/dotnet/csharplang/blob/master/meetings/2019/LDM-2019-05-15.md#flow-attributes-1)

I think that's what you're looking for, but it does not exist (yet?).

[2019-07-27 12:14] jskeet commented on #37826
@svick: Fantastic, thanks for being more on the ball than I am.

[2019-07-27 14:25] bigboy-pdb-spam opened #39831 "XPath text() Function in SelectNode Returns First Text Node For Each Element Matched"
# Steps to reproduce

[code]

# Expected behavior

[code]

# Actual behavior

[code]

# Environment data

[code]

[2019-07-27 15:34] Gnbrkm41 commented on #39697
a couple of the xUnit2003 errors from src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/ECDsa/ECDsaTests.netcoreapp.cs slipped out somehow: L193/L216

maybe I'll just do it whilst I'm doing this.

[2019-07-27 15:44] Gnbrkm41 commented on #39697
....actually.... turns out that there's even more.

[2019-07-27 21:35] tb-mtg opened #39832 "ODBC EntityFrameworkCore database provider"
Now that ODBC is included in .Net Core 2.2 are there any plans to support this and an EntityFrameworkCore provider?

If there are no plans what would be the recommendation to implementing one or are there any known working implementations that could be used?

[2019-07-27 22:20] geoffkizer commented on #39586
Likely the same issue as #39819

[2019-07-27 22:35] geoffkizer commented on #39780
We should discuss whether we want to try to get this into 3.0 or not. If not, it should go into a servicing branch.

The impact here is that if you use Expect: 100-continue, and the server sends a 100 Continue or an early failure response, on occasion this will not trigger the request body send, due to the race above.

Instead, we'll wait for the expect timeout and then send the body. For an early

[2019-07-27 22:36] stephentoub commented on #39746
Fixed by https://github.com/dotnet/corefx/pull/39818.

[2019-07-27 22:36] #39746 closed

[2019-07-27 22:37] stephentoub commented on #39780
If it's important enough to be serviced for, we should get it into 3.0.

[2019-07-27 23:28] Varorbc commented on #33643
@ViktorHofer What is the solution to this issue?

[2019-07-27 23:55] geoffkizer commented on #39819
@eiriktsarpalis For HttpStress to try to induce this, it would try to do something like this:

Create a duplex stream, send some data, have the server send some data too but don't read it on the client, then (a) Dispose the response body and (b) immediately complete the request body.

[2019-07-28 00:31] danmosemsft commented on #39832
@divega  ?

[2019-07-28 01:48] Rodrigo-Andrade opened #39835 "HttpClient requests - improve header parsing perf (when TryAddWithoutValidation)"
Today most of the cpu time of my requests are parsing headers before sending the actual request:

![image](https://user-images.githubusercontent.com/1174384/62001171-771b5480-b0c0-11e9-85a1-e8cbcf90be93.png)

Any guidance to improve this? I'am not doing anything fancy like sending 30+ headers.

[2019-07-28 02:01] Rodrigo-Andrade commented on #39835
This is dotnetcore 3.0 preview 7

[2019-07-28 02:02] Yucked commented on #38163
I spent couple weeks trying to debug everything on my side just to be led to this issue. Any ETA on this?

[2019-07-28 02:17] danmosemsft commented on #39831
[code]
if I plug this into an XPath tester, `//text()` will give `1ab` and `2cd`. However in this case, 1, a, b, 2, c, d were created as separate text nodes. Whether in those circumstances `//text()` should return `1`, `2`, or `1ab`, `2cd`, or each one individually, I do not know. I tried it on .NET 2.0 and it gives the same result, so it has not changed in 14 years at least.

@krwq do you know?

[2019-07-28 02:49] stephentoub commented on #39835
Where do you expect the majority of CPU time to be spent?

[2019-07-28 02:54] stephentoub opened #39837 "Design mismatch between Utf8JsonWriter and ASP.NET Core's no sync IO default policy"
It seems fairly natural to create a Utf8JsonWriter around an ASP.NET Core context.Response.Body Stream, as a way of easily writing out a response JSON payload.  However, when Utf8JsonWriter is used in this manner, any WriteXx call could end up doing a synchronous Flush on the Stream, yet by default ASP.NET Core prohibits synchronous I/O on the response stream.  This mismatch would seem to make it

[2019-07-28 03:01] davidfowl commented on #39837
I didn't realize that Grow writes to the Stream...

[2019-07-28 03:37] adlich commented on #39760
I stumbled upon this issue while setting up an OS X 10.14.5 dev environment. I'm new to this codebase and toolset, but looked into w/ the goal of ruling out issues w/ my setup.

Here are my observations:
a) ConsolePal.IsOutputRedirectedCore reports true during test [1], rendering ConsolePal.WriteSetColorString a no-op
b) Notwithstanding (a), I'm afraid InterceptStreamWriter does not see these writ

[2019-07-28 03:39] davidfowl commented on #39837
You can easily switch to the `BodyWriter` and it would buffer appropriately 😄

[2019-07-28 06:10] saucecontrol commented on #39053
`Vector4.Transform` has an overload that multiplies a `Vector4` by a `Matrix4x4` if that's what you're looking for.

https://github.com/dotnet/corefx/blob/cbb62e0e6ebdb10d5b2c6badb9245b4d28120131/src/System.Numerics.Vectors/src/System/Numerics/Vector4.cs#L335-L342

[2019-07-28 06:59] Rodrigo-Andrade commented on #39835
Parsing the response i guess? Most of those headers don't need to be re-validated at each request. Today there is no mechanism for me to bypass this, at least that i know of.

[2019-07-28 07:11] Rodrigo-Andrade commented on #39835
like:
![image](https://user-images.githubusercontent.com/1174384/62003454-7e0c8c00-b0ed-11e9-90ce-9baa9016a318.png)

Why does it need to `GetAuthenticationLength`? I added it with the `TryAddWithoutValidation` method, but it seems it just delays it?

[2019-07-28 07:22] tmds commented on #39760
Some more observations:

This test wasn't running until: https://github.com/dotnet/corefx/pull/38676/files#diff-66bcacbeced67c50d82d7f4fa1a7e7b1L54 which has a comment:
[code]
Also, I'm not sure what makes the `Console.SetOut` thread-safe between tests:
https://github.com/dotnet/corefx/blob/57df8b38e4e70fc25aabe3d061cd1745cff0b26b/src/System.Console/tests/Helpers.cs#L67-L87

[2019-07-28 07:24] andriysavin opened #39839 "Utf8JsonReader: Add reading values as Stream"
Consider the following (real) scenario: a web service returns a binary content (file) of arbitrary length (up to hundreds of MB) as a base64-encoded value of a JSON property of a JSON document. With current implementation I have to read whole value into memory before I can start processing it. Needless to explain what the consequences of this are, especially related to LOH. What I'd like to have i

[2019-07-28 07:31] GSPP commented on #38765
I'm pretty sure that `Shutdown` has network consequences but unsure which.

`Close` supports various modes through `LingerState` and maybe `SetSocketOption`. All of this could be affected.

Related: https://github.com/dotnet/corefx/issues/5749

[2019-07-28 07:35] PRIMETSS opened #39840 "Build fails with 'error MSB3073' when run from folder containing a space"
**Reproduce:**
Clone corefx repo into a folder, eg d:\DATA\MY GitHub\corefx

Build FAILED Error MSB3073: when it attempts to build src\System.Runtime.CompilerServices.Unsafe\src\System.Runtime.CompilerServices.Unsafe.ilproj

`C:\Users\PaulFarrand\.nuget\packages\microsoft.net.sdk.il\5.0.0-alpha1.19373.2\targets\Microsoft.NET.Sdk.IL.targets(101,5): error MSB3073: The command "D:\DATA\My GitHub\core

[2019-07-28 09:16] divega commented on #39832
@tb-mtg,

1. The most complex parts of an EF Core provider are the ones that generate SQL, and those tend to be very specialized for the target database sever. Given this, there isn’t such thing as an ODBC EF Core provider that works with any database.

2. It should be possible to build a base EF Core provider based on Microsoft.EntityFrameworkCore.Relational that leverages System.Data.Odbc for da

[2019-07-28 12:11] TonyValenti opened #39841 "System.Threading.Channels - Concurrent Stack"
It looks like System.Thread.Channels uses a ConcurrentQueue<T> under the hood.  It would be really great it it could also use a ConcurrentStack<T>.  Are there any chances a creation parameter could be added that lets me use a stack instead?

[2019-07-28 13:17] tmds commented on #38765
@GSPP improvements were made in this PR: https://github.com/dotnet/corefx/issues/38804

[2019-07-28 13:22] tmds commented on #5749
Relates to https://github.com/dotnet/corefx/issues/37118

[2019-07-28 13:32] ericwj opened #39843 "',' is invalid after a single JSON value. Expected end of data."
I am reading a single complex object from a `FileStream` using `JsonSerializer.ReadAsync<T>(stream, options, token)` and I seriously just want the one value, but I am getting this exception.

[code]

The JSON in the file is preceded by bytes which I have skipped or already processed and it is followed by more bytes which I can skip or process separately. However I get stuck by this exception and d

[2019-07-28 13:35] ericwj commented on #39843
I have tried setting `JsonSerializerOptions.AllowTrailingCommas` but that didn't make a difference.

[2019-07-28 13:49] stephentoub commented on #39837
It's wrong to be that a) these two ctors behave differently, and b) there's no way to avoid sync I/O when using Stream.

I think Grow needs to be changed to not write or flush the underlying stream.

[2019-07-28 14:35] GSPP commented on #38596
Related: https://github.com/dotnet/corefx/issues/4961

[2019-07-28 15:20] davidfowl commented on #39837
Yea I don’t disagree, it should be possible to avoid all sync IO. I thought that was the point of having flush and flush async

[2019-07-28 18:41] krwq commented on #39814
@liberza that's possible I missed this limitation - I wrote down group of failures I observed when working on async implementation and possibly this got covered by different issue.

Possibly we could use https://stackoverflow.com/a/8952165 (ioctl + TIOCMIWAIT) or just select/poll/epoll.

Would you be interested in sending PR with the fix?

[2019-07-28 18:56] krwq commented on #39831
@bigboy-pdb-spam I think SelectNodes might have implied that it only selects in the first layer of the xml tree.

Try this instead:

[code]

[2019-07-28 19:03] krwq commented on #39324
@fawdlstty I believe this might be `/dev/tty` which does the interactive part vs `/dev/stdin` or `/dev/stdout` which mean standard input/output. Perhaps there is some way to interact with that i.e. by redirecting input/output correctly but I'm not familiar with this too much. @wfurt any thoughts?

[2019-07-28 19:57] KubaO opened #40041 "System.Xml.Serialization needs a dynamic element name for interop"
There's some awful XML out there that uses such a multitude of element names that it's infeasible to map them all out in explicit `XMLElement` attributes. Heck, such XML is usually produced with  dynamically generated names. It's a horrible practice - not to be encouraged, but we should be able to simplify the life of people who need to interoperate with such XML.

It'd be nice if we could do this

[2019-07-28 20:20] danmosemsft commented on #38195
I'm getting a timeout also
[code]

[2019-07-28 22:11] tarekgh commented on #39841
CC @stephentoub

[2019-07-28 22:11] tarekgh commented on #39841
@TonyValenti what exactly the issue you are trying to solve here?

[2019-07-28 22:18] karelz commented on #35319
@dehghani-mehdi see how he closed it - it was fixed in master (for 5.0), now there is pending PR for release/3.0 - #39822 ... reopening.

[2019-07-28 22:30] brainode opened #39844 "NullReferenceException in Hello World DateTime."
# Issue Title
I have OpenSUSE Tumbleweed with Version 2.2.401 and Commit 729b316c13.

When i trying to run Hello World sample:
[code]
I've got an error:
[code]
What's wrong?

[2019-07-28 22:45] danmosemsft commented on #39840
This line
https://github.com/dotnet/coreclr/blob/master/src/.nuget/Microsoft.NET.Sdk.IL/targets/Microsoft.NET.Sdk.IL.targets#L84
should probably be `<_IldasmCommand>"$(_IlasmDir)ildasm"</_IldasmCommand>`

You could try editing `C:\Users\PaulFarrand\.nuget\packages\microsoft.net.sdk.il\5.0.0-alpha1.19373.2\targets\Microsoft.NET.Sdk.IL.targets` to confirm this.

[2019-07-28 22:50] danmosemsft commented on #39816
[code]

[2019-07-28 23:16] scalablecory commented on #39839
`Utf8JsonReader` is resumable, allowing you to use it with `Stream`.

Once `Utf8JsonReader.Read()` returns false, save the `CurrentState` and read more from a stream. Then, create a new `Utf8JsonReader` this time passing in the previous state.

Sample here: https://github.com/scalablecory/system-text-json-samples/blob/master/json-test/JsonParser.ParseSimpleAsync.cs

[2019-07-29 00:28] PRIMETSS commented on #39840
Thanks, makes sense I couldn't find it in corefx
I did try the manual rename from console and was a bit baffled at first as couldnt get ildasm.exe to report anything back.
But just rechecked as the info you given helped.
It seems with or without the '\/' in the OUT="" option being sent to ildsam actually works! I was expecting it to return error with the extra '/' in the path, but both
[code]
Retu

[2019-07-29 02:01] allisterb commented on #26845
@mungojam @hrichardlee I've been working on a DataFrame library for .NET which implement many of the ideas in this thread and I'd appreciate some feedback when you have time:
F#: https://notebooks.azure.com/allisterb/projects/sylvester/html/Sylvester.DataFrame.ipynb
C#: https://dotnetfiddle.net/1K9tdy

[2019-07-29 02:54] davidfowl commented on #39839
Dupe of https://github.com/dotnet/corefx/issues/39655

[2019-07-29 02:56] stephentoub commented on #39780
Failed again here:
https://dev.azure.com/dnceng/public/_build/results?buildId=283773&view=ms.vss-test-web.build-test-results-tab&runId=7926860&resultId=368519&paneView=attachments
[code]

[2019-07-29 02:57] stephentoub commented on #34666
Again:
[code]

[2019-07-29 04:03] ahsonkhan commented on #39837
I am trying to think back to why Grow initially wrote to the underlying stream. It may have been to reduce buffer grows in the stream case, but I see why that can cause an issue. Let me double check and make sure there wasn't some other side effect of doing this.

Makes sense to me. I am fine with changing it.

[2019-07-29 04:35] ahsonkhan commented on #39837
Just to clarify, where is WriteXx/Grow flushing the stream? It writes to the stream, but it doesn't flush it. I understand that doing either goes against the "no sync IO policy".

[2019-07-29 04:54] TonyValenti commented on #39841
@tarekgh @stephentoub
We have a codebase that we're wanting to port to channels.  Here's what it does currently:

1. Take a large dataset (10M+ IDs)  and break it down into standardized chunks (200 elements each)
2.  The chunks are fed into a concurrent stack.
3.  We pop a chunk off the stack and feed it to a third party.
4.  Occasionally the third party will return "error" for the batch and we ge

[2019-07-29 06:35] ahsonkhan commented on #38836
Failed again here: https://github.com/dotnet/corefx/pull/39850

[code]

[2019-07-29 07:05] giorgiozoppi opened #39851 "Monad classes in C#"
Feature request: Support for some basic monads as maybe, either monads directly in the corefx.
This will enable more functional domain and concurrent domain application. Several libraries are available but it is still missing an official one.

An example possible will be:

[code]

This is a logic for email header validation.

[2019-07-29 08:05] andriysavin commented on #39839
@davidfowl I don't think this is a dup of that issue. That issue is about reading JSON **from** a stream. My issue is about reading **part** of JSON **as** a stream. Or maybe you're suggesting that while reading **from** a stream at some point (e.g. we encountered property value) a portion of that stream could be returned **as** a stream?

[2019-07-29 08:17] davidfowl commented on #39839
Ah my bad you just want to read a specific property **value** as a stream. The reader deals with buffers not streams so in its current form it wouldn't make any sense to have an API like this.

You'd need to be reading from a stream in chunks already combined with some logic to identify the beginning of the value, then you'd have to manually parse the stream to find the end. The reader can't give

[2019-07-29 08:23] andriysavin commented on #39839
@davidfowl yeah, I felt that, and this is why I was also referring to `JsonStreamReader` which is mentioned in the roadmap. Today I can implement what I need myself as you described. But if this `JsonStreamReader` is still on the roadmap, it would be nice to have this feature implemented in it out of the box.

[2019-07-29 09:04] t-l-k commented on #39627
@doboczyakos opened this as https://github.com/aspnet/AspNetWebStack/issues/252

(just joining the dots)

[2019-07-29 10:37] pawepaw commented on #5523
any update on that? i'm still facing that issue. Without calling `stringContent.Headers.ContentLength;` i'm not getting content-length header.

[2019-07-29 11:00] stephentoub commented on #39837
I meant "flush to" or "write on".

[2019-07-29 11:23] fubar-coder opened #39852 "UserPrincipal.FindByIdentity throws with InvalidCastException"
# Error message

`UserPrincipal.Current` throws the following exception:

[code]

# Test scenario

- Create an ASP.NET Core (3.0 preview 7) application
- Create an API controller
- Implement a GET method
- Publish to IIS
- Try to access API via browser (tested with IE preview and FF 68.0.1)
- Enter domain credentials into the login dialog box

Creating a simple console application is not sufficien

[2019-07-29 11:43] roji commented on #36222
@jcouv just to confirm - are you guys still planning to do any more changes in the nullability metadata? Your comment above about the changes is more recent than the closed issue it linked to.

[2019-07-29 12:19] liberza commented on #39814
For now we're going to give SerialPortStream a shot and see if it fits our needs.

If full Linux support for 3.0 is not planned, please consider updating [this page](https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#serialport-for-linux) to say ".NET Core 3.0 has limited support of System.IO.Ports.SerialPort on Linux". My takeaway from that doc was that all features in SerialP

[2019-07-29 13:02] PRIMETSS commented on #39840
Seems above has resolved those issues when building corefx with folder with a space.
But seems each 'fix' uncovers more issues later in the build.

Im stumped on this (hope last!) one '--baseline" in
[https://github.com/dotnet/corefx/blob/master/src/shims/ApiCompat.proj](https://github.com/dotnet/corefx/blob/master/src/shims/ApiCompat.proj)

Line 90++
` `
`   <Exec Command="$(_ApiCompatCommand) &q

[2019-07-29 13:42] MichaelLogutov opened #39854 "Dataflow does not process messages in parallel?"
Hello.
It seems that specifying MaxDegreeOfParallelism does not actually allows dataflow blocks to process multiple messages in parallel. Or I'm missing something?

[code]

I've tried changing MaxMessagesPerTask to 1 for both process and final block and got the same result (timeout exception).

[2019-07-29 13:51] stephentoub commented on #39841
I'm struggling to understand this part.  If you're pushing items into the concurrent stack non-concurrently with the consumer popping, then you wouldn't need a concurrent stack and could just use a stack.  If you're pushing items into the concurrent stack concurrently with the consumer popping, then you are very likely going to process items out of order already, e.g. thread 1 pushes item A then B

[2019-07-29 14:04] stephentoub commented on #39854
By default items are propagated from a block in order.  So if you block the processing of item 1 such that item 1 won't complete until item 2 has propagated, you will deadlock.  Try setting EnsureOrdered to false on your ExecutionDataflowBlockOptions.

[2019-07-29 14:09] stephentoub commented on #38836
Something is wrong here... the test name says it's testing SocketsHttpHandler, but the stack trace shows it's CurlHandler.

[2019-07-29 14:12] stephentoub commented on #38836
Nevermind, that test name wasn't related; just confusing order of output.

@ahsonkhan, why do you believe that crash is related to this issue?

[2019-07-29 14:16] danmosemsft commented on #39840
Have you made any changes other than the one I suggested?

[2019-07-29 14:23] stephentoub opened #39856 "Utf8JsonWriterTests.WriteLargeKeyOrValue tests are failing"
[code]
cc: @ahsonkhan

[2019-07-29 14:33] eiriktsarpalis commented on #39819
@geoffkizer I created such a test case, and was able to consistently reproduce a small percentage of errors with the latest nightly. Confirming however that building off latest master made all errors go away.

[2019-07-29 14:34] stephentoub commented on #39856
This was just broken by https://github.com/dotnet/corefx/commit/74d26be704117139e9ef081c9e287740fde5d002#diff-ad2e0c88c19fbbbf96791f5d54976a1bR4986.

[2019-07-29 14:41] TonyValenti commented on #39841
@stephentoub Thinking through this a little bit more, I think we have to keep certain aspects of the stack.

[2019-07-29 14:41] #39841 closed

[2019-07-29 15:08] Gnbrkm41 opened #39859 "System.Net.NameResolution.Functional.Tests have few tests that constantly fail on local machines?"
Similar: #24355, though the platform and the failure cause is different.

### Environment

  - Windows 10 Home 1903, Build 18362.239, Korean, x64
  - Intel Core i5-4570 CPU
Can't repro on my laptop (Windows 10 Pro Insider Preview, Fast ring, Build 18945, x64).

### Failing tests
[code]
All of the tests above fail with Assert.Throws not throwing:
[code]
Cloned straight from the master branch (lates

[2019-07-29 15:20] stephentoub commented on #39859
Who's your internet provider?

If you open a browser and browse to a non-existent domain, do you get a default page from your provider?

[2019-07-29 15:23] agocke commented on #36222
Nope, no more planned changes to metadata, only diagnostic adjustment.

[2019-07-29 15:35] Gnbrkm41 commented on #39859
It's a Korean provider called SK Broadband.

I don't get such a page; I could try changing my DNS resolver though.

[2019-07-29 15:38] stephentoub commented on #39859
Generally the reason you wouldn't see an exception in these cases is because your internet provider's DNS server is returning the address of some default site they own that will put up a message like "The site you requested could not be found" or something similar.  From the client's perspective, the DNS request was successful.

[2019-07-29 15:39] Gnbrkm41 commented on #39859
Oh, looks like changing the DNS provider have solved it 😶

Closing the issue. Thanks, @stephentoub!

[2019-07-29 15:39] #39859 closed

[2019-07-29 17:16] abelykh0 commented on #39732
I updated to Windows 10 Enterprise, version 1903 and the issue went away. Feel free to close it, it is no longer relevant to me.

[2019-07-29 17:23] grubioe opened #39862 "Runtime can't find COM object #1408"
Copying from WPF #[1408](https://github.com/dotnet/wpf/issues/1408), author @cbaysinger

- 3.0.0-preview8-28376-13
- Windows version: Windows version: 1809 (OS Build 17763.615)
- Does the bug reproduce also in WPF for .NET Framework 4.8?: No

**Problem description:**
At runtime a COM interface can't be created because the file can't be found as in the following error displayed in the Output window

[2019-07-29 17:32] scalablecory commented on #39839
Ah, this makes sense! `XmlReader` does have a similar feature; it may be worth doing something similar here with `JsonStreamReader`.

[2019-07-29 17:41] scalablecory commented on #39851
There's a pretty popular issue on the C# repo for this: https://github.com/dotnet/csharplang/issues/399

[2019-07-29 17:45] wfurt commented on #39324
I did quick test on centos:
[code]
The fact that the text still shows, tells me that it is not going to stdout. (it would be redirected)

and looking at the trace:
[code]

You mentioned that it works without auth  @fawdlstty Why don't you save it to $HOME/.netrc or set up github credentials. (note that the HOME can be anything and can be set within your execution.
Another alternative is to use pro

[2019-07-29 17:46] #39666 closed

[2019-07-29 17:56] roji commented on #36222
@agocke thanks for the confirmation!

[2019-07-29 18:02] joshnyce commented on #26845
@allisterb This is great. Implementing iEnumerable (making your dataframe implementation linq-friendly) sets it apart from Deedle. I haven't tried the commercial dataframe products for .NET, so I don't know if they are linq-friendly, but it looks like the implementation in corefxlab doesn't implement iEnumerable yet.

[2019-07-29 18:05] eerhardt commented on #26845
Not yet, but we plan on it - see https://github.com/eerhardt/corefxlab/commit/5cf06f4afc23a98f282a7511993e2550784ed719. I just haven't had time to submit the PR yet, but will this week.

[2019-07-29 18:06] krwq commented on #39814
@liberza created PR against docs to clarify this. Please let me know if there are any specific things which would you like to see sooner than later as it may help us with prioritization.

[2019-07-29 18:08] cybertyche commented on #26845
If there is anything I can do to contribute to this, or if you'd like me to be a reviewer on any work in this space, please let me know.

[2019-07-29 18:14] eiriktsarpalis commented on #39586
I'm able to reproduce the issue with the latest nightly. However, I'm observing a different behaviour when manually copying the latest corefx build artifacts to the framework's shared folder:

![image](https://user-images.githubusercontent.com/2813363/62070259-0bf18f80-b232-11e9-9d6b-20ff8a65e2be.png)

The client is consistently timing out at the first iteration because it's failing to establish n

[2019-07-29 18:37] danmosemsft commented on #39862
@AaronRobinsonMSFT thoughts?

[2019-07-29 18:38] danmosemsft commented on #39851
@giorgiozoppi C# language requests should go into the dotnet/csharplang repo. I don't have the power to move issues there, so I'll close this and let you decide whether to add to that existing issue or open a new one. Thanks for the suggestion!

[2019-07-29 19:02] karelz commented on #39823
@stephentoub why is it important for 3.0? Does it have higher failure rate frequency?
@wfurt can you please check out failure rate?

[2019-07-29 19:03] karelz commented on #39828
@wfurt can you please take a look?

[2019-07-29 19:04] allisterb commented on #26845
@joshnyce Thanks, I tried to address what I though were some of the shortcomings of Deedle and being able to use .NET LINQ as the main query library was one of them as .NET developers are already familiar with how LINQ works.

[2019-07-29 19:05] stephentoub commented on #39823
Understanding it is important for 3.0 because it's a failure while interacting with certificates on macOS.

If it turns out to be just a machine misconfiguration or infrastructure, obviously it can be pushed.

And once understood it can be triaged appropriately.

@bartonjs might be able to say off the top of his head what a likely cause is.

[2019-07-29 19:15] andriysavin commented on #39839
@scalablecory I guess you're talking about `ReadValueChunkAsync`, which seems to be the closest to the idea. But returning a Stream would be even better and ready to use functionality.

[2019-07-29 19:15] karelz commented on #39762
@davidsh do you think this is blocker for 3.0? I have a bit doubts.
It would be nice to understand what caused it (@wtgodbe will look at that), but it is IMO just "nice", not necessary ...

Thoughts?

[2019-07-29 19:16] allisterb commented on #26845
@cybertyche Hey thanks a lot! I guess the main thing I need help with is getting the word out. I really thing .NET developers would prefer to stay in C# or F# for doing data analysis instead of using pandas or R and I think F# + Sylvester's data frame + Azure Notebooks offers a comparable experience.

[2019-07-29 19:37] adamsitnik commented on #39762
Please keep in mind that the regression affects only AMD hardware. I suspect that some of the methods that `UrlDecode` uses internally have regressed and this is the outcome of it.

I currently don't have access to AMD machine, so please excuse me for "guessing" instead of providing an answer using a profiler.

From what I can see this method uses `Encoding.Utf8.GetBytes()` to get the utf8 represe

[2019-07-29 19:40] tannergooding commented on #39762
Yes, I can try to find some time this week (feel free to ping me if I forget 😄).

[2019-07-29 19:44] wtgodbe commented on #39762
I'll try now with an SDK containing the coreclr fix

[2019-07-29 19:45] davidsh commented on #39762
It would be nice to understand what caused it (@wtgodbe will look at that), but it is IMO just "nice", not necessary ...
Thoughts?

The networking stack (HTTP etc.) doesn't use System.Web.HttpUtility.  It uses System.Uri for "UrlEncode/Decode" operations. So, I don't think this is 3.0 blocker.

[2019-07-29 19:56] wtgodbe commented on #39762
Never mind, it just occured to me that I don't have a machine with an AMD processor 😆. @tannergooding do you?

[2019-07-29 20:00] tannergooding commented on #39762
Yes, three of them (two personal, one work). If it isn't high priority though, I will be getting to it in a few days

[2019-07-29 20:04] wtgodbe commented on #39762
Sounds good, I'll mark this for 5.0

[2019-07-29 20:05] bartonjs commented on #39823
It's mostly machine misconfiguration (the login keychain is locked because the user logged in headless, and it can't ask for a password because it's headless).

Those tests should have had a guard in place to not run if they detected the headless state, but maybe an OS change caused a mismatch between the detector code in reality.

[2019-07-29 20:10] #39856 closed

[2019-07-29 20:28] #39832 closed

[2019-07-29 20:53] karelz commented on #30691
@stephentoub I see you moved it to Future, while we had it tracking for servicing 2.1/2.2 (and 3.0). Was there new info about the scenario impact? AFAIK we had 2-3 independent customers affected.

[2019-07-29 20:55] stephentoub commented on #30691
@karelz, no one has been able to supply a repro, and I can't repro it.

[2019-07-29 21:07] MichaelLogutov commented on #39854
Thanks! It works. I must admit - this is not default behavior I was expecting. I thought that just specifying max DOP was enough to get dataflow block working in parallel. But it seems that without changing EnsureOrdered max DOP ignored and dataflow block always working in single task mode. Am I correct?

[2019-07-29 21:09] stephentoub commented on #39854
No.  An individual block will still be able to process up to DOP operations in parallel, but that's not what your test is doing.

[2019-07-29 21:25] MichaelLogutov commented on #39854
Thanks. I got it.

[2019-07-29 21:25] #39854 closed

[2019-07-29 21:26] stephentoub commented on #39854
Thanks.

[2019-07-29 22:03] geoffkizer commented on #39828
@JamesNK Code to repro?

[2019-07-29 22:11] JamesNK commented on #39828
I haven't been able to reproduce it.

[2019-07-29 22:14] wfurt commented on #39828
Is there chance this was fixed by the weekend changes?

[2019-07-29 22:16] JamesNK commented on #39828
I reran the same test on the same SDK half a dozen times and couldn't reproduce it.

Is there configuration I can add to get HttpClient to write its internal logs to the console? If I enable logging then you'll have more to go on if it happens again on the CI server.

[2019-07-29 22:20] jcouv commented on #37826
Filed https://github.com/dotnet/roslyn/issues/37544 for tracking (post C# 8).

[2019-07-29 22:31] AaronRobinsonMSFT commented on #39862
@cbaysinger This seems like an issue with the interop assembly reference. Can you try adding the `<EmbedInteropTypes>true</EmbedInteropTypes>` to the COM reference.

[code]

[2019-07-29 22:40] geoffkizer commented on #39828
There's no simple configuration switch to write log events to console. But you can add an EventListener to your app that will do it. Warning: there's a lot of log output.

You can see the code in our HttpStress app that does this. Look for the HttpEventListener class.

https://github.com/dotnet/corefx/blob/3ebfae3ed729af13e59c0525e7b794327bfd227f/src/System.Net.Http/tests/StressTests/HttpStress/St

[2019-07-29 22:53] scalablecory opened #39873 "HTTP2: failure with 0-length header strings"
0-length string literals in header names cause the HPACK decoder to fail -- it just keeps reading a header name until it exhausts the string array or until it reaches end of headers.

It's not clear what the behavior here should be... clearly a 0-length header name is odd, but the spec as far as I can tell doesn't actually disallow it. If we do disallow it, we should fail fast with a HPackExceptio

[2019-07-29 23:00] geoffkizer commented on #39586
I don't think this is the same issue. In the trace you provided, we're getting a GOAWAY from the server.

We need to investigate anyway, though. How do you repro this?

[2019-07-29 23:11] joperezr commented on #33643
@Varorbc This issue had the problem that many people were having the same type of symptoms for very different root causes, so it became hard to manage, as some solutions posted worked for some folks but not for others. Instead, what we opted with is to close this issue and have people hitting similar symptoms to log new individual issues with repro steps so we can investigate isolated cases and fi

[2019-07-30 00:03] geoffkizer commented on #39586
I was able to repro with the original code from above.

@JamesNK, am I correcting in thinking that you are not sending any request body at all here? Because it looks like we're writing the HEADERS for the second request into our buffer, but we're never flushing them because you never send any body data. So the server never receives anything and the test times out.

If you really want to just send

[2019-07-30 00:09] cbaysinger commented on #39862
Aaron,
With the change you suggested to the demo app attatched to the issue I no longer get the “File not found” error, now I am getting a null object when executing the following:
static System.Type m_objDlgType = System.Type.GetTypeFromProgID("CommonDialogClass");

However, in our application we are porting I get:
Retrieving the COM class factory for component with CLSID {5D3606BD-4763-4549-95D2

[2019-07-30 00:12] JamesNK commented on #39586
Yes. I came across this issue by accident: someone uses the gRPC client to call an address that is not implemented, and so immediately returns.

How come the first request succeeds? The hang only happens after two or three requests.

When a HTTP/2 client streaming request starts should the gRPC client always start with a FlushAsync on the stream from HttpContext?

[2019-07-30 00:20] geoffkizer commented on #39586
The first request is getting lucky, basically. We may need to flush the buffer internally for a variety of reasons. In this case, it looks like it's because we're sending a SETTINGS ACK frame for the initial SETTINGS from the server.

You only need to call FlushAsync when you want to ensure that any pending bits, including the headers themselves, are actually written out to the wire.

I assume the

[2019-07-30 00:27] stephentoub opened #39876 "DynamicTableSizeUpdate_Exceeds_Settings_Throws failing on all OSes in CI"
e.g.
[code]

[2019-07-30 00:40] JamesNK commented on #39586
Done. Bad news is a new bug shows up.

Eventually HttpClient will fail: `The HTTP/2 server reset the stream. HTTP/2 error code 'NO_ERROR' (0x0).`

[code]

[2019-07-30 00:43] JRBonnema commented on #33643
@joperezr : Did you notice that earlier six other issues were closed with a reference to this issue. So why wait for new future issues ? One can also reopen these six issues. Maybe you don't realize it, but the underlying problems causing this issue make it relatively difficult and time consuming to have  solutions that include both .Net Framework and .Net Core projects, even de facto impossible i

[2019-07-30 01:02] geoffkizer commented on #39586
Why not? RST_STREAM doesn't mean the request is over, it means the request failed. We try to report this as quickly as we can.

[2019-07-30 01:04] karelz commented on #39828
@JamesNK does it repro on older boys? That will tell us if it is likely fixes now.

[2019-07-30 01:12] karelz commented on #30691
@rmkerr was able to repro it locally. He was able to minimize the repro (to running one test massively in parallel). I asked him to transfer it to you. Did it not happen? I can check my old emails to see if I was on cc.

[2019-07-30 01:12] JamesNK commented on #39586
The server is sending RST_STREAM (NO_ERROR) because it finishes without reading the entire request body and it is telling the caller that the request is done. That doesn't feel like a failure to me.

[2019-07-30 01:35] abbotware commented on #13532
@LaterStart - I have the same use case so +1

Creating multiple exe microservices (**service fabric**) sharing a single SQL database (migration of legacy code / data)

I found it is possible on **Net Core** to share transactions/connections between ADO. and EF Core within a single process (https://docs.microsoft.com/en-us/ef/core/saving/transactions) ,

However, what options currently exist when 2

[2019-07-30 01:39] geoffkizer commented on #39586
RST_STREAM always means failure of some sort. It should not be used in non-failure scenarios. It can cause received data to be discarded and pending data to not be sent. You basically can't make any assumption about the state of the request once you receive a RST_STREAM.

If the server will send a RST_STREAM in this scenario, then you'll need to deal with it potentially being reported when you try

[2019-07-30 01:43] ahsonkhan commented on #38836
Where do you see the stack trace?

I got confused by the ordering in the output log (since it shows an error right after the skipped test: `System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_Authentication_Test.Credentials_DomainJoinedServerUsesKerberos_UseIpAddressAndHostHeader_Success [SKIP]`. I can't tell which test caused the crash from the log alone.

Should I move this a n

[2019-07-30 01:45] stephentoub commented on #38836
[code]

[2019-07-30 01:49] geoffkizer commented on #39586
Actually, I'm looking at the RFC, and there is in fact some special language around RST_STREAM with NO_ERROR specified. Somehow I had missed this.

Let me think about this a bit.

[2019-07-30 02:01] geoffkizer commented on #39586
Yeah, we have a bug here. We'll need to implement the behavior described in the RFC around RST_STREAM with NO_ERROR after EndStream. I'm looking at how to do this now, but unfortunately it's not trivial.

[2019-07-30 02:19] fawdlstty commented on #39324
I'm solving this problem by saving the credentials, but I'm just a little confused about this

[2019-07-30 02:19] #39324 closed

[2019-07-30 02:26] JamesNK commented on #39586
Ok! Just to ensure we're on the same page, this is the situation I was thinking of that isn't an error:

https://httpwg.org/specs/rfc7540.html#rfc.section.8.1

[2019-07-30 02:35] #39648 closed

[2019-07-30 02:51] stephentoub commented on #30691
@karelz, he pointed me to https://github.com/dotnet/corefx/issues/30691#issuecomment-443926134, but that's from 8 months ago, and a lot has changed since then in both the product and in the ASP.NET tests he refers to.  I tried various permutations of what he suggested and never got such a failure.

[2019-07-30 03:00] stephentoub commented on #30691
@ppekrol, have you moved to .NET Core 3.0?  If yes, are you still hitting this?

[2019-07-30 03:08] scalablecory commented on #39873
@geoffkizer @wfurt @stephentoub thoughts on behavior? Or, do you see something disallowing this in the spec?

[2019-07-30 03:44] AArnott commented on #38348
Would the discriminated unions support be helpful in non F# cases as well? I'm particularly interested in cases of deserializing protocols such as JSON-RPC, where the incoming message type may be any of a few schemas and we need to distinguish them based on a couple of properties.

[2019-07-30 03:56] MgSam commented on #39851
Erm- despite the wording of the title, I don't think he's asking for a language feature. I think he's asking for a library in the BCL. Please correct me if I'm misreading.

[2019-07-30 04:12] scalablecory commented on #39876
Did we update how exceptions are thrown some time this last week? Looks like an extra layer of `InnerException` snuck in between CI running for my PR (which passed) and me merging it.

[2019-07-30 04:34] #39640 closed

[2019-07-30 04:51] geoffkizer commented on #39586
Yep, that's the relevant passage.

[2019-07-30 04:53] geoffkizer commented on #39873
As far as I know, empty header values are perfectly legal. So we should fix this and allow them.

The best reference here is probably the HTTP/1.1 RFC. HTTP2 implicitly relies on this.

[2019-07-30 04:54] Gnbrkm41 commented on #39106
https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/tests/XmlSchema/XmlSchemaSet/TC_SchemaSet_ProhibitDTD.cs#L231
[code]

https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/tests/XmlSchema/XmlSchemaSet/TC_SchemaSet_ProhibitDTD.cs#L257
[code]

I have no idea why this is running on my local machine if this is disabled; maybe VS test explorer ignores it? 😅

[2019-07-30 04:58] aspcompiler opened #39881 "FileSystemWatcher events out of order on OSX"
macOS Sierra 10.12.6.
dotnet --version 2.2.300

When I do the following experiment:

1. Create a file.
2. Delete the file.
3. Start FileSystemWatcher.
4. Recreate the file.

I got the following events on Windows and Linux:
File created
File changed.

However, I got the following events on OSX from the same code:
File changed
File created
File deleted

Not only file created and file changed are out

[2019-07-30 04:59] geoffkizer commented on #39873
Ah wait, we're talking 0 length header *names*, not *values*?

This is not allowed. Per RFC 7230, a header name is a token, and a token must consist of at least one character.

We should obviously not hang or whatever, but we should disallow this.

[2019-07-30 06:09] PRIMETSS commented on #39840
Yes, I made that change and it helped, but a few more issue found in that same <Exec Command...?> line as above (edited)
Also a few more locations in same Targets file (above).

And then found more issues after in other scr files (above). **Which Im working through**

ps: Just did a build of coreclr (as I believe Microsoft.NET.Sdk.IL.targets' is in that Repo not CoreFX) and it too seems to have sa

[2019-07-30 06:29] karelz commented on #30691
@stephentoub would it make sense to ask someone on our team to try to sync back and repro it on older 3.0 build or on 2.2? (with Max's steps)

[2019-07-30 06:35] Gnbrkm41 opened #39883 "SqlBinary throws IndexOutOfRangeException instead of SqlNullValueException when tried to index beyond the end of the array"
https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/tests/System/Data/SqlTypes/SqlBinaryTest.cs#L92-L93

[The documents](https://docs.microsoft.com/en-gb/dotnet/api/system.data.sqltypes.sqlbinary?view=netframework-4.8) say that the indexer should throw SqlNullValueException if it is indexed past the array (`If index indicates a position beyond the end of the byte array, a SqlNullVa

[2019-07-30 06:52] LaterStart commented on #13532
@abbotware
I have implemented such workaround, resource manager backed up with sql server database for temporary data storage. I started with in memory implementation but decided to abandon it because it is too risky if you would ever use more load balanced server instances.

It can be done by catching distributed transaction exceptions for example.
I am using generic transaction middleware, both

[2019-07-30 06:58] bartelink commented on #38348
Good question @AArnott - [supporting management of a catchall case](https://github.com/jet/Jet.JsonNet.Converters/blob/f7f8204a1b9f02791bbace0a440688c68d10ce9a/src/Jet.JsonNet.Converters/UnionConverter.fs#L122) would also ideally be possible.
To call out one specific need - the json.net intrinsic F# support emits the fields as a sub-object alongside the case name; [Jet.JsonNet.Converters](https://

[2019-07-30 07:28] PRIMETSS commented on #39840
Found it

Source: corefx\src\shims\ApiCompat.proj
Modified below below
`<Exec Command="$(_ApiCompatCommand) &quot;$(_netStandard21OnlyRef)&quot;` `@&quot;$(ApiCompatResponseFile)&quot; $(_netStandard21BaselineModifer)` `&quot;$(ApiCompatNSOnlyBaselineFile)&quot;"`
`      CustomErrorRegularExpression="^[a-zA-Z]+ :"`
`      StandardOutputImportance="Low"`
`      IgnoreExitCode="true"`
`      >`

[2019-07-30 07:28] MedAnd commented on #26845
Wondering if Microsoft.Data will solve the same problems, or will we still need the 3rd party frameworks?

[2019-07-30 08:05] karelz commented on #30760
The fix will be part of 2.1.13 and 2.2.7 releases.

[2019-07-30 09:04] 3lcarry opened #39886 "Httpclient is not providing complete certificate chain on windows"
Hi,
We are facing issue when authenticate against a server expecting client certificate + intermediate certificate. The Httpclient is only sending the client certificate and the pfx file is build containing the 3 certificates

On the attached file you can see an example of the issue, using curl sample under the curl folder is possible to authenticate against the server validating the intermediate

[2019-07-30 10:16] khellang commented on #39715
If you have ASP.NET Core referenced anyway, you probably have access to the `Microsoft.AspNetCore.WebUtilities.ReasonPhrases` type and its [`GetReasonPhrase(Int32)`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.webutilities.reasonphrases.getreasonphrase) method.

[2019-07-30 11:26] honfika commented on #39715
Thanks. I don't have ASP.NET Core reference.
So that another place where this list is hardcoded in .NET source...
https://github.com/aspnet/AspNetCore/blob/425c196cba530b161b120a57af8f1dd513b96f67/src/Http/WebUtilities/src/ReasonPhrases.cs

By the way, the ASP.NET Core's list is a little bir different, ASP.NET does not contain status code 103... CoreFX does not contain 306, 418, 419.

[2019-07-30 12:01] Gnbrkm41 commented on #39883
Been noticing a few more `FIXME:` comments as well:
![image](https://user-images.githubusercontent.com/42944058/62127520-36644b00-b30d-11e9-84d0-864212583f12.png)

[2019-07-30 13:00] ppekrol commented on #30691
@stephentoub We haven't moved to 3.0 yet. We will start migration closer to the release date, probably when RC builds with hit the shelves.

I might be wrong, but I see two separate issues here that ppl submit, 1st is probably expected (Operation has timeout out) and 2nd one (the one that we have submitted) is more generic (An error occurred while sending the request).

[2019-07-30 13:04] stephentoub commented on #30691
Yes, there are multiple reasons this could occur. As you say, most are expected error conditions; that's just the nature of networking. The one you highlighted is not expected and is much more elusive.

[2019-07-30 13:09] roglainc opened #39887 "WebClient http proxy broken in .Net Core 3 Preview 7"
I am using WebClient and HttpWebRequest to call external Http APIs and is dependent on a proxy to make external calls. After upgrading to .Net Core Preview 7 I get Proxy authentication error (407). The code runs ok in .Net Core 2.1, and .Net Core 3 preview 3.

This is a snippet that
succeeds on .Net Core 2.1 & 3.0 preview 3
but fails on preview 7,
running in  Visual Studio 2019 16.2.0:

[code]

[2019-07-30 13:38] stephentoub commented on #39887
cc: @davidsh

[2019-07-30 13:43] MichaelL79 opened #39929 "BitArray.CopyTo(Array, int) seems broken"
# BitArray.CopyTo(Array, int) seems broken

When using BitArray.CopyTo() in .NET Core 3 it seems the bits are always copied to the last position of the provided array.

# General

My setup is a .NetStandard 2 class library with a method that contains a BitArray.CopyTo(Array, int). If I use this library from within a WPF application using .Net 4.7.2 everything works as expected. When I use the exac

[2019-07-30 13:44] stephentoub commented on #39797
Thank you for the feedback.

The purpose of having previews is to get feedback and react to that feedback.  For example, details from usability studies on System.Text.Json were outlined in https://github.com/dotnet/corefx/issues/39304, including feedback that led to these renames.

We appreciate your taking the time to try out the previews.  While we strive to get things right the first time, we d

[2019-07-30 13:44] #39797 closed

[2019-07-30 13:45] stephentoub commented on #39886
cc: @bartonjs

[2019-07-30 13:53] stephentoub opened #39888 "Microsoft.VisualBasic.Core test differences between .NET Framework and .NET Core"
A bunch of the FinancialTests are failing when run on netfx:
[code]

And several of the InlineDatas for the `Asc_Chr_DoubleByte` test are also failing on netfx:
[code]
cc: @cston

[2019-07-30 14:18] bigboy-pdb-spam commented on #39831
The documentation for [XmlNode.SelectNodes](https://docs.microsoft.com/en-us/dotnet/api/system.xml.xmlnode.selectnodes?view=netframework-4.8) only states: "Selects a list of nodes matching the XPath expression". I've always heard the word "descendant" used to mean an element's (or person's) children, grand children, great grand children, and so forth.

The following code shows that the descendant-

[2019-07-30 14:38] davidsh commented on #39887
@roglainc Can you give a few more details?  Is this on Windows or Linux?  I'm thinking Windows because you mentino Visual Studio 2019.

[2019-07-30 14:45] mababey commented on #31884
@wtgodbe , please re-open this issue.

[2019-07-30 15:21] danmosemsft commented on #39840
I suggest one PR per repo. Note some tools those repos use come  from the dotnet/arcade repo.

[2019-07-30 15:40] tannergooding opened #39890 "Audit the existing System.Numerics tests to validate the inputs are not all the same"
It was discovered that https://github.com/dotnet/corefx/pull/31779 introduced a regression due to the values for certain tests being the same between the LHS and RHS inputs.

We should audit the tests to ensure that they are testing unique inputs as well so that core functionality isn't missed and more regressions aren't introduced.

[2019-07-30 15:42] MarcoRossignoli commented on #39852
I can repro, some more stack
[code]
My config is IIS on Win10
I'll go on with investigation...

[2019-07-30 16:15] Tratcher opened #39891 "HttpResponseMessage.ToString should include TrailingHeaders"
HttpResponseMessage.ToString includes response headers and content headers, but not trailers.
https://github.com/dotnet/corefx/blob/da0ebf17b2c0e7e707e4555242f170e2146d98be/src/System.Net.Http/src/System/Net/Http/HttpResponseMessage.cs#L199

[code]
[code]

[2019-07-30 16:16] bartonjs commented on #39628
Since this isn't a regression, and 3.0 is now in "ask mode", moving to 5.0.  (If the fix is straightforward it can likely make 3.1)

[2019-07-30 16:50] imranbaloch opened #39892 "Unhandled exception at 0x77256214 (ntdll.dll) in My.exe: 0xC0000374: A heap has been corrupted (parameters: 0x77272378)."
I have a long-running .NET console application (4.6.1). Suddenly since fews days I am getting this error in Visual Studio,

`Unhandled exception at 0x77256214 (ntdll.dll) in My.exe: 0xC0000374: A heap has been corrupted (parameters: 0x77272378).`

Pressing F5 again, it shows me another stuck and then stuck with the same error,

`Exception thrown at 0x771B234D (ntdll.dll) in My.exe: 0xC0000005: Acc

[2019-07-30 17:07] davidsh commented on #39887
I tried to reproduce this with .NET Core 3.0 Preview 7 but I wasn't able to. I used a proxy (running on "localhost") and it was able to respond to the 407 and send back the appropriate 'Proxy-Authorization: Negotiate *base64blob*' headers to the proxy.

Have you tried running your program outside of Visual Studio?

[2019-07-30 17:07] roglainc commented on #39887
I am running Windows 10. As a workaround I reverted to .Net Core Preview 6, no problem in that version it seems. Since WebClient/HttpWebRequest fits my code pattern I have not tried HttpClient.

Summary:

OS: Windows 10
Visual studio: Visual Studio 2019 16.2.0

.Net Core 2.1:                   OK
.Net Core 3.0 Preview 3    OK
.Net Core 3.0 Preview 6    OK
.Net Core 3.0 Preview 7    Failure ( Proxy

[2019-07-30 17:16] roglainc commented on #39887
I reverted to Preview 6 before I saw your question about running outside Visual Studio. I have only tried running from Visual Studio since I'm in development right now.. Our proxy is on a central server.

[2019-07-30 17:27] davidsh commented on #39887
I just the repro using Visual Studio 2019 16.2.0.  I'm still not getting a 407 error.  It is able to send credentials to the proxy and do the request to the server.

Can you collect a Wireshark trace of this scenario? It will show what is going on and we can diagnose it further.

[2019-07-30 17:32] roglainc commented on #39887
Now I switched back to .Net Core Preview 7 and the problem reappear. Success in preview 6 and failure in preview 7.  The failure occurs when running outside Visual Studio as well. I am using x64:

Summary:
OS: Windows 10
Visual studio: Visual Studio 2019 16.2.0
Platform: .Net Core x64
Occurs outside Visual Studio as well.

.Net Core 2.1: OK
.Net Core 3.0 Preview 3 OK
.Net Core 3.0 Preview 6 OK
.Ne

[2019-07-30 17:35] davidsh commented on #39887
If you could collect Wireshark traces for both the preview 6 and preview 7 cases that would be useful. We can then compare them.

[2019-07-30 17:41] roglainc commented on #39887
I need permission to use Wireshark in my organisation. We are in timezone UTC+2 so I have to wait until tomorrow before I can have traces.

[2019-07-30 17:51] davidsh commented on #39887
Ok. Please do not post any traces that contain confidential or proprietary information. You can remove any of that info prior to posting. Or perhaps post screenshots of traces masking out confidential information.

It does sound like something is going on since your proxy scenario is working in Preview 6 but not Preview 7. But I'm not able to reproduce the problem. It could be related to something

[2019-07-30 18:16] krwq commented on #39831
ok, seems like you're right. The problem seems to be happening when internal representation has more than 1 text nodes one after another.

i.e.:

[code]

Prints:

[code]

as you can see text node "b" is omitted while "a" is visible

[2019-07-30 18:20] krwq commented on #39831
Interestingly https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System/Xml/Dom/XmlNode.cs#L68 is actually doing almost what the workaround does so presumably problem is with XPathNodeList (likely a constructor)

[2019-07-30 18:43] krwq commented on #39814
I've just ordered 2 USB/U(S)ART with CTS/RTS in case I will have time to pick it up (can't promise I will though)

[2019-07-30 18:56] jcouv commented on #37826
@jskeet @svick You can do `void M([NotNull] string? x)` today and get the effect that `[DoesNotReturnWhenNull(nameof(x))]` would presumably have.

[2019-07-30 19:33] liberza commented on #39814
@krwq as for specific things, it's mainly just the event for PinChange events, specifically the CTS case. In our use-case, the CTS line indicates the presence of a physical part of the serial circuit. DTR and RTS also need to be settable from the sender-side, but I haven't tested those under Linux yet using SerialPort. They did work under Windows though.

[2019-07-30 20:00] JeffreyZhao opened #39897 "Change to source code in CoreLib has no effect"
I'm trying to contribute to corefx since I've found a bug in System.dll.

1. I forked the project and build as documented with `build & build -buildtests -test`, which looks good as expected.
2. I searched for the test file for the class I'm going to change and find it in `System.Runtime\tests`, although the source code is in `src\Common\src\CoreLib\System`. I added some unit tests to the test fil

[2019-07-30 20:04] krwq commented on #39814
@liberza I **think** setting pins work (at least I recall some code out there) but I do not recall code for events (and you've also checked yourself it's not being called)

[2019-07-30 20:18] jlchavez opened #39898 "Delay Sign CertificateRequest with ECSDA key pair"
I've been trying to delay sign a CertificateRequest with a CA Certificate that has ECSDA Key Pair.
Since .net core has not way of loading the CertificteRequest from a CER File, I've tried BouncyCastle.NetCore 1.8.5. to load it to a CertificationRequestInfo.

The CA Certificate is stored on Windows or on a .PFX file with password.
For purposes of signing I need to build the ECSDA Private Key again,

[2019-07-30 20:48] steveharter commented on #39808
I was able to repro this (empty object instead of null); it does not repro for "value types" such as a null String, but does repro for objects.

[2019-07-30 20:59] stephentoub commented on #39897
Most of the source code for System.Private.CoreLib is mirrored to several repos.  It's for example mirrored into dotnet/corert and mono/mono so that the System.Private.CoreLibs there can share most of the implementation.  And it's mirrored into dotnet/corefx so that various corefx libraries can build this or that source file into different libraries.  However, System.Private.CoreLib itself is buil

[2019-07-30 21:03] scalablecory commented on #39851
Agreed @MgSam

[2019-07-30 21:37] #39876 closed

[2019-07-30 21:41] jskeet commented on #37826
@jcouv: Maybe it's just the brief description of the method that confuses me, but I don't see how `NotNullAttribute` would do that. This is about the input of the method rather than the output of the method. Is there any more concrete documentation on this that we could read?

[2019-07-30 21:52] wfurt commented on #39677
It should have proper value if you use .Net functions to manipulate the socket, right @scalablecory ? So the warning is about case when somebody manipulates OS handle behind our back.
In such cases more troubles can happen in general.

[2019-07-30 22:05] bartonjs commented on #39898
Okay, so there are really two questions here:

# 1) How can I export an ECDsa private key when loading from a PFX?

CNG doesn't make key export as nice as CAPI did... even if you open the PFX as exportable the key can't be exported by our API cleanly because CNG makes a distinction between "plaintext export" and "encrypted export" permissions... the Exportable bit on the PFX load only sets "encryp

[2019-07-30 22:18] Joelius300 opened #39903 "System.Text.Json.JsonSerializer doesn't correctly serialize generic super class when nested"
I'm currently trying to migrate from `Newtonsoft.Json` to `System.Text.Json`. The main reason for that is simply because [`IJSRuntime` has been migrated to `System.Text.Json`](https://github.com/aspnet/Announcements/issues/364) but this doesn't really matter for this bug.

While testing how things get serialized currently (with `System.Text.Json`) and comparing that to `Newtonsoft.Json`s output I

[2019-07-30 22:19] jcouv commented on #37826
I was wrong. `[NotNull]` does not work on by-value/`in` parameters.

The best documentation we have on nullable annotation attributes is https://github.com/dotnet/csharplang/blob/master/meetings/2019/LDM-2019-05-15.md
The doc says that `[NotNull]` only applies to outputs (returns values, `out`/`ref` parameters) and the compiler did implement that.

Verified with the following test:
[code]

[2019-07-30 22:31] wfurt commented on #38174
This failed once since on Centos7. I found 4 failures total in last 90 days.  2 OSX failures seems different: `Operation timed out [::1]:51886`

[2019-07-30 22:33] GrabYourPitchforks commented on #36133
Reactivating based on Jan's comment at https://github.com/dotnet/corefx/issues/36133#issuecomment-512053677. Thank you for the context!

[2019-07-30 22:34] wfurt commented on #38033
is there anything left on this issue or shall we close it?

[2019-07-30 22:35] jcouv commented on #37826
I'm investigating further...
I see code that should learn from post-conditions on inputs, which matches my recollection. But the behavior shown by test above shows no effect.

[code]

Will continue discussion in https://github.com/dotnet/roslyn/issues/37544

[2019-07-30 22:49] MrM40 commented on #38033
I believe it can be closed :-)

[2019-07-30 22:51] wfurt commented on #38157
you can probably grab binary from any close enough distribution or build it your self from sources @stevenruizhang. However the library is not used directly by .Net but rather by Kerberos and GSSAPI .Net depends on. Figuring out how to customize particular Linux distribution or environment is beyond  corefx.

[2019-07-30 22:51] #38157 closed

[2019-07-30 22:55] #38033 closed

[2019-07-30 22:59] jlchavez commented on #39898
Well I'm still using .net core 2.2. I'll have to try that out later.

Currently I'm trying to skip BouncyCastle at all, and trying to use the CertificateRequest from .net core to sign. Currently working good with RSA.

My scenario is for customer privacy with their own key pairs, to sign data that will be stored on database, that will be legally bound to their user, so certificate request would be

[2019-07-30 23:23] BrennanConroy opened #39904 "macOS Catalina fails in SslStream"
Using preview7 sdk
Repro:
[code]

[code]

cc @danmosemsft @bartonjs

[2019-07-30 23:25] Joelius300 opened #39905 "Allow custom JsonConverters for base-classes"
I'm currently trying to migrate from `Newtonsoft.Json` to `System.Text.Json`. The main reason for that is simply because [`IJSRuntime` has been migrated to `System.Text.Json`](https://github.com/aspnet/Announcements/issues/364) and have to update my special enums.

## Issue and solution
I have a base class called `ObjectEnum`. This class can be inherited to get an enum which has backing values of

[2019-07-30 23:42] wfurt opened #39906 "platform detections is throwing on windows.10.amd64.serverrs5.open queue"
I bump to this while looking at #38046
It keeps failing with `System.InvalidOperationException`

(jobid dd99f893-7693-4c2e-aef2-328a7ae8b538 for example)

[code]

[2019-07-30 23:44] wfurt commented on #38046
This keeps failing cross platforms for a while. Latest failure is unfortunately too long to get useful info from CI.

[2019-07-30 23:57] wfurt commented on #37622
It seems like the question was answered, right?
sctp is not coming any time soon.

[2019-07-30 23:57] #37622 closed

[2019-07-31 00:04] davidsh commented on #39904
@wfurt

[2019-07-31 00:31] bartonjs commented on #39898
If your server is the CA then it should be directly/immediately signing the request.  Then it can send the certificate bytes back to the client already signed, and the client can mate it with their own private key.  No notion of delay signing should be involved.

[2019-07-31 00:43] wfurt commented on #37370
this should be fixed by #37284 submitted on Apr 30.
All the info is now gone so it hard to know if that was part if the failing PR. I did check Kusto database and there is no other failure so I'm gonna close it for now.
Note that there are other failures with timeout, probably related to overall CI and name lookup stability.

[2019-07-31 00:43] #37370 closed

[2019-07-31 00:47] stephentoub commented on #39904
cc: @bartonjs

[2019-07-31 00:54] stephentoub commented on #30691
@karelz, if you think it will be fruitful, go for it.

[2019-07-31 00:57] scalablecory commented on #39732
Thanks for the report @abelykh0. I'm reproing this on Ubuntu WSL.

[code]

[2019-07-31 00:59] wfurt commented on #37053
ping is "normal" executable in alpine-3.9-helix-09ca40b-20190620160617 image. I think we should update test to skip if ping is link instead of checking for particular distro type.
Note that it would be nice to use `throw new SkipTestException()` so we can track it as skip in test result database. (check HTTP how it is done)

[2019-07-31 01:26] foxjazz opened #39908 "process not sharing file for RW"
https://github.com/foxjazz/TestFileReaderWriter.git

clone  run windows 10

[2019-07-31 01:39] scalablecory commented on #39732
Here's the bug:

https://github.com/dotnet/corefx/blob/175c4b7467f4da173c732f9aaf95882b3c426665/src/System.Net.Mail/src/System/Net/Mail/SmtpConnection.cs#L100-L104

If `_tcpClient.Connect()` fails, `_networkStream` is never assigned. Then, during `Abort()`, we attempt to `_networkStream.Dispose()` which throws a `NullReferenceException`.

https://github.com/dotnet/corefx/blob/175c4b7467f4da173c732

[2019-07-31 01:51] jlchavez commented on #39898
For what I understand the Certificate Request contains the public key and that the certificate request is signed by the private key, so the CA Server must receive the public key for building the certificate that would be returned with that public key, and signed with the CA Cert. I was still stucked with signing, so I wasn't able to return the certificate to mate it with it's private key.

Now I u

[2019-07-31 02:05] stephentoub commented on #39908
What is the issue you're trying to raise?

[2019-07-31 02:11] summeney opened #39909 "HttpClient send with no-ascii header value throw exception"
header value is no-ascii. we should pass.
but....

HttpConnection.cs
                     await WriteStringAsync(header.Value[0]).ConfigureAwait(false);

throw exception in WriteStringAsync

                    if ((c & 0xFF80) != 0)
                    {
                        throw new HttpRequestException(SR.net_http_request_invalid_char_encoding);
                    }

boom...............

[2019-07-31 02:29] danmosemsft commented on #39904
@buyaa-n fyi

[2019-07-31 02:30] danmosemsft commented on #39904
@bartonjs is out. Should @wfurt look first or @krwq?

[2019-07-31 04:46] cston commented on #36222
@roji, one correction to the spec: The compiler only emits `NullableContextAttribute` on method and type definitions, the compiler does not support a module-level `NullableContextAttribute`. The spec will be updated to reflect that in https://github.com/dotnet/roslyn/pull/37610.

[2019-07-31 04:48] JeffreyZhao commented on #39897
It sounds to me that the source code and unit tests have to be committed separately into different projects. Does it mean that we cannot do it with a TDD approach since all tests are in dotnet/corefx only? Could you please suggest what to do in this case? Should I create a pull request to dotnet/coreclr for the source code only, and create another one to dotnet/corefx for the test when/if it's bee

[2019-07-31 06:16] danmosemsft commented on #39906
What's the message?
"throw new InvalidOperationException($"Failed to get AppId, result was {result}.");"

[2019-07-31 06:54] scalablecory commented on #39909
While HTTP 1.1 does allow non-ascii data in headers, later revisions recommend against it and we follow this recommendation.

This is because there is no encoding defined beyond US-ASCII, and no way for a header to specify its encoding -- anything using this feature would be very fragile as every implementation might treat it differently.

[2019-07-31 07:51] MaurizioVerde opened #39911 "[HttpClient] [Serializer] HttpClient.GetJsonAsync returns an empty tuple"
In version SDK 3.0.100-preview7-012821 the GetJsonAsync extension method returns an empty tuple
To Reproduce
Steps to reproduce the behavior:

Run this code
var retValue = await Http.GetJsonAsync<(bool Success, string ErrorMessage, MyClass MyClass)>("api/MyClass/GetMyClass");
the APIController returns (true, null, MyClass)
The returned tuple from GetJsonAsync is empty (false, null, null)
In previe

[2019-07-31 10:21] roji commented on #36222
Thanks @cston!

[2019-07-31 11:07] eiriktsarpalis commented on #39911
Would you be able to provide a minimal reproducing that includes the definition of `MyClass` and the value of `content`?

[2019-07-31 11:32] unaizorrilla commented on #39886
Hi @stephentoub @bartonjs any update on this issue?

[2019-07-31 12:03] stephentoub commented on #39886
Since it was opened only yesterday? No.

[2019-07-31 12:03] roglainc commented on #39887
Now I have traces from preview 6 (ok)
![Preview6](https://user-images.githubusercontent.com/53478548/62210029-71ad5b00-b39b-11e9-8a1e-6acfd7ea07c6.PNG)
and preview7 (failure)
![Preview7](https://user-images.githubusercontent.com/53478548/62210041-77a33c00-b39b-11e9-933e-aaccc508bde3.PNG)

[2019-07-31 12:14] MaurizioVerde commented on #39911
@eiriktsarpalis here the definition of the class: it's a model on EF codefirst. all the involved entity properties are string or bool or date

    public class Seminar : ListableEntityBase
    {
        public string Name { get; set; }

        public DateTime? EventDate { get; set; }

        public DateTime? EventStartTime { get; set; }

        public DateTime? EventEndTime { get; set; }

[2019-07-31 12:39] MaurizioVerde commented on #39911
If i try to serialize through System.Text.Json manually i get this error

![image](https://user-images.githubusercontent.com/37407135/62212048-3cefd280-b3a0-11e9-992f-e2b1b980a315.png)

and this is the content
![image](https://user-images.githubusercontent.com/37407135/62212354-d4552580-b3a0-11e9-8220-a03f975e1e21.png)

[2019-07-31 13:17] stephentoub opened #39914 "Several System.Net.Http ToStrings use \r\n explicitly"
Unless it's part of the HTTP protocol, these should likely instead use Environment.NewLine.

We previously audited the whole corefx codebase for use of \r\n, but these must have slipped through or been added after.  We should again audit use of \r\n in corefx to ensure they're desired.

[2019-07-31 13:18] Grey007 opened #39915 "Authenticate .NET Core Client of SQL Server with Integrated Security from Linux Docker Container"
Hi all,

I have a core application running in a linux docker container, on a linux vm.

I need a way for my core application to connect out a SQL Server on a Windows Server (Enterprise) using Integrated Security as we're not allowed to do it via username and passwords. The only thing that sort of works is the following tutorial:
https://www.codeproject.com/Articles/1272546/Authenticate-NET-Core-Cl

[2019-07-31 13:19] #39891 closed

[2019-07-31 13:42] davidsh commented on #39909
We have some code in the HTTP protocol stack that allows for receiving headers that have non-ASCII in them (similar to browsers being lenient). But writing out headers with non-ASCII is strictly not allowed.

This follows the networking principle of "Be flexible in what you receive and strict in what you send". This helps ensure compatibility with non-compliant servers but also helps promote RFC s

[2019-07-31 13:43] davidsh commented on #39909
@summeney Thank you for your feedback on this issue. But the behavior you describe is by-design as discussed.

[2019-07-31 13:43] #39909 closed

[2019-07-31 14:01] foxjazz commented on #39908
![image](https://user-images.githubusercontent.com/867496/62218266-56c1f300-b369-11e9-90d1-718ca4ac967e.png)

This is what happens.

[2019-07-31 14:04] stephentoub commented on #39908
And why do you believe that's a bug in corefx?

[2019-07-31 14:12] foxjazz commented on #39908
I am pretty sure System.IO is part of corefx, and accessing a shared file shouldn't be an issue. But could be wrong and breaking some unpublished rule.

[2019-07-31 14:38] roglainc commented on #39887
The Proxy authentication token seems to differ between preview 6 and 7:

Preview 7:
Proxy-Authorization: Negotiate .... (56 bytes, padded with == a end and followed by CR/LF)  [Failure]

Preview 6:
Proxy-Authorization: Negotiate ... (does not see padding or any CR/LF)    [OK]

I did a quick hack to create a middle man process and injected it between the application and the proxy server to log the

[2019-07-31 14:52] bartonjs commented on #39886
It's my understanding that it doesn't matter that the entire chain is in the PFX, but that Windows TLS does the chain walk itself at the very end to decide what to put on the wire.

To ensure the intermediate(s) get sent, you could load the PFX, add the certs without a known private key to the CurrentUser\CA or LocalMachine\CA certificate store, and then use HttpClient.  The CA store is (I'm 99% s

[2019-07-31 15:08] stephentoub commented on #39908
It depends on how the file was opened and on how it's trying to be opened.

Can you please share a minimal repro (not an entire project on GitHub) that demonstrates the problem?

[2019-07-31 15:39] stephentoub commented on #39897
If the relevant code being modified is in System.Private.CoreLib, that is the case today.

No, it doesn't mean that.  You just need to build corefx with the /p:CoreCLROverridePath argument, specifying the path to your locally built coreclr; when you run the tests in corefx, you'll then be testing your local corelib.  See https://github.com/dotnet/corefx/blob/ab58ff6e649852b85fdb99b15992a2fa3a7d883

[2019-07-31 15:39] #39897 closed

[2019-07-31 15:39] dotMorten opened #39918 "Add System.Devices.* APIs to Microsoft.Windows.Compatibility pack"
The System.Devices APIs are not part of the compatibility pack, nor are these APIs open-sourced for anyone else to duplicate the functionality in this library.

Please consider adding these to the Microsoft.Windows.Compatibility NuGet package for 3.0 to reduce the API gap when moving from .NET Framework to .NET Core.

[2019-07-31 15:42] stephentoub commented on #39897
However, @JeffreyZhao, if you believe you've found a bug in corefx, it's probably best to first open an issue describing the problem, including a repro, etc.  Thanks again for your interest.

[2019-07-31 15:57] ericstj commented on #39776
You can still publish a library same as you would on desktop.  Just make sure the library targets .NETCoreApp and make sure you use the deps file when loading dependencies (similar to how desktop required .dll.config in order to deal with dependencies).  Did you try publishing your library for .NETCoreApp? /cc @vitek-karas.

[2019-07-31 15:58] joperezr commented on #39918
cc: @safern and @ericstj who have worked with the compatibility package before.

@dotMorten I believe the compatibility package is really only facades that would help reroute types from one framework to another, so for that to work here System.Devices apis that you are interested in should already be open sourced. Also, I suppose you mean `System.Device.Location` and not System.Devices?

[2019-07-31 16:01] dotMorten commented on #39918
@joperezr The DLL reference is System.Devices, and yes it mainly contains the location APIs.

Where? It's not even on referencesource.

[2019-07-31 16:06] JeffreyZhao opened #39919 "IList.Add/Insert/Set method in System.Collections.ObjectModel.Collection mistreat InvalidCastException thrown from overridable method"
I found an issue in `System.Collections.ObjectModel.Collection` class recently, that the `IList.Add/Insert/Set` methods mistreat the `InvalidCastException` thrown from overridable methods.

Use `IList.Add` as an example:

[code]

Since the `try` block also handles the exception thrown from `Add`, the `InvalidCastException` thrown from it could be mistreated as an `ArgumentException`.

The issue co

[2019-07-31 16:06] joperezr commented on #39918
From looking here https://apisof.net/catalog/System.Device.Location seems like they are in System.Device.dll version 4.0 starting from .NET 4.0

Right, sorry I didn't write what I intended. What I meant is that in order for us to include them in the compatibility pack, we first need to go an open source them and ship them for .NET Core via a NuGet package, so that needs to happen first, and then w

[2019-07-31 16:07] JeffreyZhao commented on #39897
Thanks @stephentoub, I've report the bug in issue #39919.

[2019-07-31 16:12] dotMorten commented on #39918
The ones I'm specifically interested in are the GeocoordinateWatcher and all accompanying types.
I know Win10 has similar APIs (Geolocator) but that create a hard dependency on Win10.

[2019-07-31 16:15] ericstj commented on #39911
/cc @steveharter

[2019-07-31 16:59] ericstj commented on #39439
@joperezr can you prep the PRs for this in release?  One PR that marks them stable, then a PR after that that bumps the versions.  /cc @wtgodbe

[2019-07-31 17:13] karelz commented on #39780
How much does it impact 3.0? Should we port it?
Is it test only change?

[2019-07-31 17:23] mikeTWC1984 opened #39920 "System.IO.FileStream"
# Issue Title

System.IO.FileStream - ctor with FileSystemRights is missing in  .net core

# General

This topic is mainly about IKVM. IKVM works nicely converting java 8 jars to regular .net assemblies, but project stopped in 2015.  I was playing around with IKVM and .netcore (2.2) I was able to load those assemblies, and even instantiate some objects. When  trying somewhat more practical (web cl

[2019-07-31 17:28] karelz commented on #39732
Duplicate https://github.com/dotnet/coreclr/issues/25945

[2019-07-31 17:28] #39732 closed

[2019-07-31 17:29] karelz commented on #39732
The SegFault is dupe of the above.
@scalablecory please file new issue for the remaining unnecessary NullRefException in SmtpClient.

[2019-07-31 17:33] karelz commented on #39828
Ping @JamesNK? I'd like to confirm this is not 3.0 problem anymore. Please work with @wfurt on clarification.

[2019-07-31 17:35] karelz commented on #39586
@geoffkizer do you have ETA on when the PR will be merged?
We need to port it to release/3.0 afterwards, following the ask mode process - i.e. ask mode template in PR + markings on the PR.

[2019-07-31 17:43] kasiabulat opened #39922 "Writable Json DOM"
Adding a modifiable API in `System.Text.Json` to complement the readonly `JsonDocumet`.

## Goals

* Designing API
* Implementation of provided methods
* Tests of provided methods
* Documentation for public API

## Specification
https://github.com/kasiabulat/corefx/pull/4/files#diff-554f8985f9d1787f6a1d12e4a6093778

[2019-07-31 17:44] karelz commented on #30691
@scalablecory can you please help with it?

[2019-07-31 17:50] vitek-karas commented on #39776
I completely agree with what @ericstj says. I'm just going to extend on it:

### Creating the plugin
The right way to build the plugin is to make it a classlib, target a real runtime TFM (so not netstandard) - in your case it seems `netcoreapp2.1`, and then publish it for the platform it's going to run on.

This should give you the plugin and all of its dependencies including native ones in one fl

[2019-07-31 18:01] buyaa-n commented on #39904
This error looks same as test failure in System.Net.Security.Tests:
[code]
The full test result can be found here: https://gist.github.com/buyaa-n/e00bc70c8f004978eca8c9a1b21b27e1

[2019-07-31 18:04] buyaa-n commented on #39904
Another failure for System.Net.Requests.Tests, not sure if we need separate issue for that, please check: https://gist.github.com/buyaa-n/b9e57ef2a1e609068e64af01a977589d