[2019-02-21 10:30] am11 commented on #31002
Would it require a separate API proposal for retrieval of OS family name and ancestries (that are used in RID graphs) something like:

* WindowsNT
* Unix
  * Linux
    * Debian
      * BackTrack
      * Ubuntu
        * Mint
      * LinuxBBQ
    * RPM
      * CentOS
      * Fedora
      * RHE
  * BSD
    * macOS
    * NetBSD
    * FreeBSD
      * GhostBSD
  * Solaris
    * SmartOS

aside: https://

[2019-02-21 11:09] #34902 closed

[2019-02-21 11:14] marek-safar commented on #31002
Mono and other platforms which implement netstandard would care only if this API would be in netstandard but it looks very .NET Core specific to me to end up there.

I don't know how the RID is constructed but it does not look like a simple form of a concatenation of existing properties exposed by RuntimeIdentifier and should live in different class.

What is also not clear to me from the proposal

[2019-02-21 11:53] jeroen-mostert commented on #5114
I propose we use the existing [`SortOrder`](https://docs.microsoft.com/dotnet/api/system.data.sqlclient.sortorder) enumeration for this, also conveniently living in `System.Data.SqlClient`. The `.Add` would need to throw if you try to add a column with `SortOrder.Unspecified`, since the hint doesn't support that (obviously), but that minor niggle isn't worth creating a brand new enum with almost t

[2019-02-21 12:47] SweetShot commented on #34221
This is still up for grab right ? I would like to do this. If what to do is fixed that is.

Also, this is the first time i am going for this project or open source for that matter. Do you think that its a good start for me ? as it does look straightforward enough. Or should i be looking at something else ?

[2019-02-21 12:57] Timovzl opened #35487 "BrotliStream allocates 65K buffer"
`BrotliStream` allocates a `byte[]` buffer of `DefaultInternalBufferSize`=65K, as can be seen in the source:
https://github.com/dotnet/corefx/blob/master/src/System.IO.Compression.Brotli/src/System/IO/Compression/BrotliStream.cs

This seems like a sizeable allocation for every stream. The stream option is attractive because it makes it very easy to use the algorithm correctly. It is made less attr

[2019-02-21 12:58] Timovzl commented on #35396
Turns out to be a reported [issue](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/694770) with the debugger.

[2019-02-21 12:59] #35396 closed

[2019-02-21 13:04] jeroen-mostert opened #35488 "Proposal: give `SqlBulkCopy` a way to specify the `ORDER` hint"
The bulk insert functionality of SQL Server supports an `ORDER` hint to speed up inserting of already ordered data into a table with a clustered index. Without this hint, SQL Server forces an intermediate sort of the incoming data before inserting, which can add significant overhead (think `tempdb` spills). Existing unmanaged ways to bulk copy (`bcp.exe`, `BULK INSERT`, `OPENROWSET(BULK, ...)`) al

[2019-02-21 13:11] geoffkizer opened #35490 "HTTP2: HPackDecoder has hard-coded max string size"
The HPackDecoder currently has a hard-coded limit on string size. See here:  https://github.com/dotnet/corefx/blob/55f7269536eb9c072cabd8bbcdd7644cd18bd001/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HPack/HPackDecoder.cs#L31

We should either remove this (ideally) or make this configurable.

Note that we already have MaxResponseHeadersLength on SocketsHttpHandler, so it doesn't rea

[2019-02-21 13:46] tmds commented on #35480
Cool! Are you building bits of .NET Core yourself to make it work with buildroot?

Makes sense.

[2019-02-21 13:53] tmds commented on #35222
.NET Core added an [ArgumentsList](ProcessStartInfo.ArgumentList) on ProcessStartInfo. You don't need to deal with escaping if you are using that.
You can Add the '-c' and 'ls -l /etc/ > /tmp/list.txt' to the ArgumentsList.

[2019-02-21 13:56] tmds commented on #34887
I guess the timer is subject to garbage collection.

What happens on Rasbian if you add a `runTimer.Stop` below the while loop? Does it keep the timer alive and running?

[2019-02-21 13:59] tmds commented on #31713
This may be closed.

[2019-02-21 14:18] #15814 closed

[2019-02-21 14:18] #34074 closed

[2019-02-21 14:18] #35084 closed

[2019-02-21 14:18] #28620 closed

[2019-02-21 14:23] mdisg commented on #35480
@tmds The prebuild runtime available for download works on that system without modification but such things as the missing file check are likely to show up on such a system because there are not that much applications installed to reduce memory consumption because it's a embedded arm system.

Internal catched exceptions show up in the debug output as `Exception thrown: x in x.dll` but the debugger

[2019-02-21 14:32] tmds commented on #35480
Ah. Does your embedded Linux stack use glibc?

[2019-02-21 14:34] bartonjs commented on #35420
cc @tarekgh

[2019-02-21 14:55] joshudson commented on #34221
@SweetShot: You need header files for a bunch of OSes and a lot of patience but not much else. I don't work here but I say go for it.

[2019-02-21 15:00] Metalnem opened #35491 "BinaryFormatter.Deserialize throws many unexpected exceptions"
The [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.serialization.formatters.binary.binaryformatter.deserialize?view=netcore-2.2) says that the **BinaryFormatter.Deserialize** method may throw **SerializationException** or **SecurityException**, but it can actually throw many more. Here are some of them:

- **ArgumentException**
- **ArgumentOutOfRangeException**
- **Deco

[2019-02-21 15:06] MrM40 commented on #35222
thanks....I'll check it out :-)

[2019-02-21 15:21] bartonjs commented on #35420
Can you give some examples of how you would use this / why one would want it?

[2019-02-21 15:49] eerhardt commented on #31002
I [proposed here](https://github.com/dotnet/corefx/issues/31002#issuecomment-407513476) to put all 3 new APIs into a new class/struct `RuntimeIdentifier` to make it more clear. With the `struct` version, you could imagine being able to construct a `RuntimeIdentifier` for a different computer than the one the current process is running on.

The concept of a RID/RuntimeIdentifier is not .NET Core sp

[2019-02-21 15:56] stephentoub opened #35493 "BeginSendFile tests failing assert"
The tests that use BeginSendFile have started failing with a Debug.Assert.
[code]

This has started happening in CI very frequently but not consistently. The TransmitFile P/Invoke is returning false, but then the subsequent call to GetLastError returns 0, which shouldn't happen, as that indicates success, and there's a Debug.Assert triggered as a result.  This happens only sporadically under load,

[2019-02-21 15:57] AnthonyMastrean commented on #33115
There's been a lot of advancement in SIMD-based text parsing, including for structured text, like [JSON](https://github.com/lemire/simdjson/blob/master/README.md). Is there any chance that the work in .NET Core will approach this performance level? Is there any way to use these techniques?

[2019-02-21 16:04] KPixel commented on #33115
@AnthonyMastrean Thanks for bringing this up. I am also interested in any benchmarks to get an idea of how this current Json impl compares to simdjson.

By the way, the authors of simdjson [said](https://news.ycombinator.com/item?id=19214731) that they are still working on fully publishing this project (I think, more doc). For now, you can read some [interesting discussion of this project on HN](h

[2019-02-21 16:10] srutzky commented on #5114
Why do you say that `SortOrder.Unspecified` is not supported? Shouldn't that option merely not add either `ASC` or `DESC` after the column name? In which case that is definitely supported by the `ORDER()` hint. The [documentation for `INSERT`](https://docs.microsoft.com/en-us/sql/t-sql/statements/insert-transact-sql) shows the direction as optional:

And I just tested it and it works:

[code]

I t

[2019-02-21 16:14] steveharter commented on #34372
@jtillman

A simple `bool TryRead(...)` won't include error information. For the read case, the exception will include a message, line number, byte offset and property path. Is this important for your scenario, or is a bool sufficient? We could also provide an overload that takes an `out` parameter for the error information.

[2019-02-21 16:15] #31713 closed

[2019-02-21 16:16] stephentoub commented on #34887
Yes.  Timers are not rooted by default.

[2019-02-21 16:24] steveharter commented on #34372
@Waleed-KH thanks for your feedback.

There was an update based on an API review a few hours before you commented - the "Read\Write" is  now only for the async stream\pipe APIs and we use "ToXXX\Parse" terminology for the rest.

@ahsonkhan can you comment on the history of using `System.Text.Json` instead of `System.Json` -- did we not use `System.Json` because it already contained older\existing

[2019-02-21 16:30] khellang commented on #33115
.NET Core 3.0 just happens to ship a bunch of [platform dependent intrinsics](https://github.com/dotnet/designs/blob/master/accepted/platform-intrinsics.md), so it's definitely doable 😄

[2019-02-21 16:36] jeroen-mostert commented on #5114
Yes, leaving out `ASC` / `DESC` is supported in the sense that if you don't specify it, the default is `ASC` (just as in a regular `ORDER BY` clause). But `SortOrder.Unspecified` actually has a different meaning, namely that the order is *unspecified* (as in, the natural state of columns). It's used this way in `SqlMetaData`.

We could reappropriate `Unspecified` in this case to support the "use c

[2019-02-21 16:37] baal2000 opened #35495 "Fake async implementation of TextWriter.FlushAsync"
[TextWriter.FlushAsync](https://github.com/dotnet/corefx/blob/6622937a3ccdb0ebe81747e92903a009e1702575/src/Common/src/CoreLib/System/IO/TextWriter.cs#L617) wraps synchronous counterpart `TextWriter.Flush()` into `Task.Run()`. Would it be rather more honest to not implement and let the users deal when needed?

[2019-02-21 17:04] tarekgh commented on #35420
I am seeing this something nice to have and not necessary to be in the core. this can be part of a nuget library as I am not expecting any part of the core will use it and even not a common scenario that many people will need it.

@YohDeadfall do have any data how much such types used in the C++ apps?

[2019-02-21 17:07] karelz commented on #34728
@PatrickHofman are you able to reproduce it on simple server redirect? Without OAuth involved?

[2019-02-21 17:16] danmosemsft commented on #35491
Deserialize runs arbitrary user code - if it doesn't wrap any exceptions from that, then it could throw any exception type.

[2019-02-21 17:19] stephentoub commented on #35495
What does it mean to not implement it?  These are virtual methods on an abstract type.  The expectation is that a derived types override these.  But for ones that don't, a consumer still needs the method to behave reasonably.

[2019-02-21 17:24] peteraritchie commented on #34221
As up-for-grabs means it has the go ahead, go for it. Worst that can happen is the PR isn't accepted :-)

[2019-02-21 17:33] ModestasK commented on #34887
I will try running this peace of code one more and if it behaves like this again I can let you in for playing with my raspberry over ssh.
Would that be of any use for you guys?

[2019-02-21 17:37] jkotas commented on #31002
These things are NuGet specific (or in more general - package manager specific, like in your Python example). NuGet is a built-time or deployment-time technology, not a execution-time technology. You should not really care about them once your program is up and running.

For historic reasons, these things leaked quite a bit into runtime in .NET Core. It is not the case with other .NET platforms, l

[2019-02-21 17:43] Gnbrkm41 commented on #33182
Could I have a poke at this?

[2019-02-21 17:57] davidsh commented on #35294
Using 6.1.9 I get the PDB.

Glad you were able to find the PDB!  I'll close this issue since the question is now answered.

[2019-02-21 17:57] #35294 closed

[2019-02-21 18:02] MattGal commented on #35333
The failure is a timeout, if it's the same as the same test had a year or two ago it may have started some broker process that hung.   Basically Helix Clients don't consider the work done (even if the work completed as you noticed) unless all child processes have exited.

Since we're talking about an entirely new operating system (Client RS5 came online this week) it's also possible that  dialog w

[2019-02-21 18:08] wfurt commented on #34887
ssh may be useful. I was trying to take a look but I could not reproduce it on my PI.

[2019-02-21 18:10] tannergooding commented on #30373
@CarolEidt, @terrajobst, @eerhardt, @jkotas

I've moved this to `future` as the APIs we plan to expose here still need more thought/design/etc.

I think someone will need to sit down and take a much deeper look at the instructions and how we should expose them, but I don't think I'll have time to do this before 3.0, so I've marked it as `up-for-grabs` in case someone from the community wants to ha

[2019-02-21 18:19] tannergooding commented on #35434
@micampbell, could you please add a post that follows the "good example" template detailed here: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md#steps

Once that is done, I can update the original post and mark this as `api-ready-for-review`

[2019-02-21 18:20] tannergooding commented on #33887
@joperezr, are you still looking at handling this? If not, I would want to mark this as `up-for-grabs`.

[2019-02-21 18:58] joshfree commented on #35487
Thanks for reporting this @Timovzl 😄

[2019-02-21 19:02] baal2000 commented on #35495
Leaving as abstract would work. If must be implemented as virtual base class method and there is no native support for async then it is reasonably to do the way is done in [SyncTextWriter.FlushAsync](https://github.com/dotnet/corefx/blob/6622937a3ccdb0ebe81747e92903a009e1702575/src/Common/src/CoreLib/System/IO/TextWriter.cs#L863).

[2019-02-21 19:06] stephentoub commented on #35495
It can't be left as abstract; it was added after the type was already released, so it would have been a big breaking change to add a new abstract method to an already shipped type.

[2019-02-21 19:08] joshfree commented on #34157
Keeping bug active to track the secondary issue that @stephentoub identified with Optimal compression on the latest zlib (.NET Core version) being less-optimal than the older zlib in .NET Framework 4.x

[2019-02-21 19:12] eerhardt commented on #31002
Not true. We've had [TargetFrameworkAttribute](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.versioning.targetframeworkattribute?view=netframework-4.0) in the framework since [.NET Framework 4.0](https://en.wikipedia.org/wiki/.NET_Framework#Release_history), which predates [NuGet](https://en.wikipedia.org/wiki/NuGet) by 6 months according to their Wikipedia release dates.

As for RID,

[2019-02-21 19:12] jeffschwMSFT commented on #32015
Closed with #34686

[2019-02-21 19:12] #32015 closed

[2019-02-21 19:13] jeffschwMSFT commented on #32850
Closed with #34668

[2019-02-21 19:13] #32850 closed

[2019-02-21 19:14] joshfree commented on #33682
Thanks for reporting this issue @MarcusWichelmann; i'm going to dupe this on #17342, but I've also moved that into the 3.0 milestone and will try to get someone to investigate fixing this if there's enough time in the 3.0 release.

[2019-02-21 19:14] #33682 closed

[2019-02-21 19:17] terrajobst commented on #34124
I've edited the issue to description to match [our feedback](https://github.com/dotnet/corefx/issues/34124#issuecomment-458653253).

[2019-02-21 19:19] terrajobst commented on #34124
@danmosemsft

Can we assign a dev to expose this API? This way it can also be exposed from .NET Standard.

[2019-02-21 19:25] AaronRobinsonMSFT commented on #31049
Fixed with https://github.com/dotnet/coreclr/pull/22721

[2019-02-21 19:25] #31049 closed

[2019-02-21 19:27] joshfree commented on #31884
@wtgodbe this sounds like it may be a build infra issue perhaps?  is this something that you could help investigate?

[2019-02-21 19:34] terrajobst commented on #34076
This work [was discussed](https://github.com/dotnet/apireviews/pull/87) and [completed](https://github.com/dotnet/corefx/pull/35003) by @tarekgh.

[2019-02-21 19:34] #34076 closed

[2019-02-21 19:35] terrajobst commented on #32959
@Foxtrek64

Are you still willing to do the work?

[2019-02-21 19:37] terrajobst commented on #32905
@ahsonkhan

Is the plan to wait for a community member to do the work? It would be nice if we could complete this for 3.0 so that we can also expose it from .NET Standard 2.1.

[2019-02-21 19:38] terrajobst commented on #31595
@roji @divega

Is the plan to wait for a community member to pick this up? If we complete this in time for .NET Core 3.0 we could also expose it from .NET Standard 2.1 but this window is also closing.

[2019-02-21 19:43] danmosemsft commented on #34124
Sure. @maryamariyan since you did the last one, would you mind doing this one? Hopefully it is very similar - you can start by just copy/paste implementation and tests.

[2019-02-21 19:44] AaronRobinsonMSFT commented on #32999
See https://github.com/dotnet/coreclr/issues/20563

[2019-02-21 19:45] Wraith2 commented on #31595
@terrajobst @TheBlueSky has picked it up and has a PR pending https://github.com/dotnet/corefx/pull/35211 which needs some assistance to work out why the build is failing.

[2019-02-21 19:45] TheBlueSky commented on #31595
@terrajobst, I created a pull request that implements this; however, I have some difficulty in figuring out why certain targets cannot see the new overloads.

Could you assist on this? I tagged couple of people but got no response :(

[2019-02-21 19:48] Meir017 opened #35498 "[Feature] create ObsoleteAttribute CodeFix to replace obsolete method with new one"
@Meir017 commented on [Wed Feb 20 2019](https://github.com/dotnet/roslyn/issues/33519)

a possible way could be adding new properties to the `ObsoleteAttribute`

[code]

then the warning could also suggest a rename

---

@CyrusNajmabadi commented on [Wed Feb 20 2019](https://github.com/dotnet/roslyn/issues/33519#issuecomment-465718291)

@Meir017 Sorry, i'm not understanding what this proposal is a

[2019-02-21 19:57] benaadams commented on #31595
PR doesn't work on NETFX and UWP so feels like a packaging issue?

[2019-02-21 20:08] wtgodbe commented on #31884
I believe we've already identified the issue, UWP should be targeting the latest version of https://www.nuget.org/packages/runtime.win10-x86.Microsoft.NETCore.UniversalWindowsPlatform/6.1.9, rather than the outdated https://www.nuget.org/packages/runtime.win10-x64-aot.runtime.native.System.IO.Compression/4.0.1 from 2016

[2019-02-21 20:10] geoffkizer opened #35499 "Feature request: Add Environment.LongTickCount"
Environment.TickCount rolls over, which makes it inconvenient to use. See e.g. https://github.com/dotnet/corefx/pull/35401

To remedy this, we should add Environment.LongTickCount. This is trivial to implement on Windows using GetTickCount64.

[code]

[2019-02-21 20:12] stephentoub commented on #35499
Related https://github.com/dotnet/corefx/issues/3249

[2019-02-21 20:29] Foxtrek64 commented on #32959
@terrajobst

Yes, though I still need clarification as described above before I can begin.

[2019-02-21 20:30] kouvel opened #35500 "Add APIs for some threading metrics"
From https://github.com/dotnet/coreclr/issues/20372

[code]

- `ThreadPool.CompletedWorkItemCount`
  - Gets the number of work items that have been processed so far
  - For a thread pool implementation that may have different types of work items, the count includes all types (user work items including tasks, timer callbacks, wait callbacks, and IO completions)
  - Changes over units of time would

[2019-02-21 20:41] jkotas commented on #31002
Right, this is what I mean by "these things leaked quite a bit into execution-time in .NET Core". I see the support for portable apps built into the .NET Core host as extension of NuGet, not really part of the core runtime. In the early days of .NET Core, we called it `NuGet-aware host` (vs. `corerun` that was the simple host).

[2019-02-21 20:47] Wraith2 commented on #31595
Looking at the output dll it doesn't have PreferInBox assembly level attribute, It could well be, since it isn't in the standard version that netfx implements inbox would cause the error. Does UAP work the same way? what actual runtime/ref is the target there?

[2019-02-21 20:50] wtgodbe commented on #33524
@ViktorHofer @safern what's the latest on these jobs? Are we still planning to migrate them to AzDO?

[2019-02-21 21:08] SeanFeldman commented on #34157
@joshfree secondary issue? Are you referring to https://github.com/dotnet/corefx/issues/34157#issuecomment-449452688 or there's another issue raised?

[2019-02-21 21:15] jchang6 opened #35504 "Common sln for both .NET framework and Core"
Ok, so I have managed to port one application from .NET Framework 4.6.1 to Core 3.0.
The same code files now work for both, but I seem to need separate sln and directories for each project, except that the Core project excludes the \Properties\AssemblyInfo.cs file.
If I try to have one directory with one proj file for Framework and another for Core,
the Core project builds, but the Framework proje

[2019-02-21 21:19] safern commented on #33524
I think they still need to be migrated to AzDO -- but I don't understand the full story yet. @adamsitnik I think @adiaaida told me yesterday you might do this work?

[2019-02-21 21:19] dsplaisted commented on #31002
FYI, we're considering moving away from NuGet handling RIDs: https://github.com/dotnet/cli/issues/10528

Though from the runtime's perspective, it probably doesn't make much difference whether it's NuGet or the SDK tasks/targets that handle build-time RID asset selection.  As stated, the runtime/host still need to handle RIDs at runtime for portable apps.

[2019-02-21 21:21] vitek-karas commented on #31002
Also - we're considering using RIDs at runtime (well in the host) to support runtime selection of VMs (CoreCLR vs Mono).

[2019-02-21 21:27] arielmoraes opened #35505 "HttpClient Connection Reset By Peer when using HttpClientExtensions"
Tested using .NET Core Versions 2.1 and 2.2

We have a `HttpClient` that makes some requests using the `PostAsJsonAsync ` and `PutAsJsonAsync ` from the `HttpClientExtensions` in the `System.Net.Http.Formatting` assembly but in some cases we are getting an exception with a message saying the Connection was reset by peer. The Stack Trace we have is:

Now the strange and unbelievable solution we hap

[2019-02-21 21:54] geoffkizer commented on #35490
In general, the HPackDecoder code is rather complicated because it processes every individual header block byte-by-byte and tracks state of partially decoded elements, e.g. ints or strings etc. This seems unnecessarily complex.

For HTTP/1.1, we do something much simpler when decoding headers. If we get a partial header line, we just read more data into the buffer and then try once again to do the

[2019-02-21 22:22] PatrickHofman commented on #34728
The test case provided doesn't use OAuth. So it isn't related to OAuth in particular, just to the redirect done frequently by the OAuth flow.

[2019-02-21 22:25] PatrickHofman commented on #34728
@karelz Please let me know if I can do anything to help you reproduce this issue.

[2019-02-21 23:18] terrajobst opened #35508 "Consider removing Range.OffsetAndLength"
We currently have this nested type for `Range`:

[code]

However, considering that the outputs are fixed, we should consider making this simply a tuple:

[code]

/cc @tarekgh @stephentoub @dotnet/fxdc

[2019-02-21 23:26] jkotalik commented on #27246
@stephentoub @terrajobst what are your thoughts on making the stream wrappers public? That way, we can derive them and disable Synchronous IO for our implementations in ASP.NET Core.

[2019-02-21 23:34] terrajobst commented on #32959
With respect to repo? @danmosemsft should point you the right way but I suspect you start with the implemention work in the CoreCLR repo and after the PR got merged, the reference assemblies in CoreFX. Not sure what the process for those are but @danmosemsft would know.

[2019-02-21 23:42] joshfree commented on #34157
@SeanFeldman Yup.  Though I was specifically referring to this subsection in @stephentoub 's comment:

[2019-02-22 00:02] danmosemsft commented on #35499
There is precedent for adding `64` on properties on Process eg
[code]
So I would vote for
Not sure whether there's precedent for prefixing `Long`.

[2019-02-22 00:15] stephentoub commented on #35499
There's also Enumerable.LongCount.

But I'd be fine with either the Long prefix or the 64 suffix.

[2019-02-22 00:27] stephentoub commented on #27246
We discussed this in the API review, and @davidfowl seemed comfortable with not exposing them.  I think the general sentiment was that it'd be better to start with just these virtuals, and if exposing the concrete types seemed useful in the future, we could choose to do so subsequently.

That said, I'm ok with it if it's valuable.  But I suggest we treat that as a separate API issue that's propose

[2019-02-22 00:35] davidfowl commented on #27246
We'll do it once we finish this initial pass, there are a few API tweaks I want to add/make after finishing this implementation.

[2019-02-22 01:15] AartBluestoke commented on #35381
"that should get you a "good enough" hash code within the 32-bit restrictions."
. With a "perfect" 32 bit hash functions you will typically (50% chance) run into collisions with less than 80k objects in a dictionary. even 64 bit hash functions have a 1% chance of collision at 600 million objects. (exact maths on collision probability can be found from https://preshing.com/20110504/hash-collision-p

[2019-02-22 01:23] danmosemsft commented on #35499
Right I only looked at properties

[2019-02-22 01:23] karelz commented on #34779
@divinebovine why do you think it is a problem in ConfigurationManager?
If it is in ConfigurationManager, then it should be possible to create repro without ASP.NET in the picture. Did you try that?

[2019-02-22 01:28] karelz commented on #34740
@ramsubbaraoc how to debug on Linux: https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md#debugging-coreclr-on-linux

[2019-02-22 01:32] karelz commented on #34803
Duplicate of #20809

[2019-02-22 01:32] #34803 closed

[2019-02-22 01:39] karelz commented on #34887
Not actionable, closing for now. Feel free to reopen once there is a solid repro that can be reproduced on other systems ...

[2019-02-22 01:39] #34887 closed

[2019-02-22 01:42] tarekgh commented on #35508
I agree this is simpler. I got push back during the code review against using Tuple as I had the original implementation in the PR as described here. anyway, I am fully agree with what proposed here.

[2019-02-22 01:43] karelz commented on #34918
Duplicate of https://github.com/dotnet/roslyn/issues/17310

[2019-02-22 01:43] #34918 closed

[2019-02-22 01:45] tannergooding commented on #35499
I think `64` or `Int64` makes much more sense.

The framework guidelines also recommend not using language specific names (like `Long`), given that they can mean different things in different languages: https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/general-naming-conventions#avoiding-language-specific-names

[2019-02-22 01:46] karelz commented on #34929
I think it would be best to have such differences here: https://github.com/dotnet/platform-compat ... @terrajobst thoughts?

[2019-02-22 01:50] karelz commented on #35009
@dendeli-msft @mairaw any thoughts?

[2019-02-22 02:17] #35333 closed

[2019-02-22 02:26] sharwell commented on #35009
I've been trying to reproduce this, but I need to know the *exact* reference for `ValueTuple<T1, T2>` used in the example. My suspicion is the associated XML documentation file contains `instance&amp;#39;s` instead of `instance&#39;s`.

[2019-02-22 02:56] davidfowl opened #35513 "API Proposal: Add CopyToAsync methods to write from PipeReader to PipeWriter"
https://github.com/dotnet/corefx/issues/27246 adds methods for copying from the PipeReader to a Stream and from a Stream to a PipeWriter but we haven't yet added APIs to copy from a PipeReader to a PipeWriter:

[code]

[2019-02-22 02:57] davidfowl commented on #35513
cc @terrajobst I'd like to review this one for 3.0 as well.

[2019-02-22 03:02] benaadams commented on #35513
`int bufferSize` ?

[2019-02-22 03:03] davidfowl commented on #35513
Hmm, I guess it depends on the implemenation of CopyToAsync, if it just calls WriteAsync then it does whatever internally, but if it calls GetMemory(), Advance it would control the GetMemory() call. Lets remove it for now.

[2019-02-22 03:16] #35487 closed

[2019-02-22 03:27] danmosemsft commented on #32959
Hello @Foxtrek64 you would please create two PR's at once

* In coreclr to implement it in https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Reflection/Emit/Label.cs
* In corefx to (a) expose it in https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Emit.ILGeneration/ref/System.Reflection.Emit.ILGeneration.cs#L60 (the reference assembly) and (b)

[2019-02-22 03:27] danmosemsft commented on #32959
@Foxtrek64 in case it wasn't clera, the API was approved (hence the new label)

[2019-02-22 03:29] ahsonkhan opened #35514 "Consider moving System."
The recent in-box JSON serializer APIs (see https://github.com/dotnet/corefx/issues/34372 / https://github.com/dotnet/apireviews/tree/master/2019/System.Text.Json-Serialization) expect to take `PipeReader`/`PipeWriter`. This results in `System.Text.Json` depending on `System.IO.Pipelines`. However, the Pipelines package is not part of the shared framework and hence cannot be referenced by S.T.Json

[2019-02-22 03:36] baal2000 commented on #35495
The behavior may still be changed to synchronous without making that abstract but that is up to you. I guess there is a reason for the method to be implemented this way that we may never know.

Thanks.

[2019-02-22 03:41] danmosemsft commented on #35009
These don't come from the code itself. I guess from
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System/ValueTuple%601.xml#L359 ?

[2019-02-22 03:45] stephentoub commented on #35495
Both options (sync and async invocation) have pros and cons.  For example, a benefit to invoking the operation async are that arbitrary implementations could have a Flush method that takes a really long time, and callers may reasonably expect that a FlushAsync returns the Task close to immediately; this is relevant if, for example, the caller wants to invoke multiple operations concurrently and th

[2019-02-22 03:45] #35495 closed

[2019-02-22 03:48] stephentoub commented on #34924
This is consistently failing on OpenSUSE.

[2019-02-22 03:56] danmosemsft commented on #35508
I thought there was a general discussion about using Tuple in public API, @terrajobst and the feeling was that it wasn't a good idea - I recall mention was made of naming and tooling support. Do I remember wrong?

[2019-02-22 03:57] danmosemsft commented on #35500
Since area owner is proposing this, I guess it is ready for review.

[2019-02-22 03:59] kouvel commented on #35500
I think we have already discussed most of the things on the other issue, but if anyone has any suggestions on naming or behavior, please let me know.

[2019-02-22 04:02] bartonjs commented on #35508
We had a meeting on it today, and landed on PascalCasing.  Since "OffsetAndLength" is pretty clearly just a 2-tuple, apparently Immo is excited to (re-)start our use of "AVOID" tuples instead of "DO NOT" use tuples.

[2019-02-22 04:05] ahsonkhan commented on #35400
cc @JeremyKuhne

[2019-02-22 04:12] safern commented on #34924
I’ll take a look.

[2019-02-22 04:30] Maoni0 commented on #34852
thanks @tarekgh for telling me that I needed to look at this. for some reason I don't get any notification with this particular issue.

I am only going with what I see in the code in finalizethread.cpp (which I'm not that familiar with). WaitForPending will return when hEventFinalizerDone is set and it's set when FinalizerThreadWorker has run all the finalizers it detects (FinalizeAllObjects retur

[2019-02-22 04:33] karelz commented on #34728
@PatrickHofman can you give me code that I can copy paste into new project, run it and see the failure?

[2019-02-22 04:37] jkotas commented on #35514
This seems to be the direction we started heading towards when we have introduced `IBufferWriter` interface. Do we understand what would the design of these interfaces look like?

Do you have a number for how much performance is going to be left on the table if we do nothing? (e.g. in TE benchmarks)

[2019-02-22 04:51] davidfowl commented on #35514
I don’t understand the question Jan. ASP.NET Core is on the path to pipelines (we’re exposing it in our public API and implanting it natively in kestrel and all of the servers).

The left on the table question IMO is irrelevant. We need to add pipelines support to the serializer for all ASP.NET Core developers, that’s the path we’re currntly on and this is a step in that direction.

That’s said, w

[2019-02-22 04:59] chukunx opened #35515 "Queue<T>: why set GrowFactor to 200 and divide by 100?"
hi guys, this isn't an issue, but just me being curious about a configuration setup in `Queue<T>` class. may i ask why do we want to double the size of array by initiating the GrowFactor as 200 and multiplying the original size by `GrowFactor / 100` here? what's the downside of using `2` directly? thanks.
https://github.com/dotnet/corefx/blob/bca44089343cf14cffd3cb0982b7e209692f6731/src/System.Col

[2019-02-22 04:59] davidfowl commented on #35514
There’s a 5th option to add to the list that I also hate but for the sake of completeness:
- We add the IAsyncBufferWriter for writes and  we add a TryRead API that takes ReadOnlySequence\<byte\> and out SerializerState and force the pipelines callers to do the read loop themselves.

[2019-02-22 05:05] eerhardt commented on #27417
This feels exactly what the concept of RuntimeIdentifier (RID) is trying to solve. Would it be more appropriate to solve this problem by enhancing the existing RID system/design? And making it an official API in corefx?

That way we don’t need to have the compatibility graph hard-coded. And we don’t have duplicate/competing concepts in our platform (RIDs vs this proposal).

I believe the RID desig

[2019-02-22 05:08] terrajobst commented on #35508
I feel called out 🤘😎

[2019-02-22 05:22] jkotas commented on #35514
The write up says "less than ideal" without additional explanation. I have asked regular manager-type question to quantify it.

That's fine. Pipelines are fine tuned for webserver workload. It makes sense to use them in ASP.NET plumbing.

The pipelines looks very complex to me (e.g. compared to Stream). Maybe it needs to be as complex. I do not know. It is the reason for the second question.

[2019-02-22 05:23] jduncanator commented on #35381
Like I mentioned in my comment, GetHashCode is not designed to be used as a test of uniqueness, but rather to be a quick way to allocate items into hash based collection. In these instances, a hash collision doesn't overly impact the performance of the collection negatively.

[2019-02-22 05:24] jduncanator commented on #35381
Like I mentioned in my comment, GetHashCode is not designed to be used as a test of uniqueness, but rather to be a quick way to allocate items into hash based collections. In these instances, a hash collision doesn't necessarily impact the performance of the collection negatively.

[2019-02-22 05:52] ahsonkhan commented on #35514
I don't have perf numbers for not directly supporting PipeReader/PipeWriter, especially since the serializer isn't fully baked yet/utilized within aspnet. It would depend on what the usage would look like to support pipelines with the other API overloads. @steveharter, could you help with getting some preliminary measurements?

Other than potential perf loss (which I agree needs to be quantified),

[2019-02-22 06:30] davidfowl commented on #35514
They're not, they are just an abstraction like Streams. Usable for doing *any* IO. Client or server or anything else really (that's why the stream adapters are so easy to write).

While I think we should have these, this should not be part of this discussion, so lets not discuss performance here.

I'll leave this code here:

Stream code:

https://github.com/dotnet/corefxlab/blob/e075d78df60452b68d

[2019-02-22 06:41] mdisg commented on #35480
@tmds Yes glibc 2.22

[2019-02-22 06:49] PatrickHofman commented on #34728
@karelz See the test cases in my original post.

[2019-02-22 07:28] GrabYourPitchforks commented on #34144
I don't think this is ever going to happen realistically. String manipulation APIs like `ToUpper` / `ToLower` in the Framework have always used simple case folding semantics, and simple case folding semantics are _guaranteed_ per the Unicode Standard never to change the length of a UTF-16 string. The only public APIs which use complex case folding semantics are String comparison APIs (e.g., `Equal

[2019-02-22 07:42] jtillman commented on #34372
@steveharter The information provided by the exception would be beneficial, but throwing an exception on a hot code path is undesirable. Ideally, I would have a single root call that packages error information as a part of the return value.

[code]
Since this approach isn't typical in most of the existing serialization apis, I would settle for either of the solutions you suggested (boolean or out

[2019-02-22 07:47] GrabYourPitchforks commented on #33279
Looks like this is unassigned. @vcsjones did you want to take this or should we mark it up for grabs?

[2019-02-22 07:56] safern commented on #34924
I ran this in a openSuse 42.3 container that I've got, and it didn't repro, I actually got the expected value from the raw image and from the blob-deserialized image. I will try to use the repro tool tomorrow to validate the machines have the latest libgdiplus installed.

[2019-02-22 08:43] Wraith2 commented on #35515
Guessing here, if you use 100 as the base you avoid using a float to store fractional growth factors and end up with an integer division which is easier/faster than float division. If that's the case then it feels like a development setup so someone can test various growth factors and perhaps not something that is needed in release builds since GrowthFactor is constant.

[2019-02-22 08:46] YohDeadfall commented on #35420
It could be useful for math computations when you need to specify a range of some values or get it as result. Yep, for that scenario it makes sense to make a package. But there is another case, collections and range operations on them.

Algorithms use them. I can tell you that they came from [the boost library(https://www.boost.org/doc/libs/1_69_0/libs/range/doc/html/index.html) and are going to b

[2019-02-22 08:56] andygikling commented on #30594
It fixed me too.  Removed Microsoft.NETCore.Portable.Compatibility...

[2019-02-22 10:08] poke commented on #33115
For what it's worth, I think in a web scope, the network is a primary bottleneck, and while it is cool that you can parse gigabytes within seconds, I don't think that is very useful for a web project.

Don't get me wrong, performance optimizations like these are super cool and would probably benefit even very small JSON documents. But for now, I think the focus with the new library is to avoid mem

[2019-02-22 10:22] mrange commented on #33115
Where I work we parse tera bytes of JSON everyday. I know of Jet.com as well that uses .NET and F# to process a lot of JSON docs as well (Walmart is quite big). JSON has become more than just server => browser transport mechanism. It is used a lot in pure backend scenarios.

OFC; it would be better for backend to switch to a binary format like AVRO/Protobuf but often that is difficult and JSON do

[2019-02-22 10:43] #30657 closed

[2019-02-22 10:46] ahsonkhan commented on #32588
@JeremyKuhne, given https://github.com/dotnet/corefx/pull/33288, can this issue be closed now or is there still some work left? If so, can we break out what's left into a separate issue?

[2019-02-22 11:00] KPixel commented on #33115
@poke This project falls under .NET Core (not ASP.NET...), so it is relevant to all workloads, not just the web.

I can agree on the idea that it is too late to work on this specific optimization technique for .NET Core 3.0, but I would hope that some investigation is done now to ensure that the optimization will be possible in the future (ie without breaking changes).

[2019-02-22 11:13] gerwim commented on #24790
Same here. Having a platform independent package to query hardware information would be great.

[2019-02-22 11:13] jeroen-mostert commented on #35499
Re: language-specific names, my favorite bug/gotcha in this regard is `IDataReader.GetFloat()` (which should have been `IDataReader.GetSingle()`). This has bitten numerous folks who thought to use `.GetFloat()` to read a T-SQL `FLOAT`, which is actually a double-precision type and has to be read with `.GetDouble()`. This is practically an unavoidable mistake if your language doesn't have a `float`

[2019-02-22 12:23] marek-safar commented on #31002
The output app/binary it's very much tailored to the specific platform version so there is no need for anything portable. For the libraries it's different but what the developers mostly do is that they target the lowest OS version they need and bundle that into their libraries. The idea of building X versions of the same library for different OS versions is not what anyone wants to do.

dllmap sol

[2019-02-22 13:57] #33746 closed

[2019-02-22 13:58] marek-safar opened #35519 "System.Xml.XmlCharType size improvements"
System.Xml.XmlCharType has dependency on 64K big binary blob `XmlCharType.bin` to do xml characters type detection. This dependency is hard for illinker to remove and also looks like something what could be implement differently.

There are also static methods like `IsSurrogate` which are just duplicates of `char` methods implementation and could probably be removed completely.

[2019-02-22 14:28] jchang6 opened #35520 "System.Diagnostics.PerformanceCounter"
I am trying to port a dotNet Framework app to Core. On VS 2019 pre3, Core SDK 3.0.100.1081
System.Diagnostics does not have the PerformanceCounterCategory class
any ideas?

[2019-02-22 14:51] roji opened #35521 "ADO.NET metadata/feature/capability discovery API"
There is a need for providers to expose capabilities/features/metadata to ADO.NET API consumers (or upper layers such as Dapper/Entity Framework). As an example, the introduction of a new batching API is now under discussion (#35135), and there's a need for providers to inform users whether the API has been implemented or not.

ADO.NET does have a [database schema and metadata API](https://docs.mi

[2019-02-22 14:54] bluca commented on #33870
This is also a problem on Debian 10, which likewise doesn't ship libssl 1.0 anymore, so vsts universal package downloads do not work as ArtifactTool uses System.Security.Cryptography.Native.OpenSsl.so.

Any ETA on when a new build of the 2.1.x core libraries will be available with this fix?

Thanks!

[2019-02-22 15:06] omajid commented on #33870
#34443 has the `2.1.9` label. So it should get included starting with that release. I don't know when that gets released. Looking at the [release history](https://github.com/dotnet/core/tree/master/release-notes/2.1), probably within a few months? I have had decent success building .NET Core from source (using https://github.com/dotnet/source-build/) with #34443 applied locally. This is what I am

[2019-02-22 15:10] vcsjones commented on #33279
@GrabYourPitchforks I'm happy to pick it up; wanted to know how we should resolve @ahsonkhan's feedback post API Review process.

[2019-02-22 15:10] bluca commented on #33870
Thanks, yes I've managed to build it locally as well, and dropping the updated shared library in vsts' directory works.

[2019-02-22 15:21] eerhardt commented on #31002
We have the API today - `RuntimeEnvironment.GetRuntimeIdentifier()`. So searching for that will show you all the places that use it today.  https://github.com/search?q=RuntimeEnvironment+GetRuntimeIdentifier&type=Code

Here is one example:

https://github.com/dotnet/sourcelink/blob/7a486bfb10e0ccba9d72774c32ffbfeb67886c9b/src/Microsoft.Build.Tasks.Git/GitLoaderContext.cs#L57

That is how the "sour

[2019-02-22 15:31] stephentoub commented on #35309
https://github.com/dotnet/corefx/pull/35522 removes the TaskCompletionSource line and one of the tasks.

[2019-02-22 15:31] stephentoub commented on #35309
https://github.com/dotnet/corefx/pull/35426 removes one of the tasks.

[2019-02-22 15:35] stephentoub commented on #35480
Doing a File.Exists to avoid the exception in most cases seems reasonable, but we should keep the catch blocks as well, just in case.

[2019-02-22 15:50] stephentoub commented on #35479
That's coming from here:
https://github.com/dotnet/corefx/blob/7817a109400b5b22c02ae6667706cda8a7f3d168/src/System.Console/src/System/Console.cs#L93-L96
so the check would be:
[code]

[2019-02-22 16:02] MarcoRossignoli commented on #35520
Are you sure should be here https://github.com/dotnet/corefx/blob/7817a109400b5b22c02ae6667706cda8a7f3d168/src/System.Diagnostics.PerformanceCounter/src/System/Diagnostics/PerformanceCounterCategory.cs#L17

[2019-02-22 16:03] tarekgh commented on #28001
@ViktorHofer is there any push to have these APIs in 3.0?

[2019-02-22 16:15] JWH89 commented on #30760
Customer here, I would love to see this issue resolved. When starting a new project we shouldn't have to check if every workaround is still required. This issue is still very much there and open for quite sometime now and needs to be resolved :)

[2019-02-22 16:15] tarekgh commented on #35508
@terrajobst I assume this is not approved yet. right? or should I assume otherwise.

[2019-02-22 16:18] bartonjs commented on #35508
Right.  Still `api-ready-for-review`.

[2019-02-22 16:38] stephentoub commented on #32174
Are you sure those TCGETS are coming from this code?  I don't see anything on our Console.Write paths that would cause a TCGET.

Presumably so do the `TCGETS`?
https://github.com/dotnet/corefx/blob/7817a109400b5b22c02ae6667706cda8a7f3d168/src/Native/Unix/System.Native/pal_console.c#L124
I'd have expected those to be all of the `TCGETS`, and then to see `TCSETS` coming from:
https://github.com/dotn

[2019-02-22 16:39] AfsanehR commented on #34205
I am going to close this since the fix is now both in master and Release/2.2 branch.  Thank you @stijnherreman for finding this issue 👍

[2019-02-22 16:39] #34205 closed

[2019-02-22 16:43] stephentoub commented on #32174
@tmds, I know you expressed interest before in the whole echo problem.  Any interest in trying to tackle both that and the cursor position caching stuff?  It comes up frequently enough that it really seems like it's causing pain we should try to fix.

[2019-02-22 16:53] ericstj commented on #33508
I'll pick this up.  Multiple folks need this inbox and we don't want them building against corelib to make that happen.  I'll also cleanup the existing projects that took a corelib dependency just for this.

[2019-02-22 16:54] stephentoub commented on #34852
Not really.  Looking back at test failures across all legs for the last 100 days, it's failed 40 times, almost exclusively on Unix (I see one Windows failure on Nano), mostly Amd64, one Arm64, and spread across a wide variety of Unix distros/versions.

[2019-02-22 16:57] stephentoub commented on #34852
That's what I thought, that it's waiting for the finalizer methods to actually finish, in which case I'm not following the comment "it means most likely it's just some finalizer that's not returning"... if the finalizer wasn't returning, wouldn't WaitForPendingFinalizers not return either?

[2019-02-22 16:58] stephentoub commented on #33508
Thank you, Eric.

[2019-02-22 16:58] vancem commented on #34828
I looked into the option of making ActivityTraceId and ActivitySpanId readonly and it works, but I needed System.Runtime.CompilerServices.Unsafe to make it work (I need to break the read-only-ness in the implementation).

I had a complete working implementation, but there was a snag referencing the Unsafe class (see issue #33508).     The current plan is to check in the API above in preview, but t

[2019-02-22 16:58] vancem commented on #33508
Logging the fact that System.Diagnotics.DiagnosticSource want to use this.  See
https://github.com/dotnet/corefx/issues/34828#issuecomment-466467573
for more.

[2019-02-22 16:59] Runamok81 commented on #18276
Adding in my vote for this as well.  Our project had to switch from .NET Core to .NET Framework over this exact limitation.

[2019-02-22 16:59] tarekgh commented on #34852
would it help if we can add some logging to this test and get more information when the test fail?

[2019-02-22 17:00] stephentoub commented on #34852
What would we log?

[2019-02-22 17:02] tarekgh commented on #34852
The state of the finalizes before we timeout. I assume somehow we can get this information.

[2019-02-22 17:05] stephentoub commented on #34852
If the finalizer had run, we wouldn't be blocked.

Maybe the test should just Environment.FailFast, assuming that'll create a dump, and then the dump could be used with lldb/sos to look at what's what.

[2019-02-22 17:07] AfsanehR commented on #35470
Thanks @bricelam I can confirm that this is happening both in .Net Core and .Net Framework.

[2019-02-22 17:07] tarekgh commented on #34852
Yes we need more info. I meant the finalization queue info in my reply and not the test finalizers.

[2019-02-22 17:08] Clockwork-Muse commented on #35420
[Rust has them as well](https://doc.rust-lang.org/std/ops/struct.Range.html), although (like many things in Rust) they're not feature-complete yet.  Eventually you'll be able to use a range to do things like this:

[code]

[2019-02-22 17:09] stephentoub commented on #34852
Got it.  I don't know of a way other than a dump / attaching to the process.

[2019-02-22 17:55] terrajobst commented on #35508
Yep, the intention of this item is to have the conversation with @dotnet/fxdc in the usual forum :-)

[2019-02-22 18:01] jkotas commented on #31002
Lot of the links in this query point to what look like legacy workarounds that should go away, e.g. [this is to support some legacy stuff](https://github.com/Reese-D/my_emacs/blob/34a4651ed52a272ae6ba09333f34f6da0fe3dcb5/.emacs.d/elpa/omnisharp-roslyn/src/OmniSharp.DotNet.ProjectModel/RuntimeEnvironmentRidExtensions.cs). What are the good examples where we expect this API to be used in non-legacy

[2019-02-22 18:02] karelz commented on #34728
@PatrickHofman are you able to reproduce the same problem  with `HttpClient`? `WebClient` is old ancient API for back compat only.

[2019-02-22 18:10] janvorli commented on #32174
Those 4 TCGETS - two are coming from calls to SystemNative_IsATty, one from SystemNative_InitializeConsole and one from SystemNative_GetControlCharacters.

[2019-02-22 18:13] PatrickHofman commented on #34728
@karelz We use `HttpWebRequest` and associated classes. We didn't test with other options. I am mobile now so I can't test now unfortunately.

[2019-02-22 18:15] #34263 closed

[2019-02-22 18:19] stephentoub commented on #32174
And the ones for IsATty and GetControlCharacters are happening on every Console.WriteLine()?  GetControlCharacters should only be called once for the whole process:
https://github.com/dotnet/corefx/blob/c7a4807728206d959e1878242c0bd6d35948fc2d/src/System.Console/src/System/ConsolePal.Unix.cs#L840
and unless the app itself is calling Is*Redirected, I'd expect IsATTy to show up at most three times f

[2019-02-22 18:19] Anipik commented on #32708
Copy of https://github.com/dotnet/corefx/issues/12628

[2019-02-22 18:19] #32708 closed

[2019-02-22 18:21] eerhardt commented on #31002
Can you share an example of how to use these APIs to decide which library to load?

[2019-02-22 18:23] janvorli commented on #32174
I am sorry, I was probably not clear. I meant those 4 calls are per process run, no matter how many console.WriteLine calls are in there (even when there are no calls to those, there are 4 TCGETS calls)

[2019-02-22 18:23] #31468 closed

[2019-02-22 18:24] vitek-karas commented on #31002
https://github.com/dotnet/samples/tree/master/core/extensions/AppWithPlugin
One of the plugins loads `libuv`.

Specifically:
https://github.com/dotnet/samples/blob/1ce45d493deb39e0367028db2542ea96e2dc5f61/core/extensions/AppWithPlugin/AppWithPlugin/PluginLoadContext.cs#L29

[2019-02-22 18:24] stephentoub commented on #32174
Aha!  Yes, that's true.  The world makes sense again :)  I'm also not particularly concerned about those 4 syscalls for the whole process.  It would be nice to eliminate the 2+1 on every Console.CursorLeft/Top, but that goes back to my previous comment: https://github.com/dotnet/corefx/issues/32174#issuecomment-466460581.

[2019-02-22 18:25] Anipik commented on #34492
@rich-zilla do you have any other questions ?

[2019-02-22 18:26] danmosemsft commented on #35519
@marek-safar I imagine there will be many more issues over the next few months relating to linker optimization. How about I create a github project to collect them all.

[2019-02-22 18:28] Anipik commented on #35520
@jchang6 any other questions ?

[2019-02-22 18:30] terrajobst commented on #34822
We decided to include the UTF16/UTF8 suffix for all of them:

[code]

[2019-02-22 18:33] danmosemsft commented on #34492
Processes snapshot the environment variables when they start. Therefore when setting an environment variable with EnvironmentVariableTarget.Machine or EnvironmentVariableTarget.User, other processes do not immediately see the changes. All we can do is send a WM_SETTINGCHANGE message as HWND_BROADCAST. Some more sophisticated apps may recognize this and choose to re-read the environment variables,

[2019-02-22 18:33] #34492 closed

[2019-02-22 18:42] Anipik commented on #34136
@OperatorOverload do you have a repro that runs directly against the native Api ?

[2019-02-22 18:51] #35480 closed

[2019-02-22 18:57] terrajobst commented on #34826
* `RunPosition`
    - We considered swapping `rune` and `startIndex` in the deconstruct method
      to match Go, but decided against it because we also expose `length` and
      the order `startIndex`, `rune`, `length` would be very weird.
    - We should have a constructor that sets all four fields
* `Rune`
    - We should move the enumerate methods to `RunePosition`, which allows
      making t

[2019-02-22 19:09] Foxtrek64 commented on #32959
@danmosemsft Thanks for the info! I'll start on this in a few hours.

[2019-02-22 19:10] janvorli commented on #32174
I have tried to figure out the exact callers of the 5 TCGETS and 2 TCSETS in a single Console.CursorLeft. Here they are:
* TCGETS from SystemNative_InitializeConsoleBeforeRead
* TCGETS from SystemNative_InitializeConsoleBeforeRead
* TCSETS from SystemNative_InitializeConsoleBeforeRead
* TCGETS from SystemNative_InitializeConsoleBeforeRead
* TCGETS from SystemNative_UninitializeConsoleAfterRead
* T

[2019-02-22 19:10] wfurt commented on #34407
I tested this on 16.04 and 18.04 with current master and it worked in both cases. Since it is unlikely IMHO this would meet back-porting bar,  I suggest we close this.

[2019-02-22 19:16] wfurt commented on #32771
Should we consider using TCP keep-alive @geoffkizer?
I know it wont completely fix the race condition but we added it to curl handler to help with getting through firewalls and load-ballancers.

Aside from  that this does not seems actionable and perhaps should be closed?

[2019-02-22 19:22] #32588 closed

[2019-02-22 19:25] tmds commented on #32174
Currently the echoing is turned off and back on, to allow interactive applications (e.g. `Process.Start("nano")`) to have echo on. In https://github.com/dotnet/corefx/issues/25916#issuecomment-432401198 I suggested we can turn off echo by default, and turn it on when we have (possibly) interactive child processes.

I can take a shot at implementing that. I'll also look at the cursor position issue

[2019-02-22 19:32] davidsh commented on #34407
@wfurt

When I validated the repro, I was getting a failure in .NET Core 2.1.6.  Did you get a failure in 2.1.6?

We should understand 1) that we can repro the failure in 2.x, 2) we can show no failure in 3.0 (master), and 3) we understand why/how this is fixed.  Once we have those things understood, then we can close this.

[2019-02-22 19:34] wfurt commented on #35103
BTW I did test and CurlHandler works e.g. gives 200 back.

[2019-02-22 19:35] wfurt commented on #34407
no, I did not test with 2.1. I wanted to see if we need to work on fix. I agree it would be nice to know specific reason/fix.

[2019-02-22 19:38] wfurt commented on #35390
cc @bartonjs for remaining question about stores.

[2019-02-22 19:43] wfurt commented on #33996
cc: @rmkerr since you had fun with unicode recently.

[2019-02-22 20:06] GrabYourPitchforks commented on #33279
It's fine to call the parameter name _span_ IMO. We do this for other APIs which accept `ReadOnlySpan<T>` as a parameter. Check https://apisof.net/catalog/System.MemoryExtensions.IndexOf%3CT%3E(ReadOnlySpan%3CT%3E,T) for one such example.

[2019-02-22 20:11] Maoni0 commented on #34852
ok finally GH is sending me notifications on this issue.

so I don't understand what's going on with this test. I can't tell what's supposed to be alive at all - GC is not in charge of the lifetime here. one thing I can tell you is setting a stack var to null does not guarantee the object it points to is dead. I also dunno why we are so sure it's due to finalization 'cause this test does a lot of

[2019-02-22 20:12] rmkerr commented on #33996
The bug is in the encoding function listed in the original post:

https://github.com/dotnet/corefx/blob/144beee5993051c910410f7e6fd6bdf9cd12e6fa/src/System.Net.Http/src/System/Net/Http/Headers/HeaderUtilities.cs#L86-L92

The foreach loop on line 86 does not consider that individual Unicode scalars may be composed of surrogate pairs. It tries to get the UTF-8 encoding of the high and low surrogates

[2019-02-22 20:13] bartonjs commented on #35390
There shouldn't be any requirement for things to be in an X509Store.  If the certificate was added to the store programmatically I can't think of anything different that might have happened.  If it was added via MMC then perhaps there were intermediates also in the PFX that got also imported; but that would only affect selection (as far as I know) if you had more than one certificate in the Client

[2019-02-22 20:15] marek-safar commented on #35519
@danmosemsft yes, that's very likely. I don't know how you usually do it if via Projects, umbrella issue or something else

[2019-02-22 20:17] danmosemsft commented on #35519
OK, added this to a new project. Feel free to put any others there.

[2019-02-22 20:18] geoffkizer commented on #32771
I don't see how TCP keep-alive would help here. The server is closing the connection because it's decided the connection is idle.

[2019-02-22 20:20] geoffkizer commented on #32771
I'll echo what I said above:

This seems like the best way to investigate further.

[2019-02-22 20:20] wfurt commented on #32771
In some cases I saw, it was not server it self but networking gear along the way. From client tcpdump, you cannot tell the difference.

[2019-02-22 20:26] ajcvickers opened #35527 "Database connection not working on microsoft/dotnet:2.2-aspnetcore-runtime-alpine image"
Moved from https://github.com/aspnet/EntityFrameworkCore/issues/14760 posted by @Jeremiad

Hi,

I'm having issues connecting to MS SQL server db from container using EF. Database server is running on other machine.

This issue is only happening with microsoft/dotnet:2.2-aspnetcore-runtime-alpine docker image but not with microsoft/dotnet:2.2-aspnetcore-runtime image.

[code]

### Steps to reproduc

[2019-02-22 20:27] stephentoub commented on #34852
The test is trying to validate that the Task returned from an async method isn't keeping alive the state machine object or anything referenced from it once the async method completes (we've had multiple issues in the past where it has, and that's problematic, because this Task might be stored somewhere like a cache for a long time, and in doing so keep alive any state it references directly or ind

[2019-02-22 20:28] ajcvickers commented on #35527
Moved from EF since the issue is in the lower layers.

[2019-02-22 20:32] Waleed-KH commented on #34372
@steveharter Thanks for your response.

Yeah I thought of that, that's why I only mentioned the functions that work with`ReadOnlySpan<byte>`, `byte[]` & `string`. But I would like to suggest to name the class `JsonConvert` and put it in the main namespace because this class will be the most used one in these APIs so it would be better if it is in the main namespace not in `Serialization`.

I also

[2019-02-22 20:36] geoffkizer commented on #32771
I honestly don't have a good sense for whether TCP keep alive would help much. I don't know how common it is for a router to drop a connection before the server does. My guess is it's not very common, because servers usually have pretty small connection timeouts (e.g. the default for Apache is 5 seconds).

[2019-02-22 20:37] stephentoub commented on #32174
Well now I'm confused again.  I'll need to look into why that's happening.

Thanks, @tmds.  That sounds like a reasonable approach to try.  It's a little concerning that we'd be tying the console implementation to the process implementation, but I guess that ship has already sailed, in particular around signal handlers.

Thanks!  Caching the position is easy, of course.  I think the harder part is

[2019-02-22 20:37] KKhurin commented on #35319
Why 2 packages: https://github.com/aspnet/Docs/issues/8478#issuecomment-421524172
How to make it work on Xamarin - we'd need to look if its possible (e.g. all the dependencies are there).

[2019-02-22 20:39] Maoni0 commented on #34852
I have no idea if something is keeping the object alive or not. as I said GC isn't in charge of the lifetime here. GC just gets told what should be alive when you call GC.Collect(). I have not seen a single case where the finalizer was not added to the FQ if the object is supposed to be dead. so most likely something is holding the object alive.

[2019-02-22 20:41] stephentoub commented on #34852
I understand that.  My question to you originally was simply "Are there cases where that would be insufficient if the object is definitely unreachable?" :)

[2019-02-22 20:41] stephentoub commented on #34924
Thanks.

[2019-02-22 20:44] safern commented on #34924
I'm waiting for the engineering team to provide me with a machine with helix setup to validate this issue and understand if the issue is libgdiplus version itself or not.

[2019-02-22 20:45] geoffkizer commented on #32771
That said, I *do* think it's worthwhile to understand why libcurl doesn't seem to hit the same issue.

[2019-02-22 20:51] phyde-work commented on #25529
Pinging to see if there is a port to desktop planned anytime soon. I have a website using sql-in memory sessions via binary formatter/serialization that would take a large amount of effort to port to .net core, and this locking issue has bit us a couple times now.

[2019-02-22 20:51] #3034 closed

[2019-02-22 20:53] safern commented on #34718
I did some investigation on this and the reason is because we us shm_open to create the file descriptor that we pass down to mmap. shm_open creates files under `/dev/shm/` which needs elevated permissions for execution. However when running inside docker containers this is not allowed because of the way the containers are being initialized.

There is no action from our side, I've requested the eng

[2019-02-22 21:00] wfurt commented on #32771
can you isolate runable repro @dkhanaferov? I can investigate more.

[2019-02-22 21:06] krwq commented on #35479
Nice! Thank you! I think this can be closed in this case

[2019-02-22 21:06] #35479 closed

[2019-02-22 21:11] geoffkizer opened #35528 "HTTP2: Implement MaxResponseHeadersLength setting"

[2019-02-22 21:12] safern commented on #34855
I just confirmed this is happening because the docker container we run our tests for this flavor is not been executed with --privileged flag. I talked to the engineering team to pass on that flag when running it, once they deploy that fix this should be solved. I'll stay on it to close the issue as soon as it is fixed.

cc: @ulisesh to do the change on their side

[2019-02-22 21:21] Maoni0 commented on #34852
here's the full picture -

if GC discovers the object is unreachable and finalizable, it will be put on the finalizer queue and GC will signal that finalizer thread has work to do.

as soon as that GC is done, finalizer thread is resumed by EE resume.

finalizer thread runs at high priority which means it'll most likely start running right away and will then pull finalizers off of the queue to run

[2019-02-22 21:28] GrabYourPitchforks opened #35530 "Add Rune.TryEncodeToUtf8Bytes"
The API `Rune.TryEncodeToUtf8Bytes` (see [source.dot.net](https://source.dot.net/#System.Private.CoreLib/shared/System/Text/Rune.cs,a25810101a4e6140)) is being added to the `System.Runtime` ref assembly to unblock feature work, but this API was never sent through formal review. We should review it.

Here's the API shape:

[code]

In particular we need to figure out how to normalize the `TryEncode`

[2019-02-22 21:33] Wraith2 commented on #35530
Would it be useful to return `OperationStatus` instead of `bool` so that the method can indicate the reason for failure to the caller? If you're trying to use it with pipelines and you just need to get a bigger buffer it'd be better to retry than fail the entire operations wouldn't it?

[2019-02-22 21:41] GrabYourPitchforks commented on #35530
The only failure reason would be that the buffer is too small. We could return `OperationStatus`, but it wouldn't buy us much.

[2019-02-22 21:43] Wraith2 commented on #35530
If that's the case and there's some way to determine/calculate how much space will be needed that's fine.
Can Utf8 encoding of arbitrary bytes not fail?

[2019-02-22 21:52] danmosemsft commented on #34852
I have no idea what's going on either but we could try running this test in a child process so there is less GC and finalizer queue noise.

Another thing we have done in the past to distinguish "will never happen" from "unusually slow" is to have two timeouts, the second longer, fail if the first one expires, and log whether the second one expired.

[2019-02-22 21:52] GrabYourPitchforks commented on #35530
`Rune` instances have `Utf16SequenceLength` and `Utf8SequenceLength` properties which will tell you the required buffer size.

UTF-8 encoding of arbitrary data can fail, but the `Rune` type does not represent arbitrary data. It represents a well-formed Unicode scalar value. This is validated by `Rune`'s ctors. A well-formed Unicode scalar value will never fail encoding as long as the destination b

[2019-02-22 21:53] janvorli commented on #32174
I have looked at the strace log with stack calls more carefully. I think it will remove the confusion:

* SystemNative_InitializeConsoleBeforeRead calls tcgetattr function
  * TCGETS ioctl syscall
* SystemNative_InitializeConsoleBeforeRead calls tcsetattr function
  * TCGETS ioctl syscall
  * TCSETS ioctl syscall
  * TCGETS ioctl syscall
* SystemNative_UninitializeConsoleAfterRead calls tcsetattr

[2019-02-22 22:08] Wraith2 commented on #35530
Great, thanks for the clarification.

[2019-02-22 22:26] JeremyKuhne commented on #30213
Yes, it is by design that separators are normalized. `Path` is designed to work efficiently with local paths, and expects all input to be in a local path format.

`Uri` "fixes" bad Uris, but clearly doesn't do it consistently. @davidsh can you comment to the "fixup" behavior expectations?

[2019-02-22 22:28] GrabYourPitchforks commented on #34490
I'm resolving this as No Repro since it's not currently actionable by us. If you believe this to be incorrect or you have more information you can add to the report, please reopen and we'll take a look. Thanks!

[2019-02-22 22:28] #34490 closed

[2019-02-22 22:33] #32694 closed

[2019-02-22 22:33] Wraith2 commented on #35527
I think the issue is the same as this one https://github.com/dotnet/corefx/issues/29147

The docker images are designed to be small and don't include i18n libs. This causes the connection to fail somewhere in the login phase but I haven't tracked down exactly where yet, I suspect it's when the environment for the server collation is processed and it tries to create an appropriate default collation

[2019-02-22 22:34] davidsh commented on #30213
@rmkerr Can you please comment on this?

[2019-02-22 22:35] GrabYourPitchforks commented on #29746
@halter73 Is this still affecting you?

[2019-02-22 22:36] JeremyKuhne commented on #30627
We can't change this unfortunately as it would cause pretty big breaks (as pointed out). You can create a custom comparer (`IEqualityComparer<DriveInfo>`) if you want to get custom comparison in `Dictionary<TKey, TValue>`, etc.

[2019-02-22 22:36] #30627 closed

[2019-02-22 22:37] David-Engel commented on #30602
Closing this issue assuming the above answer was sufficient. The referenced ODBC driver must be installed along with its dependencies (unixODBC) on the system running the application.

[2019-02-22 22:37] #30602 closed

[2019-02-22 22:37] JeremyKuhne commented on #30701
@anipik I think it's fine to mark ready for review whenever you're ready.

[2019-02-22 22:38] JeremyKuhne commented on #30848
Resolving this as #30861 tracks creating an API for this.

[2019-02-22 22:38] #30848 closed

[2019-02-22 22:39] JeremyKuhne commented on #30945
As stated, this was by design.

[2019-02-22 22:39] #30945 closed

[2019-02-22 22:41] danmosemsft commented on #35343
@Deni35 we're open to improvements if they are clearly better. Could you find one or two *real-world* examples, and show what they look like before and after your proposal? They could be from other issues or elsewhere but I think it would be best to look at real ones.

[2019-02-22 22:43] JeremyKuhne commented on #30910
As `packages.config` is depreciated and this has a workaround, closing.

[2019-02-22 22:43] #30910 closed

[2019-02-22 22:45] danmosemsft commented on #35443
Is this a broader issue? It is probably not worth doing something special just to show "ref emit is not supported"..

[2019-02-22 22:45] halter73 commented on #29746
I forgot all about this. I don't think I've seen this in the past 6 months or so.

[2019-02-22 22:47] wtgodbe commented on #34099
Closing as dead

[2019-02-22 22:47] #34099 closed

[2019-02-22 22:48] GrabYourPitchforks commented on #30257
@stephentoub @bartonjs Are you still seeing that this test is flaky?

[2019-02-22 22:48] GrabYourPitchforks commented on #29746
All I needed to hear. :)

[2019-02-22 22:48] #29746 closed

[2019-02-22 22:50] wtgodbe commented on #33873
@jwang98052 are you still having issues with this? If so, attaching a binlog will make it much easier for us to diagnose the problem

[2019-02-22 22:50] danmosemsft commented on #35504
You should be able to have a single project, with
`<TargetFrameworks>netcoreapp30;net461</TargetFrameworks>`

[2019-02-22 22:52] wtgodbe commented on #33674
Hey @crntn, are you still having issues with this?

[2019-02-22 22:53] rmkerr commented on #30213
We do OS specific handling of file paths. Unfortunately it's been a bit of a pain point recently, especially on Unix. I assume what's happening here is that some Unix specific code is interacting poorly with the special handing we have for Windows file paths, and the whole thing is falling over.

I would absolutely second that. If possible, avoid using Uri for file paths. Especially on Unix, where

[2019-02-22 22:54] ajcvickers commented on #31246
This is not something that we plan to implement. However, we would consider a well-written community PR to allow this. Keep in mind that any changes here must be 100% non-breaking to existing code.

[2019-02-22 22:54] #31246 closed

[2019-02-22 22:57] wtgodbe commented on #31193
@hughbe is the solution proposed by https://github.com/dotnet/corefx/issues/31193#issuecomment-451652660 satisfactory?

[2019-02-22 22:57] #31531 closed

[2019-02-22 22:57] halter73 commented on #29746
You can probably also close #28819.

[2019-02-22 22:58] safern commented on #34957
Corefx is already publishing from official builds -- @mikem8361 would you mind adding some docs on how to consume this assets for other repos to do so?

[2019-02-22 22:58] wtgodbe commented on #30714
@sbomer did you get a chance to take a look at this?

[2019-02-22 22:59] halter73 commented on #28819
I haven't seen this in the last several months.

[2019-02-22 22:59] #28819 closed

[2019-02-22 22:59] wtgodbe commented on #30594
Sounds like this is resolved, closing.

[2019-02-22 22:59] #30594 closed

[2019-02-22 23:00] JeremyKuhne commented on #31265
I'm not opposed to having additional members, but I would want to see more feedback to justify the value here. It is relatively trivial to derive from `BinaryReader` and create an `EndianReader` and your code would be portable.

[2019-02-22 23:01] ajcvickers commented on #32740
This is not something we plan to implement. The check is intentionally naive because doing something infallible is very hard. The email really should be validated in some other way, such as through an email confirmation flow where an email is actually sent. The validation attribute is designed only to catch egregiously wrong values such as for a U.I.

[2019-02-22 23:01] #32740 closed

[2019-02-22 23:02] ajcvickers commented on #32813
This is not something we plan to implement.

[2019-02-22 23:02] #32813 closed

[2019-02-22 23:04] ajcvickers commented on #32876
@divega We should do this for 3.0. Agreed?

[2019-02-22 23:05] JeremyKuhne commented on #31645
This needs a formal API proposal. As mentioned above, I'm also fine with removing the enum checks if anyone wants to tackle that.

[2019-02-22 23:05] #32988 closed

[2019-02-22 23:05] JeremyKuhne commented on #31823
Reopen if this happens again.

[2019-02-22 23:05] #31823 closed

[2019-02-22 23:06] ajcvickers commented on #33107
Closing as dupe of https://github.com/dotnet/corefx/issues/33643

[2019-02-22 23:06] #33107 closed

[2019-02-22 23:08] JeremyKuhne commented on #32008
To summarize, to avoid grief with path combining:

1. Use `Path.Join` over `Path.Combine`.
2. Never pass a local path to `Uri` without calling `Path.GetFullPath()` on it first.

[2019-02-22 23:08] #32008 closed

[2019-02-22 23:09] grant-d commented on #31011
I submitted the above PR, using the suggested comparison but moving it outside the loop to make it cheaper:
[code]

[2019-02-22 23:10] ajcvickers commented on #33724
@cycbluesky Because guidance is to seal all attributes, since this can greatly improve perf when looking for them. However, some of the "newer" annotations were not sealed because the advantage of being able to derive from them was considered to be more valuable. That being said, we do not plan to go back and change any attributes to unseal them since they were original designed with this perf in

[2019-02-22 23:10] #33724 closed

[2019-02-22 23:12] cston commented on #32523
@vermorel, thanks for reporting this. However, System.Linq.Expressions is not being actively developed at this time, see https://github.com/dotnet/corefx/issues/33170.

cc @jaredpar

[2019-02-22 23:12] #32523 closed

[2019-02-22 23:12] ajcvickers commented on #33767
@Liero This is not something we plan to implement. However, we would consider a community PR. Keep in mind that it must be 100% non-breaking to existing code.

[2019-02-22 23:38] ajcvickers commented on #33831
This is not something we are planning to implement.

[2019-02-22 23:38] #33831 closed

[2019-02-22 23:40] ajcvickers commented on #2093
Closing this since we do not plan to implement.

[2019-02-22 23:40] #2093 closed

[2019-02-22 23:42] ajcvickers commented on #4942
This is not something we plan to implement. However, a 100% non-breaking community contribution would be considered.

[2019-02-22 23:42] #4942 closed

[2019-02-22 23:42] ajcvickers commented on #6830
Closing since we do not plan  to implement this.

[2019-02-22 23:42] #6830 closed

[2019-02-22 23:45] ajcvickers commented on #8201
Removing this from data-annotations area because there is currently nothing actionable by the area owners. We would be happy to do the work here, but without clear guidance from people who know about these things there is nothing we can currently do. Also happy to close if the value is not high enough to get such guidance.

[2019-02-22 23:46] roji opened #35535 "ADO.NET factory methods should throw instead of returning null"
Some ADO.NET APIs create objects which not all providers support. For example, `DbProviderFactory.CreateCommandBuilder()` returns a `DbCommandBuilder`, but some providers don't support this functionality (e.g. SQLite if I'm not mistaken, @bricelam). The current implementation for all the methods on DbProviderFactory is [to return null by default](https://github.com/dotnet/corefx/blob/master/src/Sy

[2019-02-22 23:46] roji commented on #35535
/cc @divega @bricelam @NickCraver @mgravell

[2019-02-22 23:47] ajcvickers commented on #9750
This is not something we plan to implement. We _might_ consider a community PR for it, but it would deviate the behavior in .NET Framework and .NET Core, and I'm not sure the value is worth that. For EF Core mappings, we would consider it as a [new attribute](https://github.com/aspnet/EntityFrameworkCore/issues/10864).

[2019-02-22 23:47] #9750 closed

[2019-02-22 23:49] ajcvickers commented on #10149
This is not something we plan to implement. We might consider a community PR to implement such an attribute, but keep in mind it would be available on .NET Core only.

[2019-02-22 23:49] #10149 closed

[2019-02-22 23:51] ajcvickers commented on #11044
Closing this as it's not something we plan to implement. We would consider a PR (100% non-breaking) but keep in mind that any new functionality will deviate the behavior from the .NET Framework.

[2019-02-22 23:51] #11044 closed

[2019-02-22 23:51] ajcvickers commented on #13280
Closing per previous message since we don't plan to implement this.

[2019-02-22 23:51] #13280 closed

[2019-02-22 23:52] benaadams commented on #35535
Would that be a breaking change? https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/breaking-change-rules.md#exceptions

/cc @terrajobst

[2019-02-22 23:53] ajcvickers commented on #21534
Closing this as something we are not going to implement. If it can be done in a 100% non-breaking way, then we might consider a community PR. However, keep in mind that this will cause deviation in behavior between .NET Framework and .NET Core.

[2019-02-22 23:53] #21534 closed

[2019-02-22 23:54] ajcvickers commented on #24064
Closing this as we don't plan on making any changes here.

[2019-02-22 23:54] #24064 closed

[2019-02-22 23:55] ajcvickers commented on #27820
Closing this as we don't plan to implement and changes here. However, see #25128

[2019-02-22 23:55] #27820 closed

[2019-02-22 23:56] ajcvickers commented on #27963
Old. Not planning on doing any work here.

[2019-02-22 23:58] ajcvickers commented on #28501
Closing this as we don't plan to make any changes to the email validation.  See https://github.com/dotnet/corefx/issues/32740#issuecomment-466578595

[2019-02-22 23:58] #28501 closed

[2019-02-22 23:58] ajcvickers commented on #29373
This is not something we plan to port unless there is significant demand for it.

[2019-02-22 23:58] #29373 closed

[2019-02-22 23:59] ajcvickers commented on #29966
Closing as this is not something we plan to implement.

[2019-02-22 23:59] #29966 closed

[2019-02-23 00:01] JeremyKuhne commented on #32082
The handle relative APIs may make things more speedy, which is precisely why I use them for enumeration on Windows. They also help keep context if the parent directory structure gets modified, so that's a small bonus. I'm perfectly fine with switching to handle relative where possible **if** it makes things faster, but this doesn't make things atomic. You could just as easily modify a subsequent s

[2019-02-23 00:02] ajcvickers commented on #4481
Closing as this is not something we plan to implement.  We would consider a community PR.

[2019-02-23 00:02] #4481 closed

[2019-02-23 00:03] JeremyKuhne commented on #32098
If the buffer size configuration doesn't give enough headroom we can further explore adding complexity to the API that lets you provide the "native" filter. Unless we see strong need I'd prefer not to as that will undoubtedly be very difficult to grok.

[2019-02-23 00:06] JeremyKuhne commented on #32550
Closing. If more data comes up that addresses @stephentoub's comments we can reopen and re-evaluate.

[2019-02-23 00:06] #32550 closed

[2019-02-23 00:08] safern commented on #34855
It seems like this is no longer an issue in the latest official build: https://mc.dot.net/#/user/dotnet-mc-bot-2/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190222.5

[2019-02-23 00:08] #34855 closed

[2019-02-23 00:10] safern commented on #34718
No longer an issue in the latest official build: https://mc.dot.net/#/user/dotnet-mc-bot-2/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190222.5

[2019-02-23 00:10] #34718 closed

[2019-02-23 00:12] JeremyKuhne commented on #32982
Unfortunately yes. As stated, we cannot change things like this as existing code will be dependent on the way the current `Path` APIs interact with trailing separators. We can't change the `Path` APIs handling of the separators as that would break even more apps. What we can potentially do is add **new** APIs that help to reduce confusion. We did just that for `Path.Join` (over `Path.Combine`).

I

[2019-02-23 00:13] cston commented on #33728
@gunars-skangals, the type of the value expression in `Expression.Bind(member, value)` must match the member type. Using `Expression.Convert(valueToAssignExpr, typeof(long?))` should work.

[2019-02-23 00:13] #33728 closed

[2019-02-23 00:18] dotnet-mc-bot opened #35536 "Test failure: System.IO.MemoryMappedFiles.Tests.MemoryMappedViewAccessorTests/ValidAccessLevelCombinations(mapAccess: ReadWriteExecute, viewAccess: ReadExecute)"
Opened on behalf of @wfurt

The test `System.IO.MemoryMappedFiles.Tests.MemoryMappedViewAccessorTests/ValidAccessLevelCombinations(mapAccess: ReadWriteExecute, viewAccess: ReadExecute)` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190222.2 (Core Tests)
Failing configurations:
- Ubuntu.1604.Arm64-arm64
  - Release

[2019-02-23 00:19] wfurt commented on #35536
failing consistently on current master.

[2019-02-23 00:20] JeremyKuhne commented on #34068
Yes, this is expected behavior. It is an unfortunate gotcha and we don't have a great way to mitigate it. Adding `FileAttributes.Invalid` might be possible, but we'd still have to deal with the fact that you need to check for it.

[2019-02-23 00:20] #34068 closed

[2019-02-23 00:20] roji commented on #35535
@benaadams the current methods don't throw any exceptions, so methods which previously returned a null (which could be checked) would now start throwing NotSupportedException - I think that's a breaking change, no?

[2019-02-23 00:22] #34297 closed

[2019-02-23 00:23] dotnet-mc-bot opened #35537 "Test failure: System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_SslProtocols_Test/GetAsync_AllowedSSLVersion_Succeeds(acceptedProtocol: Ssl3, requestOnlyThisProtocol: True)"
Opened on behalf of @wfurt

The test `System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_SslProtocols_Test/GetAsync_AllowedSSLVersion_Succeeds(acceptedProtocol: Ssl3, requestOnlyThisProtocol: True)` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190222.4 (Core Tests)
Failing configurations:
- Windows.10.Amd64.Core-x64
  - Release
- Windows.10.Amd64.Core-

[2019-02-23 00:24] wfurt commented on #35537
related to #28790. We should find proper way how to run sslv3 tests conditionally.

[2019-02-23 00:26] tarekgh commented on #35441
CC @stephentoub

[2019-02-23 00:27] wfurt commented on #29779
This is now consistenly failing on OSX 10.14. Any thought on this @bartonjs ?

https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190222.4/workItem/System.Security.Cryptography.X509Certificates.Tests/analysis/xunit/System.Security.Cryptography.X509Certificates.Tests.CertTests~2FTestVerify

[2019-02-23 00:30] bartonjs commented on #35040
It turns out, I remembered wrong.  If AllowUnknownCertificateAuthority is set then Windows returns success for PartialChain.

Based on a side discussion this was a case where there's no AIA record indicating where the issuer  could have been located, so it's effectively entirely a machine (or CA) configuration problem.

[2019-02-23 00:30] #35040 closed

[2019-02-23 00:31] wfurt commented on #35537
5 more failing tests: https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190222.4/workItem/System.Net.Security.Tests

This is probably biggest reason for failures now.
cc: @rmkerr

[2019-02-23 00:36] bartonjs opened #35538 "Expose X509SubjectAlternativeNameExtension (or a reasonable facsimilie thereof)"
Users who want to inspect Subject Alternative Names do so by parsing the output of X509Extension.Format, which is not consistent across cultures or operating systems.

One possible approach is just expose GeneralName and be transparent about the SEQUENCE.  But what most scenarios probably want is something more like `cert.MatchesHost(string)` (so there's at least a consistent interpretation of wil

[2019-02-23 00:36] wfurt opened #35539 "System.Diagnostics.Tests.DiagnosticSourceTest.AllSubscriberStress blocking test runs on ARM64"
We get catastrophic failure in CI.

[code]

[2019-02-23 00:37] stephentoub commented on #32174
Ah, so a single call to tcsetattr makes 3 syscalls.

[2019-02-23 00:38] bartonjs commented on #34835
I created #35538 for "we need better API here".

The problem, as already identified, is that the output of Format isn't consistent across OSes (it also isn't consistent across different user cultures on Windows); so the text parser just didn't match.

[2019-02-23 00:38] #34835 closed

[2019-02-23 00:39] JeremyKuhne commented on #33603
We're sort of stuck here due to the nature of file deletion on Windows as described. I know that Windows is looking at changing the deletion behavior to _immediately_ remove files from the namespace on deletion. It is a tricky thing to do as there is almost certainly code that actually depends on the current Windows behavior.

I believe we'd be more likely to introduce performance or reliability r

[2019-02-23 00:45] divega commented on #32876
@ajcvickers Yes. Sounds good.

[2019-02-23 00:47] stephentoub commented on #30257
The test is disabled: https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Security.Cryptography.Pkcs/tests/SignedCms/CmsSignerTests.cs#L15

[2019-02-23 00:48] JeremyKuhne commented on #34265
It could, but I felt it was more likely to bite people long term as it is inconsistent with the other APIs. Additionally it used to throw for just spaces as well, which is actually legitimate for xplat scenarios. I have an active issue on the docs: https://github.com/dotnet/dotnet-api-docs/issues/1685

[2019-02-23 00:48] #34265 closed

[2019-02-23 00:49] bartonjs commented on #29779
Presumably the "some later date" from https://support.apple.com/en-us/HT208860 has come and Apple doesn't trust `Symantec Class 3 EV SSL CA - G3` anymore.

The testResults.xml should have a log of the failure reasons, if you happen to be able to dig it up.

[2019-02-23 00:54] JeremyKuhne commented on #34221
What is up for grabs here is making an official proposal. Part of that proposal could (and probably should) include some level of a sample PR.

[2019-02-23 00:57] JeremyKuhne commented on #34469
This might be better addressed in asp.net

[2019-02-23 01:01] JeremyKuhne commented on #34992
We can't really add this, but need to consider this problem with any overhaul we do. Ideally we get rid of position as a contained state entirely- as pointed out it is strongly encouraged to have APIs always take expected position.

[2019-02-23 01:03] danmosemsft commented on #34297
If anyone interested enough in this API creates a NuGet package, please do share a link here for everyone else.

[2019-02-23 01:05] stephentoub commented on #35539
Most likely hitting the 10 minute timeout.

[2019-02-23 01:06] danmosemsft commented on #33141
Seems by design.

[2019-02-23 01:06] #33141 closed

[2019-02-23 01:07] danmosemsft commented on #33026
Do you want to propose a PR?

[2019-02-23 01:07] stephentoub commented on #35536
This looks like https://github.com/dotnet/corefx/issues/34718 that @safern just closed.

[2019-02-23 01:08] danmosemsft commented on #34361
If this is unavoidable OS vagaries, we could make the test retry a few times.

[2019-02-23 01:11] safern commented on #35536
Exactly the same issue. On last official build run, all System.MemoryMappedViewAccessorTests are fixed. Since they run inside a docker container the /dev/shm/ mount didn't have permissions to exec in it. We just fixed it by creating a docker temp mount pointing to that path, with exec permissions.

[2019-02-23 01:11] #35536 closed

[2019-02-23 01:14] kouvel commented on #35500
There is also this related request: https://github.com/dotnet/corefx/issues/34277. Perhaps we could also add properties like `PendingLocalWorkItemCount` and `PendingGlobalWorkItemCount` in addition. In CoreCLR the global one can include work items from the unmanaged side. As for "local"/"global", that distinction in naming and behavior is already there in a `QueueUserWorkItem` overload. The total

[2019-02-23 01:18] kouvel commented on #35229
These APIs are part of netstandard, so perhaps the warning should only occur when compiling for netcoreapp and not for netstandard, such that when compiling for runtimes that may support it would not warn. Not sure how exactly that would work but it may be possible.

[2019-02-23 01:20] kouvel commented on #35229
Would be nice to have some kind of tool anyway that would give compat warnings if not the compiler.

[2019-02-23 01:21] wfurt commented on #29779
[code]

[2019-02-23 01:22] wfurt commented on #29779
[testResults.xml.TXT](https://github.com/dotnet/corefx/files/2896334/testResults.xml.TXT)

[2019-02-23 01:24] wfurt commented on #35539
I'll try to run it without limit and see how long does it take.
For now, I was primarily trying to add tracking for tests failing daily in CI.

[2019-02-23 01:25] joshudson commented on #32082
Somebody adding another file while recursive destroy is running is not a successful exploit. Somebody tricking it into leaving the target tree altogether is. This can only be done with symbolic links.

[2019-02-23 01:54] Anipik commented on #33060
@danmosemsft Currently the error message is
```The description for Event ID {0} in Source {1} cannot be found.  The local computer may not have the necessary registry information or message DLL files to display the message, or you may not have permission to access them.  The following information is part of the event:```

The way the code is structured is that we can supply multiple message dlls p

[2019-02-23 02:14] richlander commented on #35361
FYI: I updated the issue with an actual proposal.

[2019-02-23 02:18] bartonjs commented on #34584
This is fixed in 3.0 now.

[2019-02-23 02:18] #34584 closed

[2019-02-23 02:26] ahsonkhan commented on #33508
Fixed in https://github.com/dotnet/corefx/pull/35526

[2019-02-23 02:26] #33508 closed

[2019-02-23 02:57] #35456 closed

[2019-02-23 03:10] danmosemsft commented on #33060
I think the main all was to not prepend "the message resource is present but the message is not found in the string/message table" since other than that it all works?

[2019-02-23 04:07] ahsonkhan commented on #33279
Granted, that's an extension method. I think either `span` or `buffer` is fine as long as we are consistent.

[2019-02-23 04:19] jkotas commented on #35514
If the performance is not a factor, then we can pass Stream everywhere and be done with it. No?

My understanding was that the reason for doing this is performance. Pipelines have a lot of overlap with streams. The added value of pipelines over System.IO.Stream is cooperative buffer management protocol that allows you to avoid a memory copy and throttle amount of buffering. Both these are performa

[2019-02-23 04:19] chukunx commented on #35515
ah i see, it make sense. i evaluated the statement in a wrong order as `_array.Length * (GrowFactor / 100)`, with which the fractional growth wouldn't work. but yes as you mentioned, the GrowthFactor can be directly set to a desired constant value here.

[2019-02-23 04:21] JeremyKuhne commented on #32082
I meant adding another symbolic link. If you have a directory with `A`, `B`, `C`, ... `Z` entries you can easily replace `C` with something else while we're working through `A` & `B` (or entry 100, etc.). Why not just replace link `E` with another symbolic link to another location if you already have rights to do so? Why not do it even before you start deleting? And what guarantees that entry `Z`

[2019-02-23 04:23] jkotas commented on #35514
IMHO, the difference has more to do with the fact that this code was written for pipelines first and stream second. If it was done the other way around, the pipelines code would be more complex and the streams code would be simpler.

[2019-02-23 04:28] davidfowl commented on #35514
We already have streams everywhere. Performance is a factor but I don’t want this discussion to turn into streams vs pipelines.

Instead I’d like to discuss and agree on a couple of things:
- The pipelines *abstraction* adds value (cooperative buffer management)
- We should add support for it in various places in the BCL (For example we need a StreamReader and StreamWriter equivalent for PipeReade

[2019-02-23 05:03] jkotas commented on #35520
You need to add a reference to System.Diagnostics.PerformanceCounter package. It is not reference it by default. We are providing this package to ease migration from .NET Framework. We do not recommend its use for new code.

[2019-02-23 05:03] #35520 closed

[2019-02-23 05:19] jkotas commented on #35514
Fair enough. So this issue should rather be called: "Decide on guidelines for using pipelines abstractions in netcoreapp".

[2019-02-23 05:40] micampbell commented on #35434
I am proposing that a Cross Product function be added to both `Vector2` and `Vector4` of System.Numerics because its use in geometry is so common.
###Rationale and Usage
The structs, `Vector2`, `Vector3`, and `Vector4` are intended to model geometry functions that often need to be performed quickly and which would greatly benefit from SIMD inlining. Dot Product is just as popular and it is properl

[2019-02-23 05:52] tannergooding commented on #35434
@micampbell thanks!

I have updated the original post and marked this as `ready-for-review`. At some point in the future (depending on reviewer availability and the location of this issue in the general backlog), this will go to API review and either be approved, rejected, or marked as "needs more work".

[2019-02-23 07:21] #31099 closed

[2019-02-23 07:26] jkotas commented on #35361
This is all fixed now.

[2019-02-23 07:26] #35361 closed

[2019-02-23 08:03] vermorel commented on #33170
I disagree with the maturity status of `System.Linq.Expressions`: this package does not support any of the recent .NET constructs like `Span<T>`, `stackalloc` and `ref struct`.

[2019-02-23 08:13] MichelLaplane commented on #10149
Sorry for my Newbie question but What is a community PR?

[2019-02-23 08:40] hanabi1224 opened #35544 "Process.Handle does not work on Linux like it does on Windows"
When targeting to netcoreapp2.0, below code works fine on windows but not linux,  WaitHandle.WaitAll returns immediately on linux instead of waiting for process to actually exit.  Is this bug or by design?

        static void Main(string[] args)
        {
            Process p;
            if (Environment.OSVersion.Platform == PlatformID.Win32NT)
            {
                p = Process.Start("t

[2019-02-23 09:12] mgravell commented on #35535
Sounds undesirable and breaking to me. If it was being done like this in the first place: fine, but after the fact? not good IMO. Personally I'd be OK with making it return an advertised nullable reference, as long as that only impacts people who have opted in to nullable testing. Just my tuppence.

[2019-02-23 09:15] mgravell commented on #35535
Follow up question that may change things: is the common pattern here to just **override**? Or is it to redeclare/hide (`new`) the method and `override` *another* method? The latter pattern is very common in ADO.NET, and if it is the case here: no problem. Subclasses that hide the method can advertise it as non-nullable, and if you're talking to the base class: you should already be testing.

[2019-02-23 09:19] mgravell commented on #35441
Side note: the only awkward bit I can see here is what to do if someone uses `default`/`new()` on the struct type. Meaning: should extra code be added so that anything that touches `m_task.Whatever()` becomes `(m_task ?? ThrowNRE().Whatever())`

[2019-02-23 10:00] #31313 closed

[2019-02-23 10:06] #35515 closed

[2019-02-23 11:16] am11 commented on #34633
The bottom-most function, where CoreCLR calls `dlopen`, simply uses `RTLD_LAZY` flag: https://github.com/dotnet/coreclr/blob/7760228/src/pal/src/loader/module.cpp#L1485. Would it make sense to have it documented in XML comments of [`Load` and `TryLoad` methods](https://github.com/dotnet/coreclr/blob/2c61b985c0513d9a70eee7221fa15910e7003d16/src/System.Private.CoreLib/src/System/Runtime/InteropServi

[2019-02-23 13:39] Jeremiad commented on #35527
@Wraith2 Yes, seems to be same issue. And this workaround https://github.com/dotnet/corefx/issues/29147#issuecomment-399375323 is also working for me.

[2019-02-23 14:22] jchang6 commented on #35504
Visual Studio 2019 does not let me have both in there, but I can do one at a time, which works for me, thanks!

[2019-02-23 14:23] jchang6 commented on #35504
Visual Studio 2019 does not let me have both in there, but I can do one at a time, which works for me, thanks!

[2019-02-23 14:23] #35504 closed

[2019-02-23 14:33] Liero commented on #33767
I will do PR. To which branch should I request, please?

[2019-02-23 15:11] harish-kumar13 commented on #34124
was the new error type created in CoreLib and Used to throw? or is this still up for grabs by the community?

[2019-02-23 15:17] twsI commented on #32976
Can confirm the issue for self signed certificates in docker containers.
Create two ASP.NET Core 2.2 projects and let VS create two self signed developer certificates (or do it manually and adjust the secrets.json), then request any site via their external ip, same error

[2019-02-23 15:33] MichalStrehovsky commented on #34124
Yes, it was done in the pull requests referenced above. What's left is to expose it from a contract in this repo and to add a test.

[2019-02-23 15:49] OperatorOverload commented on #34136
@Anipik I started working on it, but I'm pretty rusty on native, and the API here seemed to require a lot of prep that I haven't been able to find good documentation on, so I haven't made a ton of progress.  I may be able to revisit in the next week.

[2019-02-23 15:58] jkotas commented on #34633
I think it should be sufficient.

`System.Drawing.Common` is built as a package that targets netcoreapp2.0. `Libdl.dlopen` would need to stay for the build that targets netcoreapp2.0.

[2019-02-23 16:49] rikimaru0345 opened #35547 "How to emulate Expression.This() when using CompileToMethod"
I'm using `System.Linq.Expressions` to implement formatters (serializers) for any type T.
At runtime everything works fine, but now I want to support IL2CPP (Unitys ahead-of-time compiler).
So I thought I'd just get a list of all types to be serialized in my serializer, and then compile those expressions using `CompileToMethod` and then saving them in an assembly.
That way - for IL2CPP - no code h

[2019-02-23 17:59] divega commented on #35535
@mgravell that pattern is not used in DbProviderFactory implementations, at least not commonly. But on the other hand, I know of very few (only one actually) provider implementations that don’t override all the required methods.

[2019-02-23 18:46] ajcvickers commented on #10149
@MichelLaplane
* Community => Some external person as opposed to a Microsoft person
* PR => Pull Request; the mechanism whereby changes are submitted to a Git repository

[2019-02-23 18:47] YairHalberstadt commented on #35443
I think this is a broader issue, as I explain in the issue I raised on the docs repository: https://github.com/dotnet/docs/issues/10576

[2019-02-23 18:49] ajcvickers commented on #33767
@karelz @danmosemsft Which branch should be targeted by community PRs?

[2019-02-23 19:08] #29680 closed

[2019-02-23 19:13] Wraith2 commented on #33767
As far as I know everything should be against master and can then be backported to other branches as needed.

[2019-02-23 19:57] bartonjs commented on #32976
@twsI Any self-signed certificate would certainly be considered untrusted (unless you manually trusted it)...

[2019-02-23 22:05] AlexeiScherbakov commented on #33115
May be better make something like unified mapping assembly ('System.Text.Json.Mapping') where define attributes and other stuff for mapping JSON to C# classes? After implementing this thing all existing JSON Parsers/Writers can be adopted to use unified mapping. It will give ability for all .NET Standard applications to migrate between different JSON libraries without any pain

[2019-02-23 22:15] poke commented on #33115
@AlexeiScherbakov New abstractions don't actually help that much. You will just limit yourself again by choosing a common abstraction and there will always be new libraries that cannot use the abstraction and require more. It has always been that way, e.g. [with logging](https://nblumhardt.com/2016/04/which-logging-abstraction-should-i-use/).

I don't think creating a new abstraction based off thi

[2019-02-24 04:30] phillip-haydon commented on #33115
Other than an ignore attribute we can not have a billion new attributes and scenarios to cater for. Would rather 1:1 mapping of JSON to classes, if you want to do anything out of the norm or support legacy, use json.net.

[2019-02-24 05:39] krwq opened #35550 "stackalloc initializer loses value during initialization"
Not sure which part of the stack is broken - perhaps I'm missing something obvious but feels like my value should not get lost

[code]

Expected output:

[code]

Actual output:

[code]

Seems like repros for length 4-8 (perhaps larger range)

This works as expected:

[code]

Repros on https://try.dot.net/ also my local box with sdk 2.1.403

Also repros when foo is not on the stack (i.e. a property

[2019-02-24 06:57] saucecontrol commented on #35550
Looks like a Roslyn issue.  This:

[code]

compiles to:

[code]

From what I can tell, if there are no non-0 literals in the initializer and at least 3 0's, `initblock` is emitted, and the other values are ignored (note arg0 doesn't show up anywhere in the IL).  Less than 3 0's or any non-0 literals, and the IL comes out right.  Doesn't matter where the 0's are or how many beyond 3.

[2019-02-24 07:28] saucecontrol commented on #35550
Addressed in https://github.com/dotnet/roslyn/issues/29092

[2019-02-24 07:31] krwq commented on #35550
how do i check which version of compiler was used to produce the binary? is there commit hash somewhere there perhaps in the metadata? perhaps we should update roslyn everywhere?

[2019-02-24 07:54] wesley-pattison commented on #34407
I'm currently facing this problem on AKS when trying to send emails through `in-v3.mailjet.com:587`

In my Docker File I use
`FROM microsoft/dotnet:2.2-sdk AS build` and `FROM microsoft/dotnet:2.2-aspnetcore-runtime AS runtime`. Our images are built in Azure DevOps building on a hosted linux agent.

Exception thrown: `System.Security.Authentication.AuthenticationException: The remote certificate i

[2019-02-24 09:09] am11 commented on #34407
About v2.1 series of dotnet SDK Docker:

* 2.1.403 was released on October 2.
* 2.1.500 was released on Nov 13.
* the latest is 2.1.504 was released on Feb 12.

https://github.com/dotnet/dotnet-docker/commits/master/2.1/sdk/bionic/amd64/Dockerfile

We can delete/renew docker cache by using one of the methods:

* executing `docker system prune`
* executing `docker rm $(docker ps -aq) ;  docker rmi

[2019-02-24 12:28] dbarkwell commented on #34892
According to the [Zip file format specification](https://pkware.cachefly.net/webdocs/casestudies/APPNOTE.TXT) a Zip file must contain an "end of central directory record" but only contains a "local file header" if a file exists. A Zip file with an "end of central directory record" and no "local file header" is considered an empty Zip file.

The "end of central directory record" ends with a variabl

[2019-02-24 13:12] riverar commented on #34892
In the cases:
* where there are no files (a valid zip), the file should start with the "end of central dir signature" (`0x06054b50`)
* where there are files, the file should start with a "local file header signature" (`0x04034b50`)

A 4-byte check at the start would save a lot of trouble... but it comes at a cost (I/O and compatibility). For the latter, consider the case:

[code]

An executable co

[2019-02-24 13:13] dzmitry-lahoda commented on #35419
@fanol, it seems all other operations are here https://github.com/k2workflow/Clay/blob/master/src/SourceCode.Clay/BitOps.cs . Seems developer of proposal owns that repo and maintains all other operations here. I will use it, until will be able  to swap to corefx implementations (hopefully with zero changes).

[2019-02-24 16:01] Dixin opened #35552 "Proposal (& implementation): LINQ APIs for C# 8.0 index and range syntax"
C# 8.0 introduces index and range features. It is natural and convenient to support index and range in LINQ. I looked at the API review notes https://github.com/dotnet/apireviews, didn't find such APIs, so propose it here.

# Rationale and usage

Currently, the index and range work with array. The goals to work with LINQ are:
- Use index to locate an element in sequence, use range to slice sequenc

[2019-02-24 16:33] 2E0PGS commented on #34437
Just building a new corefx now to test it against a CLI app.

[2019-02-24 16:37] 2E0PGS commented on #34437
Ok this commit works well: https://github.com/2E0PGS/corefx/commit/56e73858adb046b57165eae44af111d64e2fcd98

Test CLI program output:
[code]

No missing process names now.

[2019-02-24 18:11] mrange commented on #33115
Personally I don't care so much about JSON <=> C# Classes. I think it is important to have the concept of of parsing/writing JSON separated from created C# object model from JSON model.
That way I (that don't care so much about the JSON <=> C# classes) can have a really efficient parser without round tripping over some kind object model.

[2019-02-24 18:22] davidfowl commented on #33115
@mrange that’s what the reader and writer are for

[2019-02-24 19:22] benaadams commented on #24355
Seen in https://github.com/dotnet/corefx/pull/35267

Debian.8.Amd64.Open-x64-Release

[code]

[2019-02-24 19:25] saucecontrol commented on #35504
Make sure you change the `TargetFramework` element to `TargetFrameworks` in the csproj.  Targetframework only allows one, TargetFramework**s** allows many

[2019-02-24 19:40] jchang6 commented on #35504
ok, this works. With both targets, project -> properties, the Target Framework drop box is disabled, but Solution Explorer -> Dependencies shows both .NETCoreApp 3.0 and .NETFramework 4.7.2, build compiles both

[2019-02-24 20:43] stephentoub commented on #34852
Thanks, @Maoni0.  Here's my question for you...

If finalizable object A is unreachable, and I then do `GC.Collect(); GC.WaitForPendingFinalizers();`, is it guaranteed that A's finalizer will have completed by the time WaitForPendingFinalizers returns?  Or is there some situation where that's not the case? (I understand obviously that none of this would hold if something was actually keeping A ali

[2019-02-24 20:57] deinok commented on #31265
@JeremyKuhne For my experience, most of the times I use the `BinaryReader` and `BinaryWriter` I need to enforce an endianess. In fact, I have never used the `BinaryReader` and `BinaryWriter` without forcing a specific endiannes.

[2019-02-24 21:43] ewinnington commented on #2394
For those still following, the [CoreWf](https://github.com/dmetzgar/corewf) project has just advanced a significant milestone with the integration of Roslyn to allow the execution of dynamically loaded XAML workflows. If you still need Workflow Foundation on dotnet core, check it out.

[2019-02-24 21:52] steveharter commented on #34372
@BrennanConroy

It seems you require three pending features:
1) Ability to (de)serialize a heterogeneous array: your `arguments` array has multiple types
2) Ability to (de)serialize into temporary state for "overflow" \ "hidden" properties: your `arguments` array is likely not a public property
3) Assign temporary state once deserialization is finished for the object: your `arguments` array needs

[2019-02-24 22:02] Wraith2 commented on #31265
Just a data point on this,  parts of the TDS protocol used in SqlClient require specific and opposite endian-ness

[2019-02-24 22:31] #31119 closed

[2019-02-24 22:44] BrennanConroy commented on #34372
@steveharter I think there is some misunderstanding of our scenario.

We use the `Utf8JsonReader` to read all the properties both for perf and for custom logic while walking through the payload. One thing we need is the ability to store the "arguments" property (which is an array) for later use in the deserializer. Currently I have a bunch of hacks to try and store the position of the `Utf8JsonRea

[2019-02-25 01:28] karelz commented on #33767
Always use master for everything.
Of course you can ask someone to help you port PRs to other branches, assuming you want them there - you have to fight for them in shiproom after all. The key point is that each PR has to be first in master before it can be considered to backporting to servicing branches. Normal internal bar for servicing .NET Core applies (even for community contributions to rele

[2019-02-25 01:32] karelz commented on #34728
@PatrickHofman `HttpWebRequest` and friends (incl `WebClient`) are compat-only APIs. They don't have all functionality correctly built-in (some settings are ignored, the APIs are super-non-performant).
If there is strong feedback (large impact on key customers/workloads, or significant number of customers impacted), we may fix some of it to ease migration from .NET Framework to .NET Core, but the

[2019-02-25 01:45] ahsonkhan commented on #35550
This issue doesn't exist on latest sdk/.NET Core 3.0.

cc @jaredpar

Please move to the appropriate repo/area. There is nothing to fix in regards to System.Memory itself.

[2019-02-25 03:26] VenkateshSrini commented on #2394
Hi ,
Does that mean I can take the existing XAML work flow and us it as it is. Do we have any limitation

[2019-02-25 04:55] danmosemsft commented on #34437
Great, do you want to create a test and put up a PR?

[2019-02-25 05:22] bartdesmet commented on #35547
Unfortunately, `System.Linq.Expressions`'s `CompileToMethod` can only emit static methods. A long time ago, I started a project that added support for classes, which is a bit involved because it needs to introduce some representation of symbols so one can refer ("ref") to members before they are being defined ("def"), e.g. to support methods calling each other. In the absence of this work, there a

[2019-02-25 06:54] bartdesmet commented on #35552
This looks interesting to me and has been on my list of things to look into for Ix and async LINQ for `IAsyncEnumerable<T>` over at https://github.com/dotnet/reactive/pull/423. Adding @terrajobst for visibility, given he owns `System.Index` and `System.Range` and is also aware of the work in Ix.

From a technical point of view, here are my 0.02 cents:

# `ElementAt` and `ElementAtOrDefault`

These

[2019-02-25 07:43] ViktorHofer commented on #33524
I think we can close this issue. AFAIK we won't run perf tests anymore from inside corefx as part of CI

[2019-02-25 07:43] #33524 closed

[2019-02-25 08:18] mrange commented on #33115
Does that mean I can expect a Reader/Writer API in the platform provided JSON API? Is the Reader/Writer pattern the most efficient one?

[2019-02-25 08:28] khellang commented on #33115
There are [3 types in `System.Text.Json` as of now](https://github.com/dotnet/corefx/blob/26b932e3c56702382d13ece010b300d3181d2891/pkg/descriptions.json#L1975-L1977):

- `Utf8JsonReader` - a fast, non-cached, forward-only way to read UTF-8 encoded JSON text.
- `Utf8JsonWriter` - ^ same as `Utf8JsonReader`, but for writing.
- `JsonDocument` - a read-only random-access document model for JSON payloa

[2019-02-25 08:57] 2E0PGS commented on #34437
Yes I will try create a test for it.

Cheers, ​

On 25 Feb 2019, 04:56, at 04:56, Dan Moseley <notifications@github.com> wrote:

[2019-02-25 09:00] Metalnem opened #35555 "Environment.GetEnvironmentVariable throws MethodAccessException when using local CoreFX build"
I've been using local CoreFX build successfully with .NET Core 2.2 for some time using instructions from the [dogfooding.md](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md#more-advanced-scenario---using-your-local-corefx-build) document. Now I'm trying to do the same with the .NET Core 3.0, but I'm running into problems. I'm using the latest .NET Core 3.0 pre

[2019-02-25 09:11] layomia commented on #34690
To start with, the (Try)GetDateTime(Offset) methods will by default parse input strings according to [ISO 8061](https://www.iso.org/iso-8601-date-and-time-format.html), but ignore [CultureInfo](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureinfo?view=netcore-2.2) and timezone conversion mechanisms. This means the output DateTime(Offset)’s timezone and [kind](https://docs.m

[2019-02-25 09:20] gunars-skangals commented on #33728
@cston that was the fix i ended up using
my issue here was that no exception is thrown and no warning is given that the implicit conversion would not happen
so either assignment stuff should perform implicit conversions to nullable internally or exception is thrown if types do not match exactly

from what i see, Bind(MemberInfo member, Expression expression) in /System/Linq/Expressions/MemberAssig

[2019-02-25 09:59] moien007 opened #35556 "System.IO.Pipelines .NET Framework 4.5 support."
Currently, I'm using [this](https://www.nuget.org/packages/Unofficial.System.IO.Pipelines.NET45/) package to add System.IO.Pipelines to my .NET 4.5 projects. <br/> Why [System.IO.Pipelines](https://www.nuget.org/packages/System.IO.Pipelines/) package doesn't support .NET 4.5?

[2019-02-25 10:17] benaadams commented on #35556
Timelines? It was released in 2018 and supports .NET 4.6 released in 2015

[2019-02-25 10:33] moien007 commented on #35556
Would it possible to add .NET 4.5 support in the future?

[2019-02-25 11:01] Wraith2 commented on #35556
4.5 is out of support, 4.5.2 is still supported but if you want to use new features like spans pipelines etc etc you're much better off using the latest desktop framework. I don't think anything else developed in core goes back further than 4.6 so there would need to be a strong case to do so. Is there good reason you can't updare your framework?

[2019-02-25 11:13] moien007 commented on #35556
I just mentioned this issue for sake of capability. Fortunately, All operating systems that support .NET 4.5 is able to install .NET Core.

[2019-02-25 11:18] code2mars commented on #35390
Thanks @bartonjs. I can confirm that there is only one certificate and there are no intermediate certificates are given separately or installed separately. as this is in a developement environment i have handled the validation failure and forced to use the certificate by adding them to the associated ```HTTPClientHandler```.

regarding the certificate permissions, not sure if i understand complete

[2019-02-25 12:15] sunnycase commented on #35544
Try `Process.WaitForExit()`.

[2019-02-25 12:24] hanabi1224 commented on #35544
@sunnycase That one works but it's not what I need :(

[2019-02-25 13:21] roji commented on #35535
@mgravell, while this change would apply to all methods on DbProviderFactory, most methods there are "mandatory" and it's very hard to imagine a provider which hasn't overridden them (e.g. `DbProviderFactory.CreateCommand()`). In practice, this will only affect `CreateDataAdapter()`, `CreateCommandBuilder()` and `CreateDataSourceEnumerator()`, which seem like they're rarely-used. Given that that's

[2019-02-25 13:39] shortspider commented on #34584
@bartonjs thanks for the update.What exactly was fixed, the differing behavior between Windows and Linux for checking the CRL or setting a custom root for a single call? #16364 still looks open so I'm guessing the first one?

[2019-02-25 13:44] RobSwDev opened #35558 "How do I get the same string comparison behaviour on linux as on Windows?"
We're trying to port our .net product to Linux. We've been reasonably successful, but cannot reproduce the string comparison behaviour we had on Windows.
We are using `CurrentCultureIgnoreCase`, which considers `"ß"` and `"ss"` equal. On Linux, these are considered not equal.
If we include CompareOptions.IgnoreNonSpace as suggested [here](https://github.com/dotnet/corefx/issues/17052), then `"héll

[2019-02-25 14:18] bartonjs commented on #34584
You are correct. Linux chains are now more consistent with Windows chains.

[2019-02-25 14:20] danielmeza opened #35559 "Validation attribute with custom resource manager should support GetString from ResouceManager implementations"
If we get a custom ResourceManager created at runtime, from enbebed assembly on just from remote resources, we should be able to get the string from the GetString method like this:

The resource manager implementation
[code]
The application throw the followin [exception ](https://github.com/mono/mono/blob/c5b88ec4f323f2bdb7c7d0a595ece28dae66579c/mcs/class/referencesource/System.ComponentModel.Data

[2019-02-25 15:06] rikimaru0345 commented on #35547
Hey @bartdesmet thank you for the in-depth answer!

I was thinking about this sort of "lambda generating a lambda" as well, but I wasn't entirely sure how that would work with expression trees (like if I can be sure that the lambda-compiler wouldn't sneak in a .Compile() somewhere for the inner lambda that gets constructed; because the whole point is to have absolutely no Compile calls, because th

[2019-02-25 15:45] ewinnington commented on #2394
The instance store has not been ported yet, the designer is not on core and the WCF Service is not available due to WCF server not being on core yet.

Please make an issue on the [CoreWf](https://github.com/dmetzgar/corewf) repo and list the requirements you have. We can continue the conversation there.

The current nuget for corewf is out of date and does not include the Roslyn based runtime Xaml

[2019-02-25 16:21] steveharter commented on #34372
@BrennanConroy thanks for the clarification. Yes I was assuming you wanted to use the (de)serializer for the entire scenario, at least for the flow-of-control because the (de)serializer will allow access to the lower-level reader\writer in specific callbacks.

We currently have `JsonDocument` \ `JsonElement` but since it doesn't currently accept an existing reader you can't do something like `JArr

[2019-02-25 16:22] tannergooding opened #35560 "Remove some unnecessary HWIntrinsic API overloads"
There are currently several HWIntrinsic API overloads exposed that are largely unnecessary. These APIs could be removed and have the same functionality be supported internally by the JIT, as is done with the majority of the other HWIntrinsic APIs.

### InsertVector128

These APIs were exposed to have them mirror the `ExtractVector128` APIs. However, in practice, they make the APIs harder to consum

[2019-02-25 16:23] tannergooding commented on #35560
This came about from a discussion on https://github.com/dotnet/coreclr/issues/22815.

CC. @mikedn, @fiigii, @CarolEidt

[2019-02-25 16:25] tannergooding commented on #35560
It is worth noting that, for `BroadcastScalarToVector` that deal with `float`/`double`,  the overloads that take `float*` and `double*` still exist in AVX. This is because `VBROADCAST reg, mem` was introduced in AVX and `VBROADCAST reg, reg` was introduced in AVX2. Having separate overloads also matches what native does, in that they expose `* __m128 _mm_broadcast_ss(float *a);` for AVX and `* __m

[2019-02-25 16:42] tannergooding commented on #35560
Taking this would leave the following APIs that do an explicit load or store: [load_store.txt](https://github.com/dotnet/corefx/files/2901480/load_store.txt)

[2019-02-25 16:49] mikedn commented on #35560
I think things are pretty clear with Insert/Extract.

I'm not sure about broadcast, if we need to keep the memory overloads for `float`/`double` then we probably don't save anything in terms of JIT complexity. So perhaps we should just keep all overloads?

Keep in mind that if we still want to be able to generate memory forms of integer broadcasts we'll need to do it in the JIT by combing the regi

[2019-02-25 16:51] jaredpar commented on #35550
There is no commit hash stored in a compiled binary that would identify the compiler that produced it.

[2019-02-25 16:58] tannergooding commented on #35560
Why would we need to do that rather than just supporting containment for `Avx2.BroadcastScalarToVector128(Sse2.LoadScalarVector128(address))`?

[2019-02-25 17:05] fiigii commented on #35560
Folding `Create` into `BroadcastScalarToVector128` requires the first step of https://github.com/dotnet/coreclr/issues/22388, I will make it in this week. Sorry for the delay.

I think we should support it.

[2019-02-25 17:05] cston commented on #30403
@GrantHoffman, thanks for reporting this issue. It looks like the behavior is by design.

[2019-02-25 17:05] #30403 closed

[2019-02-25 17:11] bartonjs commented on #34349
You seem to have an endianness twist during the building of the Authority Key Identifier.

[code]

`X509Certificate.GetSerialNumber()` returns the bytes in little-endian byte order, and the BigInteger type being used on that line seems to expect big-endian.  You could correct it with

[code]

This is evidenced by:

[code]

(Note that AKId.serial is `59:9D:B1:9E:42:0F:74:70`, which matches the seri

[2019-02-25 17:11] #34349 closed

[2019-02-25 17:13] danmosemsft commented on #34437
Thanks @2E0PGS

[2019-02-25 17:18] CarolEidt commented on #35560
The proposal makes sense to me, though I would agree with @mikedn that if we need to keep some of the memory overloads for broadcast then we might as well keep them all.

[2019-02-25 17:20] Clockwork-Muse commented on #35552
In light of symmetry, don't forget PLINQ (where operators must be implemented by the library, and not with add-ons).

[2019-02-25 17:20] danmosemsft commented on #35555
Hmm, I wonder whether you are somehow straddling @stephentoub 's recent changes that moved Environment into corelib.

[2019-02-25 17:21] bartonjs opened #35561 "Should GenAPI be removing the XML Serialization attributes?"
Currently the automatic generation of reference assemblies excludes some of the XML Serialization attributes

https://github.com/dotnet/corefx/blob/26b932e3c56702382d13ece010b300d3181d2891/eng/DefaultGenApiDocIds.txt#L44-L47

This feels like (but is currently unverified) it would create a problem for `sgen.exe`; in that the `sgen`-generated serializer/deserializer would behave differently than the

[2019-02-25 17:21] robertborr opened #35562 "error GC97D5F25: implicit declaration of function 'X509_STORE_CTX_get0_store' is invalid in C99"
build: https://dnceng.visualstudio.com/internal/_build/results?buildId=104405&view=logs   (logs attached)
RedHat6_x64_Release leg, the following errors occurred:

/__w/1/s/src/Native/Unix/System.Security.Cryptography.Native/pal_x509.c(311,25): error GC97D5F25: implicit declaration of function 'X509_STORE_CTX_get0_store' is invalid in C99 [-Werror,-Wimplicit-function-declaration] [/__w/1/s/src/Nati

[2019-02-25 17:22] robertborr commented on #35562
discovered in https://github.com/dotnet/core-eng/issues/5310

FYI: @bartonjs

[2019-02-25 17:27] mikedn commented on #35560
That does not seem to be the same as `Create`. At the first glance `LoadScalar` supports only some integer types. Am I missing some overloads?

[2019-02-25 17:31] bartonjs commented on #35562
Already fixed by https://github.com/dotnet/corefx/pull/35542.

[2019-02-25 17:31] #35562 closed

[2019-02-25 17:33] BrennanConroy commented on #34372
Should I open a new issue for that feature?

[2019-02-25 17:36] rikimaru0345 commented on #35547
As for `StrongBox<>`, I think I see what you mean by that now.
The internal `HoistedLocals` just kinda represents this sort of case in normal C# code:

[code]
Where `x` would be a hoisted local. I've yet to investigate if that is only a compile-time representation or if it's actually compiled into the code in some way (leading to the performance degradation). The C# compiler doesn't have that issu

[2019-02-25 17:39] bartonjs commented on #29779
I just walked through a number of 10.14 updates (and am now at current) and can't reproduce it.

But there's a possibility that I ended up changing some system settings at some point... or that the lab is just having a network issue fetching that CRL.

Perhaps the right answer is to just move to a different success-criteria certificate.  Or to just ensure that X509Chain (configured appropriately)

[2019-02-25 17:43] ajcvickers commented on #35341
Notes from System.Data triage:
* Implementation to avoid a linear search when there are many parameters seems worthwhile.
* Based on previous agreement, this is owned by SqlClient, so putting it in that area.

[2019-02-25 17:43] Gnbrkm41 opened #35563 "'build -test' fails with the message 'It was not possible to find any installed dotnet SDKs'"
Tools used:
* Windows 10 Pro 1809 (Build 17763.316) x64. I also had similar problem on another Windows 10 Home 1809 (build unknown).
* VS Enterprise 2019 Preview 3.0 with the followings installed:
[code]

* CMake 3.14.0-rc2 x64
* .NET Core SDKs (x86)
[code]
* .NET Core Runtimes (x86)
[code]
* .NET Core SDKs (x64)
[code]
* .NET Core Runtimes (x64)
[code]
I've cloned directly from the dotnet/corefx

[2019-02-25 17:45] tannergooding commented on #35560
Ah, right. You aren't missing any overloads, there is only `MOVD` which always reads 4-bytes, so we don't have `LoadScalar(byte*)`. We would have to support it via `CreateScalar(byte)`.

I think I would be okay with this if we also supported containment on the overloads that take a vector (rather than an address). We currently have these marked as `NoContainment` and it means that we have "worse"

[2019-02-25 17:55] krwq commented on #35550
im closing then - initially wasn't sure which part of the stack was broken so put it in the middle ground, I've already created dotnet/iot version. Thanks for helping tracking this down!

@jaredpar sounds good - I'll check the csc under the sdk directory to see how far we are

[2019-02-25 17:55] #35550 closed

[2019-02-25 17:57] ajcvickers commented on #35535
Triage: We decided not to make the breaking change here as the value doesn't seem high enough. @roji to open a new issue with a different approach.

[2019-02-25 17:57] #35535 closed

[2019-02-25 18:08] richlander commented on #35361
I validated with the latest master build that `RuntimeInformation.FrameworkDescription` is now providing the new behavior. I will report back when `Environment.Version` is working as expected.

[2019-02-25 18:12] Clockwork-Muse commented on #35563
Did you build tests first?  `build -test` may not be sufficient.

What do you get if you do this (may have to log out to release locks first):
[code]

This has been affecting me too, although explicitly building the tests via the `build -build -buildtests` seems to have given me at least _mostly_ valid output (the initial part of the run still can't find any SDKs, but starts showing up later).

[2019-02-25 18:18] svick commented on #35381
But a hash collision only decreases performance for the colliding values. If 2 out of 80k values are slightly slower, then that's almost certainly still fine. On the other hand, using 64-bit hash codes is probably going to negatively affect performance for all values.

This means there are two questions that I would like to see answered:

1. How many items do you have to have for collisions to sig

[2019-02-25 18:33] cston commented on #34327
Closing since the existing behavior is by design.

[2019-02-25 18:33] #34327 closed

[2019-02-25 18:44] divega commented on #22855
@ViktorHofer It seems you moved from Future to 3.0. Can you provide a reason?

cc @ajcvickers

[2019-02-25 18:47] roji opened #35564 "Add missing feature detection properties to DbProviderFactory"
Following up on #35535, we should add feature detection properties on DbProviderFactory for features which are optional, similar to the existing `CanCreateDataSourceEnumerator`. This would include:

[code]

The default implementation would call the corresponding Create method and check if the result is null or not.

/cc @divega @ajcvickers @bricelam

[2019-02-25 18:56] divega commented on #29560
@AfsanehR are you still pursuing this issue for 3.0? It seems from https://github.com/dotnet/corefx/pull/30757#issuecomment-406103196 that you know the fix.

cc @ajcvickers

[2019-02-25 18:58] bartonjs commented on #34166
I agree that it seems the only usage of `DirectoryObjectSecurity` is `ActiveDirectorySecurity` (across .NET Framework and .NET Core).

I just don't know if we have the capability of moving a type "out" (further from System.Object); most of our moves are to move a type "in".

@terrajobst / @ericstj ?

[2019-02-25 18:58] terrajobst commented on #34503
I'm not sure I understand. The light-up scenario on a .NET Core 2.0 AOT only runtime should be:

[code]

Both will return false. You're correct that a runtime that doesnt know about these two properties will always return false, which would mean that there isn't a reliable way to detect a pre-.NET Core 3.0 efficient dynamic code generator. But that seems less problematic because "unknown" means we

[2019-02-25 19:01] terrajobst commented on #34503
Which, of course, wouldn't solve the .NET Core 2.x case, because the API didn't exist. *grumble*

[2019-02-25 19:02] divega commented on #28922
@keeratsingh @AfsanehR @David-Engel I moved this from System.Data to System.Data.SqlClient area just because I believe your team owns the relevant code current code currently and this has remained unassigned but on the 3.0 milestone for a long time.

Is your team planning to pursue this in 3.0? It is not strictly SqlClient, so if it is stays in 3.0 and gets assigned in your team, I think it is ok

[2019-02-25 19:02] steveharter commented on #34372
@BrennanConroy I'll discuss the feature offline with @bartonjs and @ahsonkhan and then reply back here.

One of the cool things about the reader (and writer) is that it supports a streaming model where the buffer doesn't have to contain all of the data. When the reader runs out of buffer for the current property, it returns false and expects to be called again with a fresh buffer (and to be passed

[2019-02-25 19:05] terrajobst commented on #17452
/cc @richlander

I've marked this for 3.0 so it gets back on our radar. We should discuss this again.

[2019-02-25 19:07] Gnbrkm41 commented on #35563
@Clockwork-Muse it definitely did reduce the number of errors(465 -> 15). The failing ones still do fail with the same error message though.

[2019-02-25 19:13] loop-evgeny commented on #35361
Great to see this fixed! Could I just confirm that this will work even for self-contained deployments?

[2019-02-25 19:15] jkotas commented on #35361
Yes, it will work for self-contained deployments.

[2019-02-25 19:17] bartonjs commented on #33861
As @khellang pointed out, Claim has multiple "obvious" definitions of Equals:

* Just Type and Value (`return ToString().Equals(other.ToString())`)
  * Case/culture sensitive/not.
* Type/Value/ValueType/Issuer
  * Maybe `null` ValueType and/or Issuer means "match anything", maybe it means only-matches-null
  * Case/culture sensitivity again
* There's also OriginalIssuer, Subject, CustomSerializati

[2019-02-25 19:17] #33861 closed

[2019-02-25 19:20] bartonjs commented on #33561
Since Windows allows "smaller than needed, but at least as big as necessary" it makes sense to do it for Linux (and macOS), too.

On Linux, if the provided buffer is too small we'll just stackalloc (4096-bit or smaller) or rent-use-and-clear (bigger) a temporary buffer and pay the copy cost.

[2019-02-25 19:21] bartonjs commented on #33511
No specific 3.0 requirements; but any improvement in the 3.0 timeframe wouldn't hurt.

[2019-02-25 19:22] danmosemsft commented on #35563
@ViktorHofer ?

[2019-02-25 19:24] tannergooding commented on #35560
I've removed the removal of the broadcast APIs and marked this ready for review.

[2019-02-25 19:30] bartonjs commented on #34253
Based on @am11's explanation it seems like there's no bug here.  Closing.

[2019-02-25 19:30] #34253 closed

[2019-02-25 19:38] bartonjs commented on #33179
Support for OpenSSL 1.1 was/is-being backported to the 2.1 series with https://github.com/dotnet/corefx/pull/34443; so once a build with that change is available a different workaround would be to set the 1.1 opt-in environment variable.

[2019-02-25 19:38] #33179 closed

[2019-02-25 19:49] JustArchi commented on #33179
@bartonjs What is the state of 2.2 series? Is my understanding correct that we can use stock `openssl.cnf` file with `ssl_conf = ssl_sect` included as long as `CLR_OPENSSL_VERSION_OVERRIDE=1.1` environment variable is specified (which is also the default in 3.0)?

Thank you in advance for answering.

[2019-02-25 19:52] bartonjs commented on #32382
It looks like Windows defines these three values as non-localized:

* 2.23.133.2.1 => "TPMManufacturer"
* 2.23.133.2.2 => "TPMModel"
* 2.23.133.2.3 => "TPMVersion"

These can therefore be added to the static lookup table (https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OidLookup.cs) without undue loss of generality.

[2019-02-25 19:54] #32428 closed

[2019-02-25 19:55] bartonjs commented on #32978
@vcsjones Did you ever make progress on investigating this?

[2019-02-25 20:01] bartonjs commented on #32236
The correct value is `emailaddress` (http://schemas.xmlsoap.org/ws/2005/05/identity/claims.xsd), so the field value is correct.  Following the docs link I also see "emailaddress" (not "email").

If you still see something saying "email" on docs.microsoft.com, please hit the button on the page to create an issue with the documentation.

[2019-02-25 20:01] #32236 closed

[2019-02-25 20:13] tannergooding opened #35566 "Utf8Formatter returns the wrong result for double/float when using the currency format"
The `Utf8Formatter.TryFormat(double value, Span<byte> destination, out int bytesWritten, StandardFormat format = default(StandardFormat))` code currently returns an incorrect value for `StandardFormat.Parse("C")`.

This failure is because `TryFormatFloatingPoint` currently assumes the string returned only contains ASCII data: https://source.dot.net/#System.Private.CoreLib/shared/System/Buffers/Tex

[2019-02-25 20:13] tannergooding commented on #35566
This was introduced in https://github.com/dotnet/coreclr/pull/22434

[2019-02-25 20:14] helder-goncalves-cko commented on #34740
Having the same issue running on `microsoft/dotnet:2.2-runtime-alpine` (also tried 2.1)

**MyHttpClientHandler :**

[code]

**Program:**
[code]

**Output:**
[code]

Same code runs fine on Windows 10.

[2019-02-25 20:14] cston commented on #34256
@Lohnegrim, should your example be `Asc(Chr(172))` instead (using `Chr()` rather than `ChrW()`)?

It looks like `Asc()` relies on `System.Text.Encoding.Default.CodePage` (which is different between .NET Core and .NET Framework, as you mentioned) while `Chr()` relies on `System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ANSICodePage`.

[2019-02-25 20:16] tannergooding commented on #35566
CC. @stephentoub, @GrabYourPitchforks, @ahsonkhan

[2019-02-25 20:17] geoffkizer commented on #35138
I want to point out that this is going to get messier with HTTP/3 and QUIC.

Unlike HTTP/2, HTTP/3 is not a seamless transition. The way you "discover" that a server supports HTTP3 is either
(a) Issue an HTTP/1.1 or HTTP/2 request, and receive a response with an Alt-Svc header on it
(b) You have *a priori* knowledge that the server supports HTTP/3

For (a), we can discover this and transition to H

[2019-02-25 20:19] cston commented on #33127
@NainaChauhan, thanks for reporting this issue. Closing since this is by design.

[2019-02-25 20:19] #33127 closed

[2019-02-25 20:19] geoffkizer commented on #35138
Another way to look at this is that HTTP/2 and HTTP/3 are not simple "new protocol version" in the traditional sense. You aren't just opting in to some new features or improved performance; you're actually using a quite different protocol that has different perf characteristics (both good and bad) and different discovery mechanisms.

So perhaps treating these as just new protocol versions isn't re

[2019-02-25 20:32] divega commented on #35564
Assigning to @roji on 3.0 milestone.

[2019-02-25 21:01] bartonjs commented on #33179
@JustArchi 2.2 should automatically get the change from 2.1, if I understand the branch flows correctly.  So it, too, should be able to use OpenSSL 1.1.x starting in the next update.

[2019-02-25 21:12] JochenKalmbach commented on #32978
We switched to BouncyCastle portable...it works on all systems perfect...

[2019-02-25 21:13] bartonjs commented on #32092
The packaging problem was fixed back in September, so presumably the problem is now completely addressed.

[2019-02-25 21:13] #32092 closed

[2019-02-25 21:14] vcsjones commented on #32978
Ah, hm, I started looking at this and it fell off my radar. Let me see where I left off and what I found this evening.

[2019-02-25 21:16] ajcvickers commented on #33767
@karelz That would be a misuse of both the milestone and the up-for-grabs label. The up-for-grabs label means that this is a good entry-level issue for somebody to work on. It does not in any way indicate whether or not we will work on it. Also, the lack of this label doesn't mean that we wouldn't take a contribution for it, just that it's not an easy first issue.

The milestone indicates when som

[2019-02-25 21:20] bartonjs commented on #32185
@SoptikHa2 Sorry, this apparently fell off my radar.  Were you ever able to get past this problem?  (FWIW, the log link appears to no longer be functioning)

[2019-02-25 21:23] bartonjs commented on #31933
The PSS format allows the hash to mismatch because PSS technically doesn't have a requirement that the PSS hash and the data hash match, and that functionality is the escape valve for implementing custom logic (e.g. hash the data using SHA384 then verify the signature with PSS/SHA256... for... reasons.... :smile:).

There doesn't seem to be any other action required here, so closing.

[2019-02-25 21:23] #31933 closed

[2019-02-25 21:26] bartonjs commented on #33087
Since everyone involved has described their problem as mitigated, and there hasn't been anything new since November, closing.

[2019-02-25 21:26] #33087 closed

[2019-02-25 21:34] bartonjs commented on #31634
https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Security.Cryptography.Encoding/tests/Asn1/Writer/WriteCharacterString.cs#L482-L496 should be updated to expect CryptographicException.

And https://github.com/dotnet/corefx/blob/3e817a4dbed0776dff7f91723906e95237892c0e/src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Cert

[2019-02-25 21:36] bartonjs commented on #31328
Closing as duplicate (#24225)

[2019-02-25 21:36] #31328 closed

[2019-02-25 21:37] bartonjs commented on #30843
This is a docs or docs-gen problem; with the relevant content located at https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.IdentityModel.Claims/ClaimTypes.xml.  Closing this issue as non-actionable.

[2019-02-25 21:37] #30843 closed

[2019-02-25 21:42] robertborr opened #35569 "Network build failures in 'official/dotnet/corefx/refs/heads/master' - '20190224.1'"
@dotnet-mc-bot commented on [Sun Feb 24 2019](https://github.com/dotnet/core-eng/issues/5318)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=105552
  - **Agent:** Hosted Ubuntu 1604 4
  - **Error log:** /__w/1/s/eng/publish.proj(0,0): error : Unable to upload to corefx-tests/4.6.0-preview4.19124.1/Linux

[2019-02-25 21:43] bartonjs commented on #30596
Ultimately, the problem here is that the only way Apple supports getting a SecIdentityRef (which is required for using any of their API with a cert+key) is via a keychain; and once we have dynamic cert+key pairings we have to make temporary keychains, and that has high overhead.

BouncyCastle avoids this problem by not making use of the system cryptography layer (since they're an entire re-impleme

[2019-02-25 21:43] #30596 closed

[2019-02-25 21:47] bartonjs commented on #30577
If I understand things correctly, this was fixed in the 1809 release of Windows 10.

[2019-02-25 21:47] #30577 closed

[2019-02-25 21:51] ericstj commented on #35561
Agreed.  I don't think we should be omitting those.  @huanwu @mconnew can one of you comment on this?

[2019-02-25 21:52] bartonjs commented on #30416
Since @vcsjones already fixed the inconsistency, this is now just a docs issue; which should be created using the flow from https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x509certificate2.getcertcontenttype?view=netframework-4.7.2

(https://github.com/dotnet/dotnet-api-docs/blob/40032d55704974a9ea9a7ff3b65e67a91fc9b1bb/xml/System.Security.Cryptography.X50

[2019-02-25 21:52] #30416 closed

[2019-02-25 21:59] ericstj commented on #34166
Actually System.Security.AccessControl is closer to System.Object, so this is the normal case of pushing a type down in the stack.

I'm fine with pushing this type into System.Security.AccessControl so long as its doesn't pull anything else down with it or add new dependencies.  If it does we can review those.

[2019-02-25 21:59] bartonjs commented on #35498
Not all obsolescences are to see some other type (some are to use a different method / different overload).  Do you believe there's enough usage for forwarding to a new type to justify the change?

I'm also not sure if the compiler would even be able to use this; they probably can't instantiate the attribute (just look at the callsite definition); and they'd see this as a "no message" obsolete att

[2019-02-25 22:23] davidsh commented on #35569
This looks like an infrastructure issue.

[2019-02-25 22:25] Maoni0 commented on #34852
normally yes; I dunno if there are complications during process shutdown - I knew there was on desktop (finalizer wait timeout); I dunno if that has changed in core.

[2019-02-25 22:46] khellang commented on #35229
https://github.com/dotnet/platform-compat?

[2019-02-25 22:51] mazhou-msft commented on #29694
I can see the XML comments in Visual Studio IDE for span-like types now, thanks!

[2019-02-25 23:24] wfurt commented on #35539
I did run on container similar to CI and it took 34 minutes for this test set alone to finish. (outerloop)

[code]

cc: @safern @danmosemsft

I'm not sure what is best strategy here: either disabling biggest offenders (or moving them to stress category) or increasing timeout quite a bit. Second option will of course have impact on PR as it will take much more time to get feedback.

[2019-02-25 23:24] maryamariyan commented on #33033
closing issue, @czd890 you can reopen if the issue still exists.

[2019-02-25 23:24] #33033 closed

[2019-02-25 23:28] safern commented on #35539
Note that the engineering team just let me know last week that Ubuntu ARM tests are now going to run within a docker container limited to 2 cores only just as official builds do. I guess we should also, ask them to provide more cores, since the servers have 48 cores, specially as this cores are slower than intel ones -- at least get 4 cores for each container would be nice.

[2019-02-25 23:34] richlander opened #35573 "[Breaking Change] Improving .NET Core Version APIs"
# [Breaking Change] Improving .NET Core Version APIs

We are improving the .NET Core version APIs in .NET Core 3.0. The particular changes we made are technically breaking. The changes are currently only in the master branch, so will be part of .NET Core 3.0 Preview 4, modulo feedback.

Also posted at [dotnet/coreclr #22844](https://github.com/dotnet/coreclr/issues/22844)

Related:

* [Improve .NE

[2019-02-26 00:12] stephentoub commented on #35539
Do you know when this change is taking effect?

[2019-02-26 00:48] safern commented on #34924
I tried to repro this on 2 different OpenSUSE42.3 environments, one a docker container and the other one of the helix machines, I didn't have any luck reproducing the issue. I also just downloaded the latest testResults.xml file from some of the latest outerloop runs (official builds do outerloop) and it is passing:

[code]

This is also the output from the helix machine I got into it from multipl

[2019-02-26 00:48] #34924 closed

[2019-02-26 00:49] safern commented on #35539
Just asked and it happened some time ago today. I've been looking at some random PR failures due to this. Working with the engineering team on getting them fixed.

cc: @ulisesh

[2019-02-26 00:49] wfurt commented on #35558
cc: @tarekgh

[2019-02-26 00:52] wfurt commented on #35539
Did we end-up using 4 cores or did we get more? I can re-run tests to get new timing

[2019-02-26 01:08] tarekgh commented on #35558
@RobSwDev the framework usually depends on the underlying OS for the string comparisons. I don't think you can get 100% parity between Windows and Linux. what exactly your scenario here?

[2019-02-26 01:14] GrabYourPitchforks commented on #35566
Good catch. There are span-based APIs for transcoding on the `Encoding` class.

[code]

[2019-02-26 01:20] safern commented on #35539
Not yet. I just spoke with @Chrisboh and he said that they can probably do that, but first they want to get ARM stuff stable and afterwards do this kind of changes.

[2019-02-26 01:25] stephentoub commented on #35566
Because Utf8Formatter always uses invariant, this will always happen with 'C', right?  If so, it seems like we could either:
a) Simply put back a guard that checks if the format is 'C' and throws.
b) Replace the currency symbol with something else by, for example, passing a NumberFormatInfo to the float/double.TryFormat that's something like InvariantCulture but with a different symbol that's ASCI

[2019-02-26 01:27] stephentoub commented on #34852
Ok, thanks.  Shutdown shouldn't be involved here.

[2019-02-26 01:29] stephentoub commented on #35138
Thanks, @geoffkizer.  Maybe I'm just reading into it what I want to read, but to me your info / good arguments lends weight to https://github.com/dotnet/corefx/issues/35138#issuecomment-462531816, since it makes it so that everything is 1.1 by default, and you can opt-in as desired.

[2019-02-26 01:33] LucidObscurity commented on #28135
Would you mind expanding on the "easy workaround"? I need to implement an API which requires GET requests with a body (idealy using a ITypeHttpClientFactory). The particular [API](https://wwrm.workwave.com/api/#get-orders) is deprecating all GET request w/out body support.

Thanks.

[2019-02-26 01:37] tannergooding commented on #35566
Correct.

I think this is the best option. I don't think we should prevent the UTF8Formatter from supporting any format specifiers as it is needlessly hindering functionality that may be desirable.

[2019-02-26 02:00] davidsh commented on #28135
This particular issue was about questions regarding why .NET Core behavior is different from .NET Framework.  That question was answered and this issue closed.

In terms of the "easy workaround" that @karelz mentioned, I don't think one exists.  The only possibility is to use a different handler with the HttpClient API.  For example, WinHttpHandler is available as a separate NuGet package (System.

[2019-02-26 02:52] grant-d commented on #35419
Any progress on getting this approved in api-review?

[2019-02-26 03:40] chkn commented on #16287
Is this something that should perhaps be revisited now that .NET Standard 2.1 will contain Reflection.Emit?

[2019-02-26 03:47] tannergooding commented on #35419
The next API review is tomorrow (and generally speaking, every Tuesday). We'll see if we can get to it.

[2019-02-26 05:18] Dixin commented on #35552
@bartdesmet Thank you for your insights. I hope these LINQ operators can be provided in corefx. Since index/range are language level features, it is nice to have them work with not only array, but also any type that implements `IEnumerable<T>`.

[2019-02-26 05:22] Dixin commented on #35552
@Clockwork-Muse I looked at PLINQ before I post this proposal. `ParallelEnumerable` is not symmetric with `Enumerable`/`Queryable`. `Enumerable`/`Queryable` have `Append`/`Prepend`/`SkipLast`/`TakeLast` operators but `ParallelEnumerable` does not have them.

[2019-02-26 06:02] #35313 closed

[2019-02-26 06:11] bartonjs commented on #35381
Even if the object were producing a 64-bit hash code, most things that use a hash code then use it mod-bucketsize; so it feels like all this would really do is make a 64-bit division happen instead of a 32-bit division to then get back at the same smallish number of buckets, which is already an integer; so it's the same as taking the 64-bit hash code and dropping the top 32 bits in the first opera

[2019-02-26 06:23] AArnott opened #35580 "System.Runtime.CompilerServices.Unsafe binding redirect missing when also referencing System.IO.Pipelines"
When referencing the latest System.IO.Pipelines and System.Runtime.CompilerServices.Unsafe packages from a net46 application, the binding redirects required at runtime are _not_ generated automatically, resulting in runtime failure:

**Repro**

[code]

[code]

   at System.Span`1..ctor(T[] array)
   at System.MemoryExtensions.AsSpan[T](T[] array)
   at Program.Main(String[] args)

When uncommentin

[2019-02-26 07:02] #35537 closed

[2019-02-26 07:12] Metalnem commented on #35555
You are right, thanks! I'm now using daily .NET Core build, and everything works as expected.

[2019-02-26 07:12] #35555 closed

[2019-02-26 07:14] grant-d opened #35582 "Question/Proposal: IMemoryOwner.Slice"
This is a question about `IMemoryOwner` chain-of-ownership.
Depending on utility and integrity, maybe it becomes a proposal.

### TLDR;
The proposed extension method would permit the following pattern.
Versus the caller allocating an `owned` buffer, retrieving its actual-length and then slicing it client-side.
But not sure if it's a good law-abiding citizen in the land of memory ownership?
[code]

[2019-02-26 07:53] jaydeept opened #35583 "Facing an error "System.Net.Sockets.SocketException : Connection refused" on Linux with .Net Core 2.2"
I am facing an issue on `Linux OS` with `.Net Core 2.2`, while executing some integration test cases. Here is the stacktrace:

Here is my high-level code flow:
[code]

P.S.
This test case is working fine in Windows. Also from Linux machine, I am able to launch my web app and able perform all operations so I think it's just `WebRequest.GetResponse()` which is throwing an exception.

[2019-02-26 08:04] geoffkizer commented on #35138
@stephentoub Yes, I agree we should make 1.1 the default.

The other thing I wonder about is whether it makes sense to treat these as a linear version. For example, it could make sense to prefer HTTP/3 but use HTTP/1.1 as a fallback. Or it could make sense to require HTTP/3 only, no fallback -- because you know the server supports HTTP/3. Or it could make sense to require HTTP/2 only, no fallback

[2019-02-26 08:09] ViktorHofer commented on #22855
Sorry, can't remember. I'll set it back to future.

[2019-02-26 08:12] ramsubbaraoc commented on #34740
Thank you

[2019-02-26 09:23] Wraith2 commented on #30426
`(bool success, T value) = ExecuteScalar<T>()` ?

[2019-02-26 10:30] hrumhurum commented on #3784
I just have hit this issue once again. This time it happened at a virtual machine environment.

So I have a repro for this issue as VMware image file.

Is anybody interested? Should I prepare the file and steps to reproduce?

[2019-02-26 10:36] roji commented on #30426
@Wraith2 that's possible although pretty clunky to use, e.g. how to test if a value was returned and then use it... It seems better to have a `bool TryExecuteScalar<T>(out T result)`, which could be used as follows:

[code]

However, the idea is to hold off a bit until the status of https://github.com/dotnet/csharplang/issues/2194 becomes clearer - if that issue makes it through we wouldn't really

[2019-02-26 10:38] RobSwDev commented on #35558
@tarekgh We develop a .Net calculation engine that has had several releases on Windows. Now we also want to make it available on Linux. Although most of the calculations are numeric, the engine does support some string functions.

Ideally, if a client takes a calculation and executes it on Windows or Linux, they should get the same results.
So far, we seem to have 2 choices - neither is particular

[2019-02-26 10:39] mdisg commented on #32781
@wfurt
The method [ParseDhcpServerAddressesFromLeasesFile](https://github.com/dotnet/corefx/blob/master/src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/StringParsingHelpers.Addresses.cs) does read dhcp related information from the `dhclient` lease file. It's kind of weird that some stuff is being read from a specific dhcp setup like the server addresses but the information if d

[2019-02-26 12:02] Liero commented on #33767
I was able to build the repo using build.cmd and the solution using dotnet msbuild, but I was not able to run the tests.

Visual Studio 2019 Preview 2.2 says:

and the documentation seems to be outdated, because it refers to `build-test.cmd` which is not in the repo. Sorry, it is my first PR

[2019-02-26 12:42] xperiandri opened #35585 "Symbols for debug don't work when System.Diagnostics.DiagnosticSource used"
I've reimplemented https://github.com/ErnestoGarciaGenesys/bayeux-client-dotnet in F# and tried to add `System.Diagnostics.DiagnosticSource` to it.

[code]

But as soon as I call instance of `DiagnosticListener` I cannot debug my library withing Service Fabric as no breakpoint is hit anymore.

[code]

Breakpoints no longer work in any code within library.

[2019-02-26 13:58] deinok commented on #20558
In the case of `*.tar.*` files, why add direct support for the compression cases?
I mean, it feels more natural to for example call the constructor with a GZipStream

[2019-02-26 15:30] grant-d commented on #35582
Er. I forgot I proposed this already: https://github.com/dotnet/corefx/issues/35582

[2019-02-26 15:30] #35582 closed

[2019-02-26 15:34] grant-d commented on #33372
Updated the question to be more concise

[2019-02-26 15:35] davidsh commented on #35569
@wtgodbe

[2019-02-26 15:38] tarekgh commented on #35558
@RobSwDev thanks for the explanation.

Is it limited to some words/phrases or you can expect anything?

Also, would it be OK to enable NonSpace option on both Windows and Linux? this will make the behavior very close on both.

[2019-02-26 15:44] MarcoRossignoli commented on #35007
You could create a custom temporary test and launch from console(it would work like a "console app" but inside dev/test environment) i.e.
[code]
@Marusyk let me know if you need further help on dev workflow we can talk on gitter/twitter

[2019-02-26 15:52] #7270 closed

[2019-02-26 15:54] danmosemsft opened #35591 "SendPingAsyncWithHostAndTimeoutAndBufferAndPingOptions failed on Win81"
SendPingAsyncWithHostAndTimeoutAndBufferAndPingOptions and SendPingAsyncWithHostAndTimeoutAndBuffer

@wfurt is there more information we can put in the exception beyond `An exception occurred during a Ping request.` such as eg an error code or more detailed text?
[code]
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F35588~2Fmerge/test~2Ffunctional~2Fcli~2F/20190226.6/wor

[2019-02-26 15:58] richlander commented on #35361
From this morning's master build at [dotnet/core-sdk](https://github.com/dotnet/core-sdk). The new changes are in place.

[code]

If anyone is unsure what to do with the hashes, try these two links, using the hashes above:

* https://github.com/dotnet/coreclr/commit/84f0ae886cc659fabd8d8b499861383bb801fa08
* https://github.com/dotnet/corefx/commit/327def063eb5eddb723edcee84815d9495b4021c

Note: Th

[2019-02-26 16:00] richlander commented on #35361
Same thing with a self-contained build:

[code]

[2019-02-26 16:03] Clockwork-Muse commented on #35552
@Dixin -
That's fine, if you've already reviewed it and decided not to include it.

[2019-02-26 16:22] AfsanehR commented on #28922
@divega I reran the System.Data.Common tests and I do not see any failures happening. @Sunny-pu  do we have a new log for the failures?

[2019-02-26 16:25] bgribaudo opened #35592 "API Proposal: DbCommandSet -- allows multiple DbCommands to be transmitted to server in single message"
_This is offered in the friendliest way possible as an alternative to #35135 (this general idea was discussed in that thread but didn't fit the direction being taken for that proposal). Both have the same high-level goal but differ in the details of how they achieve that goal._

# Need/Problem Statement

Within the realm of SQL-based relational database engines:

* All support executing command ba

[2019-02-26 16:26] AfsanehR commented on #29560
@divega Sure. I will revisit the issue and send a PR.

[2019-02-26 16:26] bgribaudo commented on #35592
_The above proposal is offered in the friendliest way possible as an alternative to #35135 (this general idea was discussed in that thread but didn't fit the direction being taken for that proposal). Both have the same high-level goal but differ in the details of how they achieve that goal._

# Differences
#35135's approach **flattens the result sets returned by the various commands so that they a

[2019-02-26 16:26] bartonjs commented on #29730
This issue seems to be (effectively) a duplicate of others; closing as no specific action required.

[2019-02-26 16:26] #29730 closed

[2019-02-26 16:35] bartonjs commented on #30644
@Maoni0 Should this be tracked for 3.0, or Future?

[2019-02-26 16:59] richlander commented on #17452
I would like to see how this proposal related to AppContext and any .NET Core compat plans around quirks.

[2019-02-26 17:08] dinobu commented on #25154
Running into same issue and dumb documentation almost 2 years later :(

[2019-02-26 17:27] ViktorHofer commented on #35563
Running locally right now and trying to reproduce.

[2019-02-26 17:29] Gnbrkm41 commented on #35563
Please do ask if you need anything regarding this.

[2019-02-26 17:30] benaadams opened #35594 "Add API IndexNotOf"
[code]
Example usage:
[code]

[2019-02-26 17:36] EgorBo commented on #35594
As an alternative - `IndexOfAnyBut`

[2019-02-26 17:37] grant-d commented on #35594
Or `IndexOfAnyExcept`

[2019-02-26 17:57] danmosemsft commented on #35591
This is also bad -- `The operation completed successfully.` -- we should ideally somehow not throw a Win32 exception if there is no error code..

[2019-02-26 18:00] danmosemsft commented on #35594
Are these more commonly needed on Span than on String? Since we've got by without them on String since day 1 (which is not an argument against, but it's a datapoint)

[2019-02-26 18:17] terrajobst commented on #33602
We should mark this obsolete in .NET Standard as well. I'll submit the PR for that.

@GrabYourPitchforks are you on the hook for cleaning up any call sites in CoreFX?

[2019-02-26 18:17] benaadams commented on #35594
[code]

😉

string would also presumabily require culture and ignorecase variants? Thought I'd start simple :)

[2019-02-26 18:22] wfurt commented on #35591
This looks like dupe of  #35351
I start looking at it and it seems like the GetLastError() really _does_ return 0. I'll keep looking. It seems like something changed recently and it is not the ping code.

[2019-02-26 18:30] khellang commented on #35419
Any reason these couldn't be in `BinaryPrimitives`? 🤔

[2019-02-26 18:31] terrajobst commented on #35419
Having a separate type makes sense as the existing types don't make sense (`Math`, `BitConverter`). We shouldn't put it in the `System` namespace though?

[code]

[2019-02-26 18:31] Tornhoof commented on #35419
Is that a candidate for .NET standard 2.1?

[2019-02-26 18:55] terrajobst commented on #34503
Supporting the `!` would solve the issue, but it's a heavy-handed in the sense that we have to support a magic string for all keys moving forward what amounts to a point-in time issue for .NET Core 2.x and these two specific feature names.

Moving forward, we'd rather address this by a new API:

[code]

Of course, this doesn't addresss the .NET Core 2.x case but we think a platform check would be

[2019-02-26 19:01] tannergooding commented on #35560
I'll have the PR up removing these shortly.

[2019-02-26 19:06] terrajobst commented on #35530
Looks good, minor suggestion from review:

[code]

[2019-02-26 19:11] ViktorHofer commented on #35563
Found the reasons for the failures. The order of the action chain is wrong. I forgot to push a change which I made locally. Thanks for submitting the issue! Will close this when the fix landed in master.

[2019-02-26 19:16] bartonjs commented on #34366
`public RSAEncryptionPadding? RSAEncryptionPadding { get; }` shouldn't have the question mark, since RSAEncryptionPadding is a reference type :smile: (and we're not using "nullable reference types" yet.

@vcsjones Are you wanting to do the work here?

[2019-02-26 19:31] tannergooding commented on #34882
This needs more thought still. I don't think that `TestZ`, `TestC`, and `TestNotZAndNotC` are intuitive names.

I don't think it is terrible and they could likely be lived with, but I would like to come to a solid conclusion on what to do here. This will probably be one of:
* Close, leaving APIs "as-is"
* Remove one set of the "duplicated" APIs, deciding on the appropriate name
* Keep the nicely n

[2019-02-26 19:35] benaadams commented on #34830
What about new Utf8TextEncoder route; but also add a Ut16TextEncoder with common subclass (e.g. TextEncoder)?

[2019-02-26 19:35] benaadams commented on #34830
What about new Utf8TextEncoder route; but also add a Ut16TextEncoder with common subclass (e.g. TextEncoder)? (e.g. break TextEncoder but for new type)

[2019-02-26 19:38] terrajobst commented on #34830
After giving it more thought, we'd prefer the alternative proposal, meaning having a single class hierarchy for UTF16 and UTF8.

There are two ways to do the alternative:

1. Completely additive, i.e. non-breaking.
2. Redo the abstract members to make it sane (avoid `char*` and encoding agnostic API pattern).

@GrabYourPitchforks, please send me a mail with a write-up on the justification for the

[2019-02-26 19:41] fiigii commented on #34882
I prefer to leave APIs "as-is" and remove "duplicated" ones (that SSE4.1 has but AVX does not).

[2019-02-26 19:45] jkotas commented on #34503
Sounds reasonable to me. I am not sure how valuable this really is since this does not address the .NET Core 2.x case. @pakrym Do you have an opinion?

I expect that folks would just use reflection to light up. We are basically building a mini-reflection here.

[2019-02-26 19:52] ViktorHofer commented on #11057
Changing milestone to future. Would be great to get test failures to zero but not a high-prio.

[2019-02-26 19:52] ViktorHofer commented on #35563
Please wait a few more hours till we consume the change in corefx :)

[2019-02-26 19:58] benaadams commented on #34258
[code]

[2019-02-26 20:02] terrajobst commented on #34258
It seems `ref` is a closer match. There is nuance, and that is sufficiently addressed by the `Unsafe` name plus proper documentation.

@GrabYourPitchforks, could you file a doc bug / submit a PR?

[2019-02-26 20:02] #34258 closed

[2019-02-26 20:10] ViktorHofer commented on #25529
cc @danmosemsft

[2019-02-26 20:51] krwq commented on #35594
What about Find which takes a predicate? That should cover this scenario?

[2019-02-26 20:58] krwq commented on #35358
got side tracked and only got time now

[2019-02-26 21:00] benaadams commented on #35594
Can't vectorize that for primitive types

[2019-02-26 21:01] krwq opened #35599 "Enable testing for System.IO.Ports package"
Related:
- https://github.com/dotnet/corefx/issues/35358
- https://github.com/dotnet/corefx/issues/33374

When creating a package for native (https://github.com/dotnet/corefx/pull/35126) I have disabled package testing because of some infrastructure issues (build require that a package was already on nuget before it was uploaded) - this should be possible to re-enable now.

[2019-02-26 21:01] ajcvickers commented on #31595
PR merged for .NET Core 3.0. Leaving issue open for @divega to track remaining work.

[2019-02-26 21:02] jvandertil commented on #13696
So I noticed this was still up for grabs...

Using the dotnet/performance benchmark suite I created these 2 benchmarks as the worst case scenario, the first matching element is the last one.

[code]

The difference for the specialized path makes is roughly 3x.

CoreFX
[code]
|                                Method | size | iterationCount |            wrapType |     Mean |     Error |    StdDev |

[2019-02-26 21:07] krwq commented on #35594
I feel like we should instead try to look into making some of the delegate scenarios vectorizable but I don't feel super strongly on not having this API (just feel like we will start adding up other APIs like: IndexOfValueInRange IndexOfValueNotInRange soon and that can quickly pollute the framework)

[2019-02-26 21:12] wtgodbe commented on #35569
@safern have we seen this one before? Do we need to update an access key @MattGal ?

[2019-02-26 21:14] MattGal commented on #35569
Taking a look now.  Note that storage accounts can refuse connections periodically with valid connection strings / SAS tokens.

[2019-02-26 21:16] safern commented on #35569
cc: @mikem8361 who wrote this feature. We're uploading to dotnet blob feed using arcade's built-in MSBuild task.

[2019-02-26 21:17] MattGal commented on #35569
Yeah I filed this issue a week ago when @robertborr showed it to me the previous time, there's just no retry logic in Arcade's homemade, ported-from-buildtools implementation of checking if a blob exists.

https://github.com/dotnet/arcade/pull/2060/files  should fix it, I just didn't merge it because I didn't get a LGTM (hint hint)

[2019-02-26 21:24] mikem8361 commented on #35569
I'll approve it, but I thought you would want someone in the engineering team to do that.

[2019-02-26 21:30] MattGal commented on #35569
@mikem8361 yup I'm working on that.

[2019-02-26 21:42] MattGal commented on #35569
Looks like @chcosta wants to do it the proverbial "right way", I'm going to mute this thread now.

[2019-02-26 21:43] krwq commented on #34867
Hey @terrajobst what's the ETA for having this reviewed? Is there something I can do to speed this up?

[2019-02-26 21:55] lemire commented on #33115
We posted the simdjson paper : https://arxiv.org/abs/1902.08318

There is also ongoing work on a C# port of simdjson: https://github.com/EgorBo/SimdJsonSharp

cc @EgorBo

[2019-02-26 21:58] MattGal commented on #35569
#2060 was sufficient but not good enough, filed https://github.com/dotnet/arcade/issues/2118 to track fixing this.

[2019-02-26 21:58] pakrym commented on #34503
It doesn't help us with 2.x and it's not easy for customers to tell which overload of `IsSupported` should be used.

[2019-02-26 22:17] ahsonkhan opened #35601 "Should GenAPI be removing the DebuggerDisplay and DebuggerStepThrough attributes?"
Currently the automatic generation of reference assemblies excludes some of the Debugger* attributes:
https://github.com/dotnet/corefx/blob/7c37cfbd03d058b966160fdc39cd902ef3b2782c/eng/DefaultGenApiDocIds.txt#L12-L17

This is relevant to Xml.ReaderWriter:
https://github.com/dotnet/corefx/blob/7c37cfbd03d058b966160fdc39cd902ef3b2782c/src/System.Xml.ReaderWriter/ref/System.Xml.ReaderWriter.cs#L528
h

[2019-02-26 22:20] ahsonkhan opened #35602 "Should GenAPI be removing the AsyncMethodBuilderAttribute attributes?"
See https://github.com/dotnet/corefx/pull/35557#discussion_r259772806

This attribute is required to avoid compiler errors (for verifying that async methods return a task-like type), but it is being excluded here:
https://github.com/dotnet/corefx/blob/26b932e3c56702382d13ece010b300d3181d2891/eng/DefaultGenApiDocIds.txt#L53

[code]

**Given that behaviour, we should consider removing the exclusion

[2019-02-26 22:22] ahsonkhan opened #35603 "Should GenAPI be removing the StructLayout attribute?"
https://github.com/dotnet/corefx/pull/35557#discussion_r259773232

If we are excluding this attribute, we should excluded `FieldOffsetAttribute` as well.
https://github.com/dotnet/corefx/blob/26b932e3c56702382d13ece010b300d3181d2891/eng/DefaultGenApiDocIds.txt#L31

Otherwise, we should keep this attribute.

[2019-02-26 22:23] #35358 closed

[2019-02-26 22:31] joshfree commented on #35552
@tarekgh

[2019-02-26 22:32] joshfree commented on #35544
@jeffschwMSFT

[2019-02-26 22:38] joshfree commented on #30422
@joperezr @ericstj could you comment on this issue given your involvement in the related linked issues?

[2019-02-26 22:40] joshfree commented on #30642
@ericstj could you comment on this issue while @joperezr is out?

[2019-02-26 22:41] stephentoub commented on #35602
It must not remove it.  This is a key part of using arbitrary task-like types as the return type of an async method.  It's more than just a compiler error: the reason for the error is the compiler needs to know what builder to use for that type as part of compiling the method.

[2019-02-26 22:45] joshfree commented on #35403
@vcsjones thanks for your contributions 😄 -- do you want to pick up this issue as well?

[2019-02-26 22:48] ahsonkhan commented on #35602
In which case, the action here is to update `DefaultGenApiDocIds.txt` and remove that exclusion.

Thanks.

[2019-02-26 22:52] vcsjones commented on #34366
@bartonjs Yeah sure; assign to me if you'd like. I did a proof of concept to see if the API shape made shape, just some (read: probably a lot) fit and finish required.

[2019-02-26 23:02] mshenoy83 commented on #32752
@brunolau  could you maybe create a gist with the workaround.

[2019-02-26 23:08] terrajobst commented on #34867
Sorry for the delay; today we reviewed a bunch of back log items. We'll do the same thing next week. I'll try to make sure I'll remember this :-)

[2019-02-26 23:11] #21920 closed

[2019-02-26 23:12] #29293 closed

[2019-02-26 23:47] jkotas commented on #35601
It should be fine to remove these. There are not relevant for the compilers.

[2019-02-26 23:52] ahsonkhan opened #35607 "Should GenAPI be removing the ToolboxItem attribute?"
Example usages: https://github.com/dotnet/corefx/blob/77cde697f9ee9941bdc76e02b9481d781790e86a/src/System.Diagnostics.EventLog/ref/System.Diagnostics.EventLog.cs#L101-L102
https://github.com/dotnet/corefx/blob/77cde697f9ee9941bdc76e02b9481d781790e86a/src/System.Management/ref/System.Management.cs#L136-L137

Excluded here: https://github.com/dotnet/corefx/blob/77cde697f9ee9941bdc76e02b9481d781790e8

[2019-02-26 23:54] ahsonkhan opened #35608 "Should GenAPI be removing the ComVisible attribute?"
Example usages: https://github.com/dotnet/corefx/blob/77cde697f9ee9941bdc76e02b9481d781790e86a/src/System.Security.Principal.Windows/ref/System.Security.Principal.Windows.cs#L321-L322
https://github.com/dotnet/corefx/blob/77cde697f9ee9941bdc76e02b9481d781790e86a/src/System.Diagnostics.EventLog/ref/System.Diagnostics.EventLog.cs#L164-L165

Excluded here: https://github.com/dotnet/corefx/blob/77cde6

[2019-02-26 23:57] ChaseFlorell commented on #10752
Unless I'm thick and missing something super obvious, this appears to be landing in NetCore as opposed to NetStandard. Does it need to be implemented in both, will this cover NetStandard?

[2019-02-27 00:02] danmosemsft commented on #10752
@chaseflorell this repo is for.NET Core as you mention. The dotnet/standard repo is the place where the standard is defined and requests should go in In issues there

[2019-02-27 00:17] ericstj commented on #35602
Sounds reasonable.  Does the compiler emit this attribute as well?  That could have been why it was excluded from GenAPI.

[2019-02-27 00:31] ericstj commented on #30422
The workflow compiler attempts to load assembly references for execution (in the desktop msbuild process on whatever framework installed on the build machine).  It will fail whenever it sees a reference assembly.  We modified some of our packages to avoid using reference assemblies for desktop and instead let users compile against the implementation, but System.Buffers doesn't have such a change.

[2019-02-27 00:40] ericstj commented on #30642
This is a duplicate of https://github.com/dotnet/corefx/issues/32457.

I tried out the repro and it is fixed with the latest System.IO.PipeLines package: 4.5.3.

[2019-02-27 00:40] #30642 closed

[2019-02-27 00:40] harish-kumar13 commented on #34008
Is this change still up for grabs or has anyone implemented it already? If still pending, I can give it a shot

[2019-02-27 01:20] LucidObscurity commented on #28135
Thanks davidsh. That worked.
[code]

[2019-02-27 01:43] ahsonkhan opened #35610 "Should GenAPI be removing the InterfaceType attribute?"
Example usage: https://github.com/dotnet/corefx/blob/23c06516a29ac94585cee09e82b5ddf57d0cae0e/src/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs#L1241-L1242

Excluded here: https://github.com/dotnet/corefx/blob/23c06516a29ac94585cee09e82b5ddf57d0cae0e/eng/DefaultGenApiDocIds.txt#L30

Should we be emitting these or retain them?

cc @AaronRobinsonMSFT, @jkoritzinsky

[2019-02-27 01:57] davidsh commented on #34878
Fixed with PR #35383

[2019-02-27 01:57] #34878 closed

[2019-02-27 01:57] davidsh commented on #34369
Fixed with PR #35383

[2019-02-27 01:57] #34369 closed

[2019-02-27 02:13] weitzhandler commented on #10752
Because the `Collection` is in Private Lib in CLR, I find it really hard and time consuming to set up the tests for my changes in the CLR. Gave it a few shots but didn't have much of success, need to find a free afternoon to get it done 💔

[2019-02-27 02:27] Jens-G commented on #31190
https://stackoverflow.com/a/54896975/499466

[2019-02-27 02:28] harish-kumar13 commented on #34008
I looked up a previous issue where building the repo locally was a problem, and as per that thread I ran build.sh on my mac, it did install lot of packages, but at the end failed with below error.
Should I open an issue for this?
The command "/corefx/src/Native/build-native.sh" x64 Debug OSX outconfig netcoreapp-OSX-Debug-x64 -portable" exited with code 1.

[2019-02-27 02:31] AaronRobinsonMSFT commented on #35610
I am not ready to remove this interface at the moment. Removing these attributes could cause many issues downstream and the full consequences I fear aren't even fully understood. I would leave as is for the foreseeable future.

[2019-02-27 02:36] divega opened #35611 "Consider adding string overloads of DbDataReader.GetFieldValueAsync and DbDataReader.IsDBNullAsync"
When we reviewed the API for #31595 we decided to leave async methods for later, for various reasons:

- It is less commonly used API (only required for sequential access)
- We were hoping to come up with some new API pattern for handling nullability that takes advantage of the new support for nullable reference types in C#
- We had doubts on whether new fine-grained async API should return `Value

[2019-02-27 02:39] Wraith2 commented on #31595
The primitive boxing issue @MarkPflug and I were discussing earlier in the thread has been addressed in SqlClient with https://github.com/dotnet/corefx/pull/34999 , it just needs reviewing and integrating. I've got a number of PR's open on SqlClient that would be good to get into 3.0 some of which has been open for several months and just need attention.

[2019-02-27 03:06] miguep opened #35613 "GetHashCode seems to only use the first field of a struct to calculate hash code"
With a struct like this:
[code]
if I try the following:

[code]
hash and hash2 are different, but trying this:

[code]
hash and hash2 are the same.

This behavior is different from the one in .NET Framework

[2019-02-27 03:18] m5x opened #35614 "add span support to MemoryMappedFiles"
`Span<T>` wave seems to have missed `System.IO.MemoryMappedFiles`. Is there some particular blocker for this? There are many scenarios in which it would be very useful to be able to access mapped memory as `Span<T>`.

[2019-02-27 03:25] stephentoub commented on #35614
What API specifically? Does this end up being different from https://github.com/dotnet/corefx/issues/33279?

[2019-02-27 03:48] danmosemsft commented on #35613
@jkotas was this an intentional change? I suppose some line may have to be drawn otherwise computing a hash for a struct could be arbitrarily expensive.

[2019-02-27 04:14] m5x commented on #35614
It doesn't. Didn't know about that one. Closing this issue.

[2019-02-27 04:14] #35614 closed

[2019-02-27 04:16] danmosemsft commented on #34008
@harish-kumar13 seems still up for grabs.

For the build failure can you dig a little deeper, look at console detail /build logs? 1 just means failed somehow

[2019-02-27 04:23] saucecontrol commented on #30106
I continue to have problems with these ref/lib version mismatches, even with current tooling and the settings given above.

This time it's the `System.Buffers` NuGet package version 4.5.0, which has `ref` assembly version 4.0.2.0 and `lib` assembly version 4.0.3.0 for netstandard2.0 targets.

Simple repro .csproj
[code]

and .cs
[code]

throws:

[code]

I can fix this with a manual binding redirec

[2019-02-27 04:27] tommcdon commented on #34721
@vancem @jorive @noahfalk is there any action needed for this issue?

[2019-02-27 04:32] tommcdon commented on #35585
cc @noahfalk

[2019-02-27 04:40] AaronRobinsonMSFT commented on #35610
Okay, let try this again. I don't fully understand how the ref assemblies are used by developers. If they are only for building and never a runtime component, then sure we can remove these attributes as they have no purpose during compile time, otherwise we should keep them.

[2019-02-27 04:59] jkotas commented on #35613
Yes, this is side-effect of using functionally correct hash algorithm for float/double: https://github.com/dotnet/coreclr/pull/13164/files#diff-ca326b8cd58d6642f56aa054c221c22aR2717

[2019-02-27 05:08] bartdesmet commented on #35547
The `StrongBox<T>` type is used primarily for closures, as a way to having single-variable closures (rather than bundling them all together in a "display class" as e.g. C# does). `StrongBox<T>` is nothing more than an object with a single field of type `T`, which can be used to take a `ref` in case the variable is to be passed to e.g. a `ref` or `out` parameter (an "lval").

Variables need to be h

[2019-02-27 05:08] jkotas commented on #35613
Right, the built-in hash algorithm for structs has number of trade offs, and it is pretty slow too. It is best to always implement `GetHashCode` on structs explicitly.

[2019-02-27 05:53] MgSam commented on #34233
I agree this is urgently needed for the reasons @GSPP lists.

I'd also add it's urgently needed because `Parallel.ForEach()` is a pit of failure when writing async code. It's more than happy to accept an `async` lambda that returns a `Task`. Only it doesn't do what the user expects (which is only continue once the async functions within have all fully executed). Instead it will immediately complet

[2019-02-27 06:45] yaakov-h commented on #34233
It's not Task-returning though. It's `async void` as a lambda.

[2019-02-27 06:48] dotnet-mc-bot opened #35616 "Test failure: Microsoft.VisualBasic.Tests.ConversionsTests/ToBoolean_Object_ReturnsExpected(value: \"false\", expected: False)"
Opened on behalf of @AriNuer

The test `Microsoft.VisualBasic.Tests.ConversionsTests/ToBoolean_Object_ReturnsExpected(value: \"false\", expected: False)` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190226.8 (Core Tests)
Failing configurations:
- ubuntu.1604.amd64@microsoft/dotnet-buildtools-prereqs:alpine-3.9-helix-af66924-20190215231918-x64
  - Release
Details:
http

[2019-02-27 06:57] dotnet-mc-bot opened #35617 "Test failure: System.Collections.Tests.CaseInsensitiveComparerTests/Ctor_Empty_Compare(a: \"hello\", b: \"HELLO\", expected: 0)"
Opened on behalf of @AriNuer

The test `System.Collections.Tests.CaseInsensitiveComparerTests/Ctor_Empty_Compare(a: \"hello\", b: \"HELLO\", expected: 0)` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190226.8 (Core Tests)
Failing configurations:
- ubuntu.1604.amd64@microsoft/dotnet-buildtools-prereqs:alpine-3.9-helix-af66924-20190215231918-x64
  - Release

Details:
ht

[2019-02-27 07:05] dotnet-mc-bot opened #35618 "Test failure: System.Tests.StringTests/Compare(strA: \"HELLO\", indexA: 0, strB: \"hello\", indexB: 0, length: 5, comparisonType: CurrentCultureIgn)"
Opened on behalf of @AriNuer

The test `System.Tests.StringTests/Compare(strA: \"HELLO\", indexA: 0, strB: \"hello\", indexB: 0, length: 5, comparisonType: CurrentCultureIgn)` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190226.8 (Core Tests)
Failing configurations:
- ubuntu.1604.amd64@microsoft/dotnet-buildtools-prereqs:alpine-3.9-helix-af66924-20190215231918-x64
  -

[2019-02-27 07:34] dotnet-mc-bot opened #35619 "Test failure: System.Tests.ByteTests/Parse_Invalid(value: \"1000\", style: Integer, provider: null, exceptionType: typeof(System.FormatException))"
Opened on behalf of @AriNuer

The test `System.Tests.ByteTests/Parse_Invalid(value: \"1000\", style: Integer, provider: null, exceptionType: typeof(System.FormatException))` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190226.8 (Core Tests)
Failing configurations:
- ubuntu.1604.amd64@microsoft/dotnet-buildtools-prereqs:alpine-3.9-helix-af66924-20190215231918-x64
  - R

[2019-02-27 07:55] safern commented on #10752
Please let me know or ping me on gitter if you get stuck at some point.

[2019-02-27 08:07] fowl2 commented on #34555
Shouldn't this be a allowlist rather than denylist and allow types to "opt in" as being "safe"? Otherwise you're just playing wackamole.

[2019-02-27 08:54] tmds commented on #35563
@VictorHofer I'm hitting this issue. Can I work around it locally?

[2019-02-27 09:11] brunolau commented on #32752
Sure, I will post it in a couple of days, I'm away from the PC for a couple of days and as soon as I get back, I'll do it

[2019-02-27 09:35] Lily721 opened #35620 "issues occurred when .Net core console project reference .net framework class library"
I got a .NET Core console project which use .NET Core 3.0 preview, and other class library with .NET Framework 4 Client Profile, and this framework class library got a reference from System.Security which using PermissionSet like following:

`using System.Security;`
`......................................`
`new PermissionSet(PermissionState.Unrestricted).Demand();`

When I add this class library t

[2019-02-27 10:33] maxzhou0 opened #35622 "how to make System.Net.HttpListener to support for long url ?"
I use System.Net.HttpListener to make a simple http server.(NOT through IIS)
when my url content become longer , i recieved the web page like these

is there some options i can configure to make max allowed content length larger?

[2019-02-27 10:48] ViktorHofer commented on #35563
This is already fixed. Make sure to be in latest master.

[2019-02-27 10:52] RobSwDev commented on #35558
@tarekgh

There are no limitations: clients create their own calculation models, and can theoretically use any strings they like.

We are considering NonSpace, but one issue is that it changes results compared to previous (Windows only) releases.

You say "very close" - are there still differences between Windows & Linux even with this option enabled?

[2019-02-27 11:18] MarcoRossignoli commented on #34799
@ahsonkhan  do you mean check and throw exception?

[2019-02-27 12:52] wonea commented on #26627
I'm using NET Core which is calling a NET Standard library where my code resides.

_ws = new ClientWebSocket();
_ws.Options.KeepAliveInterval = Timeout.InfiniteTimeSpan;
_ws.Options.SetRequestHeader("Content-Type", "application/json");

The Content-Type is never passed.

[2019-02-27 12:58] phillip-haydon commented on #13329
Why do the files need to be extracted? We used to get away with this in .NET with ILMerge.

[2019-02-27 12:59] Liero commented on #33767
@ajcvickers: I would like to get this very small change to single line of code to .NET Core 3 release. All tests passed, no breaking change. How do I fight for it? You are the area owner, right? :)

[2019-02-27 13:15] tmds commented on #35563
Is there something I should clear? I'm at f44142b855330ca9274827a230b8ad9a3ccda357 and I get this test. I tried `rm -rf ~/.nuget/packages` but that didn't help.

[2019-02-27 14:43] AlexaCodex commented on #16975
Is this supported yet and on which version?

[2019-02-27 14:56] ViktorHofer commented on #35563
I just tested this locally, the errors are gone as expected. Sounds like you are running on Unix, I will test on Ubuntu also. Yes I would recommend doing a full clean: ./clean.sh --all

[2019-02-27 14:56] vcsjones commented on #35622
If I am not mistaken, `HttpListener` uses Win32's http.sys on Windows, which is where this limitation is likely coming from. Therefore, I think the correct way to "fix" this for `HttpListener` then is to make appropriate [registry changes][1] and setting `UrlSegmentMaxLength`.

It is my understanding that using Kestrel will give you a lot more flexibility here and can be configured via `MaxRequest

[2019-02-27 15:08] ohadschn commented on #16290
Here's a way to do it without calling functions that have `WithoutValidation` in the name (note I add both `charset` and `type`):
[code]

[2019-02-27 15:21] ViktorHofer commented on #35563
Works fine on Ubuntu (WSL). Please try it again after cleaning your repository.

[2019-02-27 15:24] bartonjs commented on #30792
Since the main focus of the proposal is to add extension methods which operate on `null`, and that's generally against our guidance, this doesn't seem like anything that will be pursued.

[2019-02-27 15:24] #30792 closed

[2019-02-27 15:26] bartonjs commented on #31257
Since .NET Core 2.1 works, and .NET Core 2.0 is no longer in support, there doesn't seem to be any work remaining here.

[2019-02-27 15:26] #31257 closed

[2019-02-27 15:28] eerhardt commented on #30106
We had a bug in `System.Memory` that was fixed in version `4.5.2`.

I've repro'd your issue above and was able to fix it by doing the following:

[code]

If you own (or know who does) the `PhotoSauce.MagicScaler` package, you can ask them to update their `System.Memory` dependency from `4.5.1` to `4.5.2` to fix this issue for everyone.

[2019-02-27 15:31] eerhardt commented on #30106
Looking deeper (for tracking purposes) this was https://github.com/dotnet/corefx/issues/32457

[2019-02-27 15:37] bartonjs commented on #31536
This problem seems to be being addressed by tooling.  Since there's no action for corefx at this time I'm closing the issue.

[2019-02-27 15:37] #31536 closed

[2019-02-27 16:02] rikimaru0345 commented on #35547
That totally makes sense. I was wondering why the existing implementation didn't do that already.
Making the closure itself generic would be so much better instead of having an object array of strongboxes that need to be casted back on every access...

One question though: Do you think it would be possible for me to somehow get this in a usable form? Like, surely a patch of that size will not be a

[2019-02-27 16:18] swaroop-sridhar commented on #13329
@phillip-haydon, as described [here](https://github.com/dotnet/coreclr/issues/20287#issuecomment-459487688), ILMerge and single-file solutions achieve different objectives.

[ILMerge](https://github.com/dotnet/ILMerge) combines the IL from many assemblies into one, but in the process, loses the original identity of the merged assemblies. So, things like using reflection based on original assembly

[2019-02-27 16:26] RUSshy commented on #13329
CoreRT is something else, AOT compilation of your .NET code, it does look interesting, but not yet ready (i wish MS would focus on it, and allocates more resources.. this is exactly what people want, and why they moved to GO)

Anyway, i don't have technical knowledge to talk about the detail, but use case is:

Publish a single self-contained executable, and just that, nothing zipped, nothing extra

[2019-02-27 17:10] vancem commented on #34721
The fundamental source of the issue is that a while back DiagnosticSource started to use unsafe code (for efficiently generating new IDs).    This makes it more subtle for code access security (since it is no longer verifiable).    Now the attribute @markrendle is complaining about is actually obsolete only because all of code access security is obsolete, however he seems to be using code access s

[2019-02-27 17:45] roji commented on #31595
Posting this a bit late, but maybe it can still be helpful - [see here](https://github.com/npgsql/npgsql/blob/dev/src/Npgsql/TypeHandlers/UuidHandler.cs) for how Npgsql constructs its Guids without any allocations. Rather than using a pooled byte array instance as in the current PR a union struct is used instead.

[2019-02-27 17:49] davidsh commented on #35622
@Tratcher Can you comment about Kestrel's behavior here?

[2019-02-27 17:50] ajcvickers commented on #33767
@Liero No need to fight for it. Thanks for submitting the PR--I'll take a look.

[2019-02-27 17:52] krwq commented on #34867
Thanks :-)

[2019-02-27 17:54] roji commented on #35611
I think the idea was to give a bit more time to see what happens with https://github.com/dotnet/csharplang/issues/2194 (for nullability). Aside from that it definitely seems wise to have column-access methods return ValueTask rather than Task - although in this specific case it would make the API inconsistent (ordinal overload returns Task, string overload returns ValueTask).

Another way to look

[2019-02-27 17:54] Tratcher commented on #35622
Because kestrel is hosted in process you get a lot more programmatic control over its processing.
https://github.com/aspnet/AspNetCore/blob/0d570a2d429ada2f2b37fdf5bafead3bf92c16eb/src/Servers/Kestrel/Core/src/KestrelServerLimits.cs#L86-L94

Part of the reason HttpListener/HttpSys is less flexible here is that it can share ports across applications. I needs to be able to parse the request before r

[2019-02-27 18:37] buyaa-n commented on #33949
Thank you for digging into it @justindrocco, your point makes sense, but from another aspect it could impact out customers badly as the change you are requesting would fail validations which was passing before. What is your thoughts about customer impact about this change?

[2019-02-27 18:51] mshenoy83 commented on #32752
Just 1 more thing. I've been facing this error for a few days now. I have a durable function which calls my Sql Server VM. The version of Sql Server configured was Sql Server 2017
(Microsoft SQL Server 2017 (RTM-CU13) (KB4466404) - 14.0.3048.4 (X64)   Nov 30 2018 12:57:58   Copyright (C) 2017 Microsoft Corporation  Standard Edition (64-bit) on Windows Server 2016 Datacenter 10.0 <X64> (Build 14393

[2019-02-27 18:53] wfurt commented on #35583
can you post complete, minimalistic and runable repro?
It is hard to tell how server side is handled from the example. You can also run it with "strace -f -e trace networking XXX" to see what is going on.

[2019-02-27 18:55] wfurt commented on #35591
probably also related to https://github.com/dotnet/coreclr/pull/22871

[2019-02-27 18:56] jkoritzinsky commented on #9725
Fixed by #35516

[2019-02-27 18:56] #9725 closed

[2019-02-27 18:57] bartonjs commented on #31785
I can, to me, justify IndexOf in terms of LastIndexOf.

[code]

Two different callers could want two different answers.  Caller A wants the last index less than 840, which in this case is 4.  Caller B wants "this was out of bounds, so return no match (-1)".  The resolution to the ambiguity is to throw an Argument(OutOfRange)Exception indicating that this data made no sense.

Caller A can achieve t

[2019-02-27 18:57] #31785 closed

[2019-02-27 19:00] wfurt commented on #35569
This also looks like environmental problem, not a product bug.

[2019-02-27 19:02] bartonjs commented on #32062
@kouvel Does this issue belong in corefx? Or is it better tracked in the performance repository?

[2019-02-27 19:05] MattGal commented on #35569
It's not a product bug, it's an infrastructure bug that we don't retry when attempting to check if a blob exists.  Track it via https://github.com/dotnet/arcade/issues/2118 and it should get fixed eventually.

[2019-02-27 19:07] #35569 closed

[2019-02-27 19:17] bartdesmet commented on #35547
I don't have the full history on the original implementation, but there's definitely a tradeoff to be made. A few things that come to mind are:

* Bundling all hoisted locals together results in coupling the lifetimes of each of them, which is no different from the way C# does it.
* Instantiation of generic types (a `Closure<>` with many type arguments) has some JIT cost, but this is no different

[2019-02-27 19:18] joshfree opened #35629 "Are BinaryFormatter Serialization dotnet core and framework compatible?"
_From @bcbeatty on February 27, 2019 15:26_

# Are BinaryFormatter Serialization dotnet core and framework compatible?
I have 2 programs, one written in .Net Framework 4.7.x and another app that is dot net core 2.x

Program 1, written in .Net Framework. takes a Dataset and using BinaryFormatter writes it to a database field as a byte[].

Program 2, written in dot net core, then takes that record a

[2019-02-27 19:18] joshfree commented on #35629
@zhenlan @Lxiamail

[2019-02-27 19:19] joshfree opened #35630 "Exception System.ObjectDisposedException: Safe handle has been closed after unsuccessfully NTAccount.Translate"
_From @aboldarev on February 27, 2019 13:31_

# Exception System.ObjectDisposedException: Safe handle has been closed  after unsuccessfully unsuccessfully NTAccount.Translate

An unsuccessfully  call  (new NTAccount("DOMAIN_NOT_EXISTS\Role").Translate(typeof(SecurityIdentifier));
 cause next calls to throw exception System.ObjectDisposedException: Safe handle has been closed
# General

 I'm  using

[2019-02-27 19:30] karelz commented on #35387
First part is addressed in PR #35432. The remaining second part does not seem to be critical for gRPC scenarios, moving to Future for now.

[2019-02-27 19:30] saucecontrol commented on #30106
Thanks, @eerhardt. I couldn't figure out why the problem seemed to be isolated to a single package this time, but that explains it.

[2019-02-27 19:32] karelz commented on #35309
@stephentoub do you think some of this is must-have in 3.0? We think with @geoffkizer that it might be ok to move it to Future.

[2019-02-27 19:34] stephentoub commented on #35309
After all of the various aforementioned changes, it's mostly done.  The main remaining change would come about from pooling Http2Stream, at which point I'd expect the HTTP/1.1 and HTTP/2 allocation profiles for this basic scenario to look the same.  I'm hopeful that we can get the pooling change in for 3.0, but it's not absolutely must-have.

[2019-02-27 19:35] karelz commented on #35239
Should be simple to do what @davidsh suggests above: SocketsHttpHandler (or SslStream) should be fixed to reset the `SslStream.AllowRenegotation` property back to true (which is the default value) in cases where HTTP/1.1 is the resulting connection.

Should be 2 line change + tests (which may be a bit tricky).

[2019-02-27 19:38] karelz commented on #34461
@rmkerr do we need anything else here? Is it must-have for 3.0?

[2019-02-27 19:40] masterwok commented on #14745
I know this is an old thread, but did you have to add the certificates to the host where the application is deployed?

I haven't had success using this flag but I haven't added the certificates to the machine.

The EphemeralKeySet flag doesn't work for me either. I don't understand why access to a store is required even though all of the required data exists within the itself.

[2019-02-27 19:41] karelz commented on #32809
@davidsh are you still working on this one? What is left here?

[2019-02-27 19:43] karelz commented on #31979
Duplicate of #34912

[2019-02-27 19:43] #31979 closed

[2019-02-27 19:44] karelz commented on #31312
@wfurt are you actively working on it? (it is assigned to you)

[2019-02-27 19:46] karelz commented on #31304
Duplicate of #35195

[2019-02-27 19:46] #31304 closed

[2019-02-27 19:48] Lxiamail commented on #35629
@joshfree BinaryFormatter in .NET Core is not owned by WCF team. I think it's owned by BCL.

[2019-02-27 19:48] karelz commented on #31299
Related to #35388
It is an escape route if we don't get defaults right + involves new API. Not critical for 3.0 at this moment.

[2019-02-27 19:49] karelz commented on #31294
@wfurt is there anything still left here?

[2019-02-27 19:50] wfurt commented on #31294
finishing and merging PR :)

[2019-02-27 19:54] geoffkizer commented on #31300
Fixed by #35179

[2019-02-27 19:54] #31300 closed

[2019-02-27 20:25] ericstj commented on #11669
I've noticed the same.  In general ZipArchiveEntry.Open is very non-intuitive in its behavior.

For read only / write only you get a wrapped DeflateStream which doesn't tell you the length of the stream nor permit you to seek it.  For read/write (update) ZipArchiveEntry will read and decompress the entire entry into memory (in fact, into a memory stream backed by a single contiguous managed array)