[2018-05-24 08:01] aalmada opened #29887 "MemoryManager<T>.Dispose() is not public"
MemoryManager<T> implements IDisposable explicitly. It passes all the unit tests as these use the pattern: ` using (manager = new CustomMemoryForTest<int>(a)) { ... }`
The issue is that if I create the manager in one method and want to dispose later, I have to cast it first: `((IDisposable)manager).Dispose();`

[2018-05-24 08:52] ManuelDev1810 opened #29888 "WinHttpException: The connection with the server was terminated abnormally"
I am getting this error doing a Get Request. This is code that I've made.

       public async Task<Image> GetImg(int id)
        {
            try
            {
                HttpResponseMessage httpresponse = await client.GetAsync("/api/home/" + id);
                string stringresponse = await httpresponse.Content.ReadAsStringAsync();
                Image image = JsonConvert.DeserializeObje

[2018-05-24 09:19] kurtschelfthout commented on #29871
That's an unrealistic use case. If you're ok with allocating Lazy instances, the extra allocations of closures is not going to matter to you. It's likely you'll hold on to the Lazy instances for a long time anyway and so all the objects will get to Gen2 and be more or less out of the way. With LazyInitializer on the other hand, the whole point is to avoid allocations - so by definition you care -

[2018-05-24 10:48] davidelettieri commented on #29687
I don't know if it's related to the signature algorithm but from the wireshark traces it looks like the certificate is not being added to the request

![image](https://user-images.githubusercontent.com/5262655/40481058-7aa292e8-5f50-11e8-97f7-f08b978d9d98.png)

while it's being sent on the working calls

![image](https://user-images.githubusercontent.com/5262655/40481131-baeae5da-5f50-11e8-946b-f2

[2018-05-24 10:53] sanjayicy commented on #29868
Thanks @karelz  , the issue got resolved now after importing the external libraries.

[2018-05-24 10:53] #29868 closed

[2018-05-24 11:55] marek-safar commented on #29654
This is now tracked as #29847 as well as updated to Xamarin.Android in 8.4 version

[2018-05-24 13:14] filipw commented on #25800
@karelz I had the exact same issue on Debian Stretch Docker images. Roughly 1-3 calls in a 1000 from a static `HttpClient` would randomly fail with the exact same Task Canceled / timeout exception, with the same stacktrace (ending with `FinishSendAsyncBuffered`).

The HTTP call would never leave the box, so the target service never even recorded an incoming request. It was happening fairly consist

[2018-05-24 13:37] benaadams commented on #29887
/cc @GrabYourPitchforks

[2018-05-24 14:21] provanguard commented on #21429
I am facing the same error when calling SaltStack API from an Azure Web App with Containers support, running NET Core 2.0 Web API solution, using Flurl or RestSharp clients.

Dockerfile is using:
FROM microsoft/aspnetcore:2.0.8-jessie

[code]

[2018-05-24 14:24] stephentoub opened #29890 "Fix Nano runs in release/2.0 and release/2.1 branches"
We addressed the failures in master, but these are still failing on all runs in the release/2.0 and release/2.1 branches.

cc: @MattGal, @danmosemsft

[2018-05-24 14:39] #12513 closed

[2018-05-24 14:55] patagonaa opened #29892 "Preamble missing in System.Net.Http.StringContent"
If you use an Encoding that returns/needs a Preamble with StringContent, the Preamble will not be written.

Example (in Web API Controller)
[code]
If this Controller Method is called, the string "Test" will be returned with the correct Encoding, but the Preamble (UTF-8 BOM) is missing.
This is happening because `GetPreamble` is never called in StringContent, unlike how it's implemented in `StreamW

[2018-05-24 15:38] karelz commented on #29886
@stephentoub I think this is a new test you added in #29786. Can you please take a quick look?

[2018-05-24 15:57] karelz commented on #21429
@provanguard thanks - let's follow up on your repro and how to investigate further in the new issue you created - #29891.

I am surprised to see 5 downvotes on my closing above ... if anyone else has a way to reproduce it, please speak up. Without a repro or additional information it is not actionable for us. Also note that .NET Core 2.1 does not use libcurl anymore, so trying it on 2.1 RC may get

[2018-05-24 16:13] ViktorHofer commented on #29881
Do other languages have hardcoded Unicode properties in their language implementation? Is the only advantage of hardcoding these values the intellisense auto-completion support?

[2018-05-24 16:21] Tratcher opened #29894 "HTTP POST Request loosing cookies when sent from Linux"
_From @FasettoAndrew on May 24, 2018 10:51_

We have two ASP NET Core websites running in a Linux environment which communicate using HTTP requests.

On one server we are manually creating the new HTTP request and adding a provided cookie collection to the request like so:

`CookieCollection cookies` is passed to the method

[code]

In our use case, currently only a single cookie is being added, b

[2018-05-24 16:28] karelz commented on #25800
Thanks @filipw for letting us know it does not reproduce for you on .NET Core 2.1 RC anymore!

The root-cause might have been in libcurl (specific version), or how we interact with it in CurlHandler. We introduced SocketsHttpHandler (default in 2.1) to help us address exactly this class of problems and make behaviors on all platforms uniform. It's good to see it is paying off.

[2018-05-24 16:34] MohammadHamdyGhanem commented on #29881
@ViktorHofer

Why should I konw or care abiut that?

As I said, it is immposible to memorize all these names.
It's not reasonable to go back to docs every time to search for these names.
It is not reasonable to ,ake millions of rorgrammers define such this class by there own.
It is not reasonable to download a nuGet just to have this basic class.
I think these values should be a part of the framew

[2018-05-24 16:40] tmat commented on #29861
Can you share the DLL and the Portable PDB on which the converter reports these errors?

[2018-05-24 16:43] tarekgh commented on #29874
@madhub I am closing this issue, but feel free to reply back and we can help you if you still have the problem.

[2018-05-24 16:43] #29874 closed

[2018-05-24 16:44] madhub commented on #29874
Yes, it works, my bad  I was looking at the debug window in visual studio saw red in header name & other attributes , I thought it is error.

![image](https://user-images.githubusercontent.com/8907962/40499445-981028aa-5f9f-11e8-992e-98824a4dd88e.png)

[2018-05-24 17:07] karelz commented on #22434
@Aarthiumayaval this is tracking intermittent test failures. If you hit similar symptoms, please file a new bug with information about repro.
Can you create minimal repro we can reproduce elsewhere?
Are you able to reproduce it 100% or is it intermittent? Can you reproduce it on multiple machines? Did you try different distros?

Once you create new issue, let's delete the comment above to avoid co

[2018-05-24 17:13] karelz commented on #29894
@FasettoAndrew which version of .NET Core do you use? Did you try 2.1 RC?

Did you look at the network traces? (Fiddler / Wireshark) Is the cookie present there?

Can you please post minimal repro that would allow us to reproduce the failure on our side?

[2018-05-24 17:20] slozier opened #29898 "UTF8Encoding calls DecoderFallbackBuffer.Fallback with invalid index"
`UTF8Encoding` calls `DecoderFallbackBuffer.Fallback` with an invalid `index`. It seems like `bytesUnknown.Length` is subtracted one too many times? This also occurs on .NET Framework. The other encodings do not appear to have this issue.

The expected behavior is that `TestUtf8DecoderFallBack` should succeed without throwing an exception:
[code]

[2018-05-24 17:21] bryanrcarlson commented on #26845
Please excuse my extreme naivete, but does a .net core implementation of [Apache Arrow](http://arrow.apache.org/) relate to this?

Wes McKinney recently [posted on his blog announcing Ursa Labs](http://wesmckinney.com/blog/announcing-ursalabs/) which would open .net up to a whole new crowd if there were collaboration.

[2018-05-24 17:32] FenrisWolfAtMiddleEarth commented on #26223
@paulomorgado @Tratcher
In our company, we are required to use NTLM for identity authentication.
A move to HttpClientHandler would be a major performance degradation, as http connections cannot be reused.

[2018-05-24 17:34] weshaggard opened #29899 "Microsoft.Windows.Compatibility.Shims shims targeting 2.1 but supports 2.0"
Looks like we are taking the live shims https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.Windows.Compatibility.Shims/Microsoft.Windows.Compatibility.Shims.pkgproj#L7. However we are putting them in 2.0 folder in package https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.Windows.Compatibility.Shims/Microsoft.Windows.Compatibility.Shims.pkgproj#L32. This is likely going to cause pr

[2018-05-24 17:34] stephentoub commented on #26223
They can.  In .NET Core, it's as if UnsafeAuthenticatedConnectionSharing is true.  The assumption is that you're only giving out the client/handler to code you're ok reusing your connections.  That's a different model from HttpWebRequest, where the pool of connections is essentially static and potentially accessed by all HttpWebRequests.

[2018-05-24 17:34] weshaggard commented on #29899
I marked as 2.1.x currently until we understand the full extent of the problem.

[2018-05-24 17:37] voltcode commented on #26845
@bryanrcarlson I mentioned Apache Arrow as a means for ML.NET to integrate with R and Python - check out  https://github.com/dotnet/machinelearning/issues/69 if you're interested

[2018-05-24 17:41] danmosemsft commented on #29890
@karelz is there someone who could own porting recent Nano fixes into 2.0 and 2.1 (with shiproom permission) ? It should not be too bad. The issue is the runs use an updated Nano build.

[2018-05-24 17:42] FenrisWolfAtMiddleEarth commented on #26223
@stephentoub
Thanks Stephen. That is really great news. It is an enabler for our migration to .net Core
Also a surprise to me. Last time I tried it, I was not able to reuse connections.
So there is no property or anything else I should use? Just straight forward use of HttpClientHandler?

[2018-05-24 17:43] ericstj commented on #29899
Just did a quick diff of mscorlib/system/system.core and I see the following forwards will be broken:
- System.ComponentModel.InvalidEnumArgumentException
- System.Collections.Comparer
- System.Diagnostics.DebuggerStepperBoundaryAttribute
- System.Diagnostics.DebuggerVisualizerAttribute
- System.IO.StreamReader
- System.IO.StreamWriter
- System.IO.TextReader
- System.IO.TextWriter

I also saw a nu

[2018-05-24 17:46] safern commented on #29899
So then that means that we will need to cross compile them for 2.0 and have the 2.0 shims and the 2.1 shims included in their own folder, right?

[2018-05-24 17:49] ViktorHofer commented on #29881
Before we sponsor an API which then gets submitted to the API review board we often look at other implementations (if applicable - in this case as Regex is its own language - it definitely is) to get a better understanding and consider things we wouldn't have thought about. That's why I asked.

I know that you have been working on your side project `Verex`, why shouldn't I just use your package wh

[2018-05-24 17:52] ericstj opened #29900 "Where do we generate desktop facades for vNext?"
@weshaggard @terrajobst @safern @stephentoub @Petermarcu

Today we generate facades for mscorlib, System, System.Core, System.Drawing, etc in CoreFx.

We ship those shims both in the latest netcoreapp packages, as well as in the Microsoft.Windows.Compatibility.Shims package in order to apply them in netcoreapp2.0.

With vNext we'll be bring back some types, including many types which overlap with

[2018-05-24 17:54] ericstj commented on #29899
Yeah.  That'd do the trick and is probably the safest thing to do for now.

If we wanted something that was more future proof we could generate one set that was based on the superset of the types forwarding to the original location when they first appeared in .NETCore.  Since we'll always add typeforwards when we push types down and compiler/runtime are resilient to dangling forwards this would wo

[2018-05-24 17:56] wfurt commented on #29772
I'm not sure I understand your use case @luigiberrettini Maybe simple sample code would help.
Did you try to us SelectMode.SelectError?
https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.selectmode?view=netcore-2.0
In general on Unix, you can also select/poll for read will give you notifications about errors. You can do that even if you only intent to write -> like sending data to sysl

[2018-05-24 18:01] weshaggard commented on #29899
Actually thinking about this a little more it isn't as simply as cross-compiling just for 2.0 as we need to take the live version (that support 2.0) of the compat package libraries as well. So it will be 2.0 for the core platform and the live version of all the compat packages.

[2018-05-24 18:04] weshaggard commented on #29900
Assuming we don't ship the different layers as individual chunks then I think generating them at the highest level and shipping them inbox to that framework is the best thing to do.

[2018-05-24 18:05] ericstj commented on #29899
It is actually that simple.  The build system ensures the right set of bits get binplaced.  When you build a "live" build of allconfigurations it gets the 2.0 ref/runtime binplaced and then the latest assemblies (where they target 2.0) are dropped on top.

[2018-05-24 18:18] ericstj commented on #29899
@safern that's fine.  `netstandard` should binplace for `netcoreapp2.0` if that's the best config available.  You may want to include a runtime binplace config for netcoreapp2.0 here, https://github.com/dotnet/corefx/blob/master/dir.targets#L76, because shims like mscorlib target runtime assemblies so that they can expose internal types that may surface in serialization.

[2018-05-24 18:22] safern commented on #29899
Ok, thanks. Also, should all the packages under the compat pack, including the shims package, should be harvested once we release the stable versions? Because all of them still have nca2.0 package configurations in our master branch.

[2018-05-24 18:47] MohammadHamdyGhanem commented on #29881
@ViktorHofer
Yes, you have to do that as a team member, but I don't have to as a programmer. I only want to write code as fast and, as easy as possible, with less chances to do syntax errors.

You can of corse, but you've rejected a previous issue to add such API to corefx, and the feedback I got showed me that nat all programmers will use such regex builder as they prefer using the compact regex

[2018-05-24 19:02] CyrusNajmabadi commented on #29881
Because it's important to understand the world and how people have approached the problems because a ton of thought has been put into regexes over decades of study and use :)

Why not?  Millions of people do this every day.  It's how people do modern development across many systems and platforms.  You personally seem to be very against the idea of using these systems, but that is not a good reason

[2018-05-24 19:17] perbergland commented on #8807
I agree with others: just having accesstoken support would be a major valuable first step and it is currently a big missing piece now that MSI is gaining well worth momentum.

[2018-05-24 19:17] danmosemsft commented on #29841
@wfurt can you please determine whether it is possible to workaround this (without the fix obviously) by passing a flag to the compiler to disable this diagnostic? I assume this is possible.

This is a request from shiproom to help determine whether we should backport to release/2.1

[2018-05-24 19:33] echesakovMSFT opened #29902 "System.Tests.EnvironmentProcessorCount.Unix_ProcessorCountTest should use _SC_NPROCESSORS_CONF on Linux"
As we found in dotnet/coreclr#17851 `sysconf(_SC_NPROCESSORS_ONLN)` returns arbitrary number between 1 and actual number of logical CPU cores (it's been observed on Jetson TK1 board). There is PR dotnet/coreclr#18053 waiting to be merged.

As @stephentoub pointed out in https://github.com/dotnet/coreclr/pull/18053#issuecomment-390506497 the following CoreFx test
[System.Tests.EnvironmentProcessorC

[2018-05-24 19:35] bgottfried91 commented on #25016
@dhowe , can't speak for OS X, but the issue appears to be fixed in the latest dotnet 2.1 Debian release (tested against docker image microsoft/dotnet:2.1-runtime). Try switching to the 2.1 framework and see if it resolves the issue for you on OS X.

[2018-05-24 19:50] danmosemsft commented on #29691
@alexcyoung can you please confirm you were able to get unblocked using one of the workarounds? That is part of what we have to consider when deciding whether to backport this fix into 2.1.

[2018-05-24 20:17] ahsonkhan commented on #29847
cc @joperezr

[2018-05-24 20:22] luigiberrettini commented on #29772
Hi @wfurt here you can find references to the behavior I am asking about in this issue:
 - [Test](https://github.com/luigiberrettini/socket-poll/blob/master/TestSuite.cs)
 - NLog.Targets.Syslog code [1](https://github.com/luigiberrettini/NLog.Targets.Syslog/blob/v5.0.0/src/NLog.Targets.Syslog/MessageSend/MessageTransmitter.cs#L59), [2](https://github.com/luigiberrettini/NLog.Targets.Syslog/blob/v5

[2018-05-24 20:26] luigiberrettini commented on #29772
Hi @wfurt here you can find references to the behavior I need clarifications about:
 - a simple [test](https://github.com/luigiberrettini/socket-poll/blob/master/TestSuite.cs)
 - NLog.Targets.Syslog code [1](https://github.com/luigiberrettini/NLog.Targets.Syslog/blob/v5.0.0/src/NLog.Targets.Syslog/MessageSend/MessageTransmitter.cs#L59), [2](https://github.com/luigiberrettini/NLog.Targets.Syslog/bl

[2018-05-24 20:40] luigiberrettini commented on #25040
Please let me know if I should do something since the code is ready on my side

[2018-05-24 20:40] luigiberrettini commented on #25040
Please let me know if I should do something since the [code](https://github.com/dotnet/corefx/compare/master...luigiberrettini:keep-alive) is ready on my side

[2018-05-24 20:44] #29708 closed

[2018-05-24 20:53] wfurt commented on #29772
AFAIK, there is no reliable way how to detect "disconnect" for UDP. (as there is no connection) Your data may or may not be delivered and there is no feedback or confirmation. The only option is getting ICMP (port)unreachable. And you will not get it unless you sent data to closed port.
The C# implementation will throw error only if underlying OS implementation errors out.

#1 from your previous c

[2018-05-24 21:06] ViktorHofer commented on #14334
Can we try to port this change to netfx vnext and mono vnext so that we can include it in netstandard vnext so that we can target that version for our OOB package, i.e. System.Reflection.Context?

[2018-05-24 21:11] CyrusNajmabadi commented on #29881
Great :)  It sounds like your API is the right place hten to have these sorts of helpers.  If you are interested in contributing the intellisense experience around Regexes, def let me know!

[2018-05-24 21:28] dhowe commented on #25016
Unless something has changed very recently, this is issue is NOT resolved. I have since switched to debian where the issue (as @bgottfried91 mentions above)  does not appear to exist.

[2018-05-24 21:43] wfurt commented on #29841
yes, we can workaround it for FreeBSD. There are other FreeBSD issues for 2.1 branches so it is not blocking. We should consider the fix for other reasons.

[2018-05-24 21:45] wfurt commented on #29376
I'll take a look. I can also try to run it on Raspbian. My guess is that it may be alignment issue for native structures.

[2018-05-24 21:53] wfurt commented on #28305
It seems like the linked issue was closed. Shall we close this as well @luigiberrettini ?

[2018-05-24 21:54] wfurt commented on #27870
shall we close this @karelz since 2.1 fixes it?

[2018-05-24 22:10] davidsh opened #29905 "AcceptEncodingHeaderSentWithNoDuplicates test failing on CurlHandler"
While working on PR #29903, several of the new tests added are failing on CurlHandler.

System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandlerTest

* GetAsync_SetAutomaticDecompression_AcceptEncodingHeaderSentWithNoDuplicates(methods: Deflate, encodings: "deflate", manualAcceptEncodingHeaderValues: "gzip")
* GetAsync_SetAutomaticDecompression_AcceptEncodingHeaderSentWithNoDuplicates(me

[2018-05-24 22:11] wfurt commented on #27951
https://github.com/dotnet/corefx/pull/27208

Should we close it now?

[2018-05-24 22:14] wfurt commented on #27529
We could delay index lookup  @kasper3 but than we need to store the string.

cc: @davidsh and @caesar1995

[2018-05-24 22:34] wfurt commented on #20178
I think @wjzhou is right. man page for nohup says "redirects stdin from unreadable file".
I think we should close this @karelz

[2018-05-24 22:46] safern opened #29906 "Need a way to run packages tests without requiring netfx targeting pack being installed"
Right now if I want to run the package tests and I don't have all the targeting packs installed for all the net* full framework TFMs that we build packages for, then the package tests fail with error:

[code]

cc: @ericstj @joperezr

[2018-05-24 23:11] keeratsingh commented on #29870
@Martin-Stein

I tried the connection strings above and `System.Data.SqlClient` version `4.4.3` connects as expected, however version `4.5.0-rc1` gives the following exception on `SqlConnection.Open()`, bear in mind the error is different from what your are seeing. I will investigate further as to why I am seeing this error.
`SDK Target Version Windows 10, version 1803(10.0; Build 17134)`

[code]

[2018-05-24 23:38] ericstj opened #29907 "runtime.win10-arm64.runtime.native.System.IO.Compression 4.3.0 is missing from nuget.org"
Folks are starting to see this when restoring the 4.3.0 compression for ARM64. I see the package on myget. We should either publish that on nuget or publish an empty one (if the intent was to delay support).

[2018-05-25 00:20] karelz opened #29909 "Announcement: .NET Core Community online Hackathon on 6/2"
We will have a hackathon for CoreFX, CoreCLR and CoreFxLab repos on Sat 6/2.
Come and join us online: https://github.com/dotnet/corefx/wiki/Hackathon

We will appreciate our experienced contributors to join us and help us guide others to get started and submit their first PRs.
You can also contribute to your favorite repo (or to a new one 😄). Or just log in and hang out with others in our Hackatho

[2018-05-25 01:20] karelz commented on #29909
and more recent contributors:
@mdonoughe @tdinucci @MaximLipnin @NickCraver @flcdrg @BrunoJuchli @BrzVlad @marek-safar @stakx @luhenry @juliushardt @gbalykov @MisinformedDNA @ezsilmar @dudleycodes @FreezyLemon @nerai @jo-ninja @matekm @mark-cordell @Tyriar @buddyabaddon @BigBadBleuCheese  @BredPet @Clockwork-Muse @danielearwicker @johnnyRose @sputier @Ducki @VasiliyNovikov @iamatinkerer @skarllot

[2018-05-25 01:56] iamatinkerer commented on #8807
@David-Engel @saurabh500, if the development for AccessToken on SqlConnection hasn't begun, then I could try to implement this using reference source. Let me know what you think.

[2018-05-25 03:14] itn3000 commented on #29595
I found another similar case in System.Threading.Channels.
WriterTask:ReaderTask = N:1 case in netcoreapp2.1 is faster than or mostly same as netcoreapp2.0.
But W:R = 1:N case in netcoreapp2.1 is slower than netcoreapp2.0.
Is it same reason?

here is my updated test code and results.

* [test code](https://github.com/itn3000/task-queue-bench-netcoreapp2.1/blob/38ae017bfa4935e281e2e8ff5458242acc3ec

[2018-05-25 03:35] davidsh commented on #29892
This behavior is unchanged from .NET Framework 4.x.  StringContent constructor only takes an Encoding parameter for the purpose of pre-setting the 'Content-Type' header and getting then getting the bytes of the string using the encoding object passed in and then calling .GetBytes().

It has never called the GetPreamble() method of the encoding.

[2018-05-25 05:29] bgrainger opened #29910 "new X509Certificate2 fails on macOS for concatenated certificates"
`new X509Certificate2(string)` and `new X509Certificate2(byte[])` fail under .NET Core 2.0 on macOS if there is more than one certificate in the file being loaded. The following exception is thrown:

[code]

The same data is accepted without failure on Windows 10 and Ubuntu 14.04 (and just the first certificate in the file is loaded).

A minimal repro is here: https://github.com/bgrainger/LoadCert

[2018-05-25 05:38] #29781 closed

[2018-05-25 06:48] tmds commented on #25016
@dhowe are you using 2.1?

[2018-05-25 06:49] tmds commented on #29841
@danmosemsft this is ported to 2.1 here: https://github.com/dotnet/corefx/pull/29845

[2018-05-25 06:50] patagonaa commented on #29892
I figured that, but I still think this would be a useful feature, because at the moment the behavior between e.g. `StreamWriter` (which is used by `File.WriteAllText()`) so if I write a string to a file on disk it would have a BOM and if a user downloads it directly, it would not have a BOM (with the same encoding settings).

We figured that out because we're building CSV Files by hand with String

[2018-05-25 07:02] dhowe commented on #25016
dotnet 2.0 due to compatibility requirements

[2018-05-25 07:03] tylerl0706 commented on #25427
@stephentoub I'm not quite on 2.1 yet so I can't use the new hotness... would you mind elaborating on how you did this:

it can be done with a complicated dance involving creating a directory that's permissioned just to the user,
creating the domain socket on a path in there, etc.

I saw that passing an absolute path into NamedPipeServerStream is possible but also in 2.1 :(
https://github.com/dotn

[2018-05-25 07:08] Sunny-pu commented on #19223
This issue is repo in master branch, detail:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180525.01/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.SafeServiceControllerTests~2FGetServices

[2018-05-25 07:34] tmds commented on #25016
The fix is not in 2.0. Using 2.1 you shouldn't see this. 2.1 will be released soon-ish.

[2018-05-25 08:03] Doff3n opened #29911 "Norwegian sorting strings: AA vs Å"
Sorting strings in norwegian should be sorted as danish. This is the case for both .net core and .net 4.6.1

Reproduced in repo:
https://github.com/Doff3n/HelloSort

Start
aa
ab
ac
åå

Sorted result using culture db-NO
aa
ab
ac
åå

Expected
ab
ac
aa
åå

Sorted result using culture da-DK
ab
ac
aa
åå

[2018-05-25 09:04] Martin-Stein commented on #29870
Hi keeratsingh,

Your provided suggestions in your link have not helped :-(

Here is the result of your code above:

A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configured to allow remote connections. (provider: TCP Provider, error

[2018-05-25 09:08] GSPP commented on #2454
This issue is still unresolved. I keep finding code on the web or questions on Stack Overflow where unsuspecting people run into this. It happens *all the time*. Few people suspect that any wait can execute *arbitrary code*. And few people are able to write safe code under these circumstances. I can't. I have illustrated this in comments above where I pointed to qualified Microsoft programmers who

[2018-05-25 09:27] jskeet commented on #17117
This is one of the issues I've run into when getting TimeZoneInfo working in .NET Core in Noda Time. See https://github.com/nodatime/nodatime/pull/1142

(It's possible that all the problems I've found are already reported; I'm going to check though.)

[2018-05-25 09:37] jskeet opened #29912 "Custom time zone creation on Unix doesn't return the presented rules"
Closely related to #14797, but without involving serialized strings.

`TimeZoneInfo.CreateCustomTimeZone` accepts adjustment rules - but the rules that are passed in are munged when `GetAdjustmentRules` is called, due to the way that regular TZIF files are handled.

Here's an example:

[code]

Output on Windows: 3 3
Output on Unix: 3 1

Ideally, if the user has passed in any rules, those should be

[2018-05-25 09:44] jskeet opened #29913 "TimeZoneInfo adjustment rules returned on Unix "miss" a second per transition"
Related to #17120.

The time zone rules returned from `GetAdjustmentRules()` in .NET Core use a combination of `DateEnd` and `DaylightSavingTransitionEnd` to determine when a particular rule effectively ends.

It looks like the intention is for the end point to be inclusive - but while the internal representation is inclusive by being one *tick* earlier than the transition instant, the rule return

[2018-05-25 09:47] jskeet commented on #17120
One general point - the code has this comment:

[code]

My experience trying to interpret the rules in Noda Time is that they definitely *can't* use the returned rules as if they were the Windows rules. If you want a really high bar for compatibility between Unix and Windows here, I'd be happy to try some sample data representations and see whether there's a way of making Noda Time take a single p

[2018-05-25 09:56] jskeet opened #29914 "TimeZoneInfo.AdjustmentRule on Unix: Daylight deltas of 23 hours are very confusing"
Currently Pacific/Apia uses a daylight delta of -23 hours to represent it crossing the international dateline. This broke Noda Time until I put specific code in to account for it.

Code to detect this:

[code]

I realize that there are issues due to adjustment rules not indicating when they use a different standard time, but I *think* the base UTC delta is being used internally anyway, so I'd expe

[2018-05-25 09:58] stephentoub commented on #29841
@tmds, but not merged; Dan is gathering data to determine whether it needs to be.

[2018-05-25 10:07] jskeet opened #29915 "TimeZoneInfo.AdjustmentRule on Unix: daylight delta of zero (but DST reported) is confusing"
I believe this is another case of "well we sort of assume a single standard offset for all time, but not everywhere". The following program displays zones (with the first occurrence per zone) where `TimeZoneInfo` will say that an instant in time observes daylight savings, but the rule applied at that point has a DaylightDelta of zero.

[code]

In Noda Time I "correct" this by assuming that all suc

[2018-05-25 10:13] khellang commented on #29911
Some background; http://archives.miloush.net/michkap/archive/2006/04/27/584439.html

[2018-05-25 10:35] SjoerdWesterhof opened #29916 "Resolve Core naming ambiguity"
It is unclear to me what Core means with:
- .NET Core the framework implementation
- ASP.NET Core the ASP.NET implementation running on both Desktop and .NET Core
- .NET Core class libraries able to target Desktop. f.e. net471

I think it would help for developer understanding of these new technologies and tools to have unambiguous naming. Right now i can't pinpoint what "Core" means.

[2018-05-25 11:57] colgreen commented on #22940
Q. Is there any chance this functionality ever be available in .NET Standard?

I maintain a code library/nuget that would benefit from using these hardware intrinsics, but it currently targets .NET Standard to provide good portability.

Ideally I'd like to continue to offer portability, but also improved performance if the runtime platform/environment provides these intrinsics. Right now it seems

[2018-05-25 12:47] dotnetgator commented on #8807
Just to be certain - based on @karelz comments from just a few short months ago (November 2017) - are you certain you understand why AccessToken is being asked for, and why this is not a "number of votes" issue?

[2018-05-25 12:51] ManuelDev1810 commented on #29888
@karelz  Sorry I am a little noob. I'm not understand English very well. I am going to try Fiddler or
Wireshark. I didn't even knew those guys.  Can you explain me what do you men by 100% repro?

I am using .Net Core 2.0.

[2018-05-25 12:52] luigiberrettini commented on #28305
This issue can be closed but not because the linked issue was closed: I used workarounds to cover what is not currently covered by the framework

[2018-05-25 12:52] #28305 closed

[2018-05-25 13:14] fujiy opened #29917 "Socket support for TCP_QUICKACK"
I'm not sure if Windows support this at socket level as Linux does. But delayed ack does not works well when the remote endpoint is using Nagle Algorithm (TCP_NODELAY = false).

Reference: https://blogs.technet.microsoft.com/nettracer/2013/01/05/tcp-delayed-ack-combined-with-nagle-algorithm-can-badly-impact-communication-performance/

[2018-05-25 13:29] stephentoub commented on #29595
That's using `ConcurrentQueue` under the covers, so it's effectively the same thing.

[2018-05-25 13:30] luigiberrettini commented on #29772
Using a heartbeat is not feasible because I am not the owner of the Syslog protocol

The only way to know if a Socket is really writable is to send data on it, but to avoid the server receiving bad data I would like to know if I can send some sort of data that is usually discarded (0 bytes array or something else).

I read that `SelectMode.SelectWrite` returns `true` based on the fact that the las

[2018-05-25 14:20] amshekar commented on #29878
@karelz
Please refere the below repo.
https://github.com/csreehari/FxReferenceConsoleAppCore.git

Actually the issue with the `IsDate(dOB) ` function which is present in one of the shared method.

We are facing these kind of issues present in  `Microsoft.visualbasic.strings`

`Namespace Microsoft.VisualBasic
    '
    ' Summary:
    '     The Strings module contains procedures used to perform stri

[2018-05-25 14:30] stephentoub commented on #25427
That would be in the implementation rather than something you can do on top of the API.  We also ended up not doing that, as it turned out not to be necessary to implement this.

[2018-05-25 14:36] jkotas commented on #22940
@colgreen This was discussed in https://github.com/dotnet/corefx/issues/24346. I recommend moving the discussion there.

[2018-05-25 14:37] jkotas commented on #24346
Question from @colgreen

I maintain a code library/nuget that would benefit from using these hardware intrinsics, but it currently targets .NET Standard to provide good portability.

Ideally I'd like to continue to offer portability, but also improved performance if the runtime platform/environment provides these intrinsics. Right now it seems my choice is either speed or portability, but not both

[2018-05-25 14:38] jkotas commented on #24346
If you want both portability and speed for platform/environment provided by these intrinsics, you would need to build your library twice: once for netstandard and once for netcoreapp, and include both in your NuGet package. It is pretty common for top tier nuget packages to include multiple builds optimized for different targets. For example, https://www.nuget.org/packages/Newtonsoft.Json/11.0.2 c

[2018-05-25 14:44] stephentoub commented on #19223
Failed again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/d7d72770327c909cdf639b6392ae97ddd7eff880/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.SafeServiceControllerTests~2FGetServices

[2018-05-25 15:24] David-Engel commented on #8807
We understand the value of adding the AccessToken property to SqlConnection and how it benefits this issue. There is a separate issue specifically for AccessToken: #13660, It is the next thing we will be working on as soon as currently active work items are wrapped up. @keeratsingh

[2018-05-25 15:25] orellabac opened #29920 "System.Data.Common nuget does not reflect github code"
The latests nuget for System.Data.Common does not includes the latests code. For example it does not include the DbProviderFactories impl. Could you provide a link to download a more updated nuget?

[2018-05-25 15:32] binki commented on #2454
Interesting. If I understand correctly, the deadlock would arise when the thread pool reaches its maximum thread count because all of the `.Result` are blocking threads and preventing them from being returned to the thread pool.

If the issue is only found in waits which block the current thread, could `await` be changed to avoid inlining by default with something like `.ConfigureAwait(allowInline

[2018-05-25 16:04] benjamin-hodgson opened #29921 "ValueStringBuilder is slower at appending short strings than StringBuilder"
Investigating why my PR #27250 makes `HtmlEncode` slower, I wrote a quick benchmark (using BenchmarkDotNet) to compare `StringBuilder` and `ValueStringBuilder`:

[code]

Here are the results:

[code]

(This is using .NET Core 2.1 RC1 on OSX.) So `ValueStringBuilder` is faster at appending single characters but slower at appending strings than `StringBuilder`.

[2018-05-25 16:07] keeratsingh commented on #29870
@Martin-Stein
Could you kindly share the output for the following command `netstat -ano | find "1433"`
You can execute this from the command prompt.
Here is what the output looks like for me.
[code]

[2018-05-25 16:10] stephentoub commented on #19223
This is failing a bunch now, and not just on Nano, e.g.
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/1753c55c27a8d352f18f54b6e58556721fdeff0b/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.SafeServiceControllerTests~2FGetServices

[2018-05-25 16:11] colgreen commented on #24346
@jkotas ok understood. Thanks for the response.

I have a general purpose library where this makes sense, and another library (that consumes the other one) that is related to machine learning where these h/w intrinsics may be very useful, and thus I'm tempted to provide a dotnet core version only. The main downside right now is that ultimately there's a winforms app at the top of the stack (i.e. t

[2018-05-25 16:22] tarekgh commented on #17120
@jskeet

That will be great. in general, net core still has problems reporting the adjustment rules correctly on Linux. and on Windows, we depend on Windows data (we read from the registry) which has some limitations (e.g. cannot have 2 daylight transitions in the same year, and not having the historical data too).

We have some plans to investigate how we can get accurate data and fix the related

[2018-05-25 16:34] jskeet commented on #29913
@Clockwork-Muse: For continuous time, absolutely. Pure date ranges (e.g. June 10th-15th) make more sense to be end-inclusive, partly due to the values being discreet.

[2018-05-25 16:36] jskeet commented on #17120
Yes, we have our own copy of the IANA data and you can load extra data at execution time - but we also allow a conversion of TimeZoneInfo to DateTimeZone for interoperability. I definitely understand that's a bit of a second class citizen in terms of data :)

[2018-05-25 16:41] tarekgh commented on #17120
@jskeet I want to get your feedback regarding carrying IANA data in your library. Do you regularly update your library (I mean you have a new version) when you update the data? and how the applications using your library get the updates? I mean does the apps need to republished because of that? I am asking because this is the classical problem with carrying the data and that is why we still depend

[2018-05-25 17:05] Tratcher commented on #27861
Update: Twitter no longer returns UTC in their cookies, they changed back to GMT.

[2018-05-25 17:08] #29698 closed

[2018-05-25 17:22] wfurt commented on #29772
no, I was not suggesting heat-beat and I'm somewhat familiar with syslog protocol.

Back to the Poll, discussion: The primary function is not to detect disconnects. It can detect errors on socket - and for TCP disconnect is one of them. do "man poll" on your linux system and read the page. Since UDP does not have connection, there is no disconnect and socket will not transition to error mode unles

[2018-05-25 17:27] jimcarley commented on #29668
Done with PR - https://github.com/dotnet/corefx/pull/29901

[2018-05-25 17:27] #29668 closed

[2018-05-25 17:33] danmosemsft commented on #29691
@joshfree also pointed out that makecert is documented to be for testing purposes only. https://msdn.microsoft.com/en-us/library/bfsktky3(vs.80).aspx  Nevertheless, if it is prone to producing certs we can't consume, that is still a problem.

[2018-05-25 17:45] safern commented on #19223
Failed again in:
https://mc.dot.net/#/user/safern/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/b159e14d51ed709815536127011096911ac10e8f/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.SafeServiceControllerTests~2FGetServices

[code]

[2018-05-25 17:52] alexcyoung commented on #29691
The only option we've looked at is replacing the certificate with one that did not use the high bit set at the start. This has been successful during testing.

I understand from earlier comments that usage of the high bit set falls outside the definition in the RFC for certificate serial numbers. However this certificate was generated by makecert (and makecert designated the serial number, there w

[2018-05-25 18:06] tarekgh commented on #19223
and again

https://mc.dot.net/#/user/tarekgh/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Frelease~2F2.1~2F/test~2Ffunctional~2Fcli~2F/725ee07c46c065b61770d8ae1f078e1a7aa02e13/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.SafeServiceControllerTests~2FGetServices

[2018-05-25 18:09] karelz commented on #3891
@davidsh is it still relevant for SocketsHttpHandler?

[2018-05-25 18:11] karelz commented on #17030
Closing as we do not plan to add the functionality. If there is more interest in future, we can revisit.

[2018-05-25 18:11] #17030 closed

[2018-05-25 18:11] davidsh commented on #3891
It's not relevant for SocketsHttpHandler.  SocketsHttpHandler uses SslStream and I think it will respect/use any trusted issuer list that a server might (or might not) send to the client.

The issue is still relevant for WinHttpHandler.  If we don't think we will invest more in it then we can close this issue.

[2018-05-25 18:16] karelz commented on #25040
@luigiberrettini if you can match the scoped API shape, feel free to put up a PR for review of your changes. Let me know if you plan to do that - I will assign the issue to you in such case to signal it is taken. Thanks!

[2018-05-25 18:17] karelz commented on #3891
Thanks. Let's keep it open for now.

[2018-05-25 18:21] karelz commented on #29892
We should not break existing behavior IMO - the API behaves this way for ages and this is the first complaint AFAIK (or are there more elsewhere? Stack Overflow?) Also, there is a simple workaround.

If there is simple natural way to extend the API to support also the automatic BOM case as opt-in, I'd be ok with that. Do you have one in mind?

[2018-05-25 18:25] davidsh commented on #29892
Missed your comment above regarding concern about app-compat.  This could probably use discussion regarding whether an API change is needed.  But there is already an API for StringContent that takes the encoding object and that is what is broken here.

[2018-05-25 18:29] karelz commented on #29892
I am mostly worried about compat with Desktop. Breaking in Core is fine if we decide it is the right thing to do - we will just diverge the platforms and the fix will likely not make it to Desktop due to its breaking nature.
@davidsh do you think it is worth fixing it in Core?

[2018-05-25 18:32] davidsh commented on #29888
It means "does this problem always occur?".  In order to troubleshoot this, please submit (via ZIP file) a complete, small, solution (Visual Studio solution etc.) so that we can compile the code and run it under the debugger to see the problem.

[2018-05-25 18:34] davidsh commented on #29892
We can fix it in Desktop as long as we do AppContext switch opt-out.

Yes, I think it should be fixed.  There are two constructor overloads for StringContent.  Most devs just use the first one that doesn't take an Encoding object.  But for those specialized cases that do take the second parameter, Encoding, it should work correctly.  And right now, we don't call .GetPreamble().  This is an old bug

[2018-05-25 18:35] krwq commented on #29825
My current understanding is following:
Issue happend always when ContentInfo is not Oids.Pkcs7Data, which is any of the following:

[code]

Quick look at the output the diff seems to be that Windows has additional DER prefix (Sequence Tag with length).

I've debugged through Windows code (.NET Core) and in fact there is a code path which adds DER Sequence prefix when content type Oid is not `1.2.8

[2018-05-25 18:36] stephentoub commented on #29892
I'm not convinced there's anything to "fix" here.  I understand that the behavior differs from what the original poster here expected, but having the behavior be to use Encoding.GetBytes seems like the right answer to me.  Pretty much everything with the exception of StreamWriter that takes an Encoding doesn't write out a preamble.

[2018-05-25 18:37] stephentoub commented on #29892
@tarekgh, do you have an opinion on this?

[2018-05-25 18:39] stephentoub commented on #29892
@davidfowl, does ASP.NET expect / output BOMs?

@davidsh, what do other frameworks / clients do here?

[2018-05-25 18:42] stephentoub commented on #2454
Yes.  Even before then, though, performance degrades terribly, as once you get to Environment.ProcessorCount threads, the thread pool's going to start throttling how quickly additional threads are injected.

[2018-05-25 18:44] fujiy commented on #29759
It will be release in 2.2? The next milestone is still 3.0 (https://github.com/dotnet/corefx/milestone/21)

[2018-05-25 18:46] danmosemsft commented on #29916
@richlander do you want to share your thoughts on this?

[2018-05-25 18:48] danmosemsft commented on #29902
@echesakovMSFT could you offer a PR?

[2018-05-25 18:53] rmkerr commented on #29742
@stephentoub I talked to Sunil about this -- there are not any known issues around multiple sends/receives. I'll try to see if I can reproduce this locally.

[2018-05-25 19:00] luigiberrettini commented on #25040
I have worked on this at the end of March, commented many times and asked support to understand if my approach was correct before submitting a PR.
You told me you were going to open the API discussion and probably it's me not understanding, but these comments look like the discussion is still open:
 - "Networking team is fine with the first part of the API. We are going to bring it to BCL API revi

[2018-05-25 19:02] tarekgh commented on #29892
Which scenario would the permeable be needed here? I understand the StreamWriter case but this BOM can break the data sent to non-Windows platforms and other tools. I believe the mentioned workaround here is enough to unblock the needed scenario and I don't think we need to emit the BOM. Powershell ran into many problems when having BOM which would be nice to avoid here :-)

[2018-05-25 19:06] karelz commented on #25040
Yeah, the issue is not super-clear, my apologies.
The final API review happened https://github.com/dotnet/corefx/issues/25040#issuecomment-391097721 (it was switched to api-approved).

The remaining work is to do a research on other options and how they behave if they are not supported on specific OS/versions. We should match the behavior (no-op vs. exception) with them to be consistent.
Does it m

[2018-05-25 19:11] davidfowl commented on #29892
@stephentoub we went our of our way to turn off BOMs:

- https://github.com/aspnet/HttpAbstractions/blob/bcb7bcbb7a6461204f4cefd9848e2a782ebb0a6b/src/Microsoft.AspNetCore.WebUtilities/HttpResponseStreamWriter.cs#L14
- https://github.com/aspnet/SignalR/blob/f09b0e13d901cc4b03928911ed9ff4178f8fdb5b/src/Common/Utf8BufferTextWriter.cs#L16

[2018-05-25 19:11] danmosemsft commented on #29921
I wonder what the numbers would be like if the ValueStringBuilder was reasonably presized.

[2018-05-25 19:13] danmosemsft commented on #29691
@alexcyoung thanks. Is it possible to help me answer: does makecert always make certs with this issue, or if not how often do you see it?

[2018-05-25 19:26] stephentoub commented on #29892
Thanks, @tarekgh and @davidfowl. Yeah, I don't think we should make this change.

[2018-05-25 19:27] jskeet commented on #29913
Oh yes, I completely agree that using inclusive endpoints here is a bad idea, and in Noda Time we always use exclusive ones :)

[2018-05-25 19:28] vancem commented on #29770
Closing the issue as the StringBuilder.GetChunks was exposed in CoreFX with #29877.

[2018-05-25 19:28] #29770 closed

[2018-05-25 19:30] karelz commented on #29892
OK, closing then. Thanks everyone for helping to form a decision here!

[2018-05-25 19:30] #29892 closed

[2018-05-25 19:40] FSou1 commented on #28270
I've taken a look at this issue and would like to mention that:
1. Based on the [benchmark](http://adamsitnik.com/Array-Pool/) "Allocate" vs "RentAndReturn_Shared" significant enchancement of performance could be achieved once the buffer > 1000 bytes;
2. `datetime` stored as two 4-byte integers which is 8 bytes in total;
Taking into account the above I'm not quite sure here is a real opportunity o

[2018-05-25 19:44] karelz commented on #27870
Agreed, 2.1 supports all authentications via SocketsHttpHandler. Closing

[2018-05-25 19:44] #27870 closed

[2018-05-25 19:49] krwq commented on #29825
Ok reading spec a little bit more it seems that we should always encrypt only inner content (no identifier or length octets). Adding Sequence prefix seems to be related to the fact that all PKCS7 types are defined as sequence and this way we can roundtrip. In case of Pkcs7Data user has passed non ASN.1 encoded data which means we should strip all prefixes in order to give user the data back

[2018-05-25 19:52] luigiberrettini commented on #29772
About heart-beats I only wanted to clarify that it was not feasible for me even if you did not suggest it.
With regard to the OS my library was targeting Windows and now also Linux and OS X.

The [poll man page](https://linux.die.net/man/2/poll) does not help so much in understanding how to detect a disconnection in C# and `Specifying a timeout of zero causes poll() to return immediately, even if

[2018-05-25 19:55] davidsh commented on #26032
While this test issue is titled with a generalized problem, "Test failures: Remote servers unreachable", the problem is all within the System.Net.WebClient tests.

I think the solution here to improve test reliability is to change the tests to use the loopback server. These tests were written before we had the src/Common/tests loopback server class.

[2018-05-25 19:56] karelz commented on #29917
I couldn't find existing option on Windows sockets APIs either.
@davidsh should we ping Windows folks to confirm?

cc @geoffkizer

[2018-05-25 19:58] karelz commented on #29916
This issue was moved to dotnet/core#1598

[2018-05-25 19:58] #29916 closed

[2018-05-25 19:59] karelz commented on #29920
I believe that System.Data.Common stopped being published as standalone package.
To use the latest, please target .NET Core 2.1.

cc @weshaggard

[2018-05-25 20:15] davidsh commented on #29917
Yes @rmkerr could follow up with the usual TCP team that he already has worked with.

[2018-05-25 20:28] bgottfried91 opened #29927 "HttpListener.Stop() Followed By task.GetAwaiter().GetResult() results in different exceptions on different OS"
The following code will result in different exceptions being thrown depending on which OS it is running on:
[code]

On Windows (using [SDK 2.1.300-rc1](https://www.microsoft.com/net/download/dotnet-core/sdk-2.1.300-rc1)) it results in an HttpListenerException ('The I/O operation has been aborted because of either a thread exit or an application request').

On the latest Debian Stretch Docker Image

[2018-05-25 20:44] karelz commented on #27861
Thanks @caesar1995 for the steps above. @davidsh I don't think you're working on it so I unassigned you. Feel free to change it back if I was wrong ... thanks!

[2018-05-25 20:45] rmkerr commented on #29917
I'll reach out to the TCP team to confirm. In the meantime, I recommend checking out the documentation [here](https://support.microsoft.com/en-us/help/214397/design-issues-sending-small-data-segments-over-tcp-with-winsock) on managing some of the issues with the Nagle algorithm and delayed ack.

[2018-05-25 21:12] fujiy commented on #29917
@rmkerr, I read that article, one of the issues I intend to prevent is the problem with Nagle algorithm

[2018-05-25 21:28] jskeet commented on #17120
@tarekgh: Yes, we release a new version when there's a data change, as a patch. Recently we've been releasing patches to 1.3.x, 1.4.x, 2.0.x, 2.1.x and 2.2.x (where 2.3.0 has only just come out) but we're likely to reduce that soon to just 1.4.x, 2.2.x and 2.3.x.

In addition, we publish a new data file on the web site. Applications can check https://nodatime.org/tzdb/latest.txt to find the URL of

[2018-05-25 21:48] #26991 closed

[2018-05-25 21:48] #29747 closed

[2018-05-25 21:58] joperezr commented on #29906
I guess that for this we could manually restore the targeting packs and have the generated projects to reference that instead, but it does go a bit against what we try to do with these tests. The point of the tests is to try to test our packages against a real-world environment, and see if they restore correctly, so that also means referencing the same targeting pack that our customers will. Also,

[2018-05-25 22:07] davidsh opened #29929 "Multicast Socket tests failing on Nano"
https://github.com/dotnet/corefx/pull/29903#issuecomment-392196091

The Sockets multicast tests are failing on Nano:
https://mc.dot.net/#/user/davidsh/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/5f5dae7b004d88bdc2927927d655380c56087396/workItem/System.Net.Sockets.Tests

[2018-05-25 22:30] caesar1995 commented on #27468
Hey @Lexcess sorry that it took me a while before trying the repro. It's still not clear to me what's the problem here.

My summary for the discussion thread is that: passing `CancellationToken.None` to `HttpClient.SendAsync` will result in memory leak - the `request.Content` is held and not get GCed. But based on the description above, it sounds like: using static HttpClient to send request will

[2018-05-25 22:50] felipepessoto opened #29932 "Socket Pool"
There is several performance critical scenarios that can benefit from Socket reuse through pooling.

Have you considered it?

I'm not sure about the API, if it would be a new class (with Rent and Return), or a implementation in Socket itself (like SqlConnection).

Here we have a sample, but based on TcpClient: https://www.codeproject.com/Articles/35011/NET-TCP-Connection-Pooling. It is very simple

[2018-05-25 22:50] tdinucci commented on #11967
Thanks @karelz

@stephentoub, there are 3 ways I can approach this, can you please let me know your preference?

* Focus on performance - here I wouldn't touch the async code so as not to introduce any overhead.  Obviously the downside is that there's going to be a lot of duplication.

* Focus on maintainability (while obviously still keeping performance in mind) - here I would do a bit of refacto

[2018-05-25 23:40] #29285 closed

[2018-05-26 00:08] ManuelDev1810 commented on #29888
Oh thanks for the answer about 100% repro. In that case @davidsh @karelz  is not 100% repro, because the exception only occurs when I use Eager Loading to get the Comments of the Image.

If I use this code works : Image image = await context.Images.SingleOrDefaultAsync(m => m.Id == id);
If I use this it doesn't work:      Image image = await context.Images.Include(m => m.Comments)

[2018-05-26 01:33] mbalsam commented on #27000
Got the same thing:

`The handler does not support custom handling of certificates with this combination of libcurl (7.54.0) and its SSL backend ("LibreSSL/2.0.20").`

I added the path.GetDirectoryName and it shows

` /usr/local/share/dotnet/shared/Microsoft.NETCore.App/2.0.5`

One note: This code was compiled on a PC and ssh'ed to the mac.

[2018-05-26 02:01] davidsh commented on #27000
This means that your app is still using .NET Core 2.0 and not .NET Core 2.1.  And that means that the CurlHandler HTTP stack is still being used...which is why you continue to see the error.

It looks like you did install .NET Core 2.1-RC1.  So, I think this means that you need to re-target your app by modifying your .CSPROJ file so that it will compile and target .NET Core 2.1.

Can you please sh

[2018-05-26 04:18] davidsh commented on #29888
Thanks for submitting the ZIP file.

You indicated above that you thought you were running .NET Core 2.1.  According to the CSPROJ file, you are still targeting and building with the .NET Core 2.0 libraries.  That is why you still see the WinHttpException at times.

You need to change your CSPROJ so that you can target .NET Core 2.1.

Here is one of your CSPROJ files,

[code]

[2018-05-26 04:49] Legedric commented on #27000
I resolved the issue on my Mac by installing the latest version of the .Net Core 2.1.0-300-rc1 package.

At first I tried to use the -200 version but that somehow did not let me change the TargetFramework in my .csproj files to netcoreapp2.1 as it always said that 2.1 is not a supported target framework.

Installing the RC of -300 fixed that issue for me and after I changed my csproj file to targe

[2018-05-26 04:54] ManuelDev1810 commented on #29888
Thank you very much @davidsh I am going to do the guidance and then I am going to tell you what happen.

[2018-05-26 06:15] ManuelDev1810 commented on #29888
How you said @davidsh  the exception has changed.

An unhandled exception occurred while processing the request.
SocketException: An existing connection was forcibly closed by the remote host
Unknown location

IOException: Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host.
System.Net.Sockets.Socket+AwaitableSocketAsyncEventArgs.ThrowEx

[2018-05-26 06:26] AndrewZ1989 commented on #28270
FSoul1, the main goal is to reduce number of unnecessary memory allocations.

As I wrote in my original post,
"...Let's imagine that we read 1 million DateTime values from database. Using existing implementation of TdsParser we will have 1 million allocations of byte[] what causes unnecessary memory traffic and isn't so good for GC."

The size of allocated arrays is small, but there are too many a

[2018-05-26 09:02] lkts opened #29934 "Correct way to set proxy settings to be used by HttpClient on Windows?"
Hi,

I am running my ASP.NET Core 2.1 RC 1 Final app inside Docker container based on `microsoft\dotnet:2.1-aspnetcore-runtime-nanoserver-sac2016`. I would like all my requests from `HttpClient` to go through system-wide (container-wide) proxy. I didn't find any good source of information on what configuration should i do. One thing that i tried was to set proxy environment variables but it does n

[2018-05-26 09:12] Martin-Stein commented on #29870
Hi keeratsingh,
here is the result

C:\WINDOWS\system32>netstat -ano | find "1433"
  TCP    0.0.0.0:1433           0.0.0.0:0              LISTENING         17052
  TCP    [::]:1433                 [::]:0                     LISTENING         17052

[2018-05-26 09:46] luigiberrettini commented on #25040
Makes sense, I'll start working on this in two days.

[2018-05-26 13:12] svick commented on #29932
Do I understand it correctly that this applies to scenarios where all of the following apply?

* You're not using HTTP.
* You're need to send/receive multiple messages to the same server.
* Using a single socket is not enough.

[2018-05-26 14:09] fujiy commented on #29932
Exactly

[2018-05-26 14:49] davidsh commented on #29888
On .NET Core 2.0, the WinHttpException is **"The connection with the server was terminated abnormally"**.

On .NET Core 2.1, the SocketException is **"An existing connection was forcibly closed by the remote host"**.

Both of them mean the same thing. These exceptions are being caused by the server disconnecting the client abruptly.

The server in this case is a localhost server ASP.NET MVC projec

[2018-05-26 17:13] sidshetye commented on #8158
@bartonjs for an EC cert (e.g. secp-256 curve) that's in OS cert store (say OS=Windows, StoreLocation = LocalUser and StoreName = My), how does one load it's private key into `ECDiffieHellman` in .net core 2.1 to actually use it?

[2018-05-26 17:17] Pack4Duck commented on #26917
This issue persist :(

[2018-05-26 19:53] stephentoub commented on #26917
@Pack4Duck, can you please share a complete repro of the issue you're facing?

[2018-05-27 07:45] Pack4Duck commented on #26917
@stephentoub sure! With first part of code that i wrote, with netcore, it never calls "Completed" event so send in loop data. Same code with Net Framework works good

[2018-05-27 11:08] stephentoub commented on #26917
We need something we can run, not just a snippet.

[2018-05-27 11:48] cod7alex commented on #29934
Following my testing, I think environment variables actually work and I run into some other issue with my environment. Having some docs on this would be nice though (maybe they exist but I didn't find them).

[2018-05-27 15:01] MohammadHamdyGhanem opened #29937 "Suggestion of some more negative expressions in Regex"
In regex:
1- `\S` is the negative of `\s`, and `\P{}` is the negative of `\p{}`. Can't `\Xnn` be the negative of `\xnn` and `\Unnnn` be the negative of `\unnn` whrere n is a digit?
They are shorter than `[^\xnn]` and `[^\unnnn]` respectively.

2- `[^a]` is the negative of a.. There is no short easy expression to negate a text such as abc, to get an expression that matches any successive 3 chars bu

[2018-05-27 15:10] tlwest opened #29938 "Access to System.Runtime.Remoting.Metadata.W3cXsd2001 under .NET Standard"
System.Runtime.Remoting is not implemented in .NET Standard for various good reasons.

However, there are some utility classes that (as far as I can tell) don't depend on the main problematic parts of System.Runtime.Remoting. The one that concerns me is **System.Runtime.Remoting.Metadata.W3cXsd2001** which includes classes for binary/hex conversion.  Could this be added into .NET Standard under a

[2018-05-27 17:09] mbalsam commented on #27000
For now, we're just doing everything from the cmdline with dotnet.exe on windows 10.

These are our steps:

- Created a new directory
- enabled tracing with set COREHOST_TRACE=1
- Ran dotnet new console --name testfor21
- edited global.json and pointing to "2.1.4"
- edited  the csproj to look like this

[code]

-  We compiled using dotnet run testfor21 > console.log

We see these errors at the end

[2018-05-27 17:39] karelz commented on #29932
I wonder if such kind of pooling would be better to be done on top of Sockets - similar way SocketsHttpClient does it.

[2018-05-27 17:40] karelz commented on #29934
We should harness proxy settings on Windows from WinHttp settings.
Do you see difference of proxy detection between Nano and other Windows SKUs?

[2018-05-27 17:40] karelz commented on #29934
cc @wfurt

[2018-05-27 17:41] karelz commented on #29937
Are these industry standard extensions of regex? If not, are we ok extending regex in a way specific to .NET only?

[2018-05-27 17:54] karelz commented on #29938
The types there seem to be SOAP related. I wonder if they would fit better WCF or external library. It does not feel like something we should include in "core" BCL IMO.

[2018-05-27 18:02] karelz commented on #27000
2.1.4 is version number of SDK/tooling. Framework/runtime version is 2.0.7 or 2.1-rc (or something like that).

[2018-05-27 18:18] davidsh commented on #29934
We don't use WinHTTP settings (netsh ).

We use WinINET / Internet Explorer settings which are stored in the registry per-user.  Those settings, though, are accessed via WinHTTP APIs:

* WinHTTPGetIEProxyConfigForCurrentUser
* WinHttpGetProxyForUrl

It is possible that Nano container doesn't have any initial IE settings in the registry when a container is first created.  Also, it is unlikely that

[2018-05-27 18:19] Kaktusbot opened #29939 "Socket SendAsync MutipleBuffers pinning."
I was looking at sockets code, and one thing looked suspicious to me.
I downloaded corefx repo and and tested some simple code with debugger.
[code]
If my program uses multibuffer send once and after that only uses singlebuffer sends then buffers from that first and single multibuffer send will be pinned as long as socket itself lives.
I'm understand that such a memory leak is unimportant and such

[2018-05-27 18:26] MohammadHamdyGhanem commented on #29937
@karelz
This is a question for the team to decide. But I know that there are some differences betwen various implementations of regex, as som of char class operators supported in other languages. Bieng compliant to some standard doesn't mean you can't add extra features. I think the negative string or in general a negative group can simplify some regex and open new possibilities.

[2018-05-27 19:03] mbalsam commented on #27000
Ok, I removed TargetFrameworkVersion from the csproj

case 1:
I have no global .json
`<TargetFramework>netcoreapp2.0</TargetFramework>
`It compiles and Path.GetDirectoryName(typeof(object).Assembly.Location)}) prints

case 2:
I have no global .json
`<TargetFramework>netcoreapp2.1</TargetFramework>`
I get

case 3:
`<TargetFramework>netcoreapp2.1</TargetFramework>`
Specify global.json = "sdk": {

[2018-05-27 19:39] mbalsam commented on #27000
David,  It worked! Thanks for the help.

Note to others:

I put this in the global.json

[code]

and this in the csproj

`<TargetFramework>netcoreapp2.1</TargetFramework>`

I'm now going to try the same in Visual Studio.

[2018-05-27 19:39] cod7alex commented on #29934
@karelz I have regular 2016 servers configured via registry, but wanted configuration of container (Dockerfile) to be as simple as possible.

[2018-05-27 21:52] Wraith2 commented on #28270
This looks like a good candidate for Spanification. The changes to do so are pretty easy and the existing tests all pass when they're made. The only thing I'm not sure about is whether the existing tests cover the method changed.

[2018-05-28 07:06] Sunny-pu opened #29940 "Test System.Transactions.Tests.AsyncTransactionScopeTests.VerifyNestedTxScope failed in CI."
Test: System.Transactions.Tests.AsyncTransactionScopeTests.VerifyNestedTxScope has failed.

MESSAGE:
Assert.Equal() Failure\nExpected: (null)\nActual: CommittableTransaction { IsolationLevel = Serializable, PromoterType = 00000000-0000-0000-0000-000000000000, TransactionInformation = TransactionInformation { CreationTime = 2018-05-26T22:01:32.6788934, DistributedIdentifier = 00000000-0000-0000-000

[2018-05-28 07:36] jorgebay commented on #15017
Here is the use case we are interested in support:
We have a C# client driver library for our database (DataStax Enterprise). The server supports GSSAPI (Kerberos v5) authentication. We currently support GSSAPI authentication via SSPI (Windows-only APIs) on the C# driver, we are interested for a solution that runs on both Windows and Linux.

We need a way to authenticate the client to the server (

[2018-05-28 07:40] HarpyWar commented on #21429
Code with the following URL throws exception `SSL peer certificate or SSH remote key was not OK` on Linuxю But it works on Windows.
[code]

[2018-05-28 08:05] Aarthiumayaval opened #29941 "SPNEGO logon fails from linux client against windows server"
Attaching  client and server application compiled in netcoreapp2.0 . Authentication is successful from windows client and failed from linux client. The server is windows . In the client code I used impersonation level as System.Security.Principal.TokenImpersonationLevel.Identification for linux as this is only supported. From windows I used System.Security.Principal.TokenImpersonationLevel.Impersp

[2018-05-28 08:09] Aarthiumayaval commented on #22434
I opened a new issue https://github.com/dotnet/corefx/issues/29941 . I ahve attached a client/server netcoreapp2.0 to reproduce the error.

[2018-05-28 08:10] Aarthiumayaval commented on #22434
I have opened new issue https://github.com/dotnet/corefx/issues/29941

From: Karel Zikmund [mailto:notifications@github.com]
Sent: 24 May 2018 22:39
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Umayaval A S, Aarthi <Aarthi.UmayavalAS@Teradata.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/corefx] Test failure: System.Net.Security.Tests.NegotiateStreamTest / NegotiateStream_*

[2018-05-28 09:52] Wraith2 commented on #27124
Your branch is good progress towards modernising the entire assembly. I don't think there is any specific element in the current code that can be optimized without having an unfortunate effect elsewhere. In particular the right coupling of the internals of the interpreter/runner and the use of private fields and methods make it very difficult to work with. I'm not sure this should be marked as up

[2018-05-28 10:01] pantonis commented on #28711
@joperezr I have try to follow migration [steps ](https://docs.microsoft.com/en-us/nuget/reference/migrate-packages-config-to-package-reference) but in Step 2 I cannot see any option Migrate packages.config to PackageReference

![image](https://user-images.githubusercontent.com/3295086/40609390-2bb03738-6277-11e8-82a5-7da61d32f526.png)

[2018-05-28 10:10] ChristianHaase commented on #27951
You may close this

[2018-05-28 10:17] danielkatz commented on #22638
@davidsh
Referring you to the rule of thumb on issue #18449 [link](https://github.com/dotnet/corefx/issues/18449#issuecomment-296333284):

Currently, HttClient won't return at all values that are widely used like:
```Content-Type: text/plain; charset=WINDOWS-1255```

It feels that there should be a symmetry to the `TryAddWithoutValidation` method by adding a new `TryGetWithoutValidation` method.

[2018-05-28 10:19] krisrok commented on #15830
meh, still nothing for netstandard2.0 ?

[2018-05-28 10:47] FasettoAndrew commented on #29894
Under further investigation we identified the root cause of the issue.

The first back-end server was setting the domain on the cookies to be the same as what the originated from the front-end request, then performing a HTTP request to second back-end server with "localhost" as domain. Because the cookie domains did not match, they were being dropped.

We only saw this working on Windows as we acc

[2018-05-28 11:01] MohammadHamdyGhanem commented on #29937
@karelz
I also suggest to allow operations between Unicode categories, such as intersection (&), union (+), difference (-). For example, the following expression:
`\p{(IsBasicLatin+IsArabic)&(L- Lt)+Nd}`
is a shortcut for:
`(?=\p{IsBasicLatin}|\p{ IsArabic})([\p{L}-[\p{Lt}]]|\p{Nd})`
It is obvious that the first one is shorter, cleaner, and easier to understand than the second one.

[2018-05-28 12:10] Wraith2 commented on #24192
I started looking into this and tried to replicate using benchmarkdotnet. Unfortunately I can't find a way to make benchmarks run with previous clr versions (tried ClrRuntime() with the various options I know I have installed, didn't find them).

However what I have found is a performance difference between x86 and x64 of 1:5 on from netfx4 and core which seems like a very big difference. I wonder

[2018-05-28 12:51] tmds opened #29942 "Unix: machine certificate store throws on load when it contains certificates the user has no read permission for"
On Fedora 27:
[code]
With `2.1.300-rc1-008673` gives
[code]
But with the `2.1.300` (https://github.com/aspnet/Home/wiki/2.1.0-Early-Access-Downloads) throws:
[code]

[2018-05-28 13:14] tmds commented on #29942
`CheckValidOpenSslHandle` throws in `LoadMachineStores`:

https://github.com/dotnet/corefx/blob/cf195c1d0b782e1c5af8af8cf73f57b01cb41d95/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/StorePal.cs#L253-L262

This was added in https://github.com/dotnet/corefx/pull/29351

Instead of skipping the cert file we are now throwing.

The handle is not valid for files th

[2018-05-28 13:41] #29894 closed

[2018-05-28 14:44] jnm2 commented on #29881
@MohammadHamdyGhanem

You might not have meant it this way, but this is super rude. Since you are proposing something, you are already not wearing only a programmer hat. It sounds like you're saying you should get to make demands on the team's time without doing legwork yourself to show why they should think the way you think. From a purely practical standpoint, your proposal has a better chance o

[2018-05-28 14:49] jnm2 commented on #28046
There have been a number of times I've wanted foreach on an `IEnumerator<T>`-patterned struct. This language change would be welcome!

[2018-05-28 14:52] jnm2 commented on #22401
The question on everyone's minds... (at least until [.NET Core 3](https://blogs.msdn.microsoft.com/dotnet/2018/05/07/net-core-3-and-support-for-windows-desktop-applications/) comes out!)

[2018-05-28 14:56] jnm2 commented on #29807
Plus, `HResult` is [defined](https://docs.microsoft.com/dotnet/api/system.exception.hresult?view=netcore-2.0#System_Exception_HResult) on the base `Exception` class.

[2018-05-28 14:58] stephentoub commented on #29942
cc: @pjanotti

[2018-05-28 14:59] tmds commented on #29942
The files that trigger the issue are not part of the default system installation. So it does not affect every system. You need to have installed a package that brings such files. In my case, they come with the package that configures my system for access to the corporate vpn.

[2018-05-28 15:16] jnm2 commented on #16742
@Thaina That just pushes the same problem further down the road. It would be surprising when you write `items.Append(0, 1, new[] { 2, 3, 4 })` to an `IEnumerable<object>` and it adds three elements.

[2018-05-28 15:20] jnm2 commented on #29689
@MohammadHamdyGhanem Not sure that's fair. For example, have you read http://blog.stevensanderson.com/2018/02/06/blazor-intro/?

[2018-05-28 15:26] jnm2 commented on #29664
Would be a cool use case for shipping an analyzer in corefx.

[2018-05-28 15:43] BrotherOdin commented on #29633
Is this something that will be fixed as part of the 2.1 release?

[2018-05-28 17:44] davidsh commented on #29934
Also, are you following any of the setup instructions documented here to set up Docker containers to use a proxy?

https://docs.docker.com/network/proxy/

[2018-05-28 17:52] davidsh commented on #29934
I found this discussion related to the problem you're having.  It shows how you can set up the container to use the "Internet Explorer" settings (which the current HTTP stack will use).

See: https://forums.docker.com/t/connect-to-the-internet-from-a-windows-container-behind-a-http-proxy/41307/8

If you read down toward the end of the discussion thread, you'll see the details about how to set up t

[2018-05-28 18:08] cod7alex commented on #29934
@davidsh
For windows server 2016 i used `HKLM\Software\Policies\Microsoft\Windows\CurrentVersion\Internet Settings` but i have no .net core 2.1 running there to test (i assume it is important since there is new  HttpClient handler).

I tried to use second approach from docker docs that you referenced. So, `HTTP_PROXY`, `HTTPS_PROXY` environment variables.

Regarding your last link, there is also s

[2018-05-28 18:41] karelz commented on #26975
@yevgeniyredko mentioned on gitter he wants to pick this one.
I sent you collaborator invite, so that we can assign the issue to you. Ping me once you accept. Assigning to myself temporarily.
Pro tip: Becoming collaborator will automatically subscribe you to all repo notifications (500+ daily). We recommend to switch repo to "Not Watching" - that will send you notifications only when you are menti

[2018-05-28 18:46] davidsh commented on #25752
Update:

It seems all of these APIs throw "Access Denied".

* IPGlobalProperties.GetActiveTcpConnections();
* IPGlobalProperties.GetActiveTcpListeners();
* IPGlobalProperties.GetActiveUdpListeners();

This error is coming from the Win32 API call that is used to get the TCP / UDP network information. It seems that while these APIs are documented for use in a UWP app, some of them are not working an

[2018-05-28 18:48] karelz commented on #16742
Given there has been little interest and the API seems problematic, I would recommend to close it - @OmarTawfik what do you think?

[2018-05-28 18:51] yevgeniyredko commented on #26975
@karelz accepted your invite.

[2018-05-28 18:56] MohammadHamdyGhanem commented on #29689
@jnm
I am aware of and excited about blazor. But it is built on webassembly . Years ago I asked for a framework for the client side so we can target it by VB or C#. I have been told about a project called ScriptSharp that uses C# to write client code then its translated to java script file, that I can add to my project. I still have a copy of this project on my PC but it's never completed! This wa

[2018-05-28 19:00] jnm2 commented on #16742
This is why we have a separate Create and CreateRange, and Add and AddRange, etc.

[2018-05-28 19:15] karelz commented on #27951
Thanks for confirmation @ChristianHaase, closing.

[2018-05-28 19:15] #27951 closed

[2018-05-28 19:27] karelz commented on #21429
@HarpyWar can you please check if it is similar certificate problem as in #29891?

[2018-05-28 19:34] sflusov opened #29945 "Provide documentation about WinHttpHandler"
Hi everyone

The **corefx** repositories contains at least 2 **HttpClientHandlers** which can use in **HttpClient** on Windows OS:
- HttpClientHandler
- WinHttpHandler

There are no articles comparing them by next questions:
- performance comparison
- working with DNS shift (when IPs for DNS FQDN is changed)
- connection lease timeout (when HttpClient doesn't automatically move to new instance whe

[2018-05-28 19:58] HarpyWar commented on #21429
Full exception message:
`Unhandled Exception: System.Net.WebException: An error occurred while sending the request. SSL peer certificate or SSH remote key was not OK`

dotnet version 2.1.105
Tested on clean envoronments on Debian 8 and 9.

I think a source of the error is the same, and it can be solved by replacing a certificate on a server (I don't know what exactly wrong there) or by using a sol

[2018-05-28 20:16] dfoverdx opened #29946 "Add overload of StreamReader.ReadLine() to include line endings"
I'm writing code that parses a file which has mixed line endings--`\n` and `\r\n`. New lines within quoted strings use `\n`, while new lines out of strings use `\r\n`. For simplicity, I would like to use `StreamReader.ReadLine()` rather than implementing my own method using a buffer, but I need to preserve the line endings from the file. As far as I know, it is not currently possible to detect whi

[2018-05-28 20:18] danmosemsft commented on #24192
@wraith2 that is interesting. Any chance you could use 2.1 RC or later to check it wasn't fixed since?

@tarekgh that is a big difference.

[2018-05-28 20:20] #2891 closed

[2018-05-28 20:33] #9049 closed

[2018-05-28 20:37] davidsh commented on #20439
Closing this issue since ClientWebSocket no longer uses WinHTTP APIs.  If we see similar symptoms in current tests, we can open a new issue.

[2018-05-28 20:37] #20439 closed

[2018-05-28 21:10] luigiberrettini commented on #25040
On Linux/OS X the option not supported generate an exception: `SystemNative_SetSockOpt` uses `TryGetPlatformSocketOption` to check for supported options.
I could not find any case in which a specific versions of an OS was checked in the code (only in tests).

Keep alive is supported on all versions of Linux/OS X on which .NET core is supported.

On Windows, the keep-alive retry count is set to `10

[2018-05-28 21:24] carlreinke opened #29947 "byte.Parse doesn't respect span length"
### Test case
[code]
### Exception
[code]

[2018-05-28 21:30] Wraith2 commented on #24192
[results.zip](https://github.com/dotnet/corefx/files/2046203/results.zip)

Sorry, should have gone with 2.1rc to start with. Unfortunately the results are almost identical.

[code]
|    Method |    Job | Platform | Runtime |  Toolchain | IsBaseline | iterations | Scaled |
|---------- |------- |--------- |-------- |----------- |----------- |----------- |-------:|
| **GetString** |  **clr64** |

[2018-05-28 22:08] kasper3 commented on #29947
`fff` is 4095, byte can only hold value up to 255, hence OverflowException.
note that the second argument of `AsSpan` is length, so you can do `str.AsSpan(1,1)`

[2018-05-28 22:40] carlreinke commented on #29947
Okay, here's a simpler example:
[code]
Output:
[code]

[2018-05-28 23:55] danmosemsft commented on #29937
As @karelz suggests, I do not think we want to further diverge the.NET regex dialect without compelling reason. It makes documentation, books, examples less portable and adds cognitive load to readers.

Is this syntax in PCRE? We may offer an an API over PCRE in future so we may not want to make it easier to create patterns that do not transfer.

[2018-05-29 00:07] stephentoub commented on #29947
What version are you using? This sounds like the issue fixed in https://github.com/dotnet/coreclr/pull/17808.

[2018-05-29 00:42] danmosemsft commented on #26477
@davidsh to see comment above since it seems that several folks are interested in this. I agree that a derived exception type is rarely considered breaking, but I don't have context on the issue itself.

[2018-05-29 00:49] danmosemsft commented on #29947
@carlreinke you can verify the version you are using by adding `Console.WriteLine(typeof(string).Assembly.CodeBase);`

On my machine I get
[code]

Thanks for reporting. Please reopen if you have any issues upgrading to a newer version (eg., from links at https://github.com/dotnet/cli or, in not long, from the official release page)

[2018-05-29 00:49] #29947 closed

[2018-05-29 01:00] danmosemsft commented on #29938
@tlwest do you have code that uses only these types from Remoting (ie there is value in porting these alone)? Or is it more that you would like to write code that uses such types (ie., alternative types are OK)

@zhenlan are there equivalents of these types? Note in .NET Framework sources they are in clr\src\BCL\System\Runtime\Remoting\SoapInteropTypes.cs. These types are not entirely decoupled fr

[2018-05-29 01:17] carlreinke commented on #29947
file:///C:/Program Files/dotnet/shared/Microsoft.NETCore.App/2.1.0-rc1/System.Private.CoreLib.dll

If it's fixed in RTM then I guess I'll just wait a bit.

[2018-05-29 02:27] tlwest commented on #29938
Our code makes a fair bit of use of the SoapHexBinary class.  I can write a replacement, but if the only reason it's not included in .NET Standard is that it happens to be in the System.Runtime.Remoting namespace, then it's inclusion in .NET Standard would make porting of some projects just that much easier for others (albeit presumably requiring a namespace change).
If there's a philosophical rea

[2018-05-29 02:34] davidsh commented on #26477
I'm working on an API proposal that will extend HttpRequestException to provide for this StatusCode property as well as another property to handle storing error information (similar to `WebException.Status` property.  See #19185

[2018-05-29 03:44] danmosemsft commented on #29927
@bgottfried91 do you happen to have a callstack for the Debian case?

[2018-05-29 03:50] danmosemsft commented on #29815
For what its worth this is what this configuration reports in the official runs
[code]
it's 1803/17134.

Since this test relies on file associations which are stored in the registry, perhaps a fresh install of RS4 does not get some key that is already set if you upgrade.

[2018-05-29 04:04] jkotas commented on #24192
The implementation is using 64-bit integers to implement the fast path: https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Text/UnicodeEncoding.cs#L1474. It works great on 64-bit platforms, but not so well on 32-bit platforms. To reduce the performance gap, this may be need to be ifdefed for 32-bit vs. 64-bit, like other similar places in CoreLib.

[2018-05-29 04:12] benaadams commented on #24192
But the 32bit version is faster than the 64bit version; which is the curious thing

[2018-05-29 04:30] jkotas commented on #24192
I see - that one is an issue with ifdefed alignment checks before going into the fast loop: https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Text/UnicodeEncoding.cs#L1459 . The check is always false in the micro-benchmark on x64, so the fast loop is never entered. If the micro-benchmark is modified to:

[code]

the alignment check succeeds and the performance

[2018-05-29 04:48] davidsh commented on #23139
PR #23754 re-enabled these tests.  So, there is no actionable work for this issue anymore.

[2018-05-29 04:48] #23139 closed

[2018-05-29 08:10] buybackoff opened #29951 "WebSocketsProtocol doesn't use ManagedWebSocket optimized for ValueTask"
ManagedWebSocket in [System.Net.WebSockets.WebSocketProtocol](https://github.com/dotnet/corefx/blob/master/src/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.netcoreapp.cs) is different from the implementation in [System.Net.WebSockets](https://github.com/dotnet/corefx/blob/master/src/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.netcoreapp.cs) for .NET 2.1. Th

[2018-05-29 08:22] iSazonov commented on #27049
We could use this in PowerShell Core to support writing portable scripts.

[2018-05-29 08:39] clemensv commented on #27643
Just running into that during some Azure Relay work. +1 from here.

[2018-05-29 08:58] buybackoff commented on #29951
I've just copied the package Microsoft.AspNetCore.WebSockets and added to the linked line:

[code]
WebSocket now work as expected  in #27445 but the number of allocations is still very big.

![image](https://user-images.githubusercontent.com/489852/40648168-658d183a-6336-11e8-84d8-47fed44fd47f.png)

It looks like underlying socket allocates a lot and doesn't behave like in #27445.

Playing with my

[2018-05-29 09:04] iSazonov commented on #26394
In PowerShell we get  a file owner too.

[2018-05-29 09:07] davidfowl commented on #29951
Yes, I think we need to cross somewhere here to get the correct overrides. Free performance win! Great catch!

/cc @BrennanConroy

PS: Yes the current version of SignalR is much more efficient than the previous SignalW implementation. The version you forked was extremely early.

[2018-05-29 09:12] buybackoff commented on #29951
For sure, but I cannot easily comprehend the current version and many abstractions between `bytes in  --> process them --> bytes out` 😄

Looking into [HttpUpgradeStream](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Kestrel.Core/Internal/Http/HttpUpgradeStream.cs) and do not see any methods with ValueTask. Probably optimized ManagedWebSocket is useless if the underlying stream can't hel

[2018-05-29 09:13] davidfowl commented on #29951
I should say a bit more about SignalR though that's unrelated to this issue (which could be moved to https://github.com/aspnet/WebSockets/).

Which allocations? Per connection or per message?

You can use the bits, they're on nuget and measure for yourself.

I'd continue the discussion about SignalR specifics over here https://github.com/aspnet/SignalR.

[2018-05-29 09:28] cod7alex commented on #29934
As per https://docs.microsoft.com/en-us/windows-server/get-started/getting-started-with-nano-server it is not supported. Can i set the proxy settings explicitly in code?

[2018-05-29 09:31] davidfowl commented on #29951
Sounds great! I'm pretty sure it'll be sufficient for your needs! The version you forked was a prototype. Lots of performance work went into the 1.0.0 release and there's more to go but most of the low hanging fruit was fixed.

That's pretty much writing your own web server which might not be crazy depending on what you're trying to achieve. If you're going down that path, you can look at this htt

[2018-05-29 09:31] MarcoRossignoli commented on #27841
@JeremyKuhne related to this issue...file Interop.FindFirstFileEx.cs in

src/Common/src/CoreLib/Interop/Windows/Kernel32/Interop.FindFirstFileEx.cs
src/Common/src/Interop/Windows/kernel32/Interop.FindFirstFileEx.cs

there are some differences...can we use only one of two?

[2018-05-29 10:07] marek-safar commented on #15453
`Enum.HasFlag` is really poor API and we should offer something better, having runtime intrinsic still does not address the design issue where for example following code compiles but it rather shouldn't

[code]

Unfortunatelly, by only introducing a new extension method like

[code]

won't work because existing HasFlag instance method will take precedence in most languages.

[2018-05-29 11:16] Dissimilis opened #29952 "Reasons behind X509Certificate.cs Equals()"
`X509Certificate.Equals()` compares only serialNumber and issuer, which is counter-intuitive for some developers.
It's very easy to wrongly implement certificate pinning assuming `Equals()` does the job.
Whats the reasoning behind such `Equals()` implementation? Why not a hash check?

https://github.com/dotnet/corefx/blob/efcd88d8e7b4bd8a30a4008da3231ec6617d365a/src/System.Security.Cryptography.X5

[2018-05-29 11:41] MarcoRossignoli commented on #27841
@jkotas i found `src\Common\src\CoreLib\System\IO\Error.cs`

[code]
but i don't think is a good idea move to corelibs all helpers...do you agree?

[2018-05-29 11:45] gfoidl commented on #29952
cc: @bartonjs

[2018-05-29 12:05] jnm2 commented on #27049
What if I'm generating the filename automatically? What would I do if this method returned false?

[2018-05-29 12:26] TylerBrinkley commented on #15453
That won't be an issue as this proposal adds the following extension methods with different and less ambiguous names.

[code]

[2018-05-29 12:29] iSazonov commented on #27049
@jnm2 This means that your automatic algorithm is wrong. You must ensure that your algorithm creates portable file names.

[2018-05-29 12:40] jnm2 commented on #27049
Suppose the text was coming from a URL, a saved title, or some existing list of files on the file system? I'd have to adapt the names. Looks like the best option would be to loop over the chars and `IsPortableFileName` for each char in the string.

[2018-05-29 12:54] Heronyme opened #29953 "System.Security.Cryptography.Xml v4.4.2 NuGet package runtime load failure on .NET Core SDK 2.1.201"
When using the latest stable .NET Core SDK (v2.1.201) there is an assembly load failure when referencing System.Security.Cryptography.Xml v4.4.2 (latest stable) obtained via NuGet package.

No errors with v2.1.200 SDK, but then was kinda forced to upgrade to v.2.1.201 by a VS2017 update and now the official download link also contains this version.

Is this behaviour expected? It appears that the

[2018-05-29 13:47] iSazonov commented on #27049
In the case we could have `ConvertToPortableFileName()` and/or `ConvertToPortablePath()` - it is exclude duplicated operations.

[2018-05-29 14:25] jkotas commented on #27049
The Posix portable filenames defined in the related issue make sense. It is the truly portable set. I think that the defining .NET-specific concept of portable filenames is doomed to failure.

I happened to run a case study on this over the long weekend by accident: I was showing my son how to build and publish ASP.NET pages. He named his ASP.NET project `Webová stránka`. It is portable filename a

[2018-05-29 14:59] jkotas commented on #27841
Agree. If we wanted to do something about these, I think we should move them into the classes that use them.

[2018-05-29 15:08] jkotas commented on #27841
These should be pretty straightforward to unify:
- `BestFitMapping = false` in CoreFX version is unnecessary
- `EnsureExtendedPrefixOverMaxPath` in CoreCLR version should be replaced by `EnsureExtendedPrefixIfNeeded`
- `FINDEX_INFO_LEVELS` and `FINDEX_SEARCH_OPS` are separate files in corefx. They can be in the same file with `FindFirstFileEx` since they are only ever used with this API.

[2018-05-29 15:14] bgottfried91 commented on #29927
@danmosemsft , as of today, I can no longer replicate the issue (I am seeing the expected HttpListenerException on closing). Might be that one of the changes over the weekend fixed the issue or else my Minikube/docker environments were in a bad state somehow. Closing ticket regardless.

[2018-05-29 15:14] #29927 closed

[2018-05-29 15:33] danmosemsft commented on #29927
Thanks @bgottfried91

[2018-05-29 15:39] ericstj opened #29956 "Add back StandardOleMarshalObject and IMarshal"
These are used by Winforms to ensure that COM calls are marshalled to UI thread.  It's used by the webrowser control and in the base type for accessible controls (to permit external automation).

See https://referencesource.microsoft.com/#System/compmod/System/Runtime/InteropServices/StandardOleMarshalObject.cs,9cc1693e68a2dac7,references

I've temporarily implemented this as a copy where I need i

[2018-05-29 15:43] ericstj opened #29957 "Add System.Drawing.Design members"
The following were previously in System.Drawing and need to be brought back.

IPropertyValueUIService
PropertyValueUIHandler
PropertyValueUIItem
PropertyValueUIItemInvokeHandler
PaintValueEventArgs
UITypeEditor
UITypeEditorEditStyle

I've temporarily brought them back as a private copy, but they belong in CoreFx along-side other System.Drawing members, potentially in their own assembly.

[2018-05-29 15:44] iSazonov commented on #27049
We can look at this from the other side.
Does any OS enable Posix-only-names mode? No. And it is rather said about what exactly posix-only API is doomed to failure. Users will want to use locale names. And it is rather said the success of this API.

In general, I believe .Net team could take a closer look how PowerShell works with paths. _Now it has been ported._ And it has _a lot of problems beca

[2018-05-29 15:46] mferraricloudsurfers commented on #19731
@yizhang82 I downloaded .NET Core 2.1 RC and i have the mentioned exception.

[code]
I don't understand if exists a workaround to fix this issue.

[2018-05-29 15:49] ericstj opened #29958 "Bring back System.Reflection.ICustomTypeProvider"
This was previously in System and used by WPF to help binding to things that can only be known at runtime.

We need to bring it back in an appropriate home.  System.Reflection.Primitives?  System.ObjectModel (where other glue-like Attributes/interfaces live).

[2018-05-29 16:05] ericstj commented on #29906
I think there is a middle ground here that's still in the spirit of the tests without making them too artificial.

If we had packages that completely duplicate the structure under `C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\<version>` and then ensured that MSBuild examined the package's directory for file-list / references / facades / etc then I think it would be

[2018-05-29 16:14] ericstj opened #29959 "Bring back System.IO.Packaging API"
Much of the functionality was previously subsetted from System.IO.Packaging.  We need to bring this back for .NETCore 3.0.  We also need to decide if it goes in System.IO.Packaging or if we merely provide a means for extending System.IO.Packaging by some other assembly.  We also have to consider the implementation of below API and what's required.  I believe some was directly interacting with ZLIB

[2018-05-29 16:18] ericstj opened #29960 "Bring back X509Certificate2UI"
This is needed by System.IO.Packaging for package signing.  Related https://github.com/dotnet/corefx/issues/29959.

The code is coupled enough to the existing crpto in CoreFx that it may make sense to place it in a (windows specific) crypto contract in corefx.

https://referencesource.microsoft.com/System.Security/R/6d6e79b9fd86b660.html

Here's my port of this: https://gist.github.com/ericstj/80a

[2018-05-29 18:00] JeremyKuhne commented on #26394
@jkotas

Point here would be to leverage existing logic in CoreFX for relatively simple needs (`if (unix) /* one-off logic */`) without resorting to p/invoking or taking larger dependencies.  It has been brought up to me a few times offline, I wanted a recorded discussion of possible approaches and a place to both get a feel for desirability for getting access to platform specific internals (thing

[2018-05-29 18:10] khellang commented on #28933
Done! I've been watching the repo for years anyway 😉

[2018-05-29 18:12] seth-capistron opened #29962 "Trouble using local CoreFx build to dogfood"
I'm trying to follow these [instructions](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md#more-advanced-scenario---using-your-local-corefx-build), but must be doing something wrong since I'm hitting an issue. Specifically, I'm at the dotnet restore step and am receiving this error...

[code]
The output from the dotnet.exe CLI that I downloaded (per the [Instal

[2018-05-29 18:25] svick commented on #28410
@terrajobst

I don't think the table is wrong, see [the documentation](https://docs.microsoft.com/en-us/dotnet/standard/base-types/regular-expression-options#Multiline) linked in the top post, where it says that you should use `\r?$` to match Windows-style line endings in multiline mode.

You can also try running code like the following:

[code]

For me, running it on .Net Core 2.1 RTM on Windows

[2018-05-29 18:59] karelz commented on #23262
We already implement `IList` and `IReadOnlyList`:
https://github.com/dotnet/corefx/blob/28e3939745832f93531a4a5936d99b16861b5e9c/src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/GroupCollection.cs#L20

[2018-05-29 19:23] jzabroski commented on #28410
@terrajobst  I agree with @svick . Intuitively, all his table is saying is that neither $ nor Environment.NewLine is fully portable solution for the two ubiquitous platforms.  AnyNewLine therefore proposes to fill that gap.

[2018-05-29 19:30] michael-hawker commented on #23262
I also wanted to clarify:

Is this a separate bug and should be filed elsewhere or expected?

[2018-05-29 19:40] karelz commented on #23262
@michael-hawker that sounds like separate issue to me.

[2018-05-29 19:41] karelz commented on #25040
@luigiberrettini I sent you collaborator request, so that we can assign the issue to you. Ping me once you accept (assigning to myself temporarily).
Pro-tip: Being collaborator will subscribe you to all repo notifications (500+ per day). We recommend to switch it to "Not Watching" which will limit notifications only to your mentions, assignments and explicit subscirptions.

[2018-05-29 19:57] stephentoub commented on #11967
My preference would be (2) then (3) then (1).  Given the nature of the operation, I would be a bit surprised if there were meaningful differences between the various approaches, and thus would prefer to err on the side of maintainability.

[2018-05-29 19:59] karelz commented on #29962
I think you need to retarget your project to netcoreapp2.2 (from netcoreapp2.1).
master branch moved to netcoreapp2.2, but we didn't update the docs yet: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md#option-1-framework-dependent

Can you please give it a try? If it works, would you mind submit updated docs PR?
cc @weshaggard @wtgodbe

[2018-05-29 20:04] karelz commented on #29953
@weshaggard @joperezr is it a known problem? Looks like some packaging hiccup ...

[2018-05-29 20:26] danmosemsft commented on #29691
Decision was made to defer this from 2.1 servicing unless more evidence emerges that it can't easily be worked around or is otherwise more impactful than we thought. It would be good to know how often makecert does this.

[2018-05-29 20:27] danmosemsft commented on #29841
Declined for servicing because it is unlikely SIGCHLD is set to SIG_IGN, and the workaround is to have an empty handler. As for the build issue that can be worked around locally by anyone working on BSD -- who should probably move their effort to master anyway.

[2018-05-29 20:29] luigiberrettini commented on #25040
I joined the repo as a collaborator and checked that the Watch setting was "Not Watching"

[2018-05-29 20:29] jkotas commented on #27049
It would be useful to define what portable filename means in context of this API. The proposal says how the API is going to be implemented, but it does not say what portable filename is.

My definition of portable filename would be "a filename that is not going to hit bugs or limitations in programs out there, across different operating systems".

[2018-05-29 20:31] alexcyoung commented on #29691
Apologies for the delay I've been away from my computer until today. I can look at this tomorrow and get you some indication of how common the issue is.

[2018-05-29 20:44] seth-capistron commented on #29962
Where can I download the 2.2 version of the SDK? Using the CLI that I got from this [link](https://github.com/dotnet/cli/blob/master/README.md#installers-and-binaries) in the documentation, I get the error below. I'm assuming I need to be using the 2.2 version of the CLI, but correct me if that's not right.

[code]

[2018-05-29 20:57] danmosemsft commented on #29654
Can this be closed as dupe of #29847

[2018-05-29 21:28] danmosemsft commented on #29957
@ericstj any particular advantage of creating a new assembly over reusing System.Drawing.Common?

[2018-05-29 21:32] keeratsingh commented on #29633
Hi @BrotherOdin
I am unable to repro the issue using the repro code you provided in my enviornment, I have stripped down the repro you provided to a bare minimum where it uses .NET SDK Runtime Version `2.1.300-rc1-008673` and SqlClient Version `4.5.0-rc1`.
I have tried both running it via `command prompt` and `placing debug breakpoints` using Visual Studio, however I still cannot repro the issue.

[2018-05-29 21:34] mikewodarczyk opened #29966 "Allow multiple data annotation attributes to be put into another single attribute at compile time."
This is a new feature request:

The request is to have a mechanism to allow multiple data annotation attributes to be put together into another single attribute that represents the whole group of attributes.

One use case is with EF-code and MVC:
For a class parameter / Table column that appears in multiple classes / tables, I want to define data annotations like:

    [Column(DataType = "nvarchar

[2018-05-29 21:49] ericstj commented on #29957
It'll bring in a dependency on TypeConverter which I think @weshaggard would like to avoid.  That said Drawing.Common isn't part of shared framework so not sure how much we care.  I guess it just depends on if @weshaggard classifies Drawing.Common in the same group as TypeConverter.  My gut feel is that Drawing.Common was trying to peel away the app-model-isms from Drawing, and putting this in the

[2018-05-29 22:54] tarekgh commented on #28933
@terrajobst should this issue be marked as api-approved?

[2018-05-29 23:34] weshaggard commented on #29957
I would like to keep Drawing decoupled from TypeConverter as much as possible as it includes a lot of dependencies. Depending on the exact dependency we can try to invert it but if we cannot I think we should consider a newer higher level library.

[2018-05-29 23:46] danmosemsft commented on #29834
Fixed and ported

[2018-05-29 23:46] #29834 closed

[2018-05-29 23:52] #29699 closed

[2018-05-29 23:52] danmosemsft commented on #29699
fixed

[2018-05-30 00:07] karelz commented on #28933
Yeah, this was approved (marking as such). @terrajobst's computer was just too slow  to make the change :(

[2018-05-30 00:21] olegburov opened #29969 "Extend the class 'String' with the field 'WhiteSpace'"
I would be happy if the class `System.String` had the field `WhiteSpace`, just like `Empty`. The field would represent the string with a single white space character.

I've seen may times in a code strings with a single white space character. Typically, when using concatenating strings. I wish instead of `" "`, there could be more elegant way to do it with `string.WhiteSpace`.

[2018-05-30 00:45] jzabroski commented on #28410
@terrajobst

I'll update the original post to modify the enum options to be 0x0400 (1024)

[2018-05-30 01:47] #29782 closed

[2018-05-30 01:56] danmosemsft commented on #29969
@olegburov so to make sure I understand, instead of eg
[code]
you would prefer to write
[code]

[2018-05-30 02:04] zhenlan commented on #29938
Add @mconnew @Lxiamail to help.

[2018-05-30 02:47] danmosemsft commented on #29873
@weshaggard @VSadov, @OmarTawfik we have almost none of the Strings type ported - only 3 methods. Maybe all the others were considered redundant with other .NET API?

Assuming that's the reasoning - it seems to me we should not be so fussy - folks have existing code and we should let it work. Is there any reason the community should not port the remaining members? It looks like it would be mostly

[2018-05-30 03:14] VSadov commented on #29873
I believe the string functions and other nonessential functionality was cut when making compactFX/Silverlight versions of VB runtime. The size of the binary was a real concern then.

The Core version of VB runtime is based on that codebase since it was relatively small and platform-neutral. It might make sense to bring some of that functionality back.

[2018-05-30 03:56] danmosemsft commented on #29873
Thanks @VSadov.

@OmarTawfik are you OK with such a port, and sharing NDP\fx\src\vb\runtime\msvbalib\Strings.vb for this purpose?  Conversely, do you believe there is any code in NDP\fx\src\vb\runtime\msvbalib that should not be ported (assuming a need/will to do it emerges)?

[2018-05-30 03:57] danmosemsft commented on #28209
This is not going to meet the bar to port to 2.0 given that it will be very soon superseded by 2.1 and our [support policy](https://github.com/dotnet/core/blob/65914ae235a5ecbcab7908b8247999ff7ecd75d8/microsoft-support.md#net-core-release-lifecycles)

[2018-05-30 05:32] pantonis commented on #28711
@joperezr Finally I managed to migrate to PackageReference. But the references are less now and all the packages that I was getting warning are gone.

[2018-05-30 06:50] Sunny-pu opened #29972 "Test System.IO.Tests.FileSystemWatcherFilterListTests.FileSystemWatcher_Directory_Create_Filter_Ctor failed with "Created event did not occur as expected\nExpected: True\nActual: False""
Test System.IO.Tests.FileSystemWatcherFilterListTests.FileSystemWatcher_Directory_Create_Filter_Ctor (from (empty)) has failed.

MESSAGE:
Created event did not occur as expected\nExpected: True\nActual: False
+++++++++++++++++++
STACK TRACE:
at System.IO.Tests.FileSystemWatcherTest.ExecuteAndVerifyEvents(FileSystemWatcher watcher, WatcherChangeTypes expectedEvents, Action action, Boolean assertExp

[2018-05-30 07:06] khellang commented on #28933
Just a quick question: should this type be added to System.Private.CoreLib (in coreclr) and wait for the code to sync with corefx and corert? And then add tests and type forwarding in System.Globalization?

[2018-05-30 07:43] danmosemsft commented on #29942
@tmds for shiproom do you have data suggesting how commonly systems are configured this way? Is there a feasible workaround? Do you know how long this was regressed?

[2018-05-30 08:12] tmds commented on #29942
For me it is due to the company vpn package adding certificates that are only readable by root.
I'm not sure if this is specific to the way we have packed up those certificates, or if you'd see this for other vpn packages too.
It won't affect many users.

The workaround is to change permissions on the system certificates. You need to have root permissions and be willing to change permissions on th

[2018-05-30 08:35] #29654 closed

[2018-05-30 09:08] alexcyoung commented on #29691
I've carried out a series of 20 makecert executions allowing the tool to designate the serial number. If I'm understanding things correctly it looks like the high bit set is used in 15 of the 20 serial numbers so 75% of the time. I've included the numbers below.

I don't argue that the work around is fairly simple (you can designate a serial number in make cert yourself) but actually finding the i

[2018-05-30 09:20] iSazonov commented on #27049
In PowerShell we implement some providers to work with different targets, in particular, two similar provider FileSystem and Registry. Someone could implement other providers like WebDAV or FTP. We discussed normalization problem and we came to the conclusion that each provider must implement its normalization method. In context of the issue we could consider `Path` more generic then file path. In

[2018-05-30 09:46] Larswa opened #29974 "Is 2.1 final?"
Hi, is 2.1 out of RC mode?

My project could resolve the 2.1.0 packages and I am seeing this, but I am not seeing any public announcements yet and the dot.net download pages are not showing the 2.1 final runtime/sdks.

https://github.com/dotnet/corefx/releases/tag/v2.1.0

[2018-05-30 10:07] shaggygi commented on #29974
@Larswa 2.1 is supposed to be released 5/30/2018 unless something unexpected occurs.  There will most likely be blogs released here: https://blogs.msdn.microsoft.com/dotnet/

[2018-05-30 10:13] Larswa commented on #29974
@shaggygi Thanks Greg. And 5/30 is here, so that seemed to be on schedule. I was just surprised to see the bits released from this repository and the SDK is still 2.1.300-rc1-008673   (which worked fine om my buildserver btw)  :-)     I'll try and be patient ... thanks.

[2018-05-30 10:59] adamsitnik opened #29975 "Reflection is missing type information for ByRef generic arguments"
`IsGenericType` for generic byRef arugments returns false. For both .NET and .NET Core. Because of that, it's impossible to generic arguments for such types.

[code]

Prints:

[code]

@jkotas @VSadov do you have any idea how can I get the generic arguments in that case?

[2018-05-30 11:12] iSazonov opened #29976 "Add SetDatetime()"
## Rationale ##

For a long time we use P/Ivnoke `SetSystemTime` in C# to set system date and time on Windows. Now we have to use P/Invoke on Unix too. On Unix this requires some tricky marshaling to adjust `time_t` or other datetime structures and creating a native library. In PowerShell repo we would be happy to get rid of the P/Invokes.

## Proposed API ##

[code]

[2018-05-30 11:26] MarcoRossignoli commented on #29976
Why not `SetSystemDatetime`?

[2018-05-30 11:32] Heronyme commented on #29953
It seems a new stable System.Security.Cryptography.Xml package was released today (v4.5.0). This resolves the issue for me. Tested to work with both SDK v2.1.200 and v2.1.201. Thank you.

[2018-05-30 11:32] #29953 closed

[2018-05-30 11:47] BrotherOdin commented on #29633
I will try it and report back. Stay tuned.

[2018-05-30 11:57] jkotas commented on #29975
Try:

[code]

[2018-05-30 11:57] #29975 closed

[2018-05-30 12:15] adamsitnik commented on #29975
@jkotas it works, big thanks for help!

[2018-05-30 12:29] khellang commented on #29976
Why is it harder to discover than on `DateTime` *and* `DateTimeOffset`? Which do I use? Is there a difference between them?

[2018-05-30 12:36] BrotherOdin commented on #29633
The one in the ZIP is using System.Data.SqlClient (4.6.0-preview1-26529-04) rather than 4.5.0-rc1 so I could not try it.

Once I update it back to 4.5.0-rc1, I am able to recreate the problem.

This are the steps I followed.
Updated adhoc.csproj to use 4.5.0-rc1. (Basically the same as you referenced above)
Open Visual Studio Enterprise 2017 Preview Version 15.8.0 Preview 6.0
Open Solution
Compile

[2018-05-30 12:43] khellang commented on #19450
This can be closed. It's tracked by #28933.

[2018-05-30 12:52] iSazonov commented on #29976
Where would you start to look for the datetime method if not in Datetime class?
DateTime and DateTimeOffset mirror methods.

[2018-05-30 12:57] khellang commented on #29976
If I were to change the system environment, like setting the time, I would definitely start looking in the `Environment` class 😄

There's no existing methods on `DateTime` or `DateTimeOffset` that mutates the system environment.

[2018-05-30 12:58] gfraiteur opened #29977 "Breaking change in AsyncTaskMethodBuilder.Task"
Before .NET Core 2.1,  AsyncTaskMethodBuilder.Task used to always return the same Task.
Starting with .NET Core 2.1, it returns a different value depending on the state of the state machine.
(PostSharp is currently relying on this behavior.)

Is that expected?
Could you document which values are returned in which circumstances?

[2018-05-30 13:10] MarcoRossignoli commented on #29976
For me too,  `System` things are close to `Environment` things...or rather sounds better to me.

Also on guide https://msdn.microsoft.com/en-us/library/system.environment(v=vs.110).aspx
`
Provides information about, and means to manipulate, the current environment and platform. This class cannot be inherited.
`

the current environment and platform ~ Environment

[2018-05-30 13:17] gfraiteur commented on #29977
Attaching a repro. Execute `e97d0f14c66440ee775be26c1f9a34cf.dll` as a console app.
[netcoreapp2.0.zip](https://github.com/dotnet/corefx/files/2054042/netcoreapp2.0.zip)

[2018-05-30 13:18] iSazonov opened #29978 "Add API to create file system links"
## Rationale ##

On Windows links are rarely used. On Unix links are used more often and in PowerShell repo we have to implement the API by means of P/Invokes. On Unix this requires creating a native library. In PowerShell repo we would be happy to get rid of the P/Invokes.

Currently PowerShell use path strings and static methods to process file system. I believe we'll review this and move to usi

[2018-05-30 13:35] stephentoub commented on #29977
Can you share the source for the repro?

Can you elaborate on this?  You mean you access ATMB.Task on the same instance multiple times, and it returns a different Task instance each time?  That is definitely not expected.  Or do you mean that you might get back different Task-derived types from different ATMB instances depending on circumstances?  If so, that is expected.

[2018-05-30 13:46] stephentoub commented on #29977
No, I do not think that's a good idea.  From the perspective of a consumer of the API, it gets back a `Task`; whether it's some special derived implementation is an implementation detail that we should be free to change and optimize in the future.  The changes made for 2.1 were exactly because they yielded significant performance and diagnostic benefits, and if we'd previously documented exactly t

[2018-05-30 13:57] danmosemsft commented on #29942
That's a very recent regression - you're sure the certificates were present at the time you texted with RC1?

@stephentoub any idea where the regression might have been?

[2018-05-30 13:59] stephentoub commented on #29942
https://github.com/dotnet/corefx/pull/29351/files#diff-28edeba8fcd86130f28b8c85afd19f37R257

[2018-05-30 14:19] gfraiteur commented on #29977
Thank you for your reply.

Done. But you won't able to build it without a PostSharp build that is still unpublished.
[OnMethodBoundary_CurrentTask.zip](https://github.com/dotnet/corefx/files/2054271/OnMethodBoundary_CurrentTask.zip)

No, I don't think it is possible to access the current state machine class in C# without PostSharp. We inject code that exposes ATMB.Task to the aspect and this aspec

[2018-05-30 14:20] jnm2 commented on #29978
Would this happen, though? You'd have to drop support for .NET Core earlier than 2.2.

[2018-05-30 14:22] jnm2 commented on #29969
If the field is called `string.WhiteSpace`, it should be allowed to arbitrarily return anything for which `string.IsNullOrWhiteSpace` returns true, except `null`.

[2018-05-30 14:37] pjanotti commented on #29942
I missed this earlier... yes, the recent change to keep the SSL error queue clean introduced this.

[2018-05-30 14:44] stephentoub commented on #29977
Ah, you're code rewriting the compiler-generated code to access the Task property before the first await? That is not a supported scheme / access pattern, and I would not expect the ATMB implementation to change to accommodate it.

ObjectIdForDebugger implements a workaround to accommodate the case where the debugger is poking at things; debuggers often access private state in an unsupported fashi

[2018-05-30 15:43] gfraiteur commented on #29977
Thank you for the detailed answer.

As a workaround, it seems enough for us to have an "ObjectId", so we'll add some field to the state machine and somehow initialize it. This will have some performance impact but this will only affect users of a feature that needs this ObjectId (such as logging) and, additionally, the performance overhead of PostSharp is much smaller than the desired effect, e.g.

[2018-05-30 15:57] Clockwork-Muse commented on #29976
Which is why Java has [`Clock`](https://docs.oracle.com/javase/8/docs/api/java/time/Clock.html), and [AspNetCore does too](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.isystemclock?view=aspnetcore-2.0) (although not in as convenient a namespace): take a factory that can be supplied at program start time.

Note that the presence of the API cannot mean it will alwa

[2018-05-30 16:01] gfraiteur commented on #29977
The workaround will be implemented in PostSharp 6.0.

Here is the impact on users:

Projects targeting .NET Standard or .NET Core built with an older version of PostSharp will be affected by the defect when running on the .NET Core 2.1 runtime. People will have to recompile their project using PostSharp 6.0 (possibly renewing their support subscription).

The only affected PostSharp feature is log

[2018-05-30 16:14] kasper3 commented on #29978
Why can't those existing issues, both are still opened?

[2018-05-30 16:25] tarekgh commented on #28933
Yes, please add the code coreclr repo.

[2018-05-30 16:27] danmosemsft opened #29979 "Allow Dictionary<K,V>.Remove during enumeration"
### Rationale
Removing all entries in a Dictionary satisfying a predicate is a fairly common requirement but it is unnecessarily inefficient.

### Motivation
This came up recently in the context of the efficiency of a 1st party service.

### Details
At present to remove all entries in a dictionary satisfying a predicate you must do something like
[code]
or equivalently in Linq
[code]
This is O(2n)

[2018-05-30 16:28] tarekgh commented on #19450
closed per #28933

[2018-05-30 16:28] #19450 closed

[2018-05-30 16:31] jcouv commented on #21809
Yes, here are the [relevant LDM notes](https://github.com/dotnet/csharplang/blob/master/meetings/2018/LDM-2018-01-03.md#conclusion-3). Thanks

[2018-05-30 16:31] jcouv commented on #21809
Removed the "blocked" label accordingly.

[2018-05-30 16:54] tarekgh opened #29980 "System.Diagnostics.Tests.ProcessStartInfoTests CI failures on Windows 10 Nano"
https://mc.dot.net/#/user/tarekgh/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Frelease~2F2.1~2F/test~2Ffunctional~2Fcli~2F/eb499046eb64eb3ef3159a85bd666fab98eb9a39/workItem/System.Diagnostics.Process.Tests

[2018-05-30 17:00] tarekgh opened #29981 "Serveral DirectoryServices tests failing the CI on Windows 10 Nano"
https://mc.dot.net/#/user/tarekgh/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Frelease~2F2.1~2F/test~2Ffunctional~2Fcli~2F/eb499046eb64eb3ef3159a85bd666fab98eb9a39/workItem/System.DirectoryServices.Tests/wilogs

[2018-05-30 17:03] tarekgh opened #29982 "System.IO.Ports CI tests failing on Windows 10 Nano"
https://mc.dot.net/#/user/tarekgh/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Frelease~2F2.1~2F/test~2Ffunctional~2Fcli~2F/eb499046eb64eb3ef3159a85bd666fab98eb9a39/workItem/System.IO.Ports.Tests

[2018-05-30 17:08] tarekgh opened #29983 "[release/2.1.x] System.Net.HttpListener.Tests CI failures on Windows 10 Nano"
https://mc.dot.net/#/user/tarekgh/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Frelease~2F2.1~2F/test~2Ffunctional~2Fcli~2F/eb499046eb64eb3ef3159a85bd666fab98eb9a39/workItem/System.Net.HttpListener.Tests

[2018-05-30 17:19] karelz commented on #29974
Here's some more info about 2.1 Early Access Downloads: https://github.com/aspnet/Home/wiki/2.1.0-Early-Access-Downloads
Closing as answered.

[2018-05-30 17:19] #29974 closed

[2018-05-30 17:21] karelz commented on #29940
@Sunny-pu master branch is now 3.0, not 2.1.0. Can you please open future test failures in master with 3.0 milestone please? Thanks!
cc @danmosemsft

[2018-05-30 17:31] wfurt opened #29984 "ContentLength=0 not handled correctly when switching HTTP protocols"
In case some websocket retrun ContentLength =0 with SwitchingProtocol

See wss://ws.gate.io/v3/

![40631009-bdcae8be-630a-11e8-895f-8b851cbe89db](https://user-images.githubusercontent.com/14356188/40737050-79e9088e-63f4-11e8-929d-7935c272f145.png)

Connect to this websocket using System.Net.WebSockets.ClientWebSocket will failed due to the Respone.Content as EmptyReadStream, so it will failed when

[2018-05-30 17:44] yujayee commented on #29560
@mkArtakMSFT Do you have any updates on this?

[2018-05-30 17:53] wfurt commented on #29841
shall we close this @danmosemsft since it was fixed in master and declined for servicing?

[2018-05-30 18:01] wfurt commented on #29380
I'm able to build on 10.13.5. I've seen the NULL error before but it worked for me after syncing and cleaning up my build tree (git clean -dfx)

[2018-05-30 18:03] davidsh commented on #29983
We disabled these tests in Master. We need to port that into release/2.1.x.

cc: @caesar1995 @karelz

[2018-05-30 18:05] CliffordOzewell commented on #29380
Ok I got it working

Sent from my iPhone

On May 30, 2018, at 11:01 AM, Tomas Weinfurt <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm able to build on 10.13.5. I've seen the NULL error before but it worked for me after syncing and cleaning up my build tree (git clean -dfx)

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub

[2018-05-30 18:09] wfurt commented on #29085
did you get it working @tidusjar?  Note that if you have self-contained deployment you need to execute the native binary. If this is still problem for you you can craft simple console app with same Process.Start code and run it under
strace -f -t -e trace=process dotnet run mytestapp.dll

[2018-05-30 18:10] #29380 closed

[2018-05-30 18:13] caesar1995 commented on #29983
I will submit a PR and send email to netfxship room about the test-only fix.

cc: @danmosemsft

[2018-05-30 18:21] tidusjar commented on #29085
Apologies I've not had time recently.

I did make a proof of concept where it was a plain .bet core console app launching a process on Linux and it worked so It must be something I am doing.

I'll close this since it doesn't seem to a corefx issue

[2018-05-30 18:21] #29085 closed

[2018-05-30 18:26] wfurt commented on #29085
good to know. If you still have troubles from within your app, you can still attach by adding '-p <pid>' to strace command above.

[2018-05-30 18:32] davidsh commented on #14542
No longer relevant due to other code refactoring.

[2018-05-30 18:32] #14542 closed

[2018-05-30 18:33] OmarTawfik commented on #29873
I'm ok with such a port. I don't see a reason why people should be broken by a few methods that we can easily bring back.
However, I believe all such pieces should be reviewed under a formal API proposal. I am not familiar with all of them, and we might need to think about compat and other concerns in review.

[2018-05-30 18:35] michael-hawker commented on #23262
@karelz I didn't realize there was a `Success` property on the Group as well, so I think that's where I was misled, as I was only looking at the `Value` and expecting different results based on Match vs. No Match.

            Regex r = new Regex("\\<(?<Type>(?:Button)|(?:TextBlock))?\\>");

            var match = r.Match("<TextBlock>");

            Console.WriteLine("Match: " + match.Success);

[2018-05-30 18:46] ViktorHofer commented on #23262
I don't think that TryGetValue should also consider the Success value. That's not the notion of the ContainsKey or TryGetValue pattern. I expect consumers first check if success and only then call TryGetValue.

[2018-05-30 18:47] xanatos opened #29985 "S.R.CS.Unsafe: additional overloads using IntPtr instead of void*"
I'm trying some of the SRCS.Unsafe methods for some interop I have with C/C++ libraries. My only little problem is that I try not to use `unsafe` (keyword) code, and disable the unsafe compiler option. I instead use plenty of `Marshal.Read*`/`Marshal.Write*` Now, in .NET there is a "pretense" that `IntPtr` is "safe" (I'll put it in double quotes) while `void*` is `unsafe` (or at least the point is

[2018-05-30 18:49] danmosemsft commented on #28257
@Anipik if you haven't started on this please unassign and mark has a hackathon candidate.

[2018-05-30 18:50] danmosemsft commented on #9058
@ligengatms no it needs an owner. Any interest?

[2018-05-30 19:09] Anipik commented on #28257
@danmosemsft I havenot started it as @JeremyKuhne said these apis need to be approved again.

[2018-05-30 19:13] danmosemsft commented on #28257
@JeremyKuhne is that the case? If so this should not have the approved label...?

[2018-05-30 19:18] danmosemsft commented on #29648
fixed in 2.1

[2018-05-30 19:18] #29648 closed

[2018-05-30 19:19] danmosemsft commented on #29785
fixed in 2.1

[2018-05-30 19:19] #29785 closed

[2018-05-30 19:20] davidsh commented on #24947
This test is now being skipped on all .NET Core platforms except when SocketsHttpHandler is being used.  And the comment in the test code is wrong because it's not just WinHttpHandler and CurlHandler being skipped.  It will also skip UAP as well.

https://github.com/dotnet/corefx/blob/f7a8cf12a89dafccbc98cff160346c2ff3e15ba0/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs#L349-L

[2018-05-30 19:22] davidsh commented on #24947
Will update the comment in the test code before closing this issue.

[2018-05-30 19:27] svick commented on #29985
According to https://github.com/dotnet/coreclr/issues/18150#issuecomment-392530423, not having to use `unsafe` if you're actually writing unsafe code is a bad thing, not something that should be promoted by adding APIs such as the one you propose.

Why do you think avoiding `unsafe` on its own is a good thing?

[2018-05-30 19:39] olegburov commented on #29969
@danmosemsft yes, you got it right, but I would use the following example to show the benefits of `string.WhiteSpace`:

[code]

[2018-05-30 19:44] xanatos commented on #29985
I've found another similar comment for `Span<T>` (https://github.com/dotnet/corefx/issues/18946#issuecomment-297579578) and you are all technically right. I always thought that manipulating a `IntPtr` is as much unsafe as a `void*`. You have choosen to make a "library style" "breaking change" on this (no more `IntPtr` for reading/writing memory). And I see the reason.

Clearly my problem is a "soc

[2018-05-30 19:52] JeremyKuhne commented on #28257
This particular one is ok.

Yes, you can look at the existing API (`Path.GetRelativePath`) to see the behavior.

You get the [second path](https://source.dot.net/#System.Private.CoreLib/shared/System/IO/Path.cs,697).

[2018-05-30 20:10] ahsonkhan opened #29990 "[API proposal] Add GetType() to Span and ReadOnlySpan"
Currently, calling GetType on a span throws a compiler error since GetType attempts to box the span into an object (which is not possible for ref structs).

[code]
[code]

We should add a GetType method so that it returns the expected value. In this case, it would be:
[code]

**Implementation:**
[code]

cc @AtsushiKan, @KrzysztofCwalina, @terrajobst, @richlander, @danmosemsft

[2018-05-30 20:22] davidsh commented on #28968
The above comment about System.Threading.* tests hanging is not applicable to this issue which was about System.Net.Http tests hanging.

We haven't see this lately.  There is nothing actionable in this issue right now, so closing for now.

[2018-05-30 20:22] #28968 closed

[2018-05-30 20:52] morganbr commented on #29990
Should this be a Roslyn issue to not box it? If it devirtualized the call, you wouldn't need the new API.

[2018-05-30 21:00] AtsushiKan commented on #29990
Not sure how that would work. At the end of the day, GetType() needs to retrieve the MethodTable (or EEType on Project N), and that's nowhere to be found in the unboxed struct.

[2018-05-30 21:03] IlyaGrebnov opened #29994 "Optimize ConcurrentDictionary.IsEmpty for non-empty case."
Today we always take locks to check if concurrent dictionary not empty. But we could avoid taking this locks under assumption that non-empty dictionaries are more common. Proposed optimization is to check if any bucket non-empty without locks first and if we could not find any fallback to approach with locks. See example below on why locks are still important.

[Example by @stephentoub for why it

[2018-05-30 21:05] sflusov commented on #29945
Hi @karelz

Could you answer on a few extra question:
1. Are you going to provide `SocketsHttpHandler` for applications were written on Net Framework (make Net Standard library).
2. How many times will  faster `SocketHttpHandler` vs `HttpClientHandler` for Net Framework apps

Thank you

[2018-05-30 21:18] #23782 closed

[2018-05-30 21:21] danmosemsft commented on #18437
Looks like the fix mentioned above was 17c3909e51c762881094d2cd52bdfd7c9df21d3b

[2018-05-30 22:02] morganbr commented on #29990
Ick. Good point. For some reason I had thought ```GetType()``` was virtual, but of course it isn't. This doesn't quite work if we ever add a generic constraint for Span or byref-like types (which we might need to do for other reflection support), but it doesn't hurt much to have it. The only problem I can think of is code that looks something like:
[code]

[2018-05-30 22:09] #28206 closed

[2018-05-30 22:09] #28424 closed

[2018-05-30 22:13] davidsh commented on #29888
@ManuelDev1810 Looks like this issue might be due to a problem with your ASP.NET code as suggested by @Tratcher .  So, we'll close this issue for now.

Also, .NET Core 2.1 has been released now.  Please try out the final build:
https://blogs.msdn.microsoft.com/dotnet/2018/05/30/announcing-net-core-2-1/

[2018-05-30 22:13] #29888 closed

[2018-05-30 22:24] JeremyKuhne opened #29997 "Remove StringBuilderCache from System.Runtime.Extensions"
System.Runtime.Extensions still uses StringBuilderCache in a few places. The usage should be replaced with `ValueStringBuilder`, with an initial reasonably sized stackalloc'ed char array. E.g:

[code]

### First Location

`System.ApplicationId.ToString()`

https://github.com/dotnet/corefx/blob/6dd451f51451a7d0ceea6104b51bd17005e9a0e6/src/System.Runtime.Extensions/src/System/ApplicationId.cs#L42-L6

[2018-05-30 22:27] karelz commented on #29945
Currently we do not have such plans.

It depends on scenario. The best recommendation is to create meaningful simulation of your workload (this is a hard part), then measure it.
We didn't do such comparison yet. I hope we will get to it eventually.

[2018-05-30 22:28] karelz commented on #29945
Seems to be mostly answered, closing.

[2018-05-30 22:28] #29945 closed

[2018-05-30 22:41] keeratsingh commented on #29633
@BrotherOdin Thank you for the confirmation and detailed steps to repro the issue. I see we differ in OS environments, your logs suggest you are using `win81-x64` while I am trying to repro the issue in `win10-x64`. I will try to setup and repro the issue in `win81-x64` environment and get back to you.

[2018-05-30 22:56] weshaggard commented on #29962
@seth-capistron we don't yet have a 2.2 SDK but you can temporatily work around this by setting `<NETCoreAppMaximumVersion>2.2</NETCoreAppMaximumVersion>` in your project.

[2018-05-30 23:05] kouvel commented on #29649
Compiler-only barrier could be useful for something like this: https://github.com/dotnet/corefx/blob/2c734d6db0a8009150bac59f13960f463528ba76/src/System.Threading/tests/InterlockedTests.netcoreapp.cs#L60

From the issue, I like the name Interlocked.CompilerBarrier

[2018-05-30 23:09] karelz commented on #26223
Yes, direct use of HttpClient/HttpClientHandler should achieve what you need.

Closing as the question seems to be answered.

If you have repro that shows different perf characteristics between .NET Core and .NET Framework on the same HW, minimize it and share it with us. We can try to reproduce it locally and take a look.

[2018-05-30 23:09] #26223 closed

[2018-05-30 23:32] joperezr opened #29999 "Remove place holders on packages for TFM UAPvNext from release/2.1 branch"
Some of our packages for assemblies outside the shared framework still have placeholders for UAPvNext. We recently shipped them on the 2.1 release, and this caused problems when trying to consume them if you were targetting uap and your TPMinV is higher than RS3. The reason, is that now you won't get an asset for these packages anymore because of the placeholder, and the assemblies aren't really i

[2018-05-30 23:48] #27841 closed

[2018-05-31 00:49] kouvel commented on #29623
Based on discussion in https://github.com/dotnet/coreclr/pull/18204, we decided to change the value of 0 to disable Sleep(1) usage to -1 instead, similar to timeouts where -1 == no/infinite timeout. Edited proposal inline above to reflect this.

[2018-05-31 01:21] Wintereise commented on #26397
Hi team,

Just wondering if the fix for this ended up making it into 2.1.0 since that recently got released.

[2018-05-31 01:33] jkotas opened #30003 "aspnetcore-runtime-alpine3.7 (no libcurl)- The type initializer for 'Http' threw an exception - Error loading shared library libSystem.Net.Http.Native: No such file or directory"
_From @se on May 31, 2018 0:53_

Guys "microsoft/dotnet:2.1-aspnetcore-runtime-alpine3.7" is giving this error;

But when I use "microsoft/dotnet:2.1-aspnetcore-runtime" is OK.

I'm not sure is this the place that I should create an issue.

[code]

_Copied from original issue: dotnet/coreclr#18211_

[2018-05-31 01:34] baulig opened #30004 "Conflicting definitions of `BCryptGenRandom()`."
I am currently trying to adapt the random number generators (both the non-cryptographic version and the cryptographic version) to Mono and stumbled upon two different versions of `BCryptGenRandom()`:

There is the version in [src/Common/src/CoreLib/Interop/Windows/BCrypt/Interop.BCryptGenRandom.cs](https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/Interop/Windows/BCrypt/Interop.B

[2018-05-31 01:49] jkotas commented on #29990
You will get the same problem on any `ref` structs. Are we going to add a boiler-plate `GetType()` to any `ref` struct?

[2018-05-31 02:00] jkotas commented on #29997
#27250 has work towards `System.Net.WebUtility.HtmlEncode()`

[2018-05-31 02:03] danmosemsft commented on #29997
Would such a change need perf measurements or is it unnecessary?

[2018-05-31 02:27] zpf1989 opened #30006 "Why IWebHost.Run executes before the Configure method in Startup,in aspnetcore 2.1?"
Hello,thanks for your great job!
Noticed the publish of the aspnetcore 2.1,I update my codes instantly.
But I find a strange thing that ,when run the app,the Run method of IWebHost excutes before the Configure method in my Startup class.
I have something code in my custom RunWenHealthy method,which checks some dependencies of my app,and then call the official Run api when checks succeed.
In my Run

[2018-05-31 02:33] jkotas commented on #29997
It never hurts to sanity check performance impact for changes like these.

[2018-05-31 02:36] davidfowl commented on #30006
Configure runs when the host is started vs when the host was built.

[2018-05-31 02:46] zpf1989 commented on #30006
Sorry,I can't get your point,could you please explain in detail?
And is this as designed ?
@davidfowl
Thanks for your time!

[2018-05-31 03:15] ahsonkhan commented on #29694
This issue is being tracked by https://github.com/dotnet/docs/issues/4400.

We are starting to get docs now :)
- https://github.com/dotnet/dotnet-api-docs/pull/194
- https://github.com/dotnet/dotnet-api-docs/pull/228

[2018-05-31 03:31] kouvel commented on #29649
Actually maybe not, because the processor can reorder that read

[2018-05-31 03:51] jkotas commented on #30004
Two different people writing the code in two different repos.

This was skipped in #27841 for some reason. Feel free to submit PR to fix it.

cc @MarcoRossignoli

[2018-05-31 04:03] jkotas commented on #29985
Right, C# `unsafe` keyword controls access to unsafe C# language features. It does not control access to equally unsafe APIs, so it does not guarantee much in practice unfortunately.

Maybe pointing your boss or team members to this discussion may help?

[2018-05-31 04:19] amshekar commented on #29878
@karelz  Changed the IsDate() method to DateTime.Parse(data,dt) then its started working.

Can we expect any fixes/upgrades for the inbuilt methods of datatypes. Which is stopping us to make progress. We might need to changes the existing DLL code which we not supposed to do or we might need to go back to the dotnet 4.6.2 instead of dotnet core.
Your help and suggestion are appreciated

[2018-05-31 05:02] iSazonov commented on #29978
@kasper3 Those APIs is only for symlinks and looks as "theory". @JeremyKuhne ask me to reference PowerShell implementation and I opened the issue. The proposal is for symbolic and hard links.  It is from real PowerShell code - modern MSFT shell which we actively use and should improve. Anybody can download, install and tests how PowerShell works with links. I guess we have still many issues there.

[2018-05-31 05:58] danmosemsft commented on #29861
@tmat You can build as above but @ahsonkhan perhaps you could share yours. So we can get these warnings cleaned up

[2018-05-31 06:02] danmosemsft commented on #29878
@amshekar we should bring back the VB types but that will not help you immediately. To unlock your port can you modify your code to call functionally identical API?

Would it help of I shared.NET Framework sources for these? Do you have a complete list?

It is interesting that I do not recall getting this  ask before.

[2018-05-31 06:03] danmosemsft commented on #29878
@OmarTawfik

[2018-05-31 06:41] amshekar commented on #29878
@danmosemsft
It would be great if you share source and provide the back compatibility with some nuget packages or the Extension methods or some overridable Interface of those in near future release.

FYI, List of methods present in following DLL

_So far we faced issues with Methods present in following Module of Microsoft.VisualBasic DLL_
[code]

[2018-05-31 06:56] GurmeetMunshi commented on #3633
How to generate a Class from xsd in dot net core 2.0

[2018-05-31 07:04] zpf1989 commented on #30006
OK,thanks for the guide.
I'll change my code.

[2018-05-31 07:39] MarcoRossignoli commented on #30004
@jkotas i avoided to touch too different files(also method with different signature, i should have to change call sites and maybe some code, the starting idea of issue was replace files differs by a percentage).
But, having said that, if you think we should go deeper feel free to reopen issue and assign it to me, i'll do another pass through and we'll discuss case by case if i'm in trouble, someti

[2018-05-31 08:20] iftahbe opened #30009 "WindowsCryptographicException on X509Certificate(byte[])"
Probably related for: https://github.com/dotnet/corefx/issues/23780
Opening this as a separate ticket because there is a simple reproduction and it doesn't seem to be related to the permissions in that ticket.

The repro, including the actual certs that I'm using to test it are shown below.

A key part of the problem seems to be that this is running as part of our CI builds, so this is running in

[2018-05-31 10:12] miyu commented on #24093
`ubyte`/`uchar` are confusing. They read like `unsigned char`/`unsigned byte` given convention established with `ushort`/`uint`/`ulong`. Perhaps `u8char`/`char8` and `u32char`/`char32` are clearer?

In any case, I think we're misaligned on whether UTF-8 code units & code points are:

1. low-level primitive data types in .NET
2. a data format to convert to/from existing primitives

And then, how do

[2018-05-31 10:46] justinormont commented on #25702
Have we considered supporting [bfloat16](https://en.wikipedia.org/wiki/Bfloat16_floating-point_format) in addition to [IEEE float16](https://en.wikipedia.org/wiki/Half-precision_floating-point_format)?

Intel is adding hardware support for Google's bfloat16 format, we may want to follow them. They claim speed advantages due to reduced bus bandwidth with minor differences in accuracy for the machin

[2018-05-31 11:13] FenrisWolfAtMiddleEarth commented on #25988
We finally figured out a solution to this problem. The solution though indicates that there is a bug in .net Core.
What triggered the problem was that the http host accepted both kerberos and ntlm authentication.. Our host is Owin, and the code to accept both looks like this:

                listener.AuthenticationSchemes = AuthenticationSchemes.IntegratedWindowsAuthentication;

Even though I spe

[2018-05-31 12:01] FenrisWolfAtMiddleEarth commented on #25988
@karelz
Please consider opening this issue again.
Thanks

[2018-05-31 12:18] srini1978 commented on #24457
I have an Asp.net core application but my target framework is .net 4.6.2 . based on what I understand, I should not face this issue.

[2018-05-31 12:20] Procee opened #30010 "Wiki: Dead link to "Project priorities""
https://github.com/dotnet/corefx/wiki -> Project priorities

[2018-05-31 12:51] mferraricloudsurfers opened #30011 "Get AdministratorsMembers SIDs"
I wrote this function to retrieve all Administrators Members SIDs:

[code]

In .NET Core 2.1 adminGroupEntry.Invoke("Members") throw a System.PlatformNotSupportedException: IDispatch and IDispatchEx are not supported.
Anyone knows a workaround compatible in .NET Core 2.1 ?

[2018-05-31 13:56] gbalykov opened #30013 "Missing dlls in bin/pkg/netcoreapp/runtime for BinPlaceNETCoreAppPackage=true"
Hello.

Looks like `bin/runtime` and `bin/pkg/netcoreapp/runtime` contain different sets of dlls on `release/2.0.0` branch for `BinPlaceNETCoreAppPackage=true`. For example, System.Memory.dll is missing in `bin/pkg/netcoreapp/runtime` but exists in `bin/runtime`. On `master` branch System.Memory.dll exists in both folders.

Could you, please, clarify if this is correct behavior or this should be f

[2018-05-31 14:10] sdmaclea commented on #29649
It would be equivalent to that function.  It could offer better performance as it would allow inlining and remove the call/return overhead.

Barrier is a loaded word for me, so CompilerBarrier feels strange, but I am tainted.

[2018-05-31 14:31] #30006 closed

[2018-05-31 14:35] jkotas commented on #29990
What is the problem (use case) that this is fixing? Why would somebody want to call GetType on Span?

[2018-05-31 15:00] bartonjs commented on #29960
FWIW: Everything else that touched X509Certificate2UI we changed to PNSE.

There's no Windows-specific crypto contract past X509Certificates, so this is an entirely new Windows-only package.  Or just the Windows NetFx compat shim.

[2018-05-31 15:17] MichalStrehovsky commented on #29969
@olegburov We could use the same argument to also propose adding `String.Comma` or `String.Semicolon`, because generating CSV data is also common.

[code]

[2018-05-31 15:35] glennawatson opened #30016 "Documentation for the StopWatch class is incorrect"
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/System/Diagnostics/Stopwatch.cs

The documentation is currently
[code]

I believe the portion  This class uses high-resolution performance counter if installed hardware **does not support it.**

I believe you mean "supports it"

[2018-05-31 15:44] karelz commented on #30003
@wfurt can you please take a look?

[2018-05-31 15:46] karelz commented on #30003
@se do you have a repro we can try in the Docker image?

[2018-05-31 15:47] stephentoub opened #30017 "System.Xml.Tests.XsltcTestSettings tests failing on ES leg"
A bunch of these tests have started failing on all PRs.  I don't know what's changed, but the errors are due to the code comparing an expected English string against the actual Spanish string.

e.g.
https://mc.dot.net/#/user/brianrob/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/71f64b25cd53371ac8cec514d6bb0644bdc232a1/workItem/XsltCompiler.Tests
[code]

[2018-05-31 15:54] karelz commented on #30013
@joperezr @weshaggard do you know if this is specific to System.Memory?

[2018-05-31 15:56] karelz commented on #30016
Thanks for catching it @glennawatson! Do you want to submit a PR?

[2018-05-31 15:57] glennawatson commented on #30016
Can do. Will submit in the next 24 hours.

[2018-05-31 16:01] tannergooding commented on #25702
@justinormont, it has come up before but there hasn't been a formal proposal yet.

I think that, eventually, both will need to be supported. Each has their own benefits/drawbacks and has use in various fields. For example:
* `float16` has reduced range
  * This means users need to be more careful about overflow/underflow
* `bfloat16` has reduced accuracy (2-4 digits)
  * This means that users need

[2018-05-31 16:06] karelz commented on #30010
@Procee thanks for pointing it out. The target never existed, I deleted the link.

[2018-05-31 16:06] #30010 closed

[2018-05-31 16:06] gbalykov commented on #30013
@karelz, this dlls also exist only in `bin/runtime`

OSExtensions.dll
SOS.NETCore.dll
System.CodeDom.dll
System.ComponentModel.Composition.dll
System.Composition.AttributedModel.dll
System.Composition.Convention.dll
System.Composition.Hosting.dll
System.Composition.Runtime.dll
System.Composition.TypedParts.dll
System.Configuration.ConfigurationManager.dll
System.Data.DataSetExtensions.dll
System.D

[2018-05-31 16:13] tannergooding commented on #25702
As a comparison of the two data formats, you can look at the following program and its output:
[ComparisonProgram.zip](https://github.com/dotnet/corefx/files/2059002/ComparisonProgram.zip)

You'll notice that, on `bfloat16` the reduced precision causes numbers above `128` to drop all decimal digits and numbers above `256` can't even be represented accurately as whole numbers (we start jumping by `

[2018-05-31 16:15] wfurt commented on #30003
are you targeting 2.0 or 2.1 @se in your project? If you target 2.1 HTTP should use managed implementation.

[2018-05-31 16:19] karelz commented on #25988
I don't think the code above specifically sets client to use NTLM. It just provides NTLM credentials, that is all.
Kerberos is more secure than NTLM and therefore picked as it is supported by both client and the server.

@davidsh @wfurt is that correct summary? Is there a way to force client to use specific authentication scheme?

[2018-05-31 16:30] GSPP opened #30018 "Add method to detect float NaN and infinity values in one convenient call"
I sometimes find the need to validate that some floating point value in my application's logic is not NaN or an infinity value. Often, when such a value occurs it's a bug. So it's valuable to detect them and raise an error.

The framework should have a method to do this. Motivating code snippet:

        public static TimeSpan MultiplyTimeSpan(TimeSpan timeSpan, double factor)
        {

[2018-05-31 16:33] jkotas commented on #30003
System.Security calls curl directly even in 2.1, without going through the managed HTTP stack.

[2018-05-31 16:35] wfurt commented on #30003
ok. I'll take a look. Maybe curl is missing in the docker image.

[2018-05-31 16:36] davidsh commented on #25988
From the description above, this is a bug in our HTTP client stack.

The server can offer multiple schemes such as Negotiate (Kerberos) and NTLM.  The client will pick the strongest but only if the credential can be used for that scheme.

When a NetworkCredential object is used on the client, that credential is valid for all schemes (Basic, Digest, NTLM, Negotiate).  But when a CredentialCache is

[2018-05-31 16:37] stephentoub commented on #30003
Oh man...

[2018-05-31 16:39] wfurt commented on #25988
#28105. Targeting netcore2.1 should give you the fix @FenrisWolfAtMiddleEarth

[2018-05-31 16:40] stephentoub commented on #30003
This is a real problem:
https://github.com/dotnet/corefx/blob/2c58d310d772ed5bed21394590815c4c9fea0bcc/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CertificateAssetDownloader.cs#L85-L120

We don't require libcurl anymore, yet a component depends on it.  We need to fix this code to not rely on libcurl.

cc: @bartonjs

[2018-05-31 16:41] rmkerr commented on #25988
The issue @wfurt linked to is the correct one. This should be fixed in 2.1.

[2018-05-31 16:45] danmosemsft commented on #29969
Myself I do not see the value of this. It makes code which seems quite readable, less readable. BTW wouldn't it be called `string.Space` ?

[2018-05-31 16:55] karelz commented on #25988
Duplicate of #27672

[2018-05-31 16:55] #25988 closed

[2018-05-31 17:20] karelz commented on #30017
@krwq @pjanotti can you please take a look at it?

[2018-05-31 17:20] pthorsley commented on #8723
Using .netcore 2.1 and no support for message security, big time bummer.

[2018-05-31 17:27] davidsh commented on #24712
There is still a bug lurking most likely in one of our HTTP stacks.

This error:

Actual:   typeof(System.Net.Http.HttpRequestException): An error occurred while sending the request.

indicates that the HTTP stack (one of the handlers) is incorrectly wrapping the IOException with an HttpRequestException.  Most of the HttpClient APIs should always throw a top-level HttpRequestException.  But when s

[2018-05-31 17:31] JeremyKuhne commented on #29997
My main concern here is killing off a cached stringbuilder that is local to this assembly.

[2018-05-31 17:36] wfurt commented on #30003
running "apk update; apk add curl" inside your docker image will probably workaround it @se.
Also, I did try simple https app in alpine docker image and it run ok.

[2018-05-31 17:40] tarekgh commented on #26424
https://mc.dot.net/#/user/tarekgh/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/6a8c730f376ab6f5d975be53704b2f96cbdc0a81/workItem/XsltCompiler.Tests

[2018-05-31 17:42] twsouthwick commented on #24457
@srini1978 The System.IO.Packaging on .NET Framework and .NET Core use different implementations of ZipArchive. Running on .NET Framework will not hit this issue.

[2018-05-31 17:44] davidsh commented on #25757
We think this issue is resolved now.  Please use the latest Visual Studio 2017 Update 15.7 and .NET Core 2.1 SDK.

Please try out those updates and let us know.  If there are still problems, we can re-open the issue. Thx.

[2018-05-31 17:44] #25757 closed

[2018-05-31 17:47] davidsh commented on #24683
Please try out the latest .NET Framework 4.7.2:
https://blogs.msdn.microsoft.com/dotnet/2018/04/30/announcing-the-net-framework-4-7-2/

If this problem is still occurring with .NET Framework, please open an issue here directly against .NET Framework:
https://developercommunity.visualstudio.com/spaces/61/index.html

Thx.

[2018-05-31 17:47] #24683 closed

[2018-05-31 17:52] #27272 closed

[2018-05-31 18:02] davidsh commented on #24574
Based on this feedback and issue #29934, we probably will implement using these environment variables on Windows as well as Linux.  On Windows, the environment variables, if present, would override any "WinINet", i.e. Internet Explorer proxy settings.

Using these environment variables would provide a similar per-machine proxy setting that WinHTTP proxy settings provide (i.e. with netsh commands).

[2018-05-31 18:03] huanwu commented on #28530
On dotnet core, the Lazy object won't be serialized because it doesn't contain the memeber that can be serialized. On desktop,  when it try to deserialze [m_boxed](https://referencesource.microsoft.com/#mscorlib/system/Lazy.cs,103) object declared as object, which is typeof [Boxed](https://referencesource.microsoft.com/#mscorlib/system/Lazy.cs,68), it will fail because it is not a known type.

[2018-05-31 18:11] danmosemsft opened #30023 "Extend Dictionary concurrent access detection to Remove()"
#16991 added a change to turn hangs in Dictionary (caused by illegal concurrent access) into crashes, which are more useful.

It looks we missing the same protection in the 2 Remove() overloads. It contains code like
[code]
The hangs we have seen were all loops in the entries chain - such a loop could cause the above code to hang also so we should probably apply the same change to this.

[2018-05-31 18:12] wfurt commented on #24574
There is always option to set proxy explicitly on HttpHandler, right @davidsh?
That allows to use what ever app write wants to.

Environment variables used to work on Windows as well in early phases SocketHttpHandler for testing but than we roll it back as old handler did not work that way.

References to WebRequest.DefaultWebProxy keeps coming back as deja vu.
Is that something we should address?

[2018-05-31 18:21] davidsh commented on #24574
Yes, apps can explicitly set .Proxy property.  We discourage the use of WebRequest.DefaultWebProxy property because it is legacy and tied more with legacy HttpWebRequest APIs.

The request here, though, is to use a machine-wide setting for the "default" / "system" proxy settings. This implies not having to write any code nor set the HttpClientHandler.Proxy property.

So, I think we should get the

[2018-05-31 18:26] huanwu commented on #29938
@tlwest To workaround it, you can create a dummy class derived from XmlSerializationWriter and call [FromByteArrayHex](http://source.dot.net/#System.Private.Xml/System/Xml/Serialization/XmlSerializationWriter.cs,121) from your own method.

[2018-05-31 18:29] OmarTawfik commented on #29878
I'd say this is a dup of #29873
@danmosemsft I want to put it as "up for grabs", but we need to publish the relevant VB files from the desktop first. Does that sound correct?

[2018-05-31 18:41] sidshetye commented on #8158
@bartonjs @karelz : Any news on the comment above? We were blocked on this with out port to .net standard (or core).

[2018-05-31 18:53] danmosemsft commented on #29878
@OmarTawfik you mean publish to referncesource? We should, but in the past we've been OK with sharing some specific source files directly. I do'nt think it needs to directly come from referencesource.

[2018-05-31 18:55] huanwu commented on #29560
@mkArtakMSFT

[2018-05-31 18:55] huanwu commented on #29560
@mkArtakMSFT Please reopen it if you can repro it.

[2018-05-31 19:04] mkArtakMSFT commented on #29560
Hi @yujayee. Sorry, I didn't see these notifications. You should rather engage with the person who had filed the original issue, rather than me.  That would be @SWarnberg!

[2018-05-31 19:09] brianrob commented on #27116
Marking this for Hackathon.  Recommend starting by removing the ifdef and instead using programmatic checks or attributes to only run the ETW paths on Windows.

[2018-05-31 19:14] brianrob commented on #19624
Marking this for the hackathon.  This is about removing the preprocessor define for FEATURE_ETLEVENTS.  Per @ViktorHofer it looks like this should be fairly straightforward.

[2018-05-31 19:15] baulig commented on #30004
Well, you know the code better than me and I'm also not too familiar with your naming conventions, so I'd really appreciate it if you could fix this.

[2018-05-31 19:21] fujiy commented on #29917
@rmkerr, how did you find the constant 12? Would it work on Linux or we need to map to another value in https://github.com/dotnet/corefx/blob/18cac5a386bdf7dba8585a78c047d77345379a71/src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs#L1092 or https://github.com/dotnet/corefx/blob/21f15c1422643e3f759f13d72867759fd797ca60/src/Native/Unix/System.Native/pal_networking.c#L1760 ?

[2018-05-31 19:31] wtgodbe commented on #29980
@MattGal @danmosemsft is this related to https://github.com/dotnet/corefx/issues/29753?

[2018-05-31 19:38] davidsh commented on #27355
HTTP/1.1 protocol encourages clients and servers to keep connections open so that they can be reused.  Getting a non-200 response code (such as 500) from a server doesn't automatically mean that the connection will be closed.  A server can choose to close the connection after sending a 500 status code back.

If you want to have connections close after sending a non-200 status code, you can modify

[2018-05-31 19:38] #27355 closed

[2018-05-31 19:44] davidsh commented on #24554
I also ran into this.  I have a Windows machine running Docker for Windows.  In my Linux containers, there is no IPv6 at all.  That is a limitation of Docker for Windows.  When I run the System.Net.Sockets tests or System.Net.Http tests, for example, I get failures since it assumes IPv6 is there.  It would be nice to fix this.

[2018-05-31 20:01] MarcoRossignoli commented on #24554
Do you use containers for testing/dev?

I'm working on other PR right now, if nobody grab this i'll try a PR

[2018-05-31 20:01] se commented on #30003
Thank you guys for digging on it.

I will try to update our Docker Image with this workaround and let you know.

[2018-05-31 20:05] rmkerr commented on #29917
This issue actually needs to be updated -- the API is slightly different than expected on Windows. Rather than using the standard `setsocketopt` interface, Windows allows for more granular control over ack frequency via the `WSAIoctl` control code `SIO_TCP_SET_ACK_FREQUENCY`. That means that we can add the ability to disable delayed ack on all platforms, but the implementation may need to be platf

[2018-05-31 20:10] bartonjs commented on #30003
Crypto can't use the managed stack, because the managed stack uses crypto.  Unless we build mscorlib again.

If sockets can be pulled in without a circular dependency, crypto probably only needs HTTP 1.0, and definitely doesn't need TLS.

[2018-05-31 20:10] wfurt commented on #24554
That would be nice @MarcoRossignoli.It would be nice to have it as xunit trait instead of adding check it each test function.

As far as the implementation, Your code would actually test presence of IPv6 loopback address.
I think the OSSupportIPv6 only tries to create IPv6 socket. So from test prospective, I think test for the address is better.
I don't know if we have any tests reaching to public

[2018-05-31 20:12] stephentoub commented on #30003
@bartonjs, what do you think of my reflection-based fix?
https://github.com/dotnet/corefx/pull/30024

[2018-05-31 20:17] #27746 closed

[2018-05-31 20:18] MarcoRossignoli commented on #24554
Can you clarify?

Do you mean use a "real ipv6 address"?If so is there some sample on codebase?

[2018-05-31 20:32] MattGal commented on #29980
Yes I'm pretty sure you're right, though I thought the end of that issue was that the tests got disabled on Nano.

[2018-05-31 20:36] tarekgh commented on #29980
Note the failure here is on 2.1 release branch and not the master. maybe we need to port the fix to 2.1?

[2018-05-31 20:37] wfurt commented on #24554
look at PlatformSupportsUnixDomainSockets under src/System.Net.Sockets/tests/FunctionalTests
That adds Xunit condition so we would (not) run the test when appropriate.

As oposite you can take a look at ReceiveMessageFrom.cs and use of Socket.OSSupportsIPv6.
Those test would always pass even if they did not really run.

I did look at properties under src/Common/tests/System/Net/Configuration* and

[2018-05-31 20:45] MattGal commented on #29980
Oh, I missed that part.  If you want tests passing there, definitely.  Since you're making a PR to a release branch already, you might be able to just cherry pick that commit as part of your own though.

[2018-05-31 20:50] tarekgh commented on #29980
I prefer this be submitted in another PR because we already communicated my PR to the ship room and I want to avoid any confusion or adding any unrelated changes. I'll let @danmosemsft  decide what want to do here.

[2018-05-31 20:50] wtgodbe commented on #29980
Looks like https://github.com/dotnet/corefx/pull/29995 already went in, so this may be addressed already

[2018-05-31 20:51] nguerrera commented on #29172
Yes. This is what we should do. We should not invent yet another high level API for inspecting metadata. I am closing this in favor of that.

[2018-05-31 20:51] #29172 closed

[2018-05-31 20:51] tarekgh commented on #29980
CC @maryamariyan

[2018-05-31 21:07] peltco commented on #23262
i'll work on this one during the hackaton

[2018-05-31 21:18] stephentoub opened #30028 "AV in X509Certificate.LoadCertificateFromFile on Windows"
[code]

[2018-05-31 21:20] stephentoub commented on #30028
Again here:
https://github.com/dotnet/corefx/pull/29903#issuecomment-391901074

[2018-05-31 21:20] keeratsingh commented on #27719
Hi @ezra2310 As per my understanding what you are saying is that `GetSchemaTable` returns the column alias `ParentId` for `BaseColumnName = CustomerID` and alias `ChildId` for `BaseColumnName = OrderID`, however it only returns the `BaseTableName=Customers` and `BaseTableName = Orders` respectively. Along with the `BaseTableName` you also need the Alias Table Name, which would be `A` and `B` respe

[2018-05-31 21:20] davidsh commented on #30028
@stephentoub I noticed you labeled this "System.Net.Security".  I would think it a bug in System.Security, X509* since it is an AV.

[2018-05-31 21:30] huanwu commented on #28530
The serialized Lazy object is empty because the public value is get only. It is set through the function. This is by design and no easy fix.

[2018-05-31 21:32] davidsh commented on #30028
I have a theory about this failure.  I think it started to happen after my PR #29758.

Perhaps removing the Mutex is a problem for .NET Framework.  Maybe there is some other bug about loading the same PFX file from concurrent threads (tests in our case).

We thought the Mutex was only needed to deal with the "friendlyname on private key" problem (which we fixed by removing that friendlyname via @b

[2018-05-31 21:41] davidsh commented on #30028
Currently CI runs on .NET 4.6.x.  Once PR #28883 is merged, it will run against 4.7.2. I wonder whether this possible .NET Framework bug might be fixed on 4.7.2.

[2018-05-31 21:41] jnm2 commented on #23262
For some reason I'm finding it unintuitive. If I see a TryGetValue method in intellisense, I'm going to think it's primarily about .Success, and I'd be wrong.

[2018-05-31 21:45] ViktorHofer commented on #23262
TryGetValue operates on collections that contain a key and a value, i.e. Hashtable and Dictionary. In our case the key is the group name and the value is the group object. If the key exists then the value should be returned without taking its internal state into consideration (in our case the Success property).

[2018-05-31 21:52] AlgorithmsAreCool opened #30029 "[Question] BoundedChannel(Reader/Writer).Try(Read/Write) are kinda allocatey"
I have been playing around with `System.Threading.Channels` and have found it to be fantastic.

However when I was profiling I found that `TryRead`/`TryWrite` are allocating Tasks. (unless I'm reading this profiler report incorrectly.)

Since these are synchronous APIs I found this surprising.

Are the `TryRead`/`TryWrite` methods expected to allocate Tasks?

@stephentoub

I apologize if @-tting i

[2018-05-31 22:09] danmosemsft commented on #29669
fixed

[2018-05-31 22:09] #29669 closed

[2018-05-31 22:10] karelz commented on #27468
Looks like it is not actionable now.
Let us know if you have repro and how you detect the leak (ideally via steps from @caesar1995 above) - we can then reopen. Thanks!

[2018-05-31 22:10] #27468 closed

[2018-05-31 22:11] danmosemsft commented on #29984
fixed

[2018-05-31 22:11] #29984 closed

[2018-05-31 22:16] m5x commented on #14691
It would be great if it was possible to supply the certificate as a stream. It would remove additional steps that are required on each OS to install the certficate and at the same time it would allow developers to control themselves how and where is the certificate stored.

[2018-05-31 22:18] jnm2 commented on #23262
Oops, I was picturing TryGetValue on Group, lol! I'm sorry!

[2018-05-31 22:23] jhudsoncedaron opened #30030 "BrotliStream decompresser reads misaligned chunks on repetetive data; TryDecompress works"
I've got a large data blob that reliably causes BrotliStream to read misaligned chunks or drop chunks while BrotliDecoder functions correctly.

I made a publicly-uploadable version by replacing sensitive info with multiple copies of Moby Dick.

Here is the test code. It raises "BrotliStream chunk trouble; bytes are the same but the stream isn't." at the same place every time. The second and third

[2018-05-31 22:37] danmosemsft commented on #29980
already fixed

[2018-05-31 22:37] #29980 closed

[2018-05-31 22:58] terrajobst commented on #29878
Let's do it the right way. We should work with the owners of Reference Source to add the Microsoft.VisualBasic module to their update script. And while we're at it, we should probably add Microsoft.CSharp too.

[2018-05-31 22:59] #1155 closed

[2018-05-31 23:33] OmarTawfik commented on #29878
Sounds good to me. We can turn these issues into "up for grabs" once the sources are public, and they can be added to the next release of core.

[2018-05-31 23:34] rmkerr opened #30032 "ConnectTimeout_TimesOutSSLAuth_Throws fails with unexpected exception type"
`ConnectTimeout_TimesOutSSLAuth_Throws` expects an exception of type `TaskCancelledException` to be thrown. However, this test occasionally fails when `HttpRequestException` is thrown instead.

Stack Trace:
[code]

The test itself:
https://github.com/dotnet/corefx/blob/31f7b653fe62317c7edd5c3fc59430462197934d/src/System.Net.Http/tests/FunctionalTests/SocketsHttpHandlerTest.cs#L485-L505

The test a

[2018-05-31 23:46] danmosemsft commented on #29878
FWIW here is a complete diff of M.CS.dll and M.VB.dll vs .NET Framework.
https://gist.github.com/danmosemsft/d8fb8397093f0c4ae0bb12af740cfb3e

Of course many of them would pull in other dependencies such as System.Drawing, System.Windows.Forms, System.Management - of course that may not ultimately be an issue. For now porting just these simple utility types makes sense.

[2018-05-31 23:52] karelz commented on #8158
@bartonjs is on vacation - @GrabYourPitchforks can you help?

[2018-06-01 00:12] stephentoub commented on #30029
Excellent.

It depends on the situation.

If you're just using these methods and not the async ones, or if even if you're using the async ones as well but never try to ReadAsync/WaitToReadAsync from an empty channel or WriteAsync/WaitToWriteAsync to a full channel, then no, TryRead and TryWrite should never allocate.

However, if you also use the async methods like ReadAsync, WaitForReadAsync, etc

[2018-06-01 00:37] #30016 closed

[2018-06-01 00:39] ghuntley commented on #25746
`Console.Beep(int,int)` on linux is indeed stubbed out.

*NIX impl: https://github.com/dotnet/corefx/blob/master/src/System.Console/src/System/ConsolePal.Unix.cs#L199
Windows impl: https://github.com/dotnet/corefx/blob/master/src/System.Console/src/System/ConsolePal.Windows.cs#L679

[2018-06-01 00:53] danmosemsft commented on #30017
It's no surprise these were flagged if they're looking for English strings. They should not. If it's not easy to replace the validation, I suggest wrapping this assert in a check that the thread culture is en-US. We do still run tests on that, so the message will get validated there.

[2018-06-01 01:00] danmosemsft commented on #30003
@wfurt seems this was overlooked because we have libcurl on our Alpine machines, do you agree? If so can you please drive getting it _off_ our Alpine images, so we protect this fix ?

[2018-06-01 01:02] stephentoub commented on #30017
Yes.  What I'm not clear on is why they only just started failing.  And why they didn't fail in the PRs to move us to Spanish OS installs.

[2018-06-01 01:14] ghuntley commented on #25746
Source code for `/usr/bin/beep` is at http://security.debian.org/debian-security/pool/updates/main/b/beep/beep_1.3.orig.tar.gz.

Question for corefx folks:

![image](https://user-images.githubusercontent.com/127353/40815869-da65ee86-658c-11e8-9add-bc903ca7103a.png)

[2018-06-01 01:52] yujayee commented on #29560
@mkArtakMSFT I didn't follow all the steps to create the repro because I'm not familiar with aspnet mvc. I only did step 4 to create this dataset and directly serialize it with XmlSerializer and I didn't see any issues. Could you guys help create a simple repo directly related to serialization so I can investigate further?

[2018-06-01 02:53] danmosemsft commented on #25746
@stephentoub thoughts? I'd prefer to port the code, as long as it's the same for all distro, since shelling out is not free (is another dependency, and is clumsy)

[2018-06-01 03:53] rmunn commented on #24704
FWIW, https://github.com/dotnet/corefx/commit/75f34a55635532134584b7910c0fd30fa81d591d (which changes the behavior of UseShellExecute to use `xdg-open` on Linux instead of `/bin/sh`) has caused problems, because Linux developers see the name "UseShellExecute" and think it's going to use the shell. (There's only one thing called the "shell" in Linux, and that's `/bin/sh` and its variants, `/bin/bas

[2018-06-01 04:37] rajugurrapu commented on #14897
Hi All,

We are facing similar issue, when we request Web API end point with large data, it waits for 5 minutes and throws below Exception. There is no timeout configured at server side and we have client request timeoout is 20minutes.

Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware: An unhandled exception has occurred: One or more errors occurred. (An error occurred while sending the

[2018-06-01 04:57] danmosemsft commented on #14897
@rajugurrapu this is a closed issue so it won't be seen.please open a fresh issue for your problem, including version details, code snippet, stack, and URL if special.

[2018-06-01 05:02] safern commented on #30017
It is supposed to be skipped in non-English cultures: https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/tests/Xslt/XsltCompiler/CommonScenarios/XsltcTestCaseBase.cs#L124

[2018-06-01 05:09] peppy opened #30038 "ExpectContinue causes breaking behaviour in responseStream.Read"
Since 2.1.300, setting `ExpectContinue` to `true` will cause `Read` operations on the response stream to block for a long period rather than immediately returning 0 at the end of stream content.

Reproduction:

[code]

Running this code under `netcoreapp2.0` and `net471` will exit immediately after the response is read, while running under `netcoreapp2.1` will block for a very long time before eve

[2018-06-01 05:39] FenrisWolfAtMiddleEarth commented on #25988
I can confirm it is working with core 2.1
Problem is that it will most likely be months before our build servers are upgraded with core 2.1. I guess that is something I will have to discuss with our TFS team

[2018-06-01 06:39] BredPet opened #30039 "[Build] BuildTools issue"
CoreFX/CoreRT build doesn't work. CoreCLR buildtools works only.
I checked x86 and x64. Behavior doesn't change. I don't understand - how can this work in CI?)
At the moment I use CoreCLR BuildTools and DotnetCLI versions in CoreFX/CoreRT.

CoreFX logs:
[code]

CoreRT logs:
[code]

But CoreCLR:
[code]
https://github.com/dotnet/corert/issues/5875

[2018-06-01 07:50] SWarnberg commented on #29560
I can't believe it would be that hard to reproduce. It has nothing to do with ASP .NET.
I'm attaching a quick code snippet that will reproduce the problem.
[DataSetSerializationProblem.zip](https://github.com/dotnet/corefx/files/2061624/DataSetSerializationProblem.zip)

[2018-06-01 08:07] rajugurrapu opened #30040 "ASP.NET Core - Post Request to API - InnerException {System.Net.Http.WinHttpException (0x80072F78): The server returned an invalid or unrecognized response"
Request to POST, after 5 minutes the post request is fails with below error.
[code]

[2018-06-01 09:33] kfomichev commented on #27355
I still think this behavior is wrong.
The HttpWebResponse object implements IDisposable.  That means if I call HttpWebResponse.Close or wrap the object creation into `using` , the connection should be released to ServicePoint manager anyway. The inner logic should decide whether to physically close connection or reuse it. It should not rely on programmer, whether he has read buffered data to the e

[2018-06-01 10:28] dsyme commented on #25536
Some (perhaps overly histrionic) comments on the introduction of this API https://github.com/fsharp/fslang-suggestions/issues/648#issuecomment-393728310:

[2018-06-01 12:19] mohakbarokar commented on #29654
This Bug is tested on build with config: https://gist.github.com/mohakbarokar/2a6889577bc362531d623eae48c5b211

Ide Build taken from: \\cpvsbuild\drops\VS\d15.8\products\27729.01

Xamarin.Android Taken from: https://jenkins.mono-project.com/view/Xamarin.Android/job/xamarin-android/lastSuccessfulBuild/Azure/

Nuget Package Taken from: \\TAREKMS-DEV\PrivatePackages

Steps followed for verification:

[2018-06-01 13:56] riezebosch commented on #29994
Elaborating on the example, does it make sense to have an IsEmpty property on a concurrent dictionary? What's the use if you cannot safely expect it to be empty directly after the moment you checked?

That being said I suspect the emptiness being related to number of items and the concurrency level. When there are more items than threads you can safely tell it to be not empty. When 3 threads are m

[2018-06-01 14:03] stephentoub commented on #29994
First, just because the dictionary can be used concurrently doesn't mean it always is.  For example, you might manipulate it concurrently, but then in a serialized context want to see whether it contains anything.

Second, even in a concurrent context emptiness is relevant in some scenarios.  For example, imagine you've populated the dictionary and you know there aren't going to be any more additi

[2018-06-01 14:15] #30029 closed

[2018-06-01 14:26] Mpdreamz opened #30043 "crossgen.sh: line 80: $2: unbound variable"
When trying to run `build.sh` on a clean check out from WSL.

[2018-06-01 14:43] stephentoub commented on #30038
The issue here is the client is dutifully sending the Expect: 100-continue header you asked for, but there is no content (you haven't added any content to the HttpRequestMessage).  The server ends up sending back a 100 status code response and then doesn't send back the rest of the response because the server is waiting for content that will never come, and the client is waiting for that response

[2018-06-01 14:51] stephentoub commented on #25746
I agree.  However:
a) What's the license on that code?  Porting something GPL for example would not be acceptable.
b) How much code is it?  The snippet shown above is calling methods (e.g. do_beep) where the src isn't shown.

It seems like an implementation should be possible, at least on Linux, with relatively little code, but if the cited source is GPL or a similar license, someone who's not loo

[2018-06-01 15:04] stephentoub opened #30044 "System.Net.Security.Tests are frequently crashing in CI on Windows"
e.g.
https://mc.dot.net/#/user/dotnet-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/6aa7cf3c4627bd181f3b14ce48ca510c375fbc11/workItem/System.Net.Security.Tests/wilogs
[code]

[2018-06-01 15:11] danmosemsft commented on #25988
@fenriswolfatmiddleearth definitely something to pursue as now that 2.1 is out, 2.0 will go out of support in 3 months (https://github.com/dotnet/core/blob/master/microsoft-support.md)

[2018-06-01 15:27] stephentoub commented on #30030
You're passing in the whole result area.  Shouldn't that instead be slicing the result to only the portion that was actually written to, i.e. influenced by `size`, by the number of bytes actually written by the encoder?

[2018-06-01 15:27] jhudsoncedaron commented on #30030
I've been pondering how I can attempt this since 5pm yesterday but I can't guarantee being able to do this. Thanks for asking.

[2018-06-01 15:32] jhudsoncedaron commented on #30030
No, sorry. Bisection eliminated the Array.Resize call. Putting it back doesn't make it go away. I fixed the sample code anyway.

[2018-06-01 15:36] stephentoub commented on #30030
I don't understand.  The code has this:
[code]
That's wrong.  `result.AsSpan(8, m-8)` includes potentially many more bytes than the encoder wrote, so the decoder is potentially going to try to decompress garbage.  Seems like it would need to be something more like `result.AsSpan(8).Slice(0, size)` for the TryDecompress call, and the ByteArrayEquals would similarly need to be fixed up to not assume

[2018-06-01 15:44] stephentoub commented on #30030
That code also looks wrong.  `m` is the potential length, and the second argument to AsSpan is the length... so that should be `AsSpan(8, m)` or just `AsSpan(8)`.

[2018-06-01 15:46] karelz commented on #30044
@rmkerr can you please look into it when you get a chance?
I assume Kusto does not contain historical info about crashes :(

[2018-06-01 15:49] karelz commented on #30043
I assume it is from here:
https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/crossgen.sh#L80

Can you fish out the command line from build logs? Or maybe echo the args for debugging ...

[2018-06-01 15:50] karelz commented on #30043
@wtgodbe can you please help investigate?

[2018-06-01 15:52] colgreen commented on #27486
The [System.Runtime.Intrinsics.Experimental](https://www.nuget.org/packages/System.Runtime.Intrinsics.Experimental/) nuget package is currently showing as unlisted. Has this moved elsewhere, and/or is there any info on the current situation with the hardware intrinsics support?

[2018-06-01 15:53] karelz commented on #30040
I assume you're running .NET Core 2.0.
Can you please try it on 2.1? (just released earlier this week)

Do you have a minimal repro you can share with us? Does it happen against any server, or just some? Did you look at the network traffic via Fiddle or Wireshark?

[2018-06-01 15:54] xneg opened #30047 "Memory leaks using HttpClient in ASP.NET Core 2.1"
I'm using .NET Core 2.1 SDK (v2.1.300) at Windows.

Steps to reproduce:

[code]

In Program.cs:

[code]

Here is my MCVE.csproj:

[code]

When I run this app, Process Memory in Diagnostic tools shows that memory usage is slow but constantly increasing.  I ran into this problem with core 2.0 too.
The same code in console app (core 2.0 or core 2.1) works without memory leaks.

[2018-06-01 15:57] vancem opened #30048 "Make it easy for large StringBuilders to be written to TextWriters without making a large string"
It is actually pretty common for HTTP servers to create a large response HTML string built up with a StringBuilder and then write that StringBuilder as the response.  A similar scenario can happen with simply file I/O.     However until recently,  the only obvious way to get the data out of a StringBuilder was the ToString() routine that generates a string (it copies its value), which is a needles

[2018-06-01 16:01] karelz commented on #30039
@BredPet does it happen for fresh clone of the repo? Does the file in question truly exist on the disk?
cc @wtgodbe

[2018-06-01 16:06] karelz commented on #30047
Are you sure it is memory leak and not just GC not kicking in?
Did you use some memory profiler to find out where the memory leak originates?

[2018-06-01 16:06] airbreather commented on #27486
@colgreen I found it on [MyGet](https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Runtime.Intrinsics.Experimental).

[2018-06-01 16:19] terrajobst opened #30049 "Add string-based alternatives for Path.Join"
In #25536 we've added

[code]

The intent was that people will be able to call these APIs when they have a span or a string (because `string` has an implicit conversion to `ReadOnlySpan<char>`). However, some languages, such as F#, do not support implicit conversions. Also, it forces developers to know that this conversion exists. Normally, this isn't a big deal as developers learn common conversi

[2018-06-01 16:21] jhudsoncedaron commented on #30030
I managed to construct a publicly-uploadable data file that exhibits the problem. stepehntoub did find some code issues in the original bisection, but none of them would explain the specific error exhibited. After fixing all of them the bug remains.

I am disappointed the reproduction wasn't a spectacular failure like the NDA version where the replacement was a much larger chunk, but only two byte

[2018-06-01 16:22] stephentoub commented on #30049
So for any new API that takes a `ReadOnlySpan<char>` we're going to add a `string`-based overload?  Why not "fix" the languages where the implicit conversion isn't supported to instead be supported rather than double the number of APIs?

[2018-06-01 16:23] stephentoub commented on #30030
Can you share the complete repro then?

[2018-06-01 16:28] davidsh commented on #30044
Is this related to #30028?  That issue was on Desktop.  But it's possible that the problem is the same, i.e. the Mutex needs to be put back because there is some bug in X509 with concurrent PFX file load.

[2018-06-01 16:29] #23681 closed

[2018-06-01 16:31] stephentoub commented on #30044
I can't repro this locally, but I set up a repro machine from CI, where it repros 90% of the time for me.  It looks like an AV:
[code]
Here's the stack:
[code]

[2018-06-01 16:31] davidsh commented on #30038
On .NET Framework, ServicePointManager.Expect100Continue defaults to TRUE.  But I don't think it sends that header if there is no content to send.  So, we should refrain from sending that request header is there is no content.

[2018-06-01 16:33] davidsh commented on #30044
Sounds like the same problem as Desktop.  There must be a bug/limitation with concurrent threads importing the same PFX file.  We'll need to put the Mutex back in.

[2018-06-01 16:36] stephentoub commented on #30044
The same file path, or the same bytes for the same cert?  I'm wondering if rather than using a mutex we can instead have each loader just make a temporary copy of the file and load that copy.

[2018-06-01 16:38] bricelam commented on #12034
See also opengeospatial/geoapi#35

[2018-06-01 16:39] davidsh commented on #30044
The file paths are the same since it is importing the PFX files from the testdata directory.

[2018-06-01 16:40] karelz commented on #14897
FYI: @rajugurrapu created new bug #30040

[2018-06-01 17:07] terrajobst commented on #30049
F# (or more specifically ML) deliberately decided not support implicit conversions. I'm not a language expert, but this have to do with other aspects, such as global type inference. I think it's fair to ask why F# couldn't change that but by an large type system constraints like this tend to be fundamental aspects that are hard, impossible or just undesirable to change. For better or worse, as API

[2018-06-01 17:09] SimplerSoftware commented on #29633
I think I'm running into a similar issue... although it's kind of intermittent.  Sometimes I'll get the error and sometimes I don't.  And it doesn't just happen when a breakpoint is set.  I know this doesn't really help with troubleshooting but I wanted to let you know that I'm experiencing it too.

[2018-06-01 17:12] caesar1995 commented on #29983
Fixed in #29991.

[2018-06-01 17:12] #29983 closed

[2018-06-01 17:24] stephentoub commented on #30030
Thanks.  There does appear to be a bug here.  I simplified the repro:
[code]
Any input larger than 4MB starts having the wrong output at the 4MB mark (0x400000).

cc: @ianhays

[2018-06-01 17:28] cartermp commented on #30049
I agree with @terrajobst here:

* For namespaces which are designed to be used in performance-critical scenarios, having everything be `Span`/`ReadonlySpan` based seems perfectly reasonable.
* For namespaces which are general-purpose, relying on an implicit conversion between e.g., `string` and `Span` is troublesome. Not just because F# may not support that, but because it sort of violates a rule

[2018-06-01 17:29] jhudsoncedaron commented on #30030
I'm impressed you got it to reproduce with 4 megabytes of zeros. I was always getting chunks that occurred later in the file.

[2018-06-01 17:36] keeratsingh commented on #29633
@SimplerSoftware Thank you for sharing the information. Could you kindly share your `dotnet --info` output as well.

[2018-06-01 17:38] wtgodbe commented on #30043
Sure, I can take a look later on today

[2018-06-01 17:43] karelz commented on #30043
Make sure you did git clone from WSL and you do not share the one done from Windows (CRLF are different).
As a workaround you can consider using Docker image.

[2018-06-01 17:47] saluton-mundo commented on #29942
We've also encountered this issue on CentOS 7.5.1804. Our install of Apache (2.4.6) and mod_ssl created a default localhost.crt which the user we are running the site under did not have access to.

To avoid using a permissions workaround (running the site as root or giving read access to the certificate file) we simply moved the localhost.crt to a different folder and updated the Apache config.

[2018-06-01 17:51] seth-capistron commented on #29962
Yup, that did the trick - thank you! Including my working .csproj and Nuget.config files in case someone in the future finds them useful. One thing I did notice was that the runtime version I specified in the RuntimeFrameworkVersion node needed to be lower than the version of my Microsoft.Private.CoreFx.NETCoreApp. Otherwise, the restore would fetch the 'official' build version of DLLs. I'm assumi

[2018-06-01 17:51] #29962 closed

[2018-06-01 17:59] SimplerSoftware commented on #29633
@keeratsingh  - here you go:

.NET Core SDK (reflecting any global.json):
 Version:   2.1.300
 Commit:    adab45bf0c

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.300\

Host (useful for support):
  Version: 2.1.0
  Commit:  caa7b7e2ba

.NET Core SDKs installed:
  1.1.0 [C:\Program Fil

[2018-06-01 18:00] dsyme commented on #30049
My little-rant-that-Krzysztof-very-kindly-said-was-not-a-rant is [here](https://github.com/fsharp/fslang-suggestions/issues/648#issuecomment-393714831)

So TBH I don't think this is particularly an F# issue, though @terrajobst wrote it up like that.  The surprising thing here was to see what I regard as a "ultra beginner" API (in `System.IO`) using both implicit conversions and new memory primitiv

[2018-06-01 18:35] Tratcher commented on #28863
This last change is now failing in Kestrel tests and we need to make sure we have a consistent story (https://github.com/aspnet/KestrelHttpServer/issues/2637). Note these tests don't use HttpClient directly, only System.Uri and Sockets.

Do you expect the various http clients to send this scope id in the Host header? Walking the spec has an interesting history here.

https://tools.ietf.org/html/rf

[2018-06-01 18:45] davidsh commented on #28863
What does .NET Framework HttpWebRequest / HttpClient do?

[2018-06-01 18:49] ChristopherRobinSuperStar commented on #8188
@corivera Is it possible to use it with action attribute in asp net core 2.1?
Before in asp net mvc it was:
[code]

[2018-06-01 18:49] davidsh opened #30050 "GetAsyncWithBasicAuth_ReceiveSetCookie_CookieSent fails on UAP"
https://github.com/dotnet/corefx/blob/2eb5d34e6d12c4a6897776a03c115bd6183b8a57/src/System.Net.Http/tests/FunctionalTests/HttpCookieProtocolTests.cs#L534

This test is failing here on UAP.
https://github.com/dotnet/corefx/blob/2eb5d34e6d12c4a6897776a03c115bd6183b8a57/src/System.Net.Http/tests/FunctionalTests/HttpCookieProtocolTests.cs#L554

The reason is because the .NET layer doesn't see the cooki

[2018-06-01 18:50] Tratcher commented on #28863
.NET 4.6.1 HttpClient strips the scope id from the Host header.

[2018-06-01 19:00] davidsh opened #30051 "Several Http cookie tests failing on UAP"
These tests are failing on UAP.  The cookie parsing logic in the UAP HttpClientHandler is probably at fault here.

https://github.com/dotnet/corefx/blob/2eb5d34e6d12c4a6897776a03c115bd6183b8a57/src/System.Net.Http/tests/FunctionalTests/HttpCookieProtocolTests.cs#L156

https://github.com/dotnet/corefx/blob/2eb5d34e6d12c4a6897776a03c115bd6183b8a57/src/System.Net.Http/tests/FunctionalTests/HttpCookie

[2018-06-01 19:08] davidsh opened #30052 "ResponseHeadersRead_SynchronizationContextNotUsedByHandler test fails on UAP"
https://github.com/dotnet/corefx/blob/2eb5d34e6d12c4a6897776a03c115bd6183b8a57/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Asynchrony.cs#L25

[code]

[2018-06-01 19:10] davidsh commented on #30052
Getting this error:

(Exception from HRESULT: 0x80070006 (E_HANDLE))

is likely a bug in the WinRT Windows.Web.Http APIs.

[2018-06-01 19:28] davidsh opened #30054 "[UAP] RemoteInvoke throws MissingMethodException: Cannot create an abstract class"
The Http test is failing when running on UAP:

https://github.com/dotnet/corefx/blob/2eb5d34e6d12c4a6897776a03c115bd6183b8a57/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ServerCertificates.cs#L397

It seems that the RemoteInvoke can't handle having a test method in an abstract class.  Many of the Http tests are in an abstract class and then there are explicit derived classes wh

[2018-06-01 19:31] davidsh commented on #30054
cc: @safern

[2018-06-01 19:47] davidsh opened #30056 "Http tests using loopback server and TLS failing on UAP"
These tests are failing on UAP:

https://github.com/dotnet/corefx/blob/7749ab1b3dce86b5f96743737c82c3103291931f/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs#L208

https://github.com/dotnet/corefx/blob/7749ab1b3dce86b5f96743737c82c3103291931f/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs#L288

https://github.com/dotnet

[2018-06-01 20:01] davidsh opened #30057 "Http POST stream tests fail in System.IO.NetFxToWinRtStreamAdapter on UAP"
A few Http stream related tests are hanging on UAP:

https://github.com/dotnet/corefx/blob/7749ab1b3dce86b5f96743737c82c3103291931f/src/System.Net.Http/tests/FunctionalTests/PostScenarioTest.cs#L46

https://github.com/dotnet/corefx/blob/7749ab1b3dce86b5f96743737c82c3103291931f/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs#L2813

The tests take a long time to fail (300+ seconds

[2018-06-01 20:02] Tratcher commented on #28863
With this URI change getting the host without the scopeid is a bit obnoxious.
[code]

[2018-06-01 20:12] davidsh commented on #28863
I think we may need to revert #29829 in the Master branch right away and reconsider how best to solve the overall problems.

[2018-06-01 20:36] SteveL-MSFT opened #30059 "System.Text.Encoding.CodePages 4.4.0 and 4.5.0 don't have unix runtime"
v4.3.0 included unix runtime, but 4.4.0 and new 4.5.0 don't have unix runtime anymore.  This was found trying to move PSCore6.1 to include v4.5.0 of that pkg.

[2018-06-01 20:38] davidsh opened #30060 "GetAsync_ManyDifferentResponseHeaders_ParsedCorrectly test fails on UAP"
Running this test fails:
https://github.com/dotnet/corefx/blob/7749ab1b3dce86b5f96743737c82c3103291931f/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs#L1577

The Assert is coming from here in HttpHandlerToFilter (UAP version).  This Assert should be changed to some kind of ETW (EventSource) logging.

https://github.com/dotnet/corefx/blob/7749ab1b3dce86b5f96743737c82c3103291931f

[2018-06-01 20:51] keeratsingh commented on #29714
@bazzilic You are getting the extra information because you are are calling the `SqlCommand.ExecuteReader` method with `CommandBehavior.KeyInfo` argument. The same behavior can be seen with both `Primary Key` and `Unique` constraints as well.

From [CommandBehavior Documentation](https://msdn.microsoft.com/en-us/library/system.data.commandbehavior.aspx)

We see from the `GetSchemaTable` output bel

[2018-06-01 20:55] davidsh opened #30061 "PostAsync_ThrowFromContentCopy_RequestFails fails on UAP"
https://github.com/dotnet/corefx/blob/7749ab1b3dce86b5f96743737c82c3103291931f/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs#L2606

Error:

[code]

[2018-06-01 20:58] michael-hawker commented on #23262
Yeah, I think the crux of the issue is that groups will appear regardless of if they're captured (as long as they're defined in the RegEx string), so it's a bit of understanding the API.

[2018-06-01 21:14] davidsh opened #30063 "AllowAutoRedirect_True_PostToGetDoesNotSendTE fails on UAP"
https://github.com/dotnet/corefx/blob/7749ab1b3dce86b5f96743737c82c3103291931f/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs#L878

This test is failing with this error:

[code]

This is probably a bug in the .NET layer and not WinRT Windows.Web.Http but needs to be investigated.

[2018-06-01 21:19] danmosemsft commented on #30049
cc @JeremyKuhne

[2018-06-01 21:53] tarekgh commented on #29847
Should be fixed by #29925

[2018-06-01 21:53] #29847 closed

[2018-06-01 21:57] stephentoub commented on #30038
Doesn't it seem a bit odd to explicitly suppress a header the developer has asked to be sent?

Note that today WinHttpHandler, CurlHandler, and SocketsHttpHandler all fail this test, which to me seems correct (they all send the header that was requested by the dev):
[code]

[2018-06-01 21:58] karelz commented on #8188
cc @keeratsingh @David-Engel @AfsanehR

[2018-06-01 22:00] tarekgh commented on #29585
should be fixed by #29922

[2018-06-01 22:00] #29585 closed

[2018-06-01 22:01] davidsh commented on #30038
I guess it depends on what "explicitly" means.

On .NET Framework, the property defaults to TRUE.  Or they can set it to TRUE (explicitly).  Still, there is no failure.  They could also probably add the header manually on .NET Framework and I still think it is ignored if there is no content.

.NET Core defaults to FALSE.  So, perhaps the dev knows what they are doing.  Maybe we can keep the header

[2018-06-01 22:01] stephentoub commented on #30038
Oops... but in the test...

[2018-06-01 22:10] stephentoub commented on #30038
Fixed. And same outcome... all three handlers currently send Expect: 100-continue when asked to.

That sounds reasonable to me.

[2018-06-01 22:46] wfurt commented on #30003
we still have platform HTTP tests e.g. curl on Unix and WinHTTP on Windows.
We would need to disable them first before removing curl from CI machines.
Also Alpine is easy as it is only supported on 2.1.
We may reuse same images for other ,net versions with different Linux variations.

[2018-06-01 22:57] rmkerr commented on #28863
I don't know if we need to revert this immediately or not, but we should definitely discuss the approach. It seems like a case where what's best from a pure URI standpoint conflicts with what's best for the HTTP stack. I'm inclined to say that the HTTP stack takes precedence, but I'd like to hear what others think.

[2018-06-01 23:02] Tratcher commented on #28863
What's best for Uri is what's best for it's consumers. What other consumers use Host, Authority, IdnHost, and what are their requirements?

[2018-06-01 23:04] Anipik opened #30068 "Not able to re-assign an Empty Span to a ReadOnlySpan over stack space"
[code]

this piece of code is giving me an error
[code]

is it desired behavior ?

cc @danmosemsft @ahsonkhan

[2018-06-01 23:22] davidsh commented on #28863
I tend to agree with this.  I think perhaps if we really want a Uri property to return the host portion with scope-ids we might need a new property to do it. Otherwise, we risk breaking more things.

[2018-06-01 23:37] karelz commented on #23009
Not actionable. If there repro on .NET Core 2.1, please let us know.

[2018-06-01 23:37] #23009 closed

[2018-06-02 00:35] stephentoub commented on #30068
The error is valid based on the compiler's current rules. By initializing test with Empty, you're creating a span that's allowed to be returned out of this method. As path is not, assigning path to test would violate the that constraint.

If you have concerns with the behavior, you can open an issue in the Roslyn repo. I believe in this particular case, if you instead initialize temp to stackalloc

[2018-06-02 00:35] #30068 closed

[2018-06-02 01:09] alfredmyers commented on #29917
While researching on the topic, I found an issue over on the Kestrel repo.

The folks over there had an issue about it but it was closed  https://github.com/aspnet/KestrelHttpServer/issues/480

[2018-06-02 03:55] pjanotti commented on #23588
This worked for me with the steps below (some other variations should also work, e.g.: copying the IL only CoreLib directly to testhost folder, using pdb2pdb, etc)

On CoreClr repo:
[code]

The second step is important to get the IL only on the folder that is going to be used in the CoreCLROverridePath, but as mentioned can be done in other ways.

On CoreFx repo:
[code]

The instructions/wiki omit

[2018-06-02 06:02] jswolf19 commented on #21809
It looks like this API is approved, but how it'll actually manifest is still under debate. However, if putting this in'll get things moving, this is something I'd like to see.

I'm not sure where this would be added in corefx, though. There are some CompilerServices Attributes in Common\src\CoreLib\System\Runtime\CompilerServices, but these files are just for including in other projects, if I unde

[2018-06-02 06:03] leotsarev commented on #29997
Hi, I'll try to fix this.

[2018-06-02 06:37] karelz commented on #21809
@jswolf19 I didn't read the LDM discussion carefully. My naive understanding was that it is ready to be added into CoreFX.
CoreLib is shared with CoreCLR and CoreRT repos. There are members of the namespace which are in various ref assemblies (see [search](https://github.com/dotnet/corefx/search?p=1&q=%22namespace+System.Runtime.CompilerServices%22&unscoped_q=%22namespace+System.Runtime.CompilerSe

[2018-06-02 06:37] laurentkempe commented on #19624
Hi, I'll try to fix this!

[2018-06-02 06:41] karelz commented on #19624
@laurentkempe great! Collaboration invite sent - see https://github.com/dotnet/corefx/wiki/Hackathon#how-can-i-grab-an-issue for details.

[2018-06-02 06:45] laurentkempe commented on #19624
@karelz ok I accepted the invitation

[2018-06-02 06:53] jswolf19 commented on #21809
@karelz
I got the impression from the discussion at [csharplang issue 287](https://github.com/dotnet/csharplang/issues/287) that the general consensus is to apply this to a `string` argument and supply a parameter name, but there was some discussion of dealing with multiple arguments, using expressions over strings, or some other method which might affect the makeup of this class.

So, if I add to

[2018-06-02 07:01] karelz commented on #21809
I admit I don't know which way the mirror goes :( ... either check history of such additions (I suspect CoreCLR is the primary source), or wait for someone knowledgeable to chime in ...

[2018-06-02 07:06] jswolf19 commented on #21809
The LDM linked is newer than much of the discussion at the issue, so it would seem that this API is what has gotten consensus. I'll see what I can find as far as addition history.