[2017-03-29 17:42] safern commented on #15131
@danmosemsft with the Desktop runs in Jenkins and Helix we will be able to identify this differences in behavior while opening test failures issues.

[2017-03-29 17:43] daflame76 commented on #17396
Do you want me to submit pull requests?

[2017-03-29 17:43] ajcvickers commented on #11044
@tuespetre Oops. Looks like we broke stuff with the PR for this. There are two issues:
* Some MVC tests were relying on the old behavior. This is strange, but indicates how hard it is to make any kind of functional change without breaking somebody.
* Both properties can be set explicitly. Setting DisplayName first and then setting MemberName will make DisplayName null.

I have asked @lajones to re

[2017-03-29 17:44] VSadov commented on #16767
@vancem  - if I have to pick one out of two proposed APIs, my choice would definitely be `GetCurrentProcessorNumber()`.

I can implement `CurrentExecutionId` on top of that. Possibly better than the current implementation, because I have extra data relevant to my code. - My number of stripes is not always == `ProcessCount`, since it scales in response to contentions - I would have to mask ThreadID

[2017-03-29 17:51] jkotas commented on #16767
@VSadov If you need to implement your own custom scheduling, you can PInvoke the underlying OS API yourself to get exactly what you need.

I agree with @vancem that exposing GetCurrentProcessorNumber has questionable value.

[2017-03-29 17:53] VSadov commented on #16767
Unfortunately `GetCurrentProcessorNumber()` seems to be exactly what I need.

[2017-03-29 17:55] StanislavUshakov commented on #16829
@krwq @bartonjs Hi, I'm working on tests for EncrypteXml, found like there's a small issue in RoundtripSample1 [EncryptedXmlTest.cs](https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Xml/tests/EncryptedXmlTest.cs)
[code]
Looks like the KeInfo ibject is being overwritten by the empty one.
I can fix it alongside with my added tests.

[2017-03-29 17:58] willdean commented on #17396
@daflame76 It won't be me that approves PRs them, because that gets done by MS insiders, but if you want to put in a PR for the `fAbortOnError` thing against this issue, then we should be able to get it merged -  reviewers are going to ask about test coverage, which is a bit difficult unless we can come up with a way of forcing it on before opening it.  I think we can argue persuasively that it's

[2017-03-29 18:08] ianhays opened #17659 "Fix System.IO tests for netfx"
On my local run I get 106 test failures when running on NetFX. We need to audit the tests to make sure all of the platform differences are purposeful and add         `[SkipOnTargetFramework(TargetFrameworkMonikers.NetFramework, "")]` where necessary.

[2017-03-29 18:11] joperezr commented on #15968
Hey @JeremyKuhne I believe this is done right?

[2017-03-29 18:16] joperezr opened #17660 "Decide if we want System.*.AccessControl libraries to be available for UAP"
cc: @weshaggard

Today, some of the AccessControl libraries are part of the closure for UAP which is why some of them are includded in the meta-package's runtime assets. This issue is a good place to track the discussion of whether or not to include them for UAP, and if the decision is to remove them, then break all of the dependencies. I did to an initial try of removing them, and it is not trivi

[2017-03-29 18:20] daflame76 commented on #17396
Actually I just tested the `fAbortOnError` flag now.  I turn it on and closed the port using P/Invoke.
Then I checked the state, it was still on.
Opened the `SerialPort` and closed it.
Checked again, it was still on.
Closed the application and restarted without setting it this time, and it was still on.

I am using Window 7, so it may be platform specific, UAC is off on my system and I have admin

[2017-03-29 18:21] willdean commented on #17396
@daflame76 I'll put up the code I tried with and you can test it on your machine

I'm also about to open an issue for the background thread exception problem, so don't worry about doing that yourself

[2017-03-29 18:22] KrzysztofCwalina commented on #17414
All the APIs in the proposal except AsSpan are solid (good to go). As for AsSpan, we should get to the bottom of the performance difference. The assembly @jkotas provided look suspicious to me. It does look like it's doing any slicing. The new assembly @ahsonkhan provided shows differences, but I wonder if these matter.

[2017-03-29 18:25] VSadov commented on #16767
I am often against redundant APIs, but `GetCurrentProcessorNumber` would simply expose something that every major OS provides.

The point is that `CurrentExecutionId` can be implemented on top of `GetCurrentProcessorNumber` and possibly better than the default implementation since user can use extra data from his app.  The other way does not work, because `CurrentExecutionId` is a lossy API. And t

[2017-03-29 18:26] daflame76 commented on #17396
I did one more test.  Removing the USB port physically and reinserting and this seems to toggle the `fAbortOnError` flag back to off.

[2017-03-29 18:26] davidsh commented on #14897
And the reason for a complete repro is that I tried your sample code above and was unable to put together a complete solution that would launch `WebListener`.  Latest version of ASP.NET Core uses a different API for the Startup.Configure:

[code]

[2017-03-29 18:26] safern commented on #17275
@karelz do you think this is going to make it into 2.0.0 or should we probably move it to 2.1.0/future?

[2017-03-29 18:27] daflame76 commented on #17396
I was expecting that though.  Since it is creating a new port instance.

[2017-03-29 18:28] karelz commented on #17275
@safern moving it doesn't make sense. Either we do it, or we close it.
I was not marked as api-ready-for-review (and we didn't have time anyway yesterday). Pushing to next week.

[2017-03-29 18:28] willdean opened #17661 "SerialPort: Background thread can have unhandled exceptions causing process termination"
`SerialStream` creates a background thread (entry method is `_eventRunner.WaitForCommEvent`) which has no protection against unhandled exceptions.

In some messy tear-down situations (e.g. unexpected USB device removal) `ObjectDisposed` exceptions can be unhandled on this thread - this causes process termination which is clearly highly undesirable.

A complete rework of the event handling is proba

[2017-03-29 18:28] ahsonkhan commented on #17414
@KrzysztofCwalina, I talked with @russellhadley, and the assembly/performance difference I reported above is due to a JIT issue caused by register spilling. The JIT team will work on fixing this.

[2017-03-29 18:30] jkotas commented on #17414
It does all the bounds checks required by slicing. The test is not accessing the sliced data so you do not see the pointer to the data getting materialized. The JIT figured out correctly that it is useless to materialize it. In both cases.

They show different register allocation. Minor deficiency in the JIT optimizations. Not something to optimize the API design around.

[2017-03-29 18:31] joperezr commented on #17660
Today, our uap layout for runtime is only pulling `System.Security.AccessControl` into the closure because `Microsoft.Win32.Registry` needs it, which is used by `System.Diagnostics.Process`. We potentially won't want Registry to be in UAP either, so perhaps this will be fixed by fixing #15966

[2017-03-29 18:32] safern commented on #17275
I was not marked as api-ready-for-review (and we didn't have time anyway yesterday). Pushing to next week.

So with the list that @ianhays provided is it ready to be marked as api-ready-for-review so that it can be reviewed next week?

[2017-03-29 18:33] #13746 closed

[2017-03-29 18:35] #11584 closed

[2017-03-29 18:39] richardhallett commented on #15709
Unless I'm misunderstanding, I think the actual problem here is the example code just doesn't ever quit the process you start.
In Program B, your while loop is just going to get the input for "qqq", finish the loop and never send that to Program A, so the Program A process will continue running.

The logic could be fixed in various ways, but if you just make sure you send a `input.WriteLine("qqq")

[2017-03-29 18:40] davidsh commented on #9296
This issue was supposed to be about a particular test failing
"WebSockets.Client.Tests.ClientWebSocketTest.SendReceive_PartialMessage_Success"

Yet, the latest "Failed again here" updates to this issue are about a different test with different failures.

[2017-03-29 18:40] willdean commented on #17396
In prepping-up my test code to post here, I realise that it had a bug in it, so I'm going to have another go at it now - if it works properly then we can add it as a failing test and then put in a PR to fix it

[2017-03-29 18:40] danmosemsft commented on #17659
Presumably @safern these are among the failures you are already tracking.

BTW please let's always have something in those quotes so we don't guess about why we have the attribute later!

[2017-03-29 18:42] ahsonkhan commented on #14376
That would be awesome.

[2017-03-29 18:43] weshaggard commented on #17660
Move this to 2.0 because we need to decide whether or not to ship a netstandard version of this library or not before we ship .NET Core 2.0 set of packages.

[2017-03-29 18:43] karelz commented on #17275
Yes it is. I just did it (got distracted from doing that after my previous reply, sorry)

[2017-03-29 18:47] safern commented on #17275
No problem. Just wanted to make sure that it was good to go so that it is reviewed next Tuesday. Thanks!

[2017-03-29 18:48] karelz commented on #17414
@terrajobst are you ok to fast-track the API approval? Given that is has been discussed in yesterday's meeting and both @jkotas and @KrzysztofCwalina agree with the original proposal ...

[2017-03-29 18:48] willdean commented on #17396
OK, I've got a repro, in the style of a CoreFx test - I'm going to put in a PR shortly which you can review...

[2017-03-29 18:49] karelz commented on #17275
Yep, thanks for chasing it down, appreciate it!

[2017-03-29 18:49] danmosemsft commented on #17187
@Priya91 you're right, I misread `>= 0` as `> 0`.

So what I described is not the cause here --  OSX is returning -1 and we need to find out why (or accommodate that?)

What I describe still sounds like it might be something we might want to improve some day.

[2017-03-29 18:50] #16753 closed

[2017-03-29 18:50] safern commented on #17659
Yes this should be in the failures that I'm already tracking. Please open the corresponding issues if it is a bug/compat issue and add it to the attribute. If it doesn't fall on either of those let's just explain why we are disabling it.

FYI: this 106 failures doesn't necessarily mean there is 106 tests failing. It could be a few tests failing with multiple input cases failing.

[2017-03-29 18:51] JeremyKuhne commented on #15968
@joperezr Yeah, you did it by creating a UAP build and conditioning out the library, which wasn't actually used for UAP.

[2017-03-29 18:52] ahsonkhan commented on #17414
From @terrajobst, "I’d be much in favor of keeping the original API shape i.e. AsSpan().Slice(). It keeps the semantics we want, which is that different primitive types (might) define slicing differently without having to qualify the slicing method."

So, he has approved.

[2017-03-29 18:52] danmosemsft commented on #15131
@sepidehMS OK
@safern if I understand right you aren't checking that desktop specific tests have a good reason for existing, only that they pass. Ie., you won't audit `SkipOnTargetFramework.*TargetFrameworkMonikers.Netcoreapp`. Which is fine (wasn't expecting you to) but seems we could leave this open.

[2017-03-29 18:52] safern commented on #17659
Thanks @ianhays for following this and opening this issue.

[2017-03-29 18:54] safern commented on #15131
Yes that is correct. Yes it sound reasonable to leave this open to audit those cases.

[2017-03-29 18:56] karelz commented on #17414
Thanks for pointing it out, I missed that as it was over email and not here :( ... tracking multiple sources :(

[2017-03-29 18:56] karelz commented on #17414
Approved as originally proposed.

[2017-03-29 18:59] CIPop commented on #17390
Not fixed. It's actually happening now in all of my environments.

[code]

[2017-03-29 18:59] ianhays commented on #17659
@safern when you say you're tracking the failures, does that mean you're currently working on making the tests pass? Or something else?

That should be the case for most of these failures since the FileSystem tests make use of some  **heavy** inheritance.

Of course :)

[2017-03-29 19:00] vancem commented on #16767
As I mentioned, I am not against GetCurrentProcessorNumber() if will have real users.   It sounds like you might be one already.   If you

1. Need this in code you are making that we will ship
2. The straightforward solution using CurrentExecutionId leads to either notably poorer scalability.

Then we are done, we should add the GetCurrentProcessorNumber() API.    Are we there?    If not, I am STI

[2017-03-29 19:01] daflame76 commented on #17396
It looks good to me.  Just wondering if they will accept reflection invoke calls to internals in a test case, but I don't see many other ways to test it currently.

[2017-03-29 19:03] safern commented on #17659
I'm currently just tracking how many failures we currently have in desktop tests to try to get it to zero, but there is like 40-50 projects with failures so I'm going to start opening issues and help on some of those failures as I being doing. But in this particular case I'm not working on this tests so help would be appreciated :)

Thanks!!

[2017-03-29 19:09] tarekgh commented on #17660
Marking as infra-structure as this is packaging decision.

[2017-03-29 19:10] ianhays commented on #17659
Gotcha, thanks for the clarification. I'll go ahead and work on this then :)

[2017-03-29 19:12] ianhays commented on #17659
Ouch, hopefully we can get that number down before 2.0.0. In my experience desktop test failures have a high tendency to hide breaking changes that were made at a time when netcore didn't care as much about desktop compat as we do now. Let me know if there's anything I can do to help the effort :)

[2017-03-29 19:14] willdean commented on #17396
@daflame76 Yes, we'll see, I am braced for the adverse review :-)    The alternative I could think of is to p/invoke the whole thing (CreateFile, SetCommState, etc, ) - either way it's all entirely Windows- and implementation- specific anyway.

[2017-03-29 19:15] danmosemsft commented on #17659
@ianhays I'm definitely expecting this to be parallelized, @safern is just driving the effort so he'll be sending out issues and nagging.

[2017-03-29 19:18] safern commented on #17659
Yes I just wanted to have a clean run but I should start opening issues like this one today or tomorrow. Thanks for the help @ianhays

Btw in the cases where there is one test failing multiple times to read the xunit output is a little bit difficult as it prints out all the cases that test failed. I wrote a small program that actually filters you out that list telling you the real number of test f

[2017-03-29 19:47] danmosemsft commented on #17390
@CIPop I assume this is in your GAC `System.Configuration, Version=4.0.0.0` although @weshaggard where do we find these things from..

[2017-03-29 19:54] weshaggard commented on #17660
@karelz should we add an area-packaging?

[2017-03-29 19:54] krwq commented on #16829
@StanislavUshakov thank you for spotting this! If that is a simple fix then you may fix it either together or separately. If it will resurface some bug in the product please do it separately.

[2017-03-29 19:57] danmosemsft commented on #17356
@weshaggard @terrajobst since this came up today can you confirm that we're okay with this behavioral breaking change? We are relying on some kind of readme for converters, I guess?

This is one of only 2 breaking changes we found so far in our conversion effort of 30 top nuget packages.

@karelz @sepidehMS

[2017-03-29 20:01] tarekgh commented on #17356
What exactly the breaking change we are talking about here? if you are talking about the encoding, this is the design for net core since day 1. yes it is different than the desktop behavior but we already documented this awhile ago with the workaround.

[2017-03-29 20:03] tarekgh commented on #17660
and area-Documentation too :-)

[2017-03-29 20:10] #16419 closed

[2017-03-29 20:22] davidsh commented on #13281
I am closing this issue because we don't have a repro and there is no actionable information to diagnose.

[2017-03-29 20:29] alexperovich commented on #12858
@gkhanna79 is there anything to do here then? It looks like we already dynamic link to uCRT.

[2017-03-29 20:35] davidsh commented on #17591
Any unit test we have that relies on "timing" things like cancellation, etc. should run isolated (i.e. serialize test fixture).

[2017-03-29 20:38] gkhanna79 commented on #12858
@ianhays should comment if he did any work for this?

[2017-03-29 20:44] davidsh commented on #13169
@Clockwork-Muse Can you please summarize the bug here?  I read the issue here but I don't understand what behavior you expect vs. what you observe?

[2017-03-29 20:44] karelz commented on #13746
👍

[2017-03-29 20:48] weshaggard commented on #17356
Correct this was an intentional design change that so far we haven't found any strong reason to reverse. The exception message already points folks to a doc they can read to figure out how to proceed. This is actually one of the nicest designs when it comes to directing folks what they might need to do.

[2017-03-29 20:52] davidsh commented on #9184
I added a new test for validating serialization roundtrip for CookieContainer (a very simple test):

And it failed.

  4096, PerDomainCapacity = 20 }) [FAIL]
        Assert.Equal() Failure
        Expected: CookieContainer { Capacity = 300, Count = 0, MaxCookieSize = 4096, PerDomainCapacity = 20 }
        Actual:   CookieContainer { Capacity = 300, Count = 0, MaxCookieSize = 4096, PerDomainCapacit

[2017-03-29 20:55] karelz commented on #9184
Flipping to 'bug' in that case ...

[2017-03-29 20:55] joperezr commented on #15968
I see, closing this then.

[2017-03-29 20:55] #15968 closed

[2017-03-29 20:57] davidsh commented on #9184
More interesting...running this new test against NETFX (Desktop) fails also:

[2017-03-29 20:58] bartonjs opened #17667 "Ensure S.S.Crypto.Cng package is getting created for 2.0"
Cng has been removed from netstandard2.0, so the package version of it needs to exist again.

https://github.com/dotnet/standard/pull/272

[2017-03-29 21:04] #10895 closed

[2017-03-29 21:09] weshaggard commented on #17390
System.Configuration isn't the issue from the diff he passted it looks like it is the the System.Private.CoreLib line. Which was updated yesterday by you @danmosemsft with commit https://github.com/dotnet/corefx/commit/e5cba5572d5b3634e768e3df3ddb5399fcf969b1#diff-0afd177579d72732bf2609e0429b80fb.

[2017-03-29 21:09] plnelson commented on #14376
I don't know off the top of my head.  I would suggesting testing it by evaluating a Span value from the Watch window using the `,emulator` format specificer.  For example - `mySpanValue,emulator`.  If you run into problems, I can help investigate what VIL doesn't like about it.

[2017-03-29 21:09] tuespetre commented on #11044
@ajcvickers cool, thanks for the update and sorry for the bump in the road :bow:

[2017-03-29 21:13] danmosemsft commented on #17390
Any idea why it might not find S.P.Corelib when I run it? I think Viktor had the same issue. I tried init-tools.

[2017-03-29 21:15] danmosemsft opened #17668 "CertificateValidationRemoteServer_EndToEnd_OK failed on OSX"
https://github.com/dotnet/corefx/pull/17664
[code]

[2017-03-29 21:16] stephentoub commented on #9184
Does CookieContainer override Equals or implement IEquatable?  Assuming not, Assert.Equal will fail as it's comparing two distinct references.

[2017-03-29 21:17] fujiy commented on #14376
@plnelson, the whole workaround is because ToArray() does not work:

    mySpanValue.ToArray(),emulator
    The debugger is unable to evaluate this expression

The same happens to mySpanValue.DangerousGetPinnableReference(),emulator, or any other method, even the Clear method.

[2017-03-29 21:21] davidsh commented on #9184
`CookieContainer` does NOT implement `Equals` nor `IEquatable`.  In addition, it doesn't implement those things on .NET Framework either.

And yet, it is marked as `[Serializable]`.

So, what does it mean to mark it that way but not provide the proper equality overrides?

[2017-03-29 21:23] davidsh commented on #9184
The same can be said for `CookieCollection`.  And yet, it seems to pass some of these tests on .NET Core.  Yet, writing the same "test" on .NET Framework fails the equality test.

[2017-03-29 21:23] karelz commented on #13281
We have record of 3 occurrences (~1 per month), I would really like to see us to do something about the test -- e.g. add logging.
It seems to be something test specific given that this is unique failure for this test.

I am fine pushing it to Future based on the cadence, but IMO we should not close it yet. Let's discuss it tomorrow in Networking sync up ...

[2017-03-29 21:25] ChadNedzlek opened #17670 "Add CancellationToken to StreamReader.Read* methods"
Today we have the following methods on StreamReader:
[code]

None of these support cancellation via CancellationTokens, even though the underlying Stream ReadAsync API's do

## Proposed API
Add the following methods

[code]

## Motivation
Since these methods read from an underlying stream that may have long delays before data is available, they can block for long periods of time.  Especially if th

[2017-03-29 21:25] karelz commented on #13281
Also I would like to understand how much we tried to repro.

For example, I would love to see one CI machine (same config) to be hammer with just networking tests running in a loop for a week. @steveharter is it something you considered?

[2017-03-29 21:28] weshaggard commented on #17390
From your PR https://github.com/dotnet/corefx/pull/17588#discussion_r108474270.
System.Private.CoreLib isn't in the closure so it cannot be resolved and the fact that it is even trying to resolve is honestly a bug in CCI where it couldn't identity the core assembly. It is pretty harmless though and can be ignored.

[2017-03-29 21:31] karelz commented on #17660
In general: Area labels make sense if there is 10+ issues. It is definitely reasonable to split larger areas (100+) into smaller that way.

I don't like area-Documentation. Having Documentation issue type makes area owners aware what is happening in the area and where we lack docs. Documentation is part of the end-to-end product and we will have to help with it. The good news is that actionable ed

[2017-03-29 21:32] stephentoub commented on #9184
I don't understand. Serialization and equality are two completely different things. The type is serializable, but you obviously get back different instances. Whether the type then implements equality checks to show you to compare two instances is unrelated. This is at the very least a test bug: if you want to compare the instances, you'll need to write your own equality check for whatever you defi

[2017-03-29 21:33] stephentoub commented on #9184
Assert.Equal special-cases enumerables.

[2017-03-29 21:35] davidsh commented on #9184
Good point.

It means that the current `SerializationTest` we have:

[code]

is bad.  It is not testing serialization.  But really round-trip equality.  For which the types are set up for that.  So, this test needs to be re-written.

[2017-03-29 21:37] stephentoub commented on #9184
How is it bad? Yes, it only works for types that supply their own definition of equality. A separate test is needed for other types that don't.

[2017-03-29 21:38] davidsh commented on #9184
At the very least, the current test is confusing and not well documented as to the real purpose (I was confused). :)

[2017-03-29 21:39] jkotas commented on #14376
We will need to work with VS debugger team to make this work. I have said above: I doubt that you will be able to make this work by just writing a debugger display proxy. I expect that the VS debugger expression eval part will need some fixes to make this work.

[2017-03-29 21:41] tarekgh commented on #17660
Does the documentation issues under area-Meta qualify for moving to the doc repo? if not then having area-documentation would make sense at that time.

[2017-03-29 21:52] karelz commented on #17660
@tarekgh what kind of docs are those? API docs? Repo docs? How may are there?

[2017-03-29 21:53] karelz commented on #17660
... and we should probably take it offline (either on area-Meta issue or into email)

[2017-03-29 21:53] CIPop commented on #13281
I don't agree: if we don't have a repro and no actionable information it only means __we need__ to get a repro and get actionable information, not that we can push this under the rug and disable the test.

The reason we don't have actionable information is still having zero logs from CI: https://github.com/dotnet/corefx/issues/4152 .
I will take this offline with @karelz and @steveharter to figure

[2017-03-29 21:55] krwq commented on #16825
@ericstj try https://jsfiddle.net/

[2017-03-29 21:58] karelz commented on #13281
BTW: crash dumps are collected in CI as of recently. ETW traces will be next - I expect that issues like these and our attempts to make them actionable will drive that effort.

[2017-03-29 22:01] CIPop commented on #13281
Just saw this: it is really great!
We now need to change the code to force a crash when this happens, enable the test (if not done already) and look at the captured state.

[2017-03-29 22:14] davidsh commented on #13281
Is this documented somewhere, especially where we can find the dumps?

[2017-03-29 22:36] karelz commented on #13281
@mellinoe @sepidehMS @danmosemsft can you please point us to crash dump collection docs?

[2017-03-29 22:39] karelz commented on #13281
@CIPop or instead of waiting for next CI failure, we can leverage @steveharter's networking-test-suite-running-in-a-loop effort and hopefully get the actionable data in days.
I hope that early next week we will know which of the failures we are able to hit in such a system and they become suddenly actionable :) ... we still might want to push them out into Future based on CI impact (assuming we su

[2017-03-29 22:48] steveharter commented on #13281
Yes I took a couple CI machines offline and will test some of the networking test assemblies repeatedly over a few days and see what that produces; capturing output for the failures. This will at least help determine the failure frequency for now. I've already been doing this for specific failures\issues, but now running it against all tests.

Once that is starts producing output, I can expand it

[2017-03-29 22:54] plnelson commented on #14376
The debugger work is tracked by internal bug 286592

[2017-03-29 23:04] vancem commented on #17492
#17502 was merged.   Reopen if the problem continues

[2017-03-29 23:04] #17492 closed

[2017-03-29 23:04] #17379 closed

[2017-03-29 23:10] #9184 closed

[2017-03-29 23:27] MattGal opened #17675 "Need to bring back automated publishing of Microsoft.Private.PackageBaseline"
With the merging of the dev/eng branch to master (1/13/2017), we stopped getting updated versions of  Microsoft.Private.PackageBaseline on the myget feed.  @ericstj very helpfully provided a workaround for the time being, but for repos like WCF it would be very helpful to get this package back.

[2017-03-29 23:47] danmosemsft commented on #16688
HandleCountChanges failed again. @ianhays what do you recommend as the next step?

[2017-03-29 23:58] divega commented on #14760
@saurabh500 from our discussion yesterday, I believe the behavior is correct and this can closed.

[2017-03-30 00:10] fujiy commented on #14376
Do you believe it will be fixed in the next days?

[2017-03-30 00:22] fujiy commented on #14376
We will change it before sending the PR (if we agree to go ahead with the workaround approach)

[2017-03-30 01:06] CIPop commented on #17390
This is kind of annoying:

[code]

Would it be ok to merge it?

[2017-03-30 01:07] mellinoe commented on #17390
This happens on my enlistment, too (same file, at least; didn't check diff).

[2017-03-30 01:13] karelz commented on #13281
Cool, thanks a lot @steveharter!

[2017-03-30 01:19] karelz commented on #230
@mairaw we just had the same question in a dupe https://github.com/dotnet/coreclr/issues/10570 ... just curious if you are tracking the work somewhere in docs repo and what is the latest plan (or whom we should bug) ;-)
Thanks!

[2017-03-30 01:21] danmosemsft commented on #17390
I'm confused, I added that line. Yet yo'ure seeing it as an add after building?

I don't think we care whether we have the line so long as it's stable for everyone. Or we can tweak apicompat.proj to snip it out.

[2017-03-30 01:45] mairaw commented on #230
The issues are related but not quite the same IMO. There are a few efforts going on related to documentation.

For https://github.com/dotnet/coreclr/issues/10570: the community will able to contribute to the API reference docs soon which is what we use to generate the IntelliSense files. IntelliSense for the .NET Framework is not generated from source as a lot of people imagine.

For generating In

[2017-03-30 01:54] karelz commented on #230
Thanks for update.

Unless we can keep both way mirror between docs repo and CoreFX/CoreCLR, we should keep docs repo as the primary source of documentation and we should IMO not push the content into /// comments in CoreFX. I am not aware of any advantage of having such /// comments in source code (i.e. no value), especially if we don't take contributions to them, or worse when contributions to /

[2017-03-30 02:18] Jiayili1 commented on #17643
Failed on InnerLoop_Fedora24_debug, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora24_debug/1628/consoleText

Since it is closed today, will check this issue on next build.

[2017-03-30 02:28] Jiayili1 commented on #16688
Another case here: #17180

Failed test: System.Diagnostics.Tests.ProcessTests.HandleCountChanges

[code]

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora24_release/132/testReport/System.Diagnostics.Tests/ProcessTests/HandleCountChanges/

[2017-03-30 02:37] Jiayili1 commented on #17643
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu16.04_debug/1673/consoleText

[2017-03-30 02:39] kouvel commented on #4998
Not currently, removed my assignment

[2017-03-30 03:06] Jiayili1 commented on #17037
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_release/141/testReport/System.Tests/GetEnvironmentVariable/EnumerateEnvironmentVariables_target__Machine_/

[2017-03-30 03:35] NicolasDorier commented on #17010
@Priya91 My apologies, the VM id is `af1675435d14`.
The first exception is normal, then it should keep printing "hey".
Then the error should come up, in around 1min. I tried  with `af1675435d14`.

[code]

Output:

[code]

I tried on image `0abf88e1ef29` as well. (1.0.0-preview2-003131)
**1.0.0-preview2-003131 of image `0abf88e1ef29` does not seems to exhibit this bug, I let it run for 1 minute wit

[2017-03-30 04:24] #13922 closed

[2017-03-30 05:25] Jiayili1 commented on #17643
Failed again on build [20170330.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170330.01/workItem/System.Globalization.Tests/analysis/xunit/System.Globalization.Tests.NumberFormatInfoNumberGroupSizes~2FNumberGroupSizes_Get(format:%20NumberFormatInfo%20%7B%20CurrencyDecimalDigits%20=%202,%20CurrencyDecimalSeparator%20=%20

[2017-03-30 05:27] dhoehna commented on #15554
Hi @danmosemsft.  Thank you, that tip helped.  I don't know why I didn't see that.

Two questions
  1.  Do you want me to include functional testing (Making a TimeSpan with the TimeSpanValidatorAttribute) and test the property?
  2. If you want me to, what is the use for it and how do I use it? (MSDN only shows how to decorate a TimeSpan with this attribute,. now how to use it)

[2017-03-30 05:31] dotnet-mc-bot opened #17681 "Test failure: System.Net.Sockets.Tests.DualModeConnectionlessReceiveFrom/ReceiveFromV6BoundToAnyV6_Success"
Opened on behalf of @Jiayili1

The test `System.Net.Sockets.Tests.DualModeConnectionlessReceiveFrom/ReceiveFromV6BoundToAnyV6_Success` has failed.

System.Net.Sockets.SocketException : Connection timed out

        Stack Trace:

           at System.Net.Sockets.Socket.ReceiveFrom(Byte[] buffer, Int32 offset, Int32 size, SocketFlags socketFlags, EndPoint& remoteEP) in /root/corefx/src/System.Net.So

[2017-03-30 06:03] #15101 closed

[2017-03-30 07:57] JosVerburg commented on #14897
@davidsh I've setup a repo with the solution at [https://github.com/JosVerburg/ReproduceUnrecognizedResponse](https://github.com/JosVerburg/ReproduceUnrecognizedResponse).

@karelz To me it seems like the same issue, if you still can't reproduce it with the example to confirm I'll make a separate issue.

Additional information:
We've also inspected the response and request using fiddler
Request:
[

[2017-03-30 08:00] weltkante commented on #4100
Oh, ok, I initially submitted this as a bug, but if its not clear how to add the missing API I'll look into making a proposal and maybe even submit a possible implementation, didn't look that hard back when I noticed the bug.

[2017-03-30 10:20] #13345 closed

[2017-03-30 12:07] paalmoest commented on #17039
@saurabh500 Bump :)

[2017-03-30 12:29] hikalkan commented on #8681
I have a similar problem. When I switch to ThreadLocal it works, but AsyncLocal does not.

[2017-03-30 12:33] hikalkan commented on #8681
A very simple code to re-generate it:

[code]

[2017-03-30 13:36] StanislavUshakov commented on #16829
5th point is done in [PR 17684](https://github.com/dotnet/corefx/pull/17684)
Overall coverage is 68.2% for System.Security.Cryptography.Xml
Also I've removed
[code]
from RoundtripSample1

[2017-03-30 14:01] stephentoub commented on #8681
This is the expected behavior.  Any changes made to _asyncLocal.Value inside of an `async` method do not propagate back out to the synchronous caller of the method.  There is explicit code in the infrastructure for `async` methods to prevent that from happening.

[2017-03-30 14:16] hikalkan commented on #8681
Thanks @stephentoub for the explanation.
But then how I can achive the scenario above? I was using ``CallContext.LogicalSetData`` before, but it's not available in .netcore/.netstandard.

[2017-03-30 14:53] karelz commented on #14897
@JosVerburg why do you think it is the same issue? What is similar? (the callstack looks different to me)

[2017-03-30 14:54] karelz commented on #14897
OK, I updated the callstack in top post and now I see the similarities. he inner exception in interesting in your case. Sorry for the confusion ...

[2017-03-30 14:58] karelz commented on #4100
FYI: Here's [process for new APIs](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md), incl. preferred format for proposals. Add it to this issue if/when you have it.

[2017-03-30 14:59] karelz commented on #4100
If you want to contribute to CoreFX, please check #17619 for guidance what to focus on. Thanks!

[2017-03-30 15:02] karelz commented on #8681
Did you consider simply returning value from the async method? (or use out/ref parameters if you have more values)

[2017-03-30 15:05] plnelson commented on #14376
This isn't the kind of thing we can fix in a few days.  @caslan may know when this work can be scheduled.

[2017-03-30 15:05] scott225 commented on #2394
I'm extremely interested in this conversation.  My team has been dealing with the frustration of XAML as well.  Our dilemma is that we are creating our own UI designer to allow our customers to create their own workflows without needing Visual Studio or the rehosted designer.  We need the ability to save chunks of XAML into reusable bits so that the customer doesn't always need to rewrite those bi

[2017-03-30 15:44] ViktorHofer commented on #17639
I looked at those lower priority stubs. The first one 'DBDataPermission' brings a lot of other types like "CodeAccessPermission", "IUnrestrictedPermission" or "NameValuePermission" with it. So I guess it would take some time to stub them. Let's track those in a separate issue and maybe label them "up-for-grabs"?

[2017-03-30 15:53] ianhays commented on #12858
@gkhanna79 We were already dynamically linking to the ucrt and statically linking to the startup code. Is there anything else missing?

[2017-03-30 16:14] tarekgh commented on #17643
@Jiayili1 do we have a way to know if the fix is in the failed build or not? if you can get me the test binary I can check that.

[2017-03-30 16:24] TheSoftwareArchitect opened #17688 "Porting to .Net Core Technical Question"
I was walking through your "Porting to .Net Core" document here:
https://github.com/dotnet/corefx/blob/2b15de70c1cf9f585c4878a722de4dbe42b4940b/Documentation/project-docs/porting.md#binary-serialization
and came across this slightly edited (for brevity) content:

"Remoting
Justification. The idea of .NET remoting -- which is transparent remote procedure calls -- has been identified as a problemati

[2017-03-30 16:35] karelz commented on #17688
@janvorli @jkotas do we have some concrete advice for Remoting replacement?
Are memory mapped files the best approach?

@TheSoftwareArchitect BTW: regarding the justification -- I have seen the code, believe me, it is super-complicated and super-fragile. The architecture is truly problematic, take our words for it.
It doesn't necessarily mean that the idea of Remoting is entirely bad, but the way

[2017-03-30 16:45] safern opened #17690 "Missing SocketTaskExtensions from System.Net.Sockets on Desktop"
This is breaking developers and tests.

We should consider fixing the tests in the short-term.

Should we fix this to bring this type back to desktop?

cc: @davidsh

[2017-03-30 16:47] davidsh commented on #17690
cc: @weshaggard @karelz @stephentoub @CIPop

[2017-03-30 16:48] davidsh commented on #17690
This is due to the change in packaging where we no longer build a separate System.Net.Sockets NuGet package.  Thus, we no longer bundle the partial facade for System.Net.Sockets.  That partial facade has the SocketTaskExtensions class defined.

[2017-03-30 16:48] safern opened #17691 "Desktop and Core behavior differences in System.Net.Http"
There are some differences in behavior between Desktop and core which are causing tests like this one fail on Desktop:

https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs#L281

cc: @davidsh

[2017-03-30 16:54] danmosemsft commented on #17691
@safern you can use the test-run-desktop label

[2017-03-30 16:55] jkotas commented on #17688
Yes. https://github.com/dotnet/corefx/tree/master/src/System.IO.MemoryMappedFiles package is supported on all .NET Core platforms. Some Windows-specific features of memory mapped files do not work on Unix.

I would not say that memory mapped files are replacement for remoting. Remoting serializes a method call on one end and deserializes it on the other end. Memory mapped files do not really help

[2017-03-30 16:55] safern commented on #17691
Sure. Will do so on next issues.

[2017-03-30 16:59] weshaggard commented on #17690
We are still having a conversation about exactly how we want to handle these. At this point we are leaning towards shipping a .NET Framework Support package which contains these types of libraries but we don't have full buy-off yet. For now we should temporarily disable the tests or enable the build of this library for netfx that can enable the tests.

[2017-03-30 16:59] gkhanna79 commented on #12858
Not that I am aware of. If everything is in place, please feel free to close the issue.

Thanks,
Gaurav

-------- Original message --------
From: Ian Hays <notifications@github.com>
Date: 3/30/17 8:54 AM (GMT-08:00)
To: dotnet/corefx <corefx@noreply.github.com>
Cc: "Gaurav Khanna (CLR)" <Gaurav.Khanna@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [dotnet/corefx] We should dynam

[2017-03-30 17:02] davidsh commented on #17690
We can't disable the tests because this extension class is used as part of implementing the loopback test server.  So, it impacts a ton of tests running on Desktop for Sockets, Security, Http, etc.

My plan was to just copy the code and/or create a common file for the `SocketTaskExtensions` class.  Then include the file in the built of the tests to unblock the Desktop test runs.

[2017-03-30 17:03] danmosemsft opened #17693 "Some more easy CAS types to stub"
The following types exist in Desktop and could be stubbed out in CoreFX just as we've done with more popular CAS attributes. Just no-ops to make existing code work.
[code]

below is some crude usage data from Nuget and app analyses. Note that zero does not mean exactly zero necessarily -- there's a huge number of apps and packages.

[code]

This is just a nice to have for 2.0.

[2017-03-30 17:03] weshaggard commented on #17690
That sounds reasonable to me as well.

[2017-03-30 17:04] danmosemsft commented on #17639
@ViktorHofer I agree, I opened #17693 with usage data I pulled from our databases.

Some time next week, we can do a screen sharing and I can show you our usage and API tracking systems. Some of it is public (apisof.net) but not necessarily the best tool.

[2017-03-30 17:05] danmosemsft commented on #17693
These would be nice for 2.0 as they're highest
``
Type	usage
DBDataPermission	0.20%
DBDataPermissionAttribute	0.20%
PerformanceCounterPermissionAttribute	0.11%
SqlClientPermissionAttribute	0.11%
DnsPermission	0.21%
WebPermission	0.14%
[code]

[2017-03-30 17:09] danmosemsft commented on #17163
We decided to remove `ECDsaCng` from .NET Standard, those we should do. The `Csp` ones remain and can't be done as they can't pick up that ACL dependency.

[2017-03-30 17:10] ViktorHofer commented on #17693
As it is marked for "up-for-grabs" I'm referencing this PR, which shows what we mean with stub out: https://github.com/dotnet/corefx/pull/17677

[2017-03-30 17:12] karelz commented on #17690
Sounds good, thanks for the unblocking plan @davidsh!

@weshaggard do we have a bug tracking finalizing the plan in 2.0 timeframe?

[2017-03-30 17:12] karelz commented on #17690
cc @danmosemsft

[2017-03-30 17:13] danmosemsft commented on #17164
These three have significant usage, the rest have little or none. @stephentoub do you know why we implemented `RunImpersonated` but not `Impersonate` .. ?
[code]

[2017-03-30 17:18] karelz commented on #17688
You're right it is not Remoting replacement, I misspoke. What I meant: What kind of cross-platform/Windows-only IPC would we recommend to our customers? (are mapped file the best/only thing we have to offer in .NET Core platform)

cc @terrajobst

[2017-03-30 17:22] jkotas commented on #17688
The recommendation is in the document linked above:

Replacement. For communication across processes, inter-process communication (IPC) should be used, such as pipes or memory mapped files. Across machines, you should use a network based solution, preferably a low-overhead plain text protocol such as HTTP.

[2017-03-30 17:24] steveharter commented on #16610
When running the tests in loop on a CI machine, this test failure is common (verified on both Win7 and Win10)

[2017-03-30 17:30] weshaggard commented on #17690
I've filed https://github.com/dotnet/standard/issues/274.

[2017-03-30 17:30] danmosemsft commented on #15554
@dhoehna for (1), whatever you think. For (2), I don't know!

This is just one small part of S.Configuration so I don't think it's worth spending too much time on. As you see in the [report](https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/) the whole of S.Configuration there are 7953 blocks and TimeSpanValidator is tiny, less than 10 blocks I think. I

[2017-03-30 17:36] karelz commented on #17690
Great, thanks!

[2017-03-30 17:42] karelz commented on #17688
Ah, I missed that. Third one this morning :(, I guess it is not my best day.

It would be nice to link those hints into real APIs. I can link the memory mapped files (thanks for link @jkotas). I'll find out if we have Pipes APIs.

For Http, I wonder if HttpListener is the right guidance for server-side, given that it is legacy API. OTOH for IPC purposes it should be fine ...

[2017-03-30 17:43] tarekgh commented on #17688
@TheSoftwareArchitect I am closing this issue as the question is answered but feel free to post more question or re-open. thanks.

[2017-03-30 17:44] CIPop commented on #17390
Now the diff is larger:

[code]

[2017-03-30 17:44] karelz commented on #17688
I'll keep it open to track updates to the docs if you don't mind @tarekgh ...

[2017-03-30 17:44] #12858 closed

[2017-03-30 17:46] tarekgh commented on #17688
@karelz that is totally fine.

do yo mean the doc https://github.com/dotnet/corefx/blob/2b15de70c1cf9f585c4878a722de4dbe42b4940b/Documentation/project-docs/porting.md#binary-serialization?

[2017-03-30 17:49] karelz commented on #17688
Yep, the [Remoting part](https://github.com/dotnet/corefx/blob/2b15de70c1cf9f585c4878a722de4dbe42b4940b/Documentation/project-docs/porting.md#remoting)

Motivation: This is not the first time I see folks asking about Remoting replacement, so I'd shoot for improving our docs and to make them more discoverable.
I am collecting info about Pipes and HttpListener offline ...

[2017-03-30 18:03] weshaggard commented on #17390
@joperezr just added some more shims which is likely why these started showing up. @joperezr can you please update these baselines?

[2017-03-30 18:07] saurabh500 commented on #17039
@paalmoest The updated SqlClient with the connection leak fix, did not make it into the 1.1.1 release.
I have opened a PR to rectify it.
https://github.com/dotnet/corefx/pull/17635

[2017-03-30 18:08] hikalkan commented on #8681
This is a very very simplified example to demonstrate the problem. My actual application/framework is much more complicated. What I want to have a ambient value shared in current thread/async-flow.
In a web application, we can store such a value in HttpContext.Items. But if we have a background job or console app, this is also not possible. So, what I was looking for a good replacement for CallCon

[2017-03-30 18:14] willdean opened #17696 "SerialPort: Move background Thread to Task"
`SerialStream` (internal to `SerialPort`) currently does a `new Thread()` to make a `WaitForCommEvent` thread which blocks on `::WaitCommEvent` and dispatches events into the application's code.

The use of the background thread has created problems with unhandled events escaping (see #17661 & #17666) and is also possibly some part of an close/re-open problem described in #16261 (I'm not sure if i

[2017-03-30 18:19] kouvel commented on #8681
You could do something like this:

[code]

[2017-03-30 18:26] hikalkan commented on #8681
But this is not thread safe. Many thread can access to _asyncLocal.Value.Str concurrently and overwrite each other's values. Am I wrong?

[2017-03-30 18:38] #17639 closed

[2017-03-30 18:38] TheSoftwareArchitect commented on #17688
Thanks everyone.  @karelz:  when you get the docs together, can you post the location back to this thread?  I'd like to have a good look at them.
I truly appreciate your speedy reply on the original question.

[2017-03-30 18:41] danmosemsft commented on #17639
Deleted the 2nd list above that I moved out

[2017-03-30 18:41] kouvel commented on #8681
`_asyncLocal.Value` would be unique per `ExecutionContext`, but in the async flow there could be multiple threads trying to access/change it. In your original code, changing `_asyncLocal.Value` would change the current execution context, leaving the original execution context unchanged, which is why you don't see the updated value in the completion. Suppose it were instead to change the same execu

[2017-03-30 18:43] fujiy commented on #14376
I see. May I go ahead with the workaround?

[2017-03-30 18:51] hikalkan commented on #8681
I will think on that, thanks a lot.

[2017-03-30 18:57] bricelam commented on #2249
This issue now appears on `netstandard2.0` and `netcoreapp2.0` in addition to `net451`. Because `DbDataReader.Close()` has been added back, you can write the code above, but if a `netstandard1.2` provider hasn't worked around it by corss-targeting `net451` and `netstandard2.0`, calling `Close()` is a no-op.

[2017-03-30 19:26] Clockwork-Muse commented on #13169
I believe the primary problem is(/was?) that on Linux you have two different tasks for two different invocations, which yield different results.

On Windows, because there's only one task used for both calls, and the Task itself is set to an exception, both parties that wait on it see the same end state.
On Linux, that's not the case.  The second call to `ReceiveAsync` dies with the expected error

[2017-03-30 19:34] davidsh commented on #13169
Sounds like we have  Windows vs. Linux behavior difference that needs investigating.

cc: @stephentoub

[2017-03-30 19:39] karelz commented on #13169
cc @Priya91

[2017-03-30 20:14] WinCPP commented on #16646
@danmosemsft , sorry catching up this thread... got busy with some urgent personal work... I'll start with System.Xml.XPath.XPathNavigator coverage...

[2017-03-30 20:29] WinCPP commented on #16646
@danmosemsft @sepidehMS about the copyright header... the mono file has this header...

[code]

I believe we are referring to just the '(C)` lines to be copied over, appended by lines mentioned in [this](https://github.com/dotnet/corefx/issues/16646#issuecomment-289871041) comment. Essentially the cumulative block should look like this...?
[code]

Please confirm. Thanks!

[2017-03-30 20:32] danmosemsft commented on #16646
@WinCPP that looks good, I'm pretty ocnfident those (C) lines are rather useless but it's easier to do this than for me to ask legal folk!

[2017-03-30 20:45] danmosemsft commented on #16646
Second thoughts, I'll ask, hold on

[2017-03-30 21:04] paalmoest commented on #17039
@saurabh500 Thats awesome ! It`s blocking our move to a dockerized .net core platform at the mooment.

[2017-03-30 21:43] ViktorHofer commented on #15255
Tracking changes that won't make it into netcore20 here: https://github.com/dotnet/corefx/pull/17706

[2017-03-30 21:45] schen381 commented on #13114
@wapac  The short answer is: the behavior is expected, and is by-design.

It has nothing to do with running clients many times. The exception happens because server closes the connection with a RST. This causes the previous sent data from server to client to get aborted as per TCP/IP protocol rules..  The server closes the connection with a RST and not a FIN which is why the client is unable to re

[2017-03-30 21:45] #13114 closed

[2017-03-30 21:51] #17661 closed

[2017-03-30 21:52] danmosemsft commented on #17693
This is an easy task for someone new to the codebase.

[2017-03-30 21:53] ViktorHofer opened #17708 "Omissions in types supported by both Desktop and Core - System.Data.SqlClient"
For api compatibility between Desktop and Core we need to adjust these types in the System.Data.SqlClient area: (more info here: https://github.com/dotnet/corefx/issues/15255)

[code]

IDataRecord and IServiceProvider add new apis that must be wisely implemented in the types above. ICloneable needs to be added to these three classes. Simple migration from netfx isn't possible as those classes have

[2017-03-30 21:54] danmosemsft commented on #17112
fixed by https://github.com/dotnet/corefx/pull/17610 i hope.

[2017-03-30 21:54] #17112 closed

[2017-03-30 22:08] mattzink commented on #1370
Is this being actively worked? Many large .NET projects are adding hacks to reverse the async leaky abstraction in stack traces. This should be handled by the platform, as is done in Go and Python

[2017-03-30 22:28] #16082 closed

[2017-03-30 22:31] danmosemsft commented on #16926
In progress for Unix

[2017-03-30 22:53] dhoehna commented on #16289
Can I work on this issue and fix Microsoft.VisualBasic.Strings.Left(String, Int32)?

[2017-03-30 22:54] CIPop commented on #17390
Thanks @joperezr ! I verified that this is fixed.

[2017-03-30 22:58] noahfalk commented on #1370
I'm not aware of any active work, though its possible something is happening outside my view.

[2017-03-30 22:59] jcouv commented on #16195
Ping @weshaggard This is the issue I mentioned, which will require work in desktop 4.7.1 (to the GAC and type unification), but not to corefx itself.

[2017-03-30 23:07] jcouv commented on #16195
Relates to https://devdiv.visualstudio.com/DevDiv/_workitems?id=275242

[2017-03-30 23:10] #4998 closed

[2017-03-30 23:36] krwq commented on #16780
@tintoy it could be a display error I'm seeing "urn:foo" missing in the actual output

[2017-03-30 23:37] krwq commented on #16780
Considering this scenario doesn't work on Desktop either I'll move it from 2.0.0

[2017-03-30 23:38] tintoy commented on #16780
@krwq oops! Sorry, I see that too now. Don't know how I missed it before!

Makes sense to me :)

[2017-03-30 23:39] tintoy commented on #16780
(apologies for not being more involved with this stuff over the last week - things have been a bit hectic at work! I'll try to get back into this over the weekend)

[2017-03-30 23:45] krwq commented on #16780
@tintoy no worries 😉 I'm really inspired and happy by all the help and effort you guys put in helping with this! Thank you!

[2017-03-31 00:02] ksatokcc opened #17710 "Problems building library with Novell.Directory.Ldap.NETStandard for Core 1.1"
I have a library I am building for Core 1.0, and it builds fine:
[code]

To update to Core 1.1, the project.json is updated:
[code]

It builds fine in Visual Studio 2015 on my local machine, but when it gets built via my TFS build process,, it errors on dotnet restore:
[code]

The WebSockets package is a dependency for Novell.Directory.Ldap.NETStandard.

I don't understand why these packages are s

[2017-03-31 00:12] jeffbi opened #17711 "Need Single Thread Apartment support to allow use of some COM objects"
PowerShell cmdlets `Enable-WSManCredSSP` and `Disable-WSManCredSSP` require use of `IGroupPolicyObject`, which requires STA.

The PowerShell folk need to be able to port those cmdlets to Core (see [PowerShell/PowerShell#3353](https://github.com/PowerShell/PowerShell/issues/3353))

This relates to an earlier corefx issue, #522.

[2017-03-31 00:45] Priya91 commented on #17010
@nicholasdorier The version 1.0.0-preview2-003131 is .net core 1.1? It's latest compared to .net 1.0.. Are you saying the bug doesn't repro on the latest version? If so, can you upgrade to the latest?

[2017-03-31 00:52] karelz commented on #17010
FYI: The version 1.0.0-preview2-003131 is for .NET Core 1.0 (see [release notes](https://github.com/dotnet/core/tree/master/release-notes))

[2017-03-31 00:52] Priya91 commented on #17010
@NicolasDorier I tried your repro with ```1.1 with SDK Preview 2.1 build 3177``` and the bug didn't repro. Can you update to 1.1?

[2017-03-31 02:42] Jiayili1 commented on #17643
@tarekgh Sorry I don't know how to check whether the fix is in the failed build. @danmosemsft Do you known how to check it?

This issue failed again on build 20170331.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170331.01/workItem/System.Globalization.Tests/analysis/xunit/System.Globalization.Tests.NumberFormat

[2017-03-31 02:50] karelz commented on #522
@jeffbi @iSazonov let's keep the discussion in the new issue. Closed issues are rarely monitored for new comments.

[2017-03-31 02:53] karelz commented on #17711
cc @yizhang82 @kouvel - do you guys have any insights here?

[2017-03-31 02:54] karelz commented on #17710
@weshaggard @ericstj do you have any troubleshooting advice?

[2017-03-31 02:57] dotnet-mc-bot opened #17713 "Test failure: System.Globalization.Tests.NumberFormatInfoNumberGroupSizes/NumberGroupSizes_Get"
Opened on behalf of @Jiayili1

The test `System.Globalization.Tests.NumberFormatInfoNumberGroupSizes/NumberGroupSizes_Get` has failed.

System.Globalization.CultureNotFoundException : Culture is not supported.\r
    Parameter name: name\r
    ur-IN is an invalid culture identifier.

        Stack Trace:

           at System.Globalization.CultureInfo.InitializeFromName(String name, Boolean useUser

[2017-03-31 03:04] kouvel commented on #17711
`Thread.SetApartmentState` and `Thread.TrySetApartmentState` are available now in the latest Core, they can be called on a `Thread` instance before starting the thread to start it in STA mode. .NET Core 2.0.0 would include these APIs.

[2017-03-31 03:35] yizhang82 commented on #17711
If it is main thread, use [STAThread]. It is also available in .NET Core 2.0

[2017-03-31 03:36] fujiy commented on #14376
@plnelson this commando returns the incorrect result:

    Unsafe.SizeOf<object>(), emulator

Returns 0, instead of IntPtr.Size

[2017-03-31 04:47] danmosemsft commented on #17643
Yes, the fix was in that build. Looking

[2017-03-31 04:58] karelz commented on #17711
Very cool. Closing as fixed in 2.0 then.

[2017-03-31 04:58] #17711 closed

[2017-03-31 05:51] Jiayili1 commented on #17591
This test failed again on build 20170331.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170331.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.CancellationTest~2FReadAsStreamAsync_ReadAsync_Cancel_BodyNeverStarted_TaskCanceledQuickly

Message:
[code]

Stack Trace:
[cod

[2017-03-31 05:56] Jiayili1 commented on #17327
Test "System.Net.Tests.WebProxyTest/BypassOnLocal_MatchesExpected" failed again on build 20170331.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170331.01/workItem/System.Net.WebProxy.Tests/analysis/xunit/System.Net.Tests.WebProxyTest~2FBypassOnLocal_MatchesExpected

Message:
[code]

Stack Trace:
[code]

So addin

[2017-03-31 06:01] Jiayili1 commented on #17421
This issue is repro on build 20170331.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170331.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.UdpClientTest~2FCtor_IPEndPoint_CanSend

[2017-03-31 06:03] Jiayili1 commented on #17538
This issue is repro on build 20170331.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170331.01/workItem/System.Runtime.Numerics.Tests/analysis/xunit/System.Numerics.Tests.logTest~2FRunLargeValueLogTests

[2017-03-31 06:28] groege commented on #17094
Wouldn't this be solved with wildcard generics like '?' in java?
So like: Task<?> or Task<any> -> if this would work the problem would be solved.

So rather than asking for a non-generic task with a result, i'd ask for generic wildcards ;)

[2017-03-31 06:47] hughbe opened #17718 "Difference in behaviour between netfx and netcoreapp in FormatterServices.GetUninitializedObject for COM objects"
[code]

See #17717

[2017-03-31 07:03] Jiayili1 commented on #17643
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu16.04_debug/1699/testReport/

[2017-03-31 07:23] hughbe opened #17721 "Difference in behaviour between netfx and netcoreapp in FormatterServices.GetUninitializedObject for shared generic instantiations"
[code]

See #17717

[2017-03-31 07:23] hughbe opened #17722 "Difference in behaviour between netfx and netcoreapp in FormatterServices.GetUninitializedObject for byref like types"
[code]

See #17717

[2017-03-31 07:35] hughbe opened #17723 "Cleanup System.Runtime test in netfx configuration"
I'd like to add a `netfx` test configuration to System.Runtime. Is this something that would be a good idea? If so, I'd like to work on it - hopefully shouldn't be too hard!

Maybe someone's already working on it, so I'm making this issue to track this and claim it if no one is working on it!

[2017-03-31 08:17] Jiayili1 opened #17724 "Desktop: System.IO.MemoryMappedFiles.Tests.MemoryMappedFileTests_CreateFromFile.FileDoesNotExist(mode: Truncate) failed with Xunit.Sdk.ThrowsException"
Configuration: Outerloop_netfx_windows_nt_debug ([build#1](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/1/testReport/))

Failed test: System.IO.MemoryMappedFiles.Tests.MemoryMappedFileTests_CreateFromFile.FileDoesNotExist(mode: Truncate)

Message:
[code]

Stack Trace:
[code]

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows

[2017-03-31 08:19] Jiayili1 commented on #17724
@safern Could you please check if there other label need to add for desktop runs? And do we need to set the milestone?

[2017-03-31 08:23] Jiayili1 opened #17725 "Desktop: System.IO.MemoryMappedFiles.Tests.MemoryMappedFileTests_CreateFromFile.FileInUse_CreateFromFile_SucceedsWithReadOnly failed with system.IO.IOException"
Configuration: Outerloop_netfx_windows_nt_debug (build[#1](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/1/testReport/System.IO.MemoryMappedFiles.Tests/MemoryMappedFileTests_CreateFromFile/FileDoesNotExist_mode__Truncate_/))

Failed test: System.IO.MemoryMappedFiles.Tests.MemoryMappedFileTests_CreateFromFile.FileInUse_CreateFromFile_SucceedsWithReadOnly

Mess

[2017-03-31 08:27] Jiayili1 opened #17726 "Desktop: System.IO.MemoryMappedFiles.Tests.MemoryMappedFileTests_CreateFromFile.ValidArgumentCombinationsWithPath_ModesCreateOrTruncate failed with "System.ArgumentException""
Configuration: outerloop_netfx_windows_nt_debug ([build#1](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/1/testReport/System.IO.MemoryMappedFiles.Tests/MemoryMappedFileTests_CreateFromFile/FileDoesNotExist_mode__Truncate_/))

Failed test: System.IO.MemoryMappedFiles.Tests.MemoryMappedFileTests_CreateFromFile.ValidArgumentCombinationsWithPath_ModesCreateOrTrun

[2017-03-31 08:37] Jiayili1 opened #17727 "Desktop: System.Threading.Tasks.Tests.EtwTests.TestEtw failed with "Xunit.Sdk.EqualException""
Configuration: outerloop_netfx_windows_nt_debug ([build#1](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/1/testReport/System.IO.MemoryMappedFiles.Tests/MemoryMappedFileTests_CreateFromFile/FileDoesNotExist_mode__Truncate_/))

Failed test: System.Threading.Tasks.Tests.EtwTests.TestEtw

Message:
[code]

Stack Trace:
[code]

Detail: https://ci.dot.net/job/dotnet

[2017-03-31 08:37] hughbe commented on #17721
I think this is caused by #9754

I assume this is therefore deliberate - @jkotas feel free to close this one when you take a look

[2017-03-31 08:37] hughbe commented on #17722
I think this is caused by #9754

I assume this is therefore deliberate - @jkotas feel free to close this one when you take a look

[2017-03-31 08:44] Jiayili1 opened #17728 "Desktop: System.IO.Tests.WaitForChangedTests.CreatedDeleted_Success failed with "Xunit.Sdk.EqualException""
Configuration: outerloop_netfx_windows_nt_debug ([build#1](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/1/testReport/System.IO.MemoryMappedFiles.Tests/MemoryMappedFileTests_CreateFromFile/FileDoesNotExist_mode__Truncate_/))

Failed test: System.IO.Tests.WaitForChangedTests.CreatedDeleted_Success

Message:
[code]

Stack Trace:
[code]

Detail: https://ci.dot.n

[2017-03-31 11:36] hughbe opened #17730 "Enum.Format(no such value) returns different values with netcoreapp and netfx"
The following test demonstrates this:
[code]

Netfx returns `value.ToString()`
Netcoreapp returns `null`

[2017-03-31 12:57] jkotas commented on #17721
The behavior of internal CoreLib types that are not part of the public surface will differ from runtime to runtime. That's by design.

[2017-03-31 12:57] #17721 closed

[2017-03-31 13:01] svick commented on #17730
For me, `Enum.Format(typeof(AnEnum), 2, "G")` returns `"2"` on .Net Core 1.0 and `null` on .Net Core 1.1.

I think this regression was caused by https://github.com/dotnet/coreclr/pull/6645:

* [`Format` directly returns the value returned by  `GetEnumName`](https://github.com/dotnet/coreclr/blob/07fa3a3/src/mscorlib/src/System/Enum.cs#L691)
* [`GetEnumName` returns `null`, with a comment saying it

[2017-03-31 13:55] benaadams commented on #17730
Comment is `// return null so the caller knows to .ToString() the input` as at this point the value has been converted to a `ulong`; so its to propagate back up the chain that `.ToString()` should be run on the orignal input, rather than the mangled one; as is done by [`Enum.ToString()`](https://github.com/dotnet/coreclr/blob/07fa3a3/src/mscorlib/src/System/Enum.cs#L885)

On the line highlighted `

[2017-03-31 15:11] xmrbrz opened #17738 "(System.Random instance).Next - returning same numbers"
When you call a new instance of System.Random, the "Next" method returns the same results:
[code]

General info:
[code]

Random Ref: C:\Users\user\.nuget\packages\system.runtime.extensions\4.3.0\ref\netstandard1.5\System.Runtime.Extensions.dll

[2017-03-31 15:41] svick commented on #17738
This has been the case for a very long time, see for example [this SO answer](http://stackoverflow.com/a/768001/41071). It's also called out [in the MSDN documentation for `Random`](https://msdn.microsoft.com/en-us/library/system.random(v=vs.110).aspx):

Fixing this would probably make the parameterless `Random` constructor slower, but that doesn't seem like an unreasonable price to pay to me. So

[2017-03-31 15:53] xmrbrz commented on #17738
No problem, just wanted to make sure. Thanks! :-)

[2017-03-31 15:54] hughbe commented on #16995
grabbed in #17717

[2017-03-31 15:55] karelz commented on #17738
I was about to close the issue as well, but given the amount of confusion (e.g. on StackOverflow), I wonder if we could add constructor overload or change default behavior like @svick suggests. The perf hit IMO does not matter. People who use it "right pattern" will call it just once. People who use the anti-pattern will get some perf hit and if they care, they can fix the anti-pattern.

Thoughts?

[2017-03-31 15:58] karelz commented on #17718
@hughbe what's the action item here? Change product? Fix test? Or have a discussion about the topic?

[2017-03-31 16:20] plnelson commented on #14376
Unsafe is not special-cased in VIL as it is in the Core CLR EE.  I would actually expect it to throw InvalidOperationException, because that's implementation I see in [Unsafe.cs](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/CompilerServices/Unsafe.cs).  Either way, this is not going to work unless we add special casing for all of these methods.

[2017-03-31 16:22] jkotas commented on #17722
The difference for Span is expected.

ByReference should be excluded from the test. It is internal runtime implementation detail. It does not make sense for corefx tests to be testing it.

[2017-03-31 16:24] jkotas commented on #14376
This is using `Unsafe.SizeOf` implementation from https://github.com/dotnet/corefx/blob/master/src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.il#L154. You should not need any special casing for this one. The sizeof IL opcode just needs to be treated correctly.

[2017-03-31 16:25] karelz commented on #17723
@danmosemsft @AlexGhiondea @joperezr what do you think?

@hughbe I assume you mean to have tests specific to netfx. While that is useful, I don't think we want to have gazillion of such tests in CoreFX. IMO the key value is to have tests which cover both/all runtimes (Core, Desktop, Mono). Thinking that we will ever use CoreFX test bed as primary Desktop testing is IMO sci-fi.
cc @jkotas as he has

[2017-03-31 16:28] karelz commented on #17738
Even better -- it is already improved this way in .NET Core 2.0! - see https://github.com/dotnet/coreclr/commit/9f6a0b675e5ac0065a268554de49162c539ff66d

Thanks @jkotas for the hint (BTW: @jkotas is there anything you **don't** know? ;))

[2017-03-31 16:28] #17738 closed

[2017-03-31 16:34] plnelson commented on #14376
Thanks @jkotas.  Opened internal bug 402754.

[2017-03-31 16:35] karelz commented on #17722
Can we address it as part of the RP? Or what else would you expect in this issue @hughbe?

[2017-03-31 16:35] jkotas commented on #17723
It should be sufficient to have tests that are expected to fail on desktop disabled in corefx, with a comment on why they are is disabled. I do not think we need a duplicate equivalent tests that work on desktop. The desktop testing is done by large old internal system. It is very unlikely that corefx testbed is going to replace it.  The primary reason for running corefx tests on desktop is to fin

[2017-03-31 16:35] karelz commented on #16995
Assigned to you @hughbe, thanks!

[2017-03-31 16:45] CIPop commented on #16516
Continuously ran 20 separate processes with a random delay between 0-200 between runs for S.N.Security on my dev station for 16hrs. None of the processes experienced crashes.

[2017-03-31 16:52] weshaggard commented on #17710
Perhaps @ericstj or @emgarten understand what might be happening here as I've never seen this error. The funny part is that it lists that it supports netstandard1.3 which is what should be chosen when restoring for netstandard1.6.

[2017-03-31 16:56] ericstj commented on #17710
Seems funny.  Your project works for me.  Try deleting your nuget packages cache (or rename it for forensic purposes).  I suspect a corrupt package folder.

[2017-03-31 17:32] OmarTawfik opened #17741 "Proposal for adding System.Runtime.CompilerServices.IsReadOnlyAttribue"
# Rationale and Usage

For upcoming C# features captured in document [here](https://github.com/dotnet/csharplang/blob/master/proposals/readonly-ref.md
), the C# compiler needs a way to annotate metadata as read-only. The proposal is to add a new attribute to `System.Runtime.CompilerServices` namespace similar to`InAttribuate` and `OutAttribute`, named `IsReadOnlyAttribue`. Example usages:

1) For

[2017-03-31 17:36] OmarTawfik commented on #17741
cc @dotnet/roslyn-compiler @terrajobst @karelz @weshaggard

[2017-03-31 17:41] davidsh commented on #17690
So, my plan is not going to work easily. I started looking at this.  It is not just the LoopBackServer.cs that uses the Task extensions for Socket.  But other files in Http tests use various *Async extension methods as well.

And to make matters worse, the compiler is binding those extension method calls to netstandard.dll!SocketTaskExtensions.  So, I can't just define the extension class somewher

[2017-03-31 17:41] AlexGhiondea commented on #17614
/cc @adityamandaleeka would you mind taking a look at this?

[2017-03-31 17:47] jcouv commented on #17741
FYI @marek-safar

[2017-03-31 17:50] #17730 closed

[2017-03-31 18:07] svick commented on #17741
[code]

What's the point on allowing `[ReadOnly]` on assebmlies or enums or generic parameters? Shouldn't it be:

[code]

[2017-03-31 18:07] karelz commented on #17741
In general we don't want to take proactively new APIs to 2.0 at this point, but we can make an exception, esp. if it helps significantly the ecosystem (new Roslyn features) and if someone signs up to do the work ;-)

Is there anything beyond adding the type?
Is Roslyn team 100% sure this is the right way to do the feature end-to-end? We don't want to rush new APIs if we know there is a chance they

[2017-03-31 18:10] karelz commented on #17690
Thanks @davidsh! In that case I propose to push it to post-2.0.
We will run a bit blind, but given all the work we have, this is lower priority. @danmosemsft thoughts?

[2017-03-31 18:31] jaredpar commented on #17741
@svick

Part of the motivation for All is future proofing.  This is a type we're going to be pushing deeper into the stack, say into mscorlib desktop eventually.  Once a type gets that deep into the system it's basically impossible to change.  Or at least changes take a considerable amount of time to propagate.   Hence better to be more flexible and allow redundant usages than be too strict and ha

[2017-03-31 18:49] iSazonov opened #17745 "Add StringBuilder(Char)"
## Rationale
In PowerShell repo we got a report https://github.com/PowerShell/PowerShell/issues/3457 about
[code]
It is expected that allErrors initialized with '\n' char.
Really compiler _silently_ convert the char -> ushort -> int and use `StringBuilder(int capacity)` constructor.
Sample http://ideone.com/1pPHlZ

Currently we already have method `Append(char value)` so suggestion is to add new c

[2017-03-31 18:56] OmarTawfik commented on #17741
@karelz I'll be doing the work for coreclr, corert, and desktop :) LMK if there is something else I should consider.

[2017-03-31 19:02] karelz commented on #17741
We need to run it by API review on Tuesday. Please ping @terrajobst to schedule the second hour block for this topic. Roslyn team already used that slot for last 2 weeks for various Roslyn proposals ...
I'd like to understand what you mean by Desktop work. It can wait until the meeting.

[2017-03-31 19:06] karelz commented on #17745
@iSazonov it makes sense to me. Can you please format it into a formal API proposal? https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md
It is just much easier to read and review in larger group. Thanks!

[2017-03-31 19:39] davidsh commented on #17690
Not fixing this issue will block #17691 which is marked for 2.0.

[2017-03-31 19:46] karelz commented on #17690
So we push part of that one into Future as well.
We need to be practical and keep our real goal in mind -- the goal of this exercise is to ensure compatibility between Desktop and .NET Core. All under the assumption that running CoreFX tests on Desktop is simple. If it is costly for specific area to do, we may need to reconsider the value of that exercise vs. delivering product.

[2017-03-31 19:48] iSazonov commented on #17745
@karelz Issue was reformatted.

[2017-03-31 20:33] daxian-dbw opened #17746 "Cannot use packages "System.Runtime.Loader", "System.Reflection.Emit" and "System.Reflection.Emit.Lightweight" when targeting netstandard2.0"
I’m moving [PowerShell Core](https://github.com/powershell/powershell) to NetStandard2.0, and find that I cannot depend on the following packages when building an assembly targeting netstandard2.0:
- [“System.Runtime.Loader”](https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Runtime.Loader)
- [“System.Reflection.Emit”](https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Ref

[2017-03-31 20:47] danmosemsft commented on #17690
I don't have full context, but I agree, the desktop effort is important but not essential in all areas for 2.0

[2017-03-31 20:51] karelz commented on #17690
Another angle how to look at this is:
Is there something else, tactical, lower-ish cost, even hacky or temporary, that we could do to ensure Networking area is compatible between Desktop and .NET Core? If not -> Future. If yes, let's discuss/consider it.

Overall it is the usual cost/benefit/risk assessment for a release.
@davidsh what is your recommendation based on all the info above?

[2017-03-31 21:01] davidsh commented on #17690
@davidsh what is your recommendation based on all the info above?

I think it is very valuable to be able to run the .NET Core test collateral against NETFX (Desktop).  We have already found good bugs to fix into terms of making .NET Core compatible with NETFX (See: #17701).

I have some new ideas I will be exploring this weekend to help unblock this. I will report back later.

[2017-03-31 21:02] karelz commented on #17690
Great, thanks!

[2017-03-31 21:11] danmosemsft opened #17749 "System.Net.NameResolution.Pal.Tests test fixture fails on Fedora 24 with "invalid argument" giving "Unknown gethostbyname/gethostbyaddr error code"'"
Failed twice in my PR https://github.com/dotnet/corefx/pull/17716/files but is not failing in the latest Fedora 24. My PR only touches globalization code.

It might be good to make this assert dump the actual code it's getting (`fprintf(stderr...` .. I don't know if we have such a macro defined already)

[code]

[2017-03-31 21:14] #17713 closed

[2017-03-31 21:18] danmosemsft commented on #17725
[code]
This scenario (write then immediately read, ...) is what provokes indexers and anti virus scanners. @mmitche I assume we have all that disabled ..

[2017-03-31 21:19] danmosemsft commented on #17725
Ah, this is a desktop test. Perhaps it didn't run before and this is an actual behavior change.

[2017-03-31 21:19] danmosemsft commented on #17723
I agree with @jkotas . @hughbe could you explain what your goal is?

[2017-03-31 21:20] danmosemsft commented on #17746
@weshaggard ?

[2017-03-31 21:23] danmosemsft commented on #17327
The run above obviously did not have gcstress applied.

[2017-03-31 21:27] danmosemsft commented on #17636
Note this problem doesn't exist on Core as it doesn't support debug assert dialogs (#3708)

[2017-03-31 22:19] safern commented on #17690
Thanks @davidsh I agree with you, it is very valuable to have tests running in netfx. We already have vendors looking at the failures and will start opening bugs which might be compat issues. So thanks for your effort to unblock this and have the tests running against netfx in the networking area.

[2017-03-31 22:32] ahsonkhan commented on #16888
@KrzysztofCwalina, @davidfowl, should we close this issue and keep CopyTo as is?

[2017-03-31 22:40] #16997 closed

[2017-03-31 22:51] divega commented on #4571
@saurabh500 I am not sure what is the current plan for `DbProviderFactories` in 2.0, can you provide some details?

I understand we were originally looking at having a new .NET Core-specific provider registration mechanism but then we switched to trying to get `DbProviderFactories` in. I also remember seeing a brief discussion between you and @terrajobst about whether `DbProviderFactories` in .NET

[2017-03-31 22:53] divega commented on #11044
@tuespetre are you planning to give this another try based on this:

Otherwise I am not sure it is worth keeping this issue open.

[2017-03-31 23:29] huanwu opened #17752 "Remove ReflectionXmlSerializationReader and ReflectionXmlSerializationWriter from the XmlSerializerGenerator"
Need remove the dependency on these two files from the XmlSerializer Generator tool.

[2017-03-31 23:56] tuespetre commented on #11044
@diveg I will plan on that; it will be likely after next week when I am able to get around to it.

[2017-04-01 00:20] weshaggard commented on #17746
This is by design. They only support .NET Core, so if you want to consume them you need to do it from a netcoreapp library/application.

[2017-04-01 00:24] weshaggard commented on #17690
@davidsh to work around this just add a netfx specific configuration for the tests so it will build against the netfx targeting pack instead of the netstandard targeting pack. That should enable you to add the extensions.

I also agree we should try to get the test running on desktop before 2.0 ships to help ensure we don't break anything.

[2017-04-01 00:27] CIPop commented on #16516
For reference, a readable stack is:

[code]

[2017-04-01 00:40] daxian-dbw commented on #17746
Thanks @weshaggard! If my assembly library is targeting `netcoreapp2.0`, can it be consumed by a library project that targets netstandard2.0?

[2017-04-01 00:43] karelz commented on #4571
@divega I think you mean https://github.com/dotnet/standard/issues/254

[2017-04-01 01:25] jkotas commented on #17741
There is [System.ComponentModel.ReadOnlyAttribute](https://msdn.microsoft.com/en-us/library/system.componentmodel.readonlyattribute(v=vs.110).aspx).

Do we really want same one, just in a different namespace?

[2017-04-01 01:43] hughbe commented on #17722
Sorry, I should've made it clear. This issue isn't about Span<T> or friends. Basically, the coreclr rejects by ref types but netfx doesn't.

I just wanted to open a discussion to make sure that we've accepted this potentially breaking change that reduces compat with netfx.

[2017-04-01 01:51] hughbe commented on #17723
Sure - I observed that we're doing a lot of stuff to make sure we either document (by tests) or align with the behaviour of netfx. I wanted to see if System.Runtime could benefit from this.
So far, I've found one 2.0 bug (#17730), so it might be worth running netfx tests against System.Runtime

[2017-04-01 01:57] danmosemsft commented on #17723
Since it does not have a `netfx` configuration, we build and test its `netstandard` configuration (as the nearest compatible) when targeting netfx. So all tests will run against netfx, unless they are attributed otherwise.
https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/Configurations.props#L6
Let me know if you're seeing differently.

[2017-04-01 01:59] Jiayili1 commented on #17643
Failed again on outerloop_netcoreapp_fedora24_debug, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_fedora24_debug/1/consoleText

[2017-04-01 02:04] danmosemsft commented on #17643
Hi @Jiayili1 that build did not contain the latest change above. Here's how to tell: click on the link you gave, look for a line like `Checking out Revision 1c564c5b20076130b9cccd98c38061ea7fbfbf42 (origin/master)`

The fix commit ID from the PR above was `bdf3a81`

Then in your corefx repo do this (on Windows):
`git rev-list 1c564c5b20076130b9cccd98c38061ea7fbfbf42 | find /i "bdf3a81"`
this retur

[2017-04-01 02:04] #17643 closed

[2017-04-01 02:04] hughbe commented on #17723
I've got my own branch that I've updated the configuration for (https://github.com/hughbe/corefx/tree/runtime-tests-netfx)

But I'll look to work on 2.0 stuff as Karel mentioned

[2017-04-01 02:17] danmosemsft commented on #17723
@hughbe if I'm understanding right, all your code in that branch can go into CoreFX, you just don't need the .props edit. You get the netfx tests to run by doing `/p:targetgroup=netfx`. Does that not match what you see?

[2017-04-01 02:19] hughbe commented on #17723
Oh, haven't tried that! Was under the impression I had to add a netfx configuration!

[2017-04-01 02:48] Jiayili1 commented on #16610
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win10_debug/1/testReport/System.Net.Http.Functional.Tests/DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledActivityLogging/

[2017-04-01 02:51] Jiayili1 opened #17762 "Test: System.IO.Tests.WaitForChangedTests.Renamed_Success failed with "Xunit.Sdk.EqualException""
Configuration: outerloop_netcoreapp_win10_debug ([build#1](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win10_debug/1/testReport/))

Failed test: System.IO.Tests.WaitForChangedTests.Renamed_Success

Message:
[code]

Stack Trace:
[code]

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win10_debug/1/testReport/System.IO.Tests/WaitForChange

[2017-04-01 02:52] danmosemsft commented on #17723
@joperezr did I miss anything?

[2017-04-01 02:52] Jiayili1 commented on #17762
Closed Issue: https://github.com/dotnet/corefx/issues/14983

[2017-04-01 03:22] hughbe opened #17763 "System.IO.Tests.DirectoryInfo_Create.PathWithReservedDeviceNameAsExtendedPath failed in CI"
In #17717

Might be intermittent, so feel free to close if you want

[code]

[2017-04-01 03:26] jkotas opened #17764 "netstandard configurations for System.Security.Cryptography.Cng and System.Security.Cryptography.X509Certificates"
netstandard configurations for System.Security.Cryptography.Cng and System.Security.Cryptography.X509Certificates were causing build breaks in uap and uapaot verticals. Disabled in https://github.com/dotnet/corefx/commit/a00139c78398e88bfae1649fe07fc673b9a390c3 to unblock updates.

[2017-04-01 03:28] jkotas commented on #17764
@joperezr Could you please take a look?

[2017-04-01 03:46] hughbe commented on #17718
Sorry, I should've made it clear. Basically, netfx rejects these types, but coreclr doesn't

I just wanted to open a discussion to make sure that we've accepted this potentially breaking change that reduces compat with netfx.

This is probably because coreclr doesn't support remoting, so I think it's safe to close this

[2017-04-01 03:46] #17718 closed

[2017-04-01 06:05] NicolasDorier commented on #17010
Same problem with latest microsoft image, very consistently reproduce the error above.
[code]

Using the latest microsoft/dotnet  image id `82ba68a32f38`.
@Priya91 after reproducing the bug above I downloaded `1.1 with SDK Preview 2.1 build 3177` and gave it a try with the following `project.json`

[code]

[code]

It is worth noting that it takes more time to reproduce on `1.0.0-preview2-1-003177`

[2017-04-01 06:09] Jiayili1 commented on #15018
Failed again on build 20170401.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170401.01/workItem/System.Net.Ping.Functional.Tests/analysis/xunit/System.Net.NetworkInformation.Tests.PingTest~2FSendPingAsyncWithHostAndTimeout

[2017-04-01 06:17] NicolasDorier commented on #17010
Please, try yourself, my environment is very easy reproductible thanks to docker.  @Priya91 I think you were not using the right dotnet core version.  Try to use the  docker image latest microsoft/dotnet image id 82ba68a32f38.

[2017-04-01 06:19] NicolasDorier commented on #17010
You can also use https://docs.docker.com/engine/admin/resource_constraints/ for restraining memory of your container, even though you should not need that.

[2017-04-01 06:58] VSadov commented on #17741
New attribute is needed.
Ideally we would just use InAttribute since it is a pseudo-attribute, but it may be used for other purposes already and we cannot change that for compat reasons.

[2017-04-01 07:07] huoyaoyuan commented on #15469
There's a related work: https://github.com/jam40jeff/ITask
It is very useful for covariance.

[2017-04-01 07:28] davidfowl commented on #16888
Yes

[2017-04-01 09:24] Jiayili1 opened #17773 "Desktop: Tests under "System.Diagnostics.TextWriterTraceListenerTests.DelimiterWriteMethodTests" failed with "Xunit.Sdk.EqualException""
Configuration: outerloop_netfx_windows_nt_debug

Failed tests:
DelimiterWriteMethodTests\TraceEvent_FormatString_Test
DelimiterWriteMethodTests\TraceData_Object_Test
DelimiterWriteMethodTests\TraceEvent_String_Test
DelimiterWriteMethodTests\TraceData_ObjectArray_Test

Message:
[code]

Stack Trace:
[code]

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/

[2017-04-01 09:35] Jiayili1 opened #17774 "Desktop: Tests under "DataContractSerializerTests" failed with "System.TypeInitializationException""
Configuration: outerloop_netfx_windows_nt_debug

Failed tests under: DataContractSerializerTests

[code]

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/3/testReport/(root)/DataContractSerializerTests/DCS_ArrayAsRoot/

[2017-04-01 16:43] davidsh commented on #17690
It turns out that this was more complicated than that.  The SocketTaskExtensions is listed as a type forward from the System.Net.Sockets facade (pure facade). That points to netstandard.dll.  But netstandard.dll is completing missing the SocketTaskExtensions type.  That is why the type load exception is being thrown.

I didn't want to ifdef the test code for NETFX compile but the majority of tests

[2017-04-01 17:07] benaadams commented on #12442
@stephentoub reversing this suggesting and following what Task does; would this be better?

[code]

[2017-04-01 18:06] karelz commented on #17741
@VSadov can you explain your assertion "new attribute is needed"?

[2017-04-01 18:27] karelz commented on #17718
Makes sense, thank you!

[2017-04-01 19:23] karelz commented on #17746
I am not sure if it is technically achievable (if nothing prevents you), but the key point is that it doesn't make much sense:
If your library targets netstandard2.0, then its purpose is to work across multiple platforms (.NET Core, Desktop, Xamarin, UWP). If it depends also on platform-specific lib (netcoreapp20), it will loose the multiple-platformness. So you might as well make it target netcor

[2017-04-01 19:43] karelz commented on #17763
@hughbe FYI: We are trying to achieve clean test runs. Intermittent failures are waste of everyone's time - while the cost is small on the spot, it accumulates long-term (for both project maintainers and contributors).

We should always attempt to do something about intermittent failures (fix test/product, harden test against known flakiness of OS, add logging into test to know more next time, etc

[2017-04-01 21:06] davidsh commented on #14897
@JosVerburg

Thanks for posting a complete repro!

I build and ran the solution.  However, I got the following exception:
![image](https://cloud.githubusercontent.com/assets/7684835/24582411/535d459e-16e4-11e7-8dcb-ffb069750e91.png)

Your client code is incorrect. HttpClient design only allows an HttpRequestMessage to be sent ONCE.  It's lifetime is over after one request.  Due to this exception,

[2017-04-01 21:11] davidsh commented on #14897
Actually, after looking at your code again, you are creating a new HttpRequestMessage each time!  So, this is very strange because that exception should not be returned.

I ran the repro again and was able to generate the exception we're investigating.
![image](https://cloud.githubusercontent.com/assets/7684835/24582446/eec73350-16e4-11e7-90b8-f24d71e3d7da.png)

The exception happened after 906 it

[2017-04-01 22:56] danmosemsft commented on #17773
Caused by this in desktop:
https://referencesource.microsoft.com/#System/compmod/system/diagnostics/DelimitedListTraceListener.cs,170

now being this in core:
https://source.dot.net/#System.Diagnostics.TextWriterTraceListener/System/Diagnostics/DelimitedListTraceListener.cs,171

Note this has been removed -- it causes the extra delimiter
[code]
The code has been this way since 2015.

@brianrob, @v

[2017-04-01 22:57] danmosemsft commented on #17728
@ianhays is there a relevant difference in the file watcher implementation since desktop?

[2017-04-01 23:28] #16888 closed

[2017-04-01 23:56] danmosemsft commented on #16796
I don't see why we have this issue? We aren't tracking ports to desktop generally now, someone should have just marked the test and closed this issue. I will do this now.

[2017-04-02 00:19] danmosemsft commented on #10898
It's coming from this

https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.IO.Packaging/src/System/IO/Packaging/PartBasedPackageProperties.cs#L444

which also existed in desktop

https://referencesource.microsoft.com/#WindowsBase/Base/MS/Internal/IO/Packaging/PartBasedPackageProperties.cs,534

[2017-04-02 00:23] danmosemsft commented on #10898
Perhaps worth diffing all the sources for System.IO.Packaging before debugging desktop. @stephentoub do you recall any intentional functoinal changes at the time you initially ported this library?

[2017-04-02 00:25] danmosemsft commented on #10897
I didn't debug but there have been little or no functional changes to S.IO.packaging since it was ported. It would be good to diff sources against desktop as noted in #10898.

[2017-04-02 00:35] danmosemsft commented on #17723
/cc @safern lots of good progress on getting S.R clean for desktop.

[2017-04-02 01:01] danmosemsft commented on #17774
@Jiayili1 per https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md, the correct label is area-Serialization.

[2017-04-02 01:02] danmosemsft commented on #17774
@shmao not sure what the cause of this is. Contact @safern if you need info about how the desktop run works. Ibelieve there is some binding remapping going on.

[2017-04-02 01:03] danmosemsft commented on #17774
oops

[2017-04-02 01:38] danmosemsft commented on #17725
This is caused by https://github.com/dotnet/corefx/pull/6152 which is obviously an intentional change.

[2017-04-02 01:53] danmosemsft commented on #17724
@Jiayili1 for desktop runs just add test-run-desktop and the area label

[2017-04-02 03:21] danmosemsft commented on #17727
@alexperovich What's your reasoning for Future? We need to get the run clean so it either needs to be disabled temporarily or permanently for netfx. Same as the netcoreapp runs.

Anyway the fix is trivial. The code to fire the event is the same
https://referencesource.microsoft.com/#mscorlib/system/threading/Tasks/TPLETWProvider.cs,253
however the provider name is `[EventSource(Name = "System.Thre

[2017-04-02 03:27] danmosemsft commented on #16796
@safern @tarekgh we should get the desktop run clean either by disabling the test temporarily (eg against this issue) or permanently (if by design). I am confident this one is by design.

[2017-04-02 03:29] danmosemsft commented on #13343
@alexperovich The test either needs to be disabled (against this issue) or disabled permanently (if by design) so we get a clean run.

@stephentoub do you know off the top of your head whether this may be by design? The test code does seem original. I am not sure where the implementation difference may be so I haven't checked that.

[2017-04-02 03:36] danmosemsft commented on #13343
I'm getting `        System.TypeLoadException : Could not load type 'System.Threading.ThreadPoolBoundHandle' from assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicK
  eyToken=cc7b13ffcd2ddd51'.` when I run this on NETFX. There is no type forward for `ThreadPoolBoundHandle` in netstandard.dll even though it's in NS2.0. @weshaggard why is that?

[2017-04-02 03:40] danmosemsft commented on #13343
@sokket in this scenario I would like to easily confirm this is a desktop only issue. It would be great to havea one click method to do that, starting at https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20161103.04/workItem/System.Threading.Overlapped.Tests/analysis/xunit/ThreadPoolBoundHandleTests~2FFlowsAsyncLocalsTo

[2017-04-02 03:44] danmosemsft commented on #17774
I don't repro this. Instead I get a variety of more real errors.

[2017-04-02 04:03] danmosemsft commented on #17728
This error indicates the delete change event was not recieved. I verified that increasing the timeout does not help. Is it ever fired, on desktop? I see `WatcherChangeTypes.Deleted` does exist on desktop.

[2017-04-02 04:03] danmosemsft commented on #17728
@JeremyKuhne @stephentoub  in Ian's absence.

[2017-04-02 04:51] olegtk commented on #16322
Any updates on this? What's a workaround for project.json based projects?

[2017-04-02 06:00] danmosemsft commented on #16229
Mostly removed by 14207f4d68ec9d16ad88b424bc60c452a30742aa.

Remaining of interest
[code]

[2017-04-02 06:56] danmosemsft commented on #16229
Threadabort: https://github.com/dotnet/coreclr/pull/10648

[2017-04-02 07:04] danmosemsft commented on #16229
SearchOptoin is just a coincidence.

[2017-04-02 08:38] safern commented on #17723
+1. This is exactly what we are trying to achieve with contracts that are part of the standard, have them built against net standard and run against netfx. We should only add the netfx configuration to the tests if they use an specific contract that is not part of netstandard.

Building against net standard and running against netfx we are testing the scenarios that our costumers will be hitting w

[2017-04-02 08:39] darxis commented on #8059
Another benefit of polling is that it is not dependent on disk caching policies in the OS. I came across this problem when using the default FSW to watch a log file on Windows 10 platform. I wanted to watch a log file for new log entries to read and process them "real-time".

FSW on Windows depends on WinAPI `ReadDirectoryChangesW` function. From the MSDN docs

https://social.msdn.microsoft.com/Fo

[2017-04-02 09:47] hughbe commented on #17723
My intention in opening this issue was tracking getting System.Runtime.Tests passing with netfx, not actually adding the configuration - I may have confused things by making that the title of this issue

[2017-04-02 10:07] karelz commented on #17723
Great progress indeed, I updated the issue title to reflect the real goal. Feel free to update it.

[2017-04-02 10:51] #17727 closed

[2017-04-02 11:07] hughbe opened #17789 "Netfx and netcore difference in exception type thrown releasing a mutex not owned by caller"
Running System.Runtime.Tests with `msbuild /T:BuildAndTest /P:TargetGroup=netfx`, I get the following errors:

[code]

Interestingly, the exception message in netcoreapp and netfx is the same:

Digging into the runtime, I found the following case where we thrown the exception in coreclr:
https://github.com/dotnet/coreclr/blob/ed57233f4d26114d45b1293ced80a09f879f72cf/src/vm/threads.cpp#L4305

[code

[2017-04-02 11:09] PavelStefanov commented on #17010
+1
I have same issue. I'm using .Net core 1.1 on Ubuntu 14.04. So also I am using CopyToAsync on WebResponse.GetResponseStream() stream to a MemoryStream.

`System.IO.IOException: The read operation failed, see inner exception. ---> System.ObjectDisposedExce         ption: Cannot access a closed Stream.
   at System.IO.__Error.StreamIsClosed()
   at System.IO.MemoryStream.Read(Byte[] buffer, Int32

[2017-04-02 11:10] jkotas commented on #16229
- `BitConverter` - moved to CoreLib earlier for other reasons. Not a problem anymore

- `ReadOnlyDictionary` - should be easy to remove

- `FormatterServices` - people frequently got to this via private reflection (search github - one example from many https://github.com/carlosmunozrodriguez/Minicloner/blob/9e1ce162966b04a62d553f9aebec75703e7ced3d/src/Minicloner/FormatterServices.cs#L12) to workar

[2017-04-02 11:12] jkotas commented on #16229
ThreadAbortException should be fixed for 2.0

[2017-04-02 11:18] hughbe commented on #17789
Okay, further research. In the file here https://github.com/dotnet/coreclr/blob/a9b25d4aa22a1f4ad5f323f6c826e318f5a720fe/src/vm/rexcep.h

[code]

However, I think `ApplicationException` is back in coreclr now. For example, in `WaitHandleTests.cs` we have the following code:

[code]

Not sure what the right thing to do here is

[2017-04-02 11:28] #14995 closed

[2017-04-02 11:53] Auburns opened #17791 "API Proposal: InvSquareRoot for Vector<Single>"
Having the ability to calculate the inverse square root is much better for performance than square root in several situations, for example: normalising a vector, since it avoids using division.

Inverse square root would not have an implementation for doubles since the intrinsics only support singles, so this is the proposed method:

`public static Vector<Single> InvSquareRoot(Vector<Single> value

[2017-04-02 12:27] mtraudt commented on #17278
I wanted to try this out using Dan's instructions however when I ran Install-Package I got the following error:

Install-Package : Package System.Configuration.ConfigurationManager 4.4.0-preview1-25131-05 is not compatible with netcoreapp2.0 (.NETCoreApp,Version=v2.0). Package
System.Configuration.ConfigurationManager 4.4.0-preview1-25131-05 supports:
  - net461 (.NETFramework,Version=v4.6.1)
  -

[2017-04-02 14:13] mtraudt commented on #17278
Also, can you explain what this sentence means on the dogfooding page:

"However, there are times when you need to use a nightly build of Microsoft.NETCore.App which hasn't made its way into the SDK yet. To enable this, there are two options you can take."

I thought Microsoft.NETCore.App was the SDK.

[2017-04-02 14:15] mtraudt commented on #17278
The question about searching packages is less important. Although I cannot do so on MyGet the way that I expected I am able to do so from VS.

[2017-04-02 15:46] ektrah opened #17793 "Proposal: Add Overlaps(...) extension method for ReadOnlySpan<T>"
### Problem

A method reading from a `ReadOnlySpan<T>` and writing to a `Span<T>` may produce incorrect results if the two spans overlap and the method overwrites data it has not read yet.

Here is a minimal but complete example that demonstrates the problem:

[code]

It's a very small corner case, but it can lead to very subtle, hard-to-find bugs.

The problem can be prevented in `Twice` by
* mak

[2017-04-02 16:07] daxian-dbw commented on #17746
@karelz Thanks for the clarification!
I ran into another issue when using the package [`Microsoft.CodeAnalysis.CSharp/2.0.0`](https://www.nuget.org/packages/Microsoft.CodeAnalysis.CSharp/) (_2.0.0 is the latest version I can find_) in my project targeting `netcoreapp2.0`. `Microsoft.CodeAnalysis.CSharp/2.0.0` depends on `Microsoft.CodeAnalysis.Common/2.0.0` which pulls in `System.ValueTuple/4.3.0`

[2017-04-02 16:12] #17789 closed

[2017-04-02 16:48] #16796 closed

[2017-04-02 18:06] karelz commented on #17278
This is weird - @JeremyKuhne @weshaggard @ericstj can you please help?
I would expect that System.Configuration can be easily used by netcoreapp20 as it supports netstandard2.0. Maybe some bug or incomplete instructions?

[2017-04-02 18:10] alrz opened #17795 "Question: Immutable views"
Can we implement immutable interfaces for arrays, lists, dictionaries, etc?
[code]

[2017-04-02 18:54] karelz commented on #17746
@daxian-dbw that's an interesting problem on its own, can you please file separate issue? (and delete/update this reply?) It doesn't help to mingle them into one issue, esp. given that it requires different people to be pulled in. Thanks!

[2017-04-02 19:00] karelz commented on #17795
At minimum there is layering problem (ImmutableCollections are sitting on top of the stack, not at the bottom where Array/List live).
I bet this was considered in the past. I would expect that there are some wrapper workarounds ...
I let experts answer - cc @AArnott @ianhays @safern

[2017-04-02 20:14] omariom commented on #17795
It will be confusing. Immutability implies thread safety as the underlying storage cannot change. That's not the case for mutable collections.

[2017-04-02 20:22] AArnott commented on #17795
@omariom is correct. Collections should only implement these immutable interfaces if they are truly immutable.
If you want an interface that (mostly) blocks changing the underlying collection that is already implemented by these popular mutable collections, use the `IReadOnlyCollection<T>` and similar interfaces.

You can learn more about the various kinds of mutability/immutability and the interf

[2017-04-02 20:22] #17795 closed

[2017-04-02 21:15] daxian-dbw opened #17797 "Get ambiguous type identity error when using package 'Microsoft.CodeAnalysis.CSharp/2.0.0' in a project that targets 'netcoreapp2.0'"
I ran into this when using the package [`Microsoft.CodeAnalysis.CSharp/2.0.0`](https://www.nuget.org/packages/Microsoft.CodeAnalysis.CSharp/) (_2.0.0 is the latest version I can find_) in my project targeting `netcoreapp2.0`. `Microsoft.CodeAnalysis.CSharp/2.0.0` depends on `Microsoft.CodeAnalysis.Common/2.0.0` which pulls in `System.ValueTuple/4.3.0`. However, the types in `System.ValueTuple.dll`

[2017-04-02 21:19] daxian-dbw commented on #17746
@karelz You are right. I filed a different issue for the problem with the `Microsoft.CodeAnalysis.CSharp` package: #17797.
My question about the original issue has been answered/clarified. Thanks @karelz and @weshaggard!

[2017-04-02 21:19] #17746 closed

[2017-04-02 21:30] karelz commented on #17746
Great, thanks!

@terrajobst we may still need to track some documentation/education on the topic ...

[2017-04-02 21:33] karelz commented on #17797
@weshaggard @ericeil @jcouv what is the story around `ValueTuple`? I know it was somewhat special, but don't remember details ...

cc @terrajobst

[2017-04-02 22:15] davidfowl commented on #17278
@mtraudt What version of visual studio are you using?

[2017-04-02 22:23] mtraudt commented on #17278
@davidfowl
Microsoft Visual Studio Professional 2017
VisualStudio/15.0.0+26228.12

[2017-04-02 22:44] jcouv commented on #17797
CoreFx was updated to type-forward to System.Runtime (PR https://github.com/dotnet/corefx/pull/14786).
But this was done after the initial release of the ValueTuple package (4.3.0).
@ericstj is about to publish an updated package (for mono), which I suspect will also contain those type-forwards. I'll let him confirm if that's the case.

[2017-04-03 02:52] frdnga opened #17801 "No host_name when connecting to SQL Server"
I am facing problems deploying an ASP.NET Core Web API using Entity Framework Core.

When I connect to the SQL Server, the session has no host_name, in development there's no problem and works fine, but the production servers have a Logon Trigger that checks the host_name and the login_name to grant access, so I'm getting the error Logon failed for login 'user' due to trigger execution.

When I co

[2017-04-03 03:13] alextolp opened #17802 "System.Net.Security.SslStream - AuthenticateAsClientAsync is not presenting intermediate certs unless they are installed in the cert store"
SslStream::AuthenticateAsClientAsync is not presenting intermediate certificates unless they are installed in the cert store. I've attached a repro of the issue and confirmed this behavior with Windows and Mac.

The desired behavior is that the contents of the X509CertificateCollection parameter should appear on the server side even if the certs are not installed in the cert store.

[SslStream.zip

[2017-04-03 03:18] jkotas commented on #17793
Note that the GC can move the objects between these two lines and swap the order of `first` and `second` in the address space. The simple obviously correct implementation is to pin the pointers. You can do it without pinning too, but it is tricky to get it right.

[2017-04-03 03:21] jkotas commented on #17793
The same API was discussed in https://github.com/dotnet/corefxlab/issues/827 as well.

[2017-04-03 03:35] danmosemsft commented on #16229
For `ReadOnlyDictionary` it seems only used on `internal IReadOnlyDictionary<K, V> GetView<K, V>()`. Can that simply be removed? I do'nt know if it's relied on by some interop infrastructure in some way.

[2017-04-03 03:36] davidsh commented on #17802
@alextolp Have you checked .NET Framework?  It is possible the behavior is the same.

cc: @bartonjs @CIPop

[2017-04-03 03:38] alextolp commented on #17802
Yes, the behavior is the same in .NET Framework, I tried 4.5.2 and 4.6.2.

[2017-04-03 04:00] jkotas commented on #16229
Hmmm, I have somehow missed this one. It cannot be removed - it is needed by interop. So we can either keep it as is and live with the dup, or move ReadOnlyDictionary to CoreLib.

[2017-04-03 07:47] #17722 closed

[2017-04-03 07:47] hughbe commented on #17722
This is an expected difference caused by a bug fix

[2017-04-03 07:50] karelz commented on #17722
@hughbe do you have the commit / bug number? Should we disable the test against it (or against this bug)?

[2017-04-03 07:53] hughbe commented on #17722
Issue: https://github.com/dotnet/coreclr/issues/9739
PR: https://github.com/dotnet/coreclr/pull/9754

The tests are being added in #17717 and have a comment and are disabled with netfx

[2017-04-03 08:05] karelz commented on #17722
Perfect, thanks!

[2017-04-03 08:34] devatwork commented on #14897
I've seen this issue consistently on Windows Server 2008 R2 running on .net core 1.0.

I'm using [ASP.NET Core Proxy](https://github.com/aspnet/Proxy) to proxy a number of requests to another application running on WebListener. Proxy internally uses [HttpClient](https://github.com/aspnet/Proxy/blob/1.0.0/src/Microsoft.AspNetCore.Proxy/ProxyMiddleware.cs#L17).

From the looks of it (applications se

[2017-04-03 09:10] JosVerburg commented on #14897
We've also tried to reproduce the issue with wget.
wget did not indicate an invalid response.

Fiddler also doesn't indicate an invalid response.

[2017-04-03 09:18] karelz commented on #13551
Given the lack of repro and very high cost, we will have to push this out into Future.
If there is a repro/traces we could look at, please let us know.

[2017-04-03 09:28] sbebrys commented on #17802
I have the same problem on Windows Server 2012 R2 but not in Win10

[2017-04-03 09:38] devatwork commented on #14897
I've written a test client for full framework, see https://github.com/devatwork/ReproduceUnrecognizedResponse. Interestingly enough full framework also things this is an issue on the server side. Stack trace:

[code]

This seems to suggest that the server application returns an invalid response.

[2017-04-03 09:47] hughbe commented on #13977
Looks like an issue in the implementation of TypeBuilder. We get caught in a loop in `TypeBuilder.IsSubclassOf`:

[code]

But there are more complex types than the case in which `p.BaseType == p`. E.g. circularity:
[code]

[2017-04-03 09:52] karelz commented on #13618
We triaged this one out into Future, because HttpListener is mainly compat API.

Estimate: 2w
Technical debt: not all tests were ported when the HttpListener component was ported. Requires multi-machine infrastructure design and work, not included in the estimate (+ ~4w).

[2017-04-03 10:01] hughbe commented on #13977
A fix would be to change the code for `TypeBuilder.IsSubclassOfType` to:
[code]

@jkotas this is actually a managed code issue rather than unmanaged. Maybe some kind of `InvalidOperationException` would be a good idea.

[2017-04-03 10:04] ViktorHofer commented on #14473
So as the decision was to stick with the incremented assembly version I guess we could close this issue? @karelz ?

[2017-04-03 10:06] karelz commented on #17523
@parismiguel did you get chance to follow up on @davidsh's questions?

[2017-04-03 10:09] devatwork commented on #14897
[RFC 2626](https://tools.ietf.org/html/rfc2616#section-9.4) and [RFC 2731](https://tools.ietf.org/html/rfc7231#section-4.3.2) states that a head request MUST NOT return a response body. See also the last paragraph of https://tools.ietf.org/html/rfc2616#section-4.3.

Now give the HTTP request/response pair reported by @JosVerburg:

[code]

As to my current understanding of the HTTP 1.1 spec, the re

[2017-04-03 10:12] gulbanana commented on #16322
Here's an example of the binding redirects I had to write recently to use Roslyn 2.0.0 in an old-msbuild test project.

[code]

[2017-04-03 10:13] karelz commented on #5120
We discussed this last week and decided to push it to Future.

We plan to replace WebSockets with ManagedWebSockets (which lack some other implementation that is currently supported).
It is too late to make it happen in 2.0 (we have higher priorities to finish and this is costly ~4w). We have it planned for 2.1 UWP (incl. beefing up ManagedWebSockets implementation) - at that moment it should be u

[2017-04-03 10:15] parismiguel commented on #17523
Hi @davidsh , thank you for your help. I've finally downgraded my visual studio to 2015 and build up a new project using asp framework mvc + web api which bundle the right libraries for http... everything is working just fine, incuding git sync!
Thank you @karelz for all your support!

[2017-04-03 10:31] karelz commented on #17523
OK, closing. If you find anything else concerning on another install, please let us know.
Thanks and good luck!

[2017-04-03 10:31] #17523 closed

[2017-04-03 10:38] karelz commented on #14473
I let @weshaggard / @ericstj decide here.

[2017-04-03 11:37] ViktorHofer commented on #17536
@JeremyKuhne Yes I did. Looked like the issues was already resolved. Sorry!

[2017-04-03 11:55] karelz commented on #16813
@mairaw just curious if you had chance to discuss it ...

[2017-04-03 12:12] fujiy commented on #14376
Hi guys, I'm afraid I can't make it work for Fast as I thought.

I worked in my tests, where I write de Debug Type proxy in my console app. But when I copy the same code to CoreClr and build it, i doesn't work. VS just says that can't evaluate it.

[2017-04-03 12:19] stephentoub commented on #12442
The concern with this was that it means the existing overloads effectively have a default value of true for the Boolean argument, and there's a strong preference amongst the API review team for the default value to be false.

[2017-04-03 12:35] JonHanna opened #17808 "dynamic does not correctly handle single-rank non-sz arrays"
The following non-dynamic unit test would pass:

[code]

However, changing the type of `d` to `dynamic` causes it to fail with an `InvalidCastOperation` reporting "Unable to cast object of type 'System.Int32[*]' to type 'System.Int32[]'."

[2017-04-03 12:39] JonHanna opened #17809 "dynamic code error messages mis-report array names."
E.g. with something like:

[code]

The error message is `"Cannot implicitly convert type 'int[*,*]" to 'string'` rather than `"Cannot implicitly convert type 'int[,]' to 'string'"`

Conversely single-rank arrays are described with something like `int[]` even when non-sz in which case there should indeed be an asterisk.

[2017-04-03 12:50] ViktorHofer opened #17811 "Omissions in types supported by both Desktop and Core - CannotSealType"
Parent: https://github.com/dotnet/corefx/issues/15255

The following types are sealed in netcore but not in netfx:
[code]

@karelz I think multiple area labels make sense here as this issue is like a container for discussions around CannotSealType errors.

[2017-04-03 12:56] ViktorHofer commented on #17811
System.Net.HttpVersion is defined in netfx like this:

[code]

In corefx HttpVersion is defined as a static class. Therefore we get those omission errors in ApiCompatBaseline.netcoreapp.netfx461.txt:

[code]

Should we leave it static as it is now? I think the Constructor Usage is like non-existing at all: https://apisof.net/catalog/System.Net.HttpVersion..ctor()

cc: @danmosemsft, @weshaggard

[2017-04-03 13:06] #17811 closed

[2017-04-03 13:07] ViktorHofer commented on #17811
All of these types are also sealed in netstandard20

[2017-04-03 13:08] ViktorHofer commented on #15255
@danmosemsft CannotSealType occurences:

[code]

All of these are also defined sealed in netstandard20. Therefore no action required.

[2017-04-03 13:10] vitek-karas opened #17812 "HttpWebRequest.SendRequest fails on UAP due to settting MaximumAutomaticRedirections to 50"
The UAP specific code in https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/netcore50/System/Net/HttpClientHandler.cs will throw PlatformNotSupportedException if the MaximumAutomaticRedirections is to set anything but 10 (citing WinInet behavior).
But the code in HttpWebRequest.SendAsync sets the property to the value from HttpHandlerDefaults which is 50. Basically any usage of t

[2017-04-03 13:30] karelz commented on #17811
For truly cross-cutting work, we have area-Meta :)
Multiple area labels = no responsibility :( ... it doesn't work well in my experience ...

[2017-04-03 13:30] jkotas commented on #13977
Or you can be circular via generic (`class G<T> : G<G<T>>`):

[code]

There are many types of cycles and other invalid structures that you can create using Reflection.Emit. I do not think it is practical to check for them in the Reflection.Emit APIs. It would basically mean building PEVerify tool into the Reflection.Emit APIs somehow.

[2017-04-03 14:13] ViktorHofer commented on #15255
@danmosemsft @weshaggard Is it intentionally that SHA*Managed, HttpVersion and RuntimeEnvironment types are sealed/static in netcoreapp and netstandard? It isn't that restricted in netfx

[2017-04-03 14:45] hughbe commented on #13977
I agree there are way to many patterns. All I really care about is making sure we don't loop forever. Maybe such patterns could be detected in a generic way, or are already detected in the class loader (c++ code). However, currently it's c# code that causes the infinite loop.

Not worth the engineering time right now, however.

[2017-04-03 15:21] alextolp commented on #17802
I've reproed this on Win10. @sbebrys have you tried the attached solution on Win10 and see the chain on the server side?

[2017-04-03 15:35] weshaggard commented on #13343
@danmosemsft because it isn't in .NET 4.6.1 (https://github.com/dotnet/standard/blob/master/netstandard/src/ApiCompatBaseline.net461.txt#L66) It is one of those edge types that is part of the standard but not in desktop.

[2017-04-03 15:40] weshaggard commented on #17797
This is because ValueTuple hasn't been added to the shared framework yet. I'm going to take care of this today.

@daxian-dbw you can workaround this issue by referencing the latest System.ValueTuple package from myget (https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.ValueTuple/4.4.0-preview1-25203-01).

[2017-04-03 15:41] ericstj commented on #16322
As @gulbanana suggests you can workaround this by manually specifying the bindingRedirects in the old tooling.  For MSBuild based tooling please see https://github.com/Microsoft/msbuild/issues/1310 that is tracking missing bindingRedirects for dlls.

Closing this issue since the problem is in the tooling.

[2017-04-03 15:41] #16322 closed

[2017-04-03 16:07] ericstj commented on #17278
Sounds to me like you have an old NuGet since it's saying netstandard2.0 is not compatible with netcoreapp2.0.  I don't see anywhere in those instructions info about updating VS / nuget vsix but that's what's required for this to work in VS.

[2017-04-03 16:21] valeriob commented on #984
To be honest, going linux to run on small devices is very important for iot scenarios.
Very often we have to interact with complex machines that expose just serial interfaces, this scenario is growing very very rapidly so providing support for linux serial devices should be in framework in my opinion.

[2017-04-03 16:24] steveharter commented on #13281
On the Win7 CI machine there was ~3% fail rate due to this error (15 failures out of 560 runs). No failures yet on Win10 CI machine.

I did not yet enable additional diagnostics for this error. PM me if you want access to these high-level results.

Note that although CI calls these "Win7" the real windows version is "Windows Server 2008 R2 Datacenter" with SP1.

[2017-04-03 16:26] mtraudt commented on #17278
Thanks. By old do you meant 3.5? That is what I have on the PC where I reported the problem. I will upgrade to 4.0 and try again later today.

[2017-04-03 16:29] danmosemsft commented on #17749
@Jiayili1 if this fails again please include output as we now have more logging.

[2017-04-03 16:32] daxian-dbw commented on #17797
@weshaggard it works fine after referencing to a recent version of `System.ValueTuple` package. Thanks!

I guess once `ValueTuple` is added to the shared framework, I won't need to reference to `System.ValueTuple/4.4.0-preview1-25203-01` in order to use  `Microsoft.CodeAnalysis.CSharp/2.0.0`, is that correct?

[2017-04-03 16:37] weshaggard commented on #17797
That's correct.

[2017-04-03 16:46] danmosemsft opened #17817 "NS2.0 members SHAxxxCSP missing from netcoreapp"
These were recently added to NS20. @steveharter they need implementing for Windows as well as [Unix](https://github.com/dotnet/corefx/issues/17163)

[code]

[2017-04-03 16:58] ericstj commented on #17278
You need a specific prerelease version of NuGet that has the compatibility mapping.  That appears to be missing from https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md.  @danmosemsft do you have steps for folks to use VS for this, or only commandline?

[2017-04-03 16:59] danmosemsft commented on #984
@valeriob currently we (.NET team) don't have work scheduled to port to OSX/Unix. As mentioned above, we'd like to see a port too (using the same API surface). We are happy to help coordinate an effort in some light way.

[2017-04-03 17:00] danmosemsft commented on #16229
This seems low priority I'll leave it and leave this issue open.

[2017-04-03 17:04] tarekgh commented on #16229
@danmosemsft could you please mark the issue as Future again when fixing the stuff that need to go in v2?

[2017-04-03 17:28] ericstj opened #17819 "Ensure we build packages for everything that's been impacted by `net461` > `netstandard2.0` remapping."
See https://github.com/dotnet/standard/issues/282.

We need to examine all the 1.1 packages to see if anything else is impacted in a similar way.

[2017-04-03 17:32] olegtk commented on #16322
@gulbanana, @ericstj That doesn't help, now 4.0.2.0 is not found. How do I know which version should I redirect to? My lib is just targeting .netstandard 1.3.

[2017-04-03 17:34] danmosemsft commented on #17278
I have not created VS steps except for the note at the bottom of https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md. Could you help augment that then?

[2017-04-03 17:38] ViktorHofer opened #17820 "Cryptography types in core and netstandard20 more restricted than in netfx"
These classes are marked as sealed (static) in core and netstandard but aren't in netfx:

[code]

We are getting a few omission errors:
- CannotRemoveBaseTypeOrInterface
- CannotMakeMemberNonVirtual
https://github.com/dotnet/corefx/issues/15255#issuecomment-291137517

Are these classes intentionally now more restrict than before (also in NS2.0)? Some members are also now not virtual anymore. Would

[2017-04-03 17:45] sokket commented on #13343
@danmosemsft does this help?

https://mc.int-dot.net/#/testResultHistory/corefx/ThreadPoolBoundHandleTests/FlowsAsyncLocalsToCallback?failureCount=20&onlyPullRequests=false&timeFrame=OneMonth

[2017-04-03 17:50] danmosemsft commented on #16229
@tarekgh thanks, I agree there's nothing must have for 2.0 here.

[2017-04-03 17:51] danmosemsft commented on #13343
@weshaggard got it, so why is it having this issue when I run tests locally with /p:targetgroup:netfx, but not apparently when the full run runs it

[2017-04-03 18:02] mtraudt commented on #17278
Okay thanks. After downloading NuGet 4.0 I was able to restore packages and build successfully if I manually added the package references to my csproj and used the CLI to build and run, but am still having problems if I try to install packages using VS. I will take a look at the updates to the dogfooding page when I have time and will help to augment if I can.

Probably unrelated, my test program

[2017-04-03 18:09] danmosemsft commented on #15255
@davidsh to answer whether `HttpVersion` is intentionally sealed -- breaking change from NETFX

[2017-04-03 18:21] gulbanana commented on #16322
I found out what versions to use by examining the contents of the bin/Debug folder and opening the DLLs with ilspy to discover their AssemblyVersion. I don't think this issue should be closed - it's a terrible UX and it will never be realistic to expect all .net hosts and tools to work around it.

[2017-04-03 18:25] danmosemsft commented on #15242
@ViktorHofer want to grab this?

[2017-04-03 18:28] davidsh commented on #15255
I think @stephentoub made the change to make it sealed.  We should "un-seal" it if it is different from NETFX.

[2017-04-03 18:31] danmosemsft commented on #15255
I made that comment based on the list above/the baseline, but I'm confused now as I don't see it sealed in our code or NS20: `public static class HttpVersion`. What am I missing..

[2017-04-03 18:31] weshaggard commented on #15255
See https://github.com/dotnet/standard/issues/91 about why HttpVersion is static. I suspect the others are similar.

@danmosemsft static implies abstract sealed type in metadata.

[2017-04-03 18:36] sbebrys commented on #17802
Sorry, my fault I have uncomplete chain when I use HttpClient on runtime win81-x64, when on win10 and debian everything looks ok.
But I test my custom cert validation callback using TcpClient with SslStream and there chain is complete (root, intermediate, server cert) on all runtimes.

[2017-04-03 18:38] safern commented on #17774
I did get a repro on this one by running:
[code]
Which is the test project that runs this tests by including them and defining constant `ReflecionOnly`.

The codepath that is failing is the tests ctor is under the #if ReflectionOnly condition:
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Xml/tests/DataContractSerializer.cs#L32

[2017-04-03 18:43] safern commented on #17774
I see the error. So DataContractSerializer.Option property is not available in Desktop at all, so that is why it fails when trying to get the property setter through reflection. Will add netcoreapp condition in the #if

[2017-04-03 18:44] alexperovich commented on #13343
@danmosemsft I think this behavior is not by design. AsyncLocal should function correctly on both netfx and netcoreapp. I will add an ActiveIssue to the test.

[2017-04-03 18:46] danmosemsft commented on #17278
@AlexGhiondea can you take a look

[2017-04-03 18:48] terrajobst commented on #17116
@marek-safar

Since .NET Standard 2.0 can only model existing APIs it will not have RuntimeFeature in 2.0. I expect this type and some of the runtime features to become available with .NET Standard 2.1.

[2017-04-03 18:50] ericstj commented on #17819
Here's the set of packages in this category:
System.AppContext
System.ComponentModel.TypeConverter
System.Diagnostics.Tracing
System.IO
System.Linq.Expressions
System.Linq
System.Reflection
System.Reflection.TypeExtensions
System.Runtime.Extensions
System.Runtime.InteropServices
System.Runtime
System.Security.Cryptography.Algorithms
System.Security.Cryptography.Cng
System.Text.RegularExpressions

[2017-04-03 19:29] ericstj commented on #16322
That sounds like more reason to push MSBuild to fix automatic bindingRedirects.  AssemblyVersion mismatches are a reality of the package-based ecosystem.  The .NET Core loader handles them, but desktop still requires bindingRedirects.  We need a central fix for this.  Please ref-count the MSBuild issue or open a new one if you don't think its covered by existing issues.

[2017-04-03 19:30] maike9 opened #17833 "SqlDependency Class Support"
Does .Net Core/Entity Framework support SQL Dependancies and if not directly, is there a way in .Net Core to receive notifications when data changes in SQL Server?

[2017-04-03 19:31] alextolp commented on #17802
@sbebrys interesting! Do you mind sharing your solution with HttpClient? I'm not seeing a chain on the server side with HttpClient either, unless it's installed in the cert store where HttpClient is running.

[2017-04-03 19:32] danmosemsft commented on #13343
Thanks Alex! It almost sounds like NETFX may be the one with the issue? Your call as to whether this is future or not once you disable the test.

[2017-04-03 19:35] davidsh commented on #17802
Regarding HttpClient, this GitHub issue is about SslStream.  SslStream is not part of HttpClient.  So, please keep the repro instructions specific to SslStream only.  If there are issues regarding HttpClient and TLS/SSL problems, please open a separate issue.  Thx.

[2017-04-03 20:02] ahsonkhan commented on #17414
Question: When does an API proposal issue get closed? The APIs have been updated according to this proposal already. Should this issue get closed?

[2017-04-03 20:55] ektrah commented on #17793
@ahsonkhan - `up-for-grabs` means pull requests welcome if/when this proposal gets the `api-approved` label?

@jkotas - What are the steps for pinning a generic `Span<T>`? Does that need slow span/fast span-specific support?

For now, I only need to check if two `Span<byte>` overlap; updated code for future reference below.

[code]

[2017-04-03 20:57] RavuAlHemio opened #17839 "SBCSCodePageEncoding with ExceptionFallback throws NullPointerException"
When decoding a byte array to a string using a single-byte character set code page encoding with `DecoderFallback.ExceptionFallback` as the decoder fallback, upon encountering a byte not defined in the encoding, the method `System.Text.SBCSCodePageEncoding.GetChars(Byte* bytes, Int32 byteCount, Char* chars, Int32 charCount, DecoderNLS decoder)` throws a `System.NullReferenceException`.

The expect

[2017-04-03 21:07] davidsh commented on #14897
This is interesting.  I tried out the revised repro. The one using .NET Framework for client size seems to throw the `PtotocolViolationException` right away (after the first iteration). The .NET Core client repro runs for a few hundred itereations and then throws the WinHTTP "The server returned an invalid or unrecognized response" error.

I have sent the trace logs to the WinHTTP team for analysi

[2017-04-03 21:14] ksatokcc commented on #17710
Thank you @ericstj! Deleting the nuget package cache did the trick!

[2017-04-03 21:14] #17710 closed

[2017-04-03 21:41] davidsh opened #17842 "Desktop and Core behavior differences in System.Net.Requests"
There are some differences in behavior between .NET Framework (Desktop) and .NET Core which are causing these tests to fail:

    Discovering: System.Net.Requests.Tests
    Discovered:  System.Net.Requests.Tests
    Starting:    System.Net.Requests.Tests
      System.Net.Tests.HttpWebRequestHeaderTest.Ctor_VerifyHttpRequestDefaults(remoteServer: http://corefx-net.cloudapp.net/Echo.ashx) [FAIL]

[2017-04-03 21:50] ViktorHofer commented on #15242
@jkotas What is the purpose of these extension methods? They are calling exactly the same methods in the RegistryKey class.

[2017-04-03 21:50] jeffbi opened #17843 "On Linux, on an NTFS volume, DirectoryInfo.Attributes does not include ReparsePoint"
Given this directory structure on an NTFS volume
[code]
running `dir` from the Windows command line shows
[code]
Moving the NTFS device to a Linux box, `ls -a` from bash shows
[code]

Invoking the `DirectoryInfo` constructor with `"junction-to-other"` results in a DirectoryInfo object whose `Attributes` property contains `Directory`, but not `ReparsePoint`. Constructors giving the other two types

[2017-04-03 21:50] jeffbi opened #17844 "On Linux, on an NTFS volume, DirectoryInfo.Delete() fails to delete the junction"
Given this directory structure on an NTFS volume
[code]
running `dir` from the Windows command line shows
[code]
Moving the NTFS device to a Linux box, `ls -a` from bash shows
[code]

Creating a `DirectoryInfo` object for `"junction-to-other"` results in an object whose `Attributes` property has `Directory`. However, invoking `Delete()` on that object throws a `System.IO.IOException` with `HRESULT

[2017-04-03 22:06] tijoytom commented on #17569
Fixed by #17835

[2017-04-03 22:06] #17569 closed

[2017-04-03 22:13] ahsonkhan commented on #17793
Yes, as per: https://github.com/dotnet/corefx/blob/860b6f14c8f4186aecf061befa1fbe7b02349999/Documentation/project-docs/issue-guide.md

[2017-04-03 22:13] adityamandaleeka commented on #17614
Looks like the bug is in the managed layer: [`GetEnvironmentVariableCore`](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Environment.cs#L679) doesn't handle the case where an environment variable is found but has length 0. If this happens, it effectively just does `StringBuilderCache.Acquire` followed by `StringBuilderCache.GetStringAndRelease`.

I'll send a fix.

[2017-04-03 22:38] safern commented on #16716
Python also throws an error when trying to set socket size to 0 on Mac but in Windows it doesn't. So I think we should add Mac specific test expecting the exception.

Assigning myself.

[2017-04-03 22:45] danmosemsft commented on #16781
" License transform needs tests" remains

[2017-04-03 23:09] billwert commented on #16782
We now have several examples where the current implementation does the wrong thing in a way that is silent and a developer might not notice.

It seems like we need to make some change. Here's how I see the pros and cons of the options:

| | Pros | Cons / Risks
| --- | --- | --- |
| Throw PSNE | * Developers are made aware of the potential for an issue deterministically <br> * Developers make the f

[2017-04-03 23:12] danmosemsft commented on #17797
@daxian-dbw sounds like this is resolved, I"ll close , feel free to reopen

[2017-04-03 23:12] #17797 closed

[2017-04-03 23:21] danmosemsft commented on #17763
@hughbe was this a failure in a core run or a netfx run? the latter would suggest a bug in netfx itself, which is less interesting/actionable.

I can't tell from your PR because I guess you rebased

[2017-04-03 23:23] danmosemsft commented on #17614
@adityamandaleeka do you believe this also needs to be addressed (protected against going off end)?

https://github.com/dotnet/corefx/issues/17614#issuecomment-289946833

[2017-04-03 23:28] omajid commented on #17614
`environ` is an array of null-terminated strings. Going one-past the last character of a string should point to the `null`. That should be safe if it's only used with functions that check for the end of the string before going past it, no?

[2017-04-03 23:28] danmosemsft commented on #16782
@terrajobst hasn't weighed in yet.

[2017-04-03 23:29] adityamandaleeka commented on #17614
Yup. That part is fine.

[2017-04-03 23:39] alukyan opened #17852 "Custom SNI (Server Name Indication) support in HttpClient"
I have a case where I need to establish HTTPS connection to an endpoint that may hosts several virtual HTTPS endpoints which name does not match the endpoint name and I need to use SNI to select a virtual server. https://en.wikipedia.org/wiki/Server_Name_Indication

Experiments with HttpClient show that Client Hello message contains the same name as the endpoint name and I cannot find a way to cha

[2017-04-03 23:49] #17774 closed

[2017-04-03 23:49] #17433 closed

[2017-04-03 23:52] ViktorHofer commented on #17708
@saurabh500 @YoungGah can you please take a look into it. are there any arguments why these types shouldn't implement these interfaces?

[2017-04-03 23:56] bartonjs commented on #5008
Now that we have the netfx runs running and we have better baselining support, this has effectively resolved itself.  Closing the issue.

[2017-04-03 23:56] #5008 closed

[2017-04-04 00:03] Priya91 commented on #17010
I was able to repro this by using the linux docker container from windows, whereas using the same container from my linux box I was not successful, that is weird.

From looking at the callstack it seems like the request stream is disposed of, when the curl invokes send callback to read the request data. Will follow up.

[2017-04-04 00:21] mellinoe commented on #3708
@danmosemsft You closed this from the other PR (https://github.com/dotnet/coreclr/issues/10652). Was the issue here actually addressed, though (regarding getting an option to attach a debugger, etc.)?

[2017-04-04 00:44] danmosemsft commented on #3708
My assumption (bad?) was that we never expect CoreCLR to be able to throw UI so this would never be possible.

Thinking about it though, I could imagine environment variables or somesuch "COMPlus_Attach_On_Nth_Assert" "COMPlus_Ignore_Nth_Assert". Probably there's a better idea.

@jkotas have you an idea in mind?

[2017-04-04 00:45] danmosemsft commented on #3708
As long as there's a way (presumably the default setting) to avoid blocking test runs (presumably by FF) unlike in Desktop #17636

[2017-04-04 00:47] CIPop commented on #17390
@danmosemsft @joperezr I'm seeing the same bug, different files.
Should we add all of these to .gitignore?

[code]

[2017-04-04 01:02] danmosemsft commented on #17390
@CIPop I'm synced up to date and those lines are in there already (from 8c4f651e25d6ed4eaba663a32548f7aeae2c02bb)

are you up to date?

BTW if this is bugging you you could add to your personal gitignore since if they are out of date the build should not break.

[2017-04-04 01:03] danmosemsft commented on #17773
@brianrob, @vancem  ?

[2017-04-04 01:05] CIPop commented on #17390
Just rebased my branch. Trying again on a clean environment.

[2017-04-04 01:11] CIPop commented on #17390
Clean build (just created the repo on a new HDD) and I still see this.

Try creating a new repo then running:

`.\clean.cmd -all && .\build.cmd`

[2017-04-04 01:14] danmosemsft commented on #17614
Ah - right

[2017-04-04 01:16] danmosemsft commented on #17390
spooky. I"ll try it.

[2017-04-04 01:22] saurabh500 commented on #17708
@ViktorHofer

This can be brought in. The source of .Net Framework would be sufficient for this implementation.

I don't  see the value of implementing this API. This is because the API works with DpProviderServices https://msdn.microsoft.com/en-us/library/system.data.common.dbproviderservices(v=vs.110).aspx This API is not part of .Net Core.

ICloneable can be implemented for the types above. I t

[2017-04-04 01:23] davidsh commented on #17852
Have you tried to add the "Host" request header manually which might be different from your DNS name you use in your http://servername.com uri?

[2017-04-04 01:34] danmosemsft commented on #17390
OK I repro now. PR out. Maybe we should make this break the build

[2017-04-04 01:57] alukyan commented on #17852
We tried setting Headers.Host to a different value, but when looking at the protocol exchange in WireShark we still see that Client Hello message contains the same URI that is passed in request.

SNI feature is really useful to talk to HTTPS service behind a proxy to connect to secure service inside private network.
And number of languages support it:
* Python - `Connection.set_tlsext_host_name(na

[2017-04-04 02:06] geoffkizer commented on #17852
I agree, we should support this.

@davidsh, are you saying that this should work?  Is this just a bug?

@stephentoub FYI

[2017-04-04 02:14] noahfalk commented on #3708
Triggering Environment.FailFast engages WER on Windows, and with default machine configurations that will display UI. There are various registry keys or native APIs that can be called to adjust the OS WER policy on a global/per-app/per-process basis. I'm assuming our test runs already do the right thing to suppress/log these pop-ups? The same issue would have been present before your change throwi

[2017-04-04 02:16] danmosemsft commented on #17390
fixed

[2017-04-04 02:18] danmosemsft commented on #17839
I repro in latest 2.0

[2017-04-04 02:32] alukyan commented on #17852
To clarify, .NET protocol exchange contains Client Hello message, but it is always set to the same URI as the request and HttpClient does not provide means to change it to custom value.

Current SNI implementation in .NET will work only if an endpoint has multiple public DNS records, which is not always possible, especially with clusters where microservices are running behind application load bala

[2017-04-04 03:00] davidsh commented on #17852
There are no HttpClient nor HttpWebRequest APIs to specify an SNI name that is different from the DNS name. This is no support in either .NET Framework nor .NET Core for this in the HTTP stacks. This would API support as well as plumbing down to the transport layers (TLS/SSL) of the stacks in both Windows and *Nix.

And for SslStream class, we do not have SNI support either (although we have an ac

[2017-04-04 03:13] jkotas commented on #15242
These methods are collateral damage from the times where we tried to do a very fine grained layering of the framework surface. The extension methods like this were one of the tricks used to break cycles in the layering.

The fine grainer layering of the framework surface is gone for the most part, so these methods do have a great purpose anymore. They exist for backward compatibility only.

[2017-04-04 03:14] saurabh500 commented on #17801
What's the version of Sqlclient are you using? We made changes in .Net core after 1.1 to add the host name.

[2017-04-04 03:52] jkotas commented on #17414
Yes.

[2017-04-04 03:52] #17414 closed

[2017-04-04 04:09] brianrob commented on #17773
I believe we do own this, but took it over recently, so I do not have context on this change.  We will need to investigate this.  This issue is actually a duplicate of #10880, so I'll close this one.

[2017-04-04 04:09] #17773 closed

[2017-04-04 04:34] danmosemsft commented on #3708
@noahfalk right, I was assuming that WER is suppressed on the runs -- in fact, I thought we end up with dumps via `dumpling` -- which is why FF would be okay.

[2017-04-04 04:51] danmosemsft opened #17856 "Get tests building for Dataflow"
The tests are in `src/System.Threading.Tasks.Dataflow/tests` but they need a .csproj added that builds them successfully, and issues opened for tests that fail, with those disabled against that issue number.

[2017-04-04 04:56] danmosemsft opened #17857 "Dead tests in System.IO.Ports"
Should these be added to compilation, or deleted?

[code]

@willdean

[2017-04-04 05:02] danmosemsft opened #17858 "Apparently dead sources in S.Diagnostics.Tracing"
In a quick look there seems lots of dead code in tracing. Should any of it be being compiled, or possibly deleted?
@brianrob
[code]

Perhaps these also?
[code]

[2017-04-04 05:23] geoffkizer commented on #17852
@alukyan, thanks for explaining in more detail.

[2017-04-04 05:25] geoffkizer commented on #17852
I do wonder whether we should be checking for a Host header and simply using this in the SNI message.  It seems like this would make the common scenario work.  I'm trying to imagine a scenario where you want the SNI hostname to be different than the Host header, and I'm not coming up with anything.

[2017-04-04 06:00] danmosemsft opened #17866 "Review "dead" code (not getting compiled)"
None of these are getting compiled. All either need deleting, or hooking up to the build , as appropriate.
(I've either opened issues or put up PR's for all the other dead files I found)

- [ ] Common/tests/System/Net/Sockets/Performance/SocketTestClientAPM.cs
- [ ] System.CodeDom/src/System/CodeDom/Compiler/CompilerParameters.Evidence.cs
- [ ] System.CodeDom/src/System/CodeDom/Compiler/CompilerRe

[2017-04-04 06:03] NicolasDorier commented on #17010
This is really weird. My only guess is that default of memory setting for containers on Windows is different from linux.  You might give a try to  https://docs.docker.com/engine/admin/resource_constraints/ .

[2017-04-04 06:09] devatwork commented on #14897
I've observed the same behavior. The .NET Core client seems to throw after a seemingly random number of iterations. The Fiddler logs did not show any difference in response. It looks like a timing issue.

I think there is also a server bug, see [RFC 2616 section 9.4](https://tools.ietf.org/html/rfc2616#section-9.4) and the HTTP observed by @JosVerburg and me. If you look at the [application code](

[2017-04-04 06:25] jkotas commented on #17793
You need to cast `DangerousGetPinnableReference` to `ref byte` using `Unsafe.As`.

[2017-04-04 06:36] jkotas commented on #3708
Agree - this should be done by registering a callback that can be used to customize the experience for given app model.

There is a prior art for it in CoreRT: https://github.com/dotnet/corert/tree/master/src/System.Private.DeveloperExperience.Console/src provides the assert dialog experience for console apps; and we have an alternative implementation of the same for .NET Native for UWP that displ

[2017-04-04 07:06] tmds commented on #16201
@Priya91 don't know if you saw I provided some additional packages.
@Priya91 @karelz @stephentoub The packages built by Red Hat for RHEL use OpenSSL.

[2017-04-04 07:37] PawelGerr opened #17870 "Can't join IPv6 multicast group on Linux"
I'm getting an error when trying to join a multicast group with an IPv6 address on ubuntu 16.04.
I get no errors when using IPv4 address or when executing the same code on windows 7 and 10.

The issue https://github.com/dotnet/corefx/issues/14684 is similar but not the same because I have no problems getting udp multicast packages using IPv4.

dotnet version: 1.0.1
OS: ubuntu 16.04 x64

Error occu

[2017-04-04 07:43] ViktorHofer commented on #15242
Thank you Jan! Backwards Compatibility is a strong argument. As I guess this is new in core / wasn't correctly implemented before, wouldn't it make sense to get rid off it now and for all?

[2017-04-04 07:52] karelz commented on #15242
If it shipped in .NET Core 1.0 or 1.1, then it is compat against that :(

[2017-04-04 07:52] karelz commented on #15242
If it is new in 2.0, then we can still correct our mistakes.

[2017-04-04 07:57] willdean commented on #17857
`Sleep.cs` can be deleted, it's just a command line delay tool - I don't know why it's here at all.

The other two are stand alone tests (one of which requires manual cable plug/unplug) which don't feel like a good fit for automated test.  I'm not really sure they're a good fit for any kind of test other than for the guy who was working on those particular bugs at some distant point - if they disa

[2017-04-04 08:01] ObsidianPhoenix opened #17871 "Dataflow: Add options for Task Faulting"
When using a `DataBlock` in `Tpl.DataFlow`, if a task in the block becomes faulted, then the entire block shuts down and must be completely re-initialised before it can be used again.

For example

    var block = new ActionBlock<Action>(a => a.Invoke());

    block.Post(() => Console.WriteLine("First Item")); //Printed
    block.Post(() => Console.WriteLine("Second Item")); //Printed
    block.Po

[2017-04-04 08:06] karelz commented on #4481
@hughbe in future, please ping issues when you grab them, especially if they are assigned -- it helps to avoid duplicated work. Thanks!

[2017-04-04 08:14] hughbe commented on #4481
Oh sorry my bad!

[2017-04-04 08:24] ObsidianPhoenix commented on #17871
As an extension to this, would it be necessary/preferable to provide some mechanism for draining these faulted items off the block? Or would it be acceptable to simply drop the message?

A `LinkTo` option could be supplied to allow faulted items to flow into another datablock. e.g.

`block.LinkFaultTo(DataflowBlock.NullTarget<DataFlowTaskFaultException>());`

This would allow developers to constru

[2017-04-04 08:26] karelz commented on #4481
No worries ... we appreciate your help either way ;-)

[2017-04-04 08:58] ViktorHofer commented on #15242
It already shipped with 1.0: https://github.com/dotnet/corefx/blob/release/1.0.0/src/Microsoft.Win32.Registry.AccessControl/ref/Microsoft.Win32.Registry.AccessControl.cs

In both 1.0 and 1.1 the net46 implementation is missing the "this"...

[2017-04-04 09:06] ViktorHofer commented on #17708
Thank you @saurabh500! I looked into it before and a 1:1 implementation from netfx isn't possible as for ICloneable the SQL classes changed dramatically (I have no idea what props need to be cloned now) and the IDataRecord is also somehow different now.

Can you take this issue?

The omission of the IServideProvider sounds reasonable and I will mark it as a intentional change from netfx.

[2017-04-04 09:25] omariom commented on #17871
I would do this:
[code]

[2017-04-04 09:27] #14987 closed

[2017-04-04 09:27] #17659 closed

[2017-04-04 09:58] hughbe opened #17872 "Compat bug in System.ComponentModel.Annotations tests for invalid RangeAttribute params"
Example test:
[code]

On netfx this test passes - `Exception` is thrown.
On netcore this test fails - `ValidationException` is thrown.

This was introduced when porting the library to .NET core, as `TypeDescriptor` did not exist.

From the reference source (https://github.com/Microsoft/referencesource/blob/4fe4349175f4c5091d972a7e56ea12012f1e7170/System.ComponentModel.DataAnnotations/DataAnnotatio

[2017-04-04 10:03] hughbe opened #17873 "Compat bug in System.ComponentModel.Annotations tests for validating PhoneAttributes"
The following phone numbers (obviously invalid) are valid with .NET core, and invalid with netfx.

[code]

On netfx: test passes
On netcoreapp: test fails

This regression was likely caused by #4319

I suggest this is triaged as a .NET core bug.

[2017-04-04 10:33] ObsidianPhoenix commented on #17871
@omariom I've done that in my use case at the moment, but it seems like something that would be better suited in the core product.

My real scenario was actually in the predicates on the `LinkTo`, rather than the Block itself. In an ideal world this suggestion would cover that too, but I think it has some merit on its own even without covering the predicates.

e.g.

    var block = new TransformBl

[2017-04-04 11:48] #16716 closed

[2017-04-04 13:06] svick commented on #17871
I think that having an option to easily ignore exceptions is a bad idea. Most of the time, exceptions should be handled, not ignored. Ignoring exceptions is sometimes the right option, but the library should not guide you to do that.

[2017-04-04 13:19] stephentoub opened #17878 "NameResolutionPalTests.GetHostByName_HostName failures in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_release_prtest/2914/consoleText
[code]

[2017-04-04 13:39] stephentoub commented on #17870
@PawelGerr, have you tried just writing a little C program that tries to set the equivalent option and running it on the same machine?  Does that work?

[2017-04-04 13:42] stephentoub commented on #13551
Yes, but that backport hasn't shipped as part of any 1.1 release... it'll be part of the next one whenever that is.

[2017-04-04 13:50] damtur commented on #13551
@stephentoub Can you maybe point me to some guide how to build and run dotnet2 / dotnet 1.1 from the 1.1.0 branch? I'm still trying to find that without any luck. So far I've found information in documentation that it is easy :)
Ideal would be a docker container with everything in in (the newest version of dotnet core 2 / dotnet core 1.1)

[2017-04-04 14:04] DerekStrickland commented on #9996
Is there any update on this issue?

[2017-04-04 14:09] stephentoub commented on #17878
Again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_debug_prtest/2922/

[2017-04-04 14:12] stephentoub commented on #17856
@danmostmsft, what is the problem here?  The dataflow tests are building and running fine as far as I can see:
[code]

[2017-04-04 14:39] ObsidianPhoenix commented on #17871
I'm not necessarily suggesting that we should *ignore* exceptions. But I am suggesting that the responsibility for managing an exception should be shifted to the developer without completely crashing out the Block.

I just think that failure of a single task on the block should not necessarily stop all tasks from ever being processed.

[2017-04-04 15:21] damtur commented on #13551
@stephentoub I've confirmed that the problem exists on dotnet v2.0:
Libcurl 7.38:
[code]
dotnet --version:
[code]

(Updating libcurl helped)

[2017-04-04 15:47] davidsh opened #17882 "Desktop and Core behavior differences in System.Net.WebClient"
There are some differences in behavior between .NET Framework (Desktop) and .NET Core which are causing some of these tests to fail or hang.

[2017-04-04 15:48] davidsh commented on #17882
cc: @safern

[2017-04-04 15:53] stephentoub commented on #13551
@damtur, that's the version of the `dotnet` tool, not of the version of the runtime/libraries (coreclr/corefx) being used, and the latter is where the fix exists.

[2017-04-04 15:54] weshaggard commented on #17819
System.Security.Cryptography.Cng was also recently removed from netstandard. @bartonjs has an issue https://github.com/dotnet/corefx/issues/17667 to add the package back for it.

[2017-04-04 16:14] joperezr commented on #17764
This is expected because new types were added to standard that made these two contracts be an implementation of standard, so we can't have netstandard implementations anymore. The right way to fix is to remove netstandard as it was done, but then add back platform specific configurations (netcoreapp, uap, netfx). Looks like the only thing that was done was to remove the netstandard configs, but we

[2017-04-04 16:14] omariom commented on #17871
`ContinueOnTaskFault ` is basically a directive to swallow exceptions.
I think exception swallowing should be done explicitly.

[2017-04-04 16:51] joperezr commented on #17390
@CIPop we can't add this files to the .gitignore because it is important for us to keep track of them in source control and to see them in PRs where new Api is added. Some of the changes you suddenly start seeing are due to external changes that affect baselines, for example: netsandard surface area changing, Targeting packs updated, or new/removed API in System.Private.CoreLib. For now there is n

[2017-04-04 17:01] stephentoub commented on #13551
@damtur, we have the directions at:
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md
I don't know if these are up-to-date or not; I typically do something very hacky and just overwrite my deployed binaries, but that's because I'm generally not going against nightlies and instead making a change to some binary and wanting to test that specific change locally and

[2017-04-04 17:03] danmosemsft commented on #16956
Still an issue. @mmitche ?

[2017-04-04 17:06] danmosemsft commented on #17749
Now we have more info m it's 'invalid argument'. No test name gets to the log, so probably someone needs to loop this test on Fedora 24.
[code]

[2017-04-04 17:11] jackmott commented on #16835
Is NEON the only architecture where this needs to be a constant?

[2017-04-04 17:31] saurabh500 commented on #17708
@ViktorHofer I can take this issue. What will happen if this is not addressed for 2.0 ?

[2017-04-04 17:38] ViktorHofer commented on #17708
Compatibility between netfx and core won't be guaranteed for System.Data.SqlClient. The reason why we are putting so much effort into aligning APIs (baselining) essentially is that there won't be any breaking changes for our Customer. E.g. they might need to cross-compile for NET461 and NETCOREAPP_20 because of diffent behaviors.

[2017-04-04 17:41] karelz commented on #16613
Moving back to up-for-grabs as @attilah doesn't currently have time to finish it.
Anyone interested in picking it up? Just let us know and feel free to build on top of @attilah's PR #16711.

[2017-04-04 17:46] danmosemsft commented on #17708
In theory for Netfx and NetCore they could gamble their codepath won't be followed or use runtime checks.

However if they use native compilation -- for example for an app in UWP -- it will fail to compile even if the codepath is not used at runtime (or at least if it can't determine that). So for UWP it's important that all imports exist, or #if is necessary (which aside from being ugly requires

[2017-04-04 17:48] saurabh500 commented on #17708
@danmosemsft and @ViktorHofer Thanks for the explanation. I have added a PR for SqlDataRecord. We will bring the other types in sync with Framework.

[2017-04-04 17:55] terrajobst commented on #17741
What's unclear to me is why you want an attribute over, say, a modopt or modreq. Do you need the ability to mark the definition of types and methods or only usages? Usages seems much more logical to me.

Assuming it's an attribute, I wouldn't use `System.ComponentModel.ReadOnlyAttribute`. The reason being that this type is designed to influence how properties are handled in the designer. That's a

[2017-04-04 17:56] mmitche commented on #16956
I believe this has been fixed.

[2017-04-04 18:03] terrajobst commented on #16836
So my understanding is we have a hierachy of these two classes of arrays:

In that case I'd prefer `IsVariableBoundArray`.

[2017-04-04 18:11] CIPop commented on #17390
I agree: reopening to track this work.

This isn't interesting for most CoreFX developers and I keep my opinion: build should _not_ change the source files.

Why not just have a PR twice a week in which one of you runs this generator tool. That way you can keep things in sync without interfering with everybody's enlistment.

[2017-04-04 18:12] CIPop commented on #17390
@danmosemsft : reopened because the <<title>> was not addressed by #17855. Only the baselines were updated.

[2017-04-04 18:17] Clockwork-Muse commented on #17866
Also /System.Threading.Tasks/tests/Task/TaskFromAsyncTest2.cs

Although given the state of some of those tests...

[2017-04-04 18:28] MichaelSimons commented on #13551
@damtur - since you are already using Docker, you could make use of the [dotnet-nightly repo](https://hub.docker.com/r/microsoft/dotnet-nightly/) which has the latest 2.0 bits available via the 2.0 tags.

[2017-04-04 18:29] NickCraver commented on #8112
FWIW, here's what we're using at Stack Overflow: https://github.com/MiniProfiler/dotnet/blob/master/src/MiniProfiler.Shared/Internal/StringBuilderCache.cs

I agree this really should be in the BCL, we're basically copy/pasting it to every high performance project with a `StringBuilder`.

[2017-04-04 18:32] CIPop commented on #9996
/cc @davidsh The summary of the sample is:

[code]

Tentatively marking as 2.0: This is a behavior difference between .Net Framework and .Net Core (to the point where if WinHttpHandler is ran on Framework the scenario works as expected).

[2017-04-04 18:35] #17819 closed

[2017-04-04 18:40] davidsh commented on #9996
So, this tells me that the problem is not the HTTP stack (HttpClient using WinHTTP). Rather, it is a process / delegation problem in .NET Core.

[2017-04-04 18:40] ericstj commented on #17819
I see.  I used 2.0.0-beta-25123-01 for this analysis.

[2017-04-04 18:40] davidsh commented on #9996
cc: @karelz

[2017-04-04 18:50] MattWhilden commented on #16022
FWIW, this issue was reported by another customer. I'm not sure what the accepted patter here is fur +1.

http://stackoverflow.com/questions/43175500/building-with-net-native-tool-chain-causes-error-with-missing-property-in-dynam/43195100#43175500

[2017-04-04 19:09] danmosemsft commented on #17390
@CIPop yep, fair enough. Note that the baselines in the library folders don't update the files, but they do trigger an error telling you to do /p:baselineallapoicompaterror=true.

If we did the same here most people would push without building this folder thus their CI job would fail.

The other option is to just make this build on demand eg make the project not build if baselineallapoicompaterror

[2017-04-04 19:35] ericstj commented on #17278
@mtraudt what is that test program targeting?  Can you share the project (and the assets file from the obj folder)?

[2017-04-04 19:39] bartonjs commented on #17820
@steveharter Did the SHA*Managed types end up sealed due to copy/paste, or did we have a technical reason we had to do it?

[2017-04-04 19:41] #15242 closed

[2017-04-04 19:46] bartonjs opened #17892 "Certificate Creation API"
API Goals:
* Be able to create self-signed certificates
* Be able to programmatically chain sign certificates
* Be able to issue a PKCS10 Certificate/Certification Signing Request to a CA.

Non Goals:
* To be a full CA product

API Proposal:

[code]

Changes from original version:

* CertificateRequest has required ctor parameters now.
   * SubjectName: Either an X500DistinguishedName or a string

[2017-04-04 19:48] bartonjs commented on #17892
Example usage:

[code]

[2017-04-04 19:49] bartonjs commented on #17892
@terrajobst Did you want to record the initial review notes?

[2017-04-04 19:55] davidsh commented on #8947
Ref: 7814885

Turns out that this is not a WinHTTP bug.  That comment dealt with a different issue #8945.

This issue is a behavior difference between .NET Framework and .NET Core:

[2017-04-04 20:00] bartonjs commented on #7129
There's been some reasonable discussion here, but in order to keep with the current trend of having an API proposal be the top entry in an issue (for ease of review) and not violate my personal hesitations of editing someone else's entry, I've created an API proposal at https://github.com/dotnet/corefx/issues/17892.

[2017-04-04 20:10] #17614 closed

[2017-04-04 20:19] bartonjs commented on #17339
I think that the way that OpenSSL (the library/tool) and Windows are noticing that they need to keep going is that the certificate has an Authority Key Identifier extension and a Subject Key Identifier extension, and that the AKID != SKID.

While there's some room for improvement here it's not a very common scenario to have the same subject and issuer names without being self-signed.

[2017-04-04 20:22] bartonjs commented on #17194
@vladimir-kazakov Is there a particular scenario that these enums are needed for? They are only used by types that themselves aren't part of .NET Core (or .NET Standard), so it doesn't seem to make a whole lot of sense to have them just as exported values.

[2017-04-04 20:26] bartonjs commented on #17104
Since the error reported is not exactly a happy state (NTE_INTERNAL_ERROR) and this hasn't reproduced leads me to believe that investigating it isn't going to be very fruitful.  CNG seems to have just been having a bad day.

If it happens again, then a new evaluation can be made.

[2017-04-04 20:26] #17104 closed

[2017-04-04 20:27] bartonjs commented on #17001
Marking as future.  This could still be done sooner, but isn't anything we'd consider holding up the 2.0 release for.

[2017-04-04 20:28] davidsh commented on #14897
We have finished the analysis of this issue. The problem is due to the server violating the RFC by returning an entity-body.  It is sending a 0-byte chunk.  The response to a HEAD request should be to send absolutely no bytes of data for the response body.

The reason for the difference in behavior between .NET Framework and .NET Core is due to race conditions and architectural differences.

.NET

[2017-04-04 20:30] #14897 closed

[2017-04-04 20:31] bartonjs commented on #16622
Changing to a pooled buffer seems reasonable, but since this is currently the same behavior as netfx I don't think that we need to commit to this for 2.0.  (PRs are always welcome).

[2017-04-04 20:32] bartonjs commented on #16227
@rture Are you still having problems? If so, do you have a reproducible example so we can investigate?

[2017-04-04 20:57] #8504 closed

[2017-04-04 21:00] stephentoub commented on #17866
Some of these (e.g. the `*.Evidence.cs` ones) were added by the Mono folks to be used in their builds.

[2017-04-04 21:02] terrajobst commented on #17892
Comments:

* We should use the existing namespace to `System.Security.Cryptography.X509Certificates`
* We should probably add this API to System.Security.Cryptography.X509Certificates.dll, which makes it .NET Core only for now. If we want to expose this API in .NET Standard, we'll have to add it in the right spots. We don't want to create OOB libraries as stop gaps because it just proliferates the

[2017-04-04 21:07] gnilsson2 commented on #16991
Deserialization of an 114Mbyte Dictionary, takes about 10 minutes, and uses 1Gbyte memory!
When finished only 316MBytes memory is used, 175MB for the dictionary.
(Serialization in < 1 minute)

**So there is a big potential for improvement here**

[code]

It seems that it's all forward references that needs fixup.
"If the reference in the serialized stream is a forward reference, then the Formatter

[2017-04-04 21:10] MichaelSimons commented on #13551
I [dockerized the test app](https://github.com/MichaelSimons/dotnetcore-post-bug/commit/96fe8268cdb20b93eb5412c9ef3005594dd16f59) @damtur created.  Running it as is yields the following:

[code]

I then [upgraded the app to use 2.0](https://github.com/MichaelSimons/dotnetcore-post-bug/commit/d11a4927bd7f8030426f50b36943c4923408a91a).  Running that yields the following results:

[code]

[2017-04-04 21:15] terrajobst commented on #17741
Talked with @OmarTawfik and @jaredpar afterwards.

1. We need an attribute because they want to be able to mark structs as read only.

[code]
2. The compiler will also use a `modreq<IsConst>` to mark types representing `readonly ref SomeType` in parameters, return types, and field declarations.

The `IsConst` type modifier already exists, which is why the ask is only for `ReadOnlyAttribute`. As ou

[2017-04-04 21:16] stephentoub commented on #13551
Thanks for confirming, @MichaelSimons!

[2017-04-04 21:19] bartonjs commented on #16029
Okay, so taking the static DER certificate `MsCertificate` data and converting it to Base64 (then back to bytes as ASCII) shows that Windows definitely reads the certificate, and Linux and macOS definitely don't.

I'm having trouble deciding where to draw the line here.  On Windows and macOS we just pass the bytes down and the system does what the system does.  On Linux it's a bit different, becau

[2017-04-04 21:26] terrajobst commented on #17275
We've finalized our set of principles to this list:

1. **CONSIDER** making rare methods on generic types extension methods to avoid forcing the code gen to instantiate all these methods
2. **CONSIDER** making methods on generic types extension methods when they should only apply to a specific instances, e.g. Span<byte> vs. Span<int>
3. **DO** prefer extension methods on interfaces over extension

[2017-04-04 21:45] danmosemsft commented on #17856
It's the wildcard that threw off my script.

[2017-04-04 21:45] #17856 closed

[2017-04-04 21:49] jruckert commented on #9996
I'm confident that this is working now (we are using WindowsIdentity.RunImpersonated) with Kerberos Delegation.

[2017-04-04 21:49] alexandertsema commented on #14762
@karelz we are implementing server dashboard and using WMI to retrieve some data.

[2017-04-04 21:50] jruckert commented on #9996
Here is the middleware we created: https://github.com/novaworksau/impersonate

[2017-04-04 21:51] alexperovich commented on #16240
possible dupe of #16688

[2017-04-04 21:53] danmosemsft commented on #17275
@safern  please make sure we have appropriate issues for any work

[2017-04-04 22:22] ericstj opened #17905 "Clean up dead code"
After enabling the mono linker for our .NETCoreApp binaries it has identified a number of places where we have dead code.

These fall into 3 categories.
1. Truly dead code that isn't used anywhere in the assembly.
    - This can be deleted
2. Source files that are used in one build of the assembly, but not all.  Common source files where some project uses the source, but not all.
    - These can b

[2017-04-04 22:28] danmosemsft commented on #17905
Here's a table listing the diff in bytes, in descending order. XML has an [issue already](https://github.com/dotnet/corefx/issues/16825)

|                                                       |             |          |               |            |
|-------------------------------------------------------|-------------|----------|---------------|------------|
| Library

[2017-04-04 22:30] danmosemsft commented on #17905
This is a dead easy issue for a new contributor to grab. Just open up one of the htm files, and go delete the sources marked in red.

[2017-04-04 22:31] mellinoe commented on #17905
An obvious thing that jumps out is that the generated `SR` class almost always has several members that are not used, and it shows up in all (or at least most) of our assemblies. That could give us some easy global improvements if we figured out how to fix that.

[2017-04-04 22:31] benaadams commented on #17275
@terrajobst could consider an addition to the list?

**DO** prefer extension methods to instance methods on generic types if they gain no extra benefit from having access to non-public members.

This is because the extension methods allow additional specialisation by type whereas generic instance methods allow no further specialization (from https://github.com/dotnet/corefxlab/issues/1314#issuecom

[2017-04-04 22:35] dhoehna commented on #16289
@danmosemsft

[2017-04-04 22:36] mellinoe commented on #17905
I also see that `private const` fields show up in some cases. They are used by that class's implementation, but are obviously not visible or used outside. It's probably not worth trying to "fix" those problems.

[2017-04-04 22:38] AtsushiKan commented on #16836
CoreRT and CoreCLR implementation work done (might take a couple of days to propagate everywhere.)

Just needs to be added to CoreFx ref assemblies and some simple tests.

[2017-04-04 22:39] erozenfeld commented on #17905
If the class implementation that uses the `private const` fields is reachable via an entry point visible outside of the assembly the fields are not removed.

[2017-04-04 22:42] stephentoub commented on #17275
For value types, instance methods can specialize implementation via guarded type checks that'll result in dead branches being trimmed by the JIT. But for reference types it's true. And extensions let you add methods that only apply to certain instantiations, e.g. TaskExtensions.Unwrap, which can't be done with instance methods... and that may have some been your main point (though at that point, i

[2017-04-04 22:44] saurabh500 commented on #17708
@ViktorHofer @danmosemsft
For System.IServiceProvider (SqlClientFactory) , is it better to omit it, or to add it with a NotSupported exception ? I have mentioned the reason for not supporting this interface above.
If we add the interface impl, then the behavior is not compatible with NetFx and if we omit it then there are problems that are going to surface as @danmosemsft mentioned.

Let me know w

[2017-04-04 22:49] danmosemsft commented on #17905
Presumably if any library has internals-visible-to (eg for unit tests) we would see false positives, right?

[2017-04-04 22:51] danmosemsft commented on #16289
@dhoehna yes please, I haven't had time and may not for a while.

As mentioned above, any new API should go through a process and @AnthonyDGreen but certaily bug fixes would be great. I'll assign to you. thanks!

[2017-04-04 22:52] erozenfeld commented on #17905
If assembly has InternalsVisibleTo, then all internals are considered roots as well.

[2017-04-04 22:53] danmosemsft commented on #17708
@weshaggard what do you think of the value of adding API that exists on desktop but throws PNSE on Core? Am I correct that generally it's goodness because it avoids breaking native compilation?

[2017-04-04 22:59] danmosemsft commented on #17905
OK. I think there are a few cases where tests use reflection to get internals. But those will be quickly discovered when we run tests.

[2017-04-04 23:00] benaadams commented on #17275
Only for ahead of time decided types. If a library author creates their own struct type that can't be added to the type check chain in the instance method and will always take the general object path.

Obviously if there is a gain from access to internals (like the dictionary `TryAdd` method) that's one thing. Or their is a specific reason (like Vector which are JIT/CPU recognised types)

However,

[2017-04-04 23:02] danmosemsft commented on #17905
@mellinoe

I already made a pass in Feb deleting 100's of dead strings. There will be very few left. I think these are cases where the method that references the string is itself trimmed. In which case of course the resx needs to be trimmed.

[2017-04-04 23:02] stephentoub commented on #17275
Sure, in general, but this thread is about types in the BCL... types like Dictionary aren't going to provide methods that operate on BensCoolType, even as an extension method. :smile:

[2017-04-04 23:05] mellinoe commented on #17905
@danmosemsft I'm referring to this block of members that is always emitted in the generated file:

[code]

Oftentimes (at least from my brief skimming 😄 ), only the first is used, and occasionally the second. In some of the ones I clicked, this was the largest chunk of the diff.

[2017-04-04 23:05] danmosemsft opened #17910 "Re-enable allow-list checker on HttpListener when it's reimplemented in managed"
Reminder to reverse https://github.com/dotnet/corefx/pull/17897 when it's ready for UWP, so we don't let any banned API slip thruogh.

[2017-04-04 23:08] #8945 closed

[2017-04-04 23:08] benaadams commented on #17275
You say that but... you could do
[code]
Then the CoolType library could add
[code]
😉

[2017-04-04 23:09] davidsh commented on #10958
Closed via #17894.

[2017-04-04 23:09] #10958 closed

[2017-04-04 23:11] benaadams commented on #17275
Or maybe you hate `string.IsNullOrEmpty` and `null`s in general for strings
[code]

[2017-04-04 23:12] benaadams commented on #17275
Or maybe you hate `string.IsNullOrEmpty` and `null`s in general for strings
[code]

Rather than writing `var value = dict.GetValueOrDefault(key) ?? string.Empty;`

[2017-04-04 23:14] #15243 closed

[2017-04-04 23:15] ericstj commented on #17905
I've already covered most of those: https://github.com/dotnet/corefx/pull/17825/commits/2277db969616a5ad4fd9f4a8118a3b4030ff62d3

We're already inner and outerloop clean.

[2017-04-04 23:20] svick commented on #17905
[The report for Dataflow](http://tempcoverage.blob.core.windows.net/report2/System.Threading.Tasks.Dataflow.diff.html) says that types in the `System.Threading.Tasks.Dataflow.Internal.Threading` namespace are dead. That's not true, they are dead in the default configuration, but there are other configurations that use them. See https://github.com/dotnet/corefx/pull/17912 for my proposed change.

I

[2017-04-04 23:22] ericstj commented on #17905
This report is only for NETCoreApp on Windows.  It's possible that another configuration still uses them and that would be caught by the -allConfigurations build if someone tried to remove them completely.  For cases like this you could improve the NETCoreApp configuration by if-def'ing/splitting the source as I mentioned in item 2 above.

[2017-04-04 23:28] stephentoub commented on #17275
I think what you're really pointing out is that the C# compiler only considers extension methods if it can't find an instance method, and thus defining an instance method prevents others from providing their own extensions with a more specialized signature.

[2017-04-04 23:33] #17555 closed

[2017-04-04 23:35] benaadams commented on #17275
Yes exactly

[2017-04-04 23:35] ericstj opened #17914 "Review package content for all packages"
Refactoring the build system and automatically harvesting past assets make it really easy for our packages to accidentally ship bits that are old or unnecessary.  Static validation makes sure that this won't cause install / ref-def issues, but it doesn't make sure that the packages are minimal.

We should review the package to make sure we aren't shipping anything we don't want.

[2017-04-04 23:37] danmosemsft commented on #17905
@erozenfeld We won't want to remove any consts simply because they're inlined by the compiler, because that loses code clarity. But some of the consts really are dead, and those we probably do want to remove.

For example in http://tempcoverage.blob.core.windows.net/report2/System.ComponentModel.TypeConverter.diff.html the whole of `VSStandardCommands` is marked dead. Some are visible (via `public

[2017-04-04 23:43] ericstj commented on #17914
/cc @weshaggard

[2017-04-04 23:51] karelz commented on #17275
I see @benaadams's point, however, I am a little bit hesitant to optimize for method overloading in the compiler. IMO it creates quite a lot of complexity people need to be aware of ... (imagine you call GetValueOrDefault and the library you depend on overloaded it, but you don't know it and all you look at is public docs on MSDN and you are puzzled why it returns something else ...)

If a type wa

[2017-04-04 23:52] karelz commented on #17275
@terrajobst is it worth saving the rules in some API design doc in the repo?

[2017-04-04 23:56] ericstj commented on #14595
@Petermarcu are we ready to commit to this one?  If so I'll make the changes in core-setup.

[2017-04-04 23:57] ericstj commented on #16912
@weshaggard I had a look and couldn't find anything that stuck out.   I know you did some removals.  Close this if you think you're done.

[2017-04-04 23:59] safern commented on #17275
@karelz I think that is a good idea as for the future we can have that in a doc instead of looking for this specific issue/comment.

Taking care of that.

[2017-04-04 23:59] Petermarcu commented on #14595
I think so unless anything else is blocking. This will get us to parity between shared and self contained.

[2017-04-05 00:02] erozenfeld commented on #17905
Right, we can't remove consts inlined by the compiler from the source. ILLink operates on msil and can't distinguish a truly dead constant from a constant that became dead since it has been inlined everywhere.

[2017-04-05 00:09] benaadams commented on #17275
My examples might have been poor; though the counter argument equally applies to virtual class methods; operator overloading etc.

Perhaps a real example would have been better; `Span<T>` is a good example. So its shipping with specializations for `byte` and `char` maybe later it will have `int`; however they have not been written yet. So as a user I can add specilizations for `int` right now at a

[2017-04-05 00:11] shmao opened #17916 "typeof in SG\System\Runtime\Serialization\Globals.cs"
The `typeof` used in PnToolChain\SerializationAssemblyGenerator\System\Runtime\Serialization\Globals.cs should be reviewed. Most of them probably need to be replaced by `LMR.TypeOf` or `RuntimeAssembly.GetType`.

[2017-04-05 00:20] safern opened #17917 "Remove Dictionary<K,V>.GetValueOrDefault instance methods and IDictionary<K,V>.GetValueOrDefault extension methods"
`IDictionary<TKey,TValue>` already has:

[code]

As extension methods in `CollectionExtensions`.

In this discussion: #17275 we've decided to remove this instance methods, see: https://github.com/dotnet/corefx/issues/17275#issuecomment-291636863

cc: @danmosemsft @ianhays

[2017-04-05 00:23] karelz commented on #17275
@benaadams your new example falls under [2] in @terrajobst's list. I agree with that one.
I am just hesitant to go overboard with that guidance (see my previous concern). Do you have other examples which would not fall under [2]?

[2017-04-05 00:35] karelz commented on #9996
@CIPop did you try it on latest 2.0?
If yes, any idea why @jruckert thinks it works now?

[2017-04-05 00:42] safern opened #17918 "Add TryAdd/Remove extension methods in CollectionExtensions"
We should add extension methods in CollectionExtensions:

 * `public static bool TryAdd(this Interface, T value)`
* `public static bool Remove(this Interface, out T value)`

For IDictionary.

* I was thinking probably ISet<T> but it already has Add and Remove which both return a bool indicating if the operation was successful.

* Also I thought about ICollection<T> but it would only make sense add

[2017-04-05 00:44] safern commented on #17275
I've opened issues:

* https://github.com/dotnet/corefx/issues/17917
* https://github.com/dotnet/corefx/issues/17918

To track the work needed for this issue. So I will go ahead and close this issue.

[2017-04-05 00:44] #17275 closed

[2017-04-05 01:31] CIPop commented on #9996
Thanks @jruckert for letting us know! That saves us a lot of time 👍

@karelz no, my changes were only triage. Closing now since an external customer reports the scenario works fine. This is in-line with @davidsh's hypothesis of this being a process/delegation issue in .NET Core, which makes sense since the _same_ WinHTTP code worked fine in Desktop.

@Tratcher, can you please give this a try on 2.

[2017-04-05 01:45] benaadams commented on #17275
No. 😄

[2017-04-05 02:00] danmosemsft commented on #17905
It also flags as dead any private default constructors, which we don't want to remove generally as they'r ethere to prevent any accidental parameterless construction. I assume that's unavoidable, for the same reason. They don't have any purpose after compile time as far as I can think.

[2017-04-05 02:16] davidsh commented on #17564
cc: @ericstj @karelz @weshaggard @stephentoub

[2017-04-05 02:37] dotnet-mc-bot opened #17920 "Test failure: System.Collections.Concurrent.Tests.ConcurrentStackTests/ManyConcurrentAddsTakes_CollectionRemainsConsistent(operations: 3000000)"
Opened on behalf of @Jiayili1

The test `System.Collections.Concurrent.Tests.ConcurrentStackTests/ManyConcurrentAddsTakes_CollectionRemainsConsistent(operations: 3000000)` has failed.

System.OutOfMemoryException : Exception of type 'System.OutOfMemoryException' was thrown.

        Stack Trace:

           at System.Collections.Generic.HashSet`1.SetCapacity(Int32 newSize, Boolean forceNewHashCode

[2017-04-05 02:38] Jiayili1 commented on #17920
Closed issue: https://github.com/dotnet/corefx/issues/15837

[2017-04-05 02:40] davidsh commented on #16761
Closing this issue for now since there is no repro on current release.

[2017-04-05 02:40] #16761 closed

[2017-04-05 02:41] davidsh commented on #17299
Setting to Future milestone since this is not critical to 2.0 release.

[2017-04-05 02:41] Jiayili1 commented on #15065
Failed again on build [20170405.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170405.01/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FOpenExeConfiguration1_UserLevel_PerUserRoamingAndLocal)

[2017-04-05 02:42] davidsh commented on #17621
While tests have been disabled...need to investigate to see if there is an app-compat behavior difference between .NET Framework and .NET Core.

[2017-04-05 02:42] Jiayili1 commented on #15066
Failed again on build [20170405.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170405.01/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FexePath_UserLevelPerRoamingAndLocal)

[2017-04-05 02:53] dotnet-mc-bot opened #17921 "Test failure: System.ComponentModel.Tests.DateTimeConverterTests/ConvertTo_WithContext"
Opened on behalf of @Jiayili1

The test `System.ComponentModel.Tests.DateTimeConverterTests/ConvertTo_WithContext` has failed.

Assert.Equal() Failure\r
    Expected: 12/05/1998\r
    Actual:   1998-12-05

        Stack Trace:

           at System.ComponentModel.Tests.ConverterTestBase.ConvertTo_WithContext(Object[,] data, TypeConverter converter)
       at System.ComponentModel.Tests.DateTimeCon

[2017-04-05 02:56] dotnet-mc-bot opened #17922 "Test failure: Color/InvalidColors"
Opened on behalf of @Jiayili1

The test `Color/InvalidColors` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at Color.InvalidColors()
Build : Master - 20170405.01 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64
  - x64-Debug
  - x64-Release

Detail: https://mc.dot.net/#/prod

[2017-04-05 02:58] dotnet-mc-bot opened #17923 "Test failure: CancelKeyPressTests/CanAddAndRemoveHandler"
Opened on behalf of @Jiayili1

The test `CancelKeyPressTests/CanAddAndRemoveHandler` has failed.

System.PlatformNotSupportedException : Operation is not supported on this platform.

        Stack Trace:

           at System.ConsolePal.ControlCHandlerRegistrar.Register()
       at System.Console.add_CancelKeyPress(ConsoleCancelEventHandler value)
       at CancelKeyPressTests.CanAddAndRemoveHandl

[2017-04-05 03:02] dotnet-mc-bot opened #17924 "Test failure: ReadKey/RedirectedConsole_ReadKey"
Opened on behalf of @Jiayili1

The test `ReadKey/RedirectedConsole_ReadKey` has failed.

Assert.Equal() Failure\r
    Expected: 42\r
    Actual:   -1073740791

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose()
       at ReadKey.RunRemote(Func`1 func, ProcessStartInfo psi)
       at ReadKey.RedirectedConsole_ReadKey()
Build : Master - 2017040

[2017-04-05 03:02] Jiayili1 commented on #17924
Closed Issue: #10845

[2017-04-05 03:04] Jiayili1 commented on #17924
Failed tests:
 ReadKey/RedirectedConsole_ReadKey
 RedirectedStream/ErrorRedirect
 RedirectedStream/InputRedirect
 RedirectedStream/OutputRedirect
 WindowAndCursorProps/Title_Set_Windows_longlength

[2017-04-05 03:42] karelz commented on #16290
@davidsh given that there is a workaround, do we still want to keep it as enhancement for future?
What exactly should we enhance?

[2017-04-05 03:45] karelz commented on #17299
@davidsh this looks like new API addition - i.e. api-needs-work, not enhancement.

Is it something we need to discuss on v-team? If it the addition is reasonable and non-controversial from your point of view, let's just submit it to API review (api-ready-for-review).

[2017-04-05 03:54] karelz commented on #6045
Reviewing 'easy' (formerly 'simple') label -- is it still clear what we want to do here? (and that we really want it?)

[2017-04-05 03:59] karelz commented on #17905
Marking as 'easy' per discussion above. I plan to point a few first-time contributors to this issue.

If anyone picks a file, please say so on this issue, to avoid duplication of work.

[2017-04-05 04:01] karelz commented on #17905
@danmosemsft do you want to add your how-to you sent to vendors here as well? Maybe adding it to the top-post would be best, with all exceptions / things to avoid ...

[2017-04-05 04:04] karelz commented on #17918
API was approved in https://github.com/dotnet/corefx/issues/17275#issuecomment-291636863

@safern technically speaking, `Remove` was not mentioned there. I believe we still didn't let the PR through, so that's why, right?

[2017-04-05 04:05] karelz commented on #17917
API review: Approved in https://github.com/dotnet/corefx/issues/17275#issuecomment-291636863

[2017-04-05 04:14] karelz commented on #17917
This is fairly easy, while important for 2.0 and interesting as it touches both CoreFX and CoreCLR:

Next steps:
1. Undo parts of https://github.com/dotnet/corefx/pull/16605
2. When that is checked in, undo also https://github.com/dotnet/coreclr/pull/8641
    * Don't do it before [1], otherwise you will block continuous updates of CoreCLR new bits into CoreFX

[2017-04-05 04:16] safern commented on #17917
I'm already in progress :)

[2017-04-05 04:18] alirobe commented on #2295
Just wanted to add that this is one of the top 5 issues on UserVoice for .net at the moment. I know many devs who really need this!

https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/category/31481--net
https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/4450357-implement-xslt-3-0-for-net

[2017-04-05 04:20] #12396 closed

[2017-04-05 04:28] karelz commented on #17275
@terrajobst I have updated your approval post https://github.com/dotnet/corefx/issues/17275#issuecomment-291636863 with links to tracking issues (easier to check all are covered) and I added explanation that by `TryRemove`, you actually meant `Remove` (it confused me for few minutes). Please let me know if that's incorrect.

[2017-04-05 04:40] karelz commented on #17918
Next step: Add the APIs with tests -- you can use example of recently added `IDictionary.GetValueOrDefault` extension method (also on `CollectionExtensions` type) - see parts of PR #16605

This should be fairly easy and straightforward to do.

[2017-04-05 04:42] danmosemsft commented on #17873
Since we almost bought the code over verbatim, this is curious?

[2017-04-05 04:44] karelz commented on #17873
@divega @lajones @ajcvickers can you please comment?

Great catch @hughbe! Out of curiosity, how did you catch it? A new test you just added? Or did you do netfx test runs on your own? (in which case I would be curious why we missed it in our runs)

[2017-04-05 04:45] karelz commented on #17872
@divega @lajones @ajcvickers can you please comment?

[2017-04-05 04:47] safern commented on #17918
That is correct it was incorrectly mentioned. Thanks for adding next steps, @karelz

[2017-04-05 04:53] karelz commented on #17872
While the exception in .NET Core seems "better", we should consider the impact of the breaking change vs. its benefit. I have a gut feel that compat will win in this case.

[2017-04-05 04:54] karelz commented on #17917
Ah, pity, would be great 'easy' issue - need a couple for new contributors ...

[2017-04-05 04:56] safern commented on #17917
Give this one to them then :) So that they can get in context with the code -- I was just taking it to clean up my area as fast as possible. Unassigned!!

[2017-04-05 04:59] karelz commented on #2295
@alirobe thanks for the context, that is useful!
To clarify: the ask on UserVoice is for XSLT 3.0. If we can implement it on top of .NET Standard 2.0, then also Desktop might benefit from it (out-of-band package). If it is not possible or if it is costly, then maybe it is incentive for people to move to .NET Core ;-)

cc @sepidehMS @krwq

@danmosemsft maybe something to focus on after 2.0/2.1? You

[2017-04-05 04:59] karelz commented on #2295
cc @terrajobst

[2017-04-05 05:01] safern commented on #17917
Edited your next step comment to add a little bit more detailed for new contributors.

[2017-04-05 05:02] hughbe commented on #17873
@karelz

I ran the netfx tests on my own:

I've submitted #17874 to get the tests passing, and fix #17872

@danmosemsft

I suspect it's due to the PR feedback commit for the security bulletin fix that was copied verbatim from netfx:
https://github.com/dotnet/corefx/pull/4319/commits/eb43ce036c26d8dab6be9f8a22b3a5a5233901d8

[2017-04-05 05:05] karelz commented on #17873
@danmosemsft @joperezr it is a bit surprising to me that we didn't catch it in our recent Desktop runs, yet @hughbe did catch it in his. Any idea why? Any differences in how we run Desktop tests? Could there be more?

[2017-04-05 05:08] nbarbettini commented on #17918
I'll grab this, I'd love to be able to contribute to corefx.

[2017-04-05 05:11] karelz commented on #17918
Great! Ping me when you accept invitation for collaborator. That way we can assign you issues ... assigning to myself temporarily.

[2017-04-05 05:13] nbarbettini commented on #17918
Done @karelz

[2017-04-05 05:17] karelz commented on #17534
Great blog post from first-time contributor in Roslyn @MaximRouiller to leverage: https://blog.decayingcode.com/post/contributing-to-open-source-my-first-roslyn-pull-request-fixing-the-bug/#What_I_learned

[2017-04-05 05:20] itanex commented on #17299
@davidsh @karelz Reviewing this against the HTTP/1.1 specifications
[RFC 7231, section 4: Request methods](http://tools.ietf.org/html/7231#section-4) and [RFC 5789, section 2: Patch method](http://tools.ietf.org/html/5789#section-2), it would be wise to include the CONNECT verb is also missing.

[2017-04-05 05:20] safern commented on #17918
Assigned to you @nbarbettini -- thanks for your passion in contributing. Please submit a PR when you're ready. I will be glad to help if you have any question.

[2017-04-05 05:21] karelz commented on #17918
Also, if you have any advice for improving docs for first-time contributors, please speak up -- see my plan in #17534 (or feel free to contribute those docs as well ;-))

[2017-04-05 05:30] karelz commented on #17918
cc @danmosemsft to help new contributors while I am on vacation :grin:

[2017-04-05 05:36] danmosemsft commented on #17873
@karelz I assume we did/would catch it. We just didn't open al lthe desktop issues yet.

[2017-04-05 05:43] dotnet-mc-bot opened #17925 "Tests under: System.Data.SqlClient.Tests.DiagnosticTest failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Data.SqlClient.Tests.DiagnosticTest/ConnectionOpenAsyncErrorTest` has failed.

Assert.Equal() Failure\r
    Expected: 42\r
    Actual:   -1073740791

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose()
       at System.Data.SqlClient.Tests.DiagnosticTest.ConnectionOpenAsyncErrorTest()
Build : Mas

[2017-04-05 05:46] karelz commented on #17534
Adding few new contributors, who might have either suggestions/opinions on the topic, or maybe even might be willing to help out in crafting the docs for their future selfs ;-)

@WinCPP @nbarbettini

[2017-04-05 05:46] dotnet-mc-bot opened #17926 "Tests under: System.Diagnostics.Tests.FileVersionInfoTest failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.FileVersionInfoTest/FileVersionInfo_Chinese` has failed.

Assert.Equal() Failure\r
    Expected: \r
    Actual:   (null)

        Stack Trace:

           at System.Diagnostics.Tests.FileVersionInfoTest.VerifyVersionInfo(String filePath, MyFVI expected)
       at System.Diagnostics.Tests.FileVersionInfoTest.FileVersionInfo_Chinese()

[2017-04-05 05:46] Jiayili1 commented on #17926
#10783

[2017-04-05 05:48] danmosemsft commented on #17905
@karelz done

[2017-04-05 05:48] karelz commented on #17534
Also for everyone interested -- check out #17619 about current plans and where help is needed most these days (you don't have to restrict to that of course).

[2017-04-05 05:48] dotnet-mc-bot opened #17927 "Test failure: System.Diagnostics.Tests.ProcessStandardConsoleTests/TestChangesInConsoleEncoding"
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.ProcessStandardConsoleTests/TestChangesInConsoleEncoding` has failed.

Assert.Equal() Failure\r
    Expected: 0\r
    Actual:   437

        Stack Trace:

           at System.Diagnostics.Tests.ProcessStandardConsoleTests.<TestChangesInConsoleEncoding>b__1_0(Int32 expectedCodePage)
       at System.Diagnostics.Tests.ProcessStandardC

[2017-04-05 05:49] dotnet-mc-bot opened #17928 "Test failure: System.Diagnostics.Tests.ProcessStartInfoTests/TestEnvironmentOfChildProcess"
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.ProcessStartInfoTests/TestEnvironmentOfChildProcess` has failed.

Expected: LOCALAPPDATA=C:\\Users\\DotNetTestRunner\\AppData\\Local\\Packages\\5cd54353-3ed7-4a6e-a72f-db349f28867c_v52bfwc2c21ha\\AC, PSModulePath=%ProgramFiles%\\WindowsPowerShell\\Modules;C:\\Windows\\system32\\WindowsPowerShell\\v1.0\\Modules, TMP=C:\\Users\\DotNet

[2017-04-05 05:52] dotnet-mc-bot opened #17929 "Tests under: System.Diagnostics.TextWriterTraceListenerTests failed with "System.UnauthorizedAccessException""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.TextWriterTraceListenerTests.DelimiterWriteMethodTests/TraceData_ObjectArray_Test(delimiter: \",\", filter: null, eventCache: null, source: \"Co1971\", eventType: Critical, ...` has failed.

System.UnauthorizedAccessException : Access to the path 'C:\\dotnetbuild\\work\\ebf6794e-5df9-4724-81f3-14b34f79c3af\\Work\\7db573da-e64a-4c09-909d-e

[2017-04-05 05:54] danmosemsft commented on #17920
@mellinoe

[2017-04-05 05:54] Jiayili1 commented on #17929
#10784

[2017-04-05 05:55] karelz commented on #17873
Ah, I thought we're mostly done already. OK, that makes sense now.

[2017-04-05 05:56] dotnet-mc-bot opened #17930 "Tests under: System.Drawing.PrimitivesTest failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Drawing.PrimitivesTest.RectangleFTests/EqualityTest_NotRectangleF` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Drawing.PrimitivesTest.RectangleFTests.EqualityTest_NotRectangleF()
Build : Master - 20170405.01 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64
  - x64-

[2017-04-05 05:59] dotnet-mc-bot opened #17932 "Tests under: System.Globalization.Tests failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Globalization.Tests.CultureInfoDateTimeFormat/TestSettingThreadCultures` has failed.

Assert.Equal() Failure\r
    Expected: 42\r
    Actual:   -1073740791

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose()
       at System.Globalization.Tests.CultureInfoDateTimeFormat.TestSettingThreadCultures

[2017-04-05 06:02] devatwork commented on #14897
I've reported this to the ASP.NET Core team, see https://github.com/aspnet/HttpSysServer/issues/339. Hopefully they will be able to address the issue soon.

@davidsh: I don't think we've confirmed that the original issue reported by @corinas and @Petermarcu is actually caused by the same issue, so we may want to wait for their input?

[2017-04-05 06:06] danmosemsft commented on #17591
@davidsh  so far as I know it is only possible to serialize the entire assembly, ie., all tests in System.Net.Http.Functional.Tests. That would presumably be unfortunate performance wise. Is it possible to rewrite this test so it doesn't rely on asserting it finished "quickly" ? That will be fragile no matter what.

[2017-04-05 06:08] Jiayili1 opened #17933 ""System.IO.FileLoadException", "System.IO.FileNotFoundException" & "System.TypeLoadException""
In UWP F5 tests, lots of tests failed with "System.IO.FileLoadException : Could not load file or assembly XXX" or "System.IO.FileNotFoundException : Could not load file or assembly XXX" or "System.TypeLoadException : Could not load type XXX"

Examples:
System.IO.FileSystem.AccessControl.Tests
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2F

[2017-04-05 06:08] Jiayili1 commented on #17933
Closed issue: https://github.com/dotnet/buildtools/issues/1092

[2017-04-05 06:10] danmosemsft commented on #10880
See this comment for cause
https://github.com/dotnet/corefx/issues/17773#issuecomment-290952601

[2017-04-05 06:10] dotnet-mc-bot opened #17934 "Tests under: System.IO.FileSystem.DriveInfoTests.DriveInfoWindowsTests failed with "System.UnauthorizedAccessException""
Opened on behalf of @Jiayili1

The test `System.IO.FileSystem.DriveInfoTests.DriveInfoWindowsTests/GetVolumeLabel_Returns_CorrectLabel` has failed.

System.UnauthorizedAccessException : Access to the path 'C:\\' is denied.

        Stack Trace:

           at System.IO.DriveInfo.get_VolumeLabel()
       at System.IO.FileSystem.DriveInfoTests.DriveInfoWindowsTests.GetVolumeLabel_Returns_CorrectLabe

[2017-04-05 06:13] danmosemsft commented on #17929
Test should not write into test folder. It's doing it here
[code]

it should be using the `TempDirectory` class to write to temp.

[2017-04-05 06:15] danmosemsft commented on #17934
We will have to see whether get volume label is allow-listed. Probably not, in which case we should break this test into two.

[2017-04-05 06:17] hughbe commented on #17930
The netfx tests are failing the same way:
[code]

[2017-04-05 06:27] kasajian opened #17935 "Why is the documentation so bad?"
It's only a problem with Microsoft components.

I see a component in NuGet whose name looks interesting.   I click on Project Site and I am immediately taken to the site for the project that produces the component, which explains what it is, etc.

But not with Microsoft components.   Here's a simple example.   I see a component in NuGet called "System.Threading.Tasks.Extensions".   I click on Proj

[2017-04-05 06:29] danmosemsft commented on #17935
@terrajobst

[2017-04-05 06:30] hughbe commented on #17930
...grabbing this one

[2017-04-05 06:31] danmosemsft commented on #12070
@onovotny is this resolved?

[2017-04-05 06:34] danmosemsft commented on #14967
@fubar-coder haven't heard back so i'm going to close .. feel free to reopen if needed

[2017-04-05 06:34] #14967 closed

[2017-04-05 06:35] danmosemsft commented on #14850
Seems this was fixed, correct?

[2017-04-05 06:35] #14850 closed

[2017-04-05 06:37] danmosemsft commented on #14614
@janvorli is your libcurl work relevant to this?

[2017-04-05 06:38] danmosemsft commented on #16956
@mmitche I  thought I saw it yesterday, but OK. I'll reopen if I see it again.