[2017-09-11 17:10] erikbra commented on #23306
Docs and a viable upgrade path and what-do-I-do-right-now-to-get-my-project-to-compile would be greatly appreciated. There are just *so* many rough edges on the .net core (don't even make me try mentioning the version - I simply can't ;)) tooling right now... It's really, really difficult trying to move slowly and smoothly to .net core from net461.

[2017-09-11 17:12] jkotas commented on #18747
This either need to be fixed for 2.1.0 or won't fixed. It won't be possible to fix this after 2.1.0.

[2017-09-11 17:12] jkotas commented on #23881
Unsafe APIs are important to have. If you have a simple unsafe API, it will be always relatively easy to call. We can make it harder by:

- Giving the API scary looking name. We choose to prefix the API name with "Dangerous".
- Making the API less discoverable: #18747.
- Allowing the API to be called from C# unsafe context only: https://github.com/dotnet/roslyn-analyzers/issues/972

[2017-09-11 17:15] weshaggard commented on #23899
No. We always prefer the newer version of the library and we include the newer version of System.Data.Common in .NET Core 2.0 shared framework so that will be preferred over a Package reference to the older version.

[2017-09-11 17:27] KrzysztofCwalina commented on #23881
For the purpose of this discussion: it's whenever you call APIs on Unsafe class. I totally get that it's not as bullet proof as C# unsafe block, but it might be better than what we have today.

[2017-09-11 17:36] mconnew commented on #23646
I missed that WinHttpHandler sets the *property* and not the field for the default UseProxy. This is a bug in WCF so closing again.

[2017-09-11 17:36] #23646 closed

[2017-09-11 17:48] karelz commented on #23504
Is it reproducible outside of Kestrel? (trying to narrow it down to fewer technologies and moving parts involved)

[2017-09-11 17:49] mellinoe commented on #18765
@KostaVlev Sounds good, go ahead! Make sure to check around and make sure nobody has added anything without consulting the list. I don't think anyone has, but it doesn't hurt to double check.

[2017-09-11 17:49] karelz commented on #20177
We understand that NSS has certain disadvantages. Using OpenSSL-based build is totally fine. We just need symbols, that's all.

[2017-09-11 18:12] mellinoe opened #23948 ""libcups" PInvokes need manual loading"
See: https://github.com/dotnet/corefx/blob/master/src/System.Drawing.Common/src/Unix/System.Drawing.Printing/PrintingServicesUnix.cs#L950

These functions need to be manually loaded in the same way that GDI+ functions are. Mono has a default Dllmap which maps "libcups" to "libcups.so.2". This is required on Ubuntu 16.04, at the very least.

I will probably fix this as part of consolidating / clean

[2017-09-11 18:16] mellinoe commented on #23948
There are also 2 GDI+ functions that need to be manually loaded right below that section. Technically these are libgidplus-specific functions, not real GDI+ functions from Windows.

[2017-09-11 18:24] ianhays commented on #23578
I like the idea of this from a design perspective e.g. if we were starting anew.

However, my issue with this proposal is how many changes it would require devs to make i.e.

I don't think that being able to have a shared interface with the `Count` property is enough of a convenience to justify those breaking changes.

Because of the required breaking changes, it would be very unlikely that we wou

[2017-09-11 18:26] ericstj commented on #23306
@terrajobst created a doc as an issue here: https://github.com/dotnet/standard/issues/481

[2017-09-11 18:26] ianhays commented on #23515
going by @ellismg 's comment [here](https://github.com/dotnet/corefx/issues/1534#issuecomment-143086216), this code should be removed without worry.

[2017-09-11 18:46] kingces95 commented on #23912
Likely fixed by https://github.com/dotnet/corefx/pull/23946.

[2017-09-11 18:48] #23912 closed

[2017-09-11 18:49] ericstj commented on #23887
I think the downside with even the caching is that ProcessManager fetches all the PIs for the entire machine and then throws them away: https://source.dot.net/#System.Diagnostics.Process/System/Diagnostics/ProcessManager.Windows.cs,3d8819b2e143fe81

[2017-09-11 19:34] dnickless commented on #23887
Yeah, I've seen this. I'm just thinking that this is a one-off hit when you access any property from the `ProcessInfo` the first time like `ProcessName` etc. But then it should be fast. So I am having difficulties in seeing how this would cause performance problems to the internal guys that @danmosemsft  quoted here:

Nonetheless, I'll look into that bit and see what can be done.

[2017-09-11 19:47] ahsonkhan opened #23952 "[uapaot] Span indexer fails with IndexOutOfRangeException for reference types"
Test disabled in: https://github.com/dotnet/corefx/pull/23905

**The Span tests fail for uapaot when we try to access the elements of a Span of a reference type like string using the provided indexer:**
[code]
[code]

[2017-09-11 19:49] ahsonkhan opened #23953 "[uapaot] Unsafe RefAreSame test fails for uapaot"
Test disabled in: https://github.com/dotnet/corefx/pull/23905

**The Unsafe.RefAreSame test fails on uapaot:**
[code]

[code]

[2017-09-11 19:54] DmitryNaumov opened #23954 "Provide the way to control how HashSet<T> and Dictionary<T, V> grows"
Is it possible to provide the way to control how HashSet and Dictionary expand their storage? Now it always doubles current size and takes next prime number as capacity. Sometimes it is too wasteful and even if you now capacity from the beginning it doesn't prevent from wasting a lot of memory ([here](https://stackoverflow.com/questions/46068944/how-to-avoid-extra-space-allocation-when-using-stand

[2017-09-11 20:04] ericstj commented on #23887
IIRC The folks reporting the bad-behavior had a case of some logging code calling `Process.GetCurrentProcess().ProcessName` so they weren't caching the process and every call ended up enumerating all processes on the machine.

[2017-09-11 20:11] dnickless commented on #23887
That's what I suspect, too. Mind you, that should be a quick one to fix, shouldn't it?

[2017-09-11 20:20] ericstj commented on #23887
I think the challenge with making it a singleton is that it may be mutable.  For instance: what happens if you Dispose it? I haven't looked deeply at this but there may be other similar issues.

[2017-09-11 20:31] danmosemsft commented on #23887
I don't feel strongly about this one for the reasons you state. However it seems like it's a case where we can make an easy change to help anyone using this questionable pattern of `Process.GetCurrentProcess().ProcessName`. We coudl have easily have implemented it this way in the first place.

[2017-09-11 20:33] yoelkohn commented on #23827
It's back up. Thanks!

Yoel Kohn
SEVP Engineering
Bellhop Solutions

On Sat, Sep 9, 2017 at 12:49 PM, David Shulman <notifications@github.com>
wrote:

[2017-09-11 20:46] danmosemsft commented on #23928
This should be fixed in 1.1 and 1.0 by 545580a e86a00f on Friday.

[2017-09-11 20:47] danmosemsft commented on #23928
1.1 is fixed, 1.0 results aren't complete.

[2017-09-11 20:49] danmosemsft commented on #20325
I believe it still needs modifying to reference 2.0 shipped binaries. @weshaggard is @mellinoe unblocked from doing that now? Is there anything else you need him to do to make this ready to ship in hte metapackage?

[2017-09-11 20:53] mellinoe commented on #20325
@danmosemsft The only thing we're waiting for now is the re-branding of corefx/master to "preview1" instead of "preview2". If we ship a version now, there is some upgrade-related ugliness around the fact that newer versions of the package (if we wanted to ship them) would always have a "lower" version than something with "preview2" in the name.

[2017-09-11 20:54] tarekgh commented on #23928
Is it possible to see if this test already run and completed yet in 1.0 without waiting for the whole results?

[2017-09-11 21:04] mellinoe opened #23960 "System.Net.Tests.HttpListenerResponseCookiesTests/Cookies_GetSet_ReturnsExpected failed on OSX"
https://mc.dot.net/#/user/qmfrederik/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/e9bd0a167b8bb087d01f73993641808601c05829/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpListenerResponseCookiesTests~2FCookies_GetSet_ReturnsExpected

[code]

[2017-09-11 21:17] #23398 closed

[2017-09-11 21:21] jamiegs commented on #14162
I know this is old but I'm trying to find a solution for this also. The original question was asking for memory dump info, but the suggested solution seems to be focused on CPU profiling.

[2017-09-11 21:24] davidsh commented on #23960
This looks like a networking problem on Mac OS where it is refusing to allow listening on a loopback port.

[2017-09-11 21:25] danmosemsft commented on #3906
Folks who would use this on .NET Core please thumb up the top post.

[2017-09-11 21:27] dnickless commented on #23887
Ok, I got some changes locally now. But I'm getting this:

![image](https://user-images.githubusercontent.com/985774/30297564-303855d8-9716-11e7-9e19-1331fcf19ea8.png)

I've seen that someone else had the same problem here: https://github.com/dotnet/sdk/issues/1514

Can anyone help?

[2017-09-11 21:28] tarekgh commented on #23928
@danmosemsft I am closing this one. feel free to re-open if you see the failure.

[2017-09-11 21:28] #23928 closed

[2017-09-11 21:31] danmosemsft commented on #23887
Maybe @ericsj has a suggestion. But I never use `dotnet` within my repo. We are working on converting projects over so that we can, but our projects pre-date it. For testing one library I do eg `msbuild /t:buildandtest`

[2017-09-11 21:35] Jonathan34 commented on #19709
I am facing the same issue on osx. I want to temporarily disable ssl check for centos deployment and I develop using macosx.
This feature allows me to disable ssl check for macosx but i am wondering if this is the final solution?  it s not really pretty to have this in your code ...
[code]

[2017-09-11 21:44] #23406 closed

[2017-09-11 21:47] avtc commented on #23504
"System.Net.Http.HttpRequestException: Error while copying content to a stream."
- is not reproduced on [HTTP.sys](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/httpsys) self-host.
- is reproduced on Kestrel.

"System.Net.Http.WinHttpException: Not enough storage is available to process this command"
- is not reproduced on another PC (with Windows 10 Pro), checked with 50_000 s

[2017-09-11 22:12] ericstj commented on #23887
See the [developer guide](https://github.com/dotnet/corefx/blob/7059f8b316723f5db64e4b1d28e2b1e8b137ab1e/Documentation/project-docs/developer-guide.md) for details.

[2017-09-11 22:58] joperezr commented on #23643
@ahumeniy thanks for reporting this, quick question, have you tried using .NET Core 2.0 and see if it fails there as well? I suspect that it would be easier to include this fix on the next version of the framework as I'm not sure it would meet a bar for servicing.

[2017-09-11 22:59] danmosemsft commented on #23341
Failed CI again https://mc.dot.net/#/user/maryamariyan/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/5fcd9c7ece4b3f0186f6f4646ea8d1f9c4a01e47/workItem/System.Net.Security.Tests/wilogs

I would like to fix it especially as it is taking out the whole library in CI.

@bartonjs thoughts?

[2017-09-11 23:05] Emasoft commented on #20325
The standard System.Drawing implementation should target to become a wrapper of the SkiaSharp library as soon as possible, for the following reasons:
- Very soon many .Net devs will start using it for developing the GUI of NetCore cross platform apps, and if the performance are lacking we would end making a remake of the Java Swing disaster. A slow and sluggy GUI would make cross platform developm

[2017-09-11 23:39] mellinoe commented on #20325
Sorry @Emasoft , I don't agree with much of this. SkiaSharp is a fine library, and there would be nothing inherently wrong with building a System.Drawing-compatible layer on top of it. But that endeavor, and the costs associated with it, just don't line up with what we are trying to accomplish with this effort right now. We are simply trying to provide a migration story for folks with legacy asset

[2017-09-11 23:44] mellinoe commented on #20884
# PrinterSettings
 Creating a PrinterSettings object with an invalid name causes a `NullReferenceException`.

[2017-09-11 23:51] mellinoe commented on #23881
Isn't the whole point of this method to give me a pointer which is, by definition, not readonly?

[2017-09-12 00:09] karelz commented on #14162
You can do memory investigations via PerfCollection & PerfView on Linux -- @brianrob @vancem should be able to confirm.

[2017-09-12 00:12] bartonjs commented on #23341
Assuming this is the problem of parallel PFX imports there are two tenable solutions:

1) (netcoreapp20) Import the PFX with `EphemeralKeySet`.  The private key never gets written to disk, so there's no parallel delete.

2) (weird)  Take the PFX bundles, run them through a tool that I wrote which deletes the key name out of them, and check them back in.  Since the keys have no names Windows makes

[2017-09-12 00:36] jahmai commented on #17522
@karelz Status update please?

[2017-09-12 01:07] sstevenkang opened #23968 "what differentiates the System.Runtime.dlls in the corefx build output directory?"
I built 2.0 coreclr, corefx, and core-setup repos from scratch on a linux machine.  In the Corefx build output directory, there are multiple copies of dll's with the same name.  Some are obviously targeting different environments (Unix/AnyOS or netstandard/netcoreapp) and some dlls are not fully processed(pregenfacades, pretrim, etc.).  However, I still don't quiet understand where the size differ

[2017-09-12 01:14] maryamariyan opened #23969 "Check if we can open the directory on Linux when UseShellExecute is set"
I am creating this issue to track if we can open the directory on Linux when having ShellExecute is set.

- Ideally we would want to throw exception only when UseShellExecute option was false. 

- In OSX, the program "open" successfully opens folder using "finder".

- But Linux needs extra effort to be able to open a folder here. In Linux, xdg-open cannot open folder, so I decided to throw when st

[2017-09-12 02:36] Jiayili1 commented on #23099
This test failed with same issue: System.Net.Sockets.Tests.ConnectSync/Connect_MultipleIPAddresses_Success

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170912.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.ConnectSync~2FConnect_MultipleIPAddresses_Success(listenAt:%20127.0.0.1)

[2017-09-12 02:45] mellinoe commented on #23969
Hmm, getting the "open a folder" functionality will be decidedly trickier. I guess the method would be different for each desktop environment (if one is even running). I know that Ubuntu, and I guess GNOME systems, use the "nautilus" application for the default file browser. You can run `nautilus <path>` to open a browser at the given folder. I suppose there are ways to detect which desktop enviro

[2017-09-12 02:50] mellinoe commented on #23968
Assemblies under "ref" are what is known as "Reference Assemblies". [Here is a document](https://github.com/dotnet/corefx/blob/0723e486ba880be7bce85723b7834d2d60fd2741/Documentation/coding-guidelines/project-guidelines.md#ref) with a description of what that means.

Reference assemblies are usually smaller than "implementation assemblies" because they do not actually contain the real implementatio

[2017-09-12 02:53] Jiayili1 commented on #23677
failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170912.01/workItem/System.Collections.Tests.Execution/analysis/xunit/System.Collections.Generic.Tests.ComparerTests~2FNullableOfIComparableComparisonsShouldTryToCallLeftHandCompareToFirst

[2017-09-12 02:56] Jiayili1 commented on #22627
failed again in Master branch: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170912.01/workItem/System.Net.Requests.Tests/analysis/xunit/System.Net.Tests.HttpWebRequestTest~2FTimeout_SetTenMillisecondsOnLoopback_ThrowsWebException

[2017-09-12 02:56] mellinoe commented on #23968
I didn't look at anything specifically, but it's probably because .NET Core implements more functionality in the System.Runtime contract than is available in .NET Framework and .NET Standard. So the reference assembly will be slightly larger.

[2017-09-12 03:06] danmosemsft commented on #23969
1-When UseShellExecute is set: throws PlatformNotSupportedException with message "UseShellExecute must always be set to false"

You must have accidentally tried this on 1.x. On 2.0, .NET Core fully supports UseShellExecute on Windows, and it will pop explorer with the folder.

[2017-09-12 03:53] sstevenkang commented on #23968
Thanks for the detailed explanation!  However, it's hard to believe that reference assemblies are actually bigger than non-ref assemblies:

[code]
Also, comparing the ref. assemblies between different frameworks:

[code]
Granted, the timestamp and the file sizes are correlated.  I'll try to see if I can repro this on a different linux machine.

[2017-09-12 04:21] VSadov commented on #23881
Do we really need the method?
Can we have the indexer return `ref readonly`? It could be more efficient in some scenarios, that an indexer that returns values/copies and `span[0]` would be be the same thing as the pinnable ref?

Note that right now you would need to cast away `readonly` before you can pin. Historically we would not let you take pointers to readonly fields and such since pointers r

[2017-09-12 04:24] VSadov commented on #23881
Basically the following should work (it works with Span, but not with RO span, since indexer returns a value).

[code]

[2017-09-12 04:31] VSadov commented on #23881
IMO, we should:
1) make RO span indexer to return 'ref readonly`, that would immediately allow

`fixed(int * ptr = &Unsafe.AsRef(sp[0]))` // need to cast away `readonly` via `AsRef`

2) relax `writeable` requirement in the language when doing `&`, then you can do

`fixed(int * ptr = &sp[0])`

[2017-09-12 04:36] jkotas commented on #23881
This does not work for spans of Length==0, and has unnecessary range otherwise.

[2017-09-12 04:56] VSadov commented on #23881
@jkotas - I am not sure it _should_ work with Length=0.
Attempt to do so is likely a bug. When not sure, you would need to check for emptiness one way or another. How else would it work?  Return `(int*)0`? Then you would need the check anyways, before dereferencing the ptr.
This is also how `fixed` works with regular arrays, and Spans actually.

I think one range check is acceptable when fetching

[2017-09-12 05:12] jkotas commented on #23881
It is intentional that this method works the way it works with `Length=0`. This was discussed back during the original Span design discussions.

It can return any pointer. It does not have to be 0. It depends on how the Span was created.

Yes, you have to check for emptiness. But you control when and how you do it.

The range check is pretty significant cost when you are fetching the pointer for a

[2017-09-12 05:35] jkotas commented on #23881
BTW: The idea of changing ReadOnlySpan indexer to return `readonly ref` sounds good to me.

[2017-09-12 05:52] YongseopKim commented on #23937
This tc `TestCustomAttributeDecoder` is testing whether decoding custom attributes of a class works correctly. To test it, CustomAttributeDecoderTests has multiple custom attributes. Remeber the order of the custom attributes.
[code]

At runtime, CoreCLR has the custom attributes as metdata in somewhere. I don't know where the place is, but I can see them by below code. (source: https://msdn.micro

[2017-09-12 06:12] VSadov commented on #23881
Lets change the ReadOnlySpan indexer as it would be good change on its own.
Then we can check if ToInt32 will be that much slower on top of it.

Honestly - An API that allows writing into RO span and has undefined behavior with empty spans is hard to like.
(I still do not get - reference to what is returned when there is nothing to reference...)

Perhaps you are right though and perf penalty is in

[2017-09-12 06:23] YongseopKim commented on #23937
Difference of ILDASM between dll and ni.dll
1. dll
[code]
2. ni.dll
[code]

This result comes from `crossgen`? or `roslyn`?

[2017-09-12 07:41] Jiayili1 commented on #17681
This issue is repro in outerloop_netcoreapp_win7_release, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/233/testReport/System.Net.Sockets.Tests/DualModeConnectionlessReceiveFrom/ReceiveFromV4BoundToSpecificV4_Success/

[2017-09-12 07:53] georgiosd commented on #17522
And 2.0 has shipped.
On Tue, 12 Sep 2017 at 03:37, jahmai <notifications@github.com> wrote:

[2017-09-12 08:09] Jiayili1 commented on #23877
This issue is repro in ubuntu14.04_release, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release/4251/

[2017-09-12 08:53] johanskoldekrans commented on #23780
This works locally on my Windows 10 machine and fails with an error that resembles issue 9543 on a Windows 2016 Standard server.

The certificate was created by a Swedish state owned company so I cannot alter how the certificate is made. I can however pm you the certificate if you want to look at without the passcode of course.

The error I get on the Windows 2016 server (error above is from a Win

[2017-09-12 09:11] TheNovakExperience opened #23970 "Error in .NET Standard 2.0-library: The type 'X' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'."
Hello everyone!

I've been trying to find an open case just like mine but all I found so far has been references to preview versions. I'm currently using production-ready .NET Standard 2.0 and in my project I get the following errors:

`The type 'IList<>' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKey

[2017-09-12 09:30] PowerCodr commented on #23970
Workaround found. Had a custom cachepath (BaseIntermediateOutputPath) set on my debug-environment. Changing it to "default" name helped. Should it be like this?

[2017-09-12 09:55] ViktorHofer commented on #23002
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/tests/System/EnvironmentTests.cs#L336

I think the condition to check if it's running on Windows Nano Server isn't defined correctly: https://github.com/dotnet/corefx/blob/master/src/CoreFx.Private.TestUtilities/src/System/PlatformDetection.Windows.cs#L26

Isn't there a better way to determine which SKU we are using on Wind

[2017-09-12 12:04] vanillajonathan opened #23971 "RegularExpressionAttribute overload for Regex parameter"
This is an API idea. It might not be a good idea.

Perhaps the [`RegularExpressionAttribute`](https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/RegularExpressionAttribute.cs) class ought to have a constructor overload that takes a parameter of the [`Regex`](https://github.com/dotnet/corefx/blob/master/src/System.Text.Regula

[2017-09-12 12:21] henkmollema commented on #23971
`Regex` is a complex type and can not be used as parameter for an attribute. Only primitive types (or arrays of them) can be used as attribute parameters.

Consider this example:
[code]

Will result in this compiler error:

[2017-09-12 12:25] vanillajonathan commented on #23971
Ah thanks. Bad idea then. Sorry.

[2017-09-12 12:25] #23971 closed

[2017-09-12 12:38] johanskoldekrans commented on #23780
@bartonjs
We actually got this working, sort of.

First we created a powershell script to replicate the call to the webservice that used X509Certificate2 just to make sure the communication was up and no other interference.

Then we created a consoleapp using the exact same code as from IIS. Worked liked a charm.

Then we skipped IIS and ran the web using the dotnet command. Everything worked.

So

[2017-09-12 13:17] smbecker commented on #3906
For those that need this sooner, I used [this article](http://adamserrata.blogspot.com/2009/01/how-to-use-c-to-read-performance-data.html) to implement what I needed. Then I just light up the various perf counters that I need when running on windows.

[2017-09-12 13:42] tlgkccampbell commented on #17214
It is probably worth pointing out that as of Mono 5, all of the `System.Numerics.Vector` types are treated as being 16 bytes in size on that runtime. I have raised this discrepancy with multiple people at Xamarin, but they seem to consider it a non-issue.

As someone doing cross-platform graphics programming, this inconsistency makes SNV effectively unusable for my purposes, so it would be really

[2017-09-12 14:12] #23827 closed

[2017-09-12 14:12] #4473 closed

[2017-09-12 14:28] maryamariyan opened #23972 "When Process.Start is used to open a program, ProcessName value is incorrectly set as "dotnet" on OSX"
When using Process.Start in order to open a program:

- On OSX, the ProcessName value is dotnet for some reason, which I believe is wrong behavior.
- But on Linux, the ProcessName value is correctly set as the input program to Process.Start.

Code Sample:

[code]

[2017-09-12 14:52] clrjunkie commented on #20325
@mellinoe I totally agree with your stand on this; however @Emasoft does hint to a valid concern about users viewing System.Drawing as a legitimate / preferable dependency for future graphics development by virtue of its presence in the BCL. History shows that “fit for purpose" statements about API's “doesn’t hold water” they tend to cause confusion and uncertainty among users  (example: NET FX Sy

[2017-09-12 15:11] KrzysztofCwalina opened #23974 "Add MemoryHandle.HasPointer"
@stephentoub ran into cases where he needed to check if a handle has a pinned pointer. Today, it can be done using unsafe code (get the PinnedPinter and check if it's null). This new API would allow the same check in safe code.

[2017-09-12 15:23] mellinoe commented on #17214
@tlgkccampbell That sounds pretty unfortunate, could you give more detail about what is handled incorrectly? As described above, the structural shape of the types is very important.

@akoeplinger Are you familiar with who knows the most about mono's System.Numerics.Vectors support?

[2017-09-12 15:23] irontoby commented on #4382
For anyone reading through this and just wants a place where newer codes are defined, the "short answer" is that they are now defined as `const int`s in `Microsoft.AspNetCore.Http.Abstractions`:

https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Http.Abstractions/StatusCodes.cs

[2017-09-12 15:31] mellinoe commented on #20325
@clrjunkie

Yes, this is something we've long struggled with on the team, and I think it's something we're still learning how to best manage. We've discussed various strategies, but haven't settled on anything satisfactory. Many of those past options have been removed to us in our more recent releases, so it's even more important for us to figure out how to message this stuff properly.

[2017-09-12 15:41] davidsh commented on #19428
This no longer repros.  I believe it was fixed with #19603 which added using `socket.Shutdown()` to provide a clean dispose and FIN of the socket.

[2017-09-12 15:41] #19428 closed

[2017-09-12 15:53] davidsh commented on #23209
I am going to disable this test until it can be made more robust.  It is not a reliable test because cancellation cannot be guaranteed to occur with a certain time especially on a busy machine.

[2017-09-12 15:57] tlgkccampbell commented on #17214
@mellinoe I filed a bug report with Xamarin back in May which goes into more detail and provides replication steps: https://bugzilla.xamarin.com/show_bug.cgi?id=56602

[2017-09-12 16:02] davidsh commented on #22627
I am going to disable this test until it can be made more robust.

[2017-09-12 16:07] Trolldemorted commented on #17317
@davidsh will the fix be backported to earlier NETStandard versions? If i understand MS' announcements correctly, NETStandard20 will be a part of the Fall Creators Update, which might not be deployed to all W10M devices.

[2017-09-12 16:12] jaredpar commented on #23881
If this method were unsafe I wouldnt care. As written it is completely safe.

[2017-09-12 16:14] davidsh commented on #17681
@danmosemsft I will move all the DualModeConnectionlessReceivedFrom tests to Outerloop for now pending further analysis.

[2017-09-12 16:21] stephentoub commented on #23974
Another option would be to make `PinnedPointer` an `IntPtr` instead of a `void*`.

[2017-09-12 16:27] davidsh commented on #17317
The is only part of .NET Core 2.0 release which implies UWP6.0 release.  The fix is not being backported to earlier .NET Core versions.

[2017-09-12 16:33] TSlivede commented on #23969
Although the `xdg-open` manpage does not mention how to open a folder, calling `xdg-open /bin` works for me on my Ubuntu 14 VM, on my Xubuntu 14 VM and on WSL (Ubuntu 16) with LXDE installed.

It is also suggested on [stackexchange](https://elementaryos.stackexchange.com/questions/3073/how-can-i-opening-a-directory-from-the-terminal-in-a-new-session).

Therefore, I think a directory should not be

[2017-09-12 16:42] jkotas commented on #23881
This method is unsafe. It just does not require unsafe C# keyword.

[2017-09-12 16:45] danmosemsft commented on #19435
Again
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170912.02/workItem/System.Net.Ping.Functional.Tests/analysis/xunit/System.Net.NetworkInformation.Tests.UnixPingUtilityTests~2FPacketSizeIsRespected(payloadSize:%200)

[2017-09-12 16:47] danmosemsft commented on #19435
@Priya91 can you make the tests stop failing (retries or disable on OSX if you don't have time to investigate) ?
https://github.com/dotnet/corefx/issues/15018
https://github.com/dotnet/corefx/issues/23876

[2017-09-12 16:47] jaredpar commented on #23881
As I said, it is a safe method on a safe type.

[2017-09-12 16:48] danmosemsft commented on #22434
@karelz this is consistently failing now on Ubuntu 17.10. Could someone please look and either fix the problem or temporarily disable for Ubuntu 17.10 ?

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170912.01/workItem/System.Net.Security.Tests

[2017-09-12 16:49] danmosemsft commented on #22434
Given it's a consistent failure in Helix, this might well be debuggable locally on a 17.10 machine

[2017-09-12 16:52] danmosemsft commented on #22933
@karelz the S.N.Sockets tests are now consistently hanging on Fedora 25 and 26 and RHEL 69. Can someone please locally debug this persistent issue, or disable the entire set of tests?

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170912.02/workItem/System.Net.Sockets.Tests

[2017-09-12 16:55] dotnet-mc-bot opened #23981 "Test failure: System.Collections.Generic.Tests.BadlyBehavingComparableComparersTests/EqualityComparer_SerializationRoundtrip"
Opened on behalf of @danmosemsft

The test `System.Collections.Generic.Tests.BadlyBehavingComparableComparersTests/EqualityComparer_SerializationRoundtrip` has failed.

System.Runtime.Serialization.SerializationException : Unable to load type System.Collections.Generic.ObjectEqualityComparer`1[[System.Collections.Tests.BadlyBehavingComparable, System.Collections.Tests, Version=4.1.0.0, Culture=neu

[2017-09-12 16:56] danmosemsft commented on #23981
@viktorhofer this is failing a bunch of serialization tests in 2.0. But not in master -- do we need to port something?

https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170908.01/workItem/System.Collections.Tests

[2017-09-12 16:57] danmosemsft commented on #23981
Actually, it's a non-goal to get UWP tests passing in the 2.0 branch.

[2017-09-12 16:57] #23981 closed

[2017-09-12 17:13] #13539 closed

[2017-09-12 17:29] ViktorHofer commented on #15173
@karelz sorry my late response. Yes I will talk to them.

[2017-09-12 17:44] #22776 closed

[2017-09-12 17:44] #22777 closed

[2017-09-12 17:44] #22778 closed

[2017-09-12 17:44] #22779 closed

[2017-09-12 18:00] karelz commented on #15173
Thanks! Please loop me in, when we manage to create an issue to add a regression test for this scenario.

[2017-09-12 18:01] bumblebeeman commented on #18406
@twDuke This applies to ServiceStack.OrmLite.SqlServer aswell, explicitly installing 4.4 fixes things!

[2017-09-12 18:18] corivera commented on #23899
I won't be able to fix this issue in this round of servicing, due to some other issues popping up. However, I found that targeting System.Data.SqlClient 4.4.0 or Microsoft.NETCore.App (where the latest System.Data.Common gets packaged now) resolves this issue.

[2017-09-12 18:30] karelz commented on #22434
@Priya91 can you please take a look at this one? It is one of the last 2 bugs preventing us being green :)
Thanks!

[2017-09-12 18:35] #22299 closed

[2017-09-12 18:38] danmosemsft commented on #23002
I am adding API

[2017-09-12 18:42] maryamariyan commented on #19956
closed by #23705

[2017-09-12 18:42] #19956 closed

[2017-09-12 18:47] sidshetye commented on #23629
Thanks for forking the discussion, getting some free time to jump onto this. @Drawaes , can you confirm/update the top post as gold standard / target of this evolving conversation? If not, can you update it?

I see the current proposal having a fatal issue and then other issues with being too chatty.
[code]
If you look at a true AEAD primitive, the privacy data and the authenticated data are mixed

[2017-09-12 18:59] maryamariyan commented on #23969
@danmosemsft thanks for your comment, I updated the description for this issue accordingly, pointing to the tests in corefx that illustrate the latest behavior

[2017-09-12 19:03] sidshetye commented on #23629
Also, please steer away from `INonceProvider` and the sorts. The crypto primitives don't need this, just stick to byte[] iv (my fav) or Span (new cool but too much abstraction IMHO). Nonce provider operates at a layer above and the result of it could just be the `iv` seen here.

[2017-09-12 19:04] dnickless commented on #23887
Or  how about just a plain "build" command:

![image](https://user-images.githubusercontent.com/985774/30343427-9721d11a-97cb-11e7-804a-5b8b77434af4.png)

[2017-09-12 19:04] blowdart commented on #23629
The problem with making primitives so primitive is people will simply use them incorrectly. With a provider we can at least force some thought into their use.

[2017-09-12 19:05] dnickless commented on #23887
Or "msbuild" in the src\System.Diagnostics.Process and src\System.Diagnostics.Process\src folder:

![image](https://user-images.githubusercontent.com/985774/30343502-d1e3c812-97cb-11e7-8cb6-8726bfbc3bb7.png)

[2017-09-12 19:08] dnickless commented on #23887
I'll try to clone the entire repo again an build from scratch...

[2017-09-12 19:17] ezeasharma opened #23984 "Failed to Connect to Sql Server with MultiSubnetFailover .netCore 2.0"
I'm running a .NET Core App 2.0 in a container against a SqlServer 12 database with MultiSubnetFailover.

My connection string looks like this...

Data Source=***.***.***.com;Initial Catalog=DATABASENAME;User ID=USER_ID;Password="USER_PASSWORD";Connect Timeout=60;MultiSubnetFailover=True

When i try to connect, it fails with the following error

Message="A network-related or instance-specific erro

[2017-09-12 19:19] ericstj commented on #23887
You have to build from the root once before you can build individual folders/tests.

It looks like you cloned at a point where someone snuck a build break in that @joperezr [fixed](https://github.com/dotnet/corefx/commit/2d5901e37416d3d737f7405b94c0ec3d42e5f806) yesterday, so fetch latest to fix that.  (thanks @joperezr )

The process failures are due to the build halting from above break.

[2017-09-12 19:19] sidshetye commented on #23629
We're talking about AEAD in general of which GCM is specific. So first, the generalized case should drive the design, not the specific case.

Secondly, how does merely shifting from `byte[] iv` to `GetNextNonce(Span<byte> writeNonceHere)` actually solve the nonce issue? You've only changed the name/label on the problem while also making it more complex than it should be.

Third, since we're gettin

[2017-09-12 19:25] blowdart commented on #23629
Frankly if we could hide primitives unless someone makes a gesture to say I know what I'm doing I'd push for that. But we can't. There are far too many bad crypto implementations out there because people though "Oh this is available, I'll use it". Heck look at AES itself, I'll just use that with no HMAC.

I want to see APIs be secure by default, and if that means a little more pain then frankly I'

[2017-09-12 19:32] pblasucci opened #23985 "Error trying to deserialize TimeZoneInfo on OS X"
#### Details

+ .NET Core 2.0
+ macOS 10.12.6

#### Minimal Reproduction

[code]

#### Expected Behavior

No error. Last expression returns `true`.

#### Actual Behavior

[code]

#### Additional Notes

On a recent build of Windows 10, everything behaves correctly. And I've not tested this on _any_ build of Linux.

[2017-09-12 19:40] dnickless commented on #23887
Indeed, things are starting to look a little better. Thanks.

[2017-09-12 19:54] TSlivede commented on #23969
After thinking about it, I believe `xdg-open` *does* officially support to open directories. The man page says `xdg-open opens a file or URL in the user's preferred application`. For unixoid operating systems, directories are just "special files". From [Wikipedia](https://en.wikipedia.org/wiki/Unix_file_types#Directory): `The most common special file is the directory`.

The manpage of `xdg-open` d

[2017-09-12 20:00] mellinoe commented on #23925
Personally, I don't feel like I've ever wanted this functionality, and there is a pretty simple alternative. It's probably not general enough to warrant inclusion on `Debugger` itself. Why not just write a simple utility method that does this for you?

[code]

[2017-09-12 20:16] danmosemsft commented on #23985
@ViktorHofer

[2017-09-12 20:17] J-kit commented on #23925
@karelz As i can see from here its not quite a break, it's a new window (ok you can just press the BreakAll button).
@mellinoe Yea .. sure but to bypass the problem of breaking in the DebuggerEx.BreakIf function, I'd need to create another dll just for that and i want to avoid using unnecessary third party assemblies.

As you can see, there still would be use for a overload(or just a condition wit

[2017-09-12 20:24] justinvp commented on #23985
Related: #14797

[2017-09-12 20:25] mellinoe commented on #23925
You don't really need another DLL -- you could just include the source code directly if you're worried about that.

Breaking in the wrong function is a fair point, if a little minor. Following the [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) helps us organize these details, which are important to making decisions about whether

[2017-09-12 20:26] danmosemsft commented on #23985
Oops, this is some globalization specific serialization, not binary serialization.

[2017-09-12 20:27] danmosemsft commented on #23970
@wesh ?

[2017-09-12 20:27] jnm2 commented on #23925
Easily solved with `[DebuggerNonUserCode]` on the method. I do this all the time.

[2017-09-12 20:28] ViktorHofer commented on #23985
cc @tarekgh

[2017-09-12 20:30] J-kit commented on #23925
@jnm2 I already stated that in the edit of my previous commend. But still, wouldn't having all functionalities in one class be more convenient?

[2017-09-12 20:33] tarekgh commented on #23985
This is known issue and as @justinvp mentioned it is similar to #14797 (actually it is a duplicate). This need to redesign how we use the AdjustmentRule on Linux in general.

[2017-09-12 20:34] tarekgh commented on #23985
@pblasucci just wondering why you are serializing the TZ this way in your scenario?

[2017-09-12 20:38] mellinoe commented on #23925
@jnm2 Thanks for pointing that attribute out. I had no idea it existed -- I was actually going to say that I wish it did because it could help here 😄.

@J-kit It would be more convenient if you are using this function, but IMO I don't think it will be useful to tons and tons of developers. It seems more like a niche helper than a general, universal function. There's cost (both to us as the maintai

[2017-09-12 20:40] jnm2 commented on #23925
Usually questions of the nature “why don’t we put X in the BCL?” come down to who to prioritize and how big we want the BCL to get, versus how frequently people's needs are served by the API.

[2017-09-12 20:41] tannergooding commented on #23925
It's also easy enough to create a NuGet package that adds source files to your project. I have a set of core utility/helper/extensions that I use in almost all my personal projects.

I have that code in one repo that just publishes a NuGet package to a MyGet feed.

I then just reference that MyGet package from all my projects and easily have the functions available.

[2017-09-12 20:53] J-kit commented on #23925
The only thing i can say is telling you from my point of view (obviously) which is that i use Debugger.Break quite often and i often had situations where i would have had a use for such a functionallity, thats why i initially opened this issue.

Of course I can understand your situation of not being able to maintain a massive project which this one would result in when you'd accept all requests. M

[2017-09-12 20:55] #22629 closed

[2017-09-12 20:55] #22631 closed

[2017-09-12 20:55] #22632 closed

[2017-09-12 20:55] #22634 closed

[2017-09-12 20:55] #23001 closed

[2017-09-12 20:55] #23002 closed

[2017-09-12 21:25] Eilon commented on #15173
ASP.NET Core applications are regular console applications, with a regular Program.Main. As such, it’s certainly possible for an ASP.NET Core app to run all kinds of logic (including using regex) prior to ASP.NET Core starting up.

[2017-09-12 21:35] rynowak opened #23988 "System.Runtime.CompilerServices.Unsafe causing issues with ASP.NET Core 2.0.0 and netcoreapp2.1"
I'm getting assembly load failures like the following trying to use ASP.NET Core 2.0.0 with netcoreapp2.1

[code]

I'm not sure if this is the right place for this issue, but the `System.Runtime.CompilerServices.Unsafe` assembly recently moved from a package (netcoreapp2.0) into the shared runtime (netcoreapp2.1) and it appears to not be working gracefully with bits that were compiled against it i

[2017-09-12 21:38] mj1856 commented on #23985
cc @eerhardt

Also, is this a dup of #14797?

[2017-09-12 21:47] Priya91 commented on #22434
@danmosemsft There is no ubuntu 17.10 image on DevTestLabs. Do you know how I can get a repro environment?

[2017-09-12 21:54] Priya91 commented on #23177
@ayende Please file separate issue for that.

[2017-09-12 21:58] Drawaes commented on #23177
He has and has linked to it here at my suggestion. It might be worth opening an SNI issue though as we dropped it from here.

SNI And which CAs you allow will need to be aware of each other.

[2017-09-12 22:00] wfurt opened #23989 "Add OSPlatform.FreeBSD API"
### Rationale and Usage

There is code all around core-setup, cli and perhaps elsewhere which looks like

[code]

We would like to also target FreeBSD as a platform.
FreeBSD is not officially supported but partial support is sprinkled through coreclr and corefx at least.

### Proposed API
This adds FreeBSD property same way as it is done for current OSes. (Windows, Linux and OSX)

[code]

We may c

[2017-09-12 22:06] wfurt commented on #23989
Request for FreeBDS support @karelz

[2017-09-12 22:23] #23948 closed

[2017-09-12 22:25] davidsh commented on #23679
Tracking failures in this test with #23209.

[2017-09-12 22:25] #23679 closed

[2017-09-12 22:28] Priya91 commented on #23731
Assigning to myself to set reminder.

[2017-09-12 22:30] davidsh commented on #20390
Tracking failures with this test with #23209.

[2017-09-12 22:30] #20390 closed

[2017-09-12 22:31] davidsh commented on #19344
Tracking failures with this test with #23209.

[2017-09-12 22:31] #19344 closed

[2017-09-12 22:56] TautvydasZilys opened #23990 "Possible race condition in ICommand WinRT adapter"
I'm been digging through some more interop code in CoreFX and came across this:

https://github.com/dotnet/corefx/blob/master/src/System.Runtime.WindowsRuntime/src/System/Runtime/InteropServices/WindowsRuntime/MarshalingHelpers.cs#L380

This line looks to be a race condition: GetValueFromEquivalentKey method loops through the table entries in a foreach loop and it doesn't lock the table before doi

[2017-09-12 22:58] karelz commented on #15173
I assume that also means that the app has an option to change default RegEx setting prior to any other code runs. We are good then, the developer is empowered to change the RegEx setting for his/her app.

[2017-09-12 23:10] stephentoub commented on #23990
ConditionalWeakTable's enumerator supports concurrent reading like that.  It does not get invalidated by concurrent changes to the table (though it's also not guaranteed to reflect those changes in that enumeration).

[2017-09-12 23:14] mellinoe commented on #23989
I don't think there's any problem with adding it now, even if the full support is still being worked out through the stack. Worst case scenario: `IsOSPlatform(FreeBSD)` returns "false" while the work is still in flight. I'm sure the support will eventually get there regardless, and I can't think of any other way to express the platform other than this.

[2017-09-12 23:18] wfurt commented on #23989
The note was more about OpenBSD, NetBSD, Plan9 etc. Sorry if that was not clear @mellinoe

[2017-09-12 23:38] mellinoe commented on #23960
Similar error on a different test case on OSX:

https://mc.dot.net/#/user/mellinoe/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/97aec401633ef56a56542597bc0b40460cc24464/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpListenerRequestTests~2FCookies_GetProperty_ReturnsExpected(cookieString:%20%5C%22cookie:%20name=value,name=value%5C%22,%20expected:

[2017-09-13 00:09] Eilon commented on #15173
Yes it sounds that way.

[2017-09-13 00:18] benaadams commented on #23629
@sdrapkin as @Drawaes points out `Span<T>` [is .NET Standard 1.0](https://www.nuget.org/packages/System.Memory/4.4.0-preview2-25405-01) so can be used on any framework. Its also safer than `ArraySegment<T>` as it only lets you access the actual window referenced; rather than the whole array.

Also `ReadOnlySpan<T>` prevents (non-unsafe) modification to that window; again unlike array segment where

[2017-09-13 00:29] #18747 closed

[2017-09-13 00:29] benaadams commented on #23629
@sdrapkin as @Drawaes points out `Span<T>` [is .NET Standard 1.0](https://www.nuget.org/packages/System.Memory/4.4.0-preview2-25405-01) so can be used on any framework. Its also safer than `ArraySegment<T>` as it only lets you access the actual window referenced; rather than the whole array.

Also `ReadOnlySpan<T>` prevents modification to that window; again unlike array segment where anything pas

[2017-09-13 00:44] kingces95 opened #23992 "Clean Enlistment Test Failures"
After installing Windows 10 on a Parallels VM (on a MacPro), installing VS 2015, cloning, then running `build`, and `build-tests` from a `VS 2015 Developer Command Prompt` I consistently get the following errors:

Verified fixed by https://github.com/dotnet/corefx/pull/24052

Verified fixed by https://github.com/dotnet/corefx/pull/24016

Verified fixed by https://github.com/dotnet/corefx/pull/2414

[2017-09-13 01:19] taoyouh opened #23994 "NuGet package compability issue"
Some .NET packages are not supported on UWP, but they declare to support .NET Standard on NuGet.org. For example, System.Net.Security on NuGet says it supports .NET Standard, but it doesn't work on UWP.
A ,NET standard package is supposed to be compatible with all platforms that supports .NET standard. But this isn't compatible with UWP.
Even I know this package doesn't work with UWP, any .NET sta

[2017-09-13 01:35] davidsh commented on #23994
System.Net.Security is now part of .NET Core 2.0 and thus .NETStandard2.0.  It will be included as part of the UWP6.0 release.  You can try it out now in prerelease by installing the Visual Studio 2017 15.4 Preview:

https://blogs.msdn.microsoft.com/visualstudio/2017/08/25/visual-studio-2017-version-15-4-preview/
https://www.visualstudio.com/en-us/news/releasenotes/vs2017-preview-relnotes

[2017-09-13 01:52] weitzhandler commented on #10752
In [my implementation](https://github.com/dotnet/corefx/compare/master...weitzhandler:observable-range-collection) I added the following features:

- Collection avoids raising notifications and events when unnecessary and avoids redundant actions, here's a couple of examples
  - Clearing collection when already empty
  - Added range is an empty collection
- The following methods:
  - `public void

[2017-09-13 02:05] taoyouh commented on #23994
@davidsh This is true. However, according to .NET Standard document, developers find the lowest .NET Standard version available by lowering the version and compile:

The problem is not that UWP doesn't implement System.Net.Security. The problem is that any UWP projects may reference System.Net.Security or other packages that referenced it, will crash without getting any errors or warnings. In othe

[2017-09-13 02:26] davidsh commented on #23994
cc: @ericstj @karelz

[2017-09-13 02:30] sdrapkin commented on #23629
@benaadams @Drawaes never said that `Span<T>` was in NetStandard ([any shipped NetStandard](https://github.com/dotnet/standard/tree/master/docs/versions)). What he did say is (1) agree that `Span<T>` is not in any shipped NetStandard; (2) that `Span<T>` will be _"shipping around the 2.1 time frame"_.

For this particular Github issue, however, (read-only) `Span<T>` discussion is [bikeshedding](htt

[2017-09-13 02:34] dotnet-mc-bot opened #23996 "Test: System.Collections.Tests.Dictionary_Generic_Tests_int_int/ICollection_Generic_Add_ToReadOnlyCollection failed with "System.OutOfMemoryException""
Opened on behalf of @Jiayili1

The test `System.Collections.Tests.Dictionary_Generic_Tests_int_int/ICollection_Generic_Add_ToReadOnlyCollection(count: 0)` has failed.

System.OutOfMemoryException : Exception of type 'System.OutOfMemoryException' was thrown.

        Stack Trace:

           at System.Collections.Tests.ICollection_Generic_Tests`1.ICollection_Generic_Add_ToReadOnlyCollection(Int32 c

[2017-09-13 02:35] Jiayili1 commented on #23996
failed tests:  System.Collections.Tests.Dictionary_Generic_Tests_int_int/ICollection_Generic_Add_ToReadOnlyCollection(count: 0)
System.Collections.Tests.InternalHashCodeTests/OutOfBoundsRegression

[2017-09-13 02:39] Jiayili1 commented on #19388
This issue is repro in 2.0.0 branch, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170913.01/workItem/System.Net.WebClient.Tests/analysis/xunit/System.Net.Tests.TaskWebClientTest~2FUploadString_Success(echoServer:%20https:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

[2017-09-13 02:46] Jiayili1 commented on #23102
This test: System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_DefaultProxyCredentials_Test.ProxySetViaEnvironmentVariable_DefaultProxyCredentialsUsed

failed with same issue, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/167/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandler_DefaultProxyCredentials_Test/Pro

[2017-09-13 02:52] Jiayili1 commented on #22814
This issue is repro in OuterLoop_netcoreapp_windows_nt_debug, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/165/testReport/System.Net.Sockets.Tests/SendReceiveSync/Receive0ByteReturns_WhenPeerDisconnects/

[2017-09-13 02:53] Jiayili1 commented on #20223
failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_release/161/testReport/System.Net.Sockets.Tests/DnsEndPointTest/Socket_ConnectAsyncDnsEndPoint_Success_type__APM_/

[2017-09-13 03:29] kingces95 opened #23997 "First Touch `VisualStudioSetup.Next` run Failure"
Expect first touch experience to be sync, build, launch `VisualStudioSetup.Next`, create new `Console App (.NET Core)`. Actually, failed to create console app with the following exception:

Will try to reproduce starting from a bare Windows 10 install if no one can just tell me where I've gone wrong.

[Dump](https://microsoft-my.sharepoint.com/:u:/p/chrkin/EQH_S9G0VwNIg8tgO0oYZgUBYW4RBRuEoK2MOs_nw

[2017-09-13 03:55] mellinoe commented on #23992
The console log should include the error messages from the tests that failed. Is these any more information higher up in the log?

[2017-09-13 04:22] YongseopKim commented on #23937
I think `crossgen` made this results. I'll make a issue for this in coreclr.

[2017-09-13 04:47] MarkusFritschi commented on #20903
Best to test your proposal:
If we need less lines to re - implement the following routine it is a better solution. If we need more code - lines to achieve the same, it's surely not better:
let's try:

Here is the existing code( working )

defined elsewhere
....
public static Dictionary<int, DbProviderFactory> DB__Factory = new Dictionary<int, DbProviderFactory>();
        public static Dictionary<

[2017-09-13 05:03] danmosemsft commented on #23996
Note this is on IOT. But apparently 64 bit?

[2017-09-13 05:14] sidshetye commented on #23629
I strongly feel that being part of the core language, crypto needs to have a solid, low level foundational API. Once you have that, creating high level APIs or "training wheels" APIs can be bridged quickly by the core or community. But I challenge anyone to do the reverse elegantly. Plus the topic is "*General **low level** primitive for ciphers*" !

@Drawaes is there a timeline to converge and re

[2017-09-13 05:31] sureshkumar1115 commented on #23825
Sorry for the late reply,

class list that works perfectly in MVC :
1. System.Data.DataRow
2.System.Data.DataView
3.System.Data.DataTable

but now in Core 2.0 that classes are not support.

[2017-09-13 05:37] morganbr commented on #23629
We're still paying attention and working on this. We've met with the Microsoft Cryptography Board (the set of researchers and other experts who advice Microsoft's usage of cryptography) and @bartonjs will have more information to share soon.

[2017-09-13 06:09] dotnet-mc-bot opened #23999 "Test: System.Diagnostics.Tests.ProcessTests/ProcessStart_TryOpenFolder_UseShellExecuteIsTrue_DoesNotThrow failed with "System.ComponentModel.Win32Exception""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.ProcessTests/ProcessStart_TryOpenFolder_UseShellExecuteIsTrue_DoesNotThrow` has failed.

System.ComponentModel.Win32Exception : No application is associated with the specified file for this operation

        Stack Trace:

           at System.Diagnostics.Process.StartWithShellExecuteEx(ProcessStartInfo startInfo)
       at System.D

[2017-09-13 06:21] Jiayili1 commented on #23960
The following test failed with same issue, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170913.01/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpListenerResponseHeadersTests~2FStatusDescription_SetNull_ThrowsArgumentNullException

The test `System.Net.Tests.HttpListenerResponseHeadersTes

[2017-09-13 06:23] Jiayili1 commented on #18907
failed again in Master branch: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170913.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveUdpClient~2FSendToRecvFromAsync_Datagram_UDP_UdpClient(loopbackAddress:%20127.0.0.1)

[2017-09-13 06:28] YongseopKim commented on #23937
I found that the problem is not the first element of CustomAtrributes but the order of CustomAttributes. I got each order of CustomAttributes.
- order.ni: [HERE](https://gist.github.com/YongseopKim/fcd21b637c7529256f015a106b09fd49)
- order.notni: [HERE](https://gist.github.com/YongseopKim/b2057defdc862b4a9f16fdf71dc34f29)

[code]

As above diff shows, the contents of CustomAttributes are same to e

[2017-09-13 06:34] dotnet-mc-bot opened #24000 "setup-kdc.sh is not installing Kerberos on some distros causing System.Net.Security.Tests.NegotiateStreamTests to no-op"
Opened on behalf of @Jiayili1

The test `System.Net.Security.Tests.NegotiateStreamTest/NegotiateStream_EchoServer_NTLM_ClientWriteRead_Successive_Async_Success` has failed.

System.ComponentModel.Win32Exception : Invalid argument

        Stack Trace:

           at Interop.Sys.ForkAndExecProcess(String filename, String[] argv, String[] envp, String cwd, Boolean redirectStdin, Boolean redirectStdo

[2017-09-13 06:36] Jiayili1 commented on #24000
failed tests:
NegotiateStream_EchoServer_ClientWriteRead_Successive_Async_Success
NegotiateStream_EchoServer_ClientWriteRead_Successive_Sync_Success
NegotiateStream_EchoServer_NTLM_ClientWriteRead_Successive_Async_Success
NegotiateStream_EchoServer_NTLM_ClientWriteRead_Successive_Sync_Success
NegotiateStream_StreamToStream_AuthToHttpTarget_Success
NegotiateStream_StreamToStream_KerberosAuthDefault

[2017-09-13 06:52] YongseopKim commented on #6534
Anyone has worked for this issue? I'm facing the wrong tc in System.Reflection.Metadata.Tests. (https://github.com/dotnet/corefx/issues/23937).
In short, the tc `System.Reflection.Metadata.Decoding.Tests.CustomAttributeDecoderTests.TestCustomAttributeDecoder` supposes that the first elem of `reader.GetCustomAttributes(typeDefHandle)` is `[Test]` which has no arguments. Contents of CustomAttributes

[2017-09-13 06:52] YongseopKim commented on #23937
This issue(https://github.com/dotnet/corefx/issues/6534) has related to this.

[2017-09-13 07:17] iSazonov opened #24001 "Enhance API to work with temporary files and directories"
## Rationale
In [PowerShell repo](https://github.com/PowerShell/PowerShell) we have a feature request to create temporary files with custom extension (not ".tmp").
Also we internally have to implement a function to create a directory for temporary files. Windows has [GPO option](https://technet.microsoft.com/en-us/library/cc732258%28WS.10%29.aspx) to create session-based temporary directories.
Cre

[2017-09-13 08:10] svick commented on #24001
[code]

These three can't exist at the same time, since they have the same signature.

(Also, parameters should be named in camelCase, not PascalCase.)

[2017-09-13 08:36] iSazonov commented on #24001
Thanks for feedback. Case is fixed.
I list all API options for discussiononly  - currently I don't know which options is best.

[2017-09-13 11:10] sureshkumar1115 commented on #23825
once I have check and make full upgrade my system to Core 2.0 this issue will resolve now.
thanks for your response and support @karelz .

[2017-09-13 11:10] #23825 closed

[2017-09-13 12:21] airbreather commented on #17670
This raises some obvious questions... I guess I'll be the one to ask them.

1. Should this go as high as `System.IO.TextReader`?
    1. It seems like bolting this on there, at least the way I would design it if cancellation were supported from the beginning (subclasses can only override a method that has cancellation support), would be either a breaking change or a confusing API.
    2. On the plu

[2017-09-13 13:47] JustArchi opened #24002 "Incorrectly closed websockets are throwing unobserved task exceptions"
Hello.

We've stumbled upon unobserved task exceptions caused specifically by incorrectly closed websockets by the other side. The recorded stacktrace is:

[code]

The original issue was reproduced on **[Arch Linux](https://aur.archlinux.org/packages/dotnet/)**, but I believe that the OS doesn't have any say in this. We're trying to reproduce the issue also on one of the official builds, perhaps W

[2017-09-13 14:06] SamuelDebruyn opened #24004 "Getting a property in an interpreted expression always calls the setter with the retrieved value"
## Use case

I'm not directly using .NET Core in this use case, but I'm working with UWP (which uses this underneath).
**Functional**: search for a string value in all the properties of an object
**Technical**: I have a compiled (so in .NET Core, that means _interpreted_) expression that loops through an object and retrieves all its string properties. It then does `.Contains()` on them with a valu

[2017-09-13 14:17] kingces95 commented on #23992
@mellinoe Thanks for taking a look.

I posted a gist of the log [here](https://gist.github.com/kingces95/519f568299dfa8590662fc3c12f7b0ba).

[2017-09-13 14:29] Mike-EEE commented on #5766
Hey FWIW @karelz I've put some thoughts into the DevOps scenario here:
https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/31381861-innovate-the-xaml-designer-dawg

Based on some cool happenings in the Visual Studio Xaml Designer:
https://blogs.msdn.microsoft.com/visualstudio/2017/09/11/a-significant-update-to-the-xaml-designer/

Thought I would mention it here, while I

[2017-09-13 14:31] JonHanna commented on #24004
Can you give an example of an expression that doest that writeback when it shouldn't?

[2017-09-13 15:16] eerhardt commented on #23988
The issue appears to be that the `System.Runtime.CompilerServices.Unsafe.dll` runtime assembly is not getting removed from the .deps.json file.

[code]

Thus, the host is loading the `4.4.0` NuGet version (which is AssemblyVersion `4.0.3.0` from the "store" (i.e. the version that ASP.NET references).

However, later some code in the runtime (System.Memory.dll System.SpanExtensions) needs to load t

[2017-09-13 15:20] eerhardt commented on #23988
From the build log:

`Encountered conflict between 'Platform:System.Runtime.CompilerServices.Unsafe.dll' and 'Runtime:C:\Users\eerhardt\.nuget\packages\system.runtime.compilerservices.unsafe\4.4.0\lib\netstandard2.0\System.Runtime.CompilerServices.Unsafe.dll'.  Could not determine a winner because 'Platform:System.Runtime.CompilerServices.Unsafe.dll' is not an assembly. (TaskId:15)`.

/cc @dsplais

[2017-09-13 15:22] bartonjs commented on #23629
Based on a little data flow doodling and the advice of the Crypto Board we came up with the following.  Our model was GCM, CCM, SIV and CBC+HMAC (note that we're not talking about doing SIV or CBC+HMAC right now, just that we wanted to prove out the shape).

[code]

This proposal eliminates data streaming.  We don't really have a lot of flexibility on that point.  Real-world need (low) combined wi

[2017-09-13 15:22] kingces95 commented on #23997
Oops. Meant for `Roslyn`.

[2017-09-13 15:22] #23997 closed

[2017-09-13 15:30] eerhardt commented on #23988
The reason conflict resolution thinks it is "not an assembly" is because it doesn't have an assembly version.  Looking at the PlatformManifest.txt file:

[code]

where the columns are `fileName | packageId | assemblyVersion | fileVersion`.

We will need to put an assembly version in for CompilerServices.Unsafe.  I'll see if I can get a change prepared for this.

[2017-09-13 15:31] jnm2 commented on #20903
@MarkusFritschi fyi, this is how to fence code and get highlighting:

[code]

[2017-09-13 15:36] sdrapkin commented on #23629
Definitely bytes - not bits.
Nonce provider that's not key-aware is a big mistake.

[2017-09-13 15:38] bartonjs commented on #23780
@johanskoldekrans Sounds like a variant of an access denied problem.

I see that you are asserting `PersistKeySet`, are you planning on adding the cert to a cert store?  If not, you're creating an additional file on disk every time you read the PFX.

If you aren't running on macOS you can assert EphemeralKeySet instead.  That means that the private key is never written to disk, which will probably

[2017-09-13 15:39] bartonjs commented on #23629
You can write your nonce provider however you like.  We aren't providing any.

[2017-09-13 15:47] sdrapkin commented on #23629
What about deterministic cleanup/`IDisposable` ?

[2017-09-13 15:56] bartonjs commented on #23629
Good call.  Added it to AuthenticatedEncryptor/AuthenticatedDecryptor.  I don't think they should probe for disposability on the nonce provider, the caller can just stack the using statements.

[2017-09-13 16:01] sdrapkin commented on #23629
`INonceProvider` concept/purpose makes no sense to me (echoing others). Let primitives be primitive - pass in the nonce the same way you pass in the key (ie. as bytes - however declared). No AE/AEAD spec forces an algorithm for how nonces are generated/derived - this is a higher-layer responsibility (at least in the let-primitives-be-primitive model).

[2017-09-13 16:15] johanskoldekrans commented on #23780
I am running Win2016Std so that might do the trick.

Will try and let you know the results.

ons 13 sep. 2017 kl. 17:39 skrev Jeremy Barton <notifications@github.com>:

--

www.penser.se
Disclaimer: www.penser.se/disclaimer

[2017-09-13 16:16] sidshetye commented on #23629
No streaming? Really? What is the justification to forcibly remove streaming from a stream cipher like AES-GCM at a core foundational level?

For example, what does your crypto board recommend these two recent scenarios we reviewed?

1. Client has large healthcare files between 10-30GB. The core only sees a data stream though between two machines so it's one pass stream. Obviously a fresh key is i

[2017-09-13 16:18] rynowak commented on #23988
Thanks Eric! Is there anything we can do to work around this temporarily other than hacking files we're not supposed to touch?

[2017-09-13 16:24] eerhardt commented on #23988
2 workarounds I can think of:

1. Changing the `.nuget\packages\microsoft.netcore.app\2.1.0-preview2-25616-02\build\netcoreapp2.1\Microsoft.NETCore.App.PlatformManifest.txt`
2. Changing the outputted `.\bin\Debug\netcoreapp2.1\MusicStore.deps.json`

In general, both of those files shouldn't be touched....

I could imagine some MSBuild Target could be injected into your .csproj to modify the .deps.

[2017-09-13 16:32] bartonjs commented on #23629
I think it was something like

GCM has too many oops moments where it allows key recovery.  If an attacker can do a chosen ciphertext and watch the streaming output from before tag verification, they can recover the key.  (Or so one of the cryptanalysts tells me).  Effectively, if any GCM-processed data is observable at any point before tag verification then the key is compromised.

I'm pretty sur

[2017-09-13 16:50] rockfordlhotka commented on #14273
Additionally it is very problematic that we are forced to use the concrete `ClaimsPrincipal` and `ClaimsIdentity` types instead of something like `IClaimsPrincipal` and `IClaimsIdentity` where we can provide our own implementation.

Especially for situations where we have existing custom principal/identity types, it can be difficult or impossible to use some new concrete base type to conform to th

[2017-09-13 16:53] ektrah commented on #23629
For comparison:

I'm currently developing [this ](https://nsec.rocks/) "let primitives be primitive" crypto API. [Here](https://nsec.rocks/docs/api/nsec.cryptography.aeadalgorithm) is my class for authenticated encryption.

For me it turned out to be useful to be able to talk about an crypto primitive independently of a key. For example, I often want to plug a specific primitive into a method that

[2017-09-13 17:02] davidsh commented on #24000
cc: @karelz @danmosemsft

System.Net.Security.NegotiateStream seems broken on Linux.

[2017-09-13 17:04] davidsh commented on #24002
cc: @stephentoub @karelz

This is ManagedWebSocket currently being used on Linux.

[2017-09-13 17:11] Drawaes commented on #23629
@bartonjs he/she is correct you need to rely on the program not outputting until authentication. So for example if you aren't authenticating (or just not yet) you can control the input for a block and therefore know the output and work backwards from there...

E.g. a man in the middle attack can inject known blocks into a cbc stream and perform a classic bit flipping attack.

Not sure how to solve

[2017-09-13 17:20] Drawaes commented on #23629
Well let me rephrase that I do but only in the network small sizes case which isn't enough for a general purpose lib.

[2017-09-13 17:25] stephentoub commented on #24002
@JustArchi, would you have a standalone repro you could share?

[2017-09-13 17:27] larssb commented on #22688
Sorry for jumping in from the right here.

A quick question. I just installed corefx v2.1.0-preview2-25616-02 in order to be able to have the imagesharp project (https://github.com/SixLabors/ImageSharp) dependency --> system.memory available. However, when using imagesharp to load a picture, via `PS /gitRepos/CoreFx/corefx> Add-Type -Path /gitRepos/pictureManagement/Artifacts/imagesharp/SixLabors.

[2017-09-13 17:39] sdrapkin commented on #23629
In the spirit of openness, is it possible to reveal who is on the Microsoft Cryptography Review Board (and ideally the comments/opinions of specific members that reviewed this topic)? [Brian LaMacchia](https://www.microsoft.com/en-us/research/people/bal/) and who else?

[2017-09-13 17:48] ericstj commented on #23988
FYI, I've recently been doing some work around these overlapping packages that have recently been added to core.app in 2.1: https://github.com/dotnet/corefx/pull/23719

A simpler workaround here is to just do the following in the app:
[code]

[2017-09-13 18:02] rynowak commented on #23988
If this can be addressed in the next few days I don't think I need a workaround.  It sounds like the fix is known/easy on your side so I can wait for a build to come out.

[2017-09-13 18:03] rynowak commented on #23988
Looks like my comment happened concurrent with @ericstj 's suggestion. I'll give that a try.

[2017-09-13 18:13] sdrapkin commented on #23629
_using reverse psychology:_

I'm **happy** that streaming AEAD is out. This means that [Inferno](http://securitydriven.net/inferno/) continues to be the only practical `CryptoStream`-based streaming AEAD for the average Joe. Thank you MS Crypto Review Board!

[2017-09-13 18:14] #19435 closed

[2017-09-13 18:18] JustArchi commented on #24002
Sadly not for this one. Firstly because I'm just a consumer of a netstandard library that is making use of websockets. Secondly because those issues are happening with connections being forcefully closed, so reproducing it in clean testing environment can be challenging.

Perhaps @yaakov-h could help you with repro. I completely lack skills to make one for this case.

[2017-09-13 18:20] KrzysztofCwalina commented on #22404
Now that we renamed the type to Memory<T>, the problem with BufferStream name goes away. Unfortunately another problem is created :-), i.e. what would we now call this stream type?

Also, where do we expect it to live? System.Memory.dll?

[2017-09-13 18:25] tarekgh commented on #23922
On Windows 8.1, the full date pattern was wrong and got fixed on later Windows releases.
The pattern was

[code]

Which formatting will produce a string like the following when formatting today's date:

[code]

The problem with that is the part ```9-р сар``` can be recognized as a month name. in the same time, the part ```сарын``` can be recognized as a date word token. That confuses the parser an

[2017-09-13 18:27] KrzysztofCwalina commented on #22688
@ahsonkhan, would you know why the dll does not load for @larssb?

[2017-09-13 18:29] stephentoub commented on #23922
Thanks for investigating.

Or since it was a bug in Windows 8.1, maybe just disable the test for Windows 8.1?

[2017-09-13 18:31] stephentoub opened #24008 "MulticastInterface_Set_AnyInterface_Succeeds test hangs on Fedora"

[2017-09-13 18:32] rynowak commented on #23988
Yep, `ExcludeAssets="all"` does the trick. Thanks!

[2017-09-13 18:33] mellinoe commented on #23992
There are a few spurious System.Drawing failures in there -- I will try to submit a PR that fixes them.

@tarekgh Could you look at the Globalization failure and see if we know about it?

@danmosemsft I think he is hitting the issue you described here: https://github.com/dotnet/corefx/pull/21518. Did we file anything about that, or did it get fixed at some point?

Out of curiosity, what version of

[2017-09-13 18:37] stephentoub commented on #24008
cc: @tmds

[2017-09-13 18:50] tarekgh commented on #23992
@kingces95 what Windows version you are running on?

[2017-09-13 19:11] mellinoe commented on #24001
If this is the case, I think you need to go into more detail about what you expect the behavior to be, and what aspects of the created files you expect to be secure. Do you want the guarantees of mkstemps, e.g. that only the current user and process can access the file?

Without security concerns, I think the current API is sufficient -- you could easily build something that creates regular tempor

[2017-09-13 19:18] mellinoe commented on #23960
Hit another failure: https://mc.dot.net/#/user/mellinoe/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/c188b2e869c18c912d1b95662af20512b77cbb22/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpListenerRequestTests~2FIsWebSocketRequest_GetProperty_ReturnsExpected(webSocketString:%20%5C%22Connection:%20Upgrade%5C%5Cr%5C%5CnUpgrade:%20websocket%5C%22,%

[2017-09-13 19:28] eerhardt commented on #23988
More info on the issue:

It appears that we aren't writing the AssemblyVersion and FileVersion for this assembly because of 2 issues.

1. This assembly doesn't have a FileVersion.
![image](https://user-images.githubusercontent.com/8291187/30396423-2bb35d08-988f-11e7-810f-3e27950877ae.png)
@mellinoe is going to log a separate bug on this.
2. There is a bug in our custom MSBuild task that is writing

[2017-09-13 19:30] mellinoe opened #24012 "System.Runtime.CompilerServices.Unsafe does not have Windows file metadata"
Due to the way we build ilproj files, System.Runtime.CompilerServices.Unsafe.dll does not have Windows file metadata.

![image](https://user-images.githubusercontent.com/8918977/30396460-8c7e8b0a-987e-11e7-87f9-761af0d91d51.png)

We do have the equivalent managed attributes defined in IL: https://github.com/dotnet/corefx/blob/master/src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.Com

[2017-09-13 19:30] mellinoe commented on #24012
@ericstj @weshaggard

[2017-09-13 19:42] yaakov-h commented on #24002
I think the repro should be fairly simple. If I have some time tomorrow I can try build one.

HLD:
1. Create a websocket server.
2. Connect to the websocket server.
3. Forcibly terminate the underlying TCP connection.

It's worth mentioning that this isn't an unhandled exception blowing up the application (I think), but a result of subscribing to the `TaskScheduler.UnobservedTaskException` event.

[2017-09-13 19:44] kingces95 commented on #23992
Win 10 Enterprise, fully patched. Running inside parallels with a mac host.

[2017-09-13 19:44] JustArchi commented on #24002
Yes, this is not unhandled exception, this is unobserved task exception. In my case it's repeated unobserved task exception that is occuring each `X` seconds, so it's becoming a very problematic issue in long-run, as it's spamming my listener with unobserved task exceptions all the time.

[2017-09-13 19:46] ericstj commented on #24012
I think we need to pass a res file to ilasm.

[2017-09-13 19:49] ericstj commented on #22688
That question is more specific to how Powershell locates its assemblies, but I'd expect that they'd probe next to the assembly which is loading it, not necessarily every directory in the path.  Also note that the version in master will be different so whatever is loading the assembly would need to handle the redirect.

[2017-09-13 19:54] tarekgh commented on #23992
@kingces95 if you can give me the exact version? in the command windows type "systeminfo" and then give me the line like the following:

[code]

I am just wondering why this is failing on your machine and not failing in ours?

[2017-09-13 19:56] mellinoe commented on #24012
@jkotas Is the /RESOURCES flag supported outside of Windows? It looks like it [may not be](https://github.com/dotnet/coreclr/blob/7bb5207734cce3c267032a85331a8891dbdf44dd/src/ilasm/writer.cpp#L1304-L1306), but I'm not positive.

We could maintain a .res file for use in the Windows build. Ideally it would get auto-generated along with  [this line](https://github.com/dotnet/corefx/blob/master/src/Sy

[2017-09-13 20:01] #22612 closed

[2017-09-13 20:03] jkotas commented on #24012
Right, it is not supported in ilasm outside of Windows.

The easiest option compatible with cross-plat may be some flavor of IL merge of C# envelope with the class written in IL. I believe that ILLink can do IL merging already, or it should be pretty close.

[2017-09-13 20:18] jkotas commented on #23992
@tarekgh The console tests are failing on some of my machines too. I think it has something to do with high-dpi and/or having physical monitor attached. If somebody wants to stop by my office, I will be happy to provide repro (I do not think it repros over TS).

[2017-09-13 20:21] sdrapkin commented on #23629
Building on @ektrah's comment, his (her?) approach is driven by [RFC 5116](https://tools.ietf.org/html/rfc5116), which I've referenced earlier. There are many notable quotes in RFC 5116:

...

...

One idea potentially worth exploring is the passing of zero-length/null Nonce, which might even be the default. The passing of such "special" Nonce value will randomize the actual Nonce value, which wil

[2017-09-13 20:22] danmosemsft commented on #23992
@mellinoe I don't see that info (about the console failure) but if it is that, I believe it was a bug in RS2. Not sure about RS1. No, I did not complete the PR #21518 - It's just setting console title to a huge string, so IMO it's not worth bothering to fix, the right thing is to adorn this test so it doesn't run on affected Windows versions.

[2017-09-13 20:22] danmosemsft commented on #23992
It may even have been particular builds of RS2 - I know it reproed consistently on my home laptop, but never at work. Again, that assumes it was failing for that reason and not some other random console problem.

[2017-09-13 20:24] danmosemsft commented on #20223
failed again https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_release_prtest/42/

[2017-09-13 20:24] larssb commented on #22688
@ericstj thank you for sending me in the right direction. I put the System.Memory.dll in the same folder as the ImageSharp required dll's and that was then loaded. However, now I'm getting an error telling me about the next required dll which is missing. But hey, now I just find that and put it in the same folder and put that on repeat until I'm there.

Thank you....

[2017-09-13 20:26] tarekgh commented on #23992
@jkotas the globalization test failure has nothing to do with the machine configuration in general. do you see the globalization test failing on your machine?

[2017-09-13 20:31] tarekgh commented on #23992
@danmosemsft is right. Windows had a regression in RS2 which they fixed on RS3. The regression caused the framework to fail when setting the console title with long text. I agree it is not worth adding work around in the framework for this one as the problem occurred on RS2 only and happen when setting the Window title to a long string which is not a common scenario at all.

[2017-09-13 20:39] jkotas commented on #23992
Globalization tests are fine for me. The tests I see failing intermittently are System.DirectoryServices.*, System.Net.* and System.Console.

[2017-09-13 20:43] danmosemsft commented on #24000
It may be as simple as "kdestroy" not being available on suse 4.22.
@karelz someone should either update the images, or cause this test to skip on suse, or find an alternative way to achieve whatever it's doing. Perhaps some apt-get type command needs to go into the dockerfile.
[code]

[2017-09-13 20:43] tarekgh commented on #23992
@kingces95 one more ask. could you run "intl.cpl" and then click on "Additional Settings" button and tell me the value of "No. of digits after decimal"? I assume you are running with en-US locale. thanks for your help.

[2017-09-13 20:46] davidsh commented on #20223
This test uses a loopback socket server.  So, not sure why it would fail with timeout.

[2017-09-13 20:46] tarekgh commented on #23992
@jkotas if you have RS2 then "WindowAndCursorProps.Title_Set_Windows(lengthOfTitle: 1024) [FAIL]" expected to fail

[2017-09-13 20:48] davidsh commented on #24000
These tests have been failing on Ubuntu 17.10 as well.  I thought @Priya91 was looking into that.

[2017-09-13 20:49] danmosemsft commented on #23992
perhaps @tarekgh you could slap a check for Windows version on that one so it doesn't come up again? I should have done this myself.

[2017-09-13 20:50] migueldeicaza commented on #20325
Hello,

Generally, for new code, I would advocate using SkiaSharp directly for the many arguments already made in this thread.

For providing System.Drawing to .NET Core, adopting libgdiplus has the advantage that it has very low friction, the work to package this across the board and make it available is already there and some of the hard pieces of text rendering are already in place.

A win with

[2017-09-13 20:53] tarekgh commented on #23992
@danmosemsft  I'll submit a PR for that.

[2017-09-13 21:03] Priya91 commented on #23119
this is fixed.

[2017-09-13 21:03] #23119 closed

[2017-09-13 21:06] fletchsod-developer opened #24013 "Provide SignXml class without XmlDocument components."
This is Enhancement only.

My company is unable to use the `SignXml` class because it require `XmlDocument` component.  This `XmlDocument` does NOT work with the invalid xml data.  The invalid xml data is provided by 3rd party company that is last updated 12 years ago and it is unable to modify invalid xml becuase of their integration mess.

Upon looking at `SignXml.cs` source code in this GitHub,

[2017-09-13 21:06] Priya91 commented on #23496
cc @joperezr @wtgodbe

[2017-09-13 21:09] Priya91 commented on #24000
From the callstack, it looks like these tests are failing due to some wrong arguments to fork and exec.. This is not the same issue as the one on ubuntu 17.10, that's a different bug.

[2017-09-13 21:14] ericstj commented on #23994
I think you're misinterpreting NuGet's representation of the package content as support designation.  If there was a way to declare support on NuGet we would declare it appropriately (or in this case, designate it is not supported).

When these packages were first released, NuGet would give you an install failure (due to ref with no lib) which these packages relied on.  We wanted them to fail at b

[2017-09-13 21:35] ektrah commented on #23629
From my point of view the sole purpose of crypto primitives is to implement well-designed higher-level security protocols. Every such protocol insists on generating nonces in their own way. For example:

* TLS 1.2 follows the recommendations of RFC 5116 and concatenates a 4-byte IV with an 8-byte counter,
* TLS 1.3 xor's an 8-byte counter padded to 12 bytes with a 12-byte IV,
* Noise uses an 8-byt

[2017-09-13 21:56] ericstj commented on #22688
Sure, wish I had a pointer to Powershell's load semantics.  @daxian-dbw might.

[2017-09-13 22:12] HakanL commented on #8647
Not sure if this is the right place for this comment, but I have a huge xsd-generated CS file (out of all of Amazon's XSDs). It compiles fine, but when I try to serialize an object using XmlSerializer then I get a PlatformNotSupportedException, saying it can't generate the temporary assemblies. This is on .NET Core 2.0. I bet something is up with the generated CS file, if I copy relevant parts out

[2017-09-13 22:16] #23988 closed

[2017-09-13 22:27] tarekgh commented on #23992
#24016

[2017-09-13 22:32] danmosemsft commented on #24001
@eerhardt for the unix angle

[2017-09-13 22:56] desmondgc opened #24018 "System.Runtime.Serialization.Primitives version 4.2.0.0"
I recently started migrating some library projects to .NET Standard 2.0.

In my solution, I have a .NET 4.6.1 WPF application, a .NET 4.6.1 test project, and a handful of .NET Standard 1.4 and .NET Standard 2.0 class libraries. Since targeting .NET Standard 2.0, tests are failing with the following error:

[code]

I had many headaches with System.Runtime.Serialization.Primitives and binding redire

[2017-09-13 23:03] karelz commented on #22637
@bartonjs is it something we could/should put on crypto roadmap?

[2017-09-13 23:13] jkotas commented on #24012
Or we can switch over to CoreLib implementation of Unsafe for .NET Core. There is internal incomplete Unsafe implementation in CoreLib today - we can make it complete & public.

This won't solve the problem for the netstandard versions of the library, but do we need them to be building perfectly outside of Windows?

[2017-09-13 23:18] ericstj commented on #24012
No, the ones we ship come from the `-allConfigurations` build which happens on windows.  If the netcoreapp version switched to a facade (built with csproj) that would fix the problem.

[2017-09-13 23:41] mnusr opened #24022 "Data Column returns wrong data type"
Basically my SqlCommand selects from a view in the SQL server database, using SqlDataAdapter I fill a DataTable, all data seems to be returned, however columns that with datetime2 type are returned as strings.
What it seems like datetime2 fields are mapped to string.

[2017-09-13 23:43] danmosemsft commented on #23999
Fixed by https://github.com/dotnet/corefx/pull/24007

[2017-09-13 23:43] #23999 closed

[2017-09-13 23:44] danmosemsft commented on #24013
@krwq may have ideas.

[2017-09-13 23:45] Priya91 commented on #22434
The ubuntu17.10 image is still not available..

[2017-09-13 23:57] danmosemsft commented on #23968
Hi @sstevenkang . The smallest assemblies you see are just type forwards. (You can open them in ILSPY or a similar tool). ref/netstandard/System.Runtime.dll for example is 29KB and type forwards everything to a netstandard.dll reference assembly. That is a regular reference assembly that contains skeletons for all the types and it is ~1.3MB. In your list above those that are 242KB are regular refe

[2017-09-13 23:58] danmosemsft commented on #23968
Ah it looks like @mellinoe basically said this but in different words. I suggest you try looking at them in ILSPY or Reflector and you'll see which are typeforwards and which are not. (ILSPY doesn't show where the type forward to - I use ILDASM to see  that)

[2017-09-14 00:01] mellinoe commented on #23968
If you switch the decompilation mode to "IL" (instead of C# or VB), then you can actually see the type-forward destinations, as well.

[2017-09-14 00:17] taoyouh commented on #23994
If the NuGet page describes this behavior in English it will be much better. I can hardly know this behavior from any documents.

[2017-09-14 00:18] morganbr commented on #23629
Thanks for the feedback, everyone! A couple of questions:
1. While streaming decryption can fail catastrophically, streaming encryption could be doable. Does streaming encryption (along with a non-streaming option) but only non-streaming decryption sound more useful? If yes, there are a couple of problems to solve:
  a.  Some algorithms (CCM, SIV) don't actually support streaming. Should we put st

[2017-09-14 00:19] danmosemsft commented on #23824
@Priya91 @wfurt does casing matter here? From scanning the code getaddrinfo and gethostname are the two native calls giving different results.

`Dns.BeginGetHostByName(""...)` -> `Dns.HostResolutionBeginHelper` -> `InternalGetHostByName` -> `NameResolutionPal.TryGetAddrInfo` or `NameResolutionPal.GetHostByName` - > `getaddrinfo`

`Dns.GetHostName()` -> `NameResolutionPal.GetHostName()` ... -> `get

[2017-09-14 00:19] danmosemsft commented on #23824
@davidsh is the casing of a host name, returned by DNS, significant? I'm guessing yes.

[2017-09-14 00:28] danmosemsft commented on #24018
@ericstj thoughts?

[2017-09-14 00:29] Drawaes commented on #23629
1 . a = I think it could be an issue not to warn the user early. Imagine the scenario from someone above, a 10gb file. They think they are getting streaming, then sometime later another dev changes the cipher and next thing the code is buffering 10gb (or trying) before returning a value.
1. b = Again with the "streaming" or networking idea, for instance AES GCM etc you don't get the AAD informatio

[2017-09-14 00:38] Priya91 commented on #23824
@danmosemsft We are just calling into the OS APIs here, so we have to confirm the behavior of these APIs on the OSX documentation. Just making sure it's not a bug in our pal code. Also unix being case sensitive it's weird that 2 different OS APIs provide non identical results.

[2017-09-14 00:47] #23672 closed

[2017-09-14 00:48] danmosemsft commented on #23824
Let me know what you figure out,. It's sporadic, possibly because it depends on which Mac box it gets assigned to.

[2017-09-14 01:00] davidsh commented on #23824
That is true for directory/folder names and filenames.

However, DNS as a protocol is case-insensitive:

Domain Name System (DNS) Case Insensitivity Clarification
https://tools.ietf.org/rfc/rfc4343.txt

[2017-09-14 01:08] shaggygi commented on #14354
Do you think this will make it in v2.1 release?

[2017-09-14 01:09] jnm2 opened #24026 "Please provide an API to locate an assembly file by name without loading"
I'm using the MetadataReader to generate public API surface files such as https://pastebin.com/nLSzWPBA. For the most part, it's a breeze.

When it comes to deserializing enum attribute arguments, the System.Reflection.Metadata API requires me to provide the underlying type and then of course I want to be able to output that as the appropriate field name rather than as an integer cast to the enum'

[2017-09-14 01:27] #23922 closed

[2017-09-14 01:31] hezc13 opened #24028 "stack smashing detected"
when I was debuging the project with VSCode on ubuntu16.04,I met with the "stack smashing detected" exception and the project paused immediately.This exception occurs when the program try to load a .so file that is programed in C and compiled by GCC on ubuntu16.04 .The program attempt to access a function defined in the .so file and then the "stack smashing detected" exception comes along.I try to

[2017-09-14 01:33] stephentoub commented on #24028
Your DllImport defines `flag` as an `int`, which is four bytes, whereas your native export defines `flag` as `char`, which is one byte.

[2017-09-14 01:39] danmosemsft commented on #23824
Thanks for the RFC. I noticed it says insensitive only in that A-Z map to a-z. Our case insensitive compares presumably have a broader concept of insensitive.

@priya91 would you mind updating the test to match the RFC?

[2017-09-14 01:40] jnm2 commented on #24026
Actually, almost the exact inverse of System.Runtime.Loader.Assembly​Load​Context.​Get​Assembly​Name.

[2017-09-14 01:46] ChadNedzlek commented on #17670
@airbreather In regards to #2, it's slightly less important for the Writer side of things, since it's a less common scenario to be blocked forever on a Write that will never finish, and you now can't cancel out of. At least... as far as my imagination can take me down that route.

Though it probably makes sense to add them there too, for consistency sake, and I'm sure there is some networking scen

[2017-09-14 01:47] hqueue opened #24029 "Linux cross build break for ARM"
When cross building for ARM on x64 host,  following error is observed.

[code]

[2017-09-14 01:54] bartonjs commented on #22637
@stephentoub Thoughts?

I'm not sure how I feel about it, personally.  In particular, when using a "keystore backed" CNG or CAPI key it could be on a network attached HSM and Windows (AFAIK) doesn't expose that in an asynchronous manner.  Similarly for OpenSSL using a pkcs11 engine.

So I think we'd be looking at all of the complexities of having async members while we are usually synchronous, and

[2017-09-14 02:03] benaadams commented on #22637
@onovotny made us all sad when asking about what use of async in a "sync" call wouldn't deadlock [and pointed out there were no async methods to override](https://github.com/onovotny/RSAKeyVaultProvider/blob/022739a05a3e40575b1423c1e38f904e93522b31/RSAKeyVaultProvider/RSAKeyVault.cs#L24-L82)

[2017-09-14 02:06] benaadams commented on #22637
KeyValut isn't the only scenario, out-of-proc signing/encryption is another

[2017-09-14 02:36] cscer opened #24031 "cn-win7 , error on load assembly System.Private.CoreLib"
Assert Failure
Expression: [Recursive resource lookup bug]
Description: Infinite recursion during resource lookup within System.Private.CoreLib.  This may be a bug in System.Private.CoreLib, or potentially in certain extensibility points such as assembly resolve events or CultureInfo names.  Resource name: Argument_AbsolutePathRequired
Stack Trace:
   at System.SR.InternalGetResourceString(String

[2017-09-14 02:54] hezc13 commented on #24028
I have modified the defination as follows:
## the DLL declaration:
`[DllImport("3desintf.so",EntryPoint="data_convert")]

static extern int data_convert([MarshalAs(UnmanagedType.LPArray)]byte[] indata,int in_len,
[MarshalAs(UnmanagedType.LPArray)]byte[] outdata,int flag,[MarshalAs(UnmanagedType.LPArray)]byte[] key);`
## the data_convert function :
`int  data_convert(unsigned char *in,int in_len,un

[2017-09-14 03:32] jamesqo commented on #14354
@gimpf You haven't posted in a while-- do you have a progress update on your implementations? :smiley:

[2017-09-14 03:56] iSazonov commented on #24001
About security. From link above http://man7.org/linux/man-pages/man3/mkstemp.3.html:

       permissions 0666, that is, read and write for all users.  This old
       behavior may be a security risk, especially since other UNIX flavors
       use 0600, and somebody might overlook this detail when porting
       programs.  POSIX.1-2008 adds a requirement that the file be created
       with mode 06

[2017-09-14 03:59] kingces95 commented on #23992
Sure. I'm running `OS Version: 10.0.15063 N/A Build 15063`. I'm running in a parallels VM on a MacBookPro. So I think you should be able to easily reproduce my environment. Start with a MBP, install latest version of Parallels, the follow the prompts. Parallels with automatically download windows and away you go..

[2017-09-14 03:59] kingces95 commented on #23992
![image](https://user-images.githubusercontent.com/4120386/30411553-9d66b954-98df-11e7-8bcb-57a0d97867cb.png)

[2017-09-14 04:00] kingces95 commented on #23992
What tool is everyone using to render the testResults.xml files and\or generate a dashboard of the test results?

[2017-09-14 04:06] stephentoub commented on #24028
What calling convention does the native function expect, and have you tried setting that on the DllImport?

[2017-09-14 04:22] hezc13 commented on #24028
However,when I compiled the same .c file to .dll file and used it in the same project in VS2015 on Windows ,it went normally.

[2017-09-14 04:31] danmosemsft commented on #19514
Closing per change above

[2017-09-14 04:31] #19514 closed

[2017-09-14 05:07] mellinoe commented on #23992
@kingces95 I don't think anybody is doing anything like that.

[2017-09-14 05:14] stephentoub commented on #22354
Done

[2017-09-14 05:14] #22354 closed

[2017-09-14 05:15] sidshetye commented on #23629
## Regarding the deliberation process
@bartonjs: We could argue all day if closed door decisions devoid of community involvement is an effective justification but we'll go off-topic, so I'll let that be. Plus without richer face to face or realtime comms, I don't want to upset anyone there.

## Regarding streaming

### 1. the 'streaming implies no AES-GCM security' argument

Specifically, steaming

[2017-09-14 05:18] stephentoub commented on #24028
Other things to look at besides validating the calling convention would be things like whether the bitness of the .NET process matches that of the compiled C binary, whether the data_convert native function itself is actually correct or whether it has a bug and is writing over stack memory it shouldn't be, whether sizeof(int) in the C function is 4 as expected, etc.

[2017-09-14 06:05] maryamariyan commented on #23969
PR #24017 fixes this issue.

[2017-09-14 06:15] #22390 closed

[2017-09-14 06:15] #22392 closed

[2017-09-14 06:15] #22397 closed

[2017-09-14 06:15] #22395 closed

[2017-09-14 06:16] v-haren commented on #17681
failed again here, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170914.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DualModeConnectionlessReceiveFrom~2FReceiveFromV4BoundToAnyV6_Success

[2017-09-14 07:17] sunithathiyagarajan commented on #9357
@patroza : Yes, as you said mentioning "IP Address : specific port" works !

[2017-09-14 07:39] KLuuKer commented on #13773
I am also using the WebException to check if it's a transient TLS error (we get these allot secretly)
So I am using these 2 status to check for possible transient error and just retrying the request after waiting 100 milliseconds
WebExceptionStatus.TrustFailure
WebExceptionStatus.SecureChannelFailure

Would really help to have those statuses back in some way or form, because when I get the error i

[2017-09-14 07:55] TimRowe opened #24033 "Des decrypt raised 'Offset and length were out of bounds... '"
My code like below. It works fine in .net framework4.6.1, But it raised exception in .net core 2.0.
 The exception raised in the line ` cs.Write(inputByteArray, 0, inputByteArray.Length);
` .
The message is `System.ArgumentException:“Offset and length were out of bounds for the array or count is greater than the number of elements from index to the end of the source collection.”
`.

Anyone help?

[2017-09-14 09:42] Jiayili1 commented on #23388
failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/166/testReport/System.ServiceProcess.Tests/ServiceBaseTests/TestOnPauseThenStop/

[2017-09-14 11:34] gulbanana commented on #18198
:( I just had to convert a library to multi-targeting net461/netstandard2.0 instead of just netstandard2.0 because of the missing ECParameters. I'm glad this issue exists, as it's the only search result online for the error message you get.

[2017-09-14 13:26] tmds opened #24036 "Update CI Fedora firewall rules"
We had some issue in the past where MulticastInterface_Set_AnyInterface_Succeeds was hanging on Fedora CI. This was discussed here: https://github.com/dotnet/corefx/issues/13323. Resolution was to update the firewall rules to make the test pass:

to allow a udp port range do something like this: firewall-cmd --zone=public --add-port=4990-4999/udp
adding the --permanent flag will make this persiste

[2017-09-14 13:36] kingces95 commented on #23992
Hm. So how are folks investigating test failures? They're just looking at the raw console output and raw xml xunit output?

[2017-09-14 13:52] stephentoub commented on #24036
I think that's very likely. Assuming it is, we should a) fix the machines and b) add these details to the test as a comment. Or alternatively just add other comment and continue to leave the test disabled on Fedora.

cc: @mattgal, @geoffkizer

[2017-09-14 14:09] fletchsod-developer commented on #24013
We do understand this `Enhancement` open ticket will take time.  So, no worry.

I'm working on bare minimum extraction from the source code that we can make do with, for now.  Not quite there but making some progress & I do realize there are some holes in the script but progress.  Below is the custom script here that hopefully will make help others who are in the same shoe as me.  I haven't yet cl

[2017-09-14 14:11] vcsjones commented on #22637
Yes, that I am fairly sure is true. For the cases of CNG / CAPI / SecureTransforms, I suspect the synchronous APIs will continue to serve their job.

Well, the unfortunate part is many times signing operations are remote. The limitations of PKCS#11 and Win32 just present them as synchronous APIs. Network attached HSMs are the norm, and remote signing services like KeyVault are increasingly common.

[2017-09-14 14:12] tmds commented on #24036
Maybe we can have some doc that describes the required machine config? I don't like the idea of disabling tests, but I wouldn't want to go and debug this hang either when I run the tests.

[2017-09-14 14:14] tmds commented on #24036
I will also have a look at why this test hangs instead of failing.

[2017-09-14 14:20] stephentoub commented on #24036
(It should no longer permanently hang... it should now timeout after 20 seconds or so. I fixed that at the same time as disabling it.)

[2017-09-14 14:56] sdrapkin commented on #23629
Please don't do a Skype call - that's the very definition of "closed door meeting", with no records available for the community. Github issues are the right vehicle for all parties to have a civil documented discourse (ignoring MS-comment-removal [precedents](https://gist.github.com/anonymous/b43b705b8390b4273c26af92e7f664e5)).

MS Crypto Review Board probably did a Skype call too. It's not the fa

[2017-09-14 15:19] qibucloud opened #24038 "@ianhays adding you since it looks like you last touched FSW.Linux. Were there any changes between 1.1 and 2.0 that might cause the FSW to no longer report file changes if there are too many sub directories \ files under the directory being watched?"
`https://github.com/aspnet/Mvc/issues/6793`
https://github.com/aspnet/Mvc/issues/6793

@ianhays adding you since it looks like you last touched FSW.Linux. Were there any changes between 1.1 and 2.0 that might cause the FSW to no longer report file changes if there are too many sub directories \ files under the directory being watched?

@qibucloud can you verify that your application picks up the D

[2017-09-14 15:21] qibucloud commented on #24038
Through the exclusion test, now I am quite sure that the strange cache was caused by the excessive number of folders. After I reduced the amount of the folders and restarted the application, everything became normal. But when I put all the folders back and restarted the application, the problem came out again.
Could you please help me to analyze what is the reason of this problem? Could you please

[2017-09-14 15:21] #24038 closed

[2017-09-14 15:21] eerhardt commented on #24001
The [Mono.Posix.NETStandard](https://www.nuget.org/packages/Mono.Posix.NETStandard/) library exposes this function and its corresponding overloads, giving users its full functionality.  Of course, it is lower level that the .NET I/O APIs, but you can do anything you'd like.

[2017-09-14 15:27] ektrah commented on #17793
To avoid that we end up with nothing in .NET Core 2.1:

The last few replies above seem to indicate consensus on having a `bool Overlaps<T>(ReadOnlySpan<T>, ReadOnlySpan<T>)` method plus additional overloads that output an offset or whether a span is fully contained.

Would it be reasonable to add `bool Overlaps<T>(ReadOnlySpan<T>, ReadOnlySpan<T>)` now and consider those other overloads later?

c

[2017-09-14 15:27] ericstj commented on #23994
That's a good suggestion.  We actually calculate all of the supported platforms when we build the packages and emit that as a data file in our build.  We could easily transform that into some text that gets added to the NuSpec and shows up in the package description.

[2017-09-14 15:32] ericstj commented on #24018
This is due to the injected support for NETStandard 2.0.  We inject new assemblies into NET 4.6.1 and later desktop projects in order to add support for netstandard2.0.  We do this in targets now instead of packages because its no longer a requirement to reference a package to build a netstandard library.  This injection happens whenever we see a netstandard1.5 or greater library referenced (see h

[2017-09-14 15:44] stephentoub commented on #23989
When discussing these convenience properties previously, we'd decided that we would add new OSPlatform static properties for a platform when support in coreclr/corefx was far enough along that the system was actually usable, e.g. that the majority of corefx unit tests ran and passed.  I don't think we're there yet (correct me if I'm wrong).  We can still add support for "FREEBSD" in the implementa

[2017-09-14 16:01] stephentoub commented on #24008
Likely due to https://github.com/dotnet/corefx/issues/24036

[2017-09-14 16:10] stephentoub opened #24039 "Proposal: Add protected {Unmanaged}MemoryStream.Read/WriteSpan method"
We've added new virtual `Read(Span<byte>)` and `Write(ReadOnlySpan<byte>)` methods to Stream, and overridden them on MemoryStream and UnmanagedMemory stream.  However, these new overrides can't just directly write to the in-memory storage: existing types derived from these that override the existing Read/Write virtuals would have their logic skipped until they also overrode the new property.  To a

[2017-09-14 16:11] AtsushiKan commented on #24026
(We don't seem to have a label for System.Runtime.Loader so tagging it as System.Runtime, before it gets auto-tagged as System.Reflection)

A few thoughts:

- I think System.Runtime.Loader.AssemblyLoadContext would be the place for such functionality. We don't want to keep repeating the old mistakes of stuffing loader related stuff into the Reflection api.

- I think in general, the idea behind Sy

[2017-09-14 16:15] jnm2 commented on #24026
@AtsushiKan I'm fine being in charge of the assembly binding policy, so long as I can delegate that burden to the BCL and runtime. You say this may not be the best use case, but what would the ideal alternative then be?

[2017-09-14 16:23] ianhays opened #24040 "NamedPipeServerStream: Provide support for WRITE_DAC"
When creating a `NamedPipeServerStream` on Windows, `WRITE_DAC` on `CreateNamedPipe` will always be unset. On netfx we had a constructor that took a `PipeSecurity` object with ACL info but we had to take that out for netcore/netstandard.

We should add a new entry on netcoreapp to the `PipeOptions` enum to set WRITE_DAC:

[code]

cc: @bartonjs @stephentoub @jaredpar

[2017-09-14 16:24] AtsushiKan commented on #24026
Well in general, I'm used to thinking of tooling binding environment as a separate concept from the runtime binding environment (Think cross-compiler scenarios.) so mingling them raises red flags in my mind.

But yeah, sometimes, it's just handy to say "the runtime's policy is good enough for the task at hand - just let me at it."

[2017-09-14 16:34] MattGal commented on #24036
For our test execution machines, opening up ports is fine, but for external developers trying to run these tests on Fedora that might be a hard pill to swallow.  Is it actually impossible to make the tests work (pass and test what they're supposed to) without opening ports on the executing machine?

[2017-09-14 16:42] karelz commented on #23989
Once we have the API, we should replace any existing workarounds (`new OSPlatform("FREEBSD")`) with the newly added property.

Marking the API as blocked and api-needs-work again. We can flip it to api-ready-for-review / api-approved, once there is enough progress on the OS.

[2017-09-14 16:43] karelz commented on #1625
Duplicate of #23989.

[2017-09-14 16:43] #1625 closed

[2017-09-14 16:47] karelz commented on #6546
This issue does not seem to track any work at this moment, closing.

In general, I would recommend to first finish FreeBSD port in #1626 (watch for update later today), then piggy back on the effort for NetBSD port if there is interest from the community.

[2017-09-14 16:55] krytarowski commented on #6546
Please reopen. This is still on. I'm still working on LLDB.

FreeBSD is not related.

[2017-09-14 17:00] krytarowski commented on #6546
However fair, I expect to finish LLDB and later move on to VBOX before .NET... so it will take a while.

[2017-09-14 17:01] karelz commented on #6546
OK, do you have rough ETA you're shooting for?

Just based on names, I would expect FreeBSD and NetBSD to be closer in OS API surface & behavior to each other than to Linux/Mac/Windows. Is that not the case? Which OS would it start off then?

[2017-09-14 17:11] krytarowski commented on #6546
I plan to finish LLDB by the end of 2018, then maybe a year for kgdb and other extras like gdb. I expect to redo the same work for VirtualBox (it will involve work on vt-x, usb, pci, aio, kqueue etc).

I put my reports on blog.netbsd.org

I will use VirtualBox and Linux in future to bootstrap... so we can close it if we want to keep ongoing effort in open tickets. I'm paying the bill of technical

[2017-09-14 17:11] #6546 closed

[2017-09-14 17:39] #22932 closed

[2017-09-14 17:40] #22934 closed

[2017-09-14 17:40] #22935 closed

[2017-09-14 17:40] huanwu commented on #23351
Verified on Linux.

[2017-09-14 17:41] huanwu commented on #23374
Fixed.

[2017-09-14 17:41] #23374 closed

[2017-09-14 17:43] huanwu opened #24041 "Microsoft.XmlSerializer.Generator need output the assembly"
The SGEN tool can only output the serialization c# code. You cannot use it directly to output the assembly. You have to use it together with the .csproj so as to output the assembly. Need find way to compile it as an assembly.

[2017-09-14 17:52] karelz opened #24043 "HttpUtility - Add Mono copyright line"
We forgot to add Mono copyright lines to HttpUtility.cs when we reused the code.
See https://github.com/dotnet/corefx/pull/23918#issuecomment-329558714 for more details.

[2017-09-14 17:57] karelz commented on #6546
Sure, no plans to remove any NetBSD code at this moment.

[2017-09-14 18:07] #22936 closed

[2017-09-14 18:28] danmosemsft commented on #23388
https://github.com/dotnet/corefx/pull/24042#pullrequestreview-62840360

[2017-09-14 19:02] divega commented on #20903
@MarkusFritschi Assuming you are asking how to know the actual factory *type* on advance, the answer is that you don't need to. It is fine to use the base type, e.g. the following would work:

[code]

[2017-09-14 19:11] JustArchi commented on #24002
We managed to reproduce this issue also on CentOS 7 x64, so this is not Arch Linux-specific. It seems to affect all unix/linux implementations.

[2017-09-14 19:33] janvorli opened #24046 "Add env var to enable overriding the OpenSSL version"
Recently there were several reports of problems that people were having on Debian due to having two libssl libraries with sonames libssl.so.1.0.0 and libssl.so.1.0.2  installed at once. In case the installed libcurl was build against libssl.so.1.0.2, we end up having both versions of libssl loaded in the process. And only the one with version 1.0.0 gets the locks initialized and so we end up crash

[2017-09-14 20:15] #23376 closed

[2017-09-14 20:30] karelz commented on #24043
Affected file:
* [HttpUtility.cs](https://github.com/dotnet/corefx/blob/master/src/System.Web.HttpUtility/src/System/Web/HttpUtility.cs) - see copyright in [Mono](https://github.com/mono/mono/blob/0af1ea70c29a66a59765183b45d6b75fa6c3d8fa/mcs/class/System.Web/System.Web/HttpUtility.cs#L3-L30)

Note: [HttpUtilityTests.cs](https://github.com/dotnet/corefx/blob/master/src/System.Web.HttpUtility/tests/

[2017-09-14 20:35] danmosemsft commented on #24040
@ianhays we removed the ctors from AnonymousPipeServerStream as well as NamedPipeClientStream and NamedPipeServerStream. But AnonymousPipeServerStream does not have a ctor that takes PipeOptions.

I notice AnonymousPipeClientStream does not take PipeSecurity on desktop, only the server, so I'm not sure how those semantics work.

[2017-09-14 20:35] danmosemsft commented on #24040
@jaredpar do you need this for code that runs on 2.0, ie., do we need to service for it?

cc @weshaggard

[2017-09-14 20:42] ahsonkhan commented on #23974
What would be the consequences (if any) of doing that?

@KrzysztofCwalina, what was the motivation, initially, to have PinnedPointer return void*? In most cases, we end up casting to IntPtr anyway:
https://github.com/dotnet/corefxlab/search?utf8=%E2%9C%93&q=PinnedPointer&type=

Also, when we are constructing MemoryHandle, we usually have an IntPtr from GCHandle.AddrOfPinnedObject that we cast to v

[2017-09-14 20:46] jkotas commented on #23974
We have standardized on using unmanaged pointers (e.g. `void*`) for all new public methods that involve pointers.

[2017-09-14 20:46] bartonjs commented on #24040
Jared's in-office suggestion was to add a new ctor with a bool to indicate that `PipeAccessRights.ChangePermissions` (`WRITE_DAC`) was desired.

Since we already have the value on `PipeAccessRights` (NetFx) I don't think we'd want to duplicate it onto `PipeOptions`, because it would make the NetFx path weird.

We just can't let a new-bool ctor and a PipeAccessRights ctor ever touch.

[2017-09-14 20:52] gimpf commented on #14354
@jamesqo I've fixed some benchmark which caused weird results, and added City32, Sip13 and Sip24 to the list of available algorithms.

For combining hash-codes, Murmur3-32 still looks like a good bet, but I've have yet to run a more exhaustive comparison.

On another note, the streaming API (.Add()) has the unfortunate side effect of removing some hash algorithms from the list of candidates. Given

[2017-09-14 20:55] ahsonkhan commented on #23974
In that case, I believe the api is ready for review.
[code]

Implementation like:
[code]

[2017-09-14 21:07] jkotas commented on #23974
Is there an example of code where this would be used? I would naively assume that once you find that there is a pointer, you will want to fetch the pointer that requires unsafe code.

[2017-09-14 21:14] stephentoub commented on #23974
e.g. https://github.com/dotnet/corefx/blob/master/src/System.IO.Compression/src/System/IO/Compression/DeflateZLib/Deflater.cs#L179

[2017-09-14 21:21] tarekgh commented on #23992
Thanks, @kingces95 for sending the OS info. It looks in your case you customized the globalization settings as it looks different than the exact version I am running on. But it is a good thing to fix the test anyway to handle such cases. I'll try to get the globalization tests fixed soon.

[2017-09-14 21:39] mellinoe commented on #23992
Basically, yeah. Hopefully when we sort out your initial problems and get to a clean state, it is more manageable. Usually the tests are expected to be 100% clean, unless you have changed something (and then the failure should be obvious). Also, it is possible to run individual test projects, which cuts down on some of the verbosity and makes things more manageable, especially when you are only wo

[2017-09-14 21:52] morganbr commented on #14354
@gimpf , that sounds like great progress. Do you have a results table handy so we can see if there's enough to make a decision and move forward?

[2017-09-14 21:56] morganbr commented on #23629
@sdrapkin, to make sure I understand properly, are you ok with this API providing streaming encryption, but no streaming decryption?

[2017-09-14 21:58] maryamariyan opened #24048 "When using Process.Start with UseShellExecute,the process is null on some windows runtimes"
**Summary**: using Process.Start when UseShellExecute is set, returns null process on some windows runtimes when it is used to open a file. Code sample

[code]

Refer to existing test in corefx ([here](https://github.com/dotnet/corefx/blob/a16368dc4694c0334a8794107a9e868020f0bed5/src/System.Diagnostics.Process/tests/ProcessTests.cs#L182)):
*ProcessStart_UseShellExecute_OnWindows_DoesNotThrow(isFol

[2017-09-14 22:21] parjong opened #24049 "Cannot build Core FX tests on Linux"
I encountered the following error while building FX tests:
[code]

Is there any requirement to build this test on Linux? I couldn't understand why it failed to find ``System.Native``.

[2017-09-14 22:42] sidshetye commented on #23629
@sdrapkin well, humans brainstorming in real time is certainly beneficial, record keeping concerns can be resolved with meeting minutes. Back to the technical side, while chunking works for streaming decryption, that's not a low level security primitive. It's a custom protocol. And a non-standard one like you noted.

[2017-09-14 22:43] joperezr commented on #23796
As @stephentoub and @danmosemsft point out, this is a test issue.
Next steps:

- Modify tests so that newer netfx behavior expectations match netcoreapp.
- Run tests and make sure they pass against different versions of netfx.

[2017-09-14 22:44] joperezr commented on #23470
Closing for now given the above discussion. Feel free to reopen if needed.

[2017-09-14 22:45] wtgodbe commented on #23455
@brianrob can you move this issue to the docs repo? None of our framework documentation lives in this repo

[2017-09-14 22:45] #23461 closed

[2017-09-14 22:47] joperezr commented on #23122
This has not failed again, so it might be a one off failure. Please reopen if test fails again.

[2017-09-14 22:47] #23122 closed

[2017-09-14 22:51] joperezr commented on #23097
Closing as it hasn't been failing for a while. If we get more hits, we should think into disabling tests of fixing them so they are less flaky.

[2017-09-14 22:51] #23097 closed

[2017-09-14 22:51] wtgodbe commented on #23072
@stephentoub @brianrob has this been resolved?

[2017-09-14 22:55] joperezr commented on #23072
@brianrob are you still planning on either making this more robust or marking it as Outerloop? Just wondering if we should flag this as up-for-grabs

[2017-09-14 23:03] wtgodbe commented on #23925
Closing as resolved per above discussion. Thank you for your feedback @ suggestion @J-kit !

[2017-09-14 23:03] #23925 closed

[2017-09-14 23:08] joperezr commented on #22660
@mellinoe are you still planning on working on a proposal for this? @ericstj brings up very valid points that should be considered in that proposal, so if you do please consider scenarios of why would it be useful to expose some of this info.

[2017-09-14 23:10] wtgodbe commented on #23887
@dnickless what is the status of this issue?

[2017-09-14 23:14] wtgodbe commented on #23449
@danmosemsft @Jimmy062006 any update on this?

[2017-09-14 23:14] wtgodbe commented on #21895
@JeremyKuhne what's the status of this issue?

[2017-09-14 23:16] kingces95 commented on #23992
@mellinoe Is there any more information you need about the `Drawing` and `NameResolution` failures? Or will I need to debug those?

[2017-09-14 23:17] joperezr commented on #20545
test hasn't failed again, so I'm closing this for now. Please do re-open if it fails again so that we can fix the test or disable.

[2017-09-14 23:17] #20545 closed

[2017-09-14 23:18] joperezr commented on #20204
@danmosemsft do you think we should still do this for future versions of UWP or should we close it?

[2017-09-14 23:20] mellinoe commented on #22660
I don't really have more time at the moment for this, maybe in the coming weeks.

[2017-09-14 23:21] mellinoe commented on #23992
@kingces95 Could you print out the failure message from the latest version of the tests in the master branch? I added some logging that should make it clear what the problem is.

[2017-09-14 23:24] joperezr commented on #23592
@mklement0 are you interested in putting up a formal api proposal for this so that we can submit this up for review? Here is a good example of how they should look: #395 and here is more info on our proposals: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2017-09-14 23:27] mellinoe commented on #23992
And unfortunately, I'm not familiar with the `NameResolution` tests. @davidsh do you know anything more about that particular issue?

[code]

[2017-09-14 23:27] wtgodbe commented on #23496
@ValMenn I see https://github.com/Microsoft/msbuild/commit/ec997c5c7e555d0105e76b3102c3657ed227334c was your PR, can you comment on why the triple-quotes were added in that PR? would the right fix here be to use triple-quotes in a similar place in CoreFX?

[2017-09-14 23:32] JeremyKuhne commented on #21895
I was hoping to go through it as a learning experience with my interns (who have now left). I'm going to leave it up-for-grabs now.

[2017-09-14 23:45] stephentoub commented on #24048
From the docs:

Type: System.Diagnostics.Process
A new Process that is associated with the process resource, **or null if no process resource is started**. Note that a new process that’s started alongside already running instances of the same process will be independent from the others. In addition, Start may return a non-null Process with its HasExited property already set to true. In this case,

[2017-09-14 23:51] davidsh commented on #23992
I don't know anything about this particular failure.  What platform is this on?  What version of Windows?

[2017-09-14 23:55] danmosemsft commented on #20204
This is also true on desktop when I Process.Start on a folder with UseShellExecute=true - it pops explorer and leaves the Process object unconnected to any process. So I think it's OK (although as you say hard to test)

I do think this is useful, but it's not on any priority list. I think we're using UWP6.1 for "unscheduled but UWP only" work.

[2017-09-15 00:00] danmosemsft commented on #23960
Broke CI again. https://mc.dot.net/#/user/pentp/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/3692488cefc099535d257116308f973d7cc6e263/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpListenerRequestTests~2FUserHostName_GetProperty_ReturnsExpected

@Priya91 any idea why this specific test is getting so unlucky? Although I also see StatusDescription

[2017-09-15 00:00] stephentoub commented on #24002
If you disable keep alive by setting the keep alive to be infinite, do you still see this issue?  From the stack trace, the exception is originating within the try block of SendFrameLockAcquiredNonCancelableAsync; that exception will be stored into a task and returned to the caller.  Most of the callers of this method end up just returning the task back out to the code consuming the library, but o

[2017-09-15 00:01] #23923 closed

[2017-09-15 00:22] #23824 closed

[2017-09-15 00:34] danmosemsft commented on #24048
What is the file @maryamariyan  ? Your code snippet at the top is not a repro.

Certainly this can happen eg., if you have UseShellExecute and invoke a folder on Windows. Under the covers ShellEXecuteEx need not return a process:

https://msdn.microsoft.com/en-us/library/windows/desktop/bb759784(v=vs.85).aspx

The only question then is whether it ought to in this case, but this issue does not have

[2017-09-15 00:35] danmosemsft commented on #24043
Alex I looked at the other 4 files in the lib (in the utils folder) and you missed the headers on those, however the Mono versions only have Microsoft headers (from reference source) so I guess it's fine.

[2017-09-15 00:47] stephentoub opened #24057 "Add logging to ManagedWebSocket"
We currently don't do any logging with NetEventSource. We should.

[2017-09-15 00:47] danmosemsft commented on #23279
@smile21prc  ?

[2017-09-15 00:51] danmosemsft commented on #24040
What about moving `PipeAccessRights` down so that we could consume just that one enum? That way we could bring the constructor back and code would not need to be written specifically for .NET Core. That wouldn't help anyone targeting .NET Standard but then neither would the new constructor proposed above.

[2017-09-15 00:54] danmosemsft commented on #24040
Ugh, that constructor also needs PipeSecurity. I guess in theory we could move that down also, potentially using reflection to not pull all of S.IO.Pipes.AccessControl with it.

[2017-09-15 00:55] danmosemsft commented on #24040
I hate to make a .NET Core specific API, as it basically only helps Jared.

[2017-09-15 01:20] #23969 closed

[2017-09-15 02:28] hseok-oh commented on #24049
IMO, it seems that `-SkipTests` argument is not working.
Maybe `Microsoft.XmlSerializer.Generator.Tests` is the first running test in linux.

[2017-09-15 02:43] Jiayili1 commented on #20024
failed again in 2.0.0 branch, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170914.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ResponseStreamTest~2FReadAsStreamAsync_ValidServerResponse_Success(transferType:%20ContentLength,%20transferError:%20None)

[2017-09-15 02:46] Jiayili1 commented on #14673
failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170914.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveApm~2FSendRecvPollSync_TcpListener_Socket(listenAt:%20127.0.0.1,%20pollBeforeOperation:%20True)

The test `System.Net.Sockets.Tests.SendReceiveApm/SendRecvPollSync_

[2017-09-15 03:01] Jiayili1 commented on #17681
This issue is repro on UWP F5 Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170915.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DualModeConnectionlessReceiveFrom~2FReceiveFromV4BoundToAnyV6_Success

[2017-09-15 03:24] nathan-alden commented on #14273
I've long since accepted that ASP.NET Core MVC is a substantial regression from the well-thought-out Web API 2. Any projects I create from here on out use NancyFx, which I think is a much better HTTP abstraction.

[2017-09-15 05:05] clegendre commented on #24031
Hello,
We ran into the same issue.
See here for the workaround. https://github.com/dotnet/corefx/issues/23608

Tested, it works...

[2017-09-15 05:07] JosefPihrt opened #24062 "ObsoleteAttribute does not cause error when message is null"
[code]
Tested with .NET Core 1.1.0

Where is this behaviour documented?

[2017-09-15 05:24] cscer commented on #24031
set  UICulture to 1033  ,it works

[2017-09-15 05:24] #24031 closed

[2017-09-15 05:26] hqueue commented on #24049
In Linux cross build environment for ARM, I faced this same problem after resolving #24029.

[2017-09-15 05:31] MarkusFritschi commented on #20903
Thanks for your immediate replay and your explanation!

[2017-09-15 06:13] ankgupta067 opened #24063 "System.Runtime.Serialization.Primitives Not Avaliable in TFM net452 ."
i am creating a .net core application,  where i expect it to give me binaries for two framework one for net452 and another one for  netstandard1.6 , i have added nuget package System.Runtime.Serialization.Primitives , but when i use its member like enummember i get an error saying
member is not available in net452 , why is this happening ? how can i overcome it?

my project.json looks like below,

[2017-09-15 06:30] ankgupta067 commented on #24063
just in case anyone bump in to this issue , i was able to find solution by making following changes in project.json -

[code]

[2017-09-15 06:30] #24063 closed

[2017-09-15 06:30] yaakov-h commented on #24002
That would be through `WebSocket.DefaultKeepAliveInterval = TimeSpan.Zero`, correct?

[2017-09-15 07:10] dotnet-mc-bot opened #24064 "Test: System.ComponentModel.DataAnnotations.Tests.MaxLengthAttributeTests/GetValidationResult_ValueNotStringOrICollection_ThrowsInvalidCastException failed with "System.Reflection.MissingMetadataException""
Opened on behalf of @Jiayili1

The test `System.ComponentModel.DataAnnotations.Tests.MaxLengthAttributeTests/GetValidationResult_ValueNotStringOrICollection_ThrowsInvalidCastException` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.InvalidCastException)\r
    Actual:   typeof(System.Reflection.MissingMetadataException): This operation cannot be carried out because metadata for

[2017-09-15 07:15] dotnet-mc-bot opened #24065 "Test: System.Net.Tests.HttpRequestStreamTests / EndRead_InvalidAsyncResult_ThrowsArgumentException"
Opened on behalf of @Jiayili1

The test `System.Net.Tests.HttpRequestStreamTests/EndRead_InvalidAsyncResult_ThrowsArgumentException(chunked: True)` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.\r
    ---- System.Exception : Exception from HRESULT: 0x80072EFE

        Stack Trace:

           at System.Net.Http.HttpClientHandler.<SendAsync>d__111.M

[2017-09-15 07:27] Jiayili1 opened #24066 "System.Diagnostics.Tests.ProcessTests.ProcessStart_UseShellExecute_OnUnix_ThrowsIfNoProgramInstalled failed with "System.ComponentModel.Win32Exception : No such file or directory" in CI"
Failed test: System.Diagnostics.Tests.ProcessTests.ProcessStart_UseShellExecute_OnUnix_ThrowsIfNoProgramInstalled

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/169/testReport/System.Diagnostics.Tests/ProcessTests/ProcessStart_UseShellExecute_OnUnix_ThrowsIfNoProgramInstalled_isFolder__True_/

Failed configuration: OuterLoop_netcoreapp_centos7.1_d

[2017-09-15 07:32] Jiayili1 commented on #22814
failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/167/testReport/System.Net.Sockets.Tests/SendReceiveSync/Receive0ByteReturns_WhenPeerDisconnects/

[2017-09-15 08:32] nietras commented on #17793
sorry, I have been wanting to add a proposal for Overlaps and Contains but
simply haven't had the time, I will see if I can make a minimal proposal
this weekend, to at least get it started.

On Sep 14, 2017 17:28, "ektrah" <notifications@github.com> wrote:

[2017-09-15 08:47] juepiezhongren commented on #5766
@weitzhandler u need to be updated, as mono-wasm is on the alpha way, it is almost time to start forget js.

[2017-09-15 08:50] weitzhandler commented on #5766
@juepiezhongren That's great news!
But until XAML Standard is accepted and until Xamarin.Forms reaches the productivity level of WPF/UWP/Silverlight, the mission is not completed...

[2017-09-15 08:54] juepiezhongren commented on #5766
@weitzhandler 2 or 3 years r required, but it is not just a full-stack, it is a universal-stack for .net.

[2017-09-15 08:56] weitzhandler commented on #5766
At least if they were giving it the consideration it deserves...

[2017-09-15 10:03] stephentoub commented on #24002
e.g.
var cws = new ClientWebSocket();
cws.Options.KeepAliveInterval = Timeout.InfiniteTimeSpan;
...

[2017-09-15 10:03] JonHanna commented on #24062
Since the `new ObsoleteAttribute(null, true).IsError` returns `true` this is more a matter of how Roslyn treats the attribute, than how the attribute class works as a class.

See https://github.com/dotnet/roslyn/blob/f1864f80b82aad39f2249e3929bd0c3d7d8cffbf/src/Compilers/CSharp/Portable/Symbols/ObsoleteAttributeHelpers.cs#L160

The old compiler has the same behaviour.

It's reasonable enough, in t

[2017-09-15 10:07] dnickless commented on #23887
Progress should be possible when I'm back from my extended weekend trip as in next week. Are we in a hurry here?

[2017-09-15 11:16] #24002 closed

[2017-09-15 11:18] johanskoldekrans commented on #23780
I got another exception.

[code]

[2017-09-15 11:20] stephentoub commented on #24066
I'm hitting this repeatedly in CI.

cc: @maryamariyan @danmosemsft

[2017-09-15 11:27] johanskoldekrans commented on #23780
Just to clarify, we have been able to check thumbprint etc all along but the request fails.

[2017-09-15 11:58] berkid89 commented on #2089
Same issue on windows server :(  (Version="4.5.0-preview2-25701-02")
[code]

What do you think, when will it work?

[2017-09-15 12:04] adamsitnik opened #24067 "Few questions about the Memory"
Hello guys!

I am currently trying to update my blog post/presentation about Span. I read the code and I have few questions. I hope that you can help me to get a better understanding.

1. One of the reasons for making `Span` and `ReadOnlySpan` a stack-only types was to avoid struct tearing. `Memory` is a struct and it consist of 3 fields. By design it's not stack-only. Is it not going to suffer fr

[2017-09-15 12:06] txdv opened #24068 "Zero Width Space"
Hei guys, for some reason you are using [Zero Width Spaces](https://www.compart.com/en/unicode/U+200B) in your source code.

Here is what my editor shows:

[code]

Even the github syntax highlighter breaks;

https://github.com/dotnet/corefx/blob/master/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WinRTWebSocket.cs#L25

Does the original source of RT have them too?

I did a blame and

[2017-09-15 13:48] janvorli opened #24070 "Process.MainModule doesn't return the proper module in some cases"
TL;DR - the System.Diagnostics.Process.MainModule returns other module than the main one in some cases.

When trying to build CoreCLR  in Alpine docker container, I have bumped into a strange issue when msbuild would fail with internal error when forking another copy of itself. strace revealed that it was calling "access" syscall with "Tools/dotnetcli/shared/Microsoft.NETCore.App/2.0.0-preview1-00

[2017-09-15 13:48] janvorli commented on #24070
CC: @stephentoub

[2017-09-15 13:52] KrzysztofCwalina commented on #24067
Memory needs to be a struct to allow cheap slicing and to be an allocation-free factory of spans. It's a tradeoff between safety and efficiency.

ReadOnlyArraySegment would mean that now we need to have 2 overloads for APIs that otherwise take ReadOnlyMemory.

cc: @ahsonkhan, @stephentoub

[2017-09-15 14:14] #24068 closed

[2017-09-15 14:16] jkotas commented on #24067
System.Memory does not provide as nice safety guarantees as Span. We will need very good documentation that explains how to use it correctly what to avoid. Related to #23863.

[2017-09-15 14:40] jnm2 commented on #21395
I'm particularly interested in `IndexOf(char)` and `LastIndexOf(char)` so far.

[2017-09-15 14:44] jnm2 opened #24072 "Span extension method to slice off of a string instance"
# [Current API proposal](https://github.com/dotnet/corefx/issues/24072#issuecomment-347610584)

TODO (see https://github.com/dotnet/corefx/issues/24072#issuecomment-349412729): Add array overloads. Consider ArraySegment overloads for consistency.

[code]

----

# Original post

I expected to see these:

[code]

But now I also see a proposal for a non-stack-only [`StringSegment`](https://github.com

[2017-09-15 14:46] jnm2 commented on #20378
Your proposed API shape includes StringTokenizer:

[code]

Is that intentional?

[2017-09-15 14:53] jnm2 commented on #20378
So I'm trying to get a picture: if I want to do slicing I'll always use `ReadOnlySpan<char>` up to the point where I find I need to put it on the heap; then I'll refactor everything to use `StringSegment` rather than `ReadOnlySpan<char>` up to that point (because you can't convert Span to Segment without allocating).
That would make it desirable for the instance and extension methods on `ReadOnlyS

[2017-09-15 15:07] brianrob commented on #23072
Feel free to mark this as up-for-grabs.  I've not been able to get to this yet.

[2017-09-15 15:09] danmosemsft commented on #23887
Not at all, @wtgodbe is just going through issues in his area...

[2017-09-15 15:12] kingces95 commented on #23992
@davidsh Sure. I'm running OS Version: 10.0.15063 N/A Build 15063.

It should be easy to reproduce my environment: I'm running in a parallels VM on a MacBookPro. Start with a MBP, install latest version of Parallels, the follow the prompts. Parallels will automatically download windows and away you go.. patch, install VS, clone, build, test, bam. Reproduces every time..

The XML and Console logs f

[2017-09-15 15:13] danmosemsft commented on #20378
Cc @ stephentoub

[2017-09-15 15:13] danmosemsft commented on #20378
@stephentoub , rather.

[2017-09-15 15:23] mklement0 opened #24073 "API Proposal: Add property `ArgumentList` to class `ProcessStartInfo` to support predictable passing of arguments by way of an array of literals"
<sup>Based on #23592, with feedback incorporated.</sup>

# Rationale

On Unix platforms, external executables (binaries) receive their arguments as an _array_ of string _literals_, which makes for robust, predictable passing of arguments (see [Linux system function `execvp()`](https://linux.die.net/man/3/execvp), for instance).

Regrettably, in Windows there is no equivalent mechanism: a pseudo sh

[2017-09-15 15:25] mklement0 commented on #23592
@joperezr: Sounds good - see #24073; I hope it is in the correct form and detailed enough.

[2017-09-15 15:39] AtsushiKan commented on #23592
@mklement0 - You can edit the formalized proposal into the top comment on this issue rather than creating a new issue. All the discussion is here...

My one thought is this: I just know that if this api is surfaced in this form, I'll find myself writing these helper methods over and over again. (I know this because I have been writing these helper methods (without BCL support) over and over again

[2017-09-15 15:43] shao200 opened #24074 "Error while copying content to a stream."
my Desktop Code is follow:
[code]
webapi code is follow:
if code is that
[code]
return no problem
if code add Include or _dbcontext.entity(x).collection(r=>r.inve....)
then on Desktop Throw "Error while copying content to a stream."
o,db in property of table is contain some binary(max)

[EDIT] Add C# syntax highlighting by @karelz

[2017-09-15 15:43] jnm2 commented on #23592
Absolutely, please surface that API.

[2017-09-15 16:30] davidsh commented on #24074
Is this on .NET Framework or .NET Core?  .NET Framework bugs are not tracked in this repo.

Also, please attach a full Visual Studio solution that repro's this problem.  The code snippet above is not sufficient to repro this issue for us.

[2017-09-15 16:42] adamsitnik commented on #24067
thanks for the explanation!

[2017-09-15 16:42] #24067 closed

[2017-09-15 16:42] danmosemsft commented on #24066
@maryamariyan below where it has verified the throws if no program installed, seems it should be ending the test there not continuing.

Also the test is named is `ProcessStart_UseShellExecute_OnUnix_ThrowsIfNoProgramInstalled` .. should it be doing anything at all if the program is installed?

[code]

[2017-09-15 16:50] danmosemsft commented on #23605
@tarekgh this is the first thing to look at it directory services. A lot of folks are hitting this. I also got it at one point when running the unit tests.

[2017-09-15 16:51] tarekgh commented on #23605
I'll start looking on Monday.

[2017-09-15 16:51] mklement0 commented on #24073
Content migrated into #23592, the original issue.

[2017-09-15 16:51] #24073 closed

[2017-09-15 16:52] mklement0 commented on #23592
@AtsushiKan:

Thanks - I've closed #24073 and have updated this issue with its contents.

I've also added the need for utility methods to perform the conversions on demand, but there we need more detail on how exactly to surface them publicly.

[2017-09-15 16:57] danmosemsft commented on #24064
Added in f711317e1955770a462f6e15e6f86c0061d9796e by @weitzhandler

@AtsushiKan the code is doing `            PropertyInfo property = value.GetType().GetRuntimeProperty("Count");` on a passed in arbitrary object. Thus, we cannot assume Count is marked for reflection. What is the guidance here -- catch MissingMetadataException ?

[2017-09-15 16:59] danmosemsft commented on #24065
0x80072EFE = ERROR_WINHTTP_CONNECTION_ERROR

@davidsh

[2017-09-15 17:00] mklement0 commented on #23592
@AtsushiKan:

Thanks - I've closed #24073 and have updated this issue with its contents.

I've also added the need for utility methods and incorporated the signatures of your helper methods as a suggestions.
We need more detail on how exactly to surface them publicly, however.

[2017-09-15 17:00] davidsh commented on #23992
cc: @Priya91 @mellinoe
Since this test failure is on Mac, @Priya91 should investigate.  Thx.

        Assert.Throws() Failure
        Expected: typeof(System.Net.Sockets.SocketException)
        Actual:   (No exception was thrown

[2017-09-15 17:02] karelz commented on #1626
We discussed community-driven port for FreeBSD with @RussellHaley (from FreeBSD community) and @wfurt (from .NET Core team) who both expressed interest in the work.
Here's a plan proposal we put together (feedback / suggestions are welcome):

1. Produce binaries in CoreCLR & CoreFX repo targeting FreeBSD - using hacks is fine
    * Hard to parallelize, @wfurt will work on that
    * The build can

[2017-09-15 17:04] AtsushiKan commented on #24064
If the object's type is truly something that's determined from "outside the framework", then the app (or the test in this case) has the onus of ensuring metadata is available. I.e. rd.xml.

[2017-09-15 17:06] davidsh commented on #24065
Actually, since this is UWP, that error (actually an HRESULT) maps to WININET errors.
WININET_E_CONNECTION_ABORTED
"The connection with the server was terminated abnormally"

These tests themselves are testing HttpListener (a server) and use HttpClient as the client.  Getting a connection error on the client probably means a problem with HttpListener (the server) disconnecting.  HttpListener on UW

[2017-09-15 17:06] rmkerr commented on #23783
This is an issue we were having in .NET Framework too. I'll take a look at the code in .NET Core and see if I can port the change over.

[2017-09-15 17:11] ianhays commented on #24040
My problem with the constructor (beyond it being little more than a limited version of a netfx constructor) is that it's highly visible despite it being unneeded for most scenarios.

That's true, but either way we're going to be adding redundant API by a different name. IMO we should either bury it as deep as we can or revisit whether it's something we really need to expose.

[2017-09-15 17:15] AtsushiKan commented on #23592
I guess as static methods on the `Process` class itself. That's the placement that makes the most organizational sense to me. Unfortunately, it does mean that `Environment.ComandLine` can't just call it, but given that we already share the source code for the algorithm through the `Common` folder, we can still get the sharing benefit without actually moving the implementation.

A second candidate

[2017-09-15 17:30] Suriman commented on #2394
Hi,
The change from Future milestone to 2.1, does mean Microsoft will be porting WF to .NET Core?

[2017-09-15 17:47] karelz commented on #2394
The milestone change for closed issues just reflects during which release the issue has been closed.
This particular issue was closed basically as "Won't Fix" - see explanation above https://github.com/dotnet/corefx/issues/2394#issuecomment-316170275

[2017-09-15 17:50] gulshan commented on #5766
CoreRT is also on board- https://github.com/dotnet/corert/pull/4480 . Hoping for a production ready HTML+CSS+C# combo next year.

[2017-09-15 17:52] karelz commented on #1626
Tagging more folks who expressed interest on freebsd-mono list ([this thread](https://lists.freebsd.org/pipermail/freebsd-mono/2017-September/002558.html)): @smortex @radovanovic

BTW: I can't find [Mathieu Prevot](https://lists.freebsd.org/pipermail/freebsd-mono/2017-September/002570.html) GitHub account.

[2017-09-15 17:55] joperezr commented on #23592
Thanks @mklement0 and @AtsushiKan , marking this ready for review.

[2017-09-15 17:59] joperezr commented on #20204
sounds good, I'll keep it as is then and flag it up for grabs in case people in the community are interested in this one.

[2017-09-15 18:00] joperezr commented on #22660
ok, flagging it as up-for-grabs then so that if anybody else is interested on this they can throw a proposal.

[2017-09-15 18:05] Suriman commented on #2394
@karelz What a pity. For a moment, it looked like the lottery had hit us.

[2017-09-15 18:13] danmosemsft commented on #24064
@weitzhandler what is the "object" generally here? Is it other types in the framework, or arbitrary type?

[2017-09-15 18:23] karelz commented on #6770
@sec FYI: We are resurrecting FreeBSD port effort (tracking in https://github.com/dotnet/corefx/issues/1626#issuecomment-329840518). If you're interested, please join us there ...

[2017-09-15 18:31] chlowell opened #24081 "Failed FileStream construction truncates files on Linux"
On Linux, the second `FileStream` construction below truncates the file and throws an `IOException`:

[code]
I understand `FileMode.Create` specifies truncation of extant files, and that Linux file locking is advisory, but this behavior seems incorrect to me. If it can be known the file is in use, why not throw before truncating it?

The exception is also misleading in that it implies an external

[2017-09-15 18:41] stephentoub commented on #24081
The truncation happens as part of opening the file, with O_CREAT | O_TRUNC passed to the open syscall; it's not until after we open it and have the file descriptor that we can call flock to get/set the advisory lock. If you have a suggestion for how to achieve the semantics you're hoping for, please share.

[2017-09-15 18:43] kingces95 commented on #23992
@Priya91 It's actually running in Windows 10, in Parallels, on a Mac. But, yeah, if you have a Mac then that'll make it much easier to reconstruct the environment. Just install Parallels, let it download windows, install VS, sync, build, run tests.

It'd be great if you could add a mac/parallels run to your CI.

[2017-09-15 18:51] ericstj opened #24083 "Use buffer pooling in DeflateManaged in System.IO.Compression"
Here are some candidates:
https://github.com/dotnet/corefx/blob/8d40fac24b4a1fdaacd46ae923f3258da1996e16/src/System.IO.Compression/src/System/IO/Compression/DeflateManaged/DeflateManagedStream.cs#L106
https://github.com/dotnet/corefx/blob/8d40fac24b4a1fdaacd46ae923f3258da1996e16/src/System.IO.Compression/src/System/IO/Compression/DeflateManaged/DeflateManagedStream.cs#L123
https://github.com/dotne

[2017-09-15 19:04] karelz commented on #24033
@bartonjs can you check for compat concerns?

[2017-09-15 19:07] karelz commented on #24072
cc @stephentoub

[2017-09-15 19:12] karelz commented on #24062
Can you please file new documentation bug in Roslyn repo? (closing this one in the mean time)

[2017-09-15 19:12] #24062 closed

[2017-09-15 19:23] mailbala opened #24085 "HierarchicalRequestId in .net core applications?"
I want to make use of HierarchicalRequestId/Http Correlation protocol for the application I am working on. What are the different ways of implementing it? Do I need to use DiagnosticsSource or it can be achieved in ILogger also?

Another question, Can I extend ILogger to include addition details in the trace?

Please help. I am very new on this

[2017-09-15 19:48] kouvel commented on #18058
I haven't seen any recent occurrences, closing for now. Hopefully the next time it occurs we'll have a bit more info to go on for diagnosing this.

[2017-09-15 20:03] krytarowski commented on #1626
For NetBSD we miss robust posix mutexes, this is the only feature that is still missing to produce named robus mutexes. We can now debug managed code failures with LLDB/NetBSD.. it works fine with core files. In my previous attempts we died on lack of this feature in LLDB (I started to port this debugger for .NET).

Having better FreeBSD support will significantly help.

There were also problems i

[2017-09-15 20:29] Priya91 commented on #23992
@kingces95 Since you already have the repro environment, can you report what is the output of the following code on the windows vm with .NET framework and .NET Core,

[code]

[2017-09-15 20:54] bartonjs commented on #24033
Exact dupe of https://github.com/dotnet/corefx/issues/23311.

[2017-09-15 20:54] #24033 closed

[2017-09-15 20:55] bartonjs commented on #24033
https://github.com/dotnet/corefx/issues/23311#issuecomment-325385891 contains the workarounds (the easiest being to use `DES.Create()` instead of `new DESCryptoServiceProvider()`)

[2017-09-15 20:57] karelz commented on #24033
And as the dupe says, it will be fixed in next 2.0 servicing release.

[2017-09-15 20:59] stephentoub commented on #24072
cc: @KrzysztofCwalina, @ahsonkhan

Currently, yes.

We've discussed adding such overloads.  @KrzysztofCwalina would likely know the current plan.

For now `StringSegment` doesn't exist.  I expect we'll have such discussions as part of considering adding it.

[2017-09-15 20:59] ahsonkhan commented on #24072
Yes, that is how you would slice a string. I would imagine you would grab a span from a string once (i.e. call str.AsReadOnlySpan()) and then pass that span around and slice multiple times using span.Slice().

cc @KrzysztofCwalina

[2017-09-15 21:01] geoffkizer commented on #23177
[code]

These should be **Ssl**[Server|Client]AuthenticationOptions.

[2017-09-15 21:02] geoffkizer commented on #23177
[code]

I still wonder if we should rename this to "ClientCertificateRequested" or similar.  From MSDN, that seems like a more accurate description of what this does (unless I'm misunderstanding...)

[2017-09-15 21:04] geoffkizer commented on #23177
[code]

Do we really need two ways to specify Http2?  I would just go with Http2 and drop H2.

[2017-09-15 21:04] bartonjs commented on #24013
That wouldn't/shouldn't be the case.  The SignatureDescription is the instantiation of the SignatureMethod value, the C14N is the instantiation of the CanonicalizationMethod value.

C14N: https://github.com/dotnet/corefx/blob/74faad990a45f99a530038af213196c6c354952b/src/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/SignedInfo.cs#L95-L109

SignatureDescription/Method: https:

[2017-09-15 21:05] geoffkizer commented on #23177
[code]

There was some discussion of making this a struct.  Did we close on this?

[2017-09-15 21:07] stephentoub commented on #20378
@KrzysztofCwalina, could we make `ReadOnlyMemory<char>` work with `string` efficiently?  I have to believe that if we were starting over today, we wouldn't have both `Memory<T>` and `ArraySegment<T>` and would just have the former, so if `StringSegment` is the correlary to `ArraySegment<T>`, seems logical we'd just use `ReadOnlyMemory<char>`... but maybe that's too complicated from an implementati

[2017-09-15 21:07] Tratcher commented on #23177
I've removed the duplicate H2.

[2017-09-15 21:11] Priya91 commented on #23177
Changed it to struct, there was no disagreement for using struct. Are we going with ReadOnlyMemory? What advantage does that offer over byte[]

[2017-09-15 21:13] geoffkizer commented on #23177
Since we need to copy anyway, I think byte[] is fine.

[2017-09-15 21:14] bartonjs commented on #23177
Re: ClientCertificateRequ{ired|ested}: If set to true with no custom callback, it's required.  If set to true with a custom callback, it's whatever the custom callback decides.

What it really boils down to (for RFC terminology) is "send [client] certificate request" https://tools.ietf.org/html/rfc5246#section-7.4.4

So `RequestClientCertificate`, maybe?

[2017-09-15 21:15] Tratcher commented on #23177
ReadOnlyMemory was more important before SslApplicationProtocol when we were directly adding IList<ReadOnlyMemory> to the options. Now it does not matter.

[2017-09-15 21:15] kingces95 commented on #23992
@Priya91, they both print out the same thing:

VS2015 / Desktop 4.6.1 -> `255.255.255.255`
VS2017 / NET Core 2.0 ->  `255.255.255.255`

[2017-09-15 21:16] Tratcher commented on #23177
RE: client cert, do we really want to rename existing APIs? That will cause as much confusion as it save.

[2017-09-15 21:18] geoffkizer commented on #23177
Re renaming, I don't feel strongly either way.  We have an opportunity here to clarify these things that we probably won't have again for a long time.  But as you said, I'm not sure it's worth it.

[2017-09-15 21:18] mellinoe commented on #23992
@kingces95 Could you let me know what the error message is from the System.Drawing.Common tests is, if you are still hitting issues there? I added some logging that will help me diagnose the issue.

[2017-09-15 21:27] karelz commented on #1626
Where do we miss "robust posix mutexes"? Is it part of .NET Core PAL?

Which CI system are you referring to? Why is it tied to .NET Core port effort?

[2017-09-15 21:31] #23375 closed

[2017-09-15 21:32] danmosemsft commented on #24049
@huanwu ?

[2017-09-15 21:32] #24043 closed

[2017-09-15 21:33] Drawaes commented on #23177
RE: read-only memory... let's put it another way.. . Why wouldn't you use it? It gives far not flexibility than an array. You can't by ref compare anyway because as you say you are copying it.

[2017-09-15 21:45] shmao commented on #23691
This was fixed by https://github.com/dotnet/corefx/pull/24084.

[2017-09-15 21:45] #23691 closed

[2017-09-15 21:47] huanwu commented on #23351
Verified on Mac.

[2017-09-15 21:47] #23351 closed

[2017-09-15 21:54] #21941 closed

[2017-09-15 21:54] #22691 closed

[2017-09-15 21:54] #23347 closed

[2017-09-15 22:02] KrzysztofCwalina commented on #20378
I think it boils down to whether we are ok with this segment type being subject to struct tearing.

[2017-09-15 22:06] KrzysztofCwalina commented on #24072
Last time I discussed this with @jaredpar and @MadsTorgersen the conclusion was that we need to be super sure that ReadOnlySpan\<char\> is the best representation for string slices to take the plunge and bur the best name (Slice) for a method returning ROS\<char\>.

I think there are two cadidate types for the repserantation: ROS\<char\> and something like ReadOnlyMemory\<char\>. The former is saf

[2017-09-15 22:11] stephentoub commented on #20378
@KrzysztofCwalina, can you elaborate? Both StringSegment and ReadOnlyMemory are multi-field structs, both subject to tearing. Or are you saying you'd make StringSegment a class?

[2017-09-15 22:13] mellinoe opened #24089 "Dispose_IconData_DestroysHandle failed in CI"
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/3360/consoleText

[code]

It looks like one of the tests isn't properly disposing of the Icon, or holding onto the FileStream or something like that. Should be pretty straightforward to diagnose.

[2017-09-15 22:33] karelz commented on #24085
What are you trying to achieve in your application? For advice on which technology to use, I would recommend to use other platforms - forums, reddit, StackOverflow.

GitHub .NET Core repos are targeted for contributions to .NET Core code base and reporting bugs in the stack.

[2017-09-15 22:45] huanwu commented on #24049
@hqueue All tests pass on CI. How can I repro this issue?
@shmao

[2017-09-15 22:50] KrzysztofCwalina commented on #20378
Sorry, I was just first trying to decide between span like type vs memory like type.

[2017-09-15 23:04] #24066 closed

[2017-09-15 23:05] Priya91 commented on #23992
@davidsh The same issue repros on .NET Framework as well. Can you please take a look?

[2017-09-15 23:05] pjanotti commented on #22429
@stephentoub I'm closing this per PRs below

https://github.com/dotnet/coreclr/pull/13378 (also in corert)
https://github.com/dotnet/corefx/pull/23253 (tests and ref in corefx)

[2017-09-15 23:05] #22429 closed

[2017-09-15 23:08] eerhardt opened #24090 "ASP.NET MVC 2.0 apps don't work on 2.1 runtime"
## Repro Steps

1. `dotnet new mvc`.  Make sure your app targets `netcoreapp2.0`.
2. `dotnet build`
3. Install the latest shared framework somewhere.  I installed `2.1.0-preview1-25714-02`
4. `/path/to/dotnet --fx-version 2.1.0-preview1-25714-02 bin\Debug\netcoreapp2.0\RollForwardTest.dll`

## Expected results

The app should run successfully

## Actual results

An error is thrown:

[code]

## Not

[2017-09-15 23:09] #24029 closed

[2017-09-15 23:10] Priya91 commented on #23177
Changed readonlymemory to byte[]. I think all outstanding questions have been resolved. @karelz @KrzysztofCwalina @bartonjs @terrajobst @weshaggard Can you please do a final review and mark the API as approved. Thanks!

[2017-09-15 23:17] tarekgh commented on #24085
https://github.com/dotnet/corefx/pull/18887

[2017-09-15 23:27] pjanotti commented on #22410
@WinCPP hi, I'm assigning this to you per your comment above.

[2017-09-15 23:32] pjanotti commented on #22428
/cc @stephentoub closing per PRs above

[2017-09-15 23:32] #22428 closed

[2017-09-15 23:33] pjanotti commented on #22411
@WinCPP hi, I'm assigning this to you per comment above

[2017-09-15 23:38] danmosemsft commented on #23734
@AtsushiKan can you confirm that on ILC we don't expect two instances of the same struct type to be object equals? If so we can mark the tests to not be uapaot

[2017-09-15 23:43] mellinoe opened #24092 "Native build fails on CentOS 6"
This PR https://github.com/dotnet/corefx/pull/23976 introduced a slightly different declaration for `in_pktinfo`. Unfortunately, the CentOS build is detecting the wrong configuration for `HAVE_LINUX_IN_H`, which is causing the wrong `SOCKET_INCLUDES` to be set. Instead of linux/in.h, netinet/in.h is being used. On CentOS, linux/in.h contains the definition for `in_pktinfo`. This causes us to emit

[2017-09-15 23:47] AtsushiKan commented on #23734
The default ValueType.Equals() does do value comparisons of the individual fields, so the if the intent is that 0.0 and -0.0 are "equal", then structs containing them could also be considered "equal".

We should probably understand at least why the behavior is different before closing it.

[2017-09-15 23:47] Drawaes commented on #23177
Wait, why is the Readonly memory being ditched? People are spending time actively adding the "memory" concept across the framework, byte[] is convertible to readonly memory but not the otherway around. We also agreed that the data is copied and therefore you can't do a ref equality anyway which would be the only upside. Finally if the memory needs to be pinned to transfer to the native API you can

[2017-09-15 23:52] Priya91 commented on #23177
@Tratcher Just mentioned that we initially went with readonlymemory to make the static readonly http1.1, http2 fields immutable. Reverting it.

[2017-09-15 23:53] danmosemsft commented on #23386
@AtsushiKan can you move this to TFS?

[2017-09-15 23:53] krytarowski commented on #1626
In the NetBSD kernel (and libc/libpthread), this is a part of CoreCLR. FreeBSD developed it in the last two years. It might be available in the latest stable release.. but there is need to check.

I want to add this feature before my restart of .NET porting. (There was also detected a tiny missing API for network routing.. but I skip it now).

I don't remember now, without checking the code - it's

[2017-09-15 23:54] danmosemsft commented on #22791
@brianrob this is still failing daily.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170915.02/workItem/System.Diagnostics.Tracing.Tests/analysis/xunit/BasicEventSourceTests.TestEventCounter~2FTest_Write_Metric_EventListener

[2017-09-15 23:56] danmosemsft commented on #23733
@AtsushiKan looks like your corert change did not do the trick.

[2017-09-16 00:10] mellinoe commented on #24092
The check probably needs to be something like this:

https://github.com/mellinoe/corefx/commit/9a23536615616ee0c1c27d5de2f7ceb79694e5b3

I'm sure this will break other systems, though, so I'll need some help getting the CMake config stuff right.

[2017-09-16 00:11] sstevenkang commented on #23968
Thanks @danmosemsft and @mellinoe.  Just for my understanding, what's the reasoning behind creating mixed types of the dll?  I would assume that System.Runtime.dll for netcoreapp, netfx, netstandard are all either type-forwarded assemblies or all reference assemblies.

And, to bring it back to my original question... my goal is to reproduce an official dotnet distribution from the build artifacts

[2017-09-16 00:13] danmosemsft commented on #23546
@tijoytom
Same as before, it is giving an Exception and should be COMException.  Just a different cause.
Your test added in https://github.com/dotnet/corefx/commit/37b8ebd0939b4ebc0962d96902fcbe034838613b?diff=split uses -2146231029 which is 0x80131D0B which is apparently
#define PEFMT_E_32BIT EMAKEHR(0x1d0b)
whatever that is.
CoreCLR recognizes this as a COMException using IErrorInfo (?), but Cor

[2017-09-16 00:17] migueldeicaza opened #24093 "Introducing System.Rune"
Inspired by the discussion here:

https://github.com/dotnet/corefxlab/issues/1751

One of the challenges that .NET faces with its Unicode support is that it is rooted on a design that is nowadays obsolete.   The way that we represent characters in .NET is with `System.Char` which is a 16-bit value, one that is insufficient to represent Unicode values.

.NET developers need to learn about the arcan

[2017-09-16 00:19] danmosemsft commented on #23434
@tijoytom can you please take a look? Bunch of failures from this

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170915.02/workItem/System.Runtime.Extensions.Tests.Execution

[2017-09-16 00:26] danmosemsft commented on #23968
@sstevenkang the complication is netstandard.dll. This was introduced as part of .NET Standard 2.0 because we needed to pick some surface area for .NET Standard 2.0 libraries to build against. There were various reasons we didn't simply choose mscorlib based or system.runtime based and typeforward the other one. One reason was that on a platform where those typeforwards were not deployed, it is ea

[2017-09-16 00:27] mellinoe commented on #23968
The purpose of all of the different types of DLL's, and different configurations (`netfx`, `netstandard`, netcoreapp`, `uap`, etc.) is because our different platforms are implemented differently -- the reference assemblies help to paper over those differences. The multitude of reference assemblies and implementation assemblies, and their differences, are a consequence of us trying to support tons

[2017-09-16 00:40] davidsh commented on #23992
@Priya91

Are you saying the test is failing in CI against .NET Framework Desktop (on a real Windows machine)?

Or are you saying that that the test is failing when run against .NET Framework in a Windows container on top of Parallels on a MAC?

[2017-09-16 00:42] shao200 commented on #24074
think you!
my system structure is:
Desktop(framework4.62)<-->WrapLib httpClient (standard2.0)<-->Webapi(net.core2.0)framework4.62

[2017-09-16 00:44] kingces95 commented on #23992
@mellinoe I updated the gist links above to the System.Drawing.Common XML as well as the console log during the test run. Hope it helps!

[2017-09-16 00:45] davidsh commented on #24074
Thank you for describing the architecture.  However, we really need a complete Visual Studio solution so that we can easily compile all the source files and include the same NuGet packages that you are using.  That will help us to repro.

You can simply zip up your Visual Studio solution and attach it to this issue.

[2017-09-16 00:47] Priya91 commented on #23992
Yes, the same code, when run against .NET Framework should throw SocketException, but it does not on a windows vm on top of parallels on mac. Below is the repro code used, same as the failing test.

[code]

[2017-09-16 00:49] davidsh commented on #23992
Ok, so the variable here is that the "hardware" is not a real machine but rather the Parallels hypervisor architecture on a Mac.

cc: @karelz You'll need a Mac person to troubleshoot this since this is a Mac specific problem causing different behaviors to leak thru into the Windows container.

[2017-09-16 01:10] JosefPihrt commented on #24062
Thanks for answer @JonHanna.

[2017-09-16 01:12] JonHanna commented on #24093
Do you expect the in-memory representation to be strings of 32-bit objects, or translated on the fly? What about the memory doubling if the former? What's the performance impact if the latter?

Is naming a Unicode-related technology after a particular Unicode-supported script (and a technology to improve astral plane support after a BMP script, at that) a good idea?

[2017-09-16 01:20] mellinoe commented on #24093
I think the proposal (and perhaps it needs to be made more explicit) is that the in-memory representation of strings does not change at all. The `Rune` type merely represents a distinct individual 21-bit code-point (stored as a 32-bit int). [Methods referring to code points](https://msdn.microsoft.com/en-us/library/z2ys180b(v=vs.110).aspx) could potentially return a `Rune` instead. Presumably ther

[2017-09-16 01:27] benaadams commented on #24093
`char` is both half a word and also a full word; and you have to inspect its surroundings to determine which - like it current represents half a letter or a full letter.

Perhaps `System.character` where its always a full letter... :sunglasses:

[2017-09-16 01:45] stephentoub commented on #24083
@ianhays, where is the managed implementation still used?  Is it just used when decompressing Deflate64 files?  If there are places we can avoid the large array allocations, great, just wondering about priority.

[2017-09-16 02:02] stephentoub commented on #23879
Actually, I'm happy with a solution using Unsafe.As:
[code]
We would just need to acknowledge that code is depending on the layout of the two types matching and guarantee never to diverge them from each other.  Any problems with that, @jkotas/@KrzysztofCwalina?

[2017-09-16 02:10] stephentoub opened #24095 "NamedPipeClientStream.ReadAsync poor cancellation in the face of concurrent reads"
In general, concurrent asynchronous reads on the same Stream isn't supported.  However, due to the underlying implementations on Windows, FileStream actually does allow for this when opened in asynchronous mode, as does NamedPipeClientStream.  On Unix, to enable cancelable ReadAsyncs, we queue a work item that does a polling loop, to give the code opportunity to see a cancellation request, but thi

[2017-09-16 02:14] shao200 commented on #24074
[CoordinationStandard.zip](https://github.com/dotnet/corefx/files/1308032/CoordinationStandard.zip)

[WpfClient.zip](https://github.com/dotnet/corefx/files/1308037/WpfClient.zip)
thank you .

[2017-09-16 02:16] benaadams commented on #24093
`char` is a bit of a terrible representation and even for ascii/latin only languages; the rise of emoji will still permeate; it means `char` is a check and maybe check next `char` type

@NickCraver [on twitter](https://twitter.com/Nick_Craver/status/9079871414808944650)
![](https://pbs.twimg.com/media/DJnRfAgXcAAdepp.jpg)

While utf8 is a variable width encoding; its rare (if at all?) that a user

[2017-09-16 02:20] shao200 commented on #24074
Server side deployed in Aliyun, is an IIS  DataBase WebAPI

[2017-09-16 02:28] blowdart commented on #24093
I said it in the original issue and will say it again. Abandoning what a standard says because you don't like the phrase will confuse more than it will solve, and, given there is a rune code page in Unicode, that just confuses it more.

The name is wrong.

[2017-09-16 02:30] migueldeicaza commented on #24093
@mellinoe

The Rune would provide many of the operations that today you expect on a Char, like ToLower[Invariant], ToUpper[Invariant], ToTitle, IsDigit, IsAlpha, IsGraphic, IsSymbol, IsControl.

Additionally, it would provide things like:

* `EncodeRune` (encodes a rune into a byte buffer)
* `RuneUtf8Len` (returns the number of bytes needed to encode the rune in UTF8),
* `IsValid` (not all Int32 v

[2017-09-16 02:38] migueldeicaza commented on #24093
@benaadams The Swift Character is a level higher up from a rune.   Characters in swift are "extended grapheme clusters" which are made up of one or more runes that when they are combined produce a human readable character.

So the Swift character does not have a fixed 32-bit size, it is variable length (and we should also have that construct, but that belongs in a different data type).   Here is t

[2017-09-16 04:37] jkotas commented on #23879
It does not work. `Unsafe.As` is constrained to object references. Value types of different types are not assignable even in unsafe IL.

[2017-09-16 05:17] danmosemsft commented on #24000
This is causing 350 tests to fail. It is only on Centos, Debian, Fedora, Ubuntu 17.xx and SUSE. Not RH, SLES, Ubuntu 16.xx,

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170916.01/workItem/System.Net.Security.Tests

On my personal Centos box, I had to `yum install krb5-workstation` to get it. On my Ubuntu box, I had to get

[2017-09-16 05:49] danmosemsft commented on #23433
also
[code]

[2017-09-16 05:50] danmosemsft commented on #23433
@AtsushiKan the implementation of Round in CoreRT is identical to that in CoreCLR. I assume this must be a codegen issue, right?

[2017-09-16 05:53] shao200 commented on #24074
Server-side deployment in Aliyun, is an IIS APIs is a very simple table add, delete, change, check. One of the tables is a self associated table, and I want to get his tree, so I add include and entity (r=>r. XXX) to the controller, which has data within it. Collection. But through JSON, with HttpClient to accept the error. Some of the fields of the child table associated with the tree are some re

[2017-09-16 06:08] xplicit commented on #24093
Just for me `grapheme` word would be more self-describing.

[2017-09-16 06:10] janvorli commented on #24092
@mellinoe don't worry about it, I'll fix it.

[2017-09-16 06:45] jkotas commented on #23879
We had a very similar discussion a while back about unsafe access to array backing ImmutableArray. The purist approach won in that discussion, we did not expose the method for it and recommended to use hack in places that really need this. The outcome is that the hack took its own life, and it is spreading and mutating: [here](https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Meta

[2017-09-16 08:38] Drawaes commented on #22398
👍    Cool now just need @stephentoub to do the stream api change and I will look at SSLStreams implementation.

[2017-09-16 10:01] mellinoe commented on #24092
Much appreciated!

[2017-09-16 12:01] stephentoub commented on #22398
You mean on the base class? It's already done :)

[2017-09-16 12:17] Drawaes commented on #22398
Cool. Guess I need to put down my IL tool for a while and get back to SSLStream :)

[2017-09-16 12:56] stephentoub commented on #23879
I agree.

I will unblock myself with `Unsafe.As`.  But I do think we should add this, or something equivalent (doesn't matter to me whether it lives on `ReadOnlyMemory<T>` or on `Unsafe`).

[2017-09-16 14:29] kfarris9 commented on #19771
@danmosemsft I've been tracking this post and I'm a little confused.  I see the src for DataSetExtensions on github, but your post implies it isn't available until later in the year.  I'm using a recent nightly build of 2.1, but are you saying I still need to copy the src to my own project and use it from there until some future data?  I'm a little shy about copying src into my local repo for our

[2017-09-16 15:04] pblasucci commented on #23985
@tarekgh sorry for the delayed reply (and sorry for posting a duplicate issue).

As to my use case, I picked the class somewhat randomly as part of a presentation on property-based testing (but was still surprised by the error).

[2017-09-16 15:05] pblasucci commented on #23985
Closing as duplicate of #14797.

[2017-09-16 15:05] #23985 closed

[2017-09-16 15:07] papamamadoii commented on #2089
have an issue when trying to install a package

[code]

[2017-09-16 17:01] karelz commented on #24000
@danmosemsft I don't see any test failures on the link you pasted.
Where can I see the 350 tests affected? Where can I find how long they are failing? (is that a recent regression?) ... Or do we still lack that kind of info about test failures?

[2017-09-16 17:05] karelz commented on #24000
Oh, I wasn't signed in (and the page didn't indicate that well :( ... @Chrisboh is it something that can be improved please?)
I still see only 25 tests failing on the page (on 7 OS versions). That does not add up to 350 ... what am I missing?

[2017-09-16 17:28] karelz commented on #23992
Naively I would expect Windows under Parallels on Mac to behave in similar way as in any other virtualization technology (with Windows/Linux host). Ideally it should behave the same way as on physical HW (I assume that's how Windows VM on Windows/Linux host behaves).
I wonder why that is not the case here - maybe Parallels/driver bug?

Given that we do not have unlimited Mac HW, adding new CI legs

[2017-09-16 17:30] karelz commented on #24000
@wfurt can you please look at this high-impactful test failure?

[2017-09-16 17:53] weitzhandler commented on #5766
@TsengSR looks like you have a daily quota of downvotes you ought to accomplish...
@gulshan, HTML+CSS will never replace XAML.

[2017-09-16 17:55] weitzhandler commented on #24064
@danmosemsft Really the object can be anything, but it's expected to be either `string`, or a collection of the supported types.

[2017-09-16 17:56] weitzhandler commented on #24064
@danmosemsft I'll wrap it in a `try-catch`.

[2017-09-16 18:01] TsengSR commented on #5766
Stop spamming the issue with unrelated noise, which is nowhere related to the tracked issue. People watching this issue are not interested in your and @juepiezhongren chatter/whinings. Use Gitter instead.

[2017-09-16 18:10] jkotas commented on #23992
Also, adding the `255.255.255.255` entry is recommended as workaround for all sorts of problems. For example, https://technet.microsoft.com/en-us/library/security/ms16-077.aspx suggests to add `255.255.255.255 wpad` as a workaround. So this problem is not specific to Parallels. Any machine with these sort of workarounds applied will have the same problem.

[2017-09-16 18:11] weitzhandler commented on #5766
Actually I agree. Will delete my posts.

[2017-09-16 18:35] davidsh commented on #23992
Interesting.  We'll need to study this test and replace "255.255.255.255" with something else that is appropriate for this particular test.

[2017-09-16 19:59] danmosemsft commented on #24000
@karelz if you look at https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170916.01 on the left you see 350, this is the number of failures. The failures began in https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170915.02 . I don't know why : the script didn

[2017-09-16 21:21] sdrapkin commented on #23629
@morganbr

No, I'm not. If such API were available, it would be easy to create a stream-encrypted ciphertext of a size that no buffer-decryption will be able to decrypt (out of memory).

[2017-09-16 21:27] Drawaes commented on #23629
^^^^ This, there hasn't been much agreement so far, but I think we can all agree whatever way it goes an asymmetric API would be a disaster. Both from a "hey were is the stream decrypt methods I thought I would rely on because there were encrypt methods", and because of @sdrapkin comments above.

[2017-09-16 21:52] sdrapkin commented on #23629
@Drawaes Agreed. Asymmetric enc/dec API would be awful.

[2017-09-16 22:58] danmosemsft commented on #24064
Thanks. Note it's on MinLengthAttributeTests also

[2017-09-16 23:29] danmosemsft commented on #23846
@mellinoe  I got a segfault on Centos7.3 is tha related potentially
https://mc.dot.net/#/user/danmosemsft/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/bb77128c10d80888512031e9a95feb41a99c1ef8/workItem/System.Drawing.Common.Tests

[2017-09-16 23:58] weitzhandler commented on #24064
Since the `Count` check is wrapped in a shared helper we don't have to worry about that.

[2017-09-17 00:00] weitzhandler commented on #24064
@danmosemsft
Since the `Count` check is wrapped in a shared helper we don't have to worry about that.
Though I'm catching [`TypeAccessException`](https://docs.microsoft.com/en-us/dotnet/framework/net-native/missingmetadataexception-class-net-native), the base class of `MissingMetadataException` which is unavailable in the annotations project.

[2017-09-17 00:20] svick commented on #23592
@AtsushiKan What is the use case for those helper methods? When are the resulting values useful, except for assigning them to the right `ProcessStartInfo` property?

[2017-09-17 03:34] TimRowe commented on #24033
@karelz  @bartonjs , Thanks for your help,  I used `DES.Create()`instead, it works well now.

[2017-09-17 04:08] weitzhandler commented on #24064
Really I think the error is due to the new `TypeInfo` system and the property extension methods which are probably not implemented in the problematic platforms.
I'd gladly address the issue upon a failing test commit. Meanwhile I've submitted a PR (#24101) wrapping it in a try-catch block.

[2017-09-17 07:51] shao200 commented on #24074
在 System.Net.Http.HttpContent.d__49.MoveNext() --- 引发异常的上一位置中堆栈跟踪的末尾 --- 在 System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task) 在 System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task) 在 System.Net.Http.HttpClient.d__58.MoveNext() --- 引发异常的上一位置中堆栈跟踪的末尾 --- 在 System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task) 在 Syst

[2017-09-17 10:07] nietras opened #24103 "Add Overlaps/Within extension methods for ReadOnlySpan<T>"
This proposal adds utility methods for checking spans for overlaps or if a span is within in another span. For previous discussions see https://github.com/dotnet/corefx/issues/17793, https://github.com/dotnet/corefxlab/issues/827 and https://github.com/dotnet/corefx/issues/18750. And a closed PR https://github.com/dotnet/corefx/pull/18731.

### Proposed API
Add two sets of  extension methods `Over

[2017-09-17 11:35] jnm2 commented on #23592
@svick For example, literally everywhere in Cake, escaping is done naively (assuming that tacking a quote onto each end is good enough without understanding the underlying mechanism). People need a go-to proper escaping mechanism.

[2017-09-17 13:29] TSlivede commented on #23592
@jnm2 Why do you need a conversion method for that? I didn't read the source code of Cake, but wouldn't it be much cleaner to just add elements to an argument list instead of manually escaping each single argument and creating a single argument string?

I believe this is a perfect example of what @mklement0 said:

(The latter should only be needed if you're passing an preexisting string through or

[2017-09-17 13:33] ektrah commented on #24103
A few thoughts:

* `elementIndex` cannot be an `int` because the difference between `xRef` and `yRef` may be greater than `int.MaxValue`.
* If the spans do not overlap (A and E) then `elementIndex` is not meaningful, because the GC may change the relative order of the two objects at any time. (This might actually fix the previous issue.)
* The name `Contains` is *very* confusing.
* The name `eleme

[2017-09-17 15:29] jimevans opened #24104 "HttpWebRequest performance vastly slower in .NET Core 2.0 than full .NET Framework"
Consider the following method (error/exception handling omitted for brevity:

        public virtual string MakeHttpRequest(Uri fullUri, string httpMethod, string requestBody)
        {
            string responseString = string.Empty;
            HttpWebRequest request = HttpWebRequest.Create(fullUri) as HttpWebRequest;
            request.Method = httpMethod;
            request.Timeout = 30000;

[2017-09-17 15:36] jimevans commented on #24104
I'll point out here, to forestall the inevitable comment mentioning it, that changing from `System.Net.HttpWebRequest` to `System.Net.Http.HttpClient` in the .NET Core case doesn't resolve the issue. The performance is the same. In the aforementioned [demo project](https://github.com/jimevans/NetCoreHttpPerfDemo), there is an alternative implementation that can be used in the .NET Core case that u

[2017-09-17 16:02] davidsh commented on #24104
This is a duplicate of #23401.

[2017-09-17 17:33] ektrah opened #24105 "Change ReadOnlySpan indexer to return ref readonly"
[code]

See https://github.com/dotnet/corefx/issues/23881#issuecomment-328741859.

[2017-09-17 17:47] jimevans commented on #24104
@davidsh While I'm more than happy to concede that it might be a duplicate, the statistics given in the report of #23401 seem to indicate individual requests via the full framework take longer than the same requests using .NET Core. This is the opposite behavior of what I've observed, hence this new issue report. I'm sure I'm missing some context or am misinterpreting what I'm seeing. Please feel

[2017-09-17 20:24] stephentoub commented on #24070
@janvorli, I assume in this environment it also fails the System.Diagnostics.Tests.ProcessTests.TestMainModule test?
https://github.com/dotnet/corefx/blob/4854f643d8cc7448faa59511fe1c88a8da2ea49b/src/System.Diagnostics.Process/tests/ProcessTests.cs#L315

[2017-09-17 20:32] qmfrederik commented on #24104
Can you try changing your tests so that they use http://127.0.0.1 in the URL instead of http://localhost?

When using 127.0.0.1, I get response times of ~10ms, whereas localhots give me response times of ~1020ms, so it looks like there's a 1-second timeout you're hitting.

[2017-09-17 20:45] JonHanna commented on #14345
Currently at 80.8%.

Can this one be assigned to me? Chipping away at it is a general focus of mine, when I've time to contribute to corefx.

I'm not sure it's suitable for the "easy" label any more; the bulk of what was done on moving the needle is identifying dead code which isn't always the easiest due to the need to be sure nothing not truly dead is being deleted. (Well, I'm always nervous eno

[2017-09-17 20:55] 0xced commented on #24093
My two cents on the name, quoting again the Go post on strings with emphasis:

I 100% agree with @blowdart, calling it rune is just confusing and wrong. The unicode standard mention code points three times just in the [first page of the introduction chapter](http://www.unicode.org/versions/Unicode10.0.0/ch01.pdf) but the term *rune* appears nowhere.

If it’s a code point, then it should be named *

[2017-09-17 21:09] JonHanna commented on #24093
If the term *rune* never appeared in the standard, it **could** be okay, the problem is that it appears several times in chapter 8, in relation to runes. It's not just wrong, it's actively confusing the matter with another.

[2017-09-17 21:27] mfeingol opened #24108 "Installing System.ValueTuple 4.4.0 from Nuget into UWP project causes reference conflicts"
Version 4.3.1 works fine.

The warning is:

```1>C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin\Microsoft.Common.CurrentVersion.targets(1987,5): warning MSB3277: Found conflicts between different versions of the same dependent assembly that could not be resolved.  These reference conflicts are listed in the build log when log verbosity is set to detailed.```

I've a

[2017-09-17 21:52] JonHanna commented on #24093
If this is about 32-bit code-points the term `grapheme` would be confusing because a grapheme is something else again.

I've often wanted a code-point datatype (not in a good while, as what I've worked on has changed, but a few years ago I've wanted this **a lot** and written overlapping partial solutions to parts of that need and could have done with a well-tested library). I don't see why this s

[2017-09-17 22:23] parjong commented on #24049
The above issue is not from ARM cross build, I just ran x64 managed build inside Ubuntu 14.04 docker container with the following command:
[code]
The error comes from the second stage.

[2017-09-17 23:21] poizan42 commented on #24081
@stephentoub Wouldn't this work?

1. Open with O_CREAT but not O_TRUNC
2. Call flock
3. If locked then call ftruncate(fd, 0)

[2017-09-17 23:35] Drawaes commented on #24104
Which might suggest it's an issue with the dns lookup class rather than the http class. Which would be insightful

[2017-09-17 23:42] stephentoub commented on #24081
Possibly. I was actually asking, not challenging. :) I've not investigated what if any difference there would be in observable behavior.

[2017-09-18 02:12] Jiayili1 commented on #24000
This issue is also repro in CI, outerloop_netcoreapp_centos7.1_release, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_release/170/testReport/

[2017-09-18 02:18] maxzav opened #24110 "LINQ OrderBy performance drops by bazillion times in some cases"
### **Input data:**
`List<int> list = new List<int>();`

### **Prepare data:**
**random:**
`var rnd = new Random();
for (var i = 0; i < n; i++)
    list.Add(rnd.Next());`
**desc:**
`for (var i = 0; i < n; i++)
                list.Add(n - i);`
**asc:**
` for (var i = 0; i < n; i++)
                list.Add(n - i);`
**desc+asc:**
`for (var i = 0; i < n / 2; i++)
                list.Add(n - i);

[2017-09-18 02:26] Jiayili1 commented on #23738
This issue is repro in osx10.12_release, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release/3132/testReport/

[2017-09-18 03:07] Jiayili1 commented on #14673
Now it failed with: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/250/testReport/System.Net.Sockets.Tests/SendReceiveTask/SendRecvPollSync_TcpListener_Socket_listenAt____1__pollBeforeOperation__True_/

MESSAGE:
Wait timed out\r\nExpected: True\r\nActual: False
+++++++++++++++++++
STACK TRACE:
at System.Net.Sockets.Tests.SendReceive`1.SendRecvPollSync_TcpList

[2017-09-18 03:23] danmosemsft commented on #24110
At a guess, because OrderedEnumerable always picks the [midpoint](https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/OrderedEnumerable.cs#L663) for the quicksort partition. List uses the [median of three](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/ArraySortHelper.cs#L279) which has less pathological behavior on nearly sorted

[2017-09-18 03:26] SunnyWar commented on #24110
These two look the same to me, perhaps you made cut-n-paste error.

This is just going to put a random number at the end of the list so I doubt it shows anything of value. At best it could be used to evaluate the sorting routines but not for measuring Add.

[2017-09-18 03:35] SunnyWar commented on #24110
@maxzav One more thing. Did you roll your own benchmarking system or did you use [https://github.com/dotnet/BenchmarkDotNet](url)? Which, I recommend BTW. Rolling your own can quite difficult and error prone.

[2017-09-18 04:50] maxzav commented on #24110
Anyway, sorting of 1,000,000 int values more than 30 minutes... and how about 100,000,000 values? If this is a bug - it must be fixed, if this is "feature" of sorting algorithm of OrderBy - it must be changed. I think .Net Core is not a place for algorithms with performance blackholes.

copy/paste :) asc: list.Add(i)

Using Stopwatch, run test 10 times, skip 2 times with longest duration (warmup).

[2017-09-18 05:27] koenigst opened #24112 "Documentation Error in System.Collections.Immutable.ImmutableInterlocked"
The summary of `TryPop` in [ImmutableInterlocked](https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableInterlocked.cs) is a copy of `Push` which is obviously wrong.

As this is a very small change and I'm new to corefx I would correct this quickly.

[2017-09-18 05:48] danmosemsft commented on #24110
I agree it should be improved.

@JonHanna in case he is interested

[2017-09-18 05:52] danmosemsft commented on #24112
That would be welcome, @koenigst !

[2017-09-18 05:56] Jiayili1 commented on #23388
Test: System.ServiceProcess.Tests.ServiceControllerTests.ConstructWithServiceName_ToUpper failed with same issue.

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/170/testReport/System.ServiceProcess.Tests/ServiceControllerTests/ConstructWithServiceName_ToUpper/

[2017-09-18 06:05] maxzav commented on #24110
Forgot to add some important information:
This performance blackhole exists only in sequential LINQ **.AsEnumerable()**
Parallel LINQ works fine **16.1 milliseconds** for 100,000 items
`list.AsParallel().OrderBy(x => x).ToList();`

[2017-09-18 06:06] dotnet-mc-bot opened #24114 "Test: System.Net.Sockets.Tests.SocketOptionNameTest / MulticastInterface_Set_AnyInterface_Succeeds failed with "Xunit.Sdk.TrueException""
## History of failures (after 11/9)

Date | Build | OS | Details
-- | -- | -- | --
12/7 | 20171207.01 | Fedora25 & RedHat72 & RedHat73 |
12/7 | 20171207.02 | Fedora25 & RedHat72 & RedHat73 |
12/7 | 20171207.04 | Fedora25 |
12/8 | 20171207.05 | Fedora25 |
12/13 | 20171213.01 | Fedora25 | [link](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2

[2017-09-18 06:10] Jiayili1 commented on #22904
failed again in UWP ILC Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170918.01/workItem/System.Net.WebSockets.Client.Tests/analysis/xunit/System.Net.WebSockets.Client.Tests.CancelTest~2FCloseAsync_Cancel_Success(server:%20ws:~2F~2Fcorefx-net.cloudapp.net~2FWebSocket~2FEchoWebSocket.ashx)

[2017-09-18 06:13] Jiayili1 commented on #22791
The test `BasicEventSourceTests.TestEventCounter/Test_Write_Metric_EventListener` has failed.

BasicEventSourceTests.EventTestHarness+EventTestHarnessException : Error Detected in EventTestHarness.RunTest\r
    FAILURE IN SUBTEST: \"EventCounter: Log 1 event, explicit poll at end\"\r
    ************* EXCEPTION INFO ***************\r
    Xunit.Sdk.EqualException: Assert.Equal() Failure\r
    Expec

[2017-09-18 07:36] maxzav commented on #24110
Did more tests, and I was wrong about Parallel LINQ.

With this initial data, I get performance drops by 251 times (on CPU with 2 cores)
[code]
`list.AsParallel().OrderBy(x => x).ToList();`
sorting 100,000 items in 4041 milliseconds.

So, there is a serious bug in sorting alghoritm (maybe with indexes?)

[2017-09-18 09:04] gimpf commented on #14354
@morganbr I've updated my [benchmarking results](https://github.com/gimpf/Haschisch.Kastriert/wiki).

For now I've only 64bit results on .NET Core 2. For that platform, City64 w/o seed is the fastest across all sizes. Incorporating a seed, XX-32 is tied with Murmur-3-32. Luckily enough these are the same algorithms that have the reputation to be fast for 32bit platforms, but obviously we need to v

[2017-09-18 09:12] JonHanna commented on #24110
Though one can still produce sequences that'll hit its O(n<sup>2</sup>) worse case. (And they both do pretty well with nearly-sorted input, but have different varieties of merges of nearly sorted input such as the ascending/descending mix shown here with median-of-three's being more obscure). I put median-of-three into `OrderBy` in a PR some time ago and then [took it out again](https://github.com

[2017-09-18 09:31] borjasanes commented on #7518
Solved installing this NuGet package: runtime.native.System.Data.SqlClient.sni

[2017-09-18 09:31] borjasanes commented on #7518
@foxjazz I solved it installing this NuGet package: runtime.native.System.Data.SqlClient.sni

[2017-09-18 11:01] Looooooka commented on #12064
Well this just sucks.

[2017-09-18 11:33] jimevans commented on #24104
Of course, @qmfrederik is correct. Using the IP address directly in the URL reduces the time required to make the HTTP call. However, as pointed out by @Drawaes, that does indicate an issue somewhere else in the network stack, most likely in DNS name resolution, and maybe specific to local loopback addresses. If someone with the appropriate permissions wants to edit the title of the issue report t

[2017-09-18 11:36] Drawaes commented on #24104
Try using the dns class directly to resolve local host.

[2017-09-18 11:38] Drawaes commented on #24104
Also if you can try your test against ::1 It might be resolving localhost to ipv6 and that might be the issue.

[2017-09-18 12:08] JonHanna commented on #24110
More important here is that List is an introsort, so if it does hit the pathological case it will switch from quicksort to heapsort, which tends to be slower with a lot of inputs, but has a much better worse-case performance. This isn't an option on `Enumerable.OrderBy` since that's documented as providing a stable sort, which heapsort can't do (analogous `OrderBy` such as in PLINQ do not have tha

[2017-09-18 13:32] jimevans commented on #24104
@Drawaes The server in question only listens on IPv4 in dual-stack environments. Attempting to change the URL to ::1 (predictably) yields a `System.Net.WebException` with the message, "An error occurred while sending the request. A connection with the server could not be established." `Dns.GetHostEntry()` returns both an IPv6 and an IPv4 address for the `localhost` host name in my environment. Thi

[2017-09-18 13:37] #24070 closed

[2017-09-18 13:50] Drawaes commented on #24104
@jimevans I don't work for MS so can't speak for them I am merely an interested party but let me try to answer you :)

1. I don't know other than to resolve the DNS entry yourself and call the IPv4 address (I have had to do this before on full framework, not for perf but other reasons).
2. That is a good question, it should at least be consistent that I agree with!
3. Absolutely, I hope I didn't c

[2017-09-18 13:55] AtsushiKan commented on #23592
@svick

`SplitArguments` is useful for parsing response files when writing command line tools.

`CombineArguments` - generating response files (useful in generating repro scenarios, or large command arguments to pass to another tool in a build system.)

There's also an issue of factoring. The algorithm has been part of the BCL since forever, but it's always been loaded down with unnecessary fine p

[2017-09-18 13:58] whoisj commented on #12064
@adsolutbe , @Looooooka may I introduce you to [OpenSSL](https://github.com/openssl/openssl)?

[2017-09-18 14:08] Looooooka commented on #12064
The problem for me is we have a lot of data encrypted using the 256 bit blocksize option.
So now I'll have to somehow load/call a standard. net lib to access the data or decrypt and encrypt everything using 128 bit blocksize.
Needless to say I am not a happy camper. Was kinda hoping someone would have created their own provider with 256 blocksize support but I can see I'll just have to sell option

[2017-09-18 14:27] stephentoub opened #24115 "Proposal: Add Array.Sort<T>(T[], int, int, Comparison<T>) overload"
The PR https://github.com/dotnet/coreclr/pull/8504 changed Array.Sort to be based internally on the `Comparison<T>` delegate rather than on the `IComparer<T>` interface, as delegate dispatch is faster than interface dispatch and it enabled consolidating two implementations.   That means if an `IComparer<T>` is provided, its Compare method is wrapped in a `Comparison<T>` delegate.

However, there i

[2017-09-18 14:46] bartonjs commented on #23738
If it happens again, and it's on 053, it means that machine is somehow configured differently than the rest.

[2017-09-18 14:47] AtsushiKan commented on #23733
I'm not seeing any of these failures in MC. What GIT branch is this testing?

[2017-09-18 14:51] karelz commented on #12064
@Looooooka did you look at alternative crypto implementations like BouncyCastle? Based on your comments, it may satisfy your needs.

[2017-09-18 14:54] akoeplinger commented on #17214
That'd be @vargaz or @kumpera

[2017-09-18 14:56] AtsushiKan commented on #23433
They're only identical up to the point where they call down into an [Intrinsic] RuntimeImports.modf on CoreRT, an FCall (SplitFractionSingle) on CoreCLR. The compiler's handling of the intrinsic is where I'd start looking.

[2017-09-18 14:58] karelz commented on #23992
Thanks @jkotas! We should probably split off the Networking test discussion and harden the test more against not-so-common environment settings.

[2017-09-18 15:02] karelz commented on #24000
Ah, in the higher-level report, I didn't notice that -- it counts each failure twice (automatic rerun I assume?)

[2017-09-18 15:04] Looooooka commented on #12064
No but thank you very much!!
Will have a look tomorrow.
I'd rather just rewrite the code than deal with all that data :)

[2017-09-18 15:06] AtsushiKan commented on #23386
TFS 496482

 

[2017-09-18 15:06] #23386 closed

[2017-09-18 15:19] stephentoub commented on #24110
The stability of the algorithm shouldn't matter, as the implementation is factoring the index into the comparison when the keys are considered equal.

[2017-09-18 15:23] ericstj commented on #2089
@papamamadoii that's because you're missing https://dotnet.myget.org/F/dotnet-core/api/v3/index.json as a source and aparently Install-Package didn't use your specified feed for finding dependencies.  You might want to file a bug on http://github.com/nuget/home with specific repro steps.

[2017-09-18 15:42] stephentoub commented on #24115
In addition, we could look to see what the impact would be of changing:
https://github.com/dotnet/coreclr/blob/ebda0e66df0dd19688cf8a88375bb31c184f5037/src/mscorlib/src/System/Collections/Generic/ArraySortHelper.cs#L104
[code]
to instead be:
[code]
and the same for other such occurrences.  Worst case this should cost a type check for no gain, but best case when `Comparer<T>.Create` was used to cre

[2017-09-18 15:48] mikedn commented on #24115
Fortunately `ComparisonComparer` is sealed so the type check should fast. Might be a useful change.

[2017-09-18 15:53] adampursley commented on #19627
Consider having OriginalValue and NewValue properties on the PropertyChangingEventArgs class, so that the handler for the event has the necessary context to be able to decide whether the event should be cancelled.

Following that same line of thought, consider also having PreviousValue and CurrentValue properties on the PropertyChangedEventArgs class.

[2017-09-18 16:05] i3arnon opened #24117 "IPAddress.GetHashCode allocates a string for IPv6"
In order to return a hash code for IPv6 IPAddress calls (and caches) `ToString` and returns the result's hash code:
[code]

These allocations constantly show up high on our list when we analyze our product's performance (even though the results are cached).
Is there any reason not to just calculate the hash code from the internal `ushort[] _numbers` and `_addressOrScopeId`?

A trivial implementati

[2017-09-18 16:09] ianhays commented on #24083
Correct, it is only used to decompress Deflate64 (which is seldom used).

I'd rank it pretty low down on priority. The main scenario for which we hit the managed implementation is when we're dealing with Windows zips > 2gb so we aren't worried as much about the allocations.