[2015-02-19 17:32] davkean commented on #915
Agreed with this. A good example of this was what we did with the File IO tests. We ripped all logging that was non-essential and just noise, and moved logging that added value only to the failure case.

[2015-02-19 17:36] nguerrera commented on #915
Strongly agree too. I got them down to zero at [one point], but folks keep adding them back with each new library. :(

[one point]: https://github.com/dotnet/corefx/pull/456

[2015-02-19 18:30] weshaggard commented on #942
Turns out it was the ContinueOnError thing I introduced and not an AfterTargets issue this time. I've submitted PR #945 which should fix this.

[2015-02-19 18:39] mellinoe commented on #930
For what it's worth, I looked at the numbers for this library when we first start Code Coverage, and saw that a lot of the missed coverage was due to the unique structure of the code. In Vector<T>, for example, there are two code paths for almost every method, one which assumes hardware acceleration, and one which does not. Other types have similar duplication, but it's most evident in Vector<T>.

[2015-02-19 18:43] joshfree commented on #930
It would make sense to execute the tests in both scenarios (RyuJIT SIMD registers, and naïve software implementation) that it's an early canary for RyuJIT regressions.  What would the test infra changes entail?

[2015-02-19 18:45] weshaggard commented on #942
Fix merged.

[2015-02-19 18:45] #942 closed

[2015-02-19 19:24] mellinoe commented on #930
For this case, we'd probably need the ability to set some sort of configuration (environment variables, etc) for the execution of a test run, and then test System.Numerics.Vectors using two different configurations. I don't know how the code coverage tool is working now to be more specific than that, but that's the gist of it.

[2015-02-19 19:54] joshfree commented on #877
/cc @migueldeicaza

[2015-02-19 20:53] DamianEdwards opened #947 "Support creating a file-based ResourceManager on .NET Core"
.NET Framework supports the creation of a file-based `ResourceManager` via the static method `ResourceManager.CreateFileBasedResourceManager`. We'd like to have this available in .NET Core for ASP.NET scenarios (e.g. deploying site as source).

[2015-02-19 21:03] DamianEdwards opened #948 "Support retrieving the full set of resource strings for a given culture"
On .NET Framework, the `ResourceManager` allows you to get the full set of strings for a given culture by loading its `ResourceSet`. We'd like this to be possible in .NET Core (although the requirement to expose it via `ResourceSet` is not necessary, a simple `IDictionary<string, string>` or similar would suffice).

This is required in web scenarios to enable sending back the full set of resource

[2015-02-19 21:42] joshfree commented on #948
Linking #947 as these are both API requests for ResourceManager.  @DamianEdwards when do you need this by?

/cc @tarekgh

[2015-02-19 21:57] DamianEdwards commented on #948
@joshfree we're starting our work on this now and we'd like these features for 1.0 so within the next month.

[2015-02-19 21:58] DamianEdwards commented on #947
Note, this is fine to be a new type/package rather than on the `ResourceManager` contract. We just need the functionality.

[2015-02-19 22:01] #918 closed

[2015-02-19 22:04] #920 closed

[2015-02-19 22:08] stephentoub opened #949 "DocumentXPathNavigator test failed in CI"
This happened in a Release build in the lab (http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release/70/):

[code]

[2015-02-19 22:16] akoeplinger opened #950 "System.Reflection.Metadata fails to build in VS"
This is related to https://github.com/dotnet/corefx/issues/745, but in this case it's not because of Xunit but because of the project reference to System.Collections.Immutable.

I tried to fix this by moving the reference to NuGet in https://github.com/dotnet/corefx/pull/946 but apparently the System.Collections.Immutable.dll is not copied to the test directory so the tests fail.

I'm a bit at a l

[2015-02-19 22:33] nguerrera commented on #950
@akoeplinger It should definitely be a nuget dependency. There's an assumption deep in the test buildtools infrastructure at the moment that nuget packages support aspnetcore50 by name and not just an older portable profile.

/cc @FiveTimesTheFun @weshaggard who worked on the CoreCLR test running and the project reference came in as a result of that AFAICT.

[2015-02-19 23:04] mellinoe commented on #930
Actually, this is further complicated by the fact that, in order for SIMD intrinsics to activate, we need to run in a 64-bit process, which doesn't seem to be the case right now. Tests are running 32-bit it seems.

Also, when we do allow 64-bit test process, we'll need to make sure that a good version of RyuJit is being used. This part probably isn't a problem, RyuJit is the standard 64-bit JIT no

[2015-02-19 23:07] krwq commented on #949
Fix pending: https://github.com/dotnet/corefx/pull/954

[2015-02-19 23:08] joshfree commented on #930
do we still have the ee compat mode quirk for simd? if so this sounds pretty straightforward.  compile and run the assembly in 64bit mode; then run it again with the compat quirks flag.

[2015-02-19 23:13] mellinoe commented on #930
Yes, essentially we just need to run with COMPLUS_Altjit set to * for one run, and then set to nothing for another. This is assuming we can get the test running in a 64-bit process.

[2015-02-19 23:19] krwq opened #956 "VS automatically changing solution and csproj"
What are your thoughts about VS automatically changing stuff?

I.e: https://github.com/dotnet/corefx/pull/954 VS updated version info. Also it removed new line character in the end of csproj (I removed this this change).

Should we keep that kind of changes or revert them?

I don't have strong opinion on that although I generally think that easier solution is always better: we should not manually

[2015-02-19 23:29] akoeplinger commented on #956
+1. It would be nice though if this could be done for all .csproj's in a single pass so it doesn't show up randomly in a changeset (I guess this might only be possible once the VS2015 version number doesn't change anymore?).

[2015-02-20 00:00] alexperovich opened #957 "Dashboard: Hook up official build results."

[2015-02-20 00:15] arbsmith opened #959 "System.Globalization.Extensions::IdnaConformanceTests::TestAsciiPositive failure"
On a local build I am hitting this failure:

Message:
Decoded string is not a valid IDN name.
Parameter name: unicode

Stack Trace:
   at System.Globalization.IdnMapping.ThrowForZeroLength(String paramName, String invalidNameString, String otherString)
   at System.Globalization.IdnMapping.GetAsciiCore(String unicode)
   at System.Globalization.IdnMapping.GetAscii(String unicode, Int32 index, Int3

[2015-02-20 00:51] arbsmith commented on #959
This is a dupe of #579

[2015-02-20 00:51] #959 closed

[2015-02-20 01:04] krwq opened #962 "Remove dependency on System.Xml.XPath.XmlDocument from System.Xml.XPath.XDocument tests"
Currently the test is comparing two different implementations of XPath - one of them is assumed "good" as there are currently no known bugs to it. I will remove the dependency once it is no longer needed although it is helpful right now since XPath.XDocument has few bugs for investigation and it has proven to be helpful for me (there are few behavioral differences between implementations which we

[2015-02-20 01:14] weshaggard commented on #956
The solution files are always bad about this which is why I've never really liked having them checked in (however I've lost that battle :)). I suspect we are going to continuously fight each other on the version as everyone will be using a different version of VS. Personally I would just undo those changes locally if that is the only change in the file. If there other changes in the file then I wo

[2015-02-20 01:37] weshaggard opened #963 "Support Proxy servers for our nuget download task"
See PR #788 where we reverted the fix for #38 because there were some unhanded cases which caused a null reference if the DefaultWebProxy is null. We should add support again with proper checks in place.

[2015-02-20 01:42] crowwhite opened #964 "complete payment"

[2015-02-20 01:51] #964 closed

[2015-02-20 02:07] joshfree commented on #877
Fixed by @FiveTimesTheFun with commit https://github.com/Microsoft/referencesource/commit/6463232f87812df994d59b76e972fd25eac93285

[2015-02-20 02:07] #877 closed

[2015-02-20 02:10] mafiya69 opened #965 "Error showing Metadata file \corefx\bin\Windows_NT.AnyCPU.Debug\XunitTraitsDiscoverers\XunitTraitsDiscoverers.dll could not be found."
I opened \src\System.Console.sln and build it.
System.Console builded successfully, but System.Console.Text failed showing an Error Showing "Metadata file \corefx\bin\Windows_NT.AnyCPU.Debug\XunitTraitsDiscoverers\XunitTraitsDiscoverers.dll' could not be found." Anyone can help?

[2015-02-20 02:12] akoeplinger commented on #965
Looks like https://github.com/dotnet/corefx/issues/745

[2015-02-20 03:07] weshaggard commented on #965
Yes this is a duplicate of #745. We haven't figured out how we want to address it yet but for now you can workaround it by building at least once from the command line (either this project or the entire build.cmd in the root).

[2015-02-20 03:07] #965 closed

[2015-02-20 04:45] ebickle opened #966 "Open source System.Collections.Generic.dll"
The System.Collection set of projects is missing System.Collections.Generic, which is part of both mscorlib and System.dll in the standard .NET Framework.

Please open source and port that namespace to a proper System.Collections.Generic.dll assembly as part of corefx.

[2015-02-20 05:26] ebickle opened #967 "Deprecate System.Collections.Specialized.CollectionsUtil class"
Inside of the System.Collections.NonGeneric project is the class System.Collections.Specialized.CollectionsUtil.

There are a number of design and functional problems with the class:

* It contains only static methods, but the class itself is not static as it predates .Net 2.0. It has an implicit public constructor.
* The CreateCaseInsensitiveHashtable methods use StringComparer.CurrentCultureIgno

[2015-02-20 05:27] ebickle opened #968 "Move Process related classes out of System.Diagnostics"
This is likely a contentious issue and a bit of a non-starter, but I wanted to open it up for discussion now before the first release of corefx.

Going back to the first release of .NET, all of the process-related functionality (e.g. Process, ProcessModule) is located inside of System.Diagnostics while all of the thread-related functionality is located inside of System.Threading.

To this day, it'

[2015-02-20 05:37] shahid-pk commented on #966
generic collections are in System.Collections in corefx but they are not yet on github, but they will soon appear here.

[2015-02-20 06:05] davkean opened #970 "ReadOnlyObservableCollection.CollectionChanged should be made public"
The `ReadOnlyObservableCollection.CollectionChanged` event is protected, which is flawed, it prevents you from being able to observe changes to it without casting to `INotifyCollectionChanged`.

I suspect the original thinking was because the collection is "read-only" it never changes - this is not correct. _Read-only_ in .NET means that the consumer has a read-only view over a collection (which i

[2015-02-20 06:11] davkean commented on #968
Thanks for bug. While we do consider a mistake that Process lives in Diagnostics, it's too late to change it. For APIs that it shares with the other .NET stacks, it remains API compatible (changing namespace is a breaking change), developers can compile against .NET Core and run on other platforms, such as .NET Framework and Mono.

[2015-02-20 06:11] #968 closed

[2015-02-20 06:16] davkean commented on #966
We should already have an issue on this, but I can't find it. I'll make this one it. It's on our backlog and will be ported soon.

[2015-02-20 06:23] orteipid commented on #26
Could you possibly clarify the use of "not to allocate" in the last sentence? Assuming that this is a user-supplied MetadataStringDecoder and using one of the code examples in MetadataStringComparer, do you have something in mind such as:

    if (reader.StringComparer.Equals(typeDef.Namespace, "System", MetadataStringDecoder decoder) &&
        reader.StringComparer.Equals(typeDef.Name, "Object",

[2015-02-20 06:26] weshaggard commented on #967
We have had numerous similar discussions internally about this exact class and while we agree with you in general we decided to keep it here for legacy compat reasons. The System.Collections.NonGeneric library in primarily for legacy compat reasons and in such libraries our goal is to keep the APIs as they are and not change them at all (no matter how much we dislike them :)).

[2015-02-20 06:39] shiftkey opened #973 ".NET Core + Existing Platforms - What Can We Expect?"
I found myself watching a discussion between @davkean and @onovotny go down [[start here](https://twitter.com/davkean/status/568636866053812224)] to better understand where .NET Core sits relative to existing platforms.

Because 140 characters is a terrible medium, let's keep this going here.

I'm still looking at supporting Windows 7 users for a while at least, so I'm curious what options are ava

[2015-02-20 06:59] davkean commented on #947
There's a couple of reasons why we'd probably want to make this a separate package:

1. On WinRT-based platforms, `ResourceManager` calls through WinRT APIs so that it can read from PRIs instead of ResX-based resources. We probably wouldn't light it for them. If we did, what would it do? Read resx when the rest of the platform is PRI? Read PRI? Who knows.

2. From a layering perspective, we consid

[2015-02-20 07:08] ebickle commented on #967
That's what I assumed as well :)

What are the rules and recommendations for aligning existing classes into the new corefx assemblies? In this case we have a System.Collections.Specialized class living outside of the System.Collections.Specialized namespace.

[2015-02-20 08:15] DamianEdwards commented on #947
@davkean Separate pacakge is fine. Yeah I just misspoke on the resx file thing :smile:

You can see a working example of what we have in mind at https://github.com/DamianEdwards/i18nStarterWeb

It's compiling the resx files to resource files on disk during our precompilation stage and then loads them straight from there.

[2015-02-20 12:01] sharwell commented on #970
I believe the original thinking was the `NotifyCollectionChangedEventArgs` structure could expose the underlying (non-readonly) list in certain scenarios. You can see evidence of this [in the reference source code](http://referencesource.microsoft.com/#System/compmod/system/collections/specialized/notifycollectionchangedeventargs.cs,322). Exposing the underlying collection would require the user t

[2015-02-20 12:53] onovotny commented on #973
Thanks @shiftkey for bringing this conversation to a more long-format medium and great summary :).
What it boils down to is the disconnect between the apparent promise of .NET Core BCL being self-contained within apps and what kind of underlying platform support is needed. The way I read the [.NET Core description](http://blogs.msdn.com/b/dotnet/archive/2014/12/04/introducing-net-core.aspx), in th

[2015-02-20 14:36] stephentoub commented on #606
This failed again in a Windows debug CI run, though at a different line:

MESSAGE:
System.NullReferenceException : Object reference not set to an instance of an object.
+++++++++++++++++++
STACK TRACE:
at System.Diagnostics.ProcessModule.get_ModuleName() in d:\j\workspace\dotnet_corefx_windows_debug\src\System.Diagnostics.Process\src\System\Diagnostics\ProcessModule.cs:line 37 at System.Diagnostic

[2015-02-20 15:37] eatdrinksleepcode commented on #967
Why not deprecate it? "Warnings as errors"?

[2015-02-20 15:38] krwq commented on #949
This should've fixed it https://github.com/dotnet/corefx/pull/954

[2015-02-20 15:38] #949 closed

[2015-02-20 16:01] davkean commented on #947
Okay, thanks.

[2015-02-20 16:14] nguerrera commented on #26
@orteipid The MetadataReader already has a MetadataStringDecoder and the StringComparer has a MetadataReader. There's no need to pass it in.

The problem is that we don't use the decoder to compare UTF-8 values in metadata to UTF-16 System.Strings. Today, we only use it to create System.Strings from metadata. This is inconsistent but only observable for malformed UTF-8 in metadata.

The entire poi

[2015-02-20 16:18] nguerrera commented on #26
I'm looking at this now. I'll have a fix tomorrow.

[2015-02-20 16:57] weshaggard commented on #967
Just about everything about that type is wrong including its namespace. While it is in the S.C.Specialized namespace it is tightly coupled with and has public APIs that return types from S.C.NonGeneric. So we kept it in that assembly instead of putting it into the Specialized assembly and requiring a dependency from Specialized to NonGeneric (at least from the public API surface).

As for marking

[2015-02-20 18:15] #746 closed

[2015-02-20 18:15] weshaggard commented on #746
Fixed by @Maxwe11 with PR #777

[2015-02-20 18:16] nguerrera commented on #746
Thanks @Maxwe11!

[2015-02-20 18:20] weshaggard commented on #751
Thanks @a-todorov for the API additions but in order to make forward progress it would be best to split this up and follow the https://github.com/dotnet/corefx/wiki/API-Review-Process.

[2015-02-20 18:20] #751 closed

[2015-02-20 18:40] ebickle commented on #967
@weshaggard I agree, there's nothing inherently dangerous about the class. Wasn't sure of the deprecation/obsoleteattribute strategy was changing in .NET Core.

I had incorrectly assumed System.Collections.Specialized took a dependency on System.Collections.NonGeneric. Still a bit unclear how things like System.Collections.IList will fit in the new package/assembly structure.

[2015-02-20 18:40] #967 closed

[2015-02-20 18:50] eatdrinksleepcode commented on #967
I understand the concern with creating noise for people who are already using it. The problem is that the type isn't only exposed to people who are already using it; it is also exposed to everyone else, including developers who are picking up the framework for the first time and don't know that there are better options available. Such people will often search the internet looking for examples or s

[2015-02-20 19:01] davkean commented on #746
@Maxwe11 awesome!

[2015-02-20 19:12] KrzysztofCwalina commented on #625
I just committed a fix to this. To compile the application for Windows 7, you need to get the new bits and follow the instructions described in the CoreFxLab wiki, i.e. uncomment a line in the HelloWorld.csproj file that enables Windows 7 build.

[2015-02-20 19:12] #625 closed

[2015-02-20 19:17] nslottow opened #975 "Fill System.Runtime.Extensions test gaps"
The initial merge of System.Runtime.Extensions tests (#802) included tests which we were running internally that were marked as covering the System.Runtime.Extensions contract.  That set of tests does not cover all the types in the contract.  We should add tests to cover the rest of this contract.

[2015-02-20 19:19] akoeplinger commented on #967
@eatdrinksleepcode FYI we had a similar discussion in https://github.com/dotnet/corefx/issues/384

[2015-02-20 19:31] ebickle commented on #384
I haven't fully formulated the thought yet, but I've been toying with the idea of proposing an enhancement to the ObsoleteAttribute type so that, well, it's no longer obsolete.

The primary issue is that there needs to be an indication to developers which types are discouraged, but not necessarily obsolete in the sense that they shouldn't ever be used or may be removed in a future version.

The co

[2015-02-20 19:40] ellismg commented on #915
The real issue here really is that all of our tests were not written with xUnit in mind.  As we do this, we should make sure that if the output of the test was useful then it's captured in some other way (e.g an assert with a good message).

[2015-02-20 20:02] AlexGhiondea opened #976 "XPathTests failing in CI system."
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_prtest/159/

[2015-02-20 20:02] AlexGhiondea opened #977 "Process_MainModule test failing in CI system."
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_prtest/162/

[2015-02-20 20:41] davkean commented on #973
Let's clarify a few things.

* [.NET Core](http://blogs.msdn.com/b/dotnet/archive/2014/12/04/introducing-net-core.aspx) is the framework for the _next_ version of both Windows 8.1 and Windows Phone 8.1, ie Windows 10. Existing Windows 8.1 and/or Phone 8.1 libraries will be able to consumed by .NET Core with zero changes. When running on Windows Devices, .NET Core will sit on top of the [.NET Nativ

[2015-02-20 20:49] n8ohu commented on #973
@davkean I'm going to ask this here, since it's the best option I have; does this mean that the planned Windows 10 release for the Raspberry Pi 2 will support .NET Native apps?

[2015-02-20 20:51] davkean commented on #973
@n8ohu I can't answer that. :)

[2015-02-20 20:53] onovotny commented on #973
@davkean Ok, thanks for the clarification. So to restate:

- Existing PCL's that target Wpa81+Win81 will work on Win10 (but not ASPNet vNext)
- We can also then create a new "System.Runtime" .NET Core dll that will target Win10 + AspNet vNext (and should be mostly the same code path as Wpa81/Win81)

Is that accurate?

[2015-02-20 21:05] davkean commented on #973
Every System.Runtime-based library today that does not use WinRT will run on .NET Core everywhere. If you used WinRT, you will run on platforms with WinRT.

[2015-02-20 21:11] stephentoub commented on #977
Looks like a dup of #606

[2015-02-20 21:14] #838 closed

[2015-02-20 21:24] alexperovich opened #978 "Dashboard: Enable User specific layouts and configs."
https://github.com/benjamine/jsondiffpatch can be used to greate user specific patch data to modify the global freeboard state.

[2015-02-20 21:29] alexperovich commented on #978
Note: objectHash function will be needed for array diffing.

[2015-02-20 22:35] AlexGhiondea commented on #977
Yup. Closing this.

[2015-02-20 22:35] #977 closed

[2015-02-20 23:26] DamianEdwards commented on #947
@davkean I quite like the idea of a `Stream` based `ResourceManager` API, such that we could avoid hitting the disk when changing from .resx -> .resource. Then we really could just deploy resx files without any precompile or other such steps.

[2015-02-21 00:28] krwq commented on #976
It looks the same as the bug I fixed yesterday: https://github.com/dotnet/corefx/issues/949 https://github.com/dotnet/corefx/pull/954. Looking at the date of log that would also fit. Could you attach the error message? It says "not found" when clicking on the test:

[2015-02-21 02:51] davkean commented on #970
That was the behavior on Compact Framework, but not the behavior on full CLR. Given that CF implementation of this particular class came _after_ the desktop implementation, I don't believe this is the history.

[2015-02-21 03:41] weshaggard commented on #384
For better or worst I think that @terrajobst suggestion of having a diagnostic (FxCop rule or Roslyn Analytic) about these types is about the best we can do. That can hopefully help point people in the right direction without having the compile time implications that obsolete has. In particular compile time implications become trouble when you are in an asp.net type scenario where you are compilin

[2015-02-21 04:50] sharwell commented on #970
I agree that it's unlikely users would override this event. The primary reason to override it would be to address the specific accessibility problem you describe here, but that isn't allowed in C#. A more likely scenario would be implementing a new publicly-exposed event which simply attaches listeners to the event in the base class. The latter use case would not break if the accessibility of the

[2015-02-21 04:53] davkean commented on #970
@nguerrera @terrajobst, thoughts?

[2015-02-21 08:52] ellismg commented on #973
It would be nice if all this information was captured on the wiki somewhere.  Care to take a shot at writing up a FAQ and putting it on the Wiki, Dave?

[2015-02-21 13:37] stephentoub opened #980 "System.ObjectModel code coverage is failing"
=== TEST EXECUTION SUMMARY ===
     System.ObjectModel.Tests  Total: 53, Errors: 0, Failed: 0, Skipped: 0, Time: 0.340s
  Committing...
  No results, this could be for a number of reasons. The most common reasons are:
      1) missing PDBs for the assemblies that match the filter please review the
      output file and refer to the Usage guide (Usage.rtf) about filters.
      2) the profiler may n

[2015-02-21 18:44] akoeplinger opened #982 "Running tests for a single project needs /t:Test"
The wiki shows for [running tests on the command line](https://github.com/dotnet/corefx/wiki/Developer-Guide#running-tests-on-the-command-line):

... this doesn't work (it only builds the project), I need to append `/t:Test` for the tests to run.

The guidance is also misleading for projects that have nested folders under \tests, like [System.Diagnostics.Process](https://github.com/dotnet/corefx/t

[2015-02-22 03:03] weshaggard commented on #982
Thanks for pointing out the out dated instructions. I updated the wiki for with the following:

msbuild /t:BuildAndTest (or /t:Test to just re-run the tests)

Does that cover what you are after @akoeplinger?

[2015-02-22 13:35] akoeplinger commented on #982
Sounds good, thanks!

[2015-02-22 13:35] #982 closed

[2015-02-22 14:28] shaggygi opened #984 "SerialPort Support on Windows"
Just wondering if SerialPort namespace will be included at some point?

--------------------------------------------------------------------

### Execution plan

- [x] 1. @JeremyKuhne to seed the sources in CoreFX (from full .NET Framework) - add source code (sanitized, with licenses), the source won't build
- [x] 2. Make the code build
    * CC: @JeremyKuhne @karelz on PRs
    * Note: We will not

[2015-02-22 14:45] Maxwe11 commented on #984
:+1:

[2015-02-22 15:20] am11 commented on #973
@davkean,

First of all thanks for the explanation. I have heard and read many varied interpretations of .NET Core corefx; its purpose and its value to existing .NET Framework. You have nailed it by giving it straight! :)

Regarding these points:

If .NET Native is defined as "some machinery which will compile and optimise your .NET code to super fast machine code", then how is it analogous or rel

[2015-02-22 15:27] xanather commented on #973
@davkean This is what I think about .NET Native after reading about it (might not be 100% correct):

When compiling with .NET Native the MSIL is converted to machine code for the target platform. So yes there wouldn't be an AnyCPU option when compiling for .NET Native. I like to think of it simply as a pre-jitted program though I'm sure its more complex than that. CoreCLR runtime would still be ru

[2015-02-22 17:26] stephentoub commented on #606
Failed again:

 System.Diagnostics.ProcessTests.ProcessTest.Process_MainModule [FAIL]
        System.NullReferenceException : Object reference not set to an instance of an object.
        Stack Trace:
           d:\j\workspace\dotnet_corefx_windows_debug_prtest\src\System.Diagnostics.Process\src\System\Diagnostics\ProcessModule.cs(37,0): at System.Diagnostics.ProcessModule.get_ModuleName()

[2015-02-22 19:46] #980 closed

[2015-02-22 23:26] sawilde commented on #984
There are a few nuget packages that already provide this capability as there are such a small number of downloads it makes you wonder what the demand is.

[2015-02-23 01:28] shaggygi commented on #984
@sawilde could you provide a link for those?  I would like to try them out.  Thx

[2015-02-23 05:22] sawilde commented on #984
http://www.nuget.org/packages?q=serial

[2015-02-23 11:12] nguerrera opened #987 "MetadataReader ReadFile fast path does not work with async file streams"
When a FileStream is opened with isAsync: true (.NET Core default!), the ReadFile P/Invoke code that we have in the metadata reader to read small files straight to native memory. ReadFile fails with invalid param error code because our handle was opened for overlapped IO.

For now, I'm changing the code to be more defensive and always fall back to the slow file -> managed heap -> native heap code

[2015-02-23 11:31] shaggygi commented on #984
Thx

[2015-02-23 12:36] akoeplinger opened #988 "CI failures: "Test reports were found but not all of them are new""
The [dotnet_corefx_windows_release_prtest](http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/) job seems to fail occasionally with:

[code]

Examples: [190](http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/190/console), [188](http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/188/console), [186](http://dotnet-ci.cloudapp.net/job/dotnet

[2015-02-23 13:06] stephentoub commented on #988
Not just dotnet_corefx_windows_release_prtest, but also dotnet_corefx_windows_debug_prtest, e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_debug_prtest/192/console

[code]

[2015-02-23 14:05] stephentoub opened #990 "Improve code coverage for System.ObjectModel"
According to the current code coverage report, this library is only at 30%. Our general goal is closer to 90%, though this will depend on the library. We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-02-23 17:05] ericstj commented on #987
If you are getting the handle out of FileStream you should pass all arguments to the FileStream constructor (Either UseAsync or FileOptions).

[2015-02-23 17:13] adamralph commented on #973
There's some very good information in this thread, but as @ellismg suggests, it really needs to be available in a clear, simple format, understandable to people as simple minded/stubborn/impatient as myself. At the moment I'm still bamboozled by all the different platform names that are being thrown about and I once I do understand part of it, I tend to lose the information fairly quickly and have

[2015-02-23 17:15] nguerrera commented on #987
@ericstj I don't control the construction of the FileStream. The reader tries to light up and do a fast read via P/Invoke on the Stream that gets passed in already constructed.

[2015-02-23 17:34] Maxwe11 commented on #790
I see that it could be easily refactored with `Theory` attribute. If yes I can do that.

[2015-02-23 18:10] mmitche commented on #988
Fixed.  It shouldn't be failing the tests in these case.  "is 3.3 sec old".  Hah!

[2015-02-23 18:10] #988 closed

[2015-02-23 18:11] ericstj commented on #987
In that case you never know if you are getting a sync or overlapped handle.  The fact that the default changed is irrelevant since it could have happened before.  The way to detect it is to do a ReadFile specifying null for overlapped and see if it fails with ERROR_INVALID_PARAMETER.  See [VerifyHandleIsSync](https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/Win32

[2015-02-23 18:14] mmitche opened #991 "Enable code coverage report generation for individual projects"
If we run a subset of the projects for code coverage, we should still generate a report.

[2015-02-23 18:35] mellinoe opened #992 "Consider saturated arithmetic functionality for Vector<T>"
In the past, we've seen some requests for Vector<T> to provide some means to do saturated arithmetic operations. Such operations could be useful for a variety of applications, like signal processing, image processing, etc. It makes sense to at least investigate what such functionality would look like, how it could be exposed, etc. Given that there are also SSE2+ instructions that expose some level

[2015-02-23 18:47] mellinoe opened #993 "Consider generic support for Shuffle and Shift operations on Vector<T>"
Two useful operations that we have long-considered adding to Vector<T> are shuffle and shift. These are pretty fundamental operations that low-level algorithms could very often take advantage of. One of the challenges was developing a generic but straightforward interface for utilizing such operations across all of the (integral) numeric types that Vector<T> supports.

Work to be done:

* Define w

[2015-02-23 19:57] dsplaisted commented on #973
Check out this diagram from the Introducing .NET Core blog post:

![.NET Core diagram](http://blogs.msdn.com/cfs-file.ashx/__key/communityserver-blogs-components-weblogfiles/00-00-01-12-34/2783.Pic3.png)

In that diagram, the "Unified BCL" and "Runtime adaption layer" will mostly be in the [corefx repo](https://github.com/dotnet/corefx).  The CoreCLR is in the [coreclr repo](https://github.com/dot

[2015-02-23 20:05] benaadams commented on #973
RyuJIT is now making use of SIMD; will .NET Native also compile using SIMD optimisations?

[2015-02-23 20:10] dsplaisted commented on #973
@benaadams I'm pretty sure that's the plan but I don't know the specifics.  Any comment about SIMD and .NET native @mellinoe?

[2015-02-23 21:09] #975 closed

[2015-02-23 21:09] alexperovich opened #996 "Dashboard: Add page to show test failures for specific area."

[2015-02-23 21:25] alexperovich opened #998 "Dashboard: Make Bug Id link open in new window."

[2015-02-23 21:49] blobor opened #999 "Add back Environment.Is64BitXXX"
Hi all.
There are some methods that aren't yet implemented in Environment class.
- Is64BitProcess
- Is64BitOperatingSystem
- OSVersion

Will they be implemented?

[2015-02-23 22:02] stephentoub opened #1000 "Several Dataflow ETW events aren't firing due to MethodAccessExceptions"
Several System.Threading.Tasks.Dataflow ETW events aren't firing on .NET Core, due to what looks like private reflection issues: MethodAccessExceptions are getting thrown and swallowed when firing these events.

[2015-02-23 22:37] nslottow commented on #652
Just want to note that this should include removing dead #ifdef'd regions and making sure that each library has the right set of preprocessor symbols defined.

[2015-02-23 23:17] nguerrera opened #1001 "MetadataReader overuses uint"
This was sent to me from @tmat, quote:

[code]

He also shared the following implementation suggestion:

[code]

[code]

[2015-02-23 23:42] jhendrixMSFT opened #1002 "Using 64-bit CoreCLR causes four test failures for System.Numerics.Vectors"
After updating to CoreCLR 1.0.2 the following System.Numerics.Vectors tests are now failing.

QuaternionFieldOffsetTest
PlaneFieldOffsetTest
Matrix4x4FieldOffsetTest
Matrix3x2FieldOffsetTest

The tests fail with a NullReferenceException when attempting to get field offsets.  Here's an example.

Quaternion* ptr = (Quaternion*)0;
Assert.Equal(new IntPtr(0), new IntPtr(&ptr->X));

This used to work a

[2015-02-24 02:12] ellismg commented on #869
Fixed via #1003

[2015-02-24 02:12] #869 closed

[2015-02-24 04:58] nguerrera commented on #987
I realize this could have happened before, I just meant that the new default is why it was only uncovered now. I'll look into doing the overlapped IO, but this code is getting gnarly as it has to worry about running on non-Windows.

I'd like to talk some more about  having a Stream.Read into byte* with an efficient override in FileStream that just does the right thing. If we think we'll do that, I

[2015-02-24 05:12] adamralph commented on #973
@dsplaisted thanks for the diagram. @davkean does link to it in his comment but it really only tells a small part of the story. There are lots of other terms mentioned which are not captured so I think there just needs to be something similar, but more complete, a true canonical reference for all this stuff. At the moment it requires forensics to get the whole picture, e.g. trawling through discus

[2015-02-24 07:16] dopare opened #1006 "Add SmtpClient support"
Is there any plans to add `System.Net.Mail` into aspnetcore50?

[2015-02-24 11:04] LightVolk commented on #973
So, it uses only for Win 8 App? Will it be on Win7-like desktop apps?

[2015-02-24 11:36] VanJanssen commented on #927
I would like to contribute to this issue. What are the naming conventions for test cases and test files?

[2015-02-24 11:51] stephentoub commented on #927
@ericstj?

[2015-02-24 14:18] MikePopoloski opened #1008 "Faster and/or vectorized sin/cos"
In certain types of applications, the extra precision and correctness afforded by Math.Sin() and Math.Cos() are not worth the performance penalty they impose. These applications are often already using primarily single precision floats for computations, and thus have to round trip through double to make use of these methods. I propose adding a FastMath or Mathf or similar set of methods for lower

[2015-02-24 14:43] ericstj commented on #927
Naming convention is folder per class, filename per member.  I have a branch where I have written a bunch of tests for File and I think @FiveTimesTheFun is also working on some.

[2015-02-24 14:55] VanJanssen commented on #927
Thanks for the info. In my enthusiasm I commented on this issue before realising it should be put on hold until #843 is completed. I will look through the up for grabs issues to see where I can best contribute.

[2015-02-24 14:56] stephentoub commented on #927
Thanks, @VanJanssen.

[2015-02-24 17:07] RichiCoder1 commented on #973
@LightVolk my understanding is that the focus is on getting Win8/10 app compilation solid, and then considering other platforms. So it could be used for Win7, but there's no guarantee or solid plans at this time.

@benaadams @dsplaisted since .NET native uses Visual C++'s compiler under the covers, there should technically be no reason why it can't take advantage of SIMD automatically, as well as

[2015-02-24 17:14] benaadams commented on #973
@RichiCoder1 up for the automatic; is more specifically System.Numerics.Vectors which is explicit SIMD intrinsic use rather than auto-vectorisation

[2015-02-24 17:18] RichiCoder1 commented on #973
@benaadams Yup, I understand. Theoretically there's no reason why they couldn't, but it might not be a priority just yet. Sadly we haven't gotten a comprehensive update on Native since last year. I'm hoping for something before //Build, but we'll probably be waiting till then.

[2015-02-24 17:19] davkean commented on #973
I can have a crack at putting this in the wiki. @adamralph can you help me understand what you think is missing or what areas/things you would like us to explain more about? We have so much history and background around all this; I'd like to focus on things that are top of mind.

[2015-02-24 17:47] akoeplinger commented on #973
@davkean A common complaint from library authors is that .NET Core seems like "yet another target to support" ([[1]](http://ayende.com/blog/169857/net-packaging-mess), [[2]](http://weblogs.asp.net/fbouma/%E2%80%9C-net-core-is-the-future%E2%80%9D-but-who%E2%80%99s-future-is-that)), would be cool to address this and show why .NET Core is different and how the whole story looks from a library author'

[2015-02-24 18:01] #318 closed

[2015-02-24 18:33] krwq opened #1009 "Error message in System.ServiceProcess.ServiceController when building from VS2015 DevCmd"
When building using Developer Command from VS 2015 I get following error message: (build doesn't fail though - jut red message)
[code]

It doesn't repro on VS 2013 DevCmd.

[2015-02-24 18:45] AdamSpeight2008 commented on #993
**Needs more info** like what is meant by `shuffle` and `shift`
Also see #461

[2015-02-24 18:46] davkean commented on #973
Yep, there seems to be a little bit FUD being spread around due to the lack of real concrete information. While we always had a mechanism to target the platforms in a uniform way (via these things we called "contracts"), we tooled it badly and forced every library developer to think about and hence build for each platform individually.

.NET Core is about unifying the surface areas across the diff

[2015-02-24 19:03] mikedn commented on #993
The `shuffle` that is being discussed here is SIMD specific, it has nothing to do with #461. And `shift` is bitwise shift as in `>>` and `<<` but for SIMD.

[2015-02-24 19:35] #996 closed

[2015-02-24 20:14] cdrnet commented on #973
Yes, please do show in more detail how the story looks from a library author's point of view, as suggested by @akoeplinger.

For example, I maintain a [library](http://numerics.mathdotnet.com/) which currently has distinct builds for .Net 3.5, 4.0, 4.5 and 3 PCL profiles in the NuGet packages and a lot of ifdef's in the source code to try to cover them all.

It's great that it will unify the surfa

[2015-02-24 20:51] mburbea opened #1010 "Add support for extracting a bit mask from a Vector<T>"
SSE2/AVX supports extracting the MSB from each 8 byte,4 byte,2 byte or 1 byte segment (the `movemask_*` family). This can be extremely useful while performing algorithms that are data sensitive and use SSE registers like big buffers.

A user could implement algorithms that work entirely in safe code that could benefit from avoiding the allocation and rigmarole of copying data out of a register to

[2015-02-24 21:39] davkean commented on #973
@cdrnet The FUD I was referring to, is that ".NET Core" is _another_ platform. It's not, it's the continuation of the existing platforms. For example, your PCL's already targeting "System.Runtime" (in this case "78", and "259") are already supported on that platform (and hence will work in ASP.NET vNext and Windows 10).

In the short term, .NET Core will not change the world for libraries.
In the

[2015-02-24 21:47] nguerrera commented on #970
I agree with this proposal. We'd have to change desktop and source-breaking can mean app-breaking in ASP.NET, correct? I think the risk is very low, but it would depend on what we're willing to accept in the desktop framework I suppose. It would be unfortunate to clutter things with a property name that doesn't match the interface. cc @ericstj for compat concern.

[2015-02-24 21:49] jhendrixMSFT commented on #1002
After some discussion the failure is per spec.  The fact that it worked on x86 is a bug in the 32-bit JIT.  The tests will need to be fixed.

[2015-02-24 21:53] jhendrixMSFT opened #1011 "Two vector test failures for Release builds using 64-bit CoreCLR"
The following tests fail for release builds running with a 64-bit CoreCLR.

Vector2ReflectTest
Vector2ReflectTest1

Note that the tests pass for debug builds and debug or release under 32-bit CoreCLR.

[2015-02-24 22:02] am11 commented on #973
@davkean, from deployment perspective, is it like:

* we will only need to have .NET Core installed on the end-user's system (nix, mac, win), since everything else will be *bundled* with the app?
* we would *not* need to have *any* .NET-related entity (runtimes, frameworks, cores and so on..) installed on the client machine, since everything *including .NET Core* will be bundled with the app?

[2015-02-24 22:04] davkean commented on #973
@am11 It's the later. .NET Core and the runtime is bundled with the application.

[2015-02-24 22:10] am11 commented on #973
@davkean, thanks! :+1:

[2015-02-24 22:11] cdrnet commented on #973
@davkean thanks for the clarification!
@davkean In practice I actually target even more profiles: 7, 47, 78, 259 and 328. The main reasons are:
* I want to leverage System.Numerics where available (7, 47) - otherwise (78,259,328) I need to bring my own double precision Complex number type, among others.
* Some profiles require .Net 4.5 style reflection (7,78,259), others .Net 4.0 style (47,328).
*

[2015-02-24 23:56] nslottow commented on #728
@tarekgh @weshaggard, as we discussed, this may not be worth open-sourcing at this time: It is just a one-off tool that was used to generate EncodingTable.Data.cs once, a file which we do not expect to change frequently, if at all.

@tarekgh I'm reassigning this to you to close since you own the tool.

[2015-02-25 00:37] pallavit opened #1016 "Update the XElement implementation in System.Xml.XDocument to include XmlSchemaProvider attribute once the packages are refreshed."

[2015-02-25 02:48] jasonwilliams200OK commented on #461
@AArnott and others negating it dreadfully, I would like to know how would you react to C++98's `std::shuffle` defined in `<algorithm>` STL?

https://msdn.microsoft.com/en-us/library/dn688973.aspx

 We all know how *picky* C++ ISO folks are to what goes into STL, so from that angle I think those applicability and subjectivity arguments don't really hold the candle for this particular feature.

Hen

[2015-02-25 05:26] davkean commented on #999
Thanks for the issues. This is two separate requests; architecture specific properties and OS version information. We may take one of these without the other,, can you split them into two requests?

Starting in Windows 8.1, OS version information always lies - unless you've been manifested saying that you know about the new version of Windows. They do this because a lot of apps do incorrect versio

[2015-02-25 06:21] Petermarcu commented on #1006
Its not in our current plans but the code is available [here]( https://github.com/Microsoft/referencesource/tree/bebbd994069d4c3070f114f220b6f4882b3f0244/System/net/System/Net/mail) if you are interested in porting it to make it work.

[2015-02-25 07:03] Dopare commented on #1006
Thank you very much, I will try to port.

[2015-02-25 08:01] blobor opened #1017 "OS version information"
I want to write cross-platform class library based on .NET Core. I need to invoke native libraries in Windows (kernel32) and in UNIX (libc).

Currently Environment class is missing  OSversion property. Is there some way to determine in what OS currently my assembly is running?

[2015-02-25 08:17] blobor commented on #999
Hi.
- I have created new issue for OS version information https://github.com/dotnet/corefx/issues/1017.
- For Is64BitProcess property I already know this workaround (mono uses it), but still I could not determine whether a given OS is 32 bit or 64 bit.

[2015-02-25 15:58] patricksadowski opened #1019 "Consider adding Disposables"
[Reactive Extensions](https://github.com/Reactive-Extensions/Rx.NET/tree/master/Rx.NET/Source/System.Reactive.Core/Reactive/Disposables) and [System.Threading.Tasks.Dataflow](https://github.com/dotnet/corefx/blob/master/src/System.Threading.Tasks.Dataflow/src/Internal/ActionOnDispose.cs) are using their own internal Disposables. I don't know how many people have written similar APIs too. We also u

[2015-02-25 16:51] krwq commented on #976
I don't see any failures since my fix. Closing.

[2015-02-25 16:51] #976 closed

[2015-02-25 17:21] CarolEidt commented on #1008
I think these are great suggestions - both the idea of having lower-precision Math operators as well as utilizing them for the Quaternion and Matrix types, which in any case don't use double precision.  What would you propose as the accuracy expectation for such libraries?  Would you expect that their results be accurate to within some .5 or some small number of ULPs for Single (vs. Double)?  If y

[2015-02-25 17:31] benaadams commented on #993
is the ```shuffle``` more a ```swizzle```?

e.g.
[code]

[2015-02-25 18:02] #653 closed

[2015-02-25 18:27] mikedn commented on #993
SSE's `shuffle` is related to `swizzle` but it's not the same thing as it can combine values from 2 different sources. See this MSDN [page](https://msdn.microsoft.com/en-us/library/vstudio/4d3eabky(v=vs.100).aspx) for an example.

[2015-02-25 18:52] AlfredoMS opened #1021 "Improving test coverage and relevance: investigate tools for code dependencies."
Investigate tools that will show the dependencies between code and tests. This will allow us to only run the relevant set of tests related to new changes.

[2015-02-25 18:56] MikePopoloski commented on #1008
My plan as far as accuracy goes is to run every possible float value through the function and record the difference against a (float)Math.Sin() call, both peak and rms. The algorithm I'm using is borrowed from CEPHES and they make it clear that accuracy is very good up until input angles of 2^13, where you get partial accuracy loss. Above 2^24 the result is essentially meaningless and they assert.

[2015-02-25 19:13] #26 closed

[2015-02-25 19:13] #260 closed

[2015-02-25 19:13] #264 closed

[2015-02-25 19:13] #950 closed

[2015-02-25 19:13] #816 closed

[2015-02-25 19:15] krwq opened #1022 "MSBuild consistency in casing boolean properties"
MSBuild properties are case sensitive.
The "false"/"true" vs "False"/"True"

What do we prefer?

It looks like we don't have any standards with this and I saw various places in the targets which mix two different casings even for the same properties.

I believe we should unify this

Examples:
src\System.Collections.Immutable\src\System.Collections.Immutable.csproj (lowercase):
[code]
and the same

[2015-02-25 20:13] cdrnet commented on #973
This may be relevant: [Understanding .NET 2015](http://blogs.msdn.com/b/bethmassi/archive/2015/02/25/understanding-net-2015.aspx) (posted today)

[2015-02-25 20:15] VanJanssen commented on #936
When I inspected this code I noticed the following.

Of all the classes that are tested (and listed below), only the bold ones are contained in the corefx\src\System.Xml.XPath.XmlDocument\src folder. The rest of those classes are contained in corefx\src\Common\src.
1. Resources.Strings
1. System.ArrayT
1. System.NotImplemented
1. System.SR
1. System.Xml.Base64Encoder
1. System.Xml.Bits
1. **System

[2015-02-25 20:46] am11 commented on #973
@cdrnet, thanks for the blog link! :+1:

BTW this extract linked in @bethmassi's post is very useful (http://www.asp.net/vnext/overview/aspnet-vnext/aspnet-5-overview#webforms):

[2015-02-25 20:51] adamralph commented on #973
@cdrnet thanks, that definitely does help.

@davkean that blog post contains something similar to what I had in mind. Did you have a part in getting that out there? :wink:

It's a good step towards getting a canonical reference, but it's still not quite there yet. E.g. The diagram in the blog post has the positions of core CLR and .NET native with respect to .net core reversed. Consider

![image](

[2015-02-25 20:54] adamralph commented on #973
Oh, and there is in fact a re-worked version of the former diagram lower down in the post :smile:.

[2015-02-25 20:59] BethMassi commented on #973
@adamralph Very good points! @terrajobst and I went back and forth a couple times with the first diagram. I agree putting the runtimes "on top" of the core is a little weird, but it was necessary to convey that the UAP app model has a different runtime.

[2015-02-25 21:21] adamralph commented on #973
@BethMassi it's a good post and definitely a big step forward in clarifying things.

I can understand the dilemma you had, I'd suffer the same if preparing that diagram. Whilst they are lower level concerns, the core CLR and .NET Native are each serving the higher level concerns of ASP.NET 5 and Universal, and each pair straddles .NET core (aka Unified BCL). However, in the end I think I would hav

[2015-02-25 21:26] adamralph commented on #973
BTW, I understand that Roslyn will be filling the compilation part of the pipeline for getting from source to runtime for all of what is shown, but in my question I'm referring to runtime platform support for Roslyn itself, i.e. on which platforms will I able to invoke Roslyn to compile C# - hence my interest regarding scriptcs, since one of the aims of the project is to add scripting capabilities

[2015-02-25 21:34] am11 commented on #973
@adamralph, apparently Roslyn team is considering cross-platforms as well. See: https://github.com/dotnet/roslyn/issues/312.

[2015-02-25 23:14] davkean commented on #973
Going from C# -> IL will not work in places that do AOT (.NET Native/Xamarin iOS) because they do not have a JIT. You'll need to either pre-generate the IL during build, or interpret (which is what System.Linq.Expressions will be doing).

[2015-02-25 23:15] stephentoub commented on #936
@krwq?

[2015-02-26 01:08] jaredpar commented on #973
@adamralph

The intent is that Roslyn will be able to target coreclr and hence run wherever it does.  That work that is on going at the moment and hopefully should start making strides next week.

The work hopefully won't even be that disruptive.  A large portion of the code base already targets the Portable Class Libraries and hence needs no altering.  There are just a few packages which currentl

[2015-02-26 03:09] MattWhilden commented on #1019
Can you expand on this a bit? I'm not familiar with this and there's probably a number of other folks here who would benefit from a high level explanation.

You may also consider creating a speclet for this as outlined here: https://github.com/dotnet/corefx/wiki/API-Review-Process

[2015-02-26 03:51] krwq commented on #936
Yes, the coverage sounds pretty terrible. I don't believe it is appropriate. Also the question is if we should test behavior according to Xml/XPath spec or the old Desktop behavior. We must aim either for compat or for the spec. I personally think that spec should be the guideline although making breaking changes is not nice either. @ericstj, any thoughts?

Our goal is to have a good product and n

[2015-02-26 06:47] adamralph commented on #973
@davkean that makes sense, thanks.

@jaredpar yes, that does help, thanks. When you say

What do you mean by 'move'? Is it that they need to target PCL instead, with a profile spanning desktop CLR and Core CLR?

[2015-02-26 11:18] patricksadowski commented on #1019
Ok, I'll try. My english is not that good.
My indention was not to create a speclet but rather to collect common use-cases and discuss the value for Disposables in the framework. After that a speclet can be created. The main question is: Is there a need for Disposables so it can be used widely and remove redundant code? My opinion is that disposables are a good addition to the existing general typ

[2015-02-26 15:06] jaredpar commented on #973
@adamralph

They cannot target the same PCL as the rest of Roslyn because it lacks APIs that we need in order to compile: in particular access to the file system.  Instead they need to target CoreCLR which has the appropriate portable APIs.

[2015-02-26 15:10] adamralph commented on #973
I see, so anything which targets CoreCLR will also be able to run on the desktop CLR?

[2015-02-26 15:28] davkean commented on #973
I want to clarify something here. Roslyn isn't going to target "CoreCLR", per se, they are targeting ".NET Core", if you target ".NET Core", you will be able to run on the full CLR.

[2015-02-26 15:32] jaredpar commented on #973
@davkean has the right of it.

[2015-02-26 15:42] adamralph commented on #973
Ah OK, so those remaining packages will switch to targeting ".NET Core", and anything which targets ".NET Core" can still run on the ".NET Framework"?

[2015-02-26 15:46] davkean commented on #973
Effectively yes. There'll be a PLIB experience that lets limit yourselves to APIs that run on older versions of .NET Framework, but for the initial release, .NET Framework 4.6 will be a superset of the APIs in ".NET Core".

".NET Core" (similar to Phone 8.1/Windows 8.1), by construction, has a portable surface area.

[2015-02-26 17:09] nguerrera commented on #58
@akoeplinger Is this still an issue? I suspect it would have been fixed by the System.Xml sln split.

[2015-02-26 17:20] nguerrera commented on #299
Thanks, @sharwell. I agree and I've updated the wiki with your recommended text.

[2015-02-26 17:20] #299 closed

[2015-02-26 17:22] akoeplinger commented on #58
@nguerrera Ah sorry, yeah this has long been fixed (even before the sln split) :)

[2015-02-26 17:22] #58 closed

[2015-02-26 17:28] nguerrera commented on #1022
I like lowercase. Some of those are generated by VS and on different ways in different places. I would fix up the targets and props but leave the projects alone.

[2015-02-26 17:43] weshaggard commented on #1022
I also like lowercase but I've not seen and bugs causes by this (have you?) because I believe msbuild does case insensitive compares, it is just inconsistencies. I'm working on pulling a lot of these common targets into the build tools and as part of that I will try and clean up any of those casing issues as I do that work.

[2015-02-26 17:44] akoeplinger commented on #49
Thought I'd give a little status update on this: with a few recent xbuild fixes that I got into Mono master the corefx repo now builds on Mono, with just two workarounds for xbuild bugs that I didn't have time to investigate yet: https://github.com/dotnet/corefx/compare/master...akoeplinger:xbuild

[2015-02-26 18:10] stephentoub commented on #606
Another, from http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/238/console
[code]

[2015-02-26 18:23] stephentoub commented on #606
Another, from http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/240/console
[code]

[2015-02-26 18:38] crowwhite opened #1030 "profit complete my payment income"
i want do profit complete my payment income international.
and finished money to paypal account

[2015-02-26 18:44] #1030 closed

[2015-02-26 19:00] stephentoub commented on #49
Thanks for working on that, @akoeplinger!  That's great to hear.

[2015-02-26 21:01] ellismg commented on #1022
+1 to lowercase from me.

[2015-02-26 22:17] nguerrera commented on #69
@joshfree @terrajobst I agree in principle, but basically every single msbuild-based project is vulnerable to environment variable collision. There are any number of ways to break the build with any environment variable that appears in the common targets. Try set TargetFrameworkVersion=xyz or set OutDir=!!!, etc. etc. etc.

[2015-02-26 22:34] IdahoSixString commented on #966
When will all the backlog items for porting be completed?

[2015-02-26 22:47] davkean commented on #966
We don't have a timeline, but we you can see our progress on https://huboard.com/dotnet/corefx.

[2015-02-26 22:52] stephentoub opened #1032 "Clean up async usage in System.Xml.ReaderWriter"
There's a bunch of clean-up that can / should be done here now that the library is on GitHub.

[2015-02-26 23:47] joshfree opened #1034 "Update Developer Wiki with new section on Code Coverage"
The developer guide wiki (https://github.com/dotnet/corefx/wiki/Developer-Guide) should have a section on the code coverage system - including how to manually run the coverage build and generate a new report.

[2015-02-26 23:48] mmitche commented on #1034
Gracias

[2015-02-27 00:47] davkean commented on #966
We just published a better view here: https://github.com/dotnet/corefx-progress/blob/master/src-diff/README.md.

[2015-02-27 00:56] gulbanana commented on #973
This discussion has been very helpful, but there's still one thing I don't understand:
You've mentioned that due to the nature of .NET core it isn't a new 'target' in the sense of being a new set of fixed reference assemblies. What about this scenario:

Portable Class library MyLib references System.IO.File and contains MyCoolType
Desktop application WinApp targets net45
ASP.NET 5 application targ

[2015-02-27 01:49] dsplaisted commented on #973
@gulbanana Once we have the tooling for Portable Class Libraries working, you should be able to select .NET 4.6 and ASP.NET Core 5.0 in the portable targets dialog, and then you would be able to use System.IO.File.

We don't plan on adding new PCL profiles for this, as having a separate PCL profile for each possible combination of platforms doesn't scale.  So when you are targeting only newer plat

[2015-02-27 01:57] gulbanana commented on #973
Alright, that sounds like a viable way to go. Will it be possible to target an older platform like .NET 4.5, and also a newer one like ASP.NET Core 5.0, using a library that targets both the old style fixed profile and a new style portable target?

[2015-02-27 02:29] joshfree commented on #69
@nguerrera fair enough.  Doing a quick search shows the HP laptop/desktop "MCD" problem is reported all over the place since at least 2011 with various msbuild based projects.

Since the problem appears to be so common, most people should be able to unblock themselves easily enough with existing information online.  However if we could add a 1-liner check and make this easier for end users by prin

[2015-02-27 02:36] joshfree commented on #1034
de nada

[2015-02-27 04:41] davkean commented on #973
Yes. Anything that supports "System.Runtime" portable (.NET 4.5+, Win8+, Phone8+, Xamarin Android/iOS) will be able to be combined with .NET Core.

[2015-02-27 05:15] ellismg opened #1037 "Investigate why Assert went out of it's way to call MessageBox on a different thread"
There's some internal history on why this decision was made that @stephentoub and I both don't fully grok.  I need to take the time and understand if this is still something we need to be doing and why it only mattered for CoreCLR and not desktop at the time.

Once that's done, something like #1012 might be in order.

[2015-02-27 05:25] ellismg commented on #999
@blobor For your second issue, I assume you want to detect the case where you are in a 32 bit process (running under WoW, so IntPtr.Size is 4) but running on a 64 bit OS.  What's the use case here?

[2015-02-27 05:26] ellismg commented on #1017
This seems like a reasonable addition to me.  I know we are nervous to add back version properties, but some way to figure out if you are on Linux/OSX/Windows seems reasonable.

[2015-02-27 05:48] gulbanana commented on #973
Great, that means we won't lose any flexibility at all.

[2015-02-27 06:46] mikedn commented on #1037
It's kind of strange that the desktop version uses the separate thread only in WinStore apps, anyway the message box isn't displayed in those apps.

I don't know the history around this but I'm tempted to say that using a separate thread makes sense because blocking on an event is less likely to perturb the thread state. Blocking on MessageBox means blocking on a modal message loop and in turn tha

[2015-02-27 07:20] ellismg commented on #984
My general feeling is that Serial Port is not a good long term fit when you think about foundational libraries of .NET Core, and hence we wouldn't include it in the CoreFX project.  The current [SerialPort class source](https://github.com/Microsoft/referencesource/tree/master/System/sys/system/IO/ports) is MIT licensed now, as part of the .NET Reference Source project, so folks are free to take it

[2015-02-27 07:37] ellismg commented on #1037
@mikedn Yes.  For CoreCLR the internal issue that was filed was during the Silverlight time frame, where Debug.Assert was used from Silverlight apps being hosted in the browser, and it was causing re-entrency issues.  I just don't understand why we didn't also make the change for Desktop at the same time (unfortunately for me, I was the person that made the change 6ish years ago, so I only have my

[2015-02-27 08:14] Maxwe11 commented on #984
What the problem to use SerialPort on server? It's a powerful "tool" like pipes or sockets.
.NET ecosystem now includes Linux and Mac, but Win32.Registry presented in corefx.

[2015-02-27 08:38] adamralph commented on #973
@davkean OK, that certainly clarifies things, thanks!

So my remaining questions regarding the latter diagram are:

* Does it indeed capture the entire .net platform or is there anything missing? (I'm not referring to detail within the boxes, but anything outside them.)
* Where, if anywhere, do iOS and Android fit on the diagram? Or is that a separate domain owned by Xamarin? If so, what is Xamari

[2015-02-27 08:55] FransBouma opened #1039 "Why is DataTable/View/Set absent?"
I looked here: https://github.com/dotnet/corefx-progress and saw DataTable/View/Set isn't ported to .NET Core. IMHO this is a mistake, as DataTable and friends are a convenient way to handle untyped data at runtime, and is e.g. often used when fetching data through stored procedures as it's easy to e.g. fetch a dataset with the result of a proc which returns 3 cursors on e.g. Oracle.

I fail to se

[2015-02-27 09:27] blobor commented on #1017
Thank you :+1:

[2015-02-27 09:34] mattwarren commented on #839
This sound really interesting, especially the "perf" part. Is there any info available on what this will include, or do I just need to wait until it appears ;-)

[2015-02-27 09:45] blobor commented on #999
@ellismg I have trouble with accessing windows registry. For accessing appropriate keys I was need to switch RegistryView to 32bit or 64bit depending on platform.
Also I need to load specific library on UNIX systems depending is 64 bit or not.

[2015-02-27 09:48] blobor commented on #522
Hi guys.
So will you include this functionality into System.Threading.Thread package.

[2015-02-27 10:40] shrknt35 opened #1041 "Build Fails on a dell machine (The remote server returned an error: (403) Forbidden.)"
* I have downloaded the project as Zip.

Restoring build tools...
D:\Stuff\corefx-master (1)\corefx-master\dir.targets(49,5): error MSB4018: The "DownloadFile" task failed unexpectedly. [D:\Stuff\corefx-master (1)\corefx-master\build.proj]
D:\Stuff\corefx-master (1)\corefx-master\dir.targets(49,5): error MSB4018: System.Net.WebException: The remote server returned an error: (403) Forbidden. [D:\St

[2015-02-27 10:40] xanather commented on #973
Last I heard Xamarin is pulling in a lot of the code found on CoreCLR/CoreFX for their platforms. I doubt Microsoft is going to officially support them with CoreCLR.

[2015-02-27 11:11] ellismg commented on #984
@Maxwe11, I'm interested in understanding more about how serial pots would be used in server scenarios.  I can see how both pipes and sockets are useful in general for IPC, what sorts of uses does serial port have?

You're right about CoreFX containing some Win32isms,  However, we are doing our best to minimize the set of types that pull in Win32 concepts.  The desire to be able to run stacks like

[2015-02-27 11:13] shaggygi commented on #984
@ellismg I can see your point of view on this topic as there were several discussions why serial port capability was not provided out-of-box for WinRT.  However, this feature is needed all the time in some industries like building automation.  In addition, if corefx is expected to be used with embedded devices, those type of applications use uarts quite a bit.

I would agree it might not need to b

[2015-02-27 11:28] shaggygi commented on #984
One other note... I've also seen cases where data cables were needed to connect between pc/tablet/phone via USB to devices for serial communications (232, 485).  Having this feature would support these types of apps.

[2015-02-27 11:42] Maxwe11 commented on #984
As mentioned by @shaggygi: for communicating with embedded devices.

[2015-02-27 11:48] shaggygi commented on #984
I don't recall adding anything about using with servers.  If so, it must have been a typo.

[2015-02-27 12:40] onovotny commented on #973
@davkean

So this is still the sorurce of my confusion. If I'm ok with supporting only those platforms, can we use the new System.IO.File for example? Or is it saying that .NET Core will run those "older"/"wider" libraries?

[2015-02-27 13:25] akoeplinger commented on #984
+1 for SerialPort, it is still widely used in industrial/embedded systems.

I'm not sure whether we need it in corefx though, having a separate package should be fine too (after all, better modularization is one of the benefits of the new model). Maybe it's time for dotnet/extendedfx :smile:

[2015-02-27 13:56] Tragetaschen commented on #984
I don't really care if it's from corefx or any other repository as long as it's coming from Microsoft. In the past, that always meant a certain level of quality.

[2015-02-27 14:06] stephentoub opened #1043 "PR CI builds are all failing in Windows Release builds"
Started by upstream project "dotnet_corefx_prtest" build number 258
originally caused by:
 GitHub pull request #1042 of commit f7b4faa781834be59c12de304a2301902a48b0d5 automatically merged.
Building remotely on dci-win-fbld-12 (windows-fast windows) in workspace d:\j\workspace\dotnet_corefx_windows_release_prtest
Wiping out workspace first.
java.io.IOException: remote file operation failed: d:\j\w

[2015-02-27 14:55] leppie opened #1044 "Microsoft.DotNet.TestHost.1.0.3-prerelease only targets 32-bit"
Running tests on Window 7 64-bit fails due to `CoreRun.exe` being 64-bit and the TestHost dlls being 32-bit.

When setting the 32-bit flag on `xunit.console.netcore.exe` with `corflags.exe` and invoking it directly (iow without `corerun.exe`), the tests work again.

            8664 machine (x64)

             14C machine (x86)

[2015-02-27 15:33] kangaroo commented on #984
I agree with @ellismg, this isn't a corefx problem.  This is a problem, that begs for a community contribution of a fantastic nuget package!

[2015-02-27 15:55] Maxwe11 commented on #984
Agree with it, but for now SerialPort not supported even in PCL

[2015-02-27 15:57] mmitche commented on #1043
Looks like it was just one machine with an orphaned process.  Restarted.

[2015-02-27 15:57] #1043 closed

[2015-02-27 15:57] shaggygi commented on #984
@kangaroo I'm still trying to get up to speed on corefx and what it provides.  I was thinking corefx included a bunch of packages that are cross plat.  So what would be the difference of having a file system or XML package versus the serial port package?  I agree it may not need to be included with core package.... Just hope serial communication is provided ..... And not a third-rate quality packa

[2015-02-27 16:07] mmitche commented on #1043
@stephentoub @ellismg Filed dotnet/dotnet-ci/#8 to provide an automated way to reboot machines.

[2015-02-27 16:07] krwq commented on #830
Fixed by https://github.com/dotnet/corefx/pull/1020

[2015-02-27 16:07] #830 closed

[2015-02-27 16:23] ebickle commented on #1044
Having the same issue here. Running a complete build gives multiple errors of "CoreRun.exe - Application Error. The application was unable to start correctly (0xc000007b)."

Opening corerun.exe in Dependency Walker shows a mixture of x86 and x64 libraries being loaded into the same 64-bit process.

[2015-02-27 16:34] krwq opened #1045 "XmlReader.ReadAsync goes into infinite recursion"
**Before fixing the bug please make sure the tests for Xml.ReaderWriter were already added or you can add your own tests - make sure you test old and new behavior. Any breaking changes need to be additionally reviewed.**
*This is a modified copy of internal bug, may contain fragments of discussions I not necessarily written myself*

Repro:
[code]

Open issues:

1) XmlReader.Create, XElement.Load,

[2015-02-27 17:26] stephentoub commented on #1043
Thanks, Matt.

[2015-02-27 17:54] krwq commented on #1032
Thanks for grabbing this issue!

[2015-02-27 17:56] krwq commented on #1016
@pallavit, You can add project to project reference now sine ReaderWriter is already on GH

[2015-02-27 18:18] krwq commented on #1022
I personally prefer uppercase although I put consistency over my personal opinion :)

[2015-02-27 18:27] RichiCoder1 commented on #1022
:+1: for lower case, if only for consistency with how most people use booleans.

[2015-02-27 18:35] KrzysztofCwalina commented on #1019
I agree that it would be very nice to have a library that helps people who want to implement observable APIs. Disposable is one of these things that could be simplified (as Patrick explains above). Another thing that I often hit when I implement observer/observable interfaces is that you need to store observers in a collection that needs to be concurrent, you needs to loop though it to notify all

[2015-02-27 18:47] ebickle commented on #574
I've migrated the code over to ebickle/corefx/src/System.Collections

Implemented the Array.Empty<T>() change and plugged everything into the regular build pipeline. One slight temporary kludge I had to introduce was having the System.Collections project depend on the System.Collections nuget package, as Comparer<T> isn't open source yet.

Will be fixed once issue #966 is complete.

One key area I

[2015-02-27 18:54] StevenLiekens commented on #1022
We should standardize on TRUE or FALSE.

[2015-02-27 18:54] #844 closed

[2015-02-27 19:12] stephentoub opened #1050 "Metadata reader CanReadFromSameMemoryMappedPEReaderInParallel test failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_prtest/257/

[code]

[2015-02-27 20:06] joshfree commented on #1041
Hi @shrknt35,
You're getting an HTTP Error 403 (access denied / forbidden) while attempting to download https://www.nuget.org/nuget.exe, which is a pre-requisite for completing the build.

[code]

Are you still experiencing this issue or was it transient?

[2015-02-27 20:13] shrknt35 commented on #1041
No, i am still having the same issue.

[2015-02-27 20:41] joshfree commented on #1041
You can try debugging this simplified repro.  I suspect it's a machine configuration issue such as a local firewall setting.  If we see this on our side or if we get more information we'll update this thread. --

[code]

[2015-02-27 20:50] sawilde commented on #984
@shaggygi

did you check out the nuget packages that are currently available? If not suitable - why not? Could you improve on them?

To create a 'quality' serial port library requires a certain level of knowledge I suspect - who has that knowledge... well those that need a serial port library. There are not many of you out there so rather than wait for someone to build a library, whilst making all

[2015-02-27 21:05] ashmind opened #1051 "RegexGroup should provide a Name"
#### Background

Regex group can have names assigned to them (e.g. `(?<name>.+)`). Those names can be used in an indexer of `RegexGroupCollection`, however the `RegexGroup` objects themselves do not provide a `Name` property.

The names can be retrieved using `regex.GetGroupNames`, but it is not immediately obvious -- and I'm not sure it is even possible if static `Regex` method was used for match

[2015-02-27 21:14] ebickle commented on #652
Would it be possible to update the development documentation with the 'official' set of #if symbols that are allowed, and when they should be used?

The preprocessor symbols in corefx with #if declarations are:
ASSERT_ATTRIBUTE_ORDER
ASSERT_VERBOSE
BUFFER_BUILDER_TRACING
CLS_Compliant
CONCURRENT_COLLECTIONS
DEBUG
DEBUG
DESKTOP
ECMA
EqualsStructurally
FEATURE_CORECLR
FEATURE_FILEVERSIONINFO
FEATURE

[2015-02-27 21:18] shrknt35 commented on #1041
I have check it. There was problem with my proxy...

[2015-02-27 21:18] #1041 closed

[2015-02-27 21:24] ellismg commented on #1039
@terrajobst When you have some free time perhaps you could give an overview about how we came up with what we think the surface area for .NET Core v1.0 is?

[2015-02-27 21:25] nslottow commented on #652
Preprocessor symbols have historically been added as required for large new features (e.g. FEATURE_*, SILVERLIGHT).  I'm not sure it would make sense to document an "official" set at this point because some usages of these symbols may be unnecessary, but were left in because removing them was not necessary.

FYI I'm preparing a PR to open-source a tool to analyze conditional regions & optionally r

[2015-02-27 21:28] shaggygi commented on #984
@sawilde I believe my post was out of context, so I removed it.  I'm really content with the API provided in .NET and I'm sure the other packages will probably work. I was just hoping what is provided to work with corefx will be easy to use similar to what I've always used in the past.

[2015-02-27 21:49] krwq commented on #1051
Sounds like a reasonable idea to me. :+1:

[2015-02-27 21:55] Joe4evr opened #1053 "Make DisplayNameAttribute available in .NET Core"
This was originally going to be a request to move `DisplayNameAttribute` into Core, but the problem seems a little bigger than that. Currently, `System.dll` houses approximately a couple hundred types spread across four dozen different namespaces, but not everything in it is listed on the [Open Source Progress table](https://github.com/dotnet/corefx-progress/blob/master/src-diff/README.md) (althou

[2015-02-27 22:21] joshfree opened #1054 "Add NuGet.org and MyGet.org latest build feeds to readme.md"
The CoreFX NuGet.org and MyGet.org latest build / package feeds should be added to our README.md.

See https://github.com/xunit/xunit as an example.

[2015-02-27 22:39] FransBouma commented on #1039
Whatever may be the reason, having no real story for how to fetch tabular data using stored procs, which is today mostly done using DbDataAdapters storing data in DataSet/Tables, is likely going to stop a lot of people migrating their code to .NET Core for the simple reason that a lot of people have to work with stored procs and the tabular data they return every day. While it might be that a data

[2015-02-27 23:08] ellismg commented on #1053
The entries in the progress table on that webpage are not namespaces per say, but rather the names of assemblies.  As part of the .NET Core effort, we've refactored the monolithic assemblies like System.dll into a set of smaller contracts, which make up .NET Core.  This factoring was done not on namespace boundaries but by grouping related types that form cohesive groups and version at a similar c

[2015-02-28 01:46] CarolEidt commented on #1008
That sounds great.  Let me know if you have any questions regarding the JIT support for the intrinsics.  As I say, I think it would be fairly straightforward - especially if you've got some experience in the area.

[2015-02-28 05:17] davkean commented on #1017
I've seen a similar request for ARM vs other platforms, checking pointer size is not good enough in that situation.

[2015-02-28 05:27] weshaggard commented on #1044
@AlexGhiondea I suspect this was caused by your recent changes could you please have a look?

[2015-02-28 08:05] HellBrick commented on #1017
I would have upvoted this issue if it were possible =) I have a project that uses quite a few `Environment.OSVersion.Platform` checks in the common code that's supposed to work on both Windows and Linux, so missing this API would really hurt. (Don't really care for the `Version`, `VersionString` and `ServicePack` properties though.)

[2015-02-28 23:20] ashmind commented on #312
Just a few some small points:

1. If it is not just a `IFileInfo`, but a better design -- `File.ReadAllText` and similar methods should be included (potentially as extension methods). They are extremely convenient, and it would be a pity to lose them due to the abstraction. Also I think there should be `ReadAllTextAsync` etc.

2. There should definitely be a non-static path type similar to the `Ur

[2015-03-01 02:07] stephentoub opened #1057 "RespectParentCancellation Parallel test failed in CI"
Microsoft.Test.PCP.TestMethods.RespectParentCancellation1 [FAIL]
        Should not be completed.
        Stack Trace:
      d:\j\workspace\dotnet_corefx_windows_release_prtest\src\System.Threading.Tasks.Parallel\tests\RespectParentCancellationTest.cs(0,0): at Microsoft.Test.PCP.RespectParentCancellationTest.RealRun()

[2015-03-01 02:25] robbchar commented on #1044
I'm hitting this too. Lemme know if I can get you more info.

[2015-03-01 02:44] joshfree opened #1058 "Add Windows 7 coverage to Jenkins / Outerloop runs"
Currently build.cmd no longer passes on Windows 7 machines (see https://github.com/dotnet/corefx/issues/1044).  We should look into adding Win7 coverage to Jenkins to ensure we don't regress building or running tests on this platform.

[2015-03-01 12:51] stephentoub opened #1061 "MemoryMappedFile CreateFromFileTestCases failed in CI"
[code]

[2015-03-01 14:23] stephentoub commented on #1057
cc: @AlfredoMS

Failed again:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_windows_release_prtest/282/console

[code]

[2015-03-01 16:58] Maxwe11 opened #1063 "Append guidelines with how PR feedback should be addressed"
Pull request guidelines should contain something like "rule of a thumb" which rule how PR feedback should be addressed or how merge conflicts should be resolved.

As example consider #972. Commits like `Merge branch 'master' into Issue587` (aaa5434)
clutter history and should be avoided. `git rebase` should be used for updating branch with fix.
Other commits in this PR could be squashed.

As anoth

[2015-03-01 21:24] #929 closed

[2015-03-02 05:04] pharring opened #1066 "PERF: ImmutableArray<T>.Builder.Contains is inefficient"
System.Collections.Immutable.RefAsValueType<T> is a struct that does not override Equals (or GetHashCode).

which means, when the default equality comparer is created, it'll use the generic object equality comparer. For structs, that means boxing. It also means the default ValueType.Equals implementation which is pretty bad.

This doesn't affect ImmutableArray, but it does affect the Builder. You

[2015-03-02 05:08] pharring commented on #1066
Here's the call-stack from Roslyn that hits this code path:

    Name                                                                                                                                                                               	Inc %
    mscorlib.ni!System.ValueType.Equals(System.Object)

[2015-03-02 05:15] pharring commented on #1066
If you click through the implementation of Array.IndexOf, it ultimately calls the internal EqualityComaprer<T>.Default.IndexOf which does [precisely what you'd expect](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/EqualityComparer.cs#L94-L100). Nothing fancy.

[2015-03-02 09:25] mikedn commented on #1066
But how did RefAsValueType got into the picture? As far as I can tell the builder uses a `T[]`, not a `RefAsValueType<T>[]`: [ImmutableArray`1+Builder.cs:25](https://github.com/dotnet/corefx/blob/future/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray%601+Builder.cs#L25)

[2015-03-02 11:53] patricksadowski commented on #1019
I agree that a helper library for observable APIs doesn't belong to corefx.
As the title says you should consider adding default implementations of IDisposable, please. Then my given examples could be simplified (no need for a custom class implementing IDisposable). Even Reactive Extensions and Dataflow would benefit from disposables.

I don't think I'm able to create a prototype for disposables i

[2015-03-02 11:57] tthiery commented on #1039
I want to extend the question: I understand that .Net Core is not the full .Net Framework and some features are cut out. Nevertheless, many of us rely on some features and want to migrate to .Net Core. But there are two groups: The impossible ones (e.g. WebForms / WPF) and the possible and even reasonable packages like e.g. DataTable/View, XmlSchema, System.Activities, etc. Some may have technical

[2015-03-02 12:43] stephentoub commented on #1066
@pharring, is Roslyn using an older immutable collections library?  The builder was changed not to use RefAsValueType back in early December by @jaredpar: https://github.com/dotnet/corefx/commit/61f778dbaa2d0cc088004b8a277e5e48c5a8206e#diff-d65eea42153aaa3fdaa96c5c11585e70L25 .  From a cursory search, it looks like the only place a RefAsValueType is now used is within a Stack<RefAsValueType<T>>.

[2015-03-02 14:20] sharwell commented on #1066
The change in 61f778d will be included in the RC release of the immutable collections library, but was not part of the 1.0.32 release (Roslyn beta 2 release) or 1.0.33 release (Roslyn RC 1 release).

[2015-03-02 14:48] pharring commented on #1066
Ah, right you are. I've been using VS 2015 CTP 6 which includes version 1.0.33.
Thanks for the quick response.

[2015-03-02 14:48] #1066 closed

[2015-03-02 16:10] krwq commented on #1063
I agree only and only if each commit does produce successful build. I.e. if a commit broke the build then I'd rebase (to make sure we can binary search in the future)

[2015-03-02 16:32] mmitche commented on #1044
@weshaggard @AlexGhiondea I'm working on getting WIn7 coverage.  Azure doesn't usually host the client OS's.

[2015-03-02 18:16] stephentoub commented on #991
Fixed with #1005

[2015-03-02 18:16] #991 closed

[2015-03-02 18:35] stephentoub opened #1070 "Improve code coverage for System.Diagnostics.Process"
According to the current code coverage report, this library is only at ~53%. Our general goal is closer to 90%, though this will depend on the library. We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-03-02 18:53] FiveTimesTheFun commented on #843
https://github.com/dotnet/corefx/pull/1052

[2015-03-02 22:46] #998 closed

[2015-03-02 22:56] #1057 closed

[2015-03-03 01:54] pallavit commented on #1016
@krwq I will like to wait avoid adding project references to implementation and wait for the package to get updated instead.

[2015-03-03 02:06] weshaggard commented on #1016
I agree we should avoid the P2P references between the product libraries.

[2015-03-03 06:07] ellismg commented on #1063
For short lived work, I agree with your point about rebasing against master (instead of merging).  For longer lived branches, I'm fine with merging master in at points, it's a better reflection of what's going on.

In general, I find it helpful for reviewing when folks don't prematurely rebase/ammend as part of the PR.  I find it very helpful to look at the individual feedback commits to make sure

[2015-03-03 08:01] Maxwe11 commented on #928
I think these test should be refactored with xunit in mind. One `Fact` which catch all exceptions it's not good point to start working on this issue.

[2015-03-03 08:25] bbowyersmyth opened #1079 "Proposal: leaveOpen constructor overload for CryptoStream"
A CryptoStream always closes the wrapped stream when it is disposed. This not ideal when using a MemoryStream or when another action needs to be taken on the result.

The workarounds are manually calling `FlushFinalBlock()` and then getting the MemoryStream bytes before disposing the CryptoStream, or using a custom stream that ignores the dispose call from CryptoStream. Neither are ideal and can b

[2015-03-03 10:16] RickStrahl commented on #1039
I ran into a use case today where I needed DataTable in order to return dynamic data to a service client. JSON.NET can easily serialize data tables for example. There are no easy solutions for materializing DYNAMIC data in .NET and DataTables make it easy when you don't know what the heck you're going to get back and you need to iterate over it. It's very useful for a number of things...

I can se

[2015-03-03 10:33] leppie commented on #1044
Tedious workaround:

    cd src
    ..\packages\NuGet.exe install Microsoft.DotNet.TestHost -Prerelease -Version 1.0.2-prerelease

Now copy the files from `packages\Microsoft.DotNet.TestHost.1.0.2-prerelease\lib\aspnetcore50\` that have the same names as the ones in `packages\Microsoft.DotNet.CoreCLR.1.0.2-prerelease\lib\aspnetcore50\`.

Call `build.cmd`. Tests will run now.

[2015-03-03 19:46] pallavit commented on #1070
@stephentoub Does the report mention the areas with low coverage? Please share the code coverage report. Thanks.

[2015-03-03 19:50] Giorgi opened #1081 "Proposal: Add new property for getting process path"
As you probably know you can get process path using `someProcess.MainModule.FileName` snippet. However it suffers from a couple of issue:
* Accessing MainModule of 64 bit process from a 32 bit one throws an exception
* [You can't access MainModule of elevated process from a non elevated one](http://stackoverflow.com/a/8601944/239438)

I suggest adding a new property call `Path` which returns the p

[2015-03-03 21:58] stephentoub commented on #1070
Yes.  It'll be included in the daily code coverage run once #1069 is checked in.  If you want to see the details before then, easiest way would be to just checkout the branch from the PR and do a code coverage run locally.

[2015-03-03 23:46] nguerrera opened #1085 "MetadataReader: (THandle)(Handle)default(THandle) should round-trip for all handles"
For most handles default(THandle) is the canonical nil value that can convert to the weakly-typed Handle and back, but for some such as StringHandle and NamespaceHandle default(THandle) is an invalid value that becomes a nil module handle on conversion to Handle and cannot be round-tripped back to THandle.

A fix is proposed in #1075. Filing a bug to track it so that I can close a duplicate intern

[2015-03-04 04:07] ellismg opened #1086 "Feature Request - Add ability to get actual file casing in path"
Per @jasonwilliams200OK in dotnet/coreclr#390

Based on this answer: http://stackoverflow.com/a/81493/1712065 (further redirected from: http://stackoverflow.com/a/326153).

Please add the ability to retrieve path with actual case via `FileInfo` and `DirectoryInfo` classes. The candidate member being `FullPath` and `Name`. Perhaps there is some sophisticated way of getting it from win32 file system

[2015-03-04 11:39] jasonwilliams200OK commented on #1086
NTFS is case-sensitive, its Windows which makes it look bad. :)

Thank you @ellismg. But honestly I opened this issue in coreclr repo because I think the solution should come from lowest possible API, instead of C# manipulation of canonical paths, or making repeated expensive IO operations from a distance. I still standby and vote for the coreclr option.

No solution is better than pure managed so

[2015-03-04 13:08] #655 closed

[2015-03-04 16:25] stephentoub commented on #1070
Pallavi, now that #1069 has been checked in, the code coverage information is available in the reports at http://dotnet-ci.cloudapp.net/job/dotnet_corefx_coverage_windows/lastBuild/Code_Coverage_Report/

[2015-03-04 18:37] davkean commented on #947
I spent some time thinking more about this, and I don't think the Stream approach will be what you want. Today if you call CreateFileBasedResourceManager you don't pass an actual resources file, but a base directory which dictates from where we would start probing for resources. If we had a method that created a ResourceManager from a stream, then you would basically be opt'ing out of probing - wh

[2015-03-04 18:56] mellinoe commented on #1010
This could be a very interesting addition. Could you give some examples of how you would expect the operations to work, i.e what would the return type of various operations be, how could you use them, etc. Especially with regards to different data types and different Vector<T> sizes (from various hardware capabilities).

The closest thing we have right now is ConditionalSelect, which can be used t

[2015-03-04 19:06] mmitche commented on #1034
Updated

[2015-03-04 19:06] #1034 closed

[2015-03-04 19:13] DamianEdwards commented on #947
I was thinking it would be more of a builder/factory pattern, e.g.:

[code]

[2015-03-04 19:27] #1044 closed

[2015-03-04 20:39] davidfowl commented on #947
The idea is to opt out of probing.

[2015-03-04 21:18] davkean commented on #947
You want to opt out of probing resource files on disk, but from Damian's example, ResourceManager would still be responsible for handling the lookup, right? Or is that what #948 is also about, enabling you guys to control it?

[2015-03-04 21:19] davkean commented on #947
By lookup here, I mean deciding from which culture to pick a resource given a key.

[2015-03-04 21:23] nguerrera commented on #1044
This was fixed in #1083 by picking up newer packages that match x86 to x86. There is still more work to support x64, but with a consistent use of x86 bits, tests should run fine on all machines.

[2015-03-04 21:28] DamianEdwards commented on #947
Yeah, we'd expect lookup to still be handled by `ResourceManager`

[2015-03-04 21:29] bartonjs commented on #1044
Merging in #1083 allowed me to successfully run build.cmd (including the unit test launching) on Windows Server 2012 (not R2) and Windows 7 (Client).

Furthermore things are working successfully with master up through cf664ea075339e24bb7e816e2de338d449d322a3 (the latest as of this message).

[2015-03-04 22:31] paulomorgado commented on #381
Apart the use of __goto__, for me, one of the causes of [Apple's __goto fail__ bug](http://stackoverflow.com/questions/21999473/apples-goto-fail-security-bug) was allowing two line `if`s without the braces.

In the extremely rare occasions I use unbraced "blocks" is if they are if the whole statement (or statement segment) is on the same line.

[2015-03-05 00:50] gulbanana commented on #645
it's worth mentioning that the need to deal with long paths is becoming more common. for example, consider visual studio kproj (asp.net 5) projects: they have built-in npm package installation. npm uses recursive paths for dependencies, such that installing even a single package can tip you over 260 - grunt-browserify, last I checked, included long enough paths that not even storing your solution

[2015-03-05 04:23] stephentoub commented on #809
Fixed by #1056

[2015-03-05 04:23] #809 closed

[2015-03-05 04:28] ellismg commented on #1086
@jasonwilliams200OK For .NET Core, the source for the lowest level path APIs are in the CoreFX repository.  The implementation in mscorlib.dll in CoreCLR is not what we expose as part of .NET core and will be removed if possible.

I don't fully understand your comment about CoreFX solution having worse performance than one in CoreCLR.  In either case, we would likely implement the feature the same

[2015-03-05 04:44] ellismg commented on #1081
If we do this, on Linux, we could use /proc/<pid>/exe to figure out where the on disk image is.  There are some caveats listed in the man pages, but in general I think it would be OK.  Not sure how (or if) we can do this on OS X.

[2015-03-05 05:25] leppie commented on #1044
Thanks :)

[2015-03-05 06:20] robbchar opened #1089 "System.Globalization.Extensions and System.IO.FileStream fail"
So, after the fix for #1044 I still can't build. The fails happen in the tests for the above dlls when using corerun.exe.

The FileStream exception message is
System.UnauthorizedAccessException : Access to the path 'C:\dd\corefx\bin\tests\Windows_NT.AnyCPU.Debug\System.IO.FileSystem.Tests\aspnetcore50\FileStream_ctor_str_fm_fa_fs_buffer_fo\FileModeCreate_44' is denied.

The Globalization exception

[2015-03-05 06:33] leppie commented on #1089
Getting the same here too. I think this is related to culture issues. My OS setting is `en-ZA`.

Also getting similar test failures for:
- `System.Numerics.Tests.ToStringTest.RunStandardFormatToStringTests`
- `System.Numerics.Tests.ToStringTest.RunCustomFormatThousandsSeparator`

[2015-03-05 07:06] ellismg commented on #1089
@leppie If you are on Windows 7, The normalization issue is likely #579.  Sounds like there could be some IDN issues on Windows 7 as well (I believe that the  implementation is different).  @robbchar are you on Windows 7?

The en-ZA locale likely is the cause of the Numerics tests.

We should just do a run off run on Windows 7 and disable all of these tests against bugs until #1058 is addressed.

[2015-03-05 07:11] robbchar commented on #1089
Yep win7 en-US.

Sent from my iPhone

[2015-03-05 07:13] leppie commented on #1089
@ellismg You are correct. Win 7 64-bit.

[2015-03-05 08:32] mikedn commented on #1081
Possibly related discussion/work in progress: https://github.com/dotnet/roslyn/pull/884#discussion-diff-25801767

[2015-03-05 08:52] FransBouma commented on #1039
There's another problem: DbConnection.GetSchema(). It's a way to obtain meta-data from the connected database and all ADO.NET providers have support for it, often with detailed schemas about metadata which can be used by data-access code to e.g. generate code on the fly for types or parameters. A lot of work has been put into this method by ADO.NET providers to make this method work on the databas

[2015-03-05 11:35] stephentoub commented on #1081
Yeah, we already use this in our Process implementation on Linux. In order to do path resolution for the file name passed to Start, we use /proc/self/exe to get the path of the exe and look on its directory.

[2015-03-05 11:54] davidfowl commented on #311
Whats the state of this?

[2015-03-05 14:44] WilfriedB opened #1090 "Reference to XunitTraitsDiscoverers broken, unit tests don't run in Visual Studio"
After cloning corefx, I couldn't built any solution in Visual Studio because of "missing" files. They did build with Build.cmd though, and after that they also built in Visual Studio, but with a warning: ```The referenced component 'XunitTraitsDiscoverers' could not be found```. Also, the unit tests don't run, the error message is: ```no reference to xUnit.net```.

In the .csproj file there is a r

[2015-03-05 15:05] Maxwe11 commented on #1090
duo #745

[2015-03-05 15:14] nguerrera commented on #1090
This is indeed tracked by #745. Closing duplicate.

[2015-03-05 15:14] #1090 closed

[2015-03-05 15:20] nguerrera opened #1091 "Projects fail to load in VS without having built on command line first"
Since the new resources targets were added, projects cannot be opened in VS from a clean enlistment with no packages having been restored yet.

**Repro steps**

1. Delete corefx/packages/ folder
2. Open a solution in VS

[code]

[2015-03-05 15:20] nguerrera commented on #1091
Assigning to @tarekgh /cc @weshaggard

[2015-03-05 16:36] weshaggard commented on #1091
Yes we need to add the exists condition around the import for resources.

[2015-03-05 18:51] ellismg commented on #311
Going to take care of this in the next few days.

[2015-03-05 18:56] Giorgi commented on #1081
This has two ways for getting process path on Mac: [a](https://stackoverflow.com/questions/799679/programatically-retrieving-the-absolute-path-of-an-os-x-command-line-app/)

[2015-03-05 20:04] KrzysztofCwalina commented on #700
Sorry for jumping in so late, but one question: why don't people just use noda time? i.e. why do you need a similar library in CoreFx directly?

[2015-03-05 20:58] FiveTimesTheFun opened #1093 "Create an optimization story for open-source compiled assemblies"
We need to design and develop the optimization story for our open-source corefx libraries.

[2015-03-05 23:17] mj1856 commented on #700
I probably shouldn't have brought up `XmlConvert` here - it just detracts from the issue at hand.  Let's just focus on `System.Date` and `System.Time`.   Why do we need them, as @KrzysztofCwalina asks?  Isn't Noda Time good enough?

Not quite, and here's why.  Consider the following example:

[code]

Noda Time provides types called `LocalDate` and `LocalTime` that represent date-only and time-only

[2015-03-05 23:32] mj1856 commented on #700
I suppose I should follow up with,  "Why is this a problem?"

In example 1, A user could now try to do something like this:

[code]

This works because midnight was arbitrarily assigned, but it's completely nonsensical considering the date-only data being worked with.  What date is it 10 minutes before August 12th?  That depends on ***what time*** on August 12th you are talking about.  The result

[2015-03-05 23:35] terrajobst commented on #1039
We generally consider `DataSet` and friends (`DataTable`, `DataView`, `TableAdapter`) legacy. However, that doesn't necessarily mean that those APIs will never be available on .NET Core as we generally do support legacy APIs if they important for porting scenarios (for example, non-generic collections are also available for .NET Core).

So why are these types missing then? Simply because we're foc

[2015-03-05 23:44] joshfree commented on #1034
Thanks @mmitche

[2015-03-06 01:07] KrzysztofCwalina commented on #700
So, to me the problem is captured by "As you can see, in order to use the LocalDate and LocalTime  types from Noda Time, we first have to pass through the confusing built-in mappings of DateTime and  TimeSpan, in a very particular and non-obvious way."
Can we add helpers to make the mapping more convenient and reliable? Add them to either noda time or as an OOB library? This would be the simplest

[2015-03-06 01:35] ellismg opened #1097 "HelloWorld broken on Linux due to recent changes"
Somewhere between 2416d38 and 0e73355 we broke the ability to use the System.Console.dll we build and run hello world on Linux.  The run time asserts.  I believe we are trying to load an assembly which fails (but I am not sure what one) and then the runtime blows up trying to throw FileNotFoundException.

[2015-03-06 02:02] Clockwork-Muse commented on #700
Noda time has an additional problem - you can't define custom calendars (they explicitly call it out), unlike JodaTime/JSR310.  Getting business/accounting dates (like for a [52/53 week calendar](http://en.wikipedia.org/wiki/4%E2%80%934%E2%80%935_calendar)) have to be created using a non-compatible type (so fixing the problem just for NodaTime would still require workarounds).
Which is exactly why

[2015-03-06 02:10] HaloFour commented on #700
@KrzysztofCwalina

People use Noda/Joda time as a polyfill for proper date/time handling within the built-in library.  The fact that these libraries exist is not a reason to leave the gaping hole of poor functionality in the BCL.  Chronology support is fundamental and should be done properly in the core framework.

The state of JodaTime with Java 8 is effectively deprecation.  No new features are

[2015-03-06 02:11] ellismg commented on #1097
This was a problem is the guide on how to build on Linux.  Since we pull down the facades over there by NuGet, the recent changes to move to 4.0.0.10 versions of some of the contracts caused us to not have the right facades on Linux.  I have updated the guide and confirmed everything is working.

[2015-03-06 02:11] #1097 closed

[2015-03-06 02:14] mj1856 commented on #700
@KrzysztofCwalina - With regard to it being confusing - sure we could write helpers to make it easier from within NodaTime itself.  The reason we don't is because Noda Time takes the stance that the API shouldn't let you shoot yourself in the foot.  For example, we could create `LocalDate.FromDateTime` - but that would silently strip away the time information.  Likewise, we could create `LocalTime

[2015-03-06 02:18] jkells commented on #461
I've been coding .NET for a decade and never needed to shuffle an array. Don't pollute fundamental types like Array and List with this stuff.

[2015-03-06 02:52] jasonwilliams200OK commented on #1086
@ellismg, thanks for expanding on the general workflow here.

But unfortunately, this particular issue focuses on the limitation of Windows API, where it does not emit the actual casing to the application tier. To overcome this problem, we have two options in .NET:

* **Tap into native code** and read this low-level struct: `SHGetFileInfo`, like [this](http://stackoverflow.com/a/81493/1712065). Su

[2015-03-06 03:02] jasonwilliams200OK commented on #1086
One crazy way to solve it quickly is shelling out cmd commands:

[code]

[2015-03-06 06:37] tthiery commented on #1039
@terrajobst Answered also my question. A list of "legacy" .Net Framework technologies would be awesome (maybe including a state like "never", "maybe", "later"). I need to understand, in which technologies I can trust.

[2015-03-06 07:24] FransBouma commented on #1039
@terrajobst and what about the scenarios I brought up? You can state something is 'legacy' in your eyes but that doesn't necessarily mean use cases a lot of devs are faced with every day are simply 'gone' or have valuable alternatives (as there are no alternatives at this point).

Sure, someone can port the code from referencesource and that might look OK, but it's not, as those types aren't the s

[2015-03-06 10:20] iwritecodetoo commented on #461
Hi Mr. @jkells,

We are glad you found some of your time to tell us why *you* don't need this.

As you know, we open sourced this framework *specifically for you*. For this reason, we are happy to know that *you* haven't used this specific feature in the last decade, so we can discard it right away.

We are pretty confident that following your guidance is more important than helping other people o

[2015-03-06 11:26] jasonwilliams200OK commented on #461
Haha, yes seriously this nonsense should stop and we should focus on improving the proposal in hand, rather than evaluating its interestingness. This is because it does not require evaluation for simple reason: It IS PROVEN to be interesting because it is available in C++ STANDARD TEMPLATE LIBRARY 1998, RUBY, PYTHON, PERL and {you name it}. Heck even Java has collection.shuffle: http://docs.oracle

[2015-03-06 11:46] nvivo commented on #461
@jasonwilliams200OK, +1 to improvement.

The idea is clearly valuable, how it should be implemented is debatable.

One idea, as a more general way to implement this and some other things is to have an official "ListExtensions" implementation, just like we have for Enumerable extensions with Linq.

If you think about it, most things implemented for in-place operations in both `Array` and `List<T>`

[2015-03-06 12:00] leppie commented on #461
Can someone please provide a convincing example where `Shuffle` would be useful (excluding BlackJack implementation homework) in practice?

[2015-03-06 12:01] Eirenarch commented on #461
It would be cool if we can think of a way to improve the suggestion. Right now there are 2 suggestions - implement the method as an extension method on IEnumerable which makes it possible to use it on many different types but loses the ability to work in-place and a suggestion to control the distribution but I did not see an API for that.

[2015-03-06 12:02] nvivo commented on #461
@Eirenarch, I suggested that this can be implemented as extensions to `IList<T>` for in place operations too.

[2015-03-06 12:04] colombod commented on #461
It could be useful when using IEnumerable as source to create structures like binary ordered trees.

Dr Diego Colombo PhD

[2015-03-06 12:09] leppie commented on #461
@colombod: You are going to have to explain that one to me.

[2015-03-06 12:10] nvivo commented on #461
@leppie, There are already enough examples of "why" here, you need to read the entire discussion. If you don't have the time, we also don't have to repeat it.

[2015-03-06 12:26] leppie commented on #461
@nvivo: Given your usage examples, it should be provided in ASP.NET, not a framework library. Also, your examples just want random results, which you can do by ordering a list by random numbers (which is a side-effect of shuffling).

The fact that other languages has it, is also not a reason.

For something to be added to the BCL it either needs to be a core functionality used within the framework

[2015-03-06 12:26] Eirenarch commented on #461
@nvivo OK but where does an extension method to IList sit?

[2015-03-06 12:27] nvivo commented on #461
@Eirenarch, that's the implementation part we need to discuss. =) I gave an idea [here](https://github.com/dotnet/corefx/issues/461#issuecomment-77547209)

[2015-03-06 12:36] Eirenarch commented on #461
@leppie it has been said and demonstrated (via Stack Overflow questions) that if people do not have this particular method ready in the standard library they do not implement it but do OrderBy random guid which is wrong. Of course the method can be part of ASP.NET but why create the same problem for WPF or WinRT devs?

@nvivo in my opinion this class would need more reasons to exist than the shuff

[2015-03-06 12:37] nvivo commented on #461
@leppie, your reasoning is funny. Shuffling should be part of ASP.NET framework, but not .NET framework. Because lists are only useful in ASP.NET...? Because all types of applications are done in ASP.NET only...? Because this is such a huge implementation that would cause a headache to most people doing other things... ?

[I think this guy put it perfectly](https://github.com/dotnet/corefx/issues/

[2015-03-06 12:45] nvivo commented on #461
@Eirenarch, I agree. It shouldn't be only for this. But there are other things that could be put there, as binary search, an stable sort (the only stable sort available today is on IEnumerable with Linq).

I know some work is being done to better support array segments in a way they would be interchangeable with arrays. Currenty, ArraySegment doesn't implement anything. Creating extensions like th

[2015-03-06 13:08] kazuk commented on #1039
I wish an alternative to SqlDbReader GetScema before makes DataTable and DataSet etc to be legacy and discontinued

My point DataTable is needed for metadata access and some of development work in now
can not be obsolete and needs maintain works fine

[2015-03-06 13:22] Eirenarch commented on #461
If framework designers can justify the existence of this class then it is certainly the right place to put this method. Arrays implement IList if I recall correctly so the method can be used on arrays as well as lists.

[2015-03-06 13:28] nvivo opened #1098 "Discussion: Add some form of ListExtensions, similar to linq Enumerable extensions"
This is a proposal based on to discussions in #461 and #494.

Currently, things like Sort, IndexOf, BinarySearch and other methods are implemented as part of the Array and List types twice. It's clear these methods are useful in other places, both .NET types and user implementations. Also, these methods usually operate in place, instead of generating a new list which allows for more optimized code

[2015-03-06 14:19] svick commented on #1098
What would happen with the original `List`- and array-specific methods? Does it matter that having only `IList` methods would likely be less efficient?

[2015-03-06 14:55] nvivo commented on #1098
@svick, extension methods are used only if the class don't implement that same signature.

In a regular project, I would just remove them from Array and List and keep them as extensions. But I'm sure there are 500 reasons to not do that here and how there must be a lot of huge apps that *had* to use reflection to call "IndexOf" and can never be recompiled. There is a fundamental law in the univers

[2015-03-06 16:37] KrzysztofCwalina commented on #461
Since it's not clear what the API should be like, what the RNG algorithm should be used, etc., why don't people who feel strongly about this create a community project, prototype some APIs, and try to make them successful. If they become successful being an out-of-band library, then the problem is solved. If the library won't be successful and you will be able to argue that the reason is that it's

[2015-03-06 16:38] KrzysztofCwalina commented on #461
I can imagine such library to have not only various shuffle extension methods, but also various random number generator algorithms. I know people have asked about these in the past.

[2015-03-06 16:40] KrzysztofCwalina commented on #461
Also, if you prefer, I would be more than happy for you to do this library in corefxlab repo. Such library of RNGs and helpers is core enough to be interesting for corefxlab.

[2015-03-06 16:45] KrzysztofCwalina commented on #700
BTW, when I was talking about noda time, I actually meant more generally out-of-band libraries. If you think noda time is not a good library, then it would be great if you developed a better one (and I am not being sarcastic; I mean it). But my main point still stands: I would like to enable such better libraries to be successful as out-of-band libraries.

[2015-03-06 16:58] paulirwin commented on #700
The SqlDataReader case @mj1856 outlines above (and note that SqlDataReader is used by ORMs like Entity Framework) was precisely my original motivation for creating this issue. I am not in favor of bloating the BCL for the sole reason of making more features available, but in this case, a calendar date is such a primitive function of so many business applications, and so many bugs and hacky workaro

[2015-03-06 17:00] mburbea commented on #1010
Well if this gets considered, I would probably then request a `BitScanForward` or `BitScanBackward` method on `int`/`uint`/`long`/`ulong`. Maybe on a bitvector Otherwise your forced to use masks to try to find the set values.

Will `Vector<T>` allow variable register size allocation? E.g. if you are reading through a `byte[]` and there are only 16 slots left but have a processor with 256 bit regis

[2015-03-06 17:22] cdrnet commented on #461
Regarding RNGs, there are a couple existing .Net pseudo-RNG projects/libraries out there, e.g. [Torschuetz](http://www.codeproject.com/Articles/15102/NET-random-number-generators-and-distributions) and [Math.NET](http://numerics.mathdotnet.com/Random.html#Uniform-Random-Number-Generators) - but none of them currently offering shuffling routines.

[2015-03-06 17:53] nvivo commented on #461
@KrzysztofCwalina, Most people here (except you) in general agree how the API should look like.

It's a general purpose method, no other API is .NET is as detailed as you are saying. For example, you call Enumerable.OrderBy and don't pass which sort algorithm it should use. Shuffling is no different.

BCL stuff should be generic enough that they are useful to most people, not be the most complete

[2015-03-06 18:09] cdrnet commented on #461
(@nvivo I'm sure you realize who you're talking to...)

[2015-03-06 18:11] KrzysztofCwalina commented on #461
Nobody uses 100% of the framework, but many people use close to 100% of low level primitives (like ints, arrays, etc.). The bar for adding APIs to these low level primitives is super high.

[2015-03-06 18:15] nvivo commented on #461
That's why I'm suggesing not adding it to the core types,  but as extensions methods somewhere else. We already have a ton of those for Enumerables,  I don't see why that would be unacceptable for shuffling.

[2015-03-06 18:37] KrzysztofCwalina commented on #461
If it's an extension somewhere else, then why do you want it in CoreFx repo? It seems like it can be an out of band library (at least initially). If you publish it on nugget, the marginal value of having it in CoreFx seems to be small. And to repeat, if your library is very successful, many people use it, and you still want to add it to CoreFx for some reason, we can discuss the reason and possibl

[2015-03-06 18:41] jasonwilliams200OK commented on #461
Since all use-case examples above are rendered dubious and non-pertinent, what other motivation factors you suggest which qualify as a strong reason?

**Trick question:** *Hey! there is a language feature which every widespread/reasonable language offers in standard library except C#. Do you think C# guys should add it too?*

BTW, PHP also made this terrible mistake by adding shuffle in their stan

[2015-03-06 18:51] maririos commented on #820
For the first iteration APIScan and FxCop are the CT selected to run on Project K builds

[2015-03-06 18:53] maririos opened #1099 "Build the exclusion list of CT errors against Project K"

[2015-03-06 19:19] mj1856 commented on #700
HTML5 parity is a very good point.

Another point of parity mismatch is with [W3C XML Schema Definition (XSD)](http://www.w3.org/TR/xmlschema11-2/#built-in-primitive-datatypes), which has `xsd:dateTime`, `xsd:date`, and `xsd:time`.

Currently we can only use `xsd:dateTime`, and only with `DateTime`.  There are serialization problems when you try to use it with `DateTimeOffset`.  See [here](http://

[2015-03-06 19:20] nvivo commented on #461
@KrzysztofCwalina,

This is an algorithm from the 30's that has been implemented basically everywhere since then! If that doesn't pass the test of time, I don't know what would. =)

Now, seriously. I know the original proposal was to modify the Array type, and that may be unacceptable, that's fine. But then, do you think its unacceptable to have this simple method anywhere else?

I know everything

[2015-03-06 19:21] KrzysztofCwalina commented on #461
One more thing I would add: if I were doing such library, I would not make it an extension method over IEnumerable<T>, nor I would use yield, and probably not Lazy<T>. All these things have too high overhead for some shuffling scenarios (like shuffling a small array of ints in a game engine in a place where you don't want to trigger a GC), and a low level CoreFx APIs need to consider many such exo

[2015-03-06 20:43] pallavit opened #1100 "StartInfo may return incorrect information for *running* processes."
ProcessStartInfo.EnvironmentVariables gives an incorrect value for a *running* process. We fetch environment variables via the GetEnviornmentVariables which gives the information of the current process and not of the *running* process. Desktop also has the same behavior.

[2015-03-06 22:35] advancedrei commented on #1039
@FransBouma It is a serious problem for you, because you maintain database products that depend on DataTable functionality. I bet the number of people like you vs the rest of .NET developers is like a fraction of 1%. And a small one, at that.

When rewriting a framework, some stuff gets left behind, especially anything in the edge cases. All of the cases you made are edge cases. You may spend most

[2015-03-07 01:53] akoeplinger commented on #1097
@ellismg the last section of the wiki still references the old versions, see https://github.com/dotnet/coreclr/issues/154#issuecomment-77533469

[2015-03-07 03:22] xanather commented on #1081
This is needed! Environment.ExecutingPath? Something like that. Ive always had to play with reflection, AppDomains (doesn't exist in .Net Core), or use System.Windows.Forms.Application.StartupPath (doesn't exist in .Net Core) to get such a simple thing.

[2015-03-07 06:23] eatdrinksleepcode commented on #1100
What is the difference between the current process and the running process?

[2015-03-07 06:36] weshaggard commented on #1100
In this case by running process @pallvit is talking about another process that you get a Process object from and the current process is the process that is actually running :)

[2015-03-07 06:53] mikedn commented on #1081
@xanather This issue is specific to the `System.Diagnostics.Process` class, you seem to be asking for something different.

There is [AppContext]( https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/AppContext/AppContext.cs#L22).

[2015-03-07 09:23] FransBouma commented on #1039
@advancedrei

My tools don't depend on datatable in their core, they use datatables for meta-data retrieval in some situations (as metadata is only exposed through datatables in these situations)

Please don't make up numbers and pass them on as real. Almost every application calling stored procedures uses them, and of those applications there are many.

There's always a better way, sadly there's

[2015-03-07 10:15] nvivo commented on #461
A quick point in favor of adding this to .NET, instead of another library.  (This question) [http://stackoverflow.com/questions/273313/randomize-a-listt-in-c-sharp#] has 313 votes for the questions and 485 for the answer.

This shows this is not a problem few people have. In fact,  it's more voted than 99.4% of all c# tagged questions.

[2015-03-07 10:38] Eirenarch commented on #461
Even more important is that many people preferred the second most upvoted answer despite being told that it is wrong. They did it knowingly because they didn't feel like adding the provided method to their code. I have done this too. This is why I claim that this method should be in the standard library. Otherwise people will just not bother. They will not bother downloading a new get package or l

[2015-03-07 11:15] nvivo commented on #461
I agree. Proof of that is that there are already [packages providing this](http://www.nuget.org/packages?q=shuffle), but many people won't use them. Because it's simpler to make OrderBy(new Guid()).

It seems to me @KrzysztofCwalina agreed on some LINQ style helper, but I'm not sure what this means. I'd still like to see this as a more unified change, to merge with #494 as I proposed in #1098.

[2015-03-07 11:25] cdrnet commented on #461
Given that CoreFx is all about separating the BCL into a set of NuGet packages I don't see some people's aversion to NuGet packages as a valid argument here. Although personally I consider the original proposition by @Eirenarch as a reasonable dual counterpart to the Sort methods on `Array` and `List<T>` (but *not* any of the other suggestions below like extension methods).

[2015-03-07 11:41] colombod commented on #461
Agree,
the point of the initiative is to make it easier to have a lightweight framework if the application is small or not using lots of stuff. That will also make it easier to make sure is as cross platform as possible without having to rewrite massive amount of stuff.

I agree that such extension should be separate nuggets but still belonging to a repository controlled, or supervised, by CLR tea

[2015-03-07 12:24] WilfriedB commented on #1090
Well, I did read [https://github.com/dotnet/corefx/issues/745] before but somehow failed to realize that it is the same issue. Thanks for pointing out.

[2015-03-07 13:13] nvivo commented on #649
I would vote for `String.Equals(string other, bool ignoreCase)`.

This is already used in a lot of methods in the String class. If "typing less" is the idea, this would match the 80% rule.

Honestly, `EqualsIgnoreCase` is very strange. That opens questions to all possible alternatives. Why not `ContanisIgnoreCase`, `EndsWithIgnoreCase`, etc. Adding a new operator adds even more questions.

What I

[2015-03-07 13:17] nvivo commented on #645
+1 to supporting long file paths. Lots of issues dealing with node_modules folders that go well beyond 260 chars.

[2015-03-07 13:30] nvivo commented on #1039
@terrajobst,

Out of curiosity, is there any public information you are using to decide what is important to port or not? Mono used to use [Moma to scan and publish a database](http://www.go-mono.com/momareports/) of "what people really need" to help drive the implementation.

Is there any metric like that being used to help decisions, or is it based more on the direction the team want things to g

[2015-03-07 15:41] tthiery commented on #1039
@FransBouma +1 for the answer. The 1% is totally unrealistic considering that EF showed up in 2011 (2/3 of .Net lifetime are before) and the consideration that DataTable was the dominant technology for data retrieval in all earlier examples. I would more go for 20% to 30% of all enterprise platforms will have dependencies to DataTable (numbers are random as well).
Nevertheless, @advancedrei is not

[2015-03-07 16:16] advancedrei commented on #1039
Entity Framework came out of Object Spaces which puts it in the 2008-2009 timeframe. And the 1% I referred to was forward-looking development. How many of those 30% Enterprise projects aren't even on .NET 4.0 yet? I'd venture to say a lot.

NETCORE is not concerned with people who will never migrate anyways. It is concerned with building the next generation of apps. Not maintaining the last one. T

[2015-03-07 17:06] MgSam commented on #1051
:+1: Funnily enough, this is the biggest missing feature I've run into in the BCL. You're encouraged to use the static `Regex` class for performance (caching) reasons, and yet if you do so you lose all access to the group names.

I've had to work around this before by creating an extension method which uses reflection to inspect the private members of the Group class to get the group name. This ob

[2015-03-07 19:28] FransBouma commented on #1039
@advancedrei .NET core on Linux could spark new interest in .NET from dev teams who now won't look at .NET as it's windows only but do have lots of databases with stored procs. There are a tremendous amount of database-driven applications out there which have to use stored procs (I use stored procs as an example, as it's one of the use cases for a datatable as the resultsets are often of unknown l

[2015-03-07 19:46] HaloFour commented on #700
@KrzysztofCwalina

I do think that for the most part additional functionality should be filled-in by external libraries.  But the CLR already provides an out-of-the-box implementation of chronology that is a fairly poor.  Remaining in the BCL in their current state is not a pit of success, particularly for new developers.  It also precludes the ability for other BCL assemblies from improving their

[2015-03-07 20:21] nvivo commented on #1039
@tthiery, @terrajobst

I'm sorry. I know it sounded like I was questioning the decision, but I was not. =) I was genuinely curious how the process of selecting the API was/is done.

I have been using pure ADO.NET for years without EF, and I have not used DataTable for anything new in ages. I think this can be provided later by a package, but don't need to be in the core right now. We need to remem

[2015-03-07 21:02] eatdrinksleepcode commented on #700
If I understand correctly, just adding an improved Date/Time API to core would not improve the SqlDataReader scenario at all; SqlDataReader would also have to be updated to understand the new API. It would be similar for any other existing functionality that currently maps to the existing Date/Time APIs; it would all have to be updated.

[2015-03-07 21:32] nvivo commented on #649
After reading more in this discussion, I'm amazed how this change, that if done like proposed is one of a kind and adds a single different method to a core API just to save some typing, is being accepted like this. Many other simple issues are suffering to pass the "won't change core types like that" review from the team.

I'm just a regular guy here and I'm not sure if this was really accepted, b

[2015-03-07 21:46] KrzysztofCwalina commented on #649
This thread touches on several important problems in our APIs. I think we should try to address these. But I thing we need a wholistic proposal, not just add an overload here or there.

[2015-03-07 22:06] RickStrahl commented on #1039
I'm with others here who point out that we should be looking forward not backward, but... I think we need to be careful here that we don't kill functionality that may be crucial to building applications.

The two things that have jumped out at me are lack of a good story for creating new providers so that third parties have an easy time to create new providers. This (or some other mechanism like s

[2015-03-07 22:49] nvivo commented on #1039
I agree with @RickStrahl that EF + SqlServer is bad, and agree with @FransBouma that there is no way to do some things like just selecting untyped data without dealing with DataReader. But I don't see anything else filling this gap DataTables left.

What is really to be missed? All the select + order by is done much better by linq directly on objects. For other things, there are alternatives to EF

[2015-03-07 22:54] FransBouma commented on #1039
I agree with @RickStrahl here. It's the concept / featureset provided by Datatable and friends that's essential, and if I may add, essential for v1.0 to be there. Datatable is an obvious choice to provide that featureset as a truckload of code is already written out there supporting it, but it's not essential to have it as the type to provide that featureset, however why write something else to re

[2015-03-07 22:59] nvivo commented on #1039
@FransBouma,

Which part exactly do you miss from DataTable? It seems the only thing that you miss is a type that represents "an array of object arrays" for untyped data, but that is provided out of the box.

Is that it or am I missing something?

[2015-03-07 23:22] nvivo commented on #1039
As a note, I saw the comments about the GetSchema. The point is that those things can be provided as separate modules, they are not exactly *required* by anything other than supporting the IDE around DataTable/Set/View stuff. And even this could be today exposed as real objects instead of datatables.

If all is needed is a way to retrieve untyped tabular data, we could strip away 90% of DataTable

[2015-03-07 23:40] advancedrei commented on #1039
I agree with @nvivo, a DataTable is just an array of object arrays. Not sure why the functionality can't be replicated with some custom code and without the "sky is falling" mentality.

[2015-03-08 00:04] HaloFour commented on #700
@eatdrinksleepcode

Correct, just adding the new types doesn't fix the situation with the other assemblies at all.  What it does is open the door to updating those assemblies to support the new API officially.  Since System.Data, System.Xml and the like cannot take dependencies on third-party polyfill libraries like NodaTime they cannot be improved without such underlying BCL support.

[2015-03-08 08:47] FransBouma commented on #1039
DataTable isn't a construct with arrays of object arrays, it's a construct with typed columns (data isn't stored internally in object arrays, but vertically in typed columns), which has the ability to define custom views on top of it you can sort/filter without touching the original datatable, which can be filled with a DbDataAdapter which can create the typed columns for you during fetch based on

[2015-03-08 09:30] Clockwork-Muse commented on #770
Looking forward to this being done, because I'm hoping we can eliminate the xUnit fork and pick up a newer version (wanting a bugfix dealing with parameter display).

[2015-03-08 11:01] nvivo commented on #1039
@FransBouma,

I'm obviously not saying how DataTable is implemented, I'm saying this is the only part that is missing.

Don't get me wrong here. I have a lot of code that depends on GetSchemaTable and DataTables in general out there. I have data migration tools that automatically compare and move data between different providers using this functionality.

But *that doesn't matter* because we are n

[2015-03-08 11:59] FransBouma commented on #1039
@nvivo

You can't create POCOs if you don't have meta-data of the fields of the resultset. You can't determine the schema of a resultset of a stored procedure unless GetSchemaTable() is implemented. Again, if that's implemented but it gives me a typed object, no problem. However if it returns an array of object arrays, what am I going to do with that? What element is what and of what type?

I'm no

[2015-03-08 12:52] stephentoub opened #1103 "Coverage runs failing since ProcessTests changes"
@pallavit, since the recent ProcessTests cleanup changes got committed, all of our code coverage runs have hung.  They've all hit an AV exception, followed by what appears to be OpenCover hanging during its subsequent processing:

[code]

@sawilde, FYI.

[2015-03-08 13:15] nvivo commented on #1039
@FransBouma,

Everything you said is perfectly achievable if you change your mind model.

Why is that? Any database nowadays implements INFORMATION_SCHEMA to provide this kind of information in a standard way. If you need something very specific, you can just run any query against the database.

So, you are saying that *if you ignore all the other ways to do it, there is no way to do it*?

DataTab

[2015-03-08 15:28] FransBouma commented on #1039
It's not for me, it's for all those devs out there who can't proceed to .NET core because someone thought 'Datatable' is legacy while not considering the consequences of that decision.

1) Not every database implements all schemas of information_schema
2) Not every database is 100% bugfree in those schemas (e.g. sql server)
3) For a resultset from a stored procedure, e.g. the direct resultset like

[2015-03-08 17:55] weshaggard commented on #770
I'm working on turning this into a package we produce in our build tools repo. However @Clockwork-Muse that doesn't help us get closer to eliminating our xUnit fork. If you think we need to update our XUnit version please file a separate issue with the information on that.

[2015-03-08 19:51] HaloFour commented on #1039
After reading through this thread I tried to find out what of ADO.NET is being brought over to CoreFX (or at least would be supported on top of it) and I couldn't really find anything.  Are connections, commands and readers also getting the axe (or at least deferred until after the first release)?  Doesn't EF7 depend on these things to function?

A server core framework for web applications that d

[2015-03-08 19:56] nvivo commented on #1039
@HaloFour, check for System.Data.Common under https://github.com/dotnet/corefx-progress/tree/master/src-diff/README.md.

Specifically,  check the definition of DbProviderFactory that defines what a Data Provider is.

Basically it was reduced to connection,  command,  transaction and datareader.

It seems all that is needed to me.

[2015-03-08 20:56] patriksvensson commented on #923
I'm not sure if I'm reading the code coverage report wrong, but it says 97,3%.
Perhaps someone already fixed this?

[2015-03-08 20:58] patriksvensson commented on #923
I was reading the report wrong. Disregard my previous comment.
I could take a look at this if you need some extra hand.

[2015-03-08 20:59] stephentoub commented on #923
@patriksvensson, yes, if you have the time to try to boost the coverage of this library, that'd be terrific.  Thanks!  I can change the label to "grabbed by community" if you'd like to give it a go?

[2015-03-08 21:01] patriksvensson commented on #923
Sure, I can give it a go :+1:

[2015-03-08 21:03] stephentoub commented on #923
Great!  All yours :smile: Thanks, again, for taking a look.  If you decide not to address it, that's fine, just let us know so we can return it to being "up for grabs".

[2015-03-08 21:05] patriksvensson commented on #923
Yes, of course. I keep you updated on this.

[2015-03-08 23:00] stephentoub opened #1105 "CI code coverage runs failing due to invalid UploadCoverallsData"
Our CI code coverage runs get all the way to the end and then fail with this error:
[code]

[2015-03-08 23:01] stephentoub commented on #1103
(I've temporarily disabled code coverage for the Process tests until this is fixed.  I was able to repro the AV locally as well with just a few attempts.)

[2015-03-08 23:26] weshaggard commented on #1105
This is because of the old msbuild string vs bool conditions. While it is tempting to try to use the property as a bool in order for that to work you have to always ensure it is set to a bool. In general I always treat these type of conditions as strings to avoid this type of problem. I've got a PR out in build tools https://github.com/dotnet/buildtools/pull/106 which moves all the code coverage s

[2015-03-08 23:29] weshaggard commented on #1105
I changed the condition to Condition="'$(UploadCoverallsData)'=='true'" in my PR.

[2015-03-08 23:31] weshaggard commented on #1022
I've made these conditions all consistently lower case with my build tools PR https://github.com/dotnet/buildtools/pull/106 which I will be bringing over into corefx repo.

[2015-03-09 00:22] patriksvensson commented on #923
I've done about 45 minutes of work after reading all the contribution documents, and got the test coverage up from 58% to 62.5%, so by extrapolation I get a feeling that this will take a while :wink:

Some thoughts:

1. Some code that affects code coverage is shared code, such as code in the namespaces `Interop` and `System.SR`, which is linked into the System.Console solution. I don't think this

[2015-03-09 03:38] sawilde commented on #1103
Have these just started failing and if so do we know from when?

[2015-03-09 04:43] mmitche commented on #1105
Thanks wes.

[2015-03-09 08:17] Eirenarch commented on #519
I agree with @ebickle . I just ran into the little endian vs big endian issue 2 days ago. Also I think we should have a way to convert a hex string to a byte array. I mean the Convert class has methods to convert to/from base64 but for hex you have to roll your own method and it makes no sense to me.

[2015-03-09 11:26] nvivo commented on #1039
@FransBouma,

Who are you? Superman? Let's be honest here, any issue we open is because some personal need. But please bring some of those oppressed developers to the discussion, so they can participate, maybe having more points of view on this would help.

Most schemas provided by .NET are just queries to these tables. I have also worked a lot with those, and there are huge differences between di

[2015-03-09 11:56] FransBouma commented on #1039
@nvivo

What does this add to answering my question, which wasn't directed to you *at all* btw. Is it necessary here to explain if I know what I'm talking about? It seems so. As if I don't know the field I'm specialized in and spend full time in.

connection.GetSchema() gives also schemas about the type mappings provided by the ado.net provider, and an easy to use interface to otherwise complicate

[2015-03-09 12:15] nvivo commented on #1039
This is an open source channel to discuss features of an open source project with interested people. If you wanna talk to Microsoft only, you should call their support.

[2015-03-09 12:20] FransBouma commented on #1039
To add: it's already frustratingly difficult enough to convince MS to include something or to change something. It's even harder if people who have no stake in the matter come in and try to defend what MS has apparently decided. If this gets included, **nothing** will change for you. You won't lose any time, code, hair whatever. Nothing. However people who do rely on this feature are helped. Yes,

[2015-03-09 12:23] Clockwork-Muse opened #1106 "`ParallelQuery.Reverse().Take(n)` returning elements from the portion not taken"
On unordered `ParallelQuery<int>`s created via `ParallelEnumerable.Range(start, count)`, `Enumerable.Range(start, count).AsParallel()`, and `Partitioner.Create(array).AsParallel()`, running `Reverse().Take(n)` (and `Reverse().Skip(n)`) yields elements from the portion not taken.
For example:

    ParallelEnumerable.Range(0, 16).Reverse().Take(8)

...will occasionally return 1.  Or 5.  Or 7 (depend

[2015-03-09 12:37] nvivo commented on #1039
Oh, for crying out loud! Stop complaining already. You didn't provide a single point on why any of these things can't be done in any other way. All I see is that you are losing your favorite tool and you don't want to learn anything new.

Again, this is not a microsoft support channel. This is an open source project and anyone can discuss here anything related to the future of the platform. Get ov

[2015-03-09 12:56] FransBouma commented on #1039
Sorry? My framework doesn't even rely on datatable. (only in the pipeline which projects to datatable, which is an additional feature). It's an O/R mapper, remember?

And I don't want to learn anything new? Where is that the case? I'm a software dev for over 21 years now. If I don't want to learn anything new I'd still be writing C on a Sun workstation. But thanks again for posting an offtopic pos

[2015-03-09 13:07] Tragetaschen commented on #1039
I'm a bit confused: .NET Core is about factoring the .NET Framework into individual, small and focused Nuget packages. So if anything, there will be such a separate package for DataTable and friends. A v1 Release of .NET core means the underlying bits (corlib, JIT, etc.) are done and some Nuget packages are released as well. These packages are currently driven by the ASP.NET 5 efforts.

I don't ge

[2015-03-09 13:16] nvivo commented on #1039
@Tragetaschen,

The issue is that removing DataTable causes some other parts of the framework to be removed, like GetSchemaTable and a type that can hold untyped data offline with no need to deal with datareader.

Those things can be added later as you said, and may impact some people but there are alternatives today.

As @FransBouma repeatedly said, he doesn't use these features neither it affect

[2015-03-09 13:24] Tragetaschen commented on #1039
Still, this thread now focuses way too much on a "removal" while it's actually about "not yet ported over". This is what @terrajobst made perfectly clear in his response.

Of course, a package for DataTable will either have a dependency on a package including GetSchemaTable, or (if it's only required in that one scenario) will include and provide this and other types.

[2015-03-09 13:37] FransBouma commented on #1039
A package can't be supplied later without also altering e.g. DbDataReader's interface, as it is currently exposed there. That is, if the package wants to supply the functionality that's there today. (Another affected element is DbProviderFactory, which currently supplies DbDataAdapter, a class which is also not ported over but which is often used in combination with DataTable/Set, e.g. when fetchi

[2015-03-09 13:40] nvivo commented on #1039
@FransBouma,

Why this needs to break the DbDataReader interface just to get the schema? You insist on that, but I don't see why this is the case.

Your assumption is that the *only* way to do this is by returning a datatable from reader.GetSchemaTable, but there are other ways to do that.

I'd support a way to do that with extension methods based on some interface implementation that is optional

[2015-03-09 13:52] FransBouma commented on #1039
Extension methods don't work here as the method has to be implemented by the ADO.NET provider being used, which means it has to be implemented by the datareader, hence the design of the code as it is today. An extension method can be used of course, but code using that extension method then is tied to the ado.net provider, throwing dbproviderfactory out of the window.

So yes, it will break the in

[2015-03-09 13:56] stephentoub commented on #1106
Thanks, @Clockwork-Muse.  I appreciate the thoughtful write-up.

Can you elaborate on this?  When I run the following program on the desktop release, I see pretty much every iteration yielding elements lower than 8.
[code]

Why is that the expectation?  It's unordered; logically Reverse can reverse its input, but if the input is unordered, so too will be the output.  If ordering is required, that'

[2015-03-09 13:56] nvivo commented on #1039
Why? I don't see any reason for that to be true. There are so many ways to implement it that doesn't require a single interface to be exposed.

Yes, you didn't provide a single use case yet. I get that. It would be more productive if you did.

[2015-03-09 14:00] FransBouma commented on #1039
What will implement the extension method? The only way it *can* report on the layout of the resultset if it can look into the raw data of the resultset *inside* the datareader. Anything outside the datareader and the ado.net provider thus can't do that.

wat... :-1:

[2015-03-09 14:05] nvivo commented on #1039
You don't need to expose that with the DbDataReader interface. That's my point.

This an additional feature, it can be exposed with an additional interface.

[2015-03-09 14:12] stephentoub commented on #923
Thanks, @patriksvensson.

For SR, some of the code will definitely not be testable, e.g. calls to Format that just aren't used by this project but that are in the shared SR type.  But other code in SR that's not currently being exercised probably should be.  I've not looked in depth, but for example there are ~20 resource strings that aren't being accessed, which suggests that there are some error

[2015-03-09 14:51] stephentoub commented on #1103
@sawilde, they just started failing end of last week.  We do two code coverage runs in the lab a day, once in the morning and once in the evening... they were green through to Thursday night, and then started failing Friday morning.  I suspect it had something to do with #1087, #1084, or some combination of the two.  The fact that it's AV'ing inside of SetupDomain makes me a bit suspicious of the

[2015-03-09 14:56] Clockwork-Muse commented on #1106
I was expecting those results because of how `Skip` and `Take` behaved - they return that portion of the list specified, even when the list is unordered.  In that vein, `Reverse` seemed like it would behave similarly (and not disrupt `Take`/`Skip`)

It also seems I got some of my wires crossed.  I was testing against `Skip(n)` (extrapolating for `Take`), and misread one of my conditions/results.

[2015-03-09 15:18] stephentoub commented on #1106
It's unordered... that's exactly what it's doing :smile: https://github.com/dotnet/corefx/blob/master/src/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/ReverseQueryOperator.cs#L184

Understood.  It's just the difference between whether something is guaranteed or not.  The implementation over arrays is behaving more aggressively towards ordering in the unordered case than it ne

[2015-03-09 16:11] pallavit commented on #1103
Thanks Stephen. I will try to repro\investigate the crash locally.

[2015-03-09 17:06] tarekgh commented on #1091
assigned to @weshaggard  as he is already have the fix.

[2015-03-09 17:11] tarekgh commented on #700
@eatdrinksleepcode can't System.Data and System.Xml changed to adapt for custom conversions? I mean to make it work with any third party library through a type conversion pattern that the library can implement and register with System.Data and System.Xml

[2015-03-09 17:21] HaloFour commented on #700
@tarekgh Probably, but that would be inherently more complex, and anyone new to the framework are just going to see `System.DateTime` and how System.Data/Xml work with that and will continue to follow poor patterns for lack of knowing better.  Chronology is fundamental, I think the BCL should do it right.

[2015-03-09 17:52] KrzysztofCwalina commented on #700
This thread is getting long. I would love to agree on some plan of action. Here is a straw man I would like to propose:
1. People who feel passionate about fixing DateTime should design an initially OOB library that is "the right" library for dates and times.
2. In parallel, we should all work on extensibility features in XML, data APIs, etc. to help an arbitrary OOB library to integrate more nice

[2015-03-09 18:03] HaloFour commented on #700
@KrzysztofCwalina

I'm curious as to how 2 would play out.  In those APIs you often have specifically typed methods, e.g. `DbDataReader.GetDateTime` or you have methods that deal in just `Object` of a boxed `DateTime`.  Adding new methods like `DbDataReader.GetDate` would be seemingly off limited unless/until said types were officially added to CoreFX, and I can't imagine that there would be a cle

[2015-03-09 18:12] paulirwin commented on #700
Would it be helpful if I fork NodaTime, remove the parts that aren't in the scope of this issue, normalize the API against conventions, and present it as a reference for what a System.Date (and perhaps System.TimeOfDay) type could look like?

[2015-03-09 18:32] tarekgh commented on #700
@paulirwin I think this will be a good start here. if you share the initial type definition we can collect some design feedback too before finalizing the implementation.

[2015-03-09 20:04] #978 closed

[2015-03-09 20:21] ilmax commented on #1039
Disclaimer : I don't build ORM, but I do use them on a daily basis.

I think that DataTable & friends are an obsolete technology, but the lack of alternatives to dynamically extract data from a DbDataReader feels to me like ADO.NET is losing power.

To be clear, I understand @FransBouma request, but I also understand @nvivo motivation. As @FransBouma pointed out, (at lest IMHO) is not the absence

[2015-03-09 21:07] mj1856 commented on #700
I have a near-complete implementation of `System.Date` and `System.Time` I've been working on for awhile. I'll post them to a GH repo by tomorrow.

[2015-03-09 21:08] sawilde commented on #1103
no worries I'll also have a look

[2015-03-09 21:11] bartonjs opened #1107 "Official builds should place tags on what was built"
We're eventually going to want to be able to answer the question of "what code was in build [whatever]?".  It seems the answer to this in git is tags.  As an example, https://github.com/torvalds/linux, click on the branches dropdown and change to the tabs tab.

Supporting documentation: http://git-scm.com/book/tr/v2/Git-Basics-Tagging

[2015-03-09 21:26] stephentoub commented on #1103
Thanks, Shaun; appreciated.

[2015-03-09 21:48] Clockwork-Muse commented on #1106
Well, okay, if that's the designed behavior...
It just wasn't what I was epecting! :)

Now I have to figure out what I want to do for the combination tests in those cases....

[2015-03-09 21:48] #1106 closed

[2015-03-09 23:00] akoeplinger commented on #1107
FYI, the aspnet team also uses git tags and GitHub provides the ability to attach release notes to each tag, which makes this quite valuable: https://github.com/aspnet/XRE/releases

[2015-03-09 23:12] cheers00 opened #1110 "corefx helloworld"
Hi, I want to use corefx components and coreclr in my command line program. I started with corefxlab helloworld and I tried to add corefx from nuget manager. I was able to find corefx components but when I tried to install, I get the following error message. How do I overcome this?

[code]
Also, how do I install my private coreCLR and corefx components to my commandline program?

I am using VS 201

[2015-03-10 00:28] KrzysztofCwalina commented on #1110
The hello world demo does not yet support adding arbitrary other packages. We will try to fix it in the upcoming weeks.

[2015-03-10 05:25] mj1856 commented on #700
I've posted the prototype to [mj1856/corefx-dateandtime](https://github.com/mj1856/corefx-dateandtime).

It still needs lots more unit tests, but I think I got most of the desired functionality.

It also needs to be optimized for performance.  Currently it relies on `DateTime` and `TimeSpan` quite a bit internally.  It could probably be better self-contained.

For the sake of not spamming this thr

[2015-03-10 13:52] sharwell commented on #1107
It would be really nice to see which commit [System.Collections.Immutable 1.1.34-rc](https://www.nuget.org/packages/System.Collections.Immutable/1.1.34-rc) was built from, because I'd like to update [Rackspace.Collections.Immutable](https://www.nuget.org/packages/Rackspace.Collections.Immutable/1.1.33-beta) to match it.

[2015-03-10 13:55] paulirwin commented on #700
Awesome work @mj1856! I will help out with your repo rather than trying to create my own prototype. I like the direction here.

[2015-03-10 14:10] akoeplinger opened #1115 "Missing overflow check in DateTime"
While looking at some Mono unit tests that failed on ARM after DateTime was imported from MS referencesource, I think I found a place in DateTime that misses an overflow check:
https://github.com/dotnet/coreclr/blob/9edda94b8044ffa513ea366ca43cea8d029706e6/src/mscorlib/src/System/DateTime.cs#L345

This code path is easily triggered by `DateTime.Now.AddMilliseconds(1E100)` and results in an overflo

[2015-03-10 15:44] tarekgh commented on #700
@mj1856 Thanks Matt for your effort. I took a quick look at the Date type and here is some notes and questions:
- does Date need to implement IConvertible interface. I think it is needed
- Date will be exactly like DateTime in term of supporting Gregorian dates only. this can be ok if this satisfy all scenarios we are introducing Date for (SQL, Xml...etc.). if there is any other scenarios need to

[2015-03-10 17:37] mburbea commented on #1115
In unchecked, which is the default context this doesn't throw. It will turn the value into some very large negative number, which will safely be out of the range of milis to add.

[2015-03-10 17:39] akoeplinger commented on #1115
@mburbea yes I know, the problem is the result of the overflow is undefined and on Mono/ARM the value is -1 instead of the "very large negative number", so the if doesn't catch it.

[2015-03-10 19:23] mj1856 commented on #700
@tarekgh - I'm very glad I can do this in the open source space now.  It helps to include feedback from other community members.  :)

I'll address the specific points [over here](https://github.com/mj1856/corefx-dateandtime/issues).  Thanks!

[2015-03-11 00:06] joshfree commented on #1061
@venkat-raman251 could you investigate?

[2015-03-11 00:49] tarekgh commented on #1115
Although it is kind of corner case scenario and we never got any complain about such issue but I can see it can bad if it happen as in ARM case mentioned by @akoeplinger
@ericstj I am seeing the app compat risk to fix this issue is low but I want to get your opinion on that.

[2015-03-11 01:39] briangru opened #1118 "Use TimeSpan everywhere we use an int for seconds, milliseconds, and timeouts"
In a large software project, it's easy to mess up units for time.  IE, is that Int32 seconds or milliseconds?  Or maybe minutes?  I've been fixing my team's source code to use the unit-agnostic TimeSpan class wherever possible.  However the .NET Framework is not complete in its adoption of TimeSpan.  Specifically, we don't have a Process.WaitForExit overload that takes a TimeSpan, only an Int32 fo

[2015-03-11 04:36] pallavit commented on #1103
@sawilde Did you get a chance to look at it? I spend some time investigating with no concrete results :|

[2015-03-11 06:13] sawilde commented on #1103
I did and I commented on this related [thread](https://github.com/dotnet/corefx/pull/1111).

In summary - it looks like a race condition I could reduce the occurrence of the problem by playing with the value sent to Sleep. Or we can just block the profiler from instrumenting the extra process; it is not important to the coverage results AFAIK.

[2015-03-11 09:10] Clockwork-Muse commented on #1118
I personally am against doing this right now.
Not because I think the idea has no merit (on the contrary, I'm all for using a specific type that means "duration without units"), but because I'd rather do this with a type from a rebuilt date/time library (and hit all date/time related entry points, which would be a larger undertaking).

[2015-03-11 10:25] Clockwork-Muse opened #1120 "`ParallelQuery.Zip(...).All(...)` hitting some elements twice"
Either `ParallelQuery<T>.Zip(...)` is thread-unsafe / otherwise misbehaving for not-ordered input, or the enumerators it's calling are not.  The following query fails every time:

    ConcurrentDictionary<int, int> seen = new ConcurrentDictionary<int, int>();
    ParallelQuery<int> left = Enumerable.Range(0, 16).AsParallel();
    ParallelQuery<int> right = ParallelEnumerable.Range(8 * 2, 16);

[2015-03-11 12:22] svick commented on #1120
I don't understand. You're zipping *unordered* ranges [0,15] and [32,47], so why couldn't you get for example (0+46)/2 = 23 and (1+45)/2 = 23?

[2015-03-11 12:55] ssg commented on #1070
@stephentoub System.Diagnostics.Process isn't in the report?

[2015-03-11 12:56] stephentoub commented on #1070
@ssg, if you look back a few days you'll see it.  It's been temporarily removed: https://github.com/dotnet/corefx/pull/1104

[2015-03-11 12:59] stephentoub commented on #1103
@sawilde, it's a race condition in the implementation of OpenCover?  I think I hear you saying that's the case and that since we don't know yet what the actual source of the race condition is and can't get a good repro that we should work around it for now as I'd initially planned to, by suppressing the flow of these environment variables to the child processes... is that correct?

[2015-03-11 13:37] grokys opened #1121 "Allow customization of LINQ to XML string content."
This issues comes about as a result of the following question on Stack Overflow:

http://stackoverflow.com/questions/28947090/culture-and-linq-to-xml

There appears to be no way to customize how a custom object is serialized to XML. The main problem this causes in my code is related to culture, but this could apply to other areas too.

Looking at the code, it seems that there is no customization p

[2015-03-11 13:58] ssg commented on #1070
@stephentoub yes this link works: http://dotnet-ci.cloudapp.net/job/dotnet_corefx_coverage_windows/67/Code_Coverage_Report/ thanks!

[2015-03-11 14:02] Clockwork-Muse commented on #1120
(Argh, that should have started as `8 * 2` - there wouldn't be a way to get `10` otherwise)

What `Zip` does (like `Take` and `Skip`, to an extent) is read from sources and match them by their index.  This doesn't actually guarantee _output_ ordering (which is what you'd get with `AsOrdered()`), just that the first element of the left query is matched to the first element of the right query.  I _t

[2015-03-11 14:51] stephentoub commented on #1070
@ssg, great; glad you found it.

[2015-03-11 15:04] stephentoub commented on #1120
@Clockwork-Muse, these are _unordered_ inputs.  Any element from the first could be zipped with any element from the second; effectively imagine that the first sequence was randomized and the second sequence was randomized and then they were zipped together.

[2015-03-11 15:11] stephentoub commented on #1120
I modified your example code to also store the inputs, just to help answer the question which values were getting zipped together.

[code]

I ran this a few times until I got one that could answer your question about 14:

[code]

[2015-03-11 16:16] ericstj commented on #1115
I'm worried about an existing application which noticed this behavior and worked around it.  So the workaround is to check for the overflow yourself and handle it.  Since the fix of throwing would actually break the workaround I'm inclined to not take the fix, or quirk it if we do.

[2015-03-11 16:25] akoeplinger commented on #1115
@ericstj If you're talking about the timer fix I linked above, that's unrelated to this issue :)

.NET amd64/x86 shouldn't be impacted, I haven't checked if phone is affected as well.

[2015-03-11 16:35] tarekgh commented on #1115
Eric was talking about DateTime.Add overflow. so considering the app compat risk fixing this in addition there is other places across the framework not counting for overflow, we intend to won't fix this one. consumer of this API still have the option to check for the overflow (or run the operation under checked mode).
Thanks Alex for bringing this issue.

[2015-03-11 16:41] akoeplinger commented on #1115
Can you elaborate on the app compat risk? As far as I can see it, there shouldn't be any change in behavior if we check for overflow and throw the same ArgumentOutOfRangeException that is thrown right on the next line anyway.

[2015-03-11 16:51] tarekgh commented on #1115
As Eric mentioned, people can count on the overflow behavior so they can manually check for overflow and do whatever they like. in such cases they will not expect the exception. if we start throwing then this is a behavior change for them.
we saw people count on wrong behaviors before and react to that.

[2015-03-11 17:48] jhendrixMSFT commented on #822
This work is complete, the functionality was added in https://github.com/dotnet/buildtools/pull/59.

[2015-03-11 17:48] #822 closed

[2015-03-11 21:07] tarekgh commented on #1115
Alex, I am closing the issue here but feel free to contact me if you have any more questions or asks. thanks again.

[2015-03-11 21:07] #1115 closed

[2015-03-11 22:03] Clockwork-Muse commented on #1120
@stephentoub  - Thanks for bringing me down a peg again.  Seems like I get a bit too excited on some of these, and need to spend a little more time checking.
I was kicking myself when I woke up this morning, realizing there were three ways to make 8 anyways.

I thought this violated the contract for `Zip` anyways?  That it'd nab elements by index even when unordered?  This was getting reinforced b

[2015-03-11 22:13] stephentoub commented on #1120
@Clockwork-Muse, sorry, I didn't mean to "bring you down a peg" :smile:  I appreciate the enthusiasm.  I think this just goes back to the same issue we talked about previously, around ParallelEnumerable.Range not providing ordered output as you were hoping for.  In any event, the right mental model for pretty much all of the operators in PLINQ is that unless you specify AsOrdered(), a randomizer w

[2015-03-11 22:22] Clockwork-Muse commented on #1120
And here I'm always harping to people on SO about the lack of ordering in SQL!  I guess I have more tests to change.

[2015-03-11 22:22] #1120 closed

[2015-03-11 22:25] stephentoub commented on #1120
:smile:

If you're modifying existing PLINQ tests, let's make sure that if any happen to be relying on ordering and are passing that we still keep those as-is.  While such ordering may not be guaranteed, it's also possible folks could have taken a dependency on ordering in certain cases, and so if we already have tests for such things, we should keep them to know if we ever impact them.

[2015-03-11 22:26] Clockwork-Muse commented on #516
@jhendrixMSFT - Why was this closed?  As I near as I know it's an outstanding issue.  I know I'm a bit slow, but I'm working on it!

[2015-03-11 22:27] ellismg commented on #1118
We think this is a good idea, even using the current type.  What would be helpful is if someone could look at all the types we are going to expose (see https://github.com/dotnet/corefx-progress for a complete list) and produce a speclet of the APIs we'd need to add.  Then we can take it into API review and start doing the work.

[2015-03-11 22:28] ellismg commented on #1107
@nguerrera Can you easily answer @sharwell's question about what commit we used for the nuget package?

[2015-03-11 22:29] jhendrixMSFT commented on #516
@Clockwork-Muse oops sorry about that!  Shall I assign it to you?

[2015-03-11 22:34] jhendrixMSFT commented on #1107
I believe it was 03105dc.

[2015-03-11 22:38] jhendrixMSFT commented on #1107
Hmm not sure how this became closed.

[2015-03-11 22:42] terrajobst commented on #1081
If `Process.MainModule` will end up throwing on certain platforms, we should also expose a query API, like `Process.CanQueryModuleInformation` or something along those lines.

[2015-03-11 22:46] akoeplinger commented on #1115
@tarekgh @ericstj Maybe I'm missing something obvious here, but I can't see the behavior change here.

Even if I build my app with overflow checking enabled, that doesn't extend into the framework libraries and it still throws an ArgumentOutOfRangeException on this line as expected: [DateTime.cs#L347](https://github.com/dotnet/coreclr/blob/9edda94b8044ffa513ea366ca43cea8d029706e6/src/mscorlib/src/

[2015-03-11 23:01] tarekgh commented on #1115
we have 2 cases here, one case when the overflow result invalid value and the check
 if (millis <= -MaxMillis || millis >= MaxMillis)
will cause the method to throw. For this case the fix is not helping in anything because we'll throw anyway.
the second case which is what you have mentioned in ARM, the overflow will occur but we'll not throw because the result of the overflow is in the valid range

[2015-03-11 23:06] akoeplinger commented on #1115
Is this really a scenario that seems worth keeping compat for? afaik the only consumer of .NET on ARM is Phone and Surface RT and I'd be very surprised if anyone relied on this behavior on those platforms only (as they surely test their apps on Desktop Framework on x86/x64 as well).

Additionally, maybe your implementation of the ARM runtime actually returns a large negative number as well, so the

[2015-03-11 23:11] ellismg commented on #1105
@weshaggard Fixed by #1117?

[2015-03-11 23:12] ellismg commented on #1091
@weshaggard Was this included in #1117?

[2015-03-11 23:13] ellismg commented on #745
@nguerrera was this fixed by #796?

[2015-03-11 23:26] Clockwork-Muse commented on #1120
...then I maybe don't have so many tests to change.

On Wed, Mar 11, 2015 at 3:26 PM -0700, "Stephen Toub" <notifications@github.com> wrote:
:smile:

If you're modifying existing PLINQ tests, let's make sure that if any happen to be relying on ordering and are passing that we still keep those as-is.  While such ordering may not be guaranteed, it's also possible folks could have taken a dependency

[2015-03-11 23:37] weshaggard commented on #745
@ellismg no this isn't fixed by that change. I've got a change where I'm creating this library as a nuget package and we will reference it via packages as opposed to a project reference which will take care of this. I hope to finish that sometime this week.

[2015-03-11 23:37] weshaggard commented on #1091
Yes this is fixed.

[2015-03-11 23:37] #1091 closed

[2015-03-11 23:38] weshaggard commented on #1105
Yes fixed by #1117.

[2015-03-11 23:38] #1105 closed

[2015-03-11 23:53] n8ohu commented on #1115
@akoeplinger I would keep the behavior consistent across CPU architectures; we do have to consider the fact that Mono runs on ARM (I have it installed on a Raspberry Pi here for testing purposes) and one target of some applications I intend to write soon is Linux/ARM, either with "native" .NET or Mono.

[2015-03-11 23:56] akoeplinger commented on #1115
@n8ohu yes, this is exactly what this issue is about (currently the behavior is different on Mono/ARM) :)

[2015-03-12 00:01] ellismg commented on #745
Thanks!

[2015-03-12 00:19] Clockwork-Muse commented on #516
Sure, thanks.I've taken a slight detour at the moment through all of `Linq.Parallel`, given the prevalence of the pattern there, but I'm planning or working everything eventually.

On Wed, Mar 11, 2015 at 3:30 PM -0700, "Joel Hendrix" <notifications@github.com> wrote:
@Clockwork-Muse oops sorry about that!  Shall I assign it to you?

---
Reply to this email directly or view it on GitHub:
https://g

[2015-03-12 00:20] sawilde commented on #1103
I am not sure where the race condition is but by adding delays to the tests seems to mitigate the issue - perhaps Openover is introducing a race condition into the test during the act of instrumenting the code and gathering results.

[2015-03-12 00:39] ellismg commented on #503
I'm going to close this for now.

@weshaggard outlines our general feelings here.  In short, the overhead of adopting contracts for our team outweighs the benefits.  We don't want to take a dependency on the code contracts rewriter, which prevents us from using post conditions, and the gymnastics to adopt preconditions in a compatible way doesn't feel worth the cost at the time.

This doesn't mean

[2015-03-12 00:39] #503 closed

[2015-03-12 00:39] tarekgh commented on #1115
@akoeplinger regarding if this issue unlikely to be noticed by people or created work around, we got surprised by similar cases before and the result was a broken app. as DateTime is a core type which is used a lot, any change there is considered a risk if we are not carefully evaluate it.

[2015-03-12 01:01] akoeplinger commented on #1115
@tarekgh I understand that breaking apps is a no-go. However, I just tested on Windows Phone 8.1 and your ARM implementation does indeed return a large negative number for the overflow, so it runs into the same exception.

Given that all your platforms/implementations are unaffected by this (and thus by any fix we put in here), do you think we can reopen this?

[2015-03-12 01:10] tarekgh commented on #1115
I have checked with some folks and said the overflow behavior is undefined so this means we cannot say always the overflow will go through the exception.
second, if all overflow throwing today, this give a reason not to touch the code as not experiencing any issue with it.
sorry we are really careful touching the core types except if we have strong reasons to do so as the code will be included in

[2015-03-12 01:23] akoeplinger commented on #1115
I can understand the reluctance to change core types, but this just means you're embedding the assumption that something with an explicitly undefined behavior is actually behaving the same across every runtime implementation/platform out there which seems a bit less than ideal to me.

Personally I'm fine with fixing this in Mono's fork of the referencesource for now, but we should really document

[2015-03-12 03:04] weshaggard commented on #1022
I fixed all the places I found in the build tools targets. Please feel free to point out any places I might have missed.

[2015-03-12 03:04] #1022 closed

[2015-03-12 03:31] Hzj-jie opened #1122 "Will chmod be public later?"
Hi, I found the chmod function has been implemented in UnixFileSystem class as internal. Will it be public later. The scenario I am facing is, I will write a binary file from memory to the hard disk, and executing it. On Windows system, it works well, since I do not need to actively set 'exec' permission, but on Linux or Unix system, the default file permission is 'rw' instead of 'rwx'. On mono, I

[2015-03-12 06:17] ellismg commented on #334
Thanks for bringing this up.  We've discussed our general code contracts strategy and we've decided we're not going to be trying to adopt contracts all over the .NET Core libraries at this time.  See #503 for a further discussion of why.

I believe that the [microsoft/codecontracts](https://github.com/Microsoft/CodeContracts) repository contains a way to produce a set of assemblies with contract a

[2015-03-12 06:17] #334 closed

[2015-03-12 12:35] stephentoub opened #1124 "ObjectDisposedException assertion in FileSystemWatcher tests"
I sometimes get the following assert dialog when I run the unit tests for FileSystemWatcher locally:

[code]

[2015-03-12 14:26] stephentoub commented on #1122
@Hzj-jie, we don't currently have plans to make any of the DllImports public.  You can use your own if you like, though, e.g.
[code]

[2015-03-12 14:28] stephentoub commented on #1122
#312 has an ongoing discussion as well related to this.

[2015-03-12 15:53] Hzj-jie commented on #1122
Thank you.

[2015-03-12 15:53] #1122 closed

[2015-03-12 16:09] tmat opened #1127 "Factor Microsoft.CodeAnalysis.Differencing to a separate CoreFx nuget package"
Roslyn implements a general tree diffing algorithm in Microsoft.CodeAnalysis.Workspaces.dll based on "Change Detection in Hierarchically Structured Information" by Sudarshan S. Chawathe, Anand Rajaraman, Hector Garcia-Molina, and Jennifer Widom (http://ilpubs.stanford.edu/115/1/1995-46.pdf)

The implementation doesn't have any dependencies on Roslyn and can be factored out to a separate library.

[2015-03-12 16:21] Maxwe11 commented on #1127
Why this should be in corefx?

[2015-03-12 16:36] Giorgi commented on #1081
It already throws exception if the target process is elevated and the caller isn't

[2015-03-12 19:00] pallavit commented on #1103
@stephentoub Given the situation, I think we can enable the code coverage for System.Diagnostics.Process and remove the spawned process from the code coverage (the change that you had done earlier). Thoughts?

[2015-03-12 19:02] stephentoub commented on #1103
@pallavit, ok, I'll redo that fix.  I'll reassign this issue to me to take care of it.

[2015-03-12 19:03] pallavit commented on #1103
@stephentoub Thanks :)

[2015-03-12 20:26] StanRozenberg commented on #382
@mattwarren Are you still moving forward with this PR, if not I then I can do it.

[2015-03-12 20:40] thomaslevesque commented on #382
@StanRozenberg , the source for `HashSet<T>` hasn't been published on GitHub yet... it won't be possible to implement this feature until then.

[2015-03-12 20:42] StanRozenberg commented on #382
@thomaslevesque ah I didn't notice,  thanks!

[2015-03-12 21:53] chcosta commented on #1124
@ericstj , you did some investigation of this in the past.  I think the hope was that updating the IsHandleInvalid property to check the "IsClosed" property of _directoryHandle, would mitigate this (I'm no longer seeing failures on my box), but it appears that the race condition still exists.  Do you have any additional insight into this?  I'll start investigating this in depth.

[2015-03-12 22:14] ericstj commented on #1124
That helps since SafeHandle doesn't set IsInvalid after closing the handle, but there is still a race.  @stephentoub, is the stack of the ODE coming from the safehandle?

[2015-03-13 00:40] ConradMellin opened #1129 "More support for Math functions in System.Numerics.Vectors"
In particular I need Math.Exp support, similar to how there is support for Math.Sqrt via the Vector.SquareRoot function.

It should be trivial to add support for Math.Exp and in fact I've done this with my local copy of System.Numerics.Vectors using SquareRoot as a guiding example.
My application now uses the new Vector.Exp function instead of me having to  use the CopyTo function to unpack my Vec

[2015-03-13 01:10] mellinoe commented on #1129
This seems like a useful addition; my initial impression is that we would probably accept something like this, depending on a couple things. Like any other API addition, we need to follow the standard procedure:

https://github.com/dotnet/corefx/wiki/API-Review-Process

I'm curious whether something like Vector.Exp can be meaningfully accelerated using any hardware instructions. There's an assumpt

[2015-03-13 02:35] davkean commented on #1100
My proposal in this case, is to throw InvalidOperationException (with a good error message) when accessing the Process.StartInfo for Processes that you didn't start yourself. This will prevent people being confused by this behavior.

I just saw another person confused by this internally:

[2015-03-13 04:18] ConradMellin commented on #1129
The implementation of Vector.SquareRoot (for type Double) is essentially:

                else if (typeof(T) == typeof(Double))
                {
                    Double* dataPtr = stackalloc Double[Count];
                    for (int g = 0; g < Count; g++)
                    {
                        dataPtr[g] = (Double)Math.Sqrt((Double)(object)value[g]);
                    }

[2015-03-13 05:08] chcosta commented on #1124
What's the value of this assert?  It happens in a very small set of circumstances when some native process has disposed the handle.  Would it be more appropriate to just recover when the scenario has been detected?

[2015-03-13 07:42] mellinoe commented on #1129
Yep, that looks like the most sensible way to implement it, I can't really figure a reason why it would perform worse than actually copying everything out to an array and operating on that. I'd have to investigate the scenario more closely.

But, regarding hardware acceleration: The JIT recognizes these special methods and handles them specially at runtime. What you see in the library code is basi

[2015-03-13 09:16] Clockwork-Muse commented on #584
@stephentoub - Unless I've got a broken mental model again, this appears to still be broken (for `Enumerable` and `Partitioner` sourced queries, anyways).
It was my assumption that the output of one of the ordering operators (ie, `OrderBy(...)`) should produce the same results that `AsOrdered()` does, that:

    int leftSize = 4;
    int rightSize = 4;
    int[] leftData = new int[leftSize];
    f

[2015-03-13 09:18] mattwarren commented on #382
@StanRozenberg I'm just waiting for the code to be open-sourced, as @thomaslevesque pointed out it's not done yet, see https://github.com/dotnet/corefx/issues/966.

I plan to implement that change after that.

[2015-03-13 09:58] mikedn commented on #1129
Yes and no. No, there's no single SSE/AVX/Neon instruction that can compute `exp`. Yes, you can still hardware accelerate `exp` by using existing SIMD instructions to compute `exp` for 2/4/8 values at the same time. For example, DirectXMath provides [XMVectorExpE](https://msdn.microsoft.com/en-us/library/windows/desktop/dn280642(v=vs.85).aspx) that does just that.

There are 2 questions that can b

[2015-03-13 14:06] MikePopoloski commented on #1129
I raise a similar issue in #1008.

As for the questions raised above, in my opinion Vector<T> and Vector should expose only the set of functions that map easily to one or two intrinsics. The real performance win with SIMD is operating on reams of data, not trying to fit it into typical OOP paradigms such as having a single geometric vector type. This recent presentation at GDC gives a great overvi

[2015-03-13 17:18] KrzysztofCwalina commented on #1110
I moved the demo to new set of more reliable packages.
See instructions at https://github.com/dotnet/corefxlab/wiki/.NET-Core-Console
Please used packages from the feed described on the wiki page. Also, the wiki page describes how to debug issues with this demo and missing packages.
Let me know if you still run into problems.

[2015-03-13 17:18] #1110 closed

[2015-03-13 17:20] MattGal opened #1132 "Need EncryptedXml and supporting types in Core framework"
This will likely depend on a large pile of other work, but I'd like to raise the issue.  In porting applications to use CoreCLR, I have run into the need for the [EncryptedXml class](https://msdn.microsoft.com/en-us/library/system.security.cryptography.xml.encryptedxml%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396) more than once.  From looking around, there are various 3rd party encryption libra

[2015-03-13 17:44] svick commented on #584
@Clockwork-Muse You're concatenating an unordered sequence (`Range`) and an ordered sequence (`OrderBy`), so I think it makes sense that the result is unordered.

[The documentation](https://msdn.microsoft.com/en-us/library/dd460677) says that the result of `Concat` is ordered when "the source sequence" is ordered and unordered when "the source sequence" is unordered. It's not clear to me what exa

[2015-03-13 18:46] paulirwin commented on #700
As @tarekgh mentioned on @mj1856's repo, the idea is that this issue should be closed until it is proven in the field. I did not pick up on that from earlier comments here but if that's how it should be handled then that's acceptable. Personally, I think that if there is an intention to implement this in the future, then the issue should be left open, perhaps given a future milestone or tag, becau

[2015-03-13 18:48] paulirwin commented on #700
Also another reason for not closing the issue - if it is closed, someone else could come along, see no open issues for this, and create a new open issue, starting this conversation all over again.

[2015-03-13 18:53] tarekgh commented on #700
@paulirwin this means we cannot close any issue :-) when someone open same issue again we'll direct him/her to the old issue. this is regular process for any issue. they will not have to re-discuss it again. and even they will have the freedom to reopen the old issue

[2015-03-13 19:03] paulirwin commented on #700
Fair enough, then we can close the issue if that's the consensus here. But please either follow @mj1856's library closely going forward or let me know what the rough criteria would be for the library being considered proven.

[2015-03-13 19:12] tarekgh commented on #700
we should be in contact with @mj1856  moving forward anyway and we'll recommend this library for anyone run into to this issue. yes we should keep our eye on this library.
personally, I think this library will grow in good way as we have more scenarios related to date/time which may need similar solutions.

Thanks Paul for your thoughts and bringing such issue. and thanks of course to Matt helping

[2015-03-13 19:17] stephentoub commented on #1124
@ericstj, yes, from DangerousAddRef. I added some code to the assert to print out the stack trace:
[code]

[2015-03-13 20:54] mj1856 commented on #700
Thanks @tarekgh!  Yes - I'm fine with closing the issue for now.

We'll keep iterating on [mj1856/corefx-dateandtime](https://github.com/mj1856/corefx-dateandtime).  I'll also put together examples of corefx/coreclr changes that would be compelling use cases for should it be merged.

[2015-03-13 21:44] Clockwork-Muse commented on #584
@svick - So what would happen in the case that only one sequence is ordered?  Only order that portion of the output sequence (like `Union`), or leave the whole thing unordered?  The way I'm reading the start of the concat operator's implementation makes it seem like output should be ordered if either input is.

[2015-03-13 23:07] svick commented on #584
@Clockwork-Muse I don't know. Since I think the documentation doesn't guarantee anything like that, I would expect the whole result to be unordered. But I didn't look at the implementation.

[2015-03-13 23:24] Clockwork-Muse commented on #584
Heh.  Well, I need to know, so I can change or comment the appropriate tests.

On Fri, Mar 13, 2015 at 4:08 PM -0700, "Petr Onderka" <notifications@github.com> wrote:
@Clockwork-Muse I don't know. Since I think the documentation doesn't guarantee anything like that, I would expect the whole result to be unordered. But I didn't look at the implementation.

---
Reply to this email directly or view i

[2015-03-14 13:41] Clockwork-Muse commented on #584
@svick , the implementation has:

    _outputOrdered = LeftChild.OutputOrdered || RightChild.OutputOrdered;

... which I've been reading as if either source is ordered, the output will be.
Thinking about what I am seeing though, something needs to be changed:

 1. If both would need to be ordered, the current implementation is doing work it doesn't/shouldn't have to.
 2. If only that portion of th

[2015-03-14 20:08] stephentoub opened #1136 "Failure in System.Collections.Specialized.Tests.GetItemObjTests in CI"
MESSAGE:
Error, returned wrong item for lowercase key
+++++++++++++++++++
STACK TRACE:
at System.Collections.Specialized.Tests.GetItemObjTests.Test01() in d:\j\workspace\dotnet_corefx_windows_release_prtest\src\System.Collections.Specialized\tests\HybridDictionary\GetItemObjTests.cs:line 362

[2015-03-14 22:38] stephentoub opened #1139 "System.IO.Pipes tests are not running"
Doing ```msbuild /t:BuildAndTest``` from the System.IO.Pipes directory builds but does not run the tests.  And the output from the full CI runs shows the same: the tests are getting built but not executed.

[2015-03-14 22:46] stephentoub opened #1140 "System.ServiceProcess.ServiceController tests are not running"
As with #1139, the tests for System.ServiceProcess.ServiceController are building but not running, both in the lab and locally.

[2015-03-15 00:48] #700 closed

[2015-03-15 03:57] weshaggard commented on #1139
They don't match the naming pattern convention of ending with ".Tests". Test projects only run if IsTestProject=true which is set to true if the project name ends with ".Tests" or that property is set explicitly in the project.

[2015-03-15 03:59] weshaggard commented on #1140
Those tests are explicitly disabled in the project:

    <RunTestsForProject>False</RunTestsForProject>

[2015-03-15 04:00] stephentoub commented on #1140
Ah, I missed the ```<RunTestsForProject>False</RunTestsForProject>```.  Will we be doing code coverage as part of running outer loop tests?  Or alternatively what's the plan for enabling code coverage of the library?

[2015-03-15 04:02] #1140 closed

[2015-03-15 04:04] weshaggard commented on #1140
I'm not sure we have any particular plans yet. Right now we don't even have support for running these tests that require admin access as part of OuterLoop yet either.

[2015-03-15 04:08] stephentoub commented on #1139
Sounds like something that should be fixed :smile:

[2015-03-15 14:01] stephentoub opened #1142 "Improve code coverage for System.IO.Pipes"
According to the current code coverage report, this library is only at ~25%. Our general goal is closer to 90%, though this will depend on the library. We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-03-15 14:02] stephentoub opened #1143 "Improve code coverage for System.Linq"
According to the current code coverage report, this library is only at ~24%. Our general goal is closer to 90%, though this will depend on the library. We should investigate to see whether the current coverage level is appropriate, and if not, improve our test suites to provide better coverage.

[2015-03-15 19:30] japj commented on #779
Is #276 still something that needs to be done as part of this, or is that not needed anymore?

[2015-03-15 20:15] stephentoub commented on #592
Fixed by #1109

[2015-03-15 20:15] #592 closed

[2015-03-15 20:15] stephentoub commented on #564
Fixed by #1109

[2015-03-15 20:15] #564 closed

[2015-03-15 20:15] stephentoub commented on #528
Fixed by #1109

[2015-03-15 20:15] #528 closed

[2015-03-15 20:15] stephentoub commented on #514
Fixed by #1109

[2015-03-15 20:15] #514 closed

[2015-03-15 21:18] rafidka commented on #1143
@stephentoub, I am interested in working on this task, but I think I need some more explanation about what I need to do. For example, do I need to go over all methods and see which ones don't have unit tests? If you just give me some guideline then I can take a look and get back to you on whether I can do it or not.

[2015-03-15 21:56] Michael-DST commented on #973
I am also incredibly interested in Xamarin's integration with .NET Core and Windows 10 ecosystem, so add me to that list, where ever it is.

Welllllll technically speaking, they are.  According to this picture, that is (denoted by "Any other app model"):
![](http://blogs.msdn.com/cfs-file.ashx/__key/communityserver-blogs-components-weblogfiles/00-00-00-81-88-metablogapi/4863.image_5F00_thumb_5F00_

[2015-03-15 22:14] stephentoub commented on #1143
@rafidka, thanks for your interest.  I've put up some information on a [[Code Coverage]] wiki page.  Let us know if that doesn't address your questions.

[2015-03-15 22:21] stephentoub commented on #1143
@AlekseyTs, are more tests forthcoming for System.Linq, or is what's up there now the full available set?

[2015-03-15 22:42] Clockwork-Muse commented on #1143
@rafidka
I've been working on the Linq.Parallel tests, would any of that be applicable/transferrable/helpful?  I've got tests for all the individual operators (`All`, `Where`, `Select`, etc)... although I think I need to "label" sources so it's easier to tell which one is failing (ie, array versus enumerable input source).

From the look of what's out there (System.Linq/tests), you're going to nee

[2015-03-16 02:29] nguerrera commented on #1107
The rc builds of both immutable and metadata were made with master synced to 664ea075339e24bb7e816e2de338d449d322a3

Yes, there should be tags.

[2015-03-16 03:15] ericleigh007 opened #1146 "Fervent request to add true EXI support to .NET"
There are several projects which purport to be .NET implementations of Efficient XML Interchange, but there is no .Serialize .Deserialize support for EXI that mirrors that for XML and JSON in .NET.  EXI has the opportunity to become a very important player in all sorts of things from the desktop to the web to the .NET micro framework, and it would make a lot of sense to adopt it as a key player BE

[2015-03-16 05:33] richlander opened #1147 "Update contribution guidelines"
I deleted all of the managed code guidelines from the CoreCLR wiki. The guidance is to make changes in the CoreFX repo, so managed code guidelines seem inappropriate for the CoreCLR wiki. Also, since there are no C++-specific guidelines, it also looks odd.

The delete text is in Contribution-guidelines.md and is all there @ commit a4d01c7e207af58397e60269282a5634c0835766.

I could just add it, unl

[2015-03-16 09:14] rafidka commented on #1143
Thanks for your reply @stephentoub. I just wanted to have a look at the source code, but I couldn't even find the System.Linq project! Or am I missing something?

[2015-03-16 09:15] rafidka commented on #1143
@Clockwork-Muse yeah, I am sure it will be beneficial to have a look at them. Thanks!

[2015-03-16 09:17] Maxwe11 commented on #1143
@rafidka https://github.com/dotnet/corefx/tree/master/src/System.Linq

[2015-03-16 09:22] rafidka commented on #1143
Yeah, sorry my bad, I realized I forgot to sync. OK then, I will have a look at it today.

[2015-03-16 13:52] stephentoub opened #1148 "Test project debug command line arguments in VS are broken"
The command-line arguments generated for .Tests projects in VS are incorrect, such that attempting to F5/ctrl-F5 a test project no longer successfully runs the tests for the project.

As an example, the command-line args generated for System.Threading.Tasks.Dataflow.dll are:
[code]
That ```{XunitTraitOptions}``` is causing the problem.

[2015-03-16 13:57] rafidka commented on #1143
@stephentoub I had a look at the code and I think I can do it. However, do we have a deadline here for getting this done? I don't think this will need months definitely, but just wanted to make sure there is no tight deadline for it.

Also, I noticed that System.Linq lacks documentation and it needs some refactoring (everything is in one big file of around 3000 lines, additionally ReSharper shows

[2015-03-16 14:01] stephentoub commented on #1143
Great. Thanks!

You mean XML documentation?  The MSDN docs for Enumerable are at https://msdn.microsoft.com/en-us/library/vstudio/system.linq.enumerable.aspx .  We already plan to update / augment the XML docs in the code across all of CoreFX automatically based on the MSDN docs (@davkean, FYI).  We should not do so here manually.

Feel free to open a separate issue for that.  Please don't do so a

[2015-03-16 14:11] rafidka commented on #1143
Great, can you please assign this task to myself then? I can't do it myself, as I am not a collaborator on corefx yet.

[2015-03-16 14:19] rafidka opened #1149 "Refactor System.Linq"
Following @stephentoub comment here:

https://github.com/dotnet/corefx/issues/1143#issuecomment-81683842

I am filing this issue to track doing some refactoring in System.Linq. Currently, everything is in one file which has about 3.2k lines and around 20 classes and interfaces. It is good if this can be refactored to make the code easier to follow.

[2015-03-16 16:15] akoeplinger commented on #1146
Is there a reason why this needs to be done in corefx rather than a separate library like Newtonsoft.Json?

[2015-03-16 16:25] ericstj commented on #1124
Yep, so it would seem this code is racing with a call to close on the handle.  The check for IsHandleInvalid returns false, but then someone closes the handle before this code runs.  I'm not aware of a pattern that enables addref-then-check on a disposed handle, so we'd either need to lock or swallow the exception.  I'd say we just swallow since that is what the code has been doing.  Just remove t

[2015-03-16 16:43] #1103 closed

[2015-03-16 16:45] weshaggard commented on #1148
This is a duplicate of https://github.com/dotnet/buildtools/issues/112 and with PR https://github.com/dotnet/buildtools/pull/115 fixing the issue. The next time I do a build tools package update the fix will be included.

[2015-03-16 16:48] AlekseyTs commented on #1143
@stephentoub Regarding "are more tests forthcoming for System.Linq" question. That is all we have ready for open source at the moment.

[2015-03-16 16:57] stephentoub commented on #1143
@AlekseyTs, thanks.   Just to verify, though, does that mean we don't have any more tests, or does that mean we do have more tests written that just aren't ready to be open sourced but will be at some point?  I'm asking simply because I don't want @rafidka to do duplicative work... if we have more tests that will eventually be released, then his energy would be better spent elsewhere.

[2015-03-16 18:41] chcosta commented on #1124
Resolved with Issue #1150

[2015-03-16 18:41] #1124 closed

[2015-03-16 19:12] ericleigh007 commented on #1146
I guess the same could be said of XML support.  Why is XML support not a separate package?  XML is there internally Because it is a ubiquitous standard.  JSON was added later because of the same reason.

The reason to do EXI internally is that EXI is "binary XML" and it should be just as prevalent, because the format is probably going to be ubiquitous like XML in the future     Since EXI is just b

[2015-03-16 20:08] tannergooding opened #1151 "New API for single-precision math"
### Rationale

The .NET framework does not currently provide scalar single-precision floating-point support for many of the trigonometric, logarithmic, and other common mathematical functions.

Single-precision floating-point support should be provided for these mathematical functions in order to better interop with high-performance, scientific, and multimedia-based applications where single-preci

[2015-03-16 20:28] ellismg commented on #1149
Did you want to do this as part of your work on increasing code coverage?

[2015-03-16 20:39] rafidka commented on #1149
Yes, sure, I would love to. It is just that I am not a contributor yet (I hope you make me one), so I can't assign tasks to myself.

[2015-03-16 20:48] ellismg commented on #1149
@rafidka Thanks!  I marked the is "grabbed by community" since you're going to take care of it.  Please let me know if you change your mind.

[2015-03-16 20:49] svick commented on #1146
This to me shows that EXI isn't likely to become ubiquitous. It's been an official standard for 4 years (and it did exist before that) and still it's not used much.

That's not how .Net Core works. There, pretty much everything is a dependency, including the existing XML support (see e.g. [the System.Xml.XmlDocument package](https://www.nuget.org/packages/System.Xml.XmlDocument/4.0.0-beta-22605)).

[2015-03-16 21:45] MattGal opened #1153 "Bring back Console.ReadKey()"
For reference, see issue #311 and the related aspnet/Hosting#140.   Console.ReadKey() can solve both issues (thought explicit support for CancelKeyPress is nice as that can handle different keyboard configurations etc).

ReadKey() is a helpful API for many console app scenarios and is quite difficult for users to implement in a non-Windows-specific way if they want to get the same functionality.

[2015-03-16 22:37] KrzysztofCwalina commented on #1151
Why would we not add float overloads directly to System.Math?

[2015-03-16 22:47] pdelvo commented on #1151
This would break compatibility. If you call Math.Sqrt(2f) would now call the single precision overload  with less precision instead of implicitly casting it to double.

[2015-03-16 22:47] tannergooding commented on #1151
Given the existing API `System.Math.Sqrt(double)`, when you compile the code:
    `double result = System.Math.Sqrt(2)`
The code compiles as a call to `System.Math.Sqrt(2.0D)`.

However, if you add `System.Math.Sqrt(float)` and recompile the code:
    `double result = System.Math.Sqrt(2)`
The code compiles as a call to `System.Math.Sqrt(2.0F)`.

This results in different behavior and provides no w

[2015-03-17 01:46] #1139 closed

[2015-03-17 01:46] #729 closed

[2015-03-17 07:12] rafidka commented on #1143
@stephentoub, I understand that I have to wait for a reply from @AlekseyTs before working on this task, right?

[2015-03-17 09:33] Clockwork-Muse opened #1155 "Ordering of ParallelEnumerable.GroupJoin and Join"
This feels strange or bug-ish to me, but I'm not seeing anything either way in documentation.  The following:

[code]

... has output like this:
![groupjoin](https://cloud.githubusercontent.com/assets/5569508/6683955/d5efffe4-cccf-11e4-8958-4dfde0993f1d.jpg)
The first grouping is out of order, whereas I'm expecting even the grouped elements to be returned in order (which is what the non-parallel v

[2015-03-17 13:02] stephentoub opened #1156 "Move Process.Start implementation on Unix into native code"
It is not safe to run managed code in a fork'd process (our current Process.Start implementation on Unix was also broken further by some recent necessary changes in the runtime around thread IDs).  We need to move most of Process.Start's implementation into native code.

[2015-03-17 17:02] AlekseyTs opened #1157 "System.IO.FileSystem.Watcher.Tests - Tests passed but project failed?"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_prtest/407/
--
Build #407 (Mar 16, 2015 11:22:23 AM)
PR #1133: Add System.Linq.Queryable S...

No changes.

GitHub pull request #1133 of commit 0f60d399123ce4b4f2ec4d4e242837a5899467f7 automatically merged.

Test Result (no failures)

Identified problems
	Subproject build: dotnet_corefx_windows_debug_prtest (#402)

	No identified problem
No problems

[2015-03-17 17:10] AlekseyTs opened #1158 "System.Collections.NonGeneric.Tests - Intermittent test failure in merge build"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_prtest/409/
----
Build #409 (Mar 16, 2015 12:10:28 PM)

PR #1133: Add System.Linq.Queryable S...
	No changes.

GitHub pull request #1133 of commit 0f60d399123ce4b4f2ec4d4e242837a5899467f7 automatically merged.

	Test Result (1 failure / +1)
Comparer_DefaultInvariant.ExecuteComparer_DefaultInvariant

Identified problems

Subproject build: dotnet_coref

[2015-03-17 17:18] AlekseyTs opened #1159 "System.Diagnostics.Process.Tests - Intermittent test failure during build.cmd without any local changes"
From msbuild.log:

----
12:46:12.176    69>RunTestsForProject: (TargetId:1705)
                        System.Diagnostics.ProcessTests.ProcessTest.Process_AsyncOutputStream [FAIL] (TaskId:1148)
                           Assert.Equal() Failure (TaskId:1148)
                                     Gåô (pos 0) (TaskId:1148)
                           Expected:  (TaskId:1148)

[2015-03-17 19:49] stephentoub opened #1160 "Turn on warnings-as-errors for CoreFX"

[2015-03-17 22:09] ellismg commented on #1157
@FiveTimesTheFun or @mmitche Have you ever seen this before where the tests all pass but the targets think the process failed?

[2015-03-17 22:15] ellismg commented on #1147
@richlander Is this in the wrong place?  The CoreFX wiki already has our managed code guidelines.  Did you mean to open this in CoreCLR?

[2015-03-17 22:29] ellismg commented on #1127
We think that pulling this sort of logic out of Roslyn if we can make it general purpose is a good idea.  Figuring out what repo it ends up living in is still an open question.  This is probably to small to be a stand alone git project, even though it would be in its own contract.

[2015-03-17 22:31] mmitche commented on #1157
That's definitely an A/V in the process, not an issue with the target.  So it could have failed post-printing that message.

[2015-03-17 22:31] mmitche commented on #1157
(and no :()

[2015-03-17 22:43] tmat commented on #1127
I think the repo could be something like "advanced algorithms & data structures". We have other stuff in Roslyn that could be general purpose (e.g. http://en.wikipedia.org/wiki/Bloom_filter).

[2015-03-17 22:45] ellismg commented on #1159
I was seeing this locally as well on Windows 8.1 at home.

[2015-03-17 22:49] pallavit commented on #1159
I tried to repro this locally (win 8.1 as well) but could not get this to fail :|

[2015-03-17 22:51] ellismg commented on #1159
@pallavit I'll take a look tonight at home and see if I can understand what's different.

[2015-03-17 22:56] pallavit commented on #1159
Thanks @ellismg

[2015-03-17 23:28] ellismg commented on #1146
I agree with @svick and @akoeplinger here.  I think there are a few things to keep in mind:

1. One of the goals of .NET Core is that the framework is factored into fine grained contracts with implementations portable across .NET Runtimes (.NET Native, CoreCLR, the Full .NET Framework).  This allows application developers to bring their dependencies with them when deploying their app, they don't h

[2015-03-18 01:35] stephentoub opened #1165 "FileSystemWatcher_InternalBufferSize_File test failed in CI"
FileSystemWatcher_4000_Tests.FileSystemWatcher_InternalBufferSize_File [FAIL]
        Should not observe a error event
        Stack Trace:
           d:\j\workspace\dotnet_corefx_windows_debug_prtest\src\System.IO.FileSystem.Watcher\tests\Utility\Utility.cs(100,0): at Utility.ExpectNoEvent(WaitHandle eventOccured, String eventName, Int32 timeout)
           d:\j\workspace\dotnet_corefx_windows_de

[2015-03-18 01:37] ericleigh007 commented on #1146
Okay, guys, I certainly appreciate your time.
I was unaware of the refactoring of the library and the idea to break this into smaller pieces.  If you guys feel that XML (as @svick said) is not general purpose enough, then certainly EXI isn't.

I do disagree that because EXI hasn't found wide adoption that is won't be ubiquitous though.  I have to say that this is very much the chicken or the egg o