[2019-07-06 05:22] devhawk opened #39245 "SequenceReaderExtensions should support reading unsigned integer values"
SequenceReaderExtensions provides TryRead[Little/Big]Endian functions for short, int and long. ushort, uint and ulong overloads should also be provided

[2019-07-06 06:00] danmosemsft commented on #39225
What is the value of the LANG environment variable? @tarekgh

[2019-07-06 06:04] danmosemsft commented on #39216
We run tests in es-ES specifically to stay clean of the en-US assumptions in tests that we used to have. I wonder why it has not protected us against these.

[2019-07-06 09:36] jchristn opened #39246 "Reading Console.CursorLeft is blocked by Console.ReadLine in another thread"
I noticed this issue here was closed: https://github.com/dotnet/corefx/issues/24654

I'm using .NET Core 2.2 and the issue still exists.

Sample code here, run ```dotnet consoletest.dll false``` to see without the ```Console.ReadLine()``` and ```dotnet consoletest.dll``` to see with the ```Console.ReadLine()```.

When running with the ```Console.ReadLine()``` on Ubuntu 18.04, the worker threads ar

[2019-07-06 11:33] shutdown256 opened #39247 "Proposal: MemoryPool.RentExact() returns IMemoryOwner with pre-sliced Memory"
I found it really disappointing that MemoryPool.Rent behaves as ArrayPool and can return Memory that is larger then what I want - it makes sense for arrays but Memory could be easily pre-sliced to required size - this will most importantly allow passing this IMemoryOwner to outside code without the need to pass along another variable indicating the actual length of the data and slicing the underli

[2019-07-06 11:35] karthickthangasamy opened #39248 "[System.Text.Json] Flag attribute enum serialization and deserialization"
**Description:**

Option to ignore `enum` from `StringEnumConverter` those have `System.Flags` attribute.

**Issue:** The `System.Flags` enumerations serialized to comma separated keys. This is also the same behavior of `JSON.NET`, where as we can ignore the serialization and deserialization of number enum with `System.Flags` using the below code snippet in `JSON.NET`.

**System.Text.Json version

[2019-07-06 12:17] benaadams commented on #39247
/cc @GrabYourPitchforks

[2019-07-06 14:18] jchristn commented on #39246
BTW I only notice this on Linux. Have not tried on Mac. Issue doesn’t seem to exist on Windows. When I tested on Linux, it was Ubuntu 18.04.

[2019-07-06 14:36] stephentoub commented on #39246
Getting the current cursor position on Unix requires writing to stdout and reading from stdin, so if there's a pending ReadLine from stdin in progress, getting the current cursor position synchronizes with it.

[2019-07-06 15:34] jkotas commented on #39059
Hit: https://github.com/dotnet/coreclr/pull/25577

[2019-07-06 15:34] jchristn commented on #39246
Ah, I see.  I wish I would have understood this a week ago :)  Is there a path forward or is this a "working as expected" condition that no one will attempt to resolve (or there is no possible way to resolve)?  Thanks for getting back to me!

[2019-07-06 15:40] SoftCircuits commented on #39199
@JeremyKuhne As far as usefulness, it must surely be a common task to want to write an array other than a byte array to a file. Maybe I do more binary file writing that most, but this has come up for me a number of times.

I did some of my own performance testing. The improvements are modest. The larger the size of the array being written, the greater the performance boost. And that's not getting

[2019-07-06 15:59] stephentoub commented on #39246
It's working as expected, though I understand it's not ideal for your needs. It's possible there's a change that could be made to address it, but I suspect it would be far from simple, and currently there are no plans to address it. If someone submitted a PR for it, we'd certainly evaluate it, though.

[2019-07-06 16:07] jchristn commented on #39246
Ok thanks, I'll close this.  It was difficult to track this down to the source of the problem because the Console.CursorLeft was actually buried in a NuGet package I use.  Have a great day @stephentoub

[2019-07-06 16:07] #39246 closed

[2019-07-06 16:29] sgf commented on #37622
Every scene where TCP or UDP are using.
TCP is full of loopholes. Syn attack,TIME_WAIT state(it's a long history of difficult issues.).

[2019-07-06 16:33] sgf commented on #37622
I do not want to discuss too much on UDP.
Why?Because UDP is an target that ICP blockade, routing is being discriminated against in the process of forwarding packets.UDP uses subject to many restrictions.

[2019-07-06 16:44] sgf commented on #37622
Maybe these arguments are not enough to be the sctp implementation force, but in fact sctp itself is good enough.In fact, QUIC basically copied many features of SCTP.

One reason why SCTP is not popular is that Windows, which is a mainstream PC operating system, does not support it.(if do,i think many app,internet games will use it to replace TCP/UDP).

where another:QUIC is from google.

[2019-07-06 18:41] rkeithhill commented on #13526
For all the pkg management eco-systems that have adopted semver (NuGet, npm, PowerShell, Conan, etc) it is a major bummer that .NET Core **still** does not provide support for semantic versions.

[2019-07-06 18:48] davidfowl commented on #13526
You mean all of those ecosystems have first class support in their BCL for parsing semantic versions? Is that true? Can you point me at the examples?

[2019-07-06 19:04] vivainio commented on #13526
@davidfowl no they don’t. And even npm is not “in node” anyway.

[2019-07-06 19:04] rkeithhill commented on #13526
NuGet:
https://github.com/NuGet/NuGet2/blob/2.13/src/Core/SemanticVersion.cs

npm - well this one claims to be "the semantic versioner for npm"
https://github.com/npm/node-semver

PowerShell:
https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.semanticversion?view=pscore-6.2.0

Conan - OK Conan's a bit weird - I'd say they have quasi-semver support.  The version numbers we use

[2019-07-06 19:07] rkeithhill commented on #13526
Ah, sorry in their "BCL equivalent".  OK fair point but I thought frameworks were about providing common functionality so that it doesn't get re-invented over and over (like NuGet vs PowerShell)?

[2019-07-06 20:00] gdalsnes commented on #36348
@ericstj "We can't drastically change the behavior for existing apps or apps that recompile."
@ahsonkhan  "This, naturally, would be a breaking change."
It is possible to use a switch, eg Switch.System.IO.Compression.CompressionLevel.OptimalIsBalanced.
OptimalIsBalanced = false: Highest = 3 will be the same as Optimal
OptimalIsBalanced = true: Optimal becomes balanced, Highest become highest.
Some

[2019-07-06 20:41] daveyostcom commented on #37780
As you can see, in Rider the debugger stops where it shouldn't be stopping:
<img width="533" alt="image" src="https://user-images.githubusercontent.com/8748/60760780-1ed8c180-9ff0-11e9-9444-0d631e722a28.png">
In VS mac, I'm having trouble getting this simple program to run without strange errors, so I have nothing to report in VS.

[2019-07-06 22:45] #39181 closed

[2019-07-06 22:45] #39234 closed

[2019-07-06 22:47] geoffkizer commented on #39234
Thanks for finding and fixing.

[2019-07-07 03:47] parxal commented on #18449
Hi @rmkerr this still happens in version 2.2

[2019-07-07 04:09] davidsh commented on #18449
@rmkerr is not on .NET Core project anymore.

If you are still having a problem, please open a new issue. And please include enough information in order for us to reproduce the problem. Please include a run-able repro program.  Thx.

[2019-07-07 05:37] benaadams opened #39256 "WebSocket doesn't amortize its ValueTask ReadAsync calls"
In usage a WebSocket normally has very many ReadAsync calls made on it.

Using the ValueTask overloads for WebSocket read allocates 2x AsyncStateMachineBox per read (when data is not immediately available)

![image](https://user-images.githubusercontent.com/1142958/60764376-7de61700-a080-11e9-85ac-6cbb37053893.png)

However it could allocate once; backing with an IValueTaskSource objects that get

[2019-07-07 05:40] benaadams opened #39257 "SslStream doesn't amortize its ValueTask ReadAsync calls"
In usage a SslStream normally has very many ReadAsync calls made on it.  (Use case WebSockets/SignalR over TLS)

Using the ValueTask overloads for SslStream read allocates 2x AsyncStateMachineBox per read (when data is not immediately available)

![image](https://user-images.githubusercontent.com/1142958/60764450-ff8a7480-a081-11e9-83f3-696b2f187ef6.png)

However it could allocate once; backing wi

[2019-07-07 05:45] benaadams opened #39258 "StreamPipeReaders don't amortize their ValueTask ReadAsync calls"
In usage a StreamPipeReader normally has very many ReadAsync calls made on it.

Using the ValueTask overloads for StreamPipeReader read allocates a AsyncStateMachineBox per read (when data is not immediately available)

![image](https://user-images.githubusercontent.com/1142958/60764465-56904980-a082-11e9-9be2-3f217b4a1cb2.png)

However it could use `TryRead` for the sync-path and allocating a IVa

[2019-07-07 05:48] davidfowl opened #39259 "Remove PipeReaderStream.ReadAsync state machine allocation"
We can implement `IValueTaskSource<int>` on the `PipeReaderStream` and remove the per ReadAsync allocations and state machine (by using the PipeReaderStream as the state machine)

[2019-07-07 10:59] sasivishnu commented on #39037
Thanks. I will get PR ready by next week (traveling till next Wednesday).

[2019-07-07 11:32] stephentoub commented on #39259
Dup of #35298?

[2019-07-07 11:41] stephentoub commented on #39256
It could, as can anything in theory that returns ValueTask (we don't need an issue for each). It's non-trivial and significantly complicates the implementation. Which is why it hasn't been done thus far.

[2019-07-07 11:46] stephentoub commented on #39257
Difficult to do manually, and will complicate the code significantly. Unless you're planning to tackle this soon and find a way to keep it manageable in the process, I suggest you close the issue, or it is just going to sit open for a very long time.

[2019-07-07 11:53] parxal opened #39260 "HttpClient still forcing spaces into Accept headers"
HttpClient forcing spaces into Accept headers with parameters breaking non-conforming REST.
When setting httpClient accept header.  Strings are forced with a space between the ;
This as been reported here :
https://github.com/dotnet/corefx/issues/18449
https://github.com/dotnet/corefx/issues/22472

But still happens in version 2.2
[code]

If you check fiddler : accept is : "application/json; versi

[2019-07-07 12:03] parxal commented on #18449
@davidsh open it here > https://github.com/dotnet/corefx/issues/39260

[2019-07-07 12:08] benaadams commented on #39257
I'm looking to see if can use IAsyncEnumerable as adding the new type that way is very simple (changing `return` to `yield return`).

However, I'm having some issue then gluing that to the `IValueTaskSource<int>` as its a `ValueTask<bool>`, so also need to go via a transform that converts one callback to the other.

[2019-07-07 12:13] benaadams commented on #39257
*Am trying it on HttpRequestStream first https://github.com/aspnet/AspNetCore/issues/11940

[2019-07-07 12:57] miyconst commented on #39225
[code]

[2019-07-07 13:36] stephentoub commented on #39225
That's the issue, most likely. Try changing it to something like en-US.UTF-8.

(https://github.com/dotnet/coreclr/pull/25373 should also address it in 3.0.)

[2019-07-07 13:55] oleh-zheleznyak commented on #36129
Hi @sywhang !
Thanks a for doing this work on `EventCounter` - I believe these API extensions are crucial.
Having only `WriteMetric` leaves too much to implement to the user of the API.

It's a huge step forward with new EventCounter APIs, however it feels like good old `PerformanceConter`s had broader functionality still.
I'm thinking about `PerformanceCounterType`s like `RawBase` and `RawFractio

[2019-07-07 14:26] davidsh commented on #39260
Can you please try .NET Core 3.0? It is available in Preview:
https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-6/

[2019-07-07 15:03] realdevhl opened #39265 "System.Text.Json Deserialization Internal setters dont get set"
Internal setters are not getting set.  The below works fine when removing the internal keyword.

`public class Foo
{
    private string _value;
    public string Value
    {
        get => _value;
        internal set => _value = value.ToUpper();
    }
}

class Program
{
    static void Main(string[] args)
    {

        Foo foo = System.Text.Json.Serialization.JsonSerializer.Parse<Foo>("{\"Value\

[2019-07-07 15:05] ViktorHofer opened #39266 "SetPrincipalPolicy doesn't work on Windows arm32"
We should check if that API is stubbed out on Windows IOT arm32.

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=254185&view=ms.vss-test-web.build-test-results-tab&runId=6627138&resultId=102067&paneView=debug

cc @joperezr

[2019-07-07 16:34] vcsjones commented on #39265
Similar / related to https://github.com/dotnet/corefx/issues/38163. Perhaps that issue could be updated to say "non-public".

[2019-07-07 16:34] davidfowl commented on #39259
He filed it right after I did 😄

[2019-07-07 16:34] #39259 closed

[2019-07-07 18:16] jjxtra commented on #31017
It could be interesting to apply an attribute to a class, something that denotes that configure await false should be used, instead of true. This attribute could be applied to API classes, utility function classes, etc.

This would save adding the configure await false to all the await calls inside the class.

[2019-07-07 18:23] miyconst commented on #39225
Thanks @stephentoub, it works with `LANG=en-US.UTF-8`.

[2019-07-07 18:38] davidsh commented on #39260
According to [RFC 7231 Section 5.3.2](https://tools.ietf.org/html/rfc7231#section-5.3.2) the grammar for the 'Accept' request headers allows for whitespace characters after the semicolon ';'. Whitespace characters are defined by 'OWS' [RFC 7231 Section 3.2.3](https://tools.ietf.org/html/rfc7230#section-3.2.3).  'OW' is "optional whitespace" defined as zero or more occurances of a space character o

[2019-07-07 18:55] parxal commented on #39260
In this specific case is cabify api (uber similiar company) , but it's not the only one, there's more persons with same problem in stackoverflow :
https://stackoverflow.com/questions/40152607/httpclient-in-netcore-is-automatically-adding-a-space-in-header
https://stackoverflow.com/questions/45194549/httpclient-httprequestmessage-accept-header-parameters-cannot-have-spaces

You shoud have the optio

[2019-07-07 19:25] johnkellyoxford opened #39268 "Consider providing a `string.Create` method which accepts a ROS<T> or ROS<char> as state"
Currently, `string.Create` only accepts a generic `TState` as the state, which means `ReadOnlySpan<T>` and `Span<T>` can't be used as state. In situations where, for example, the state is a stackalloc'd buffer which can't be converted to a ROM<T>. It can be unpleasantly worked around with pinning and passing pointer and length manually, but it is ugly and clunky. It seems simple enough to add

[co

[2019-07-07 20:34] stephentoub commented on #38824
Failed again here:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39262~2Fmerge/test~2Ffunctional~2Fcli~2F~2F/20190707.4/workItem/System.Security.Cryptography.X509Certificates.Tests/wilogs
[code]
Maybe there's a dump available?

[2019-07-07 20:42] stephentoub opened #39269 "ApplicationException while trying to build corefx in WSL"
I keep hitting `ApplicationException` with the message `Object synchronization method was called from an unsynchronized block of code.` while trying to build corefx:
[code]
I'm not sure if the issue is with coreclr and Mutex (@kouvel), with Roslyn (@agocke), or somehow with my environment.

[2019-07-07 20:47] KathleenDollard commented on #31181
@paul1956 Got it. The link for that issues is [1122](https://github.com/dotnet/winforms/issues/1122)

[2019-07-07 20:48] agocke commented on #39269
I think this exception is coming from MSBuild, which makes means that if there's a problem with the communication between the compiler client (hosted in our MSBuild task) and the server (running separately). We use two significant pieces of CoreFX in the client server communication: named pipes and shared mutexes. Since neither of these primitives exist in Unix, I'd double check that they are know

[2019-07-07 21:13] stephentoub commented on #39269
I `git clean -xdf`d` and the issues went away.  I'd hit a missing a dependency issue initially, due to not having installed all of the required packages as detailed in the corefx build instructions; maybe that left behind some kind of state that caused subsequent build operations to fail?  I'll close this, regardless.

[2019-07-07 21:13] #39269 closed

[2019-07-07 21:26] stephentoub opened #39271 "ConnectTest.ConnectAsync_AddHostHeader_Success test failing on all platforms"
[code]
It's talking to the remote echo server, and it's getting back a 404.
https://github.com/dotnet/corefx/blob/b8a7f34e1b64e5c594f591aa8683f34506eb9736/src/System.Net.WebSockets.Client/tests/ConnectTest.cs#L96

cc: @davidsh

[2019-07-07 21:27] KathleenDollard commented on #31181
Since this also affects C# and the WinForms team has decided to make that change, I won't worry about it, unless you think it creates a special problem for VB

[2019-07-07 21:37] davidsh commented on #39271
I suspect this is a transient Azure networking issue and not directly related to the remote endpoint itself.  There are no 404 errors that have been returned in the last 24 hours.
![image](https://user-images.githubusercontent.com/7684835/60774137-b27bc200-a0c4-11e9-9d46-6d2413717a80.png)

[2019-07-07 21:39] stephentoub commented on #39271
I don't think it's transient.  I've been hitting this every time I run locally for the last hour, and I hit it every outerloop run I did in CI yesterday and the day before.

[2019-07-07 21:40] davidsh commented on #39271
Well, it still probably is an Azure infrastructure issue that we don't have any control over.

[2019-07-07 21:42] davidsh commented on #39271
Otherwise it an error with our client-side networking and perhaps the uri being used has been malformed in some way. We would need to get a network trace and see exactly what the test is sending on the network.

[2019-07-07 21:47] stephentoub commented on #39271
@davidsh, this is trivial to repro, on both .NET Framework and .NET Core:
[code]

[2019-07-07 21:52] davidsh commented on #39271
Is this a new test? If not, did it used to work and now is broken?

Why would we expect this test to work? It is setting the host header to a subdomain of the actual site. So, I would expect the endpoint to return a 404 actually.

I think the problem might be due to the fact that the Azure remote endpoint is running on Azure App Service.  Several months ago it used to run on a different endpoint h

[2019-07-07 21:54] stephentoub commented on #39271
No.

Yes.  It was added over two years ago.
https://github.com/dotnet/corefx/commit/17473cbb1a33c1851bbfdd5083ae0d25bd7e553f

[2019-07-07 21:56] davidsh commented on #39271
Website endpoints can be configured to use 'Host' headers to redirect to different websites. That is how a lot of ISPs work because it enables multiple websites to be hosted on a single IP address.

Azure App Service has a front-end to it and I think it has been changed to interpret 'Host' headers now. We didn't make any specific config changes lately to this remote endpoint.

[2019-07-07 22:01] stephentoub commented on #24525
Again here on macOS:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39270~2Fmerge/test~2Ffunctional~2Fcli~2F~2F/20190707.16/workItem/System.Drawing.Common.Tests/wilogs
[code]

[2019-07-07 22:01] tarekgh commented on #39225
Closing the issue as we already addressed it as @stephentoub pointed out and there is a workaround too.

[2019-07-07 22:01] #39225 closed

[2019-07-07 22:01] davidsh commented on #39271
This is the current "Custom Domains" configuration for the endpoint. It doesn't  have any listing other than the main domain. So, I'm surprised this test ever worked once #36018 was merged.

![image](https://user-images.githubusercontent.com/7684835/60774383-22d81280-a0c8-11e9-89dd-5c884e7356fd.png)

Perhaps Azure has made some changes recently to enforce the proper 'Host' name mapping.

[2019-07-07 22:04] davidsh commented on #39271
I recommend we move this test to a loopback server test where we verify things more easily. This test really only needs to verify that the 'Host' request header is properly sent to the server.

[2019-07-07 22:09] stephentoub commented on #37701
@anurse, is someone working on this?  It's a breaking change to APIs added in .NET Core 3.0, right?

[2019-07-07 22:10] stephentoub commented on #31032
All tests pass for me:
[code]

[2019-07-07 22:11] stephentoub commented on #31032
I'm going to close this.  If there's an actual issue here, please re-open.

[2019-07-07 22:12] Marusyk commented on #39208
just rename?
please assign it to me

[2019-07-07 22:12] davidfowl commented on #37701
This is already done.

[2019-07-07 22:13] stephentoub commented on #37701
So the issue can be closed?  Even better.

[2019-07-07 22:13] #37701 closed

[2019-07-07 23:30] SimonCropp commented on #6204
as a first step, could the code for MSMQ be released as open source?

[2019-07-07 23:53] danmosemsft commented on #24333
For what it's worth, here's my results (on Ubuntu) using the benchmark at the top of this issue, targeting 2.2 and with the compile flag switched back on (it looks like they removed it).

[code]
As mentioned above, it's best not to read too much into this given this is a simple benchmark. But it's clear there is plenty of scope for improvement.

[2019-07-08 00:26] stephentoub commented on #39208
Or CamelCaseJsonNamingPolicy?

[2019-07-08 00:52] danmosemsft commented on #24333
Perhaps we can allow other engines to be plugged in to the existing S.T.RE API, so that existing code could run with little or no modification. This is an approach that has been used in Perl: one can plug in PCRE or RE2 using `re::engine::PCRE` and `re::engine::RE2` without otherwise changing code (apparently).

As noted above many "everyday" patterns would have much the same semantics in differen

[2019-07-08 03:00] #39204 closed

[2019-07-08 04:42] Thealexbarney opened #39274 "Support FAT file attributes on non-Windows platforms"
.NET Core currently does not support getting or setting [many file attributes](https://docs.microsoft.com/en-us/dotnet/api/system.io.fileattributes?view=netcore-2.2#remarks) in FAT filesystems on non-Windows platforms..

There is [a syscall](http://man7.org/linux/man-pages/man2/ioctl_fat.2.html) in Linux that allow reading and writing FAT attributes.  As these attributes are filesystem-specific, t

[2019-07-08 06:25] iSazonov commented on #24333
@danmosemsft Could you please share more information about your tests? Is it for Ordinal or OrdinalIgnorecase?

Re Utf8. I made an experiment and did not get a perf win in file read scenario. I guess it is because file reading is more slow than transcoding UTF8 to UTF16. I guess we will see more perf win in in-memory-only scenario.

Re design. Main question is should we implement plugin model or s

[2019-07-08 06:37] timerickson opened #39276 "gzipstream throws InvalidDataException on specific string"
When decompressing the compressed value of a certain string -- `EdisMax2` -- via GzipStream on netcore2.2 on macOS Sierra there is a `System.IO.InvalidDataException: "The archive entry was compressed using an unsupported compression method."`

Simply changing the value to `EDisMax2` fixes the behavior. I was going to try debugging this myself but am unable to build corefx on my mac due to openssl

[2019-07-08 07:13] valeriob commented on #6204
@DamianEdwards told at ndc that no other api will come to dotnet core after 3.x so we definitely need an answer on this topic, pretty please ( https://youtu.be/uuc3MjigHSg?t=2850 ).

Regarting Nservicebus, I've tried to implement an msmq netstandard transport starting from this code https://github.com/krazure/Experimental.System.Messaging and i noticed that the missing bits are about code security

[2019-07-08 08:07] Symbai opened #39277 "Request: System.Text.Json Serialization with Opt-In"
Similar to https://www.newtonsoft.com/json/help/html/JsonObjectAttributeOptIn.htm an option to serialize only specific properties would be very useful. Especially if the amount of properties to include are less than the properties to exclude.

For example I have one base class `Animal` where lots of animal type classes inherits from: `Cat, Dog, Horse, Monkey, ...` (and imagine https://github.com/d

[2019-07-08 08:16] Symbai commented on #38650
@steveharter The new custom converter feature cannot be used to handle polymorphic (de)serialization in some cases as, unless I'm missing something, because all properties have to be deserialized by hand / code. Which is not an option for maintainability when you have classes with more than two properties. See https://github.com/dotnet/corefx/issues/39031

If there however would be a way to serial

[2019-07-08 08:48] paul1956 commented on #31181
@KathleenDollard As I said I actually agree with the change, but is should be highlighted otherwise others will go through what I did trying to figure out why my apps looked differently and things didn't fit and controls blocked other controls. Because VB doesn't have the designer I thought I had no way to fix the issues. For me the easy solution was to set the Fonts in my Framework version, assig

[2019-07-08 09:39] roji commented on #36129
These don't seem to have been added to .NET Standard 2.1 yet, making it difficult for libraries to report them (the rest of EventSource and friends are there). Any plans on making that happen?

/cc @terrajobst

[2019-07-08 10:04] tmds opened #39278 "Q: how to patch CorLib on released sdk"
I'm trying to patch the released `3.0.100-preview6-012264` sdk with some corefx changes.
I've downloaded the sdk from https://dotnet.microsoft.com/download.
Then checked out the corefx repo at the `v3.0.0-preview6` tag.

Made some small changes:
[code]
Then `./build.sh -c Release` and copy over files:
[code]
Now run a console app:
[code]
outputs:
[code]
It seems the changes from `System.Net.Socket

[2019-07-08 10:52] sywhang commented on #36129
Hi @oleh-zheleznyak, you should be able to compute something like % cache hits with the new counter APIs. The runtime already does it for metrics like % CPU load and % time in GC using `PollingCounter`. As described in the API proposal above, you can pass in a callback function to the constructor that gives the value it should poll for at the interval requested and it should compute the value usin

[2019-07-08 10:55] keith-hall commented on #24333
@iSazonov GitHub gives me a "page not found" error when trying to follow the link to view your C# port of tiny-regex-c - maybe the repo is private atm?

[2019-07-08 11:40] EgorBo commented on #39278
corefx doesn't build System.Private.CoreLib, you need to build coreclr for it.

[2019-07-08 11:43] roji commented on #36129
@sywhang great, should have looked...! I'm guessing we can expect this to go in for preview8 then.

[2019-07-08 11:50] iSazonov commented on #24333
Sorry, fixed.

[2019-07-08 12:51] mholo65 commented on #39067
@JeremyKuhne I tried running tests from your PR branch (#39187), but I am still seeing the same issues.

[2019-07-08 13:01] #39208 closed

[2019-07-08 13:16] stephentoub commented on #39278
@egorbo is correct. That corelib folder is just some of corelib source that's mirrored to corefx, but not all of it, and corefx doesn't build corelib.

[2019-07-08 13:16] #39278 closed

[2019-07-08 13:25] tmds commented on #39278
Thanks. I've successfully patched the sdk from the coreclr build.

[2019-07-08 13:50] vcsjones commented on #39276
There are some things you need to do to get corefx building on macOS w.r.t. OpenSSL documented [here][1]. If you are on macOS Catalina beta, there are known issues at #39114 with work arounds. If you are unable to get it building, please file a new issue with build output so folks can help.

[1]: https://github.com/dotnet/corefx/blob/master/Documentation/building/unix-instructions.md#macos

[2019-07-08 14:47] stephentoub commented on #37984
@terrajobst, what option does this refer to?

[2019-07-08 14:56] GRdevOps commented on #24843
@jchannon would it be possible to publish your library so I can pull it in with NuGet?

[2019-07-08 14:59] jchannon commented on #24843
I don't see why not, will speak to @mikeh688 about it

[2019-07-08 15:02] GRdevOps commented on #24843
That would be awesome and greatly appreciated

[2019-07-08 15:40] ADIX7 commented on #39065
Any info on this?

[2019-07-08 15:54] stephentoub commented on #39276
This isn't an issue with GZipStream.  Your repro is trying to use Encoding.Unicode.GetString to create a string from the compressed bytes, and then Encoding.Unicode.GetBytes to roundtrip back from that string to the compressed bytes.  That will not roundtrip as you expect, and as such you're trying to decompress invalid data.

If you replace the:
[code]
var gzippedBytes = encoding.GetBytes(value);

[2019-07-08 15:54] #39276 closed

[2019-07-08 15:55] mikeh688 commented on #24843
sure. we've just found and fixed an issue with extended characters we introduced during a brief flirtation with mono.

[2019-07-08 15:56] stephentoub commented on #39265
Dup of https://github.com/dotnet/corefx/issues/38163

[2019-07-08 15:56] #39265 closed

[2019-07-08 15:57] ericstj commented on #39153
@ViktorHofer do you imagine there's a concurrent restore going on here?  What this smells like is a simultaneous restore of two different project evaluations that use the same path.  Given our custom configuration system and the differences in behaviors for our external projects vs test projects I think this deserves a first look by us.

[2019-07-08 16:00] stephentoub commented on #39226
cc: @tarekgh

[2019-07-08 16:04] tarekgh commented on #39226
I'll take a look.

@stephentoub usually DateTime stuff belongs to System.Runtime and not Globalization.

[2019-07-08 16:05] stephentoub commented on #39218
This looks external to .NET.  The repro fails in the same manner on .NET Framework, and the error is coming back from Windows.

[2019-07-08 16:12] tarekgh commented on #39226
@kewinbrand could you please share the following information from your machine?

The environment variable if it is defined:

[code]

The following files if it exist:

[code]

[2019-07-08 16:24] timerickson commented on #39276
Yup - figured it was the simpler answer but was confused that a test was passing using Encoding strategy. Thanks and sorry for the bad q... And thanks for the heads-up on how to compile the code....

[2019-07-08 16:44] davidsh commented on #38559
@stephentoub Can you please summarize where we are on this issue?  Is this something required for .NET Core 3.0? We're locking down soon. Will there be a PR soon to implement the desired solution?

[2019-07-08 16:46] stephentoub commented on #37984
Also from https://github.com/dotnet/corefx/pull/39286:
- Why is this just about bufferSize and not about other int options?
- Why use -1 rather than nullable?

[2019-07-08 16:50] tarekgh commented on #39214
@nicoxiang Alpine image ship with non full Globalization support which is called [Invariant Globalization mode](https://github.com/dotnet/corefx/blob/master/Documentation/architecture/globalization-invariant-mode.md). That is is the limitation on that image to keep the image size as small as possible.

If you want to have full globalization support, you'll need to remove the environment variable `

[2019-07-08 16:50] #39214 closed

[2019-07-08 16:52] tannergooding commented on #37984
Because buffer sizes are something we already handle in other APIs as something we want to be able to freely change in the future.

Because `-1` is what we already use in other APIs to represent the same. It is also cheaper than nullable to use.

[2019-07-08 16:53] tannergooding commented on #37984
Anything else could be reviewed separately and independently and may not have pre-existing usages in other places in the framework.

[2019-07-08 16:54] JeremyKuhne commented on #39067
Interesting. I wonder what the difference is? I set myself to UTC + 1 and didn't have a problem.

[2019-07-08 16:55] tannergooding commented on #37984
Also, at the time I opened the issue, the API surface was fairly different. I don't believe several of the other options existed or were exposed in the same places yet.

I don't think we should be blocking this change (which also has prior art) on the other bits. Instead, we should be having separate API reviews to cover anything additional that had changed since this proposal went up that might a

[2019-07-08 16:57] stephentoub commented on #37984
There are other such APIs here, e.g. minimumSegmentSize, pauseWriterThreshold, etc. I don't see how something like minimumBufferSize is more relevant.

To which are you referring?  Weren't most/all of them created before nullable existed?

There is no way additional overhead of using nullable here is going to be measurable/impactful in the overall context.

Today the API is consistent: the paramet

[2019-07-08 17:02] tannergooding commented on #37984
I have no clue. Today, APIs use `-1` or `0` for the most part. `-1` generally makes more sense because it is invalid and can never be valid outside being some token for `default`. `0` could be valid for multiple contexts, including not wanting any buffering. Continuing to use `-1` is consistent with our existing patterns.

It looks like there is one parameter (`StreamPipeReaderOptions.MinimumReadS

[2019-07-08 17:05] stephentoub commented on #37984
Can you share some examples where -1 is used as the default value for an optional parameter buffer size?

No, also all the ones on PipeOptions (which is explicitly called out as part of the approval): minimumSegmentSize, pauseWriterThreshold, resumeWriterThreshold.

[2019-07-08 17:08] kewinbrand commented on #39226
`printenv TZDIR`
No output.

`/etc/localtime`
Exists and seems to be a binary file.

`/usr/share/zoneinfo/localtime`
Does not exists

I think it's worth remembering that my sample code was tested as a docker image and this was run on the host.

[2019-07-08 17:08] #39041 closed

[2019-07-08 17:09] ericstj commented on #39237
/cc @steveharter

[2019-07-08 17:11] danmosemsft commented on #39152
I'd like others in the community to weigh in on whether this is a common enough use case. I don't think I've seen such a request on `Array.BinarySearch`.

[2019-07-08 17:15] anilpras commented on #37044
For us having exact issue symptoms isolated due to the application code.

[2019-07-08 17:16] stephentoub commented on #38559
Nowhere.  Various approaches have been suggested, all with potential downsides.

I've not heard anything to suggest that it is.

[2019-07-08 17:18] stephentoub commented on #39216
This looks to me like a Windows issue.  `GetServiceDisplayName` is saying it can't find the service by the very localized display name it previously handed back.

[2019-07-08 17:19] tannergooding commented on #37984
`StreamReader` and `StreamWriter` are the two that immediately come to mind. I really don't care if it is nullable or `-1`, we just shouldn't be hardcoding the value as that prevents us from impacting existing apps that are targeting newer versions of the framework (without them recompiling) if we determine that the current defaults are no longer representative (and buffer size defaults are someth

[2019-07-08 17:20] Anipik opened #39288 "PerformanceCategoryCounter.GetInstanceNames() not returning correct output for some V2 performance Counters"
.Net uses Registry apis to get the list of performance counters and their properties.
We generally retrieve a byte array and then we parse it to get the values of all the desired data.

The windows performance counter belongs to 2 categories i.e V1 and V2 (Generally contain performance counters added after windows vista)

.Net code works perfectly fine with the V1 counterset  but is not so reliabl

[2019-07-08 17:21] danmosemsft commented on #39216
@tarekgh is there a difference in how es-ES is enabled (the one in our CI) and cs-CZ here? Eg., one is a full edition and one is a language pack? Maybe that accounts for the difference?

[2019-07-08 17:24] geoffkizer commented on #38559
The concern here would be about locking us in to 3.0 behavior. In particular, could we implement something like

in the future, without breaking customers? I think the answer here is yes, because it's not really reasonable to expect duplex behavior without ResponseHeadersRead.

[2019-07-08 17:26] ViktorHofer commented on #39153
We just talked about this in our standup. This only happens if dotnet instances are still running in the background when doing a clean build. The leftover dotnet instances are locking that file in the temp directory but I haven't yet found out why they do so. I quickly glanced over https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.ProjectModel/DependencyGraphSpec.cs but I couldn'

[2019-07-08 17:26] danmosemsft commented on #39288
Is this worth reporting to Windows, since it seems they are trying to be compatible but not doing so? If so Tarek can show how to do that.

[2019-07-08 17:27] TylerLeonhardt commented on #25036
Also, I’m happy to reopen this in a new issue if it makes sense. I know replying to old issues sometimes get lost in the incoming new issues.

[2019-07-08 17:30] Anipik commented on #39288
I talked with Doug(handles all the performance counter stuff) on the windows team. They are happy to help if there is any bug with the windows api but we first need to confirm that we are parsing it correctly (Same parsing works for other v2 countersets) and give them a repro with just the windows registry apis (Without the .Net Wrapper)

[2019-07-08 17:31] JeremyKuhne commented on #39248
Hmm. We'll have to unseal `JsonStringEnumConverter` or make `CreateConverter()` public. @steveharter what do you think?

[2019-07-08 17:45] tarekgh commented on #39226
@kewinbrand  looks to me you the docker image is configured with the UTC time zone. did you try to reset the time zone there? https://ma.ttias.be/changing-the-time-and-timezone-settings-on-centos-or-rhel/

[2019-07-08 17:50] stephentoub commented on #39198
Closing as dup of #30114. Suggestions on shape for if/when the API is exposed can be made there. Thanks.

[2019-07-08 17:50] #39198 closed

[2019-07-08 17:51] tarekgh commented on #39216
I wouldn't be surprised if this is Windows issue. https://github.com/dotnet/corefx/issues/39177 was Windows issue too. I'll try to take a look to understand what is going on.

[2019-07-08 17:51] maryamariyan commented on #39216
In the region settings:
- I changed country or region to "Czech Republic"
- Regional Format to "Czech (Czechia)"
- Under Region > Administrative > Change System Locale > set to Czech (Czechia)
- Did a PC restart
- Set language preferences to Czech

(probably not all of the above needed)
Didn't get a repro.
The application names are still in english but things like the calendar are showing up in Cz

[2019-07-08 17:53] tarekgh commented on #39216
@maryamariyan I think you need to keep the default UI locale to en-US. I'll take a look and report back.

[2019-07-08 17:54] stephentoub commented on #39201
There's no existing such Concat today for bytes. There'd need to be a very compelling use case, highlighting that it's a common enough operation to warrant such a helper in the core libraries (anyone can implement this on their own). With spans generally used in situations where developers are trying to avoid allocations, I suspect such an API that explicitly allocated a new array wouldn't be part

[2019-07-08 17:59] stephentoub commented on #39216
I installed the French language pack from the Windows Store, made it my default, logged out and in, and then the tests similarly started failing, which is how I debugged down to the Windows call.

[2019-07-08 18:03] Anipik opened #39289 "Some Performance Counter Categories doesnot get instantiated properly"
[code]

This happens because .NET apis can only enumerate the counters which have an active instance running. Hence, if we try looking for a counter with no active instances in this list, we will get an exception.
pdh and perfmon return the entire list of available counters.
The same thing occurs with "HTTP URL SERVICE GROUPS"

Related Issue https://github.com/dotnet/corefx/issues/39288

cc @danmo

[2019-07-08 18:42] IGMikeS opened #39296 "Double.TryParse succeeds and returns an incorrect value for strings in scientific notation that exceed the bounds of a double."
.NET Core Version: Version: 3.0.100-preview6-012264 - I think. VS2019 apparently hides the NetCore packages, now, so I am not 100% sure.
Have you experienced this same bug with .NET Framework?: No

Run the following code:
            var text = "123e466";
            var provider = new CultureInfo("en-US");
            double value;

            var success = Double.TryParse(
                text,

[2019-07-08 18:50] VincentBu opened #39290 "Test failed: System.Resources.Extensions.Tests.PreserializedResourceWriterTests"
**Job:**
https://mc.dot.net/#/user/coreclr-corefx-jitstressregs/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcorefx~2F/20190707.1/workItem/System.Resources.Extensions.Tests/analysis/xunit/System.Resources.Extensions.Tests.PreserializedResourceWriterTests~2FStreamResources

**Failed tests:**
System.Resources.Extensions.Tests.PreserializedResourceWriterTests

**Log:**
[code]

[2019-07-08 19:08] Daniel15 commented on #33179
So what's the proper fix here? Does a released version of 2.1 or 2.2 have this fix?

[2019-07-08 19:11] JustArchi commented on #33179
`CLR_OPENSSL_VERSION_OVERRIDE=1.1` is the most appropriate workaround for net core 2.2.

[2019-07-08 19:32] Symbai commented on #39201
Why does ToArray() exists then? Isn't that allocating a new array? Wouldn't it be nice if we could merge multiple spans into a new array allocating just once instead of calling ToArray over and over again? Since, you said it yourself, spans is there to avoid allocations. And my request is about avoiding additional allocation.

When we have something that does that with span of char, which is great

[2019-07-08 19:41] geoffkizer opened #39293 "WinHttpHandler: setting TransferEncodingChunked = true causes request to be downgraded to HTTP/1.1"
With SocketsHttpHandler, we just ignore TransferEncodingChunked on HTTP2 requests. WinHttpHandler, by contrast, seems to downgrade to HTTP/1.1 in this case.

You can see this by running the PostUsingChunkedEncoding_Success test with WinHttpHandler and setting the DefaultRequestVersion = 2.0.

[2019-07-08 19:43] stephentoub commented on #39201
Primarily for interop with APIs that require arrays.

But for such perf-sensitive situations, you wouldn't want to allocate an array at all, e.g.
[code]

[2019-07-08 19:44] davidsh commented on #39293
WinHttpHandler is letting native WinHTTP do that. It simply passes on the Transfer-Encoding: chunked request headers (along with other request headers).

Is this issue suggesting we should make a change to WinHttpHandler to actively strip-off the 'Transfer-Encoding: chunked' header if the HttpRequestMessage.Version is set to (2,0)?

[2019-07-08 19:52] gdalsnes commented on #22806
"no one" seems to be following the RFC's thou:-)
Here is a hack:

[code]

[2019-07-08 19:53] geoffkizer commented on #39293
Maybe we don't need to do anything here. But the behavior is different than SocketsHttpHandler, and that at least seems worth understanding.

Looking at this further, the case that worries me more is the PostUsingNoSpecifiedSemantics_UsesChunkedSemantics case, which is also downgrading to HTTP/1.1. We're not setting TransferEncodingChunked here. We're just relying on the handler to choose the righ

[2019-07-08 19:57] mthalman opened #39294 "RID for Alpine 3.10"
Alpine 3.10 has been released so there should be RID support for it: https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json.

[2019-07-08 19:58] davidsh commented on #39293
The test is verifying that in cases where no semantics are specific for request body upload (i.e. no 'Content-Length' nor 'Transfer-Encoding'), then chunked is used. But that logic was invented before HTTP/2.0 came along.

So, probably, we need to update the handlers (all of them) to include HTTP/2.0 in the logic. So, if using HTTP/2.0 (HttpRequestMessage.Version = (2,0)) then, "no specified seman

[2019-07-08 20:02] geoffkizer commented on #39293
As far as I can tell, it's actually not verifying anything about *how* the body is sent, it's just verifying that it was sent correctly.

But yeah, it seems worth understanding why WinHttpHandler is using HTTP/1.1 here.

[2019-07-08 20:14] Symbai commented on #39201
In your case the lifetime of this array is short and it would be needed once and in that case, I wouldn't basically have to allocate an array at all, as you said. But in all other cases I have to. In the case where the lifetime of the array would exceed the lifetime of the span.

For example you are reading a large file, let's say 2GB, and slicing out a few pieces and then merge them together into

[2019-07-08 20:18] stephentoub commented on #39201
Sure.  It can also be implemented in your code or in some library you use in a few lines:
[code]
My point is that we don't add all such helpers to the core libraries.  They need to rise to a certain level of usefulness before we consider it.  We also prefer not to add APIs that cause developers to fall into a pit of performance failure (even if they're necessary or valid in some niche scenarios).

[2019-07-08 20:21] geoffkizer opened #39295 "HTTP2: Incorrect exception thrown when attempting to resend non-rewindable content"
See SocketsHttpHandler_PostScenarioTest.PostNonRewindableContentUsingAuth_NoPreAuthenticate_ThrowsHttpRequestException with HTTP2

This is throwing an InvalidOperationException, when it should be throwing an HttpRequestException with an inner exception of type InvalidOperationException.

[2019-07-08 20:29] danmosemsft commented on #39296
@tannergooding

[2019-07-08 20:35] stephentoub commented on #39192
FWIW, I found @BratWiekszy's repro helpful, and I agree it's a little unintuitive that we're invoking callbacks from within the query after the enumerator is disposed.  However, I also agree it's a very unusual use case, where a predicate depends on state that's mutated by the enumerator's dispose, and I believe we should reserve the flexibility to order execution in this manner, just as we reserv

[2019-07-08 20:36] mthalman commented on #35956
@bartonjs - When will that fix be ported to 2.x?

[2019-07-08 20:38] tannergooding commented on #39296
This was updated to be IEEE 754 compliant for .NET Core 3.0. The correct behavior is that values are parsed to the "infinitely precise" value and then rounded to the "nearest representable" result (which in this case is `Infinity`).

The new behavior is correct, compliant, and expected.

[2019-07-08 20:44] bartonjs commented on #33179
`CLR_OPENSSL_VERSION_OVERRIDE=1.1` on 2.2.4+ (or 2.1.10+)

[2019-07-08 20:50] maryamariyan commented on #39216
Confirmed, had to install the language pack. It was the windows display language that needed to change to get the repro, as you said logged out as well.

[2019-07-08 20:50] ericstj commented on #39294
@bartonjs @wfurt do we support Alpine 3.10?

I believe we typically service for this sort of thing so that would mean we should take this for 3.0.

[2019-07-08 20:55] bartonjs commented on #39294
Yep, it's a new version of a supported distro.  There are some other changes that need to be ported over (macOS 10.15, RHEL 8.1).  I'll do this today.

[2019-07-08 21:10] JeremyKuhne commented on #38568
@NimaAra I've added a scenario test example at https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/tests/Serialization/ReadScenarioTests.cs#L17 that you can reference on how to do this.

`Uri` works now out of the box. You can plug in the built-in "JsonStringEnumConverter" to get the enum as string parsing. For `DateTime` you can make a more lenient converter pretty easily. All of th

[2019-07-08 21:10] #38568 closed

[2019-07-08 21:12] mholo65 commented on #39067
Weird, well, here's my settings:
![image](https://user-images.githubusercontent.com/7863439/60842995-1a71fb80-a1de-11e9-9202-0002d98923d7.png)

![image](https://user-images.githubusercontent.com/7863439/60842884-e696d600-a1dd-11e9-8dfc-e73ae83ad2cf.png)

Let me know if you'd like me to debug anything.

[2019-07-08 21:12] tarekgh commented on #39216
I am noticing something very interesting:

the test code
[code]

When I run this code on the machine with the installed Czech language and using corefx repo compiled bits, I am seeing the failure.

If I create a standalone net core app and run the exact code (with doing Console.WriteLine instead of assert), I am not getting the thrown exception. ServiceName would be  empty string though. Also, in

[2019-07-08 21:29] scalablecory opened #39298 "HTTP2: Add functional test for multiple outstanding settings frames"
HTTP2 allows multiple settings frames be outstanding, each one getting its own ACK. We should test that SocketsHttpHandler handles this.

[2019-07-08 21:30] JeremyKuhne commented on #39274
I have no problems with this conceptually if someone wants to try to prototype an implementation.

[2019-07-08 21:30] bartonjs commented on #35956
@mthalman Thanks for the poke.  I've opened the PR for the change in 2.1 (#39297).  I don't suppose you have a way of ingesting it early for testing to see if the problem goes away?

[2019-07-08 21:32] richlander commented on #35956
What is your thinking on 2.2?

[2019-07-08 21:33] bartonjs commented on #35956
@richlander A 2.1 fix will automatically flow to 2.2

[2019-07-08 21:34] JeremyKuhne commented on #39048
I'm creating the fix now.

[2019-07-08 21:36] JeremyKuhne commented on #39067
@layomia can you try to repro this as well once #39187 goes in?

[2019-07-08 21:49] JeremyKuhne commented on #39248
@rynowak Do you have any feedback on making `CreateConverter()` public?

[2019-07-08 21:58] rynowak commented on #39248
Wouldn't it be a more natural change in this case to unseal?

[2019-07-08 22:05] JeremyKuhne commented on #39248
Not saying that we can't unseal, but that has implications for performance and the ability to make changes in the future that might break derived implementations.

Independent of that, with the current protected API you cannot compose existing converter factories (ours or others) unless they are all unsealed.

[2019-07-08 22:35] danmosemsft commented on #39296
I'm going to close this @IGMikeS . Feel free to reopen if you have more questions.

[2019-07-08 22:35] #39296 closed

[2019-07-08 23:01] tarekgh commented on #39216
I have confirmed through the native Windows API calls, calling GetServiceKeyNameW and passing the display name returned from GetServiceDisplayNameW is failing. What I couldn't confirm from the docs if GetServiceKeyNameW support the input localized display name. I guess it should. So, we may send this issue to Windows team.

What is still not clear to me, when looking at the code, doing

[2019-07-08 23:02] layomia commented on #39207
cc @steveharter, @pranavkm, @rynowak, @ahsonkhan

[2019-07-08 23:12] #38821 closed

[2019-07-08 23:23] terrajobst opened #39304 "System.Text.Json usability study results"
We've performed a usability study on the new `System.Text.Json` APIs which will replace JSON.NET as the default JSON experience in .NET Core 3.0:

* We focused on the primary "getting started" scenarios to validate that we picked the right type- and method names.
* We simulated what we believe to be common error cases to validate that our exception messages are understandable and actionable.
* Sin

[2019-07-08 23:26] davidsh commented on #39293
WinHttpHandler leaves the 'Transfer-Encoding: chunked' request as-is. WinHttpHandler also sets specific WinHTTP settings when HttpRequestMessage.Version = (2,0).  It's very possible that native WinHTTP is detecting the presence of the 'Transfer-Encoding: chunked' request header and simply then igoring the HTTP/2.0 request version. That would be a WinHTTP behavior we have no control over.

The real

[2019-07-09 00:04] JeremyKuhne opened #39307 "Make JsonConverterFactory.CreateConverter public."
Factory based converters can't be composed into other converters as the `CreateConverter` API isn't public. To build on existing converters they have to be unsealed, which isn't always desirable.

See #39248 where a customer wants to provide custom behavior for string enum parsing.

[code]

We can also consider unsealing `JsonStringEnumConverter` at the cost of perf and future improvements.

cc: @

[2019-07-09 00:11] JeremyKuhne opened #39308 "Make Microsoft.Win32.SystemEvents static"
This is a holdover "static like class" from pre .NET 2.0 that wasn't made static.

Current:

[code]

Proposed:

[code]

[2019-07-09 00:56] rynowak commented on #39248
OK. I don't really have any concerns. I think the idea to have this be protected was always about the expected usage. If we expect to compost converter factories then that sounds right to make public.

[2019-07-09 01:06] tarekgh commented on #39226
I pulled the docker image https://registry.centos.org/dotnet/dotnet-22-runtime-centos7/latest and checked the time zone settings and I confirmed it is by default using UTC.

[code]

You'll need to change the time zone on the docker container to get the desired results.

[2019-07-09 01:06] #39226 closed

[2019-07-09 01:08] manigandham commented on #39304
Glad to see the progress. Didn't know till now that F1 goes to the docs page for the type that's actually under the cursor. F12 is probably used more because it's easier to dig through the code, especially for 3rd party libraries.

[2019-07-09 01:16] benaadams commented on #39304
Object Browser is good; however the usability to get to it is hard. You have to open it and then type in and search for the class or method. Am sure in a previous version of VS there was a right-click option that took you directly to it. It would good if this returned as object browser gives the most context and holistic overview.

[2019-07-09 01:22] davidfowl opened #39310 "DefaultPipeWriter and DefaultPipeReader should suport (short token)"
The token can be used to block concurrent reads and writes using the token (as we as other general misuse). We should update the Pipe to support this.

[2019-07-09 02:24] crozone commented on #39304
F1 goes to the docs page for known types??? I've been using VS for like *10 years* and didn't know this. I always thought it just went to the generic VS help page.

Also I get why everyone used F12 to view the API, Alt-F12 "Peek" works wonders too. Reading method signatures with doc strings is usually the easiest and fastest way to tell exactly what a library expects. Intellisense is fine, but it

[2019-07-09 02:26] stephentoub commented on #39310
While this won't catch every misuse, it's proven to be really helpful in flagging most in APIs that take advantage of it, e.g. Channels, async enumerables (which get it via ManualResetValueTaskSourceCore that uses it), HttpClient's HTTP2 implementation, etc.  I agree we should update Pipe to utilize it.

[2019-07-09 03:05] #39048 closed

[2019-07-09 03:15] bartonjs commented on #39294
Fixed by #39300 (3.0 and master).
Also: #39302 and #39303 (2.1, 2.2, respectively)

[2019-07-09 03:15] #39294 closed

[2019-07-09 04:07] #29458 closed

[2019-07-09 04:11] stephentoub commented on #27963
@JeremyKuhne, are the failures here only UWP?  I see you added a "test-run-core" label, so presumably not?

[2019-07-09 04:13] stephentoub commented on #35341
Is this still being worked on for 3.0?  Is the perf issue here unique to .NET Core, or is it similar for .NET Framework?  Is it a regression from .NET Core 2.2?

[2019-07-09 04:14] stephentoub commented on #37692
@divega, is this still for 3.0?

[2019-07-09 04:16] stephentoub commented on #39049
@geoffkizer, are you ok with the status quo / closing this?

[2019-07-09 04:42] divega commented on #37692
@stephentoub I don’t know. Let’s ask @david-engel. Is the test still disabled or failing?

[2019-07-09 04:47] divega commented on #35341
I think we should move to future. @ajcvickers, @roji, thoughts?

[2019-07-09 05:20] JeremyKuhne commented on #27963
I saw it on UWP in #37718, but I think I saw it in other pulls. I'm not 100% sure- gotta write it down. :(

[2019-07-09 06:58] davidfowl opened #39313 "API Proposal: Setting to disable overlapping Timer callbacks"
By default timer callbacks are queued to the thread pool and not waited on. This results in potentially overlapping timer callbacks firing (which can be problematic when code doesn't expect this). It seems like it would be extremely useful to have an option to disable this behavior (block overlapping calls to the callback).

It should be a constructor parameter but Timers already have 5 constructo

[2019-07-09 07:31] Robot1que commented on #39304
Any chance of getting YAML parser as a part of .NET Core?

[2019-07-09 07:52] ghord opened #39314 "Make Utf8JsonWriter.WriteNumberValue(ut8formattedNumber) public"
I have a use case where I want to copy exising ReadOnlySpan<byte> directly to Utf8JsonWriter as a number (it comes from Utf8JsonReader.ValueSpan). I don't want to deal with converting the value to some arbitrary number representation and then back.
Since there already is an internal api for writing raw bytes a a number it would be ideal for my use case. Can we make `Utf8JsonWriter.WriteNumberValue

[2019-07-09 08:00] tmds commented on #38354
We've hit an issue on the source-build .NET Core 3.0 preview 6 sdk. The generated `.deps.json` file now contains escaped `+` in the `sha265` properties. The xunit json parser had an issue parsing escape sequences (https://github.com/xunit/xunit/issues/1980) which causes the xunit tests to no longer work (https://github.com/microsoft/vstest/issues/2079).

So, users will either need to upgrade `xuni

[2019-07-09 08:03] jods4 commented on #39304
Just tried asp.net core 3.0 (w/ the new default JSON formatter), so here's a piece of feedback:

- Add support for serializing dynamic/expando objects.

I understand that you are not aiming for full compatibility with JSON.NET but I feel it's a scenario worth covering.

I created an OData endpoint and when the client sends a query with `$select` (i.e. a custom projection), the returned shape is an

[2019-07-09 08:10] jzarling opened #39316 "Preauthentication for Negotiate"
I'm wondering why the SocketsHttpHandler does not support preauthentication for the Negotiate protocol. I do not have deeper knowledge about the Kerberos implementation and therefore have no idea of how extensive it would be to support this feature.

I base my statement of it being unsupported on the comment in the [AuthenticationHelper.cs](https://github.com/dotnet/corefx/blob/master/src/System.N

[2019-07-09 08:59] roji commented on #35341
Agree, we're probably not going to have a bandwidth to take care of this for 3.0.

@stephentoub IIRC this isn't a regression from .NET Core 2.2, [the same issue exists there](https://github.com/dotnet/corefx/blob/v2.2.5/src/System.Data.Odbc/src/System/Data/Odbc/OdbcParameterCollectionHelper.cs#L320). [Same for .NET Framework](https://referencesource.microsoft.com/#System.Data/fx/src/Data/System/Da

[2019-07-09 09:18] kripergvg opened #39317 "Udp Socket.ReceiveFrom a lot of allocations for IPAdress"
At production server, I have a simple code
[code]

I call this code every millisecond. Recently I found out that almost 40% of allocations from my application are from this code. And all of the allocations are only 3 primitives: SocketAddress, IPEndPoint, IPAdress. It seems wasteful. Maybe I do something wrong? Can I read data from the UDP socket without this allocations? Can I have managed UDP tr

[2019-07-09 10:05] stephentoub commented on #27963
I ask because the case involves culture, and this smells of the typical UWP issue where culture changes are global.

[2019-07-09 11:41] tmds commented on #39172
@ViktorHofer you can assign this to me. I won't work on it immediately, probably in a month or so.

[2019-07-09 11:55] MrB0nd commented on #39218
Where should I post this question then, can you suggest?

[2019-07-09 12:23] IoBes opened #39319 "SqlTransaction loosing connection on execution of SqlCommand.ExecuteNonQuery() with exception"
Tested with .NET 4.7.x and 4.8

In some cases SqlTransaction.Connection property is nulled on exception.
That's why it is not possible to make a call to Commit() or Rollback(), because
"This SqlTransaction has completed; it is no longer usable." exception is thrown.

To reproduce the issue please use my project

https://github.com/IoBes/NET_SqlTransaction_BUG

or use attached code

[NET_SqlTransac

[2019-07-09 12:33] JimBobSquarePants opened #39320 "System.Drawing incorrectly identifies PixelFormat in animated gifs"
If you decode an animated gif with System.Drawing the image `PixelFormat` property is incorrectly reported as `Format32bppArgb` instead of `Format8bppIndexed`.

This is tested on Windows 10 Pro build 1903 with Net 4.7.2

I've attached a zip file containing the following example code and accompanying images.

[SD_Gif_Test.zip](https://github.com/dotnet/corefx/files/3372933/SD_Gif_Test.zip)

Note: I

[2019-07-09 12:34] stephentoub commented on #39313
This is already possible. Developers do this just by creating non-repeating timers and then setting the timer to fire again in the callback:
[code]
This has several advantages.  First, it doesn't need any additional constructor (this is one of the reasons this constructor exists, passing the Timer instance into the callback so it can be manipulated).  Second, it allows for the non-overlapping piec

[2019-07-09 12:40] stephentoub commented on #39155
This is happening frequently now on all platforms.

[2019-07-09 12:54] IGMikeS commented on #39296
Okay, thanks for the info. :)

[2019-07-09 13:18] stephentoub opened #39322 "Code coverage of corelib taking a really long time and generating 404s"
I built corelib locally, then tried to do a coverage run of System.Threading.Tasks\tests.  It takes minutes after tests complete to produce a report, and spits out error messages like (why is it trying to access such uris?):
[code]
Subsequent attempts are faster but still spit out 404s.

cc: @ViktorHofer

[2019-07-09 13:59] davidsh commented on #39316
Preauthentication for Negotiate/Kerberos/NTLM schemes isn't strictly needed. Those schemes require connection affinity. Once a request on a connection has done the multi-legged challenge/response of these schemes, the connection is "authenticated". Additional HTTP requests to that server endpoint using the same connection will not be challenged for additional authentication despite not having any

[2019-07-09 14:13] ViktorHofer commented on #39322
Nothing changed here, it was always like that. The 404s are expected as those files aren't present in the repository but in the coverage result file. There's a cache that in ReportGenerator which should be by default 2-3 weeks so subsequent builds are much faster. If you don't want to use source Link for corelib

[2019-07-09 14:14] ViktorHofer commented on #39322
/p:CoverageSourceLink=false

[2019-07-09 14:24] stephentoub commented on #39322
Why isn't this the default? In what situation would I be using a locally built corelib and want source link?

[2019-07-09 14:27] krwq commented on #38618
one of the recent fixes must have fixed this, previously I was getting repro relatively frequently, now running for the last couple of days and no repro. Closing.

[2019-07-09 14:27] #38618 closed

[2019-07-09 14:31] GreatFireWall commented on #24895
2019 still no `application/x-www-form-urlencoded`.

[2019-07-09 15:27] ViktorHofer commented on #39322
How would infra know that you are using a local corelib when building an individual library? For that we would need to create a different path by ie adding a marker file. I didn't write the runtime binplacing logic so I don't know if something like that already exists.

[2019-07-09 15:28] ViktorHofer commented on #39322
Our do you need to pass in that override property when building an individual library as well?

[2019-07-09 15:38] IoBes commented on #39319
Tested with .NET Core 3.0 Preview 7

Same exception in both tests

[2019-07-09 16:10] jkotalik commented on #38156
@davidfowl is this still failing?

[2019-07-09 16:15] ViktorHofer commented on #39322
cc @ericstj

[2019-07-09 16:41] JeremyKuhne commented on #27963
As I didn't write down any other OSes and I'm not positive on my memory here I think it's fair to assume that I only saw in in UWP for now.

[2019-07-09 16:46] carlossanlop commented on #39324
Transferred from the dotnet/core repo.
CC'ing @wtgodbe, @krwq to assist with the question.

[2019-07-09 17:03] roji commented on #39319
@divega move to https://github.com/dotnet/sqlclient (we can get me permissions so I can do it myself...)

[2019-07-09 17:10] buyaa-n opened #39325 "JsonElement cannot write scientific number with decimal point"
[code]

[2019-07-09 17:10] ajcvickers commented on #27963
@danmosemsft Can you find somebody who is familiar with the CoreFx build and what might be going wrong here to help resolve this. I don't currently have any resources available to put on this.

[2019-07-09 17:22] vicrdguez commented on #39139
Im having troubles with the projects references since VS can't resolve any. Anywhere I can search about this problem? All the information I found doesn't help

[2019-07-09 17:24] terrajobst commented on #38362
Decision:

* Make the implementation virtual.
* Make the implementation a no-op
* Mark the API as `[Obsolete]`
* Apply the same to `PipeWriter.OnWriterCompleted`

@davidfowl, what should the message be for `PipeReader.OnReaderCompleted` and `PipeWriter.OnWriterCompleted`?

[2019-07-09 17:29] carlossanlop commented on #39326
@safern moved for easier tracking.

[2019-07-09 17:34] bartonjs commented on #39139
Are you getting those errors as red squiggles, or compiling is actually failing?  (IIRC we have a problem that's being worked on where the VS experience in corefx is broken-looking, but the compile succeeds)

[2019-07-09 17:34] terrajobst commented on #37984
Conclusion:

* Nullable would have been nice, but we can't change the type for some of the APIs (because they shipped) and we prefer consistency, so we're going with the sentinel value of `-1`.

[2019-07-09 17:46] vicrdguez commented on #39139
@bartonjs  I have the red squiggles when I load the project, anyways when compiling it fails. First its like the project doest find the target framework. I added <TargetFramework>netcoreapp3.0</TargetFramework> by hand in the csproj but then, the references errors appear

[2019-07-09 17:47] terrajobst commented on #39307
* Making the API public makes sense.
* However, it seems if the scenario is composition, we should pass in the `JsonSerializerOptions` so that someone implementing a converter for a generic type, can ask the options for getting a converter for its type arguments.

[2019-07-09 17:55] bartonjs commented on #39139
Did you run `build.cmd` (or build.sh) from the root before loading VS?

[2019-07-09 17:56] danmosemsft commented on #27963
It already uses RemoteExecutor (in fact I did it myself: 6ee8b75a000eec5b26f256b04902dc19a1db9d35) so the "UWP process wide culture" should not  be a problem and presumably it was some other issue. I see it occurred 3 times at the end of May then since then not at all since then (only in the UWP branch where doubtless it is missing this fix).

 Given that I'm going to close this rather than invest

[2019-07-09 17:56] #27963 closed

[2019-07-09 17:59] terrajobst commented on #39308
(You can use this issue for any class whether all public APIs are static, all constructors are private, and the type is sealed)

[2019-07-09 18:10] ajcvickers commented on #27963
Thanks @danmosemsft!

[2019-07-09 18:13] vicrdguez commented on #39139
Im doing a fresh instalation of cmake, sdk and runtime. I will then run build.cmd. Let's see if I can make this work.
Thanks!

[2019-07-09 18:14] terrajobst commented on #36897
Conclusion

* Exposing the API on `AppDomainSetup` is fine, but we shouldn't expose the property on `AppContext`
* We may want to expose the backing store for .NET Core's `runtimeconfig.json` (and that should go on `AppContext`) but it would point to a different file, obviously.

[2019-07-09 18:17] steveharter commented on #39307
Passing in `JsonSerializationOptions` to `CreateConverter()` and `CanConvert()` would allow for a more "dynamic" model to inspect runtime-added converters, but seems like overkill IMO.

I support the original proposal - making CreateConverter public - which allows a more "dynamic" model as well but only to invoke static\known converters (not runtime-added).

[2019-07-09 18:21] terrajobst commented on #36842
Conclusion

* The location makes sense because if the API returns true, consumers are likely ending up using APIs on `ServiceBase`
* We should consider shortening the name to `IsRunningAsService` as Windows is implied (the entire type is Windows-specific)
* We can still expose a platform-agnostic API (that detects, say, Windows services and Linux daemons) but that's out of scope for this scenario

[2019-07-09 18:28] kburgoyne opened #39332 "System.IO.BufferedStream.ReadAsync() cancel response (exception documentation)"
# Issue Title

System.IO.BufferedStream.ReadAsync() is responding to a cancellationToken cancel signal with System.AggregateException and not System.OperationCanceledException.

# General

The AggregateException does contain a single exception of TaskCanceledException.

docs.microsoft.com for Core, Standard, and Framework doesn't actually say any exception will be thrown on a cancel for BufferedSt

[2019-07-09 18:37] sirjeppe opened #39334 "Not possible to get the executable path for self-contained executable"
When calling Assembly.Get*Assembly().CodeBase for a self-contained .NET Core 3 project, it reports a temporary directory rather than the folder where the executable actually is located.

[code]

Put the code above in a project with these settings:
[code]

Then publish the app to e.g. C:\AssemblyReflectionIssue and launch it. Something like this will be printed:

C:\Users\user\AppData\Local\Temp\.n

[2019-07-09 18:39] stephentoub commented on #27963
@danmosemsft, plenty of tests here do not, e.g.
https://github.com/dotnet/corefx/blob/09f4f7ed59992bc7bff6fe42bc75ef5b08c8c4e2/src/System.ComponentModel.Annotations/tests/System/ComponentModel/DataAnnotations/RangeAttributeTests.cs#L363-L374

[2019-07-09 18:41] stephentoub commented on #39332
@kburgoyne, can you please share a repro?

[2019-07-09 18:42] danmosemsft commented on #27963
@stephentoub ah! I was looking at the test at the top, which failed before I fixed it in 6ee8b75. That explains the later failures. Let me follow up offline.

[2019-07-09 19:11] wtgodbe commented on #38858
@safern I'm looking at this now

[2019-07-09 19:25] davidsh commented on #30760
Re-opening for release/2.1 and release/2.2 consideration.

[2019-07-09 19:37] abelykh0 commented on #38315
In addition, if the image is invalid, under Linux (Debian), it throws `System.Runtime.InteropServices.ExternalException` ("A generic error occurred in GDI+"). You can consider this a documentation issue, or a bug.

[2019-07-09 19:38] vicrdguez commented on #39139
After some testes and re installing everithing, thats what I get when trying to run tests:

[code]

I have preview six but is like there is another newer installed(?)
When I ran build.cmd I saw this:
`dotnet-install: Downloading link: https://dotnetcli.azureedge.net/dotnet/Sdk/3.0.100-**preview7**-012630/dotnet-sdk-3.0.100-preview7-012630-win-x64.zip`

[2019-07-09 19:48] Symbai commented on #39201
No problem, thanks though :-)

[2019-07-09 19:48] #39201 closed

[2019-07-09 19:59] davidsh opened #39336 "Errors running tests: "The library 'hostpolicy.dll' required to execute the application was not found""
I'm unable to run tests in master.

I sync'd the latest from master.

Did "git clean -xdf".

Deleted everything in .nuget and .dotnet folder caches.

Rebooted my machine.

After successfully building from root (Windows 10) using "build", I then try:

[code]

And I get errors:

[code]

[2019-07-09 20:00] davidsh commented on #39336
@ViktorHofer @stephentoub

[2019-07-09 20:19] davidsh commented on #39336
More interesting using 'dotnet' to run the tests works:

[code]

I noticed that the version of MSBuild is different depending on if I invoke 'msbuild' directly or thru the use of 'dotnet msbuild':

msbuild:
Microsoft (R) Build Engine version 15.9.21+g9802d43bc3 for .NET Framework

dotnet msbuild:
Microsoft (R) Build Engine version 16.2.0-preview-19278-01+d635043bd for .NET Core

So, is there a req

[2019-07-09 20:20] ehasis commented on #31181
Is this tracking updated? I'm trying to find something to contribute with, but looks like many of the unmarked is already implemented.

[2019-07-09 20:20] davidsh commented on #39336
cc: @dotnet/ncl

[2019-07-09 20:20] NimaAra commented on #38568
Thanks @JeremyKuhne

[2019-07-09 20:22] ViktorHofer commented on #39336
`dotnet msbuild` is preferred over `msbuild` but both should work. I expect this to be fixed with https://github.com/dotnet/corefx/pull/39279

[2019-07-09 20:33] goldenbull opened #39339 "Will DateTime.Parse be able to deal with nanoseconds?"
# Issue Title

`DateTime` can not deal with the fraction of second more than 7 digits.

# General

Scientific applications often need to handle timestamp with precision of nanosecond. Although the `DateTime` datatype do not need to actually save the nanosecond precision, it could be very helpful if `DateTime.ToString` and `DateTime.ParseExact (and other parser methods)` could generate and recogniz

[2019-07-09 21:05] mmusin commented on #31181
@danmosemsft @KathleenDollard Are there plans to add .net standard target to the library?

[2019-07-09 21:06] scalablecory commented on #39104
Confirmed we have a bug. WinHttpHandler and .NET Framework allow WinHTTP to do the work, and so do not have this issue.

Per [WINHTTP docs](https://docs.microsoft.com/en-us/windows/win32/api/winhttp/ns-winhttp-__unnamed_struct_3), `WinHttpGetProxyForUrl` can return more than one proxy.

Per [Mozilla](https://developer.mozilla.org/en-US/docs/Web/HTTP/Proxy_servers_and_tunneling/Proxy_Auto-Configura

[2019-07-09 21:08] ericstj commented on #39139
You can always run tests from the command-line `dotnet msbuild <testProject.csproj> /t:RebuildAndTest` after running `build.cmd` once.

It sounds like the error you're hitting may be related to test refactoring work @ViktorHofer is doing.  When running tests from CoreFx in VS the test host shouldn't be running from Program Files, it needs to use the shared framework we've built in the output direc

[2019-07-09 21:21] davidsh commented on #39104
Supporting enterprise scenarios are key tenant for .NET Core 3.0. So, I would like to see this fixed. We can even make a partial fix which would unblock the 90% case. For example, separate out potentially multiple Uri's (string.Split(';')) and only try the first proxy in the list.

[2019-07-09 21:21] davidsh commented on #39104
@karelz

[2019-07-09 21:23] danmosemsft commented on #27963
Consensus offline is that it's OK to either disable such tests for UWP or make them RemoteExecutor. These will need such a fix at some point.

[2019-07-09 21:23] scalablecory commented on #39104
Yea that sounds good. I will make a change to simply choose the first one on the list, and open an new issue to fully support multiple proxies.

[2019-07-09 21:25] danmosemsft commented on #36195
@jpfreyen I think this is covered by https://github.com/dotnet/corefx/issues/34221. Please add thoughts there if you wish (or reopen this if I'm mistaken)

[2019-07-09 21:25] #36195 closed

[2019-07-09 21:29] danmosemsft commented on #39308
Just curious is there any benefit to doing this other than tidiness?

[2019-07-09 21:30] scalablecory commented on #39339
Lossy behavior of `DateTime.ParseExact` might be unexpected, but it doesn't sound entirely unreasonable to add to `DateTime.Parse`.

[2019-07-09 21:32] terrajobst commented on #39304
Not any time soon. This isn't mainstream enough warranting us having to build one. NuGet packages already exist :-)

[2019-07-09 21:33] terrajobst commented on #39304
I'm closing this to get the release PMs off my back who freak out about open bugs. However, please keep the comments/questions coming :-)

[2019-07-09 21:33] #39304 closed

[2019-07-09 22:04] s0dy opened #39342 "error CS8601: Possible null reference assignment"
[code]

Build since dotnet/source-build
Exherbo linux
linux-x64

[code]

Is the solution or problem coming from elsewhere ? Where should this line be added to the .csproj file ?

[2019-07-09 22:14] danmosemsft commented on #39337
@tarekgh

[2019-07-09 22:20] Thealexbarney commented on #39274
This is my first time looking at the CoreFX codebase or doing Linux interop, but I tried creating [a basic implementation](https://github.com/Thealexbarney/corefx/commit/9f1672dc67e19eb675bce389fe8651d5c89c30a5).

Thoughts:
This involves a few changes in existing behavior, such as the FAT `hidden` flag. On a FAT filesystem in Linux, files beginning with a `.` will show up as hidden, but they won't

[2019-07-09 22:27] tarekgh commented on #39337
@kewinbrand I think this is resolved in https://github.com/dotnet/corefx/issues/39226 I am not sure why this is reported twice.

[2019-07-09 22:27] #39337 closed

[2019-07-09 22:56] geoffkizer opened #39345 "HTTP2: Remove redundancy in running remote server tests"
Many remote server tests are defined in classes like HttpClientHandlerTest.cs, which get subclassed three times:

PlatformHandler, HTTP/1.1 loopback server
SocketsHttpHandler, HTTP/1.1 loopback server
SocketsHttpHandler, HTTP/2 loopback server

As a result, remote server tests in these files are running twice for SocketsHttpHandler. (Note loopback server is unused in these tests, and thus the loop

[2019-07-09 23:11] tarekgh commented on #39216
One thing I discovered, if you reboot the machine after changing the UI language on the machine, the issue will not repro. it is worth filing a bug to Windows anyway.

[2019-07-09 23:14] bradwilson commented on #38354
I suspect this only affects corefx because you're using the unsupported `xunit.console.dll` runner. Nothing else in 2.4.1 should be trying to parse the `.deps.json` file as this is holdover code from `dotnet xunit` days.

[2019-07-09 23:44] JeremyKuhne commented on #39274
We check for API availability in [configure.cmake](https://github.com/dotnet/corefx/blob/42ecf717478504fd7cc072f3586c6edd1ba57daa/src/Native/Unix/configure.cmake). And use the defines created there in the code.

My gut feel is that we should report hidden on Unix whenever there is a leading period, even if the file system has a hidden attribute as well. We did the same thing for Mac I believe.

It

[2019-07-09 23:45] scalablecory opened #39348 "Add async proxy resolution on Windows 8"
We currently use `WinHttpGetProxyForUrl` to resolve proxies when PAC is needed.

Starting with Windows 8, we can use `WinHttpGetProxyForUrlEx` to perform this action asynchronously.

[2019-07-09 23:57] bradwilson commented on #38354
I should amend that to say nothing in the _core framework_ should be parsing the `.deps.json` file. It's likely the VSTest adapter is still doing some parsing of that file. @onovotny

[2019-07-10 00:55] stephentoub commented on #38559
@geoffkizer and I spoke about this today, and we decided on the following approach.  Longer-term / post-3.0, we should really add public API for this, e.g. a DuplexHttpContent abstract base type for request content that supports duplex (it could have a Task-returning property you could await to know when it completed).  But for 3.0, we're going to just special-case the built-in HttpContent types s

[2019-07-10 01:17] danmosemsft commented on #39320
An issue with GdipGetImagePixelFormat itself perhaps

[2019-07-10 01:17] stephentoub commented on #39322
Well, if it's working as expected, I'll close this.

[2019-07-10 01:17] #39322 closed

[2019-07-10 01:32] stephentoub commented on #39049
It occurred to me today that in the 95% case we're actually already in a state where the request body sending will ignore the cancellation token after SendAsync completes.  The 95% case is code using SocketsHttpHandler via HttpClient (rather than via, say, HttpMessageInvoker) and without changing Timeout.  In that case, HttpClient always manufactures a new token source / token specific to that req

[2019-07-10 02:14] Gnbrkm41 commented on #38677
Could I ask which rules have been enabled so far?

[2019-07-10 02:15] stephentoub commented on #38677
These are the ones that are disabled, so... everything other than these:
https://github.com/dotnet/corefx/blob/b6edaf0ac1ca42b48fd6c836f9bb472090d832a8/src/CodeAnalysis.ruleset#L41-L82

[2019-07-10 02:18] #37984 closed

[2019-07-10 02:25] Gnbrkm41 commented on #39199
why int array in particular? From what I've seen, binary data are always passed around various APIs as either pointer to a byte, a byte array or span of byte.

[2019-07-10 03:08] #38849 closed

[2019-07-10 03:17] JimBobSquarePants commented on #39320
Windows is reporting the correct bit depth.

![image](https://user-images.githubusercontent.com/385879/60937774-e9e0ad80-a314-11e9-83bf-043b7b1ec346.png)

[2019-07-10 03:36] danmosemsft commented on #39320
@jmimbobsquarepants I assume this also reproes on.NET Core?

If so any interest in breaking in a debugger to see what's going on?

[2019-07-10 03:49] SoftCircuits commented on #39199
@Gnbrkm41 The point is that safe C# doesn't support pointers, and so the efficient way I would have handled this in C or C++ is not an option here. It's a limitation of the language.

An `int` array in particular because I strongly suspect that writing an `int[]` is the most common array type next to `byte[]`. At least, this has come up for me on a number of occasions. But, yes, it would be nice t

[2019-07-10 04:21] Joe4evr commented on #39199
That's exactly what `Span<T>` has been made to solve.

[2019-07-10 04:23] JimBobSquarePants commented on #39320
I haven't had the opportunity to look as yet but I can have a dig around.

[2019-07-10 04:30] SoftCircuits commented on #39199
@Joe4evr If `Span<int>` was supported by `BinaryWriter.Write()`, then we'd be good to go.

[2019-07-10 06:21] jzarling commented on #39316
Okay, I will investigate further on my part then and close the issue since it does not seem to have anything to do with the behavior of the HttpClientHandler. Thank you for the enlightenment.

[2019-07-10 06:21] #39316 closed

[2019-07-10 06:40] ghord opened #39354 "Add ReadOnlySpan<byte> api to JsonElement.EnumerateObject()"
Currently it is not possible to enumerate property names from `JsonElement` as raw spans.

There are api's that let you get property once you know the name such as `JsonElement.TryGetProperty(ReadOnlySpan<byte>, out JsonElement)`, but the result of object enumeration - `JsonProperty` has only one `string` property `Name`.

Using `JsonProperty.Name` converts utf8 data and allocates in getter. It sh

[2019-07-10 06:44] scalablecory commented on #26528
Sad to see we haven't made progress on this!

[2019-07-10 07:23] ghord commented on #39354
It is also not possible to get raw string value as `ReadOnlySpan<byte>` from JsonElement that is a string. `GetRawText()` doesn't help - it returns string.

[2019-07-10 07:37] scalablecory commented on #26528
Can I suggest allowing to pass a delegate `bool IsSeparatorPredicate(ReadOnlySpan<T> span)`?

This will enable splitting on surrogate pairs etc.

[2019-07-10 07:46] Gnbrkm41 commented on #26528
@scalablecory, how about `Rune`? (and ReadOnlySpan of Rune)

[2019-07-10 07:46] Robot1que commented on #39304
@terrajobst

I must disagree with it. Azure Pipelines is a proof in my opinion.
Anyway, thanks for replying to an off-topic question.

[2019-07-10 07:51] tmds commented on #38354
https://github.com/dotnet/core-setup/issues/7137 was created to make the `.deps.json` compatible with existing xunit releases.

It affects xunit projects started with `dotnet test`.

`DependencyContextJsonReader` throws in `IsXunitPackageReferenced` which then returns `false`, which means: this isn't an xunit test assembly.
From `VsTestRunner.cs`:
[code]

[2019-07-10 07:58] scalablecory commented on #26528
`Rune` doesn't solve grapheme clusters, and dealing with normalization would become unwieldy. A predicate would handle all cases.

[2019-07-10 08:02] Turnerj opened #39355 "System.Drawing.Color equality is comparing more than the color"
I figure this was done as originally designed and probably has a whole lot of legacy code tied to it to be this particular way but it doesn't really make sense to me.

Long story short:
[code]

So while `Color.Red` is made up of Alpha 255, Red 255, Green 0 and Blue 0, it isn't the same as creating the color via `FromArgb` due to the equality check actually checking whether it is a known color and

[2019-07-10 08:16] thomaslevesque commented on #12421
In fact, this functionality already exists in an unexpected place: `HttpUtility.ParseQueryString()` returns a specialized implementation of `NameValueCollection` (private nested class `HttpUtility.HttpQSCollection`), which overrides `ToString()` to correctly format the names and values as a query string.

So if you need a query string builder, you can do this:

[code]

However, this relies on undo

[2019-07-10 08:18] tonesandtones commented on #27358
(for the benefit of anyone else that hits this problem)

I hit this error attempting to import certificate bytes from an app config setting (injected from a key vault secret at runtime) with `new X509Certificate2(Convert.FromBase64String(config.CertificateBase64Bytes))`

My solution was found at https://docs.microsoft.com/en-us/azure/app-service/app-service-web-ssl-cert-load#load-certificate-from-

[2019-07-10 09:53] ViktorHofer commented on #39336
@davidsh can you please try it again now on master? Thanks

[2019-07-10 12:19] kewinbrand commented on #39337
Ops..

IDK why I did this.

[2019-07-10 12:28] bbartels commented on #26528
Isn't one of the main points within the Span<T> ecosystem to be allocation free? I feel like bringing in a delegate would just go against that mentality. Wouldn't allowing to pass a ReadOnlySpan<T> as a separator solve the graphmere cluster problem just as well, without an allocation?

[2019-07-10 13:33] EgorBo opened #39360 "DynamicMethodToString inconsistency"
See https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Emit.Lightweight/tests/DynamicMethodToString.cs#L12-L14

I am trying to understand the logic behind it.
e.g. It expects `System.String MethodName(System.String, Int32)`  why Int32 is without namespace unlike the first argument.
Another case expects "Void" instead of `void` or `System.Void`
So in some cases it prints Type.FullNa

[2019-07-10 13:40] stephentoub commented on #26528
And turn split into an O(N^2) algorithm?

I think this should be kept relatively simple, making the common case easy.

[2019-07-10 14:00] rymeskar opened #39362 "System.Buffers dll specifically targetting .NetFramework instead of reusing the .NetStandard one"
Based on conversation with @ericstj in the following [thread](https://github.com/dotnet/corefx/issues/36754), we would like if System.Buffers specifically targeted .NETFramework so that we can depend on it without requiring our consumers to bring in all of the .NETStandard support dlls.
Reason: the known incompatibilities between .NetStandard 2.0 and framework >=4.6.1 && <4.7.2.

[2019-07-10 14:01] EgorBo commented on #39360
Ok, I guess I've figured it out - for primitive type it uses just Name and ToString() for others

[2019-07-10 14:01] #39360 closed

[2019-07-10 15:02] mjrousos opened #39363 "DelimitedListTraceListener delimiter cannot be set via attributes"
In .NET Framework, a `DelimitedListTraceListener`'s `Delimiter` property can be set by adding an attribute to the object with a key of "delimiter" and a value of the delimiter's desired value. This no longer works in .NET Core.

Repro:

[code]

Output:

[code]

[2019-07-10 15:07] mjrousos commented on #39363
The source of the difference is pretty obvious in code. .NET Core's implementation doesn't consider listener attributes at all when getting `Delimiter`:

[Delimiter's getter](https://github.com/dotnet/corefx/blob/43760cebc9b2773c0959629a443a28111d8b7de8/src/System.Diagnostics.TextWriterTraceListener/src/System/Diagnostics/DelimitedListTraceListener.cs#L44) is:

[code]

Looking at [.NET Framework r

[2019-07-10 15:45] stephentoub commented on #39363
Looks like DelimitedListTraceListener was ported to core in 2015:
https://github.com/dotnet/corefx/pull/778/files#diff-6161c994505c87a9ca1d421a454c57f5R37

Then in 2016 the TraceListener.Attributes was added back in for netstandard2.0:
https://github.com/dotnet/corefx/commit/59339d505be46e96dcea255772785ef0183e9c87#diff-a8f26c35fabc967a57dd7c552cd7d747R45

Most likely then this was just an oversig

[2019-07-10 16:04] kburgoyne commented on #39332
Stephen,

After some fiddling around it appears a case to reproduce the AggregateException isn’t necessary. After much scratching of my head trying to figure out why our main app was catching AggregateException and my test app was only seeing TaskCanceledException, I figured out where we were being misled.

Our main app is reading on a non-UI thread, so we just use ReadAsync().Result since awaitin

[2019-07-10 16:20] scalablecory commented on #26528
I don't see how this would be any different than `String.Split(string[])`

[2019-07-10 16:26] stephentoub commented on #26528
Because string.Split(string[]) takes an array of the exact strings to use, which means a) the implementation knows exactly how many characters need to be compared, and b) regardless string matching algorithms exist to find substrings in O(N+M) time rather than the naive O(N*M) time.  Your proposed IsSeparatePredicate that takes a span would presumably need to be invoked at every character and for

[2019-07-10 16:26] steveharter commented on #39081
Suggest moving this to future and re-open if this appears to be a real product bug.

My best guess is an out of memory test issue.

[2019-07-10 16:28] ericstj commented on #39325
This is a duplicate of https://github.com/dotnet/corefx/issues/39139

[2019-07-10 16:28] #39325 closed

[2019-07-10 16:34] ericstj commented on #39237
@scalablecory do you have any precedent for the expected behavior?  What does JSON.NET do?  /cc @bartonjs @layomia

[2019-07-10 16:35] steveharter commented on #38835
Treating this as a duplicate of https://github.com/dotnet/corefx/issues/38802; that issue goes into more detail about the expected cause and I'll keep that open until I can stress-test locally to ensure there are no caching issues.

[2019-07-10 16:35] #38835 closed

[2019-07-10 16:36] steveharter commented on #38802
I will keep this issue open until I can perform additional local stress testing, add additional tests, and review the existing code (which should have already fixed this issue).

[2019-07-10 16:37] ericstj commented on #39139
@vicrdguez can you let us know if you're still looking at this?  We really appreciate the help and would like to get this fix in before our lock-down on 7/16.  Can you let us know by tomorrow if you plan to move forward with your fix, otherwise we'll pick up this issue ourselves.  Thanks!

[2019-07-10 16:37] bartonjs commented on #39237
The plan for Skip, last I knew, was that it always ends up on the last token of the "logical value".  If the current TokenType is PropertyName, it should call Read once, then evaluate Skip as if that was its starting point.

"logical value": the value represented by (or started by) the current token... unless the current token is of type PropertyName, then the value represented by/started by the n

[2019-07-10 16:40] scalablecory commented on #26528
Oh, I see the confusion; my fault. I should not make suggestions right before going to sleep!

Imagine something more like: `bool IsSeparatorPredicate(ReadOnlySpan span, out int length)`, which would be called only once per character. it gets passed the full remaining span, and returns the length of the separator to skip in the out param.

[2019-07-10 16:43] steveharter commented on #34958
Closing this as https://github.com/dotnet/corefx/issues/37192 addresses this by passing a custom escaper to the writer.

[2019-07-10 16:43] #34958 closed

[2019-07-10 16:45] steveharter commented on #35385
Closing this as #37192 addresses this by passing a custom escaper to the writer.

[2019-07-10 16:45] #35385 closed

[2019-07-10 16:47] bartonjs commented on #39237
For properties, this was a target scenario:

[code]

And for arrays:

[code]

[2019-07-10 16:49] scalablecory commented on #39237
@bartonjs that works for me.

[2019-07-10 16:49] #39237 closed

[2019-07-10 16:49] bbartels commented on #26528
Don't think I would be opposed to this idea, but I definitely think there should be a separate (simpler) type that would just handle the cases of splitting on a single character or splitting on a sequence.

[2019-07-10 16:53] stephentoub commented on #26528
And cheaper. Adding O(N) delegate invocations in an API whose purpose is to reduce overheads is not the right choice. We should start with the 99% case, and only add additional complexity/cost when and where there's a real need.

[2019-07-10 16:56] scalablecory commented on #26528
Agreed, not proposing to get rid of the simple overload :)

[2019-07-10 17:06] rjmholt opened #39364 "How to get process invocation name? (login shell on *nix)"
I'm working to enable PowerShell as a login shell on *nix in https://github.com/PowerShell/PowerShell/pull/10050.

When `-Login` or `-l` is passed, this works fine (we exec /bin/sh and then exec pwsh again).

But the convention in many *nix environments for login shells is to prepend a `-` onto the process name (e.g. `bash` sees its own process name as `-bash` and then deduces it must run login sh

[2019-07-10 17:07] TylerLeonhardt commented on #25036
@tmds also adding you to this since your name pops up in blame in [the c implementation of the console apis](https://github.com/dotnet/corefx/blame/0f845ca1175bbd3d8e253139b98c526fab81d317/src/Native/Unix/System.Native/pal_console.c)

[2019-07-10 17:09] rjmholt commented on #39364
Additional output from starting PowerShell as a login shell with the `Console.WriteLine`s above:

[code]

[2019-07-10 18:31] filipnavara commented on #39355
This is intentional. The known colors are also used for the system colors. Specifically,  `SystemColors.Control` is not supposed to be equal to `Color.Silver` even if the ARGB value matches at the moment. Named color are just weird special case that is not very intuitive.

[2019-07-10 19:20] Thealexbarney commented on #39274
Did some performance testing and the results aren't great.

Iterating through filesystem entries takes about 2us each on my machine. Simply doing an open/close on an entry takes a little over 4us.

Enumerating entries and reading FAT attributes on every one takes 3x as long as not reading FAT attributes.

[2019-07-10 19:31] FelipeTaveira commented on #20296
I'm having the same issue here -- however, `cancellationToken.IsCancellationRequested` is returning `true`:

[code]

I'm forcing a timeout. The exception raised is `TaskCancelledException` with `IOException` as inner exception:

[code]

(Sorry for the translated exception text -- apparently someone thought it would be a good idea to bring this to .NET Core as well)

As you can see, I was hoping to

[2019-07-10 19:43] davidsh commented on #39336
I sync'd up to the latest master.  I did `git clean -xdf`.  I built from the root with `build`.  But I see the same problem when I do a `msbuild /t:rebuildandtest` in the `src/System.Net.Http/tests/UnitTests` folder.

[2019-07-10 20:03] jkotas commented on #39216
There are two tests that suffer from this problem. Could you please mark the other one (`InitializeDisplayName_GetServiceName`) as OuterLoop as well?

[2019-07-10 20:04] Anipik commented on #39216
sorry I missed the other  one. I will add the outerloop to othe one as well

[2019-07-10 21:01] steveharter commented on #39207
Offline discussion recap: do not use naming policy on deserialization. The reason is primarily for performance since the scenario where this is useful (normalizing incoming dictionary keys that have mixed casing) is an edge case with workarounds (creating a custom converter for dictionary or instantiating collection case-insensitive from POCO ctor).

On (1) and (2) above -- the naming policy is on

[2019-07-10 21:06] tlmii opened #39366 "How to detect linux distribution name/version when in WSL?"
Over at https://github.com/aspnet/HttpRepl, there's [some code](https://github.com/aspnet/HttpRepl/blob/13bd26c3c91407dc835a463bea496fc160d42fb9/src/Microsoft.Repl/Input/InputManager.cs#L122) that does detection of linux distro in order to decide if some STTY settings need to be changed.

This works fine on normal installs of Ubuntu, but in Ubuntu 18.04 on WSL2, the call to `RuntimeInformation.OSD

[2019-07-10 21:10] bartonjs commented on #39237
@scalablecory Just to double check: What I'm describing is that it should work like your first bullet under "I would, instead, expect...".  If you're seeing a behavior other than that (e.g. that the TokenType is not PropertyName (or EndObject) after calling Skip() then Read() from a PropertyName) then there's a bug (or something in the design changed).

[2019-07-10 21:19] karelz commented on #38799
@scalablecory what is status of this fix? Will it be ready by EOW?

[2019-07-10 21:21] karelz commented on #35652
@wfurt what is left on this issue? Is it just missing tests? Or is there suspicion that there is a bug fix?

[2019-07-10 21:25] karelz commented on #38646
@brentschmaltz did you get chance to look at it? Are you going to fix it for 3.0? (i.e. in next few days)

@Tratcher is it blocker for 3.0?
cc @danmosemsft

[2019-07-10 21:25] #37120 closed

[2019-07-10 21:29] andre-ss6 commented on #25128
@danmosemsft Today I saw a `SockectException` thrown due to cancellation that had its message localized:

Repro code:

[code]

 Is this being done now? I would really hope not.

@danstur Did you ever open that issue? If not, I'll be creating one to track this.

[2019-07-10 21:29] karelz commented on #39178
@geoffkizer do you think we can get the PRs merged by EOW?

[2019-07-10 21:31] karelz commented on #38911
@stephentoub is there anything left in this bug for 3.0?
Or do we want to spin off separate issues for tracking bug fixes?

[2019-07-10 21:31] Tratcher commented on #38646
Not blocking for 3.0 as this wasn't a regression. It may be a patch candidate for 2.2 (and 3.0) depending on the fix.

[2019-07-10 21:31] ericstj commented on #39362
This is a duplicate of https://github.com/dotnet/corefx/issues/37639

[2019-07-10 21:31] #39362 closed

[2019-07-10 21:33] karelz commented on #39295
@eiriktsarpalis can you please fix this one as well? @davidsh can provide advice/pointers ...

[2019-07-10 21:40] stephentoub commented on #38911
There are still failures here that we believe are due to known issues in ASP.NET actively being worked on, but we don't know if those fixes will fully address all such failures or if there's something else lurking.  We should keep this open until those fixes are in place, and then re-evaluate.

[2019-07-10 21:40] ericstj commented on #37639
@layomia can you see about taking a proposal for this to servicing shiproom to consider for 2.1 and see what folks say?  @joperezr can probably help find data on which other packages may fall under this category and should be fixed in a similar fashion.

[2019-07-10 21:47] vicrdguez commented on #39139
@ericstj yes I am! I have all the code an tests, but wasted lots of time with the problem I said yesteday and couldn't run them.
Thanks for the advice running the tests from command prompt, sorry for the delay answering, the time difference is big.
If everithing is correct, tomorrow I will check in this tomorrow

[2019-07-10 21:47] wdolek commented on #36412
My 2¢: I was interested in performance difference and by coincidence learned how most of `Immutable*` collections work. Binary tree is used to make a _snapshot_ of particular state - pointing to new root with every change. This is solving immutability nicely, but also causes this performance hit - for any _mutation_, appropriate bucket has to bee found, new node added to correct place and tree che

[2019-07-10 21:47] geoffkizer commented on #39178
Hopefully, yes.

[2019-07-10 21:54] danmosemsft commented on #39366
Looks like you need to add a package reference to `Microsoft.DotNet.PlatformAbstractions` then you can get it from `Microsoft.DotNet.PlatformAbstractions.RuntimeEnvironment.OperatingSystem` and `Microsoft.DotNet.PlatformAbstractions.RuntimeEnvironment.OperatingSystemVersion`

Code is here https://github.com/dotnet/core-setup/blob/master/src/managed/Microsoft.DotNet.PlatformAbstractions/RuntimeEnvi

[2019-07-10 21:55] danmosemsft commented on #39366
If you don't want the package reference (which is great, we would rather deprecate that package long term) looks like you can copy code. See LoadDistroInfo in that repo.

[2019-07-10 21:57] danmosemsft commented on #38966
No more hits in the last week. Query:
[code]

  |   |   |  
-- | -- | -- | --
  | ExitCode | QueueName | count_
  | 134 | Ubuntu.1604.Arm32.Open | 3

[2019-07-10 22:00] #36716 closed

[2019-07-10 22:00] tlmii commented on #39366
Perfect. Thanks Dan. I'll talk it over with the team and make a call on which way to go. Good to know you'd like to deprecate, as that'll probably impact our decision.

[2019-07-10 22:11] danmosemsft commented on #25128
@andre-ss6

My guess is that the localized part came from the OS, eg., on Windows that would be from FormatMessage or similar in Unix. We include those strings in the exception string when the OS has more information than we have in the error code.

[2019-07-10 22:14] danmosemsft commented on #25128
In such cases, I hope the developer doing diagnostics has the "ToString()" output of whatever the exception is, and that should include the error number or HResult of the exception (995 here), which gives all the information in that string since it's what we used to get it.

[2019-07-10 22:16] #39216 closed

[2019-07-10 22:18] scalablecory commented on #38799
I'm unable to repro; going to give it another shot once finished with other PRs but can't guarantee EOW.

[2019-07-10 22:19] karelz commented on #38911
Thanks @stephentoub. Who will rerun the test(s) once we have the fixes? You or @Anipik / @eiriktsarpalis?
(Just trying to figure out who should track this issue and the dependent ASP.NET fixes)

[2019-07-10 22:33] ericstj commented on #39139
No worries @vicrdguez, I wasn't sure if you knew about our schedule.  Sorry to pressure on the time, normally this sort of issue isn't so urgent but right now we're locking down the product for 3.0.  Submit a PR as soon as you have something ready and we'll start giving feedback.

[2019-07-10 22:36] ericstj commented on #39354
@ahsonkhan / @steveharter / @bartonjs if they know of a way to do this using current API.  If using the reader I imagine you could get at  ValueSequence/ValueSpan when reading a JsonTokenType.PropertyName.  I don't see a great way get at the raw property Spans when using JsonElement.

[2019-07-10 22:50] ericstj commented on #39067
I can help here.  I repro'ed the original issue.  Building your change and testing now.

[2019-07-10 23:17] bartonjs commented on #39354
JsonElement is intentionally hiding the encoding in this release so we don't box ourselves out of supporting a UTF-16 (string) based reader in the future.

If you're wanting an equality check, we have that with JsonProperty.NameEquals (or a value check is JsonElement.ValueEquals).  Anything more than that requires transcoding to System.String.

Duplicate of #38922.

[2019-07-10 23:17] #39354 closed

[2019-07-10 23:28] ericstj commented on #39067
Repro'ed with the change, here's the innermost exception:
[code]

[2019-07-10 23:30] scalablecory opened #39370 "Cycle through proxies when unable to connect and PAC returns multiple proxies."
When a PAC script returns multiple eligible proxies for a URL, `SocketsHttpHandler` is only using the first proxy in the list.

Per [Mozilla](https://developer.mozilla.org/en-US/docs/Web/HTTP/Proxy_servers_and_tunneling/Proxy_Auto-Configuration_(PAC)_file) and [Netscape](https://web.archive.org/web/20040810122331/http://developer.netscape.com/docs/manuals/proxy/adminux/autoconf.htm), expected beha

[2019-07-10 23:33] leniel commented on #26682
@bartonjs you just helped here: https://stackoverflow.com/q/56979368/114029

Thanks!

[2019-07-10 23:33] JeremyKuhne commented on #39067
Well that makes total sense. We're trying to smuggle DateTimes in DateTimeOffset. That isn't always possible. I guess we'll have to refactor a bit to pass each type back directly.

cc: @tarekgh

[2019-07-10 23:38] scalablecory commented on #39370
There are a few ways we could implement this; the "spec" for PAC files is a bit vague here on what constitutes a "failed" proxy. Once we've sent any of the request data, we are no longer able to retry. Any point prior to that seems fair game.

[2019-07-10 23:55] tarekgh commented on #39067
I am seeing the code is already catching this ArgumentOutOfRangeException. are we failing the operation after that?

https://github.com/dotnet/corefx/blob/b86783ef9525f22b0576278939264897464f9bbd/src/Common/src/CoreLib/System/Buffers/Text/Utf8Parser/Utf8Parser.Date.Helpers.cs#L90

[2019-07-11 00:00] ericstj commented on #39067
Yeah, it's a "Try" method, so when this fails and returns false the outer call ends up throwing.

This is happening because we're trying to parse as DateTime (which can accept this value) but then we're flowing it through a DateTimeOffset here only to convert back to DateTime.
https://github.com/dotnet/corefx/blob/1247fa7a193e52bc89bc49c4ba6e44739df2dcee/src/System.Text.Json/src/System/Text/Json/J

[2019-07-11 00:05] tarekgh commented on #39067
That make sense.

[2019-07-11 00:27] #39223 closed

[2019-07-11 00:27] geoffkizer opened #39372 "Assertion in certificate validation code when talking to HTTP2 remote server on Linux"
The way we have been running HTTP2 tests against remote servers has meant that certificate validation is always disabled. I am making test changes in #39343 that re-enable this, and now we're seeing an assert in the cert validation code on every Linux distro except for RedHat.

[code]

Additional details in #39343

[2019-07-11 01:05] layomia commented on #39067
I'm taking a look at this now.

[2019-07-11 01:19] Turnerj commented on #39355
While that makes some sense in terms of `SystemColors`, it seems like a misnomer that the class is `Color` where two colours that are visually the same are not actually equal to each other. There's got to be a better way to handle this...

[2019-07-11 01:25] stephentoub commented on #37994
Again here:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39369~2Fmerge/test~2Ffunctional~2Fcli~2F~2F/20190710.34/workItem/System.Security.Cryptography.Cng.Tests/analysis/xunit/System.Security.Cryptography.Rsa.Tests.EncryptDecrypt_Span~2FRsaCryptRoundtrip_OaepSHA512
[code]

[2019-07-11 01:29] davidfowl commented on #39241
Fixed

[2019-07-11 01:29] #39241 closed

[2019-07-11 01:34] bartonjs commented on #39372
Looks like we have a mapping for 43 codes (https://github.com/dotnet/corefx/blob/6c6d68558aaccbd16de6e84cf7e59c0fb32b8273/src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.X509.cs#L242-L281) and OpenSSL is now up to 77.
Obviously we should map in the missing 44 codes so this doesn't surprise us.

This one (44) is X509_V_ERR_DIFFERENT_CRL_SCOPE, which seems weird... perhaps it

[2019-07-11 01:41] geoffkizer commented on #39372
How do I do that?

The server is https://corefx-net-http2.azurewebsites.net, if that helps...

[2019-07-11 01:43] realdevhl opened #39373 "System.Text.Json Deserialize Not Ignoring Property"
Take the following class:

[code]

And then try to parse some JSON

[code]

Results in the following error.

'The JSON property name for 'MyObject.MyAttributeCount' collides with another property.'

If I remove the property decorated with JSONIgnore then it works.

I am using System.Text.Json v4.6.0-preview6.19303.8

[2019-07-11 02:16] #38521 closed

[2019-07-11 02:16] #38767 closed

[2019-07-11 02:30] xxpniu commented on #19914
I also met this problem.  but i run my code with vs on mac it run very well. but after compiled to .exe and run with mono it appear this exception:

Unhandled Exception:
System.AggregateException: One or more errors occurred. (Field not found: System.Func`2<System.IO.Stream, System.Threading.Tasks.Task> System.Net.HttpWebRequest.ResendContentFactory Due to: Could not find field in class) ---> Syst

[2019-07-11 02:48] weltkante commented on #16179
Why was this closed even though it is clearly a bug, marked as such, and was planned for future release?

[2019-07-11 02:50] danmosemsft commented on #39366
Tracked by other issue...

[2019-07-11 02:50] #39366 closed

[2019-07-11 03:20] stephentoub opened #39374 "GCNotificationTests outerloop tests consistently failing on all platforms"
![image](https://user-images.githubusercontent.com/2642209/61019724-2f2eca80-a369-11e9-9da3-6c3b429567ca.png)

e.g.
[code]
https://github.com/dotnet/corefx/blob/b8a7f34e1b64e5c594f591aa8683f34506eb9736/src/System.Runtime/tests/System/GCTests.cs#L500

cc: @Maoni0, @andy-ms

[2019-07-11 03:26] stephentoub commented on #39081
Another:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39311~2Fmerge/test~2Ffunctional~2Fcli~2Fouterloop~2F/20190710.6/workItem/System.Text.Json.Tests/wilogs
[code]

[2019-07-11 03:27] stephentoub commented on #39081
Another three:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39352~2Fmerge/test~2Ffunctional~2Fcli~2Fouterloop~2F/20190710.5/workItem/System.Text.Json.Tests/wilogs
[code]
and
[code]
and
[code]

[2019-07-11 03:29] stephentoub commented on #38834
Again:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39311~2Fmerge/test~2Ffunctional~2Fcli~2Fouterloop~2F/20190710.6/workItem/System.IO.Pipes.Tests/wilogs
[code]

[2019-07-11 03:30] stephentoub commented on #38834
Yet again:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39352~2Fmerge/test~2Ffunctional~2Fcli~2Fouterloop~2F/20190710.5/workItem/System.IO.Pipes.Tests/wilogs

[2019-07-11 03:57] tmds commented on #25036
It's not clear for me what the bug is and what fixed it.

Echoing is now off unless a child process may need it to be on.

We maintain a cached cursor position. Note that if there is no cached cursor position, ReadKey can still cause CursorLeft/Top to block.

To understand the use-case, why are you calling CursorLeft/Top from a different thread than ReadKey?

You mean, the pasted block doesn't sho

[2019-07-11 06:09] jkotas commented on #39326
We do not plan to back port any libraries to netstandard1.x. We recommend everybody to upgrade to netstandard2.0.

[2019-07-11 06:09] #39326 closed

[2019-07-11 06:43] krwq opened #39377 "Xml resources have invalid formatter"
i.e. https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/Resources/Strings.resx#L1722

`{facets}` instead of i.e. `{0}. This is likely causing some random exceptions to some people

[2019-07-11 07:46] thomaslevesque commented on #20296
Hi @FelipeTaveira,

Your approach doesn't work, because the cancellation is handled upstream of your `TimeoutHandler`, by the `HttpClient` itself. Your handler receives a cancellation token that is cancelled by the `HttpClient` when a `Timeout` occurs. So checking that the cancellation token is not cancelled only works in code that is calling `HttpClient`, not in code called *by* `HttpClient`.

Th

[2019-07-11 08:29] am11 commented on #39377
Seems like there are 13 invalid cases:

[code]

found by navigating to raw view https://raw.githubusercontent.com/dotnet/corefx/master/src/System.Private.Xml/src/Resources/Strings.resx and in the Firefox's console, running:

[code]

[2019-07-11 08:31] Evangelink opened #39378 "GetCustomAttributes behavior is different when used as extension method"
Hi folks,

When doing a PR for https://github.com/fluentassertions/fluentassertions/pull/1095 I have noticed a really strange behavior with `GetCustomAttributes` when using the `inherits` option.

Indeed this call `CustomAttributeExtensions.GetCustomAttributes(property, true).OfType<TAttribute>().Any()` returns `true` whereas `property.GetCustomAttributes(true).OfType<TAttribute>().Any()` returns

[2019-07-11 08:53] pinkfloydx33 commented on #39378
It's been documented that the inherits parameter does not work for properties or events and that you need to use `Attribute.GetCustomAttributes`. This  probably explains this difference if you were to look at the underlying implementations.

[MSDN] (https://docs.microsoft.com/en-us/dotnet/api/system.reflection.memberinfo.getcustomattributes?view=netframework-4.5)

[2019-07-11 09:17] AriNuer opened #39380 "Test failure: Microsoft.VisualBasic.Tests.FinancialTests/DDB(Cost: 10000, Salvage: 4350, Life: 84, Period: 35, Factor: 2, expectedOld: 57.3268063538875, expected)"
Test `Microsoft.VisualBasic.Tests.FinancialTests/DDB(Cost: 10000, Salvage: 4350, Life: 84, Period: 35, Factor: 2, expectedOld: 57.3268063538875, expected)` has failed.

Message :
[code]
Stack Trace :
[code]
Build: -[20190710.51](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F~2F/20190710.51)(master)

Failing configuration:

- Windows.10.

[2019-07-11 09:25] AriNuer opened #39381 "Test failure: System.Drawing.Printing.Tests.PrintDocumentTests/DefaultPageSettings_Null_ReturnsExpected"
Test `System.Drawing.Printing.Tests.PrintDocumentTests/DefaultPageSettings_Null_ReturnsExpected`has failed.

Message :
[code]
Stack Trace :
[code]
Build: -[20190710.51](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F~2F/20190710.51)(Master)

Failing configuration:

- Windows.Nano.1803.Amd64.Open-x64-Release

Details:
https://mc.dot.net/#

[2019-07-11 09:42] venkatrv opened #39382 "How to sent Network Credentials to Proxy in .NET Core app while calling a web service?"
I am using .NET Core 2.2 app.
Trying to connect to Web Service. Request goes through proxy server.

I am getting the following error:
ERROR- The remote server returned an unexpected response: (407) Proxy Authorization Required.

But I don't have this issue to talk to same service using .NET App.

Looks like .NET Core 2.2 has bug? it is supposed to pass default Network Credentials, similar to .NET

[2019-07-11 11:06] #39082 closed

[2019-07-11 13:09] aghanem opened #39385 "ComponentResourceManager(typeof(Form1)) behaviour on .NET core 3 preview"
I recently migrated a .NET desktop application. Originally it was on .NET 4.6.1. I first migrated to .NET 4.8 and then to .NET core 3 and now getting a run time error when opening Form1

I have some windows forms which are located in a sub folders in the main desktop app project. The windows forms doesn't include the name of the sub folder where they are located in their namespace.
So let's say th

[2019-07-11 13:15] sakno commented on #24390
I would like to provide proof-of-concept implementation of this proposal which is described [here](https://sakno.github.io/dotNext/features/reflection/fast.html) in details, code is [here](https://github.com/sakno/dotNext/tree/master/src/DotNext.Reflection/Reflection). The implementation allows to reflect any member as the delegate instance of the following types:
1. Predefined API for standard de

[2019-07-11 13:24] bonesoul commented on #23426
so any chance we'll see this soon?

[2019-07-11 13:28] aghanem commented on #39385
Please note, the ComponentResourceManager class lives in this dll on my machine:
C:\Program Files\dotnet\packs\Microsoft.NETCore.App.Ref\3.0.0-preview6-27804-01\ref\netcoreapp3.0\System.ComponentModel.TypeConverter.dll

[2019-07-11 13:36] #34314 closed

[2019-07-11 13:48] danmosemsft commented on #39385
@ericstj is this known?

[2019-07-11 13:49] bonesoul commented on #23426
@tundeanderson same issue here, were you able to find a solution?

[2019-07-11 13:50] danmosemsft commented on #39385
Although thanks to @tarekgh great new error message out seems form1 is not getting embedded at all but form2 and 3 are. @aghanem if you open the dll in ILSPY or ILDASM can you confirm this is true? What is special about form1 here?

[2019-07-11 13:51] danmosemsft commented on #39381
Needs disabling for Nano apparently

[2019-07-11 13:51] davidsh commented on #39382
You need to write code like this:

[code]

Then use HttpClient APIs such as GetAsync(), etc.  This will make sure that default network credentials are sent to a system configured proxy server.

[2019-07-11 13:55] danmosemsft commented on #39380
@cston another FP vagary. We either need to remove test coverage for ARM* and assume x64 protect us forever : or give tests  a little "range" (round value slightly) as we have done in done other FP validation cases.

[2019-07-11 13:59] ViktorHofer opened #39386 "[Announcement] Visual Studio Test Explorer support added"
Visual Studio Test Explorer is finally working inside CoreFx 🎉🎉🎉

At the moment it’s a rough experience as you need to launch Visual Studio from the command prompt but we are trying to solve this post 3.0. I'm using this issue as an announcement and as a tracking issue to lift the current limitation. Make sure to use Visual Studio 2019 Latest.

## How
Invoke the build script from the project root

[2019-07-11 14:15] FelipeTaveira commented on #20296
@thomaslevesque Oh, thanks! I had read through your code and thought that part was about supporting per-request timeout config and hadn't noticed that it was also necessary to support the `TimeoutException` thing.

I hope this is addressed in the future.

[2019-07-11 14:18] stephentoub commented on #39381
Same test failed but not on Nano and with a different error:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39383~2Fmerge/test~2Ffunctional~2Fcli~2F~2F/20190711.7/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Printing.Tests.PrintDocumentTests~2FDefaultPageSettings_Null_ReturnsExpected
[code]

[2019-07-11 14:20] eiriktsarpalis commented on #39295
@geoffkizer could you provide a bit more context? Test is passing locally and seems to be doing the same in outerloop test runs.

[2019-07-11 14:21] stephentoub opened #39389 "EventLogTests.GetEventLogEntriesTest failed in CI on Windows 7"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39383~2Fmerge/test~2Ffunctional~2Fcli~2F~2F/20190711.7/workItem/System.Diagnostics.EventLog.Tests/analysis/xunit/System.Diagnostics.Tests.EventLogTests~2FGetEventLogEntriesTest
[code]

[2019-07-11 14:23] davidsh commented on #39295
I suspect that this test is only failing due to @geoffkizer pending PR #39343.  So, until that PR gets merged, you'l need to temporarily adjust the test's code to force it to use HTTP/2.0 protocol I think. Then I think you'll see the test failure.

[2019-07-11 14:33] eiriktsarpalis commented on #39295
I forced http/2 by changing [this line](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTestBase.cs#L21), but the test is still passing for me locally.

[2019-07-11 14:35] stephentoub commented on #38416
PR was closed pending customer feedback.  Closing issue as well.

[2019-07-11 14:35] #38416 closed

[2019-07-11 14:40] davidsh commented on #39295
I don't think this test derives from that base class.  Also, you need to make sure the test endpoint is the HTTP/2 remote server and not the HTTP/1 remote server.

If it still isn't repro'ing then @geoffkizer will need to comment.

[2019-07-11 14:40] stephentoub commented on #39295
I don't think that's sufficient, as in master the server it's talking to only speaks 1.1:
https://github.com/dotnet/corefx/blob/689e58ec123d8c730d48d1c35c8f7ecbba6c22cf/src/Common/tests/System/Net/Configuration.cs#L10
@geoffkizer's changes in https://github.com/dotnet/corefx/pull/39343 are fixing up these tests to actually talk to an appropriate remote server for its version:
https://github.com/do

[2019-07-11 14:48] stephentoub commented on #39332
In general, the docs' exception section talks about exceptions that may emerge synchronously from a method call, e.g. if you wrote:
[code]
what kinds of exceptions might end up in the catch block.

In general the docs don't talk about exceptions that might be stored into the returned task.  We don't currently have a good way of documenting that.  @mairaw, something to think about.

[2019-07-11 14:52] eiriktsarpalis commented on #39295
OK, I'm repro'ing now.

[2019-07-11 15:04] mjrousos commented on #39363
That makes sense; thanks, @stephentoub. I'll take a look and see what else, if anything, is missing since `TraceListener.Attributes` wasn't present when these types were originally ported to .NET Core.

[2019-07-11 15:17] Gnbrkm41 commented on #34314
Yay, finally!
Thanks ♥️

[2019-07-11 15:36] realdevhl commented on #38163
Can we consider making this a 3.0 milestone?  A library with private or internal setters can't deserialize anything without it.  If you deserialize something from a source which you do not control, it makes sense to have private or internal setters.

[2019-07-11 15:37] ericstj commented on #39385
I believe this is a duplicate of https://github.com/dotnet/corefx/issues/34190, which is actually a tooling issue that will be addressed in https://github.com/microsoft/msbuild/issues/4488.  MSBuild used to crack open the source file and parse it to find the type name and namespace and it isn't doing this anymore.  https://github.com/microsoft/msbuild/issues/4488 will fix that.

[2019-07-11 15:37] #39385 closed

[2019-07-11 16:00] cston opened #39393 "Allow for some variance in Microsoft.VisualBasic.Tests.FinancialTests"
See https://github.com/dotnet/corefx/pull/39391/files#r302621690

[2019-07-11 16:09] MichalStrehovsky opened #39394 "System.Native not compatible with macOS 10.12"
System.Native references the utimensat API that was only introduced in macOS 10.13.

https://github.com/dotnet/BenchmarkDotNet/issues/1195#issuecomment-510549672

There's also:

[code]

Which is probably in the same bucket.

Note that this was found in CoreRT, but I don't have a reason to doubt this is a problem for CoreCLR as well.

[2019-07-11 16:39] layomia commented on #37565
@martincostello are you still seeing the `StringValues` issue now that https://github.com/dotnet/corefx/pull/39001 is in?

[2019-07-11 16:56] martincostello commented on #37565
@layomia I haven't tried it out yet - I was waiting for the "official" preview 7 to drop.

[2019-07-11 17:00] eiriktsarpalis commented on #39295
Comparing with the v1.1 implementation it seems like I need to adapt the logic found [here](https://github.com/dotnet/corefx/blob/ccf9ccfc38922cfe1c6eaa568e83b09119a2dd6b/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs#L714-L718) to this [handler](https://github.com/dotnet/corefx/blob/ccf9ccfc38922cfe1c6eaa568e83b09119a2dd6b/src/System.Net.Http/src/System/Net/Http/Sock

[2019-07-11 17:06] rjmholt commented on #39364
In case anyone else (admittedly not many others writing login shells on .NET) wants a starting point for how to do this:

[code]

Based on https://gist.github.com/nonowarn/770696#file-getargv-c.

[2019-07-11 17:08] davidsh commented on #39295
Probably. If you decide to fix that as part of this PR, please add more tests to validate that fix.

[2019-07-11 17:17] safern commented on #24525
I was able to get a a local repro when running the tests in a loop, it repro every 100 runs aprox. I assigned myself to gather a dump and look at what test is causing it and investigate why.

[2019-07-11 17:19] buyaa-n opened #39397 "JsonElement.WriteValue(writer) writing wrong characters for invalid surrogate pairs"
I assume it should throw for invalid surrogates, so wrote the tests throwing ArgumentException.
Whatever i believe that it souldn't write unexpected values. For both tests the written values were `"\\ufffd\\ufffd\\ufffd"` instead of `"\\udc00\\ud800\\ud803"` or throwing
[code]

[2019-07-11 17:19] eiriktsarpalis commented on #39295
Is divergence of behaviour compared to the 1.1 implementation acceptable?

[2019-07-11 17:25] davidsh commented on #39295
The exception should only be wrapped as it emanates from the HttpClient APIs. It doesn't get wrapped right away from those HttpContent methods.  Perhaps it would be best to focus on that change separately and with a specific test case so that we can better understand what behaviors might change.

[2019-07-11 17:27] mburbea commented on #39397
+uFFFD is the invalid character replacement symbol  `�`. Invalid UTF sequences should either be an error or correctly return the character replacement symbol.

[2019-07-11 17:33] jkoritzinsky commented on #39394
CoreFX should add this block (from CoreCLR) into their CMake configuration files to set the minimum MacOS version they need to support:

https://github.com/dotnet/coreclr/blob/eff4feaa164ea7b6644fa7fb37f8238184de4cbc/configurecompiler.cmake#L527-L533

[2019-07-11 17:37] suthrams commented on #38895
@stephentoub  can you give us an update if you were able to repro and confirm this issue and need more info from me.

[2019-07-11 17:49] nguerrera commented on #38354
That `catch { return false; }` is sloppy. Thanks to that, nobody will be able to find the problem if we can't get https://github.com/dotnet/core-setup/issues/7137 fixed. Saying that there are no tests discovered when there was actually a parsing bug in the code is most unfortunate.

[2019-07-11 18:06] krwq commented on #39377
@am11 I've done it with just regex: `\{[^\d]\}` but that works too

[2019-07-11 18:19] danmosemsft commented on #39389
Looks like this test is missing the retries we do elsewhere for Win7.
`Assert.True(eventLog.Entries.Count >= 0);` should probably be something like
[code]

[2019-07-11 18:24] ViktorHofer commented on #39394
Am I missing something here? We don't support macOS <= 10.13

[2019-07-11 18:27] ViktorHofer opened #39401 "Several network tests fail on Debian 10 with authentication error"
We want to get down to zero test failures on rolling builds for 3.0. Looking at the rolling builds results we currently have 64 test failures. Most of them are authentication errors on Debian 10.

https://dnceng.visualstudio.com/public/_build/results?buildId=260574&view=ms.vss-test-web.build-test-results-tab

cc @wfurt @davidsh @stephentoub

[2019-07-11 18:28] danmosemsft commented on #39394
@leecow

[2019-07-11 18:30] jkoritzinsky commented on #39394
I thought we still supported macOS 10.12, but it looks like my info is out of date. In any case, that CMake block (updated to 10.13) would allow CoreFX to build on a newer macOS version without having to worry about targeting issues (so things won't break when the macOS version of the build machines changes).

[2019-07-11 18:32] ViktorHofer commented on #39394
cc @safern as he has more knowledge on that

[2019-07-11 18:34] MichalStrehovsky commented on #39394
https://github.com/dotnet/core/blob/master/release-notes/3.0/3.0-supported-os.md#macos

Looks like it's 10.13+.

We can close. Sorry for confusion.

[2019-07-11 18:34] #39394 closed

[2019-07-11 18:38] GrabYourPitchforks commented on #39247
I'm a little confused. If you already have a variable for "actual length of the data", then doesn't that mean that you _already_ have data in some `Memory<T>`, and you could pass that instance down to the code you're calling? `MemoryPool`, just like `ArrayPool`, returns a scratch buffer with no existing data inside it, so I'm having trouble wrapping my mind around what "actual length of the data"

[2019-07-11 18:42] benaadams commented on #39247
I assume it means; `ArrayPool` returns the requested size or larger; however since `MemoryPool` returns `Memory<T>` it could slice prior to the return to always return the requested size (rather than or greater)

[2019-07-11 18:51] krwq commented on #34314
Thanks @ViktorHofer!

[2019-07-11 19:05] vicrdguez commented on #39139
No problem @ericstj  I totally understand that. Im know finishing and I'm about to commit!
Thanks

[2019-07-11 19:34] davidsh commented on #39401
Isn't this the same as #38444?

[2019-07-11 19:37] ViktorHofer commented on #39401
Right, closing as dupe of https://github.com/dotnet/corefx/issues/38444

[2019-07-11 19:37] #39401 closed

[2019-07-11 19:44] Tratcher opened #39404 "Bidirectional HTTP/2 streaming truncates the request body if the response ends"
RE: https://github.com/dotnet/corefx/issues/38559. There's also a functional issue where as soon as the client disposes the response stream no future request data frames are sent to the server. The server eventually times out and aborts the connection.

@stephentoub @geoffkizer

This is happening with Microsoft.NETCore.App 3.0.0-preview8-27904-06.

Flow:
- Client sends headers, Expect 100-Continue

[2019-07-11 19:45] Mrxx99 opened #39405 "WPF Keyboard InputBinding not working on non-english system language"
When using Inputbindings in XAML with for a Keyboard shortcut, there is an System.ArgumentException that the requested value for [localized name of a keyboard key] was not found.
Everything works fine if I change my system language to english.

Minimum working example can be found here: https://github.com/Mrxx99/WpfCoreKeyboardTest

Reproduction Steps:
1. Change your system language to something n

[2019-07-11 19:53] ViktorHofer commented on #38444
Tomas have you had time to diagnose this further? We still have a large amount of failing tests because of this in our rolling builds and need to drive them down for 3.0. Thanks

[2019-07-11 19:56] davidsh commented on #38444
Could it be related to #39384 39372

[2019-07-11 20:00] vicrdguez commented on #39139
@ericstj I've tried to run the tests in the command prompt since I can't run them in VS,but about 45 tests failed. I don't usually commit changes with this uncertainty but I know you are hurry and I think (and hope) the code is correct.

Let me know if there is something to be fixed.
Thanks!

[2019-07-11 20:10] venkatrv commented on #39382
I am actually referring the Web Service in my .NET Core project, using Connected Services option( adding service references in project)
If I have REST API, then I could have followed the above approach.
my case is similar to  WCF client calling a WCF service. so here instead of WCF client, I am using .NET Core. This works fine when no proxy configured. But fails with 407 error when proxy is config

[2019-07-11 20:10] ViktorHofer commented on #39336
Ok found the reason for that. When using msbuild an older SDK is used which doesn't support the `RuntimeFrameworks` parameter in the `GenerateRuntimeConfigurationsFiles` task which therefore produces an empty runtimeconfig.json file. I don't know if there's a way to make msbuild use the preview SDK, @ericstj?

I recommend to install the .NET Core SDK >= 3.0.0-preview6 as described here https://git

[2019-07-11 20:13] ViktorHofer commented on #39139
How do you run tests inside VS? With the VS Test Explorer? The error that you posted indicates that you are using a wrong dotnet host which would happen if use VS Test Explorer without launching VS from command line, see: After some testes and re installing everithing, thats what I get when trying to run tests:

[2019-07-11 20:15] davidsh commented on #39382
similar issue is being discussed here:

In general, credentials are never "automatically" sent to either a proxy server or a destination server. Thus, you will always get a 407 or 401 if you don't pass credentials.

For enterprise scenarios, many proxy servers use Windows authentication schemes like Negotiate or NTLM. So, the credential to be passed to the proxy could be the "current" logged on us

[2019-07-11 20:17] JeremyKuhne commented on #39307
While we agreed that making it public would be a good thing the question was brought up about composing on currently available converters.

You can check the added converters in the current `JsonSerializerOptions.Converters` in the `Read`/`Write` methods and you can look for any registered converter with `JsonSerializerOptions.GetConverter()`.

It doesn’t make much sense to add the options to `Can

[2019-07-11 20:21] JeremyKuhne opened #39408 "Make all Json converters public"
It is difficult to compose new converters based on in-box functionality. You're currently stuck creating an new `JsonSerializerOptions` and calling `GetConverter()` on it to get built-in converters. We should look at making our built-in converters public in the next release.

See:
https://github.com/dotnet/corefx/issues/39307#issuecomment-510638290

[2019-07-11 20:34] CreepyGnome commented on #23686
Wait this is only going to be fixed in 3.0? This seems like it should be patched back into 2.x at least 2.2.x Seems safe to patch back implementations like this. I mean hacking the extension methods into the code kind of sucks.

[2019-07-11 20:41] vicrdguez commented on #39139
@ViktorHofer I get that error right clicking in a test method and and then clicking in run tests.
But I see following your instructions I can launch the process.
Whats the difference about the host version between launching vs form command line or not?
Just curious about it

[2019-07-11 20:49] ViktorHofer commented on #39139
That is using VS Test Explorer. As described, this only works when launching VS from the CLI.

When launching VS from the CLI, we override the PATH property and a few other environment variables temporarily to point to our own built dotnet hive which contains the live built shared framework. If you use VS normally it would use the dotnet host from the dotnet hive at the default location (on Window

[2019-07-11 20:56] am11 commented on #39377
It was just to capture mixed cases like `{123abc}`, `{abc123}`, `{123 abc456 xyz}` etc.

[2019-07-11 21:04] bartonjs commented on #23686
2.1, as LTS, effectively only gets security fixes and fixes required to keep the product stable as OSes change out from under it.

2.2 goes out of support in December.

[2019-07-11 21:06] GrabYourPitchforks opened #39410 "API proposal: Allow JavaScriptEncoder to have relaxed escaping rules"
There are a few outstanding work items (mostly being tracked by https://github.com/dotnet/corefx/issues/37192 and issues linked from there) where for particular scenarios it would be ideal for the JSON serializer to relax the default escaping restrictions a bit.

## API Proposal

[code]

## Existing behavior

The `JavaScriptEncoder` type currently has the following logic to determine what Unicode

[2019-07-11 21:28] tarekgh commented on #39410
@GrabYourPitchforks I assume this is needed for System.Text.Json. Usually we tag any issue with only one area tag for reporting purpose. if you are ok, which area tag we should remove? I would say keep only area-System.Text.Encodings.Web.

[2019-07-11 21:29] GrabYourPitchforks commented on #39410
@tarekgh If we need to keep only one label, keep _System.Text.Encodings.Web_.

[2019-07-11 22:12] pranavkm opened #39413 "JsonSerailizer.SerializeAsync truncates Json output"
Repro steps

1) Clone https://github.com/pranavkm/json-truncate
2) Run the project

Expected:

The results of `JsonSerializer.Serialize` and `JsonSerializer.SerializeAsync` should be identical.

[2019-07-11 22:14] CreepyGnome commented on #23686
So what you are saying is there is plenty of time to get the fix into 2.2!!

So Maybe should be re-opened so that can be done. As more people will be using 2.2 for a while before they jump to 3.0 and 2.0/2.1 people may be more likely to jump to 2.2 for a fix like this than to go to 3.0 for an already released application.

[2019-07-11 22:22] Tratcher commented on #39404
Ah, that last write gets an error:
[code]

[2019-07-11 22:37] bartonjs commented on #23686
@CreepyGnome In general, we don't backport features.  But, I'll ask:

@danmosemsft Since you'd be part of the approval process and you were pushing (or, at least, nudging) to get this fixed for 3.0, wanna weigh in?

[2019-07-11 22:43] bartonjs commented on #39372
I ran the tests (without the "disable this check" commit) on my Ubuntu 18.04 machine, confirmed it's loading OpenSSL 1.1.0 (which added codes 44-72), and don't get a repro.

That was with `../../../../.dotnet/dotnet msbuild /t:BuildAndTest` from System.Net.Http/tests/FunctionalTests, in case I'm not actually trying the right thing...

[2019-07-11 22:45] geoffkizer commented on #39372
Run them with /p:Outerloop=true

[2019-07-11 22:45] bartonjs commented on #38444
Shouldn't be.  That would be an assert (in debug builds) or a default `CryptographicException`.  This one is interpreting an error state from OpenSSL: `Interop+Crypto+OpenSslCryptographicException : error:141E70BF:SSL routines:tls_construct_client_hello:no protocols available`

[2019-07-11 22:54] bartonjs commented on #39372
Oh, yep, that did it.

[2019-07-11 23:07] ericstj commented on #39336
What if we set the SDK value in our global.json?  I *think* msbuild would honor that.  AspNet does it https://github.com/aspnet/AspNetCore/blob/b395c2e734800ca2f0b795a170c237bc3c8ef254/global.json#L3 /cc @nguererra

[2019-07-11 23:19] geoffkizer commented on #39372
Can you tell which test this is happening during?

[2019-07-11 23:28] geoffkizer commented on #39404
We're disposing the entire Http2Stream when you dispose the response body stream. That's not correct.

[2019-07-11 23:35] pranavkm opened #39416 "Add a JsonAttribute to allow null-value handling on a per-property basis"
The ask is for an attribute that does the equivalent of `JsonSerializerOptions.IgnoreNullValues` on a per property basis.

[2019-07-11 23:41] danmosemsft commented on #39377
`String.Format` throws FormatException if there are more replacement markers than supplied replacements, but does not and has never thrown if there are fewer markers. (For some reason)

So if some `{0}` etc are missing, I would not expect `String.Format` to throw.

In other projects, I've sometimes had a `Debug.Assert` at the point we do the `String.Format` that asserts that there are not fewer re

[2019-07-11 23:44] danmosemsft commented on #39377
BTW, I see these strings look the same in .NET Framework. So if there is a bug here, and it's not intentional in some way, I do not believe this meets the bar for 3.0 at this point.

[2019-07-11 23:47] danmosemsft commented on #39405
@Mrxx99 I think this should probably go to the WPF team. Do you agree? If so could you please move the issue to dotnet/wpf?

[2019-07-11 23:49] tarekgh commented on #39405
Issue moved to [dotnet/wpf #1231](https://github.com/dotnet/wpf/issues/1231) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-11 23:49] #39405 closed

[2019-07-11 23:56] buyaa-n commented on #39397
Good point, not sure how valid to replace all chars, 1st pair is valid surrogate pair.

Anyways I assume it should throw as Utf8JsonWriter is throwing in this case

[2019-07-12 01:16] danmosemsft commented on #23686
@creepygnome as @bartonjs says, we aren't planning to back port any features. 3.0 release is not far off now and previews are available to use today.

[2019-07-12 01:34] bartonjs commented on #39372
Not yet.  I removed the assert expecting the CryptographicException after it to be thrown, but only one test failed then (it claimed it was cancelled, IIRC?).  I changed it to a PNSE to see if that would light things up, but had to leave before I could see the results.

[2019-07-12 01:35] stephentoub opened #39420 "Dropped HTTP/2 response / response streams remain rooted"
SocketHttpHandler's Http2ReadStream doesn't have a finalizer to handle the case where the caller drops the stream without disposing of it.  But even if it did, it wouldn't be called today, because the response stream remains rooted: Http2Connection maintains a strong table of all active Http2Stream instances, each of which has a strong reference to its HttpResponseMessage, which has a strong refer

[2019-07-12 01:54] stephentoub commented on #39416
I'm marking this as Future.  If that's not correct, please add more details.

[2019-07-12 02:05] stephentoub commented on #37997
Thanks, @tmds.  @karelz, @wfurt, what do you want to do with this?

[2019-07-12 02:33] CreepyGnome commented on #23686
So @danmosemsft what you are saying is that 2.2 is not going to get **ANY** features backported, which would be the only type of features it could get since 3.0 is on the way soon, which means it is not really in typical full support until December as previously stated, but actually in security only fix mode like LTS.

If a fully support version will not get new features it's not really fully supp

[2019-07-12 02:40] danmosemsft commented on #23686
@creepygnome I hear you. I believe that's actually the policy we have always had, of making bug fixes to released products and focusing feature development on the upcoming release rather than dividing resources between them. @terrajobst do you have more context to add here?

[2019-07-12 02:42] davidsh commented on #37997
These recently added APIs were done for .NET Core 3.0. We need to fix this before we ship .NET Core 3.0.

[2019-07-12 02:54] CreepyGnome commented on #23686
@danmosemsft My understanding of the official support policy for .NET Core seems to state fairly clearly that the window is open to still add features to 2.2.

(https://dotnet.microsoft.com/platform/support/policy/dotnet-core)

_Emphasis add_

It clearly states that FEATURES and compatible innovations are not closed on the CURRENT release. The current release is .NET Core 2.2. which has support en

[2019-07-12 03:27] venkatrv commented on #39382
Yes, but I am using proxy class generated by the "Microsoft WCF Web Service Reference Provider". There is no API/Property exposed for met to set the CredentialCache.DefaultCredentials.
The same works, if I use .NET Framework client and with the config file setting:
<system.net>
    <defaultProxy useDefaultCredentials="true" >
    </defaultProxy>
  </system.net>
But the same is not possible with .N

[2019-07-12 04:07] davidsh commented on #39382
.NET Core does not have global config files/settings.

However, we did add a new API for .NET Core 3.0.

[code]

This allows you to do something like this which replaces the global config setting with .NET Framework <system.net> config.

[code]

See: PR #37333 and Issue ##36553 for discussion.

[2019-07-12 04:31] foxjazz opened #39422 "Behavior differences between fileInfo and reading length"
[RepoSteps](https://github.com/evetoolsblue/WritingShared)
Tested on Windows 10

[2019-07-12 05:31] mikedn commented on #39422
At least on NTFS, `FileInfo` contains the file length from the file's directory entry. That length is usually only updated when the file is closed and so it may contain stale information if you keep the stream opened.

[2019-07-12 05:39] #39336 closed

[2019-07-12 05:59] shutdown256 commented on #39247
@GrabYourPitchforks in my case I have a PipeReader and I know that I will read n continuous bytes then pass them upstream for further processing.

[2019-07-12 06:10] wfurt commented on #37997
I don't think the addition matters that much @davidsh. You can have yet another protocol number and that will behave different way on Unix and Windows. (like the example with 12345) I'm not aware of any practical impact so this will probably not meet 3.0 bar.

[2019-07-12 06:17] wfurt commented on #39372
note, that most Linux images now run as container. It should be trivial to get _exactly_ same image (get tag from eng/pipelines/linux.yml)

[2019-07-12 06:31] geoffkizer commented on #39420
Yuck. Thanks for finding.

We need a reference from Http2Stream->HttpResponseMessage while we are processing response headers. This is fine, since as long as we're still waiting for headers to arrive, SendAsync hasn't completed yet.

Once we receive the response headers, I think we can drop the reference to the HttpResponseMessage. There may be some trickiness with trailing headers here, but I thi

[2019-07-12 06:35] geoffkizer commented on #39404
We have deeper problems here, unfortunately. We're removing the Http2Stream from the stream dictionary when we receive EndStream on the response body (and similar). This code was written before we implemented duplex support, so it's assuming that the end of the response stream means the end of the entire stream.

We need to change the logic here to keep the stream alive until both the request body

[2019-07-12 07:02] geoffkizer commented on #39372
It could be that the exception just isn't getting surfaced, and then the test is hanging until the HttpClient default timeout kicks in, which is why it's reported as a cancellation. We see this fairly often with test issues with async code.

If you can tell me which test it is that's timing out and getting cancelled, that should help narrow things down.

[2019-07-12 07:03] venkatrv commented on #39382
Thank you for understanding the issue.
So, In the  .NET Core 2.2
 I will not be able to make web service calls, which requires proxy credentials.
 Proxy throws 407 error always as .NET Core 2.2 has no mecahsnim to send proxy credentials while making web service calls

I will wait for .NET Core 3.0 for this issue to be addressed.
Or please let me know if you have any way forward or workaround with

[2019-07-12 07:09] Evangelink commented on #39378
@pinkfloydx33 I have to admit I didn't read MSDN, sorry about that!

I am still not sure to understand why it's working when used like `CustomAttributeExtensions.GetCustomAttributes(property, true)`. If it's really ignoring the `inherit` parameter for `PropertyInfo` it should behave the same when not used as extension method, shouldn't it?

[2019-07-12 07:44] scalablecory commented on #39382
It looks like the issue here is not so much how to supply proxy info to `HttpClient`, but to the WCF Connected Service.

I found an [issue 3551](https://github.com/dotnet/wcf/issues/3551) on the WCF repo for this.

[2019-07-12 07:51] tmds commented on #37997
It's not major, this is the practical impact:
- `AddressFamily` values can no longer match with Windows `AF_xxx` values for values `30` and higher. So if such values are added, they will need some mapping (like we do on non-Windows).
- `SocketAddress` should throw on PNSE on Windows for these new values, which it doesn't.

[2019-07-12 08:08] pinkfloydx33 commented on #39378
I'm pretty sure that you're not calling the same method in both versions of your code.  `PropertyInfo` (via `MemberInfo`) has an instance method `GetCustomAttributes`. That is what you're calling with the latter form whereas you're explicitly invoking the extension method (which calls `Attribute.GetCustomAttributes`) in the former.

[2019-07-12 08:58] #38788 closed

[2019-07-12 09:42] tmds commented on #38354
The error message hints there is some issue:

What's also unfortunate is `dotnet test` [returns a zero exit code](https://github.com/microsoft/vstest/issues/2079#issuecomment-507721633). So in CI, these tests looks like they are passing.

[2019-07-12 12:37] stephentoub commented on #39420
Yes, though my guess is we wouldn't drop it outright but would instead convert it to a weak reference.

[2019-07-12 12:48] foxjazz commented on #39422
It Looks like for clarity, FileInfo and Read.Length only sync up after a flush.

[2019-07-12 12:48] #39422 closed

[2019-07-12 13:13] steveharter commented on #39410
Capturing this thought: we should consider adding a fast mode for S.T.Json that can detect this mode and\or determine what the ascii encodings are and use those in a fast mode.

Background:
There is a fast implementation of ascii encoding in S.T.Json that executes in 70% of the time than S.T.Encodings.Web ascii after this [PR](https://github.com/dotnet/corefx/pull/39415) is in -- so if it takes 10

[2019-07-12 13:29] geoffkizer commented on #39420
Why a weak reference?

[2019-07-12 13:37] stephentoub commented on #39420
Because you need to be able to access it to set trailers.

[2019-07-12 13:53] geoffkizer opened #39427 "HTTP2: Race in processing trailing headers"
For HTTP2, we are processing trailing headers in Http2Stream.OnResponseHeader. This is called when we receive a HEADERS frame. We directly add any trailing headers to the associated HttpResponseMessage's TrailingHeaders collection. This means we're modifying the TrailingHeaders collection while another thread may be examining it.

In #34912, we agreed that trailing headers would not be added to th

[2019-07-12 13:56] geoffkizer commented on #39427
In practice, I think we will need to store the trailing headers in a temporary List<> or similar and then only add them to the TrailingHeaders collection when the user reads to end of stream. This isn't ideal, but I don't see any better way to handle this. TrailingHeaders are rare enough that I don't think it's worth worrying about.

[2019-07-12 13:57] geoffkizer commented on #39420
I think we have other issues with trailing headers and HTTP2, unfortunately. See #39427.

If we change trailing header processing as I suggest in that issue, then I think we can avoid holding on to the HttpResponseMessage after SendAsync completes.

[2019-07-12 14:14] stephentoub commented on #39420
You still need to be able to get the headers into the TrailingHeaders collection at the end. Either we do that via the response message, in which case it needs to be a weak reference, or we do it by holding onto the collection itself and validate that that collection doesn't have a back reference.

[2019-07-12 14:16] geoffkizer commented on #39420
We can hold on to it on the response stream object. That's what we do for HTTP/1.1.

[2019-07-12 14:19] stephentoub commented on #39420
How do you get to the response stream object? Or you're saying the response stream would pull in the headers at the end? Seems reasonable.

[2019-07-12 14:20] geoffkizer commented on #39420
Yes, when the response stream gets EOF from an attempt to read, it should then populate any trailing headers on to the HttpResponseMessage object.

[2019-07-12 14:38] bartonjs commented on #39372
[code]

was the only failure with a CryptographicException.

None failed when it was a PlatformNotSupportedException.

[2019-07-12 14:43] geoffkizer commented on #39372
That is very strange. You may be seeing an unrelated timeout issue.

Do you have a PR for the fix to not assert? That would at least help me diagnose this.

[2019-07-12 14:52] bartonjs commented on #39372
Yay, caught it (one?) with `-parallel none -verbose`:

[code]

Commenting out the assert in OpenSslX509ChainProcessor.cs lets the tests finish, but it shouldn't be checked in that way.

[2019-07-12 14:56] bartonjs commented on #39372
And then I wiped out my CRL cache and ran the test and it passed; so now I get to let the repro try to come back.  Sigh.

[2019-07-12 15:28] ericstj commented on #39397
@steveharter do you think this will change with your escaping work?

[2019-07-12 15:28] ericstj commented on #39373
@layomia can you have a look?

[2019-07-12 15:29] programcsharp commented on #23426
Another vote here. And please backport to full framework HttpClient to ward off reflection based solutions like: https://stackoverflow.com/questions/39689858/how-to-use-httpclient-to-send-a-request-from-a-specific-ip-address-c-sharp

[2019-07-12 16:06] nguerrera commented on #39410
I can't tell how '/' will be handled from above. Will it be allowed?

[2019-07-12 16:18] stevef51 commented on #32024
I have this issue with the following setup ..

- OSX Host
- VSCode 1.36.1
- Docker 2.0.0.3
- .NET Core 2.2.300

I am using VSCode's Dev-Containers, however the issue occurs if I F5 Debug from VSCode OR if I run the app direct from container terminal - it ofcourse does not always happen but its easily enough to be a right pain the in bum, only solution I have found so far is to quit VSCode.

My mic

[2019-07-12 16:25] bartonjs commented on #39372
Okay, now I understand the problem.

* revoked.badssl.com offers up a certificate.
* This certificate says that the CRL can be downloaded from one of two places: 1) http://crl3.digicert.com/ssca-sha2-g5.crl  2) http://crl4.digicert.com/ssca-sha2-g5.crl.
* We load the CRL from our CRL cache based on the CA name
* The CRL from the cache says "I should have been published at http://crl3.digicert.com/

[2019-07-12 16:27] ViktorHofer commented on #38677
I disabled these rules not because of a specific reason but to reduce the workload to initially enable the analyzer package. If you think that some of these rules are valuable you are very welcome to send a PR with the test changes.

[2019-07-12 16:28] ViktorHofer commented on #38677
I'm closing this meanwhile as there's no further work planned atm.

[2019-07-12 16:28] #38677 closed

[2019-07-12 16:39] #39295 closed

[2019-07-12 16:57] khaledsobhy83 commented on #35505
Are there any updates on this? I am having the same problem, getting random connection reset by peerer when there are many requests to an api hosted on IIS. Till now I could not find the root cause.

[2019-07-12 16:57] steveharter commented on #39397
I believe the semantics will be the same for this particular case -- the replacement character will be written and no exception will be thrown. I've noticed that in a few places where we throw today, the JavaScriptEncoder will write the replacement characters. I haven't yet hooked up the writer completely so I can't tell yet by the tests, but I believe an unpaired surrogate located at the end of t

[2019-07-12 16:58] #39413 closed

[2019-07-12 16:58] #39104 closed

[2019-07-12 17:11] karelz commented on #37997
I think we should try to address it and run it by shiproom.

[2019-07-12 17:12] karelz commented on #38799
Plan: Spend 1 more hour, then just re-enable.

[2019-07-12 17:22] eiriktsarpalis commented on #38799
I believe it's just a manifestation of the bug that was fixed in #39222. So I believe it's safe to re-enable.

[2019-07-12 17:35] krwq commented on #38748
To update this thread, the issue here is to provide unique identifier for the exception (i.e. in case user needs to suppress the schema warning) - ideally that would be a spec chapter. Currently we do not have info on the spec chapter when throwing an exception and that would be a bit of work to add that information. As a workaround we can reverse engineer the resource name for the exception messa

[2019-07-12 17:36] #38748 closed

[2019-07-12 18:01] sgf commented on #29932
im used TCP and tested the Disconnect(true); API on windows its very stupid.its will blocked call and take about 2 mins;
and im tried modify the Regedit path HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters
Added TcpTimedWaitDelay and set to 30,the result is no effect.
For Language competitive, performance is so important.
how socket performance will better at .net core 3.0 or

[2019-07-12 18:19] sgf commented on #29932
I found some of my concerns and issues you mention are not the same.
your's is reuse the connection.
my's is reuse the socket object(include handle and kernel's resources)

[2019-07-12 18:20] johnduhart opened #39431 "Event method parameter mismatch in DiagnosticSourceEventSource causes poor performance"
While testing the latest .NET Core 3.0 (`3.0.0-preview6-27804-01`), I noticed some odd behavior while running a ETW collection using PerfView. Performance of the application would drop significantly, and a the ETL showed a large amount of CPU time being spent in `Debugger.Log`.

![Load Test Results](http://i.jhd5.net/M/2019-07-12_12-01-35.png)

![PerfView Flamegraph](http://i.jhd5.net/M/2019-07-12

[2019-07-12 18:26] sgf commented on #25253
Performance is a big problem.
Even .Net core open source, but remains under the control of Microsoft.
ppl have to get permission from them. This is not conducive to. Development of the .net core.
If they ignore feedback, then we will have no way.

[2019-07-12 19:12] pranavkm opened #39433 "Consider adding support for UTF16 inputs to JsonSerializer"

[2019-07-12 20:04] mdolan92869 opened #39434 "Process.StartTime on macOS returns different values"
When getting the StartTime for a process, each time it's called for a new instance of the same process, it has a different value. I believe that the issue is in StartTimeCore where the native "now" time is retrieved, a bunch of arithmetic is performed, then the C# "now" time is retrieved. Since operations were between the two "now" calls, the "now" values will obviously be different, but they're u

[2019-07-12 20:06] mdolan92869 commented on #39434
In the attached code, the PID I was using was for Microsoft Outlook on my laptop. It was launched one time, but the StartTime drifted and no 2 consecutive calls got the same value.

[2019-07-12 20:13] ericstj commented on #35319
@marek-safar That doesn't do anything it's only validation.  It has to be there since System.Runtime.Caching exposes a NETStandard2.0 reference assembly.

Today System.Runtime.Caching supplies 3 implementations: netstandard2.0 (throws platformnotsupported), netcoreapp2.0-windows, and netcoreapp2.0-linux.

The options to make this work are one of two things:
1. Add a non-throwing implementation to

[2019-07-12 20:14] JeremyKuhne commented on #6681
Just failed again on OSX:

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39312~2Fmerge/test~2Ffunctional~2Fcli~2F~2F/20190712.23/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DualModeBeginAccept~2FBeginAcceptV4BoundToAnyV6_Success

[code]

[2019-07-12 20:21] danmosemsft commented on #39434
https://github.com/dotnet/corefx/blob/ef25246c7ea01a96cda8a464b4b717213e8d9685/src/System.Diagnostics.Process/src/System/Diagnostics/Process.OSX.cs#L53-L60

@mdolan92869 perhaps you'd like to attempt a fix?

[2019-07-12 20:25] jkotalik commented on #38156
I can try increasing the timeout to a large value, but I'm suspicious that will help. I'm going to add extra logs/diagnostics.

[2019-07-12 21:09] scalablecory commented on #38799
I'm able to repro the failure now, so looking at it.

[2019-07-12 21:11] olandese opened #39435 "DangerousAcceptAnyServerCertificateValidator delegated not working on Ubuntu 18.04"
# Issue Title

DangerousAcceptAnyServerCertificateValidator is ignored on Ubuntu 18.04 with .Net Core 2.2.301

# General
I'm using the HttpClient and the DangerousAcceptAnyServerCertificateValidator delegate in the HttpClientHandler but calling rest api with self-signed cerificate generated from a self-signed root certificate, I get the following error:

Error Message:
   System.Threading.Tasks.Ta

[2019-07-12 21:16] bartonjs commented on #39381
Another different failure on RS4:

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39430~2Fmerge/test~2Ffunctional~2Fcli~2F~2F/20190712.26/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Printing.Tests.PrintDocumentTests~2FDefaultPageSettings_Null_ReturnsExpected

[code]

[2019-07-12 21:25] stephentoub commented on #39427
I'm confused by the issue. Are you saying we add to the trailing headers after the steam returns EOF? We said that no one should read from TrailingHeaders until then, not that we would delay adding headers until then (though the latter would be an acceptable implementation).

[2019-07-12 21:35] davidsh commented on #39435
@olandese Can you please attach the test certificate to this issue so that we can attempt to repro the problem?

There is an interesting issue on Linux where self-signed certificates will NOT work at all because Linux requires the certificate to have additional X509v3 fields set that Windows doesn't require. This is a limitation of Linux and OpenSsl and not related to .NET Core. So, it's quite pos

[2019-07-12 21:40] tundeanderson commented on #23426
Unfortunately not

[2019-07-12 21:40] davidsh commented on #39435
Please see https://github.com/dotnet/corefx/issues/37282#issuecomment-488132215 for more info.

[2019-07-12 21:45] terrajobst opened #39439 "Mark Microsoft.Bcl.AsyncInterfaces & Microsoft.Bcl.HashCode as stable in Preview 8"
We have received requests that people would like to ship packages on top of these. Given that

1. They are done.
2. They are for .NET Standard 2.0 (rather than .NET Core 3.0) earlier is better than later.

/cc @ericstj @wtgodbe

[2019-07-12 21:48] olandese commented on #39435
sure, in which format you want them? the root and the actual certificate

[2019-07-12 21:54] davidsh commented on #39435
Based on the issue description, it was assumed there was a *single* self-signed certificate in use:

But there is actually two certificates in use? A root and a certificate derived from that? So, is the "root" certificate untrusted in some way?

Can you provide a complete repro for this?  For example, a runnable project that we can do an "dotnet run" on reproduce this problem?  Also, are you using

[2019-07-12 21:55] davidsh commented on #39435
And looking at your images of the certificates you provided, I'm wondering whether the use of SHA1 could be a problem on Linux.  SHA256 is recommended as the minimum for certificates.

[2019-07-12 22:01] olandese commented on #39435
Thank you for your feedback! I will ask to upgrade the encryption algorithm. But anyway, the delegate should suppress all of this "dangerous" things, I would assume.
The rest api is talking with a certificate derive from a self-signed root certificate.
As soon I put the root certiicate in the /usr/local/share/ca-certificates/ everything works fine.
I can provide you the sources, but it;s nothing m

[2019-07-12 22:04] ericstj opened #39441 "Improve performance of Package testing leg"
Related #35693

A couple ideas we can use to shorten this:
1. Do a sparse matrix of RIDs for all the older frameworks.  The self-contained restores and tests are really the longest part of this work.  We end up doing a dozen tests for each framework, all of which have to download the entire shared framework for those RIDs.
2. Pre-restore the framework packages on the build machine and add them to

[2019-07-12 22:06] #39037 closed

[2019-07-12 22:14] geoffkizer commented on #39427
That's my understanding of what we decided, yes. Specifically that TrailingHeaders would not be available until the stream returns EOF. See:

https://github.com/dotnet/corefx/issues/34912#issuecomment-461229594

We did this for several reasons:
(1) Avoid non-deterministic behavior with TrailingHeaders. We wanted to avoid a situation where the user doesn't read to EOF, but sometimes the TrailingHea

[2019-07-12 22:17] davidsh commented on #39435
In terms of your scenario, are you running both a client and a server?  What "server" is sending back that certificate?

The problem you're seeing could be a variety of issues. The only real way to diagnose this is a repro we can run that reproduces the problem. And the description from the blog article isn't specific enough for us to construct a run-able repro.

Other customers in the past have b

[2019-07-12 22:21] stephentoub commented on #39427
That all makes sense, I just interpreted the "will be available only after" to mean that's only when you could rely on them being there, not that they couldn't be there earlier. But as I said, I'm not against the change.

[2019-07-12 22:25] olandese commented on #39435
the derived certificate is running on an Azure API Management.
I will create and provide you a repo, or docker image to reproduce this behaviour

[2019-07-12 22:28] ericstj commented on #38354
@steveharter how much of your escaping PR addresses this issue?

[2019-07-12 22:48] #36087 closed

[2019-07-12 22:53] ericstj commented on #39381
And another: https://dev.azure.com/dnceng/public/_build/results?buildId=262860&view=ms.vss-test-web.build-test-results-tab&runId=7071116&resultId=100224&paneView=debug

[2019-07-12 22:55] #39207 closed

[2019-07-12 23:00] terrajobst commented on #23686
@CreepyGnome

I think you're reading the policy slightly wrong. .NET Core 2.2 is a current release. The wording you quoted is contrasting LTS to CURRENT. And yes, CURRENT *may* add features. However, just because we shipped a .NET Core 2.2 doesn't mean *we will* backport all new features from .NET Core 3.0 to .NET Core 2.2 or that there will be .NET Core 2.3. This wouldn't make any sense.

That be

[2019-07-12 23:11] terrajobst commented on #38861
Damn that sucks :-(

@ViktorHofer would you mind submitting a PR that adds them [to this file](https://github.com/dotnet/platform-compat/blob/master/etc/net461.csv)?

[2019-07-12 23:51] danmosemsft commented on #23686
As mentioned above, as I understand it this seems to me this is not impactful enough to warrant servicing existing product for because it is not severe, there are partial workarounds and it would only be useful for a few months.

[2019-07-12 23:57] JeremyKuhne commented on #39389
Hit again on Windows.7.Amd64.Open-x64-Debug:

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F39275~2Fmerge/test~2Ffunctional~2Fcli~2F~2F/20190712.39/workItem/System.Diagnostics.EventLog.Tests/analysis/xunit/System.Diagnostics.Tests.EventLogTests~2FGetEventLogEntriesTest

[2019-07-13 00:04] GrabYourPitchforks opened #39445 "JavaScriptEncoder shouldn't escape '/' by default"
There's no need for the `JavaScriptEncoder` type to escape the `/ (U+002F SOLIDUS)` character by default. It's not ECMAScript-sensitive (per ECMA-262) or JSON-sensitive (per RFC 8259). Additionally, given that the default encoder already forbids HTML tag characters (`<>`) from ever being added to the allow list, the `/` character isn't HTML-sensitive in a manner that would cause us concern.

Speci

[2019-07-13 00:05] GrabYourPitchforks commented on #39410
I agree with this. I have a few gists that were attempting to solve this problem, but I have no cycles to get to this in the 3.0 timeframe.

@nguerrera We've been discussing adding `/` to the default allow list so it will go through as-is unescaped. I opened https://github.com/dotnet/corefx/issues/39445 to clarify matters.

[2019-07-13 00:32] danmosemsft commented on #35319
@marek-safar at this point you should also make a call whether this is necessary work for 3.0 as we will lock down shortly. If not, feel free to move to Future.

[2019-07-13 00:55] bartonjs commented on #23686
My neural net says that this is a feature and that our servicing bar doesn't allow backporting features (except for things like enabling new TLS versions).

If the bar was that 2.2 could get it but 2.1 couldn't, I'd say that at this point it doesn't matter enough (I don't think it'd make it into a 2.2 release before September, at which point 3.0 is right on its heels and 2.2's EoL is approaching).

[2019-07-13 01:44] davidfowl commented on #38156
Haven't seen it fail in a while

[2019-07-13 01:55] #39372 closed

[2019-07-13 02:27] danmosemsft commented on #39389
@anipik

[2019-07-13 02:32] stephentoub commented on #39374
Reopening to track re-enabling the test

[2019-07-13 04:07] #39013 closed

[2019-07-13 10:32] sgf commented on #23401
HttpClient is very slow, some open source projects based on the underlying httpClient are being criticized.

such as the project https://github.com/ThreeMammals/Ocelot

its performance lower much for project https://github.com/Kong/kong

[2019-07-13 10:44] stephentoub commented on #23401
@sgf, you've been going around commenting on a variety of issues, making broad negative claims about performance, with nothing to substantiate those claims. If you're hitting a performance issue, please open a new issue that includes a repro of the problem and specifics about what the exact problem is.

[2019-07-13 10:49] tkp1n commented on #10013
I consolidated the different proposals and comments made in this discussion and came up with the following API. I also provide a sample implementation (internally utilizing AVX2, SSE4.1, SSSE3, SSE2 or Scalar/Lookup with the following [performance characteristics](https://github.com/tkp1n/HexMate#performance-characteristics)) of the API to experiment with via a seperate GitHub repository and nuget

[2019-07-13 12:57] vicrdguez commented on #39139
I've just commited new changes, waiting for review

[2019-07-13 12:58] vicrdguez commented on #39139
@ViktorHofer I could run tests with F5 (green arrow) but for me, failed to run VS from command line with this error:

`.\build.cmd -vs System.Text.Json -arch x64`
[code]

[2019-07-13 13:18] ViktorHofer commented on #39139
Then you are not on latest master. This feature was merged about two days ago.

[2019-07-13 14:10] oddstr13 commented on #29716
This 10 years old article describes a currently ongoing IPv6 peering dispute between Cogent and Hurricane Electric; https://www.datacenterknowledge.com/archives/2009/10/22/peering-disputes-migrate-to-ipv6

So the issue isn't so uncommon to stumble over in the wild, unfortunately.

Any progress on the implementation of happy eyeballs or similar mechanisms?
Or would it be best to try to deal with th

[2019-07-13 14:20] #34632 closed

[2019-07-13 14:25] TechnikEmpire commented on #23401
Ohhh snap got called out sup dog

[2019-07-13 14:57] GSPP commented on #10013
I think we should demonstrate a need for inserting line breaks first. I am not aware of any common scenario where this would be used. If this feature is added then the line length must be variable. I cannot imagine any fixed line length to be appropriate.

By default, the parsing routines should be maximally strict. This means *no* support for whitespace or any separator. When we parse data we gen

[2019-07-13 15:02] GSPP commented on #34632
Silently coercing `(string)null` to `""` is dangerous. The change to emit `null` is appropriate.

[2019-07-13 15:22] stephentoub commented on #25253
@sgf, you've been going around commenting on a variety of issues, making broad negative claims about performance, with nothing to substantiate those claims. If you're hitting a performance issue, please open a new issue that includes a repro of the problem and specifics about what the exact problem is.

[2019-07-13 15:28] stephentoub commented on #29932
its will blocked call and take about 2 mins;

@sgf, I'm not clear on what your comments have to do with this issue. If you're facing what you believe is a performance issue with Disconnect, please open a new issue specific to that, including a repro we can run to see the behavior you discuss. Thanks.

[2019-07-13 17:26] benaadams opened #39451 "Test ArgumentNullException JsonElementWriteTests.WriteNullStringAsProperty"
`netfx-Windows_NT-Release-x86-Windows.10.Amd64.ClientRS5.Open`

System.Text.Json.Tests.JsonElementWriteTests.WriteNullStringAsProperty(indented: True)
System.Text.Json.Tests.JsonElementWriteTests.WriteNullStringAsProperty(indented: False)
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=264150&view=ms.vss-test-web.build-test-results-tab

/cc @bartonjs

[2019-07-13 17:57] sgf commented on #29932
i will do that,open new issue for the Disconnect.

[2019-07-13 18:01] sgf commented on #23401
Thank you for your reminder.
The work of the .net core team is very good and very amazing. It is advisable to be appreciated and encouraged.

But isn't the issue used to give feedback?
Do you want people to post any appreciation and praise in the channels that were originally used for feedback?

The purpose of replying to some issues is simply to let the community administrator not easily ignore s

[2019-07-13 18:02] sgf commented on #25253
Thank you for your reminder.
The work of the .net core team is very good and very amazing. It is advisable to be appreciated and encouraged.

But isn't the issue used to give feedback?
Do you want people to post any appreciation and praise in the channels that were originally used for feedback?

The purpose of replying to some issues is simply to let the community administrator not easily ignore s

[2019-07-13 18:09] sgf commented on #25253
Some words are not very good, but there are such things happening around me (for example, the people around me have been transferred from .net to java in recent years. There are many reasons for this because the ecology of .net is not good enough, or Performance is not high enough). As an ordinary .net developer, I am a little anxious, and I hope that .net is getting better and better.

[2019-07-13 18:09] sgf commented on #23401
Some words are not very good, but there are such things happening around me (for example, the people around me have been transferred from .net to java in recent years. There are many reasons for this because the ecology of .net is not good enough, or Performance is not high enough). As an ordinary .net developer, I am a little anxious, and I hope that .net is getting better and better.

[2019-07-13 18:27] TechnikEmpire commented on #23401
As someone who lives in .net land both at work and at home, if you're getting generally bad performance with .net, its your programming skills, not the platform.

[2019-07-13 18:56] cston commented on #38053
% dotnet xunit.console.dll System.Linq.Expressions.Tests.dll -xml testResults.xml -nologo -nocolor -notrait category=nonnetcoreapptests -notrait category=nonlinuxtests -notrait category=IgnoreForCI -notrait category=OuterLoop -notrait category=failing -verbose -parallel none -method System.Linq.Expressions.Tests.ArrayBoundsTests.NewArrayBounds
    ...
    System.Linq.Expressions.Tests.ArrayBoundsT

[2019-07-13 19:08] sgf commented on #23401
I agree that the skill is indeed one aspect.
But Clr performance can't be ignored.

A friend of mine submitted his project [BeetleX](https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/CSharp/beetlex) to TechEmpower  .
the result [No.32](https://www.techempower.com/benchmarks/#section=test&runid=299df813-559c-47c3-91eb-96955d8f50d1&hw=ph&test=fortune) is not good enough (A fa

[2019-07-13 19:14] TechnikEmpire commented on #23401
Means nothing. I'd like to see the results of a performance profiler hooked directly up to tests against the project in question. As is, the stuff you've linked means nothing. Unless you're going to submit a PR or learn the basics of programming, please stop making noise on repositories that thousands of people are following.

[2019-07-13 20:38] ViktorHofer commented on #38053
Awesome thanks a lot. Did you produce the results locally or in CI?

[2019-07-13 20:41] danmosemsft commented on #25253
@sgf we are definitely interested in feedback on performance or anything else. What we are asking is that it adds specific information relevant to the issue for example confirms that the specific issue reproduces for you or adds more information about the specific issue. If it's not related then it's best to open a new issue again with specific information.

[2019-07-13 20:41] ViktorHofer commented on #39441
I'm not a fan of 2). Can't we instead use a http cache for these assets?

[2019-07-13 21:34] #39451 closed

[2019-07-13 23:34] benaadams commented on #39256
ReadAsync is a bit wild... not jumping on that soon

[2019-07-13 23:45] davidsh commented on #34033
Re-opening for release/2.1 LTS port

[2019-07-14 00:55] JeremyKuhne opened #39457 "Need tests for JsonSerializerOptions.GetConverter"
We should test that `GetConverter` on a default `JsonSerializerOptions` always returns expected converters for given types. (Even though they are mostly currently internal, we should always get the bool converter for bool, etc.)

In addition to validating that we get the expected converter, we should add tests to ensure they don't try to dereference options sent to the `Read`/`Write`/`GetConverter

[2019-07-14 03:32] geoffkizer opened #39458 "HTTP2: Receiving RST_STREAM from server does not interrupt request body send"
If you do a POST and send request content, and the server sends a RST_STREAM, we continue to allow writes on the request body stream, and in fact we keep sending DATA frames to the server.

Instead, we should fail the next attempted write on the request stream and not send any more DATA frames to the server.

I'm working on a PR to add a test for this.

[2019-07-14 03:35] geoffkizer opened #39459 "HTTP2: Exception during request body send does not send a RST_STREAM to the server"
If an exception occurs while sending the request body (i.e. HttpContent.SerializeToStreamAsync), we do not send a RST_STREAM to the server. We should.

I'm working on a PR to add a test for this.

[2019-07-14 03:40] geoffkizer opened #39460 "HTTP2 Duplex: Receiving non-success status code does not allow response body to be read"
When we receive a non-success status code (e.g. 403), we stop sending the request body. However, we also immediately send a RST_STREAM, which causes the server to stop sending the response body if it hasn't finished already. This means the client cannot reliably read the response body. (Note this works for HTTP/1.1, though we only do this when Expect: 100-continue is used; for HTTP2 we always do i

[2019-07-14 03:57] geoffkizer opened #39461 "HTTP2: Dispose on response stream before stream is fully consumed does not remove stream from the stream dictionary"
If you dispose the response stream before consuming all the data, we do not remove the Http2Stream from the connection's stream dictionary. This means that the connection still thinks the Http2Stream is open, and the connection will never go away.

[2019-07-14 04:01] geoffkizer commented on #39461
This also means the stream continues to count against the max streams limit, which is why we are seeing the stress test stop processing requests when you do this.

[2019-07-14 04:08] davidfowl commented on #39461
Ahh I was trying to figure out if this was a sever bug.

[2019-07-14 05:05] sgf commented on #23401
got it

[2019-07-14 05:06] sgf commented on #25253
I see, thank you for your reply.

[2019-07-14 05:34] remcolam commented on #649
My personal solution would be to throw our the StringComparison enum completely, and replace all its uses with the StringComparer static instances. All methods that take StringComparison can easily be rewritten using this.

The big issue is that you always need a second to thing about which one of the two you need. The typing is not the problem, that's what intellisense/autocomplete is for

[2019-07-14 07:25] geoffkizer commented on #39049
Yes

[2019-07-14 08:42] divega commented on #39319
@roji I think now transferring issues only requires simple write permissions. Have you tried recently?

[2019-07-14 13:03] chenxuuu opened #39464 "SerialPort The Requested Resource is in Use (both .net core and .net framework)"
I use this code:

[code]

I run this code, connect my 4GLTE device and srart it, the code connect success

but, if I restart my 4GLTE device(not disconnect, only press restart button, this COM will disappear in Device Manager), it will show an error message: The Requested Resource is in Use, and not disappear in serial port list.

when my device is restart ok, it will still report this error, unti

[2019-07-14 13:05] chenxuuu commented on #39464
[sp.zip](https://github.com/dotnet/corefx/files/3389886/sp.zip)
my test project

[2019-07-14 14:28] stephentoub opened #39466 "SocketAsyncEventArgs.ConnectSocket can't be explicitly cleared"
This means SocketAsyncEventArgs that are pooled (as they're meant to be) and are used to establish connections can end up keeping a Socket instance alive indefinitely (until the SocketAsyncEventArgs is used for another connect operation).  This affects SocketsHttpHandler, for example.

I'm not sure how to address this without new API.

cc: @davidsh, @geoffkizer

[2019-07-14 14:31] nbarbettini commented on #39304
+1, I've tried and always end up frustrated because I can't quite remember how to.

💯 this was a great read @terrajobst!

[2019-07-14 15:28] stephentoub opened #39467 "Pass CancellationToken into more HttpContent request body sends"
https://github.com/dotnet/corefx/issues/9071 covers publicly exposing CancellationToken-accepting overloads to more methods in the HttpClient API set.  But even before then we can do a better job of ensuring that the CancellationToken for the request is threaded through to at least our built-in HttpContent-derived types.  We previously did that for some, but stopped short of doing it for all becau

[2019-07-14 15:29] stephentoub commented on #39420
Will submit a PR.

[2019-07-14 15:30] stephentoub commented on #39427
Will submit a PR, in conjunction with https://github.com/dotnet/corefx/issues/39420.

[2019-07-14 15:30] geoffkizer commented on #38799
Due to the recent flush change, this probably needs to get updated to use ByteAtATimeContent, like Http2_InitialWindowSize_ClientDoesNotExceedWindows did. Not sure if that's the issue you're seeing or not. It might explain why you were unable to repro recently, and now you can.

[2019-07-14 15:32] stephentoub commented on #39464
cc: @krwq

[2019-07-14 15:34] stephentoub commented on #39431
cc: @billwert, @brianrob, @noahfalk

[2019-07-14 15:37] geoffkizer commented on #39466
Can we just not pool them in SocketsHttpHandler? I'm not sure it helps that much to pool, does it?

Would be nice to fix this longer-term, but fixing the SocketsHttpHandler issue seems like the urgent issue.

[2019-07-14 15:40] stephentoub commented on #39466
I'm not sure how urgent it is.  It only affects cases where the socket isn't explicitly disposed (e.g. someone doesn't read to the end of a response body and also doesn't dispose of the response/stream) and where so few connections are being made that the SAEA isn't reused within a reasonable amount of time.  In such a case it means we keep the connection open until either the SAEA gets reused and

[2019-07-14 15:43] geoffkizer commented on #39466
Can't we just remove the pooling and still use SAEA and get the cancellation from it? The only downside is allocating a new SAEA each time, instead of reusing them.

[2019-07-14 15:57] stephentoub commented on #39466
Yes, but that's a big and measurable downside.

[2019-07-14 16:21] stephentoub commented on #39466
If we believe it must be addressed in 3.0, my perspective is the answer is to do it right and add the necessary API. It could be as simple as adding a setter that only allows null. The whole purpose of SAEA is to cache  and reuse it; if we don't feel comfortable using it for that, that's a problem.

[2019-07-14 16:24] davidsh commented on #39466
I'm not sure how to address this without new API, e.g. a setter on ConnectSocket that can be set to null, a Clear method on SAEA that clears all such state, etc.

For 3.0, can't we use reflection to fix the critical scenario here?  And then post 3.0, add a real API.

[2019-07-14 16:26] davidsh commented on #39466
Also, in the old days, all of this networking code was in a single DLL. So, we could simply add 'internal' methods instead of public APIs. We only need a public API here because we have separate System.Net.Sockets.dll vs. System.Net.Http.dll for example.

[2019-07-14 16:27] GrabYourPitchforks commented on #38760
Thanks @weltkante for your feedback! Your point that there needs to be some replacement is well-taken, and I think the proposal outlined here addresses the issue. Let me elaborate.

The proposal here is to remove `BinaryFormatter` from the shared framework specifically. The consequence is that any component that is part of the shared Framework (such as WinForms or WPF) or any component that refere

[2019-07-14 16:51] stephentoub commented on #39466
That's what I have locally as part of validating the issue. I don't love it, but yeah, we could do it if necessary.

And for everyone else using SAEA.

[2019-07-14 17:20] weltkante commented on #38760
Ok, I see where you are going with that, moving it into a separate component may work. However note that just deserialization won't be enough for all compat scenarios, interacting with Desktop Applications through clipboard or drag'n'drop may also require serialization (e.g. if you want to put something into the clipboard that the existing Desktop Application should consume, or drag something onto

[2019-07-14 18:11] Marusyk commented on #39308
I can prepare PR for this. If it is really needed then please assign the issue to me

[2019-07-14 19:04] krwq commented on #39464
@chenxuuu, inside of the try..catch which reopens could replace `port.Open();` with

[code]

and see if that workarounds the problem?

[2019-07-14 20:01] stephentoub commented on #39466
So... it ends up being worse than I initially thought.  Not only is the SAEA storing the current socket and not clearing it, but it's storing a helper "multiple connect" object, which stores the socket as well and doesn't clear it, and it's actually creating a second new SocketAsyncEventArgs instance on each call as an internal helper, which in turn is also storing and not clearing the socket.  Ug

[2019-07-14 20:24] jkotas commented on #39439
To avoid mistakes with shipping similar packages in the past, we have said that we are not going to ship these packages before the platform piece that carries the inbox implementation ships. What makes us believe that we will get it right this time?

[2019-07-14 20:48] danielleiszen opened #39469 "System.ServiceModels.Primitives.dll has wrong public key token for uap10.0.15138"
Windows 10, 10.0.18362
VS 2019

An UWP project references a .NETStandard 2.0 project that has a dependency of nuget package System.ServiceModel.Primitives 4.5.3 Assembly Version=4.5.0.3, PublicKeyToken=**b03f5f7f11d50a3a**

When I define an instance from that package in the UWP project, for example:

private OperationContext cotnext;

and go to the definition of that class, I get to the following

[2019-07-14 20:53] stephentoub opened #39470 "Incorrect connection window handling for response Stream.Read?"
PR https://github.com/dotnet/corefx/pull/38918 removed `_connection.ExtendWindow(bytesRead);` from the response stream's ReadAsync:
https://github.com/dotnet/corefx/blob/c14b80faff694bae4e085bad221e2e83410e5f33/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs#L649-L652
but didn't remove it from Read:
https://github.com/dotnet/corefx/blob/c14b80faff694bae4e085bad221e2e83410

[2019-07-14 22:18] scalablecory commented on #38799
@geoffkizer yep, that's what I'm seeing.

[2019-07-15 00:32] NickCraver opened #39473 "System.Text.Json: Deserialization support for quoted numbers"
Apologies if this issue exists already...I hunted and couldn't find one.

I've been trying to switch a lot of usages over to `System.Text.Json` from Newtonsoft and Jil, but a recurring theme is handling external APIs and their not-quite-right returns of JSON.

Unfortunately, an example I'm seeing over and over is:
[code]

They're numbers, but as strings. `int`, `double`, `decimal`, whatever. It ha

[2019-07-15 00:37] NickCraver commented on #39473
From Twitter: a lot of people correctly point out that numbers are intentionally quoted in APIs _so they're not assumed to be floats_ and lose precision. It's an excellent point, and even more reason to support deserializing them I think.

[2019-07-15 00:39] NickCraver commented on #36563
I have have hit this as well, but didn't find this issue (I'm using the `.Parse<T>()` API). Raised here: https://github.com/dotnet/corefx/issues/39473

[2019-07-15 01:50] chenxuuu commented on #39464
@krwq  not work, same problem.
also, I have tried `port.Dispose()` and `port.BreakState = false` two weeks ago.

more infomation:
this device use a driver without signature, I need to disable driver signature enforcement.
when this device start complete, it will provide 3 virtual serial ports.

[2019-07-15 03:58] geoffkizer commented on #39470
Yep, sorry for the oversight. Thanks for catching this.

[2019-07-15 04:12] geoffkizer commented on #39466
For the future, it would be nice to enable the same functionality on Socket without SAEA, i.e. cancellable connect with reasonable perf/allocation. I'd love to get to a place where SAEA is never actually needed. Maybe there's a reason this is not achievable, but it would be good to understand that better.

[2019-07-15 04:19] #38799 closed

[2019-07-15 04:51] JeremyKuhne commented on #39308
@Marusyk, feel free to give it a shot. This particular one is a little tricky to accomplish. :)

[2019-07-15 05:47] bartonjs commented on #39473
To me that says that the user should still deserialize them as strings and only turn them into numbers when they're ready to accept the loss of precision.

[2019-07-15 08:58] NiklasANCO opened #39475 "SslStream.AuthenticateAsClient hangs forever on linux-arm"
There seems to be an issue with SslStream on arm-linux platform i have tried publish with both netcore 2.2 and the .net core 3.0 preview 6, same result.

[code]

The call to _ssl.AuthenticateAsClientAsync(_server).Wait(); just hangs forever, no exception is thrown.

I'm trying to run this on Raspbian GNU/Linux 9

[2019-07-15 09:02] wfurt commented on #38444
I did more testing with openssl. On my Ubuntu 16, I can start `openssl s_server -cert test.pem -key test.pem` and than connect using  `openssl s_client` with TLS1.0, 1.1 & 1.2. With OpenSSl 1.1.1c from Debian I can connect only with TLS1.2 and 1.3.

I was suspicious that support for older  protocol versions was removed/disabled but I can still run `openssl s_server -tls1` and connect using TLS1.0

[2019-07-15 09:13] wfurt commented on #35838
This should not happen when using default HTTP handler. When somebody explicitly need CurlHttpHandler, the workaround is to install legacy libcurl3. That would normally remove curl binary as libcurl4 and libcurl3 are conflicting. The conflict can be solved with some packaging and LD_LIBRARY_PATH trickery or with containers.
Risk of changing ARM build late in release is non-trivial.
This should be

[2019-07-15 09:53] bhaskar-majumder commented on #38903
I am still stuck with this one. Can anyone please give some input on any alternatives for Mac.

[2019-07-15 09:56] wfurt commented on #38444
here is example of TLS1.0
[code]
The client hello has only 9 ciphers in the list.
`openssl ciphers DEFAULT` is bit shorter too comparing to Ubuntu.
[code]

[2019-07-15 11:58] jchannon commented on #24843
We've published our version now updated to netstandard2 https://www.nuget.org/packages/Novell.Directory.LDAP.VQ/

[2019-07-15 12:03] filipnavara commented on #36538
The problem is still happening. The check for `IsAbstract` is missing at https://github.com/dotnet/corefx/blob/398dc98e66b1fa59d67e7977a667b95c5e5f5135/src/System.Text.Json/src/System/Text/Json/Serialization/ReflectionEmitMemberAccessor.cs#L19

[2019-07-15 12:16] manigandham commented on #39473
@bartonjs

That's the intention when using types to deserialize into. The property data types are what we want the final result to be. If we have to first use a type with all string-based properties then there's not much utility for this serialization library in terms of mapping to types at all, especially for APIs.

[2019-07-15 13:07] GRdevOps commented on #24843
Pulled the library and was able to connect to my lab server and pull a search result.  Code is very intuitive and the examples are very helpful, thank you guys!

I posted the code I'm using below (I am fully qualifying namespaces since I have multiple LDAP libraries currently)

Novell.Directory.LDAP.VQ.LdapConnection con = new Novell.Directory.LDAP.VQ.LdapConnection();

                con.SecureS

[2019-07-15 13:09] layomia commented on #39065
I'm looking into this now.

[2019-07-15 13:13] davidsh commented on #39475
@wfurt

[2019-07-15 13:46] steveharter commented on #39473
With support for a custom double and\or decimal converter you can do this yourself. Perhaps there will be future support for a set of "Json.NET-compat" converters at some point but that is not available now.

Below is an skeleton of such a custom converter. Also see https://github.com/dotnet/corefx/issues/38713 which has a custom `object` converter that converts to `bool` if token type is True\Fal

[2019-07-15 13:48] steveharter commented on #39473
Moving to Future. cc @rynowak

[2019-07-15 14:03] jchannon commented on #24843
Glad it worked for you!

[2019-07-15 14:03] stephentoub opened #39476 "Bi-modal execution time of System.Net.Http outerloop tests"
When running the System.Net.Http tests on my local Windows machine with outerloop, the tests either take ~70 seconds or ~170 seconds.  It would be nice to figure out what's sometimes causing the ~100 second delay and fix it.

[2019-07-15 14:04] steveharter opened #39477 "Support adding to custom collections if no setter"
Per comment in https://github.com/dotnet/corefx/issues/38435#issuecomment-504686914 and the original design before "replace" semantics in https://github.com/dotnet/corefx/pull/39442 was added is to allow a collection to:
- Not have a property setter.
- Previously instantiated from POCO ctor.
- Allow that collection to have elements added to during deserialization.

The existing semantics ignore th

[2019-07-15 14:07] #38435 closed

[2019-07-15 14:10] steveharter opened #39478 "Improve JsonException.Path accuracy"
Per discussion about JSON path support, the accuracy may be "off by one" when referencing arrays in certain conditions. See https://github.com/dotnet/corefx/pull/37938#discussion_r296458694.

This is essentially related to reader functionality, since the deserializer doesn't handle the parsing.

[2019-07-15 14:17] YohDeadfall commented on #39477
It doesn't sound well. Actually, I don't think that a lot people will use the new serializer due to limitations. But others who will use it, mostly won't see this as a breaking change.

[2019-07-15 14:17] dh1dm commented on #38426
Wouldn't it be possible to provide an AssemblyLoadContext.DefineDynamicAssembly function ? The Contextual-API would require extensive locking when using thread-bound AssemblyLoadContexts, which is very common when migrating from AppDomain to AssemblyLoadContext.

[2019-07-15 14:29] wfurt commented on #39475
We have tests running on Debian9 and that should be close to Raspbian and cover basic functionality. Do you connect to public server with proper CA or is that something self-signed/internal?
Also note that ServicePointManager has no functionality on Core. Do you have same code running successfully on x64 Linux?

[2019-07-15 15:08] karelz commented on #6681
Does not seem to be critical for 3.0 ... moving to Future.
cc @davidsh @wfurt

[2019-07-15 15:18] wfurt commented on #6681
agreed. Specially for OSX this may be test bug or environmental failure.  From the log, it got connected, just the address socket is different.

[2019-07-15 15:21] GSPP commented on #39433
Maybe the parser can be a T4 template. Generate the parsing code once for `Span<byte>` and once for `Span<char>`.

[2019-07-15 15:22] dobova86 opened #39480 "SqlConnection.Open() lock forever unde linux (Pi4+Raspbian Buster)"
Similar problem to:
https://github.com/dotnet/corefx/issues/30961#issue-339998608

**SqlConnection.Open() will lock forever and never return.**

This problem happens with 3.0 preview6 (but also with v2.2.x project) on a Rpi4 (2gb) with Buster Linux installed.
No issue on rpi3/3+ with stretch installed, it works fine.
Sql.Data.Client.dll is 3.0.0-preview6-19303

[2019-07-15 15:25] GSPP commented on #39410
It is very valuable to be able to obtain the smallest possible encoding. Sometimes, JSON is stored to a database where space usage is a concern. This feature is great.

[2019-07-15 15:54] ericstj commented on #39441
Yeah, i'm not so much a fan either.  I think 1 is a clear win (by relaxing test requirements).   Maybe a better option for 2 would be to share the packages folder for multiple test runs on the same helix client machine rather than starting every run from scratch?

[2019-07-15 15:59] jpfreyen commented on #39434
@danmosemsft    I'm reading this and I am concerned that there is a similar issue in Linux not being addressed by just fixing Process.OSX.cs

[2019-07-15 16:06] eiriktsarpalis commented on #38911
Not sure if anybody has noticed, but I'm experiencing a stalling behaviour when I run the stress suite on my machine. After ~1200 requests, all of the request counters stop showing any progress.  This lasts for **1 minute and 40 seconds**, after which time _all_ client threads will throw one `TaskCanceledException`:
[code]
This might result in a bit of progress, but the test suite will quickly rea

[2019-07-15 16:12] bartonjs commented on #39435
The SHA1 in the images is "thumbprint algorithm".  It's not a real attribute of the certificate, just explaining that the thumbprint is computed using SHA-1, which is true for all certificates.  (It's just a CertUI oddity)

[2019-07-15 16:13] danmosemsft commented on #39439
cc @KrzysztofCwalina for update on his schedule.

[2019-07-15 16:15] stephentoub commented on #38911
@eiriktsarpalis, most likely this is https://github.com/dotnet/corefx/issues/39461#issuecomment-511171311.  There are 12 operations, so after ~1200 requests we'll have done the GET Partial test 100 times, which is the magic number to trigger it.  Try removing that op from your run and seeing if it goes away.

[2019-07-15 16:16] eiriktsarpalis commented on #38911
Thanks, verified as well that GET Partial was causing the issue.

[2019-07-15 16:17] danmosemsft commented on #39434
We likely won't have time to look at this for a a little while, so if either of you feel motivated to work on PR(s) that would be welcome.

[2019-07-15 16:28] sdmaclea commented on #38426
@dh1dm Adding a new API is the preferred approach.  The issue was discovered to late to be included in 3.0.

Not sure why any locking would be required as `AssemblyLoadContext.CurrentContextualReflectionContext` is stored in an `AsyncLocal<T>`.

[2019-07-15 16:29] stephentoub commented on #38911
With an SDK from last night, and omitting the cancellation and partial operations, things run much more smoothly for me.  I do see sporadic failures, in particular in the POST Duplex Slow operation, e.g.
[code]

[2019-07-15 16:30] stephentoub commented on #38911
I'm going to close this uber issue, and we can open individual issues for additional problems. Thanks, all.