[2017-02-27 21:47] #9353 closed

[2017-02-27 21:48] cwe1ss commented on #16491
True, but *completely* insufficient IMO. All of these systems have additional data (e.g. queue names, ...) that should be sent as tags or similar. However, the HTTP request is downstream so they can't add it to that. That's why all of them should create their own Activity (e.g. "ServiceBus_Out") before the HTTP handler creates its child Activity ("Http_Out").

[2017-02-27 21:51] benaadams commented on #16491
Seed with a fairly accurate DateTime.UtcNow.Ticks? (Rather than previous or desktop incarnation); then the ids will be generally always be increasing between restarts; and two machine processes are unlikely to start at the same tick?

[2017-02-27 21:52] cwe1ss commented on #16491
@vancem

My question/concern goes the opposite way: I was worried that if I subscribe to all categories, suddenly *EVERY* `IsEnabled` check in every component would return true. But if I understood correctly, putting the name check into the second `predicate` parameter solves this, right?

[2017-02-27 21:57] stephentoub commented on #16352
Keep in mind that this is effectively a private function; it just happens to be across a dll boundary and we use a P/Invoke to get to it.  There are no guarantees that this function will continue to exist or exist with the same behavior, as with any private member.  You could certainly P/Invoke to it to prototype against it, but I would recommend not depending on it for production use.

Does your

[2017-02-27 22:11] vancem commented on #16491
@cwe1ss  Yes, you can filter by event name using the two argument Subscribe API.    Do you still have a concern?

On the concern about coupling:  I now see that you are concerned that DiagnosticSource sends things like HttpRequestMessage (that can't be serialized), to the subscriber.  Your concern seems to be how you serialize it.

This touches on an important distinction between DiagnosticSource

[2017-02-27 22:28] vancem commented on #16500
I think a simple mitigation to the ParentId problem is to randomize the start location of the ID that is tacked the ParentID.   Thus two separate machines will have only a 1 / 4GIG likelihood of collision.

[2017-02-27 22:31] safern opened #16513 "[Uri] Test hole in System.Private.Uri -> UriHelper.EscapeString"
There is a test hole where we are not testing the case of when we find an unescaped reserved character and we need to grow the destination `char[]` and copy its current values.

Pointer to this case in the source code: https://github.com/dotnet/corefx/blob/master/src/System.Private.Uri/src/System/UriHelper.cs#L407-L432

Pointer to a comment on a PR where we found this hole: https://github.com/dotn

[2017-02-27 22:32] mohamedmansour commented on #9171
I just installed the following, fresh on macOS:

1. brew
2. visual studio code
3. dotnetcore
4. brew openssl
5. restarted terminal
6. ran `dotnet restore`

[code]

and got the following error:

[code]

What maybe the issue?

[2017-02-27 22:37] lmolkova commented on #16491
You can still generate Guid and add it as tag.
However it depends on what scenarios you have for the Id. If you want to send parent-guid-id with outgoing request, it becomes tricky: if you put your-guid-id into the baggage, it will be propagated to all downstream services and API does not let you change baggage.
Could you please share complete scenario?

[2017-02-27 22:39] cwe1ss commented on #16491
No, this is fine - thank you! I'm not yet sure though, if this is the best way to fulfill the requirement "give me all finished activities". It steel feels a bit wobbly because one is not forced to go through `DiagnosticSource.StopActivity`. There would be no chance to get an activity that has been finished with a simple call to `Activity.Stop` (which updates Activity.Current though) . I think it

[2017-02-27 22:40] karelz commented on #7812
@davidsh any reason for moving it to Future?

[2017-02-27 22:46] davidsh commented on #7812
I believe this is a real product bug.  Getting this exception, for example, surfaced "he buffers supplied to a function was too small" should never occur. That particular exception is usually caught internally and we have logic to do the right thing with WinHTTP (which is to resize our buffer and call WinHTTP again).

We haven't seen this a lot, though.  So, in terms of prioritizing all the other

[2017-02-27 22:48] danmosemsft commented on #14855
These are passing and running (albeit not in CI) and we're not churning Xml much right now so I don't think it's particularly urgent to refactor them. Milestone= future.

[2017-02-27 22:49] #15525 closed

[2017-02-27 22:51] danmosemsft commented on #12175
[code]

[2017-02-27 22:52] danmosemsft commented on #11726
@joperezr can this be closed as a dupe of https://github.com/dotnet/corefx/issues/14935

[2017-02-27 22:52] danmosemsft commented on #8647
@weshaggard if we did this, how would we ship the exe? would it have to go in the shared framework?

[2017-02-27 22:54] danmosemsft commented on #962
@sepidehMS is this still relevant?

[2017-02-27 22:59] danmosemsft commented on #16336
System.Xml is so huge this might be better broken up into smaller bite size chunks.

[2017-02-27 23:04] cwe1ss commented on #16491
@lmolkova

* My imaginary tracer Trac0r uses 2 Guids as identifiers: TraceID (the whole distributed trace), ActivityID (a single unit in a distributed trace).
* When an Activity is started without a parent, it creates a new TraceID. All subsequent activities must re-use the same TraceID.
* The TraceID and the ActivityID must be propagated on outgoing HTTP calls
* The server will use these values w

[2017-02-27 23:21] karelz commented on #7812
Thanks! That makes sense, moving back to Future.

[2017-02-27 23:28] SamuelEnglard commented on #8647
why not make it part of `dotnet` tooling?

[2017-02-27 23:33] cwe1ss commented on #16491
@vancem

Yes, I think we're now on the same page. 😄 The big question is, who knows which fields should be sent to the tracing system - the instrumentation code or the tracer?!
If you let the instrumentation code decide the tags, there will be no coupling but the tracer can't add stuff. If you let the tracer decide, it must know about the instrumentation and the type.

I think in most cases the ins

[2017-02-27 23:43] vancem commented on #16491
@cwe1ss  As you say in the common case, the instrumentation code can provide fine defaults.   Note that DiagnosticSource was created exactly for the case where this did not work (we have in-process loggers that wanted access to  potentially everything (e.g. headers, even the payload, context ...).   We did not want to instrument twice, and realized that instrumentation sites could log both the sim

[2017-02-27 23:54] dhoehna commented on #16482
I misjudged the content based on the title.  Also, I was expecting to find an ordered list.  More bullet points so I can follow the information word for word.

[2017-02-27 23:55] ahhsoftware commented on #8622
Unless I have a way of pushing sets of data into stored procedures we have
no use for ado core.  It's that simple.

On Mon, Feb 27, 2017 at 12:39 PM, Petr Onderka <notifications@github.com>
wrote:

[2017-02-28 00:10] steveharter commented on #11624
Noted. If they fail again in the next few days we should disable again.

[2017-02-28 00:52] weshaggard commented on #8647
The majority of the tools are part of the SDK or CLI so I would expect it to ship in one of those 2 places.

[2017-02-28 01:15] weshaggard commented on #14869
I confirmed with @jaredpar offline who verified the package worked for his needs.

I've uploaded it to nuget.org https://www.nuget.org/packages/System.Threading.Tasks.Dataflow/4.5.24.

[2017-02-28 01:15] #14869 closed

[2017-02-28 01:20] ianhays commented on #11624
Agreed.

[2017-02-28 01:43] ianhays opened #16516 "System.Net.Security tests failing with: "The credentials supplied to the package were not recognized""
There is a group of tests that are failing intermittently with the error ```System.ComponentModel.Win32Exception : The credentials supplied to the package were not recognized```. I'm tracking their failures in this issue as they are likely due to the same underlying issue.

The following tests have failed at some point with this error:
- [SslStream_StreamToStream_Authentication_Success](https://gi

[2017-02-28 01:44] ianhays commented on #12706
Tracking this failure in https://github.com/dotnet/corefx/issues/16516. Please comment there with any failure reports instead of re-opening this issue.

[2017-02-28 01:44] ianhays commented on #12683
Tracking this failure in https://github.com/dotnet/corefx/issues/16516. Please comment there with any failure reports instead of re-opening this issue.

[2017-02-28 01:45] ianhays commented on #8744
Tracking this failure in https://github.com/dotnet/corefx/issues/16516. Please comment there with any failure reports instead of re-opening this issue.

[2017-02-28 01:45] ianhays commented on #10911
Tracking this failure in https://github.com/dotnet/corefx/issues/16516. Please comment there with any failure reports instead of re-opening this issue.

[2017-02-28 01:45] #10911 closed

[2017-02-28 01:45] ianhays commented on #11624
Tracking this failure in https://github.com/dotnet/corefx/issues/16516. Please comment there with any failure reports instead of re-opening this issue.

We've got a couple of other failures recently because of this, so I'm going to disable them again.

[2017-02-28 01:45] #11624 closed

[2017-02-28 01:46] ianhays commented on #16346
Tracking this failure in https://github.com/dotnet/corefx/issues/16516. Please comment there with any failure reports instead of re-opening this issue.

[2017-02-28 01:46] #16346 closed

[2017-02-28 01:46] ianhays commented on #16338
Tracking this failure in https://github.com/dotnet/corefx/issues/16516. Please comment there with any failure reports instead of re-opening this issue.

[2017-02-28 01:46] #16338 closed

[2017-02-28 01:47] ianhays commented on #14504
possibly related to https://github.com/dotnet/corefx/issues/16516

[2017-02-28 01:53] danmosemsft commented on #16513
FWIW according to code coverage at least one test is exercising those lines of code somehow.

[2017-02-28 01:59] danmosemsft opened #16518 "Failure in EnumerateEnvironmentVariables"
This is the test fixed in #16156, now it's failing in a new way. @JeremyKuhne

https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/3892/consoleText

[code]

[2017-02-28 02:09] JeremyKuhne commented on #984
The only metric I'm still looking for is how the tests run against NetFX. Running against the desktop should be up and running again soon- I'll follow up.

Outside of that I think we hit the bar I'm expecting, given that this isn't part of the .NET Standard.

[2017-02-28 02:10] Jiayili1 commented on #15065
This issue is repro on build 20170227.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170227.01/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FOpenExeConfiguration1_UserLevel_PerUserRoamingAndLocal

[2017-02-28 02:10] JeremyKuhne commented on #16518
Dupe of #16481

[2017-02-28 02:10] #16518 closed

[2017-02-28 02:12] Jiayili1 commented on #15066
This issue is repro on build 20170227.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170227.01/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FexePath_UserLevelPerRoamingAndLocal

[2017-02-28 02:19] Jiayili1 commented on #16516
This issue is repro on build 20170227.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170227.01/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.ServerAsyncAuthenticateTest~2FServerAsyncAuthenticate_AllClientVsIndividualServerSupportedProtocols_Success(serverProtocol:%20Tls)

Failed test

[2017-02-28 02:59] Jiayili1 commented on #16488
This issue is repro, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora24_debug/1151/testReport/System.Diagnostics.Tests/ProcessStreamReadTests/TestSyncErrorStream/

[2017-02-28 03:03] Jiayili1 commented on #16201
Occurred here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_rhel7.2_debug/117/testReport/System.Net.Tests/HttpWebRequestHeaderTest/GetResponse_UseDefaultCredentials_ExpectSuccess_remoteServer__https___corefx_net_cloudapp_net_Echo_ashx_/

[2017-02-28 03:29] Thaina commented on #16490
@karelz Actually, might not possible, but I wish we could directly iterate on `ValueTuple`

[code]

[2017-02-28 04:12] danmosemsft commented on #16489
we caught a fish

https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/3900/consoleText

[code]

Well 2/28/2017 2:08:18 AM >= 2/28/2017 2:08:18 AM so perhaps we need to log the actual ticks.

[2017-02-28 05:02] zemien opened #16520 "HttpClient doesn't detect IE setting for ignoring proxies"
@davidsh mentioned halfway through #7037 that

How is that behaviour impacted when hosting on IIS through the reverse proxy?

### First: The Error
Here is the exception that pops up when I try to do a `HttpClient` `GetAsync()`, which Wireshark reveals is caused by the proxy cutting the request off (error 407).

   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runti

[2017-02-28 05:09] lukeamcmurray commented on #11991
@Priya91 looks like it has been resolved in .NET Core 1.1.

[2017-02-28 05:09] #11991 closed

[2017-02-28 06:47] VitaliyMF commented on #8622
@ahhsoftware I already mentioned previously that you **can** pass table-valued parameters with netstandard1.6, you don't need to wait for netstandard2.0 and DataSet/DataTable; netcore implementation of [SqlClient support this type of parameters](https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlEnums.cs), and you can pass TVP with custom implementa

[2017-02-28 09:46] karelz commented on #984
@JeremyKuhne How would your quality bar change if it was part of .NET Standard? ... I view all packages shipping from CoreFX repo the same way quality-wise (as they are on same shipping schedule), no matter if they are part of .NET Standard, built on top of it, or just aside.

[2017-02-28 10:01] marek-safar commented on #16354
@ericstj Unfortunatelly `-allConfigurations` build does not work either. It fails with
[code]

[2017-02-28 13:15] sebaFlame opened #16526 "System.Reflection.Emit doesn't define a default constructor"
[code]
last line gives this exception: **Unhandled Exception: System.MissingMethodException: No parameterless constructor defined for this object.**
The call to typeBuilder.DefineDefaultConstructor should not be necessary.
Using cli 1.0.0-preview2-003131 with "System.Reflection.Emit": "4.0.1"

[2017-02-28 13:44] willdean commented on #984
Well, I would think that most serial port stuff is done on dedicated machines anyway, and serial protocols often do have some kind of retry logic or redundancy.

Timeouts on serial ports are complicated mix of 'never normally occurs' (but may still need to occur during a test) and 'is a basic part of the functionality'.    It's much harder to verify that they have worked correctly than it is just

[2017-02-28 13:56] JonHanna commented on #16526
[code]

This line is in error. The `GetType()` called is the same `GetType()` that every object has that returns the type of the actual object it is called on, which is to say the type of the actual result of `CreateTypeInfo()`.

That line should be:

[code]

In which case this should work both with and without the call to `DefineDefaultConstructor`.

[2017-02-28 14:02] sebaFlame commented on #16526
Now works as expected. Thank you for the info.

[2017-02-28 14:02] #16526 closed

[2017-02-28 14:23] jcurl commented on #984
Is there a test case for when close or dispose is called on the serial port when currently write blocked due to hardware flow control? In the net fx version, it blocks forever which isn't very nice at all.

[2017-02-28 14:45] MgSam opened #16528 "Proposal: ConfigurationManager.OpenExeConfiguration overloads"
### Proposal
Currently, `ConfigurationManager` can only load new settings by giving it the file path to an app.config file. This is annoying if you want to embed your configuration as a resource string or file in your DLL.

I propose adding two overloads to `ConfigurationManager.OpenExeConfiguration`, one that accepts a string of the config xml and another that accepts a stream.

[code]

I believe

[2017-02-28 14:47] willdean commented on #984
@jcurl I don't think there's a test (it would hang anyway if there was, I guess), and I'm sure that if the problem's in netfx then it will still be present - could you file an issue for this?  (The problem, not the missing test).   #16261 is another existing close/open problem which I have opened an issue on.

Once there's an open issue we could write a test which failed on it and then mark the te

[2017-02-28 14:51] jkotas commented on #16354
@ericstj Note that Marek is building on Mac. I have run it on my Mac and got the same failure.

[2017-02-28 14:53] davidsh commented on #16520
This is by-design.  HttpClientHandler uses the WinInet/WinHTTP AutoProxy Discover Service on Windows.  The "Internet Explorer" settings as registry settings in the HKLM_USER (per-user) registry tree. For normal users, these registry settings exists and you can see them via the UI in Internet Explorer.

But for some service identities such as those used in IIS, there are usually no registry setting

[2017-02-28 14:57] danmosemsft commented on #16528
@jeremykuhne

[2017-02-28 15:31] TylerBrinkley commented on #16417
I've decided to go with `ValueTuple` and have updated the proposal accordingly.

[2017-02-28 16:03] mjrousos commented on #2089
For what it's worth, I've been experimenting with System.DirectoryServices.Protocols recently and found that many simple System.DirectoryServices scenarios are [not hard to mimic](https://github.com/mjrousos/ADExploration/tree/master/System.DirectoryServices.Protocols.Services) with System.DirecotryServices.Protocols. Based on that, I think getting S.DS and S.DS.AM working cross-platform can be a

[2017-02-28 16:08] TylerBrinkley commented on #16417
@AlexGhiondea, @joperezr any thoughts on this proposal?

[2017-02-28 16:30] jcurl opened #16529 "SerialPort: Close blocked while write blocked in NETFX"
See this comment:
https://github.com/dotnet/corefx/issues/984#issuecomment-283058494

The SerialPort will block forever on Close(), while write blocked. Write blocked usually occurs during hardware flow control on the serial port where the remote side is causing the flow control. That is, while the remote side has indicated that sending is not possible so that Write() is blocked, Close() will bloc

[2017-02-28 16:31] jcurl commented on #984
@willdean, thanks. Issue raised with my test case that shows the problem as part of https://github.com/dotnet/corefx/issues/16529. I have also experienced the problem you mention also in my own tests with NETFX. Please let me know if it's OK, or if it needs improvement.

[2017-02-28 16:35] stephentoub opened #16530 "Ubuntu 16.10 CI runs failing"
These appear to be the first failing builds:
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu16.10_debug/1095/
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu16.10_release/1098/
which suggests one of these changes is the culprit:
[code]

[2017-02-28 16:36] danmosemsft commented on #16529
@willdean

[2017-02-28 16:43] xavierpena commented on #7702
The workaround does not work if the project is packed into a NuGet package.

My setup: dotnet core project with

	  "frameworks": {
		"net461": {
		  "imports": "dnxcore50"
		},
		"netstandard1.6": {
		  "imports": "dnxcore50"
		}
	  }

When I used the .dll the `net461` build, the workaround worked. When I packed the build into a NuGet package, the problem re-appeared (while the `app.config` remai

[2017-02-28 16:44] danmosemsft commented on #15844
@Priya91 this broke Fedora 24 again. Can we fix or disable on Fedora?

https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora24_debug/lastCompletedBuild/testReport/System.Diagnostics.Tests/ProcessWaitingTests/SingleProcess_EnableRaisingEvents_CorrectExitCode_exitCode__0_/

[2017-02-28 16:56] danmosemsft commented on #16530
@mellinoe these are all your commits. Do you have a 16.10 VM lying around?

[2017-02-28 17:16] stephentoub commented on #16421
@saurabh500, a related test failed here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu14.04_debug_prtest/84/consoleText
[code]

[2017-02-28 17:28] danmosemsft commented on #2910
Marking Future explicitly because we have decided thisi s not necessary for 2.0.

[2017-02-28 17:28] geoffkizer commented on #16359
Sorry for the delayed response -- seems to be working for me now.  Thanks!

[2017-02-28 17:39] bartonjs commented on #14577
@CIPop Are these tests still failing for you?

[2017-02-28 17:49] ericstj opened #16532 "build -allConfigurations fails on mac"
See https://github.com/dotnet/corefx/issues/16354#issuecomment-282995749

[code]

I suspect that this is using the wrong System.Private.CoreLib to generate the facade.  The unix one is missing the types that satisfy this contract.

I'll let this issue track making this work and dealing with any other issues with build -allConfigurations on mac.

[2017-02-28 17:50] ericstj commented on #16354
That's gotten far enough that you should be able to run msbuild /t:BuildAllConfigurations on the src project you care about and it will build all the configurations (or just build the one you want with /p:BuildConfiguration=netstandard1.1)

The reason for that failure is likely because the wrong System.Private.Corelib is being used to generate that facade.  I'll look into it with https://github.co

[2017-02-28 17:54] danmosemsft opened #16533 "Consider setting COMPlus_ FailFastOnCorruptedStateException=1 on test runs"
This will trigger a FailFast if a CorruptedStateException (which a real AV is) reached Reflection subsystem. May help us generate more actual dumps out of XUnit runs.

To avoid the risk of hiding real issues maybe we should do this every other day or something.

[2017-02-28 18:18] terrajobst commented on #16479
Looks good as proposed.

[2017-02-28 18:20] karelz commented on #16479
@mikedn ping me when you accept the invitation - I will be able to assign it to you then (GitHub limitation).

[2017-02-28 18:21] karelz commented on #16479
@jkotas any thoughts on Read/Write overloads? If it is useful, we should move it into separate issue.

[2017-02-28 18:24] jkotas commented on #16479
I do not think that the (aligned) Read/Write overloads that take ref are useful. If you have aligned `ref T`, you can just read from it directly - no need to have a helper method for it.

[2017-02-28 18:25] terrajobst commented on #15818
Looks good as proposed.

Just a quick question: we have both, generic version for the comparer and a non-generic version. Are we sure that this doesn't result in funkiness with overload resolution where the developer has to explicitly specify the generic type?

[2017-02-28 18:27] danmosemsft commented on #1942
Anyone interested in taking this one, so we cna get it in for 2.0? Seems like it shouldn't take too long.

[2017-02-28 18:29] wtgodbe commented on #15707
https://github.com/dotnet/corefx/commit/2d504532af651954f48f8f976b6d1e9df80d7949 Fixed this

[2017-02-28 18:29] #15707 closed

[2017-02-28 18:33] mikedn commented on #16479
@karelz Hmm? I already have issues assigned to me in coreclr, is there something different about corefx?

[2017-02-28 18:35] danmosemsft commented on #15390
https://github.com/dotnet/corefx/pull/16509

[2017-02-28 18:35] #15390 closed

[2017-02-28 18:36] ianhays commented on #7702
@xavierpena we recently stripped out the desktop OOB build for System.IO.Compression so that using the latest packages will get you a stable version of the desktop versions of the library.

[2017-02-28 18:39] jcouv commented on #15826
There was a related change above (#893) which makes 1.1 the new default version. At this point, we recommend 1.0 customers who want to use ValueTuple that they should upgrade to 1.1.
So I'll close the issue as by design.

[2017-02-28 18:39] #15826 closed

[2017-02-28 18:45] ianhays opened #16534 "Test failure: System.Net.Security tests failing with "Authentication failed because the remote party has closed the transport stream""
There is a group of tests that are failing intermittently with the error ```System.IO.IOException : Authentication failed because the remote party has closed the transport stream.```. I'm tracking their failures in this issue as they are likely due to the same underlying issue.

The following tests have failed at some point with this error:
- [ClientAsyncAuthenticateTest.ClientAsyncAuthenticate_Mi

[2017-02-28 18:47] ianhays commented on #10909
Tracking this failure in #16534. Please comment there with any failure reports instead of re-opening this issue.

[2017-02-28 18:47] ianhays commented on #14177
Tracking this failure in #16534. Please comment there with any failure reports instead of re-opening this issue.

[2017-02-28 18:48] ianhays commented on #9130
Tracking this failure in #16534. Please comment there with any failure reports instead of re-opening this issue.

[2017-02-28 18:48] joperezr commented on #16417
Hey @TylerBrinkley thanks a lot for your proposal. @AlexGhiondea  and I have triage tomorrow, so we will go through proposals and add our feedback 😄
Talk to you soon.

[2017-02-28 18:48] ianhays commented on #14504
Tracking this failure in #16534. Please comment there with any failure reports instead of re-opening this issue.

[2017-02-28 18:48] #14504 closed

[2017-02-28 18:52] willdean commented on #16359
@geoffkizer Great, thanks.

@danmosemsft We can close this now - it was fixed in #16376

[2017-02-28 19:00] TylerBrinkley commented on #16417
@joperezr Excellent, thanks. I appreciate it.

[2017-02-28 19:03] ianhays commented on #15785
Tracking this failure in #16516. Please comment there with any failure reports instead of re-opening this issue.

[2017-02-28 19:04] xavierpena commented on #7702
@ianhays If I understand it correctly, it means that using the latest of `System.IO.Compression.ZipFile` should solve the issue? I am using v4.3.0, which I presumed was the latest (Date Published: Wednesday, November 16, 2016).

[2017-02-28 19:06] karelz commented on #16479
@mikedn sadly, it is per-repo setting (general GitHub behavior, not our choice).

[2017-02-28 19:07] Priya91 commented on #16510
We can handle this exception and pass the test for this case.

[2017-02-28 19:09] karelz commented on #15390
Thanks for your contribution @reaction1989!

[2017-02-28 19:12] ianhays commented on #16516
Not sure if it is interesting, but `ServerAsyncAuthenticate_AllClientVsIndividualServerSupportedProtocols_Success`and `ServerAsyncAuthenticate_EachSupportedProtocol_Success` are **only** failing for `Tls11`, not `Tls1s` or `Tls12`

[2017-02-28 19:14] Priya91 commented on #9296
Possibly requires change to test server.

[2017-02-28 19:17] TylerBrinkley commented on #15453
As a proof of concept I've started migrating my code into `mscorlib` at [TylerBrinkley/coreclr enum-improvements](https://github.com/TylerBrinkley/coreclr/tree/enum-improvements).

[2017-02-28 19:18] Priya91 commented on #10702
The disabled test is a dupe of issue #9296.

[2017-02-28 19:18] #10702 closed

[2017-02-28 19:22] jkotas commented on #16479
@karelz Is there a good reason why we are not using the dotnet-community groups to manage this?

That's how we have been doing it coreclr so that we do not have to add everybody per repo. Check https://github.com/dotnet/coreclr/settings/collaboration vs. https://github.com/dotnet/corefx/settings/collaboration .

[2017-02-28 19:30] Priya91 commented on #10910
We havent seen this test fail since, and the logs are quite old. Closing as no-repro. Please reopen if test fails again.

[2017-02-28 19:30] #10910 closed

[2017-02-28 19:42] Priya91 commented on #10912
Not able to repro locally, test logs not accessible. Closing as no repro, please reopen if test fails again.

[2017-02-28 19:42] #10912 closed

[2017-02-28 19:46] #16359 closed

[2017-02-28 19:48] Priya91 commented on #11339
Not able to repro locally, and test failure hasn't been recorded in recent CI. The log is old from dev/api branch. Closing as no-repro, please reopen if test fails again.

[2017-02-28 19:48] #11339 closed

[2017-02-28 19:50] Priya91 commented on #11708
@davidsh @CIPop Should this be addressed for 2.0?

[2017-02-28 19:58] Priya91 commented on #12048
We haven't seen this fail in CI or locally. the test file has been changed quite a lot since. Closing as stack trace is not enough to identify failure. Please reopen if issue reappears.

[2017-02-28 19:58] #12048 closed

[2017-02-28 20:01] Priya91 commented on #12236
Requires investigation.

[2017-02-28 20:02] karelz commented on #10702
@Priya91 can you please update the code to refer to the active issue? We do not want ActiveIssue on closed bugs in code.

[2017-02-28 20:02] Priya91 commented on #12637
The test is reactivated now.

[2017-02-28 20:02] #12637 closed

[2017-02-28 20:03] Priya91 commented on #10702
@karelz Yes I have a couple of other changes to go in as well, will consolidate and open a PR soon.

[2017-02-28 20:04] karelz commented on #10702
Perfect, thanks!

[2017-02-28 20:07] ianhays commented on #7702
4.3.0 is the latest stable, yeah. That version references a System.IO.Compression that contains the OOB package for desktop (4.3.0).

I was referring to the latest prerelease package on dotnet.myget.org published after the merging of https://github.com/dotnet/corefx/pull/16045. However, I apologize; I spoke too soon and there hasn't been a package push since that change, so there isn't a new (fixe

[2017-02-28 20:08] JeremyKuhne commented on #984
@karelz I wasn't terribly clear- as it isn't part of the 2.0 effort so I'm not as concerned about not having solidified our xplat story, not having dedicated hardware for inner/outerloop, etc.  I'm not saying that I'd block on those necessarily either- just that I'd want to commit more time/thought to what we do/don't do.

[2017-02-28 20:18] ianhays commented on #14553
I'm a bit hesitant to increase the timeout for this test since it's already at a minute and the run linked had a lot of timeout failures across Net.Security and other libraries, suggesting the machine had some slowdown issues that affected more than just this library.

I'm closing this for now and we can see if it recurs soon (if at all).

[2017-02-28 20:18] #14553 closed

[2017-02-28 20:19] karelz commented on #984
@JeremyKuhne I see, that makes sense.
To sum it up: Quality-wise we are happy to flip it to shipping (once we verify the tests on Desktop). So it will ship with next wave of .NET Core 2.0. It will just be available only on Windows for now.

[2017-02-28 20:20] lmolkova commented on #16491
@cwe1ss
Regarding Id generation:

I believe you want to generate Activity (Span) Id and propagate it because tracers declare some format for the Id (like Zipkin does). And unfortunately there are some services that require different formats: e.g. guid.
We want to support any *incoming* Id format, so you can set ParentId received from upstream service to whatever you want.
Hierarchical structure ma

[2017-02-28 20:21] morganbr commented on #16493
@logiclink , while I do support this idea as general goodness, authenticating over only the thumbprint isn't recommended since it doesn't account for other important factors such as trusting the chain, expiration, and revocation status.

[2017-02-28 20:27] willdean commented on #16529
@jcurl I've had a play with this, and it seems to me that the only reason it hangs is that there's no `WriteTimeout` set on the port. If you set a `WriteTimeout` it appears to work OK:  the `Dispose` waits while there's a pending write, but as soon as the write completes (with a timeout), the Dispose completes OK.

I'm not sure if it's documented whether or not `Close/Dispose` is suppose to cancel

[2017-02-28 20:29] ianhays commented on #15981
These were probably caused by the changes to how our tests set up their running directory. I'm guessing that the built dir includes the System.IO.Compression and System.IO.Compression.Tests dll, but clrcompression.dll (zlib) was forgotten.

That does raise the question as to why the sqlclient tests are passing since by the above explanation they should also be failing from a missing sni.dll. I als

[2017-02-28 20:29] JonHanna commented on #16490
If I wanted to enumerate a value tuple I'd perhaps consider using a struct the same way `List<T>` does for performance and allocation reasons, while still allowing it to be boxed for linq operations. I'm not sure it would come up that often though.

[2017-02-28 20:44] willdean commented on #16529
Looking at the `SerialPort` source, when you dispose a port it calls `Flush` which in turn calls the Win32 function `FlushFileBuffers` - this function is doing what it's supposed to, which is to get everything written, and if it's waiting for hardware flow control with an infinite timeout, it just waits.

I'm afraid that I understand this issue properly then I don't really think this is a bug.  If

[2017-02-28 20:46] JonHanna opened #16539 "S.L.Expressions interpreted filters fail if InstructionIndex changed directly."
Found this experimenting wrt #15719

Some interpreter instructions read and/or update `frame.InstructionIndex` directly. Filters are an example because they outside of the normal flow, but they assume that they never call into any other instructions that do so. They also assume that the exception is on the top of the stack at the end of the filter execution (likely in most cases, hence it not bein

[2017-02-28 20:59] karelz commented on #4887
This should be Future - it is not blocking 2.0 release

[2017-02-28 21:03] AdamSpeight2008 opened #16540 "[Question] MinValue and MaxValue."
This is going to read like a dumb question, but I need confirmation.
Are the `.MinValue` and `.MaxValue` of the types that specify there bit width. eg Int32 going to change?

If never then I / we, can in same test cases use the text `2147483647`, rather than `Int32.MaxValue.ToString`

[2017-02-28 21:13] JonHanna commented on #16540
Changing them would require a lot of very deep changes throughout the entirety of .NET for every implementation. I think it's safe to say they'll change.

It's easier to mistype `2147483647` than `int.MaxValue` though, and not a compiler error if you do, so I wouldn't favour `"2147483647"` over `int.MaxValue.ToString()` in a test and in non-test code only in a hot path.

[2017-02-28 21:18] dhoehna commented on #15554
@JeremyKuhne SR.cs is a partial class.  I found one file at src.Resources.Common.SR.cs.  Where is the other file that completes this class?

[2017-02-28 21:20] karelz commented on #13607
@davidsh @Priya91 are we ok shipping current implementation in 2.0?

[2017-02-28 21:21] karelz commented on #13607
cc @geoffkizer

[2017-02-28 21:24] JeremyKuhne commented on #15554
SR is generated as part of the build- it will show up in the intermediate folder. Unless you have a resource problem in the build (very unlikely) you should be able to ignore the details.

[2017-02-28 21:25] davidsh commented on #14041
Please take a look at:
https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/adding-api-guidelines.md

for API change process and submit API proposal.

[2017-02-28 21:26] shaggygi commented on #984
@karelz You just made me a happy developer!

[2017-02-28 21:30] AlexGhiondea commented on #15453
@TylerBrinkley thanks for the update! I would be interested to learn some numbers once you have your proof of concept operational.

[2017-02-28 21:32] davidsh commented on #13607
Fixing this requires adding new API surface to Cookie class.  That isn't something we should focus on for 2.0.  It would push latest System.Net.Primitives contract out of NS2.0.  It's fine for now.  We can look more closely at this post 2.0 and possibly iterate the Cookie class API.

[2017-02-28 21:33] dhoehna commented on #15554
Okay.  So, all I need to test in SR is the Sr.cs file under src.Resource.Common?

[2017-02-28 21:34] Trolldemorted commented on #12282
2.*1*? Can we somehow get some kind of workaround earlier? Since i guess we cannot expect .NET Core 2.1 before 2018, it would be ridiculous to wait one year just to be able to communicate with a HTTP server that uses a self-signed certificate.

I understand that .netcore/standard is a really huge project and that it is very complicated to keep libraries of that size consistent, but i am sure you c

[2017-02-28 21:39] AdamSpeight2008 commented on #16540
@JonHanna  Even if the result string is now a compile-time constant?

[2017-02-28 21:46] willdean opened #16542 "SerialPort: TimeoutException not always thrown for write timeouts"
With a 'real' (serial.sys / 16550) serial port, if you set up a `WriteTimeout` and then write to a port which is blocked by flow control, the write will eventually fail and throw a `TimeoutException`.  This is the expected behaviour.

This exception is thrown by a code in `SerialStream.Write`, which looks like this:
[code]
Where `numBytes` is passed back from the OS in the `lpNumberOfBytesWritten`

[2017-02-28 21:50] jcurl commented on #16529
Dispose() and Close() on the SerialPort behave the same. Take the Socket.Close(), that will abort an existing blocking Write() with an exception ObjectDisposedException.

On the otherhand, now reading the manual and using your analysis, it explains *why* it blocks permanently and what someone should do about it.

Calling this method closes the SerialPort object and clears both the receive and tran

[2017-02-28 21:50] #16529 closed

[2017-02-28 21:53] davidsh commented on #12282
If you are developing a C# UWP (Windows Store App), then a workaround would be to use the WinRT Windows.Web.Http APIs.  They are similar to System.Net.Http and support allowing self-signed certificates.

See:

 https://docs.microsoft.com/en-us/uwp/api/windows.web.http.filters.httpbaseprotocolfilter#Windows_Web_Http_Filters_HttpBaseProtocolFilter_IgnorableServerCertificateErrors

https://docs.micro

[2017-02-28 22:08] chcosta commented on #14594
Further discussion has revised the plan slightly (as these things tend to do).

We are going to produce transport packages using the same symbol package mechanisms we use today which will be used for ingestion into Core-Setup.  The packages will go to the same feed as our standard packages.  I'm going to track the details of this plan on an internal GitHub issue, but will revisit this issue once t

[2017-02-28 22:09] JonHanna commented on #16540
That's the reason I would do it in a hot path.

Outside of that, it's a subjective matter (there are plenty of things I do favour all of the time where others might favour something else as more readable or less prone to letting typos compile, so I'm in no position to be dogmatic).

In tests I'd be more strongly in favour of the call to `MaxValue` again though, as in tests speed is less important

[2017-02-28 22:17] JonHanna commented on #16540
Incidentally, while it won't go all the way to creating compile-time literal strings, Roslyn is aware of `int.MaxValue` so when used as a number then it's exactly the same as using `2147483647` or `0x7FFFFFFF`, rather than compiled as a call to a static field, so there's no downside in such cases.

[2017-02-28 22:32] #15523 closed

[2017-02-28 22:33] mellinoe commented on #16540
The `MaxValue` members are constants, not static fields. There is no way that these values could ever change, so it's not something that needs to be considered.

[2017-02-28 22:34] krwq commented on #4278
@tintoy @anthonylangsworth @peterwurzinger what's the status of your test branch? can we start merging it? I can cherry pick your tests and keep going from there.

Could you also PTAL at https://github.com/dotnet/corefx/pull/16545 ? I've enabled one of the MSDN samples

[2017-02-28 22:42] #15981 closed

[2017-02-28 22:48] zemien commented on #16520
Thanks @davidsh that gives some clarity. In the full framework we are able to specify this in the .dll.config file and have it loaded even if it's someone else's binaries:

[code]

Does dotnet core read and use this configuration at all? My initial testing would say 'no'. And I even tried putting this config in web.config even though I know Kestrel doesn't see it, just in case.

[2017-02-28 22:50] davidsh commented on #16520
No. .NET Core doesn't use config files.

If you want to specify a custom proxy, then you can define a custom class implementing `IwebProxy` interface.  Then set that interface in the `HttpClientHandler.Proxy` property.

[2017-02-28 22:56] zemien commented on #16520
In other words I'll need to re-implement similar configuration properties in my appsettings.json and have it flow through to my own IWebProxy implementation? It's not ideal but I guess that's the only way now. Is there a plan to enhance these proxy-handling situations? It will be get more and more common as the enterprise world picks up Core.

[2017-02-28 22:59] karelz commented on #13960
Next step: Provide proof of concept, with measurements it is better (allocations/time, and initialization impact). The perf wins should justify the added complexity.
It will be likely non-trivial.

[2017-02-28 23:01] karelz commented on #13607
Sounds good, thanks!

[2017-02-28 23:10] ianhays commented on #15516
Permissions support in ZipArchive won't happen for 2.0.0, so our other options are:

- Modify the permissions in Nuget: https://github.com/NuGet/Home/issues/4424
- Modify them in the CLI around the nuget restore call
- Change the default File permissions for ZipArchive

Seems like the NuGet fix is the only one that makes sense.

@eerhardt @stephentoub any thoughts?

[2017-02-28 23:17] karelz commented on #4491
Next step: We need API proposal with deep analysis how implementable it is. The old Desktop API might be an option, likely not a good one.
This is quite hard to do and requires lots of experience.

[2017-02-28 23:17] Priya91 commented on #10764
This test passes on local osx.

This looks similar to GetHostEntryAsync calling into getaddrinfo not resolving the ipaddress for local host name. This looks like a dupe of #13309

[2017-02-28 23:21] karelz commented on #4497
Next step: @AtsushiKan @DnlHarvey please check the API if it is ready to api-ready-for-review.

[2017-02-28 23:24] karelz commented on #9800
@AtsushiKan @DnlHarvey please update top post with proposal if it is ready.

[2017-02-28 23:24] Priya91 commented on #13188
This hasn't failed in CI, and not able to repro locally. Closing the issue as log not available. Please reopen if test fails.

[2017-02-28 23:24] #13188 closed

[2017-02-28 23:25] karelz commented on #10860
@ericstj what has to happen here? Is it something that @AtsushiKan @DnlHarvey should do?

[2017-02-28 23:26] davidsh commented on #16520
Thank you for the feedback. There are no specific plans to enhance proxy.  In terms of generalized config file support, I'm not sure if there are any plans for that either.

[2017-02-28 23:26] Priya91 commented on #13299
Assinging to @steveharter per his comment.

[2017-02-28 23:28] karelz commented on #10989
Next step: Find out (under debugger) where we invoke globalization and get the wrong answer (that's where it is likely going to be).

[2017-02-28 23:28] Priya91 commented on #13302
cc @steveharter looking at sockets tests..

[2017-02-28 23:29] saurabh500 commented on #16421
This is a TCP timeout while communicating with the server.

I could turn on logging on the server for all the instances of the server, but this could lead to 100s of lines of logs being emitted for each test leg.

[2017-02-28 23:29] Priya91 commented on #13417
Closing as old test result failure, not enough info in the bug to take action.

[2017-02-28 23:29] #13417 closed

[2017-02-28 23:31] ericstj commented on #10860
This is no longer an issue, we've deleted the package.

[2017-02-28 23:31] #10860 closed

[2017-02-28 23:32] karelz commented on #12055
Next step: Design it and implement it. Potentially leverage Desktop code (it is also on ReferenceSource).

[2017-02-28 23:32] ericstj commented on #10860
Also @joperezr made sure it wouldn't be exposed https://github.com/dotnet/corefx/blob/afaaf450d1869992dcf4f51c627f16145cf9c974/src/System.Reflection.Emit/dir.props#L8

[2017-02-28 23:33] Priya91 commented on #13636
This hasn't failed in CI, and not able to repro locally. Closing issue please reopen if test fails again.

[2017-02-28 23:33] #13636 closed

[2017-02-28 23:34] Priya91 commented on #13906
Closing as no repro.

[2017-02-28 23:35] karelz commented on #13238
Next step: Debug why the test didn't fail on its own. Fix it.

[2017-02-28 23:36] Priya91 commented on #13964
Closing as no repro. Please reopen if fails again.

[2017-02-28 23:36] #13964 closed

[2017-02-28 23:36] karelz commented on #13977
Next step: Get it under debugger and find out how to fix it.

[2017-02-28 23:37] jkotas commented on #12055
This code is in CoreCLR (https://github.com/dotnet/coreclr/blob/68f72dd2587c3365a9fe74d1991f93612c3bc62a/src/mscorlib/src/System/Reflection/Emit/DynamicILGenerator.cs#L925). It needs to be flipped back to public, exposed in contracts, and tests added.

[2017-02-28 23:39] Priya91 commented on #15018
This hasn't failed in CI since, and not able to repro locally. Closing as no repro.

[2017-02-28 23:40] karelz commented on #644
@AtsushiKan please review the proposal to see if it is ready.

[2017-02-28 23:41] Priya91 commented on #15930
Closing bug as dupe of #10345

[2017-02-28 23:41] #15930 closed

[2017-02-28 23:41] karelz commented on #1665
We do not track ECMA bugs in CoreFX. @CarolEidt do you have a place to move the bug to?

[2017-02-28 23:41] #1665 closed

[2017-02-28 23:44] karelz commented on #2800
@tmat @nguerrera we think it belongs to Sytem.Reflection.Metadata

[2017-02-28 23:45] tmat commented on #2800
@karelz I don't think it does. We don't want to implement a specific object model in SRM. Rather System.Reflection should build on top of SRM.

[2017-02-28 23:45] ahhsoftware commented on #8622
No point in fixing things if there not broken, core might not be for us
moving forward

On Tue, Feb 28, 2017 at 1:47 AM, Vitaliy Fedorchenko <
notifications@github.com> wrote:

[2017-02-28 23:45] Priya91 commented on #16419
Requires investigation.

[2017-02-28 23:45] karelz commented on #2886
@AtsushiKan believes that all these things are now public/protected in 2.0.

[2017-02-28 23:45] #2886 closed

[2017-02-28 23:47] karelz commented on #4411
Next step: We need proper design and formal API proposal.
Complexity: difficult/expert-level.

[2017-02-28 23:49] karelz commented on #4997
Should be fixed in .NET Core 2.0 / .NET Standard 2.0

[2017-02-28 23:49] #4997 closed

[2017-02-28 23:50] karelz commented on #5546
@AtsushiKan says it was already rewritten, so probably no need for any action.

[2017-02-28 23:50] #5546 closed

[2017-02-28 23:51] karelz commented on #5591
@DnlHarvey can you please check if this is still valid?

[2017-02-28 23:51] Priya91 commented on #13300
Closing this as dupe of #16201

[2017-02-28 23:51] #13300 closed

[2017-02-28 23:54] karelz commented on #5744
Dupe of #5884

[2017-02-28 23:54] #5744 closed

[2017-02-28 23:56] karelz commented on #5884
@AtsushiKan @DnlHarvey does the API proposal above look reasonable? If yes, let's mark it so.

[2017-03-01 00:00] karelz commented on #6645
The work is already tracked in uber-2.0 UWP work.

[2017-03-01 00:00] #6645 closed

[2017-03-01 00:02] karelz commented on #5844
Next step: Will be likely implementable based on ReferenceSource.
Medium complexity. Key thing: Understand what it was originally design for.

[2017-03-01 00:03] Priya91 commented on #16201
This failure seems to happen when curl is compiled with NSS as crypto backend. I tried issuing 200 requests with curl multi handler, and was not able to repro this outside of .NET apis, Tried on centos 7.

[code]

[2017-03-01 00:03] karelz commented on #8220
@AtsushiKan plans to work on it next week.

[2017-03-01 00:04] #16520 closed

[2017-03-01 00:04] karelz commented on #8855
@ericstj what is needed here?

[2017-03-01 00:04] danmosemsft commented on #16540
I think this is answered.

[2017-03-01 00:04] #16540 closed

[2017-03-01 00:05] karelz commented on #9805
This is just tracking issue for NS 2.0 in UWP which is already tracked.

[2017-03-01 00:05] #9805 closed

[2017-03-01 00:05] karelz commented on #10202
@AtsushiKan's personal todo list which is mostly done.

[2017-03-01 00:05] #10202 closed

[2017-03-01 00:07] karelz commented on #11048
Next steps: Find the places which throw it - try to implement it consistently.
Complexity: Medium

[2017-03-01 00:07] JonHanna commented on #16540
Yes. Pardon the thinko above.

[2017-03-01 00:07] karelz commented on #11494
No repro details, closing. Feel free to reopen if you have more info.

[2017-03-01 00:07] #11494 closed

[2017-03-01 00:10] karelz commented on #11797
Next step: Root cause with the help of debugger and fix it.

[2017-03-01 00:11] Priya91 commented on #12236
Re-enabling the test for now, as not able to repro in local centos vm. Keeping the issue open.

[2017-03-01 00:12] karelz commented on #12338
Looks related to #11797

Next step: Root-cause (under debugger) and propose a fix.

[2017-03-01 00:14] karelz commented on #13057
Looks like dupe of #11639.

[2017-03-01 00:14] #13057 closed

[2017-03-01 00:14] Priya91 commented on #16201
The ssl ca cert path issue is the main cause of outerloop rhel, centos and fedora builds failing.

[2017-03-01 00:15] karelz commented on #13265
This is instance of the bigger issue #8130.

[2017-03-01 00:15] #13265 closed

[2017-03-01 00:17] karelz commented on #13450
@morganbr @MichalStrehovsky can you help us here?

[2017-03-01 00:18] Priya91 commented on #16489
Thanks @sepidehMS

[2017-03-01 00:20] ericstj commented on #8855
Profile 151 is compatible with netstandard1.2 so the ask is to cross-compile for that or earlier and include it in the package.

This particular assembly no longer has a package in corefx since its been absorbed by ns2.0 so the fix here would need to happen in servicing (or we'd need to bring back the package and continue shipping it, despite the overlap).  /CC @weshaggard

[2017-03-01 00:21] karelz commented on #15960
@jkotas is it dupe or just related?

[2017-03-01 00:22] karelz commented on #14527
cc @danmosemsft this might be interesting to get to 2.0 for compat

[2017-03-01 00:23] karelz commented on #14527
Next step: Search the facade assembly for mscorlib.dll
Complexity: Medium

[2017-03-01 00:27] Priya91 commented on #15844
This tests seems to break linux builds, disabling for linux.

[2017-03-01 00:29] Porges commented on #12412
I'm seeing an access violation in .NET Core 1.1 inside `SslStream.AuthenticateAsClientAsync`. Setting the `COMPlus_ReadyToRunExcludeList` environment variable fixes it. Should I report this as a separate bug?

[2017-03-01 00:32] karelz commented on #2320
We do not believe that such a large API surface must be part of CoreFX. It is perfectly fine to have independent library sitting on top of it.
Closing. Feel free to reopen if you disagree.

cc: @terrajobst for checking our conclusion

[2017-03-01 00:32] #2320 closed

[2017-03-01 00:35] gkhanna79 commented on #12412
@Porges The general is already fixed (see https://github.com/dotnet/coreclr/issues/8148) and will be part of our 1.1.1 release.

[2017-03-01 00:39] karelz commented on #8855
Given the high cost of maintaining cross-compilation of a package and given the low interest (1 vote), I would suggest to close the issue - if more folks are interested, we can reconsider later.

[2017-03-01 00:39] #8855 closed

[2017-03-01 00:40] karelz commented on #2800
@AtsushiKan @DnlHarvey you guys didn't think it is doable/feasible. Can you please comment?

[2017-03-01 00:41] Porges commented on #12412
@gkhanna79 Thanks 👍

[2017-03-01 00:41] karelz commented on #12055
Even better, marking as "up for grabs"

[2017-03-01 00:42] karelz commented on #10860
Great, thanks @ericstj and @joperezr!

[2017-03-01 00:44] jkotas commented on #15960
It is not dupe. This one is about fixing existing APIs, the other is about adding new APIs that work even better.

[2017-03-01 00:47] karelz commented on #12236
@Priya91 what's the value of keeping the issue opened?
BTW: Should we cleat out disabled-test label?

[2017-03-01 00:48] MichalStrehovsky commented on #13450
@robertmclaws What field are you trying to reflect on?

The type that you're reflecting on needs to be reflection enabled - by default this will be all the types in your app and you shouldn't need to do any work for that. If it's not your app type, you might need to use [the wizard](https://dotnet.github.io/native/troubleshooter/type.html) to generate an RD.XML entry for the type that owns the fie

[2017-03-01 00:48] karelz commented on #984
All kudos should go to @willdean @msalsbery @SWY1985 ... and I hope I didn't forget anyone from the crew that actually worked on it :)

[2017-03-01 01:05] geoffkizer commented on #16520
@zemien What sort of enhancement would you like to see here?  (Other than supporting the existing config file)

[2017-03-01 01:10] geoffkizer commented on #16520
BTW, you don't need to implement IWebProxy yourself.  You can use the WebProxy class and configure it based on whatever settings you like.  Does this help?

[2017-03-01 01:12] mellinoe commented on #15957
These have been implemented in corefx. JIT work is still in progress.

[2017-03-01 01:12] #15957 closed

[2017-03-01 01:13] mellinoe commented on #1605
We've implemented some API's which should cover a good chunk of the scenarios here. If there's still things that could be optimally solved with different intrinsics, we can open a further discussion.

[2017-03-01 01:13] #1605 closed

[2017-03-01 01:15] mellinoe commented on #4610
I'd be happy to help push the discussion forward, but we don't have anything concrete enough here. Feel free to re-open or file a new issue with a concrete proposal if you'd like to continue this.

[2017-03-01 01:15] #4610 closed

[2017-03-01 01:17] karelz commented on #16542
@willdean thanks for the "up for grabs" tip!

[2017-03-01 01:20] Priya91 commented on #12236
This seems to have failed more than once in CI,  hence kept the issue open.

[2017-03-01 01:21] mellinoe commented on #5222
Given the current state and purpose of System.Numerics.Vectors, I don't think we want to do this right now. If this is something community members want to pursue, here's some of the points we'd need to understand and design for:

* Does the type need to be hardware-accelerated?
* Does the type need to be in System.Numerics.Vectors.dll? Historically, this only contains SIMD-accelerated types, and h

[2017-03-01 01:21] #5222 closed

[2017-03-01 01:24] mellinoe commented on #8567
Given that this is a documented behavior quirk and is in line with what .NET Framework does, I'm going to close this. We would still most likely consider a fix for the bug, just taking into account the caveats I described above.

[2017-03-01 01:34] zemien commented on #16520
@geoffkizer IIRC WebProxy class is not included in Core. We need to make our own implementation of IWebProxy.

In terms of enhancements, I suppose the WinHttpHandler does a lot of what I need to do. I tried setting the WindowsProxyUsePolicy to DoNotUseProxy, but I'm now getting a `System.Net.Http.WinHttpException: A security error occurred` with no further specifics.

[2017-03-01 01:37] geoffkizer commented on #16520
WebProxy has been added to Core:  https://github.com/dotnet/corefx/blob/7cc0590e9b5d12f79d594aed1b35d1c320032ffc/src/System.Net.WebProxy/src/System/Net/WebProxy.cs

[2017-03-01 01:52] zemien commented on #16520
@geoffkizer that's great, but when will it be added to a 1.1 release?

[2017-03-01 02:07] karelz commented on #4610
Another data point: We started lately forming a line of what belongs into CoreFX and what doesn't. Non-CoreFX repos have advantage of independent shipping schedule, potentially even more open for contributions than CoreFX repo.

Key reasons for being in CoreFX repo: It's code ported from Desktop .NET Framework. Something in CoreFX needs to depend on it.
Insufficient reason: Similar APIs are alread

[2017-03-01 02:11] mellinoe commented on #16530
Should be fixed now.

[2017-03-01 02:11] #16530 closed

[2017-03-01 02:15] karelz commented on #12236
If it is not actionable at this moment and we are just waiting on another failure in CI, I would suggest to close it - the issue does not track anything meaningful.
I assume it would be best to add more logging and close the issue to wait for another failure, then we can reopen it, or open a new one.

[2017-03-01 02:38] Eilon commented on #6489
Yup I think we're very close to getting this out. We have most of the legwork done, and in the meantime you can try out the nightly package feed to see that it resolves the issues you have with .NET Core support.

[2017-03-01 02:39] Jiayili1 opened #16555 "Test "System.Numerics.Vectors.Tests " failed with System.Reflection.TargetInvocationException & System.AccessViolationException"
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170228.02/workItem/System.Numerics.Vectors.Tests/wilogs

Failed test: System.Numerics.Vectors.Tests

Failed to generate the test result.

Message:
[code]

Stack Trace:
[code]

[2017-03-01 02:42] safern commented on #16513
I don't know how the current test is exercising those lines of code but it seems we are missing to do more testing there because I tried to do locally what @stephentoub described here: https://github.com/dotnet/corefx/pull/16456#discussion_r103077889 and it failed as he said.

[2017-03-01 03:12] tintoy commented on #4278
Hi @krwq - let me have a quick chat to @anthonylangsworth and get back to you.

[2017-03-01 03:16] tintoy commented on #4278
PS. #16545 -> :+1:

[2017-03-01 03:43] tintoy commented on #4278
@krwq - had a quick chat to @anthonylangsworth. He mentioned (and I agree) that given the amount of work that's been done there perhaps it'd be good to merge what we have before going any further. It builds, and most tests pass, but a few do not.

I suspect we'll need to rebase against #16545 (which I'll do) before opening a PR (which @anthonylangsworth will do).

We'll get back to you as soon as

[2017-03-01 03:57] anthonylangsworth commented on #4278
@krwq To expand on what @tintoy said, while there is still some work to go, a lot of work also has been done porting existing tests and expanding them. In particular, I have already changed `CryptoConfig.cs` to handle many of the algorithms you mention. We all want to move this forward. We also do not want to duplicate or overwrite each other's work. Therefore, we plan to merge the changes as is s

[2017-03-01 05:23] jamesqo commented on #16007
@safern You can ignore the 'probably'. I was 99% sure it was mutable bc it had `Builder` in its name but I hadn't actually looked through its source code.

[2017-03-01 05:30] jamesqo commented on #16374
@karelz Because that repo isn't as strictly maintained as corefx, PRs should not be submitted there at all? I think I would like to submit a PR there bc if we find a way to modify its design such that it fits well with the existing API (and does not force people to explicitly choose between it and `List<T>`), then it will be beneficial to have it in corefxlab.

[2017-03-01 06:11] danmosemsft commented on #16511
https://github.com/dotnet/corefx/issues/15421

[2017-03-01 06:14] Jiayili1 commented on #16201
This issue is repro on OuterLoop_Fedora23_debug ([build#116](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_debug/116/testReport/)), detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_debug/116/testReport/System.Net.Tests/TaskWebClientTest/UploadFile_Success_echoServer__https___corefx_net_cloudapp_net_Echo_ashx_/

[2017-03-01 06:31] Jiayili1 commented on #13906
This issue is repro on OuterLoop_Windows10_release ([build#114](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/114/testReport/)), detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/114/testReport/System.Net.Http.Functional.Tests/HttpClientHandler_DefaultProxyCredentials_Test/ProxyExplicitlyProvided_DefaultCredentials_Ignored/

[2017-03-01 06:33] Trolldemorted commented on #12282
As i said, the requests are sent from a .NETStandard library, is there a package that would grant us access to the WinRT HttpClients?

[2017-03-01 06:36] krwq commented on #4278
@tintoy is https://github.com/tintoy/corefx/tree/feature/xml-crypto/tests the only branch you are working on?

[2017-03-01 06:57] geoffkizer commented on #16375
I agree, we should do this.

[2017-03-01 07:01] geoffkizer commented on #14041
I agree, this would be a good feature to have.

[2017-03-01 07:14] tintoy commented on #4278
Yep.

[2017-03-01 07:15] geoffkizer commented on #4002
Unless I'm missing something, this is just a bad test and should be removed.

[2017-03-01 07:18] peterwurzinger commented on #4278
@krwq Well, there is a [PR](https://github.com/tintoy/corefx/pull/7) with a good amount of stuff from Mono in (which is also a sub-branch from  https://github.com/tintoy/corefx/tree/feature/xml-crypto/tests ...). If you're interested in up-to-date code you should probably have a look there. As far as I can tell there are ~40/340 tests failing.

[2017-03-01 07:20] tintoy commented on #4278
Good catch, @peterwurzinger, I thought we'd already merged that one!

[2017-03-01 07:23] wapac commented on #13114
I can provide a full code if it is not clear.

The server side program entry point looks like this:
`    public static void Main(string[] args)
    {
      StartServerAsync().Wait();
    }
`

and similarly, the client looks like this:

`    public static void Main(string[] args)
    {
      StartClientAsync().Wait();
    }

`

But is there really nothing weird in that that running the client for t

[2017-03-01 07:42] krwq commented on #4278
@peterwurzinger this PR is pretty nice! I have in fact missed it. Will you be merging that to your branch, to corefx or do you want me to pick it up and do all the merges/rebases? Does it miss anything from Mono tests or is it a complete? @anthonylangsworth - for the CryptoConfig changes - I talked about that with @bartonjs - we should be not touching that file - it's already ugly enough.

My orig

[2017-03-01 08:29] cwe1ss commented on #16491
I tried to come up with more pseudo-code for a tracer-integration. Here's the updated code:
[code]

Questions/concerns/issues:
* Does this isEnabled filter now ensure that `IsEnabled(listenerName) == false` for all non-activity DiagnosticSource events? (to ensure there's no performance impact for unrelated listeners)
* I don't like the relation between the events and the static `Activity.Current`

[2017-03-01 09:45] anthonylangsworth commented on #4278
Thanks for the update, @krwq . If you can, please keep us up to date. It helps to know what we are aiming at.

[2017-03-01 10:22] peterwurzinger opened #16558 "Include System.Security.Cryptography.Xml in corefx-packaging"
In advance, this is less an issue than more a question/request for help.
We are currently [working](https://github.com/dotnet/corefx/issues/4278) on porting the S.S.C.Xml-Lib to .NET-Core. For my bachelor thesis project I already need this library very soon - a nightly/experimental/pre-alpha/whatever - build is perfectly fine though.
My question now is, what are the steps to include the project in

[2017-03-01 10:34] mormegil-cz commented on #8567
@mellinoe Where is that “behavior quirk” documented, please?

[2017-03-01 14:11] cocowalla commented on #1880
@pitmeinl is your 'tamed' version of FileSystemWatcher completely reliable? I understand that by default events can be missed - is this the case with your version too?

[2017-03-01 14:22] marek-safar commented on #15112
Another ping, we'd love to get this sorted out in NS2

[2017-03-01 15:07] KrzysztofCwalina commented on #16374
@karelz, command line PRs sat for a year because there was nobody on our side who thought the project aligns with our priorities. I think a collection extensions package aligns much nicer.

[2017-03-01 15:38] jakobbotsch commented on #16479
@jkotas I suppose you mean by using `As`? The overloads would accept `ref byte`, not `ref T`.

[2017-03-01 15:52] mikedn commented on #16479
@jakobbotsch If you have `ref byte` you can get yourself a `ref T` via `As<byte, T>` and then you don't need any `Read` method.

And the existing `Read` method is kind of pointless as if you have `void*` then you can use `AsRef<T>` to get a `ref T` you can read from. And when dealing with large value types `AsRef<T>` is possible more efficient because it avoid creating a copy that the JIT may or m

[2017-03-01 15:53] pitmeinl commented on #1880
The standard FWS does not raise exceptions when missing events but does report InternalBufferOverflowExceptions in its Error event.
Programmers often forget to implement an Error event handler to be notified of this exception.

My BufferingFileSystemWatcher uses very short event handlers (it only does a _fileSystemEventBuffer.TryAdd(e) to avoid InternalBufferOverflowExceptions. I was unable to for

[2017-03-01 16:01] mkosieradzki opened #16560 "FileLoadException - Microsoft.Win32.Primitives when using WinHttpHandler"
On .NET 4.6:
WinHttpHandler 4.4.0-24913-01 (4.0.2.0) depends on Microsoft.Win32.Primitives (4.0.1.0)
whilie
Microsoft.Win32.Primitives 4.4.0-24913-01 contains Microsoft.Win32.Primitives  (4.0.2.0)

This causes issues when binding redirects are not specified. Is this by design?

Consider following code running on Kestrel with IIS Express in VS2017 RC
[code]
It throws FileLoadException.

[2017-03-01 16:02] stephentoub commented on #4002
Let's be careful here.  There are a bunch of tests annotated with this issue number, and I don't believe we should just blanketly delete them all.  I expect they're providing coverage for things we don't have elsewhere.  For example, this doesn't seem like a bad test that should just be deleted:
https://github.com/dotnet/corefx/blob/969d86808c24fae13ab15c636b41ebc4ed204534/src/System.Net.Sockets/t

[2017-03-01 16:34] mellinoe commented on #16555
@pgavlin Here's another occurrence of (I think) the same `Narrow` issue.

[2017-03-01 16:36] AtsushiKan commented on #5884
@nguerrera: I think HasSameMetadataDefinitionAs() is a good way to go but should be defined on the specific MemberInfos (Type, MethodInfo, etc.) with the properly constrained parameter type.

[2017-03-01 16:41] JonHanna commented on #5884
If I have e.g. two `MethodInfo` references and want to know if they have the same metadata definition, then whether this method is defined in terms of `MethodInfo` or `MemberInfo` won't make any difference to me, so as an API consumer I don't care.

If I have two `MemberInfo` references and want to know if they have the same metadata definition, then if it's defined in terms of `MemberInfo` I can

[2017-03-01 16:44] nguerrera commented on #5884
I agree with @JonHanna. Why can't this be polymorphic?

[2017-03-01 16:50] krwq commented on #16558
There are couple of options you have (I assume you have some local project which needs to use crypto-xml):
- dirty way: create a new project (dotnet new - choose library), copy crypto-xml source files into that and simply refererence csproj
- cleaner way: rename *.pkgproj.disabled in in the crypto-xml folder to *.pkgproj and build, I believe this should create a nupkg somewhere in the output. In y

[2017-03-01 16:53] karelz commented on #16374
@KrzysztofCwalina is there any guarantee that @jamesqo's class won't become a non-priority in CoreFXLab?
To be safe, I would still suggest separate repo driven by community members. IMO it gives much more flexibility to everyone.

This might be potentially good match for the PowerCollections and friends repo that we discussed some time back (BTW: was there any progress on that?). However, I am not

[2017-03-01 16:54] karelz commented on #15112
@ericstj @mellinoe can you please help here?

[2017-03-01 16:55] AtsushiKan commented on #9800
Does not need an api review as this proposal is simply about restoring an overload that already exists on the full framework:

public virtual void EmitCalli(
	OpCode opcode,
	CallingConvention unmanagedCallConv,
	Type returnType,
	Type[] parameterTypes
)

[2017-03-01 16:58] karelz commented on #16530
@mellinoe Out of curiosity, how did it get through CI? Are we missing some coverage?

[2017-03-01 16:59] stephentoub commented on #16530
We don't have Ubuntu 16.10 legs in CI.

[2017-03-01 17:01] AtsushiKan commented on #5884
Defining the api polymorphically means every caller pays the penalty of comparing the "MemberTypes" and casting to the specific type. Parameter types should also be as specific as possible for better compile time bug detection.

How frequent is the use case where the caller doesn't already know the specific type? There is no case where MemberInfos of different flavors will be considered "equivalen

[2017-03-01 17:02] karelz commented on #9800
@AtsushiKan is it just matter of exposing existing functionality, or what is involved in the work? (the "next step & complexity" comment ;-))

[2017-03-01 17:02] karelz commented on #9800
Also, unassigning you as you don't plan to work on it ...

[2017-03-01 17:05] AtsushiKan commented on #9800
The overload and its underlying support was physically removed from CoreClr so it'll have to be exhumed from the desktop source. Estimate: light to medium complexity.

[2017-03-01 17:07] karelz commented on #16530
OK, that makes sense then.

[2017-03-01 17:07] AtsushiKan commented on #4497
Looks like a reasonable proposal

[2017-03-01 17:08] pgavlin commented on #16555
This has now been fixed in CoreCLR with PR https://github.com/dotnet/coreclr/pull/9871; the fix should be picked up here the next time the CoreCLR package is updated.

[2017-03-01 17:09] KrzysztofCwalina commented on #16374
There is no traction on PowerCollections. I thought the corfxlab library would be such "power collections" home.

There is no guarantee, but I think it's much more likely that such library would be aligned with corfxlab priorities.

[2017-03-01 17:15] karelz commented on #16374
I thought we concluded we need a new repo for PowerCollections and friends. Esp. because CoreFXLab does not have shipping mechanism and is for experiments. We would have to artificially distinguish what's experiment and what is shipping quality :( ... we can take that discussion elsewhere ..

[2017-03-01 17:31] krwq opened #16563 "Test runs on Ubuntu are showing useless stack on failure"
Running test is performed with: Tools\msbuild.sh /t:BuildAndTest project.csproj

example stack trace on Ubuntu 16.04 (obviously big chunk of stack is missing)
[code]

on the first look it looks like somewhere in the code there is something like:
[code]

replacing `throw e;` with simply `throw;` should fix it. I did not investigate where that code is or if that is the problem.

[2017-03-01 17:31] karelz commented on #16558
@peterwurzinger why do you need NuGet package? Isn't privately-built DLL enough for your project? NuGet is IMO most valuable when you expect others to consume the work - i.e. one should shoot for stable / high-quality, etc.
(just trying to understand your motivation)

[2017-03-01 17:32] AtsushiKan commented on #644
@HaloFour - if you'd still like to see this go forward, can you split the issue into one for GetGenericMethod() and one (or two) for the interface related apis? It seems like GetGenericMethod is the one that's has motivation right now.

[2017-03-01 17:36] KrzysztofCwalina commented on #16374
I don't remember such conclusion, thought maybe we did reach it.
Assuming we did, the conclusion surely was that we will create a repo and help the community with building, CI, publishing, provide critical mass of datastructures, etc. Is that happening? i.e. is anybody actually working on it? If not, then I think corfxlab is a great way to start (developing the code) and once we have the other rep

[2017-03-01 17:38] HaloFour commented on #644
@AtsushiKan

Sure.  Can I reference those issues back to this one or should I flesh them out individually?

[2017-03-01 17:39] karelz commented on #16560
The latest package does not have the dependency anymore: https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Net.Http.WinHttpHandler/4.4.0-beta-25027-01

Your version has it: 4.4.0-beta-24913-01

Maybe it was some point-in-time packaging bug? cc @ericstj @mellinoe

[2017-03-01 17:42] jkotas commented on #16374
We need to lead by example with relatively small repos per nuget package for components that do not have to be part of the platform.

@tmat has been doing that for components that he owns (e.g. https://github.com/dotnet/symreader) and developing best practices on how to setup such small repos. We need more of these to get a vibrant .NET ecosystem.

I have said before that I am not happy about rand

[2017-03-01 17:42] stephentoub commented on #16563
@krwq, do you have a link to a CI test log as an example?

(I'm also interested in the specific example you chose: System.Security.Cryptography.Csp is Windows-only.)

[2017-03-01 17:44] ericstj commented on #15112
Adding an attribute is indeed easy and something I'd be willing to push through.  Rather than a new type, how about AssemblyMetadataAttribute?  That's a generic name-value pair where we stuff data like this (eg: the serviceable attribute).

Some other naming options
- "WindowsSpecific" : "true"
- "Platform": "PlatformId.Win32NT" (where the value can be parsed as a PlatformID enum)
- "OSPlatform":

[2017-03-01 17:45] AtsushiKan commented on #8220
I mistook this for a different issue I was working on.

[2017-03-01 17:47] karelz commented on #8220
OK, any guess on complexity?

[2017-03-01 17:47] AtsushiKan commented on #644
My recommendation would be to narrow this one down to GetGenericMethod only and then open separate issues for the interface related proposals. (Concrete use cases for those would be good too.) I think we'd want to consider these api groups separately.

[2017-03-01 17:49] KrzysztofCwalina commented on #16374
@jkotas, the proposal is to add these to corfxlab, not to corefx. I agree with your point about corfx.

[2017-03-01 17:50] krwq opened #16565 "Warnings should not be errors when building single test project"
When doing development it is normal to temporarily place exception in the middle of the code to investigate issue. Treating warnings as errors causes really annoying workflow that you also need to comment out stuff below it (because of "Unreachable code detected"). This is completely valid to do as part of the full build but super annoying when building single project

[2017-03-01 17:50] karelz commented on #644
@HaloFour please update the top post and ping us when it is ready, we can then move it forward ...

[2017-03-01 17:52] AtsushiKan commented on #8220
Main complexity is that it's a breaking change.

If we decide to take the change, we'll probably port the "GetParent" logic from corert so light to medium complexity.

[2017-03-01 17:53] stephentoub commented on #16565
FWIW, I disagree.  We should continue to treat warnings as errors, even when building individual projects.  If you'd like to suppress that locally, you can, either with pragmas or with NoWarn for specific warnings in the csproj, etc.

[2017-03-01 17:53] krwq commented on #16563
@stephentoub - I have this happening on my Ubuntu box at home. I'm seeing this also on CI run in here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/3898/consoleText (search for SignedXmlHasVerifiableSignature).

[2017-03-01 17:54] karelz commented on #8220
Can we decide on the breaking change now (or at least provide high-confidence evaluation), or do we have to wait for the change to be coded up?

[2017-03-01 17:55] mkosieradzki commented on #16560
@karelz Thanks a lot! In https://dotnet.myget.org/feed/aspnetcore-ci-dev/ it is still in 24913 that's what made me confused.

[2017-03-01 17:57] karelz commented on #16560
OK, closing then. Let me know if you need more info/help.

[2017-03-01 17:57] #16560 closed

[2017-03-01 17:58] AtsushiKan commented on #8220
It makes little sense to code it up before we’ve decided whether the breaking change is worth it (especially since personally leaning against…)

[2017-03-01 17:59] tmat commented on #16374
We have a similar type in System.Reflection.Metadata: https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/src/System/Reflection/Metadata/BlobBuilder.cs
It's currently a list of bytes, but it could be easily extended to any item type. I was thinking about implementing it and using it in metadata table builders. Was considering name ```Stream<T>```.

[2017-03-01 18:00] karelz commented on #8220
OK, then as area owner can you please provide recommendation? Or pull in more people and drive the AppCompat decision?
It also means it is not ready for "up for grabs" yet, as we might want to reject it ...

[2017-03-01 18:00] tmat commented on #16374
Re the repo infrastructure: See [RepoToolset](https://github.com/dotnet/roslyn-tools/pull/25) and repo already using it: https://github.com/dotnet/symreader-converter

[2017-03-01 18:01] AtsushiKan opened #16566 "Type: Needs api to distinguish SzArrays from Multidim arrays of rank 1."
The SZ array type ("T[]") and rank 1 multidim arrays ("T[*]") are distinct and non-interchangable types in .NET. However, the Reflection surface area contains no api to distinguish. (The most "obvious" approach ("t is Array && t.GetArrayRank() == 1") captures both.)

Proposal:

   Add a new property to System.Type:
[code]
Alternate names that have been proposed:
       IsSZArray
       IsVector

T

[2017-03-01 18:04] HaloFour opened #16567 "Proposal: Update Type.GetMethod() overloads to simplify finding generic methods via reflection"
# Problem

Currently it is quite burdensome to resolve a specific `MethodInfo` for a generic method.  That requires looping through all of the methods of the type and manually determining candidates based on name, parameter arity, type compatibility, etc.  Such home-grown solutions are generally fragile, making assumptions regarding the specific overloads available for a given generic method at th

[2017-03-01 18:04] HaloFour commented on #644
@AtsushiKan @karelz

#16567

[2017-03-01 18:06] stephentoub commented on #16481
https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_release_prtest/1204/consoleText

[2017-03-01 18:09] karelz commented on #644
@HaloFour thanks! Do you plan to update this issue to track the interface proposal?

[2017-03-01 18:09] jkotas commented on #16481
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/3946/

[2017-03-01 18:13] HaloFour commented on #644
@karelz

Yes, I can make separate proposals for that.  Do you think that `FindGenericInterfaces`, `ImplementsInterface`, `IsSubclassOf` and `Is` should all be their own proposals or can they be lumped together as one?

[2017-03-01 18:15] weshaggard commented on #15112
I'd be OK with using AssemblyMetadataAttribute and marking the assembly as "Windows" if it has Windows PInvokes or is specific to .NET Framework on Windows in some way.

My only question is what would the mono runtime do if it detects this? Will it block it and fail like the loader does for reference assemblies? Or will it just silently ignore it? If it it ignores it then how will assemblies that

[2017-03-01 18:21] geoffkizer commented on #4002
Yes, you're absolutely right.  I spoke too quickly.

Apparently, all these DnsEndPointTests are using "localhost" as the domain name to resolve.

Unfortunately, "localhost" typically only resolves to IPv4 loopback on Unix, not both IPv4 and IPv6.  So using this for testing is problematic.

Regardless, I agree we need to fix these tests.

[2017-03-01 18:23] MichalStrehovsky commented on #16566
Would it make sense to also add `IsMdArray`?

I don't know how common the pattern is in reflection, but in the CoreRT type system, we ended up adding such overload (dotnet/corert#1925) because it's just easier to read and better captures the intent (as you can see in the PR).

[2017-03-01 18:27] AtsushiKan commented on #644
I think that would depend on your use case argument. If there’s a use case argument that demands all of these api groups, then one issue. Otherwise, separate issues.

[2017-03-01 18:32] stephentoub commented on #16563
I agree there's something amiss about the stack trace, but I would hold off on that until we understand why Csp is being used on Unix.  Are you using something from the Csp library explicitly?  It looks like the failure is coming from SHA1.Create(), which is in turn creating a SHA1CryptoServiceProvider, which throws PNSE in its ctor on Unix.  But I would expect SHA1.Create() to create something us

[2017-03-01 18:38] danmosemsft commented on #15622
@sepidehMS as you have a few cycles, do you want to write this up, since IMO it would be nice to squeeze this into 2.0?

[2017-03-01 18:38] danmosemsft commented on #1942
@sepidehMS as you have a few cycles, do you want to code this up, since IMO it would be nice to squeeze this into 2.0?

[2017-03-01 18:40] bartonjs commented on #10764
@Priya91 We just added a 10.12 machine to CI and this is failing: https://ci.dot.net/job/dotnet_corefx/job/dev_apple_crypto/job/osx10.12_debug_prtest/1/

[2017-03-01 18:42] mellinoe commented on #8567
@mormegil-cz Very sorry about that: it actually isn't documented anywhere that I can find. I had mistaken this for another issue.

[2017-03-01 18:55] mellinoe commented on #16555
@pgavlin Great, thanks! I'll keep an eye on these failures and make sure they go away.

[2017-03-01 19:00] AdamSpeight2008 commented on #16540
@JonHanna  `Int.MaxValue` isn't being used for numerical value, but it's textual representation of that numerical value.

[2017-03-01 19:15] mmitche commented on #10764
@bartonjs Remote login is on in a non-Sierra machine, but not file sharing.  I am changing the sierra machine to see what happens if I make the settings identical.

[2017-03-01 19:22] weshaggard opened #16571 "System.Data facade has a lot of bogus global stuff that should be removed"
GenFacades isn't clearing out the global module references from the assembly when it rewrites it. We should remove those to eliminate bogus type and member references.

[2017-03-01 19:23] IngemarSkelander opened #16572 "Suggestion. Add bluetooth support"
It would be great to have support for pairing and IO with bluetooth devices for .net core.
It is perhaps a bit of a niche, but since self hosting is so easy in asp.net core I think more people than myself would be interested in communicating with BT devices from our self hosted web api's.

There is the 32feet bluetooth library, but it does not seem to be very active nowadays.

[2017-03-01 19:47] HaloFour commented on #16567
If those overloads of `GetMethod` couldn't apply to generic methods then I have no issue with removing them.  I wasn't sure how those arguments were used and since I was basing my implementation effectively on the disassembly of `RuntimeType` I wanted the logic to be as consistent as possible with `GetMethod`.

That would give us the following overloads:

[code]

Unless you think that `Binder` is

[2017-03-01 19:52] danmosemsft commented on #16565
Or you can set env variable TreatWarningsAsErrors=false or pass /p:TreatWarningsAsErrors=false etc.  HTH

[2017-03-01 19:52] #16565 closed

[2017-03-01 19:53] CIPop commented on #11708
We need to investigate this for 2.0 and answer the question: Is the error still being treated correctly by NegotiateStream internally?
If the answer is yes, we can postpone adding the error to the PAL error code adapter.

[2017-03-01 20:02] JonHanna commented on #16566
I prefer `IsSZArray`as the Z being lower case seems strange.

I prefer either capitalisation to `IsVector`, since vector has a few other meanings, and I think most people who would want to query this property would be familiar with the term *sz-array*.

[2017-03-01 20:19] ianhays commented on #13281
This failure may be related to #16516 and https://github.com/dotnet/corefx/issues/16534.

[2017-03-01 20:32] eerhardt commented on #15289
There are some "runtimes" sections here: https://docs.microsoft.com/en-us/nuget/create-packages/project-json-and-uwp that describe this feature when it was added in NuGet v3.

Another good doc on RIDs is here: https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/readme.md

These docs should help solve your problems for NuGet v4.  There is a "fallback" strategy as outlined i

[2017-03-01 20:34] sepidehMS commented on #16481
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/3937/

[2017-03-01 20:36] karelz commented on #4497
I updated the top post proposal - I modified the arg name to match the other method.

@mburbea @AtsushiKan the last comment in the proposal:

It seems that it is already the case per msdn docs of [EmitCall](https://msdn.microsoft.com/en-us/library/system.reflection.emit.ilgenerator.emitcall(v=vs.110).aspx). Am I missing something?

[2017-03-01 20:38] ianhays commented on #16534
I'm fairly certain these are from the same root cause as #16516. The failures only occur when the server SSLProtocol being used is `SslProtocols.Tls11` or `SslProtocols.Tls12 | SslProtocols.Tls11 | SslProtocols.Tls`. It does not fail for `SslProtocols.Tls12` or `SslProtocols.Tls`.

This is also true for several of the tests in #16516 with the exception of those that do not set an SSlProtocol expli

[2017-03-01 20:41] ianhays commented on #16534
@davidsh @steveharter any obvious reason why a Server with `SslProtocols = SsslProtocols.Tls11` would cause intermittent failures like this on Windows?

[2017-03-01 20:48] lmolkova commented on #16491
[code]
1. Listener should not check for Activity.Current. First of all, producer (e.g. ASP.NET) may be the first one that creates any Activity, so this check may turn off any possible instrumentation.
Some producers (e.g. System.Net.Http) will have the logic to check that Current != null as an indicator of instrumented operation.

2. Producers may call new IsEnabled(string name, object arg1, objec

[2017-03-01 21:18] cwe1ss commented on #16491
Good point!

Yes, that's ok from a producers/user side. I'm only talking about the subscribers side. It would be A LOT nicer if the actual Activity instance would be passed to the event as an argument. Again, I propose a simple wrapper type. This would also have the benefit tha subscribers could check that type to differentiate actual events from non-Activity events that coincidentally happen to h

[2017-03-01 21:21] #16508 closed

[2017-03-01 21:37] karelz commented on #4500
Looks like we should assess the impact here - @CIPop @davidsh do you have any insights?

[2017-03-01 21:40] krwq commented on #16563
@stephentoub this is happening in CryptoConfig.cs (search for http://www.w3.org/2000/09/xmldsig#sha1). The type is being created by reflection. I'm currently looking into that

[2017-03-01 21:41] karelz commented on #11904
@danmosemsft @stephentoub can you please point us to code coverage data, so that we can check how bad the situation is? (and decide 2.0 vs. Future) Thanks!

[2017-03-01 21:42] stephentoub commented on #16563
Thanks. Related, @bartonjs, we didn't make RSACryptoServiceProvider, SHA1CryptoServiceProvider, etc. mostly work as shims on top of the corresponding Unix functionality?

[2017-03-01 21:43] JeremyKuhne commented on #16481
Fixed with #16546

[2017-03-01 21:43] #16481 closed

[2017-03-01 21:43] stephentoub commented on #11904
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/lastSuccessfulBuild/artifact/bin/tests/coverage/System.Net.Sockets_NetworkStream.htm

[2017-03-01 21:47] bartonjs commented on #16563
@stephentoub I don't think that work ever got done, no.  (@steveharter: If it was done it would have been by you...)

[2017-03-01 21:48] stephentoub commented on #16563
Thanks. My gut is that's going to be a real issue for having existing code be portable with .NET Standard 2.0. cc: @danmosemsft, @karelz

[2017-03-01 21:50] ianhays commented on #16240
I've seen a few of these now. I wonder if we're making some invalid assumptions in our RemoteExecutorTestBase or improperly setting it up somehow.

If so, then related to https://github.com/dotnet/corefx/issues/16400, #15844.

[2017-03-01 21:54] krwq commented on #16563
@bartonjs, @stephentoub is it reasonable to always return SHA1.Create() instead of SHA1CSP? Sounds slightly scary from compat perspective. Perhaps maybe create a fake SHA1CSP class (and similar for all algorithms) which would simply use SHA1?

[2017-03-01 21:58] karelz commented on #16563
@steveharter @bartonjs was it something we planned to do as part of .NET Standard 2.0? Or did we intentionally left it for future?

[2017-03-01 22:00] steveharter commented on #9017
Fix is to disable such tests on non-Windows. Loopback IPV4 and Loopback IPV6 considered separate addresses and on Linux it is easy to get both to exist as separate connections with same port.

[2017-03-01 22:00] #9017 closed

[2017-03-01 22:01] steveharter commented on #13213
Fix is to disable such tests on non-Windows. Loopback IPV4 and Loopback IPV6 considered separate addresses and on Linux it is easy to get both to exist as separate connections with same port.

[2017-03-01 22:03] danmosemsft commented on #16563
How would I see this omission in the code -- PNSE? Area owners all signed off on all their instances of "throw new PNSE()" (but I regret we did not ask to make sure there was an explanatory comment on each)

[2017-03-01 22:07] bartonjs commented on #16563
I vaguely thought it was part of the plan, and tracked somewhere... but I didn't pay a lot of attention to the ns20 project.

@danmosemsft: https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=GeneratePlatformNotSupportedAssembly; or, specifically https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Csp/src/System.Security.Cryptography.Csp.csproj#L9

[2017-03-01 22:07] karelz commented on #11904
Thanks @stephentoub!

@geoffkizer is there anything that stands out for you as must-have coverage for 2.0?

Naively, I'd say basic functionality is covered. We don't have much negative test cases (which is ok for 2.0 IMO).
The only potentially methods are UnsafeBeginRead and UnsafeBeginWrite, but they seem to be dead code: https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=UnsafeBeginRead+Un

[2017-03-01 22:08] #16479 closed

[2017-03-01 22:12] krwq commented on #16563
@danmosemsft - what's the plan now? Should I do some workarounds in crypto-xml for now or do we want to port CSP?

[2017-03-01 22:23] mjmckp commented on #15957
This is a great start, however there are still a lot of SSE2 intrinsics missing that are required to port over the vectorised versions of `sin`, `cos`, `exp` and `log` written in C found [here](http://gruntthepeon.free.fr/ssemath/).  The same implementations have also been written in terms of AVX intrinsics [here](http://software-lisc.fbk.eu/avx_mathfun/).

As @jackmott mentioned in #1605, ideally

[2017-03-01 22:25] danmosemsft commented on #16563
I'm not qualified to answer that question. Can we bring over a useful compatible implementation here that works on Unix by using only API that's available on Unix?

@karelz I didn't know about GeneratePlatformNotSupportedAssembly. There are about 40 assemblies that have it and al or almost all have it specifically for Unix. We need to check what API those guys have that is in NS2.0. We have a coup

[2017-03-01 22:28] krwq commented on #16563
@danmosemsft, I believe it should be possible - I just made MSDN crypto-xml sample work on Ubuntu. @bartonjs - is it ok if I leave my wrapper for CryptoConfig and place workarounds for this over there?

[2017-03-01 22:29] steveharter commented on #14673
FYI last failure was 1/7/2017

Official build failures since 12\1\2016:
[code]

[code]

[2017-03-01 22:33] danmosemsft commented on #16489
Ian see above I added moer logging. Waiting for next fish.

[2017-03-01 22:34] AtsushiKan commented on #16567
I suspect the Binder isn't necessary and would only be attractive if we actually implemented these on System.Type alongside the other Get apis (the implementation is cheap in that case and consistency is desirable.)

On the other hand, we may want to implement these as external extension methods in which case, I'd question whether we'd want anything other than ExactBinding semantics. Is all that o

[2017-03-01 22:34] danmosemsft commented on #157
@mellinoe is this still necessary for 2.0? if so is it still feasible for 2.0 with your other commitments?
if no or no please set to future.

[2017-03-01 22:35] danmosemsft commented on #973
I think this is resolved. Please reactivate if not.

[2017-03-01 22:35] #973 closed

[2017-03-01 22:35] karelz commented on #16563
It seems we missed this in NS2.0 work - @steveharter can you please look into it? Please file a bug (this one has a weird title), get cost and then let's decide who/when does it.

@danmosemsft let's do the larger sweep offline.

@krwq do we need an issue tracking the original title "Useless stacks on Linux"?

[2017-03-01 22:39] steveharter commented on #13299
Closing since test added retry logic in https://github.com/dotnet/corefx/commit/b20f547e83899f224ccb7a5feb98a4dea24541c0.

See also #9017, #13213

Please reopen if test fails again

[2017-03-01 22:39] #13299 closed

[2017-03-01 22:39] danmosemsft commented on #1790
This is super old and is probably interesting but at this point I'm not sure that tracking it here is useful.

[2017-03-01 22:39] #1790 closed

[2017-03-01 22:39] krwq commented on #16563
@karelz - I believe the issue was related to this problem. I've just tested simple scenario and it shows good stack trace. Do we want to rename the title or close this?

[2017-03-01 22:40] karelz commented on #1170
@alexperovich @ianhays @safern can you please list the affected MSDN docs and suggest text change? Thanks!

@mairaw will be able to help us get the docs changed.

[2017-03-01 22:40] danmosemsft commented on #2108
Cleaning up extremely old issue that is now redundant

[2017-03-01 22:40] #2108 closed

[2017-03-01 22:41] karelz commented on #16563
Let's rename it and reuse it in that case.

[2017-03-01 22:43] mellinoe commented on #157
We really should not postpone this past 2.0, IMO. I should be able to get to it soon.

[2017-03-01 22:45] krwq commented on #16563
@karelz, I'm not sure how to call the new issue and how big scope of it should be

[2017-03-01 22:45] danmosemsft commented on #3419
Moving to Future as this is not necessray for 2.0
 cc @joperezr @AlexGhiondea

[2017-03-01 22:46] karelz commented on #16563
@steveharter can you please rename this issue instead of creating a new one?

[2017-03-01 22:47] geoffkizer commented on #11904
It would be good to have tests of the following:
ReadTimeout
WriteTimeout
DataAvailable
Connected
SetSocketTimeoutOption
Close(int timeout)

This stuff seems to be dead and should be removed:
PollRead
Poll
UnsafeBeginRead/Write

[2017-03-01 22:48] karelz commented on #11904
Thanks, let's keep the work listed by @geoffkizer as 2.0.

[2017-03-01 22:50] danmosemsft commented on #3656
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md is for consuming nightly drops
still need one for consuming private binaries.

[2017-03-01 22:50] weshaggard commented on #3656
I will update some docs for this.

[2017-03-01 22:51] danmosemsft commented on #3689
@kouvel is this issue realistically worth retaining? No instances in 3 months. If not please close.

[2017-03-01 22:52] krwq commented on #16563
@karelz maybe it would be better to simply reference this in the new issue. I'll close this and make sure there is a ref in the new issue.

[2017-03-01 22:52] #16563 closed

[2017-03-01 22:53] mellinoe commented on #15957
There is definitely more we need to add and improve, but it's more complicated and nuanced than just simply adding every intrinsic out there. We have quite a few issues filed regarding additional features, but we need help designing them, and we need more input from the folks interested in using them. Here's a few:

https://github.com/dotnet/corefx/issues/1168
https://github.com/dotnet/corefx/issu

[2017-03-01 22:54] danmosemsft commented on #4798
cc @eerhardt @tarekgh this seems it can move to future.

[2017-03-01 22:55] steveharter commented on #13349
Per comments from @geoffkize closing this. Please reopen if it occurs again.

FWIW that under Unix\OSX, ObjectDisposeException can sometimes be raised in failure cases where under Windows it will manifest as different exception #9228

[2017-03-01 22:55] danmosemsft commented on #4865
@davmason this is a very old issue. is it still relevant? if so where are the tests? they should have [ActiveIssue(4865)] on them.

[2017-03-01 22:55] danmosemsft commented on #4865
if not relevant - please close now.

[2017-03-01 22:56] danmosemsft commented on #4873
@davmason is this still relevant? if not please close.

[2017-03-01 22:59] danmosemsft commented on #5126
@davmason does not seem needed for 2.0

[2017-03-01 23:01] danmosemsft commented on #6751
This is being discussed. Sorry for the radio silence.

[2017-03-01 23:01] danmosemsft commented on #7146
@Priya91 is this one still relevant? if not pls close. if so is it necessary for 2.0 (pls change milestone if not)

[2017-03-01 23:03] steveharter commented on #9296
Uses EchoServers so some fallibility is assumed.

Code references https://github.com/dotnet/corefx/issues/10702 as the ActiveIssue. @Priya91 were you going to combine 10702 and this\others? Thanks

[2017-03-01 23:04] karelz commented on #16563
@krwq I am now confused - do you plan to create new issue? Or do you want to leave it to @steveharter?

[2017-03-01 23:05] danmosemsft commented on #8511
@brianrob @valenis is this in plan for 2.0? if not please change to future

[2017-03-01 23:06] danmosemsft commented on #8718
@leecow is this still in plan? if so is it 2.0 (if not please change to future for us)

[2017-03-01 23:06] danmosemsft commented on #8684
Dead strings should be removed now

[2017-03-01 23:07] danmosemsft commented on #8948
@tarekgh I changed this to future

[2017-03-01 23:09] danmosemsft commented on #9257
@DrewScoggins @brianrob is this still relevant? please switch to milestone future if it's not planned.

[2017-03-01 23:10] weshaggard commented on #12175
We shouldn't need this any longer. If we do end up needing this type of information we should switch to including this information the AssemblyInfo.cs.

[2017-03-01 23:11] mellinoe commented on #8718
Given that we won't have many "individual packages" anymore, I would think that this is much less confusing than before. Additionally, the version numbers we do have correspond with the "marketed" versions of the products. For example, version 2.0.0 of Microsoft.NETCore.App and NETStandard.Library will represent .NET Core 2.0 and .NET Standard 2.0. I can't speak for the external components like AS

[2017-03-01 23:12] danmosemsft commented on #9605
moved to future as no core work here

[2017-03-01 23:13] leecow commented on #8718
Currently, RTM level .NET Core packages are just the version number with no suffix. eg NETCore.APP is 1.0.4. We are having discussions around 2.0 versioning so additional refinement is certainly possible.

[2017-03-01 23:14] danmosemsft commented on #10117
@bartonjs can we close this in favor of #9394

[2017-03-01 23:15] jamesqo opened #16584 "[CI Failure] System.Net.Sockets.Performance.Tests failure on code coverage run"
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows_prtest/34/consoleFull#-141271452579fe3b83-f408-404c-b9e7-9207d232e5fc

[code]

[2017-03-01 23:15] danmosemsft commented on #10335
@tarekgh trying to figure out whethere there's anything still worth tracking here. Santi is already changing tests to disregard specific NETFX versions.

If not we can close.

[2017-03-01 23:15] alexperovich commented on #1170
The affected docs are `IEnumerator.Current` (https://msdn.microsoft.com/en-us/library/system.collections.ienumerator.current(v=vs.110).aspx) and `IEnumerator<T>.Current` (https://msdn.microsoft.com/en-us/library/58e146b7(v=vs.110).aspx)

I believe the consensus was that the "Remarks" section of `IEnumerator<T>.Current` be copied to the same section in the docs for `IEnumerator.Current`. For consis

[2017-03-01 23:18] karelz commented on #1170
Thanks.
@mairaw assigned to you - please let us know if you need more details or if it is not clear. Thank you!

[2017-03-01 23:18] danmosemsft commented on #10338
@joperezr I assume this is still relevant.

[2017-03-01 23:19] danmosemsft commented on #10528
@ianhays @safern I moved to Future as this API does not seem necessary for our 2.0 goals. Feel free to change if it is. You might do the same with other issues of this kind if any

[2017-03-01 23:19] mjmckp commented on #15957
Just adding the 4 methods I mentioned from [here](http://gruntthepeon.free.fr/ssemath/) should be relatively straightforward, the implementation is only about 700 lines.

Would you prefer a proposal that just adds the 4 corresponding `Vector` methods, or also includes exposing just the intrinsics required to implement them?

Do you happen to have an example of what a similar proposal looks like, s

[2017-03-01 23:19] krwq opened #16585 "Port System.Security.Cryptography.Csp to Unix/OSX"
(scoped to just Security)

As part of figuring out issue https://github.com/dotnet/corefx/issues/16563 we found out that there are more PlatformNotSupportedException-s than expected

CryptoConfig.CreateFromName for some strings may produce PlatformNotSupported exceptions (because System.Security.Cryptography.Csp is missing)

cc: @steveharter @danmosemsft

[2017-03-01 23:20] danmosemsft commented on #10706
@saurabh500 I'm assuming we're not planning to do this for 2.0 so mvoed to future. feel free to reverse that.

[2017-03-01 23:21] karelz commented on #10528
@KrzysztofCwalina actually wanted this one to happen in 2.0 - he said he will do it himself if no one picks it up ...

[2017-03-01 23:22] danmosemsft commented on #10714
-> future as not necesasry for 2.0

[2017-03-01 23:22] tarekgh commented on #4798
I am seeing this already fixed to use UIntPtr. we may need just to close it. @eerhardt?

[2017-03-01 23:23] jamesqo commented on #16448
@joperezr I found from [here](https://github.com/dotnet/corefx/blob/0fc0d79b1ffa13d7d865762219d7a6925ce878c7/Documentation/project-docs/issue-guide.md) that you are the area owner for Diagnostics; do you think this API is ready for review?

[2017-03-01 23:23] danmosemsft commented on #10973
@JeremyKuhne I moved this to Future as it does not seem necessary for 2.0

[2017-03-01 23:24] jamesqo commented on #10528
@karelz Curious, when does 2.0 come out?

[2017-03-01 23:24] danmosemsft commented on #11023
@ericstj can you answer the above. trying to figure out whether 2.0,future, or close this.

[2017-03-01 23:24] danmosemsft commented on #11023
cc @joperezr

[2017-03-01 23:24] danmosemsft commented on #11057
Complete support for bash on windows is not a 2.0 goal

[2017-03-01 23:25] tarekgh commented on #8948
@leecow @terrajobst do we have any updates or plans to do it?

[2017-03-01 23:26] danmosemsft commented on #11082
@bartonjs @steveharter can you please unravel where this is at and whether it meets the 2.0 criteria (eg significant blocker to port from desktop). If not please move to Future.

[2017-03-01 23:26] karelz commented on #10528
@jamesqo check the milestone description: https://github.com/dotnet/corefx/milestones
There's link to roadmap: https://github.com/dotnet/core/blob/master/roadmap.md -- currently set to Q3 2017.

[2017-03-01 23:26] geoffkizer commented on #14673
I have not seen this recently either.

[2017-03-01 23:26] krwq opened #16586 "Remove local resolving in System.Security.Cryptography.Xml"
Local resolving is defined in CryptoHelpers class
see more info about this issue in: https://github.com/dotnet/corefx/pull/16545

This is currently blocked on https://github.com/dotnet/corefx/issues/16585

[2017-03-01 23:27] danmosemsft commented on #11473
@brianrob @mellinoe I know we care about this -- what are we doing here if anything?
I've moved to future since I'm not aware that it's required for 2.0.

[2017-03-01 23:28] ericstj commented on #10338
I believe @zamont is fixing this.

[2017-03-01 23:29] ericstj commented on #10338
@joperezr let's make sure that these libraries are all included in the ref set for latest UWP flat package.

[2017-03-01 23:29] leecow commented on #8948
Yes, talking with a few folks on whether to spin up a new repo or utilize /core.

[2017-03-01 23:30] ericstj commented on #11023
We no longer produce a package for this so in that sense it is fixed.

[2017-03-01 23:30] krwq commented on #16565
@danmosemsft Thank you! I didn't know msbuild picks up environmental variables as properties!

[2017-03-01 23:31] steveharter commented on #4071
Keeping this as an open issue. Last repro on 1/13/2017. However this occurred on mac (not Windows):
[code]

[2017-03-01 23:33] mellinoe commented on #15957
The proposal at the top of the page is a good starting point. The main hurdle to get over is designing the public interface, which is distinct from actually implementing the JIT recognition and intrinsic codegen. At a bare minimum the proposal would need to cover that, as well as the other topics touched on in [this document](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/

[2017-03-01 23:35] zamont commented on #10338
Commit dotnet/core-setup@42121ee commits this fix to the dotnet/core-setup:master branch. I'm not sure if the UWP MP package gets produced off the master branch, but if it does, then this fix will be in the frequently-built prerelease packages of Microsoft.NETCore.UniversalWindowsPlatform on myget.

[2017-03-01 23:36] mellinoe commented on #11473
Should we care about this, given what I described above? We can certainly do lots of things to improve the score, but the best ways to do that would not have a measurably positive effect on the product itself, only the game submission.

[2017-03-01 23:38] steveharter commented on #4002
FWIW full list of tests flagged with 4002:
[code]

[2017-03-01 23:39] krwq commented on #16563
@karelz - I've created the issue but it might be missing some details

[2017-03-01 23:41] karelz commented on #16563
cool, can you please set the area path in future whn you know it? ;-)

[2017-03-01 23:41] danmosemsft commented on #16585
@krwq I'll put you on the thread. Sorry

[2017-03-01 23:42] karelz commented on #16563
oh, I thought you created one just for the crypto part ... I'll scope it to that

[2017-03-01 23:43] karelz commented on #16585
FYI: Scoped just to Security

[2017-03-01 23:43] danmosemsft commented on #16565
Yes historical trivia, a lot of HP machines once came preconfigured with an environment variable named "Platform"....

[2017-03-01 23:44] danmosemsft commented on #11082
@brentschmaltz @tratcher can you please move to Future or close this as appropriate?

[2017-03-01 23:44] karelz commented on #8948
Should we move this bug to /core then?

[2017-03-01 23:46] steveharter commented on #13302
This test uses the Echo servers, so some fallibility expected. We need to determine if that is the case and whether retry should be applied.

List of CI failures since 1\1\2017:
[code]
with detail from last two failures:
(windows)
[code]

(Ubuntu)
[code]

[2017-03-01 23:50] leecow commented on #8948
@karelz - sounds fine.

[2017-03-01 23:51] karelz commented on #15259
@qizhanMS is it fixed by #16444?

Note: You can use [GitHub auto closing](https://help.github.com/articles/closing-issues-via-commit-messages/) if you add "Fixes <issue_reference>" into your PR description.

[2017-03-01 23:52] #8948 closed

[2017-03-01 23:55] danmosemsft commented on #11473
I see it being actively used in CoreCLR:
https://github.com/dotnet/coreclr/tree/master/tests/src/JIT/Performance/CodeQuality/BenchmarksGame

@valenis @brianrob @AndyAyersMS ?

[2017-03-01 23:58] steveharter commented on #9543
This is still active; may or may not be a test bug as the last attempt to fix resulted in occasional test hangs

[2017-03-02 00:00] tarekgh commented on #10335
This is not valid any more as we have changed the engineering system and now we are always testing the latest (netfx). @safern i scurrently working to clean up the test code from net4x and have only netfx. I am closing this one.

cc @weshaggard.

[2017-03-02 00:00] #10335 closed

[2017-03-02 00:02] tarekgh commented on #4798
@eerhardt I am closing this one but feel free to re-open if you think there is anything need to be done here. Thanks.

[2017-03-02 00:02] #4798 closed

[2017-03-02 00:04] mellinoe commented on #4798
We did address it, although shouldn't we be using `IntPtr` here, given that it's defined as a `signed long (long)`, not unsigned? In any case, I still don't think we need shims for this issue, so that could be tracked separately.

[2017-03-02 00:11] Priya91 commented on #9296
@steveharter The PR #16549  is updating the active issue to point to the right issue number.

[2017-03-02 00:13] Priya91 commented on #7146
We required this in the old test framework, where we were using packages to test against. With the current infra, we should be using the latest source changes for the native bits as well. So this issue doesn't seem to be relevant anymore. @weshaggard Can you confirm?

[2017-03-02 00:15] danmosemsft commented on #15099
C:\git\corefx\src\shims\ApiCompatBaseline.uap.netstandard20.txt
C:\git\corefx\src\shims\ApiCompatBaseline.uapaot.netstandard20.txt

[2017-03-02 00:15] #15099 closed

[2017-03-02 00:16] brianrob commented on #8511
@danmosemsft, FYI, we will be triaging all of the System.Diagnostics.Tracing bugs on Thursday, so will take care of this one at the same time.

[2017-03-02 00:16] danmosemsft commented on #14592
In progress

[2017-03-02 00:17] brianrob commented on #9257
@DrewScoggins @valenis, I think we should do this.  The instructions are likely quite old.

[2017-03-02 00:20] danmosemsft commented on #12175
@sepidehMS moved to Future feel free to change

[2017-03-02 00:21] danmosemsft commented on #12175
I mean if we need to do it for 2.0 -- I know we talked about this so maybe we concluded we did (?)

[2017-03-02 00:22] danmosemsft commented on #12678
@rahku are you planning to do this? Is this important for 2.0? As far as I can see it's not (but we should do it)

If it is important for 2.0 and you plan to do it please move back.

[2017-03-02 00:25] brianrob commented on #11473
We're using it as a codegen benchmark in coreclr, which I see as something different than wanting to re-write the C# code.  I'm not actually clear of the benefit of re-writing this vs. using it as a benchmark to improve the runtime and JIT.  As @mellinoe points out, re-writing the test doesn't affect the product.  Is there another benefit to having an optimized version, or one that uses particular

[2017-03-02 00:34] jkotas commented on #12678
We need to make sure that there are no duplicate public types between System.Private.CoreLib and CoreFX. It is important for 2.0.0 because:
- Past experience tells us that the duplication can be hiding bugs
- We have promised Roslyn team to clean this up for 2.0 to C# scripting work well

[2017-03-02 00:35] jkotas commented on #12678
This is blocked by https://github.com/dotnet/coreclr/issues/8937. Once it is fixed, I will be happy to take care of if nobody else can. There is not that much left to do.

[2017-03-02 00:39] karelz commented on #16572
This is a great idea for independent NuGet package.
I don't believe it fits the scope of CoreFX repo though - it should not be part of the platform, but rather built on top of the platform.

Did you consider following up with 32feet authors if they take contributions or plan to move to GitHub?

[2017-03-02 00:55] weshaggard commented on #15259
Yes this is fixed by #16444

[2017-03-02 00:55] #15259 closed

[2017-03-02 00:57] krwq opened #16590 "Itermittent failure in System.Numerics.Tests.GenericVectorTests.DivisionSByte"
Please see:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/4001/

[code]

[2017-03-02 01:02] weshaggard commented on #7146
Correct this is no longer relevant.

[2017-03-02 01:02] #7146 closed

[2017-03-02 01:02] AndyAyersMS commented on #11473
There is some merit in ensuring that there are well-crafted versions of these tests available to show that one does not have to resort to crazy contortions to get competitive performance with .Net.

To the extent that .Net falls short of that and lags other implementations there might be something to be learned.

But it's not clear to me that this sort of work belongs in CoreFx or in CoreCLR.

On

[2017-03-02 01:02] danmosemsft commented on #9949
Closing as no repro.

[2017-03-02 01:02] #9949 closed

[2017-03-02 01:03] danmosemsft commented on #14879
UWP=2.1

[2017-03-02 01:04] karelz commented on #13349
@steveharter did you re-enable the test?

[2017-03-02 01:04] danmosemsft commented on #16585
https://github.com/dotnet/standard/issues/235 tracks whether this is required by standard
EVen if not we could choose to try to implement for Unix.

[2017-03-02 01:05] saurabh500 commented on #16489
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/4000/

[code]

[2017-03-02 01:06] danmosemsft commented on #16590
Is this a real bug found by the unchecked work...

[2017-03-02 01:07] karelz commented on #5899
@blackdwarf can you please move the issue to core-docs?

[2017-03-02 01:09] karelz commented on #4046
Anything happening on this one?

[2017-03-02 01:10] karelz commented on #3930
Old issue, most likely not valid anymore. Please reopen if it still happens.

[2017-03-02 01:10] #3930 closed

[2017-03-02 01:16] karelz commented on #3656
We should update basics dev docs like this soon - moving back to 2.0 to not loose track.

[2017-03-02 01:29] Jiayili1 commented on #15065
This issue is repro on build 20170301.02, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170301.02/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FOpenExeConfiguration1_UserLevel_PerUserRoamingAndLocal

[2017-03-02 01:30] Jiayili1 commented on #15066
This issue is repro on build 20170301.02, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170301.02/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FexePath_UserLevelPerRoamingAndLocal

[2017-03-02 01:38] gulbanana commented on #11023
Is S.R.L. available in netstandard 2's unified package, then? Sounds good, as long as it actually works on all platforms!

[2017-03-02 01:50] mellinoe commented on #11023
No, it's only available in the .NET Core package, and only works on CoreCLR.

[2017-03-02 01:55] krwq commented on #77
@danmosemsft
I think the issue was about this particular file and to re-validate rest of them https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Xml/XPath/TestData/Russian_problem_chars.xml
Likely some of those are affected: (there are only few tests to check)
https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Xml/XPath/TestsWithEncoding/MiscWithEncodings.cs

[2017-03-02 01:57] gulbanana commented on #11023
Also fine!

[2017-03-02 01:58] #11023 closed

[2017-03-02 02:07] HaloFour commented on #16567
I'm a big fan of consistency.  Much of the plumbing necessary to calculate candidates is already contained within `RuntimeType` and `DefaultBinder` so there isn't a lot left to implement.  I'm sure it could be a lot cleaner than my own even discounting my reflection shenanigans.

If they were implemented as extension methods would they still ship in the same assembly and reuse the same plumbing?

[2017-03-02 02:11] dotnet-mc-bot opened #16593 "Test: System.SpanTests.ReadOnlySpanTests/IndexOverflow failed with "System.OutOfMemoryException""
Opened on behalf of @Jiayili1

The test `System.SpanTests.ReadOnlySpanTests/IndexOverflow` has failed.

System.OutOfMemoryException : Exception of type 'System.OutOfMemoryException' was thrown.

        Stack Trace:

           at System.ReadOnlySpan`1..ctor(Void* pointer, Int32 length)
       at System.SpanTests.ReadOnlySpanTests.IndexOverflow() in /root/corefx/src/System.Memory/tests/ReadOnlySpa

[2017-03-02 02:48] #2127 closed

[2017-03-02 02:49] krwq opened #16594 "Investigate if we can build System.Security.Cryptography.Xml against netstandard"
ref: https://github.com/tintoy/corefx/commit/eaa78efb30d3581ae871015cf9be637e6deb36c3
[code]

Check if uap is appropriate and if it is not missing anything

cc: @danmosemsft @joperezr

[2017-03-02 02:56] mairaw commented on #1170
Thanks @karelz. I've made the updates to https://msdn.microsoft.com/en-US/library/khfze649(VS.110).aspx. Let me know if it looks ok and we can close this issue.

[2017-03-02 03:13] cartermp commented on #4046
Nope.  We won't be doing this for the foreseeable future.

[2017-03-02 03:13] #4046 closed

[2017-03-02 03:33] ahsonkhan commented on #16593
@AtsushiKan
I am not sure why constructing a 3GB ReadOnlySpan would fail. Unless the machine that is running this test doesn't have enough memory. I am guessing that is the case here.

In that case, why didn't the try/catch catch the exception in this case?
https://github.com/dotnet/corefx/blob/master/src/System.Memory/tests/ReadOnlySpan/Overflow.cs#L29

[code]

[code]

[2017-03-02 03:40] dhoehna commented on #15554
@JeremyKuhne I added tests for SR.  You can see the file [here](https://github.com/dhoehna/corefx/blob/dhoehna/System.SR.Tests/src/System.Configuration.ConfigurationManager/tests/System/Configuration/SRTests.cs)

But msbuild with coverage=true shows a 17.7% line coverage.  Here is how I am doing the build and test.

 * CD to [repo]\src\System.Configuration.Configurationmanger\tests
 * run msbuild

[2017-03-02 04:36] krwq commented on #13464
I've just seen this exact failure locally

[2017-03-02 05:38] AArnott opened #16596 "Debug.WriteLine does not write to Trace.Listeners"
In net45, calling Debug.WriteLine would pass the message to the `Trace.Listeners` collection. But in corefx, that doesn't happen.

The following program can be compiled for net45 or netcoreapp1.0 (with the `System.Diagnostics.TraceSource` package installed):

[code]

When run on .NET Framework, the output is:
[code]

For `dotnet run` the output is merely:
[code]

[2017-03-02 05:40] AArnott commented on #16596
This breaks some of our unit tests when we run them on CoreCLR because [we use TraceListeners](https://github.com/Microsoft/vs-validation/blob/f5ff579e9300178b0209ed1a9c7951fc037ef4bc/src/Microsoft.VisualStudio.Validation.Tests.Desktop/ReportTests.Debug.cs#L130) to verify that our product code invokes `Debug.Assert`.

[2017-03-02 05:44] karelz commented on #10714
@joperezr @zhenlan @shmao can we decide if it is something we want to do eventually, or just close it?
It should not be assigned to @joperezr as he is not working on it ...

[2017-03-02 05:45] karelz commented on #10528
@jamesqo if you want to pick up this issue, it would be appreciated ;-)

[2017-03-02 05:51] karelz commented on #16585
I flipped it to 2.0 to force us make the decision in time - I am not sure how much are bugs in dotnet/standard monitored ...

[2017-03-02 06:11] king311247 opened #16597 "SQL Server connection fails on centos,but succeeds on windows and in all other tools"
I'm running a webapi project by dotnetcore on centos.but it is failed to connect to MSSQL.
In order to find the problem, I try to use the telnet to determine whether the server port, try to find the next is normal, and the project in the Windows environment are successful, the database can be connected, but deployed to centos is not connected to the database.

Error like this:
Microsoft.AspNetCore

[2017-03-02 06:14] benaadams commented on #11473
Like TechEmpower the results are often referred to; so it might not effect the product (unless discovery is made along the way); but it may effect the product use/adoption. You need "Marketing Perf Coders" 😉

[2017-03-02 06:17] benaadams commented on #11473
Also some of the implementations are really bad; or don't use features. Like the Mandelbrot test doesn't use Vectors; the Parallel tests have clear contention and should probably use Parallel with local var rather than dedicated created threads etc

[2017-03-02 06:30] BharatRajMeriyala opened #16598 "Unable to use System.Net.NetworkCredential inside docker"
I am trying to authenticate my call to a SSRS report server hosted outside the docker application. And to accress the report I do the following:

[code]

But I continuesly get 401 unauthorized.

The approach of NetworkCredentials works fine when I am doing the same inside my Azure Hosted App service and also my local.

The credentials that I set on the header inside the docker environment, simply

[2017-03-02 06:55] benaadams commented on #11473
Forked to https://github.com/benaadams/BenchmarksGame as isn't really coreclr/fx

[2017-03-02 07:00] Petermarcu commented on #11473
@benaadams , I think this is great. We should see how good we can make it using the latest tools in our toolbox. Thanks for taking the lead!

[2017-03-02 07:00] karelz commented on #16598
Which OS? Which .NET Core version do you use 1.0 or 1.1?

[2017-03-02 07:00] Petermarcu commented on #11473
BTW, corefxlab may also be a fine home for this type of experiment and would align with other efforts going on there.

[2017-03-02 07:05] BharatRajMeriyala commented on #16598
The docker machine runs on linux and I am using dotnet core 1.1

[2017-03-02 07:13] saurabh500 commented on #16597
Looking at the error it seems like the tcp connection between Sql server and the client cannot be established.
Have you tried connecting to the server and port using a system utility to see if the network path is ok?

[2017-03-02 07:16] saurabh500 commented on #16597
You could try netcat if it is available.
netcat -v -z ipaddress port

[2017-03-02 07:23] Jiayili1 opened #16599 "System.Threading.Tasks.Dataflow.Tests.DataflowBlockExtensionsTests.TestNullTarget_CompletionNoCaching failed with "Xunit.Sdk.EqualException" in CI"
Configuration: OuterLoop_Fedora23_debug ([build#117](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_debug/117/testReport/)).

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_debug/117/consoleText

Message:
[code]

Stack Trace:
[code]

[2017-03-02 07:29] king311247 commented on #16597
I installed the telnet tool on the deployment machine, telnet ipaddress port is successful

[2017-03-02 07:39] peterwurzinger commented on #16558
@krwq Thanks a lot for your advices! Unfortunately, there is no file named S.S.C.Xml.pkgproj.disabled which I could rename to get it working. Have you got another idea? Is there maybe some misconfigurationin the .pkgproj-file?

@karelz I may be wrong, but in shorter past I tried to reference a *.dll in a .NET Core library Project and it said, that '[bla] only NuGet references allowed in this versi

[2017-03-02 07:40] Jiayili1 commented on #16599
Happened here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_opensuse42.1_debug/lastCompletedBuild/testReport/System.Threading.Tasks.Dataflow.Tests/DataflowBlockExtensionsTests/TestNullTarget_CompletionNoCaching/

[2017-03-02 07:53] krwq commented on #16558
@peterwurzinger - you might wanna do `git pull` and check under src/System.Security.Cryptography.Xml/pkg/ (I've renamed it a day or two ago)

[2017-03-02 07:55] Jiayili1 commented on #13302
This issue is repro on build OuterLoop_Windows8.1_release ([build#113](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release/113/testReport/)), detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release/113/testReport/System.Net.WebSockets.Client.Tests/CancelTest/ReceiveAsync_Cancel_Success_server__ws___corefx_net_cloudapp_net_WebSocket_Echo

[2017-03-02 08:02] Jiayili1 commented on #16430
This issue is repro here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_debug/109/testReport/System.Net.Http.Functional.Tests/DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledLogging/

[2017-03-02 08:05] Jiayili1 commented on #16430
This issue also repro here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/115/testReport/System.Data.SqlClient.Tests/DiagnosticTest/ConnectionOpenTest/

[2017-03-02 09:19] peterwurzinger commented on #16558
@krwq Well, yeah, that explains it - sorry for that ^^
After renaming the file I did
`clean`
`sync`
`build`
and to make sure
`build-managed -packages`

Unfortunately renaming the file didn't include it in any package built.
But when I navigate into src/S.S.C.Xml/pkg and run `msbuild` it creates a System.Security.Cryptography.Xml...nupkg under bin/packages/Debug

Just for clarification: **Should**

[2017-03-02 09:57] kouvel commented on #3689
I'll take another look at the code before closing. It seems definite that something is wrong, it's just not very clear what it is.

[2017-03-02 12:23] stephentoub commented on #3689
If we know there's a real issue and we just haven't been able to find it, why are we pushing to close?

[2017-03-02 12:25] GSPP commented on #8142
My time is too limited right now to act on this. Just leaving this note here so that others know this is "up for grabs".

[2017-03-02 12:29] stephentoub commented on #16599
Already fixed by https://github.com/dotnet/corefx/pull/16595

[2017-03-02 12:29] #16599 closed

[2017-03-02 12:30] stephentoub commented on #16596
cc: @weshaggard

[2017-03-02 12:31] marek-safar commented on #15112
I think Mono (or possibly netcore) should behave same as with ReferenceAssemblyAttribute. The assembly will be ignored in execution context but you can load it in reflection only context.

[2017-03-02 13:16] marek-safar opened #16601 "BuildConfiguration is ignored in src subfolders"
When building using `C:\temp\corefx-dev\src\System.Reflection.Metadata>msbuild /p:BuildConfiguration=netstandard1.1` BuildConfiguration is ignored and netcoreapp version is built instead.

[2017-03-02 13:19] stephentoub opened #16602 "System.Net.NetworkInformation.Functional.Tests test suite hung in CI on Unix"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu14.04_debug_prtest/91/consoleText
I unfortunately don't have more info than that they hung, and the build was aborted after waiting for 2 hours.
cc: @mellinoe

[2017-03-02 14:56] jkotas opened #16606 "System.Tests.GCTests.GetAllocatedBytesForCurrentThread failed in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/4033/testReport/junit/System.Tests/GCTests/GetAllocatedBytesForCurrentThread_size__100000_/

[code]

[2017-03-02 15:17] eerhardt commented on #4798
This was addressed in the PR https://github.com/dotnet/corefx/pull/15546#issuecomment-275852041.

It looks like the concern is now addressed.  Thanks for closing it.

[2017-03-02 15:18] stephentoub commented on #16534
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/4035/consoleText
[code]

[2017-03-02 15:42] AtsushiKan commented on #16593
Stack suggests the big allocation succeeded – OOM is happening inside the ReadOnlySpan constructor (not that this makes a whole lot more sense.)

[2017-03-02 16:06] saurabh500 commented on #16430
@stephentoub @danmosemsft The logs show that the server did not crash and it responded to the login request on time. Also the SqlConnection Open happened successfully.

[2017-03-02 16:07] stephentoub commented on #16489
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/4038/consoleText
[code]

[2017-03-02 16:09] stephentoub commented on #16489
(I think it's likely this only started failing recently because we recently made DateTime.UtcNow more precise, so if the test was expecting multiple calls to DateTime.UtcNow in rapid success to produce the exact same result, those flawed expectations may now be more visible.)

[2017-03-02 16:11] stephentoub commented on #16430
Does it show anything about the subsequent operation against the server, though?  In that other case we saw, there was a timeout coming from the Execute operation, and if the Execute operation is timing out here, it could be the same underlying problem, just a different symptom.

[2017-03-02 16:11] karelz commented on #16602
cc @steveharter @Priya91 @ianhays

[2017-03-02 16:12] brianrob commented on #11473
@AndyAyersMS @benaadams makes sense to me.  @benaadams thanks for taking a stab at this.

[2017-03-02 16:13] saurabh500 commented on #16430
There is a confusion here. I left the comment above for the Connection Open Test for which @Jiayili1 reported a failure link in this issue. We should take the discussion to #16421  where the server starts and the connection is opened to the server. That's where the logs were added

[2017-03-02 16:14] saurabh500 commented on #16421
From #16430

This issue also repro here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/115/testReport/System.Data.SqlClient.Tests/DiagnosticTest/ConnectionOpenTest/

@stephentoub @danmosemsft The logs show that the server did not crash and it responded to the login request on time. Also the SqlConnection Open happened successfully.

[2017-03-02 16:15] stephentoub commented on #16430
I believe they're the same issue.

[2017-03-02 16:16] wendt88 commented on #8622
@VitaliyMF i tried the  NReco.Data library and it is a nice library, BUT can you tell me how to make queries on a table with custom schema name, or how to make joins?

[2017-03-02 16:16] saurabh500 commented on #16430
Why?

[2017-03-02 16:18] stephentoub commented on #16421
Maybe, but not necessarily.  The log only shows the server side of things, right?  Do we know that the Open call actually successfully returned?  Could we add similar tracing to the client side of the test to see where it gets to, i.e. it starts to open, it finishes the open, it starts to close the connection, it finishes closing the connection, it's about to return from the main function, etc.?

[2017-03-02 16:18] saurabh500 commented on #16430
For ExecuteNonQueryErrorTest  there Query Execution and an expectation of an error apart from just the connection being opened. ConnectionOpenTest is a subset of the operations in ExecuteNonQueryTest.

There is a possibility that the underlying problem is the same, in which case it better to figure out what's going wrong with ConnectionOpenTest because it has lesser moving parts.

[2017-03-02 16:20] stephentoub commented on #16430
I should say I suspect they're the same issue.  My guess is that there's a problem / race condition / etc. that's causing the client to miss responses from the server, or something like that, such that it ends up hanging waiting for a response that either has already come and it missed or will never come, or something like that.  I of course could be wrong.

[2017-03-02 16:20] #16532 closed

[2017-03-02 16:21] saurabh500 commented on #16421
There was a log statement added after the Connection.Open() statement on the client side.

Tail end of logs

[code]

The last line is printed after the client opened the connection successfully

Line of code
https://github.com/saurabh500/corefx/blob/c10a66dfdec97a94eda18656ac768e0865153012/src/System.Data.SqlClient/tests/FunctionalTests/DiagnosticTest.cs#L421

[2017-03-02 16:23] stephentoub commented on #16421
Great.  Can we do something similar for after the connection is closed and also after CollectStatisticsDiagnostics returns?

[2017-03-02 16:23] saurabh500 commented on #16430
Let's continue this discussion on #16421

[2017-03-02 16:25] saurabh500 commented on #16421
Connection Close happens due to the use of using statement for connection open.

I will add more logs to the `CollectStatisticsDiagnostics` and see what is going on there.

I think we should also start looking at this from Remote Executor's perspective as well. However, I don't have a theory about it right now.

[2017-03-02 16:29] saurabh500 commented on #16430
@Jiayili1
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_debug/109/testReport/System.Net.Http.Functional.Tests/DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledLogging/

The failure at the link above is not related to this particular test. Can you open a different issue for it?

[2017-03-02 16:34] VitaliyMF commented on #8622
@wendt88 could you add an issue with your questions to [nreco/data](https://github.com/nreco/data), I think it is offtopic providing an answers here (it is possible to specify custom schema name; complex selects with joins should be declared as "virtual" dataviews processed by the library on .net side).

[2017-03-02 16:54] tarekgh commented on #7175
can we keep this open till we port the changes to corert? Thanks.

[2017-03-02 16:55] ericstj commented on #15112
For ReferenceAssemblyAttribute we throw when it is loaded for execution.  Are you saying that Mono will just ignore it, then continue probing for a different assembly?

[2017-03-02 16:56] tarekgh commented on #16229
@danmosemsft I have moved this to the future milestone as I am not seeing has to be in 2.0. you still welcome to fix it from now :-)

[2017-03-02 16:57] tarekgh commented on #16185
@lutzroeder could you please help with this one?

[2017-03-02 16:58] stephentoub commented on #16421
We can.  The reason why I don't think that's likely is we use the remote executor functionality to launch hundreds of tests per test run, and we're only seeing these hangs in these specific SqlClient diagnostic tests.  There could of course be something special about these tests that's triggering a bad behavior in the remote executor stuff.

[2017-03-02 17:06] danmosemsft commented on #16606
@swgillespie

[2017-03-02 17:07] tarekgh commented on #16022
I am moving this issue to corert according the conclusion in this discussion. if there is anything specific to Microsoft.CSharp need to be done we can open a new specific issue for that library.

[2017-03-02 17:07] danmosemsft commented on #16596
Desktop parity = milestone 2.0

[2017-03-02 17:07] tarekgh commented on #16022
Issue moved to [dotnet/corert #2869](https://github.com/dotnet/corert/issues/2869) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-02 17:10] danmosemsft opened #16610 "Failure in System.Net.Http.Functional.Tests/DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledLogging/"
Broken out of https://github.com/dotnet/corefx/issues/16430

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_debug/109/testReport/System.Net.Http.Functional.Tests/DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledLogging/

[2017-03-02 17:11] danmosemsft commented on #16430
I broke it out and deleted @Jiayili1 's comment to avoid confusion

[2017-03-02 17:11] MichalStrehovsky commented on #16022
@tarekgh This is a *regression* that is observable when upgrading to the latest framework using old and unpatched compiler. E.g. people using Visual Studio 2015 Update 3 will get a regression in their functionality just by upgrading to metapackage 5.2.2. This needs a framework fix.

Compiler fix that we discussed would be in Project N. We don't track Project N compiler issues on GitHub because nob

[2017-03-02 17:11] danmosemsft commented on #16488
@ianhays were you taking these ones?

[2017-03-02 17:13] karelz commented on #7175
It's probably a good idea to track the work end-to-end across both runtimes which are tied together with CoreFX.
However, the fact is that we already have debt in CoreRT which we need to catch up on, and we also tell contributors to pile on the debt by not blocking CoreFX PRs on both CoreCLR and CoreRT changes first.
I think we need to change our process and ask contributors to first change both C

[2017-03-02 17:15] ianhays commented on #16488
Yeah I'll take a look. I missed this one since it was mislabeled.

[2017-03-02 17:15] karelz commented on #16558
@peterwurzinger did you try to create Library wrapper which just copies the binary into the output? That should IMO work around the limitation. (disclaimer: I didn't try it myself)

[2017-03-02 17:16] stephentoub opened #16611 "NetworkStream.CopyToAsync/ReadAsync completing successfully on Unix when Socket disposed during call"
On Windows this passes. On Unix sometimes the operation completes successfully without an exception being thrown.
[code]

[2017-03-02 17:23] danmosemsft commented on #7175
As you know we're in the midst of an effort to bring the two corelibs in alignment and set up a daemon to keep them in alignment. (At least for the shareable parts). So changes like this will port themselves.

Requiring contributors to corelib to create PR's in 3 repos is something of a deterrent to making a change.

[2017-03-02 17:24] danmosemsft commented on #7175
If it's not in the shareable part (I do'nt know the % yet) then we could make this request. Hopefully that's going to be uncommon.

[2017-03-02 17:26] karelz commented on #16430
@Jiayili1 please don't use 2 area labels on issues in future. It confuses the ownership and who should take a look. Thanks!

[2017-03-02 17:26] karelz commented on #16610
cc @steveharter @Priya91 @ianhays

[2017-03-02 17:27] jkotas commented on #7175
We need to setup the automated mirroring so that it does not have to be done manually. @danmosemsft Do we have the work for it in the plan somewhere - when do we expect it to happen?

[2017-03-02 17:32] karelz commented on #16598
@BharatRajMeriyala which Linux distro and version?

[2017-03-02 17:37] zhenlan commented on #10714
@karelz, if this issue is about `System.Runtime.Serialization.Formatters`, can you please move it to proper team?

[2017-03-02 17:38] tarekgh commented on #16022
logged a TFS bug to track this for the compiler https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/390112

[2017-03-02 17:40] steveharter commented on #16534
@ianhays it appears the issues only occur in win7\nt, so I'd recommend spending time on a repro around those tests on win7\nt.

On potential cause, one item of note is I believe tls11 is not enabled by default there. I see that tls11 is enabled here WinHttpHandler.SetSessionHandleTlsOptions (via SetWinHttpOption WINHTTP_OPTION_SECURE_PROTOCOLS) https://github.com/dotnet/corefx/blob/52bab6669b5cdf9

[2017-03-02 17:41] JonHanna commented on #7175
@karelz Yeah, I'll get the CoreRT bit in later today.

[2017-03-02 17:43] ianhays commented on #16534
@steveharter they fail on all Windows, not just win7.

[2017-03-02 17:45] tarekgh commented on #15255
@safern are you looking at this?

[2017-03-02 17:47] jkotas commented on #7175
I would make it optional. I do not think that it has to be hard rule until we have the automated mirroring in place. The debt is measured in many thousands APIs since we have been pilling it for more than a year. A few more tiny APIs - that would port automatically if there was not the huge existing debt - won't make a material difference.

[2017-03-02 17:48] safern commented on #15255
@tarekgh not now, I'm currently focused on the netfx vertical tests.

[2017-03-02 17:50] tarekgh commented on #14095
@alexperovich what else need to be done here?

[2017-03-02 17:53] marek-safar commented on #15112
IIRC yes, Mono loader will continue looking for next candidate assembly which if I remember correctly is .net desktop behaviour too.

[2017-03-02 17:55] tarekgh commented on #15255
@danmosemsft this is marked as 2.0.0 so I think it is a priority. please have @safern knows which item should be done first.

[2017-03-02 17:59] davidsh commented on #16534
That code is for WinHttpHandler and the System.Net.Http classes.  It has nothing to do with SslStream and System.Net.Security.

[2017-03-02 18:01] ianhays opened #16613 "Port source for FileVersionInfo test binaries"
We don't have source for ```NativeLibrary.dll``` or ```SecondNativeLibrary.dll``` available anywhere. I wasn't able to find it in the TFS maze, but it wouldn’t be difficult to rewrite them if we can’t find the source and decide we need the ability to rebuild them.

They don't need to be included in the build, but they need some sort of instructions to build or a batch script alongside the sources

[2017-03-02 18:02] ianhays commented on #16489
That'll do it, yeah. I'll push a fix so we this test stops breaking things.

[2017-03-02 18:06] krwq commented on #16558
@peterwurzinger if there is no platform specific code then I believe you don't need platform specific nuget packages 😄 Let me know if you had success referencing nupkg

[2017-03-02 18:10] tarekgh commented on #13504
Is there anything else need to be done here? I am closing the issue as adding the needed references to project.json and running on the correct targeted platform solve the issue. feel free to reopen if needed to.

[2017-03-02 18:10] #13504 closed

[2017-03-02 18:13] weshaggard commented on #16596
This is an intentional break in behavior because the Debug class is at a much lower level then TraceSource which is a higher level concept in .NET Core.

@AArnott Is it just your tests that are hitting the issue or is there a larger impact for your tracing?

[2017-03-02 18:15] tarekgh commented on #13347
@weshaggard could you tell who should look at  this issue?

[2017-03-02 18:19] weshaggard commented on #16022
I agree with @MichalStrehovsky that we should probably fix Microsoft.CSharp to include the BlockReflection to handle the regression, @tarekgh can you file another issue for that? Once we get the compiler feature we should re-evaluate whether or not to remove that from all the corefx libraries.

[2017-03-02 18:20] tarekgh commented on #12948
closing the issue here and @rmarinho may be able to help answering the Xamarin questions.

[2017-03-02 18:20] #12948 closed

[2017-03-02 18:21] joperezr commented on #16448
I'll flag this as ready for review to see what @terrajobst and folks think of this, but personally I kind of feel that there would not be enough value of adding it given that there are other alternatives of doing this.

[2017-03-02 18:21] krwq commented on #16594
I believe we should be trying to build using netstandard but it is ok to to netcoreapp+uap for now

[2017-03-02 18:25] tarekgh commented on #12861
@AlexGhiondea do you think you'll get this done in 2.0.0?

[2017-03-02 18:26] joperezr commented on #16594
if we can build against netstandard, then that would be the prefered way, so that other contracts/libraries that build against netstandard can use this.

[2017-03-02 18:27] mellinoe commented on #16602
Related to this in any way? https://github.com/dotnet/corefx/pull/16544 @ianhays

[2017-03-02 18:28] steveharter commented on #16534
@ianhays I looked at the recent jdash failures and the ones referencing tls in the signature, which were all on win7\nt:
http://jdash.azurewebsites.net/builds/test?name=System.Net.Security.Tests.ServerAsyncAuthenticateTest.ServerAsyncAuthenticate_AllClientVsIndividualServerSupportedProtocols_Success%28serverProtocol%3A%20Tls11%29&viewName=dotnet_corefx&pr=False&limit=1000&startDate=2017-02-04
http

[2017-03-02 18:29] joperezr commented on #10714
@stephentoub what do you think? do we want to eventually fix the issue with ObjectManager or should we just close the issue?

[2017-03-02 18:29] ianhays commented on #16602
@mellinoe That PR was in the System.Net.Ping test suite. It shouldn't make a difference to the NetworkInformation tests.

[2017-03-02 18:30] ianhays commented on #16602
kinda weird it's in the System.Net.NetworkInformation test namespace though.

[2017-03-02 18:30] #7175 closed

[2017-03-02 18:32] stephentoub commented on #10714
I think we should fix it.  In general I think we should aim to fix anywhere we're using reflection from one library to another; such reflection will wreak havoc on tools that rely on being able to see the dependencies.

[2017-03-02 18:33] weshaggard commented on #15112
I don't think the loader does anything interesting with the ReferenceAssemblyAttribute. However for reference assemblies we also set the AssemblyFlag 0x70 (https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/ReferenceAssemblies.targets#L37) which the loader does look at and will block loading for execution. By block it will throw an exception for things m

[2017-03-02 18:33] stephentoub opened #16616 "DivisionReflectionSByte test overflow exception"
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/4015/consoleText
[code]

[2017-03-02 18:33] mellinoe commented on #16590
No, I don't think so. IMO we should just turn this off for System.Numerics.Vectors... @dennisdietrich

[2017-03-02 18:34] weshaggard commented on #13347
Assuming this is still an issue it should be moved to the sdk repo.

[2017-03-02 18:35] ianhays commented on #16534
@steveharter I followed those links and they showed several non-win7 failures.

Here is one on win10: https://ci.dot.net/job/dotnet_corefx/job/release_1.0.0/job/outerloop_win10_debug/34/testReport/junit/System.Net.Security.Tests/ServerAsyncAuthenticateTest/ServerAsyncAuthenticate_AllClientVsIndividualServerSupportedProtocols_Success_serverProtocol__Tls11_/

and another:
https://ci.dot.net/job/dotn

[2017-03-02 18:35] mellinoe commented on #16602
Oops, my mistake. Yeah, they are all part of the same namespace. I certainly haven't made any changes here in a very long time, although I know other folks are still trying to stabilize the networking tests.

[2017-03-02 18:38] #13347 closed

[2017-03-02 18:38] tarekgh commented on #13347
Issue moved to [dotnet/sdk #929](https://github.com/dotnet/sdk/issues/929) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-02 18:40] ericstj commented on #15112
@weshaggard what we do here isn't as interesting since we're not likely to change destkop or coreclr.  I confirmed that desktop throws for a reference assembly and does so at a place after fusion is already done so it doesn't continue looking.  If mono is different here then that's great and I think it'll serve our purpose.

Here's where we throw:
https://github.com/dotnet/coreclr/blob/a9b25d4aa22

[2017-03-02 18:42] tarekgh commented on #16022
I reopened it and changed the area to Microsoft.CSharp as all discussions included here.

[2017-03-02 18:42] ericstj commented on #15112
Given the difference, @marek-safar, it'd be good to test this on mono.  The way I did it was I built a desktop app referencing System.Net.Http package.  Then I put the implementation assembly in a bin subfolder and added that as a probingPath in the app.config.  I then took the reference assembly out of the package and put that next to the application.

[2017-03-02 18:47] karelz commented on #16593
@KrzysztofCwalina says that it is either test bug or bug in runtime (JIT cannot find memory) - which is likely by design.
The test should not run into that.

[2017-03-02 18:50] steveharter commented on #16534
It still seems like ~90% of the failures are from win7\_nt, so I would focus on that at least for getting a repro.

FYI the first link is from release branch (which is still a concern)
The second link is win_nt.

[2017-03-02 18:54] lmolkova commented on #16491
Subscriber then will have 2 ways to access Activity: from Activity.Current and from event payload. Considering that first one is more efficient and easy to do, I would expect subscribers to just use the first way.
I would also prefer to provide more deterministic way to distinguish Activity events from any other *.Start and *.Stop events.

This is a good point. We should instead provide more durab

[2017-03-02 18:54] karelz commented on #16298
We plan to pull the annotations - see comments in #16416.

[2017-03-02 18:54] #16298 closed

[2017-03-02 18:56] tarekgh commented on #12581
considering this issue is a desktop issue and having a working around, I am closing the issue here. Still can file issue on connect if need to address the issue in the full framework. feel free to reopen the issue if you disagree. thanks.

[2017-03-02 18:56] #12581 closed

[2017-03-02 18:56] karelz commented on #14833
@ahsonkhan says the bugs in GC & JIT got fixed.

[2017-03-02 18:56] #14833 closed

[2017-03-02 18:57] #11904 closed

[2017-03-02 18:58] alexperovich commented on #14095
The analyzer package is not completely implemented yet. I am waiting on roslyn to finish implementing the remaining analyzers.

[2017-03-02 18:58] karelz commented on #14533
Next step: Do the work highlighted in the top post by @ahsonkhan .
Should be simple (1h work).

[2017-03-02 18:59] weshaggard commented on #12175
I think it is just clean-up and not something required.

[2017-03-02 19:00] #16489 closed

[2017-03-02 19:02] terrajobst opened #16619 "Add FormattableString.CurrentCulture"
We've told developers for a long time that they should be explicit about which cultures they use for formatting. In fact, we have FXCop rules like [CA1305](https://msdn.microsoft.com/en-us/library/ms182190.aspx) that flag non-explicit use.

String interpolation in C# follows what virtually all our formatting APIs do unless instructed otherwise: it will format the string using the current culture.

[2017-03-02 19:05] cwe1ss commented on #16491
I'm open to whatever makes sure that it's definitely an activity event. Just relying on the convention that no one should use *.Start/*.Stop in non-activity events seems insufficient to me.

We would also need Activity.Stop(DateTime).

+1! Would be a lot more logical IMO! How about the Start/SetStartTime case? Would be great if there was a corresponding Start overload instead of the SetStartTime m

[2017-03-02 19:09] gafter commented on #16619
The point of having this API is that it would be a reasonable way to suppress FXCop rules like [CA1305](https://msdn.microsoft.com/en-us/library/ms182190.aspx) by being explicit about the intention to use the current culture.

[2017-03-02 19:09] terrajobst commented on #16619
That's a good way to put.

[2017-03-02 19:10] karelz commented on #8945
Next step: We need scope the test to just Win10 Aniversary+

[2017-03-02 19:11] karelz commented on #9127
@davidsh can you please share your offline discussion with the v-team.

[2017-03-02 19:13] karelz commented on #9608
Next step: We need formal API proposal.

[2017-03-02 19:16] karelz commented on #10041
This is about having multi-machine test support.

[2017-03-02 19:19] karelz commented on #10146
@Priya91 can you please triage it?

[2017-03-02 19:20] mellinoe commented on #15709
As a sanity check since I'm not very familiar with this part of the Linux world (and I expect others might feel the same): is this actually indicative of extreme CPU usage, or could it be a false flag of some sort? I vaguely recall a similar issue, and I thought we determined that the CPU usage meter was not entirely accurate in some scenarios.

[2017-03-02 19:21] nguerrera commented on #16619
:+1:  to the proposal and :-1: to the alternative. Anyone wishing to enforce the analysis, would not want bare $".." to pass it. It is too terse to indicate any intent.

The reasonable use cases are:

* Disable the analysis if you don't care for it and blissfully use bare $".."
* Enable the analysis and use this new API to help you get clean when you actually intend current culture.

[2017-03-02 19:21] karelz commented on #10958
Next step: We need the test to run only on Win10 special version+

[2017-03-02 19:22] karelz commented on #11036
@Priya91 can you please triage offline?

[2017-03-02 19:25] swgillespie commented on #16606
@danmosemsft Do you know how many procs the CI machines like this one have?

[2017-03-02 19:26] krwq commented on #16594
I believe we can't change it for now. We depend on couple of other libraries which have similar configurations and they don't build using netstandard.

[2017-03-02 19:28] tarekgh commented on #12465
@ericstj I am closing this as I don't think it is valid anymore. please reopen if you think otherwise.

[2017-03-02 19:28] #12465 closed

[2017-03-02 19:28] danmosemsft commented on #16606
No but I know someone who does @mmitche

[2017-03-02 19:28] karelz commented on #11735
Part of #5120

[2017-03-02 19:28] #11735 closed

[2017-03-02 19:28] weshaggard commented on #16594
Such as?

[2017-03-02 19:29] krwq commented on #16594
@weshaggard I was just updating my previous post to add that. Here they are:
- System.Runtime
- System.Runtime.Extensions
- System.Security.Cryptography.Algorithms

[2017-03-02 19:31] krwq commented on #16594
@weshaggard I'll look into that after we get product into better state for current configurations.

[2017-03-02 19:32] mmitche commented on #16606
@swgillespie @danmosemsft 4 cores

[2017-03-02 19:32] weshaggard commented on #16594
You shouldn't be directly referencing any of those if you target netstandard.dll they are included. Once you get to looking into this more I'd be interested in any issues you have building against netstandard.

[2017-03-02 19:32] swgillespie commented on #16606
@mmitche thanks!

[2017-03-02 19:34] tarekgh commented on #12275
@bartdesmet is this still happening?

[2017-03-02 19:35] AArnott commented on #16596
It's just tests. No shipping scenario depends on this for me.

[2017-03-02 19:36] weshaggard commented on #12275
I don't think this is an issue any longer after our recent engineering changes.

[2017-03-02 19:36] #12275 closed

[2017-03-02 19:36] saurabh500 commented on #16421
I understand your point.
The Diagnostics test, though had failures in the CI in the past, were due to the way they were being executed and the failures had been due to Guid mismatch.
It's definitely the combinations of the RemoteExecutor and the Diagnostics test.

One of the discrepancies is that the process is imposing a timeout of 6000 ms.
If there are any problems with the underlying tests, and

[2017-03-02 19:38] Priya91 commented on #15002
@TerisseNicolas Can you also post the stack trace..

[2017-03-02 19:38] weshaggard commented on #16596
@AArnott thanks. I'm inclined to still keep this change in behavior to avoid pulling in all the Trace infrastructure into the core where Debug is implemented. If we find we need to support this for a real scenario then we can entertain trying to dynamically hook these up to one another, but I would only do that if we feel it is a critical scenario we need to support.

[2017-03-02 19:38] #16596 closed

[2017-03-02 19:41] karelz commented on #11873
We should evaluate it for 2.0 based on usage data of `AllowWriteStreamBuffering`.

[2017-03-02 19:47] danmosemsft commented on #15833
I think this is covered by https://github.com/dotnet/corefx/issues/15041

[2017-03-02 19:47] #15833 closed

[2017-03-02 19:48] danmosemsft commented on #16616
https://github.com/dotnet/corefx/issues/16590

[2017-03-02 19:48] #16616 closed

[2017-03-02 19:48] karelz commented on #13346
@Priya91 says this is dupe - please find it.

[2017-03-02 19:49] danmosemsft commented on #16590
I wasn't expecting @dennisdietrich to remove the unchecked but I haven't got to it yet

[2017-03-02 19:50] karelz commented on #13551
Triage: We need more deeper dive investigations.

[2017-03-02 19:53] mellinoe commented on #16590
Fixed by https://github.com/dotnet/corefx/pull/16620

[2017-03-02 19:53] #16590 closed

[2017-03-02 19:53] karelz commented on #13778
@stephentoub how often it happens? Mac is not production environment, could we move it to Future?
cc @geoffkizer

[2017-03-02 19:54] tarekgh commented on #12203
CC @zgramana is this still happening?

@akoeplinger did you run into similar issue before?

@ericstj is this can be Nuget issue?

[2017-03-02 19:54] stephentoub commented on #13778
Very frequently.

[2017-03-02 19:56] karelz commented on #13922
We should reuse our soon-to-be-defined Obsolete/Deprecate story.

[2017-03-02 19:57] tarekgh commented on #12093
@adrianknight89 could you please explain more about the ask?

[2017-03-02 19:57] karelz commented on #14101
@tarekgh works on infra to run all .NET Core tests on Desktop.

[2017-03-02 19:57] #14101 closed

[2017-03-02 20:01] karelz commented on #14480
Dupe of #5120

[2017-03-02 20:01] #14480 closed

[2017-03-02 20:01] tarekgh commented on #12085
Yes if you reference the library directly, then there is no check will be done but expect you may get some runtime failures.

[2017-03-02 20:01] #12085 closed

[2017-03-02 20:04] karelz commented on #15430
Next step: We need formal API proposal

[2017-03-02 20:06] ahsonkhan commented on #14376
@fujiy, @mramosMS, does this unblock you to get further? Feel free to ask more questions.

[2017-03-02 20:06] eerhardt opened #16621 "Latest Windows x64 Shared Framework throws error: Unable to load DLL 'System.Native':"
With the latest Microsoft.NETCore.App `2.0.0-beta-001640-00`, running an app that starts a process throws the following exception:

[code]

This didn't repo on build `1607`.

I verified that the "bad" `System.Diagnostics.Process.dll` is getting in `runtime.win7-x64.Microsoft.Private.CoreFx.NETCoreApp.4.4.0-beta-25102-02.nupkg`.  So this isn't a core-setup issue.  It is an issue with the Private.Co

[2017-03-02 20:08] Priya91 commented on #15844
@ianhays is helping out with process failures..

[2017-03-02 20:08] peterwurzinger commented on #16558
@karelz No didn't try this, but I guess it's fine to use the NuGet package as is - just like @krwq mentioned.
I'll use a private repository from my machine and remove it when it's no longer needed

[2017-03-02 20:09] swgillespie commented on #16606
@jkotas @Maoni0 Sort-of related - what is this API supposed to do when not using allocation contexts? This test always fails on my single-proc machine.

[2017-03-02 20:09] ahsonkhan commented on #14486
Next step: Do the work highlighted in the original issue post. Should be simple to fix.

**Essentially remove the checks in the below methods and the corresponding tests:**

https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/Span.cs#L139
https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/ReadOnlySpan.cs#L139

https://github.com/dotnet/coreclr/blob/mast

[2017-03-02 20:10] tarekgh commented on #11772
looks there is no action needed with this issue. closing it,

[2017-03-02 20:10] #11772 closed

[2017-03-02 20:13] ahsonkhan commented on #16593
cc @jkotas, @russellhadley

[2017-03-02 20:14] Priya91 commented on #15154
The ask is to separate out code that's used by Data contract serialization from the codedom files into a common shared code location, instead of moving the whole codedom files. Hence putting the work under serialization area path.

[2017-03-02 20:17] karelz commented on #11908
@adityamandaleeka should we dupe it against something else?

[2017-03-02 20:18] tarekgh commented on #11661
@SomeAnon42 I am closing this one but please follow the discussion on the issue #7702 and feel free to reopen if your issue didn't get resolved when #7702 is resolved. Thanks.

[2017-03-02 20:18] #11661 closed

[2017-03-02 20:18] karelz commented on #13778
OK, assigning to @geoffkizer for further look.

[2017-03-02 20:20] Maoni0 commented on #16606
we could make it so that it checks for the # of processors and if it's 1 then don't run the test. 'cause this API is supposed to be reporting the thread's allocations.

[2017-03-02 20:21] ahsonkhan commented on #16403
@mellinoe, is there an issue tracking this separately?

[2017-03-02 20:21] ianhays commented on #15844
Getting a fedora machine running now so I can repro these.

[2017-03-02 20:22] adrianknight89 commented on #12093
I was looking for a similar file for VS 2015 & now 17.

[2017-03-02 20:23] karelz commented on #11908
Actually is the bug still valid?

[2017-03-02 20:24] rahku commented on #12678
Jan I will take care of this next week. Sorry for the delay

[2017-03-02 20:24] tarekgh commented on #11578
we had soem engineering system changes which we are not restoring many packages and instead we build and use the source libraries. so this issue in not valid any more. Thanks.

[2017-03-02 20:24] #11578 closed

[2017-03-02 20:28] adityamandaleeka commented on #11908
Here is the issue @stephentoub mentioned above: https://github.com/dotnet/coreclr/issues/6283

[2017-03-02 20:28] karelz commented on #7175
@jkotas sounds good!

[2017-03-02 20:30] swgillespie commented on #16606
Those are orthogonal concerns, though - you can still have multiple threads running on a single proc. I'd expect (as a developer using this API) based on the name and the API review thread that this API would work regardless of the processor topology. Should we be throwing an exception or something if we're not using allocation contexts?

[2017-03-02 20:31] tarekgh commented on #11541
Could you post your question on https://github.com/aspnet instead? thanks.

[2017-03-02 20:31] #11541 closed

[2017-03-02 20:31] fujiy commented on #14376
I sent my workaround to @mramosMS, I think it worked for him.

[2017-03-02 20:32] karelz commented on #16613
What are the libraries for? Are they part of tests?

[2017-03-02 20:33] tarekgh commented on #11531
Issue moved to [dotnet/sdk #931](https://github.com/dotnet/sdk/issues/931) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-02 20:33] #11531 closed

[2017-03-02 20:33] heejaechang opened #16622 "using pool for buffer in HashAlgorithm"
this creates new 4K buffer every time computing hash

https://github.com/dotnet/corefx/blob/e9ecf74d845476540f40fa8fdc62c53ebf048519/src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/HashAlgorithm.cs#L78

which is probably fine when creating hash for 1 or 2 values. but when creating large numbers of hashes that adds up quite quickly.

one of examples of those cases will

[2017-03-02 20:36] jkotas commented on #16606
I do not think we should be throwing exception. We should return 0 if the allocation contexts are not supported. Is it the case today, or are we just returning some random number?

[2017-03-02 20:37] swgillespie commented on #16606
We're returning 0, yes.

[2017-03-02 20:38] karelz commented on #10714
@zhenlan I didn't see any evidence in the description that it is about `System.Runtime.Serialization.Formatters`, that's why I put it here - in future, please feel free to change areas when you have more info.
I'll update the title and change area for this particular issue ...

[2017-03-02 20:39] tarekgh commented on #14101
the infra-structure is there now. The tests may need some tweaks and @safern is already looking at that.

[2017-03-02 20:40] Maoni0 commented on #16606
you can have multiple threads running on a single proc, which is preciously the reason why I wouldn't want to support getting alloc bytes (if you only have one thread running, then it's easy - you can get accurate alloc bytes cheaply. with multiple threads you can get switched out when you read the alloc bytes from the global alloc context  which means you can be reading an inaccurate value).

as

[2017-03-02 20:41] jkotas commented on #16606
So we should fix the test to accept constant 0 as a valid answer. However, it won't fix the issue that this bug is about because of the size was not zero in the log.

[2017-03-02 20:41] karelz commented on #14101
Great, FYI - @Priya91 @CIPop @davidsh @geoffkizer

[2017-03-02 20:41] justinvp commented on #16619
These would return the same result, but like `FormattableString.Invariant`, the latter allocates two more objects ☹️ (an instance of `FormattableString` and the params `object[]`).

[2017-03-02 20:42] tarekgh commented on #12093
@weshaggard any idea about that?

[2017-03-02 20:43] karelz commented on #11908
That bug is marked as Test-Issue, while this looks like product bug. What am I missing?

[2017-03-02 20:44] ianhays commented on #16613
Yes, they're used in the System.Diagnostics.FileVersionInfo tests.

[2017-03-02 20:44] swgillespie commented on #16606
Ok! My concern was that it's very unclear to developers not familiar with GC internals to understand /why/ we can't get accurate alloc bytes cheaply.

Yeah, the test is a different scenario, the CI machine has 4 procs.

[2017-03-02 20:46] geoffkizer commented on #13778
Is this actually a bug?  It seems like users just need to be aware that this happens and deal with it.

[2017-03-02 20:46] karelz commented on #16613
"test enhancement" then :) ... given that we do not know the original source internally, should we even remove the "port-to-core", describe what they should do and mark it as "up for grabs"?

[2017-03-02 20:47] ericstj commented on #16621
This was happening due to a couple reasons.

The primary problem being that we had a clash in our allconfigurations build that caused both unix and windows to write to the same package path.  This was a race condition with last in wins.

The second problem is https://github.com/dotnet/corefx/issues/16126 which causes whichever build that finishes last to "win" during publishing.

[2017-03-02 20:50] ericstj commented on #16126
I'm ok with what Wes says so long as we have a good agreed upon condition to use for "Official" builds.  Can we agree on that here?  OfficialBuild == true?

I also second what Wes says about conflicts.  It must be a failure if one leg tries to produce the same package as another leg in this case.

[2017-03-02 20:57] ericstj commented on #12203
I suspect the app is using the desktop implementation of RuntimeInformation that got copied to the app's output directory and mono isn't overriding.  That desktop implementation [hardcodes](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.Windows.cs#L19) windows.  There's been

[2017-03-02 21:00] ianhays commented on #16613
Yeah, the work-item here is to write new sources for a native binary to https://github.com/dotnet/corefx-testdata that when built using a script (which also needs to be written) produces binaries that can be used interchangeably with those currently in the System.Diagnostics.FileVersionInfo tests.

[2017-03-02 21:00] stephentoub commented on #13778
Here's the situation that caused this to be opened.  You've got a high-scale server receiving, let's say, on 50,000 sockets.  You don't want to have to create 50,000 buffers, so instead you issue a 0-length ReceiveAsync on each, so that you can be notified when there is data available to be read, and only then get a buffer to use. To know the size buffer to use, you check DataAvailable, but on mac

[2017-03-02 21:05] geoffkizer commented on #13778
Yes, this seems like the right approach.  Most likely you've got an async loop that's consuming incoming data.  If you get DataAvailable = 0, just continue to the next iteration of the loop.

I do agree this is annoying, but I'm not sure how we would fix it without introducing potential perf problems.  Thoughts?

[2017-03-02 21:06] weshaggard commented on #12093
Not sure but @adrianknight89 do you know if the one we have works or not in VS 2015/17? I would expect they should continue to work.

[2017-03-02 21:08] stephentoub commented on #13778
How do you differentiate "ReadAsync completed because there's data available" and "ReadAsync completed because the server is done sending data"?

[2017-03-02 21:12] tarekgh commented on #11499
CC @ericstj @ianhays

[2017-03-02 21:12] geoffkizer commented on #13778
That's a very good question.  Seems like we need to do something here, then.

[2017-03-02 21:13] karelz commented on #2751
Next step: Get the repro under debugger, root cause and fix.
Complexity: Medium (it's threading)

[2017-03-02 21:17] Priya91 commented on #16272
Requires investigation to identify issue on win7 stack.

[2017-03-02 21:19] tarekgh commented on #11429
@terrajobst @ericstj any input regarding this one?

[2017-03-02 21:19] steveharter commented on #13302
See also this #9228 for analogous issue on S.N.Sockets

[2017-03-02 21:21] mellinoe commented on #16403
It's actually already fixed. These tests should be running everywhere now.

[2017-03-02 21:21] #16403 closed

[2017-03-02 21:22] steveharter commented on #13302
Disabling the test for now; either:
1) The test needs to updated to account for additional WebSocketException strings (for receive case at least)
2) The test needs to remove the check for exact WebSocketException string (for receive case at least)
3) A product issue where wrong WebSocketException string is being used

[2017-03-02 21:22] Priya91 commented on #14409
Not able to repro, and hasn't failed in CI since. Closing as no repro, please reopen if test failure happens again.

[2017-03-02 21:22] #14409 closed

[2017-03-02 21:27] karelz commented on #4577
Triage: We decided it is dupe of #3906.

@brianrob can you please create new issue to expose GC, JIT events on NET Core via EventCounters or something like that.

[2017-03-02 21:27] #4577 closed

[2017-03-02 21:28] dmitriyse opened #16626 "Do something with IReadOnlyCollection and ICollection. We needs good abstractions hierarchy."
Just drop IReadOnly****, mark them obsolete.
We can't do anything with backward compatibility here.
If we inherit ICollection from IReadOnlyCollection we will broke existing code.
See: http://stackoverflow.com/questions/12622539/why-doesnt-generic-icollection-implement-ireadonlycollection-in-net-4-5

But may be sometime will be good point do do this breaking change, provide tools for migration aut

[2017-03-02 21:28] karelz commented on #4864
Triage: Belongs to PerfView repo - @vancem can you please link it and close this one?

[2017-03-02 21:31] dmitriyse commented on #16626
Too late. Too late. It means never. But it's every day pain. We need to do something like not-nullable (see https://github.com/dotnet/csharplang/issues/219) reference of define version of CoreFX with this breaking change. For example "DotNet Ultra" scheduled to 2025 - will be next major Dotnet rewrite, where this problem will be solved.

[2017-03-02 21:32] karelz commented on #4865
@davmason do you have the tests anywhere internally? @brianrob said he might be able to do it with his EventSource work + it seems to be cheap.

[2017-03-02 21:33] karelz commented on #4873
@davmason the link seems to be not related to EventSource. Can you refer to what you meant?
cc @brianrob

[2017-03-02 21:35] ericstj commented on #11499
I take it this is a UAP app?  FileSystem.Watcher isn't supported for UAP.  The Windows APIs it needs to call are not available to UAP apps.  You should have seen an error from NuGet after you added that to your project.

Here is what I see:
[code]

Those errors mean that the package is not compatible with UAP.

[2017-03-02 21:38] karelz commented on #5126
This will likely need new API proposal.
Next step: Think it through and suggest solution. If it needs new API, please we need formal API proposal.

[2017-03-02 21:39] davmason commented on #4873
It is the right issue number but in coreclr, not corefx. https://github.com/dotnet/coreclr/pull/1988 has the details

[2017-03-02 21:44] tarekgh commented on #11499
@ericstj any idea if there is a version of Microsoft.Extensions.Configuration.Json package that can work in UAP? it looks from the thread System.IO.FileSystem.Watcher is just a problem because Microsoft.Extensions.Configuration.Json is referencing it.

[2017-03-02 21:44] davmason commented on #4865
All the tests are wired up, and currently running they just don't test the codepath because it wasn't available at the time. In Listeners.cs in the tests directory I have the relevant code commented out with an ifdef. See https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/Harness/Listeners.cs#L300-L374

Once those ifdefs are removed the tests sho

[2017-03-02 21:45] weshaggard commented on #15703
@mellinoe I believe this is done now correct?

[2017-03-02 21:45] karelz commented on #6755
Note: This is API only for compat. We don't plan to evolve it too much - use EventSource instead.
If someone wants to tackle it anyway:

Next step: Propose a change to code.
Complexity: Simple-Medium (maybe just add some lock somewhere)

[2017-03-02 21:46] tarekgh commented on #11151
@weshaggard what is left to be done for this issue?

[2017-03-02 21:47] weshaggard commented on #11151
We still need to do an audit and review these before shipping 2.0.

[2017-03-02 21:47] karelz commented on #6872
@vancem says there is probably real bug.

Next step: Run the tests heavily in parallel and investigate failures, root-cause.
Complexity: Medium (threading, timing issues)

[2017-03-02 21:50] karelz commented on #7206
Triage: EventSource is part of .NET Standard 2.0. We do not plan to downport the package to Frameworks which do not support EventSource inbox. It is meant to ship bug fixes to Desktop faster.

[2017-03-02 21:50] #7206 closed

[2017-03-02 21:51] karelz commented on #7335
Next step: Debug the failure, propose a fix.

[2017-03-02 21:52] sergey-brutsky commented on #13551
@karelz may I help you somehow ? maybe provide more info or do more tests ?

[2017-03-02 21:53] tarekgh commented on #10524
Issue moved to [dotnet/coreclr #9919](https://github.com/dotnet/coreclr/issues/9919) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-02 21:53] #10524 closed

[2017-03-02 21:54] karelz commented on #8511
@avanderhoorn from triage discussion: @vancem thinks this is addressed by `System.Diagnostics.Activity`.
Closing for now, feel free to reopen if you think it does not fully address your request.

[2017-03-02 21:54] #8511 closed

[2017-03-02 21:56] karelz commented on #9747
Triage: We have moved away from project.json, so this is likely not relevant anymore.

[2017-03-02 21:56] #9747 closed

[2017-03-02 21:57] leecow opened #16629 "Proposed additions to RuntimeInformation"
https://github.com/dotnet/corefx/issues/12737

# RuntimeInformation

## Rational and Usage

It is often desirable and necessary for applications to determine execution environment and runtime information. Existing information provided by `System.Runtime.InteropServices.RuntimeInformation` could be enhanced and expanded with additional API to provide robust information.

[System.Runtime.InteropServ

[2017-03-02 21:57] karelz commented on #10028
It should be fixed in the code now, we just need to catch the next ProjectN wave to ship it out (2.1)

[2017-03-02 21:57] #10028 closed

[2017-03-02 21:58] karelz commented on #10314
Already tracked elsewhere

[2017-03-02 21:58] #10314 closed

[2017-03-02 22:02] danmosemsft commented on #16629
I was literally this morning typing up a proposal to at least add a strongly typed enum for runtime name.

Right now to figure out we are running on desktop, we do string parsing:
 `if (RuntimeInformation.FrameworkDescription.StartsWith(".NET Framework"))`

it should be possible to do something like
 `if (RuntimeInformation.Framework.IsDesktopFramework)` or  `if (RuntimeInformation.FrameworkIs(Fra

[2017-03-02 22:03] danmosemsft commented on #16622
Presumably such code should be sure to pass the "clear" flag when it returns the rented buffer. It's off by default.

[2017-03-02 22:03] tarekgh commented on #6826
Closing the issue here as it is not corefx issue. @tonyPendolino please update when you have more news and move this issue to the place you can track. Thanks.

[2017-03-02 22:03] #6826 closed

[2017-03-02 22:03] logiclink commented on #16493
@bartonjs, many thanks for the hint using the raw data. Thus, two extension methods can solve the problem quite elegant:

[code]

[2017-03-02 22:03] danmosemsft commented on #16613
Not sure why this is 2.0 @weshaggard

[2017-03-02 22:04] danmosemsft commented on #16601
@joperezr known?

[2017-03-02 22:05] karelz commented on #4864
Dupe of the PerfView linked issue

[2017-03-02 22:05] weshaggard commented on #16629
For the Version APIs how do you propose we determine each of them?

For example for OSVersion not all OS's are pure number based versions, so should this be a string or a new Version type that supports semantic versioning?

For the RuntimeVersion where would we embed this information? Today we don't really have a way to determine what .NET Core you are running on. When running on the shared framew

[2017-03-02 22:08] danmosemsft commented on #7175
I was figuring @alexperovich would do it when he's done the sync but we may need him for other things and it would happen a bit later.

[2017-03-02 22:08] tarekgh commented on #4544
@davidfowl @livarcocc any update about this issue.

[2017-03-02 22:09] #16621 closed

[2017-03-02 22:14] mellinoe commented on #15703
Done.

[2017-03-02 22:14] #15703 closed

[2017-03-02 22:15] karelz commented on #13551
Good question - @stephentoub @geoffkizer is there something that might help us beyond perf investigations?
@sergey-brutsky could you help with the root-cause perf investigations?

[2017-03-02 22:18] tarekgh commented on #2394
@terrajobst what action needed for this issue now? if we still need to port Workflow Foundation then it is better to keep api-needs-work tag on the issue.

[2017-03-02 22:18] heejaechang commented on #16622
buffer I am talking about is local to the method, never given out to users.

[2017-03-02 22:21] weshaggard commented on #16601
To build netstandard1.1 configuration you should pass it as `/p:TargetGroup=netstandard1.1`.  I need to update some of the docs https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/project-guidelines.md#options-for-building as they aren't up to date.

Also note you will need to done a `build.cmd -allConfigurations` before you can build this specific configuration.

[2017-03-02 22:22] danmosemsft commented on #16622
I was talking about https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Buffers/src/System/Buffers/ArrayPool.cs

Do you mean keeping a static 4KB allocation permanently after the first call to this API?

[2017-03-02 22:27] marek-safar commented on #16601
I just used what eric told https://github.com/dotnet/corefx/issues/16354#issuecomment-283113631 it also work from top level folder correctly

[2017-03-02 22:27] leecow commented on #16629
I wouldn't think we would invent anything clever for OSVersion. Return what is readily offered by the system. In the Linux case it happens to look like a number.

Could we rely on the contents of /share/Microsoft.NETCore.App or is that too naive?

[2017-03-02 22:28] heejaechang commented on #16622
no, I didn't know about the ArrayPool. that looks like good one to use to reduce allocations.

[2017-03-02 22:29] danmosemsft commented on #14736
@Priya91 this has not been seen since Dec do you want to close?

[2017-03-02 22:29] danmosemsft commented on #14842
@JeremyKuhne this has only happened once, 2 months ago. do you want to close?

[2017-03-02 22:30] danmosemsft commented on #15158
@swgillespie is it ok for you to go ahead and close this now then?

[2017-03-02 22:30] danmosemsft commented on #15158
folks will reopen if

[2017-03-02 22:30] #15158 closed

[2017-03-02 22:35] weshaggard commented on #16629
It can contain more then just numeric versions see https://www.freedesktop.org/software/systemd/man/os-release.html

That might help for shared applications but doesn't help for standalone at all.

[2017-03-02 22:37] logiclink commented on #16493
@morganbr I agree that comparing thumbprints in a regular browser and web server environment are far from being sufficient as authentication method. However, using thumbprints can reduce the risk of man-in-the-middle attacks like in rfc7469’s certificate pinning approach.
In my use case of IoT, the environment is different as server and clients are under control of a single operator. Thus, SSL cer

[2017-03-02 22:40] weshaggard commented on #16601
cc @ericstj

I just noticed it looks like you are building the solution from root library folder which might actually have some issues I will have a look at that.

Does it work if you do that same thing from `C:\temp\corefx-dev\src\System.Reflection.Metadata\src` if not does passing TargetGroup work?

[2017-03-02 22:42] danmosemsft commented on #14117
@ianhays another process one albeit apparently hasn't failed for 6 weeks so maybe closeable?

[2017-03-02 22:43] tarekgh commented on #11057
marked as test bug as the failures we currently have are in tests. the other issues are external to WSL

[2017-03-02 22:49] ianhays commented on #14736
Seems safe to close to me. We can always re-open it if we get hit by it again and then we can investigate with more info since the CI won't have deleted the stack traces yet.

[2017-03-02 22:50] dhoehna commented on #15554
@FireAlkazar DO you know why my tests aren't showing up when I run msbuild /t:buildandtest /p:coverage=true?

[2017-03-02 22:53] leecow commented on #16629
Yes, I understand that. Just suggesting we return whatever is readily available, eg a string.

That's why the smart folks are here to figure out the options ;-)

[2017-03-02 22:54] augustl commented on #2576
Adding that I have the same problem as mematrix.

https://github.com/dotnet/corefx/issues/2576#issuecomment-202071343

In my UWP app, I have a Chakra run time. I want to run the JS off of the main thread. Chakra requires a "context" to be made available. This "context" is only usable in the thread from which it was created. Using `System.Threading.Tasks.Task.Run`, I am not able to control which th

[2017-03-02 22:59] danmosemsft commented on #16626
As you recognize I don't believe we'd take any breaking change of that sort any time soon. Countless code already uses them.

[2017-03-02 23:03] #13951 closed

[2017-03-02 23:03] alexperovich commented on #13586
Closing as the question has been answered. If you have another question please make a new issue.

[2017-03-02 23:03] #13586 closed

[2017-03-02 23:04] jamesqo commented on #1942
@danmosemsft I'm taking care of it right now.

[2017-03-02 23:05] marek-safar commented on #16601
`/p:TargetGroup=netstandard1.1` still builds netcoreapp plus it fails with extra errors like

`CSC : error CS0006: Metadata file 'C:\temp\corefx-dev\bin/runtime/netstandard1.1-Windows_NT-Debug-x64/xunit.core.dll' could not be found [C:\temp\corefx-dev\src\System.Reflection.Metadata\tests\System.Reflection.Metadata.Tests.csproj]

[2017-03-02 23:05] weshaggard commented on #16629
Can I ask you to update the proposal with some scenarios (i.e. coding scenarios) we want folks to be doing with these new APIs? If we plan folks to make runtime decisions based on this version then having it be a string isn't a good way to expose this information because everyone will still have to figure out how to parse it.

There isn't any good way that I'm aware of to do this, that would work

[2017-03-02 23:06] #14053 closed

[2017-03-02 23:06] terrajobst commented on #16626
Removing is certainly not an option at this point. However, we've talked with the compiler and runtime team to see if we could make the mutable interfaces inherit from the read-only interfaces. AFAIR the consensus is that we probably could, but we'll have to make sure it's not a source/IL breaking change. So far, the impact of the work didn't seem to be worth it.

[2017-03-02 23:07] Priya91 commented on #14736
I remember not being able to repro this locally on the OSX box with a batch script running for 30 mins. We can close this.

[2017-03-02 23:07] #14736 closed

[2017-03-02 23:10] corivera opened #16635 "OverflowException when casting int to short"
The following code succeeds when running a test app created via "dotnet new", but fails when running in our System.Data tests on the latest version of CoreFx. Similar code was succeeding in SqlClient at least 2 weeks ago, but has been causing test failures recently.

            int value = 0xff << 8;
            short shortValue = (short)value;

This gets thrown on the line for the cast to a shor

[2017-03-02 23:12] geoffkizer commented on #13778
Can you reproduce this easily?

[2017-03-02 23:13] #12175 closed

[2017-03-02 23:14] corivera commented on #16635
Failing casts in SqlClient:
https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlBuffer.cs#L1092
https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParser.cs#L1558

[2017-03-02 23:15] deppe opened #16636 "XmlSerializer.Serialize performance issues on linux"
I recently profiled some asp.net core code that uses XmlSerializer and noticed some differing performance results when comparing Windows and Linux execution. I have a test program https://github.com/deppe/XmlSerializerPerf that runs XmlSerializer.Deserialize 1000 times, then runs XmlSerialize.Serialize 1000 times and prints the total time for each.

On windows, Serialize and Deserialize take a sim

[2017-03-02 23:17] corivera commented on #16635
@danmosemsft

[2017-03-02 23:19] saurabh500 commented on #16635
@danmosemsft @stephentoub Can you help get the right folks on this?
The tests in Manual tests for SqlClient which we execute while changing the code were running fine until 2 weeks ago, started failing. We don't know the exact point of this regression right now.
These tests have been working well for over a year.

[2017-03-02 23:25] danmosemsft opened #16637 "dir.props cleanup"
There is some dead stuff there since the core eng work eg TargetGroup=uap101 is not set when building a vertical.
@joperezr

[code]

[2017-03-02 23:29] weshaggard commented on #16601
Did you do the build from the src directory? You cannot pass those parameters to the solution files.

[2017-03-02 23:30] danmosemsft commented on #16635
This should have fixed it.
https://github.com/dotnet/corefx/pull/16620

[2017-03-02 23:30] #16635 closed

[2017-03-02 23:33] alexperovich commented on #2576
@augustl If you use `Task.Factory.StartNew` with `TaskCreationOptions.LongRunning` that will create a separate thread to run the created task. You could also use AsyncContext from https://github.com/StephenCleary/AsyncEx/wiki/AsyncContext which uses that internally to create a single threaded `SynchronizationContext`.

[2017-03-02 23:34] #16178 closed

[2017-03-02 23:34] danmosemsft commented on #16178
@Jiayili1  this shoudl be fixed

[2017-03-02 23:34] mellinoe commented on #16601
That error might indicate that the `netstandard1.1` targeting pack isn't built yet. `msbuild external/dir.proj /p:BuildAllConfigurations=true` would fix that.

[2017-03-02 23:37] weshaggard commented on #16601
That indicates that the test project doesn't have a netstandard1.1 configuration so it doesn't build correctly. This is a result of using TargetGroup on the solution as opposed to the individual projects. If all you want is to build the netstandard1.1 version of System.Reflection.Metadata then you need to build in the `src\System.Reflection.Metadata\src` directory.

[2017-03-02 23:41] weshaggard opened #16638 "Running tests against an non-platform configuration doesn't work"
Today if you have multiple build configurations like https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/src/Configurations.props. You can build an individual build configuration locally for that test project but there isn't a good way to run the tests on that older configuration.

In other words how do you run the System.Reflection.Metadata.Tests against .NET Core but usin

[2017-03-02 23:42] Priya91 commented on #12203
Mono has already implemented RuntimeInformation.IsOSPlatform [here](https://github.com/mono/mono/blob/ff7a2a5114d6da678a5a75c5eebf0731db4f3aed/mcs/class/System.Runtime.InteropServices.RuntimeInformation/System.Runtime.InteropServices/RuntimeInformation.cs#L47). Not sure how to control Nuget to pick this version though.

[2017-03-02 23:44] stephentoub commented on #13778
I've not tried since Nov.  At the time I was able to repro it almost on demand, just running a little repro in a loop.

[2017-03-02 23:44] ericstj commented on #12203
It's not about NuGet.  Mono apps and desktop apps are identical at build time.  Mono has to decide at runtime to reject the copy in the app.  We're having a discussion about this here: https://github.com/dotnet/corefx/issues/15112

[2017-03-02 23:45] vancem commented on #16491
That was certainly not my understanding that SetEndTIme would be called explicitly, and I *think* we agree that you should not have to (you only have to in the RARE case that the end time that is different the time the 'Stop' API is called.     I agree that there is but where the DiagnosticSource subscriber does not see a set duration.    I propose adding the following code to 'StopActivity()

[2017-03-02 23:46] karelz commented on #12861
Will this be part of NS2.0 for UWP work? If yes, let's put it into 2.1 milestone.

[2017-03-02 23:54] Priya91 commented on #12203
Thanks @ericstj , the solution from #15112 should fix this issue?

[2017-03-02 23:57] joperezr commented on #15966
@Priya91 is this something you are planning to do soon? I mean breaking the Win32.Registry dependency from Process. If not, then somebody else should work on it since it needs to be done before shipping uap

[2017-03-02 23:57] MichalStrehovsky commented on #16629
For the OSVersion thing, it might not be possible to reliably implement this on Windows (e.g. [GetVersionEx](https://msdn.microsoft.com/en-us/library/windows/desktop/ms724451(v=vs.85).aspx) will return the version that the program is manifested for and never anything higher - and Windows team is slowly eradicating other undocumented places people use to get Windows version). They really don't want

[2017-03-02 23:57] steveharter commented on #13349
@karelz the tests got refactored since they were disabled and I missed the new locations (different name, location) so re-opening this to disable the remaining single test

[2017-03-03 00:02] ericstj commented on #12203
Sure in the long term it will.

[2017-03-03 00:04] mellinoe commented on #16629
And how about the supported in other platforms, like Android, iOS, FreeBSD, etc.? Do we have an idea about what facilities exist there?

[2017-03-03 00:05] dmitriyse commented on #16626
Ok, I understand how deep is a rabbit hole.  Hypothetical "DotNet Ultra" in 2025  will be probably backward compatible to current CLR binaries. And probably we will get D# that works side by side with C# 12.0 on-top of the same CLR, but have no any inherited problems of C#(and have no old-code compile restriction). This hypothetical D# can finally get more popularity than C# and finally any curren

[2017-03-03 00:06] Priya91 commented on #13346
@IKende What is the exact error you get? Refer this issue #13309

[2017-03-03 00:09] sepidehMS commented on #15622
Proposal added on top

[2017-03-03 00:11] safern commented on #15622
Thanks @sepidehMS looks good.

[2017-03-03 00:14] dmitriyse commented on #16626
Yes CoreCLR is too late. But remember 2025 year and plan breaking changes now.

The only we can do is to improve toolset compiler to allow annotation of classes/argumets/properties/variables with "readable" and add compile-time analysis.

Exactly the same thing that will be done in C# 8.0 with not-null references.

They will add two mode to C# compiler,
1) for old code written in C# < 7.0 (assign

[2017-03-03 00:18] tarekgh commented on #12861
I don't this AOT is UWP work but @AlexGhiondea can confirm.

[2017-03-03 00:20] dmitriyse commented on #16626
BTW CoreCLR is awesome. You made herculean efforts by rewriting CLR. I just trying to help make things better.

[2017-03-03 00:22] krwq opened #16640 "HMACSHA256/HMAC.Create() throw PNSE"
cc: @bartonjs @danmosemsft

HMAC.Create throws PNSE where it could potentially work by simply using a constructor

Is this something we should possibly support?

[2017-03-03 00:27] Priya91 commented on #15966
@joperezr Is registry not a supported feature for uwp? Process uses registry to access process information on remote machines, and to get available verbs for a file extension from registry.

[2017-03-03 00:30] #14068 closed

[2017-03-03 00:33] #16274 closed

[2017-03-03 00:34] #16555 closed

[2017-03-03 00:36] mellinoe commented on #16399
It's pretty rare to use a Matrix's hash code, but we could certainly improve it.

[2017-03-03 00:38] jamesqo commented on #10528
@karelz Sure, one thing though. It seems like from the previous discussion @KrzysztofCwalina decided in favor of having a `ref T` indexer, but the proposal was never updated?

[2017-03-03 00:42] shmao opened #16643 "Area-Serialization Sprint 115"
The issue is for tracking issues to be done in sprint 115 (due by 3/24/2017).

[2017-03-03 00:46] brianrob commented on #5072
Looking at #5071, there are no code review comments present to address.  We're also trying to make sure that we keep EventSource code, which is present in multiple repos, in sync.  Thus, we try to avoid larger code formatting changes.  Based on these, and the fact that we may not even put EventSource in the corefx repo (it must live in both coreclr and corert), I'm closing this issue.

[2017-03-03 00:46] mellinoe commented on #15830
I don't really agree with some of the points above. `MathF` is a completely standalone type, with no technical restrictions barring it from being shipped by itself, in a library targeting .NET Standard 1.0. It was only put in System.Runtime.Extensions for the sake of expediency. I think @tannergooding would have preferred to do it another way if we had given him different guidance when the library

[2017-03-03 00:47] shmao opened #16644 "Run DCS/DCJS Tests in CoreFx against uapaot."
Running tests against uapaot is not supported. The task is to make our DCS/DCJS test projects build and run against uapaot.

[2017-03-03 00:47] jamesqo commented on #10528
@karelz, @terrajobst made a post further down [here](https://github.com/dotnet/corefx/issues/10528#issuecomment-251477256) that had the latest proposed API at the time, so I think the current proposal looks like

[code]

Correct?

[2017-03-03 00:50] shmao opened #16645 "Investigate Issues with DCS/DCJS Reflection-based Serialization on Uapaot"
Upon the completion of #16644, we'd like to investigate if Reflection-based Serialization for DCS/DCJS work on Uapaot.

[2017-03-03 00:51] sepidehMS opened #16646 "Improve code coverage for System.Xml.XPath"
- [ ]  System.Xml.XPath.Extensions 20%
- [ ]  System.Xml.XPath.
- [ ]  System.Xml.XPath.
- [ ]  System.Xml.XPath.

[2017-03-03 00:52] shmao opened #16647 "Investigate Issues with DCS/DCJS Serializing ISerializable on Uapaot"
Upon the completion of #16644, we'd like to investigate if DCS/DCJS can serialize ISerializable types on Uapaot.

[2017-03-03 00:55] jamesqo commented on #10528
@KrzysztofCwalina By the way, why are we having `ArraySegment<T>.Length` when we already have `ArraySegment<T>.Count`? Is that required for the compiler to recognize `ArraySegment` as a type that can be sliced when spans get language support? It seems really weird/confusing to have two properties that do the same thing.

[2017-03-03 00:58] KrzysztofCwalina commented on #10528
The point was to make it easier to switch from array, span, etc. to arraysegment and vice versa,

[2017-03-03 01:05] jamesqo commented on #10528
@KrzysztofCwalina OK. I have pushed it out of the proposal for now, then; it can be added later if you change your mind.

I have a question that came up while I was working on the implementation: should `Slice` accept negative indices? If you do `new ArraySegment<T>(new T[1], 1, 0).Slice(-1)` should you get an `ArraySegment` that contains the first element or should an exception be thrown?

[2017-03-03 01:10] Jiayili1 commented on #16430
@karelz Thanks for reminding me, I got it.

[2017-03-03 01:23] Jiayili1 commented on #15065
Failed again on build [20170302.02](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170302.02/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FOpenExeConfiguration1_UserLevel_PerUserRoamingAndLocal)

[2017-03-03 01:24] Jiayili1 commented on #15066
Failed again on build [20170302.02](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170302.02/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationManagerTest~2FexePath_UserLevelPerRoamingAndLocal)

[2017-03-03 01:36] sepidehMS opened #16649 "Improve code coverage for System.Xml.Schema"
These are some of the bigger types with low coverage in `System.Xml.Schema`. It would be great if we could add more tests to reach 80-90% coverage on these:

- [ ]  System.Xml.Schema.XmlAtomicValue 33.7%
- [ ]  System.Xml.Schema.XmlSchemaAny 36.5%
- [ ]  System.Xml.Schema.XmlSchemaAnyAttribute 36.3%
- [ ]  System.Xml.Schema.XmlSchemaCollection 42.6%
- [ ]  System.Xml.Schema.XmlSchemaInference 17.8

[2017-03-03 01:39] dmitriyse commented on #16626
1) It's will be really grate to force mutable interfaces to inherit "ReadOnly" interfaces. It solve many many problems. But along with this we can receive additional benefits from annotations and static compile-time checks approach.
2) Immutable interfaces are inherited from "ReadOnly"=="Readable" interfaces this is very good.
3) At least one interface is missing  IReadOnlySet https://github.com/d

[2017-03-03 01:42] karelz commented on #14068
@danmosemsft how does the test removal fix the problem? You mentioned different things in your earlier reply ...

[2017-03-03 01:43] karelz commented on #16644
@shmao I added "test enhancement" and milestone:2.1.0 on your behalf

[2017-03-03 01:45] sepidehMS opened #16650 "Improve code coverage for System.Xml.Xsl"
These are some of the bigger types with low coverage in `System.Xml.Xsl`. It would be great if we could add more tests to reach 80-90% coverage on these:

- [ ]  System.Xml.Xsl.Runtime.XmlCollation 45.6%
- [ ]  System.Xml.Xsl.Runtime.XmlQueryOutput 53.1%
- [ ]  System.Xml.Xsl.Runtime.XmlQueryRuntime 46.3%
- [ ]  System.Xml.Xsl.Runtime.XsltFunctions 10.3%
- [ ]  System.Xml.Xsl.Runtime.XsltLibrary 3