[2016-06-05 23:28] joshfree commented on #9156
The new system has only been on a week and I know @jhendrixMSFT is trying to stabilize the new build pipeline so I understand why we're building so frequently right now (and yes there is a bit of noise.. :smile:).  When we're ready to scale back to a normal cadence, I'd probably start with building 2x per day initially for corefx - say 12n and 7pm; with official builds skipped for all of Saturday

[2016-06-05 23:30] stephentoub commented on #9156
Part of the problem as well is we have three different sets of dependencies that version separately:
https://github.com/dotnet/corefx/blob/master/dir.props#L86-L88
and updates to each of those generate a PR.  Further, because the lines are next to each other, they end up conflicting, so as soon as one of the PRs is merged, the others can't be without intervention off of GitHub. If we could effecti

[2016-06-05 23:32] joshfree commented on #9124
/cc @stephentoub

[2016-06-05 23:35] joshfree opened #9168 "[release/1.0.0] investigate Nano Server 2016 CI failures"
Nano Server has been failing pretty regularly in outerloop runs.  Please investigate.

[2016-06-05 23:41] joshfree commented on #6388
Again on June 5 - Windows 7 Debug Outerloop

[code]

[2016-06-05 23:43] gkhanna79 commented on #9166
From failing job above, the details of the commit that triggered it are at http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/opensuse13.2_debug_tst/75/. Per this link, the commit in question (which triggered the job) is https://github.com/dotnet/corefx/commit/1caac18fd7e1c7f122d7807bfbe5202f616ff3d1and associated PR is https://github.com/dotnet/corefx/pull/9146.

The PR is clea

[2016-06-05 23:53] stephentoub commented on #6388
Looks like the server on which this was run has been up for 25 days, aka ~2^31 milliseconds and when Environment.TickCount wraps around.

[2016-06-06 00:36] joshfree commented on #9124
A few questions --

@davidsh @CIPop @stephentoub  what is the risk of this fix?  Given it's a regression in behavior from .NET 4.x I think we'd still consider it during this week of escrow.  We still have a few other changes we need to take such as https://github.com/dotnet/corefx/issues/9040 and https://github.com/dotnet/corefx/issues/9072.

@stiliev are you able to workaround this if the fix doe

[2016-06-06 00:37] joshfree commented on #9124
marking this as 1.0.0-rtm while the issue is being investigated

[2016-06-06 00:40] joshfree opened #9170 "[release/1.0.0] general CI failures on Fedora 23 and openSUSE 13.2"
Some of this may be the same issue as https://github.com/dotnet/corefx/issues/9166 but we're seeing regular red badges on SUSE and Fedora in the https://github.com/dotnet/corefx/tree/release/1.0.0 branch.

Marking this 1.0.0-rtm until the issues are investigated and understood

[2016-06-06 00:48] bartonjs commented on #4278
@sandersaares / @af0l : There is not, for .NET Core 1.0, any inbuilt implementation of SignedXml/XmlDSig.

Based off of comments here (and others) we'll probably just bring over the old API, but we didn't have time to make it happen for 1.0.

[2016-06-06 00:51] joshfree commented on #6942
@tmat

[2016-06-06 00:54] #9167 closed

[2016-06-06 00:55] joshfree commented on #9167
thanks @stephentoub

[2016-06-06 01:06] joshfree commented on #9072
@yishaigalatzer how soon can we get an updated nuget.exe?

[2016-06-06 01:18] ericstj commented on #9072
We just need the nuget DLL nupkgs, not exe.

[2016-06-06 01:31] davidsh commented on #9124
@joshfree I have no idea of the risk.  I have not investigated it.  And I won't be able to for a few days since I have other high priority work.

[2016-06-06 01:35] yishaigalatzer commented on #9072
You can grab bits off the nugetbuild feed as soon as rohit checks in

[2016-06-06 01:38] aplex opened #9171 "Unable to load DLL 'System.Security.Cryptography.Native' on OS X"
We're using .Net Core RC2 to build a desktop app with Web UI. It works fine on developer mac, but does not start on a clean OS X 10.11, producing an exception:

[code]

Looks like this is caused by openssl dependency. Can it be bundled with the app somehow, so that users don't have to install openssl separately?

The app is built using
[code]

[2016-06-06 03:23] joshfree commented on #9072
https://github.com/NuGet/NuGet.Client/pull/639

[2016-06-06 04:32] bartonjs commented on #9171
@aplex You are correct that it is the OpenSSL dependency.  While it does cause an less-than-ideal experience on a clean machine, we don't want to bundle OpenSSL with us because that would leave the machines in a place where they aren't getting security updates as OpenSSL releases new fixes (and/or we'd need a whole update stream for carrying our partner dependencies).

If you have any recommendati

[2016-06-06 05:17] aplex commented on #9171
For server environment, installing openssl may be ok (although I don't think there are a lot of people who would use OS X as a server). But, for desktop application that does not make sense. End-user wouldn't install or update some library that he does not know or care about. Also from what I read, openssl of different versions are not binary compatible, so the app would not be able to use the new

[2016-06-06 06:08] aplex commented on #9171
I can try that. What package should I reference from RC3? Is it on myget?

[2016-06-06 06:21] bartonjs commented on #9171
https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.native.System.Security.Cryptography/4.0.0-rc3-24204-00 is the relevant package; but you'd get it by just changing all your rc2-based references to rc3-based references (24117+ for this particular problem's fix, 24204 is the newest build).

I don't know that it'll be happy letting you reference that package directly (since it's a runti

[2016-06-06 07:45] Priya91 commented on #9168
The serviceprocess failures have been fixed. The SecureString tests are failing because winapi, ```RtlZeroMemory``` is not found in kernel32.dll.

[2016-06-06 07:54] aplex commented on #9171
Using RC3 package didn't went quite smooth, as there were a bunch of error during dotnet restore. I guess I need to upgrade all those "preview1" packages too, will try that tommorow.

So I tried just pulling System.Security.Cryptography.dylib from  https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.osx.10.10-x64.runtime.native.System.Security.Cryptography/1.0.1-rc3-24204-00 and replac

[2016-06-06 08:15] Angelixion commented on #8907
I use it to get a custom list of countries(and their code), and a custom list of languages(and their code) in a resx for example, it can be useful when you want to get a lot of resources, instead of going resource by resource, you can get all the resources and filter them yourself in your own code, and you will not need to know the keys of the resources you want if you want to get all the resource

[2016-06-06 10:14] leo9223 commented on #2089
I also have to authenticate users from ADLDS please also consider System.DirectoryServices.AccountManagement

[2016-06-06 12:58] stiliev commented on #9124
@joshfree We have not found any workaround. We have this use case in our TFS build automation agent that is part of the DevDiv Dev15.
@bryanmacfarlane

[2016-06-06 13:43] af0l commented on #4278
Thank you @bartonjs, that must be the reason I could not get our project to work on Core. :) It's also a great shame, because I'd love to move ahead and can't until it's done. We have to report all payments to our tax authority using signed xml's, so it's a showstopper really.

[2016-06-06 14:46] sqmgh commented on #8622
@nmunday Add `System.Data.SqlClient` to your dependencies, and it's in `Microsoft.SqlServer.Server`. IntelliSense will recommend adding that using if you try and construct one. It's been in Core [for quite a while](https://github.com/dotnet/corefx/commit/2ccf129032f1b6d3ca988889b65b4b70eaeba29f).

[2016-06-06 15:28] svick commented on #8910
Related: #8806

[2016-06-06 15:32] stephentoub commented on #8926
Again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/1972/consoleText

[2016-06-06 15:33] weshaggard commented on #9156
I agree that there is a lot of noise and also a lot of file changes and conflicts. One thing I've been thinking about is moving away from all the checked in project.json files that need to be updated every time and instead generating them as part of the build and then we could define the package dependencies in an msbuild props file or something and they could be templates to say $(CoreFXVersion)

[2016-06-06 15:41] joshfree commented on #8091
@gkhanna79 can you summarize exactly how customers will need to install these API-sets and find the install links please?

[2016-06-06 16:46] tarekgh commented on #9158
Please have a look at Remarks section in the following doc:

[code]

and apply the suggested steps:

[code]

This should make everything work.

I am going to close the issue, please feel free to respond back or re-open it if you have any follow up question of anything didn't work.

Thanks.

[2016-06-06 16:46] #9158 closed

[2016-06-06 17:12] varocarbas commented on #6831
I have started to write the code for the aforementioned proper version of my proposal and am liking it pretty much. It will still take a while (not sure if I will finish it by this month), but my ideas are already very clear. That's why I am writing this warming-things-up post with a clear enough picture about how it is expected to look like. Any suggestion will be more than welcome.

The basic st

[2016-06-06 17:51] schaabs opened #9180 "SIGABRT_ASSERT_System.Native.so!SystemNative_ForkAndExecProcess"
**The notes in this bug refer to the Ubuntu.14.04 dump [rc3-24202-00_004C](https://rapreqs.blob.core.windows.net/sschaab/BodyPart_669c030d-366e-481c-8f12-0e82c88679f2?sv=2015-04-05&sr=b&sig=yodf0SNKqzeSzh2ZReKVeGouiJC8UhD%2B504JC9qrI1s%3D&st=2016-06-03T22%3A16%3A16Z&se=2017-06-03T22%3A16%3A16Z&sp=r).  Other dumps are available if needed.**

	STOP_REASON:
	SIGABRT

	FAULT_SYMBOL:
	System.Native.so!

[2016-06-06 17:55] joshfree commented on #9180
@stephentoub can you help investigate

[2016-06-06 18:01] stephentoub commented on #9180
Was this running in some kind of stress scenario?  The abort here is just a failed (debug-only) assert, due to fork() failing.  We can certainly remove the assert if we want (in release the calling code will raise an exception due to the Process.Start operation failing), but fork() failing is out of our control, and would only happen in a few cases, like there being insufficient memory for the ker

[2016-06-06 18:10] emailtowalter opened #9182 "VS2015 cannot debug after changing project.json to be selfcontained."
followed the guide on this link "http://dotnet.github.io/docs/core-concepts/app-types.html", and publish the windows and ubuntu images. They both work fine.

But in the VS2015, when I try to debug the app using kestrel, it gaves me a error "unable to attach to coreclr. a debug component is not installed". Never seen it before I change to self-contained app.

[2016-06-06 18:18] schaabs commented on #9180
@stephentoub, Yes this failure is from running stress mixes.  In this case one of the tests in the stress mix is forking processes through System.Diagnostics.Process.  Because tests in the stress mix are run concurrently and repeatedly it is quite possible that this test needs to be filtered from our stress runs, as it might starve the machine of resources, by creating large amounts of longer runn

[2016-06-06 18:18] himadrisarkar opened #9184 "Allow CookieContainer to be Serialized/Deserialized"
Currently, serialization and deserialization of the CookieContainer doesn't work. The documentation says to use the CookieContainer if one needs to save off HttpOnly cookies. It seems that saving the CookieContainer isn't possible.
"If the server sends HTTPOnly cookies, you should create a System.Net.CookieContainer on the request to hold the cookies, although you will not see or be able to access

[2016-06-06 18:30] yizhang82 commented on #8654
@acesiddhu Yes, CoCreateInstance should work if you want to create the object:

``

        [DllImport("ole32.dll")]
        private static extern int CoCreateInstance([in]ref Guid rclsid, IntPtr pUnkOuter,
                                           Int32 dwClsContext,
                                           [in]ref Guid riid,
                                           [MarshalAs(UnmanagedType.

[2016-06-06 18:30] yizhang82 commented on #8654
@acesiddhu I'm closing this issue for now. Let me know if you have further questions and feel free to re-open this.

[2016-06-06 18:30] #8654 closed

[2016-06-06 19:03] joshfree commented on #9124
@ericeil can you please investigate today and report back?

[2016-06-06 19:19] joshfree commented on #9182
@mikem8361 @tzwlai @sergiy-k

[2016-06-06 19:29] ianhays commented on #8924
We shipped IsoStream for UWP inheriting from Stream, so from a compat perspective we're going to be modifying behavior regardless. Since the CoreFX IsoStream is there entirely for back-compat (i.e. is legacy support) for UWP, it makes a bit more sense imo to maintain API parity with that over full .NET. In fact, [IsoStream is only included right now for WinRT](https://github.com/dotnet/corefx/blob

[2016-06-06 19:30] CIPop commented on #9048
@clrjunkie Good point: updated above. (For the bash version it'll probably be --uninstall or -u while in Powershell it might be just -uninstall.)

[2016-06-06 19:53] tannergooding commented on #1151
I'm working on getting some Linux/Mac numbers and expect to have them sometime tonight.

[2016-06-06 20:09] ghost opened #9187 "Introduce Gentoo Linux RID and a job in CI matrix"
The current master branches of CoreCLR and CoreFX native builds on Gentoo Linux. I have compiled the steps to create a Gentoo LXC container on Ubuntu 14 with list of dependencies required for the said repos: https://gist.github.com/jasonwilliams200OK/1a2e2c0e904ffa95faf6333fcd88d9b8.

Please assign an RID for Gentoo Linux and add CI job to continuously monitor its build status.

Thanks! :)

[2016-06-06 20:22] CIPop opened #9189 "Socket.Connect fails for connection-less and single IP-address remote endpoints on Unix"
Ref: #9137, #4968

[System.Net.Sockets.Tests.UdpClientTest.Connect_Success (from (empty))](http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/1814/testReport/junit/System.Net.Sockets.Tests/UdpClientTest/Connect_Success/)

[code]

[System.Net.Sockets.Tests.UdpClientTest.ConnectAsync_Success (from (empty))](http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/mast

[2016-06-06 20:43] mikem8361 commented on #9182
@gregg-miskelly, @caslan do you guys think this is the runtime or the VS support?

[2016-06-06 20:59] gregg-miskelly commented on #9182
This error message is coming from the CLR:

    <HRESULT NumericValue="0x80131c3c">
      <SymbolicName>CORDBG_E_DEBUG_COMPONENT_MISSING</SymbolicName>
      <Message>"A debug component is not installed."</Message>
      <Comment>A debug component is not installed</Comment>
    </HRESULT>

[2016-06-06 21:03] gregg-miskelly commented on #9182
@emailtowalter Two questions:

1. What are you doing to debug them? (ex: Hit F5 on a project.json-based project, Manually try and launch the exe, attach to the process. etc).
2. If you look at the files next to the app, do you see a mscordaccore.dll and a mscordbi.dll?

[2016-06-06 21:04] MattGal opened #9192 "System.ServiceProcess.ServiceController tests fail for Debug configuration due to System.ServiceProcess.ServiceController.TestNativeService.exe linking to debug dll"
On machines without VS 2015 on them (the Jenkins CI machines do have this), there is no MSVCP140D.dll.   As a result, any test using System.ServiceProcess.ServiceController.TestNativeService.exe will fail on such a machine.

Debug redist versions of this DLL are not available publicly in MSI format, so I think we should either:

- Statically link to MSVCP140D when building this test executable so

[2016-06-06 21:13] emailtowalter commented on #9182
Cannot do it now. Later today. Thanks, guys for for quick action .

[2016-06-06 21:37] mellinoe commented on #5474
We've added support for an initial set of "Unsafe" operations in RTM in #7966 . If anyone has some extra operations they think should be added, I encourage them to open a new issue with more specific details.

[2016-06-06 21:37] #5474 closed

[2016-06-06 21:47] ianhays commented on #7433
When we get a full temporary path we call Path.GetfullPath on it, so subsequent GetFullPath calls likely won't change the case further. It is the shortening of the path that is causing issue. I'd guess this is a bug in WinNano's implementation of GetShortPathName or GetLongPathNameW, but I'll have to set up a WinNano machine to figure out for sure.

[2016-06-06 21:47] niemyjski commented on #4507
Can this get reopened. I've been trying to get our sample console to work on osx as it does on windows and I've been having a heck of a time.

https://github.com/exceptionless/Exceptionless.Net/tree/master/src/Samples/Exceptionless.SampleConsole

SetCursorPosition doesn't seem to work at all and among other things the experience isn't even the same.

On a side note, I can't even get our app to dis

[2016-06-06 21:53] ericeil commented on #9124
It looks like the error comes from the underlying native WinHttp implementation.  I get the same `ERROR_INVALID_OPERATION` code when I use the sample native code from the [WinHttpQueryAuthSchemes docs](https://msdn.microsoft.com/en-us/library/windows/desktop/aa384100(v=vs.85).aspx).

[2016-06-06 21:53] chcosta commented on #8482
I'll take a look

[2016-06-06 21:54] ejsmith commented on #4507
Just tried a very simple test on OSX and setting console position and clearing the console doesn't seem to work.

[code]

[2016-06-06 22:04] stephentoub commented on #4507
How are you running this? "dotnet run"?

[2016-06-06 22:05] bryanmacfarlane commented on #9124
it works with our previous windows agent using .net desktop.  So at a minimum, a compat, porting blocker

[2016-06-06 22:11] ejsmith commented on #4507
Yes

[2016-06-06 22:17] stephentoub commented on #4507
And what happens if you instead use "dotnet publish" and then invoke the published app?

[2016-06-06 22:21] ejsmith commented on #4507
Yep, that seems to work.

[2016-06-06 22:21] ejsmith commented on #4507
So I guess there is some sort of bug with the way dotnet run is executing the app, eh?

[2016-06-06 22:33] ljw1004 opened #9197 "System.Reflection.Metadata brings in erroneous (and unremovable) NuGet references to .NETFramework app"
__REPRO:__

1. New>C#>ConsoleApplication (normal one, not .NETCore)
2. Add a reference to System.Reflection.Metadata, latest stable 1.2.0
3. Attempt to upgrade any of the NuGet packages

__WHAT I SEE:__

In step 2 it's added a whole bunch of nugets that shouldn't have been added since they're already part of the .NETFramework - System.Collections, System.Globalization, System.Runtime, System.Threa

[2016-06-06 22:35] ljw1004 commented on #9197
Oh. I guess this doesn't repro with the latest pre-release version 1.3.0-rc2-24027. So you must have already fixed it. And I just have to wait until the fix gets stable.

[2016-06-06 22:35] #9197 closed

[2016-06-06 22:37] ianhays commented on #8376
Nice thing about a ArrayPool overload (like in the files linked) is that is would be useful in other scenarios, not just when the bufferSize < 128.

The problem with that would be that StreamWriter is in mscorlib which can not take a dependency on System.Buffers, so if anything it would have to take two ref arrays.

[2016-06-06 22:38] Priya91 opened #9198 "Marshal.ZeroFreeGlobalAllocUnicode fails with entrypoint not found"
The ```Marshal.ZeroFreeGlobalAllocUnicode``` calls in ```RtlZeroMemory``` in ```kernel32.dll```, and this throws entry point not found error in Windows Nano Server 2016. ```kernel32.dll``` is not available in onecore profile except as a forwarder.

[code]

[2016-06-06 22:39] GSPP commented on #8376
Why does System.Buffers have to be separate? Is it so big? Maybe just move it into mscorlib. There's lots of IO stuff in mscorlib that wants to take advantage.

[2016-06-06 22:42] stephentoub commented on #4507
Console.Clear(), Console.SetCursorPosition(), etc. on unix work by writing ANSI escape codes to stdout.  If stdout has been redirected, these become nops, e.g.
https://github.com/dotnet/corefx/blob/master/src/System.Console/src/System/ConsolePal.Unix.cs#L217
https://github.com/dotnet/corefx/blob/master/src/System.Console/src/System/ConsolePal.Unix.cs#L204

IIRC, "dotnet run" launches the app as a

[2016-06-06 22:55] brthor commented on #4507
@eerhardt Recently changed `dotnet-run` to no longer use explicit Stdout/Stderr redirection and we rely on the default behavior of the process api to forward it appropriately.

[code]

This is the ProcessStartInfo which is used to execute the command, `RedirectStandardOutput` and `RedirectStandardError` are no longer used.

@ejsmith Can you show the output of `dotnet --info` ?

[2016-06-06 23:27] JeremyKuhne commented on #7433
It is also possible/likely that this has to do with how the TEMP environment variable is set. If it isn't canonical that could impact what we get back- the expansion of 8.3 has to actually get the "real" file name, the [GetTempPath ](https://msdn.microsoft.com/en-us/library/windows/desktop/aa364992(v=vs.85).aspx)() function is simply an environment variable getter.

GetFullPathName() does not cano

[2016-06-06 23:29] ericeil commented on #9124
Agreed; I also verified that this works on the full CLR.  I don't think the full CLR uses WinHttp, which would explain the difference.

I experimented a bit with the native `WinHttpQueryAuthSchemes` sample, but I was unable to find anything I could do at the native level to make this work.  @davidsh may have some ideas here, but to me this looks like it's just a limitation of WinHttp, which is goi

[2016-06-06 23:34] aplex commented on #9171
Looks like I managed to hack around this. Turns out, it was not enough for System.Security.Cryptography.Native.dylib to have rpath dependencies.

libssl.1.0.0.dylib also had a hard-coded full path dependency to /usr/local/Cellar/openssl/.../libcrypto.1.0.0.dylib

I took libssl and libcrypto from openssl installed with Hombrew.

To get this working, i replaced this libcrypto dependency with rpath i

[2016-06-06 23:41] joshfree commented on #9198
@botaberg @sergiy-k

[2016-06-06 23:43] joshfree commented on #9198
@Priya91 even though this is technically owned by another team, feel free to start looking into a potential fix.

[2016-06-06 23:58] CIPop commented on #9189
Same errors within the SocketPerformance tests for Unix:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu14.04_debug_prtest/14/

System.Net.Sockets.Performance.Tests.SocketPerformanceAsyncTests.SocketPerformance_SingleSocketClientAsync_LocalHostServerAsync (from (empty))

[code]

System.Net.Sockets.Performance.Tests.SocketPerformanceAsyncTests.SocketPerformance_Mult

[2016-06-07 00:09] piotrpMSFT opened #9201 "HttpClient PostAsync - The server returned an invalid or unrecognized response"
EDITED:

If I run this application on a Windows computer everything works out fine. When I run this application on a Linux (CentOS) computer I get the following exception:

I've tried this code on a Windows machine and it is working perfectly. I've also tried to make a SOAP call on CentOS console trough curl and it also works fine (I get the response). In the web application I keep getting the exc

[2016-06-07 00:18] yizhang82 commented on #9198
This is the failing CI: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/outerloop_winnano16_debug_tst/14/#showFailuresLink

[2016-06-07 00:21] conniey opened #9202 "string.IndexOf not giving correct index"
## Repro Steps
1. Copy code below
2. Run code

[code]
## Expected

`index` is equal to 0.
## Actual

An InvalidOperationException is thrown because `index` is equal to 1.

[2016-06-07 00:24] davidsh commented on #9201
cc: @stephentoub

[2016-06-07 00:25] CIPop commented on #9160
@hongdai I've tried to repro this with no extra settings and I'm not getting the following on .Net 4.5.2 Desktop:

* Using `DefaultNetworkCredentials` the server reports `REDMOND\***` was authenticated using `NTLM`.
* Using my credentials the server reports that the target SPN is incorrect:

[code]

I've tried with both default SPN I've found already set for my machine using:
`setspn -l <hostname>

[2016-06-07 00:34] danmosemsft commented on #9039
Great question. First, our goal will be to remove PlatformNoSupportedException in the BCL as far as possible - even for example for use of ACL's on Unix we could emulate them to some extent or possibly no-op in some scenarios. There will still be API's that are truly platform specific and we're discussing how we could best help you detect that you're hitting these. Roslyn analyzers are one possibi

[2016-06-07 00:37] stephentoub commented on #9201
@RicardoRazz, do you have a standalone repro I can try? Or at least a url I can try hitting with your snippet? We have a bunch of tests passing on CentOS using PostAsync, so I suspect this is something specific to the response the server is sending back, and in particular it may be sending a header we're having trouble parsing. Alternatively, can you share the full response, including headers, you

[2016-06-07 00:43] hongdai commented on #9160
You need to run the service under machine context so that the target SPN is correct. For example, you can use LocalSystem. PsExec.exe probably the easiest way to do it:  PsExec.exe -i -s

[2016-06-07 00:44] ellismg commented on #9202
Two questions:

1) What Platform are you hitting this on?
2) Is it possible for you to replace the characters in sentence with their Unicode codes `\uXXXX` so it's clear exactly what's going into that string?

[2016-06-07 00:55] conniey commented on #9202
1. I tried it on .NET Frameworks: 4.0, 4.5.2 and 4.6
2. I updated the example.

[2016-06-07 01:10] lt72 commented on #9180
+1 for removing the assert, we should not assert for legal runtime errors.
I also see the same issue in CoreCLR repo, file process.cpp, line 888.

[2016-06-07 01:13] stephentoub commented on #9180
This was basically just copied from there.

[2016-06-07 01:23] ellismg opened #9204 "CentOS 7 outerloop runs failing [cmake is not found]"
After upgrading to build everything on the target machines the CentOS outerloop runs are failing with an error saying cmake is not found.

Looking at how the labels are set up in Jenkins, it looks like the outerloop runs use a different base image id than the inner loop ones. I suppose CMake is not present on this newer image?

[2016-06-07 01:24] ellismg commented on #9204
@Priya91 Do you know why these images are split out the way they are?  Also why don't the images patch the label names?

[2016-06-07 01:26] RicardoRazz commented on #9201
Hi @stephentoub. First of all thank you very much for your reply. At the moment I do not have an avaliable URL but here's my curl example:

This is the command I sent in:

Response sucessfully received (hello there):

`
<?xml version="1.0" encoding="UTF-8"?>
<SOAP-ENV:Envelope SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelop

[2016-06-07 01:44] stephentoub commented on #9201
I believe the problem is here:
[code]
Our unix implementation is throwing at the extra space between the header name and the colon.

[2016-06-07 01:52] stephentoub commented on #9201
@RicardoRazz, what's generating these headers?  Is it your code or is it from some common server?

I may be interpreting it incorrectly, but the RFC at https://tools.ietf.org/html/rfc7230 states:
[code]
which suggests that whitespace between the field name and the colon is not allowed, since it calls out optional space both before and after the value but not after the field name.

@davidsh, it see

[2016-06-07 01:55] stephentoub commented on #9201
cc: @justinvp

[2016-06-07 02:37] davidsh commented on #9201
@stephentoub

Yes, you should be more lenient.  The RFC is useful.  And in general, the guiding principle in networking is "be liberal in what you read...be strict in what you write".

Both WinHTTP and Wininet more so, have to work with many web servers that have "issues".  So, over time, a lenient policy was developed for some things like certain whitespace between end of header name and colon.

[2016-06-07 02:43] dsgouda opened #9207 "[release/1.0.0] Perf test execution failing in release branch"
The release branch is now pointing to buildtools version 00503-04 which in turn references xunit-performance package version "v1.0.0-alpha-build0035" while individual project.jsons under release branch all point to "v1.0.0-alpha-build0033".
This results in an error here https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/PerfTesting.targets#L58 , that is

[2016-06-07 03:35] leecow commented on #8042
Captured in rel notes working doc

[2016-06-07 03:35] #8042 closed

[2016-06-07 03:36] leecow commented on #6767
Captured in release note working doc

[2016-06-07 03:36] #6767 closed

[2016-06-07 05:46] mellinoe opened #9212 "Manual_CertificateSentMatchesCertificateReceived_Success failed on Windows CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/2007/consoleFull#-4102119967b4762c-faac-47f0-8268-9f6835e4535e

[code]

[2016-06-07 06:08] sravan1022 opened #9213 "Sample Application on HttpClient with .NET core"
I want to send a Http request to some website(URL) and get a response(Basically i need to use GetAsync and PutAsync methods for this) and i need to do with **.NET Core** in vs2015. Since i am new to .NET Core, i am unable to do it on my own and i didn't find good useful links that address my need. Can anyone set me on the path by providing sample applications or useful links ?Thanks in advance.
P.

[2016-06-07 06:10] bluemmc commented on #5165
@AArnott Any progress?

[2016-06-07 06:31] sravan1022 commented on #8839
@saurabh500 I tried my previous program by changing SqlClient version to "4.1.0-rc2-24027" but the error is same with more warnings.

I even tried your program but there is an sql exception hnadler error.Check it once.

[2016-06-07 06:46] antiufo commented on #9213
Use System.Net.Http.HttpClient in System.Net.Http instead.

[2016-06-07 08:11] yizhang82 commented on #9198
It looks like x64 version of System.Private.CoreLib.dll is coming from dlab-DDVSOWINAGE002 and it is not built correctly. ProjectKRel versions are correct. Some post-processing is needed to rewrite kernel32!RtlZeroMemory to ntdll!RtlZeroMemory, and for whatever reason dlab-DDVSOWINAGE002 is skipping that.

[2016-06-07 11:03] RicardoRazz commented on #9201
@stephentoub you were right it was the space on

This was defined on my API PHP main page (service.php).

Thank you very much for this. I was able to run my MVC project on CentOS as so far it is working great.

[2016-06-07 12:01] emailtowalter commented on #9182
@gregg-miskelly : 1) it is normal debug. you are right. F5 on project.json based project. I do not have other ones. 2) Assuming you meant the debug folder. There is no system DLL like, system. or microsoft. there at all. It is different if I publish to the app to a publish folder.

Does it help?

[2016-06-07 12:26] stephentoub commented on #8983
The FileSystemWatcher tests just seg faulted again on OSX here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/1924/consoleText

[2016-06-07 12:29] jchannon commented on #2089
A couple of years ago the company I worked for took the Novell (Mono) LDAP library source code so our application could talk to Active Directory, OpenLDAP and Oracle systems, and we added support for paged controls and updated some TLS fixes.  We did this as we wanted to run on Linux.  A PR with our changes was sent to the owners.  As we now want to get onto CoreCLR that library needed converting

[2016-06-07 13:21] DmitriySokhach commented on #649
In my case I do not actually need an operator. I would like to write simple _switch_ for every case I get. But now I end up with multi-chain if...else if... else if... else...if...etc.
I wish to be able have 1 line conversion to the simple string with OrdinalIgnoreCase comparison behavior.
So I would probably make own class with compare operator override and replace all those non maintainable chai

[2016-06-07 13:23] niemyjski commented on #4507
[code]

[2016-06-07 13:23] joshfree commented on #8983
@sergiy-k @lt72

[2016-06-07 13:33] eerhardt commented on #4507
Unfortunately [the change to `dotnet run` to not use Stdout/Stderr redirection](https://github.com/dotnet/cli/pull/3013) didn't make it into `preview1`, but it is available in the latest `preview2` versions.

[2016-06-07 13:53] joshfree commented on #9182
Can you clarify this statement?  how is it different?  does it succeed or is there a different error?

[2016-06-07 14:03] yfakariya opened #9220 "DispatchProxy should emit interface properties and events metadata"
Currently, `DispatchProxyGenerator` only emits accessor methods of the interface type, does not emit any properties and/or events. Thus, getting properties and/or events via reflection fails as following:
[code]
In this point, it is natural to think that `props` has 1 property (string Bar), but it is actually an empty array even though `var bar = proxy.Bar` and `proxy.Bar = "something"` can be com

[2016-06-07 14:05] davidsh commented on #9213
cc: @himadrisarkar

[2016-06-07 14:07] davidsh commented on #9212
cc: @stephentoub These are the new client certificate tests that you added.

[2016-06-07 14:09] stephentoub commented on #9212
And they've been passing, on both Windows and Unix.  We shouldn't rule out a product bug.

[2016-06-07 14:52] ianhays commented on #8376
I vaguely recall some discussion around that when @stephentoub was applying System.Buffers to existing libraries. It's not so much a matter of size as it is a matter of design principle. Mscorlib contains only the 'core' libraries, particularly those used in the runtime. IMO System.Buffers, being platform-agnostic, makes more sense as a standalone assembly in CoreFX - though I agree with you that

[2016-06-07 15:22] niemyjski commented on #4507
Awesome, any idea when that will be available? @dotnetconf???

[2016-06-07 15:29] dagood commented on #9156
To stop the merge conflicts in the short term, I mentioned a workaround earlier: https://github.com/dotnet/corefx/pull/9028#issuecomment-223096061

When the dependency split came up, we talked about having these updates combined, but one issue is that we would want them separated out if one isn't working. But if that's the rare case, maybe we could handle that manually and make the automation comb

[2016-06-07 15:30] eerhardt commented on #4507
`preview1` hasn't officially released yet. If you are interested in taking pre-release versions, you can get the latest here:  https://github.com/dotnet/cli#installers-and-binaries.  Note that the `preview2` version of CLI uses pre-release versions of the .NET Core run time that are post-`RC2` (the packages are currently labeled `RC3`.

If you'd like to wait until it is officially released, see ht

[2016-06-07 15:35] weshaggard commented on #9156
@dagood How much work do you think it would be to partition all the project.json files? That to me seems a little to brittle. It doesn't seem like it would be too difficult to aggregate the package updates such that we only do an update once or twice a day and that update will essentially pull all the latest versions from the versions repo and ideally submit a PR that contains a commit for each ve

[2016-06-07 15:53] jasonwilliams200OK commented on #9202
I have reduced this issue to:

These work:

[code]

But this doesn't:

[code]

Using dotnet-cli NetCoreApp1.0.

Also tested with online Mono:

Passes: https://ideone.com/8sI3ka
Fails: https://ideone.com/PUSkSv

Also checked that the Roslyn decompiles the same IL for both codes (select IL from top-right dropdown):

Passes: http://tryroslyn.azurewebsites.net/#b:future/f:%3Eil/K4Zwlgdg5gBAygTxAFwKYFs

[2016-06-07 15:59] mmitche commented on #9156
@joshfree What were those updates I was going to make? :D

[2016-06-07 16:03] dagood commented on #9156
@weshaggard Created https://github.com/dotnet/buildtools/issues/779 for partitioning. Maybe it is brittle enough to not be worth the effort. For PR combining, maybe we could change the update dependencies script to search for a PR and close or modify it. Nothing (afaik) tracks opened PRs at the moment.

[2016-06-07 16:14] weshaggard commented on #9156
@dagood Yes I don't think the partitioning is the best idea. For the aggregation I was thinking we might be able to change the triggers for the version updates to only do them at a certain time of day and then when the run the UpdateDependencies script in CoreFx could look for the latest version of all the dependencies it cares about and only submit one PR with all the dependency updates. @eerhard

[2016-06-07 16:15] weshaggard commented on #9156
Or we could just turn the VSTS definitions into time based triggers.

[2016-06-07 16:19] dagood commented on #9156
A nice way to do that might be for Maestro to handle multiple `path`s, then the `maestroDelay` would be across all those paths. Then we could also reduce those 6 subscriptions to 2.

[2016-06-07 16:29] davidsh commented on #9124
@ericeil Please send me the C++ WinHTTP repro you have.  I can open up a bug with the WinHTTP team.

[2016-06-07 16:37] ianhays opened #9222 "Consider File.WriteAll(Stream) method"
I frequently find myself wanting to dump all of the data from a stream to a new file. Currently, the best way to do that is:

[code]

while these are fine, I'd really like to be able to do:
[code]

where `WriteAllFromStream` reads from `streamIWantToDump` until its end is reached.

[2016-06-07 16:43] #6931 closed

[2016-06-07 16:47] bartonjs commented on #8979
I had this locally clean over the weekend, merging with the newest package numbers and rebuilding to make sure it's still clean.

[2016-06-07 16:50] jhendrixMSFT commented on #9156
@mmitche I believe the change @joshfree is talking about is switching Jenkins to use the official build workflow (i.e. clean/sync/build scripts).

[2016-06-07 16:59] bartonjs commented on #9171
@aplex Cool, I like it when things work the way they're supposed to :).

It seems to me that we're happy here, with the only actionable thing being to make sure we have documentation... but I wanted to be sure that you agreed with that state of affairs.

[2016-06-07 17:11] brianrob commented on #9118
It is possible to run the benchmarks using xunit as opposed to xunit-performance.  The main differences are that (a) no performance metrics will be collected and (b) the test will only run 1 iteration.

[2016-06-07 17:14] mmitche commented on #9156
@jhendrixMSFT @joshfree I thought this was already changed? I thought @ellismg did this late last week?

[2016-06-07 17:19] #9201 closed

[2016-06-07 17:22] eerhardt commented on #9156
It wouldn't be a lot of work. We already have an Azure Web Job running, we could just use that to support time based. However, I don't have time to implement it this week - but that isn't stopping someone else from implementing it.  The code is in the versions repo - https://github.com/dotnet/versions/tree/master/Maestro/src.

I have been thinking about changing the structure of the subscriptions.

[2016-06-07 17:28] #9198 closed

[2016-06-07 17:38] mellinoe commented on #9213
Hi @sravan1022 , have you downloaded the SDK from here ("Visual Studio Users")? https://www.microsoft.com/net/core#windows

If so, the best way to start would just be to create a new project with the  **Console Application (.NET Core)** template, which should be installed from the above link. Once the project is created and opened, you should be able to use `HttpClient`.

[2016-06-07 17:40] ianhays opened #9225 "System.Security.AccessControl Unix implementation"
It may be worth looking into providing an implementation of AccessControl on Unix. It would at least be nice to have some control over basic RWX permissions for user/group/all, or we could go deeper with getfacl and setfacl. Most of the things on Windows would likely have to be left out as it would be too far a stretch to map them to anything on Unix, but it's worth considering regardless.

discus

[2016-06-07 18:02] svick commented on #9222
Did you mean this?

[code]

[2016-06-07 18:05] ianhays commented on #9222
Yes, yes I did. Thanks, edited.

[2016-06-07 18:12] yetanotherchris commented on #5625
For those still waiting for RTM, it's very easy to put a temporary fix in :)

    public class DescriptionAttribute : Attribute
    {
        public string Description { get; set; }

        public DescriptionAttribute(string description)
        {
            Description = description;
        }
    }

[2016-06-07 18:35] mglodack opened #9227 "HttpRequestException StatusCode property"
Is it possible to add HttpStatusCode to the `HttpRequestException` class?

It seems like we have the ability to add the status code [here](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpResponseMessage.cs#L161), but it's added to the exception message instead of an extra property on the exception.

[2016-06-07 18:39] davidsh opened #9228 "Cancelling Http requests can result in "The handle is invalid" or other WinHTTP state errors"
Http requests can be cancelled in various ways using a cancellation token or even a timeout. Sometimes the CI tests timeout contacting the Azure test server due to network congestion, so this results in the requests getting cancelled as well by the HttpClient.Timeout property.

When Http requests are cancelled in WinHttpHandler, the WinHTTP handle is closed. This cancels any outstanding async oper

[2016-06-07 18:46] davidsh commented on #9228
cc: @stephentoub

[2016-06-07 18:50] davidsh commented on #9227
Not all HttpRequestException's have a valid HTTP response to have a status code. That particular function, `EnsureSuccessStatusCode` is the one exception to that rule. Normally, HttpRequestException is returned when there are errors in getting any HTTP response at all. Hence, there is usually not a status code since there is no response message returned.

We can't add any new APIs to the current 4

[2016-06-07 18:51] GSPP commented on #8376
One could argue that IO should not be in mscorlib. It could be reduced to be the "interface to the runtime". Not sure if that's achievable...

[2016-06-07 19:27] davidsh commented on #8945
This is a bug in native WinHTTP. I opened up a bug with the WinHTTP team. Bug number 7814885

[2016-06-07 19:32] mglodack commented on #9227
@davidsh I'm building a client application that is consuming an API and I want to be able to handle failed requests.

I know that the API will return specific status codes like `401 Unauthorized` and I would like to be able to interpret that status code and throw my own exception types.

For example:

[code]

I could declare a HttpResponseMessage outside the `try/catch` but I was really hoping the

[2016-06-07 19:41] joshfree commented on #9124
Tagging this as `release notes` as we should at a minimum include information on this scenario in the 1.0 Known Issues.

[2016-06-07 19:48] pranavkm opened #9231 "Version mismatch in System.Data.SqlClient.sni packages"
[code]

cc @joshfree

[2016-06-07 19:53] ericstj opened #9232 "Deprecate dnxcore50.app supports clause and add netcoreapp1.0.app"
Folks still want to use gaurdrails with the new monikers.  Let's give them an option to do so.

@Pilchie @rchande we may want PCL to update here too.

[2016-06-07 19:53] ericstj commented on #9232
/cc @joelverhagen

[2016-06-07 19:55] joshfree commented on #9231
@jhendrixMSFT @weshaggard PTAL

[2016-06-07 20:11] weshaggard commented on #9231
@pranavkm these packages versions don't match by design as we build them from diffeent repo's (one in corefx and the other RID specific ones in TFS). Is this version mismatch causing some issue for you?

[2016-06-07 20:28] #9182 closed

[2016-06-07 20:30] emailtowalter commented on #9182
Publishing works. There are many more system DLL in the publish folder.

[2016-06-07 20:43] aplex commented on #9171
Yep, I thinks this can be closed, and some documentation on how to produce a stand-alone app on OS X would be useful. It's not really that hard to add that reference patching to a build script, but it was quite time consuming to understand what needs to be done.

Maybe in some future version of dotnet there could be an option to bundle openssl with the app, with all those dependency copying and pa

[2016-06-07 20:48] ellismg commented on #9202
Where did this test case come from?  I'm not surprised that doing a linguistic IndexOf with an unpaired surrogate causes weirdness.  If I had to guess, the underlying collation algorithm is just ignoring the unpaired surrogate in both the pattern and the target.  I would expect this behavior could also differ between Windows and Unix as we use different collation implementations on these platforms

[2016-06-07 20:48] dotnetchris commented on #649
@DmitriySokhach that sounds like pattern matching. https://github.com/YangFan789/PatternMatchingExtension might be relevant to you

[2016-06-07 21:10] conniey commented on #9202
@ellismg I found this while migrating Lucene.NET libraries to .NET Core. One of their libraries uses icu4c. I migrated that dependency to .NET Core but the BreakIterator outputs a string rather than a start and end index that it did before, so I was trying to get the start and end index of that token using string.IndexOf.

[Test case](https://github.com/conniey/lucenenet/blob/conniey/updateIcu/src

[2016-06-07 21:21] bryanmacfarlane commented on #9124
In parallel, we're figuring out what we can do from the server side

[2016-06-07 21:24] aplex opened #9234 "NTLM credentials not sent by client when there are multiple WWW-Authenticate headers"
We have a strange case after migrating from RC1 to RC2. We use HttpClient with default windows credentials authentication. The code works fine with one server, but does not work with another server. In the second case client just receives 401 error and does not start NTLM handshake.

The only difference that I spotted was that second server sends two WWW-Authenticate headers (one with basic, anoth

[2016-06-07 21:42] stephentoub opened #9235 "Add sample code to release notes for a static Socket.ConnectAsync(string host, int port)"

[2016-06-07 21:46] davidsh commented on #9234
cc: @stephentoub

Could be related to #9124.

[2016-06-07 21:49] joshfree commented on #9231
@weshaggard I think this is an FYI that these components don't have expected matching versions.  They should after the -rc3 version is dropped.

Is there any additional work required here?

[2016-06-07 21:51] pranavkm commented on #9231
It doesn't affect our builds. We saw something similar yesterday - https://github.com/dotnet/wcf/issues/1258 - and @ericstj fixed it. I wasn't sure if this was something similar.

[2016-06-07 22:10] #8979 closed

[2016-06-07 22:14] davidsh commented on #9234
You code is not turning on default credentials.  Is that a typo?

[code]

[2016-06-07 22:18] #9192 closed

[2016-06-07 22:20] ericstj commented on #9231
WCF was different.  It depended on non-existent packages.

[2016-06-07 22:22] pranavkm commented on #9231
Fair enough. Sorry for the false alarm.

[2016-06-07 22:22] #9231 closed

[2016-06-07 22:39] aplex commented on #9234
yep, that was a typo. In reality the code is a little bigger - with some user agent headers, and other stuff.

[2016-06-07 22:57] ianhays opened #9237 "Discuss adding System.IO.Compression static shortcuts"
# Problem

I'd like to see some better support for compressing data in different forms quickly. Say you have a string right now - to compress it you have to do something like this:

[code]
# Proposal

It would be nice if we could compress or decompress a string more intuitively, like so:
[code]

This would be somewhat similar to what we did in FileSystem by having`File.WriteAll*` operations to cir

[2016-06-07 23:02] #4968 closed

[2016-06-07 23:05] bartonjs commented on #9070
@vcsjones Cool; so it sounds like everything here's happy, and that you found a way to do a workaround for net461.  Is there anything else that you think is missing. or can we close the issue?

[2016-06-07 23:06] bartonjs commented on #9070
(I'm glad I didn't know the workaround at the time, or I might not have made it "just work" :))

[2016-06-07 23:27] vcsjones commented on #9070
No, I think this is closable. Thanks for putting me in the right direction.

Making it "just work" is still a valid case; if a key's usage is `All Usages`, CNG will still present it as ECDH, even though it's perfectly valid for using as a ECDSA key.

It's a bit unfortunate the CNG forces a key to have an algorithm when a key can be used for more than one algorithm.

[2016-06-07 23:27] #9070 closed

[2016-06-07 23:51] aplex commented on #9234
I see this is scheduled for 1.1.0. Is there any workaround available? Maybe there is some place where I could intercept the request and remove the second WWW-Authenticate header before framework handles 401 response?

[2016-06-08 00:15] stephentoub opened #9240 "Add note about Unix HTTP header handling to release notes"
To add to release notes:

### HttpClient handler header parsing strictness on Linux and OS X

HttpClient response header parsing logic on Linux and on OS X fairly strictly follows the RFC.  Certain "invalid" headers, such as with spaces between the header name and the colon, might be accepted by other browsers or even by HttpClient on Windows, but could be rejected when run on Linux or on OS X.

[2016-06-08 00:18] bartonjs commented on #9070
Yeah, I agree on all counts.  Just that if I'd known there was a workaround I might've decided something else was more important to fix that day :)

[2016-06-08 00:30] CIPop commented on #9160
Thanks @hongdai. I am now able to repro. I am able to authenticate using Kerberos from a Desktop client to either a Desktop or a CoreFX server.
As you pointed out, the failure is from a CoreFX client to any implementation of the server.

[2016-06-08 00:38] joshfree commented on #9207
Fixed by https://github.com/dotnet/corefx/commit/a25e2df6e4c945e6bb502d049f5f4441b9c119c1

[2016-06-08 00:38] #9207 closed

[2016-06-08 00:40] joshfree commented on #9168
This should now be fixed with https://github.com/dotnet/coreclr/pull/5580

[2016-06-08 00:40] CIPop commented on #3635
Limiting this bug to track only enabling the perf tests.
@himadrisarkar @stephentoub @ericeil We should track adding back APIs and their corresponding tests separately for vNext. Reverting part of the changes in #7196 should be included in that work.

[2016-06-08 00:40] #3635 closed

[2016-06-08 01:10] joshfree commented on #8983
@adityamandaleeka could you help investigate this OS X test running under stress?  We're not able to reproduce it yet - but it has failed in CI twice now.  Thank you

[2016-06-08 04:30] bryanar opened #9242 "memory leak from the stress infra calling async tests without waiting for them to complete"
We have a collection of core dumps from stress mixes that fail because of System.OutOfMemoryException. We suspect that these may be test issues but need additional support in confirming this.

The list of zip files below contain stress test executables that can be run in Linux as they are. If you execute them they will likely inevitably fail for similar reasons. There is a core dump within the 'ex

[2016-06-08 04:35] sravan1022 commented on #9213
Hi,
@mellinoe It's my fault that i should not updated the source of the Package Sources in Package manager Settings. Now i am successfully able to use System.net.Http. The problem now is, i added Microsoft.AspNet.WebApi.Client since it adds support for formatting and content negotiation to system.Net.http but this dependency does not support framework .NETCoreApp,version=v1.0
What should i do now

[2016-06-08 04:54] mellinoe commented on #9213
@sravan1022 Sorry, I'm not familiar with this component (Microsoft.AspNet.WebApi.Client). But it's possible that you're actually trying to use a component that doesn't work on .NET Core. You will probably have better luck asking the folks over in https://github.com/aspnet/home, they will know more about that component and could probably point you to a version that works with .NET Core (or a replac

[2016-06-08 05:06] sravan1022 commented on #9213
thanks for the help !!
I am closing this issue here and opening in asp.net core
Track it here
The dependency microsoft.AspNet.WebApi.Client does not support framework .NETCoreApp, Version=v1.0 #1558

[2016-06-08 05:06] #9213 closed

[2016-06-08 06:29] Priya91 commented on #7905
this is fixed.

[2016-06-08 06:29] #7905 closed

[2016-06-08 06:29] Priya91 commented on #9168
builds are passing, closing.

[2016-06-08 06:30] #9168 closed

[2016-06-08 06:41] Priya91 opened #9244 "[release/1.0.0] HttpClientHandler tests failed with SSL Connect error on Debian and OSX"
In both master and release, hence tagging this issue for RTM, pending investigation.

[code]

Test runs here
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/debian8.4_debug/1/

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/debian8.4_release/1/

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/osx_debug/78/

http://dotnet-ci.cloudap

[2016-06-08 08:36] roji opened #9245 "Cancelling an async SqlClient operation throws SqlException, not TaskCanceledException"
When using a cancellation token to cancel an SqlClient async operation, an SqlException is thrown rather than TaskCanceledException. This seems like problematic behavior, here's some analysis.

On the problematic side, standard async APIs generally throw TaskCanceledException, and SqlClient is doing something different and therefore unexpected. Also, as a result, canceled SqlClient tasks don't hav

[2016-06-08 08:37] jpsingleton opened #9246 "Ping doesn't work out-of-the-box on OS X"
I've been doing some cross platform testing on RC2, and Ping doesn't work out-of-the-box on OS X.

This seems to be fixed in https://github.com/dotnet/corefx/issues/4762 but there is still an [old package on NuGet](https://www.nuget.org/packages/System.Net.Utilities). So with the default feeds you get `System.Net.Utilities` version `4.0.0-beta-23516` from November and `project.json` contains this:

[2016-06-08 08:46] mellinoe commented on #9246
@jpsingleton We've renamed this package to [System.Net.Ping](https://www.nuget.org/packages/System.Net.Ping/). Could you try to use that package instead, and see if it works for you?

[2016-06-08 08:53] jpsingleton commented on #9246
That seems to still work on Windows, I'll test on Mac.

BTW https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Net.Utilities gave me an exception at runtime on Windows. `Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Net.Utilities`.

[2016-06-08 09:03] jpsingleton commented on #9246
Yes that works on OS X. Thanks.

Visual Studio still prompts to install the old package when you try to use `Ping` though. No indication of the new version. Might be worth updating the docs on NuGet for `System.Net.Utilities`?

The problem is that the legacy package works fine on Windows and the issue only occurs when deploying to Unix. It would be nice if this broke earlier. Perhaps if the old pa

[2016-06-08 09:03] #9246 closed

[2016-06-08 12:37] joshfree commented on #9170
closing as we're now onto specific 1-off test failures

[2016-06-08 12:37] #9170 closed

[2016-06-08 12:40] joshfree opened #9247 "[release/1.0.0] Numerics StackCalc returning unexpected result on Win10 release"
Please take a look

System.Numerics.Tests.divremTest.RunDivRemTests

[code]

[2016-06-08 12:43] joshfree opened #9248 "X509Certificates.Tests.X509FilesystemTests.X509Store_AddAfterDispose"
This appears to be a test issue.  Please investigate and confirm.

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/fedora23_release/lastCompletedBuild/testReport/System.Security.Cryptography.X509Certificates.Tests/X509FilesystemTests/X509Store_AddAfterDispose/

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/fedora23_debug/lastCompletedBuild/testReport/S

[2016-06-08 15:29] bartonjs commented on #9248
@ellismg This seems to have been the first run of Fedora 23... did we do anything different on this configuration?  This directory was created fresh by the test, and its uid is not the value of GetEUid().

https://github.com/dotnet/corefx/blob/release/1.0.0/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/DirectoryBasedStoreProvider.cs#L125-L129

[2016-06-08 15:38] joshfree commented on #9248
just a clarification it's the first run since the jenkins server rebooted

[2016-06-08 15:58] joshfree opened #9249 "VSO build should fail if package upload also fails"
Currently all the new build pipeline results are "green" even though all builds have failed to publish since MyGet.org is returning HTTP 500.

The pipeline should actually catch this and not report success.

[2016-06-08 16:04] bartonjs commented on #9248
Although.. only ONE X509FilesystemTests test failing seems weird.  Every one of them uses a helper which does
* Guid.NewGuid() to pick a directory
* Delete that directory if it exists, though it's a GUID, so it shouldn't
* Run the test (which will likely create the directory)
* Delete that directory if it exists, to leave the machine in the same state we found it.

So I'd really expect all of them

[2016-06-08 16:08] dagood commented on #9249
I see green in dotnetmissioncontrol but on the VSTS dashboard the builds show failed. To confirm, it's just dotnetmissioncontrol that needs to change, and maybe some linkage? It doesn't show the publish builds at all right now, so I guess those should be added.

[2016-06-08 16:21] #8482 closed

[2016-06-08 16:29] jhendrixMSFT commented on #9249
Correct this is not an issue with the build pipeline, it's mission control.  @ChadNedzlek can you please take a look.

[2016-06-08 16:33] AtsushiKan commented on #6078
cc @weshaggard
cc @nguerrera
cc @mellinoe

Guys, what are your thoughts on this?

<b>Issue</b>

ParameterInfo objects returned by callling <b>PropertyInfo.GetIndexParameters()</b> are reported as not seeing inherited custom attributes.

<b>How to fix this</b>
Defining what custom attributes are attached or even what inheritance means is dodgy because at the metadata level, properties do not have p

[2016-06-08 16:50] tmat commented on #7697
Fixed by #8387

[2016-06-08 16:50] #7697 closed

[2016-06-08 17:01] hoyosjs opened #9252 "[dev/cms_unix] EnvelopedCms Decode different behavior between Framework and Core"
Decode on Framework returns a CryptographicAttributeObjectCollection for unprotected attributes that has a CryptographicAttributeObject for every Oid listed in the encoding, even if it holds no attributes (if it's given an empty set for that oid). However Core won't create an object for the oid if the set is empty. Thus EnvelopedCms.UnprotectedAttributes.Count will return different things on frame

[2016-06-08 17:22] Tratcher opened #9253 "InvalidOperationException: Unknown error '3' from string.Normalize"
CentOS 7
https://github.com/aspnet/Home/issues/1536
[code]
Windows Docker:
[code]

[2016-06-08 17:27] ericeil commented on #9244
I cannot repro this locally.  The test connects to a remote, public, service (https://revoked.grc.com/).  It seems likely that this service was simply having temporary issues when these tests ran.

If this ends up being a common occurrence, we should find a way to make these tests more robust (use a local server, or something).  But for now, I don't think there's anything to do here.

[2016-06-08 17:29] mellinoe commented on #9247
Related: https://github.com/dotnet/corefx/issues/7806

[2016-06-08 17:42] joperezr commented on #9088
After some discussions, I think we'll hold off this change for @maririos work on her new dev workflow since she will touch all of this code eventually.

[2016-06-08 17:42] stephentoub commented on #9244
Yeah, we've been trying to move off of these remote servers to local loopback servers, but it's been a bit slow-going.  In this case, we needed a server capable of HTTP/2.

[2016-06-08 18:35] svick commented on #9237
I think that representing DEFLATE-compressed data as a `string` is a terrible idea (and the same applies to pretty much any other compression). It's just binary data, not characters, treating it as characters is wrong and leads to all kinds of problems.

A good example of such problems is the original code you showed: you're converting `byte[]` to `string` using `Encoding.UTF8.GetString()`. The pr

[2016-06-08 18:39] joperezr commented on #8369
So I noticed in the instructions that there is a small note that does indicate that the Tools need to be installed in order to build C++ projects succesfully. The line reads:

@davidsh do you think that is not very explanatory? would it help if we add a screenshot like the one you provided in this issue?

[2016-06-08 18:42] davidsh commented on #8369
The current docs are not very helpful.  Yes, it would help to clarify them and add a screenshot.

[2016-06-08 18:48] joperezr commented on #8369
ok, thanks! I'll send out a PR soon.

[2016-06-08 18:57] ianhays commented on #9237
A byte[] would likely be better and more inline with similar methods, but I included string as a return value since there [certainly](https://social.msdn.microsoft.com/Forums/en-US/08567b82-f3a3-4887-b6a7-92ae553e9e3f/compress-string-with-gzipstream?forum=winappswithcsharp) [are](http://stackoverflow.com/questions/7343465/compression-decompression-string-with-c-sharp) [people](http://madskristense

[2016-06-08 19:11] mellinoe commented on #7806
I'm not able to reproduce this, unfortunately. I initially assumed it must have something to do with the random numbers being generated in the test. The test class uses a predictable seed value, but the Random instance is static and shared across the test cases. Technically, I think xUnit is free to run tests in whatever order it wants, which could result in unpredictable values being used in diff

[2016-06-08 19:25] dsgouda opened #9257 "Instructions to run perf tests need to be updated"
The instructions provided to run perf tests here https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/performance-tests.md need to be modified now that we have enabled execution of perf tests using dotnet cli.
We also need to remove dependencies mentioned there that are no longer applicable.

[2016-06-08 19:30] CIPop commented on #8369
@joperezr I've followed all instructions. The note is clear but will not help. You need to install the v12 msbuild. That checkbox will install v14 msbuild.

[2016-06-08 19:49] mellinoe commented on #8369
I'm not sure I understand where this requirement is coming from. Can't we just fix whichever project is configured in such a way that it needs MSBuild 12?

[2016-06-08 19:54] AtsushiKan commented on #6078
Another data point: ICustomAttributeProvider.GetCustomAttributes() (implemented by ParameterInfo) disregards the "inherit" argument entirely. MSDN actually documents this (https://msdn.microsoft.com/en-us/library/cwtf69s6(v=vs.110).aspx), along with a recommendation to use Attribute.GetCustomAttributes() as a workaround.

Either way we go, we have a messy api story here.

[2016-06-08 20:00] sepidehMS commented on #6331
@stephentoub I could not repro this. Is this still an issue?

[2016-06-08 20:01] Priya91 opened #9259 "OSX outerloop runs fix break in master"
The OSX machines no longer run tests as admin, setup infra to run the outerloop tests as admin.

[2016-06-08 20:04] ellismg commented on #9166
Now that we are consuming stuff from packages instead of copying stale live bits, this is resolved.

[2016-06-08 20:04] #9166 closed

[2016-06-08 20:05] tarekgh commented on #9253
@joshfree looks the linked issue has some info. I'll take a look.

[2016-06-08 21:06] ericstj opened #9263 "RuntimeInformation supports NETStandard1.1 but not Win8, Win8.1 or Wpa81"
This blocks using the NETStandard.Library package in a project that targets these frameworks.

[2016-06-08 21:26] eerhardt opened #9265 "AccessViolationException in zlib on CLI Windows build"
## Repro steps:

- step 1: get a CLI repo
- step 1.a: add a remote for github.com/dotnet/cli
- step 2: git checkout -b preview2 upstream/rel/1.0.0-preview2
  - In case the cli repo moves forward, and somehow that causes the AV to no longer occur:  use this sha1: 3c9f8dd99be5918a504f34260f4d6016a086ea99
- step 3: build.cmd -Targets Prepare,Compile
  - that should succeed
- step 4: build.cmd -Target

[2016-06-08 21:28] stephentoub commented on #9265
cc: @bjjones

[2016-06-08 21:40] ianhays commented on #9265
I got this reproducing on a fresh CLI repo install.

I figure there are two potential places where this could be failing as a result of clrcompression related issues:
- The Windows Open native build is doing something wrong when building the dll.
- Something in zlib is producing an error.

To test the open build I tried building vanilla zlib 1.2.8 using the open native build and placing the result

[2016-06-08 21:48] ericstj commented on #9263
I have a fix for this which is to use the win/netstandard1.1 version on both win8 & wpa81.  Testing now.

[2016-06-08 22:12] jhendrixMSFT opened #9267 "Missing CoreCLR ARM runtime package breaks UWP restore"
We need to continue to publish CoreCLR runtime packages for ARM from the TFS build as it's require for UWP restore; the absence of this package is a regression introduced by the new build pipeline.

[2016-06-08 22:12] #9267 closed

[2016-06-08 22:16] tarekgh commented on #9253
@Tratcher I have tried running the code you had in the other issue

[code]

but I couldn't repro it. I am running on Centos 7.

Could you please provide a code or repro steps?

[2016-06-08 22:27] nguerrera commented on #6078
I believe this should read "use the *ParameterInfo* from the actual getter/setter method"

[2016-06-08 22:29] Tratcher commented on #9253
@nsankaranarayanan? I have not reproduced this myself. How about `string.Empty` or `"/"`?

[2016-06-08 22:31] stephentoub commented on #8926
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/2056/consoleText

[2016-06-08 22:33] stephentoub commented on #6331
Yes, it still repros.  After I removed the [ActiveIssue] attribute that was on it, running it on Ubuntu gives:
[code]
and to confirm it's not just my box, I did a run in Jenkins and it fails in the same way:
https://github.com/stephentoub/corefx/commit/84b5cfeaabcd60e9ee00facce7e1b5591196e5ca
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu14.04_debug_prtest/16/

[2016-06-08 22:34] nsankaranarayanan commented on #9253
I have not tried this with String.Empty or "/" but have reproduced this consistently in Windows Server 2016 Technical Preview 5 and its containers. It works just fine in CentOS 7. I can try later today on the String.Empty.

[2016-06-08 22:39] tarekgh commented on #9253
@nsankaranarayanan could you explain more what exactly you are seeing when producing the issue? are you getting the following exception?

[code]

I cannot reproduce the issue on Windows either but I am not running on Server 2016.

it'll be good if you can provide a full repro steps so I can help with this issue.

[2016-06-08 22:52] ianhays commented on #9265
I can't reproduce this locally any more. My past ~20 builds on a fresh CLI repo have passed.

[2016-06-08 22:56] dibyendumajumdar opened #9268 "Query: options for connecting to Oracle databases"
Hi
I am considering using the cross platform dot net framework for building a major new application. But I have hit an issue - I am unsure whether the current corefx supports connecting to Oracle databases or not. I need to be able to support multiple database backends, including Oracle and SQL Server.
Thanks

[2016-06-08 23:07] bjjones commented on #9265
I haven't been able to reproduce yet (due to lack of experience building cli), however I found this seemingly related commit in a branch on the Zlib-Intel repo. It looks like the fix was overlooked and never got merged into master (which got merged to corefx).

https://github.com/jtkukunas/zlib/commit/e6a97efba0394dee35b1460e50978174ebb12126

I'm working to confirm this now.

[2016-06-08 23:09] eerhardt commented on #9265
@bjjones - if you need help setting up the CLI repo, let me know.  Machine instructions are:  https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/developer-guide.md#for-windows

Basically, you need:
- VS 2015 installed
- Cmake installed on and on your path
- Git installed and on your path.

[2016-06-08 23:20] nsankaranarayanan commented on #9253
I just went and retraced all my steps for you @tarekgh. Here are the steps at a high level.

1. Yank the code from the git repository.
2. Copy the code to a temporary folder C:\Temp\Apps\DockerTest1
3. Create a docker container using the following command
        `docker run --rm -it -p 5001:5001 -v C:\Temp:C:\Temp microsoft/iis:windowsservercore cmd`
4. Within the docker container, navigate to my

[2016-06-08 23:25] mellinoe commented on #6078
Eh, what a mess, indeed. I'm inclined to just say "don't fix it" simply because of the MSDN documentation you linked. On one hand, it would obviously make sense to fix it, and that would be "more correct" behavior (based on a reasonable interpretation of the method/parameter names). On the other hand, this description kind of makes it sound like the whole method is ill-defined in the first place:

[2016-06-08 23:33] Tratcher commented on #9253
Ah, containers have a known issue for this in TFS (5681693) that has already been fixed.

[2016-06-08 23:33] ianhays commented on #9265
Thanks @bjjones, that looks like it might be our issue.

Similar to that, what about this other unmerged commit: https://github.com/jtkukunas/zlib/commit/fa19b0b10631646c30a7aa6f2ecf4b10d363e782 ? Are there other fixes in the zlib-intel repo we should mirror over to CoreFX?

[2016-06-08 23:40] tarekgh commented on #9253
@Tratcher does this means we can close this issue?

[2016-06-08 23:48] joshfree commented on #9072
@ericstj can this be verified and closed now on rc3-24208-04?

[2016-06-08 23:50] saurabh500 commented on #9268
@dibyendumajumdar CoreFx doesn't support connecting to Oracle. The database provider in CoreFx is only SqlClient which can connect to Microsoft Sql Server.
For Oracle, you will need a ADO.Net provider for CoreFx.

[2016-06-08 23:50] joshfree commented on #9248
@bartonjs can you give me an update by EOD?

[2016-06-08 23:51] joshfree commented on #9247
@mellinoe please give an update by EOD

[2016-06-08 23:54] weshaggard commented on #8369
I agree with @mellinoe we should eliminate the dependency on msbuild 12.

[2016-06-08 23:58] mellinoe commented on #9247
Closing this as a dupe of #7806

[2016-06-08 23:58] #9247 closed

[2016-06-09 00:00] ellismg commented on #9248
FWIW, we are not seeing this test failure in Helix.

This seems to be related to the fact that we are now running the tests via `build.sh` instead of using the cross built artifacts plus a live CoreCLR.  I would have assumed if there was a problem specific to consuming CoreCLR from packages we would also see it in Helix, which also consumes the runtime that way.

[2016-06-09 00:06] Priya91 commented on #9244
This is reproing consistently on release debian runs, reopening this.

[2016-06-09 00:18] Priya91 opened #9270 "[Release/1.0.0]HttpClientHandlerTest.PostAsync_CallMethod_StreamContent failed on fedora debug"
This test is failing intermittently between builds, filing it under RTM for investigation.

[code]

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/fedora23_debug/3/

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/fedora23_debug/5/

[2016-06-09 00:20] Priya91 opened #9271 "[Release/1.0.0]Centos Outerloop images does not have cmake installed."
Causing build failure in outerloop runs.

[2016-06-09 00:22] mellinoe commented on #9271
Dupe: https://github.com/dotnet/corefx/issues/9204

[2016-06-09 00:27] Priya91 opened #9272 "[Release/1.0.0]System.Net.Security.Tests failing on Opensuse"
[code]

[2016-06-09 00:27] bjjones commented on #9265
@eerhardt Thanks for posting that. I was on a machine with only VS13 :)

@ianhays, that commit pertains only to Intel's own compression strategy - deflate_quick() - for compressionLevel=1. When I initially merged in Zlib-Intel, I disabled deflate_quick() in favor of the conventional deflate() (same as vanilla Zlib) due to some compression ratio concerns. So corefx isn't using that code, however it

[2016-06-09 00:29] ericstj commented on #9072
Yep, looks good.  I've checked packages produced from CoreFx and TFS and they have this attribute.

[2016-06-09 00:29] #9072 closed

[2016-06-09 00:31] Priya91 commented on #9204
@ellismg Missed this, yeah it's weird the images shouldn't be different, only the label is different for enabling sudo on outerloop runs. Not sure, what you mean by "images patch the label names"..

[2016-06-09 00:31] #9271 closed

[2016-06-09 00:33] nguerrera commented on #6078
In metadata, properties do have a distinct signature blob from their accessors, but that only encodes parameter *types*. There is indeed no way to have Param records parented by Property records and so only the accessor parameters can have names and custom attributes.

All that to say that I agree that the concept of a ParameterInfo is misplaced on PropertyInfo. `Type[] GetIndexParameterTypes()` w

[2016-06-09 00:33] ianhays commented on #9265
Thanks Brandon. I did some more testing and applying the changes from jtkukunas/zlib@e6a97ef seems to resolve the problem.

I wrote a little script to run dotnet pack in an infinite while loop on the same nupkgs that are built by the CLI and tested it on three clrcompression versions:
- clrcompression x64 from the package
- clrcompression x64 locally built
- clrcompression x64 locally built with j

[2016-06-09 00:34] ellismg commented on #9204
Typo, sorry.  I mean the image names don't /match/ the label names.  I would have expected the label name (sans the "outer" tag) to match what image id we use when spinning up workers.

[2016-06-09 00:39] bartonjs commented on #9248
I understand why only one of the test cases in this class is failing... this is the only one which causes the directory to be created which is not marked OuterLoop.

Fedora 23 1.0.0 (RTM)
* InnerLoop Debug: Fail
* InnerLoop Release: Fail
* OuterLoop Debug: Fail
* OuterLoop Release: __Pass__

Fedora 23 Master:
* InnerLoop Debug: Fail
* InnerLoop Release: Fail
* OuterLoop Debug: Fail
* OuterLoop Rel

[2016-06-09 00:54] justinvp opened #9274 ""OS X" is now branded as "macOS""
**Update (6/13):** Apple has officially announced that "OS X" is now "macOS".

---

It appears highly likely that "OS X" will be rebranded as "macOS" next week at WWDC.
- http://9to5mac.com/2016/06/08/latest-hint-at-macos-rebranding-of-os-x-appears-in-new-app-store-guidelines/
- https://daringfireball.net/linked/2016/03/30/macos

Is it too late to tweak the naming of new .NET Core APIs with `OSX`,

[2016-06-09 01:25] bartonjs commented on #9248
Manual investigation concurs on something being odd about our test rig:

[code]

Master (because I forgot to change branches):
[code]

Double-checking now with the release/1.0.0 branch.

[2016-06-09 01:53] bartonjs commented on #9248
Yep, release/1.0.0 just came back clean; too.

@ellismg: Thanks for hooking me up with a test machine.  Fortunately (for the product) the tests passed, unfortunately (for the badge) that doesn't tell us why CI isn't happy
@joshfree: I'm not sure what metadata changes you'd want to make here, so I haven't pre-applied any.  The `infrastructure` label mostly seems to be about changes to/for infrastru

[2016-06-09 02:33] joshfree commented on #9248
Should the failing test be disabled for that specific flavor with a tracking bug?

[2016-06-09 02:41] mellinoe commented on #9274
I think it is already too late to make breaking changes like this, even moreso if the rename won't be official until next week. We should not break compatibility with our current RC2 interface.

[2016-06-09 02:46] stephentoub opened #9276 "Race condition in HttpClient on Unix when redirecting a post request"
https://github.com/aspnet/MusicStore/pull/683

[2016-06-09 02:58] bartonjs commented on #9248
I can make the tests all be [Conditional(NotFedora)]; but I don't think Fedora is really the problem, just coincident with some odd machine configuration.

But, if the goal is just to make the build badges be green so we guard against regressions, I can make that change.

[2016-06-09 03:39] davidsh commented on #9270
cc: @stephentoub

[2016-06-09 03:39] davidsh commented on #9272
cc: @stephentoub

[2016-06-09 03:42] davidsh commented on #9244
We can't have all of our tests use loopback servers.  We still need end-to-end coverage. And many times, bugs will not found when network i/o goes thru the loopback adapter.  So, we need to consider this before changing more tests to loopback.

What we need, instead, is an Xunit attribute with [Retries=n] so that the test can be retried if needed due to network congestion.

[2016-06-09 03:42] davidsh commented on #9244
cc: @CIPop

[2016-06-09 04:06] stephentoub commented on #9244
All? No, I'm not suggesting "all".  But more? Yes.  For example, there's no strong reason why the majority of the tests we have using the echo server endpoints for testing things like redirection need to go off to a machine in the cloud.

Retries don't help when servers out of our control go down for periods of time.  That was one of the primary reliability issues with some of the certificate-rela

[2016-06-09 04:42] ellismg commented on #9272
Note that a little earlier in the log I see this text:

[code]

I assume that's something printed to stderr.  All the tests passed however.  It's also unclear why MSBuild thinks the return value is -1 and the execution scripts think the return value is 0.

[2016-06-09 04:43] joshfree commented on #9265
we're making a conservative fix to unblock CLI and downstream teams tonight;  we can continue to work and review the zlib-intel fixes in parallel.  But for now we'll revert the change from 2 days earlier which got us into the state where CLI builds are basically 100% blocked

[2016-06-09 05:21] ellismg opened #9278 "We should archive msbuild.* even on failed CI jobs"
Today we only archive msbuild log files if the job completes successfully, but the logs have value in cases where the job fails as well.

[2016-06-09 06:30] #1664 closed

[2016-06-09 06:42] dibyendumajumdar commented on #9268
@saurabh500 thanks. I forgot to mention that my backend service must be able to run on Linux or Windows. I assume that I can get an ADO.Net provider for Oracle on Windows but what options are there on Linux? Has any provider been tested/certified? Any plans to do so?

[2016-06-09 06:47] ellismg commented on #9272
I looked into this a little more.  When run outside of MSBuild, the test writes the following text to stderr:

[code]

The first two lines look like they debugging output from OpenSSL.  My understanding is that we probe to see if ciphers are supported by calling Open SSL functions and then checking return values.  I could imagine that OpenSUSE builds with an OpenSSL that prints an error in this ca

[2016-06-09 06:50] stephentoub commented on #9272
@ellismg, I believe you're right about the root cause.  In which case we could also change this code:
https://github.com/dotnet/corefx/blob/dbdae6947381db563b081fe7dbcf116ff9df36bc/src/System.Net.Security/tests/FunctionalTests/TestConfiguration.cs#L43-L46
to redirect and consume stderr.

[2016-06-09 06:51] ellismg commented on #9272
@stephentoub Yes, I was just about to post the above after seeing how this was implemented.  I will give it a shot locally, since I have a machine handy.

[2016-06-09 07:17] ellismg commented on #9272
@joshfree after investigation this is not a product issue.  Moving to 1.1.  I have also opened a PR to fix the test issue.  If we want to take it at some point into release to clean up the numbers in Jenkins, we can do that.

[2016-06-09 08:12] andrew-vandenbrink commented on #8622
DataTable/DataSet is rich in features, bit bloated but it do the job well.
Not sure the real reason why this object should be dropped.

Some notable features are:
- Deserialize/Serialize schema and data from/to xml
- Column expression
- Change tracking via DataRowState
- Copyable and cloneable object
- Column's default value
- DataView
- etc

If there is something bad is that its store the data wi

[2016-06-09 08:20] #9272 closed

[2016-06-09 11:26] GSPP commented on #9245
If this is changed the exception should allow to tell the difference between:

1. Timeout
2. `SqlCommand.Cancel`
3. Some other external cancellation arrived through a `CancellationToken`

My fear is that it becomes hard to analyze error logs. Also, sometimes programmatic action is required. Maybe you don't want to send an error mail to the ops team for explicit cancellations but you do want to sen

[2016-06-09 11:50] roji commented on #9245
@GSPP, I think distinguishing between timeouts and cancellations would be easy in any case - TaskCanceledException would only be thrown for cancellations, not timeouts. SqlException already provides the means to programmatically understand exactly what happened. The question here is only whether cancellations should be be raised as SqlException or as TaskCanceledException.

[2016-06-09 13:09] GSPP commented on #9245
Good point.

[2016-06-09 13:33] #9180 closed

[2016-06-09 13:54] stephentoub commented on #9244
This looks like a machine configuration issue.  I ran:
[code]
via the Jenkins Script Console on one of the Debian VMs, and I get this:
[code]
Note the line at the end about being "unable to get local issuer certificate".  @bartonjs, am I understanding correctly that this means the needed certificate for verification isn't installed on the machine?

[2016-06-09 14:04] joshfree commented on #9248
Let's do the test-only change and have a tracking bug to resolve in 1.1

[2016-06-09 14:28] hsorbo commented on #8712
@bartonjs Ill try to reduce it to a test or small sample app.

[2016-06-09 14:39] Giorgi commented on #9268
@dibyendumajumdar Check [http://forums.devart.com/viewtopic.php?f=19&t=33592](url)

[2016-06-09 15:07] hsorbo commented on #8712
@bartonjs i have pinned it down to a integration test. Its a timing issue (as you can see I need to fire a few requests concurrently). Code here: https://github.com/hsorbo/corefx8712
I had to strip out the keys as they are private. If need be I can see if i can generate som sample keys, but it will take som time.

[2016-06-09 15:26] HppZ commented on #649
+1

[2016-06-09 15:51] tarekgh commented on #9253
@Tratcher could you please advise if this issue is already fixed or I need to look more?

[2016-06-09 16:21] #8541 closed

[2016-06-09 16:37] jhudsoncedaron commented on #6116
The comment is just outdated. There's a conditional call GC.ReRegisterForFinalize(this); a few lines down that cannot be eliminated by static analysis so this is still rooted.

[2016-06-09 17:05] bartonjs commented on #9244
It's like the OpenSsl library is broken on this distro, and not including the provided intermediate certs in the chainwalk.

`openssl s_client -connect http2.akamai.com:443 -showcerts` =>
[code]

Note that it has a 0 (the server cert), 1 (the low intermediate), and 2 (the high intermediate).  Akamai follows the rules and didn't send 3 (the root).

I saved 0 to akamai.cer, 1 to akamai.1.cer, and 2

[2016-06-09 17:15] ericeil commented on #9270
At first glance, this would appear to be a simple timeout.  Probably the remote server was slow to respond.

[2016-06-09 17:18] #7449 closed

[2016-06-09 17:31] #9253 closed

[2016-06-09 17:33] jhendrixMSFT opened #9290 "Consume closed build runtime native Windows packages for System.IO.Compression"
Due to the bug described in https://github.com/dotnet/corefx/issues/9265 we will consume the TFS built version of the System.IO.Compression runtime package for Windows which doesn't have this issue.

[2016-06-09 17:40] GSPP commented on #6371
The change should not cause much breakage. *If* someone had relied on this his app only spuriously had the behavior that we are trying to remove here. Therefore, his app must be able to tolerate thread local state disappearing at any time. If it now *always* disappears that should be fine.

The only case this would cause breakage is if there was some very deterministic thread scheduling for some r

[2016-06-09 17:48] GSPP commented on #6371
Further, should we maybe add an API that allows anyone to reset thread state? That would be useful for custom `TaskScheduler`s. Maybe something like `TaskCompletionSource` and `Task` where the "source" acts like a capability to configure the `Task`. Here's a sketch for how a custom `TaskScheduler` could use that API:

[code]

The `ThreadSource` would be kept private by the `TaskScheduler`. It coul

[2016-06-09 17:54] bartonjs commented on #9248
Okay... @ellismg got in the same room for 5 minutes, and solved the mystery.

On our Fedora23 machines, /mnt/resource is of type fuseblk (which really means NTFS), when we expect a Unix-mode-based system.

* InnerLoop Debug: Runs as a standard user, fails because the directory UID (0, because it's NTFS mounted as root) is not the current UID.
* InnerLoop Release: Same
* OuterLoop Debug: Runs as ro

[2016-06-09 18:05] bartonjs opened #9293 "Fedora /mnt/resource is an NTFS mount, making permissions checks fail"
[code]

fuseblk is NTFS, which doesn't support Unix mode-based permissions; and leads to things like the X509Store permissions set/checks failing.

[2016-06-09 18:08] bartonjs commented on #9293
This is the cause of #9248.

[2016-06-09 18:12] danmosemsft opened #9294 "Allow setting the stack trace on deserialized exception object"
## Proposal

Provide a setter property for SourceExceptionStackTrace in ExceptionDispatchInfo class

[code]

## Details

Exception serialization scenario is challenging as there is no easy way can deserialize an exception object and include the stack trace in the de-serialized object.  The reason is Exception lack supporting a StackTrace setter property or providing a constructor that can take sta

[2016-06-09 18:12] danmosemsft commented on #8133
Breaking out StackTrace into a separate issue #9294. Updated title.

[2016-06-09 18:20] ericeil commented on #9270
Looks like the timeout is the default: 100 seconds.  That's long enough that it's probably worth looking into other possible causes.

[2016-06-09 18:35] ericstj commented on #9232
Reopen for port to rel.

[2016-06-09 18:36] ericstj commented on #9040
Ok, PR's for CoreCLR, CoreFx, and WCF are up:
https://github.com/dotnet/corefx/pull/9292
https://github.com/dotnet/wcf/pull/1276
https://github.com/dotnet/coreclr/pull/5654

Still need to do core-setup.  I'm leaving cli alone for now since that's black magic to me. @piotrpMSFT / @eerhardt is this something you're tracking to do (mark CLI packages stable).

[2016-06-09 18:37] saurabh500 commented on #9268
@dibyendumajumdar We don't have any recommendations for the Oracle ADO.Net Provider for CoreFx. It is up to you to select one for your project.

[2016-06-09 18:41] ianhays commented on #984
@stephentoub @danmosemsft

[2016-06-09 18:47] jasonwilliams200OK commented on #2578
@justinvp, just out of curiosity; if something like this:

[code]

is added here: https://github.com/dotnet/coreclr/blob/21f8416/src/mscorlib/src/System/Lazy.cs#L182

would it save an extra `Boxed` allocation? (I mean `new Boxed(value)` vs. `(Boxed)value` given the context)

[2016-06-09 18:49] eerhardt commented on #9040
We are now:

https://github.com/dotnet/cli/issues/3465

But we are nowhere near getting to that point yet.

[2016-06-09 19:03] justinvp commented on #2578
@jasonwilliams200OK, it'd be nice if the internal `Boxed` allocation could be avoided.

[2016-06-09 19:10] jhendrixMSFT commented on #9290
Fixed in https://github.com/dotnet/corefx/pull/9289

[2016-06-09 19:10] #9290 closed

[2016-06-09 19:16] dibyendumajumdar commented on #9268
So essentially there is no free Oracle ADO.Net provider on Linux? As far as I can tell the official Oracle one is for Windows only. And the others are commercial products. This is a show stopper for me as far as using dot net on Linux is concerned.

[2016-06-09 19:28] jasonwilliams200OK commented on #2578
Yes that would be nice and as is the internal `Value` getter is relying on `Boxed` type to detect whether or not `m_boxed` field is initialized. I think with current implementation only `m_boxed = new Boxed(value);` would go: `(Boxed)value` gives compilation error and `value as Boxed` fails the check `(value as boxed) != null`.. :(

[2016-06-09 19:51] saurabh500 commented on #9268
@dibyendumajumdar You are right, the Oracle provider is ODP.Net which support .Net Framework on Desktop.
ODP.Net will need to build the DB library on top of .Net core (CoreFx) so that it can be consumed by users building on top of CoreFx.

[2016-06-09 19:51] #9268 closed

[2016-06-09 20:13] joshfree commented on #8983
Given this issue has now been running for 2 days under gcstress 3 in a loop on OS X I am moving the bug to the 1.1.0 milestone.  If the issue reproduces again we can re-evaluate for 1.0.

[2016-06-09 20:14] ericstj commented on #9040
@schellap  and I have a PR for core-setup: https://github.com/dotnet/core-setup/pull/128

/cc @tmat @danroth27 looks like we'll need to coordinate for LibUV and Roslyn packages.

[2016-06-09 20:24] danroth27 commented on #9040
Adding @Eilon @muratg to help coordinate.

[2016-06-09 20:26] adityamandaleeka commented on #9242
FYI: I'm looking at these dumps and adding strike-throughs and comments to the ones I've triaged.

[2016-06-09 20:50] davidsh commented on #9124
Ref: Internal tracking number; 7841095

[2016-06-09 20:55] joshfree opened #9296 "Test failure: WebSockets.Client.Tests.SendReceiveTest.SendReceive_PartialMessage_Success (server: wss://corefx-net.cloudapp.net/WebSocket/EchoWebSocket.ashx)"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/release_1.0.0/job/outerloop_windows_nt_debug/lastCompletedBuild/testReport/System.Net.WebSockets.Client.Tests/ClientWebSocketTest/SendReceive_PartialMessage_Success_server__wss___corefx_net_cloudapp_net_WebSocket_EchoWebSocket_ashx_/

[code]

[2016-06-09 20:56] janvorli commented on #8983
I am also running it in a loop on my Mac under the same GC stress setting and I can keep it running there for several days. I'll let you know if I hit something.

[2016-06-09 20:56] davidsh commented on #9296
This error "The server returned an invalid or unrecognized response" typically means that the server connection has been corrupted or terminated somehow. Usually this is an Azure problem.

[2016-06-09 22:02] ianhays commented on #9265
Closing this issue - the failures were resolved in the Release branch via #9289

[2016-06-09 22:02] #9265 closed

[2016-06-09 22:05] Priya91 commented on #9204
@ellismg Yeah, that's correct. Changing the label name for every image name update will require changing the values in the utilities.groovy in dotnet-ci, and also we cant delete old labels, since other repo netci.groovy may be using them. Then we'll have duplicate labels mapped to same image..

[2016-06-09 22:05] muratg commented on #9040
@moozzyk will be providing the libuv "RTM" package. I believe he's working with @ellismg to ensure the current set of binaries work with the newly supported distros.

[2016-06-09 22:18] moozzyk commented on #9040
status: stuck @ LCA

[2016-06-09 22:20] pranavkm opened #9300 "Microsoft.Composition does not target netstandard"
The most recent build of the package on NuGet.org targets PCL but not netstandard.

[2016-06-09 22:20] pranavkm commented on #9300
cc @joshfree

[2016-06-09 22:30] mellinoe commented on #9300
We aren't producing the packages for this out of corefx yet, because we haven't made any functional changes. You should be able to consume it with an imports statement for now. We're planning on publishing new packages by 1.1.0. https://github.com/dotnet/corefx/issues/6598

[2016-06-09 22:50] pranavkm commented on #9300
@mellinoe @javiercn has been trying to remove references to all imports from aspnet packages. Some of the Roslyn packages that we transitively depend on reference this package (https://github.com/dotnet/roslyn/blob/2eeb1e3f129aa6429210b20f5a01cb8159b5d3d4/src/Dependencies/Composition/project.json#L4). It would be great if you could let the Roslyn folks know once a netstandard targeting build is av

[2016-06-09 22:52] ianhays commented on #9242
We've finished all dumps! Looks like there are three recurring issues shown in these dumps:

- System.Reflection.Emit.ILGeneration.Tests
- System.Threading.Tasks.Tests & System.Threading.Tasks.Dataflow.Tests
- System.Reflection.Emit.InternalAssemblyBuilder & System.Reflection.Emit.InternalModuleBuilder

[2016-06-09 23:20] adityamandaleeka commented on #9242
In summary, of the 35 links above, the following three looked related to Threading.Tasks tests:

- https://rapreqs.blob.core.windows.net/bryanar/BodyPart_7c39c0b7-29e2-497c-8bf3-332d2985ca7d?sv=2015-04-05&sr=b&sig=CJq2avVIs0o0xxFK9grFB%2F4fyvTQNEocwDzQyI%2Fcou8%3D&st=2016-05-20T20%3A46%3A23Z&se=2017-05-20T20%3A46%3A23Z&sp=r

- https://rapreqs.blob.core.windows.net/bryanar/BodyPart_b4c09486-ceef-4f

[2016-06-09 23:24] mellinoe commented on #9300
Thanks, I'm going to do that. I'll leave a note in the other issue to notify you guys when the work is done.

[2016-06-09 23:24] #9300 closed

[2016-06-09 23:24] mellinoe commented on #6598
@pranavkm

[2016-06-09 23:49] ericstj commented on #9232
Fixed with https://github.com/dotnet/corefx/pull/9295

[2016-06-09 23:49] #9232 closed

[2016-06-09 23:52] swissarmykirpan opened #9303 "uvvjgfehfkbf"

[2016-06-09 23:52] #9303 closed

[2016-06-10 00:20] stephentoub opened #9304 "UDP Socket.ConnectAsync(IPAddress, int) fails with "An invalid argument was supplied""
Related to https://github.com/dotnet/corefx/issues/4968...

This code works fine on desktop:
[code]
but this fails in corefx:
[code]
with the error:
[code]

[2016-06-10 01:33] tmat commented on #5217
Will do API review as part of overall SRM 1.4 new API review.

[2016-06-10 01:33] #5217 closed

[2016-06-10 01:40] tmat commented on #4543
I propose to close this issue and if there is any specific API missing either from System.Reflection or System.Reflection.Metadata let's open new issue for each missing API. Any objections?

[2016-06-10 02:42] Priya91 commented on #9204
Found why this is happening in outerloop runs, hash command is not found with sudo.
[code]

[2016-06-10 02:46] sergiy-k commented on #9242
I took a look at those 3 crash dumps from @adityamandaleeka's last message.
The first and the third ones are due to the issue with Reflection.Emit (there are gigabytes of memory used for reflection modules but the GC heap is small (around 80MB)).
The second one is different - the memory leak seems to be caused by the stress infra because it calls async tests (System.Threading.Tasks.Dataflow.Tests.

[2016-06-10 04:49] Priya91 commented on #9204
This is fixed.

[2016-06-10 04:49] #9204 closed

[2016-06-10 07:56] ericstj opened #9315 "Update NuGet to fix schema regression"
Pickup https://github.com/NuGet/NuGet.Client/commit/296de361c9e497ca103ba5eb3cc5633ddb3236de.

This is to fix a regression where the previous nuget drop added Serviceable support, but did so while adding a new schema version which broke some existing clients.  This new version does not add the schema change which is presumably less breaking since those clients are resilient to elements they don't

[2016-06-10 09:03] #9276 closed

[2016-06-10 09:21] stephentoub opened #9320 ""Expected !isStopped" assert in sockets on Fedora"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_debug_prtest/1/consoleText
[code]

[2016-06-10 11:08] stephentoub commented on #8926
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/2125/consoleText

[2016-06-10 11:37] stephentoub commented on #9235
cc: @ericeil, @cipop, @davidsh

Sample code:
[code]

[2016-06-10 12:10] henkmollema commented on #5381
What about `MemberInfo.ReflectedType`? I'm unable to find it.

[2016-06-10 12:34] stephentoub commented on #4429
This isn't quite right.  When the Task completes, the completion logic for the Task processes that Task's continuations.  Some of those may be synchronous continuations, others may be asynchronous.  The completion logic first queues all of the asynchronous continuations, and then proceeds to invoke the synchronous ones, if possible (if it's not possible to invoke them synchronously for some reason

[2016-06-10 15:38] AtsushiKan opened #9325 "The NetNative implementation of System.Reflection.TypeExtensions does not properly handle generic method overriding."
Consider this class:

[code]

Calling <b>typeof(Derived).GetMethods()</b> on this is expected to return only Derived.Foo. However, on .NET Native, it returns Base.Foo as well.

The bug is in the helper method: <b>AreNamesAndSignaturesEqual(MethodInfo method1, MethodInfo method2)</b>

https://github.com/AtsushiKan/corefx/blob/master/src/System.Reflection.TypeExtensions/src/Internal/Reflection/Exten

[2016-06-10 16:31] danmosemsft opened #9327 "Fill out AppDomain"
There are several buckets here, which likely should be broken out.

We know .UnhandledException, .CurrentDomain, .GetAssemblies, .GetCurrentThreadId are heavily used in Xamarin/Unity and should be straightforward to add.

DefineDynamicAssembly is in the next bucket.

True AppDomain support would be a larger challenge. We may distinguish design time support (eg for Unity IDE) vs. bulletproof runtim

[2016-06-10 16:37] ericeil commented on #9235
I assume the ArgumentOutOfRangeException at the end is to cover the case where `addresses` is empty?  I think if we're going to put argument validation in the sample, we should do it in a more clear way (up top, with explicit checks).

Otherwise, this looks great!

[2016-06-10 16:39] danmosemsft opened #9328 "Fill out Convert"
We removed much of the members for cleanup reasons - many times because they are useless, eg., Convert.ToBoolean(DateTime) always throws InvalidCastException. There was also a layering issue with DBNull. We should bring these back.

    public static class Convert {
        public static readonly object DBNull;
        public static object ChangeType(object value, TypeCode typeCode);
        publi

[2016-06-10 16:43] leppie commented on #9327
`AssemblyResolve` is a must have too

[2016-06-10 16:44] stephentoub commented on #9235
We could.  But then we would still need an exception throw at the end, as the compiler can't tell it's unreachable.

[2016-06-10 16:49] danmosemsft opened #9329 "Fill out GC class"
Below is what's in Xamarin Android but not in Core. If these are all still in the implementation, we should expose them.

    public static class GC {
        public static void CancelFullGCNotification();
        public static int GetGeneration(WeakReference wo);
        public static void RegisterForFullGCNotification(int maxGenerationThreshold, int largeObjectHeapThreshold);
        public stat

[2016-06-10 17:04] mellinoe commented on #9329
Most of them don't seem to be implemented in .NET Native: https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/GC.cs.

[2016-06-10 17:07] mellinoe commented on #9327
Could you expand on this a bit? From what I understand of Unity, we would need to support full runtime-level support for their use cases to work.

[2016-06-10 17:22] CIPop commented on #9304
Need to change the flow to use UnsafeBeginConnect instead of directly going to BeginConnectEx to filter UDP.

[2016-06-10 17:24] CIPop commented on #9296
We need to add retries for all e2e tests.

[2016-06-10 17:42] CIPop commented on #4429
Thanks @stephentoub!

In the current code, we have separate tasks for the HTTP to WS upgrade: `InternalSendWsUpgradeRequestAsync` for example. We could change that code so that it doesn't use tasks, leaving only the application continuation to use `RunContinuationsAsynchronously`.

For measurements we need #9048. After that's done, we can resume porting and running Stress/Perf tests at scale to me

[2016-06-10 17:45] #8926 closed

[2016-06-10 17:49] CIPop commented on #9235
This is needed only for *NIX systems. Windows will still work without them.

For API consistency, is there any reason not to add this to a future version of the contract and obsolete the other Connect methods? We could implement them differently on Windows (using direct calls to Winsock) and, as above, for any OS that doesn't have native support for multiple address connect.

[2016-06-10 17:49] jkotas commented on #9329
Right, it is work to implement them...

[2016-06-10 17:49] justinvp commented on #9327
Related: #6398

[2016-06-10 17:53] stephentoub commented on #9235
Yes, we'll want to call out that this is only necessary for running on Unix, though for libraries trying to be cross-platform, it'll likely be common to use a solution like this rather than special-casing by platform.

Adding such methods would be a good thing to do.  Whether to obsolete the existing instance methods is debatable.

[2016-06-10 17:54] Tornhoof commented on #9237
Did you actually look how File.WriteAll* are implemented at the moment?
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IO/File.cs
- WriteAllLines/Text: Streamwriter
- WriteAllBytes: **FileStream**

The example you mentioned from SO, according to the OP he is compressing/decompressing an xml, his approach itself is probably flawed, because why convert the xml first to string

[2016-06-10 18:16] CIPop commented on #9235
I agree that the APIs above should be the ones called by the application. For Windows, the implementation should call `WSAConnectByName` instead.

[2016-06-10 18:22] stephentoub commented on #9235
Sure, though I assume you mean via the existing instance methods rather than via P/Invoke, e.g.
[code]

[2016-06-10 18:27] Priya91 commented on #9259
this is fixed with #9308

[2016-06-10 18:27] Priya91 commented on #9068
Fixed with #9308

[2016-06-10 18:29] Priya91 commented on #6617
This is fixed, only outerloop is run with elevated now.

[2016-06-10 18:29] #6617 closed

[2016-06-10 18:29] #9259 closed

[2016-06-10 18:35] #9263 closed

[2016-06-10 18:43] tenor commented on #9327
Please consider https://github.com/dotnet/coreclr/issues/5563.

[2016-06-10 18:47] CIPop commented on #9235
Thanks @stephentoub !

For now, yes.  After we get perf tests in place, we can take another look at the implementation and see if it can change to use more of the OS-level optimizations (such as `WSAConnectByName`).

[2016-06-10 18:49] stephentoub commented on #9235
Yeah, I was referring to this for sample code purposes.  We can do whatever it takes in internal implementations to make things perform as we'd like.  I'd just like to keep samples as concise as possible.

[2016-06-10 19:11] ianhays commented on #9237
They're abstractions around the more complicated underlying implementation; their purpose is to make quick-and-dirty file operations easy and succinct. The important aspect is that they circumvent the need for the **programmer** to use a FileStream.

Then we'll iterate on it until it does, or close it if we decide it won't :). My goal is to make Compression easier and more intuitive to use so that

[2016-06-10 19:11] bartonjs commented on #9244
Okay, I have an answer for Debian.  Ready for crazy? Here we go:

TLS says you're supposed to send your server identity certificate and all intermediates (but not the root).  In this case, what we get on the connection is:

[code]

(For the uninitiated: s=subject, i=issuer... notice how the s on one line is equal to the i on the preceding).

libssl takes these certificates and shoves them into the

[2016-06-10 20:25] Tornhoof commented on #9237
Yes, your effort to improve it is great :)

The main problem I see with those byte array based overloads, is simply the amount of memory allocation. If that overload is "more visible" than the stream based api, maybe because intellisense will first suggest the byte[] one (afaik its lexicographically sorted, e.g. byte[] will be the first), programmers will start using the byte[] one. This means one

[2016-06-10 20:28] shmao opened #9331 "Refactor Exception Messages New Added in ReflectionBasedDCS Branch"

[2016-06-10 20:42] ericstj commented on #9315
This has been fixed:
https://github.com/dotnet/coreclr/pull/5681
https://github.com/dotnet/corefx/pull/9314
https://github.com/dotnet/wcf/pull/1279
https://github.com/dotnet/core-setup/pull/138

[2016-06-10 20:42] #9315 closed

[2016-06-10 21:16] svick commented on #9237
@Tornhoof I think having both a simple and inefficient interface and also a complicated and efficient interface is better than having just the complicated and efficient interface. More often than not, efficiency is not that important.

Having a simple and efficient interface would be obviously best, but that may not be possible.

[2016-06-10 21:41] Maoni0 commented on #9329
this is all implemented on coreclr so it's a matter of exposing the APIs.

[2016-06-10 21:44] Maoni0 commented on #9329
I will let .net native folks decide if/how they wanna do this work. @sergiy-k

[2016-06-10 21:45] danmosemsft commented on #9329
Incidentally I didn’t list members that aren’t in Xamarin either (eg TryStartNoGCRegion) as desktop parity is not a current goal.

[2016-06-10 22:47] danmosemsft commented on #9329
Transmuting this issue to track adding the missing members to project N. The subset of the ones above that aren't on Project N seems to be those listed below

[code]

ie `GetGeneration` is implemented there already.

[2016-06-10 22:51] danmosemsft commented on #9329
Not sure whether this should move to the CoreRT repo now.

[2016-06-10 22:53] danmosemsft commented on #9328
We've decided to track missing API in less granular issues, tracking each major area/issue, and break down as needed. Closing.

[2016-06-10 23:19] jkotas commented on #9329
@danmosemsft  There is work to even on CoreCLR: The members are in the source code, but not in the build / public surface. And there are no tests - at least some basic tests have to be added together with exposing it in the public surface.

[2016-06-10 23:20] bartonjs opened #9337 "[release/1.0.0] Many networking tests fail with ---- System.ComponentModel.Win32Exception : Unable to load DLL 'System.Net.Security.Native': The specified module could not be found."
One example failure:

[code]

[2016-06-10 23:22] jkotas commented on #9329
Note that there are two overloads of `GetGeneration`: one that takes `Object` and other that takes `WeakReference`. The one that takes `WeakReference` is missing.

[2016-06-10 23:27] bartonjs commented on #9337
These failures were seen in Helix.  Right now we're suspecting a packaging problem (since Jenkins passes), but that's a pretty vague place to have landed.

[2016-06-10 23:29] akoeplinger commented on #9329
Apart from GetGeneration() none of those methods are actually implemented in Mono/Xamarin, they throw NotImplementedException.

[2016-06-10 23:33] danmosemsft commented on #9329
@akoeplinger Correct, we need to expose the same surface area (for binary compat) even if it throws NIE.

Clearly, we're still figuring out how to track this kind of work most efficiently...

[2016-06-10 23:37] ellismg commented on #9337
Are they specific to an OS?  It possible we don't have a dependency for System.Net.Security.Native installed?

[2016-06-10 23:44] bartonjs commented on #9337
It looks like the Windowses passed and OSX passed; and everything else failed { Ubuntu 14, Ubuntu 16, OpenSUSE, Fedora, CentOS, Debian, Redhat }.

But a missing system dependency on our test machines is definitely an angle I'm investigating.

[2016-06-11 00:23] joshfree commented on #9337
@ericstj @weshaggard PTAL

[2016-06-11 00:25] joshfree opened #9339 "Audit Repos for old zlib / AccessViolationException - Interop.zlib.deflate(Byte* stream, Int32 flush)"
https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.win7-x86.runtime.native.System.IO.Compression/4.0.1-rc3-24210-00

Unhandled Exception: System.AccessViolationException: Attempted to read or write protected memory. This is often an indication that other memory is corrupt.
at Interop.zlib.deflate(Byte* stream, Int32 flush)
at Interop.zlib.Deflate(ZStream& stream, FlushCode flush)
at S

[2016-06-11 00:32] ericstj commented on #9337
Share a lock file for a failing test please.

[2016-06-11 00:56] joshfree commented on #9320
Moving to 1.1.  @ericeil please investigate the assert

[2016-06-11 01:00] ellismg commented on #9337
@bartonjs and I looked into this a little.  A problem is that the native assembly (System.Net.Security.Native.so) is not being deployed to the test machine at all.  Furthermore, it's not even in the RunTest.sh file that's generated by the build which hard links all the files into their locations before running the tests.  Jeremy and I believe that's happening because the test project has a P2P ref

[2016-06-11 01:01] ellismg commented on #9339
Did we get a dump internally or a scenario we can stress locally?

[2016-06-11 01:04] ericstj commented on #9337
This is more fallout from the change from using MS.NETCore.Console to using NETStandard.Library.  One pattern we've followed for other tests is to have the test reference *both* the package and the project for the library under test.   The package brings in all the dependencies, project will take precedence for the binary.
This is all a side effect of the uber problem that our build system doesn't

[2016-06-11 01:08] ellismg commented on #9337
Is there additional metadata that would need to be added to the [project reference](https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/tests/FunctionalTests/System.Net.Security.Tests.csproj#L142) in this or does the system figure everything out automatically?

[2016-06-11 01:26] erozenfeld opened #9342 "Speed up JsonWriterDelegator.WriteDateTimeInDefaultFormat."
While investigating https://github.com/dotnet/coreclr/issues/5558 it was noted that JsonWriterDelegator.WriteDateTimeInDefaultFormat can be sped up considerably for some cases.

@mconnew had the following comments:

Looking at that code, my guess would be fetching the timezone info from Linux is the expensive operation. This can be easily avoided in the first if-block and this code sped up conside

[2016-06-11 01:58] weshaggard commented on #9337
As @ericstj hinted at I think you can just add System.Net.Security package reference to https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/tests/FunctionalTests/unix/project.json and it should pick-up the dependencies. There isn't any support right now that for flowing it through project references.

[2016-06-11 04:23] ellismg commented on #9339
We think this is a dupe of the previously known issue (the zlib was an older version coming from build tools which did not have the rollback to fix the issue we were seeing)

[2016-06-11 05:36] joshfree commented on #9339
It was discovered by the reporter that they were actually running against a much older version of the library than reported.  Updating title; the ask is to audit buildtools and other repos for references to the older zlib with known issues

[2016-06-11 05:38] joshfree commented on #9337
switching to a test bug now that the root cause is understood

[2016-06-11 05:40] joshfree commented on #9244
Thank you for the detailed investigation @bartonjs.  Marking this as release notes so we record and reference the known Debian issue

[2016-06-11 05:47] joshfree commented on #9242
@ianhays @adityamandaleeka now that all the dumps have been root-caused can we open up bugs on the specific tests and stress infra that needs to be attributed / fixed?  Is #9242 tracking any other remaining work?

[2016-06-11 05:53] ianhays opened #9347 "Stress: Investigate re-adding Reflection.Emit tests to runs"
The Reflection.Emit tests are causing daily dumps to be generated because of their high heap allocations causing OutOfMemoryExceptions everywhere.

Turn them off with `[Trait(“Stress”, “Excluded”)]`.

[2016-06-11 05:55] ianhays commented on #9242
Opened up https://github.com/dotnet/corefx/issues/9347 to deal with RefEmit.

The other work item would be to address the memory leak @sergiy-k mentioned in the stress infra.

[2016-06-11 13:36] gulbanana commented on #9039
At dotnetconf Miguel de Icaza talked about a 'nugeterizer' project type which would wrap multiple other platform-specific projects and create packages which have the intersection of their exposed APIs. Some mechanism like this would help, as long as it was available in-solution rather than only when building nugets.

[2016-06-11 13:42] irwiss opened #9350 "[Ping] Unix - System.Net.Ping ignores PingOptions"
[Relevant code](https://github.com/dotnet/corefx/blob/master/src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Unix.cs#L59)

Ignoring DontFragment or TTL produces different behaviour between linux and windows builds when implementing a simple ICMP trace.

Is this the intended/by-design behaviour? Wouldn't a NotImplementedException if PingOptions are given/non default be a nicer signal to

[2016-06-11 13:55] #2486 closed

[2016-06-11 15:30] ianhays commented on #9339
[WCF](https://github.com/dotnet/wcf/blob/release/1.0.0/BuildToolsVersion.txt) and [coreclr](https://github.com/dotnet/coreclr/blob/release/1.0.0/BuildToolsVersion.txt) are using the BuildTools with the broken clrcompression.

[2016-06-11 15:38] joshfree commented on #9242
@schaabs can you own fixing the other stress infra remaining issue?

[2016-06-11 16:39] davidsh commented on #9350
cc: @stephentoub @CIPop

[2016-06-11 16:40] stephentoub commented on #9350
@irwiss, can you try running undo sudo and see if you get different results?

[2016-06-11 16:58] irwiss commented on #9350
Can you give more details on 'undo sudo'? I'm not sure what you mean, the process wasn't run as super user.

I can construct a console project to demonstrate the difference but it's just making Ping send a packet with options to specify low TTL (around 2) to a remote site with icmp enabled thats >2 hops away.

On windows you'll get the node at the hop you chose (or whatever hop you choose) reply w

[2016-06-11 17:00] stephentoub commented on #9350
That's what I mean, try running as root / a super user, e.g. instead of:
[code]
doing
[code]

[2016-06-11 17:08] bartonjs opened #9353 "Come up with a plan for the NegotiateStream tests on Linux"
The tests have both prerequisites and modify machine state during execution.

It would be great if we could eliminate the machine state modifications.

[2016-06-11 17:30] irwiss commented on #9350
Running as root doesn't make a difference, I'm not sure what difference it should make as `options` argument is ignored in the unix implementation in both raw sockets and via ping utility. Here's the relevant code and output:

project.json reference
`System.Net.Ping": "4.0.0-*"`

code in Main()

[code]

As normal user on unix (172.217.16.206 is the final hop ip, not the intended first hop):
[code]

[2016-06-11 17:35] stephentoub commented on #9350
Hmm, you're right, I was misremembering.  I thought we used it in the raw sockets implementation, hence my question.

@mellinoe?

[2016-06-11 20:10] ianhays commented on #9347
These these tests are now entirely disabled from Stress. We can revisit adding them back into the stress mix in 1.1.0.

[2016-06-11 20:45] schaabs commented on #9242
I believe I have fixed this issue already with the pull request #65 in dotnet-reliability.  I'll verify once the latest stress results are complete.

[2016-06-11 20:52] schaabs commented on #9242
The link above is incorrect.  The pull request is https://github.com/microsoft/dotnet-reliability/pull/65.

[2016-06-11 22:05] erikpowa opened #9357 "System.Net.Http.CurlException HttpClient PostAsync FormUrlEncodedContent"
### **Environment**

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04 LTS"

### **Curl version**

Protocols: dict file ftp ftps gopher http https imap imaps ldap ldaps pop3 pop3s rtmp rtsp smb smbs smtp smtps telnet tftp
Features: AsynchDNS IDN IPv6 Largefile GSS-API Kerberos SPNEGO NTLM NTLM_WB SSL libz TLS-SRP UnixSockets

### **Code**
[code]
###

[2016-06-11 22:14] joshfree commented on #9357
@ericeil can you take a look please?

[2016-06-11 22:20] joshfree commented on #9270
Moving to 1.1

[2016-06-11 22:42] joshfree commented on #9242
updated title to match what the active issue is now tracking (as all dumps have been investigated and new tracking issues opened for test updates)

[2016-06-11 23:55] joshfree commented on #9244
@bartonjs can you also prepare a PR to disable the 1 failing test for debian in order to get green badges in the /release/1.0.0 branch?

[2016-06-12 01:37] mellinoe commented on #9350
Are those properties supported now? If so, then we can just start using them and this should work. They must have thrown some exception at the time I was implementing this.

[2016-06-12 01:53] bartonjs commented on #9244
@joshfree I'm on it.

[2016-06-12 02:29] joshfree commented on #9242
@schaabs what's the timeline on the next running being complete?

[2016-06-12 08:04] irwiss commented on #9350
I don't know if they're supported and I'm cool with stuff that's not supported, after all .net core is fairly new product and I expect some APIs to be left out.

My point is that TTL and DontFragment in PingOptions change the purpose of the call from a generic ping to icmp trace or mtu discovery, which are fairly orthogonal to the purpose of a regular ping request.

As I understand it, even if the

[2016-06-12 08:04] schaabs commented on #9242
The fix has been verified async tests are no longer causing thread pool growth in the stress infra with the changes in place.  Closing the issue.

[2016-06-12 08:04] #9242 closed

[2016-06-12 13:24] GSPP opened #9369 "Add static hash helper methods"
Computing a hash code currently requires this code:

            byte[] hashBytes;
            using (var hashAlgo = SHA256.Create())
                hashBytes = hashAlgo.ComputeHash(bytes);

Or the more awkward `HashAlgorithm.Create("SHA256")`.

This code is alright. It's not the end of the world. But I think it should be slimmer than that:

    var hashBytes = SHA256.ComputeHash(bytes);

Benefit

[2016-06-12 13:57] stephentoub opened #9370 "MultipartContent should override CreateContentReadStreamAsync"
This program:
[code]
throws an exception:
[code]
This is because MultipartContent doesn't override CreateContentReadStreamAsync, which means it's trying to serialize all of the parts to a MemoryStream which it can then return.  It should instead return a custom stream that reads from each part in turn, just as its override of SerializeToStreamAsync doesn't try to store the whole thing into a byte[

[2016-06-12 21:12] joshfree commented on #9369
Thanks @GSPP!  @bartonjs take a look and tag this as appropriate.

[2016-06-12 21:13] joshfree commented on #9040
latest libuv with proper MIT licensing is already in core-setup (as of earlier today)

[2016-06-12 21:16] joshfree commented on #9040
@cston is taking care of Roslyn

[2016-06-12 22:26] srinigithub2016 opened #9376 "System.Diagnostics.PerformanceCounter is missing in .Net Core"
missing  Performance counter in .Net Core

[2016-06-13 04:25] jkotas opened #9379 "Improve test coverage for Comparer/EqualityComparer of enums"
The runtime has special logic to create Comparer/EqualityComparer of enums, but we do not seem to have any tests to exercise these special paths.

[2016-06-13 04:26] jkotas commented on #9379
cc @jamesqo

[2016-06-13 05:03] kzu commented on #2127
PR provided :+1:

[2016-06-13 06:30] ellismg commented on #2127
@terrajobst How do I schedule a slot for this?

[2016-06-13 09:54] zenitfan219 opened #9383 "Hello. Is it possible to install CoreFX to a custom folder?"
Is it possible to install CoreFX to a custom folder after the building from sources?

Command to build:
`./build.sh x64 debug`

But in this case CoreFX installs to a current folder. What command I must enter to onfigure sources and instal to a custom folder?
PS: OS Ubuntu 16.04 LTS. Problem with building are missing.

[2016-06-13 11:26] atanasa commented on #4561
@zhenlan, is it possible instead of waiting for a new generator and IL persistence, to make the code that was generated using sgen.exe or svcutil.exe compile under .Net Core?

[2016-06-13 11:48] stephentoub commented on #4900
It'd be great if this could be addressed for 1.1.  The Unix implementation is mirroring this behavior (https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncContext.Unix.cs#L14-L23), which is in turn making it difficult to put in place some important optimizations in the managed WebSockets implementation we're using on Unix.  All operations end up co

[2016-06-13 13:41] GSPP commented on #9379
Copying over my comments to here:

<hr>

Quote:

The comparer tests also seem quite ad-hoc. I'd do it like that:

[code]

And then:

[code]

That makes it easy to add cases, cleans up the very verbose tests and reduces the number of cases by half.

Can be extended for other cases as well such as `x.A.CompareTo(x.B)`.

And to be clear, the code shown above is a rough sketch. If this approach is bei

[2016-06-13 14:51] AtsushiKan commented on #6078
Thanks for the feedback. Based on the comments and my own investigation, I'm closing this as won't fix.

[2016-06-13 14:51] #6078 closed

[2016-06-13 14:54] AtsushiKan commented on #3077
Closing based on my comment above.

[2016-06-13 14:54] #3077 closed

[2016-06-13 15:01] AtsushiKan commented on #9058
Yes, but any number of crypto algorithms already in the stack can do that. What I'm looking for is is there an existing scenario that needs this particular encryption scheme. This api's encryption uses key material that's only good for the current logon session so it's unlikely there would be long-term persisted data that needs to be decrypted here. I'm looking for something like "Important server

[2016-06-13 15:15] gkhanna79 commented on #8091
Assigning to @weshaggard who has been driving guidance for FX/Library authors.

[2016-06-13 16:11] joperezr commented on #9383
Hi @zenitfan219 thanks for posting your question. There is no easy way of selecting the drop folder of the build output. However, corefx itself doesn't install in that directory, only the output is dropped there. If you want to use the corefx that you just built in a different project, you can do this by referencing the packages that get produced in `<corefxRepoPath>/bin/packages` from your projec

[2016-06-13 16:26] pgavlin commented on #4900
Just a note that there are tests that expect the existing behavior. I don't remember the exact cases, only that they exist. This is how I found out I was missing something in an early *nix Sockets implementation, which completed some operations synchronously. IIRC the pattern to look for is `Assert.True(socket.*Async())`.

[2016-06-13 16:48] ericstj commented on #9040
This has been done for corefx, coreclr, and WCF.

[2016-06-13 16:48] #9040 closed

[2016-06-13 16:54] weshaggard commented on #8091
The below will go into the release notes.

**Issue:**
Some libraries that Pinvoke into api-set's and target .NET Framework in our nuget packages might fail to run on Windows 7.

**Workarounds:**
Some of the api-sets are installed by the UCRT update: https://support.microsoft.com/en-us/kb/2999226
Not all though. I don't think this has LibraryLoader which is required by WinHttpHandler. There appear

[2016-06-13 16:54] #8091 closed

[2016-06-13 16:55] bartonjs commented on #9369
There are both good and bad sides to this idea.

The succinctness, composability, and reduced strain on the finalizer are all good.  But "mess up code quality" is hard to gauge... if you're hashing a lot then it's better to hold the hash object across calls to avoid the setup/teardown overhead.

If we were to make it a static method then we need to make it thread safe (by the general rules of the

[2016-06-13 17:21] GSPP commented on #9369
I like the new class idea.

There could be an overload for `Stream` and, more questionably, an overload for `string, Encoding`. Hashing strings is common and often done wrong because the encoding aspect is not understood. This overload would gently inform the user that the encoding is an important choice.

I did not think of sharing the object. I like that a lot! That would increase efficiency to

[2016-06-13 17:29] blackdwarf opened #9389 "Release notes for the uCRT dependency on Windows"
With 1.0 of .NET Core, all applications that target .NET Core and run on Windows have a [Universal CRT (UCRT)](https://blogs.msdn.microsoft.com/vcblog/2015/03/03/introducing-the-universal-crt/) dependency. This dependency is needed on all non-Windows 10 editions. This especially impacts the [self-contained](https://dotnet.github.io/docs/core-concepts/app-types.html) applications, as it means that

[2016-06-13 17:48] mellinoe commented on #9350
@stephentoub @davidsh How do we feel about the raw-sockets ping and the "non-elevated" ping behaving differently here? The proposed change here would be:

* Support `PingOption` in the Unix raw sockets implementation. Unix sockets support these options now.
* Throw a `NotSupportedException` if `PingOptions` are used without raw socket permissions, instead of ignoring the parameter.

[2016-06-13 17:50] stephentoub commented on #9350
This means that code written against 1.0 would start throwing NotSupportedException when upgraded?

[2016-06-13 17:54] joshfree commented on #9389
How will it fail.  What is the exact message?  This will help with search results

Please include the exact update name.  Also include links to the correct download center page.

[2016-06-13 18:00] blackdwarf commented on #9083
@MattGal what is the exact error when things fail?

[2016-06-13 18:07] blackdwarf commented on #9389
The links and name is in there, waiting for the exact error message.

[2016-06-13 18:11] keyurtechy commented on #1420
Can anyone give the answer..
while migration from RC1 to RC2 in stacktrace class
GetFrame(trace.FrameCount - 1).GetFileLineNumber(); this methods are not more available
need to write as
.GetFrames().GetValue(trace.GetFrames().Length - 1)
But there is no any method or property to find Line Number ..
can any one answer how to get LineNumber weher error occurs.

[2016-06-13 18:20] ianhays commented on #9389
This isn't true of the clrcompression shipped stable as 4.0.1. https://github.com/dotnet/corefx/issues/9083 had to do with the clrcompression that we were building in the open. Because of the packaging mishap and subsequent fallback to the clrcompression built from TFS, the clrcompression we shipped does not have a UCRT dependency. It is the older version (identical to the one from RC2) that links

[2016-06-13 18:21] ianhays commented on #9389
cc: @ericstj

[2016-06-13 18:34] mellinoe commented on #9350
Yes, that would happen. Instead of ignoring the parameter, we'd throw.

[2016-06-13 18:36] davidsh commented on #9350
That would be a breaking change.  You can't add new exceptions being thrown from one release to the next.

[2016-06-13 18:43] mellinoe commented on #9350
Yes, I'm aware it would be a breaking change. Shouldn't we have a bit more flexibilty to make breaking changes like this in our .NET Core libraries, especially on new platforms?

[2016-06-13 18:44] davidsh commented on #9350
@ericstj can comment on the rules for breaking changes.  But I don't think doing a breaking change like that from 1.0 to 1.1 is a good idea.

[2016-06-13 18:48] irwiss commented on #9350
I'd argue that majority of the code that currently enjoys being error free is also currently completly broken, you don't specify PingOptions out of the blue, you only need it for a specific purpose and ignoring it is already a silent breaking change vs running on windows

[2016-06-13 19:19] blackdwarf commented on #9389
@ianhays I'm sorry, I'm unsure that I understand. What is the effect of what you said on this issue? Makes the release notes invalid/not needed?

[2016-06-13 19:32] ianhays commented on #9389
That is correct. The problem from #9083 is not present in the clrcompression that we shipped, so the release note addition of ucrt notes is not necessary.

[2016-06-13 19:39] blackdwarf commented on #9389
So...do I just close this down and remove this from the RTM known issues? What versions then does this dependency impact? RC2?

[2016-06-13 19:41] hsorbo commented on #8712
I stole some creds from here https://github.com/aspnet/Security/blob/dev/test/Microsoft.AspNetCore.Authentication.Test/JwtBearer/JwtBearerMiddlewareTests.cs

With the latest revision you should be able to get  System.ArgumentNullException in the console on mac.

The token is too old to work properly on any system, but at least you'll get different log for windows/mac

Hope this helps.

[2016-06-13 19:44] gkhanna79 commented on #9389
@ianhays is simply saying that clrcompression does not have that dependency since they reverted. The rest of the product does have dependency on uCRT.

[2016-06-13 19:44] ianhays commented on #9389
Yes.

The UCRT dependency impacts any future forks from master and all builds from master. The reversion to the TFS clrcompression occurred only in the release branch. This will need to be something we fix for 1.1.0, but #9083 is tracking that. The clrcompression shipped in RTM was the same one we shipped in RC2 - neither of which use the UCRT.

[2016-06-13 19:58] bartonjs commented on #9171
Release note contents:

### OS X has an external dependency on OpenSSL

.NET Core uses OpenSSL as the provider for cryptographic primitives and the SSL/TLS protocol. While there is a pre-installed version of OpenSSL on OS X 10.11, that version is no longer supported, and is not used by .NET Core.  In order to satisfy the OpenSSL dependency, `libcrypto.1.0.0.dylib` and `libssl.1.0.0.dylib` must be

[2016-06-13 19:58] #9171 closed

[2016-06-13 20:40] bartonjs commented on #9244
Release note contents:

### Debian users may experience unexpected failure when using SSL/TLS

When new Root Certificate Authorities are being created it is not uncommon for the new CA public key to be "cross certified" by an existing Certificate Authority to boostrap the trust relationship into existing environments.  For example, the "Baltimore CyberTrust Root" CA was cross-certified by the exis

[2016-06-13 20:40] #9244 closed

[2016-06-13 20:42] ericeil commented on #9046
Linked to the [Bash on Windows issue](https://github.com/Microsoft/BashOnWindows/issues/520) from the release notes.

[2016-06-13 20:42] #9046 closed

[2016-06-13 20:48] ericeil commented on #9124
Added this to the release notes for 1.0 RTM.  Moving this tracking issue to 1.1.

[2016-06-13 21:03] xplicit opened #9392 "dotnet cli does not restore netstandard framework"
Originally posted https://github.com/dotnet/cli/issues/3532

## Steps to reproduce
run `dotnet restore` on the following project.json

project.json

    {
      "dependencies": {
        "NETStandard.Library": "1.5.0-rc2-24027"
      },
      "frameworks": {
        "netstandard1.1": {
            "dependencies" : {
	         "System.IO" : "4.0.0-*",
             }
         }

      },
      "vers

[2016-06-13 21:22] svick commented on #9392
I think this part of the page you linked to is important:

So, you should reference the 4.1.0-rc2-24027 version of the System.IO package and since the framework is `netstandard1.1`, you will get the 4.0.0 version of the System.IO API.

If you really wanted to use the 4.0.0 version of the System.IO package, you would need `"imports"`.

[2016-06-13 21:22] #1820 closed

[2016-06-13 21:24] zenitfan219 commented on #9383
Okay, thank You for yor answer. Then next question.

Can I use built packages in <corefxRepoPath>/bin/packages without source code? I want to delete source code without <corefxRepoPath>/bin directory. Does it work?

[2016-06-13 21:37] mellinoe commented on #9392
What @svick said is correct. Because you've specified `"System.IO" : "4.0.0-*"` in your dependencies, you will get version `4.0.0` of the nuget package, which does not support `netstandard1.1` (the nuget package was created before we even came up with `netstandard`).

[2016-06-13 21:45] xplicit commented on #9392
looks like `dotnet restore` works with version "4.1", but if 4.0 package does not support netstandard at all, why `dnu restore` works with this project.json?

[2016-06-13 21:47] joperezr commented on #9383
I'm not 100% sure I get your question, but if what you want to know is if the built packages are self-contained meaning that they don't depend on source code being in your machine, then that is correct. You only need the source code to build the packages, but once they are built, you can delete all of the repo code entirely from your machine, and just reference the packages that were produced.

[2016-06-13 21:53] CarolEidt commented on #8825
This has been fixed in coreclr and will be fixed in a future release of the desktop CLR. There are two workarounds:

- The first is to set COMPlus_EnableAVX=0.
- The second is to declare at least one additional local variable, as is done in this example

[2016-06-13 21:53] #8825 closed

[2016-06-13 21:57] xplicit commented on #9392
If I change `System.IO` to `System.Net.Http` then I get:

Package System.Net.Http is not compatible with netstandard1.1
when I put : "System.Net.Http" : "4.0.0-*"

And
'Unable to resolve 'System.Net.Http (>=4.1.0-rc2)' for '.NETStandard,Version=v1.1'
If I put `4.1.0-rc2-*` or `4.1.0-*`

[2016-06-13 22:07] Diastro commented on #7129
+1 This is also a feature we are interested in.

[2016-06-13 22:09] mellinoe commented on #9392
`dnu` has not been updated in a long time, so I would be surprised if the restore operation was actually correct, even if the tool didn't give you an error.

Can you try this version of System.Net.Http? It supports `netstandard1.1`.

https://www.nuget.org/packages/System.Net.Http/4.0.1-rc2-24027

[2016-06-13 22:09] ellismg opened #9394 "[macOS] Move standard cryptographic operations from OpenSSL to Apple's libraries"
Today when you install openssl via brew, it may print a message saying "Apple has deprecated use of OpenSSL in favor of its own TLS and crypto libraries".

We should add to the release notes that this is expected and lay out our plan on moving off OpenSLL and onto Apple stuff (maybe it happens for 1.1?, I think right know it's in the "we will do this in the future" bucket, but it would be good for

[2016-06-13 22:12] xplicit commented on #9392
OK, with `System.Net.Http` there is a documentation issue on the page https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md It states version `4.1.0`
Version 4.0.1 works with with `dotnet restore`. I think the issue can be closed

[2016-06-13 22:12] #9392 closed

[2016-06-13 22:22] xplicit commented on #9392
@mellinoe Just FYI: `dnu restore` creates correct project.lock.json and it references recent nuget packages from NETStandard.Library

[2016-06-13 22:30] bartonjs commented on #9394
I merged the part about the warning in with the part of "we have a dependency" and "here's how to make an app-local copy" in https://github.com/dotnet/corefx/issues/9171#issuecomment-225690458.

I seriously doubt we'll be moving to CommonCrypto in 1.1; it's too big of a change in an already packed release.  But I'll leave this open for 1.1 tracking that we should come up with either a plan, or a t

[2016-06-13 22:34] ericstj commented on #9389
Here's what I see on a machine without uCRT.
![image](https://cloud.githubusercontent.com/assets/8918108/16025465/5e2a8d04-317c-11e6-9943-3c25d2271cc2.png)

[2016-06-13 22:45] zenitfan219 commented on #9383
Thank you, @joperezr.

And the last question. Can I build CoreFX not in repo folder?

[2016-06-13 22:55] nmunday commented on #8622
@sqmgh thanks for the pointers. I did indeed find the class once I added the SqlClient reference. Not sure how I missed it. The code is now working. I was always unsatisfied with loading a DataTable just to then send it to a stored procedure. Seemed like a waste of memory and resources. Now by streaming with SQLDataRecord I can avoid the load altogether. Thanks again.

[2016-06-13 23:16] mellinoe commented on #9383
Do you mean if you do no have corefx in a git repository? Right now, it does not work, but that's something we should fix, in my opinion. We have some build steps that add assembly metadata based on  some git information. We should be able to skip that step if there is no git repository.

For now, you'll need to be in a git repo to build.

[2016-06-13 23:43] blackdwarf commented on #9389
Thanks @ericstj so it seems that we still need this. With the error I think we're good to go.

[2016-06-14 00:28] shmao opened #9397 "DCS Deserialization Failure with PreserveObjectReferences Set to true"
DCS failed during deserialization when PreserveObjectReferences is set to true. See below for an example of the error message:

[code]

Serializing and de-serializing the following root object would repro the issue.

[code]

[2016-06-14 02:18] dotnet-mc-bot opened #9400 "This is a TEST ISSUE:Test failure: System.Diagnostics.Tests.ProcessTests.TestBasePriorityOnUnix"
Opened on behalf of @alexperovich

The test `System.Diagnostics.Tests.ProcessTests.TestBasePriorityOnUnix` has failed.

    System.ComponentModel.Win32Exception : Permission denied

Stack Trace:

       at System.Diagnostics.Process.set_PriorityClassCore(ProcessPriorityClass value)
       at System.Diagnostics.Process.set_PriorityClass(ProcessPriorityClass value)
       at System.Diagnostics.Tests

[2016-06-14 02:21] dotnet-mc-bot opened #9401 "Test failure: System.Diagnostics.Tests.ProcessTests.TestBasePriorityOnUnix"
Opened on behalf of @alexperovich

The test `System.Diagnostics.Tests.ProcessTests.TestBasePriorityOnUnix` has failed.

    System.ComponentModel.Win32Exception : Permission denied

Stack Trace:

       at System.Diagnostics.Process.set_PriorityClassCore(ProcessPriorityClass value)
       at System.Diagnostics.Process.set_PriorityClass(ProcessPriorityClass value)
       at System.Diagnostics.Tests

[2016-06-14 02:21] Chrisboh commented on #9400
Closing

[2016-06-14 02:21] #9400 closed

[2016-06-14 02:21] #9401 closed

[2016-06-14 02:30] xyting opened #9402 "X509Certificates cannot be used in Mac?"
I can `dotnet build` my Asp.Net Core RC2 code in OS X, but `dotnet run` throw following exception

(.NETCoreApp,Version=v1.0) was previously compiled. Skipping compilation.
Unhandled Exception: System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> Interop+Crypto+OpenSslCryptographicException: error:2006D080:BIO routines:BIO_new_file:no such fil

[2016-06-14 08:46] zenitfan219 commented on #9383
No.
I mean if I clonned CoreFX repo to my PC to folder `/home/<username>/MS_GIT/corefx` and produce building in folder `/home/<username>/MS_BINARIES/corefx/bin`. Is it possible?

[2016-06-14 10:56] stephentoub opened #9407 "ClientWebSocket_Abort_CloseOutputAsync failed in CI on Unix"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/2082/consoleText
[code]

[2016-06-14 11:06] stephentoub commented on #9407
Related but different test, same issue here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_release/502/consoleText
[code]

[2016-06-14 11:10] stephentoub opened #9408 "CloseAsync_CloseDescriptionIsMaxLengthPlusOne_ThrowsArgumentException periodically throwing wrong exception on Unix"
[code]

[2016-06-14 11:13] stephentoub opened #9409 "QuaternionCreateFromYawPitchRollTest2 failed in CI on OSX"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_osx_release/72/consoleText
[code]
cc: @mellinoe, @RussKeldorph

[2016-06-14 11:17] stephentoub commented on #7806
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_win10_debug/64/consoleText
[code]

[2016-06-14 12:12] stephentoub commented on #9357
@joshfree, you marked this as release notes.  What's the note?  Have we confirmed there's an issue?  I tried the example and couldn't repro.

[2016-06-14 12:20] darkstar opened #9410 "build.sh script hammering proxy"
When trying to build corefx via the build.sh script, at some point it fetches some data from https://dotnetmyget.blob.core.windows.net

This is hammering our proxy with 5-10 requests per second, which in turn causes the proxy to rate-limit and  stall/disconnect the client, which in turn leads to failures during the build stage:

[code]

the problem is that there is no way of recovering from such a

[2016-06-14 12:23] stephentoub commented on #9235
Release note contents:

### Socket.Connect and ConnectAsync instance methods support only one IPAddress

The Socket class provides instance and extension Connect and ConnectAsync methods, each with multiple overloads.  Some of these overloads take an IPAddress, some take an array of IPAddresses, some take a string host name, and others take an EndPoint.  On Linux and on OSX, only some of these met

[2016-06-14 12:23] #9235 closed

[2016-06-14 13:26] joshfree commented on #9357
@stephentoub, @ericeil is supposed to take a look and reproduce the issue.

[2016-06-14 13:28] stephentoub commented on #9357
I understand, which is why I'm questioning the "release notes" tag.

[2016-06-14 13:54] HenryGarle opened #9413 "System.IO.FileSystem.DriveInfo is missing from .Net Core"
System.IO.FileSystem.DriveInfo is missing

https://github.com/dotnet/corefx/tree/master/src/System.IO.FileSystem/src/System/IO

https://dotnet.github.io/api/System.IO.DriveInfo.html

[2016-06-14 14:04] joshfree commented on #9357
@stephentoub it's a war triage thing.  This is a potential issue that won't block 1.0 from shipping but should be investigated and assuming it's valid should be added to the known issues list then moved to 1.1.

The other ~9 release notes bugs were investigated, doc'd, and closed yesterday; which may be why this one is standing out now.  It should be resolved today as well.

[2016-06-14 14:30] ianhays commented on #9413
It's still included in .NET core; it's just in its own assembly: https://github.com/dotnet/corefx/tree/master/src/System.IO.FileSystem.DriveInfo

[2016-06-14 14:56] sqmgh commented on #8622
@nmunday No problem, and glad I could help. I was doing the exact same thing in the past, and I felt the exact same way before I discovered that I could just yield SqlDataRecords.

After that point I basically never used DataTable again. Now they just seem like a janky and overly complex for what you get ORM.

I suppose could potentially see some use for them in a very quick application where you

[2016-06-14 14:56] HenryGarle commented on #9413
My mistake, you are absolutely right. Visual studio and nuget were fighting against it but its installed and functional. Sorry for the waste of time!

[2016-06-14 14:56] #9413 closed

[2016-06-14 14:56] #9240 closed

[2016-06-14 14:59] ianhays commented on #9413
No worries at all :) Happy coding!

[2016-06-14 15:20] bartonjs commented on #9402
This looks just like a file not found situation.... `mycode.Startup.ConfigureServices` is opening a PFX that doesn't exist.

* Did your PFX get deployed with the rest of the application?
* Is it actually at the path (presumably relative) that you expect?
* Did you use Path.Combine to get the correct directory separator, or did you use Windows backslashes?

[2016-06-14 15:58] stephentoub commented on #9357
Well, FWIW, I've not been able to repro this locally.  I also put up the repro as a test in https://github.com/dotnet/corefx/issues/9414; it passed the test in all legs, and separately I submitted a private job on Ubuntu 16.04 to Jenkins, and it also passed the test.  The error message "Failure when receiving data from the peer" is CURLE_RECV_ERROR, which typically means curl simply had trouble re

[2016-06-14 16:31] joperezr commented on #9383
No. There is no easy way to have the output of the build be a folder different than the `<repoRoot>/bin`. That said, you could easily just wait for the build to finish and then either manually or by a script copy the outputs (all of the bin directory) to a different folder in your machine, and then use that. The reason why there is no easy way to do this is because every time you run build.sh, we

[2016-06-14 16:39] varocarbas commented on #6831
While further working on this library (still not too much, still too many things going on), I have got even more ideas to extend it. Finally, I have decided to build a wider parsing library taking care of more things than just magnitudes (e.g., equations). It is expected to be a very scalable/modular/comprehensive framework relying on the ideas shown in my last posts (i.e., very programmer-friendl

[2016-06-14 16:53] stephentoub opened #9416 "System.Dynamic.Runtime and System.Runtime tests hanging in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/2040/consoleText

Both the System.Dynamic.Runtime.Tests and the System.Runtime.Tests are hanging.

Note that we just picked up a new CoreCLR: rc4-24214-02.  I don't know if this is related, but to my knowledge we haven't seen these hang like this before.
cc: @jkotas, @sergiy-k

[2016-06-14 17:02] stephentoub commented on #9416
I was able to attach a debugger before Jenkins killed the process.  It looks like it might be stuck in an infinite loop.  Every time I continue and then interrupt the process, I see one of the threads here:
[code]

[2016-06-14 17:09] jkotas commented on #9416
@stephentoub Could you please capture stacktraces for all threads in the process so we can tell for sure?

cc @janvorli

[2016-06-14 17:11] stephentoub commented on #9416
Here's all of the threads from the System.Runtime.Tests process:
[code]

And here are all of them from the System.Dynamic.Runtime.Tests process:
[code]

[2016-06-14 17:19] bartonjs opened #9417 "[PostRTM] Introduce .depproj references for newly stable packages"
The stable versions of contracts are embedded via a .depproj; rather than continuing to rebuild them (and potentially rewriting history).

As part of our Post-RTM tasks we should change .csproj to .depproj as appropriate, holistically.

[2016-06-14 17:22] bartonjs opened #9418 "[PostRTM] Change project.json references to stable packages"
Part of the problem with the build frequency (#9156) is that the project.json updates frequently end up with merge conflicts (not only between the bots, but between the bots and humans).

If all of the existing references are snapped to the stable versions the updates won't be editing any files, and will continue to not need to edit any files until live dependencies on new contract API starts to c

[2016-06-14 17:42] erikpowa commented on #9357
I just ran more PostAsync test, realized the remote got cloudflare on it. Running on Windows I get response but Ubuntu.. and because calling the curl from terminal is working (on Ubuntu), don't know how with .net doesn't. I'm currently digging more, maybe I'm missing something.

[2016-06-14 18:19] joshfree commented on #9357
Moving to 1.1 based on current information

[2016-06-14 18:19] gkhanna79 commented on #9416
CC @janvorli

[2016-06-14 18:31] erikpowa commented on #9357
I sent a cloned request (headers) to bypass cloudflare, but not working (works on windows).
Noone ever ran into this issue?
I still can't figure it out if it's my-miss-coding / client-side / server-side failure / curl.

[2016-06-14 18:32] stephentoub commented on #9357
@erikpowa, in your repo you're connecting to example.com.  I assume you're actually connecting to a different site?  Is that something you can share with us?

[2016-06-14 18:35] erikpowa commented on #9357
Yes, different.
It would be better in private :)

[2016-06-14 18:46] ellismg commented on #9410
The hammering is likely coming from dotnet restore's parallel restore behavior.  Could you try editing init-tools.sh to add `--disable-parallel` [here](https://github.com/dotnet/corefx/blob/master/init-tools.sh#L70)?  A similar edit may be necessary in [dir.props](https://github.com/dotnet/corefx/blob/master/dir.props#L162) since we also build a dotnet restore command there.

[2016-06-14 18:59] dsgouda opened #9420 "System.Runtime.Serialization.Formatters takes dependency on xunit.performance but has no perf tests"
The perf tests are currently detected by figuring out which tests take a dependency on xunit.performance and running those test dlls with xunit performance runner.
System.Runtime.Serialization.Formatters seems to take a dependency on xunit.performance but does not have a perf test to execute
To repro: ``` msbuild .\src\System.Runtime.Serialization.Formatters\tests\System.Runtime.Serialization.Form

[2016-06-14 19:08] viniciusvillas commented on #984
+1
@ellismg Scenarios where I can use serial port in a server: to send commands to GSM modems (a Web API service to send SMS text messages, for example) and to communicate to sensors and IoT devices (like *dunio or ESP8266). This is a **_must have_** feature, IMHO. .NET Core is very appealing to me in my line of work (general automation) because of its portability, but is also useless to me withou

[2016-06-14 19:11] stephentoub commented on #9357
Thanks, @erikpowa.  @ericeil and I will get in touch with you offline.

[2016-06-14 19:55] joshfree commented on #9389
Thanks all.  @blackdwarf can you post something here that can be copy and pasted by @leecow for the rel notes (and then also put it in the OneNote).  After that, feel free to close this issue.

[2016-06-14 19:59] gkhanna79 commented on #9416
@stephentoub Is it possible to get managed frames for all the threads?

[2016-06-14 20:06] stephentoub commented on #9416
Not anymore. I lost the process after I tried to step after Jenkins signaled to tear down the process.

For future reference, is there an equivalent to "bt all" that works with "clrstack -f"?  Or would I need to thread select each thread and do a clrstack on each?

[2016-06-14 20:36] blackdwarf commented on #9389
@joshfree here is the text:

With 1.0 of .NET Core, all applications that target .NET Core and run on Windows have a [Universal CRT (UCRT)](https://blogs.msdn.microsoft.com/vcblog/2015/03/03/introducing-the-universal-crt/) dependency. This dependency is needed on all non-Windows 10 editions. This especially impacts the [self-contained](https://dotnet.github.io/docs/core-concepts/app-types.html) ap

[2016-06-14 20:37] #9389 closed

[2016-06-14 20:56] stephentoub opened #9423 "TcpClient.Dispose used concurrently with ConnectAsync may not Dispose of the Socket"
TcpClient is not documented to have thread-safe members, and in general Dispose implementations should not be used concurrently with other members on the containing types.  However, as TcpClient is a thin wrapper for a Socket, code may end up calling Dispose on the TcpClient in order to cancel in-progress async operations, such as ConnectAsync.  However, on Unix, ConnectAsync is implemented by cre

[2016-06-14 20:59] dotnet-mc-bot opened #9424 "TEST BUG!!!! Test failure: System.Diagnostics.Tests.ProcessTests.TestBasePriorityOnUnix"
TEST ISSUE THINGEY!!! Opened on behalf of @alexperovich

The test `System.Diagnostics.Tests.ProcessTests.TestBasePriorityOnUnix` has failed.

    System.ComponentModel.Win32Exception : Permission denied

Stack Trace:

       at System.Diagnostics.Process.set_PriorityClassCore(ProcessPriorityClass value)
       at System.Diagnostics.Process.set_PriorityClass(ProcessPriorityClass value)
       at Sy

[2016-06-14 20:59] #9424 closed

[2016-06-14 21:03] dkharlap opened #9425 "No PartConventionBuilder.Export(Type) method"
There is no PartConventionBuilder.Export(Type) method, only PartConventionBuilder.Export<Type>(), thus there is no way to export a dependency unless it's interface or class is known at compile time. At the same time, there are methods like:

CompositionHost.GetExport(Type)
ConventionBuilder.ForType(Type)

etc., so I assume the PartConventionBuilder limitation is not there by design? Besides, as fa

[2016-06-14 21:05] joperezr commented on #9410
I can do that, and make it to be parallel by default and just provide a way to disable it.

[2016-06-14 21:12] SamuelCox opened #9426 "What is the story for Distributed Systems in .NET"
Hi,
This is a very general question about .NET so I'm not sure it really goes here, but I have no idea what repo I would put it in at all so best guess is here.
 My questions quite simple, Distributed Systems have become a massive trend in the past couple of years, what is the story for them in .NET ? It doesn't really feel like they're a first class scenario, and the only great .NET librarys I ca

[2016-06-14 21:16] SamuelCox commented on #9426
To give some context, this post was brought on at least partly by this blog:
http://byterot.blogspot.co.uk/2016/06/after-all-it-might-not-matter-commentary-status-of-dotnet-dotnetcore-csharp-oss-fsharp-dnx.html

[2016-06-14 21:34] ianhays commented on #6602
One of my main concerns with this is that the managed implementation is buggy and inefficient and terribly dated. Before we switched to using zlib, [Mark Adler frequently advocated using a third party library instead of our Compression](http://stackoverflow.com/questions/11435200/why-does-my-c-sharp-gzip-produce-a-larger-file-than-fiddler-or-php/11435898#11435898). That's a pretty bad sign when th

[2016-06-14 21:41] #8039 closed

[2016-06-14 21:59] stephentoub opened #9427 "Several DateTimeOffset tests fail in certain timezones on Linux"
e.g.
[code]

[2016-06-14 22:09] zenitfan219 commented on #9383
Thank you for your answers!

[2016-06-14 22:09] #9383 closed

[2016-06-14 22:20] karajas opened #9428 "Move TestSuite package to dotnet-core feed"
To improve perf of restore and avoiding hitting multiple feeds, move the new sets of packages to the dotnet-core feed and not the dotnet-buildtools feed.

[2016-06-14 22:24] i3arnon commented on #9423
I Just yesterday published a post pretty much saying this shouldn't happen: [Not All Beginnings Must Have An End](http://blog.i3arnon.com/2016/06/13/idisposable-trumps-apm/)

I should have checked the x-plat implementation first...

[2016-06-14 22:45] stephentoub commented on #9416
Looks like this run hung on CentOS in System.Dynamic.Runtime.Tests as well:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/185/consoleText
[code]

[2016-06-14 23:11] joperezr commented on #9383
sure no problem! happy to help :smile:

[2016-06-15 00:27] bartonjs commented on #8712
Okay... so I made a new project, copied in those two files... and... nothing happened.  What am I supposed to do to see the exception? :)

[2016-06-15 00:31] bartonjs commented on #9417
Per a chat with EricStJ, this should only be done for subdirectories of the ref directory, but not ref itself.

Therefore System.Security.Cryptography.Algorithms\ref\{4.0,4.1}, but not System.Security.Cryptography.Algorithms\ref.  That way the (root) ref directory is always viewable in history as the changes of the contract over time.

And ApiCompat keeps us honest about bumping that version when

[2016-06-15 01:07] omariom commented on #9426
Two servers communicating via ASP.NET Web API or WCF  is a distributed system.

Buy if you are interested in actors and autoscaling and resilience look at  Service Fabric.
https://channel9.msdn.com/Events/Build/2016/B874

[2016-06-15 02:21] ericstj opened #9433 "HttpWebResponse.ContentType returns empty string when response has malformed headers"
Copied from https://github.com/dotnet/coreclr/issues/5806
/cc @erezvani1529

The content-type property is being stripped off of response if it is not in "type/subtype" format.

Information on the project and target frameworks:
- .NetCore Console App
- project.json

[code]

Sample fiddler trace using WindowsAzure.Storage client library(CoreCLR RC2 release):

[code]
result: ContentType doesn't have

[2016-06-15 03:04] davidsh commented on #9433
What HttpClient API is being used to retrieve the 'Content-Type' response header?  There are several different ways to retrieve it via the `HttpResponseMessage.Content.ContentType` property or other ways.

Does this work in .NET Framework (Desktop)?

[2016-06-15 07:18] tmds commented on #7812
I also get occasionally get this error using System.Net.Http 4.1.0 on Windows with a custom ServerCertificateCustomValidationCallback.

[2016-06-15 07:57] sergiy-k commented on #9416
It looks like this is not a new problem and it happened already before. Here is from June 10th: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/121/

[2016-06-15 08:57] markvincze commented on #7623
Just to double-check: will this - particularly the support for `ClientCertificateOptions` - be part of the RTM release, and will it support Linux?

[2016-06-15 09:16] hsorbo commented on #8712
`dotnet restore && dotnet` test in the same folder as project.json. The exception should appear in the log-output og the test

[2016-06-15 09:17] hsorbo commented on #8712
`dotnet restore && dotnet test`

[2016-06-15 10:46] benaadams commented on #4530
@CIPop this is a perfview of our current allocators and `WebSocketReceiveResult` is about 17th on the list

![types-allocated](https://aoa.blob.core.windows.net/aspnet/websocketreceive.png)

[2016-06-15 11:19] darkstar commented on #9410
Okay, disabling the parallel downloads improved it somewhat, but I still get occasional timeouts from the proxy:
[code]

But I think this might be due to out company policies, and it works fine when you're having a direct connection to the internet.

I still think it would be a good idea (long-term) to check all downloads and only download those packages that have not been fully downloaded, that w

[2016-06-15 12:29] stephentoub commented on #7623
Yes and yes.

[2016-06-15 12:37] akoeplinger commented on #9410
That part should be fixed with https://github.com/dotnet/corefx/pull/8621

[2016-06-15 13:39] ClintBailiff commented on #2089
I have confirmed that an **ASP.NET Core Web Application (.NET Framework) RC2** project can reference a class library that uses System.DirectoryServices.AccountManagement.  I could only get it to work when both the web application and the class library are created with VS 2015 Update 2 and both use .NET Framework 4.6.1.

[2016-06-15 15:07] wangyanjun commented on #9426
I have the same question. do we have any equivalent systems(for examples: Hadoop, spark, hive and so on), or at least some interactive methods. such systems are very important for today's development. Cloud services may be not suitable sometimes. So I think the new .NET ecosystem should consider distributed systems serious.
Thanks!

[2016-06-15 15:22] prajaybasu opened #9438 "Parameterize System.Security.Cryptography.Rfc2898DeriveBytes for HMAC"
Currently [System.Security.Cryptography.Rfc2898DeriveBytes](https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/Rfc2898DeriveBytes.cs) is hardcoded to use HMACSHA1, it would be nice if HMAC could be parameterized.
(More specifically, so that developers can use HMACSHA256 for more security.)
Eg : public Rfc2898DeriveBytes(HMAC hm

[2016-06-15 15:35] weshaggard commented on #8091
cc @joperezr

[2016-06-15 15:37] bartonjs commented on #8186
I have this working locally now.  PKCS was slightly difficult in that it reaches back into the cert context, so it had to duplicate the logic of extracting the key handle via CERT_NCRYPT_KEY_HANDLE_PROP_ID.

The EnvelopedCms/RC4 case failed, since I made Ephemeral always load as CNG; so that one needs to continue to load only-non-ephemerally.  And I'd need to go back in and make all of the PKCS te

[2016-06-15 15:40] iSynaptic opened #9439 "RC2: Connecting to SQL Server from Linux Docker Container throws OpenSSL exception"
When connecting to SQL Server from .NET Core 1.0 RC2 running within a Linux container, the System.Data.SqlClient library throws an exception citing issues with the OpenSSL handshake.  Code/steps to reproduce can be found here: https://github.com/iSynaptic/LinuxSqlServer

[2016-06-15 15:40] #9408 closed

[2016-06-15 16:07] saurabh500 commented on #9439
@isynaptic can we have the stack trace?

[2016-06-15 16:11] iSynaptic commented on #9439
`Unhandled Exception: System.Data.SqlClient.SqlException: A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: TCP Provider, error: 35 - An internal exception was caught) ---> System.Security.Authentication.AuthenticationException: A call to SSPI failed, see inner exception. ---> Interop+OpenSsl+SslException: SSL Handshake

[2016-06-15 16:11] saurabh500 commented on #9439
Also what is the SQL server version and  is the issue reproducible  without docker on Linux?

[2016-06-15 16:13] AtsushiKan commented on #6550
I think there are two mitigations we could do.

1. Add an <b>IsOpen</b> property that would enable helper methods like "traverseCerts" to assert that Opened condition.

2. Add new constructor overloads that perform the open action.

        public X509Store(StoreName storeName, StoreLocation storeLocation, OpenFlags flags)
        public X509Store(string storeName, StoreLocation storeLocation, Ope

[2016-06-15 16:38] leecow commented on #9416
Moving to 1.1 because only being seen in Master.

[2016-06-15 16:39] #9427 closed

[2016-06-15 16:40] #9370 closed

[2016-06-15 16:43] bartonjs commented on #6550
@AtsushiKan Sounds good, I'll take both :).

[2016-06-15 16:44] mikem8361 commented on #8981
I'm going to close this issue now that PR #9281 has been merged.

[2016-06-15 16:51] stephentoub commented on #9416
FWIW, it's only been noticed in master, because that's where the majority of builds are happening.  It's of course possible it's only post-1.0, but I wouldn't assume that based on where it's been seen thus far.

[2016-06-15 16:54] MattGal commented on #9083
@blackdwarf from the perspective of a .NET developer, it's a FileNotFound Exception when loading System.IO.Compression, when the assembly is loaded.  These are notoriously bad, and only a certain % of folks will be able to make the leap from System.IO.Compression / Packaging -> clrcompression.dll -> api-ms facades that come with the UCRT install.

[2016-06-15 17:06] GuardRex commented on #4476
@davidsh @mconnew

I'm looking at @mconnew's 2nd code sample in https://github.com/dotnet/corefx/issues/4476#issuecomment-156589870. My scenario is that I have self-signed certs on Linux machines that use a simple `HTTPServer` from `http.server` with an SSL-wrapped socket. I just need to make secure requests to those machines along the lines of ...
[code]
In .NET 4.x days, I used to use `ServicePo

[2016-06-15 17:08] iSynaptic commented on #9439
SQL version is `10.50.1720.0`. I haven't tried reproducing outside of the container - I will now and report back.

[2016-06-15 17:18] AtsushiKan opened #9440 "Enable packages and building for MEF."
Right now, we're in a situation we're shipping packages based on checked in binaries but aren't able to build new binaries (and thus fix bugs) in the MEF code.

[2016-06-15 17:22] iSynaptic commented on #9439
Yes, I can reproduce outside of the container. Running on Ubuntu 14.04.4 LTS...

[2016-06-15 17:40] mellinoe commented on #9440
Is this a dupe of https://github.com/dotnet/corefx/issues/6598?

What do you mean by "we're shipping packages based on checked in binaries"? We dont have any nuget packages being produced for System.Composition. And the code checked in here should build fine, it's just not being packaged.

I have a branch here that adds packages for all of the System.Composition libs, but it's not complete or bug

[2016-06-15 17:52] AtsushiKan commented on #6550
Attaching api review proposal and annotating issue as ready for review.

<b>Proposed Api additions to System.Security.Cryptography.X509Certificates.X509Store</b>

Two new constructor overloads:

        public X509Store(StoreName storeName, StoreLocation storeLocation, OpenFlags flags)
        public X509Store(string storeName, StoreLocation storeLocation, OpenFlags flags)

One new property:

[2016-06-15 17:56] AtsushiKan commented on #9440
Looks like a dupe.

I opened it because I keep getting assigned the MEF bugs but if you’re already on 6598, I’m not demanding to poach it ☺

Feel free to close 9440.

[2016-06-15 17:56] prajaybasu opened #9442 "System.Security.Cryptography.HashAlgorithm implementation / porting ?"
[ .NET 4.6 implementation](http://referencesource.microsoft.com/#mscorlib/system/security/cryptography/hashalgorithm.cs) and [.NETCore implementation](https://dotnet.github.io/api/System.Security.Cryptography.HashAlgorithm.html).
From what I can see, HashCore() is protected, and HashAlgorithm.TransformBlock(), HashAlgorithm.TransformFinalBlock() are not implemented in .NETCore.
Is there any soluti

[2016-06-15 17:58] #9440 closed

[2016-06-15 17:59] mellinoe commented on #9440
Bummer :laughing: . I worked on this briefly earlier in the week, but am working on some more urgent stuff now. It shouldn't take much more work to finish up my branch when I have time.

[2016-06-15 18:02] saurabh500 commented on #9439
@iSynaptic It seems like you are using Sql Server 2008. Is your server patched?
We have faced similar issues with Sql Server 2008 (e.g. https://github.com/dotnet/corefx/issues/5187  ) where installing the patch from https://support.microsoft.com/en-us/kb/2653857 has mitigated the issue.

Can you patch the server and try this?

[2016-06-15 18:02] CIPop commented on #4530
/cc: @himadrisarkar

Thanks @benaadams!

[2016-06-15 18:10] mellinoe commented on #9420
Probably just an accident or a copy-paste error. Feel free to remove it if it's causing issues.

[2016-06-15 18:36] iSynaptic commented on #9439
@saurabh500 I just reproduced the error using Sql Server 2012 Service Pack 1 (version 11.0.3000.0)...

[2016-06-15 18:38] ellismg commented on #9442
/cc @bartonjs

[2016-06-15 18:40] saurabh500 commented on #9439
@iSynaptic Thanks for the update, can I look at your connection string without the credentials?

[2016-06-15 18:41] iSynaptic commented on #9439
Server=MYSERVER.DOMAIN.COM;Initial Catalog=MyDatabase; user id=myusername;password=*********;Application Name=MyApp

(heavily sanitized)

[2016-06-15 18:56] saurabh500 commented on #9439
@bartonjs Looking at the stack trace, this is an unsupported protocol issue.

`System.Security.Authentication.AuthenticationException: A call to SSPI failed, see inner exception. ---> Interop+OpenSsl+SslException: SSL Handshake failed with OpenSSL error - SSL_ERROR_SSL. ---> Interop+Crypto+OpenSslCryptographicException: error:14077102:SSL routines:SSL23_GET_SERVER_HELLO:unsupported protocol`

This

[2016-06-15 19:00] erezvani1529 commented on #9433
@davidsh  Thanks for your quick response.

We use `Content.Headers.ContentType` to get the content type out of `HttpResponseMessage`.

Yes, it works as expected.

[2016-06-15 19:02] stephentoub commented on #9439
SSL2 and SSL3 are explicitly disabled; only TLS 1.0, 1.1, and 1.2 are supported.  Is SQL Server unable to use TLS 1.* for some reason?  Is there configuration that might be set on the server preventing those protocols?

[2016-06-15 19:09] saurabh500 commented on #9439
Sql Server starting 2008 and above supports TLS 1.0 - 1.2
An installation of Sql Server will have one or the other version of TLS enabled which is needed during (at least) PreLogin phase of Sql Server login.

[2016-06-15 19:23] ianhays commented on #9083
Doesn't CoreCLR have a UCRT dependency as well? It seems like it would be hard to get as far as loading *compression without the UCRT since you'd hit failures in coreclr first.

[2016-06-15 19:34] saurabh500 commented on #9439
So far I have tried this repro code with Sql Server 2008, 2012 and 2014 from Ubuntu 14.04.
I couldn't get any failures.
I tried this after removing any .Net core installation and then reinstalling .Net core followed by the repro execution.

The installations of Sql Server are default installations with Service packs installed on them.
@iSynaptic Have you changed anything on the Server side wrt to

[2016-06-15 19:35] iSynaptic commented on #9439
@saurabh500 I haven't, but that's not to say someone else hasn't either. What should I look for?

[2016-06-15 19:35] bartonjs commented on #9442
Incremental hashing was moved out of HashAlgorithm and into [IncrementalHash](https://dotnet.github.io/api/System.Security.Cryptography.IncrementalHash.html), primarily due to the unexpected interactions between TransformBlock and ComputeHash.

IncrementalHash doesn't exist in .NET Framework, but if you reference the System.Security.Cryptography.Algorithms nuget package when targeting .NET Framewo

[2016-06-15 20:02] CIPop opened #9444 "Centos: One or more tests failed while running tests from 'System.Collections.Tests'"
Can't find much in the logs:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/206/consoleFull#-85362248767b4762c-faac-47f0-8268-9f6835e4535e

[code]

[2016-06-15 20:03] CIPop commented on #9444
/cc: @weshaggard @ericstj

Tentatively assigned to @stephentoub: from the history, it's not obvious who owns System.Collections.

[2016-06-15 20:05] stephentoub commented on #9444
This is a seg fault:
[code]
cc: @sergiy-k, @janvorli, @gkhanna79, @joshfree

[2016-06-15 20:08] CIPop commented on #9444
@stephentoub @joshfree Where should I open an enhancement issue for the CI system to search and mark in red the text "Segmentation fault". It would also be good if the initial report would clearly mark it as "Seg fault / Crash".

[2016-06-15 20:11] ericeil commented on #9357
I was able to reproduce this on 1.0.0-preview1-002702.  On more recent bits, this scenario seems to work.  So it appears that this has already been fixed.

[2016-06-15 20:11] #9357 closed

[2016-06-15 20:11] saurabh500 commented on #3183
Overtime this has been taken care by different PRs

[2016-06-15 20:11] #3183 closed

[2016-06-15 20:12] saurabh500 commented on #2444
The issues have been taken care of by PRs from contributors.

[2016-06-15 20:12] #2444 closed

[2016-06-15 20:12] stephentoub commented on #9444
I believe I've now correctly added it to the failure management so that it should be called out on the main leg's page.

[2016-06-15 20:13] MattGal commented on #9083
@ianhays  you might think that, but if you were to set up a Win7 machine without the CRT 14 redist on it and try, you'd see that that is not the case.

[2016-06-15 20:14] ilmax opened #9445 "Add TryParse to XDocument"
Hi, this is a RFC issues to request support for a adding a `bool TryParse(string text, out XDocument document)` method to the `XDocument` class.

I've searched around the repo but cannot find anything related, so if this is a dupe feel free to close.

## Problem:
Sometimes happens that you have to work with XML files that comes from *untrusted* sources, and you have to ensure that the file is actu

[2016-06-15 20:17] davidsh commented on #8947
I opened up a bug with the Windows native WinHTTP team about this.
Ref: 7814885

[2016-06-15 20:17] bartonjs commented on #9439
One thing that could be useful is a network packet capture.  Specifically, seeing what the TLS ClientHello and ServerHello messages were, to find out what TLS version the SQL Server uh.. server.. is trying to negotiate.  For example, `openssl s_client -connect www.microsoft.com:443 -msg` gives:

[code]
msgBytes[4] and msgBytes[5] in these messages represent the protocol version (in this case, `03

[2016-06-15 20:18] CIPop commented on #9444
Nice, Thanks! Is there documentation for how to do this?

[2016-06-15 20:19] stephentoub commented on #9444
https://wiki.jenkins-ci.org/display/JENKINS/Build+Failure+Analyzer

[2016-06-15 20:21] iSynaptic commented on #9439
`openssl s_client -connect MYSERVER.DOMAIN.COM:1433 -msg'

yields:

`CONNECTED(00000003)

    01 00 01 1e 03 03 c8 8b cf cf a6 f4 42 43 ca f2
    b3 fe cf 50 c4 c3 ac 4e 69 73 69 eb 00 a5 2a cf
    b8 3f 24 5a 2a 51 00 00 88 c0 30 c0 2c c0 28 c0
    24 c0 14 c0 0a 00 a3 00 9f 00 6b 00 6a 00 39 00
    38 00 88 00 87 c0 32 c0 2e c0 2a c0 26 c0 0f c0
    05 00 9d 00 3d 00 35 00 84 c0 12 c0 08 00 16 0

[2016-06-15 20:25] bartonjs commented on #9439
IIRC SQL doesn't start off on a TLS connection, but rather negotiates it after the connection is established; so you'll need to do something like Wireshark to capture when the real TLS ClientHello/ServerHello happened.   (@saurabh500, am I remembering correctly?)

[2016-06-15 20:27] saurabh500 commented on #9439
@bartonjs That is correct.
`tcpdump` or `wireshark` captures would give us a better idea.

[2016-06-15 20:27] bartonjs commented on #9438
I thought I had an issue for this; but maybe it was only in the pre-git system.  Anyways, I'm in favor.

[2016-06-15 20:38] blackdwarf commented on #9083
@MattGal so wait...you're telling me that you can, for instance, do the following on a Win7 machine with no UCRT installed:

[code]

And it will work?

[2016-06-15 20:41] iSynaptic commented on #9439
Not sure if this is what you are looking for, but using tcpdump: `tcpdump -s 0 -n dst host {ip address here} -w linux-sql.pcap`

[linux-sql.pcap.zip](https://github.com/dotnet/corefx/files/317167/linux-sql.pcap.zip)

[2016-06-15 20:51] MattGal commented on #9083
@blackdwarf  that's definitely not what I said.  However, since it seems you didn't try it, I did for giggles.   I had to of course uninstall the UCRT that the dotnet msi forcibly brought along, but I could at least do new + restore without the ucrt officially installed, only failing @ run with error CS0041: Unexpected error writing debug information -- 'Windows PDB writer is not available -- coul

[2016-06-15 20:52] gkhanna79 commented on #9444
@janvorli Can you PTAL?
CC @sergiy-k

[2016-06-15 21:11] saurabh500 commented on #9439
@iSynaptic the capture contains only Client to Server interactions and not vice versa. Can you modify your capture to have both interactions?  I think dropping `dst ` from `tcpdump -s 0 -n dst host {ip address here} -w linux-sql.pcap` should allow `tcpdump` to consider the host as both src and dst host.

[2016-06-15 21:18] davidsh commented on #4476
Generally speaking, yes, that pattern should work.

Also, we revised the System.Net.Http contract (4.1 revision) to have more properties and have the ServerCertificateCustomValidationCallback property as well.  So, it is not necessary to use WinHttpHandler directly.  You can use HttpClientHandler (which is cross-platform) to get custom server certificate validation logic.

[2016-06-15 21:26] iSynaptic commented on #9439
@saurabh500 Whoops! Rookie mistake. See new attached file...

[linux-sql.zip](https://github.com/dotnet/corefx/files/317247/linux-sql.zip)

[2016-06-15 21:30] GuardRex commented on #4476
This app is stuck a little bit on `rc2-final` because the `WindowsAzure.Storage` folks lag behind nightly. They go release-to-release, so I feel more comfortable using their bits with `rc2-final`.

Since @mconnew's pattern looks good for now, I'll try getting that to work in this app, then switch over to `System.Net.Http/4.1.0-*` at RTM after they release a RTM storage lib.

Thanks @davidsh ... It

[2016-06-15 21:47] CIPop opened #9449 "CentOS: System.Net.WebSockets.WebSocketException : Unable to connect to the remote server"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/221/
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/221/testReport/junit/System.Net.WebSockets.Client.Tests/ClientWebSocketTest/SendReceive_Concurrent_Success_server__ws___corefx_net_cloudapp_net_WebSocket_EchoWebSocket_ashx_/

[code]

[2016-06-15 22:44] saurabh500 commented on #9439
@iSynaptic from the packet capture it looks like the Server is using SSL3.0 and the client is using TLS 1.0

Can you disable SSL 3.0 on the server side and enabled TLS 1.0 or above?
Some more details here.  https://support.microsoft.com/en-us/kb/3135244

I suspect this has to do with Server side security provider selection.
As mentioned by @stephentoub on Linux TLS 1.0 - 1.2 are supported.

[2016-06-15 22:54] juliusfriedman opened #9451 "Issue, Proposal: Decimal, Double (Negative 0) ToString"
I am having a hard time believing I never caught this before but none the less;

I must be missing something and if I am not then this should probably be corrected...

`System.BitConverter.ToDouble(System.BitConverter.GetBytes(-0.0), 0)`

Evaluates to : '0.0'

`System.BitConverter.Int64BitsToDouble(System.BitConverter.ToInt64(System.BitConverter.GetBytes(-0.0), 0))`

Evaluates to : '0.0'

But ...

[2016-06-15 23:07] dsgouda commented on #9420
If I remove the reference to xunit performance here the build seems to fail,
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Formatters/tests/project.json#L18
Could you take a look

[2016-06-15 23:19] kolbma commented on #8951
I get the Segmentation faults in the official latest Docker image during a dotnet restore.
The image is based on Debian 8 jessie.

[2016-06-15 23:26] sergeybykov commented on #9426
Dryad (https://en.wikipedia.org/wiki/Dryad_(programming) https://github.com/MicrosoftResearch/Dryad) was considered superior to Hadoop back in the days. It was used as a base for building of Cosmos, Microsoft internal high scale compute system used by Bing.

[Naiad](https://github.com/MicrosoftResearch/Naiad) is another system that was built by Microsoft Research SVC lab.

[Akka.Net](https://githu

[2016-06-16 01:07] morganbr commented on #9438
My reading of the RFC is that HMACSHA1 is the only algorithm it supports (though I could certainly be wrong). Maybe there are other KDFs that we could look into though.

[2016-06-16 01:23] bartonjs commented on #9438
I read the RFC as it being an open choice.  It says the PRF is an option, and as "an example" they reference HMAC-SHA-1 (contrast it to PBKDF1 where they enumerate MD2, MD5, SHA-1 as the only options).

Plus, Windows seems to believe it's a choice, too: https://msdn.microsoft.com/en-us/library/windows/desktop/hh448516(v=vs.85).aspx says that naming your HMAC's hash algorithm is a required paramete

[2016-06-16 01:54] #9160 closed

[2016-06-16 02:43] stephentoub commented on #9449
It's possible there's still an issue here, but as of the change I checked in earlier today, this particular code path no longer exists (it's no longer using a TcpClient), so it's difficult to say whether there's actually still something to be addressed (I fixed several related issues as part of those changes).  I'm going to close this for now.  We can open an issue with a new stack if it happens a

[2016-06-16 02:43] #9449 closed

[2016-06-16 03:19] morganbr commented on #9369
I've always been a fan of adding convenience methods for the very common situation of having all the data you intend to hash (or do other crypto operations with). I'd rather not add more classes since we already have classes people know to use; adding static methods should generally be fine (maybe something like Sha256.Hash(byte[])?).

As @GSPP pointed out, as the framework, we can experiment with

[2016-06-16 03:25] davidsh commented on #8663
Fixed with PR #9446.

[2016-06-16 03:25] #8663 closed

[2016-06-16 08:43] prajaybasu commented on #9438
@morganbr  I know some popular implementations which use PBKDF2 with HMACSHA256 (see [Authy](https://www.authy.com/blog/how-the-authy-two-factor-backups-work), and [Scrypt](https://en.wikipedia.org/wiki/Scrypt) ).

I am quite new to C# and .NETCore in general (so I might not make sense sometimes) but - System.Security.Cryptography has quite a few different implementations and might drive some peop

[2016-06-16 10:01] GSPP commented on #9379
I think there should be tests for nullable enums. Right now there are none.

[2016-06-16 10:44] robinsedlaczek opened #9462 "FileSystemWatcher does not raise events for files that are opened/changed in Visual Studio"
### Summary

FileSystemWatcher does not raise events for files that are opened/changed in Visual Studio. It works as expected when using another editor like notepad.

### Context

Visual Studio 2015
Visual Studio 15 Preview 2
.NET 4.6.1

### Steps to reproduce

1. Create a FileSystemWatcher that watches files (in common application data folder) like this:

[code]

2. Create a file named "Config.js

[2016-06-16 11:31] stephentoub opened #9463 "SendReceive_PartialMessage_Success websockets test failed on Windows in CI"
"The server returned an invalid or unrecognized response"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug/655/consoleText
[code]

[2016-06-16 11:42] stephentoub commented on #9462
This isn't a bug in FileSystemWatcher... Visual Studio just isn't doing what you think it's doing.  Try changing your code to instead look like:
[code]
then edit/save the file in Visual Studio... you should see events something like:
[code]
In other words, Visual Studio is writing to temporary files, deleting the original file, and then moving the temporary to be the new one.

[2016-06-16 12:56] stephentoub opened #9464 "Clean build in master yields 32 warnings"
[code]

[2016-06-16 13:34] robinsedlaczek commented on #9462
Many thanks for the explanation. My filter for a specific file made me blind for the changes in the directory.

But I don't know if I like this. We also use temporaries when loading, editing and saving files. But that is under the hood and completely transparent for the user. So maybe other developers get confused like me, too. So wouldn't it be an option, that the FileSystemWatcher raises the Cha

[2016-06-16 13:41] stephentoub commented on #9462
So is FileSystemWatcher: it's a low-level eventing system that simply passes along the events from the OS.  The OS is reporting these events, and, in my opinion, applying a heuristic on top that tries to reinterpret them based on a particular series of events would arguably be misleading for various scenarios.  I do understand what you're looking for, but if you want such a heuristic, you can laye

[2016-06-16 13:57] robinsedlaczek commented on #9462
I can live with that in my particular case. I argue from the FSW API point of view and if the API is natural/intuitive enough here. Well, I think that a file creation is a write operation as well, and so I would expect a Changed event, too - that is no heuristic, that is a question of definition. But as you said, if it should simply pass along the OS events, a different behavior or heuristic could

[2016-06-16 13:57] ericstj commented on #9464
I believe most of these were caused by @karajas's recent changes.  For a couple packages I spot checked I see that these projects are using support clauses but not referencing TestSuite or test-runtime.

[2016-06-16 14:07] prajaybasu commented on #5162
Any progress on this yet ?

[2016-06-16 14:10] iSynaptic commented on #9439
@saurabh500 Unfortunately, this database server provides data for multiple applications. Disabling SSL 3.0 would require reviewing a number of applications to see if it's possible and even then we couldn't be sure we would still support all existing clients.  Is there anyway to force TLS 1.x during the handshake - perhaps a connection string flag?

[2016-06-16 14:12] stephentoub commented on #9439
Is it possible TLS 1.x is somehow disabled on the server?  You shouldn't need to disable SSL 3.0, but it seems like it's unable to negotiate anything better.

[2016-06-16 14:17] iSynaptic commented on #9439
I reach out to the DB admins to find out.

[2016-06-16 14:21] #9462 closed

[2016-06-16 14:46] iSynaptic commented on #9439
@stephentoub @saurabh500  Which underlying driver is System.Data.SqlClient using on Linux? Is it a JDBC driver?

[2016-06-16 14:49] stephentoub commented on #9439
It's using System.Net.Sockets and System.Net.Security:
https://github.com/dotnet/corefx/tree/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SNI

[2016-06-16 14:53] bartonjs commented on #5162
@prajaybasu Nope, sorry.  Since AES-GCM works on both Windows (via bcrypt.dll) and Unix (via libcrypto) it will be the framework's first venture into AEAD.

Partly it's a problem of designing an API that creates the pit of success (e.g. forcing that the integrity be checked before letting you see any of the decrypted data) while also allowing for performance (e.g. streaming data out live).

But, e

[2016-06-16 14:55] iSynaptic commented on #9439
@stephentoub Either TLS 1.x is disabled or the version of SQL installed doesn't support it.  These are "mission critical" database servers so changes happen slowly - not sure if TLS could be enabled or the software patched to enable it - not just yet.

As I understand it, there shouldn't be any certificates installed and encryption isn't enforced (internal systems on isolated network with high per

[2016-06-16 14:58] stephentoub commented on #9439
cc: @davidsh, @cipop: fallout from disabling SSL2/3 in SslStream

[2016-06-16 15:00] aviviadi commented on #9463
Are you using kestrel's KeepAliveInterval (or using it's default 30 Secs?).
Try to set it to TimeSpan.FromDays(1) (not infinite) and see what happens.

The keep alive ping from kestrel somehow ruins the buffer.  Changing the keep alive interval solved the problem for me in windows.

However in Linux (I have my own version of websocket client), I see the same problem with additional 4 bytes : 1000

[2016-06-16 15:06] aviviadi commented on #9463
For the KeepAliveInterval run this and wait few seconds : (rc2)

using System;
using System.Net.WebSockets;
using System.Threading;
using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.WebSockets.Protocol;
using Microsoft.Extensions.Logging;

namespace TestUnexpected
{
    public class ServerStartup
    {
        private const int BufferSize = 30 * 1024 * 1024;

        public void Confi

[2016-06-16 15:08] stephentoub commented on #9463
cc: @Tratcher

[2016-06-16 15:09] danmosemsft opened #9465 "Compat work for IO category"
Break out as needed, tagging with the dev/api-xxx tags.

[2016-06-16 16:32] jthelin commented on #9426
You can run Apache Spark for distributed batch / data science analytics processing using C# language bindings for Spark with Project Mobius available through GitHub.
https://github.com/Microsoft/Mobius

Mobius provides the same RDD / DStream / DataFrame based API for C# developers that are provided for Java / Scala / Python / R languages elsewhere.

Apache Spark is running on some of the biggest m

[2016-06-16 17:10] CIPop commented on #9439
@stephentoub It appears that the server side configuration has been changed so that it only allows SSL3.0 connections which are not secure and come with perf overheads.

@iSynaptic You should be able to enable TLS1.2 | TLS1.1 | TLS1.0 | SSL3.0 on the server side without affecting RFC-compliant clients. Higher version TLS protocols are designed to automatically downgrade the connection if the clien

[2016-06-16 17:18] CIPop commented on #9463
/cc @davidsh

Thanks @aviviadi for the ideas! I'll see if they apply in this case. Our test server code is actually using the IIS WebSockets implementation.

[2016-06-16 17:21] davidsh commented on #9463
We have seen this exception before in System.Net.Http/System.Net.Http.WinHttpHandler:

It usually occurs when there is some network error and the HTTP response from the server is corrupted.

I don't think this is a specific problem with WebSocket.

[2016-06-16 17:33] saurabh500 commented on #9439
@iSynaptic The TDS protocol needs a part of the login to be encrypted. This behavior cannot be modified by changing the Connection String.

[2016-06-16 17:53] AtsushiKan commented on #9252
This issue has been unassigned since it was opened - were you planning on fixing it yourself or were you planning on assigning it to me to fix?

[2016-06-16 18:01] CIPop commented on #9463
Thanks @davidsh.

Refs: #5485, #9212, #6255, #4171

[2016-06-16 18:02] CIPop commented on #4171
Reopening and tracking the more generic Azure failure with this issue.

[2016-06-16 18:03] CIPop commented on #9463
Duplicate of #4171.

[2016-06-16 18:03] #9463 closed

[2016-06-16 18:03] CIPop commented on #5485
Duplicate of #4171.

[2016-06-16 18:03] CIPop commented on #9212
Duplicate of #4171.

[2016-06-16 18:03] #9212 closed

[2016-06-16 18:03] CIPop commented on #6255
Duplicate of #4171.

[2016-06-16 18:04] #6255 closed

[2016-06-16 18:05] CIPop commented on #4171
This error has been seen in both `WinHttpHandler` and `ClientWebSocket` implementations when connecting to an Azure endpoint.
We have not seen this error within the internal ToF tests against lab (IIS) endpoints.

[2016-06-16 18:19] ianhays commented on #9083
I tried it. I get a messagebox equivalent to the one eric posted in https://github.com/dotnet/corefx/issues/9389 i.e. "The system can't find api-ms-crt-". This is when I attempt to run a standalone app (published on win10 for win7-x64) on a win7 machine without the UCRT.

I went ahead and tried copying over the netcoreapp1.0 folder for the Compression tests to my bare win7 machine, and when I run

[2016-06-16 19:01] stephentoub opened #9472 "CloseAsync_Cancel_Success failed in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/2252/consoleText

[code]

[2016-06-16 19:10] MattGal commented on #9083
@ianhays  After looking at this some more, I think I know the disconnect;  previously our test client VMs DID have a UCRT 14 RTM version on them, which would allow you to get past the errors you were hitting for crt errors, but fail when loading clrcompression.

Machines in this state can run almost everything .NET Core, until they load certain native dependencies.  Updating the test Client VMs to

[2016-06-16 19:16] Priya91 commented on #8984
This hasn't failed again, and not able to repro. Please reopen if issue repros again.

[2016-06-16 19:41] ianhays commented on #9083
That's... interesting. Were the tests were being run on a debug coreclr? A debug coreclr would be statically linked, so you wouldn't get the missing api error until trying to load the packaged clrcompression dll that is dynamically linked. That would only be possible if you were using the clrcompression from the package - if you build clrcompression in Debug it doesn't import the UCRT.

Other than

[2016-06-16 20:16] MattGal commented on #9083
@ianhays not well labelled, but here: https://www.microsoft.com/en-us/download/confirmation.aspx?id=48145

[2016-06-16 20:44] binki commented on #2454
+1, this behavior is very unintuitive and “releases Zalgo”

[2016-06-16 20:56] weshaggard opened #9478 "Document building against packages"
We need to document the various aspects of building against packages. Including but not necessary limited to:
- How to build with it. (i.e. /p:BuildTestAgainstsPckages=true)
- What does KeepProjectReference property mean
- What does KeepAllProjectReferences property mean
- When is it OK for people to use those properties or not. (i.e. They should be exceptional cases and we need to always make sur

[2016-06-16 21:16] danmosemsft opened #9480 "Compat work for ACL"

[2016-06-16 21:25] erezvani1529 opened #9481 "ContentEncoding header stripped out of response.header.content.contentEncoding"
When getting a response with "gzip" as the content encoding, this value is not populated into the response.Header.Content.contentEncoding object. If the value is "foo" this value is properly propagated from the response to the header object.

However, setting the AutomaticDecompression to DecompressionMethods.None on the HttpClientHandler instance is a workaround for us at the moment.

Note: this

[2016-06-16 21:33] davidsh commented on #9481
If the context is compressed and you have AutomaticDecompression turned on, then there is a transformation that happens. And thus, the resulting content is no longer compressed.  So, the 'Content-Encoding' header is stripped out since the resulting content is no longer compressed.

If you want to preserve the header, then you need to turn off AutomaticDecompression behaviors.

Basically, this is b

[2016-06-16 21:38] danmosemsft opened #9482 "Compat work for CAS (stub it)"
Likely plan: bring it back so the types resolve, but do nothing.

Caveat: as desktop was written originally, sometimes the XXPermission's ctor or Demand throws some of the non-security exceptions expected of the API - for example, in the case of invalid file paths. In those situations it is not possible to simply remove the body of the permission type. Either it needs to be partially removed, or (

[2016-06-16 21:41] danmosemsft opened #9483 "Compat work Claims based security"
System.Security.Claims.*

[2016-06-16 21:43] MattGal opened #9484 "System.IO.Compression.ZipFile tests leak folders into temp directory"
The ZipFile tests create paths like this in the /tmp  or %TEMP% folders:

./ZipTestsRoot_ef3dc45b504d4ff58e009af435fb4ccc
./ZipTestsRoot_ef3dc45b504d4ff58e009af435fb4ccc/ZipTests1

On a long-running test VM, these random folders build up, and on Linux can eventually fill /tmp so hard that execution of pretty much anything is blocked.

I'm working to prevent this from mattering in infrastructure, b

[2016-06-16 21:46] danmosemsft opened #9485 "Compat work for CodeDOM"

[2016-06-16 21:47] danmosemsft opened #9486 "Compat work for Collections"

[2016-06-16 21:48] danmosemsft opened #9487 "Compat work for System.*.Compiler*"
System.Runtime.CompilerServices
System.CodeDom.Compiler

[2016-06-16 21:50] erezvani1529 commented on #9481
Thanks @davidsh, that makes sense and we have already explicitly turned it off. I will close this issue.

[2016-06-16 21:50] #9481 closed

[2016-06-16 22:12] stephentoub commented on #8983
Another one while running the FSW tests:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/2165/consoleText

[2016-06-16 22:17] danmosemsft opened #9489 "Compat work for Component Model non/MEF"
System.ComponentModel excepting System.ComponentModel.Composition

[2016-06-16 22:40] danmosemsft opened #9491 "Compat work for Compression"
System.IO.Compression. Looks like there's almost nothing missing here just APM

[2016-06-16 22:53] danmosemsft opened #9492 "Compat work for Configuration"
We do not plan to bring System.Configuration.*. Xamarin does not include it, and the usage in mobile apps that we have seems to be essentially zero. It is also problematic in terms of layering.

[2016-06-16 22:54] danmosemsft commented on #9492
Closing this issue as a record.

[2016-06-16 22:54] #9492 closed

[2016-06-16 22:54] danmosemsft commented on #9485
Need to discuss milestone.

[2016-06-16 22:56] danmosemsft commented on #9480
This will likely be significant work as the ACL concept on Unix is rather different. We do not want this to be Windows-only API.

[2016-06-16 23:14] #8971 closed

[2016-06-16 23:18] #8362 closed

[2016-06-16 23:55] adityamandaleeka commented on #8983
Hmm... I just logged on to that machine and don't see anything in /cores. I see that the BuildTools version used in that run was 1.0.26-prerelease-00515-02. I'm not sure whether that includes my change in the BuildTools repo's release/1.0.0 branch.

I poked around a bit and found another similar job (also corefx:master except release instead of debug), and it looks like the scripts there don't ref

[2016-06-16 23:57] ellismg commented on #8983
You should port your changes to master.  The 1.0.26 versions are built from master.

[2016-06-16 23:58] adityamandaleeka commented on #8983
Sure, I'm on it.

[2016-06-17 00:11] adityamandaleeka commented on #8983
I just opened https://github.com/dotnet/buildtools/pull/825 which copies the changes from release/1.0.0 to master.

[2016-06-17 05:41] am11 commented on #9274
Switching to MacOS or preferably Darwin at some point would be nice.

SmartOS, then MacOS and next could be WindOS. :)

[2016-06-17 11:05] #8908 closed

[2016-06-17 14:03] stephentoub opened #9500 "Enable (optionally) statically linking native dependencies on Linux"
Related: dotnet/coreclr#5853

[2016-06-17 14:03] stephentoub commented on #9500
Related: https://github.com/dotnet/coreclr/issues/5853

[2016-06-17 14:58] stephentoub opened #9503 "Use managed WebSockets implementation on all Windows (not UWP)"
Now that we have a managed implementation of Websockets that we use on Unix, should we also use it on Windows pre-Windows 8, since the current Windows implementation requires OS support only available Windows 8 and later?  I'm assuming this should mostly be an issue of package authoring?

cc: @davidsh, @cipop, @ericstj, @davidfowl

[2016-06-17 15:55] bartonjs commented on #9407
This was seen in the wild (or, rather, CI) again :(.

[2016-06-17 16:00] jasonwilliams200OK commented on #9503
@stephentoub, (bit off-topic) is there a major performance difference when switching to managed version of WebSockets on Windows 10, for example?

[2016-06-17 16:02] stephentoub commented on #9503
See some numbers in my PR here:
https://github.com/dotnet/corefx/pull/9412

[2016-06-17 16:12] ianhays commented on #9484
Creating files in the current directory muddles up the test directory so we moved the test files all into temp.

We do this (create files in TMP) in all IO tests, though I mostly tried to remove the temp files/directories when the test concluded. I haven't looked at ZipFile though - we should be able to clean that up a bit and use the TempDirectory cleanup helper we use in FileSystem.

[2016-06-17 16:19] iSynaptic commented on #9439
Working through turning TLS support on to see if it solves this problem...

[2016-06-17 16:23] ericeil commented on #4002
Given that we haven't had an actual instance of a problem related to "localhost" assumptions in the tests, I'm closing this.

[2016-06-17 16:29] pgavlin commented on #4002
@ericeil did you try reenabling the two tests that are disabled on this bug?
https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/tests/FunctionalTests/DnsEndPointTest.cs#L251
https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/tests/FunctionalTests/DualModeSocketTest.cs#L649