[2017-06-03 07:33] FransBouma commented on #20570
@mellinoe

I understand your point, however at the moment it's often 0 configurations work. I think many people would already be happy if they can build their code they've written in VS just for 1 configuration, write tests for just that 1 configuration, so their code at least works, and then branch out to command line to make sure it works for *all* configurations. If 0 configurations work, you h

[2017-06-03 07:47] FransBouma commented on #20627
@danmosemsft

You can with the trait attribute, where you specify the string which is specified as an argument when running the tests. This is one of the things which I see as a cumbersome system: if you want to test some group of methods, you first have to add the traits, then go to the comand line and specify them. Want to test another group? Add other traits, and potentially remove the ones you

[2017-06-03 08:07] #18420 closed

[2017-06-03 08:29] willdean commented on #20570
I advocated that because I think it gives the easiest "new contributor experience" - i.e. clone the repo, build the project.

Given that the pre-requisites / bootstrapping can currently be built from a single command line command, it's not clear to me that it's any show-stopping problem to have that invoked by VS as a pre-build step.

We run all sorts of weird stuff here from VS as part of everyda

[2017-06-03 08:31] willdean commented on #20627
And we're done...

[2017-06-03 12:50] stephentoub commented on #20660
The Referer property was added back for .NET Core 2.0 and .NET Standard 2.0.  Unfortunately it wasn't available in standard before that.
https://github.com/dotnet/corefx/commit/9090df761a1a067c869e43066ba32fd39a26f516

[2017-06-03 12:51] stephentoub commented on #20611
#20661

[2017-06-03 12:51] #20611 closed

[2017-06-03 13:12] bradwilson commented on #20627
@hughbe:

@stephentoub's assessment of the situation is correct: the deadlock that you're experiencing is because of our sync context which limits tests in flight. Any code which is susceptible to deadlocks in the face of sync contexts (like calling .Wait or .Result on an incomplete Task) will, sooner or later, cause you to deadlock. If you want to track these down, you should enable long running

[2017-06-03 13:15] stephentoub commented on #20627
@bradwilson, how does someone do this? I was actually planning on adding such a thing as I couldn't find one. Must have just missed it.

[2017-06-03 13:17] onovotny commented on #20627
@stephentoub I added that feature in xUnit 2.2 you need to turn it on like this:
https://github.com/Reactive-Extensions/Rx.NET/blob/develop/Rx.NET/Source/tests/Tests.System.Reactive/xunit.runner.json#L2-L4

I forget ATM if the diagnosticMessages settings is also required to see it...it might be.

[2017-06-03 13:28] 4creators opened #20665 "Inconsistent behaviour of build.sh -? (help) command on OSX"
**./build.sh -? command displays help mixed with other actions  - installs dotnet cli, restores build tools, initializes build tools**

After installing prerequisites and cloning corefx repo based on my experience from Windows platform I have typed ./build.sh -? to get info on invocation parameters.

Script performed synchronously intermingled tasks:
1. display partial help
2. (i) Installing dotne

[2017-06-03 13:47] 4creators opened #20666 "Debug native build on OSX fails with link error - missing symbols"
Tried to build latest corefx repo master branch commit fd7cc973ae66e1523fabd2c432a8333ddfecd8e6 on OSX following current [instructions](https://github.com/dotnet/corefx/blob/master/Documentation/building/unix-instructions.md). Release build was succesfull while Debug build failed with the following errors:

[code]
System:
[code]
Corefx build was done after successful build of coreclr for all confi

[2017-06-03 14:44] willdean commented on #20588
There was recent discussion about `SerialPort.GetPortNames` in #18023, because problems with the reg-key are also present on other versions of Windows (like the Raspberry PI Win 10 IOT build).

There are umpteen (9) different ways for applications to discover the list of serial ports on Windows, all of them broken in some way or another, but we could perhaps use a different mechanism in UWP?  (I h

[2017-06-03 15:30] #20503 closed

[2017-06-03 16:22] willdean commented on #20627
Is this reopened to track the enabling of the long running test notification in the corefx build process?  If so, would it be worth changing the title?

[2017-06-03 17:04] karelz commented on #20665
@4creators I don't quite understand what is your suggestion / ask, can you please clarify? Thanks!

cc @wfurt

[2017-06-03 17:05] karelz commented on #20666
cc @wfurt

[2017-06-03 17:32] karelz opened #20669 "Add DirectoryServices tests"
DirectoryServices has been ported without any test cases (see #2089). The tests require client-server setup (server running on Windows "Desktop" .NET Framework), which we do not support in our CI/test infrastructure.
Moreover the AD test server cannot run as public-internet-facing Azure server for the tests (it is not recommended by AD server team) :(

Idea: Create schema for adding tests, which w

[2017-06-03 17:33] karelz commented on #20669
@WinCPP was interested to help, esp. by end of July. [1] and [2] should be prep work earlier.

[2017-06-03 20:05] JesseBoulard opened #20671 "gradle not working on Bash on Ubuntu on Windows"
Trying to run gradle on bash on Ubuntu on Windows has been a nightmare, wasting dozens of hours trying to find a workaround. I just installed it today. I see there are insider previews, but I thought the beta was the most recent version. Am I wrong? Is there a newer version out there that allows gradle to work? Here's the error with stacktrace:

jesse@DESKTOP-LNO2BVT:~/.sdkman/candidates/gradle/cu

[2017-06-03 21:48] pgolebiowski commented on #574
@karelz How do you feel about the above?

[2017-06-03 22:13] davidfowl commented on #15469
@huoyaoyuan you can now support returning ITask directly from methods

[2017-06-03 22:27] danielcrabtree commented on #16221
The main issue I encounter is that `Task`, `CancellationToken`, and similar types are not interoperable. I frequently want to wait for something or cancellation. I work around this by turning CancellationTokens into Tasks and that makes things a lot cleaner.

On the abstraction front, cancellation is quite messy too. I don't particularly like `CreateLinkedTokenSource`. I ended up creating an `ICan

[2017-06-03 23:35] madelson commented on #574
I question the need for an interface here (be it `IHeap` or `IPriorityQueue`). Yes, there are many different algorithms that can theoretically be used to implement this data structure. However, it seems unlikely that the framework would ship with more than one, and the idea that library writers really need a canonical interface so that various parties can coordinate in writing cross-compatible hea

[2017-06-03 23:46] 4creators commented on #20665
@karelz cc @wfurt  When someone passes help option to script build.sh expected behaviour is that usage info will be displayed. Instead build.sh -? command call starts both usage display and initial build steps as described. So instead of getting usage info only I get usage plus some build steps done in intermingled way. Pls look at attached terminal dump. I was quite confused as well

[2017-06-03 23:51] bendono commented on #574
@madelson I agree that the framework likely does not need to ship more than a single implementation of a heap. However, by backing that implementation by an interface, those of us that do care about other implementations can easily swap in another implementation (of our own creation or in an external library) and still be compatible with code that accepts the interface.

I don't really see any neg

[2017-06-04 00:06] karelz commented on #574
@pgolebiowski now that you asked, here is my personal opinion (I am somewhat sure that other API reviewers/architects will share it as I've checked for opinion with a few):
The name should be `PriorityQueue`, and we should not introduce `IHeap` interface. There should be exactly one implementation (likely via some heap).
`IHeap` interface is very advanced expert scenario - I would suggest to move

[2017-06-04 00:23] mconnew commented on #20627
@willdean, I don't understand why this issue was closed. Just because the xunit team said they won't make changes in 2 specific areas doesn't mean this issue is resolved as nothing to see here. I take "xunit improvements" to also include extensions to xunit in the corefx build tools. For example, the corefx build tools could add the Assert.Fail() assert if it's something the community of developer

[2017-06-04 01:42] pgolebiowski commented on #574
@karelz

Any argument? It would be at least nice if you addressed what I wrote above instead of just saying *no*.

Oh, there was an argument in this discussion why:

😛

@bendono wrote a very nice comment on this one. @safern also wanted to back the implementation with an interface. And a few others.

Another note -- I am not sure how you imagine moving an interface into a third-party library. How

[2017-06-04 02:19] pgolebiowski commented on #574
@karelz

Any argument? It would be at least nice if you addressed what I wrote above instead of just saying *no*.

I think you named it pretty well previously: _If you have input, provide it, back it with data and evidence. Also listen to arguments of others, acknowledge them. Provide evidence against other's opinion if you disagree._

Plus, **it is not just about the name**. It is not that shallo

[2017-06-04 06:52] hughbe commented on #20671
Does this issue belong in dotnet/corefx - it looks like an issue for https://github.com/Microsoft/BashOnWindows

[2017-06-04 07:06] Joe4evr commented on #574
Yeah, this is me. I'm entirely self-taught in programming, so I have no idea what was being said when "`Heap`" entered the discussion. Not to mention that even in terms of a collection, "a heap of things", to me would more intuitively imply it being unordered in every fashion.

[2017-06-04 07:17] hughbe commented on #20570
I meant tests (not texts) in my previous message, but I think that was obvious. I'm referring to #18220 in this specific example. I introduced tests that broke the UWP test run. I intended to contribute a fix to either the tests or the product code (that the tests exposed), but couldn't.

[2017-06-04 07:23] hughbe commented on #20627
Was just re-reading this thread. I couldn't agree more. I've tried Ctrl-F-ing for "Failed: " only to find this is useless as we get hundreds of hits. Instead I go: "Failed: 1".... "Failed: 2".... but that's grim
I'm not sure if xunit will take this - this didn't get a response from @bradwilson and co. I say this as I don't know how many separate test projects the average library has.

[2017-06-04 07:33] pgolebiowski commented on #574
I can't believe [this is really happening](https://www.youtube.com/watch?v=iKcWu0tsiZM)... Well done, Sunshine!

[2017-06-04 08:16] WinCPP commented on #20669
Thanks @karelz for looping me onto this. I am still going through #2089 , a lot of threads there... But as a start, I think I need to have an AD setup on my local machine to simulate the reconfigurable client-server setup? I enabled virtualization on my Win10 pro box, activated hyper-V. But then I realized I need to have a Windows installer... 😄 Am I on correct path...?

[2017-06-04 09:35] willdean commented on #20627
@mconnew I closed it (I opened it, too) because it seems that the concerns divide as follows:

* Things in xUnit which aren't going to be fixed
* Things which turn out to be not in xUnit, so don't belong in an xUnit-improvement issue

(Of course xUnit-improvement issues don't belong in corefx either, as I acknowledged when I opened it)

There wasn't intended to be any rage-quitting tone to it - I

[2017-06-04 11:22] WinCPP commented on #16650
@danmosemsft @sepidehMS I'm not able to figure out how to add a new Test project for code coverage. Went through [code-coverage.md](https://github.com/dotnet/corefx/blob/860b6f14c8f4186aecf061befa1fbe7b02349999/Documentation/building/code-coverage.md), but still at loss... My questions are very basic,
1. What should be folder hierarchy.
2. From docs it appears that one should not put project refer

[2017-06-04 11:27] hughbe commented on #16650
It's pretty nasty. I looked at this and couldn't really understand so gave up and moved on - good for you! The test code seems to be in src/System.Private.Xml/tests. There are a bunch of folders each with their own test library inside there. I can't really answer your other qs though

[2017-06-04 11:34] hughbe commented on #20669
I'm looking in to writing some unit style tests for System.DirectoryServices.Protocols (I don't think this should clash with your work).
I created the branch https://github.com/hughbe/corefx/tree/protocols-add-test-proj but when I run `msbuild /T:BuildAndTest /P:Coverage=true`, I get:

No results, this could be for a number of reasons. The most common reasons are:

output file and refer to the Usa

[2017-06-04 13:44] willdean opened #20674 "xUnit results reformatting"
It appears that xUnit itself can output results in XML (its own) or XML (nUnit compatible) or HTML formats.

However, it appears that only the first option is supported within the tools in use on CoreFx.  I'm trying to make sense of local test results (i.e. I can't benefit from any CI result formatting), and I'm unclear how best to do this.

* I could just write something to process the XML, but t

[2017-06-04 13:54] bradwilson commented on #20627
Assuming you're speaking if the post-it footer, we could deal with this via a new reporter (we could call it something like "minimal"). Open an issue and let's discuss what output you'd want for it.

[2017-06-04 14:09] willdean opened #20675 "Marking tests as CI-Unfriendly"
As part of an effort to improve coverage on System.IO.SerialPort without compromising the reliability of the CI for everybody, I would like to mark a number of tests as being 'CI Unfriendly' - i.e. we don't want to run them at all, on either inner- or outer- loop.  This is because they have behaviour which is inherently timing sensitive and hence not reliable on the CI.  Past experience shows they

[2017-06-04 14:39] jiabiao opened #20676 "stream.Read(new byte[1], 0, 0) throw IOException for response of HttpClient.GetAsync with option HttpCompletionOption.ResponseHeadersRead"
The following code works fine under full framework, but get exception under .net core 1.0 and 2.0.
[code]

[2017-06-04 14:56] WinCPP commented on #16650
@sepidehMS ok. I think I got an answer why XsltFunctions has such a low coverage (10.3%). Using reflection, XsltLibrary.cs ([link](https://github.com/dotnet/corefx/blob/b0900bb7fd23d91e5d1f47539441b5d47b563d74/src/System.Private.Xml/src/System/Xml/Xsl/Runtime/XsltLibrary.cs#L30-L41)) gets hold of the functions in System.Xml.Xsl.Runtime.XsltFunctions. I suspect that would be the reason that althoug

[2017-06-04 15:31] karelz commented on #574
If you read my answer, you can notice that I mentioned key arguments for my position:
* *IHeap interface is very advanced expert scenario*
* *I don't think it is useful/aligned with the rest of BCL enough to justify the complication of adding new interface now*
Same arguments which has been repeated on the thread several times IMO. I just summarized them

I was actively monitoring this thread all

[2017-06-04 15:47] stephentoub commented on #20676
@jiabiao, this is on Windows, right? If you've tried, do you get the same error on Linux?

[2017-06-04 16:09] sharwell commented on #15469
:memo: One reason why we don't have an `IAwaitable` interface is you can't define such an interface to apply to all supported awaitable items. Specifically, the standard allows `GetResult()` to have either of these signatures:

[code]

It is not possible to define a single (generic) interface which allows both of these definitions.

[2017-06-04 16:15] jiabiao commented on #20676
@stephentoub
yes, this is Windows. haven't tried on Linux.

[2017-06-04 16:42] stephentoub commented on #20676
Thanks.  I just tried your repro on Linux, and it runs fine.  I tried it on Windows and see the same exception you do, coming from https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpResponseStream.cs#L124.
cc: @davidsh

[2017-06-04 16:53] stephentoub commented on #20675
https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=IgnoreForCI

[2017-06-04 17:04] willdean commented on #20675
@stephentoub Perfect, thanks.

For the quick benefit of anyone who comes behind me, it's this attribute:

`[Trait(XunitConstants.Category, XunitConstants.IgnoreForCI)]`

[2017-06-04 17:17] pgolebiowski commented on #574
Geez... I was referring to what I quoted (*obviously*) -- you deciding to go with a priority queue instead of a heap. And yes, I have read your answer -- it contains exactly 0% of arguments for this.

You like to be hyperbolic, I have noticed that before. You merely acknowledge the existence of other points.

Are you aware that you are just repeating my words here and not at all addressing the iss

[2017-06-04 17:59] clrjunkie commented on #20570
https://github.com/dotnet/corefx/issues/4919
https://github.com/aspnet/dnx/issues/3304

[2017-06-04 18:56] Serexx commented on #1006
How anybody could contemplate building a web targeted development framework and consider packaged SMTP support as unnecessary is beyond me. Jus sayin.

[2017-06-04 19:04] #20671 closed

[2017-06-04 19:07] JesseBoulard commented on #20671
thanks, I changed it

On Sun, Jun 4, 2017 at 2:53 AM, Hugh Bellamy <notifications@github.com>
wrote:

[2017-06-04 20:19] Joe4evr commented on #574
Well, excuuuuuuuuuuuuuuuse me for not having had the opportunity to get a proper Computer Science education to learn that `Heap` is some kind of data structure different from the memory heap.

The point still stands, though. [A heap of something](https://www.google.nl/search?hl=en&site=imghp&tbm=isch&source=hp&biw=1920&bih=964&q=heap+of+sand&oq=heap+o&gs_l=img.3.1.0l10.1274.2571.0.4975.8.8.0.0.0.0

[2017-06-04 20:38] jamesqo commented on #14354
@terrajobst I just saw your comment. Forgive me for the delayed reply, I was slow to look into the notification because I thought it would only be more back-and-forth that was going nowhere. Glad to see that's not the case! :tada:

I'd be delighted to pick this up and do the throughput/distribution measuring (I assume that's what you meant by "interested in working on this area"). Give me a second

[2017-06-04 20:55] jamesqo commented on #14354
@terrajobst

Can we change

[code]

to

[code]

? I renamed `Add` -> `AddRange` to avoid the behavior @svick mentioned. I removed the `byte` overloads since we can specialize using `typeof(T) == typeof(byte)` inside the method if we need to do anything byte-specific. Also, I changed `value` -> `values` and `length` -> `count`.

[2017-06-04 20:56] jamesqo commented on #14354
@terrajobst Can you remind me why

[code]

is necessary when we have

[code]

?

[2017-06-04 21:03] jamesqo commented on #14354
@svick

:+1:

@terrajobst Can we go back to having an implicit conversion from `HashCode` -> `int`, so no `ToHashCode` method?

[2017-06-04 21:04] SLaks commented on #14354
@jamesqo `StringComparison` is an enum.
However, people could use the equivalent `StringComparer` instead.

[2017-06-04 21:10] CyrusNajmabadi commented on #14354
We discussed this and decided against it in the meeting.  The issue is that when the user gets the final 'int' that extra work is often done.  i.e. the internals of the hashcode will often do a finalization step, and may reset itself to a fresh state.  Having that happen with an implicit conversion would be strange.  If you did this:

[code]

Then you could get different results.

For that reason,

[2017-06-04 21:12] CyrusNajmabadi commented on #14354
IIRC there was some concern about this not being ok from the JIT perspective.  But that may have only been for the non-value-type "typeof()" cases.  As long as the jit will effectively do the right thing for the value-type typeof() cases, then that should be good.

[2017-06-04 21:33] jamesqo commented on #14354
@CyrusNajmabadi I was unaware that conversion to an `int` might involve mutating state. `ToHashCode` it is then.

[2017-06-04 21:36] schen381 commented on #20528
I am not able to repro this issue. I deleted all labels which have [ActiveIssue 20528] in PingTest, and they passed on UWP ILC runs. However, they failed in UAP run, with a different error:  System.ComponentModel.Win32Exception : Access is denied.(This error seems related to SendPingAsyncCore()) Has this issue already been fixed? Could you please confirm the behavior?

cc: @davidsh

[2017-06-04 21:41] pgolebiowski commented on #574
This is ridiculous. At the same time you want to participate in a discussion regarding adding a functionality like that. It sounds like trolling.

You are wrong. It is ordered, as a heap. Like in the pictures you linked.

I have already addressed that. The family of heaps is huge and there are two levels of abstraction above an implementation. Priority queue is the third abstraction layer.

And wi

[2017-06-04 22:02] davidsh commented on #20676
[code]

So, the expectation of this would be to return success with 0 bytes read since 0 bytes are being request?

[2017-06-04 22:13] stephentoub commented on #20676
Yup

[2017-06-04 22:44] #20660 closed

[2017-06-04 23:26] SunnyWar commented on #574
As another self-taught developer, I have no problem with _heap_. As a developer that is always striving to improve, I've taken the time to learn and understand all about data structures. In short, I don't agree with the implication that a naming convention should target those that have not taken the time to understand the lexicon of the field of which they are a part.

[2017-06-05 01:12] madelson commented on #20497
@danmosemsft I see you added a label regarding the API. Is this something I can help with or something that needs to happen on your end?

[2017-06-05 02:32] #20425 closed

[2017-06-05 02:33] hughbe commented on #20425
Updated the PR to track #18784 which this issue duplicates.

[2017-06-05 02:46] danmosemsft commented on #20627
I made the title more general since it seems like there's a mixture of xunit suggestions and stuff we can do.

To lead this thread towards some productive improvements -- can folks prioritize what the, say, top 3-5 most important things to fix are? Some would be on us eg better unit test projects for VS use, some may be suggestions for Xunit (we can do PR's if they agree)

[2017-06-05 02:48] danmosemsft commented on #20578
Was already ported .. https://github.com/dotnet/corefx/pull/20661

[2017-06-05 02:48] #20578 closed

[2017-06-05 02:53] danmosemsft commented on #20674
The callstack above (along with sample XML maybe?) might be a good thing to open on the xunit repo.

[2017-06-05 03:06] danmosemsft opened #20682 "GetCookies_RemovesExpired_Cookies failed: cookie did not expire"
Can we do better than "sleep 2 seconds"?

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170605.02/workItem/System.Net.Primitives.UnitTests.Tests/analysis/xunit/System.Net.Primitives.Unit.Tests.CookieContainerTest~2FGetCookies_RemovesExpired_Cookies
[code]
[code]

[2017-06-05 03:21] danmosemsft commented on #20669
@hughbe it's for reason 3. :) there is no coverage matching the `-filter:"+[System.DirectoryServices.Protocols]*" ` (I see this when I opened the file `C:\git\corefx\bin/Windows_NT.AnyCPU.Debug/System.DirectoryServices.Protocols.Tests/netstandard//RunTests.cmd`)

I added `var x= new System.DirectoryServices.Protocols.AddRequest();` and it says I have 0.3% coverage when I open up `file:///C:/git/co

[2017-06-05 03:32] nhathongly commented on #5501
Will this one will be in 2.1.0?

[2017-06-05 03:32] hughbe commented on #20669
I guess that makes sense - was thrown off by the missing PDBs stuff, thought it was a configuration issue. Cheers!

[2017-06-05 03:53] nagarajDeveloper opened #20683 "Collection"
Other than collections are we using System.lynq with any other C# concepts?
if yes other than collection where we are using System.lynq
if no then System.lynq we can add part of System.Collections.Generic;

Please correct me if I am Incorrect.

[2017-06-05 04:03] danmosemsft commented on #20674
I repro the failure myself, perhaps I can have a look

[2017-06-05 04:32] danmosemsft commented on #20674
We use quite an old copy of xunit and I'm having trouble building xunit.console.netcore in buildtools with a newer one. I'll have to look tomorrow.

[2017-06-05 04:33] danmosemsft commented on #20674
@weshaggard I updated as below and compilation fails (with or without the xunit.abstractions line) apparently because it can't find xunit.abstractions. What am I doing incorrectly?
[code]

[2017-06-05 06:17] Jiayili1 commented on #7812
Failed again on Core tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170605.02/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FUseCallback_BadCertificate_ExpectedPolicyErrors(url:%20%5C%22https:~2F~2Fself-signed.badssl.com~2F%

[2017-06-05 06:22] damageboy opened #20684 "ref-return Dictionary<TKey, TValue> and friends"
Hi all,
I recently (well a few months ago) became pissed at seeing c# reach position 12 at this quite generic yet telling benchmark:
https://benchmarksgame.alioth.debian.org/u64q/knucleotide.html

This competition requires the use of library/language provided hash tables, which is why I can't submit my version:
https://github.com/damageboy/shame

Which runs at about half the time of the current to

[2017-06-05 06:26] dotnet-mc-bot opened #20685 "Test failure: System.Net.Sockets.Performance.Tests.SocketPerformanceAsyncTests/SocketPerformance_MultipleSocketClientAsync_LocalHostServerAsync"
Opened on behalf of @Jiayili1

The test `System.Net.Sockets.Performance.Tests.SocketPerformanceAsyncTests/SocketPerformance_MultipleSocketClientAsync_LocalHostServerAsync` has failed.

System.Net.Sockets.SocketException : Cannot assign requested address

        Stack Trace:

           at System.Net.Sockets.Socket.UpdateStatusAfterSocketErrorAndThrowException(SocketError error, String callerName)

[2017-06-05 06:29] Jiayili1 commented on #18907
Failed again on Core Tests: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170605.02/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveUdpClient~2FSendToRecvFromAsync_Datagram_UDP_UdpClient(loopbackAddress:%20127.0.0.1)

[2017-06-05 06:31] Jiayili1 commented on #13539
Failed again on Core Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170605.02/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.Shutdown~2FShutdown_TCP_CLOSED_Success

[2017-06-05 07:19] Clockwork-Muse commented on #20683
`System.Linq` is used for a couple of different things, which may not be a Collection (it may just be `IEnumerable`, or one of a few other interfaces).

What is it you're trying to accomplish here?

[2017-06-05 07:20] EmmaZhu opened #20688 "Directory.EnumerateFileSystemEntries doesn't return any item when specify pattern like with "[]""
`Directory.EnumerateFileSystemEntries` doesn't return items when search pattern include "[...]" in it on Ubuntu (It works well on Windows, while I didn't test it on other platforms).
For example, I have a file named "[a]" under current folder, following code doesn't output anything:

[code]

Anyone could help to take a look at this?

[2017-06-05 07:39] martinsuchan opened #20689 "Malformed Uri in BitmapIcon causing crash in .NET Native Interop"
Not sure, if this is the right place to report bugs in UWP runtime, but this one looks quite interesing.

Orginally reported here on UserVoice: [BitmapIcon with UriSource="about:blank" causes app crash in edgehtml.dll](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/19455838-bitmapicon-with-urisource-about-blank-causes-app)

If I use anywhere in my UWP app <BitmapI

[2017-06-05 08:29] mikedn commented on #20684
General purpose data structures that make use of `ref` returns are a questionable proposition. While they would be useful in some cases they also open the door for some rather nasty bugs and as such they need to be used with some care.

I'm not sure I understand what that means but I see that other implementations make use of data structures that are part of the "standard" language library. The to

[2017-06-05 10:50] jswolf19 commented on #6857
@AlexGhiondea As far as the testing, ideally, I want to (consistently) cause the two calls to `GetParameterInfo()` to return different references.

The first obstacle I have is that the class I really want to test is `internal`. I can write a test that goes through the place I want to change, but, the only ways I can see to check if I successfully caused the race condition to occur are to have acc

[2017-06-05 11:10] IanKemp opened #20690 "Reference Source hashes have changed, so links no longer work"
1. Go to http://referencesource.microsoft.com/
2. Scroll down to the `Link to a type/member` text and click the link corresponding to that text: http://referencesource.microsoft.com/mscorlib/a.html#1f55292c3174123d
3. Notice that you are not directed to the appropriate line of code as you would expect. Instead, you are shown a page containing the text `Don't use this page directly, pass #symbolId

[2017-06-05 13:10] jessehouwing commented on #2295
I'm wondering  whether an assembly level attribute could set the desired version in case none is specified in the apps in case it's implemented in the current namespaces. If nine is specified, use the 1.0 standard. If your assembly specifies one then for all code executing directly from your assembly will use the version that's specified. When calling into another assembly which she if it's a diff

[2017-06-05 14:34] jmroyb opened #20695 "System.IO.FileLoadException - Exception from HRESULT: 0x80131040"
Folks,

I added System.Diagnostics.Process in a netstandard 1.6 library and I get this exception:

'System.IO.FileLoadException: 'Could not load file or assembly 'System.Diagnostics.Process, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131

[2017-06-05 14:35] stephentoub commented on #20682
Dup of https://github.com/dotnet/corefx/issues/19994

[2017-06-05 14:37] stephentoub commented on #20690
cc: @richlander, @terrajobst

[2017-06-05 15:22] jhudsoncedaron commented on #12072
I have discovered that an actual fix is easy and doesn't depend on adding any more round trips.

Instead of "EXEC sp_resetconnection;" on return to pool do "BEGIN TRANSACTION;ROLLBACK;EXEC sp_resetconnection;". Because BEGIN TRANSACTION/COMMIT stack and ROLLBACK doesn't, any pending transaction is rolled back.

They tell me that sp_resetconnection is ran from Open() rather than Close() but from th

[2017-06-05 15:55] danmosemsft commented on #20689
@MattWhilden where should this go.

[2017-06-05 16:08] weshaggard commented on #20570
The only case where 0 configurations work is when an initial root level build.cmd hasn't been ran first. Assuming that has been down then the .NET Core should configuration should work in VS and if not then we need to get that fixed.

[2017-06-05 16:17] danmosemsft commented on #20497
@madelson thanks for your suggestion. It next needs attention from the [area owner](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md) @Priya91 . I know she's out this week. If you don't hear back early next week, I"d use `@priya91` again to ping her.

[2017-06-05 16:27] danmosemsft commented on #16650
@WinCPP I think all test projects automatically reference all the product. So you can just copy one of the existing csproj under \src\System.Private.Xml\tests.

[2017-06-05 16:35] #20682 closed

[2017-06-05 17:00] jkotas commented on #20665
Related to https://github.com/dotnet/corefx/issues/15184

[2017-06-05 17:00] spati2 opened #20698 "Replacing Appdomain.GetAssemblies()"
Maybe I am flogging a dead horse here, but could you tell me what the equivalent for Appdomain.GetAssemblies() is in netcore? I think its supposed to be a part of AssemblyLoadContext but I am unable to locate it there.

[2017-06-05 17:12] wfurt commented on #20666
run 'pkg-config --libs openssl' @4creators

I was able to reproduce same failure and it is probably because of missing pkg-config.
If that is the case run:
brew install pkg-config
./clean.sh
./build.sh

I also updated building instructions https://github.com/wfurt/coreclr/blob/master/Documentation/building/osx-instructions.md

[2017-06-05 17:24] wfurt commented on #20665
Thanks for the link @jkotas. I think it is quite reasonable if -? or --help only shows help without any other action. Alternatively we could remove that altogether and depend on instructions from Documentation folder.

[2017-06-05 17:26] nietras commented on #17793
@ahsonkhan as far as I understand @mgravell was mainly concerned with `Contains/IsSliceOf` which should then return `false` if alignment does not match. It definitely is a good question what `Overlaps` should return if alignment doesn't match, lately I have been thinking that these should in fact throw in case of alignment issue instead e.g. `ArgumentException("Alignment issue....")` since especia

[2017-06-05 17:38] JeremyKuhne commented on #20688
@EmmaZhu that should fail, shouldn't it? You're asking for any files of the set [a], which should be only "a". Did you try "\\[a\\]"?

[2017-06-05 17:39] mgravell commented on #17793
I'm comfortable with it throwing in those scenarios, as long as it is
clearly documented. People messing with the data type is an edge case of
people who should already be walking on a tightrope of crazy above a pit of
spikes laced with anger. Exceptions do not scare us :)

On 5 Jun 2017 6:31 p.m., "nietras" <notifications@github.com> wrote:

[2017-06-05 17:43] jkotas commented on #19212
Exposed by #19322

[2017-06-05 17:43] #19212 closed

[2017-06-05 17:56] jmroyb opened #20701 "Information about runtime.ubuntu.14.04-x64.runtime.native.System (for example)"
Folks,

First of all, I know that (just to avoid comments about this phrase) ...

"Internal implementation package not meant for direct consumption.  Please do not reference directly."

I have some classes built in Mono I would like to move to netstandard. These classes were called
by Windows and Linux some like this:

            if (Environment.OSVersion.Platform == PlatformID.Unix)

[2017-06-05 18:04] terrajobst commented on #574
Let me provide some explanation of how we think about API naming:

1. We tend to favor consistency within the .NET platform above almost anything else. That's important in order to make APIs look familiar and predictable. Sometimes this means we accept that a name isn't a 100% correct if that's a term we've used before.

2. Our goal is to design a platform that is approachable to a wide variety of

[2017-06-05 18:11] safern commented on #20609
cc: @AArnott

[2017-06-05 18:25] sharwell commented on #20609
The root cause of the problem appears to be [iteration here](https://github.com/dotnet/corefx/blob/ccf07893301ee00b6bab0692feea9a15fad068fb/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableList_1.cs#L2209) over a collection which is changed during the enumeration. Normally this condition results in [an exception](https://github.com/dotnet/corefx/blob/ccf07893301ee00b6bab0

[2017-06-05 18:28] 4creators commented on #20666
@wfurt  I don't think it was due to missing pkg-config as I have it installed it earlier for other builds, however, I can be wrong. I will try to clean machine and repro the error and try your fix

[2017-06-05 18:32] wfurt commented on #20666
ok, let me know. Check pkg-config --libs openssl
The error is definitely caused by linking against wrong (system) version of openssl.

[2017-06-05 18:39] willdean commented on #20570
That seems fair enough tbh.  `Build.cmd` seems very good on a clean checkout (less so on a stale one, but by then people are probably on-board and can sort things out).

Does `build-tests` build everything (libraries and tests) if `build` hasn't already been run?   If so, perhaps https://github.com/dotnet/corefx/wiki/Build-and-run-tests could recommend just running `build-tests` rather than two se

[2017-06-05 18:45] willdean commented on #20674
@danmosemsft Thanks for looking at this - don't spend too long on it, because I could knock-up something that extracts what I want from the XML very quickly.

I have not filed an xUnit issue because I'm not clear that the corefx command line runner is actually something that belongs to the xUnit team - on that other unit-testing issue they seemed to disown it.

[2017-06-05 18:45] mellinoe opened #20706 "Cleanup items for System.Drawing.Common"
There are still some things that should be cleaned up and reorganized in the Windows version of System.Drawing.Common. Here is the list that I have developed while porting the code from the internal .NET Framework codebase:

* [ ] Clean up the formatting of the XML doc comments. They are using some defunct syntax that doesn't work or make sense anymore.
* [ ] Normalize comment style (lots of weird

[2017-06-05 18:50] 4creators commented on #20665
I have checked build -? behaviour on Windows and it's the same problem as on Mac. Calling it will start both usage display and installation and initialisation of tools in clean repo. As issue #15184 points out is't a problem of centralised command line parsing for build system based on run.exe but in my opinion use of run.exe should not create any additional build dependencies except for what is a

[2017-06-05 18:55] TravisEz13 commented on #20562
Talked to @janvorli and by portable, he means targeting runtime id linux-x64 and standalone (specify the runtime id when publishing, which will includes all the assemblies and native shared libraries)

[2017-06-05 18:56] 4creators commented on #20666
@wfurt Check my command output above. I edited my message at the same time you posted

[2017-06-05 18:56] JeremyKuhne commented on #19850
https://github.com/dotnet/coreclr/pull/11757 fixed this in CoreCLR for master.
https://github.com/dotnet/coreclr/pull/11807 ported the CoreCLR fix.

[2017-06-05 18:56] #19850 closed

[2017-06-05 19:01] JeremyKuhne commented on #19965
I'll open a separate issue for porting the test.

dotnet/coreclr#11757 fixed this in CoreCLR for master.
dotnet/coreclr#11807 ported the CoreCLR fix.

[2017-06-05 19:01] #19965 closed

[2017-06-05 19:26] wfurt commented on #20666
ok. Can you than send me output of CMakeOutput.log and CMakeError.log?
(bin/obj/OSX.x64.Debug/native/CMakeFiles)

Your original post shows
CMake Error at /usr/local/Cellar/cmake/3.8.2/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:137 (message):
  Could NOT find OpenSSL, try to set the path to OpenSSL root folder in the
  system variable OPENSSL_ROOT_DIR (missing: OPENSSL_INCLUDE_DIR)
Cal

[2017-06-05 19:30] sepidehMS commented on #16650
@WinCPP As mentioned by others, all Xml tests live under src\System.Private.Xml\tests and all test projects will automatically reference all product. (System.Xml.Xsl is exposed via System.Xml.ReaderWriter assembly) You can copy https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/tests/Xslt/XslTransformApi/System.Xml.Xsl.XslTransformApi.Tests.csproj and start from there.

[2017-06-05 19:48] 4creators commented on #20666
Pls find logs attached
[Archive.zip](https://github.com/dotnet/corefx/files/1053007/Archive.zip)

[2017-06-05 20:03] mellinoe commented on #20701
System.Native.so is what we refer to as a "native shim". The "native shims" here are a solution to a very particular problem (interfacing with native API's in a friendly and portable way); they aren't a general solution to "platform-specific" code. Without knowing much about what you're trying to do, I would recommend that you either:

* Just keep doing runtime branching as in the code you shared.

[2017-06-05 20:16] mellinoe opened #20711 "Add Tests for System.Drawing.Common"
This issue tracks porting some set of tests from mono's test suite, covering the portions of System.Drawing that we support on .NET Core.

Mono's test cases are in this folder: https://github.com/mono/mono/tree/master/mcs/class/System.Drawing/Test

We most likely want to convert the most useful tests from all of the sections here, with the exception of System.Drawing.Design, which we aren't going

[2017-06-05 20:18] 4creators commented on #20666
Pls find release logs attached - I have built in release mode immediately after debug build failed
[Archive_CmakeLogs_Release.zip](https://github.com/dotnet/corefx/files/1053087/Archive_CmakeLogs_Release.zip)

[2017-06-05 20:21] mellinoe opened #20712 "Add Unix support for System.Drawing.Common"
The version of System.Drawing.Common ported from the .NET Framework cannot be used outside of Windows. In order to support the library elsewhere, we are going to port the implementation from mono, which is built around libgdiplus, another mono project. We should do the following:

* Move the code for System.Drawing into corefx, perhaps initially separated from the Windows files. Mono's code is her

[2017-06-05 20:35] norek commented on #20711
Hi I can grab some part of those tests for example System.Drawing.Printing, on start. Then when all will be fine i can port next part. What do you think?

[2017-06-05 20:36] fujiy commented on #20331
I tried to use Perview to collect data from EventCounter, but it just logs events from WriteEvent, it seems EventCounter.WriteMetric is doing nothing.

[2017-06-05 20:43] tannergooding opened #20714 "Suggested behavior change for System.Math.Max and System.Math.Min to support intrinsics"
**Issue**
Currently System.Math.Max and System.Math.Min are coded as the following:

[code]

This behavior differs from the `maxsd` instruction which returns the second operand if both values are zero or if either value is `NaN` (it does the equivalent of `(val1 > val2) ? val1 : val2`). Due to this difference in behavior, we cannot implement either call as an intrinsic.

**Proposal**
The implement

[2017-06-05 20:52] pgolebiowski commented on #574
Dear everyone who feels downhearted,

I apologize for decreasing your levels of happiness by my harsh-ish attitude.

@karelz

I am sorry that what I wrote made you unhappy. Though it wasn't *that bad* as you described it -- I merely provided this as one of many factors that have contributed to my feeling of *being tired*. It's of a lesser severity, I think. But still, I am sorry.

And yes, everyon

[2017-06-05 21:01] terrajobst commented on #574
@pgolebiowski

Hopefully we can meet in person at some point. I honestly believe that part of the challenge of doing everything online is that personalities can sometimes mix in bad ways with no intention from either side.

Same here. This is an interesting space and there are plenty of amazing things we can do together :-)

[2017-06-05 21:07] #20676 closed

[2017-06-05 21:15] mellinoe commented on #20711
@norek Splitting up the work sounds like a good idea to me. I've created separate items above for each of the folders in mono's test bed. I've put your name next to System.Drawing.Printing.

Looking over the tests in that folder, I think they look fairly straightforward, with a couple of exceptions. I would ignore the following tests for now:

* PrintingPermissionAttributeTest
* PrintingPermission

[2017-06-05 21:17] weshaggard commented on #20570
build-tests.cmd depends on build.cmd already have been run. It only builds and runs the tests. There is an option to build.cmd to do both the libraries and tests (`build.cmd -tests`), but it really isn't needed unless you want to build and run all the tests in the repo. If you have a successful build.cmd you should be able to successfully build and/or run any individual library or test project in

[2017-06-05 21:22] AtsushiKan opened #20715 "Reconcile CoreRT and CoreCLR globalization code"
[code]

On quick glance, the Text.Encoding code in CoreRT needs to be synced with that in CoreCLR.

[2017-06-05 21:28] mellinoe commented on #20714
It would be nice to be able to do this of course, but back-compat is an obvious concern. Also, how do other instruction sets handle this? Matching the x86 instruction is convenient for us now, but we already support different architectures, and will hopefully support many more in the future. Perhaps the behavior guarantees could be loosened to "whatever the hardware instruction does", but I'm not

[2017-06-05 21:40] ghost opened #20717 "Disabled test on System.Linq.Expressions.Tests on ILC (amd64-x64)"
-method System.Linq.Expressions.Tests.Compiler_Tests.UnaryPlus

which is annoyingly located not in CompilerTests.cs but here...

https://github.com/dotnet/corefx/blob/master/src/System.Linq.Expressions/tests/SequenceTests/SequenceTests.cs#L844

[2017-06-05 21:44] AtsushiKan opened #20718 "Disabled IntegratedAuthConnectionTest in System.Data.SqlClient.Tests on ILC"
-method System.Data.SqlClient.Tests.SqlConnectionBasicTests.IntegratedAuthConnectionTest

Message from test ouput:

System.Data.SqlClient.SqlException : Failed to accept security SSPI context\r\nFailed to accept security context

[2017-06-05 21:46] karelz commented on #574
@pgolebiowski first, thanks for your reply. It shows you care and you mean well (which is something I secretly hope every person/developer in the world does, all conflict is just misunderstanding/miscommunication). And that makes me really happy - it makes me going.
I would suggest to start over in our relationship. Let's turn the discussion back to technical, let's all learn from this how to hand

[2017-06-05 21:54] caesar1995 commented on #12331
I think this issue has been solved by #16704. @davidsh @CIPop could you please confirm?

[2017-06-05 22:06] xied75 commented on #574
Not trying to add one more unnecessary comments here, this thread has been WAY TOO LONG. The no.1 rule of Internet age is that avoid text communication if you care about people relationship. (Well, I coined it). I believe some other open source community would switch to a Google Hangout for this kind of discussion if the need is apparent. When you look at other people's face, you would never say a

[2017-06-05 22:21] willdean commented on #20714
If it's useful, the ARM Neon VMAX/VMIN instructions say "If any input is a NaN, the corresponding result element is the default NaN." which sounds more like the existing System.Math behaviour than the Intel behaviour, unless I've not thought about it properly.

[See here](http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0489i/CJABFHEJ.html)

[2017-06-05 22:22] tarekgh commented on #20715
@AtsushiKan why we need to disable these tests? does the problem in ILC tool chain or in Encoding tests?

@joperezr is this because the failures in the ILC tool chain?

[2017-06-05 22:24] pgolebiowski commented on #574
@karelz Due to the length of the discussion above, it is highly unlikely for anyone new to contribute if the flow is not modified. As such, I would like to propose the following approach right now:

* I will write a few comments, one after another, posted at the same time. Each comment will be granular and will tackle one specific matter that needs voting whether it makes sense or not. What is it

[2017-06-05 22:26] bartonjs commented on #20666
@4creators Your log shows that the build is trying to link against OpenSSL 0.9.8:

On my machine the dylib in the log is /usr/local/Cellar/openssl/1.0.2k/lib/libcrypto.dylib.  The only times I've ever seen it be wrong are when pkg-config isn't present, or when the pkgconfig files weren't added to /usr/local/lib/pkgconfig.

Running `pkg-config --libs openssl` usually returns an error of some sort i

[2017-06-05 22:26] AtsushiKan commented on #20715
I did not have time to root-cause these. I believe it's the framework code being out of sync with CoreCLR. Most of these are due to locale names not being the same (case-wise) as CoreCLR: failures like these:

      Assert.Equal() Failure
      Expected: utf-16BE
      Actual:   utf-16be

[2017-06-05 22:35] tannergooding commented on #20714
@willdean, thanks for the link. It definitely appears as though the behavior differs (in multiple ways). For one, it counts +0.0 as greater than -0.0, rather than returning the second operand and it additionally returns NaN rather than the second operand if either input is NaN.

@mellinoe, given the back-compat bar, as well as the difference in behavior, we probably shouldn't modify the existing i

[2017-06-05 22:36] caesar1995 commented on #20528
I think this issue has been fixed. Please re-open it if it happens again. Thanks.

[2017-06-05 22:36] #20528 closed

[2017-06-05 22:37] saurabh500 commented on #20718
@AtsushiKan Do you have any links to the failed tests?

[2017-06-05 22:37] wfurt commented on #20666
Cached entry could explain why release works but debug does not.

After cleaning, you can also try:
cd src/Native
./build-native.sh  verbose cmakeargs '--debug-output --trace'

That produces more details but I still did not find details how proper version is located.

In your debug output there is at least attempt to use proper version

/Library/Developer/CommandLineTools/usr/bin/clang  -I/usr/loc

[2017-06-05 22:39] AtsushiKan commented on #20718
https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/tests/FunctionalTests/SqlConnectionTest.cs#L30

[2017-06-05 22:40] danmosemsft commented on #20674
@willdean this is the part that is ours. I am not familiar with how it all fits together and unfortuantely it looks like I won't have time for a while to learn more.
https://github.com/dotnet/buildtools/tree/master/src/xunit.console.netcore

[2017-06-05 22:40] saurabh500 commented on #20718
@AtsushiKan I meant failing test execution in the CI . :)

[2017-06-05 22:43] willdean commented on #20674
Thanks @danmosemsft - let's not worry about it, it's easy enough to deal with independently - thanks for the help anyway.

[2017-06-05 22:43] #20674 closed

[2017-06-05 22:44] mellinoe commented on #20714
In theory this should be something we feel comfortable doing in between major versions of .NET Core. I'm not able to say that with confidence, though. I don't think we've had enough cases like this to really set a strong precedent about what we're willing to do.

There are no ARM intrinsics right now, so the IL version is used, which emulates any edge-case behavior in a way that is compatible with

[2017-06-05 22:45] AtsushiKan commented on #20718
They're not in CI yet - slapping ActiveIssues on these is part of them getting them to point where we can get into CI.

Here's a link to the Helix run though I don't know useful these links are. The original text contained the exception message which is pretty much the only useful thing you can get out of these Helix reports right now.

https://mc.dot.net/#/product/netcore/master/source/official~2

[2017-06-05 22:51] andreujuanc commented on #519
+1 to this. So simple yet really good.

[2017-06-05 22:56] tannergooding commented on #20714
There are probably a few instructions/intrinsics in the this category (those that are speedy, but may provide slightly different results/improper handling).

Maybe its worthwhile exposing them in a centralized location... Off the top of my head these would be `Clamp`, `Max`, `Min`, `Reciprocal`, and `Reciprocal Square Root` (although I'm sure there are others).

The people who would use these inst

[2017-06-05 23:06] pgolebiowski commented on #574
# Providing an interface

No matter if we go with `Heap` / `IHeap` or `PriorityQueue` / `IPriorityQueue` (or something else), for the functionality we are about to provide...

**_would you like to have an interface, along with the implementation?_**

## Pros

* Developers can write their logic against an interface. Read: [dependency inversion principle](https://en.wikipedia.org/wiki/Dependency_inv

[2017-06-05 23:06] danmosemsft commented on #20418
I've seen 2 more today eg
`Assert.InRange() Failure\r\nRange:  (1/1/01 12:00:00 AM - 6/5/17 12:13:10 AM)\r\nActual: 6/5/17 12:13:10 AM`

It looks like it's only slightly out of range. @brianrob are you the owner of this test?

It's this assert
[code]

https://mc.dot.net/#/user/8to5Developer/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/0feb1592e4f1daaf878bf1ebd5c250c8d904d0

[2017-06-05 23:15] danmosemsft commented on #519
@andreujuanc do you want to take a shot at formalizing the format? Link to a good example from this doc.
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2017-06-05 23:19] andreujuanc commented on #519
@danmosemsft Sure. But I would like to have a small discussion if possible. Gitter, slack, or should we keep everything in here?

[2017-06-05 23:26] weitzhandler opened #20721 "INotifyCollectionChanged : IEnumerable"
Why doesn't `INotifyCollectionChanged` inherit from `IEnumerable`?

[2017-06-05 23:33] danmosemsft commented on #519
We tend to keep stuff in here because otherwise it doesn't scale well. If you have alternatives or other proposals etc feel free to share them here or pick one suggestion for others to give feedback.

[2017-06-05 23:47] danmosemsft opened #20722 "System.Memory tests getting killed"
I'm seeing this periodically breaking our full runs.

This guy is getting killed after only 10 seconds so I assume it's not timed out. @MattGal thoughts?
Unfortunately whatever is doing this doesn't lead to a dump. @shiftylogic @ahsonkhan

[code]
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170605.04/workItem/System.Memory

[2017-06-05 23:48] brianrob commented on #20418
@danmosemsft, yes, I own this test.  How intermittent is this failure?  I would expect this to be fairly deterministic as there isn't any multi-threading here.  What could be happening is that the DateTime granularity is not very good on these platforms.  Do you know how the DateTime granularity on Linux compares to Windows?

[2017-06-05 23:48] danmosemsft commented on #20722
@mellinoe because i'd love for dumpling to be able to get a dump for killed/hung tests too.

[2017-06-05 23:54] danmosemsft commented on #20418
I don't. @stephentoub do you?

Note that as well as precision DateTime can also make larger jumps, eg., this affected a recent Sleep test where sporadically it would go backwards. Our assumption was that this was caused by a VM synchronizing its clock during the test. Changing to Stopwatch seems to have fixed it (so far). In this case that's not possible so I'd expect it to occasionally be an issu

[2017-06-06 00:09] MattGal commented on #20722
If you look at the Ubuntu 17.04 logs for this run you certainly see the Dumpling stuff get logged:

[code]

So if someone who works on this would like to help me investigate I'm  happy to but I think simply adding more logging to dumpling.sh might help.  From chatting with @mellinoe and looking at the dumpling site, we're definitely seeing some dumps from helixbot, it may simply not work on every

[2017-06-06 00:14] ahsonkhan commented on #20722
@shiftylogic, could this be related to the OOM killer given the error code?
https://stackoverflow.com/questions/30944355/bash-error-code-137-vs-1-when-out-of-memory

[2017-06-06 00:16] mellinoe commented on #20722
I'm about to merge a buildtools update which will pull in all of those Dumpling integration improvements I made last Friday. At the very least, we should get some better logging as to whether it was able to find a crash dump, what folder it looked it, what the exit code was, etc. Going forward we can add more logging in a centralized place (DumplingHelper.py) instead of two separate scripts.

[2017-06-06 00:18] mellinoe commented on #20722
That is all contingent on the process actually producing a core dump, though. Even the old script should have been able to find it if it was in the expected location. This should mean that there is no core file next to the application:

[2017-06-06 00:23] MattWhilden commented on #20689
Using the solution you provided I've observed that this issue occurs with or without .NET Native (DEBUG vs RELEASE config). It's a fail fast coming out of edgehtml and I'll need to chase someone down in their org to take a look.

[2017-06-06 00:58] mellinoe commented on #20698
@gkhanna79 Do we have any good documentation about the general migration path here?

[2017-06-06 01:38] gkhanna79 commented on #20698
In .NET Core 2.0, you can use AppDomain.GetAssemblies.

[2017-06-06 01:40] shiftylogic commented on #20722
I'm guessing it is the large memory Span::Clear test. It should probably be disabled on Linux. The deferred memory allocation + OOM killer is likely the cause of this.

[2017-06-06 01:55] mellinoe commented on #20698
Fair enough -- do we have any guidance for .NET Core 1.0 / 1.1?

[2017-06-06 02:08] WinCPP commented on #16650
@sepidehMS yup, I had followed all those steps and had used

https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/tests/Xslt/XsltCompiler/XsltCompiler.Tests.csproj as the template. Even tried with the one that you have suggested but still I'm not able to access XsltFunctions in the System.Xml.Xsl.Runtime.XsltFunctions class in the tests. All that I can access is the System.Xml.Xsl n

[2017-06-06 02:24] Jiayili1 commented on #20246
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170606.01/workItem/System.Net.HttpListener.Tests/wilogs

[2017-06-06 02:27] jamesqo commented on #3093
@tuespetre `Yield` seems like a good, unambiguous name. I've changed my mind on having `Create` above since that would not work well with `using static`.

@JonHanna @svick @jnm2 and others, does this sound like an acceptable name to you? Please be aware that this API will never get through unless we reach a consensus.

[2017-06-06 02:29] Jiayili1 commented on #20245
This issue is repro on Core Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170606.01/workItem/System.Net.NameResolution.Pal.Tests/analysis/xunit/System.Net.NameResolution.PalTests.NameResolutionPalTests~2FGetHostByName_HostName

[2017-06-06 02:31] dotnet-mc-bot opened #20723 "Test: System.Net.NameResolution.PalTests.NameResolutionPalTests/TryGetAddrInfo_HostName failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Net.NameResolution.PalTests.NameResolutionPalTests/TryGetAddrInfo_HostName` has failed.

Assert.Equal() Failure
    Expected: Success
    Actual:   HostNotFound

        Stack Trace:

           at System.Net.NameResolution.PalTests.NameResolutionPalTests.TryGetAddrInfo_HostName() in /root/corefx/src/System.Net.NameResolution/tests/PalTests/NameResol

[2017-06-06 03:45] danmosemsft commented on #20722
@shiftylogic could you please put up a PR to do this? if you disable it temporarily, we should leave this active with the disabled-test label.
@mellinoe yes I know there's no dump .. I'm just thinking aloud that ideally the infra would take one before it terminates the test process.

[2017-06-06 03:46] danmosemsft commented on #20714
@dcwuser

[2017-06-06 04:01] nagarajDeveloper commented on #20683
Yes, but again IEnumerable is part of System.Collections. so we can add System.Linq classes and properties to System.Collections whenever developer wants to query a collection, developer can avoid importing 2 libraries i.e.  System.Collections and System.Linq respectively. if they imports System.Collections will be enough.

________________________________
From: Stephen A. Imhoff <notifications@gi

[2017-06-06 04:04] danmosemsft commented on #20245
Also on suse 422
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170606.01/workItem/System.Net.NameResolution.Pal.Tests/analysis/xunit/System.Net.NameResolution.PalTests.NameResolutionPalTests~2FGetHostByName_HostName

@wfurt have you had a chance to look?

[2017-06-06 04:04] danmosemsft commented on #20245
The other test fails thus, I'm assuming common issue:
[code]

[2017-06-06 04:20] JeremyKuhne commented on #20688
Looked into this a bit more. Mono is trying to match Windows behavior, and we are as well, but we're failing to account for this. I'll change this to escape `[`.  It also looks like we need to escape backslash. (Mono does their own matching, even though they mention `fnmatch(3)`.)

If we really want this to be correct we should also look at correctly handling `?`. Not sure if this is possible with

[2017-06-06 04:26] danmosemsft commented on #17925
https://github.com/dotnet/corefx/issues/20441

[2017-06-06 04:27] gkhanna79 commented on #20698
There is no good way to achieve the same for 1.X - other than manual book-keeping of the assemblies loaded.

[2017-06-06 04:35] weitzhandler opened #20725 "Why is KeyedCollection abstract?"
How about having it non-abstract with its constructor accepting a `GetKeyFromItem` delegate?

[2017-06-06 04:40] wfurt commented on #20245
I'v been trying to figure out how to run this in loop with custom build @danmosemsft
But I'm not there yet. I see this is failing but I need to get more reliable repro.
So far I did not repro on my local Ubuntu machine.

[2017-06-06 05:37] dotnet-mc-bot opened #20726 "Tests under: System.Globalization.Tests failed with "System.IO.IOException""
Opened on behalf of @Jiayili1

The test `System.Globalization.Tests.CultureInfoDateTimeFormat/TestSettingThreadCultures` has failed.

System.IO.IOException : RemoteInvoke cannot open the remote service. Open Service Status: AppServiceUnavailable

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvoke(MethodInfo method, String[] args, RemoteInvokeOptions options)

[2017-06-06 05:38] Jiayili1 commented on #20726
Failed tests:
TestSettingThreadCultures
CurrentCulture
CurrentUICulture
DefaultThreadCurrentCulture
DefaultThreadCurrentUICulture
CurrentInfo_CustomCulture
CurrentInfo_Subclass_OverridesGetFormat
CurrentInfo_Subclass_OverridesNumberFormat

[2017-06-06 05:56] dotnet-mc-bot opened #20727 "Tests under: System.IO.MemoryMappedFiles.Tests.MemoryMappedFileTests_CreateNew failed with "System.UnauthorizedAccessException""
Opened on behalf of @Jiayili1

The test `System.IO.MemoryMappedFiles.Tests.MemoryMappedFileTests_CreateNew/ValidArgumentCombinations(mapName: \"06a87eadf82443ba97bcda3c60738f20\", capacity: 10000, access: ReadExecute, options: DelayA...` has failed.

System.UnauthorizedAccessException : Access to the path is denied.

        Stack Trace:

           at System.IO.MemoryMappedFiles.MemoryMappedFile.

[2017-06-06 06:09] dotnet-mc-bot opened #20728 "Test failure: System.Net.Tests.HttpListenerPrefixCollectionTests/Add_AlreadyStarted_ReturnsExpected"
Opened on behalf of @Jiayili1

The test `System.Net.Tests.HttpListenerPrefixCollectionTests/Add_AlreadyStarted_ReturnsExpected` has failed.

System.Exception : Could not reserve a port for HttpListener\r
    ---- System.Net.HttpListenerException : The handle is invalid

        Stack Trace:

           at System.Net.Tests.HttpListenerFactory.GetListener()
       at System.Net.Tests.HttpListenerPre

[2017-06-06 06:30] omariom commented on #20721
I think that's because there is no non-generic version of `IReadOnlyList` which would be most logical to inherit INPC from.

[2017-06-06 07:22] Jiayili1 commented on #20246
This issue is repro on Core Tests (2.0.0), detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170605.01/workItem/System.Net.HttpListener.Tests/wilogs

[2017-06-06 08:36] weitzhandler commented on #20721
I didn't understand you. How are `IReadOnlyList` and INPC related here? I was asking for non-generic `IEnumerable` to enable direct iteration on `INotifyCollectionChanged`.

[2017-06-06 09:04] mikedn commented on #20721
Why should it inherit from `IEnumerable`? `INotifyCollectionChanged` is a "feature" certain collection have, it's not itself a collection. That is, I wouldn't expect anyone to pass around a `INotifyCollectionChanged` and use it with `foreach` or LINQ.

[2017-06-06 09:09] weitzhandler commented on #20721
@mikedn, I mean the name itself implies its a collection, so why not provide the collection itself by it somehow, are there any `INotifyCollectionChange` implementations that are not collections? Is this necessary?

[2017-06-06 09:10] qmfrederik commented on #20712
@mellinoe I would try to rationalize the code as first, like this:
- Update the corefx submodule in Mono (and the mono/corefx fork)
- Redirect all "duplicate" files in Mono's System.Drawing to the netfx implementation. The following types should be easy to port (and there are a fair amount of them in Drawing):
   * structs
   * enums
   * interfaces
   * attributes

Mono is likely to rationalize S

[2017-06-06 09:20] mikedn commented on #20721
I'll quote one of your own question as an answer: "Is this necessary?" :)

[2017-06-06 09:31] weitzhandler commented on #20721
Lol and I meant is casting necessary

[2017-06-06 09:45] tmds opened #20731 "building corefx on linux platform with unknown rid"
When trying to build corefx on a Linux host with an unsupported RID, the external/{ilasm,runtime}.depproj fail to compile because they are using the host rid.

These projects are compiled as:
* /p:TargetGroup=netstandard /p:ConfigurationGroup=Debug /p:ArchGroup=x64 /p:OSGroup=AnyOS /p:TargetFramework=netstandard2.0
* /p:TargetGroup=netcoreapp /p:ConfigurationGroup=Debug /p:ArchGroup=x64 /p:OSGroup

[2017-06-06 10:51] mikedn commented on #20721
Well, casting is usually necessary since not all collection types implement `INotifyCollectionChange`. The usual pattern is that you get an `IEnumerable` (or some other collection type) from somewhere and try to cast it to `INotifyCollectionChange` to check if it supports change notifications.

The only way to avoid casting is to force people to give you a `INotifyCollectionChange` to begin with b

[2017-06-06 11:19] tmds commented on #20731
CC @ellismg

[2017-06-06 11:24] SamuelEnglard commented on #574
I would like to add that while changing interfaces is hard, with extension methods (and properties coming) interfaces are easier to extend and/or work with (see LINQ)

[2017-06-06 11:42] jmroyb commented on #20701
Hi @mellinoe I will try to explain myself better:

I use a library within Console and Wpf apps. It is 4Mb size (60% Windows api calls and 40% Linux bash calls). Console app can run in Windows and Linux.

I would like to split it into two libraries, in other words that is shorter and platform specific : one for Windows (with old lib 60% api calls) and other for Linux (with old lib 40% api calls). I

[2017-06-06 11:42] #20701 closed

[2017-06-06 12:55] tmds commented on #20628
@karelz @davidsh This is now future/enhancement. Are those the proper labels? This is a bug and I doubt it will be fixed post 2.0 due to backwards compat.

[2017-06-06 13:07] fanoI commented on #20712
Having System.Drawing on Unix does not means that WinForms are needed too? I've tried to use System.Drawing on Cosmos but when I've seen that any method draw in a form I've done my separated implementation.

There is a chanche in any case to have an official WinForm port on Unix?

[2017-06-06 13:12] qmfrederik commented on #20712
@fanoI System.Drawing does not require WinForms (WinForms does require System.Drawing).

So you can have System.Drawing on Unix without WinForms - see Mono or CoreCompat.System.Drawing as an example of how that could work.

I don't think anyone is working on porting WinForms to netfx on Unix; Mono does have a WinForms on Unix implementation if that's what you're after.

[2017-06-06 13:35] stephentoub commented on #20628
@karelz, I agree with @tmds this should be considered for 2.0.

[2017-06-06 13:47] fujiy commented on #14308
Related: #9698, #5749

[2017-06-06 13:54] stephentoub opened #20732 "Support await'ing a Task without throwing"
Currently there isn't a great way to await a Task without throwing (if the task may have faulted or been canceled).  You can simply eat all exceptions:
[code]
but that incurs the cost of the throw and also triggers first-chance exception handling.  You can use a continuation:
[code]
but that incurs the cost of creating and running an extra task.  The best way in terms of run-time overhead is to us

[2017-06-06 14:01] willdean opened #20733 "Unit test results presentation is unconventional"
![image](https://cloud.githubusercontent.com/assets/1306085/26832554/c7c2878e-4ac7-11e7-89f6-f327ccf8636d.png)

The above is a picture of some test results on one of the various CI flavours that's currently in use on CoreFx.

I will try to remain polite, but this is completely nuts.

* There is a 'fire' emoji (and "fire" is what the tool tip says) - does this mean it ran and it failed - i.e. "Fail

[2017-06-06 14:01] bassebaba opened #20734 "Httpclient PostAsync with null HttpContent differs on Windows/Linux"
[code]
Only thing server-side does is echo back the "content-type" header.

**When runned on windows 10, this is what I get:**
`Content-type:`

**When runned on Ubuntu, I instead get this:**
`Content-type:application/x-www-form-urlencoded
`

Is this the intended behaviour?

[2017-06-06 14:03] marek-safar commented on #20712
@mellinoe done the mono update

[2017-06-06 14:04] stephentoub commented on #20733
cc: @Chrisboh, @MattGal

[2017-06-06 14:07] willdean commented on #20732
Is there a reason why we have `ConfigureAwait(mysterious argument)` at all?  I think the enum proposal is much better than the existing bool version in terms of comprehensibility, but could we just have a few different ConfigureAwaitXXX() methods which just did one thing each and were named accordingly?

'AwaitWithoutThrowing()' for example (I'm not really proposing specific names).

[2017-06-06 14:16] davidsh commented on #20734
'Content-Type' request header is an entity body header.  It is only carried when there is non-NULL request body content. It has no meaning otherwise.  It is not a generic request/response header.

So, since you are sending a POST request with empty request body content:

[code]

There is no 'Content-Type' header sent on the wire to the server and thus, probably, the server can't echo one back.  Al

[2017-06-06 14:17] davidsh commented on #20734
cc: @stephentoub

[2017-06-06 14:36] vancem commented on #20331
Exactly what did you do to try to turn on the EventCounter using PerfView?   You have to do more than just turn on the provider, you have to tell it the sampling frequency.  For example to turn on EventCounters associated with the EventSource called  'SomeEventSource' a PerfView command line that would do that is

 * PerfView /onlyProviders=*SomeEventSource:EventCounterIntervalSec=1 collect

Did y

[2017-06-06 14:45] fujiy commented on #20331
I only set the provider, without the interval (and I used the GUI).

I will try your suggestion. Thanks

[2017-06-06 14:59] khellang commented on #20734
Sounds a lot like https://github.com/dotnet/corefx/commit/594ee48d91fbe827fb3e3cca05ef1cba8466e152, no?

[2017-06-06 15:06] khellang commented on #20734
Hmm. If libcurl adds a `Content-Type` header by default, [this logic](https://github.com/dotnet/corefx/blob/0e2b8241482c472b1ff456f57bc032716d62c260/src/System.Net.Http/src/System/Net/Http/Unix/CurlHandler.EasyRequest.cs#L706-L715) might be wrong. It checks `_requestMessage.Content != null` and `_requestMessage.Content.Headers.ContentType == null` before removing the `Content-Type` header, but in

[2017-06-06 15:21] stephentoub commented on #20734
@khellang, thanks, that does look like the culprit. Want to submit a fix and associated test? If not, I can.

[2017-06-06 15:22] khellang commented on #20734
Sure, I'll see if I can get the environment up and running 👍

[2017-06-06 15:38] tannergooding commented on #20714
I think the most logical way to expose these would be in the existing `Math` and `MathF` class under a `Fast*` moniker. These methods would operate at least as fast as the regular operations but could potentially provide less precision or different handling for edge scenarios due to how the hardware intrinsic operates (e.g. `FastMax` would differ in how `NaN` is handled on Arm vs x86 and `FastReci

[2017-06-06 15:42] norek commented on #20711
@mellinoe in`sln` file is reference to test project but it is missing in source code. Did  you forgot push it?

[2017-06-06 15:44] benaadams commented on #574
They can only work with the publicly defined methods on the interface; so it means getting it right first time. I'd suggest holding off on the interface for a bit till the class is in use and has settled - then introduce an interface.

[2017-06-06 15:45] tarekgh commented on #20726
Yes this is expected for now till we upgrade the Helix runs to use RS2. I'll keep this for tracking

[2017-06-06 15:52] danmosemsft commented on #20245
@wfurt it may be related to the way the Helix (test) machines are configured. Although, even then it's obviously not deterministic. You could talk to @MattGal to see if you can get access to one to loop the test there. Another option is to add lots of logging, submit that and wait for a hit. Thanks for looking, this one looks like it will be tricky.

[2017-06-06 16:02] shiftylogic commented on #20722
@danmosemsft I doubt the infrastructure is what is killing this test. This appears to be the built-in Linux OOM killer that is taking the process down. At the point of the process getting killed, the test infrastructure likely just sees this as the test terminating. Depending on how the machine is configured, you might be able to see more information (re: OOM killer, what process, etc) in the sysl

[2017-06-06 16:06] sharwell commented on #20732
Rather than `NoCapturedContext`, I would prefer to see:

[code]

Another helpful option would be `Yield`, which alters the behavior in cases where the antecedent is already complete in order to force a yield.

[2017-06-06 16:07] sharwell commented on #20732
I really wish there was a way to return a cancelled result from an `async` method without throwing the exception...

[2017-06-06 16:10] stephentoub commented on #20732
That's unrelated to this issue, though.  You're talking about how you transition the returned Task to be in a canceled state.  This issue is about the consuming side, regardless of how the Task-returning method was implemented... it may not have been using async/await at all.

[2017-06-06 16:11] willdean commented on #20732
I like the composable style of `await task.ConfigureAwait(true).NoThrow()`

Could we then have more clearly-named alternatives to ConfigureAwait(bool) which didn't need a bool?

To someone who hasn't been completely steeped in TPL, etc. from the outset I don't think `ConfigureAwait(false)` is intuitive at all -  does "false" mean it isn't configured?  Does it mean it isn't awaiting?  (Rhetorical,

[2017-06-06 16:12] stephentoub commented on #20732
But that means that code like:
[code]
would end up behaving like continueOnCapturedContext==false, and thus not incorporating the default for that option.

[2017-06-06 16:15] danmosemsft commented on #20722
@shiftylogic makes sense. Re memory overcommit- see https://github.com/dotnet/corefx/issues/19923

[2017-06-06 16:17] danmosemsft commented on #20722
We will need a PR porting to 2.0 also as it happened there yesterday. Note I need to ask shiproom before hitting merge. https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170605.01/workItem/System.Memory.Tests

[2017-06-06 16:37] weitzhandler commented on #20721
Are there proper purse cases for an INCC that's not an `IEnumerable`?

[2017-06-06 16:43] danmosemsft commented on #20698
@spati2 is 2.0 (currently out in Preview 1) an option for you to try? woudl be interested in any other feedback you have on it.

[2017-06-06 16:45] khellang commented on #20734
@stephentoub Any pointers on where to put the test? Can't see any `CurlHandler`-specific tests. Should I just put it in `PostScenarioTest`?

[2017-06-06 16:45] 4creators commented on #20666
After repo cleanup debug build was OK. However I have encountered another problem for which I will open separate issue - download of dependencies with LTE network connections.

[2017-06-06 16:46] stephentoub commented on #20734
Doesn't need to be Unix-specific, as this behavior should be the same across implementations.

Sounds good, thanks for fixing this.

[2017-06-06 16:49] Chrisboh commented on #20733
@willdean thanks for the feedback around this. We should be more clear around what the Fire means.

For context Fire means there was a catastrophic failure with the execution of the test dll.  This is unfortunately an issue that is a bit specific to CoreFX as XUnit is using the same framework that is under test.  When this happens you are missing all test coverage that was coming from that test DL

[2017-06-06 16:57] willdean commented on #20733
@Chrisboh Thanks (and for the magnanimity in the face of my obnoxiousness!)

Perhaps the easiest improvement would just be to fix the tooltips so that there was some explanation of the various icons.

[2017-06-06 16:57] mellinoe commented on #20711
@norek Oops -- it was a mistake to include it in the solution file. I had a couple of tests written on my local machine, but they weren't worth merging.

[2017-06-06 17:00] 4creators opened #20737 "[Contribution blocker] Huge (large - Mac) number of connections are opened and timeout for managed build deps"
I have built corefx on both Windows and Mac over last couple of days with one issue which resulted in multiple errors during the managed part of the build.

When managed build starts build restores several packages by connecting with Azure blobs. During several builds I have noticed that build failed with error indicating that some of the managed packages were not downloaded due to TimeoutExceptio

[2017-06-06 17:04] stephentoub commented on #20418
The precision and accuracy should be fairly good after https://github.com/dotnet/coreclr/pull/9772, though as it is an approximation of wall clock time it's not guaranteed to be monotonic and may jump forward or backwards a bit.

@janvorli, the switch to portable CoreCLR Linux builds wouldn't have affected HAVE_WORKING_CLOCK_GETTIME, would it?

[2017-06-06 17:06] danmosemsft commented on #20737
@weshaggard

[2017-06-06 17:08] danmosemsft commented on #20723
#20245

[2017-06-06 17:08] #20723 closed

[2017-06-06 17:15] mikedn commented on #20721
Likely not, code that's using INCC would need to access the collection items somehow.

[2017-06-06 17:22] mikedn commented on #20725
It sounds useful but it also opens the door to some funny mistakes - you can pass around a KeyedCollection where the key is property X to code that expects a KeyedCollection where the key is property Y.

That said it's more likely that the reason why KeyedCollection is abstract is that nobody considered using a delegate.

[2017-06-06 17:23] weitzhandler commented on #20721
So I don't understand why not `INotifyCollectionChanged : IEnumerable`.

[2017-06-06 17:27] joperezr opened #20739 "Several Xml types use Ref Emit on uapaot which is not supported, which will cause a runtime exception"
There are several types in System.Private.Xml today that are using types from System.Reflection.Emit which do not exist in UWP. From a quick scan, these types seem to be:
[code]

Once those two classes are correctly fixed to not use Ref Emit(either by throwing PNS or by different implementation) then we should also fix two things in order to better  catch things like this:
 - Modify the ref of ref

[2017-06-06 17:31] danmosemsft commented on #20739
@krwq can you take this if @joperezr isn't already? There is also the question of what XslCompiledTransfor m should do -- throw PNSE, or pass through to XslTransform. For you and @sepidehMS to decide.

[2017-06-06 17:34] mikedn commented on #20721
And I don't understand why `INotifyCollectionChanged` should inherit `IEnumerable` :)

In general, just because something is possible doesn't mean that it has to be done. And when it comes to interfaces this is IMO even more true.

[2017-06-06 17:35] joperezr commented on #20715
Linking PR where the attributes where added: #20720

[2017-06-06 17:37] joperezr commented on #20715
@tarekgh we are not sure what the source of the problem is yet, but since we are driving to get to a green run, for now all tests that are failing are being disabled and tracked with an issue. We will later do a push to ZBB and we will fix/investigate all of these.

[2017-06-06 17:37] weitzhandler commented on #20725
1. I don't see this as an issue
2. Since the delegate can only be provider on constructor, the key selector is expected to be unpublicized.

I find `KeyedCollection` very powerful for constructing self-containing keys in dictionaries. I'd even want to have `KeyedCollection` implement `IDictionary<TKey, TValue>`.

[2017-06-06 17:41] #20721 closed

[2017-06-06 17:41] mellinoe opened #20740 "Finalize packaging for System.Drawing.Common"
When we have implemented all planned versions of System.Drawing.Common, we should finalize the packaging for the library. This includes making sure the correct System.Drawing shims are produced, packaged, and are correct.

[2017-06-06 17:43] wfurt commented on #20666
OK @4creators . I'm closing it for now. It would be interesting to know how did you get to that state.
For cleanup, did you use the clenup script or did you use git method suggested by @bartonjs ???

[2017-06-06 17:43] #20666 closed

[2017-06-06 17:44] karthiknadig opened #20741 "How to Configure Network Tracing on Linux?"
I want to enable network tracing similar to the tracing described here (https://msdn.microsoft.com/en-us/library/ty48b824.aspx). Is there anything equivalent on linux?

[2017-06-06 17:58] qmfrederik commented on #20706
@mellinoe I also noticed that there are quite some inconsistencies in file names:
- System.Drawing.Imaging and System.Drawing.Drawing2D seem to live in the System/Drawing/Advanced folder
- EventArgs-classes, such as PrintEventArgs, are missing the "Args" in the file name (e.g. PrintEvent.cs)

[2017-06-06 18:00] ellismg commented on #20126
With the newest buildtools (which I pushed to this branch) we should no longer be trying to crossgen in this way and shouldn't hit issues anymore.

[2017-06-06 18:00] #20126 closed

[2017-06-06 18:07] janvorli commented on #20418
@stephentoub It should not. Running build on my CentOS 7:
`-- Performing Test HAVE_WORKING_CLOCK_GETTIME - Success`

[2017-06-06 18:13] mellinoe commented on #20706
I've retained the file structure and file names from the internal code base, so that is my excuse for that 😄 .

We should clean it up, though. I'll add another check for that.

[2017-06-06 18:38] weshaggard commented on #20731
cc @mellinoe

While doing some other work I also noticed some inconsistencies here. I think what we want is something like:

(similar to https://github.com/dotnet/corefx/blob/master/pkg/dir.props).
[code]

[2017-06-06 19:06] tijoytom opened #20744 "System.Diagnostic.Tracing tests need reflection metadata enabled for uapaot"
These tests are failing with m$BlockedFromReflection . Need proper rd.xml or workaround

Test_Write_Fuzzy()
Test_Write_T_EventListener()
Test_Write_T_In_Manifest_Serialization()
Test_Write_T_EventListener_UseEvents()

[2017-06-06 19:12] mellinoe commented on #20712
@qmfrederik Thanks for jumping on this. I think reducing any duplication in the mono sources is a good first step. It should make the later steps much easier.

[2017-06-06 19:14] danmosemsft commented on #20733
(Including a tooltip for the whiteboxes)

[2017-06-06 19:24] mellinoe commented on #20701
@jmroyb I'm afraid this is more of an application architecture question, so I'm not sure how much help my advice is going to be without knowing very much about what you're trying to accomplish.

As for the "runtime.xyz" packages: I don't think they are related to your problem. For .NET Core, we produce a number of "runtime" NuGet packages in order to support a wide variety of systems in the .NET C

[2017-06-06 19:27] danmosemsft opened #20746 "BeginSendToV6IPEndPointToV6Host_Success timed out on OSX"
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release_prtest/4260/consoleFull#18185173682d31e50d-1517-49fc-92b3-2ca637122019
[code]

[2017-06-06 19:31] Clockwork-Muse commented on #20732
...which is the exact reason Clean Code (and a lot of similar books/posts) recommends against them.

And if I ever get around to finishing that writeup of the language idea I have, raw Boolean parameters would be explicitly disallowed, in favor of some encapsulating value (like a shortcut enum declaration or something)

[2017-06-06 20:01] davidsh commented on #12331
Yes, this issue can be closed now.

[2017-06-06 20:01] #12331 closed

[2017-06-06 20:11] danmosemsft opened #20747 "System.Net.Sockets tests hung"
https://ci.dot.net/job/dotnet_corefx/job/release_2.0.0/job/centos7.1_release_prtest/228/consoleText
[code]

No other information available. @mellinoe @MattGal in this case we definitely terminated the test, and it's not possibel to investigate unless we enable dumpling to grab dumps from the relevant processes before we kill them.

[2017-06-06 20:14] anpete opened #20748 "Timestamp missing from SqlClientDiagnosticListenerExtensions.WriteCommandBefore telemetry publisher"
The SqlBeforeExecuteCommand telemetry event is missing the timestamp making it more difficult to compute the duration of executed commands.

cc @saurabh500

[2017-06-06 20:20] mellinoe commented on #20747
I wonder how we can accomplish that, though. I believe Jenkins terminates our stuff once it reaches the timeout limit, right? Should we have a finer-grained timeout feature within test execution that knows how to handle this case?

[2017-06-06 20:31] #11726 closed

[2017-06-06 20:32] sepidehMS commented on #18283
@krwq This seems to be a dupe of https://github.com/dotnet/corefx/issues/20739

[2017-06-06 20:36] krwq commented on #18283
Yep

[2017-06-06 20:36] #18283 closed

[2017-06-06 20:39] sepidehMS commented on #18060
This has already been fixed by https://github.com/dotnet/corefx/pull/19735 and https://github.com/dotnet/corefx/pull/20262

[2017-06-06 20:39] #18060 closed

[2017-06-06 20:40] AtsushiKan opened #20749 "Disabled tests in System.Globalization.Tests on ILC."
[code]

All failing with the message: System.InvalidOperationException : The process has no package identity. (Exception from HRESULT: 0x80073D54)

Probably an artifact of running the tests outside an app-container. Will leave to area owner to decide how best to conditionalize the tests (if appropriate.)

[2017-06-06 20:51] spati2 commented on #20698
Thanks, I will give that a try.

[2017-06-06 20:51] #20698 closed

[2017-06-06 20:58] AtsushiKan commented on #20749
Never mind - test precedent is to SkipTarget this class of failures.

[2017-06-06 21:07] stephentoub commented on #20688
I'm unclear... what is the extent of the cases that aren't "correctly" handled today, and what is the impact of not handling them in the prescribed manner?

And what is the proposed fix?

[2017-06-06 21:12] ianhays commented on #20688
I suppose I prefer maintaining consistency with mono/windows, though I'm on the fence about it. Would a Unix dev be familiar with this weird Windows behavior that is based on historical decisions?

[2017-06-06 21:13] safern opened #20751 "MemoryMappedFile.CreateViewStream(int, int, MemoryMappedFileAccess.ReadWriteExecute) throws `IOException` in UapAot"
If we run the following code in UapAot:
[code]

`mmf.CreateViewStream(0, Capacity, MemoryMappedFileAccess.ReadWriteExecute);` will throw the following exception:

[code]

Currently we are hitting this in this test: https://github.com/dotnet/corefx/blob/master/src/System.IO.MemoryMappedFiles/tests/MemoryMappedViewStream.Tests.cs#L101-L108

This is supposed to throw an `UnauthorizedAccessException`

[2017-06-06 21:20] svick commented on #20732
A very similar issue for synchronous waiting: https://github.com/dotnet/corefx/issues/8142.

[2017-06-06 21:25] tannergooding commented on #20714
I updated the proposal and the title to be more inline with what has been discussed so far.

[2017-06-06 21:32] mellinoe commented on #7543
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release_prtest/4276/consoleFull

[2017-06-06 21:39] Chrisboh commented on #20733
Agreed we should be clear on all definitions.  I have added dotnet/core-eng#877 to track this issue.  Are you guys ok to close this out out and track it there?

[2017-06-06 21:39] sepidehMS commented on #16650
@WinCPP You are right. I totally missed it before, but all types in System.Xml.Xsl.Runtime are supposed to be called at runtime only and cannot be accessed directly from a user application, as these types are not exposed in the XML contracts (for the same reason). Given that, to increase code coverage for these types, you will need to write scenarios which make runtime calls into these APIs. I und

[2017-06-06 21:46] #20734 closed

[2017-06-06 21:46] mellinoe commented on #20733
That's a private repository; not everyone can see it or follow the discussion there.

[2017-06-06 21:55] danmosemsft commented on #20441
@saurabh500 @corivera as discussed this is the one that needs logging added. It keeps getting hit in CI - note some of the hits are tracked in https://github.com/dotnet/corefx/issues/17925 (although that may cover other issuses.. logging should untangle all this)

[2017-06-06 22:01] JeremyKuhne commented on #20688
- Using a `[` in your search pattern won't work consistently across Windows/Unix (see the user's scenario at the top)
- Having a `\` in your search pattern on Unix escapes, on Windows it doesn't (not a valid char on Windows, but you won't be able to search for files on Unix without knowing that you have to double escape)
- Searching for `Foo???.txt` will return different results on Unix/Windows
-

[2017-06-06 22:03] danmosemsft commented on #20418
Do we have any better ideas than increasing the tolerance?
Note even then this test will be vunerable to concurrent adjustments to the clock as we saw with the Sleep test: the only way I can think of to deal with that would be to try a second time if it failed the first.

[2017-06-06 22:07] danmosemsft commented on #20751
87 = ERROR_INVALID_PARAMETER

[2017-06-06 22:11] jkotas commented on #20751
On UWP, this calls MapViewOfFileFromApp that disallows ReadWriteExecute and thus returns different error code for it: https://github.com/dotnet/corefx/blob/b1865ea0847a7a86baefe8378b772ecf0b785681/src/System.IO.MemoryMappedFiles/src/System/IO/MemoryMappedFiles/Interop.Windows.Uap.cs#L44

[2017-06-06 22:12] safern commented on #20751
So then this is expected behavior? ReadWriteExecute should not be allowed in UWP?

[2017-06-06 22:15] ViktorHofer commented on #20751
It should work in UAP since this change: https://github.com/dotnet/buildtools/pull/1503

I enabled codeGeneration capability there which is required for *Execute mode in MemoryMappedFile operations.

[2017-06-06 22:16] tijoytom opened #20753 "System.IO test failure since the right exception is not thrown in uap-aot"
These tests are expecting ArgumentNull , but never gets it. Should be a simple fix.
TestNullStream_CopyToAsyncValidation()

[2017-06-06 22:17] ViktorHofer commented on #20751
Code generation
The codeGeneration capability allows apps to access the following functions which provide JIT capabilities to apps.

VirtualProtectFromApp
CreateFileMappingFromApp
OpenFileMappingFromApp
MapViewOfFileFromApp

https://docs.microsoft.com/en-us/windows/uwp/packaging/app-capability-declarations

[2017-06-06 22:19] willdean commented on #20733
I'm not fussed that I can't follow it there - happy to have this closed if that suits.

[2017-06-06 22:19] jkotas commented on #20751
codeGeneration capability does not allow you to create ReadWriteExecute  mapping.

The documentation for some of the above APIs has

[code]

This snippet is missing for some, but it is just documentation bug.

[2017-06-06 22:22] svick commented on #20732
I think the question here is whether it's better to have clean and simple API or whether it's better if the code that uses the API is simple and short.

With `task.ConfigureAwait(ConfigureAwaitBehavior.NoCapturedContext | ConfigureAwaitBehavior.NoThrow)` the API is simple, easy to understand and easy to extend, but the code is very verbose (though `using static` can improve that somewhat).

On the

[2017-06-06 22:27] qmfrederik commented on #20712
@mellinoe Sure, I think there's still a lot of low hanging fruit in the .Imaging and .Drawing2D namespaces. I'll submit a new PR to Mono once the names in corefx are OK.

Once that's done, I think there are a couple of fairly easy changes still to be made (for example, I omitted exceptions because they use embedded resources, or some of the enums because they reference constants declared in Native

[2017-06-06 22:29] ViktorHofer commented on #20751
@safern If that's true and we need to work around it please see this PR which reverted my changed which handled those cases: https://github.com/dotnet/corefx/pull/19873

@jkotas You are sure about that and it can't be something missing from the Windows team?

[2017-06-06 22:29] desmondgc commented on #16823
@karelz can you explain in more detail why System.Runtime.Serialization.Primitives is considered a non-issue?

We just spent days fighting with binding redirects and needed to install System.Runtime.Serialization.Primitives package in dozens of projects that don't need it directly but reference a .NET Standard library that requires it. In addition, we ended up [needing to add a binding redirect to

[2017-06-06 22:34] nguerrera opened #20755 "File move operation with semantics of Unix rename"
I am looking for a file move operation with the following characteristics:

- Overwrites the destination file if it already exists
- Creates the destination file if it does not exist
- Replaces the destination file atomically
- Never falls back to copying (I want an error if the destination is on a different volume)

On Unix, [rename(2)](http://man7.org/linux/man-pages/man2/rename.2.html) meets th

[2017-06-06 22:36] safern commented on #20751
Thanks @jkotas, I was just digging to the Windows code and it is true, it is an expected behavior.

I think I would rather split the test to test the right behaviors in all platforms

[2017-06-06 22:36] safern commented on #20751
Closing as it is an expected behavior.

[2017-06-06 22:36] #20751 closed

[2017-06-06 22:44] jkotas commented on #20751
IMHO, IOException with `The parameter is incorrect` message is not very useful in this case. It may be more appropriate to throw UnauthorizedAccessException.

[2017-06-06 22:46] safern commented on #20751
Agree. Maybe we should talk to the Windows team to get that changed

[2017-06-06 22:56] brianrob opened #20757 "Enable Linux Performance Runs"

[2017-06-06 22:58] jkotas commented on #20751
Shipped already. Not going to change...

[2017-06-06 23:05] AtsushiKan commented on #20749
Meant to close this - these tests end up being disabled by a IsNetNative && !IsWinRt check.

[2017-06-06 23:05] #20749 closed

[2017-06-06 23:50] wfurt commented on #20245
I have some update on this. I did set up fresh Ubuntu and I get 100% repro case.

All those tests assume that "hostname" will resolve via DNS lookup. That is not true in general case - at least not on Linux.

furt@DUT:~/dotnet/corefx/src/System.Net.WebProxy/tests$ nslookup dut
;; Got SERVFAIL reply from 10.222.116.92, trying next server
;; Got SERVFAIL reply from 10.222.118.154, trying next server

[2017-06-06 23:53] saurabh500 commented on #20441
@danmosemsft ack. Looking into the logging.

[2017-06-07 00:01] danmosemsft commented on #20627
Throwing another idea in the pile. @wfurt suggested it would be useful to have an attribute one could adorn a method with [AfterTestFailureAttribute] and it would be called each time a test failed and could gather various possibly helpful diagnostic info. Eg., for networking tests certain system logs and configuration data. I can't find anything in XUnit to do this - I see [BeforeAfterTestAttribut

[2017-06-07 00:28] danmosemsft commented on #20627
To keep this discussion going I'm going to take a shot at putting suggestions in descending order of importance:

1. Make test explorer work for CoreFX tests  (are there any other VS integration issues?)
1. Add Assert overloads that have messages (apparently this will have to be in our own repo)
1. Reduce xunit output noise - skipped, failed 0 (filter perhaps in our wrapper exe or contribute a new

[2017-06-07 01:30] huanwu commented on #19930
@eerhardt I tried the first way. I added .deps.json and runtimeconfig.json as https://github.com/huanwu/corefx/commit/a8e993d09804b791a084bfcc626b8c81f4e746c8

When I run dotnet Microsoft.XmlSerializer.Generator.dll, it gives me the following error:
Unhandled Exception: System.MissingMethodException: Entry point not found in assembly 'Microsoft.XmlSerializer.Generator, Version=1.0.0.0, Culture=neu

[2017-06-07 01:35] brianrob commented on #20757
Fixed via #20756.

[2017-06-07 01:35] #20757 closed

[2017-06-07 04:02] danmosemsft opened #20764 "Serial port failures"
Unfortunately it's hard to find the red errors among the forest of yellow skipped. I found some representative ones, not sure whether there should be separate issues:
https://mc.dot.net/#/user/luqunl/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/f991037ff4a2b8628fc027bfdf6dccddb68a9f39/workItem/System.IO.Ports.Tests

@willdean are these all symptoms of somehow not having a

[2017-06-07 04:11] danmosemsft commented on #20764
Same on full build also
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170607.01/workItem/System.IO.Ports.Tests

I've made sure there ar eissues logged in the internal DB to improve the test UI..

[2017-06-07 04:27] danmosemsft opened #20765 "System.Numerics Matrix4x4 Right-Handed Coordinates Systems?"
@rochar commented on [Mon Jun 05 2017](https://github.com/dotnet/coreclr/issues/12081)

Hi,

It's supposed to use Matrix4x4 only in Left-Handed Coordinates systems?

Thanks
Ricardo

[2017-06-07 05:38] danmosemsft commented on #20722
OK done.

[2017-06-07 05:38] #20722 closed

[2017-06-07 05:43] tijoytom opened #20766 "System.Threading.Thread TrySetApartmentState missing uap-aot implementation"
These methods need to be implemented.

public ApartmentState GetApartmentState()
public bool TrySetApartmentState(ApartmentState state)
public void DisableComObjectEagerCleanup()
public void Interrupt()

[2017-06-07 06:19] Jiayili1 commented on #19513
Following test failed with same issue: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170607.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PostScenarioTest~2FPostSyncBlockingContentUsingChunkedEncoding_Success(serverUri:%20http:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

[2017-06-07 06:21] Jiayili1 commented on #20246
Failed again on Core Tests (Master) in build 20170607.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170607.01/workItem/System.Net.HttpListener.Tests/wilogs

[2017-06-07 06:31] dotnet-mc-bot opened #20768 "Test failure: System.IO.Ports.Tests.SerialStream_WriteTimeout_Property/SuccessiveWriteTimeoutNoData_WriteByte"
Opened on behalf of @Jiayili1

The test `System.IO.Ports.Tests.SerialStream_WriteTimeout_Property/SuccessiveWriteTimeoutNoData_WriteByte` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.TimeoutException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.IO.Ports.Tests.SerialStream_WriteTimeout_Property.SuccessiveWriteTimeoutNoData_WriteByte()

[2017-06-07 06:42] hseok-oh opened #20769 "[ARM32/Linux] Test failure: Invariant.Tests.dll"
Environment: Raspberry pi 3 (Ubuntu 16.04)

[code]

Fail message example
[code]

[2017-06-07 06:53] Jiayili1 commented on #20764
Following tests failed with:
[code]
System.IO.Ports.Tests.WriteTimeout_Property/WriteTimeout_Default_WriteLine
System.IO.Ports.Tests.WriteTimeout_Property/WriteTimeout_Default_Write_byte_int_int
System.IO.Ports.Tests.WriteTimeout_Property/WriteTimeout_Default_Write_char_int_int
System.IO.Ports.Tests.WriteTimeout_Property/WriteTimeout_Default_Write_str
System.IO.Ports.Tests.WriteTimeout_Property/Wr

[2017-06-07 06:56] Jiayili1 commented on #20764
Following tests failed with:
System.IO.Ports.Tests.SerialStream_WriteTimeout_Property/WriteTimeout_750_WriteByte
System.IO.Ports.Tests.SerialStream_WriteTimeout_Property/WriteTimeout_750_Write_byte_int_int
System.IO.Ports.Tests.SerialStream_WriteTimeout_Property/WriteTimeout_LargeWrite
[code]
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunct

[2017-06-07 06:58] Jiayili1 commented on #20764
Following tests failed with:
System.IO.Ports.Tests.SerialStream_WriteTimeout_Property/WriteTimeout_Default_WriteByte
System.IO.Ports.Tests.SerialStream_WriteTimeout_Property/WriteTimeout_Default_Write_byte_int_int
System.IO.Ports.Tests.SerialStream_WriteTimeout_Property/WriteTimeout_Infinite_WriteByte
System.IO.Ports.Tests.SerialStream_WriteTimeout_Property/WriteTimeout_Infinite_Write_byte_int_int

[2017-06-07 07:01] Jiayili1 commented on #20077
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170607.01/workItem/System.Collections.NonGeneric.Tests/analysis/xunit/System.Collections.Tests.CaseInsensitiveHashCodeProviderTests~2FDefault_Compare_TurkishI

[2017-06-07 07:53] hseok-oh commented on #20769
Close it because it is test environment problem.

[2017-06-07 07:53] #20769 closed

[2017-06-07 08:38] v-haren opened #20772 "No test reports found for the metric 'xUnit.Net' with the resolved pattern 'bin/**/testResults.xml'. failed in ci"
[xUnit] [ERROR] - No test reports found for the metric 'xUnit.Net' with the resolved pattern 'bin/**/testResults.xml'. Configuration error?.

detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_opensuse42.1_debug/71/consoleFull#136046166483554902-aff0-4799-9e92-0ada24ce2a06

[2017-06-07 08:40] v-haren opened #20773 "[WS-CLEANUP] Cannot delete workspace: remote file operation failed: /Users/dotnet-bot/j/workspace/dotnet_corefx/master/outerloop_netcoreapp_osx_debug at hudson.remoting.Channel@2ce3a350:dci-mac-build-083: hudson.remoting.ChannelClosedException: channel is already closed"
detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_debug/76/consoleFull#10182403706ee26338-6221-4f7c-8c8f-1d1d5cb4704a

[2017-06-07 08:51] bassebaba commented on #20734
@davidsh Yeah I know how it's supposed to work, the "echo back" from localhost was just a simple way to debug on multiple systems/OS:es and to show you the bug, instead of using wireshark, log it on some remote web server, or whatever. I was just trying to write a nice "issue" that you easily could reproduce.
I could have just gone "Why the ¤#&/&%#"¤/ is your HttpClient-POST-implementation broken?

[2017-06-07 10:00] jmroyb commented on #20701
Hi @mellinoe ,

thanks for your comments.

[2017-06-07 10:12] #20675 closed

[2017-06-07 11:24] benaadams commented on #20732
Change to `AwaitBehavior`?

`task.ConfigureAwait(AwaitBehavior.NoCapturedContext | AwaitBehavior.NoThrow)`

[2017-06-07 12:43] TobiasBreuer opened #20775 "System.Drawing.Rectangle Contains methods are not semantically consistent"
This issue is true for the good old Framework as well as for the "new" .NetCore implementation (corefx/src/System.Drawing.Primitives/src/System/Drawing/Rectangle.cs)

The Rectangle class provides the following overloaded versions of the contains method:

    public bool Contains(int x, int y);
    public bool Contains(Point pt) // forwards to Contains(int, int);
    public bool Contains(Rectangle

[2017-06-07 12:43] blowdart commented on #14354
For those thinking about the crypto perspective - http://tuprints.ulb.tu-darmstadt.de/2094/1/thesis.lehmann.pdf

[2017-06-07 12:59] mikedn commented on #20775
Well, the `System.Drawing.Rectangle` is used for graphics. Pixel oriented graphics to be precise. No matter how you look at it there's no way that pixel (100, 0) can be considered to be contained by rectangle (0, 0, 100, 20) which covers pixel columns 0 to 99.

[2017-06-07 13:02] eric-davis opened #20776 "System.Exception loses Message value during serialization/deserialization"
System.Exception appears to have some serialization issues. If I perform the following simple test utilizing Newtonsoft.Json for serialization, it fails:

[code]

The custom message value is lost during deserialization and replaced with the default exception message: "Exception of type 'System.Exception' was thrown."

This was tested against System.Runtime version 4.1.0.0

[2017-06-07 13:19] TobiasBreuer commented on #20775
Yes, this is of course totally correct. But still there is some inconsistency there in my opinion because a Rectangle defined as above has also the properties
Right = 100;
Bottom = 20;
So from your argumentation (which I fully agree to), either the Rectangle class has to reflect it's actual column coverage (Right = 99 [inclusive]) or the contains should be adapted. Or we all agree that Right = 100

[2017-06-07 13:43] AtsushiKan commented on #18942
These are the lines that need to be deleted:

https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Runtime/Serialization/Formatters/BinaryFormatterHelpers.cs#L18

https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Runtime/Serialization/Formatters/BinaryFormatterHelpers.cs#L33

[2017-06-07 13:45] willdean commented on #20732
If that's really all the choice is, then it seems to me one should almost always favour putting the complexity in the framework rather than the consuming app - otherwise what's the framework for?

If everything has to be duplicated on `Task` and `ConfiguredTaskAwaitable` then that's a real pain and might be a showstopper, but within a single class there can't be much to choose in terms of complexi

[2017-06-07 13:54] mikedn commented on #20775
Where? MSDN [says](https://msdn.microsoft.com/en-us/library/system.drawing.rectangle.right):

and

The fact that `Right` and `Bottom` are exclusive or inclusive is IMO a different issue, unrelated to the behavior of `Contains`.

[2017-06-07 15:01] stephentoub commented on #20776
Seems like this is an issue for https://github.com/JamesNK/Newtonsoft.Json?

[2017-06-07 15:03] TobiasBreuer commented on #20775
Well, that pretty much clarifies the situation. I was referring to the xml documentation in the source code (given on both, the ReferenceSource and here within the file).

With this additional statement from MSDN you quoted, the situation is clear and the behaviour matches the definition. I'm sorry for unnecesserily causing any trouble. This issue can be closed with the given information.

[2017-06-07 15:39] ericstj commented on #16823
@desmondgc it sounds like you expected that all things available by default to a .NET Standard library were included by default in frameworks that support NETStandard.  That is the direction we're going with NETStandard2.0.  We're adding all the support libraries to the tooling and referencing them automatically when you bring in a netstandard library to a desktop project.  A future version of des

[2017-06-07 16:13] karelz commented on #20684
On related note: Did you know about [PowerCollections](http://powercollections.codeplex.com/)? It is something we are thinking about to put into a new repo (e.g. CoreFXExtensions). No decision made yet, no timeline though. The idea is flying around since December ... still needs more thought. Maybe by end of summer I will get to it ...

[2017-06-07 16:14] willdean commented on #20775
Sounds like a PR on the XML docs would be worthwhile...

[2017-06-07 16:16] karelz commented on #20690
@preetikr can you please help?

[2017-06-07 16:17] karelz commented on #20695
@ericstj @weshaggard can you please help?

[2017-06-07 16:19] karelz commented on #20737
@mellinoe any thoughts?

[2017-06-07 16:20] karelz commented on #20741
@geoffkizer @stephentoub @wfurt @Priya91 any suggestions?

[2017-06-07 16:23] karelz commented on #20753
@tijoytom is it a test bug or bug? Can you please follow [triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified)?

[2017-06-07 16:25] karelz commented on #20772
@weshaggard @mellinoe any idea?
cc @danmosemsft

[2017-06-07 16:26] karelz commented on #20773
@danmosemsft @weshaggard @mellinoe any idea where to route it?

[2017-06-07 16:27] karelz commented on #20776
@eric-davis can you please move your bug report there?

[2017-06-07 16:29] danmosemsft commented on #20772
@karelz look higher up the log or go to https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_opensuse42.1_debug/71 and you see it didn't clone the repo. The missing test results are an inevitable consequence.
This coincided with the github outage.

[2017-06-07 16:29] #20772 closed

[2017-06-07 16:34] ericstj commented on #20695
Make sure you enable bindingRedirects in your desktop project.  https://msdn.microsoft.com/en-us/library/2fc472t2(v=vs.110).aspx

The version of System.Diagnostics.Process from package version `4.3.1`  projects targeting .NET 4.6.1 and greater is `4.1.1.0`.

[2017-06-07 16:38] #20695 closed

[2017-06-07 16:40] tijoytom commented on #20753
Not sure if you notice the title it says
"System.IO test failure since the right exception is not thrown in uap-aot" . I don't see what that confusion is here?

[2017-06-07 16:41] karelz commented on #15808
Unassigning @the-dwyer as the issue does not seem to be active.

@8to5Developer, thanks for picking it up! I added you as Collaborator to the repo, so that I can assign the issue to you once you accept. Please ping me once you accept, and I will update the temporary assignment.
In future, ping issues when you pic them up to avoid duplicate work / overlap. Thanks!

You might find this useful: [new

[2017-06-07 16:47] danmosemsft commented on #20773
@mmitche this just seems all broken and the agent shows as broken: https://ci.dot.net/computer/dci-mac-build-083/ ?

[2017-06-07 17:20] mellinoe commented on #20765
Some of the static factory methods on Matrix4x4 assume a right-handed coordinate system. Otherwise, the type can be used from any coordinate system; it makes no difference.

[2017-06-07 17:20] #20765 closed

[2017-06-07 17:29] JeremyKuhne opened #20779 "Wildcard question marks don't collapse right on Unix"
`?` runs before periods and end-of-string should collapse. When they are there they are `.{0,n}` in regex-speak. So `Foo???.txt` would be `Foo.{0,3}\.txt` as a regex. Not sure if something equivalent is possible with `fnmatch(3)`.

See discussion in #20688

Matching behavior is described [here](https://blogs.msdn.microsoft.com/jeremykuhne/2017/06/04/wildcards-in-windows/).

[2017-06-07 17:40] tarekgh commented on #20776
I have reported the issue to https://github.com/JamesNK/Newtonsoft.Json/issues/1336 and closing the issue here.

[2017-06-07 17:44] JeremyKuhne opened #20780 "Trailing periods are not optional on Unix with wildcards"
If a period is followed by a '`*`' or '`.`' it doesn't have to match if it is at the end of the string on Windows. '`foo.*`' is the common example. It will match '`foo`', '`foo.`', '`foo.txt`', but not '`foobar`'.

See discussion in #20688, related to #20779

Matching behavior is described [here](https://blogs.msdn.microsoft.com/jeremykuhne/2017/06/04/wildcards-in-windows/).

[2017-06-07 17:46] CIPop commented on #20400
/cc @DavidGoll @karelz

The issue is caused by an incorrect re-use of a `NativeOverlapped` struct.
The code responsible with IOCP for HttpListener has been substantially changed part of the .Net Core as the ThreadPool IOCP API contracts are different in Core vs Desktop.

A short summary of IOCP operations in .Net Core: a `ThreadPoolBoundHandle` is used to associate a `SafeHandle` (in this case the

[2017-06-07 17:47] mellinoe commented on #20737
@4creators Do you know which step is causing problems for you? We have a couple of places where we download things from the internet:

* init-tools.cmd -- Downloads a few things and restores some packages from myget
* external/dir.proj -- This is the first project that builds, and it causes a lot of things to be downloaded.

I wonder if we can make this better by 1) disabling parallelism in `dotne

[2017-06-07 17:51] JeremyKuhne opened #20781 "Trailing '*.' does not match correctly on Unix"
A final `*.` in a search pattern gets treated special by Windows. It becomes `<` and will eat any character _up to and including_ the final period. So `foo*.` will match any file beginning with `foo` that does not have an "extension". It will match `foo`, `foobar`, but not `foo.bar`.

See discussion in #20688, related to #20779, #20780

Matching behavior is described [here](https://blogs.msdn.micr

[2017-06-07 17:56] danmosemsft opened #20782 "Implement Environment.GetFolderPath for UWP"
Windows are not exposing SHGetKnownFolderPath generally in RS3 as it doesn't yet give the correct answers for apps.

Environment.GetFolderPath should do this on UWP:
* For anything that should be app-isolated, use the WinRT Windows.Storage.ApplicationData API
* For anything that should be shared (photos, music, etc.) use SHGetKnownFolderPath, which .NET implementation will have special access to.

[2017-06-07 17:59] danmosemsft commented on #20782
@ptorr-msft could you please confirm this is correct and also what each Environment.SpecialFolder should map to?

[2017-06-07 18:03] #18017 closed

[2017-06-07 18:03] mmitche commented on #20773
@danmosemsft I took the machine offline because it was misbehaving

[2017-06-07 18:10] tquerec commented on #20669
There are a number of different options available for LDAP servers.

**Active Directory** - Available only as a windows server role
**Active Directory Lightweight Directory Services** - Available on Windows Server and as an optional feature on Windows client
**3rd party LDAP stores** - There are a number of open and closed source LDAP directories available.  These include servers like SAMBA, Open

[2017-06-07 18:15] 4creators commented on #20737
@mellinoe The problem happens just after native build when build spews a lot of updating messages about restoring external packages - so it is after init-tools.cmd and  at the moment managed build starts with command:
[code]

[2017-06-07 18:17] mellinoe commented on #20737
@4creators Thanks, that means it is happening during the build of external/dir.proj. We definitely restore the bulk of packages there, so it makes sense that you'd see the issue at that point. I'm going to tinker around with it and see if I can provide an option to download less things at once.

[2017-06-07 18:21] 4creators commented on #20737
@mellinoe

My impression is that parallelism in package restore is desired but should be better controlled i.e. by setting max number of open connections at any given time and employing retry pattern with exponential fallback as is done in azure libraries. It would mean that build attempts to download not more than 4 packages in parallel and in the case of timouts it restarts downlods after lastTi

[2017-06-07 18:28] danmosemsft commented on #20782
@JeremyKuhne FYI, please correct me /ask Peter as needed.

[2017-06-07 18:34] mellinoe commented on #20737
I don't believe that `dotnet restore` provides controls to that level of granularity, unfortunately. They just provide a `--disable-parallel` option, which only controls whether multiple projects are restored at the same time.

As an experiment, could you do the following test:

* Add `<SerializeProjects>true</SerializeProjects>` to external/dir.proj (at the top underneath `AdditionalBuildConfigur

[2017-06-07 19:21] eerhardt commented on #19930
Where's ConsoleApp2 coming from?

https://github.com/huanwu/corefx/blob/a8e993d09804b791a084bfcc626b8c81f4e746c8/src/Microsoft.XmlSerializer.Generator/src/Microsoft.XmlSerializer.Generator.deps.json#L8-L10

[2017-06-07 19:54] danmosemsft commented on #20223
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170607.02/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DnsEndPointTest~2FSocket_StaticConnectAsync_HostNotFound

[2017-06-07 20:20] rochar commented on #20765
Thanks for your reply. Is there any way to distinguish what functions are right / agnostic handed system?

For example the transform function uses a counter clockwise rotation? And the quaternion implementation?

[2017-06-07 20:57] danmosemsft commented on #19344
Unlike #16098 we don't seem to have a callstack in the Console from RemoteExecutor. Perhaps in this case we're getting SIGABRT from some native failure, rather than a managed exception.

[code]

Dumpling found no dump. Talking to @mellinoe it's possible, but unlikely, that suse puts dumps somewhere else.
@ChadNedzlek the MC links higher up don't work any more. Can you help me find those logs?

[2017-06-07 21:31] jamesqo commented on #14354
@terrajobst, have you had time to read my comments (starting from [here](https://github.com/dotnet/corefx/issues/14354#issuecomment-306066375)) and decide whether you approve of the tweaked API shape? If so then I think this can be marked api-approved/up for grabs and we can start working on deciding on a hash algorithm.

[2017-06-07 22:25] davidfowl opened #20787 "Creating linked cancellation tokens hides which token triggered cancellation"
In the following scenario, I would expect the code to print true instead of false. The problem is that once you have a linked cancellation token, it will always be the reported token in any `OperationCanceledException` instead of the actual token that fired.

[code]

I know it's a breaking change but it's *super* annoying. The work around is to check each of the tokens manually in the catch (which

[2017-06-07 22:29] stephentoub commented on #20787
It's not just a breaking change, it doesn't make sense to me.  You have a CancellationToken, and you call ThrowIfCancellationRequested on it.  If it's canceled, why would the OperationCanceledException that's thrown not contain that CancellationToken but instead contain another?  CreateLinkedTokenSource isn't magic; it's really just doing the work of creating a new CancellationTokenSource and regi

[2017-06-07 22:36] davidfowl commented on #20787
It may not be magic but it's the *only* way to use it an it's really hard to achieve the scenario I want to achieve which IMO should be the default. It's no different to `Task.WhenAny`. At a high level, I'm calling a thing that takes a token and I have several tokens, I want to pass a combined token and I want to know which one triggered.

[2017-06-07 22:42] stephentoub commented on #20787
"no different" from Task.WhenAny would be an API like:
[code]

I'm unclear what you're actually asking for.  Is it an API like the above?

I disagree that the current semantics are wrong; it really depends what you're trying to do with it, but the semantics as they are make sense in a variety of scenarios and are self-consistent.  It may be that those semantics don't meet the needs of what you're

[2017-06-07 23:04] #20619 closed

[2017-06-07 23:09] #20764 closed

[2017-06-07 23:09] #20768 closed

[2017-06-07 23:11] danmosemsft commented on #20441
https://mc.dot.net/#/user/JeremyKuhne/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/5ec45c34fc6a1d9b9ec03d8bd737678a62221347/workItem/System.Data.SqlClient.Tests/wilogs

[2017-06-07 23:13] danmosemsft commented on #20441
Here's another test failure showing a server connection failure .. hopefully the logging will help all tests that hit this.
[code]
System.Data.SqlClient.Tests.SqlConnectionBasicTests.ConnectionTest

https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release_prtest/4316/testReport/junit/System.Data.SqlClient.Tests/SqlConnectionBasicTests/ConnectionTest/

[2017-06-07 23:19] davidfowl commented on #20787
I thought the code sample was pretty clear. Let me tweak it a bit:

[code]

I'm just trying to figure out *which* token caused cancellation. I renamed `CreateLinkedTokenSource` to `MagicSauce.CreateCombinedToken` to create combined token so you can see what I want.

When I say it's like WhenAny, I'm making a comparison that I want similar functionality to what task has. I can pass a bunch of diffe

[2017-06-07 23:20] kellypleahy commented on #4406
I'd like to tackle this one.

From what I can tell this one is a bit tricky since setenv changes are ignored by the PAL and SetEnvironmentVariable("foo","") unsets the variable by default.  This sounds like it means that we need to use the remote invoke feature (mentioned here: https://github.com/dotnet/coreclr/pull/10699#issuecomment-291621481).

Then, we need to test the execution of the delegat

[2017-06-07 23:22] caesar1995 opened #20788 "building/windows-instructions.md docs need update"
https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md

Under Required Software -> For Visual Studio 2017, there is a very important component missing:
we need to have .NET Core cross-platform development checked as well (Workloads -> Other Toolsets)

And there is a issue blocking me for two days, starting from Monday. If I pull from dotnet master, then do "cle

[2017-06-07 23:28] mellinoe commented on #20765
Only a select few factory functions assume any handedness, like the ones involving camera and projection matrices.

* `CreateOrthographic`
* `CreateOrthographicOffCenter`
* `CreatePerspective`
* `CreatePerspectiveOffCenter`
* `CreatePerspectiveFieldOfView`
* `CreateLookAt`

These methods will assume you are using a right-handed coordinate system (+x == Right, +y == Up, +z = Towards you).

If your

[2017-06-07 23:35] danmosemsft commented on #20788
@caesar1995 would you consider fixing the doc, at least in part?

For the error, I would do "git clean -fdx" and then build from root.

[2017-06-07 23:38] sharwell commented on #20787
I totally understand where @davidfowl is coming from here, and have hit similar frustrating situations. For example, [code like this](https://github.com/dotnet/roslyn/blob/de102ce03c3a52222013e73f40cc4770669fe736/src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs#L1227) becomes dependent on code not wrapping an operation in a timeout handler without incurring a substantial performa

[2017-06-07 23:43] caesar1995 commented on #20788
@danmosemsft I tried to delete my local repo and do a new fork followed by a clone, the problem still existed. After I installed some VS2017 components, the error goes way though.

I will fix part of the doc to include .NET Core cross-platform development.

[2017-06-08 00:03] danmosemsft commented on #20782
Still some discussion on this.

[2017-06-08 00:05] bendono commented on #574
To be blunt, the only thing that I care about is the interface. A solid implementation would be nice, but I (or anyone else) could always create my own.

I remember a few years back how we had this exact same conversation with HashSet<T>. Microsoft wanted HashSet<T> while the community wanted ISet<T>. If I remember correctly, we got HashSet<T> first and ISet<T> second. Without an interface, usage

[2017-06-08 00:06] danmosemsft commented on #20600
This means implementing `Assembly.ImageRuntimeVersion` which is in ProjectN right? Shoudl this go to TFS?

[2017-06-08 00:07] danmosemsft commented on #15339
We're good for now, and in a "fail safe" mode (one must opt out)

[2017-06-08 00:08] danmosemsft commented on #2576
@AntonLapounov @kouvel what specifically remains here after our recent work? anything?

[2017-06-08 00:42] stephentoub commented on #20787
Consider this example:
[code]
Under your desired semantics, let's say ct1 is canceled, ct2 isn't.  Bar throws the OperationCanceledException as a result of ct1 being canceled.  There is no guarantee that canceledCt == ct1... for example, ct1 could itself be a linked token, and it could have been one of its constituent tokens that was canceled.  This is one of the places the semantics you're saying

[2017-06-08 00:52] danmosemsft commented on #20728
@davidsh this looks like the only issue with HttpListener on F5 (ie., not native compiled, but running in app container). Do you expect to fix this or is the code being removed?

[2017-06-08 01:02] davidsh commented on #20728
All the HttpListener code that is running now in UWP F5 or UWP ILC is based on the .NET Core 2.0 non-UWP code (i.e. http.sys).  All of this code will no longer be built for UWP. Instead, we will use the managed HttpListener code which is very different.

So, basically, any tests running now for HttpListener (UWP F5 or UWP ILC) should be ignored until we do the work to replace the implementation.

[2017-06-08 01:13] #20739 closed

[2017-06-08 01:16] danmosemsft commented on #20728
@safern we will have to bulk disable to get green?

[2017-06-08 01:33] jkotas opened #20794 "[uapaot] ComAwareEventInfo and ComAwareEventInfo duplicated"
See https://github.com/dotnet/corefx/pull/20697/files#r120782465

ComAwareEventInfo and ComAwareEventInfo should be deleted in System.Private.Interop, and we should always use the impl in corefx.

[2017-06-08 01:44] hughbe commented on #20788
I had this exact issue yesterday. Cleaning didn't work, reckoning didn't work. Note that I have the right VS components installed.

The fix is to enable RemoteSigned execution policy in powershell. This seems like a recent build tools regression

[2017-06-08 01:55] davidsh commented on #20788
[code]

[2017-06-08 02:16] jamesqo opened #20795 "Eliminate code duplication between HttpUtility and WebUtility"
See discussion at https://github.com/dotnet/corefx/pull/11642#r78505478

@weshaggard

@alexperovich

@weshaggard

@stephentoub

[2017-06-08 02:22] kellypleahy commented on #20609
I have a fix for this.  Can I get assigned?

[2017-06-08 02:37] JeremyKuhne opened #20797 "NetFX FileStream closes SafeFileHandles in ctor with bad args"
If you pass in a SafeFileHandle with bad args (access or buffersize) the passed-in handle will be closed when the finalizer runs. This was showing up as an intermittent failure in test runs.

[2017-06-08 02:38] davidfowl commented on #20787
A new API with the semantics I expressed above. An aggregate cancellation token.

[2017-06-08 02:50] kellypleahy commented on #20609
BTW, thanks @sharwell for the investigation - your hypothesis was spot on.

[2017-06-08 03:01] sharwell commented on #20609
@kellypleahy Even though you aren't "assigned" here on GitHub, since you offered up a solution first our preference is to work with you to get it into a state where it can be merged even if someone were to offer up a more complete solution later. Sometimes it can take time to get people added to the organization where they can be officially assigned issues, so it's more common for someone already

[2017-06-08 03:03] Jiayili1 commented on #20764
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/79/testReport/

[2017-06-08 03:46] danmosemsft commented on #20441
@saurabh500 here's a hit with your new logging

[code]

https://mc.dot.net/#/user/danmosemsft/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/f8b7bd8f5e58354e4e659ad01a49ae7a622f7c27/workItem/System.Data.SqlClient.Tests/wilogs
Ubuntu.1404.Amd64.Open:Release-x64 console output shows this.

Thoughts?

[2017-06-08 03:49] danmosemsft commented on #20441
Uh - actually by the timestamps this logging may correspond to the subsequent, successful test...

[2017-06-08 04:01] saurabh500 commented on #20441
The logs pasted don't have anything interesting. They do point to a failure. They don't have the logs from my changes. Also the link has all successful executions. Can you point me to the error logs for the failure above?

[2017-06-08 04:12] danmosemsft commented on #20609
@kellypleahy you should get a collaborator invite mailed. then I can assign issues to you.

[2017-06-08 04:12] caleblloyd opened #20799 "NetworkStream Connection Closed by should be System.IO.EndOfStreamException on Windows in `netstanard2.0`"
Consider the following unit test:

https://github.com/mysql-net/MySqlConnector/blob/0.20.1/tests/SideBySide/ConnectionPool.cs#L154-L180

A TCP Client opens a `NetworkStream` to a MySQL server, then the MySQL server times out and closes the connection after a period of time.  In `net451`, `netstandard1.3`, and `netstandard2.0 on linux` this simply results in the connection winding up in a failed st

[2017-06-08 04:16] danmosemsft commented on #20441
@saurabh500 go to https://mc.dot.net/#/user/danmosemsft/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/f8b7bd8f5e58354e4e659ad01a49ae7a622f7c27/workItem/System.Data.SqlClient.Tests/wilogs and open the sectoin marked Ubuntu.1404.Amd64.Open:Release-x64. In there is the console output with the output above.

[2017-06-08 04:44] caleblloyd commented on #20799
Closing; was mishandling exceptions in calling code, not a bug.

[2017-06-08 04:44] #20799 closed

[2017-06-08 05:52] dotnet-mc-bot opened #20803 "Test: System.Drawing.Primitives.Tests.ColorTests/GetHashCode failed with "Xunit.Sdk.NotEqualException""
Opened on behalf of @Jiayili1

The test `System.Drawing.Primitives.Tests.ColorTests/GetHashCode(name1: \"AliceBlue\", name2: \"AliceBlue\")` has failed.

Assert.NotEqual() Failure
    Expected: Not \"AliceBlue\"
    Actual:   \"AliceBlue\"

        Stack Trace:

           at System.Drawing.Primitives.Tests.ColorTests.GetHashCode(String name1, String name2) in /root/corefx/src/System.Drawing.Primi

[2017-06-08 05:55] kellypleahy commented on #19566
If we're going to do this, can we also have a GetOrAdd that takes the factory function?  This is something that seems also quite valuable?  Also, can we put these on Dictionary (as extension methods) if they don't already exist too?  Is there already a ticket for Dictionary<T>?

[2017-06-08 06:03] dasMulli commented on #17522
@daveclarke fyi this is a bug in the netstandard2.0 conflict resolution that will be fixed for preview2: https://github.com/dotnet/standard/issues/372, https://github.com/dotnet/sdk/issues/1313
Maybe follow up on one of these repos if you still have this problem with preview2 bits.

[2017-06-08 06:12] Jiayili1 commented on #20141
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170608.01/workItem/System.Net.WebClient.Tests/analysis/xunit/System.Net.Tests.SyncWebClientTest~2FUploadFile_Success(echoServer:%20https:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

[2017-06-08 06:15] v-haren opened #20804 "System.IO.Ports.Tests failed with Timeout while waiting for data to be written to port in ci"
failed test: System.IO.Ports.Tests.DiscardOutBuffer.OutBufferFilled_Discard_Cycle

detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/68/testReport/System.IO.Ports.Tests/DiscardOutBuffer/OutBufferFilled_Discard_Cycle/

message:
[code]
STACK TRACE:
[code]

[2017-06-08 06:21] v-haren opened #20805 "System.IO.Ports.Tests.DiscardOutBuffer.OutBufferFilled_Discard_Multiple failed in ci"
failed test: System.IO.Ports.Tests.DiscardOutBuffer.OutBufferFilled_Discard_Multiple

detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/68/testReport/System.IO.Ports.Tests/DiscardOutBuffer/OutBufferFilled_Discard_Multiple/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-06-08 06:30] v-haren commented on #20805
duplicate https://github.com/dotnet/corefx/issues/20768

[2017-06-08 06:30] #20805 closed

[2017-06-08 06:32] v-haren commented on #20804
duplicate https://github.com/dotnet/corefx/issues/20764

[2017-06-08 06:32] #20804 closed

[2017-06-08 06:33] v-haren commented on #20768
This issue is repro in ci, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/68/testReport/System.IO.Ports.Tests/DiscardOutBuffer/OutBufferFilled_Discard_Multiple/

[2017-06-08 08:36] hughbe opened #20808 "Invalid sequences of bytes debug asserts in System.Drawing.Icon"
The following test causes a debug assertition to be hit in System.Drawing.Icon.Initialize:

[code]

[code]

I can't reproduce this issue with netfx, but that might be because of release vs debug mode

[2017-06-08 08:38] hughbe commented on #20808
I think this is just a bad assertion: https://github.com/dotnet/corefx/blob/e15746e75068eb21b6dfaa5cad1799b1ad2069ba/src/System.Drawing.Common/src/System/Drawing/Icon.cs#L655-L660

@mellinoe what do you think? I'd like to submit a PR

[2017-06-08 08:40] Kevenvz opened #20809 "ADOMD.NET support for .NET Core"
Hey,

I'd like to convert all of my existing applications to .NET Core but found out that there isn't ADOMD.NET support in .NET Core. I need to be able to query my SSAS cubes with impersonation. Is there any plan for you guys to support ADOMD.NET or might there be another way to query SSAS cubes (Using MDX)?

Thanks in advance!

[2017-06-08 08:54] YaakovDavis opened #20810 "Question: double division consistency for scaled integer pairs"
I have the following method:
[code]

Are `result1` & `result2` guranteed to be the same for arbitrary (* see bellow) inputs?

The following assumptions can be made:
1. `x`, `y`, & `factor` are positive.
2. `x * factor` & `y * factor` are representable by less than 50 bits.
3. `y >= x`.

[2017-06-08 09:12] mellinoe commented on #20808
I do suspect that there might be some faulty Debug assertions in the codebase. When I was testing out some of the mono tests, I noticed that `Font` will always trigger an assertion if you call any methods that touch [`NativeFont`](https://github.com/dotnet/corefx/blob/master/src/System.Drawing.Common/src/System/Drawing/Advanced/Font.cs#L454) after it has been disposed, because the field is set to

[2017-06-08 09:20] v-haren commented on #20772
@danmosemsft failed again in several runs, do we need to reopen this bug?
detail:
https://ci.dot.net/job/dotnet_corefx/job/master/job/debian8.4_debug/2722/consoleFull#136046166483554902-aff0-4799-9e92-0ada24ce2a06
https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora24_release/2737/consoleFull#136046166483554902-aff0-4799-9e92-0ada24ce2a06
https://ci.dot.net/job/dotnet_corefx/job/master/job/o

[2017-06-08 10:35] bgever commented on #8262
@stephentoub This issue should be reopened, as the problem which @henkmollema pointed out is still the case when you target .NET Standard 1.0.

`System.ComponentModel.TypeConverter` package v4.3.0 (latest) when targeting .NET Standard contains this file: [`TypeDescriptor.NetStandard10.cs`](https://github.com/dotnet/corefx/blob/release/1.1.0/src/System.ComponentModel.TypeConverter/src/System/Compon

[2017-06-08 10:56] mshobohm opened #20812 "Process.VirtualMemorySize64 (at least) is giving corrupt values"
System.Diagnostics.Process.VirtualMemorySize64 has an unexpected High Value (Windows 10 x64)

Example:
[code]

Output:
VirtualMemorySize:2.199.520.038.912
Expected output : <= 150 MB as with .NET Classic

[2017-06-08 11:00] Nippius commented on #20502
Thank you for taking the time to reply!

Yes I believe `TryAdd(T, CancellationToken)` and `TryAdd(T, TimeSpan, CancellationToken)` should also be added. Both for `TryAdd()` and `TryTake()´.

I'll take a look to the API review process and go on from there.

Thank you!

[2017-06-08 11:19] JonHanna commented on #3093
I wouldn't object to `Yield`.

[2017-06-08 12:31] justdmitry commented on #7812
My five cents.

I have ASP.NET Core web app (`Microsoft.AspNetCore.Mvc 1.1.3`) deployed to Azure (as web app). I had about 10-20 errors per day. On May 29 I added project reference to `System.Net.Http` **v4.3.2** (it was **v4.3.0** as indirect reference by one of my packages). No more errors for about 10 days.

Today 2hr ago I removed direct reference (and package was downgraded back to 4.3.0) - a

[2017-06-08 13:43] stepandohnal opened #20814 "Different encoding behavior in windows and linux"
docker linux -> Encoding.UTF8.GetString(new byte[] {195,173})	"Ă­"	string

		windows -> Encoding.UTF8.GetString(new byte[] {195,173})	"í"	string

[2017-06-08 14:17] davidsh commented on #20141
@Jiayili1 The comment you entered above about that failure was on a CentOs (Linux) build.  It had an error of "System.Net.Http.CurlException : Problem with the SSL CA cert (path? access rights?)" which is NOT related to this issue at all.

[2017-06-08 14:18] stephentoub commented on #20787
I'm trying to understand exactly what you're proposing.  Can you be specific, with a sketch of the API you have in mind?  Or are you suggesting creating an entirely new replacement for CancellationTokenSource/CancellationToken?

[2017-06-08 15:46] danmosemsft commented on #20803
@mellinoe this is a very curious failure. How can this lead to duplicates?
[code]

also, why only on Ubuntu 1604 ?

[2017-06-08 15:46] danmosemsft commented on #20814
@tarekgh

[2017-06-08 15:51] uber5001 opened #20816 "System.Net.Http.Headers.ContentDispositionHeaderValue.EncodeAndQuoteMime should allow quotes"
If `System.Net.Http.Headers.ContentDispositionHeaderValue.FileName` is set to a value with quotes, [this](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Headers/ContentDispositionHeaderValue.cs#L441) throws an error:

[code]

As far as I can tell, `quoted-string` should be allowed, as per [RFC 2616](https://tools.ietf.org/html/rfc2616#section-2.2).

It seems s

[2017-06-08 15:53] danmosemsft commented on #20812
I repro this. A regression from 1.1 (and desktop)

[2017-06-08 16:07] danmosemsft commented on #20812
Seems like an alignment thing but it's not obvious from a quick diff of sources. @karelz is someone available to have a quick look in @Priya91 's absence?

[2017-06-08 16:11] davidsh commented on #20816
Have you tried this on .NET Framework?  In general, we've keep the behaviors to match for app-compat reasons.

I'll review RFC2616 but that RFC is now obsoleted in favor of RFC7230+.

[2017-06-08 16:23] tarekgh commented on #20814
I am taking a look

[2017-06-08 16:25] uber5001 commented on #20816
I'm using .NET Framework 4.7

[2017-06-08 16:28] danmosemsft opened #20817 "Dumpling hitting server error, breaking runs"
As far as I can tell the runs are breaking as a consequence.

https://ci.dot.net/job/dotnet_corefx/job/master/job/debian8.4_debug/2722/consoleFull#136046166483554902-aff0-4799-9e92-0ada24ce2a06
https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora24_release/2737/consoleFull#136046166483554902-aff0-4799-9e92-0ada24ce2a06
https://ci.dot.net/job/dotnet_corefx/job/master/job/opensuse42.1_release/

[2017-06-08 16:29] danmosemsft commented on #20772
@v-haren thanks for flagging this. I opened https://github.com/dotnet/corefx/issues/20817 for it

[2017-06-08 16:30] danmosemsft commented on #20418
@brianrob can you please increase the tolerance, or make it try twice, or some other thing? I'm trying to fix all sporadic CI issues.

[2017-06-08 16:32] danmosemsft commented on #16688
@ianhays  I haven't seen this since, I wonder if it "fixed itself" and we should close this meantime?

[2017-06-08 16:54] danmosemsft opened #20818 "System.IO.Tests.FileInfo_GetSetTimes~2FTimesStillSetAfterDelete failed on Debian"
@JeremyKuhne the file system on this OS may have coarser granularity? Perhaps the test should get the time from the item itself then check that didn't change, rather than get the wall clock time then create the item?

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170608.02/workItem/System.IO.FileSystem.Tests/analysis/xunit/

[2017-06-08 16:57] danmosemsft commented on #20118
@terrajobst do you support the rewording if so shiproom might take it.

[2017-06-08 16:58] safern commented on #20728
If this is the case then we should disable them or stop running them on F5 and ILC

[2017-06-08 17:01] JeremyKuhne commented on #20818
I was over aggressive with this one, I'll dial back.

[2017-06-08 17:11] ivanp2015 commented on #1973
So is it planned to add in next .NET framework releases?

[2017-06-08 17:14] ianhays commented on #16688
I'm fine with that :) If it fails again it should be obviously due to this issue because of the logging, so no harm in closing this issue until we see it again.

[2017-06-08 17:14] #16688 closed

[2017-06-08 17:15] davidsh commented on #20728
We can simply add an ActiveIssue(n, TargetFrameworkMonikers.Uap) to each test class.

[2017-06-08 17:17] davidsh commented on #20728
I will submit a PR today to do this.

[2017-06-08 17:20] davidsh commented on #20728
Tracking all UWP HttpListener work with #17462

[2017-06-08 17:20] #20728 closed

[2017-06-08 17:21] davidsh commented on #17988
Tracking all UWP HttpListener work with #17462

[2017-06-08 17:21] #17988 closed

[2017-06-08 17:30] JeremyKuhne commented on #20818
Fix is in PR.

[2017-06-08 17:39] tarekgh commented on #20814
@stepandohnal I am seeing we are returning the right result on Linux. I mean Linux returning the same results as Windows "í" (hexa value 0x00ED).

I guess this could be just issue how this character get displayed. could you please tell more how did you see "Ă­"? Also could you please try the following code and let me know the output:

[code]

Thanks.

[2017-06-08 17:44] #20476 closed

[2017-06-08 17:44] #19516 closed

[2017-06-08 18:25] shmao commented on #20481
I understood the root cause of the issue. I will make a fix for the issue in Sg.exe.

[2017-06-08 18:34] mellinoe commented on #20817
Should be fixed by #20824 .

[2017-06-08 18:45] danmosemsft commented on #20441
@saurabh500 if we don't think we can figure this out imminently it might be worth changing some of these to outer loop so they don't keep breaking CI.

https://mc.dot.net/#/user/JeremyKuhne/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/6aa5f84bde5be8fb260f63f554f4cc7ae02f9b9e/workItem/System.Data.SqlClient.Tests/analysis/xunit/System.Data.SqlClient.Tests.DiagnosticTest~2FEx

[2017-06-08 18:56] safern opened #20825 "System.Security.Cryptography.* tests failing in UWP CoreCLR (UAP)"
The test assemblies that have failures are the following:

System.Security.Cryptography.Xml.Tests - 5 failures
System.Security.Cryptography.Pkcs.Tests - 1 failure
System.Security.Cryptography.Csp.Tests - 1 failure

cc: @bartonjs @danmosemsft @ianhays

[2017-06-08 19:06] kellypleahy opened #20827 "Enable easy building of all projects for a given library"
I was trying to follow the build instructions here:

https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md#building-individual-corefx-dlls

to build the individual projects in corefx (for instance, `System.Collections.Immutable`).  When following those instructions the build fails when the SLN file has `\` instead of `/` for the paths in it.  The build failure

[2017-06-08 19:09] bartonjs commented on #20825
@safern Are there logs somewhere?

[2017-06-08 19:16] kellypleahy commented on #20827
Seems to be related to: https://github.com/Microsoft/msbuild/issues/2022

[2017-06-08 19:22] kellypleahy commented on #20827
cc: @karelz - sounds like this needs to be fixed in msbuild rather than CoreFX.  For now I will just tweak my SLN files when working on assemblies and just not check those in.

[2017-06-08 19:24] mellinoe commented on #20827
First, a disclaimer: you probably shouldn't be building the solution files; they are just there so that projects can be opened in Visual Studio with Intellisense, etc. When building from the command line, you should be building individual project files, which are configured properly to be built everywhere.

That said, we can probably work around the MSBuild bug by using forward slashes, assuming t

[2017-06-08 19:29] CIPop commented on #20141
@Jiayili1 this is tracking feature work. Please open a separate bug, do not change labels.

[2017-06-08 19:29] saurabh500 commented on #20441
@danmosemsft The link above has my logs. It seems like the TcpListener.Start() call may have succeeded for the server, but the socket may not by open.
I am preparing a PR to open a connection to the server from inside the server as soon as the listener is created to see if there is something in networking layer which causes these issues.

[2017-06-08 19:35] kellypleahy commented on #20827
Thanks @mellinoe.  It seems much more convenient to use the SLN files, I think, since you can just to `/t:BuildAndTest` and it automatically rebuilds both the code and the tests.  When building just the `csproj` for the tests it doesn't seem to automatically build the code.

[2017-06-08 19:36] kellypleahy commented on #20827
I'll also look into the `/` vs. `\` in the generator and make a PR for that if it seems to work on windows / linux.  Thanks for the tip @mellinoe

[2017-06-08 19:36] brianrob commented on #20418
@danmosemsft, I sent some more time looking at this test failure this morning.  It's not clear to me that the answer is to increase the tolerance.  The clock source being used should be accurate on the order of usec.  Thus, 40 ms should be more than enough unless there's something else happening here like 40 ms of negative clock adjustment.

Can you tell me more about what we saw in the sleep test

[2017-06-08 19:50] #20818 closed

[2017-06-08 19:57] danmosemsft commented on #20418
@brianrob I certainly don't want you to make the wrong fix ..
The sleep issue was https://github.com/dotnet/corefx/issues/20173 and in that case we saw a delta in DateTime.UtcNow of negative 23 milliseconds when it should have been a bit over positive 500. That happened at least twice on Ubuntu.

[2017-06-08 20:08] maririos opened #20832 "Build failure: New manual mscorlib shim"
@dotnet-mc-bot commented on [Thu Jun 08 2017](https://github.com/dotnet/core-eng/issues/899)

Build : Master - 20170608.02 (Product Build)
Failing configurations:
- Windows
  - AllConfigurations-Release-x64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/build~2Fproduct~2F/build/20170608.02/workItem/Orchestration/analysis/external/

[2017-06-08 20:15] stepandohnal commented on #20814
![image](https://user-images.githubusercontent.com/5112200/26948711-ac36b806-4c97-11e7-90d9-f2815877146f.png)
![image](https://user-images.githubusercontent.com/5112200/26948782-e4546a26-4c97-11e7-9cf5-9818592d98a1.png)

[2017-06-08 20:29] safern commented on #20825
@bartonjs I just took a look and this is not related to crypto stuff. There was a change in ResourceManager that cause this tests to fail. So once that is solved this will go away.

[2017-06-08 20:33] tarekgh commented on #20814
This is VS problem and not encoding problem. you may look at https://github.com/dotnet/coreclr/issues/10898 which is same issue and it has a link for the issue reported to VS team. by that I am closing the issue here as this is not really corefx issue.

[2017-06-08 20:33] #20814 closed

[2017-06-08 20:39] brianrob commented on #20418
That's quite significant actually.  My goal in diagnostic logging was to figure out if that was what was happening here.  I think we should probably do the same thing in this test - compare duration to a duration that we calculate using a monotonic clock source.  I'll scrap the diagnostics PR and do this instead.

[2017-06-08 21:20] norek commented on #20711
I have little question about moving tests from Nunit to Xunit. In mono tests, very often `Assert` is used with description,prabobly beacuse there are more than one assert in test and description provide better debug (i think). What should I do with this case. Xunit doesn't provide  description for `Assert.Equal`.
Should I remove this description?

[2017-06-08 21:23] danmosemsft commented on #20832
@weshaggard I believe you already are looking at htis

[2017-06-08 21:26] danmosemsft commented on #16602
AGain https://ci.dot.net/job/dotnet_corefx/job/release_2.0.0/job/ubuntu14.04_release_prtest/234/console

ubuntu14.04_release

We are sorely missing a good way to investigate such hangs. We don't get dumps.

[2017-06-08 21:31] mellinoe commented on #20711
Yes -- remove the description. If really necessary, just provide the message in a comment next to the assertion.

[2017-06-08 21:33] mellinoe opened #20834 "System.Drawing.Common should give friendly error when used on Nano"
Right now, you will get EntryPointNotFoundException's when some System.Drawing.Common tries to load some of it's PInvoke imports. We should somehow wrap these in a way that makes error messages more explicit and less confusing.

[2017-06-08 21:43] danmosemsft opened #20835 "NullReferenceException in System.Globalization.NumberFormatInfo.get_CurrentInfo()"
https://mc.dot.net/#/user/marek-safar/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/b62758a03e8410f2f523ec0a297dc139423cbe75/workItem/System.Globalization.Tests/analysis/xunit/System.Globalization.Tests.CharUnicodeInfoGetUnicodeCategoryTests~2FGetNumericValue

[code]

@tarekgh fyi.

[2017-06-08 22:06] AtsushiKan commented on #19909
[code]

These two tests are ActiveIssue'd against this issue but for Uap, not UapAot. Chances are they were intended to be ActiveIssued against some other process-related issue that prevents them from running in UWP (non-AOT) but since we've fix the aot-related issues, zombie'ing this issue to track reenabling these two tests.

[2017-06-08 22:10] davidsh commented on #19909
Regarding the System.Net.Primitives test:

That was disabled because the RemoteExecutor did not work in UWP F5 test runs.  It also appeared to not work in UAPAOT test runs as well.

Has it been fixed for UAP test runs?  That test runner uses a real app-container Windows Store App.  @tarekgh  can you comment on that?

[2017-06-08 22:18] danmosemsft commented on #20835
@ChadNedzlek @MattGal can you shed light on why this exception does not appear in the work item logs for this configuration https://mc.dot.net/#/user/marek-safar/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/b62758a03e8410f2f523ec0a297dc139423cbe75/workItem/System.Globalization.Tests/wilogs
nor does it appear in the XML file you download there
https://dotnetjobresults.blob.

[2017-06-08 22:23] tarekgh commented on #19909
for remote execution in F5 scenario, we have the needed changes ready but not enabled yet because we are waiting to have Helix runs upgrade to run against RS2 (as this is the requirements to have the remote execution work).

https://github.com/dotnet/corefx/pull/20719 is the revert of enabling this which we need to return back this change when Helix have RS2 images.

I am wondering why the test is

[2017-06-08 22:23] karelz commented on #20818
So was it "test bug"?

[2017-06-08 22:25] tarekgh commented on #20835
Marked it for UWP6.0 for now till we have more info to help investigating it.

[2017-06-08 22:26] karelz commented on #20827
@mellinoe @weshaggard can we somehow fail SLN build to tell "this is not the thing you're looking for"?
cc @wfurt

[2017-06-08 22:27] karelz commented on #20810
@mellinoe can you please answer or route?

[2017-06-08 22:28] karelz commented on #20809
What is ADOMD.NET?

[2017-06-08 22:28] kellypleahy commented on #20827
@karelz is there a reason we don't want to allow building the SLN?  It's really convenient to have *something* you can just run a single command line on and get a test run completed.  Of course, if this is too risky due to weirdness with the solutions, can we have another way to have a nice one-liner for quick "recompile and run tests on this assembly I'm working on" sort of workflow?

[2017-06-08 22:29] davidsh commented on #19909
In general, when we set TargetFrameworkMonikers.Uap, it also includes UapAot as well, where-as UapAot is just UapAot.  Our team was first focusing on UWP F5 test passes and not UWP ILC test passes.  We really just used this issue number as a convenience to disable the Uap tests.  Since TargetFrameworkMoniker.Uap includes both uap and uapaot (which is ok and @safern made that tooling change), it en

[2017-06-08 22:30] karelz commented on #20795
@CIPop @davidsh you had opinions in the area. Any thoughts? Esp. from compat point of view.

[2017-06-08 22:32] karelz commented on #20788
Is it something that should be captured also in [new contrib docs](https://github.com/dotnet/corefx/wiki/New-contributor-Docs#contributing-guide)?

[2017-06-08 22:35] karelz commented on #20609
@kellypleahy welcome! I didn't expect you to start contributing the next day after .NET Fringe, very nice surprise! ;)

[2017-06-08 22:36] ChadNedzlek commented on #20835
The run appears to have been run 3 times. The second of those 3 re-runs had the failure, but the most recent did not.

Essentially the first link is an outdated link.

[2017-06-08 22:42] caesar1995 commented on #20788
@karelz I think so. At least in this document: https://github.com/dotnet/corefx/wiki/Development-environment-setup-for-Windows we need to include .NET Core cross-platform development for 'Workloads' based install. Do you want me to add it?

[2017-06-08 22:56] JeremyKuhne commented on #20818
Yes

[2017-06-08 22:59] danmosemsft commented on #20834
We need a PNSE with a nice message, via all entrypoints..

[2017-06-08 22:59] danmosemsft commented on #20834
Or perhaps, @weshaggard there is a RID (?) for Nano and we could star building a PNSE shim just for Nano?

[2017-06-08 23:03] danmosemsft commented on #20835
@ChadNedzlek that would be a MC bug wouldn't it? Why isn't it resetting this failure, but resetting the other logs?

Besides that - is it possible to retrieve the console log  for this failure?

[2017-06-08 23:05] danmosemsft commented on #20810
@dcwuser are you interested in me adding you when I see numeric accuracy/precision related issues? if so which particular kinds?

[2017-06-08 23:08] ChadNedzlek commented on #20835
It might be, but it's probably one that will never manage to bubble up in priority, because you can't actually reach that point anymore... the links that lead there are all removed... because the most recent runs don't have failures, and it only happens for re-runs of the same build hash.

As for getting the logs, yes, I can fetch a specific log for this run... give me a bit to poke through the da

[2017-06-08 23:10] ChadNedzlek commented on #20835
I believe this is the log for that specific failure:
https://dotnetjobresults.blob.core.windows.net/build-c79c707f5e064ca592d45462b2631fa3/Ubuntu.1604.Amd64.Open/System.Globalization.Tests/e7760b0e6d244b11838a8a69a37a8ac6.log?sv=2015-04-05&sr=c&sig=m8ApMjcPFV%2FJOZupADWIHDNoixo7SfJYKStu3CdPiLg%3D&st=2017-06-08T13%3A29%3A45.1566948Z&se=2017-07-08T13%3A29%3A45.1566980Z&sp=r

[2017-06-08 23:18] kellypleahy commented on #19717
I started working on this, but I'm wondering.  I can test on Windows and Linux, but how best to get tests for WinRT to run?  Can I do that on a linux / windows box?

[2017-06-08 23:20] caesar1995 commented on #20302
Since all tests are running inside an UWP app, seems the app doesn't have direct access to most of the file system.

[2017-06-08 23:23] krwq commented on #17927
kernel32.dll!GetConsoleCP is returning 6 which is "invalid handle" this seems valid for UAP since there is no console - disabling

[2017-06-08 23:27] mellinoe commented on #20810
@YaakovDavis This is a pretty particular question, I'm not sure I'll be able to provide a very good answer. In general, there is nothing here that is specific or particularly relevant to .NET. The answer will come out of the characteristics of 64-bit floating point values, how division is specified, etc. I'm afraid I'd have to study some IEEE specs to come up with an exact answer 😄. C#/.NET isn't

[2017-06-08 23:28] karelz commented on #20788
Yes, please. Make the edits. It is wiki - RW for everyone, incl. contributors. We will change the content after-the-fact if we don't like it :)

[2017-06-08 23:29] karelz commented on #20810
Sounds like the question is answered, closing.

[2017-06-08 23:29] #20810 closed

[2017-06-08 23:30] karelz commented on #20827
@kellypleahy fair question, it would make sense - @weshaggard @mellinoe can you answer?
If the answer is still "it is difficult", we should make sure contributors don't use it - i.e. fail fast with appropriate error message.

[2017-06-08 23:34] mellinoe commented on #20827
As long as the solution files are kept in sync (this is still a manual process), and ignoring the path separator issue, there is no technical reason why the solution files shouldn't work, I think. In the past, it has been VERY challenging for us to keep them completely in sync with the rest of our build system, so they very rarely would work 100% of the time. The actual project files, on the other

[2017-06-08 23:38] tijoytom opened #20837 "System.Diagnostics.Tracing Test_EventSource_Lifetime test use private reflection and hense fails in uap-aot"
[code]

[2017-06-08 23:39] stephentoub commented on #20812
I don't think this is a regression in Process; if anything, it appears to be a change in the runtime.
@janvorli, @jkotas, has something changed for 2.0 with regards to how the runtime handles memory that would impact the value returned from VirtualMemorySize?

The reason I don't think it's a Process regression is if I use a .NET 4.7 or .NET Core 1.1 app to get the VirtualMemorySize64 for a .NET Co

[2017-06-08 23:43] tarekgh commented on #19909
I talked offline to @safern and I think it make sense to have different TargetFrameworkMoniker for uap and uapaot so we can avoid disabling the test in one platform cause the test be disabled on the other.

CC @danmosemsft

[2017-06-08 23:43] karelz commented on #20812
It is not regression, moving it to 2.1 then.

[2017-06-08 23:48] saurabh500 commented on #20809
AFAIK Adomd.net ships with SqlServer and not with .Net framework and hence will not ship with core. I recommend you open a connect  Issue for this  request.

[2017-06-08 23:48] #20809 closed

[2017-06-08 23:49] stephentoub commented on #20812
@karelz, I didn't say it's not a regression, I said I don't think it's a regression in Process.  There could still be a runtime issue.  Let's wait to hear back to my question before moving this around.

[2017-06-08 23:50] safern commented on #19909
Yes we should definitely add this TargetFrameworkMoniker to include both uap and aot and have the originals (uap and uapaot) to behave as they did. If @danmosemsft agrees I can do that change and just replace whatever we have now as Uap to be that new moniker and then we can start reenabling tests on the go for either uap or aot (as it is needed in this issue).

[2017-06-08 23:51] davidsh commented on #19909
Perhaps we can do that but for most things in our codebase, for example, when we ifdef code for "UAP", we mean both uap and uapaot because that is how the source code is compiled.  The whole AOT stuff happens after compilation.  So in the minds of developers when they work on source code for Windows Store App focused packages, "uap" means both uap and uapaot.

[2017-06-08 23:52] huanwu commented on #19930
@eerhardt That's my mistake. I already corrected here https://github.com/huanwu/corefx/commit/6d60213e56c62ca7037902042b73822940d12380
But it still won't work. And actually I will expect it would auto generate these two files when build the project. And I need include the dll and two json files into the nuget package.

[2017-06-08 23:54] davidsh commented on #20302
We  need to change the test so that it can access files within the app-container allowed folders.

[2017-06-08 23:55] safern commented on #19909
That is a good point, I think that was the initial idea of disabling both for when disabling for Uap.

[2017-06-08 23:56] danmosemsft commented on #19909
I agree with @davidsh...it is good to match the target group and define behavior.
What about creating a new one named like UapNotUapAOt for those that need it.

[2017-06-08 23:57] CIPop opened #20840 "HttpListener: Managed implementation allows authenticated clients to connect successfully when if _listener.AuthenticationSchemes = AuthenticationSchemes.None;"
Tracking app-compat behavior for Unix implementation of HttpListener. The scenarios are described by the following tests:

- NoAuthenticationGetContextAsync_AuthenticationProvided_ReturnsForbiddenStatusCode
- NoAuthentication_AuthenticationProvided_ReturnsForbiddenStatusCode

For details on why these tests are not disabled with "ActiveIssue" see https://github.com/dotnet/corefx/pull/20793/files#r1

[2017-06-08 23:59] AtsushiKan opened #20841 "Contributor Guidance regarding "Squash and Merge""
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/contributing.md

suggests that "Squash and Merge" be used only to squash and "only by the contributor on request" (which doesn't make sense to me since it's the guy who does the merge that clicks the button...)

I would recommend that the guidance be changed so that "Squash and Merge" is the always the preferred choice even wh

[2017-06-09 00:05] mellinoe commented on #20827
Actually, thinking about it more (from on discussion on gitter), I think there may still be a problem if you try to run tests via the solution file. The solution files are generated in a way that works with Visual Studio, which means they are configured to run Windows tests. You will probably still have that same problem even if you fix the path separator issue. There may be ways to fix that probl

[2017-06-09 00:13] hughbe commented on #20711
@norek a test project has been merged so feel free to get started. Mind if I ask what you're working on so we avoid conflicts?

Note that I'm gonna put some effort into beautifying and modernising these tests using xunit's features like parameter names in exceptions and theory/member data

Keep me up to date :)

[2017-06-09 00:17] jkotas commented on #20812
It does not repro for me:

[code]

[2017-06-09 00:18] jkotas commented on #20812
Nothing I am aware of.

[2017-06-09 00:29] karelz commented on #20757
@brianrob just checking that this issue was intentionally 2.0-only and nothing has to flow into master from it. Can you please confirm?

[2017-06-09 00:32] kellypleahy commented on #20827
I ended up settling on a command in my profile like this:
[code]

that I can just use like `bat System.Collections.Immutable` to build & test the appropriate stuff.

[2017-06-09 00:38] stephentoub commented on #20812
That's the version of dotnet/SDK, or the runtime the test is running against? (or both)

[2017-06-09 00:40] kellypleahy commented on #19717
@karelz so.... who should I talk to about how to test the PR I want to do for this one?  Specifically, I'm wondering about windows/winRT since I'm doing the changes on linux.  I can test on windows as well as I have a machine with windows, but I don't have anything that does winRT.

[2017-06-09 00:42] brianrob commented on #20757
This was a port of perf infra changes that went into master originally. Nothing from this needs to flow back into master.

[2017-06-09 01:00] #20609 closed

[2017-06-09 01:02] Jiayili1 commented on #20141
@CIPop Thanks, I will open a separate bug.

[2017-06-09 01:09] jkotas commented on #20812
The runtime version is 2.0.0-preview1-002111-00 (the shared runtime that comes with the preview1 build).

What I have done: [Download preview1](https://www.microsoft.com/net/core/preview), `dotnet new console`, copy&paste your snipped to program.cs, `dotnet run`.

Could you please share the runtime versions that it repros on for you?

[2017-06-09 01:09] tarekgh commented on #19909
I think we can have UapNoAot and UapWithAot and then
[code]

doing that will address all the concerns here

[2017-06-09 01:13] tarekgh commented on #20841
@karelz @danmosemsft @stephentoub @jkotas any objection to apply what @AtsushiKan suggesting here? I think it make sense

[2017-06-09 01:18] stephentoub commented on #20841
I'm ok with that as the new default, but it's still just a default... sometimes merge rather than squash is better IMHO. For example:
- in PRs that end up containing commits from multiple individuals, such as an auto update PR we then need to patch for done reason
- in PRs where there are multiple distinct commits, e.g. one that refactors and another that fixes a bug, and you want to keep that cle

[2017-06-09 01:19] davidsh commented on #20841
I have noticed that when "Squash and Merge" is done (even with just one commit), then after doing a "git pull dotnet master" into your repo, then one can't do a "git branch -d mybugfix".  It will say I must do a "git branch -D mybugfix", i.e. a forced delete of the branch because it says that the branch may not be fully merged.  That seems annoying.

[2017-06-09 01:20] jkotas commented on #20841
"(squashing) should only be done by the contributor upon request" was trying to say that the contributors should append commits and not squash them because it breaks codereview workflow (reviewers are not able to see the delta with codereview feedback).

[2017-06-09 01:34] danmosemsft commented on #20841
Agree, prefer squash on commit in 95% case.

[2017-06-09 02:09] #20832 closed

[2017-06-09 02:11] morganbr commented on #14354
@blowdart , any particular part of that you'd like to highlight?

I might not have been too explicit about it above, but the only non-cryptographic hashes I don't know of HashDoS breaks in are Marvin and SipHash. That is, even seeding (say) Murmur with a random value [can still be broken](https://131002.net/siphash/#at) and used for a DoS.

[2017-06-09 02:19] stephentoub commented on #20812
When I repeat what you did, @jkotas, I get the same basic output as you.

It looks like this might be caused by the host somehow?  If I do a `dotnet publish -r win10-x64` to get a standalone directory (after modifying the csproj to include `<RuntimeIdentifiers>win10-x64</RuntimeIdentifiers>`, and in there I do `.\tmpapp.exe` or `dotnet tmpapp.dll`, I get output like `526,970,880`.  If I instead co

[2017-06-09 02:26] sharwell commented on #20841
I would only advocate for a squash approach in cases where a PR contained intermediate commits which are not in a buildable state (e.g. negatively impacting git bisect). I withhold a strong objection only on the basis that I don't frequently work in this repository.

[2017-06-09 03:03] kellypleahy commented on #19717
@AtsushiKan It seems like Path is probably in mscorlib and not CoreFX?  I don't see an easy path to add Path.Exists given that the implementation of it would presumably live on FileSystem?  Am I missing something?  cc @karelz

[2017-06-09 03:08] stephentoub commented on #20812
Looks like this may have something to do with Control Flow Guard...

[2017-06-09 03:16] ahsonkhan opened #20845 "API Proposal: Add and Subtract overloads that take a void pointer"
## Proposed API
[code]

## Rationale and Usage
Issue from: https://github.com/dotnet/corefxlab/issues/1529

We ended up writing [our own implementation](https://github.com/dotnet/corefxlab/blob/master/src/System.Buffers.Primitives/System/Buffers/OwnedBuffer.cs#L68-L71) because of the need:
[code]

The Add API is required in System.Buffers.Primitives [Buffer\<T\>.Pin](https://github.com/dotnet/core

[2017-06-09 03:23] hughbe commented on #20627
Another thing that we need is the ability to skip an entire test class. An example is skipping System.Drawing.Icon tests on Windows Nano

[2017-06-09 03:24] danmosemsft commented on #20835
Thanks. @tarekgh this output doesn't seem to help.

[2017-06-09 03:25] jkotas commented on #20845
It should return `void*`.

[2017-06-09 03:29] kellypleahy commented on #19717
@stephentoub mentioned wanting to move Path.cs to corefx at some point here: https://github.com/dotnet/coreclr/issues/1104#issuecomment-111193983

I wonder if that has to happen before this can really be done properly as a public API, or is there some magic type-forwarding foo or something else I need to know about to do Path.Exists?

[2017-06-09 03:31] davidsh commented on #20627
ActiveIssue or SkipOnTargetFramework attributes can be applied already to a test class instead of a test method. cc: @safern

[2017-06-09 03:33] stephentoub commented on #20812
Yeah, definitely seems to be related to Control Flow Guard.  The `dotnet` in preview1 doesn't have it enabled:
[code]
whereas the one in corefx (which is newer) does:
[code]
as does corerun.exe
[code]
And looking in procexp.exe, if I add columns for CFG and Virtual Size, almost all of the processes on the machine with CFG enabled have sizes like 2,147,586,904K.  So it looks like this is just behav

[2017-06-09 03:34] safern commented on #20627
Yup, the attributes' usage is documented in: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md

[2017-06-09 03:34] #20812 closed

[2017-06-09 03:35] hughbe commented on #20627
But this doesn't apply to Nano right? Nano support is not a target framework or an active issue. It just doesn't work, right?

[2017-06-09 03:39] safern commented on #20627
Nano is not a TargetFramework so it would be more like a TestPlatform, so I really think we would need to add Nano to the TestPlatforms and then modify the PlatformSpecificDiscoverer to  support skipping that platform. I could take care over the weekend :)

[2017-06-09 03:44] kellypleahy commented on #20555
Is this really an optimization?  Is the type comparison and cast going to be just as slow as the two public calls, or do you mean we should have extension methods that take the concrete `Dictionary<TKey,TValue>` type as an argument?

[2017-06-09 03:44] stephentoub commented on #19717
The Path implementation did move to corefx, and then with all of the .NET Standard 2.0 compatibility work, it moved back.

It doesn't.  The API can be added in coreclr, and then exposed from the reference assembly and tested in corefx:
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/ref/System.Runtime.Extensions.cs#L1155

But before a PR is submitted for any new APIs, we

[2017-06-09 03:47] jkotas commented on #20812
The size of the CFG bitmap (that is huge) is accounted for in the VirtualSize by Windows. It is technically correct because the CFG bitmap does occupy process address space, but it certainly takes people by surprise when they see the number for the first time...

[2017-06-09 03:50] stephentoub commented on #20812
Thanks, @jkotas.

[2017-06-09 04:37] kellypleahy commented on #19717
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/ref/System.Runtime.Extensions.cs#L1155

OK... I get that an API review would be needed.  Now, I just want to understand how this works mechanically.  Are you saying that the API would be added *and implemented* in coreclr and we would only have the tests in corefx, or are you saying the implementation would somehow live in

[2017-06-09 04:54] pgolebiowski commented on #574
I find the disparity in opinions significant. Just by looking at the numbers, slightly more people are for an interface, but that doesn't tell us much. I'll try to ask some other people who have participated in the discussion before but have not expressed their opinions in regards to an interface yet:

@ebickle @svick @horaciojcfilho @paulcbetts @justinvp @akoeplinger @mbeidler @SirCmpwn @andrewgm

[2017-06-09 05:02] nopara73 opened #20846 "Tip: add string.Contains(string, StringComparison)"
Add convenience API 'string.Contains' overload with `StringComparison` argument.
Motivation: [2000+ votes](https://stackoverflow.com/a/444818/2061103) on StackOverflow

[code]

# Original post

I am not sure if this topic has came up before or not, but it looks to me a low hangig fruit with great demand: https://stackoverflow.com/a/444818/2061103

[2017-06-09 05:18] hughbe commented on #20627
@safern you're awesome! No pressure, but shall I hold off on #20811 until this?

[2017-06-09 05:27] norek commented on #20711
@hughbe Thanks! Im working on  System.Drawing.Printing namespace. In description of this issue You can see list of assigned items.

[2017-06-09 05:58] YaakovDavis commented on #20810
@mellinoe

Knowing that .Net doesn't affect the result in any way, beyond the IEEE standard, is useful on its own. So thanks.

For anyone interested, [here's](https://www.physicsforums.com/threads/ieee-float-division.916989/) a discussion I opened in another forum.
It seems like consistency *can* be expected in this case.

[2017-06-09 06:33] Jiayili1 commented on #11737
Failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_release/lastCompletedBuild/testReport/System.Transactions.Tests/NonMsdtcPromoterTests/PSPENonMsdtcTimeout_promote__True_/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-06-09 06:43] Jiayili1 commented on #20223
Followoing test failed with same issue: System.Net.Sockets.Tests.DnsEndPointTest/Socket_StaticConnectAsync_HostNotFound

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170609.02/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DnsEndPointTest~2FSocket_StaticConnectAsync_HostNotFound

[2017-06-09 06:45] Jiayili1 commented on #18907
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170609.02/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveUdpClient~2FSendToRecvFromAsync_Datagram_UDP_UdpClient(loopbackAddress:%20127.0.0.1)

[2017-06-09 06:56] v-haren commented on #19767
failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_release/76/consoleFull#-7738886783554902-aff0-4799-9e92-0ada24ce2a06

[2017-06-09 06:56] Jiayili1 commented on #19388
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170609.02/workItem/System.Net.WebClient.Tests/analysis/xunit/System.Net.Tests.SyncWebClientTest~2FUploadFile_Success(echoServer:%20https:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

[2017-06-09 07:00] dotnet-mc-bot opened #20849 "Test failure: System.Runtime.Serialization.Xml.Canonicalization.Tests.XmlCanonicalizationTest/C14NWriterNegativeTests"
Opened on behalf of @Jiayili1

The test `System.Runtime.Serialization.Xml.Canonicalization.Tests.XmlCanonicalizationTest/C14NWriterNegativeTests` has failed.

Assert.Equal() Failure\r
                             ? (pos 15)\r
    Expected: System.ArgumentException\r
    Actual:   System.ArgumentNullException\r
                             ? (pos 15)

        Stack Trace:

           at System.Runt

[2017-06-09 07:08] dotnet-mc-bot opened #20850 "Test: Tests.System.IO.Win32MarshalTests/DirectoryNotFoundErrors(path: \"\", errorCode: 3, error: \"IO_PathNotFound_NoPathName\") failed with "Xunit.Sdk.StartsWithException""
Opened on behalf of @Jiayili1

The test `Tests.System.IO.Win32MarshalTests/DirectoryNotFoundErrors(path: \"\", errorCode: 3, error: \"IO_PathNotFound_NoPathName\")` has failed.

Assert.StartsWith() Failure:\r
    Expected: IO_PathNotFound_NoPathName\r
    Actual:   Exception of type 'System....

        Stack Trace:

           at Tests.System.IO.Win32MarshalTests.DirectoryNotFoundErrors(String pa

[2017-06-09 07:11] dotnet-mc-bot opened #20851 "Test: Tests.System.IO.Win32MarshalTests/DirectoryNotFoundErrors(path: \"foo\", errorCode: 3, error: \"IO_PathNotFound_Path\") failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `Tests.System.IO.Win32MarshalTests/DirectoryNotFoundErrors(path: \"foo\", errorCode: 3, error: \"IO_PathNotFound_Path\")` has failed.

System.ArgumentNullException : Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.String.FormatHelper(IFormatProvider provider, String format, ParamsArray args)
       at System.Str

[2017-06-09 07:17] dotnet-mc-bot opened #20852 "Test: System.CodeDom.Tests.CSharpCodeGenerationTests/MetadataAttributes failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.CodeDom.Tests.CSharpCodeGenerationTests/MetadataAttributes` has failed.

Assert.Equal() Failure\r
                                     ? (pos 85)\r
    Expected: ···--------------- // <auto-generated> // This code was generate···\r
    Actual:   ···--------------- // < // // 4.0.30319.42000 // // // // </ //-···\r

[2017-06-09 07:20] Jiayili1 commented on #20852
Failed tests:
MetadataAttributes
ProviderSupports
RegionsSnippetsAndLinePragmas

[2017-06-09 07:21] dotnet-mc-bot opened #20853 "Test: System.CodeDom.Tests.TempFileCollectionTests/AddExtension_InvalidFileExtension_ThrowsArgumentException failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.CodeDom.Tests.TempFileCollectionTests/AddExtension_InvalidFileExtension_ThrowsArgumentException(fileExtension: \"\")` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System

[2017-06-09 07:22] omariom commented on #20845
Should what can done with the "normal unsafe" go to `Unsafe`?

[2017-06-09 07:23] Jiayili1 commented on #20853
Failed tests:
AddExtension_InvalidFileExtension_ThrowsArgumentException
AddFile_DuplicateFileName_ThrowsArgumentException
AddFile_InvalidFileName_ThrowsArgumentException

[2017-06-09 07:24] dotnet-mc-bot opened #20854 "Tests under: System.CodeDom.Tests.VBCodeGenerationTests failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.CodeDom.Tests.VBCodeGenerationTests/MetadataAttributes` has failed.

Assert.Equal() Failure\r
                                     ? (pos 83)\r
    Expected: ···---------------- ' <auto-generated> ' This code was generated···\r
    Actual:   ···---------------- ' < ' ' 4.0.30319.42000 ' ' ' ' </ '--------···\r
                                     ? (

[2017-06-09 07:25] Jiayili1 commented on #20854
Failed tests:
MetadataAttributes
ProviderSupports
RegionsSnippetsAndLinePragmas

[2017-06-09 07:29] dotnet-mc-bot opened #20855 "Test: System.Collections.Tests.ArrayListTests/Ctor_Int_NegativeCapacity_ThrowsArgumentOutOfRangeException failed with "System.ArgumentNullException'"
Opened on behalf of @Jiayili1

The test `System.Collections.Tests.ArrayListTests/Ctor_Int_NegativeCapacity_ThrowsArgumentOutOfRangeException` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentOutOfRangeException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.String.Format

[2017-06-09 07:35] dotnet-mc-bot opened #20856 "Test: System.Collections.Specialized.Tests.HybridDictionaryAddTests/Add_Invalid failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Collections.Specialized.Tests.HybridDictionaryAddTests/Add_Invalid(count: 50, caseInsensitive: False)` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentException)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.String.FormatH

[2017-06-09 07:39] dotnet-mc-bot opened #20857 "Test: System.Collections.Generic.Tests.BadlyBehavingComparableComparersTests/EqualityComparer_SerializationRoundtrip failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.Collections.Generic.Tests.BadlyBehavingComparableComparersTests/EqualityComparer_SerializationRoundtrip` has failed.

System.ArgumentNullException : Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.String.FormatHelper(IFormatProvider provider, String format, ParamsArray args)
       at System.String.Forma

[2017-06-09 07:40] kellypleahy commented on #8567
FYI - relevant code is now here: https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Globalization/FormatProvider.Number.cs#L478

[2017-06-09 07:43] dotnet-mc-bot opened #20858 "Test: System.ComponentModel.DataAnnotations.Tests.RangeAttributeTests/Validate_CantConvertValueToTargetType_ThrowsException failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.ComponentModel.DataAnnotations.Tests.RangeAttributeTests/Validate_CantConvertValueToTargetType_ThrowsException(type: typeof(double), minimum: \"1\", maximum: \"3\")` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.Exception)\r
    Actual:   typeof(System.ArgumentNullException): Value cannot be null.\r
    Parameter name: format

[2017-06-09 07:45] dotnet-mc-bot opened #20859 "Test: System.ComponentModel.DataAnnotations.Tests.RangeAttributeTests/Validate_Invalid failed with "Xunit.Sdk.AllException""
Opened on behalf of @Jiayili1

The test `System.ComponentModel.DataAnnotations.Tests.RangeAttributeTests/Validate_Invalid` has failed.

Assert.All() Failure: 4 out of 22 items in the collection did not pass.\r
    [21]: Xunit.Sdk.ThrowsException: Assert.Throws() Failure\r
          Expected: typeof(System.ComponentModel.DataAnnotations.ValidationException)\r
          Actual:   typeof(System.Argum

[2017-06-09 07:48] dotnet-mc-bot opened #20860 "Test: System.ComponentModel.Primitives.Tests.CategoryAttributeTests/CategoryNames failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.ComponentModel.Primitives.Tests.CategoryAttributeTests/CategoryNames(attribute: CategoryAttribute { Category = \"Default\", TypeId = typeof(System.ComponentModel.CategoryAttribute) }, n...` has failed.

Assert.Equal() Failure\r
              ? (pos 0)\r
    Expected: Misc\r
    Actual:   Default\r
              ? (pos 0)

        Stack Trace:

[2017-06-09 07:48] Jiayili1 commented on #20860
Closed issue: https://github.com/dotnet/corefx/issues/10777

[2017-06-09 07:50] dotnet-mc-bot opened #20861 "Test: System.ComponentModel.Tests.ArrayConverterTests/ConvertTo_WithContext failed with "System.ArgumentNullException""
Opened on behalf of @Jiayili1

The test `System.ComponentModel.Tests.ArrayConverterTests/ConvertTo_WithContext` has failed.

System.ArgumentNullException : Value cannot be null.\r
    Parameter name: format

        Stack Trace:

           at System.String.FormatHelper(IFormatProvider provider, String format, ParamsArray args)
       at System.String.Format(String format, Object arg0)
       at S

[2017-06-09 07:53] fanoI commented on #20712
@qmfrederik it does exist a try to port Winforms to Net Core: https://github.com/akoeplinger/mono-winforms-netcore but its last update is 2 years ago!
As System.Drawing is the building block of Winforms will be possible in future to have Winforms as an official part of Net Core?

Not having a portable way to do a GUI on .Net is its only drawback, there are alternative yes (Avalonia, Eto.Forms, XWT

[2017-06-09 07:55] dotnet-mc-bot opened #20862 "Test: System.ComponentModel.Tests.CultureInfoConverterTest/ConvertToString failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.ComponentModel.Tests.CultureInfoConverterTest/ConvertToString` has failed.

Assert.Equal() Failure\r
    Expected: (Default)\r
    Actual:   (null)

        Stack Trace:

           at System.ComponentModel.Tests.CultureInfoConverterTest.ConvertToString()
Build : Master - 20170609.02 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64-x64
  - D

[2017-06-09 07:56] kellypleahy commented on #5014
@karelz I was going to go after this one, but it seems like the way we should handle this is that the ContentType.CharSet should be stripped of the quotes before it gets to the line of code indicated above in the OP comment: https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpContent.cs#L205

I would propose that the header parsing for the ContentType header sh

[2017-06-09 08:03] kellypleahy commented on #5014
I think the fix belongs here: https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Headers/MediaTypeHeaderValue.cs#L25

And I also think that assignments to this value (the setter for `CharSet`) should not modify the value provided (i.e. leave it as supplied).  I'm not as set on this opinion as I am on the first ;)

[2017-06-09 08:12] rochar commented on #20765
Yes thank you.

Just another related doubt, for example the Matrix4x4.CreateRotationX will do a counter clockwise rotation? What would be the best practice for this using the System.Numerics? If my system is left handed, I will need a clockwise rotation.

[2017-06-09 08:17] wklm commented on #9268
hey @chadbr did u manage to port the library?

[2017-06-09 08:25] hughbe opened #20865 "Strange bug: KnownColorTable.InitColorNameTable - constant initialization sets all values to null?"
Steps to reproduce:

- Start debugging on L188 in System.Drawing.Common.KnownColorTable
![untitled](https://user-images.githubusercontent.com/1275900/26967236-b5f66ec8-4d27-11e7-8600-68be3c5de9b6.png)

- Step over the first assignment to `values[0]`:
![untitled](https://user-images.githubusercontent.com/1275900/26967271-cf753eba-4d27-11e7-83eb-0789a2d7fdab.png)

Observe that values is still null,

[2017-06-09 08:35] hughbe opened #20866 "[refactoring] There are 2 copies of KnownColorTable in corefx"
One in System.Drawing.Primitives and one in System.Drawing.Primitives

These should be moved to src/common

[2017-06-09 09:09] v-haren commented on #20817
failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/debian8.4_debug/2742/consoleFull#136046166483554902-aff0-4799-9e92-0ada24ce2a06
https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora24_debug/2792/consoleFull#136046166483554902-aff0-4799-9e92-0ada24ce2a06
https://ci.dot.net/job/dotnet_corefx/job/master/job/opensuse42.1_debug/2778/consoleFull#136046166483554902-aff0-4799-9

[2017-06-09 09:23] hughbe commented on #20865
This is a porting bug that is fixed in #20867

[2017-06-09 09:28] v-haren commented on #20773
failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_debug/81/consoleFull#16488519756ee26338-6221-4f7c-8c8f-1d1d5cb4704a
ERROR: [WS-CLEANUP] Cannot delete workspace: remote file operation failed: /Users/dotnet-bot/j/workspace/dotnet_corefx/master/outerloop_netcoreapp_osx_debug at hudson.remoting.Channel@5c28cefb:dci-mac-build-088: hudson.remoting.ChannelC

[2017-06-09 11:18] jkotas commented on #20845
The example above uses `Unsafe.SizeOf`. It cannot be completely done with the normal unsafe. `Unsafe` has prior art of adding convenience methods that could have be written using other Unsafe methods.

[2017-06-09 11:58] stephentoub commented on #8262
These APIs were added back for 2.0; there are currently no plans to make them available earlier.

[2017-06-09 12:10] stephentoub commented on #19717
@kellypleahy, it can be confusing, I know.

When adding an API, there are potentially three pieces: the implementation (src), the reference assembly (ref), and the tests (tests) (and I say potentially three because for some libraries there is no ref).  The latter two live in corefx; the former may also live in corefx, or for very core types may live in coreclr.  With Path, the implementation is he

[2017-06-09 12:34] stephentoub commented on #19767
Again here:
https://ci.dot.net/job/dotnet_corefx/job/release_1.0.0/job/osx_debug_prtest/267/
and again here:
https://ci.dot.net/job/dotnet_corefx/job/release_1.0.0/job/osx_release_prtest/271/

[2017-06-09 12:38] blowdart commented on #14354
None, I just found it interesting, and I'm thinking the docs for this ought to say "Not for use on hash codes which are generated via cryptographic algorithms."

[2017-06-09 12:38] stephentoub commented on #20865
What's the fix?  None of the commits appear to be specifically about a src fix.  Can you separate out just that fix into its own commit?

[2017-06-09 12:41] AtsushiKan commented on #20841
@stephentoub, @sharwell

For the "useful as stages" contribution and the "want to preserve email addy" scenarios, the "Rebase and Merge" button preserves the separate commit stages and author email addy, and still satisfies my goal of avoiding the creation of the two-parent commit and braided history for every individual contribution. Unfortunately, the author time stamp is still the earlier times

[2017-06-09 12:50] marek-safar commented on #20555
The optimization is to replace 2 calls with type check and 1 call. For example Dictionary<,> implements TryAdd which is much faster than calling Contains+Add in CollectionExtensions implementation

[2017-06-09 13:14] stephentoub commented on #20555
If it's a Dictionary<,> and if it doesn't contain the item being added.  If it's not a Dictionary<,>, it's adding a type check and nothing is saved.  And if it is a Dictionary<,> but the item already exists, it's replacing 1 interface call with 1 type check and 1 call.  Those could very well be the right trade-offs, since Dictionary<,> is so common, but it would need to be investigated and underst

[2017-06-09 13:39] sharwell commented on #20841
I frequently use merge commits to understand individual contributions and when they are introduced into a main branch. In other words, starting at any individual branch of a root repository, I expect to be able to following the parent[0] links of each commit and find a chain of merge commits representing the precise order in which changes were pushed to the branch.

I also depend heavily on the us

[2017-06-09 13:53] sbraswell commented on #9234
@karelz I've run into this issue. We have ported a Windows 8.1 store app to UWP and the same code that worked in Windows 8.1 doesn't work in UWP. I've used the same method described by @aplex to modify the response using Fiddler. I've found that if I reorder the WWW-Authenticate headers so NTLM is first, the HttpClient will continue with the authentication conversation. If anything other than NTLM

[2017-06-09 14:10] davidsh commented on #9234
This is very interesting.  This issue here was about .NET Core only and not any UWP scenarios.  Thus, it was presumed to be a bug in our WinHttpHandler stack which is used on .NET Core.

But UWP uses a completely different HTTP stack for the System.Net.Http.* implementation. We have not had any reports of authentication problems with UWP apps.

Can you post a small repro of this UWP scenario?  Ple

[2017-06-09 14:25] chadbr commented on #9268
@wklm never did - sorry... requirements changed, we dropped oracle.

[2017-06-09 14:28] mmitche commented on #20773
We think that machine is having issues with its hard disk.  It's been removed.

[2017-06-09 14:28] #20773 closed

[2017-06-09 14:41] mmitche commented on #19767
Agh, the worst.  This is going to be hard to track down.  @dotnet/eng-first I've filed https://github.com/dotnet/core-eng/issues/915 to track/fix this.

It's catching either IOException or InterruptedException.

[2017-06-09 14:41] stephentoub commented on #19767
Another:
https://ci.dot.net/job/dotnet_corefx/job/release_1.1.0/job/osx_debug_prtest/383/

[2017-06-09 14:56] karelz opened #20869 "Update C# compiler to RTM version"
Looks like we're using Roslyn 2.0-rc, which has some bugs - e.g. https://github.com/dotnet/corefx/pull/20813#issuecomment-307258057
We should upgrade to RTM version (maybe even latest).

[2017-06-09 14:56] karelz commented on #20869
@weshaggard @ericstj @mellinoe can you please advise on the best course of action?

[2017-06-09 15:06] karelz commented on #19717
Here's rough info/notes about adding API into CoreCLR and exposing it in CoreFX: https://github.com/dotnet/corefx/wiki/Contributions#expose-api-across-coreclrcorefx

We will need API review first -- that requires [formal API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md).

@JeremyKuhne please add the "next-steps" info into up-for-grabs bugs

[2017-06-09 15:08] karelz commented on #5014
I will let area experts to answer - @davidsh @CIPop

[2017-06-09 15:16] weshaggard commented on #20834
There isn't a RID for nano that I'm aware of.

[2017-06-09 15:17] mikes-gh opened #20871 "ActiveDirectorySite.GetComputerSite for Linux domain joined OS"
If a Linux OS is joined to an AD site is there not a way to Get the AD site?

Look like the code only supports windows API at present.

[2017-06-09 15:35] weshaggard commented on #20869
@chcosta has been the one updating our compilers in the past.

[2017-06-09 15:45] karelz commented on #574
I don't want to drag API reviewers into the discussion -- it is long and messy, it would not be efficient for API reviewers to re-read everything or even just decide what is the last important reply (I am losing myself in it).
I think we are at the point when we can create 2 [formal API proposals](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) (see t

[2017-06-09 15:47] tmds commented on #20628
@karelz @davidsh ping

[2017-06-09 15:56] karelz commented on #574
To help kick it off, here's how a proposal should look like:

# Proposal Example / Seed
[code]

TODO:
* Missing usage example (it's unclear to me how I express the priority of items) -- maybe we should redesign it to have 'int' as priority value input? Maybe some abstraction on it? (I think it was discussed above, but the thread is way too long to read, that's why we need concrete proposals and no

[2017-06-09 16:26] hughbe commented on #20865
It's tricky because the actual fix is to use the version of KnownColorTable in System.Drawing.Common in system.drawing.primitives. This is because the up-to-date version has code that supports system colours.
There is no real fix that I've actually done so I didn't know how to show it. The fix is the actual code movement. You can see it by copying the contents of KnownColorTable in Drawing.Common

[2017-06-09 16:45] tarekgh commented on #20835
@danmosemsft I'll try to look more at the code to see to if there is anyway we can get into this state. if not find any clue I'll close the issue and watch if we'll run into the same problem again.

[2017-06-09 16:47] qizhanMS commented on #11737
Is this run on desktop too?

[2017-06-09 16:50] #20483 closed

[2017-06-09 17:12] CIPop commented on #20795
@karelz I may not be the right person for `System.Web` issues: this is the first time I see the code. Maybe ASP.Net (the current .Net Framework owners) can help here?

[2017-06-09 17:17] avikenjale opened #20874 "ProjectReference Version number issue (Visual Studio 2017 Community)"
**Domain.csproj** _(potable)_ [Targetting shown below]

![image](https://user-images.githubusercontent.com/6217482/26986023-dd8ddd9a-4d13-11e7-9743-1ac1c8dec513.png)

**Business.csproj** _(.net core class library)_
[code]
**Business.Tests.csproj** _(.net core class library)_
[code]

**WebApi.csproj**  _(asp.net core web api)_
[code]

Getting following errors (both Business & webapi and respective

[2017-06-09 17:23] karelz commented on #20795
Fair, do you have experts names?
We also need to gain expertise in all things which are in CoreFX. I don't think it is wise to include more teams for smaller one-offs.

[2017-06-09 17:29] kellypleahy commented on #19717
@karelz thanks for the clarification.  Looking forward to working more on this stuff in the future and I'm just trying to get my bearings at this point.  All this is very helpful.  I'll see if there are tips we can distill into your "notes" on the wiki to help answer the same questions I'm having.

[2017-06-09 17:37] karelz commented on #20628
Switching to 2.0 bug to look into it deeper (I need to read it properly).

[2017-06-09 17:38] kellypleahy opened #20875 "Consider having a way to systematically check styles locally before pushing to PR"
For external contributors (like me) and probably everyone else, it would be nice to have a way to check some of the formatting rules locally before pushing (i.e. as a build target or a script on the cmdline).  I'm running on linux so I don't have VS and don't get the stylecop stuff there.

If there was a convenient way to run the style check locally I could be a better citizen and not push things

[2017-06-09 17:40] tannergooding commented on #20875
FYI. @jaredpar

[2017-06-09 17:43] chcosta commented on #20869
Looks like CLI is on Roslyn beta2

[code]

I'm starting to look at aligning the compiler we use from BuildTools, with what CLI is using.  Is there anybody looking at moving CLI to Roslyn RTM?

/cc @ellismg

[2017-06-09 17:48] sharwell commented on #20875
StyleCop Analyzers should support the majority of formatting rules which would be considered "rules" here.

[2017-06-09 17:50] mellinoe commented on #20875
Semi-related to https://github.com/dotnet/buildtools/issues/1555. We could fold it into a "Make Sure Everything Is Clean" check.

[2017-06-09 17:50] ericstj commented on #18090
@Petermarcu has asked me to enable this.

Suggestion is to just append `.Core` to the assembly names.

Here's another suggestion.
System.DirectoryServices -> System.DirectoryServices.Primitives
System.DirectoryServices.AccountManagement -> System.DirectoryServices.Accounts
System.DirectoryServices.Protocols -> System.DirectoryServices.Extensions

/cc @terrajobst for FXDC/Naming

[2017-06-09 17:52] tannergooding commented on #20875
@sharwell, do StyleCop analyzers work outside of VS/VS Code (i.e. how do you get them to run for command line builds)?

[2017-06-09 17:53] kellypleahy commented on #20555
@stephentoub yes, well put.  That was exactly what I was trying to ask, as it didn't seem obvious to me that the tradeoff of doing the type check 100% of the time was worthwhile, when the user could get the perf gain that wanted just by using the concrete type.