[2019-10-07 02:13] davidfowl commented on #41534
cc @fabiocav

[2019-10-07 02:53] ericstj commented on #41534
Looks similar to https://github.com/Azure/azure-sdk-for-net/issues/7354.  As @davidfowl mentioned, Azure functions act as a host and pin parts of the framework, not allowing functions to bring newer versions.  This is a bug in Azure functions and should probably be moved to https://github.com/Azure/azure-functions-host.

[2019-10-07 03:25] ahsonkhan commented on #41534
Yep, looks similar to https://github.com/Azure/azure-functions-host/issues/4906.

Here's a repro with a similar error:
[code]
[code]

[code]

[code]

Looks like the .NET Core 2.2 dependencies are overriding the newer ones that the user code might bring in/rely on:
https://github.com/Azure/azure-functions-host/blob/a63aeed826c4a1ee7c4e8c676bf7557c88a86ba1/src/WebJobs.Script.WebHost/WebJobs.Script.W

[2019-10-07 03:32] ahsonkhan commented on #41534
Opened an issue in azure functions: https://github.com/Azure/azure-functions-host/issues/5031

Closing this one.

[2019-10-07 03:32] #41534 closed

[2019-10-07 04:06] eriawan commented on #40484
@ViktorHofer

This seems quite easy and I'm sure it's non-breaking.
Could I take this issue?

[2019-10-07 05:23] Tornhoof commented on #41588
Try using 127.0.0.1 directly. I've seen that problem,  it tried to connect to ::1 (ipv6) first, because localhost resolved to [::1,127.0.0.1].

[2019-10-07 07:30] davidfowl commented on #39313
https://github.com/aspnet/AspNetCore/blob/0a79d34f62a2e153d7104a88b487b75ef8860bb7/src/SignalR/common/Shared/TimerAwaitable.cs

Usage:

https://github.com/aspnet/AspNetCore/blob/9557630c0a470618b30679e8effcf019b1c74164/src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs#L1774-L1781

This type was trying to handle:
- Overlapping timer events
- Async execution of timer callbacks
- Race betwe

[2019-10-07 08:39] vishal868 commented on #31034
@karelz , thanks!!
We are keeping the option open to upgrading to 3.0 but it will take a while. We are using static HttpClient instance from netstandard, Version=2.0.0.0,

Here are some stack trace extracts from our error log, if that could be helpful.
We have some more information from the event log as well,  let me know, if sharing that may also be useful.

at System.Net.Http.ConnectHelper.Estab

[2019-10-07 09:29] ftlsoft opened #41611 "DateTime.Date ToString() - .net core 2.2. - console/windowsservice differences"
# Issue Title

DateTime.Date ToString() - .net core 2.2. - console/windowsservice differences
# General

Hi, i`v found an issue with DateTime.Date in app runned as a console and as a windows service (Local System user)

Log:
As a console app:
2019/10/07 10:59:32.864|DEBUG|: DateTime.Now: 2019-10-07 10:59:32 DateTime.Now.Date: **2019-10-07 0:00:00**
As a windows service:
2019/10/07 10:59:36.370|DEB

[2019-10-07 09:43] ViktorHofer commented on #40484
Sure. You want to leave the constants for the versionless tfms: `netcoreapp`, `netfx` and `uap`. Everything else should be replaceable.

[2019-10-07 10:06] GREsau opened #41590 "InvalidCastException when deserialising invalid List/IEnumerable from JSON"
[code]

I would expect this to result in a JsonException, but it actually results in an InvalidCastException:
[code]

[2019-10-07 10:21] pc-tradelab opened #41591 "Could not load type 'System.Text.Json.JsonDocumentOptions' from assembly 'System.Text.Json, Version=4.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'"
Hi I am having this issue when trying to migrate my identityserver4 server to dotnetcore3.0 :

`TypeLoadException: Could not load type 'System.Text.Json.JsonDocumentOptions' from assembly 'System.Text.Json, Version=4.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'.
Microsoft.AspNetCore.Authentication.Google.GoogleHandler.CreateTicketAsync(ClaimsIdentity identity, AuthenticationProperties

[2019-10-07 10:45] asayaipn commented on #33774
hi all! can I take `System.Reflection.Metadata`?

[2019-10-07 10:56] marek-safar commented on #40740
Did I get it right that the attribute is valid only in the context of `DllImport`? Wouldn't be better to include there instead of having a new attribute or are you expecting the attribute to be useful elsewhere?

[2019-10-07 11:01] ViktorHofer commented on #38548
Failed on Windows 10 19H1: https://dnceng.visualstudio.com/public/_build/results?buildId=379390&view=ms.vss-test-web.build-test-results-tab&runId=11701594&resultId=165080&paneView=debug

[2019-10-07 11:03] ViktorHofer commented on #38548
Retries seem to not help at all. Should we disable the all tests that invoke `EventLog.Delete` on Windows 19H1 upwards?

[2019-10-07 11:04] ViktorHofer commented on #39211
Happened again on arm64: https://dnceng.visualstudio.com/public/_build/results?buildId=379373&view=ms.vss-test-web.build-test-results-tab&runId=11700884&resultId=100000&paneView=attachments

[2019-10-07 11:12] ViktorHofer commented on #39211
@JeremyKuhne should we disable the test / move it to outerloop as it seems to be flaky?

[2019-10-07 11:15] eiriktsarpalis commented on #39545
Was working on this before my trip. Can confirm that the test is timing out consistently with the platform handler on linux CI, but it does not reproduce on my linux machine.

[2019-10-07 11:56] lloydjatkinson opened #41592 "Where are the unit tests for Systems.Collections.Generic?"
I've not been able to find the tests for any of the types in https://github.com/dotnet/corefx/tree/master/src/Common/src/CoreLib/System/Collections/Generic

System.Linq has tests in a directory called tests (e.g. https://github.com/dotnet/corefx/blob/master/src/System.Linq/tests/FirstTests.cs).

[2019-10-07 12:06] AndersMalmgren commented on #41253
I'm polling `https://github.com` right now. If that fails to reproduce I need to find a post endpoint to test against, because we are posting against the endpoint that fails.

[2019-10-07 12:41] Wraith2 commented on #41592
Try https://github.com/dotnet/corefx/tree/master/src/Common/tests/System/Collections

[2019-10-07 13:22] zlatanov opened #41595 "API proposal: Add compression support in WebSocket"
See discussion here #15430.

At the moment the WebSocket doesn't support per-message deflate (see https://tools.ietf.org/html/rfc7692#section-7). Adding support for it in the BCL will mean that people (myself including) will no longer resort to implementing custom WebSockets in order to use it.

Proposed API
---
[code]

Rationale and Usage
---

The main drive behind the API is that we should not i

[2019-10-07 13:40] ManickaP commented on #32611
Another round of benchmarks (`microsoft.com` is in hosts file, `ibm.com` isn't):
Windows (see that the time unit is `us` i.e. **micro** seconds):

Method | hostName | Mean | Error | StdDev | Median
-- | -- | -- | -- | -- | --
GetHostName | ? | 130.4 us | 2.587 us | 5.045 us | 129.1 us
Adapters | ? | 172,362.6 us | 3,410.236 us | 8,170.708 us | 171,094.9 us
GetHostAddresses | MAPICHOV-SB2 | 370.7 u

[2019-10-07 13:49] stephentoub commented on #41592
The test project is here:
https://github.com/dotnet/corefx/tree/master/src/System.Collections/tests
It includes files from the location @Wraith2 mentions.

[2019-10-07 13:49] #41592 closed

[2019-10-07 13:53] lambdageek commented on #40740
At first blush, this: a. make sense for Mono; b. has the right restrictions on what the function may do.

Need to think about it a bit more.

[2019-10-07 14:02] stephentoub commented on #19408
I'm curious about the semantics here.

Let's say I have:
[code]
One thread passes this around by ref, e.g.
[code]
while another thread uses Update:
[code]

The net effect of this will be that the code in `Foo` is now dangerous and could fail spuriously, as the "immutable" array it's using could be changed out from under it.

Isn't that confusing?  Or we just accept that kind of mutability with Imm

[2019-10-07 14:06] stephentoub commented on #19408
I guess it's no different than some thread just assigning into the field. Nevermind.

[2019-10-07 14:09] MichalStrehovsky commented on #40740
`DllImportAttribute` is a pseudocustom attribute - it's not encoded as a custom attribute in the file format, but as a set of flags and fields encoded across two tables. Changing it would be a ECMA-335 file format change. Not that we can't change the file format, but it's a thing to consider.

[2019-10-07 14:11] WayneHiller opened #41598 "System.Text.Json - Collection was of a fixed size. Error on IEnumerable property"
I have a class with this:

[code]

The Networks property is used by Dapper to read/write to and from the database.
The NetworkCodeList is sent/received to and from a web page.

I am getting an error when ASP.NET is Deserializing the object. This worked fine with Json.Net.
Any ideas what I can do here?

[code]

[2019-10-07 14:22] WilliamSBunin commented on #41498
We are dealing with future localized dates/times in one situation and in others we are not.

In that particular situation, we wait until the time hits and then perform an action. If UTC doesn't change, would it really be so bad to store. What's more, in most instances the time we are storing will take place in the same day. If DST rules did change, would they really take effect in the middle of th

[2019-10-07 14:24] KamranShahid opened #41599 "Converting newtonsoft code to System.Text.Json. what's equivalent of JObject.Parse"
I am converting my newtonsooft implementeation to new javascript library in .net core 3.0
I have one of the following code

[code]

I am not able to find any equivalent for  JObject.Parse(json);

Also what will be the attribute JsonProperty equivalent

 public class ResponseJson
    {
        [JsonProperty(PropertyName = "status")]
        public bool Status { get; set; }
        [JsonProperty(Pro

[2019-10-07 14:24] danmosemsft commented on #33774
Sure go ahead!

[2019-10-07 14:32] stephentoub commented on #29026
@agocke, it looks like the feature was merged into Roslyn, correct?  If so, we should go ahead with exposing it and using it in coreclr/corefx.

[2019-10-07 14:39] stephentoub commented on #1936
@davidsh, why does the 65K limit in Uri exist in the first place?  Can we just remove that restriction as the solution to this?

[2019-10-07 15:04] bartonjs commented on #1739
While "one thing per file" can work, we've been accepting "one file per logical group".

* `BCRYPT_KEY_DATA_BLOB_HEADER` is only used with `BCryptImportKey`, so they could both be in one file (probably Interop.BCryptImportKey.cs).
* `BCryptEncrypt` and `BCryptDecrypt` are almost always needed together, so leave them in one file (Interop.BCryptEncryptDecrypt.cs?)
* Put the helper methods for the P/

[2019-10-07 15:06] stephentoub commented on #39835
We're definitely not doing that today.  So it sounds like that's the bug here.

[2019-10-07 15:07] AaronRobinsonMSFT commented on #40740
@marek-safar As @MichalStrehovsky mentioned the `DllImport` is a pseudo attribute that is much more complicated to change. On top of the large considerations in applying this to `DllImport` it would also potentially limit being applied to other scenarios where this might be interest (i.e. interface function interop).

@lambdageek What about @jkotas's suggestion of `TrivialUnmanagedMethodAttribute`

[2019-10-07 15:46] davidfowl commented on #41595
Something rubs me the wrong way about being able to mutate the options on the object after it's started on a per message basis. What's the rationale for that?

[2019-10-07 15:51] electricessence commented on #41534
@ahsonkhan Thank you.

[2019-10-07 15:54] vladislav55 opened #41602 "RSA.ImportRSAPublicKey doesn't work for PEM .net core 3"
I'm trying to import public-key parameters from PEM with RSA.ImportRSAPublicKey but it throws System.Security.Cryptography.CryptographicException: 'ASN1 corrupted data'. RSA.ImportRSAPrivateKey works fine for import private-key parameters.

Example:

**for private key** (works fine):

var privateKey = "MIICXAIBAAKBgQCJHYcuRHdJ5S8GYcz/IgF5hJY+vvchVaeKyD+GGSoiD58pRJ3kx5b7YbbP/EyzwhUxWncvbsiWZFdqca/D

[2019-10-07 16:05] zlatanov commented on #41595
@davidfowl No particular reason. The options would actually be used only once in the WebSocket (in the ctor), no reference to them would be kept. In that regard they could very well be a struct, although it would have to be nullable in WebSocketClientOptions.

I find it more readable to be able to write
[code]
than to write
[code]

With that in mind, this is only an opinion. If you think immutable

[2019-10-07 16:41] davidsh commented on #1936
The System.Uri was created before I joined the networking team.

However, I do remember there were fixed size buffers in System.Uri. I think that was changed to dynamically allocated buffers.

I think someone can try doing a PR to remove the restrictions as long as sufficient test coverage is added.

[2019-10-07 16:43] Quintinon commented on #41599
System.Text.Josn.JsonSerializer is a static class which has method Deserialize<T> you can use.
[code]

For the PropertyName attribute you can use JsonPropertyName.
[code]

[2019-10-07 16:48] Clockwork-Muse commented on #41498
This is not surprising - in _most_ cases programmers deal with logged dates, and scheduling systems will naturally contain a mix.

It depends on what, semantically, "we wait until the time hits" means.
 - If it's "wait until 4pm local time", that pretty obviously a localized date.
 - If it's "wait until 24 hours have elapsed", that an absolute offset, and can be safely be given a UTC stamp (althou

[2019-10-07 16:53] am11 commented on #41599
Try [`JsonDocument.Parse`](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsondocument.parse?view=netcore-3.0#System_Text_Json_JsonDocument_Parse_System_String_System_Text_Json_JsonDocumentOptions_):

[code]

[2019-10-07 16:57] carlossanlop commented on #41501
Hi @jsmcneal can you please share a code snippet so we can repro it and help investigate?

[2019-10-07 17:00] tannergooding commented on #29026
I believe it is still in the `features/localsinit` branch; as that shows it is still 14 commits ahead, 1210 commits behind master.

[2019-10-07 17:03] TamarChristinaArm commented on #26581
Hi, I'm wondering what the status of this proposal is?

[2019-10-07 17:05] #40656 closed

[2019-10-07 17:05] agocke commented on #29026
Yup we have to do a feature review before we merge it. Hope to get that done in the next week or so.

[2019-10-07 17:09] ViktorHofer commented on #39611
We believe most of the work discussed here is implemented with https://github.com/dotnet/corefx/commit/d217998bc5a3dfdc21ae22dd6161ea6c8f71f30c. Closing.

[2019-10-07 17:09] #39611 closed

[2019-10-07 17:16] wfurt commented on #32611
I did more work on Friday on tuning `GetAllNetworkInterfaces` and now on my machine it is faster than `GetHostAddresses` from your branch @ManickaP. That does not make much sense to me as it needs to do more than just getting all address.

|                  Method |                                                                   Toolchain |          Mean |          Error |        StdDev |
|----

[2019-10-07 17:23] jzabroski commented on #28410
@danmosemsft @terrajobst @ViktorHofer @svick  It seems that during the process of implementing this feature, @shishirchawla discovered an area to improve the API a tiny bit further.  If you go to the Anchors documentation, there are two anchors, `$` and `\Z`, which mention Windows-specific `\n` line ending.  I've updated the top post of this issue with the full notes, including @terrajobst API rev

[2019-10-07 17:41] sdmaclea commented on #26581
@TamarChristinaArm When I moved to Microsoft, I stopped championing this.  In my opinion it was in good shape when I left.

The proposal is probably a little out of date. When some of the other intrinsic API were approved, the namespace changed.

If someone was motivated to implement this and we had consensus, the next step would be to mark this as API ready for review and have an API design revie

[2019-10-07 17:42] odhanson commented on #40737
I don't want to ship nightly builds (also I am not sure our build agent can support that). When will this be officially released ?

[2019-10-07 17:49] TamarChristinaArm commented on #26581
@sdmaclea I agree. I have some of this implemented as I was going off a different list, but It would be best just to get these approved.

The namespace change shouldn't affect this much so I think it's fine to review as is. The other approved APIs need slight changes due to the namespaces too but it's easier to have them all approved as is (as it's mostly about the intrinsics themselves no? the na

[2019-10-07 17:53] sdmaclea commented on #26581
I doubt you can add the label.  I'll add it. I just tried but GitHub seems to have issues at the moment.

[2019-10-07 17:55] jkotas commented on #39211
PR: https://github.com/dotnet/corefx/pull/41604

[2019-10-07 17:56] KamranShahid commented on #41599
Got answer from the post as well
https://stackoverflow.com/questions/58271901/converting-newtonsoft-code-to-system-text-json-in-net-core-3-whats-equivalent/58273914
Thanks Guys

[2019-10-07 17:56] #41599 closed

[2019-10-07 17:56] tannergooding commented on #26581
Part of this is trivial and just involves updating the class name and namespace name.

The more difficult part comes from pulling out what is shared vs what is ARM64 specific; which needs to be done anyways.

I'm fine with marking this ready-for-review, but I'd like to see us get the proposal updated before it is reviewed, if possible. It tends to make the entire process easier and is ultimately p

[2019-10-07 17:56] sdmaclea commented on #26581
@terrajobst Can we schedule this for API review? Can we include Arm on the call?

[2019-10-07 17:58] KamranShahid commented on #41591
Better to use released .net core version then the preview one

[2019-10-07 18:02] TamarChristinaArm commented on #26581
I'll post the changes require to adhere to #37199 today. I've already started on it.

[2019-10-07 18:03] davidsh commented on #41595
@dotnet/ncl

[2019-10-07 18:04] tannergooding commented on #26581
I can modify the original comment on any of these and you shouldn't need to worry about it 😄

I can also handle ensuring this gets a slot on the API review schedule, etc.

[2019-10-07 18:19] #24770 closed

[2019-10-07 18:25] stephentoub commented on #41588
Are you saying this difference occurs on the same application build on the same machine on the same OS on the same network, etc., and all you change is whether you run with .NET Core 2.1 vs .NET Core 3.0?

My experience matches that of @Tornhoof: there's likely actually a difference outside of the version of .NET that's causing DNS resolution to return an IPv6 address as the first result instead o

[2019-10-07 18:47] inmemorynet commented on #41588
Yes, I wanted to confirm, that the behaviour is happening in the same machine / os , and all I change is .Net Core 2.1 to .Net Core 3.0

[2019-10-07 18:49] lambdageek commented on #40740
I don't like it for all the same reasons that are listed as benefits. 😁
It's unclear exactly what it may do in the future.  If this is meant for advanced users, I think it's better to be specific.

---

I need to think about what functions with this attribute can do in Xamarin.iOS and Xamarin.Android - I think it's ok to extend the lifetimes of Java or Objective-C objects (if there's a way to do i

[2019-10-07 18:50] Tornhoof commented on #41588
A bit additional info (as I tried to figure this out before):
- For me this is reproducable with 2.1+ on current Win10 Desktops (and  Server) I think roughly since the 1903 update.
- I noticed it because some integration tests with TcpClients suddenly took close to two seconds longer (and with 500+ tests this was rather noticeable).
- I don't think it's .NET Core related, as I can reproduce it wit

[2019-10-07 19:01] AaronRobinsonMSFT commented on #40740
@lambdageek Thanks for the feedback.

This attribute has no impact on marshalling of types.

This attribute has no impact on `SetLastError=true`, those semantics are maintained.

[2019-10-07 19:04] jkotas commented on #40740
How do you define library?

[2019-10-07 19:11] TamarChristinaArm commented on #26581
`Extract` in this proposal uses the same name for the intrinsics as in #26183, there's no clash because the overloads are different but there are completely different intrinsics. Should this one instead be something like `ExtractVector`?

[2019-10-07 19:18] stephentoub commented on #39835
@Rodrigo-Andrade, can you please share a repro that manifests this?  I'm interested specifically in the headers you're setting.

[2019-10-07 19:32] vcsjones commented on #41602
The public key appears to be encoded as a SubjectPublicKeyInfo, while the private key appears to be encoded as a PKCS#1 [RSAPrivateKey][1]. Your public and private keys are encoded using two different formats.

The public key will import successfully using `ImportSubjectPublicKeyInfo`, which is also new in .NET Core 3.

[code]

[1]: https://tools.ietf.org/html/rfc3447#section-3.2

[2019-10-07 19:46] Rodrigo-Andrade commented on #39835
Sure, ill  try to make a repro later today.

[2019-10-07 19:48] stephentoub commented on #39835
Thanks.  Even just a list of key/value pairs would be fine.  I'd like to validate a potential fix.

[2019-10-07 20:05] euclid47 commented on #38579
Will the enhancement be released in 3.1?

[2019-10-07 20:20] tannergooding commented on #26581
I think `ExtractVector` makes sense, given my understanding of the API.

[2019-10-07 20:32] freefalling commented on #41396
Yes, I can confirm that it's working on 3.0. Is there any workaround for .NET Core 2.1?

[2019-10-07 20:35] delmyers opened #41608 "Tpl TaskWaitBegin always has "ContinueWithTask" set to 0 for synchronous continuations in dotnet Core 3"
**Repro steps:**
1) Execute the code below in a dotnet core app.
2) Execute the code below in a .NET framework app.
3) Compare the outputs.

**Expected:**
Outputs are the same

**Actual:**
Outputs are different

.NET framework output:
[code]
dotnet core output.
[code]

This seems to only occur for continuations that will run synchronously after the operations that they are awaiting. Here is the C#

[2019-10-07 20:44] delmyers commented on #41608
Note, this bug means that it is not really possible to do correct async causality chaining because the events don't tell you what continuation is going to run after an operation completes. You could potentially look-ahead to see what operation starts running on a thread after the wait completes, but what if multiple continuations are waiting on the same operation? You may not be able to reconstruc

[2019-10-07 20:50] tarekgh commented on #41608
CC @stephentoub

[2019-10-07 20:56] ViktorHofer opened #41610 "7 crypto cng tests are failing consistently in outerloop Windows"
Example build: https://dev.azure.com/dnceng/public/_build/results?buildId=378973&view=ms.vss-test-web.build-test-results-tab&runId=11676966&resultId=102557&paneView=debug

cc @bartonjs @krwq @GrabYourPitchforks

[2019-10-07 20:57] davidsh commented on #41610
@bartonjs

[2019-10-07 21:07] ViktorHofer commented on #40948
Happened again: https://dnceng.visualstudio.com/public/_build/results?buildId=380360&view=ms.vss-test-web.build-test-results-tab&runId=11756584&resultId=101242&paneView=debug

Disabling the test.

[2019-10-07 21:08] ViktorHofer commented on #40948
cc @maryamariyan

[2019-10-07 21:11] davidsh commented on #41588
FWIW, the implementation of Dns.GetHostAddressesAsync() changed from .NET Core 2.1 to .NET Core 3.0 on Windows.

[2019-10-07 21:13] ahsonkhan commented on #40704
You could specify your own `JavascriptEncoder` using the `Create` factory method for the language you need supported. This avoids having to use `UnsafeRelaxedJsonEscaping` which forgoes a lot of the default escaping behavior intended for defense-in-depth (which includes why characters outside the ascii range are escaped by default as well). The default escaping behavior that you are observing is b

[2019-10-07 21:14] andre-ss6 opened #41612 "Change JsonSerializer default settings"
Provide a way to change the default settings for the static `JsonSerializer` class. In Json.NET, you could do:

[code]

Currently you have to keep passing the options around and remembering to pass it to each call to `[De]Serialize`

[2019-10-07 21:16] danmosemsft commented on #41610
@krwq

[2019-10-07 21:17] danmosemsft commented on #41610
netcoreapp-Windows_NT-Release-x86-Windows.10.Amd64.ServerRS5.Open

[2019-10-07 21:19] ViktorHofer commented on #41610
Those tests are failing on multiple Windows configurations.

[2019-10-07 21:22] JeremyKuhne opened #41614 "API Proposal: Add file and directory creation methods that take an ACL"
### Summary

.NET ACL (Access Control List) support is Windows specific (`FileSecurity` and `DirectorySecurity`). We keep support in `System.IO.FileSystem.AccessControl` and do not have references to the ACL types in base `System.IO` types in .NET Core (e.g. `File`, `DirectoryInfo`, `FileStream`). We have extension methods in `System.IO.FileSystemAclExtensions` to get and set ACLs instead. We do n

[2019-10-07 21:27] mconnew commented on #41489
@davidsh, on the capture from Windows, it's using kRB5-NT-PRINCIPAL. Are you saying this isn't using SPNEGO? Or is this a limitation of gssapi on Linux?

[2019-10-07 21:28] carlossanlop commented on #41614
[code]
Why is this method defined as `void`, but the one for `this FileInfo` returns a `FileStream`? Should this one return something?
Also, one small nit: the parameter name is missing for `this DirectoryInfo`.

[2019-10-07 21:29] ViktorHofer opened #41618 "Crypto DecryptEnvelopedEmptyOctetString test crashes on CI"
Configuration: `netfx-Windows_NT-Release-x86-Windows.10.Amd64.ClientRS5.Open`

Dump is available: https://helix.dot.net/api/2019-06-17/jobs/948bbfd1-1a8d-4f80-98c7-87f70a914f20/workitems/System.Security.Cryptography.Pkcs.Tests/files/xunit.console.exe.6212.dmp

[code]

cc @bartonjs @krwq @GrabYourPitchforks

[2019-10-07 21:33] ViktorHofer opened #41619 "System.Net.Tests.AuthenticationManagerTest.CustomTargetNameDictionary_ValidCollection failed in CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=380511&view=ms.vss-test-web.build-test-results-tab&runId=11763518&paneView=debug&resultId=147963

Configuration: `netcoreapp-Windows_NT-Debug-x64-Windows.81.Amd64.Open`

[code]

cc @davidsh, @wfurt, @scalablecory, @eiriktsarpalis, @karelz
cc @stephentoub for another hang

[2019-10-07 21:35] davidsh commented on #41489
Windows is using SPNEGO. But it's always using that particular KRB5 principal format.  Windows actually doesn't do a real job of using SPNEGO to downgrade from Kerberos to NTLM. If you look at the Wireshark traces on Windows, you will see that Windows uses "raw" NTLM packets. It does NOT use SPNEGO wrapped NTLM packets. In some ways, that is a violation of the spirit of "Negotiate" protocol (SPNEG

[2019-10-07 21:40] stephentoub commented on #41588
That change was in 2.1.
https://github.com/dotnet/corefx/pull/26850

[2019-10-07 21:40] safern commented on #41077
Thanks, @Simon-IT, unfortunately the fix was incomplete and was not done for built-in cmake targets, like `install` target (which is the one we're hitting it on). The issue I linked above, was re-opened and assigned a 3.16.0 milestone, so we will have to wait until a new fix, unfortunately :cry:

[2019-10-07 21:42] TamarChristinaArm commented on #26581
new list below

changes:

* drop `Multiply` (already implemented in #26183)
* rename `Extract` to `ExtractVector`
* expand `AddPairwise` away from generics
* expand `ExtractVector` away from generics
* drop unsupported `MaxNumericAcross` overloads
* remove `FRECPX` as that has no vector versions

I believe this is the full rewritten list, I've asked a question internally about `MLA` and will updat

[2019-10-07 21:46] Rodrigo-Andrade commented on #39835
repro is here: https://github.com/Rodrigo-Andrade/HeaderParsingRepro

this is how the tracing looks like:

![image](https://user-images.githubusercontent.com/1174384/66350835-abb65280-e932-11e9-92b9-f2d2ca9e20a8.png)

[2019-10-07 21:51] scalablecory commented on #41595
Would this still be usable if it were less configurable? What do we get by exposing the LZ77 window size?

[2019-10-07 21:59] davidsh commented on #41619
Test is here:
https://github.com/dotnet/corefx/blob/89b087ba5548338bb604db4e1cca0e42f8273e2b/src/System.Net.Requests/tests/AuthenticationManagerTest.cs#L86-L105

[2019-10-07 22:00] davidsh commented on #41619
This test doesn't even use any I/O!

My guess is that it is hanging due to bugs(?) with RemoteExecutor or perhaps the CI machine is way too busy for dispatch a new process to run the RemoteExecutor.

[2019-10-07 22:04] stephentoub commented on #41619
I'm fairly sure it's neither.  It looks like a hang in Environment.Exit.  This has been happening with some frequency in CI over the past week at least.
[code]

[2019-10-07 22:04] stephentoub commented on #41619
@ViktorHofer, this isn't specific to this particular test.

[2019-10-07 22:05] JamesNK opened #41621 "Consider supporting h2c without AppContext switch"
Today users must set an AppContext switch to be able to use h2c (HTTP/2 without TLS) with HttpClient. This switch was added in .NET Core 3.0 to make it easier to debug the content of HttpClient traffic by having it sent without TLS.

[code]

This setting has turned out to be very useful, and has a lot of legitimate uses outside of just debugging, and I think HttpClient should support h2c without s

[2019-10-07 22:07] ViktorHofer commented on #41619
Do you suggest to close the issue? Do we have a tracking issue for the Environment.Exit hang?

[2019-10-07 22:09] JeremyKuhne commented on #41614
Because you're passing in the `DirectoryInfo`, which would be what was passed back anyway. `DirectoryInfo.Create` doesn't return anything.

[2019-10-07 22:14] stephentoub commented on #41619
I don't know if we have an issue for it.  Assuming we don't, I suggest just re-appropriating this for that.

[2019-10-07 22:17] ViktorHofer commented on #41619
cc @jkotas

[2019-10-07 22:18] Clockwork-Muse commented on #41611
Side note: `DateTime.Now` may not be what you want.  Among other things, `DateTime.Now.AddHours(-11)` _will return results you likely don't expect around Daylight Savings Time_, because no BCL type is timezone aware; at `2019-11-02 23:00:00` the result will be `2019-11-03 10:00:00`, not `2019-11-03 09:00:00` as you probably want.

Note that, in a number of timezones, midnight (`00:00:00`/`12:00:00

[2019-10-07 22:22] terrajobst commented on #41614
The one thing that is odd is that you have to go through the info classes.

What pattern would we use for other entities, such as threading primitives?

[2019-10-07 22:23] avparuch opened #41622 "Kestrel support for Client negotiation on a per hostname basis."
Hello,

Our service is a reverse proxy running on IIS (on top of HttpSys). We are moving to .NET core and while running on Kestrel, ran into a scenario blocker with client certificates.

In our current application, we use HttpSys APIs to configure client certificate negotiation per hostname and also to set up CTL stores.

The specific API we use is : https://docs.microsoft.com/en-us/windows/win32/

[2019-10-07 22:27] ahsonkhan commented on #41612
Can you expand on why that is a concern for you and what scenario is blocked by the current design (preferably with some sample code)?

Given the `JsonSerializer` is a static class containing purely static methods, it doesn't contain any state atm. Providing rationale for why this needs to change would help motivate it (other than the fact that `Json.NET` has this behavior) since it does introduce

[2019-10-07 22:29] davidsh commented on #41622
@Tratcher This issue should be moved to aspnetcore repo.

[2019-10-07 22:33] tarekgh commented on #41611
I think @ftlsoft  is just confused about what is the expect behavior. Here is some clarification.

- When calling DateTime.Date, it strip the time value and reset it to 0 which would be 12:00 AM.
- When calling DateTime.ToString() it will print the DateTime parts that include the Date and the Time.
- Doing DateTime.Date.ToString will print whatever date stored inside the datetime and will print 12

[2019-10-07 22:33] #41611 closed

[2019-10-07 22:34] davidfowl commented on #41622
@davidsh Seems like this would require an SSLStream change?

[2019-10-07 22:39] geoffkizer commented on #41621
Do you want "real" h2c support, as defined in the RFC? Or do you just want a way to turn on Http2UnencryptedSupport without AppContext?

Real h2c support, as defined in the RFC, is a bit of a pain to support: https://http2.github.io/http2-spec/#discover-http

If all we really care about is enabling dev scenarios, then we could just add Http2UnencryptedSupport as a property on HttpClientHandler. We

[2019-10-07 22:43] karelz commented on #31034
The callstack does not look very actionable.
Are you able to gather some actionable info from existing traces? Are you in position to deploy custom tracing (custom build), etc.?

[2019-10-07 22:46] shirhatti commented on #41621
Just support for prior-knowledge unencrypted HTTP/2 which is what the context switch does today. https://http2.github.io/http2-spec/#rfc.section.3.4

[2019-10-07 22:46] JamesNK commented on #41621
My perspective is from working with gRPC, where the client will always have prior knowledge of HTTP/2.

[2019-10-07 22:52] Tratcher commented on #41622
@davidsh they're asking to be able to reconfigure the SslServerAuthenticationOptions from inside the ServerCertificateSelectionCallback based on the given SNI host name.

I've heard a similar request asking to be able to enable/disable TLS versions based on the SNI data.

[2019-10-07 22:52] JamesNK commented on #41621
This would definitely be an improvement. A gRPC channel is usually just created with an address - `http://localhost:5001`. When we create the HttpClient for the channel we can look at the address and set `HttpClientHandler.Http2UnencryptedSupport` to true for a http address.

People who pass an existing HttpClient to the channel will still need to think about this, but they probably power users wi

[2019-10-07 22:55] geoffkizer commented on #41621
Makes sense. That's easy enough to do. Mostly we just need a good name for the property...

[2019-10-07 23:00] JeremyKuhne commented on #31488
Closing in favor of #41614.

[2019-10-07 23:00] #31488 closed

[2019-10-07 23:03] scalablecory commented on #41621
This would also help save some TLS overhead for internal microservices.

[2019-10-07 23:07] jkotas commented on #41614
It may be a good idea to use more general name for this, e.g. AccessControlExtensions, so that the threading primitives can live in it as well.

[2019-10-07 23:10] #39211 closed

[2019-10-07 23:16] JeremyKuhne commented on #41614
@terrajobst We could also add a new static class here I suppose, but I can't think of a great name for it or think of how that would grow. We could also add these methods to `FileSecurity` and `DirectorySecurity` but I'm unclear on how we'd technically manage that for .NET Standard and the existing type forwards (just my ignorance here).

What we really need are static class extension methods. ;)

[2019-10-07 23:21] jkotas commented on #39497
Likely dup of https://github.com/dotnet/corefx/issues/41619

[2019-10-07 23:28] JeremyKuhne commented on #41614
Are you talking about synchronization stuff? (`MutexSecurity`, etc.)

[2019-10-07 23:37] nguerrera commented on #41614
https://github.com/dotnet/corefx/issues/33719 was closed against https://github.com/dotnet/corefx/issues/31488, which was then closed against this.

Does this cover the case of using existing .NET Framework libs that call the API in their original location in .NET Framework? If not, then either #33719 should be re-opened or at least a comment added there that in fact that is being closed as won't

[2019-10-08 00:08] ahsonkhan commented on #41591
These types of issues occur whenever you have mismatched/out-dated bits. Can you please retry with .NET Core 3.0 GA?
https://dotnet.microsoft.com/download/dotnet-core/3.0

[2019-10-08 00:11] Wraith2 commented on #41544
Just a note, any method that throws is ineligible for inlining. This is why you'll often see dedicated throwing methods in corefx.

[2019-10-08 00:13] scalablecory commented on #41544
I don't believe this is true anymore.

[2019-10-08 00:17] scalablecory commented on #37122
@krwq why couldn't we support it? the support contract here is very minimal "we aren't managing platform for you, we just forward the params to interop layer".

[2019-10-08 00:17] JeremyKuhne commented on #41614
No, it does not. Thanks for pointing that out.

[2019-10-08 00:20] scalablecory commented on #41586
We don't have this option. I don't know if we want to add it, as there is (to my knowledge) no similar Windows option.

For now, you can get the socket from `Socket.SafeHandle` and P/Invoke `setsockopt`. https://github.com/dotnet/corefx/issues/37122 may provide an alternate option in the future.

[2019-10-08 00:20] JeremyKuhne commented on #33719
The type closure that would need to go down to CoreLib (with `FileStream`) is broader than we want, so we're not planning to add back the previous API, but we intend to add replacements with #41614.

[2019-10-08 00:23] davidsh commented on #41622
I've heard a similar request asking to be able to enable/disable TLS versions based on the SNI data.

Thanks for clarifying. Would this be an API change to SslServerAuthenticationOptions or perhaps just a behavior change of some kind, triggered by an perhaps a new opt-in SslStream-related property?

This needs some design work.

[2019-10-08 00:29] nguerrera commented on #33719
So just to reiterate: This issue will not be fixed. Existing .NET Framework libraries that call these API need to be recompiled to work on Core or there will be MissingMethodExceptions as reported here.

[2019-10-08 00:49] danmosemsft commented on #41544
@AndyAyersMS can speak to this, but my assumption is that the "throwing" part may no longer be an issue but instantiating an exception requires a fair bit of IL and that can make the method too large to inline.

[2019-10-08 01:30] danmosemsft commented on #40948
Looking at the code it's not obvious how this could happen. Would probably need to step through it to make sure it's clear what's going on.

[2019-10-08 01:52] ahsonkhan commented on #40405
@Rauce, can you please file a separate issue for this so we can track and fix the issue you are observing Thanks!

[2019-10-08 01:54] ahsonkhan commented on #40405
@layomia - can you take a look at this:

[2019-10-08 02:24] ahsonkhan commented on #41176
Not at the moment, @marcnet80.
Would you like to work on this bug?

[2019-10-08 03:07] Tratcher commented on #41622
We'd have to experiment. ServerCertificateSelectionCallback passes in the SslStream as an `object`, casting that isn't too hard. From there I anticipate adding an API to surface the SslServerAuthenticationOptions, as well as some behavioral changes to delay reading as many of the settings from the options until after the callback. E.g. TLS version, client certs, etc..

[2019-10-08 03:31] MaddoxDevelopment opened #41628 "Allow circular reference support for the new dotnet core 3 json api's"
The new System.Text.Json API's do not support ignoring circular references while serializing.
This is an issue because EF Core produces circular references by default when using navigation properties.

This results in an exception being thrown when you serialize a result set from EF Core.

[2019-10-08 03:59] danmosemsft commented on #41619
@stephentoub from the stack above, it seems you have a dump?

Presumably this would be a bug in the runtime, as that's all Environment.Exit calls.

[2019-10-08 06:30] sheryever commented on #38007
In our many many applications we are controlling the fields of data from the stored procedures and dynamically render the List and Search List pages with jquery.jtable

Without JsonSerializer built-in support for ExpandoObject we cannot use dotnet core built-in Json Serialization

[2019-10-08 06:41] marcnet80 commented on #41176
@ahsonkhan, yes, please assign me.
Thank you.

[2019-10-08 06:48] #41602 closed

[2019-10-08 06:56] scalablecory commented on #41518
Do you have data on where these other formats are used and how common they are? I know that 00-11-22-33-44-55 is the standard format, 001122334455 is used in some parts of Windows, 00:11:22:33:44:55 is used in ifconfig.

[2019-10-08 07:07] am11 opened #41629 "URL and filename safe base64 encoding"
### Summary

The requirement of URL and filename safe alphabets in base64 strings is common in many applications that deal with resources over the network, not limited to web applications. Existing base64 encoding APIs do not provide option to encode in safe alphabets, forcing consumer to manually replace characters before after the decoding and encoding operations respectively. Therefore, extendi

[2019-10-08 07:24] am11 commented on #41518
I do not have usage data but period-separated MAC address format is recognized by Cisco.

[2019-10-08 07:35] iSazonov commented on #41518
@scalablecory Yes, you also could look how Cisco format MACs. We can not ignore formats from the dominant networking vendor. Also HP, see https://techhub.hpe.com/eginfolib/networking/docs/switches/RA/15-18/5998-8151_ra_2620_asg/content/ch03s07.html

[2019-10-08 07:36] martin-pes commented on #41031
I would say this is because TimeSpan serialization is not supported - #38641.
Ran into the same problem.

[2019-10-08 08:23] AndersMalmgren commented on #41253
@karelz The SSL error just surfaced, but only for the post endpoint. The get request to https://github.com did go through. Both requests happened within a few milliseconds in the same appdomain right after eachother.

I have contacted the supplier of my endpoint, but they have not found anything wrong on their side.  I will try posting to a ssl endpoint and see if I can repro

[2019-10-08 08:25] davidfowl opened #41630 "FileSystemWatcher leaks when EnableRaisingEvents set"
Related to #41321 (at least this was found while debugging the same issue). Creating a `FileSystemWatcher` and `EnableRaisingEvents` set to true will root the `FileSystemWatcher` instance by the handle table.

We had a customer creating a `FileSystemWatcher` per request (indirectly) in an ASP.NET Core and it lead to a memory leak.

[code]

[2019-10-08 09:22] #15460 closed

[2019-10-08 11:00] Simon-IT commented on #41077
Thanks @safern for the support...

[2019-10-08 11:20] DavidOwenBailey commented on #41369
From experience, using MEF in .NET Framework appears to provide exactly this level op plugin isolation. I recently created a test where I load different versions of the same plugin, each plugin version, in turn, using different versions of a core dependency shared between the plugin and the host application without any issues.

Host App -> Plugin V1 -> Core Dependency V1
                -> Plugin

[2019-10-08 12:11] am11 commented on #41598
Minimal steps to repro: https://dotnetfiddle.net/hdhEDG. Toggle comments on line 10 and 11; it works with `get => null;` and throws with `get => Array.Empty<string>();`

[2019-10-08 12:28] los93sol commented on #41586
I don’t have an immediate need for this, but imagine a machine with multiple NICs where they’re connected to different networks and you have to go out a specific interface to reach the correct endpoint, what is the recommended way to send the request in that scenario?

[2019-10-08 12:31] clintnetwork commented on #41586
I think it's important to implement this feature or a way to make a TCP connection through an existent network adapter!

[2019-10-08 12:35] Gnbrkm41 commented on #395
Still working on this; Just wondering, can anyone point me to any reliable string hashing algorithms? making it to compare different representations of strings equal would mean that I'd have to implement another hashing algorithm for it instead of using existing ones.

[2019-10-08 12:36] cedemax opened #41633 "Support for [JsonObject(MemberSerialization.OptIn)] attribute"
Newtonsoft.Json supports a convenient way to serialize certain types of classes using attributes only, by specifying the [JsonObject(MemberSerialization.OptIn)] attribute on the class, and then picking the desired properties to serialize using the [JsonProperty] attribute on the. This does not seem to be supported yet?

Is there a viable workaround other than writing custom converters for all thos

[2019-10-08 12:45] am11 commented on #41586
Seems like Windows too have `setsockopt` in `Winsock.h`: https://docs.microsoft.com/en-us/windows/win32/api/winsock/nf-winsock-setsockopt.

[2019-10-08 12:47] jaymins93 commented on #41520
my bad you are correct there is no string constructor I really mean converting string value to int and passing the int values to the date time the same values which are equivalent to out variable value fails to perform the comparison .

below is the code for the same
 //val = {04-10-2019 08-26-44}
 string [] s = vals.Split('-');

                            DateTime dtcomp = new DateTime(Convert.T

[2019-10-08 12:48] pc-tradelab commented on #41591
ok thanks i was using: `microsoft/dotnet:3.0-aspnetcore-runtime` which seems outdated. I am using now the official `mcr.microsoft.com/dotnet/core/aspnet:3.0`

[2019-10-08 12:54] jaymins93 commented on #41520
if I use date time ctor with int values converted from string and using new date time object to compare values generated from ctor values works fine this is how I used it as temp. work around but I strongly feel that this is unexpected behavior and should be fixed so I opened issue

[2019-10-08 12:55] stephentoub commented on #41586
@am11, he wasn't saying that setsockopt isn't available, he was saying that Windows doesn't have an equivalent to SO_BINDTODEVICE.

Can you just Bind to the IP address associated with the desired NIC?

Alternatively you can do what @scalablecory suggested and P/Invoke to setsockopt to set the relevant option.

While in an ideal world every option would be available everywhere, at this layer of the

[2019-10-08 12:56] stephentoub commented on #41621
If the cost of accessing a [ThreadStatic] is showing up when establishing a TCP connection, we have bigger problems ;)

[2019-10-08 13:04] stephentoub commented on #41619
No.  You can see the same text in the message Viktor pasted in his initial post, just not as nicely formatted.  A while back I augmented RemoteInvoke to (on Windows) use clrmd to attach to the child process and walk/print out the child stacks just before RemoteInvoke terminates it; that's what this is showing.  A dump is not getting created/uploaded for the child process.  According to the infrast

[2019-10-08 13:24] stephentoub commented on #40948
It most likely has to do with:
https://github.com/dotnet/corefx/blob/b49a8a9be1d53cd9e50cb68fd8540be25c65d433/src/System.ComponentModel.TypeConverter/src/System/ComponentModel/MemberDescriptor.cs#L26
This gets compared to a mutable static here:
https://github.com/dotnet/corefx/blob/b49a8a9be1d53cd9e50cb68fd8540be25c65d433/src/System.ComponentModel.TypeConverter/src/System/ComponentModel/MemberDesc

[2019-10-08 13:39] bartonjs commented on #41629
FWIW, the X.509 OCSP isn't "encode base64url", it's "urlencode base64", per https://tools.ietf.org/html/rfc6960#appendix-A.

[2019-10-08 14:15] khteh opened #41646 ".Net Core 3.0 TimeSpan (de)serialization error"
I am using .Net Core 3.0 and have the following string which I need to deserialize with Newtonsoft.Json:
[code]
and bump into the following error:
[code]
The error string actually happens when reading the content of HttpResponseMessage:
[code]
The server controller method returns:
[code]
https://stackoverflow.com/questions/58283761/net-core-3-0-timespan-deserialization-error

[2019-10-08 14:39] AndyAyersMS commented on #41544
By default the jit won't inline small methods like throw helpers that unconditionally (directly) throw because there is generally no benefit to such an inline.

Methods that conditionally throw can be inlined, subject to other heuristics. Methods that directly throw will be inlined if marked with `AggressiveInlining`.

The throw helper pattern you see in corefx/coreclr helps to reduce overall code

[2019-10-08 14:39] filipnavara opened #41635 "SafeWaitHandle tests run finalizer with invalid values"
Originally reported as https://github.com/mono/mono/issues/17224.

At least one SafeWaitHandle test constructs the `SafeWaitHandle` object with invalid handle value:

https://github.com/dotnet/corefx/blob/95e35e10d7c52a7eea38c2ae6402d29e2a01efc6/src/System.Runtime.Handles/tests/SafeWaitHandle.cs#L19-L25

The `SafeWaitHandle` is left in this invalid state and when the finalizer runs the `ReleaseHan

[2019-10-08 14:52] vishal868 commented on #31034
We don't have process dumps at the moment but sharing the screenshot from event log, if that could be useful.

![image](https://user-images.githubusercontent.com/13557474/66406524-0d86c300-e9ec-11e9-8eae-64cb6e41fdf4.png)

[2019-10-08 15:10] Tratcher commented on #31034
`handshake_failure(40)`. That's a very generic failure.

[2019-10-08 15:21] richlander commented on #41038
Yes. We will need to do this several more times with 2.1. Expect us to ask at least every 6 months to adopt a new Alpine.

[2019-10-08 15:22] richlander commented on #41038
Do we need a new RID? Thought we just used `linux-musl`.

[2019-10-08 15:31] Zenexer commented on #41383
@ahsonkhan I have no requirements; I just find it odd and confusing that the default isn't public.  What is that trying to tell me?  Should I be avoiding the default?  Is there something wrong with the default?  It's unintuitive.

[2019-10-08 15:41] MichaelSimons commented on #41038
In the past we have always had version specific rids.  It appears that the rid changes were already made sometime ago - https://github.com/dotnet/corefx/commit/ad0128498892bfbb36f0ac4310e80d80e59d0bca

[2019-10-08 15:44] richlander commented on #41038
I see ... so we have both the general ones and the specific ones? I didn't know that. I always use the general one (like `linux-musl-x64`), but I can see the role for the specific ones.

[2019-10-08 15:54] andre-ss6 commented on #41612
JSON properties are conventionally `camelCase`. .NET type's members, on the other hand, are conventionally `PascalCase`. I don't really don't want to stray away from any of these two conventions.

The solutions today, as far as I'm aware, all involve passing things around:

1) You can annotate every single property in your project with `JsonPropertyNameAttribute`. This is not nice, convenient or e

[2019-10-08 15:57] karelz commented on #41253
I would try the same repro against the "bad" endpoint to see if the small repro is even capable to reproduce the problem.
Another avenue is to try to look at Wireshark traces to see what is going on ...

[2019-10-08 16:06] ViktorHofer commented on #29742
The test that was originally reported in the top post is still failing: https://dev.azure.com/dnceng/public/_build/results?buildId=381275&view=ms.vss-test-web.build-test-results-tab&runId=11789792&resultId=174544&paneView=debug

Configuration: `netcoreapp-Windows_NT-Debug-x64-Windows.10.Amd64.Client19H1.ES.Open`

[code]

@stephentoub I see that you are tracking a different disabled test than the o

[2019-10-08 16:07] #35491 closed

[2019-10-08 16:07] mrlund opened #41638 "Huge performance degradation using System.Text.Json to serialize a model with an Object type property"
I've been troubleshooting some performance issues that came up during a core 2.2 -> 3.0 upgrade, and was stumped why a particular ASP.NET Core API endpoint showed terrible performance compared to the others.

After countless hours I finally discovered the cause; the model being serialized contained a child class, with a collection property that was simply defined with type Object, i.e. what should

[2019-10-08 16:22] davidfowl commented on #38143
@GrabYourPitchforks any comments on these APIs?

[2019-10-08 16:28] tarekgh commented on #395
@Gnbrkm41 why you need a new hashing algorithm? why can't using whatever used today in the string comparers?

[2019-10-08 16:38] Clockwork-Muse commented on #41520
Code doesn't work: the split actually produces `04|10|2019 08|26|44` (that is, year and hour are in the same string).  This causes both a conversion error (since there's a space in the string), and would cause a index-out-of-bounds error if it could get that far.

Please substitute an updated value in `dateTimeString` and run the code I posted earlier - it will help us figure out what the issue is

[2019-10-08 16:39] Gnbrkm41 commented on #395
For example, if I were to treat "11" and "0011" equal with the comparer, it should produce the same hashcode, no? None of the existing comparers do that.

If I were to do that myself with the ordinal numeric comparer that I'll have to implement myself, it doesn't look like I can reuse current implementations of existing comparers. the `Ordinal/OrdinalIgnoreCase` comparers seem to use Marvin implem

[2019-10-08 16:45] tarekgh commented on #395
When you enable the NumericOrder option through the underlying native OS APIs (ICU or NLS), then the hashing should automatically work without need to do anything. I agree this will need to do more work for ordinal cases as you pointed. That is why I previously mentioned https://github.com/dotnet/corefx/issues/395#issuecomment-525974010 we need to rethink about the current proposed design as it ca

[2019-10-08 16:48] zlatanov commented on #41595
@scalablecory The websocket would be very usable without it, but servers with high number of concurrent connections or clients with low memory requirements will have problems with any defaults we come up with.

The websocket will have to keep 2 separate native memory buffers for inflate and deflate. I've collected benchmark traces for both with the different options to illustrate the point.

Here

[2019-10-08 16:49] AndersMalmgren commented on #41253
Core 2.2 for now, will upgrade to core 3 at sole point.

[2019-10-08 16:52] AndersMalmgren commented on #41253
Im trying to reproduce with different endpoint from our actual code base withoit success sofar. I'm right now running outside of azure and service fabric against the actual endpoint to see if I can repro, if I can't it must be a combo of azure and service fabric

[2019-10-08 17:22] jkotalik commented on #16040
In Kestrel, we have a class which does path normalization, which has similar concerns to Unescaping. May give some inspiration for ways to improve the perf of UnescapeDataString: https://github.com/aspnet/AspNetCore/blob/master/src/Servers/Kestrel/Core/src/Internal/Http/PathNormalizer.cs

[2019-10-08 17:23] Tornhoof opened #41642 "Async XmlWriter is calling sync Stream Write/Flush"
### Describe the bug
I originally opened the bug in ASPNET repo https://github.com/aspnet/AspNetCore/issues/14811. In ASP.NET Core 3.x it is not possible to directly write data into a HTTP Response, because SyncIO is now disabled by default.
**Unfortunately, even if the user does not do any sync calls (see repo below), the code in corefx does sync calls on closing the writer.**

https://github.com

[2019-10-08 17:29] karelz commented on #32301
We had troubles to reproduce the same symptoms. @fredeil can you please ping me directly on gitter, Twitter, or via email? (see my GH profile for contacts) Thanks!

[2019-10-08 17:33] hareshambaliya commented on #33774
@stephentoub Can I take System.DirectoryServices.AccountManagement?

I have questions too.
- What is `SafeNativeMethods` and `UnsafeNativeMethods`

[2019-10-08 17:40] Symbai commented on #41633
Dupe of #39277

[2019-10-08 17:41] cedemax opened #41644 "NullReferenceException when Deserializing with null PropertyNamingPolicy option"
Deserializing a complex object (I could not replicate the error with a dummy object) with a null PropertyNamingPolicy throws NullReferenceException.

My code :
[code]
Stack trace:

[code]

The jsonString
[code]

The type it maps to has a lot of code so I won't be posting it here. The deserialization 'works', but everything is null after deserialization when using JsonNamingPolicy.CamelCase.
If usi

[2019-10-08 17:42] Varorbc opened #41645 "Http/2 support for HttpWebRequest"
Http/2 has been supported in HttpClient. The underlying implementation of HttpWebRequest is HttpClient. However, HttpWebRequest does not support Http/2.

https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0/

![image](https://user-images.githubusercontent.com/5714438/66382556-052f8780-e9ee-11e9-852c-e704c516b1b9.png)

https://github.com/dotnet/corefx/blob/5ad15fcb189a9c232051d03c1e889f985

[2019-10-08 17:48] davidsh commented on #41645
cc: @stephentoub

Looks like some code changes were missed in HttpWebRequest.cs for .NET Core 3.0.  We simply have to allow HttpVersion.Version20 to be set.

[2019-10-08 17:51] nabeelvalley commented on #35189
Hi @danmosemsft , thanks, I've taken a look and it seems a bit out of my depth at the moment, but I will look at what else is around

[2019-10-08 17:55] scalablecory commented on #41645
This is a legacy class; the effort seems low here, but I wonder what the bar is for enhancements to `HttpWebRequest`.

[2019-10-08 17:59] scalablecory commented on #41642
Any reason to not implement `IAsyncDisposable`?

[2019-10-08 18:02] scalablecory commented on #41629
@dotnet/ncl

[2019-10-08 18:06] #40544 closed

[2019-10-08 18:07] scalablecory commented on #41629
ASP.NET already has this implemented, so the question to me is how much value does this bring to non-ASP.NET apps?

[2019-10-08 18:29] krwq commented on #29660
I'll start looking into this now. Note I will need to do some more reading before I make any progress since I'm not too familiar with implementation details

[2019-10-08 18:33] #41635 closed

[2019-10-08 18:46] #19408 closed

[2019-10-08 19:12] cocowalla commented on #29660
@krwq I have a non-spanified, "pure" RFC implementation I can share if you'd like - it's simple and documented referencing the RFC.

[2019-10-08 19:14] gfoidl commented on #41629
If this should go into .NET these apis should be added to `System.Buffers.Text.Base64` or to a new `System.Buffers.Text.Base64Url`.

---

Side note to

Disclaimer: I'm the author of https://github.com/gfoidl/Base64, which allows base64Url encoding / decoding (in the meaning of ASP.NET Core's usage) in a direct way (and not via replacements).
This project started as residue of my work on `WebEncode

[2019-10-08 19:31] steveharter commented on #40120
Setting milestone to 5.0 for consideration (what if any of the above examples should work by default).

[2019-10-08 19:39] steveharter commented on #41348
Here's a sample for `ISerializable` : https://github.com/steveharter/dotnet_corefx/tree/ISerializable.

It is going to be slow if benchmarked -- I haven't optimized anything and in order to get high performance there are some loosely-typed APIs that the base converter types should add (that don't use generics) or it should be built-in and not a custom converter.

Also for primitives the JSON forma

[2019-10-08 19:49] stkash opened #41649 "Creating custom TimeZoneInfo from existing TimeZoneInfo in Ubuntu fails"
I was trying to create custom time zones from the time zones returned by `TimeZoneInfo.GetSystemTimeZones()` in Ubuntu. I got "System.InvalidTimeZoneException: The elements of the AdjustmentRule array must be in chronological order and must not overlap." exception.

This is the simplified version of my code:
[code]

I see two potential problems:
1. In Windows `AdjustmentRule.DateStart` of the next

[2019-10-08 19:50] krwq commented on #29660
@cocowalla if you already have it feel free to go ahead and create a PR (mark it as a draft since there was no API review yet). Once I catch up with the details I'll help with the API review and possibly with finish up if needed.

[2019-10-08 20:17] JamesNK opened #41650 "HTTP2: Drawbacks of setting HttpClient.Timeout = Timeout.InfiniteTimespan?"
Query for HttpClient folks:

gRPC can have long running streaming calls. A streaming call might not return any response for over 100 seconds, which then triggers a cancellation based on `HttpClient.Timeout`.

I am considering setting `HttpClient.Timeout` to `Timeout.InfiniteTimespan` when the gRPC channel's internal HttpClient is created. What drawbacks to this that I should be aware of? Is this r

[2019-10-08 20:22] geoffkizer commented on #41650
Seems like a reasonable thing to do.

[2019-10-08 20:24] karelz commented on #38882
Triage:
We didn't get response on info about local settings.
It seems like it is a bad config, or something specific which we can;t diagnose without additional info.
Closing for now, feel free to reopen if there is more info available.

[2019-10-08 20:24] #38882 closed

[2019-10-08 20:24] tedekeroth commented on #11463
I know this is some 3 years later, and this is closed, but: AqlaSolutions is completely correct. It is very error-prone these days when trying to adopt the TPL. Using .Result is for most people OK to use, not understanding that it will eventually break your application.

That this design passed through the .NET team is beyond me...

[2019-10-08 20:25] karelz commented on #38919
Triage: We plan to remove curlhandler in 5.0, no need to track this anymore. Closing.

[2019-10-08 20:25] #38919 closed

[2019-10-08 20:26] karelz commented on #38836
Triage: Looks like a bug in WinHttpHandler (probably a race condition).

[2019-10-08 20:35] karelz commented on #38630
Triage: We should create a new setting or something like that (likely not API). Bonus: Use same switch name as .NET Framework has.
It will match .NET Framework and also browsers behavior (which @scalablecory tried).

In this specific case we should either ignore the line with date without header name (likely what .NET Framework does) or use the text prior to column ':' as key and the rest as value

[2019-10-08 20:36] cocowalla commented on #29660
@krwq done, #41651!

[2019-10-08 20:37] TamarChristinaArm commented on #26581
alright, that should be the final list.

[2019-10-08 20:38] karelz commented on #37628
Triage: Differences in WinRT cookies and handling and .NET cookie handling (we already have tons of special code to handle differences).

[2019-10-08 20:41] karelz commented on #37598
Triage: We cannot make the private key in per-user certificate store work easily. The fallback is to use the WinRT APIs directly. Closing.

[2019-10-08 20:41] #37598 closed

[2019-10-08 20:45] Cronan opened #41652 "AuthenticationException in Centos 7 using WCF from .NET Core 2.1.13"
**Describe the bug**
I use the WCF client from .NET Core to access Windows WCF services from Linux.
Everything works correctly using .NET Core 2.1.3

Upgrading to 2.1.13 results in the exception below when calling the WCF client.
I also see the same problem with .NET Core 2.2 latest or 3.0 latest.

**Expected behavior**
I use the WCF client from .NET Core to access Windows WCF services from Linux.

[2019-10-08 20:46] karelz commented on #37000
Triage: As stated above, it would be a breaking change, going against RFC.
As next best step we should document the behavior.

[2019-10-08 20:50] mconnew commented on #41652
Moved to corefx repo as this isn't a bug/change introduced in WCF code. @davidsh, are you aware of any changes in NegotiateStream between 2.1.3 and 2.1.13 which would have caused this?
@Cronan, if this works with 2.1.3 on the same host, then that should rule out any problems with kinit. I also wouldn't expect an error saying it couldn't find the server in the database if there was a problem with k

[2019-10-08 20:52] karelz commented on #36932
Triage: We don't fully understand the purpose of this proposal.
Is it about being dependency injection friendly? Or what else does it bring to large number of users of `HttpClient` and friends?

[2019-10-08 20:58] tarekgh commented on #41649
This is duplicate of https://github.com/dotnet/corefx/issues/17120 so closing this one. If you adding more comments related to this issue, please added it to the linked issue instead. Thanks for reporting the issue.

[2019-10-08 20:58] #41649 closed

[2019-10-08 21:04] karelz commented on #36555
Triage: We need to decide what happens if dev sets HTTP/2 version AND uses custom ALPN list (without "h2").
We can either use only custom ALPN list, or use only "h2" and ignore custom ALPN list, or add "h2" into the custom ALPN list to be sent out.

[2019-10-08 21:06] RandomGHUser commented on #40120
Deserialization also seems to map generic object types to JsonDocument rather than their normal (primitive?) types.

Example:

[code]
SystemTextJson[0]["id"] shows as: ValueKind = Number : "86"
NewtonSoftJson[0]["id"] shows as: 86

[2019-10-08 21:06] karelz commented on #36221
Triage: Looks like we do not have actionable info. Closing.
Feel free to reopen if there is something actionable.

[2019-10-08 21:06] #36221 closed

[2019-10-08 21:08] karelz commented on #36119
Triage: We should match .NET Framework in cases where RFC is not clear.

[2019-10-08 21:09] collinsauve commented on #36932
The core desire here is to:
1. Allow request transformations on HttpClients similar to `BaseAddress`, `DefaultRequestHeaders` **without mutating the HttpClient itself**.
2. Hide the lifecycle method (`Dispose`) from the code that is using it to make the request.  As linked above the proper way to manage the lifecycle of HttpClients is not intuitive in the contract.   In a larger development team t

[2019-10-08 21:09] Cronan commented on #41652
Thanks for the reply, and thanks for moving it to the correct place.
Yes, I’ve tested this on several hosts, both docker containers and Linux headnodes, and the behaviour is consistent.
Let me know right away if there’s anything I can provide to help diagnose the issue.

[2019-10-08 21:09] karelz commented on #35838
Triage: Will go away with removal of CurlHandler in 5.0.

[2019-10-08 21:09] #35838 closed

[2019-10-08 21:12] karelz commented on #35769
Triage: Unclear if this happens in practice. Closing for now. If it happens in real-world scenario, we can revisit the decision.

[2019-10-08 21:12] #35769 closed

[2019-10-08 21:14] karelz commented on #35505
Triage: It looks like server closed the connection.
To make it actionable we need either a repro, or traces. Trying out 3.0 might be good first step.
Closing for now, we can reopen when there is tracing (Wireshark) or repro available.

[2019-10-08 21:14] #35505 closed

[2019-10-08 21:16] karelz commented on #35445
Triage: We made lots of sockets changes on 3.0. There is a chance this is address. Can you please try it on 3.0?

[2019-10-08 21:19] karelz commented on #35391
Triage: We started working on perf work already. We will make more changes in 5.0.
If there is anything specific that you think we should look at, please let us know and let's file concrete issues to discuss those options.
Thanks @stevejgordon!

[2019-10-08 21:19] #35391 closed

[2019-10-08 21:19] AqlaSolutions commented on #11463
@alexperovich @tedekeroth actually my specific proposal is prioritizing Task continuations to be executed before others queued in ThreadPool. Because async code is usually waited by someone it's better to continue instead of using resources on other tasks. Or it may be even better to detect Tasks which are blocking other code (calls to .Result or .Wait) and prioritize only such tasks in ThreadPool

[2019-10-08 21:21] JeremyKuhne opened #41654 "API Proposal: Port `MemoryMappedFileSecurity` and add extensions for `MemoryMappedFile`"
### Summary

We did not port `System.IO.MemoryMappedFiles.MemoryMappedFileSecurity` to Core as it wasn't cross-plat. There is still a need to set security on memory mapped files for Windows, just as there is for files/directories/etc. We should port these to `System.IO.FileSystem.AccessControl` and add extension methods for `MemoryMappedFile` there so Windows specific codebases can be ported and r

[2019-10-08 21:24] Marusyk opened #41655 "NullReferenceException in System.DirectoryServices.AccountManagement"
In method `Save` from `Principal` class, the `context` object was used before it was verified against null:

https://github.com/dotnet/corefx/blob/7c586d32edce94c910fc8b402f4adedaa3cf05fd/src/System.DirectoryServices.AccountManagement/src/System/DirectoryServices/AccountManagement/Principal.cs#L340-L350

The null value for the context parameter is invalid and we are expecting InvalidOperationExcep

[2019-10-08 21:25] stephentoub commented on #41650
There aren't really drawbacks other than the obvious one: you won't have timeouts.

There are actually optimizations that kick-in when the timeout is set to infinite.

And HttpClient is just one wrapper for the underlying handler; others like HttpMessageInvoker don't have a Timeout.

[2019-10-08 21:25] krwq commented on #29660
Thanks! I'll take a look once I got better understanding on the area (need to finish reading theory and see how other implementation shaped their APIs and see if there are any pitfalls or anything we should watch out for when designing APIs)

[2019-10-08 21:29] AqlaSolutions commented on #11463
It seems that I was misunderstand what this issue is about.

Let me explain it now again:
1. assume there is a call to `.Result` in a synchronous code that calls wants to wait for async method
2. request processing library calls this synchronous code using ThreadPool many times
3. this leads to a case when *all* of ThreadPool threads are waiting in `.Result` and there are no free threads to actual

[2019-10-08 21:31] tannergooding commented on #26581
Thanks @TamarChristinaArm.

I'll give this a look over either tonight or tomorrow and get the top post updated 😄

[2019-10-08 21:32] karelz commented on #35388
Duplicate of #31299

[2019-10-08 21:32] #35388 closed

[2019-10-08 21:33] karelz commented on #31299
Triage: We should explore what winsock does.

[2019-10-08 21:50] karelz commented on #35387
Triage: We should be data driven -- measure some benchmarks to tell us if this makes sense.

[2019-10-08 21:52] mconnew commented on #41652
@Cronan, it might be useful to find the exact version which caused the break. I wasn't going to suggest that as it can be a lot of work and it's possible that the appropriate devs might know which changes may have broken this, but if you have it working in docker, it might not be a lot of work. Especially if you do a binary search through the versions.
Something quicker that would likely be useful

[2019-10-08 21:52] JeremyKuhne opened #41657 "API Proposal: Add pipe creation extension methods that take an ACL"
### Summary

Similar to #41614, we don't currently have a way to create a pipe with a given ACL in .NET Core. We can modify the ACL, but it would be more secure to have the proper ACL on the pipe from the start.

The Pipe ACL `PipeSecurity` is already exposed in the `System.IO.Pipes` assembly , we should add creation extension methods to the existing `PipesAclExtensions`.

### Proposal

Add the fo

[2019-10-08 21:55] matteo-prosperi opened #41658 "HTTPS Proxy support feature requests"
Hello,
As the support of HTTPS proxies is becoming more common, we need to execute HTTP and HTTPS requests through an HTTPS proxy.

To be clear, this is not about executing an HTTPS request through an HTTP proxy (which works well), it is about connecting to the proxy itself using HTTPS.

As an additional requirement, we are also supposed to authenticate the client using client certificates.

When

[2019-10-08 21:56] karelz commented on #34460
Triage: Review list of all tests with remote endpoint, then decide what to do about them.

[2019-10-08 22:02] davidsh commented on #41652
Thanks for bringing this issue to my attention. Yes, there were changes between 2.1.3 and 2.1.13. We ported some fixes from .NET Core 3.0 into the latest servicing releases for 2.1 and 2.2. These were high priority Linux Kerberos related fixes.

See: #40109

I'll need to dig into your particular scenario to see why it appears to have been regressed by these changes.

[2019-10-08 22:04] davidsh commented on #41652
Can you please provide a repro for this? Or describe in great detail the scenario, networking environment and especially how Kerberos is being used. What OS is the server? What OS is the client? Etc.

[2019-10-08 22:22] JeremyKuhne opened #41662 "API Proposal: Add Mutex, Semaphore, and EventWaitHandle creation extension methods that take an ACL"
### Summary

Similar to #41614, we don't currently have a way to create a synchronization object with a given ACL in .NET Core. We can modify the ACL, but it would be more secure to have the proper ACL on the object from the start.

The related ACLs are already exposed in the `System.Threading.AccessControl` assembly , we should add creation extension methods to the existing `ThreadingAclExtension

[2019-10-08 22:24] bartonjs commented on #40434
The OS issue was worked around in #41331; but the tests need to be re-enabled.

[2019-10-08 22:30] tarekgh opened #41663 "Support using ICU when running on Windows"
Windows 10 now carrying a version of ICU. It will be good to allow .NET Core take advantage of that.

[2019-10-08 22:36] Cronan commented on #41652
Thank you, both great suggestions, I’ll try first thing tomorrow.

I’m finding it hard to find up to date Kerberos rpms, and the details of working with the tarballs are not very complete, do you have some tips for trying other versions that might be quicker?

[2019-10-08 22:49] Clockwork-Muse commented on #11463
@AqlaSolutions -
[Async tasks don't (necessarily) have a thread associated with them you could raise the priority on](https://blog.stephencleary.com/2013/11/there-is-no-thread.html).  If you consider things like network I/O, _even if the app is otherwise behaving_ you could run into deadlocks simply by having too many requests outstanding to a slow service - and there's nothing your code could do

[2019-10-08 22:50] richlander commented on #41658
This looks like a good feature for .NET 5. I haven't heard enough requests about this scenario to warrant adding it earlier.

[2019-10-08 22:53] mconnew commented on #41652
@Cronan, I wouldn't try changing your Kerberos stack at this point, it will just add noise. Things were working with .NET Core 2.1.3 so unless we find a reason to believe there's an issue with the version of Kerberos you are running with, just leave everything which isn't .NET Core in the same state as when it's working with .NET Core 2.1.3.

[2019-10-08 22:58] scalablecory commented on #41658
Can you give some use cases for HTTPS proxies?

[2019-10-08 22:59] jkotas commented on #41619
Or we can call [MiniDumpWriteDump](https://docs.microsoft.com/en-us/windows/win32/api/minidumpapiset/nf-minidumpapiset-minidumpwritedump) to create the dump. Does RemoteExecutor have a way to get the right path to save the dump to, so that it gets included with the test results?

[2019-10-08 23:01] richlander commented on #41658
Wouldn't it be the same as an HTTP proxy but with TLS? An HTTPS -> HTTP transition through an HTTP proxy would seem to undermine the value proposition of HTTPS. I cannot imagine that it is any more complicated than that.

[2019-10-08 23:03] mconnew commented on #41652
@davidsh, He's provided details of the client in the initial bug description. He also explained the server is a Windows WCF service. Does the specific Windows version matter?

@Cronan, for your WCF client, are you explicitly specifying a service identity? You would have a reference to the one of the classes SpnEndpointIdentity, UpnEndpointIdentity or DnsEndpointIdentity. If you don't have a refere

[2019-10-08 23:05] kekekeks opened #41664 "[Feature request] A way to customize the line separator in StringBuilder"
Right now it's impossible to get consistent behavior across platforms. Which is kind of important when working with file formats or network protocols that are sensitive to the line separator.

A commonly used workaround is an extension method like:
[code]
but this approach can't be used when we are passing the StringBuilder to a library from nuget.

The proposal is to add a separate constructor th

[2019-10-08 23:09] scalablecory commented on #41658
HTTPS requests have end-to-end encryption, regardless of if they go through a proxy, or if that proxy has encryption -- it is protected from the proxy as well.

A HTTPS proxy does not really add security, it merely shifts it: it makes it so that instead of your ISP being able to track what IPs you connect to, the proxy can.

[2019-10-08 23:10] scalablecory commented on #41658
Maybe @GrabYourPitchforks has some thoughts.

[2019-10-08 23:11] matteo-prosperi commented on #41658
We have been using https://github.com/fancy-owl/docker-mtls-https-proxy to test it.

CURL supports it by doing
[code]

We have customers who are setting up HTTPS proxies in their networks and requiring clients to authenticate against the proxy with client certificates.

[2019-10-08 23:24] karelz commented on #41658
Related to #9768 (Socks4/5 proxies)

[2019-10-08 23:29] richlander commented on #41658
@scalablecory -- that doesn't make sense to me. If you used an HTTP proxy, I assume any traffic after that proxy was "in the clear". That was my point, and avoiding that was my intended use case for an HTTPS proxy. If the proxy was one you trusted, then this model would seem to be fine. Right?

My mental model is this:

- There are scenarios for proxies.
- There are scenarios for HTTPS.
- This req

[2019-10-08 23:34] davidsh commented on #41652
No. But we need a repro. At the very least, snippets of WCF code for the server and client and how the service is configured.

Also, can you please get KRB5_TRACES for both the working scenario (2.1.3) and broken scenario (2.1..13)?

As a workaround can you try setting this environment variable on the Linux client? It will enable the 'legacy' HTTP stack (uses libcurl on Linux). I'm curious if it w

[2019-10-08 23:40] mconnew commented on #41652
@davidsh, this is not using HTTP, this is NegotiateStream.

[2019-10-08 23:41] davidsh commented on #41652
Oh.  Good point. Yes, setting that environment variable won't change anything.

[2019-10-08 23:51] karelz commented on #36932
Can you please elaborate more on [1]? What are the use cases? Sample code would help greatly ...

Re [2] - I agree it is a common mistake of `HttpClient` usage. Luckily there are enough blogs about it, that it is better these days. On top of that we plan to invest into our own docs to cover best practices there. `HttpClientFactory` is one solution to this problem - is that not sufficient? If not,

[2019-10-09 00:08] robinwilson16 opened #41667 "[Suggestion:"

[2019-10-09 00:26] davidsh commented on #41658
Besides consumer related scenarios (i.e. ISP's), we have heard from other enterprise customers over the years wanting "TLS everywhere" which means that communicating with a proxy on the LAN should also use HTTPS. Currently even with communicating with a destination server over HTTPS, the initial 'CONNECT' verb to the proxy is unencrypted (HTTP right now). And that means any headers that get sent a

[2019-10-09 00:52] richlander commented on #41658
There has been talk about DNS with TLS for the same reason.

[2019-10-09 01:00] davidsh commented on #41658
There are significant disagreements about the usefulness of some of these related protocols (like DNS over HTTPS):
https://www.zdnet.com/article/dns-over-https-causes-more-problems-than-it-solves-experts-say/

But pure DNS over TLS (DoT) or using IPSEC would be the best for DNS solutions.

[2019-10-09 01:12] componentspace opened #41668 "XML signature fails to verify"
An XML signature in a SAML response fails to verify using System.Security.Cryptography.Xml.SignedXml.

I believe the XML signature should verify as it does when using a Java application.

The attached zip includes:

samlresponse-fails.xml - signed XML that fails to verify
samlresponse-verifies.xml - signed XML that does verify, for comparison

Program.cs - .NET Core console application demonstrati

[2019-10-09 01:22] Alan-Lun opened #41669 ".Net Core 2.2 Memory"
.Net Core 2.2 API
Memory
https://imgur.com/Gri252Z

.Net Core 2.2 Console 安裝 https://www.nuget.org/packages/Quartz/
Memory
https://imgur.com/sZ2KSuX

.Net Core 2.2 Razor Page 和 MVC
Memory
https://imgur.com/53J9bUg

我有設定 csproj ，Memory 上漲速度有減緩但依舊無法停止每天上漲的 Memory，都不會降下來
`
<ServerGarbageCollection>false</ServerGarbageCollection>
`

.Net Core 3.0 初始API 也有此狀況 , 記憶體不會下降到原本
https://imgur.com/lavFW6r

[2019-10-09 01:22] #39835 closed

[2019-10-09 01:24] danmosemsft commented on #35189
@nabeelvalley ok, not a problem, hope to see you elsewhere in the repo!

[2019-10-09 01:34] davidfowl commented on #41667
Instead of a warning, could we consider supporting this attribute by name?

[2019-10-09 02:21] matteo-prosperi commented on #41658
I suppose in this case using client certificates also allows limiting which users or maybe even applications can interact with servers outside of a certain network boundary.

[2019-10-09 02:34] JamesNK commented on #41650
Thanks for the feedback. I've disabled HttpClient.Timeout in gRPC https://github.com/grpc/grpc-dotnet/pull/595

[2019-10-09 02:34] #41650 closed

[2019-10-09 02:52] danmosemsft commented on #41664
Thanks @kekekeks . Is it common to pass a StringBuilder to a library for this purpose?

[A theme is emerging here](https://github.com/dotnet/corefx/pull/41195), I wonder where else we have "native newline" or "Windows newline" hard coded when one might want "\n" explicitly.

[2019-10-09 02:54] danmosemsft commented on #41669
translated:
===
.Net Core 2.2 API
Memory

https://imgur.com/Gri252Z
.Net Core 2.2 Console Installation https://www.nuget.org/packages/Quartz/
Memory

https://imgur.com/sZ2KSuX
.Net Core 2.2 Razor Page and MVC
Memory

https://imgur.com/53J9bUg
I've set csproj, Memory's rise has slowed down but still can't stop the daily rise of Memory, won't come down

<ServerGarbageCollection>false</ServerGarbageC

[2019-10-09 02:55] danmosemsft commented on #41669
@Alan-Lun have you tried profiling to see where the memory is going?

You can use one of these tools
* PerfView: https://github.com/Microsoft/perfview
* Visual Studio: https://docs.microsoft.com/en-us/visualstudio/profiling/memory-usage?view=vs-2019
* dotMemory

[2019-10-09 03:02] danmosemsft commented on #41630
Does Dispose() fix it?

[2019-10-09 03:05] davidfowl commented on #41630
Yes it does but the problem was this was happening indirectly and finalizers don’t run on any of the containing objects since it’s being rooted by the handle

[2019-10-09 03:16] Alan-Lun commented on #41669
@danmosemsft
有使用 Visual Studio，也有看dotMemory
但看不出來為什麼飆升
https://imgur.com/xJfcjpP

我看其他文章也有此問題
https://stackoverflow.com/questions/51388701/asp-net-core-memory-inscrease-on-every-request-and-gc-does-not-free-it

https://stackoverflow.com/questions/57591344/why-asp-net-core-2-2-do-not-release-memory

https://chat.stackoverflow.com/rooms/198268/discussion-on-question-by-kevin-tanudjaja-why-asp-net-co

[2019-10-09 03:28] danmosemsft commented on #41669
@Alan-Lun thanks. I did Bing translate again:
===
@danmosemsft
There's using Visual Studio, there's also watching dotMemory
But i don't see why it's soaring.

https://imgur.com/xJfcjpP I see other articles that also have this problem
===

@davidfowl any thoughts here?

[2019-10-09 03:52] ahsonkhan commented on #39277
From @cedemax in https://github.com/dotnet/corefx/issues/41633

[2019-10-09 03:52] ahsonkhan commented on #41633
Closing as duplicate.

[2019-10-09 03:52] #41633 closed

[2019-10-09 04:11] rajanbhayana commented on #24229
The issue is still replicable. I was using System.Data.SqlClient for a small POC and got error **is not supported on this platform.** . I later replaced this with Microsoft.Data.SqlClient and still getting Microsoft.Data.SqlClient is not supported on this platform. Need to know what can be done to remove this error.

[2019-10-09 04:28] ahsonkhan commented on #41383
Fair enough, @Zenexer - thanks for the input.

@steveharter - I don't see why the Default property is internal. Do you have any reason to keep it that way (or know why it was internal to begin with)?

I am marking this ready for review (otherwise, let me know if you think we shouldn't do this).

[2019-10-09 05:35] scalablecory commented on #41658
So lets draw out what a proxy connection looks like.

Client -> Client's ISP -> Proxy -> Proxy's ISP -> a series of tubes -> Server's ISP -> Server

For an HTTP proxy, the Client's ISP and the Proxy can see that you are talking to Server. Everyone else sees Proxy talking to Server.

For an HTTPS proxy, the Client's ISP can only see that you are talking to Proxy. This is the sole benefit of an HTTP

[2019-10-09 05:42] scalablecory commented on #41658
Note: not saying this is necessarily a bad idea, just that the real benefit is deceptively slim. I'd welcome some examples of when hiding from your ISP will be important under HttpClient usage scenarios.

If there are businesses that want to take a "feel good" TLS-everything approach, I'd hope they would use IPsec rather than relying on HTTP-level encryption inside their network, but I trust @davi

[2019-10-09 05:43] richlander commented on #41658
This is probably all true, but imagine that all the calls and all the end-points are running within a cloud environment. That's what this comment is making reference to: https://github.com/dotnet/corefx/issues/41658#issuecomment-539792003. There is no "ISP".

[2019-10-09 05:45] richlander commented on #41658
Let's also assume that the network traffic never leaves the cloud region and you are using an HTTPS version of [Envoy](https://www.envoyproxy.io/).

[2019-10-09 06:12] scalablecory commented on #41658
The one significant benefit I'm seeing here is that HTTPS allows cert-based authentication. I'm not sure if we'd need a new API for this or if we could use the existing cert collections in `HttpClientHandler`.

Would love to know how common cert-based auth is for HTTPS proxies.

[2019-10-09 06:24] richlander commented on #41658
I assume there are two things going on:

- Use a proxy as part of a micro-services architecture where the network architecture is transparent to a given app.
- Use HTTPS as a defense-in-depth mechanism to prevent a class of attacks. It's also possible that this is required for regulated businesses.

[2019-10-09 06:27] richlander commented on #41658
This answers some of your questions: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/ssl

[2019-10-09 06:42] mvalenta commented on #41518
@iSazonov I looked around for some Cisco MAC formats and could only find "0011.2233.4455" formats. I didn't see anything for format "001.122.334.455". Not saying that format isn't used _at all_, but if it is, it doesn't seem to be used by Cisco from what I can tell.

I did find a comment about Huawei firewalls having another separate format "ab12-cd34-ef56", and an FAQ page seems to confirm this.

[2019-10-09 07:12] jaymins93 commented on #41520
ok so finally I wrote the sample code to make it better so please have a look , for me tryparse still does not works but tryparseexact and ctor generated values works , but I am suspecting tryparse should also work this is all the code with values and comments

using System;
using System.Collections;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Diagnostics.C

[2019-10-09 07:13] Akaion opened #41672 "Potential bug with PInvoke and or Marshaler under quite a specific situation"
I encountered this issue a few days and initially thought it was something on my end, however, am now leaning toward there being a bug with pinvoke in itself.

Here is my situation

I am trying to get the context of a thread (x64) using [GetThreadContext](https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-getthreadcontext) through PInvoke.

Now this function

[2019-10-09 07:13] hpetriffer opened #41673 "TLS 1.2 The handshake failed due to an unexpected packet format"
We have an environment where we always get the error "One or more errors occurred. (The SSL connection could not be established, see inner exception.): The handshake failed due to an unexpected packet format". If you use the switch `AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false)`, then there is no problem with the connection setup.
It happens with a netcoreapp3.0.

[code]
Mos

[2019-10-09 07:14] qloudau commented on #25102
Hello @safern ,

Please, can you let us know, in which version you are going to release this solution?
As we are facing this issue in multiple scenarios like change profile picture, upload application logo and export to excel.

Thank you.

[2019-10-09 07:14] AndersMalmgren commented on #41253
Tonight the exception occurred 3 times in Azure/servic fabric instanace when polling actual endpoint. Art the same time i was polling the same endpoint from my dev machine, exact same code base, but hosted locally and not in a service fabric instance (Normal WebHost hosted from core console app).

So it seems to be a combo with azure/service fabric and that specific endpoint, since I have been pol

[2019-10-09 07:18] Cronan commented on #41652
Sorry, I actually meant Centos rpms, I was typing that on a phone ...

[2019-10-09 07:27] Cronan commented on #41652
[code]

[2019-10-09 07:32] Cronan commented on #41652
KRB5_TRACE.LOG for 2.1.3 (working scenario):
[code]

[2019-10-09 07:32] iSazonov commented on #41518
I think Cisco and Linux format should be supported "out of box". For others we could consider new overload with explicit format provider parameter (that is out of the issue).

[2019-10-09 07:42] chriss2401 commented on #22660
So I guess there is no update on this ?

[2019-10-09 07:51] karelz commented on #41253
OK, we are slowly narrowing it down.
As next step I would suggest to hammer the problematic endpoint from a small little repro (in Azure/Service Fabric). If that reproduces, we will get closer to something actionable IMO -- we can start capturing packets, etc.

[2019-10-09 07:53] AriNuer opened #41675 "System.Drawing.Common.Tests failed with exit code 134"
Test `System.Drawing.Common.Tests` has failed.

**Log:**
[code]
**Build:**
[20191008.53](https://dnceng.visualstudio.com/public/_build/results?buildId=382413)(Master)

**Details:**
https://helix.dot.net/api/2019-06-17/jobs/fd126e26-4e15-4d8d-b7ce-e08ef6f5adea/workitems/System.Drawing.Common.Tests/console

[2019-10-09 07:54] ViktorHofer commented on #24525
Happened again: https://dnceng.visualstudio.com/public/_build/results?buildId=382413&view=ms.vss-test-web.build-test-results-tab&runId=11815882&resultId=175033&paneView=attachments

Configuration: `netcoreapp-Linux-Release-x64-SLES.12.Amd64.Open`

[code]

[2019-10-09 07:57] Cronan commented on #41652
KRB5_TRACE.LOG for 2.1.13 (failing scenario):
[code]

[2019-10-09 07:59] AndersMalmgren commented on #41253
I can do that. problem is just that I cant share the endpoint, its a closed endpoint for customers only. Well its open but you need to login with oauth 2.0 otherwise it will just return unauthorized. I guess we might be able to get you some test logins, they probably want this to work with Azure too.

We are right now running it on a dev cluster locally to rule out service fabric.

[2019-10-09 08:03] karelz commented on #24229
@rajanbhayana we do not monitor closed issues. If there is a problem with a repro, please file it on https://github.com/dotnet/sqlclient repo. Thanks!

[2019-10-09 08:04] AqlaSolutions commented on #11463
@Clockwork-Muse ,
1. deadlock and slowing down are different things.
2. I'm not asking to raise thread priority, I'm asking to raise action priority in ThreadPool queue. IO tasks callback through ThreadPool too.

[2019-10-09 08:05] karelz commented on #41253
We are not at the point we need our local repro yet. While it would be awesome, you can do first steps on your end, without exposing your endpoint - just a bit more of experiments on your side ...

[2019-10-09 08:10] xav-stargate opened #41676 "Load X509Certificate2 from raw : GetPrivateKey : keyset does not exist"
Hi

I use .NET Core 2.2 on Linux AND Windows, I do not want to use the stores. I try to add permissions to IIS or Everyone for test on "C:\ProgramData\Microsoft\Crypto\RSA\MachineKeys" it does not work.. The file is created and I can open it ! But why my program can't do it ?

[code]

I get this exception :

I've so many problems with the certificate management..
I've try to use the store, it's wo

[2019-10-09 08:13] Cronan commented on #41652
So, the first thing that jumps out to me is that in the working version the server principal used is mywindowsservice-prod, which is the alias used in the SPN and URI by the client to connect.

In the failing version, the server principal used is the server name, not the alias used as above.

[code]

[code]

[2019-10-09 08:13] tedekeroth commented on #11463
Yes, too many requests are not at all the same thing as a deadlock.

I find it hard to understand how anyone can defend the hugely error prone situation that we have today, where using constructs, like .Wait() and .Result, that is readily available, when in fact that will lead to a deadlock. A deadlock by design.

[2019-10-09 08:16] ViktorHofer commented on #41619
@MattGal how are uploaded dumps discovered today? (see @jkotas question above)

[2019-10-09 08:38] giammin opened #41677 "System.Text.Json not working as expected (how Newtonsoft.json did) with [FromBody] WebApi parameter"
before with Newtonsoft.json when calling a webapi like this

[code]

this worked:

`curl -H "Content-Type:application/json" https://localhost:5000/api/controller-X POST -d "'dsfdsafasf'" -v`

now with `System.Text.Json` there are no way to pass a simple string as a parameter.

I tried various combinatin like` {"someValue":"fsdfsdfsdf"}` or `{'someValue':'fsdfsdfsdf'}` or `someValue'=asdfsdfsdf` bu

[2019-10-09 08:40] Cronan commented on #41652
Sample code below:
[code]

[2019-10-09 08:51] Cronan commented on #41652
Service config:
[code]

[2019-10-09 08:53] ViktorHofer commented on #24525
Just crashed again on macOS: https://dev.azure.com/dnceng/public/_build/results?buildId=382515&view=ms.vss-test-web.build-test-results-tab&runId=11821948&resultId=132331&paneView=attachments

Configuration: `netcoreapp-OSX-Debug-x64-OSX.1013.Amd64.Open`

**A dump is available!**

[code]

[2019-10-09 08:59] qmfrederik commented on #24525
@ViktorHofer If (my interpretation of) the Linux stack trace is correct, you are using a version of libgdiplus which contains an embedded copy of cairo. The embedded copy of cairo was removed from libgdiplus in 2014 (via https://github.com/mono/libgdiplus/pull/18).

So it looks like you're using a 4-year old version of libgdiplus. Time to upgrade!

Some thoughts:

- The Mono repositories at https:

[2019-10-09 09:02] filipnavara commented on #24525
@qmfrederik is right. The crash looks like an ancient version of libgdiplus. The Mono CI machines run on version 6.0.4 right now.

[2019-10-09 09:08] ViktorHofer commented on #24525
Just to make sure, are you commenting on the my last post that lists a macOS crash or the post before which is about Linux-Release-SLES?

YES, that would save us and the infra team a lot of trouble.

[2019-10-09 09:10] ViktorHofer commented on #24525
Yes, that would be good. We could check for a minimum installed version. Do you mind submitting a PR for that?

cc @richlander for the libgdiplus documentation question.

[2019-10-09 09:11] filipnavara commented on #24525
The Linux-Release-SLES is ancient libgdiplus for sure. Haven't looked at the macOS crash yet.

[2019-10-09 09:15] qmfrederik commented on #24525
Let me give that a try. I'll also check whether the libgdiplus-from-NuGet approach still works. May take a couple of days. Ping me if I haven't got round to doing it by next week :smile:. If someone else can do it faster, feel free to do so :smile: .

[2019-10-09 09:34] bencyoung commented on #19408
@stephentoub I don't understand your "Nevermind" here? Isn't the difference that now an immutable array can change during a method that takes it as an argument whereas changing the field doesn't have this effect? Basically ImmutableArray is no longer immutable?

[2019-10-09 10:00] Symbai commented on #41612
Why don't you declare the default setting in a static class and then just do

[code]

That's what I did to avoid passing settings around but making sure it's getting serialized the same everywhere in project. If your wish is to set the settings ONCE at start you already know how the settings should be so static is fine. Otherwise if you load the settings, so they are unknown before application sta

[2019-10-09 10:41] Cronan commented on #41652
I did the binary search and SDK 2.1.801 (released 2019-07-24) is the most recent version that works, and SDK 2.1.509 (released 2019-09-10) is the version that starts failing.

[2019-10-09 10:44] cmeeren opened #41679 "UriBuilder adds explicit port to Uri.OriginalString even if not present in original Uri"
When passing a `Uri` to `UriBuilder`, the resulting `builder.Uri` has a different `OriginalString`. Specifically, the port has been added to `OriginalString` where it was not present originally.

[code]

This has implications e.g. for serialization of URIs. Newtonsoft.Json seems to use `Uri.OriginalString` when serializing URIs. This means that after having been through a `UriBuilder` (e.g. to add

[2019-10-09 11:06] oznetmaster opened #41680 "ThreadLocal implementation does not match documentation"
The documentation for ThreadLocal states:

However, the current implementation appears to not cache the exception, and to reevaluate the initialization function on every access to Value.

Is the documentation incorrect, or is the implementation incorrect?

[2019-10-09 11:11] andre-ss6 commented on #41612
Sure, but that still kind of have the same issues as passing it around everywhere, except they're not a method parameter.

You still have to remember to do it, and thus it's still error prone, and it still feels quite redundant to be passing the "default" options to every single method call. If it's supposed to be the default, why do I need to specify it every single time? It's like having C# opti

[2019-10-09 11:28] jsmcneal commented on #41501
`            try
            {
                var ports = SerialPort.GetPortNames();
            }
            catch (Exception e)
            {
                Debug.WriteLine(e);
            }`

[2019-10-09 11:43] daxpandhi commented on #41287
+1 to this. We are using Numerics for productions and would love to be able to upgrade to the newest version since the current stable version is quite old.

[2019-10-09 12:30] roguecode commented on #40120
@steveharter  An enum keyed dictionary with that converter serializes as:
`{
  "Stuff": [
    {
      "Key": 1,
      "Value": "String"
    },
    {
      "Key": 3,
      "Value": "String"
    },
    {
      "Key": 2,
      "Value": "String"
    }
  ]
  }`

While JSON.NET gives what I'd assume most people would expect:
`{
  "Stuff": {
    "Item1": "String",
    "Item2": "String",
    "Item3": "Str

[2019-10-09 12:43] stephentoub commented on #19408
No.  `ImmutableArray<T>` is a value type.  If it's passed by value, then any changes to the original value will have no effect on the copy passed into the method.  If it's passed by reference, then it's no different from, say, having a field containing an int, passing a ref to that int into some method, and changing the value in the original field.

[2019-10-09 13:08] davidsh commented on #41679
I'm pretty sure that .NET Framework behaves the same way here.

Not sure why .OriginalString is used here. That property is not recommended for most use cases of Uri because it is not a normalized representation of the URI.

@JamesNK Can you comment here?

[2019-10-09 13:10] Symbai commented on #41612
Because of what ahsonkhan said. Its a static class with static methods for performance reasons. You want add performance decreases by making the method not static only to avoid remembering to add "DefaultJsonSettings.Settings" every time you use it. This seems like a really bad trade, especially for the great majority where the current way it works isn't a big deal.

If this is such a big deal for

[2019-10-09 13:14] bencyoung commented on #19408
Ah of course, apologies I didn't notice that bit.

[2019-10-09 13:14] AndersMalmgren commented on #41253
allright @karelz I could repro it after just 30 minutes out in azure service fabric cluster :D
We are now running same code one in a local dev cluster on a dev machine and one out in azure. The dev cluster have not failed yet, the instance out in azure cluster failed after 30 minutes. Here is stacktrace.

We continue to run the local dev cluster to see if we can repro, if we cant repro it seems to

[2019-10-09 13:17] davidsh commented on #41652
In the failing version, the server principal used is the server name, not the alias used as above.

As an experiment, please try adding this to your krb5.conf file in the [libdefaults] section

[code]

Normally, the best-practice is to define SPNs that use the FQDN of the server. And that means using the A record DNS name.  But it seems that your environment has defined the SPN against the CNAME (

[2019-10-09 13:35] davidsh commented on #41658
There are various initiatives in the regulatory space (government etc.) that are requiring encryption everywhere.

And despite its strong engineering appeal, IPsec hasn't really caught on as much as we would have liked with many enterprises because of the higher cost of setup, configuration, diagnostics, etc.

[2019-10-09 13:37] cmeeren commented on #41679
For the record, I also created a related issue here: https://github.com/JamesNK/Newtonsoft.Json/issues/2190

[2019-10-09 13:39] vcsjones commented on #41673
Which operating system and version is the code running on? I'm unable to reproduce this on Ubuntu 19.04.

[2019-10-09 13:49] kierenj commented on #35445
This was intermittent and occurs only very rarely. We don't have the option of upgrading to 3.0 in this instance, unfortunately. (I'm happy to close the issue if you'd like - it is still a problem, but we automatically detect and restart the worker process when it occurs)

[2019-10-09 13:53] hpetriffer commented on #41588
I have an identical problem with an application. If I use localhost it is very slow. With 127.0.0.1 it works very fast.
I use also .net core 3.0

[2019-10-09 13:59] hpetriffer commented on #41673
I have testet it with different Windows operating systems.
e.g. Windows Server 2012 R2 Standard Version 6.3.9600. If it helps I can send you a recording of Wireshark

[2019-10-09 14:01] vcsjones commented on #41668
A quick glace to me suggests this is related to, if not a duplicate of, #32526.

[2019-10-09 14:23] stephentoub commented on #41680
The documentation is incorrect.  It has never cached the exception in this manner. Thanks.
https://github.com/dotnet/dotnet-api-docs/pull/3316

[2019-10-09 14:23] #41680 closed

[2019-10-09 14:34] vcsjones commented on #41673
Hm. I can't reproduce this in Windows 10, either. Any chance your organization is using a network appliance / proxy that performs TLS inspection?

What does this print out for you on one of the problematic servers?

[code]

[2019-10-09 14:53] bartonjs commented on #41676
If that's really the entirety of the program that seems really weird.  Off the top of my head this would be something like your account has write access to `%ALLUSERSPROFILE%\Application Data\Microsoft\Crypto\SystemKeys` but doesn't have read access... so creating the private key file succeeds, but reading it back fails.

Are you running as an elevated account when you run this program?

[2019-10-09 15:07] Gnbrkm41 commented on #36379
So would the usage look like:
[code]
?

also @CarolEidt, I guess you meant https://github.com/dotnet/coreclr/issues/24912 not #24912? :D

[2019-10-09 15:11] tannergooding commented on #36379
Fixed some typos in the proposal that @Gnbrkm41 pointed out on the C# Discord server 😄

[2019-10-09 15:13] CarolEidt commented on #36379
Yes, oops! Thanks for clearing that up.

[2019-10-09 15:16] stephentoub commented on #41619
That's a good idea.

If @MattGal can tell us where we would need to save the dump for it to be discovered, I can make the relevant change.

[2019-10-09 15:18] tannergooding commented on #36379
@Gnbrkm41, yes I think that is a good example of how you might write the checks. Relying on the ISA checks to assume the size (e.g. assuming that `Vector<T>` is 32-bytes if AVX2 is supported) would be incorrect as there are some CLR Configuration Knobs to control it (although they may be non-retail knobs today).

So, I think having your example and then doing the respective ISA checks would be the

[2019-10-09 15:45] bartonjs commented on #41466
Certs can certainly be in the store with no associated private key.  Loading from the store won't _lose_ the key, but it also won't magically find one if it didn't already know about it.

[2019-10-09 15:53] bartonjs commented on #37595
@vcsjones I guess it depends on if you are wanting to tackle them or we're leaving them as open issues.

If you're wanting to provide fixes, I'm fine using this issue as an uber-issue for making parameter import consistent across platforms (or breaking it up into smaller issues, whichever makes you happier).

If we're leaving it as open, it probably makes more sense to open specific issues.  (Idea

[2019-10-09 16:00] vcsjones commented on #37595
Yes, just been a little slow organizing things. Leaving it as a single issue appeals to my sense of laziness, so I'll just use this issue.

[2019-10-09 16:05] Clockwork-Muse commented on #41520
Stop.  We can't help you, because you're not giving us sufficient information to reproduce your problem.

Run the code I posted earlier and respond with the results.  In particular, I feel it likely that the date/time format of the string you're parsing doesn't match the data you're giving it, and the code I posted earlier will give me more information on that.

[2019-10-09 16:11] MichaelSimons commented on #41038
See https://github.com/dotnet/dotnet-docker/issues/1374 for the importance of why Alpine 3.10 support is critical.

[2019-10-09 16:14] safern opened #41685 "System.Net.Sockets.Tests.DualModeBeginAccept.BeginAcceptV4BoundToAnyV4_Success failed on CI"
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=382637&view=ms.vss-test-web.build-test-results-tab&runId=11824072&resultId=145135&paneView=attachments

cc: @karelz

[2019-10-09 16:20] bartonjs commented on #3690
@the-black-wolf On Windows any user can enumerate LM\My and use the X509Certificate2 objects representing the certificates; cert.HasPrivateKey will be true, but accessing the private key will result in Access Denied (unless the user has permissions, of course).

On Linux the user cert stores are implemented as one-PFX per cert (which may or may not contain a private key).  We can't use that to get

[2019-10-09 16:24] steveharter commented on #36563
Linking https://github.com/dotnet/corefx/issues/40120 as supporting quoted numbers in the the deserializer for dictionaries is a feature ask.

[2019-10-09 16:25] steveharter commented on #40120
Yes that is by design. See https://github.com/dotnet/corefx/issues/38713

[2019-10-09 16:28] steveharter commented on #40120
{ "Stuff": [ { "Key": 1, "Value": "String" }, { "Key": 3, "Value": "String" }, { "Key": 2, "Value": "String" } ] }
While JSON.NET gives what I'd assume most people would expect:
{ "Stuff": { "Item1": "String", "Item2": "String", "Item3": "String" }

I assume you're using the "Sample Dictionary<TKey, TValue>"? If so, yes that used KeyValuePair which has "Key" and "Value" properties. I did not provi

[2019-10-09 16:29] nrandell commented on #32742
I know this is closed, but is there any reason why this in only supported in a netcoreapp project? I thought this was a C# 8 feature so should be able to use netstandard2.1

Or have I missed something somewhere?

[2019-10-09 16:30] collinsauve commented on #36932
For 1 there's some sample code [here](https://github.com/dotnet/corefx/issues/36932#issuecomment-483788441).   This creates two different "clients" that consumers can use with different transformations applied but re-using the same underlying `HttpClient`.  We use several of these for calling different services - both internal and external - but using the same connection pool.

The `WithBaseUrl` e

[2019-10-09 16:33] stephentoub commented on #32742
The support wasn't available in netstandard2.1 when this was added.  I assume a netstandard2.1 configuration/build could be added to the package.
cc: @terrajobst

[2019-10-09 16:33] karelz commented on #41685
Is it one time issue or regular issue? (we have plenty of flaky tests we need to look at over time, but we can prioritize tests that are blocking people)

[2019-10-09 16:48] roguecode commented on #40120
Yep, that one. And ah ok, I thought you had meant that as a generic dictionary serializer.
Interested to see your new sample when available, as the one we're currently using doesn't seem as fast as I'd want it to be.

[2019-10-09 16:57] MattGal commented on #41619
@stephentoub simply write anything you want to be archived in the results container to $HELIX_WORKITEM_UPLOAD_ROOT / %HELIX_WORKITEM_UPLOAD_ROOT% (pick appropriate env var).

Do note we have a bug right now which I've merged but not rolled out a fix for that if you make SO many files in that directory that it takes > { the entire work item timeout + 10 minutes} to upload that things will go very,

[2019-10-09 17:02] safern commented on #41685
It seems to not fail that frequently:

https://github.com/dotnet/corefx/issues/19683#issuecomment-524140044

[2019-10-09 17:10] karelz commented on #34066
Triage: Sadly, this is not actionable without a repro at this point.
There may have been improvements in .NET Core 3.0, so it is worth to try that.
We are working on improving SSL connection diagnostics, incl. considering changes to the exception (not 100% clear we're going to do that though) - @wfurt is now driving that effort actively.

[2019-10-09 17:10] #34066 closed

[2019-10-09 17:16] karelz commented on #33957
Triage:
Some comments on this issue are about "Why are we throwing OperationCanceledException instead of Timeout?" -- that is tracked separately in #20296

The original issue here is either race condition of cancellation + error happening in parallel ... in such case, it is just "bad luck" that the race was lost and cancellation won. We don't expect the window to be large.
The other alternative is

[2019-10-09 17:16] #33957 closed

[2019-10-09 17:18] karelz commented on #33845
Triage: Only 1 vote so far.
This is very expensive to implement (performance impact wise). Unless there is strong need to have this, we don't think it is worth it. Closing for now.
If there are common scenarios and multiple customers impacted, we can reconsider and reopen.

[2019-10-09 17:18] #33845 closed

[2019-10-09 17:18] steveharter opened #41687 "Add deserialization tests for long input strings"
To address https://github.com/dotnet/corefx/pull/41414#discussion_r330845194

The deserializer doesn't currently do any multiplication on the length, so this would be a preventative test.

[2019-10-09 17:30] karelz commented on #33742
@davidsh's solution should be acceptable. No need to make other changes as this is corner case scenario.

[2019-10-09 17:30] #33742 closed

[2019-10-09 17:32] bartonjs commented on #41438
@daeken If you run the program under the (native) debugger, can you capture the return value from the call to AppleCryptoNative_SecKeyExport? Bonus points for what got written to ppDataOut and pOSStatus.

[2019-10-09 17:34] karelz commented on #33122
Triage: Looks like rare scenario (only 1 customer hitting it).
Given that it is fairly complicated to fix and given that `HtpWebRequest` is being phased out and replaced by `HttpClient`, we don't plan to fix it. Closing.
If there are more customers hitting this when migrating from .NET Framework, we can reconsider in future and reopen the issue.

[2019-10-09 17:34] #33122 closed

[2019-10-09 17:35] richlander commented on #41038
Sure, but that doesn't explain why the RID is important. I'm not pushing back on the RID, just saying that the RID choice and supporting 3.10 don't relate directly.

[2019-10-09 17:40] karelz commented on #33109
Triage:
`DefaultRequestHeaders` is not thread safe, the recommended pattern is to set it before first request. No manipulation later is expected.

Technically it is hard for us to check the additions here (although we check other properties on `HttpClientHandler`).

The best next step is to clarify this behavior and guidance in documentation.

[2019-10-09 17:45] karelz commented on #33071
Triage: It would be technical breaking change -- either we would override the value, or we would throw exception.
Given there is only 1 bug report in last year, we don't think it is worth the risk of breaking libraries even in major version of .NET Core.
If there are more customers running into this, we can revisit the decision.

[2019-10-09 17:45] #33071 closed

[2019-10-09 17:48] bartonjs commented on #41618
The queue name might say RS5, but the crash dump says RS4.  (ntdll.dll version 10.0.17134.858)

So this is just #30028 again.  Perhaps it's worth following up on why the actual OS and the requested OS aren't the same.

[2019-10-09 17:52] karelz commented on #33037
Triage: We believe that this scenario will be enabled by implementing custom dialers (ConnectionCallback) #35404, where anyone can customize what they want to pick.

[2019-10-09 17:52] #33037 closed

[2019-10-09 17:54] karelz commented on #32809
Triage: @davidsh thinks this is test bug - the TestLoopbackProxyServer likely prematurely closes connections.

[2019-10-09 18:04] danmosemsft commented on #41570
Thank you @kbetmp001  for reporting this.

[2019-10-09 18:04] karelz commented on #32787
Triage: We agree to expose `RequestUri.Host` (SNI) on `SslStream` (assuming it is not there).
We need API proposal. The name should be likely something like `ServerName`.

This is similar / overlapping with #41622 - we should keep that in mind (it asks to allow changes to `SslStream` options in the callback).

[2019-10-09 18:07] karelz commented on #32615
Triage: We agree, we should just add it.

[2019-10-09 18:18] karelz commented on #9071
Triage: Implementation trickiness will be to ensure that derived classes of `HttpContent` work properly + check out ASP.NET derived classes and work with them.

[2019-10-09 18:22] karelz commented on #35404
Triage: We should do it. Next step we need to verify the API proposal above.

[2019-10-09 18:27] karelz commented on #41622
Triage: Sounds like reasonable request. It may need new API.

[2019-10-09 18:33] karelz commented on #32303
Triage: This goes technically against HTTP/2 RFC which prohibits multiple connections to the same server for this reason.
We don't believe this is widely useful/requested feature and it would complicate the API surface. Closing.

[2019-10-09 18:33] #32303 closed

[2019-10-09 18:43] karelz commented on #31882
Triage: There are multiple opinions even on our side.
It still feels weird to put it into the platform itself.
However, to make it useful, we want larger by default exposure ... what about including it in `HttpClientFactory`? @davidfowl @rynowak

[2019-10-09 18:48] electricessence commented on #32742
🥇

[2019-10-09 18:48] karelz commented on #30653
Triage: This should be fairly straightforward

[2019-10-09 18:52] karelz commented on #31098
Triage: Looks like very corner case feature, with only 1 upvote so far (+ @scalablecory apparently used it in his past life).
Given that it is complicated with low demand, we will close it for now.
If there is more customers asking for it, we can reconsider and reopen.

[2019-10-09 18:52] #31098 closed

[2019-10-09 18:54] karelz commented on #29905
Triage: We plan to remove CurlHandler, once we do that, we should cleanup tests and ActiveIssues like this. Keeping it open to track the work.

[2019-10-09 18:55] karelz commented on #29905
Duplicate of #41183

[2019-10-09 18:55] #29905 closed

[2019-10-09 18:58] karelz commented on #29716
Triage: While doable via dialers (#35404), we believe it is worth to do it on its own.
It should be done in `Sockets.Connect` - maybe as an option, where `SocketsHttpHandler` opts into it all the time.

[2019-10-09 19:33] mconnew commented on #41652
@Cronan, you are including the TCP port number your service is running on as part of the SPN name. Is that intentional? Is the port number part of the SPN as set up in your DC?

@davidsh, only a process running as the SYSTEM user or one of it's equivalents such as Network Service are able to use the hostname or FQDN SPN. If you are running with any other user, you normally need to create a differe

[2019-10-09 19:42] andre-ss6 commented on #41612
How so "please do not say"? Am I not allowed to express my opinion? By saying so, you show that you do understand the issues I'm raising and you do understand that they're present in the ""solution"" you suggest. That's dishonest. Remember that different people have different needs, works in different projects and under different scenarios. Your opinion is not golden. It's just as valid as mine. I

[2019-10-09 19:45] davidsh commented on #41652
NegotiateStream, HttpClient, and SqlClient all use a common native library, System.Net.Security.Native on Linux. That library does the various GSS-API calls to support Negotiate/Kerberos/NTLM protocol. GSS-API uses the Linux krb5.conf file for various settings.

The transformation of the passed in 'targetName' from NegotiateStream is still present at the API call to the GSS-API. But in the impleme

[2019-10-09 19:46] matthid commented on #31098
I think some people are hit by this but don't know what the issue is or where to report. Additionally, a lot of people will just use a different authentication method and go on with their life.

[2019-10-09 20:03] andre-ss6 commented on #41612
Just as a quick note, I think it's also worth remembering that another benefit of having a static property is that you're able to change the serializer behavior for all assemblies in the running program. I don't depend on this behavior currently though, so I can't say how much of a benefit that would be. I guess it _could_ be useful in scenarios where you have code which you have no control over t

[2019-10-09 20:03] AaronRobinsonMSFT commented on #40740
@lambdageek I have applied some of your suggestions. Please see the updated example above.

[2019-10-09 20:19] marcnet80 commented on #41176
@ahsonkhan pull-request added.

[2019-10-09 20:20] steveharter commented on #40405
As an aside, it seems like at least one of my cases in this issue still doesn't work;

The JsonConverter attribute not working when applied to a collection is a [bug](https://github.com/dotnet/corefx/issues/41425) that is expected to be fixed for 3.1

[2019-10-09 20:48] AmarMovva opened #41714 "Encoding UTF8 GetString behaving differently in .net core 3.0"
[code]
//Outputs two null (?) UTF8 characters in .net core 3.0 but in .net core 2.2, .net 4.7.2 framework
//returns only one null character
`encoding.GetString(bytes);`

Did something got changed with .net core 3.0.

[2019-10-09 21:11] rezabayesteh commented on #38641
The simplest solution is to create a custom converter:
[code]

[2019-10-09 21:26] rynowak commented on #31882
We try not to put features in client factory - it's on opinionated way to configure things. If CoreFx shipped a message handler for this, then the factory will make it easy to wire up 😁

[2019-10-09 21:27] steveharter commented on #41383
All public options by design are instance properties on `JsonSerializerOptions` including the casing policies. The feature ask, I believe, is to make the casing policies `static`  instead.

To clarify, as mentioned earlier, you can set the default on options:
[code]

but of course the "options" would need to be passed to every (de)serialize call. However, we did consider a feature (not implemented

[2019-10-09 21:27] #41383 closed

[2019-10-09 22:05] stephentoub commented on #41619
Thanks, @MattGal.  It works.

[2019-10-09 22:07] mconnew commented on #41652
I found the [documentation](https://web.mit.edu/kerberos/krb5-1.13/doc/admin/princ_dns.html) for this behavior. This seems an odd design decision as the app can do that dance if needed but as you said, nothing that can be done about it. Based on those docs, it looks like this was caused by a change to use GSS_C_NT_HOSTBASED_SERVICE.

[2019-10-09 22:24] davidsh commented on #41652
We made the change in .NET Core 3.0 and servicing for .NET Core 2.1/2.2 because a lot of scenarios were broken until we start using GSS_C_NT_HOSTBASED_SERVICE, which appears to be the preferred format for the SPNEGO protocol plugin for GSS-API.

But this issue here raises some interesting test areas that we probably want to address in a better way long-term in .NET Core. However, short-term, havin

[2019-10-09 22:30] xav-stargate commented on #41466
I've added my certificate following these steps :
* Go to /usr/local/share/ca-certificates/
* Create a new folder, i.e. "sudo mkdir school"
* Copy the .crt file into a folder
* Permissions  (755 for the folder, 644 for the file)
* Run "sudo update-ca-certificates"

I just read that a _crt_ file can not contain a private key!
Do you have a solution for add a certificate and a private key (p12 file)

[2019-10-09 22:31] wfurt commented on #34740
Is there any update @helder-goncalves-cko @ramsubbaraoc ? It seems like this did not update for quite a while. Note that if you use self-signed certificate on server, OpenSSL is more strict about EKU and it will fail to connect unless expected flags are set.

[2019-10-09 22:40] bartonjs commented on #41466
[code]

Is the only supported way to add a cert to a store.

Of course, you could just load the file from the .p12 and skip the store altogether (without PersistKeySet).

[2019-10-09 22:45] csturm83 commented on #41520
When you set a breakpoint after a successful TryParse call (but before comparison of the parsed value), do the Month and Day properties of the parsed DateTime match your expectations? Are they transposed?

If it is a formatting issue, I suspect TryParse will start returning false on the 13th 😁.

[2019-10-09 22:45] carlossanlop commented on #36057
@ViktorHofer @karelz here is my plan, 5 stages:

- [ ] Backup all the `*.md` files located in the wiki repo [dotnet/corefx.wiki](https://github.com/dotnet/corefx.wiki) inside a **temporary** folder in the [dotnet/corefx](https://github.com/dotnet/corefx) repo, so we don't block the repo merge work, and we don't worry about deleting that info permanently. I will do this immediately.

- [ ] Keep the

[2019-10-09 22:48] safern commented on #41675
Dupe of: https://github.com/dotnet/corefx/issues/24525

[2019-10-09 22:48] #41675 closed

[2019-10-09 22:53] xav-stargate commented on #41676
I have exactly the same error with and without elevation of rights

[2019-10-09 23:07] bartonjs commented on #41676
Next up is:

* Can you reproduce the problem on another computer?
  * If yes, can you reproduce the problem with a PFX you can share?
    * If yes, please share it and say what version of Windows you're using.
    * If no, we'll need to work something else out.
  * If no, can you reproduce the problem with a PFX whose key can be shared?
    * If yes, please record your execution under [Time Travel

[2019-10-09 23:37] #41655 closed

[2019-10-09 23:37] safern commented on #41655
Fixed in: #41656

[2019-10-09 23:56] terrajobst opened #41695 "Mark Assembly.CodeBase as obsolete"
`Assembly.Location` and `Assembly.CodeBase` are very similar, but not the same thing. To reduce confusion, we should mark it as obsolete.

### Reason

Having two things that are similar, but not identical always causes confusion. Here is [an example](https://github.com/aspnet/AspNetCore/issues/14501#issuecomment-537286033).

As @jkotas [said](https://github.com/aspnet/AspNetCore/issues/14501#issue

[2019-10-10 00:02] davidsh commented on #34740
To clarify, it is not just about EKU field. It is about KU field (Key Usage).

See this ASP.NET issue for a full analysis of best-practice for using self-signed certificates on Linux.
https://github.com/aspnet/AspNetCore/issues/7246

[2019-10-10 00:56] acty-toshiko opened #41720 "Cannot connect when IPv6 is specified in .NET Core 2.2 FtpWebRequest"
# Issue Title

Cannot connect when IPv6 is specified in .NET Core 2.2 FtpWebRequest

# General
An exception occurred when Ipv6 was specified in FtpWebRequest in .NET Core 2.2 as shown below.
If it was confirmed with the same code in .NET Core 3.0, it was successful, so is it a problem before .NET Core 3.0?

[code]
Message : This protocol version is not supported.
Exception :
System.Net.WebExceptio

[2019-10-10 04:41] btecu commented on #41383
@steveharter, please that feature (static variable with options) would be really useful.
After working on several larger applications I've noticed that usually there's a default across the entire application and for those one or two cases where you work with some third party api that has a different naming convention, you can just pass a specific `JsonSerializerOptions`.

[2019-10-10 04:59] scalablecory commented on #41518
Thanks for doing research!

I'm borderline fine supporting Cisco's format given their ubiquity. @dotnet/ncl any strong opinions?

[2019-10-10 05:32] hpetriffer commented on #41673
You are right. there is a firewall with TLS inspection. If we disable the firewall for this adress it works. Your testprogram has the following output if it works
[code]
Every second call gives the error
[code]

Do you think it is an bug in the firewall?

[2019-10-10 06:29] Alex493049469 opened #41697 "Incorrect output double when formatting using format specifier G"
[code]

[2019-10-10 06:41] knom commented on #38650
This is bad.. just ran into this as well.. after hours of debugging :-(
Is there a workaround using Newtonsoft.JSON?

[2019-10-10 06:55] jaymins93 commented on #41520
here is the output of your code

dd MMMM yyyy hh:mm:ss
dd MMMM yyyy
hh:mm:ss
dd-MM-yyyy
hh:mm
current, ticks: 637063070390204651
localized current: 10-10-2019 12:23:59
localized current, formatter: 10/10/2019 12:23:59
current, invariant formatter: 10/10/2019 12:23:59
parsed_formatter, ticks: 636904816040000000
localized parsed_formatter: 10-04-2019 08:26:44
localized parsed_formatter, formatter: 0

[2019-10-10 06:59] jaymins93 commented on #41520
brother it is not formatting issue any how , please check the values of debug I have pasted along with code with comments and my pc is in dd-MM-yyyy hh:mm:ss

please note that only tryparse fails tryarseexact and ctor method still works and see above code that he requested It has full info about my pc settings

[2019-10-10 07:03] AndersMalmgren commented on #41253
Tonight at 02:10 CET it happened again in our smaller isolated repro project (our small repro project tries each 10 minutes). The instance running on local cluster have not had any problems. It seems to be a Azure problem. we will continue running local and azure cluster.

[2019-10-10 07:03] steentottrup commented on #38650
My own findings:

https://stackoverflow.com/questions/58305928/the-new-asp-net-core-3-0-json-serializer-is-leaving-out-data/58316304#58316304

And an article on how to "go back" to Newtonsoft.Json:

https://devblogs.microsoft.com/dotnet/try-the-new-system-text-json-apis/

[2019-10-10 07:32] 0giso opened #41698 "https://apisof.net/ is having certificate error again"
The certificate seems to have expired on October 7, 2019.

[2019-10-10 07:36] 0giso commented on #41698
I will report at correct place (github.com/terrajobst).

[2019-10-10 07:36] #41698 closed

[2019-10-10 07:45] Wraith2 commented on #41697
It's probably intenetional caused by a known breaking change, see
https://docs.microsoft.com/en-us/dotnet/core/compatibility/2.2-3.0#floating-point-formatting-and-parsing-behavior-changed

[2019-10-10 07:53] ronnygunawan commented on #41697
Possible duplicates:
#6405
https://github.com/dotnet/coreclr/issues/19596

[2019-10-10 07:58] Cronan commented on #41652
Yes, the port number is is part of the SPN. We tend to use the same name but different ports for TCP vs REST, for example.

[2019-10-10 08:07] the-black-wolf commented on #3690
@bartonjs

Well, you can safely move the onus for this on administration. subfolder structure sounds just fine to me, make it mandatory for administration to export cer from pfx and place two files, or provide a tool in dotnet to do it for the user. That way you get browse and load private capability separate.

Embracing wont work here, exactly because there is no standard to embrace. Even `openss

[2019-10-10 08:30] eugenesmlv commented on #41687
Can I take this issue?

[2019-10-10 08:30] AriNuer opened #41699 "Test failure: System.Tests.StringTests.ToUpper_TurkishI_EnglishUSCulture"
Test `System.Tests.StringTests.ToUpper_TurkishI_EnglishUSCulture` has failed.

[code]

Build:[20191009.59](https://dnceng.visualstudio.com/public/_build/results?buildId=383488)(Master)

Details:
https://helix.dot.net/api/2019-06-17/jobs/5f1b1b2e-29d1-4e69-9a86-dd1963109f53/workitems/System.Runtime.Tests/console

[2019-10-10 09:06] benmccallum opened #41700 "Directory.GetFiles works on Win but not *nix"
Hi team,

I'm trying to use a dotnet core global tool in a docker build process but getting caught up on the fact that this line of code works on Windows and finds the files, but in a Linux environment it doesn't seem to.

    Directory.GetFiles(currentWorkingDirectory, "*.csproj", SearchOption.AllDirectories)

For the Windows docker image, I'm using `microsoft/dotnet:2.2-sdk-nanoserver-sac2016` a

[2019-10-10 09:28] benmccallum commented on #41700
Oh damn. Nevermind. Was logging it anticipating I would have issues again today but fresh eyes after a holiday and it's my own issue. Sorry!

[2019-10-10 09:28] #41700 closed

[2019-10-10 09:33] JamesNK opened #41701 "HttpClient: Improve logging and error messages when mismatch between client and server protocol/TLS"
My experience with gRPC is that it is very common to run into trouble establishing a connection between the client and the server because of incorrect protocol/TLS.

The logging and error messages in HttpClient should do as much as possible to to help developers fix their own mistakes.

Common problem situations:
1. Client (HTTP/2 with and without TLS) calling HTTP/1 only port
2. Client (HTTP/1 wi

[2019-10-10 09:35] danmosemsft commented on #41700
@benmccallum glad you figured it out! Note that 2.2 goes out of support in December:
https://dotnet.microsoft.com/platform/support/policy/dotnet-core

[2019-10-10 09:36] danmosemsft commented on #41699
@jkotas do you know whether anyone is looking into the Exit hang?

[2019-10-10 10:03] #1936 closed

[2019-10-10 10:12] #41697 closed

[2019-10-10 10:15] stephentoub commented on #41699
@danmosemsft, I added dump generation yesterday to RemoteExecutor to help with this. Looking into it can proceed when we have a dump.

[2019-10-10 10:17] stephentoub commented on #41699
Dup of https://github.com/dotnet/corefx/issues/41619

[2019-10-10 10:17] #41699 closed

[2019-10-10 10:21] lfshr commented on #40396
@karelz why was this closed? Nobody asked a question that would merit a response? Also experiencing this issue.

[2019-10-10 10:27] kasthack commented on #1936
Woohoo!

[2019-10-10 10:34] khteh commented on #40396
I don't see this error since I switched to `HttpClientFactory by using `services.AddHttpClient<>()`. I am upgrading to .net core 3.0 now and will see if this happens.

[2019-10-10 10:55] menozz commented on #34033
We have the same issue in high-load stress environment (release v3.0.0):

System.IO.IOException: The read operation failed, see inner exception.
 ---> System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'SslStream'.
   at System.Net.Security.SslStream.ThrowIfExceptional()
   at System.Net.Security.SslStream.CheckThrow(Boolean authSuccessCheck, Boolean shutdownCheck)
   at

[2019-10-10 11:30] MihaMarkic commented on #37457
Was this really ever solved in .NET Core 3?
Asking because I'm getting the exact same error with both XElement and XDocument. Even tried with code like
[code]
and it throws on Dispose of XmlWritter - it still calls synchronous Flush, just like @meziantou reported.

[2019-10-10 11:34] stephentoub commented on #37457
Looks like that PR didn't add any tests confirming. We can take another look.

[2019-10-10 11:35] MihaMarkic commented on #37457
@stephentoub Also note that XElement has a separate implementation for some reason and that is still as it was before this PR. I feel that XmlWriter always calls a synchronous Flush when disposed, regardless whether it was already flushed. Just a feeling though.

[2019-10-10 11:41] MihaMarkic commented on #37457
It probably calls it on nested XmlWritter as it disposes it in Dispose(bool) method.

[2019-10-10 11:42] ahordijk commented on #24895
With problemdetails, https://tools.ietf.org/html/rfc7807, implemented in .net core please add:

- application/problem+json
- application/problem+xml

[2019-10-10 11:44] Rookian opened #41702 "HttpClient .NET Core 2.1/3.0 Different behaviour to Fullframework when uploading files using Windows Authentication (NTLM): An existing connection was forcibly closed by the remote host"
We try to upload a file to a windows hosted web server.
Using the Fullframework everything works fine.
We use the follwing code:

[code]

When we use the exact code in .NET Core we receive an error.

**HTTP/TCP Stream for full framework:**

**HTTP/TCP Stream for .NET Core 3.0:**

As you can see the full framework is sending 2 additional headers:

- Authorization: NTLM

- Expect: 100-continue

We a

[2019-10-10 11:52] lfshr commented on #40396
My issue appears to be a CoreDNS issue. Bouncing the pods fixed the issue.

[2019-10-10 11:59] #26170 closed

[2019-10-10 12:18] msmolka opened #41706 "JsonString node doesn't round-trip DateTimeOffset correctly"
in System.Text.Json serializing and deserializing datetimeoffset looses precision and most important part the offset part.

There is no different between datetime and datetimeoffset after serialization. In multi time environments it cases serious issues since all times are treated as UTC,

JsonString uses "s" format

[code]

Which is not producing right value. It totally ignores offset.

[2019-10-10 13:04] FiniteReality commented on #41612
I really think this is a huge trade-off. It can be a *huge* pit-of-failure in libraries which interact with web APIs which expect a specific casing. Of course, they should be written in a way which is not vulnerable to this, but by making it the "default", it makes it a lot easier for bad code to be written.

Personally, I don't really think specifying JsonPropertyName for every property name is a

[2019-10-10 13:14] vcsjones commented on #41673
It's certainly a possibility. TLS inspection devices have been known to be buggy<sup>[1][1],[2][2],[3][3]</sup>.

It looks like TLS for hubfe.solutiondocondemand.com is terminated by an AWS Elastic Load Balancer - is that something you can confirm? If TLS is being handled by an AWS ELB, I would suspect there would be more reports of breakage if .NET Core was not able to correctly negotiate TLS wit

[2019-10-10 13:15] vcsjones commented on #41673
/cc @bartonjs @davidsh

[2019-10-10 13:17] matthew798 commented on #40881
So in my test case it works with the changes. I'll try in my actual code and report back. Any reason you are using unsafe code? Would the following (untested) be equivalent?

[code]

Also, `SafeHandle` doesn't seem to have a `ToInt32()` method. `Handle` does, am I missing a `using`?

[2019-10-10 13:20] tmds commented on #40881
option_value needs to be passed as a pointer.

I put together the code in GitHub, I didn't check.

[2019-10-10 13:48] hpetriffer commented on #41673
I think you are right. The webservice runs on AWS.
Thank you for your help!

[2019-10-10 13:48] #41673 closed

[2019-10-10 14:05] joseangelmt opened #41709 "Could not load file or assembly 'System.IO.Ports, Version 4.0.1.0, Culture...' after upgrade to System.IO.Ports 4.6.0."
After upgrade my .NETStandard v2.0 projects to System.IO.Ports Nuget package 4.6.0. I'm having the next error:

The project's metadata shows references to `System.IO.Ports` version **4.0.1.0**, but the deployed version is **4.0.2.0**.

Analyzing the assemblies in the NuGet package, I can see the assembly in the `ref\netstandard2.0` folder has version **4.0.1.0** but the other assemblies (folder `l

[2019-10-10 14:07] IntelOrca opened #41710 "Incorrect branch distance calculation present in .NET core 3.0+"
Issue #26621 is still present in .NET core 3.0 onwards as the fix #28493 was not merged into the 3.0 source stream.

[2019-10-10 14:30] SpiritBob commented on #11224
Does `HttpClient` cache uri's it hits, similarly to what `[RestClient ](https://github.com/NimaAra/Easy.Common/blob/master/Easy.Common/RestClient.cs)`I believe does?

[2019-10-10 14:52] davidsh commented on #41702
Sounds very similar to another 'Expect: 100-continue' and Negotiate/NTLM bug we had. But I thought we fixed it in .NET Core 3.0.

[2019-10-10 14:59] AArnott commented on #35404
Having just evaluated adopting gRPC in a large application, I can tell you that we aren't likely to adopt this library unless it added support for operating over a .NET Stream (and/or IDuplexPipe).

Add support for these things specifically instead of general .NET Stream support means it's more of a hassle to test and higher overhead for scenarios where everything is in-proc.

In particular, I'd l

[2019-10-10 15:27] jrmoreno1 commented on #41458
I had the same problem, using 16.3.3 -- IDE issue, not framework.

[2019-10-10 15:28] davidfowl commented on #35404
This design needs to account for actual HTTP/1 and HTTP/2 scenarios where actual networking sockets are involved. If you already have a connected socket then this callback would just return the stream directly.

[2019-10-10 15:29] msmolka opened #41711 "System.Text.Json Datetimeoffset should support +0000 offset"
Currently only offset presented by +00:00 is supported, but +0000 or +00 is also allowed in ISO standard so these should be supported as well.

`
An offset of zero, in addition to having the special representation "Z", can also be stated numerically as "+00:00", "+0000", or "+00".
`

[2019-10-10 15:40] andre-ss6 commented on #41612
I understand your point. However, I'm not sure if you misunderstood me or if I'm misunderstanding you 😄 but I'm not advocating for that behavior to be _the_ default; instead, only to give users the option to have _a_ default, whatever that might be.

Having said that, **please note** then that 1) you're focusing on case-sensitivity, when that was merely the reasoning behind _my_ need for this. Thi

[2019-10-10 15:42] tannergooding commented on #26574
I don't believe so.

We should likely get input from both @CarolEidt and the API review team to determine if these should be (or w/e names we agree upon):
* Struct: `Vector64x2<T> LoadVector64x2(T* address)`
* Value tuple: `(Vector64<T>, Vector64<T>) LoadVector64x2(T* address)`
* Pointer: `void LoadVector128(T* address, Vector64<T>* firstReg, Vector64<T>* secondReg)`
* Out: `void LoadVector128(T*

[2019-10-10 15:47] scalablecory commented on #35404
The dialer concept is not mutually exclusive with named pipes and unix domain sockets.

The ability to pass in a stream directly to e.g. `SendAsync` would be challenging architecture-wise and a little heavyweight (including several new APIs) to make it support multiplexing and keepalive, which others are certainly interested in using through this feature. I think your scenario isn't blocked by a c

[2019-10-10 15:50] scalablecory commented on #11224
@SpiritBob it's not clear what form of caching you're referring to. This issue is closed; if you would please open a new issue with questions we can help you find answers.

[2019-10-10 15:53] jkotas commented on #41710
cc @tmat

[2019-10-10 15:56] steveharter commented on #41687
Certainly.  See https://github.com/dotnet/corefx/pull/41414/commits/40499f9de38c02e1b49cb6cf9a1891052f3b98f4#diff-1cc85a982fd12de79abc65a090c75039L368 for example.

These tests need to run as outerloop as explained there.

[2019-10-10 16:00] matthew798 commented on #40881
@tmds I assumed (yes I know what happens) that the clr would be smart enough to pass a pointer rather than the value. Does the CLR do any inspection of the native signature before calling or is it up to the user to get it right?

Anyways thanks for the help, I appreciate it.

[2019-10-10 16:09] Rookian commented on #41702
@davidsh Yes, .NET Core doesn't send Expect:100-continue.

I now use: httpClient.DefaultRequestHeaders.ExpectContinue = true;

**HTTP/TCP Stream:**

**Error message:**

[2019-10-10 16:10] adaviding opened #41713 ".NET standard needs a monotonic clock that only increases when the debugger is paused."
Consider that you need to implement a timeout for some asynchronous thread running inside your program.  You might choose to rely on [Environment.TickCount64](https://docs.microsoft.com/en-us/dotnet/api/system.environment.tickcount64?view=netcore-3.0) as a monotonic clock (to mark the passage of time).

Unfortunately, if you were to use a debugger to pause your program, you might discover that all

[2019-10-10 16:12] stephentoub commented on #40881
No, it has no knowledge of the native ABI.

[2019-10-10 16:16] TamarChristinaArm commented on #26574
Yeah that makes sense. I'll hold off on defining these for now then till we have some resolution.

[2019-10-10 16:19] tmat commented on #41710
@mmitche @markwilkie Was release/2.1 not auto-merged to master and release/3.x?

[2019-10-10 16:19] Symbai commented on #38650
On Newtonsoft it's super easy. For example just tell Newtonsoft all known Types and Newtonsoft does all the magic itself for you. No converter, no worries:

[code]
I really wish this would get more attention, at least set to 5.0 milestone instead of future. Currently it's just unusable for polymorphic situations and there is NO workaround (I consider the converter as no workaround in real world sc

[2019-10-10 16:21] carlossanlop commented on #36057
Update: I was told the corefx repo and the wiki won't get destroyed, so I'll skip step 1 from my previous comment.
I will focus on only bringing the relevant information into our repo.

[2019-10-10 16:23] mmitche commented on #41710
There is no auto-merge from release/2,x -> release/3 for the core* repos. I believe this was intentional given the large differences in those products.

Please port.

[2019-10-10 16:27] davidsh commented on #41702
Message=Authentication failed because the connection could not be reused.

Is this using .NET Core 2.1 or .NET Core 3.0.  We've seen error like "" in 2.1. So, I'd be interested in seeing  .NET Core 3.0 results using ExpectContinue=true.

Thanks. If the pcap file doesn't have any confidential information, then, yes, please zip it up and attach it. Otherwise, we'll need to figure out a different way

[2019-10-10 16:27] jkotas commented on #41710
The default workflow for runtime repos is:
1. Submit the fix to master first
2. Cherry-pick the fix into release branches as necessary.

[2019-10-10 16:34] akkgr commented on #41292
Me too, had to go back to core 2.2.

[2019-10-10 16:36] jkotas commented on #36057
This information maintained in documentation and https://github.com/Microsoft/dotnet-apiport database. We do not need a stale copy in the repo.

github issues and projects are the appropriate tools for tracking project status. This should not be commited as file. Convert to issue or project.

Information specific to Microsoft employees should not live on github. It should live in an internal OneNo

[2019-10-10 16:44] steveharter commented on #41383
I see someone created a similar issue for configuring the default settings, so we will assume that for now: https://github.com/dotnet/corefx/issues/41612

[2019-10-10 16:46] Clockwork-Muse commented on #41520
....`TryParse` seems to be returning the correct value, though?

[2019-10-10 16:51] steveharter commented on #41612
The feature ask is valid IMO and was discussed early on when designing `JsonSerializerOptions`.

Currently the "default" option is on a private static variable. This means it can only contain default settings.

Also, FWIW, we also discussed add assembly-level attributes that can configure things like the naming policy. This would support some of the scenarios without having to specify where the de

[2019-10-10 16:54] danmosemsft commented on #36057
I noticed it's already here:

https://github.com/dotnet/core/blob/master/Documentation/microsoft-team.md#configure-your-github-account-as-a-microsoft-employee-recommended

[2019-10-10 16:59] CarolEidt commented on #26574
That will definitely be painful, so we should try to get these in ASAP so we can work through the inevitable issues. I'm mildly tempted to rework the existing handling of double for ARM32, which was also quite painful, and I'm still not happy with that design.

For the API shape, it would be good to avoid the Pointer or Out solutions, as the JIT still has some difficulty in dealing with things tha

[2019-10-10 17:01] Rookian commented on #41702
This is using .NET Core 3.0.
[netcore3expect100true.zip](https://github.com/dotnet/corefx/files/3713719/netcore3expect100true.zip)

[2019-10-10 17:03] tannergooding commented on #26574
Thanks. I'll try to schedule an API review with @terrajobst and will work with @TamarChristinaArm to ensure we have all of the topic points (including this) covered.

[2019-10-10 17:05] steveharter commented on #38650
Moving to 5.0.

However this should also be tied to polymorphic deserialization support as well which is also a requested feature but much larger in scope. There are several requests for that and the implementation must be secure and opt-in through known types; we need to combine\triage these polymorphic issues -- here's one request: https://github.com/dotnet/corefx/issues/41347

[2019-10-10 17:08] karelz commented on #28707
Triage: Measure it again next (when we have perf lab for Http). It will likely require new API.

[2019-10-10 17:10] karelz commented on #28485
@wfurt can you check if it still happens?

[2019-10-10 17:12] karelz commented on #28353
Will be solved by libcurl removal entirely in 5.0: #41183

[2019-10-10 17:12] #28353 closed

[2019-10-10 17:13] karelz commented on #27949
It will be solved by #35404

[2019-10-10 17:13] karelz commented on #27949
Duplicate of #35404

[2019-10-10 17:13] #27949 closed

[2019-10-10 17:15] tmat commented on #41710
@mmitche @jkotas I'd expect changes release/2.1 to flow to master to avoid issues like this one. That's certainly standard flow in many other repos.

[2019-10-10 17:15] karelz commented on #27745
Triage: We need API design. Ideally in 5.0 to unblock WCF client.

[2019-10-10 17:16] karelz commented on #27741
@Jozkee are you still working on it? If not, please unassign yourself.

[2019-10-10 17:19] tmat commented on #41710
Should I now port it to release/3.x and also to master, or does release/3.x flow to master?

[2019-10-10 17:19] stephentoub commented on #27741
Closing per https://github.com/dotnet/corefx/issues/39835#issuecomment-538755366

[2019-10-10 17:19] #27741 closed

[2019-10-10 17:19] tarekgh commented on #41714
@GrabYourPitchforks I marked this issue for 3.1 till we decide if we treat this change as a breaking change and document it or we'll need to fix it.

[2019-10-10 17:19] karelz commented on #27612
@wfurt can you please check frequency of this test failure?

[2019-10-10 17:23] stephentoub commented on #41619
@jkotas, didn't take long, we got a dump here:
https://helix.dot.net/api/2019-06-17/jobs/58ed3af6-a888-4c33-ad66-2a0d6ed754a3/workitems/System.Runtime.Tests/files/3492.2rf1xaxh.qwv.dmp
from https://github.com/dotnet/corefx/pull/41712 in @bartonjs' PR.
![image](https://user-images.githubusercontent.com/2642209/66591539-2cf32c80-eb61-11e9-8cb3-59691c0e1f6c.png)

[2019-10-10 17:24] karelz commented on #27603
Triage: Per WinHttp team, this does not work. Given that we are moving to `SocketsHttpHandler` as primary handler, it does not make sense to push on `WinHttpHandler` improvements.
Closing.

[2019-10-10 17:24] #27603 closed

[2019-10-10 17:25] jkotas commented on #41710
release/3.1 does not flow to master. Get it to master first. Once it is in master, submit a back port PR and follow the servicing process for this. (I would port it to 3.1 only. 3.0 is a very short-lived release.)

[2019-10-10 17:26] karelz commented on #27604
Triage: Given that we are moving to `SocketsHttpHandler` as primary advanced features handler, it does not make sense to expose everything on `HttpClientHandler`. Moreover, the `WinHttpHandler` part cannot be honored - see #27603.
Closing.

[2019-10-10 17:26] #27604 closed

[2019-10-10 17:30] danmosemsft commented on #41618
@ViktorHofer I was going to check that the RS4/RS5 info was logged by our [special test](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.InteropServices.RuntimeInformation/tests/DescriptionNameTests.cs#L16) but I can't find where to get the console output from tests.
Eg I went to this one and clicked download logs and it doesn't have this console output. What am I missing?
https://

[2019-10-10 17:31] tmat commented on #41710
What's the rationale behind not flowing 3.1 to master? This process is just adding unnecessary work and is error prone.

[2019-10-10 17:31] karelz commented on #27295
Triage: Add couple of Assert into `Connection` class as this affects only our internal handlers in SocketsHttpHandler.
We do check after external handlers are executed.
Low priority.

[2019-10-10 17:33] jkotas commented on #41710
Due to high churn in coreclr/corefx, flowing 3.1 to master would be add even more unnecessary work and it would be even more error prone.

[2019-10-10 17:34] jkotas commented on #41710
E.g. you can merge release/3.1 to master to see the giant amount of merge conflicts.

[2019-10-10 17:34] karelz commented on #27063
Triage: We should make the test scoped only to `SocketsHttpHandler` (SkipOn), because `WinHttpHandler` will never have this agility.

[2019-10-10 17:36] #27063 closed

[2019-10-10 17:37] tmat commented on #41710
Odd, Roslyn has been doing this for years and we've had no issues.

[2019-10-10 17:37] jkotas commented on #41710
It is not the industry standard. The industry standard is to submit to master and back-port as necessary. There is no automatic flow from servicing to master in any of the major open source projects that I know about: Linux kernel, LLVM, ... .

[2019-10-10 17:38] karelz commented on #26770
Triage: No `ActiveIssue` in code, netfx has been removed from the code anyway. Closing.

[2019-10-10 17:38] #26770 closed

[2019-10-10 17:43] carlossanlop commented on #41015
@theonlyremedy @DaZombieKiller @Wraith2 Colon is a reserved character for filenames in Windows (documented [here](https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file?redirectedfrom=MSDN#naming-conventions)).

Colon is a reserved character because it is used as the delimiter for Alternate Data Streams (ADS) in NTFS. You can read about them [here](https://blogs.technet.microsoft.com/

[2019-10-10 17:43] karelz commented on #26535
Triage: We need the documentation. Mention alternative: `HttpClient` with certificate validation callback.

[2019-10-10 17:45] danmosemsft commented on #41710
On top of above reasons, another reason is that often a fix is already in master when we decide to port it. In those cases inevitably the backport is second and it's nice to have a consistent flow.

[2019-10-10 17:49] tmat commented on #41710
@danmosemsft So in that case, the flow would be a no-op.

[2019-10-10 17:52] tmat commented on #41710
I don't actually care that much about where the fix goes first. The bigger issue is that our repos are not consistent and I can't track each repos flow in my head while contributing to dozens of repos.

[2019-10-10 17:57] carlossanlop commented on #37394
Fixed with #41007.

[2019-10-10 17:57] #37394 closed

[2019-10-10 17:58] #41510 closed

[2019-10-10 18:01] jkotas commented on #41710
So get the repos that are not following the industry standard to change.

[2019-10-10 18:05] JeremyKuhne commented on #41015
@carlossanlop did any of them actually create the alternate data stream of `aftercolon.txt` on `beforecolon`?

[2019-10-10 18:06] karelz commented on #26355
Triage:
1. Make sure we're sending these possibly puny-code on the wire correctly.
2. Decide what to do if we receive puny-coded data - should we decoded? (maybe leaving it fine)

[2019-10-10 18:07] karelz commented on #26117
@wfurt how often does it happen now?

[2019-10-10 18:08] carlossanlop commented on #41015
@JeremyKuhne I didn't verify that, but I can check. What's the expectation?

[2019-10-10 18:08] karelz commented on #25883
We are getting rid of Curlhandler in 5.0 -- see #41183
Not relevant anymore.

[2019-10-10 18:08] #25883 closed

[2019-10-10 18:11] jkotas commented on #41619
Yes, this is EventPipe shutdown as expected.

[2019-10-10 18:12] karelz commented on #25408
Triage: Only 2 upvotes in 2 years.
The `DecompressionHandler` was not designed for public consumption. We could do it, but it is new API surface, additional non-trivial work with lower value (number of impacted customers). Given there is a workaround (dealing with Stream and doing it yourself for perf reasons), we will close it.
We can reconsider in future if there are more people who need it.

[2019-10-10 18:12] #25408 closed

[2019-10-10 18:14] karelz commented on #25290
Triage: We need a little bit of validation if it works and is sufficient. Then we can send it to API review.

[2019-10-10 18:14] stephentoub commented on #40373
Closing as likely dup of https://github.com/dotnet/coreclr/issues/27128

[2019-10-10 18:14] #40373 closed

[2019-10-10 18:15] stephentoub commented on #39497
Closing as likely dup of https://github.com/dotnet/coreclr/issues/27128

[2019-10-10 18:15] #39497 closed

[2019-10-10 18:16] tmat commented on #41710
@jaredpar @jasonmalinowski

[2019-10-10 18:17] tmat commented on #41710
So if we change the flow, how do we prevent issues like this - when a change is merged to servicing branch without being merged to master?

[2019-10-10 18:21] karelz commented on #25163
Triage: So far we got only 1 feedback on reusing Requests in 2 years. Overall we still don't think it is worth the complications at this moment. Closing.
We can reconsider again in future if we get more customers and/or data showing perf benefits on end-to-end scenarios.

[2019-10-10 18:21] #25163 closed

[2019-10-10 18:22] #24850 closed

[2019-10-10 18:23] stephentoub commented on #41710
If the flow is merge first to master and then port to servicing as appropriate, when would that ever happen?

[2019-10-10 18:23] karelz commented on #24712
@wfurt can you please check if it is disabled and what is current frequency (if not disabled)?

[2019-10-10 18:25] tmat commented on #41710
It happened because no one was apparently enforcing that. https://github.com/dotnet/corefx/pull/28493 was not merged to master.

[2019-10-10 18:26] stephentoub commented on #41710
Are you asking then for tooling to be put in place?

Mistakes can be made regardless of the flow direction.  With either direction tooling can help.

[2019-10-10 18:28] karelz commented on #24104
Duplicate of #29716

[2019-10-10 18:28] tmat commented on #41710
Ideally, yes.

Sure, the mistake happened because I expected the flow from servicing to master to happen automatically because that's what other repos I work with do.

[2019-10-10 18:28] karelz commented on #23771
Triage: The tests need to run isolated - now we have option to do that.

[2019-10-10 18:35] karelz commented on #23426
Triage: We plan to address this as part of #35404 ... keeping it open due to high popularity of this issue.

[2019-10-10 18:38] karelz commented on #23209
Related/dupe of #23771

[2019-10-10 18:40] mmitche commented on #41710
Yep

This flow is really tough for any repos that are not leaves in the dependency graph. Inter-branch merges are really painful when the version files are always getting edited. I'm beginning to think that this automation provides more pain and possibility of mistakes than value.

I'd be more of a fan of putting in automation which would keep track of the product relatated-ness of various branche

[2019-10-10 18:41] karelz commented on #20598
Triage: We believe this should be addressed by #35404.

[2019-10-10 18:41] #20598 closed

[2019-10-10 18:41] karelz commented on #20598
Duplicate of #35404

[2019-10-10 18:45] jasonmalinowski commented on #41710
We've always been strict with Roslyn to ensure the old branches are merged forward, precisely to make sure that even if a mistake happens we did get stuff being pulled forward. If nothing else, it means that we can delete old release branches with confidence because we aren't going to delete some head that had was the only root to some commits which would then get GC'ed.

I will also express some

[2019-10-10 18:46] karelz commented on #18133
Triage: We should add new `AllHeaders` property as read-only view of all headers to avoid these kind of confusions.
We could also improve the exception to tell more details.

[2019-10-10 18:51] karelz commented on #14374
Triage: 3 years old API proposal without being picked up by anyone and only 1 upvote. Not worth it at this time, closing.
We can reopen if there is more interest from additional customers / scenarios.

[2019-10-10 18:51] #14374 closed

[2019-10-10 18:51] safern commented on #41403
Closing as we removed S.R.WindowsRuntime* from the compat pack. The roslyn question/issue I will follow up with their team to see if there needs to happen something on their side.

[2019-10-10 18:51] #41403 closed

[2019-10-10 18:54] karelz commented on #13618
Triage: Generic + we had new tests from @hughbe in the space, so we may be covered.
We will review code coverage by end of 5.0 and if it pops up, we can re-evaluate.

[2019-10-10 18:54] #13618 closed

[2019-10-10 18:56] karelz commented on #13607
Triage: Either new API or other solution in `HttpListener` is needed.

[2019-10-10 19:00] karelz commented on #8715
Triage: 3 years old, 1 upvote + we think it already exists. Closing.

[2019-10-10 19:00] #8715 closed

[2019-10-10 19:19] davidsh commented on #41701
@JamesNK

We do have System.Net tracing already in place.  See
https://github.com/dotnet/corefx/blob/master/Documentation/debugging/windows-instructions.md

Can you be more specific about where  logging or error messages need to be added or changed?

[2019-10-10 19:20] adontz commented on #8715
I look at source code and see

    public DateTimeOffset? Date
        {
            get { return GeneralHeaders.Date; }
            set { GeneralHeaders.Date = value; }
        }

So situation did not change a bit and "we think it already exists" comment confuses me.

[2019-10-10 19:23] JamesNK commented on #41701
I'm going to create a test app and give the errors a developer sees in each of these examples.

[2019-10-10 19:26] stephentoub commented on #8715
There is already a `Date` property, as you highlight.  Changing its type would be a breaking change.

[2019-10-10 19:28] davidsh commented on #41701
Thanks. That should help us figure out what happening regarding "errors" which I think you mean exceptions generated and exception message text.

But what about "logging"? We do have extensive System.Net tracing available that can be enabled and viewed with tools like PerfView. Are there things there that are missing? We expect developers to use these tracing mechanisms as well as rely on looking

[2019-10-10 19:51] steveharter commented on #40120
@roguecode here's a Enum [sample ](https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/tests/Serialization/CustomConverterTests.DictionaryEnumConverter.cs)for `Dictionary<TKey, TValue>` where TKey is an Enum and uses the "property" JSON syntax instead of KeyValuePair. I also updated the list of samples above to include this new sample.

[2019-10-10 20:13] GrabYourPitchforks commented on #41714
This is already documented as an intentional breaking change. See https://github.com/dotnet/docs/issues/13547.

[2019-10-10 20:24] terrajobst commented on #41614
We considered adding the APIs back to the relevant types (i.e. as constructors). While this would be preferred from a porting/backwards compabitility case, it would mean we'd have to pull-in a large amount of ACL / Windows security into `System.Private.Corelib`.

We think these APIs are weird and shouldn't be exposed:

[code]

These APIs look fine (assuming they match the existing instance methods

[2019-10-10 20:25] tarekgh commented on #41714
Closing this one per @GrabYourPitchforks comments as this is known breaking change. @AmarMovva feel free to respond back if you have more comments of questions. Thanks for reporting the issue.

[2019-10-10 20:29] JamesNK commented on #41701
I'm doing the same tests on the server side in ASP.NET. I copy and pasted most of the issue. Ignore logging in the client. I'm more interested in the exception message for HttpClient.

[2019-10-10 20:30] JamesNK commented on #41701
Test app: https://github.com/JamesNK/HttpConnectionErrors

HttpClient output:

[code]

[2019-10-10 20:31] scalablecory commented on #23544
So the general recommendation is to have only a single `HttpClient` instance.

However, the real reason for this is that you only want a single `HttpMessageHandler`, because this is where all the connection pooling goodness comes from.

In this case, you can have your cake and eat it too, with a single shared instance and being able to continue using `DefaultRequestHeaders` with something like thi

[2019-10-10 20:34] scalablecory commented on #23544
This is going to be a tough sell because some usages of HttpClient can rely on this today. For instance, I've used an API where I did something like this:

[code]

[2019-10-10 20:38] terrajobst commented on #41654
We shouldn't introduce the depdendency from `System.IO.FileSystem.AccessControl.dll` to `System.IO.MemoryMappedFiles.dll`.

Instead, we should introduce a new static type in a new assembly. The pattern we settled on was suffixing the type with `Acl`.

[code]

[2019-10-10 20:48] terrajobst commented on #41657
We should not make them extension methods. We should follow the other pattern and create new static types suffixed with `Acl`:

@JeremyKuhne: we need to update the ordering to match the existing APIs. Please update this comment.

[code]

[2019-10-10 20:53] wfurt commented on #41518
We can add cisco when .Net runs on that gear @scalablecory . I think compat with Linux and OSX would be nice. Be able to parse logs or use values by given OS would be nice.

[2019-10-10 20:54] terrajobst commented on #41662
We should not make them extension methods. We should follow the other pattern and create new static types suffixed with `Acl`:

@JeremyKuhne: we need to update the ordering to match the existing APIs. Please update this comment.

[code]

[2019-10-10 20:58] JamesNK commented on #41701
I'm going to list the error messages that I think are unclear:

1. Client (HTTP/1 or 2 no TLS) calling server (HTTP/1 or 2 with TLS)

[code]

2. Client (HTTP/1 with or no TLS) calling server (HTTP/2 with or no TLS)

[code]

3. Client (HTTP/1 or 2 with TLS) calling server (HTTP/1 or 2 no TLS)

[code]

4. Client (HTTP/2 no TLS) calling server (HTTP/1 no TLS)

[code]

5. Client (HTTP/2 no TLS) callin

[2019-10-10 21:34] carlossanlop opened #41719 "Ensure FileStatus' Unix exception throwing behavior matches Windows"
Initially reported by @davidfowl and discussed via email with @JeremyKuhne : we need to make sure Unix matches Windows when it comes to capturing and throwing exceptions.

David got this callstack when the Docker container got disconnected:

[code]

[2019-10-10 21:46] scalablecory commented on #41720
To confirm -- you tried this in 3.0, and it worked? Did it work in 2.1?

[2019-10-10 21:46] daveyostcom commented on #33016
fails on Catalina, final release 10.15 (19A583)
dotnet 3.0.100

[code]

[2019-10-10 21:54] Jozkee commented on #41628
Thank you for filing the issue but this is already being discussed in #41002, please make sure to make comments in there in case you have any.

[2019-10-10 21:54] #41628 closed

[2019-10-10 21:55] Tratcher commented on #41701
[code]
That one is also misleading. Include the response version in your results? It's silently downgrading.

[2019-10-10 22:12] JamesNK commented on #41701
Ah, I just went through the server logs and I was curious about that one. I felt like it shouldn't have been able to succeed, yet the server didn't report an error. I didn't know HTTP/2 had the ability to silently downgrade.

[2019-10-10 22:16] JamesNK commented on #41701
btw, I'm doing this same exercise on ASP.NET Core server - https://github.com/aspnet/AspNetCore/issues/14884

[2019-10-10 22:20] Tratcher commented on #41701
That's a client feature. It's probably sending ALPN values for HTTP/1.1 and HTTP/2, and when the server returns only HTTP/1.1 then the client silently downgrades to it, even though you asked for HTTP/2. They would need a different flag on the client to prohibit downgrading.

[2019-10-10 22:31] JamesNK commented on #33016
I believe that is an explicit error designed to provide feedback about the problem. TLS is not being attempted.

To properly test you would need to disable the check.

[2019-10-10 22:33] terrajobst commented on #32987
@hernot

Sure, but how often do you have to write code like this? It seems quite rare.

[2019-10-10 22:34] Tratcher commented on #33016
Failure is expected at the moment, SslStream as not been updated yet to call the new macOS API.

[2019-10-10 22:35] scalablecory commented on #41518
@wfurt maybe some day :)

Does OSX use one of the formats defined above?

[2019-10-10 22:40] terrajobst commented on #8126
There is no reason that they can't be:

[code]

[2019-10-10 22:41] wfurt commented on #41518
Yes it does @scalablecory

also the list of possible L2 types is very small. (unlike Linux)

[2019-10-10 22:44] wfurt commented on #33016
At this point it is not even clear if use of new API would be feasible. as @Tratcher mentioned, there is no change until SslStream (and this issues) is fixed.

[2019-10-10 22:59] scalablecory commented on #35404
Prototyping this now for benchmarking of #31308

[2019-10-10 23:17] terrajobst commented on #33714
It's not just performance; it's also consistency for library authors.

ShellExecute vs. CreateProcess have different feature sets, for example, when you want to redirect input/output. We feel it's more important to have consistency between all operating systems than to remain behavior compatible with .NET Framework.

[2019-10-10 23:19] terrajobst commented on #41391
Yes, they are now part of Azure and there is a new offering. `System.Speech` is not evolved anymore.

[2019-10-10 23:23] terrajobst commented on #27453
C# doesn't allow extension methods inside of non-static classes. This would require a new type (like `System.EnumExtensions`). Given that, I don't believe this minor syntactic sugar is worth it.

[2019-10-10 23:23] scalablecory commented on #35404
Summary of the use cases we've collected so far:

- Non-TCP transports, such as named pipes or unix domain sockets.
- Custom hostname resolution
    - Caching for environments with unreliable DNS.
    - TTL control, either extending or reducing.
    - Round-robin.
    - Prioritizing certain subnets i.e. in network vs out of network.
    - Filtering out IPv4 or IPv6 addresses.
- Binding to specific

[2019-10-10 23:28] guperrot opened #41722 "UWP: System.Reflection.MissingRuntimeArtifactException caused by Encoding.GetString(Byte*,Int32) reflection."
Microsoft AppCenter is trying to use System.Reflection.Metadata v1.7.0.

We are trying to extract some information about the native image from a stack trace frame for our crash reporting tool for apps compiled in .NET Native but not distributed in Windows Store.

One part of the code is using `System.Reflection.PortableExecutable.PEReader` and in particular the `ReadCodeViewDebugDirectoryData` tha

[2019-10-10 23:29] terrajobst commented on #27453
We should include `HasFlag` for internal consistency. For better or worse, `Enum` included this API and adding the generic wrapper is easier to explain than leaving it off. It also means developers don't have to repeat themselves:

[code]
However, I really don't think `HasAnyFlag` is worth it. For starters, it's much more rare and the C# syntax is even shorter:

[code]

[2019-10-10 23:33] terrajobst commented on #40947
I disagree. The MIT license is permissive any most real world software will already have to provide a TPN files b/c OSS is mainstream enough. One off licenses are expensive for us to maintain and will generally cause more confusion than whatever minor gains are to be had IMHO.

[2019-10-10 23:43] carlossanlop commented on #41015
Talked to Jeremy offline. The expectation is that because of that colon, an ADS is created automatically.

I modified the code I shared above to **avoid** replacing `:` with `_`:

[code]
This will create a file called "beforecolon", with empty contents, and with an attached ADS called "aftercolon.txt" with the text "Hello world" contained inside.

Then in Powershell 7 (which uses .NET Core), I can

[2019-10-10 23:52] #41108 closed

[2019-10-10 23:59] markgr commented on #41591
I am still getting this error even when I am 100% convinced I am only building with the GA DotnetCore 3.0

dotnet --list-sdks
2.1.302 [/usr/local/share/dotnet/sdk]
2.1.403 [/usr/local/share/dotnet/sdk]
2.1.505 [/usr/local/share/dotnet/sdk]
2.2.104 [/usr/local/share/dotnet/sdk]
2.2.300 [/usr/local/share/dotnet/sdk]
3.0.100 [/usr/local/share/dotnet/sdk]

dotnet --list-runtimes
Microsoft.AspNetCore.A

[2019-10-11 00:13] wfurt commented on #41588
you can always run Wireshark and filter for any traffic to to 5060. If you see failing IPv6 attempts @inmemorynet  that would confirm the suspicion. (80 may work if configured for both address families) You can also specify address family explicitly for TcpClient().

[2019-10-11 00:14] wfurt commented on #41551
what was original motivation for this split @stephentoub @geoffkizer

[2019-10-11 00:33] stephentoub commented on #41551
I'm not 100% sure, but I believe it was done to enable closing the underlying handle while synchronous operations were in flight (Dispose on a SafeHandle won't take effect until all add-refs have been released). That should no longer be an issue, as (as of @tmds' fixes) we now cancel all pending operations and prevent new ones from starting. If there was another motivation, I suspect it was either

[2019-10-11 00:39] geoffkizer commented on #23544
Modifying DefaultRequestHeaders after first use is a dangerous thing to do. If you're using the HttpClient from other threads (as recommended) you will get undefined behavior here.

[2019-10-11 00:39] geoffkizer commented on #41551
That's my understanding too.

[2019-10-11 00:42] acty-toshiko commented on #41720
Yes. In the case of Core 3.0, it worked.
I tried it with Core 2.1, but it got the same error as Core 2.2.

[2019-10-11 00:45] stephentoub commented on #41701
I don't believe this is going to add enough value to be worthwhile. But you're of course welcome to submit a PR if you believe otherwise.

(Part of the reason HTTP/2 is so wishy-washy about non-TLS support, and why our client doesn't officially support non-TLS, is because you need a priori knowledge of whether the server is doing TLS or not, and these failure modes just highlight that.)

[2019-10-11 00:48] ahsonkhan commented on #41591
@markgr - can you please share a simplified repro project where you are seeing this issue? That would help me root cause what's going on here. Thanks.

[2019-10-11 00:55] ahsonkhan commented on #41706
@msmolka - for the benefit of readers, can you explain what was your reasoning for closing the issue? Why is it invalid?

[2019-10-11 00:57] ahsonkhan commented on #41711
cc @layomia, @JeremyKuhne

[2019-10-11 01:05] mairaw commented on #33714
AFAIK @danmosemsft https://github.com/dotnet/corefx/wiki/ApiCompat is outdated.

@PriyaPurkayastha has now created a new process that allow us to better document these breaking changes at https://docs.microsoft.com/en-us/dotnet/core/compatibility/breaking-changes.

[2019-10-11 01:54] JamesNK commented on #41701
Don't underestimate how difficult it is to get this right. I would guess at least 50% of gRPC support issues are related to TLS and protocol. I think there are two causes:

1. HTTP/2 and TLS everywhere are relatively new. Not only do you have to worry about the client and the server, but there are proxies/load balancers that downgrade to HTTP/1, or terminate TLS. Additionally .NET is the only dev

[2019-10-11 02:00] jkotas commented on #27453
@terrajobst The generic HasFlag does not provide internal consistency. The generic HasFlag is static method, but the non-generic method is a instance method that is more convenient to use.

You can write this today as more concise `var x = dayOfWeek.HasFlag(DaysOfWeek.Monday)` and it works just fine. We run complex pattern matching in the JIT to convert it back to the efficient code that you would

[2019-10-11 02:28] stephentoub commented on #41701
Exactly.

[2019-10-11 02:29] markgr commented on #41591
I'll throw one together later - what's the chances that one works :)

[2019-10-11 02:49] JamesNK commented on #41701
Do you want me to stop?

Narrowing things down, most errors fall under three categories:
* Under HTTP/2, using h2c prior knowledge to call TLS endpoint. This error:
[code]
* I think a common error is related to not correctly setting `AppContext.SetSwitch("System.Net.Http.SocketsHttpHandler.Http2UnencryptedSupport", true)` when using h2c. I wonder if "HTTP/2 + no AppContext + `http://`" should just

[2019-10-11 02:51] karelz commented on #8715
Yeah, sorry - I misunderstood what was said in the triage meeting and made wrong comment. The API already exists and returns DateTimeOffset, we believe it is sufficient / not worth to do anything else here.

[2019-10-11 03:00] terrajobst commented on #27453
I see; `HasFlag()` is the only instance method in this set. In that case I agree that leaving it off makes more sense, which brings us back to:

[code]

[2019-10-11 03:11] markgr commented on #41591
Ok hit

https://github.com/markgr/BlazorJson.git

Just dotnet restore, dotnet build, dotnet run
open localhost:5000 - i think it redirects to the https - I literally created it out of the box.

Hit the Home page and click the 'Test Storage' button - check the console and you will see the error

Could not load type 'System.Text.Json.Serialization.JsonSerializerOptions' from assembly 'System.Text.Js

[2019-10-11 03:21] karelz commented on #40396
@lfshr we "asked" for packet capture (see https://github.com/dotnet/corefx/issues/40396#issuecomment-522892189). It might have been formulated better as a clear question/ask.
Either way, even after closing the issue, nobody spoke up for 4 weeks ... sounds like it was a good decision to close it.

[2019-10-11 03:23] TylerBrinkley commented on #27453
I'd love to submit the PR for these additions but would like to wait until the repo's are merged before doing so if no one else objects.

[2019-10-11 03:37] jkotas commented on #41722
This is problem in .NET Native. Can you please reach out to dotnetnative at microsoft dot com by email? It's a better channel to report .NET Native issues and get help.

[2019-10-11 03:39] wfurt commented on #26061
is there any work left on this @bartonjs? This was opened as question and it seems like the problem is understood and 3.0 changes should make this significantly better.

[2019-10-11 03:42] wfurt commented on #40204
we can test more @davidsh when we get runable repro or specific steps to reproduce.

[2019-10-11 03:48] jkotas commented on #41710
Visual Studio is closed source desktop app. I have in mind the standard of large open source infrastructure projects (OSes, compilers, core libraries, etc.). Are you aware of any non-.NET projects in this category that encourage submitting patches to servicing first and then automatically flow them to master?

Related: https://www.bing.com/search?q=upstream+first+policy

[2019-10-11 03:53] davidsh commented on #41720
I tried it with Core 2.1, but it got the same error as Core 2.2.

Thank you for the added information. Since this problem is solved on .NET Core 3.0, we will close the issue.  There are no plans to backport any fixes for this issue to prior versions of .NET Core. We recommend you use .NET Core 3.0 as it is the latest version of .NET Core.

[2019-10-11 03:53] #41720 closed

[2019-10-11 04:18] wfurt commented on #41685
seems like same  issues as  #6681. failing on OSX for 2+ years. It seems like this is either OSX bug or some behavior we don't fully understand.

[2019-10-11 05:49] #26061 closed

[2019-10-11 06:18] msmolka commented on #41706
@ahsonkhan Hello
I was looking why my json deserialization is not accepting `+1000`. as time offset in string.

But indeed above issue is valid. `JsonString` definatelly has wring fromat when producing or reading DateTimeOffset. Is should support exactly the same rules as `Serializer`

[2019-10-11 06:29] Tornhoof commented on #41711
The behaviour was changed in #39187
https://github.com/dotnet/corefx/blob/1247fa7a193e52bc89bc49c4ba6e44739df2dcee/src/System.Text.Json/src/System/Text/Json/JsonHelpers.Date.cs#L95-L97

In the original PR for DTO support for missing colons was specifically requested by @JamesNK

[2019-10-11 06:35] msmolka commented on #41711
Would it be possible to make it configurable? Do the same as current parser does + support for additional parsing. Especially when other older requests have to be accepted. Writing own parser and duplicate whole `JsonHelpers.Date.cs` class is a bit over the top.

[2019-10-11 06:39] jaymins93 commented on #41520
yes it returns correct values from out variable but failing in if condition but it should not

[2019-10-11 06:43] jaymins93 commented on #41520
that same value for tryparseecaxct works and ctor of datetime approach also works just tryparse fails , I am quite sure it I not formatting issue as it runs on same machine same  thread

[2019-10-11 07:06] pi3k14 commented on #13532
@dasetser
wtf - you moved this into the unforeseeable future?
Don't you want to on-board enterprise solutions to .Net Core, you want to push us all over to the dark side (java)?

[2019-10-11 07:34] cyperous commented on #40034
LastAccess change is also not working on Catalina, currently I have tools I use almost daily on my main mac running Mojave.  This issues is currently preventing me from upgrading to Catalina which sucks!

[2019-10-11 07:38] tmds commented on #41551
With the two handles, one is the public facing. When it has been disposed and released, the internal one does the actual close (`InnerSafeCloseSocket.ReleaseHandle`).
If we remove the `InnerSafeCloseSocket`, those operations will need to change to use a raw handle ptr.

[2019-10-11 08:06] krahu commented on #41292
Last version where it is working is **.NET Core 3.0 Preview 7**. You can try [CoreCompat](https://github.com/CoreCompat/CoreCompat) or  [CoreCompat v2](https://www.nuget.org/packages/CoreCompat.System.Drawing.v2/) which privide same namespaces. Or rewrite code to use SkiaSharp (or ImageSharp....) like us.

[2019-10-11 08:34] am11 commented on #13532
Going by https://referencesource.microsoft.com/#System.Transactions/System/Transactions/Oletx/DTCTransactionManager.cs,2c1154236b6b7acf, seems like there are some win32 specific components involved which probably is the main hurdle. Could someone shed light on what are those and what would require to bring them cross platform?

[2019-10-11 09:35] fubar-coder commented on #8126
I'm not an expert for localization edge cases, which means that I cannot be sure that the following situation can/cannot happen, but It may (IMHO) happen that you need different sentences depending on the value.

[2019-10-11 09:56] stephentoub commented on #41551
The operations inside the SafeHandle? Yes.

[2019-10-11 09:59] jods4 commented on #8126
The point that @terrajobst reponse misses is contexts where you _have_ to use format strings. (Example: reports).
By the team argument, `IFormattable` should not exist nor be a feature as you can do
`$"The Temperature is {temperature.ToString("N0")}, which is {TempEnum.Hot.ToName()}"`.

But that ship has sailed.
.net team was nice enough to examine the feature against, they decided not to do it.
L

[2019-10-11 10:11] ppekrol opened #41728 "StackOverflowException not happening in Release"
Hi,

by mistake we have created a recursive call with endless loop and in `Debug` this flow throws after few seconds SOE, but when running in `Release`, the recursive call loop never ends. I do not think that this is by design?

Repository:
https://github.com/ppekrol/ravendb/tree/RavenDB-13682-hang

Test: `SlowTests.MailingList.Nberardi.Spatial_Search_Should_Integrate_Distance_As_A_Boost_Factor`

[2019-10-11 10:17] tmds commented on #41551
@stephentoub you can assign this to me.

[2019-10-11 10:26] stephentoub commented on #41551
Awesome.

[2019-10-11 10:31] stephentoub commented on #41728
It's probably getting optimized into a tail call, which won't stack dive.

[2019-10-11 11:20] artemlos opened #41739 "System.Reflection.RuntimeAssembly not serializable"
# Computing a hash of the calling assembly

I would compute the hash of the calling assembly, similar to the way it can be done in .NET Framework using the code below:

[code]

Since this does not seem to be possible in .NET Core, I have tried to use the Binary Formatter to serialize the object returned from `Assembly.GetCallingAssembly()`, using the code below:

[code]

This gives me the error:
[

[2019-10-11 12:06] math084m commented on #38173
@stevenruizhang Will you please confirm if you got it to work or not?
I am currently struggling with the same issue.

[2019-10-11 12:14] AntonLandor opened #41729 "Quick Start Guide for New Contributors Guide"
The changes in #41555 are great since the wiki was really outdated and lacking. However, as I quite recently was a new contributor I would like to see some short and concise _Quick Start Guide_ or similar since that would be really helpful for me when I was new here. When first looking into this project it may seem very overwhelming to make your first contribution, and a simple quick start guide c

[2019-10-11 12:47] cmeeren opened #41732 "HttpUtility.ParseQueryString doesn't roundtrip when there are keys that only differ by case"
Using .NET Core 3.0, `HttpUtility.ParseQueryString` doesn't rountrip when there are keys in the query string that only differ by case.

[code]

AFAIK [query strings are case sensitive](https://stackoverflow.com/a/24700171/2978652).

Possibly related: https://github.com/dotnet/corefx/issues/32575

[2019-10-11 12:59] AlbertoSadoc opened #41733 "Uri.ToString replaces %20 with space in Uri query (non-compliant URI)"
## Simplified repro
[code]

-------------------------------------------
## Original repro

I have created a new Uri to use in [OpenApiOAuthFlows](https://github.com/microsoft/OpenAPI.NET/blob/master/src/Microsoft.OpenApi/Models/OpenApiOAuthFlow.cs) which contains query parameters with %20 instead of spaces.

OpenApiOAuthFlows is used to generate a JSON file to comply with OpenAPI in Swagger but th

[2019-10-11 13:03] MarkPflug commented on #41728
A crashing app is cheaper to run on Azure than an app that spins. 🤣

[2019-10-11 13:08] EgorBo commented on #41728
You can disable this optimization via `COMPlus_TailCallLoopOpt=0` env. variable.

[2019-10-11 13:10] danmosemsft commented on #41728
BTW feel free to vote for https://github.com/dotnet/coreclr/issues/20478

[2019-10-11 13:17] danmosemsft commented on #40034
@cyperous could you please open a separate issue for that? It would be ideal, if you'd like to help, to include what events ARE firing if any. If they're not firing an event at all any more, then it would be a bug for Apple.

[2019-10-11 13:19] hsorbo opened #41734 "System.IO.Directory.Move fails between two mounts on Linux"
On Linux/netcore3 `System.IO.Directory.Move` throws `System.IO.IOException: Invalid cross-device link` when trying to move a folder between two mounts/disks in Linux.

`System.IO.Directory.Move("/tmp/foo","/tmp/baz"); //works`
`System.IO.Directory.Move("/mnt/notsamedisk/foo","/tmp/baz"); //throws`
[code]

[code]

uname -a `
Linux Test 5.0.0-1018-azure #19~18.04.1-Ubuntu SMP Wed Aug 21 05:13:05 UTC

[2019-10-11 13:22] ppekrol commented on #41728
The problem for us was that during CI (which runs in Release) for each PR we are running tests in parallel (8), so it was 'not easy' to pinpoint the cause. I would expect runtime to guard against human mistakes and 'inform' me (by throwing SOE). In general I think that runtime should just die, not spin endlessly.

[2019-10-11 13:34] TylerBrinkley commented on #27453
Also, with nullability now in C# 8, `GetName` should return `string?` as `null` is returned when the value is not defined.

[2019-10-11 13:38] vcsjones commented on #41734
Based on [the documentation][1], this might be expected, or at least known, behavior:

[1]: https://docs.microsoft.com/en-us/dotnet/api/system.io.directory.move?view=netcore-3.0#exceptions

[2019-10-11 13:55] vcsjones commented on #41734
/cc @JeremyKuhne

[2019-10-11 14:05] stephentoub commented on #41701
Pasting all of these call stacks and cases doesn't really help, though I appreciate your efforts to try to improve things.

There are generally three categories of changes I think you're hinting at:
1. Parsing/interpreting byte patterns to guess at why an error might be happening.
2. Changing error messages based on concrete context we already have readily and cheaply available.
3. Statically-dete

[2019-10-11 14:15] terrajobst commented on #27453
No objections; this is going to be a 5.0 feature anyway.

[2019-10-11 14:52] DrGriff commented on #11142
I believe that "[Required] & [EmailAddress]" should ensure that a) a value is provided and that b) it is valid, whereas [EmailAddress] on its own should have empty string or null as acceptable, and this should have been how the other validators worked.

But, I appreciate that this would be a breaking change.

So, can you allow us to inject a boolean flag to say whether null/empty are acceptable, e

[2019-10-11 15:01] #6681 closed

[2019-10-11 15:01] #41685 closed

[2019-10-11 15:09] wuchang commented on #41292
遇到相同的问题
``` g.DrawString(“1234”，....```

![TIM截图20191011230756](https://user-images.githubusercontent.com/137900/66662776-08d83e00-ec7c-11e9-889f-70510e14976a.png)

[2019-10-11 15:16] danmosemsft commented on #41734
https://github.com/dotnet/corefx/pull/40611

[2019-10-11 15:30] JonathanPCGuy commented on #36555
@karelz ideally for me i think the ALPN list is ultimately up to the developer and they should be aware of the consequences of specifying http2 and a custom ALPN. i think though if people go out of their way to specify a custom alpn list they have a pretty good reason to do so, and we should probably respect that as long as it doesn't break normal operations for everyone else.

going back to 3rd p

[2019-10-11 15:33] stephentoub commented on #36555
@JamesNK was just asking about this in https://github.com/dotnet/corefx/issues/41701.  Changing our logic here to respect the ALPN list if provided would allow, for example, gRPC to prohibit downgrading to HTTP/1.1.

[2019-10-11 15:36] robert-matusewicz commented on #1739
awesome, thank you for explaining that to me:) @karelz can you assign me to that ticket - I will be slowly working on it.

[2019-10-11 16:12] Clockwork-Muse commented on #41520
....yeah, that's not possible.  [The operator solely compares ticks](https://github.com/dotnet/corefx/blob/ac99a1b7168bd32046a954c3f06012c0fa909bed/src/Common/src/CoreLib/System/DateTime.cs#L1430), so assuming the parsed value is correct, the comparison will work as well.

ergo, you have a parsing problem, and your real code is handling dates/formats incorrectly (possibly, the heuristics in `TryPa

[2019-10-11 16:33] Clockwork-Muse commented on #41728
@ppekrol - This is known as the [Halting Problem](https://en.wikipedia.org/wiki/Halting_problem).

The computer/runtime doesn't actually know that the SOE is actually "wanted", per se - it's only throwing the error because of a limitation of physical reality - [and it's possible to get SOEs through other, non-recursive, means](https://en.wikipedia.org/wiki/Stack_overflow#Very_large_stack_variables

[2019-10-11 18:02] JeremyKuhne commented on #41734
It is something we didn't put effort in to support, primarily because the code was utilizing [`MoveFile`](https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-movefile). I'm not opposed to changing the behavior, it would just be significant effort (particularly from the test perspective).

[2019-10-11 18:02] guperrot commented on #41722
I will reach out to them then. Thanks.

[2019-10-11 19:57] JamesNK commented on #41701
That's fair. I'm not pushing for large changes, but exploring what opportunities there are for quick wins.

* a) https://github.com/dotnet/corefx/issues/36555 looks like a promising feature for improving some of these customer issues.
* b) "if the client determines it can't use HTTP/2, it simply won't, and will downgrade to 1.1" - I didn't know this was desired behavior. I guess my use case is rel

[2019-10-11 20:23] safern commented on #41292
Thanks for the report. I've assigned a milestone, it indeed seems like a regression, I will investigate, and see try to root-cause the issue. If it is indeed a regression, will change the milestone to 3.x and try to get it for our 3.1 release

[2019-10-11 20:27] terrajobst commented on #36379
@tannergooding

Should this be in the 5.0 milestone?

[2019-10-11 20:44] tannergooding commented on #36379
Yes. Thanks!

[2019-10-11 20:44] mkArtakMSFT commented on #41031
@danmosemsft I just moved this issue over here. The original author of the issue is @thanuja89.

@thanuja89, per @danmosemsft's ask above, can you share a repro project so this can be investigated further?

[2019-10-11 20:45] bartonjs commented on #41475
Based on offline discussion and further investigation:

* Things **do** work when building full chains and the end-entity certificate is only covered by OCSP, and the issuing CA is covered by CRL.
  * So Let's Encrypt works
* Things **don't** work when the end-entity and the issuing CA _both_ are OCSP-only.
  * CA/Browser forum says that public CAs have to have CRL covering their issuing CAs, so t

[2019-10-11 21:00] dtivel opened #41738 "[Linux] X.509 chain building: EndCertificateOnly does not work when end entity is covered only by OCSP"
Found while investigating https://github.com/dotnet/corefx/issues/41475.

CC @bartonjs

[2019-10-11 21:09] ryanbrandenburg opened #41740 "NetworkAddressChanged event hangs process on Mac"
# Repro steps

1. Install 3.0 RTM
2. `dotnet new console`
3. Replace Program.cs with the following:

[code]

# Expected Result

The process should exit.

# Actual Result

The process does not exit.

# Details

Thread dumps indicate that this line is the problem:

https://github.com/dotnet/corefx/blob/d3911035f2ba3eb5c44310342cc1d654e42aa316/src/System.Net.NetworkInformation/src/System/Net/NetworkI

[2019-10-11 21:10] danmosemsft commented on #41031
Does look like a dupe of https://github.com/dotnet/corefx/issues/38641 but I'll leave this open so the team can see the feedback.

[2019-10-11 21:21] karelz commented on #41740
@wfurt can you please take a look?

[2019-10-11 21:25] danmosemsft commented on #41740
It should be background. I looked at all the othre managed threads we start, and found two others that look like they should be set to background as well.

https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Win32.cs#L180
https://github.com/dotnet/corefx/blob/ec1ab377f9dfa2daa379df4eb22fbe73ebd3aa69/src/System.Net.Requests/src/System/Net/Timer

[2019-10-11 21:35] artemlos commented on #41739
@scalablecory The Hash class requires [System.Security.Policy Namespace](https://docs.microsoft.com/en-us/dotnet/api/system.security.policy?view=netframework-4.8&viewFallbackFrom=netstandard-2.1), which is not supported in .NET Standard.

I double checked .NET Core 2.0 and the namespace seems to be supported (based on docs page), but it would be good if there would be a way to do this in .NET Stan

[2019-10-11 21:58] danmosemsft commented on #41729
@carlossanlop

[2019-10-11 22:10] steveharter commented on #41383
Clarification: there is no "default" naming policy -- just a lack of a naming policy which is represented by a `null` for the naming polices (e.g. `PropertyNamingPolicy` and `DictionaryKeyPolicy` properties).

The lack of a naming policy just means the JSON will use the names of the POCO properties as-is (which are typically Pascal-cased).

[2019-10-11 22:23] GrabYourPitchforks commented on #41739
What exactly are you trying to compute? A hash of the name, a hash of the actual DLL bytes, or something else?

[2019-10-11 23:05] scalablecory commented on #41732
@cmeeren can you check if this behavior existed in .NET Core 2.2 and Framework 4.8?

[2019-10-11 23:26] GrabYourPitchforks commented on #41713
I don't know if there is any way to get that information in a reliable fashion. Your application's threads could appear paused for a variety of reasons. Perhaps somebody manually paused it through the threading APIs. Perhaps there are so many threads being managed by the system that your threads' quanta are further apart than you expected. The debugger is just one of many reasons your thread might

[2019-10-11 23:36] hyspdrt commented on #39828
RE: HTTP2 without https and AppContext.SetSwitch

I found that, by applying the AppContext.SetSwitch before you make your remote call, yet after you've created the client, it then works.

It doesn't appear to persist when set, in say program Main.

[2019-10-12 00:28] mvalenta commented on #41518
@wfurt

The pull request #41696 that I put in supports the 0011.2233.4455 Cisco format. If you think I should remove that support, please let me know.

Personal opinion, I would think that support for that format would be fine, even if .NET doesn't explicitly run on Cisco gear, as you might need to interact with some Cisco gear via .NET. I'm okay with not supporting it though

[2019-10-12 00:31] scalablecory commented on #41518
@mvalenta: please remove the Cisco format; it may be more appropriate in a separate "network admin" Nuget library. If the ask for it gets large enough later, we can reconsider.

[2019-10-12 00:41] scalablecory commented on #35404
Something like @davidfowl's [Bedrock](https://github.com/davidfowl/BedrockTransports) might be related work.

[2019-10-12 01:50] Clockwork-Muse commented on #41713
I think the concern was specific to the debugging case.

Another alternative would be to set breakpoints before timeout checks, and manipulate the stored "start" value.

Yet another alternative would be to have your constructor take a tick `Func<long>`, which would mean you could substitute whatever kind of ticking behavior you wanted.  It would also make tests in general easier for the same reaso

[2019-10-12 01:51] david-tamar commented on #23381
I just wanted to note that if anyone still needs proper support for True Color (24-bit), 256-colors (8-bit), or just the usual 16 (4-bit) colors and ANSI escape codes (bold/italic/underlined text etc) on terminals that support it on Linux/POSIX, then I have [re-implemented](https://github.com/david-tamar/ansi-term) the `System.Console` class and made it fully compatible with ANSI escape codes and

[2019-10-12 05:52] Gnbrkm41 commented on #23448
Opened a fix PR that (hopefully) points these out in dotnet/dotnet-api-docs repo.

[2019-10-12 06:06] geoffkizer commented on #41701
Re the "9 additional bytes" message, I agree that this is not the most useful message and we should surface a better message here. I have a pending change to improve this that will at least make the message slightly more useful -- something like "the server unexpectedly closed the connection", along with the GOAWAY error code we received, if any.

I'm not sure how much this actually improves thing

[2019-10-12 07:01] Gnbrkm41 commented on #25344
I wonder what is the design decision here, whether `IndexOutOfRangeException` is okay for perf reasons or to eventually change to `ArgumentException`? I was editing the documents for the constructors and I'm stuck whether to document the exception thrown when the length of the array is less than `Count`.

[2019-10-12 08:55] jkotas commented on #25344
Yes, it is fine to document the current behavior for exception thrown by Vector<T> constructors. `Vector<T>` constructors do not follow the framework design guidelines for performance reasons. Another difference from the standard is that they throw NullReferenceException (vs. the ArgumentNullException suggested by the framework design guidelines).

[2019-10-12 09:01] artemlos commented on #41739
@GrabYourPitchforks I would like to compute the hash of the actual DLL bytes.

[2019-10-12 09:05] pekspro opened #41743 "Could ConfigurationProviders load their data in parallel on start-up?"
I’m using both Azure KeyVault and Azure App Configuraton as ConfigurationProviders in a .NET Core 3 web application, also when I’m debugging. For me KeyVault adds about 5 seconds extra during launch, and App Configuration about 1 second. And this adds up to 6 seconds extra delay.

But couldn’t these providers load their data in parallel? It looks to me like they are running in serial, which make m

[2019-10-12 09:14] jkotas commented on #40740
Another naming idea: `LimitedUnmanagedMethodAttribute`. It is the name we use for similar purpose in the unmanaged runtime annotations (https://github.com/dotnet/coreclr/search?q=LIMITED_METHOD_CONTRACT).

[2019-10-12 09:53] svick commented on #41539
Why would you need any special `OpCode`s for that? Have you tried `call`ing the new methods?

[2019-10-12 10:16] cmeeren commented on #41732
Code:

[code]

`netcoreapp3.0` as described:

[code]

`netcoreapp2.2` suffers from the problem in #32575:

[code]

`net48`, `net472`, `net461` (all with `<Reference Include="System.Web" />`) are same as `netcoreapp3.0`:

[code]

[2019-10-12 10:18] iSazonov commented on #41518
My initial request come from PowerShell experience. PowerShell is for _management_. That includes scenarios parsing logs of different vendors. Taking in account that Cisco is dominate it would be very amazing ignore Cisco format. But my request is not about AI, automatic recognizing MAC formats. I'd expect that the API will implements IFormatProvider so that users get universal API. Usually users