[2018-03-06 15:54] davidsh commented on #27765
cc: @stephentoub @wfurt

[2018-03-06 16:05] Reelix commented on #27778
I completely understand, although it seems HttpClient also seems to be missing most of the same ease-of-use properties, and the ability to change said properties is also hidden behind more obscure string-referenced header properties :) Should I create a new issue for HttpClient?

[2018-03-06 16:46] ericstj commented on #27771
Is this only netfx or is it core as well?

[2018-03-06 16:47] ericstj commented on #27771
I suspect if this is failing we'll also need to disable the concurrent timers test.  If its happening for Core as well I'll add some logging and hopefully we can find out what's going wrong.

[2018-03-06 16:51] stephentoub commented on #27771
Core as well, e.g.
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/cf51308927f648c6f751dd4451c4a984744cb7b2/workItem/Microsoft.Win32.SystemEvents.Tests/analysis/xunit/Microsoft.Win32.SystemEventsTests.CreateTimerTests~2FTimerElapsedSignaled

[2018-03-06 17:00] ericstj commented on #27771
I see.  I have a theory for what's going on.  I believe it is the same race condition I worked around here: https://github.com/dotnet/corefx/commit/ecf00da10b26c962d3363fd2f01c88b4f77e4ae9

Essentially one thread starts creating the HWND and that allows another thread to proceed through EnsureSystemEvents even though the HWND doesn't exist yet.

I worked around this a bit in the tests that send me

[2018-03-06 17:00] ppman11 commented on #6913
@danmosemsft Is the nuget package for this available currently?

[2018-03-06 17:13] danmosemsft commented on #6913
@ppman11 yes it's on nuget here:
https://www.nuget.org/packages/System.Diagnostics.EventLog/4.5.0-preview1-26216-02

If you need compat shims (ie., you want to reuse a binary that was built against .NET Framework) you also need https://www.nuget.org/packages/Microsoft.Windows.Compatibility.Shims/2.0.0-preview1-26216-02

Normally these would be wrapped up in a metapackage but there has been a delay

[2018-03-06 17:28] jcagme commented on #27510
One more hit: https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1445975

[2018-03-06 17:33] danmosemsft commented on #27723
@Toxantron yes this looks great. Next step is the area owner gives feedback. Note that we are in API freeze for our 2.1 release. So there is no particular rush unfortunately. If it seems like this got lost feel free to ping me on the issue.

[2018-03-06 17:35] jeffkl opened #27779 "Wildcard pattern is matching files incorrectly."
Some MSBuild tests started failing against the latest .NET CLI preview because file pattern matching is returning unexpected results on Linux and Mac.

# Repro:

1. Create two files in the program output directory, `Foo.cs` and `Foo2.cs`
2. `dotnet run` the following:
[code]

# Expected Result
Program should print out the path to `Foo2.cs` since its file name has four characters that match the fou

[2018-03-06 17:40] saurabh500 commented on #27769
What OS is this on?

[2018-03-06 17:42] karelz commented on #16010
@jnm2 the "assigned person" already replied a year ago: https://github.com/dotnet/corefx/issues/16010#issuecomment-278776513
Next step is to see formal API proposal as mentioned above.

[2018-03-06 17:42] saurabh500 commented on #27769
Looks like you are using macOS and connecting to Azure Sql.  I know about this problem and there is a PR in progress to help alleviate asynchronous execution with asynchronous API in encrypted connections

Please confirm that I got your environment right.

[2018-03-06 17:45] karelz commented on #27730
Great! Did you get a chance to run Fiddler on the repro to see if the server communication is bogus vs. if it is internal libcurl hiccup?

I also wonder if you could try a C++ app using libcurl to do the same (1000 requests) - running curl in bash spins up always a new process, so I assume it is not quite the same repro as the .NET app. That would tell us if it is libcurl problem vs. .NET problem.

[2018-03-06 17:49] rmkerr commented on #25519
This is fixed in .NET Core 2.1. The fix made it in to the first 2.1 preview release if you'd like to test it.

[2018-03-06 18:01] johnkors commented on #27686
Just hit this issue as well. As a fix has been merged - how can I follow what version this will be deployed as part of..?

[2018-03-06 18:05] karelz commented on #27778
Feel free to create [formal API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) for HttpClient if you think it is valuable.
We will need to consider the ease of use vs. having multiple ways of doing the same thing. If the specific headers are very popular (would be good to gather some evidence - e.g. github search / Stack Overflow questions,

[2018-03-06 18:05] #27778 closed

[2018-03-06 18:10] karelz commented on #22781
The underlying problem is actually in VS tooling (not causing conflicts to resolve them and auto-generate binding redirects), it is not a bug in .NET Core itself (hence it does not matter if you have .NET Core 2.0 or 2.1).
@joperezr in which VS version should the fix show up?

[2018-03-06 18:12] ppman11 commented on #6913
@danmosemsft Thanks Dan. That was helpful.

[2018-03-06 18:13] WinCPP commented on #25344
@fiigii @4creators now taking a look into this. Thanks for inputs.

[2018-03-06 18:13] karelz commented on #27745
@mconnew I expect that we will add new features and APIs primarily into `SocketsHttpHandler`. I do not expect that we will keep adding the same feature into WinHttp/LibCurl handlers once `SocketsHttpHandler` is proven & mainstream (hopefully even during 2.1).

[2018-03-06 18:18] karelz commented on #15554
@Jlalond great to hear! Let us know if you need any help.
I sent you collaborator invite, that will allow us to assign the issue to you (GH limitation). Ping me once you accept and I will assign the issue to you.
Becoming collaborator will subscribe you to all repo notifications (500+ per day). We recommend everyone to switch the repo to "Not watching" - you will be notified only about issues wher

[2018-03-06 18:25] nils2612 commented on #27769
We can reproduce that problem on macosx, debian and ubuntu (docker and w/o docker).

Can you send me the pr?

[2018-03-06 18:30] krwq commented on #27740
@stephentoub @danmosemsft do you perhaps know if this is Ubuntu specific or has it happened also on other platforms?

XmlSchemaValidatorApi has similar project structure and same configuration file so would expect both of them fail at some point - pretty weird only one of them is failing.

@dotnet/dnceng, do you perhaps know if there are any known issues this may fall into? This suggest it might b

[2018-03-06 18:31] keeratsingh commented on #27605
Thank you Omar for the repo, I will investigate further and get back to you.

[2018-03-06 18:33] saurabh500 commented on #27769
https://github.com/dotnet/corefx/pull/27743

[2018-03-06 18:34] saurabh500 commented on #27769
Basically non-Windows systems. Also you are seeing this with Encrypted connections, is that right?

[2018-03-06 18:34] mconnew commented on #27745
@karelz, I understand that the existing implementations aren't expected to get it. There are multiple ways to do this, for example you could bring over the AuthenticationManager.CustomTargetNameDictionary api and have SocketsHttpHandler use that to find the mapping, that way HttpClientHandler wrapping SocketsHttpHandler could still be used. Another option is to add it to HttpClientHandler and add

[2018-03-06 18:36] Chrisboh commented on #27740
@krwq Have you tried getting a repo via the repro tool to see if CoreRun was passed in with the payloads?

[2018-03-06 18:37] saurabh500 commented on #27686
If you are open to using our nightly builds, then try https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Data.SqlClient v

4.5.0-preview2-26305-02

Else this should be in preview 2

[2018-03-06 18:40] krwq commented on #27740
@Chrisboh - it shows as "passed" and shows different output to one @stephentoub has pasted.

[2018-03-06 19:00] karelz commented on #27745
Good, I was just checking your expectations :) ... I think we are aligned here.

[2018-03-06 19:01] karelz commented on #27764
I think it would be best to move the discussion to ASP.NET Core repo https://github.com/aspnet as it is unrelated to CoreFX. @shaulbehr are you ok if I close it here?

[2018-03-06 19:02] stephentoub commented on #27390
Again here on Win7:
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/0d02f95aa9399f246d59f15f4a2b57029b1231a5/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpCookieProtocolTests~2FGetAsyncWithRedirect_SetCookieContainer_CorrectCookiesSent

[2018-03-06 19:11] karelz commented on #27779
@jeffkl do you know if it is a regression against 2.0?

[2018-03-06 19:17] karelz opened #27783 "[Preview2] Make SocketsHttpHandler default Handler"
We want to switch default HttpClientHandler to SocketsHttpHandler for 2.1 (starting with Preview2).

We need to keep the escape route to fall back to WinHttp & LibCurl handlers (when explicitly set).
Most relevant code is here:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpClientHandler.cs#L17-L37

Part of the task is also to:
1. Verify all CoreFX tests p

[2018-03-06 19:17] stephentoub opened #27784 ""_currentSocket.SafeHandle is invalid" assert in System.Net.Http tests"
[code]

[2018-03-06 19:18] stephentoub commented on #27771
You're right, they just failed here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/66d5efaf79c0561da5b90c3c548fd3d0f43bb579/workItem/Microsoft.Win32.SystemEvents.Tests/analysis/xunit/Microsoft.Win32.SystemEventsTests.CreateTimerTests~2FConcurrentTimers

[2018-03-06 19:20] geoffkizer commented on #27783
cc @stephentoub @dotnet/ncl

Presumably, we will do this work in the Preview2 branch, right?

[2018-03-06 19:20] ericstj commented on #27771
I have a real fix ready just need to submit the PR once out of meetings

[2018-03-06 19:20] geoffkizer commented on #27783
@pjanotti How are the WCF stress tests looking?

I wonder if there are Data stress tests we could run as well...

[2018-03-06 19:22] eerhardt commented on #27750
Note, the argument names need to be updated in both corefx and coreclr.

[2018-03-06 19:23] adamsitnik opened #27786 "[Perf] XmlSerializer.Deserialize() regression between 2.0 and 2.1 for Linux (around 100%)"
I have verified that the initial regression of 30% for Windows (#27636) was fixed by https://github.com/dotnet/coreclr/pull/16654 and https://github.com/dotnet/coreclr/pull/16659

Unfortunately, this is not true for Linux (at least Ubuntu 16.04). `XmlSerializer.Deserialize()` is 100% slower for Linux, when comparing 2.0 and 2.1

You can use following code to reproduce the problem:

[code]

[2018-03-06 19:23] karelz commented on #27783
@geoffkizer we will do it first in master. If Preview2 is branched out by the time we check in the change, we will port the change into Preview2 branch.

We also need to keep testing WinHttp & LibCurl handlers (swap ManagedHandler tests to PlatformHandler tests).

[2018-03-06 19:23] adamsitnik commented on #27636
I have verified that the initial regression of 30% for Windows (#27636) was fixed by https://github.com/dotnet/coreclr/pull/16654 and https://github.com/dotnet/coreclr/pull/16659

Unfortunately, this is not true for Linux (at least Ubuntu 16.04). `XmlSerializer.Deserialize()` is 100% slower for Linux, when comparing 2.0 and 2.1. I created a separate issue for that: #27786

[2018-03-06 19:23] #27636 closed

[2018-03-06 19:23] jeffkl commented on #27779
We only saw it after we updated to `2.1.300-preview2-008293` so I don't think so.

[2018-03-06 19:24] geoffkizer commented on #27783
Assuming we do this, will we expose CurlHandler publicly?  Or only using the env var?  WinHttpHandler is already public.

[2018-03-06 19:27] geoffkizer commented on #27783
Yeah.  The tricky thing here will be that if we don't make CurlHandler public, there's not a direct way to construct it.  This is solvable, just a little tricky.

[2018-03-06 19:27] stephentoub commented on #27771
Ok, thanks.

[2018-03-06 19:31] #27660 closed

[2018-03-06 19:33] stephentoub commented on #27783
I don't think it should be public. Ideally we would retire it as soon as possible :)

[2018-03-06 19:35] stephentoub commented on #27783
I think we do it in master, and then if we'be already forked off for preview 2, we port the change to the release branch.

[2018-03-06 19:37] pjanotti commented on #27783
@geoffkizer regarding WCF Stress: I tried various variations regarding #threads types of streaming and I am starting to make some variations with very reduced timeouts, and so far I only got timeouts (which is good and expected, while I bit frustrating to me since I was hoping to find some bugs).

Do we have some fuzzing planned around it? This could be a good avenue to find any issues and get mor

[2018-03-06 19:39] stephentoub commented on #27783
Sorry but not sorry :smile:

[2018-03-06 19:39] karelz commented on #27779
@jeffkl which version did you update from? Earlier 2.1? 2.0? 1.x?

[2018-03-06 19:40] JustArchi commented on #27730
Well, my C++ is rather rusty, but I managed to merge two samples together and create C++ libcurl repro as well, so it's not .NET Core issue at all, like you both initially guessed.

[code]

![image](https://user-images.githubusercontent.com/1069029/37054175-690ac74a-217e-11e8-8e9d-c17a0656cfb3.png)

I'll forward this where appropriate and leave a note, since it's definitely not .NET Core issue at

[2018-03-06 19:40] #27730 closed

[2018-03-06 19:41] Jlalond commented on #15554
Hey @karelz can you resend the invite? I managed to fat finger it on my phone

[2018-03-06 19:44] karelz commented on #15554
Resent

[2018-03-06 19:50] Jlalond commented on #15554
Thanks, I'll hopefully set out a very small PR to get some feedback, and then work on more tests.

[2018-03-06 19:55] nils2612 commented on #27769
I tried to set encrypt to false, but i am not sure if that is working..

[2018-03-06 19:56] nils2612 commented on #27769
If that's the right approach it didn't help..

[2018-03-06 19:58] saurabh500 commented on #27769
With Azure Sql db, setting Encrypt=False doesn't help.
For Sql server and client, the server has the last say in encryption. Even if the client says it doesn't want to encrypt, and the server says that it wants encryption, encryption will be used.
In case of Azure SQL DB, encryption is always forced by the server.

[2018-03-06 19:58] AndyAyersMS commented on #27636
I would hope when taking dotnet/coreclr#16659 into account that master would now be a bit faster than 2.0 -- the change in dotnet/coreclr#16654 should have undone the regression all by itself.

[2018-03-06 20:07] tarekgh commented on #27764
This issue was moved to aspnet/Home#2928

[2018-03-06 20:07] #27764 closed

[2018-03-06 20:12] AndyAyersMS commented on #27636
Saw you left a note over in dotnet/CoreCLR#16659 that you see ~3% or so from this change, so is master now 3% faster than 2.0?

[2018-03-06 20:14] nils2612 commented on #27769
Okay, understood. Just for clarification, does this pull request also effect the not async function, when encrypted? Because we just made other test load tests in none windows environments (w/o async) and we got other ssl related connection errors under high load. With windows its all working like a charm.

[2018-03-06 20:15] saurabh500 commented on #27769
No the PR doesn't affect non-async scenarios on non-Windows. Can you post the errors?

[2018-03-06 20:16] mconnew commented on #27783
I have a few questions. Is the `AppContext` switch stable enough that WCF can rely on it to detect which is used? I'd like to add back in our usage of the Expect 100-Continue header and get rid of our priming HEAD request but only when using `SocketsHttpHandler`.
Is there a way to override this on a per usage basis? For example, there might be a scenario discovered that is broken for WCF when usin

[2018-03-06 20:17] jherby2k commented on #24483
I have this issue as well. I have a netcore2.0;net471 multi-targeted test project that uses several netstandard2.0 libraries, one of which references Microsoft.Win32.Registry. The tests that exercise the registry work fine via netcore2.0, but throw the afformentioned exception when running under net471. Shouldn't this library just be a façade for the same Registry types in mscorlib when running un

[2018-03-06 20:17] saurabh500 commented on #27769
Also what is the magnitude of the load that you are generating?

[2018-03-06 20:18] davidsh commented on #27783
Not sure if this matters, but this change will not affect UAP version of HttpClientHandler.  That will continue to use WinRT underneath.

[2018-03-06 20:19] nils2612 commented on #27769
A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: SSL Provider, error: 31 - Encryption(ssl/tls) handshake failed)

Feels weird, because 100% same code and same VM Size.

On Windows we were possible to do 350 req/sec of the  "Sync ef example" from above. On linux on 20-40 req/sec the errors starts occurring frequently.

[2018-03-06 20:20] saurabh500 commented on #27769
Is this error during the Connection.Open() phase?

[2018-03-06 20:22] nils2612 commented on #27769
'''
at System.Data.ProviderBase.DbConnectionPool.TryGetConnection(System.Data.Common.DbConnection owningObject, System.UInt32 waitForMultipleObjectsTimeout, System.Boolean allowCreate, System.Boolean onlyOneCheckConnection, System.Data.Common.DbConnectionOptions userOptions, System.Data.ProviderBase.DbConnectionInternal& connection) in "System.Data.ProviderBase.DbConnectionPool" line 96
2
at Syste

[2018-03-06 20:25] mconnew commented on #27783
@davidsh, that matters a LOT. WinRT HttpClient has some issues which we can't work around. Are there some dependencies missing on WinRT that would be needed to use SocketsHttpHandler?

[2018-03-06 20:25] saurabh500 commented on #27769
Yes this is connection.Open() scenario. Also connection pool blocking period seems to be in play here, where the connection pool throws the cached error for 5 seconds in case a connection failed to establish in the connection pool.

Would it be possible for you to post a repo on Github with your repro?

[2018-03-06 20:26] adamsitnik commented on #27636
@AndyAyersMS Sorry for not making myself clear. Master is actually a little bit faster (few %) than 2.0 now. So for Windows not only the regression is gone, but it's also few % faster (depending on the scenario). For Linux (at least Ubuntu 16.04) it's still 100% slower.

[2018-03-06 20:27] saurabh500 commented on #27769
Re

Preferably without EF.

[2018-03-06 20:28] nils2612 commented on #27769
I can do that tomorrow, it's also reproducible without EF.

[2018-03-06 20:29] saurabh500 commented on #27769
Sounds good.

[2018-03-06 20:39] davidsh commented on #27783
I think in theory SocketHttpHandler can certainly be used for UAP.  However, right now it doesn't have HTTP/2 support.  So, that would be a regression in functionality.  And regressing UAP functionality could affect Store apps etc.

Right now, this GitHub issue is about non-UAP and just replacing WinHttpHandler and CurlHandler with a single SocketsHttpHandler.  There isn't any specific timeline be

[2018-03-06 20:43] jeffkl commented on #27779
We noticed it in a PR from `2.1.300-preview2-00804` to `2.1.300-preview2-008293`.

https://github.com/Microsoft/msbuild/pull/2961/files#diff-9260067da6a2db86b9a5db30fa8ee2ae

[2018-03-06 20:48] mconnew commented on #27783
@davidsh, so this is a great example for my earlier [question](https://github.com/dotnet/corefx/issues/27783#issuecomment-370913426) about changing it per usage. WCF doesn't use HTTP/2 at all but it does really need Expect 100 Continue support as well as mutual Kerberos authentication (I've opened an issue and this looks relatively simple to do in `SocketsHttpHandler`) and access to the SSL contex

[2018-03-06 20:54] davidsh commented on #27783
There are few other interesting things that the WinRT implementation does (via the Windows.Web.Http implementation).  For example, it is aware of being a UAP app and it knows how to properly set the parent window handle in order for the not-widely-known dialog to come up for permissions use of a private key for a client cert (if the client cert is coming from the per-user certificate store and not

[2018-03-06 20:59] JeremyKuhne commented on #27779
This was a bug fix. The wildcard results now match on Windows and Unix. `?` matches can collapse to a period as they do on Windows. (You can try this at a CMD prompt to see the behavior.) We have provided new options that allow you to use "simple" wildcard matching on all OSes as well.

https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/EnumerationOptions.cs

There

[2018-03-06 21:01] tuggernuts commented on #27423
Is there any update about this issue?

[2018-03-06 21:03] weshaggard commented on #24483
Yes it should be Do you have a Microsoft.Win32.Registry.dll in your net471 application output?

[2018-03-06 21:14] geoffkizer commented on #27783
@mconnew Both SocketsHttpHandler and WinHttpHandler are public, so you can explicitly use these instead of HttpClientHandler if you want control over which is used.

[2018-03-06 21:27] mconnew commented on #27783
@geoffkizer, does this mean SocketsHttpHandler and WinHttpHandler are/will be supported on UWP, just not the default? The general idea is I want end developers to be able to choose. Otherwise we need to provide a mechanism in WCF to allow them to specify.

[2018-03-06 21:27] jherby2k commented on #24483
Well, I have one in the netstandard library's output. What's the difference? Well... i'm using MEF to load the netstandard extensions, which are located in a subdirectory (I'm also using assemblyloader to locate dependencies for the extensions). Sounds like this functionality requires a direct dependency for it to put the correct façade in?  I guess I still don't understand how this is all suppose

[2018-03-06 21:31] geoffkizer commented on #27783
Not for 2.1.  As @davidsh said above, this could be considered in the future.

[2018-03-06 21:35] davidsh commented on #27783
And WinHttpHandler will never be supported for UWP.  The WinHTTP native APIs are not even in the Modern SDK so they can't be used in a Store app.

[2018-03-06 21:47] jeffkl commented on #27779
Okay we'll see if we can workaround this.  As of now its only affecting our ability to move to a newer CLI so the impact is minimal.

/cc @cdmihai

[2018-03-06 21:48] maryamariyan commented on #27547
Closing this issue as PR #27557 got merged

[2018-03-06 21:48] #27547 closed

[2018-03-06 21:49] stephentoub opened #27792 "Consider some search/spider-based testing for SocketsHttpHandler"
We could, for example, write a simple client that did some Bing searches and then made requests to the top 1000 results with multiple handlers and validate various things, at a minimum that requests succeed and fail similarly, maybe something about the content if possible, etc. We could also, for example, write a little spider that walked over some sites and did similar validation.

[2018-03-06 21:55] stephentoub commented on #27685
Reopening and making into an API proposal:
[code]

[2018-03-06 22:09] jamescrowley opened #27795 "SqlBulkCopy: Add hooks to enable retry strategies on batches"
If SqlBulkCopy encounters any kind of exception as it inserts rows into a table, it fails the entire job.

In some scenarios, certain errors might be appropriate to retry - for instance, a deadlock or timeout. While this might be unlikely when doing bulk inserts to a staging table, it is much more likely if the table is also shared by a web application, for instance.

For this reason, until now we

[2018-03-06 22:25] ViktorHofer commented on #19624
Sorry Brian for getting back to you so late. I see that we are currently compiling the src/test/ref projects against netcoreapp and some against uap/uapaot. I believe all these APIs should be available there and we can just safely remove the DefineConstant and the if precompiler statements. I think when I created that issue we were also building against netstandard20.

[2018-03-06 22:40] stephentoub commented on #27783
Regarding testing, here's what I suggest we do...

Today, we've got a bunch of base classes that contain tests.  These tests use virtual CreateHttpClient{Handler}() to create the HttpClient or HttpClientHandler to use and run tests with that.  We then have some derived types for SocketsHttpHandler that overrides CreateHttpClient{Handler}() to construct an HttpClient or HttpClientHandler with Socke

[2018-03-06 22:48] #27714 closed

[2018-03-06 22:50] #27718 closed

[2018-03-06 22:52] stephentoub commented on #27754
Fixed by https://github.com/dotnet/corefx/pull/27780.

[2018-03-06 22:52] #27754 closed

[2018-03-06 22:53] weshaggard commented on #24483
When you are doing dynamic loading (i.e. MEF) you become responsible for deploying the right dependencies along with the library being loaded. The tooling will deploy the correct dependencies if they are statically referenced from the application. For this particular case if your .NET Framework application references Microsoft.Win32.Registry package then the correct facade would get deployed in th

[2018-03-06 23:15] dgxhubbard commented on #11857
I am trying to load the package. I tried using the exact install cmd on [site ](https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.ComponentModel.Composition/4.5.0-preview2-26306-04) and got the following error.
What am I doing wrong?

Install-Package : Unable to find package System.Security.Permissions with version (>= 4.5.0-preview2-26306-04)
  - Found 6 version(s) in nuget.org [ Nea

[2018-03-06 23:24] muratg commented on #24553
cc @shirhatti @halter73

[2018-03-06 23:27] #27784 closed

[2018-03-06 23:45] krwq commented on #27776
@gingters have you tried using RSA directly? You should be able to call `GetRSAPublicKey()`. See this test for reference: https://github.com/dotnet/corefx/blob/50218eaa16dbe5812752919f2e195893cedea507/src/System.Security.Cryptography.X509Certificates/tests/ExportTests.cs#L147

[2018-03-06 23:50] tanaka-takayoshi opened #27800 "What happens when a new era is added in Japanese Calendar?"
(moved from https://github.com/dotnet/cli/issues/8733 )
I wonder this might not a suitable repo for this issue. Please let me know the right repo and then I'll move.

A new era will be added in Japanese Calendar, which is planned to start at May 1st 2019. I'd like to clarify how Japanese Calendar will be updated.

Here are my understanding about a new era. I would appreciate .NET Core team confirm

[2018-03-07 00:04] jimcarley commented on #27677
Is there any explanation as to what happened here? I haven't worked on core recently, so mc.dot.net is new to me. Trying to figure it out, without much success.

What does "left a machine up from a test run" mean?
Did you ever determine why that only affected the System.Transactions.Local tests?
Is there any way to tell if the tests just never really got started or if they got hung on one particul

[2018-03-07 00:08] MattGal commented on #27677
@jimcarley basically what "left a machine up from a test run" means is @jonfortescue , being one of our newest team members, accidentally let a VM he was playing with pick up and perform test work for the run.  (hence the machine's name, 'jofortes-opensuse-test' )

Since the machine was in an indeterminate state, there's very little reason for anyone to care about why the work timed out.  I've enc

[2018-03-07 00:09] weshaggard commented on #11857
@dgxhubbard try installing again, that package set took a while to upload and index so you might have been trying to restore it before it was fully indexed. I see the package is present now though  (https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Security.Permissions/4.5.0-preview2-26306-04).

[2018-03-07 00:09] jonfortescue commented on #27677
@jimcarley Exactly what @MattGal said! It was completely an error on my part, exacerbated by the fact that I spun up this machine on a Friday evening and thus didn't notice anything was wrong until Monday morning.

[2018-03-07 00:13] danmosemsft commented on #27740
https://github.com/dotnet/corefx/pull/27763#issuecomment-370912225 hit it on OpenSUSE

[2018-03-07 00:14] #27768 closed

[2018-03-07 00:19] #27659 closed

[2018-03-07 00:35] JeremyKuhne commented on #25755
@Anipik This is worth fixing for consistency with documented behavior. You just need to add to the existing check `fullPath.Length <=  FullPath.Length || !PathInternalIsDirectorySeparator(fullPath[FullPath.Length]) ||  /* existing check */ ` I believe.

[2018-03-07 00:35] tmat opened #27802 "Add MethodDefinition.GetSemantics"
[code]

Use case: ILSpy needs to determine whether a given method is an accessor of a property or event.

[2018-03-07 00:40] huanwu commented on #25298
This is because some mappings are soap mapping and some are xml mapping. If there're soap mapping, it will use ReflectionBasedSerializers and won't generate the serializer. However, during the serialization, it will check if the mapping is soap or not, if it is not soap, it will still try to use the serializer, which was not generated.

[2018-03-07 00:56] joshfree commented on #27800
@tarekgh what is our solution here for when the Japanese Era changes May 1, 2019?

[2018-03-07 00:58] joshfree commented on #27786
@zhenlan

[2018-03-07 01:10] tarekgh commented on #27800
That is right.

That is right too. We are already testing the scenario of the new era by updating the registry on Windows.

Yes. We just need to test this scenario when we have updated ICU library with the new era info.

Actually, this is just a fallback when there is something really wrong. this scenario is unlikely and people shouldn't count on that at all.

Yes, this was part of our testing wit

[2018-03-07 01:10] #27800 closed

[2018-03-07 01:21] jimcarley commented on #27677
Okay. I understand now.
To be clear, it does not bother me that this happened. I just wanted to understand. These types of situations can happen in such an environment. Clearly I didn't recognize the fact that the VM in question appeared to be a "personal" one for @jonfortescue  as opposed to an "infrastructure" VM.
It also doesn't help that I haven't touched .NET Core in a while, so the whole "Mi

[2018-03-07 01:35] tarekgh commented on #27800
One small correction, we have also JapaneseLunisolarCalendar which is using JapaneseCalendar eras too.

[2018-03-07 03:00] jnm2 commented on #16010
## Proposal

There are three parts which can be considered separately.

### Simple awaiting

Example:

[code]

Proposed API:

[code]

### Configured awaiting

Example:

[code]

Proposed API:

[code]

### Void-returning awaiting

Example:

[code]

Proposed API:

[code]

### Higher arities

The above can be trivially generalized to any higher arity. Ten is tentatively suggested. I don’t recall seein

[2018-03-07 03:02] jnm2 commented on #16010
@karelz Thanks for clearing that up. Is there anything I've missed?

[2018-03-07 03:02] edaloicaro18 commented on #24282
@mikeloguay I tried all the suggested workarounds and none of them worked.
In the end I had to use the explicit model (BeginTransaction/Commit) :(

[2018-03-07 03:16] jherby2k commented on #24483
Thanks. Certainly seems like MEF needs a hard rethink to work with netstandard and core out of the box... I've written a lot of platform-specific loader code trying to work around all this nonsense.

[2018-03-07 03:29] AlexRadch opened #27808 "It seems that ReadOnlyMemory can not have OwnedMemory as object"
I see next comment in `ReadOnlyMemory` https://source.dot.net/#System.Private.CoreLib/shared/System/ReadOnlyMemory.cs,28
[code]

I see that all code use `_index` without checking this flag.
Also the only way to create `ReadOnlyMemory` with such flag is to call `internal ReadOnlyMemory(object obj, int start, int length)` constructor. https://source.dot.net/#System.Private.CoreLib/shared/System/Read

[2018-03-07 03:37] stephentoub commented on #27808
It checks whether the index is negative, which is the same thing.

No, is very common for this to happen when casting from Memory.

[2018-03-07 03:37] #27808 closed

[2018-03-07 04:00] danmosemsft commented on #27724
cc @JonHanna who added these, in case he is interested.

[2018-03-07 04:26] sidshetye commented on #22101
+1 ... also seeing this, following for a fix date.

[2018-03-07 04:39] AlexRadch commented on #27808
@stephentoub I know that when flag is set then index will be negative. But only method that check this is `Span` property.
I wrote about `ReadOnlyMemory` structure! Not `Memory` structure that checks such flag!

[2018-03-07 05:00] JeremyKuhne commented on #22101
The intended workaround for this sort of scenario is that you load data from a specific path. ConfigurationManager.OpenMappedExeConfiguration() will let you open any configuration file you want. Is there a reason that won't work for you?

[2018-03-07 05:06] AlexRadch commented on #27808
@stephentoub I see `return new ReadOnlyMemory<T>(_object, _index + start, _length - start);` does not require flag testing.

[2018-03-07 05:25] sidshetye commented on #22101
@JeremyKuhne User level code changes to address behavioral differences between .NET framework + nunit vs .NET core + nunit smells like a kludge. Same concern but to a lesser extent on changes to the build system to account for those differences .NET F/W vs .NET Core differences.

I'm new to how vstest and testhost interplay but if they are inserting themselves in the middle, shouldn't they be resp

[2018-03-07 05:51] JeremyKuhne commented on #22101
Fundamentally you're kind of stuck with kludges in this case. Configuration files were tied with the `AppDomain` concept, which you don't have in Core. The only way to override the default path is to create a new `AppDomain`- setting it after creation would fundamentally break `ConfigurationManager`'s `AppSettings` property (or `GetSection()`) as the source location would no longer be invariant. E

[2018-03-07 07:47] geoffkizer opened #27811 "Consider adding Scatter/Gather IO on Stream"
The Socket class has this already, in the form of Send/Receive operations that take an `IList<ArraySegment<byte>>`.  This isn't exposed up through Stream classes, however.

One specific scenario where this would be useful is writing chunked-encoded request bodies in SocketsHttpHandler.  When the user calls the request Stream's Write[Async] method, we need to first write a chunk header with the chu

[2018-03-07 07:50] geoffkizer commented on #27811
cc @stephentoub

[2018-03-07 07:51] geoffkizer commented on #27811
cc @davidfowl -- I can imagine this might be interesting for you as well.

[2018-03-07 08:06] AlexRadch commented on #25354
What about make next properties private?
[code]

And add `public SendPacketsElementFlags Flags { get; }` property?

[2018-03-07 08:07] davidfowl commented on #27811
Oh nice! Yes I like this. Should we also consider adding overloads for ReadOnlySequence\<byte\>?

[2018-03-07 08:54] MikeRosoft opened #27812 "X509Certificate2.GetECDsaPrivateKey does not work with an ECC certificate with private key in TPM"
I am currently encountering the same problem as reported here: https://github.com/dotnet/corefx/issues/9070. I have an ECC certificate in the certificate store with a private key in 'Trusted Platform Module' (TPM). The certificate with a private key has been generated using a Windows domain. When I try to get the ECDsa instance using the GetECDsaPrivateKey method, I get ArgumentException: 'Keys us

[2018-03-07 10:16] Skyppid opened #27813 "Connection to SQL Server impossible in UWP app"
**EDIT**: Nevermind. I found the solution here in a .Net Standard [issue](https://github.com/dotnet/standard/issues/578). Should be stated more clearly that "Internet (Client & Server) is a required capability in UWP in order to connect... I only had Private Networks (which my network actually is) on. Moreover the exception should be more of a "PermissionException" instead of "Server not found"...

[2018-03-07 10:32] banyucenter commented on #13309
Just edit localhost using 127.0.0.1
connstring = @"server=127.0.0.1;userid=root;password=;database=your_db";

[2018-03-07 10:36] evil-shrike commented on #26015
Is there any chance to have the issue fixed in 2.1 ?

[2018-03-07 11:05] danmosemsft commented on #26015
@krwq do we understand the cause?

[2018-03-07 11:09] MikeRosoft commented on #27812
I strongly suspect that the bug is related to this one: https://github.com/dotnet/corefx/issues/26541; i.e. calling CngKey.Create(CngAlgorithm.ECDsaP256, ...) with CngProvider("Microsoft Platform Crypto Provider") returns an object with AlgorithmGroup "RSA". (Possibly .NET Framework tries to create a similar CngKey object and trying to use it to create an ECDSa object causes the same exception.)

[2018-03-07 11:34] nils2612 commented on #27769
Here we are: https://github.com/nils2612/sql-client-repro

[2018-03-07 12:49] JonHanna commented on #27724
Yeah, the problem being in the ctor would make sense.

Ideally we'd have a `ObtainFileStreamAsync()` we could use (does something like that already exist?). Failing that we could `await Task.Yield()` just before we get `stream`, or perhaps do so if it's a UNC path and not otherwise.

[2018-03-07 13:23] per-samuelsson commented on #19773
Don't look very promising, considering this comment: https://github.com/dotnet/coreclr/pull/8677#issuecomment-363958774

[2018-03-07 13:33] rmsutton opened #27814 "System.Net.Sockets.Socket: No buffer space available when setting SendBufferSize"
I am trying to create a socket with an 8MB buffer (8388608 bytes) with the following code.

[code]

The code fails on the second line with "No buffer space available".

[code]

This code works fine when executing in a Windows environment.

Is this behavior expected?

[2018-03-07 13:38] svick commented on #27724
@JonHanna

I don't think that would be a good workaround, since it would still block the calling synchronization context. This matters especially in GUI apps, where it would still block the UI thread.

Doing something like `var stream = await Task.Run(() => new FileStream(…));` should be better, since it's guaranteed to block a threadpool thread.

[2018-03-07 13:45] stephentoub commented on #27746
Also hangs on netfx; updating title.

[2018-03-07 14:22] JackGrinningCat opened #27816 "System.IO.File.Open should open the file with shared write access"
Hi,

following two lines to fail, because OpenRead does not share the write access, even if it does not need/use and configure it beforehand.

var stream1 = new FileStream(filename, FileMode.Create, FileAccess.ReadWrite, FileShare.Read);
var stream2 = File.OpenRead(filename);

Kind regards

p.s. I write here, because I do not know a better place.

[2018-03-07 14:34] stephentoub commented on #27808
I know you wrote about ReadOnlyMemory.  My comment was that an extremely common way of creating ReadOnlyMemory is by casting to it from Memory, in which case it's just a reinterpret cast, maintaining all of the bits from the Memory, so if the Memory had this flag set, so too will ReadOnlyMemory.

Right, it doesn't require testing it because start is always going to be non-negative and start+_index

[2018-03-07 14:54] stephentoub opened #27817 "LinkedList_Generic_Tests_int.RemoveLast_Tests failed on Windows in CI"
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/35efdbdc1e25f83f216064482479e555425ce3a0/workItem/System.Collections.Tests/analysis/xunit/System.Collections.Tests.LinkedList_Generic_Tests_int~2FRemoveLast_Tests
[code]

[2018-03-07 14:55] johnkors commented on #27686
Thanks!

[2018-03-07 14:55] stephentoub commented on #27816
The docs for File.OpenRead state:
"This method is equivalent to the FileStream(String, FileMode, FileAccess, FileShare) constructor overload with a FileMode value of Open, a FileAccess value of Read and a FileShare value of Read."

[2018-03-07 15:08] stephentoub commented on #27814
That error is coming from the operating system; the .NET code is just calling `setsockopt` and is getting back ENOBUFS.  As outlined at https://www.gnu.org/software/libc/manual/html_node/Error-Codes.html, this means "'No buffer space available.' The kernel’s buffers for I/O operations are all in use."

[2018-03-07 15:14] stephentoub commented on #27740
Failed again here:
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/f31d24f0f1ff748ee84a9f67a7b4e4e2c80dc544/workItem/System.Xml.XmlSchema.XmlSchemaValidatorApi.Tests/wilogs

This does appear to be infrastructure related rather than test related.  Every time I've seen this, I've seen it with the "Unable to find executable corerun" t

[2018-03-07 15:16] stephentoub commented on #27375
Happened again here, but this time on Ubuntu:
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/f31d24f0f1ff748ee84a9f67a7b4e4e2c80dc544/workItem/System.Reflection.Metadata.Tests/wilogs
[code]
and
[code]

[2018-03-07 15:21] mikeparker commented on #27468
Interestingly, we're just looking at exactly the same issue on dotnetcore. We're using client.SendAsync with JsonContent, and without a CancellationToken we have a memory leak, with a CancellationToken memory is fine.

[2018-03-07 15:22] AtsushiKan commented on #26894
All api surface area changes are in. There are some internal bandaids that could be cleaned up but this is not critical for 2.1.

[2018-03-07 16:06] misterspeedy commented on #22781
Just in case it helps anyone - I had this issue when running a worker role in the Azure simulator (VS2017 15.4.3).  As suggested elsewhere the workaround was to add this to the Worker Role's `app.config`:

      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion

[2018-03-07 16:09] danmosemsft opened #27818 ""Unable to find corerun" when trying to crack dump on Helix machine"
Below is an example where a test created a dump file and it says "unable to find executable corerun"
This comes from tools\runnertemplate.unix.txt. It wants to pass corerun to gdb along with the dump file.

@Anipik can you please find out why it can't find corerun? You will want to start with a Linux repro machine, and force a dump to be created during the test run. Is corerun even on the box?
[co

[2018-03-07 16:11] danmosemsft commented on #27818
Maybe ensure_binaries_are_present() should check for corerun specifically (in run-test.sh)

[2018-03-07 16:11] danmosemsft commented on #27740
The "unable to find corerun" happens when it's trying to examine the coredump using gdb - gdb wants an executable that matches the coredump. See runnertemplate.unix.txt. So it's not related to the failure. I opened https://github.com/dotnet/corefx/issues/27818

The question is why it's always XmlSchemaValidatorApi.Tests. There is a core dump being created, which might help? I can only suggest tryi

[2018-03-07 16:23] stephentoub commented on #27740
Ah, ok, nevermind my comment then.

[2018-03-07 16:27] danmosemsft commented on #27817
That's a little worrying. The implementation and tests have not changed in some time, and there should be no concurrency involved.

Next steps might be more asserts in the test, and a better visualization of LinkedListNode in the failure case. See https://github.com/xunit/assert.xunit/blob/master/Sdk/ArgumentFormatter.cs#L148

[2018-03-07 16:32] dgxhubbard commented on #11857
will do thanks

[2018-03-07 16:43] karelz commented on #27814
Seems to be answered, closing.

[2018-03-07 16:43] #27814 closed

[2018-03-07 17:04] karelz commented on #13893
@benjamin-hodgson thanks for working on the issue!
I sent you collaborator invite, so that we can assign the issue to you (GH limitation). Let me know once you accept and I will assign it to you.
GH automatically subscribes collaborators to all repo notifications (500+ per day). We recommend to change repo settings to "Not Watching", which will send you only notifications for issues you subscribed

[2018-03-07 17:04] dgxhubbard commented on #11857
Sorry I got the same result. Below is the command and response.

PM> Install-Package System.ComponentModel.Composition -Version 4.5.0-preview2-26306-04 -Source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json
Restoring packages for C:\Repository\GtNext\Source\Web\GtWebApi\GtWebApi.csproj...
  GET https://api.nuget.org/v3-flatcontainer/system.security.permissions/index.json
  OK https://api

[2018-03-07 17:08] weshaggard commented on #24483
This isn't a MEF or a netstandard particular problem but instead it is a general dependency management problem.

In order to do that you need to know where the library is running. We have this challenge as well with our msbuild tasks we run for our infrastructure and to help with it we end up building the package targeting netstandard and netfx with `CopyNuGetImplementations` set to true (see exam

[2018-03-07 17:11] wfurt commented on #27814
Look at https://www.cyberciti.biz/faq/linux-tcp-tuning/ @rmsutton You can increase maximums buffer sizes via /proc and than the code should just work.

[2018-03-07 17:22] tarekgh commented on #24174
@KrzysztofCwalina @joshfree do we still have more to do here? or we can close this one?

[2018-03-07 17:23] tarekgh commented on #24320
@mmitche @weshaggard do we still have something to do here? or this is done?

[2018-03-07 17:24] tarekgh commented on #24741
@KrzysztofCwalina  @danmosemsft @joshfree what is remaining here?

[2018-03-07 17:24] karelz commented on #25206
We've hit perf issues with ASP.NET end-to-end scenarios. We won't be able to address them for 2.1, moving to Future.

[2018-03-07 17:26] karelz commented on #21371
SslStream got bunch of improvements in 2.1. Our micro-benchmarks show Sockets+SSL has 22% overhead over plain Sockets. Moving the remaining work to Future.

[2018-03-07 17:26] tarekgh commented on #24745
@joshfree @danmosemsft what is remaining here?

[2018-03-07 17:26] tarekgh commented on #24747
@stephentoub  @joshfree @danmosemsft what is remaining here?

[2018-03-07 17:27] danmosemsft commented on #24745
AFAIK this is done. @joshfree @GrabYourPitchforks

[2018-03-07 17:27] tarekgh commented on #24750
@danmosemsft what is remaining here?

[2018-03-07 17:28] tarekgh commented on #24909
@danmosemsft is this not done yet?

[2018-03-07 17:28] karelz commented on #24430
We won't be able to address this in 2.1, moving to Future.

[2018-03-07 17:29] tarekgh commented on #27330
@AtsushiKan do we still have work to do here? or this is done?

[2018-03-07 17:30] tarekgh commented on #25723
@valenis @karelz do you know who is following up with this? we should assign this to some owner.

[2018-03-07 17:31] tarekgh commented on #25722
@valenis @karelz do you know who is following up with this? we should assign this to some owner.

[2018-03-07 17:31] tarekgh commented on #25721
@jorive any update in this?

[2018-03-07 17:31] gabrielimmich opened #27820 "Translate all messages from DataAnnotation"
Hello, I am trying to translate the standard messages for the RequiredAttribute, MaxLenghtAttribute and other standard Attributes.
Below is the code I have:

[code]

With this code it is necessary that I pass the key in my attributes
[Required(ErrorMessage = "RequiredAttribute_ValidationError")]

I would like to know if it is possible to use only [Required], I have already verified several issues

[2018-03-07 17:32] tarekgh commented on #25720
@adiaaida any update on this one?

[2018-03-07 17:32] AtsushiKan commented on #27330
Work hasn't started on this. (BTW, this work is cleanup and microoptimization rather than "Enhancement.")

[2018-03-07 17:32] tarekgh commented on #25719
@DrewScoggins any update on this one?

[2018-03-07 17:33] tarekgh commented on #25605
@danmosemsft  is there anyone looking at this one? or we are waiting for @safern?

[2018-03-07 17:35] stephentoub commented on #27330
A quick search in corefx shows this:
[code]

[2018-03-07 17:37] tarekgh commented on #25380
@karelz @danmosemsft who is looking at this one?

[2018-03-07 17:39] tarekgh commented on #24745
closing it then. please feel free to re-open if there is anything more need to be done.

[2018-03-07 17:39] #24745 closed

[2018-03-07 17:41] joshfree commented on #25210
@MichalStrehovsky

[2018-03-07 17:42] weshaggard commented on #11857
It doesn't look like it is even trying to use "https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" as a source. Can you add that to your package sources in VS and try again?

[2018-03-07 17:42] weshaggard commented on #24320
We still need to go through the repo's and remove the VS2015 support.

[2018-03-07 17:42] kasper3 commented on #11857
@dgxhubbard, in csproj, you can also add:

[code]

then `dotnet restore`, `nuget restore` or `msbuild /restore` (msbuild v15.3+, nuget 4.3+).

[2018-03-07 17:42] tarekgh commented on #27330
that is what meant by "Enhancement".

@stephentoub you marked it as up-for-grabs so we should un-assign @AtsushiKan if you think someone else will pick it up.

[2018-03-07 17:43] joshfree commented on #27731
@joperezr could you take a look?

[2018-03-07 17:44] tarekgh commented on #25245
@leecow @blowdart is there anything need to be done here? or this is done?

[2018-03-07 17:45] tarekgh commented on #24761
@eerhardt @danmosemsft do we still have anything we need to do here for 2.1?

[2018-03-07 17:47] tarekgh commented on #24751
@danmosemsft do we still have anything we need to do here?

[2018-03-07 17:49] danmosemsft commented on #24751
Yeah let's leave it a bit.

[2018-03-07 17:49] tarekgh commented on #24320
@weshaggard do we still targeting 2.1 for that? are you the one doing this work?

[2018-03-07 17:50] danmosemsft commented on #24909
Not until we ship 2.1, as that is the point at which it will get marked stable in nuget.

[2018-03-07 17:51] stephentoub commented on #27330
Not necessary unless he wants that.  This is just the kind of thing that anyone can do; doesn't require Ati's skill set.

[2018-03-07 17:54] tarekgh commented on #27330
what I meant, people usually don't pick the assigned issues. anyway, I'll see if I can do this one myself.

[2018-03-07 18:01] GrabYourPitchforks commented on #26604
I investigated `Span.Clear` for small buffers of blittable _T_. Was able to get significant performance improvements for buffer sizes <= 16 bytes (approx.), but at the expense of making `Clear` slower for larger buffers. Will keep investigating, but the regressions for larger buffers is steering me away from my current thinking.

One alternative is to expose a specialty API `SmallClear` which is o

[2018-03-07 18:02] bartonjs commented on #27812
Yes, it's the same problem and it requires a Windows OS update to fix.

I would expect that the fix would be available to [Windows Insider Builds](https://insider.windows.com/en-us/) before general rollout.  That route could let you know that a fix is coming, and give you the ability to understand your minimum OS version.

The only real workaround would be to directly P/Invoke to [NCryptSignHash](

[2018-03-07 18:02] #27812 closed

[2018-03-07 18:04] blowdart commented on #25245
If you mean can I close it, that's up to the repo owner, just leave the announcements one open please/

[2018-03-07 18:04] weshaggard commented on #24320
It isn't critical for 2.1 and I doubt we will get it cleaned up by then.

[2018-03-07 18:06] joshfree commented on #27731
@marek-safar can you confirm that you've snapped to the latest surface area in corefx master?

[2018-03-07 18:07] #24174 closed

[2018-03-07 18:09] joshfree commented on #24741
@tarekgh all bugs with "Epic" in the title are zenhub epic issues.  They can move to the Future milestone if needed to cleanup the 2.1 query.

[2018-03-07 18:11] RobsonKarls commented on #13035
hi, can someone help me? I keep getting this error

DllNotFoundException: Dependency unixODBC with minimum version 2.3.1 is required.
Unable to load DLL 'libodbc.so.2': The specified module or one of its dependencies could not be found.
I'm using version 2.3.5

my OS is linux debian
I con connect through the OS with isql -V DSNServer

but when I try to use this System.Data.Odbc

with New ObdcConne

[2018-03-07 18:15] tarekgh commented on #25245
Thanks @blowdart

@leecow I think we can close this one and having dotnet/announcements#44 open for updating

[2018-03-07 18:15] bartonjs commented on #25245
Ohhh, I get what you mean now.

You don't care if https://github.com/dotnet/corefx/issues/25245 is in an Open or Closed state.  But https://github.com/dotnet/announcements/issues/44 should stay in an Open state.

[2018-03-07 18:18] zhenlan commented on #27786
@mconnew, @huanwu

[2018-03-07 18:22] tarekgh commented on #24741
@joshfree what you prefer? I am ok to keep them on 2.1 as long as someone really actively looking at them.

[2018-03-07 18:23] joshfree commented on #24741
I'm fine moving this out to Future or to 2.2, once the milestone opens.

[2018-03-07 18:28] marek-safar commented on #27731
@joshfree we are tracking corefx/2.1 branch

[2018-03-07 18:31] muratg commented on #26768
@joshfree We won't have time to get this done during preview2.

Let's reassign it back to @pakrym after preview2.

[2018-03-07 18:32] danmosemsft commented on #13035
@maryamariyan can you please help @RobsonKarls with the installation of libodbc.

[2018-03-07 18:32] joshfree commented on #27731
@marek-safar that's still currently Preview1 bits.  You should look at what's in master as there are a number of changes between Preview1 and 2.

/cc @davidfowl @pakrym as well who are still making tweaks to Pipelines.

[2018-03-07 18:32] muratg commented on #27246
@joshfree Unassigning @pakrym for now.  Once this is triaged for a milestone, we can decide on an owner.

[2018-03-07 18:33] maryamariyan commented on #13035
Sure. I'm looking at it.

[2018-03-07 18:33] valenis commented on #25720
We're pgo-optimizing clrjit and coreclr and get up to 25% speedup on various start-up scenarios. I'm closing this issue.

[2018-03-07 18:33] #25720 closed

[2018-03-07 18:33] muratg commented on #27434
@joshfree removing @pakrym until we are done with preview2.

[2018-03-07 18:34] muratg commented on #27560
@joshfree removing @pakrym until we are done with preview2.

[2018-03-07 18:37] cdmihai commented on #27779
Is this requirement part of the general goal of making .net core behave the same as full framework? As in, are hidden and system files ignored on full framework (I guess I can also test this ...). I am asking to understand the extent to which full framework and .net core msbuild are affected. I expect build users would want everything, and don't care whether something is hidden or system.

[2018-03-07 18:38] krwq commented on #27740
Closing this bug since @danmosemsft has opened the issue to track the infra problem

[2018-03-07 18:38] bigmacd commented on #13035
snippet from my Dockerfile:

# unixODBC
COPY ./unixODBC-2.3.4.tar.gz /opt/
WORKDIR /opt
RUN tar xf unixODBC-2.3.4.tar.gz
WORKDIR /opt/unixODBC-2.3.4
RUN ./configure --disable-gui --enable-iconv --with-iconv-ucode-enc=UNICODE
RUN make
RUN make install
RUN echo '/usr/local/lib' >> /etc/ld.so.conf.d/x86_64-linux-gnu.conf
RUN ldconfig
RUN rm -rf /opt/unixODBC-2.3.4

[2018-03-07 18:38] cdmihai commented on #27779
Also, is there a blog post or something enumerating all the breaking changes? We could use that to understand the extent to which we need to react in msbuild.

[2018-03-07 18:39] #27813 closed

[2018-03-07 18:40] marek-safar commented on #27731
@joshfree we are shipping only pieces of corefx so other new stuff is not an issue but I hope to see 2.1 branch updated very soon.

[2018-03-07 18:43] RobsonKarls commented on #13035
Here is my Dockerfile

# install unixodbc
RUN curl http://www.unixodbc.org/unixODBC-2.3.5.tar.gz | tar xz
WORKDIR unixODBC-2.3.5
ENV CPPFLAGS="-DSIZEOF_LONG_INT=8"
RUN ./configure --prefix=/usr --libdir=/usr/lib64 --sysconfdir=/etc --enable-gui=no --enable-drivers=no --enable-iconv --with-iconv-char-enc=UTF8 --with-iconv-ucode-enc=UTF16LE && make && make install
RUN mkdir -p /var/log/unixodbc

# i

[2018-03-07 18:43] danmosemsft commented on #27740
The infra problem is only in cleaning up after these tests quit. It's not the cause.

[2018-03-07 18:43] danmosemsft commented on #27817
@jkotas would it be a reach to suspect a runtime issue? any other theory?

[2018-03-07 18:46] matthewblott commented on #24282
This is still an issue. I've also tried all the workarounds suggested here with no success.

[2018-03-07 18:49] danmosemsft commented on #27816
@JackGrinningCat to enlarge on that, your FileStream is indicating it wishes to write (FileAccess.ReadWrite) and will allow others to read (FileShare.Read). Your File.Open read is indicating it wishes to read (FileAccess.Read), and will allow others to read -- but not write (FileShare.Read). Because the file is already open for read/write, the operating system rejects the attempt to open another h

[2018-03-07 18:49] #27816 closed

[2018-03-07 18:50] jorive commented on #25721
@tarekgh we are working on bringing RWC scenarios to different repos across dotnet. There are some already added in [coreclr](https://github.com/dotnet/coreclr), but ultimately we will be adding them to a stand alone .NET performance repository. This way we should be able to run against different dotnet repos.
I have moved this issue to future, and will add more details in the near future.

[2018-03-07 18:51] danmosemsft commented on #24761
No

[2018-03-07 18:51] maryamariyan commented on #13035
@RobsonKarls in the meantime please look at the notes here: https://github.com/dotnet/corefx/blob/531023d0c6129c87c256448682cd31f931c95ed2/src/System.Data.Odbc/src/DatabaseSetupInstructions.md

[2018-03-07 18:53] krwq commented on #26015
@evil-shrike, yes, this is understood and by design. Here is the workaround:

[code]

[2018-03-07 18:53] sidshetye commented on #26851
This is also an issue with Apache Avro's C# libraries during deserialization. Tests fail on Linux/Mac due to `Assembly.GetTypes()` [see here](https://github.com/apache/avro/blob/master/lang/csharp/src/apache/main/Specific/ObjectCreator.cs#L145). Like @mayankbansal018 says, at the very least reflection should be permitted and should be non-fatal on *nix.

[2018-03-07 18:55] tarekgh commented on #25245
closing this one then and we are keeping dotnet/announcements#44 opened.

[2018-03-07 18:55] #25245 closed

[2018-03-07 18:57] maryamariyan commented on #13035
@RobsonKarls The dockerfiles pointed in the link above are moved to repo https://github.com/dotnet/dotnet-buildtools-prereqs-docker

the debian 8.2 dockerfile is [here](https://github.com/dotnet/dotnet-buildtools-prereqs-docker/blob/master/src/debian/8.2/Dockerfile)
I will update the notes accordingly

[2018-03-07 18:57] #26015 closed

[2018-03-07 18:59] karelz commented on #16010
@kouvel will do first-pass of the API review as area expert & owner.

[2018-03-07 19:02] stephentoub opened #27823 "TestChildProcessCleanupAfterDispose(true) failed in CI on Linux"
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/ed9ac7bd3de570b921d74473ded3a06ba9f2baee/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessTests~2FTestChildProcessCleanupAfterDispose(shortProcess:%20False,%20enableEvents:%20True)
[code]
cc: @tmds

[2018-03-07 19:03] AlexRadch commented on #25354
Can I start to implement this?

And I have one question!
It seems that `internal struct TransmitPacketsElement` does not support to transmit packets of `long' length max is `uint` length.
So should I  limit `CountLong` property to uint.MaxValue or may be change this property to uint type or something else?

[2018-03-07 19:06] RobsonKarls commented on #13035
here where my docker image is from

# DockerImage

FROM microsoft/aspnetcore:2.0.5 AS base
WORKDIR /app
EXPOSE 80

FROM microsoft/aspnetcore-build:2.0 AS build

RUN apt-get update

RUN apt-get -y install curl g++ make bzip2

# install unixodbc
RUN curl http://www.unixodbc.org/unixODBC-2.3.5.tar.gz | tar xz
WORKDIR unixODBC-2.3.5
ENV CPPFLAGS="-DSIZEOF_LONG_INT=8"
RUN ./configure --prefix=/usr --li

[2018-03-07 19:06] johnkors commented on #27686
For reference. I ended up with a working version using

`<PackageReference Include="System.Data.SqlClient" Version="4.5.0-preview2-26307-06" />`

from

`<add key="beta-feed" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />`

[2018-03-07 19:10] jkotas commented on #26851
This issue was moved to dotnet/coreclr#16804

[2018-03-07 19:10] #26851 closed

[2018-03-07 19:13] danmosemsft commented on #25354
@AlexRadch based on @kurtschelfthout he is fine with someone else (you) taking it. Assigned.

[2018-03-07 19:15] ektrah opened #27824 "Consider SafeHandle semantics for OwnedMemory"
*ReadOnlyMemory&lt;T&gt;:*

https://github.com/dotnet/corefx/blob/5c7f5447f49ff6a7aa935765a993c42c70a1b699/src/Common/src/CoreLib/System/ReadOnlyMemory.cs#L234

*OwnedMemory&lt;T&gt;:*

https://github.com/dotnet/corefx/blob/41a2120b233cc02c175f812e4e19e3f058396cb0/src/Common/src/CoreLib/System/Buffers/OwnedMemory.cs#L46

https://github.com/dotnet/corefx/blob/41a2120b233cc02c175f812e4e19e3f058396cb

[2018-03-07 19:16] karelz commented on #25354
Just a warning that we are locking down API surface for 2.1 for next few weeks. Your PR may be blocked to wait for master to reopen for post-2.1 API additions.

[2018-03-07 19:20] krwq commented on #27740
any numbers on how often does it happen? I'd like to try finding the issue (my current guess would be file which might not be closed - not sure why would that be an issue though since unlinking should still work) - here is my lucky guess for now:

https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/tests/XmlSchema/XmlSchemaSet/TC_SchemaSet_Reprocess.cs#L638

[2018-03-07 19:21] JeremyKuhne commented on #27779
No, and they aren't ignored in the existing APIs. Existing APIs will return results as they always have.

The idea was that the new `EnumerationOptions` would have more user and cross-plat focused defaults. It matches simply, for example. Most people don't understand the weirdness around how `?` and `*` matching works on Windows. There is no "magic" in the simple matching- `?` is one char, and `*`

[2018-03-07 19:22] danmosemsft commented on #25605
Nobody. If I understand correctly, this does not affect anyone unless they use the dummy assemblies that throw everywhere right? Is there a scenario where that is valid?

It should be fixed but does not seem urgent then.

[2018-03-07 19:27] krwq commented on #27800
@tarekgh thank you!

[2018-03-07 19:27] tmds commented on #27823
`System.Diagnostics.Tests.ProcessTests/TestChildProcessCleanupAfterDispose(shortProcess: False, enableEvents: True)` failed.
This test:
starts a process that sleeps 500ms
checks the process is reaped within 1000ms after start

@stephentoub I suggest to increase the timeout. I'll do a PR if ok for you.

[2018-03-07 19:38] dbrownxc commented on #27672
Yes.  I'll get one out latest today.

[2018-03-07 19:46] RobsonKarls commented on #13035
FROM microsoft/aspnetcore:2.0.5 AS base
WORKDIR /app
EXPOSE 80

FROM microsoft/aspnetcore-build:2.0 AS build

RUN apt-get update

RUN apt-get -y install curl g++ make bzip2

# install unixodbc
RUN curl http://www.unixodbc.org/unixODBC-2.3.4.tar.gz | tar xz

WORKDIR unixODBC-2.3.4

RUN ./configure && make && make install

# set up ldconfig
RUN echo "/usr/local/lib" >> /etc/ld.so.conf.d/x86_64-linux

[2018-03-07 19:47] joshfree commented on #27731
The other new stuff is in the System.Memory package.

[2018-03-07 19:48] stephentoub commented on #27390
Again here on Win7:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/14247d6382d934cc160f053a8f6951b432675863/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpCookieProtocolTests~2FGetAsyncWithRedirect_SetCookieContainer_CorrectCookiesSent

[2018-03-07 19:48] RobsonKarls commented on #13035
Well here is my entire dockerfile and I'm still getting this error, I think  im gonna give up on ODBC and try another approach to connect to the DB, because I cant open a connection through  System.Data.Odbc :(

[2018-03-07 19:58] davidsh commented on #12038
I agree with this API approach with just adding this API to the existing `ClientWebSocketOptions` class:

[code]

[2018-03-07 19:59] joperezr commented on #25773
@chester89 what if you don't add any binding redirects manually? I would expect the tooling should copy a version of System.Net.Http manually to your app's bin folder ( I might be wrong but I believe version should be 4.2.0.0) and then it should automatically add a binding redirect to it for you, so you shouldn't have to do this manually nor delete the one from the bin folder. Can you confirm that

[2018-03-07 19:59] stephentoub commented on #27823
Yeah, that's too short for CI.

[2018-03-07 20:04] bigmacd commented on #13035
Here is my complete Dockerfile.  This works and is in production.

FROM microsoft/aspnetcore-build:2-jessie

# need a compiler
RUN apt-get -y -qq update \
    && apt-get -y -qq install make gcc

# unixODBC
COPY ./unixODBC-2.3.4.tar.gz /opt/
WORKDIR /opt
RUN tar xf unixODBC-2.3.4.tar.gz
WORKDIR /opt/unixODBC-2.3.4
RUN ./configure --disable-gui --enable-iconv --with-iconv-ucode-enc=UNICODE
RUN make

[2018-03-07 20:06] bergmeister commented on #24001
Another important point is that on Windows it calls an old Windows API for that. This API has not only a limit of around 65.000 files but has also bad performance (especially when getting closer to that limit). Therefore just for the sake of performance and file limit problem a new overload is needed.

[2018-03-07 20:21] danmosemsft commented on #27823
@tmds I suggest a really large time like 30 secs - since it's not a sleep, just a timeout. I have seen test in CI be absurdly slow possibly when run concurrently with some other stressful test.

[2018-03-07 20:31] danmosemsft commented on #27818
The goal should be to get callstack dumped to the log -- which is just a few lines past this point in runnertemplate.unix.txt.

[2018-03-07 20:59] danmosemsft commented on #27818
I'll take a first look.

[2018-03-07 21:05] weshaggard commented on #27611
Looks good.

[2018-03-07 21:12] rmkerr commented on #27301
Based purely off of #26434 I think that as-is we would expect this test to fail for the 300 case, since cURL won't change the method to GET.
https://github.com/dotnet/corefx/blob/4dc401be87a7662132973ac4f43309b3dc534926/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs#L637-L714
There is definitely some incorrect behavior there in the case of 301, 302, and 303 though. Unfortunatel

[2018-03-07 21:34] RobsonKarls commented on #13035
@bigmacd can you share your connectionString format?

Thank you

[2018-03-07 21:37] rmsutton commented on #27814
Thanks @wfurt. I should have mentioned I am running this on macOS. I will look into increasing the buffer sizes. Appreciate the quick replies from everyone here!

[2018-03-07 21:44] bigmacd commented on #13035
Sure, although it is Netezza specific:

Driver={NetezzaSQL};server=<ip>;UserName=<username>;Password=<password>;Database=<default_database>;

[2018-03-07 21:59] maryamariyan commented on #13035
@RobsonKarls there are examples in System.Data.Odbc.Tests for connectionstrings format in unix and windows that you can look at: [here](https://github.com/dotnet/corefx/blob/e5da05d7100a64ab1d98c865436a1fb8b0ddd507/src/System.Data.Odbc/tests/ConnectionStrings.Unix.cs)

Did you get past your initial error?

See if you can configure this way:

- ``` sudo nano /usr/local/etc/odbcinst.ini```
[code]

-

[2018-03-07 22:05] maryamariyan commented on #13035
additional commands to help you troubleshoot:
[code]

Please let me know if you are still stuck.

[2018-03-07 22:12] stephentoub commented on #27375
Also on Windows here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/14247d6382d934cc160f053a8f6951b432675863/workItem/System.Reflection.Metadata.Tests/wilogs

[2018-03-07 22:16] RobsonKarls commented on #13035
Maryam the connection is working, I just got problem when I use the OdbcConnection.Open :(
I ran all this commands in Linux and they are working properly.
So I'm losing hope here,
Thank you all  for the help :)

[2018-03-07 22:18] maryamariyan commented on #13035
What problem are you getting when you call OdbcConnection.Open?

[2018-03-07 22:24] RobsonKarls commented on #13035
DllNotFoundException: Dependency unixODBC with minimum version 2.3.1 is required.
Unable to load DLL 'libodbc.so.2': The specified module or one of its dependencies could not be found.
I'm using version 2.3.5

[2018-03-07 22:25] jkotas commented on #27817
Memory corruption or GC hole. Running the tests on checked runtime, with GCStress enabled, may be useful.

[2018-03-07 22:26] maryamariyan commented on #13035
What do you get when you run ```ldconfig -p | grep odbc```?

Probably irrelevant question: did you also configure ```/etc/odbcinst.ini``` ?

[2018-03-07 22:29] jkotas commented on #26604
Where is the regression for larger buffers coming from?

[2018-03-07 22:34] jkotas commented on #26604
There is always step or bend in the performance curve where implementation switches to a different strategy. It should get amortized for larger buffers pretty quickly.

[2018-03-07 22:35] RobsonKarls commented on #13035
libodbc.la
libodbc.so
libodbc.so.2
libodbc.so.2.0.0
libodbccr.la
libodbccr.so

#ls /usr/local/lib
libodbccr.so.2
libodbccr.so.2.0.0
libodbcinst.la
libodbcinst.so
libodbcinst.so.2
libodbcinst.so.2.0.0
node_modules
python2.7

#ldconfig -p | grep odbc
libodbcinst.so.2 (libc6,x86-64) => /usr/local/lib/libodbcinst.so.2
        libodbcinst.so (libc6,x86-64) => /usr/local/lib/libodbcinst.so
        libod

[2018-03-07 22:37] RobsonKarls commented on #13035
I only obdcinst.ini in /usr/local/etc/

[2018-03-07 22:44] GrabYourPitchforks commented on #26604
@jkotas Currently `Span.Clear` and `Span.ClearWithoutReferences` get inlined into their caller, which means that the caller (user code) directly invokes `JIT_Memset` or `MemoryNative::Clear`, depending on the size of the span.

When I was experimenting with optimizing for small buffers the code looked like the following.

[code]

The modified `ClearWithoutReferences` was large enough where it was

[2018-03-07 22:47] maryamariyan commented on #13035
I believe here's what you have configured in ```/usr/local/etc/odbcinst.ini```
[code]

Can you please try adding this to ```/usr/local/etc/odbcinst.ini```:
[code]

Then to configure ```/etc/odbcinst.ini``` as below:
[code]

Let me know if this helps

[2018-03-07 22:48] karelz commented on #25163
Discussion
* We should not change the verb (we probably do on POST to GET redirect).
* Changing URI is ok - that is even documented
* Changing headers should be ideally avoided - @geoffkizer will check out full list and analyze if we can easily do it

[2018-03-07 22:53] DrewScoggins commented on #25719
We did some work to add collection for some small end to end scenarios as well as cold start and you can find the results here, https://benchview/trendline?build_selector=latest&count=100&aggregate=arithmeticMean&filterTail=one&filterVal=100&interval=INTERVAL_MIN_MAX&rtids=[1123]&archids=[9]&mpids=[1318,1315]&cfgids=[2932]&testids=[105461,105460,105457,105456,105458,105455]&jobgroup=Azure%20Functi

[2018-03-07 23:02] karelz commented on #26459
We will leave the default false - similar to WinHttp stack.

[2018-03-07 23:02] #26459 closed

[2018-03-07 23:03] tarekgh commented on #25719
thanks @DrewScoggins for the update. what is the action we need to take here according to your finding? and should we have this issue for 2.1?

[2018-03-07 23:08] geoffkizer commented on #26957
Here's my comment on this issue from previously:  https://github.com/dotnet/corefx/pull/24288#issuecomment-332965476

cc @davidsh

[2018-03-07 23:14] bartonjs commented on #24805
Looks like it was an intermittent device fault

[2018-03-07 23:14] #24805 closed

[2018-03-07 23:26] bartonjs commented on #16988
Since

* This crash was reported on a release build
* I asserted that it was #6302
* We finally noticed that #6302 was release-only
* We added the missing GC.KeepAlive to fix #6302
* No one has complained about this since we added the GC.KeepAlive

I'm going to say it really was that problem, and is fixed.

[2018-03-07 23:26] #16988 closed

[2018-03-07 23:28] davidsh commented on #27301
If (1) means modifying the original HttpRequest.Content.Headers, then I am not a fan of that unless it is very difficult/perf-impacting to do (2). Otherwise (2) is preferred.

[2018-03-07 23:53] RobsonKarls commented on #13035
Maryam this is my odbcinst -j

RUN odbcinst -j
 ---> Running in 43ac8c3bc11b
unixODBC 2.3.4
DRIVERS............: /usr/local/etc/odbcinst.ini
SYSTEM DATA SOURCES: /usr/local/etc/odbc.ini
FILE DATA SOURCES..: /usr/local/etc/ODBCDataSources
USER DATA SOURCES..: /usr/local/etc/odbc.ini
SQLULEN Size.......: 8
SQLLEN Size........: 8
SQLSETPOSIROW Size.: 8

[2018-03-07 23:58] saurabh500 opened #27834 "Failure in System.Net.Http.Functional.Tests"
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/9469/consoleFull

[code]

[2018-03-08 00:23] krwq commented on #27740
@MattGal Thank you a lot!

[2018-03-08 00:58] davidsh commented on #27834
Duplicate of #26092

[2018-03-08 00:58] #27834 closed

[2018-03-08 01:30] MohammadHamdyGhanem opened #27840 "Add a RegexExpression class and method-based regular expression"
I made this proposal to C# repo.
https://github.com/dotnet/csharplang/issues/1364
It concerns a LinQ syntax for Regular expressions. Apparently it depends on a RegexExpression Class and some extension methods.
RgxExpression calass should have some construcors to allow create an instance based on a regex string, or another RgxExpression instance or expression. This will help define repeated express

[2018-03-08 01:32] EgorBo opened #27841 "Lots of duplicate *.cs files in corefx"
I wrote a small script to detect duplicates and it turns out there lots of such files in the repository
When I try to re-use some of the following files in mono I am confused which one to pick
Also the script detects files with a very small diff (see second group)
Is it intentional?
[code]
## The following files have a very small diff:
[code]

EDIT by @krwq:
Similar issue but needs investigation o

[2018-03-08 01:36] karelz commented on #25354
Here's [up-for-grabs 2.1 query](https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Aup-for-grabs+milestone%3A2.1.0). I don't think we have any API work for 2.1 at this moment.

[2018-03-08 02:04] davidsh commented on #26732
Writing a test for this could be tricky.  We would need  the loopback proxy server to track how many incoming connections were made to it, etc.

I would be fine if this got fixed and the test was done manually.

@wfurt We discussed this in meeting today.  You mentioned this might be fixed already due to other changes.  Do you plan to validate that?

[2018-03-08 05:35] #25946 closed

[2018-03-08 07:02] Sunny-pu opened #27845 "System.IO.Pipes.Tests.NamedPipeTest_UnixDomainSockets failed with "System.ArgumentOutOfRangeException""
The tests: System.IO.Pipes.Tests.NamedPipeTest_UnixDomainSockets.NamedPipeClient_Connects_With_UnixDomainSocketEndPointServer
System.IO.Pipes.Tests.NamedPipeTest_UnixDomainSockets.NamedPipeServer_Connects_With_UnixDomainSocketEndPointClient failed.

Details: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug/53/testReport/
Failed configuration: OSX 10.12_debug

[code]

[2018-03-08 07:05] Sunny-pu commented on #26673
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_release/361/testReport/

[2018-03-08 07:06] danmosemsft commented on #26673
@eerhardt

[2018-03-08 07:31] jkotas commented on #27662
These tests fail consistently in the optional corefx_baseline legs in CoreCLR CI as well.

[2018-03-08 07:36] jkotas commented on #27662
Have you ruled out that differences in the underlying file system as the root cause? https://github.com/dotnet/corefx/pull/26176#discussion_r160851744

[2018-03-08 08:49] dotnet-mc-bot opened #27846 "Test failure: System.Net.WebSockets.Client.Tests.ClientWebSocketOptionsTests/ClientCertificates_ValidCertificate_ServerReceivesCertificateAndConnectAsyncSucceeds"
Opened on behalf of @Sunny-pu

The test `System.Net.WebSockets.Client.Tests.ClientWebSocketOptionsTests/ClientCertificates_ValidCertificate_ServerReceivesCertificateAndConnectAsyncSucceeds` has failed.

Assert.NotNull() Failure

        Stack Trace:

           at System.Net.WebSockets.Client.Tests.ClientWebSocketOptionsTests.<>c__DisplayClass8_0.<<ClientCertificates_ValidCertificate_ServerReceive

[2018-03-08 08:57] dotnet-mc-bot opened #27847 "Test failure: System.IO.Tests.PathTests/GetTempFileName"
Opened on behalf of @Sunny-pu

The test `System.IO.Tests.PathTests/GetTempFileName` has failed.

System.IO.FileNotFoundException : Unable to find the specified file.

        Stack Trace:

           at Interop.ThrowExceptionForIoErrno(ErrorInfo errorInfo, String path, Boolean isDirectory, Func`2 errorRewriter) in /Users/buildagent/agent/_work/20/s/src/mscorlib/shared/Interop/Unix/Interop.IOErrors

[2018-03-08 09:03] molinch opened #27848 "ExportFactory works differently between MEF/Portable MEF"
I am currently porting code from MEF to portable MEF (System.Composition).
There is a major difference with ExportFactory.

Before if an export was defined as PartCreationPolicy.Any (which was the default) when ExportFactory was used, it would always return a new instance. Furthermore Any was very similar to Shared: injecting the dependency in normal scenarios would always return the same instance

[2018-03-08 09:30] marek-safar commented on #27841
I think the `src\Common\src\CoreLib` copies makes sense and we see it as sort of work in progress in CoreFX but there are others which are not in CoreLib for example `KeyValuePairs.cs` or `DbConnectionClosed.cs` and they are more confusing.

[2018-03-08 09:35] molinch commented on #27848
Repro here: https://gist.github.com/molinch/5386ee5c0ed56e4ccc39ab0b8757ca58

[2018-03-08 09:48] misterspeedy commented on #22781
Just had to add this to another, somewhat separate project.  Seems to be a widespread issue.

[2018-03-08 09:50] tmds commented on #25354
The LongCount is a mismatch with the platform APIs.
Windows and 32-bit Linux accept a 32-bit length parameter.

Perhaps we should drop the CountLong from this API? The original requests from @kurtschelfthout were to provide OffsetLong and FileStream overloads. There was no request for a CountLong.

CC @geoffkizer @AlexRadch

[2018-03-08 09:52] geoffkizer commented on #25354
That seems entirely reasonable to me.

[2018-03-08 09:53] Porges opened #27849 "DBConnectionStringBuilder doesn't correctly serialize empty strings"
`DBConnectionStringBuilder` serializes empty strings as `"key="` instead of `"key=''"` (or `"key=\"\""`). This is incorrect as this is the syntax to _remove_ a key from a connection string (e.g. `"key=foo;key="` will parse as an empty connection string).

Demo code:

[code]

Expected outputs when this is fixed would be that the last 2 outputs are the same as the first 2 outputs.

[2018-03-08 10:03] AlexRadch commented on #25354
That reasonable to me too.

[2018-03-08 10:08] tompazourek commented on #22781
@misterspeedy Note that when you're talking about version 4.3.0 that it's actually a version of the NuGet package. The assembly inside the 4.3.0 NuGet package actually has different assembly version, like 4.1.1.0.

One thing is still not clear to me:

**Why does the latest version of .NET Framework (4.7.1) contain version 4.0.0.0 of System.Net.Http when there have been newer versions since long ti

[2018-03-08 10:11] mbp commented on #22781
I believe this is due to be solved in .NET 4.7.2:

Seen here: https://github.com/Microsoft/dotnet-framework-early-access/blob/master/release-notes/build-3052/dotnet-build-3052-changes.md#bcl

[2018-03-08 10:27] qqbuby commented on #13035
RE: https://qqbuby.github.io/odbc/2017/11/16/cloudera-odbc-driver-for-impala-on-debian-linux-with-.net-core-2.0.html

To build a docker image with unixODBC driver manger, you can refer to https://github.com/qqbuby/aspnet-docker/blob/dev/runtime/2.0/clouderaimpalaodbc/Dockerfile

[code]

[2018-03-08 10:47] molinch commented on #27848
Based on this test, it seems like it's on purpose:
https://github.com/dotnet/corefx/blob/6bac4088aadf09a6e4864c78979dc54290015b9d/src/System.Composition/tests/ExportFactoryTests.cs#L110

However that's clearly a breaking change.

[2018-03-08 11:35] MarcoRossignoli commented on #25344
@jkotas is there some docs on this?I mean [Intrinsic], *.Portable.cs conventions, debug System.Private.CoreLib  etc...i'm very interested to go deeper and help more...but sometimes is a bit cryptic where put the hands(first reason clr/corefx is huge code base with a lot of tecnologies...and this is amazing, the best school). For instance i like to work on System.Private.CoreLib.sln .net side but i

[2018-03-08 11:39] AlexRadch commented on #25354
That seems reasonable to me too.
But if Unix 64 can support `LongCount` and we can try to write workaround code for Unix 32 and Windows then `LongCount` is reasonable too.

[2018-03-08 12:16] bigmacd commented on #13035
Could it be a LD_LIBRARY_PATH problem?  We do pass environment variables into the docker container when we spin it up:

ASPNETCORE_URLS=http://*:80
LANG=en_us
ASPNETCORE_ENVIRONMENT=production
LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/nz/lib:/usr/local/nz/lib64
ODBCINI=/root/odbc.ini
NZ_ODBC_INI_PATH=/root

[2018-03-08 13:41] marek-safar commented on #27731
Oh, I see there are some unrelated types bundled in. Well, this is going to be interesting to build.

I'll add a list of types to type-forward to our custom mscorlib. I think @weshaggard done it for some netstandard nugets before so there should be a way for you to do it but we'll need to update the platform APIs in https://github.com/dotnet/standard/tree/master/platforms

[2018-03-08 14:19] #27823 closed

[2018-03-08 14:26] eerhardt commented on #26673
The https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_release/361/testReport/ failure is tracked by #27402.  It appears to be OSX specific.  It has a different error message than this issue:

[code]

[2018-03-08 14:26] #26673 closed

[2018-03-08 14:32] stephentoub commented on #27841
Those typically came about because the file was imported as part of a library that needed it, and it wasn't deduped against the rest of the repo and put into Common.

[2018-03-08 14:39] mikeparker commented on #27468
We found our issue, it's because we have a DelegatingHandler to do Retrying, which had a linked cancellation token source which was not being disposed.
[code]

Whilst this is technically 'our fault' we do feel it'd be good if the framework had a better safeguard against this kind of thing. It has taken us over 2 months to figure out what it was as we're generally not experts in diagnosing memory l

[2018-03-08 14:49] galmok commented on #27468
Your posted code uses no cancellation token (default token is a None token), yet you still claim it is a fault with your code? Unless you pass in the linkedSource to SendAsync in which case it could be your error.

[2018-03-08 14:53] jkotas commented on #25344
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Runtime/CompilerServices/IntrinsicAttribute.cs has the two line version of the documentation. Comment in front of `Compiler::impIntrinsic` in https://github.com/dotnet/coreclr/blob/master/src/jit/importer.cpp has details how these intrinsic methods are recognized and expanded in the JIT.

https://github.com/dotnet/corefx/blob

[2018-03-08 15:05] MarcoRossignoli commented on #25344
@jkotas great!Thank you very much!

[2018-03-08 15:19] pjanotti commented on #27845
I think I will change it back to `/tmp`, then we don't depend on $HOME or $TMPDIR length on macOS.

[2018-03-08 15:38] pjanotti commented on #27845
Per http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap10.html#tag_10_01 we can rely on `/tmp` being present.

[2018-03-08 16:13] Petermarcu opened #27854 "If an IAsyncResourceFilter provides a result value by setting the Result property of ResourceExecutingContext to a non-null value, then it cannot call the next filter by invoking ResourceExecutionDelegate."
@ranouf commented on [Tue Mar 06 2018](https://github.com/dotnet/core/issues/1324)

Hi,

I have this TypeFilterAttribute:

[code]

When I look in Application Insight I have this Exception Message:
**System.InvalidOperationException**
**If an IAsyncResourceFilter provides a result value by setting the Result property of ResourceExecutingContext to a non-null value, then it cannot call the next filt

[2018-03-08 16:29] ViktorHofer opened #27855 "source.dot.net broken"
It seems .NET Core data got removed. Can't find any .NET Core types. Not sure whom to tag here...

cc @danmosemsft @weshaggard

[2018-03-08 16:41] dgxhubbard commented on #11857
Thanks adding "https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" as a source to vs worked.

[2018-03-08 16:42] ViktorHofer commented on #27840
@MohammadHamdyGhanem thanks for thinking about how to improve the .NET and the Regex we all love. As @CyrusNajmabadi already pointed out, this feature doesn't belong into the language (csharplang) nor into the Linq implementation. You can easily write your own Linq Provider and distribute your desired APIs as a nuget package.

[2018-03-08 16:42] #27840 closed

[2018-03-08 16:43] stephentoub commented on #26452
I've isolated a repro of this that always fails for me within a second, both debug and release:
[code]

[2018-03-08 16:50] wfurt commented on #26452
Thanks @stephentoub. I was able to make some progress - we essentially return Acept Operation and than we try to use it from  queue. Calling ReturnOperation() will reset callback pointer and that will blow up in InvokeCallback() The xunit problem does not repro under lldb. Ill check if the code above does.

[2018-03-08 16:50] stephentoub commented on #27855
cc: @alexperovich

[2018-03-08 16:51] stephentoub commented on #26452
Right.  The question is: how does that happen?

[2018-03-08 17:07] wfurt commented on #26452
I'm trying to find out but it was tricky to get that from core files. Hopefully your repro will simplify it.
For XUnit, it seems to happen when TryCompleteAccept() hits the catch (ObjectDisposedException);
I instrumented code to get me more clues.

I did try your code on Ubuntu 16. It did hang first two tries and it did repro on third.
That is still much better then xunit run.I'll chase that down.

[2018-03-08 17:09] #27845 closed

[2018-03-08 17:16] RobsonKarls commented on #13035
Hey Guys I got it working, Thanks @maryamariyan @bigmacd and @qqbuby ,
@qqbuby  this article that u shared is really a piece of work, it made so clear how ODBC works.

[2018-03-08 17:24] keeratsingh opened #27858 "System.Data.SqlClient.ManualTesting.Tests.TvpTest.TestMain fails on Ubuntu due to different regional date format"
System.Data.SqlClient.ManualTesting.Tests.**TvpTest.TestMain** fails on Ubuntu due to different regional date format.

Most of the failures are due to mismatch in the Year format between the expected and the actual value as seen below, opening this issue to keep track.
[code]

However, there are a couple of more failures apart from mismatch year format which need to be investigated.

[code]
**Comp

[2018-03-08 17:26] weshaggard commented on #24320
As part of cleaning up the VS15 work we should update our VSConfigurationGenerator to match what VS2017 outputs by default. See https://github.com/dotnet/corefx/pull/27831#discussion_r173226079.

[2018-03-08 17:53] danmosemsft commented on #13035
@RobsonKarls great, could you share what the problem was?

[2018-03-08 18:08] Clockwork-Muse commented on #27468
Not necessarily true.  A big source of memory leaks in managed memory languages is object pools with non-expiring members (for the obvious reason that a reference to the object still exists).

[2018-03-08 18:14] stephentoub commented on #26452
It looks like the linked list management of operations is messed up...

[2018-03-08 18:16] JeremyKuhne commented on #25344
@MarcoRossignoli this is the best we have at the moment: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md#testing-with-private-coreclr-bits

We want to improve the process, so don't hesitate to provide feedback. You can add to the docs, create issues, whatever. Please feel free to tag me whenever you do.

[2018-03-08 18:20] Tratcher opened #27861 "[Cookie] SocketsHttpHandler/CookieContainer does not accept cookies from Twitter, fails request"
I tested ASP.NET's Twitter OAuth handler with the new SocketsHttpHandler (dotnet --version: 2.1.300-preview2-008251) and found that the CookieContainer does not accept cookies from Twitter and it fails the request rather than ignoring them.

[code]
Reference app: https://github.com/aspnet/Security/blob/4e3e8bb109f3d1b3d95f7af4775a386d291c2b96/samples/SocialSample/Startup.cs#L111

The cookies in qu

[2018-03-08 18:22] rmkerr commented on #27717
Fixed in #27838

[2018-03-08 18:22] #27717 closed

[2018-03-08 18:23] tmat commented on #27611
Implemented by https://github.com/dotnet/corefx/pull/27589

[2018-03-08 18:23] #27611 closed

[2018-03-08 18:25] geoffkizer commented on #26452
The list management logic is overly complex because it's a circular list.  We do this to save an object reference on the queue -- we just have _tail, not _head and _tail, because _tail.Next holds the head.  I've several times thought about changing this to just add _head and simplify the logic (it's plenty complex as it is), but never actually did this.

I'm guessing this is from StopAndAbort?

On

[2018-03-08 18:37] stephentoub commented on #26452
I think I see the problem...

[2018-03-08 18:43] davidsh commented on #27861
Yes, the handler (SocketsHttpHandler) should ignore unreadable cookies and continue with the request.

But we should also consider making a fix to Cookier parsing.  Perhaps the use of the "UTC" timezone is a valid construct but our cookie parser just doesn't know how to handle that.

[2018-03-08 18:44] stephentoub commented on #26452
Or, at least one problem.

The _state field is used to coordinate between concurrent operations manipulating the same AsyncOperation.  But that _state field needs to be reset to Waiting when the operation is returned to the cache.  So:
- Thread 1 calls ProcessQueue, takes the lock, and grabs the first item from the list (but doesn't remove it), then exits the lock.
- Thread 2 calls StopAndAbort, w

[2018-03-08 18:44] davidsh commented on #27861
cc: @stephentoub @geoffkizer @karelz

[2018-03-08 18:46] stephentoub commented on #26452
I have a fix (at least for the above mentioned issue)...

[2018-03-08 18:50] MarcoRossignoli commented on #25344
Ok @JeremyKuhne! thank's a lot for the infos!

[2018-03-08 18:51] geoffkizer commented on #26452
Yuck.  Thanks for figuring this out.

[2018-03-08 18:52] ericstj commented on #23830
@alexdrl that is different.  All Xamarin frameworks have their own TFM which differs from desktop.

2 has already happened in 2.1 branch.

I'll open a new issue to track 3.

[2018-03-08 18:52] #23830 closed

[2018-03-08 18:54] ericstj commented on #23743
/cc @joperezr as he has been dealing with these packages a lot lately with UAP, since UAP put *everything* it supported inbox.

[2018-03-08 19:03] krwq commented on #27740
Wasn't planning on merging my PR yet - please ping if it repros again.

[2018-03-08 19:03] geoffkizer commented on #27861
The RFC seems to require GMT, but if UTC is used in practice we should support that as well (it's the same as GMT so should be easy).

[2018-03-08 19:06] rmkerr commented on #27301
The test fix I have now involves adding a boolean to `CurlHandler.EasyRequest`, and changing the `CurlHandler.EasyRequest.AddRequestHeaders` static method to be non-static so that it can then check the state of that boolean. The change would allow me to remove an existing modification to the headers, but there would still be one more left in `CurlHandler`.

There are a lot of ways to make the fix,

[2018-03-08 19:17] davidsh commented on #27861
Which RFC?  Looking at RFC6265, I don't see a lot of mentions about timezone formats except for this text:
https://tools.ietf.org/html/rfc6265#section-5.1.1

year, hour, minute, and second (in UTC) are the day-of-month-
  value, the month-value, the year-value, the hour-value, the
minute-value, and the second-value, respectively.  If no such
date exists, abort these steps and fail to parse the coo

[2018-03-08 19:25] davidsh commented on #27861
And looking at this old RFC:
https://tools.ietf.org/html/rfc822#section-5

It seems that "UT" was a valid time zone indicator for "GMT".

[code]

So, we probably need to be flexible in how we parse this.  I think that browsers actually are better at this and will accept a few different formats for GMT time.

[2018-03-08 19:26] geoffkizer commented on #27861
I was looking here: https://tools.ietf.org/html/rfc6265#section-4.1.1

This refers to the old HTTP RFC here: https://tools.ietf.org/html/rfc2616#section-3.3.1

   (GMT), without exception.

[2018-03-08 19:27] geoffkizer commented on #27861
That said, I think we probably should accept "UTC"; I don't see any real downside.

[2018-03-08 19:36] huanwu commented on #25608
Fixed by #26612

[2018-03-08 19:36] #25608 closed

[2018-03-08 20:06] MohammadHamdyGhanem opened #27868 "ref read-write indexer for String class"
String class is immutable. Any change to it creates a new instance. This maybe a waste of time in some situations where there is no change in the string length, like when you need to change only one char.
Since ref returns are available, I tried this:
[code]
But C# refused the second statement, with this error:

I tried to use Span< T > but String class has only "AsReadOnlySpan" method.
So, my pro

[2018-03-08 20:29] jkotas commented on #27868
This proposal makes the string class mutable. String class is immutable and we want to keep it that way.

[2018-03-08 20:29] #27868 closed

[2018-03-08 21:14] MohammadHamdyGhanem commented on #27868
Why?
I see that the problem is when changing the string size. What prevent you from changing only the chars?

[2018-03-08 21:19] jkotas commented on #27868
The .NET runtime and libraries depend on the strings being immutable. Allowing string mutation would be a very dangerous and unsafe operation.

If somebody wants to change the chars of the string and they know what they are doing it, there is unsafe code for that.

[2018-03-08 21:34] wfurt opened #27870 "[CurlHandler] curl HttpHandler can only do basic auth to proxy"
I have proxy setup with supporting only NTLM authentication and I have simple app fetching given URL through the proxy

[code]

This work when running on Windows but always fails on Ubuntu16.

It seems like the code always sends Basic auth when credentials are available.
When that fails it never tries again with schema supported by the server.
Also note, that the PreAuthenticate has no impact so t

[2018-03-08 21:39] kasper3 commented on #24320
@weshaggard, isn't #27831 exactly the opposite of moving to VS2017 or is the plan to reconcile the versions to 2015 first, then write a tool that will update solution and project files together?

[2018-03-08 21:43] wfurt opened #27871 "SocketHttpHandler is failing to parse properly proxy environment variables with special characters."
Consider situation like:

export all_proxy='corefx\foo:SecretPass#1@clrperftst003:3128'

when using curl or curl handler from c# auth to proxy works as expected.

However when I switch to SocketHttpHandler, it fails to parse the string because we use Uri parsing function and that does not like the special characters. With that we fail to instantiate HttpEnvironmentProxy and handler attempts direct

[2018-03-08 21:54] wfurt opened #27872 "SocketHttpHandler is failing NTLM authentication to proxy"
I essentially use example from #27870 When running on Windows using WinHTTPHandler it works just fine. On Linux I did verify my proxy setup using curl directly.

Note, that server expects NTLM directly instead of Negotiate/NTLM

On Linux I tried to force NTLM in TryGetValidAuthenticationChallengeForScheme() and CheckIfProxySupportsConnectionAuth() and I got following trace.

That was somewhat surp

[2018-03-08 21:55] tarekgh commented on #25210
I am closing this one as we are not currently running uap tests on corefx and this is clearly not a library issue. we can reopen if the test continue to fail when enabling uap back.

[2018-03-08 21:55] #25210 closed

[2018-03-08 21:56] #27330 closed

[2018-03-08 22:10] gboucher90 commented on #22101
Using "OpenMappedExeConfiguration()" is not really an acceptable solution for us. We have many utility libraires referenced by applications  and using directly the ConfigurationManager. Thus we cannot hardcode a specific file easily. We would need to inject everywhere the application config file name or the configuration object directly (granted that should have been done in the first place).

Any

[2018-03-08 22:39] Jlalond opened #27875 "System.Configuration.ConfigurationManager SettingElement Null Reference Exception"
Related #27807

While making the above tests, I discovered the default constructor for a SettingElement will throw a NRE if GetHashCode is called upon it.

Deemed as a bug, but what should it return? The same hashcode as a valid SettingElement? I don't have the background knowledge on what a 'proper' return value for this situation would be

[2018-03-08 22:47] jnm2 commented on #22101
Especially because that file location is user-account-global state.

[2018-03-08 22:58] wfurt opened #27876 "SocketHttpHandler does not work with negotiate/kerberos auth on Linux"
I have setup where Linux machine joined domain (using MIT krb5)

and I verified that curl can get pages using kerberos authentication:

When I try simple HTTP client app (#27870) , I get following error. I also try it without explicit credentials and handler.UseDefaultCredentials = true and that simply return 407. It is not clear to me what exactly we expect  but With UseDefaultCredential I would

[2018-03-08 23:11] davidsh commented on #27876
Does Negotiate/NTLM auth work to destination servers using SocketsHttpHandler on Linux?  I.e., pretend there is no proxy involved.  Does auth work, i.e. respond properly to 401's?

It seems to me that should be no difference between 401 and 407 in terms of how the HTTP stack in SocketHttpHandler works in terms of responding to those auth requests.  So, I would guess that if it doesn't work for 407

[2018-03-08 23:13] weshaggard commented on #24320
@kasper3 #27831 is just about getting our solutions updated based on our current generation tool. Once we work on cleaning out the VS2015 we will update the generation tool to also update all the solutions.

[2018-03-08 23:18] #26162 closed

[2018-03-08 23:18] geoffkizer commented on #27876
Yes, that's right.  The only difference is the `Proxy-support:  Session-Based-Authentication` header; if this isn't present on a proxy challenge, we won't attempt to do ntlm/negotiate.

[2018-03-08 23:20] wfurt commented on #27876
Is that required @geoffkizer? Squid does not send it and curl works without it.

[2018-03-08 23:22] geoffkizer commented on #27876
I don't know.  I implemented that because the RFC says it's required.  https://tools.ietf.org/html/rfc4559#section-6

That said, the RFC could be full of crap.

If WinHttpHandler and CurlHandler work without the Proxy-support header, then we should just remove that check and match their behavior.

[2018-03-08 23:27] MohammadHamdyGhanem commented on #27868
@jkotas
Is this related to the Intern Pool or The GC?.. Or there is another reason?
Could ypu give me a link that explans the reason for this design?

[2018-03-08 23:29] danmosemsft commented on #27875
It should return a number, in this context basically any number, but that number must be the same for all objects for which Equals on the object returns true.

Eg., if I create 2 SettingElements X and Y with the default constructor, if X.Equals(Y) returns true, they must give the same hash code.

[2018-03-08 23:35] JustArchi opened #27877 "Unobserved task exception thrown with new SocketsHttpHandler"
[code]

Not a fatal error but it should not be written to `TaskScheduler.UnobservedTaskException`. Thanks!

[code]

[2018-03-08 23:35] danmosemsft opened #27878 "Investigate generating matching strings for test regexes and adding to testbed"
The regexes we may port in https://github.com/dotnet/corefx/issues/27618 will exercise our parser but not our runner.

Experiment with using REX (https://www.microsoft.com/en-us/research/project/rex-regular-expression-exploration/) to generate interesting strings for each of those interesting patterns. Then preserve some of those strings in the tests - so we have a large body of new positive tests

[2018-03-08 23:38] CyrusNajmabadi commented on #27878
If you add/generate any tests, let me know.  I'll add them to the roslyn test suite.

[2018-03-08 23:41] danmosemsft commented on #27878
@CyrusNajmabadi these would be matching tests not parsing tests. Are those still relevant to you?

[2018-03-08 23:41] ViktorHofer commented on #27878
nice!

[2018-03-08 23:41] danmosemsft commented on #27855
https://github.com/dotnet/core-eng/issues/2728

[2018-03-08 23:41] #27855 closed

[2018-03-08 23:43] weshaggard commented on #27731
The APIs in System.Memory are not part of netstandard (at least not yet), but they instead target netstandard. For Xamarin you will just need to ensure that all the APIs are added either inbox in your mscorlib and type-forwarded or in a partial OOB System.Memory library you would include in Xamarin. The main point is that you will need to make sure all the API's are inbox on Xamarin in order for t

[2018-03-08 23:43] CyrusNajmabadi commented on #27878
Yes.  Very relevant.  We sitll want to make sure we can successfully parse all legal regex strings that you guys accept.

Basically:
1. If you can parse them, we should be able to as well.
2. If you error while parsing, we should error with the same message.

That can easily be easily tested.

What we also want is: for legal strings, we should be interpretting the input text the same way as you (i

[2018-03-08 23:49] JeremyKuhne commented on #22101
Sorry there isn't an easy answer. :/ Since there is only effectively one AppDomain (one set of statics) one potential way to address this would be for the test infrastructure to copy (or hardlink) the testhost.dll local to the tests to pick up specified configs (by renaming them).

[2018-03-08 23:52] jkotas commented on #27868
Many people have written about this: https://www.bing.com/search?q=why+are+strings+immutable+in+c%23

[2018-03-09 00:09] wfurt commented on #27876
I set up IIS can enabled "Windows authentication". Curl handler can negotiate with default or explicit credentials. (no proxy) SockerHandler can do neither one. Since I have the setup I can dig little bit deeper.

[2018-03-09 00:19] sidshetye commented on #22101
@JeremyKuhne is there a new recommended approach for application settings and custom configuration for .net core apps? We’re simply going with app.config/*.config just because of existing code but open to recommendations since my team is already porting ...

[2018-03-09 00:31] CyrusNajmabadi commented on #27878
Right.  i'm saying if you come up with new patterns for "those patterns" that you let me know so i can add tests for those patterns as well.

Thanks!

--

Not today.  but potentially in the future.  Consider, for example, a regex-debugger built into roslyn.  We'd want a way to evaluate the users pattern against the input, a step at a time, highlighting what was going on.  Right now Regex is too mu

[2018-03-09 00:41] pakrym opened #27880 "Pipe internal state could be damaged by not observing cancellation"
Test case:

[code]

[2018-03-09 00:42] pakrym commented on #27880
/cc @davidfowl

[2018-03-09 00:44] nattress commented on #27619
Reverted https://github.com/dotnet/corefx/commit/ebe14686a89d26d1d34d359f7a636d6e9a36a624 in https://github.com/dotnet/corefx/commit/671b10bb21668d8432f066a4307c269a98a66ea8

[2018-03-09 01:05] #27071 closed

[2018-03-09 01:05] #27521 closed

[2018-03-09 01:12] MohammadHamdyGhanem commented on #27868
Thanks.

[2018-03-09 01:39] RobsonKarls commented on #13035
The problem was in my Dockerfile, I was installing the driver in the wrong image, my Dockerfile is posted in above posts.

[2018-03-09 02:20] manofstick commented on #26465
Possibly just being silly (wouldn't put it past me...) but a possibly solution to @mgravell dislike of having to provide the _from_ and _to_ types (other than adding the functions directly onto Span) might be to do something along the lines of:

    static class SpanCasting
    {
        public ref struct SpanCaster<T>
            where T : struct
        {
            private Span<T> _span;

[2018-03-09 02:47] #26452 closed

[2018-03-09 02:55] KKhurin opened #27884 "Leaking System.Net.Http.HttpConnectionPool in WCF web socket tests"
It seems that the new web sockets implementation is leaking objects by leaving them rooted by the timers. Here is the typical GC root:
[code]
The leak is especially fast in stress where we get about 100K leaked pools each 10 minutes of stress run.

[2018-03-09 03:51] harvinders opened #27885 "Getting error on windows => System.PlatformNotSupportedException: 'System.IO.Ports is currently only supported on Windows.'"
I have a .net standard 2.0 dll (Drivers.CommunicationLocal) which is referencing SerialPort class. When I try to use this from a .Net 4.6.1 console app or a xUnit (.net core 2.0) on windows 10, I get the following exception. Using it from UWP app works fine.

System.PlatformNotSupportedException: System.IO.Ports is currently only supported on Windows.
   at System.IO.Ports.SerialPort..ctor(String

[2018-03-09 04:30] geoffkizer commented on #27876
Yeah, you are right.  I was confused here.  The current code is wrong and I'll fix it.  This won't fix the above issue, but it will fix #27872 hopefully.

[2018-03-09 04:33] geoffkizer commented on #27876
I'm not sure either.  From the trace it looks like proxy auth, but then per #27872 and my comment above, I don't think we're ever responding to 407s today due to the incorrect check for the Proxy-support header.

@wfurt Can you clarify what code is running here and how it fails?

[2018-03-09 04:47] geoffkizer commented on #27876
This is on Windows or Linux?  What behavior do you see?

[2018-03-09 04:53] wfurt commented on #27876
IIS on Windows server 2016. I could set nginx or Apache as well if useful. When running HttpClient on Linux I would see similar error about principal. It seems like with curl handler we let the library deal wth it e.g. we do not use our negotiate code. I'm working on Windows tests and I should results by tomorrow.

[2018-03-09 04:57] geoffkizer commented on #27876
I meant, is the client Windows or Linux.

I'm hoping that when running the client on Windows, this succeeds.

When running the client on Linux, it sounds like we have an issue as described above -- exception in AcquireCredentialsHandle.  This needs further investigation.  Most likely it doesn't matter if it's connection or proxy auth.

[2018-03-09 05:00] wfurt commented on #27876
BTW as far as your previous questions: This is client running on Linux. I did bypass the code in question to get to the posted stack trace. Without, it just did not work without any error message - as we ignore proxy failures and it would return 407 response from the proxy. Since I get similar result with authentication to server it suggests some problems with the kerberos layer.

[2018-03-09 05:02] geoffkizer commented on #27876
Yeah, there's something screwed up in how we are using the NTAuthentication class on Linux; we need to chase it down.

Do you know if this happens for ntlm as well, or just negotiate?

[2018-03-09 05:13] wfurt commented on #27876
NTLM is also broken - tracked in #27872. In curl handler it does not seems to need kerberos at all but we are failing on GSSAPI similar way as negotiate.

[2018-03-09 05:21] geoffkizer commented on #27884
HttpConnectionPoolManager.Dispose should dispose the timer, so apparently that isn't getting called.  Which would seem to indicate that the SocketsHttpHandler is not getting disposed, either.  @KKhurin does that sound right to you?

We need to fix either way, just trying to narrow down what's happening here.

[2018-03-09 06:11] wfurt commented on #26732
yes, @davidsh I plan to look at it. And yes, I think loopback can work.

[2018-03-09 06:53] davidfowl opened #27887 "Change PipeScheduler.Schedule to be non generic"
This is forcing kestrel to allocate per call to schedule where it didn't before. We don't need it to be generic since we're always passing an object as state in the fast path. We box today when there's a sync context or execution context.

/cc @pakrym @halter73

[2018-03-09 07:02] geoffkizer commented on #27870
@wfurt, are you using the existing NTLM/Negotiate tests in DefaultCredentialsTests.cs?  I know we have scripts to set up the environment to run these tests in, though they may need some work.  @davidsh would know what's needed here.

Seems like the first step in NT auth testing should be getting these tests running and passing; we can add additional variations from there.

[2018-03-09 07:38] GrabYourPitchforks opened #27889 "MemoryPool<T>.Shared.Rent should zero-init returned buffer"
See https://github.com/dotnet/corefx/issues/25843 for earlier discussion on this. In a nutshell, there is some evidence that application developers are beginning to use the `Rent` APIs as drop-in replacements for `new byte[...]`, but they don't realize that they're getting back a buffer _that might already have previously computed data_. This could lead to applications misbehaving (because they ex

[2018-03-09 07:49] GrabYourPitchforks opened #27891 "ArrayPool<T>.Shared.Return should clear buffer when T is reference or contains references"
The current implementation of `ArrayPool<T>.Shared` is that there are per-thread buckets of arrays waiting to be re-rented. The default implementation of `Return` is that the arrays aren't cleared before being thrown into the TLS buckets. This leads to situations where if an application uses scratch buffers of reference types, the elements in those scratch buffers can stick around forever once the

[2018-03-09 09:47] geoffkizer opened #27892 "Socket async callbacks on Windows process the callback's ExecutionContext twice"
We have logic to capture the ExecutionContext and restore it for callbacks in both the IAsyncResult path and the SocketAsyncEventArgs path.  However, on Windows, we are already getting dispatched to the correct ExecutionContext by the Overlapped infrastructure, which on .NET Core always handles the execution context capture and dispatch.

On Unix, the equivalent infrastructure in SocketAsyncContex

[2018-03-09 09:51] marek-safar commented on #27731
@weshaggard that's not how we intend to do it right, we'll ship the only subset of types available in System.Memory as part of dev15-7 (the rest could come later) and as this package is the only way how to write cross target code with Span<T> we'd like to have these types forwarded to avoid duplicate types compilation errors.

[2018-03-09 09:56] ygc369 commented on #22813
@stephentoub

I don't think so. Why would lots of arrays get promoted to gen1 or gen2 even if they didn't get reused?
The weak reference pool only holds weak references of arrays, so it would not impact GC.

Even if this happened, it would not be worse then not using any pool.
Imagine that  an app frequently discards old arrays and allocates new ones in a process, many arrays would get reused befo

[2018-03-09 10:10] geoffkizer opened #27893 "Optimize Socket.GetOrAllocateThreadPoolBoundHandle"
This method isn't getting inlined, presumably because there's just enough logic here between this call and the call to SafeCloseSocket.GetOrAllocateThreadPoolBoundHandle (which does get inlined) to prevent inlining.

We should change the logic to simply do a quick check for whether the handle is not null, and then return it; if null, call out to a separate function that does the demand creation.

[2018-03-09 11:17] JustArchi commented on #27877
BTW I seem to receive this exception constantly, even when doing just a few https requests. I'm not entirely sure if all of that is appropriate, even though requests seem to finish properly without throwing any exceptions directly to the userspace, so it's probably harmless. Maybe it has something to do with sockets being closed due to idle time.

[2018-03-09 12:07] stephentoub commented on #27891
Return takes a clearArray argument.  If it's set to false, since that's the default value (for better or worse), it can't tell the difference between whether that was an explicit choice by the developer ("I don't want to pay for clearing, I know what I'm doing") or whether it was done unknowingly ("Look, I can call Return with just the buffer, that's easy").  Given the design is to leave it up to

[2018-03-09 13:13] stephentoub commented on #22813
If arrays aren't getting reused at all, there's no point in having a pool at all.  If arrays are getting reused, then they're likely going to be surviving GCs, and then a GC occurs that would cause the weak references to be dropped for any in the pool, they will have been promoted to higher generations.

[2018-03-09 13:13] stephentoub commented on #22813
Sure it would.  Weak references cost something.  Using a pool costs something.

[2018-03-09 13:39] GerjanOnline opened #27896 "Deprecate BackgroundWorker.RunWorkerAsync"
For me, it is very misleading that `BackgroundWorker.RunWorkerAsync` uses the convention with suffix *Async but doesn't return a Task.

Please consider deprecating this method and come with a new methodname.
The same applies to `CancelAsync`

Fixing it would not be possible because it's a breaking change.

Or... deprecate BackgroundWorker completely and come with an (better) alternative.
For examp

[2018-03-09 13:59] jkotas commented on #27889
As I have said in #25843, this is still a unacceptable behavior/performance change. It is not binary breaking change, but still pretty significant.

[2018-03-09 14:38] liesbethvandevenne commented on #24282
I have the same issue.

[2018-03-09 14:39] jkotas commented on #27889
ArrayPool is basically C malloc/free, with all the problems that come with it. Use of uninitialized data is just one of them, and by far not the worst one because of you are likely to find it pretty quickly. For example, I have seen multiple-release or use-after-free bugs introduced by our own skilled developers (e.g. https://github.com/dotnet/coreclr/pull/16512#discussion_r170152494) that are muc

[2018-03-09 14:55] svick commented on #27896
For example one with async/await, cancellationtoken support etc. Would that be `Task.Factory.StartNew` or `Task.Run`?

According to Stephen Cleary, yes, `Task.Run` is the replacement for `BackgroundWorker`, see [his series of blog posts where he compares the two](https://blog.stephencleary.com/2013/05/taskrun-vs-backgroundworker-intro.html).

Assuming the team agrees with that, I think it would ma

[2018-03-09 15:27] #24343 closed

[2018-03-09 16:18] GrabYourPitchforks commented on #27891
I'm only advocating auto clearing on return for when T is a reference type. Otherwise the references in the array can stick around forever, causing the referenced objects eventually to get promoted to Gen 3.

[2018-03-09 16:31] jkotas commented on #27891
ArrayPool tends to give you much larger buffers than what you actually need and use. Return does not know how much of the buffer was actually used. It would be pretty unfortunate for Return to clear say 1000 elements when you have actually only used 10 elements.

If we want to fix this, we should rather do that by treating array pool caches in a special way by the GC. It is something we will likel

[2018-03-09 16:35] pakrym commented on #27887
But is it forcing anything? If we don't pass structs as T it would never allocate because the only allocation currently happening is boxing T to object.

[2018-03-09 16:41] weshaggard commented on #27731
Just to clarify @marek-safar is the ask to simply add the Xamarin placeholders to our package even though it contains more API's then what Xamarin currently has? Then in a follow-up release you guys will fill it the rest of the APIs?

[2018-03-09 17:02] stephentoub commented on #27884
We weren't disposing of the handler used by ClientWebSocket.  I put up https://github.com/dotnet/corefx/pull/27900 to address that, and that should fix this specific issue.

However, I'm a little concerned still that there were so many pools still rooted. The timer queue should be using weak references to avoid keeping the timers alive, so if there are still a ton that aren't being finalized, it's

[2018-03-09 17:05] stephentoub commented on #27885
cc: @JeremyKuhne, @AlexGhiondea

[2018-03-09 17:13] makarychev13 opened #27901 "Can't open XML"
Hello. I'm trying to open XML with this code:
`XDocument File = XDocument.Load(FileName); //FileName = "SomeFile.xml"`
Unfortunately I am getting an error ArgumentOutOfRangeException: Index and count must refer to a location within the string.

What am I doing wrong?

P.S. Windows 8
ASP.NET Core 2.0
.NET Framework 4.6.1

[2018-03-09 17:24] stephentoub commented on #27901
Can you share the XML file that's producing the error, as well as the full details of the exception you get, e.g. stack trace?

[2018-03-09 17:28] makarychev13 commented on #27901
https://pastebin.com/MUk49kLV - XML
http://prntscr.com/iozdn1 - stack trace

[2018-03-09 17:32] danmosemsft commented on #27885
@harvinders is it possible to boil this down to a minimal repro (would be at least two projects and stub sources) and share for us? I suspect a reference isn't flowing correctly through the project references.

Meantime you may be able to work around this by adding a direct Nuget package reference from your app project to System.IO.Ports package.

[2018-03-09 17:41] danmosemsft commented on #27847
This means that mkstemps returned ENOENT. This can happen if GetTempPath() returns a path that does not exist. That can happen if $TMPDIR is pointing to a path that does not exist.

[2018-03-09 17:44] danmosemsft commented on #27847
It looks like GetTempPath_SetEnvVar_Unix, which can run concurrently with the GetTempFileName test, sets TMPDIR to various values, without regard to whether they correspond to existing paths on disk.

[2018-03-09 17:45] danmosemsft commented on #27847
@stpehentoub I see you modified this test: https://github.com/dotnet/corefx/pull/3201/files

Do you suggest that we make this test create the folder before it sets TMPDIR? (And remove after). Or, should Path.GetTempPath make sure that it creates $TMPDIR on disk if necessary? (Or falls back to /tmp if $TMPDIR does not exist?)

[2018-03-09 17:46] danmosemsft commented on #27847
@stephentoub

[2018-03-09 17:48] danmosemsft commented on #27847
I suggest making Path.GetTempPath create $TMPDIR if it doesn't exist as that makes it more robust for everyone. It looks like it needs permissions 1777.

[2018-03-09 17:49] danmosemsft commented on #27848
@weshaggard do you know the answer?

[2018-03-09 17:55] stephentoub commented on #27847
We should isolate the test modifying environment variables with RemoteInvoke.

[2018-03-09 17:58] Tratcher commented on #27685
On a related note, disposing of the handler should abort all connections, not drain them.

[2018-03-09 18:02] danmosemsft commented on #24268
@davidkaya it's one possibility. Any interest in offering a PR?

[2018-03-09 18:04] stephentoub commented on #27685
Are you seeing things behave otherwise?

[2018-03-09 18:05] wfurt commented on #27870
no. I have simple app command line app (like curl in c#) and I use that to test with real servers. One of my goals was to observe difference between handlers. I'll get the NTLM tests running but that can be only subset of existing functionality @geoffkizer

[2018-03-09 18:07] #27884 closed

[2018-03-09 18:07] danmosemsft commented on #27847
OK. @Anipik could you please isolate the tests GetTempPath_SetEnvVar and GetTempPath_SetEnvVar_Unix using RemoteInvoke.

@stephentoub is it also reasonable to modify Path.GetTempPath to try to avoid returning a nonexistent path? Either by falling back to /tmp or by creating it.

[2018-03-09 18:09] Tratcher commented on #27685
Yes on 2.1.0-preview2-26225-03.
https://github.com/aspnet/HttpSysServer/blob/80345b7f8ffd7a2b623d2e449f6854e3037c1ccc/test/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests/Listener/ResponseBodyTests.cs#L602-L615

This code gets the response without buffering, disposes it which starts a background drain that blocks without timeout, and then the client/handler is disposed. The already draining so

[2018-03-09 18:10] danmosemsft commented on #27901
Looks like https://github.com/dotnet/corefx/issues/26210

@makarychev what is the URL you are passing to XDocument.Load literally just "SomeFile.xml"? What is the directory of that file, does it have diacritics in it? If so does it work OK if you just put it in a folder like c:\test ?

[2018-03-09 18:10] danmosemsft commented on #27901
@rmkerr

[2018-03-09 18:11] stephentoub commented on #27685
Ok, then please open a separate issue for that.

[2018-03-09 18:13] stephentoub commented on #27847
I don't think we should do that.  Path.GetTempPath() has always happily returned the temporary path according to the search rules at https://msdn.microsoft.com/en-us/library/system.io.path.gettemppath(v=vs.110).aspx, and doesn't require that the path be there, and Path.GetTempFileName() has always thrown if the path doesn't exist, e.g. try this on netfx:
[code]

[2018-03-09 18:18] danmosemsft commented on #27847
Good point.

[2018-03-09 18:18] Tratcher opened #27904 "Disposing the SocketsHttpHandler does not abort draining sockets"
Related to drain timeouts: https://github.com/dotnet/corefx/issues/27685.

Version 2.1.0-preview2-26225-03.

Reference code: https://github.com/aspnet/HttpSysServer/blob/80345b7f8ffd7a2b623d2e449f6854e3037c1ccc/test/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests/Listener/ResponseBodyTests.cs#L602-L615

This code gets the response without buffering, disposes it which starts a background drain

[2018-03-09 18:22] weshaggard commented on #27848
It has been a long time since I've looked at this code but I do believe the change is intentional. Having the "Any" option can break some of the assumptions for things that are intended to be Shared. MEF v2 makes this more explicit to avoid some of those complications.

Out of curiosity why are you moving to System.Composition/MEF v2? If you want this behavior you there isn't anything wrong with s

[2018-03-09 18:29] makarychev13 commented on #27901
string FileName = "freelance.ru.xml"
Path.GetFullPath(FileName) = "C:\\Users\\Михаил\\source\\repos\\Notify\\Notify\\freelance.ru.xml"

This code with absolute path is working:
`string FileName = "SomeFile.xml"
XDocument File = XDocument.Load(Path.GetFullPath(FileName)); `

But in [msdn example](https://msdn.microsoft.com/ru-ru/library/bb343181(v=vs.110).aspx) a relative path is used

[2018-03-09 18:31] gulshan commented on #7208
Coming from Kotlin which has `joinToString` extension method for arrays and iterables, I miss this in .net. Regarding the API proposal, should that has to be in a separate issue/pr? The extension method with both signature and implementation is (almost same as the original poster)-

[code]
I would like to have the new name `JoinToString` and the `", "` as the default separator instead of `""`, whi

[2018-03-09 18:33] stephentoub commented on #27740
Failed again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/3e073e591ff556727475b38ee9436bfc9f9a46ce/workItem/System.Xml.XmlSchemaSet.Tests/wilogs
Unfortunately gdb isn't installed on the lab machine so Dan's buildtools updates didn't result in us getting a stack trace:
[code]

[2018-03-09 18:33] #27877 closed

[2018-03-09 18:35] rmkerr commented on #27901
This does look like a duplicate of #26210. I think that there must be an issue with how we parse Unicode in file paths. It may be resolved in the 2.1 pre-release but I have not verified that yet.

[2018-03-09 18:35] #27893 closed

[2018-03-09 18:36] JustArchi commented on #27877
Thanks for the fix! 👍

[2018-03-09 18:38] makarychev13 commented on #27901
Thank you!

[2018-03-09 18:38] geoffkizer commented on #27870
Right, I'm not suggesting that's *all* we need to do.

I just want to make sure that
(a) we're leveraging whatever existing assets we have here (i.e. the existing scripts for setting up servers for NT auth again regular servers), unless we don't think it's worthwhile for some reason
(b) we have a roadmap for enabling multimachine testing for not just NT auth but for other scenarios where we could

[2018-03-09 18:40] caesar1995 opened #27906 "GetResponseAsync_ServerNameNotInDns_ThrowsWebException() test fails with SocketsHttpHandler"
Expecting `WebExceptionStatus.NameResolutionFailure` get `UnknownError` instead.

Call stack for WinHttpHandler:
[code]

Call stack for SocketsHttpHandler:
[code]

[2018-03-09 18:40] rhyous opened #27907 "System.Net.Http not the same types for .Net461 when using System.Threading.Tasks.Extensions"
Visual Studio: 2017
Project: .Net4.6.1
Package:   <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net461" />

### Problem
.NET 4.6.1 doesn't see the System.Net.Http as the same types. I get type exceptions or missing method exceptions when trying to call code from System.Net.Http namespace.

It seems to fail in many uses of the System.Net.Http namespace.
Once parti

[2018-03-09 18:51] #16622 closed

[2018-03-09 18:52] geoffkizer opened #27908 "SocketsHttpHandler should process idle disconnect from server promptly"
For idle connections, we have a _readAheadTask we use to determine if the server sent an EOF to close the connection (or other unexpected data).  We don't check this until we either pull the connection out of the pool, or timeout the connection.  So often there will be a large delay (10s of seconds) between when we receive the EOF and when we actually close the connection on our side.

RFC 7230 sa

[2018-03-09 18:54] danmosemsft opened #27909 "Add gdb and lldb to test machine dockerfiles and enable dump collection"
We want to run gdb and lldb on dumps created by tests. The experiments in https://github.com/dotnet/corefx/pull/27899#issuecomment-371901222 show that on some machiens (eg Fedora, OpenSuse) apparently dumps are not enabled. On others (eg some Ubuntu and Debian) dumps are enabled but gdb is not present. We also want lldb so we can do more operations on the dumps.

So we need to add install of gdb a

[2018-03-09 18:55] huanwu commented on #27773
This can also be reproed in full framework with the following simple code. When to serialize the following type, it will fail when to check if MySubClass is a known type. If adding [KnownType(typeof(MySubClass[]))] on MyClass, all works as expected.

[code]

[2018-03-09 19:03] GrabYourPitchforks commented on #27891
I've updated the repro code to be a bit clearer since this is different from the other "Rent should zero-init" issues I've been opening. @jkotas's suggestion of special-casing this in the GC would also work. We could also use weak references under the covers to mimic this behavior until the GC changes come online. Clearing the buffer is just one alternative.

[2018-03-09 19:18] 4creators opened #27911 "Proposals for Intel HW intrinsic API changes for vNext"
Writing real code with already implemented HW intrinsics provides very good tests for their usability and quality of design. We start to create implementations which immediately provide direct test of quality of available API surface. I would like to propose to discuss issues and possible change proposals using this issue as an umbrella.

[2018-03-09 19:18] 4creators commented on #27911
cc @CarolEidt @eerhardt @fiigii @jkotas @sdmaclea @tannergooding

[2018-03-09 19:35] oliverw commented on #27450
@wfurt Could you elaborate what you mean with dump?

[2018-03-09 20:00] karelz commented on #27907
I don't understand what you mean by "_doesn't see the System.Net.Http as the same types_". What breaks? How? Is it compile-time error or runtime error? What kind of exception?

Can you please post clear minimal steps how to reproduce the problem from a new project and what exactly happens? (let's start with simplest repro involving the least amount of other libraries and products)

[2018-03-09 20:01] BrennanConroy opened #27912 "HttpClient POST with content is broken on High-Sierra"
If you make a POST request with content in the body on High-Sierra to a KestrelHttpServer endpoint the request will fail because the default HttpRequest version has changed to 2 and High-Sierra's libcurl handler will try to upgrade to 2 instead of falling back.

Run the client and server in the repro project to reproduce the issue
https://github.com/BrennanConroy/ReproProject

[2018-03-09 20:03] BrennanConroy commented on #27912
Request
[code]

Response
[code]

[2018-03-09 20:07] BrennanConroy commented on #27912
cc @karelz

[2018-03-09 20:27] stephentoub commented on #27892
I took a look at this, and I actually think we should do the opposite, try to avoid capturing in the lower levels and then only capture at the API level if the API needs it.  For example, async Task/ValueTask-returning methods always flow execution context across await points, and then tell the awaiter it doesn't need to flow context by calling UnsafeOnCompleted instead of OnCompleted.  So in such

[2018-03-09 20:33] geoffkizer commented on #27892
That all makes sense.

We can remove the lower-level capture by doing UnsafePack instead of Pack.

[2018-03-09 20:34] stephentoub commented on #27892
Yeah, though it's hidden away from us.  I plan to just suppress flow while creating the PreAllocatedOverlapped, which internally calls Pack.

[2018-03-09 20:35] geoffkizer commented on #27892
Seems fine.

[2018-03-09 20:39] geoffkizer commented on #27892
BTW, somewhere along the way ExecutionContext got changed so that EC.Capture no longer returns null when you're in the default context.

This means that we aren't avoiding the EC.Run call in places like SAEA.FinishOperationAsyncSuccess.  And in fact I'm not sure how we would avoid it, since we can't seem to detect default EC anymore.  (We can detect SuppressFlow, since that returns null for EC.Cap

[2018-03-09 20:41] geoffkizer commented on #27892
Though weirdly, it looks like in some cases it may return the default EC even if flow is suppressed...

[code]

[2018-03-09 20:42] stephentoub commented on #27892
I don't remember it ever being the case that Capture would return null in the default context.

For flow to be suppressed, Thread.CurrentThread.ExecutionContext can't be null, because whether it's suppressed is stored on that instance.

[2018-03-09 20:43] rhyous commented on #27907
I mean that typeof(HttpContent) from a .Net461 project that does NOT reference System.Threading.Tasks.Extensions is NOT equal to typeof(HttpContent) from from a .Net461 project that DOES reference System.Threading.Tasks.Extensions

Error:
[code]

I will try to attach a project file.

[2018-03-09 20:44] geoffkizer commented on #27892
Probably I'm misremembering, then.  Anyway, I'll leave you alone now... :)

[2018-03-09 20:44] stephentoub commented on #27892
:smile:

[2018-03-09 20:46] rhyous commented on #27907
I keep getting an error trying to upload a zip. Probably this site has zip upload disabled. I have uploaded a zip with a minimized solution to my blog.

http://www.rhyous.com/wp-content/uploads/2018/03/Example.Bug27907.zip

[2018-03-09 20:54] rhyous commented on #27907
I've just not simplified it even further.

ProjectA - Class LIbrary .Net461 without any NuGet packages at all.
Add One file:

[code]

ProjectB - Unit Test library .Net461 .
Packages:
[code]
One file:

[code]

This Unit Test must pass.

It does not.

[2018-03-09 20:56] MarcoRossignoli commented on #27841
@EgorBo can you attach the script?Maybe a could try to work on this, if i understand well we've to remove and link common file and verify if all it's ok.

[2018-03-09 21:11] MarcoRossignoli commented on #24554
The idea to add ConditionalAttribute with OSSupportsIPv6 check on fail tests could be a solution?

[2018-03-09 21:19] danmosemsft commented on #27909
@mattgal do you know who on our team worked on these in the past? Was it you @tarekgh ? Wondering who already knows how to modify these files/validate them.

[2018-03-09 21:38] geoffkizer commented on #27912
Why does Kestrel send 400 instead of just ignoring the upgrade request?

That said, I'm not sure we want to be sending the Upgrade in the first place.

[2018-03-09 21:54] tarekgh commented on #27909
I didn't do that before.

CC @MichaelSimons just in case he may know.

[2018-03-09 21:59] MichaelSimons commented on #27909
I know what Docker images we use for official builds but have no knowledge in how the tests are run.  @MattGal would be the person to answer that.

[2018-03-09 22:21] kasper3 commented on #26210
This seems to be fixed in 2.1 preview.

1. Install docker then run

[code]

2. in the container create a file having name with diacritics

[code]

3. create a dotnet app

[code]

4. edit Program.cs and replace the content with

[code]

4. run

[code]

[code]

---

now test with 2.1

[code]
and repeat steps 2 to 4. `hi` will be printed.

[2018-03-09 23:23] wfurt commented on #27872
I test this on windows agains IIS. WinHttp Handler works but when I switch to SocketHandler, it tried but ends with 401 e.g. it will get rejected by server. Should I open separate issue for that @geoffkizer or do you want to track it together?

[2018-03-09 23:50] Tratcher opened #27922 "SocketsHttpHandler NTLM doesn't work"
Version 2.1.0-preview2-26308-01

Negotiate works, NTLM doesn't. It doesn't even make a second request, it returns the first 401.

Repro:
[code]

Expected result: 200 OK
[code]
Actual: 401 Unauthorized
[code]

[2018-03-09 23:53] Tratcher commented on #27922
@geoffkizer @karelz

[2018-03-10 00:01] wfurt commented on #27922
related to #27872

[2018-03-10 00:15] #27892 closed

[2018-03-10 00:20] brendandburns commented on #12038
Would love to see this get added!

[2018-03-10 00:29] wfurt commented on #24554
Genrally, yes @MarcoRossignoli. I would expect tests to be skipped if they cannot execute correctly.
At some point we may consider it also for IPv6 only systems. That is probably more work and less common right now.

[2018-03-10 00:34] wfurt commented on #27450
something like 'openssl x509 -text < cert.pem' You can also try packet captures.
At this point there is not enough information to investigate.
Alternatively,  create small console app as repro and I can take a look.

[2018-03-10 00:51] MattGal commented on #27909
For official runs, we don't currently run tests inside Docker at all, although @joperezr  will be checking this out for Alpine.  If you want to add stuff to the official runs' machines, please create an issue in the core-eng repo and add the First Responders label.

[2018-03-10 00:53] ygc369 commented on #22813
The problem is that sometimes we can't know whether arrays would be reused. We only know that they may be reused. If we don't use any pool, we must allocate new arrays once needing, even before GC, while there're "free" arrays to reuse. If we use the current ArrayPool, there would be memory waste or even memory leak if we don't use any arrays later. If we could have weak reference pool, we would b

[2018-03-10 00:59] stephentoub commented on #22813
I understand the concerns.  My point is that I don't believe just having a weak array pool is the way to address it.  It would be better to address it via https://github.com/dotnet/coreclr/issues/7747.

[2018-03-10 01:55] ygc369 commented on #22813
@stephentoub
Oh yes, that's a better solution.

[2018-03-10 01:56] #22813 closed

[2018-03-10 02:08] sywhang opened #27929 "Add test for logging for Exception passed to Environment.FailFast()"
https://github.com/dotnet/coreclr/pull/16622 added logging for Exception object passed to ```Environment.FailFast```. This should be test-protected, as per comments in https://github.com/dotnet/coreclr/issues/15203.

[2018-03-10 02:35] ahsonkhan commented on #27824
cc @KrzysztofCwalina, @davidfowl

[2018-03-10 05:25] #27909 closed

[2018-03-10 05:25] danmosemsft commented on #27909
Issue moved to [dotnet/core-eng #2880](https://github.com/dotnet/core-eng/issues/2880) via [**ZenHub**](https://www.zenhub.com/)

[2018-03-10 06:28] johnkors commented on #26014
Why do you release versions without changes..?

[2018-03-10 06:53] johnkors commented on #26014
Related scenario: I find something not working with `System.Data.SqlClient` in the latest version, but when I google I find a merged PR on GitHub addressing the issue. In what versions is the fix?

Example: https://github.com/dotnet/corefx/pull/27523
Today, I have to ask a corefx dev: https://github.com/dotnet/corefx/issues/27686#issuecomment-370871977

Do you have any way for me to find out mysel

[2018-03-10 08:00] MarcoRossignoli commented on #24554
do you mean skip tests with IPv4 "parameters"?

[2018-03-10 11:19] MichaCo opened #27933 "System.Runtime.Caching using app/web.config problems"
Hi,
I'm currently trying to port a few things to .netstandard2.0 using `System.Runtime.Caching` and I'm running into problems using the "old" configuration system.

To reproduce the problems, I created a blank new netcoreapp2.0 console app and added

[code]

I'm using
[code]
---

1. **Using app.config from [examples in documentation](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps

[2018-03-10 11:24] MichaCo commented on #22101
Just for the record, I'm using XUnit and having the same problems.

The workaround with copy into `testhost.dll.config` seem to work though, but is not really "friendly" ;)

[2018-03-10 11:51] WinCPP commented on #25344
I studied the two places that @fiigii and @4creators mentioned. The first one ([ref here](https://github.com/dotnet/corefx/issues/25344#issuecomment-370251002)) appears to be related indexed access on the array whereas the second one ([ref here](https://github.com/dotnet/corefx/issues/25344#issuecomment-370251669)) appears to be related to initialization (`SIMDIntrinsicInitArray` and `SIMDIntrinsi

[2018-03-10 13:14] stephentoub commented on #27740
Finally got a crash on a machine with gdb:
https://mc.dot.net/#/user/jswolf19/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/7f02d90fce8bc18f5668935c29fb9121f689870d/workItem/System.Xml.XmlSchemaSet.Tests/wilogs
[code]

[2018-03-10 13:21] stephentoub commented on #27912
We can suppress the version proactively for an http instead of https scheme, but isn't this actually a bug in ASP.NET, that it's not ignoring the upgrade request?  CurlHandler isn't the only code using libcurl.

[2018-03-10 13:28] KylePreuss commented on #18012
This would be a wonderful thing for .NET Core apps running in Docker. If one could deploy services to a remote system and allow for serial communication with devices like GPS receivers, cellular/satellite modems, avionics, sensors etc. without having to write hardware-specific wrappers in another language/framework...

[2018-03-10 15:23] jkotas opened #27935 "Don't dup stdin & stderr as this can break some std io redicection code"
_From @TheLastRar on March 10, 2018 13:8_

Consider a program that does the follow;

Create pipes and dup2 the write fd onto stdin, stderr,
Have a thread continually read the pipes until EOF is reached (at which point the thread will terminate).
Use coreclr.
...
Restore the original stdin, stderr,
Close the write fd of pipes,
Wait for the pipe reader thread to terminate.

As coreclr dups the fd fo

[2018-03-10 15:24] danmosemsft commented on #27933
@kkhurin

[2018-03-10 15:30] jkotas commented on #27935
https://github.com/dotnet/corefx/blob/master/src/System.Console/src/System/ConsolePal.Unix.cs#L25

Why do we have to dup the stdin/out/err ? Comment would be nice.

[2018-03-10 15:59] Petermarcu opened #27936 "Broken libcurl dependency on openSUSE Tumbleweed"
@bwalkenhorst commented on [Thu Mar 08 2018](https://github.com/dotnet/core/issues/1327)

# Broken libcurl dependency on openSUSE Tumbleweed

Trying to install dotnet core on openSUSE Tumbleweed, following the instructions found here, I get the following error message:
[code]

When I ask the package manager about it, I get the following reply:
[code]

So there is a libcurl, it is just called libcu

[2018-03-10 16:13] stephentoub commented on #27935
That dup comes from this commit from several years ago:
https://github.com/dotnet/corefx/commit/6525d2f1587f803ef288b13c3e3d412a745fbabe

The commit includes the comment:
"Rather than opening e.g. "/dev/stdin", which effectively ends up dup'ing the corresponding file descriptor, we just dup the corresponding file descriptor directly, e.g. dup(STDIN_FILENO)."

I'd need to look in a bit more depth,

[2018-03-10 16:38] stephentoub commented on #27375
Again here on Fedora:
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/e66bf8e62fb9057bc3446fcaded0598004b9e2de/workItem/System.Reflection.Metadata.Tests/wilogs

[2018-03-10 16:48] MarcoRossignoli commented on #27418
when you say buffer you mean `Memory<char>`?

[2018-03-10 16:48] jkotas commented on #25344
It is defined via macros from https://github.com/dotnet/coreclr/blob/master/src/vm/rexcep.h

[2018-03-10 17:30] stephentoub commented on #27908
How promptly? An easy way to make it really more quickly is to just lower our scavenge time. Right now it's something like 30s; we could make it just a few seconds.

If you actually mean the moment we get the EOF, that's easy to do but will add measurable cost per request, at least a couple of allocations. How valuable is this?

[2018-03-10 17:31] davidfowl opened #27938 "PipeCompletionCallbacks shouldn't use ArrayPool for callbacks"
We should make a few optimizations here
- There's hardly more than one callback so we can use the track that tasks use for continuations (store it as an object and then detect the case where we have more than one and allocate an array).
- We don't need an the array pool here, we should just store state on the pipe itself and reset that state when Reset is called.

/cc @pakrym

[2018-03-10 17:50] karelz commented on #26014
@johnkors for major versions, you can use the milestone to tell which version it is in. For latest version that of course means daily build / recent pre-release Preview build.

[2018-03-10 18:00] karelz commented on #27936
This is a tough one. AFAIK we do not have a way to change dependency name easily per platform (@janvorli @wfurt @stephentoub any ideas?).
One workaround is to rebuild libcurl yourself / rename its binaries.
Another option is to start relying on SocketsHttpHandler - our HTTP stack implementation in C# which does not require libcurl at all.

[2018-03-10 18:04] stephentoub commented on #27936
I'm not sure this has to do with the binaries; most of these libcurl4 packages include multiple symlinks.  It sounds like it's a package name issue.

[2018-03-10 18:52] tarekgh commented on #25634
@equiman

The framework is sending the right escape code to the terminal for the bright white color

[code]

but the terminal chooses to display the color as of the kind of light gray. you can manually see that when issuing the terminal command

[code]

and you'll see the terminal is displaying the same color.

[2018-03-10 19:17] karelz commented on #27912
@geoffkizer can you please help me understand why we shouldn't be sending the Upgrade request?

[2018-03-10 19:41] stephentoub commented on #27740
Failed again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/b89daaa1c196fadf8b4e6fcb3b3a30111eb4374a/workItem/System.Xml.XmlSchema.XmlSchemaValidatorApi.Tests/wilogs
[code]

[2018-03-10 20:25] MarcoRossignoli commented on #24554
@wfurt i did some tests and OSSupportsIPv6 = true also if ipv6 is disabled.
What do you think about...
[code]

[2018-03-10 21:05] kasper3 commented on #18012
The significance of SerialPort has been established, there are some serious (even industrial) workloads which require serial communication and consider it as a main factor in choosing platform.

Should we ask contributors of https://github.com/mono/mono/blob/3b0c0bd1/support/serial.c and/or someone familiar with CoreFX shims can help moving the implementation forward.

@danmosemsft, @eerhardt, any

[2018-03-10 21:58] stephentoub commented on #27908
Maybe it won't be terrible. I'll put up a PR and we can decide.

[2018-03-10 22:24] 4creators commented on #25344
Check the following places

https://github.com/dotnet/coreclr/blob/b3ea3629f6ada693bd6db259485f87b7a8beb78d/src/utilcode/ex.cpp#L84-L99
https://github.com/dotnet/coreclr/blob/b3ea3629f6ada693bd6db259485f87b7a8beb78d/src/utilcode/ex.cpp#L1625-L1663

and follow the logic

It will specifically lead to

https://github.com/dotnet/coreclr/blob/b3ea3629f6ada693bd6db259485f87b7a8beb78d/src/inc/utilcode.h#

[2018-03-10 22:28] #27847 closed

[2018-03-10 23:02] danmosemsft commented on #18012
How important is it to folks that the Unix API March the existing Windows API? Same API would mean code could be ported, but I understand the API is not that well designed for Unix semantics (I don't have details handy)

Maybe we can do a quick survey, vote this comment up if you prefer the same API AS windows , down if it doesn't matter for your scenario.

[2018-03-11 00:35] #27675 closed

[2018-03-11 01:28] wfurt commented on #18012
I look at System.IO.Ports.Serial and it seems reasonable. I think ability to configure Serial port e.g. speed, parity and flow control and ability to read and write data would be good start @kasper3.
After all, on Unix this is just a device file you an open. If we use tcgetattr/tcsetattr I would put them to Unix specific PAL. That should also work for macOS and BSD.

Aside from minimal implementat

[2018-03-11 01:29] jp2masa opened #27942 "[System.Composition] Exporting single metadata key and importing with array property in metadata view fails"
I have this export:
[code]
And this metadata view:
[code]
Then I import it like this:
[code]
And I get the following exception:
[code]
If I export the property with no "SomeText" metadata or with more than one "SomeText" metadata, it works fine, is this expected?

[2018-03-11 01:30] danmosemsft commented on #18012
Someone want to take a shot at throwing up a minimal PR?

[2018-03-11 02:54] wfurt commented on #18012
BTW What is the deal with this? I tried to follow this on Windows https://docs.microsoft.com/en-us/dotnet/api/system.io.ports.serialport?view=netcore-2.0
And I cannot build it. Both VS and dotnet on Windows cannot find the name space.

Tomas

From: Dan Moseley <notifications@github.com>
Reply-To: dotnet/corefx <reply@reply.github.com>
Date: Saturday, March 10, 2018 at 5:31 PM
To: dotnet/corefx <co

[2018-03-11 03:02] wfurt commented on #24554
I don't undersatnd your point @MarcoRossignoli. Are you suggesting that OSSupportsIPv6 value is incorrect? Even if OS can do IPv6, given address family may or may not be configured. For example you can disable IPv6 on 'lo' and leave it on 'eth0'.
I think for tests them selves we would check both OSSupportsIPv6 as well as loopback configured.

[2018-03-11 07:32] danmosemsft commented on #27942
@wesh

[2018-03-11 08:09] MarcoRossignoli commented on #24554
@wfurt  i get it

 Is It correct my way to check "loopback configuration"?

We can use two condition for ConditionalAttribute for tests failing, or AND OSSupportIPv6 with new check, which would you prefer?

[2018-03-11 09:46] roji opened #27946 "String dictionary usage of NonRandomizedStringEqualityComparer"
*EDIT: Please read my first comment below with additional information.*

When doing some benchmarking I came across Dictionary's behavior of using NonRandomizedStringEqualityComparer when no comparer is given.

The documentation on [NonRandomizedStringEqualityComparer](https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/Collections/Generic/NonRandomizedStringEqualityComparer

[2018-03-11 10:05] AlexRadch opened #27947 "Does ReadOnlySequence open write access to ReadOnlyMemory?"
As I see when `ReadOnlySequence` created with `ReadOnlyMemory`, it extract internal object of `ReadOnlyMemory` (`array`, `string` or `OwnedMemory`) and give access to that object throw GetPosition method.

So `ReadOnlySequence` opens access to `array` or `OwnedMemory`. But `array` or `OwnedMemory` are not read only objects and they opens write access to `ReadOnlyMemory`.
So any code can get write

[2018-03-11 10:44] roji commented on #27946
After reading about `RuntimeHelpers.GetHashCode()`, I realized it generates the hash code from the reference. So I added two more benchmarks, one with `EqualityComparer<string>.Default` and one with an equality comparer that simply calls `string.GetHashCode()`, here are the results:

[code]
|                     Method | NumEntries |     Mean |     Error |    StdDev | Scaled | ScaledSD |
|--------

[2018-03-11 10:52] ektrah opened #27948 "Considerations for implementations of OwnedMemory"
[code]

A SafeHandle like this [has a number of features](https://msdn.microsoft.com/en-us/library/system.runtime.interopservices.safehandle(v=vs.110).aspx#Does):

* it has magic P/Invoke support to avoid leaks,
* it is thread-safe,
* it does reference counting, and
* disposing it doesn't release the handle until the reference count reaches 0.

Overall, very similar to an OwnedMemory.

I would ass

[2018-03-11 11:16] pgolebiowski commented on #1973
OK. This has been here for far too long. I need it very much and would like to propose a way for how to approach this then.

Instead of exposing all of these:

[code]

and forcing the customers to implement these members, let's just add what is most crucial to have:

[code]

and nothing more. We would then add this interface to the list of interfaces extended by `ISet<T>`.

So would be:

[code]

T

[2018-03-11 11:53] stephentoub commented on #27904
There is a timeout on the drain.

[2018-03-11 11:54] stephentoub commented on #27904
That drain timeout is already implemented. That issue is now about exposing the internal knob for controlling/changing the timeout value.

[2018-03-11 13:24] TheForgetTime commented on #26966
You can download old versions of ncurses from https://archive.archlinux.org/repos/2018/02/17/core/os/x86_64/ and then use pacman -U to roll back this one (note: this may cause serious consequences)

[2018-03-11 14:07] AppBeat opened #27949 "Option to have more control when resolving endpoint IP address in SocketsHttpHandler"
I think it may be useful in some cases to have more control over endpoint address resolving.
This would be new optional feature in SocketsHttpHandler implementation. Here is my initial idea.

## Proposed API

[code]
where delegate inputs are:
- HttpRequestMessage -> request details
- string -> request.RequestUri.IdnHost
- int -> request.RequestUri.Port
- CancellationToken

and delegate output is:

[2018-03-11 14:49] oliverw commented on #27450
Here's the dump from the self-signed certificate. I've also tested with real wildcard certificate from Commodo which resulted in the same error as outlined in my initial post.

Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            99:3c:d7:95:ed:f9:c1:91
    Signature Algorithm: sha256WithRSAEncryption
        Issuer: CN = heimdall
        Validity
            Not Befo

[2018-03-11 15:15] Tratcher commented on #27904
Ah, it wasn't implemented in 2.1.0-preview2-26225-03 but it is now in 2.1.0-preview2-26308-01.

[2018-03-11 16:00] hjc4869 commented on #25066
CoreFX FileStream seems to be using blocking IO and thread pool to implement async APIs on UNIX. ([reference](https://github.com/dotnet/corefx/blob/803466487e65ca23579139f2565d960404775cd9/src/Common/src/CoreLib/System/IO/FileStream.Unix.cs#L545))

So there's no way to implement graceful shutdown with FileStream if you use it to read device files, since it's actually using blocking IO.

Unfortunat

[2018-03-11 16:03] benaadams commented on #27946
`string.GetHashCode` is the randomised hashing

`NonRandomizedStringEqualityComparer` is there to not use the randomised hashing for a perf improvement until; it needs to switch to using `string.GetHashCode` due to collisions.

`RuntimeHelpers.GetHashCode` is getting the object's hash; whereas with string it needs the value's hash. (e.g. two string objects `Hello` and `Hello` should return the sam

[2018-03-11 16:06] benaadams commented on #27946
`EqualityComparer<string>.Default` is switched to be `NonRandomizedStringEqualityComparer` for string in the Dictionary constructor; which is why they seem the same.

`EqualityComparer<string>.Default` actually uses `string.GetHashCode` so you would see a pref hit if this switch wasn't made.

[2018-03-11 16:17] Petermarcu opened #27951 "Segmentation fault on dotnet [name-of-app].dll on Debian"
@ChristianHaase commented on [Sun Feb 11 2018](https://github.com/dotnet/core/issues/1266)

Getting segmentation fault when running the application. Only on HTTP client request sending to external API. The app start fine and I can navigate fine, but whenever I try to login _(calling external API)_, I'm getting the segfault. Same goes for creating a new user, when calling the external API from my M

[2018-03-11 16:30] roji commented on #27946
Thanks for the answers @benaadams.

Makes sense for the `RuntimeHelpers.GetHashCode()`, thanks for clarifying. I couldn't see any advantage in the default behavior (which starts with NonRandomized and switches to GetHashCode), but I'm guessing that's because my benchmark doesn't produce the right scenario (would be interesting to know).

Here's the one last thing I still don't understand... When I

[2018-03-11 16:52] carlblanchard commented on #26996
Yup, not working for me neither, the workaround did nothing.

[2018-03-11 17:09] stephentoub commented on #27904
Yup, it was done recently. It's probably still worth looking at trying to stop the drain sooner, but I don't think it's as big a deal, due to the timeout.

[2018-03-11 17:12] stephentoub commented on #27948
cc: @KrzysztofCwalina, @ahsonkhan

[2018-03-11 17:22] BrendanGrant opened #27952 "Segmentation fault with NLog on linux-arm, related to "Recursive resource lookup bug"?"
I had a dotnet core 2.0 app running fine on a Raspberry Pi 2 (running Raspbian) fine for many months, until the sd card gave up, so setup a new card with a fresh install of Raspbian & deployed an upgraded version (still targeting 2.0) with upgrades to the latest NuGet projects suddenly caused it to fail with the following error:

   at System.Resources.ManifestBasedResourceGroveler.GetSatelliteAss

[2018-03-11 17:31] benaadams commented on #27946
`EqualityComparer<T>.Default` devritualizes https://github.com/dotnet/coreclr/pull/14125; whereas a different `IEqualityComparer` would be an interface call

[2018-03-11 17:32] roji commented on #27946
Thanks!

[2018-03-11 17:32] #27946 closed

[2018-03-11 18:45] oliverw commented on #27450
Nevermind. It was a problem with the specific client I've used for testing which insanely picky about the chosen cipher.

[2018-03-11 18:45] #27450 closed

[2018-03-11 18:49] geoffkizer opened #27953 "[UWP] HttpClient: Bunch of UAP tests disabled with closed issue #20010"
There are a bunch of HttpClient tests disabled on UAP with a reference to #20010.  However, this issue is closed.  We should either change the tests to be disabled with a better issue/explanation, or reenable the tests.

[2018-03-11 19:03] geoffkizer commented on #27949
This is essentially a hook for providing custom name resolution instead of calling Dns.GetHostEntry.  Right?

As such, the callback signature should be similar to the Dns.GetHostEntry, which just takes a string and returns an IPHostEntry (which includes an array of IPAddresses).  And it should probably be called something very similar, like GetHostEntryCallback.

Note that we don't resolve DNS nam

[2018-03-11 19:23] equiman commented on #25634
It's a terminal problem?

[2018-03-11 19:40] AlexRadch commented on #26768
I started to add `ReadOnlySequence` tests for longer than int.Max

[2018-03-11 19:44] AppBeat commented on #27949
Hello.

As currently implemented on https://github.com/AppBeat/corefx, if this callback is set, this should be resolved before getting connection from the pool (at HttpConnectionPoolManager stage in new "GetConnectionKeyAsync" method).
Because it will be called at GetConnectionKey stage callback should be called for every request.

Later, when ConnectHelper.ConnectAsync is called, host parameter w

[2018-03-11 19:46] geoffkizer commented on #27922
It does seem to make a second request (at least for me); the problem appears to be that the server doesn't like the auth token we send.  Investigating.

[2018-03-11 20:00] WinCPP commented on #25344
With help of pointers provided above, I tried finding the code. The problem that I face is I'm unable to crack the link between `ComPlusThrow` that I mentioned previously and the `CCompRC`. Actually I am handicapped by lack of code browser... is there an sln file for this code base? I am using Visual Studio Code but it has limitations. How do you guys browse the code?

For the new exception messag

[2018-03-11 20:18] geoffkizer commented on #27922
Looks like we're handling authContext.IsCompleted incorrectly.  I'll post a fix once I've done more testing.

[2018-03-11 20:35] geoffkizer commented on #27949
So you're saying you want this callback to be per-request?

I don't think this is a good idea.  It means we're potentially doing DNS lookup per-request, and DNS lookup is not necessarily cheap.  That's why we only do it when we need to establish a new connection.

It's also a much bigger change to a critical code path, which scares me.  A simple hook for DNS resolution is straightforward and self-

[2018-03-11 20:38] benaadams commented on #27947
`ReadOnlySequence` only gives you access to `ReadOnlyMemory`s.

You can get access to the underlying objects via the `System.Runtime.InteropServices.MemoryMarshal` class for interop situations; but shouldn't be doing that generally, which is why the apis are not on `ReadOnlySequence`.

If you always have one segment; yes then you would likely use whatever it is directly; or provide an overload tha

[2018-03-11 20:39] wfurt commented on #25634
You can try iTerm2 for example. Some of it also depends on TERM variable. Different terminals can use different escape sequence to switch colors. That comes from terminfo database. The actual color is handled by terminal. You can also look at #23381 as there was long discussion about colors.

[2018-03-11 20:43] wfurt commented on #25634
BTW You can also try to switch to Bright/Bold mode @equiman. There is another good article here: https://askubuntu.com/questions/558280/changing-colour-of-text-and-background-of-terminal

[2018-03-11 20:53] AppBeat commented on #27949
It is up to implementer of ResolveEndpointAsync to take care of efficiency. We are giving him/her 100% freedom :)
In most cases implementation will probably use some kind of caching. This is why we are having ValueTask<IPEndPoint> as callback result.

If SocketsHttpHandler.ResolveEndpointAsync is not set by user, we should have same experience / performance as today (same resolving logic will be u

[2018-03-11 20:57] geoffkizer commented on #27949
Let me put it this way.  Is there some reason this *needs* to be per-request?

[2018-03-11 21:21] AppBeat commented on #27949
If connection pool is disposed as soon as SocketsHttpHandler is disposed (which I think it does), then IP address could be internally cached and callback wouldn't have to be called for each request (for the lifetime of SocketsHttpHandler instance). If this is not the case then we don't have full control.

In case of internal address caching it would make sense to change "ResolveEndpointAsync" sign

[2018-03-11 21:34] dmitriyse commented on #25026
Please also consider (zero-copy)able batch mode reader/writer interface.
For example:
[code]

This zero-copy can give significant speedup in up to half of cases.
Otherwise batch mode will infect code with double-copy (on reader and on writer side).

Implementation of zero-copy batch mode channel is very complicated, but possible (I have some implementation in alpha stage).

[2018-03-11 21:41] AlexRadch commented on #27947
Is next access to array?
[code]

[2018-03-11 21:44] geoffkizer commented on #27949
It is.

Which brings me back to my original feedback:

I'll modify this slightly: It should look like GetHostAddressesAsync.  I don't think there's any reason we need an IPHostEntry here, just the IPAddress[] should be fine.

[2018-03-11 21:45] dmitriyse commented on #25026
Batch mode, Queues (Channels), DataFlow-like framework, zero-copy is the "must have" tricks to get 100k+ items/sec performance.

[2018-03-11 21:55] benaadams commented on #27947
`SequencePosition` shouldn't be consumed is this fashion

/cc @pakrym

[2018-03-11 21:55] AppBeat commented on #27949
IPAddress without port should also be OK. But why IPAddress[] array would be returned instead of just one IPAddress? Which IPAddress would then be used by SocketsHttpHandler and underlying infrastructure?

[2018-03-11 22:00] AlexRadch commented on #27947
@benaadams If I create `ReadOnlySequence` for array `new ReadOnlySequence<int>(array);` I can not get access to ReadOnlyMemory.  Only to array!
My question is **is it correct API design?**

[2018-03-11 22:04] dmitriyse commented on #25026
Also TPL is too heavy to work with single items, event with all kind of tricks expected in 2.1.
TPL have limit ~1M items/sec (per one CPU-core).
C# Async/await state machines have ~60M items/sec max through put on one CPU-core.
Simple loop over batch of items have 1000M+ items/sec on one CPU-core (at that speeds every IL instruction play role).
Batch-mode is a simplest way to workaround TPL limits

[2018-03-11 22:17] AlexRadch commented on #27947
@benaadams for example by using `ReadOnlyMemory` I can get write access to `ReadOnlyMemory` in safe code:
[code]

[2018-03-11 23:21] benaadams commented on #27947
[code]

[2018-03-11 23:27] danmosemsft commented on #25344
@WinCPP I don't know the best way, but I open this in VS:  C:\git\coreclr\bin\obj\Windows_NT.x64.Debug\src\vm\wks\cee_wks.vcxproj

The vcxproj's are generated by CMake during the build.

[2018-03-11 23:30] danmosemsft commented on #25344
COMPlusThrow takes up to 6 extra args eg
[code]
in this case the resource is in C:\git\coreclr\src\dlls\mscorrc\mscorrc.rc
[code]

[2018-03-11 23:33] danmosemsft commented on #27952
This is probably the issue:

The default runtime for standalone apps is 2.0.0 if available and it's running against that, which doesn't contain the fix. For standalone apps it's necessary to set this attribute in the .csproj to reference a specific version:

[code]

Or `<RuntimeFrameworkVersion>2.0.*</RuntimeFrameworkVersion>` to target the latest published 2.0.x runtime.

[2018-03-11 23:34] danmosemsft commented on #27952
In other words standalone apps don't "float forward" even for patch versions. They really are isolated in that way.

[2018-03-11 23:35] danmosemsft commented on #27952
Oops - I missed that you already got that far...

[2018-03-11 23:36] danmosemsft commented on #27952
So with the 2.0.5 specified, maybe the segfault is something unrelated. CAn you get a stack trace under gdb or lldb?

[2018-03-11 23:37] danmosemsft commented on #26966
There will be a patch version update which we will announce on the blog. In general we are servicing at roughly monthly intervals: these would not be in this month's, but potentially next month.

[2018-03-11 23:47] benaadams commented on #27947
You shouldn't need to extract anything directly from `SequencePosition`.

The `ReadOnlySequence<T>` api is
[code]

[2018-03-11 23:58] stephentoub commented on #27949
I do wonder whether we actually want to restrict this to IPAddress. What if someone wanted to, for example, target an UnixDomainSocketEndPoint?

[2018-03-12 00:03] benaadams commented on #27947
The `ReadOnlySequence` extensions might be a good place to see example uses?
https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/Buffers/BuffersExtensions.cs

[2018-03-12 00:03] tannergooding commented on #25344
`git grep` is generally my goto

[2018-03-12 00:25] BrendanGrant commented on #27952
Here you go:

[code]

bt gives us:
[code]

I'll have to look into how to install/use lldb for more details.

[2018-03-12 01:24] danmosemsft commented on #27952
Ah that is https://github.com/dotnet/coreclr/issues/14997 which is in the servicing branch but has not shipped yet as there was a delay. I hope it goes out next month.

@brianrob is there a workaround for this? It sounds like @BrendanGrant is getting it consistently on Raspberry PI

[2018-03-12 01:24] danmosemsft commented on #27952
It should be in 2.0.7 BTW. 2.0.6 is expected to go out shortly.

[2018-03-12 01:59] #27244 closed

[2018-03-12 02:13] BrendanGrant commented on #27952
Thanks @danmosemsft, it sounds related and would fix my dummy repro case... but it seems my larger app remains borked on the Pi, even when setting the RuntimeFrameworkVersion to 2.0.5.

Unlike the repro which just seg faults semi quietly, the added new ArgumentException() near the top of Main() still causes the giant [Recursive resource lookup bug] related stack trace... followed by a terminal seg

[2018-03-12 02:20] danmosemsft commented on #27952
@kouvel can you help make sense of this? Wasnt it you who likes at the original Issue?

[2018-03-12 02:22] danmosemsft commented on #27952
Oh what culture is in play here? What is cultureinfo.CurrentCulture? I seem to remember the workaround only helped in en-US

[2018-03-12 02:33] BrendanGrant commented on #27952
en-GB is the CurrentCulture, as it's largely a stock Rasbian install.

I used raspi-config to change the default culture... but that didn't seem to stick, I've not tried a reboot yet.

I manually set CultureInfo.CurrentCulture = new CultureInfo("en-US") before the new ArgumentException() and it still fell over.

On a lark, I also set CultureInfo.CurrentUICulture = new CultureInfo("en-US") immediat

[2018-03-12 02:45] danmosemsft commented on #27952
From the original Issue :

I'm guessing your static field initializer that does Get logger is doing Load from. Can you make it happen after the Argument exception? Keep setting the en-US before that also.

[2018-03-12 02:46] danmosemsft commented on #27952
@tarekgh may also be able to help

[2018-03-12 02:46] JeremyKuhne commented on #27155
This is mostly done. Just need to hunt down and update the rest of the usages.

[2018-03-12 02:54] JeremyKuhne commented on #25863
Closing this one as we're about as optimized as you can generically get for the array methods now. There is no way to know exactly how many items you'll have in your results. One could do a low allocation file count and use that data as a _hint_ for a second pass. Hitting the disk is expensive, however, and this would not be something we could do without significant perf impacts. The new extensibl

[2018-03-12 02:54] #25863 closed

[2018-03-12 03:00] pakrym commented on #27938
Agreed with first point.
Second point is wrong though. What would happen in your case when you do the following with the `ThreadPoolScheduller`?
[code]

if we store state on Pipe it'll get reset before scheduler would run callbacks.

[2018-03-12 03:11] BrendanGrant commented on #27952
Currently the init of the program is (with workarounds and extra logging):

[code]
Commenting things out I get the following:

[code]

And sure enough it works... while still reporting en-GB as both culture settings. Also works if I set

On the plus side... we've two different work-around... both plenty odd.

1) Explicitly setting CurrentCulture & CurrentUICulture, or
2) Delaying calling of LogMan

[2018-03-12 03:14] danmosemsft commented on #27952
Hopefully this is enough until 2.0.7. Or you can use 2.1 preview 1 which should have neither issue...

[2018-03-12 04:14] jkotas commented on #27817
This issue was moved to dotnet/coreclr#16892

[2018-03-12 04:14] #27817 closed

[2018-03-12 05:50] karelz commented on #27951
Were you able to create minimal repro?
What exactly do you mean by "calling external API"? Are you doing any PInvokes?

[2018-03-12 05:51] karelz commented on #27951
cc @tmds

[2018-03-12 05:53] TomYip commented on #15871
In the above case Justin has control to the operating system and was able to update the system to get around the cert issue. I am having the same issue, but my code is running in AWS as a Lambda function, so I don't have control to the underlying operating system. Do you have any recommendations on how I can present a cert signed by a private CA in the web request? Thanks!

[2018-03-12 05:57] karelz commented on #15871
@wfurt @tmds any idea?

[2018-03-12 05:58] AlexRadch commented on #27947
@benaadams nice API. For example, I want access item at some `offset`.
I get position for that offset `var position = seq.GetPosition(offset);` and now how to get item if I can not use `position.GetObject()`?

Why I should use next low performance code?
[code]

[2018-03-12 06:08] wfurt commented on #15871
This is difficult one as crypto was always problematic with nss. The original problem was reported on 1.1 but if upgrade is possibility 2.1 there is new HTTP implementation without dependency on curl.
It may also be possible to use custom X509 store instead of manipulating OS directly.
I would need to do some research. Do you have at least _some_ control over the system @TomYip?
It seems like nss

[2018-03-12 07:21] AppBeat commented on #27949
@stephentoub I agree. Probably more general "EndPoint" should be in callback method signature.

[2018-03-12 07:39] AppBeat commented on #27949
Update: IPAddress was currently done on my fork because it was much easier to implement and plug-in into existing implementation (into "GetConnectionKey" logic).

[2018-03-12 07:43] AppBeat commented on #27949
Maybe users should vote for this feature if they find it relevant. I wouldn't change current API / do drastic changes if current solution fits "99.99%" of users.

[2018-03-12 07:44] davidfowl commented on #27938
Maybe it should block until the callbacks are fired like cancellation token 😄.

[2018-03-12 07:44] wfurt commented on #18012
I've got basic prototype working on Ubuntu using existing System.IO.Port synchronous API.
I can get/set signals, do basic configuration and send/receive data via RS-232.
So far I have NOT done any testing with  OSX, USB devices, Raspberry or RS-423.
I think most of it should work on any Unix with exception of GetPortNames().
That currently use sysfs (/sys) on Linux.
I can probably get it in in nex

[2018-03-12 08:20] ChristianHaase commented on #27951
I haven't created a repro no. Bt it should be easy enough.

Basically it's just an HttpClient request, like this:

	var httpClient = new HttpClient();
	var response = await httpClient.GetAsync("some-uri");

I've trying just calling an `HttpGet` to `https.//google.com`. locally on my machine it works fine, but on my remote AWS test server, this throws the segfault.

[2018-03-12 08:22] molinch commented on #27848
@weshaggard Basically we have a huge WPF app, and while benchmarking it we figured out that a lot of time is spent by MEF:
- creating object graph
- resolving dependencies

For this reason we thought it would be a good idea to move to MEF2.
Furthermore it seems to be more "future proof".

What is your opinion on these?

[2018-03-12 09:58] evil-shrike commented on #26015
That `schemas.XmlResolver = new XmlUrlResolver();` solves the problem, thanks!
Wish to know it earlier.

[2018-03-12 10:03] ektrah opened #27962 "Mutating a read-only struct passed by-ref with S.R.CS.Unsafe"
The value of the System.Runtime.CompilerServices.Unsafe class is in that it can do safe things that the compiler however cannot verify. For using Unsafe methods safely, it is essential that their semantics are fully understood. Currently, the methods are a bit under-documented.

One thing that seems apparently possible is mutating an instance of a read-only struct if that instance is passed by mut

[2018-03-12 10:30] janvorli commented on #27936
I agree that this is a package name issue. It looks like RPM now supports so called Boolean dependencies where it is possible to say "require package X or Y". That could solve the issue for us:
http://rpm.org/user_doc/boolean_dependencies.html

[2018-03-12 10:47] dotnet-mc-bot opened #27963 "Test failure: System.ComponentModel.DataAnnotations.Tests.RangeAttributeTests/DotDecimalExtremaAndValuesInvariantParse(type: typeof(double), min: \"1.0\", max: \"3.0\", value: \"2.99999999999999\")"
Opened on behalf of @Sunny-pu

The test `System.ComponentModel.DataAnnotations.Tests.RangeAttributeTests/DotDecimalExtremaAndValuesInvariantParse(type: typeof(double), min: \"1.0\", max: \"3.0\", value: \"2.99999999999999\")` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Co

[2018-03-12 11:20] dotnet-mc-bot opened #27964 "[UWP F5] Test failure: System.Net.Http.Functional.Tests.HttpClientHandlerTest / AllowAutoRedirect_True_PostToGetDoesNotSendTE"
Opened on behalf of @Sunny-pu

The test `System.Net.Http.Functional.Tests.HttpClientHandlerTest/AllowAutoRedirect_True_PostToGetDoesNotSendTE(statusCode: 300)` has failed.

System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

           at System.Net.Http.Functional.Tests.HttpClientTestBase.CreateHttpClientHandler(Boolean useSocketsHttpHandle

[2018-03-12 11:30] dotnet-mc-bot opened #27965 "Test failure: System.Runtime.Serialization.Xml.Canonicalization.Tests.XmlCanonicalizationTest/C14NWriterNegativeTests"
Opened on behalf of @Sunny-pu

The test `System.Runtime.Serialization.Xml.Canonicalization.Tests.XmlCanonicalizationTest/C14NWriterNegativeTests` has failed.

System.TypeInitializationException : A type initializer threw an exception. To determine which type, inspect the InnerException's StackTrace property.\r
    ---- System.InvalidOperationException : There is an error in XML document (2, 2).\r

[2018-03-12 11:32] Sunny-pu commented on #27965
failed tests:
CryptoCanonicalizationTest
ReaderWriter_C14N_DifferentReadersWriters
TestC14NInclusivePrefixes

[2018-03-12 11:36] dotnet-mc-bot opened #27966 "Test failure: System.CodeDom.Tests.CSharpCodeGenerationTests/Compilation_NotSupported"
Opened on behalf of @Sunny-pu

The test `System.CodeDom.Tests.CSharpCodeGenerationTests/Compilation_NotSupported` has failed.

System.ArgumentOutOfRangeException : Specified argument was out of the range of valid values.

        Stack Trace:

           at System.IO.PathHelper.TryExpandShortFileName(ValueStringBuilder outputBuilder, String originalPath) in f:\dd\ndp\fxcore\CoreRT\src\System.Priva

[2018-03-12 12:51] tmds commented on #15871
The package that is built for RHEL is also built for CentOS. This package includes a supported backend (OpenSSL). Installation should be similar to: https://www.microsoft.com/net/download/linux-package-manager/rhel/sdk-current. With this package it is possible to use ClientCertificates.

With 2.1, it is possible to specify a certificate bundle using SSL_CERT_FILE (https://github.com/dotnet/corefx/

[2018-03-12 13:18] omariom commented on #27962
With Unsafe you can easily get AccessViolationException (if you are lucky) or silently corrupt Windows heap.
It is no different from unsafe blocks and pointer arithmetic.
The benefit is that you don't have to pin memory. But the responsibility is the same.

[2018-03-12 13:32] ektrah commented on #27962
I am aware that you can use Unsafe in a way that results in a AccessViolationException (or worse). But not *every* use of Unsafe results in a AccessViolationException; otherwise, there would be no point in having that class.

So my question is: What are the conditions under which Unsafe does not result in a AccessViolationException? And, specifically, is it safe to assume that the above code will

[2018-03-12 13:33] Tornhoof commented on #27962
Apparently not that evil, as @stephentoub is considering that for (de)serialization of https://github.com/dotnet/corefx/issues/24900#issuecomment-341148626. Maybe he can explain those 'tweaks'.

[2018-03-12 13:38] #27922 closed

[2018-03-12 13:41] stephentoub commented on #27962
I don't understand the comment. a) That change to nullable was reverted, and b) Unsafe isn't used there.  To what are you referring?

[2018-03-12 13:45] atiato commented on #27605
Hi keeratsingh,

on the following configuration 👍

dotnetcore 2.0 and <PackageReference Include="system.data.sqlclient" Version="4.5.0-preview2-26228-08" />

![image](https://user-images.githubusercontent.com/652472/37286808-c0ef1c18-260b-11e8-8867-2797d3162dd3.png)
![image](https://user-images.githubusercontent.com/652472/37286837-d3028872-260b-11e8-8416-44faf1e17d6f.png)

**it is working fine no

[2018-03-12 13:55] omariom commented on #27962
`ref Point point` can point to anywhere. Like to a page mapped with PAGE_READONLY protection.

[2018-03-12 13:59] ektrah commented on #27962
@omariom I am aware that you can use Unsafe to forge a `ref` that leads to an AccessViolationException, but, per the C# language specification, a `ref` parameter is ***mutable***.

[2018-03-12 14:05] omajid commented on #27936
Can't we do what we just did for Ubuntu? https://github.com/dotnet/core-setup/pull/3804/files

[2018-03-12 14:27] jkotas commented on #27962
For a public general purpose Point class, this would unacceptable (ie 10).

Casting away readonliness using `S.R.CS.Unsafe` and mutating readonly value is acceptable only if you have a full control over all inputs and you know for sure that the value is actually mutable.

[2018-03-12 14:32] jkotas commented on #27962
If you are asking about whether it is ok to cast away readonliness as a performance optimization  - where the code is 100% equivalent to a safe code that does not cast away readonliness - I think that is ok.

[2018-03-12 14:41] ektrah commented on #27962
@jkotas Thanks for shedding some light.

The Point struct is entirely under my control, but the code using it may not.

Do I really need to know more than that the parameter is declared as `ref` to mutate its contents?

*Edit:*
I'm essentially asking if the optimized Move method in my post at the top is 100% equivalent to the safe code in my last comment above.

[2018-03-12 14:44] omariom commented on #27962
Ah.. Then it was me :)

With unsafe blocks, Unsafe class and Reflection you can easily break invariants of a type. So in your case it is about type safety.

[2018-03-12 14:54] jkotas commented on #27962
Yes, it is.

[2018-03-12 14:57] eerhardt commented on #27750
@bartonjs @morganbr - can you guys review the proposal?

[2018-03-12 14:57] ektrah commented on #27962
Thank you!

@omariom Sorry for causing confusion.

[2018-03-12 14:57] #27962 closed

[2018-03-12 15:03] nils2612 commented on #27769
Hi, we could resolve our problems by enforcing the min worker threads with these environment variables:
ENV COMPlus_ThreadPool_ForceMinWorkerThreads 200
ENV COMPlus_ThreadPool_ForceMaxWorkerThreads 10000
and using the ip of the database server instead of the hostname.

In combination we get almost as good results as in a windows test environment.
We reproduced it 50-80 times.. Changing back to hos

[2018-03-12 15:27] pakrym commented on #27938
Nope

[2018-03-12 15:39] bartonjs commented on #27750
What has the VC++ done for them?

My take on, e.g., HashChoose would be that the signature would look like:

[code]

Ideally, any documentation for these would point to another place (VC++ documentation, or the instruction set guide) which uses the same names.  But as a minimum it seems like we want to ensure the Visual Studio experience is somewhat consistent.

Though, when it comes to something

[2018-03-12 15:41] stephentoub commented on #23150
@wfurt, this is done and can be closed, right?

[2018-03-12 15:43] stephentoub commented on #27861
I assume after https://github.com/dotnet/corefx/pull/27865 this is no longer "blocking-partner"?

[2018-03-12 15:45] pakrym commented on #27947
Any code you write that uses SequencePostion to access separate items would be slow, that's why we are not providing any default way of doing. Performance critical code, which accessing items is, should be done based on `Memory<T>` or  with something like https://github.com/aspnet/Common/blob/dev/shared/Microsoft.Extensions.Buffers.Sources/BufferReader.cs

[2018-03-12 15:49] dmitriyse commented on #25026
See more general proposal about batch processing: https://github.com/dotnet/corefxlab/issues/2154

[2018-03-12 15:56] stephentoub commented on #27891
The way the API is designed, it's up to the caller of Return.  If they opt not for the array to be cleared, who are we to ignore them and do it anyway?  They could actually want the behavior, e.g. using the arrays not only as a cache of arrays but also as a cache of arrays containing cached objects, and we'd be causing them to incur more cost by clearing automatically.

[2018-03-12 16:09] #27887 closed

[2018-03-12 16:20] pjanotti opened #27969 "AD0001: CSharpAsAndNullCheckDiagnosticAnalyzer throws NRE"
This is likely something brought by VS but I didn't investigate to be 100% sure.

[code]

[2018-03-12 16:23] tarekgh commented on #27952
Yes, this is #23608 and @kouvel should advise regarding the version we have the fix for it.

I don't know any other workaround than the what is mentioned here and especially the one setting the current cultures.

[2018-03-12 16:25] pjanotti commented on #27966
@JeremyKuhne @Anipik this seems related to temporary paths in UWP ILC, could you take a look?

[2018-03-12 16:36] tarekgh commented on #25634
Closing this one as a duplicate of #23381

@equiman feel free to follow up on #23381 or post any more questions there.

@wfurt do we have any idea what should be done for #23381? I mean is this will be by design or we'll have to try something else?

[2018-03-12 16:36] #25634 closed

[2018-03-12 16:36] Tratcher commented on #27861
Agreed.

[2018-03-12 16:40] kaiukdevelopment commented on #26386
Is there anymore news on this?

[2018-03-12 16:43] Tratcher commented on #27912
The non-ALPN upgrade approach isn't widely implemented and is more likely to confuse applications/servers. This is the only implementation I've seen yet and it's causing havoc with our tests.

[2018-03-12 16:50] molinch commented on #27848
Btw, with MEF2 we save 3 seconds during startup.
So that's a huge gain.

[2018-03-12 16:51] #27872 closed

[2018-03-12 16:53] stephentoub commented on #27912
Again, that sounds like an issue with ASP.NET that should be fixed.  This is libcurl's behavior with v2.0, CURL_HTTP_VERSION_2_0, and an http:// url; I highly doubt CurlHandler is the only client using that combination, especially since libcurl introduced CURL_HTTP_VERSION_2TLS much later than CURL_HTTP_VERSION_2_0.  Regardless, CurlHandler now uses CURL_HTTP_VERSION_2TLS.

[2018-03-12 16:53] #27912 closed

[2018-03-12 17:01] #27487 closed

[2018-03-12 17:01] pjanotti commented on #27884
I confirmed that the big leak is gone, will check if there are remaining issues in cases of failures.

[2018-03-12 17:09] arpit-nagar opened #27970 "Web Calls failing with error - An error occurred while sending the request. System.Net.Http.CurlException: Failure when receiving data from the peer at System.Net.Http.CurlHandler.ThrowIfCURLEError(CURLcode error)"
Getting failures when making web call-
[code]
We are using following code -

[code]

Following are the server configuration -

OS - Linux 14.02
Framework - dotnet 2.0

Can someone please help me to fix this issue.

[2018-03-12 17:20] spati2 opened #27971 "Getting error "System.InvalidOperationException: The stream was already consumed. It cannot be read again." when using Proxy settings to make a request."
I am making an Http request where the body is a stream. I am getting an error "System.InvalidOperationException: The stream was already consumed. It cannot be read again." as a response. The stream in the message body has a CanSeek value set to false. While going through the corefx code base I noticed the line of code here (https://github.com/dotnet/corefx/blob/53be85c2fe473fdea8c001e3d9fd81dd478b

[2018-03-12 17:23] weshaggard opened #27972 "MatchingRefApiCompat issues with Microsoft.VisualBasic."
See baseline file
https://github.com/dotnet/corefx/blob/master/src/Microsoft.VisualBasic/src/MatchingRefApiCompatBaseline.netstandard.txt.

We should do one of the following:
1. Expose the APIs publicly in the reference assembly
2. Make the APIs in the implementation internal
3. Add a comment to the baseline file why you cannot do either (1) or (2) and keep them baselined.

See PR https://github.c

[2018-03-12 17:25] davidsh commented on #27971
cc: @stephentoub @geoffkizer

[2018-03-12 17:25] weshaggard opened #27973 "MatchingRefApiCompat issues with System.Configuration.ConfigurationManager"
See baseline file
https://github.com/dotnet/corefx/blob/master/src/System.Configuration.ConfigurationManager/src/MatchingRefApiCompatBaseline.netstandard.txt

We should do one of the following:
1. Expose the APIs publicly in the reference assembly
2. Make the APIs in the implementation internal
3. Add a comment to the baseline file why you cannot do either (1) or (2) and keep them baselined.

See

[2018-03-12 17:27] weshaggard opened #27974 "MatchingRefApiCompat issues with System.Data.SqlClient"
See baseline file
https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/MatchingRefApiCompatBaseline.txt

We should do one of the following:
1. Expose the APIs publicly in the reference assembly
2. Make the APIs in the implementation internal
3. Add a comment to the baseline file why you cannot do either (1) or (2) and keep them baselined.

See PR https://github.com/dotnet/cor

[2018-03-12 17:30] weshaggard opened #27976 "MatchingRefApiCompat issues with System.Drawing.Common"
See baseline file
https://github.com/dotnet/corefx/blob/master/src/System.Drawing.Common/src/MatchingRefApiCompatBaseline.txt

We should do one of the following:
1. Expose the APIs publicly in the reference assembly
2. Make the APIs in the implementation internal
3. Add a comment to the baseline file why you cannot do either (1) or (2) and keep them baselined.

See PR https://github.com/dotnet/cor

[2018-03-12 17:32] bkeys opened #27977 "Cannot build on ARM (aarch64)"
I tried to build corefx from scratch on my aarch64 box running Fedora 27, but I get the following error:
[code]

[2018-03-12 17:34] weshaggard opened #27978 "MatchingRefApiCompat issues in System.IO.*"
See baseline file
https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/MatchingRefApiCompatBaseline.txt and
https://github.com/dotnet/corefx/blob/master/src/System.IO.IsolatedStorage/src/MatchingRefApiCompatBaseline.txt

We should do one of the following:
1. Expose the APIs publicly in the reference assembly
2. Make the APIs in the implementation internal
3. Add a comment to t

[2018-03-12 17:35] weshaggard opened #27979 "MathingRefApiCompat issues in System.Net.*"
See baseline files
https://github.com/dotnet/corefx/blob/master/src/System.Net.Requests/src/MatchingRefApiCompatBaseline.txt
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/MatchingRefApiCompatBaseline.uap.txt
https://github.com/dotnet/corefx/blob/master/src/System.Net.Primitives/src/MatchingRefApiCompatBaseline.uap.txt
https://github.com/dotnet/corefx/blob/master/src/System.N

[2018-03-12 17:37] weshaggard opened #27980 "MatchingRefApiCompat issues in System.Runtime.Caching"
See baseline file
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Caching/src/MatchingRefApiCompatBaseline.txt

We should do one of the following:
1. Expose the APIs publicly in the reference assembly
2. Make the APIs in the implementation internal
3. Add a comment to the baseline file why you cannot do either (1) or (2) and keep them baselined.

See PR https://github.com/dotnet/co

[2018-03-12 17:38] weshaggard opened #27981 "MatchingRefApiCompat issues in Serialization libraries"
See baseline files
https://github.com/dotnet/corefx/blob/master/src/System.Xml.XmlSerializer/src/MatchingRefApiCompatBaseline.uap.txt
https://github.com/dotnet/corefx/blob/master/src/System.Xml.XmlSerializer/src/MatchingRefApiCompatBaseline.uapaot.txt
https://github.com/dotnet/corefx/blob/master/src/System.Xml.XmlSerializer/src/MatchingRefApiCompatBaseline.netcoreapp.txt
https://github.com/dotnet/

[2018-03-12 17:40] weshaggard opened #27982 "MatchingRefApiCompat issues in System.Security.Principal.Windows"
See baseline file
https://github.com/dotnet/corefx/blob/master/src/System.Security.Principal.Windows/src/MatchingRefApiCompatBaseline.txt

We should do one of the following:
1. Expose the APIs publicly in the reference assembly
2. Make the APIs in the implementation internal
3. Add a comment to the baseline file why you cannot do either (1) or (2) and keep them baselined.

See PR https://github.co

[2018-03-12 17:41] weshaggard opened #27983 "MatchingRefApiCompat issues in System.ServiceModel.Syndication"
See baseline file
https://github.com/dotnet/corefx/blob/master/src/System.ServiceModel.Syndication/src/MatchingRefApiCompatBaseline.netstandard.txt

We should do one of the following:
1. Expose the APIs publicly in the reference assembly
2. Make the APIs in the implementation internal
3. Add a comment to the baseline file why you cannot do either (1) or (2) and keep them baselined.

See PR https:/

[2018-03-12 17:44] weshaggard commented on #27639
Reverse APICompat setup and all of corefx fixed or baselined with associated issues.

[2018-03-12 17:44] #27639 closed

[2018-03-12 17:46] kirsty14141 commented on #27978
[Image]
Get Outlook for iOS<https://aka.ms/o0ukef>
_____________________________
From: Wes Haggard <notifications@github.com>
Sent: Monday, March 12, 2561 5:35 pm
Subject: [dotnet/corefx] MatchingRefApiCompat issues in System.IO.* (#27978)
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>

See baseline file
https://github.com/dotnet/corefx/blob/master/src

[2018-03-12 18:18] rmkerr commented on #27970
Hey @arpit-nagar, thanks for reporting this. Is it possible to get a full repro that we can run? Network traces would be useful too. Also, approximately how long does it take from sending the request to getting that failure? This reminds me of some unusual behavior with `Content-Length` in Curl, where sending less data than Curl expects causes a hang and eventually throws the exception you're seei

[2018-03-12 18:23] safern commented on #24365
@karelz was this approved yet?

[2018-03-12 18:24] karelz commented on #24365
Nope, it was not critical for 2.1, so we didn't prioritize it.

[2018-03-12 18:28] terrajobst commented on #23592
I don't see a reason why it cannot be `Collection<string>`. In the end, the validation will happen when calling `Start` so there is no need to have to intercept any calls/migrate state.

[2018-03-12 18:35] JeremyKuhne commented on #27966
Likely a bug in System.IO.PathHelper.TryExpandShortFileName. Moving to 2.1.

[2018-03-12 18:39] pakrym commented on #27422
Fixed in https://github.com/dotnet/corefx/pull/27752

[2018-03-12 18:39] #27422 closed

[2018-03-12 18:43] rmkerr commented on #27301
I'm actually going to have to go back on that -- it is much more complicated to remove the existing modifications to the `TransferEncoding: Chunked` header than I anticipated. Most of the complexity comes from ensuring that a `ContentLength` is sent once we remove `TransferEncoding: Chunked`. The value is cached in cURL, and in `HttpContentHeaders`, and I can't seem to get them all working in sync

[2018-03-12 18:52] arpit-nagar commented on #27970
Thanks, @rmkerr for looking into this.
Sorry, I can't share repro as well as working trace. Although I can share a sample non-working trace with you on your personal Id.
This is a random behavior around 5% to 10% calls were failing with this error and I have following observations on this.
- Calls generally took < 10ms. In a normal scenario, it varies from 200ms to 5000ms
- It happens on load arou

[2018-03-12 19:04] GrabYourPitchforks opened #27985 "Add a _malloca-like API Span<T>.Alloc(int length)"
(This is distinct from the proposal at https://github.com/dotnet/corefx/issues/26954, which considers a more powerful API that can give the caller specific information about the current stack. The proposal under consideration here is only for a "[KISS](https://en.wikipedia.org/wiki/KISS_principle)" API. Both proposals could exist side-by-side depending on the scenario, and in fact this proposal co

[2018-03-12 19:04] kouvel commented on #27952
@BrendanGrant from the stack above it looks like the larger app is still running against an older version of the runtime. Based on the path to libcoreclr.so in the output above `/home/pi/pp/libcoreclr.so`, I suspect it's using a local copy of the runtime. If you're using `dotnet publish` or running `dotnet app.dll`, you may need to rebuild/republish the app after adding `<RuntimeFrameworkVersion>2

[2018-03-12 19:06] kouvel commented on #27952
The fix for the infinite resource loop issue should be in 2.0.3 and above.

[2018-03-12 19:20] weshaggard commented on #27848
That is great to hear and if you have all your scenarios covered then by all means move to MEF v2.

The primary improvements come at the cost of cutting features like rejection and our general primitive model. MEF v2 moved to a pure type-based model which uses expression trees to compile and cache the graph which is why through-put is better. I'm sure depending on your usage scenarios even a clien

[2018-03-12 19:31] davidsh commented on #27906
Since .NET Core builds HttpWebRequest on top of HttpClient, it has more difficulty getting the enum value of WebExceptionStatus set to one of the known values.  In order to fix this, it would have to be able to dive into the inner exceptions to handle the variations of the different implementations of HttpClient itself.  So, the `WebException.GetStatusFromException` will have to be enhanced.

See:

[2018-03-12 20:09] davidsh commented on #26957
@wfurt Are you working on this issue?  If not, I can take it.

[2018-03-12 20:09] benaadams commented on #27985
Have heard of people that know the pattern; what's the right number to use; so inbuilt would be better

[2018-03-12 20:23] AndyAyersMS commented on #27985
An intrinsic method that conditionally turns into a `stackalloc` is bit tricky for the jit to handle, but I think we have most of the parts in place.

The upshot is that any method that calls `Span<T>.Alloc` will likely never be inlined, which is more or less true of any method that uses `stackalloc`.

[2018-03-12 20:30] molinch commented on #27848
Thanks for the detailed feedback

Yes we managed to get rid of Any by deeply looking at our usages and refactoring code when needed.
This was definitely not straight forward, 25 years old app so huge code base, but as a result the code is cleaner and faster. So no need to keep this open.

We could convert a lot of code thanks to Roslyn!
- Adding Shared attribute when there wasn't any, removing Non

[2018-03-12 20:32] #27848 closed

[2018-03-12 20:35] wfurt commented on #26957
It was in my list but I'm getting distracted with other issues. Please take it if you can @davidsh

[2018-03-12 20:36] Drawaes commented on #27985
What is the right number.....that is the real question....

I am not being smart here... But for instance the stack size on a default Ubuntu dotnet core is a lot bigger than a default windows dotnet core (approx 4* the size) and it would be nice to use some of that huge stack... ;)

[2018-03-12 20:36] joshfree commented on #27481
Fixed by https://github.com/dotnet/corefx/pull/27888

[2018-03-12 20:37] GrabYourPitchforks commented on #27985
@AndyAyersMS This could also be done as a compiler only change with no JIT support. There are a few ways to pull this off depending on available resources and requirements.

@drawaes TBD implementation detail that shouldn't really affect the proposal. The nice thing is that as an implementation detail the developer never has to be bothered with it. :)

[2018-03-12 20:48] Tornhoof commented on #27985
But you know us developers, if that stack size is too conservative/low, we won't use the API and go the manual route again. But you're obviously correct that it is an Implementation detail.

[2018-03-12 20:53] morganbr commented on #27750
It doesn't look like there was a review from security/crypto folks on adding SHA1 intrinsics. I'm not convinced we should actually have it. Do you have a case for using these?

CC @GrabYourPitchforks @blowdart

[2018-03-12 20:59] safern commented on #27976
working on it

[2018-03-12 20:59] GrabYourPitchforks commented on #27985
@Tornhoof Yup, but to be honest I'm not too worried about that. The folks commenting in this thread are self-selecting from the highest group of enthusiast / advanced developers. You're always going to have scenarios that will be better served by something custom that can take advantage of domain-specific knowledge. In those cases __you're not the target audience of these APIs__. And that's perfec