[2019-07-31 18:06] Taritsyn opened #39923 "Add to constructor of the `BrotliStream` class ability to specify quality"
It would be nice to have the following API:

[code]

From the [“Introducing Support for Brotli Compression”](https://devblogs.microsoft.com/dotnet/introducing-support-for-brotli-compression/) article and the [“Brotli defaults to quality 11”](https://github.com/dotnet/corefx/issues/29555#issuecomment-388424084) discussion I know how to pass an integer value to the constructor as a compression level

[2019-07-31 18:08] wfurt commented on #39906
System.InvalidOperationException : Failed to get AppId, result was 120.

[2019-07-31 18:08] ericstj commented on #39845
System.Drawing.dll is supposed to be missing dependencies.  It's only a facade to unify the desktop assembly identity with .NETCore.

One thing that changed in Preview7 was the way the SDK references assemblies.  It is now honoring UseWPF and UseWindowsForms with respect to dependencies and System.Drawing.Common is classified as Windows Forms and is not available by default unless a project specif

[2019-07-31 18:10] safern commented on #39290
Moving to 5.0. I wasn't able to repro this locally yet, I still need to try it on an arm device. However, I don't think this would meet the bar for release branch since this is the state `Graphics` class in Unix has been since this library was ported over into .NET Core.

[2019-07-31 18:13] safern commented on #39918
cc: @danmosemsft who might have more context why these APIs were left out of the porting effort.

[2019-07-31 18:17] buyaa-n opened #39924 "System.Security.Cryptography.Pkcs.Tests failed with new Mac OS"
13 test failures found for the System.Security.Cryptography.Pkcs.Tests run with new Mac OS Catalina
[code]
Please refer: https://gist.github.com/buyaa-n/04268abbf15747ee526e974b5311e1e6 for full test result

[2019-07-31 18:17] ericstj commented on #39816
/cc @stevenbrix
This is a case of the old Windows-base ported code not matching the behavior of IO.Compression.  It's expected that ZipArchiveEntry returns non-seekable streams.  Let me take a look and see if I can suggest a fix.

[2019-07-31 18:29] ericstj commented on #39816
`ZipArchiveEntry` only ever supports opening once when the backing archive is in Create mode, so this call to `SetLength` is  unnecessary and should be removed in that case.  You could still open an archive in Update mode then call part.GetStream(FileMode.Create).  If the check was removed entirely that would change the behavior in that case, so I believe we just need to further condition that che

[2019-07-31 18:30] scalablecory opened #39925 "Clean up NRE in SmtpConnection.Abort"
When we initialize a connection, it's possible for `_tcpClient.Connect()` to fail and for `_networkStream` to never get assigned:

https://github.com/dotnet/corefx/blob/175c4b7467f4da173c732f9aaf95882b3c426665/src/System.Net.Mail/src/System/Net/Mail/SmtpConnection.cs#L100-L104

Then, during `Abort()`, we attempt to `_networkStream.Dispose()` which throws a `NullReferenceException`.

https://github

[2019-07-31 18:46] davidsh commented on #39887
Proxy-Authorization: Negotiate ... (does not see padding or any CR/LF) [OK]

I don't quite understand this.  The 'Proxy-Authorization' header should always have CR/LF after it.  Just like any other header in the request.  Are you saying that it's missing entirely?

[2019-07-31 18:57] #39380 closed

[2019-07-31 18:57] #39393 closed

[2019-07-31 19:02] karelz commented on #10752
FYI: Moved to milestone 5.0 as promised.
WPF team will be busy until we ship 3.0, but if we want to take changes into CoreFX that won't break WPF badly in master, we can do it now.

[2019-07-31 19:08] davidsh commented on #39887
I think I am beginning to see a problem now.

I did a quick test between .NET Core 2.1 and .NET Core 3.0 Preview 7.  I wrote a small test app that connects to an HTTPS server thru a authenticating proxy server that uses Negotiate scheme.

I see a difference in the base64 blob that is sent.  For example:

[code]

[code]

You'll notice in the .NET Core 2.1 case, the base64 token begins with "Y". Tha

[2019-07-31 19:55] hiteshmadan opened #39927 "Crypto: Is it safe to pool X509Chain objects without resetting the X509ChainPolicy?"
I’m building a high-throughput message broker in .net core (2.1 today, upgrading to 3.0-preview7 soon), and need to do client certificate based authentication with a custom cert chain (that I set up on the chain.ChainPolicy.ExtraStore).

To reduce GC pressure, I tend to pool all the byte arrays / batch message arrays / etc.

Is it a good idea to also pool X509Chain objects? And not do a chain.Poli

[2019-07-31 19:58] wtgodbe commented on #39084
@stephentoub this test is still failing occasionally, e.g. in https://dev.azure.com/dnceng/public/_build/results?buildId=285195

[2019-07-31 20:04] ahsonkhan commented on #39911
Looks like your class model contains a loop.

Circular references (equivalent to an option for Newtonsoft Json's `ReferenceLoopHandling`) is not yet supported in `System.Text.Json`, v1 as part of .NET Core 3.0.

This looks like a duplicate of https://github.com/dotnet/corefx/issues/38579.

However, we **should** fix the error message to return something more meaningful so it is clear what went wro

[2019-07-31 20:18] wtgodbe commented on #39489
CC @Anipik

[2019-07-31 20:18] davidsh commented on #39887
Looking at .NET Core 3.0 Preview 6, I see it also behaves like .NET Core 2.1. The token begins with a 'Y' indicating that SPNEGO protocol is being used appropriately.

[code]

[2019-07-31 20:49] wfurt commented on #39904
https://support.apple.com/en-us/HT210176 outlines some TLS differences in Catalina. I'll take closer look when I get my development set up on Catalina.

[2019-07-31 20:49] eiriktsarpalis commented on #38911
I thought I'd update this thread with some issues I came across when running the suite in Ubuntu:

Repro steps:
* OS: Ubuntu 18.04 LTS
* Dotnet nightly build `5.0.100-alpha1-013628`
* Using the stress suite from [this PR](https://github.com/dotnet/corefx/pull/39928), run without arguments.

[code]

[code]

[code]

[code]

[code]

Note that the client is hitting an in-proc kestrel server, so not su

[2019-07-31 20:55] roglainc commented on #39887
Yes, I can confirm! I see the same pattern:

.Net Core Preview 6:
Proxy-Authorization: Negotiate Y<omitted>

.Net Core Preview 7:
Proxy-Authorization: Negotiate T<omitted>

The other thing, CRLF at end of token, is strange. When using preview 6 I do not see it in Wireshark when the HTTPS-call succeeds, only in my own quick-hack middle man logger which injects in a way that the proxy authentication

[2019-07-31 21:05] jkotalik commented on #38911
The first two seem client related, the next two I'm not certain about. Can you file another issue for discoverability and potentially get server logs s.t. we can figure out what to do with these errors?

Also, did you hit these errors on Windows?

[2019-07-31 21:05] GrabYourPitchforks opened #39930 "Possible double-return to ArrayPool in JsonDocument.Dispose"
Related to https://github.com/dotnet/corefx/issues/36152

If the method `JsonDocument.Dispose` is called from multiple threads concurrently, the risk exists that the underlying `_extraRentedBytes` and `_parsedData._data` arrays may be released back to `ArrayPool<byte>.Shared` multiple times, which could cause application-wide memory corruption. Guidance has generally been that improper multi-threa

[2019-07-31 21:23] ahsonkhan commented on #39905
Thanks for the detailed write-up and motivating scenario :)

This resulted in a weird `FormatException` which you can see below.

As an aside, @martincostello discovered this error as well and it has been fixed: https://github.com/dotnet/corefx/pull/39789
So you should get a more meaningful exception and error message now for incompatible converters.

cc @steveharter

[2019-07-31 21:26] ahsonkhan commented on #39903
cc @layomia, @steveharter

[2019-07-31 21:34] JoeRobich opened #39931 "XDocument.Load with LoadOptions.PreserveWhitespace does not preserve NewLine characters"
XDocument.Load using LoadOptions.PreserveWhitespace does not preserve NewLine characters when paired with XDocument.Save using LoadOptions.SaveOptions.DisableFormatting.

**Steps to test**

1. Create a new Console Application project.
2. Replace the code in Program.cs with the code below
[code]
3. Build and run the console application.

**Expected Outcome**
Both sets of XML roundtrip and match.

*

[2019-07-31 21:40] davidsh commented on #39887
Looks like this broke when I did PR #38465 to fix some other SPN issues with Kerberos authentication. That PR regressed the SPN calculation for the proxy authentication so that Kerberos wasn't going to be used. Instead NTLM would be used since an incorrect SPN was being used.

I suspect that your IT environment doesn't allow NTLM to be used at all for the 'Negotiate' scheme for proxy authenticatio

[2019-07-31 22:35] jnm2 opened #39934 "Efficient API to stream from a MetadataReader to a MetadataBuilder with modifications"
Rewriting IL using System.Reflection.Metadata seems to bit a bit of a mind-melting endeavor. Due to the order-dependent relations between the tables, and most binary blobs needing row references to be patched, I haven't been able to find a scalable pattern for a single-pass read and write. It feels like something like this should be in theory possible, maybe with something like a visitor pattern.

[2019-07-31 22:44] shatl commented on #38559
Quick question: When using  `HttpCompletionOption.ResponseHeadersRead` is it necessary for client to drain response body, or it is fine to just dispose `HttpResponseMessage` ?

[2019-07-31 23:09] GrabYourPitchforks opened #39935 "Mutable structs Utf8JsonReader / ReadStack / ReadStackFrame passed by value in some cases"
/cc @ahsonkhan @steveharter @bartonjs @layomia

There are a few places in _System.Text.Json_ where we pass _Utf8JsonReader_ by value instead of by reference. I don't know if these cases are intentional, but since _Utf8JsonReader_ is a mutable struct these might represent product bugs. If they're not bugs then please close this issue as by design.

https://github.com/dotnet/corefx/blob/06d215d9fe6f

[2019-07-31 23:10] scalablecory commented on #39689
Consider adding this to System.Interactive in https://github.com/dotnet/reactive, which has a lot of great utility extensions like this.

It's interesting for me to see how people use something like LINQ in such a diverse manner. I consider myself a heavy LINQ user and this is exceedingly rare for me.

[2019-07-31 23:41] nguerrera commented on #39934
This feels like the domain of a higher level API that can offer you a sort of DOM that you can read/edit/write. I think Mono.Cecil would be more appropriate.

[2019-07-31 23:45] tmat commented on #39934
I agree with Nick's Mono.Cecil recommendation.

That said I have a prototype for a low-level code that hydrates PEBuilder from PEReader. It's however more complicated than it looks. The blocker at this point is the lack of representation for native resources on `PEReader`, which is needed in order to be able to round-trip assemblies.

@jnm2 If you'd like to help move it forward I would be happy to

[2019-07-31 23:57] stephentoub commented on #38559
It's fine to just Dispose it. The implementation will then drain it, subject to the length and time limits set (configurable on SocketsHttpHandler). If there's too much to drain or if doing so exceeds the time limit, the connection will be closed instead of returning it to the pool.

[2019-07-31 23:57] jnm2 commented on #39934
Would you expect Mono.Cecil to be slower than hydrating a MetadataBuilder from a MetadataReader in one pass, skipping parts you want to remove?

I don't think I want a DOM for this. If additions, modifications and deletions can be done in a general single-pass way with no intermediate representation between MetadataReader and MetadataBuilder, that's what I'm after. Could that converge with your pr

[2019-08-01 00:04] tmat commented on #39934
Yes.

I understand. Some operations can be done without DOM. It also depends what kind of APIs do you expect to be exposed for these operations. As I said, I can imagine an efficient API that applies EnC delta to a fully hydrated MetadataBuilder. I'm guessing most of the operations you want to do could be encoded as an EnC delta.

First step is to implement round-tripping. That's what my prototype

[2019-08-01 00:17] foxjazz commented on #39908
https://github.com/foxjazz/TestFileReaderWriter.git

[2019-08-01 00:18] wfurt commented on #39904
I was able to build and run all tests on 10.15:
[code]
It is possible that 10.15 and 10.14 are not binary compatible. I'll do more testing.

[2019-08-01 00:18] jnm2 commented on #39934
Could something like this be both generally useful and efficient? (uses Dictionary, could be swapped for a more efficient map)

<details>

[code]

</details>

[2019-08-01 00:19] JamesNK commented on #39828
I haven't seen this again. I don't have any repro steps, and no idea where the issue occurred.

I think either this can be closed - and reopened if it happens again - or moved to 5.0.

[2019-08-01 00:26] tmat commented on #39934
Copying the rows from reader to builder is the easy part. I already have very efficient code for that. It's not useful on its own though without the rest of the re-hydration code all the way up to PEReader, which includes native resources.

[2019-08-01 00:29] tmat commented on #39934
See https://github.com/tmat/corefx/tree/PERewriter

[2019-08-01 00:30] jnm2 commented on #39934
@tmat It sounds like your prototype starts by copying everything rather than planning for some things to be added, modified or skipped in the initial copy. I'm not sure I see that as the most efficient way to add and modify and delete. How does deleting rows work when row handles are already serialized in blobs?

[2019-08-01 00:41] tmat commented on #39934
It's an early prototype :) Obviously, this requires more work. I started by the goal to roundtrip any assembly without modifying the metadata. Already turned out to be non-trivial problem.

[2019-08-01 00:50] stephentoub commented on #39084
@wtgodbe, those failures are all on Nano (which I thought we disabled entirely, but maybe that was only for PRs?).  Are there any failures not on Nano?

[2019-08-01 00:56] ahsonkhan commented on #39935
Thanks for looking into this @GrabYourPitchforks.

A lot of these (particularly in the throwhelper cases) are passed by `in` (which I read as `ref readonly`), so I don't think those count as "pass by value", especially since the callsite is contracted to not mutate the struct state. Please correct me if I am mistaken.

The one in `JsonDocument` only has one caller and the instance of `Utf8JsonRead

[2019-08-01 01:07] pranavkm opened #39939 "Add a copy constructor to JsonSerializerOptions"
MVC has a scenario where it needs to start with an existing options instance, modify a single property on a copy of it (the encoder) and perform serialization. In the absence of a copy constructor, we're at risk of missing out on newly added properties to the type.

[2019-08-01 03:22] ahsonkhan commented on #39939
Can you provide a link to where it would be used in practice? What do you end up doing today? Setting/resetting the options after modifying/using it?

So are you looking for something like:
[code]
With sample usage:
[code]

Would the underlying caches also get copied (i.e. full deep copy)?

Can you expand on what you mean by this?

[2019-08-01 05:01] Clockwork-Muse commented on #39929
Behavior confirmed....

[But we have a test to protect against this, that passes!?](https://github.com/dotnet/corefx/blob/30ca4113ed07fc78060a0c9d3f95eee4fe8f8ee3/src/System.Collections/tests/BitArray/BitArray_GetSetTests.cs#L230-L313) (Verified under debug of test)..... what?

I know there also used to be a copy distributed along with coreclr, although that's long gone.

[2019-08-01 05:11] Tornhoof commented on #39935
Isn't the normal wisdom that you should never pass a mutable struct via 'in'? https://devblogs.microsoft.com/premier-developer/the-in-modifier-and-the-readonly-structs-in-c

[2019-08-01 05:53] GrabYourPitchforks commented on #39935
I believe property accesses are treated the same as normal method calls on a mutable struct marked _in_: if the property accessor isn't marked with the _readonly_ keyword then the call site has to treat the implementation as potentially mutating instance state, incurring a copy.

Please double-check my statement above to make sure I'm not way off-base. I may be misunderstanding the C# spec.

[2019-08-01 07:19] karelz commented on #39873
Why is it not interesting for 3.0?
What happens when malicious server sends it?

[2019-08-01 07:23] karelz commented on #39828
If we can't repro, there is IMO no point to keep it open for 5.0 as it is not actionable.
We can reopen if we see it again somewhere. Thanks @JamesNK !

[2019-08-01 07:23] #39828 closed

[2019-08-01 07:36] roglainc commented on #39887
Yes, our networking department confirms that the proxy is configured to disallow NTLM with NEGOTIATE.
Thanks for taking care of this issue so quickly!

[2019-08-01 07:38] jkotas commented on #39929
Regression introduced by @ahsonkhan 's change https://github.com/dotnet/corefx/pull/33367

[2019-08-01 07:59] scalablecory commented on #39873
@karelz HttpClient will throw an exception either way. The change here is to make it a consistent one.

[2019-08-01 08:17] MichaelL79 opened #39944 "Problem with FTDI driver"
I'm not quite sure if this is related to .Net Core 3 but from my perspective it seems to.

# Setup
I have a legacy project migrated to .NetStandard 2. The project is used to communicate to our USB devices via FTDI driver (FTD2XX.dll). To open the connection to a device, we use the FT_OpenEx() method.

# Problem
When used in a classic WPF application (4.7.2) everything works fine. The method return

[2019-08-01 08:32] karelz commented on #39873
Thanks @scalablecory , will it be compat problem in 5.0?

[2019-08-01 09:03] zz1231118 opened #41406 "HttpListenerRequestUriBuilder.GetPath throw IndexOutOfRangeException"
# Issue HttpListenerRequestUriBuilder.GetPath throw IndexOutOfRangeException
.net core
System.Net.HttpListener

# General
[code]

[2019-08-01 12:35] SebHonorine opened #39946 "Issue with IAsyncEnumerable and GetEnumerator"
Describe what is not working as expected:
Preparing some documentation on .Net Core 3 I'm trying to update some projects from 2.1 to 3.0
I've done something similar to this:
https://stackoverflow.com/questions/40476233/how-to-mock-an-async-repository-with-entity-framework-core

before updating my csproj:
![image](https://user-images.githubusercontent.com/8523321/62293742-3c564b00-b437-11e9-9eca-88

[2019-08-01 12:43] stephentoub commented on #39946
GetAsyncEnumerator takes an optional CancellationToken argument.  Does this error go away if you explicit pass `default` to the GetAsyncEnumerator call?

[2019-08-01 12:47] SebHonorine commented on #39946
thanks.Seems ok now. . . i ve tried "null" but not default.
have some more implementation  to do now it wants to go trhough
        TResult IAsyncQueryProvider.ExecuteAsync<TResult>(Expression expression, CancellationToken cancellationToken)
        {
            throw new NotImplementedException();
        }

[2019-08-01 12:47] stephentoub commented on #39946
Great.

[2019-08-01 12:47] #39946 closed

[2019-08-01 13:06] vcsjones commented on #39944
In your .NET Framework application, are you running your application as 32-bit by either explicitly targeting x86 or have the "Prefer 32-bit" checkbox set by default?

Looking at your function declaration and some Random Googling, it looks like your last parameter should be marshalled as `IntPtr`, not `uint`, since `FT_HANDLE` is [defined][2] as:

[code]

[2]: https://www.ftdichip.com/Support/Know

[2019-08-01 13:23] steveharter commented on #39769
In summary, the type cycle between ModelH and ModelL (`Root.H --> ModelH --> ModelH.C --> IList<ModelL> --> ModelL.M --> IList<ModelH>`) plus that the cycle was caused by a collection (instead of just an object reference) caused the issue.

[2019-08-01 13:24] steveharter commented on #39769
@martincostello thanks for reporting this problem and the nice repro.

[2019-08-01 13:42] jormenjanssen commented on #14041
@krwq @stephentoub I tried the new enums from commit (https://github.com/dotnet/corefx/pull/37315) in .Net Core 3 preview 7 with various combinations but it look's like CAN (Controller-Area-Network) is not properly implemented (At least i couldn't get it to work).

I implemented a own solution as temporary workaround to get the canbus interface to work in .Net Core. Maybe you guys could expose the

[2019-08-01 13:43] stephentoub commented on #14041
cc: @wfurt

[2019-08-01 13:52] MichaelL79 commented on #39944
Thanks for your quick reply. Sorry, it actually was a mistake in my setup.

[2019-08-01 13:52] #39944 closed

[2019-08-01 14:04] OmidID opened #39948 "How to get startup path from assembly in Single Exe File"
I don't know is it a bug or not.
After I published my application using this command `dotnet publish -r win-x64 -c Release /p:PublishSingleFile=true` I'm not able to get the correct startup address from the code below:
[code]
The output is in the temp directory and it's dll file. Something like this:
```C:\Users\MyUser\AppData\Local\Temp\.net\MyApp\po5w3wnz.iiu\MyApp.dll```

[2019-08-01 14:05] NetTecture opened #39949 "Last Updarte: URI combining broken for relative URL's"
Suddenly running maintenance on a set of tests they are broken. This behavior was changed either in 301 or 300 - at least this is the timeframe these tests did not execute.

As part of unit tests, I am creating a relatvie base uri:

                WebHttpClient = new HttpClient()
                {
                    BaseAddress = new Uri(new Uri(rConfig.ApiHost), "odata"),
                };

Th

[2019-08-01 14:16] davidsh commented on #39873
I think we should fix this for 3.0.

[2019-08-01 14:29] khellang commented on #39948
I guess this is because it's basically embedding the DLL in a generated assembly and extracting it to a temp location before loading the DLL. Seems like it's a known issue; https://github.com/dotnet/coreclr/issues/20287#issuecomment-504287272

[2019-08-01 14:34] davidsh commented on #39949
@wtgodbe

[2019-08-01 14:40] sethjackson opened #39951 "Better handling of optional JSON properties in System.Text.Json"
Would it be possible to add an easier way of handling optional properties in `JsonDocument`(s)?

Many APIs that return JSON include optional values depending upon the options they are called with. Currently it is very cumbersome to handling this with `System.Text.Json`.

Consider the following JSON structure:

[code]

Handling this structure with `Newtonsoft.Json` is fairly straightforward:

[code

[2019-08-01 14:44] 3lcarry commented on #39886
Hi,
I was able to run successfully on localhost but depending on the CurrentUser/CA or LocalMachine is a hard limitation, for example on Azure we are not able to set up the certificates on the CA we need to set up an ASE for this.

Is there any plan to support this in a native way?

[2019-08-01 14:48] markvincze commented on #39067
Hey folks,

I checked this issue and #38717, but it's unclear to me if this is fixed already or not.

If I run this code:

[code]

I'm still getting the `The JSON value could not be converted to System.DateTime` exception.

I'm using version `4.6.0-preview7.19362.9` of `System.Test.Json`, which was released 9 days ago, so #39547 should've been included in it.

Is this a bug which is still not fixe

[2019-08-01 15:11] newpost opened #39952 "What a weird problem"
[code]
When dic is decared as IDictionary<string, string> throw Unhandled Exception: Unhandled Exception: System.ArgumentException: The key already existed in the dictionary.
But When dic is decared as ConcurrentDictionary<string, string> work well.

[2019-08-01 15:17] nick2893 opened #39953 "System.Text.Json.JsonSerializer.Deserialize<Dictionary<string, object>> Treats 'object' Incorrectly"
In the following example:

            string sJsonFromDB =
@"{
  ""command73"": {
    ""type"": ""string"",
    ""value"": ""2@RUN""
  },
  ""Data_73_1"": {
    ""type"": ""hash"",
    ""value"": {
      ""73_var1"": ""2.0"",
      ""73_var2"": ""1.0""
    }
  }
}";
            Dictionary<string, object> dobjDBtxt = System.Text.Json.JsonSerializer.Deserialize<Dictionary<string, object>>(sJsonFrom

[2019-08-01 15:24] 3lcarry commented on #39886
Hi @bartonjs ,

Thank you for your hint, I was able to solve this, just a note for someone having a similar issue on Azure Webapps, for normal web app if you install the public certificates and load them using the appsetting WEBSITE_LOAD_CERTIFICATES works fine

But for Web apps inside an Azure App Services Environment (ASE) you need to load them using the app setting WEBSITE_LOAD_ROOT_CERTIFICATE

[2019-08-01 15:27] ericstj commented on #39084
@safern is working on re-enabling nano in https://github.com/dotnet/corefx/pull/39734.  Current read is that this new build no longer exhibits this error, but some other failures are occurring due to OS changes.

@stephentoub that's correct: we still run nano in rolling builds.  Any cases of -1073740940 (STATUS_HEAP_CORRUPTION) on nano can be ignored until https://github.com/dotnet/corefx/pull/397

[2019-08-01 15:33] bartonjs commented on #39927
`X509ChainPolicy` is just an options input type in the end, nothing is written back to it during chain walking.  It should be fine to keep it long term if (as you already acknowledged) you are explicitly setting VerificationTime before each call to X509Chain.Build.

[2019-08-01 15:43] stephentoub commented on #39952
This is a design problem with the CollectionExtensions.TryAdd extension method that was added for `IDictionary<>` in .NET Core 2.0 in https://github.com/dotnet/corefx/pull/18091.
cc: @terrajobst, @bartonjs

When accessing TryAdd via ConcurrentDictionary, you're just calling to ConcurrentDictionary's TryAdd method.

When accessing TryAdd via IDictionary, you're actually calling this CollectionExten

[2019-08-01 15:56] bartonjs commented on #39952
Couldn't we just do an as-cast and defer to the specialized member in the implementation? A la Enumerable.Count() deferring to ICollection.get_Count()

[2019-08-01 16:07] anurse opened #39955 "Share HTTP/2 parsing code between Kestrel and HttpClient"
Right now, HttpClient and Kestrel share some HTTP/2 parsing code (including HPACK codec) via a set of copied code that had drifted a bit. In the 5.0 timeline, we should work on sharing this code in a way that ensures we have only one authoritative code-base.

Given the complexity and performance-sensitive nature of this code, a public API is not likely to be feasible (at least not in the near-term

[2019-08-01 16:19] foxjazz commented on #39908
Narrowed error down to file create is somehow retaining a file lock. Removed File.create and looks like its working.

[2019-08-01 16:19] #39908 closed

[2019-08-01 16:21] stephentoub commented on #39908
It creates the file and returns a FileStream for the open file. You need to dispose that FileStream.

[2019-08-01 16:23] Symbai commented on #39948
It's not an issue rather a breaking change if you come from .NET Framework and dot net team suggests to use GetModuleFileNameW API is Process.GetCurrent().Mainmodule.Filename.

[2019-08-01 16:26] buyaa-n commented on #39904
with 10.15 I had build errors, did you had any build error? Here is PR for that https://github.com/dotnet/corefx/pull/39938

[2019-08-01 16:27] newpost commented on #39952
@stephentoub Should not the priority of the instance method be higher than the extension method?

[2019-08-01 16:28] stephentoub commented on #39952
There's a layering problem. But even if we worked around that, it would still only handle this one special case.

@newpost, there is no `IDictionary<>.TryAdd` instance method.

[2019-08-01 17:08] cadesalaberry commented on #39903
I am having the same issue, here is the full example:

[code]

Code:
[code]

Leads to:
[code]

Where I would expect `files` to also be present in the payload object.

[2019-08-01 17:09] karelz commented on #39955
Besides HPACK (which we planned to share better in 5.0) what else could we share?

[2019-08-01 17:13] hiteshmadan commented on #39927
ok. thanks!

[2019-08-01 17:13] #39927 closed

[2019-08-01 17:15] anurse commented on #39955
Probably just HPACK. @Tratcher mentioned he thought there was some frame parsing code that was copy-pasted.

[2019-08-01 17:16] anurse commented on #39955
Is there an issue tracking that already? I didn't see one it a brief search.

[2019-08-01 17:20] wfurt commented on #14041
Far CAN, only RAW type is supported at the moment.
@krwq was doing some testing there. I would recommend to do `strace` for working and not working case and open separate specific issue. This one is about API change and we should not pollute it with CAN low level CAN issues.

[2019-08-01 17:22] pranavkm commented on #39939
It doesn't need to. Users could independently cache the copied instance.

If you add a new property to the serializer options, MVC would need to react to it accordingly. This becomes complicated if the user happens to reference a newer version of the library. Using reflection to copy things over seems like overkill.

[2019-08-01 17:33] joperezr commented on #39439
talked offline, seems like partner teams don't really require for us to do this any longer so our current plan is to not do anything and just let these packages ship with the rest of 3.0 release.

[2019-08-01 17:34] wfurt commented on #14041
As far is the main thread: It seems like we are either looking for `public Socket(SafeCloseSocket)` and we would try to determine type via some lookup functions or `public Socket(SafeCloseSocket, AddressFamily addressFamily, SocketType socketType, ProtocolType protocolType)`

It seems like we don't really need socketType and protocolType after constructor. One can always use ProtocolType.Unknown a

[2019-08-01 17:37] wfurt commented on #39904
it build for me without much troubles after adding missing dependencies. It probably depends on XCode version. It would be great if you can confirm test works for you after building on 10.15. I'm comparing bits and I'm trying to narrow down what changed between two versions.

[2019-08-01 17:47] kasiabulat opened #39957 "Improve JsonNumber.SetFormattedValue performance"
In `JsonNumber.SetFormattedValue`:

[code]

unnecessarily allocates a `byte[]`. We can try and avoid that (and the solution depends on how perf critical this is).
- stackalloc the span for length < 256
- use array pool otherwise
- use the span-based overload of [Encoding.UTF8.GetBytes](https://apisof.net/catalog/System.Text.Encoding.GetBytes(ReadOnlySpan%3CChar%3E,Span%3CByte%3E)) on .NET Core (an

[2019-08-01 18:10] buyaa-n commented on #39904
XCode 11 is what i have installed (Command_Line_Tools_for_Xcode_11_Beta_4)

The test failure i mentioned above happened after building on 10.15 and running all tests, i just tried to run individual test as you did but its failing with even more test failures, i might need to clean and rebuild again

[2019-08-01 18:18] dtivel commented on #37994
We've hit this issue in several NuGet CI test runs.

[2019-08-01 18:39] stevenbrix commented on #39816
@rladuca said he found a workaround: https://github.com/dotnet/wpf/issues/1363#issuecomment-515550672

[2019-08-01 18:59] ericstj opened #39959 "Enable SDL tool runs in our official builds"
Follow steps outlined here: https://github.com/dotnet/arcade/blob/master/Documentation/HowToAddSDLRunToPipeline.md

Work with @sunandabalu for feedback / issues on the process.

We should do this first in master and see what it finds then decide what needs to be ported to 3.0.

@Anipik this might be something you can pick up that's more urgent than the 5.0 versioning work.
@safern this could colli

[2019-08-01 18:59] OmidID commented on #39948
Yea, this is what I already did in my code. I created this issue because I wasn't sure the assembly location should be the execution file or extracted one.

[2019-08-01 19:04] Anipik commented on #39959
Thanks @ericstj I will take a look and start on this.

[2019-08-01 19:04] krwq commented on #39904
In the past we had to review MD5/SHA1 usages as part of security sign off so I think per case might be better since it will be obvious to see this was intentional and not accidental.

[2019-08-01 19:07] krwq commented on #14041
@jormenjanssen also for CAN you must also enable it on the device before usage externally (i.e. you must set speed etc) - you can use https://github.com/dotnet/iot/blob/master/src/devices/SocketCan/README.md to see what is exactly needed.

[2019-08-01 19:24] safern commented on #39959
@Anipik let’s sync after lunch as this might collide with the refactor I’m doing.

[2019-08-01 19:25] Anipik commented on #39959
Sure

[2019-08-01 19:52] ericstj commented on #39918
Looks to be built upon the Windows Location COM API https://docs.microsoft.com/en-us/windows/win32/locationapi/windows-location-api-portal.  Looks like this API is deprecated and not even supported on many Windows SKUs.  This issue and https://github.com/dotnet/corefx/issues/23393 appear to be duplicates.

[2019-08-01 20:10] safern commented on #39918
Closing in favor of: #23393

[2019-08-01 20:10] #39918 closed

[2019-08-01 20:11] safern commented on #23393
Per @ericstj:

_Looks to be built upon the Windows Location COM API https://docs.microsoft.com/en-us/windows/win32/locationapi/windows-location-api-portal. Looks like this API is deprecated and not even supported on many Windows SKUs._

Which might be a blocker/limitation to do this work.

[2019-08-01 20:22] safern commented on #39959
Spoke with @Anipik offline and this comes as part of the `post-build.yml` stuff and then we should enable it through a parameter. In order for to solve: https://github.com/dotnet/corefx/issues/39802 -- I'm bringing that template to the build, so I will take this over as it is just adding an extra parameter to what I'm doing.

[2019-08-01 20:44] pranavkm opened #39961 "Consider supporting byte arrays in JsonValueConverterByteArray"
Consider:

[code]

Deserializing this as a byte[] currently fails since the `byte[]` converter expects a base-64 encoded string:

[code]

While reading, the converter could be modified to support an actual array type:

[code]

[2019-08-01 20:48] pranavkm commented on #39961
/cc @JamesNK @ahsonkhan @steveharter

[2019-08-01 20:51] JamesNK commented on #39961
👍

Json.NET supports deserializing both formats. `byte[]` is still always written as base64.

[2019-08-01 20:55] davidsh commented on #39887
Fixed in master branch for .NET Core 5.0 with PR #39933

[2019-08-01 20:55] davidsh commented on #39887
Re-opening for release/3.0 fix.

[2019-08-01 20:58] bartonjs commented on #39930
Ugh, I thought I fixed it to Interlocked.Exchange with null.

[2019-08-01 21:01] stephentoub opened #39962 "Unused locals across corefx"
Experimenting with various analyzers, I used SonarAnalyzers.CSharp to highlight all unused locals.

In #39956, I fixed some, but there remain a bunch across the repo.  We could consider enabling the rule permanently, but there's enough noise that we may not want to.  Even so, it'd probably be worth reviewing the remaining failures to ensure nothing important has slipped through.

#### D:\repos\cor

[2019-08-01 21:03] ericstj commented on #23393
@danmosemsft do you see any problem with putting this  up on ReferenceSource as a first step?

[2019-08-01 21:19] ahsonkhan commented on #39961
The current approach is intentional:
https://github.com/dotnet/corefx/blob/6b21afcb486552ab6cc25e1f198de11502b6d8b6/src/System.Text.Json/tests/Serialization/Array.ReadTests.cs#L77-L78

In general, the S.T.Json stack has tried to be rigid with very little type coercion or inference (particularly on deserialization), at least by default. Like most customization, I believe this problem could be resol

[2019-08-01 21:27] khellang commented on #39948
Well, you did ask for the location of the assembly containing `Program`, which is the extracted assembly. If you want the executing assembly, you might want to use on of the static `Assembly` methods.

[2019-08-01 21:32] Sin333 opened #39964 "Optimization RegexRunner.cs"
Hi I'm creating pull request please look him.
I find duplicate operatons.
https://github.com/dotnet/corefx/pull/39965

[2019-08-01 21:32] JamesNK commented on #39961
Deserializing a JSON array of numbers into a byte array is perfectly normal. Just like deserializing a JSON of numbers into an Int32 array is normal. Accepting both base64 string and JSON array is very easy.

If people want to **output** a JSON array for byte[] then at that point you should tell them to write a custom converter.

[2019-08-01 21:33] pranavkm commented on #39961
In browser land, byte arrays are represented as `Uint8Array`. Here's what you get if you try to stringify it:

[code]

Producing a base64 encoded string from `Uint8Array` is a tricky since it require polyfills: https://stackoverflow.com/a/12713326. It'll just be much more convenient to support the array structure (the second one) out of the box.

[2019-08-01 21:33] bartonjs commented on #39961
My feelings here are the same with NumericString vs number: Having the deserialize support both by default makes it harder for someone to understand why the format of data changes between deserialize and serialize (which is mainly a problem for interior nodes, like App -> FE, FE -> BE, when part of the data is processed/inserted/replaced by the FE and part is passed "as-is").

Similar to NumericSt

[2019-08-01 21:52] stephentoub commented on #34666
Again here:
https://helix.dot.net/api/2019-06-17/jobs/7bba480c-c69f-451e-82a8-6e837811c2b6/workitems/System.Threading.Tests/console

[2019-08-01 21:59] stephentoub opened #39966 "Http2_DataSentBeforeServerPreface_ProtocolError failed in CI"
https://helix.dot.net/api/2019-06-17/jobs/12b2aa31-b7e0-4d12-b78d-35c3f4789b86/workitems/System.Net.Http.Functional.Tests/console
[code]

[2019-08-01 22:04] Sin333 commented on #39964
I closed pull request. I will try to help you next time.

[2019-08-01 22:04] #39964 closed

[2019-08-01 22:20] wfurt commented on #39904
I was on XCode 10.3. I installed 11, did clean rebuild and I can still pass all tests.

[2019-08-01 22:23] geoffkizer opened #39967 "HPACK: DynamicTable Resize doesn't handle circular scenarios"
DynamicTable uses a circular buffer, but it's Resize API doesn't account for that. When Resize copies the underlying buffer it can end up inserting that new blank space in the middle of the circular buffer, throwing off the indexes.

We currently disable DynamicTable usage via SETTINGS at startup, so this does not affect us currently. If we ever choose to enable DynamicTable usage, we will need to

[2019-08-01 22:30] geoffkizer commented on #39955
HPACK is the easiest and highest-value code to share. We had agreed to try to do this a long time ago, but we never really got off the ground with it. If we want to get serious about this (and I do think would be good), then we need to actually put together a plan here and work toward it.

As far as other code we could share:
(1) There's a small amount of frame parsing code that could in theory be

[2019-08-01 22:31] geoffkizer commented on #39955
For the future, i.e. HTTP3 and QUIC, we should look at how to share other code as well, particularly QPACK, which is the HTTP3 version of HPACK.

[2019-08-01 22:41] sywhang commented on #39431
@johnduhart - @josalem is on vacation so I took over. https://github.com/dotnet/coreclr/pull/25844 was merged to master. It will take some time till it makes it to the daily build, but it would be nice if you could validate the fix :-)

[2019-08-01 22:47] buyaa-n commented on #39904
Hmm strange, did you tried with @BrennanConroy's repro and was that succcessful?

navigate to https://localhost:5001

[2019-08-01 22:59] wfurt commented on #39904
that one fails to import certificates for me. I did not take closer look as I was primarily trying to run tests.

[2019-08-01 23:03] wfurt commented on #34361
I have reasonable repro (on Ubuntu) . I'll take a look.

[2019-08-01 23:19] krwq commented on #39904
Here is what I'm seeing:

OS (today's update)

[code]

Server (`dotnet new mvc && dotnet run` on sdk version 3.0.100-preview7-012821)

[code]

Client

[code]

[2019-08-01 23:25] geoffkizer commented on #39966
There is an inherent race between (a) sending a request and (b) connection shutdown or abort. We try to deal with this by checking _disposed (which indicates client-initiated shutdown) and _lastStreamId (which indicates server-initiated shutdown) in a couple places in the SendHeadersAsync path. If we find that the connection has started shutting down, we throw.

In most cases, we throw a "retryabl

[2019-08-01 23:54] bartonjs opened #39970 "Pkcs12Info.Decode bytesConsumed could use better test coverage."
It looks, from code inspection, that the bytesConsumed value is always set to encodedBytes.Length, even if there were extraneous bytes at the end of the value (the correct answer appears to be maybeCopy.Length).

A test should be added which copies (e.g.) EmptyPfx into an oversized byte array, and the emitted length should only be EmptyPfx.Length, not bigger.Length.

(Found by accident during code

[2019-08-02 02:34] danmosemsft commented on #39962
Just curious does it affect the code gen?

[2019-08-02 02:59] #39656 closed

[2019-08-02 03:58] scalablecory commented on #39967
Dupe of #39656, and already fixed.

[2019-08-02 03:58] scalablecory commented on #39967
Misunderstood ticket, not a dupe.

[2019-08-02 05:08] Gnbrkm41 commented on #31597
any updates, just wondering? Sounds like a great API :smiley:

[2019-08-02 06:13] stephentoub commented on #39962
It depends. If it's just about an unused local, then no, it shouldn't. But some of the cases I fixed in my PR were, for example, initializing unused locals with allocations, or invoking properties or methods or delegates to initialize them. Those require more analysis to validate they can be removed safely (in some cases the side effects are important), but when they can be removed, obviously they

[2019-08-02 06:24] #39948 closed

[2019-08-02 07:14] alxbog commented on #37044
This issue is making big troubles for us in production apps.

We reviewed all HttpClient usages in our code and migrated to HttpClientFactory. But it still happens from time to time.

The interesting thing is that we're having 2 similar apps (they use HttpClient the same way) on Azure Kubernetes and GKE (Google's Kubernetes) and the issue only happens on Azure.

[2019-08-02 09:17] Joelius300 commented on #39905
## Workaround without adding redundant converters

For anyone who currently needs a workaround for this without adding all these additional converters, I might have a solution:

If you make the `ObjectEnumConverter` generic but use `where` to restrict to the type you want to convert, like so:

[code]

.. you have the possibility to declare the `JsonConverterAttribute` with the correct generic para

[2019-08-02 10:10] GSPP opened #39974 "Utf8JsonReader.BytesConsumed incorrect for input "2e2" in multi-segment mode"
When parsing "2e2", `BytesConsumed` seems to be smaller by 1 than it should be. The number itself is being parsed correctly. `"[2e2]"` also is being parsed correctly and again, `BytesConsumed` is incorrect.

Single-segment mode is correct.

Another interesting case to test is `2e+2`.

    static class ReproProgram
    {
        public static void Run()
        {
            IEnumerable<Memory<byte

[2019-08-02 10:32] GSPP commented on #39974
If you compare the parsing of `0{` in single-segment mode with parsing in multi-segment mode `BytesConsumed` is different again. Here, the JSON is invalid and an exception is thrown (which is correct).

Are you interested in fixing error cases as well? If yes I can report them, too.

[2019-08-02 10:47] roederja2 opened #39975 ""System.Management currently is only supported for Windows desktop applications." message when package is indirectly imported"
I have two netcorapp3.0 projects (with preview 7). One is my application, the other is my NUnit test project. The application project depends on the System.Management nuget package. In the test project there are tests that exercise the code that uses System.Management. If the test project does not also directly reference the System.Management nuget package I get an exception in the constructor of

[2019-08-02 11:27] am11 commented on #39961
I am having a similar issue when de-serializing to byte array with elements in `0:100` range. I am not sure if it is related, as the same code works with <code><strong>s</strong>byte[]</code>, `ushort[]` and `short`.

Repro:

[code]
<sub>(downloaded from: https://dotnetcli.azureedge.net/dotnet/Sdk/release/3.0.1xx/dotnet-sdk-latest-win-x64.zip)</sub>

`dotnet new console -n gh-39961` and `type gh-3

[2019-08-02 11:46] george-chakhidze commented on #36842
`Environment.UserInteractive` always returns `true` in .NET Core. Maybe, while at it, you could properly implement this API as well?

[2019-08-02 12:11] paralaxsd opened #39977 "Third party code may remove cancel keypress handler"
Hi,
I have an issue with the way the `Console.CancelKeyPress` event is implemented:

In my scenario I'm running a vanilla ASP.Net Core 2.2 web application. The web application internally adds a ctrl-c handler and gracefully shuts down the application when ctrl-c is pressed.

Now I had to add some logic to the application that's run in a Java VM via [JNI](https://en.wikipedia.org/wiki/Java_Native_I

[2019-08-02 12:22] khellang commented on #39961
I don't think it's hard to understand that reading can support multiple formats, which writing has to pick a specific one. IMO, it makes sense to follow Postel's law in this case.

[2019-08-02 12:45] johnkellyoxford commented on #33006
This would be really useful, when you have spans not backed by an array. It also seems a very easy implementation, and would match the span overloads being added to so many other APIs. I'd be happy to write it if it gets approved

[2019-08-02 13:32] eiriktsarpalis commented on #38911
The issues were Kestrel related. Was able to make errors go away by stress testing the client on linux against a http.sys server. Reproduced the issues with linux client against windows kestrel too. Found similar issues in OSX.

I will follow-up with more concrete issues in the aspnet repo once I have isolated the problems.

[2019-08-02 13:57] sakno commented on #16209
I've implemented prototype of such method as a part of my library so the code can be reused. Source code is [here](https://github.com/sakno/dotNext/blob/4373fa50d0fd1ccf34d2786a88ae1c05e4523e82/src/DotNext/ValueType.cs#L268) and the public method is [here](https://github.com/sakno/dotNext/blob/4373fa50d0fd1ccf34d2786a88ae1c05e4523e82/src/DotNext/ValueType.cs#L320).
I did that according with the fo

[2019-08-02 14:14] pmgriffin commented on #31336
Close one issue referencing another and then close the referenced issue as a dupe ?  :)

[2019-08-02 15:43] MarcoRossignoli commented on #39852
@fubar-coder do you want to have the thread user or the logged-in user?
Because `UserPrincipal.Current` per guide returns `the current user under which the thread is running.` in your/my case is app pool identity that in IIS is a virtual account https://docs.microsoft.com/en-us/iis/manage/configuring-security/application-pool-identities
***It's true that in case the app pool user is not a domain u

[2019-08-02 15:43] joshlang commented on #39930
Ditto here:

https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/Common/src/System/Text/ValueUtf8Converter.cs
(in dispose)

https://github.com/dotnet/corefx/blob/94c5f1384c9b6477d164050de964cf6dcf99b2a9/src/System.Text.Json/src/System/Text/Json/Serialization/PooledByteBufferWriter.cs
(in dispose, but also CheckAndResizeBuffer)

https://github.com/dotnet/corefx/blob/c

[2019-08-02 15:50] bartonjs commented on #39961
As a concept? No, it's not hard to understand.  But my principle is this: If a decision has to be made, err on the side of the problem easier to discover.

If Serialize(Deserialize(payload)) changed an array to base64 the downstream receiver (particularly if it's a different framework) will likely just report the data is invalid, with no specific notion of what went wrong.  So now you're searching

[2019-08-02 15:55] bartonjs commented on #39930
Many of the additional ones listed are safe by usage: there's provably only one thread touching the object at a time. (JsonDocument.MetadataDb trim/enlarge, AsnWriter, the chain processor WorkingChain structure, etc)

[2019-08-02 15:58] joshlang commented on #39930
Forever?

[2019-08-02 16:03] Symbai opened #39980 "Accessing a resource file when SelfContained = true throws a System.MissingMethodException"
Accessing a resource file throws a `System.MissingMethodException: Constructor on type 'System.Byte[]' not found.` exception but only when published as selfcontained. It happens on a WPF project and a Winforms project. Console I couldn't test as it says : `Non-string resources require the System.Resources.Extensions assembly at runtime, but it was not found in this project's references.` and i hav

[2019-08-02 16:07] anurse commented on #38911
Excellent. It will be useful to have information about how a customer could encounter these issues since that justification will be necessary to determine if fixes land in 3.0 or 5.0.

[2019-08-02 16:38] wfurt commented on #37044
2.2 port is waiting for verification @alxbog.  We need to get enough evidence that #38499 fixes it or we need separate repro for 2.2. Until then it is unlikely we get permission for 2.x changes.

[2019-08-02 16:42] wfurt commented on #39904
I also got asp.net case working. What was missing for me was `dotnet dev-certs https --trust` that creates certificates and imports them top Keychain. As we talk offline with @krwq yesterday, some of it depends on history. In my case I had fresh system and keys were missing.

[2019-08-02 16:47] Gnbrkm41 commented on #39697
Attempting to grab 1026.

[2019-08-02 16:56] davidwallis3101 commented on #35147
been doing various amounts of digging, all seem to refer back to it could be an underlying issue in linux kernels and not related to this implementation.

https://bugzilla.kernel.org/show_bug.cgi?id=197109

[2019-08-02 17:14] buyaa-n commented on #39904
After upgrade i still seeing test failures, could any of you ssh into your machines and run the test? I heard last year some tests were failing only with ssh access

[2019-08-02 17:38] rladuca commented on #39816
@stevenbrix This isn't really a broad workaround.  While it may be fine in instances where the developer is directly controlling the opening of a Package, they could be using libraries that are doing Package manipulation underneath that they may not be able to influence.

The seekability in these modes is going to have to be a documented breaking change from 4.8 for sure, but valid requests to ope

[2019-08-02 18:33] CodArs-van opened #39982 "Bitmap metadata value from PropertyTagOrientation mismatches between Linux and Windows"
## Development Environment:

.Net Core: 2.2.401
System.Drawing.Common: 4.5.1

## Operating System

Windows: 10
Linux: Ubuntu 18.04

Sample Code:
[code]

## Input Data
![ac00390089a62cdf2ac947208653f4a0e5bdf819996e82e3f8f9c5436e679c54](https://user-images.githubusercontent.com/25216338/62391193-025d7580-b519-11e9-90e8-c96f20156503.jpg)

## Repro Steps:
1. Build & Run the application with the attach

[2019-08-02 18:43] stevenbrix commented on #39816
Sorry if I sent any wrong vibes, I want to be clear that I'm not advocating we don't fix this bug. As @ericstj mentioned earlier, the call to `SetLength` isn't necessary here. I just wanted to make sure it was documented on this issue that there is a workaround.

I totally agree, and it would be really nice if there was some sort of matrix that helped us understand what combination of requests are

[2019-08-02 18:52] rladuca commented on #39816
I agree we should have this documented and not just at the Packaging level.  WPF should provide this matrix for its own entry points that plumb down here as well.  We don't want people hunting for implementation details just to find out how to use the API.

[2019-08-02 19:34] krwq commented on #39904
FYI: I'm also seeing all System.Net.Security tests passing on Catalina

[2019-08-02 19:42] krwq commented on #39924
@buyaa-n all of those tests are passing for me on Catalina. I suspect this is the same issue you got here: https://github.com/dotnet/corefx/issues/39904 and this is very likely related to your setup in some way

[2019-08-02 20:00] BrennanConroy commented on #39904
I also did that before posting the issue and it didn't help.

[2019-08-02 20:01] CodArs-van opened #39983 "Bitmap Clone throws away all metadata on Linux"
## Development Environment

.Net Core: 2.2.401
System.Imaging.Common: 4.5.1

## Operating System
Windows: 10
Linux: Ubuntu 18.04

## Sample Code
[code]

## Repro Steps:
1. Build & Run on Linux with a Bitmap having metadata
2. On Linux, prints "Length: 0"
3. On Windows, prints non zero

[2019-08-02 20:10] ahsonkhan commented on #39974
@GSPP - thanks for the detailed report and validating with interesting test cases. I'll look into why some of these discrepancies exist. I am super interested in seeing what your additional testing effort uncovers :)

Also, cc @layomia

[2019-08-02 20:17] krwq commented on #39931
@JoeRobich XML parsers are allowed to normalize line endings. Did you try to use XDocument.Load with XmlTextReader? XmlTextReader has some extra options which handle line endings and whitespaces slightly more user friendly than other readers

[2019-08-02 20:26] ahsonkhan commented on #39961
Yes, this is the same issue, and intentional. We had opt'd to make the default representation for byte[] be base64 encoded string instead as that was the more common use case/expectation. For instance, serializing a byte[] produces a base-64 string (which can then be deserialized back to a byte[]).

Here were the feasible options:
1) Treat byte[] as Base64 and read/write just that format, by defau

[2019-08-02 20:29] pockets3407 commented on #33179
@bartonjs @JustArchi where to I put CLR_OPENSSL_VERSION_OVERRIDE=1.1 in order to get it to work?

[2019-08-02 20:30] JoeRobich commented on #39931
@krwq I guess my expectation was that line endings were whitespace and they would be preserved. I think one issue with round tripping them is that when `XDocument.Save` is invoked it creates a new `XmlWriterSettings` which defaults `_newLineChars` to `Environment.NewLine`.

[2019-08-02 20:32] wfurt commented on #39904
your error was different @BrennanConroy . In my case it even did not start.
[code]

I have one machine where generation fails:
[code]

I'm not sure at this point if it would make sense for you to delete old certificate from KeyChain and try it again.

I assume you run this either from GUI or interactive shell? e.g. this is not background process, right?

[2019-08-02 20:33] JustArchi commented on #33179
@pockets3407 See the wiki entry for my program, as it applies to the whole OS - https://github.com/JustArchiNET/ArchiSteamFarm/wiki/Compatibility#debian-buster-upgrade

[2019-08-02 20:36] bartonjs commented on #33179
@pockets3407 It's an environment variable.  For bash you can set it for your command shell

[code]

Or you can apply it to one process invocation:

[code]

Or you can set it (and export it) via ~/.bashrc, ~/.bash_profile, /etc/profile, et cetera.

[2019-08-02 20:36] krwq commented on #39931
@JoeRobich my first try would be to use XmlTextReader/Writer to Load/Save (+ settings right options there) - if that doesn't work you can only force line endings to specifc (but not preserve) using XmlWriterSettings:
https://docs.microsoft.com/en-us/dotnet/api/system.xml.xmlwritersettings.newlinechars?view=netcore-3.0

[2019-08-02 20:41] BrennanConroy commented on #39904
I ran it from the terminal directly on the machine.

[2019-08-02 20:47] wfurt commented on #39904
as far for me:
[code]

and than everything works as expected:
[code]

[2019-08-02 20:47] pockets3407 commented on #33179
@bartonjs I entered that in and it said "Cannot get required symbol CRYPTO_add_lock from libsll." I tried look

[2019-08-02 21:22] danmosemsft commented on #39983
I think this has to be a bug in libgdiplus, as it's Unix specific and our code in Bitmap.Clone does very little.
Can you please close this and reopen in https://github.com/mono/libgdiplus ?

[2019-08-02 21:29] CodArs-van commented on #39983
Can you point me to the source code where libgdiplus is called?

I don't think I should be the one closing this bug, if after investigation you found this is not your bug but some downstream library issue, someone from corefx team should create a bug in libgdiplus, link it here, and close the bug.

[2019-08-02 21:46] buyaa-n commented on #39904
The System.Net.Security tests passed after upgrade and build, run with new repo. Thank you @wfurt @krwq

[2019-08-02 22:16] krwq commented on #39924
@buyaa-n is this passing for you after the local fixes? if yes I think we should close the issue (also please paste the resolution here for reference if someone hits this as well)

[2019-08-02 22:24] buyaa-n commented on #39924
@krwq this project test is not failing anymore. But System.Security.Cryptography.Xml.Tests is still failing could you try run that test? Thank you!

[2019-08-02 22:33] buyaa-n commented on #39924
Only one failure found:
[code]

[2019-08-02 22:33] krwq commented on #39924
@buyaa-n is there a seperate issue for that?

[2019-08-02 22:35] buyaa-n commented on #39924
No issue yet

[2019-08-02 22:35] krwq commented on #39924
Please create a separate issue so that we don't mix it -  this test is passing on my Catalina

[2019-08-02 22:37] krwq commented on #39924
I'm closing this one since it works for you now. Please paste instructions on what fixed this for you

[2019-08-02 22:37] #39924 closed

[2019-08-02 22:37] buyaa-n commented on #39924
ok, maybe i need to run the test individually again. Closing this one then, will open new one if needed

[2019-08-02 22:38] krwq commented on #39924
@buyaa-n if you are seeing different results for running in bulk vs running individually please file issue on that as this might be a product issue

[2019-08-02 23:06] geoffkizer commented on #39586
@karelz I'm waiting for approval from @stephentoub; if you want me to merge without that I can do so.

[2019-08-02 23:11] davidsh commented on #39586
The release/3.0 branch is locked until at least Monday/Tuesday next week.  So, if you need @stephentoub to review changes on that PR then that's fine.

[2019-08-02 23:31] ivdiazsa opened #39987 "Use GetPathOfFileAbove where appropriate"
Following up from CoreCLR's repo Issue 20582, there are certain places in the source code where GetPathOfFileAbove usage is preferred to the more verbose GetDirectoryNameOfFileAbove. The following example illustrates both calls:

Change:
- `"$([MSBuild]::GetDirectoryNameOfFileAbove($(MSBuildThisFileDirectory), dir.props))\dir.props"`

To:
- `"$([MSBuild]::GetPathOfFileAbove(dir.props))"`

The seco

[2019-08-02 23:32] ivdiazsa commented on #39987
Adding @danmosemsft and @safern for updates.

[2019-08-02 23:37] buyaa-n opened #39988 "Mac Catalina compatibility: System.Security.Cryptography.X509Certificates.Tests crashing"
System.Security.Cryptography.X509Certificates.Tests are crashing without producing result
[code]

[2019-08-02 23:49] buyaa-n opened #39989 "Mac Catalina: SetDelegate_ConnectionSucceeds test fails with Tls1.0 and PlatformHttpHandler"
System.Net.Http.Functional.Tests failing:
[code]

[2019-08-02 23:52] buyaa-n commented on #39989
Full test result: https://gist.github.com/buyaa-n/1dfd8f10a17221207b0c3e592a4feba6

[2019-08-02 23:53] danmosemsft commented on #39987
If it's functionally the same, and it works where we need it to, it should  be fine.

[2019-08-03 00:04] bartonjs commented on #39988
The string `UnparseableExtension` isn't known to the mapper (https://github.com/dotnet/corefx/blob/249b5122a33ea08d2d00581ed691642c18ce1448/src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.c#L158-L195).

Might be worth expanding https://github.com/dotnet/corefx/blob/d7631df16a92da0e21bcb64240d5007f0dab95ed/src/System.Security.Cryptography.X509Certificates/tests/DynamicChainT

[2019-08-03 00:09] bartonjs commented on #39970
Added a test which pads garbage (0xA5 / 0b1010_0101) at the end for a variety of sizes, and it was right.

Upon re-inspection the input parameter is reassigned to the correct slice before maybe making a copy.

Not a 3.0 bug, but could use better tests to show this works as intended (aka finishing the work I'm doing right now).

[2019-08-03 00:28] CodArs-van commented on #39982
Looks like this might not be a bug
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/types/how-to-convert-a-byte-array-to-an-int
I'll double check this works and close if needed.

[2019-08-03 01:00] CodArs-van commented on #39982
Just double checked, this is by design, BitConverter.IsLittleEndian should be used to do check prior.

[2019-08-03 01:00] #39982 closed

[2019-08-03 02:04] ahsonkhan commented on #39957
I don't think this link works (at least not for me).

[2019-08-03 05:33] Horusiath commented on #15687
My 2 cents - if you're thinking about new scheduler API, could you take into consideration exposing something like thread affinity. This would help tremendously when building multithreaded stateful logic, eg:

It would be great to be able to tell scheduler "all executions of this piece of code should be run on the same CPU, I don't you to do work stealing here".

There are several reasons for that

[2019-08-03 06:09] davidfowl commented on #15687
That requirement doesn’t gel with my idea of an abstraction. It sounds extremely implementation specific. Can you suggest what that API would look like and what the suggested implementations would do?

[2019-08-03 06:17] krwq commented on #39988
repros for me as well

[2019-08-03 07:38] Horusiath commented on #15687
Unless you want to fully abstract existence of thread from the .NET API, I don't think it's really that implementation specific. We know that thread pool operates on threads. We know that careful CPU allignment can have practical implications on the systems performance and even behavior (*I'm not talking only about predictable sequentiality of operations but also full system linearizability useful

[2019-08-03 08:27] gfoidl commented on #39983
https://github.com/dotnet/corefx/blob/954b1fdab8e98060cce3d0d88a34c3b0587a6acb/src/System.Drawing.Common/src/System/Drawing/Bitmap.cs#L319

Unfortunately in _libgdiplus_ clone is rather broken / has several points to address. See for example https://github.com/mono/libgdiplus/issues/541. So clone would need a good refresh, to cover all / common scenarios (but I'm not capable to do this).

[2019-08-03 09:16] GSPP commented on #39974
OK, please let me know when a new nightly is out with fixes. I have paused my efforts because the logs are currently not legible.

[2019-08-03 09:36] SamuelDebruyn commented on #24004
Something like this:

[code]

Signature of `_disabledProperties`: `internal Dictionary<string, List<Expression<Func<object>>>> _disabledProperties;`

[2019-08-03 12:38] benaadams opened #39994 "API Proposal: TaskScheduler.Queue(Action, object)"
To support not creating an additional Task when the scheduler implements the method
[code]
A place this that could be used is in [ManualResetValueTaskSourceCore](https://github.com/dotnet/corefx/blob/8a958aa3d1cf2e91f6e9cf839e023ad4f8d489f2/src/Common/src/CoreLib/System/Threading/Tasks/Sources/ManualResetValueTaskSourceCore.cs#L185)
[code]
Where it could instead call
[code]

/cc @ReubenBond @steph

[2019-08-03 13:50] tebeco opened #39998 "API Proposal: Channel.QueueSize"
### Context
We are trying to add Monitoring/Healthchecks on the number of elements enqueued into the `Channel` internal queue
A simple read only access to the `Count` is fine in order to avoid affecting `hot path` (`Read/Write` operations).

The idea is to access it as a `Counter` / `Gauge`, a "one shot read" so that these metrics can be used/pushed to Monitoring in order to see how a system behav

[2019-08-03 14:28] ericwj commented on #38354
I am not using `JsonSerializer` in a web-scenario and it is really unsuitable that I get JSON which is littered with `\u00df" and the like.

I understand the situation with certain escape characters and their possible security implications if left unescaped, but I don't understand why normal letters are escaped. Suppose you are Russian, Chinese, Japanese (I tried only the first of these) and you a

[2019-08-03 16:38] aliveli186 opened #39999 "Why PipeWriter doesn't have synchronous Flush?"
System.IO.Pipelines

[2019-08-03 16:39] nitinag opened #40000 "Uri.CheckHostName does not check/limit total dns name length"
**Uri.CheckHostName** (and "**new Uri(string uriString)**", other possible areas) does not check/limit the total length of the dns name to **253** as required by the RFC. It does limit each label to 63 characters as expected/required.

The total dns name size limit is 255 octets per the RFC, but since in dns, the first label length byte does not represent a dot and the ending 0 length null byte is

[2019-08-03 18:22] karelz commented on #39634
This bug was fixed in 3.0 in PR #39646

[2019-08-03 18:55] karelz commented on #39630
Fixed in master (5.0) in PR #39638 and also in release/3.0 branch (3.0) in PR #39775.

[2019-08-03 18:55] karelz commented on #39624
Fixed in master (5.0) in PR #39638 and also in release/3.0 branch (3.0) in PR #39775.

[2019-08-03 18:55] karelz commented on #39586
Fixed in master (5.0) in PR #39638 and also in release/3.0 branch (3.0) in PR #39775.

[2019-08-03 18:56] karelz commented on #39461
Fixed in master (5.0) in PR #39638 and also in release/3.0 branch (3.0) in PR #39775.

[2019-08-03 18:56] karelz commented on #39460
Fixed in master (5.0) in PR #39638 and also in release/3.0 branch (3.0) in PR #39775.

[2019-08-03 18:56] karelz commented on #39459
Fixed in master (5.0) in PR #39638 and also in release/3.0 branch (3.0) in PR #39775.

[2019-08-03 18:56] karelz commented on #39404
Fixed in master (5.0) in PR #39638 and also in release/3.0 branch (3.0) in PR #39775.

[2019-08-03 19:21] karelz commented on #39819
Waiting on merge of #39874 to make it into 3.0. Reopening.

[2019-08-03 19:23] karelz commented on #39586
@geoffkizer it seems that PR #39638 (in release/3.0 branch PR #39775) didn't really fix this issue.
I will update their text to mention it as "incomplete fix for".
Please let me know if it is wrong. Thanks!

[2019-08-03 19:26] karelz commented on #39586
The bug was fixed in master (5.0) in PR #39834.
Port to release/3.0 is pending in PR #39874.

[2019-08-03 19:29] tarekgh commented on #39998
CC @stephentoub

[2019-08-03 19:37] karelz commented on #39458
Fixed in master (5.0) in PR #39638 and also in release/3.0 branch (3.0) in PR #39775.

[2019-08-03 19:37] geoffkizer commented on #39586
@karelz There were multiple issues here -- two in HttpClient, one in GRPC.

#39638 fixed the first issue and enabled discovering the other issues.
#39882 is the PR to fix the second HttpClient issue.

[2019-08-03 19:38] geoffkizer commented on #39586
Perhaps we should have an issue specifically for the send HttpClient issue (re RST_STREAM with NO_ERROR). That makes for a better historical record here of what was actually fixed.

[2019-08-03 19:44] karelz commented on #39586
Yes, we should have filed separate issues. Let's call it incomplete fix at this moment as this issue tracks technically multiple bugs ...

[2019-08-03 20:13] tebeco commented on #39998
It would be amazing if it lands in `3.1` to be honest ^^ as we are waiting for `3.0` to use `signalr` / `Azure Signalr Service`
but i have not idea if and how it affect `netstandard`

[2019-08-03 20:17] danmosemsft commented on #39980
@ericstj is this ours?

[2019-08-03 20:20] fubar-coder commented on #39852
Thank you for the information. A better error message would be helpful, I guess.

[2019-08-03 20:21] karelz commented on #39542
@joperezr do we need similar change in master?

[2019-08-03 20:26] zelyony commented on #36563
Point of this issue is NOT to use GetString() for JsonTokenType.String that is really decimal or long.

[2019-08-03 20:33] karelz commented on #39067
It was fixed in master (3.0 at that moment) in PR #39541.

@markvincze if you see a problem on latest master or release/3.0 builds, please file a new bug.

[2019-08-03 20:34] karelz commented on #39081
Fixed in master (5.0) in PR #39751 and in release/3.0 in PR #39784.

[2019-08-03 20:35] karelz commented on #39178
It was fixed in master (3.0) before last integration into release/3.0 branch.

[2019-08-03 20:38] karelz commented on #39410
Fixed in master (3.0) in PR #39550 before final integration into release/3.0 branch.

[2019-08-03 20:39] markvincze commented on #39067
Hi @karelz,

Thanks for the info!
Do you happen to know if there is an easy way for me to check if a specific Nuget release (for example 4.6.0-preview7.19362.9) already contains a certain PR or not? (For example can I check the commit based on which that package was released?

[2019-08-03 20:40] karelz commented on #39509
Fixed in master (3.0) in PR #39535 before last integration to release/3.0 branch.

[2019-08-03 20:41] karelz commented on #39511
Fixed in master (3.0) in PR #39520 before final integration into release/3.0 branch.

[2019-08-03 20:45] karelz commented on #39652
Fixed in master (5.0) in PR #39653 and also in release/3.0 branch (3.0) in PR #39667.

[2019-08-03 20:47] karelz commented on #39691
This issue was fixed only in master (5.0) - fixing milestone to 5.0.
@lmolkova @stephentoub can you please confirm it is sufficient and we do not need it / want it in 3.0? Thanks!

[2019-08-03 20:47] mholo65 commented on #39067
@markvincze the releases are tagged. By looking at the src in preview7 tag I can see that this fix isn’t available in preview7. See https://github.com/dotnet/corefx/commits/v3.0.0-preview7.19362.9/src/System.Text.Json/src

[2019-08-03 20:50] markvincze commented on #39067
@mholo65 clear, thanks! I'll look out for the next preview and will test it there.

[2019-08-03 20:51] karelz commented on #39741
Fixed in master (5.0) in PR #39790 and also in release/3.0 branch (3.0) in PR #39812.

[2019-08-03 20:54] karelz commented on #39856
Fixed in master (5.0) in PR #39857 and also in release/3.0 branch (3.0) in PR #39867.

[2019-08-03 20:54] mholo65 commented on #39067
@markvincze if you don’t want to wait for another preview, you can try out the nightly builds as explained here https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2019-08-03 20:58] karelz commented on #37378
Duplicate of https://github.com/dotnet/coreclr/issues/25810

[2019-08-03 21:02] karelz commented on #37997
So, we kept the issue in 3.0 milestone, but the PR went only into master (5.0). Reopening.
Do we need to port it into release/3.0, or is 5.0-only fix ok?

[2019-08-03 21:04] karelz commented on #38444
Fixed in master (5.0) in PR #39579 and also in release/3.0 branch (3.0) in PR #39820.

[2019-08-03 21:09] karelz commented on #37044
If someone is willing to try a private build with the fix ported to 2.2/2.1, that would help us prove it is worth porting.
If you are that person let us know and we can provide privates with the change ported ...

[2019-08-03 21:18] karelz commented on #39873
Reopening for tracking the fix in 3.0 - @scalablecory please work with @davidsh on business justification in the template (for smooth process). Thanks!

[2019-08-03 21:22] stephentoub commented on #37997
No. If it doesn't get into 3.0, it needs to be reverted from master. It's a breaking change.

@danmosemsft, this is the kind of thing I was mentioning.

[2019-08-03 22:24] karelz commented on #39904
Can we close the issue then as "not a problem anymore"? Or is there a reason to keep it open?

[2019-08-03 22:42] davidwallis3101 commented on #35147
Ok, so based on digging around on those links I decided to try a cable with the FTDI232RL chipset - and this works a lot better! So ultimately I think this is not related to this code base rather a limitation of the available drivers for the underlying OS.

So if someone stumbles on this post, I've tried using the following USB to DB9 adapters:

Unsuccessful when on linux or docker (aspnet:3.0-bus

[2019-08-03 23:14] bartonjs commented on #39904
As far as I know, we build on one version of macOS (usually the oldest supported) as a single distribution for all versions of macOS.

If we need to build on 10.15 in order for 10.15 to work, we have a release (management/distribution) problem.

We need to understand why the prebuilts from 3.0 preview 7 aren't working.

[2019-08-04 00:13] danmosemsft commented on #37997
Despite reading all this carefully I'm missing something.
 `new SocketAddress((AddressFamily)12345).ToString();` succeeds on 2.2. So if we want to break it, it doesn't have to break in 3.0. It could be in 5.0. Right?

[2019-08-04 00:17] stephentoub commented on #37997
@danmosemsft, while true, there are new named enum values in the range that should fail but don't. It doesn't require you to cast arbitrary values.

[2019-08-04 00:49] danmosemsft commented on #37997
ah, of course. Well, I'm willing to take it to tactics if there's a PR + template on Tuesday. I could see it getting rejected at this point though.

[2019-08-04 09:06] manigandham commented on #36563
@zelyony

Yea, it can be better. Here's updated code to use the [same Utf8Parser code](https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.cs#L607):

[code]

[2019-08-04 09:29] giorgiozoppi commented on #39851
I am asking for a library. Sorry for the misleading title. We have just a lot of features in this language. For example this library could be useful as well in TPL.DataFlow and since it will be lazy, In Haskell  some monads classes are in the  “Standard Prelude". It will be nice to have System.Functional.Monad namespaces that it will might include:
- Either
- MayBe (or a stronger variant of NullOp

[2019-08-04 10:17] playboyistanbul opened #40004 "AtOmXpLuS.CoM"
Everything in AtOmXpLuS.CoM

[2019-08-04 10:25] plemanach commented on #36401
I can reproduce it on a simple console on ubuntu

`class Program
    {
        static void Main(string[] args)
        {
             Console.WriteLine(Dns.GetHostAddressesAsync("nonexistenthost").Result);
        }
    }`

`Unhandled Exception: System.AggregateException: One or more errors occurred. (No such device or address) ---> System.Net.Internals.SocketExceptionFactory+ExtendedSocketExcepti

[2019-08-04 11:27] garfbradaz commented on #39851
I still dont know what a Monad is 😅

[2019-08-04 11:41] vcsjones commented on #39114
This was fixed by #39938.

[2019-08-04 11:41] #39114 closed

[2019-08-04 13:05] playboyistanbul opened #40009 "ssl.popup.html.https://ftp.atomxplus.com/"

[2019-08-04 14:33] GSPP commented on #39909
It would promote standards even more if any deviation would be disallowed by default. There could be a boolean setting to allow lenient parsing. I'd estimate that 95% of servers that a typical .NET developer wants to talk to over HTTP are strictly conforming these days. In fact, I wonder what non-conforming servers are still out there...

[2019-08-04 15:34] Gnbrkm41 commented on #39564
If you have any designs in mind, could you update the top post with what the proposed APIs would look like / how commonly used it is / etc? Here's what I think is a good example: https://github.com/dotnet/corefx/issues/28933#issue-312415055. This should help people better understand the problem/importance of this issue, and may come up with improvements.

[2019-08-04 15:37] GSPP commented on #39837
`Utf8JsonWriter.Flush` flushes the underlying stream. I think this behavior should be decoupled from flushing the buffers of `Utf8JsonWriter`. I might want to flush the writer but not the stream.

For example, `FileStream.Flush` calls into the kernel which is not necessarily desired.

Maybe add a parameter:

    void Flush(bool flushStream = false)

[2019-08-04 16:59] stephentoub commented on #39837
Please open a separate issue. It's distinct from this one.

[2019-08-04 17:35] GSPP opened #40011 "Utf8JsonWriter.Flush should flush the underlying stream only optionally"
`Utf8JsonWriter.Flush` flushes the underlying stream. I think this behavior should be decoupled from flushing the buffers of `Utf8JsonWriter`. I might want to flush the writer but not the stream.

For example, `FileStream.Flush` calls into the kernel which is not necessarily desired. Network-based streams (not `NetworkStream` itself) might cause packets to be sent prematurely. Compression streams

[2019-08-04 17:35] GSPP commented on #39837
Right, I opened https://github.com/dotnet/corefx/issues/40011.

[2019-08-04 18:30] sakno commented on #25034
I'm voting for Write Ahead Log as a part of .NET because I have [implementation](https://sakno.github.io/dotNext/features/cluster/aspnetcore.html) of Raft Consensus Algorithm for ASP.NET Core which requires to have persistent replication log. At this moment the log is represented by interface and its actual implementation is delegated to the consumer.

[2019-08-04 20:08] danmosemsft commented on #25034
@davidfowl what are thoughts from ASPNET perspective

[2019-08-04 20:11] danmosemsft commented on #39114
Thanks @vcsjones. Did you spot any  other issues specific to Catalina? We are testing it currently.

[2019-08-04 20:28] vcsjones commented on #39114
@danmosemsft

Nothing so far that there isn't an existing issue for it.

I do see that the PR I linked to is for 5.0. I assume these will be ported to 2.1 at a later time and will auto flow in to 2.2 and 3.0 branches?

[2019-08-04 20:37] nguerrera opened #40012 "Cannot build VB .NET Core 3 library project without ContextValue"
# Repro steps

1. Get latest 3.0 preview 8 build of the SDK: https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/3.0.100-preview8/dotnet-sdk-latest-win-x64.exe
2. `mkdir repro`
3. `cd repro`
4. `dotnet new classlib --language VB --framework netcoreapp3.0`
5. `dotnet build`

# Expected result

Builds successfully

# Actual result
[code]

I believe this is coming from https://github.com/dotne

[2019-08-04 20:46] nguerrera commented on #31181
The lack of ContextValue is currently causing all VB class libraries to fail to build, now that we no longer use VBRuntime=Embed in the build.

See https://github.com/dotnet/corefx/issues/40012

[2019-08-04 22:09] mklement0 opened #40013 "DirectoryInfo.MoveTo and Directory.Move mistakenly prevent renaming directories to case variations of themselves on Windows, macOS"
The default filesystems on macOS and Windows are case-_insensitive_, yet case-_preserving_.

Therefore, renaming a filesystem item to a _case variation_ of its current name - e.g., `foo` to `FOO` - should be supported.

* This  _is_ properly supported for _files_.

* It is _not_ supported for _directories_, due to an explicit, conceptually flawed check that tests the new path for being the same _c

[2019-08-04 22:46] danmosemsft commented on #40013
Thanks for the report. The code does check case insensitively if a file written to temp can be retrieved case insensitively:
https://github.com/dotnet/corefx/blob/6d86975666ecd2e2b4f5ab808dcfeff94fd18789/src/System.IO.FileSystem/src/System/IO/Directory.cs#L277-L278
https://github.com/dotnet/corefx/blob/6d86975666ecd2e2b4f5ab808dcfeff94fd18789/src/Common/src/System/IO/PathInternal.CaseSensitivity.c

[2019-08-04 23:02] mklement0 commented on #40013
@danmosemsft: Yes, there is a bug:

On a case-_preserving_ filesystem, I should be able to rename my `foo` directory to `FOO`, for instance.

Deferring to the OS seems like a good idea (`cmd.exe`'s `ren` command works as intended, for instance, as does macOS' `/bin/mv`).

(Whether a static, _process-global_ check for case-sensitivity based on a _single_ location is sufficient, is a separate matter

[2019-08-04 23:06] danmosemsft commented on #40013
Oh - yes of course, even when working correctly, it prevents making a casing change on insensitive volume.

@jeremykuhne perhaps we should remove this?

[2019-08-04 23:51] ehouarn-perret commented on #1973
I'm surprised too that this is not provided out of the box.

[2019-08-05 03:16] timandy opened #40014 "Optimize Enumerable.SkipLast()"
Enumerable.SkipLast() can be cast to Enumerable.Take().
Enumerable.TakeLast() did the similar operation.

https://github.com/dotnet/corefx/blob/6d86975666ecd2e2b4f5ab808dcfeff94fd18789/src/System.Linq/src/System/Linq/Skip.cs#L116-L129
https://github.com/dotnet/corefx/blob/6d86975666ecd2e2b4f5ab808dcfeff94fd18789/src/System.Linq/src/System/Linq/Take.SpeedOpt.cs#L17-L45

What about this code?

SizeO

[2019-08-05 03:48] scalablecory commented on #31942
I would prefer a generalized "proxy key lookup" support on `Dictionary`/etc. than specializing it for strings.

[2019-08-05 05:38] dominicle8 opened #40015 "AesGcm NonceSize Restriction"
Currently, the AesGcm class only supports encryption and decryption with a nonce size of 12 bytes:
https://github.com/dotnet/corefx/blob/6d86975666ecd2e2b4f5ab808dcfeff94fd18789/src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/AesGcm.cs#L11

I understand that section 5.2.1.1 of the NIST Special Publication 800-38D suggests that a 12 byte nonce is used, stating "For IVs,

[2019-08-05 08:04] vishwas-trivedi opened #40016 "Problem with inheriting DelegatingHandler."
Hello,

_Sorry but I didn't know where and whom to ask about this?_

I'm trying to implement HTTPClient's request retry using DelegatingHandler but I also want to set HttpCompletionOption.

My code looks like following :
[code]
As you can see there is no option to set HttpCompletionOption by inheriting DelegatingHandler, I tried creating CustomDelegatinghandler but in that case I'm unable to use n

[2019-08-05 08:23] pinkfloydx33 commented on #40013
In Windows10 it is possible to toggle the case sensitivity of a directory. So it seems the static check isn't really sufficient

[2019-08-05 08:37] timandy commented on #40014
I run some benchmark test.
[code]
[code]
|      Method | COUNT |        Mean |      Error |    StdDev |      Median | Ratio | RatioSD |  Gen 0 | Gen 1 | Gen 2 | Allocated |
|------------ |------ |------------:|-----------:|----------:|------------:|------:|--------:|-------:|------:|------:|----------:|
|    **SkipLast** |    **10** |    **116.4 ns** |   **3.831 ns** |  **10.61 ns** |    **113.0 n

[2019-08-05 08:52] khellang commented on #39564
## API Proposal

[code]

## Behavior Proposal

I propose the same behavior as Newtonsoft.Json, just like the existing camel case behavior. The implementation is [here](https://github.com/JamesNK/Newtonsoft.Json/blob/7b8c3b0ed0380cf76d66894e81bf4d4d5b0bd796/Src/Newtonsoft.Json/Utilities/StringUtils.cs#L200-L276) and the tests are [here](https://github.com/JamesNK/Newtonsoft.Json/blob/7b8c3b0ed0380c

[2019-08-05 09:03] hez2010 commented on #39564
@khellang I took your proposal contents to the top post, thanks!

[2019-08-05 09:08] meanshe opened #40017 "building trouble: restoring packages failed"
Hi there,

I'm trying to build corefx managed libraries,but stuck in restoring packages. can anybody help?

=========================================================================

root@vinpc:~/Desktop/git/dotnet/corefx-3.0.0-preview6.19303.8# **./build.sh /p:BuildNative=false**
  Restore completed in 19.74 ms for /home/vincent/.nuget/packages/microsoft.dotnet.arcade.sdk/1.0.0-beta.19280.2/tools

[2019-08-05 09:42] Timovzl commented on #36505
IL emit also has the advantage of letting us write to readonly fields, something I have not been able to achieve with expressions or, if memory serves, with reflection.

In case anyone trips on the idea, note that, while writing to readonly fields may seem questionable at first glance, it actually makes perfect sense during deserialization. After all, deserialization is an alternate way to constru

[2019-08-05 10:10] namse opened #40018 "Dispose System.IO.Pipelines Pipe"
I think Pipe use ArrayPool.Shared for default before set pool at PipeOptions.

How can I dispose Pipe which use default PipeOptions? Complete doesn't return rented memory from ArrayPool, isn' it?

[2019-08-05 10:31] weitzhandler commented on #24246
Related: https://github.com/reactiveui/splat/pull/370#discussion_r310537660

[2019-08-05 11:28] hughbe commented on #38916
Boff, can't seem to repro! Thanks for your help

[2019-08-05 11:28] #38916 closed

[2019-08-05 11:39] JarnoNijboer commented on #39851
If you want Functional types, maybe you could use the `FSharp.Core` package?

[2019-08-05 12:09] eiriktsarpalis opened #40022 "HTTP2: Hanging requests when multiplexing with cancellations on Windows"
I'm seeing a condition in which http2 requests hang indefinitely when multiplexed with cancelled requests. The issues occurs on Windows but I haven't been able to reproduce in Ubuntu or OSX.

## Reproduction Steps

Install the nightly build (off master):
[code]
Run the http stress suite from [this branch](https://github.com/eiriktsarpalis/corefx/tree/c51d5e3d8ea7cb911af41d5a278b5818090546a1/src/Sy

[2019-08-05 13:09] davidsh commented on #40022
@geoffkizer @stephentoub

[2019-08-05 13:12] stephentoub commented on #40016
HttpCompletionOption is implemented entirely at the HttpClient level, with HttpClient layering that functionality on to of handlers. Handlers always implement the equivalent of ResponseHeadersRead, and then if the caller passed ResponseContentRead, HttpClient handles implementing that functionality by buffering the response stream returned by the handler.

[2019-08-05 13:16] arlm commented on #4491
I tried it on a Sigil branch of mine ( https://github.com/arlm/Sigil-vNext ) nad could not make it work because it does not install on .NET Standard, only on .NET Core solutions.

[2019-08-05 13:16] stephentoub commented on #40022
That should make debugging this easier. Set it to a very high number, wait until all of the rest of the requests have completed, attach a debugger, and see what request is outstanding, where it's stuck, and why.

[2019-08-05 14:00] vcsjones commented on #40015
I think one barrier to additional nonce sizes is that Windows' CNG implementation does not support a nonce size other than 96-bits. So 12 octets is the only allowed value that will work on all platforms.

Now that Windows' GCM default implementation is open source (:tada:), we can double check that, and indeed it only allows a 96-bit nonce:

https://github.com/microsoft/SymCrypt/blob/d74a6ec659043

[2019-08-05 14:08] vcsjones commented on #40015
Out of curiosity, do you have a use case for a nonce size other than 96-bits? I have never seen AES-GCM practically used with a different nonce size. Personally, I don't see much value in a nonce size other than 96-bits. Either way you end up with a 128-bit pre-counter, but using 96-bit nonce avoids a call to GHASH.

[2019-08-05 14:14] Der-Kraken commented on #25128
Hello,

I tried many things in order to translate common validation messages and finnaly I got a good solution (which is working in Dot.Net Core 2.2 and 3).
I want to share my solution. Addittionally I want that any one check my code if I broke any internals or doing bad things by mistake.

I forked the official ASPNetCore **Movie project** and added my solution on branch **[localize-dataannotatio

[2019-08-05 14:40] dbarwikowski commented on #29391
It's not working in .net framework 4.6.1

[2019-08-05 14:46] josundt opened #40026 "Make JsonStringEnumConverter non-sealed"
In our API, we serialize most enums to strings (no case conversion), but for **flag enums** we keep the numeric value.

In my opinion, string enums make APIs more self-explanatory, but for flag enums it will prevent bitwise flag enum operations.

With NewtonSoft.Json, we accomplished the descibed serialization behavior this by creating our own converter that inherited from NewtonSoft's `StringEnum

[2019-08-05 14:55] geoffkizer commented on #40022
Since you're running on 3.0, it's possible this is related to #39834 which hasn't made it to 3.0 yet.

If we are hitting #39834, that could cause the server to decide to terminate the connection, which could possibly lead to hangs like this if we have some issue in our connection shutdown handling. (Or possibly the server is doing something weird when this happens, but that seems less likely since

[2019-08-05 15:07] dominicle8 commented on #40015
I agree, I don't see much value in not using a 96-bit nonce, but my use case would be for backwards compatibility after porting a .NET framework application (where a nonce that wasn't 96-bits was used) to .NET core to be run on a linux machine. Moreover, in my situation, it may not be feasible to decrypt all ciphertexts and re-encrypt them with a 96-bit nonce. Considering openssl and openssl fips

[2019-08-05 15:14] SebHonorine opened #40027 "IAsyncQueryProvider what is expected in TResult IAsyncQueryProvider.ExecuteAsyn"
Hello there,
As I created on stack overflow :
https://stackoverflow.com/questions/57314896/iasyncqueryprovider-mock-issue-when-migrated-to-net-core-3-adding-tresult-iasyn

I have no idea what is expected in this part of the code :
`        TResult IAsyncQueryProvider.ExecuteAsync<TResult>(Expression expression, CancellationToken cancellationToken)
        {
}`

My unit testing is still broken sinc

[2019-08-05 15:24] geoffkizer commented on #40022
Actually, it looks like you are running off master, not 3.0, right?

What's different about the stress code in your branch that causes this to happen? I.e. why haven't we seen this before?

[2019-08-05 15:25] vcsjones commented on #40015
The .NET Framework doesn't support AES-GCM at all let alone non-96-bit nonces, so whatever you are using for .NET Framework, I assume a 3rd party library, with AES-GCM today I suppose you could continue to use in .NET Core.

[2019-08-05 15:39] eiriktsarpalis commented on #40022
Correct.

[2019-08-05 16:13] geoffkizer commented on #39966
Reopen for 3.0

[2019-08-05 16:24] dominicle8 commented on #40015
Unfortunately, the FIPS compliant version of the library we are currently using for AES-GCM does not support .NET core. We were hoping to use the Openssl fips module through System.Security.Cryptography.

[2019-08-05 16:30] danmosemsft opened #40029 "Use gated checkin to protect trimming wins by linking representative apps and measuring size on disk"
We want to make CoreFX more trimmable (so customers can trim their apps, and also so that Xamarin can use more of it on devices) and we want to protect any size improvements we make this way.

The idea is to in gated checkin -
1. Pull down down some representative apps in binary form (perhaps from corefx-testdata repo) along with presumably any SDK they require (such as latest ASP.NET implementati

[2019-08-05 16:31] ericstj commented on #39787
@nguerrera if we can exclude the desktop assets entirely we should.  There is not a good way to build these that doesn't imply forking code that's only meant to exist in 2.1 servicing.

[2019-08-05 16:32] davidsh commented on #39887
Fixed in release/3.0 with PR #39981.  Fix will be available in .NET Core 3.0 Preview 8.

[2019-08-05 16:32] #39887 closed

[2019-08-05 16:36] bartonjs commented on #40015
OS specific differences are harder to test, and harder for users to depend on.  I think it would take a major standard using GCM with something other than a 96-bit nonce for us to move off of the current position of consistency.

Until we have a strong need to do otherwise.  GCM is one of cryptography's finest foot-guns and nonce sizes other than 96 bits just make the trigger a bit more sensitive.

[2019-08-05 16:37] stephentoub commented on #40029
This also means we could slowly regress and not realize it.  We need another mechanism as well.

[2019-08-05 16:38] krwq commented on #40015
If underlying implementation has a way to allow smaller nonces and there is a legitimate use case we **might** consider adding a flag for legacy code which will be off by default but that would be considered only after [API proposal & review](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/adding-api-guidelines.md) and strong use case.

[2019-08-05 16:42] davidsh commented on #40016
Closing as by-design.

[2019-08-05 16:42] #40016 closed

[2019-08-05 16:44] geoffkizer opened #40030 "HTTP2: _expect100ContinueWaiter should use TaskCreationOptions.RunContinuationsAsynchronously"
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs#L119

It's using TaskContinuationOptions.RunContinuationsAsynchronously, which is incorrect.

[2019-08-05 16:45] tarekgh commented on #40027
@SebHonorine this should be moved to https://github.com/aspnet/EntityFrameworkCore?

[2019-08-05 16:46] stephentoub commented on #40030
Grrrr.

[2019-08-05 16:47] tarekgh commented on #40027
CC @stephentoub

[2019-08-05 16:47] buyaa-n opened #40031 "Refactor/upgrade deprecated code usage for Mac OSX 10.15 Crypthography"
With new version of MAC OS Catalina many crypthography related methods deprecated. For now related warnings are suppresed with https://github.com/dotnet/corefx/pull/39938 which need further investigion and upgrade/renewal

[2019-08-05 16:48] geoffkizer commented on #40030
Found because I added a bunch of Debug.Assert(!Monitor.IsEntered(SyncObject)) checks as you suggested on my PR.

[2019-08-05 16:48] ericstj commented on #39906
@safern fixed this here: https://github.com/dotnet/corefx/pull/39734, https://github.com/dotnet/corefx/pull/39734/commits/8e0ffa8cf23c284d5e3331503fae3852b0b71d09

[2019-08-05 16:52] stephentoub commented on #40027
Yes

[2019-08-05 17:12] buyaa-n opened #40032 "System.Runtime.Serialization.Json.Tests failing from non breaking space on Mac Catalina"
System.Runtime.Serialization.Json.Tests failing from non breaking space didn't match with regular space on Mac Catalina
[code]

[2019-08-05 17:13] SeeminglyScience commented on #25036
The bug was ours, as part of our workarounds we were setting `termios` attributes ourselves.  In some circumstances they weren't getting set back properly so native sub-processes would unexpectedly be using our settings.  The "fix" was the change in how corefx changes those attributes, eliminating the need for our implementation.

Yeah, that's the "fix" I'm referring to above.

**TL;DR**: Events t

[2019-08-05 17:14] ericstj commented on #39793
We should handle this as follows:
1. Build a small set of packages only during source build.
2. Set BuildPackageLibraryReferences=false so that we do not attempt to build more project configurations than source build already builds (since those configurations would require more prebuilts).
2. Set AllowPartialPackages=true so that we omit anything that wasn't built.
3. (potentially) Include more co

[2019-08-05 17:32] ReubenBond commented on #39994
Other perf-sensitive areas where this API may be beneficial:

* `System.Threading.Channels`, eg: [`AsyncOperation.OnCompleted(Action<object>, object, short, ValueTaskSourceOnCompletedFlags)`](https://github.com/dotnet/corefx/blob/4e7d0c32d9cedc9d1436c3d71eec8ac96ed0064d/src/System.Threading.Channels/src/System/Threading/Channels/AsyncOperation.cs#L297) & [`AsyncOperation.SignalCompletion()`](https

[2019-08-05 17:34] stephentoub commented on #39994
All of this assumes the TaskScheduler isn't going to allocate in order to store the arbitrary action/state pair.  I expect there are relatively few TaskScheduler implementations where that's the case.  Even the default TaskScheduler needs to allocate for that case (we explored using a queue of struct-based tuples instead in order to handle this possibility, but it made most operations slower).

[2019-08-05 17:39] stephentoub commented on #39994
Exception-related behavior is also an issue here.  The semantics of exceptions with tasks is clear.  It's much less clear with QueueTask as highlighted.   Presumably the implementation can't just be what's written above, as an arbitrary Action that throws is going to have its exception eaten.  Which then suggests that the base implementation as shown above is actually going to need to be more comp

[2019-08-05 17:50] SebHonorine commented on #40027
Since i don't have rights to those repository u should close and open this tread there I guess ?

[2019-08-05 17:50] buyaa-n opened #40034 "Compatability: System.IO.FileSystem.Watcher.Tests failing on new Mac OSX 10.15"
One test failing from System.IO.FileSystem.Watcher.Tests on Mac Catalina:
[code]

[2019-08-05 18:06] ReubenBond commented on #39994
Regarding the exception case, I imagine we could follow similar semantics to ThreadPool.QueueUserWorkItem (i.e, bubble up to a global handler)

I see your point, and any internal representation would have to go through much of the work which Task already implements (though presumably without the bits required to store a result or exception or signal completion).

Maybe https://github.com/dotnet/co

[2019-08-05 18:08] stephentoub commented on #39994
Right.  Can you write out how the base TaskScheduler.QueueAction does that?  How does it do so without allocating?

[2019-08-05 18:14] geoffkizer commented on #39586
reopen for 3.0

[2019-08-05 18:15] geoffkizer commented on #40030
reopen for 3.0

[2019-08-05 18:19] buyaa-n opened #40037 "Compatibility: System.IO.MemoryMappedFiles.Tests failing with new Mac OSX 10.15"
4 tests failing with new Mac OS Catalina from System.IO.MemoryMappedFiles.Tests. Its happening with or without running as sudo. Failure similar to https://github.com/dotnet/corefx/issues/34718 but that one was for docker
[code]
Full test result: https://gist.github.com/buyaa-n/6cf58377ccde90703728de02e3e2ddef#file-system-io-memorymappedfiles-tests-result-xml-L415
cc @wfurt @safern

[2019-08-05 18:20] ericstj commented on #39980
@rainersigwald it looks like this may be a bug in GenerateResource.  ResX contains
[code]

GenerateResource is treating this as an Activator resource and adding it via AddActivatorResource.
https://github.com/microsoft/msbuild/blob/d31fdbf016616835b237d2846f3f1535560bb2d5/src/Tasks/ResourceHandling/FileStreamResource.cs#L44

Here's the relevant desktop code: https://referencesource.microsoft.com/#

[2019-08-05 18:21] ReubenBond commented on #39994
The base `TaskScheduler` wouldn't avoid allocations, it would behave similarly to `Task.Factory.StartNew`. The purpose of the proposal is to allow custom implementations to avoid work. For example, in our case, if we could set the current TaskScheduler (so that it's not `TaskScheduler.Default` during the invocation) then we can likely inline the call.

In the common case (where the ActivationTaskS

[2019-08-05 18:24] stephentoub commented on #39994
My point is, to take advantage of this API, call sites like those you mention would need to switch to use them.  And unless the TaskScheduler overrode the method to be more efficient, the base implementaiton would actually end up being *worse* than the costs incurred today.

For example, it couldn't just be implemented as:
[code]
To deal with exceptions, it would need to be something more like:
[c

[2019-08-05 18:27] ericstj commented on #39980
Closing as this has been moved to MSBuild

[2019-08-05 18:27] #39980 closed

[2019-08-05 18:35] ReubenBond commented on #39994
The current call sites (eg, ManualResetValueTaskSource) schedule using `Task.Factory.StartNew(action, state, ...)` without observing the resulting Task, presumably relying on `TaskScheduler.UnobservedTaskException` for the cases where `action(state)` throws. Implementations which inlined would need to come up with another way to bubble up the unhandled exception. Having a mechanism on `TaskSchedul

[2019-08-05 18:37] stephentoub commented on #39994
No, they rely on the fact that they're all used in contexts of async/await Action callbacks that should never throw (if they do, there's a much more fundamental bug).

[2019-08-05 18:49] rossbuggins commented on #38523
You guys might be able to point me to if my issue with quick code for this is HttpClient or MVC related? https://github.com/aspnet/AspNetCore/issues/12883#issuecomment-518353206

[2019-08-05 18:57] TylerLeonhardt commented on #25036
@SeeminglyScience thanks for responding - I must have missed the notification from @tmds's response. Sorry for the delay. @SeeminglyScience explained it perfectly.

[2019-08-05 19:24] ahsonkhan commented on #40026
cc @steveharter, @JeremyKuhne

[2019-08-05 19:27] tarekgh commented on #40027
I'll move it.

[2019-08-05 19:27] ReubenBond commented on #39994
I see - thanks for clearing up my misunderstanding. Perhaps an API explicitly intended for the callbacks case would be viable? Or possibly a `TryExecuteInline(Action<object>, object)` API?

I hope there's room to improve the custom TaskScheduler case and enable some of the kinds of optimizations which the TaskScheduler.Default case has.

[2019-08-05 19:50] tarekgh commented on #40027
This issue was moved to aspnet/EntityFrameworkCore#16962

[2019-08-05 19:50] #40027 closed

[2019-08-05 19:54] tarekgh commented on #39892
maybe creating a debugger dump can help as I don't think the issue has enough data to look at.

[2019-08-05 19:56] danmosemsft commented on #40034
Is this consistently failing on Catalina? Is it consistently passing on MOjave?

[2019-08-05 19:58] danmosemsft commented on #40029
An approach I've used on a previous team for an analogous code coverage gate was to hold an absolute requirement, and require adding code coverage elsewhere in the same PR if necessary. I doubt that is feasible in this case.

Do you have a suggestion?

[2019-08-05 20:01] benbhall opened #40039 "Availability of nullable attributes outside of Core 3.0"
First issue here be kind :)

Following on from https://github.com/dotnet/csharplang/blob/master/meetings/2019/LDM-2019-05-15.md, we now have a way to annotate our existing APIs for nullable reference types with https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/Diagnostics/CodeAnalysis/NullableAttributes.cs (mirrored from CoreLib sources).

It took some digging to figure ou

[2019-08-05 20:22] JeremyKuhne commented on #40013
I'm fine with allowing this. I think there may already be an issue on this actually- I'll try and see if I can find it. I'd rather not remove the failure case if the strings are ordinally equal.

It is a breaking change, so we'll have to document it as such.

Marking as up-for-grabs if anyone wants to take it on. We would want tests to validate that this works correctly with just a casing change.

[2019-08-05 20:22] buyaa-n commented on #40034
Constantly failing on Catalina for all branches. Run tests on Mojave only once and it didn't fail

[2019-08-05 20:27] JeremyKuhne commented on #39814
@krwq Is this a 3.0 issue?

[2019-08-05 20:33] JeremyKuhne commented on #40026
This was done for performance (and future implementation flexibility). We changed the APIs explicitly so you can compose it if you want to for this exact scenario. #39438 There is a specific example in the tests that shows you how to compose.

[2019-08-05 20:41] eiriktsarpalis commented on #40022
I seem to have fallen victim to local state. Hadn't disabled `DOTNET_MULTILEVEL_LOOKUP`, and was loading an older version of System.Net.Http as a result. Closing.

[2019-08-05 20:41] #40022 closed

[2019-08-05 20:51] mklement0 commented on #40013
Interesting, @pinkfloydx33; could you please create a separate issue for that, perhaps with more background information?

[2019-08-05 21:07] scalablecory commented on #40011
Can you give a more concrete sample of how you would use this? I'm having trouble imagining what I could do if I called `Flush(false)`.

Is the goal to avoid growing the `Utf8JsonWriter` buffer when writing to a `Stream`?

[2019-08-05 21:12] krwq commented on #39814
@JeremyKuhne considering the docs are updated and the plan was to add basic support I have mixed feelings (I vote to move this to 5.0 although I already bought and received hardware to test and fix this scenario)

[2019-08-05 21:16] danmosemsft commented on #40034
OK. I think this is a low priority to investigate as long as the other tests in this area pass.

cc @JeremyKuhne in case he thinks this is of 3.0 concern.

[2019-08-05 21:19] terrajobst commented on #40041
This is a request for a new API, which means it belongs into CoreFX.

[2019-08-05 21:34] wfurt commented on #40037
seems like local environment issue. I can pass test without problem on my system.
[code]

We could figure out with `dttuss` but on your system it is not possible because of security setting
[code]

You should work it out with infrastructure team to get that disabled so we can do OS tracing.

[2019-08-05 21:49] safern commented on #39987
This might not work based on: https://github.com/dotnet/coreclr/pull/25951#issuecomment-518413714

This is because in corefx we mostly do a recursive import of `Directory.Build.props` from within files with the same name, just to confirm if that limitation for `GetPathOfFileAbove` is by design or not.

[2019-08-05 21:56] ahsonkhan commented on #40026
Thanks @JeremyKuhne, since there is a viable workaround, marking this as future.

https://github.com/dotnet/corefx/blob/7d905389f94e52c284d985e7bf3158459b30bccb/src/System.Text.Json/tests/Serialization/EnumConverterTests.cs#L158-L167

[2019-08-05 22:14] ShawnSteele commented on #39177
I think this happens to be dependent on the order the user settings were changed in Windows.  If you select the new UI language and THEN select the new user locale, I believe it'll behave.

[2019-08-05 22:19] #39970 closed

[2019-08-05 22:19] joperezr commented on #39542
Nope we shouldn't need this in master. Every release we do a reset on the baseline versions all over the place, so in case it hasn't been fixed already it will happen soon for our setup for .NET 5.0.

[2019-08-05 22:22] MarcusWichelmann opened #40044 "Use new fanotify Linux API in FileSystemWatcher"
Currently the FileSystemWatcher implementation for Linux is based on the inotify kernel API which is very inefficient and has some strong limitations.
But there is this new kernel API called `fanotify` with some advantages like being able to watch large directory trees recursively.

Do you have any plans using this API in the `FileSystemWatcher` when it's available? For older kernels, a fallback t

[2019-08-05 22:25] ericstj commented on #40029
I'd imagine we'd have some threshold checked in that we could decide to update if we deemed it necessary.  We'd also want to fail if it shrunk too much, just to make sure we secure wins in size should we achieve them.  I can imagine that this would be hard to do in the separate repo system: we'd likely see large changes on CoreCLR ingestion.  There are ways to deal with that, but hopefully we'll h

[2019-08-05 22:42] josundt opened #40045 "JsonSerializer support for circular references"
Object/collection graphs containing circular references (or multiple references to the same entity), can be handled in a few different ways when serializing/deserializing to/from JSON.

Best practice is naturally to avoid graphs with circular references when using JSON serialization, but techniques to deal with it exist, and some times it may be needed. We use it a few places in our software.

New

[2019-08-05 22:46] #28140 closed

[2019-08-05 22:47] BAlbrich opened #40046 "Unable to generate XmlSerializer for netstandard libraries using Microsoft.XmlSerializer.Generator"
Steps:
1. Create a new netstandard 2.0 library.
2. Add assemblyref://Microsoft.XmlSerializer.Generator (2.1.0-preview7.19362.9)
3. Build.

Result:
1>Method 'System.Xml.Serialization.XmlSerializer.GenerateSerializer' was not found. This is likely because you are using an older version of the framework. Please update to .NET Core v2.1 or later.
1>Sgen utility failed to pregenerate serialization code

[2019-08-05 22:52] #39439 closed

[2019-08-05 22:58] buyaa-n commented on #39988
if add that new "UnparseableExtension" status to ignored case all tests passed

[2019-08-05 23:06] nguerrera commented on #39787
We can exclude them right at this moment, but I don't think it's necessarily sustainable. We would have to tell nuget that they can never use System.Memory/System.Text.Json. We can do it for 3.0, but I expect there will be pushback when dependencies of the things that need to build net4x are told they cannot use these packages.

[2019-08-05 23:08] nguerrera commented on #39787
Which desktop assets do you mean here? All net46 assets in my list? Only those needed by WindowsDesktop SDK. The latter is possible, but the risk is that something else than WindowsDesktop needs these or we support cross-compiling for WindowsDesktop.

[2019-08-05 23:09] krwq commented on #39988
@buyaa-n are you planning to send PR with that fix or is this something I should pick up? (unless it's already in the PR/merged)

[2019-08-05 23:18] buyaa-n commented on #39988
as @bartonjs mentioned ignoring the status might not enough, my effort was just to see test result if there is any other failure. If you have capacity to look into it please go ahead, you might find the mapping value for new code faster than me.

[2019-08-05 23:22] wfurt commented on #39904
I try this with current master build (3.0.0-preview8-28379-02) and it works as expected. @BrennanConroy never answer question about version of beta. It seems like updated fixed the system we had from infrastructure team.

We can possibly also do interactive debug on his system if that works.

[2019-08-05 23:32] ahsonkhan commented on #39837
Regarding (a), note that the semantics of `BytesPending`/`BytesCommitted` have to be different between IBW and Stream modes because of the underlying by-design differences in the contract of the two output sinks. I am not sure what the `Utf8JsonWriter` can do about those. Presumably, @stephentoub, you are OK with those differences (and it is only (a)/(b) together that was concerning).

[2019-08-05 23:40] ahsonkhan commented on #40045
Thanks for filing the issue, @josundt

However, this is a duplicate of https://github.com/dotnet/corefx/issues/38579.
It is on our backlog of features to support for vNext.

I have added your example there instead. Closing.

[2019-08-05 23:41] ahsonkhan commented on #38579
From @josundt (https://github.com/dotnet/corefx/issues/40045#issue-477089090):

[2019-08-05 23:41] #40045 closed

[2019-08-06 00:15] Pilchie opened #40048 "System.Management does not work with .net core 3.0 prev 7"
_From @HolyOne on Sunday, August 4, 2019 10:10:32 AM_

I have an existing class using System.Management code which works.

I created a .net core 3 web app (I run on visual studio with Administrator permisions)
I get marshal error when I try to connect WMI at the first line.

This is the line I call
`   DNS = new ManagementScope (@"\\localhost\root\MicrosoftDNS") ;`

This is the error I get
**Syste

[2019-08-06 00:15] Pilchie commented on #40048
_From @HolyOne on Monday, August 5, 2019 8:55:54 AM_

I just tried latest prerelease ( 4.6.0-preview7.19362.9) and it seems it passes this line

[2019-08-06 01:26] stephentoub commented on #39691
The test in release/3.0 is missing a [Theory] attribute, so it's not running at all, so there's nothing that need be done there to fix failures, since there aren't any.  We could choose to enable the test by adding [Theory] and then fixing it as was done here, but it's certainly not required.

[2019-08-06 01:43] fredericaltorres commented on #35505
Same problem here when I run my code on a 4 core Linux azure vm, one a 2 cores vm things seems ok

[2019-08-06 02:18] stephentoub commented on #40039
cc: @cartermp

[2019-08-06 02:23] stephentoub commented on #40044
We don't currently have any such plans.  We always welcome improvements, though.

[2019-08-06 02:25] stephentoub commented on #39949
Thank you for reporting, but I'm having trouble following the description.  Can you please share a standalone repro and share both the actual output and the expected output?  Also, what version are you using and what was the last version you were using where it worked successfully?

[2019-08-06 02:28] BAlbrich commented on #40046
Please disregard, I've installed a new VM with VS2019 on it and it builds as expected. So it's probably my own dev box configuration that's the issue.

[2019-08-06 02:28] #40046 closed

[2019-08-06 02:35] mklement0 commented on #40013
Glad to hear it, @JeremyKuhne.

Re:

Understood, but note that this means preserving the existing asymmetry between files and directories, given that ordinally equal _file_ names result in a quiet no op, on all platforms.

If you retain the behavior of failing with ordinally equal strings with directories, I would consider this a mere bug fix, but it is certainly worth documenting either way.

[2019-08-06 02:39] herrozerro opened #40050 "[System.Text.Json]: Recursive property in IEnumerable type results in stackoverflow"
Possibly related to #37313

[code]

Environment: 3.0.100-preview7-012821

Works with list, but IEnumerable breaks it.

[2019-08-06 04:03] JeremyKuhne commented on #40013
Yeah, and I don't like that. If there was any extra value beyond that and it wasn't breaking I'd be more inclined to do it. If someone wants to investigate how this change impacts PowerShell that data might help make this part of the decision clearer (i.e. do they do any validation before calling this method, particularly from their "move" commands)?

[2019-08-06 04:32] JamesNK opened #40051 "HTTP2: Flakyness when server doesn't completely read request"
I have created a repro for an error that sometimes shows up on the grpc-dotnet CI server.

Repro:
1. `git clone https://github.com/JamesNK/grpc-dotnet.git`
2. `git checkout jamesnk/stress-maxsize`
3. `dotnet test test\FunctionalTests --filter Name~ReceivedMessageExceedsSize_ThrowError`

Logic in the test is like:
1. Client makes a non-streaming call to the server and sends a large request body
2.

[2019-08-06 05:17] danmosemsft commented on #40048
@holyone yes this was fixed in an earlier preview. https://github.com/dotnet/corefx/issues/35694
It seems you are unblocked now and this issue can be closed is that right?

[2019-08-06 05:27] ahsonkhan commented on #40050
cc @steveharter, @layomia

[2019-08-06 07:43] alrz commented on #35892
I cannot find the same suggestion for task, e.g. `ITask<out T>` tasklike type, is there a tracking issue for that already?

[2019-08-06 08:17] GSPP commented on #40011
This is about performance. Please see the 2nd paragraph for concrete scenarios on how `Flush(true)` might hurt.

To flesh this out a bit: I might want to serialize many JSON documents into one stream. Possibly as part of a binary framing format. Then, I only want to flush the underlying stream once at the end and not after each JSON document.

[2019-08-06 08:36] josundt commented on #40026
Seems to be good enough for my requirements.
A limitation with the example above: Since the private `JsonStringEnumConverter` is static, it uses the default options that comes with the default constructor.
Would it be bad to make it non static and initialize like this instead?

[code]

[2019-08-06 08:55] Wraith2 opened #40052 "Build: individual project build failures"
Setup. On a clean up to date master I did `build -clean`, `build -allconfigurations` so everything Is clean and restored, no errors so baseline is good. From this point trying to build an individual project, example `build src\System.Data.SqlClient` or `src\System.Data.Common` (I have tried others, all the same) I get the error.

`E:\Programming\csharp7\corefx\.dotnet\sdk\3.0.100-preview7-012821\S

[2019-08-06 08:59] NetTecture commented on #39949
@stephentoub It is actually pretty simple.

Here is a repro:

        [TestMethod]
        public void UriTests () {

            var uri1 = new Uri("http://a.b.c/");
            Assert.AreEqual("http://a.b.c/", uri1.ToString());

            var uri2 = new Uri(uri1, "odata");
            Assert.AreEqual("http://a.b.c/odata", uri2.ToString());

            var uri3 = new Uri(uri2, "$metadata");

[2019-08-06 09:35] EuroEager2008 opened #40053 "COM Interop not working without dynamic keyword support"
I reported this via Visual Studio/Send Feedback, but perhaps that is wrong place so I repeat here:
The following code works fine with full framework, but with .net core 3 (preview 7) it throws a System.IndexOutOfRangeException:

Microsoft.Office.Interop.Excel.Application excelApp = new Excel.Application();
Microsoft.Office.Interop.Excel.Workbook workbook = excelApp.Workbooks.Open(excelPath);
Micro

[2019-08-06 09:36] EuroEager2008 commented on #40053
Added info:
The following code (using dynamic and thus late binding) works fine with full Fx, but throws an exception at the last line with core:
(All dependencies to execl has been removed first)
Type appType = Type.GetTypeFromProgID("Excel.Application");
dynamic excelApp = Activator.CreateInstance(appType);
dynamic workbook = excelApp.Workbooks.Open(excelPath);

Exception:
Microsoft.CSharp.Runti

[2019-08-06 09:50] HolyOne commented on #40048
Yes thank you

[2019-08-06 09:57] jkotas commented on #40053
cc @AaronRobinsonMSFT

[2019-08-06 10:42] JanEggers commented on #39998
@tebeco +1 from me I requested the same thing some years ago when channels have been located in corefx labs

so I guess this will not happen any time soon....

[2019-08-06 10:43] alexischr opened #40054 "macOS FileSystemWatcher sometimes throws ArgumentOutOfRangeException while processing events"
See https://github.com/mono/mono/issues/15575 for some more details and a stacktrace (note that the class namespace is renamed to `System.IO.CoreFX` under Mono)

It seems (we have not yet confirmed, but nothing else shows from the code) that in some events, `_fullDirectory` is longer than some of the paths returned in the event list used by `ProcessEvents()`, signifying a completely different root

[2019-08-06 10:46] JanEggers commented on #39998
https://github.com/dotnet/corefxlab/issues/1782

[2019-08-06 10:47] JanEggers commented on #39998
https://github.com/dotnet/corefx/issues/25162

[2019-08-06 11:09] MarcoRossignoli commented on #39949
I think it's by design Remarks section https://docs.microsoft.com/en-us/dotnet/api/system.uri.-ctor?view=netcore-2.2#System_Uri__ctor_System_Uri_System_String_
[code]
You need to add a slash at the end of  `odata/`

[2019-08-06 12:35] #40048 closed

[2019-08-06 13:10] tornie2 commented on #26223
@davidsh

I can see .net Standard 2.1 is released with Core 3.0

Are we so lucky that SocketsHttpHandler is now available for .net Standard?
Or will it remain .net core only?

[2019-08-06 13:12] stephentoub commented on #40052
cc: @ViktorHofer, @ericstj

[2019-08-06 14:51] adrianm64 commented on #37077
polymorphic `IReadOnlyDictionary` doesn't work for me.
Primitive works fine
Works in `Json.net`
[code]

[code]

Error message is

Seems to be multiple problems:
* Not detecting the object as a generic dictionary and calls non-generic `IEnumerable.GetEnumerator`
* Assuming `IEnumerable.GetEnumerator` returns an `IDictionaryEnumerator`
(might be a BCL convention)

[2019-08-06 15:09] nguerrera commented on #39793
These are getting flagged as prebuilt on dotnet/toolset and I think need to added as part of this

System.CodeDom
System.Security.Cryptography.ProtectedData

System.Text.Encoding.CodePages is also getting flagged, but I can remove that now that it is in shared framework.

[2019-08-06 15:13] BrennanConroy commented on #39904
I just upgraded and tried again. Same issue.

[code]

**Microsoft.NETCore.App**: 3.0.0-preivew8-28379-12

[2019-08-06 15:52] cartermp commented on #40039
Currently there will not be any nullable-aware APIs from CoreFX unless you are targeting `netcoreapp3.1`. We considered what it would mean to create a "nullable targeting pack" for `netstandard2.1`, but felt that it might be a bit too janky to jam that into NuGet alongside the .NET Core 3.0 release. Because we're not annotating APIs (only about ~20% done!) and existing annotations may be changed b

[2019-08-06 15:57] nguerrera commented on #39793
I might need a System.Text.Encoding.Extensions after all so that I can reference it with ExcludeAssets. It needs to be greater than all the versions referenced by components in the toolset that target netcoreapp2.1. It could be reference only, but I think it would be simpler to build it as part of this.

[2019-08-06 16:11] TheMATDude commented on #37612
The last version of MAT for VS 2017+ removed some of the barriers for managing .net core apps from within Visual Studio IDE.  True CLI support is in the backlog..

[2019-08-06 16:14] mthalman opened #40060 ""Invalid Typeref token" error in app's async method when PublishTrimmed option enabled"
Repro Steps:
1. `git clone https://github.com/dotnet/docker-tools.git`
1. `cd docker-tools`
1. `git checkout 0034133bf2214492c2949e7bd31bf22a85ab1856`
1. `echo [] > image-info.json`
1. `dotnet build Microsoft.DotNet.ImageBuilder\Microsoft.DotNet.ImageBuilder.sln`
1. `dotnet publish .\Microsoft.DotNet.ImageBuilder\src\Microsoft.DotNet.ImageBuilder.csproj -c Release -o out -r win7-x64`
1. `out\Micro

[2019-08-06 16:15] stephentoub commented on #39697
@Gnbrkm41, are you working on 1026?  I started to and then noticed your comment.  If you're actively working on it, I'll stop, otherwise I'll finish it up.

[2019-08-06 16:16] ericstj commented on #39787
I'd actually question the requirement on whether the source-built product needs to support desktop scenarios at all.  I don't think that's a reasonable requirement.  Regardless I've addressed the two packages you've called out above, but I think you might want to consider blocking that scenario as I can imagine it becomes hard to support at the limit.

[2019-08-06 16:17] danmosemsft commented on #40037
It is the tests requesting `mapAccess: ReadWriteExecute, viewAccess: ReadExecute` and `mapAccess: ReadWriteExecute, viewAccess: ReadWriteExecute`, and only those tests, that are failing. Looking at he results linked above, the mapAccess must have at least write+execute and the view access at least read+execute.

If the security feature is protecting against write + execute then  `mapAccess: ReadEx

[2019-08-06 16:18] Gnbrkm41 commented on #39697
@stephentoub, feel free finish up; there's still quite a lot left to finish, and I probably won't have time to finish it up for now. Thanks!

[2019-08-06 16:25] ericstj commented on #40052
These are all related to test restore.

@Wraith2 are you trying to build source projects or tests?  You mentioned source projects but then the errors list test projects.

Do you happen to have `DotNetBuildFromSource` set in your environment?  That would cause these errors.  Otherwise we'd probably need to look at some logs to understand what's going on.

[2019-08-06 16:26] danmosemsft commented on #40037
Oh! no doubt because the view access cannot go beyond the original access the mapped file was created with. So this feature requires a view accessor that can at least read and execute, over a mapped file that has at least read, write and execute (not having write on the map access would make no sense).

[2019-08-06 16:27] danmosemsft commented on #40034
@buyaa-n can you please put up a gist with the full results for this library, it might make it clearer what's special about this one.

Also you might re-run with the security setting that makes the memory mapped files tests pass. That would be interesting

[2019-08-06 16:30] ericstj commented on #39793
The fix for this will enable all packages to build as partial packages.  It's not particularly useful to cherry-pick package since we can use a general approach to build everything and not have to worry about getting all transitive dependencies.

[2019-08-06 16:30] nguerrera commented on #39787
It is not supporting "desktop scenarios". It is supporting using mono msbuild working with your .NET Core SDK. We can't just take that away from SDK because it was source built.

The only other alternatives to just building them I've seen.

1. load netcoreapp task dlls in a mono process, which people tried to hack and hit runtime errors, which is to be expected. I think this is a dead end.

2. Say

[2019-08-06 16:31] josundt opened #40062 "IgnoreDataMember"
**NewtonSoft.Json** is aware of certain attributes in the `System.Runtime.Serialization` namespace (`System.Runtime.Serialization.Primitives` assembly) like **`IgnoreDataMemberAttribute`**.

Properties with this attribute will not be serialized by NewtonSoft.Json.

Are you planning to support this with **`System.Text.Json.JsonSerializer`**, or is there a different approach I can use to annotate pr

[2019-08-06 16:32] nguerrera commented on #39787
VS 4 Mac can maybe get away with it longer than VS Code if we don't source build for Mac. But I think that supporting mono/netfx build in VS and VS 4 Mac, but not VS Code on Linux due to source build is not a coherent customer-driven story.

[2019-08-06 16:36] mklement0 commented on #40013
The file-item move functionality is in [`FileystemProvider.cs`](https://github.com/PowerShell/PowerShell/blob/3ca5a1bdb031eeb9453b1481bcfa23eee6d89aec/src/System.Management.Automation/namespaces/FileSystemProvider.cs#L5689).

The short of it is: Aside from preparatory path normalization and translating PS-drive-based paths into "native ones":

* moving _files_  delegates to `FileInfo.MoveTo()`
  *

[2019-08-06 16:38] AaronRobinsonMSFT commented on #40053
@EuroEager2008 Use of the `dynamic` keyword for COM interop is not presently supported in .NET Core - this is by design.

I will look into the issue regarding throwing `System.IndexOutOfRangeException` today.

[2019-08-06 16:41] davidsh commented on #26223
Or will it remain .net core only?

SocketsHttpHandler is only in .NET Core.  It is not part of .NETStandard.

[2019-08-06 16:42] ericstj commented on #39787
What if it was a sufficiently new Mono that had all the facades inbox and was NETStandard2.0 compatible?  What's missing?

[2019-08-06 16:44] ericstj commented on #33953
I just hit this on a CI build.  I also noticed an official build hit it today.

[2019-08-06 16:46] nguerrera commented on #39787
The tasks are multi-targeted netfx + netcoreapp, not netstandard.

Building netstandard msbuild tasks doesn't work because tasks have to carry their non-framework dependencies and we can't work those out without a concrete TFM.

Building against netcoreapp and running on mono is not supported, right? It could be that nothing is missing at any point in time, but it also does not prevent a task from

[2019-08-06 16:49] ericstj commented on #33953
Looks like it could be a casing issue: https://github.com/NuGet/Home/issues/7817

[2019-08-06 17:01] mthalman commented on #40060
Moved to https://github.com/mono/linker/issues/698

[2019-08-06 17:01] #40060 closed

[2019-08-06 17:09] ericstj commented on #39787
I suppose you're right.  I was thinking that mono codebase is technically satisfying all the Xamarin frameworks which can load .NETCore versioned assemblies.  Also anticipating some of the future mono changes that unify stuff so I'm imagining that these ought to be the same.  Perhaps that's more future perspective vs present.  It'd certainly be nice if Mono MSBuild could behave more like core MSBu

[2019-08-06 17:12] tebeco commented on #25162
As proposed in #39998
I'm wondering if the LTS of 3.1 could contains API that returns buffer level as proposed in this issue.

It can also be relevant for `Unbounded` as it give an indication on the Consumer "readiness" / blocked / too slow

i have no idea how a new api like `channel.QueueSize` impact `netstandard2.1`
since the 3.1 LTS is for `netcoreapp` i supposed the only change is for the runt

[2019-08-06 17:17] ViktorHofer commented on #40052
Test projects aren't being restored when specifying allconfigurations. That's the reason. We could probably add the restore target when building leaf projects from root. That should be easy to do.

[2019-08-06 17:19] buyaa-n commented on #39988
@krwq am gonna raise PR for ignoring the new status as temporary fix. But will leave this issue open for you to look at mapping that value to desired response code

[2019-08-06 17:19] Wraith2 commented on #40052
I'm trying to work on a specific source project but I know not to try and use outdated dependencies so when I update my master I always clean and rebuild. The full rebuild works but building a single src folder does not. It looks like Viktor knows the issue, would building a single target update the dependencies then? so `build -allconfigurations` followed by `build -c Release`?

[2019-08-06 17:20] danmosemsft commented on #33953
So we didn't pick up https://github.com/NuGet/NuGet.Client/pull/2734 yet?

[2019-08-06 17:20] #39769 closed

[2019-08-06 17:27] martincostello commented on #39769
I guess this fix missed the deadline for preview 8 and will be in preview 9?

[2019-08-06 17:27] benbhall commented on #40039
Thanks @cartermp this makes sense.

Just need the lovely @MadsTorgersen to confirm or elucidate the following now then :)

Because against that, it doesn't feel right being able to use nullable reference types outside of Core 3.0. Particularly weird given it's a little incomplete on the annotations front - I had hoped it was the one feature we'd see in 4.8 too.

[2019-08-06 17:28] JeremyKuhne commented on #40026
That would be fine.

[2019-08-06 17:39] ericstj commented on #33953
I don't see a difference in casing anywhere, but NuGet seems to "to-lower" everything they write, not sure if they to-lower to break themselves.  Would need to see this under the debugger to understand for sure what's going on.  Have a theory on how to repro it.

[2019-08-06 17:41] buyaa-n commented on #40037
Closding the issue as test succeeded after the security settings update. Thank you @wfurt

[2019-08-06 17:41] #40037 closed

[2019-08-06 17:48] ViktorHofer commented on #40052
To solve your specific issue you can either do a build -restore or wait for me to make a change in the build scripts

[2019-08-06 17:51] marek-safar commented on #40029
We have been using threshold approach when running this setup in Mono which works ok but has the disadvantage of grouping commits together because you don't know which one was most significant (e.g. 10 changes with 10 bytes or two changes with 500 bytes).

What is more painful is when you have a size regression you need to dig into the data but we have no tooling to visualize that. The size itself

[2019-08-06 17:55] ericstj commented on #33953
And to answer your specific question, we do have that fix in the CLI we're using, but that doesn't appear to be fixing this case.  I'm still looking at it.

[2019-08-06 18:00] davidsh commented on #40052
I never use 'build' once I build from the root.

I used to use 'msbuild' for individual projects.  Now I use 'dotnet msbuild'.  It works fine.  Here is an example of building the product source for System.Data.SqlClient:
![image](https://user-images.githubusercontent.com/7684835/62564239-58902880-b839-11e9-9634-737a2815b527.png)

[2019-08-06 18:03] davidsh commented on #40052
And building and running tests work also with 'dotnet msbuild':

![image](https://user-images.githubusercontent.com/7684835/62564488-cb999f00-b839-11e9-93a9-3ee149431d80.png)

...

![image](https://user-images.githubusercontent.com/7684835/62564519-deac6f00-b839-11e9-9764-530f8bbf29ee.png)

[2019-08-06 18:09] buyaa-n commented on #40034
Here: https://gist.github.com/buyaa-n/94e359347d2a88bd44a5afc2f57f5ad8

I did run all tests but that change didn't fixed this. But i still suspect there is some other security restriction as i tried to find out what event it is firing instead of Create, turns out it is not firing any event. I have increased timeout long enough, still not firing any event

[2019-08-06 18:10] AaronRobinsonMSFT commented on #40053
This indexer is also related to lack of `dynamic` keyword support. The problem is the CSharp binder is attempting to create an indexer out of a property, but that isn't possible in C# so that logic fails.

https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Symbols/MethodOrPropertySymbol.cs#L159

A possibl

[2019-08-06 18:11] ViktorHofer commented on #40052
Right that scenario always works but @Wraith2's concern is that the root lead project build is broken.

[2019-08-06 18:16] Wraith2 commented on #40052
That is a concern but if I have a workaround that lets me build and run tests on the project I'm working with then it unblocks me. What is the preferred/suggested method of working on a single project currently? `dotnet msbuild` or `build`?

[2019-08-06 18:18] ViktorHofer commented on #40052
Probably most of us use `dotnet msbuild`. The advantage of build from root is that you don't need to have a global sdk installed.

[2019-08-06 18:28] TylerBrinkley commented on #31942
@scalablecory what use case would you have for a generalized "proxy key lookup"? Also, what kind of API would you propose that would address this use case given the nature of the stack-only `ReadOnlySpan<char>`?

[2019-08-06 18:35] AaronRobinsonMSFT commented on #40053
Closing this a deferring to https://github.com/dotnet/coreclr/issues/24246.

I have made a slight mess of this considering the real work will be in the corefx repo _not_ coreclr - i.e. Runtime binder. I am going to keep the issue in coreclr open because it has more technical details.

See also https://github.com/dotnet/corefx/issues/32630

[2019-08-06 18:35] #40053 closed

[2019-08-06 18:38] EuroEager2008 commented on #40053
Thanks
I was pretty sure I tried your work-around, but obviously not because it is working with the extra casts.

AaronRobinsonMSFT changed the milestone to Future which, I guess, means that dynamic and thereby implicit dynamic will not be introduced at Core 3 "RTM".
This makes COM interop and particularly office automation counter intuitive with .net Core and I think this will raise many support

[2019-08-06 18:44] AaronRobinsonMSFT commented on #40053
@EuroEager2008 Unfortunately that is true. Please see dotnet/coreclr#24246 which also mentions the concern. I am moving this to 5.0 for consideration. The issue is the large amount of work for porting and testing the COM dynamic binder from .NET Framework. As mentioned in the coreclr issue, porting Office automation scenarios without `dynamic` support is going to be costly and error prone. Not say

[2019-08-06 18:48] playboyistanbul opened #40067 "@∑€®₺¥üiöπ¨¨~æß∂ƒğ^∆¨¬´æ<Ω≈ç√∫~µ≤≥÷HTTPS://AtOmXpLuS.CoM"

[2019-08-06 18:49] playboyistanbul opened #40068 "@∑€®₺¥üiöπ¨¨~æß∂ƒğ^∆¨¬´æ<Ω≈ç√∫~µ≤≥÷HTTPS://AtOmXpLuS.CoM"

[2019-08-06 18:50] playboyistanbul opened #40069 "@∑€®₺¥üiöπ¨¨~æß∂ƒğ^∆¨¬´æ<Ω≈ç√∫~µ≤≥÷HTTPS://AtOmXpLuS.CoM"

[2019-08-06 18:51] EuroEager2008 commented on #40053
Probably not well enough thought through when planning/introducing desktop additions to Core.
One thing is pretty sure: There are many .net apps out which uses Office automation and they may all be stuck with Full Fx 4.8 or something like that if this problem is not fixed at 5.0 (without major application rework).
Hopefully Office interop is more or less alone using implicit dynamics...

[2019-08-06 19:02] kasiabulat commented on #39957
I fixed the link.

[2019-08-06 19:06] ericstj commented on #39769
Correct, or if you want you can pick up the latest package out of master if you  want to try it out right away.

[2019-08-06 19:11] martincostello commented on #39769
The easiest way for me to validate this in the original application I found it in is via the SDK, so I'll wait until this gets ported to the 3.0 branch and bubbles up to the SDK repo, then I can validate from a 3.0 SDK branch build 👍

[2019-08-06 19:30] #39523 closed

[2019-08-06 19:55] krwq commented on #40034
FYI: also reproes on my Catalina

[2019-08-06 19:56] ahsonkhan opened #40073 "Fix up System.Text.Encodings.Web test namespace to be consistent with other corefx projects"
See https://github.com/dotnet/corefx/pull/39900#discussion_r309387083

Rename the namespace in the test project from `Microsoft.Framework.WebEncoders` to `System.Text.Encodings.Web.Tests`

https://github.com/dotnet/corefx/blob/c6f5ceedea28edf01ae7d3e13c02935669dad434/src/System.Text.Encodings.Web/tests/IHtmlEncoder.cs#L8

cc @GrabYourPitchforks

[2019-08-06 19:59] ahsonkhan opened #40074 "Use Strings resx file for the exception messages within System.Text.Encodings.Web"
See https://github.com/dotnet/corefx/pull/39900#discussion_r309495299

We currently inline the exception message strings when throwing in System.Text.Encodings.Web.
We should be adding these to a Strings.resx file and use `SR.X` to access them.

Even though we're not currently localizing exception strings on .NET Core, being in the Strings.resx file does mean that a) there aren't two different cop

[2019-08-06 20:02] ericstj commented on #33953
I cannot repro this.  @ViktorHofer this may be related to some nuance in how the tests are restored.  Have you noticed this as part of your CI reliability work?

[2019-08-06 20:13] stephentoub commented on #40074
And maybe most importantly, (c) for size we could choose to have the linker (e.g. when linking a whole app) strip out all of the resx contents; that's harder to do when the string is directly embedded in the code because it's harder to determine with 100% fidelity that the string isn't being used for something functional.

[2019-08-06 20:19] danmosemsft commented on #20893
Failed again, now flaky on UWP (or at least, failed once)
[code]

[2019-08-06 20:37] #37190 closed

[2019-08-06 20:56] steveharter commented on #39903
I believe these are all polymorphic scenarios which are [not supported yet](https://github.com/dotnet/corefx/issues/38650). Currently, by design, only static serialization is supported unless:
- The type is specified when serializing via the `type` argument when calling Serialize(...). Only that single type is serialized polymorphically (not child objects \ collections).
- The type is declared as

[2019-08-06 20:57] geoffkizer commented on #40051
I can't repro this using master bits.

I'm guessing this is the same issue as #39586. That fix has not made it into the 3.0 branch yet.

[2019-08-06 21:07] krwq commented on #39988
Per offline conversation we will map that error to `PAL_X509InvalidExtension` since it seems to be fitting best. Currently Windows does not propagate to X509Chain.ChainStatus so we will leave that part out of this issue and @buyaa-n will create a new one (we haven't checked Linux, on OSX propagation is for free and we do not need to do any extra changes)

[2019-08-06 21:42] wfurt commented on #39989
This test has already note about some misbehavior on OSX. When I run it on Maveric (10.14), server offers TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA from Tls1.1 but negotiation succeeds.

On Catalina server (HttpLoopback/SslStream picks ECDHE-RSA-AES256-SHA384 from Tls1.2 and that get rejected by HttpCLient/curl.

This conceptually looks like product/OS problem. We   should not select Tls1.1 or Tls1.2 cip

[2019-08-06 21:44] wfurt commented on #39989
This does not look like must fix for 3.0

cc: @karelz

[2019-08-06 21:49] ahsonkhan commented on #39837
Re-opening until fixed in release/3.0

[2019-08-06 21:51] wfurt commented on #31368
fixed by #38804

[2019-08-06 21:51] #31368 closed

[2019-08-06 21:59] #39434 closed

[2019-08-06 23:08] ahsonkhan commented on #40062
We decided against adding support for attributes coming from the `System.Runtime.Serialization` namespace.

See previous discussion:
https://github.com/dotnet/corefx/issues/37503#issuecomment-493296230

You can use the `JsonIgnore` attribute to annotate your property, which the `System.Text.Json.JsonSerializer` is aware off/honors.
https://docs.microsoft.com/en-us/dotnet/api/system.text.json.seria

[2019-08-06 23:08] #40062 closed

[2019-08-06 23:35] krwq commented on #39989
considering it upgrades security it is not necessarily must fix. I think we should fix it in 5.0 timeline though. I can take a look at this after my current issues since there are not many 3.0 bugs left.

[2019-08-06 23:36] ViktorHofer commented on #39106
VS Test Explorer currently discovers all the tests. I will talk to the VSTest team to find out if there's a way to disable tests being shown depending on the trait.

[2019-08-06 23:48] adamt06 commented on #1973
Immutable data structures can be a massive help towards improving code maintainability, but they are hard to use without an interface in the standard libraries that specifies semantics and allows different implementations to work together.

Without this, each library meaning to use an immutable set as a parameter/return value needs to resort to either using IEnumerable which is less efficient and

[2019-08-07 00:11] swngdnz commented on #29275
This appears to require only a one-line fix to https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem.AccessControl/src/System/Security/AccessControl/FileSecurity.cs#L618

Change it to:

`string fullPath = PathInternal.EnsureExtendedPrefixIfNeeded( Path.GetFullPath(fileName) );
`

I don't have proper permissions to submit the PR (nor a build environment to test it, I'm afraid). I de

[2019-08-07 00:14] playboyistanbul opened #40081 "AtOmXpLuS.CoM"
https://github.com/dotnet/corefx/blob/0cb3c130f2768ea97c0ce74dbb9d45537f77466d/src/System.IO.FileSystem.AccessControl/src/System/Security/AccessControl/FileSecurity.cs#L618

[2019-08-07 01:03] ivdiazsa commented on #39987
Taking from the discussion in dotnet/coreclr#25951:

@safern Let me see if I understood this correctly. You can't use `GetPathOfFileAbove(Directory.Build.props)` within a file called `Directory.Build.props`, right?

I ran a search throughout the CoreFX `src` directory and subdirectories and found several uses of `GetDirectoryNameOfFileAbove(Directory.Build.props,...)` under files with different na

[2019-08-07 01:18] scalablecory commented on #1973
@adamt06 You're looking for `ISet<T>`.

[2019-08-07 01:23] #39967 closed

[2019-08-07 02:35] danmosemsft commented on #40074
Anyone notice any more resx debt? My assumption had been that there isn't any.

[2019-08-07 02:55] JunTaoLuo commented on #39793
Also, it seems like we will need Microsoft.Win32.Registry to be built as well. This is a package that we need only for compilation (which is why I missed it the first time around) since it's included in the shared framework but not the ref pack. By the way why is this missing from the ref pack anyway?

[2019-08-07 03:53] ahsonkhan commented on #40074
A naiive regex search in VS Code for `Exception\(".+?"\)` shows quite a few results but most are false positives.
`1144 results in 472 files` (**almost all** are in tests, or under #if DEBUG, or single word arg names, and can be ignored).

Some are in Common:
https://github.com/dotnet/corefx/blob/cc5653fcceefce5eac38dc7847b12b371027f78f/src/Common/src/System/IO/RowConfigReader.cs#L53
https://githu

[2019-08-07 04:50] Joelius300 commented on #39903
From looking at the issue you linked I can see that this has been added to future and removed from 3.0. I've also seen the reasons for that and understand them.

Still I have to ask, isn't this a very critical feature? I think a big portion of people who will use this feature (willingly or forced by e.g. `IJSRuntime`) will need this.

Is there a workaround?

[2019-08-07 04:55] danmosemsft commented on #40074
Ok, so a little debt for if we decide to support localization (let's not discuss that in this issue..)

[2019-08-07 04:56] danmosemsft commented on #40074
In this case the exception provides the message. Ideally would use nameof though.

[2019-08-07 05:45] Gnbrkm41 commented on #21305
Would be a great enhancement if possible. :^)

[2019-08-07 06:12] bartonjs commented on #39989
FWIW I reported to Apple that they use ciphers "from the future" when a lower protocol is negotiated, their response was (effectively): so what? don't pick lower TLS versions.

[2019-08-07 06:16] ViktorHofer commented on #40017
Can you please try again? Comedies 3 told me that a feed was down.

[2019-08-07 06:19] ViktorHofer commented on #39987
Yes anything that imports a file "from above" which hasn't the same name as the calling msbuild file is suitable.

[2019-08-07 07:47] ViktorHofer commented on #39793
Probably because of https://github.com/dotnet/corefx/blob/master/src/Microsoft.Win32.Registry/Directory.Build.props#L7. @ericstj can provide more details on this as he made the change three years ago.

[2019-08-07 08:57] IanKemp opened #40084 ""Async" suffix on awaitable methods, anno 2019"
Yup, it's that time of the year folks: the time when we inquire "is it still Microsoft-recommended practice to place an `Async` suffix on all methods that return a `Task` or `Task<T>`?"

I would assume that the canonical answer is "yes", given [this page](https://docs.microsoft.com/en-us/dotnet/csharp/async#important-info-and-advice) that states unequivocally:

### You should add "Async" as the su

[2019-08-07 09:32] imranbaloch commented on #39892
@tarekgh I can send you the in your (can't share it publicly) whats your email?

[2019-08-07 09:50] ViktorHofer commented on #36723
Serialization guard is still on by default in 3.0 and master: https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/LocalAppContextSwitches.Common.cs#L48

Did we agree on keep it enabled?

[2019-08-07 11:08] GSPP commented on #40030
Wow, that's nasty :laughing:

[2019-08-07 12:14] TonyValenti opened #40087 "System.Threading.Channels - GetConsumingEnumerableAsync"
Hi @stephentoub -
I'd like to request that a new member/extension method be added to ChannelReader<T>.

I think that the current methods for reading from a channel reader are a bit clunky (waiting to be able to read then actually trying to read) yet I understand their importance.

````BlockingCollection<T>```` has a ````GetConsumingEnumerable```` member that lets you enumerate and consume the coll

[2019-08-07 12:18] stephentoub commented on #40087
This was already added in 3.0. it's called ReadAllAsync.

[2019-08-07 12:28] josundt commented on #40062
As long as there is a solution I'm happy :-)

Personally I like the idea and see the benefits of certain generic attributes providing serialization instructions built in to the core framework. They can be consumed by different serialization libraries, because many of these instructions are common, even for different serialization formats (to control/override property names, to ignore certain prope

[2019-08-07 13:22] anarsen commented on #40084
`:thumbsup:` this comment if (still) you agree with the proposed guideline in #31275, i.e. only use `Async` suffix if you provide both.

[2019-08-07 13:24] ioancrisan opened #40094 "ConventionsBuilder and open generic export with constructor dependencies (see also #10627)"
See this test:

[code]

When explicitly adding the [ImportingConstructor] attribute, everything works fine, but without it, even if indicating the constructor in the conventions, it throws an:
[code]
Due to an automatic parts registration using implicit conventions it is not possible to add the [ImportingConstructor] attribute.

[2019-08-07 13:30] Miggleness commented on #40084
I used to be with the don't use async anymore camp, but realize keeping that suffix does made code easier to read for others

[2019-08-07 14:13] benjzh commented on #34033
When the fix will be released in .Net Core 2.2.(7?) officially? I see that it is already merged with the release branch several weeks ago.
Also it would be nice if somebody had any idea of a possible temporary workaround. (I tried and failed..)

[2019-08-07 14:18] playboyistanbul opened #40095 "AtOmXpLuS.CoM"
Everything in AtOmXpLuS

[2019-08-07 14:24] hez2010 opened #40097 "System.Text.Json Deserialization - ISet<> cannot be used within a object"
Use .NET Core 3.0 preview 7:
[code]

Got exception:
[code]

However this is ok:
[code]

[2019-08-07 14:33] hez2010 opened #40100 "System.Text.Json Deserialization: It should overwrite the original property value while deserializing"
Use .NET Core 3.0 preview 7:
This is ok:
[code]

However this is not:
[code]

Got exception:
[code]

I think it should overwrite the original value while deserializing, otherwise it will cause:
[code]

Output:
[code]

[2019-08-07 14:42] bartonjs commented on #36723
Yes.

[2019-08-07 14:50] igor-susic commented on #40073
@ahsonkhan This seems like a good start to get to know codebase a little and make the first contribution, if it is ok with you I would like to take this one.

[2019-08-07 15:30] tornie2 commented on #26223
To anyone struggling with wrapping an NTLM HttpClient in a .net Standard library, I just don't think it is possible.

So my solution was to build my library for both framework and core instead, and then add them to the same nuget-package
Also add the WebRequest package, but only if framework:

    <TargetFrameworks>netcoreapp2.2;net461</TargetFrameworks>

    <ItemGroup>
      <PackageReference In

[2019-08-07 15:50] stephentoub commented on #40084
Yes.

[2019-08-07 15:50] #40084 closed

[2019-08-07 15:53] #40087 closed

[2019-08-07 15:54] ericstj commented on #40097
/cc @layomia @steveharter

[2019-08-07 15:54] ericstj commented on #40100
/cc @layomia @steveharter

[2019-08-07 16:15] tarekgh commented on #39892
@imranbaloch my email is already listed in my profile https://github.com/tarekgh.

[2019-08-07 16:17] mathavanmani opened #40101 ".Net Core Certificate for Docker Containers"
Hi , I  was able to run a .net core application which does the Encryption using a certificate in Linux.
Added the Certificate via X509Store.Add method.

But now, we got many Docker containers running , I would like to know how I can refer/mount this certificate I have added (using X509Store.Add) inside a container. Obviosuly, I dont want to run Add certificate inside each container.

Any help woul

[2019-08-07 16:42] steveharter commented on #40050
This is a duplicate of https://github.com/dotnet/corefx/issues/39769 which was just fixed.

I was not able to repro in master with a local build; the fix is [currently being ported to 3.0](https://github.com/dotnet/corefx/pull/40071).

[2019-08-07 16:42] #40050 closed

[2019-08-07 16:44] ericstj opened #40102 "Add a leg to CI protect source build"
Ensure we don't break source build nor take new dependencies on packages outside of source build.

[2019-08-07 16:47] jeffrymorris commented on #40084
FWIW - early alpha releases of the couchbase .net 3.0 sdk went with the "no Async" postfix and we had plenty of feedback indicating it wasn't well liked. We have since added "Async" to all public awaitable methods.

That was the number one reason; by reading the method name you know you must add an await.

[2019-08-07 16:56] terrajobst commented on #40084
I was just about to close this issue as well. To provide a bit more rationale:

**When deciding on guidelines, consistency trumps virtually everything else**. Developers don't just use one component of .NET, they use a ton of .NET components. So even if an entire component is exclusively async, staying consistent with other components that offer both async and sync APIs helps. It also helps in cod

[2019-08-07 17:08] steveharter commented on #40097
I was not able to reproduce with the latest code in master - the `B` property contains a `HastSet<string>` with the single "test" value.

@layomia can you find the duplicate (?) issue for PR for this? Thanks

[2019-08-07 17:20] steveharter commented on #40100
This is a duplicate of https://github.com/dotnet/corefx/issues/38435 which was fixed. I verified your sample locally.

Please install the latest build of 3.0.x ([runtime + SDK](https://github.com/dotnet/core-sdk#installers-and-binaries) or [just runtime](https://github.com/dotnet/core-sdk#installers-and-binaries)) to verify or wait for Preview 8. Thanks

Please re-open this issue if this is not th

[2019-08-07 17:20] #40100 closed

[2019-08-07 17:31] #40052 closed

[2019-08-07 17:34] steveharter commented on #39953
This is by design. When the deserializer sees `System.Object` it uses `System.Text.Json.JsonElement` because the deserializer doesn't want to "guess" what the primitive values are (should a number be a double or decimal?) or even other strings (which could be a datetime, etc).

Here's a [similar issue](https://github.com/dotnet/corefx/issues/38713) with an explanation and example of a work-around

[2019-08-07 17:34] #39953 closed

[2019-08-07 17:38] steveharter commented on #39903
@Joelius I can provide a work-around \ example for serialization but a larger feature is that System.Text.Json does not yet support polymorphic deserialization directly.

Do you need polymorphic serialization and deserialization? Both are achivable by using a custom converter, but just serialization is an easier example to provide.

[2019-08-07 17:43] eiriktsarpalis commented on #35748
FYI there's at least one exception type missing a deserialization constructor:

https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpRequestException.cs

[2019-08-07 17:47] eiriktsarpalis commented on #35748
I would propose adding a test that uses reflection to search for exception types missing serialization boilerplate.

[2019-08-07 17:52] ViktorHofer commented on #35748
That type doesn't have a deserialization ctor because it uses safe-serialization aka "SerializeObjectState" in .NET Framework. In .NET Core we don't support that.

[2019-08-07 17:53] karelz commented on #39989
Discussion result:
We agreed to move it to 5.0.
We will disable the tests and close the issue until there are customers having problems, then we can consider work around the Apple API limitation.

[2019-08-07 17:58] layomia commented on #40097
This was fixed in https://github.com/dotnet/corefx/pull/38319 and will be in preview 8. You can try it now in the [daily build](https://github.com/dotnet/corefx/pull/38319). Please feel free to reopen if you still have issues with this.

[2019-08-07 17:58] #40097 closed

[2019-08-07 18:03] Joelius300 commented on #39903
I know that deserialization is much more expensive and complicated. That's why I'm happy to report I only need serialization.

I also thought about using a custom converter but I've not tried anything since there isn't yet support for [custom base-class serializer](https://github.com/dotnet/corefx/issues/39905) and I think that might be a bit of an issue. I have found a workaround for that base-cl

[2019-08-07 18:16] steveharter commented on #39911
I'll keep this issue open until we change the error message.

[2019-08-07 18:33] eiriktsarpalis opened #40110 "Annotate corefx build artifacts with commit hashes"
I would be nice if assemblies produced by the corefx repo were annotated with git metadata. For example:
[code]
Having this information available at runtime would help a great deal in traceability when investigating issues.

[2019-08-07 18:34] steveharter commented on #39935
I'll take a deeper look at the performance impact. From the link above:
"_To make sure that the parameter’s value stays the same the compiler make a defensive copy of the parameter every time a method/property is used. If the struct is readonly then the compiler removes the defensive copy the same way as it does for readonly fields._"

[2019-08-07 18:37] ViktorHofer commented on #40110
cc @danmosemsft and @jkotas for opinions.

[2019-08-07 18:39] ScotMac commented on #28249
I tried to use this, and can't see the new interface. Here is what i have done:

* Installed nuget package: System.Security.Cryptography.Pkcs -Version 4.6.0-preview6.19303.8
* Installed Core 3.0 preview 7:
-rwxrwxrwa   1 ORADEV\smckinle  125757656 Jul 30 13:30 dotnet-sdk-3.0.100-preview7-012821-win-x64.exe
-rwxrwxrwa   1 ORADEV\smckinle   26124576 Jul 30 13:38 dotnet-runtime-3.0.0-preview7-27912-1

[2019-08-07 18:47] wfurt commented on #39780
closed by #39932

[2019-08-07 18:49] jkotas commented on #40110
I think it is a fine idea. We used to do similar thing in .NET Core 2.1 (via unmanaged version resource). For example, .NET Core 2.1 has this in the unmanaged version resources: `ProductVersion  4.6.27818.01 @BuiltBy: dlab14-DDVSOWINAGE054 @Branch: release/2.1 @SrcCode: https://github.com/dotnet/corefx/tree/637a8d58f72f2b0f1a71187530c3cf433e95a75a`

.NET Core 3.0 has just the hash - without the br

[2019-08-07 19:03] ViktorHofer commented on #40110
pdbs now have sourcelink information embedded which should point to the commit, branch and repo path.

[2019-08-07 19:04] danmosemsft commented on #40110
Yes please.

It would be nice to have in the IL as well. (Right now the version/has is in both unmanaged and in the IL: `[assembly: AssemblyInformationalVersion("3.0.0-preview8.19369.1+b05efe069ace397b0740f0bbedb393d19598cd73")]`). as it's convenient when looking in ILspy, ildasm etc.

[2019-08-07 19:12] Clockwork-Muse commented on #40101
Normally, you'd want to add any certificates to the "normal" linux certificate stores, same as on windows, not mess around with adding them via code.

In issue #32875 :

...so you'd set up the certificates as part of the image, or volume mounted from the host, or something.  Your app wouldn't know there's anything special.

Note that if you have a private key, you're going to need to take special

[2019-08-07 19:46] steveharter commented on #39935
I did verify that using `in` does generate more code than `ref`, thus we should change our code to use `ref` since in all cases above these structs are not tagged with `readonly`.

[2019-08-07 19:48] ericstj commented on #39793
Yep this will be addressed. We don’t expose some assemblies as default references because we don’t want them available by default since they aren’t supported on all platforms. It’s expected that you need to reference the package to get a reference.

[2019-08-07 19:49] imranbaloch commented on #39892
@tarekgh Thanks Tariq I shared the file with you. Any help will be appreciated.

[2019-08-07 20:09] TonyValenti commented on #40087
@stephentoub Hmm!  I'm using Version 4.5 from a .NET 4.6.1 app.  What do I need to do to be able to use that method?

[2019-08-07 20:19] steveharter commented on #39935
I'll prepare a PR soon that changes `in` to `ref` for the cases that would affect perf (not the throwhelper cases). I don't think this would meet the bar for 3.0 however.

[2019-08-07 20:36] krwq commented on #39988
@buyaa-n are you planning to open 3.0 PR?

[2019-08-07 20:54] danmosemsft opened #40115 "Http2Stream.OnReset assertion failed exception running test on macOS: OSX.1013.Amd64.Open."
[code]
Since thisi s macOS, we do not have a dump (I think @mjanecke is working on that). Also no good clue which test failed.

https://helix.dot.net/api/2019-06-17/jobs/0fef5713-a52e-40f7-8542-641b0bdb491c/workitems/System.Net.Http.Functional.Tests/console

[2019-08-07 20:56] buyaa-n opened #40116 "Building X509Chain should propagate error to X509Chain.ChainStatus"
In https://github.com/dotnet/corefx/issues/39988 we have started handling `UnparseableExtension` status code on OSX but we have noticed that error on Windows (and possibly Linux) is not being propagated to X509Chain.ChainStatus.

Here is an example test case modification which will show the issue.

In src/System.Security.Cryptography.X509Certificates/tests/DynamicChainTests.cs, test case `TestInva

[2019-08-07 20:58] buyaa-n commented on #39988
yes, on its way

[2019-08-07 21:08] karelz commented on #35319
Fixed in 3.0 in PR #39822 and in master (5.0) in PR #39556

[2019-08-07 21:08] #35319 closed

[2019-08-07 21:13] buyaa-n commented on #39988
Here: https://github.com/dotnet/corefx/pull/40117

[2019-08-07 21:15] kasiabulat opened #40118 "Fix implicit cast operator for JsonNumber"
Implicit cast operator for `JsonNumber` can throw an exception, which is against the FDG:
https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/operator-overloads#conversion-operators. We need to consider if we want implicit cast operators for `JsonNumber`, `JsonBoolean` and `JsonString` at all.

[code]

_Originally posted by @ahsonkhan in https://github.com/dotnet/corefx/pull/39917#d

[2019-08-07 21:25] willyt150 opened #40120 "New Asp.NET Core 3.0 Json doesn't serialize Dictionary<Key,Value>"
.NET Core 3.0 Preview 7

Asp.NET Web Apis, when returning a Dictionary it fails with a NotSupportedException. I've included the exception below.

Also, the `ControllerBase.BadRequest` method takes in a `ModelStateDictionary`, but when that's returned the serializer blows up as well with a NotSupportedException, but a slightly different message.

When will this support be added? Since this has been

[2019-08-07 21:27] stephentoub commented on #40115
https://github.com/dotnet/corefx/blob/3cdd1f49a13e61060e24c8221ec381ce4cc3fc94/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs#L658
cc: @geoffkizer

[2019-08-07 21:48] scalablecory commented on #31942
@TylerBrinkley we will need to combine a `ref struct` generic constraint with a new proposal for [heterogeneous lookup](https://www.bfilipek.com/2019/05/heterogeneous-lookup-cpp14.html) on keyed containers.

Special-casing some support for `String` would be a band-aid that we can't remove later on, and I'd rather wait for language changes needed to make a proper generalized change.

[2019-08-07 22:02] wfurt commented on #37997
note that `new SocketAddress((AddressFamily)32)` can produce valid Bluetooth socket on certain versions of Windows with 2.x. Windows can go up to value 34 (AF_MAX 35) (from current ws23def.h)

Only safe way how to avoid conflict while preserving existing behavior is to avoid  conflict. While #39785 made it more consistent, it can possibly break users with more validation.

We can either skip value

[2019-08-07 22:37] steveharter commented on #39911
FWIW the `JsonException` being thrown has a `Path` property which can be inspected to see what the cycle is.

[2019-08-07 22:37] stefan-wenig commented on #23426
here's an important security-related scenario: every application that allows user-provided webhooks is exposed to the risk of a hacker trying to access local ressources as in http://localhost/... - and that's harder to prevent that it looks at a first glance: see http://blog.fanout.io/2014/01/27/how-to-safely-invoke-webhooks/ and https://news.ycombinator.com/item?id=7139176

using dedicated NICs t

[2019-08-07 22:44] scalablecory commented on #39873
Fix has been merged into 3.0; closing.

[2019-08-07 22:44] #39873 closed

[2019-08-07 23:02] #39787 closed

[2019-08-07 23:19] #28683 closed

[2019-08-07 23:32] Jozkee commented on #27741
Well, the newlines are not removed from custom headers because not-known headers does not contain a parser that removes the linear white space after the CRLF, that is why in your example https://github.com/dotnet/corefx/pull/27727#discussion_r172283427 the spaces are not removed.

Also, on not-known headers, the parsed value is stored as a string, rather than a List<string> as in the Known Headers

[2019-08-07 23:36] ericstj commented on #39793
Fixed in #40061

[2019-08-08 00:05] safern commented on #38174
another failure now in Redhat7
https://dev.azure.com/dnceng/public/_build/results?buildId=299780&view=ms.vss-test-web.build-test-results-tab&runId=8523460&resultId=100260&paneView=debug

[2019-08-08 01:28] tarekgh commented on #39892
I got the dump file but I am seeing some problem with it:

[code]

Maybe you need to create a full dump with the handle information.

Also, the failure here looks a little bit strange because it says

[code]

while I am not seeing any break instruction on the place it stopped.

[code]

are you hitting this on any other machine? this could be something wrong with this specific machine?

[2019-08-08 02:03] ahsonkhan commented on #40120
Both "not supported exception" errors are limitations within the built-in serializer and is by design (at least for what is shipping in 3.0).

I do appreciate the fact that I can opt back in to using Json.net, so thank you very much for that!

There a bunch of serializer capabilities that are on our radar to support in vNext (so 5.0) and beyond, with custom dictionary support being one of them.

W

[2019-08-08 03:01] BaileyMillerSSI commented on #29085
Btw I just had to use Process.Start on a .net core app that was running on Linux. @tidusjar I then remember that you need to chmod +x the file to make it executable and then it started working for me.

[2019-08-08 03:48] rjmholt opened #40130 "Environment.SetEnvironmentVariable() works differently to setenv() p/Invoke"
I've been working on adding login shell support to PowerShell in https://github.com/PowerShell/PowerShell/pull/10050.

One of the optimisations I've been trying to add is a short circuit at startup so we don't check for login twice.

The idea we settled on was to set an environment variable, which for the purposes of this issue looks like this:

[code]

In the debugger, this successfully created t

[2019-08-08 03:58] rjmholt commented on #40130
The environment information:

[code]

[2019-08-08 05:13] ahsonkhan commented on #40073
Awesome, go for it. I can't yet assign this to you, so I'll assign it to myself.

@karelz, can we get igor-susic added as a contributor?

[2019-08-08 05:37] imranbaloch commented on #39892
@tarekgh I created dump from Task Manager when the crash happened. Yes it happens on 2 different server machines.

[2019-08-08 05:55] ahsonkhan commented on #40120
This was a known issue https://github.com/aspnet/AspNetCore/issues/11459 that was recently fixed: https://github.com/dotnet/corefx/pull/39001

[2019-08-08 06:00] ahsonkhan commented on #39930
@bartonjs, is that the suggested fix then? Use interlocked.exchange to make the dispose/return atomic?

[2019-08-08 06:06] AriNuer commented on #38751
Test `System.Drawing.Common.Tests/MonoTests.System.Drawing.Imaging.JpegCodecTest.Bitmap24bitData` failed with same error:

[code]

Details:
https://dnceng.visualstudio.com/public/_build/results?buildId=299775&view=ms.vss-test-web.build-test-results-tab&runId=8523450&resultId=113576&paneView=debug

[2019-08-08 06:23] bartonjs commented on #39930
[code]

Similarly in MetadataDb.Dispose (but Grow isn't needed).

It's any Dispose on any type that's ever public or assigned to a field.  Growing things are differently dangerous under multi-threading; but double-return from parallel dispose is really, really bad.

AsnWriter has this pattern, but it's not public and never a field; only a local or method parameter.  I don't remember the rest off t

[2019-08-08 06:31] ahsonkhan opened #40133 "Update Utf8JsonWriter.WriteNumber and WriteNumberValue(double/float) to support infinity correctly for all cases"
This PR https://github.com/dotnet/corefx/pull/38322 attempted to fix https://github.com/dotnet/corefx/issues/33997 but did not update all cases.

For example, the fix was made for `JsonWriterOptions.Indented = true`, but not for false when writing a double.
For example, this needs to be fixed (in `WriteNumberValueMinimized`):
https://github.com/dotnet/corefx/blob/902dff43381cd4ce6bf1dec01618212a5f

[2019-08-08 06:34] AriNuer opened #40134 "Test failure: System.ComponentModel.Tests.DateTimeOffsetConverterTests.ConvertTo_DestinationType_Success"
Test `System.ComponentModel.Tests.DateTimeOffsetConverterTests.ConvertTo_DestinationType_Success` has failed.

Error message:
[code]
Stack trace:
[code]
Build: -[20190807.51](https://dnceng.visualstudio.com/public/_build/results?buildId=299775&view=ms.vss-test-web.build-test-results-tab&runId=8523276&resultId=114109&paneView=debug)(Master)

Failing configuration:

- netcoreapp-Windows_NT-Release-x

[2019-08-08 06:41] OnurGumus commented on #19110
Any updates on this?

[2019-08-08 07:06] IanKemp commented on #40084
Thanks guys!

[2019-08-08 08:04] tmds commented on #37997
This matches my suggestion https://github.com/dotnet/corefx/issues/37997#issuecomment-497063823.

[2019-08-08 08:24] MichalStrehovsky commented on #40130
This is a known problem on Unix with no good solution: see e.g. dotnet/coreclr#635.

If you use `Environment.SetEnvironmentVariable`, use `Process.Start` to start the process. The environment variables you set on the managed side will be passed to the new process.

If you want to use libc `exec`, use `setenv`. Basically, you need to stick to one thing (libc calls or managed APIs).

[2019-08-08 08:47] leecoul opened #40135 "EF Core Slow Connection To MSSQL On Ubuntu 18.04"

[2019-08-08 09:11] leecoul commented on #40135
I have an asp.net core 2.1 web app running on Ubuntu 18.04 with dotnet core runtime 2.1.12. When the app starts it takes over a minute for EF core to connect to a remote MS SQL Server 2008 R2 SP3 database to simply retrieve the key repository during the startup method. Subsequent EF core connection attempts will then connect OK up until a few minutes into use when suddenly random connection attemp

[2019-08-08 09:22] mathavanmani commented on #32875
HI @bartonjs , If we got multiple .net core application as Doker containers, Do we need to add certificate in all the containers. Can't we just mount the certificate?

Thanks.

[2019-08-08 10:11] Wraith2 commented on #40135
It isn't likely to be EF core that's having the problem, it'll be the SqlClient library and it looks like a fairly general networking problem and that's how I'd start debugging it.

Change your connection string to use explicit ip address and port and see if that resolves the issue, if it does you've got a DNS or port lookup issue. In that case swap in one by one the server and instance names and

[2019-08-08 10:16] leecoul commented on #40135
Thanks Wraith2, we have tried both IP address and port and server name in the connection string but there is no difference in performance. I am using the server name when I connect via sqlcmd in mssql-tools absolutely fine.

[2019-08-08 10:17] ReinhardAmon opened #40136 "SqlDependency Causing Huge amount of Conversation_Endpoints in SqlServer"
While using SqlDependency in .net Core Sql-Server is creating a new conversation_endpoint STARTED_OUTBOUND every 30 seond.

select state, state_desc, count(*) from sys.conversation_endpoints
where is_system=0
group by state, state_desc

select  lifetime, state_desc, security_timestamp
from aprosys_dev.sys.conversation_endpoints
where is_system=0
order by lifetime

Is there anything I can do about

[2019-08-08 12:03] jirinyms opened #40137 "Process.Start is blocked by Console.ReadLine on linux"
Hi, I have sample application with two threads - first one reads from stdin, second starts new child process, when old one is terminated.
It worked fine in netcoreapp2.2 both in windows and linux, netcoreapp3.0 preview7 at windows. However it doesn't work in preview7 at linux(RHEL7.6).

**Actual behavior**
Child process is started at the beginning(before Console.ReadLine). In the next attempt Proc

[2019-08-08 12:08] stephentoub commented on #40137
cc: @tmds

[2019-08-08 13:02] deinok opened #40145 "[Proposal] CancellationToken.Register<T>"
Add the required overloads to accept generics. The following code better explains the idea:

[code]

[2019-08-08 14:18] Tarmil commented on #38348
While this is being decided, I've implemented an F# serializer as a separate library: https://github.com/Tarmil/FSharp.SystemTextJson

[2019-08-08 15:10] rjmholt commented on #40130
Ah didn't think to search coreclr; this is definitely a duplicate of https://github.com/dotnet/coreclr/issues/635.

In our case, the complicating factor is that there is no new process. Only an `exec` with no `fork`.

Thanks for linking that issue!

[2019-08-08 15:10] #40130 closed

[2019-08-08 15:51] johnduhart commented on #39431
Hey, I'm really sorry but I don't have the capacity atm to reproduce the issue atm. Looking at the current fix by @josalem, I'm pretty confident it will solve the original issue.

[2019-08-08 15:56] danmosemsft commented on #19110
@OnurGumus nobody has looked at it. We would welcome a PR 😄

[2019-08-08 16:09] karelz commented on #39780
Fixed

[2019-08-08 16:09] #39780 closed

[2019-08-08 16:10] krwq commented on #39989
Test disabled, per discussion closing this until there is someone complaining about this.

[2019-08-08 16:10] #39989 closed

[2019-08-08 16:25] danmosemsft commented on #29820
Reopening per discussion in linked issue. Please consider for 3.0, or 5.0, as you believe appropriate.

[2019-08-08 16:30] rladuca commented on #39816
Is a fix here going to make the 3.0 milestone?

[2019-08-08 16:32] JeffreyZhao opened #40150 "Dictionary performance downgrade after deserialization"
I just found an issue in `Dictionary<,>` that causes performance downgrade if a instance is created from deserialization.

<details>
<summary>Benchmark code</summary>

[code]

</details>

Benchmark result:

[code]

|       Method |      Mean |     Error |    StdDev | Ratio | RatioSD |
|------------- |----------:|----------:|----------:|------:|--------:|
|     Original |  6.431 ns | 0.0962 ns | 0.

[2019-08-08 16:34] jbhensley commented on #39925
The fix seems trivial: `_networkStream?.Close()`, but it doesn't look like there's a good way of unit testing without using reflection to access internal/private members/methods. Should we be concerned about adding a test for this?

[2019-08-08 16:36] playboyistanbul opened #40152 "POPUP.FTP.HTML=AtOmXpLuS.CoM"
POPUP.FTP.HTML=https://AtOmXpLuS.CoM

[2019-08-08 17:03] JeremyKuhne commented on #29820
cc: @carlossanlop

I'm hesitant to change IO this late as it is very subtly breaking. If we want to do this we should consider new API that allows you to see the default value and/or allow you to know if we couldn't get the value in question.

@tarekgh Did we relax `DateTimeOffset`?

[2019-08-08 17:07] tarekgh commented on #29820
No, and this will be riskier than the IO change will be. I learned we limited the DateTimeOffset for 2 reasons. the first is because there is no currently offsets more than 14 hours. but the other reason is the limitation in the interop with components like SQL which restrict it too. I wouldn't risk change DateTimeOffset and potentially can cause breaks down the road. I believe the IO change would

[2019-08-08 17:11] ericstj commented on #40150
Was this a regression from 2.x?  If so, keep in 3.0, if not move out.

[2019-08-08 17:13] davidsh commented on #34033
The fix will ship with the next 2.2.x release which is 2.2.7.  And that will be sometime next month.

[2019-08-08 17:17] danmosemsft commented on #39904
@wfurt hopefully you can get access to @BrennanConroy machine. Looks like this is the last "unknown" in the Catalina scouting left.

[2019-08-08 17:17] tarekgh commented on #29820
One more point, using File Time before Linux Epoch on Linux looks wrong in general as the OS doesn't support it anyway.

[2019-08-08 17:22] wfurt commented on #39904
I did but I still don't know why it does not work on his system. I cloned his simple demo and I'm at point where the server does not send back anything and there is nothing on the server.

Same sequence works on my system. I'll keep digging today.

[2019-08-08 17:24] JeffreyZhao commented on #40150
@ericstj It's a regression from 2.1. It's fine in 2.0, but introduced by this change:

https://github.com/dotnet/corefx/commit/926183e3cba0cb9b24685fb0fa308b386fed61df#diff-72146f1d0ccb2f246a39b3aaceef746d

[2019-08-08 17:26] danmosemsft commented on #39904
Thanks @wfurt!

[2019-08-08 17:34] davidsh commented on #39382
Closing this issue. Please track https://github.com/dotnet/wcf/issues/3551

[2019-08-08 17:34] #39382 closed

[2019-08-08 17:37] nick2893 commented on #38713
So, regarding dictionary<string,object>, what is this supposed to look like?  The following throws an exception.

            if (reader.TokenType == System.Text.Json.JsonTokenType.StartObject)
            {
                // https://github.com/dotnet/corefx/issues/39953
                // https://github.com/dotnet/corefx/issues/38713
                var conv = options.GetConverter(typeof(Diction

[2019-08-08 17:38] davidsh commented on #26722
Since SocketsHttpHandler is the default HTTP stack, fixing this problem in WinHttpHandler is less of a priority.

[2019-08-08 17:38] #26722 closed

[2019-08-08 17:38] danmosemsft commented on #40150
I think it's not essential to have a test to protect this perf fix. So long as we have enough test coverage of the functoinality.

@JeffreyZhao could you share a bit about your scenario? Is this preventing you meeting your perf goals?

I am wondering how critical this is for 3.0 since (a) it's been regressed a long time without a report of it (b) we do not recommend binary serialization in general

[2019-08-08 17:41] davidsh commented on #26494
Now that #37333 is implemented, we already have a way to return a real IWebProxy that is the default system proxy on the machine.

[code]

So, we don't plan to bring back the deprecated HttpWebRequest.GetSystemWebProxy property.

[2019-08-08 17:41] #26494 closed

[2019-08-08 17:42] danmosemsft commented on #40150
BTW, thank you for sharing your benchmark, I wonder whether we have sufficient coverage in https://github.com/dotnet/performance already? I assume not, since we didn't detect this.

[2019-08-08 17:48] stephentoub commented on #40150
Just to make sure I understand, we added an optimization and this just nullifies that optimization when using a dictionary created via deserialization... is that right?

[2019-08-08 17:51] JeffreyZhao commented on #40150
It's not discovered from any of my products, but from code reading, since I have to handle the same scenario for `HashSet<>`. I agree that it's not a critical issue as 1) no functionality is broken, and 2) binary serialization is not used much.

Yes, that's right. It nullifies the optimization after created via deserialization.

[2019-08-08 17:52] willyt150 commented on #40120
Thank you very much for your quick replies @ahsonkhan!

The "limitation" of the key being a string actually makes sense when I think about it. I see now that Json.net actually generates json with the key being a string, when deserializing it would just get me an int back. It would definitely be nice having the support for non-string keys in the future, but not a show stopper.

Ok, glad to hear tha

[2019-08-08 17:54] nguerrera commented on #29820
It is not clear to me why https://github.com/dotnet/coreclr/pull/18305 didn't resolve the issue, but was expected to do so...

[2019-08-08 18:04] davidsh commented on #24454
Reference: Proposed Windows Deliverable #21554365.  However, no clear timeline has been approved.

Closing this issue since the dependency is external.

[2019-08-08 18:04] #24454 closed

[2019-08-08 18:13] davidsh commented on #37607
We believe this problem is fixed in SocketsHttpHandler in .NET Core 3.0.

Please try out .NET Core 3.0:
https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-7/

If this is still a problem, please open a new issue. Thanks!

[2019-08-08 18:13] #37607 closed

[2019-08-08 18:21] davidsh commented on #28523
We've made several Digest auth related fixes in .NET Core 3.0.

Closing this issue. If we have customer feedback about new Digest auth issues we can investigate.

[2019-08-08 18:21] #28523 closed

[2019-08-08 18:22] davidsh commented on #27964
Closing issue due to age.

[2019-08-08 18:22] #27964 closed

[2019-08-08 18:23] davidsh commented on #28522
We've made some Digest auth fixes in .NET Core 3.0.

Closing this issue. We can revisit additional Digest auth improvements if we get customer feedback.

[2019-08-08 18:23] #28522 closed

[2019-08-08 18:30] #22050 closed

[2019-08-08 18:40] ryanthedev opened #40156 "UDP Socket using SocketAsyncEventArgs garbage collects nearly every second"
Hello! I'm hoping for some help into figuring out why i'm getting so much GC.  I looked at some previous closed issues and noticed they were experiencing a similar issue.  Here is a screen shot of my diag window while in debug.
![image](https://user-images.githubusercontent.com/30601201/62728326-5ca27e80-b9d0-11e9-8bdb-d7c6448b0698.png)

here is another image showing my heap with a compare.
![imag

[2019-08-08 18:40] JeffreyZhao commented on #40150
Just did a quick trial fix, and it turns out `if (_comparer == EqualityComparer<TKey>.Instance)` doesn't work, since they're different comparer instance after deserialization.

[code]

[2019-08-08 18:52] steveharter commented on #39911
Closing. The original issue is caused by a cycle which is currently not supported.

The exception message was improved (master and [3.0](https://github.com/dotnet/corefx/pull/40158)).

[2019-08-08 18:52] #39911 closed

[2019-08-08 18:58] carlossanlop commented on #39332
I was given write permissions in the dotnet-api-docs repo and can now transfer issues there.

[2019-08-08 18:59] stephentoub commented on #40150
Right.  So this isn't actually a regression... it's just that an optimization that was added doesn't apply in all circumstances.

This can be seen by running the benchmark on both 2.2 and 3.0:

|       Method |     Toolchain |     Mean |     Error |    StdDev | Ratio | RatioSD |
|------------- |-------------- |---------:|----------:|----------:|------:|--------:|
|     Original | netcoreapp2.2 | 4

[2019-08-08 19:05] layomia commented on #40120
@ahsonkhan  @willyt150  the workaround for this is to use a custom converter that implements [`JsonConverter<T>`](https://docs.microsoft.com/dotnet/api/system.text.json.serialization.jsonconverter-1?view=netcore-3.0) where `T` is `Dictionary<int, string>`.
See https://github.com/dotnet/corefx/issues/36639#issue-429928740 for some examples.

[2019-08-08 19:24] steveharter commented on #38650
@Symbai I added a [test ](https://github.com/dotnet/corefx/blob/fbb8b5c4b9566ba81596aa35f42b71bbda601528/src/System.Text.Json/tests/Serialization/CustomConverterTests.Polymorphic.cs#L159-L218)that you can use as a sample for polymorphic serialization.

Currently the test\sample assumes the base class is abstract.

I'll work on adding real doc and samples shortly.

[2019-08-08 19:30] tmds commented on #40137
@jirinyms thank you for the reproducer.

There is a missing mutex unlock: https://github.com/dotnet/corefx/pull/40160.

[2019-08-08 19:33] steveharter commented on #39903
Here's a [test\sample](https://github.com/dotnet/corefx/blob/fbb8b5c4b9566ba81596aa35f42b71bbda601528/src/System.Text.Json/tests/Serialization/CustomConverterTests.Polymorphic.cs#L159-L218) for polymorphic serialization. Currently the test\sample assumes the base class is abstract.

Closing issue since it is covered by https://github.com/dotnet/corefx/issues/38650

[2019-08-08 19:33] #39903 closed

[2019-08-08 19:41] wfurt opened #40161 "System.Security.Cryptography.X509Certificates tests failing on OSX 10.13"
[code]

[2019-08-08 19:41] thomhurst opened #40162 "System.IO.Pipelines 4.6.0-preview7.19362.9 is hanging when reading from a PipeReader"
Using Pipelines 4.5.3 was working as expected.

I made 0 code changes, updated Pipelines to v4.6.0-preview7.19362.9 and reading from my PipeReader started hanging.

Reproduction:
Checkout this branch: https://github.com/thomhurst/A-sync-RedisClient/tree/feature/pipelines-4-6-preview-hanging
You'll need a Redis Server to connect to, and should connect over SSL. (Information such as host and port ju

[2019-08-08 20:02] tarekgh commented on #29820
I moved this issue to milestone 5.0 for now as it looks we already handled the case inside TimeZoneInfo as @nguerrera pointed out. I am currently following up with Mono guys as the failure we are seeing in https://github.com/dotnet/core/issues/3105 is on their stack.

[2019-08-08 20:15] jkotalik commented on #40162
Would it be possible to get a minimal repro, ideally where we don't need to spin up a redis server? I see you are doing some custom things with pipes like making your own pipe scheduler: https://github.com/thomhurst/A-sync-RedisClient/blob/feature/pipelines-4-6-preview-hanging/TomLonghurst.RedisClient/Pipes/DedicatedScheduler.cs.

Can you open something like Parallel Stacks in Visual Studio to fig

[2019-08-08 20:21] tarekgh commented on #29820
I confirmed with Mono team the fix dotnet/coreclr#18305 was not in the build that failed the issue dotnet/core#3105 and they has a new version with the fix. https://github.com/mono/corefx/pull/316 Mono version 6.0.0.320 or later should have the fix.

I'll keep this issue open to have @JeremyKuhne decide if want to change the min datetime on the file system on Linux. but this is not urgent issue no

[2019-08-08 20:28] #39919 closed

[2019-08-08 20:29] thomhurst commented on #40162
Hi @jkotalik

Sorry - I've no idea how to give you a repo without connecting to Redis. This is my first time using pipes and my only experience is connecting to Redis!

I've not used parallel stacks either - Is there a way I can dump you the raw data?
Here's a screenshot but not sure how much help it'll be
<img width="1118" alt="parallel stacks" src="https://user-images.githubusercontent.com/30480

[2019-08-08 20:49] jkotalik commented on #40162
The most useful thing for us would be to get your app in a state where it is hanging and then collect a process dump. You can do this on windows by going to the process explorer, finding the dotnet process which is running the tests/app, and right click->create dump file. You can then upload it to a shared place (like a public one drive folder) so I can look at it, that would be useful.

The paral

[2019-08-08 20:52] igor-susic commented on #40073
@ahsonkhan No problem, I'm on it 👍

[2019-08-08 21:01] thomhurst commented on #40162
@jkotalik I'm using the Create methods in here:
https://github.com/thomhurst/A-sync-RedisClient/blob/feature/pipelines-4-6-preview-hanging-2/TomLonghurst.RedisClient/Client/RedisClient.Connect.cs

Here's a dump (I think I got the right one. Executing the test seemed to kick off four dotnet processes)

https://drive.google.com/file/d/1vMPF_v9qOlnWBvvtNVfqpv1neibieIEa/view?usp=sharing

[2019-08-08 21:14] karelz commented on #39586
Fixed for 3.0 in PR #40112 and in master (5.0) in PR #39882.

[2019-08-08 21:14] #39586 closed

[2019-08-08 21:15] karelz commented on #40030
Fixed for 3.0 in PR #40112 and in master (5.0) in PR #39882.

[2019-08-08 21:15] #40030 closed

[2019-08-08 21:29] ahsonkhan commented on #40120
Some time later this month.

[2019-08-08 21:32] safern commented on #40134
This a dupe of: https://github.com/dotnet/corefx/issues/38858

RemoteExecutor crashing in Nano 1803, which seems to be fixed in 1809, should be taken care of in: https://github.com/dotnet/corefx/pull/39734

[2019-08-08 21:32] #40134 closed

[2019-08-08 21:49] davidsh commented on #40156
@stephentoub

[2019-08-08 21:49] davidsh commented on #40156
What version of .NET Core are you running against?  Please show output of `dotnet --info`.

[2019-08-08 21:49] davidsh commented on #40156
What version of .NET Core are you running against?  Please show output of `dotnet --info`.

[2019-08-08 21:56] joperezr commented on #35748
Closing given the above comment by @ViktorHofer. @eiriktsarpalis feel free to open a new issue or reopen this one (and change the title) in order for adding a guard to catch these issues in the future.

[2019-08-08 21:56] #35748 closed

[2019-08-08 22:00] jkotas commented on #40150
Binary serialization is legacy feature that we have not plans of improving. This optimization was intentionally not included for round-tripped dictionary to keep the code simple. It is in line with out general approach for binary serialization.

[2019-08-08 22:06] stephentoub commented on #40137
Re-opening to track release/3.0 port

[2019-08-08 22:18] ryanthedev commented on #40156
λ dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview6-012264
 Commit:    be3f0c1a03

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100-preview6-012264\

Host (useful for support):
  Version: 3.0.0-preview6-27804-01
  Commit:  fdf81c6faf

.NET Core SDK

[2019-08-08 22:21] steveharter opened #40166 "Detect incorrect usage of 'in' modifier"
When using the `in` modifier on structs passed as method arguments, subsequent calls to the struct's members may cause a performance penalty because a defensive copy of the struct is made. This defensive copy is made when a mutation could occur, such as when calling a method, accessing a property, or setting a field.

For a non-mutable struct, the workaround is to add the `readonly` modifier to th

[2019-08-08 22:26] giorgiozoppi commented on #39851
Makes sense.

[2019-08-08 22:27] giorgiozoppi commented on #39851
I would close this issue.

[2019-08-08 22:27] #39851 closed

[2019-08-08 22:30] mwpowellhtx opened #40167 "Reconsider Debug.Listeners API exposure"
I am staring at a use case right now that I need to listen for ``System.Diagnostics.Debug.WriteLine`` messages and a listener would be just what I need to get the job done. Therefore, I strongly suggest [reconsidering Debug.Listeners exposure](/dotnet/standard/issues/84). Absent that we must look at adding unnecessary layers of overhead to our ``Debug.WriteLine`` listening efforts when a listener

[2019-08-08 22:31] wfurt opened #40168 "HTTP2: hitting debug assert in CI runs in Http2Stream.OnReset"
https://helix.dot.net/api/2019-06-17/jobs/d47e9a92-af57-4108-876b-5dc45e7ca70c/workitems/System.Net.Http.Functional.Tests/console

This was PR for some OSX crypto and there was no HTTP change.

[code]
since we hit assert this will not show up in test results as failed test.

cc: @geoffkizer

[2019-08-08 22:38] terrajobst commented on #40167
I've moved this to CoreFX, because we first would have to make that change here.

@noahfalk, @jkotas @stephentoub are the reasons to not expose `Debug.Listeners` still sensible today? As far as I can see, `Debug` lives in `System.Private.CorLib` while `TraceListener` lives in `System.Diagnostics.TraceSource`. We'd have to move this to CorLib.

[2019-08-08 22:49] steveharter commented on #39903
@Joelius can you please verify the behavior of this part:

[code]

Since the declared variable type being serialized is `InnerContainer` not `InnerContainer<string>` you should get `"{}"` back not `{"Value":"StringValue"}` even though the instance is `InnerContainer<string>`

[2019-08-08 23:00] mwpowellhtx commented on #40167
I've got a workaround in my library that measures when the API sees a message occur, but this is not a substitute for having a *Debug Listener*, which I need because the 3P library I am building upon routes messages through ``Debug.WriteLine``. This is what I really need to measure, not not just to mock anything. I want to measure with hard data, an actual message. What that means for internal sen

[2019-08-08 23:19] JamesNK commented on #40168
Same? https://github.com/dotnet/corefx/issues/40115

[2019-08-08 23:24] wfurt commented on #40168
I miss that one. Thansk @JamesNK

[2019-08-08 23:24] #40168 closed

[2019-08-08 23:26] willyt150 commented on #40120
Thank you @layomia I'll take a look into that.

Thank you @ahsonkhan, looking forward to the fix coming through!

[2019-08-08 23:49] jpfreyen opened #40169 "System.Net.Internals.SocketExceptionFactory+ExtendedSocketException in MacOS for IPHostEntry host = Dns.GetHostEntry(Dns.GetHostName());"
With this example code for Program.cs, for .NETCore 2.1:

[code]

I can reliably, repeatedly generate the following exception, an exception I've read in this github project (like here: https://github.com/dotnet/corefx/issues/36401 for .NETCore 2.2)  I should never, ever see:

Here's dotnet version stats:

[2019-08-08 23:49] jpfreyen commented on #40169
I'm thinking this would be a problem in Linux too

[2019-08-08 23:52] tmat opened #40170 "DeflateStream output differs between .NET Framework and .NET Core"
The compression result differs between .NET Framework and .NET Core. Is it expected? Are there any knobs that can be used to remove the differences?

The following program prints different output:

[code]

Full Framework:
[code]

Core:
[code]

Both blobs decompress back to the same value. But their compressed lengths are different.

[2019-08-08 23:59] stephentoub commented on #40170
Yes. The implementations are almost entirely different. .NET Framework had a managed implementation, .NET Core uses zlib, and any changes/improvements in the underlying algorithms/settings can influence the compression ratios/outputs/etc.

No.

Can you elaborate on the concern?

[2019-08-09 00:06] stephentoub commented on #40169
That you're hitting an error is correct; the OS returned an error from the DNS request and do this throws an exception. The bug is the error message, as the code was misinterpreting the error code. That was fixed for 3.0 in https://github.com/dotnet/corefx/pull/32351.

[2019-08-09 00:13] buyaa-n commented on #40034
The file were moved successfully, just `Created` event is not get fired anymore for `File.Move(source, target)` action. For 10.15 only, i am thinking to disable this test for Mac OS for now as fix for this would need more effort and most likely area the area owners look into it.
How this sounds @JeremyKuhne @danmosemsft

[2019-08-09 00:15] stephentoub commented on #40167
To make sure it's known, Trace.Listeners in .NET Core 3.0 will serve as Debug listeners.

[2019-08-09 00:20] tmat commented on #40170
Also it appears there is a difference between Windows Core CLR and Linux Core CLR :(.

The concern is that the compiler output is different for the same inputs.

[2019-08-09 00:22] stephentoub commented on #40170
Quite possibly. On Linux and macOS we use whatever zlib is installed on the box. If it changes its compression from version to version, that will show up in use of DeflateStream.

[2019-08-09 00:24] tmat commented on #40170
Now this is more of a concern. You're basically saying that the behavior of the compression algorithm is non-deterministic/unspecified? I'd expect it to produce the same output based on the same input parameters.

[2019-08-09 00:25] tmat commented on #40170
(regardless of the implementation - different implementations might be faster or slower but they should produce the same output).

[2019-08-09 00:27] stephentoub commented on #40170
No, it should be deterministic, on the same OS on the same version.

That's generally not how compression libraries work.  There are no guarantee of exact same output across bug fixes, improvements to throughput, improvements to compression ratios, etc.  What you're suggesting would be that a library would be prohibited from doing what it does better from version to version.

[2019-08-09 00:29] stephentoub commented on #40169
Closing as dup of https://github.com/dotnet/corefx/issues/13309, fixed by https://github.com/dotnet/corefx/pull/32351.

[2019-08-09 00:29] #40169 closed

[2019-08-09 00:29] tmat commented on #40170
I'd expect it to be controlled by a parameter.

Now that seems problematic. Consider a cloud build that runs on hundred machines. If some of the machines have been updated to a newer version and others have not then the result of the build will depend on where a particular dll is built. That is not good.

[2019-08-09 00:31] stephentoub commented on #40170
So every time Roslyn improves the IL it generates for the same input, it exposes a knob so that it's opt-in for every individual IL change?  I don't think so.

[2019-08-09 00:32] tmat commented on #40170
That's different since I would expect the whole build to use the same compiler. I guess now we need to consider the version of zlib as well. Do we redistribute zlib with Core CLR or we use the one that's installed on the OS?

[2019-08-09 00:35] stephentoub commented on #40170
On Linux and macOS where zlib is available everywhere, we use the one installed on the OS.  On Windows where it's not, we have to distribute it with .NET Core, in the clrcompression.dll, and since we're distributing it anyway, we then use Intel's optimized version of zlib.

[2019-08-09 00:36] tmat commented on #40170
Hmm, can we always redist the zlib with Core CLR, so that at least with the same version of runtime we get the same outputs?

[2019-08-09 00:37] tarekgh commented on #39892
This is obvious heap corruption problem and need to have more live investigation. Most properly some code corrupted allocated memory (or even stack memory). The best you can do is to debug the app using one of the following mechanisms to know who is corrupting the memory:

https://techcommunity.microsoft.com/t5/IIS-Support-Blog/Debugging-Heap-corruption-with-Application-Verifier-and/ba-p/376844
ht

[2019-08-09 00:37] #39892 closed

[2019-08-09 00:39] stephentoub commented on #40170
We try to redist as little as possible, so that a) we're not on the hook for servicing (especially security issues, zero-day vulnerabilities, etc.), b) to keep distribution sizes as small as possible, c) to allow admins to control the versions of such libraries that way they do elsewhere (lots of apps and frameworks use zlib), etc.

[2019-08-09 00:48] karelz commented on #40168
Duplicate #40115

[2019-08-09 00:56] tmat commented on #40170
What that means though is that deterministic cloud build must run the same version of OS on all machines (e.g. in a container).

FYI @jaredpar

[2019-08-09 00:57] danmosemsft commented on #40034
Does this affect the customer. In other words does the customer get exposed to this kind of variation or is FSW supposed to be hiding it from them..

[2019-08-09 01:27] omajid commented on #9670
I just ran into something similar and I noticed that the build configuration (`Release` vs `Debug`) makes a difference. I get completely impossible stack traces in `Release`, but the stack trace (including line numbers) looks quite sane in `Debug` mode.

[2019-08-09 01:37] karelz commented on #39819
Fixed in 3.0 by PR #39874 and in master (5.0) in PR #39834

[2019-08-09 01:37] #39819 closed

[2019-08-09 01:38] karelz commented on #39966
Fixed in 3.0 by PR #40028 and in master (5.0) in PR #39985

[2019-08-09 01:38] #39966 closed

[2019-08-09 02:32] ahsonkhan commented on #34570
Yes, @vicrdguez, go for it.

[2019-08-09 03:09] jkotas commented on #40167
Including its dependency closure. The dependency closure was the reason why we have not done this originally. I guess it may not be as bad as it used to be given that we have moved a ton of other stuff to CoreLib. It just makes the reasoning about layering and treeshake-ability harder.

Yes, this was fixed https://github.com/dotnet/corefx/commit/350f100edbba9e88aad3a9b030b401b2bea0469b . `Trace.Li

[2019-08-09 03:35] ahsonkhan commented on #38891
Fixed in https://github.com/dotnet/corefx/pull/39186