[2018-07-12 12:58] stephentoub commented on #27445
Ok.

[2018-07-12 13:00] radovanovic commented on #30698
Sorry for being slow (too much work). I don't know, I did lot of socket programming but I didn't do lot of kqueue programming (in watcher I was using EVFILT_NODE, which was only one structure to add). I will fill that bug report since nobody came back on mailing list.
Regarding watcher I would really be glad to help, but at the moment you have all this very complicated (and I don't have access to

[2018-07-12 13:06] springy76 commented on #27445
Should I create a ticket for that, is that comment enough, or are there reasons for not doing that?

[2018-07-12 13:20] kfreezen commented on #30990
I added a little logging statement into my code using `HttpResponseMessage.Content.Headers.GetValues(...)`

Output from my logfile for that Content-Type is:
[code]

Expected output:
[code]

Is there a way to turn off strict standards compliance for HttpResponseMessage?

Or maybe there's an alternative which doesn't auto-reformat non-standard input?

[2018-07-12 13:34] stephentoub commented on #27445
You're welcome to open an issue proposing the API.  See:
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2018-07-12 13:55] stephentoub commented on #31011
You can't use `!=` with arbitrary `T`s like this.  You would instead, for example, need to constraint `T` with `where T : IEquatable<T>` and then use a comparison like `if (span[end] != null && !span[end].Equals(trimElement))`.

[2018-07-12 13:58] petroemil opened #31017 "Make ConfigureAwait(false) the default behaviour for Tasks"
The default behaviour when await-ing a Task is to return to the caller thread. This behaviour was designed in the time of WPF and Silverlight, when building responsive UI was in the spotlight, so the API designers wanted to make client app developer's lives very easy.

But on the server side or in any library code we should be using `ConfigureAwait(false)`, meaning the asynchronous continuation ca

[2018-07-12 14:06] stephentoub commented on #31017
It would.  For example, xunit has its own SynchronizationContext.  And anyone can author their own SynchronizationContext/TaskScheduler; if they were using it and expecting by default continuations to be queued back to those, such a change would break them.

In most libraries, that's true.  But there are explicitly places where it's not.

This would need to be a request on the language side, e.g.

[2018-07-12 14:08] radovanovic commented on #2046
It might be useful to someone - this is how I implemented it long time ago for mono https://github.com/radovanovic/monobsd/blob/freebsd/mcs/class/System/System.IO/FreeBSDWatcher.cs (it was quite difficult to push it upstream since they don't care about *BSD).

Here is also simple test I wrote when working on it https://github.com/radovanovic/monobsd/blob/freebsd/mono/tests/fs_watcher.cs (I used th

[2018-07-12 14:14] hughbe opened #31018 "Marshal.StringToCoTaskMemUTF8 should have an equivilent SecureString and HGlobal overload"
We have the following APIs on `Marshal`
[code]

`StringToCoTaskMemUTF8` is a .NET Core only API that was added before any SecureString marshalling overloads were added.

I propose that for consistency and usefuleness we add the following APIs:
[code]

[2018-07-12 14:20] stephentoub commented on #31018
SecureString is effectively deprecated.  I don't think we should be adding new APIs for it.

[2018-07-12 14:23] hughbe commented on #31018
@stephentoub I included this because it was mentioned in the #13485 which added back the `Marshal.SecureString` APIs:
https://github.com/dotnet/corefx/pull/13485#discussion_r87066957

@danmosemsft said "@tijoytom please open a separate issue for that and mark it api-needs-work or api-ready-for-review as appropriate." but an issue never got created

[2018-07-12 14:24] stephentoub commented on #31018
Yup, that's fine.  I still don't think we should add them ;)

[2018-07-12 14:32] stephentoub commented on #30974
@pjanotti, coverage data also seems to be wrong for corelib, e.g.
![image](https://user-images.githubusercontent.com/2642209/42639774-d712d67a-85be-11e8-93f4-0cd43a1dab3d.png)

[2018-07-12 14:35] AArnott opened #31019 "API Proposal: Pipe.Deconstruct"
A Deconstruct extension method should be offered for the `System.IO.Pipelines.Pipe` class so that someone can simply assign the reader and writer directly:

[code]

[2018-07-12 14:41] McMlok opened #31020 "HttpClient did'nt respect bypass list in IE"
Hello,

After upgrading to .NET Core 2.1.300 (SDK) I have issue in communicating from my app to WCF services. On our LAN we have proxy but for WCF endpoints I setup bypass in IE proxy settings. But in WinHttp I have configured direct access. After upgrading to core 2.1 I get HTTP 407 from proxy server. I find out that there is change in core and core now use WinInet settings not WinHttp by default

[2018-07-12 14:57] stephentoub commented on #31012
Why do you think OpenSSL is still be used?  Here's a build of System.Security.Cryptography.Algorithms.dll for macOS... you can see the Interop namespace it only has AppleCrypto and CoreFoundation:
![image](https://user-images.githubusercontent.com/2642209/42641234-17353b6e-85c2-11e8-9fd9-ac3d4c553391.png)
In contrast, here's the one for Linux:
![image](https://user-images.githubusercontent.com/264

[2018-07-12 15:08] filipnavara commented on #31012
You are completely right! My bad. I used GitHub search for `CCCryptorCreate`, which didn't show any results so I missed that `CCCryptorCreateWithMode` is used instead.

[2018-07-12 15:08] #31012 closed

[2018-07-12 15:09] TicoDePano commented on #31003
Yes, it's working, my bad.
It was needed to add my TraceListener, as the docs say.

[2018-07-12 15:14] AdamFrisby opened #31022 "Setting SendTimeout on CustomBinding on MacOS triggers NullReferenceException"
Performing a WCF submission using a CustomBinding fails when SendTimeout is left uncommented on macOS in the following code:

Environment: .NET Core 2.0, (whatever is in Visual Studio 15.5.7); execution environment is OSX 10.14 latest beta. Using System.ServiceModel.NetTcp 4.5.2 via NuGet.

[code]

Failure occurs as soon as you attempt to call a WCF method. Same code works on Windows (albeit that

[2018-07-12 15:18] FlyingWraptor opened #31024 "CORs in webapi not returning valid response"
Hello there, so I've been migrating all API's to .net core but it's denying me from doing so with this issue.
So I've enabled CORs to provide access from `www.domain.tld` to my api at `api.domain.tld` using only specific methods. Angular requires the `Access-Control-Allow-Methods`  header to be returned but the build in CORs doesn't do that at all.

.NET Core SDK: 2.1.301

The request contains the

[2018-07-12 15:55] MarcoRossignoli commented on #30185
Is this simply to wrap AssemblyLoadContext.Default.XProfileX in a [ProfileOptimization](https://referencesource.microsoft.com/#mscorlib/system/runtime/ProfileOptimization.cs,30) class on System.Runtime namespace(maybe testable with [RemoteExecutor](https://github.com/dotnet/corefx/blob/9ca2480b79d041b5121d3d5025a588257d4f978c/Documentation/project-docs/writing-tests.md#remoteexecutor))?

[2018-07-12 15:58] danmosemsft commented on #31015
Both API's have 2.5% usage in .NET compat lab data.
@ericstj did this show up for you?

[2018-07-12 16:00] danmosemsft commented on #30988
@karelz this needs to move to the docs repo right?

[2018-07-12 16:01] danmosemsft commented on #30988
@karelz this needs to move to the docs repo right?

[2018-07-12 16:02] brianrob commented on #30185
Yes, that's right @MarcoRossignoli.

[2018-07-12 16:07] karelz commented on #30988
I let @vancem @brianrob decide - most of the docs were originally living with EventCounters code / nuget package AFAIK.

[2018-07-12 16:07] keeratsingh commented on #30518
In that case you can add the `4.5.1` package reference explicitly in the csproj file and see if that helps.
[code]

[2018-07-12 16:09] eerhardt commented on #31002
I don't think it is a great idea for code to take functionality dependency based on reported OS version at runtime either. But the fact of the matter is, it happens. The RID has the OS version inside of it. So **anything** you do with the RID will now mean you are dependent on the reported OS version.

We've been down the "do we need the OS Version public API?" path before, and it wasn't added as

[2018-07-12 16:10] karelz commented on #30990
Looks like there is no way to do that.
Out of curiosity: Why do you need the raw values? What is your scenario?

[2018-07-12 16:10] hughbe commented on #31015
This also breaks the `CreateWrapperOfType` API which relies on `GetComObjectData` and `SetComObjectData` so actual impact may be a little higher

[2018-07-12 16:11] AleckAgakhan commented on #27445
@springy76
Why it is so important to have that method?
If one need a completed ValueTask he may use the default constructor `new ValueTask()`, or even `default(ValueTask)` for that purpose.

[2018-07-12 16:12] ericstj commented on #31015
@hughbe nice find.

None of the apps I brought up hit a codepath where they'd crash due to this, but that doesn't mean its not important.

Did a quick check and here's a couple suspect commits:
https://github.com/dotnet/coreclr/commit/3103a70d1fbe733d2b4e7ed9e2ff795b888b8b79
https://github.com/dotnet/coreclr/commit/16f5695839f753b803149c9e012a924733a46a5b

For the first I think it just used the wr

[2018-07-12 16:13] danmosemsft commented on #30393
@luqunl there is no need to review the API if it was already exposed in .NET Framework. That tag is for proposed new API, to review their shape, value etc. Do you plan to take these or is it up for grabs?

[2018-07-12 16:15] hughbe commented on #31015
I believe that was temporary and we've now implemented `Read*`/`Write*`

e.g. https://github.com/dotnet/coreclr/tree/master/src/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.cs#L382-L385

[2018-07-12 16:17] nguerrera commented on #31002
^ This!

[2018-07-12 16:18] karelz commented on #30959
I am still lost a what is the purpose of the issue. I see signs of potentially some suggested improvement - looks like it is targeted at compiler overhead. I also see signs of "I want to have discussion to better understand the problem space".
If you have a proposal in mind, I'd suggest to write crisp short description of your proposed suggestion. In such case, please specify what kind of improvem

[2018-07-12 16:22] MarcoRossignoli commented on #30185
I could work on it if you want!

[2018-07-12 16:24] davidsh commented on #31014
Can you please provide a repro sample of this?

[2018-07-12 16:31] brianrob commented on #30185
Sounds great!

[2018-07-12 16:31] karelz commented on #30989
@mayconbeserra the tools are fairly easy to use. Install them and run them on your machine / Docker (Docker may need some special setup to enable it). Run your repro. Save the traces - either inspect them, or send them over. They will capture all network communication, telling us what happened on the wire.

From the logs above, it is not clear if our stack incorrectly thinks there were 0 bytes rec

[2018-07-12 16:37] karelz commented on #30994
What is the perf contribution of GetHashCode on real-world scenarios? (%, numbers)
What are the PS real-world scenarios? How common are they? Is it something normal users will notice, or is it "just" chasing down a perf microbenchmark? (the microbenchmark numbers above show 41% degradation - which may be ok, given it brings security advantages for server-side scenarios)

[2018-07-12 16:43] luqunl commented on #31006
@fadimounir , do you have a repro for this?

[2018-07-12 16:45] joshfree opened #31026 "Add openSUSE Leap 15.0 and SLES 15.0 to the RID graph"
https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtimeGroups.props#L79-L85
[code]

`Versions` should be extended to include 15.0.  See https://en.wikipedia.org/wiki/OpenSUSE_version_history

https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtimeGroups.props#L112-L116
[code]
`Versions` should be extended here to include 15.0 as well.  See

[2018-07-12 16:56] ericstj commented on #31015
Indeed the right thing was done later on with https://github.com/dotnet/coreclr/commit/88779dc83763dc199ad1666282316d393473609d.

I think https://github.com/dotnet/coreclr/commit/3103a70d1fbe733d2b4e7ed9e2ff795b888b8b79 still introduced throwing APIs where it should have only made them throw on unix.

[2018-07-12 16:57] kfreezen commented on #30990
Our scenario is an internet filtering solution which uses KestrelHttpServer to receive requests from the client and then re-creates those requests with System.Net.Http calls. In order for us to be 100% compatible with non-standard servers, we need a way to retrieve the values as they were received from the server so we can pass them to the client as-is.

https://github.com/TechnikEmpire/CitadelCor

[2018-07-12 17:03] davidfowl commented on #30941
Sure turn this into an official API proposal.

[2018-07-12 17:14] karelz commented on #30389
@wtgodbe can you please confirm that it made it into 2.1.3 build?

[2018-07-12 17:22] danmosemsft commented on #31022
Issue moved to [dotnet/wcf #3017](https://github.com/dotnet/wcf/issues/3017) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-12 17:22] #31022 closed

[2018-07-12 17:24] filipnavara opened #31028 "Possible leak in AppleCryptoNative_X509StoreRemoveCertificate"
Looking at the code in AppleCryptoNative_X509StoreRemoveCertificate it adds a reference to a certificate from the input parameter:

[code]

This reference is released in all error cases later on using `CFRelease`. At the end of the function (https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_keychain.c#L393-L394) another function is called:

[2018-07-12 17:24] karelz commented on #31024
This issue was moved to aspnet/Home#3323

[2018-07-12 17:24] #31024 closed

[2018-07-12 17:24] filipnavara commented on #31028
/cc @bartonjs

[2018-07-12 17:38] Clockwork-Muse commented on #30990
Out of curiosity - why not take the original raw request (stream, byte array, whatever) and pipe it as output?  What you're doing will incur re-serialization costs.  That would also solve your "return the original request" problem.

[2018-07-12 17:41] vcsjones commented on #31018
Thanks for opening the issue so that I can at least express that I don't want this API either :-).

[2018-07-12 17:42] wfurt commented on #31020
wildcards should be supported. Note, that there is no reverse lookup e.g. if you access server by IP, it will not match the wildcard even if the IP would resolve to xx.lab.domain.com

[2018-07-12 17:44] wtgodbe commented on #30389
The most recent non-stable build was on 7/10, against this commit: https://github.com/dotnet/corefx/commit/2185b5512232ace2e60b44b6789b5e8a8320fe98. This means that this change was not in that build. However, the final build is scheduled for 7/16, so this should make it into the actual release.

[2018-07-12 17:47] wesleyolis opened #31030 "Random Records go missing, using linq, after .toList .toArray .AsEnumerable"
Hi,

I never got a chance to report this bug at my previous company for time constants.
Just to give you a bit of back ground, we under took the re-write of a entire existing project, onto the early er beta release of dotnet beta using RX technologies. Because we had an exising process with which we could proof and run both system at the same time, to ensure we correctly perfectly re-wrote the sys

[2018-07-12 17:47] kfreezen commented on #30990
Is there a way to get the underlying response in its entirety (headers+body) as a byte array or stream? If that's possible with HttpResponseMessage, I would like to give that a try.

[2018-07-12 17:49] davidsh commented on #30990
The short answer is no. HttpClient/HttpResponseMessage doesn't expose the byte array or stream in a raw manner like that. If you need that kind of functionality for your scenario (which sounds like a sockets proxy/middle-tier scenario), you might want to use Sockets directly.

[2018-07-12 17:52] kfreezen commented on #30990
@davidsh Thanks. I think that answers my question for now.

[2018-07-12 17:52] #30990 closed

[2018-07-12 17:53] mayconbeserra commented on #30989
@karelz which tools? Do you have one example? We’re using https and certificates, which can’t be decrypted. Is there a way to capture it from a container and decrypt that?

Besides that, Running on my machine (macOS / windows) works. Does the framework logs help as well?

[2018-07-12 17:55] fadimounir commented on #31006
I was using this as a repro: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20180712.04/workItem/System.Collections.Tests

[2018-07-12 17:59] tarekgh commented on #31017
I want to add is changing the ConfigureAwait default behavior will be a challenging for anyone writing a netstandard library which will run on net core and full desktop.

@stephentoub is there any action needed from our side here? or can we close this issue?

[2018-07-12 18:12] safern opened #31032 "Microsoft.CSharp.Tests fail when running against NETFX"
There are around 620 tests failing when running them against netfx.

Also, [Microsoft.CSharp.RuntimeBinder.Tests.RuntimeBinderTests](https://github.com/dotnet/corefx/blob/master/src/Microsoft.CSharp/tests/RuntimeBinderTests.cs#L19) are failing with a StackOverflowException. I quickly attached windbg and got a call stack for this SOE and it looks like an infinite recursion:

[code]

This SOE can be

[2018-07-12 18:13] wfurt commented on #30698
full FreeBSD build is very close @radovanovic. With that, you will be able to compile code and run test on single FreeBSD system.

[2018-07-12 18:14] pjanotti commented on #30974
@stephentoub that last successful one was against native image of CoreLib so still broken numbers. The latest runs against the IL CoreLib have numbers:
![image](https://user-images.githubusercontent.com/5600755/42651276-cc72847c-85c3-11e8-9b45-fa0461c8bafe.png)

This one was from https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/608/Code_Coverage_Report/ it shows as failure

[2018-07-12 18:21] pjanotti commented on #31002
Thanks for digging the history and showing that this was considered many times before :smile: you convinced me.

[2018-07-12 18:22] karelz commented on #30989
The ones mentioned above - Wireshark/Fiddler.

Let's hope it is going to work on a small repro you have. Hopefully, you can adjust the options otherwise.

The logs you pasted didn't help. Having packet capture logs is IMO the best next step at this moment.

[2018-07-12 18:34] pjanotti commented on #30974
Just for the record, here are the failures on run #608:
[code]

[2018-07-12 18:47] safern commented on #31032
disabling tests on: https://github.com/dotnet/corefx/issues/31032

[2018-07-12 18:50] karelz commented on #31030
It is not clear to me where you think is a bug.
As next best step, I would suggest to create a repro - i.e. simulate the data that caused it, stress out the system, minimize the repro.
Reviewing code when it is not clear where exactly is the problem is rarely successful way to root cause issues.

[2018-07-12 18:52] #14903 closed

[2018-07-12 18:57] radovanovic commented on #30698
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=229741 (although it shouldn't matter for implementation since you have already found workaround)

[2018-07-12 19:31] wesleyolis commented on #31030
Referring to the comment here, with regards to the statement below.
Unfortunately I was not allowed to dive into the source due to time.
This is now as you can see a good period and while ago. I have moved on.
Well the thing is it seems to stress out different machines..
However, the bug may havn't migrated itself.
Basically in biggers system if I typically go read existing peoples code, I can eas

[2018-07-12 19:36] yujayee commented on #30651
Hi @jkotas, the third one (pasted below) is guaranteed safe because it is used in pre-generated serializer on UWP only. I will submit a pr to fix other issues later. Thanks!

[2018-07-12 19:39] wesleyolis commented on #31030
This should help you make the connection between the base class and parent class below.
[code]

[2018-07-12 19:45] #30987 closed

[2018-07-12 19:58] karelz commented on #31030
@OmarTawfik do you the information above is actionable?
If not, let's close it as such (not enough information).

[2018-07-12 20:00] karelz commented on #30994
Was the entire 2x slowdown of `Import-CSV` only due to `GetHashCode` being slower? (it would mean it has higher contribution there than the microbenchmark above - which is a bit suspicious/interesting)

[2018-07-12 20:11] wesleyolis commented on #31030
Mabye this helps, some commit history:
Which basically show the move to the linq  way and then back again.
It is the only code modifications.
-----------------------
Author: Wesley Oliver <wesley.olis@gmail.com>  2017-01-30 13:39:10
Committer: Wesley Oliver <wesley.olis@gmail.com>  2017-01-30 13:39:10
Parent: 50760e2ace854b1203745e9e3218ce997ccb9625 (refactor: Switch to simpler algorithms for perf

[2018-07-12 20:21] Petermarcu opened #31034 "SSL connection could not be etablished"
@RyanFarrah commented on [Sat Jun 16 2018](https://github.com/dotnet/core/issues/1696)

### System
OS : Ubuntu 16.04 x86_64
.Net Core : 2.1.3

### Problem

I meet an error that says

### Details

It occurs several times and in mulitple context in my project.

I follow this tutorial : https://docs.microsoft.com/fr-fr/dotnet/csharp/tutorials/console-webapiclient.

It occurs when i tried to put
[code

[2018-07-12 20:45] jjxtra commented on #25950
I very often write my own int and long 7 bit encoder in any project that needs compressed data size. Would be nice to have public versions of int and long.

[2018-07-12 20:57] #30383 closed

[2018-07-12 20:58] pjanotti commented on #30170
The constructors that are related to AccessControl and could be covered in the package for matching functionality with Fx are:

[code]

Note that only one of them shows some usage in apisof.net: [0.10 of nuget packages](https://apisof.net/catalog/System.IO.Pipes.NamedPipeServerStream..ctor(String,PipeDirection,Int32,PipeTransmissionMode,PipeOptions,Int32,Int32,PipeSecurity,HandleInheritability))

[2018-07-12 21:33] danmosemsft commented on #25950
@jixtra this is blocked on API proposal. Would you like to write one up, per the link from @karelz?

[2018-07-12 21:33] danmosemsft commented on #25950
@jjxtra rather.

[2018-07-12 21:56] Petermarcu opened #31036 "Calling 3rd party DLL that makes calls out to the internet from .Net core fails proxy authentication despite configuring or coding the required settings"
@Toxophilus commented on [Tue May 15 2018](https://github.com/dotnet/core/issues/1563)

I have created a .Net Core 2.0 Web.API that will relay a request to a 3rd party provider via their .Net 4.0 DLL which in turn handles the communication with their Web API and returns the results.

In a simple .Net 4 application this all works perfectly and when I run my Web.API and make calls to it using a dire

[2018-07-12 22:01] Petermarcu opened #31037 ""System.Net.Http.WinHttpException" after migrating to .net Core"
@Ramin2c commented on [Tue May 08 2018](https://github.com/dotnet/core/issues/1515)

I am having a strange issue after the our .net 4 based code is being migrated to .net core 2.0. We are calling some enterprise but simple (and not long running) web services in our code. The part of the code which fetches the result from the task object fails to work when we run the .net core code from VS 2017 wit

[2018-07-12 22:10] #29047 closed

[2018-07-12 22:11] jjxtra commented on #25950
Doing it now!

[2018-07-12 22:12] jjxtra commented on #25950
Do I submit a new issue with the write up here, or somewhere else?

[2018-07-12 22:13] Genbox commented on #30994
@stephentoub The randomized seed should only introduce a small initial setup cost. I don't think it can impact GetHashCode() this much. There were, however, a few performance regressions in the Marvin hash that were attributed to the removal of a couple of AggressiveInlining attributes, but I don't seem to remember that all the regressions were found and fixed.

[2018-07-12 22:13] davidsh commented on #31036
<system.net> <defaultProxy useDefaultCredentials="true" /> </system.net>
I have also tried adding this configuration to the machine.config (which seemed a bit overkill) again no joy.
I have also tried adding to my code in my Web API:
`System.Net.WebRequest.DefaultWebProxy.Credentials = System.Net.CredentialCache.DefaultNetworkCredentials;`

The HTTP stack in .NET Core does not read from any config

[2018-07-12 22:23] jjxtra opened #31038 "Add public 7 bit encoding methods to BinaryReader and BinaryWriter"
**Summary**
Right now BinaryReader and BinaryWriter have a read/write 7 bit encoded int method that is protected. These methods are currently used to prefix strings with a byte count. Having public methods would eliminate a lot of duplicate code and unnecessary inheritance.

**Rationale**
For anyone not inheriting these classes, we must roll our own 7 bit encoding methods, or inherit these classes

[2018-07-12 22:23] jjxtra commented on #25950
Submitted as issue #31038 31038

[2018-07-12 23:14] wtgodbe commented on #30718
@karelz @SteveL-MSFT do either of you guys know enough about powershell to know how to best test a fix? I have a fix prepared, but I don't know how to get powershell to target my local build of CoreFx.

[2018-07-12 23:21] keeratsingh commented on #30913
Here is another workaround which has worked for me while debugging `System.Data.SqlClient` Tests.

1. Add the following code in the beginning of your test code, this essentially waits for you to attach the debugger.
[code]
2.  Run all the tests or a particular test in a class
#### Run all the tests
note the `/p:XunitOptions=-class` flag
[code]
#### Run a particular test
note the `/p:XunitOptions=-

[2018-07-12 23:25] pjanotti opened #31041 "Globalization tests consistent failures in coverage runs"
/cc @krwq, @tarekgh

I'm seeing consistent Globalization test failures in different coverage runs. I didn't see the same failures on last CoreFx run so I suspect that the difference is because coverage run is not on a Helix box. If you don't have cycles to look at this now I would probably just disable them for coverage runs. (Related to issues identified in #30974)

**System.Globalization.Calenda

[2018-07-12 23:29] jrvjrv opened #31042 "libraries behave badly with difficulties in linux certificate store"
$ dotnet --version
2.1.302

I created a new mvc project, started Visual Studio Code and tried to run it with F5. I got the following exceptions:

dbug: HttpsConnectionAdapter[1]
      Failed to authenticate HTTPS connection.
System.Security.Authentication.AuthenticationException: Authentication failed, see inner exception. ---> Interop+Crypto+OpenSslCryptographicException: error:2006D080:BIO routi

[2018-07-12 23:35] keeratsingh commented on #30913
@Wraith2

This is a workaround for the time being until the issue is fixed. It was working as expected and I was able to debug using VS before 0b0f63d as mentioned above.

You should see msbuild in the path when you open `Visual Studio 2017 Developer Command Prompt`
#### Visual Studio 2017 Developer Command Prompt location
[code]
#### msbuild location and version
[code]

[2018-07-12 23:41] tarekgh commented on #31041
@pjanotti these are tests using config switches. ensure the config json file are copied and exist when running the tests. these are not failing outside the code coverage. so this is code coverage issue and not test issue.

[2018-07-12 23:43] SteveL-MSFT commented on #30718
@wtgodbe I believe you can just overwrite the corefx assembly in $PSHOME

[2018-07-12 23:46] SteveL-MSFT commented on #30994
@karelz at this time, unless we get reports of other use cases impacted, I don't consider this blocking for PSCore6.1 release which also means unless the community picks it up, we don't have bandwidth to investigate further.  What profiler do you guys use with dotnetcore?

[2018-07-12 23:52] Wraith2 commented on #30913
The build process runs the vscmd batch file, I don't start that way but I could, I doubt it would change anything. I've seen some other discussion recently about using an in-box msbuild version so it may change anyway.

I've never been able to debug with VS before or after this change so I think I'm hitting a separate issue. I'll wait until this issue clears and then recheck whether I can debug te

[2018-07-13 00:17] danmosemsft commented on #30994
@stevel-Msft we own and use https://github.com/Microsoft/perfview/blob/master/documentation/Downloading.md on Windows. I am not sure of Linux procedures.

[2018-07-13 00:21] karelz commented on #30994
For Linux perf investigations, use the same: https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/linux-performance-tracing.md
@brianrob @valenis @vancem can provide additional guidance if necessary.

[2018-07-13 00:38] brianrob commented on #30994
Yup, both of those are good links - if you have any questions, I can help.

[2018-07-13 00:40] stephentoub commented on #30994
I'm sure there are ways to make Marvin faster, even exploring vectorizing it. That doesn't negate anything I said.

[2018-07-13 01:23] wolfspider commented on #2046
I think kevent/kqueue is the way to go also. FoundationDB for FreeBSD uses kevent/kqueue as the alternative to the Linux inotify and it's mostly a Linux software. The Darwin version is almost identical to the FreeBSD version in ports right now. I have somewhat of an unofficial dev branch of FDB with Python and NodeJS bindings. So I'm wondering how is SystemFileWatcher implemented on Darwin exactly

[2018-07-13 02:29] #31006 closed

[2018-07-13 04:03] danmosemsft commented on #12403
@TicoDePano thank you for the report. This is now fixed in master and we will consider servicing 2.1

[2018-07-13 04:30] TicoDePano commented on #12403
@danmosemsft thanks and sorry for not helping with the code. I'm not working with C/C++ a long time.

[2018-07-13 04:53] karelz commented on #31037
That is interesting.
First, I would suggest to try .NET Core 2.1 - we have entirely different networking implementation there (albeit with some proxy limitations at this moment).
If that fails, the next best step would be to collect and inspect Fiddler/Wireshark traces from the environment where it fails - ideally on a simple HelloWorld app which makes just one connection to the server that is cau

[2018-07-13 04:54] dixonte commented on #29620
I am also having this issue. However I feel like I may be in an odd edge case, since I'm running dotnetcore-sdk v2.1.105 on a Gentoo machine and trying to connect to SQL Server 2005 (yes, I know, I know, it can't be helped for now).

[2018-07-13 04:55] MarcToth commented on #30175
I have the same problem, but no solution. Is there any?

[2018-07-13 04:58] RussellHaley commented on #2046
@wfurt - @radovanovic's copy looked good to me. I compared it to others I had seen in bugzilla (not that I'm an expert).  I'd run this until there's an issue. The FreeBSD community are expecting you to use kqueues; I don't think that should be overlooked in this discussion. It's not Linux.

[2018-07-13 05:05] iSazonov commented on #30994
I guess _all_ cmdlets that _generate PSObject objects_ currently become two slower.

I found that this Import-Csv cmdlet has become slower when parsing and analyzing large web server logs (~ 10 GB). It took several hours with PowerShell Core and less than an hour with Windows PowerShell. I can say that Select-String and ConvertTo-Csv cmdlet is slow too.  This makes it impossible to use PowerShell

[2018-07-13 05:11] karelz commented on #31034
There seem to be 3 different reports mixed up here:
1. @RyanFarrah had problem with sample app on .NET Core 2.1, but no response since 6/16 (4 weeks). If it still repros, I would be VERY interested in following up more.
2. @mattnewell has similar symptoms in the field (with weird registry settings on client machine). No repro. It would be interesting to collect Fiddler/Wireshark traces - is that p

[2018-07-13 05:15] karelz commented on #30385
@may215 @aerotog can you please follow @tmds's steps?
Another option is that this is duplication of https://github.com/dotnet/corefx/issues/30354#issuecomment-401876757 - can you please look at Fiddler/Wireshark traces to confirm? It would be VERY helpful. Thanks!

[2018-07-13 05:16] karelz commented on #25950
I think we should have only 1 issue. @jjxtra can you please move your proposal here? Thanks!

[2018-07-13 05:20] karelz commented on #30994
@iSazonov do oyu have traces which would show that 50%+ time is spent in GetHashCode?
I'd like to clarify that the end-to-end slowdown is caused ONLY by this issue.

[2018-07-13 05:22] karelz commented on #30175
@MarcToth what about the suggestions above? Did you try them?

[2018-07-13 05:32] danmosemsft commented on #12403
@TicoDePano no problem, you are welcome to look at another issue if you like, most of our issues labeled up-for-grabs are c# changes.

[2018-07-13 05:57] radovanovic commented on #2046
If somebody pings me, or sends notification on mailing list when we can build CoreFX (without watcher) entirely on FreeBSD, I will give my best to find free day to make watcher work on CoreFX - I think it should be relatively straight forward.

[2018-07-13 05:59] davidfowl commented on #14903
Wooo!

[2018-07-13 06:03] dotnet-mc-bot opened #31047 "Test failure: System.Diagnostics.Tests.ProcessStartInfoTests/StartInfo_TextFile_ShellExecute"
Opened on behalf of @Sunny-pu

The test `System.Diagnostics.Tests.ProcessStartInfoTests/StartInfo_TextFile_ShellExecute` has failed.

Could not start C:\\Users\\runner\\AppData\\Local\\Temp\\ProcessStartInfoTests_ah4kcter.25m\\StartInfo_TextFile_ShellExecute_1014_1627f5f1.txt UseShellExecute=True\r
    Association details for '.txt'\r
    ------------------------------\r
    Open command: C:\\Wind

[2018-07-13 06:05] Sunny-pu commented on #30180
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180713.01/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Tests.Graphics_DrawLineTests~2FDrawLines_Points

[2018-07-13 06:09] mjsabby commented on #30994
I can also attest to the fact that Marvin is close to twice as slow, but it's not specific to .NET Core as pointed out and is reproducible on .NET Framework.

In my opinion we should allow a configuration setting to disable Randomized Hashing, just like we do on .NET Framework. It would be both beneficial in porting code that is (unfortunately) dependent on a stable `GetHashCode`  and alleviate th

[2018-07-13 06:14] RyanFarrah commented on #31034
Yes, I created the previous issue but don't found time to reproduce the steps indicated. Though, i'm still here.

[2018-07-13 06:48] FenrisWolfAtMiddleEarth commented on #30175
I think the conclusion is that IBM wrote a crappy library.
They somehow managed to build it as .net standard, even though it is dependent on .net core libraries

[2018-07-13 06:55] wesleyolis commented on #31030
Hi,

I was think about to does one vet system, were you don't have existing system to compare re-written process with, for others in future writing systems, of say for instance experimental, proprietary frameworks, those have alot of innovation and churn.

This is what I have come up with, mabye you guys can look into what I came up, to put the industry in a better footing for the longer term.

--

[2018-07-13 07:47] Ramin2c commented on #31037
Yes, it looked like that the .NET Core is not taking the same network route as the legacy .NET and in our case since we were behind the company proxy, it failed to go through it as it was not by default reading its address set as system environment variable. I could see this behavior in our Wireshark traces.
I totally gave up on the issue though since we now test our systems on cloud based compute

[2018-07-13 08:08] springy76 commented on #27445
@AleckAgakhan

I'm speaking of the generic `ValueTask<T>` and there exists no generic type inference for constructors. Methods have. Why do you think `Task<T> FromResult<T>(T result)` exists in the non-generic `Task` class either at the first place? Why make the transition of existing code from `Task<T>` to `ValueTask<T>` artificial complex?

[2018-07-13 08:56] marksmeltzer commented on #27445
While I completely agree with this sentiment, it is easily addressable in user-code: just make your own ValueTaskHelper static class with the FromResult API that you want, and use it in the interim. That said, the APIs would definitely benefit from consistency in the framework though.

Regards,

On Jul 13, 2018 1:09 AM, springy76 <notifications@github.com> wrote:

@AleckAgakhan<https://github.com/

[2018-07-13 08:58] McMlok commented on #31020
Yes, we used `netsh winhttp` commands for setup proxy for WCF client

OK, I dont know exactly how WCF client works underhood before 2.1 and usage of HttpClient was my guess.

My IE settings are
`*.lab.domain.com;etrservice-sit.lab.domain.com;etrservice-int.lab.domain.com;etrservice-dev.lab.domain.com;etrservice-ref.lab.domain.com;tfs.domain.com;etradmin.domain.com;nexus.domain.com`

When I try thi

[2018-07-13 09:09] Jaryllan commented on #30752
Hi guys, any update on this?

[2018-07-13 10:33] tmds commented on #31042
This is fixed in the 2.1.3 servicing release (https://github.com/dotnet/corefx/issues/29942).

[2018-07-13 10:36] disant1 commented on #3784
Thanks. This way work good(win 10, VS 2013):

The fix for me was to add myself to the list of permissions of C:\Users\All Users\Microsoft\Crypto\RSA\MachineKeys folder with Full Control. A side note: I'm a participant of Administrators group and it was there with Full Control but it wasn't enough.

[2018-07-13 10:49] jnm2 commented on #27445
I agree with the proposal, but I have to say I find the sentiment offensive and potentially foul of the .NET Foundation code of conduct.

[2018-07-13 10:59] MarcToth commented on #30175
FYI: That's what I found on the IBM web [page](https://www.ibm.com/developerworks/community/blogs/96960515-2ea1-4391-8170-b0515d08e4da/entry/Instructions_for_downloading_and_using_DB2_NET_Core_provider_package?lang=en):

    It is not available in this release.

So we have to wait (again) for IBM to fix this...maybe...

[2018-07-13 11:08] andriysavin commented on #31014
@davidsh I tried to minimize the code to reproduce this, and looks like the source of the problem was not as obvious as it seemed. To explain, my application uses MapControl with an external tile source based on the `HttpMapTileDataSource` class. Actually, I have several copies of the same tile source, and they are swapped when the map is scrolled. In short, this is done to refresh a particular ar

[2018-07-13 11:40] mattnewell commented on #31034
Hey, @karelz, thanks for following up. Unfortunately, it's not possible to gather that info at this time. If I ever see an opportunity, I'll take it, but don't wait on me. At this point, I'm not 100% sure that my report is legit.

[2018-07-13 11:43] tunix79 opened #31049 "Interop: Assigning handler to COM event raises PlatformNotSupportedException"
I'm maintaining a COM in-proccess server that acts as a bridge between a native application and an ASP.NET core 2.1 web service. So far, I've been able to maneuver around the somewhat limited IDispatch support (as every interface is implemented as dual anyway). Well, with the exception of subcribing to COM based events. Everything compiles as expected, even the events show up in IntelliSense as th

[2018-07-13 11:53] ViktorHofer commented on #30752
@Anipik the regression is not related to https://github.com/dotnet/corefx/commit/190132d89e47d2623372485b207f4371e05529e1 as it is the same with netcoreapp2.0. Seems we regressed it to begin with when we ported it over from netfx.

[2018-07-13 12:00] stephentoub commented on #14903
:smile:

[2018-07-13 12:14] kae commented on #23518
@davidsh

Is there a possibility that 'tracking-external-issue' label not really correct?

Considering that issue is reproducible with SocketsHttpHandler but works with CurlHandler (when enabled with environment variable in NET Core 2.1 on linux)

[2018-07-13 12:33] ViktorHofer commented on #30752
Perfview:

![image](https://user-images.githubusercontent.com/7412651/42691795-b5d62b42-86a9-11e8-8366-f64c58fe7e09.png)

[2018-07-13 12:53] jnm2 commented on #27445
You did not get a thumb down for trying your best to explain the need for the API, which as I said I agree with. I voted the comments down because you chose hostile wording each time.

[2018-07-13 12:53] grahamehorner commented on #8237
@davidsh I would agree, as this could then be used in any number of use cases including SFTP connection via Azure Functions, Data Factory, and others including IoT devices

[2018-07-13 12:54] jnm2 commented on #27445
You did not get a thumb down for trying your best to explain the need for the API, which as I said I agree with. I voted the comments down because you chose hostile wording each time. Nationality is not relevant. Hostility is childish and ineffective.

[2018-07-13 13:07] Smile4ever commented on #19098
For people coming through Google:

I had the same error message, I solved it by adding a HttpClientHandler to my HttpClient with the property UseProxy set to false:

[code]

[2018-07-13 13:10] filipnavara opened #31050 "System.Security: X509Store.Remove/Range behavior difference on macOS"
X509Store.Remove[Range] on read-only store should not throw exceptions for the certificates that are  not present in the store. The Windows and Unix implementations seem to interpret it correctly. The macOS implementation always throws an exception without doing the lookup.

The relevant unit test (RemoveReadOnlyThrowsWhenFound) is useless and thus it didn't show the problem. A new unit test shoul

[2018-07-13 13:22] gro22 commented on #30147
Hi @keeratsingh the same issue on the CentOS 7

 System.Data.SqlClient.SqlException : A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: SSL Provider, error: 31 - Encryption(ssl/tls) handshake failed)
---- Interop+Crypto+OpenSslCryptographicException : error:2006D002:BIO routines:BIO_new_file:system lib
Stack Trace:
   a

[2018-07-13 13:54] ramon-garcia opened #31051 "Regular expressions: anchor to start (^) does not work when calling Regex.Match with startat > 0"
The problem is when one tries to look for a pattern inside a string, with a start position. And one uses the caret to avoid looking for matches except at this position. Since this is a long string, one wants to avoid either taking a substring (which is O(N) ) or looking for matches except at the start.

For instance

        static void Main(string[] args)
        {
            Regex r = new Regex

[2018-07-13 13:58] stephentoub commented on #31017
I appreciate the desire for a change here, but I don't think there's any action on this possible right now. I don't think we can or should change the default.

[2018-07-13 13:59] jjxtra commented on #31038
Moved to #25950

[2018-07-13 13:59] #31038 closed

[2018-07-13 13:59] jjxtra commented on #25950
**Summary**
Right now BinaryReader and BinaryWriter have a read/write 7 bit encoded int method that is protected. These methods are currently used to prefix strings with a byte count. Having public methods would eliminate a lot of duplicate code and unnecessary inheritance.

**Rationale**
For anyone not inheriting these classes, we must roll our own 7 bit encoding methods, or inherit these classes

[2018-07-13 14:06] iSazonov commented on #30994
Link to perf trace file https://ufile.io/nkzgh
Script for test
[code]

[2018-07-13 14:08] jnm2 commented on #31051
When I was in this situation, I found `\G` useful: https://docs.microsoft.com/dotnet/standard/base-types/anchors-in-regular-expressions#Contiguous

It only works if the position you wish to start from is always the end of the previous match.

[2018-07-13 14:35] tannergooding commented on #27445
@springy76, to answer some of your points.

This is a fairly long thread and a new type was added. Sometimes APIs are really just missed.

The proper thing to do is to open a new API proposal (following the recommended process: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) and have it go through review -- I am happy to help with this if you need it.

[2018-07-13 14:36] ramon-garcia commented on #31051
@jnm2 Thank you, the trick worked. But it is counterintuitive.

[2018-07-13 15:39] Rajivts commented on #16680
Hi @krwq

I can see the 29.5% coverage now, and for running my own tests I am using the commands mentioned in the code-coverage document above. However, it would make the job much easier if I could run the tests within Visual Studio, which I am currently struggling with. I am getting the following message on trying to run the tests in Visual Studio: "No test is available. Make sure that test disco

[2018-07-13 15:56] #31017 closed

[2018-07-13 15:57] tarekgh commented on #31017
@petroemil feel free to reply back if you have any more questions or anything need to follow up. Thanks for reporting the issue.

[2018-07-13 16:02] logankp commented on #29620
I'll try to get a network trace later today or next week. My company has deprioritized fixing this and I haven't had much time.

[2018-07-13 16:08] keeratsingh commented on #30961
Hi @vsundaralingam, `SQLServer 2005` is no longer supported, kindly try with either `SQLServer 2008 SP4`, `SQLServer 2008 R2 SP3` or any SQLServer version later than the ones mentioned above and revert back.
https://support.microsoft.com/en-us/lifecycle/search/?c2=1044

[2018-07-13 16:16] danmosemsft commented on #30175
@MarcToth, we are talking to the package owners at the moment.

[2018-07-13 16:18] Petermarcu opened #31052 "System.Data.SqlClient 4.4.3 is not compatible with netcoreapp 2.0"
@shpsyte commented on [Thu Jun 28 2018](https://github.com/dotnet/core/issues/1735)

# System.Data.SqlClient 4.4.3 is not compatible with netcoreapp 2.0

Hi, after install .net core 2.1, I just Create WebApp using .net Core 2.0.8 and I get this error.

# General

I Know if downgrade to .net core 2.0.3 I resolve this, but why this happens ?

.Net Core 2.0.8
![capturar](https://user-images.githubuse

[2018-07-13 16:23] vsundaralingam commented on #30961
Hi @keeratsingh, yep, it works great in SQL Server 2012. thanks for the update!

[2018-07-13 16:31] jrvjrv commented on #31042
@tmds

I saw that, but I was unsure if that fix was included in 2.1.302, which is what I was running. If it was, that fix did not solve the problem. If the fix was not addressed in 2.1.302, then you are problem is probably fixed by that code from what I see.

[2018-07-13 16:38] davidsh commented on #23518
Considering that issue is reproducible with SocketsHttpHandler but works with CurlHandler (when enabled with environment variable in NET Core 2.1 on linux)

This issue is tracking only WinHttpHandler.  So, the 'tracking-external-issue' label is appropriate.

This issue is not tracking SocketsHttpHandler work to enable this scenario.  SocketsHttpHandler currently doesn't support HTTP/2.0. So, the s

[2018-07-13 16:42] tylerl0706 commented on #30170
I ended up going the p/invoke route and borrowed most of the code from PowerShell...
https://github.com/PowerShell/PowerShellEditorServices/blob/1031e2296449ab30bb4968e0285566a33e4bf9f4/src/PowerShellEditorServices.Protocol/MessageProtocol/Channel/NamedPipeServerListener.cs#L136-L274

It's ugly... But at least our pipes are secure.  `-CurrentUser` would do the trick... But I have to support back t

[2018-07-13 16:47] tmds commented on #31042
The fix is not included. sdk version 2.1.302 is runtime version 2.1.2.

[2018-07-13 16:52] jorive opened #31053 "Windows_NT performance runs are broken"
The tests started failing right after this commit: 5f3d22a7f335ae4c1dd57f9ac8b7460a13d57ee0

One of the commits in the link below might have caused the break.
https://github.com/dotnet/corefx/compare/5f3d22a7f335ae4c1dd57f9ac8b7460a13d57ee0...dotnet:0b0f63d47951773cc46393312d80b40176d3a413

[2018-07-13 16:52] pjanotti commented on #30170
Thanks for reporting back. I am under the impression that `CurrentUserOnly` should satisfy most needs in this regard... but we may get more people asking for this as they migrate from Fx to CoreFx.

[2018-07-13 16:55] danmosemsft commented on #30170
@tylerl0706 as you probably know 2.0 will go out of support in 2 1/2 months - [Oct 1st]( I have to support back to .NET Core 2.0) so perhaps you can move to `CurrentUserOnly` at that point?

[2018-07-13 16:56] danmosemsft commented on #31053
@eerhardt this may be the SDK project update

@jorive can you please point to logs or other info?

[2018-07-13 16:58] danmosemsft commented on #30752
Can you resolve the coreclr/corelib symbols?

[2018-07-13 16:59] jorive commented on #31053
The first failure happened on this run: https://ci2.dot.net/job/dotnet_corefx/job/perf/job/master/job/perf_windows_nt_release/6117/

This is the run log:
https://ci2.dot.net/job/dotnet_corefx/job/perf/job/master/job/perf_windows_nt_release/6117/consoleText

[2018-07-13 17:00] pjanotti commented on #31041
The PRs above fix the coverage runs for these tests. The coverage run will only work correctly when both changes are in place but having the CoreFx merged before the buildtools one doesn't cause any problems.

[2018-07-13 17:00] davidsh commented on #31020
There might be multiple bugs at work here.

Computer one - Windows 10 1703 in domain which proxy trust. End with HTTP 200
Computer two - Windows 10 1803 outside of domain which proxy trust. End with HTTP 407 from proxy.

There is a bug in .NET Core 2.1 regarding the use of authenticating proxies that use Windows auth schemes (Negotiate/NTLM).  You might be hitting either #30327 or #30330.

OK, I d

[2018-07-13 17:01] davidsh commented on #31020
.NET `WebProxy` class does not support wildcards.  Neither .NET Framework nor .NET Core have ever supported that.

[2018-07-13 17:05] danmosemsft commented on #31047
https://github.com/dotnet/corefx/issues/29815

[2018-07-13 17:05] #31047 closed

[2018-07-13 17:09] jorive commented on #31053
The test is harnessed here: https://github.com/dotnet/corefx/blob/952b260f230afb771e8aa65586ea213418641082/perf.groovy#L99
This is the command you need to run locally:
[code]

[2018-07-13 17:14] joshfree commented on #31049
@jeffschwMSFT

[2018-07-13 17:28] bartonjs commented on #31028
Hm. Clearly I thought that delete had an implicit release.

Testing on 10.13 by calling CFGetRetainCount before DeleteInKeychain and after shows it didn't decrement.

It also shows that none of the tests that get that far passed in an identity, always a cert.  But since the CFRetain in the cert path is to make up for the implicit retain by SecIdentityCopyCertificate, it should be correct to add th

[2018-07-13 17:36] filipnavara commented on #31028
I have one pending PR touching the code, so I will do it over the weekend.

[2018-07-13 17:45] bartonjs commented on #31050
I don't think the test needs to be outer-loop, since it shouldn't (by definition) be mutating machine state.  (If RemoveReadOnlyThrowsWhenFound "successfully" removed the arbitrary first certificate it can't necessarily put it back (the private key may have been deleted), there'd need to be something horrendously wrong with RemoveReadOnlyIsSilentWhenNotFound for it to have a discernable effect)

[2018-07-13 17:47] eerhardt commented on #31053
Working on a fix.  I can repro this locally.

[2018-07-13 18:00] Anipik commented on #30752
@ViktorHofer was there then some issue with how I collected the benchmark data back then  ?

[2018-07-13 18:01] wtgodbe commented on #30718
Actually in testing without my change, I get a different result than you did. My output is:

However, running `read-host` on its own works as expected.

[2018-07-13 18:05] NicolasDorier opened #31056 "Task.Delay(-1) should not create a leak"
# Issue

I implemented this so I could make any Task cancellable:

[code]

But to my surprise, it created a leak! As `Task.Delay` get added to a list.

![image](https://user-images.githubusercontent.com/3020646/42706696-a9d827aa-8712-11e8-8f92-3f61958a57e0.png)

# Workaround
[code]

There is no reason `Task.Delay(-1)`  get monitored.

# Expected result

This code should not leak
[code]

[2018-07-13 18:17] keeratsingh commented on #30147
Hi @bartonjs, @saurabh500 mentioned you might be able to guide us in the right direction on how to tackle this issue. Any suggestions/ideas ?

[2018-07-13 18:17] wtgodbe commented on #30718
I'm also having trouble testing with a local version of CoreFx - after copying in CoreFx libraries, I'm getting errors like:

   at System.Diagnostics.FileVersionInfo.GetVersionInfo(String fileName)
   at System.Management.Automation.PSVersionInfo..cctor()
   --- End of inner exception stack trace ---
   at System.Management.Automation.PSVersionInfo.get_GitCommitId()
   at System.Management.Automa

[2018-07-13 18:29] ViktorHofer commented on #30752
No, what I tried to say is that your change is not connected to the regression. It's probably a regression of Mutex or Mutex + BinaryFormatter code.

[2018-07-13 18:31] #31041 closed

[2018-07-13 18:31] krwq commented on #16680
@Rajivts:
- make sure you use VS 2017 (community version is free)
- make full build as you usually do in corefx (i.e. build.cmd)
- open related sln file
- right click on test project and "Set us startup project" (or something like that)
- try running

if you want to edit the command line to run coverage go to project options and in the Debug tab edit command line as desired

[2018-07-13 18:45] jeffschwMSFT commented on #31049
@AaronRobinsonMSFT

[2018-07-13 19:19] #31053 closed

[2018-07-13 19:23] MarcoRossignoli commented on #30185
@danmosemsft @brianrob ProfileOptimization.cs goes to shared folder(corefx mirror) on coreclr?Can you explain to me when put files on shared?

[2018-07-13 19:40] Anipik commented on #27297
Failed again https://mc.dot.net/#/user/Anipik/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Frelease~2F2.1~2F/test~2Ffunctional~2Fcli~2F/4a3f9eee07bac432df09baab03285cf905d3044d/workItem/System.Data.Common.Tests/analysis/xunit/System.Data.Tests.DataTableTest~2FWriteXmlSchema3
[code]

[2018-07-13 19:40] bricelam commented on #30720
We (ASP.NET) just hit this on our CI too. From the [MusicStore](https://github.com/aspnet/MusicStore) sample's smoke tests when using System.Data.SqlClient version 4.6.0-preview1-26708-04.

[2018-07-13 19:46] jkotas commented on #30185
This is applicable to CoreRT as well. We maintain same public surface across between different .NET Core runtimes.

Since this is just a trivial forwarder to another API, I think it can go to https://github.com/dotnet/corefx/tree/master/src/System.Runtime.Extensions/src/System/Runtime .

[2018-07-13 19:58] natemcmaster commented on #30955
FYI, this failure also appeared when we updated EF tests to Microsoft.NETCore.App 2.1.2. Were there changes either in corefx or EF Core between 2.1.0 and 2.1.2 which may have led to this?

[2018-07-13 20:04] IdahoSixString commented on #31056
@NicolasDorier

Does this problem occur when using

Task.Delay(Timeout.Infinite);?

[2018-07-13 20:07] MarcoRossignoli commented on #30185
no coreclr, right?

[2018-07-13 20:45] SteveL-MSFT commented on #30718
@wtgodbe that exception is complaining it can't find SMA.dll at that location.  Did you only overwrite the single assembly?

[2018-07-13 20:45] AfsanehR commented on #30720
@Sunny-pu  @bricelam  I was looking into this. So `PoolBlockingPeriod` connection property is defined in its specific class in `SqlConnectionStringBuilder.NetCoreApp`  which will only get compiled in the target netcoreapp group.

It looks like when creating `SqlConnectionStringBuilder` , it's picking up the property from `SqlConnectionStringBuilder.NetCoreApp` class, but in `Reset() `method, it's

[2018-07-13 20:48] tylerl0706 commented on #30170
@danmosemsft PowerShell Editor Services (which powers things like the vscode PowerShell extension) is dependent on whatever version of PowerShell the user is using. Since PowerShell Core 6.0.0 shipped with .NET Core 2.0.X, we will have to support .NET Core 2.0.X until we're ready to drop PowerShell 6.0.0 support in the vscode extension (maybee after 6.1.0 is released which is on Core 2.1... Need t

[2018-07-13 20:53] wtgodbe commented on #30718
I did, in that case I get:

Could not load file or assembly 'System.ComponentModel.Primitives, Version=4.2.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.

If I follow the chain & copy over the other dependencies (`System.ComponentModel.Primitives` and `System.Runtime`), I get:

   at System.Environment.FailFast(System.String, System.Exception)

[2018-07-13 20:55] weshaggard commented on #30720
It looks like the define should be getting set https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System.Data.SqlClient.csproj#L14 from a quick glance. I guess you will need to debug to ensure the binary that gets picked up in these scenarios has it set. Currently netcoreapp maps to netcoreapp2.1 so it would only be in something targeting that and not any older netcoreapp t

[2018-07-13 20:55] tylerl0706 commented on #30170
Thanks all for the quick responses. I really appreciate it!

[2018-07-13 20:59] pjanotti commented on #30170
Notice that `CurrentUserOnly` is only on netcoreapp, so no way to target .NET Standard and use it at this moment. BTW, it seems reasonable to add `CurrentUserOnly` to .NET Standard vNext.

[2018-07-13 21:00] igalnassi commented on #24829
I have been using TraceSource very successfully in .Net Framework with the initial configuration done through app.config and support for runtime updates on the log levels / listeners etc. Now, I have to write my own logic to handle initial configuration from a config file? This seems wrong.

Is there a logger that can be used for both .Net Framework and .Net Core that would work the same way and h

[2018-07-13 21:05] AfsanehR commented on #30720
@weshaggard Thanks! should I add netcoreapp2.0 in [Configurations.props](https://github.com/AfsanehR/corefx/blob/880e4f031cdcce58fc8a4bf6b95c34caa0f9cfa4/src/System.Data.SqlClient/tests/ManualTests/Configurations.props)? I am just wondering if we have anything older than that?
In my original PR, we were only targeting netstandard and netcoreapp; now I see new targets added to it.

[2018-07-13 21:05] stephentoub commented on #31056
I don't see a bug here. `Task.Delay` doesn't know or in any way adhere to the scope in which it's called (how could it?), and you created it in a way that registers it with a particular `cancellationToken`, such that if that cancellation token is ever canceled, the resulting task will complete.

[2018-07-13 21:19] bartonjs commented on #30147
`Interop+Crypto+OpenSslCryptographicException : error:2006D002:BIO routines:BIO_new_file:system lib` happening during a time when you would expect a certificate chain / trust decision means that there are files in `/etc/ssl/` (or wherever the correct directory is for the distro) that are broken symlinks or they point to files the current user can't read.  This is/was #29942, which will be fixed in

[2018-07-13 21:33] weshaggard commented on #30720
Actually after looking at your PR a little closer and the callstack of the failure it looks like you need some more #if defs in your code.

See https://github.com/dotnet/corefx/pull/29697/files#diff-a875f647a02845782d51e96ad374c03bR110, you add it to the list of validkeywords so when someone calls Clear it tries to reset it but the code in reset doesn't know about it.

[2018-07-13 21:42] AfsanehR commented on #30720
@weshaggard I see. Thanks will apply these changes.

[2018-07-13 21:53] nilobject opened #31061 "2.1 Breaking Change for SSL Certificate"
## Problem:

A particular integration we have no longer works in 2.1, but it works fine in 2.0. The SSL certificate checks out in CURL, OpenSSL, SSL Labs, and more. When implementing ServerCertificateCustomValidationCallback on a custom HTTP Handler the error is `RemoteCertificateNameMismatch`. However, the name on the URL does match as far as I can tell, and it only is broken in 2.1.

## Environm

[2018-07-13 22:04] stephentoub commented on #31061
I think it's likely this is:
https://github.com/dotnet/corefx/issues/30388
which was fixed recently in the release/2.1 branch by:
https://github.com/dotnet/corefx/pull/30553

cc: @bartonjs, @danmosemsft

[2018-07-13 22:07] davidsh commented on #31061
The certificate itself uses different casing than the DNS name specified in the code.

Certificate:
![image](https://user-images.githubusercontent.com/7684835/42716025-6e870e3c-86ae-11e8-900d-e3ae78fbc23a.png)

[2018-07-13 22:09] nilobject commented on #31061
@stephentoub Honestly that looks like exactly it -- when I was guessing on the case sensitivity issue, I looked at the code, but I didn't look at the code as it was tagged for the last release.

@davidsh The RFC states that subject names and alternate names are meant to be treated case insensitively. Also, I did point out that I tried changing the case.

[2018-07-13 22:10] bartonjs commented on #31061
Yep, seems to just be #30388.  My test tool says it successfully connects using code from master

[code]

[2018-07-13 22:11] davidsh commented on #31061
As mentioned, this bug is already fixed in the 2.1 servicing branch.  A servicing update for 2.1 will be shipped with this fix within the next month or two.

Duplicate of #30388

[2018-07-13 22:11] #31061 closed

[2018-07-13 22:36] divega commented on #30955
FYI, the failure is coming from the part of the test that does *not* use EF Core. @maumar is trying to create a smaller repro.

[2018-07-13 22:43] danmosemsft commented on #30781
@ReubenBond ? If you guys can OK master, that would make us more comfortable with taking this into 2.1 in servicing.

[2018-07-13 22:44] #30876 closed

[2018-07-13 22:53] ReubenBond commented on #30781
Apologies, I'll try to build CoreFx and test today.
Thank you for addressing it so quickly.

Please note the second issue which resides in `BlockingCollection<T>` itself: https://github.com/dotnet/corefx/issues/30781#issuecomment-402371237

[2018-07-13 22:56] stephentoub commented on #30781
There's no issue if the wrapped collection behaves correctly, though, right?

[2018-07-13 23:12] ReubenBond commented on #30781
@stephentoub that's right, so this fix should rectify our problems. It's just a question of resiliency, since a transient error with the underlying collection will break the BlockingCollection

[2018-07-13 23:13] BruceForstall commented on #26944
I'm going to close this, due to https://github.com/dotnet/coreclr/pull/18365 and subsequent changes.

[2018-07-13 23:13] #26944 closed

[2018-07-13 23:17] tarekgh commented on #31056
@NicolasDorier I am closing this as this is expected behavior as @stephentoub mentioned. feel free to reply with any more questions if you have any.

[2018-07-13 23:17] #31056 closed

[2018-07-13 23:31] danmosemsft commented on #30994
@iSazonov I took a quick look at the trace. The inclusive time spent in system.private.corelib!Marvin.ComputeHash32 is 1% of the trace time.

It seems to me then the next step is either for Powershell folks to compare a profile with .NET Framework to see what changed, or analyze the scenario, and return back here if improvements are needed in .NET Core itself.

I do see much of the time is in coll

[2018-07-13 23:37] danmosemsft commented on #30994
It might be worth looking eg at whether any of these collections can be presized at least roughly. 6.7% inclusive time is in simply constructing Hashtables. 4.1% in resizing ArrayList. (Both those types backing OrderedDictionary). 3.3% time in resizing List (used directly by Powershell)

I'm going to close this please feel free to reopen if I mis-analyzed.

[2018-07-13 23:38] eerhardt opened #31064 "Remove System.Runtime.Intrinsics.Experimental and add intrinsics APIs back into Microsoft.NETCore.App"
Now that the master branch is on the `3.0` train, and we plan on shipping the System.Runtime.Intrinsics APIs as stable in `3.0`, it is time to drop the experimental nuget package, and add the APIs back into Microsoft.NETCore.App.  We should do this soon, so others can consume these APIs easily.

/cc @tannergooding @CarolEidt @danmosemsft

[2018-07-13 23:40] danmosemsft commented on #31064
@tannergooding is this something you can do for us?

[2018-07-13 23:43] tannergooding commented on #31064
Yes. Should be fairly trivial.

[2018-07-13 23:45] mjsabby commented on #30994
@danmosemsft This issue is talking about GetHashCode() being slower on .NET Core vs .NET Framework, the PowerShell issue has shed some light onto it but I think it is independent of this. It may very well be that the PowerShell issue is a set of issues but I would think we want to improve GetHashCode on .NET Core, both by improving the code quality and in my opinion also providing the ability to q

[2018-07-13 23:48] danmosemsft commented on #30994
Yep, certainly it would help everyone to make it faster. Happy to keep the issue to track possible work there. I think we should be clear though whether real workloads are significantly impacted by the randomization because that affects the priority of working on it.

[2018-07-13 23:49] ReubenBond commented on #30781
Apologies, @stephentoub @danmosemsft, could you point me in the right direction for using a local corefx build from a csproj?

[2018-07-13 23:51] danmosemsft commented on #30781
@ReubenBond you want https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md in particular I think you need https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md#option-1-framework-dependent (because this fix has not yet been built into a full product build)

[2018-07-14 02:09] #28249 closed

[2018-07-14 02:49] maumar commented on #30955
**Update:** I was able to simplify the solution significantly, although still there is some junk remaining. It can be found here: https://github.com/aspnet/EntityFrameworkCore/tree/repro30955_213 (EFCore repo, branch: repo30955_213).

Steps to reproduce is to run build.cmd from the main directory. It still builds EF and there are some references yet to be removed. Takes a few minutes to build EF f

[2018-07-14 03:09] NicolasDorier commented on #31056
Indeed it makes sense now.  Thanks.

[2018-07-14 04:44] jkotas commented on #30185
Right

[2018-07-14 04:53] danmosemsft commented on #31030
@wesleyolis unfortunately this is not actionable for us. We would need code that repros the problem, , or at least a problem that is much more localized and explicitly described. Please reactivate if you get to that point.

[2018-07-14 04:53] #31030 closed

[2018-07-14 06:05] SteveL-MSFT commented on #30718
The alternative is to allow passing args, but document that on non-Windows, the args get passed the default app (on Windows, it does get passed to the executable at least in the `pwsh` test case).  The downside to supporting that is the end user needs to know exactly what the default app is.  For example, if they open a URL, then the command line args passed to Chrome may not work with Firefox.  I

[2018-07-14 06:21] ReubenBond commented on #30781
Thanks, @danmosemsft.

It worked! This change fixes the issue we were experiencing.

As a bonus, I see a *massive* speed improvement in our little Orleans repro project when running netcoreapp3.0 with the latest nightly SDK compared to netcoreapp2.0 on SDK 2.1.301.

Before: 41.48 ms per iteration on average
After: 14.07 ms per iteration on average

[2018-07-14 09:04] hughbe opened #31068 "Marshal.GetStartComSlot throws in .NET Core for int/string/int*"
[code]

[code]

[code]

[2018-07-14 09:09] hughbe opened #31069 "Ansi marshalling for non-ansii chars on Unix is incorrect and does not match Windows/.NET Framework"
[code]

[code]

[2018-07-14 09:48] #30595 closed

[2018-07-14 10:29] davidkaya commented on #21055
@danmosemsft I will take this one.

[2018-07-14 10:50] GSPP opened #31070 "Expose SQL Server Command Sets (System.Data.SqlClient.SqlCommandSet)"
Command sets are a SQL Server / TDS facility that lets database clients send multiple batches in one round trip. This can be very beneficial for performance. This facility is currently only being used by the `SqlDataAdapter` infrastructure. This infrastructure is not being used by modern apps anymore and it exposes only a very limited functionality (not arbitrary commands).

Command sets can help

[2018-07-14 12:41] stephentoub commented on #31069
By design. Ansi on Unix is UTF8.

[2018-07-14 13:01] #31069 closed

[2018-07-14 13:06] stephentoub commented on #30781
Thanks for validating!

Did you try with netcoreapp2.1? My assumption is that's where the bulk of the wins are coming from, though there has already been some additional perf work for netcoreapp3.0, just not as much.

Thanks. We'll close it when we either close or merge the release/2.1 port PR.

[2018-07-14 13:40] petroemil commented on #31017
You are right, my suggestion might have been going a bit too far, we probably shouldn't just change the default behaviour as it could break things... but it could be made configurable. An attribute that can be applied on method/class/assembly level maybe.

[2018-07-14 15:20] danmosemsft commented on #21055
@davidkaya you are welcome. Let us know if you have questions. There are plenty of past PRS that add API and help in our Documentation also.

[2018-07-14 15:43] cyberphone commented on #29271
This topic has now reached an unprecedented level of weirdness:
https://github.com/tc39/proposal-bigint/issues/24#issuecomment-404874878

[2018-07-14 15:58] TomasHubelbauer commented on #26165
@benjaminpetit Did you end up summing up all the usages across all the processes or did you find a better API to give you the CPU usage and RAM usage?

[2018-07-14 16:14] vcsjones opened #31073 "SignedCms considers signature invalid on .NET Core but valid on .NET Framework"
While @onovotny and I were experimenting with NuGet package signing on netcoreapp2.1 on Windows, we seem to have run in to a behavioral difference of `SignedCms` between .NET Core and the .NET Framework. The .NET Framework considers a PKCS#7 correctly signed, while .NET Core does not.

When NuGet timestamps a package, [it validates the received timestamp][2] after receiving the timestamp

We notic

[2018-07-14 16:15] jnm2 commented on #31017
@petroemil You might be interested in https://github.com/dotnet/roslyn/issues/7673.

[2018-07-14 16:17] onovotny commented on #31073
/cc @dtivel

[2018-07-14 16:19] onovotny commented on #31073
I believe this issue requires a patch for .NET Core 2.1 as 2.1 is an LTS release.

[2018-07-14 16:20] GrabYourPitchforks commented on #31073
/cc @jbarton

[2018-07-14 16:21] GrabYourPitchforks commented on #31073
/cc @bartonjs

[2018-07-14 16:35] roji opened #31074 "API Proposal: Add PipeWriter accessor for the number of currently-buffered bytes"
# The Problem

Applications use two major APIs when writing to a PipeWriter:

* `Advance()` "commits" bytes written to a previously-obtained Span or Memory, and
* `FlushAsync()` which makes all committed bytes visible to the reader.

If an applications needs to write a particularly large value (say a very large string), care must be taken not to buffer too much; doing so needless inflates memory u

[2018-07-14 16:36] roji commented on #30941
Closing in favor of #31074 (official API proposal).

[2018-07-14 16:36] #30941 closed

[2018-07-14 17:12] bartonjs commented on #31073
Seems like the problems we fixed in https://github.com/dotnet/corefx/pull/30432/files.

[2018-07-14 17:20] vcsjones commented on #31073
Thanks. I'll pull down a nightly and give it a shot.

[2018-07-14 18:11] vcsjones commented on #31073
I appear to be lost in a labyrinth of version numbers and links to nightlies that contain vague references to the number two. However, changing the package reference to

[code]

My `nuget.config` looks like

[code]

I can still reproduce the issue. Is there a better way of testing / grabbing a 2.1.3 build that contains the fix?

[2018-07-14 19:59] kblok opened #31076 "Breaking change on WebSocket.ReceiveAsync"
I started getting a `WebSocketException` sent from [ThrowIfEOFUnexpected](https://github.com/dotnet/corefx/blame/06aa6f0ce4cdf78985f029f218007a7d55f8965f/src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs#L1203) when I upgraded the [Puppeteer-Sharp demo app](https://github.com/kblok/puppeteer-sharp/tree/master/demos) from .NET Core 2.0 to 2.1.

The [GetResponseAsync](https://github.com/kblok

[2018-07-14 20:01] stephentoub commented on #31076
Is this WebSocket created for the server side or the client side?

What OS?

What version of .NET Core are you using? You said 2.1, but is that 2.1.0, 2.1.1, 2.1.2, etc.?

[2018-07-14 20:11] kblok commented on #31076
WebSocket created on the server side, it's a chromium process.
I got this on Windows 10 and also on macOS Sierra.

I was on 2.1.0. I just downloaded the latest SDK, now `dotnet --version` returns 2.1.302.

Another thing. It only happens when I add a `await Task.Delay(3000);` between calls.  KeepAliveInterval is set to 60 seconds

[2018-07-14 20:34] hughbe opened #31077 "Marshal.GetNativeVariantForObject throws ComException for various objects"
[code]

[2018-07-14 20:57] AdamSpeight2008 opened #31078 "IImmutableIsDefault Interface."
There is a hacky section of code in [Roslyn](http://source.roslyn.codeplex.com/#Microsoft.CodeAnalysis/TreeDumper.cs,158)
[code]
The could be much simpler if it `ImmutableCollections` implemented an interface, so it would be possible to check if it is the default without knowing the explicit generic T-ness.

For example
[code]

[code]

[2018-07-14 21:22] davidfowl commented on #30689
It’s extremely difficult to predict the memory usage of an application if the limits are just soft limits. This can lead to security issues in the worse case if remote client can basically force the server to buffer indefinitely.

Currently you need to have a max message size that is less than the pause writer threshold. That’s completely logical as the entire point of that property is to limit th

[2018-07-14 21:31] ciddan commented on #30689
I ran into exactly this issue when trying out pipelines today, result in the following code which basically defeats the entire purpose of using Pipe in the first place:

[code]
The discrepancy between `buffer.Length` and `buffer.End` also threw me for a loop for a while. buffer.Length could be 16k while buffer.End was 2k.

[2018-07-14 21:34] hughbe opened #31079 "Marshal.QueryInterface for IDispatch for int/string etc. returns error not success"
No errors with netfx

[code]

[2018-07-14 21:38] davidfowl commented on #30689
@ciddan why didn't you just increase the threshold?

I'm confused here. What do you mean "while buffer.End" was 2k?

[2018-07-14 21:47] ciddan commented on #30689
@davidfowl
1) Because the threshold isn't deterministic. I can't guarantee the size of message that will be sent to me (API outside of my control).
2) I was trying to "do the right thing" and only use `buffer.End` for Slicing and Advancing, but Slicing using buffer.End would sometimes give me more bytes than the 2048 indicated by buffer.End - up to the full 32k default limit.

Doing this:
[code]
c

[2018-07-14 21:55] davidfowl commented on #30689
Don't you have that same problem with the code you wrote? If that code represents a server, you'll just rent a single array from the default memory pool of the length specified by the client. How is this logic any better than increasing the limit?

I'm confused by this. Of course it would give you more than 2048, why did you think it wouldn't? This diagram was supposed to show that:

![image](http

[2018-07-14 22:00] ciddan commented on #30689
Let's just say all the nuances of the API aren't immediately apparent after reading your article and the simplified use case of the example repo. Remember, we haven't all been working with Pipeline for an extended period of time. To me, the intuitive thing after reading the example code was to rely on buffer.End when Slicing. Especially when buffer.End.GetInteger() would give me 2048 back, but whe

[2018-07-14 22:07] stephentoub commented on #31076
I took a look at your repro.  Thanks for sharing it. I don't believe this is a breaking change; in fact, I don't believe there's a bug here in .NET Core; rather, there appears to be a bug in whatever code is being used to implement web sockets for chromium.

The exception is correct: the server is closing the connection.  And it's doing so immediately after the client sends a ping frame for the ke

[2018-07-14 22:20] davidsh commented on #31076
The native Windows WebSocket stacks (WinHTTP, WinINet) don't send ping frames (but they will respond with pong frames if the server sends a ping frame). Instead, the stacks send unsolicited-pong frames to the server.

https://tools.ietf.org/html/rfc6455#section-5.5.3

[code]

[2018-07-14 22:40] ciddan commented on #30689
Haha :) They aren't hidden from IntelliSense in Rider. I'll post a bug on their tracker about that. I assumed it was a standard API since it showed up in Rider when I "dotted" `buffer`. Good to know.

I'm in that situation now, yes. The issue with my use case, after thinking about it again, likely isn't with Pipe, but with the C# Protobuf implementation. There's some discussion ongoing on their re

[2018-07-14 22:48] davidfowl commented on #30689
Do you own both the client and the server in this case? The limits are there to basically prevent you from creating a situation where you let an untrusted writer, cause the reader to buffer too much (resulting in a DOS). If it's fully trusted, you can consider removing the limits completely. Then the only question is about performance of small vs large messages.

[2018-07-14 22:54] ciddan commented on #30689
The server isn't owned by my team, but it is owned by the organization - so it is trusted in that sense. The solution to this, I suppose, is to ask the other team to implement hard pagination limits on the data, so that we can impose a guaranteed max response size from their API, or implementing our own caching/paginating middle layer in between.

[2018-07-14 22:58] davidfowl commented on #30689
Or just disable the limits until further notice and monitor the memory.

[2018-07-15 00:16] kblok commented on #31076
Thank you guys for the super quick response. I ran Fiddler locally and confirmed what @stephentoub said. As far as I read from you it seems that .NET is honoring the spec.
I had this issue in the past (Core 2.0) when the connection needed to send a ping but I considered it a "temporary fail".

I'm creating an issue on Chromium. I'll let you know what I find.

[2018-07-15 00:20] stephentoub commented on #31076
In the meantime, since 2.1 does respect the keep alive interval you specify, you could try working around this by setting an infinite interval, in which case it'll never send pings.

[2018-07-15 05:25] richlander opened #31081 "AppContext.TargetFrameworkName is null"
I created a netcoreapp2.1 console app and checked the value of this property. It was null. I was expecting "netcoreapp2.1" or some variant of that.

Here are the docs: https://docs.microsoft.com/en-us/dotnet/api/system.appcontext.targetframeworkname?view=netcore-2.1

[2018-07-15 06:08] MisinformedDNA commented on #30792
In the meantime, I created a [library](https://github.com/MisinformedDNA/YellowCounter.Nails) that does some of this but focuses on adding some Ruby and Rails methods as-is and staying true to their implementation.

[2018-07-15 06:57] danmosemsft commented on #31081
Try latest bits from master
https://github.com/dotnet/corefx/pull/30885/files#diff-508407e51bf1346c7da0cf453cb52c1c
@anipik what does it give now for a console app?

[2018-07-15 13:09] roji commented on #30822
Closing as the different options seem to have been discussed here.

[2018-07-15 13:09] #30822 closed

[2018-07-15 13:34] hazama-yuinyan commented on #29122
Hi! It's been a while! I've finally rewritten code generation using Reflection.Emit.* APIs, so now I can emit SequencePoints by myself. During that process, however, I'm lost in using `MetadataBuilder`.

It seems that the error is caused because I don't add `MethodDefinition`s, `TypeDefinition`s, Modules and Assemblies to `MetadataBuilder`. So I tried to add them, but I don't know what I should pa

[2018-07-15 13:43] stephentoub commented on #31076
Could you share the link?

[2018-07-15 14:02] jnm2 commented on #29122
@hazama-yuinyan Can you refresh my memory—are you rewriting an existing PDB stream or generating one from scratch?

[2018-07-15 14:06] hazama-yuinyan commented on #29122
@jnm2  The latter. My compiler generates and creates programs from scratch.

[2018-07-15 14:15] jnm2 commented on #29122
I would appear that Roslyn does not use `MetadataBuilder.AddMethodDefinition` at all, unless something's gone wrong with the source browser: http://source.roslyn.io/#System.Reflection.Metadata/System/Reflection/Metadata/Ecma335/MetadataBuilder.Tables.cs,d5f891e17bb58177,references

[2018-07-15 14:16] jnm2 commented on #29122
Which table is #49 and why would adding method definitions etc cause the row count to become zero since it is not zero currently?

[2018-07-15 14:21] jnm2 commented on #29122
@hazama-yuinyan What's the actual line that's throwing the exception? I want to see it at source.roslyn.io.

[2018-07-15 15:02] hazama-yuinyan commented on #29122
@jnm2 Now the error message is slightly different. It says "Row count must be zero for table #48." and #48 is for Document table. I called `MetadataBuilder.AddDocument`. I think that's why the compiler complains, but I'm just following what [my reference site](https://github.com/dotnet/symreader-converter/blob/420f4bfaaf7e423c537d88db2b5f65ab4f3c7b24/src/Microsoft.DiaSymReader.Converter/PdbConvert

[2018-07-15 15:10] jnm2 commented on #29122
I'd use this to make stack traces readable:

[code]

[2018-07-15 15:13] jnm2 commented on #29122
You're running into this: http://source.roslyn.io/#System.Reflection.Metadata/System/Reflection/Metadata/Ecma335/PortablePdbBuilder.cs,70d6e0b339ef60ca

[TableMask.ValidPortablePdbExternalTables](http://source.roslyn.io/#System.Reflection.Metadata/System/Reflection/Metadata/Internal/MetadataFlags.cs,2fcdae631419fd48) = `TypeSystemTables & ~PtrTables & ~EncTables`

[2018-07-15 15:28] xin9le opened #31082 "'Unexpected existing transaction' exception occurs when use SqlBulkCopy."
# Overview

'Unexpected existing transaction' exception occurs under following condition.

- Use .NET Core 2.1
- Use `System.Data.SqlClient` (4.5.1 : currently latest stable package)
- Perform bulk insert record(s) into 2 or more Azure SQL Database using `SqlBulkCopy` in `TransactionScope`

This exception doesn't occur under .NET Framework 4.7.1 environment.

# Reproduce code

Reproduce code for .

[2018-07-15 15:30] jnm2 commented on #29122
@hazama-yuinyan Here's a question: are you trying to put the debug tables in the same metadata blob as the IL? I think you're supposed to either keep it in a separate PDB file or else serialize all the debug metadata into a blob and store it in the PE debug directory like [this](https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/PEWriter/PeWriter.cs?utf8=%E2%9C%93#L264).

[2018-07-15 15:30] hazama-yuinyan commented on #29122
Thank you.

Does that mean that I should not have emitted DebugTables? The spec says you will populate DebugTables.
Hmm, could it be that if I will populate TypeSystemTables then `PortablePdbBuilder` will populate DebugTables?

[2018-07-15 15:43] hazama-yuinyan commented on #29122
@jnm2 I'm trying to put the debug tables in a separate PDB file because I couldn't take the former path. I'm using `System.Reflection.Emit.ILGenerator` for emitting IL codes. I think that the ILGenerator doesn't support the feature to emit IL codes and the debug tables all in one file.

[2018-07-15 15:47] stephentoub commented on #28310
This no longer repros for me after the SDK-project switch.

[2018-07-15 15:47] #28310 closed

[2018-07-15 16:18] jnm2 commented on #29122
Okay, cool. I have no clues besides reverse-engineering https://github.com/dotnet/roslyn/blob/c4189de08b943f87d9f03d45ef01e615800e359d/src/Compilers/Core/Portable/PEWriter/PeWriter.cs#L211-L236. Maybe clone the Roslyn repository and put breakpoints there and see how it builds up the PDB content to be written to the PDB stream?

Oh, hey, I'm blind. That parameter is named `typeSystemRowCounts`, so

[2018-07-15 16:18] jnm2 commented on #29122
I'm embarrassed because I just remembered having this flash of inspiration about the name `typeSystemRowCounts` last year.

[2018-07-15 16:41] hazama-yuinyan commented on #29122
Why embarrassed? It makes sense and it's great, isn't it?

OK, build the type infos first and then the debug info.

Hmm, I have no other options except to look into the source codes for `MetadataBuilder` and figure out how to use it?

[2018-07-15 16:59] tmds commented on #30689
I had encountered this when playing with corefxlab pipelines: https://github.com/dotnet/corefxlab/issues/1355

[2018-07-15 17:10] Rajivts commented on #16680
Hi @krwq

I have completed with the first round of test case creation for XmlNodeReader and achieved a code coverage of 86.6%. Since I am unable to create a remote branch on corefx repo, how should I create a PR to check-in my changes?

[2018-07-15 17:16] kblok commented on #31076
https://groups.google.com/a/chromium.org/forum/#!topic/chromium-discuss/nPiz9ukGJfo

Feel free to step in. I bet your insights will be super helpful.

[2018-07-15 17:19] undrfined commented on #30326
+1
Copying to `~/.local/share/fonts/` and running `fc-cache` makes text draw like expected. If font isn't there and loaded with PrivateFontCollection it doesn't work.
`dotnet --version` is 2.1.301

[2018-07-15 17:44] jnm2 commented on #29122
Embarrassed because I forgot and it took me a while both times to notice the simple parameter name that gives it all away. :D I'm fine.

That's pretty much what I understood @tmat to say: https://github.com/dotnet/corefx/issues/29122#issuecomment-382171969 It's not documented, so we have to rely on looking at other projects that use it. The Its development is mainly driven by Roslyn, I'd imagine.

[2018-07-15 18:07] hazama-yuinyan commented on #29122
That relieves me ;-)

OK, I see. I'll try that out. Would you help me out if I get into big walls while I'm figuring out how to use it?

[2018-07-15 18:09] danmosemsft commented on #16680
@Rajivts you should "fork" the repo, and push your change to a branch in your fork. Then you can create a PR from your fork to this master repo.

There's a bunch of info here: https://help.github.com/categories/collaborating-with-issues-and-pull-requests/

in particular

https://help.github.com/articles/configuring-a-remote-for-a-fork/
https://help.github.com/articles/merging-an-upstream-repositor

[2018-07-15 18:13] jnm2 commented on #29122
@hazama-yuinyan Yes, I am happy to help!

[2018-07-15 18:46] danmosemsft commented on #31079
0x80131509 | -2146233079 | COR_E_INVALIDOPERATION | "An   operation is not legal in the current state."
-- | -- | -- | --

[2018-07-15 23:42] tylerl0706 commented on #30170
Yeah. I'm looking to target .NET Standard because this library gets loaded into Windows PowerShell (.NET Framework based) and PowerShell Core (.NET Core based)

[2018-07-16 03:05] pigwing opened #31087 "hi i have some problem about cpu100% in .net core"
in libcoreclr.so some times will let my cpu 100%, in CorUnix::PROCRemoveThread
and check cat /proc/id/status threads count is 32
system is linux arm 32
https://github.com/AirleaderChina/Airleader-Open/blob/master/errorPho1.png
https://github.com/AirleaderChina/Airleader-Open/blob/master/errorPho.png

[2018-07-16 05:31] davidfowl commented on #30689
I do wonder if the default limit is too small now. Maybe we should bump it to 1MB or 4MB

[2018-07-16 05:39] MarcToth commented on #30175
I just tested it with .NET 4.7.2, but it's not working either

[2018-07-16 05:52] davidfowl commented on #28046
It would be great to have something usable that didn't allocate (not sure about the reset hack). Here's what we currently do in SignalR:

https://github.com/aspnet/SignalR/blob/2d4fb0af6fd2ef2e3a059a2a15a56484d8800d35/src/Microsoft.AspNetCore.SignalR.Core/HubConnectionStore.cs#L44

[2018-07-16 06:59] dotnet-mc-bot opened #31088 "Test failure: System.Linq.Tests.ConcatTests/CountOfConcatIteratorShouldThrowExceptionOnIntegerOverflow"
Opened on behalf of @Sunny-pu

The test `System.Linq.Tests.ConcatTests/CountOfConcatIteratorShouldThrowExceptionOnIntegerOverflow` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.OverflowException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Linq.Tests.ConcatTests.<>c.<CountOfConcatIteratorShouldThrowExceptionOnIntegerOverflow>b__22_0(Ac

[2018-07-16 07:03] Drawaes commented on #30689
I suspect if you do that 90% of these reports will just disappear.

[2018-07-16 07:15] davidfowl commented on #31019
I like it.

[2018-07-16 07:20] mgravell commented on #30689
The one thing I want to reiterate about that as a workaround is that it allows the writer to **unnecessarily** swamp the pipe. If the reader needs more data, I'm fine with that - it is "necessary" at that point; but that will often be the exception not the rule, and there's no need for the pipe to be stuffed full the rest of the time - which upping or removing the quota may achieve.

[2018-07-16 07:21] mgravell commented on #30689
@ciddan are you using the Google lib? Or protobuf-net? Or another implementation?

[2018-07-16 08:25] MulderLiu opened #31090 ".net core on Macosx connecting to Remote Microsoft Sqlserver"
Environment:

Dot.net Core Version: .net core 2.1.2
Operating System: Macos 10.13.2
Sqlserver Hosted on Windows: **Microsoft SQL Server 2017 (RTM) - 14.0.1000.169 (X64)**

[code]

**Same code on windows machine/dotnet 2.1.2 is good**
**The network state of windows and MAC is good**

Error:

System.Data.SqlClient.SqlException (0x80131904): A network-related or instance-specific error occurred while

[2018-07-16 08:41] LuceLuo opened #31091 "Some characters are missing when drawing Chinese characters【System.Drawing.Common】"
`var font = new Font("黑体", 16, FontStyle.Regular);`
`var font4 = new Font("宋体", 16, FontStyle.Regular);`

`g.DrawString("黑体：中文姓名", font, brush, 30, 100);`
`g.DrawString("宋体：刘三名", font4, brush, 30, 190);`

Using the above code, only show "黑体：中文姓" 、"宋体：刘".
If other non Chinese characters are added to the tail, it can be displayed normally.
Like this:

`g.DrawString("黑体：中文姓名(1111)", font, brush, 30,

[2018-07-16 08:44] filipnavara commented on #31091
Duplicate of #30867.

[2018-07-16 09:14] tdav commented on #27433
`
  [Export(typeof(IDbProviders))]
    public partial class RdmWorks : IDbProviders, IDisposable
    {
        public NpgsqlCommand Cmd;
        public NpgsqlConnection Conn;
        public string Name => "Wt.Rdm.PostgreSql";
...
}
public class PluginManager
    {
        [Import]
        private static IDbProviders db { get; set; }

        public static void Load(string directory)
        {

[2018-07-16 09:44] LuceLuo commented on #31091
@filipnavara
I read a lap of articles and I know the problem, but I don't know the specific solution. Can you tell me how to install libgdiplus with pango?

[2018-07-16 11:35] jkotas commented on #31081
Duplicate of #23063. Fixed for .NET Core 3.0.

[2018-07-16 11:35] #31081 closed

[2018-07-16 11:38] jkotas commented on #31018
Given the comments, I think we can close this one.

[2018-07-16 11:38] #31018 closed

[2018-07-16 11:39] jkotas commented on #31068
cc @AaronRobinsonMSFT

[2018-07-16 11:39] jkotas commented on #31079
cc @AaronRobinsonMSFT

[2018-07-16 11:40] jkotas commented on #31077
cc @AaronRobinsonMSFT

[2018-07-16 12:10] Drawaes commented on #30689
This is my main issue with the argument. I want a "normally only readahead x amount" but I might need more than that for one message.

[2018-07-16 12:14] filipnavara commented on #31028
@bartonjs The identity path is not tested because it can never happen.

`AppleKeychainStore.Add` uses the identity handle, if available:

[code]

However, `AppleKeychainStore.Remove` always uses the certificate handle:

[code]

Otherwise the outer loop `X509StoreMutableTests_OSX.VerifyRemove` would hit the identity path. I am not sure whether it was intentional or not. I assume it was not.

Unfort

[2018-07-16 12:17] ciddan commented on #30689
@mgravell The google lib.

[2018-07-16 13:02] hughbe commented on #31077
0x80004005 | E_FAIL | Unspecified failure
-- | -- | --

[2018-07-16 13:19] hazama-yuinyan commented on #29122
@jnm2 Thank you very much! It's really heartening!

[2018-07-16 13:39] jkotas commented on #31018
Thanks for pointing it - I have missed this one in the list.

`StringToHGlobalUTF8` would be a duplicate API. If we were to add it, it would be just to help with discoverability a bit.

Some context:

- The `CoTaskMemAlloc` allocator has the first class support in interop. The `HGlobal` allocator support was always second class. For example, if you have:
[code]
The marshaling generator will assume

[2018-07-16 13:45] mkurz commented on #9768
+1

[2018-07-16 13:46] l-o-l commented on #30170
Just a general comment, and please ignore if foolish as I am a complete newbie to core and standard. Lack of ACL support (or a consistent replacement) in .netstandard seems problematic to me. I've just had a try at porting a medium sized communications library written in .net framework and it all went fairly painlessly until security. Named mutexs, memory mapped files, and named pipes, all need an

[2018-07-16 13:53] stephentoub commented on #31018
Sounds reasonable to not add it then and just ensure the good context you provided is in docs somewhere.

[2018-07-16 14:07] pjanotti commented on #30170
Thanks for the feedback @l-o-l and @tylerl0706. I will start the steps to get `CurrentUserOnly` added to .NET Standard vNext. Regarding general support for ACL (or something similar) I will have to investigate and understand better the scope and what are the communality/differences that we can user to build and an abstraction on top of it - at this stage is to early for me to say anything concrete

[2018-07-16 14:17] lowercase93 opened #31093 "Getting rid of ImmutableArray<T>.IsDefault ?"
Hi guys,

First of all, I am really enjoying your immutable collections library, well done. It is very useful.
I am not sure if there was something like this issue. I could not find one. So, if it duplicates, then feel free to close this one, but could you please give a link to the original one? Thanks.

So here is the deal.
We all used to work with value types as with such that always valid not m

[2018-07-16 15:10] itrofimow opened #31094 "Drastic network io performance degradation in Docker"
Hi.

We've dockerized one of our apps recently and everything seemed to be fine except we just couldn't make it pass load test. Symptoms seem pretty strange to me, later about them. However after 'full desperado mode' took over we tried to run it on host machine with just dotnet binaries (no dotnet installed) and test passed with ease.

The app itself is simple fully async .NetCore 2.1.0 CRUD Web

[2018-07-16 15:10] iSazonov commented on #30994
@danmosemsft Thank you for your analysis. I guess the code for creating PSObject is the same in PowerShell Core and Windows PowerShell (@SteveL-MSFT can you confirm?). Therefore, I can not explain why we see such a strong difference between PowerShell Core and Windows PowerShell. Even if we add all the percentages (6.7 + 4.1 + 3.3 = 14.1) it does not explain why PowerShell Core is slower then twic

[2018-07-16 15:12] MarcoRossignoli commented on #30188
@ericstj could you replace link with https://referencesource.microsoft.com/ reference if is possible?

[2018-07-16 15:17] filipnavara commented on #31028
Hmm, the unit test failures started happening on my other machine too (macOS Mojave DP2, update to DP3 still pending).

[2018-07-16 15:31] ww898 opened #31095 "EnumConverter doesn't support UInt64 enums properly"
Hi, I got exception on valid input data (.NET Framework 4.7.2 + .NET Core 2.0):
[code]

Exception:
[code]

However, when I change `E.V62 | E.V63` to `E.V62 | E.V61` everything works properly.

[2018-07-16 15:48] jkotas commented on #3708
This will be needed for .NET Core 3.0 WinForms/WPF app models.

[2018-07-16 16:22] davidfowl commented on #30689
My problem is, there needs to be a hard limit regardless and you still need to configure the soft limit to *something*. If you don't have a good feel for that, then the problem here isn't resolved. The underlying problem here is that we have a low default the everyone is hitting and I think that's the core of the problem here. If people don't know what to set the soft limit to, how is it any bette

[2018-07-16 16:24] eerhardt commented on #3708
To glom on to this scenario a little bit: when a `Debug.Assert` fails during a unit test, today [the experience is quite poor](https://github.com/Microsoft/vstest/issues/1688).  However, even once that vstest bug is fixed, the experience of failing fast during tests is still poor.

In my opinion, a good experience here would be:

* Fail the current test, logging the `Debug.Assert` message and call

[2018-07-16 16:25] matthid opened #31098 "new network stack in 2.1 and authentication via internet explorer?"
# Authentication via Internet explorer

Previous versions of netcore (pre 2.1) and the full framework allow us to access restricted URL's as long as the credentials have been saved in the internet explorer.

Since 2.1 you have to use ` DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=false` in order to opt-in into the previous behavior to access those URLs (https://github.com/dotnet/core/blob/master/r

[2018-07-16 16:29] davidsh commented on #31098
What do you mean by "restricted" URL's?  Please give an example.  Thanks.

[2018-07-16 16:30] danmosemsft commented on #31095
Seems like a bug. If https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.TypeConverter/src/System/ComponentModel/EnumConverter.cs#L80 hits an overflow, it should try Uint64. Enum.ToObject supports it.

[2018-07-16 16:34] matthid commented on #31098
@davidsh Sorry I meant URLs where you need to be authenticated or get 401 otherwise (on-premise TFS for example). In our scenario we always get 401 with the new stack. Previously we told people to authenticate in internet explorer to "make it work".

[2018-07-16 16:39] davidfowl opened #31099 "Make Environment.Version return the actual runtime version"
Today on a .NET Core 2.1.0 project printing `Environment.Version` prints out `4.0.30319.42000` which is a hard coded constant in the runtime https://github.com/dotnet/coreclr/blob/ce0a2617d40bc217b8e0a2137e340afe585afcb1/src/System.Private.CoreLib/src/System/Environment.cs#L277. This should print out the *actual* runtime version based on the policy applied by the host (like 2.1.1 if that's what ru

[2018-07-16 16:41] tylerl0706 commented on #30170
@pjanotti I have a couple questions about `CurrentUserOnly`.

* Does it work cross plat (Win, macOS, linux)?
* Does `CurrentUserOnly` prevent the following scenario (privilege escalation) :

[2018-07-16 16:46] danmosemsft commented on #31095
Better, `EnumConverter` can do `Enum.GetUnderlyingType(t)` to determine that it's UInt64.

[2018-07-16 16:48] davidfowl opened #31101 "Increase default PauseWriterThreshold to 1MB"
Today it's 32 KiB and that may not be enough for most reasonable scenarios. As part of this change, we should also consider increasing the segment size to 8 KiB.

[2018-07-16 16:48] davidsh commented on #31098
Can you please show a full example with source code of what doesn't work? In general, .NET Core 2.1 supports authentication connections for both proxy (responding to 407) and server (responding to 401).

Perhaps there is some problem with how you are setting the credentials for that.  You need to set them in the HttpClient.Credentials property.

[2018-07-16 16:48] davidfowl commented on #30689
I'm not sure everyone does but I before adding a soft limit the things we're going to fix are:
- Increasing the default 32K limit to something like a 1MB instead https://github.com/dotnet/corefx/issues/31101
- Fix the error message so that it's clear what happened https://github.com/dotnet/corefx/issues/30894

[2018-07-16 16:49] danmosemsft commented on #31095
You are welcome to offer a PR, @ww898

[2018-07-16 16:52] filipnavara opened #31102 "System.Security.Cryptography.X509Certificates tests fail on macOS Mojave"
OS: macOS Mojave Developer Preview 2+ (tested on DP2 and DP3)

Started happening after the merge of #30815. Some discussion is currently in the PR.

[2018-07-16 17:00] SteveL-MSFT commented on #30994
@iSazonov did a diff between PSCore6 and WinPS5.1 MSHObject.cs and the only differences are formatting changes.  I think there's some optimizations we can make in PSCore6 for PSObject creation.  Also need to do more profiling of PSCore6, although the [links to dotnetcore debug symbols currently doesn't work](https://github.com/dotnet/core/issues/1786) so not able to get good logs from Perfview.

[2018-07-16 17:03] filipnavara commented on #31102
First issue seems to be that `SecKeyGetBlockSize` returns the key size in bytes now, but only if the key was copied with `SecCertificateCopyKey` (as opposed to `SecCertificateCopyPublicKey`). That means for 224, 256, 384 and 521 bit keys it will return 28, 32, 48 and 66 respectively.

[2018-07-16 17:09] filipnavara commented on #31102
The remaining errors:

[code]

[2018-07-16 17:09] Clockwork-Muse commented on #31093
... given this paragraph in [Using Structs](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/using-structs):

...the answer is going to be "you want the safety, you always have to check" (because you can't guarantee a constructor was called).

I'm half torn between wanting to always support consumer safety, and auto-convert to `Empty`, and half wanting to leave

[2018-07-16 17:10] #30720 closed

[2018-07-16 17:13] AfsanehR commented on #30720
@Sunny-pu @bricelam The pr that should fix this issue is merged now. Please run the tests and let us know if it is resolved. Thanks!

[2018-07-16 17:13] filipnavara commented on #31102
Looks like the return value of SecCertificateCopyPublicKey is not checked at all.

[2018-07-16 17:14] matthid commented on #31098
Ok I can try to create a quick sample tomorrow, but really I think it is as simple as (simplified with the relevant code path from a real application -> some stuff probably doesn't make any sense):

[code]

So maybe the behavior has changed on what is happening when `null` is returned?

[2018-07-16 17:19] davidsh commented on #31098
Thanks for posting this snippet of code. Looking at the code above, it sounds like the problem you're having is with proxy credentials/authentication and not server credentials/authentication?  It also looks like you're trying to get "default credentials" to be passed automatically to the proxy?

If you're needing default logged-in credentials to be passed automatically to a proxy server, then you

[2018-07-16 17:59] filipnavara commented on #31102
When I accounted for `SecCertificateCopyKey` returning NULL and `SecKeyGetBlockSize` returning the different key size values I reduced the errors to the following:

[code]

[2018-07-16 18:12] ichensky opened #31103 "string IndexOf work differently for windows and linux"
.net core 2.1
[code]

[2018-07-16 18:20] karelz commented on #31087
@pigwing can you please try to narrow it down to small repro?
Or profile your app to identify the bottleneck.

You can try to use: https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/linux-performance-tracing.md (not sure if it works for arm32 - cc @brianrob @vancem)

[2018-07-16 18:22] karelz commented on #31091
Duplicate of #30867

[2018-07-16 18:22] #31091 closed

[2018-07-16 18:26] karelz commented on #31094
Are you able to reproduce the problem without ASP.NET? Just console app, using `HttpClient`?
That will help us narrow down if the problem is in HttpClient or in the server (or combo).

[2018-07-16 18:27] karelz commented on #31094
Also, do you have a simple isolated repro that anyone can run anywhere?

[2018-07-16 18:29] davidsh opened #31104 "PostAsync_ReuseRequestContent_Success fails on OSX 10.13"
Found during PR #31100.

HttpClientHandlerTest.PostAsync_ReuseRequestContent_Success is failing on OSX 10.13 in CurlHandler:

https://mc.dot.net/#/user/davidsh/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/b14a215bc5e5263683e2ec248d2178785f98524a/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandlerTest~2

[2018-07-16 18:34] ww898 commented on #31095
Some places with the same issue:
https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.TypeConverter/src/System/ComponentModel/EnumConverter.cs#L99
https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.TypeConverter/src/System/ComponentModel/EnumConverter.cs#L138
https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.TypeConverter/src/System/Compon

[2018-07-16 18:39] brianrob commented on #31087
Yes, this strategy does work on arm32 as long as the distro has perf and LTTng.

[2018-07-16 19:32] pakrym commented on #31074
It's unfortunate that adding a return type to `Advance` is a breaking change. Making return value of advance to be total number of buffered bytes would've been nice.

[2018-07-16 19:35] safern commented on #30170
Yes it does work cross plat. In Windows we use ACL and in Unix we use PeerID to get the socket's owner ID and check if it is the same user trying to connect:

https://github.com/dotnet/corefx/blob/master/src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Unix.cs#L91-L105

Yes it does, in Windows ACL will handle this by itself, and in Unix whenever you elevate you're now a different user

[2018-07-16 19:44] tarekgh commented on #31103
We depend on the OS for linguistic string comparisons. so this behavior is expected. if you want to get the desired behavior you can use ordinal comparisons

[code]

and pass StringComparison.Ordinal to it

[2018-07-16 19:44] #31103 closed

[2018-07-16 19:55] benjaminpetit commented on #26165
For the moment we didn't implemented anything. Still waiting to see if we can have a better API...

[2018-07-16 20:31] matthid commented on #31098
Ok the setup is:
- No proxy
- VPN connection (but shouldn't matter)
- TFS http (not https) with ntlm/domain authentication (I'd assume)

Initially the code above errors out with 401 on full framework/netcore2.0 and 2.1
After opening internet explorer and logging in to the TFS (via windows login popup as my current user account is not the domain login) it works in full framework and netcore2.0 but

[2018-07-16 20:46] doyouevensunbro commented on #24562
Is there a fix for using HttpListener on Linux for this yet? We are using Net Core 2.1.3 currently. Thanks!

[2018-07-16 20:48] stephentoub commented on #24562
That would be the sdk version. What version of the runtime are you using? What's the target framework in your csproj?

[2018-07-16 20:57] tylerl0706 commented on #30170
Fantastic. I'd use that in a heartbeat if it was available in .NET Standard.

[2018-07-16 21:21] caesar1995 commented on #30991
You are right. This is because we have not yet implemented RFC 6265 for Cookie in .NET Core (#29651, in "Path related issues").

#29651 contains instructions on how to fix those issues, if you are interested, you are welcomed to submit a PR!

[2018-07-16 21:24] mderoy opened #31105 "BinaryFormatter deserializes items in generic list as nulls"
I have a simple example, which fails
[code]

ContainerOfItems is a class, which contains a List<Item> which implements ISerializable, and Item is a class wrapping an int, which implements ISerializable (both are marked with the serializable attribute as well)

In the given example, I find that when b is deserialized, I get a list of the correct size, but all values are null.

If I serialize an add

[2018-07-16 21:25] danmosemsft commented on #30866
I have hit this one. Also BindToMoniker_InvalidMonikerName_ThrowsCOMException(monikerName: \"name\") is failing sporadically perhaps for the same issue

https://mc.dot.net/#/user/danmosemsft/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/62e01621e73d4337a02c5216e4d57f7aac604e17/workItem/System.Runtime.InteropServices.Tests/analysis/xunit/System.Runtime.InteropServices.Tests.

[2018-07-16 21:37] bartonjs commented on #31073
Partially confirmed, if I disable the sorting required for SET-OF under DER, the SignerInfo digest is `A46F7471F64F2B6DB38A9A540AF64525FB448A047C3B17106D75CDBE2ED18D0E`

[2018-07-16 21:51] divega commented on #31070
@GSPP thanks for the detailed post. FYI, https://github.com/dotnet/corefx/issues/3688 is about adding command batching APIs in the ADO.NET provider model. I see this issue as a good complement for SQL Server support of whatever API we come up with.

Another relevant article about how command batching works in SqlClient: https://blogs.msdn.microsoft.com/dataaccess/2005/05/19/does-ado-net-update-bat

[2018-07-16 22:09] doyouevensunbro commented on #24562
Sorry about that, we are using `<TargetFramework>netcoreapp2.0</TargetFramework>` and I'm guessing that should be `<TargetFramework>netcoreapp2.1</TargetFramework>`?

[2018-07-16 22:17] steevcoco opened #31107 "Mef ConventionBuilder Export Rules Behave Differently For "ForType<>" and "ForTypesDerivedFrom<>""
`ConventionBuilder`  rules do not apply the same for exports when using `ForType<>` versus `ForTypesDerivedFrom<>`. This MAY be expected behavior, but I have found somewhat surprising results.

If you have a non-abstract base type `TestExport`, and also derived types, that all export `TestExport`; then if you compose as `ForType<TestExport>`, and specify `Sahred()`, you will STILL get ALL types ex

[2018-07-16 22:23] AaronRobinsonMSFT commented on #30914
As @danmosemsft mentioned, I am not able to reproduce this issue on coreclr, but on .NET Framework it crashes. Debugging through the Framework code it seems we crash - hard - and that is intended since there is no `Guid` for a `ref int` or for an unbound generic type. On CoreCLR we return `Guid.Empty` instead of failing. Unclear which is the _right_ thing here. Based on previous conversations the

[2018-07-16 22:50] bartonjs commented on #31102
That was intentional, the only place that null was being returned was for DSA, and we handled that in the managed aspect of the PR: https://github.com/dotnet/corefx/pull/30815/files#diff-1736228458644ec941ccc37409a0d98c

[2018-07-16 22:55] filipnavara commented on #31102
Thanks for pointing that out. I will check tomorrow why the DSA tests fail for me.

[2018-07-16 23:06] AaronRobinsonMSFT commented on #31077
@hughbe These are failing on corefx or some other flavor? How are you running the tests to cause the failure?

Thanks.

[2018-07-16 23:14] vcsjones commented on #31073
Thanks for taking a look. Very appreciated.

[2018-07-16 23:29] stephentoub commented on #24562
Yup.  Please give it a try and let us know whether the problem is addressed. Thanks.

[2018-07-16 23:52] danmosemsft commented on #30940
If the new behavior is arguably "better" then I suggest just disable the test for NETFX in the crashing cases.

[2018-07-16 23:58] stephentoub commented on #31104
Consistently or sporadically?

[2018-07-17 00:02] davidsh commented on #31104
During my PR it failed 3 times out of 3 times.

[2018-07-17 00:05] ahsonkhan commented on #25785
FYI, you can abbreviate the following:
`var source = new ReadOnlySpan<byte>(data,0, data.Length);`

To the following, relying on the implicit cast:
[code]

[2018-07-17 00:08] davidsh commented on #31098
If you could post a repro application that we can simply compile/run in Visual Studio that would be good.  Not sure how you will simulate the "TFS" server, etc. in your repro.  Please don't include any proprietary/confidential URLs etc. in the repro.

If you could share Wireshark traces and/or Fiddler traces that would help diagnose this as well.

[2018-07-17 00:34] AaronRobinsonMSFT commented on #30940
It is quite a bit better actually. In .NET Framework, the failure is actually an A/V because the cast of the `TypeHandle` to retrieve a `MethodTable` results in a `null` access. I actually don't think returning `Guid.Empty` is the right thing, rather it should throw a reasonable exception instead, but definitely shouldn't A/V like .NET Framework.

[2018-07-17 00:38] karelz commented on #31105
cc @ViktorHofer
Is it a regression against .NET Core 2.0 or against .NET Framework?

[2018-07-17 00:54] jkotas commented on #30914
Crashing hard in a regular managed is never intended. This is a bug in .NET Framework.

[2018-07-17 01:04] Anipik commented on #29960
@bartonjs @ericstj any example tests already in corefx through which I can get an idea about how to write tests for this new library ?

[2018-07-17 01:07] doyouevensunbro commented on #24562
I don't see a `dotnet-sdk-2.1.302` package in the Microsoft repository, which is latest on Windows. There is a `dotnet-sdk-2.1.4` package, but it doesn't support `netcoreapp2.1`:

`/usr/share/dotnet/sdk/2.1.4/Sdks/Microsoft.NET.Sdk/build/Microsoft.NET.TargetFrameworkInference.targets(135,5): error : The current .NET SDK does not support targeting .NET Core 2.1.  Either target .NET Core 2.0 or lowe

[2018-07-17 01:11] maumar commented on #30955
I simplified the repro further, down to about 10 code files, and completely removed references to EF Core. Repro still resides in branch repro30955_213 on EFCore github.

[2018-07-17 02:37] stephentoub commented on #30612
Those other formats are culture-sensitive with TimeSpan.ToString/TryFormat, but Utf8Formatter ignores culture; while I'm sure there are improvements that can/should be made to TimeSpan.ToString/TryFormat for those formats, it needs to continue to respect the current culture, which incurs cost.

[2018-07-17 02:55] divega commented on #30955
Hey @natemcmaster, @stephentoub, @maumar, is my understanding correct that this issue broke our 2.1.3 patch build and that should be investigated as a possible regression in .NET Core? Just trying to make sure it doesn’t fall through the cracks because it is missing some label.

[2018-07-17 03:12] natemcmaster commented on #30955
Yes, it appears this issue was regressed sometime between 2.1.0 and 2.1.2.

[2018-07-17 03:33] AaronRobinsonMSFT commented on #30936
@Sunny-pu This should be addressed with #31109.

[2018-07-17 03:33] #30936 closed

[2018-07-17 03:41] pjanotti commented on #30170
Straight to the relevant comment in the PR on dotnet/standard https://github.com/dotnet/standard/pull/826/files#r202885532

[2018-07-17 03:56] LuceLuo commented on #30867
@filipnavara
I read a lap of articles and I know the problem, but I don't know the specific solution. Can you tell me how to install libgdiplus with pango?

[2018-07-17 03:56] stephentoub opened #31112 "Re-enable dictionary remove tests"
I've commented them out temporarily to make it easier to update to a newer coreclr.

[2018-07-17 04:57] davidfowl commented on #31074
Right, I think the other interesting thing is that this ideally would go onto the `IBufferWriter<T>` interface as well.

[2018-07-17 05:35] AaronRobinsonMSFT commented on #30940
@jkotas Thanks for clarifying on the other related/closed bug about Framework.

@stephentoub @danmosemsft @jkotas Do any of you have thoughts about changing this behavior? When the user calls `Marshal.GenerateGuidForType()` on a type, they want a proper `Guid` or in my opinion an exception should be thrown to indicate one isn't possible. Returning `Guid.Empty` seems like the wrong thing because it

[2018-07-17 06:53] filipnavara commented on #31102
Ok, so I changed `CertificatePal.GetDSAPrivateKey` to handle null being returned for DSA:

[code]

That leaves me with 5 errors:
[code]

Four of them are ECDsa/Brainpool related. `SecCertificateCopyPublicKey` used to error out on them, but since there is no error handling for `SecCertificateCopyKey` now it fails later and with different exception.

I added the following line to `AppleX509Pal.Decod

[2018-07-17 06:58] Sunny-pu commented on #23123
failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20180717.02/workItem/System.Data.SqlClient.Tests/analysis/xunit/System.Data.SqlClient.Tests.DiagnosticTest~2FExecuteNonQueryTest

[2018-07-17 07:00] dotnet-mc-bot opened #31116 "Test failure: System.IO.Tests.FileInfo_GetSetTimes/CopyToMillisecondPresent"
Opened on behalf of @Sunny-pu

The test `System.IO.Tests.FileInfo_GetSetTimes/CopyToMillisecondPresent` has failed.

System.UnauthorizedAccessException : Access to the path 'C:\\' is denied.

        Stack Trace:

           at System.IO.DriveInfo.get_DriveFormat() in E:\A\_work\5\s\corefx\src\System.IO.FileSystem.DriveInfo\src\System\IO\DriveInfo.Windows.cs:line 69
       at System.IO.Tests.FileI

[2018-07-17 07:21] corretge commented on #30147
Sorry @keeratsingh, I tested it but did not answer 😱

I have the same issue:

dotnet version: 2.1.300

But now I can connect with the last version of SQL Operations Studio. Maybe this info helps.

[2018-07-17 07:43] roji commented on #31074
@benaadams it's true this can be added as a layer on top of `PipeWriter`. However, the main point of pipelines is to manage buffering when performing I/O, so it seems like a property exposing the amount buffered belongs in the class itself. Put another way, since pipelines is an abstraction - does it make sense to imagine an implementation of pipelines where a new `BytesWritten` property is irrele

[2018-07-17 07:47] davidfowl commented on #31074
I don't see why it's more relevant for the PipeWriter but not for the IBufferWriter. PipeWriter is IBufferWriter plus FlushAsync. The Pipe implementation the the only thing with the semantics you describe. PipeWriter is just an abstraction.

[2018-07-17 07:57] filipnavara commented on #30867
Depends on your system, but in general you will have to build it yourself from source. The instructions are at https://github.com/mono/libgdiplus/blob/master/README.md. You need to pass the `--with-pango` flag to the `autogen.sh` script.

[2018-07-17 08:12] hughbe commented on #31077
In this PR: https://github.com/dotnet/corefx/pull/31057 I added a bunch of `GetNativeVariantForObject` tests. They pass with netfx but fail with netcoreapp.

[2018-07-17 08:29] matthid commented on #31098
Ok it looks basically exactly like the code above (besides the compilation error):

Try the following:

1. Clone https://github.com/matthid/netcore401problem
2. `dotnet publish --runtime win7-x64`
3. Change testtfs401.csproj to `netcoreapp2.1`
4. `dotnet publish --runtime win7-x64`

Now you have the apps to reproduce:

Initially you have
[code]

Now open the Url in internet explorer:
![image](http

[2018-07-17 08:33] jkotas commented on #30940
Here are my thoughts on this subject:

`Type.Guid` and `Marshal.GenerateGuidForType` return the same Guid in .NET Framework (when GenerateGuidForType does not crash). The implementation of the two in .NET Framework is equivalent, except that `Marshal.GenerateGuidForType` has bugs that make it crash the runtime in some cases. The current .NET Core implementation of `Marshal.GenerateGuidForType` tha

[2018-07-17 08:51] pigwing commented on #31087
@karelz OK,i am waiting for the raspberry pi system Raspbian to let the cpu 100% tha i can upload the tracing
today i change the core clr to 2.0,i found that .net core 2.0 small consumption look at two picture
.net core 2.0  this two clr has same code  same os  same  hardware all the same,only use .net core 2.0 or .net core 2.1
https://github.com/AirleaderChina/Airleader-Open/blob/master/core2.0.p

[2018-07-17 09:09] filipnavara commented on #30170
Sorry for hijacking this thread a little bit.

There's a [pending issue in Mono](https://github.com/mono/mono/issues/7143) to import System.IO.Pipes from CoreFX. I've update the [pull request](https://github.com/mono/mono/pull/9573) from last year and this resulted in the following API diff: https://jenkins.mono-project.com/job/test-mono-pull-request-amd64/16144//Public_20API_20Diff/

In essence w

[2018-07-17 09:52] ViktorHofer commented on #31105
Thanks for the repro, I quickly ran through it and probably found the reason for it:

[code]

If you change this to

[code]

The reason why the former doesn't work is that at the time you get back the container and store it in `itemsToDeserialize`, the items haven't yet been deserialized. This is because you are still inside the deserialization ctor of `ContainerOfItems`. If you want to manipulate

[2018-07-17 09:52] #31105 closed

[2018-07-17 09:58] svick commented on #31074
Adding a method to an interface is a breaking change (at least until C# gets default interface methods https://github.com/dotnet/csharplang/issues/52). Doesn't that mean adding the method to `PipeWriter` is the only option here?

[2018-07-17 12:34] roji commented on #31074
@davidfowl ok, sorry, am still learning the new type hierarchy...

[2018-07-17 12:42] MarcoRossignoli commented on #30188
Plan:
Move [ SafePerfProviderHandle](https://referencesource.microsoft.com/#System.Core/Microsoft/Win32/SafeHandles/SafePerfProviderHandle.cs,836ab7386fbc0c99) under coreclr [SafeHandles](https://github.com/dotnet/coreclr/tree/85374ceaed177f71472cc4c23c69daf7402e5048/src/System.Private.CoreLib/shared/Microsoft/Win32/SafeHandles)
Move all files under [System.Diagnostic.PerformanceData](https://refe

[2018-07-17 12:45] joshgarnett commented on #24562
@doyouevensunbro I noticed that the debian/ubuntu repository is missing the latest SDK version yesterday.  I adapted the debian dockerfile to work on Ubuntu Xenial.

[code]

[2018-07-17 12:46] Lexcess commented on #30644
@Maoni0 On the first point it would be more a convenience. If you have a scoping mechanism why not reuse it to try an get as close as possible window on the allocation counts? If we're talking about what I'd ideally want, it's a set of the generation counts for only the scoped objects (not the wider process). From my admittedly limited understanding that would be impossible/non-trivial though.

On

[2018-07-17 12:52] jkotas commented on #30188
This should not touch CoreCLR in any way. None of this make sense to share with CoreCLR.

[2018-07-17 13:02] MarcoRossignoli commented on #30188
Thank's!

[2018-07-17 13:03] thesourcerer opened #31119 "EventLog.CreateEventSource limits log name similarity to first 8 chars"
CreateEventSource  verifies that there is no existing log name that starts with the same 8 chars.
From test we did, it does not seem to be a windows limitation, (maybe it was long time ago).

I think it would be a good idea to simply remove this check and allow the flexibility of longer names.

[2018-07-17 13:15] kblok opened #31120 "Add FileAttributes.Executable as a possible FileAttribute"
# Introduction
With File.SetAttributes we can modify some file permissions, such as ReadOnly or ReadWrite, but we can't set Executable (a.k.a. 7) permission.  I think we have everything we need on [FileStatus.Unix.cs](https://github.com/dotnet/corefx/blob/f25eb288a449010574a6e95fe298f3ad880ada1e/src/System.IO.FileSystem/src/System/IO/FileStatus.Unix.cs#L92) so we can do something like:

[code]

It

[2018-07-17 13:51] davidfowl commented on #31074
It could mean that, it could also mean we do nothing and it's functionality built on top of a BufferWriter like abstraction.

[2018-07-17 15:08] lserafin opened #31121 "AutomaticDecompression not working with HttpClientFactory"
I'm trying to set up **automatic gzip decompression** with the new **HttpClientFactory**.
Somehow this is not working for me.
Can you please let me know if I am doing something wrong ?

**Environment**
.NET Core 2.1
Windows 10

[code]
**Output**

`[16:57:48 INF] We are using Serilog!
[16:57:48 INF] Start processing HTTP request GET http://httpbin.org/gzip
[16:57:48 INF] Sending HTTP request GET ht

[2018-07-17 15:29] davidsh opened #31122 "HttpWebRequest not using system proxy settings"
While investigating other HttpClient/HttpWebRequest proxy-related bugs, I discovered that
HttpWebRequest was not honoring system proxy settings as defined on Windows with IE
settings or on Linux using environment variables.

Repro:
[code]

On Linux (but it repro's on Windows as well), set system proxy settings using 'http_proxy' environment variable.  Assume a proxy is running on that server.

[co

[2018-07-17 15:30] davidsh commented on #31122
Fixed in master with #31100

[2018-07-17 15:35] pjanotti commented on #30170
@filipnavara for my understanding: do you need these constructors back to keep the API surface unchanged? What is Mono behavior with these constructors outside of Windows? (Ignore not supported parameters? Throw PNSE? Something else?).

[2018-07-17 15:40] filipnavara commented on #30170
@pjanotti At the moment Mono completely lacks the pipe implementation on non-Windows platforms and throws NotImplementedException for most calls. My current plan is to throw PNSE on non-Windows platforms for these additional constructors on Unix and restore NetFX behavior on Windows.

[2018-07-17 15:43] filipnavara commented on #30170
More specifically, I am currently fiddling with approach that throws PSNE only if non-default values are used in the parameters.

[2018-07-17 16:12] danmosemsft opened #31124 "Port System.Diagnostics.Eventing.Reader"
Per offline discussion with @brianrob @vancem

[2018-07-17 16:30] danmosemsft commented on #30760
@karelz if this is to go into 2.1.x it will need a mail to corefx shiproom. Do you plan to do that?

[2018-07-17 16:41] AaronRobinsonMSFT commented on #30940
@jkotas I have been digging into the TlbExp experience and found those two functions a while ago - they are indeed 'interesting', I think fragile is a bit generous 😸 If there are no concerns about returning `Guid.Empty` I will step through the code to update my understanding and if I don't see anything obviously dubious then I will simply close this issue and consider it 'by-design'.

[2018-07-17 16:41] danmosemsft commented on #30327
Removing label until we are ready to take to big shiproom.

[2018-07-17 16:42] danmosemsft commented on #30760
Removing label until this is ready for big shiproom.

[2018-07-17 16:43] danmosemsft commented on #12403
Reopening for 2.1 port

[2018-07-17 16:43] danmosemsft commented on #12403
### Shiproom template

#### Description
Currently, when we copy the files on Unix, the millisecond attribute of the timestamp of the new file is always set to zero. This can mean the destination of the copy looks older than the source of the copy.

#### Customer Impact
MSBuild will over-build on Linux (and macOS Mojave) which can be much slower than skipping build steps.

#### Regression?
Regressi

[2018-07-17 16:58] AnthonyLloyd opened #31126 "API Proposal: Add AddOrUpdate to Dictionary<K,V>"
Add the AddOrUpdate method that is on ConcurrentDictionary to Dictionary. This would improve performance in use cases such as counting keys.

K-Nucleotide in the benchmarksgame does this and has an ugly workaround currently.

# Proposed API

I'm proposing some kind of Update method for` Dictionary<K,V>` which could up to double the performance of this operation.

After looking at `ConcurrentDictio

[2018-07-17 16:58] bartonjs commented on #31073
It seems that Windows has some sort of "try the right way, try using the document order" fallback.  It also seems that DigiCert is not RFC-compliant when signing timestamps (because they're the ones who signed it without sorting the attributes).

[2018-07-17 17:00] doyouevensunbro commented on #24562
@joshgarnett Thanks! Will give that a try today.

[2018-07-17 17:17] luqunl commented on #30940
Yes. I would love to add this restriction if we can. it will make analyzer work a little bit easy. But we can only add this restriction for COM not WinRT.

return Guid.Empty is better "hard exception".

also in long team, we can deprecated API Marshal.GenerateGuidForType. since Type.Guid is exactly same behavior as Marshal.GenerateGuidForType

[2018-07-17 17:25] GrabYourPitchforks commented on #25855
Implementation note on Windows: using Task Manager's "kill entire tree" functionality does two interesting things: (a) it won't kill the taskmgr process itself even if it's a child of the tree to be killed; and (b) it keeps going even in the face of failure, choosing to report a single "something went wrong" error at the very end.

[2018-07-17 17:33] danmosemsft commented on #31126
How is this different to just setting via the indexer?

[2018-07-17 17:34] danmosemsft commented on #31120
What should it do on Windows?

[2018-07-17 17:35] terrajobst commented on #30873
We discussed if we should add a `float` or `double` version because that would be consistent with `Random` but that's because the underlying primitive there is a `double` while `RandomNumberGenerator`'s primitive is a random bits. We could add floating point version if someone ever cares.

We considered a parameterless overload `GetInt32()` as this would allow `int.MaxValue` to be part of the rang

[2018-07-17 17:43] kblok commented on #31120
As [FileStatus.Unix.cs](https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/FileStatus.Unix.cs#L92) ignores Windows attributes (e.g. Hidden, Directory and many others), [Windows code](https://github.com/dotnet/corefx/blob/27e718dfc232c8516c69275c0444d4f81d05c3e5/src/System.IO.FileSystem/src/System/IO/FileSystem.Windows.cs#L563) should ignore it.

[2018-07-17 17:45] danmosemsft commented on #26234
For clarity this is what we agreed:
[code]

[2018-07-17 17:45] terrajobst commented on #30730
@TannerGooding brought up wether this should be handled by the [new compiler intrinsics](https://github.com/dotnet/csharplang/pull/1685).

@jaredpar, any thoughts?

[2018-07-17 17:49] terrajobst commented on #30677
Agree with @jkotas  -- we should just return `null` as that's a valid answer even on Windows. Normally, if we cannot implement an API we'd throw `PlatformNotSupportedException` rather than `NotSupportedException`.

Looks good as proposed.

[2018-07-17 17:56] danmosemsft commented on #31120
Makes sense. Would this be for file owner only (`S_IXUSR`)

[2018-07-17 17:58] Rajivts commented on #16680
Created a pull request with the associated changes: #31129 . Please review.

[2018-07-17 18:00] kblok commented on #31120
Yes

[2018-07-17 18:02] jkotas commented on #30730
So far, the compiler intrinsics has been scoped to cases that are not possible to implement as methods in `S.R.CS.Unsafe`.

[2018-07-17 18:06] danmosemsft commented on #31120
Thanks, I think this is ready for review, they meet once a week so it may be a little bit.

[2018-07-17 18:07] terrajobst commented on #30527
The API looks reasonable.

A few questions:

1. Why wouldn't we add the API to the base handler (`HttpMessageHandler`)? It seems the problem of wanting to limit the maximum HTTP version applies to all handlers.

2. Alternatively, why wouldn't we expose a instance property on `HttpClient` that controls the version number that it uses when constructing messages?

3. We'd also want a static property

[2018-07-17 18:07] jaredpar commented on #30730
Echoing @jkotas here.

The intrinsics proposal is aimed at getting language support for items we can't reasonably represent as an API . If it can be represented as an API then it's likely better off being implemented as such as it's immediately available to all languages. Also in most of these cases it's cheaper to just implement the API than going through LDM, compiler prototyping, toolset distri

[2018-07-17 18:10] vcsjones commented on #30873
I'm happy to implement this if someone can assign it to me.

[2018-07-17 18:10] davidsh commented on #30527
A few questions:

1) We don't add such properties to HttpMessageHandler.  That is an abstract class that only has the .SendAsync() virtual method.  We could add this property to HttpClientHandler, though.  But we have been hesistant to add properties to HttpClientHandler right now. There are other properties we added to SocketsHttpHandler (i.e. ) that we also haven't yet added to HttpClientHandler

[2018-07-17 18:15] Eilon commented on #30955
@Petermarcu / @stephentoub - can we get an update on this? We are concerned that something may have regressed in a 2.1.x patch and is at least affecting EF Core scenarios.

[2018-07-17 18:19] danmosemsft commented on #30091
Tanner this should be set to milestone=3.0 right? 2.2 is based off release/2.1 for us.

[2018-07-17 18:20] danmosemsft commented on #30558
We should do this as soon as possible, but it does not need to be in the 2.2 radar.

[2018-07-17 18:33] pjanotti commented on #30170
@filipnavara the issue is that the types needed for those constructors are not exposed from the ref, if we bring back those constructors we will have to make the types public again. However, at this moment, they only make sense for Windows and are not part of .NET Standard so I don't think we should bring them back, since they already do nothing on Mono there shouldn't be anybody using them. If so

[2018-07-17 18:35] terrajobst commented on #28001
The scenario is reasonable.

@GrabYourPitchforks brought up that we should also add an overload for `GetHashCode()`.

It's worth pointing out `CompareInfo` can be derived from and the existing overloads are virtual. Presumably, these new APIs wouldn't normally delegate to them (because we want to avoid allocating a string in the first place), which now means that if a custom derivative exists and

[2018-07-17 18:35] GrabYourPitchforks commented on #28001
In particular, we need a new overload `int GetHashCode(ReadOnlySpan<char> value, CompareOptions options = default)`.

[2018-07-17 18:36] danmosemsft commented on #30781
Pulled this temporarily as it missed 2.1.3 and they want a clean branch in case they need to rebuild 2.1.3 for some reason. keeping this issue open meantime.

[2018-07-17 18:38] danmosemsft commented on #31122
This is approved but release/2.1 branch is not open for 2.1.4 yet so we can't merge yet.

[2018-07-17 18:38] Petermarcu commented on #30955
@danmosemsft can you take a look at this?

[2018-07-17 18:44] davidsh commented on #31122
### Shiproom template

#### Description
HttpWebRequest is not honoring system proxy settings as defined on Windows with IE settings or on Linux using environment variables. So, sending requests with HttpWebRequest will ignore the proxy completely.

The problem is due to how HttpClient and HttpWebRequest differ in how they represent the default behavior of using system proxy settings with its vario

[2018-07-17 18:47] danmosemsft commented on #30955
Looking.

[2018-07-17 18:48] tannergooding commented on #30091
@danmosemsft, that depends on if we are wanting to ship another preview in 2.2, if yes then this is important. Otherwise, this can probably be closed since the feature is targeting 3.0

[2018-07-17 18:49] jkotas commented on #28001
It cannot actually. There is no public constructor that lets you derive from it. It seems we were planning to make it extensible, but then stopped mid-flight.

[2018-07-17 18:54] danmosemsft commented on #12403
To take this in servicing we need evidence customers are actually being impacted.

[2018-07-17 18:55] terrajobst commented on #30207
Thanks for the detailed proposal!

The cost for us to support a calendar can be high because we have to react if definitions or rules change. It seems neither Windows, nor macOS, nor ICU support this calendar natively.

Thankfully, the .NET globalization APIs are extensible so you'll be able to ship this calendar as a NuGet package. If it gets very popular, adding it to the platform seems reasonab

[2018-07-17 18:55] #30207 closed

[2018-07-17 19:13] filipnavara commented on #30170
I assumed the types are exposed in ref (https://github.com/dotnet/corefx/blob/master/src/System.IO.Pipes.AccessControl/ref/System.IO.Pipes.AccessControl.cs), although in different assembly. It seems the CoreFX code already references the types in System.IO.Pipes though only in an extension class.

The current Mono code implements the constructors, but they only work on Windows (the whole System.IO

[2018-07-17 19:18] thesourcerer commented on #31119
More info:
We tested and verified there is no windows limitation on:
Windows Server 2008 R2
Windows Server 2012 R2
Windows 10

[2018-07-17 19:33] dsyme commented on #31126
Thats what I was wondering too :)

[2018-07-17 19:41] AnthonyLloyd commented on #31126
It's roughly twice as fast because you need to effectively do the same operation twice.
In the benchmarksgame its come out faster than that because the hack needs to be done with pointers.

You need to do the following:

[code]

but you get a small perf improvement if you do the following:

[code]

[2018-07-17 19:46] pjanotti commented on #30170
System.IO.Pipes.AccessControl is a package that is not shipped with CoreFx, so those types are only exposed if one explicit imports the package, that's why we don't want to expose those constructors directly in CoreFx.

I took a very quick glance at your changes and it seems fine since you are not exposing any net public constructor or type - as you said the constructors will be done on Mono parti

[2018-07-17 19:56] AaronRobinsonMSFT commented on #30866
@danmosemsft @luqunl Here are my thoughts on this issue:

1) Call `Marshal.GetExceptionForHR()` twice. Once to clear the current `IErrorInfo` instance and the second to get the real exception.
1) PInvoke into `SetErrorInfo()` and set the current `IErrorInfo` instance to `null`. (i.e. `SetErrorInfo(0, null)`)

I prefer the first option because it doesn't introduce any PInvokes which makes cross pla

[2018-07-17 19:59] vcsjones commented on #31073
I pinged DigiCert so they are at least aware of the issue.

[2018-07-17 20:07] Tyrrrz commented on #31034
@SlowLogicBoy, would you be able to help in regards to reproducing the issue @RyanFarrah described? I remember you were having it too.

[2018-07-17 20:17] karelz commented on #31126
@AnthonyLloyd it would be useful to post the API shape you expect - see [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) for details and example.

[2018-07-17 20:17] #30091 closed

[2018-07-17 20:22] karelz commented on #31121
Technically, `HttpClientFactory` is not tracked in CoreFX, it is part of ASP.NET - http://github.com/aspnet/Home
However, your problem may be with just plan `HttpClient` - can you please create repro without `HttpClientFactory`? (one less problem to worry about)

[2018-07-17 20:22] lennane opened #31135 "CORE 2+ on a new OS"
I happen to own a truly fine RTOS that was developed a number of years ago. We are interested in adapting it to be used as an OS running under .NET Core.
What I have been seeking is a design document that lists the required features of the OS to enable the mounting of .NET Core.
So far--no luck. I have looked through the .NET Core source. Specific functions are fairly easy to read and understand.

[2018-07-17 20:23] geoffkizer commented on #30760
Do you expect this (i.e. setting Connection: close and doing NT auth) to work?

[2018-07-17 20:31] karelz commented on #31135
There are some docs: https://github.com/dotnet/source-build/blob/dev/release/2.1/Documentation/boostrap-new-os.md
And stories behind porting to [FreeBSD](https://github.com/dotnet/coreclr/issues/18067) and [Android](https://github.com/dotnet/coreclr/issues/1097).

I would recommend to read the docs and stories about ports. They are rather involved.
If you have questions about general approach, you

[2018-07-17 20:45] stephentoub commented on #31120
This was about making existing APIs work as best as possible.  There's a higher bar for new APIs.

Just as a point of order, executable is 1. 7 is Read (4) | Write (2) | Execute (1).

[2018-07-17 20:46] doyouevensunbro commented on #24562
Ended up just grabbing the 2.1.302 tarball and manually installing it, and I'm happy to say it fixed the HttpListener socket issue. Thanks!

[2018-07-17 20:46] #30730 closed

[2018-07-17 20:53] bartonjs commented on #31073
Oh, good, that was on my TODO list :)

[2018-07-17 20:58] #30649 closed

[2018-07-17 21:00] clintwilson commented on #31073
Looking into this a bit further (thanks Kevin!).
Is this from our http://timestamp.digicert.com TSA?
I don't have an environment set up to reproduce this immediately, is there an example signed file or asn.1 structure that could be provided?

[2018-07-17 21:08] kblok commented on #31120
I don’t know if there is a concept of “Execute” permission on Windows, it’s about file extensions. What would you do in that case?

[2018-07-17 21:13] vcsjones commented on #31073
@clintwilson take a look at https://github.com/vcsjones/SignedCmsBug in the `tst.txt` file.

[2018-07-17 21:17] bartonjs commented on #31073
@clintwilson Yeah, I submitted a request to http://timestamp.digicert.com earlier this morning, and in the signed file the SigningCertificate attribute (1.2.840.113549.1.9.16.2.12, 43 bytes) and MessageDigest attribute (1.2.840.113549.1.9.4, 47 bytes) are written down not in sorted order.  The digest over the attribute block (which should be a DER SET-OF, which requires sorting) was done over the

[2018-07-17 21:18] Clockwork-Muse commented on #31135
@karelz - that bootstrap link is 404

[2018-07-17 21:20] karelz commented on #31135
Quick search discovered this: https://github.com/dotnet/source-build/blob/master/Documentation/boostrap-new-os.md (updating above to avoid confusion in future)

[2018-07-17 21:21] omariom commented on #31126
May be ```ref TValue GetOrAdd(TKey key));```?

[2018-07-17 21:21] geoffkizer commented on #30527
Some background:

The default of HttpRequestMessage.Version used to be 1.1.  In the 2.1 release, we changed it to 2.0.

*However*, we also changed the default HttpClientHandler to use SocketsHttpHandler instead of the platform-specific handlers (WinHttpHandler and CurlHandler). SocketsHttpHandler does not support HTTP/2. Requests will automatically be downgraded to HTTP/1.1.

So when a customer up

[2018-07-17 21:48] lennane commented on #31135
I agree. The link is gone
 
In a message dated 7/17/2018 5:19:11 PM Eastern Standard Time, notifications@github.com writes:

 
@karelz - that bootstrap link is 404
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-07-17 21:50] lennane commented on #31135
This may be the correct file
 
https://github.com/dotnet/source-build/blob/master/Documentation/boostrap-new-os.md
 
In a message dated 7/17/2018 5:19:11 PM Eastern Standard Time, notifications@github.com writes:

 
@karelz - that bootstrap link is 404
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-07-17 21:54] AnthonyLloyd commented on #31126
@karelz sure. I'm proposing some kind of Update method for Dictionary<K,V> which could up to double the performance of this operation.

After looking at ConcurrentDictionary<K,V> I think it could be the same as AddOrUpdate:

[code]

The usage example for counting keys would look like:
[code]

but there are other common cases where the value in the dictionary is another collection such as a List<T>

[2018-07-17 21:55] lennane commented on #31135
I was able to find the referenced file. However, it still appears to be quite relative to environments that appear close to LINUX.
 
Thanks for you info. I'll keep researching.
 
Jim
 
 
In a message dated 7/17/2018 4:32:33 PM Eastern Standard Time, notifications@github.com writes:

 
There are some docs: https://github.com/dotnet/source-build/blob/dev/release/2.1/Documentation/boostrap-new-os.md

[2018-07-17 22:02] svick commented on #30730
Why is this method on the `Unsafe` class? What is unsafe about it?

[2018-07-17 22:05] vcsjones commented on #31073
@clintwilson the relevant specification is X.690, section 11.6:

[2018-07-17 22:07] jaredpar commented on #30730
@svick

My guess is the following:

[code]

What happens in this case? I'm unsure if this is safe or not in the context of this API.

[2018-07-17 22:14] svick commented on #30730
@jaredpar Why would that be unsafe? `o = true;` creates a new box and assigns a pointer to it to `o`. That doesn't affect the old box that can be accessed through `i` in any way.

[2018-07-17 22:14] jkotas commented on #30730
Boxes are assumed to be immutable. This API returns mutable pointer.

[2018-07-17 22:16] stephentoub commented on #31120
Why does it need to be on FileAttributes? Can you use the Mono.Posix nuget package and just call it's Chmod (or P/Invoke to chmod directly)?

[2018-07-17 22:16] jkotas commented on #30730
Correct. This code fragment is fine.

[2018-07-17 22:21] jaredpar commented on #30730
Yep. I'm not sure why I thought boxing could happen in place in that way. Lot of meetings today. I'll blame that.

[2018-07-17 22:29] danmosemsft commented on #30866
@AaronRobinsonMSFT either seem fine in tests -- if it was implemenation we might want to do the prettier way...

[2018-07-17 22:32] danmosemsft commented on #30955
This was determined to be 2.0 only (not 2.1) and as @stephentoub suggested, not easily debugged (the codepath should be impossible). Given 2.0 is nearly out of support, I recommend close.

[2018-07-17 22:34] maumar commented on #30955
agree with @danmosemsft. We will disable the affected tests in our branches when running against 2.0

[2018-07-17 22:34] #30955 closed

[2018-07-17 22:38] AaronRobinsonMSFT commented on #30866
Thanks @danmosemsft. I went with the first option - PR #31136

[2018-07-17 22:42] bartonjs commented on #29960
If you need certificates to test with, there are plenty in the X509Certificates tests, and since we're building and running tests against net472 you could use the CertificateRequest API to just create them on the fly.

I don't know of any UI tests that we'd have, since we don't have UI.  And this is all about "pop a dialog, do some stuff with it, and look at the answer".

[2018-07-17 22:44] benaadams commented on #30730
But this code isn't fine
[code]

[2018-07-17 23:00] danmosemsft commented on #29960
We have no means to handle UI, so unit tests aren't allowed to trigger UI. If testing involves UI, I'd check in a list of steps for someone to run manually if/when they change the code.

[2018-07-17 23:06] stephentoub commented on #30730
With the checked in implementation, that'll throw, since it uses unbox that does a type check.

[2018-07-17 23:07] danmosemsft commented on #31126
@AnthonyLloyd so the motivation is, setting a value that may depend on any existing value? And this new API would allow this to be done with only one key lookup? If so that makes sense, although there is a high bar for touching Dictionary as it gets instantiated many times (for many different value types) so every extra method bloats our assemblies significantly. We would need good evidence that i

[2018-07-17 23:13] danmosemsft commented on #31126
By the way @AnthonyLloyd , many thanks for your work on the C# submissions to CLBG.

[2018-07-17 23:21] AaronRobinsonMSFT commented on #31068
The issue here is the removal of `[ComVisible(true)]` from various runtime types - see 55fe7d685a88bf837ac29fcf33375f285f7c8136. The check for this is in the depths of `srv/vm/interoputil.cpp` in my least favorite function: `SpecialIsGenericTypeVisibleFromCom()`.

The short answer here is that this is by-design since that is how the function is documented - even though it is different from .NET Fr

[2018-07-17 23:24] mckenzielee commented on #30951
Here it is: https://github.com/mckenzielee/HttpClient-URITooLong-Exception

[2018-07-17 23:30] AnthonyLloyd commented on #31126
Yes it's an update based on a prior value. It would simplify the KNucleotide code and would possibly have almost comparable perf.

I'm not sure of other evidence out there. Personally in most systems I have added this as an extension method using the TryGetValue code above. I've also seen it often discussed on stackoverflow.

As you say Dictionary is used a lot hence performance should be carefull

[2018-07-17 23:31] thyams opened #31138 "FileStream.Windows.cs can freeze on Interop.Kernel32.Readfile"
Tracked an infinite loop situation triggered by BenchmarkDotNet.

https://github.com/dotnet/corefx/blob/015ee21f6fe1eadad478d8c9409c95cf98c2b121/src/Common/src/CoreLib/System/IO/FileStream.Windows.cs#L1197

My project with Benchmark ready to go.
https://github.com/thyams/CookedRabbit

Opened an incident with BenchmarkDotNet and optimized their StreamReader loop:
https://github.com/dotnet/Benchmark

[2018-07-17 23:53] thyams commented on #31138
Great questions, no the jump is frozen in place, not fluttering back and forth.
AsyncIO is false.
NetCore 2.1.4 (SDK v2.1.302).
All Windows 10 updates (OS Build: 17134.167)
Latest version of Visual Studio 2017 Professional (stable branch / non preview).

[2018-07-18 01:07] jrvjrv commented on #31042
Based on my read of the submitted fix, I think it will fix the problem. I am closing this issue.

[2018-07-18 01:49] davidsh commented on #30951
Probably.  And that looks like a bug with HttpClient, specifically SocketsHttpHandler.  Kestrel is also sending "Connection: close" as well (which is good).  So, SocketsHttpHandler should be able to remove that connection from its pool and use a new connection.

We'll investigate the bug on the HttpClient side.

cc: @geoffkizer @stephentoub

[2018-07-18 01:53] thyams commented on #31138
Tracked it down to Process RedirectStandardInput and RedirectStandardOutput. If I had to guess, multiple dotnet hosts are writing to a central host.

@adamsitnik Is my understanding correct? (Based on ConsoleHost -> SynchronousProcessOutputLoggerWithDiagnoser)

[2018-07-18 02:03] davemurphysf commented on #24484
Hi,
I'm facing a similar issue; I have code that was working on framework, but it's not working on core/standard.  I have a Azure Functions project I'm converting from 1.x to 2.0.  I'm [validating an Outlook add-in Identity token](https://docs.microsoft.com/en-us/outlook/add-ins/validate-an-identity-token#validate-the-identity-token-signature), and I'm using [this code from another sample to creat

[2018-07-18 02:05] mckenzielee commented on #30951
To clarify, we are expecting a 414 response to this request. In .NET core 2.0 and ASP.NET core 2.0.1, we were consistently getting the 414 response to requests of this size.

[2018-07-18 02:17] davidsh commented on #31098
I took a look at your repro.  It was a little confusing to me because you defined an "EmptyProxy" object. However, I was able to repro the behavior you are seeing.  I used a different server which is the following (one of the CoreFx test server endpoints we use in the repo):

[code]

The behavior you see in .NET Core 2.0 is because the HTTP stack is using WinHttpHandler which is based on native Wi

[2018-07-18 02:21] davidsh commented on #31098
cc: @stephentoub @geoffkizer

[2018-07-18 03:29] LuceLuo commented on #30867
I spent a day trying to compile it, I failed.
Do you have other convenient solutions?
@filipnavara

[2018-07-18 03:55] #30866 closed

[2018-07-18 04:17] matthid commented on #31098
Yes this is kind of what I assumed, question is if handling and storing the credentials myself is my only option? Are you saying I could try to access the credentials store directly? Is this possible? If yes should it be added to the new stack?

Also, I don’t think we use basic authentication, but I might be wrong. Would that change anything or would I still just retrieve username/password from th

[2018-07-18 04:34] peterduniho commented on #25928
Is it hard to write a class implementing `IEqualityComparer<T>`? Nope. But it's tedious, and wordy.

That's why in every private "util" library I use, I eventually wind up with a delegate-based implementation of `IEqualityComparer<T>` that has a `Create()` method to accept the appropriate lambda expression delegates for the `Equals()` and `GetHashCode()` implementations. I get to write (copy/paste

[2018-07-18 04:35] geoffkizer commented on #30951
We should be detecting that the connection is closed and not reusing it. Not sure why that isn't happening here.

[2018-07-18 04:41] dustinsoftware opened #31143 "HttpClient does not always return 'Authorization' header correctly"
Simple app to repro this behavior is in [this gist](https://gist.github.com/dustinsoftware/424ba34074f4044a1420713bda37104a), on .NET Core 2.1.302.

When accessing the `Authorization` header in .NET Core 2.1 via `GetValues`, it will be empty:
[code]

Calling this method inside netstandard 2.0 library running on .NET 4.7 works as expected.

This always works:
[code]

Is this behavior documented som

[2018-07-18 05:10] AArnott opened #31144 "PipeWriter: no way to wait for reader to catch up"
When I use a `Pipe`  as a way to write to something else, there is no way for the `PipeWriter` to *flush* such that it returns a `Task` that signifies when the `PipeReader` has caught up with the `PipeWriter` up to a given point. When I'm writing directly to a stream, I can write several times, then call `await Stream.FlushAsync()` and know that everything I've written has been transmitted before

[2018-07-18 05:19] Porges opened #31145 "Support for 128-bit AVX intrinsics"
The AVX instructions in `System.Runtime.Intrinsics.Experimental` appear to be missing support for the 128-bit vectors.

From [Intel's guide](https://software.intel.com/sites/default/files/managed/c5/15/architecture-instruction-set-extensions-programming-reference.pdf):

So it sounds like all the 128-bit instructions supplied by the SSE intrinsics should be in the AVX intrinsics too, to help avoid

[2018-07-18 05:20] davemurphysf commented on #24484
You are 100% correct!  Thank you sir.

[2018-07-18 05:29] #31145 closed

[2018-07-18 05:33] stephentoub commented on #31138
It's not returning from the read on the file stream because this is actually a pipe to another process and the other process still has its end of the pipe open / that process hasn't gone away... so this code reading from the pipe is just going to sit blocked waiting for something more to read or for the pipe to close.

[2018-07-18 05:37] SlowLogicBoy commented on #31034
It was on dotnet sdk 2.1 pre-release, I don't remember which version exactly, I no longer have that Linux install to reproduce this. It happens on our windows server 2012 build machines randomly too, but it has outdated dotnet sdk version: 2.1.300 (latest at this point in time is 2.1.302 afaik), and I can't reproduce this regularly, unfortunately.

[2018-07-18 05:45] msedi opened #31146 "Introduce IDisposable in GCHandle"
Since pointers are not allowed on generics, I have to do a lot of GCHandle.Alloc to pin my arrays so that I'm able to do mathematical operations on my arrays. See below an example. The problem is that I always have to use a try...finally construct to Free() the pinned handle again. So it would be nice fi the GCHandle implements and IDisposable so that I can encapsulate it into a using block.

[cod

[2018-07-18 05:54] stephentoub commented on #31146
Why wouldn't you just use `fixed` here instead of `GCHandle`, e.g.
[code]

[2018-07-18 06:04] pigwing commented on #31087
@karelz the tracing https://github.com/AirleaderChina/Airleader-Open/blob/master/sampleTrace.trace.zip
@brianrob

[2018-07-18 06:12] pigwing commented on #31087
is about irqbalance problem?

[2018-07-18 06:15] pigwing commented on #31087
my app is ECO.Gateway

[2018-07-18 06:52] dotnet-mc-bot opened #31147 "Test failure: System.Net.Tests.HttpWebRequestTest/GetResponseAsync_ServerNameNotInDns_ThrowsWebException"
Opened on behalf of @Sunny-pu

The test `System.Net.Tests.HttpWebRequestTest/GetResponseAsync_ServerNameNotInDns_ThrowsWebException` has failed.

Assert.Equal() Failure\r
    Expected: NameResolutionFailure\r
    Actual:   UnknownError

        Stack Trace:

           at System.Net.Tests.HttpWebRequestTest.GetResponseAsync_ServerNameNotInDns_ThrowsWebException() in E:\A\_work\5\s\corefx\src\Syste

[2018-07-18 06:53] msedi commented on #31146
Nevertheless. Would it make sense to attach an IDisposable to the GCHandle as a long runner?

[2018-07-18 07:07] jkotas commented on #28180
Not actionable after https://github.com/dotnet/corefx/pull/30897

[2018-07-18 07:07] #28180 closed

[2018-07-18 07:46] quan01994 commented on #30867
@LuceLuo  on centos 7
yum install pango-devel,
then i build success ,but still lost text

[2018-07-18 08:38] LuceLuo commented on #30867
I successfully solved the problem of missing characters, but DrawImage does not support transparency of png.

[2018-07-18 08:42] itrofimow commented on #31094
I am not able to reproduce it without load, so i don't quite get how one could repro it without ASP.NET. Moreover, i feel like it's not HttpClient related - it's usage was just for confirmation of issue not being related to just Kestrel(however it might be combo).

Well, i dont have repro for now - i believe it would take like a couple of days to build it. So i guess we should come back to this af

[2018-07-18 08:51] benaadams commented on #31144
Use the `Pipe` constructor taking `PipeOptions` and set `pauseWriterThreshold` and `resumeWriterThreshold`?

/cc @davidfowl

[2018-07-18 09:09] karelz commented on #31087
Did you get chance to analyze the traces? Where does it point to and why?

[2018-07-18 09:11] karelz commented on #31094
You can generate load from Main (e.g. kick off 1000 threads doing the same thing in a loop), you don't need ASP.NET server for it.
Without repro / perf investigation it is not actionable. Let's close it for now. Once you have more, we can reopen.

[2018-07-18 09:15] karelz commented on #31135
@lennane we didn't port to non-Linux OS, so we don't have anything more than that.

[2018-07-18 09:15] karelz commented on #31135
Seems to be answered, closing.

[2018-07-18 09:15] #31135 closed

[2018-07-18 09:16] karelz commented on #25928
@peterduniho upvote top post. It is sortable on GitHub by number of votes there ...

[2018-07-18 09:16] davidfowl commented on #31144
I think part of the problem is that the intent of the `Pipe` specifically is that the reader and writer are completely decoupled. In this scenario it seems as though you're looking for a way to know when the written data was fully consumed by the other side.

What's the scenario?

[2018-07-18 09:21] karelz commented on #31126
Can you share some top links demonstrating how popular and upvoted it is?

[2018-07-18 09:31] karelz commented on #31143
Can you check it against .NET Core 2.0? I wonder if it is recent regression, or "just" difference against .NET Framework

[2018-07-18 09:32] karelz commented on #30951
We may consider it for servicing ...

[2018-07-18 09:35] Drawaes commented on #30689
Why don't you add a "new" limit.

readAheadThreshold

pauseWriterThreshold == how much "unconsumed" data you can have
readAheadThreshold == how much "unexamined" data you can have

Then people can set the readAheadThreshold to a reasonable number (32k or whatever) and the other one to the large limit of the upperbound they may expect to process?

Simples :)

[2018-07-18 09:39] peterduniho commented on #25928
@karelz thanks. I don't see an "upvote" option per se, but I assume you mean the "thumbs up reaction" option. "Vote" submitted. :)

[2018-07-18 10:00] 4creators commented on #27911
https://github.com/dotnet/coreclr/issues/18910#issuecomment-404965603

[2018-07-18 10:06] iSazonov commented on #30994
If the code has not changed but it works more slowly twice, then it is more necessary to look into .Net Core.

[2018-07-18 10:17] benaadams commented on #30689
Remove the exception for `pauseWriterThreshold`; have it just be when backpressure starts being applied.

Is a valid change:

Add a backstop threshold `maxUnconsumedThreshold` when `GetMemory` starts to throw

[2018-07-18 10:24] karelz commented on #30994
@iSazonov the first step should be proper perf investigation / comparison with .NET Framework - ideally someone familiar with the code using .NET (Core) here.

[2018-07-18 10:30] iSazonov commented on #30994
I tried to do it today but without success - I do not have such experience with PerfView.
PerfView from link above doesn't show me call stack for  .NET Framework.

[2018-07-18 10:33] AnthonyLloyd commented on #31126
It's been discussed in a few issues already:
https://github.com/dotnet/corefx/issues/1942

Just a quick google gives a few hits:

https://stackoverflow.com/questions/46655665/update-dictionary-value-and-get-the-previous-one
https://stackoverflow.com/questions/1243717/how-to-update-the-value-stored-in-dictionary-in-c

http://www.nilzorblog.com/2013/01/improving-generic-c-dictionary-with.html
https:

[2018-07-18 11:03] csyszf opened #31154 "Why BitConverter Span-based APIs not exist when target netstandard2.0"
There're no BitConverter span-based APIs like `int ToInt32(ReadOnlySpan<byte> value)` unless the target framework is .netcoreapp

I found BitConverter extensions in https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/ref/System.Runtime.Extensions.cs, but the latest package of `System.Runtime.Extensions` is 4.3.0 and updated on 2016.

How can I using those APIs in netstandard

[2018-07-18 12:07] thyams commented on #31138
Thanks Stephen. That makes sense but I wonder why it only affects my library call and ocassionally BenchmarkDotNet build in Travis CI.

I will figure it out.

If a Pipe is blocked, should it not throw an exception? I get one when trying to Read or Execute a locked file in a stream... Why not another pipe?

[2018-07-18 12:14] ViktorHofer commented on #1942
This will _probably_ be available in .NET Standard vNext.

[2018-07-18 12:46] kblok commented on #31120
Yes, I could use Mono.Posix.NetStandard or P/Invoke.

When I was looking for "chmod" on this project, looking for a way to `chmod 7` a file, I found that [SetAttributes](https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/FileStatus.Unix.cs#L92) looked like a chmod wrapper: It validates the argument, checks if the argument is different from the current mode and then

[2018-07-18 13:02] kblok commented on #31076
@stephentoub closing this issue. They just said they don't support pings.
So I would need to set [keepAliveInterval](https://github.com/dotnet/corefx/blob/06aa6f0ce4cdf78985f029f218007a7d55f8965f/src/Common/src/System/Net/WebSockets/ManagedWebSocket.cs#L209) to TimeSpan.Zero.

[2018-07-18 13:02] #31076 closed

[2018-07-18 13:15] lennane commented on #31135
I understand that. However, what was the specification for porting to LINUX.
 
Is there documentation listing the necessary and sufficient conditions to perform a port. Particularily what functionality was the OS required to support in terms of calls to and required results from.
 
It is difficult for me to accept that is was an ad-hoc effort on a project that was clearly massive and expensive.
 

[2018-07-18 13:30] stephentoub commented on #31138
No. The whole point of doing a read on a pipe is to wait for data to read to be available. So it'll block until either data is available or the pipe is closed.

[2018-07-18 13:45] pigwing commented on #31087
all cpu use in libcorelir.so and i can not found any information

[2018-07-18 14:29] kbaladurin opened #31155 "Behaviour change between SocketsHttpHandler and HttpClientHandler regarding 'Accept' header (.NET 2.1)"
When we use `SocketsHttpHandler` `Accept` header isn't set implicitly but if we use older `HttpClientHandler` it's set to `*/*` by default. This situation can be reproduced using following sample:
[code]
**SocketsHttpHandler**
[code]
Request:
[code]
**HttpClientHandler**
[code]
Request:
[code]
Requests was intercepted using proxy.

Is it expected behavior? Thank you!

[2018-07-18 14:30] kbaladurin commented on #31155
cc @alpencolt

[2018-07-18 14:30] kbaladurin commented on #31155
@gbalykov

[2018-07-18 14:41] AArnott commented on #31144
@benaadams I'm not looking for thresholds. Those are useful in their own right. I'm looking specifically for a way to know when the reader has done its job.

@davidfowl The scenario is interop across APIs. In my [`Nerdbank.Streams` package](https://github.com/AArnott/Nerdbank.Streams#specialized-net-stream-classes) I'm including some classes that make a `Stream` look like a `PipeReader`/`PipeWrite

[2018-07-18 14:56] glittle commented on #30207
Hi @terrajobst.

As long as we implement just the core of the calendar, as proposed, there is little likelihood that the rules will change.  The rules were "set in stone" in 2014 and can now be relied on.  The only part that will need maintenance will be the small data table providing the timing of the vernal equinox each year. That is already defined for a few hundred years. The next refresh of t

[2018-07-18 15:05] davidfowl commented on #31144
We have a work item to address the Stream -> PipeReader/PipeWriter adapter problem. In hindsight we should have probably shipped basic something in the box since *everyone* will end up writing this. Versions exist in both SignalR and Kestrel and @mgravell has his own in https://www.nuget.org/packages/Pipelines.Sockets.Unofficial/.

Unfortunately, that's by design when you're using the `Pipe`. The

[2018-07-18 15:05] davidfowl commented on #31154
netstandard 2.0 existed before Span did.

[2018-07-18 15:09] alpencolt commented on #31155
cc @danmosemsft @weshaggard @jkotas

[2018-07-18 15:18] thyams commented on #31138
Thanks Stephen, this sounds like an implementation related issue.

I will close this ticket. Armed with this knowledge I should be able to resolve it now that I know for sure what I am looking for.

[2018-07-18 15:18] #31138 closed

[2018-07-18 15:31] GSPP commented on #30730
It it not new that code can mutate boxed values arbitrarily. It's safe, verifiable code. New is just the capability to do it directly from C#. Doing it through reflection emit or in IL was always possible.

[2018-07-18 15:38] csyszf commented on #31154
@davidfowl thanks for your reply.
It seems that I have some misunderstanding about corefx(libraries), .net standard and .net core runtime.
`Span` can be using in netstandard 2.0 library projects by referencing `System.Memory` nuget package.
what I expected before is that there would be some span-related APIs exist in new versions of `System.Runtime.Extensions`

[2018-07-18 15:44] tannergooding commented on #31145
@Porges, yup. Since CoreCLR is a JIT, it can detect the current hardware and just emit the better code 😄

[2018-07-18 15:45] ViktorHofer commented on #31154
The System.Runtime.Extensions nuget package won't be updated anymore as it is now inbox (part of the framework). You can either target netcoreapp2.1 or wait for netstandard vNext which will _probably_ contain the mentioned APIs.

[2018-07-18 16:01] dotnet-mc-bot opened #31156 "Apparent race condition copying files from sync.cmd"
Opened on behalf of @MattGal

Possibly related to these recent PRs?
https://github.com/dotnet/corefx/pull/31097
https://github.com/dotnet/corefx/pull/31139
(similar symptoms, BuildVersion.props called out in one log)

Warnings: 1
Status Message: failed

Build : Master - 20180718.04 (Product Build)
Failing configurations:
- Windows
  - AllConfigurations-x64
[Mission Control Build Info](https://mc.d

[2018-07-18 16:35] davidsh commented on #31155
That was a side-affect behavior on Linux with CurlHandler which uses libcurl.  It was not part of the standard .NET behaviors for HttpClient API for .NET Framework or .NET Core on Windows.

As of .NET Core 2.1, the HTTP stack has been standardized and uses the new SocketsHttpHandler underneath HttpClientHandler.  It follows the consistent API behavior of HttpClient for .NET Framework and .NET Core

[2018-07-18 16:41] kbaladurin commented on #31155
@davidsh thank you for explanation!

[2018-07-18 16:43] #31155 closed

[2018-07-18 16:43] dustinsoftware commented on #31143
I can't repro with .NET Core 2.0. Output from my [test app](https://gist.github.com/dustinsoftware/424ba34074f4044a1420713bda37104a):

[code]

[2018-07-18 16:47] Rajivts commented on #16680
@danmosemsft  Updated the PR to incorporate the review comments. Please let me know if any more changes are required.

[2018-07-18 16:55] davidsh commented on #30527
Yes.

@stephentoub should comment here.  Several other properties were added just to SocketsHttpHandler
because it wasn't clear they would be useful long-term for the API surface.  However, we could promote those to HttpClientHandler.  We are cautious about that because then we have to consider what it might mean for .NET Framework when a new .NET Standard 2.x, 3.x comes out.

[2018-07-18 16:58] davidsh commented on #31098
Using the Windows credential manager is something that the low-level native Windows APIs tend to do and usually only caching proxy credentials to be re-used among different applications.  It is not something that aligns with how the .NET API surface for HttpClient was designed for. So, it is not something likely that would be considered to be directly supported, especially since .NET Core is cross

[2018-07-18 17:05] davidsh commented on #31143
cc: @stephentoub

Were there any changes in .NET Core 2.1 regarding collection classes?  It sounds like this change is due to something in that area and directly the HttpHeaders class.

[2018-07-18 17:12] AArnott commented on #31144
What does `Pipe.Reset()` do, exactly? Clear all buffers, complete all readers/writers, and start fresh?
When is that useful?
Using `ValueTask` for a `Completion` property doesn't make sense in my opinion because `ValueTask` will still allocate if it's not completed and someone awaits it, I thought, which would be the majority of the time.

Sure.

[2018-07-18 17:13] matthid commented on #31098
Thanks for all the pointers. With this I'll try to find a different approach but asking for and saving credentials is not a simple task :(. especially for a tool which is supposed to run in interactive and non-interactive environments...

I feel like this (breaking)change in behavior needs to be documented potentially with pointers to alternatives.
One last question: How long is the fallback to th

[2018-07-18 17:17] davidfowl commented on #31144
Yep.

When you want to pool the `Pipe` implementation for reuse.

ValueTask has new super powers and it works well for this scenario. It's not about async vs sync completion, it's about being able to pool the reuse the backing awaitable object.

[2018-07-18 17:19] AArnott opened #31159 "API proposal: PipeReader.WriterCompletion and PipeWriter.ReaderCompletion"
The proposal is to add the following members:

[code]

@davidfowl suggested using `ValueTask` instead of `Task` to avoid allocations. I'm not sure whether that actually avoids allocations since they'll typically be in an incomplete state when they are awaited. If they were exposed as `Task` they could be lazily created so that only folks who are about to await them actually incur the cost of doing

[2018-07-18 17:44] vancem commented on #31126
First, I think that the basic use case (A table where you want to accumulation  (typically increment, but you may be adding to a list or doing some other accumulation), is pretty common (I have run into it myself on numerous occasions and have always lamented the fact that that I either have to look up the key twice (once to get the value and once to update it), or create some sort of wrapper (thi

[2018-07-18 17:45] vancem commented on #31126
+ @stephentoub

[2018-07-18 17:56] ww898 commented on #31095
Made a PR (#31152). Please check it.

[2018-07-18 18:54] vancem commented on #31124
This was a very easy port.  I have something private that I am asking a (Microsoft-internal) user to try out.

Most likely we will simply want to add this to the Microsoft.Windows.Compatibility DLL/Package that is built out of CoreFX.

[2018-07-18 19:01] vancem commented on #30994
@iSazonov - if you have taken PerfView traces of some scenario on both .NET Core and .NET Desktop that show the poorer perf, then that should be sufficient for the investigation.  If you publish those two files in some way (you can copy it to \\clrmain\public\writable\users\vancem if you want), I will take a look.

[2018-07-18 19:09] svick commented on #31126
@vancem From the discussion at the end of https://github.com/dotnet/corefx/issues/25189, it seems to me it's not clear yet that having `ref`-returning methods on mutable collections is a good idea, since the `ref` local can become stale if the underlying collection is resized. I think that should be resolved first.

Also, how would `GetOrAdd` work for `ConcurrentDictionary`? How could it possibly

[2018-07-18 19:13] stephentoub commented on #31126
If a delegate is provided, it may run multiple times, but the dictionary guarantees that only one will be published/returned and in a way that maintains the consistency of the data structure.

[2018-07-18 19:34] stephentoub commented on #31126
I don't understand the question.  It already has both AddOrUpdate (https://github.com/dotnet/corefx/blob/84d044411b400044f75ee90c744a7f9bd6e4fe1d/src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentDictionary.cs#L1143) *and* GetOrAdd (https://github.com/dotnet/corefx/blob/master/src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentDictionary.cs#L9

[2018-07-18 19:36] McMlok commented on #31020
Sorry for late answer.

I think issues #30327 nor #30330 are not applicable to this case. Its because when I want to communicate with endpoint testservice.lab.domain.com I don't want to go to proxy. I want to bypass proxy for all *.lab.domain.com endpoints, then there is no proxy auth. And when I try this in IE it works, but when same do my app HttpClient contact proxy.

[2018-07-18 19:37] OmarTawfik commented on #29878
The following PR published the missing methods:
https://github.com/Microsoft/referencesource/pull/67

[2018-07-18 19:48] danmosemsft commented on #29878
@OmarTawfik nope, we would welcome others who wish to help port. There will likely be a few problematic types (such as those requiring Winforms) which will need special handling. But in most cases it's copy/paste, reformat, write tests, repeat. A good place to start would be the last missing methods on Strings.

Here is the updated Microsoft.VisualBasic diff, after #31086: https://gist.github.com/

[2018-07-18 19:50] rmkerr commented on #31147
I gave this a quick look and was able to repro. A network trace shows that we are receiving the expected result from the DNS:

![image](https://user-images.githubusercontent.com/4656175/42903968-46dc65ac-8a88-11e8-9ad3-f2dc1a396ae9.png)

Since we are receiving the expected result, this looks like it may just be an issue with our error handling, or a difference in how older versions of Windows indi

[2018-07-18 19:52] svick commented on #31126
@stephentoub I didn't realize a method called `GetOrAdd` already existed in `ConcurrentDictionary`.

@vancem said:

My question is: what is the API that would be added to `ConcurrentDictionary`?

[2018-07-18 19:53] davidsh commented on #31147
We've seen this type of problem already with Sockets tests on Windows 7.  We need to map a few additional errors that are equivalent to "DNS Resolution" failure. Those additional errors seem more prevalent on Windows 7 OS.  Then the WebErrorStatus enum will work.

[2018-07-18 20:44] danmosemsft commented on #12403
Shiproom -- I updated template with perf numbers from @Anipik .

[2018-07-18 21:01] keeratsingh commented on #30733
Closing issue as there was no further response by the user.

[2018-07-18 21:01] #30733 closed

[2018-07-18 21:01] stephentoub commented on #31126
I don't know; I don't think there's anything to add there for this.  Whether or not we add a ref-returning method to Dictionary, we definitely _should not_ add such a method to ConcurrentDictionary.

[2018-07-18 21:04] bradbart commented on #8348
I suspect that this issue is caused by the application not having permissions to the directory outside of its bin. Doing a `ReadFile` from that directory should confirm whether that is the issue. Also, might be worth double checking the path if using a relative reference to the directory.  Outside of that, I'm not sure why that exception would occur.

[2018-07-18 21:17] omariom commented on #31126
To compare ref returning method with what we normally do for the case when value is collection.

[code]
[code]
The last lines can be  replaced with
[code]
but at the cost of additional read and write every time (writing reference values to the heap has it own cost).  This issue could be cured by [null coalescing assignment](https://github.com/dotnet/csharplang/blob/master/proposals/null-coalescing

[2018-07-18 21:58] vancem commented on #31126
Given the issue with the byref being silently invalidated by updates to the dictionary, is pretty ugly.   Also given that ConcurrentDictionary has exactly the AddOrUpdate method, already we should stick with that  rather than a ref-returning version.

[2018-07-18 22:12] weshaggard commented on #31156
@ViktorHofer these failures look related to your binplacepackages.depproj changes from https://github.com/dotnet/corefx/pull/30897.

[code]

I've seen a number of official builds and CI legs hitting this randomly.

@ericstj it seems like it is copying over the dependencies or something from all the different configurations. Which is racing with other depproj's like the netstandard one.

[2018-07-18 22:13] weshaggard commented on #31156
All configurations CI leg in https://github.com/dotnet/corefx/pull/31160 failed https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_all+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/14278/ with similar issue.

[2018-07-18 22:20] AnthonyLloyd commented on #31126
@vancem tho this is primarily for performance since we can add extension methods to get the API.

[2018-07-18 22:30] davidsh commented on #31147
This is the exceptions being surfaced.  Looks like we need to decode some different embedded exceptions since SocketsHttpHandler is now being used.

System.Net.WebException: The requested name is valid, but no data of the requested type was found. The requested name is valid, but no data of the requested type was found.
---> System.Net.Http.HttpRequestException: The requested name is valid, but no

[2018-07-18 22:30] ViktorHofer commented on #31156
Hmm. It seems the assembly references of System.Memory race with the other depproj files. This only happens for the following configurations as other configuration don't have assembly references for System.Memory:

[code]

[2018-07-18 22:34] weshaggard commented on #31156
IIRC our depproj's shouldn't be doing a deep copy and should only copy the direct PackageReferences but that doesn't seem to be happening.

[2018-07-18 22:37] AnthonyLloyd commented on #31126
Yes I'd say this should be thought of much wider. I like what @vancem said about it being an accumulation.
It made me think that this could improve performance of Enumerable.GroupBy but I could be very wrong.

[2018-07-18 22:46] ViktorHofer commented on #31156
Right, I just checked and `BinPlaceConfiguration` directives clearly do deep copies.

[2018-07-18 22:47] weshaggard commented on #31156
I just submitted https://github.com/dotnet/corefx/pull/31167 to fix the deep copy for binplacepackages and harvestpackages projects which shouldn't be deep.

[2018-07-18 22:53] keeratsingh commented on #30147
@corretge @moconchobhair @mcblakeb
This issue is fixed by #30155 as suggested by Jeremy. Could you kindly download and confirm with the Latest .NET Core SDK 2.1.302 [Build](https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.1.2-download.md) if the issue is resolved.

[2018-07-18 22:56] rmkerr commented on #31147
Do you think that we can take the approach of mapping that exception to a `NameResolutionFailure` in `WebExceptionPal`?
https://github.com/dotnet/corefx/blob/0c6cb66794c04a29030b2512673e240c2da98a87/src/System.Net.Requests/src/System/Net/WebExceptionPal.Windows.cs#L23-L30

[2018-07-18 23:31] davidsh commented on #31147
Yes, somewhere in WebExceptionPal is where we need to add code to fix this properly.  However, since SocketsHttpHandler is being used, we properly need to add it to the generic partial class.

https://github.com/dotnet/corefx/blob/0c6cb66794c04a29030b2512673e240c2da98a87/src/System.Net.Requests/src/System/Net/WebException.cs

[2018-07-18 23:33] hrichardlee commented on #26845
I am extremely in favor of this!

## API shape proposal-ish
To try to move the discussion forward, I'll put forward something that looks kind of like an API shape proposal. It's actually just a few core operations from pandas, but hopefully it gives a sense of what operations a real API shape proposal would have to cover. A real API shape proposal would need to be much more C#-like and cover a muc

[2018-07-19 00:00] benaadams commented on #28123
Its working :)

https://github.com/aspnet/EntityFrameworkCore/issues/12713

[2018-07-19 00:29] safern commented on #29959
Can I take this one or does it need further discussion?

[2018-07-19 00:41] Porges commented on #31145
@tannergooding yes, I just wasn't expecting `Sse.Instruction` to generate an AVX instruction 😉

[2018-07-19 00:52] dustinsoftware commented on #31143
I’m dealing with a private auth API which sets an Authorization header on
the response (instead of putting the token in the response body). I haven’t
found a public API which I could use as an example, which is why I provided
an example controller action.

On Wed, Jul 18, 2018 at 17:29, David Shulman <notifications@github.com>
wrote:

[2018-07-19 01:05] davidsh commented on #31143
Thanks for the added details.

This definitely looks like a regression .NET Core 2.0 to 2.1.  the `TryGetValues()` method should always be able to return the string values of a header given the headername as a string parameter to TryGetValues().

I suspect this broke during some code optimization perhaps with this commit or some other related ones last year:
https://github.com/dotnet/corefx/commit

[2018-07-19 01:22] mcblakeb commented on #30147
@keeratsingh It does indeed appear to be fixed after installing 2.1.302 on Mac. I had to update all projects over use netcoreapp2.1 as well.

[2018-07-19 01:22] matthchr opened #31172 "HttpClient/HttpRequestMessage DELETE in netcoreapp2.1 now includes ContentLength: 0 when it didn't in previous netcoreapp versions"
All of the below applies to Windows only, I haven't tested on Linux, although maybe I need to...

My service performs [shared key signing](https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-with-shared-key) to generate an auth header. We include the content-length in this signature  if the request sets one. This means I need to know if the `HttpClient` will send a request with `Co

[2018-07-19 01:29] SharperC opened #31173 "Why isn't the new UX feature (.net core 3) cross platform"
A desktop ui system for .net core was probably one of the most requested features, and im glad it finally gets added. But why just for windows? ,net cor is awesome for running basiclly everywhere so why not add a ux everywhere? A wpf or win forms similar system would be what we need.
I and probably a lot of other people would really appreciate this in the next version of ,net core.

https://blogs.

[2018-07-19 01:37] davidsh commented on #31172
cc: @geoffkizer @karelz @stephentoub

Change in behavior due to using SocketsHttpHandler in .NET Core 2.1.

[2018-07-19 01:37] matthchr commented on #31172
For what it's worth, https://tools.ietf.org/html/rfc7230 suggests that the <= `netcoreapp2.0` behavior was more complaint

suggests that DELETE shouldn't have a `Content-Length` header

[2018-07-19 01:57] ObsidianMinor commented on #31173
As the blog post says:

[2018-07-19 02:06] jnm2 commented on #31173
I'd estimate the cost of the work at somewhere between ten and a hundred times what it would take to simply move the existing battle-tested code from .NET Framework onto .NET Core.

[2018-07-19 02:45] ObsidianMinor opened #31176 "Resetting Pipe does not reset reader and writer awaitables"
Resetting a Pipe object through Pipe.Reset does not reset reader and writer awaitables. This leads to inconsistent behavior where before resetting, read methods return false or return tasks which complete when the writer is flushed; instead, after resetting, read methods return empty buffers if no data is available.

New pipe:
![complete](https://user-images.githubusercontent.com/10121870/42918064

[2018-07-19 02:47] Porges commented on #31172
Ideally there would be a way to give `HttpClientHandler` an inner `DelegatingHandler`, which would be able to process the really-truly-honestly-final, fully-populated `HttpRequestMessage` before it hits the wire 🙂

[2018-07-19 02:55] joshuataylor commented on #29942
You can also try the following on Ubuntu, if you have invalid certs for whatever reason:
[code]

This will remove invalid symlinked certs for you.

[2018-07-19 03:18] Thaina opened #31177 "ConditionalWeakTable return ref"
As of now we have `return ref` in C#. So I wish we would have more of it support on collection. And `ConditionalWeakTable` is one I think needed

It could be new class such as `ConditionalWeakTableRef<TKey,TValue>`. Just have it return reference when index. So we could attach struct to hold extension value

[2018-07-19 03:21] LuceLuo opened #31178 "The background of the PNG picture turns white"
I used "libgdiplus --with-pango" to solve the problem of text loss, but when using "DrawImage" to superimpose PNG pictures, the transparent bottom of the PNG picture turned white. I don't know whether the problem is from this project or libgdiplus. I hope that the person you know can give me the answer, thank you.

[2018-07-19 03:34] bgrainger commented on #31143
I have encountered this same problem with a public API (but it requires authentication, so I can't provide a code sample). GCS resumable uploads set the `Range` header (typically considered a request header) on the response when an upload is interrupted. From https://cloud.google.com/storage/docs/json_api/v1/how-tos/resumable-upload#resume-upload:

I attempted to use `response.Headers.GetValues("R

[2018-07-19 03:45] davidfowl commented on #31144
I’m closing this as it’s by design

[2018-07-19 03:45] #31144 closed

[2018-07-19 03:54] riverar opened #31180 "Why does RuntimeInformation.OSArchitecture lie to me on ARM64? 💔"
Consult your nearest `Console.WriteLine(RuntimeInformation.OSArchitecture)` code, target x86, .NET Framework 4.7.2, and run the result on an ARM64 device running Windows on ARM.

Expected: ARM64
Actual: x86

Windows 10 17713 rs5_release

Related issues:
https://github.com/dotnet/corefx/issues/28856
https://github.com/dotnet/corefx/issues/27386
https://github.com/dotnet/corefx/issues/25706
https://

[2018-07-19 03:57] GlassGrass commented on #29365
Please note that `netstandard2.0` supports `System.Reflection.Assembly.Load(byte[] rawAssembly)` static method, which loads an assembly from binary image byte array. This means that it is possible to implement not all but most `System.Reflection.Emit` APIs' compatibles under pure `netstandard2.0`.

(Sorry, how many platforms support `Assembly.Load` without PNSE)

[2018-07-19 04:11] stephentoub commented on #30527
I don't think that was the reason... the main reason was that it wasn't clear they could even be implemented on an arbitrary implementation (e.g. APIs that provide fine-grained knobs around connection pooling behavior).

[2018-07-19 04:38] totalgit74 commented on #26845
I think the choice of indexing will be interesting.
The ```df[df['int1'] % 2 == 0]``` style of indexing can, at best, be described as fugly. It smells a bit MatLab-ish.
The R data.table syntax of ```dt[int1 %% 2 == 0]``` is somewhat more elegant and a touch SQL/LINQ like. It also handles numeric references such as ```dt[1:20]```, column subsetting as well ```dt[1:20, list(int1, int2, int3)]``` as

[2018-07-19 04:48] danmosemsft commented on #31180
Presumably because Windows is telling us x86. What do you get if you call it manually? Code roughly pasted below.

[code]

Probably it's the same cause as https://github.com/dotnet/corefx/issues/28856. Someone would have to ask the OS folks why they do this - probably so that existing apps do'nt break.

Why do you need to know what the architecture is BTW?

[2018-07-19 04:50] danmosemsft commented on #31173
The comments above basically answer this. This issue seems to be gathering the comments about cross-platform UI on .NET Core: https://github.com/dotnet/corefx/issues/21803

I am going to close this in favor of that.

[2018-07-19 04:50] #31173 closed

[2018-07-19 05:31] #31154 closed

[2018-07-19 05:37] danmosemsft opened #31181 "Port remainder of Microsoft.VisualBasic"
This tracks porting to .NET Core the rest of the types in Microsoft.VisualBasic, now that we've published the original sources.

Contributions are welcome! The porting process is essentially

1. Pick some types.
1. Get the original .NET Framework code from [referencesource](https://github.com/Microsoft/referencesource/tree/master/Microsoft.VisualBasic)
1. Add it to the [src project](https://github

[2018-07-19 05:37] jkotas commented on #31180
Yes, this is Windows returning fake values from existing APIs to make most of the existing applications work.

Duplicate of https://github.com/dotnet/corefx/issues/30658

[2018-07-19 05:37] #31180 closed

[2018-07-19 05:38] danmosemsft commented on #29274
This is tracked in https://github.com/dotnet/corefx/issues/31181

[2018-07-19 05:38] #29274 closed

[2018-07-19 05:38] danmosemsft commented on #29274
This is tracked in https://github.com/dotnet/corefx/issues/31181

[2018-07-19 05:39] danmosemsft commented on #29878
This is tracked in https://github.com/dotnet/corefx/issues/31181.

[2018-07-19 05:39] #29878 closed

[2018-07-19 05:39] danmosemsft commented on #14300
This is tracked in https://github.com/dotnet/corefx/issues/31181

[2018-07-19 05:39] #14300 closed

[2018-07-19 05:41] danmosemsft commented on #31181
@craigajohnson @RealDotNetDave  @VBDotNetCoder @Nukepayload2 @anthonydgreen

[2018-07-19 05:42] danmosemsft commented on #31181
@franzalex @beppe9000 @govert

[2018-07-19 05:43] riverar commented on #31180
We found this API and thought it'd be a clean way to determining the architecture for loading some architecture-dependent OS resources. `Kernel32.GetNativeSystemInfo` returns x86 as well so I guess this API will never be correct.

Am a little confused why this was added at all, if it's not doing anything differently and will always require me to understand the OS lies/implementation internals.

[2018-07-19 05:46] danmosemsft commented on #31180
@riverar try a pinvoke to https://docs.microsoft.com/en-us/windows/desktop/api/wow64apiset/nf-wow64apiset-iswow64process2

[2018-07-19 05:54] riverar commented on #31180
@danmosemsft The applicability matrix is wrong and using this limits us to RS3+. But no worries, we'll get this info via other means. Thanks.

[2018-07-19 06:03] iSazonov commented on #30994
@vancem

After that "Thus .NET Core is time is 1.23X the Destkop time (23% slower)." I believe that developers will postpone migration to .Net Core - this is too noticeable a slowdown. I expect that .Net Core team will mobilize and make a significant investment to find bottlenecks and to remedy them.
Just this issue shows a two-fold slowdown in GetHashCode(). Perhaps this is not a key issue for Po

[2018-07-19 06:15] LuceLuo commented on #31178
#30867 correlation

[2018-07-19 06:38] stephentoub commented on #31177
Returning ref from collections can be dangerous if the storage for that ref might get removed or replaced, e.g. if a ref is returned to an array in the a list, and then the list grows and replaces the array such that the ref is now effectively invalidated, pointing into an array no longer associated with the list.  That could happen implicitly as part of a conditional weak table, with the data get

[2018-07-19 06:51] jkotas commented on #30994
We have done that already. There are no major bottlenecks that we are aware of. We believe that the current implementation of GetHashCode is the right choice for .NET Core even though it is slower to compute. Note that it produces much higher quality hashcodes and it is not hard to come up with examples where it makes the end-to-end execution faster because of reduced hash collisions.

If the .NET

[2018-07-19 06:57] IanKemp commented on #1942
@ViktorHofer vNext = 2.2 or 3.0?

[2018-07-19 06:59] #31156 closed

[2018-07-19 07:01] ViktorHofer commented on #1942
Not decided yet.

[2018-07-19 07:10] lserafin commented on #31121
Thanks for this information, I will open a issue on the ASP.NET - Repo. The issue seems to be related to the `HttpClientFactory `and the `ConfigureHttpMessageHandlerBuilder `method.
After changing the last part of the code it to the following it worked:
[code]

[2018-07-19 07:33] govert commented on #31181
@danmosemsft Thanks - that's going to be helpful.

I clicked on the `Collection` source...
What might Telesto be? https://github.com/Microsoft/referencesource/search?q=TELESTO&unscoped_q=TELESTO

I'm presuming it's some limited platform, and we'd be in the `NOT TELESTO` world for .NET Core?

[2018-07-19 07:46] danmosemsft commented on #31181
I think TELESTO was used to limit the size for Silverlight and we want to keep the extra size,

[2018-07-19 08:06] bentoi opened #31182 "ReceiveFrom should use recvfrom?"
The `ReceiveFrom` implementation is sharing the same underling implementation as `ReceiveMessageFrom` even through `ReceiveFrom` doesn't care about the packet information...

A side effect is that on macOS when using Dual mode sockets `ReceiveFrom` throws `System.PlatformNotSupportedException` because getting packet information doesn't work with dual mode sockets (see #4004).

It would be better a

[2018-07-19 08:23] Thaina commented on #31177
Understandable. Thank you for your clarification

[2018-07-19 08:23] #31177 closed

[2018-07-19 08:32] MohammadHamdyGhanem commented on #31181
@danmosemsft
I suggest that classes used with My object should be added to corefx to be available to all languages even if you move them to other namespaces,  as they vhave more functionality not offered by corefx.
Adding clsses to one language doesn't make sense and is not efficient. Languages can only differ in syntax. These classes will still be accessed via My in vb.net but used directly as re

[2018-07-19 08:35] karelz commented on #31121
OK, closing here then. Thanks!

[2018-07-19 08:35] #31121 closed

[2018-07-19 08:42] karelz commented on #31143
If it is 2.0->2.1 regression, we should consider it for servicing - setting milestone.

[2018-07-19 08:55] karelz commented on #31172
Sounds like something we could fix, but I don't think it is critical for servicing 2.1.x. The behavior is border line and likely doesn't hurt too many developers (the code has to be fairly sensitive to implementation details).

@Porges what would be benefit of such extensibility beyond compensating for bugs? It seems like a too big hammer to compensate for bugs, I would rather prefer to fix them i

[2018-07-19 09:05] hughbe commented on #31181
Can I grab `ComClassAttribute`, `HideModuleNameAttribute`, `MyGroupCollectionAttribute`, `VBFixedArrayAttribute`, `VBFixedStringAttribute`, `DesignerGeneratedAttribute`, `OptionCompareAttribute`, `OptionTextAttribute` and `StandardModuleAttribute`?

[2018-07-19 09:06] karelz commented on #31098
My expectation is that we will remove the fallback in 3.0: I see lack of HTTP/2 as the key blocker at this moment (we are working on it for 3.0/2.2). Also by 3.0 time I expect we will receive enough feedback to prove that it is reasonable replacement without too many rough edges (we won't shoot by bug-by-bug compatibility).
`WinHttpHandler` is public API, so it will likely stay there forever, but

[2018-07-19 09:21] mkurz commented on #29942
@joshuataylor Thanks, that fixed the problem for me!

[2018-07-19 09:22] karelz commented on #31135
@lennane I don't believe there was any upfront specification. However, you can look at the PAL (Platform Abstraction Layer) code in CoreCLR and CoreFX. They define what is necessary to abstract the OS from the rest of the runtime/core libraries.
IMO in practice, large projects like porting to new OS are matter of taking the closest OS and then iterating on which APIs are there / missing. Often you

[2018-07-19 10:18] bentoi commented on #31182
Sorry, yes, this is about the `System.Net.Sockets.Socket` API. I won't be able to submit a PR in the immediate future but yes I could eventually.

[2018-07-19 10:34] matthid commented on #31098
Yes the API will stay but the behavior might not (It could still be mapped to the new implementation), that's why I was asking specifically. But from the answers I'd assume it will stay forever with the current behavior.

If there is enough people who need this functionality, we can reconsider and either expose the API in .NET Core, or automatically use it under the hood.

Yes makes sense, thanks!

[2018-07-19 10:37] filipnavara commented on #31178
It might have been fixed recently or could be related to https://github.com/mono/libgdiplus/pull/373.

[2018-07-19 10:42] filipnavara commented on #31178
The issue should be reported to libgdiplus if it's not happening on Windows. If you include a small C# code (like the one referenced in issue https://github.com/mono/libgdiplus/issues/372) you will greatly increase the chances of someone looking into it and fixing it.

[2018-07-19 10:42] thuannguy commented on #29622
After upgrading my solution to .NET 4.7.2 in hope that I could finally get rid of System.Net.Http.dll hell, I got the same error:

I used Visual Studio -> Add reference and chose the dll from Framework:
![image](https://user-images.githubusercontent.com/395484/42937686-f9581b44-8b79-11e8-91cd-317aa1c46101.png)

I checked my solution, all projects use <Reference Include="System.Net.Http" />

On all

[2018-07-19 10:59] karelz commented on #31098
Personally, I don't think we should touch WinHttpHandler unless there is a bad bug. There is definitely not a point to make it worse / less compatible with previous versions just to make it more compatible with other implementations.