[2017-04-10 00:59] maririos commented on #18130
Mission Control testing purposes.

[2017-04-10 00:59] #18130 closed

[2017-04-10 04:00] danmosemsft commented on #18128
@tijoytom fyi.

[2017-04-10 04:19] iSazonov commented on #16290
PowerShell repo we have related Issue and we find ourselves in a quandary because left "as is" is bad, skip the check is bad too and make own "full standard" verification is impossible.
If `CheckMediaTypeFormat` reject a standard valid formats this is very strange. Base methods must conform to the standards and expectations of users.
InFrom [MSDN docs](https://msdn.microsoft.com/en-us/library/syst

[2017-04-10 04:32] KuroThing opened #18133 "InvalidOperationException from HttpHeaders.CheckHeaderName when _invalidHeaders contains the header"
When using [`HttpHeaders.Contains`](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Headers/HttpHeaders.cs#L210) method, [this](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Headers/HttpHeaders.cs#L1137) if statement will throw an `InvalidOperationException` when the header *does* exist it throws the exception which seems

[2017-04-10 05:16] Vertygo commented on #18099
@danmosemsft I will definitely take a look into it. I have tried to get some info with serial port analyzers but that ended without any results.

[2017-04-10 06:58] karelz commented on #18070
Can you submit PR with changes?

[2017-04-10 08:00] paulomorgado commented on #18070
https://github.com/dotnet/corefx/pull/18138

[2017-04-10 08:50] Jiayili1 opened #18139 "Desktop: System.Security.Cryptography.Encryption.Tests.Asymmetric.CryptographicExceptionTests.Ctor failed with "Xunit.Sdk.EqualException""
Failed test: System.Security.Cryptography.Encryption.Tests.Asymmetric.CryptographicExceptionTests.Ctor

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/13/testReport/System.Security.Cryptography.Encryption.Tests.Asymmetric/CryptographicExceptionTests/Ctor/

[code]

[2017-04-10 08:54] Jiayili1 commented on #10880
Failed again on desktop: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/13/testReport/System.Diagnostics.TextWriterTraceListenerTests/DelimiterWriteMethodTests/TraceEvent_FormatString_Test_filter__null__eventCache__TraceEventCache___Callstack________at_System_Environment_GetStackTrace_Exception_e_______DateTime___2017_04_09T18_47_41_9728183Z__LogicalOperationS

[2017-04-10 08:58] Jiayili1 opened #18140 "Desktop: System.Linq.Parallel.Tests.OrderByThenByTests.OrderByDescending_ExtremeComparer failed"
Failed test: System.Linq.Parallel.Tests.OrderByThenByTests.OrderByDescending_ExtremeComparer

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/13/testReport/System.Linq.Parallel.Tests/OrderByThenByTests/OrderByDescending_ExtremeComparer_labeled__Enumerable_Range_Ordered__count__2_/

[code]

[2017-04-10 09:01] Jiayili1 opened #18141 "Desktop: Test "System.Linq.Parallel.Tests.OrderByThenByTests.ThenByDescending_NotPipelined_ExtremeComparer" failed with "Xunit.Sdk.AllException""
Failed test: System.Linq.Parallel.Tests.OrderByThenByTests.ThenByDescending_NotPipelined_ExtremeComparer
 Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/13/testReport/System.Linq.Parallel.Tests/OrderByThenByTests/ThenByDescending_NotPipelined_ExtremeComparer_labeled__Partitioner_Random__count__2_/

Message:
[code]

Stack Trace:
[code]

[2017-04-10 09:04] Jiayili1 opened #18142 "Desktop: Test "System.Xml.Tests.TC_SchemaSet_XmlResolver.v6" failed with "Xunit.Sdk.EqualException""
Failed test: System.Xml.Tests.TC_SchemaSet_XmlResolver.v6

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/13/testReport/System.Xml.Tests/TC_SchemaSet_XmlResolver/v6/

[code]

[2017-04-10 09:07] Jiayili1 opened #18143 "Desktop: System.Security.Cryptography.Encryption.Aes.Tests.AesContractTests.InvalidKeySizes failed with "Xunit.Sdk.EqualException""
Failed test: System.Security.Cryptography.Encryption.Aes.Tests.AesContractTests.InvalidKeySizes

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/13/testReport/System.Security.Cryptography.Encryption.Aes.Tests/AesContractTests/InvalidKeySizes_invalidKeySize__536870928_/

Message:
[code]

Stack Trace:
[code]

[2017-04-10 09:08] ViktorHofer commented on #17820
@bartonjs @steveharter: Any update on this?

[2017-04-10 09:13] Jiayili1 opened #18145 "Desktop: Tests under "System.ComponentModel.DataAnnotations.Tests" failed with "Xunit.Sdk.AllException""
Failed tests:
System.ComponentModel.DataAnnotations.Tests.PhoneAttributeTests.Validate_Valid
System.ComponentModel.DataAnnotations.Tests.MaxLengthAttributeTests.Validate_Invalid
System.ComponentModel.DataAnnotations.Tests.MaxLengthAttributeTests.Validate_Valid
System.ComponentModel.DataAnnotations.Tests.MinLengthAttributeTests.Validate_Valid
System.ComponentModel.DataAnnotations.Tests.MinLengthAtt

[2017-04-10 09:15] Jiayili1 opened #18146 "Desktop: System.ComponentModel.DataAnnotations.Tests.RangeAttributeTests.Validate_IConvertibleThrowsCustomException_IsNotCaught failed with "Xunit.Sdk.ThrowsException""
Failed test: System.ComponentModel.DataAnnotations.Tests.RangeAttributeTests.Validate_IConvertibleThrowsCustomException_IsNotCaught

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/13/testReport/System.ComponentModel.DataAnnotations.Tests/RangeAttributeTests/Validate_IConvertibleThrowsCustomException_IsNotCaught/

[code]

[2017-04-10 09:19] Jiayili1 opened #18147 "Desktop: System.IO.Pipes.Tests.ReadFromPipeWithClosedPartner_ReadNoBytes failed with "System.ArgumentException""
Failed tests:
System.IO.Pipes.Tests.AnonymousPipeTest_Read_ServerIn_ClientOut.ReadFromPipeWithClosedPartner_ReadNoBytes
System.IO.Pipes.Tests.AnonymousPipeTest_Read_ServerOut_ClientIn.ReadFromPipeWithClosedPartner_ReadNoBytes

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/13/testReport/System.IO.Pipes.Tests/AnonymousPipeTest_Read_ServerIn_ClientOut/Re

[2017-04-10 09:29] Jiayili1 opened #18148 "Desktop: Tests under "System.ComponentModel.DataAnnotations.Tests" failed with "Xunit.Sdk.ThrowsException""
Failed tests:
System.ComponentModel.DataAnnotations.Tests.CustomValidationAttributeTests.RequiresValidationContext_BadlyFormed_ThrowsInvalidOperationException
System.ComponentModel.DataAnnotations.Tests.DataTypeAttributeTests.Ctor_String

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/13/testReport/System.ComponentModel.DataAnnotations.Tests/CustomVali

[2017-04-10 09:31] Jiayili1 opened #18149 "Desktop: System.ComponentModel.DataAnnotations.Tests.CustomValidationAttributeTests.RequiresValidationContext_Get_ReturnsExpected failed with "Xunit.Sdk.EqualException""
Failed test: System.ComponentModel.DataAnnotations.Tests.CustomValidationAttributeTests.RequiresValidationContext_Get_ReturnsExpected

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/13/testReport/System.ComponentModel.DataAnnotations.Tests/CustomValidationAttributeTests/RequiresValidationContext_Get_ReturnsExpected_method____CorrectValidationMethodTwoA

[2017-04-10 09:32] Jiayili1 opened #18150 "Desktop: System.ComponentModel.DataAnnotations.Tests.RangeAttributeTests.Validate_MinimumOrMaximumCantBeConvertedToType_ThrowsFormatException failed with "System.Exception""
Failed: System.ComponentModel.DataAnnotations.Tests.RangeAttributeTests.Validate_MinimumOrMaximumCantBeConvertedToType_ThrowsFormatException

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/13/testReport/System.ComponentModel.DataAnnotations.Tests/RangeAttributeTests/Validate_MinimumOrMaximumCantBeConvertedToType_ThrowsFormatException_type__typeof_int__

[2017-04-10 09:35] Jiayili1 opened #18151 "Desktop: System.Net.Tests.FtpWebRequestTest.Ctor_VerifyDefaults_Success failed with "Xunit.Sdk.EqualException""
Failed test: System.Net.Tests.FtpWebRequestTest.Ctor_VerifyDefaults_Success

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/13/testReport/System.Net.Tests/FtpWebRequestTest/Ctor_VerifyDefaults_Success/

[code]

[2017-04-10 09:38] Genbox commented on #15443
@AArnott In that case, I would agree. Personally, I find Code Contracts to be an invaluable tool and it is detrimental to the whole community that it does not work with VS2017 and Roslyn. I think you are right in that it is because IL rewriting is so difficult to work with.

C# has moved a lot the past couple of years and has become a giant of a language that supports just about every little featu

[2017-04-10 09:41] Jiayili1 opened #18152 "Desktop: System.Net.Sockets.Tests.NetworkStreamTest.CopyToAsync_DisposedSourceStream_ThrowsOnWindows_NoThrowOnUnix failed with "System.ObjectDisposedException""
Failed test: System.Net.Sockets.Tests.NetworkStreamTest.CopyToAsync_DisposedSourceStream_ThrowsOnWindows_NoThrowOnUnix

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/13/testReport/System.Net.Sockets.Tests/NetworkStreamTest/CopyToAsync_DisposedSourceStream_ThrowsOnWindows_NoThrowOnUnix/

Message:
[code]

Stack Trace:
[code]

[2017-04-10 10:17] marek-safar commented on #17116
It could defeat the runtime detection in const case if a value of the "feature" field/const is implementation detail (e.g each runtime can use its own value, for example shorter string for faster compares) but it's not clear from the proposal if that's the intention as it mixes readonly field and literal value together.

[2017-04-10 10:32] marek-safar commented on #15112
I think there are few angles to the issue but at the bottom it's still down to the problem if the nuget package works with any runtime or is runtime specific (including version). I don't think we necessary have to cover case where the package works with specific runtime on specific OS only.

PreferInbox won't solve the issue fully, it could work for some assemblies like System.ValueTuple but for t

[2017-04-10 12:42] SamuelEnglard commented on #18107
@stephentoub I'd have it use the same ones the current internal one is using. `Marshal.ReAllocHGlobal`, `Marshal.AllocHGlobal`, and `Marshal.FreeHGlobal`

[2017-04-10 13:11] jaredcnance commented on #16290
It throws if you pass in the entire content type, but you can set the CharSet like so:

[code]

Not a huge fan of the API but I don't think it warrants changing.

[2017-04-10 13:56] ViktorHofer commented on #11646
I will take it. Should be easy to fix.

[2017-04-10 14:49] AArnott commented on #15443
I agree with the sentiment that non-nullable ref types will help. But there are all the millions of APIs that already exist that would not benefit from that and code contracts could help with. So yes, I'd like to see something become part of the language.

[2017-04-10 14:52] ElemarJR opened #18159 "Option<T>/Maybe<T>"
[code]

instead of

[code]

The proposed method signature reveals much better the real intent of this method/function. Right?

`Option<T>` could provide a `Match` function....

Here is a very basic implementation:

[code]

with some additional operators:

[code]

and some LINQ support:

[code]

This proposal does not incur any CLR changes.

[2017-04-10 15:15] #18121 closed

[2017-04-10 15:38] tarekgh commented on #9257
@DrewScoggins when you think we can finish and close this one?

[2017-04-10 15:43] tarekgh commented on #18065
do you mean you want to test the message with specific localization language? or you you want to test all supported localized languages? or you want to test the neutral resources?
Anyway, to control this you'll need to set CurrentUICulture which control the resource language which you get the exception messages with (if there is resources with that languages)

[2017-04-10 15:43] jkotas commented on #17116
The static fields cannot be used in combination with the runtime detection. If the runtime does not support the feature, it won't have the matching static field.

[2017-04-10 15:44] ViktorHofer commented on #11646
It seems like a lot format arguments are not used in the respective strings. Will take a look into netfx source

[2017-04-10 15:45] karelz commented on #18159
FYI: Here's our [API process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)
Could you please provide brief description/motivation of the API? What is the problem you're trying to solve? Why do you need API in BCL?

[2017-04-10 15:46] bartonjs commented on #16640
As much as I'm not a fan of CryptoConfig, in particular for the "give me some HMAC, I don't care what, so long as you never ever change what you give me" path; copying the implementation from netfx will lead to the most stability (including if CryptoConfig starts supporting mutation on .NET Core).

CryptoConfig already has the "generic HMAC == HMACSHA1" entry (https://github.com/dotnet/corefx/blob

[2017-04-10 15:49] karelz commented on #18133
It will throw, when the heard is part of `_invalidHeaders`. What's wrong with that?
Do you have a test case?

[2017-04-10 15:50] bartonjs commented on #11646
@ViktorHofer One thing which might be wrong here is that we throw a HResult-based CryptographicException in netfx, but just a string-based one on corefx.  If that's the case, these calls should switch to [hr.ToCryptographicException()](http://source.dot.net/#System.Security.Cryptography.Csp/Internal/Cryptography/Windows/CryptoThrowHelper.cs,e81f5098c98b461b); it was probably just something left ov

[2017-04-10 15:52] karelz commented on #18133
It's the right place.
I updated main [README.md](https://github.com/dotnet/corefx#how-to-engage-contribute-and-provide-feedback) yesterday and the "file new issue" link works for me (I just double checked).
Can you please try it again? Or did you use something else?

[2017-04-10 15:53] ElemarJR commented on #18159
C# (and VB) are evolving and providing support for functional programming. Today we have pattern matching, better support for tuples and local functions. The BCL should provide some common functional programming containers. I suggested `Maybe/Option`, but we could have `Either<TLeft, TRight>` as well.

Today, I've been using my implementations (https://github.com/ElemarJR/ElemarJR.FunctionalCSharp

[2017-04-10 15:53] weshaggard opened #18160 "Individual library packages need netstandard2.0 configuration"
All our packages need to be sure to have netstandard2.0 support.

1. If they are part of netstandard2.0 then they need to have a placeholder so their owner assets doen't get chosen.
2. If they are above netstandard and they have an older netstandard configuration then they need a netstandard2.0 configuration to ensure package graph is cleaned up.

@ericstj I filed this issue once I realized packag

[2017-04-10 15:54] davidsh commented on #18129
There is no equivalent functionality in HttpClient/HttpClientHandler.

In addition, on .NET Core, the `ServicePoint.BindIPEndPointDelegate`  does not function. That is because the HTTP stack on .NET Core uses a different architecture and is not possible to implement that functionality.

[2017-04-10 15:56] davidfowl commented on #18160
Is that really worth it? We're not doing this in ASP.NET and I'd assume people aren't doing this for their 3rd party packages as it forces you to cross compile when you otherwise wouldn't need to.

[2017-04-10 15:59] ViktorHofer commented on #15810
BinaryCompatibility is being used in System.DirectoryServices.SortOption.cs:34: https://github.com/dotnet/corefx/blob/master/src/System.DirectoryServices/src/System/DirectoryServices/SortOption.cs#L34.

There are also a few comments in System.Diagnostics.Tracing.EventSource about BinaryCompatibility but I can't find any other references.

[2017-04-10 16:11] weshaggard commented on #18160
While we support not doing so I think for the packages we build in corefx we should do it to help take some load off the file/package conflict resolution task.

[2017-04-10 16:25] karelz commented on #16047
To close the loop: The reason is that it was non-master branch - they do not trigger auto-close from non-master branches. (sounds reasonable to me).

[2017-04-10 16:29] karelz commented on #18159
@ElemarJR I'm sorry, but I still don't get it. Can you please be more specific? Where exactly would it help? Which patterns does it enable?
Imagine you have to convince 100 C# developers who don't have the functional programming background you do. Pitch your idea to them - motivate them.

[2017-04-10 16:35] bartonjs commented on #1132
#4278 ended up taking over for the entirety of the Cryptography.Xml namespace.  EncryptedXml should now be working.

[2017-04-10 16:35] #1132 closed

[2017-04-10 16:44] bartonjs commented on #15118
In .NET Core 2.0 the common release for Linux will use late binding for functions, and SSLv3_method is marked as one that we can handle being missing (which will result in an exception for the handful of people who explicitly request SSLv3 on a system where OpenSSL was built to not have it).

Since the next version will already be easier to work with on arch, and a couple different workarounds are

[2017-04-10 16:44] #15118 closed

[2017-04-10 16:48] bartonjs commented on #8657
Since we don't have a plethora of crashes, and this issue hasn't been touched in months, I'm going to close this.  If we get new crashes we'll get a new bug opened, and hopefully we'll have some useful diagnostics now that the auto-callstack stuff is working.

[2017-04-10 16:48] #8657 closed

[2017-04-10 16:48] ElemarJR commented on #18159
Consider the following method:

[code]

What result should be expected from this? An `Employee` instance, right? Yes, but not only this! The result of this method could be `null` if there are no records that satisfy the specified criteria or an exception (if it is no possible to connect with the database, for example)

Actually, the programmer who will consume this method will have no idea of what

[2017-04-10 16:52] ElemarJR commented on #18159
Talking about patterns, we would be able to adopt a much more expressive (and declarative) coding style:

[code]

Expressiveness and "NO-MORE-EXCEPTIONS"

[2017-04-10 17:06] davidfowl commented on #18160
@weshaggard I don't think it's worth it.

[2017-04-10 17:18] davidsh commented on #18151
There are many more failures than this in innerloop tests for System.Net.Requests library against NETFX (Desktop). Looking at some of them reveal that the defaults are wrong compared with Desktop.

[2017-04-10 17:20] davidsh commented on #18151
Related to #17842

[2017-04-10 17:21] wfurt commented on #14614
There are probably few different angles:

Conceptual: do we care about consistency? Linux distributions are different and this is going to be ongoing problem. We can either use only common features (sucks) or have distro/platform differences (sucks).
One way how to eliminate this (as much as possible) is to eliminate external dependencies (as much as possible)

Another way is to use proper packagi

[2017-04-10 17:29] MattGal commented on #17420
The filtering composition happens through making a bunch of ITaskItems here:
https://github.com/dotnet/corefx/blob/72984f6ebb37fec3fb23caec9f261e08824ef5ac/Tools-Override/tests.targets#L178

And it does seem like the concept of any notrait property involving UAC / elevation has been lost.   From spot checking a few, the official runs have the following:

-notrait Benchmark=true -notrait category=n

[2017-04-10 17:35] mellinoe commented on #17538
@danmosemsft I'm not sure. It was only using about 800 MB on my machine, which should really be an acceptable amount of memory. I was going to attempt to attribute the test method so that it runs by itself (not in parallel with other cases).

[2017-04-10 17:37] fragmer commented on #18129
Hmm. I figured if `System.Net.Sockets.Socket` had a working cross-platform `LocalEndPoint` property, then perhaps it would be possible to implement the same for `HttpClientHandler`. If not, can you think of any workaround (e.g. setting up a proxy, a custom IHttpFilter, a custom HttpClientHandler, etc)? If not, please consider adding some extension points here in the future.

[2017-04-10 17:44] Clockwork-Muse commented on #18159
.... Would they even be "Exceptions" anymore?  You're turning them into error codes (not that I disagree that many exception cases should be switched to error codes or pre-emptive checks, especially in I/O cases).

[2017-04-10 18:06] karelz commented on #18159
@ElemarJR your latest examples of `Try` and `Either` are going above the original scope. Is that intentional?
Personally, I don't like such editions to C# -- it might be best to experiment with such things outside of CoreFX first and see if they gain momentum and interest from larger community. Would that make sense?

Your original `Option<T>` proposal looks like a spin on non-nullable reference t

[2017-04-10 18:15] mellinoe commented on #18159
This has been a common request in the past, see https://github.com/dotnet/corefx/issues/538, https://github.com/dotnet/corefx/issues/748, https://github.com/dotnet/corefx/issues/1291

Previously, we've said that this should be tied to new C# language features, in order for it to be usable / efficient. @jaredpar Are there any C# proposals covering this topic? Perhaps a pattern-matching-related feat

[2017-04-10 18:17] itanex commented on #17299
Perhaps I have misinterpreted the purpose of objects in the System.Net.Http namespace. As  I understand this namespace it contains objects specific to the operational needs of Http as a protocol. _Though that might just be my way of understanding it._

However, the documentation around the System.Net.Http.HttpMethod object itself does not declare it's use exclusively for HttpClient. So, hypothetic

[2017-04-10 18:24] ericstj commented on #18160
@weshaggard can you clarify if you're talking about using old packages with ns2.0?  If that's the case then the problem is likely the versioning in standard repo.  If you're talking about new packages in new projects then I agree we need to make sure that works correctly.

Please provide some concrete examples of the issues you're talking about here (both 1 & 2).

[2017-04-10 18:43] Priya91 commented on #17420
@mellinoe @weshaggard The helix test runs are not run as sudo, and hence we added an xunit trait called requireselevation, and the helix test runs would filter out these tests based on this trait. I'm not sure what changed, whether it is how the helix test runs are configured or the corefx scripts, but these tests are now being run in a test run that's not running as sudo, hence causing failures.

[2017-04-10 18:49] joperezr commented on #17917
I believe that the problem here is that you have different enlistments on the same folder path, as we don't eve have a folder called `\repos\corefx`. I believe that in order for you to go to a clean state, try to create a new folder entirely(could be something in your desktop, like `C:\users\tarun\Desktop\repos`) and then try doing a `git clone` to corefx from there so that you are in an isolated

[2017-04-10 18:53] rynowak commented on #18114
This is really a feature of https://github.com/aspnet/EventNotification/tree/dev/src/Microsoft.Extensions.DiagnosticAdapter

There are also some limitations around APIs that just aren't that great for use of the adapter. In general collections of polymorphic data don't work well.

For MVC we have types and tests that use the adapter. It was *ideally* part of our roadmap to release these as a packa

[2017-04-10 19:04] Priya91 commented on #15018
Looking the at recent test failure build logs, looks like this test has been failing only on OSX, and @danmosemsft  we recently updated the OSX machine to 10.12 right? Could the setting on the box be different now? Will look at the docs for this..

[2017-04-10 19:11] ericstj commented on #15112
Can you describe how this is different than PreferMonoInbox?  In both cases I'd expect mono to load the one in the app if it doesn't have one inbox.  At that point it doesn't matter if the one in the app is runtime specific.

In other words, I'm imagining the behavior of PreferInbox and PreferMonoInbox as the same, just the name being different.

[2017-04-10 19:45] marek-safar commented on #15112
Maybe I misunderstood the PreferInbox intention but we'd like to e.g. block loading `System.Runtime.InteropServices.RuntimeInformation` (use inbox version) with next minor nuget update.
If .NET FX doesn't recognize this attribute then we are good but I though you wanted to use it to control this behaviour on any .NET runtime.

[2017-04-10 19:48] Scythen opened #18164 "Add support for Data Contract Serializer to Immutable collections"
Immutable collections should support Data Contract Serializer like other collection types.
Not supporting Data Contract Serializer makes Immutable collections unusable in Service Fabric applications. Considering the Service Fabric documentation suggests using immutable types it would be great if the ones supplied by MS worked.

[2017-04-10 19:48] shmao commented on #16752
This was fixed by https://github.com/dotnet/corefx/pull/17771.

[2017-04-10 19:48] #16752 closed

[2017-04-10 19:53] svick commented on #18159
I don't think it makes sense to add `Option` to C#. If you want to make nullability explicit, what you need is  to remove `null`, which is what non-nullable reference types (https://github.com/dotnet/csharplang/issues/36) are about. I don't see how renaming `null` to `None` helps.

To expand upon this some more:

For a reference type `T`, the possible values are:

* `null`
* an instance of `T`

Fo

[2017-04-10 19:55] jaredpar commented on #18159
@mellinoe yes.  C# is actively working on a non-null proptotype feature.

[2017-04-10 20:03] MattGal commented on #17420
I'm not sure when it got lost, since it could have been passed on the command line, but the solution is simple...
1) Plumb through $(XunitTraitOptions) or a variation of it that can actually be set from the command line (Currently it's intended to do this, but doesn't work, since setting it to anything breaks the lines I linked above).  I'd suggest renaming the resultant one something like "FullXU

[2017-04-10 20:20] Priya91 commented on #17420
Per @MattGal's solutions, marking this issue as infra.

[2017-04-10 20:25] weshaggard commented on #18160
I'm talking about our new packages. I don't want to be in a race condition between file versions between corefx and standard repo's to determine which one wins the conflict resolution. We should be explicit for these packages where we ship a package and a shim. So for (1) the list should be driven by the intersection of  the netstandard shim list and the individual library packages we ship.

For (

[2017-04-10 20:47] krwq commented on #16779
I've split this test a little bit so that we are able to tell what has happened and what is exactly missing. Currently seems to me that J is missing in DSAKeyValue after we import and export. I'm not ever seeing J in DSAKeyValue when I create that on Desktop - I'll further investigate if this is something we should be parsing or not.

[2017-04-10 20:47] weshaggard commented on #17914
The harvesting is causing the netstandard1.1 ref (4.0.1) to have a different version then the net45 shim (4.0.2) for the System.Runtime.InteropServices.RuntimeInformation package. See https://github.com/dotnet/standard/issues/295

[2017-04-10 21:15] davidsh commented on #18133
This is the same behavior as .NET Framework. The product source code is identical between .NET Framework and .NET Core.

[2017-04-10 21:17] krwq commented on #16779
Ok, J is optional and is only an optimization. I'll make a test accept either null or correct value

[2017-04-10 21:18] weshaggard commented on #16994
cc  @dsplaisted for sdk potentiall issues or @gkhanna79 for host issues.
After chatting with @ericstj on this this seems like it could be a tool or runtime issue. Can you guys tell me whether or not your output folder contains and folders that look like "win-x64", etc? If so the host should be resolving those runtime specific assets at runtime and thus shouldn't be picking up the dummy version of

[2017-04-10 21:22] daxian-dbw opened #18168 "The executable generated from `dotnet publish -r ubuntu.16.04-x64` doesn't have "x" permission"
`dotnet publish -r ubuntu.16.04-x64` generates an executable, however, the executable file doesn't have "x" permission.
This happens when building a stand-alone application targeting `netcoreapp2.0` with `dotnet-cli 2.0.0-preview1-005724`. It is a regression comparing to `dotnet sdk 1.1`.

Simple repro:
[code]
[code]

[2017-04-10 21:25] mellinoe commented on #17420
One thing I'm not sure about: did we have those in the past, and they were just accidentally dropped? Do we know which commit broke it?

[2017-04-10 21:27] mellinoe commented on #18168
This sounds more like a CLI or SDK bug, given that it has to do with the "publish" command. Could you file an issue over here? https://github.com/dotnet/cli/issues

[2017-04-10 21:29] daxian-dbw commented on #18168
@mellinoe sure, I will open an issue in the dotnet-cli repo. Thanks!

[2017-04-10 21:30] MattGal commented on #17420
@mellinoe from digging around, this used to be passed in to the build-tests script at build time like /p:XunitTraitOptions=... but this would, as far as I can tell either always have been broken or require that to contain the various "nonwindowstests", etc that is composed today in addition to the requireselevation, since if passed on the command line this cannot be changed.   This is still the ca

[2017-04-10 21:30] mellinoe commented on #18168
@daxian-dbw Thanks!

[2017-04-10 21:30] #18168 closed

[2017-04-10 21:39] #18151 closed

[2017-04-10 21:49] alexperovich commented on #14625
@karelz I think the right solution here is just to remove the case. We already have 2 invalid tokens.

[2017-04-10 21:49] ericstj commented on #17914
I noticed this one when enabling package validation.

I plan to re-enable package validation to address all issues like this and https://github.com/dotnet/corefx/issues/18160

[2017-04-10 21:53] danmosemsft commented on #15018
@Priya91 yes we did recent upgrade to Sierra.

[2017-04-10 22:01] weshaggard opened #18172 "System.Json assembly identity"
We added System.Json with https://github.com/dotnet/corefx/pull/9897 and later updated the version number to match mono with https://github.com/dotnet/corefx/issues/9938. However we still haven't taken into account the public key. Currently it has the MSFT public key (soon to be the Open key https://github.com/dotnet/corefx/pull/18165) and so any existing binary references will still not bind to t

[2017-04-10 22:13] ElemarJR commented on #18159
@Clockwork-Muse Not simple error codes. If you use Either/Try you would force the "dev client" to handle it. I like to think Exceptions as result value from failed executions. The idea is to avoid dangerous side-effects.

@karelz It's not simple non-nullable objects. There are contexts where you want to return `None` indicating you have no value related. The `Maybe` meta-type is important because

[2017-04-10 22:15] karelz commented on #18172
No one owns it - it's not on our [area list](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas) and I haven't seen it in the internal OneNote predecessors of the list either.

We will need to ask someone to help with the task once we decide what to do.

[2017-04-10 22:17] seguler opened #18173 "HTTPS perf issue on Linux/Ubuntu"
We have a sample app that uploads large files into Azure Storage on Linux (Ubuntu 16.10, .NET Core 1.1). When we use HTTP endpoint we get about 600MB/s throughput, whereas as soon as we change to HTTPS, the throughput drops to about 100MB/s. At first we thought this could be a bottleneck on Azure Storage, but after testing the same scenario with curl on Linux, as well as running the test on Window

[2017-04-10 22:28] jkotas commented on #18125
Failed in https://github.com/dotnet/corefx/pull/18167

[2017-04-10 22:39] #17980 closed

[2017-04-10 22:45] danmosemsft commented on #18142
@sepidehMS is this expected given your work on the "default resolver" appcontext flag?
 Does desktop have it? 4f27ec699cb4a24c65e998880ce495dc9c1991cf

[code]

[2017-04-10 22:56] safern commented on #18145
I think this will be fixed with:

https://github.com/dotnet/corefx/pull/17874

[2017-04-10 23:09] tarekgh commented on #18172
@karelz @danmosemsft please assign owner for this one to take a look soon as this is marked as v2. thanks.

[2017-04-10 23:19] karelz commented on #18159
@ElemarJR thanks for the info. It gives me some high-level idea what you're trying to achieve. I think it is an interesting (and bold) idea.

Regarding momentum - I was not talking about functional languages (e.g. F#) momentum, but FunctionalCSharp momentum. Given that you work on these for years now, maybe it would be best to create and release your library as separate NuGet package and see how p

[2017-04-10 23:24] alexperovich commented on #16613
I will pick this up.

[2017-04-10 23:38] RenanCarlosPereira opened #18178 "What would be the proposed of an exception?"
If c# got that feature, what would be the propose of an exception?

[2017-04-10 23:38] #18178 closed

[2017-04-10 23:43] RenanCarlosPereira commented on #18159
If C# get this feature what would be the propose of an exception?

[2017-04-10 23:48] #15763 closed

[2017-04-11 00:07] safern commented on #10880
I just did a small research here and the difference and it looks like a difference in behavior as @danmosemsft pointed out. The member `TraceEventCache.LogicalOperationStack` was brought back on this commit https://github.com/dotnet/corefx/commit/50609bef333c19c40a9aefa931f21f7d03c3f178 by myself but didn't updated `DelimitedListTraceListener.TraceEvent` to include the LogicalOperationStack on the

[2017-04-11 00:24] danmosemsft commented on #18152
@stephentoub modified this test a couple days ago in https://github.com/dotnet/corefx/pull/18026 but that may have been a coincidence.

[2017-04-11 00:26] danmosemsft commented on #18152
Actually, it looks like it first broke in the build iwth your change @stephentoub

Failing for the past 2 builds (Since Failed#12 )
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/12/

[2017-04-11 00:30] tarekgh commented on #18065
@JonHanna I am closing the issue here but feel free to respond with any follow up question or comment. Thanks.

[2017-04-11 00:30] #18065 closed

[2017-04-11 00:50] #16585 closed

[2017-04-11 00:56] steveharter commented on #17749
This is not related to NETDB_INTERNAL as my previous comment mentioned. The "invalid argument" (EINVAL) is not an 'official' return code via man pages, but is being returned in Fedora 24 anyway.

This test is triggering the assert:
[code]
This test was recently added to verify the fix made in https://github.com/dotnet/corefx/pull/17574

The proposed fix (in progress) is to check for EINVAL and if

[2017-04-11 01:56] sepidehMS commented on #18142
@danmosemsft No, Desktop does not have this switch and this switch being set to true is the default behavior for both NETCore and Desktop.

[2017-04-11 01:59] safern opened #18187 "[Netfx bug]: ProcessStartInfo.Verbs throws InvalidCastException when an int value is present in the RegistryKey"
On netfx we try to do this when getting the verbs:
[code]

Where we cast the value to string no matter what is the type of that value.

On netcoreapp we do:

[code]

Where we use safe cast and verify that the value is not null or empty.

If we run the following code (has to be as an administrator) in full framework we will get an `InvalidCastException` since it is adding an int value to the `Regis

[2017-04-11 01:59] #18187 closed

[2017-04-11 01:59] safern commented on #18187
Closing as @AlexGhiondea's tool tracks closed issues as well and this bug is on Desktop.

[2017-04-11 02:04] danmosemsft opened #18188 "Failure in Write_HeadersToClosedConnectionSynchronously_ThrowsHttpListenerException"
[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/6067/testReport/junit/System.Net.Tests/HttpResponseStreamTests/Write_HeadersToClosedConnectionSynchronously_ThrowsHttpListenerException_ignoreWriteExceptions__True_/

[2017-04-11 02:05] dasjestyr commented on #1624
I toyed with the idea of maybe interfacing HttpMessageHandler and possibly HttpRequestMessage because I didn't like having to write fakes. But the further down that rabbit hole you go, the more you realize that you'll be trying to fake actual data value objects (e.g. HttpContent) which is a futile exercise. So I think that designing your dependent classes to optionally take HttpMessageHandler as a

[2017-04-11 02:05] danmosemsft commented on #18188
[code]

[2017-04-11 02:17] JaedsonBarbosa commented on #4278
@krwq  It continue without support for UWP 😞

[2017-04-11 02:19] hughbe commented on #18188
I caused this... Submitting a PR to disable them now.

[2017-04-11 02:24] PureKrome commented on #1624
@dasjestyr Did you try creating an interface for `HttpClient` (which is like creating a wrapper for it) instead of interfaces for `HttpMessageHandler ` or `HttpRequestMessage ` ..

 /me curious.

[2017-04-11 02:30] KuroThing commented on #18133
Sorry about that Karelz, when i checked the area regarding bug reports it still went to some connect website related to Visual Studio, where my microsoft account didn't have access to that area.

It seems i may have misunderstood what the `_invalidHeaders` was for, since it was throwing an exception when trying to see if the `HttpHeaders` collection contained the "Content-Type" header of a respons

[2017-04-11 02:43] stephentoub commented on #18152
@danmosemsft, this test has been failing on desktop long before my change. My change renamed the test.  You can see it failing with its previous name here from a couple of weeks ago:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/1/testReport/junit/System.Net.Sockets.Tests/NetworkStreamTest/CopyToAsync_DisposedSourceStream_Throws/

[2017-04-11 02:43] dasjestyr commented on #1624
@PureKrome I sketched out creating an interface for it and that's where I quickly realized that it was pointless. HttpClient really just abstracts a bunch of stuff that doesn't matter in the context of unit testing, and then calls the message handler (which was a point that was made a few times in this thread). I also tried creating a wrapper for it, and that was simply not worth the work required

[2017-04-11 02:45] stephentoub commented on #18172
I agree.  The primary (whole?) point of adding this library was purely about improving compatibility with apps using Mono, so we should do everything we can to match the same identity used there.

[2017-04-11 03:06] pedroaliens opened #18190 "Checked Exceptions"
What about Checked Exceptions in C# like Java?

I think it would be helpful to expect all behaviors of the method/object.

[code]
It will enforce that every method who calls FileUtils.Write should do it within a try..catch.. statement.

[2017-04-11 03:08] #18142 closed

[2017-04-11 03:08] PureKrome commented on #1624
Interesting. I've found (personal bias?) my helper library works great when using a (fake) concrete message handler .. vs.. some interface stuff on that lowish level.

I would still prefer not to have to write that library or use it, though :)

[2017-04-11 03:35] imkheong commented on #16994
@weshaggard there is no folder with the name of "win-x64" in my case. The deployment package is a zip file bundled by the AWS Toolkit for Visual Studio. By right clicking on the serverless project (implementing the AWS Serverless Application Model (SAM), select "Publish to AWS Lambda...". The files necessary to run the application is zipped into a zip file and subsequently sent to the AWS S3. Atta

[2017-04-11 03:43] danmosemsft commented on #18190
Hi @pedroaliens could you please open an issue in https://github.com/dotnet/csharplang

As you can imagine this suggestion has history. Here's some explanation: http://www.artima.com/intv/handcuffs.html

[2017-04-11 03:43] #18190 closed

[2017-04-11 03:49] dasjestyr commented on #1624
I don't see any problem with creating a small library to build fakes. I might do so when I'm bored with nothing else to do. All my http stuff is already abstracted and tested so I have no real use for it at the moment.

[2017-04-11 04:00] abatishchev commented on #1624
When the most of the codebase is tested using mocking interfaces, it's more convenient and consistent when the rest of the codebase is tested the same way. So I would like to see an interface IHttpClient. Like IFileSystemOperarions from ADL SDK or IDataFactoryManagementClient from ADF management SDK, etc.

[2017-04-11 04:23] dasjestyr commented on #1624
I still think you're missing the point, which is HttpClient doesn't need to be mocked, only the handler. The real problem is the way that people look at HttpClient. It's not some random class that should be newed up whenever you think to call the internet. In fact, it's best practice to reuse the client across your entire application -- it's that big of a deal. Pull the two things apart, and it ma

[2017-04-11 04:48] PureKrome commented on #1624
Heh @dasjestyr - I too think you might have missed a major point of my discussion.

The fact that we (the developer) needs to _learn_ so much about Message Handlers, etc .. to fake the response is my _main_ point about all of this. Not so much about interfaces. Sure, I (personally) prefer interfaces to virtuals with respect to testing (and therefore mocking) ... but those are implementation detail

[2017-04-11 05:32] dotnet-mc-bot opened #18192 "HttpListener tests: HttpRequestStreamTests failed with "System.NullReferenceException""
Opened on behalf of @Jiayili1

The test `System.Net.Tests.HttpRequestStreamTests/CanRead_Get_ReturnsTrue` has failed.

System.AggregateException : One or more errors occurred. (Object reference not set to an instance of an object.) (Object reference not set to an instance of an object.)\r
    ---- System.NullReferenceException : Object reference not set to an instance of an object.\r
    ---- Syst

[2017-04-11 05:35] Jiayili1 commented on #18192
Failed tests:
System.Net.Tests.HttpRequestStreamTests/CanRead_Get_ReturnsTrue
System.Net.Tests.HttpRequestStreamTests/CanSeek_Get_ReturnsFalse
System.Net.Tests.HttpRequestStreamTests/CanWrite_Get_ReturnsFalse
System.Net.Tests.HttpRequestStreamTests/EndRead_CalledTwice_ThrowsInvalidOperationException
System.Net.Tests.HttpRequestStreamTests/EndRead_InvalidAsyncResult_ThrowsArgumentException
System.N

[2017-04-11 05:37] Jiayili1 commented on #18188
Failed again on build 20170411.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170411.01/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpResponseStreamTests~2FWrite_HeadersToClosedConnectionSynchronously_ThrowsHttpListenerException(ignoreWriteExceptions:%20False)

[2017-04-11 05:40] Jiayili1 commented on #15018
Failed again on build 20170411.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170411.01/workItem/System.Net.Ping.Functional.Tests/analysis/xunit/System.Net.NetworkInformation.Tests.PingTest~2FSendPingAsyncWithIPAddress

[2017-04-11 05:42] Jiayili1 commented on #17422
Failed again on build 20170411.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170411.01/workItem/System.Security.Cryptography.X509Certificates.Tests

[2017-04-11 05:49] dotnet-mc-bot opened #18193 "Test failure: System.Net.Tests.GlobalProxySelectionTest/Select_Success"
Opened on behalf of @Jiayili1

The test `System.Net.Tests.GlobalProxySelectionTest/Select_Success` has failed.

Assert.Equal() Failure\r
    Expected: 42\r
    Actual:   -1073740791

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose()
       at System.Net.Tests.GlobalProxySelectionTest.Select_Success()
Build : Master - 20170411.01 (UWP F5 Test

[2017-04-11 06:19] PureKrome commented on #1624
And that has been my _real_ long game :)

Q.E.D.

![](https://media.giphy.com/media/xNBcChLQt7s9a/giphy.gif)

![](https://media.giphy.com/media/Z3hQpGCXQUl4k/giphy.gif)

(actually - so embarrassing 😊 )

[2017-04-11 06:35] imkheong commented on #16994
@karelz I have completed the exercise to create an Ubuntu 16.04.2 EC2 instance that will execute the erroneous code to access the database.  It ran just fine.

On the other end, the issue also appears to be a non-issue after a retry on AWS Lambda just a while ago.

[2017-04-11 06:46] krwq commented on #4278
@JaedsonBarbosa does https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Security.Cryptography.Xml/4.4.0-preview1-25210-01 not work for you? Could you send the steps of what you're doing?

[2017-04-11 06:48] dotnet-mc-bot opened #18194 "Test failure: System.CodeDom.Compiler.Tests.CodeDomProviderTests/GetAllCompilerInfo_ReturnsMinimumOfCSharpAndVB"
Opened on behalf of @Jiayili1

The test `System.CodeDom.Compiler.Tests.CodeDomProviderTests/GetAllCompilerInfo_ReturnsMinimumOfCSharpAndVB` has failed.

System.Configuration.ConfigurationErrorsException : The CodeDom provider type \"Microsoft.VisualC.CppCodeProvider, CppCodeProvider, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a\" could not be located.

        Stack Trace:

[2017-04-11 06:52] Jiayili1 commented on #18149
This issue is repro on build 20170411.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170411.01/workItem/System.ComponentModel.Annotations.Tests/analysis/xunit/System.ComponentModel.DataAnnotations.Tests.CustomValidationAttributeTests~2FRequiresValidationContext_Get_ReturnsExpected(method:%20%5C%22Correc

[2017-04-11 06:53] Jiayili1 commented on #18148
This issue is repro on build 20170411.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170411.01/workItem/System.ComponentModel.Annotations.Tests/analysis/xunit/System.ComponentModel.DataAnnotations.Tests.CustomValidationAttributeTests~2FRequiresValidationContext_BadlyFormed_ThrowsInvalidOperationExceptio

[2017-04-11 06:57] Jiayili1 commented on #18146
This issue is repro on build 20170411.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170411.01/workItem/System.ComponentModel.Annotations.Tests/analysis/xunit/System.ComponentModel.DataAnnotations.Tests.RangeAttributeTests~2FValidate_IConvertibleThrowsCustomException_IsNotCaught

[2017-04-11 07:04] dotnet-mc-bot opened #18195 "Tests under: System.Configuration.ConfigurationManager.Tests failed with "System.Configuration.ConfigurationErrorsException""
Opened on behalf of @Jiayili1

The test `MonoTests.System.Configuration.ConfigurationLockCollectionTest/DuplicateAdd` has failed.

System.Configuration.ConfigurationErrorsException : An error occurred loading a configuration file: Operation is not supported on this platform.\r
    ---- System.PlatformNotSupportedException : Operation is not supported on this platform.

        Stack Trace:

[2017-04-11 07:06] dotnet-mc-bot opened #18196 "Test failure: System.ConfigurationTests.UrlPathTests/GetDirectoryOrRootName_GettingDirectoryFromAFilePath"
Opened on behalf of @Jiayili1

The test `System.ConfigurationTests.UrlPathTests/GetDirectoryOrRootName_GettingDirectoryFromAFilePath` has failed.

Assert.Equal() Failure\r
                                     ? (pos 98)\r
    Expected: ···bd-af0f-642d560eb2bb\\Unzi\r
    Actual:   ···bd-af0f-642d560eb2bb\r
                                     ? (pos 98)

        Stack Trace:

           at System.

[2017-04-11 07:11] Jiayili1 commented on #17925
This issue is repro on build 20170411.01, tests failed on Full Framework Tests, so adding "test-run-desktop", detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170411.01/workItem/System.Data.SqlClient.Tests/analysis/xunit/System.Data.SqlClient.Tests.DiagnosticTest~2FConnectionOpenAsyncTest

[2017-04-11 07:13] Jiayili1 commented on #16960
This test failed again on build 20170411.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170411.01/workItem/System.Data.SqlClient.Tests/analysis/xunit/System.Data.SqlClient.Tests.ExceptionTest~2FExceptionTests

Message:
[code]

Stack Trace:
[code]

[2017-04-11 07:16] Jiayili1 commented on #17088
This test failed again on full framework tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170411.01/workItem/System.Data.SqlClient.Tests/analysis/xunit/System.Data.SqlClient.Tests.SqlConnectionBasicTests~2FConnectionTest

[2017-04-11 07:30] Jiayili1 commented on #17422
This issue is repro on portable core tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170411.01/workItem/System.Security.Cryptography.X509Certificates.Tests

[2017-04-11 07:32] Jiayili1 commented on #17930
This issue is repro on build 20170411.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170411.01/workItem/System.Drawing.Primitives.Tests/analysis/xunit/System.Drawing.PrimitivesTest.RectangleFTests~2FEqualityTest_NotRectangleF

[2017-04-11 07:53] safern commented on #18150
This is taken care of PR: https://github.com/dotnet/corefx/pull/17874

[2017-04-11 07:53] safern commented on #18149
This is taken care of PR: #17874

[2017-04-11 08:00] safern commented on #18148
This is taken care of PR: #17874

[2017-04-11 08:02] Jiayili1 opened #18197 "Desktop: System.Security.Cryptography.Encryption.Aes.Tests.AesContractTests.VerifyKeyGeneration_256 failed with "System.Security.Cryptography.CryptographicException""
Failed test: System.Security.Cryptography.Encryption.Aes.Tests.AesContractTests.VerifyKeyGeneration_256

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/14/testReport/System.Security.Cryptography.Encryption.Aes.Tests/AesContractTests/VerifyKeyGeneration_256/

Message:
[code]

Stack Trace:
[code]

[2017-04-11 08:02] safern commented on #18146
This is taken care of PR: #17874

[2017-04-11 08:05] Jiayili1 opened #18198 "Desktop: System.Security.Cryptography.EcDsa.Tests.ECDsaTests.PublicKey_CannotSign failed with "System.TypeLoadException""
Failed test: System.Security.Cryptography.EcDsa.Tests.ECDsaTests.PublicKey_CannotSign

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/14/testReport/System.Security.Cryptography.EcDsa.Tests/ECDsaTests/PublicKey_CannotSign/

MESSAGE:
System.TypeLoadException : Could not load type 'System.Security.Cryptography.ECParameters' from assembly 'netstandard, Ver

[2017-04-11 08:11] Jiayili1 opened #18199 "Desktop: System.Net.Tests.HttpWebRequestHeaderTest.HttpWebRequest_ProxySetAfterGetResponse_Fails failed with "System.Net.WebException""
Failed test: System.Net.Tests.HttpWebRequestHeaderTest.HttpWebRequest_ProxySetAfterGetResponse_Fails

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/14/testReport/System.Net.Tests/HttpWebRequestHeaderTest/HttpWebRequest_ProxySetAfterGetResponse_Fails_remoteServer__http___corefx_net_cloudapp_net_Echo_ashx_/

**MESSAGE:**
System.Net.WebException : The op

[2017-04-11 08:15] KristinXie1 opened #18201 "Desktop: System.ComponentModel.Tests.MemberDescriptorTests.CopiedMemberDescriptorEqualsItsSource failed with "Xunit.Sdk.TrueException""
Failed test: System.ComponentModel.Tests.MemberDescriptorTests.CopiedMemberDescriptorEqualsItsSource

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/14/testReport/System.ComponentModel.Tests/MemberDescriptorTests/CopiedMemberDescriptorEqualsItsSource/

**MESSAGE:**
Assert.True() Failure\r\nExpected: True\r\nActual: False
+++++++++++++++++++

**STACK TR

[2017-04-11 08:32] Jiayili1 opened #18202 "Desktop: tests under "System.IO.IsolatedStorage" failed with "System.TypeInitializationException" & "System.IO.IsolatedStorage.IsolatedStorageException""
Failed tests:
System.IO.IsolatedStorage.ContainsUnknownFilesTests.ContainsUnknownFiles_NotOkDirectory
System.IO.IsolatedStorage.ContainsUnknownFilesTests.ContainsUnknownFiles_NotOkFiles
System.IO.IsolatedStorage.ContainsUnknownFilesTests.ContainsUnknownFiles_OkFiles
System.IO.IsolatedStorage.ContainsUnknownFilesTests.ContainsUnknownFiles_CleanStore
System.IO.IsolatedStorage.CopyFileTests.CopyFile_

[2017-04-11 08:36] Jiayili1 opened #18203 "Desktop: System.Net.Tests.HttpWebRequestTest.Abort_BeginGetResponseThenAbort_EndGetResponseThrowsWebException failed with "System.NullReferenceException""
Failed test: System.Net.Tests.HttpWebRequestTest.Abort_BeginGetResponseThenAbort_EndGetResponseThrowsWebException

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/14/testReport/System.Net.Tests/HttpWebRequestTest/Abort_BeginGetResponseThenAbort_EndGetResponseThrowsWebException_remoteServer__http___corefx_net_cloudapp_net_Echo_ashx_/

MESSAGE:
System.Nul

[2017-04-11 08:38] Jiayili1 opened #18204 "Desktop: System.Net.Tests.HttpWebRequestTest.Abort_BeginGetResponseThenAbort_ResponseCallbackCalledBeforeAbortReturns failed with "Xunit.EqualException""
Failed test: System.Net.Tests.HttpWebRequestTest.Abort_BeginGetResponseThenAbort_ResponseCallbackCalledBeforeAbortReturns

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/14/testReport/System.Net.Tests/HttpWebRequestTest/Abort_BeginGetResponseThenAbort_ResponseCallbackCalledBeforeAbortReturns_remoteServer__https___corefx_net_cloudapp_net_Echo_ashx_/

ME

[2017-04-11 08:41] Jiayili1 opened #18205 "Desktop: System.Runtime.Serialization.Xml.Tests.XmlDictionaryReaderTests.ReadElementContentAsDateTimeTest failed with "Xunit.Sdk.EqualException""
Failed test: System.Runtime.Serialization.Xml.Tests.XmlDictionaryReaderTests.ReadElementContentAsDateTimeTest

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/14/testReport/System.Runtime.Serialization.Xml.Tests/XmlDictionaryReaderTests/ReadElementContentAsDateTimeTest/

MESSAGE:
Assert.Equal() Failure\r\nExpected: 2003-01-08T15:00:00.0000000\r\nActual:

[2017-04-11 08:53] karelz commented on #16994
@imkheong what do you mean by retry? Rebuild and redeploy? Or is it intermittent issue which comes and goes over time?

It's bummer if you can't repro on Ubuntu. Let's see if @weshaggard can come up with some ideas ...

[2017-04-11 09:04] Jiayili1 commented on #18192
This issue is repro on outerloop_netcoreapp_win7_debug, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/12/testReport/System.Net.Tests/HttpRequestStreamTests/Read_FromClosedConnectionSynchronously_ThrowsHttpListenerException/

[2017-04-11 09:07] Jiayili1 commented on #18188
This issue is repro on OuterLoop_netcoreapp_win10_debug, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win10_debug/13/testReport/System.Net.Tests/HttpResponseStreamTests/Write_HeadersToClosedConnectionSynchronously_ThrowsHttpListenerException_ignoreWriteExceptions__False_/

[2017-04-11 10:43] Richiban commented on #18159
For anyone curious about how types such as `Option<T>`, `Either<L, R>` and others work I recommend checking out @louthy's excellent LanguageExt package (https://github.com/louthy/language-ext, https://www.nuget.org/packages/LanguageExt.Core/). It's mature and feature-rich; we've been using it in production for some time now. I love the explicitness that `Optional<T>` gives you in an API:

[code]

[2017-04-11 10:50] #11646 closed

[2017-04-11 12:09] louthy commented on #18159
@Richiban Hi Richard, thanks for the kind words :)

One comment I'd make on the usefulness of `Option` in the BCL is that when I created my first functional project ([csharp-monad](https://github.com/louthy/csharp-monad)) which was just simple monadic types like `Option` `Either` and nothing else; I found it to be much less useful.  Not totally useless, but I find the real power of `Option` (and s

[2017-04-11 12:34] JaedsonBarbosa commented on #4278
I just put that command:
Install-Package System.Security.Cryptography.Xml -Version 4.4.0-preview1-25210-01

That's the error:

[2017-04-11 13:14] svick commented on #18159
@ElemarJR

Your very first example suggests to use `None` instead of `null`. How does that make the use cases and semantic implications different? Could you explain what does that actually mean?

Yes, but my point is that adding `Option<T>` doesn't really help. You add a way to indicate that `None` is a valid value, but you still have no way to indicate that `null` is *not* a valid value. So if yo

[2017-04-11 13:25] stephentoub commented on #18173
A few questions to try to narrow this down:
- I took a quick look at the sample but don't see HTTP-related types being used directly.  I assume the usage is coming from the Azure SDK?
- Is it possible to come up with a repro that uses HttpClient directly?
- What version of .NET Core are you running against (i.e. which version of System.Net.Http.dll)?  Have you tried using .NET Core 2.0 (not yet re

[2017-04-11 13:35] JaedsonBarbosa commented on #4278
@krwq  See that: https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Security.Cryptography.Xml/4.4.0-preview1-25210-01#targetframeworks

[2017-04-11 13:41] stephentoub commented on #18129
Today HttpClient in .NET Core is not built on top of System.Net.Sockets; rather on Windows it's built on top of the native WinHttp and on Unix on top of the native libcurl.  We are investigating having a managed implementation in the future that would be built on Sockets, at which point it's possible we could make this work, but that's not going to happen for 2.0.
cc: @geoffkizer

[2017-04-11 13:42] jnm2 commented on #1624
I know! Same!

[2017-04-11 14:13] davidsh commented on #18204
Fixed as part of #18163

[2017-04-11 14:13] #18204 closed

[2017-04-11 14:13] davidsh commented on #18203
Fixed as part of #18163

[2017-04-11 14:13] #18203 closed

[2017-04-11 14:14] davidsh commented on #18199
Fixed as part of #18163

[2017-04-11 14:14] #18199 closed

[2017-04-11 14:36] bartonjs commented on #17422
Yep, "write permissions error" again.  I guess we could try spinning the test to see if the error recovers; but it feels like either some other test marks the filesystem as readonly or creates some other IO problem.

Or just always let the test pass when the HResult value is -61 (errSecWrPerm)

[2017-04-11 15:02] AndreiFuse opened #18207 "[Linux Mint] Http client to call Soap service over https."
I'm trying to access existing SOAP webservice using `HttpClient`. Works fine on Windows 10, but fails in Linux Mint with `TaskCanceledException: A task was canceled.`, which masks a timeout. Is there a way to run it on Linux?

[code]

The request works fine with http and also with https when there are valid certificates.

To problem occurs when we are testing in our DEV environment with no valid h

[2017-04-11 15:44] karelz commented on #4278
Just a reminder of what I said earlier: https://github.com/dotnet/corefx/issues/4278#issuecomment-292448824
I don't think you will get UWP support with the package. The package depends on .NET Standard 2.0 AFAIK and UWP does not yet have .NET Standard 2.0 support -- it is something we will work on for .NET Core 2.1 (some bits are done early to unblock larger team to work on it post 5/10, but it is

[2017-04-11 15:51] daveaglick commented on #14653
I'm seeing some problems that might be related to this. I'm using Roslyn 2.0 bits in a 4.6.2 library and attempting to create an `MSBuildWorkspace`. I now get this runtime error:

[code]

So okay, no problem, I'll just uninstall `Microsoft.Composition" and install "System.Composition" instead:

[code]

I went ahead and installed `System.Composition` in the project in addition to `Microsoft.Composi

[2017-04-11 15:54] ViktorHofer opened #18208 "Test failures: System.Globalization.Tests.NumberFormatInfoPercentPositivePattern"
Just ran build-tests from root and discovered that these two tests are failing in System.Globalization on Core:

[code]

[code]

[2017-04-11 16:35] JaedsonBarbosa commented on #4278
@karelz  So do you think I will need to wait until when?

[2017-04-11 16:37] davidsh commented on #18192
Doesn't repro on Windows 10 RS2 outerloop.  Trying to see if it repros on Windows 7 machine.

[2017-04-11 16:54] stephentoub commented on #14319
@rvfernandes, I've not been able to reproduce this, and I haven't heard back from you about it.  I'm going to close the issue for now.  We can reopen if/when necessary. Thanks.

[2017-04-11 16:54] #14319 closed

[2017-04-11 17:00] stephentoub commented on #18207
@AndreiFuse, a few questions/comments:
- What version of .NET Core are you using?
- What version of curl are you using? i.e. what output do you see from `curl --version` at the terminal?
- Is there a reason you're blocking with `.Result` rather than using `await`?
- `HttpClient` is meant to be used multiple times and used concurrently; you don't need to / ideally shouldn't create one per request.

[2017-04-11 17:04] weshaggard commented on #16994
@dsplaisted @livarcocc are you guys aware of any deployment issues with AWS? At a high level it appears that the RID folders aren't getting published with the output so it is picking the incorrect version of RuntimeInformation which is the fallback which throw PNSE for everything.

[2017-04-11 17:05] karelz commented on #4278
Yes, I think you will need to wait until then.
Unless you are super-motivated and can make it through all these speed bumps. As I said, until 5/10 our ability to help you with anything UWP will be **very limited**, so you will be mostly on your own 😦. Just setting the expectations here ...

[2017-04-11 17:08] JaedsonBarbosa commented on #4278
OK, so I whill try to use JavaScript with C# in my UWP to use that package https://github.com/yaronn/xml-crypto in my UWP project

[2017-04-11 17:09] tarekgh commented on #18208
@ViktorHofer any idea why this started to fail? which OS you are running on?

[2017-04-11 17:10] #16779 closed

[2017-04-11 17:12] davidsh commented on #18192
Tried repro'ing this on Windows 7 machine running inner and outer loop tests:

Can't repro.  All tests run fine.

[2017-04-11 17:14] davidsh commented on #18192
I just realized these tests are HttpLIstener tests and not System.Net.Requests tests.

Need to try repro with System.Net.HttpListener library.

[2017-04-11 17:18] ViktorHofer commented on #18208
Hey Tarek. Right in the middle of diagnosing possibles causes. Windows 10 1703 - 16170. Aaah yeah this is the new build which just came out a few days ago. I will check back later today after I reverted to the 1703 stable.

[2017-04-11 17:20] davidsh commented on #18192
System.Net.HttpListener tests are broken and also hanging in both inner and outer loops.

Recent PRs in HttpListener seem to have broken this.

@hughbe @Priya91 @stephentoub Are we making sure that outerloop tests are being run before submit changes to networking code? I think these issues would have been caught before the PRs were merged.

cc; @stephentoub @hughbe @karelz

[2017-04-11 17:23] tarekgh commented on #18208
do you know with which culture this is failing?

[2017-04-11 17:29] stephentoub commented on #18192
Probably not.  If https://github.com/dotnet/corefx/pull/17999 broke it, we should revert it.

[2017-04-11 17:30] geoffkizer commented on #14614
Silently ignoring this seems like a recipe for angry customers when they realize we aren't behaving as they (quite reasonably) expect us to.

[2017-04-11 17:34] geoffkizer commented on #17299
I think that's correct.

[2017-04-11 17:35] ViktorHofer commented on #18208
Yeah the test is using en-US

Sent from my Windows 10 phone

From: Tarek Mahmoud Sayed<mailto:notifications@github.com>
Sent: Tuesday, April 11, 2017 7:24 PM
To: dotnet/corefx<mailto:corefx@noreply.github.com>
Cc: Viktor Hofer<mailto:Viktor.Hofer@microsoft.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [dotnet/corefx] Test failures: System.Globalization.Tests.NumberFormatInfoPercent

[2017-04-11 17:47] tarekgh commented on #3968
We already cleaned up the tests in the commit https://github.com/dotnet/corefx/commit/0672efd9aac88231d83dbd323cd5ceb5ad62b654 and nothing should be failing now.

[2017-04-11 17:47] #3968 closed

[2017-04-11 17:50] krwq commented on #3850
Hi @Vertygo, what's the status? Are you still working on it?

[2017-04-11 17:53] davidsh commented on #18192
I'm not 100% sure it was that PR that broke it. But I cleaned and re-synced my dev machine and run these tests and they are broken now.

It would be good for someone else to verify my findings.  Can you try out these tests both inner and/or outer loop?  If you see same failures, then we need to fix this soon because it will block all PRs in CI.

[2017-04-11 17:57] joperezr opened #18210 "SingleProcess_EnableRaisingEvents_CorrectExitCode test hangs on uapaot test run"
The test was disabled but it was hanging on uapaot runs. I didn't do any further investigation.

cc: @Priya91

[2017-04-11 17:59] stephentoub commented on #6007
I spent a day on this and found it's going to be more complicated than I'd initially thought.  It's going to need a large overhaul of the code base as well as likely compromising on some of the behavioral details of the type.  In particular, there are assumptions throughout the code that reads using the buffer are always going to be synchronous such that code to synchronous methods like SetLength

[2017-04-11 18:12] schen381 commented on #10040
TLDR: This deadlock problem has been solved

## First, the higher level representation of the problem:

Thread A:
lock (_state.Lock)
{
                            if (!Interop.WinHttp.WinHttpReadData(…) {} -> complete read, immediately dispose the CancellationTokenRegistration() object:
state.DisposeCtrReadFromResponseStream(); -> wait for a callback to complete
while (ExecutingCallback == callbac

[2017-04-11 18:12] #10040 closed

[2017-04-11 18:21] #10880 closed

[2017-04-11 18:21] #14625 closed

[2017-04-11 18:23] steveharter opened #18211 "Compile warning: Duplicate resource name "net_PropertyNotSupportedException" is not allowed"
Occurred during test runs of https://github.com/dotnet/corefx/pull/18170 for portablelinux_debug

@davidsh - duplicate resource added 4/10/2017 in https://github.com/dotnet/corefx/commit/bbe86c8f0e113d70d0d97936cc254889afbbe149#diff-bac3839a816a936d5db4ecb32728de17

[code]

[2017-04-11 18:24] JaedsonBarbosa commented on #4278
So I will wait because I can't build the corefx-master with Visual Studio 2017 😞

[2017-04-11 18:25] joperezr opened #18212 "TestProcessOnRemoteMachineWindows crashes on uapaot test runs"
Test was crashing by throwing an AV when trying to call `Process.GetProcessById(currentProcess.Id, "127.0.0.1")`. I didn't to more deep investigation on it, but I disabled it for now for uapaot runs.

cc: @Priya91

[2017-04-11 18:26] karelz commented on #10040
@schen381 I am the TL;DR crowd: So how was it solved?
Did PRs in the meantime (the 2 you referenced?) fix the problem?

[2017-04-11 18:27] davidsh commented on #18211
#18163 introduced this presumably.  But it was merged after going clean thru CI.

Do compile warnings block CI?

cc: @stephentoub

[2017-04-11 18:35] schen381 commented on #10040
@karelz Yes, this PR: https://github.com/dotnet/corefx/pull/13631 solves the problem. This is the specific commit https://github.com/dotnet/corefx/pull/13631/commits/48214d726de9e1a150fe5b041832c41655b69815 that helps.

[2017-04-11 18:38] karelz commented on #10040
@schen381 thanks! That's the information I was looking for -- which change fixed it as a side-effect :).

[2017-04-11 18:39] karelz commented on #10040
cc @stephentoub

[2017-04-11 18:54] WinCPP commented on #17118
@shiftylogic. Thanks for the feedback. Should I fix it in this issue or we want to create separate issue?

[2017-04-11 19:03] terrajobst commented on #17892
Review feedback:

* It would be nice if constructor arguments correspond to public properties
* It would be nice if the methods constructing the result of the cert request would share a common prefix
* Change `CreateCopyWithPrivateKey` to `CopyWithPrivateKey` or `CreateWithPrivateKey`. `CreateCopy` is a tautology.
* Change `SubjectAltNameBuilder` to `SubjectAlternativeNameBuilder`. We don't do abb

[2017-04-11 19:13] jmezach commented on #17131
Not entirely sure if this is related, but I'm having problems running msbuild within a particular assembly's src or test folder due to it being unable to find the OverrideToolHost property on the Csc MSBuild task. This is on OSX.

[2017-04-11 19:37] polarapfel opened #18217 "Question: how does targeting netstandard versus netcoreapp work?"
Hi,

I'm not sure I'm asking in the right place.

I have a question regarding targeting. I created new console app using `dotnet new console`.

Now, the project file looks like this:

[code]

Can I target `netstandard1.6` instead? Will it still run?

Changing the project file to:

[code]
This builds using `dotnet build`. It doesn't run however.

[code]

Is targeting .NET Standard only for librarie

[2017-04-11 20:08] #18211 closed

[2017-04-11 20:13] davidsh commented on #18217
This might be helpful as it talks about NETStandard:
https://github.com/dotnet/standard/blob/master/docs/faq.md

cc; @ericstj

[2017-04-11 20:25] tarekgh commented on #18208
@ViktorHofer will you fix this one or you want me help with it?

[2017-04-11 20:28] vitek-karas opened #18219 "HttpContent.LimitArrayPoolWriteStream.Write causes a Grow on every call"
The code in the Write is:
EnsureCapacity(_buffer.Length + count);

The _buffer.Length is the size of the buffer, not the number of bytes written to it. So with this we're always asking for more than the buffer has room for, and thus we will call Grow. Grow is exponential (doubles the size of the buffer), so enough small writes into the stream will cause the Grow to ask for huge buffer and eventual

[2017-04-11 20:28] joperezr opened #18220 "Disabled some System.Console tests from uapaot run since they were hanging"
In order to unblock the uapaot test run, we needed to disable a few tests from running in that framework since they were hanging. We should next figure out if it even makes sense for those tests to run given the differences in Console between netcoreapp and uapaot, and if so, then figure out why are they hanging.
Tests are:
 - All SyncTextReader tests
 - Some ConsoleEncoding tests

cc: @danmosemsf

[2017-04-11 20:29] vitek-karas commented on #18219
@davidsh
@CIPop

[2017-04-11 20:30] vitek-karas commented on #18219
This breaks several applications in ProjectN.

[2017-04-11 20:31] davidsh commented on #18219
cc: @stephentoub

[2017-04-11 20:36] ViktorHofer commented on #18208
We just talked about that offline. Thanks @tarekgh for contacting the corresponding Team! Here are the news:

These 4 locales were changed in the recent Windows 10 Insider fast ring build (16170) which caused the two tests to fail as the percentage pattern change from 0 "N %" to 1 "N%":
• en-US
• es-MX
• nl-NL
• en-CA

We depend on the underlying OS implementation, therefore this issue hasn't yet

[2017-04-11 20:36] davidsh commented on #18219
Can you explain in more detail about how this breaks several applications?  This code is also used for non-UWP stuff...so why aren't we seeing problems there?  What is different about this code in UWP that causes problems?

[2017-04-11 20:40] tarekgh commented on #18208
I would suggest not testing these values at all on Windows. we already covering the parity testing with the OS in the test https://github.com/dotnet/corefx/blob/master/src/System.Globalization/tests/CultureInfo/CultureInfoAll.cs

really I am trying to avoid the hard coded values which keep changing and keep breaking the tests for no reason.

[2017-04-11 20:41] OmarTawfik commented on #17741
cc @marek-safar the above PRs went in.

[2017-04-11 20:42] Priya91 commented on #18192
This is happening due to code [here](https://github.com/dotnet/corefx/blob/master/src/System.Net.HttpListener/tests/HttpRequestStreamTests.cs#L28). Will submit fix.

[2017-04-11 20:43] vitek-karas commented on #18219
I honestly don't know. I ran it under the debugger and saw the Grow method being called over and over growing the buffer beyond 250MB, then it got OOM. So I looked at the callers and spotted this issue. I don't have an explanation why it doesn't repro elsewhere.

[2017-04-11 20:43] polarapfel commented on #18217
Hi @davidsh,

thanks for the link. I've been through that already, it doesn't help me understand as to my specific question.

I understand how this affects when building a _**library**_ and targeting `netstandard` there. So far so good. A library targeting `netstandard` can be referenced from its assembly across .NET solutions targeting different runtimes as long as all of them support the same AP

[2017-04-11 20:46] ViktorHofer commented on #18208
I agree and for others who are following, here is the article which describes why you shouldn't rely on specific culture data: https://blogs.msdn.microsoft.com/shawnste/2005/04/05/culture-data-shouldnt-be-considered-stable-except-for-invariant/

[2017-04-11 20:47] davidsh commented on #18217
@ericstj and @weshaggard are the experts here...so it would be best for them to help answer your questions.

[2017-04-11 20:56] vitek-karas opened #18225 "Xml_SystemPathResolverCannotOpenUri resource is empty"
XmlSystemPathResolver will throw for Uris which are not from a local file system. The error message it uses is resource Xml_SystemPathResolverCannotOpenUri, but that resource is empty.
It used to look like:
Cannot open '{0}'. The Uri parameter must be a file system relative or absolute path.

[2017-04-11 20:56] vitek-karas commented on #18225
This is causing trouble in ProjectN when we validate the framework with applications.

[2017-04-11 21:01] OmarTawfik commented on #17741
@jkotas my understanding is that after this type already went into coreclr and corert, the **last piece** of work needed is to add a type forward to corefx to forward the type to both of them. This means that I need to wait for official builds to be produced and synced into the corefx repo to do that.
Can you please confirm if my understanding is correct? and if so, what is the timeline for the sy

[2017-04-11 21:01] vsccarl opened #18226 "Could not load 'System.Xml' - NUnit tests not working properly with .NET Core projects"
In a .NET Core C# Console app test explorer isn't discovering/running tests using Nunit Framework.

**Steps**
1. Create a new .NET Core Console App
2. Add code below
3. Add NUnit and NUnit3TestFramework NuGet packages
4. File Menu -> Test -> Run -> Run All

**Actual**
[code]
Sample Code:
[code]

[2017-04-11 21:13] Priya91 commented on #18212
@joperezr Can you also provide information on how to repro the test failure locally for uwp?

[2017-04-11 21:15] lajones commented on #18075
@ViktorHofer I don't have permission to access that link but I looked it up. Basically that member provided access to a private class implementation of `ServiceContainer` which was a wrapper around the `ServiceContainer` contained within the `ServiceProvider` passed in at construction time (assuming you used the constructor that allowed you to pass that in). So basically you could get back a `Serv

[2017-04-11 21:20] ViktorHofer commented on #18075
Yeah the reason why I brought this up is **compatibility**. We tried to reduce breaking changes between core and netfx in as many places as possible where it makes sense.

Thanks for keeping me updated.

[2017-04-11 21:33] lajones commented on #17872
Agreed. `TypeDescriptor` didn't exist at the time this was ported and we did "best efforts". Also we were fine with small incompatibilities back then and that has now changed. Since `TypeDescriptor` now exists it seems like the best solution to go back to the old way of doing it (even if that does mean a slightly less useful exception). Will decide in triage tomorrow.

[2017-04-11 21:33] danmosemsft commented on #18225
Oops, that's easily fixed. Looks like it's a new resource in Core. @sepidehMS could you please unblock @vitek-karas

[2017-04-11 21:39] joperezr commented on #18212
Sure, I'm in the process of writting a OneNote with the instructions.

[2017-04-11 21:40] lajones commented on #17873
I agree with #17872, but this one worries me a bit more. We had very long discussions around the deliberate change to allow what were previously invalid phone numbers to appear as valid according to this attribute (along with similar discussions for `EmailAddressAttribute` and `UrlAttribute`). Partly this was motivated by the security issue (which, of course, we must still address) but partly it w

[2017-04-11 21:42] marek-safar commented on #17741
@OmarTawfik thanks for head up, updating our part

[2017-04-11 21:53] lajones commented on #2093
I would imagine this covers #18075 as well.

[2017-04-11 21:53] JonHanna commented on #7527
The loop is straight-forward enough. In the last of the examples produced, for example, it trys to substitute the types in `Third<T>` to get `Third<int>` then work out the base when is a type of `Second<T>` typed with `Third<T>` which has a base of `Second<T>` typed with `Third<T>` which has a base…

Breaking the loop does not seem to be easy though.

[2017-04-11 21:54] lajones commented on #16101
I would imagine this covers #18075 as well.

[2017-04-11 21:54] ViktorHofer commented on #18226
AFAIK nunit does not have official support for netcore/netstandard based libraries yet. More about that here: https://github.com/nunit/dotnet-test-nunit/issues/91#issuecomment-287621571

[2017-04-11 21:56] jkotas commented on #17741
Yes.

There are build infrastructure issues currently so the bits are not propagating as fast as they should - give it a few days. In the meantime, you can make the corefx change; verify it against your private CoreCLR build (https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md) and submit the corefx PR that folks can review; but the CI may be failing on it un

[2017-04-11 22:02] ViktorHofer commented on #18217
When you compile a .NET Standard library it will build against netstandard.dll which is only a reference assembly and does nothing more than TypeForwarding to the actual implementation inside netfx, netcoreapp or mono. Therefore a .NET Standard Library can't be an executable file because the actual implementation is missing.

@terrajobst: Please correct me if I'm wrong.

[2017-04-11 22:16] danmosemsft commented on #18225
@krwq since @sepidehMS is out. I would do it, but I don't know what the string should say.

[2017-04-11 22:20] danmosemsft commented on #18217
Is the exe part the confusion? See https://github.com/dotnet/cli/issues/6237

[2017-04-11 22:27] #16613 closed

[2017-04-11 22:28] safern commented on #18201
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/15/testReport/System.ComponentModel.Tests/MemberDescriptorTests/CopiedMemberDescriptorEqualsItsSource/

In the latest build this shows as fixed -- this was fixed on PR: https://github.com/dotnet/corefx/pull/18010

Release run:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_release/l

[2017-04-11 22:32] ViktorHofer commented on #17071
Hey there. Currently you cannot consume a netcoreapp library from UAP. Creating a .NET Standard >= 1.4 library which you can reference from UAP is possible. See version table here: https://docs.microsoft.com/en-us/dotnet/articles/standard/library

To build against the UniversalApiContract you need to create a UAP library (e.g. template inside Visual Studio) and set the minimum and default Windows

[2017-04-11 22:34] #18192 closed

[2017-04-11 22:37] ViktorHofer commented on #15810
cc: @danmosemsft @weshaggard

[2017-04-11 22:41] jkotas commented on #15810
You should just delete this check. We are not proactively maintaining bug-for-bug compatibility with desktop.

[2017-04-11 22:44] danmosemsft commented on #15810
Looks like the whole BinaryCompatibility can go then.

[2017-04-11 22:48] krwq commented on #3850
@Vertygo it's ok if you haven't started yet, I'm just wondering if I can pick this up since it is the last System.Globalization 2.0.0 bug 😉

[2017-04-11 22:50] ViktorHofer commented on #12565
@Jiayili1 the link you provided does not work.

[2017-04-11 22:52] danmosemsft commented on #18196
actually double slash
[code]

[2017-04-11 22:52] alexperovich commented on #12565
The new link would be here: https://github.com/dotnet/corefx/blob/master/src/System.Resources.ResourceManager/tests/ResourceManagerTests.cs#L86

[2017-04-11 22:55] danmosemsft commented on #18219
Should be in 2.0 maybe?

[2017-04-11 22:56] ViktorHofer commented on #12565
Thanks Alex. Is the msbuild issue you mention also relevant for the sources or only for the tests above? So does it need to be fixed till 2.0 milestone?

[2017-04-11 22:57] shravan2x opened #18237 "HttpWebRequest on corefx significantly slower than that of the .NET Framework"
As per the title, the current HttpWebRequest is implemented as a wrapper around HttpClient. This change is problematic for many reasons, mainly that HttpClient forces the user to reuse the same configuration across requests via `HttpClientHandler` and `HttpClient`. This would be quite alright for a REST focused library such as RestSharp, but (atleast in my opinion) is an outright _bad_ idea for th

[2017-04-11 23:20] #18208 closed

[2017-04-11 23:25] CIPop commented on #13871
I'm still seeing these: I get WinDBG invoked twice every-time I run build-tests.

Please contact if more details are needed:
[code]

[code]

[2017-04-11 23:27] alexperovich commented on #12565
Any resx that has resources in it that aren't strings will work incorrectly when build with .net core msbuild. It only shows up in these tests because these tests are intended to test that scenario.

[2017-04-11 23:45] shiftylogic opened #18242 "Block size calculation in SpanHelpers.CopyTo incorrect."
@WinCPP Thanks for finding this.

[2017-04-11 23:47] shiftylogic commented on #17118
I opened Issue #18242 just for tracking purposes.

You can submit a fix separate or with this issue if you want.

[2017-04-11 23:56] stephentoub commented on #18219
I'll fix it.

[2017-04-11 23:59] schen381 commented on #8414
In SslStream’s MSDN (https://msdn.microsoft.com/en-us/library/system.net.security.sslstream(v=vs.110).aspx)

So retry authentication is not possible for SSLStream, this is the first thing we need to notice.

Second, I have tested the behavior on .Net Desktop when authentication fails. It throws AuthenticationException, same as .Net Core does.

Therefore we need to fix the MSDN instead of the code.

[2017-04-12 00:00] shravan2x commented on #18237
On another note, is this a valid HTTP header?

[code]

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Keep-Alive suggests that this should never be a true or false value. Shouldn't we be setting `Connection: keep-alive` instead?

[2017-04-12 00:00] geleems opened #18244 "DAC connection fails sometimes, possibly due to unreleased resource after connection closed."
DAC (Dedicated Admin Connection) allows only 1 connection, and it will throw exception when there is another connection attempted to be established when currently connection is not closed and released.
In Managed SNI, sometimes and not always, when a DAC connection opened and then closed, and another DAC connection try to be made, it fails. It seems some resource is not released right away after c

[2017-04-12 00:03] #18225 closed

[2017-04-12 00:08] ericstj opened #18245 "Build -targetGroup:netfx builds native"
We don't need to build native in this case.

[2017-04-12 00:15] ViktorHofer commented on #15045
These are the types that are referenced by System.Data.Common:

[code]

[2017-04-12 00:39] karelz commented on #8414
@schen381 which docs do we have to update? Can you please suggest new wording, then we should pass it to docs team.
Thanks!

[2017-04-12 00:42] #15810 closed

[2017-04-12 00:44] benaadams opened #18247 "Win10 WSL at Linux target platform for tests?"
Is it worth adding [Windows 10 Subsystem for Linux](https://blogs.msdn.microsoft.com/wsl/2017/04/11/testing-the-windows-subsystem-for-linux/) as a test build target?

[2017-04-12 00:50] mellinoe opened #18248 "BigInteger performance tests do not work with xunit.performance"
The tests in this file do not work when run under the current perf test environment.

https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Numerics/tests/BigInteger/PerformanceTests.cs

I am going to disable them until I have time to re-work them with the correct style.

[2017-04-12 00:52] mellinoe opened #18249 "Test cases in XsPerformanceTest do not work"
I get errors like the following when I run the tests in [this file](https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/tests/XmlSerializer/Performance/XsPerformanceTest.cs).

[code]

[2017-04-12 01:03] mellinoe commented on #17538
I checked in another fix for this (#18239). We should be clean now (although I've said that before).

[2017-04-12 01:03] #17538 closed

[2017-04-12 01:04] mellinoe commented on #17260
#18035 fixed this in corefx.

[2017-04-12 01:04] #17260 closed

[2017-04-12 01:04] mellinoe commented on #157
Unfortunately, this isn't going to make it into 2.0. Moving this out for now.

[2017-04-12 01:05] karelz commented on #18247
Practically/tactically for now, we don't have the time :( (we're lacking coverage even on Nano server and arm64), so we left it up to manual verification by WSL team.

Long-term, I am not sure if we truly need WSL as yet another platform in CoreFX. Given that it is development scenario only and that it should be compatible (in theory) with other distros, we would be testing more the WSL implementa

[2017-04-12 01:06] karelz commented on #18226
Closing per comment above. Asking on nunit repo might be best IMO.

[2017-04-12 01:06] #18226 closed

[2017-04-12 01:09] JaedsonBarbosa commented on #4278
@karelz @krwq   I can't build the solution because I give an error, you can see the CMakeError here:
https://1drv.ms/u/s!AjDoJtNk3vvWjKIAYajeMPkWkI-m6Q
Please give me a help 🆘

[2017-04-12 01:37] davidsh commented on #18237
Regarding this issue:

[code]

That is being tracked here: #11873

In terms of changing the architecture for .NET Core HttpWebRequest, that is not going to happen in the short term. It will remain a layer over HttpClient.  The HTTP stack architecture in .NET Core is different than .NET Framework.  We consider HttpWebRequest a "legacy" API surface and it is in .NET Core to help devs port their exis

[2017-04-12 01:39] schen381 commented on #8414
@karelz I will discuss with Cristian offline tomorrow and follow up here. Thanks!

[2017-04-12 01:57] joperezr opened #18253 "Official builds failing the netfx vertical on publish packages step"
cc: @safern @weshaggard @dagood

@safern recently added netfx vertical build to pipebuild. The template used has a step to publish packages, but netfx won't build any packages, which is causing the build to fail. We should either create a new template and use that, or my preferred way would be to make that step on that msbuild call not to fail  (either never fail, or just not fail when TargetGroup

[2017-04-12 01:58] polarapfel commented on #18217
@danmosemsft Thanks for linking that, that was part of the confusion, though not the critical part. Seems like the "--self-contained" option is in 2.0, not 1.1 yet. Thanks!

[2017-04-12 02:04] danmosemsft commented on #7824
https://ci.dot.net/job/dotnet_corefx/job/release_1.0.0/job/windows_nt_release_prtest/232/testReport/junit/System.Net.Sockets.Tests/SendReceive/SendToRecvFromAPM_Single_Datagram_UDP_IPv4/

[code]

[2017-04-12 02:07] Eilon commented on #17873
This change was definitely by design because of concerns with the rather high degree of complexity of the regexes that were used, compared to the rather low value that they provide.

Given that that change shipped some time ago, changing it again would of course be another breaking change and/or interop challenge.

I personally much prefer the new behavior because it seems a lot closer to what a p

[2017-04-12 02:11] danmosemsft commented on #18247
We'd likely take patches though. Last I heard the WSL team indicated that many of the tests we disabled for WSL no longer need disabling. It would be interesting if someone wanted to remove all those attributes and re-run to see which if any still need them.

[2017-04-12 02:13] danmosemsft commented on #17118
Nice one @WinCPP

[2017-04-12 02:37] polarapfel commented on #18217
@ViktorHofer If that's the case, mono shouldn't be able to execute the project after compiling it against netstandard1.6 instead of netcoreapp1.1, right? That works however.

My underlying misconception evolves around:

What's the best way to build an executable binary that is runtime agnostic? My thought was: targeting netstandard with the assumption that any runtime/framework configuration compl

[2017-04-12 02:58] dotnet-mc-bot opened #18255 "Test: XmlSerializerTests/Xml_NullRefInXmlSerializerCtorTest failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `XmlSerializerTests/Xml_NullRefInXmlSerializerCtorTest` has failed.

XML comparison is also failing
    Test failed for input: PurchaseOrder
    Expected: <?xml version=\"1.0\"?>
    <PurchaseOrder xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.contoso1.com\">
      <ShipTo Name=\"Joh

[2017-04-12 03:16] danmosemsft commented on #18125
Failed again on OSX
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release_prtest/1579/consoleFull#76959989679fe3b83-f408-404c-b9e7-9207d232e5fc

[2017-04-12 03:26] marksmeltzer commented on #17316
@brianrob is this still being looked into? Or should I close it out?

My solution will be going up on github next week (knock on wood). So those assets could be leveraged for direct review if needed.

[2017-04-12 04:08] ericstj commented on #15112
For other .NET runtimes we already have loader policy and build infrastructure that determines which assemblies to load, and all of them already follow the "prefer inbox" semantics given equal versions.

[2017-04-12 05:00] gregg-miskelly opened #18257 "Suggestion: NamedPipe classes should support interop with other languages on Unix"
Currently, as far as I can tell at least, there is no good way to interop with a node.js/C++/etc with the .NET Core pipe code on non-Windows platforms. The problem is that on Unix you would like to get the full path to the underlying domain socket and somehow be able to open an arbitrary domain socket. But .NET Core doesn't have any APIs for this.

In node.js, for example, `net.createServer` ([exa

[2017-04-12 05:18] imkheong commented on #16994
@karelz What I did was clean, rebuild and 'publish to  AWS Lambda' using Visual Studio. The same code that was giving this error appears working correctly.

I second @weshaggard observation on the missing RID folders. Before the issue, the same code works before some time February 12th. The packaged file includes a runtime folder that contains the other runtimes assemblies. I believe these are RID

[2017-04-12 05:49] hughbe commented on #18220
How do I run tests for UWP? I caused these test failures so would like to avoid them in the future!

[2017-04-12 06:12] dotnet-mc-bot opened #18260 "Test: System.Net.Security.Tests.SslStreamStreamToStreamTest_BeginEnd/SslStream_StreamToStream_LargeWrites_Sync_Success failed with "System.TimeoutException""
Opened on behalf of @Jiayili1

The test `System.Net.Security.Tests.SslStreamStreamToStreamTest_BeginEnd/SslStream_StreamToStream_LargeWrites_Sync_Success(randomizedData: False)` has failed.

System.TimeoutException : VirtualNetwork: Timeout reading the next frame.

        Stack Trace:

           at System.Net.Test.Common.VirtualNetwork.ReadFrame(Boolean server, Byte[]& buffer)
       at System.N

[2017-04-12 06:15] parjong opened #18261 "Cannot build Core FX (resolve failure)"
Core FX build failed with the following error message:
[code]

It seems that ``packages/microsoft.build/0.1.0-preview-00022/`` is restored:
[code]

[2017-04-12 07:22] AndreiFuse commented on #18207
* .Net Core version `1.0.1`
* Curl `7.47.0`
* No reason, just assumed that's the same thing.
* Didn't know that, I'll refactor this part accordingly once we pass this problem.

[2017-04-12 07:30] Jiayili1 opened #18262 "Tests under "System.Diagnostics.Tests.ProcessStartInfoTests" failed"
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170412.01/workItem/System.Diagnostics.Process.Tests/wilogs

Result:
[code]

[2017-04-12 07:32] Jiayili1 commented on #17933
This issue is repro on Full Framework test, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170412.01/workItem/System.Diagnostics.Tracing.Tests/analysis/xunit/BasicEventSourceTests.TestsManifestNegative~2FTest_GenerateManifest_InvalidEventSources

[2017-04-12 07:40] dotnet-mc-bot opened #18263 "Test: System.IO.Compression.Tests.BeginEndDeflateStreamTests/OverlappingFlushAsync_DuringReadAsync failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.IO.Compression.Tests.BeginEndDeflateStreamTests/OverlappingFlushAsync_DuringReadAsync` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.IO.Compression.Tests.CompressionStreamAsyncTestBase.<OverlappingFlushAsync_DuringReadAsync>d__11.MoveNext() in E:\A\_work\60\s\corefx\src\Syste

[2017-04-12 07:41] Jiayili1 commented on #18263
Closed Issue: https://github.com/dotnet/corefx/issues/10890

[2017-04-12 07:42] dotnet-mc-bot opened #18264 "Test: System.IO.Compression.Tests.zip_ManualAndCompatabilityTests/ZipWithInvalidFileNames_ParsedBasedOnSourceOS failed with "System.ArgumentException""
Opened on behalf of @Jiayili1

The test `System.IO.Compression.Tests.zip_ManualAndCompatabilityTests/ZipWithInvalidFileNames_ParsedBasedOnSourceOS(zipName: \"NullCharFileName_FromUnix.zip\", fileName: \"a\\06b6d\")` has failed.

System.ArgumentException : Illegal characters in path.

        Stack Trace:

           at System.IO.Path.CheckInvalidPathChars(String path, Boolean checkAdditional)

[2017-04-12 07:46] dotnet-mc-bot opened #18265 "Tests under: System.IO.IsolatedStorage.ContainsUnknownFilesTests failed with "System.TypeInitializationException""
Opened on behalf of @Jiayili1

The test `System.IO.IsolatedStorage.ContainsUnknownFilesTests/ContainsUnknownFiles_CleanStore(scope: MachineStoreForApplication)` has failed.

System.TypeInitializationException : The type initializer for 'System.IO.IsolatedStorage.TestHelper' threw an exception.\r
    ---- System.IO.IsolatedStorage.IsolatedStorageException : Initialization failed.

        Stack Tra

[2017-04-12 07:49] dotnet-mc-bot opened #18266 "Test: System.IO.IsolatedStorage.CopyFileTests/CopyFile_ThrowsIsolatedStorageException failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.IO.IsolatedStorage.CopyFileTests/CopyFile_ThrowsIsolatedStorageException` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.IO.IsolatedStorage.IsolatedStorageException)\r
    Actual:   typeof(System.InvalidOperationException): Store must be open for this operation.

        Stack Trace:

           at System.IO.IsolatedStorage.Isolat

[2017-04-12 07:54] dotnet-mc-bot opened #18268 "Test: System.IO.IsolatedStorage.CreateDirectoryTests/CreateDirectory_Existance failed with "System.IO.IsolatedStorage.IsolatedStorageException""
Opened on behalf of @Jiayili1

The test `System.IO.IsolatedStorage.CreateDirectoryTests/CreateDirectory_Existance(scope: MachineStoreForApplication)` has failed.

System.IO.IsolatedStorage.IsolatedStorageException : Unable to determine application identity of the caller.

        Stack Trace:

           at System.IO.IsolatedStorage.IsolatedStorage.InitStore(IsolatedStorageScope scope, Type appEvi

[2017-04-12 07:57] Jiayili1 commented on #18268
Failed tests:
System.IO.IsolatedStorage.CreateFileTests.CreateFile_Existence
System.IO.IsolatedStorage.CreateDirectoryTests.CreateDirectory_Existance

[2017-04-12 08:05] dotnet-mc-bot opened #18269 "Test: System.IO.IsolatedStorage.GetStoreTests/GetEnumerator_NoOp failed with "System.ArgumentException""
Opened on behalf of @Jiayili1

The test `System.IO.IsolatedStorage.GetStoreTests/GetEnumerator_NoOp` has failed.

System.ArgumentException : Invalid scope, expected User, User|Roaming or Machine.

        Stack Trace:

           at System.IO.IsolatedStorage.IsolatedStorageFile.VerifyGlobalScope(IsolatedStorageScope scope)
       at System.IO.IsolatedStorage.IsolatedStorageFile.GetEnumerator(Isola

[2017-04-12 08:42] Jiayili1 opened #18270 "Desktop: System.Security.Cryptography.Encryption.Aes.Tests.AesCipherTests.VerifyKnownTransform_CBC192_NoPadding Failed with "System.ArgumentException""
Failed test: System.Security.Cryptography.Encryption.Aes.Tests.AesCipherTests.VerifyKnownTransform_CBC192_NoPadding

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/15/testReport/System.Security.Cryptography.Encryption.Aes.Tests/AesCipherTests/VerifyKnownTransform_CBC192_NoPadding/

MESSAGE:
System.ArgumentException : The specified key is not a valid si

[2017-04-12 08:45] Jiayili1 opened #18271 "Desktop: System.Security.Cryptography.Encryption.Aes.Tests.AesCipherTests.WrongKeyFailDecrypt_2 failed with "System.Security.Cryptography.CryptographicException""
Failed test: System.Security.Cryptography.Encryption.Aes.Tests.AesCipherTests.WrongKeyFailDecrypt_2

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/15/testReport/System.Security.Cryptography.Encryption.Aes.Tests/AesCipherTests/WrongKeyFailDecrypt_2/

MESSAGE:
System.Security.Cryptography.CryptographicException : The specified key is not a valid size fo

[2017-04-12 08:56] Jiayili1 opened #18272 "Desktop: System.Net.Sockets.Tests.TcpClientTest.Dispose_CancelsConnectAsync failed with "System.NullReferenceException""
Failed test: System.Net.Sockets.Tests.TcpClientTest.Dispose_CancelsConnectAsync

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/15/testReport/System.Net.Sockets.Tests/TcpClientTest/Dispose_CancelsConnectAsync_connectByName__False_/

**MESSAGE:**
System.NullReferenceException : Object reference not set to an instance of an object.
+++++++++++++++++++

*

[2017-04-12 09:04] Jiayili1 opened #18273 "Desktop: XmlDictionaryWriterTest.FragmentTest failed"
Failed test: XmlDictionaryWriterTest.FragmentTest

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/15/testReport/(root)/XmlDictionaryWriterTest/FragmentTest/

MESSAGE:
Assert.False() Failure\r\nExpected: False\r\nActual: True
+++++++++++++++++++
STACK TRACE:
at XmlDictionaryWriterTest.FragmentTest() in D:\j\workspace\outerloop_net---903ddde6\src\System.

[2017-04-12 09:06] Jiayili1 opened #18274 "Desktop: XmlDictionaryWriterTest.CreateMtomReaderWriter_Throw_PNSE failed with "Xunit.Sdk.ThrowsException""
Failed test: XmlDictionaryWriterTest.CreateMtomReaderWriter_Throw_PNSE

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/15/testReport/(root)/XmlDictionaryWriterTest/CreateMtomReaderWriter_Throw_PNSE/

MESSAGE:
Assert.Throws() Failure\r\nExpected: typeof(System.PlatformNotSupportedException)\r\nActual: (No exception was thrown)
+++++++++++++++++++
STACK

[2017-04-12 12:09] stephentoub commented on #18272
Is the `test-run-core` label a mistake?  I'm confused by it in conjunction with "Desktop" in the issue title and netfx in the link.

[2017-04-12 12:12] stephentoub commented on #16762
@lgreenlee, I've not received anything from you.  Maybe it went to my junk mail and I accidentally deleted it?

[2017-04-12 12:13] #12070 closed

[2017-04-12 12:17] stephentoub commented on #17575
Should this issue be moved to coreclr?

[2017-04-12 12:24] richardhallett commented on #157
Just to share my interest in this topic, it is a shame it's moving to 2.1, I'm also one of these people who has written a .net maths library written using by ref, for performance reasons.

However I also not sure where to bring this up but the issue of performance as well as the API Design is important on this issue but the topic crops up in numerous issues across the CLR and CoreFX.
How we go abo

[2017-04-12 12:24] stephentoub commented on #16259
@pelhu, I suspect this is the same as https://github.com/dotnet/corefx/issues/9006.  I don't have access to the link in your repro (I get a 404), but do you know if the server starts sending back a response before it fully receives the request?  I'm guessing it does.

[2017-04-12 12:34] stephentoub commented on #17391
This issue was moved to aspnet/EntityFramework#8138

[2017-04-12 12:34] #17391 closed

[2017-04-12 12:40] jkotas commented on #17575
This is .NET Framework bug. It should be moved to internal TFS where .NET Framework bugs are tracked.

[2017-04-12 12:44] stephentoub commented on #14077
@bartdesmet, it looks like this has been addressed for 2.0.  Can you confirm?

[2017-04-12 12:54] stephentoub commented on #16287
@danmosemsft, @VSadov, seems like this should come back for .NET Core 2.0?

[2017-04-12 12:56] stephentoub commented on #16184
Since this was an intentional removal, I believe the issue can be closed.  Please re-open if that's not the case.

[2017-04-12 12:56] #16184 closed

[2017-04-12 12:57] phhbr opened #18276 "ADO.NET SqlClient DbConnectionOptions: Column Encryption Setting as Parameter"
When using a DbContext with a ConnectionString like

[code]

I get the following error
StackTrace
[code]

The issue is about adding support for the Column Encryption Setting to the .NET Core ADO.NET SqlClient.

[2017-04-12 13:01] stephentoub commented on #15682
Can this be closed?  Or is all of the schema importer stuff going to come back?

[2017-04-12 13:05] JaedsonBarbosa commented on #16002
Hi, the build isn't working here :(

[2017-04-12 13:09] bartonjs commented on #18079
This is about access control, and AFAIK we're still leaving those out.

[2017-04-12 13:12] stephentoub commented on #18207
Have you tried a more recent version?

Can you share the full output of `curl --version`?  In particular I'm interested in seeing what SSL backend is being used.

It's not: `.Result` will block synchronously, whereas `await` will result in the remainder of the method being hooked up as an asynchronous continuation.  This could be important as the blocking could potentially cause a deadlock, and si

[2017-04-12 13:15] bartonjs commented on #18009
I don't see any failures starting with 20170407.02: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170407.02; so we can probably close this, @janvorli.

[2017-04-12 13:16] #18009 closed

[2017-04-12 13:26] ViktorHofer commented on #18217
Mono can execute a library which targets and builds against netstandard1.6? That's seems weird to me. A .NET Standard Library doesn't have any application entry point (Program.Main) so what would it execute? I'm really curious about that.

**Framework-dependent deployment (FDD)**. _You do not have to define the target operating systems that your .NET Core app will run on in advance. Because .NET C

[2017-04-12 13:26] stephentoub commented on #17690
I just tried and believe I got this working using basically the described approach.  I'll clean it up and submit a PR.  22 of 947 tests in System.Net.Sockets.Tests are failing after the change.

[2017-04-12 14:02] madelson opened #18277 "TransactionScope leaks isolation level"
The TransactionScope class seems to "leak" it's isolation level to future queries on the same (pooled) connection.

I would expect the isolation level of the connection to be restored when the transaction ends or is disposed.

Here is a snippet which reproduces the behavior:

[code]

[2017-04-12 14:33] stephentoub opened #18279 "Three System.Reflection.Tests.AssemblyTests tests failed with file sharing error"
[code]

[2017-04-12 15:15] ViktorHofer commented on #18196
The problem happens because
`string exePath = AppDomain.CurrentDomain.BaseDirectory;`
does not contain a slash at the end.

[2017-04-12 15:18] #18219 closed

[2017-04-12 15:40] stephentoub commented on #7824
@danmosemsft, you reopened the issue, but the link you shared is from the 1.0 branch.  Is that intentional?

[2017-04-12 15:42] danmosemsft commented on #7824
No.

[2017-04-12 15:42] #7824 closed

[2017-04-12 15:44] JaedsonBarbosa commented on #4278
Anybody now what can I do to make it build?

[2017-04-12 15:49] AtsushiKan commented on #18279
@rahku - since you made the change to the test. Copying files to fixed-location tempfiles is probably not copacetic with CI.

[2017-04-12 15:50] danmosemsft commented on #16287
In general @ViktorHofer and I did not chase up missing members where they were specifically excluded from a type as part of defining .NET Standard, based on the assumption that bringing them back even for Core would cause a library in .NET Standard to take a reference outside of .NET Standard. However as I now understand, this was too strict as there's no reason why .NET Core can't have such a ref

[2017-04-12 15:51] gkhanna79 commented on #12565
@tarekgh @danmosemsft  Is this expected to work .NET Core 2.0?

[2017-04-12 15:53] danmosemsft commented on #12565
I don't think so, there's been no movement on https://github.com/Microsoft/msbuild/issues/1352 and we've not asked for it.

[2017-04-12 15:56] tarekgh commented on #12565
just wondering, looks this working for Windows build. is it right? would be strange to have this working for Windows and not for Linux.

[2017-04-12 15:57] ViktorHofer commented on #12565
Do we have resources which aren't pure strings? If yes then this is a *must* for 2.0

[2017-04-12 15:58] tarekgh commented on #12565
The framework doesn't have non string resources (so far) but the app can have that.

[2017-04-12 16:03] gkhanna79 commented on #12565
I am not aware of .NET Core apps having non-string resources embedded in them - @tarekgh how would they get it?

[2017-04-12 16:34] tarekgh commented on #12565
There are 2 scenarios here: the first is you can embed any file inside your assembly resources using EmbeddedResource msbuild element and you can read this embedded file at runtime using Assembly.GetManifestResourceStream. this scenario should be already supported today on Windows and Linux because we already using this in some of our assemblies.

The second scenario is the app creates resx files

[2017-04-12 16:35] dasjestyr commented on #1624
wut?

Have you even looked at HttpMessageHandler? lol. It's an abstract class that is *literally* a *single* method that takes an HttpRequestMessage and returns a HttpResponseMessage. To fake it, just implement it. The message that goes in is the one that you sent HttpClient, and the response that comes out is up to you. For example, if I want to know that my code is dealing with a json body corre

[2017-04-12 16:35] danmosemsft commented on #12565
If this is important to customers we should make that case to MSBuild -- so far as I know there is no work on CoreFX right?

[2017-04-12 16:37] joperezr commented on #18220
Hey @hughbe, unfortunately it is not currently possible for contributors to run UAP or UAPAOT tests given that it requires access to some internal tools. That is also the reason why we don't run these tests on CI, and they can only run in our official builds.

Do you mean you know why the tests are hanging?

[2017-04-12 16:40] ViktorHofer commented on #12565
Exactly, the issue which already exists in coreclr (https://github.com/Microsoft/msbuild/issues/1352) should be prioritized. Nothing to do here...

[2017-04-12 16:41] bartonjs commented on #14284
This ended up being needed anyways for a different 2.0 feature, but it won't allow mutation, still.

[code]

Part of #17892

[2017-04-12 16:43] krwq commented on #4278
@JaedsonBarbosa how do you build? Regular process for me is:
1. Open cmd.exe
2. `pushd corefx\repo\path`
3. `git pull`
4. `git clean -fdx` - this will clean your repository of any leftover files (be careful if you're not sure what it does)
5. `build` or `./build.sh` if you are on non-windows

[2017-04-12 16:44] sepidehMS commented on #18255
@shmao Could you please take a look?

[2017-04-12 16:44] LuizAdolphs commented on #18159
I think this proposal is a real "nice-to-have", In the past years C# brought to us some really nice FP features (eg. whole LINQ,) which is a differential against other languages. C# is walking to a multi-paradigm approach (as stated in Developer on Fire ep. 224 with Mads Torgensen [http://developeronfire.com/podcast/episode-224-mads-torgersen-speaking-my-language]) and I guess those suggestions ar

[2017-04-12 16:44] tarekgh commented on #12565
If msbuild didn't fix this for v2.0, should we make the APIs using non string resource to throw on all platforms? so we can have consistent story?

[2017-04-12 16:48] danmosemsft commented on #12565
My take -- that's probably not the pattern we wish to follow (we would prefer to bring all functionality together, but for many folks Unix is not on the radar and this is valuable to them)

Do we have data on the need (eg., specific asks) that we could use to support our ask on MSBuild?

[2017-04-12 16:48] karelz commented on #4278
@Jaedson33 you can also check & help us improve our [new-contributor docs](https://github.com/dotnet/corefx/wiki/New-contributor-Docs) (linked from CoreFX main page)

[2017-04-12 16:56] karelz commented on #16994
OK, so the issue seems to be resolved. I will opportunistically close it.
If I am wrong, or if it still repros, feel free to reopen the issue or file a new one. Thanks!

[2017-04-12 16:56] #16994 closed

[2017-04-12 16:57] karelz commented on #15682
@weshaggard @danmosemsft can you please comment? How did we decide what's in and what's out for Data?

[2017-04-12 17:00] marek-safar commented on #17741
Are we really sure this breaking change is necessary? It basically breaks any existing code which has both `System.ComponentModel' and `System.Runtime.CompilerServices' usings

[2017-04-12 17:01] karelz commented on #17362
cc @steveharter @Priya91

[2017-04-12 17:02] karelz commented on #17668
cc @Priya91 @steveharter

[2017-04-12 17:02] danmosemsft commented on #15682
@zhenlan should comment on why we don't have SchemaImporterExtension.

[2017-04-12 17:04] tarekgh commented on #12565
we have been not supporting non string resources for awhile in UWP and I didn't see any real complain but such apps had the choice to use WinRT model to achieve such scenario.

We still have a way for the app to embed files using EmbeddedResource element. The drawback of this approach is the resources will be neutral resources (cannot be associated with any localized language) and also the apps ca

[2017-04-12 17:04] jaredpar commented on #17741
The compiler needs some method of marking `readonly` in metadata.  For compat purposes we can't use any existing types.

The code would need both usings and an explicit use of that attribute.  That combination seems fairly rare.

[2017-04-12 17:07] JonHanna commented on #17453
We should teach Linq.Expressions about them first, aside from that being a good idea anyway, it would mean that MS.CSharp would then just need to recognise when they're applicable and leave the mechanics of them up to Linq.

[2017-04-12 17:09] karelz commented on #18000
@zenixgrace will you be able to provide us a repro?
Otherwise I fear the problem will not be actionable for us. Thanks!

[2017-04-12 17:10] danmosemsft commented on #16287
Here is a better list -- this is everything (?) it is currently not planned to bring to Core, but exists in Desktop (by some definition). Of course it doesn't describe stuff that isn't implemented, but API is present.

https://github.com/dotnet/corefx/blob/master/src/shims/ApiCompatBaseline.netcoreapp.netfx461.ignore.txt

[2017-04-12 17:10] karelz commented on #18261
cc @mellinoe @weshaggard @ericstj

[2017-04-12 17:12] karelz commented on #18265
@Jiayili1 was it Desktop run?

[2017-04-12 17:17] polarapfel commented on #18217
Hi @ViktorHofer,

Create a new console app: dotnet new console

This template has a single C# file with a main that prints Hello World to the console.

Change the TargetFramework from netcoreapp1.1 to netstandard1.6. Restore packages and build.

The build works without issues.

This binary won't run with dotnet however.

Point mono to the dll and you'll see main executing, outputting Hello World t

[2017-04-12 17:20] karelz commented on #18237
@davidsh given that we do not plan to invest into the compat-only API, should we just close the issue?

cc @geoffkizer

[2017-04-12 17:23] marek-safar commented on #17741
I am not sure how you define rare but I hit that on first compile test I tried in Mono System.dll which has https://github.com/mono/mono/blob/master/mcs/class/System/System.Diagnostics/PerformanceCounter.cs#L34 and https://github.com/mono/mono/blob/master/mcs/class/System/System.Diagnostics/PerformanceCounter.cs#L38 then uses both `MethodImplAttribute` and `ReadOnlyAttribute`

As the newly introdu

[2017-04-12 17:24] stephentoub commented on #17690
@karelz, why did you assign this to me?

[2017-04-12 17:26] jaredpar commented on #17741
I don't have any objections to these names.

[2017-04-12 17:26] davidsh commented on #18237
Yes. Other than addressing #11873 and #15460, there is no other work planned.

[2017-04-12 17:30] karelz commented on #18237
OK, closing then. @shravan2x feel free to reopen if you disagree or if there some evidence you think we missed. Thank you!

[2017-04-12 17:30] #18237 closed

[2017-04-12 17:32] karelz commented on #15682
Clarification for my future self: `System.Data.DataSetSchemaImporterExtension` depends on `System.Xml.Serialization.Advanced.SchemaImporterExtension`

[2017-04-12 17:32] stephentoub commented on #17690
This is being addressed by https://github.com/dotnet/corefx/pull/18246 (and then if that doesn't work for some reason, by https://github.com/dotnet/corefx/pull/18278).

[2017-04-12 17:36] shmao commented on #18255
@sepidehMS Thanks for routing the issue.

@imcarolwang Can you please take a look at the issue and fix the test? The DateTime string in the serialization payload is not as expected, see below,

Expected: `Monday, April 10, 2017`
Actual: `Monday, 10 April 2017`

[This line](https://github.com/dotnet/corefx/pull/18061/files#diff-d4908e9d2e5c90fca542d4d1e1c326e9R4274) seems causing the issue. The tes

[2017-04-12 17:36] krwq commented on #3850
@steveharter this does not repro for me on bash for windows or Ubuntu
Is there some special setup I need for this?

Here is what I did:
[code]

[2017-04-12 17:43] safern commented on #17575
Indeed it is a .NET Framework bug where the VM doesn't follow the typeforwards correctly.

We decided to open it here (github and corefx), so that a decision is made towards if we want to support binary serialization on 2.0 and document this bug or if we want to push that to 2.1 when this bug gets fixed on the next Full Framework release.

[2017-04-12 17:45] stephentoub commented on #5757
We already have one:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/tests/FunctionalTests/LoggingTest.cs#L57

[2017-04-12 17:45] #5757 closed

[2017-04-12 17:46] stephentoub commented on #17575
I don't understand this comment.  Can you elaborate?  What's not supported with .NET Core 2.0 that would need to be documented?

[2017-04-12 17:49] #12223 closed

[2017-04-12 17:49] krwq commented on #3850
I think those tests might not be in the System.Globalization... looking now

[2017-04-12 17:53] jkotas opened #18283 "Remove dependency System.Private.Xml dependency on System.Reflection.Emit.* on uapaot"
System.Reflection.Emit.* is not available on uapaot. System.Private.Xml dependency on System.Reflection.Emit.* should be removed.

https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System.Private.Xml.csproj#L517

[2017-04-12 17:55] safern commented on #17575
We currently don't support building against netstandard and running on netfx a library/application that uses binary serialization. In theory we support this but due to this bug in the VM our customers will get a `TypeLoadException` when following this path.

They would have to have to different binaries of their library/application for this to work (one built against netcoreapp and one against net

[2017-04-12 17:55] #3850 closed

[2017-04-12 17:57] stephentoub commented on #17575
Ah.  In that case if you're looking for a GitHub tracking issue related to standard, wouldn't this be better in the dotnet/standard repo (in addition to whatever bug you open in TFS for desktop)?  It seems like there's zero action item here for core, and any documentation would be related to standard and desktop, not core.

[2017-04-12 17:57] ericstj commented on #18125
Failed again for me in https://github.com/dotnet/corefx/pull/18246: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release_prtest/1675/testReport/junit/System.Net.NetworkInformation.Tests/UnixPingUtilityTests/PacketSizeIsRespected_payloadSize__50_/

[2017-04-12 18:12] tarekgh commented on #3850
@krwq we had changed the globalization test much since this issue is opened. if you don't see any problem when changing the default language on the system before running the tests then we are ok here.

[2017-04-12 18:25] safern commented on #17575
Sounds good, I can take care of that.

[2017-04-12 18:25] #17575 closed

[2017-04-12 18:26] JonHanna opened #18284 "Expression.Convert and Expression.ConvertChecked should support tuple conversions."
Currently the code:
[code]
Throws an `InvalidOperationException` with the message
[code]

As such conversions are now among the standard conversions one expects to work with the main .NET languages, they should work with S.L.Expressions too.

As well as being of value in itself, this will facilitate #17453 as then MS.CSharp can be changed to recognise when such conversions are relevant and create

[2017-04-12 18:36] ericstj commented on #18217
Portable (netstandard) EXEs is something we've talked about in the past but never really scoped in. /cc @blackdwarf @terrajobst @davidfowl @Petermarcu

Currently the .NETCore host has some requirements that should probably have better defaults to enable hacking this scenario.  There are also some roadblocks in the SDK like you mentioned.

Here's what I tried:
[code]

That gave me:
[code]

I suspec

[2017-04-12 18:43] krwq commented on #3850
Thanks @tarekgh for confirming 😉

[2017-04-12 18:50] ericstj commented on #18261
@mellinoe is this some sort of casing problem following your CLI update?

[2017-04-12 18:53] #18253 closed

[2017-04-12 18:53] mellinoe commented on #18261
It does look to be (Microsoft.Build vs. microsoft.build), but I'm not sure how or why it would be happening here. `PrereleaseResolveNuGetPackageAssets` should handle this case now.

@parjong Any chance you have old files lying around in your Tools folder? I haven't seen this on the systems I've tested.

[2017-04-12 18:54] ericstj commented on #18261
I see what it it is:
https://github.com/dotnet/buildtools/commit/7db3dfa102fe5865584c26ae398487b73ed11488#diff-3bb19c9cf0b9fb2a765b49b9c0c2a5feR905

That lower cases the entire path, not just the package ID.  @parjong has upper case characters in his path that you broke by lower-casing them.

[2017-04-12 18:58] #17557 closed

[2017-04-12 19:03] mellinoe commented on #18261
Yep, that would do it. I'll put a fix up for that soon.

[2017-04-12 19:06] safern commented on #17575
Opened: https://github.com/dotnet/standard/issues/300 and 407239 on TFS.

[2017-04-12 19:11] eerhardt commented on #17120
Note that for Windows, it doesn't even have these historical transition times in the data.  So not fixing this bug in 2.0 is fine, since the information we provide on Unix is already more correct than Windows.

[2017-04-12 19:23] shravan2x commented on #18237
@karelz @davidsh I understand your point of view on spending less time on deprecated APIs, but I disagree with it. #15460 refers to reusing an `HttpClient` if all default settings match. While this is a good optimization, it is exactly the issue I'm arguing against.

Given a case where I use the default (or in general, just the _same_ settings across my application), I would use `HttpClient` as it

[2017-04-12 19:25] safern commented on #18262
Grabbing this one.

[2017-04-12 19:27] mellinoe commented on #17362
Hit again: https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/6108/consoleText

[2017-04-12 19:30] danmosemsft commented on #18140
@alexperovich can you have a quick take on whether this is a concern for 2.0?

[2017-04-12 19:30] danmosemsft commented on #18141
@alexperovich can you have a quick take on whether this is a concern for 2.0?

[2017-04-12 19:42] ericstj commented on #7702
I have a commit which fixes this by adding my force-conflict assembly to our netfx support package:
https://github.com/ericstj/corefx/commit/4e42db47fb4998f677347596bf975ac83922fdce

This is waiting for https://github.com/dotnet/corefx/pull/18246 to merge then I'll make it a separate PR.

[2017-04-12 19:43] mellinoe opened #18290 "System.IO.Pipes.Tests.Perf_PipeTest hangs on Unix"
This test seems to hang when run on Unix. There are a couple of threads waiting on PipeStream writes and socket loops. To repro, just run this test project:

[code]

[2017-04-12 19:45] karelz commented on #18237
If you think that `HttpClient` is lacking some important capabilities or characteristics, then please open issues for that. IMO it should not be reason for resurrecting compat-only APIs. Otherwise we would be soon maintaining several different stacks, which is not sustainable (it would drain resources from delivering innovation).
It would be great if you can provide real-world examples where parti

[2017-04-12 19:47] geleems commented on #16396
DAC support was added to SqlClient. The PR was https://github.com/dotnet/corefx/pull/18044

[2017-04-12 19:48] #16396 closed

[2017-04-12 19:48] mellinoe commented on #18261
https://github.com/dotnet/buildtools/pull/1433 should do the trick.

[2017-04-12 19:49] tarekgh commented on #14797
I moved this to the future release because fixing this will need some major changes how we read and handle the adjustment rules in Linux which will be risky for v2. We should have a better story for time zones in general in the future.

[2017-04-12 20:04] schen381 commented on #8414
@karelz We need to change the doc for InvalidCredentialException at https://docs.microsoft.com/en-us/dotnet/api/System.Security.Authentication.InvalidCredentialException?view=netframework-4.7, and the MSDN website will be phased out redirected to the new docs website. We need to change the Remark section and remove any occurrences of "SsslStream" from it, because InvalidCredentialException only ap

[2017-04-12 20:17] polarapfel commented on #18217
@ericstj

That's the key point indeed. In my humble opinion, the usefulness of .NET Standard being applicable not just to a single, non-executable library assembly but also to the ability to package executable applications against a standard would really help though, so extending the standard by such a convention might not be a bad idea. It would also put .NET on par with how Java solved this prob

[2017-04-12 20:24] vitek-karas opened #18292 "Remove .rd.xml directive for RuntimeBinderException from System.Linq.Expressions rd.ml"
The .rd.xml embedded in System.Linq.Expressions has a runtime directive for RuntimeBinderException which comes from the Microsoft.CSharp assembly.
For one the directive is in the wrong assembly element and causes warnings.
The other issue is that Microsoft.CSharp is not in the closure of references from System.Linq.Expressions, so System.Linq.Expressions should not have a directive for it, as it's

[2017-04-12 20:26] JaedsonBarbosa commented on #4278
I'm using the CMake 3.8.
@krwq  I do what you said, and I'm waiting about 1 hour and there is just Installing dotnet cli..., how many hours do you think I will need to wait?

[2017-04-12 20:30] #17421 closed

[2017-04-12 20:31] danmosemsft opened #18293 "Using incorrect API in GetExceptionFromNtStatus"
RtlNtStatusToDosError should be LsaNtStatusToWinError. It's just a bug -- MSDN says LsaNtStatusToWinError for all LsaLogonUser calls and it's what Desktop uses. Don't know why we changed it.

Incidentally it's also what windows intend to add to WACK so it's necessary for UWP but since we already shipped and it works it desn't seem needed for 2.0

[code]

[2017-04-12 20:33] danmosemsft commented on #18293
@ptorr-msft fyi.

[2017-04-12 20:35] danmosemsft commented on #17536
` given how late we are I'd rather not touch this.` suggests this should move to Future and we should disable the test against this ID (since we want all tests to pass 100% for shipping 2.0). @ViktorHofer do you want to do that?

[2017-04-12 20:47] karelz commented on #8414
@mairaw is the above information actionable for docs team?
Should we move the bug to docs repo now?

[2017-04-12 20:47] karelz commented on #8414
Thank you @schen381!

[2017-04-12 20:47] Priya91 commented on #16259
@stephentoub The callstack seems very similar to #17010, could that also be related to #9006

[2017-04-12 20:52] alexperovich commented on #18141
The fix for this is actually to port #2305 to netfx. That said I don't think this concerning for 2.0 because there is a simple workaround: don't return extreme values from your comparer implementation.

[2017-04-12 21:08] alexperovich commented on #18140
This is the same underlying issue and fix as #18141

[2017-04-12 21:09] alexperovich commented on #18141
Test `System.Linq.Parallel.Test.OrderByThenByTests.OrderByDescending_ExtremeComparer` fails with same issue

[2017-04-12 21:09] #18140 closed

[2017-04-12 21:11] lmolkova opened #18296 "Revert PR 18295 when DiagnosticSource is published on MyGet"
UAP target was temporary removed from DiagnosticSource to publish preview on nuget. Once the package is published, #18295 must be reverted.

Please assign this to me (@lmolkova)

[2017-04-12 21:16] asanx commented on #16322
It sounds funny, but adding Nuget package "System.IO.FileSystem" to the test project resolved the issue.
Have the same set:
- NETStandard 1.4 class library + Nuget package "System.IO.FileSystem"
- NET Framework 4.6.1 project + NUnit

[2017-04-12 21:32] terrajobst commented on #17116
I originally proposed them to be `const`. @gafter preferred them to be `static readonly` as this would allow the C#/VB compilers to include a field ref in the member ref table in case the emitted code would start depending on these features. This would allow forcing a runtime failure in case an assembly is being loaded (by accident) on an older runtime that doesn't actually support the feature.

I

[2017-04-12 21:39] ViktorHofer commented on #17536
Of course.

[2017-04-12 21:43] danmosemsft commented on #15966
Better than adding `#if !uap` woudl be to fail at runtime -- catch MissingMethodException. That's definitely OK with ILC but not sure our build process can accommodate doing that.

[2017-04-12 21:47] ViktorHofer commented on #16287
Nearly everything. There are still a few open issues where I'm awaiting responses if the members should make it in before 2.0 signoff.

[2017-04-12 21:50] ViktorHofer commented on #17536
Reverted my PR which reenabled the test.

[2017-04-12 21:55] JonHanna commented on #14752
The example given here should still fail with the same exception type, though probably a different message, as `dynamic d = new object();` means it's not of a type that could be used in that call, even if static.

The bug still happens with `dynamic d = 3;` though.

[2017-04-12 21:58] hazzik commented on #17746
Then it shall be not possible to install.

[2017-04-12 22:06] #17930 closed

[2017-04-12 22:09] krwq commented on #4278
@JaedsonBarbosa it should take up to few minutes, try restarting - it could be some connection issues, if doesn't work please file a separate issue in this repo, someone should be able to track down what has happened

[2017-04-12 22:14] tarekgh commented on #12190
@richlander do you think you can have this done before v2.0 release? or this one not tied to the release? I am asking because this is marked as v2.0 issue.

[2017-04-12 22:17] tarekgh commented on #17619
@karelz we are keeping this issue just for announcing and no action needed against this issue. right?

[2017-04-12 22:18] #18261 closed

[2017-04-12 22:21] tarekgh commented on #16823
@ericstj @safern @AlexGhiondea does this issue related to the work you are doing now? I am trying to know if there is anything else need to be done here.

[2017-04-12 22:21] stephentoub commented on #17647
I'm going to close this on the assumption we're not going down this path.  If that changes, we can re-open.

[2017-04-12 22:21] #17647 closed

[2017-04-12 22:22] tarekgh commented on #16441
@preetikr when you think this will get done?

[2017-04-12 22:25] tarekgh commented on #15255
@ViktorHofer are you still working on this one? just double checking the v2 issues are in progress.

[2017-04-12 22:28] ViktorHofer commented on #15255
Yes, this is the parent for all the child issues. Some of them are now targeting the future milestone but for some of them I'm still awaiting answers from area owners therefore they are marked with 2.0. As soon as all 2.0 child issues are closed or changed to future I will close this one.

[2017-04-12 22:28] krwq commented on #17220
I tried this on Mint, bash for windows and it is not reproing. I'm doing some stress testing on this right now (multiple threads, running in a loop) - if it doesn't fail I'll close as no repro and we can reopen if new data comes in.

[2017-04-12 22:30] #18152 closed

[2017-04-12 22:31] wtgodbe commented on #9917
@gkhanna79 I'm unclear what this entails, what does resolving this issue look like?

[2017-04-12 22:36] stephentoub commented on #14673
Let's close it out and re-open if it shows up again.  It's possible it's been addressed by the various sockets fixes we've made over the last few months.

[2017-04-12 22:40] ViktorHofer commented on #14636
@couven92 any progress on the tests?

[2017-04-12 22:56] lajones commented on #4481
Note: to anyone trying to fix this please see the comment on the PR that tried to fix this https://github.com/dotnet/corefx/pull/17867#issuecomment-293730158

[2017-04-12 22:58] Priya91 commented on #15018
Investigated this, it looks like on OSX 10.12, this error happens when using ping6 utility. The ping6 succeeds with transmitting and receiving the packets, but the process running ping6 has an exit code of 134, meaning sigabrt, hence it fails [here](https://github.com/dotnet/corefx/blob/master/src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Unix.cs#L181). It's unclear to me why the proc

[2017-04-12 23:07] PureKrome commented on #1624
Initially no, because of this:

[code]

meaning, the exposed methods on `HttpClient` are really nice and make things _really_ easy :) Yay! Fast, simple, works, WIN!

Ok - so now lets use it in a test ... and now we need to spend time learning what happens underneath .. which leads us to learning about `HttpMessageHandler` etc.

Again I keep saying this => this extra learning about the plumbing of

[2017-04-12 23:20] zhenlan commented on #15682
Looks like `System.Xml.Serialization.Advanced.SchemaImporterExtension` has dependency on CodeDom. Maybe that's the reason it is not included in netstandard?

The `SchemaImporterExtension` can be found at [standard/extensions/codedom/codedom.cs](standard/extensions/codedom/codedom.cs ). Not sure what's that for. @weshaggard made the change and may have more context.

cc: @shmao

[2017-04-12 23:22] krwq commented on #17220
I was not able to get this particular issue. I've run this around 15k times and seeing to types of failures:
- timeout - expected considering amount of resource this test is producing
- This one is suspicious though:
[code]

I believe this is coming from: `Assert.Equal(SuccessExitCode, child2.ExitCode);`

[2017-04-12 23:23] danmosemsft commented on #15018
This ping test failure is also OSX specific but has different symptoms:
https://github.com/dotnet/corefx/issues/18125
The failure indicates that we're getting unexpected text back from the ping command. Perhaps thats just another symptom of this same problem.

[2017-04-12 23:28] #17518 closed

[2017-04-12 23:29] shmao opened #18302 "Add Tests for KnownTypeAttribute.MethodName Property"
We should add tests for KnownTypeAttribute.MethodName Property and verify if it works on UWP. UWP toolchain does not support it. But the tests should pass as we have reflection based serialization.

[2017-04-12 23:34] stephentoub commented on #16259
It's possible.  If you're able to repro it with that example, you could try changing the server to fully consume the request before outputting the response and see if that causes the failure to go away.  If it does, it's almost certainly the same issue.

[2017-04-12 23:36] ajcvickers commented on #11025
Assigning to @lajones who is processing the PR.

[2017-04-12 23:44] stephentoub commented on #9006
@davidsh, @geoffkizer, @cipop, @Priya91, I think we need to make one of these two changes, and do so for 2.0:
1) Modify HttpClient to stop Dispose'ing of the request content, e.g. #1794
2) Moving the responsibility for Dispose'ing of the HttpContent to the HttpClientHandler, which can know when it's safe to dispose, e.g. #8894.

My preference is for (1).  The downside to (1) is that existing code

[2017-04-12 23:48] stephentoub commented on #17220
Exit code 137 is almost certainly a seg fault.  Do you see any output earlier in the run that would confirm that the child process is crashing?

[2017-04-12 23:59] karelz commented on #17619
Yep, I'd like to keep it opened until 5/10. I can move it into Future milestone, so it doesn't affect our bug count and reports ;-)

[2017-04-13 00:02] karelz commented on #12190
I think we should address this in 2.0 time-frame. This is highly voted issue, opened for quite some time.

[2017-04-13 00:03] stephentoub commented on #18272
Fixed by https://github.com/dotnet/corefx/pull/18278

[2017-04-13 00:03] #18272 closed

[2017-04-13 00:19] danmosemsft commented on #18277
TransactionsScope is in S.Transactions. Of course I don't know where the bug is..

[2017-04-13 00:25] dasjestyr commented on #1624
I'm not at all offended. I originally hopped on this thread with the same opinion that the client should be mockable, but then some really good points were made about *what* HttpClient is so I sat and really thought about it, and then tried to challenge it on my own and eventually I came to the same conclusion which is that HttpClient is the wrong thing to mock and trying to do so is futile exerci

[2017-04-13 00:34] dasjestyr commented on #1624
As an aside:

I'd argue that in terms of SOLID, this interface is inappropriate anyway. IMO client, request, response are 3 different responsibilities. I can appreciate the convenience methods on the client, but it promotes tight coupling by combining requests and responses with the client, but that's personal preference. I have some extensions to HttpResponseMessage that accomplish the same thing

[2017-04-13 00:35] zenixgrace commented on #18000
@karelz I get some issue when make a sample simple project to show the error. The site that I crawl is airline b2b system that use username and password to sign in the system. I tried to make it offline by save the html page and connect it via localhost. But if I do that way, I get no problem. Everything is OK (no error "An internal response size limit was exceeded")

[sample_html.txt](https://git

[2017-04-13 01:44] krwq commented on #17220
@stephentoub I'll try to collect the output tomorrow, I do not recall seeing it but that could be caused by the fact that I've run the test in the thread.

I do not believe threads are needed to repro so I'll either get the output or will add some diagnostics.

Will also verify if this Linux specific or any platform.

[2017-04-13 01:46] weshaggard commented on #15045
@ViktorHofer how did you get that list? I would suggest removing the dependency and then compiling. I really hope System.Data.Common doesn't use thing like ToolboxItem, unless that is really the attribute. If these are just for the attributes then I think we can safely remove the attribute applications.

And for the other TypeConverter stuff we should remove any TypeConverters that exist in System

[2017-04-13 01:49] hughbe commented on #18220
Right I see, thanks. As to my comment about avoid failures in the future, I meant I'd like to run the uapaot tests before submitting a Pr for example.
As to why the tests are hanging, not really sure, sorry! I'd expect the tests to fail in a more vanilla way rather than hanging - there's nothing in these tests that waits so it must be internal in the implementation somewhere.
 Is the source for ua

[2017-04-13 02:19] stephentoub commented on #17220
Oops, I was thinking of 139. 137 is most likely SIGKILL, meaning something terminated the process.

[2017-04-13 02:41] bartonjs commented on #17820
@steveharter?  I'm guessing we sealed them since they weren't actually managed any more, so overriding them becomes... interesting.  But if we can't seal them in netstandard, maybe we need to unseal them here.

[2017-04-13 02:43] eerhardt commented on #3571
I spent some time in the last few days investigating this issue.  I [implemented the optimization](https://github.com/eerhardt/coreclr/commit/3ccc8be6f6cd13890c077442860fa047c1a109f2) I discussed above, but it didn't have any affect on the perf I was seeing.

Using `America/Chicago` time zone, I still saw:

 **MacBook Pro** |
| -------- |
142<br>143<br>143<br>142<br>143<br>143<br>143<br>143<br>142

[2017-04-13 03:38] mazong1123 commented on #3571
I've also added a thought here may improve the perf in another perspective:
https://github.com/dotnet/coreclr/issues/5717#issuecomment-293535491

[2017-04-13 04:05] weshaggard commented on #15682
Things under the extensions folder in the standard repo are not part of the standard but can potentially be provided as extensions on top of the standard. There is no commitment that it will ever happen though.

The extension folder is mostly for my test validation when refactoring the standard.

[2017-04-13 04:38] danmosemsft opened #18304 "[Suggestion]: For Binary Files controlling: Add new functions to improve the speed and simpify programming"
@MaleDong commented on [Sat Sep 17 2016](https://github.com/dotnet/coreclr/issues/7243)

Hello all:
It really makes me "head to the wall" if we wanna cope with binary files with the help of C# until now……：(

 Now you can image if we wanna do a download application in C#, we have to use MemoryStream/FileStream. However if we wanna do inserting/updating bytes into the file, we have to fetch some byt

[2017-04-13 04:49] danmosemsft commented on #15570
@ericstj @bartonjs is there any work in corefx here? if not we should close -- we don't have tracking issues, too much noise in the repo.

[2017-04-13 04:49] danmosemsft commented on #16337
@the-dwyer did you end up making progress? :)

[2017-04-13 04:50] danmosemsft commented on #16511
Future as does not seem to have high impact

[2017-04-13 04:50] danmosemsft commented on #16402
@divega could you set milestone?

[2017-04-13 04:52] danmosemsft commented on #17278
I am closing this and opening another for clarity.

[2017-04-13 04:52] #17278 closed

[2017-04-13 04:54] danmosemsft opened #18305 "Instructions for dogfooding consuming 2.0 packages in VS2017 RTM"
@ericstj I am not sure what this involves -- clearly the updated nuget is not publicly available, so what would even be required here?

@eerhardt

[2017-04-13 04:55] danmosemsft commented on #18305
From https://github.com/dotnet/corefx/issues/17278

[2017-04-13 05:01] danmosemsft commented on #18220
@hughbe there are a few cases where UWP aka UAP sources are different either because of .csproj conditions (like on TargetGroup=xxx) or defines (#if uap). Cases where uapaot is different are much rarer. It is a major goal of our UAP work in 2.1 to absolutely minimize cases of UAP specific binaries. So code should either work the same or at worst have runtime checks.

I wouldn't worry too much abou

[2017-04-13 05:05] danmosemsft commented on #15045
@weshaggard is this still necessary for 2.0? it seems like just cleanup, these both will ship in the same package.

[2017-04-13 05:13] danmosemsft commented on #18060
Bunch of schema tests writing to their own directory not temp

[2017-04-13 05:18] #11025 closed

[2017-04-13 05:31] danmosemsft commented on #15066
@JeremyKuhne does this seem important for 2.0? if not we can ask @Jiayili1 to disable the test meantime.

[2017-04-13 05:32] danmosemsft commented on #18195
Not clear this is an important compat issue -- operation is failing on desktop.

[2017-04-13 05:33] danmosemsft commented on #16992
I think this is potentially confusing (similar to my confusion about CLI console application making a dll) but not critical for 2.0 as users will expect to customize their config files for their app model. I will move to Future but feel free to push back.

[2017-04-13 05:40] danmosemsft commented on #18274
@Jiayili1 please add this to this test:
[code]
then you can close this issue.

[2017-04-13 05:42] danmosemsft commented on #18271
@bartonjs desktop is throwing when[ setting the key](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/Common/tests/System/Security/Cryptography/AlgorithmImplementations/AES/AesCipherTests.cs#L430) whereas apparenlty Core throws when doing the decrypt. Expected? Should we eg extend the scope of the Assert.Throws?

[2017-04-13 05:43] danmosemsft commented on #18270
@bartonjs same question as for https://github.com/dotnet/corefx/issues/18271

[2017-04-13 05:44] danmosemsft commented on #18269
That's intersting we are more lax than desktop here.

[2017-04-13 05:44] danmosemsft commented on #18262
@hughbe who was look at these.

[2017-04-13 05:46] danmosemsft commented on #18198
@safern looks like infra not the test in question?

[2017-04-13 05:46] danmosemsft commented on #18197
Another like https://github.com/dotnet/corefx/issues/18271

[2017-04-13 05:46] safern commented on #18262
I was planning on doing this one, did you get a chance to fix it @hughbe?

[2017-04-13 05:47] danmosemsft commented on #18194
@safern looks like a run issue.

[2017-04-13 05:48] safern commented on #18198
ECParameters is not available for desktop until 4.7 so the code that uses it should be #if-ed out. I can take care of this one tomorrow and should be quick.

[2017-04-13 05:49] safern commented on #18194
Yup. Will take a look

[2017-04-13 07:42] Jiayili1 commented on #17749
This issue is repro on portable core tests in build 20170413.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170413.01/workItem/System.Net.NameResolution.Pal.Tests/wilogs

[2017-04-13 07:45] Jiayili1 commented on #15018
This issue is repro on portable core tests in build 20170413.01, failed test: System.Net.NetworkInformation.Tests.PingTest/Sends_ReuseInstance_Hostname

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170413.01/workItem/System.Net.Ping.Functional.Tests/analysis/xunit/System.Net.NetworkInformation.Tests.Ping

[2017-04-13 08:01] KristinXie1 opened #18308 "Desktop: System.IO.Tests.WaitForChangedTests.CreatedDeleted_Success failed with "Xunit.Sdk.EqualException""
Failed test: System.IO.Tests.WaitForChangedTests.CreatedDeleted_Success

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/16/testReport/System.IO.Tests/WaitForChangedTests/CreatedDeleted_Success_changeType__Deleted_/

**MESSAGE:**
Assert.Equal() Failure\r\nExpected: Deleted\r\nActual: 0
+++++++++++++++++++

**STACK TRACE:**
at System.IO.Tests.WaitForChan

[2017-04-13 08:05] Jiayili1 commented on #18279
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/16/testReport/System.Reflection.Tests/AssemblyTests/Test_UnsafeLoadFrom/

[2017-04-13 08:07] Jiayili1 opened #18310 "Desktop: System.Reflection.Tests.AssemblyTests.Test_LoadFrom failed with "Xunit.Sdk.EqualException""
Failed test: System.Reflection.Tests.AssemblyTests.Test_LoadFrom

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/16/testReport/System.Reflection.Tests/AssemblyTests/Test_LoadFrom/

**MESSAGE:**
Assert.Equal() Failure
Expected: System.Runtime.Tests, Version=4.2.0.0, Culture=neutral, PublicKeyToken=9d77cc7ad39b68eb
Actual: System.Runtime.Tests, Version=4

[2017-04-13 08:12] Jiayili1 opened #18311 "Desktop: System.Reflection.Tests.AssemblyNameTests.Ctor_String failed with "Xunit.Sdk.EqualException""
Failed test: System.Reflection.Tests.AssemblyNameTests.Ctor_String

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/16/testReport/System.Reflection.Tests/AssemblyNameTests/Ctor_String_name____NAME____expectedName____NAME___/

**Message:**
Assert.Equal() Failure
                   (pos 0)
        Expected: NAME
        Actual:   name
                  

[2017-04-13 08:25] Jiayili1 opened #18312 "Desktop: DataContractSerializerTests.DCS_ReadOnlyDictionary failed with "Xunit.Sdk.EqualException""
DataContractSerializerTests.DCS_ReadOnlyDictionary [FAIL]

**Message:**
[code]

**Stack Trace:**
at DataContractSerializerTests.SerializeAndDeserialize[T](T value, String baseline, DataContractSerializerSettings settings, Func`1 serializerFactory, Boolean skipStringCompare) in D:\j\workspace\outerloop_net---903ddde6\src\System.Runtime.Serialization.Xml\tests\DataContractSerializer.cs:line 2799
at

[2017-04-13 08:30] Jiayili1 opened #18313 "Desktop: DataContractSerializerTests.XsdDataContractExporterTest failed with "XUnit.Sdk.ThrowsException""
Failed test: DataContractSerializerTests.XsdDataContractExporterTest

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/16/testReport/(root)/DataContractSerializerTests/XsdDataContractExporterTest/

**MESSAGE:**
Assert.Throws() Failure\r\nExpected: typeof(System.PlatformNotSupportedException)\r\nActual: (No exception was thrown)
+++++++++++++++++++

**STA

[2017-04-13 08:39] Jiayili1 opened #18314 "Desktop: System.PrivateUri.Tests.UriRelativeResolutionTest.Uri_Relative_SimplePartialPathWithScheme_Unicode_ReturnsPartialPathWithScheme failed with "System.NullReferenceException""
Failed test: System.PrivateUri.Tests.UriRelativeResolutionTest.Uri_Relative_SimplePartialPathWithScheme_Unicode_ReturnsPartialPathWithScheme

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/16/testReport/System.PrivateUri.Tests/UriRelativeResolutionTest/Uri_Relative_SimplePartialPathWithScheme_Unicode_ReturnsPartialPathWithScheme

**MESSAGE:**
System.Nu

[2017-04-13 08:40] Jiayili1 commented on #18314
Closed issue: https://github.com/dotnet/corefx/issues/13250

[2017-04-13 08:43] Jiayili1 opened #18315 "Desktop: Tests under "System.PrivateUri.Tests.UriBuilderTests" failed with "Xunit.Sdk.EqualException""
[code]

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/16/testReport/System.PrivateUri.Tests/UriBuilderTests/Fragment_Get_Set_value_____fragment____expected_____fragment___/
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/16/testReport/System.PrivateUri.Tests/UriBuilderTests/TestQuery/

[2017-04-13 08:45] Lakritzator commented on #14724
Is there a reason not to make this implement IDisposable?
And thus have the Unload be renamed (refactored) into an implementation of the Dispose method?

As it's still being used a lot, e.g. in System.Reactive, I assume the interface is not "dead" and makes a clear intention of what it does...

[2017-04-13 08:46] Jiayili1 opened #18316 "Desktop: tests under "System.PrivateUri.Tests.UriRelativeResolutionTest" failed with "Xunit.Sdk.EqualException""
[code]

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/16/testReport/System.PrivateUri.Tests/UriRelativeResolutionTest/Uri_Unicode_SurrogatePairs_Scheme/

[2017-04-13 09:07] Jiayili1 opened #18317 "System.Diagnostics.Tests.ProcessTests.GetProcessesByName_NoSuchProcess_ReturnsEmpty failed with "Xunit.Sdk.EmptyException" in CI"
[code]

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release/643/consoleText

Configuration: OuterLoop_netcoreapp_OS X 10.12_release

[2017-04-13 09:13] shimingsg opened #18318 "System.Net.Security.Tests.SslStreamStreamToStreamTest_Sync.SslStream_StreamToStream_WriteAsync_ReadAsync_Pending_Success [FAIL]"
**This test fails on Windows 10 Pro amd64:**
System.Net.Security.Tests.SslStreamStreamToStreamTest_Sync.SslStream_StreamToStream_WriteAsync_ReadAsync_Pending_Success [FAIL]
      System.IO.IOException : The read operation failed, see inner exception.
      ---- System.TimeoutException : VirtualNetwork: Timeout reading the next frame.
      Stack Trace:
         F:\repos\corefx\src\System.Net.Secur

[2017-04-13 09:39] jayaranigarg commented on #16596
@weshaggard : How do we listen to Debug.WriteLine() currently, as Trace.Listeners is not listening to Debug logs?

[2017-04-13 10:20] stephentoub commented on #17188
I think I know what the problem here is. Poaching...

[2017-04-13 10:33] stephentoub commented on #18318
The VirtualNetwork test class has a 30 second timeout:
https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/Common/tests/System/Net/VirtualNetwork/VirtualNetwork.cs#L13
and GCStress makes things run much, much, much slower.  I expect doing so just cause the test to bump up against the 30 second limit.

[2017-04-13 11:03] madelson commented on #18277
Further investigations suggest that this may be a problem with `SqlTransaction` as well.

[2017-04-13 11:16] stephentoub opened #18321 "GetProcessesByName_NoSuchProcess_ReturnsEmpty test failing"
This test is newly added and has been taking out a bunch of runs, e.g.
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug_prtest/1701/
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug_prtest/1702/
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug_prtest/1704/
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release_prtest/1705/
https:/

[2017-04-13 11:22] stephentoub commented on #18321
Dup of https://github.com/dotnet/corefx/issues/18317

[2017-04-13 11:22] #18321 closed

[2017-04-13 11:30] slang25 commented on #8931
Another option would be to set the `SynchronizationContext` to `null` and then return it. In my experience these issues come deep into the call stack where people are well away from places that require/assume a sync context, shouldn't we be steering people towards a blocking usage that doesn't deadlock?

Something like (naming is hard!):

[code]
The xml doc comments could make it clear you will no

[2017-04-13 11:34] stephentoub commented on #8931
I don't see how the proposed function helps.  By the time you're blocking waiting on the task, you've already invoked the asynchronous operation that in turn may have observed the current synchronization context and captured it.  This helper would instead need to take a delegate that could be invoked while the SynchronizationContext was null, rather than taking the task to wait on.

[2017-04-13 12:10] stephentoub opened #18324 "Remote machine process tests failing in CI"
[code]

[2017-04-13 12:14] #18317 closed

[2017-04-13 12:38] maxima120 commented on #2576
no point to argue. we **need** threads in UWP. when can you deliver?

[2017-04-13 12:59] slang25 commented on #8931
Very good point @stephentoub.

[code]

Would this be worth considering.

[2017-04-13 13:04] tlbdk commented on #14745
We are loading our certificate from a byte array and ran into the same issue running our application under a service account on Windows 2012.  The services account does not have a user profile so the below code will fail with a WindowsCryptographicException and "The system cannot find the file specified" that is a more than a bit misleading. I would be nice to if the exception could have said that

[2017-04-13 13:06] ViktorHofer commented on #15045
What is the ignore file for? If it is just to add comments?

I will answer both your questions here. Dan and I made that list to distinguish between what is still is a TODO for 2.0 in `ApiCompatBaseline.netcoreapp.netfx461.txt` and what is intentionally skipped (`ApiCompatBaseline.netcoreapp.netfx461.ignore.txt`). I wrote a little 30-liner diff util which then produces a file (I call it by convent

[2017-04-13 13:12] kouvel commented on #14724
A couple of things seem odd to me on using `Dispose` instead of `Unload`:
- `Unload` wants to fail to indicate error when the instance was not created for the purpose of being unloaded later. 'Dispose' is typically not expected to fail.
- The `Unloading` event (nevermind the name) may be raised long after `Dispose` is called at the actual time of unloading, not during the `Dispose` call as I would

[2017-04-13 13:15] ViktorHofer commented on #15045
@weshaggard I did a regex over all 590 errors which are showing up when removing the dependency.

[2017-04-13 13:38] JaedsonBarbosa commented on #4278
I get this error:
C:\Users\jaeds\Source\Repos\corefx>call "C:\Users\jaeds\Source\Repos\corefx\Tools\dotnetcli\dotnet.exe" restore "C:\Users\jaeds\Source\Repos\corefx\packages\microsoft.dotnet.buildtools\1.0.27-prerelease-01512-01\lib\\tool-runtime\project.csproj" --source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json --source https://dotnet.myget.org/F/dotnet-buildtools/api/v3/index.jso

[2017-04-13 13:55] hughbe commented on #18324
I seem to be breaking the CI a bunch recently, so sorry for that. These guys pass CI but

The errors are "Process performance counter is disabled, so the requested operation cannot be performed."

This could be a difference in configuration on various CI machines?

The only .NET framework reference I can find is https://weblogs.asp.net/nunitaddin/267559 and https://social.msdn.microsoft.com/Forums

[2017-04-13 14:19] JonHanna commented on #18125
Again: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug_prtest/1717/

[2017-04-13 14:38] steveharter commented on #17820
Those types and members can be un-sealed if we want to do that.

It is not necessarily breaking w.r.t. netstandard if a type because sealed, at least from past discussions on this. Also it is not possible to derive from the the other SHA* implementations because they are private and sealed types.

The original plan for these types was to use a shim\proxy pattern to forward to the 'real' implementa

[2017-04-13 14:47] eerhardt commented on #18305
/cc @livarcocc @dsplaisted @nguerrera @davkean @srivatsn

[2017-04-13 14:53] vancem commented on #16500
We implemented the randomized start suggested above.   We may still wish to tweek this, but we have the ability to do so.  I think this is good enough now to close this issue.

[2017-04-13 14:53] #16500 closed

[2017-04-13 15:09] ViktorHofer commented on #17820
So I will unseal the types and members.

@weshaggard I think we should also unseal them in netstandard

[2017-04-13 15:27] ericstj commented on #18305
I'll defer to the SDK and VS owners here.  I know of some hacky steps that involve setting the SDK folder used by MSBuild, but those still require the NuGet vsix to be installed, which I don't think NuGet makes publicly available.

[2017-04-13 15:28] #7702 closed

[2017-04-13 15:29] danmosemsft commented on #18318
I agree- seems we could close this as gcstress fallout.

[2017-04-13 15:30] danmosemsft commented on #18318
I'm going to be bold and close this.

[2017-04-13 15:31] gkhanna79 commented on #18217
Hostpolicy.dll is expected to be in the app folder when it is determined that the application is being built is standalone. Is that not the case (for standalone apps, runtimeconfig.json also does not carry FX details).

CC @ramarag who owns the host.

[2017-04-13 15:32] danmosemsft commented on #15018
That is OSX also.

[2017-04-13 15:36] TingluoHuang opened #18328 "Min required libcurl version on Redhat?"
Hi,

Our [vsts-agent](https://github.com/Microsoft/vsts-agent) is built on  dotnet core 1.1
In pre-req doc dotnet core only mentioned about it needs libcurl on Redhat, but there is no min version.

Since the libcurl in Redhat7.2 is 7.29 which is pretty old, there are few bug we got report about the old version libcurl, ex, NTLM not working properly, proxy not working properly.

Can we update the d

[2017-04-13 15:38] stephentoub commented on #18328
cc: @tmds

[2017-04-13 15:40] danmosemsft commented on #18324
Does this mean `Process.GetProcessesByName()` simply doesn't work on CI machines? Surely we were testing that before @hughbe 's changes

[2017-04-13 15:41] stephentoub commented on #18324
Not with a remote machine name.

[2017-04-13 15:47] danmosemsft commented on #18314
Seems like a bug in desktop, possibly fixed on our side in https://github.com/dotnet/corefx/pull/9542 tracked by https://github.com/dotnet/corefx/issues/15145

@Jiayili1 please disable this as follows

[2017-04-13 15:50] danmosemsft commented on #18312
The difference is between `dictionary` in our baseline and `m_dictionary` in desktop result.

@shmao I've moved this to Future for now since this seems uninteresting. Feel free to change.

[2017-04-13 15:51] karelz commented on #4278
@JaedsonBarbosa please file a new issue as suggested above. Just a reminder that we may not be able to provide as much troubleshooting support to you before 5/10 as we would like to.

[2017-04-13 15:52] danmosemsft commented on #18313
@shmao I assume this is expected -- we haven't impl this and Desktop has.

@Jiayili1 please disable this test for desktop with
[code]

[2017-04-13 15:56] krwq commented on #16558
This is already happening, closing

[2017-04-13 15:56] #16558 closed

[2017-04-13 16:06] karelz commented on #2576
I think this may be part of .NET Standard 2.0 for UWP work -- which is milestone [2.1](https://github.com/dotnet/corefx/milestone/12) (see the milestone details for current estimation of last FI into release date)

@kouvel can you please confirm if it will be part of 2.1 work?

[2017-04-13 16:11] danmosemsft commented on #18324
I'm confused why the CI part matters since \\machinename doesn't exist outside of CI either. Maybe the "disabled performance counters" refers to the local box.

[2017-04-13 16:14] stephentoub commented on #18324
CI part matters for being able to test the success path.  My point was that we haven't been testing with remote names; the only thing we could have reasonably tested in CI was the failure path, which this PR apparently tried to do.

(When the test is fixed, the machine name should also be changed to something like `Guid.NewGuid().ToString("N")`... it's quite possible that somewhere the test gets e

[2017-04-13 16:18] weshaggard commented on #16596
@jayaranigarg there isn't a direct way to do it. Note that Debug.WriteLine calls only exist in debug code and thus will not be anywhere in release code anyway. Debug.WriteLine only writes to the debugger output, see https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Diagnostics/Debug.Windows.cs#L51.

[2017-04-13 16:21] karelz commented on #18318
cc @steveharter as he might run into this as well

[2017-04-13 16:21] weshaggard commented on #15045
@danmosemsft I agree both of these will be in the shared framework this is still a very terrible dependency to have for folks that want to trim their application as TypeConverter library depends on tons of stuff and I would prefer to invert this dependency so that people using Data don't have to pay the TypeConverter cost.

[2017-04-13 16:22] weshaggard commented on #15045
While I don't think it blocks 2.0 it is something I would like to see fixed for 2.0

[2017-04-13 16:26] ViktorHofer commented on #15045
Seems reasonable to me. I'll  take it.

@weshaggard let us chat offline today or tomorrow so that I fully understand what needs to be done.

[2017-04-13 16:30] weshaggard commented on #17820
We intentionally sealed these types in netstandard (https://github.com/dotnet/standard/commit/6d04955a71f4789c7a10f5430d1802d1768460cc) because they were sealed in Xamarin. I personally would keep the sealed given we don't want them to be used. It is OK for netstandard and netcore to be different from netfx in these cases.

[2017-04-13 16:30] bartonjs commented on #18271
No, setting the key shouldn't throw, since 192 (bit) should be a legal key size.

So, either:
* We're running the tests in a mode where we're breaking a netfx assumption.
* We've found a netfx bug.

https://referencesource.microsoft.com/#System.Core/System/Security/Cryptography/AesCryptoServiceProvider.cs,41ee252787700941,references does an awful lot of work for what https://msdn.microsoft.com/en-

[2017-04-13 16:32] karelz commented on #18000
Moving to Future milestone as we are blocked on missing repro.

BTW: My experience over years with complicated repros is: Either it is sign of something fishy in the application (app code bug), or it is sign of a very corner case bug in Runtime/BCL (which sometimes can be pretty nasty and impactful for apps that hit it).
Either way, it is usually not cost-efficient for us to go after it. It is typ

[2017-04-13 16:35] bartonjs commented on #17820
Oh, yeah, I read this wrong.  I thought it was that we sealed them here, but not netstandard.  Yeah; if they're sealed in netstandard that makes me happy.

[2017-04-13 16:37] ViktorHofer commented on #17820
Thanks wes, I will close the PR and add them to the ignore list.

[2017-04-13 16:43] #17820 closed

[2017-04-13 16:44] ericstj opened #18334 "Remove some TrimEnd workarounds when updating to latest MSBuild"
We have a few places where we chain together TrimEnd statements.  We can replace this with a single call after updating msbuild.  See https://github.com/dotnet/corefx/pull/18306#discussion_r111433796.

[2017-04-13 16:45] #14593 closed

[2017-04-13 16:52] jimcarley commented on #18277
This may be a Sql connection pooling issue causing retention of the isolation level that was obtained from the transaction that was created and completed by the TransactionScope.

From: Dan Moseley [mailto:notifications@github.com]
Sent: Wednesday, April 12, 2017 5:19 PM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [dotnet/corefx] Transa

[2017-04-13 16:55] danmosemsft commented on #15045
@ViktorHofer please investigate the cost first. If this is costly we may need to rethink the priority

[2017-04-13 16:56] #18279 closed

[2017-04-13 16:58] shmao commented on #18313
@danmosemsft yes, this is expected.

[2017-04-13 16:59] stephentoub commented on #8931
I don't think this is a good thing to add; I don't want to encourage more synchronous blocking on tasks by adding yet another way to do it.

If we were interested in something along those lines (I'm not saying we should), I would rather see something like:
[code]
If you wanted to use that for your purposes, you could, e.g.
[code]
but it could also be used for non-Task-returning methods.

[2017-04-13 17:04] danmosemsft commented on #18313
OK @Jiayili1 please do as I ask above. thanks

[2017-04-13 17:15] shmao commented on #18312
@danmosemsft Because of the issue, `ReadOnlyDictionary` cannot be transferred between desktop and NetCore. If we make a fix in the future, however, it will break the behavior of NetCore. Do we want to keep the issue open and fix this in the future?

On the other hand, the root cause of the issue is that we name class members differently on NetCore and on Desktop, which causes the serialization pay

[2017-04-13 17:22] #18255 closed

[2017-04-13 17:36] danmosemsft commented on #18312
In general we don't plan to support binary serialization exchange between .NET Core and .NET Framework, nor between version of .NET Core. @stephentoub to verify his undrestanding also.

This issue is of course in your area and it's entirely up to you whether you want to fix it though.

[2017-04-13 17:39] #17188 closed

[2017-04-13 17:40] karolz-ms opened #18338 ".NETCoreApp 2.0, System.IO.Compression assembly load failure"
I am doing app building using .NET Core 2.0.0-preview1-001961-00. At run time I am getting the following error:

System.IO.FileLoadException occurred
  HResult=0x80131040
  Message=Could not load file or assembly 'System.IO.Compression, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'. The located assembly's manifest definition does not match the assembly reference. (Exception fr

[2017-04-13 17:48] mellinoe commented on #12501
@RimashMohomed SUSE 11 is not one of our officially-supported distros, as far as I know. It would help to know what you're trying to accomplish. Getting a full product working end-to-end (including coreclr, core-setup, and cli) will be very involved and very difficult on an unsupported distro. This is getting easier and more streamlined in the 2.0 release, but it's not quite "there" yet.
Here's a

[2017-04-13 17:51] mellinoe commented on #18338
What version is that assembly?

[2017-04-13 17:53] krwq commented on #17220
@stephentoub:
- there is no output,
- linux specific (for sure repros on Mint, on Windows I kept looping it for a while and no repro)
- threads are not necessary for repro - running around 3k times repros every time for me

I do not have much expertise debugging .NET from the command line or with S.D.Process.

[2017-04-13 17:54] karolz-ms commented on #18338
System.IO.Compression, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089

[assembly: AssemblyFileVersion("4.6.25210.01")]
[assembly: AssemblyInformationalVersion("4.6.25210.01 built by: dlab-DDVSOWINAGE042. Commit Hash: 56986cdb177869420d0ba0b6bc028134eceb333f")]

[2017-04-13 18:01] terrajobst commented on #16782
I've chatted with a few folks on our side (@weshaggard @ericstj @Petermarcu). We all agree that returning `default(T)` is really bad. It's equally bad to throw because for the most part, apps would likely work when returning a sensible value. Yes, this API has cross-platform implications but there are better ways we can track this, by, instance in tools like (https://github.com/terrajobst/platform

[2017-04-13 18:05] zhenlan commented on #18312
Hi @danmosemsft, this is *not* about binary serialization. It's DataContractSerializer. It's very important to keep compatibility between frameworks for DCS. For example, WCF service is only available on Full Framework, so the .NET Core version of WCF client has to talk with WCF service on full framework and DCS must be compatible.

The fix here needs to happen in `ReadOnlyDictionary`. All it need

[2017-04-13 18:08] jcouv commented on #17116
Updated the description (up top) to use `const`.

[2017-04-13 18:13] stephentoub commented on #18312
@zhenlan, is DCS special-casing ReadOnlyDictionary?  If it is, it should be able to smooth over this.  If it's not, you're saying then that DCS is reflecting over and including private fields, and that you expect private fields of a type to never change?  That is not a viable constraint.

[2017-04-13 18:18] RimashMohomed commented on #12501
@mellinoe by Only building the native components in "portable" mode in suse 11, can i compile a C# program into native ?

[2017-04-13 18:27] snakefoot commented on #16782
@terrajobst Would LastChangeTime (ctime) not be better on the Linux platform, when birthtime is not available?

[2017-04-13 18:29] mellinoe commented on #12501
@RimashMohomed No, the "full product" is what you need in order to do that, and it is much more complicated than just building the native components of corefx. We have an effort to enable "build from source" which will make it much easier to do by-hand, but we are still working on that, and it won't be done for a little while. For the time being I would recommend trying the "portable Linux" versio

[2017-04-13 18:29] ViktorHofer commented on #5982
Maybe @brianrob @vancem @valenis can answer?

[2017-04-13 18:31] mellinoe commented on #18334
For reference, the one I added is here: https://github.com/dotnet/corefx/blob/master/dir.props#L107

[2017-04-13 18:31] shmao commented on #18312
@stephentoub By default, DCS does not serialize private fields. But ReadOnlyDictionary is marked with `[Serializable]` attribute, so DCS serializes it's private fields. According to [MSDN](https://msdn.microsoft.com/en-us/library/system.serializableattribute(v=vs.110).aspx),

Here's just my understanding, when a type is marked with `[Serializable]`, from serialization point of view, its private fi

[2017-04-13 18:33] stephentoub commented on #18312
[Serializable] is the binary serialization that @danmosemsft is talking about.

[2017-04-13 18:38] Lakritzator commented on #14724
@kouvel The part of indicating an error, already disqualifies IDisposable. 👍
The second reason is the cream on top, thanks for explaining.

I agree, don't use IDisposable.

[2017-04-13 18:43] tmds commented on #18328
The dotnet software collection for RHEL has it's own version of curl which is newer than the system version.
[code]

[2017-04-13 18:46] shmao commented on #18312
It seems that we decided to make DCS to support that programming model. According to [Types Supported by the Data Contract Serializer](https://msdn.microsoft.com/en-us/library/ms731923(v=vs.110).aspx),

[2017-04-13 19:03] OmarTawfik commented on #17741
@terrajobst can you please approve/comment on the latest comment here? to change the type from `ReadOnlyAttribute` to `ReadOnlyMetadataAttribute`?
I'll have to send another PR afterwards to change it.

[2017-04-13 19:04] OmarTawfik commented on #17116
@jcouv @terrajobst I'll send another PR to update the comment with the proposed usage.

[2017-04-13 19:04] stephentoub commented on #18312
Then this isn't just about ReadOnlyDictionary.  There are, last I checked, ~700 [Serializable] types in .NET Core 2.0.  When code was brought to .NET Core, all of the code was formatted to conform to coding guidelines, which included in many cases renaming fields.  Code was optimized, including removing fields.  Code was modified to fix bugs, which included adding and removing fields.  Etc.  At th

[2017-04-13 19:06] TingluoHuang commented on #18328
interesting, but i am shipping my dotnet core self-contained app to my customer, i can't ask them install the SDK in order to get latest libcurl, right?

[2017-04-13 19:10] svick commented on #2295
Not really, I just googled for XPath on `XmlDocument` and `XDocument` and found the two methods. But I do have some ideas on how the API could look.

The current state is:

[code]

There are other methods (like `XPathNavigator.Compile`) and overloads that use XPath; the three methods above should be sufficiently representative, considering it's an instance method, an extension method and a static

[2017-04-13 19:25] ViktorHofer commented on #4865
Working on enabling the tests. Already talked with David. What I noticed, some new members in coreclr don't yet have a mapping here. Need to add that.

[code]

[2017-04-13 19:27] tmds commented on #18328
This use-case is not well supported. When you create a self-contained app, the runtime that comes with your app is the one released by Microsoft for rhel on NuGet.
It is preferable to install the dotnet software collection and publish as a portable app.

[2017-04-13 19:31] tmds commented on #18328
I created an issue to better support this use-case: https://bugzilla.redhat.com/show_bug.cgi?id=1442220

[2017-04-13 19:54] karolz-ms commented on #18338
Turns out this can be reproduced super-easily, just create a .NET 2.0 console application and run the following code

[code]

Project:

[code]

[2017-04-13 20:01] karolz-ms commented on #18338
Actually the error is slightly different. This time I am getting an assembly load error for System.Net.Http, version 4.2.0.

If I change the System.Net.Http dependency to 4.2.0, I get a Nuget warning during restore:
Restoring NuGet packages...
Dependency specified was System.Net.Http (>= 4.2.0) but ended up with System.Net.Http 4.3.0.

[2017-04-13 20:04] karolz-ms commented on #18338
Also tried

[code]

That results in NuGet restore failure

C:\Program Files\dotnet\sdk\2.0.0-preview1-005783\NuGet.targets(97,5): error : Unable to resolve 'System.Net.Http (>= 4.2.0 && < 4.3.0)' for '.NETCoreApp,Version=v2.0'. [c:\code\scratch\HttpTest\HttpTest.csproj]

[2017-04-13 20:17] zhenlan commented on #18312
Let's not tie the usage of [Serializable] to binary serialization. Apparently it's used by other serializers too. It *is* the goal for DCS to keep cross framework compatibility.

Maybe it's not just about ReadOnlyDictionary, but we are pushing to fix every one we find during testing. If you think the DCS serialization of most types are already broken, we are essentially breaking the .NET Core stor

[2017-04-13 20:22] srivatsn commented on #18305
There is no non-hacky way right now. As mentioned above, we need to wait for a public VS build with the NuGet changes.

[2017-04-13 20:30] JaedsonBarbosa commented on #4278
It's now working 😄 , but it's toooooooooo slow, I've been waiting about 4 hours and still not over 😒
The only think I did to make it build was move the files from C:\Users\jaeds\Source\Repos\corefx-master to C:\Users\jaeds\Source.

[2017-04-13 20:33] krwq commented on #2295
@svick - thanks for the input

Option 1. Adding a namespace per version - you always need to create new namespace - I do not like that as any changes to XPath standard will make us add new namespace.

I'm not a fan of XPathExpression overload because the syntax will get quite annoying.
Advantage is that after you add that overload the advantage is that you only add it once per version and no need

[2017-04-13 20:37] ajcvickers commented on #16101
We have re-evaluated this based on what other teams are doing in similar "peripheral" assemblies. At this time we will consider bringing API's back where we feel that there is a real-world customer-based scenario that is broken by not having the API present. We won't do the work to bring back an API just because it is missing. However, we will be more likely to bring back an API if there is a cust

[2017-04-13 20:45] kouvel commented on #2576
I believe that is the current target, CC @AntonLapounov, @sergiy-k

[2017-04-13 20:47] karelz commented on #5982
We now have System.Configuration in 2.0, so we might do something here. The question is - how important is it for this API? (@brianrob @vancem any insight?)

@danmosemsft do you have general config usage guidance for CoreFX, esp. given the fact we now have System.Configuration?

[2017-04-13 20:48] ajcvickers commented on #4465
Marking this for triage since there is now a behavior difference between .NET Core and .NET Framework and we need to re-evaluate if this is okay given our current understanding.

[2017-04-13 20:48] karelz commented on #4865
cc @brianrob @vancem

[2017-04-13 20:52] danmosemsft commented on #5982
No I don't believe @JeremyKuhne wrote anything up on usage of S.Configuration. That would be a good idea at some future point, as it's limited over desktop of course.

[2017-04-13 20:57] karelz commented on #5982
Also technically, in .NET Core there is no app.exe.config (or machine.config), there can be only "main dll.config" (offline info form @danmosemsft).

[2017-04-13 20:57] brianrob commented on #4865
@ViktorHofer, thanks for doing this!  Can you tell me what you mean that some of the members don't have mappings here?

[2017-04-13 20:59] brianrob commented on #5982
In general, we are not expanding support for TraceSource.  However, if there is someone who is interested in contributing support for System.Configuration, I think that is OK.  Either way, this can move to Future.

[2017-04-13 21:09] karelz commented on #16782
@snakefoot what is the difference between LastWriteTime and LastChangeTime? Just reading the semantic names makes me believe it is the same ...

[2017-04-13 21:18] orthopteroid opened #18347 "ZipFile.CreateFromDirectory(...) file locked after creation. File handle leak?"
Platform: Windows 7
Symptom: zipfiles I create are not available to be moved by the os after creation until the program ends.
Analysis: When ZipFile.CreateFromDirectory(...) calls ZipFileExtensions.DoCreateEntryFromFile(archive, ...) the ZipArchiveEntry is created with the following code (~line 220):

                ZipArchiveEntry entry = compressionLevel.HasValue

[2017-04-13 21:20] snakefoot commented on #16782
@karelz Not an expert on Linux FileSystems, but LastChangeTime (ctime) usually means the file-inode-change-time, while LastWriteTime (mtime) means filecontent-modification-time. But now ready further then it seems that mtime is best, since ctime will always be updated when mtime is updated, and then also on filename- / permission-change.

[2017-04-13 21:24] mellinoe commented on #18338
I don't think you should have that package reference. Try removing it and things should work.

[2017-04-13 22:01] stephentoub commented on #18347
Can you share a repro?  This works fine for me:
[code]
I've been able to rename/delete the created zip manually and programmatically immediate after CreateFromDirectory completes.

[2017-04-13 22:27] karolz-ms commented on #18338
OK, thanks. So much for the simple repro though... Tried to be helpful and just muddied the waters  :-(

I do not have a simple repro but I am still suffering from the issue with the app that I am developing. How can I diagnose this? Is there an equivalent of fuslogvw in the Core world?

[2017-04-13 22:31] mellinoe commented on #18338
If you are using a library that relies on that package, you may just need to add a newer version of the package (not 4.3.0). .NET Core 2.0 is in a prerelease state; you will probably need to reference a prerelease version of System.Net.Http as well, in order to get the correct asset for .NET Core 2.0.

cc: @ericstj

[2017-04-13 22:36] #17611 closed

[2017-04-13 22:37] tarekgh commented on #8598
@leecow will you be able to handle this issue soon? it is marked as v2.0 and we are getting closer to the deadline. please let's know when you are going to get this done. Thanks.

[2017-04-13 22:41] terrajobst commented on #18312
This concerns me. Just because a type is marked as `[Serializable]` doesn't mean it can be successfully serialized with an arbitrary serializer...

[2017-04-13 22:42] safern commented on #18314
Yes I think we should either disable them as per the issue you pointed out mentions they have a lot of quirked behavior... but that is going to be a bottleneck as we depend on xunit TFM, we can't change that and unfortunately xunit's TFM is 4.5.1 which is pretty "old" now.

[2017-04-13 22:42] tarekgh commented on #8234
@ellismg what need to be done here? are you tracking to get any fixes soon? I am asking because this is marked as v2.0. Thanks.

[2017-04-13 22:44] tarekgh commented on #7528
@ericstj just want to make sure you are tracking this issue to fix it for v2.0.

[2017-04-13 22:46] safern commented on #15145
@CIPop @davidsh the problem where is that xunit runner's TFM is 4.5.2 ([see here](https://github.com/xunit/xunit/blob/master/src/xunit.console/App.config)) so all the quirks that are set for later versions will not so we should fix them to set the right switches values when the tests are loaded.

I will disable the tests on Desktop for now.

[2017-04-13 22:47] tarekgh commented on #9257
@DrewScoggins @valenis @brianrob when you think will get this issue done?

[2017-04-13 22:47] ellismg commented on #8234
The portable linux work ensures that we support Ubuntu 14.04 and higher (assuming the necessary prereqs are installed) and we are no longer as strict about versions of native components (e.g. we require ICU be installed, but any recent version is fine).

We don't have any plans to adopt the PPA workflow or to simplify the gestures to add the Microsoft package source to your sources.list for 2.0.

[2017-04-13 22:47] #8234 closed

[2017-04-13 22:47] stephentoub commented on #18312
If DCS is factoring in [Serializable], then I suspect DCS between Framework and Core is broken for most [Serializable] types implemented in corefx and a fair number implemented in coreclr. If that's a problem, I suggest you revert to not using [Serializable], as must have been done prior to .NET Core 2.0 when [Serializable] wasn't available. We have no plans to make [Serializable] state work relia

[2017-04-13 22:51] tarekgh commented on #11151
@weshaggard are you on track doing the audit and review? just asking as we are getting closer to deadline.

[2017-04-13 22:52] tarekgh commented on #12190
@richlander please advise when you'll have this issue done? Thanks.

[2017-04-13 22:53] brianrob commented on #9257
@DrewScoggins is out of the office, but should be able to give you a better idea on this next week.

[2017-04-13 22:53] tarekgh commented on #16441
@preetikr any update here?

[2017-04-13 22:55] tarekgh commented on #16823
@ericstj @AlexGhiondea please advise if we this work already tracked by you or there is anything need to be done here.

[2017-04-13 22:58] karolz-ms commented on #18338
OK, I was able to figure it out. One of my dependencies depends on System.Diagnostics.StackTrace 4.3.0, which depends on System.Reflection.Metadata 1.4.1, which depends on System.IO.Compression 4.3.0, which causes the problem.

I guess I will now need to find the owners of all these packages and ask for an update?

[2017-04-13 22:59] ericstj commented on #18338
You don't need a package reference to use either of these in NETCoreApp2.0.  They are part of the framework.  All you do by refrencing those older packages is excercise our conflict-resolution feature that will remove them from the app.

If there is any version mismatch it could indicate a problem with conflict resolution.  @dsplaisted just [fixed](https://github.com/dotnet/sdk/commit/aa0f30e4c4ee

[2017-04-13 23:01] ericstj commented on #18338
That shouldn't be a problem.  Please see my last response.  I suspect this is related to conflict-resolution.

[2017-04-13 23:03] danmosemsft commented on #18312
@weshaggard

[2017-04-13 23:08] stephentoub opened #18352 "Modules_GetMultipleTimes_ReturnsSameInstance test failed in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/6248/consoleText
[code]
cc: @hughbe, @danmosemsft

[2017-04-13 23:09] krwq commented on #17220
Ok, I will stop working on this right now since I have spent too much on this and not getting too much progress.

One of the suspects was that constant used in the lambda which is run on the remote thread was not propagated correctly (WaitInMS) - after hardcoding value in all of the places it was still failing.

My current suspect is that WaitForExit is not working correctly and prematurely kills

[2017-04-13 23:10] weshaggard commented on #17611
@ericstj do you think we should keep this issue around as a forcing function to audit the other packages? Or do you feel that will get covered by our other auditing issues?

[2017-04-13 23:12] zhenlan commented on #17579
This was fixed by #17615.

[2017-04-13 23:12] #17579 closed

[2017-04-13 23:13] weshaggard commented on #11151
This is something I generally do incrementally as I review other changes but as we get closer to the release I will take a deeper dive into the dependencies to see if there is anything we should fix.

[2017-04-13 23:14] ericstj commented on #16823
It's not clear to me what this issue is even asking to do.  We can't "not ship" implementation assemblies that fill in types/members that are already part of a previous netstandard version.  That'd be a breaking change.  You can see the superset of these assemblies with https://github.com/dotnet/corefx/search?p=2&q=IsNetFxNetstandard&type=&utf8=%E2%9C%93.

[2017-04-13 23:16] #18088 closed

[2017-04-13 23:16] zhenlan commented on #17582
@shmao Any updates on this?

[2017-04-13 23:19] tarekgh commented on #16823
@karelz could you please clarify the ask?

[2017-04-13 23:19] danmosemsft commented on #18352
[EnumProcessModules ](https://msdn.microsoft.com/en-us/library/windows/desktop/ms682631(v=vs.85).aspx) says `If this function is called from a 32-bit application running on WOW64, it can only enumerate the modules of a 32-bit process. If the process is a 64-bit process, this function fails and the last error code is ERROR_PARTIAL_COPY (299).`

The code attempts to prevent that case upstream of Enu

[2017-04-13 23:19] zhenlan opened #18354 "Area-Serialization Sprint 117"
The issue is for tracking issues to be done in sprint 117 (due by 5/5/2017)

[2017-04-13 23:23] ericstj commented on #17611
I don't assume that this is even a comprehensive list.  I expect to get explicit sign-off at the time we mark things stable that folks want to ship them as stable.  I'm only doing this proactively if folks want to volunteer that information now and I'll record it.

Please let me know if you have specific packages you want to mark now and I'll do it.

[2017-04-13 23:25] karolz-ms commented on #18338
Yes, I think that is it-- the published output seems to work. For reference, here is a better repro, reflecting the problem with the original app. It consists of two projects: a library and an "exe"

Library
[code]

[code]

Exe

[code]

[code]

When can I expect Daniel's fix to be available in .NET builds?

[2017-04-13 23:27] ericstj commented on #7528
Yeah I'm reviewing this.  I actually think I'll roll this into another issue.

[2017-04-13 23:27] #7528 closed

[2017-04-13 23:28] ericstj commented on #17914
Also during review I plan to address #7528 by filling in not-supported implementations for any contract that has a netstandard ref but no netstandard lib, and we agree that it should stay that way.

[2017-04-13 23:29] ericstj commented on #18160
I'm rolling this into #17914

[2017-04-13 23:29] #18160 closed

[2017-04-13 23:35] mellinoe commented on #3942
We do have the commit SHA in an `[AssemblyVersionAttribute]`, so I think that's good enough? We've had it for a long time; we probably just never closed this.

[2017-04-13 23:39] Priya91 commented on #16259
Thanks @stephentoub will try it out.

[2017-04-13 23:44] karelz commented on #16823
Since I created this issue, I learned a lot more about the topic (thanks for @ericstj and @weshaggard for their patience explaining more and more details to me).
While I still don't know everything (it is truly rocket science), I think I am comfortable with this plan:
1. All facades and partial facades can keep shipping -- they are additive things and don't replace anything in Desktop.
    * Syste

[2017-04-13 23:44] #16823 closed

[2017-04-13 23:46] karelz commented on #16804
This is partial facade, which does not replace anything in Desktop, it's additive API surface. See more details in https://github.com/dotnet/corefx/issues/16823#issuecomment-294049194

We can close it, no work is required.

[2017-04-13 23:46] #16804 closed

[2017-04-13 23:48] Priya91 commented on #18125
From the exception, it looks like the ping output, didn't have the expected output. This is unexpected, will have to login to the CI machine to investigate.

[2017-04-13 23:52] orthopteroid commented on #18347
Many thanks for your excellent example. I'm unable to share the code, but if I can cook my scenario up into something illustrative I'll repo it and reply here.

[2017-04-13 23:53] zhenlan commented on #18273
@Jiayili1 please add this to this test:
[code]
then you can close this issue.

[2017-04-14 00:00] zhenlan commented on #16697
We would add tests in the test project for Sgen later.

[2017-04-14 00:00] #16697 closed

[2017-04-14 00:17] shmao commented on #17582
This has already been done. We've started porting tests from Desktop to NetCore. Here're a couple of PRs,

https://github.com/dotnet/corefx/pull/18061
https://github.com/dotnet/corefx/pull/17771

Closing the issue.

[2017-04-14 00:17] #17582 closed

[2017-04-14 00:31] karelz commented on #16697
@zhenlan do you want to file a new issue or just move this one to Future?

[2017-04-14 00:33] slang25 commented on #8931
@stephentoub I assume you are missing a usage of `target` in there like:
[code]

[2017-04-14 00:33] zhenlan commented on #18312
Regardless whether [Serializable] is added in .NET Core, it won't change the requirement for the types that need to be serializable and compatible cross framework for DCS. The [Serializable] is present on ReadOnlyDictionary in full Framework, so the "serialization contract" for this type is already defined.

I know we may not like it. We can say .NET Core is new and cool and let it break from the

[2017-04-14 00:36] zhenlan commented on #16697
We will file new issues. This one was only meant for ad-hoc testing. Next, we will add automated tests.

[2017-04-14 00:37] karelz commented on #16697
Cool, thanks!

[2017-04-14 00:49] IllidanS4 commented on #14021
Provided _TypedReference_ gets all the features C# already has with the undocumented keywords, it would be the most feasible way to pass around a simple reference to a field, without having to care about its type. Typed references can already be passed around as safely as normal typed references. Copying the value to an already-boxed instance sounds interesting, but I'd like to point out that ECMA

[2017-04-14 00:49] shaggygi opened #18357 "[Question/Proposal] Immutable Parent Child API"
This is a question (or possibly a proposal of new feature) to have the ability to manage immutable parent/child(ren) hierarchies efficiently with .NET Standard.  I've searched various sites, blogs and the topic appears to be somewhat complex... at least from my country bumpkin perspective 😄

I came across the @AArnott  and @terrajobst [video/blog](https://blogs.msdn.microsoft.com/dotnet/2013/09/25

[2017-04-14 00:59] stephentoub commented on #8931
Yup, was typing too quickly. Thanks.

[2017-04-14 01:40] hughbe commented on #18352
This could be a race condition?
The current test is:

[code]

This accesses the inherited field `_process` that's shared with other tests.

Maybe this could work? This test has never failed for me on my PC so I can't check :/
[code]

There's a comment:
[code]

Could this be related? The key part is *copy part of the data*. The error message even says: *Only part of a ReadProcessMemory or WriteProc

[2017-04-14 01:41] VSadov commented on #18292
I think the directive should be added to the rd.xml of Microsoft.CSharp instead.
Microsoft.CSharp does use this type dynamically in
https://github.com/dotnet/corefx/blob/23a1e8c7cd760602b11666e43c5c43539cccc82f/src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/BinderHelper.cs#L139

[2017-04-14 01:58] hughbe commented on #4481
@karelz can you unassign me from this?

[2017-04-14 02:06] hughbe opened #18360 "[Netfx bug] CustomValidationAttribute doesn't properly implement RequiresValidationContext"
Requested by @ajcvickers. We should mark this as netfx-port-consider and close this issue.

See https://github.com/dotnet/corefx/pull/5203, which fixed this.

[code]

[2017-04-14 02:09] hughbe opened #18361 "[Netfx bug] MaxLengthAttribute and MinLengthAttribute don't support ICollection.Count"
Issue requested by @ajcvickers. We should tag this one as netfx-port-consider and close it.

The following code throws an InvalidCastException . .NET Core added support for this feature. See https://github.com/dotnet/corefx/pull/2650

[code]

[2017-04-14 02:10] AArnott commented on #18357
This sounds like what is available via the [ImmutableObjectGraph](https://github.com/AArnott/ImmutableObjectGraph), which I introduce in [this blog post](https://blogs.msdn.microsoft.com/andrewarnottms/2013/01/08/simple-immutable-objects/).

Does that sound like it captures what you're going for?

[2017-04-14 02:11] hughbe commented on #17873
Sure - it's just a bit odd as I thought the .NET framework already had this hotfix so would have the same behaviour as .NET core. Let's close this then as by-design?

[2017-04-14 02:34] Jiayili1 commented on #18274
#18363

[2017-04-14 02:52] karelz commented on #4481
Done, unassigned also @lajones as it seems to be up-for-grabs ...

[2017-04-14 06:09] Jiayili1 commented on #16961
This issue is repro on build 20170414.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170414.01/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.SetEnvironmentVariable~2FModifyEnvironmentVariable_AndEnumerate(target:%20Process)

[2017-04-14 06:16] Jiayili1 commented on #18057
This issue is repro on UWP F5 tests in build 20170414.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170414.01/workItem/System.Text.RegularExpressions.Tests/analysis/xunit/System.Text.RegularExpressions.Tests.RegexMatchTests~2FMatch_SpecialUnicodeCharacters

[2017-04-14 07:09] dotnet-mc-bot opened #18369 "Test: System.IO.Tests.WaitForChangedTests/Changed_Success failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.WaitForChangedTests/Changed_Success` has failed.

Assert.Equal() Failure\r
    Expected: Changed\r
    Actual:   0

        Stack Trace:

           at System.IO.Tests.WaitForChangedTests.Changed_Success()
Build : Master - 20170414.01 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64
  - x64-Release

Detail: https://mc.dot.net/#/prod

[2017-04-14 07:11] Jiayili1 commented on #18369
#13304

[2017-04-14 07:17] Jiayili1 commented on #17984
This issue is repro on UWP F5 tests in build 20170414.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170414.01/workItem/System.IO.FileSystem.Watcher.Tests/analysis/xunit/System.IO.Tests.Directory_NotifyFilter_Tests~2FFileSystemWatcher_Directory_NotifyFilter_Security(filter:%20Attributes)

[2017-04-14 07:40] Jiayili1 commented on #18313
#18370

[2017-04-14 07:49] Jiayili1 commented on #18273
#18371

[2017-04-14 07:58] Jiayili1 commented on #1050
#18372 Leave a comment

[2017-04-14 08:10] stone-li opened #18373 "DataContractJsonSerializerTests.DCJS_VerifyDictionaryFormat test failed in CI"
DataContractJsonSerializerTests.DCJS_VerifyDictionaryFormat [FAIL]

### Message:
[code]

### STACK TRACE:
at DataContractJsonSerializerTests.SerializeAndDeserialize[T](T value, String baseline, DataContractJsonSerializerSettings settings, Func`1 serializerFactory, Boolean skipStringCompare) in D:\j\workspace\windows_nt_re---37265eab\src\System.Runtime.Serialization.Json\tests\DataContractJsonSeria

[2017-04-14 10:23] ViktorHofer commented on #4865
The package System.Diagnostics.Tracing is currently target netstandard. Unfortunately these types which I posted above aren't yet in netstandard. I'm not sure if this is intentionally or just left out? @weshaggard Therefore I can't activate the tests as long as they are not coming into netstandard or we change the package targeting.

[2017-04-14 10:53] ViktorHofer commented on #4864
@karelz we have some disabled tests in corefx which refer to this issue (https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/Harness/Listeners.cs#L122), therefore I wouldn't close it but set the milestone to future.

[2017-04-14 10:56] stephentoub opened #18376 "HttpListener Read_FullLengthAsynchronous_Success test failed in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/6278/consoleText
[code]

[2017-04-14 10:57] stephentoub commented on #18352
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/6276/
[code]

[2017-04-14 11:04] madelson commented on #18277
The fact that the isolation level change goes on to pollute the connection pool makes the much more worrisome. However, even on a single connection we can see weird behavior where the transaction isolation level leaks out of the transaction scope:

[code]

[2017-04-14 11:08] ViktorHofer commented on #4873
@karelz I looked into that issue and @davmason is right there aren't any test cases for that. Unfortunately the tests are pretty hard to read and understand. I failed in my first attempt. Maybe @brianrob or @davmason can support?

[2017-04-14 11:14] ViktorHofer commented on #7459
@karelz it's this one: https://msdn.microsoft.com/en-us/library/kesbe27x(v=vs.110).aspx

[2017-04-14 11:44] ViktorHofer commented on #8104
@chcosta @saurabh500 @karelz Is the issue still present? I don't see any dependency on sni.dll

[2017-04-14 11:49] ViktorHofer commented on #8188
@saurabh500 @YoungGah It seems we still haven't ported them to corefx. Any reason why? I see them supported in Xamarin and Desktop: https://apisof.net/catalog/System.Data.SqlClient.SqlDependency

[2017-04-14 11:53] shaggygi commented on #18357
@AArnott Thanks for reply/reference.  ImmutableObjectGraph seems interesting, but appears to have some overhead in project to generate other code.  Plus, I did a quick NuGet reference in a WPF app and could not build (without adding any code).

    The error... "Error The "GenerateCodeFromAttributes" task failed unexpectedly."

While I don't know how an ideal Immutable parent/child API would look